[2015-03-08 20:28] purpleidea opened #11241 "Docker pull doesn't run nicely in a virt-builder environment"
It's a bit tricky to get docker pull to run nicely in a virt-builder environment. For a single one shot pull command it would be nice to not require a daemon, or have it startup, run a command, and then exit.

If someone with some knowledge of the docker daemon internals could look at the upstream virt-builder bug and provide some recommendations going forward, this would be great.

https://bugzil

[2015-03-08 20:30] purpleidea commented on #11241
In particular, see comment 4:

https://bugzilla.redhat.com/show_bug.cgi?id=1195881#c4

Suggesting that there could be a daemon bug and why.

[2015-03-08 20:30] rkulla commented on #5938
I'm also having this issue with client 1.4.1. Can't docker kill, rm, or even rm -f it. It happened after I 'docker attach'd succesfully and tried to 'exit' (which hung). Now I can't even reattach or kill it.

$ docker info
Containers: 13
Images: 198
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Dirs: 224
Execution Driver: native-0.2
Kernel Version: 3.13.0-44-generic
Operating System: Ubunt

[2015-03-08 20:35] duglin commented on #4783
@tiborvass there's also: https://docs.docker.com/reference/builder/#environment-replacement
IMO any confusion that might be there are when people expect it to act like it does on the shell, but sometimes doesn't, but we're getting closer. Its when we don't do what people expect, like substituting on the JSON form, that I think will confuse people - but I have a personal dislike for that form  :-)

[2015-03-08 21:40] temoto commented on #10348
:+1: `--pid host` trick won't help on CoreOS which has no debugging tools on host.

[2015-03-08 21:52] neilellis commented on #7127
+1

[2015-03-08 22:04] dreamcat4 commented on #5938
It happens because the command `docker stop` only sends a `TERM` signal to the launched process e.g. the `entrypoint` command (or whatever replaces it).

For example: If you use `#!/bin/sh` - then that launches the `dash` shell in most distros. Well it turns out that any subshell in `dash` e.g. with back ticks `\`\`` or `$()` or pipe `|` creates a non-child (=orphaned) process.

Other spawned proc

[2015-03-08 22:36] WhisperingChaos commented on #8660
The reply below responds to @erikh concerns and provides an example which contrasts this proposal's promotion of the 'Function Idiom' to another solution called 'Nested Build' #7149 in an effort to more concretely demonstrate the technical merits of the Function Idiom proposal.

Without feedback explaining Docker's notion of “extremely declarative”, a concept called 'declarative benefit' is define

[2015-03-08 22:58] korya opened #11243 "Postgres contianer becomes a zombie after being terminated with `pg_ctl stop`"
### Description of problem:
I'm running postgres using the official docker image `postgres`. After I try to stop the running container using `pg_ctl stop`, the container becomes a zombie: I can see it `docker ps` but I cannot remove it using `docker rm`.

### `docker version`:
Client version: 1.4.1
Client API version: 1.16
Go version (client): go1.3.3
Git commit (client): 5bc2ff8
OS/Arch (client):

[2015-03-08 23:18] wyaeld commented on #5938
devils advocate viewpoint: why should it be dockers problem that users run
complex multi-process setups inside a container.  There are plenty of
lightweight task supervisors that can handle that, and they all have
different tradeoffs, so any choice on task management design by the core
docker team is likely to frustrate people.

There are plenty of lightweight task managers like runit and s6 that

[2015-03-08 23:21] cyphar commented on #5938
@dreamcat4 I can't help thinking that trying to kill all processes in a namespace would be racy. If you read the whole task list of the namespace and then kill each one, what happens if a new task starts between reading the task list and killing all the tasks? If you read each entry and then kill it immediately, how do you know that changes would appear after your cursor?

[2015-03-08 23:34] moxiegirl commented on #11182
@thaJeztah let's close this for now. We are in the process of standardizing the installation documentation and this shortly shouldn't be a problem. Thank you for your help clarifying the situation.

[2015-03-08 23:34] #11182 closed

[2015-03-09 01:19] x1022as commented on #11170
@phemmer
`'Logrus has major design issues, especially when it comes to the hooks system. Using its hook capabilities inside a production application, such as Docker, would be a bad idea.'`
Thks, I am not aware of this. And, yes, I'd like syslog support as logging extension.

[2015-03-09 01:50] #2786 closed

[2015-03-09 01:52] cpuguy83 commented on #11243
Hi, please try on Docker 1.5.0.
I'm pretty sure this is resolved there.
Closing since this should already be resolved, but if it's still an issue please post here.

Also note, you should use the `docker stop` or `docker kill -s <sig>` command to stop the foreground process of a container and not do this through `docker exec`

[2015-03-09 01:52] #11243 closed

[2015-03-09 01:54] cpuguy83 commented on #11220
Hi, Docker 1.5 has a host `/etc/resolv.conf` watcher which automatically updates containers' `/etc/resolv.conf` files.

[2015-03-09 01:54] #11220 closed

[2015-03-09 02:31] korya commented on #11243
Yes, I understand that using `docker stop` or `docker exec` is the best way to go.
But the scenario described here is definitely a bug. That's why I've reported it.

I'll try to reproduce with docker 1.5 once it is released.

[2015-03-09 02:33] mitchcapper opened #11246 "Proposal: Default file permissions for when they don't exist (or are defaulted)"
Recently I noticed a number of Dockerfiles I had broke, and in tracking it down it seems the recently file permission defaults have been changed (primarily around windows users).

I would purpose default file permissions when permissions are unknown (or too promiscuous if wanting to handle other bad actors) would be 644 or 755.

This is primarily talked about in issue #11047 and pull request #1114

[2015-03-09 03:17] SamYaple commented on #10163
This would open up a whole realm of possibilities, including a debug container with a bunch of tools. That would prevent them from being needed in every single container. That would be nice.

[2015-03-09 03:59] mitchcapper commented on #11246
For an example dockerfiles like:
redis: https://github.com/docker-library/redis/blob/062335e0a8d20cab2041f25dfff2fbaf58544471/2.8/Dockerfile
registry: https://github.com/docker/docker-registry/blob/0.9.1/Dockerfile
go: https://github.com/docker-library/golang/blob/1a422afd7db928a821e97906ed27ed606e2f072a/1.3/Dockerfile
Jenkins: https://github.com/cloudbees/jenkins-ci.org-docker/blob/f313389f8ab728

[2015-03-09 04:13] dhbaird opened #11247 "Enhance --link to connect to host's networks, and rewire ports"
In #1143, @altaurog proposed a `--link-host` option, which I'd like to resurrect for consideration, to link to host ports, with port number rewiring. At the moment, Ambassador provides this ability, but requires forwarding through a proxy (socat). Here's an example concept for --link-host:

[code]

There is an alternative practice of using `--add-host=alias:$(hostip)`, but this practice doesn't ad

[2015-03-09 07:23] dreamcat4 commented on #5938
@wyaeld Because the example given was not "complex", it was a very simple `#!/bin/sh` shell script. It was not concocted in any way - this is something that has happened to me in real life, while trying to use docker in it's intended fashion.

@cyphar That is a good point. A way to get around such issues would be implement as a `--force` flag.

[2015-03-09 07:58] hansgru commented on #7127
+1
with VMWare we use allot of snapshots and it's an extremely useful feature.

[2015-03-09 08:23] kuhnroyal commented on #9315
@dmp42 I was experiencing this issue when using a docker-maven-plugin. The registry was secured with BASIC auth and some request to the registry did not add the authentication information.
Like I said, the error did not make it clear that it was an authentication problem but in the end it was.

[2015-03-09 08:48] schmunk42 opened #11249 "Proposal: docker ps output templates"
In many cases I'd need a slightly different output for `docker ps` and I'd like to do that with some kind of template...

eg. current output
[code]

with `--template=custom`
[code]

[2015-03-09 09:04] jcercurati commented on #7198
+1

[2015-03-09 09:52] joedborg commented on #11135
Luckilly, I kept my terminal window open.  Here, it was trying to delete /var/lib/docker.  Doesn't seem to do this with dnf on workstation (this is yum on server).

[code]

[2015-03-09 09:54] thaJeztah commented on #11249
Perhaps something like `docker ps --format="{{ go template}}"`?

[2015-03-09 11:20] xaibeha opened #11250 "Your APT repo's Docker on Ubuntu fails to build; identical spec works on boot2docker/Mac."
(Software versions follow at the end.)

# Problem

When doing a `docker build --no-cache  -t productname:latest .` on Ubuntu:

[code]

Note that it complains that it can't resolve a path name as a host.

Whereas, on Mac:

[code]

And so on, as expected.

# Relevant Inputs

## /etc/apt/sources.list.d/docker.list

[code]

## Dockerfile

[code]

## requirements.txt

[code]

# Sofware Versions

## Ubu

[2015-03-09 12:24] cpuguy83 commented on #11243
@korya Docker 1.5 has been out for a few weeks now :)

[2015-03-09 12:51] x1022as opened #11252 "Problem caused by old vendor/src/xxx version"
Hi, how often do docker update its vendor/src/xxx?
Recently, I am doing some further developing on logrus, and things go wrong because of the old version of vendor/src/github.com/Sirupsen/logrus. So can docker update logrus and other third-party applications? Thanks!
@tianon , @unclejack , @tiborvass , @jpetazzo

[2015-03-09 14:13] tiborvass commented on #11252
@x1022as What is the issue you're having with logrus?

[2015-03-09 14:49] zuoyue opened #11255 "Why port env vars for link is being deprecated?"
We have been using only the standard env vars to connect containers across hosts without ambassador. For example, we could create a mysql container on one host and expose its 3306 port to random public port and create a wordpress container on another host and get the mysql address and port via MYSQL_PORT_3306_TCP. It was very convenient without using an ambassador. The mysql container could be fur

[2015-03-09 15:00] pilt commented on #9922
If you're letting nginx handle basic auth, you can add something like this to your `nginx.conf` to make `docker search REGISTRY_ADDR/foo` work (allows anonymous users to search):

[code]

[2015-03-09 15:21] cpuguy83 commented on #11255
@zuoyue First, nothing has been deprecated.

In general we are looking at better methods of service discovery, and env vars are really terrible for this, especially how they are implemented with links.
... for instance, you have to know that you want port 3306 in order to consume the value of that port, which is always 3306.

If you are using a container you should use a standard port, because the

[2015-03-09 15:21] #11255 closed

[2015-03-09 15:24] alvin664 commented on #3359
Hi albers,

Tried to use your approach in Dockerfile:

RUN sudo echo America/New_York > /etc/timezone && sudo dpkg-reconfigure --frontend noninteractive tzdata

But got error: cannot create /etc/timezone: Permission denied

How did you solve this problem?

[2015-03-09 15:41] zuoyue commented on #11255
Sorry I have to reply again just to clarify couple things: 1) In our scenario, we assigned an arbitrary port to MYSQL_PORT_3306_TCP based on its placement and its value is not 3306 any more. 2) I understand a docker container has its own network stack, but it doesn't mean it always has its own globally unique IPs, so standard port may not work in lots of scenarios.

I am glad to know that it has n

[2015-03-09 15:49] cpuguy83 commented on #11169
@cthakar You can set the as a daemon flag.
[code]

Did you need something other than this?

[2015-03-09 15:55] ajauch commented on #11020
Two questions/comments:

1)  Why are you asking the user to specify the --dvol-provider?  Doesn't that break the platform agnostic nature of the current CLI?  It seems that this would require the user to understand what underlying platform provider they are using.  I would prefer a new CLI command that allows admins to configure the providers and map them to volumes.  Think about the way Cinder wo

[2015-03-09 15:56] cpuguy83 commented on #11255
@zuoyue #9983

[2015-03-09 16:28] moxiegirl opened #11259 "Add a docs team to the Docker organization"
@docker/owners Ben suggested adding a docs organziation to docker.  Looks like a majority of docs folks approve (over email). Members are:

@spf13
@fredlf
@SvenDowideit
@jamtur01

and myself as well please.

[2015-03-09 16:33] shishir-a412ed commented on #10592
@richardcrichardc I would open a pull request and start a discussion.
by 'breaking change' if you mean it's broken, you would need to fix that to get the attention of the maintainers.

Jenkins should run successfully for them to take a look.

Shishir

[2015-03-09 16:51] estesp commented on #7906
See PR #11253 for the user-facing proposal.  I can't confirm that all components will make it for 1.6, but work is ongoing.  The most important is to have the libcontainer version that has the support in the Docker vendor tree, and that PR (to update libcontainer in `vendor/` and use the new libcontainer API) is going through review at the moment.

[2015-03-09 16:51] #10805 closed

[2015-03-09 17:17] korya commented on #11243
These are great news! :)

I've just upgraded to 1.5 on my Ubuntu machine, and tried to reproduce the bug. Indeed it was fixed.
Now, I can even restart the container after it was `pg_ctl stop`-ed.

[2015-03-09 18:05] syncomm commented on #7198
+1

This is something that would be extremely useful for shared volumes through docker, and addresses a security concern I have:

* Shared volumes where the container uid and gid accidentally map to a privileged non-root user on the host. (ex. the files created by the container on the host are mapping to a user which can sudo w/o passwd, access otherwise restricted content, etc.)

Fixing this woul

[2015-03-09 18:28] alvin664 commented on #3359
Never mind. I had to add "USER root" before setting the timezone. And it is working afterward.

[2015-03-09 18:32] albers commented on #3359
I already suspected this because you `sudo`ed the commands. Sorry, but I could no respond earlier. Glad to hear the issue is solved.

[2015-03-09 18:48] anentropic opened #11261 "Proposal: extend --volumes-from to allow aliasing"
If, for example, I have two web app containers each exposing a volume like `/var/www/static`

...I can't currently do `--volumes-from` these on my web server container as the paths conflict

It needs a way to alias the imported volumes, like how it's possible to specify `HOST_PATH:CONTAINER_PATH` when defining a volume

one might also want to import only a specific volume, rather than all volumes

[2015-03-09 18:59] evgeny-goldin commented on #7336
:+1: , definitely

[2015-03-09 19:46] thaJeztah commented on #11259
Out of interest; is this purely an internal change, or does it bring changes to the way things work for the project; what is the different between an "organization" and the current ["subsystem"](https://github.com/docker/docker/blob/master/MAINTAINERS#L401)?

[2015-03-09 19:48] fredlf commented on #11259
@thaJeztah It changes nothing other than creating the equivalent of a mailing list.

[2015-03-09 19:50] richardcrichardc commented on #10592
@shishir-a412ed thanks for the advice.

By 'breaking change' I mean it changes the interface, which will potentially break clients. I am being cautious here, it extends the behaviour.

[2015-03-09 19:51] thaJeztah commented on #11261
Perhaps a "base-dir"/"prefix", e.g. `--volumes-from=some-container:/some/path`, which will mount all volumes from `some-container` inside the `/some/path` directory in the container.

[2015-03-09 19:53] shishir-a412ed commented on #10592
@richardcrichardc okay got it :)
I would say discuss on the docker-dev channel about your implementation strategy, before making major changes.

[2015-03-09 19:54] thaJeztah commented on #11259
@fredlf :smile: thanks for explaining!

[2015-03-09 20:09] rmurthy commented on #4036
I ran into this problem on SLES 12 box but could not got go beyond it using any of the mentioned approaches.

I could get over it by running 'umount' on the mapped device each time the issue occurred. Not a great solution but could move ahead without wasting much time on this issue.

umount /var/lib/docker/devicemapper/mnt/60420bd54729a8ed7b0ec066889b8bb3a3c2fdabfbb38b90ca2520862bf3672d

Might hel

[2015-03-09 20:29] cpuguy83 commented on #7198
@syncomm I would take the exact opposite approach.
Docker cannot make assumptions about the ownership of your data.

The approach you highlight at the bottom of your comment would be doable if we were to automagically map these real files to a fuse-based fs where we can change uids/gids... and this would incur a significant performance impact.

And soon uid 0 in the container will not be uid 0 on

[2015-03-09 20:31] #10744 closed

[2015-03-09 20:32] cpuguy83 commented on #10744
Closed since we don't have a reproducible case.
If you can provide a way for us to reproduce (exact steps... like Dockerfile + docker run commands) would be fantastic.

Thanks for the report!

[2015-03-09 20:33] ahmetalpbalkan opened #11262 "Remote API version mismatch shouldn't be an HTTP 404"
(Low priority issue)
https://github.com/docker/docker/blob/2a8a2d24285b40cf450f10dcb174dbef50e276ad/api/server/server.go#L1268

Currently we return `HTTP 404` if client's remote API version is `>` server's remote API version. I think we can find a better status code to explain this (even BadRequest, PreconditionFailed, NotAcceptable are better than NotFound)

[2015-03-09 20:33] vbatts commented on #4036
@hqhq This issue is now so verbose, that discoveries are being lost in the comments.

Ubuntu 14.04 versions of udev (204 2013-05-09) and libdevmapper (1.02.1, which was released 2005-03-29) are fairly old. The sync may not be supported.

[2015-03-09 20:37] vbatts commented on #10705
I just commented on this over here --> https://github.com/docker/docker/issues/4036#issuecomment-77936174

The udev <--> libdevmapper logic is fairly recent in the life of the two projects.

[2015-03-09 20:37] cpuguy83 commented on #11261
You can bind-mount the volume path from 1 container into another.

I think the desire is to not overload `--volumes-from` and instead provide a higher-level volume management where you can just import the volume you want.

See #8484

[2015-03-09 20:37] #11261 closed

[2015-03-09 21:19] featheredtoast commented on #9832
Hey, I'm running latest release Docker version 1.5.0, build a8a31ef. Just hit this last week.

docker ps shows the port exposed, but when I look at iptables, the port is not exposed there.

The port is NOT exposed in the dockerfile. When the port IS exposed in the dockerfile, the iptables rule is updated as expected.

The docs suggest that I do not need the EXPOSE directive in the Dockerfile. Furt

[2015-03-09 21:27] vbatts commented on #5684
after reviewing this again, this is not an ideal example of the `EBUSY` that we had originally said.
This case has more to do with the pids of a container not handling signals gracefully.

Since the reproduction case here `tail -f /dev/null` is not exiting on `SIGQUIT` when the daemon exits, then the devmapper driver can not teardown properly (this is not exclusive to devmapper). Before the daemon

[2015-03-09 21:30] mlehner616 commented on #7336
:+1:

[2015-03-09 21:34] mgcrea commented on #6743
My alternative to address this has been to use `docker-gen` to regenerate on the fly the /etc/hosts of my host, providing avahi-like hostnames `my-container-name.docker`.

[2015-03-09 21:36] md5 commented on #7198
Is this a duplicate of #2259?

[2015-03-09 21:49] syncomm commented on #7198
@cpuguy83 Thanks for the feedback, although I'm not sure what you mean by the exact opposite approach. Cloud you explain? I would agree that the ownership of data shouldn't have to be assumed by docker, but I believe providing a consistent mapping from container to host certainly makes the job of policing this data a lot easier for docker consumers.

I agree, that like the bindfs workaround, makin

[2015-03-09 21:50] RickWieman commented on #11262
I agree.
It would be a one-line code change though (if we agree on something, I can open a PR for that :blush: )

[2015-03-09 22:32] funkymonkeymonk commented on #9798
I would agree this was a regression. This just caused a large number of breaks in our CI environment where tagging the latest successful build "green" now requires an additional argument.

[2015-03-09 23:10] davewv31 opened #11266 "Problem with COPY and a single line file without a newline terminator"
I'm attempting to use COPY, and I think I ran a problem when using it. It's fairly strange.

I created 4 different files. The problem I'm having is with singleline_nocr_intellijosx.txt. It's as it sounds - create a one line file, in IntelliJ, on OSX, without putting an explicit carriage return at the end.

Portion of my Dockerfile
`COPY . /tmp/xx`

On  my host system:

    $ wc *line*
     2  3 35

[2015-03-09 23:21] duglin commented on #11266
hmm can't seem to reproduce this.  Can you share your no-cr file with me?

[2015-03-09 23:46] moltar commented on #9878
This is definitely a big one for clean up. There is otherwise no way to do clean up operations when you are running multiple things on the same host and too much cruft builds up quickly when continuously deploying things.

[2015-03-10 00:37] cpuguy83 commented on #7198
@syncomm Unfortunately, not too my knowledge, not without wrapping them in some other kind of filesystem that can be mounted with uid/gid settings.

[2015-03-10 00:43] rbrutgers opened #11270 "Docker hub build stuck in pending state"
Our dockerfiles are on Dockerhub, where we were able to build them automatically when a change was pushed to gihub, using a webhook on github.  However, our docker hub builds are stuck in a pending state.  Haven't found much documentation on this issue.  How can we go about troubleshooting this issue?  Thanks.

[2015-03-10 01:03] x1022as commented on #11252
I am using logrus syslog hook for some practical trial, and logrus fails to transfer these logs to socket, latest logrus will do.
The issue I met is not the point, I just think new version of third-party application may be better.

[2015-03-10 01:26] cpuguy83 commented on #11270
Closing since this is not a Docker issue
Please send all DockerHub questions to support@docker.com

As a note, the automated build system was taken down earlier today to investigate if the Hub was vulnerable to a recently disclosed hardware-based security vulnerability called "RowHammer".
See also status.docker.com.

[2015-03-10 01:26] #11270 closed

[2015-03-10 01:40] orzel commented on #11184
update : i got a third system with same configuration and same errors. I tried using kernel 3.19.1, but this doesn't solve the problem. Reminder : some other servers work well, with (it seems to me) the same software stack.

[2015-03-10 01:54] mcandre commented on #11220
I'm using Docker 1.5 and boot2docker 1.5, and somehow this problem still happens on my machine (MacBook Pro mid-2014).

[2015-03-10 01:55] bketelsen commented on #8660
Best proposal ever.  You win the Internet.

[2015-03-10 02:05] hqhq commented on #4036
That's sad, I see so many reports from Ubuntu 14.04 and Ubuntu 14.04.1, anyone worked this around? Like how can we update udev on Ubuntu 14.04?

[2015-03-10 02:22] IPvFletch commented on #9525
Wewt, thanks guys!

[2015-03-10 02:31] jerrykan opened #11275 "Docker requires access to registry-1.docker.io when using registry mirror"
I have set up a number of internal docker hosts that do not have access to the outside world but are configured using `--registry-mirror` to point to an internal registry.

Performing a docker pull `<image>` results in the following error

    Get https://index.docker.io/v1/repositories/library/<image>/images: dial tcp 162.242.195.84:443: connection refused

It seems as though docker is attempting

[2015-03-10 02:31] HuKeping opened #11276 "about to verify .dockercfg permission."
Docker will save the config file with permission 0600.

If someone has changed the permission say, 777, it is available for other users. The issue would lead to a secure risk.

should we check for this?

[2015-03-10 03:13] dmp42 commented on #11275
v1 mirroring does indeed require access to the index unfortunately.
Since v1 is in maintenance now, it's unlikely it will be fixed.

The new v2 protocol (see https://github.com/docker/distribution) should feature a better protocol, with no need for direct net access.

[2015-03-10 03:41] dmp42 commented on #11220
@mcandre Then this is a boot2docker (or even a vagrant bug).
Reporting your configuration and b2d versions over there will definitely help them.

[2015-03-10 04:37] inatatsu commented on #9207
A static binary built with GCCGO has to dynamically link GLIBC to avoid [potential segmentation fault at DNS lookup](https://sourceware.org/bugzilla/show_bug.cgi?id=10652), since [GCCGO cannot enable the "netgo" build tag](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=63731#c28).

[2015-03-10 04:57] deevus commented on #10922
@denverdino That is the solution!

Thank you :)

[2015-03-10 05:43] HuKeping commented on #4036
ubuntu 14.04 + 1 for this :(

[2015-03-10 07:47] anentropic commented on #11261
@cpuguy83  ok I think what I need is all covered in #8484 as long as it also applies in Docker Compose yaml as well as `docker run` cli

Piecing together what's discussed in that issue, we'll be able to do:

`docker run --volumes-from <volume alias>:<mount point>[:<mode>]`

...where `<volume alias>` is _"a container name + volume mount path"_ ...and [as per the docs](https://docs.docker.com/refere

[2015-03-10 08:09] goloroden opened #11279 "Make docker-machine, docker-swarm and docker-compose part of Docker installation"
When I install Docker, I additionally need to install docker-machine & co. manually.

I'd like to see the installation of these tools integrated into the installation of Docker itself, so you only have to do one installation and you end up with having everything at hands.

What do you think about this?

[2015-03-10 10:17] nfnty commented on #6743
+1

[2015-03-10 10:56] Aslate49 commented on #11200
Hey estesp.

Yes, we are using the official registry image container.

I meant to include the docker info, completely forgot!

Boot2docker on MacOS
[code]

[2015-03-10 11:26] bjodah commented on #10199
+1, I have also been looking for a convenient way to easily and reproducibly build docker images from local cache without relying on an internet connection. (motivated by the need to archive a setup for reproducible research - I want the docker images to be able to build - say - 20 years from now when many archive mirrors may be offline). A convenient way to ensure not involuntarily relying on a i

[2015-03-10 12:41] phemmer commented on #11279
In my own personal preference, I would not want this. I never use docker machine, and docker swarm I don't install on the same hosts as docker itself.

Aside from personal preference, there are logistical issues with the idea. Each application has it's own versioning and release cycle. Docker swarm is at 0.1.0 while docker is at 1.5.0, and each is released when a new version is ready. Bundling the

[2015-03-10 13:07] hanxy opened #11283 "docker why can't operate"
I run 60 containers for some times, I found docker is dead, all docker commands can't used and they are always waiting and not show any information. And then I test the api operation, and also can't get anything.

[2015-03-10 13:31] jamercee opened #11284 "SECURITY ISSUE: Docker --link exposes source containers environment"
When linking containers, the target container has full access the source containers ENV settings. In some cases, this can expose sensitive information from the source.

For example, say you create a mysql container.

    docker run --name db -e MYSQL_ROOT_PASSWORD=password -d mysql

And now link this container, and inspect the environment

    docker run --rm -ti --link db:db debian
    # env | gr

[2015-03-10 13:34] duglin commented on #11284
This is a dup and was resolved (sort of) via: https://github.com/docker/docker/pull/11172

[2015-03-10 13:38] shishir-a412ed opened #11285 "docker load clobbers the name of the existing image"
Description of problem:
Given an image "foo:latest" with ID 1234 already in docker, docker load < foo.tar with ID 5678 (same name, different ID) clobbers the existing name (of ID 1234) to "<none>".  Since images are most often referenced by name, it's not a very nice thing to do w/o being documented or issuing a "Warning: image foo already exists, renaming to <none>".

Version-Release number of se

[2015-03-10 13:38] jfrazelle commented on #11284
Also in the future if you read the contribution guidelines security issues
go to security@docker.com NOT github issues. But seeing as this is known
and expressed in the docs it's fine.

On Tuesday, March 10, 2015, Doug Davis <notifications@github.com> wrote:

[2015-03-10 13:38] #11284 closed

[2015-03-10 13:47] jamercee commented on #11284
Can you point me to where this is documented? I scrutinized the two PR's AND the docs, and I see people talking about updating the docs, but for the life of me I can't see any reference to the fact that all environment variables are available in the target container.

[2015-03-10 13:47] ekristen commented on #7939
Is v2 documentation available anywhere? I'd like to be able to update my project sooner than later.

Thanks!

[2015-03-10 13:49] jamercee commented on #5169
I just rediscovered this issue, which caused me to open a new PR https://github.com/docker/docker/issues/11284.  My issue was closed with a link to this PR, but I can't quite understand where this stands?  I saw some reference to links v2 solving this in 1.4, but we're running 1.4 and the issue still seems present. Also, I see some discussion about the docs being updated to describe this behaviour

[2015-03-10 13:50] duglin commented on #11284
See: https://github.com/docker/docker/pull/11172/files#diff-77bbbc90ae4435415f7a4f6007374f75R191

[2015-03-10 13:52] duglin commented on #5169
@jamercee docs have been updated in git but they may not be updated on the docker.com website yet.

[2015-03-10 13:57] jamercee commented on #11284
Thanks

[2015-03-10 13:57] FossiFoo opened #11286 "devicemapper fails with "Device or resource busy"/"invalid argument" on pull"
Hi.

Contrary to other reports here, i can't even pull a single image into my docker without a failure. Fresh install, after "rm -rf /var/lib/docker/" & reboot.

Gentoo, docker 1.5.0, kernel 3.19.1

$ docker info
---

Containers: 0
Images: 0
Storage Driver: devicemapper
 Pool Name: docker-8:3-7063782-pool
 Pool Blocksize: 65.54 kB
 Backing Filesystem: extfs
 Data file: /dev/loop0
 Metadata file: /

[2015-03-10 13:58] jamercee commented on #5169
Got it (about the docs).

Any feedback on where the issue (if leaking environment from source -> target) stands? If it's documented, is it now a feature? <grin>

[2015-03-10 14:00] jfrazelle commented on #5169
That can be discussed with security@docker.com

On Tuesday, March 10, 2015, jamercee <notifications@github.com> wrote:

[2015-03-10 14:20] mcandre commented on #11220
Good idea!

https://github.com/boot2docker/boot2docker/issues/776

[2015-03-10 14:21] mjsalinger commented on #11228
Any insights?

[2015-03-10 14:23] WhisperingChaos commented on #8660
Thanks @bketelsen for your encouraging review of the proposal!

I'm hoping the community's support and the proposal's technical merit will convince core maintainers of its utility to improve a Dockerfile's ability to address a range of build concerns.

[2015-03-10 14:44] davewv31 commented on #11266
Would, but can't reproduce it either. I have this feeling I was clobbering it myself (can't find it), so I'm going to close this unless I can reproduce.

[2015-03-10 14:44] #11266 closed

[2015-03-10 14:45] duglin commented on #11266
works for me  :-)

[2015-03-10 14:58] xaibeha commented on #11250
Resolved: DNS misconfiguration on local network after all.

[2015-03-10 14:58] #11250 closed

[2015-03-10 15:26] unclejack commented on #11283
@hanxy Please provide output of `docker info`, `docker version` and `uname -a`. All of this information is needed.

Please keep in mind that hardware problems, customized installs (custom kernel which isn't supported by the distribution), automated scheduled reboots and other external tools may interfere with Docker daemon's proper functioning.

[2015-03-10 15:36] cevich opened #11289 "docker build -f error doesn't match cause"
Cloned from [Red Hat Bugzilla:](https://bugzilla.redhat.com/show_bug.cgi?id=1196814)

Docs mention that if the argument to ``-f,--file`` is relative, CWD must be the context directory.  However, when outside the context directory, the error message doesn't reflect reality.  Also, the documented option handling is contrary to what the ``help`` output shows (see additional info).

**Version-Release

[2015-03-10 15:46] duglin commented on #11289
I think this is working correctly.
Change your scenario slightly and you'll see why:
[code]
here I'm telling docker to build my project (which has a build context up one level from current dir) twice and I'm pointing it to a different Dockerfile each time.  The -f option doesn't point to some file within some "other" context, it points to a file "on disk" - which means its relative to the current

[2015-03-10 16:00] mitchcapper commented on #6047
@jfrazelle  yes it still occurs. I assume once #10390 gets merged in and the dirperm1 opt is available it will go away.  Is there a reason this is thought to be fixed otherwise?

[2015-03-10 16:16] cevich commented on #11289
That's a slightly different issue than what I'm reporting, because relative is relative (forward backward and sideways).  It's impossible to predict where the absolute ``..`` actually is: Consider filesystem mounts occurring after change of CWD, or you arrived in CWD via symlinks, where ``..`` can means different things to different processes.

IMHO, it would be nice if it worked as I suggested ab

[2015-03-10 16:23] xeor commented on #5169
I totally agree with @jamercee. The problem is still there, and it is still a security issue (see earlier discussion about cases).

[2015-03-10 18:35] re6exp commented on #6743
+1

[2015-03-10 19:12] #10874 closed

[2015-03-10 19:13] #7585 closed

[2015-03-10 19:50] WhisperingChaos commented on #8660
Adoption of this proposal would negate the necessity for/complement the following proposed features:
+ #7149 @proppy '*Dockerfile BUILD instruction*'
    Function Idiom proposal negates the need for #7149 for reasons and as demonstrated through an example in a prior post to this thread.

+ #2439 @bwilkins '*Dockerfiles should have a way to perform multiple build actions in one commit*'
+ #8574 @bu

[2015-03-10 19:54] else commented on #10774
When this happens, the to-be-created container also is not being removed despite `--rm=true`.

[2015-03-10 20:10] termie commented on #8310
+1

[2015-03-10 20:16] stevvooe commented on #7939
@ekristen All specs for v2 registry are here: https://github.com/docker/distribution/tree/master/doc/spec. Albeit, I am not sure if it will help directly with the current issue.

I'm usually around #docker-distribution on IRC if you need clarification.

[2015-03-10 20:20] mcellis33 opened #11294 "docker run uses wrong image tag"
## Summary
When I `docker run` from image `foo:4` the resulting container is based on image `foo:2`. Running `docker images` reveals that `foo:4` was not downloaded.

## Environment

### Host OS
The docker host is an AWS EC2 instance.

* Ubuntu Trusty 14.04 amd64 Server 20140607.1
* AMI ID: `ami-e7b8c0d7`

### uname -a

[code]

### docker version

[code]

### docker -D info

[code]

## Steps

###

[2015-03-10 20:23] termie commented on #4106
+1

[2015-03-10 20:28] estesp commented on #11199
@shi154462671 the best case for more complex multi-host/multi-daemon scenarios is to rely on SDN-like technology.  Given socketplane.io is now part of the Docker team, I would expect you will see more about this very soon (see Madhu's note of the last 24 hours: https://groups.google.com/d/msg/docker-dev/vmJnCKfcA8Q/XB7nd2i80xwJ).  There are also existing projects/products already covering this are

[2015-03-10 20:38] vbatts commented on #4106
all, please see #11109 for an implementation that can satisfy this.

[2015-03-10 20:58] termie commented on #6685
-subscribe-

[2015-03-10 20:58] termie commented on #6324
-subscribe-

[2015-03-10 21:00] termie commented on #5237
-subscribe-

[2015-03-10 21:00] termie commented on #5113
+1

[2015-03-10 21:01] termie commented on #10378
-subscribe-

[2015-03-10 21:02] termie commented on #10191
+1

[2015-03-10 21:03] termie commented on #10084
+1

[2015-03-10 21:03] termie commented on #9798
+1

[2015-03-10 21:04] termie commented on #9786
+1

[2015-03-10 21:04] termie commented on #9718
-subscribe-

[2015-03-10 21:05] termie commented on #9658
+1

[2015-03-10 21:05] termie commented on #9132
+1

[2015-03-10 21:06] termie commented on #8819
+1

[2015-03-10 21:07] termie commented on #10563
+1

[2015-03-10 21:07] termie commented on #7967
+1

[2015-03-10 21:09] termie commented on #10592
+1

[2015-03-10 21:09] termie commented on #11053
+1

[2015-03-10 21:10] termie commented on #11285
+1

[2015-03-10 21:14] dpiddy commented on #10563
I got [the new registry](https://github.com/docker/distribution) going and I think this issue is solved by the v2 API and the way the client side interacts with it. There was concern about the [manifest `history` attribute](https://github.com/docker/distribution/blob/master/doc/spec/api.md#pulling-an-image-manifest) growing without bounds similar to `/v1/repositories/fooo/barr/images` but after te

[2015-03-10 21:16] vbatts commented on #8819
per my previous comment, try it out (using your own image of choice) ((see the file list first, like so `docker save busybox | tar tv`)):
[code]

The archives will never be perfectly deterministic, but I think we can close this issue as *close enough*.

[2015-03-10 21:44] ericso commented on #7565
I would like this as well. For various reasons, I cannot connect to the get.docker.com apt source and need to manually install the .deb file.

[2015-03-10 21:52] Offirmo commented on #4036
+1 :-(

[2015-03-10 21:56] rgbkrk commented on #6324
How safe is using a non-root user in the container? Same as a non-root user on the host?

[2015-03-10 22:01] termie commented on #8819
Sure, I'm willing to accept that. I suppose `dockertarsum` can be used if I want to diff the contents irrespective of mtime.

[2015-03-10 23:24] therealprologic opened #11301 "Refactor iptables package into a library using kernel apis"
Right now the code https://github.com/docker/docker/blob/f3aed2a2974bba4fdca947227d877bcc2c7d540b/pkg/iptables/iptables.go seems to manipulate netfilter rules via exec'ing an external process ``iptables`` on the system.

Would it be possible to turn this into a library removing the need to rely on an external tool and sub-process to manipulate the netfilter rules? Is anyone working on this or inte

[2015-03-10 23:59] vaijab commented on #10180
Same issue here as well on CoreOS with 3.18.4 kernel.

[2015-03-11 01:02] hanxy commented on #11283
@unclejack
My kernel is
   "Linux kvmnode7553 3.13.0-24-generic #46-Ubuntu SMP Thu Apr 10 19:11:08 UTC 2014 x86_64    x86_64 x86_64 GNU/Linux"

docker info:

    Containers: 65
    Images: 25
    Storage Driver: devicemapper
    Pool Name: docker-252:2-8803-pool
    Pool Blocksize: 65.54 kB
    Data file: /dev/docker_vg/lvm_direct_data
    Metadata file: /dev/docker_vg/lvm_direct_metadata
    Data

[2015-03-11 01:10] cpuguy83 commented on #11184
@orzel Can you provide the output of `docker info` and `docker version`?
I'm willing to bet you are using RC1 of Docker 1.5

[2015-03-11 01:13] cpuguy83 commented on #11275
Closing since this isn't a docker issue and is instead an issue with the V1 registry.

[2015-03-11 01:13] #11275 closed

[2015-03-11 01:35] HuKeping opened #11304 "why Jenkins not Drone.io"
I wonder what makes docker from drone to Jenkins, I googled it but didn't get much info :)

[2015-03-11 01:40] chenhanxiao commented on #11259
@moxiegirl
Maybe I can help too :)

[2015-03-11 01:40] jfrazelle commented on #11304
Hi!
We switch because we were already using a fork to run docker in docker and
we needed the Dockerfile to actually be built for each PR. We also wanted
distributed builds and to test across matrices.

On Tuesday, March 10, 2015, HuKeping <notifications@github.com> wrote:

[2015-03-11 01:40] #11304 closed

[2015-03-11 01:40] jfrazelle commented on #11304
See drone/drone#1

[2015-03-11 01:43] HuKeping commented on #11304
Ok, thanks.

[2015-03-11 01:43] dmp42 commented on #11275
@cpuguy83 it's an issue with docker (specifically, with the v1 protocol design) - not an issue with the registry.

[2015-03-11 02:16] jerrykan commented on #11275
So my take-away from this is that it is not currently supported in v1 and won't be, but it may be supported in v2 but currently isn't. So there is currently no way to have an internal host pull images from an internal registry if it doesn't have access to index.docker.io?

[2015-03-11 02:36] orzel commented on #11184
I don't think so. The Gentoo package name is quite unambiguous, "1.5.0". Here's the requested output :

carmen ~ # docker info
Containers: 0
Images: 2
Storage Driver: overlay
 Backing Filesystem: extfs
Execution Driver: native-0.2
Kernel Version: 3.19.1
Operating System: Gentoo/Linux
CPUs: 4
Total Memory: 3.789 GiB
Name: carmen
ID: GWY4:JVMW:DXSE:CL6L:3ODO:2PR7:VBDY:DLRP:OJKK:UYHX:6BU7:K4HB
carmen

[2015-03-11 03:52] moxiegirl commented on #11259
@chenhanxiao Thank you for the offer Chen. This is just a PR to remind the repo owners to create a notification group for docs.  So, @docker/docs-owners will work.

[2015-03-11 03:52] #11259 closed

[2015-03-11 04:03] sourav82 opened #11308 "Docker log for containers taking up huge disk space. Any existing workaround from docker level?"
As docker stores the stdout and stderr logs from containers for "docker logs", sometimes it grows beyond GB. Is there any way from docker to manage the growth of the JSON log file for containers?

[2015-03-11 04:18] moxiegirl opened #11309 "Add "name" to the list of event issues"
The event issues include a "name" filter. Add this to the list of event filters. Also fix the filtering list layout which displays like this:

![image](https://cloud.githubusercontent.com/assets/1347209/6590253/ecf84558-c76a-11e4-821e-6e2a38dc977f.png)

[2015-03-11 04:19] SvenDowideit commented on #11230
if you make the Makefile do a `docker pull`, then you won't be able to make local changes to the docs-base image to test your changes to that project. explicitly tagging the docs-base repo won't help either, as we're building the image using automated builds.

I _think_ @jfrazelle has solved this for `docs.master.docker.com` in the build automation though.

[2015-03-11 04:31] jfrazelle commented on #11230
Yes has been solved for master builds but that's a different script

On Tuesday, March 10, 2015, Sven Dowideit <notifications@github.com> wrote:

[2015-03-11 05:38] dmp42 commented on #11275
Correct - unfortunately, there is currently no way to do this.

[2015-03-11 06:39] x1022as commented on #11308
docker is working on Logging drivers #10568, released with docker 1.6.

[2015-03-11 06:47] HammerOfThor commented on #11276
Do you mean .dockercfg?  .dockercfg file's owner is root, only root or sudoer user can change his permission. If user have root privilege, no security mechanism can stop him now.

Another similar security risk is .dockercfg save the username and password in plain text (base64 coding is not encryption), if user can read from .dockercfg, he can easily get all user's password.
But it's lucky that onl

[2015-03-11 07:02] sunyc opened #11312 "Wrong error returned when passing incorrect "Binds" creating container"
Hi,

While using REST API (up to 1.17) , we found a issue where Docker would always returning 404 No Such image error despite the image being perfectly valid.

Spending hours trying to figure out what went wrong, I discovered that Docker is blindly returning "404 No Such Image" error for every error returned by daemon contained with "no such" string...  Then we discovered that our issue was that w

[2015-03-11 08:24] hordemark opened #11313 "Mongodb running in docker with Replica"
When running mongodb in docker with Replica, then

<code>
mongo
rs.initiate({"_id" : "rs0", "version" : 1, "members" : [ { "_id" : 0, "host" : "$mongodb_ip:27017" } ]})
</code>

But when restart mongodb container, this container IP  will be changed, and mongod daemon falied with Replica, because of different IP  compare with first.

Is there is solution static ip with container or mongodb containe

[2015-03-11 08:48] mattva01 opened #11315 "docker rename prevents container from starting after daemon restart"
**Simpler reproductions in following comments, leaving the original for posterity**
Steps to reproduce:
1. Create a Dockerfile with the following contents:
[code]
and build it.
ex: `docker build -t mattva01/renamebug .`
2. Create a container based off that image
`docker run -d --name rename1  mattva01/renamebug`
3. Rename it
`docker rename rename1 rename2`
4. Restart docker daemon
`sudo service do

[2015-03-11 08:55] pikeas commented on #8755
+1!

[2015-03-11 09:12] #10729 closed

[2015-03-11 09:51] scf37 commented on #4036
+1 ubuntu 14.04:
```time="2015-03-11T09:47:26Z" level="info" msg="Error getting container 752491056ab329ed4d07e3bfc921a03242510d59b79f06b8efc1904f928c0886 from driver devicemapper: Error mounting '/dev/mapper/docker-202:1-154473-752491056ab329ed4d07e3bfc921a03242510d59b79f06b8efc1904f928c0886' on '/var/lib/docker/devicemapper/mnt/752491056ab329ed4d07e3bfc921a03242510d59b79f06b8efc1904f928c0886': n

[2015-03-11 10:19] haarts commented on #6783
Reproducing:

1. Get a host with Ubuntu 14.04.
2. Install LXC. Version 1.0.5
3. Create a container. Let's say a Ubuntu 15.04 one. `lxc-create -t download -n YOURNAME -- -d ubuntu -r vivid -a amd64`
4. Edit the `/var/lib/lxc/YOURNAME/config` file and add the lines `lxc.cgroup.devices.allow = a`, `lxc.mount.auto = cgroup` and `lxc.aa_profile = unconfined` (throwing all security overboard)
5. Start t

[2015-03-11 10:20] cliffxuan commented on #6396
:+1:

[2015-03-11 10:51] tonivdv commented on #6396
@atrauzzi I'm using another approach currently which I really like. It's making a data volume container with the ssh stuff in it. When you want to use you ssh keys into another container I can simply use that with following command:

[code]

This way you don't have the need to put an entrypoint on each image and it can work with all images.

To create that container I do the following

[code]

Hop

[2015-03-11 11:13] Colstuwjx opened #11318 "How to use docker with adsl?"
Hi, I'm new to docker, and be curious about the docker networking.

I want to build an ubuntu host, and run multiple docker containers, the point is that I want to use adsl  inner the container, and container could use adsl to get ip.

I'm confused about the docker networking model in this case, and wishes anyone could give any idea.
Thanks.

[2015-03-11 11:33] mclarkson commented on #6783
I'm having the same problem as @VictorArgote - docker native does not work under lxc (unconfined). It would be really great to have native docker running in lxc for our build and test.

I also get the error for 'docker -d':
[code]
With, apparmor kern.log on the host showing:
[code]
I cheated and made /sbin/apparmor_parser just return success error status(0), then 'docker -d' starts:
[code]
But, 'd

[2015-03-11 11:47] therealprologic commented on #11301
https://github.com/porjo/gonft looks interesting as a way forward from exec'ing out to ``iptables``. As nftables itself however is still under development perhaps this would have to wait for a much later version of the Docker engine?

[2015-03-11 11:56] atrauzzi commented on #6396
@tonivdv - I took my approach because if someone has to add or update SSH settings, they have to be re-imported.  The specific container I'm using is one that gets built to run single commands, so every time it runs, it takes the copy to ensure it's up to date.

[2015-03-11 12:08] cpuguy83 commented on #11301
Indeed. iptables is designed such that you pretty much have to exec the iptables binary.
Relevant: http://stackoverflow.com/questions/109553/how-can-i-programmatically-manage-iptables-rules-on-the-fly

Closing since this isn't exactly actionable... and probably won't be for quite some time.

[2015-03-11 12:08] #11301 closed

[2015-03-11 12:10] cpuguy83 commented on #11318
Hi,

This isn't really the appropriate forum for user support.
Please see one of the following:

1) docker-user mailing list
2) #docker on freenode
3) forums.docker.com

[2015-03-11 12:10] #11318 closed

[2015-03-11 12:13] cpuguy83 commented on #11313
Hi, there are a number of networking solutions that can do this for you, but not included with Docker itself.

For testing I'd recommend checking on github.com/jpetazzo/pipework

[2015-03-11 12:13] #11313 closed

[2015-03-11 12:16] therealprologic commented on #11301
Agreed but worth bringing up :)

[2015-03-11 12:21] mclarkson commented on #6783
Thanks @haarts, for the 'lxc.cgroup.devices.allow = a'. I also needed 'lxc.cap.drop =' to get it to work without any errors (or cheats).

Is there any way to make this more secure?

[2015-03-11 12:23] AntoineFinkelstein commented on #4036
+1 on Ubuntu 14.04, I get exactly the same error message as @scf37 .

[2015-03-11 12:33] tonivdv commented on #6396
@atrauzzi Yup I understand. That being said, it's up to the user to maintain it's ssh volume container correctly. He can even use different ones if necessary. And optionally it can be generated on the fly with a script. But I don't think there is one and only good solution. It all depends on the needs. Just wanted to share so others could chose what solution based on their needs. Hope to blog abou

[2015-03-11 12:34] haarts commented on #6783
@mclarkson and your `lxc.cap.drop =` removed the errors with me too! God, I love the internet.

[This](https://www.stgraber.org/2014/01/01/lxc-1-0-security-features/) blog post is relevant to the security of the containers and mentions both Capabilities and Cgroups.

I think I'm on track figuring out what the correct Cgroup configuration options are. I found that whole business with major/minor nu

[2015-03-11 12:41] torz commented on #4036
+1 ubuntu 14.04
then:
 docker rm $(docker ps -aq)
 docker rmi -f IMAGE [ID]
 sudo service docker.io restart
 docker build
and then it works

[2015-03-11 12:53] cpuguy83 commented on #11275
Ok, so this is really a close #wontfix?

[2015-03-11 13:06] mclarkson commented on #6783
@haarts. That would be great. With the cap drop, docker info now shows devicemapper as the vfs, so that's nice and fast now, but docker does warn about this so not sure how safe it is. I had a thought also that the docker containers themselves are still as secure as before. By the way, your 'figured it out' link is the same as the 'This blog post' link.

[2015-03-11 13:16] haarts commented on #6783
(fixed the link)

[2015-03-11 13:30] estesp commented on #11200
Is there any way you could try a 1.5.0 client?  Surprised that you don't get warnings about client<-->server mismatch?  In the current code, I can't find any way for a pull to use a different URL+port for the tag retrieval than the images query, however, that should be the same as your setup as 1.5.0 daemon is doing the actual pull logic.  Is there any way to show your exact setup to try and repro

[2015-03-11 13:35] HuKeping commented on #11304
Hi @jfrazelle ,What does the "test across matrices" mean? Different hosts? I can't understand your meanings. Any advantage from jenkins?

[2015-03-11 13:58] jgangemi commented on #9315
i see this in docker 1.5 as well and opened this issue: https://github.com/docker/docker/issues/10983.

i resolved it (i also use the docker-maven-plugin) by encoding an empty username and password and sending that w/ the `X-Registry-Auth` header.

[2015-03-11 14:05] jgangemi commented on #11294
i'm pretty sure this is a dup of #10599

[2015-03-11 14:06] snewhouse opened #11319 "docker rmi :Error response from daemon: Conflict FATA[0000] Error: failed to remove one or more images"
Hi All

Having problems removing images. Any help will be great...see below

### My OS
[code]

[code]

**trying to remove images***
[code]

[code]

### Docker version
[code]

[code]

### Docker Info
[code]

[code]

[2015-03-11 14:29] jfrazelle commented on #11304
Yes we get to test different operating systems and storage drivers as well
as exec drivers

On Wednesday, March 11, 2015, HuKeping <notifications@github.com> wrote:

[2015-03-11 14:30] duglin commented on #11294
I tried to reproduce this but couldn't.  Could you provide step by step instructions on how to reproduce it from a fresh docker install?

[2015-03-11 14:49] LK4D4 commented on #11301
Actually it is possible with netlink, but pretty difficult. Also I think we probably don't need so much iptables in docker :)

[2015-03-11 14:51] duglin commented on #11289
The docs right now say:
https://docs.docker.com/reference/commandline/cli/
- - - - -
By default the docker build command will look for a Dockerfile at the root of the build context. The -f, --file, option lets you specify the path to an alternative file to use instead. This is useful in cases where the same set of files are used for multiple builds. The path must be to a file within the build cont

[2015-03-11 15:00] coolljt0725 commented on #11319
You can't delete `none` image directly, because it could be parents of other images, when the images are parents of other images, it will with error out `Error response from daemon: Conflict, 511136ea3c5a wasn't deleted`

[2015-03-11 15:07] cpuguy83 commented on #11319
The way to delete unused images is to do `docker rmi $(docker images --filter dangling=true -q)`

Closing since this seems like you are trying to delete image layers which are part of another in use image.
Feel free to hit me up on IRC for extra support around this.
Or if you feel like I'm wrong here ping and we can take a closer look.

Thanks!

[2015-03-11 15:07] #11319 closed

[2015-03-11 15:10] cevich commented on #11289
Precisely, the docs are fine.  Yep, I expected some careful --help-smithing would be required.  Actually your suggestion seems pretty close to perfect IMHO.  I think it's enough of a reminder that for any non-trivilal uses, RTFM is suggested.  Good by me, FWIW :grinning:

[2015-03-11 15:45] haarts commented on #4036
For what it is worth, it also happens on Ubuntu 15.04.

[2015-03-11 15:51] cpuguy83 commented on #11315
Confirmed

[2015-03-11 15:58] mattva01 commented on #11315
Sorry about that, I was dead tired and was convinced it required a volume for some reason. Do

[2015-03-11 16:04] coolljt0725 commented on #11315
It was a bug, I also can reproduce with
<pre><code> docker run --name name1 busybox
 docker rename name1 name2
service docker.io stop
service docker.io start
docker start name2
</code></pre>

[2015-03-11 16:11] atrauzzi commented on #6396
I wouldn't make it a requirement that people running your containers maintain a data-only container full of ssh keys.  Seems involved.

[2015-03-11 16:23] tonivdv commented on #6396
@atrauzzi It's true that the volume container must be there, but in your way the user must share it's ssh key upon running too right? So besides to have the need for a ssh volume container the only difference in both solutions from a running point of view is:

[code]
and
[code]
right? Or am I missing something else :)

But I completely get why you are doing it your way. However, should you want to

[2015-03-11 16:43] duglin commented on #11289
PR #11325

[2015-03-11 17:11] xiaods commented on #6743
anyone can clarify the detail proposal. do we need implement it in docker run args? i am also interest this feature implement.

[2015-03-11 17:43] jlhawn commented on #10753
@estesp While I opened this issue to get started on a container image data scheme, I know you're very interested in multi-os/arch images, which would be a separate application media type, but it's probably a good idea that those two JSON formats be developed together.

[2015-03-11 18:04] dmp42 commented on #11275
@cpuguy83 I would say so, yes.

[2015-03-11 18:09] cmbaron commented on #10708
I am experiencing the same symptoms today with boot2docker and Docker 1.5, was there ever a resolution or workaround for this?

$ docker version
Client version: 1.5.0
Client API version: 1.17
Go version (client): go1.4.1
Git commit (client): a8a31ef
OS/Arch (client): darwin/amd64
Server version: 1.5.0
Server API version: 1.17
Go version (server): go1.4.1
Git commit (server): a8a31ef

$ docker info

[2015-03-11 18:38] crosbymichael commented on #8551
+1 for `--cgroup-parent`

[2015-03-11 18:50] metasim commented on #8793
Also having this problem, and not sure from this transcript what I need to do to work around it. Is there a work-around?

[2015-03-11 18:50] estesp commented on #10708
I think this could be one of several issues related to graph `IsNotExist()` processing going wrong (note that @LK4D4 mentions that has been the source of multiple issues lately in PR #11281).  It makes sense given the return from `/create` is probably a 404 for some reason, and so it tries an image pull.  If it's not related to the graph, it could be some other part of the path that gets a 404 whi

[2015-03-11 18:56] MrMMorris commented on #11279
I agree that having all of them install would be overkill. Maybe an opt-in, but all I use is compose and only in local/CI.

[2015-03-11 19:36] termie commented on #8504
+1

[2015-03-11 19:41] termie commented on #8069
+1

[2015-03-11 19:42] termie commented on #5904
+1

[2015-03-11 19:46] estesp commented on #8069
This issue is fixed by PR #9705, but apparently didn't get marked as solved.

[2015-03-11 19:46] #8069 closed

[2015-03-11 20:08] Jaykah commented on #11185
@crosbymichael @LK4D4 @unclejack Hi guys, I understand that the solution to this may take a while, so I was wondering if you could suggest a (temporary) workaround to this issue. If there's a way to disable the proxy that seems like the way to go - unfortunately I'm not familiar enough with Go to do it myself.

Thanks!

[2015-03-11 20:15] thaJeztah commented on #11185
There's actually some preparations in place to facilitate that (remove the proxy), see https://github.com/docker/docker/pull/11208#issuecomment-77905451, so there's hope :)

[2015-03-11 20:17] LK4D4 commented on #11185
@Jaykah I'm pretty sure that there will be solution in 1.6. For now if you know how to build docker you can replace body of this https://github.com/docker/docker/blob/master/daemon/networkdriver/portmapper/proxy.go#L115 function with return nil. But this will break inter-container communication :(

[2015-03-11 20:31] Jaykah commented on #11185
Thanks guys!

@LK4D4 so I assume I have to change that to:

[code]

Is that correct?

Also, how soon do you think 1.6 will be released?

[2015-03-11 20:43] therealprologic commented on #11301
Reason I bring this up is I'm interested in getting Docker engine/daemon to run in an environment where there is no libc and therefore no ``iptables`` command on the host (*because it can't be compiled statically*).

[2015-03-11 20:44] #11315 closed

[2015-03-11 21:11] wyaeld commented on #11279
What if they were handled by some sort of plugin/addon like api, so it doesn't have to be manual, but is also simple to use.  Something like

`docker install swarm`
`docker install machine`

[2015-03-11 21:17] RickWieman commented on #11279
I agree with @phemmer. It's one of the responsibilities of the operating system's package manager (or at least it should be).
I'd say you don't want code inside Docker that installs some other stand-alone Docker-related application... Especially when `docker install machine` equals `apt-get install docker-machine` (for example).

[2015-03-11 21:23] goloroden commented on #11279
I understand your concerns, and I think you are right.

Anyway, having a bunch of different ways to install tools that somehow belong together is not so nice.

Hence, I really like the suggestion by @wyaeld:

[code]

+1 for this :-)

[2015-03-11 21:27] RickWieman commented on #11279
By that you mean that you can only install one `docker` package through your package manager and then use Docker to install for example Swarm and Machine?

[2015-03-11 21:35] goloroden commented on #11279
By that I mean that e.g. if I want to run Docker on OS X, I need to:

- Install boot2docker using a graphical installer
- Install docker-compose via curl
- Need to remember to additionally install cli completion
- Install docker-machine via curl

where the two curl calls are 99% similar, but not perfectly equal. The one file is called `docker-machine_darwin-amd64`, while the other is called `docke

[2015-03-11 21:39] candlerb opened #11336 "--fixed-cidr does not work with pre-existing bridge interface"
This is on ubuntu 14.04 with lxc-docker-1.5.0 from the docker repo. I want to use an existing bridge interface "br-lan"

[code]

However when I try to start docker with `--fixed-cidr`:

[code]

My reading of <https://docs.docker.com/articles/networking/#customizing-docker0> is that the `--fixed-cidr` parameter is supposed to give the IP allocator a subnet which is contained within the bridge subne

[2015-03-11 21:47] RickWieman commented on #11279
I agree that it is a bit of a hassle to get it all installed at this moment, but isn't it just a matter of time before these can be installed easily through e.g. `brew`? There is already a `docker` recipe in there for example, so why not add ones for Machine/Compose/etc. instead of extending Docker itself?

Not that I don't like the `docker install` idea, but it still feels more like a package man

[2015-03-11 21:50] goloroden commented on #11279
Yes, some kind of setup suite would be fine, too :-)

[2015-03-11 21:50] cpuguy83 commented on #11279
Or what about `docker run swarm`, which is already a thing?

[2015-03-11 21:54] #11309 closed

[2015-03-11 21:58] #11289 closed

[2015-03-11 22:11] fabioy opened #11337 "Extend docker logs "--tail" option to support an offset (or add new flag)"
It'd be great if "docker logs" had an "offset" option. This would allow users/tools to continue fetching logs from a previously known place. The current "--tail" option is useful at times, but not for continual logging.

Two potential options: extend the set of arguments allowed in the "--tail" option, or add a new option to "logs", like --offset.

[2015-03-11 22:39] moxiegirl opened #11338 "Add description of docker cp STDOUT functionality to master"
In the next release, docker cp will support the STDOUT to tar feature.  The feature is already on the master branch under development. Download, test, and document the feature against the master binary.

[2015-03-11 22:42] duglin commented on #11338
@moxiegirl there has got to be a better way to do this.  Isn't master supposed to always be correct within itself?  Couldn't a PR (with just the 1.5 doc edits) be merged directly into the 1.5 branch you guys are working on w/o rolling back edits to master?

[2015-03-11 22:50] munkyboy commented on #10880
FWIW, I ran into this exact issue (an empty `/var/lib/docker/trust/official.json`) after resizing my virtual disk using these instructions https://docs.docker.com/articles/b2d_volume_resize/

[2015-03-11 22:59] crosbymichael commented on #11338
Closing this as well because of the comments in #11305

[2015-03-11 22:59] #11338 closed

[2015-03-11 22:59] moxiegirl commented on #11338
@duglin I was trying to make this that PR.  I might be doing it wrong of course ---. :-P

Just as an FYI, we do want to improve the workflow. The goal is automatically push live certain doc PRs on merge.  We just are in the middle of Bday work.

[2015-03-11 23:18] #11252 closed

[2015-03-11 23:46] LK4D4 commented on #11185
@Jaykah
[code]
It will be beginning of April I think

[2015-03-11 23:49] LK4D4 commented on #11301
@therealprologic Actually Iptables doing not very much work. Some I think can be replaced with routes, some just worked around. I think it's doable, and it would be great if someone do that :)

[2015-03-12 00:41] jdoliner opened #11339 "Volumes on CentOS 7 mount with weird ownership (and can't be used because of it)"
Steps to reproduce:

[code]

The problem seems to be that volumes get mounted with weird ownership. Is this expected behavior and I just don't understand what I'm doing or is this a bug?

[2015-03-12 00:53] ConnorDoyle commented on #8551
+1, this will strengthen the multi-tenancy story when running Kubernetes as a Mesos framework and `--cgroup-parent` should be sufficient for our use case.

[2015-03-12 00:54] cpuguy83 commented on #11339
This is because of selinux. You need to set the labels on your volumes.

If you don't know much on selinux, here's a great intro guide: https://people.redhat.com/duffy/selinux/selinux-coloring-book_A4-Stapled.pdf

To set the required label, do: `chcon -Rt svirt_sandbox_file_t /path/to/volume`

[2015-03-12 00:54] #11339 closed

[2015-03-12 04:17] cpuguy83 commented on #11308
@sourav82 If you don't care about the logs you can just `echo "" > /path/to/log.json`
If you do care, you can pause the container, copy-truncate, unpause.

With the above mentioned log drivers, the goal is to make the json logger be for development purposes only and recommend a more robust solution for production.

[2015-03-12 04:17] #11308 closed

[2015-03-12 04:23] cpuguy83 commented on #11312
Closing since this is fixed on master.

Feel free to test: https://master.dockerproject.com/
If you find that's not the case, please ping here.

Thanks!

[2015-03-12 04:23] #11312 closed

[2015-03-12 05:26] therealprologic commented on #11301
Hmmm :)

[2015-03-12 06:16] Colstuwjx commented on #11318
Ok, Thanks.

[2015-03-12 08:07] karanSinghChauhan commented on #7376
Greetings

I have also seeing similar issue in my private registry.

"Account created. Please see the documentation of the registry " + serverAddress + " for instructions how to activate it."

Is any workaround ? Thanks

[2015-03-12 08:34] unclejack commented on #11283
@hanxy You need to install system updates and you also need to update Docker. Docker 1.3.2 is a rather old version and you should upgrade it to Docker 1.5.0. Kernel `3.13.0-24` is also very old and it should be updated to the latest kernel provided by Ubuntu on 14.04 (currently `3.13.0-46`).

[2015-03-12 09:12] t0mk commented on #10180
same issue I guess, coreos 607,  kernel 3.18.6, docker 1.5.0, trying to build image from centos:6

Rpmdb checksum is invalid: dCDPT(pkg checksums): php-pdo.x86_64 0:5.3.3-40.el6_6 - u

[2015-03-12 09:59] Pratap6 opened #11344 "How to assign static IP or Hostname to each docker image when ever it is running?"
Hi,
I'm unable to assign static IP or hostname to each of my docker images when it is starting, please suggest me any approaches are there to resolve my issue.
docker Image starting command:     docker run -i -t -p 8070:8080 tomcatv1 /bin/bash

Here how to assign static IP to tomcatv1 docker image
please do the needful.

[2015-03-12 10:48] coolljt0725 commented on #11344
For assigning static IP to a container, you can't do it through docker, but  you can use a network plugin such as `pipework` to do that
For assigning hostname to a container,you only can do that with `--hostname` during creation use `docker run ` or `docker create`, when the container is created, hostname can't be changed.
If I understand correctly, all the configuration of a container can't be ch

[2015-03-12 11:10] coolljt0725 commented on #11132
what's your graph driver? Maybe you can provide `docker version` `docker info` `uname -a` and that we may can do more help

[2015-03-12 11:16] HammerOfThor opened #11346 "docker push prints empty error info when http response body contains trailing '\n'"
when user tries to push image to registry, and docker registry/hub respond with http error info whose http body contains trailing '\n', docker client will print "FATA[0000]" with nothing more, it's supposed to print "FATA[0000]: HTTP Code: XXX"
ping @dmcgowan ...

[2015-03-12 11:35] xaibeha opened #11347 "Please publish infrastructure tools (Machine, Compose …) on APT repo"
Description of problem:

New infrastructure tooling not available in APT repo for Ubuntu.

`docker version`:
Client version: 1.5.0
Client API version: 1.17
Go version (client): go1.4.1
Git commit (client): a8a31ef
OS/Arch (client): linux/amd64
Server version: 1.5.0
Server API version: 1.17
Go version (server): go1.4.1
Git commit (server): a8a31ef

`docker info`:
Containers: 1
Images: 201
Storage D

[2015-03-12 11:50] duglin commented on #11346
I wonder if https://github.com/docker/docker/pull/10924 will fix this.

[2015-03-12 12:08] tgpfeiffer commented on #11132
$ uname -a
	Linux samsux 3.13.0-37-generic #64-Ubuntu SMP Mon Sep 22 21:28:38 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

	$ sudo docker version
	Client version: 1.4.1
	Client API version: 1.16
	Go version (client): go1.3.3
	Git commit (client): 5bc2ff8
	OS/Arch (client): linux/amd64
	Server version: 1.4.1
	Server API version: 1.16
	Go version (server): go1.3.3
	Git commit (server): 5bc2ff8

	$ sudo

[2015-03-12 12:18] Pratap6 commented on #11344
@coolljt0725
Thanks for your quick response. please provide me any snippet is there..

I assigned hostname to container at time of creation
docker run --hostname="tom" -i -t -p 8070:8080 tomcatv1 /bin/bash
root@tom:/#

but I'm unable to ping that new hostname(tom) from outside of the host machine.

!thanks

[2015-03-12 12:31] spudtheimpaler commented on #3949
There are many similar threads discussing this and alternatives. Is there a current favourite for implementation of this or similar functionality?

Basically, I want to have access to a volume-only image at build time. Nothing else fancy...

[2015-03-12 12:33] cpuguy83 commented on #11132
I don't know that this can be fixed if this is a character size limit. But the error message can certainly be improved.

[2015-03-12 12:52] cpuguy83 commented on #11344
@Pratap6 Yes, docker does not update anything on the host to make that hostname pingable.
You would need to reach the contianer either by IP Address, or through your forwarded port, 8070.

The way you have your command setup you should be able to reach a service in the container running on port 8080 from port 8070 on the host.

I'm closing this since it's a support question.

For support, please s

[2015-03-12 12:52] #11344 closed

[2015-03-12 13:29] Pratap6 commented on #11344
@cpuguy83,
@coolljt0725
Thanks for your response,  please suggest me any good links for assigning static IP's to a each docker container , At time of starting the docker image.

And also please suggest me on pipework network plugin to do static IP assigning to containers.

! thanks

[2015-03-12 13:58] slaupster opened #11348 "docker run with image tag matches incorrectly"
With images like:

apache                         test                d920a0e5d724        24 hours ago        243 MB
apache                         blatestbla          d920a0e5d724        24 hours ago        243 MB
apache                         latest              d920a0e5d724        24 hours ago        243 MB

Doing this:
 docker run -ti apache:test bash

Results in:
a67030c8678a        base-ubu

[2015-03-12 16:42] RickWieman commented on #11279
But for Machine, that would be a chicken and egg problem, right? Because you'd need Docker for that, but you want to deploy Docker via Machine.

[2015-03-12 16:42] RickWieman commented on #11347
Have a look at #11279; I think this is closely related :wink:

[2015-03-12 16:45] RickWieman commented on #11337
Sounds like a nice idea. However, is it also going to be useful/effective if you have billions of log lines (as an extreme example)?
It might be a better idea to fetch your logs by date for example.

[2015-03-12 16:48] xaibeha commented on #11347
Indeed, commented there.

[2015-03-12 16:53] fabioy commented on #11337
I think it depends on who's consuming the logs. The offset option may be a cheap way to get this going, especially for things like reconnect while doing a "--follow". It shouldn't be a significant addition to the current "--tail" logic, I think (see https://github.com/docker/docker/blob/e4a49ae1885a7f80e713d1d1fc852f6e4214dfe6/daemon/logs.go)

[2015-03-12 16:54] xaibeha commented on #11279
+1 for @phemmer 's suggestion. Please don't do your own docker-specific software management but rather use the system's:

Docker should manage containers and images; host binaries should be managed by the host system's facilities. Just one example,
[code]
is very useful to have.

Please resist the temptation to "simplify" things by having yet another cross-platform tool-specific thing; in the end

[2015-03-12 17:34] Pratap6 opened #11352 "How to Assign static IP's to each of the docker image when ever it is running?"
Hi,
I'm unable to assign static IP to each of my docker images when it is starting, please suggest me any approaches are there?.

please do the needful.

[2015-03-12 17:42] cpuguy83 commented on #11352
@Pratap6 Hi, as stated in the other issue, this is not a support forum

For support, please see any of these:
1) docker-user mailing list
2) #docker on IRC
3) forums.docker.com

You can try out https://github.com/jpetazzo/pipework for doing more advanced networking within the container.

[2015-03-12 17:42] #11352 closed

[2015-03-12 18:19] cmbaron commented on #10708
From the logs below, it appears that create() claims that the image does not exist.  Although, I admit I am out of my depth interpreting this log.

time="2015-03-12T18:10:57Z" level="info" msg="-job pull(cmbaron/app, latest) = OK (0)"
time="2015-03-12T18:10:57Z" level="debug" msg="Calling POST /containers/create"
time="2015-03-12T18:10:57Z" level="info" msg="POST /v1.17/containers/create"
time="20

[2015-03-12 20:43] #10338 closed

[2015-03-12 21:15] potto007 commented on #11294
I have observed this on several clusters on which I use Docker 1.5 as an external containerizer for Mesos 21.1. We use a private registry for all our images. We have been able to observe this infrequently from the CLI. When it occurs, the new image is not pulled down from the registry and an existing image is instead used. Unfortunately, I don't have any useful information collected at this point,

[2015-03-12 21:33] jfrazelle commented on #11347
closing this as a duplicate so as to not fragment the conversation

[2015-03-12 21:33] #11347 closed

[2015-03-12 22:47] jtison opened #11356 "docker daemon 1.4.1 will not start on RHEL 6.5"
DESCRIPTION OF PROBLEM: Despite documentation claims that docker will run on RHEL 6.5 with a minimum kernel level of 2.6.32-431, the daemon will not start, citing a missing entry point in libdevmapper.so.1.02, as follows (from /var/log/docker):

time="2015-03-12T17:32:29-04:00" level="info" msg="WARNING: You are running linux kernel version 2.6.32-431.30.1.el6.x86_64, which might be unstable runni

[2015-03-12 22:50] LK4D4 commented on #11356
ping @vbatts

[2015-03-12 23:15] mcellis33 commented on #11294
Thanks for the quick feedback! So far I have failed to repro this from scratch on a new instance of `ami-e7b8c0d7`. Unfortunately, the original repro machines have been terminated. I will update the thread if I run into this again.

[2015-03-12 23:36] vbatts commented on #11356
Interesting. cc @lsm5

[2015-03-13 00:11] cpuguy83 commented on #11348
This looks like a dup of #11294 so I'll close this one.

[2015-03-13 00:11] #11348 closed

[2015-03-13 00:22] thaJeztah commented on #11230
@jfrazelle are you working on this?

[2015-03-13 00:26] hayderimran7 opened #11358 "Multiple sections for 'Pause' command in CommandLine Reference Docs"
Hi, in the commandline reference docs, there are two identical sections of docker "pause" command.
Source : https://docs.docker.com/reference/commandline/cli/#pause
The content of both sections is same, just pointing out the redundancy.
The order of sections is : Pause > Port > Pause .
It might be useful to have just one section for a command :)

[2015-03-13 00:28] LK4D4 commented on #11358
@hayderimran7 Wow, thanks!

[2015-03-13 00:29] duglin commented on #11358
this has been fixed - I just can't seem to find the PR right now, but if you look at master the dup section is gone

[2015-03-13 00:32] jfrazelle commented on #11230
no should I be?

On Thu, Mar 12, 2015 at 5:23 PM, Sebastiaan van Stijn <
notifications@github.com> wrote:

[2015-03-13 00:41] thaJeztah commented on #11230
@jfrazelle hm, reading that back that came out a bit demanding (sorry!). I was informing, because I wasn't sure *where* this needs to be fixed; Based on the discussion above I thought it was something to be fixed on the build/CI servers :smile:

Is the script that runs on docs.master.dockerproject.com in this repo? And is it possible to make the same fix for the "live" docs?

[2015-03-13 00:51] jfrazelle commented on #11230
that script is on a build server for live docs we could add it to the
makefile

On Thu, Mar 12, 2015 at 5:42 PM, Sebastiaan van Stijn <
notifications@github.com> wrote:

[2015-03-13 01:23] cpuguy83 commented on #11358
Closing since it sounds like this is fixed, if not, please ping here, thanks!

[2015-03-13 01:23] #11358 closed

[2015-03-13 01:47] icecrime opened #11360 "!m Sorry I gotta test this"

[2015-03-13 01:47] #11360 closed

[2015-03-13 01:49] tianon commented on #11360
All for BotBot talking to itself...

https://botbot.me/freenode/docker-maintainers/msg/34051392/
[code]

[2015-03-13 01:50] jfrazelle commented on #11360
Omg

On Thursday, March 12, 2015, Tianon Gravi <notifications@github.com> wrote:

[2015-03-13 01:51] jfrazelle commented on #11360
Totally worth it

On Thursday, March 12, 2015, Jessica Frazelle <jess@docker.com> wrote:

[2015-03-13 01:54] Pratap6 commented on #11352
Ok Thank you @cpuguy83

[2015-03-13 01:54] tianon commented on #11360
Uh, it got worse because I'm horrible: https://botbot.me/freenode/docker-maintainers/msg/34051580/

We had to `/kick` it, and I'm going to file a bug upstream letting them know they probably want to stop this and beg for forgiveness. :angel:

[2015-03-13 02:41] charford commented on #4036
This is happening on CentOS 7 as well.

[2015-03-13 03:28] RoelVdP commented on #4036
Yes, but see above re: versions

[2015-03-13 04:07] sourav82 opened #11361 "Best practices for updating security patches for containers"
I was wondering the best ways to update the containers with latest security patches. I tried first with apt-get upgrade in the CMD script so that when container starts, it upgrades it. But it is time consuming to start a container every time and may even break the container. Sometimes, the containers are long running and sometime short lived but how to make the containers always updated? Another a

[2015-03-13 04:42] orzel opened #11362 "du fails with overlay storage backend"
I have an image whose size is roughly 800M. I start a container on it using
`docker run -i -t <myimage>`
Then i do `du -shx /` inside.

On one system, I use the btrfs storage backend and i have
`44c68d5b5ac4 / # du -shx /`
`789M /`

On another one, using the overlay storage backend, I have :
`e38c8dc904fd / # du -shx /`
`11M     /`

It's really weird, as ls -l does report the right size.

[2015-03-13 08:32] pikeas commented on #10589
I have what appears to be a zombie container - it can't be `stop`ped, `kill`ed, `rm`ed, or `rm -f`ed.

core@localhost ~ $ docker info
Containers: 4
Images: 141
Storage Driver: overlay
 Backing Filesystem: extfs
Execution Driver: native-0.2
Kernel Version: 3.19.0
Operating System: CoreOS 612.1.0
CPUs: 1
Total Memory: 998 MiB

core@localhost ~ $ docker version
Client version: 1.5.0
Client API versio

[2015-03-13 09:10] pikeas commented on #10589
Found a couple of clues.

After rebooting the VM, the container can be removed.

The issue is reproducible on my system. I can share my Dockerfile if needed, but here's the gist: OS X host, CoreOS VM managed by Vagrant as docker host, base image is `dockerfile/ubuntu:latest`. I'm mounting a volume into the container (using Vagrant's NFS mount), and then doing an `npm install`. The container freeze

[2015-03-13 09:22] Pratap6 opened #11365 "How to Run elasticsearch service while starting the docker image using docker run command?"
Hi, I have created one elastisearch image with docker commands. when i run that image every time I need to start elasticsearch service  manually inside container. How can we run this service as a daemon when we run the docker image?

Basically i am doing the below process to start Elasticsearch image
$ docker run - i -t -p 9200:9200 -p 9300:9300 <elasticsearch>
$ service elasticsearch start

Note:

[2015-03-13 09:32] RickWieman commented on #11365
Did you know that there already exists an [official elasticsearch repository](https://registry.hub.docker.com/u/library/elasticsearch/) on Docker Hub?

That being said, according to the [Command line documentation](https://docs.docker.com/reference/commandline/cli/#run):

This also makes sense, as `docker run` creates a new container. (Quoting the documentation again:  `docker run` is equivalent t

[2015-03-13 09:43] xuxinkun opened #11366 "graphdriver-vfs will copy all the files when create 'id-init'"
graphdriver-vfs will copy all the files when create 'id-init'. But actually, just record the parent dir. And when Get() happens, return the parent dir will resolve this problem.

[2015-03-13 12:12] Pratap6 commented on #11365
Yes @RickWieman it is there, but we are manually creating elasticsearch image using command prompt with all required installations, and also elasticsearch run as a service script is there inside init.d directory.
Here I'm running image like this
$ docker run - i -t -p 9200:9200 -p 9300:9300

but elasticsearch service is not starting default..After that when I run the below command then only it is

[2015-03-13 12:19] RickWieman commented on #11365
You might want to reconsider running elasticsearch as a service. The main idea of Docker containers is that you only run one foreground task inside it. If you look at the [official Dockerfile](https://github.com/docker-library/elasticsearch/blob/03a5bda1ff2d27b000e5236082b26975a6a44c2e/1.4/Dockerfile), you see that elasticsearch also does this: they run elasticsearch as a foreground process.

Do y

[2015-03-13 13:46] pnasrat opened #11371 "Turn on moderation for new users for docker-user"
Spam is becoming an issue on docker-user - this actively damages the value of the list and the community

https://groups.google.com/forum/#!topic/docker-user/axfrk9fa8oA

Not sure how often core team read docker-user so filing an issue to turn on new member moderation - https://support.google.com/groups/answer/2627595?hl=en

This would require regular commitment from the community manger/team to r

[2015-03-13 13:54] ripienaar commented on #11371
It's common in other projects to give community members in other timezone rights to moderate posts and I've seen this work well.  I'd be happy to do so in the UK timezone.

[2015-03-13 13:56] sbpaul opened #11372 "iptables flag and bip flag"
Hi,

Just short: please add iptables and bip flags to the manifests and templates.

best,
Dennis

[2015-03-13 14:15] orzel commented on #11184
Ok, i've found out what the problem was.
I was missing CONFIG_EXT4_FS_SECURITY and CONFIG_EXT4_FS_POSIX_ACL in my kernel. This is not reported by check-config.sh in docker 1.5.0.

Actually, it's not the first time this script fails me. On one server, i couldn't user docker neither, the error was mentionning "cpuset". I've fixed the problem by adding CONFIG_CPUSETS to my kernel. This was NOT report

[2015-03-13 14:15] #11184 closed

[2015-03-13 14:21] cpuguy83 commented on #11372
What manifests and templates?

[2015-03-13 14:23] cpuguy83 commented on #11371
cc @spf13

[2015-03-13 14:32] rhvgoyal commented on #4036
@charford

Can you reliably reproduce it on centos7? If yes, can you tell me the steps to reproduce it. Once I can reproduce it, debugging it should be little bit easier.

[2015-03-13 14:34] sbpaul commented on #11372
Sorry i try again. I woul be great if the puppet module would add the way that i can set the iptables and bip parameters for the deamon on installing. its the same as the DNS etc things

[2015-03-13 14:38] spf13 commented on #11371
Thanks for bringing this to our attention. We've been working on a better solution for our users that will not only help to keep spam out, but will also enable community members to take more ownership of the channel. In the meantime we should turn on new member moderation and clean this mess up.

[2015-03-13 14:49] vbatts commented on #4036
Also include whether it is dynamic or static, and perhaps `docker info
|grep -i "udev.*sync" `
On Mar 13, 2015 10:32 AM, "Vivek Goyal" <notifications@github.com> wrote:

[2015-03-13 14:58] cpuguy83 commented on #11362
I cannot reproduce this.

[2015-03-13 15:06] orzel commented on #11362
On one failing system :

orzel@berlioz /home/orzel% docker info
Containers: 24
Images: 69
Storage Driver: overlay
 Backing Filesystem: extfs
Execution Driver: native-0.2
Kernel Version: 3.19.1
Operating System: Gentoo/Linux
CPUs: 4
Total Memory: 11.22 GiB
Name: berlioz
ID: 5OJK:MJFE:GNJB:2VOX:Z27H:BVXL:HPMB:N7AP:NYOO:5AW6:6JQX:XSGG
Username: orzel
Registry: [https://index.docker.io/v1/]
WARNING: N

[2015-03-13 15:07] jfrazelle commented on #11372
We don't have a puppet module in this repo

On Friday, March 13, 2015, sbpaul <notifications@github.com> wrote:

[2015-03-13 15:08] cpuguy83 commented on #11361
Yes, you should update base images, rebuild your images, then recreate your containers.
I generally keep all my images on DockerHub, those images are _always_ automated builds, which are linked to their base images. When the base image updates, my image is automatically rebuilt.

In cases where you can't take down your containers, you could `docker exec <container> /bin/sh -c 'apt-get update && ap

[2015-03-13 15:08] #11361 closed

[2015-03-13 15:18] kevana commented on #10450
My understanding is that this is expected behavior and won't be changed, is that correct?

[2015-03-13 15:30] sbpaul commented on #11372
oh sorry close this my fault

[2015-03-13 15:35] #11372 closed

[2015-03-13 16:01] Batmat commented on #11371
I generally really don't comment with just +1 comment, but I'll do an exception here. Many users (including me) have already asked on the ML that such spams be moderated, and the spammers be kicked, to no avail. Thanks a lot for cleaning this quickly.

As one of the last mails said, simple solution:
http://www.xaprb.com/blog/2009/09/13/stopping-spam-on-google-groups/

Thanks in advance

[2015-03-13 16:52] witlessbird commented on #11176
I created a PR with one of the possible ways to fix the issue: https://github.com/docker/docker/pull/11375

[2015-03-13 17:04] mffrench commented on #6980
I'm interested to know when this issue will be fixed but is there any ticket raised on AUFS regarding that problem ?

[2015-03-13 17:28] lsm5 commented on #11356
@jtison what does `rpm -q device-mapper-libs` on your system show?

See [rhbz#1173950](https://bugzilla.redhat.com/show_bug.cgi?id=1173950). You might need to manually update your device-mapper-libs to `1.02.90` as doing it via yum seems to cause a lot of trouble on 6.5 while it should work without any trouble on 6.6

I'll update the docs with this. Sorry about the pain.

[2015-03-13 17:32] mohitsoni commented on #8551
+1 for ```--cgroup-parent```

[2015-03-13 17:39] orzel opened #11376 "Allows containers to connect to host local-only services such as databases"
Takes the following very common pattern : a server hosts a database (say mysql) and several web applications. Those webapp are .. well, webapps, and hence present huge security risks, especially if coded in php or ruby.
So we dockerize them. The user feels no need to dockerize the database, among other reasons because  there are other (undockerized) programs than webapps that connect to it.

The d

[2015-03-13 17:58] timothysc commented on #8693
Not so quick on the draw @jfrazelle, here is your repo https://bugzilla.redhat.com/show_bug.cgi?id=1189028

[2015-03-13 18:26] charford commented on #4036
@vbatts
[code]

I'm not able to reproduce this consistently. We have a job in jenkins that runs every few minutes which runs a new container, and then tears it down(does not build anything, just runs existing image). Looking at the build history today, it looks like 10/20 builds fail (50%).

[2015-03-13 18:28] charford commented on #4036
FWIW, after a container fails to run, I am able to docker start [CONTAINER_NAME], and it runs fine, so it looks like it is being created, but at the point that docker tries to run the container, it hasn't been fully created (race condition?).

[2015-03-13 18:29] charford commented on #4036
Actual run command being used:
[code]

[2015-03-13 18:29] rhvgoyal commented on #4036
@charford

Is this the stock dokcer shipped by centos repos? If udev sync is false, most likely it is not.

[2015-03-13 18:49] charford commented on #4036
No looks like our OPs team is installing it from a binary. (https://docs.docker.com/installation/binaries/). Is this why we're having issues? If we use the version available in official repos, should that resolve it?

[2015-03-13 19:24] rhvgoyal commented on #4036
@charford

I think the docker version from centos repos might solve the issue for you. It is a dynamically built one and does not have race conditions with udev. (If this issue is pertaining to udev race conditions).

[2015-03-13 19:30] cpuguy83 commented on #11376
I'm pretty sure this is fundamentally impossible without `--net=host`... but I'll leave to others smarter than I to confirm and close.

One other alternative would be to setup a veth pair and have mysql listen on that.

[2015-03-13 19:34] jeremyeder commented on #8693
* Comparing static binary with dynbinary...try latest docker (non-dynbinary):

[code]

* After creating/destroying a few containers the FD count remains constant.

---

* Now with the dynbinary:

[code]

* All these extra sockets don't seem to ever close, and they keep growing as containers come and go...only seems to happen with dynbinary.

[code]

[2015-03-13 19:36] vbatts commented on #6189
On 25/02/15 18:25 -0800, Jessie Frazelle wrote:

i'm personally all for this feature. It may be more possible now that you have stood up the jenkins instance. The biggest questions around user.xattrs were that of compatibility _across_ docker daemons (i.e. a _new_ type of testing: i built X on fedora w/ devicemapper and it pulls and runs as expected on ubuntu w/ aufs)

[2015-03-13 19:47] johanhaleby commented on #8791
Should this be fixed in Docker 1.5.0? I'm getting the same error when using Docker in Docker, both the host and container (also running docker) is using 1.5.0.

[2015-03-13 19:51] tianon commented on #8693
Do we open a socket to talk to dockerinit, or does that happen through some
other means?

[2015-03-13 19:57] rhvgoyal commented on #8693
@jeremyeder

I can't seem to reproduce this using your test case. Once for loop exits, number of Fds open still remain the same. I am using latest docker dynamically build binary on lvm thin pool as graphdriver.

[2015-03-13 19:58] pikeas commented on #4213
I'm experiencing a related issue, which I began describing at https://github.com/docker/docker/issues/10589.

In brief, I have an OS X machine, running a Vagrant CoreOS VM for docker, with my files mounted via NFS. When I `--volumes-from` mount a directory from OSX to Docker, the container is able to write to that folder for a period of time, but eventually locks up utterly. The container can't be

[2015-03-13 20:21] jeremyeder commented on #8693
@rhvgoyal not sure if there are other parts to the puzzle, seemed pretty cut and dry to me.  We have several other reports noted in https://bugzilla.redhat.com/show_bug.cgi?id=1189028

[2015-03-13 20:31] rhvgoyal commented on #8693
@jeremyeder

That report also says that  "It doesn't happen on RHEL7 + docker 1.4.1"

So looks like it does not happen on all combinations. I guess it is a good thing as it should help us pin point the problem. BTW, I am using upstream kernel 4.0.-rc2 and latest docker. Following is how my docker info looks like.

Containers: 0
Images: 130
Storage Driver: devicemapper
 Pool Name: docker-docker--po

[2015-03-13 20:34] charford commented on #4036
@rhvgoyal Thanks for the tip. I went ahead and downgraded from 1.5 to 1.32 (1.32 was latest available in Centos Extras repo). I'll report back tomorrow after I run this through a few tests to verify if issue still exists.

[2015-03-13 20:49] moxiegirl opened #11380 "Centos 6.5 link at the top of the page is broken"
Look at this page: https://docs.docker.com/installation/centos/

The 6.5 link points at: https://docs.docker.com/installation/centos/#installing-docker---centos-6.5
But the link should be: https://docs.docker.com/installation/centos/#installing-docker-centos-65

[2015-03-13 20:50] moxiegirl commented on #11380
Fixed by #11379

[2015-03-13 20:50] #11380 closed

[2015-03-13 20:52] rhvgoyal commented on #4036
@lsm5

Do we now have a newer version of docker for centos7 than 1.32 somewhere?

[2015-03-13 20:58] orzel commented on #11376
Err.. my understanding is that it's not currently possible. The ticket is about requesting this feature. The use case seems quite important, isn't it ?

[2015-03-13 21:01] cpuguy83 commented on #11376
@orzel What I'm saying is it is technically impossible to do this.
Localhost on the host is local only. You can only share localhost's if you are in the same net namespace.
So you can either `--net=host` or you don't use localhost.

[2015-03-13 21:05] orzel commented on #11376
It's also "impossible" to connect the container's network stack with outside, but somehow docker manages to do it (i see something with "proxy" with netstat on the host).

[2015-03-13 21:13] cpuguy83 commented on #11376
No, it's not impossible to connect the container's network stack, this is done via the bridge and some iptables natting.
But also, the host cannot connect to the container's localhost, and vice-versa.

You can setup a proxy to proxy connections to localhost, but then that proxy would need to be listening on something not localhost... which defeats the purpose of having it on localhost.

[2015-03-13 21:20] cu commented on #7797
I see the same thing:

```docker run --privileged --volume=/proc:/proc image_name```

results in:

```FATA[0000] Error response from daemon: Cannot start container f38618d4f3580c01cdb901d29572e6979e0b4cb63d1d39ef79bf99b1fe827e0d: set apparmor profile unconfined: permission denied```

[code]

[code]

[2015-03-13 21:43] dmcgowan opened #11381 "Docker user agent not set when pinging registries"
Currently the ping logic for registries does not set the user agent as docker like other registry requests do.

[2015-03-13 22:18] #10220 closed

[2015-03-13 22:26] #10741 closed

[2015-03-13 23:28] duglin commented on #11165
@jfrazelle where's the right spot for this issue?  I don't think this is part of the docker/docker repo.

[2015-03-14 00:09] prologic opened #11382 "setup mount namespace pivot_root invalid argument"
I was hoping to find an answer to this but have only found an some old issues that seem similar:

* https://github.com/lxc/lxc/issues/61

and

* https://github.com/docker/docker/issues/1751

When I try to run a container I get:

[code]

This is statically built upstream ``docker`` running on ``linux-3.18.9``. The system has a ``busybox`` userland and no ``libc`` to speak of. ``iptables-1.4.14`` wa

[2015-03-14 00:15] swernli opened #11383 "TestPullVerified fails on Docker master branch"
Running the TestPullVerified test (as part of 'make test-integration-cli') fails on the current master branch because the expected string "The image you are pulling has been verified" does not appear.

[2015-03-14 00:32] swernli commented on #11383
This looks like it's an issue with running the test more than once.  Since change https://github.com/docker/docker/pull/10594 added the logic to only output the verification message if the image was actually downloaded, the test will fail the second time since the image already exists and is not downloaded again.

[2015-03-14 00:43] swernli commented on #11383
Here is the output I'm seeing (note the image is already present, so verified message is not shown):
--- FAIL: TestPullVerified (0.81s)
        docker_cli_pull_test.go:71: pulling a verified image failed. expected: The image you are pulling has been verified
                got: latest: Pulling from hello-world
                511136ea3c5a: Already exists
                31cbccb51277: Already exis

[2015-03-14 01:43] is commented on #11093
Yes, Docker registry mirror is good solution for enterprise level user.
But for personal user, it is a little complex.

[2015-03-14 04:41] jdef commented on #8551
+1 for `--cgroup_parent`

[2015-03-14 09:11] cadina commented on #3519
+1 from emacs user

[2015-03-14 10:08] candlerb opened #11385 "Throw error when `--lxc-conf` is used with native driver"
To replicate: run the docker daemon with `-b none` but *not* with any `-e` flag.

[code]

Expected behaviour: I think that docker run should reject any `--lxc-conf` option if the daemon is not using the lxc driver.

Test based on [this posting](https://goldmann.pl/blog/2014/01/30/assigning-ip-addresses-to-docker-containers-via-dhcp/). Further discussion [here](https://groups.google.com/forum/#!top

[2015-03-14 13:56] Batmat commented on #11371
It keeps coming. Please... Moreover almost always from the same ones...

[2015-03-14 14:12] pnasrat commented on #11371
@spf13 can you audit the list and ban the current spammers.

https://groups.google.com/d/msg/docker-user/YcKgXKuwKiw/5q9t2TVPS1wJ

[2015-03-14 14:16] hgomez commented on #11371
+1 to moderation

[2015-03-14 14:16] spf13 commented on #11371
I actually don't have access, but I've already alerted the people that do and asked for access myself so I can take care of it. I anticipate it will happen soon.

[2015-03-14 14:17] dexterddit commented on #11371
+1 to moderation

[2015-03-14 15:06] andrewmichaelsmith commented on #8279
So in Ubuntu 14.04 when I am chromecasting youtube videos launch a container will consistently kill the chromecast stream.

[2015-03-14 15:41] LK4D4 commented on #11385
Sorry, but `--lxc-conf` works only with `lxc` execdriver.

[2015-03-14 16:17] phemmer commented on #11371
On the subject of the docker-user google group, how about that intro? My own personal opinion, but the thing is overly huge, and doesn't even belong there. It reads like a sales pitch for docker, but that's what the docker web site is for (docker.com). It also hasn't been updated in ages: the first line still references http://github.com/dotcloud/docker.
Can we just get rid of it, or scope it so t

[2015-03-14 16:36] phemmer commented on #11376
Aside from what cpuguy83 has said, unix domain sockets would both solve this issue, and give you a performance boost as well.

Databases, such as postgres & mysql, support listening on unix domain sockets instead of TCP sockets. The advantages here are that you can forward unix domain sockets into a container via a volume mount (`docker run -v`). Unix domain sockets are also faster than TCP socket

[2015-03-14 16:48] candlerb commented on #11385
I think you missed the point.

I do not expect the option to work.

What I ecpect is an error to be shown if I try to use the lxc-conf option with the native driver. At the option is accepted.

[2015-03-14 16:53] jfrazelle commented on #11385
I changed the name and added white label as this would be an easy fix.

[2015-03-14 17:09] AndreiMuresan opened #11386 "RPM %post scripts are not executed after a "yum install" but marked as <defunct>"
Hello! My docker experience is not very big, that's why I wanted to ask you guys for some advises.
I'm trying to build a docker image, the final result should be a Drupal site, but I encountered some issues during the interactive building.
I have a drupal content RPM that should basically pupulate the drupal DB and the Files folder, all of this being executed as a %post rpm script. The content rpm

[2015-03-14 17:22] ethanocentricity commented on #11294
I am having the same issue intermittently.
```sudo docker run <options> my_private_registry:5050/imageName:tagNum```
runs an old image.

```sudo docker images`` doesn't list it.

I can force the image to get pulled with:
```sudo docker pull my_private_registry:5050/imageName:tagNum```
And then run uses the correct image.

[2015-03-14 17:28] dperson commented on #7952
@rhatdan if it's being tracked on a RedHat bugzilla, can you open this bug so that we can see the status? Thanks in advance.

[2015-03-14 17:30] dfarrell07 commented on #7952
+1

[2015-03-14 18:04] LucaRav commented on #4717
the thread started as a ulimit discussion/request but few asked and contributed with options and issues about kernel.shmmax and kernel.shmall. The default of 32MB is ridicolously small for databases unless you guys think Docker should just run web servers and scripting engines.
We need an option to
1)
define it from the outset (# docker run kernel.<option>=val) (thus avoiding having to run silly s

[2015-03-14 18:29] ewindisch commented on #4717
Sysctls aren't namespaced and should not be part of a 'docker run'. It might be reasonable to have this as a scheduling hint or "requirement" such that a container will indicate it needs a minimum shmmax/shmall in order to run... but running the container shouldn't actually change that setting.

[2015-03-14 19:28] q53 commented on #4717
Excuse me?
[root@host ~]# sysctl -a | grep shm
kernel.shm_rmid_forced = 0
kernel.shmall = 268435456
kernel.shmmax = 4294967295
kernel.shmmni = 4096
[root@host ~]# lxc-attach -n test-1 /bin/su -
[root@test-1 ~]# sysctl -a | grep shm
kernel.shm_rmid_forced = 0
kernel.shmall = 4294967296
kernel.shmmax = 68719476736
kernel.shmmni = 4096
vm.hugetlb_shm_group = 0

Some of sysctls is very namespaced.

[2015-03-14 20:40] spf13 commented on #11371
I'm now an admin. I've enabled moderation of new members and will work on the other suggestions here over the next few days.

[2015-03-14 20:40] #11371 closed

[2015-03-14 22:38] ewindisch commented on #4717
@q53 intresting. I did not know this. I'll confirm locally, but... interesting

[2015-03-14 22:44] jfrazelle opened #11388 "testing"
testng

[2015-03-14 22:44] jfrazelle commented on #11388
#dibs

[2015-03-14 22:47] spf13 commented on #11388
#help-wanted

[2015-03-14 22:48] orzel commented on #11376
I know very well what sockets are and i actually use them locally as well. I'm totally sold to sockets :-)
It's not always possible though (typically, i use some vserver that can't access it, but can connect to 127.0.0.1).
I hadn't thought about connecting to those from containers though, and that seems indeed a good idea.
iiuc, you mean something like
   docker run -v /var/run/mysqld/mysqld.sock:

[2015-03-14 22:53] phemmer commented on #11376
Docker can volume mount sockets without issue. However the one catch that would encourage using the directory. When the daemon listening on the socket restarts, it has to unlink and create a new socket. Thus if docker is sharing the named socket explicitly, it'll be sharing the old one. Thus it's better to share the directory in this case.

As for applications which only support domain sockets, I

[2015-03-14 23:28] #11388 closed

[2015-03-14 23:56] orzel commented on #11376
@phemmer : this last post of you is VERY useful. You should consider adding this to some documentation somewhere or at least in a blog post. I will definitely (volume) share the directory instead of the socket. I didn't know about socat, this is something very useful to know about in this context.

Thanks a lot !

[2015-03-15 01:06] bprashanth opened #11390 "Docker commit hang leading to deadlock across all commands"
I ran into some weird hanging deadlock issue with docker 1.4.1.

`history | grep docker`
[code]
I have a ghost kibana container at this point, I can't exec, stop, start it but docker ps shows it.

[code]

[2015-03-15 01:07] bprashanth commented on #11390
On ubuntu.
[code]

[2015-03-15 04:05] LK4D4 commented on #11390
Hmm, that's pretty funny that `docker ps` works and `docker version` not :)

[2015-03-15 05:12] xiaods commented on #11093
hey is, it doesn't make sense. what is complex? in china region,  i found a site:  daocloud.io provide a registry mirror service, have a try. it is very easy usage for user.

[2015-03-15 11:06] is commented on #11093
I know the daocloud.io, It has 10G monthly quota limit.

[2015-03-15 11:32] mikehaertl commented on #7296
I've also seen this on a Linux machine. I've tried to copy the PHP `vendor/` directory from a Yii2 composer installation to the host machine without luck:

[code]

The `composer.json` that was used during image build was:

[code]

[2015-03-15 11:35] thaJeztah commented on #11093
@xiaods @is I can see tips like that being valuable for people that have to deal with the GFW. Although I'm not sure if there's a good place for that somewhere in the documentation (an article? a mention in the FAQ?) could one of you write up something (e.g. "Using Docker behind the GFW")?

I'm not a docs maintainer, so it might be best to create a "proposal" issue first and see what the docs main

[2015-03-15 11:48] thaJeztah commented on #7296
@mikehaertl based on the error-message in your output, this looks like a different issue. My "best guess" here is that the relative path (`../`) is causing Docker to see the symlink to be outside the build-context (but I'm no expert here).

Could you search the issue tracker if a similar issue already exists and (if not) create a *separate* issue. When doing so, please include the minimal steps to

[2015-03-15 12:55] thaJeztah commented on #7565
Relates to https://github.com/docker/docker/issues/7974?

[2015-03-15 13:06] thaJeztah commented on #11386
@AndreiMuresan the issue tracker is not really the right place for support questions. Could you close this issue and use one of the following;

- the `#docker` IRC channel on freenode
- [docker-user](https://groups.google.com/forum/#!forum/docker-user) on Google Groups
- [forums.docker.com](https://forums.docker.com)
- [StackOverflow](http://stackoverflow.com/search?q=docker)

Thanks!

[2015-03-15 13:14] mikehaertl opened #11394 "FATA[0000] invalid symlink when copying a symlink with relative parent paths"
[code]

[code]

Tested on a Linux host. There was a similar issue (#7296) but it was suggested there, that I should rather create a new issue as the other issue was windows related and thus a different problem than this here.

UPDATE: Fixed the `Dockerfile`.

[2015-03-15 14:28] thaJeztah commented on #5989
Just linking in case it's useful; another issue related to GFW; https://github.com/docker/docker/issues/11093 (possibly useful tip as well here: https://github.com/docker/docker/issues/11093#issuecomment-80863259)

[2015-03-15 15:17] thaJeztah commented on #11365
It looks like this is not a bug in Docker, but a "support" question. The issue tracker is not really the right place for support questions. Could you close this issue and use one of the following;

- the `#docker` IRC channel on freenode
- [docker-user](https://groups.google.com/forum/#!forum/docker-user) on Google Groups
- [forums.docker.com](https://forums.docker.com)
- [StackOverflow](http://st

[2015-03-15 15:31] thaJeztah commented on #11197
I think PR https://github.com/docker/docker/pull/11274 is created for this?

[2015-03-15 15:52] thaJeztah commented on #11246
I think we can get more flexibility once https://github.com/docker/docker/pull/9934 (and https://github.com/docker/docker/pull/10775) has been implemented. It would still require changes to the Dockerfile though, to make sure the right permissions are set for each `COPY` / `ADD`.

/cc @duglin

[2015-03-15 15:57] thaJeztah commented on #11215
@theonlydavidlee @dmp42 have you been able to solve this issue on IRC? If so, could you close this issue (for housekeeping)? Thanks!

[2015-03-15 16:17] thaJeztah commented on #11181
$ sudo docker run nginx:latest &

Is there a specific reason to run the containers in foreground and not in detached (`-d`) mode? I.e.;

    $ sudo docker run -d nginx:latest

Is the issue reproducible if the containers are running detached?

[2015-03-15 16:47] thaJeztah commented on #11346
@HammerOfThor I see #10924 was merged; are you able to check if this issue has been resolved on "master"?

[2015-03-15 16:50] #11386 closed

[2015-03-15 17:16] thaJeztah commented on #11129
dup of https://github.com/docker/docker/issues/9841? Or is that different?

[2015-03-15 17:21] thaJeztah commented on #11079
@Vish0007 are you still having this issue? Based on https://github.com/docker/docker/issues/11079#issuecomment-76866942 there's currently not enough information to resolve this.

[2015-03-15 17:24] mitchcapper commented on #11246
Without a doubt adding those additional options are good, but I don't think a lot of Dockerfiles will use those by default.   Right now building on windows will not result in the same image as building on linux (and not just not the same but will not work as non-root in most cases).   In addition even users who are savvy enough to build their own dockerfiles for windows and understand the problem

[2015-03-15 17:28] thaJeztah commented on #11130
@Silex thanks for reporting, but this is a duplicate of #4351. Could you close this to keep down the number of issues? You can continue the discussion on #4351. Thanks!

[2015-03-15 17:33] thaJeztah commented on #11246
@mitchcapper I agree the current situation isn't ideal; there was some discussion around this and decided that this was the "least worst" solution because of the limitations on Windows, also with security issues in mind.

[2015-03-15 17:37] mitchcapper commented on #11246
Jeztah I just am not sure when a windows user would actually expect owner only permissions by default.  In addition that security only is ever better in a case when a container starts as root and drops to another user and that user should not be accessing that sensitive file (not supposed to be stored in a docker image anyway).   In any other situation there is no security benefit I can see.

Just

[2015-03-15 17:48] bboreham commented on #9406
Note [this change](https://go.googlesource.com/go/+/51d66601c45572484ed20f3a2be6f67d648b5f22) to the Go flag package to stop mentioning "=false" when that's what the flag defaults to.

[2015-03-15 17:48] cpuguy83 commented on #11376
@orzel https://docs.docker.com/userguide/dockervolumes/#mount-a-host-file-as-a-data-volume

I'm going to go ahead and close this one, let me know if you think there's something else we can do here.
Thanks!

[2015-03-15 17:48] #11376 closed

[2015-03-15 17:53] thaJeztah commented on #9406
@bboreham thanks for the heads up, that *does* look a lot better!

[2015-03-15 18:06] #11215 closed

[2015-03-15 18:06] dmp42 commented on #11215
@theonlydavidlee let me know if you fixed your issue, or are still looking for help.
You can rea

[2015-03-15 18:06] dmp42 commented on #11215
@theonlydavidlee let me know if you fixed your issue, or are still looking for help.
You can reach out on irc or the forums for general user support.

[2015-03-15 18:14] bprashanth commented on #11390
no, nothing worked till I changed data directories; docker version would start printing version info then hang just before exiting.

[2015-03-15 18:19] Silex commented on #11130
Alright, but I think my proposal is different than the one at #4351

[2015-03-15 18:19] #11130 closed

[2015-03-15 18:20] Silex commented on #4351
I was asked to merge my issue into this one, my proposal was like so:

[code]

[2015-03-15 19:18] phemmer commented on #11394
First, can you provide `docker version` and `docker info`? I cannot reproduce this issue.

Second, I don't think this will do what you expect it to do.
Each `RUN` line is executed in a completely new container (and thus shell). Commands like `cd` are shell commands that affect the running shell. So the next line is a new shell and the working directory is not preserved.
You want one of:

    RUN c

[2015-03-15 19:38] cyphar commented on #7296
@thaJeztah I'm pretty sure I fixed the outside the build context problems in `docker cp` quite a while ago, everything is meant to be scoped to root. I'll take a look.

[2015-03-15 20:04] mikehaertl commented on #11394
I've just used several `RUN` commands to make it easier to read, but you're right with the `cd` of course. I can still reproduce it with a combined `RUN`:

[code]

I came accross this problem, when I tried to copy the `vendor/` directory of a Yii2 installation from a container to the host and it failed.

[code]

My OS is actually Linux Mint 17.1 (based on Ubuntu 14.04 LTS).

[2015-03-15 20:16] thaJeztah commented on #7296
@cyphar it could well be resolved already, that's why I also asked for a repro scenario. I see a new issue is created here; https://github.com/docker/docker/issues/11394. Thanks for watching it!

[2015-03-15 20:27] gcuisinier commented on #11094
I'll work on this if possible

[2015-03-15 21:05] djannot commented on #10488
@jfrazelle I've tried with the current version and CoreOS running on ext4 + OverlayFS. Everything is now working fine. So, I think the issue was due to BTRFS

[2015-03-15 21:53] orzel commented on #11376
er??? I know how to use both types of docker 'volumes'. That's not the point.
My point about documentation is that both excellent Phemmer's points should be added to the documentation.
1) use volumes to make the socket available in container, using a volume on the directory containing the socket instead of only the socket.
2) use socat to provide a localhost(127.0.0.1) tcp connection inside the ho

[2015-03-16 00:38] icecrime commented on #10934
My vote:
- (4) as a better human-readable output
- a new flag (`--json`?) providing a **true** computer-readable output

[2015-03-16 01:14] hanxy commented on #11283
@unclejack ok, thanks, I will try it.

[2015-03-16 03:08] nealmcb commented on #10451
Hmm - now that I look at https://help.github.com/articles/keeping-your-email-address-private/ I see that <name>@users.noreply.github.com is actually recommended for use by authors that don't want their real addresses to be spammed.  So I'm wondering if it is proper that we have translated that form of address for 12 folks to actual email addresses in .mailmap.  And that also complicates the notion

[2015-03-16 06:19] SvenDowideit commented on #11184
This is a bit surprising - `contrib/check_config.sh` contains lines that `check_flags EXT4_FS_POSIX_ACL EXT4_FS_SECURITY | sed 's/^/  /'` and `CONFIG_CPUSETS` is also there.

[2015-03-16 07:22] fxposter commented on #9605
I've tried to upgrade to latest backport kernel for debian squeeze and these problems still appear. I will try to upgrade to debian 8 and check if it has the same problems (cause it has basically the same kernel), but what is the recommended linux for running docker now? I see that CoreOS is already on kernels newer than my debian's.

[2015-03-16 07:33] k3ck3c opened #11398 "sort docker stats"
docker stats could be enhanced with a sort on any column, e.g. hit 2 -> sort by cpu usage, 5 -> sort by network I/O downloading, 6 -> sort by network I/O uoloading

[2015-03-16 07:34] k3ck3c opened #11399 "refine search in the registry"
Exemple: when searching for wine on http://registry.hub.docker.com/ I get all the containers created bu the user simonswine. Is it possible to refine the search by user and container ?

[2015-03-16 08:16] nomadster commented on #2733
+1

[2015-03-16 08:30] Vish0007 commented on #11079
I have these issues still.
But somehow cannot copy the registry logs here.

Whats  that you are suspecting it to be? I can check those.

Btw what was the problem fixed with docker 1.5 which could have caused this
issue?

Thanks.

On Sun, Mar 15, 2015 at 10:52 PM, Sebastiaan van Stijn <
notifications@github.com> wrote:

[2015-03-16 08:34] Mashimiao commented on #11385
Hello,
I sent a pull #11401, trying to fix this issue

[2015-03-16 09:56] gdm85 commented on #4717
@LucaRav agree with you and looking forward for a way to consistently implement this.

[2015-03-16 10:44] fbiville commented on #11129
I'm not sure it's related.

This issue is about having a standalone command like `docker effective-dockerfile /path/to/Dockerfile` that outputs all layers in order in a single generated "effective" Dockerfile.

It does not necessarily imply its inclusion in the image like #9841 describes.

[2015-03-16 10:58] miminar opened #11404 "Docker does not check kernel's setting concerning bridge traffic filtering"
Kernel has several parameters controlling filtering of bridge traffic (viz [sysctl entries](https://git.kernel.org/cgit/linux/kernel/git/torvalds/linux.git/tree/Documentation/networking/ip-sysctl.txt?id=v3.16#n1438)):

 - `net.bridge.bridge-nf-call-arptables` - pass bridged ARP traffic to arptables' FORWARD chain.
 - `net.bridge.bridge-nf-call-ip6tables` - pass bridged IPv4 traffic to iptables' ch

[2015-03-16 11:00] gtirloni commented on #5684
Tested this on Fedora 21 x86_64. Providing information for comparison purposes only as the issue does not seem to be present (anymore?). Same results using centos:7 or ubuntu:trusty images.

[code]

System information:
[code]

[2015-03-16 11:00] huahuiyang opened #11407 "Docker Container DNS resolving slow or timeout, when it's bridge net mode"
Use the bridge net mode(default setting --net="bridge"), add -v /etc/resolv.conf:/etc/resolv.conf when run a brand new container.
Do a simple 'ping google.com' in container, and see "ping: unknown host google.com" error message occasionally. Most time it works well.
But It works well when use host net mode(--net="host") all the time as I test.

My env is Ubuntu12.04+docker1.5.0+linux kernel3.2.0-7

[2015-03-16 12:12] thaJeztah commented on #11129
Ahm, I mis-interpreted what you're asking then; I thought you wanted to be able to (e.g.) `docker inspect <image>` and be able to extract the `Dockerfile` that was used to create the image.

[2015-03-16 12:13] goldmann commented on #6119
This behavior really, really needs to be changed to make sure `ADD` uses current `USER`. Current way of implementing it with `chown`:

1. Created 3 (sic!) unnecessary layers
2. Makes `Dockerfile` ugly
3. Is totally not intuitive.

[2015-03-16 12:25] rhatdan commented on #7952
I have asked to open up https://bugzilla.redhat.com/show_bug.cgi?id=1178944 but I have no control.

There is not much info there anyways.

But it is a top priority for us.

[2015-03-16 12:48] phemmer commented on #11407
Can you provide the contents of your `/etc/resolv.conf`?
My guess is that you have an entry such as `nameserver 127.0.0.1` in there.

Is there any particular reason you're passing `/etc/resolv.conf` as a mount bind? Docker should already take care of creating `/etc/resolv.conf` inside the container.

[2015-03-16 13:04] orzel commented on #11184
Not here, in docker-1.5.0.tar.gz:contrib/check-config.sh i have nothing related to "CONFIG_CPUSETS" and the ext4 stuff is only tested for other storage backends. The overlay backend check for exactly one setting (OVERLAY_FS), no less, no more.

[2015-03-16 13:42] jtison commented on #11356
@lsm5 it says: device-mapper-libs-1.02.79-8.el6.x86_64

Your remarks about 6.6 give me a little hope, I'm about to be forced into an upgrade (this week?) to 6.6, so I'll just wait and see, unless you'd rather I confirm your advice to manually upgrade device-mapper-libs. My schedule is a little nuts this week; but if you need me to do this, I'll certainly give it a whirl.

The pain, by the way, is

[2015-03-16 14:59] gdm85 commented on #10781
@larsks thanks for looking into this! @jfrazelle I am using 1.5.0 but I am not affected by this issue, as I have:
[code]
in my iptables.

[2015-03-16 15:26] scf37 commented on #5684
Just run into this on Docker 1.5, Ubuntu 14.04
[code]

[2015-03-16 15:53] LK4D4 commented on #11390
That's pretty weird. I can't reproduce with master. Could you try 1.5.0, pls?

[2015-03-16 16:30] cpuguy83 commented on #11376
@orzel I would say it's not valid since it is literally impossible to do this.

[2015-03-16 17:22] dmcgowan commented on #11383
This was caused by #11265, I will see if we can come up with an alternative way to test pulling verified images. `hello-world` is normally used for pull tests since it is the smallest image.

[2015-03-16 17:24] techniq opened #11413 "docker history timestamp"
I was looking for a way to determine how long it was taking each of my layers to create/run so I thought I could look at the time each layer was created with `docker history some_image` but the field always shows a "humanize" timestamp such as `About an hour ago`.  Since my project's `docker build .` takes about 7 1/2 minutes, all of the layers show `About an hour ago` and thus are not helpful.  I

[2015-03-16 17:33] mahnunchik commented on #8911
+1

[2015-03-16 17:34] MrMMorris commented on #5618
Ran into this on Ubuntu 14.04 and Debian jessie w/ kernel 3.16.x.

Docker command:

`docker run -t -i -v /data/sitespeed.io:/sitespeed.io/results company/dockerfiles:sitespeed.io-latest --name "Superbrowse"`

This seems like a pretty bad issue...

[2015-03-16 17:37] jfrazelle commented on #11399
Hi! hub issues go to support@docker.com or forums.docker.com :) thanks!

[2015-03-16 17:37] #11399 closed

[2015-03-16 17:45] aanm commented on #10934
Why can't we have all options?

[2015-03-16 17:51] swernli commented on #11383
Would it be possible to rework the test such that it checks for the presence of the hello-world image and deletes it if it is already there?

[2015-03-16 17:56] dmcgowan commented on #11383
My first attempt to fix is by changing the tag for the frozen image such that `hello-world:latest` is always pulled. I am uncomfortable with removing a local image which was placed there by the frozen script since any subsequent tests are making an assumption about its presence and version.

[2015-03-16 18:08] vbatts commented on #5429
i'm not seeing this issue. I'm on 3.18.7, mounted with options `rw,noatime,seclabel,ssd,discard,space_cache,commit=90`

[2015-03-16 18:23] danielrolnick opened #11414 "Docker Image Removal Bug By Id"
There is a bug with image removal where an image with multiple tags will be allowed to be removed regardless of whether that image is in use or not if you try to remove by id.

Steps to Reproduce:

    # docker pull drolnick/spin:v2
    Pulling repository drolnick/spin
    38b8f2f5dc2b: Download complete
    511136ea3c5a: Download complete
    36669626e49c: Download complete
    d5570ef1464a: Down

[2015-03-16 18:24] amlwwalker opened #11415 "connecting to a volume container from a container (--volumes from) over remote API"
I want to create a volume container and --voumes-from it using the remote API.
It works fine when I do all of this from the terminal
**Create**:
Creating S_ENABLED from the command line

    docker run -v /home/vagrant/docker/examples/sites-enabled/:/etc/nginx/sites-enabled --name S_ENABLED centos:7 true

Creating S_ENABLED from API:

    curl -X POST -H "Content-Type: application/json" -d '{ "Cmd

[2015-03-16 18:51] colinmorelli commented on #11414
In the most common case (that @danielrolnick mentioned above), the implications of this bug are that the docker daemon loses track of the images. The daemon believes the images have been deleted, but all layers/diffs in the aufs directory are still present.

However, we have seen (in specific scenarios that we are trying to replicate) that this has actually caused  corruption of the AUFS filesyste

[2015-03-16 19:14] olibob commented on #9118
I just ran in this issue with a self signed certificate.

- access via a browser: OK (accepting the self signed cert)
- access via `curl --cacert` : OK
- access via `docker login` : NOK
- access via `docker login` after  #9118 (comment) : NOK

So close!

[2015-03-16 19:15] vbatts commented on #9874
so, i'm testing this on 4.0.0-rc3 and not seeing _those_ two failures, instead i am seeing:
[code]

[2015-03-16 19:27] colinmorelli commented on #11414
Appears to stem from the following section of code:

[code]

If I'm reading this correctly, if you are deleting by ID instead of by tag, then docker reverse looks up the image ID to get an array of all matching repos, and parses the tags out of each one of those. Those tags are then all appended to the `tags` array. Docker bypasses the `canDeleteImage` check unless the length of `repos <= 1` (whic

[2015-03-16 19:34] thaJeztah commented on #11414
@colinmorelli is this related to https://github.com/docker/docker/pull/11058?

[2015-03-16 19:35] vbatts commented on #10294
presently is not supported. Red Hat is tracking getting xfs to support overlayfs here: https://bugzilla.redhat.com/show_bug.cgi?id=1158888

[2015-03-16 19:38] colinmorelli commented on #11414
Yes and no. We're not doing force deletions, but it's the same general area of code causing problems (as far as I can tell). Interestingly, we're seeing the inverse of what that PR suggests (we're seeing that, without a force delete, deleting an image by ID deletes all tags *and* the underlying image)

[2015-03-16 19:44] thaJeztah commented on #11414
@colinmorelli yeah, it sounded *different*, but I thought the other PR would be worth mentioning before you started coding :)

[2015-03-16 19:45] #10959 closed

[2015-03-16 19:57] ChaosEngine commented on #10294
@vbatts  "You are not authorized to access bug #1158888." but...thanks for the tip

[2015-03-16 20:07] vbatts commented on #10294
@ChaosEngine ah sorry :-\
none the less, there is work happening to support overlayfs on xfs

Though I'm not sure whether we should explicitly _not_ attempt it, like we do for btrfs and other non-supported underlying filesystems.

[2015-03-16 20:16] jordemort commented on #9547
I was having a similar issue; switching to the 'overlay' storage driver seems to have resolved it.

[2015-03-16 20:20] tdoan1971 opened #11421 "docker -p option not working?"
I built a MySQL image on top of RHEL6.5 base. I can start the container with "bin/bash" shell and start MySQL service. I can use mysql client inside the container to query, etc.

However when I try to start MySQL container in the background and expose the port so that I can connect to the container remotely, I have the issue.
Here is the command: "docker run -d -p 3306:3306 --name mysql tdoan/mysq

[2015-03-16 21:23] #11383 closed

[2015-03-16 21:33] Symmetric opened #11425 ""NetworkMode": "none" failing for some containers on Docker API version 1.16"
I'm trying to create a container with --net=none using the REST API v1.16. The [API docs](https://docs.docker.com/reference/api/docker_remote_api_v1.16/), are unclear on whether this is supported over the REST API:

Though I figure it must be, since the Docker-Client can set NetworkMode: "none".

I'm seeing weird results when I try to set this config parameter; here's the HostConfig from `docker i

[2015-03-16 21:37] WhisperingChaos commented on #7149
Chained Build's entangled coupling creates artificial dependencies between links (build steps) in the chain, resulting in following build time deficiencies when compared to better encapsulated solutions:
+ Diminished performance of cached builds, as all statements of a chained build's exposed implementation trigger a cache validation.  This includes the ADD/COPY statements necessary to construct t

[2015-03-16 21:39] #10781 closed

[2015-03-16 22:05] LK4D4 commented on #10774
It's superfun, because `A` on restarting releasing IP of `B` :) Tracking problem now

[2015-03-16 22:06] icecrime commented on #11381
Closed by #11424?

[2015-03-16 22:07] dmcgowan commented on #11381
yes, forgot this was here, sorry

[2015-03-16 22:07] #11381 closed

[2015-03-16 22:22] dmcgowan commented on #11346
This issue is still relevant. It will keep a blank line from showing up at the end but still not the desired output when containing multilines. With an nginx error page I now end up with `FATA[0000] </html>` instead of `FATA[0000]`.

[2015-03-16 23:27] #11346 closed

[2015-03-17 01:07] dmp42 commented on #11079
I can't "guess" without logs, sorry...

[2015-03-17 01:21] #10859 closed

[2015-03-17 01:55] cpuguy83 commented on #11415
VolumesFrom belongs in HostConfig.

[2015-03-17 04:52] ibuildthecloud opened #11432 "Fail to start a container from 1.5.0 in master"
If I create simple a container in Docker 1.5.0

    docker run -it --name foo ubuntu

Then I pull master (b6ac111abfb) and run the build.  Doing

    docker start -a foo

Fails with the following

[code]

[2015-03-17 04:57] llitfkitfk opened #11434 "ssh to tutum/centos container immediately closed on centos 6.6"
Host: centos6.6
Docker version: 1.4
container: tutum/centos

![c705def7-0fdb-4329-b6d1-00a8532257f6](https://cloud.githubusercontent.com/assets/2404785/6681663/2fe46b82-cca5-11e4-96bb-3c3aa4ff0dbe.jpg)

[2015-03-17 05:09] Pensu opened #11435 "Git commit missing from contributor guide"
In the 9th step of 'create and push a branch' here ,
 https://docs.docker.com/project/set-up-git/ , while demosntrating git commit, it says

git -s -m "Making a dry run test."

which should be

git commit -s -m "Making a dry run test."

I would like to work on it, if triaged!

[2015-03-17 05:24] ibuildthecloud commented on #11432
Sorry if this is a dup of another issue, but here's what I've found.  If `/var/lib/docker/execdriver/native/ID` exists when a container goes to start it will fail at https://github.com/docker/docker/blob/b6ac111abfbed628a80b67f0b092a248083b354c/vendor/src/github.com/docker/libcontainer/factory_linux.go#L134

It seems that in the new native driver/libcontainer the `/var/lib/docker/execdriver/native

[2015-03-17 05:28] Batmat commented on #11371
@spf13 Beware that there seems to be a lot of already registered users that are actually only spammers. I don't know if you monitor docker-user, but there was another spam 5 minutes ago with the title "Best ETL TESTING Training", and that's indeed not the first mail from that "krishnasuma234@gmail.com"

[2015-03-17 05:32] LK4D4 commented on #11432
@ibuildthecloud Yup, something wrong with destroy in second case and we should delete all dirs of course in first.
I'll take a look tomorrow.

[2015-03-17 05:34] ibuildthecloud commented on #11432
@LK4D4 thanks

[2015-03-17 06:05] andrewpollock commented on #5228
I think the big difference between the example of the Linux kernel package and Docker is that the Linux kernel image packages are intended to be installed side by side and as such don't introduce any file conflicts with each other. That isn't the case with here.

I've spent a bit of time this afternoon looking at if there's a more appropriate way to express the dependencies between the lxc-docker

[2015-03-17 06:10] visualphoenix opened #11438 "RHEL 6.6: Cannot start container. System error: mountpoint for perf_event not found."
[code]

[code]

[code]

[code]

[code]

Seems to be related to a97fbe7d7819041e605048ab386bbd5fba2d5b33 not fully supporting RHEL kernels. Would be nice to have this fixed before 1.6 (so as not to break all of RHEL <7)

[2015-03-17 06:14] visualphoenix commented on #11438
ping @crosbymichael @LK4D4 - probably another issue related to upgrading to the new libcontainer mentioned in #11432

[2015-03-17 06:30] Pensu commented on #11435
Looks like it was closed 2 days ago! Closing it!

[2015-03-17 06:30] #11435 closed

[2015-03-17 08:58] stucki commented on #5228
Looking at the past comments again, I wonder about this:

Quote @tianon:

Do you think this still applies? I don't think so (and never did).
Ever since I'm working with Docker I never had a single reason to go back to an older version. So, what's that scenario and how many users will really need it?

Unfortunately, waiting for reprepro doesn't help us much because it seems there's no further work

[2015-03-17 08:59] stucki commented on #5228
If you agee then I can take care of adding the changes to the release script. Let me know!

[2015-03-17 10:53] UserTaken opened #11439 "Force Read Only"
The recent addition of being able to run containers as read only can be useful so it'd be great if there are ways enforce it to run as read only everytime without having to specify during `docker run/create` such as in a Dockerfile or when creating images manually.

[2015-03-17 11:01] tehsenaus commented on #3155
+1

At the moment if the source container crashes, all dependent containers must be restarted too. A big problem for fault tolerance.

[2015-03-17 11:20] x1022as commented on #11414
@colinmorelli here is the difference:
Assume this case, `repo:tag1` `repo:tag2` ... with same imageID, `docker rmi $imageID` will untag all and delete the image because they have same repo name, the tags do not matter.

In another case, `repo:tag`, `repo1:tag1`, `repo2:tag2` ..., `docker rmi $imageID` will just untag a random image because of the different repo names.

#11058 will untag all these

[2015-03-17 11:55] tdoan1971 opened #11440 "Can Docker really support distributed system?"
I see a good benefic of Docker but I wonder if it can fully support a distributed system?
My system has a WebApp, MySQL, and several other backend, middle tier components. Each component run on a separated RHEL6.5 VM host and each component has 2 or 3 processes/applications such as: nginx, freeswitch, redis, tomcat web, ruby rails, etc.

My question is that can I dockerize all components, have com

[2015-03-17 12:34] colinmorelli commented on #11414
@x1022as that clears it up a lot. In our case, all instances have the same repo name, which explains the difference in behavior. I agree with #11058 (`docker rmi -f <image>`) should remove *all* repos/tags and the underlying image

[2015-03-17 12:35] phemmer commented on #11440
Questions like this are probably better suited for the mailing list: https://groups.google.com/forum/#!forum/docker-user

The issue tracker is generally for bugs and feature requests.

[2015-03-17 12:42] unclejack commented on #11440
As @phemmer has stated above, this kind of question is better suited for the forums https://forums.docker.com/ and the Google groups.

The short answer is that yes, you can probably run all components of your apps in containers.

This isn't a Docker bug or problem. This bug tracker is meant to discuss bugs and problems discovered while using and developing Docker.

Since this isn't a bug, the ques

[2015-03-17 12:42] #11440 closed

[2015-03-17 12:45] unclejack commented on #11434
Please provide the full output of `docker info`, `docker version` and `uname -a`.

[2015-03-17 13:23] cpuguy83 commented on #3155
@tehsenaus That should no longer be the case, except with the env vars themselves. The `/etc/hosts` entries are kept up to date.

[2015-03-17 13:31] tehsenaus commented on #3155
@cpuguy83 OK - do you know which version this is fixed in?

[2015-03-17 13:39] cpuguy83 commented on #3155
@tehsenaus Probably 1.3?... I know there was a bug in the updater that got fixed in 1.5, where if you used an alias for the link name (ie `--link crazy_wozniak:db`), it was not updating properly, where as if you used the actual container name for both it was.

So basically 1.5 should work 100% there.

[2015-03-17 13:44] tgpfeiffer commented on #3155
@cpuguy83 Really, `/etc/hosts` is updated when a linked container is restarted? (Only when it crashes?) Is there any documentation to which extent this holds etc.?

[2015-03-17 13:48] cpuguy83 commented on #3155
@tgpfeiffer https://docs.docker.com/userguide/dockerlinks/#updating-the-etchosts-file
It's always updated any time the linked container is started.

[2015-03-17 13:51] zeeraw opened #11443 "Whitespace characters (new-line & tab) in environment variables"
### Problem
When I specify variables including escaped whitespace characters (`\n`, `\t`) I'd expect a way to have them interpreted. The way I've seen this solved in other configuration tools (eg. YAML) is to interpret backslash escaped characters in strings specified with double quotes, so that's what I've tried without success.

### Reproduce
#### -e

When I try to pass a single variable with do

[2015-03-17 14:10] zeeraw commented on #11443
Repercussions of this in languages like Ruby or Python are double escaped strings.

[code]

[2015-03-17 14:17] vbatts commented on #4036
I have just:
* spun up an ubuntu-14.04.2 server, with latest updates
* cloned docker HEAD (8ae20d8eba127361bc07260580e2d3b8e3628c3e)
* built docker with `DOCKER_BUILDTAGS=btrfs_noversion AUTO_GOPATH=1 ./hack/make.sh dynbinary`
* following is the info and versions
[code]

I've left this machine running in loops all night and it has _not_ hit the error once. I believe there are ways to mitigate this

[2015-03-17 14:33] duglin commented on #11443
This might be fixed by: https://github.com/docker/docker/pull/10431

[2015-03-17 15:19] duglin commented on #11443
I just checked and #10431 does fix this with one caveat.... the quotes in the env-file need to be removed otherwise you'll see them in your output.  Which makes sense because when you specified them on the first command, the shell removed them before docker saw them.

/cc @tiborvass

[2015-03-17 15:20] duglin commented on #11443
Closing as a dup - if you think I'm mistaken please let me know.

[2015-03-17 15:20] #11443 closed

[2015-03-17 15:31] icecrime commented on #10934
@aanm Because we are the ones maintaining the code after it's merged.

[2015-03-17 15:50] spf13 commented on #11371
Thanks @Batmat. I've banned the ones I saw. I've also been trying to create a new "moderator" role that we will give out to a handful of community members so they can police this as well. Unfortunately Google Groups has a bug that seems to prevent me from creating any roles. It says it's saved, but then doesn't actually create it. I've tried a few times now.

[2015-03-17 15:54] Stono commented on #10412
Yeah I've got this too, also emailed

[2015-03-17 16:07] cpjreynolds commented on #11067
I'll work on this.

[2015-03-17 16:17] jfrazelle commented on #11385
Closed by #11401

[2015-03-17 16:17] #11385 closed

[2015-03-17 16:19] estesp commented on #11067
It might be worth checking master to verify this still happens.  There was a PR merged yesterday (#11424) which make sure to use the factory rather than a new HTTP connection for the ping--still not sure from the code how a double GET of /v2/ping is occurring, but glad someone has time to look into this!

[2015-03-17 16:40] zeeraw commented on #11443
@duglin Just to clarify, when loading from the env file, escaped characters will be interpreted without using quotes?

[2015-03-17 16:42] cpjreynolds commented on #11067
Thanks for the heads up! I looked over the PR you linked and it appears as though none of the logic as to when requests are sent has changed, which would suggest the issue may still exist. I'll pull the new changes from master and try to replicate this, then go from there. Glad to help!

[2015-03-17 16:43] duglin commented on #11443
@zeeraw I think so.  Since there's no shell involved I think its safe to think of them as having an implicit double-quote around it.

[2015-03-17 16:46] zeeraw commented on #11443
@duglin Seems legit, do the test cases in #10431 cover this too?

[2015-03-17 17:02] ncdc commented on #10392
FYI #11118 has been merged, and the corresponding PR for the v2 registry has as well.

[2015-03-17 17:04] slmingol opened #11446 "How old a Linux kernel can I run/reference inside a docker container?"
I googled a bit to try an ascertain this and came up empty. Is there a specific version of the Linux kernel that cannot run inside a container? This is purely an academic question, but was wondering.

[2015-03-17 17:09] unclejack commented on #11446
@slmingol The Linux kernel doesn't run in the container. Did you mean to ask what's the oldest kernel which can run Docker and Docker containers?

[2015-03-17 17:15] slmingol commented on #11446
@unclejack - yeah I realize that it's not actually a VM with a full install inside the container, forgive my ignorance, I wasn't really sure how to ask the question. Ultimately if I had an application that would only run within say a CentOS 3 environment, and I was able to install it into such an environment, could I run this application within a container? The docker install would be running on C

[2015-03-17 17:29] unclejack commented on #11446
@slmingol It's OK, I just wanted to make sure I understand your question to try to help.

You could produce tarballs with your desired CentOS version (3, 4, 5) to produce Docker images to run them as containers on CentOS 6.

There's no reason why that wouldn't work - as long as the binaries running in the container (libc, ABI compatibility, sycalls, etc) are still compatible with the 2.6.32 kernel

[2015-03-17 17:29] #11446 closed

[2015-03-17 17:36] jperrin commented on #11446
Officially we'll only deal with centos5 or higher, as it's still supported, while the others are EOL.

Realistically, I've blogged about running centos-4 in a container

http://jperrin.github.io/2015/01/19/i-do-terrible-things-sometimes

The same procedure for 4 will work for CentOS 3 as well(I know. I did it). I didn't do overly extensive testing, but the basics (apache, yum, etc) worked fine.

[2015-03-17 17:55] duglin commented on #11443
No because #10431 is just a `docker build` thing.  The `--env-file` option is for `docker run`.

[2015-03-17 18:11] #11023 closed

[2015-03-17 18:57] aanm commented on #11187
I've started implementing labels on compose.
https://github.com/docker/compose/pull/1124

[2015-03-17 19:57] MrMMorris commented on #5618
@jbalonso even with 3.13.0-32-generic I get the error after only a few successful runs :sob:

[2015-03-17 20:09] rsampaio commented on #5618
@MrMMorris could you share a reproducer script using public available images?

[2015-03-17 20:36] gcuisinier commented on #11094
First draft here : https://github.com/gcuisinier/docker/tree/11094-allow-import-from-file

[2015-03-17 21:00] dmcgowan commented on #10294
@vbatts thanks for the insight (not for the link), I am seeing this issue as well.

[2015-03-17 21:08] vbatts commented on #10294
It is nothing magical, just that xfs does not support RENAME_WHITEOUT and RENAME_EXCHANGE. This rfe is being worked on.

[2015-03-17 21:49] #11230 closed

[2015-03-17 21:52] tianon commented on #11432
Just restarted my daemon and I'm seeing the same behavior -- containers fail to start back up with the same cryptic error.

Can confirm that simple `rmdir` on the `/var/lib/docker/execdriver/native/ID` directory in question lets me `docker start` the relevant containers again.

[2015-03-17 21:53] tianon commented on #11432
I've got other containers where `/var/lib/docker/execdriver/native/ID` isn't empty though, so the simple `rmdir` doesn't fix the issue.

[2015-03-17 22:02] bomba1990 opened #11449 "Docker pushing FATA[3717] FATA[3791]"
Hi, i want to submit this issue, because i have all the day try to pushing a image to a private repository and it throw error.

There is mi error:

[code]

[2015-03-17 22:26] tphyahoo commented on #6324
Could this have label project/security added?

[2015-03-17 22:55] tphyahoo commented on #2918
Could this have label project/security added?

[2015-03-17 22:58] tphyahoo commented on #7906
Could this have label project/security added?

[2015-03-17 23:31] tphyahoo commented on #9719
Could this have label project/security added?

[2015-03-17 23:59] tphyahoo commented on #6324
Since I can't add labels myself, I commented on the issues that seemed to me most critical to improving security. These are probably all relevant to the current meta issue:

https://github.com/docker/docker/issues?q=commenter%3Atphyahoo+security

Perhaps an admin can follow up with proper labels for follow-up.

[2015-03-18 01:16] jfrazelle commented on #10363
This is happening again, I have no idea why, but I did the exact same thing again and updated to docker master

[2015-03-18 01:17] jfrazelle commented on #10363
[code]

[2015-03-18 01:23] jfrazelle commented on #10363
nm fixed it had to enable the lxc-containers profile

[2015-03-18 01:39] jfrazelle commented on #9015
yes yayyyyy!

[2015-03-18 01:39] #9015 closed

[2015-03-18 02:20] hqhq commented on #4036
@vbatts
I did exactly what you did, not work for me.

[code]

[2015-03-18 02:23] hqhq commented on #4036
If this works for you, means udev on ubuntu 14.04 is not too old to support udev sync? So what is the root cause then?
I'm trying to upgrade udev on Ubuntu 14.04, seems not necessary?

[2015-03-18 02:46] llitfkitfk commented on #11434
![147a2bd7-58d2-4bec-8a45-4374df364bac](https://cloud.githubusercontent.com/assets/2404785/6701751/f7de8bb6-cd5b-11e4-8823-c1eee91b482b.jpeg)
![f862690c-3bbe-460b-a221-05f963bf8468](https://cloud.githubusercontent.com/assets/2404785/6701753/ffc7551a-cd5b-11e4-8b06-81ee8e6f3dec.jpeg)
![screen shot 2015-03-18 at 10 40 50 am](https://cloud.githubusercontent.com/assets/2404785/6701755/040ae09c-cd5c-11

[2015-03-18 04:47] huahuiyang commented on #11407
@phemmer
contents in my /etc/resolv.conf:
nameserver 10.16.99.87

just a inner dns server, my test script is as follows:
docker run busybox ping -c 1 www.google.com

about 1% rate, I will see error message "unknown host www.google.com".

[2015-03-18 04:49] huahuiyang commented on #11407
@phemmer
btw, it works well all the time when I run this script:
docker run --net="host" busybox ping -c 1 www.google.com

[2015-03-18 04:50] huahuiyang commented on #11407
ping @jpetazzo

[2015-03-18 05:21] phemmer commented on #11449
The docker daemon logs might have some better insight into the issue. Could you provide them for the timeframe surrounding the failed push?

[2015-03-18 06:31] huahuiyang commented on #11407
Can we fix this bug by upgrade some network module (without upgrade OS or kernel)?

[2015-03-18 06:51] ljani commented on #10207
I haven't used `firewall-config` but `firewall-cmd` to move `docker0` to `trusted` zone. `sudo iptables -t nat -nvL | grep DOCKER` returns nothing for me either:

[code]

I'm also on Fedora 21, the [Server edition](https://getfedora.org/en/server/) though.

I think `firewalld` is interfering with raw `iptables` access and thus causing problems.

There's another problem that `--permanently` moving

[2015-03-18 08:51] paschdan commented on #7336
:+1:

[2015-03-18 08:53] pghalliday commented on #8446
If i understand the use case correctly, I currently achieve this using environment variables and an `ENTRYPOINT` script that generates server configuration files using `sed`. It seems a bit brute force though and I think gets run everytime `docker run` is called (which is usually only once unless I'm debugging). Also it should be noted that the templating is running on the container and not the ho

[2015-03-18 09:59] asbjornenge opened #11460 "API retrieve exact cli command"
Hi guys!

I'm having an issue where I'm trying to diff running containers against my configuration. Is there a way to determine Config variables passed via CLI vs. inherited from Dockerfile ... ? My current issue is that there are some ENVs specified in a Dockerfile (over which I have no control or insight) that are not in my configuration, but still show up in the API. And there are no way to det

[2015-03-18 10:17] allinwonder commented on #10613
I hit the same problem and it is inode issue on the rootfs, created seperated volume for /var/lib/docker mount point to work around this issue

[2015-03-18 10:24] vcent commented on #11421
Just run: /etc/init.d/docker restart

[2015-03-18 10:29] thaJeztah commented on #11421
Could port 3306 already be in use by either another (stopped) container or a MySQL server running on the host itself?

You should be able to check if the container starts normally and if you are able to connect to it, using

`docker run -d -p 3306 --name mysql tdoan/mysql:v1`

Docker wil then assign a random port on the host for port 3306 of the container. The random port can be found in the outpu

[2015-03-18 11:15] fsamin commented on #11421
I got the same problem, i was unable to start a container with any port mapping.

I fixed the problem with
`DOCKER_OPTS="--iptables=false"`

[2015-03-18 11:16] pwaller commented on #8755
I've just hit this. It's blocking me from sharing my environment with another developer in realtime, which is a problem.

[2015-03-18 11:22] xiaods opened #11461 "ubuntu 14.04 cgroup subsys no momery ?"
i have upgrade ubuntu 14.04 kernel from 13.03 to 13.18. then the cgroup show no momery subsys. don't know what reason. anyone know the case?

[2015-03-18 11:26] #11461 closed

[2015-03-18 11:29] mikehaertl commented on #4962
Should this topic be changed to "Support build time env vars" maybe? I really second this.

Here's my use case:

I want to build a base image for the Yii2 framework. The `Dockerfile` therefore has a `composer install` command which will fetch several composer packages from github. Unfortunately this will hit github's rate limiter very soon, so that instead of dist packages, composer will fall back

[2015-03-18 11:36] pwaller opened #11462 "/proc/self/fd/{0,1,2} are not valid (with --tty)"
This is probably the root cause of #6880 and #8755.

Reproduced on 1.4.1 and 1.5.0.

Steps to reproduce:

[code]

Expected: /fd/{0,1,2} symlinks should point to the same thing as `docker run -ti --rm ubuntu tty`.

Got: they point to some random point on the root of the filesystem which doesn't exist.

Effect: This breaks the command `tty` (and therefore tmux and various other programs) from a `doc

[2015-03-18 12:21] duglin commented on #11460
You may be able to get what you want by doing a `docker inspect` on the container to get the base image used.  That inspect should also get you the list of env vars (list 1) that docker put into the container.  From that image name if you do a `docker inspect` on it you should then able to get the list of env vars from that image (list 2).  Then, I think, the list of env vars specified on the comm

[2015-03-18 12:21] #11460 closed

[2015-03-18 12:23] duglin commented on #4962
@crosbymichael you ok if we close this and keep the conversation going in #9176 ?

[2015-03-18 12:28] bomba1990 commented on #11449
Excume, but where i find those logs?

[2015-03-18 12:38] jzy1688 opened #11463 "Calculation of cpuPercent"
cpuPercent = (cpuDelta / systemDelta) * float64(len(v.CpuStats.CpuUsage.PercpuUsage)) * 100.0

when I run docker stats in cli, the "cpu %" sometimes exceeds 100%

So my problem is
  -why, in the formular, it is multiplied by the number of cpus?
  -Is the CpuUsage.TotalUsage the sum of CpuUsage.PercpuUsage for each cpu ?

[2015-03-18 12:51] phemmer commented on #11462
It looks like docker is using the host's `/dev/pts` mount for containers. All TTYs that docker creates aren't showing up in `/dev/pts`, only TTYs created once inside the container (tmux/screen/etc).

Note that these "symlinks" aren't real symlinks. You can still use them (`echo foo > /proc/self/fd/1`) as they're magic files handled by the kernel. They just link to a TTY outside the container, so t

[2015-03-18 13:19] pwaller commented on #11462
Yes, `tty` tries to `readlink`. I also suspect that `tmux` does as well.

[2015-03-18 14:11] phemmer commented on #11449
It depends on your OS and the package you installed (how it configured the service).

2 likely locations are: `/var/log/docker.log` or if using systemd, `journalctl -u docker.service`.

[2015-03-18 14:27] charford commented on #4036
FWIW, after downgrading to 1.3.2 on Centos7 (using official package from yum), the errors have gone away. I've had a cron task running all weekend that creates a container, and then removes it. I have not seen the error at all since changing to 1.3.2 on Centos 7.

[2015-03-18 14:31] JonasT opened #11465 "docker pull --help is potentially confusing by forgetting to mention other registries"
Hi guys,
[code]

As is well-known, there isn't just "the registry". Therefore, the help text should be updated to explain how to specify the registry as well. Maybe something like:

[code]

[2015-03-18 14:33] rhvgoyal commented on #4036
@charford

Nice. Lot of these errors are related to udev sync, and either users need to move to dynamically built binaries (supplied by distribution) or move to a different storage driver (aufs, overlyafs etc) to solve these issues.

[2015-03-18 14:33] vbatts commented on #4036
@hqhq a couple of questions though. You don't have the libdevmapper-dev package installed, and the `docker info` looks like you've compiled a different version from git `Library Version: 1.02.82-git (2013-10-04)`
If you are compiling your own libdevmapper, there are flags that it must be configured with, otherwise udev-sync will not even be enabled in the libdevmapper.so you have produced. Please

[2015-03-18 15:21] unclejack commented on #10851
CoLinux has been very interesting in the past, but it has become less relevant with all the performance increases provided by newer CPU architectures and more advanced virtualization hardware.

Docker will run under CoLinux without any problems if CoLinux for amd64 gets released and the patched kernel is Linux kernel version 3.10 or newert, but it doesn't solve any particular problems virtual mach

[2015-03-18 15:21] #10851 closed

[2015-03-18 15:29] unclejack commented on #4036
@vbatts Do you think we should also check if the devicemapper library the daemon is using matches the one from the system?

There are at least two unsupported configurations which would break things:
1.  statically linked devicemapper (always broken, soon to be disallowed through a flag which makes it clear it's unsupported and that it breaks things)
2. devicemapper linked dynamically, but the ver

[2015-03-18 15:33] vbatts commented on #4036
@unclejack the action of not using the system libdevmapper is not as much the issue, except that we can derive the flags, configuration and condition of system packages/libraries.
Once someone compiles a library themselves, then all bets are off. And that person has accepted their own path of owning and troubleshooting the configuration that they've done.

[2015-03-18 15:35] unclejack commented on #4036
@vbatts Please don't get me wrong, I wasn't implying in any way that we're supposed to support that. It's just that we could use this for debugging.

[2015-03-18 15:38] unclejack commented on #5618
Everyone who's seeing this error on their system is running a package of the Linux kernel on their distribution that's far too old and lacks the fixes for this particular problem.

If you run into this problem, make sure you run `apt-get update && apt-get dist-upgrade -y` and reboot your system. If you're on Digital Ocean, you also need to select the kernel version which was just installed during

[2015-03-18 15:38] vbatts commented on #4036
@unclejack right. that is why we show the version used in `docker info`. Further, if their daemon is using a libdevmapper.so (whether they compiled it themselves or not), if the udev sync is not supported, then they're gonna have a bad time. This is the motivation for #11412.

[2015-03-18 15:50] phemmer commented on #11463
The CPU percentage is cumulative for all the processes/threads inside the container. If you have multiple CPUs/cores, this number can exceed 100%.

See also #10733

[2015-03-18 15:55] unclejack commented on #8279
This is a kernel problem. That means upgrading Docker to a newer or older version won't help and that a fix on the kernel side will most likely be required.

[2015-03-18 15:56] #11463 closed

[2015-03-18 16:01] unclejack commented on #9370
This has been fixed by #10652.

[2015-03-18 16:01] #9370 closed

[2015-03-18 16:15] sgillis opened #11467 "-p option issues"
I am seeing different behavior depending on the base image, so I am not sure if this is an issue in Docker or somewhere else.

To reproduce the issue, start with setting up a container

    $ docker run -it -p 8888:9999 debian:wheezy
    # apt-get update && apt-get install -y netcat
    # netcat -l 9999

Then on the host machine

    $ telnet localhost 8888
    Trying 127.0.0.1...
    telnet: Unab

[2015-03-18 16:17] unclejack commented on #10488
@djannot This is indeed a duplicate of #8354. BTRFS can run into all sorts of problems when the file system is heavily fragmented, even though you have more than enough free space. The problem manifests itself just like when you don't have enough space left on disk.

I'm going to close this since it's been tracked down to BTRFS and it really looks like what I've also seen before on various systems

[2015-03-18 16:17] #10488 closed

[2015-03-18 16:17] nacc commented on #9950
I'm guessing this was resolved, but it wasn't written into this issue. Thibault, would you mind updating it? A tester here is hitting something similar (I think it's not a very useful testcase, but still) -- and I'd like to provide them with some suggestions on what is missing.

[2015-03-18 16:27] unclejack commented on #11132
We need to disallow aufs to be used on encfs or Docker on encfs entirely. Disabling aufs on encfs would solve the problem of not using aufs on top of encfs, but volumes would still have this problem. There's no point in giving the impression this works properly and error out later during a pull or during a similar operation.

The proper solution would be to forbid the use of an encfs fs path as a

[2015-03-18 16:29] cpuguy83 commented on #11132
btw, error messages have been updated so at least you know where the error is coming from and at what point :)

[2015-03-18 16:30] unclejack commented on #11181
@a-robinson Can you provide the full output from `uname -a` from that system, please?

[2015-03-18 16:40] duglin commented on #11467
I'm pretty sure this is something within the debian image/container - like a firewall.
Try running the telnet command from within each container (telnet localhost 9999). For me, the ubuntu one worked, but debian didn't.  Which would seem to indicate that its not docker issue but something within the container.

[2015-03-18 16:47] sgillis commented on #11467
You're right, running it from within the container doesn't work either. So should I create an issue [here](https://github.com/tianon/docker-brew-debian)?

[2015-03-18 16:49] duglin commented on #11467
well,I'm not familiar enough with debian:wheezy, but is it that something is wrong with the image or just need to find the right command to disable the firewall?  assuming it is a firewall issue.

[2015-03-18 16:55] jzy1688 commented on #11463
Sorry for bother, but my doubt is also about why it is multiplied by the number of CPUs?

[2015-03-18 16:57] duglin commented on #11467
I'm gonna close this since I don't think its a docker issue

[2015-03-18 16:57] #11467 closed

[2015-03-18 17:01] unclejack commented on #11463
@jzy1688 When taking a look at top for a process, you might sometimes see a value on the CPU usage field that's higher than 100%. A value of 150% means that it's using 100% of one core and 50% of another core. A system with 4 cores will have a maximum of 400% for the CPU usage when the process is able to run on multiple cores and it's able to scale to all those cores.

[2015-03-18 17:21] jzy1688 commented on #11463
@unclejack thank you for the reply. i could understand what you said.  What I doubt is that in the formula CpuDelta is calculated by the values of total cpu usage  of the container at two different time and the total cup usage seems to be the sum of the cpu usage per core. Since we already add up the usage on each core, why should we still multiply the delta by the number of cpus

[2015-03-18 17:45] MrMMorris commented on #5618
@unclejack

I ran `apt-get update && apt-get dist-upgrade -y`

ubuntu 14.04 3.13.0-46-generic

Still get the error after only one `docker run`

I can create an AMI for reproducing if needed

[2015-03-18 17:54] unclejack commented on #5618
@MrMMorris Thank you for confirming it's still a problem with the latest kernel package on Ubuntu 14.04.

[2015-03-18 18:03] MrMMorris commented on #5618
Anything else I can do to help, let me know! :smile:

[2015-03-18 18:23] rsampaio commented on #5618
@MrMMorris if you can provide a reproducer there is a bug opened for Ubuntu and it will be much appreciated: https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1403152

[2015-03-18 18:48] MrMMorris commented on #5618
@rsampaio if I have time today, I will definitely get that for you!

[2015-03-18 19:24] rkpantangi commented on #10880
That worked for me too. After deleting that empty official.json file, docker started.

[2015-03-18 19:27] tdoan1971 commented on #11421
The -p option makes docker to call iptables to setup the open port in the host. Somehow my iptables returned error that made docker subsequently not start the container.
I restarted my firewall "service iptables restart" and also the docker daemon "service docker restart", the it works.
I have not tried fsamin's suggestion but I will keep it in mind.

Thanks all,

[2015-03-18 19:27] #11421 closed

[2015-03-18 22:16] dbabits commented on #8755
This is what I do now:
run tmux on the docker host, not inside docker, and docker session in one of tmux's windows.
this achieves my goal explained above.

[2015-03-18 22:47] timthelion commented on #10184
Being the author of the code in question, I can confirm that this is indeed a bug in Docker. I'm sorry about this. You can work around this issue by having a script in your container delete the device node and recreate it, or perhaps simply by chmoding the device node. The ultimate fix for this is to change this line here https://github.com/docker/docker/blob/master/daemon/container.go#L280 to a s

[2015-03-18 22:58] timthelion commented on #10637
not at this time. See https://github.com/docker/docker/pull/8826

If you launch the Docker daemon with the lxc backend, you should be able to use `--lxc-conf=lxc.cgroup.devices.allow = c 189:* rwm` to allow your container to access all devices of that group, and then use a volume `-v /dev/bus/usb/` to access all USB devices.

[2015-03-18 23:17] pwaller commented on #8755
Unfortunately I run coreos and running tmux on the host is not desirable, because I don't want to modify the host image at all, just run docker images for everything. This bug impedes that.

On 18 March 2015 22:17:15 GMT+00:00, dbabits <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-03-18 23:31] crosbymichael opened #11482 "JSONFile write error"
Getting errors still around this code on master.

@LK4D4

[code]

[2015-03-19 00:15] LK4D4 commented on #11482
@crosbymichael Are you sure it wasn't fixed with #11471 ?

[2015-03-19 00:41] BlakeMesdag commented on #11228
@mjsalinger have you tried using the overlayfs filesystem driver? It's only available on >= 3.18 kernels though.

[2015-03-19 00:48] botchagalupe opened #11484 "Minor Typo in "set-up-git" Documentation"
Step 9 on page ( https://docs.docker.com/project/set-up-git/ )reads as follows:

    git -s -m "Making a dry run test."

Should be

   git commit -s -m "Making a dry run test."

[2015-03-19 00:48] LK4D4 commented on #11228
@thaJeztah Yup, sqlite locks is longest in whole Docker. They x1000 times longer then second long.
@mjsalinger I'm glad that we have highload case now. I think we can improve concurrency a lot by removing `graphdb`, because we actually have no graphs.

[2015-03-19 00:56] ryneeverett commented on #10850
@devurandom Any progress on this?

Also, I'm a little confused about how your script works, even on 1.4.1, without `--net=host`. My understanding and experience has been that a mounted X11 socket gets overriden by the new network stack created by default.

[2015-03-19 00:58] botchagalupe commented on #11484
Looks like I jumped the gun.  The code in git is correct but the docs page hasn't been updated.

https://docs.docker.com/project/set-up-git/

[2015-03-19 00:58] #11484 closed

[2015-03-19 01:21] ahmetalpbalkan opened #11486 "Proposal: Override ApiVersion in client"
### Problem

Sometimes (or frequently) users have trouble talking to the docker engine with their docker client because they accidentally update their docker client and the server now has an older version.

It's too hard to get this right and that this usually happens by one off (e.g. client:1.18 server:1.17) and there is not major differences between these versions. This especially happens to the

[2015-03-19 01:41] prologic opened #11487 "'BTRFS_BUILD_VERSION' undeclared (first use in this function) -- btrfs-progs 3.19"
Docker 1.5.0 no longer builds successfully against ``btrfs-progs 3.19``.

See build log:

[code]

``btrfs-progs 3.18.2`` shipped with ``/usr/include/btrfs/version.h`` which contains:

[code]

Do we have a solution to this in master yet?

[2015-03-19 01:42] prologic commented on #11487
ping @tianon I suspect Gentoo might have similar issues?

[2015-03-19 01:44] #10191 closed

[2015-03-19 01:45] tianon commented on #11487
This is a dupe of #11417. :wink:

[2015-03-19 01:45] #11487 closed

[2015-03-19 01:47] prologic commented on #11487
Damnit I even searched before posting too :) *sigh* Thanks @tianon

[2015-03-19 02:06] cpuguy83 commented on #11439
Since read-only root fs is really a runtime configuration, we cannot force all users of a particular image to be read-only.
This would be better enforced at the in an authorization layer.

Closing since I believe this is an intended design decision.

[2015-03-19 02:06] #11439 closed

[2015-03-19 02:10] cpuguy83 commented on #11415
Closing since this seems like a misconfiguration.
Please ping if the above did not resolve the issue.

Thanks!

[2015-03-19 02:10] #11415 closed

[2015-03-19 02:17] baotiao opened #11489 "A hostname problem in productive environment."
The problem is after we set up and run the container. The container my change his hostname.
How do we know this problem?
We find this problem when we using puppet to send config file, we identify each container by his hostname. But at last we send to the container  with the wrong config file. The config file is the same as the other container in this host machine.

My docker version is 1.4.1

[2015-03-19 02:20] burke commented on #11170
I agree that it would be wrong to expose these hooks in an open source application such as docker, but I'm curious what design issues you see that make them unsuitable for production applications in general.

[2015-03-19 02:32] cpuguy83 commented on #11489
You can specify a custom hostname with `docker run --hostname <name>`.
Closing since this isn't really a Docker issue.

For questions/support, please see one of the following:

1) #docker on IRC
2) docker-user mailing list
3) forums.docker.com

[2015-03-19 02:32] #11489 closed

[2015-03-19 02:34] shiratsu opened #11490 "I can’t login docker hub by command"
Hi,there.
I am starting to use docker.
So,i am proceeding to learn docker with following docker document.
http://docs.docker.com/userguide/dockerhub/

Then,i tryed to login docker hub by command.
I already create docker hub account.But I can't login docker hub by command.
If i try to login by command,this error produce.

[code]
i seem i could not access.
How do i do?

[2015-03-19 02:38] cpuguy83 commented on #11490
This looks like your system is no able to reach dockerhub.

[2015-03-19 02:42] phemmer commented on #11486
See #7746 which has discussion on this subject.

[2015-03-19 02:57] yourchanges opened #11491 "Docker daemon crashed on centos 6.6"
ENV:

	[root@iZ230mfzclxZ ~]# cat /etc/redhat-release
	CentOS release 6.6 (Final)
	[root@iZ230mfzclxZ ~]# uname -an
	Linux iZ230mfzclxZ 2.6.32-504.3.3.el6.x86_64 #1 SMP Wed Dec 17 01:55:02 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux
	[root@iZ230mfzclxZ ~]# docker version
	Client version: 1.4.1
	Client API version: 1.16
	Go version (client): go1.3.3
	Git commit (client): 5bc2ff8/1.4.1
	OS/Arch (client)

[2015-03-19 03:01] shiratsu commented on #11490
Was it my network problem?
But i can connect internet.

And I am setting at .zshrc.
[code]

What should i investigate this problem anything else?

[2015-03-19 03:25] smarterclayton commented on #10191
This isn't really fully resolved - use case 1 requires a bit more than 11410 provides.  I think the limits added are valuable and a good start though.

[2015-03-19 03:38] chenchun commented on #6743
+1

[2015-03-19 03:51] dmp42 commented on #11490
You have a DNS resolution issue.
Your DNS server is timeouting (203.141.128.33:53).

Boot2docker is notoriously inefficient at detecting network configuration changes.

Quick fix: restart boot2docker.

[2015-03-19 03:51] #11490 closed

[2015-03-19 05:31] shiratsu commented on #11490
Thank you!
I resolved after restarting docker.

[2015-03-19 07:39] asbjornenge commented on #11460
Thanks :+1:

[2015-03-19 08:05] MichaelBitard commented on #8755
I have a workaround :

[code]

Ok, it's an ugly one, but with it you can use tmux when you use docker exec

[2015-03-19 09:54] imleon commented on #11407
@huahuiyang Have you ever checked your DNS server log?
It may be a query of www.google.com.example.com, where "example.com" is the search-domain of your system.

[2015-03-19 10:26] leth commented on #10184
@timthelion No problem, thanks for confirming!

FWIW I'm unlikely to get a chance to propose a fix for this any time soon, partly because I'm busy with other things and it's not blocking me directly, but also because I don't really know golang, so would have to have the time to dive into the language.

[2015-03-19 10:34] thaJeztah commented on #10184
@jfrazelle could you label this as "bug"? (see https://github.com/docker/docker/issues/10184#issuecomment-83216360 above). I *think* "white belt", but you're probably better at determining that :)

[2015-03-19 11:25] timthelion commented on #10184
Hm, now that I think about this, the line before https://github.com/docker/docker/blob/master/daemon/container.go#L278 also needs to be a union/merge. Definately a "white belt" fix though.

[2015-03-19 12:19] mjsalinger commented on #11228
@BlakeMesdag I'll take a look at overlayfs.

@LK4D4 Let me know if there's anything I can do to help - providing data, testing, etc...  Would love to see and help work towards improvements in this area.

[2015-03-19 12:39] thaJeztah commented on #11228
A first quick improvement in the graphdb could be to remove this; [graphdb.go#L141](https://github.com/docker/docker/blob/f7a449f92b88ca2a3db2fb33abade8c25a19c390/pkg/graphdb/graphdb.go#L141). I don't think it adds anything; inserting a duplicate id should already be handled by the primary key constraint in the database.

[2015-03-19 12:50] tbronchain commented on #9950
@nacc It seems it's not resolved. I've upgraded to 1.5.0, but still the same issue. Now I can see it's possible to add specific capacities, so it's maybe what is missing.
The error is different though. Although I have the device correctly set as rwm, I get a "permission denied" in the container, or "Operation not permitted" with fdisk.
But I don't understand why I need to add any specific capacity

[2015-03-19 12:50] cpuguy83 commented on #11491
Seems like this was fixed by #10244, and is probably a dup of #10228 (which is a panic on push).

cc @stevvooe to confirm

[2015-03-19 12:52] cpuguy83 commented on #9950
@tbronchain You cannot call `mount` unless you have CAP_SYS_ADMIN, which is not available in the default container config. You'd need to `docker run --cap-add SYS_ADMIN`

[2015-03-19 12:54] sthulb commented on #9118
I've started to do some debugging for this.

I can confirm that the CA cert is being read, and added to `x509.CertPool`, which in tern is passed to `tls.Config`. The connection is terminated with: `local error: no renegotiation.` (which is triggered by the Go stdlib)

[2015-03-19 13:43] Sirupsen commented on #11170
Yeah, I'd like this explained in depth as well.

[2015-03-19 14:09] cpuguy83 commented on #7925
@ashahab-altiscale confirmed behavior on lxc with the ubuntu image mounting to /var/run/docker.sock
Mounting to `/run/docker.sock` works.

This all works with native exec driver.

[2015-03-19 14:10] cpuguy83 commented on #7925
busybox does not reproduce this issue, btw.

[2015-03-19 14:22] cpuguy83 commented on #10714
Yes, I can confirm this is just how bind mounts work.
Closing since this is not really something we can fix.

If someone has an idea of what we can do here, please ping.
Thanks.

[2015-03-19 14:22] #10714 closed

[2015-03-19 14:35] #11197 closed

[2015-03-19 14:56] sthulb commented on #9118
I've been debugging this all morning, I've started by pulling out the request code from the registry to isolate the cause.

Gist: https://gist.github.com/sthulb/ab6f3c25afd555400df1

In my debugging, I've found out that it's a bug in Go and probably won't be fixed any time soon.

Go issue: golang/go/5742

@tiborvass I guess you can close this issue if you want.

[2015-03-19 15:26] tbronchain commented on #9950
Thanks Brian. Does it means I must use the LXC driver to be able to mount
devices?
On Mar 19, 2015 8:53 PM, "Brian Goff" <notifications@github.com> wrote:

[2015-03-19 15:29] cpuguy83 commented on #9950
@tbronchain No, it means you need to use the above `docker run` command to be able to use `mount` in a container.

[2015-03-19 15:33] LK4D4 commented on #11228
@thaJeztah You can try and measure :) There is profiling urls in docker which can be enabled with `DEBUG` environment variable.

[2015-03-19 15:37] #10001 closed

[2015-03-19 15:46] ncdc opened #11499 "Containers sometimes displayed as running when they're not"
Due to a race condition in `master` (the details of which @LK4D4 can fill in), I am frequently seeing containers listed in `docker ps` that are not actually running because they have terminated. Attempts to stop/kill/rm these containers fail with an error like this:

    Cannot stop container 1f6e29da01c6: active container for 1f6e29da01c6fd7900c1056c905f58c3cb1209f96d0427e220b5a0f155814bc2 does n

[2015-03-19 15:50] LK4D4 commented on #11499
It is fixed in my branch https://github.com/LK4D4/docker/tree/replace_execdriver but it still lacks lxc support.

[2015-03-19 15:51] moxiegirl opened #11500 "Add tip about filter proxy to Docker installation Guides"
Add information for getting around key errors when installing Docker on Ubuntu and Debian
-->
If your company is behind a filtering proxy, you may find the `apt-key` command fails for the Docker repo during installation. To work around this, add the key directly using the following:

`wget -qO- https://get.docker.com/gpg  | sudo apt-key add -`

[2015-03-19 15:58] Tr4pSt3R commented on #10001
:+1: @simonswine LGTM (but have to admit, I haven't run it though.)

[2015-03-19 16:15] cpuguy83 commented on #10191
@smarterclayton I agree it's not fully resolved since you have two parts here, however:

Docker 1.6 will include the above mentioned resource constraints for `docker build`
Docker 1.6 also includes support for setting ulimits on containers, as well as setting default ulimits for all containers at the daemon level.
Does this provide sufficient resource restriction?

Setting default ulimits at the d

[2015-03-19 16:24] tiborvass commented on #9118
I'm not 100% sure, but it is indeed likely that it's not a docker issue. I'll keep the issue open until we have certainty.

[2015-03-19 16:32] smarterclayton commented on #10191
Not disagreeing this is a good first step.  Inheriting cgroup (being a subordinate cgroup of the launching docker builder) was the valuable next step for us, because that would allow a much finer grained control over how builds run.  Essentially allowing the caller cgroup to be properly configured with the right settings for network, block, etc controls and having the build use a subset of that.

[2015-03-19 16:34] thaJeztah commented on #11228
@lk4d4 ah! Didn't know that. I'm out of town until Monday, but that's nice to fiddle with :)

[2015-03-19 18:23] dmp42 commented on #11449
Hi @bomba1990

Can you also copy the output of `docker version` and `docker info`?

Indeed, if you uplink is extremely slow (you mentioned 4 hours to upload the layer) there might be timeouts...

Thanks.

[2015-03-19 19:02] fgrehm opened #11503 ""Weird" docker exec behavior when sending Interrupt to interactive CLI apps"
_Dunno if this is related to other `docker exec` + tty issues around, feel free to close it if it is!_

I use docker for developing Ruby on Rails apps and ever since I remember leveraging `docker exec` to spawn new `rails console` / `irb` / `guard` exec instances based on a running rails app container I noticed that when I `Ctrl+C` it ends up just killing the exec instance right away, but if I `do

[2015-03-19 19:21] bomba1990 commented on #11449
Version:
[code]

info:

[code]

[2015-03-19 19:30] stevvooe commented on #11491
@cpuguy83 Confirmed.

[2015-03-19 19:32] dmp42 commented on #11449
@bomba1990 ok thanks.

Do you have the daemon logs? (re https://github.com/docker/docker/issues/11449#issuecomment-82990533)

[2015-03-19 19:33] cpuguy83 commented on #11491
Ok, closing this then.

[2015-03-19 19:33] #11491 closed

[2015-03-19 19:53] dmp42 commented on #11067
@cpjreynolds you can probably get some good guidance from @dmcgowan on this (either here or on irc #docker-distribution).

[2015-03-19 20:56] 42wim commented on #8693
Same issue here, using latest docker running on RHEL6.6.
Doesn't matter if using static binary from docker or dynbinary from EPEL

[code]

Containing this stuff:
[code]
[code]
[code]

[2015-03-19 21:42] #8551 closed

[2015-03-19 21:42] crosbymichael commented on #8551
merged in #11428

[2015-03-19 22:11] vishh commented on #8551
Thanks for the quick review everyone :)
If the integration tests happen to flaky, ping me and I can fix them. There
should be enough logs now to identify any issue.

On Thu, Mar 19, 2015 at 2:43 PM, Michael Crosby <notifications@github.com>
wrote:

[2015-03-19 22:13] thockin commented on #8551
w00t!  This is a good one.  Thanks everyone.

On Thu, Mar 19, 2015 at 3:12 PM, Vish Kannan <notifications@github.com>
wrote:

[2015-03-19 22:15] vmarmol commented on #8551
Yay cgroups! :D That was one of the fastest feature merges I've seen.

[2015-03-19 22:19] docwhat opened #11508 "Don't use ip_forward to expose containers to the public internet"
Setting `net.ipv4.ip_forward=1` is troublesome for various reasons, including security.

Would it be possible to stop using that and instead use something like `iptables` rule below instead?

Example for container started with `--port 0.0.0.0:29418:29418`

[code]

This should work, though translating `0.0.0.0` to `eth0` is a potential problem.  I'm not an `iptables` wizard, so there is certainly a

[2015-03-19 22:32] vishh commented on #8551
This issue has been fixed via #11428

[2015-03-19 22:40] ConnorDoyle commented on #8551
:+1:

[2015-03-19 22:54] camjackson commented on #9644
I've been getting this error on docker 1.5, but the metadata file being referred to was not a .tmp one. They were ones like `/var/lib/docker/devicemapper/metadata/1f374ad620865cec9af566778d8834ad7f1d7ea6ffbe896ff289014ae2ca479a`.

The ones being complained about seem to be corrupt, as `less` warned me that they were binary, and looking at them they were just filled with garbage. All I did was remo

[2015-03-19 23:01] thaJeztah commented on #9644
@camjackson given the discussion above (https://github.com/docker/docker/issues/9644#issuecomment-76725711), the issue discussed here will be fixed in the upcoming 1.6.0 release.

You can try this by downloading the current development version from https://master.dockerproject.com. Note that the development version may contain bugs, so *don't* run it in a production environment.

[2015-03-19 23:02] #11432 closed

[2015-03-19 23:08] ahmetalpbalkan commented on #11246
Hi @mitchcapper, I haven't seen this since I wasn't mentioned.

I agree with your example Dockerfiles which do not build on Windows due to clearing of r/w bits of others/group and we discussed with this in the proposal/PR you brought up.

Honestly I don't expect people to build those complicated base image Dockerfiles in windows CLI initially and we had to make this trade-off in my proposal. This

[2015-03-19 23:11] jfrazelle opened #11509 "--cgroup-parent fails on systemd"
sorry ping @vish

[code]

[2015-03-19 23:12] jfrazelle commented on #11509
sorry meant @vishh

[2015-03-19 23:12] jfrazelle commented on #11509
its those stupid systemd cgroups

[2015-03-19 23:40] mcandre commented on #5113
@orcaman Same fix for me on Mac: `boot2docker restart`.

[2015-03-19 23:40] bgrant0607 commented on #8551
Awesome, thanks a lot.

[2015-03-19 23:44] jdef commented on #8551
+1

On Thu, Mar 19, 2015 at 7:41 PM, Brian Grant <notifications@github.com>
wrote:

--
James DeFelice
585.241.9488 (voice)
650.649.6071 (fax)

[2015-03-19 23:47] mitchcapper commented on #11246
This certainly doesn't fix that private keys added to a container would be 755 by default, I was just saying I don't think there are many transfer applications that preserve windows level ACL's(especially at a folder level) so I doubt users would expect docker to (so I think the expectation of a file added to a container would be read all).  I don't think any other container/vm/etc apps have this

[2015-03-20 00:00] jfrazelle commented on #11509
probably the same problem as this https://github.com/docker/docker/issues/10690 I have an idea

[2015-03-20 00:05] BrianBland opened #11510 "Attempting to pull a nonexistent image results in printing the entire http response body"
Description of problem:
When attempting to pull a nonexistent image from a docker registry, the client displays the entire http response body instead of a simple "image X not found" message.

`docker version`:
[code]

`docker info`:
[code]

`uname -a`:
[code]

Environment details (AWS, VirtualBox, physical, etc.):
Ubuntu 14.04.1 LTS VirtualBox running under an OSX 10.10.1 host

How reproducible:
H

[2015-03-20 00:12] vishh commented on #11509
#11512 should fix this.

[2015-03-20 00:48] huslage commented on #9118
I don't see how we would be forcing a renegotiation if go doesn't even support it in the first place. How would we hit a bug that we can't cause, exactly? Or am I missing something?

[2015-03-20 00:51] tiborvass commented on #9118
@huslage with a reverse-proxy that supports the feature.

[2015-03-20 00:55] huslage commented on #9118
Then the docker daemon wouldn't be terminating the TLS at all right? This issue doesn't seem to mention a proxy anywhere so I'm just confused.

[2015-03-20 00:56] huslage commented on #9118
Got it. So we don't support something else terminating SSL for us unless it doesn't do renegotiation. This seems to then be a config issue on the proxy more than a bug with docker itself. Correct?

[2015-03-20 00:58] tiborvass commented on #9118
@huslage quite likely, we'll see as the investigation goes.

[2015-03-20 01:54] jfrazelle commented on #11510
Looks like there's a 404 redirect so it's not sending the HTTP status code

On Thursday, March 19, 2015, Brian Bland <notifications@github.com> wrote:

[2015-03-20 01:55] jfrazelle commented on #11510
Well it sending the code but the redirect is messing w the output because
it's obviously taking all of it

On Thursday, March 19, 2015, Brian Bland <notifications@github.com> wrote:

[2015-03-20 02:46] samalba commented on #11510
CC @dmp42

[2015-03-20 04:01] jfrazelle commented on #4106
closing as https://github.com/docker/docker/pull/11109 is merged and will be in 1.6!

[2015-03-20 04:01] #4106 closed

[2015-03-20 04:05] robbyt commented on #6980
For boot2docker users, here's how to change your storage driver:
http://pkgfarm.tumblr.com/post/114104687791/fixing-yum-install-on-boot2docker

[2015-03-20 04:28] #11509 closed

[2015-03-20 05:07] dmp42 commented on #11510
This was probably introduced by a recent PR enhancing various error messages (maybe #11314).
That should be an easy fix - I'll make sure we look into it tomorrow.

[2015-03-20 05:21] bprashanth commented on #11390
No go on 1.5, though I didn't try too hard since my first round of repro steps involved apt-get installing things into the container, running then killing a commit midway. So feel free to close this, unless you want me to up my old docker datadir or something.

[2015-03-20 05:24] mk-qi commented on #8951
hello everyone;

![docker-muilt](https://cloud.githubusercontent.com/assets/642228/6745878/74b88210-cef9-11e4-8595-2928832ed70a.png)

i set  the docker0  in hosta and hostb  in the same network via vxlan ,and it  could ping each other ,but  docker alawys allocate the same ip between  hosta and hostb,so  i wonder if  there any way or plugin or hack to help me to check if the ip if exist ?

[2015-03-20 05:32] thockin commented on #8951
You need to pre-provision each docker0 with a different subnet range.  Even
then you probably will not be able to ping across them unless you also add
your eth0 as a slave on docker0.

read this: http://blog.oddbit.com/2014/08/11/four-ways-to-connect-a-docker/

On Thu, Mar 19, 2015 at 10:24 PM, mk-qi <notifications@github.com> wrote:

[2015-03-20 06:37] fzansari commented on #8951
@mk-qi : You can use "arping" which is essentially a utility to discover if an IP is already in use within a network. Thats the way you can make sure docker does not use the same set of IPs when its "over" multiple Hosts.
Or another way is to statically assign IPs yourself to each docker

[2015-03-20 06:42] phemmer commented on #11508
The problem with that idea is that it results in the docker proxy being used for this traffic. The docker proxy has a very long and troubling history. But bugs aside, with a proxy, the applications running inside lose a lot of functionality having to go through a proxy (tcp only, client addr hidden, QoS flags stripped, etc).

However there is indeed a concern here. Because docker turns IP forwardi

[2015-03-20 06:49] mk-qi commented on #8951
@thockin  sorry  , i has not draw the picture clearly  . in fact  the eth0  is the slave of docker0.  and as i  has said before , i can ping them on each other...

@shykes  I saw your fork   https://github.com/shykes/docker/tree/extensions/extensions/simplebridge   it looks like it  have ping ip operation before   really assigning it, but i am not sure, i do not know whether you could  give more i

[2015-03-20 07:19] mkostrikin commented on #6800
under ubuntu worked so:
[code]

[2015-03-20 07:21] mk-qi commented on #8951
@fzansari   thanks for reply , static ip allocation is ok , in fact we had useing pipwork +macvlan( +dhcp) for some small running  cluster, but if running much of  containers , this is very painful to manage ip, of course we can write tools, but I think hack  the docker to  directly Solveing the  IP conflict problem , the problem  will be  much simpler. If  this way  is Possible

[2015-03-20 07:31] pavanadepu opened #11515 "Query on Docker Remote API"
Hi Team,

I am trying to create a container using the Remote API "containers/create".
I am able to create the container successfully, but the container got created with a random name.

1. I would like to know the way to pass a name to the container while creating it.
2. Is there a way to override the existing container?
    (I knew the workaround of removing the existing container and the recreati

[2015-03-20 07:48] Batmat commented on #11371
@spf13 sindhujareddy7892@gmail.com to ban, don't know if you saw it.

[2015-03-20 08:13] balboah commented on #10553
Time to open this ticket again.

[code]

[code]

CoreOS "stable"

[2015-03-20 08:21] balboah commented on #10553
Oh and doing what @phuongnd08 said made docker start properly again.
`rm -rf /var/lib/docker/repositories-btrfs`

[2015-03-20 09:30] pavanadepu opened #11517 "Query on docker port binding while deploying a website"
I have created a container from training/webapp image using the below command:
     sudo docker run -d -p 5000:5000 training/webapp python app.py

I am able to access my "Hello World" website.

When I try to change the ports using the below command, the container created but the website is not accessible(I have already removed the old container).
     sudo docker run -d -p 5001:5001 training/webap

[2015-03-20 09:48] thaJeztah commented on #11515
Hi @pavanadepu, the GitHub issue tracker is more for reporting bugs and feature requests.

Could you close this issue and ask you question on the #docker IRC channel, forums.docker.com or docker-user GoogleGroup?

[2015-03-20 09:53] unclejack commented on #11517
@pavanadepu The application is still listening on port 5000. If you want to listen on another port on the host, such as port 5001, you can use the following command `sudo docker run -d -p 5001:5000 training/webapp python app.py`. This can also be found in the documentation.

This issue tracker is meant solely for the following: 1) reporting bugs, 2) requesting features, 3) reporting unusual behavi

[2015-03-20 09:53] #11517 closed

[2015-03-20 10:00] unclejack commented on #11515
@pavanadepu Support for the remote API isn't provided directly via GitHub issues. Many similar issues have been reported in the past, but there was no code attached and providing any kind of assistance was impossible.

There are Docker client libraries in many languages. Please look at those to see how those libraries handle the features of the remote API you're interested in using. A good list of

[2015-03-20 10:00] #11515 closed

[2015-03-20 11:25] hairyhenderson commented on #11413
I was thinking the same thing recently... I think I'll take a stab at a PR for this.

[2015-03-20 11:35] emsi opened #11518 "Docker -p ip:hostPort:containerPort and ip::containerPort not compatible with IPv6 addresses"
Docker --publish is not compatible with IPv6 if one wants to use he IP:host_port:container_port argument format.
Even when address is provided in the well-known form of [IPv6] it does not work:

`docker: Invalid format to parse.  [2001:470:6267:324::c2]:53:53 should match template ip:hostPort:containerPort. See 'docker run --help'.`

[2015-03-20 11:38] emsi commented on #11518
@MalteJ: could you take a look at that?

[2015-03-20 11:59] plista-ld opened #11519 "Differentiate mounting and sharing"
Currently these is few if no distinction between mounting and sharing a volume:
1. every mounted file/directory is automatically shared
2. --volumes-from [container] does not allow to choose which shared volume to mount

It is somewhat mentioned in issue #9277, but not that explicitely.

Would it be possible to:
- add a specific option or flag for mounts that should not be shared ? (like "-v my_ho

[2015-03-20 12:25] emsi opened #11520 "docker port publishing displayed inaccurately when used with ipv6"
Docker published ports are displayed inaccurately when ipv6 is enabled.
It's a cosmetic issue but 0.0.0.0:53 should be actually :::53 when that is the case:
[code]

The same is true for ```docker ps```.
It should also take info account the ipv6 if that will be implemented as per #11518

[2015-03-20 13:00] cpuguy83 commented on #11519
@plista-ld See the progress in #8484 which would indeed allow the `-v` syntax you are looking for.
Alternatively, today you can just lookup the the path in the container's inspect output and use it directly as a bind mount.

There is also #5910 which allows you to, when using selinux, specify a private volume, which cannot be used by other containers (and is enforced by selinux).

Closing since th

[2015-03-20 13:00] #11519 closed

[2015-03-20 13:12] rhvgoyal commented on #9644
@camjackson

File name seems fine and devicemapper graphdriver will try to parse it during startup. If somehow file got corrupted and can't be parsed, then docker will fail to start.

So real problem here is to figure out how did these files get corrupted in the first place. Can you reproduce it?

[2015-03-20 13:13] plista-ld commented on #11519
@cpuguy83 the inspect workaround works perfectly, thanks !

[2015-03-20 13:36] estesp commented on #11499
Does #11507 fix this? Seems like it should

[2015-03-20 14:09] nagul12345 opened #11523 "Getting Error in Docker.will please explain step by step procedure??"
Cannot connect to the Docker daemon. Is 'docker -d' running on this host?

[2015-03-20 14:19] pmepablo commented on #11500
Thanks very much!

[2015-03-20 14:34] davidraila commented on #10714
Could look at the mount tree, and bind mount everything that's mounted
underneath a ro volume
as ro as well.   This would not catch if something else on the system
inserted a bind mount that would fall logically
underneath any of the ro mounts.... but I would expect that this is not
a typically occuring event.

On 03/19/2015 09:23 AM, Brian Goff wrote:

[2015-03-20 15:04] cmbaron commented on #10708
FWIW, I finally got back to looking at this and with fresh eyes I spotted the cause of the failure. It's an empty value preceding the ':' in the argument to "-v"

$docker run -t -i --rm -v :/app cmbaron/app /bin/bash -l
FATA[0003] Error response from daemon: No such image: cmbaron/app (tag: latest)

docker run -t -i --rm -v /home/cmbaron:/app cmbaron/app /bin/bash -l
e627596420be:/app$ echo "eurek

[2015-03-20 15:12] estesp commented on #10708
ah, yeah, so makes sense with what I mentioned before--we have had a rash of command line processing errors that end up coming back to the client side as "image not found" (because of the 404 response).  @coolljt0725 will your proposed #11281 fix this as well?

[2015-03-20 16:01] LK4D4 commented on #11390
@bprashanth Thanks.

[2015-03-20 16:01] #11390 closed

[2015-03-20 16:18] x1022as opened #11524 "About simplifying docker test"
Docker test is really a hard thing.almost every docker feature or bugfix will go with a test. Sometimes one line change in docker will take a lot of code in test. And docker is still in development, test is gonna be bigger and bigger.
Is it possible to reuse codes in test to simplify this, maybe could build a frame to fulfill with when new test needed. Thus it will be easier to add test and lines

[2015-03-20 17:16] xinity commented on #2174
same problem trying to use collectd in container.
been knocking my head few hours as i saw that the firewall seems to forward udp6 instead of udp4 even if ipv6 is disabled on my host :(

udp        0      0 0.0.0.0:714             0.0.0.0:*                           3507/rpcbind
udp        0      0 127.0.0.1:764           0.0.0.0:*                           3556/rpc.statd
udp        0      0 0.0.0

[2015-03-20 18:54] johnny-tu opened #11527 "Missing code example in docker rm reference guide"
On the page https://docs.docker.com/reference/commandline/cli/#rm, in the RM command reference the following paragraph seems to be missing the command example

"This command will delete all stopped containers. The command docker ps -a -q will return all existing container IDs and pass them to the rm command which will delete them. Any running containers will not be deleted."

@moxiegirl

[2015-03-20 20:32] vbatts commented on #10778
@ptippett there are no side effects to this within the daemon. Though if there is tooling that is using the output of `docker info`, obviously that will not have the correct information.

I'm investigating this now.

[2015-03-20 20:36] schmunk42 commented on #7554
Same here after upgrade from 1.4 to 1.5.0 on an iSCSI volume.

[2015-03-20 21:01] schmunk42 commented on #7554
After downgrading to 14.1 I got this error message:

[code]

I was able to "fix" it by manually creating `[...]/docker/aufs/layers`.
But the following complains about a missing `[...]/docker/repositories-aufs`.

Strange this is, that I wiped and reinstalled docker, but still getting the error?!

[2015-03-20 21:28] crosbymichael opened #11529 "Evented Process Monitor"
TLDR:

**Pros:**

* Evented lock free code
* 1 goroutine for all containers
* Generic zombie fighting abilities for free

**Cons:**

* none

Currently docker uses `exec.Cmd` and `cmd.Wait()` inside a goroutine for blocking on a container's processes until it finishes.  After a container dies two things can happen.  One, the container's process is restarted depending if the user requested that the

[2015-03-20 21:29] crosbymichael commented on #11529
ping @ibuildthecloud

[2015-03-20 21:34] pires commented on #8911
This is crazy, I'm finding logs with 96GB!!! so +1111111111..

[2015-03-20 21:34] schmunk42 commented on #7554
Looks to me like docker does not initialize the aufs correctly on service restart or even reinstallation.
My setup was based on https://groups.google.com/forum/#!topic/docker-user/AKqf_qIhFL4 which initializes docker on the host. Then stop the daemon, unmount, move contents and restart.

From looking into my manually specified data directory, I could see that a lot of files which are usually in /v

[2015-03-20 21:55] #10969 closed

[2015-03-20 22:00] mrunalp commented on #11529
Multiple child processes dying quickly could generate a single SIGCHLD so would have to syscall.Wait4 in a loop till you get -1 unless golang is changing signal semantics somehow.

[2015-03-20 22:01] crosbymichael commented on #11529
@mrunalp no, you are correct.

[2015-03-20 22:12] #10363 closed

[2015-03-20 22:19] jfrazelle commented on #11499
@ncdc can you try with master since that was merged, you can download at master.dockerproject.com

[2015-03-20 22:22] ncdc commented on #11499
Yes, although I don't have a reliable reproducer. It's more that if I have
the daemon up for a while and I'm creating a bunch of containers as part of
my normal workflow, eventually I run into this.
On Fri, Mar 20, 2015 at 6:20 PM Jessie Frazelle <notifications@github.com>
wrote:

[2015-03-20 22:23] jfrazelle commented on #11499
ah I see

[2015-03-20 22:43] WhisperingChaos commented on #7149
A Nested/Chained Build inescapably propagates an existing [vulnerability](http://en.wikipedia.org/wiki/Vulnerability_(computing)) that can be [exploited](http://en.wikipedia.org/wiki/Exploit_(computer_security)) directly/indirectly by malware to pilfer secret/confidential/sensitive content required to configure an image.  Secrets, such as, a software license key or an unlocked binary required to c

[2015-03-20 23:17] md-5 commented on #11049
As mentioned in #6800 I feel that either SYS_PTRACE should be a default or someone needs to add a new PID CAP to the kernel and make Docker use it. Having pidof broken by default leaves very many daemons unable to work under Docker without manual intervention.

[2015-03-21 00:02] dchen1107 commented on #6743
+1