[2016-11-05 08:12] zhaojigang opened #28091 "http: server gave HTTP response to HTTPS client"
I used serverA push image to serverB(registry:docker run -d -p 5000:5000 -v /opt/registry/:/var/lib/registry registry)
serverA:docker1.10.3
serverB:docker1.12.3
serverB:(ip:10.211.55.4)
cat /etc/docker/daemon.json
{ "insecure-registries":["10.211.55.4:5000"] }

but the error still ocurr:
<img width="989" alt="2016-11-05 16 10 56" src="https://cloud.githubusercontent.com/assets/14085645/20028639/7c

[2016-11-05 08:14] tlvenn commented on #25526
@dack my understanding is the Docker ingress network already use IPVS.

[2016-11-05 09:05] tlvenn commented on #25526
That would not work either @mrjana , the only way for HAProxy to get the client ip is to run outside the ingress network using docker run or directly on the host but then you cant use any of your services since they are on a different network and you cant access them.

Simply put, there is absolutely no way as far as I know to deal with this as soon as you use docker services and swarm mode.

It w

[2016-11-05 10:15] banjocat commented on #24132
I ran into this issue. I ended up removing Docker.qcow2.

[2016-11-05 10:47] equivalent commented on #23347
this worked for me http://stackoverflow.com/a/37640824/473040

https://docker.github.io/engine/admin/systemd/

#### 1. create a new file `/etc/systemd/system/docker.service.d/overlay.conf` with the following content:

[code]

[2016-11-05 11:18] mariussturm commented on #17904
@binman-docker I have to rebase the changes to the current master, will take some time. I am trying to build another test binary next week.

[2016-11-05 11:53] adaphi commented on #28067
I'll describe the setup in full:
We're using a CloudFormation template to create an auto-scaling group of 3 AWS spot instances, with rancher. The template defines a script that generates TLS certs and pulls a swarm-init docker image from our registry.
The init image has a simple script that looks to see if a swarm exists and if not, creates one. We make sure the instances have a staggered start, s

[2016-11-05 12:47] arkadius commented on #23965
Unfortunately I have the same issue on 1.12.3. It occurres after running ~2h elasticsearch cluster on heavy load.
[code]

[2016-11-05 13:21] yongtang commented on #27647
In non-swarm overlay mode (working with external K-V store like Consul/etcd), `--cluster-advertise` serves as both advertise and listen address as well. The PR #22663 will allow different listen/advertise addresses to be specified. In that case, you could bind a local address while at the same time advertise a public IP address that is at your public gateway (like in AWS's case).

The issue raised

[2016-11-05 14:03] yongtang commented on #27647
In non-swarm overlay mode (external K-V store), each node is identified/managed through `Serf`. Serf allows you to specify two addresses: The advertise address is the address that identifies yourself. The listen address is the "bind address" that bind to a local interface so that you could listen to message sent from your peers to you. Your peers does not necessarily know your listen/bind address

[2016-11-05 14:41] yongtang commented on #27647
The raft in the swarmkit is using the advetiseAddr. It splits the advertise and listen address. It should be fine:
https://github.com/docker/docker/blob/c5ceb0f945d390500a0045b14ffe4dcecfe46a85/vendor/github.com/docker/swarmkit/manager/manager.go#L220-L244

Need to see if libnetwork has special requirement on advertise/listen address or not.

[2016-11-05 14:48] rodionos commented on #16829
Changing DNS to 8.8.8.8 fixes the problem.

[2016-11-05 15:19] milindchawre commented on #26009
#dibs

[2016-11-05 15:23] deric commented on #15858
@duglin This is very serious issue, you shouldn't just close it because the problem was introduced in 0.1 release. It would be more appropriate to target this for 2.0 release (milestones are on github too).

I guess most people use:
[code]
and blacklist all other folders in `.gitignore` or have single level directory structure and use `COPY` which actually has `mv` semantics:
[code]
It's quite har

[2016-11-05 15:40] cpuguy83 commented on #28083
@chriskuehl Did you try this on any version other than 1.12.2? I suspect it would have given permission denied there as well.

[2016-11-05 15:41] cpuguy83 commented on #28083
Relevent change is likely this: https://github.com/docker/docker/pull/27610
This behavior would have only been in 1.12.2.

[2016-11-05 16:01] deitch commented on #28024
For the last 36 hours or so, it has been working from the alpine:3.4 image running on Ubuntu, as stated before, version 7.50.3, and the Ubuntu host itself curl version 7.47.0.

Obviously, it no longer is an open issue, so if you want to close it, go ahead. But we aren't aware of root cause. If it bit me, it probably bit others, and might (will?) come back at some point. Not sure how much I can con

[2016-11-05 16:01] deitch commented on #28024
(I saw 36 hours; I was offline for the last 25, and it worked for the few hours before I went offline and now again; I cannot swear to the middle, though...).

[2016-11-05 16:31] dack commented on #25526
@tlvenn Do you know where this is in the source code? I could be wrong, but I don't believe it is using IPVS based on some things I've observed:

- The source port is translated (the whole reason for this issue). IPVS doesn't do this. Even in NAT mode, it only translates the destination address. You need to use the default route or policy routing to send return packets back to the IPVS host.
- Whe

[2016-11-05 17:24] thaJeztah opened #28095 "Rename docker run "--cpus" to "--limit-cpu""
Per the discussion on https://github.com/docker/docker/pull/27958#issuecomment-258598258, I think we should rename this flag, to keep consistency. Opening a new issue to track the discussion on this

ping @crosbymichael @tiborvass @yongtang @albers

[2016-11-05 17:47] albers commented on #28095
@thaJeztah I guess you mean `docker {run,create} --cpus` here?

[2016-11-05 18:30] diogomonica commented on #24132
@tonistiigi any followup on 2?

[2016-11-05 19:00] yongtang commented on #25099
The issue
[code]
Related to Dockerfile:
[code]
should have been fixed by #25300 (not in 1.12.3 but likely to be in 1.13)

However, there are still some other issues.

If the environment variable name is empty, then `docker run` will throw out the same error:
[code]

[2016-11-05 19:16] yongtang commented on #25099
Created a PR #28098 to fix the issue related to `docker run -e = busybox`:

[code]

[2016-11-05 20:16] thaJeztah commented on #28095
@albers oh, darn yes. Erm, AFK now so can't edit @tiborvass perhaps you can?

[2016-11-05 20:34] jkubrynski commented on #27354
@dmp42 I've tried your solution and maybe I'm doing something wrong, but even when I add `--mirror-registry` option it looks Docker is using docker.io index, which doesn't contain my image. Should `--mirror-registry` affect also index or just image download?

[2016-11-05 21:04] thaJeztah commented on #23347
docker 1.13 will prioritize overlay and overlay2 over devicemapper, which should resolve this issue on recent kernels

[2016-11-05 21:58] kleptog commented on #27513
@thaJeztah This is a test setup no worries. So far the new Swarm has been a little too flakey to run and missing a few features to use in production but hopefully in a few months. I'll keep an eye on the pull request and see if I can test it.

[2016-11-05 22:29] tiborvass opened #28099 "Selinux Warnings during docker install on Fedora"
[code]

Still allows docker to run but those warnings are weird and would need to be fixed.

[2016-11-06 00:50] tlvenn commented on #25526
Hi @dack,

From their blog:

The code source should live in swarmkit project if I am not wrong.

I wonder if @stevvooe can help us out understand what is the underlying issue here.

[2016-11-06 03:07] andrewhsu commented on #28099
I'm able to reproduce on a Fedora 24 system with selinux. I think the issue causing the 255 error code is somewhere in [here](https://github.com/docker/docker/blob/443ada574da41f20cdd3708e2dee3091dd363afb/hack/make/.build-rpm/docker-engine-selinux.spec#L74-L89). I'll have a look.

[2016-11-06 03:14] andrewhsu commented on #28099
Expanding the postinstall scripts I found the commands that are executed:
[code]

The `restorecon` command return 255 for me:
[code]

I'll work towards a PR for fixing this.

[2016-11-06 03:50] dack commented on #25526
OK, I've had a brief look through the code and I think I have a slightly better understanding of it now. It does indeed appear to be using IPVS as stated in the blog. SNAT is done via an iptables rule which set up in service_linux.go. If I understand correctly, the logic behind it would be something like this (assuming node A receives a client packet for the service running on node B):

- Swarm no

[2016-11-06 04:01] tlvenn commented on #25526
Pretty interesting discovery @dack !

Hopefully a solution will be found to skip that SNAT all together. In the meantime, there is maybe a workaround that has been committed not long ago which introduce a host-level port publishing with `PublishMode`, effectively by passing the ingress network.

[2016-11-06 04:21] aluzzardi commented on #25526
Hey, thanks for the large amount of feedback - we'll take a deep look at this issue after the weekend.

Some info in the meantime:

@tlvenn: @mrjana is the main author behind the ingress network feature. Source lives in docker/libnetwork mostly, some in SwarmKit

@dack: it is indeed backed by IPVS

[2016-11-06 04:46] kobolog commented on #25526
@tlvenn as far as I know, Docker Swarm uses masquerading, since it's the most straightforward way and guaranteed to work in the most configurations. Plus this is the only mode that actually allows to masquerade ports too [re: @dack], which is handy. In theory, this issue could be solved by using IPIP encapsulation mode – the packet flow will like this then:

- A packet arrives at the gateway serve

[2016-11-06 05:46] chriskuehl commented on #28083
Yup, confirmed this behavior doesn't seem to exist in 1.12.0 or 1.12.1, so I think it's safe to say we were just relying on a bug.

Sorry for missing that in the changelog. I did read "Fix ambient capability usage in containers" but didn't consider it might be related to this issue. I'm happy to close this issue now.

[2016-11-06 05:46] #28083 closed

[2016-11-06 07:39] Daniel15 commented on #15360
Is there a Debian package containing just the client binary?

[2016-11-06 07:52] FlorinAsavoaie opened #28105 "Swarm/service feature request: only publish ports on hosts meeting constraints"
It would be amazing if Docker would only bind to the ports published by services on the hosts that meet the constraints for that service (maybe make it a flag to do so?).

Example:
- I have X hosts that are a "management layer". They run the load balancers and other stuff. Load balancers are constrained to these nodes by node labels.
- I have Y hosts that are an "application layer". They run app s

[2016-11-06 09:37] leonard-sxy commented on #24310
@aluzzardi why this got closed?  it seems u didn't understand that correctly!

Same problem still happened on ubuntu 14.04, docker 1.12.3 with ufw service disabled, just very simple setup, docker swarm **init** -> **manger join** -> **worker join**, then docker service create, port totally didn't get published to physical host!

lsb_release -a
[code]

docker info:
[code]

docker node ls
[code]

do

[2016-11-06 11:16] friism commented on #21558
@rayterrill @panmanphil Yeah, I think this is a known limitation of the current implementation: https://blog.sixeyed.com/published-ports-on-windows-containers-dont-do-loopback/

[2016-11-06 12:35] albers commented on #26713
How does the CLI detect whether the deamon is running experimental?

With shell means, I could do something like `docker info | grep '^Experimental: true'`, but I think this call ist an expensive one because the daemon has to gather a lot of information. I'd rather have a more lightweight test.

[2016-11-06 12:43] caneraydinbey opened #28107 "Change updated timezone of docker because of daylight"
I did this in my local and for my local ubuntu, time is correct

We have an app that has multiple containers.

Tİme is not correct for them. I couldnot manage to change jre of this app.

[2016-11-06 12:44] jhorwit2 opened #28108 "update autocompletion docs for node/service ps -a flag"
The `docker service ps -a` and `docker node ps -a` flags need to be added to the autocomplete files

#dibs

dependent on #25983 being merged.

[2016-11-06 12:48] friism commented on #28027
Do you have more details on your use case? You might want to take a look at this article on using an AD service account: https://msdn.microsoft.com/en-us/virtualization/windowscontainers/management/manage_serviceaccounts

[2016-11-06 13:16] penenkel commented on #27527
Is there any news on this issue? Does a fix or workaround exist?
@jhowardmsft @darrenstahlmsft

[2016-11-06 14:34] jcberthon commented on #8460
I just want to make sure my current issue is covered by this one or not.

I'm running Docker with user namespace activated (`--userns-remap=default`). In the container I only run ntpd as "root" on port 123/udp. The container is ran with option `--add-cap NET_BIND_SERVICE`.

However ntpd fails to bind to port 123. As it's running as root inside the container within its own network namespace I'm tot

[2016-11-06 14:41] rayterrill commented on #21558
It doesn't work remotely either. It just flat out isn't working.

On Sun, Nov 6, 2016 at 4:17 AM -0700, "Michael Friis" <notifications@github.com> wrote:

@rayterrill @panmanphil Yeah, I think this is a known limitation of the current implementation: https://blog.sixeyed.com/published-ports-on-windows-containers-dont-do-loopback/

—
You are receiving this because you were mentioned.
Reply to this

[2016-11-06 14:57] soanni commented on #28027
yeah, i'm checking this solution thank you. i'm just wondering why in windows container i'm restricted only to some strange user ContainerAdministrator? is it some specific limitation not allowing to switch users and running processes under different user? this solution with AD accounts might solve my issue but before that i used the IIS ability to run the application pool under my custom user bec

[2016-11-06 15:45] friism commented on #28027
Pinging @patricklang

[2016-11-06 16:05] gondor commented on #23105
Just switched to beta! Worked first try!  Thank you, any idea on when this hits stable so I can role this out to my teams?

[2016-11-06 17:02] ericcurtin commented on #28030
You are 110% correct! Thanks @dnephin and apologies for logging something that wasn't an issue. You normally don't notice this when you use bash -c as USER is exported... So it looked like a bug, rather than actually being one! I guess this issue should be closed...

[2016-11-06 17:25] mustafaakin commented on #20758
Just to add @s2ugimot we tried macvlan and was very happy until our Ubuntu 14.04.5 with LTS 4.4 Kernel just paniced, so I found regular bridging much stabler than macvlan.

[2016-11-06 17:48] #28030 closed

[2016-11-06 18:34] bialasjaroslaw opened #28109 "Can not run any docker container (fresh install after reboot)"
I have installed docker using script provided at https://get.docker.com/. I was able to test docker, but after a while I have to reboot system. After that I could not start any container (even after complete removal and reinstall). I've got the same error each time, and I was unable to find any solution:

`docker run -it ubuntu:16.04 /bin/sh`

[code]
Linux 4.6.0-1-amd64 #1 SMP Debian 4.6.4-1 (2016

[2016-11-06 18:38] git-jiby-me opened #28110 "docker pull microsoft/windowsservercore returns connection forcibly closed error."
**Description**

In latest windows nano server, with current master build of docker daemon, when pulling any images (for example microsoft/windowsservercore) it returns an error saying

[code]

**Steps to reproduce the issue:**
1. Setup current master build of docker in windows nano
2. docker pull microsoft/windowsservercore

**Describe the results you received:**

[code]

**Describe the results y

[2016-11-06 19:15] brennovich commented on #28109
I'm getting the same error here:

[code]

Look at my system details below:

`docker info`
[code]

[code]

Although, I'm able to run containers if I manually mount `/sys/fs/cgroup`:

[code]

[2016-11-06 19:35] thaJeztah commented on #26713
@albers it's using a header to detect it (see https://github.com/docker/docker/pull/27223#issuecomment-255252812). Perhaps it should be visible in "docker version", would that make it easier?

[2016-11-06 20:00] thaJeztah commented on #8460
reopening because we reverted this change for now, see https://github.com/docker/docker/pull/27737

[2016-11-06 20:33] bialasjaroslaw commented on #28109
If I mount `/sys/fs/cgroup` manually it solves the problem I had.
I have also tested this behavior on Arch Linux with kernel 4.7.4 (system is a little bit outdated) and with the same Docker version it works fine without any manual mounting.

[2016-11-06 20:37] swernli commented on #28087
Several things going on here... TL;DR is that this is not a bug in the PR, it is a separate pre-existing issue with deleting base images when template Utility VMs are still running.

1) the reason it failed to delete is because you ran a hyper-v container, which started a template utility VM, which is using files in the folder.  Before the rename PR, I suspect this would've failed too, just with a

[2016-11-06 21:14] albers commented on #26713
That would be perfect!

[2016-11-06 21:40] arno01 commented on #22371
Maybe this will help someone too.
I've got a 4.5.7 kernel and Ubuntu Xenial (16.04)

1) The Docker installation process hang:

[code]

**Process backtrace**
[code]

I have noticed the dockerd process was also running at that time:
[code]

But `docker info` commands were hanging too.

I have tried restarting docker service, which caused the installation to fail with the following output:
[code]

Th

[2016-11-06 21:50] arno01 commented on #4639
Possibly found the cause of the error, please see it in my post here https://github.com/docker/docker/issues/22371#issuecomment-258712905

[2016-11-06 22:31] jam01 commented on #6783
@mclarkson @IlyaSemenov So this conf is preventing the container from mounting the cgroups? This worked for me and allowed me to user Docker. But after making that change all my other LXCs stopped working properly.

1. What's the consequence of disabling that to other containers?
2. Is there a way to allow only the docker LXC to mount the cgroups?

Or am I misunderstanding something?

[2016-11-06 22:40] thaJeztah commented on #26713
@albers can you open an issue for that?

[2016-11-06 22:55] thaJeztah commented on #15360
@Daniel15 no, currently it's only the static binaries (as mentioned above). Our current build/release procedure will need to be updated to do client-only debs/rpms, which involves quite some changes.

@andrewhsu is currently working on changes in that area, and possibly releasing client-only debs would be more easy to implement in future. So, the TL;DR is that we see this being useful, but no ETA

[2016-11-06 23:04] matthid commented on #13817
Just wanted to add that additionally https://github.com/docker/docker/releases/tag/v1.12.2-rc1 seems to fix another issue where pasted text (right click in ConEmu) sometimes contained `?` and missing characters in the "dockerized" shell.

Thanks everyone and especially @Maximus5! So frustrating when the terminal is not working :)

[2016-11-06 23:09] vikstrous opened #28111 "urxvt doesn't display progress bars correctly"
**Description**

When using urxvt to pull an image the progress bars are drawn off by one line. This is annoying because it causes statically printed messages to be overriden by progress bars and it can make the status of certain layers get covered up.

**Steps to reproduce the issue:**
1. docker pull an image with more than one layer using urxvt

**Describe the results you received:**

[code]

No

[2016-11-06 23:26] cpuguy83 commented on #28083
Thanks, Chris! Sorry for the confusion!

[2016-11-07 00:07] justincormack commented on #23105
The stable release is planned to be this week with this.

On 6 Nov 2016 4:05 p.m., "Jeremy Unruh" <notifications@github.com> wrote:

[2016-11-07 00:14] tfindlay-au commented on #27734
Just an FYI - Clearly a few people having this problem. I upgraded to Virtualbox 5.1.8 a few days ago, and then encountered this problem today. I simply uninstalled 5.18 and reinstalled Virtualbox 5.1.6 and the problem was fixed.

Interesting to note that whilst running 5.1.8 all the other docker commands seemed to work, docker login, search etc, it was only the docker pull that threw the error.

[2016-11-07 00:17] howdoicomputer commented on #18796
@rhatdan Hey Dan, I tried going through your blog and I couldn't quite to get it to work with Docker Engine.

[code]

It works if I make it a privileged container.

I'm running Arch; was there something specific to Fedora that I'm missing?

[2016-11-07 01:25] vans88 commented on #28058
**@justincormack**  I have ported docker for my mips64el platrom and will provide some information about docker.
[code]
if so, Could I start to port kubernetes?  I know the  command "make release" is just from linux/amd64 platform. So I use "make -j15 all GOFLAGS=-v" which referenced "Makefile line 69-76 ".
[code]

[2016-11-07 01:59] huang03jun commented on #24530
Pls subscribe here for it progress: https://code.google.com/p/android/issues/detail?id=198497

[2016-11-07 02:22] JamesJJ opened #28112 "[1.12.3] dockerd: panic: runtime error: invalid memory address or nil pointer dereference"
**Description**

[code]

**Steps to reproduce the issue:**
1. Docker from `yum.dockerproject.org/repo/testing/centos/7/Packages`
2. `rpm -qa docker-engine` ==> `docker-engine-1.12.3-0.0.20161025.001321.gitbad4d12.el7.centos.x86_64`

**Additional information you deem important (e.g. issue happens only occasionally):**

* Only happens occasionally

**Output of `docker version`:**

[code]

**Output o

[2016-11-07 02:31] Windsooon commented on #28013
When I change /dev/sda to

    docker run -it --rm --device-write-bps /dev/sda1:2mb centos

or

    docker run -it --rm --device-write-bps /dev/sda2:2mb centos

I got

[2016-11-07 03:26] vans88 commented on #28058
**@justincormack**
 In my first comment, there is an error on "undefined: elliptic.P224".  Through googling I find the following link which has a comment pushed by **Antonio Murdaca**(comment num 21), who give a patch to avoid "P224" error.
https://bugzilla.redhat.com/show_bug.cgi?id=1038683.

[2016-11-07 03:35] vikstrous opened #28113 "add backwards compatibility for docker info api change from #26276"
#26276 introduced a backwards incompatible api change in the docker info api. If the client reports a lower API version than 1.25, we need to return a response using the old format.

[2016-11-07 03:36] yongtang commented on #28095
I personally don't have a preference either way. Though I noticed that we have `--limit-memory` in services as well, but don't have `--limit-memory` in `docker run`.
Wondering if that could be a concern?

#dibs

[2016-11-07 04:20] anannaya commented on #27211
Any update on this issue?

[2016-11-07 04:21] mithrandi commented on #28109
Possibly caused by https://github.com/opencontainers/runc/issues/1175 ?

[2016-11-07 05:34] andrewhsu commented on #27500
I've loaded the image from fedora website and pushed it to dockerhub so we can work with something: https://hub.docker.com/r/andrewh5u/fedora-docker-base-25_beta/

[2016-11-07 05:53] pratapsingh commented on #28066
**Docker version 1.11.2, build b9f10c9/1.11.2**
@cpuguy83 I am keeping the default /etc/hosts file entry as it ships with docker image .. I am just appending my entry at the end of /etc/hosts file using --add-hosts
the host which is running the container have following entries

@sanimej It is not the issue of nsswitch at all all the entries are fine and set to default.

[2016-11-07 06:05] xiaods commented on #25138
so we upgrade kernel to resolve the bug?

[2016-11-07 06:11] cduchesne commented on #25138
@xiaods

While it is true that upgrading kernel resolves the bug, upgrading a kernel is not something most RHEL/CentOS users would / can do as it would require using an untraditionally supported kernel. It seems someone will have to push for Red Hat to make a change to the macvlan driver in the Red Hat 7.x kernel. The change is 1 line, so it isn't an outlandish requirement. I may file a ticket wit

[2016-11-07 06:43] KevinTHU opened #28114 "docker stats show a wrong value of block write I/O when using dd if=/dev/zero in a container"
**Description**
when we use dd if=/dev/zero command in a centos container, like we write a 1GB file with /dev/zero for 4 times, theoritically, docker stats should show 4GB or 0GB in the block write I/O（I have not research the way docker write zero, maybe really write zero maybe not）, however it is not, the block write I/O is 9GB, and every time you redo the process above, the docker stats result i

[2016-11-07 07:11] AkihiroSuda opened #28115 "TestPluginActive consistently failing"
9c8e1c3c06d8a9cab623e75dcdab3ba9e84c6856

[code]

[docker.log](https://github.com/docker/docker/files/574641/docker.log.txt)

Even failing on CI: https://jenkins.dockerproject.org/job/Docker-PRs-experimental/26202/console

[2016-11-07 07:16] AkihiroSuda opened #28116 "TestVolumePlugin consistently failing"
9c8e1c3c06d8a9cab623e75dcdab3ba9e84c6856

[code]

[docker.log](https://github.com/docker/docker/files/574655/docker.log.txt)

Even failing on CI: https://jenkins.dockerproject.org/job/Docker-PRs-experimental/26202/console

[2016-11-07 07:35] paulmenzel commented on #18796
@howdoicomputer, from @rhatdan’s reply: “We have a package oci-systemd-hook that sets up the systemd environment properly.”.

[2016-11-07 07:41] tgpfeiffer commented on #27103
Same error with `--opt type=bindfs`, by the way.

[2016-11-07 08:36] runcom commented on #28113
@vikstrous can you tell me more about this issue you're facing?

[code]

[2016-11-07 08:44] runcom commented on #28113
Are you using the API client? I can only imagine there's a problem there because the client uses the wrong `types.Info` struct. I don't know docker has ever kept backward compatibility there.

[2016-11-07 09:03] cons0l3 opened #28119 ""docker exec {CONTAINER ID} powershell" hangs when container is stopped/killed"
@friism asked me to open the issue with docker/docker (previously opened at docker/for-win/issues/206 and ping @jhowardmsft .

# Expected behavior

if `PS C:> docker run -it microsoft/windowsservercore powershell` is exited while a second `PS C:> docker exec -it {CONTRAINER ID} powershell` is running. The second `docker exec powershell` will also exit the container and return to the calling shell.

[2016-11-07 09:04] thaJeztah commented on #24310
@leonard-sky published ports for services in swarm mode go through the network mesh, and are not visible in `docker ps`. Try `docker service inspect`.

[2016-11-07 09:05] runcom commented on #28113
Alright, I figured this was an issue in the API client. Opened https://github.com/docker/docker/issues/28118 which fixes it (it was a version issue)

[2016-11-07 09:14] leonard-sxy commented on #24310
@thaJeztah thanks, checked the docker service inspect, i can see that exposed port, but [registrator](https://github.com/gliderlabs/registrator) was complaining that: port XXX was not published to host, and removing the ability to publish port to host is kind of wried.

[2016-11-07 09:26] robbyoconnor commented on #24132
I...just got bit by this...

[2016-11-07 09:27] langziming commented on #27837
I meet the same problem , Please anybody help me?

[2016-11-07 09:32] AkihiroSuda commented on #28116
The test depends on `tiborvass/no-remove`, which seems updated two days ago

PTAL @tiborvass please

https://hub.docker.com/r/tiborvass/no-remove/tags/
https://github.com/docker/docker/blob/ba41a5edac16857121779434cd80b86dcdb0ffda/integration-cli/docker_cli_daemon_experimental_test.go#L16

[2016-11-07 09:33] AkihiroSuda commented on #28115
The test depends on `tiborvass/no-remove`, which seems updated two days ago

PTAL @tiborvass please

https://github.com/docker/docker/blob/6ee25e6277c930c71ff0e5c68ec6d66845b7f88f/integration-cli/docker_cli_plugins_test.go#L13-L15
https://hub.docker.com/r/tiborvass/no-remove/tags/

[2016-11-07 09:38] robbyoconnor commented on #24132
I got bit by this...
[code]

[2016-11-07 09:41] robbyoconnor commented on #24132
This makes me very uneasy -- This should not prevent the engine from starting. It should make swarm features not work, but the engine should start.

[2016-11-07 09:49] thaJeztah commented on #24132
@robbyoconnor try renaming / removing the `/var/lib/docker/swarm` directory, which should disable swarm mode

[2016-11-07 09:49] paltryeffort commented on #19803
Any updates to this? Docker 1.12.2 still doesn't support tags for json-file and vars like {{.Name}} are still not parsed when used in labels.

[2016-11-07 09:50] thaJeztah commented on #24132
@robbyoconnor also, you ran into this because that daemon hadn't been running for a longer period, or did something else happen?

[2016-11-07 09:57] robbyoconnor commented on #24132
@thaJeztah, I haven't used docker in a while

[2016-11-07 10:01] robbyoconnor commented on #24132
That fixed it -- but why did I run into this? Hilariously, this is just after I read a [piece on Docker issues in production](https://thehftguy.wordpress.com/2016/11/01/docker-in-production-an-history-of-failure/) -- some of which I see...some of which I feel is blown out of proportions.

[2016-11-07 10:01] leth opened #28120 "Request: Image creation events during docker build"
I'd like the API **container commit** event to include the ID of the image it created.

I have a small util which tracks how recently docker images have been used, and cleans up dangling images after some time if they have not been reused.
To do this I need to keep track of image creation, however layers created by docker build come from container commit events, which do not tell you the ID of the

[2016-11-07 10:04] alex-tu-cc opened #28121 "port binding not work for jekyll serv, might caused by ipv6"
**Description**

**Steps to reproduce the issue:**
[code]

**Describe the results you expected:**
In my case of docker 4001 port binding, I can access 127.0.0.1:4001 in container, that says the jekyll server works well. But failed on host, it means something block the tunnel.

**Additional information you deem important (e.g. issue happens only occasionally):**
from netstat message, it looks jekyl

[2016-11-07 10:05] leth commented on #28120
Hmm, I suppose a more general request would be for the build stage to emit events directly.

[2016-11-07 10:21] thaJeztah commented on #24132
@robbyoconnor it's a security mechanism; swarm mode automatically regenerates certificates on a periodic interval so this issue never happens in production. Certificates _should_ expire, to prevent (for example) a stolen or retired node from rejoining. The default certificate expiration time is 90 days, which means that it'll only expire after a daemon was shutdown for three months.

[2016-11-07 10:27] francois2metz commented on #28109
Yup, https://github.com/opencontainers/runc/issues/1175 is the root cause (I got his error via docker initially).

[2016-11-07 10:28] francois2metz commented on #28109
It happens on systems which have systemd 232.

[2016-11-07 10:42] #24092 closed

[2016-11-07 10:43] thaJeztah commented on #24132
Perhaps I should add that the expiration time is configurable  through the `--cert-expiry` flag; https://github.com/docker/docker/blob/v1.12.3/docs/reference/commandline/swarm_init.md

@diogomonica I think we should add a section to the Swarm admin guide (https://docs.docker.com/engine/swarm/admin_guide/) to explain the (dis)advantages of setting a longer/shorter expiration time (I recall some peo

[2016-11-07 10:46] thaJeztah commented on #19803
@paltryeffort I don't think I've seen someone opening a pull request / contribution to implement this, but contributions are welcome. Templating features for "swarm mode" is being worked on in https://github.com/docker/docker/pull/28025

[2016-11-07 10:47] silkentrance commented on #27165
@thaJeztah normally, yes, however in this specific case the ip address of the dns record might change over time (DHCP, DynDNS).

[2016-11-07 10:51] thaJeztah commented on #28095
@yongtang we may consider adding `--limit-memory` to `docker run`

[2016-11-07 10:53] thaJeztah commented on #25138
ping @runcom ^^

[2016-11-07 10:53] PanadeEdu commented on #27734
Issue confirmed.
VirtualBox version 5.1.8
using Docker Machine on Windows 7

Everything works, exept for docker pull

[2016-11-07 10:54] oflebbe commented on #24132
I am feeling very uneasy: IMHO the automatic ticket regeneration seems not to work. Why doesn't docker regenerate the ticket by itself, when it is expired ?

[2016-11-07 10:55] thaJeztah commented on #20758
@mustafaakin have you reported the kernel panic with Ubuntu? Kernel panics are a bug in the kernel, so not something that can be resolved in the docker codebase

[2016-11-07 10:58] thaJeztah commented on #27211
@anannaya are you still able to reproduce after updating? (I.e. Running on 1.12.2 or 1.12.3)

[2016-11-07 11:06] thaJeztah commented on #24132
Docker automatically regenerates the certificate before it expires. Once it _has_ expired, it should _never_ regenerate the certificate. Regenerating a certificate after it has expired would defeat the security that a certificate provides.

[2016-11-07 11:10] mccormickma opened #28123 "Cannot connect call api from host."
I'm new to docker and have started with a standard test app, Web.Api. I have added docker support in Visual Studio and when I debug the app I get back the values from the GET method http://localhost:5000/api/values.
My problem comes from accessing the api when I am not debugging. I can see the container is running and i can run it myself by using the following compose command

[code]
What I cant d

[2016-11-07 11:26] lmesz opened #28124 "volume handling when docker.sock mounted inside a docker container"
**Description**

Docker doesn't handle volume properly in case user use docker in a container via the host docker engine. When the inner container start another container with --volume, docker mount it from host instead of the inner container.

**Steps to reproduce the issue:**
1. Start a docker container with the following command: docker run -it -v /var/run/docker.sock:/var/run/docker.sock ubunt

[2016-11-07 11:30] nkkashyap commented on #27543
@rhvgoyal Thanks Vivek
Scanned the kernel logs, no OOM message.
We are using Ubuntu 14.04, currently cannot move to other destro. Will try Docker 1.12.3 with lvm2_2.02.133

[2016-11-07 11:31] oflebbe commented on #24132
Are you absolutly shure that the regeneration algorithm is correct ?

[2016-11-07 11:57] adaphi commented on #28067
We restarted both clusters (the one in use and the test one) over the weekend, and today the masters in both clusters have panicked as described. The four worker nodes are fine. The swarm-maintainer I mentioned has been disabled all this time so it can't be involved. Also, the cluster that is in use is still running containers on the worker nodes, which proves that it was working when it first sta

[2016-11-07 12:13] awhitcroft opened #28125 "libnetwork/drivers/bridge -- allow use of an existing pre-configured bridge"
The bridge libnetwork driver allows use of networks based on bridges as networks within Docker. I would be nice to be also able to attach a Docker network to a pre-existing bridge without affecting the configuration of that bridge.

[2016-11-07 12:17] thaJeztah commented on #24310
The option to publish a _container's_ port to the host is still present (i.e. `docker run -p 8080:80 nginx` still works as usual). The difference here is that _services_ are not _containers_; when deploying a service, the service can (and in most cases _will be_) backed by multiple containers. When publishing a service port, that port is exposed through the routing mesh, and will be available on _

[2016-11-07 12:23] thaJeztah commented on #24132
@oflebbe it should be, but possibly @tonistiigi @diogomonica are aware of reasons why it could fail (you mention your daemon has been running, and certificates didn't rotate?)

[2016-11-07 12:38] prparmar77 commented on #24310
anybody successful publishing port ,I tried docker 1.12.2 but not able to publish port to host

[2016-11-07 12:39] thaJeztah commented on #22371
@arno01 making `dmsetup` a required package would be odd, because it's only used for the device mapper driver, and not by other drivers, such as `aufs` (which is still the default in a regular Xenial setup). The problem in this case is a bug in the device mapper driver, see the discussion on https://github.com/docker/docker/pull/25411.

Note that for docker 1.13, we're promoting overlay in the lis

[2016-11-07 12:43] leonard-sxy commented on #24310
@thaJeztah  got it now, thank u very much for this very clear and detailed explanation

[2016-11-07 12:44] leonard-sxy commented on #24310
@prparmar77  Please read the above thaJeztah's very clear explanation first.

[2016-11-07 12:50] thaJeztah commented on #18508
ping @mavenugo I see https://github.com/docker/libnetwork/pull/1328 was merged; was this issue resolved? (and do you know which release?)

[2016-11-07 12:52] JonasT commented on #25407
Is there any progress on this? It would be nice if this was eventually added. As described above it's not really a revolutionary feature or anything that someone running a big data center setup would need, but it would really go a long way of making docker more easy to setup for beginners and small server owners.

[2016-11-07 12:58] adaphi commented on #28067
`docker info` from the manager at the start:

[code]

from one of the workers:

[code]

[2016-11-07 12:59] thaJeztah commented on #28123
Given that we don't have the source code of your application, it'll be hard for anyone to reproduce your issue. Also keep in mind that GitHub is not a support forum, but for reporting bugs and feature requests in Docker.

At a quick glance, I see that your "debug" compose file publishes port 5000 to a _fixed_ port 5000; `5000:5000`, whereas the `docker-compose.yml` file publishes port 5000 to a _r

[2016-11-07 13:08] thaJeztah commented on #28121
I don't know Jekyll well, but this seems to be your problem;

[code]

This means that the server is listening on 127.0.0.1 only. Container's have their own network space, and 127.0.0.1 inside the container means that it's only accessible from _within_ the container.

Try changing the config so that the server is listening on 0.0.0.0, that way it's also accessible from outside the container.

[2016-11-07 13:16] CVTJNII commented on #23508
I'm also seeing this on v1.11.2.  I have long-running daemon containers which are programmed to die on error with the expectation that the docker daemon will restart them, hence a restart always policy.  I'm not yet aware if this happens every time the container dies or if it's intermittent.

[2016-11-07 13:18] CVTJNII commented on #23508
Kill also hangs.

We need a way to kill restarting containers.  I'm not certain when this behavior was set but from a user perspective it is a negative.  I'm going to have to shut down a production host to clear out Docker to resolve this, and that's a bad thing.

[2016-11-07 13:22] nschoe commented on #23508
Yes, that is also what I have been doing when I met this error.
This is becoming a real problem now that the whole system is on production.
I am taking extra precaution outside this script to ensure that there won't be a crash, but then again, it can happen.

Hope you guys are working on it, let me/us know if you need additional details!

[2016-11-07 13:28] cpuguy83 commented on #28124
You've mounted the "outer" docker instance's socket to /var/run/docker.sock inside the new container.
This means if you try to start docker with default permissions inside this container, it will fail because it can't bind to that socket.
Any docker commands will hit the socket for the daemon running outside of the container.

This is expected behavior because you are talking to the "outer" daemon

[2016-11-07 13:28] #28124 closed

[2016-11-07 13:28] cpuguy83 commented on #28124
Closing because this doesn't look like an issue, but please feel free to discuss here.

[2016-11-07 13:29] cpuguy83 commented on #25407
ping @docker/core-libnetwork-maintainers

[2016-11-07 13:32] rhvgoyal commented on #27381
Ok, so docker-containerd-shim is seeing this mount point and hence keeps it busy. I am not sure what is docker-containerd-shim and why mount point is leaking there. Who knows about it.

@crosbymichael you might know about it.

[2016-11-07 13:33] thaJeztah commented on #28067
Curious; Is there a reason you're not configuring the swarm for high availability (and configure multiple managers as master)? You seem to be duplicating what swarm mode itself already does

[2016-11-07 13:33] rhvgoyal commented on #27381
cc @mrunalp

[2016-11-07 13:42] djalal opened #28126 "constantly crashing node"
**Description**

for the last 3 weeks, one staging VM has been constantly crashing, at least once a day.

the big difference with other nodes is they have XFS while this one uses EXTFS as backing filesystem (all on AUFS, not overlay)

the other difference is we began launching containers with multiple processes inside, despite the best practices.

according to you, what would be a durable solution

[2016-11-07 13:52] cpuguy83 commented on #28126
The `dirperm1` message is a red herring. It's a warning from aufs kernel module that is not related to the kernel panic.

Can you paste the full kernel panic?

[2016-11-07 14:06] justincormack commented on #28112
I don't know if there were any differences in 1.12.3 final from -rc1 that would affect this, seems unlikely

@aboch PTAL

[2016-11-07 14:12] justincormack commented on #28107
This is not a bug in docker, so I am going to close this issue. You might get better support on the docker forums https://forums.docker.com/ than here, as this is specifically for issues in the docker engine, while you want to update your containers.

[2016-11-07 14:12] #28107 closed

[2016-11-07 14:13] cpuguy83 commented on #28105
ping @mrjana @thaJeztah

Looks like a similar request (but not exactly) to #27917

[2016-11-07 14:15] AshMcConnell commented on #27739
This happens on a clean installation if you try and do any docker build.  Without any configuration it gives the error : -

Error checking context: 'can't stat '\\?\C:\Users\Ash\AppData\Local\Application Data''.

This is because Application Data is a symlink to C:\Users\Ash\AppData\Roaming

Surely a default config that avoids these symlinks would be preferable? *Note* I didn't configure `C:\Users\

[2016-11-07 14:18] cpuguy83 commented on #28107
@caneraydinbey Time is always handled in the kernel.
Containers get the time from the kernel, and then the userspace will apply a TZ offset from `/etc/timezone`. If the TZ offset is not correct then you would need to modify it via `/etc/timezone` (typically).
This should be handled the same way in a container or out.

[2016-11-07 14:21] sanimej commented on #28112
There was no change between 1.12.3 and rc1 in this area. panic is from the docker dns server. I will take a look.

[2016-11-07 14:23] thaJeztah commented on #28091
Can you also give the output of `docker version` and `docker info`? Is it possible you're running the Red Hat fork of Docker? That version has a lot of modified code in this area, which may be involved

[2016-11-07 14:24] adaphi commented on #28067
Eventually there'll be multiple. Currently we only have two availability zones; if we had three managers then a price hike in one zone could take out two at once and render the cluster unusable (since they're just spot instances). With only one master we can recover from price changes things slightly more easily. When we have a third AZ we'll probably do as you describe, since there'll be less cha

[2016-11-07 14:27] AshMcConnell commented on #27739
**Update** - The issue for me is that I was running docker in c:\Users\Ash (i.e. my home folder in git bash).  For some reason, running it from Documents `C:\Users\Ash\Documents\` fixed the problem.  I'm thinking that docker thinks it can't write to `C:\Users\Ash` and tries to write to `C:\Users\Ash\AppData\Local\Application Data` instead.

A possible fix would be to default to the %APPDATA% env v

[2016-11-07 14:31] rhatdan commented on #18796
You should not need oci-systemd-hook if you pass in the params above.  Is the httpd built on Arch or Fedora?
It seems like systemd is trying to do stuff even though it is running within a container.  It might be a problem with the version of systemd you are running.

[2016-11-07 14:32] rhatdan commented on #18796
oci-systemd-hook eliminates the need for running the container with --tmpfs /run and -v /sys/fs/cgroup,,,

[2016-11-07 14:36] thaJeztah commented on #27739
@AshMcConnell no, the reason is that the "build context" is the directory from within you are building. `docker build` is performed by the _daemon_. Given that the _daemon_ may be on a different machine,  it doesn't have access to the files you _may_ need in your Dockerfile. So what happens is that the docker client will create an archive of the current directory, including all subdirectories, and

[2016-11-07 14:39] FlorinAsavoaie commented on #28105
Yep, it is similar, but I think better as design, since it will not affect current functionality and not add extra ways of exposing ports either. It is just a flag ;-). If the idea is accepted, I can try to find the resources to submit a patch too.

[2016-11-07 14:39] cpuguy83 commented on #27103
@tgpfeiffer You have to specify a `device` otherwise there is nothing to mount.
So you need `--opt type=bindfs --opt device=<thing to mount>`

[2016-11-07 14:44] AshMcConnell commented on #27739
Ah I see, that makes perfect sense now.  Thanks for the clarification.

[2016-11-07 14:48] sakserv commented on #27987
@cpuguy83 Thank you for the feedback. I've taken your advice to heart and began looking at other approaches that are more reliable. I must say this is proving difficult.

Unless I'm missing something, if docker is stopped (via `systemctl stop docker` in my case), `docker-containerd-ctr` also doesn't work?

An alternative to using `docker wait` would be something like the following:
* `docker run`

[2016-11-07 14:49] paulmenzel commented on #18796
Hmm, then I am confused too. Because with systemd 231 in a Debian Stretch/testing image it doesn’t work for me either even when passing the parameters as written in my comment from 17 days ago.

Using the Fedora 24 image with systemd 229, it works. Are there any patches for systemd in Fedora 24?

[2016-11-07 14:51] tswift242 commented on #27597
@boucher I believe Docker is responsible for restoring the container's net namespace, not CRIU, right? Docker specifies "--empty-ns network" to CRIU (https://github.com/docker/docker/blob/8ed31089c03c36954e95c2066b1f3724e2d5c849/libcontainerd/client_linux.go#L666), and I believe it does that because Docker wants to be the one to setup all the networking. As a result, I believe that Docker sets up

[2016-11-07 14:53] rhatdan commented on #18796
Not that I am aware of.  Perhaps open a bug with systemd on this.  If this blows up on latest systemd then their must be a new feature causing this issue.

[2016-11-07 14:54] thaJeztah commented on #28105
@FlorinAsavoaie @cpuguy83 I think this is a duplicate of https://github.com/docker/docker/issues/25257

However, I'm not entirely sure of the use case; the "routing mesh" takes care of routing requests to the node that a service runs on, so if you hit _any_ node in the Swarm, networking traffic will be routed to your service; you can "hit" the nodes that run the actual tasks if you know which (gro

[2016-11-07 15:02] justincormack commented on #28120
Adding the image ID to the commit event is probably quite simple, and seems reasonable - do you want to have a go at a PR?

[2016-11-07 15:03] paulmenzel commented on #18796
This has never worked for me in any systemd version.

Here are some tests.

[code]

The container is running, but systemd is not started.

[code]

With the other arguments for tmpfs I get the following error.

[code]

[2016-11-07 15:14] rhatdan commented on #18796
Is the debian version of systemd attempting to mount a tmpfs on /run/lock?

[2016-11-07 15:14] boucher commented on #27597
That's right -- as far as I know we're not doing anything special to set up networking on the restored container, simply preventing CRIU from doing anything. CRIU itself does in some instances mess with iptables, maybe its possible that there's a conflict there?

[2016-11-07 15:36] leth commented on #28120
Hmm, I guess I could have a go

[2016-11-07 15:50] mlaventure commented on #26713
@thaJeztah @albers it's already part of `docker version`, it shows as `Experimental: true` under the server information (it'll show `Experimental: false` otherwise)

[2016-11-07 15:59] thaJeztah commented on #24132
I raised the priority; we should get a fix in 1.13 so that the daemon can start, allowing people to `docker swarm leave` to resolve this situation

[2016-11-07 16:04] thaJeztah commented on #26713
@mlaventure oh! you're right, lol

[2016-11-07 16:07] hholst80 opened #28127 "docker save | docker load"
[code]

expected result:

the image `image:tag` is updated on the host `other-host`.

actual result:

The image is *not* updated on the remote host if it already was uploaded.

[code]

[2016-11-07 16:09] #28127 closed

[2016-11-07 16:10] hholst80 commented on #28127
INVALID. I was by mistake loading the image from the target machine.

[2016-11-07 16:20] mavenugo commented on #28105
@thaJeztah @FlorinAsavoaie i have heard of this requirement as well in use-cases where the External LB is dedicated to a certain set of nodes (in this issue its called the "Management layer"). whereas the Internal LB should be available on all the nodes. With Overlay networking and builtin SD and LB, internal-LB in swarm-mode is already supported on all the nodes.

When it comes to Routing-Mesh, i

[2016-11-07 16:21] alex-tu-cc commented on #28121
@thaJeztah thanks a lots!!! it works now, it looks my miss understanding before.

[2016-11-07 16:24] qzio commented on #28109
Just want to report that I got this on machines running debian unstable.

[2016-11-07 16:29] thaJeztah commented on #28121
@alex-tu-cc no problem, good to hear it's working now!

[2016-11-07 16:29] #28121 closed

[2016-11-07 16:33] #25180 closed

[2016-11-07 16:33] #25196 closed

[2016-11-07 16:34] albers commented on #26713
Well that's funny! Thanks @mlaventure @thaJeztah.

[2016-11-07 17:01] ysangkok commented on #13928
@vitalyisaev2 Was the Badoo control tool open sourced?

[2016-11-07 17:03] mlaventure opened #28129 "Move duplicated unix code into a common file"
With the addition of Solaris (see #28056), a few routine were copied (almost) verbatim into the `_solaris.go` files.

This can end up being problematic as we may forget to update the Solaris version when making update to those routines as we have no CI running on Solaris (yet?).

This issue is here to prevent us to forget that these need to be deduplicated :)

[2016-11-07 17:09] aboch commented on #28125
@awhitcroft This should already be possible:

[code]

In docker 1.13, thanks to https://github.com/docker/libnetwork/pull/1301, the bridge won't be touched when you remove the docker network.

[2016-11-07 17:13] cpuguy83 commented on #28125
@aboch So the bridge will be removed on 1.12? 😨

[2016-11-07 17:32] aboch commented on #28125
@cpuguy yes, in any docker version < 1.13.x

[2016-11-07 17:34] crosbymichael commented on #27381
Thanks for the ping. I'll take a look.

[2016-11-07 17:36] mlaventure commented on #26495
@jcf I can't reproduce your issue unfortunately.

The only difference on my local VM is that I'm under `4.8.6-1-ARCH`.

Also note that by `Arch` being a building-edge distro, their frequently updated packages often causes incompatibility with `docker` which is the reason why we don't provide official packages for it.

To try a different graphdriver, you can create a loopback with another partition

[2016-11-07 17:47] mccormickma commented on #28123
Thanks for the response thaJeztah and apologies if this is the wrong place for such a question. Been frustrated by this issue for a few days now. I tried setting the port in compose to 5000 so its fixed and same result.

[2016-11-07 17:49] darrenstahlmsft commented on #28087
Oh, I was reading this on my phone and thought that the running container was the created container, not the template utility VM. That makes a lot more sense. I'll take a look at this and see what we can do.

[2016-11-07 17:53] SpComb opened #28131 "Experimental plugin containers run in an empty network namespace"
**Description**

Testing the new Docker experimental plugin containers with [Docker 1.13.0-dev](https://master.dockerproject.org/), it seems that the plugin `manifest.json` `network` `type` is ignored, and the plugin always runs in an empty network namespace (loopback-only).

**Steps to reproduce the issue:**
1. Install Docker 1.13-dev and enable `dockerd --experimental`
1. `docker run --restart=a

[2016-11-07 18:00] FlorinAsavoaie commented on #28105
@thaJeztah, in my particular case, I could just make sure that the connections to all other nodes are blocked on that port by the firewall and just connect to that "group". I find this more of a workaround rather than an actual solution.

For me, both in this and other situations, this flag sounds like a natural thing to have. Especially useful in larger and larger deployments. I heard a customer

[2016-11-07 18:13] marcellmars commented on #24738
same here with bitmask (vpn) running..

Docker version 1.12.3, build 6b644ec
Debian unstable, kernel 4.7.8-1 (2016-10-19) x86_64 GNU/Linux

turning off bitmask helped docker systemd service starting...

[2016-11-07 18:14] mrjana commented on #27114
Closing this as a case of starting two daemons at the same time in same exec root and one of them failing to start. Please feel free to reopen if you think otherwise.

[2016-11-07 18:14] #27114 closed

[2016-11-07 18:19] aaronlehmann commented on #27647
ping @mavenugo

[2016-11-07 18:31] rhvgoyal commented on #27381
@ceekco can you check what's the mount namespace of these docker-containerd-shim threads/processes.  I suspect that these are not sharing mount namespace with docker daemon and it probably should.

[2016-11-07 18:33] FlorinAsavoaie commented on #25688
This sounds like an expected feature in high traffic deployments, from 2 perspectives:

1. When one service connects to a mesh network endpoint, it connects to the IP of a random node (since you connect to ONE of them). This generates traffic between the node running the calling service and the node we are connecting to. Can't we find a solution in which we are always directed to the mesh network

[2016-11-07 18:34] #25772 closed

[2016-11-07 18:35] cpuguy83 commented on #28131
ping @anusha-ragunathan

[2016-11-07 18:47] centerorbit commented on #11534
I had a similar issue using the native Docker for Mac. It was giving me the same error.

@bobbytables solution implied that the clock drifted, and so the SSL connection could not be properly established. I've seen this before with VMs when the host computer is put to sleep, the VM time can drift from realtime.

Native Docker for Mac still has a VM, it's just a very thin Linux Hypervisor, yet still

[2016-11-07 19:12] oflebbe commented on #24132
That would be a conveniant way to handle the situation. +1

[2016-11-07 19:25] aaronlehmann commented on #28067
@adaphi: Can you please try upgrading to Docker 1.12.3?

[2016-11-07 19:26] brennovich commented on #28109
Which version of systemd are you using?

On Mon, Nov 7, 2016, 2:26 PM joel hansson <notifications@github.com> wrote:

[2016-11-07 19:41] mithrandi commented on #28109
systemd 232 was very recently uploaded to Debian Unstable: https://tracker.debian.org/news/812332

[2016-11-07 19:41] jesuscript commented on #23855
having a similar issue. what should --listen-addr be set to?

[2016-11-07 19:46] crosbymichael commented on #27921
We can make the change for server containers to bring it inline and then figureout what we want to do with hyper-v

[2016-11-07 20:02] justincormack commented on #28129
Much of the freebsd code is just wrong, I was going to do a cleanup but not until after 1.13 is out although I pointed out a few things on the Solaris PR. It is pretty bitrotted, as there is no CI on the daemon parts, only the cli.

[2016-11-07 20:08] JimmyAstle opened #28133 "iptables MASQUERADE rules not created with iptables set to off ip-masq set to true"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
**Description**
When a new user defined docker bridge network is created and the docker daemon has `iptables=false` and `ip-masq=true` the nat masquerade rules are not created for the user defined bridge network. This causes machines attached to this network to have no ext

[2016-11-07 20:35] justincormack commented on #21081
@bitliner ok so that is a lockup on the emulated ethernet card on vagrant. Are you running it with virtualbox? This is not really a kernel bug at all it is virtualisation code trying to emulate physical hardware and not doing it well enough. This is often an issue, especially with timing. Virtual network drivers (PV) rather than emulated hardware drivers work better with VMs.

[2016-11-07 20:57] justincormack commented on #28133
`iptables=false` means that Docker does not change do anything to iptables settings at all.

[2016-11-07 21:38] justincormack opened #28134 "overlay2 ownership issue"
Permissions are incorrect with `overlay2` if a file is deleted and recreated in the same layer.

[code]

Likely to be a kernel issue, but have not seen this one before...

cc @dmcgowan

[2016-11-07 21:46] justincormack commented on #28134
Ok, duplicate of https://github.com/docker/docker/pull/27705 closing

[2016-11-07 21:46] #28134 closed

[2016-11-07 21:51] binman-docker commented on #17904
Great, thank you!

[2016-11-07 22:02] jpca999 opened #28135 "while using docker-compose up why does it throws error on mac when i runs smoothly on ubuntu ( ec2 ) ?"
IT IS FINDING THE ERRORS IN THE REPO BUT I DONT EVEN HAVE THOSE FILES LOCATED...   IS IT POINTING TO THE OLD  DOCKER IMAGE/ CONTAINER , HOW TO RECTIFY IT ?

docker-compose up
![image](https://cloud.githubusercontent.com/assets/1026325/20077705/74101e6a-a50b-11e6-8697-1d3821740159.png)

![image](https://cloud.githubusercontent.com/assets/1026325/20077778/c99a0c88-a50b-11e6-86ae-413918b23511.png)

!

[2016-11-07 22:12] thaJeztah commented on #23855
@jesuscript no need to set listen-addr (it defaults to 0.0.0.0), `--advertise-addr` is the important one if your node has multiple interfaces / IP addresses

[2016-11-07 22:25] robbyoconnor commented on #24132
:+1:

[2016-11-07 22:30] dongluochen commented on #27124
I got into this problem with a simple sequence. Container can still connect to the network so it's UX issue.

[code]

[2016-11-07 22:30] jpca999 commented on #28135
the docker-compose up  file wasn't updated if you install with yo meanjs

[2016-11-07 22:30] #28135 closed

[2016-11-07 22:32] mschwager commented on #17670
Is there a simple way to just calculate the `RepoDigests` value from existing information? If I, for example, wanted to calculate said information before pushing to a remote source.

@runcom I looked into your tool a bit, but it's not immediately obvious how the `Digest` value is calculated.

Something like `sha256(this_data + that_data)` would be great!

[2016-11-07 22:39] #27994 closed

[2016-11-07 22:46] JimmyAstle commented on #28133
Thanks for the update Justin. This was the expected behavior as reported. Is it possible to add a few sentences to the documentation to save other folks from having the same issues I ran into? Maybe an additional sentence [https://docs.docker.com/engine/reference/commandline/dockerd/](url) like:
 "`--iptables=false` prevents the Docker daemon from adding iptables rules. This also means that nat ma

[2016-11-07 22:48] ibukanov opened #28136 "embedded dns abruptly terminates TCP connection when resolving MX or CAA records"
**Description**

If a container on a custom network uses DNS over tcp, then resolving MX and CAA records fails with typical error messages indicating end-of-file problem.

**Steps to reproduce the issue:**

1. Create a custom network: `docker network create bugtest`
2. Run a container on it with software that uses DNS over TCP:
[code]

**Describe the results you received:**

The error is caused by

[2016-11-07 22:54] mschwager commented on #18133
Is there a simple way to just calculate the `RepoDigests` value from existing information? If I, for example, wanted to calculate said information before pushing to a remote source. If it's calculated client side, then why do I need to attempt to push it to a remote source before being able to view the information? It makes sense to be able to view this information about a newly created local imag

[2016-11-07 22:55] thaJeztah commented on #28123
@mccormickma hm, best recommendation I can give then, is to try adding one setting at a time in your .dev version to see which difference causes the problem.

[2016-11-07 23:05] vikstrous commented on #27124
Yeah, there's more to it than that though. If you have a one node swarm and you leave and init the swarm, it actually stops being attachable.

[2016-11-07 23:05] howdoicomputer commented on #18796
@rhatdan

[code]

Yeah, I built and ran the image on Arch.

[code]

[2016-11-07 23:16] shadeslayer commented on #27619
I can definitely reproduce this too.

[2016-11-07 23:34] mohanpindyala commented on #23414
Guys I am also facing same issue . whats going here . My node is successfully registered to UCP though. any ideas ?

[2016-11-07 23:35] dmcgowan commented on #27619
@shadeslayer could you provide your `docker info`

[2016-11-07 23:42] shadeslayer commented on #27619
[code]

We're on a slightly exotic architecture but running docker from the ubuntu xenial packages.

[2016-11-07 23:45] shadeslayer commented on #27619
I've even tried to switch to the devicemapper backend, but unfortunately docker just hangs after it creates the pools there :(

[2016-11-07 23:51] anusha-ragunathan commented on #28131
@tiborvass is working on a fix.

[2016-11-07 23:56] jpca999 opened #28139 "how can i transport my docker image that contains the node_module folders too to the ec2 ?"
pls guide me the best way...

[2016-11-08 00:12] dmcgowan commented on #27619
@shadeslayer we are still trying to pin down which kernel versions are effected, if it is a more recent fix then the maintained 4.4 kernel is more likely to have the fix if that is something you are interested in trying out.

[2016-11-08 00:17] tiborvass commented on #28115
Fixed

[2016-11-08 00:17] #28115 closed

[2016-11-08 00:17] bitliner commented on #21081
@justincormack Indeed, moved to vmware fusion (also changed vagrant box, I went for a different ubuntu-16.04 box), now it works fine.

[2016-11-08 00:20] jhowardmsft commented on #28119
@darrenstahlmsft Could you PTAL. Thanks.

[2016-11-08 00:29] darrenstahlmsft commented on #28119
I'll take a look this afternoon, but I have a strong suspicion that this might've been fixed 5 mins ago by https://github.com/docker/docker/pull/27615, but I need stacks to confirm. I'll confirm soon.

[2016-11-08 00:32] #28113 closed

[2016-11-08 00:34] tiborvass commented on #28116
Also fixed

[2016-11-08 00:34] #28116 closed

[2016-11-08 00:36] tonistiigi commented on #24132
@oflebbe

There was an issue that may delay renewal in certain restart intervals. That was fixed in `v1.12.2`.

[2016-11-08 00:47] #27521 closed

[2016-11-08 01:03] AkihiroSuda commented on #28115
thank you :smile:

[2016-11-08 01:04] AkihiroSuda commented on #28115
And can we use a non-"latest" tag for determinism?

[2016-11-08 01:30] vans88 commented on #28058
**@justincormack**   Many thanks for your suggestions. Last afternoon, my command "make all" run successfully, That may means kubernetes  has been built done, if so, I wanna close this comment. What do you think of it?

[2016-11-08 01:31] zht452432830 commented on #23414
I solved this by using `--controller-port xx(can't be 443)` when installing UCP.
UCP and DTR's default port is 443. If UCP and DTR on the same machine, port conflicts should be solved.
@mohanpindyala

[2016-11-08 01:34] SirAlvarex commented on #27827
We are seeing a similar issue with Docker PS hanging on CoreOS machines.  After awhile docker ps and docker stop just hang indefinitely.

GIST of stacktrace: https://gist.github.com/SirAlvarex/02412e86ce833a4ea12d000471aecdad

It seems there are an extremely large amount of goroutines on app-emulation/docker-1.11.2-r5/work/docker-1.11.2/vendor/src/github.com/vishvananda/netlink/link_linux.go:898

[2016-11-08 01:36] #28058 closed

[2016-11-08 01:58] tgpfeiffer commented on #27103
@cpuguy83 Sorry, none of the following work for me:

[code]

[2016-11-08 02:23] oulinbao commented on #27517
Can I try to fix this one?

[2016-11-08 03:15] #25644 closed

[2016-11-08 03:16] friism commented on #27941
@eliassal it's not currently possible to customize this with Docker for Windows, but if you install the daemon yourself, you can do it how Stefan suggested. We're also tracking this as a future enhancement to Docker for Windows.

[2016-11-08 04:28] AkihiroSuda commented on #28136
Could not reproduce in master
[code]

cc @aboch @mavenugo @mrjana

[2016-11-08 04:45] ryanlyy commented on #27057
Any comment? Does Live-restore work well?

Thanks,
Ryan

[2016-11-08 04:52] mavenugo commented on #28136
@ibukanov This seems like a forked version of Docker and not an official build of docker/docker project. Please reproduce the issue in an official build of docker/docker (preferably a released version 1.12.3 being the latest stable release) and get back to us.

[2016-11-08 04:54] aboch commented on #28136
I cannot reproduce with 1.11.2:

[code]

[2016-11-08 05:39] crossz opened #28149 "Docker v1.12 can not change hostname by env variable $HOSTNAME"
**Description**
With previous docker versions, the command of "hostname" and "echo $HOSTNAME" returned same thing, after I changed it by sending an env variable into the image.

Why I use this is that I want to insert a new host into /etc/hosts by invoking hostname or $HOSTNAME. So my service/app inside this docker can get the 'real' IP address or the one I assigned, while not the docker internal

[2016-11-08 06:24] KevinTHU commented on #28114
no one care this question?

[2016-11-08 07:11] shaynewang commented on #27687
@hmdhasani  I'm still on this. I think we need a -f functionality for --tail. I don't have a lot of free time but I'm working on it/

[2016-11-08 07:17] hmdhasani commented on #27687
Thank you, @shaynewang

[2016-11-08 07:27] dmp42 commented on #27354
@jkubrynski can you clarify? eg: by "indexing" == is this about search?

[2016-11-08 07:56] ceecko commented on #27381
@rhvgoyal They share the same namespace

dockerd
[code]

I checked three docker-containerd-shim processes
[code]

We don't have any dead containers which could not be removed now.
The thing is that twice a week we regularly stop & remove all containers and start new ones with the same config. Before this "restart" some containers end up being dead and cannot be removed. After the regular "restart"

[2016-11-08 08:01] KevinTHU opened #28155 "docker doesn't service after we using exec -it /bin/bash to run background command with & and exit"
**Description**
docker doesn't service after we using exec -it /bin/bash to run background command with & and exit

**Steps to reproduce the issue:**
1. docker run -d --name=hx-123-test centos ping www.baidu.com
2. docker exec -it hx-123-test /bin/bash
3. ping www.sina.com &
4. exit   [sometimes run exit may not be ok to exit /bin/bash, because the stdout is printing, so you kan click exit quickly

[2016-11-08 08:53] Tchinmai7 opened #28159 "C/R breaks existing TCP connections"
**Description**

I'm running Apache Traffic Server in a docker container, and the container acts as a reverse proxy to YouTube. The  certs of youtube,etc are cloned and are available in the container.
I have two hosts, and the container runs on only one host at any point of time. I'm using HAProxy as a loadbalancer to route the traffic onto the containers. TLS is terminated only at the container e

[2016-11-08 08:54] martinpitt commented on #18796
Yes, it does, for historical reasons: https://anonscm.debian.org/cgit/pkg-systemd/systemd.git/tree/debian/patches/debian/Make-run-lock-tmpfs-an-API-fs.patch

[2016-11-08 09:00] westsouthnight commented on #27681
@aboch very bad idea for production application and services

[2016-11-08 09:19] prparmar77 commented on #24310
Looks like mine is simple setup and I was using Oracle Linux 6.6 ,the service creation was filling docker logs with following information ;

time="2016-11-08T04:10:25-05:00" level=error msg="setting up rule failed, [-t nat -A POSTROUTING -m ipvs --ipvs -d 10.255.0.0/16 -j SNAT --to-source 10.255.0.2]:  (iptables failed: iptables -t nat -A POSTROUTING -m ipvs --ipvs -d 10.255.0.0/16 -j SNAT --to-so

[2016-11-08 09:40] liquid-sky commented on #13885
Running a simple container with `docker run --rm` every minute and Docker service deadlocks every now and then until it's restarted.

[code]

Kernel:

[code]

[2016-11-08 09:41] thaJeztah commented on #24310
@prparmar77 can you open a separate issue for docker failing to work correctly on Oracle Linux 6?

[2016-11-08 09:43] erikh commented on #21651
I really don't need help writing the code, just the assistance required to know what I need to do, if this is even a possibility.

I'm sorry to be such a pest but it would be really nice to fix this after what, 3 years of it being broken now?

[2016-11-08 09:48] thaJeztah commented on #13885
@liquid-sky do you have more information, perhaps daemon logs show anything useful, or a stacktrace? Also note that we don't have official packages for CoreOS; given that they distribute a modified package/configuration, it may be worth reporting there.

[2016-11-08 10:01] liquid-sky commented on #13885
@thaJeztah Unfortunately journal log has rotated since the process last logged, when I strace it, I see that it's hanging on mutex lock.

[code]

[code]

[2016-11-08 10:02] simPod commented on #13475
How to set mtu value on OSX?

[2016-11-08 10:11] jkubrynski commented on #27354
@dmp42 It means that even after adding `--mirror-registry` docker shows information that it cannot find the image in docker.io

[2016-11-08 10:26] adaphi commented on #28067
Would love to, we have an open ticket with rancher about making it available - sadly there's no AMI with it yet, so we're a bit stuck. We'll see if we can recreate on a different base image (e.g. ubuntu with 1.12.3 installed)

[2016-11-08 10:26] erandu commented on #21735
I have tested IPVlan networking driver in layer 2 mode. This one seems very promising, easy to understand and have good performance.

The disadvantage is for multicast : multicast packets are sent to every nodes (it's a kind of broadcast). I have run tcpdump on parent interface on different hosts, and I see multicast packets, even if I have no containers subscribe to the multicast on the node. It

[2016-11-08 10:33] liquid-sky commented on #13885
And so does every `containerd` service:

[code]

[code]

[2016-11-08 10:35] runcom commented on #27669
Fixed by https://github.com/docker/containerd/pull/338

[2016-11-08 10:35] #27669 closed

[2016-11-08 10:46] depay commented on #13885
@liquid-sky `strace` on a normal dockerd will also show `futex(0x22509c8, FUTEX_WAIT, 0, NULL` which shows nothing meaningful i think...you'd better add `-f` for strace to track all the threads.

[2016-11-08 10:48] Renay opened #28161 "panic: sync: WaitGroup is reused before previous Wait has returned"
**Steps to reproduce the issue:**
None

**Describe the results you received:**

daemons crashed. This is what I see on logs :

[code]
** Additional informations :**

I have a lot of logs like :

Nov  8 01:44:05  dockerd[24383]: time="2016-11-08T01:44:05.137187495Z" level=info msg="containerd: 59b95c83cc24830c60d20231090f451721ec9c118a965d0815e698c693130543:4213194b565b0f581be1bb5cd347c4502f54aeb92

[2016-11-08 10:50] liquid-sky commented on #13885
I think this might be related to [this issue](https://github.com/coreos/bugs/issues/254).

Just in case, a snippet of strace -f of Docker daemon:
[code]

[2016-11-08 11:03] Snorch commented on #27904
Please do not forget about it.

[2016-11-08 11:15] frastel commented on #26840
I have a similar problem. I am on a CoreOS machine and do a `docker run` command with my `core` user which I am used from within older CoreOS machines. `/etc/group` and `/etc/passwd` are mounted, in addition the docker socket too. The whole command is similar to this [docker run wrapper](https://github.com/chefkoch-dev/docker-run/blob/master/run).

The problem:
The core user within the `docker run

[2016-11-08 11:21] CRTX commented on #25847
After upgrading this is affecting me again in Ubuntu 16.10
Using Docker version 1.12.3, build 6b644ec
lxcfs 2.0.4

Unlike before I'm able to run `docker run hello-world` but I'm not able to mount local volumes

`docker: Error response from daemon: invalid header field value "oci runtime error: container_linux.go:247: starting container process caused \"process_linux.go:359: container init caused \

[2016-11-08 11:49] ripcurld00d commented on #28149
@crossz
IIRC the `--hostname` option sets the container's hostname.

[code]

[2016-11-08 11:52] ripcurld00d commented on #28161
@Renay did that happen when you tried to restart/stop the daemon?

Do you have an idea to reproduce these errors?

Thanks.

[2016-11-08 12:00] thaJeztah commented on #20093
This was resolved in docker 1.12;

[code]

[2016-11-08 12:00] #20093 closed

[2016-11-08 12:04] thoughtless commented on #27734
I have the same issue:
VirtualBox Version 5.1.8 r111374 (Qt5.5.1)
Host OS: Mac OS X 10.12.1
Guest OS: Ubuntu 16.04

Run from Guest OS:
[code]

Pulling certain containers fails with an error very similar to the on reported in this bug. However **switching the VM to use `Bridged Adapter` rather than `NAT` fixed the issue.** I shut down (not just suspended) the VM to make the change.

[2016-11-08 12:05] Renay commented on #28161
The daemon crashed.

All my processes inside containers were attached to the main pid 1.

In order to relaunch docker, I have to kill all my processes and start the daemon.

I don't know how to reproduce the problem yet. It's maybe related to ceph storage behind but this problem never occured before ( just a feeling for now )

[2016-11-08 12:07] eliassal commented on #27941
@friism I followed instructions for a workaround in the thread
https://github.com/docker/for-win/issues/191
which allowed me to have all files in another drive. Yes, I beleive it should be added as a seeting as not too many developers assign more than 30 to 40G to C drive which is filled so quickly for running 2 containers.
Thanks for your help

[2016-11-08 12:12] ripcurld00d commented on #28111
@vikstrous strange. I am using urxvt(+tmux) but can't reproduce this error.

[code]

[2016-11-08 12:12] justincormack commented on #28133
sure, cc @mstanleyjones  or if you want you can do a PR on https://github.com/docker/docker.github.io

[2016-11-08 12:14] justincormack commented on #28149
I don't think Docker has ever done this. Perhaps `compose` did? cc @shin- any ideas?

[2016-11-08 12:18] wieczorek1990 commented on #28109
https://github.com/opencontainers/runc/issues/1175 mentions such solution:

Change `GRUB_CMDLINE_LINUX_DEFAULT` in `/etc/default/grub` so that it looks like this:

[code]

_**quiet** is from default Debian grub install._

Then update grub and reboot:

[code]

[2016-11-08 12:19] justincormack commented on #28139
You can push it to Docker hub and then pull it from EC2.

You will be better off asking on https://forums.docker.com/ or reading through the documentation at https://docs.docker.com/ as this is for bug reports, so I am going to close this issue.

[2016-11-08 12:19] #28139 closed

[2016-11-08 12:23] ijc25 commented on #28111
I see this with `urxvt` (`rxvt-unicode` package version 9.22-1 in Debian) but not if I run `tmux` and do the pull there. @ripcurld00d I'm guessing your use of `tmux` is hiding the issue from you (makes sense since I think it is involve in handling the vt100 escape codes etc)

[2016-11-08 12:25] ripcurld00d commented on #28111
@ijc25 thanks for clarifying this.

[2016-11-08 12:43] soanni commented on #28027
@friism @patricklang i checked the solution https://msdn.microsoft.com/en-us/virtualization/windowscontainers/management/manage_serviceaccounts. But this is not exactly what i need actually. i'm trying to place MS Sharepoint 2010 inside the container. Sharepoint needs to have access to domain users. Actual users with actual passwords, becase gMSA account is more like a special account for services

[2016-11-08 13:06] lucasavila commented on #9508
try docker logs -f --tail 0 <container>

[2016-11-08 13:14] thaJeztah commented on #21651
@erikh looks like I missed your previous ping. Given that this would be a breaking change, I suggest to add a query-parameter on the endpoint to enable this behavior. I'm not sure which parts of the CLI use this endpoint (should look), so for those, adding a flag would probably be best.

ping @duglin @estesp let me know if you have additional thoughts!

[2016-11-08 13:16] estesp commented on #21651
@thaJeztah I was just starting to look at this 5 minutes ago..good timing :) I'm a bit confused and want to do some quick research first; last I checked files inside the tar retained their original permissions, and we have tests on this. But, in general I fully agree that something is needed in this area as we have so many different threads of discussion on the same file ownership vs. "container u

[2016-11-08 13:33] crossz commented on #28149
@justincormack I tried on both Ubuntu 16.04 and Centos 7.2; Before I upgrade docker v1.10, both distro worked as expected. Both went 'wrong' after upgrade docker to v1.12.1 and v1.12.3.

My services, similar to those registered on zookeeper regisitry, have to find the hostname and get its ip address. Previously all good by the way I showed above. But after upgrade to v1.12, hostname (coomand) aslw

[2016-11-08 13:36] friism commented on #28027
@patricklang do you have thoughts?

[2016-11-08 13:38] crossz commented on #28149
@ripcurld00d I did not mean how to assign hostname (when container created). They way I described is to pass a customized hostname and corresponding IP, which are different from that automatically created, i.e. container id as hostname and container internal ip.

[2016-11-08 13:43] crossz commented on #28149
In another words, How to make the external host IP address assigned to container hostname?

[2016-11-08 13:56] estesp commented on #21651
Interesting, so `ADD sometar.tgz /` has different codepath/behavior than the `PUT` archive support. Maybe this is the same difference between `ADD` and `COPY`.

`ADD sometar.tgz` actually preserves ownership of the original tar. Which has some valuable behavior, but conflicted with initial implementation of userns as the user assumes copied in contents will match the shifted ID space.  I think the

[2016-11-08 14:00] #27966 closed

[2016-11-08 14:05] thoughtless commented on #27734
This appears to be the ticket with VirtualBox: https://www.virtualbox.org/ticket/16084

If you look at [the comments](https://www.virtualbox.org/ticket/16084#comment:10) and the [linked](https://www.virtualbox.org/ticket/16126) [duplicates](https://www.virtualbox.org/ticket/16103), it actually isn't just an SSL issue.

[2016-11-08 14:08] rhatdan commented on #18796
Either stop doing that or see if

--tmpfs /run --tmpfs /run/lock

Solves the problem.

We should look at enhancing oci-systemd-hook for debian to add a mount of /run/lock.

[2016-11-08 14:10] thaJeztah commented on #28161
ping @mlaventure @crosbymichael PTAL

@Renay I see you're running on a custom kernel, IIRC we've had issues with kernel configurations of OVH, just to be sure, could you also run the `check-config.sh` script; https://github.com/docker/docker/blob/master/contrib/check-config.sh to see if there's something standing out in the configuration?

[2016-11-08 14:22] Renay commented on #28161
[code]

[2016-11-08 14:23] tswift242 commented on #27597
@boucher Who's the right person on the CRIU side to comment as to whether CRIU might be interfering with Docker's iptables rules, even with "--empty-ns network"?

[2016-11-08 14:29] thaJeztah commented on #28161
Thanks @Renay, nothing odd in there

[2016-11-08 14:33] thaJeztah commented on #28161
Actually, this may already be resolved, see https://github.com/docker/docker/issues/27011 and https://github.com/docker/docker/pull/27467, which will be included in 1.13

/cc @tonistiigi

[2016-11-08 14:53] badicsalex opened #28162 "getcontext(...) not allowed for 32bit binaries in 64 bit container"
**Description**

Running a 32 bit binary on a 64 bit host in a 64 bit container (with multilib) cannot use the getcontext function, because it uses the deprecated sigprocmask syscall, and it is denied in the default seccomp policy. Using "--security-opt seccomp=unconfined" fixes the problem. I did not try a correct seccomp profile, but I'm pretty sure that would work too.

**Steps to reproduce the

[2016-11-08 14:54] redbaron commented on #27313
@thaJeztah , FYI, Amazon released docker image with Amazon Linux: https://aws.amazon.com/blogs/aws/new-amazon-linux-container-image-for-cloud-and-on-premises-workloads/

[2016-11-08 14:58] Renay commented on #28161
Will check the stackstrace next time to see if this is related

I'm closing for now

Thanks guys ( and sorry for the duplicate issue, didn't see the first one )

[2016-11-08 14:58] #28161 closed

[2016-11-08 15:12] pveber commented on #14221
@murphyke I confirm, I've just had to delete hundreds of GB of suchs logs. So piping one docker command to or from some other command is absolutely wrong when dealing with large amounts of data.

[2016-11-08 15:16] thaJeztah commented on #28161
@Renay no worries! We initially thought it was fixed in 1.12.3, but this issue was already reported in docker 1.11 (so not a regression in 1.12), and the change-set was considered too big for a patch release.

[2016-11-08 15:17] murphyke commented on #14221
@pveber If it helps in some circumstances, you can safely pipe from a `docker exec`, but not from a `docker run`, which will blow up your logs.

[2016-11-08 15:17] thaJeztah commented on #27313
@redbaron thanks! I saw that, and we're already having a conversation with the Amazon team (no decisions made yet :smile:)

[2016-11-08 15:21] ijc25 commented on #28111
Capturing some output with `script(1)` I think the problem may be with the sequence `<ESC>[1B<ESC>[1A^M`. (Where `<ESC>` is actually the ASCII ESC character 0x1b and `^M` is carriage return 0x0d)

According to [Wikipedia](https://en.wikipedia.org/wiki/ANSI_escape_code#CSI_codes) `<ESC>[1B` is "Move cursor down", with the caveat "If the cursor is already at the edge of the screen, this has no effec

[2016-11-08 15:22] KirkE31415 commented on #27423
I am having exactly the same problem with running Docker on Windows 10. I just installed the latest version of Docker this morning and it still has the same problem.

[2016-11-08 15:29] boucher commented on #27597
@avagin or @xemul would know best I think. I will also try to take a closer
look in the next day or two, unfortunately I've been pretty busy.

On Tue, Nov 8, 2016 at 9:24 AM Thomas Swift <notifications@github.com>
wrote:

[2016-11-08 15:46] brunonogareda opened #28165 "Docker remote API v1.24 Documentation discrepancy on GET /services"
**Description**

**Steps to reproduce the issue:**
1. http://10.7.0.94:2375/services?filters={"id":["<node-id>"]}
2. http://10.7.0.94:2375/services?filters={"id":["<service-id>"]}
3.

**Describe the results you received:**
1. [ ]
2. Service filtered by id.

**Describe the results you expected:**
1. Array of services filtered by node id.
2. [ ]

**Additional information you deem important (e.g. iss

[2016-11-08 16:01] ijc25 commented on #28111
I tested with aterm, xterm and mlterm and they all behave correctly. I'm going to post to the rxvt-unicode ML and see if they have any insights.

[2016-11-08 16:16] cpuguy83 commented on #28162
ping @justincormack

[2016-11-08 16:44] jesuscript opened #28168 "Services not being able to reach each other on ports exposed in underlying containers"
**Description**
I have a setup with two Ubuntu 16.04 hosts in a cloud (Scaleway) running docker swarm mode: 1 manager and 1 worker. When I deploy services into the swarm they are unable to communicate with each  other on exposed ports.

**Steps to reproduce the issue:**
1. Provision 2 Ubuntu 16.04 hosts
2. Install dependencies, where needed. In my case:
[code]
3. Install docker
[code]
4. Init dock

[2016-11-08 16:48] aboch commented on #28125
@awhitcroft Was your question answered ?

[2016-11-08 16:53] mavenugo commented on #28168
@jesuscript

* ping failing in step 10 is expected in 1.12.3 (since foo2 represents a virtual-ip of the service backed by IPVS).

* But `curl foo2` must succeed. Since it is failing for you, we can narrow it down by checking if ipvs modules are installed in the kernel ? pls share the output for `lsmod | grep ip_vs`.  If the ip_vs modules are installed, then try to reproduce the issue in a single m

[2016-11-08 16:56] jesuscript commented on #28168
thanks!!
[code]

[2016-11-08 17:03] #28095 closed

[2016-11-08 17:11] fmaciask commented on #26487
Hello,
I'm experiencing the same issue. I'm in testing environment and I can't run docker on the node.
First, this node was a worker in swarm. As I'm doing some tests, I tried to leave the swarm doing `docker swarm leave --force`. (I had to use force as it didn't let me go on).
Then, I decided to reattach the node as a manager (just for testing and to see if it could handle multiple managers). I d

[2016-11-08 17:15] thaJeztah commented on #26487
@fmaciask what version and distro are you running on? (output of `docker version` and `docker info`)? What is your setup (e.g. how many managers, and workers, are they running in the cloud, on bare metal, in a virtual machine?) Also do the logs give any information?

[2016-11-08 17:15] mavenugo commented on #28168
@jesuscript thanks. So that is the issue.

You can run `contrib/check-config.sh` to check your kernel configs.
Can you redo your tests after :

[code]

[2016-11-08 17:21] jesuscript commented on #28168
[code]

[2016-11-08 17:23] fmaciask commented on #26487
`~]# docker version
Client:
 Version:      1.12.2
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   bb80604
 Built:
 OS/Arch:      linux/amd64
Cannot connect to the Docker daemon. Is the docker daemon running on this host?`
Distro is installed in VPS.
`Operating System: CentOS Linux 7 (Core)`

   Loaded: loaded (/usr/lib/systemd/system/docker.service; enabled; vendor preset: disabled)
  Dr

[2016-11-08 17:25] #26588 closed

[2016-11-08 17:28] mrjana commented on #28168
@jesuscript Your ip_vs config is builtin to the kernel so `modprobe` won't show you anything and that is fine. But you are missing `IPVS_NFCT` and `IPVS_RR` from your kernel config. This is needed for load balancer to work. Please enable them in your kernel.

[2016-11-08 17:31] #27760 closed

[2016-11-08 17:32] cpuguy83 opened #28169 "libcontainerd: error removing stderr on exec exit"
When exiting an exec, I get the following error in my logs:

[code]

ping @tonistiigi

[2016-11-08 17:35] thaJeztah commented on #26487
@fmaciask the `Built:` date is empty in the output; are you running an official build?

[2016-11-08 17:43] #27670 closed

[2016-11-08 17:50] fmaciask commented on #26487
I used the one in yum docker repository writting the following url in /etc/yum.repos.d/docker.repo inside the server:

name=Docker Repository
baseurl=https://yum.dockerproject.org/repo/main/centos/$releasever/
enabled=1
gpgcheck=1
gpgkey=https://yum.dockerproject.org/gpg

[2016-11-08 18:04] terje2001 opened #28172 "Ipv6 zone indices in /etc/resolv.conf are incorrectly handled"
**Description**
If the /etc/resolv.conf of the host machine contains a 'nameserver' field using IPv6 addressing including a zone index, the generated /etc/resolv.conf contains illegal information.

Host machine /etc/resolv.conf:
[code]
Note the "%3" in the last line.

Then this becomes, in the docker container:
[code]
(Note the illegal last line).

This causes, among other things, Rancher Server t

[2016-11-08 18:09] lukeyeager commented on #17944
Why is this labeled as `version/1.8`? I'm still seeing the issue with v1.12.3.

[2016-11-08 18:15] jesuscript commented on #28168
Thanks @mrjana Is there a specific kernel image that has ipvs support you'd recommend to install?

[2016-11-08 19:13] thaJeztah commented on #17944
the label is automatically applied based on the version it was reported with

[2016-11-08 19:15] dmp42 commented on #27354
@jkubrynski did you restart the daemon after adding the mirror (*daemon*) flag? can you curl your registry from that host?

After that, to further debug this, I would need the exact commands you ran, the output of `docker info` and your docker *daemon* logs (preferably in debug mode `-D`).

[2016-11-08 19:16] lukeyeager commented on #17944
Oh, got it. I thought it meant a fix was planned for that version. My mistake.

[2016-11-08 19:31] scoquelin commented on #28109
@wieczorek1990 error message is not showing up anymore after the fix you provided but now I have some containers exiting with status 139 and nothing is showing up using `docker logs mycontainer` ...

[2016-11-08 19:52] wsong opened #28176 "WebSocket attach endpoint can send non-UTF-8 data in text frames"
**Description**

The WebSocket container attach endpoint at `/containers/<container ID>/attach/ws` always sends text frames, but the data contained within those frames is just the bytestream from the container's stdout or stderr. This means that the text frames may not contain valid UTF-8 data, but the WebSocket spec requires that text frames only contain valid UTF-8:

https://tools.ietf.org/html/

[2016-11-08 19:52] darrenstahlmsft commented on #28119
Confirming that this was fixed by #27615.
![execexit](https://cloud.githubusercontent.com/assets/14114019/20114609/ca59fc8e-a5a9-11e6-803c-81c4caf58e03.png)

[2016-11-08 19:53] daninthewoods commented on #25526
Hoping a solution can be found soon for this, as IP-fixation and other security checks need to be able to receive the correct external IP.

[2016-11-08 19:58] srinil opened #28177 "Error while pulling image: Get https://index.docker.io/v1/repositories/oracle/jdk/images: read tcp -> read: connection reset by peer"
**Description**
Error while pulling image: Get https://index.docker.io/v1/repositories/oracle/jdk/images: read tcp  read: connection reset by peer
=====================
when trying to run docker
Checking if required packages are present and valid...
fmw_12.2.1.0.0_wls_quick_Disk1_1of1.zip: OK

Building image 'oracle/weblogic:12.2.1-developer' ...
Proxy  '' ...
Sending build context to Docker daemo

[2016-11-08 19:59] se7enack commented on #25526
Watching. Our product leverages source IP information for security and analytics.

[2016-11-08 20:07] imikushin commented on #17944
I still would like to fix this, but I need to know what Docker team thinks.

Just to recap, when you run this:

[code]

`/some/local/sh` will replace `/bin/busybox` in the container, and `/bin/sh` will remain untouched: it just happens to be a symlink to `/bin/busybox`. Users expect `/bin/sh` to be replaced, **NOT** `/bin/busybox`. The same applies to directories.

I understand, that to achieve th

[2016-11-08 20:13] thaJeztah commented on #17944
@imikushin we did implement a `--mount` flag for `docker run` and `docker service ..`, which is more "extensible" than the `-v` syntax, which is already overloaded. Perhaps you can write a proposal to add an option to the `--mount` flags (no guarantees, but perhaps maintainers are more open to that suggestion)

[2016-11-08 20:14] jhowardmsft commented on #28119
Thanks @darrenstahlmsft. Closing.

[2016-11-08 20:14] #28119 closed

[2016-11-08 20:22] pascalandy commented on #27513
For me this issue is now out of control. It happen with fresh nodes, fresh docker install with first time docker service create ...

[2016-11-08 20:25] ezeakeal-ps commented on #23855
I was coming across a similar issue to @ab666 where the IP was off by 1, and indeed I was finding the VIP on lookup. While this was correct, the VIP was not forwarding a HTTP request on port 80 to the container. Maybe I was doing something wrong here, but my setup had worked before.

I was using docker 1.12.1, upgraded to docker 1.12.2 with no change. System/Service reboot did not change behavior.

[2016-11-08 20:38] jkubrynski commented on #27354
Yes. I've added the flag and I see it's in proper place, when I run `ps |grep docker`:
```/usr/bin/dockerd --storage-driver=overlay --registry-mirror=https://MY_REGISTRY_URL```

However in `docker info` I see:
[code]

Registry is accessible because I can properly use docker pull with full url

[2016-11-08 20:40] erikh commented on #21651
Awesome, this is very useful context/instruction. I'll see if I can go the last mile and try to put a patch together this weekend!

[2016-11-08 20:41] erikh commented on #21651
So, what I'm sending is just a basic tarball of the fs I'm copying; which is fine for `CopyToContainer` except for the perms. I'll send more data as I work on this.

Thanks again!

[2016-11-08 20:42] danielmotaleite commented on #14949
with gelf, if i stop logstash for a few minutes, it loses the messages during that time... queuing messages only seem to work with lost packets, not lost of connection

[2016-11-08 20:42] erikh commented on #21651
oh; what should we do when no UID exists on the system for these tar files? Should we just write the UID/GID as tar typically works, or would you like me to do something else?

[2016-11-08 20:47] timka commented on #17181
@thaJeztah What's the status? Thanks!

[2016-11-08 21:25] crosbymichael commented on #17944
@tonistiigi have you seen this symlink issue? ;)

[2016-11-08 21:38] imikushin commented on #17944
@crosbymichael What's so funny about it? I spent **hours** trying to figure out what's going on when I first encountered it a year ago.

Are there any use cases actually relying on the current behavior? I'd really like to hear about any.

[2016-11-08 21:41] crosbymichael commented on #17944
@imikushin who said it was funny? @tonistiigi is really good at symlink issues so that is why i'm pinging him to take a peek if he hasn't seen it.

[2016-11-08 21:45] tonistiigi commented on #17944
First issue is the same behavior as linux(like @crosbymichael already commented):

[code]

If someone can convince linux to change it we can come back to it.

@fantapop This looks something different. Can you make a new issue with steps to reproduce.

@justinmchase Same thing. From the provided info I can't figure out to structure of the symlinks. If it is a regression, it is likely we can fix it.

[2016-11-08 21:47] imikushin commented on #17944
@crosbymichael Thanks! I'm looking forward to the resolution.

If deleting the symlinks in the container is not an option, even throwing an error would work. Something like "Error mounting volume to`/bin/sh`, because it is a symlink"

[2016-11-08 21:55] stevvooe commented on #13337
@jingxu97 This issue is describes a mostly generic `i/o timeout`, which can have a number of causes. In most cases, this is an infrastructure issue, so I would recommend contacting google's support.

[2016-11-08 22:00] imikushin commented on #17944
@tonistiigi Thanks for printing this out.
If someone can convince developers to listen to their users...

The problem in this issue is when you use `mount --bind` on your local filesystem, you can easily know in advance if the mount target is a symlink: `ls -lAh ./bar`

A container, on the other hand, is very often a black box. And read in all freaking docs: the volume will appear at the mount loc

[2016-11-08 22:03] aaronlehmann opened #28179 "Not possible to clear registry auth on a service"
Suppose that `--with-registry-auth` was accidentally specified when creating a service which uses a public image. The operator may want to remove the registry credentials from the service. However, there doesn't appear to be a way to do this. I expected that logging out and then updating the service with `--with-registry-auth` would clear the authentication credentials, but this does not seem to b

[2016-11-08 22:15] Wajihulhassan commented on #15187
What is the status on container-wide user namespaces such that each container root gets different mapping? Right now in daemon-wide setting all the root users from containers get the same mapping.

[2016-11-08 22:25] #27626 closed

[2016-11-08 22:26] thaJeztah commented on #15187
@Wajihulhassan unfortunately that's not known yet; it depends on upstream changes in the kernel (also see http://www.slideshare.net/PhilEstes/how-secure-is-your-container-containercon-berlin-2016 (slide 18))

[2016-11-08 22:31] tonistiigi commented on #17944
@imikushin If we would change this we would likely break much more users. By resolving the symlink we are consistent with other software and our current users.

Simple example of what we would break is mounting the docker socket `-v /var/run/docker.sock:/var/run/docker.sock`. In most systems `/var/run` is a symlink to `/run` and if we would unlink `/var/run/docker.sock` all applications that use `

[2016-11-08 22:42] jpca999 opened #28180 "ERROR: for db Cannot start service db: driver failed programming external connectivity on endpoint ltg_db_1"
when i do the following :

± docker-compose up
Starting ltg_db_1

ERROR: for db  Cannot start service db: driver failed programming external connectivity on endpoint ltg_db_1 (ecc3bf3036508fade24ffa4d6bc3e5fee0180073c5351667c471922a10fad60f): Error starting userland proxy: Bind for 0.0.0.0:27017 failed: port is already allocated
ERROR: Encountered errors while bringing up the project.

![image](ht

[2016-11-08 22:51] tonistiigi commented on #23184
@dmcgowan This was fixed with #25523, right?

[2016-11-08 22:53] #26646 closed

[2016-11-08 22:58] QwertyZW opened #28181 "Weird color behaviour in shell output"
Not sure if this is a powershell bug or a docker bug:

![donno](https://cloud.githubusercontent.com/assets/8478946/20120910/cdec75e2-a5dc-11e6-8b45-7617430d4645.PNG)

I expect the terminal output to return to normal color after the containerized echo command exits

[2016-11-08 22:59] crosbymichael commented on #28095
I talked to @stevvooe and @aluzzardi again about this today to make sure I was on the same page.

We are not going to change docker run to have --limit-cpu.  Services have the limit prefix because there is a distinction between a limit and a reservation.

What we are open to doing is adding `--cpus` and `--memory` to the services command as an alias for `--limit-cpus` and `--limit-memory` as they

[2016-11-08 23:01] dmcgowan commented on #23184
@tonistiigi I think so, since we weren't able to get a dump of the files in this bad state it is hard to say that was the root clause. I would suggest we close this issue since the potential fix will go out in 1.13. If someone else has a similar issue we can ask that the `/var/lib/docker/image/` directory is kept to help root cause.

[2016-11-08 23:02] stevvooe commented on #25514
In this case, the validation saved a misconfiguration. However, there are cases in which you may want to select an advertise address that is not observable from the node.

@vikstrous Could you confirm this is a bug and file it?

[2016-11-08 23:02] justincormack commented on #28162
Hmm. I will take a look at the legacy function to see if we could allow it.

There is not much point using the glibc implementation of the `context` functions, as they make the mistaken decision to do a syscall, to change the signal mask (as you noticed!), which you probably don't want and makes them slower than just using pthreads. I have never seen the use case for saving the signal mask when sw

[2016-11-08 23:02] #23184 closed

[2016-11-08 23:19] thaJeztah commented on #28095
Thanks for the extra info @crosbymichael (and sorry for the back & forth @yongtang) your suggestion sounds good to me; want me to open an issue for it?

[2016-11-08 23:23] crosbymichael commented on #28095
@thaJeztah i just said NO, we are not going to add `--limit-` options to docker run if that is the suggestion you are talking about. That includes memory.

[2016-11-08 23:28] thaJeztah commented on #28095
@crosbymichael meant;

[2016-11-08 23:29] vikstrous commented on #25514
Yep, there's an existing issue: https://github.com/docker/docker/issues/27647

[2016-11-08 23:32] crosbymichael commented on #28095
Ok, the bold of the github username made it look like you where replying to him not me.  sry.

Its fine if u want to open issues for both the flags on service as an alias and a swarmkit change to populate nanocpus to the docker api.

[2016-11-09 00:11] thaJeztah commented on #17181
@timka think this needs someone to open a pull request, perhaps @bradbeam is interested, or @tagomoris

[2016-11-09 00:18] imikushin commented on #17944
@tonistiigi I'm fine with leaving alone `/var/run` being a symlink to `/run` in containers.

Another story would be if `docker.sock` (the last part of `/var/run/docker.sock`) was the symlink. This is where it gets confusing.

We've found a workaround once we identified what was causing the trouble. But that doesn't make this issue irrelevant.

[2016-11-09 00:25] crosbymichael commented on #17944
@imikushin regardless, this question should not be directed at Docker because runc handles the runtime and is where this change would take place if accepted.

You should open a PR/Issue on runc and the maintainers of runc can decide to make the change or not.

https://github.com/opencontainers/runc

[2016-11-09 00:28] imikushin commented on #17944
Thanks, @crosbymichael! Will do.

[2016-11-09 00:29] stevvooe commented on #27647
I think the problem here is that we've bound the fate of advertise address and host overlay address.

The solution here is probably to require an `--overlay-addr` when `--advertise-addr` is not available on the machine.

[2016-11-09 00:29] crosbymichael commented on #17944
Thanks

[2016-11-09 00:29] #17944 closed

[2016-11-09 00:31] thaJeztah commented on #27647
@stevvooe there's a PR opened here; https://github.com/docker/docker/pull/22663

[2016-11-09 00:32] thaJeztah commented on #27647
oh, sorry, that one is not for swarm mode :blush:

[2016-11-09 00:50] SamSaffron opened #28183 "Make Docker ps more robust to problem containers"
As it stands there are quite a few long standing issues with `docker ps` hanging.

https://github.com/docker/docker/issues/25993
https://github.com/docker/docker/issues/12606

and so on.

At the root one of the biggest issues is that if a single container is blocking, you can no longer iterate through the container list:

can `reducePSContainer` be made more robust so it can skip a container if it

[2016-11-09 00:53] icecrime commented on #28183
Ping @cpuguy83 who I believe was looking into this.

[2016-11-09 01:04] cpuguy83 commented on #28183
Indeed I am. Still some issues to work out but it's coming along.
https://github.com/cpuguy83/docker/compare/container_memdb

[2016-11-09 01:10] cpuguy83 commented on #28183
Basic idea is to strip the container object down to configuration only and move runtime state (e.g. IO streams, log driver, etc) to a separate object.
The container object will be on a transactional in-memory store where when requested the daemon gives copies of the container object rather than a pointer reference, which means there is no longer a need to lock this object. It can be used for repor

[2016-11-09 01:11] davidglivar commented on #23371
This issue just popped up for me before updating to the latest (1.12.3), I uninstalled docker and reinstalled, and am unfortunately still seeing it.

**Output of `docker version`:**

[code]

**Output of `docker info`**

[code]

My workflow is a bit different than what has been mentioned in this thread, but it is similar in that I am doing lots of setup and teardown of containers in my testing suit

[2016-11-09 01:11] wr0ngway commented on #21136
Something similar to this is still happening to me.  Docker v 1.11.2 (ECS).  App container with syslog driver (tcp) -> ELB -> logstash containers -> ElasticSearch.  If I redeploy the logstash containers, the app containers stop logging- logs stop appearing in ES, haven't debugged each stage though.  Redeploying means an ECS redeploy, which is rolling in nature, and thus the logstash containers nev

[2016-11-09 01:12] cpuguy83 commented on #23371
@davidglivar You restarted the daemon and are still seeing the error?

[2016-11-09 01:16] davidglivar commented on #23371
@cpuguy83 if by restarting the daemon, you mean stopping/starting the docker for windows app, yes. I have also reinstalled docker, as well as doing a 'factory' reset. I have not touched Hyper-V as I am not confident in its inner workings.

[2016-11-09 01:18] cpuguy83 commented on #23371
@davidglivar So you are seeing this:

1. do stuff
2. get error
3. restart docker4win
4. get error

?

[2016-11-09 01:20] davidglivar commented on #23371
@cpuguy83 yep! I just went through that sequence a couple of times to be sure.

[2016-11-09 01:21] cpuguy83 commented on #23371
@davidglivar Can you `docker ps -a` and see if you see the container there?

[2016-11-09 01:23] davidglivar commented on #23371
@cpuguy83 `docker ps -a` yields no containers. I would say its because of my test teardown and prep, but even when catching the error in my tests, and immediately creating a child process of `docker ps -a` the result is the same.

[2016-11-09 01:34] SamSaffron commented on #28183
awesome @cpuguy83 !

[2016-11-09 01:42] #28169 closed

[2016-11-09 01:43] #24391 closed

[2016-11-09 01:56] dongluochen commented on #27513
@pascalandy I tried similar scenario with current docker master build but cannot get a repro. #27466 was merged several weeks ago. Have you tried if the current master resolve this issue?

[2016-11-09 02:07] tonistiigi commented on #24132
@aaronlehmann @diogomonica https://github.com/docker/docker/commit/3090be95b70d3e7c2714a1b499a7bd143af018e6 is the fix on top of #27967 . I think we should wait for #27967 first because otherwise one of them would need a bad rebase.

[2016-11-09 02:30] pascalandy commented on #27513
I don't know how to install from the current master. Do you have a script to share ?

Here is the script I use to install Docker at the moment:

[code]

[2016-11-09 02:34] jhowardmsft commented on #27423
@KirkE31415 To be clear - which error. There's a few reading back. The original one or something else? If the original, please can you go through the request I posted earlier.

[2016-11-09 02:35] tagomoris commented on #17181
My concern is, sending sub-second time breaks Fluentd v0.12. So I think it's better to release sub-second support of fluentd logging driver after stable release of Fluentd v0.14 (2016 Q4 or 2017 Q1).

[2016-11-09 02:42] aliasmee commented on #20569
Thank you. net.ipv6.conf.all.disable_ipv6 = 1  is ok!

[2016-11-09 02:59] allencloud commented on #28165
Oh, Yeah.
I can reproduce this issue. And it is indeed an issue in docs. I will fix this ASAP.
#dibs

[2016-11-09 03:00] jchia opened #28187 "Allow rename() on /etc/resolv.conf & /etc/hosts"
**Description**
This is a feature request to allow rename() to work on /etc/resolv.conf & /etc/hosts. Currently, adding a new file to /etc, writing to /etc/resolv.conf & /etc/hosts work, but renaming these two files fails.

**Steps to reproduce the issue:**
1. Run -it a new container for a typical Linux distro, e.g. Fedora.
2. At the shell, issue "mv /etc/hosts /etc/hosts.backup"

**Describe the r

[2016-11-09 03:50] domg123 opened #28188 "DNS not working in a service with an overlay network. It is seemingly dependent on the creation order of unrelated networks."
[dns_docker_issue.zip](https://github.com/docker/docker/files/579919/dns_docker_issue.zip)

**Description**
After repeatedly hitting inconsistent behavior when starting up an application infrastructure with a number of swarm mode networks and services, I narrowed it down to a reproducible use-case.  It is still occasionally inconsistent, especially on AWS for docker beta (where I hit it initially)

[2016-11-09 03:59] jhowardmsft commented on #26754
#28189

[2016-11-09 04:12] prparmar77 opened #28190 "Docker Swarm Mode service does not publish port to host in Oracle Linux 6.6"
**Description**

Docker Swarm Mode service does not publish port  to host in Oracle Linux 6.6 and docker logs shows following error ..

time="2016-11-08T04:10:25-05:00" level=info msg="Firewalld running: false"
time="2016-11-08T04:10:25-05:00" level=error msg="setting up rule failed, [-t nat -A POSTROUTING -m ipvs --ipvs -d 10.255.0.0/16 -j SNAT --to-source 10.255.0.2]:  (iptables failed: iptables

[2016-11-09 04:14] prparmar77 commented on #24310
ok created new issue #28190

[2016-11-09 04:22] jhowardmsft commented on #27527
Sorry, yes, thinking of wrong issue. Can you give the VSO# tracking this. Not sure there's a lot we can do on github as it's a platform issue.

[2016-11-09 04:23] jhowardmsft commented on #26462
ping @RichardScothern Any progress here?

[2016-11-09 04:24] jhowardmsft commented on #25961
This is not in scope for RS1. Closing.

[2016-11-09 04:24] #25961 closed

[2016-11-09 04:28] jhowardmsft commented on #24419
Seems to work on master. Closing.

[code]

[2016-11-09 04:28] #24419 closed

[2016-11-09 04:30] jhowardmsft commented on #23588
@darrenstahlmsft I think you were looking at this and using dism APIs. Did that ever happen, or was it just too expensive to consider in the end as IIRC you said it was. Although the alternate I believe was to look for a unique DLL.

[2016-11-09 04:32] jhowardmsft commented on #21323
Closing this. It should be fixed on docker master as of today.

[2016-11-09 04:32] #21323 closed

[2016-11-09 04:34] jhowardmsft commented on #22083
Closing. With docker master, use of `#escape=` and `SHELL ["powershell", "-command"], I don't believe this is an issue any longer. Remember a Windows daemon requires Windows-semantic file paths. Linux paths will not be accepted by the daemon. If the shell in use (as in not cmd/PowerShell) is altering them, there's nothing that can be done by the daemon.

[2016-11-09 04:35] jhowardmsft commented on #19463
Closing. Too much water under the bridge since TP4.

[2016-11-09 04:35] #19463 closed

[2016-11-09 05:07] L-Jovi opened #28191 "after install docker from official script host network failed"
hi there, the issue like title say, after my docker installed, I can't ping any website then.

provide my vps information below,

![image](https://cloud.githubusercontent.com/assets/7262199/20127719/84d28d60-a67c-11e6-8027-aa11c5a64c38.png)

and I follow [install-with-the-script](https://docs.docker.com/engine/installation/linux/centos/#/install-with-the-script) and start with below commands __(us

[2016-11-09 05:10] bradbeam commented on #17181
@tagomoris would it be worth adding a log opt for fluentd to specify message format version ( v0.12 vs v0.14+ )?

What are your thoughts about including that flag as part of the data map that is emitted to `fluentd.PostWithTime()` and then doing the time conversion to time.Unix() or time.UnixNano() (both return int64) based on that map value?

[2016-11-09 05:48] Tchinmai7 commented on #28159
UPDATE:
upgraded to kernel 4.8.0-040800-generic
criu to version Version: 2.7
GitID: v2.7-154-g55573a6
docker version
Client:
 Version:      1.13.0-dev
 API version:  1.25
 Go version:   go1.7.3
 Git commit:   69efb46
 Built:        Tue Nov  8 09:46:35 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.13.0-dev
 API version:  1.25
 Go version:   go1.7.3
 Git commit:   69efb46
 Built:

[2016-11-09 05:56] andrewhsu opened #28194 "remaining issues for experimental build changes"
Now that we are on our way to changing the experimental features from a compile time option to a runtime configuration with #26713, there is still a few more items we need to take care of before release.

In the upcoming 1.13.0 release, there will NOT be a separate experimental binary release.

- [ ] update docs explaining all the ways to enable experimental in configuration (command line option a

[2016-11-09 05:59] abhishekraghav commented on #22338
Getting this issue on executing docker run command on DOCKER CLI,

[code]

[2016-11-09 05:59] AkihiroSuda commented on #28194
linking https://github.com/docker/docker/pull/28160 to this issue ("Enable exp features by default if built with DOCKER_EXPERIMENTAL")

[2016-11-09 06:00] andrewhsu commented on #28194
fyi @tiborvass @mlaventure @thaJeztah @icecrime @vieux

[2016-11-09 06:31] allencloud opened #28195 "labels filter not work in `docker node ls`"
**Description**
I found that label filter in command `docker node ls -f "label=xxx=xxx"` does not work.
While docs here is the reference: https://github.com/docker/docker/blob/master/docs/reference/commandline/node_ls.md#label

**Steps to reproduce the issue:**
1. `docker swarm init`
2. `docker node update --label-add aaa=bbb`
3. `docker node ls -f "label=aaa=bbb"` or ` docker node ls -f "label=aa

[2016-11-09 06:52] allencloud commented on #28195
sorry, duplicated https://github.com/docker/docker/issues/27231, closing this.

[2016-11-09 06:52] #28195 closed

[2016-11-09 07:11] friism commented on #25961
@jhowardmsft does it make sense to have an issue tracking progress and design though? cc @jstarks

[2016-11-09 07:14] allencloud commented on #27231
Hi, @aluzzardi
I think currently the way how docker deals the label is very important for users. I put forward a PR https://github.com/docker/docker/pull/28192 to include more description on `docker node ls -f "label=a"`

[2016-11-09 07:26] jhowardmsft commented on #25961
If a sensible design can be determined. At present, no.

[2016-11-09 07:30] mavenugo commented on #27411
Closing this issue via #27287

[2016-11-09 07:30] #27411 closed

[2016-11-09 08:11] depay commented on #13885
i am using devicemapper with loopback on centos 7.

Not sure about what happend, but `dmsetup udevcookies` & `dmsetup udevcomplete <cookie>` works for me.

@thaJeztah could you help explain what happend ?

[2016-11-09 08:25] depay commented on #27543
@rhvgoyal completing cookie works for me. thanks !

[2016-11-09 08:53] justincormack commented on #28187
This is very difficult, as bind mounting a single file bind mounts the inode, not the name. You can update the file by modifiying it in place, but that is very racy. We could have to bind the new version over the top of the old one in the container, which would leak space for all the old versions. So there does not seem to be a satisfactory way of doing this that anyone has come up with yet.

[2016-11-09 08:59] justincormack commented on #28168
@jesuscript I believe standard Ubuntu 16.04 does have this, but Scaleway may be using their own kernels optimised for their hardware, I seem to remember, so it might be worth asking them, they are pretty helpful. They may also have a more recent kernel build you can select.

[2016-11-09 09:18] diogomonica commented on #24132
@tonistiigi looks good.

[2016-11-09 09:20] ibuildthehealth opened #28200 "[Discuss] How to get a smaller docker binary?"
**Description**
As we all know, docker is getting bigger and bigger. In some scenarios, we hope to get a smaller docker binary, because the resource is limited, especially embedded systems.

Inspired by the Linux kernel, how about to make the docker be **customized** and **configurable** before compile.
* some core functions are always compiled into docker.
* some optional features can be configur

[2016-11-09 09:42] AkihiroSuda commented on #27861
@jixuege
your initrd is actually initramfs but not initrd

Can you configure your system to use initrd instead?
(But I'm not sure CentOS7 kernel still supports initrd.. Needs investigation)

[2016-11-09 10:32] thaJeztah commented on #28190
Thanks for reporting @prparmar77, as for RHEL6; we dropped support for RHEL6 over a year ago because there was no longer active support for Docker in the kernel it used. Oracle Linux could still be used because of the updated kernel.

ping @Djelibeybi PTAL

Agreed. Even better; if a minimum version is required, perhaps that requirement should be set in the packages (cc @andrewhsu)

[2016-11-09 10:32] thaJeztah commented on #28190
also ping @mrjana PTAL

[2016-11-09 10:35] ijc25 commented on #28111
I received a series of very helpful replies from Marc on the rxvt-unicode list:
http://lists.schmorp.de/pipermail/rxvt-unicode/2016q4/002315.html

His conclusion:

He also recommends using termcap, which seems very sensible to me, I'll take a look at that and try to raise a PR.

[2016-11-09 10:37] shaynewang commented on #27687
pull request created #28203

[2016-11-09 10:43] embray commented on #21323
Cool, thanks.  Is there a specific commit this is fixed by?  I had a quick look through the commit log but nothing immediately stood out.

[2016-11-09 10:53] thaJeztah commented on #27513
@pascalandy you can get statically linked binaries built from master from https://master.dockerproject.org (sorry. no debs yet). Note that you should not use statically linked binaries to run with device mapper, but we're prioritizing overlay, and overlay2 above device mapper for docker 1.13, and it should be picked automatically if aufs is not supported, so that may be a good choice

[2016-11-09 10:54] jesuscript commented on #28168
@justincormack thanks a lot! I opened a support ticket. Will update this thread with my findings.

[2016-11-09 11:18] adaphi commented on #28067
As an update: we've tried creating three separate spot instances and manually creating the swarm, and it works perfectly well. So we're assuming there's something in our CloudFormation template causing the issue. I'm going to rule as much out as I can, hopefully I can come up with a minimal template that recreates the problem.

[2016-11-09 11:22] thaJeztah commented on #28067
Thank you @adaphi

[2016-11-09 12:12] phlegx commented on #27211
We are facing pretty much the same problems. it happened already with docker 1.11.x. Today this happened again, in  the meanwhile we are on ```Docker version 1.12.1, build 23cf638```

The following commands where executed:

1) docker exec -it container_name bash
2) change a file in the container
3) exit the container
4) ```docker restart container_name```
5) ```strg +c``` after about 30 seconds
6)

[2016-11-09 12:16] badicsalex commented on #28162
This actually surfaced when I tried to build gcc-5 inside docker, and ./configure of libgo failed. I remedied this by using the unconstrained seccomp on our build containers, so this is not really an issue for me anymore. So thanks for looking into this, but no rush :)

[2016-11-09 12:33] justincormack commented on #28162
Cool. 1.13 will have a way to do easier seccomp customisation for build, as
you can specify a daemon wide config for seccomp.

I will look at libgo and see if it can be improved too...

On 9 Nov 2016 12:16 p.m., "Alex Badics" <notifications@github.com> wrote:

[2016-11-09 12:43] badicsalex commented on #28162
Interestingly, glibc only uses sigprocmask in the i386 and m86k implementation of getcontext and friends. For every other architecture, it uses rt_sigprocmask.

[2016-11-09 12:47] glensc opened #28204 "docker tag command usability"
the `docker tag` command has always confused me, because the two arguments can be easily mixed resulting wrong tag overwrite, because docker client doesn't even complain that tag exists.

the usage, printed is not useful at all indicating which of the arguments is SOURCE and which is TARGET tag, i.e which one would be REFERENCED and which one will be CREATED.

[code]

So to get definitive answer o

[2016-11-09 13:39] justincormack opened #28205 "Build man pages in CI"
Currently our CI does not build the man pages, so we do not know if there are issues with PRs or problems with the build process.

I tried to get this to work in #25884 and it mysteriously failed, it would never download the alpine packages from CI, and no one has an explanation (it is fine locally) so it needs looking at.

Once that is fixed I can reopen the PR to put them in the `tgz`.

cc @dnep

[2016-11-09 13:44] justincormack commented on #28200
I think the first step would be some measurements, trying to determine what takes up the space and how much it is necessary (Go does not necessarily do good dead code elimination) and how much supports potentially optional features. This could be complicated as it means understanding the dependency structure.

[2016-11-09 13:46] #26639 closed

[2016-11-09 13:48] jesuscript commented on #28168
You can find the discussion here: https://github.com/scaleway/image-ubuntu/issues/78 The gist is that you need to use a specific bootscript if you want to run docker on Scaleway.

Since this is clearly not an issue with Docker, I'm going to close this ticket but before I do I would like to thank everyone in this thread for all the help you offered, you guys saved me so much time! :)

[2016-11-09 13:49] #28168 closed

[2016-11-09 13:55] cpuguy83 commented on #28200
One way that's currently available is to set the build flags to only compile the graphdriver you need... e.g. `exclude_graphdriver_devicemapper`

[2016-11-09 13:56] cpuguy83 commented on #28200
We could/should probably do the same for log drivers, which mostly rely on absolutely insanely large libraries (aws-sdk, gce-sdk, etc).

[2016-11-09 14:05] ijc25 commented on #28111
Ooops, `s/termcap/terminfo/` in my parts of the above.

[2016-11-09 14:06] #24083 closed

[2016-11-09 14:11] thaJeztah opened #28206 "1.12.x RPM packages no longer show build-date"
It looks like something changed in our build-process, resulting in the `Built:` field to be empty in `docker info`.

In docker 1.11.2;

[code]

In docker 1.12.0 (and up);

[code]

noticed while discussing https://github.com/docker/docker/issues/26487

/cc @vieux @andrewhsu

[2016-11-09 14:15] yongtang commented on #25099
@mixman The `-e =` should have been fixed in the master.

[2016-11-09 14:16] yongtang commented on #25099
@bfosberry Can you give it a try for the current master and see if the issue is resolved? If the issue still exist, can you post the non-utf char in hex format? I am not able to see what the value is for:
[code]

[2016-11-09 14:16] thaJeztah commented on #20424
/cc @andrewhsu

[2016-11-09 14:35] #27798 closed

[2016-11-09 14:44] #28087 closed

[2016-11-09 14:59] Gaoithe opened #28207 "docker exec hang when run using timeout command (and docker v1.12.2)"
There are a few issues open around docker exec hanging but this one seems quite specific to running docker exec under the timeout command and to latest docker version 1.12.2 . . .

Have scripts which run docker exec like this:
timeout 1m docker exec -i $id sh -c "$command"

They had been working ok. After upgrade to docker 1.12.2 the scripts hang on those docker exec commands.
Interestingly, if I

[2016-11-09 15:04] justincormack commented on #28162
That may be for compatibility with old kernels on those architectures at a
guess. But it uses fallbacks in a lot of places now.

On 9 Nov 2016 1:43 p.m., "Alex Badics" <notifications@github.com> wrote:

[2016-11-09 15:33] blockloop commented on #27237
I'm having this exact same issue. I posted on StackOverflow but I'll copy it here:

I am running a three node Swarm Mode cluster in AWS; one master and two workers. This is **swarm mode** not to be confused with **docker swarm** from pre 1.12. Using the master node I have created a service with the following

    docker service create --replicas 1 --name myapp -p 3000 myapp

When I run `docker ser

[2016-11-09 15:37] sebbalex commented on #24304
Guys,

are there some update on the subject?

@rvelaz did you find out a solution to you (and mine) problem?

[2016-11-09 15:39] thaJeztah commented on #27237
@blockloop did you check my previous comment https://github.com/docker/docker/issues/27237#issuecomment-254006465

[2016-11-09 15:39] blockloop commented on #27237
I just found this error on the nodes syslog

[code]

[2016-11-09 15:39] jhowardmsft commented on #25961
I don't think it makes sense to track Windows platform changes (not that I believe it is currently being considered) on GitHub

[2016-11-09 15:40] thaJeztah commented on #27237
So, yes, looks like the required ports for overlay networking are not opened between your nodes

[2016-11-09 15:40] blockloop commented on #27237
The security group in AWS is set to allow all traffic from within the same SG.

[2016-11-09 15:40] cpuguy83 commented on #28159
ping @boucher

Not sure that restore on another server is meant to work, specifically.

[2016-11-09 15:47] boucher commented on #28159
This is definitely out of scope right now. @Tchinmai7 have you looked into p.haul? The networking bit of live migration is the hardest part, and I haven't actually accomplished it myself (though @crosbymichael has, and @xemul and @avagin can also chime in). You need to mess with iptables to keep the connection alive during the migration.

[2016-11-09 15:50] blockloop commented on #27237
Running this on master shows that that port isn't listening

[code]

Found this in the syslog of the master but I don't remember trying to explicitly remove the ingress network. Perhaps this is an internal process

[code]

[2016-11-09 15:55] Tchinmai7 commented on #28159
@boucher Would love to hear pointers on how to do so!. I've not gone through p.haul yet. will look into it!. I was also wondering if Floating an IP across the machines will keep the connection alive.

[2016-11-09 16:01] dirk-thomas commented on #22226
We updated to 1.12.3 but are still seeing the same error from time to time. [This](http://ci.ros2.org/job/packaging_linux/456/console#console-section-4) build contains the following error message after a two minute timeout:

[code]

[2016-11-09 16:03] mlaventure commented on #27211
@phlegx could you upgrade to 1.12.3 and try again?

[2016-11-09 16:06] vdemeester opened #28209 "Swarm mode node ls label filter should be on both engine and swarm node"
Reviewing #28192, stumbled upon this https://github.com/docker/docker/pull/28192/files#diff-b2821be6b073a3446a2f5aca438ef409R84, and realized that, as of now, the `filter` label on `docker node ls` only filters on the engine labels.

This means I can't filter node based on labels I've set on my nodes (using `docker node update --label-add` for example).

Not sure if there is/was a discussion about

[2016-11-09 16:07] mlaventure commented on #22226
@dirk-thomas can you reproduce it outside of Jenkins?

When it happens, could you check if the `docker-runc` binary for that container still shows in the list of process? You could also try to strace `docker-runc` to try and see if it is stuck on a significant syscall

[2016-11-09 16:12] dnephin commented on #28205
#27359 should make this easier

[2016-11-09 16:20] michael-holzheu commented on #28033
@tophj-ibm Thanks for hint. ping @ddingel

[2016-11-09 16:28] #26754 closed

[2016-11-09 16:36] blockloop commented on #27237
I believe the culprit is the master who does not appear to be listening on port 7946. netstat shows that 7946 is listening on the nodes, but not the master. When I check the syslogs for the nodes I see the following error

    level=error msg="Failed to join memberlist [10.0.0.12] on retry: 1 error(s) occurred:\n\n* Failed to join 10.0.0.12: dial tcp 10.0.0.12:7946: getsockopt: connection refused"

[2016-11-09 16:39] dirk-thomas commented on #22226
Yes, currently I can reproduce it (with the same job on the same machine). `docker-runc` is still running during the two minute window. Please find the `strace` output [here](https://gist.github.com/dirk-thomas/ba06e268103922dfdddc7887edd4e0ea).

[2016-11-09 16:42] tophj-ibm commented on #28033
It might be worth adding a zipped version of the test-integration-cli in bundles as an artifact for the jenkins build like is done on the other builds so then other people can look at them.

ping @mikedougherty, I don't want to change the jenkins scripts to upload things without your permission 😄

[2016-11-09 16:42] mlaventure commented on #22226
@dirk-thomas it looks like runc just output the help message.

The version you have installed may not be the one that 1.12.1 is expecting

[2016-11-09 16:51] thaJeztah commented on #27237
When you initialized the swarm, did you provide a `--advertise-addr` (and possibly `--listen-addr`)?

[2016-11-09 16:52] blockloop commented on #27237
I provided both as 10.0.0.12:2377

[2016-11-09 16:55] dirk-thomas commented on #22226
Thank you for your quick responses. I don't see yet what I am doing wrong.

* I am using the following apt repo:

  ```deb [arch=amd64] https://apt.dockerproject.org/repo ubuntu-trusty main```

* I have the following package installed (which seems to be the latest release?):

[code]

* `docker-runc` has version 1.0.0-rc2 (which seems to be the latest release too?):

[code]

[2016-11-09 16:56] cpuguy83 commented on #28155
@KevinTHU I know there were problems specifically with docker exec around this.
Can you try with 1.12.3? I see you are on 1.12.1.

[2016-11-09 16:57] thaJeztah commented on #27237
@mavenugo any thoughts?

[2016-11-09 16:58] mlaventure commented on #22226
The version of `docker-runc` looks correct for 1.12.3

Does you `daemon.json` redefines the default runtime?

[2016-11-09 16:59] mlaventure commented on #22226
Also, it looks like the strace was done without any arguments passed to `docker-runc` you may have forgotten to pass them down.

[2016-11-09 17:15] nathantreid opened #28210 "Docker swarm infinitely attempts to pull non-existent image, even after service removed"
**Description**
After creating a service with a non-existent container name using `docker service create`, docker infinitely retries to download the image every few seconds. Even after removing all services and rebooting, docker continues to try to download the image, causing the log to fill up quickly (and negatively impacting other services and VMs on the SAN due to all the disk activity).

**St

[2016-11-09 17:18] dirk-thomas commented on #22226
I don't think I have a `daemon.json`.

This time I ran `strace` with the PID of the running `docker-runc` process:

[code]

Are there any other option I should pass to `strace` to get more information?

[2016-11-09 17:36] ahmetalpbalkan opened #28211 "Docker container stops restarting once volume does not exist"
If I `docker run` with `--restart=always` if the `--volume` path on the host no longer exists, the container stops restarting. Such as:

    docker run -d -v /a.txt:/b.txt --restart=always busybox sh -c 'date; sleep 1; exit 1;'

if I run this, container `exit 1`s and goes in a restart cycle. However once I `rm /a.txt` on my host, container stops restarting. Even though I put `/a.txt` back now, it

[2016-11-09 17:46] michael-holzheu commented on #28033
The testcase DockerSuite.TestKillWithStopSignalWithDifferentSignalShouldKeepRestartPolicy confuses me:

[code]

As the comment correctly says the init process "busybox top" is killed by SIGTERM. Isn't the container automatically killed when its init process dies?

And I don't understand the comment "Restart policy should still be in place". As we don't explicitly set a restart policy and the defau

[2016-11-09 18:08] blockloop commented on #27237
I was able to get around the issue for now, but I'd like to know how to figure out why the overlay network port wasn't listening on master-01. Here is what I did to circumvent the issue:

1. created another node with docker-machine called swarm-master-02
1. joined swarm-master-02 to the cluster as a master
1. demoted master-01 which set master-02 as the leader
1. restarted the docker daemon on eac

[2016-11-09 18:15] thaJeztah commented on #27237
All nodes are running 1.12.3?

[2016-11-09 18:17] blockloop commented on #27237
Yes

[2016-11-09 18:25] michael-holzheu commented on #28033
After short discussion with @ddingel: Perhaps just a "restart=always" is missing for the testcase?

[2016-11-09 18:27] sej7278 commented on #28109
Getting this on Debian Sid, assumed it was a 4.8 kernel thing, but it seems its systemd 232

[2016-11-09 18:34] tonistiigi commented on #13885
I'm repeating what has been commented many times before in here. If you encounter a hang **please send SIGUSR1 signal to daemon process** and copy the trace that is written to the logs. Strace output is not useful for debugging hangs, is likely from a client process and usually doesn't even show if the process is stuck or just sleeping.

[2016-11-09 18:42] davidglivar commented on #23371
Just to follow up on the previous day's comments: I still encountered the 409 error in the context of my application; however, a test script ([here](https://gist.github.com/davidglivar/deddcde9897ed621724e84b8c59304a5)) has yet to display any problem.

[2016-11-09 18:42] tophj-ibm commented on #28033
Seems logically, but if that's the case I'm not sure how the test would be passing currently on everything else.

[2016-11-09 18:42] KirkE31415 commented on #27423
**jhowermsft**, I'm getting the same as the original error. Attached is a snapshot of what I'm seeing. Also I am using Windows 10 Professional.

I tried your suggested tests such as running the Docker daemon manually and then using the
`docker -H tcp://127.0.0.1:2375 version`
type commands to show the version info and other commands and it worked.

And I’ve always run docker from the Powershell, n

[2016-11-09 18:47] Djelibeybi commented on #28190
Pinging @thtanaka to review.

[2016-11-09 18:48] thesandbender commented on #27527
Anywhere we can track the MSFT issue?  I'm in the same boat as jonstelly, it always fails.

[2016-11-09 18:52] #27773 closed

[2016-11-09 18:56] ddingel commented on #28033
@tophj-ibm if I understand waitRun correctly it will return immediately on success.
So from my understanding there could be a small race window between delivering the signal with docker kill actually terminating the container. If in that window we check waitRun everything will look good, right?

@vdemeester maybe waitRun isn't the best option, so before checking the status of the container the tes

[2016-11-09 19:03] penenkel commented on #27527
Are you sure that it is indeed a race condition? For me it always fails, same as thesandbender and jonstelly.
Is there any way for me to collect more information to help identifying the problem?

[2016-11-09 19:03] aluzzardi commented on #28067
Thank you @adaphi, much appreciated

Even if it turns out that the root cause in your CloudFormation template, we're very much interested to hear about it as we should have prevented misuse of the cluster in the first place

[2016-11-09 19:03] cpuguy83 commented on #28211
I believe this happens when the issue with starting the container is the actual configuration rather than due to something in the running container.

[2016-11-09 19:14] dmcgowan commented on #26462
@jhowardmsft we are working on a fix for better error handling around unauthorized errors which should prevent these unwanted login prompts

[2016-11-09 19:15] ahmetalpbalkan commented on #28211
@cpuguy83 I can see how it works and why it happens but I don't think this is hardly a desired behavior especially in a restart loop. IMO a volume that no longer exists should not quit the restart loop.

[2016-11-09 19:17] ry4nz commented on #27124
Running into issues in a 1 manager(`node1`) 1 worker(`node2`) node setup, phantom network (`dtr-ol`) exists after `docker swarm leave --force`

[code]

[2016-11-09 19:27] tophj-ibm commented on #28033
@ddingel: good catch, I threw in a sleep statement between them and sure enough it failed without the restart policy active.

I can think of a couple of ways to fix this, so I'll open up a PR for this unless one of you wanted to.

[2016-11-09 19:38] stevvooe commented on #28209
Node labels are set by swarmkit (ie `node update`) and `engine.labels` are announced by engine, so ideally, these would differentiated.

What is happening with constraints? Let's make sure this is consistent.

[2016-11-09 19:42] ddingel commented on #28033
@tophj-ibm so there is:
- a fix so that this test case will fail reproducible
- some fixes for other test cases which might have the same underlying problem, maybe it is worth to introduce a function like waitRunAtLeast?
- a fix for this test case for restart policy

So depending on what you want to fix or take care of I would pick up the remaining. Also I have no problem if you decide to take car

[2016-11-09 19:49] xemul commented on #27597
Yes, this is us :) If we make a patch, would you be able to test one w/o the need to apply one into criu repo? Or at least take a custom branch from the repo...

[2016-11-09 19:52] mikedougherty commented on #28033
on the [Docker-PRs](https://jenkins.dockerproject.org/job/Docker-PRs/) job (aka the "janky" status context), `bundles.tar.gz` is currently populated with files returned from this `find` command:

[code]

is there more that should archived? i think the entire directory was pretty large and we didn't want to give up the storage for stuff that would be rarely used (binaries probably).

---

i don't c

[2016-11-09 19:53] xemul commented on #28159
@Tchinmai7 we have some reading about TCP migration, you can start with this small howto: https://criu.org/Simple_TCP_pair

And yes, p.haul does this, but it's in very raw state ATM to live migrate Docker container. We and @tych0 are going to improve this in the nearest future though :)

[2016-11-09 19:55] tophj-ibm commented on #28033
@mikedougherty oh this would be just adding that command and uploading the results to the master z job.

[2016-11-09 20:03] tophj-ibm commented on #28033
@ddingel yes I can get all of them.

[2016-11-09 20:03] thaJeztah commented on #16462
closing per https://github.com/docker/docker/pull/27782#issuecomment-259503302

[2016-11-09 20:03] #16462 closed

[2016-11-09 20:04] mikedougherty commented on #28033
@tophj-ibm oh i see. sorry, i didn't quite gather the entire context. that sounds reasonable and straightforward. IMO it would be appropriate if someone else took care of it (you, perhaps? not sure who's best) -- i'd rather empower people and not be a bottleneck. that being said, i can take the task if necessary.

[2016-11-09 20:07] tswift242 commented on #27597
@xemul I'd be happy to test a patch. It could be a patch on top of criu master or criu-dev, or a separate branch. Either way is fine with me.

[2016-11-09 20:16] ixmatus commented on #27970
@aaronlehmann @stevvooe FYI I have this working now with the feedback you provided me. So thank you.

Something we've now run across, which isn't entirely unexpected, is the time it takes to `docker load ...` fairly large images. While not the largest problem in the world, I've been thinking about how we could workaround that problem and because we're using NixOS I then thought, perhaps, that NixO

[2016-11-09 20:22] ixmatus commented on #27970
I'm reading this, and it's helping: https://docs.docker.com/engine/userguide/storagedriver/imagesandcontainers/

[2016-11-09 20:27] tophj-ibm commented on #28033
@mikedougherty yeah I can update it, I just wanted to double check it was fine with you.

[2016-11-09 20:36] unclejack commented on #28200
Perhaps it'd be a good idea to have those log drivers as standalone binaries. This would make it easier to add new drivers and not have them around when not needed.

[2016-11-09 20:46] Thomas0c commented on #28210
Seeing same behavior as of today w. an image that cannot be pulled causing Docker to infinitely log authentication errors even after `stop`, `start` and `restart`.

[code]

[code]

[2016-11-09 20:48] bialasjaroslaw commented on #28109
Confirmed. It is working with systemd 232-3 like before previous systemd update

[2016-11-09 20:50] jeanpralo commented on #25981
Workaround of removing /var/lib/docker/network/files/local-kv.db works.

The problem it creates though is that if you happen to have containers sharing the same network then you will have to make sure you restart all of them :(

This is quite a big problem when you have a server crashing and you containers do not come back up  because of that. Any chance of a fix regarding what @aboch  found ? @th

[2016-11-09 20:57] cpuguy83 commented on #28211
I'm not sure if it's intentional or not, been there since day 1 of restart policies, though.
Should be trivial to change.

[2016-11-09 20:59] vdemeester commented on #28209
On constraint we have `node.labels` and `engine.labels` to differentiate between the two 👼

[2016-11-09 21:22] vdemeester commented on #28033
:scream_cat: you are right, I think a `--restart=always` is missing :scream_cat: How did I miss that :sweat_smile: This test is just plain wrong, my bad :scream:
@tophj-ibm @ddingel feel free to open a PR to fix it, thanks a lot 👼

[2016-11-09 21:39] #27358 closed

[2016-11-09 21:58] samrocketman opened #28216 "Insecure HTTP docker registry with tslverify enabled forces HTTPS and fails"
# Description

Trying to access HTTP insecure registries does not work when `tslverify` with mutual TLS auth is enabled on a docker daemon.  Here's a general layout:

[code]

`hostA` (client), `hostB` (daemon), and `hostC` (registry) are separate hosts.  There's mutual TLS authentication between the docker client and daemon.  The docker registry uses plain HTTP without authentication.

### Steps t

[2016-11-09 22:00] samrocketman commented on #28216
I've also tried the following `daemon.json` on `hostB`.

[code]

With the same result on `hostA`.

[code]

[2016-11-09 22:05] mattthias commented on #5618
CoreOS 1185.3.0, 4.7.3-coreos-r2, Docker 1.11.2
Reproducible with just running 10..20 debian:jessie containers with "apt-get update" as command.

[2016-11-09 22:08] samrocketman commented on #28216
I misspelled an option:

[code]

`docker pull hostC:8080/image:tag` now works.

[2016-11-09 22:08] #28216 closed

[2016-11-09 22:59] stevvooe commented on #27970
@ixmatus https://medium.com/microscaling-systems/spot-the-docker-difference-9f99adcc4aaf#.jrhc8mp2k may provide some more insight. To build the level of understanding you're looking for, I'd recommend reading the code.

When analyzing the docker code base, I generally start from the handlers. The pull handler can be understood from https://github.com/docker/docker/blob/master/daemon/image_pull.go#

[2016-11-09 23:15] runcom opened #28218 "too verbose (and different) debug in CLI?"
[code]
This is happening at least from 1.12.3, interestingly not in 1.12.1,  but still, it seems so many debugs here:
[code]
/cc @crosbymichael @vdemeester @dnephin

[2016-11-10 00:24] alexmavr commented on #28039
I was able to reproduce this on a global service with environment variables. The more environment variables the service has, the higher the probability that this will occur. At 8 environment variables or more, this happens deterministically.

Single-engine repro scenario:
[code]

This is on a fresh Linux VM running Docker Engine 1.12.3. The VM was provisioned using the KVM docker-machine driver an

[2016-11-10 00:56] thaJeztah commented on #28200
Related to that; https://github.com/docker/docker/issues/18604

[2016-11-10 01:06] thaJeztah commented on #28218
@aaronlehmann could this be related to https://github.com/docker/docker/pull/26983 ?

[2016-11-10 01:08] #28187 closed

[2016-11-10 01:09] aaronlehmann commented on #28218
@thaJeztah: I don't think so.

[2016-11-10 01:17] nafg commented on #13378
In any case the docker-compose documentation seems to be stale, because [here](https://docs.docker.com/compose/compose-file/#cpushares-cpuquota-cpuset-domainname-hostname-ipc-macaddress-memlimit-memswaplimit-privileged-readonly-restart-shmsize-stdinopen-tty-user-workingdir) it lists both as being the same as the docker run argument, which apparently doesn't exist.

[2016-11-10 01:45] fsword opened #28225 "`login` and `push` make inconsistent result"
I use a private registry under my network, and `login` will get success.
[code]

But, when I push a image to the private registry, it might use `docker.io` here and failed.
[code]

Why does the docker daemon cannot use the `proxy` host?

[2016-11-10 01:52] thaJeztah commented on #28225
It distinguishes between a "host" and a "repository" by checking if there's a `.` in the first component, so for example `proxy.local` would work.

[2016-11-10 03:14] zhao-ji commented on #8887
+1

[2016-11-10 03:29] #25244 closed

[2016-11-10 03:30] stevvooe commented on #28200
Note that Go 1.8 has loadable plugins coming. This would be great for graphdrivers and log drivers, at least.

Albeit, there is a cost to configurable builds: its is absurdly obnoxious for users' just trying to get things to work. This is a nightmare in the kernel and conditional compilation of language runtimes (take ssl in python, nginx modules) is no picnic, either.

[2016-11-10 03:31] oulinbao commented on #28204
#dibs

[2016-11-10 03:42] ibuildthehealth commented on #28200
@unclejack ,it quite a good ideas, and @thaJeztah said that there ware performance issue if the drivers were external.

before solve the performance issue. how about to make build flags for log driver in order to compile only drivers we need.,

[2016-11-10 03:49] madhuri-rai07 opened #28232 "'search' API doesn't return proper result on format 'repo:tag'"
**Description**
`docker search` doesn't work properly now. Below are few issues which I think can be fixed:
1. When searching for specific tag, docker doesn't return proper response.
2. There should be a way to return exact match in `search` command.
3. It fails to search image with special character in name.

**Steps to reproduce the issue:**
1. When searching for specific tag, docker doesn't ret

[2016-11-10 04:02] madhuri-rai07 commented on #28232
I am working on this patch and will submit a patch soon.

[2016-11-10 04:52] fsword commented on #28225
Thank you for the comment. I want to read the source on it, could you help me to show the file path of git repo?

[2016-11-10 05:01] albamc opened #28234 "[Question] swarm does't schedule containers executed by "docker run" to any swarm nodes ?"
I'm not sure but I remember that before 1.11.x swarm modes, If I run a container by "docker run" command,  containers would be executed in any docker nodes in swarm cluster.
But after 1.12.x version, If I run a container by "docker run", container only executed in docker hosts which docker run command received.
Does swarm cluster's container (not service task) scheduling policy is changed ?
Or jus

[2016-11-10 05:26] LipingMao commented on #22635
Same problem here, mtu already be 1500 and net.ipv4.tcp_mtu_probing=1 with no success.
 @luxas @MathiasRenner

[2016-11-10 05:36] coolljt0725 commented on #28204
the `-f` flag has been removed in https://github.com/docker/docker/pull/23090

[2016-11-10 06:29] Tchinmai7 commented on #28159
@xemul I've tried this example, and I see that it requires us to pass the --tcp-established flag to Criu. Does docker do that? I've tried digging through the docker source to find it out, but i'm not able to find it.

[2016-11-10 06:30] nbet commented on #28149
i hava the same problem. how to set hostname when build docker image?

[2016-11-10 07:00] allencloud commented on #28209
In addition, `docker node ls -f "label=a"` can be used with only label name alone, not label value.
While `docker service create --constraint "engine.label.a" ubuntu:14.04 sleep 10000` will throw an error of `Error response from daemon: rpc error: code = 2 desc = constraint expected one operator from ==, !=`. So, in service create, we can not set constraint with only label name. We must provide la

[2016-11-10 07:07] deitch commented on #27886
@justincormack could this be a cause of filesystem corruption? I do the following (shorthand):

1. `docker run -v /dev:/dev -v /path/to/image.img:/image.img --privileged ubuntu:16.04 bash` (or pick your distro)
2. In the container, `dd if=/dev/zero of=/image.img bs=1M count=2048` (or whatever size image you want)
3. `sgdisk` to create a GPT with three partitions
4. `losetup -f /image.img -P --show

[2016-11-10 07:11] martinpitt commented on #28109
https://github.com/systemd/systemd/pull/4628 reverted this for now, but you can still boot with `systemd.legacy_systemd_cgroup_controller=0` to get the unified behaviour; that is useful for developers to make runc/docker/lxc/etc. work with the unified hierarchy eventually.

[2016-11-10 07:18] asaf400 commented on #15636
**Note for future reference:**
Docs have been moved to a general docs git: https://github.com/docker/docker.github.io/

**How to fix headers for apache httpd:** https://github.com/docker/docker.github.io/blob/master/registry/recipes/apache.md

**How to fix headers for nginx:**
https://github.com/docker/docker.github.io/blob/master/registry/recipes/nginx.md

Short way for supporting Registry V2 wit

[2016-11-10 08:13] xemul commented on #28159
AFAIK Docker doesn't do it and there's no easy way to pass custom options to it.

[2016-11-10 09:04] xemul commented on #27597
@tswift242 , I see. I'll try to cook the patch soon and post the link here :)

[2016-11-10 09:39] glensc commented on #28204
#23090 does not explain why it was deprecated,  but found from linked docs reference:
https://github.com/docker/docker/blob/v1.10.0/docs/deprecated.md#-f-flag-on-docker-tag

[2016-11-10 09:51] #28033 closed

[2016-11-10 09:53] nhjiejan commented on #16816
restarting docker worked for me.  The issue occurred when I turned off firewalld. restarting docker will update the iptable rules

[2016-11-10 10:11] ukaszg commented on #25981
Coworker had this exact problem, changing fs driver aufs->devicemapper helped.

[2016-11-10 10:34] thaJeztah commented on #25244
We added a fallback mechanism in https://github.com/docker/docker/pull/28138 for kernels that have not yet been patched; that will be in docker 1.13

[2016-11-10 10:42] presidento opened #28236 "Deadlock with docker-compose internal logs"
**Description**

It is quite easy to put docker in a deadlock-state when I use a container in docker-compose to catch logs from other containers. After that event `docker ps` does not work, only restarting the docker service helps

**Steps to reproduce the issue:**

1. Create a `docker-compose.yml` with the content pasted below
2. Start running the in an infinite loop: `while true; do docker-compo

[2016-11-10 10:55] mtablado commented on #22338
I got the same error when I tried to launch `docker ps`, but the rest of the commands work properly. After some time we found that there was any active docker-machine.

If you launch `docker-machine ls` command and you see that they are running (I have 2) but any of them is the active, then, you must launch the next one to activate the default machine.

`eval $(docker-machine env default)`

This f

[2016-11-10 11:09] KevinTHU commented on #28155
@cpuguy83 ok, I will take a test in 1.12.3 in the next few days, but this test is easy, I think some one who has a 1.12.3 environment can test it soon.

[2016-11-10 11:10] thaJeztah commented on #22338
@abhishekraghav your error is not related to this one, can you please open a new issue; it looks like an error in the RunC runtime, and we should look into that. Can you open an issue, and include the output of `docker version`, `docker info` and the error message you posted (also if possible describe when / how you got that error)?

[2016-11-10 11:23] hubo1016 opened #28237 "Docker daemon crash with panic due to concurrent map read and map write"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Docker daemon occasionally crashes with panic, and report a "fatal error: concurrent map read and map write" in the log.

**Steps to reproduce the issue:**

I believe there is a race condition so there is not a determined way to reproduce this, but it may be reproduced by:

[2016-11-10 11:29] Rapdrei commented on #27423
Same error here:
`docker version
Exception 0xc0000005 0x1 0x4bfc404 0x180008910
PC=0x180008910

syscall.Syscall(0x7ffd283bdc40, 0x2, 0x244, 0x3, 0x0, 0x254, 0x0, 0x0)
        /usr/local/go/src/runtime/syscall_windows.go:163 +0x5c
github.com/Microsoft/go-winio.setFileCompletionNotificationModes(0x244, 0x203, 0x0, 0x0)
        /go/src/github.com/docker/docker/vendor/src/github.com/Microsoft/go-winio

[2016-11-10 11:36] fsword commented on #28225
This design is so strange to me. Why we cannot use `slash` to checking it?
eg:

[code]

[2016-11-10 12:08] ijc25 commented on #28111
I proposed a fix for the underlying issue in #28238, I'm also still looking into using terminfo (oh man, my fingers typed term*cap* the first time *again*).

[2016-11-10 12:18] thaJeztah commented on #28225
Because the standard also allows `foobar.com/repository` as reference.

The "leading" definition for this is in the docker/distribution repo; https://github.com/docker/distribution/blob/master/reference/reference.go

But there are some different implementations in use, and there's work in progress to unify them; https://github.com/docker/distribution/pull/1778

As a workaround, you can include the

[2016-11-10 12:25] boucher commented on #28159
It does pass the tcp established flag (which isn't currently configurable).

[2016-11-10 12:29] pablogrs commented on #19450
@ajohnstone Hi Andrew, I know this has been closed for a while, but how did you manage to add the labels to your log? I am a bit stuck there. I am deploying with Ansible, and it would look like I have labels by the information provided by docker inspect

[code]

but I don't 😿
Thank you

[2016-11-10 12:42] jbrunk1966 opened #28239 "Infinite loop in names-generator.go"
in https://github.com/docker/docker/blob/master/pkg/namesgenerator/names-generator.go, in line 557-561, if the outcome of `name` is `boring_wozniak` the resulting goto ends in an infinite loop

[2016-11-10 12:50] pablogrs commented on #19450
@ajohnstone Hi Andrew, I know this has been closed for a good while, but I am facing the same difficulty. I thought I had solved it by the docker inspect results:
[code]
but then the label will not appear in the logs? So I definitely haven't solved it 😿
Any help gladly welcome.

Thanks, Pablo

[2016-11-10 12:52] fsword commented on #28225
Thank you. It's very helpful

[2016-11-10 13:09] jleemans commented on #25277
Just encountered the same issue. It would make more sense to get an error message as soon as you declare and ENV variable starting with a dollar, instead of getting this cryptic error when creating a directory that contains this env variable.

[2016-11-10 13:20] Jwpe commented on #25270
I am also encountering this issue on CoreOS 1185.3.0. After the Docker daemon is restarted with `systemctl restart docker`, I am unable to launch certain containers using `docker-compose up` because a directory already exists in `/run/containerd/`. The only solution I have found so far is the workaround described in https://github.com/docker/docker/issues/21702#issuecomment-210142727, but this is

[2016-11-10 13:24] mbentley commented on #25270
Does your systemd service file for docker have this?: https://github.com/docker/docker/pull/23636/files  See https://github.com/docker/docker/issues/25246#issuecomment-236941609

[2016-11-10 13:41] Jwpe commented on #25270
It doesn't. I'm just using the generic Docker service file on CoreOS 1185.3.0.

@mbentley I added the line with a drop-in file in `docker.service.d` - will this have the same effect?

[2016-11-10 13:44] thaJeztah commented on #25270
@Jwpe @mbentley CoreOS controls containerd through a separate unit file. It's not the recommended setup, and can cause issues

[2016-11-10 13:44] paulmenzel commented on #25270
@Jwpe, yes it should. You should be able to check it with `systemctl cat docker.service`.

[2016-11-10 13:45] cpuguy83 commented on #28236
@presidento Can you send `SIGUSR1` to the hung daemon and collect the stack trace from the daemon logs?

[2016-11-10 13:46] justincormack commented on #25277
I think there is already a PR to fix this issue.

On 10 Nov 2016 2:11 p.m., "Joeri Leemans" <notifications@github.com> wrote:

[2016-11-10 13:47] cpuguy83 commented on #28239
Is this something you experienced?
It would only be infinite if each time `boring_wozniak` was the result, which is highly unlikely.

[2016-11-10 13:48] mbentley commented on #25270
Ah, I did not realize that @thaJeztah, thanks. I'm not familiar specifically with what CoreOS is doing differently but the behavior seems to be the same issue that the updated unit file resolved for other operating systems.

[2016-11-10 13:50] thaJeztah commented on #25270
@mbentley they run two docker daemons (an "early daemon", and the "regular daemon", and control containerd separately as well)

[2016-11-10 13:55] justincormack commented on #27886
I don't think that is the reason.

Can you try adding --make-private on the first mount? It might help.
Otherwise look at lsof on host and see if something else opens the device.

On 10 Nov 2016 8:07 a.m., "Avi Deitcher" <notifications@github.com> wrote:

[2016-11-10 13:56] presidento commented on #28236
How can I collect the stack trace from the daemon logs?

[2016-11-10 13:59] cpuguy83 commented on #28236
When you send `SIGUSR1` to the daemon, the stack trace will be printed in the logs.
Collecting the logs is going to be dependent on your distro and how docker was started.
Being on Ubuntu 16.04, I'd assume it's started with systemd, and as such the logs would be in journald.

[2016-11-10 14:05] jbrunk1966 commented on #28239
Sorry i wasn't aware that rnd.Intn() delivers a new random value each time

[2016-11-10 14:07] cpuguy83 commented on #28239
No worries, thanks for reporting!

[2016-11-10 14:07] #28239 closed

[2016-11-10 14:10] cpuguy83 commented on #28234
`docker run` against classic swarm is scheduled across the cluster.
`docker run` on a swarm-mode enabled docker engine is a node-local command.

Closing since this isn't an issue (or really even a change), but feel free to discuss further.
Thanks!

[2016-11-10 14:10] #28234 closed

[2016-11-10 14:14] presidento commented on #28236
Here you are: [journald-dockerd.txt](https://github.com/docker/docker/files/583538/journald-dockerd.txt)

[2016-11-10 15:00] thaJeztah opened #28240 "Flaky test: DockerSwarmSuite.TestSwarmRotateUnlockKey"
Seen failing on https://github.com/docker/docker/pull/28221, and https://github.com/docker/docker/pull/28173#issuecomment-259592327

@aaronlehmann is working on this, but opening an issue to track https://github.com/docker/docker/pull/27967#issuecomment-259591488

[code]

[2016-11-10 15:41] albertogviana opened #28241 "Docker and Iptables false"
**Description**

I would like to protect my container to receive unwanted calls from outside of my firewall. To avoid it, I am using for quite a while `--iptables=false`.

I built a swarm cluster running Docker 1.12.1 and setting `--iptables=false`, and it works really well. Two days ago I started a new cluster using docker 1.12.3 and setting `--iptables=false`, doesn't and it is not working like

[2016-11-10 15:45] thaJeztah commented on #28241
ping @aboch PTAL

[2016-11-10 15:50] gaborbernat opened #28242 "Docker different proxy based on registry - systemd"
Hello,

According to the documentation here (https://docs.docker.com/engine/admin/systemd/) having different proxies for the official registry and a personal registry is not possible.

Can you confirm that? And if so would it be possible to make add it?

What I want is that when:

git pull ubuntu - (use proxy A)
git pull magic.local.address.network/ubuntu - (use proxy B)

Thanks!

[2016-11-10 16:11] thaJeztah commented on #28242
These variables are handled by the Go runtime, as described in that section.

In the source code of the Go runtime, you can find that these env-vars are used through this function; https://golang.org/src/net/http/transport.go?s=9224:9281#L247, and only `NO_PROXY` accepts a comma-separated list of hosts/URLs; https://golang.org/src/net/http/transport.go?s=9224:9281#L1113

These env-variables are fa

[2016-11-10 16:11] #28242 closed

[2016-11-10 16:13] douglas-larocca commented on #14088
For anyone getting `rm: cannot remove ‘/var/lib/docker/devicemapper’: Device or resource busy`, I was finally able to remove it by running `sudo umount /var/lib/docker/devicemapper` first.

[2016-11-10 16:23] Tchinmai7 commented on #28159
@boucher okay, you were mentioning something about iptables right? can you tell me what kind of rules will be needed for this?  and will floating an ip across the machine make sure the tcp connection doesn't break?

[2016-11-10 16:32] runcom opened #28244 "allow authz plugins to register routes they will listen on"
Basically, in a chain of i.e. 10 authz plugins, the daemon will call those out every requests. This makes CPU utilization of just one plugin being really high (if dockerd is at 20%, the plugin will be at just 5%).
This is the case even with an "empty" plugin which just reply "authorize: true".

Can we instead have plugins register routes they will listen on and just call them out from the daemon w

[2016-11-10 16:34] gaborbernat commented on #28242
so basically this can't be achieved, thanks anyways!

[2016-11-10 16:43] mlaventure commented on #22226
@dirk-thomas no, I was hoping it'd be somewhere else than `futex`, wishful thinking :).

Could you check if there's any data in the shim/runc logs for the container being stuck? They should be located at `/var/run/docker/libcontainerd/containerd/<id>/init/{log,shim-log}.json`

[2016-11-10 16:50] runcom commented on #28244
ping @liron-l

[2016-11-10 16:54] aboch commented on #28241
@albertogviana

I don't think the `--iptables=false` setting has ever taken effect. The output of your iptables in both 1.12.1 and 1.12.3 shows that docker had programmed your iptables.

From your network inspect on 1.12.3, this field has changed to false from true:
`"com.docker.network.bridge.enable_ip_masquerade": "false",`
in fact we see docker has not programmed the MASQUERADE rules in the POS

[2016-11-10 16:54] icecrime commented on #28244
Cc @anusha-ragunathan @riyazdf.

[2016-11-10 16:55] dirk-thomas commented on #22226
The folder only contains a `config.json` as well as three pipelines `init-stderr`, `init-stdin`, and `init-stdout`.

[2016-11-10 16:56] dirk-thomas commented on #22226
The `<id>` folder only contains a `config.json` as well as three pipelines `init-stderr`, `init-stdin`, and `init-stdout`.

[2016-11-10 16:58] mlaventure commented on #22226
@dirk-thomas you're in the wrong path ;-) -> `/var/lib/docker/libcontainerd/`**containerd**`/<id>`

[2016-11-10 17:00] dev-lusaja opened #28245 "Text information in the web site"
Guys,
In the web site:
[]()https://www.docker.com/partners/partner-program

In the section "DOCKER SPOTLIGHT PARTNERS" correct the text that says:

Amazon Web Servces

for

**Amazon Web Services**

[2016-11-10 17:06] dirk-thomas commented on #22226
Indeed, sorry about that :worried: Now to the requested data. Both `log.json` and `shim-log.json` are empty. I guess the content of `process.json` isn't helpful.

[2016-11-10 17:23] albertogviana commented on #28241
Hi @aboch,

After I ser up iptables as false, the ip-masq was false and even if I set as true it didn't change.

[2016-11-10 17:32] aboch commented on #28241
My guess then is that things were working because of the stale nat rules you had from a previous docker daemon run in which iptables was not disabled.

The you may have restarted the machine (is that the case?) and your containers could no longer rely on those rules therefore cannot talk to the outside.

AFAIK nothing has changed in the iptables programming / iptables flag processing across the 1.

[2016-11-10 17:47] #27517 closed

[2016-11-10 17:47] albertogviana commented on #28241
All machines have a fresh installation and haven't upgrade the docker there. I will collect the log for you. I restarted the machines many times and in the version 1.12.1 still work.

[2016-11-10 17:59] thaJeztah commented on #28245
Oh, thanks for reporting! I'll pass this on through to the team

I'll close the issue here because this issue tracker is only for the docker open source project, but I'll ask them if they can reply once it's fixed 👍

[2016-11-10 17:59] #28245 closed

[2016-11-10 18:01] dev-lusaja commented on #28245
Ok thnx 👍

[2016-11-10 18:07] arcusfelis opened #28246 "It's not possible to update memory limit higher than 4GB"
**Description**
 It's not possible to update memory limit higher than 4GB.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**
It's not possible to update limit higher than 4GB. Integer overflow?

**Describe the results you expected:**
I expect it to work and not to overflow.

**Additional information you deem important (e.g. issue happens only occasionally):**

[cod

[2016-11-10 18:13] programmerq opened #28247 "Implement --network-add and --network-rm for docker service update"
These were part of the 1.12 cli, but never implemented in the daemon, so the CLI options were taken out in https://github.com/docker/docker/pull/25646.

Having this feature implemented would be great.

[2016-11-10 18:14] mlaventure commented on #22226
@dirk-thomas

It'll hard to debug without stracing the whole process, but i think `runc` still hangs sometimes under `strace` (see https://github.com/opencontainers/runc/issues/1025)

To give it a try replace `docker-runc` with a script shell, something akin to:
[code]

[2016-11-10 18:15] hansfrederickbrown commented on #28245
Fixed

[2016-11-10 18:52] arcusfelis commented on #28246
Extra. Seams like a kernel bug.

[code]

[2016-11-10 19:02] dirk-thomas commented on #22226
Here we go: https://gist.github.com/dirk-thomas/3b1d0848b6fe361026b1982d63f9fc69

[2016-11-10 19:15] Tobeez opened #28248 "Error response from daemon: containerd: container did not start before the specified timeout (docker 1.12 + CRIU)"
I am trying to checkpoint and restore containers on different systems using the docker-checkpoint-restore branch of Boucher's fork of Docker.

However, on restore on the new system, some processes that spurn several threads like ffmpeg (from jrottenberg/ffmpeg:ubuntu) and tensorflow(from tensorflow/tensorflow) fail to restore with error:

`Error response from daemon: containerd: container did not

[2016-11-10 19:16] avagin commented on #28159
@Tchinmai7 does the container have the same address after migration?

[2016-11-10 19:18] anusha-ragunathan commented on #27795
Havent seen this failure since. This could very well be a failed test from flakey network. Closing.

[2016-11-10 19:18] #27795 closed

[2016-11-10 19:21] arcusfelis commented on #28246
But it's possible to "unset" limit at all using (writing -1 does not help).
[code]

It can be useful for someone.

[2016-11-10 19:28] SEAPUNK commented on #27381
I have the same issue, but I also get some additional errors when I try to recreate a container with `docker-compose up -d`:

[code]

In particular, the `Error closing logger: invalid argument` error.

[2016-11-10 19:31] Tchinmai7 commented on #28159
@avagin with respect to the docker overlay? It has the same ip. The host has a different one though.

[2016-11-10 19:39] Tobeez commented on #22226
I have the same problem using docker+CRIU from [https://github.com/boucher/docker/tree/docker-checkpoint-restore](url)

I am trying to checkpoint and restore containers on different systems. During restore on the new system, some processes that spurn several threads like ffmpeg (from jrottenberg/ffmpeg:ubuntu) and tensorflow(from tensorflow/tensorflow) fail to restore with error:

Error response f

[2016-11-10 19:42] #26912 closed

[2016-11-10 19:44] aaronlehmann commented on #28240
I think we've tracked this down to a problem in the test. It was intended to set `unlockKey = newUnlockKey` at the end of the loop. This is missing, and it prevents a special case from triggering after two iterations through the loop. @cyli is going to include the fix in her vendor PR.

[2016-11-10 20:12] ascotan commented on #22753
Is it possible that this can get fixed for 10.12 and throw a error/warning if the the required 10.12 fix is not present on the system?  You can then document the /etc/host or toolbox workaround for people running 10.11.

Imho being able to access the container network from the host without port forwarding or manual network configuration is a fundamental feature of docker. The fact that this doesn'

[2016-11-10 20:17] cpuguy83 commented on #28248
We don't support C/R in 1.12 I thought?

ping @boucher

[2016-11-10 20:23] boucher commented on #28248
@cpuguy83 No, not supported in 1.12, but I imagine @Tobeez meant in some version of my branch that's identifying itself as 1.12?

But it would probably be best to first suggest trying running from docker/master in experimental mode, now that its been merged.

I don't have any ideas about the actual failure though...

[2016-11-10 20:31] korabelnikov opened #28258 "docker: Error response from daemon: containerd: container not started."
**Description**
cant run container from image
(bug or not?)

**Steps to reproduce the issue:**
1.nvidia-docker run 87d162763d5b

**Describe the results you received:**
docker: Error response from daemon: containerd: container not started.

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**
'docker ps -a' shows container wit

[2016-11-10 20:44] ramm opened #28260 "container hostnames collision"
Spinning off from https://github.com/docker/docker/pull/15107#issuecomment-259394994

Some days ago I was investigating a strange bug in our swarm cluster and discovered, that there was a collision of hostnames — two containers on different hosts had the same and this caused a bit of trouble for us, as we use consul agents inside those containers, and all consul agents in a cluster should have dif

[2016-11-10 20:58] mviereck commented on #27497
I localized the problems with shared X socket. I have to explicitly disable X extension MIT-SHM  to disable usage of shared memory. MIT-SHM seems to be enabled by default in new X servers which I was not aware of. Without MIT-SHM, I have no more rendering glitches and don't need isolation breaking option --ipc=host.
I did not find a solution for GPU acceleration with X over tcp, but don't need it

[2016-11-10 20:58] #27497 closed

[2016-11-10 20:58] jhowardmsft opened #28263 "Can't build dockerfile.Windows on Hyper-V containers"
Yeah, I need to figure out what's going on. Can only use in Windows server containers. See https://github.com/docker/docker/pull/28261.

[2016-11-10 21:01] raghu999 commented on #27400
@mlaventure  I updated to 1.12.3 and I don't see any issue . Thanks

[2016-11-10 21:01] #27400 closed

[2016-11-10 21:28] #28240 closed

[2016-11-10 21:31] crosbymichael commented on #27381
I'm currently working on a fix for this.  I have an open PR in containerd to help.

Its hard to find a reproducible way to test this so after I have a fix completed would one of you be interested in testing this fix?

[2016-11-10 21:34] SEAPUNK commented on #27381
Yeah, definitely. I'll try to create a virtual machine in which I can reproduce this problem, and try the fix there; if that doesn't work, then I'll test it on the server that I'm having the problems on.

[2016-11-10 21:44] andschwa commented on #28263
To clarify, the Dockerfile can be built without problem. The Docker build cannot be run inside the container (because none of the POSIX tools from Git work) when using process isolation.

[2016-11-10 21:46] #28165 closed

[2016-11-10 21:48] #22564 closed

[2016-11-10 22:00] mlaventure commented on #22226
@Tobeez

You can start `docker-containerd` manually and pass a different timeout with `--start-timeout`

[2016-11-10 22:00] stevvooe commented on #28260
We are using a seeded prng from `math/rand`, which should be effectively random, but I am not aware of the cycle properties of this particular implementation. Let's analyze this using [the birthday problem](https://en.wikipedia.org/wiki/Birthday_problem#Cast_as_a_collision_problem). Probability is not my strong suit, but here goes.

There are two hypothesis:

1. We are using the full entropy pool

[2016-11-10 22:01] #14041 closed

[2016-11-10 22:07] deitch commented on #27886
I didn't think it was either, but I thought it might be possible. After all, `/dev` is mapped inside and outside, the container is `--privileged`, and it might be confused about what is happening.

I do not like that it has the device files in and out; too easy for corruption to occur. Clearly, containers did not (yet) plan for this use case, even though we made a reasonable argument for it. Perso

[2016-11-10 22:08] deitch commented on #27886
I assume libguestfs would make this irrelevant as a problem?

[2016-11-10 22:17] kharpMSFT opened #28267 "docker run hangs after container exit when started in a new Windows console"
@darrenstahlmsft

docker run on Windows hangs after container exit when started in a new console, from an HCS point of view, the container has exited completely as well.

Repro Steps:
PS C:\container> start docker -ArgumentList 'run -it --isolation hyperv nanoserver cmd'
- or -
C:\Users\vmadmin>start docker run -it --isolation hyperv 824aa583 cmd

I would expect the newly created window to close o

[2016-11-10 22:19] Tobeez commented on #28248
Actually it's 1.13.0-dev

Client:
 Version:      1.13.0-dev
 API version:  1.25
 Go version:   go1.7.1
 Git commit:   67f607a
 Built:        Fri Nov  4 17:13:41 2016
 OS/Arch:      linux/amd64
 Experimental: true
Server:
 Version:      1.13.0-dev
 API version:  1.25
 Go version:   go1.7.1
 Git commit:   67f607a
 Built:        Fri Nov  4 17:13:41 2016
 OS/Arch:      linux/amd64
 Experimental: true

[2016-11-10 22:22] mlaventure commented on #22226
@dirk-thomas it looks like the kernel never complete the `clone` operation.

Which kernel are you using?

Could you provide the stuck process associated kernel stack? In the trace you provided that would can be retrieved via `/proc/6434/stack`

You may want to check if there's a patch release from your distro available for this kernel, it may be a known/fixed bug

[2016-11-10 22:27] dirk-thomas commented on #22226
The machine in question is running Ubuntu Trusty ( with kernel version 3.13.0-100-generic. I am happy to get the additional information. But if you suggest to upgrade to e.g. Xenial which uses 4.4.0-45-generic I am more then willing to do that if it is known to address that problem.

[2016-11-10 22:30] dirk-thomas commented on #22226
The stack contains the following:

[code]

[2016-11-10 22:34] mlaventure commented on #22226
@dirk-thomas I don't know if upgrading to Xenial would help, but it seeming to be a kernel issue, it wouldn't hurt.

The stacktrace doesn't help unfortunately.

[2016-11-10 22:34] LLParse commented on #18504
I can confirm this is still a problem in version `1.12.3`.

[2016-11-10 22:38] dirk-thomas commented on #22226
Thank you for the support! I will see if I can update the machines in the near future and report back if it happens again with a newer kernel.

[2016-11-10 22:43] mlaventure commented on #22226
@dirk-thomas Actually, I think you sent me the wrong stacktrace.

It should include `sys_clone` in the output. You would need to reproduce the issue, find the correct pid and get the stacktrace (within 2 minutes so the process doesn't get killed), to get an accurate version.

It may still be useful for us to pinpoint what's causing it exactly :)

[2016-11-10 23:03] Murf opened #28269 "Setting Ports in a container config no longer compiles"
Setting Ports in a container config no longer compiles

[code]

monitor.go:11: cannot use exposedPorts (type map["github.com/docker/go-connections/nat".Port]struct {}) as type map["github.com/docker/docker/vendor/github.com/docker/go-connections/nat".Port]struct {} in field value

[2016-11-10 23:05] darrenstahlmsft commented on #28267
Thanks @kharpMSFT. I'm suspecting this is an issue of the order that pipes are closed in the daemon. Hitting enter while hung sometimes closes it, but not always. I'll look at this soon.

[2016-11-10 23:10] andrewhsu opened #28270 "opensuse-13.2 packages cannot be built because unable to install vim-common"
**Description**

Cannot built opensuse 13.2 packages. May be related to this [change](https://github.com/docker/docker/commit/e0e7dd6fee00b97ae7d73a21528c4f84bfae88ba#diff-3280a4ba4afebf6df3c4853c11a77fc4).

**Steps to reproduce the issue:**

The heart of the issue is the docker image used to build the opensuse packages. It cannot be built:
[code]

**Describe the results you received:**

Much sadn

[2016-11-10 23:10] andrewhsu commented on #28270
/cc @crosbymichael @vieux @thaJeztah

[2016-11-10 23:23] dirk-thomas commented on #22226
I tried to find the right process but couldn't spot any containing `sys_clone`. The strace log is only written after the timeout so it doesn't help me to find the right pid. How can I identify the pid in questions?

[2016-11-10 23:24] andrewhsu commented on #28270
I'll try replacing with `vim` since that looks like the closest match:
[code]

[2016-11-10 23:27] mlaventure commented on #22226
@dirk-thomas you should see it as a child of strace in `ps afxj`

[2016-11-10 23:32] dirk-thomas commented on #22226
Thank you again. Maybe this is the right one then?

[code]

[2016-11-10 23:35] bclairmont commented on #28207
I see this in 1.12.3 as well.

[2016-11-10 23:45] #27647 closed

[2016-11-10 23:50] #24132 closed

[2016-11-11 00:12] nishanttotla commented on #24066
After https://github.com/docker/docker/pull/28173 was merged, it is now possible to pin service images by digest. That is, creating a service with an image and tag will always resolve to a digest, and all tasks will use exactly the same image.

For a running service, doing an update with the `--image` tag such as `docker service update --image name:latest` will result in a re-resolution of the tag

[2016-11-11 00:14] andrewhsu opened #28273 "tini error: ignoring return value of 'fwrite' when building oraclelinux-6 packages"
**Description**

When building oraclelinux-6 packages for docker, failure in build when compiling tini.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

Blah.

**Describe the results you expected:**

Ooo.

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[

[2016-11-11 00:14] andrewhsu commented on #28273
/cc @vieux @crosbymichael @thaJeztah

[2016-11-11 00:15] andrewhsu commented on #28273
This error does not occur on any other linux distro package that I tried to build. I'm thinking this error may be caused by old gcc version, possibly?

[2016-11-11 00:18] tonistiigi commented on #22226
Could this be https://github.com/docker/docker/issues/5618#issuecomment-252420204 ? Similar stacktrace. cc @justincormack @aboch

[2016-11-11 00:23] tonistiigi commented on #24066
fixed by #28173

[2016-11-11 00:23] #24066 closed

[2016-11-11 00:41] darrenstahlmsft commented on #27527
@penenkel We have a fix internally, but don't have an ETA for a Windows Update that includes it yet. We're not aware of any workaround at this time, but if we can get specs of the systems encountering this, it might help. Could you post specs here? I'm mostly interested in hard drive specs, ideally benchmarks, but anything might help.

@thesandbender I'm not aware of a way to track this yet. I'm f

[2016-11-11 00:51] #28225 closed

[2016-11-11 00:52] #28270 closed

[2016-11-11 00:55] #27902 closed

[2016-11-11 01:01] thaJeztah commented on #28273
There's also https://github.com/docker/docker/issues/28190, so there is a possibility that time has come to an end for OEL6

[2016-11-11 01:03] Timoha commented on #18169
Still seeing this issue with 1.12.1 on coreos.
`docker version`:
[code]
`docker info`:
[code]
`iptables --version`:
[code]

How reproducible:
It seems random, sometimes MASQUERADE nat rule is left behind. And other times it's cleaned up.

Additional info:
The issue is also causing #7540

[2016-11-11 01:06] thaJeztah commented on #28269
ping @mrjana PTAL

[2016-11-11 01:12] kunalkushwaha commented on #28207
i am using ubuntu 16.04 and docker 1.12.3.

It works fine at my machine.

[2016-11-11 01:23] albamc commented on #28234
Oh... I understood.
Thanks for your answers!

[2016-11-11 01:30] #26760 closed

[2016-11-11 02:09] jeanpralo commented on #27404
We have seen this happening in production with docker 1.12.1, unfortunately so far unable to reproduce. We run only one docker daemon per server and no live-restore is enabled.

Will keep trying and monitor the situation and feed that ticket if we find anything else.

[2016-11-11 02:25] tiborvass commented on #28269
ping @LK4D4 I think this could be a Go vendor issue.

[2016-11-11 03:27] vieux opened #28281 "improve error messages for the new plugin system on windows (not yet supported)"
need to improve API and DOCs

/cc @jhowardmsft

[2016-11-11 03:28] vieux opened #28282 "do not display ContainerdCommitID in `info` on windows"
related to https://github.com/docker/docker/pull/27955

/cc @jhowardmsft

[2016-11-11 03:39] #26462 closed

[2016-11-11 03:46] jhowardmsft commented on #26462
Nice! Will verify, but great if fixed. Thank you @dmcgowan 😺

[2016-11-11 04:34] ramm commented on #28260
at least one user, who is persistent enough to track potentially unsafe changes in the code, find a pr with it and write a report? :)

[2016-11-11 05:01] sencho opened #28283 "Hom can i access the container config file name config.v2.json on Mac OS through Docker for Mac?"
**Hom can i access the container config file name config.v2.json on Mac OS through Docker for Mac?**

**Steps to reproduce the issue:**
1.cd  /var/lib/docker/

**Describe the results you received:**
cd: no such file or directory: /var/lib/docker/

**Describe the results you expected:**
I want to aaccess the file at /var/lib/docker/containers/[container id]/config.v2.json like on Ubunto,but it is n

[2016-11-11 05:31] tonistiigi opened #28284 "Panic on arm running swarm tests"
Arm CI builds are failing https://jenkins.dockerproject.org/job/Docker%20Master%20(arm)/3771/console

Daemon logs for

[code]
https://gist.github.com/tonistiigi/c566c87c3f8b2a9511486ebe6a83784a

[code]

Hard to say what is the first commit with this problem because we have limited history but I can bisect it out if needed.

@mrjana @mavenugo

[2016-11-11 06:24] AkihiroSuda opened #28286 "Flaky test: TestPullByDigest"
https://jenkins.dockerproject.org/job/Docker-PRs-experimental/26652/console

[code]

docker.log around the time doesn't seem useful
[code]

[2016-11-11 06:30] trishnaguha opened #28287 "dockerd command not found on Fedora distribution"
**Description**
`dockerd` command doesn't work on Fedora distribution. I have tried of Fedora 24 and 25 distributions.

**Steps to Reproduce**
Issue `dockerd --help` command on Fedora distribution.

**Actual Result**
[code]

**Expected Result**
`dockerd` command should be functional.

**Docker version**
`Docker version 1.10.3, build 1ecb834/1.10.3`

**Docker info**
[code]

[2016-11-11 06:32] runcom commented on #28287
If you installed with dnf then the `dockerd` binary is called `dockerd-current` (we should symlink it I guess).

Also, you're running version 1.10.3 which doesn't have `dockerd`.

[2016-11-11 06:33] lanjiantm commented on #15740
Open the VirtualBox Manager, choose the docker image (e.g. "default"), click "Settings" on the toolbar, switch to "Network" tab, choose "Adapter 1" tab (the "NAT"), extend "Advanced", click "Port Forwarding", add the port as your need.

Env:
Windows 7, VirtualBox 5.1.8, docker toolbox v1.12.0

[2016-11-11 06:33] #28287 closed

[2016-11-11 06:35] trishnaguha commented on #28287
Ok Thanks.

[2016-11-11 06:51] fredkan commented on #20698
same problem meet, I got success from below actions:
1. download libsystemd-journal0_204-14-bpo70+1_amd64.deb
http://ftp.cn.debian.org/debian/pool/main/s/systemd/libsystemd-journal0_204-14~bpo70+1_amd64.deb
2. dpkg -i libsystemd-journal0_204-14-bpo70+1_amd64.deb
3. apt-get install libltdl7
4. dpkg -i docker-engine_.....deb

[2016-11-11 06:52] kunalkushwaha commented on #28258
It seems you are running a container which was already created?
How this container was created?

[2016-11-11 07:12] scaleoutsean commented on #22598
Same symptoms here. Using aufs on ext4.
Docker daemon restart helps in my case, no need to restart the OS.

[code]
And `info`:
[code]

[2016-11-11 07:14] #28120 closed

[2016-11-11 07:53] yoshiokatsuneo commented on #27629
@estesp I can reproduce the issue on the aufs, too...
I tested on:

  Ubuntu 16.05.1
  Docker 1.12.3
  Linux 4.4.0-43-generic

[2016-11-11 08:13] korabelnikov commented on #28258
@kunalkushwaha  thank for quck reply.

I run and image with 'docker run' command.
As i know it creates new container from image and run it. I make a few containers in past with 'run' and image name.
Maybe i'm wrong in smth, feel free to correct me.

the full command is
nvidia-docker run -dit -v /avtoplan_data/Learning/:/root/host/ -p 34448:34448 -p 32022:22 -p 32000:5000 --entrypoint /bin/bash --n

[2016-11-11 08:28] kunalkushwaha commented on #28258
@korabelnikov your command is correct. and yes ``docker run`` creates container.

Is it easily reproducable?
If possible, please enable daemon debug logging https://docs.docker.com/engine/admin/#/configuring-docker and see if you can find anything.

[2016-11-11 08:41] zdtsw opened #28291 "Took long time for Docker Swarm service turn desired state from Ready to Running"
**Description**
After I run "docker service update" it took around 60 seconds for each task from "Ready" to "Running" in desired states. It was around 25-35 seconds with the same application version and on the same docker swarm cluster. What could cause this issue? (I believe it is rather the servers than the docker itself) but how can I trouble shooting this? And I could not see any documentation

[2016-11-11 09:24] elyulka commented on #22745
I had this issue on 10.10 long time. I've just upgraded to 10.12 and issue is still present.

[code]

[code]

[2016-11-11 09:31] justincormack commented on #22745
Please open an issue on https://github.com/docker/for-mac/issues with the
diagnostics id.

On 11 Nov 2016 10:25 a.m., "Eugene" <notifications@github.com> wrote:

[2016-11-11 09:54] tfpereira commented on #25328
+1 What's the current state of this issue? Just ran into this problem when I tried to migrate my images to a ntfs filesystem

[2016-11-11 10:09] georgyturevich opened #28295 "Docker for Windows does not support live-restore option"
**Description**

When I read documentation about live-restore option I supposed that it is supported by Docker for Windows. There is no one mention that it is not supported: https://docs.docker.com/engine/admin/live-restore/

Furthermore, this documentation https://docs.docker.com/engine/reference/commandline/dockerd/ lists this option in "Windows configuration file" section. But I was not able to

[2016-11-11 10:12] eratolekov opened #28296 "Side effect of /init file as entrypoint"
Hi Docker Team

I have strange side effects of using `/init` as `ENTRYPOINT`. Such as
- `/tmp` directory is cleaned after each step of building docker image
- `df -h` works with error

### Steps to reproduce
Dockerfile
[code]
Then
[code]

As you can see:
- duplicated `/sys/fs/cgroup/`'s
- /tmp is mounted as tmpfs
- `df: /sys/fs/cgroup/cpuacct,cpu: No such file or directory` for `df -h`

### Expect

[2016-11-11 10:22] ijc25 commented on #28111
#28238 has been merged and fixed the underlying issue here. I think this issues can be closed. I'm still looking at a switch to terminfo but no need to keep this open for that I think.

[2016-11-11 10:40] georgyturevich opened #28300 "Remote 'stats' API shows not enough data for the memory and CPU for Windows"
**Description**

When I try to use remote API 'stats' it does not return me required information in cpu_stats/precpu_stats/memory_stats.

**Steps to reproduce the issue:**
1. I configured dockerd to listen 2375 port by setting following option in the daemon.json
[code]
2. When I'm loading an information from the url http://(ip):2375/containers/(container name)/stats it returns me following informa

[2016-11-11 10:46] danielsand commented on #19261
Docker version 1.12.3

Overlay network config:
`[
    {
        "Name": "dev_subnet-01",
        "Id": "a567bd414f80df5668c0aa620ae93f9073df36fdf29adb709486e078e21f0e53",
        "Scope": "global",
        "Driver": "overlay",
        "EnableIPv6": false,
        "IPAM": {
            "Driver": "default",
            "Options": null,
            "Config": [
                {
                    "S

[2016-11-11 10:47] jsravn commented on #27827
I'm also experiencing this. I'm using `docker ps` as a health check, it times out after a minute, then tries to do `docker stop` which also times out. Eventually it seems to recover on its own.

[2016-11-11 10:47] PhilMarkham commented on #9755
I've hit this issue 3 times in the last 6 or so months on a server that has relatively-high container churn. At any one time we usually have maybe 30-60 containers running across 5-10 different docker-compose stacks representing different applications. Throughout the day we probably see around 10 deployments on average. All of these applications mount host directories via the 'volumes' directive i

[2016-11-11 10:59] georgyturevich opened #28301 "`docker stats` command works incorrectly with --format attribute for the .CPUPerc and .MemUsage placeholders on Windows"
**Description**

According to the documentation https://github.com/docker/docker/blob/master/docs/reference/commandline/stats.md I tried to use .CPUPerc and .MemUsage placeholders

1. For the CPUPerc command I got a error
[code]
But I expected something like this
[code]

2 .MemUsage placeholder shows zeros in limit part of output:
[code]

But I expected something like this
[code]

**Output of `doc

[2016-11-11 11:00] mj073 opened #28302 "Disk Space restriction per container"
The use case I want to implement is, if I have 100GB of host disk space(mounted on /var/lib/docker) and I want to spawn 10 containers with disk restricion/distribution of 10GB each. My application running inside container will monitor the disk space and should not allow more than 10GB of data stored per container.

Following are the host system mount points:

[code]

I have mounted /var/lib/docker

[2016-11-11 11:34] pablogrs commented on #19450
I think I managed, not using quotes in Ansible did the trick

[code]

[2016-11-11 11:44] sandersaares commented on #25982
Do I understand it right that there is currently no way to get a notification that a Windows container is shutting down? How are containerized apps intended to avoid incomplete writes in such a situation? Or do I miss something here?

[2016-11-11 13:03] korabelnikov commented on #28258
@kunalkushwaha yes. but just restart of docker deamon solves my problem.
It's not the best choice because there were other working containers.
As I remember, this problem raises first time when my disk space became very low.

[2016-11-11 13:03] #28258 closed

[2016-11-11 13:15] koendc commented on #5618
CoreOS stable is currently The fix for the 4.7 series is in 4.7.5: https://cdn.kernel.org/pub/linux/kernel/v4.x/ChangeLog-4.7.5

[code]

[2016-11-11 13:24] zdtsw commented on #28291
Is there any setting for swarm to define how long time it should use for update a task?
looks all the tasks (even a different service) take the same amount of 60 seconds now.

[2016-11-11 13:25] manast opened #28303 "Multiple images with the same name and Docker remote API"
I have tried to find an old issue regarding what I am going to expose below but couldn't find any.

My issue is that, sometimes, untagged images (not sure if this can also happen for tagged ones), can have the same the name as others while being different images. Besides being confusing when doing ```docker images```, it also introduces a weird behaviour on the 'inspect image' remote api:
```GET /

[2016-11-11 13:31] #28111 closed

[2016-11-11 13:51] djflux commented on #15086
Another +1 here.  Need to have true client IP address for logging and security purposes.  Re-open with some documentation please :)

[2016-11-11 13:55] cpuguy83 commented on #28303
You cannot have multiple images with the same name.
An image name consists of a repo and a tag, these are unique. If you try to name an image the same name as an existing one, the name from the old image will be removed and applied to the new image.

[2016-11-11 14:06] zdtsw commented on #28291
after set back "docker swarm update --task-history-limit 5", problem solved!
so there is something wrong with the --task-history-limit which pauses the task for 1 minute and then start  pulling image + run container..........

[2016-11-11 14:18] michael-holzheu opened #28305 "CI fails on z and power due to newly enabled testcases"
The following CI testcases currently fail on power and z:

- FAIL: docker_cli_plugins_test.go:62: DockerSuite.TestPluginActive
- FAIL: docker_cli_daemon_plugins_test.go:83: DockerDaemonSuite.TestDaemonKillLiveRestoreWithPlugins
- FAIL: docker_cli_daemon_plugins_test.go:116: DockerDaemonSuite.TestDaemonShutdownLiveRestoreWithPlugins
- FAIL: docker_cli_daemon_plugins_test.go:187: DockerDaemonSuite.T

[2016-11-11 14:23] michael-holzheu commented on #28305
ping @tophj-ibm, @ddingel, @dnephin

[2016-11-11 14:30] cpuguy83 commented on #28302
Quotas do not limit what the user can see, only what they can use.
From your example, it looks like indeed the quota is being set properly.

The quota itself is a bit slow in my testing. If you give it some time it'll allow the write to go through again.

[2016-11-11 14:31] manast commented on #28303
so you mean that something like this should be impossible?
[code]

because that is exactly what I get when I do ```docker images``` ...

[2016-11-11 14:49] michael-holzheu commented on #28305
Ok, looks like the problem is is *not* PR #27998 but just the commit c410222e42fb9195909390337bc129c6481e2453.

[2016-11-11 14:55] tophj-ibm commented on #28305
while the test are different, a lot of the errors here are the same in #28285.

[2016-11-11 14:55] cpuguy83 commented on #28303
So it looks like you tagged a new image with an existing tag, thus untagging the existing one.
What you have is multiple images with the same repo and with no tag associated with them.

The inspect endpoint cannot (must not) return an array. It could be argued that it should not return anything if there are multiple matches (which we do for containers since you can lookup by id/name prefix).
If yo

[2016-11-11 14:59] chefarov commented on #23958
Same situation after installing docker-engine in ubuntu 16.04 with newer docker version:
[code]

[code]

[code]

[code]

[2016-11-11 15:06] sudheeshms commented on #16941
https -> **http**

[2016-11-11 15:12] manast commented on #28303
yes, I fully agree that inspect should not return an array, but for that to be consistent, it should be impossible to have several different images with the same name, don't you agree?

[2016-11-11 15:26] lavalamp- commented on #19261
It would be great to get any amount of feedback from the Docker devs, as this has been an open issue for over 10 months now.

For those of you that are banging your head against the wall, it appears that Docker networking is managed by the ***swarm discovery*** method of your choosing (for instance, I use Consul). You would never know this without doing some serious digging as none of the document

[2016-11-11 15:26] michael-holzheu commented on #28305
When doing the first step of TestPluginActive() ...

[code]
... we get the following on s390x:
[code]

[2016-11-11 15:27] albertogviana commented on #28241
Hi @aboch,

Here is the log files for both versions [1.12.1](https://gist.github.com/albertogviana/a65eeb44bd958eaf01c52ebc9198304c) and [1.12.3](https://gist.github.com/albertogviana/3b676e36f9660ef5a20d9de5e7dd87ea) as you asked.

[2016-11-11 15:27] DanielSchwiperich commented on #9755
I came here because we ran out of inodes on one of our gitlab ci runners. Solution was to clear unwanted volumens which existet even the container were long gone.

`docker volume rm $(docker volume ls -qf dangling=true)`

Credits to source: http://blog.yohanliyanage.com/2015/05/docker-clean-up-after-yourself/

[2016-11-11 15:29] p-thurner commented on #23742
I also have this issue, we would like to do accouting via iptables and need to know the names of the network interfaces.

[2016-11-11 15:30] cpuguy83 commented on #9755
@DanielSchwiperich You might try updating your scripts to use `docker rm -v` when removing containers so that it will also clean up any anonymous volumes.

1.13 has a new `docker system df` and `docker system prune` command to help clean up potentially unused resources.

[2016-11-11 15:34] soanni commented on #28027
for example this code works on host and process starts under different user 'sp_farm'. And whoami outputs: 'sp_farm'. Inside the container i'm getting error code -1073741502
-------------------------
$pw = convertto-securestring "Password" -asplaintext -force;

$pinfo = New-Object System.Diagnostics.ProcessStartInfo
$pinfo.FileName = "whoami"
$pinfo.RedirectStandardError = $true
$pinfo.RedirectSta

[2016-11-11 15:36] soanni commented on #28027
So user can be created inside the container, but we can't run processes under that user. This is odd. Or am i missing smth?

[2016-11-11 15:42] soanni commented on #28027
this is code decrypt

PS C:\domain> certutil -error -1073741502
0xc0000142 (NT: 0xc0000142 STATUS_DLL_INIT_FAILED) -- 3221225794 (-1073741502)
Error message text: {DLL Initialization Failed}
Initialization of the dynamic link library %hs failed. The process is terminating abnormally.
CertUtil: -error command completed successfully.

[2016-11-11 15:54] ddingel commented on #28305
So after taking a look at the plugin:
[code]

It is clear why that will fail on every architecture different to x86. Sadly I wasn't able to find any source code to no-remove.

@tiborvass do you have any pointers regarding your plugin-no-remove code?

@estesp As that feature does need multi arch support, what would be the next steps?