[2015-11-30 19:39] resmo commented on #14026
can also confirm @Kelindar solution worked for me. Debian stretch.

[2015-11-30 19:40] nazar-pc commented on #16068
I'm :+1: for this proposal. It is generally a bad idea to rely on such unexpected behavior. It doesn't give any benefits in my opinion, while might cause problems. If user is fine with the case that container might already exist - he should handle such situation explicitly.

[2015-11-30 19:47] #17037 closed

[2015-11-30 19:47] thaJeztah commented on #2619
I'm not really comfortable with changing this either; this will be big breaking change, and will affect many users

[2015-11-30 19:52] patsa commented on #18180
Same issue here.
Is there any way to downgrade to an earlier version on Windows?

[2015-11-30 19:54] duglin commented on #16068
I agree with the proposal. As with any good rule there may be exceptions but in general, if I do any kind of docker "create" I expect a new thing to be created or an error generated.  Returning me a previously create thing is not what I asked for.  If we really want to support "conditional creates" then it should be explicitly asked for via some flag as I think that will not be the norm for most u

[2015-11-30 19:54] aanm commented on #14233
@jerbia Any news about this?

[2015-11-30 19:57] mcieslik-mctp commented on #15373
I tested 1.9.1, but emacs is still garbled (start emacs C-x 3 -> garbled)

$ docker version
Client:
 Version:      1.9.1
 API version:  1.21
 Go version:   go1.5.1
 Git commit:   a34a1d5-dirty
 Built:        Sun Nov 22 00:15:15 UTC 2015
 OS/Arch:      linux/amd64

Server:
 Version:      1.9.1
 API version:  1.21
 Go version:   go1.5.1
 Git commit:   a34a1d5-dirty
 Built:        Sun Nov 22 00:15:15

[2015-11-30 20:04] cpuguy83 commented on #16068
Agree -- I think the original functionality was just so that using a volume name on "run" would always give you the same volume, and "volume create" is just following the same code path.
Once we fully push all volume commands to drivers instead of relying on the daemon to manage a list, this is easy.

[2015-11-30 20:05] aanm opened #18316 "dnf [install|reinstall|remove|update] docker takes to much time with fedora 23"
Hey every time I get a new update for docker,let's say from `1.9.0` -> `1.9.1` the installation takes to much time and I'm able to see that it's being caused by `restorecon` when is trying to install/remove/update `docker-engine-selinux`.

[2015-11-30 20:05] GordonTheTurtle commented on #18316
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-11-30 20:05] patsa commented on #18180
Found it myself.
https://github.com/docker/docker/releases

[2015-11-30 20:20] stevvooe commented on #2619
@BMorearty @bojanstef While this is an interesting and useful feature, it will take a number of changes to the image format to realize correctly. For this particular issue, it seems like the actual problem is preventing accidental push over important images. This can be achieved with simple access control. Disallow push to your registry by everything except your CI system. This will avoid the prob

[2015-11-30 20:31] stevvooe commented on #14018
Please keep your commentary constructive.

[2015-11-30 20:50] thaJeztah commented on #15373
I see "Git commit: a34a1d5-dirty", did you build docker yourself? Were changes made (just to check)

[2015-11-30 21:03] mcieslik-mctp commented on #15373
I am using the official "Arch linux" build:

https://www.archlinux.org/packages/community/x86_64/docker/

They seem to apply two tiny patches:

https://projects.archlinux.org/svntogit/community.git/tree/trunk?h=packages/docker

[2015-11-30 21:05] cookandy commented on #18314
Thank you for opening this. I am experiencing the exact same issue on CentOS 7.1 using devicemapper and Docker 1.9.1.

[2015-11-30 21:12] thaJeztah commented on #18314
I know the default size for device mapper was changed from 10GB to 100GB in 1.9, which affects the initial creation time, but not sure if that affects performance after the device is created. Having said that, using loop-lvm for production is really discouraged, as it has quite an impact on performance, also see http://docs.docker.com/engine/userguide/storagedriver/device-mapper-driver/#configurin

[2015-11-30 21:12] thaJeztah commented on #18314
ping @rhvgoyal any ideas here?

[2015-11-30 21:18] rhvgoyal commented on #18314
I think this slowness is observed only in case of loop devices. If one uses proper block devices for thin pool or lvm thin pool on top of block devices, this slowness is not observed.

I suspect it has something to do with discards. I will spend some time debugging this in an attempt to narrow down the problem.

In the mean time, one can move away from loop devices to avoid this problem.

[2015-11-30 21:23] thaJeztah commented on #15373
hm, however one of those patches seems to indicate they build docker 1.9 with golang 1.5, not 1.4, at least if I go by the name of that patch: https://projects.archlinux.org/svntogit/community.git/tree/trunk/01-golang15.patch?h=packages/docker

[2015-11-30 21:24] thaJeztah commented on #15373
Oh, and the output of your docker info confirms that; `Go version: go1.5.1`

[2015-11-30 22:35] moxiegirl commented on #18298
@xeor Yes, we do want to include more information from bloggers.  As time and resources allow, we will do more.  I'll make sure to review some blogs from external sources when we update the material.

Regarding the links, the technology of shortening is not the issue.  Error and information messages are produced by the development team for each product.  So, while I can make suggestions about  the

[2015-11-30 22:37] TrentBrown commented on #17653
Adding "--exec-opt native.cgroupdriver=cgroupfs" to my Docker unit file worked for me, too.

[2015-11-30 22:40] rhvgoyal commented on #18314
So I did some basic testing on Fedora 23 with docker 1.9.1 and I can't notice any regression w.r.t container creation time. But I can see a very visible difference with container removal. (100G thin device on top of loop devices). Every container removal is taking around 3 seconds and close to 2 seconds is being consumed in discard operation. There have been some improvement in this area in kernel

[2015-11-30 22:45] calavera commented on #18236
https://github.com/docker/docker/pull/18318 should fix this issue :pensive:

[2015-11-30 22:52] rhvgoyal commented on #18314
Ok, I took a regular SATA disk, and carved out a thin pool from it and docker rm is pretty fast. By default discards are disabled in this configuration and removal of 5 containers took total of .5 seconds. I forced enabled discards using `--storage-opt dm.blkdiscard=true` and then total deletion time went to around 3 seconds. Still not bad.

But on top of loop devices, it takes 16 seconds to delet

[2015-11-30 22:54] samuelkarp commented on #18314
@rhvgoyal Did you try reproducing with the script I provided?  The run slowness takes a while to kick in (seems to be petty noticeable by the time the script runs ~200 containers), but concurrent mutating operations seem to be related.

[2015-11-30 23:19] icecrime opened #18319 "Review MAINTAINERS files"
We need to refresh the MAINTAINERS files as they do not reflect reality anymore. In particular:

- The MAINTAINERS file in each repository should strictly reflect the people maintaining this specific sub-project.
- The MAINTAINERS files should follow a common TOML formatting.
- A Docker-wide MAINTAINERS file should be assembled in a neutral repository (I'm thinking [docker/opensource](https://gith

[2015-11-30 23:19] GordonTheTurtle commented on #18319
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-11-30 23:22] samuelkarp commented on #18314
@rhvgoyal I'm seeing better performance with `--storage-opt dm.blocksize=2097152`.

[code]
However it does seem to be consuming more disk than expected.  By changing the blocksize, does that mean each layer consumes at least a full block?

[2015-11-30 23:22] thaJeztah commented on #18319
sgtm!

[2015-11-30 23:36] AlexDultsev commented on #8759
+1

[2015-11-30 23:53] powersplay commented on #18099
`docker run` behaves normally and does not require --net.   I've just confirmed this again with this version (below).

PS C:\Users\Administrator\compose> docker-compose version
docker-compose version: 1.5.0rc1
docker-py version: 1.5.0
CPython version: 2.7.9
OpenSSL version: OpenSSL 1.0.1j 15 Oct 2014

PS C:\Users\Administrator\compose> docker-compose up
Creating compose_iis_1
invalid --net:
PS C:\

[2015-12-01 00:02] SvenDowideit commented on #11560
noice :)

[2015-12-01 00:06] thaJeztah commented on #18099
perhaps docker-py 1.6 resolves this, it was just tagged but no release notes yet; https://github.com/docker/docker-py/releases/tag/1.6.0

[2015-12-01 00:23] psanders commented on #18180
+1, docker 1.9.1 @ El Capitan

[2015-12-01 01:05] RichardScothern commented on #18032
@askb please retry.  @thaJeztah if all is well, you can close this.

[2015-12-01 02:22] vincentwoo opened #18322 "Docker should check if log file is a tty before emitting color codes"
Right now, Docker emits colored output regardless. This results in a log of bug reports that look like, say, this random one I pulled from the issue list: https://github.com/docker/docker/issues/18200. The log paste looks like:

`ESC[31mERROESC[0m[2809574] Handler for...`

Which is pretty annoying. If you check out this post by @eklitzke, http://eklitzke.org/ansi-color-codes he outlines about some

[2015-12-01 02:22] GordonTheTurtle commented on #18322
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-01 02:26] vincentwoo commented on #18322
Oh, there's actually an older issue already. Closing in favor of that one.

https://github.com/docker/docker/issues/14358

[2015-12-01 02:26] #18322 closed

[2015-12-01 02:26] vincentwoo commented on #14358
@Sirupsen been a while on this one, any chance of getting this in?

[2015-12-01 02:46] HackToday commented on #18247
I will try have this experimental test if it worked as designed.  @thaJeztah

[2015-12-01 03:30] GolfenGuo commented on #18279
@thaJeztah many thanks for your suggestion.  I can handle with the slow PERFORMANCE, however the docker ps will never get back is the key issue I was taking about.  Since the command (docker ps -n NUM) can get back very quick, I'm doubt that it may caused by some container data is broken, as a result, the docker ps pending on a broken data.

[2015-12-01 03:40] GolfenGuo commented on #18279
@duglin I'm running a container platform that contains many docker servers.  The most of severs have the same problem described above, and the common of them is that they are running many containers (around 70+).  Additionally, I think that the issue relates to (docker exec) since the problem don't shown on those servers that disabled the (docker exec).

In my context, we invoke the (docker exec)

[2015-12-01 03:53] Sajonara commented on #18098
I have the same problem with docker compose 1.5.1 and docker 1.9.1, on OS X with a pulled Ruby2.2.3 instance. When I try to do a docker-compose rake:db migrate it exits with an error and says it cannot start the container. The first rake db:create was done but any migration I would like to add results in this particular error.

As this are my very first steps to Docker this is really frustrating.

[2015-12-01 05:03] purpleidea opened #18323 "[regression] Cgroups are now forced"
I run docker inside of virt-builder to build images that have pre-cached docker containers. This used to work great, but now newer versions of docker fail with an error about how cgroups aren't setup. It would be nice if the virt-builder environment had cgroups, but it's not the type of environment that requires this, and until it can do this, it's a docker regression.

I'm okay with it being the

[2015-12-01 05:03] GordonTheTurtle commented on #18323
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-01 05:07] purpleidea commented on #18323
@GordonTheTurtle Hi bot. My bug report is complete. Go away please.

[2015-12-01 05:24] prashantabkari opened #18324 "Issue with docker Inter container communication on the isolated bridge"
I have created two containers, a sender and a receiver on the the same network. The network i have created is using the following procedure

docker network create --driver bridge isolated_nw
Each of my containers are run in the above isolated_nw using --net option.

My receiver code has the following
   " int rc = zmq_bind(responder, "tcp://*:16");"
And sender has the following line
   "int rc = z

[2015-12-01 05:24] GordonTheTurtle commented on #18324
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-01 06:51] oobles commented on #17814
Also observing this issue while using 1.9.1.  Is this a known limitation or a defect?

[2015-12-01 07:08] half-dead commented on #17104
@farmerworking So glad to tell you that we've solved this problem, just add this to your nginx.conf
[code]

PS：If there is multiple layers of nginx in your system, you only need to add this header in the first layer; otherwise, it might be overwritten by following layers.

[2015-12-01 07:34] HackToday opened #18326 "experimental docker install on ubuntu 14.04 failed with package conflict"
First,  follow this(to make sure install aufs support)

Update your package manager.

$ sudo apt-get update

Install the recommended package.

$ sudo apt-get install linux-image-extra-$(uname -r)

Then
When followed this:
https://github.com/docker/docker/tree/master/experimental

curl -sSL https://experimental.docker.com/ | sh

it failed with

Building dependency tree...
Reading state information.

[2015-12-01 07:34] GordonTheTurtle commented on #18326
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-01 07:38] HackToday commented on #18326
ping @thaJeztah

[2015-12-01 07:42] virtualzone commented on #18180
+1, Docker 1.9.1 on OS X 10.11.1

[2015-12-01 07:59] patrikjensen commented on #18180
+1, Docker 1.9.1a, OS X 10.10.5

[2015-12-01 08:22] UnderGreen commented on #7554
@thaJeztah I changed my Lenovo laptop to Macbook Pro and can't test configuration with encrypted disk.

[2015-12-01 08:23] pa-de-solminihac commented on #7198
@riquito I use it with a dedicated user, created in the `Dockerfile`:
[code]

Therefore there are no files previously owned by `username`. So I guess there is no problem ;)

[2015-12-01 08:45] stapelberg opened #18327 "feature request: integrate unbuffer functionality into docker to make apps use line buffering"
Issue #1385 is related.

Given that not all applications one wants to run with Docker necessarily support configuring the line buffering of stdout, what do you think of integrating the functionality of [unbuffer](http://man7.org/tlpi/code/online/dist/pty/unbuffer.c.html) into docker, so that one can get meaningful logs from applications?

[2015-12-01 08:49] phemmer commented on #18327
you can already accomplish the same thing as the `unbuffer` utility by launching your container with `-t`.

[2015-12-01 08:51] stapelberg commented on #18327
Ah, thanks for pointing that out, that indeed works. Closing this issue then.

[2015-12-01 08:51] #18327 closed

[2015-12-01 09:02] xkrt opened #18328 "volume inspect with bad format should return nonzero code"
Hi,

If, for example, I trying to inspect not existing container return code is 1, which is ok:
[code]

But if I inspect with bad format string, return code is 0:
[code]

Return nonzero codes on any errors important for managment tools like Ansible.

[code]

[2015-12-01 09:02] GordonTheTurtle commented on #18328
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-01 09:14] HackToday commented on #18326
From http://packages.ubuntu.com/search?suite=default&section=all&arch=any&keywords=init-system-helpers&searchon=names

it seems ubuntu 14.04 LTS not allow initi-system-helpers to install 1.14 newer.

So the experimental guide is not clear what os version should use. And requrements need.

For me, I did not know what to use

[2015-12-01 09:15] prashantabkari commented on #18324
Please find the required info
abkari@ubuntu:~/zmq/sender_sock$ sudo docker version
Client:
 Version:      1.9.0
 API version:  1.21
 Go version:   go1.4.3
 Git commit:   76d6bc9
 Built:        Tue Nov  3 19:20:09 UTC 2015
 OS/Arch:      linux/amd64

Server:
 Version:      1.9.0
 API version:  1.21
 Go version:   go1.4.3
 Git commit:   76d6bc9
 Built:        Tue Nov  3 19:20:09 UTC 2015
 OS/Arch:

[2015-12-01 09:18] zhaoxpZTE commented on #18257
@WeiZhang555 @thaJeztah
There is another question, would you please help me to check it ? In my env, I create an overlay network and connect containers to it. I can ping outer IP from containers successfully. But it fails when I ping the container's IP which the overlay network assigned to them. Do I need to make more settings for the connectivity, or is that a bug or also a designed behavior? Tha

[2015-12-01 09:44] jebbench commented on #18180
+1, Docker 1.9.1 build a34a1d5, Windows 10

[2015-12-01 09:48] asziranyi commented on #17960
I had the same issue:

docker version
[code]

uname -a
[code]

systemctl status docker.service
[code]

Running
[code]

solved the problem.

(If everything goes well, /path/to/backup/docker-network-files can be deleted)

[2015-12-01 10:14] thaJeztah commented on #7554
@UnderGreen no problem, thanks!

[2015-12-01 10:16] thaJeztah commented on #7554
@schmunk42 @fermayo are you still seeing this on 1.9.1? Otherwise we may need to close this issue by lack of a repro case (we can always reopen if needed)

[2015-12-01 10:17] crazyball commented on #18180
+1, Docker 1.9.1 build a34a1d5, OS X 10.11.1, Docker-Machine 0.5.1 (7e8e38e)

[2015-12-01 10:29] csirac2 commented on #16572
Thanks; for what it's worth, these are standard debian installs - I haven't gone out of my way to mess with network-manager itself, but I'll try to see if there's a way I can make this easily reproducible.

[2015-12-01 11:02] liusdu commented on #4036
I fix a devicemapper issue. #18329

[2015-12-01 11:07] bschiffthaler commented on #18048
@tiborvass Seems it was an issue with the kernel. The error persisted through a reboot, but upgrading the kernel to `3.13.0-70` fixed the issue. We have other machines with kernels older than `3.13.0-34` and docker runs just fine, I would chuck it up to a systems "hiccup".
I'll be closing the issue with this.

[2015-12-01 11:07] #18048 closed

[2015-12-01 11:08] tiborvass commented on #18048
@bschiffthaler thank you so much for following up on this, removes weight on our shoulders :)

[2015-12-01 11:42] gumieri commented on #17960
Solved here removing the network files.
Thank you @asziranyi.

[2015-12-01 11:43] #18236 closed

[2015-12-01 11:44] nigelpoulton commented on #18298
@xeor

I'll have a think about making the "Which storage driver should you choose?" section a bit better.

Thoughts so far are....

1. Clarify and beef up the paragraph that refers to the CS engine. Include a link to the CS supported configs page. Mention that these configs are the most stable (that's why they're supported by CS engine). Also mention that people can use CS engine configs as a gene

[2015-12-01 11:46] accursoft opened #18332 "dockerfile instruction for running script from temporary location"
My Dockerfile runs several temporary scripts in the container, and thus looks like:
[code]
I would like a single instruction which copies a script into the container, executes it, then removes it in a single layer. This would have a number of advantages:

 - Cleaner dockerfiles
 - Cleaner `docker history`
 - Faster builds, as committing layers is expensive on some platforms

[2015-12-01 11:46] GordonTheTurtle commented on #18332
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-01 11:56] aidanhs commented on #15713
Argh, I've just come across this error again on a different machine, searched for the error and ended up back here. Except now I'm on docker 1.9.1.

[code]
Again, kill is hanging.
@thaJeztah can you reopen?

[2015-12-01 12:03] aidanhs commented on #15713
[code]

Yuck.

[2015-12-01 12:03] thaJeztah opened #18333 "docs: 404 pages referencing local boot2docker IP address"
Found this when reading docs.docker.com;
https://docs.docker.com/engine/reference/

That page is published using 192.168.99.100 as domain name

<img width="1738" alt="screen shot 2015-12-01 at 13 00 13" src="https://cloud.githubusercontent.com/assets/1804568/11500207/e6f469ba-982b-11e5-8941-0d11a86d876f.png">

[2015-12-01 12:03] GordonTheTurtle commented on #18333
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-01 12:03] thaJeztah commented on #18333
/cc @SvenDowideit

[2015-12-01 12:05] thaJeztah commented on #18333
Perhaps we should have a script that checks if the uploaded documentation contains boot2docker IP addresses

[2015-12-01 12:06] SvenDowideit commented on #18333
yup, or even better, have the upload.sh script poke around and refuse to upload html that has them.....

:+1: - I'll look at that after i figure out the empty `index.html` files.

[2015-12-01 12:24] xeor commented on #18298
When talking about OverlayFS being young, maybe there can also being a mention about what kind of bugs that might show up in overlayfs. Being "young", and mentioned as the "future" in the same paragraph tells me that a lot of people are using it, and it doesn't contain that many bugs.
Maybe we could mention some of the bugs, like rpm and .socket problems..?

I don't know about AUFS, but setting up

[2015-12-01 12:25] runcom opened #18334 "rolling back docker to non-userns docker breaks"
The scenario is:

1. Running docker 1.9.x w/o userns enabled
    - root is at `/var/lib/docker`
    - graph is under `/var/lib/docker`
    - `docker run busybox echo "hello"`
    - `docker images` lists `busybox` and `docker ps -a` lists my container
2. Stop docker and compile 1.10-dev with userns (experimental I understand)
    - restart docker
    - root is migrated by default to `/var/lib/docke

[2015-12-01 12:25] GordonTheTurtle commented on #18334
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-01 12:29] HuKeping commented on #9118
I can confirm @tiborvass 's solution

This `:5000` is required.

[2015-12-01 12:29] jhrcz opened #18335 "docker network autoguessing could be dangerous for local networks"
because docker autodetects network when it starts, it could bring problems to lans after moving to other place. when workstations are not connected to switches with arp spoofing protection, it spoof mac address for address associtated to BIP (bridge).

this could take down you local lan if you have one of collision in some of the docker networks.

"not-as-easy" fix is to use arp spoof detection, u

[2015-12-01 12:29] GordonTheTurtle commented on #18335
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-01 12:29] rogierslag commented on #18180
+1

Same on Docker-machine on OSX 10.11.1
Docker version 1.9.1, build a34a1d5
docker-machine version 0.5.1 (HEAD)

[2015-12-01 12:38] sthulb commented on #9118
@aqtcole: So, I'm kind of happy to close this bug after ~1 year.

My original problem was to do with TLS renegotiation issues in Golang (https://github.com/golang/go/issues/5742). At the time, Golang didn't implement renegotiation because there wasn't a standard for it. I'm happy for this issue to be closed, as the fix will come in Go it's self and not Docker.

I guess this issue has evolved into

[2015-12-01 12:38] #9118 closed

[2015-12-01 12:43] jhrcz commented on #18335
this is not related to some version, maybe to running networked linux machine

steps to reporoduce:
1. install docker
2. have the same network range for you lan and docker (in our case lan: 172.17.0.0/23, default docker bip 172.17.0.0/24)
3. docker is promoting worskation MAC as 172.17.0.1 which could be the LAN firewall for example.

[2015-12-01 12:47] nigelpoulton commented on #18298
OK, so first things first..... I'll whip up a rough redo of the "Which storage driver should you choose?" section and post here for thoughts.

[2015-12-01 13:00] phemmer commented on #18332
See #332 & #6906

[2015-12-01 13:10] schmunk42 commented on #7554
@thaJeztah haven't seen this for months

[2015-12-01 13:14] thaJeztah commented on #7554
Thanks @schmunk42!

I'm going ahead and close this issue, but anyone feel free to comment here if this is still an issue

[2015-12-01 13:14] #7554 closed

[2015-12-01 13:16] thaJeztah commented on #18298
Thanks for looking into this @nigelpoulton!

[2015-12-01 13:16] tiborvass commented on #9118
@sthulb thank you very much :)

[2015-12-01 13:20] thaJeztah commented on #15713
Thanks @aidanhs, yuk indeed. I'll reopen this one

[2015-12-01 13:26] thaJeztah commented on #16572
Thanks @csirac2!

[2015-12-01 14:01] aditirajagopal commented on #16756
@vdemeester, do you need help with docker_cli_run_test, docker_cli_build_test and/or docker_cli_daemon_test? If you have higher priority items to work on, I can take care of these :smile:

ping @HuKeping - all the other tests have been taken care of!

[2015-12-01 14:16] bitliner opened #18337 "cannot connect to a container via docker host IP"
I have 2 containers, the first one is a webserver api, the second is a frontend app.

the frontend can't connect to the api.

The frontend, to connect to API, uses the IP 172.17.0.1 (got with `ifconfig docker0 | grep 'inet addr'` on my host) and the related port (33018) where the webserver is .

The container, where the webserver is, exposes the port (33018) to allow connnections to it.

But the f

[2015-12-01 14:16] GordonTheTurtle commented on #18337
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-01 14:17] scf37 commented on #18265
@thaJeztah thanks for the link.
It looks like nested Docker configuration is known to be broken and is NOT supported at all.
So this ticket could be considered as feature request and not as a bug

[2015-12-01 14:19] bitliner commented on #18337
output of `docker info`

[code]

output of docker version

[code]

[2015-12-01 14:27] thaJeztah commented on #18265
@scf37 I think overall, running layered filesystems on top of layered filesystems is problematic; I don't think we'll ever be able to support that reliably. Using a volume for `/var/lib/docker` can be a solution for those cases (i.e. `-v /var/lib/docker`). Having said that, running docker-in-docker may be low on the priority list :innocent:

[2015-12-01 14:31] thaJeztah commented on #18032
ping @askb @Chili-Man can you give this another try? It should be resolved (see the comment above) :+1:

[2015-12-01 14:35] thaJeztah commented on #18257
@zhaoxpZTE could you open a separate issue for that, and add a simple example to show what you're trying to do and what you expected to happen? Let's try not to mix different issues, otherwise this will be confusing :smile:

[2015-12-01 14:36] thaJeztah commented on #18257
@WeiZhang555 are you interested in creating a PR to improve the error message?

[2015-12-01 14:37] phemmer commented on #18335
* Docker uses what IEEE defines as "locally administrated" MAC addresses. Meaning hardware vendors will never use them, so you don't have to worry about collisions. If you have a hardware vendor that is using a MAC address designated locally administrated, the vendor is non-compliant, and there is nothing docker can do about this.
* Docker's containers sit within a separate broadcast domain. The o

[2015-12-01 14:41] thaJeztah commented on #18337
I think this is a duplicate of another issue, but I'll have to look for that one.

Out of interest, why are you using the external IP to make a connection between containers, and not the (internal) container-container network?

[2015-12-01 14:47] startsiden-mixmaster opened #18338 "Cannot authenticate to private repository via Docker API /image/create"
BUG REPORT INFORMATION
Use the commands below to provide key information from your environment:

docker version:
Client:
 Version:      1.9.0
 API version:  1.21
 Go version:   go1.4.2
 Git commit:   76d6bc9
 Built:        Tue Nov  3 17:29:38 UTC 2015
 OS/Arch:      linux/amd64

Server:
 Version:      1.9.0
 API version:  1.21
 Go version:   go1.4.2
 Git commit:   76d6bc9
 Built:        Tue Nov  3

[2015-12-01 14:48] WeiZhang555 commented on #18257
@thaJeztah Sure, I'm always happy to help :smile:  I'll take care of this.

@zhaoxpZTE as @thaJeztah said, you can add one more example to illustrate what you're expecting, that will help a lot for improving :laughing:

[2015-12-01 14:49] #16653 closed

[2015-12-01 14:50] garyritchie commented on #9665
@rmetzler 's explanation helped me out: Stop cadvisor; then `docker rm ...`

[2015-12-01 14:51] thaJeztah commented on #18257
Thanks!

[2015-12-01 15:00] thaJeztah commented on #18180
I'm able to reproduce this on docker-machine, OS X 10.10.5, so this may be something related to boot2docker. `docker top` also gives me `<defunct>` for a java process;

[code]

[2015-12-01 15:06] thaJeztah commented on #18335
I agree, I don't think this is an issue. Connecting a computer with a fixed ip-address to a network can also cause IP collisions, I don't think this is something we can (and should) prevent.

I'm going to close this issue, but feel free to comment after I've closed

[2015-12-01 15:06] #18335 closed

[2015-12-01 15:24] thaJeztah commented on #18180
/cc @tianon @nathanleclaire @jeffdm perhaps any of you has an idea where to look, or what to debug, I couldn't really find something

[2015-12-01 15:31] thaJeztah commented on #17814
I think this is currently being discussed in the libnetwork repository; https://github.com/docker/libnetwork/issues/552

/cc @mavenugo @sanimej

[2015-12-01 15:35] thaJeztah commented on #18332
Yes, this looks like a duplicate of those (and some others), however, there's currently a "freeze" on the Dockerfile syntax, because the "builder" will moved out of the daemon and moved client side. After that has been done, we can look into improvements in this area. See https://github.com/docker/docker/blob/master/ROADMAP.md#22-dockerfile-syntax

I'm going to close this issue, because we cannot

[2015-12-01 15:35] #18332 closed

[2015-12-01 15:43] jhrcz commented on #18335
with "docker is promoting worskation MAC as 172.17.0.1" i meant, that the machine sends arps "is-at" with MAC of the workstation telling all other machines where the IP 172.17.0.1 is. so i badly wrote it, wrongly use IP and MAC ;o)

the "different broadcast domain" is not true on linux - it broadcasts the info on all interfaces.

i talk abou default configuration - just intsall docker packages on

[2015-12-01 15:47] accursoft commented on #18332
#332 & #6906 might fix 2., but they'll make 1. and probably 3. worse. They're addressing different problems.

[2015-12-01 15:54] tianon commented on #18180
How much RAM does your VM have? Could be OOM given that it looks like the
process dies unexpectedly. :disappointed:

[2015-12-01 15:55] cpuguy83 commented on #18324
Can you please provide a full repro case, including `docker run` commands,  output from containers, etc?
Also perhaps a simpler case (like ping or nc).

[2015-12-01 16:03] hollinwilkins commented on #5113
I have this issue right now. It is a problem too, because I'm not sure what to restart in order to fix it.

[2015-12-01 16:04] hollinwilkins commented on #5113
% docker --version
Docker version 1.9.1, build a34a1d5

Not sure what version the server is running

[2015-12-01 16:14] thaJeztah commented on #18247
Cool, thanks @HackToday!

[2015-12-01 16:16] fntlnz opened #18339 "Docs broken link and broken 404 error page"
On the [Docker Hub API](https://docs.docker.com/v1.7/reference/api/docker-io_api/) documentation page is stated

[code]

Unfortunately the link to the new API is broken so I tried with: https://docs.docker.com/v1.9/reference/api/docker-io_api/

and I ended up with a 404 error that looked like this:
![2015-12-01_1730x1005_scrot](https://cloud.githubusercontent.com/assets/3083633/11506304/2302ee72-9

[2015-12-01 16:16] GordonTheTurtle commented on #18339
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-01 16:17] cpuguy83 commented on #17776
A little confused by your description here, but it sounds like you want to mount a host dir into a container.
This needs to be done at runtime -- `docker run -v /host/path:/container/path`

[2015-12-01 16:19] thaJeztah commented on #18180
Looks like memory is not the problem, however the `<defunct>` process does consume 100% CPU;

[code]

[2015-12-01 16:34] mlapierre commented on #18180
+1 Docker version 1.9.1, build a34a1d5, Win 7.

I've run into similar problems that turned out to be OOM, even though the stats command shows memory available to the container. The problem happened soon after task manager showed 0 free physical memory, while stats continued to show <100%.

[2015-12-01 16:35] thaJeztah commented on #18332
This looks like a more similar issue; https://github.com/docker/docker/issues/18184

[2015-12-01 16:39] thaJeztah commented on #18180
Weird thing is, that the process kept running, so it was not killed. I can retry with a -m, however, it's strange that this happens on 1.9.x, but (following this discussion) not on 1.8. Also, running the same on a 1GB DigitalOcean droplet (also 1.9.1) succeeded. Perhaps that one uses swap, should check that

[2015-12-01 16:47] #18172 closed

[2015-12-01 16:51] thaJeztah commented on #18339
Hi @fntlnz thanks for reporting! I created an issue earlier today for fixing that weird 404 page; https://github.com/docker/docker/issues/18333

I'll check the link to the old Docker Hub api on this page; http://docs.docker.com/engine/reference/api/docker-io_api/ which should point to http://docs.docker.com/v1.7/docker/reference/api/docker-io_api/

[2015-12-01 16:53] kedare commented on #15533
Hmm I think there is really a problem here.
I have exactly the same setup on both Ubuntu Server and Centos, I have no problem to run the setup on ubuntu server while using like 300MB of RAM (On 500MB), but I get the OOM killer on Centos.

[2015-12-01 16:59] thaJeztah commented on #18339
Created a pull-request to fix the link https://github.com/docker/docker/issues/18341

[2015-12-01 17:07] moxiegirl commented on #18298
Thanks @nigelpoulton :-D and @xeor --- you have a great point about being more specific about the actual limitations.

[2015-12-01 17:08] thaJeztah commented on #5113
@hollinwilkins on what version did you have the issue? 1.9?

[2015-12-01 17:12] xeor commented on #18298
I'm glad you agree :) Some times, it have felt like this is something everyone is knowing everything about..

Thanks again you all!

[2015-12-01 17:16] rhatdan commented on #17142
I was asked to move discussion over here:

I agree with @mheon (No surprise there) If this is only opt in, then most users will never opt in. Having a default black list like systemd-nspawn and libvirt/qemu should also be possible. This will give all container greater security and not just for those crazy enough to try out --security-opt type flags.
We will need a way to set default security (secc

[2015-12-01 17:23] Lohhari commented on #18180
It actually kept happening to me after I uninstalled 1.9.1 and installed 1.8.3. Looked like the uninstall wasn't very thorough though on Mac because firing up the shell was without delay on 1.8.3, unlike a normal first run where it sets up ssh keys and stuff.

[2015-12-01 17:38] dvanbuskirk commented on #18113
I'm having the same issue with 1.9.1.  It's intermittent across my organization.  I've put some information below along the lines of Chili-Man's supplied information.

    Linux 3.19.0-33-generic #38~14.04.1-Ubuntu SMP Fri Nov 6 18:17:28 UTC 2015 x86_64         x86_64 x86_64 GNU/Linux
    $ docker version
    Client:
     Version:      1.9.1
     API version:  1.21
     Go version:   go1.4.3

[2015-12-01 17:40] LK4D4 commented on #18323
@purpleidea Hmm, I thought that device cgroup was always required, what version do you used before? :/ It's pretty dangerous to use docker without devices cgroup, also it's not hard to mount too.

[2015-12-01 17:46] #18339 closed

[2015-12-01 17:48] mheon commented on #17142
The easiest solution to this would be to optionally pass a default security profile to the daemon via a flag, which would be applied to all containers unless explicitly disabled or overridden. The default would have to be fairly permissive to ensure we don't inconvenience users terribly (if we do, they'll just disable it entirely), but it would certainly be better than nothing.

We could also make

[2015-12-01 17:49] sheldonkwok commented on #18113
I am also experiencing this issue

Client:
 Version:      1.9.1
 API version:  1.21
 Go version:   go1.4.2
 Git commit:   a34a1d5
 Built:        Fri Nov 20 13:12:04 UTC 2015
 OS/Arch:      linux/amd64

INFO[0000] API listen on /var/run/docker.sock
INFO[0000] [graphdriver] using prior storage driver "overlay"
INFO[0000] Firewalld running: false
INFO[0000] Default bridge (docker0) is assigned with a

[2015-12-01 17:54] mavenugo commented on #18113
ping @aboch

[2015-12-01 18:00] thaJeztah commented on #17104
@half-dead @endophage does this need documentation changes?

[2015-12-01 18:02] aboch commented on #18113
Most likely something is messing the `/var/lib/docker/network/files/local-kv.db` files content.

@mavenugo https://github.com/docker/libnetwork/pull/687 would help give some clarity on where the failure is, as I have said https://github.com/docker/docker/issues/17939#issuecomment-156168542

[2015-12-01 18:08] endophage commented on #17104
@half-dead thanks for finding a solution! Also (for entirely selfish reasons) great to hear it's on the nginx side.

@thaJeztah yes, this should probably be added to (this documentation)[https://github.com/docker/distribution/blob/master/docs/nginx.md] and there may be other places nginx setup is discussed.

[2015-12-01 18:12] thaJeztah commented on #17104
@half-dead since you have a working config, are you interested in creating a pull request for updating the documentation?

[2015-12-01 18:21] crosbymichael commented on #18323
This has always been required.  Maybe the regression is that the error propagates at daemon startup instead of on the first time you run a container.  We can check around and see if something has changed recently.  Thanks!

[2015-12-01 18:25] cpuguy83 commented on #18323
Hard requirement for devices cgroup on daemon init was added by #11882, which first appeared in Docker 1.7.

[2015-12-01 18:41] aboch commented on #18113
@Chili-Man @dvanbuskirk @sheldonkwok
When you experience the issue, can you please copy your
`/var/lib/docker/network/files/local-kv.db` in some place where I can download it.
I want to take a look at it.

A possible work-around, please check, could be delete that file before starting the daemon.

[2015-12-01 18:54] sheldonkwok commented on #18113
Deleting the file worked... Thanks!
Where can I email it?

[2015-12-01 19:13] rhvgoyal commented on #18314
@samuelkarp I have not tried running your script yet. Have you tried running your script without loop devices? Can you use real block devices instead of using loop devices and run your script again.

So one problem I am aware of is container removal takes longer since we increased default size to 100G (from 10G) on top of loop devices. Primary reason is that discards take a long time even if thin

[2015-12-01 19:13] aboch commented on #18113
@sheldonkwok Thanks for confirming.
To share the file, I think dropbox or any similar service would do it.

[2015-12-01 19:14] alexanderkjall opened #18342 "apt.dockerproject.org not availible from ipv6-only host"
It's currently not possible to install docker on an debian machine that's ipv6-only:

$ host -t AAAA apt.dockerproject.org
apt.dockerproject.org is an alias for j.global-ssl.fastly.net.
$ host -t AAAA j.global-ssl.fastly.net.
j.global-ssl.fastly.net has no AAAA record

Could you please add a AAAA record so that you can install docker on ipv6-only hosts.

BUG REPORT INFORMATION

Use the commands be

[2015-12-01 19:15] GordonTheTurtle commented on #18342
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-01 19:16] tiaguinho commented on #15793
@greg0ire I try use `set noswapfile`, but nothing change..
Isn't possible use vim with volumes?

[2015-12-01 19:17] rhvgoyal commented on #18314
@samuelkarp Increasing block size of thin pool will help as it reduces the number of virtual blocks to be discarded and currently discard time is proportional to number of virtual blocks being discarded. Currently docker-storage-setup uses a block size of 512K by default.

[2015-12-01 19:18] Chili-Man commented on #18032
Login in works now when setting `--disable-legacy-registry=true`; Here's the daemon logs:
[code]

Kernel information:
[code]

Docker information:
[code]

[2015-12-01 19:27] purpleidea commented on #18323
@LK4D4 It's not dangerous because it's running without *only* for virt-builder.
@crosbymichael I think you're correct. Since I only was running `docker pull` it was never a problem with the other operations.
@cpuguy83 This looks like the issue! Thanks!

[2015-12-01 19:29] greg0ire commented on #15793
I don't know, but I'm interested in your results.

When the container is restarted the new inode.

1. Try [finding out the inode](http://www.cyberciti.biz/faq/linux-bsd-appleosx-unix-find-file-inode/) of your file before, change your file with vim, and check that the inode changes. This should validate @cpuguy83 's theory
2. If it turns out to be valid, then do the same, but set `noswapfile` befor

[2015-12-01 19:29] thaJeztah commented on #18032
Thanks for testing @Chili-Man!

@askb I'm gonna go ahead and close this issue, but feel free to comment here if it's still an issue. Thanks for reporting!

[2015-12-01 19:29] #18032 closed

[2015-12-01 19:31] sheldonkwok commented on #18113
I have it on s3. There's nothing sensitive in it right? I glanced through it and it looked fine

[2015-12-01 19:35] aboch commented on #18113
Yeah, nothing sensitive in it. Mostly Network, Endpoint and Sandbox ids and their configurations.
If you do not feel comfortable sharing it publicly it is perfectly fine. I will contact you via email for that.

Thanks.

[2015-12-01 19:41] thaJeztah commented on #18342
Possibly related to https://github.com/docker/docker/issues/17790

/cc @jfrazelle ?

[2015-12-01 19:42] dnephin commented on #17147
The behaviour seems correct, but isn't the error message wrong and misleading? It references cli params which don't mean anything to someone using the API directly.

[2015-12-01 19:44] tzejohn opened #18344 "docker pull very slow on specific boxes"
I am seeing slow performance when pulling docker images from certain EC2 instances.  I have an ansible build that builds via the same process.  On am instance where docker pull is slow, it is always slow.  On the instance where docker pull is normal, it is always normal.  Using the ansible build, the docker pull is normal about 50% of the time. The pull performance difference is 1.9s versus 6m41s.

[2015-12-01 19:47] thaJeztah commented on #18344
might be worth contacting support@docker.com, possibly they can see more information

[2015-12-01 19:47] sheldonkwok commented on #18113
Sure, me@sheldonkwok.com

[2015-12-01 20:04] jfrazelle commented on #18342
yes closing as dup of that

[2015-12-01 20:04] #18342 closed

[2015-12-01 20:07] thaJeztah commented on #18342
Thanks @jfrazelle I wasn't sure if it was on the same infrastructure :smile:

[2015-12-01 20:36] krasimir-georgiev opened #18346 "use env in the run command file from the env_file"
I follow up from the docker-compose issue
https://github.com/docker/compose/issues/2482

I use docker compose to deploy 2 servers with the same compose file and the only difference are some ENV variables set in an external env file which is not tracked in git

docker run -p ${INTERNAL_IP}:222:222 --env-file ./env.list lsyncd
where INTERNAL_IP is set in the env file

$ cat ./env.list
INTERNAL_IP=17

[2015-12-01 20:47] bitliner commented on #18337
Now I am using links, but still there is some issue.

If I try to connect from the host to the container exposing the API, then the API are reachable.

If I try to connect from a container to the container exposing the API, using as IP address the IP taken from file `/etc/host`, then `nc 172.17.0.3 33018 &> /dev/null && echo $?` keeps waiting like the interesting port is closed.

If I have time I

[2015-12-01 20:50] thaJeztah commented on #18346
I think you mean that `-p ${INTERNAL_IP}:222:222` uses the ip-address that's defined in the env-file?

[2015-12-01 20:50] duglin commented on #18346
This would be kind of tricky because in this case ${INTERNAL_IP} is process by the shell, before `docker` ever gets a chance to see it.  In order to support something like this we'd need to invent some other kind of env var syntax to would be ignored by the shell, or I guess just have you escape the "$" so docker sees it.

I suspect this won't get much traction when I think you can do something li

[2015-12-01 21:03] vipconsult commented on #18346
It makes much more sense in docker-compose where you can maintain the same file for more than one host and just change the env variables in the external file.
the eval is good workaround but error prone.

[2015-12-01 21:14] crosbymichael commented on #18323
I would be ok with changing this log message from Fatal to a Warn to fix this type of issue.

[2015-12-01 21:16] thaJeztah commented on #18346
I think docker-compose is a more logical place to handle this. If we would implement this in docker, it'd probably be client-side; given that compose communicates via the API, it would still need to be implemented in docker-compose as well.

[2015-12-01 21:26] Supernomad commented on #8887
I have to say that forcefully encouraging security on the user has seriously swayed my thoughts on using docker. I understand completely that we can add the --insecure-registry flag to the daemon on start, and I won't get into all the reasons that doesn't work all the time, or can be impossible.

I have a question for the Docker developers, do you guys really think that you know what is best for t

[2015-12-01 21:29] vipconsult commented on #18346
I thought the same , but @dnephin suggested docker should implement first.

[2015-12-01 21:48] purpleidea commented on #18323
On Tue, Dec 1, 2015 at 4:15 PM, Michael Crosby <notifications@github.com>
wrote:

Great idea! I will send this patch if you are okay with this.

[2015-12-01 21:53] mattes commented on #18180
+1

[2015-12-01 21:53] GordonTheTurtle commented on #18180
*USER POLL*

*The best way to get notified when there are changes in this discussion is by clicking the Subscribe button in the top right.*

The people listed below have appreciated your meaningfull discussion with a random +1:

@mattes

[2015-12-01 21:56] aboch commented on #18145
Fix for this issue is now in master. Brought in via https://github.com/docker/docker/pull/18106

[2015-12-01 21:58] purpleidea commented on #18323
FWIW: this seems to be happening here now, and not in the same location as the previous commit suggested by @cpuguy83
https://github.com/purpleidea/docker/blob/master/daemon/daemon.go#L817

[2015-12-01 22:00] aboch commented on #18009
@cerias @zhaoxpZTE

Can you please try docker from latest master, if you can reproduce.
A libnetwork change that was brought in via https://github.com/docker/docker/pull/18106 should fix this issue.

[2015-12-01 22:01] cpuguy83 commented on #18323
That is correct, the implementation was changed completely.

[2015-12-01 22:08] sheerun commented on #13026
If you decide to remove this feature, I'd like to see clean solution for multistage build (e.g. build a static website with webpack image, and then package result with nginx server from another base image).

[2015-12-01 22:09] bean5 commented on #18180
31 participants on this issue and counting.

[2015-12-01 22:13] thaJeztah commented on #18180
@bean5 please keep your comments constructive

[2015-12-01 22:14] thaJeztah commented on #13026
@sheerun could you expand on your use case, perhaps a very basic example showing how you're using this feature?

[2015-12-01 22:22] thaJeztah commented on #18145
Thanks @aboch I'll close this issue.

For anyone here willing to test; builds from master can be found on https://master.dockerproject.org however, those are builds for 1.10-dev, and contain lots of other changes as well; don't run them on a production server, only for testing (for now)

[2015-12-01 22:22] #18145 closed

[2015-12-01 22:31] bean5 commented on #18180
@thaJeztah I didn't mean to offend nor be deconstructive. I mean to draw attention to the fact that github shows the number of people participating...and I gathered that @GordonTheTurtle wanted to construct a list of people who have done +1. Maybe I was confused by what he meant. In any case, I watch this issue with great anticipation since it has affected me on more than one occasion in the past

[2015-12-01 22:35] kcraft commented on #5113
I am having this issue as well with docker 1.9. I was in the middle of pushing an image to my private docker registry when my internet connection dropped. Now it gives me this error when I try again. Unfortunately I can't verify that restarting the docker daemon fixes the problem since I am now having other issues. My guess is that it did fix the problem just like everyone else.

[2015-12-01 22:46] anusha-ragunathan commented on #12849
@thaJeztah: This option is in-flux and currently being discussed for systemd cgroups. Meanwhile, here's something for cgroupfs.

cgroups subsystems are individually mounted under cgroup mount /sys/fs/cgroup. When cgroups are managed by cgroupfs, a cgroup is created per container for every subsystem, under the default parent cgroup, "docker". Typically hierarchy is /sys/fs/cgroup/<subsystem>/docker

[2015-12-01 22:50] nathanleclaire commented on #18180
I am able to duplicate this issue on my setup (using Docker Machine on Mac).

Here are my findings so far.

As noted by other posters, the simplest way to duplicate this has been to use the boot2docker 1.9.1 ISO with AUFS. This `Dockerfile` should minimally reproduce the problem fairly quickly:

[code]

Looking at `dmesg`, I see some AUFS errors after attempting such a build, but I am not 100% sur

[2015-12-01 22:57] nathanleclaire commented on #18180
The Dockerfile will build fine and not hang on a boot2docker 1.9.0 ISO with a Docker 1.9.1 binary.  The issue seems not to lie with Docker 1.9.1, but rather the environment in which it is being run.

[2015-12-01 23:02] cpuguy83 commented on #18180
I am using the 1.9.1 release with no issue on aufs, but have significantly more cpu/ram/storage than the default machine config.

[2015-12-01 23:03] thaJeztah commented on #18180
I just tried raising the memory to 4GB for my VM, but still able to reproduce

[2015-12-01 23:04] nathanleclaire commented on #18180
@cpuguy83 AUFS on boot2docker 1.9.1?

[2015-12-01 23:04] nathanleclaire commented on #18180
As noted above, b2d bundles a very specific version of AUFS.

[2015-12-01 23:05] cpuguy83 commented on #18180
Yep

[2015-12-01 23:06] thaJeztah commented on #18180
[code]

[2015-12-01 23:06] oobles commented on #3043
+1 for multicast over the overlay network.  This should also be listed in documentation as a limitation.

[2015-12-01 23:10] hollinwilkins commented on #5113
@thaJeztah It is docker 1.9

[2015-12-01 23:23] andrewgdavis commented on #18180
I also see some java processes becoming defunct in a container.  I am able to this issue with the following steps
run the container:
[code]
create Foo.java with the following:
[code]
```javac Foo.java```  && ```java Foo```
however... if a ```System.exit(0)``` is added after the println everything is ok.

[2015-12-01 23:23] dnephin commented on #18099
@thaJeztah I think there are potentially a few problems here:

1. the error message is incorrect for anyone using the API. The API really shouldn't have any knowledge of, or make assumptions about, cli params. It should return a json response with the fields that are incorrect, missing or conflicting, and the client should format an appropriate error
2. From https://github.com/docker/compose/issue

[2015-12-01 23:25] thaJeztah commented on #12849
Thanks @anusha-ragunathan I'm good with waiting until things stabilize a bit; this may be a nice subject for a guest writer to write an article on, like we had for the storage driver section

/cc @moxiegirl (just thinking out loud here :smile:)

[2015-12-01 23:27] thaJeztah commented on #5113
Thanks @kcraft @hollinwilkins!

[2015-12-01 23:33] thaJeztah commented on #5113
ping @aaronlehmann I think you were working on rewriting this part, so perhaps you can have a look? thanks!

[2015-12-01 23:37] thaJeztah commented on #18099
Thanks @dnephin, I saw you commented on 1. in the PR that created that, w.r.t. 2. I agree that ideally, defaults should be set server-side; overall we don't require people to send properties that have a default.

[2015-12-01 23:42] aaronlehmann commented on #5113
@kcraft @hollinwilkins How long does the problem persist if you wait before trying to pull again? I would expect the stalled push to time out after a few minutes.

I'm going to open a PR soon that makes transfers cancellable and removes this lock completely.

[2015-12-01 23:53] hollinwilkins commented on #5113
It was stalled for well over 45 minutes. We restarted the registry and got rid of a web hook, then the pushes stopped stalling.

[2015-12-01 23:57] thaJeztah commented on #3043
There's an open ticket in libnetwork for supporting multicast in overlay, see: https://github.com/docker/libnetwork/issues/552

[2015-12-02 00:01] keltieem commented on #2619
@stevvooe  @thaJeztah Is this issue now closed?

[2015-12-02 00:06] swernli commented on #18120
I'm investigating...

[2015-12-02 00:31] oszi opened #18354 "Globally exposed ports are unreachable from isolated networks"
Description of problem:
Globally (0.0.0.0) exposed ports are unreachable from isolated networks.

`docker version`:
[code]

`docker info`:
[code]

`uname -a`:
`Linux 4.2.6-301.fc23.x86_64 #1 SMP Fri Nov 20 22:22:41 UTC 2015 x86_64 GNU/Linux`

Environment details (AWS, VirtualBox, physical, etc.):
Fedora 23 with iptables, DigitalOcean
Fedora 23 with firewalld, physical

How reproducible:
100%

Step

[2015-12-02 00:35] thaJeztah commented on #5113
Looks like the PR is up; see https://github.com/docker/docker/pull/18353 (nice!)

[2015-12-02 01:10] coolljt0725 commented on #18354
I think this should be intended behavior,
`docker run -it -p 5000:5000 busybox nc -lp 5000` runs a container in network `bridge` and
`docker run -it --net=test busybox nc 172.17.0.1 5000` runs a container in network `test`, these two containers are in different network.

[2015-12-02 01:16] mavenugo commented on #18354
well.. the intention is to provide the isolation.
But, not for the case where the container exposes a service "externally".
Ideally, this exposed service should be reachable from a container in another network.
But the iptables entries seems to be stricter for networks defined in the same host. We must fix this.
cc @sanimej @aboch

[2015-12-02 01:44] jfrazelle opened #18355 "remove dockerinit"
the only thing relying on it is https://github.com/docker/libnetwork/blob/9fb7ba8fa01f0ddce99713799e760223c842fb4b/drivers/bridge/setup_bridgenetfiltering.go#L159

cc @rhatdan I think you wanted this as well

cc @tianon

[2015-12-02 01:44] GordonTheTurtle commented on #18355
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-02 01:44] jfrazelle commented on #18355
ping @mrjana @mavenugo

[2015-12-02 01:45] jfrazelle commented on #18355
ping @LK4D4 just to make sure that was the only thing hanging for removal

[2015-12-02 01:47] jfrazelle commented on #18355
gettting this for https://github.com/docker/docker/pull/17989 will help us not need libseccomp.a when compiling the binaries because dockerinit is static, it is trying to find it now

[2015-12-02 02:39] zhaoxpZTE commented on #18009
@aboch I'm so sorry that I haven't had local compile environment yet, so I cannot try the latest master version now. Can @cerias please try it?
ps. the error of V1.9.1 disappeared after I rebooted the VM once again.

[2015-12-02 02:41] Schlesiger opened #18356 "Changing the ZFS Parent Dataset"
docker version:

    1.9.1

docker info:

    Containers: 0
    Images: 0
    Server Version: 1.9.1
    Storage Driver: zfs
     Zpool: rpool
     Zpool Health: ONLINE
     Parent Dataset: rpool/root
     Space Used By Parent: 1302740992
     Space Available: 45657931776
     Parent Quota: no
     Compression: lz4
    Execution Driver: native-0.2
    Logging Driver: json-file
    Kernel Version: 4

[2015-12-02 02:41] GordonTheTurtle commented on #18356
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-02 02:49] tiaguinho commented on #15793
I made some tests @greg0ire, and this is the result.

With or without `set noswapfile` the inode changes, everytime the file is saved, but I made a little research how to make vim don't change the inode of a file.
The result was to use `set backupcopy=yes`, I try and the inode don't change when the file is modified.

Thank you guys.

[2015-12-02 02:54] cpuguy83 commented on #17996
And there is container.GraphDriver in the inspect output.

[2015-12-02 02:58] xiangpengzhao opened #18357 "Cannot connect container by its overlay network IP from host"
Description of problem:
I create an overlay network and connect a container to it. I can ping the host IP from the container successfully. But it fails when I ping the container's IP which the overlay network assigned to it.
Do I need to make more settings for the connectivity, or is that a bug or a designed behavior?

docker version

[code]

docker info

[code]

uname -a

[code]

Steps:
1. Create

[2015-12-02 03:02] zhaoxpZTE commented on #18257
I'm a newbie to github and docker, thanks for your guidance. @thaJeztah @WeiZhang555
I have already opened a new issue of my last question. #18357

[2015-12-02 03:35] cancan101 opened #18358 "syslog logging does not seem to work over TLS (TCP)"
I have set up a syslog [log destination with TLS support](http://help.papertrailapp.com/kb/configuration/encrypting-remote-syslog-with-tls-ssl/), but log data does not make it to the destination. I am using:
[code]
If I change the destination from `Accepting TCP (TLS)` to `Accepting TCP (plain text)`, then I do see log data appearing.

[code]
[code]
[code]

[2015-12-02 03:35] GordonTheTurtle commented on #18358
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-02 03:57] LK4D4 commented on #18358
Golang syslog package doesn't seem to have TLS support. Also in your link it's seems that you should use local syslog daemon to send logs over TLS to remote.

[2015-12-02 04:06] cancan101 commented on #18358
Okay, I just posted the issue with gloang.

[2015-12-02 04:12] LK4D4 commented on #18358
@cancan101 thanks! Feel free to open feature request when it'll be available.

[2015-12-02 04:12] #18358 closed

[2015-12-02 04:34] zelahi commented on #11703
So from my understanding this is a doc issue, and the document needs to be updated, but does the link need to be updated

[2015-12-02 05:03] cancan101 commented on #16551
How would I set the appropriate environmental variables when using `docker-machine` with a virtualbox backend?

[2015-12-02 05:58] assalw commented on #735
+1 This would really be great! I need this to structure my Docker files in a sensible way.

[2015-12-02 06:16] jfrazelle commented on #17675
This is fixed

[2015-12-02 06:16] #17675 closed

[2015-12-02 06:43] tonyvu2014 opened #18359 "error running docker-machine env command on Windows"
I am trying to set up docker machine on Windows and this problem has annoyed me for a few days.

I downloaded and installed DockerToolbox-1.9.1a on my Windows, so it came with Virtual Box version 5.0.10. After that I ran this command to create my virtual machine:

**docker-machine create --driver virtualbox --engine-insecure-registry docker.pre-prod.ss.local:5000 --virtualbox-hostonly-cidr 192.168

[2015-12-02 06:43] GordonTheTurtle commented on #18359
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-02 07:26] cancan101 commented on #18358
@LK4D4 upstream does not seem interested in adding TLS support.

[2015-12-02 07:40] terlar commented on #15630
I am running 1.9.1 and I am still experiencing this. I wonder if it is due to the systemd-networkd starting after docker and setting the flags. For now I can resolve it by restarting the docker service but that isn't very neat.

[2015-12-02 07:51] half-dead commented on #17104
@endophage  It's already covered in [here](https://github.com/docker/distribution/blob/master/docs/nginx.md#gotchas), but still, I did a minor modification.

[2015-12-02 08:05] Lawouach commented on #3043
As a side note, I've been using weave successfully for multicast. For those who may add it to their toolbox.

[2015-12-02 08:26] thaJeztah commented on #17996
@cpuguy83 so if I interpret you "wfm" you want to have GraphDriver renamed to StorageDriver both in docs, code (and endpoints)?

Do we know if there are already people developing experimental GraphDriver plugins?

[2015-12-02 08:37] thaJeztah commented on #17104
@half-dead ah, I actually remembered that being added, LOL

With that information, and the documentation in place, I think we can close this issue, but feel free to comment here if you think I closed this by mistake :+1:

[2015-12-02 08:37] #17104 closed

[2015-12-02 08:42] thaJeztah commented on #18358
Hm;

That sounds troublesome on its own, looks like they don't plan to really maintain the package.

[2015-12-02 08:47] michelvocks commented on #17932
I had the same issue like you guys. I solved it with adding these parameters to the master/slave docker daemon OPTs: DOCKER_OPTS="--cluster-store=consul://<<my consul server>>:8500 --cluster-advertise=eth0:2375 -H 0.0.0.0:2375 -H unix:///var/run/docker.sock"

[2015-12-02 08:51] thaJeztah commented on #18356
ping @Mic92 (who implemented the graphdriver) and @nigelpoulton (who wrote the guide in the docs)

Thanks for reporting @Schlesiger! (I don't have experience with the zfs driver myself :blush:)

[2015-12-02 08:56] thaJeztah commented on #18009
@zhaoxpZTE you can download builds from master at https://master.dockerproject.org but only use them for testing, not on a production machine.

[2015-12-02 08:58] greg0ire commented on #15793
And than you for your feedback, it is interesting.

[2015-12-02 09:06] zhaoxpZTE commented on #18009
The page shows ERR_SSL_VERSION_OR_CIPHER_MISMATCH when I visit it. :disappointed_relieved:
My OS is Windows XP and browser is Google Chrome.

[2015-12-02 09:12] cerias commented on #18009
@aboch  i hope i can test it this week.

[2015-12-02 09:16] thaJeztah commented on #11703
@zelahi yes, I think this is a docs issue, if I understand correctly, @twitteried tested the docs (https://github.com/docker/docker/issues/11560) and discovered that there were some errors when testing the docs. If you can fix those, that'd be great.

[2015-12-02 09:24] thaJeztah commented on #18359
Thanks for reporting, and sorry that you're having a bad experience getting docker to run on Windows.

I see docker toolbox 1.9.1b with docker-machine 0.5.2 was released a couple of hours ago; https://github.com/docker/toolbox/releases perhaps this issue is fixed, could you give it a try?

Overall, I think this issue is better discussed in the docker-machine issue tracker, because this is an issue

[2015-12-02 09:39] thaJeztah commented on #18009
@zhaoxpZTE ow, that's probably because Windows XP doesn't support SNI; https://www.ssllabs.com/ssltest/analyze.html?d=master.dockerproject.org&s=104.27.183.136&latest

Linux amd64 direct download link is;
https://master.dockerproject.org/linux/amd64/docker-1.10.0-dev
https://master.dockerproject.org/linux/amd64/docker-1.10.0-dev.md5
https://master.dockerproject.org/linux/amd64/docker-1.10.0-dev.sh

[2015-12-02 09:48] sumkincpp opened #18360 "Enhancement: docker images --format"
Would be great to have a similar one to [docker ps --format](https://docs.docker.com/engine/reference/commandline/ps/#formatting) option.

[2015-12-02 09:48] GordonTheTurtle commented on #18360
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-02 09:49] kdomanski commented on #17865
@tiborvass have you been able to reproduce the issue?

[2015-12-02 09:52] aeperea commented on #17960
I had the same problem but when I tried @asziranyi suggestion (moving the network files) everything went green. Thank you @asziranyi and everyone here :)

[2015-12-02 09:53] auzias opened #18361 "Running GUI :: works on Debian, not Fedora"
Hi everyone.
I'm trying to run arduino IDE from within a Docker. It starts on a Debian machine but not on a Fedora.

_Note that this was partly reported, **before I checked whether it works on Debian or not**, on [forums.docker.com](https://forums.docker.com/t/running-gui-in-docker/4721) and [stackoverflow.com](https://stackoverflow.com/questions/34017038/running-gui-in-docker-no-ssh-no-vnc)._

--

[2015-12-02 10:14] thaJeztah commented on #18360
Thanks for suggesting!

Actually, this is already being worked on for docker 1.10; see the pull request here; https://github.com/docker/docker/pull/17692

I'll link that PR to this issue so that it'll automatically close once the PR is merged! \o/

[2015-12-02 10:19] thaJeztah commented on #18361
I wonder if this could be a SELinux issue, i.e., SELinux blocking access. But I'm not really good at that :smile:

[2015-12-02 10:24] auzias commented on #18361
Me neither, not at all. I just install Fedora two weeks ago, still new for me.

[2015-12-02 10:31] amochtar commented on #16883
We are seeing the same issue now and again on Docker 1.7.1, CoreOS 766.3.0, running on AWS m4.large, pulling from a own hosted [registry](https://hub.docker.com/_/registry/). No clear reproduction scenario though...

@stevenschlansker @akerekes Any luck with upgrading to Docker 1.8.3?

[2015-12-02 10:32] sumkincpp commented on #18360
Great, thanks!
Strangely I missed to find this case.

[2015-12-02 11:02] thaJeztah commented on #18361
Might be worth checking https://wiki.gentoo.org/wiki/SELinux/Tutorials/Where_to_find_SELinux_permission_denial_details and http://selinuxproject.org/page/NB_AL (just a quick google)

[2015-12-02 11:25] nigelpoulton commented on #18356
@Schlesiger if you let me know a bit more about your config etc I'll run through it and see if I can see any potential issue with the docs and plan some updates etc...

[2015-12-02 11:53] nigelpoulton commented on #18298
@xeor

OK so the following is massively rough (I'm at a conference at the moment so short for time) and is only some thoughts on updating the recommendation section.

@moxiegirl I've gone heavy towards using the CS Engine as the gold standard for stability and reliability - a great idea that makes perfect sense (to me at least) and also gives airtime to the existence of the CS Engine.  Anyway... h

[2015-12-02 11:58] kvervo commented on #10294
We had a similar problem with docker build command. The issue was that the base container we used in or Dockerfile was build with an old version of Docker. Currently we are using 1.8.2.
Rebuild the base container using v1.8.2 and after that everything started working correctly.

[2015-12-02 12:14] jaryn commented on #16653
Thanks you all.

[2015-12-02 12:28] thaJeztah commented on #16653
Thanks for reporting @jaryn, your feedback helps us improve the project!

[2015-12-02 12:30] Mic92 commented on #18356
Was the zfs dataset actually mounted?
Please give me the output of:

[code]

The parent dataset can be also specified by passing zfs.fsname to the docker daemon:

[code]

[2015-12-02 12:44] sheerun commented on #13026
It's similar to multi-stage building @ewindisch mentioned. First part has "from" set on `tutum/buildstep` to build image with webpack, I upload result on my private server, and then download result in second part of Dockerfile with "from" set on dockerfile/nginx.

It's hacky but I'm not aware of any other way multi-stage build. Any ideas?

[2015-12-02 13:12] Schlesiger commented on #18356
@Mic92 Bingo! I had purged docker-engine before trying to change the dataset but `/var/lib/docker` wasn't removed by `apt-get purge docker-engine`. I tried

    rm -R /var/lib/docker
    zfs mount -a
    apt-get install docker-engine
    service docker start
    docker info

and the parent data set is correct:

     Parent Dataset: rpool/docker

I had tried passing the `--storage-opt` as well and

[2015-12-02 13:12] #18356 closed

[2015-12-02 13:18] thaJeztah commented on #13026
I think many people use a separate build container (e.g. https://github.com/docker-library/hello-world/blob/master/update.sh) but that won't work with automated builds. I personally think that nested builds may be a good replacement for that; https://github.com/docker/docker/issues/7115

[2015-12-02 13:19] thaJeztah commented on #18356
@Schlesiger does the documentation need updating? Or is it something you missed in the docs?

[2015-12-02 13:31] nigelpoulton commented on #18356
I reckon the docs could do with a note or a bullet in the pre-reqs that says something along the lines of -

"if /var/lib/docker already exists this needs to be blown away. And also... if you've got images you want to keep.... make sure to push them to Docker Hub/DTR before blowing this away".

LMK if you agree.

[2015-12-02 13:35] thaJeztah commented on #18356
@nigelpoulton sgtm, won't hurt to warn people there.

[2015-12-02 13:40] Mic92 commented on #18356
@nigelpoulton I like the docs btw.

[2015-12-02 13:43] nigelpoulton commented on #18356
@Mic92 the damage is done, I'm crying in the corner ;-)  To be fair though we need need feeback like this to make them better.

Thanks BTW.

[2015-12-02 13:43] fsouza opened #18363 "networking API: bad HTTP status reporting on errors"
Currently the networking API always report 500 on failures (except in [special cases when the error message matches certain patterns](https://github.com/docker/docker/blob/e75da4b6fffbcf9dab86cd581e962a19d3efa35a/api/server/httputils/httputils.go#L129-L151)). Should HTTP handlers in the networking API use the [errcode package](https://godoc.org/github.com/docker/distribution/registry/api/errcode)?

[2015-12-02 13:43] GordonTheTurtle commented on #18363
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-02 13:48] thaJeztah commented on #18363
heh, that code has been topic of quite some discussions :smile:

I'l /cc @mavenugo (for libnetwork / networking API) and @duglin (who's been busy on changing error-handling)

[2015-12-02 13:53] cpuguy83 commented on #18361
On Fedora you probably need `--privileged` to bypass selinux and gain access to the socket.

[2015-12-02 13:55] duglin commented on #18363
yea, in general it would be better to have more well defined error types

[2015-12-02 13:57] cpuguy83 commented on #18363
@fsouza I don't think libnetwork should use errcode itself, but we should inspect the errors returned (which are pretty well typed from libnetwork from what I've seen recently) and produce errcode errors for the HTTP API.

[2015-12-02 14:05] cpuguy83 commented on #17996
On point 1, I'm neither + or - on it.

On point 2, yes there are a few people working on graphdriver plugins.
@gourao, @kolyshkin, @srust, possibly @erikh

[2015-12-02 14:06] cpuguy83 commented on #17996
p.s., I already have this implemented with everything changed over to StorageDriver instead of GraphDriver but haven't pushed yet pending further discussion -- just so people don't waste their time doing it :) as well.

[2015-12-02 14:08] cpuguy83 commented on #17996
Also @jlhawn mentioned interest.

[2015-12-02 14:26] thaJeztah opened #18364 "Replace Golang log/syslog pkg because it's no longer actively developed"
Following the discussion on https://github.com/docker/docker/issues/18358, it appears that Golang has decided to stop development of the log/syslog package;

From https://github.com/golang/go/issues/13449;

We should look for another package to replace it.

[2015-12-02 14:26] GordonTheTurtle commented on #18364
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-02 14:27] thaJeztah commented on #18364
/cc @LK4D4

[2015-12-02 14:27] magicrobotmonkey commented on #12347
I have a similar issue using mesos-dns and bind. My registries record is in bind. If I'm using my bind server directly in /etc/resolv.conf, docker can pull from my registry. If I use my bind server as a resolver for mesos-dns with mesos-dns in /etc/resolv.conf, everthing (dig, host, curl, etc)  _except_ docker can resolve my registry. It seems the docker daemons dns resolver is either very strict

[2015-12-02 14:53] Schlesiger commented on #18356
I'm not an APT packaging expert, but I thought a `apt-get purge docker-engine` would have removed all docker files, including `/var/lib/docker`.

[2015-12-02 14:55] sheerun commented on #13026
Anything will do as long as I can do following:

1. Run sub-builds from within my build (including external ones).
2. Export paths from previous builds (so we need to be able to name them..)

So something like this:

[code]

The resulting build has all properties of `dockerfile/nginx` and `my_temporary_build` is discarded.

So I'd be happy with following changes to Dockerfile:

1. Introduce `NAME`

[2015-12-02 14:56] samsamm777 commented on #1996
+1

[2015-12-02 14:59] Koriit commented on #8887
+1

[2015-12-02 15:04] rhatdan commented on #18355
I am all for this, the only problem I have is a side effect.  Currently one of my patches uses the location of dockerinit to figure out where alternate docker binaries are stored.  /usr/libexec/docker on Red Hat based OS.  /usr/lib/docker on others.

If we had a standard directory for helper executables to be installed...

[2015-12-02 15:04] mingfang commented on #8887
@Supernomad well said.

[2015-12-02 15:21] fsouza commented on #18363
@cpuguy83 sure. In this part of the code, for example, for handling 409 on network creation: https://github.com/docker/docker/blob/e75da4b6fffbcf9dab86cd581e962a19d3efa35a/api/server/router/network/network_routes.go#L99-L101.

[2015-12-02 15:22] thaJeztah commented on #18356
@Schlesiger nope, it doesn't in this case; iirc there was some discussion on that, but I think the outcome was that user created files should not be deleted by apt-get purge. Also see; http://docs.docker.com/engine/installation/ubuntulinux/#uninstallation

[2015-12-02 15:29] Schlesiger commented on #18356
Ahh very good; makes sense. Could that also be linked somewhere in the ZFS docs? That would be useful in a situation like mine where ZFS was installed and an individual decided later to change the dataset. The expectation is that `apt-get purge` would remove those files. Thanks!

[2015-12-02 15:53] unclejack commented on #18364
I think it should be removed from the stdlib if no further (maintenance and development) is planned for it. There's no point to have it in there if it's known to have serious problems and shortcomings.

[2015-12-02 16:00] jfrazelle commented on #18355
woohooooo we want the same thing <3

On Wed, Dec 2, 2015 at 7:05 AM, Daniel J Walsh <notifications@github.com>
wrote:

[2015-12-02 16:16] #9798 closed

[2015-12-02 16:30] necrose99 commented on #17776
OK just could not find the docs for such.

[2015-12-02 16:30] #17776 closed

[2015-12-02 16:32] LK4D4 commented on #18355
@jfrazelle Yeah, I don't see other places. I never build dockerinit and `/.dockerinit` in container is just empty file.

[2015-12-02 16:35] erikh commented on #17996
I'm not working on one atm, but let me be a blowhard for a second: why isn't it called image driver instead? storage seems to generally conflict with the word 'volume' in my mind.

[2015-12-02 16:39] kcraft commented on #14092
I am having this exact same issue with Docker 1.9. Manually pulling an image from my private repo works. Building a Dockerfile with a FROM that references the private repo does not. I have an nginx LDAP proxy sitting in front of my private repo. The issue is closed but it doesn't seem like it is fixed? Has anyone verified the fix?

[2015-12-02 16:47] jbiel commented on #14092
It's been working for me.

[2015-12-02 16:49] samuelkarp commented on #16551
@cancan101 I'm not familiar with Docker Machine, but [the documentation](https://docs.docker.com/machine/reference/create/#specifying-configuration-options-for-the-created-docker-engine) suggests that the `--engine-env` option can be used to pass environment variables to the daemon.

[2015-12-02 16:50] marcust commented on #14092
@kcraft works for me as well. Are you just issuing a "docker build" or using something else?

[2015-12-02 17:00] kcraft commented on #14092
I am using docker build:

[code]

Here are the logs from the nginx proxy after running ```docker build```:

[code]

Note that I am using a swarm cluster, although I doubt that is related. I think it just runs the same command on each node in the cluster.

[2015-12-02 17:16] kcraft commented on #14092
After thinking about this further, I bet that I am logged into one of the swarm nodes but not the other, so the command is failing on the node I am not logged into. Seems like a swarm bug after all. I will verify and edit my comment with an update shortly.

[2015-12-02 17:22] tianon commented on #9798
Woooooot, before the 1 year! :smile:

![](http://flyingsquirrelsports.ca/wp-content/uploads/2015/02/11-birthday-party.jpg)

[2015-12-02 17:35] ikor commented on #17691
For anyone who is still encountering this issue, this is a workaround:
* Remove **rm -f /var/lib/linkpgraph.db** (or if you modified **graphdb=/opt/docker** : **rm -rf /opt/docker/linkgraph.db**)
* Remove **rm -rf /var/lib/containers/**
* Restart docker daemon :  (for Ubuntu) sudo service docker restart

[2015-12-02 17:53] lerox commented on #18180
+1, Docker version 1.9.1, build a34a1d5, OS X

[2015-12-02 18:08] sanimej commented on #18354
Yes, this is a problem only from within the same host because of the way iptable rules are setup. [libnetwork #776] (https://github.com/docker/libnetwork/issues/776) is opened for the same issue.

[2015-12-02 18:17] gourao commented on #17996
Yes, we are working on a graphdriver plugin based on Brian's experimental.  The goal of this driver is to provide a space efficient alternative that works in a multi node environment.

Regarding the name, I think StorageDriver is a bit misleading and can be confused with the Volume Driver.  I personally think Image Driver, or Graph Driver sound better.  My 2c.

[2015-12-02 18:28] stevenschlansker commented on #16883
I believe 1.8.3 fixed this for us.

[2015-12-02 18:32] bitglue commented on #18133
OK, thank you for clarifying.

[2015-12-02 18:32] #18133 closed

[2015-12-02 18:33] thaJeztah commented on #9798
haha

darn, that means no cake? :birthday:

[2015-12-02 18:35] tianon commented on #9798
Oh no, there will definitely be cake! :metal:

[2015-12-02 18:36] thaJeztah commented on #18364
@unclejack yup I agree, but not really our concern.

I thought it was worth considering to move to something else, because of that decision though, so if you have suggestions for a good package that can be used instead, that'd be great. Possibly we can solve https://github.com/docker/docker/issues/18358 at the same time

[2015-12-02 18:36] thaJeztah commented on #9798
cool!

[2015-12-02 18:37] thaJeztah commented on #16883
@akerekes can you confirm? I'm thinking of closing this issue, but will check up later

[2015-12-02 18:46] akerekes commented on #16883
@thaJeztah we'll need some time to verify it, currently running 1.7.1, and due to the nondeterministic nature of the problem may take a few weeks before I could confidently say it's been fixed for us. I'll schedule an upgrade to 1.8.3 and get back when we'll have some result.

[2015-12-02 18:59] tianon opened #18370 "Content addressability migration takes way too long to be serial"
I've got a machine with thousands of layers on it (and it's actually at a low right now because I recently nuked `/var/lib/docker`; in my experience with enterprise clients this volume of images isn't really unusual, especially if they've been doing a lot of `docker build`s, etc) that I finally upgraded to latest master today, and the migration process took a full hour and 23 minutes.  Even a real

[2015-12-02 18:59] GordonTheTurtle commented on #18370
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-02 19:01] LK4D4 commented on #18370
ping @aaronlehmann also

[2015-12-02 19:01] thaJeztah commented on #17960
@aboch is this also related to the `local-kv.db` you were investigating in https://github.com/docker/docker/issues/18113 ?

[2015-12-02 19:04] tonistiigi commented on #18370
I've optimized the migration process in https://github.com/docker/docker/compare/master...tonistiigi:migration-opt . In my test with 4GB test-data the improvement is ~55%. Its waiting on https://github.com/vbatts/tar-split/pull/22 before I make a PR. Note that direct access for overlay is currently not working as well.

The alternative we hope to provide is a migration tool that can be ran while d

[2015-12-02 19:05] thaJeztah commented on #16883
Thanks @akerekes, no problem!

[2015-12-02 19:07] cpuguy83 commented on #18363
@fsouza Correct.

[2015-12-02 19:07] moxiegirl commented on #12849
@thaJeztah Guest writer or internal --- yes,  I agree that the `cgroups` material is just not where it needs to be. @anusha-ragunathan gives us a starting point (thank you helpful smart person) of the technical details.  I"d like to go further:

* why should I care about cgroups as a Docker user
* what kinds of things do cgroups impact and how can I adjust or control tune them
* if I had a problem

[2015-12-02 19:09] stevvooe commented on #18133
@bitglue No problem. I hope I've clarified everything appropriately.

[2015-12-02 19:12] thaJeztah commented on #12849
Yes, I think a section like that could be really helpful

[2015-12-02 19:14] fsouza commented on #18363
@cpuguy83 should I prepare a patch then? Or is anyone else going to work on that?

[2015-12-02 19:15] jlhawn commented on #17996
"Image Driver" doesn't accurately describe what what the current "Graph Drivers" do. While storing of image rootfs snapshots a very important purpose, they are also used for storing the rootfs of containers and handling commits of containers to images. Some of the drivers can also be used as volume drivers (the "vfs" driver, for example, has been used as the default volume driver). I also think th

[2015-12-02 19:17] tonistiigi commented on #18370
@tianon What graphdriver do you use and how big was the graph directory?

[2015-12-02 19:17] moxiegirl commented on #12849
@aditirajagopal  Here is a very interesting challenge.  WDYT?

[2015-12-02 19:19] erikh commented on #17996
WFM, FWIW

On 2 Dec 2015, at 11:15, Josh Hawn wrote:

[2015-12-02 19:19] thaJeztah commented on #18363
I think it'd be great if you want to contribute, thanks! I did ask on the internal Slack channel to check if no-one of the network team was working on this already, just to be sure

[2015-12-02 19:22] thaJeztah commented on #17996
We should take into account that we use "Storage Driver" in the documentation and other places https://docs.docker.com/engine/userguide/storagedriver/imagesandcontainers/

(yes I understand the concerns of using "storage driver" as a name)

[2015-12-02 19:32] moxiegirl commented on #18298
@nigelpoulton I'll see about adding this in the next couple of days.

[2015-12-02 19:32] cpuguy83 commented on #18370
I'd also say +1 to the queue as I mentioned elsewhere.
Especially for built images, we don't really need the sha until it's pushed -- seems like we can get around this.

[2015-12-02 19:36] mavenugo commented on #18363
@fsouza @thaJeztah thanks. we are not currently working on this. Will certainly help review a PR if made available.

[2015-12-02 19:39] #17586 closed

[2015-12-02 19:43] aaronlehmann commented on #18370
I'm actually not sure that's the case. The new model is built around content addressable layers. Walking that back to make exceptions for layers that haven't been migrated yet might make the code a lot more complex and introduce bugs. Even if we pulled it off, it would cause weird behaviors, like image IDs changing underneath a running system as images are migrated. Maybe there's a clever way to d

[2015-12-02 19:43] calavera commented on #18364
is there any alternative package already? we can always keep our own, but it makes me sad.

[2015-12-02 19:49] #13116 closed

[2015-12-02 19:59] xeor commented on #18298
Would it also be a good idea to write down what types of bugs people have been reporting using overlay? Something like; "Some of the bugs people have been reporting when using OverlayFS is, not being able to store socket files, problems with yum, and problems deleting files.".

Also, for the `stability` option. Might it be an idea to write down a couple of quick tips for the different best-practic

[2015-12-02 20:04] aditirajagopal commented on #12849
@moxiegirl thank you! this sounds like a good place to start :smile: -- will follow-up on IRC!

[2015-12-02 20:18] auzias commented on #18361
_Environment updated in the first post_

@cpuguy83 I tried with `--privileged` but it does not work either.
###### With `--privileged`
[code]

###### Without `--privileged`
[code]

I don't have more time for now, but I'll dig it up later on.

[2015-12-02 20:24] nathanleclaire commented on #5989
Submitted a PR to support this: https://github.com/docker/docker/pull/18373

Try it out!

[2015-12-02 20:27] calavera commented on #18328
It should be fixed in #18374

[2015-12-02 20:29] smiller171 commented on #5989
thanks @nathanleclaire !

[2015-12-02 20:31] moutend commented on #18180
+1, Docker version 1.9.1, build a34a1d5, OS X 10.10.5, Docker Machine Version: 0.5.1 (HEAD)

[2015-12-02 20:36] monokrome commented on #332
I think that txomon's (not mentioning by request) example of the process happening here may be a bit wrong, but it's still a valid concern that this hasn't gone anywhere yet.

There are a lot of issues where this is referenced and then they are closed, but now we are all hanging out in the kitchen sink talking about 20 different things. It may be worth considering leaving the other issues open - a

[2015-12-02 20:52] aboch commented on #17960
@thaJeztah Nope, that case is specific to an inconsistent ipam vs network state in the local store.

[2015-12-02 21:13] jas0n1ee opened #18377 "How to force docker daemon use `DOCKER_OPTS`"
I set `DOCKER_OPTS="-g /data/docker"` in /etc/default/docker on a Ubuntu machine to force docker build and store images on certain disk.

When I run `docker run` or `docker build` it seems the`DOCKER_OPTS` method works fine. But when I run `sudo docker daemon -H tcp://0.0.0.0:2375 &` to start a daemon, it will got empty list with `GET /images/json` . Then I found if I add `-g /data/docker` after d

[2015-12-02 21:13] GordonTheTurtle commented on #18377
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-02 21:28] #18276 closed

[2015-12-02 21:50] thaJeztah commented on #18364
@calavera I haven't looked yet

[2015-12-02 21:55] calavera commented on #18287
As @thaJeztah, we're not going to implement this in the near future. The external builder work is in progress, we will have more concrete information about it soon, but it will have a separated repo so all the issues around it are isolated.

I'm going to close this issue, though, because we're not going to do that in docker.
Thanks for your feedback.

[2015-12-02 21:55] #18287 closed

[2015-12-02 22:29] jake-low opened #18380 "panic: nil pointer dereference when waiting on a container"
I don't have a consistent repro for this one but I'm seeing it occasionally when `^C`-ing containers attached to overlay networks.

Novice question: is this bug even in the docker engine? Maybe I should open this bug against libnetwork, or perhaps serf?

[code]

[code]

[code]

Docker daemon logs:
[code]

Nothing interesting in the consul agent logs.

[2015-12-02 22:31] LK4D4 commented on #18380
ping @mrjana @aboch

[2015-12-02 22:37] thaJeztah commented on #18377
the `DOCKER_OPTS` variable is used when running the daemon via the init system (sysvinit or upstart), see https://github.com/docker/docker/blob/master/contrib/init/upstart/docker.conf#L42

If you're manually starting the daemon, you'll have to provide those options on the command line

I'm closing this issue because this is a question, not a bug or feature request, but feel free to comment here af

[2015-12-02 22:39] thaJeztah commented on #18377
So basically, if you're starting the docker via upstart/sysvinit; `sudo start docker`, it should use those settings

[2015-12-02 22:39] #18377 closed

[2015-12-02 23:33] johnjelinek commented on #16256
:+1: `--exec-opt native.cgroupdriver=cgroupfs` works for CentOS 7.1 too. I wish `docker-machine create` would configure this automatically.

[2015-12-02 23:45] DiogoDoreto commented on #18293
Docker support helped me. Solution was changing my default DNS servers.

[2015-12-02 23:45] #18293 closed

[2015-12-02 23:48] thaJeztah commented on #16256
@johnjelinek we recently merged a PR to use if as default for docker 1.10; https://github.com/docker/docker/pull/17704 there's still some discussion on that though.

@LK4D4 should this be resolved with the changes in https://github.com/docker/docker/pull/17704?

[2015-12-02 23:50] thaJeztah commented on #16238
@xnox we recently merged a PR to change the default to `cgroupfs` for docker 1.10, see https://github.com/docker/docker/pull/17704

[2015-12-02 23:51] thaJeztah commented on #18293
Good to hear it's resolved! Thanks for reporting back, @DiogoDoreto

[2015-12-02 23:51] djmaze commented on #18125
Just compiled 1.10.0-dev again on ARM, this time using a modified Dockerfile.arm which installs Go 1.5.1. Using that version, the error immediately occurs again when trying to run a container.

So we can now be pretty sure the problem is caused by the use of Go 1.5.1.

[code]

[2015-12-02 23:54] liuml07 commented on #18180
+1

Docker version 1.9.1, build `a34a1d5`, OS X 10.11.1 (15B42)

[2015-12-02 23:58] KholdStare commented on #8513
I have the same issue still. Can this be reopened please?

[2015-12-02 23:58] cturra commented on #17691
i too have run into this across a small fleet of docker host i run. the instructions noted above by @ikor got us back on track, but to make sure this doesn't bite us again, i have rolled back docker-engine on these nodes to 1.8.3.

[2015-12-02 23:59] johnjelinek commented on #16256
hrmm .. I think I spoke too soon:
[code]

but then, with this docker-compose.yml:
[code]

it fails on the redis spin up:
[code]

All the swarm dockers are configured with `--exec-opt native.cgroupdriver=cgroupfs`.

[2015-12-03 00:07] thaJeztah commented on #16256
@johnjelinek could that be related to https://github.com/docker/docker/issues/15159?

[2015-12-03 00:12] iwkse commented on #2855
+1 to @lhazlewood ^C should detach

[2015-12-03 00:14] thaJeztah commented on #8513
@KholdStare reading back the discussion it looks like this couldn't be fixed in docker; https://github.com/docker/docker/issues/8513#issuecomment-76123655 but perhaps I've misunderstood @jfrazelle ?

[2015-12-03 00:16] thaJeztah commented on #2855
There's currently a PR to make the key-combination configurable; https://github.com/docker/docker/pull/15666

[2015-12-03 00:19] johnjelinek commented on #16256
I don't think so -- I didn't unmount anything. The problem existed before I did the `--exec-opt native.cgroupdriver=cgroupfs` fix above. How can I troubleshoot further?

[2015-12-03 00:28] thaJeztah commented on #16256
@johnjelinek hm actually, it looks like https://github.com/docker/docker/issues/17879, could be related to some API changes w.r.t default values, but not sure

[2015-12-03 00:34] mrjana commented on #18380
@jake-low Thanks for the bug report. It's not a bug in `serf`. It's a bug in `libnetwork`. We will fix it shortly. Out of curiosity, what kind of container where you running in overlay network (or more specifically what kind of traffic was the app generating)?

[2015-12-03 00:36] vincentwoo commented on #17720
@unclejack pingarooni

[2015-12-03 00:36] mrjana commented on #18380
@jake-low Also, are you running your daemon without the `cluster-advertise` option? It seems like a problem which will happen in that case

[2015-12-03 00:36] johnjelinek commented on #16256
I manually created this file: `/sys/fs/cgroup/memory/system.slice/docker/8983d7cd867be40dcfd68747c79fac2f713243a979c3011dc1997dcdf8665150/memory.swappiness` because that's what was complaining. When I did `docker-compose up -d` again, the `898...150` folder went missing. I guess it was deleted when the container was recreated.

[2015-12-03 00:38] johnjelinek commented on #16256
@thaJeztah: I think you're right. It's likely #17879.

[2015-12-03 00:39] johnjelinek commented on #17879
I can repro this problem when running docker-machine from Ubuntu 14.04 LTS and the swarm machines are all CentOS 7.1

[2015-12-03 00:39] johnjelinek commented on #17879
Is there a workaround in place?

[2015-12-03 01:07] londoncalling commented on #18282
@nathanleclaire, fyi, per part of our conversation today, I'll be re-working the install docs w/regard to this is the issue

[2015-12-03 01:16] nathanleclaire commented on #18282
:+1:

[2015-12-03 01:34] jake-low commented on #18380
@mrjana the application was generating HDFS traffic (TCP-based file access protocol related to Hadoop), and not a whole lot of it: the container is a protocol unit test app written in Python's pytest framework, so it runs serially and only executes a few (thousand) operations.

I was not using the `cluster-advertise` option. I'm under the impression this option is only needed for multi-host overla

[2015-12-03 02:09] johnjelinek commented on #17879
[code]

[code]

[code]

[2015-12-03 02:15] johnjelinek commented on #17879
[code]

[2015-12-03 02:23] abronan commented on #17879
@johnjelinek Any way you can try with docker master? We just merged #18285 that is fixing this issue with swarm and compose.

[2015-12-03 02:46] adam900710 opened #18382 "[feature request] Add support for deleting image with child if backend storage supports(like btrfs)"
Hi,

I am testing docker with btrfs, but find 'docker rmi' is very aggressive and doesn't follow
btrfs' feature under the following working flow:
------
images:
Base_tag -> my_tag1 -> my_tag2
------

It's impossible to only remove the image of  my_tag1 (rmi will only untag it).

I assume this is some thing related to aufs/overlay, as for such layered fs, it's impossible to remove any middle layer.

[2015-12-03 03:05] jhowardmsft opened #18383 "Proposal: ARCH statement in builder"
Currently, it's not possible to have a cross-architecture dockerfile. This can be evidenced by the docker CI itself where the main image built downloads busybox (linux/amd64) in the dockerfile. Subsequently hoops are jumped through during test-integration-cli which ends up in .ensure-frozen-images to download/update/tag the linux/arm images to ARM specific ones.

This architecture problem obviousl

[2015-12-03 03:09] duglin commented on #18383
if we're going to add some kind of conditional logic I would prefer if we made it more feature-rich and add real `if`-like statements so that the conditions can be based on what's meaningful to the Dockerfile developer and not just what *we* as Docker devs consider important.  Even just simple comparison of env vars would be good enough for lots of uses.

But of course, the Dockerfile syntax is fr

[2015-12-03 03:28] jhowardmsft commented on #18383
@tiborvass Interested in your opinion here too. Thanks.

[2015-12-03 03:37] LK4D4 commented on #17720
@vincentwoo btw I rewrote your script on go, it's even more concurrent than yours and it doesn't seem affect drastically times of both rm and ps on master. I use overlay on ext4 too, but my kernel is newer - 4.3.

[2015-12-03 04:14] vincentwoo commented on #17720
Can we see it?

[2015-12-03 04:18] jhowardmsft commented on #18383
@jfrazelle @mikedougherty as this was thought of in the context of CI flakiness debugging.

[2015-12-03 04:23] LK4D4 commented on #17720
@vincentwoo I'm not at work now. Will post tomorrow.

[2015-12-03 04:45] mikedougherty commented on #18383
@jhowardmsft thanks for the ping. This is interesting! There definitely seems to be a need for this functionality, but something about the boolean/conditional syntax has a bad smell to me. Even sprinkling in `if`s as @duglin mentioned also doesn't sound right. My first instinct would be that there should be different Dockerfiles for each arch, but that also seems wrong as it would just result in d

[2015-12-03 04:46] johnjelinek commented on #17879
@abronan: do I need to deploy the master build to all of my swarm instances or just the box where I'm executing docker commands?

[2015-12-03 05:09] abronan commented on #17879
@johnjelinek All of the swarm nodes unfortunately as the Swarm Manager just pass on the request to the selected node's daemon, so the `memory.swapiness` default value will still be `0` in that case as we don't set it in swarm and this will fail the same way as you described it above without the fix.

If using `docker-machine` I think the closest you can get to test `docker:master` is using the `--

[2015-12-03 05:18] johnjelinek commented on #17879
@abronan: did flags to docker change?
[code]

[2015-12-03 05:23] johnjelinek commented on #17879
oic, I changed `-d` to `daemon` ... stand by

[2015-12-03 05:24] jfrazelle commented on #16705
This is fixed now https://github.com/docker/docker/pull/18178/files

[2015-12-03 05:24] jfrazelle commented on #16705
at least `ptrace` part, sorry reopening

[2015-12-03 05:26] jfrazelle commented on #15101
this is fixed via https://github.com/docker/docker/pull/18178/files

[2015-12-03 05:26] #15101 closed

[2015-12-03 05:29] jfrazelle commented on #7797
this seems to not be an issue w a version after 1.6.1, if you find one ping me to reopen, closing

[2015-12-03 05:29] #7797 closed

[2015-12-03 05:40] tonyvu2014 commented on #18359
Hi
I downloaded the new docker toolbox 1.9.1b and did not encounter this problem any more.

Thanks

[2015-12-03 05:43] johnjelinek commented on #17879
@abronan: I upgraded docker on all the servers, but it didn't help:
[code]

[code]

[2015-12-03 05:46] luxas commented on #18125
This issue becomes more and more confusing.
Now, I've tested `v1.9.1` on a RPi 1, and it works like a charm. Will check which `go` version is used.

I also installed `docker v1.9.1` on a Banana Pro, and when using default storagedriver `devicemapper` it works, but when I switch to `overlay` it fails immediately.

What storage driver do you use @djmaze?

[2015-12-03 05:59] infoslack commented on #18361
The  xhost is  used to add and delete host names or user names to the list allowed to make connections to the X server.  In this case I believe it is disabled.

You can try to activate with the `xhost +` instruction before creating the container.

[2015-12-03 06:04] wenchma commented on #17716
fixed this issue and completed the design, close it.

[2015-12-03 06:04] #17716 closed

[2015-12-03 06:26] mrjana commented on #18380
@jake-low If you just want the 'magic' DNS, and your workloads are in a single host you can just create a network with bridge driver (which is the default if you didn't provide the `-d` option while creating a network) and you won't get into the problem that you reported(which we will fix nevertheless)

[2015-12-03 06:32] wenchma opened #18385 "Improvement for docker subcommand's help messages"
Description of problem:

I take `docker ps --help` subcommand for an example:

[code]

the available conditions of `--filter` should be printed for user guide, in fact, new user maybe not know.
I think the above should be printed as follows:

[code]

There are also other subcommands:

[code]

docker create --help  on --net option.

`docker version`

[code]

`docker info`

[code]

`uname -a`

[code

[2015-12-03 06:33] wenchma commented on #17647
resolved and close it, thanks!

[2015-12-03 06:33] #17647 closed

[2015-12-03 07:09] jake-low commented on #18380
@mrjana To clarify, by "magic" I mean this:

[code]

`docker-compose --x-networking --x-network-driver overlay up` will result in `bar` being able to resolve (and ping) `foo`; but this doesn't work on the default bridge network (unless I did something wrong in my ad-hoc test).

I'll work around the problem for now; thanks for your help!

[2015-12-03 07:14] drngsl opened #18386 "Proxy changed, but docker doesn't change it"
Hi, I'd like to make a question.
My host need a proxy to connect to external network, and proxy 192.199.100.123 is distributed to it.
Now, for some reason, the proxy changed, and I modify the config file to adapt to it. However, when I execute cmd
docker pull mysql
I get the following error
root@ubuntu50:~# docker pull  mysql
Using default tag: latest
Pulling repository docker.io/library/mysql
Err

[2015-12-03 07:14] GordonTheTurtle commented on #18386
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-03 07:20] alexw23 commented on #13331
:+1:

[2015-12-03 07:38] dhlwing commented on #5113
docker-machine restart default worked for me in Mac OS X
thx @juandiegoh

[2015-12-03 07:42] daniilyar-confyrm commented on #12738
Had the same issue after migration from Docker 1.5.0 to docker 1.9.1:

1. Updated from Docker version 1.4.1 to Docker version 1.9.1
2. Started some stopped containers.
3. And could not stop them again. "Container does not exist: container destroyed Could not remove, since they were not stopped:
[code]

[2015-12-03 08:06] higkoo opened #18388 "Docker can not start when iptables is disabled."
## docker version

Client:
    Version:      1.9.0
    API version:  1.21
    Go version:   go1.4.2
    Git commit:   76d6bc9
    Built:        Tue Nov  3 17:29:38 UTC 2015
    OS/Arch:      linux/amd64
Server:
    Version:      1.9.0
    API version:  1.21
    Go version:   go1.4.2
    Git commit:   76d6bc9
    Built:        Tue Nov  3 17:29:38 UTC 2015
    OS/Arch:      linux/amd64
## docker inf

[2015-12-03 08:06] GordonTheTurtle commented on #18388
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-03 08:13] prashantabkari commented on #18324
Hi - I found the issue finally . Following are the findings
1. Even if the both of them are on the same network communication fails even if the sender is trying to reach receiver on "localhost"

2. * as a wildcard cannot be resolved inside the container. Not sure if this is an issue with the docker or zero mq .

3. Even if the IP address of the receiver is hardcoded and the both containers are not

[2015-12-03 08:41] higkoo commented on #18388
#### Start docker after iptables started, then iptables disable
1. iptables-switch.sh enable
1. systemctl start docker
1. iptables-switch.sh disable
1. docker info
	Containers: 0
	Images: 0
	Server Version: 1.9.0
	Storage Driver: devicemapper
		Pool Name: docker-8:1-33748157-pool
		Pool Blocksize: 65.54 kB
		Base Device Size: 107.4 GB
		Backing Filesystem: xfs
		Data file: /dev/loop0
		Metadata fi

[2015-12-03 08:48] djmaze commented on #18125
@lukas I am using the overlay storage driver.

Just tried the devicemapper driver with both the Go 1.4 and 1.5 compiled 1.10.0-dev daemon. On the 1.5 version, it fails as before, while on the 1.4 version, everything works fine.

TL/DR: The problem seems not related to the storage driver in use.

[2015-12-03 08:51] hqhq opened #18390 "git tag issue in upstream"
When I want to know a patch was introduced in which version, `git describe` is a wonderful way, but I noticed that in upstream, almost all commits I checked with `git describe` returned v1.4.1-xxx-xxx.

I found it's because after v1.4.1, we never add tags in upstream, all tags are in separate branches, and most of them are no longer existed.

Is there any chance we can retag upstream so we can use

[2015-12-03 08:51] GordonTheTurtle commented on #18390
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-03 09:10] osterman commented on #14788
+1 happening to me both on Docker 1.7.1 and 1.8.3. ~25 containers running on a /24 with flannel on 835.8.0. Had 80 days uptime until a few days ago when etcd started acting up and all of the sudden this started happening. Rebooted, no improvement. Upgraded, no improvement. `etcdctl cluster-health` shows healthy.

[2015-12-03 09:39] ablock84 commented on #17720
One thing that I missed to mention is that my docker daemons are all connected to etcd on a CoreOS cluster. Could this be a factor?

[2015-12-03 09:43] #18338 closed

[2015-12-03 09:46] thaJeztah commented on #18359
Good to hear, @tonyvu2014 thanks for reporting back.

I'll close this issue

[2015-12-03 09:46] #18359 closed

[2015-12-03 10:08] merwan commented on #15651
I upgraded from Debian Jessie to testing and I'm now using linux-image-4.2 and I encountered the same kind of issue with a missing aufs driver.

A [quick fix](http://log.rowanto.com/broken-docker-in-debian-jessie/) is to delete the docker aufs folder. You might lose some data, so please do it with care!
[code]

[2015-12-03 10:36] slayercat commented on #15668
https://bugzilla.kernel.org/show_bug.cgi?id=108811

[2015-12-03 10:37] kujiy commented on #735
+1
WE REALLY NEED!

[2015-12-03 10:41] Stroppel commented on #9365
fixed this problem for my environment via --exec-opt native.cgroupdriver=cgroupfs
The solution is described in https://github.com/docker/docker/issues/16256

There the discussion states that the Problem comes due to a version Change in Systemd on debian. Would assume that centos 7 has the same version.

[2015-12-03 10:45] thaJeztah commented on #18386
So, if I understand correctly, 192.199.100.138 is not the IP address of the proxy you configured in the configuration file? Are you sure you modified the right file?

If your system is using systemd, did you `systemctl daemon-reload` before restarting the service? Otherwise systemd won't pick up changes you made

[2015-12-03 10:49] thaJeztah commented on #9365
Also note that we recently merged a PR to use `cgroupfs` as default for docker 1.10; https://github.com/docker/docker/pull/17704 there's still some discussion on that though.

[2015-12-03 10:56] thaJeztah commented on #18125
Should the title of this issue be updated to include "on Go 1.5.1"?

[2015-12-03 10:57] drngsl commented on #18386
@thaJeztah ,sorry, it's my fault. the proxy now is 192.199.100.123.
but my host is ubuntu, so what command can replace systemctl daemon-reload ?

[2015-12-03 11:00] thaJeztah commented on #18380
@jake-low it doesn't work on the *default* bridge network, but should work on a custom network `docker network create mybridge`. Alternatively, you can still use "links"

[2015-12-03 11:01] thaJeztah commented on #18380
@mrjana is there an issue in libnetwork tracking this?

I'll add this to the 1.9.2 milestone, which we will be discussing later today

[2015-12-03 11:03] thaJeztah commented on #18386
It depends on the version of Ubuntu if that uses systemd or upstart ununtu 14.10 and lower use upstart, higher use systemd

[2015-12-03 11:05] drngsl commented on #18386
@thaJeztah , thanks!
I may resolve it.
Previously, I just kill docker daemon process, now I use cmd "service docker restart", it make sense.
I forget whether used this cmd ever.

[2015-12-03 11:11] #18386 closed

[2015-12-03 11:13] thaJeztah commented on #18388
I think docker still has iptables as a requirement; http://docs.docker.com/engine/installation/binaries/#check-runtime-dependencies, and http://docs.docker.com/engine/userguide/networking/default_network/container-communication/

The `--iptables=false` option will disable docker making *changes* to the iptables rules, not disable the use of iptables

[2015-12-03 11:15] thaJeztah commented on #18386
Cool, good to hear you resolved it; killing the docker is not the best way to do that, because it may lead to corruption of files that the daemon writes to, also there's a chance that child processes are not "reaped" properly.

[2015-12-03 12:28] vipconsult commented on #18346
working on building a  mariadb image and here it would also be useful to use env variables from the env file
something like
docker run -d user/mariadb mysqld --wsrep_cluster_address=gcomm://${LB_SERVER}

[2015-12-03 12:37] thaJeztah commented on #18346
just wondering what your objection is to the example @duglin gave; https://github.com/docker/docker/issues/18346#issuecomment-161091288. In what perspective is the eval error prone?

[2015-12-03 13:15] megastef commented on #14201
@cpuguy83 please have a look at this discussion: https://github.com/mcollina/docker-loghose/issues/4
I have seen:
* Container running in background, having tty set to true - with no headers in logs  (raw stream)
* Container running attached to console / interactive - having headers (multiplexed stream)

So I'm confused when we can expect what. Please advise. Docker 1.9.

[2015-12-03 13:25] thaJeztah commented on #18383
I think having multiple architectures (the example here looks more related to different operating systems) might become very confusing in a single Dockerfile, especially in cases where windows and linux are mixed. I think so far consensus was to use different Dockerfiles.

Having said that; if only small differences are needed, could we resolve this with build-time args? https://github.com/docker/

[2015-12-03 13:25] RobQuads commented on #17653
I was hitting this with docker 1.9.1 on RHEL 7.2 but the "--exec-opt native.cgroupdriver=cgroupfs" option has fixed it for me

[2015-12-03 13:26] vipconsult commented on #18346
that I have to remember to start every image using that extra command.

[2015-12-03 13:36] samsamm777 commented on #10324
+ 1 This NEEDS to be implemented also in the dockerfile. It's totally absurd that I cannot set a host alias in a docker image during the build process. I dont see how I should have to supply arguments to the docker run command which should be internal to the container. It makes no sense to me.

[2015-12-03 13:54] phemmer commented on #18388
see also #16964 and #15357

[2015-12-03 13:55] thaJeztah commented on #18382
With https://github.com/docker/docker/pull/17924, layers that are no longer referenced will be automatically garbage collected, so only layers that are still in use by an image will be preserved.

However, since `my_tag2` is build on top of `my_tag1`, it will ultimately share all layers that `my_tag1` created, so those layers are still in use by `my_tag2` and will not be garbage collected.

@tonis

[2015-12-03 13:56] thaJeztah commented on #17559
ping @dhiltgen just a status check; are you currently working on an implementation?

[2015-12-03 14:40] dohnto commented on #15264
I don't know if this is related but I am trying to get to work swift backend storage. When I try to push an image to my repository, i get:

[code]

[2015-12-03 14:49] thaJeztah commented on #15264
@dohnto I think it's better to report that issue, or search for existing issues in the distribution (https://github.com/docker/distribution/issues) repository

[2015-12-03 15:17] salomvary commented on #14203
The magic environment variable "fixed" it for us too. :crying_cat_face:

[2015-12-03 15:27] metal3d commented on #16668
So, at this time, the only way to install docker-engine package from docker repo is to use `dnf download docker-engine-selinux docker-engine` and install them with `rpm -ivh --replacefiles ...`

But any update of fish package with `dnf update` will break... It could be great to have a fix on 1.9.1-X package.

[2015-12-03 15:57] dhiltgen commented on #17559
I haven't made as much progress as I had hoped.  At this point, I don't think I'll manage to get an implementation done in time for 1.10 code freeze. I'm hoping to spend a good chunk of time over the upcoming holidays trying to get an initial implementation going.

[2015-12-03 16:00] runcom commented on #17559
@tiborvass @stevvooe is this the right place for my proposal of blocking registries (docker.io included)  which we talked about at Docker contributors summit?

[2015-12-03 16:30] scottmuc commented on #14203
FYI the following version exhibits this issue:

[code]

but we did not see this issue with:

[code]

That being said... I'm not 100% sure because reproducing the issue is sketchy at best. Our worship of the magical white space has fixed our build and we eagerly await a resolution to this issue.

[2015-12-03 16:49] jjmartres commented on #18180
+1

Docker version 1.9.1, build a34a1d5 on OS X 10.11.1

[2015-12-03 17:00] tiborvass commented on #17996
@gourao thank you for your input. Unfortunately, the storage drivers were already called graph drivers once. This issue is about being consistent with that decision, whether I agree with it or not.

[2015-12-03 17:12] yeroc commented on #11356
This is likely a dupe of #12108?  It looks like there's an issue with how the dependency on device-mapper is specified which also affected CentOS 7.  I just ran into this myself on CentOS 6.5 and doing a `yum upgrade device-mapper` resolved the issue.

[2015-12-03 17:39] jtoy opened #18396 "ADD command does not follow file directory structure when copying current directory"
docker -v
Docker version 1.9.1, build a34a1d5
on mac:
docker-machine -v
docker-machine version 0.5.1 (7e8e38e)

uname -a
Darwin MacBook-Pro.local 14.1.0 Darwin Kernel Version 14.1.0: Mon Dec 22 23:10:38 PST 2014; root:xnu-2782.10.72~2/RELEASE_X86_64 x86_64

when running:
ADD * /home/ubuntu/experiment/

I also tried with:
 ADD ./* /home/ubuntu/experiment/

if the current directory has:
folder1/file

[2015-12-03 17:39] GordonTheTurtle commented on #18396
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-03 17:45] icecrime commented on #18169
See #docker/libnetwork#591.

[2015-12-03 17:49] #16156 closed

[2015-12-03 17:49] aboch commented on #18009
@zhaoxpZTE @cerias @thaJeztah
From the code path, I quite positive the panic can no longer happen after #18106.
Considering this was a corner case (from reproducibility standpoint), I'd suggest to close this issue for now.

If ever we have to reopen, it will be easy to match doing a search on the stack trace.

[2015-12-03 18:01] aboch commented on #18354
Is a container running on network 1 only supposed to know the IP address of a container running on network2 only ?

I think the name resolution has to be considered when evaluating this issue.
AFAIK, until now the containers name resolution is confined to networks where the querying container is attached to.

Just trying to consider all aspects before agreeing that access to exposed services from

[2015-12-03 18:08] cpuguy83 commented on #17854
I'm not sure I follow.

I've got an image I created here:
[code]

Then run the image:
[code]

With the exception of the files we are mounting in, which have always been mounted in, it's all owned by the user I chowned to.

[2015-12-03 18:09] aboch commented on #18294
@mitar
Sorry, can you please explain a little more about the self-documentation ?

Although it seems a simple change, I know a lot of code has to be changed in order to support this.

I am also concerned this would change the default `docker network ls` output where user can identify the three well-known default networks: `bridge, host, null`.
I see it as a stronghold (like `docker0` bridge name)

[2015-12-03 18:19] aboch commented on #18237
@ese

This behavior is intentional.

With the introduction of libnetwork, for backward compatibility reasons the network specific daemon cli options have been kept as is, as they would apply to the default bridge network.

For the newly created network, we want user to use the new cli in which we try to provide well known *driver agnostic* explicit options, while the *driver specific* options can

[2015-12-03 18:26] LK4D4 commented on #17720
Here is my script on Go:
https://gist.github.com/802c801233a45be183d1

[2015-12-03 18:31] mrjana commented on #18380
@thaJeztah Just pushed https://github.com/docker/libnetwork/pull/799 to fix this

[2015-12-03 18:33] oszi commented on #18354
@aboch Consider this use-case:
I run a DNS resolver in the default network and forward port 53 to it (-p 53:53/{udp,tcp}). Then every container has its dns server set to the default bridge's static IP (using the --dns option for the daemon).

I'm not saying that the resolver's container should be directly reachable from another network.
Just the forwarded ports on static IPs on the host.

[2015-12-03 18:37] thaJeztah commented on #18380
Thanks @mrjana

[2015-12-03 18:40] aboch commented on #18257
@zhaoxpZTE
It looks like @WeiZhang555 and @thaJeztah (thanks guys) addressed all your questions and pointed to new (or existing) more specific PR for the issues you reported.

If I have not missed anything, please let me know, do you think it is appropriate to close this issue now ?

[2015-12-03 18:41] zeird opened #18401 "There's no info anywhere that Docker doesn't work with Windows x86 and requires x64"
I was quite surprised and disappointed when the installer said that it requires x64.

You should specify this "little" detail somewhere on the Docker site: in filename and on a couple of pages, like [here](https://docs.docker.com/windows/step_one/) and [here](https://www.docker.com/docker-toolbox), I think, so people know that it won't work on their x86 Windows BEFORE they download and try to inst

[2015-12-03 18:53] thaJeztah commented on #18009
Thanks for looking @aboch, I'll close this issue

[2015-12-03 18:53] #18009 closed

[2015-12-03 18:54] aboch commented on #18169
@ssadler Just tested with a docker image containing @WeiZhang555's change and can confirm it fixes the issue you reported.

Next libnetwork vendoring in docker will bring the fix in. Thanks @WeiZhang555.

[2015-12-03 18:54] KholdStare commented on #8513
@thaJeztah I'm sorry if I sound rude, but that referenced comment does not make any sense. @Globidev has an easily reproducible case where `-t` affects output, and it has been mentioned multiple times throughout the thread. Unfortunately, it does not look like @jfrazelle ran the suggested test case.

[2015-12-03 19:04] thaJeztah commented on #18237
@aboch do you think we should document the available options for the default bridge driver? Or are they already documented (I can check other locations in the docs, but this page doesn't mention them https://github.com/docker/docker/blob/master/docs/reference/commandline/network_create.md)

[2015-12-03 19:09] thaJeztah commented on #17559
@runcom I think this is just for defining a default config file for configuring the existing options that the daemon has; adding more options sounds like a different issue/proposal to me. If that's accepted, we can make the daemon read it from the config file

[2015-12-03 19:10] aboch commented on #18222
@sebi-hgdata
Thanks for reporting this.

Because of the fact exposed port configuration is associated to endpoint, issues like the one you reported is possible when connecting/disconnecting to multiple networks.

We are planning to move the exposed port configuration from endpoint to sandbox.
Will keep you posted on the progress.

[2015-12-03 19:16] aboch commented on #18237
@thaJeztah
Agree, we should (I was not able to find them in the docs either)

[2015-12-03 19:19] vincentwoo commented on #17720
You gotta give me a bit more here:

1. Can you say more about how to run it and what it does?
2. Are you looking for me to try to run this and tell you if takes down my system? What do you want to happen next?

[2015-12-03 19:20] aboch commented on #18354
@oszi Thanks for the clarification, I understand now the use case.

[2015-12-03 19:25] LK4D4 commented on #17720
@vincentwoo It does what your script does. `go run file.go`.
I don't know personally, I'm saying that my system is not affected by your problem, so I can't reproduce with my script.
Other people can try my script too, it's easier to run.

[2015-12-03 19:36] dnephin commented on #18346
I think you could use that command as long as you escape the `$` on the command line:

[code]

[2015-12-03 19:45] stevvooe commented on #17559
@runcom If it was something that supported a compatible syntax, this would definitely be a candidate location for configuration. TOML is more than adequate.

@dhiltgen What is the next step here? I would think we'd want to define a set of use cases. Current use cases would be for defining things like cert file locations and daemon options. I am not sure if there is a way to enumerate them all and

[2015-12-03 19:48] vipconsult commented on #18346
Thanks I will try

[2015-12-03 19:50] KellerFuchs commented on #5989
@nathanleclaire Awesome.
I will give it a spin and check for on-network leakage (I plan to use it over Tor); does it avoid doing DNS queries?

[2015-12-03 19:52] nathanleclaire opened #18403 "docker build error "System error: read parent: connection reset by peer""
Steps to reproduce:

1. On Ubuntu 14.04, have Docker 1.9.1 installed using AUFS.
2. `git clone https://github.com/boot2docker/boot2docker; cd boot2docker`
3. `docker build -t username/boot2docker .`

It will take a long time because boot2docker takes a while to build, but eventually the build fails with:

[code]

In the logs:

[code]

[2015-12-03 19:52] GordonTheTurtle commented on #18403
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-03 19:55] nathanleclaire commented on #18403
I did a `git bisect` to see where this issue first occurs with building boot2docker, and https://github.com/boot2docker/boot2docker/commit/f651ad2017f8b5f2ec7e0c83078dffc37bcab2e2 seems to be the offending commit.  My guess is that bumping the VirtualBox guest additions does not play nicely with the Parallels tools step, but I'm pretty baffled why the Docker server simply resets the connection and

[2015-12-03 19:56] aboch commented on #18113
Thanks @sheldonkwok for sending the file, it was very helpful.

In your case the issue was because the local store file had some inconsistent states, due to a sequence of ungraceful daemon shutdown.
We were able to reproduce and end up our local store file in the same state.

https://github.com/docker/libnetwork/pull/794 was pushed to restrict the chances of ending in such inconsistent file state.

[2015-12-03 20:04] nathanleclaire commented on #5989
@KellerFuchs I'm not 100% sure.  My PR routes the requests from the Docker client to the Docker API through the SOCKS proxy by controlling the low-level `net.Dial`, so I would expect that if there were a DNS lookup as part of that (e.g. if you request API at `host.mydomain.com:2376`) it should go through the proxy as well.  However, I'm not an expert on networking and any analysis of leakage is en

[2015-12-03 20:14] herver commented on #16208
Hi there,

I needed to get Bluetooth LE working inside a container and I managed to get it up and running with the following container opts:
`docker run -ti --privileged --net=host debian:jessie --name bletest /bin/bash`

Then a small example:
[code]
And here bluetoothd seems to be happy...

[2015-12-03 20:22] abronan opened #18405 "Setting --kernel-memory value too low can make the parent process crash"
Related to #18272

So, setting the `--kernel-memory` to a ridiculously low value (like 10/100 bytes) will either end up with `cannot start container: broken pipe` or occasionally make a random process crash (triggers the OOM killer). Ultimately we saw that on Jenkins because it was regularly killing the Jenkins Slave process after the behavior was fixed in docker (value seemed to be ignored before

[2015-12-03 20:36] aboch commented on #17289
@rmb938
It looks like https://github.com/docker/docker/issues/17750 which came in later got more attention and https://github.com/docker/docker/pull/17796 was opened to support multiple networks binding for `docker create` and `docker run`.

If you agree #17796 is a valid fix for your reported issue, we can update the PR description so that this issue will be closed when/if #17796 gets merged.

[2015-12-03 20:40] SgtHotshot commented on #12738
I'm getting the same issue.  Running Docker on my local machine and trying to stop a container gets this error
[code]

docker version is:
Docker version 1.9.1, build a34a1d5

[2015-12-03 20:45] rmb938 commented on #17289
@aboch Yes #17796 does seem like a valid fix.

[2015-12-03 20:52] sedrubal opened #18406 "Docker image tags start with slash (`/`)"
Description of problem:
------------------------------

Docker always adds a `/``in front of the tag names.

- When I run `docker build -t image .`, a image called `/image` will be visible in `docker images`:

[code]

- `docker rmi /image` returns:

[code]
and failes

`docker version`:
----------------------

[code]

`docker info`:
-----------------

[code]

`uname -a`:
---------------

[code]

En

[2015-12-03 21:04] jake-low commented on #18380
@thaJeztah: Wow, I wasn't aware of that distinction, and it's immensely useful to me. Thanks for explaining!

[2015-12-03 21:06] aboch commented on #17289
Thanks @rmb938

@coolljt0725 Can you please update your PR description to also include this issue. Thanks.

[2015-12-03 21:07] sheldonkwok commented on #18113
Great thanks for the quick response and the temporary solution on my end

[2015-12-03 21:12] sgonzalezO opened #18407 "Same container but different run behaviour"
Description of problem:
I've builded an image and then I exported (docker save) to a .tar file. Then I loaded (docker load) the image from the .tar file to two different hosts. When I run the container on host1 everything works the right way, but it doesn't on host2.

Docker version, Docker info and Kernel version on Host1:  (This is a KVM Debian 8 virtual machine)

Docker version, Docker info and

[2015-12-03 21:16] #17446 closed

[2015-12-03 21:17] bavery22 commented on #13885
Also seeing this on ubuntu 14.04, only 8 containers running but high disk and cpu load.  The containers are restarted as they complete so there are always 8 running.  The daemon is dying after anything from a few hundred to a couple of thousand cumulative container runs. I did not see the daemon hang when I was running over loopback but it's happened twice in the last couple of days using the thin

[2015-12-03 21:30] SaMnCo commented on #16208
YES!!!! Thanks!!! Confirmed this --net=host configuration also works with the armv7/armhf-ubuntu:trusty version as well.
I can replicate this.

On a side note, following @jfrazelle thoughts that privileged might not be required, I also tested without this option, and I also got it running.

Summary: both the following let BLE work on a rpi2, with stock armhf Ubuntu 14.04 & docker 1.6.2:
docker run

[2015-12-03 21:31] #18328 closed

[2015-12-03 21:34] noose commented on #16816
I have that same problem.
[code]

What information can I send to you?

[2015-12-03 21:39] aboch commented on #17621
@robdaemon
Given you confirmed you are no longer hitting the panic, is it ok with you if we close this issue acknowledging #17639 as a fix.

Then if you can still reproduce the /etc/hosts it in latest 1.10.0-dev, let's open a dedicated issue for that. It really seems unrelated.

[2015-12-03 21:39] thaJeztah commented on #18222
@aboch shall I put this on the 1.10 milestone?

[2015-12-03 21:53] aboch commented on #18222
@thaJeztah

Ok, tentatively.

[2015-12-03 21:56] mavenugo commented on #18222
@thaJeztah yes. we should support it in 1.10.

[2015-12-03 21:56] fwehrle commented on #16208
Thank you for the solution.
But I run docker on synology and my image need to run servers with ports 22, 80 and 443.
And with --net:host, the -p option to specify port forwarding doesn't work any more.
So sorry for stupide question, but how can I access my container in ssh if port 22 is not available?
Thank you

[2015-12-03 21:56] thaJeztah commented on #18222
Added - milestones are not set in stone, but having it on there makes it easier to see what's left to be done :+1:

[2015-12-03 22:02] aboch commented on #15617
Being `icc` a daemon network configuration, it only applies to the default `bridge` network (the one backed by `docker0` bridge)

After https://github.com/docker/docker/pull/17325 auto population of /etc/hosts has been disabled on default bridge network.

Given this issue is related to a no longer existing behavior, I think it should be closed ? @BenHall WDYT ?

[2015-12-03 22:14] aboch commented on #15537
@jsindy @chakrit
Are you still seeing the port missing issue with 1.9.1 ?

[2015-12-03 22:20] thaJeztah opened #18410 "docs: document options for default network driver"
The default network driver (I.e. Bridge) has additional options that can be passed when creating a custom network, these options aren't documented (unless I overlooked). We should add the options to the documentation.

For reference, see https://github.com/docker/docker/issues/18237#issuecomment-161737492

[2015-12-03 22:20] GordonTheTurtle commented on #18410
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-03 22:22] thaJeztah commented on #18410
ping @aboch if you have a document in the libnetwork repository that describes the available options :+1:

[2015-12-03 22:27] thaJeztah commented on #17446
Yay, the PR has been merged! Thanks for suggesting, @albers!

[2015-12-03 22:29] SaMnCo commented on #16208
@fwehrle In theory you shouldn't have to.
Speaking under the Docker team control, but my understanding is that Docker
containers are supposed to run 1 and only 1 app, not to serve as machine
containers. They actually *replace* the app you would get from apt-get
install or other methods, and serve as a portable way to share applications
in a secured and efficient way. Said otherwise, a Docker image

[2015-12-03 22:48] moxiegirl commented on #18298
@xeor  **Writing down the bugs**: We use Github issues for that kind of tracking. Users can search for specific labels around storage drivers.  Maintaining a list of specific issues is better left to these automated systems than manual lists in the docs. The most we would want to put in the docs is a pre-canned filter for folks.

Using CS requires a purchase...so that has to be made clear.

[2015-12-03 22:51] thaJeztah commented on #18406
I think you're running a docker version that's build by Red Hat; `f7c1d52-dirty` (the `-dirty` indicates that modifications/patches were made to the source)

@rhatdan is this a known issue?

[2015-12-03 23:00] fwehrle commented on #16208
@SaMnCo : Oh.. Ok. Thank you for explanations. I'm a beginner with docker and just try to use an existing image with a full server (mysql, sshd, nginx...) that is the Apps I need to use.
So no choice... But I understand that it's not the good way to use docker.
So I run a container with --net:host, achieve to modify the ssh_config with exec command, restart the service, but ssh still not working o

[2015-12-03 23:04] nigelpoulton commented on #18298
@moxiegirl I'll add some more to this in the morning so don't add it yet.

@xeor I'll take a look at how feasible it is to adding some best practices on the pages specific to each driver so we can keep this section we're updating here non-driver-specific. Things like why /var/lib/docker still fills up etc belong in the driver specific pages IMO.

[2015-12-03 23:09] zelahi commented on #18355
I would like to take on this issue, but please correct me if I am misinterpreting it

The following file needs to be removed:
https://github.com/docker/docker/blob/master/dockerinit/dockerinit.go

and the following file needs to be updated to not reference .dockerinit:
https://github.com/docker/libnetwork/blob/9fb7ba8fa01f0ddce99713799e760223c842fb4b/drivers/bridge/setup_bridgenetfiltering.go#L159

[2015-12-03 23:28] nathanleclaire commented on #18180
This issue really is quite bizarre.  If I `strace` the failing `apt-get` command, the end of the output is:

[code]

Where those (Bad file descriptor) errors continue to loop indefinitely.

[2015-12-03 23:31] SaMnCo commented on #16208
You should have a look into docker-compose to orchestrate a multi container
app. You would have one container for nginx, one for mysql... And they
would linked together.

Regarding your problem I can see one thing: the file to modify is
/etc/sshd_config,  not /etc/ssh_config

Question though, why do you need --net:host on that one? This was only to
enable BLE in the container. For your app, and on

[2015-12-03 23:41] andrewgdavis commented on #18180
[code]
SIGPIPE is failing?   this might correspond to my previous post where I saw java "hello world" causing zombie processes without an explicit "System.exit(0);"  -- or maybe thats a completely different issue.   if so sorry for the noise.

what happens to your cpu while looping indefinitely?

[2015-12-03 23:51] fwehrle commented on #16208
Yes. I read about it and the app I use is available both in an all-in-one docker image and in 3 separate images for nginx, data and mysql. The App is an home automation app called jeedom.
I prefered to use the all-in-one at first because I beginned both with jeedom and docker.
I give a try with the separate container when I have undestood the networking in docker. :)
Now, I need to acces my contai

[2015-12-03 23:56] nathanleclaire commented on #18180
@andrewgdavis It's at 100%

![screen shot 2015-12-03 at 3 55 36 pm](https://cloud.githubusercontent.com/assets/1476820/11577971/5a44fda2-99d6-11e5-990f-3f9c79631e0a.png)

[2015-12-03 23:57] nathanleclaire commented on #18180
That certainly sounds similar to the problem encountered here.

[2015-12-03 23:59] nathanleclaire commented on #5989
@KellerFuchs I think actually it will not route DNS requests, because the Golang `Dialer` does not support `socks5h` so far, just `socks5`.  I've filed an issue here: https://github.com/golang/go/issues/13454

[2015-12-04 00:02] jfrazelle commented on #18355
it touches a lot of places a lot of things will need to be changed in
engine, but awesome you are willing to take it on

On Thu, Dec 3, 2015 at 3:11 PM, Zuhayr Elahi <notifications@github.com>
wrote:

[2015-12-04 00:04] tianon commented on #18180
I can definitely confirm the b2d issue (even did the bisect to track it most positively to the 4.1.13 kernel bump).  I can also reproduce on 4.2.6 with b2d.

As an additional kink, my Gentoo host is currently on 4.1.13 + AUFS patches also, and I'm seeing the same exact problem, so we've definitely ruled out anything b2d-specific.

I think it might be worth trawling through commits between 4.1.12 a

[2015-12-04 00:19] nathanleclaire commented on #18180
Yup, something breaks from kernel 4.1.12 => 4.1.13.  I can confirm that baking a boot2docker ISO for the former doesn't trip this bug but the former does.

[2015-12-04 00:20] nathanleclaire commented on #18180
So, it's not specifically related to boot2docker, but seems to be related to the kernel version interacting with AUFS.

[2015-12-04 00:24] jumanjiman commented on #3043
:+1: for weave

[2015-12-04 00:28] tianon commented on #18180
or perhaps the specific way the AUFS driver in Docker interacts with the
newer kernel -- TBD, probably with a linux-stable git bisect between 4.1.12
and 4.1.13 :cry:

[2015-12-04 00:28] mavenugo commented on #3043
@Lawouach @jumanjiman i havent looked into weave myself. does it support native multicast using IGMP (snooping) ?

[2015-12-04 00:34] tianon commented on #18370
@tonistiigi not sure how large it was before the migration, but after it's 122G; this machine is overlayfs, but I remember my AUFS machine had a pretty long migration time too (although that migration was longer ago, so I don't have useful stats on it anymore :disappointed:)

[2015-12-04 00:39] yunspace opened #18414 "Docker High IO Wait contributing to 90%+ CPU"
We have 2 AWS `m3.medium` instances created via Tutum. However periodically they would experience high CPU load contributing to higher than 90% CPU. This would result in the instance becoming unreachable in Tutum and we need to restart the instances, the problem would eventually come back within a week or so.

We believe this is more of an Docker issue rather than Tutum. These are our NewRelic gra

[2015-12-04 00:39] GordonTheTurtle commented on #18414
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-04 00:41] adam900710 commented on #18382
Thanks for the reply.

Sebastiaan van Stijn wrote on 2015/12/03 05:56 -0800:

For storage backend like device mapper and btrfs, it can be auto removed.

But for real layered fs, like aufs it may still need all the based layers.

So this feature should depend on storage driver.

Thanks

[2015-12-04 00:42] jpawlik commented on #17569
At the very least I think it would make sense to have filter negation. It would help to take care issues like https://github.com/docker/docker/issues/9878, among other things. A wildcard operator would be nice too.

[2015-12-04 00:44] tonistiigi commented on #18370
@tianon You can try `https://github.com/tonistiigi/docker-v1.10-migrator` for a comparison(if you haven't upgraded to #18399). Still I think, the big problem here is the diff algorithm for self-built images.

[2015-12-04 00:52] KellerFuchs commented on #5989
Awesome, thanks.

[2015-12-04 00:52] tonistiigi commented on #18382
@thaJeztah With #17924 we could remove the parent image, but we have chosen not to allow it because we didn't want to make UI changes that were not critical.

Actually deleting the btrfs snapshot is more difficult. All graphdrivers follow universal interface and docker doesn't know the implementation details. Even if we would make exceptions this would break push, where docker needs to construct t

[2015-12-04 01:10] robdaemon commented on #17621
Sounds good to me, thanks.

[2015-12-04 01:10] #17621 closed

[2015-12-04 01:11] ssadler commented on #18169
Thanks @WeiZhang555 @aboch

[2015-12-04 01:11] coolljt0725 commented on #17289
@aboch  sorry, very busy these these days. I'll update my PR on this weekend.

[2015-12-04 01:15] andrewgdavis commented on #18180
i've got a hair brained theory...

http://git.kernel.org/cgit/linux/kernel/git/stable/linux-stable.git/commit/?h=v4.1.13&id=6c0da28df5dac10672efe955eb89051a850008eb

the commit above makes a change to filemap.c to generic_perform_write(struct file *file, struct iov_iter *i, loff_t pos)

below is the chunk of code i personally want to test because the comment describes both deadlock and livelock ra

[2015-12-04 01:27] zhaoxpZTE commented on #18257
@aboch Yes, please! Thanks!

[2015-12-04 01:30] zhaoxpZTE commented on #18009
@thaJeztah Thanks for the download link!

[2015-12-04 01:34] WeiZhang555 commented on #18169
Glad to help :smile:

[2015-12-04 01:42] zhaoxpZTE commented on #18357
@mavenugo Would you please help me to check this issue? Thanks!

[2015-12-04 01:44] adam900710 commented on #18382
In fact, btrfs can get delta update between 2 subvolumes by "btrfs send".
https://btrfs.wiki.kernel.org/index.php/Incremental_Backup

That would be a simulation of old layered fs, to get a delta between two images.
Not sure whether device mapper/zfs can provide such function though.

I'm OK about current docker behavior but it would be super nice if it can take full use of storage backend.

Thanks

[2015-12-04 01:45] phemmer commented on #18414
What leads you to this idea?

[2015-12-04 01:49] tonistiigi commented on #18382
@adam900710 This would be useful for build and could be implemented on top of current interface. For push we only need access to the data per layer as we already have the metadata of the layer stored.

[2015-12-04 02:48] calebx opened #18419 "unable to see folder files in volume mounted from windows host"
uname -a
``` MINGW64_NT-10.0 DESKTOP-GCN3BNN 2.1.0(0.288/5/3) 2015-06-28 18:57 x86_64 Msys ```

docker --version
``` Docker version 1.9.1, build a34a1d5 ```

docker info
[code]

and my pc os is windows 10, D: driver is NTFS

### Steps to Reproduce:
in powershell run by as admin
``` PS D:\code> docker run --privileged -it --rm --name db --volume-driver=flocker -v /d/code:/code ubuntu:14.04 /bin/bas

[2015-12-04 03:09] hqhq commented on #18323
I don't think change fatal log to warning on daemon start makes much difference. It still can't create any containers. If remove fatal log on container create, could leak a hole.
If we really want to do this, a new option could be better, let user use this option if they really know what they are doing.

[2015-12-04 03:24] vaab opened #18420 "``docker stats CONTAINER`` reports zero memory usage"
This is the line I have after launching a sample ``docker stats``:

[code]

Docker version and docker info are at the end of this report if needed. But before, let me add that:
- on same docker version (1.9.1) but different host, it works fine
- I have clear warning about no support of memory limit upon ``docker info``.
- I have ran check-config from https://github.com/docker/docker/raw/master/con

[2015-12-04 03:25] gourao commented on #10161
@edwintorok - Just for completeness, would it be possible to get the same matrix completed with ZFS as well?  I don't have your same exact config for an apples to apples comparison, but I think it would be interesting  to complete this matrix with ZFS.  Sorry to ask!

[2015-12-04 03:33] tjdett commented on #17854
@cpuguy83 Yeah, you've missed the important part. With your test image:

#### Docker 1.8.3
[code]

#### Docker 1.9.x
[code]

In case it doesn't stand out:
[code]

In your test image, `/etc` shouldn't be owned by root. You chowned it to `daemon`, so unless there's a spec somewhere that says otherwise, it should still be owned by `daemon`.

Why is this important?

#### Docker 1.8.3
[code]

#### Dock

[2015-12-04 03:35] #18305 closed

[2015-12-04 03:38] dgutierrez1287 opened #18421 "unexpected EOF when running docker build"
docker version 1.9.1 when I run a docker build on a CentOS machine I keep seeing an unexpected EOF error. I tried the same build (same docker file and all contributing files) on an Ubuntu machine and there is no unexpected EOF error.

[2015-12-04 03:38] GordonTheTurtle commented on #18421
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-04 03:56] cpuguy83 commented on #18419
This is because your `/d` is not going to be mounted by boot2docker, which is running in a VM.
You are seeing the contents of `/d/code` on the VM, which is probably nothing unless you manually added stuff there.

[2015-12-04 04:18] samuelkarp commented on #18314
@rhvgoyal I was able to test a separate block device with `direct-lvm` and the performance does look better.  However, this is still a pretty big performance difference using `loop-lvm` between Docker 1.7.1 and Docker 1.9.1.

[2015-12-04 04:29] mavenugo commented on #18357
@zhaoxpZTE this is expected. Containers in overlay networks are fully isolated from being accessed from external networks (including host).

But these containers are by default given a way to reach externally via a special `docker_gwbridge` network which enables access to external network (including the host). Since these containers are also connected to the `docker_gwbridge` network, one can acce

[2015-12-04 04:34] bean5 commented on #18180
@andrewgdavis one could use that commit during git bisect as a specific testing point!

[2015-12-04 04:37] Dreampie opened #18422 "MAC docker: '--insecure-registry' is not a docker-machine command."
[code]

[2015-12-04 04:37] GordonTheTurtle commented on #18422
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-04 04:39] Dreampie commented on #18422
[code]

[2015-12-04 05:58] zhaoxpZTE commented on #18357
@mavenugo Thanks! I've got it.

[2015-12-04 06:28] purpleidea commented on #18323
On Thu, Dec 3, 2015 at 10:10 PM, Qiang Huang <notifications@github.com>
wrote:

That's fine if you're okay with it. I don't want to create any containers.
I only want to docker pull. If there is a better way (even perhaps using
the systemd dkr code instead?) lmk!

Thanks,
James

[2015-12-04 06:34] gilo commented on #17846
@thaJeztah  I am getting the same error with docker 1.9.1 on ubuntu 14.04 following a system restart. The workaround works for me but I need to automate it to happen after restart.

docker version 1.9.1, build a34a1d5
Linux testim-docker-01 3.13.0-68-generic #111-Ubuntu SMP Fri Nov 6 18:17:06 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

[2015-12-04 06:39] SaMnCo commented on #16208
Makes sense, thanks for the background.

So:
- check that you exposed the new ports with -p 3022:3022 and that no other
service uses it
- modify nginx virtual hosts to move ports 80 and 443 to 10080 and 10443.
Then also run the container(s) with -p 10080:10080 -p 10443:10443

That should do I guess
On Dec 4, 2015 12:52 AM, "fwehrle" <notifications@github.com> wrote:

[2015-12-04 06:39] leejansq opened #18423 "docker daemon crash when netmode = overlay"
$ uname -a
Linux localhost.localdomain 4.1.8-200.fc22.x86_64 #1 SMP Tue Sep 22 12:13:21 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

$ docker version
Client:
 Version:      1.10.0-dev
 API version:  1.22
 Go version:   go1.5
 Git commit:   c920895-dirty
 Built:        Thu Dec  3 09:31:16 UTC 2015
 OS/Arch:      linux/amd64

Server:
 Version:      1.10.0-dev
 API version:  1.22
 Go version:   go1.5
 Gi

[2015-12-04 06:43] wenchma opened #18424 "docker inspect --type=container reports "no such id..""
Description of problem:

    $ docker inspect 2b81d178e32a
    Error: No such image or container: 2b81d178e32a
    []
    $ docker inspect --type image 2b81d178e32a
    Error: No such image: 2b81d178e32a
    []
    $ docker inspect --type container 2b81d178e32a
    Error response from daemon: no such id: 2b81d178e32a[]
    $ docker inspect --type=container testttt
    Error response from daemon: n

[2015-12-04 06:47] hqhq commented on #18323
@purpleidea If change fatal log to warning on daemon create works for you, you can open a PR for that, I think it won't affect others. It's the easiest way to make everyone happy :)

[2015-12-04 06:50] SaMnCo commented on #16208
Argh, sorry the file is /etc/*ssh*/sshd_config. For the rest, it "works on
my system and network" :)

On Thu, Dec 3, 2015 at 11:28 PM, Samuel Cozannet <samnco@gmail.com> wrote:

--
SaM'n'Co
R'U Ready? I was BORN ready!

[2015-12-04 07:09] herver commented on #16208
What's even better is to not run SSH and do enter the running container with via `docker exec`, for instance

[code]

Hope it helps.

[2015-12-04 07:29] depay opened #18426 "docker login supports differences between authentication and authorization failure"
When docker once login successfully, the id:pass are stored in config. Next time login, if using the same id, docker will use the same id:pass in config. And if password was changed in auth_server and response with auth failure, docker will treat the response as same as no authority of the specific action.

Docker will not remove the wrong old id:pass in config itself, then it can hardly do anythi

[2015-12-04 07:29] GordonTheTurtle commented on #18426
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-04 07:30] depay commented on #18426
changing the base64 string in config.json for easy testing.

[2015-12-04 07:33] SaMnCo commented on #16208
Does that work remotely? I was under the impression the goal was to access
it from the network.
Otherwise yes +1 to this solution (and +1000 if doable remotely)

On Fri, Dec 4, 2015 at 8:10 AM, herver <notifications@github.com> wrote:

--
SaM'n'Co
R'U Ready? I was BORN ready!

[2015-12-04 07:49] edwintorok commented on #10161
On 12/04/2015 05:26 AM, Gou Rao wrote:

I only have zfs-fuse available on Debian, is that what I should test?

[2015-12-04 08:00] thaJeztah commented on #18357
@mavenugo think we should improve the documentation around that?

[2015-12-04 08:11] ndeloof commented on #4237
@calavera can you please explain why this issue has been closed ?
I'm looking into implementing a docker garbage collector, and this would be a big helper for this use-case.

[2015-12-04 08:19] fwehrle commented on #16208
@SaMnCo : Thank you.
But how can I :+1: create a container (with "run"), then modify the ports, then map the ports forwarding with -p option on the already created container? Is it possible?

[2015-12-04 08:22] zhaoxpZTE commented on #18357
Maybe the documentation has already mentioned that but I didn't read it carefully :sweat_smile:

[2015-12-04 08:41] hqhq commented on #18405
#debs
Yeah we should check the minimum as memory limit does.

[2015-12-04 08:45] hgangwx commented on #18256
@thaJeztah I verified on docker version 1.9.1, seems the ewindisch_cirros_1 image can be deleted correctly, but when I delete the original image "ewindisch/cirros", it returns an error info , and I observed that the tag and name of image "ewindisch/cirros" is deleted.
Can you check again? below is my operation log:
root@quasarsdnve1:/etc#  docker version
Client:
 Version:      1.9.1
 API version:

[2015-12-04 08:48] SaMnCo commented on #16208
Great, glad to hear it works for you.

I don't know if you can add ports to a live container. However, here are a
few solutions for you:

* Create a Dockerfile, build your container image, and when you run it
you'll be able to add ports. Plus it makes the workflow repeatable, even
better :)
* Maybe snapshot your container with the commit function:
    docker commit <containerid> <foo/running>

[2015-12-04 09:07] JAremko commented on #13026
Nested builds could be really great for the "from scratch" containers as they require host system for the executable to be build on.

[2015-12-04 09:13] coolljt0725 commented on #18256
@hgangwx  can you try the `master` branch? #17108 is not included in `1.9.1`

[2015-12-04 09:25] HackToday opened #18429 "docker reference guide image can not be started"
$ docker version
Client:
 Version:      1.9.1
 API version:  1.21
 Go version:   go1.4.2
 Git commit:   a34a1d5
 Built:        Fri Nov 20 13:12:04 UTC 2015
 OS/Arch:      linux/amd64

Server:
 Version:      1.9.1
 API version:  1.21
 Go version:   go1.4.2
 Git commit:   a34a1d5
 Built:        Fri Nov 20 13:12:04 UTC 2015
 OS/Arch:      linux/amd64

Follow this guide  https://docs.docker.com/engine

[2015-12-04 09:25] GordonTheTurtle commented on #18429
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-04 09:27] fwehrle commented on #16208
@SaMnCo : You make my day! :)
Effectively, with --net=host, I think there is no need to declare port forwarding.
I'll test it and tell you.
PS : I know about security with net host option, but my host isn't in front and I have a proxy. But thank you for advices.
About commit option : I used it days ago, but it make my image making uge. I have now to found a solution to merge the layers to reduce i

[2015-12-04 09:33] HackToday opened #18430 "Userns: run with --pid=host failed with unfriendly message"
according to
https://github.com/docker/docker/blob/master/experimental/userns.md

the user namespace have restriction with sharing namespaces with the host (--pid=host, --net=host, etc.), but I tried this pid example:
https://docs.docker.com/engine/reference/run/

[code]

It not tell us what's failed with because of user namespace or not. Is it designed ? If yes, it is very confusing

[code]

[2015-12-04 09:33] GordonTheTurtle commented on #18430
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-04 09:35] HackToday commented on #18430
ping @thaJeztah

[2015-12-04 09:54] pandeiro commented on #17960
I've tried the proposed solution with `sudo mv /var/lib/docker/network/files/ /path/to/backup/docker-network-files` and it did not solve the problem. Would so love a fix for this annoying issue...

docker version:

[code]

uname -a

[code]

docker info

[code]

[2015-12-04 09:55] SaMnCo commented on #16208
Cool!! Happy to have been helpful.

A quick hack to make images smaller: I often use this base-image :
https://github.com/phusion/baseimage-docker

then at the end of the Dockerfile (or before commiting)

#  apt-get clean && rm -rf /var/lib/apt/lists/* /tmp/* /var/tmp/*

This will delete all the cache of apt and .deb that are now useless (since
they are installed). You can save 100's of megs like

[2015-12-04 10:27] wrouesnel opened #18431 "Support additional logging streams beyond stdout/stderr"
Applications which have multiple output streams to files in many cases cannot be easily or at all reconfigured to log to stdout/stderr.

Docker should be able to expose additional FDs to containers which could be collected as logging streams, tagged with a name and FD number. This would let multiple log streams from dockerized applications point their log streams to predictable fifo's to receive t

[2015-12-04 10:27] GordonTheTurtle commented on #18431
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-04 10:48] relgames commented on #16628
I have the same issue with Docker 1.9.1 running in a docker-machine:

[code]

[code]

[code]

[code]
docker inspect results http://pastebin.com/9UzCd1jc

docker stop 3dc78f76c0e5 just hangs.
sudo docker stop 3dc78f76c0e5 does not help.

Here is /var/log/docker.log:
[code]

ps aux gives interesting results:
[code]
I think this is the container, because port 8983 is used by Solr.
And when I tried to

[2015-12-04 10:51] relgames commented on #16628
http://askubuntu.com/questions/201303/what-is-defunct-for-a-process-and-why-it-doesnt-get-killed says those are zombie processes and are shown in a process table because parent process could not handle them properly. Parent process for my 2 zombies is docker daemon.

[2015-12-04 10:54] thaJeztah commented on #17621
Thanks for reporting and testing, @robdaemon!

[2015-12-04 10:58] thaJeztah commented on #18257
Thanks for reporting @zhaoxpZTE!

[2015-12-04 10:58] #18257 closed

[2015-12-04 11:03] thaJeztah commented on #18314
@samuelkarp the difference between 1.7.1 and 1.9.1 is measured using the same base size? (`--storage-opt dm.basesize=10G`)

[2015-12-04 11:53] lanwen commented on #13228
Hello, is there any workaround for it?

[2015-12-04 12:39] dgutierrez1287 commented on #18421
Both machines are Vagrant boxes running in Virtualbox.

CentOS 7 machine:
docker version:
Client:
 Version:      1.9.1
 API version:  1.21
 Go version:   go1.4.2
 Git commit:   a34a1d5
 Built:        Fri Nov 20 13:25:01 UTC 2015
 OS/Arch:      linux/amd64
Cannot connect to the Docker daemon. Is the docker daemon running on this host?

docker info:
Cannot connect to the Docker daemon. Is the docker

[2015-12-04 13:27] thaJeztah commented on #18422
Correct; the `--insecure-registry` option is an option for the docker daemon ("engine"). Docker machine is software to create and provision machines/hosts where the docker engine runs on.

To pass configuration settings for the daemon ("engine") when creating a new machine, see this section; http://docs.docker.com/machine/reference/create/#specifying-configuration-options-for-the-created-docker-en

[2015-12-04 13:27] #18422 closed

[2015-12-04 13:35] thaJeztah commented on #18420
Thanks for an excellent bug report, and doing the research!

Good question, I know memory-limit is affected by the availability of these options, but not sure if they (should) affect reading memory use here.

ping @crosbymichael perhaps you know if this is expected behavior if these options are missing, or is this a bug?

[2015-12-04 13:53] timbunce commented on #16344
I just hit this. `sudo sh -c 'rm -r /var/lib/docker/*'` then `sudo systemctl start docker` worked for me.

[2015-12-04 13:57] candidtim commented on #16628
I have the same issue with Docker 1.9.1 (didn't observe it with 1.7 before). Same symptoms: `docker stop` on a container "hangs up", same thing with `docker rm -f` and same thing after I restart the docker service (while containers are reported as "Exited" I still cannot remove them). The only remedy is a system restart, after which the containers are in "Dead" status [and lose their original name

[2015-12-04 14:05] jakirkham commented on #18180
Seeing a similar hang when shutting down `mongodb`. Definitely present in 1.9.x. Not present in 1.8.x.

[2015-12-04 14:08] thaJeztah commented on #18414
Did this make a difference? Or to early to tell?

[2015-12-04 14:09] liviubalan commented on #5899
If you want learn how to switch to another user on Ubuntu using the su command you can checkout <a href="http://www.liviubalan.com/switch-user-on-ubuntu-using-su-command">Switch user on Ubuntu using su command (video tutorial)</a>.

[2015-12-04 14:18] thaJeztah commented on #18426
Thanks for suggesting, @depay

/cc @stevvooe I'm not too familiar with how this is implemented in the registry, also not sure if this is an issue to be solved in the open source project, or docker-hub (or both)

[2015-12-04 14:24] asziranyi commented on #17960
@pandeiro a
[code]
or logs might help to find the real cause.

[2015-12-04 14:27] koyadume commented on #17676
Thank you @thaJeztah for detailed explanation.

[2015-12-04 14:34] thaJeztah commented on #17846
@gilo it may be that the daemon didn't shut down clean because of that restart, resulting in some corruption in the database. I think @aboch made changes in libnetwork to better recover from those situations. If you encounter that situation, could you backup the old `local-kv.db` file, so that we can analyze it?

[2015-12-04 14:41] grantford commented on #18337
Check two things:
- Is ICC set to false for the docker daemon? (Unlikely, true is the default)
- Make sure iptables doesn't have a REJECT line that's blocking communication between the containers

[2015-12-04 14:44] thaJeztah commented on #18396
Thanks for reporting @jtoy, this looks like a duplicate of https://github.com/docker/docker/issues/15858, and that issue contains an explanation (and the reason we cannot fix it without breaking backwards compatibility).

If you agree this is a duplicate, could you close this issue?

[2015-12-04 14:50] thaJeztah commented on #18419
Yes, this is because, by default, boot2docker only shares the "users" directory with Windows. You can find more information about that, and instructions on how to add additional directories, here: https://github.com/boot2docker/boot2docker#virtualbox-guest-additions

Alternatively, make sure the `code` directory is in a subdirectory of `C:\Users`, and it should work out of the box

I'm going to cl

[2015-12-04 14:50] #18419 closed

[2015-12-04 14:56] thaJeztah commented on #17289
@aboch @coolljt0725 @rmb938 I'll close this issue as a duplicate of https://github.com/docker/docker/issues/17750, and add a mention in https://github.com/docker/docker/pull/17796

[2015-12-04 14:56] #17289 closed

[2015-12-04 14:56] garagatyi opened #18433 "OOM event of exec is the same as OOM event of container main process"
It is not possible to tell the difference between OOM events of exec and container main process. Example of these events:
OOM of exec
[code]
OOM  of main process of container
[code]
Is it a normal behavior or these events should differ?

To reproduce:
[code]
Then in other terminal:
[code]
Then in first terminal:
[code]
Wait a minute or two, then:
[code]
Wait a minute or two.

Output of curl:
[code

[2015-12-04 14:56] GordonTheTurtle commented on #18433
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-04 15:03] thaJeztah commented on #18433
There's an open proposal to add more information / meta-data to events; https://github.com/docker/docker/issues/18164. (If possible) we could add the PID of the process that OOM'd, would that work for your use case?

[2015-12-04 15:05] johnjelinek commented on #17879
@abronan: how do I downgrade docker now? I tried replacing the binary and also with `docker-machine upgrade <machine-name>`
[code]

[2015-12-04 15:05] driver2000 commented on #8910
I've found a dirty workaround for this issue, try in this way :
`docker run -ti ertorrent bash -c "rebar compile 1>&1"`

[2015-12-04 15:08] cpuguy83 commented on #17854
@tjdett Thanks!

I think this might have come from the userns work.
Ping @estesp.
This is happening due to some call to `idtools.MkdirAllAs`
Note this is happening in the *stable* build

[2015-12-04 15:15] garagatyi commented on #18433
I love idea to add more metadata to events. And yes adding PID will help in current use case.

[2015-12-04 15:44] kung-foo commented on #12080
FWIW, I "solved" the `supervisord` issue above by changing the sock to `/dev/shm/supervisor.sock`.

[2015-12-04 15:49] estesp commented on #17854
I've figured out the issue--I'll be generating a PR

[2015-12-04 16:12] rhvgoyal commented on #18314
Ok, I did some testing with container creation time. Wrote a simple script to create containers from an image in loop.

'docker create fedora bash'

I monitored container creation and deletion time of 300 containers both with 1.7.1 and 1.9.1. And as per my numbers 1.9.1 is better than 1.7.1. in terms of container creation time. Container deletion is little slower but not much difference.

1.7.1 (3

[2015-12-04 16:13] rhvgoyal commented on #18314
@samuelkarp we need to narrow down the problem a bit. May be it is a configuration difference issue. I am using lvm thin pool on real block devices with xfs as root filesystem for containers.

[2015-12-04 16:22] fsouza commented on #18363
Would something like that work?

[code]

Asking before applying such a solution to other handlers and send the pull request.

[2015-12-04 16:23] gramakri commented on #12738
Using docker 1.9.0 (api 1.21) here, same error.
[code]
I can inspect it
[code]
The process does not exist.
[code]

[2015-12-04 16:43] Dreampie commented on #18422
yeah，i found it，but only for create，can not with modify？

[2015-12-04 16:57] olof commented on #8910
Yeah, I can confirm that your workaround doesn't trigger the problem. Interesting.

[2015-12-04 17:09] BrianAdams commented on #18357
I would have expected to see a mention in http://docs.master.dockerproject.org/articles/networking/  This was helpful. Thanks!

[2015-12-04 17:22] rhvgoyal commented on #18314
I ran same 300 container creation/deletion test on top of loop devices. I have used dm.basesize=10G as we know deletion of 100G device is a problem on loop devices. Creation time has gone up in 1.9.1 while deletion time remains or or less same.

Not sure why container creation time has improved with real block devices while it has deteriorated with loop devices.

1.7.1 (300 containers)
--
Time tak

[2015-12-04 17:30] samuelkarp commented on #18314
@thaJeztah @rhvgoyal I'm testing with the defaults for devicemapper on both Docker 1.7.1 and 1.9.1.  This means loop-lvm, 64kb blocksize, and basesize of 10G for 1.7.1 and 100G for 1.9.1.  @rhvgoyal, I don't see your bash script attached here, but an important part of [my test](https://gist.github.com/samuelkarp/cab8f8bfd50a99df8959) is that there are creates and deletes happening concurrently.

[2015-12-04 17:31] estesp opened #18437 "Possibly flaky new test: TestInspectByPrefix"
Seems this has been intermittently failing on master on quite a few PRs, which is confusing as the busybox image is queried to get its ID (and that never fails).  Can't reproduce locally so hard to determine what part of this is failing.

[code]

ping @tonistiigi @aaronlehmann

[2015-12-04 17:31] GordonTheTurtle commented on #18437
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-04 17:32] estesp commented on #18437
Full example run with failure: https://jenkins.dockerproject.org/job/Docker-PRs-experimental/11850/console

[2015-12-04 17:36] rick-maclean commented on #15272
I downloaded the most recent docker toolbox and was trying to run this from Docker Quickstart bash window (C:\Users\username\AppData\Local\Programs\Git\bin\bash.exe)
Windows 7 Professional

I also tried it from the bash the normal way I launch that at had the same problem.

[2015-12-04 17:38] aaronlehmann commented on #18437
Perhaps the problem here is that the tests aren't isolated, so depending what happened before, busybox could either be loaded from a tar or pulled from the hub. I would expect this behavior to be relatively deterministic, though.

Another possibility is that network glitches are causing some busybox pulls to fall back to v1, which would lead to a different ID.

[2015-12-04 17:40] tonistiigi commented on #18437
@aaronlehmann why would the ID matter though? Any ID should work.

[2015-12-04 17:41] rhvgoyal commented on #18314
@samuelkarp I am using following script.

https://gist.github.com/rhvgoyal/7def207b8cdada650056

[2015-12-04 17:45] estesp commented on #18437
What was confusing to me is that you've asked the daemon to give you the `Id` of busybox in test 1; so the ID should be valid on this daemon. My wonder was what if the 3 chars is not unique--but I didn't dig far enough to your prefix lookup code to see what it returns if the length is not unique (I know the container lookup code very well with the pkg/truncindex stuff but didn't know if you use th

[2015-12-04 17:45] aaronlehmann commented on #18437
Ah, I thought it was assuming a specific ID based on the version of busybox in the tar. It looks like that's not the case.

[2015-12-04 17:53] rhvgoyal commented on #18314
@samuelkarp can you use dm.basesize=10G for 1.9.1 and re-run your script and see if you notice any difference between 1.7.1 and 1.9.1

[2015-12-04 17:55] jhowardmsft commented on #15272
@rick-maclean Same request for info as per above please... Particularly docker version

[2015-12-04 18:35] johnjelinek commented on #17879
my fault ... I needed to delete the newer docker binary from my path.

[2015-12-04 18:59] aboch commented on #13228
@MalteJ Are you interested in porting your change to libnetwork ?
This feature is still not provided.

[2015-12-04 19:10] MalteJ commented on #13228
@aboch unfortunately I have no time at the moment.
Feel free to fork and port :wink:

[2015-12-04 19:53] #17854 closed

[2015-12-04 20:17] moxiegirl opened #18439 "The make release hangs"
Created a new fork from current master, this is what I am seeing:

[code]

[2015-12-04 20:17] GordonTheTurtle commented on #18439
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-04 20:18] moxiegirl commented on #18439
I also noticed the build output is displaying the AWS secret and key etc. Probably shouldn't be doing that.

[2015-12-04 20:20] moxiegirl commented on #18439
Env: Latest `docker-machine` and `docker` 1.9

[2015-12-04 20:24] virtualzone commented on #18180
I've been able to solve this issue for myself by increasing the docker-machine VM's memory from 1024 to 2048 MB and assigning 2 CPUs instead of 1.

[2015-12-04 20:26] rick-maclean commented on #15272
I ran this from the docker quickstart terminal
$ docker version
Client version: 1.7.0
Client API version: 1.19
Go version (client): go1.4.2
Git commit (client): 0baf609
OS/Arch (client): windows/amd64
Server version: 1.9.1
Server API version: 1.21
Go version (server): go1.4.3
Git commit (server): a34a1d5
OS/Arch (server): linux/amd64

next I tried to run docker login
$docker login
Username (rickma

[2015-12-04 20:28] moxiegirl opened #18440 "Remote API version listing is not incremental #54"
https://docs.docker.com/reference/api/docker_remote_api/

![image](https://cloud.githubusercontent.com/assets/668860/10025840/2b075478-6113-11e5-8b6c-b07477b1e507.png)

[2015-12-04 20:28] GordonTheTurtle commented on #18440
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-04 20:30] moxiegirl opened #18441 "Customer reports digest pull command is incorrect"
I believe the pull command list in [this section](https://docs.docker.com/userguide/dockerimages/#image-digests) is incorrect.

Has:

[code]

Should be:

[code]

[2015-12-04 20:30] GordonTheTurtle commented on #18441
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-04 21:14] sroegner commented on #10490
FWIW we have been using the (Fedora) default storage options but mounted an 80GB TMPFS for /var/lib/docker/devicemapper. We run Hadoop cluster containers in there for integration test targets and using TMPFS effectively cuts overall test runtime in half for us with quite reasonable stability. hth

[2015-12-04 21:33] cmurf commented on #7952
Still a problem in kernel-4.4.0-0.rc3.git0.1.fc24.x86_64

Given a Btrfs volume with subvolumes A, B, C in the top level, and A and B are mounted with -o subvol=A[B] (i.e. the top level itself is not mounted), when I try to mount subvolume C using -o subvol=C,context"system_u:object_r:svirt_sandbox_file_t:s0:c1,c2" I get:

[13301.295040] SELinux: mount invalid.  Same superblock, different security

[2015-12-04 21:35] vincentwoo commented on #10490
I ran into trouble trying to run overlayfs on top of tmpfs (I'm still not sure you actually *can*). Thanks for your tip!

[2015-12-04 21:59] marsinvasion commented on #18180
Works:

VM: Ubuntu 14.04 (2gb ram)
Docker Engine: 1.9.1
Docker base image: ubuntu:latest

Does not work:

VM: Ubuntu 15.10 (2 gb ram)
Docker Engine: 1.9.1,1.9.0,1.8.3
Docker base image: ubuntu:latest, ubuntu:14.04

[2015-12-04 22:01] nathanleclaire commented on #18180
@marsinvasion If possible, can you print the output of `uname -a` on both tested systems?

[2015-12-04 22:09] marsinvasion commented on #18180
VM: Ubuntu 14.04
Linux ubuntu 3.19.0-25-generic #26~14.04.1-Ubuntu SMP Fri Jul 24 21:16:20 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

VM: Ubuntu 15.10
Linux ubuntu 4.2.0-19-generic #23-Ubuntu SMP Wed Nov 11 11:39:30 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

[2015-12-04 22:49] #18437 closed

[2015-12-04 23:02] ndelitski commented on #18295
have same issues
[code]
[code]
[code]
[code]

[2015-12-04 23:04] wr0ngway opened #18444 "Headless install of docker fails on ubuntu 15.10"
Description of problem:

I'm trying to install docker-engine 1.9.1 in a  headless fashion on ubuntu wily 15.10, and it is failing with:

[code]

By headless, I mean I am using the user-data feature of ec2 to run the install script:

[code]

I launch an ec2 instance (m3.medium) using the ubuntu wily 15.10 ami (ami-305d115a) and the above user-data script (you can do this in the ec2 web ui)

Once th

[2015-12-04 23:37] egorpushkin commented on #18180
+1
Docker version 1.9.1, build a34a1d5 on OS X 10.11.1

[2015-12-05 00:52] whymarrh commented on #17960
I think I can reproduce this issue in the following Vagrant environment:

[code]

When I initially start up the VM, Docker commands work fine. Output from a few notable commands:

- `uname -a`

        Linux vagrant-ubuntu-vivid-64 3.19.0-37-generic #42-Ubuntu SMP Fri Nov 20 18:22:05 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

- `lsb_release -a`

        No LSB modules are available.
        Distribu

[2015-12-05 00:54] samuelkarp commented on #18314
@rhvgoyal Performance looks better with `dm.basesize=10G` or with `direct-lvm`.

[2015-12-05 00:54] alivt opened #18445 ""flag provided but not defined: --exec-driver""
Docker version:
--------------------
Docker version 1.8.0-dev, build a031b64

Docker Info:
---------------
Containers: 38
Images: 77
Storage Driver: devicemapper
 Pool Name: docker-8:2-16122109-pool
 Pool Blocksize: 65.54 kB
 Backing Filesystem: extfs
 Data file: /dev/loop0
 Metadata file: /dev/loop1
 Data Space Used: 1.762 GB
 Data Space Total: 107.4 GB
 Data Space Available: 105.6 GB
 Metadata S

[2015-12-05 00:54] GordonTheTurtle commented on #18445
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-05 01:00] LK4D4 commented on #18445
@alivt It's daemon-wide flag, you can specify it only when you're starting daemon.

[2015-12-05 01:00] #18445 closed

[2015-12-05 01:10] alivt commented on #18445
[12:09:28] root@hulk0 ~ # docker run -d -p 12345:8080 --exec-driver=lxc --lxc-conf="lxc.cgroup.net_cls.classid=0x00100001" --volumes-from SWIFT_DATA2 -t morrisjobke/docker-swift-onlyone
flag provided but not defined: --exec-driver
See 'docker run --help'.

[2015-12-05 01:35] jhowardmsft commented on #15272
So that's why. The bug wasn't fixed until 1.10 on the Windows client. 1.7 definitely had the bug. by running ssh, you're running a Linux binary which doesn't have the bug.

[2015-12-05 01:42] hmalphettes commented on #13490
@kepkin this is how I pass an ssh-key to `docker build`:

[code]

and inside the Dockerfile where 172.17.0.1 is the docker gateway IP:
[code]

If someone has something simpler let us know.

[2015-12-05 01:58] stevvooe commented on #18426
@aaronlehmann @tonistiigi @dmcgowan This sounds like a legitimate bug. I'm not sure on the specifics. I think I have seen other users run into this, as well.

[2015-12-05 02:45] #18421 closed

[2015-12-05 02:46] dgutierrez1287 commented on #18421
I did some more testing it was an issue with the install that is resolved.

[2015-12-05 02:56] gourao commented on #10161
I don't expect zfs via fuse to actually do any better so I suppose that is not a useful test.

[2015-12-05 06:08] phemmer commented on #18445
@alivt that's not daemon mode. daemon mode is when you're starting the docker daemon, not starting a container. E.G `docker daemon --exec-driver=lxc ...`

[2015-12-05 06:14] alivt commented on #18445
@phemmer I do not see daemon as a possible command, may be docker version problem (1.8.0-dev):
[17:15:21] root@hulk2 ~ # docker daemon --exec-driver=lxc
docker: 'daemon' is not a docker command.

Anyways, I was able to use lxc driver using following approach:

1) I started docker daemon: "docker -e lxc -d"
2) And separately launched the image: "docker -e lxc run -d -p 12346:8080 --cap-add=NET_ADMI

[2015-12-05 06:16] HackToday commented on #18326
This was test against with #18247

[2015-12-05 06:16] HackToday commented on #18430
This was test against with #18247

[2015-12-05 06:17] HackToday commented on #18429
This was test against with #18247

[2015-12-05 06:17] HackToday commented on #18429
This was test against with #18247

[2015-12-05 06:25] HackToday commented on #18444
For the failed cases, you can manually start docker, and check why it failed, from logs. I think it can help.

[2015-12-05 06:28] HackToday commented on #18440
This issue seems already fixed

[2015-12-05 06:33] HackToday opened #18448 "docker user namespace experimental doc need specify what incompatible issue is"
in doc https://github.com/docker/docker/blob/master/experimental/userns.md it only said, for example:

The following standard Docker features are currently incompatible when running a Docker daemon with experimental user namespaces enabled:

    sharing namespaces with the host (--pid=host, --net=host, etc.)

When I enabled user namespace  feature, and try this

$ docker run -it --ipc=host  ubuntu

[2015-12-05 06:33] GordonTheTurtle commented on #18448
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-05 06:34] HackToday commented on #18448
ping @estesp

[2015-12-05 06:34] HackToday commented on #18448
This is test against with #18247

[2015-12-05 12:52] thaJeztah commented on #18430
Thanks @HackToday, could you perhaps also add the output of `docker info`, and the options you set on the daemon?

If you run a normal build of docker (non-experimental) on the same host, does that work without problems?

also ping @estesp for UserNS

[2015-12-05 12:59] thaJeztah commented on #18326
Thanks @HackToday, I think I've seen this happen on regular builds as well, but not sure why the dependencies fail on some systems. I think one of the other issues had some more info, I'll try to find that one.

[2015-12-05 13:03] thaJeztah commented on #18326
@HackToday I think this is a duplicate of  https://github.com/docker/docker/issues/17063, and see this comment for a possible solution; https://github.com/docker/docker/pull/13680#issuecomment-122369631

Can you try if that helps?

[2015-12-05 13:07] thaJeztah commented on #12080
@kung-foo thanks, possibly that's a workaround for some others as well

[2015-12-05 13:20] thaJeztah commented on #15272
@jhowardmsft we're considering a 1.9.2 release, think we should cherry-pick that fix into that release? Do you remember which PR fixed this?

[2015-12-05 13:28] wr0ngway commented on #18444
If I start it manually with `service docker start` after the failure case (without reinstalling), it starts successfully.
Note from the failure case above, this message:

    Dec 04 21:55:40 ip-10-1-3-83 docker[2283]: time="2015-12-04T21:55:40.104265748Z" level=fatal msg="No sockets found"

[2015-12-05 13:36] HackToday commented on #18326
Hi @thaJeztah  tried the ubuntu 15.04, and it have new init-helper related packages.

For you mentioned  #13680 (comment)  I not try it yet.  My whole point is do we have related such comments in docker official guide(whether user guide or install guide) Could you give me the link  ? Since when I try experimental build , I would refer docker official link and instrcutions

[2015-12-05 13:37] thaJeztah commented on #17960
@whymarrh does the daemon log show anything useful? Reason for the service not starting successfully? For debugging, it may be worth adding `-D` to the daemon options, or starting it manually, `docker daemon -D ...`

[2015-12-05 13:40] thaJeztah commented on #18326
@HackToday we do mention purging the old packages here; https://docs.docker.com/engine/installation/ubuntulinux/#update-your-apt-sources (see step 9). Perhaps we should add it to the https://get.docker.com / https://experimental.docker.com scripts as well, but we're trying to encourage people to use the manual install procedure

[2015-12-05 13:41] wr0ngway commented on #18444
Likewise, if I modify the user-data script to `sudo service docker start` at the end, docker starts up successfully even though the install failed as before.  Thus my conclusion that for some reason the docker.socket service (systemd dependency?) does not get started during a headless install, but everything else is otherwise ok.

Note that I'm actually trying to setup an AWS auto scale group for

[2015-12-05 13:42] thaJeztah commented on #18363
ping @mavenugo @cpuguy83 ^^ thanks!

[2015-12-05 13:43] #15617 closed

[2015-12-05 13:43] BenHall commented on #15617
As per @aboch comments... :)

[2015-12-05 13:43] HackToday commented on #18430
Hi @thaJeztah

ubuntu@dockerexper:~$ docker info
Containers: 13
Images: 4
Server Version: 1.10.0-dev
Storage Driver: aufs
 Root Dir: /var/lib/docker/165536.165536/aufs
 Backing Filesystem: extfs
 Dirs: 46
 Dirperm1 Supported: true
Execution Driver: native-0.2
Logging Driver: json-file
Plugins:
 Volume: local
 Network: null host bridge
Kernel Version: 3.19.0-30-generic
Operating System: Ubuntu 15.0

[2015-12-05 13:44] thaJeztah commented on #18433
ping @calavera wdyt? would that be possible, and a reasonable thing to add to the event as meta-data?

[2015-12-05 13:48] thaJeztah commented on #18430
Thanks @HackToday! I'll leave this to @estesp who is probably better able to look into this, thanks for reporting! (Phil, I'll assign this to you, because you're "Mr. Userns"  :+1: )

[2015-12-05 13:49] thaJeztah commented on #15617
Thanks @BenHall!

[2015-12-05 13:57] HackToday commented on #18326
Hi @thaJeztah  I think two difference things:

1. for experiemental guide, it is the only one given
https://github.com/docker/docker/tree/master/experimental
And it not said how to configure the apt source for experimental build .

And that experimental used script  curl -sSL https://experimental.docker.com/ | sh
it seems not need manual configure apt source steps.

2. Second. if you mean configur

[2015-12-05 13:58] HackToday commented on #18326
And for ubuntu 15.04, I can use this curl -sSL https://experimental.docker.com/ | sh directly. No issues.

But ubuntu 14.04 not work.

[2015-12-05 14:00] thaJeztah commented on #18421
Thanks for reporting back @dgutierrez1287, and great that it's resolved for you!

[2015-12-05 14:02] HackToday commented on #18448
also ping @thaJeztah

[2015-12-05 14:11] cpuguy83 commented on #18363
@fsouza Looks good!
One thing is we currently register errors in the package in `errors/`, and then call something like `return derr.NetworkNameConflict.WithArgs(create.Name)`

[2015-12-05 14:14] thaJeztah commented on #18448
@HackToday are you interested in creating a pull request to add that to that document?

[2015-12-05 14:22] thaJeztah commented on #18444
Possibly related to https://github.com/docker/docker/issues/17464, and https://github.com/docker/docker/pull/17903. I see you're using devicemapper with loop-lvm; the change to 100G makes initialization a lot longer, and in some cases causes systemd to timeout. Also, using loops for production is really discouraged because performance is really slow.

[2015-12-05 14:26] thaJeztah commented on #18445
@alivt 1.8.0-dev is really outdated. Also are you running that command on the host that the daemon runs on? If you're running that on (e.g.) an OS X client, you'll get that message, because the OS X client is a "client-only" build (I.e., doesn't have the daemon built in)

[2015-12-05 14:36] alivt commented on #18445
@thaJeztah  I am on CentOS 6.5 and yes I am running these commands on same host.
I tried to update the docker-engine by removing and reinstalling but yum installed this one. Is there any document other than following?
https://docs.docker.com/engine/installation/centos/

I want to reinstall docker to newer version.

[2015-12-05 14:43] thaJeztah commented on #18445
@alivt docker 1.7.1 is the latest version that's supported on CentOS 6; http://yum.dockerproject.org/repo/main/centos/6/Packages/. We no longer support CentOS 6 for newer releases.

[2015-12-05 14:49] wr0ngway commented on #18444
Thanks for the tips, this is for a project for internal development needs, so nothing too performance critical yet, but its good to know what the easy wins are.  Is there a way to set things up pre-install so that the docker install picks a better set of defaults (i.e. to avoid a potential systemd timeout during install)?

[2015-12-05 14:49] alivt commented on #18445
@thaJeztah  Thanks I had 1.7.1 but I updated to 1.8.0-dev. I will revert back.

Thanks for the info.

[2015-12-05 14:51] HackToday commented on #18448
@thaJeztah sure, but right now the issue is that feature not tell us clearly what's the compatibility issue is,
is it just complain --pid can not be used with usernamespace. or something else.

So most of part depend on the one who implemented user namespace feature before. as he wrote the doc. he should know clearly what;s the issue is and what error msg is right.

[2015-12-05 14:54] thaJeztah commented on #18444
Hm, in your case, systemd is used, so I think you should create a drop-in file that overrides the default settings defined in the systemd unit file. Here's some info on creating a drop-in to override settings; http://docs.docker.com/engine/articles/systemd/#custom-docker-daemon-options

The default unit file as is used by docker can be found here;
https://github.com/docker/docker/blob/master/contr

[2015-12-05 14:57] thaJeztah commented on #18444
Also interested to hear if that worked out for you. I don't think we currently have anything in our documentation describing how to set the defaults in an automated setup, perhaps we should have some docs around that to give users some pointers (obviously, we shouldn't go into detail w.r.t ansible, chef etc, but some pointers could be useful)

[2015-12-05 15:00] thaJeztah commented on #18444
Just thinking, perhaps docker-machine could be an option, because docker-machine allows you to set additional options to be used when creating a machine. I think work is done to make docker-machine more usable for automated installs, but I'd defer that one to @nathanleclaire who should be better able to tell that

ping @nathanleclaire perhaps you have some suggestions?

[2015-12-05 15:02] thaJeztah commented on #18445
@alivt if possible, I'd recommend to upgrade your system, CentOS 6 is really getting old, and the kernel used (2.6) is ancient. Of course, it really depends on your situation if you're able to do that, but if possible....

[2015-12-05 15:03] wr0ngway commented on #18444
Ok, thanks, I am already creating drop-in files for systemd post-install to setup --cluster* options for use with consul, but not sure if that will work pre-install to avoid the issue I'm seeing.  I'll play with the settings from the other issues and see if that helps, but given that I'm able to install manually on a fresh instance, but not install headless on an identical fresh instance, it may w

[2015-12-05 15:06] thaJeztah commented on #18444
cool, I'm really no systemd expert, so cannot give you advice there, but keep us informed, we welcome feedback and suggestions for additions or improvements to the docs :+1: