[2016-10-12 08:26] nikolyabb commented on #22893
You can use ADD somefile.tar.bz2 /somefolder
With this instruction ownership of files inside archive will pass through when it extracts. This is not good, but efficient way to solve that. And no need to get archive somewhere outside of context.

[2016-10-12 08:32] chandan5 commented on #24697
I had the same problem as mentioned by @julianonunes . I am using Docker for Mac.
It got solved by using `docker build --build-arg HTTP_PROXY=foo`
Thanks! @cpuguy83 😃
It would be great if someone can make a patch for build to use same proxy as run. 😄

[2016-10-12 08:34] IoBes commented on #23796
Hi!
On windows Server 2016 you need to use "Elevation" (Run as Administrator) on your cmd or powershell.

Had same error, till tried to run commands from elevated shell.
Kitematic - started with administrative rights is working also very well.

Is there a possibility to give rights for other users? Possibly through local user groups?

[2016-10-12 08:50] tpbowden commented on #26781
I managed to reproduce this issue using Golang 1.6, but when I upgraded to 1.7 it was fixed. Is this related to something within the standard library?

[2016-10-12 08:50] #26781 closed

[2016-10-12 09:01] mpekalski commented on #24697
I have the same problem and setting env variables globally or within the docker image did not help.

[code]

[2016-10-12 09:05] GottZ commented on #20486
i just updated to 1.12.1 without knowing about this issue. well i confirm this on archlinux. docker build: 23cf638

[2016-10-12 09:28] felipeleon73 commented on #21189
I wrote a script based on that described by Docker Saigon [.](http://docker-saigon.github.io/post/Docker-Beta/)
In the same folder as the script you must create the certs.d folder with all its ramifications.

`$dockercerts="/host/etc/docker/certs.d"
$TEMPHOST="TEMP"

docker run --privileged --rm -v /var/run/docker.sock:/var/run/docker.sock -v /usr/bin/docker:/usr/bin/docker alpine docker run --net

[2016-10-12 09:38] rahal opened #27315 "my app's go process could'nt attach correctly to 127.0.0.1:port"
**Description**

I'm trying to publish my go app as a docker image, my app is using  : http.ListenAndServe("127.0.0.1:"+port, nil)  to start the server.
The application was running corretly in my environnement but not as a docker container.

**Steps to reproduce the issue:**
1. Build a simple go application that start a server on 127.0.0.1:port
2. Dockerise it
3. Start the container

**Describe th

[2016-10-12 09:47] merijnv commented on #25303
Somewhere this was asked:

We want to have an MQ, which is running on a native OS rather than within docker, and reach that by name. We do not control the DNS resolving, so I would like to add 'my-queuing-server' as an ip-address in /etc/hosts as seen by the container.

[2016-10-12 09:52] RushOnline commented on #2174
@mrjana not sure for now. 2 weeks before the same sequence  as in you example was result "connection reset", for now is ok.

[2016-10-12 10:32] runcom commented on #27281
This is expected behavior afaict and works like this for Docker Hub as well

[2016-10-12 10:36] runcom commented on #27289
alright, I remember we had a similar issue in 1.10.3 (w/o containerd+runc) and that has been fixed with https://github.com/docker/docker/pull/21018 - we're likely hitting the same scenario afaict (somehow)

[2016-10-12 10:43] bmerry commented on #27281
Huh? The error message is incorrect and unhelpful. How is that expected behaviour?

[2016-10-12 11:05] justincormack commented on #27315
`127.0.0.1` in a container is a special local interface within that container, that you can only reach from another process within the container.

For most use cases you want to listen on `0.0.0.0`.

[2016-10-12 11:11] rahal commented on #27315
Thank you Justin for your clarification.

[2016-10-12 11:39] justincormack commented on #27315
I am going to close this issue, as it is not a bug, but feel free to continue asking questions.

[2016-10-12 11:39] #27315 closed

[2016-10-12 12:07] #27288 closed

[2016-10-12 12:37] mne91 commented on #27263
@aboch

I am not sure actually, I am creating the **bridge inside /etc/network/interfaces** file.

Could you tell me **how to prevent him from taking the ip from dhcp and force him to use what I wrote in interfaces** file?

[2016-10-12 13:05] bbayani commented on #26346
Raised PR#27317. Can someone please review? Thanks!

[2016-10-12 14:12] helgeho commented on #13817
@thaJeztah @Maximus5 I had the same issue and the new docker.exe from the 1.12.2 RC1 indeed fixes it partially. Arrow keys work on Bash now, so moving up and down in the history does work, however, it turns out that they still don't work everywhere. For instance, inside 'less' you still cannot navigate in an opened file with the arrow keys, when running it inside a container on ConEmu. This can ea

[2016-10-12 14:22] bmudda commented on #735
+1

[2016-10-12 14:32] mpekalski commented on #24697
What helped in my case was setting up `HTTP_PROXY, http_proxy, HTTPS_PROXY, https_proxy`  in docker file (I build my image form a file not repository) and setting up
[code]
in

`/etc/systemd/system/docker.service.d/http-proxy.conf`

and then running
[code]

I do not know if that is of a matter here, but I used proxy server IP addresses in docker file and domain names in docker file.

[2016-10-12 14:32] PaulKGray opened #27318 "Docker swarm from DAB file infinitely tries to pull an image."
---
## BUG REPORT INFORMATION

**Description**

When you deploy a dab file to docker swarm with a reference to a docker image that does not exist, it does not stop trying to get the image. Docker logs each of these attempts until the dockerfile.log file fills the server.

**Steps to reproduce the issue:**
1. From a team city deployment script
2. Create a docker DAB file with an image repository th

[2016-10-12 14:36] mlaventure commented on #27289
The call to the `exec/.*/start` endpoint waits for all the streams to be closed (https://github.com/docker/docker/blob/9db46989294621ca63b200a690921ceb62c63db8/container/container.go#L460), so I'm a bit perplexed on how this can happen if the exec doesn't get killed or cancelled atm

[2016-10-12 14:42] ncdc commented on #27289
@runcom ... maybe? Note that this reproducer doesn't use a tty.

@mlarcher agreed, it is perplexing. Maybe the issue isn't in docker's exec flow but is in containerd or runc? I enabled debug logging for the daemon and the output was identical as best I could tell for both the "good" and "bad" exec cases. In other words, both showed `attach: stdout: begin` and `attach: stdout: end` (and the same fo

[2016-10-12 14:43] reypm opened #27319 "IPv4 forwarding fails with static IP address and compose up"
**Description**
I have configured my network to be static rather than DHCP at office. The content of the configuration is as follow:
[code]
Then I have tried to test a docker compose I am working on by running:
[code]
Everything went fine but at some point the build stopped with this message:

I am not sure how to fix this or if I am missing something. This is the content of the `docker-compose.ym

[2016-10-12 14:57] reypm commented on #27319
Hey guys, nvm this is a host issue, [this post](https://mikewilliamson.wordpress.com/2013/10/06/docker-networking/) help me

[2016-10-12 14:57] #27319 closed

[2016-10-12 15:03] justincormack commented on #27298
cc @dmcgowan

[2016-10-12 15:06] mlaventure commented on #27289
It seems that `containerd`/`container-shim` are correctly waiting too.

The shim waits for the streams [here](https://github.com/docker/containerd/blob/0ac3cd1be170d180b2baed755e8f0da547ceb267/containerd-shim/main.go#L119) and the daemon waits for the shim to exit [here](https://github.com/docker/containerd/blob/0ac3cd1be170d180b2baed755e8f0da547ceb267/supervisor/exit.go#L76).

The pipe files are

[2016-10-12 15:07] justincormack commented on #24344
@favoretti this should work, modulo the issues that @djs55 mentioned - the DNS servers on Moby are just proxies to the Mac, which will use the latest information. If you have a specific feature request/issue around that that is not working, I recommend opening an issue on https://github.com/docker/for-mac/issues with details of exactly how to replicate.

[2016-10-12 15:16] justincormack commented on #1916
@drstapletron `mount` does not require `--privileged` only a more restricted capability set and is much more likely to happen sooner than a full privileged mode, as that gives full root access to the host which most people do not want. (It still has security issues but they are more manageable).

[2016-10-12 15:19] dastrasmue commented on #25925
I had the same issue with 1.12.1 on Ubuntu 16.04.
Here was the Dockerfile to reproduce the error:
[code]

Updating to 1.12.2 fixed it.

[2016-10-12 15:25] Vanuan commented on #735
Yeah, it would be much more convenient to create thousands of layers and monolithic apps. Personally, I wouldn't want to see such Dockerfiles in the docker ecosystem.

Let's look a the use case.

It sounds like people want multiple inheritance here, to build a **monolithic** image which uses **multiple languages and technologies**.

AFAIK, the philosophy of docker ecosystem is to **break down mono

[2016-10-12 15:34] remram44 commented on #25925
A lot of us fixed the issue by upgrading (or in my case downgrading) while really restarting the daemon might have made the problem disappear. @zigarn confirmed that this doesn't happen every time and that restarting the daemon usually fixes it.

[2016-10-12 15:40] gobadiah commented on #26563
I'm having this issue as well with `Docker version 1.12.2, build bb80604, experimental`

Two nodes, one master one worker. Two services, one is web, one is redis. I've created them using the recent `docker deploy mydabfile`, but I suspect this has nothing to do with it.

The nodes have been created in mac like so :
[code]

I have this :
[code]

`web` is on both nodes, `redis` is only on the master

[2016-10-12 15:49] foxylion commented on #27185
@mlaventure As soon as it occurs again I'll post the `events.log`.

[2016-10-12 16:01] jhowardmsft opened #27320 "PERF: docker create regressed by 130ms due to #22234"
@tonistiigi Found by our perf team internally, and as mentioned in https://github.com/docker/docker/pull/22234#issuecomment-221142907

It looks like https://github.com/docker/docker/pull/22234 caused a 4x perf degradation (measured on Windows, but affects both Linux and Windows containers).

Measured using HDD, We used to be at 40ms before this change, an went up to about 170ms on HDD. The main re

[2016-10-12 16:01] justincormack commented on #27318
The idea is that the tag may exist in future, so it continues to try. This is the "desired state" model. You can update the service if you made a mistake.

I don't think the file will "fill the computer" though.

[2016-10-12 16:08] flixr commented on #25879
Didn't test the static binaries, I would assume they work... it's just the deb from jessie that has wrong dependencies for ubuntu trusty...

[2016-10-12 16:19] mrjana commented on #26563
@gobadiah Pinging the VIP is not something that is expected to work in this release.

[2016-10-12 16:25] JettJones commented on #27312
Confirmed locally that 1.12.2 appears to fix this.  That was released [yesterday](https://github.com/docker/docker/releases/tag/v1.12.2)? such timing!

[2016-10-12 16:26] mavenugo commented on #27312
Thanks @JettJones for confirmation. closing.

[2016-10-12 16:26] #27312 closed

[2016-10-12 16:27] mlaventure commented on #25879
@flixr unfortunately the static binaries will be the easiest way for you to go for now then

[2016-10-12 16:32] aboch commented on #27158
I believe there is no way the following error string can get constructed with the OSS docker for Linux image.

[code]

This issue must be specific to Docker for Mac.
@dennis-bell  Can you please close this issue and re-open it on https://github.com/docker/for-mac project.

Thanks.

[2016-10-12 16:37] flixr commented on #25879
I still don't understand what the issue is why it can't be packaged for the other distris...
If I would understand the problem, I could spend a bit of time and try to find a fix...

[2016-10-12 16:42] mlaventure commented on #25879
When generated the deb packages, both `debian-jessie` and `raspbian-jessie` end up naming their `.deb` the same and overwriting each other.

So I guess we could still generate the `ubuntu-trusty` one without conflict. I'm not sure why both `debian-jessie` and `ubuntu-trusty` were removed as a result.

@tiborvass ?

[2016-10-12 17:04] aboch commented on #27263
@mne91 I am not sure, it may have to do with the fact you are enslaving your `eth0` interface into the bridge. Please try change that and see if the makes a difference. Or find out how to statically configure the IP address for your bridge.

[2016-10-12 17:06] saithala opened #27321 "Docker Swarm + --mount flag"
**Description**

I'm facing an issue with --mount flag. Im trying to create a service for Postgres SQL. For data persistence, I'm trying to mount the container directory to the host directory. The following are  the steps I took. What Im I doing wrong?
**Steps to reproduce the issue:**
1.  sudo docker service create --name database --mount type=bind,source=/opt/api-db/qa,destination=/var/lib/postg

[2016-10-12 17:12] tiborvass commented on #25879
@mlaventure It had something to do with different versions of ARM I believe. cc @DieterReuter

[2016-10-12 17:12] jamshid commented on #25074
If you're still seeing this (I just did on Docker for Mac 1.12.1) you might followup in https://github.com/docker/compose/issues/3277
https://forums.docker.com/t/port-mappings-are-not-released/10565

I had to "docker-compose down" to remove containers and the network and restart Docker for Mac. Use `netstat -anv` or `lsof -nP +c 15 | grep LISTEN` to see what's using a port on OSX.

[2016-10-12 17:13] chipironcin commented on #22786
It happens to me while doing DIND with overlay.
[code]

`ps -aux` output:
[code]

[2016-10-12 17:18] tonistiigi commented on #27132
@darrenstahlmsft Yes, `library` and `docker.io` are special for default username and host. If user doesn't know about them it can be confusing. It's a feature to mix these references in a way I showed in my previous comment. If you pull `library/busybox` you never get `library/busybox` but just `busybox` because `library/*` is special. There is no way for an user to ever create a reference with `l

[2016-10-12 17:35] yongtang commented on #25855
Created a PR #27322 to address this issue.

[2016-10-12 17:37] saithala opened #27323 "Docker 1.12.2 docker ps hangs"
**Description**

After upgrading to the latest version of Docker Engine with Swarm mode (1.12.2) executing command docker ps hangs every now and then. Restarting the docker daemon solves the issue

[2016-10-12 17:45] dmcgowan commented on #27298
@MohammedYunus do you mind sending your `docker info`? If you are not using user namespaces (such as with `--userns-remap`) this would be expected behavior based on your instructions. If you see `ls -ld /u01/app/oracle/product` after the `mkdir` shows root/root, then the commit will keep those permissions. If you `chown oracle/oinstall` after making the directory then it should be preserved after

[2016-10-12 17:46] LK4D4 commented on #27323
@saithala Can you try to send `SIGUSR1` to dockerd process when it happens? It should send goroutine stack trace to logs. Pls, send us that stack then.

[2016-10-12 17:46] mrjana commented on #27268
@groyee There are a lot of node flapping happening in the serf gossip cluster from what I can see from the logs. Is there a problem in the underlying network in terms of congestion? In general I see network congestion from the logs and it is affecting a number of different functions in docker which require a reliable network. Certain excerpts:

**Gossip flapping**
[code]

**Node discovery**
[code]

[2016-10-12 17:55] bnaylor opened #27324 "Feature request: Centralized validation of host dependencies for plugins"
We are containerizing the [NetApp Docker Volume Plugin](https://github.com/NetApp/netappdvp) for use with the new 'docker plugin' system.

This plugin supports mounting volumes for the NFS and iSCSI protocols.  For various reasons related to how mounting and data traffic work with these protocols, our plugin can only be partially containerized -- we need to execute certain commands on the containe

[2016-10-12 18:02] groyee commented on #27268
We are using the standard Azure network.

Pinging Azure internal IP always works. This issue happens only with the overlay network.

Also, I don't really understand how come this node can ping to any other container in the swarm cluster and how come restart the container or even the entire machine doesn't help.

[2016-10-12 18:09] mrjana commented on #27268
can it ping any other container on the same node as other container which it failed to ping? It looks like there is some problem either with communicating with that node in port 7946/udp and 7946/tcp or 4789/udp. Can you try to use tools like `nc` to connect to these ports after the problem has happened? It seems like there is some thing blocking traffic on these ports. That might explain why thin

[2016-10-12 18:10] mrjana commented on #27268
Also there seems to be a general problem with image pulls timing out which should not be using the overlay network. Not sure at the moment if they are related or not.

[2016-10-12 18:12] groyee commented on #27268
Any other container, running on any other node (except useralerts2-prod) can successfully ping to dockeruser_kafka_1 container (10.0.7.7).

Please let me know if you still want me to run some tests.

[2016-10-12 18:16] aeikenberry commented on #27233
Same here. My `docker version` has the same output. Here's my `docker info`

[code]

[2016-10-12 18:18] groyee commented on #27268
Regarding you questions:

_

_

I just checked it, and it can ping to other containers running on kafka1-prod

[2016-10-12 18:21] prophet60091 opened #27326 "Corrupted drive partition on Windows 10pro v. 1607 using hyper-v after hibernation/sleep"
**Steps to reproduce the issue:**
I was able to reproduce this error twice.
1.  Install docker
2. use a mounted drive, to a local file system to make a container
3. make save run stop basic ubuntu containers.
4. use/install node in those containers, run some node programs.
5.Manipulate files in shared drive.
6. allow windows to sleep or hibernate (not sure if full restarts cause it too, I didn't w

[2016-10-12 18:28] groyee commented on #27268
If it was a one time issue or at least we had some workaround we could live with that for now. The problem is that it happens every day to a different container and there is no workaround. Currently what I do is delete the node from Azure and create a new one every time it happens.

[2016-10-12 18:31] nishanttotla commented on #27173
@aaronlehmann it should be supported. In the SwarmKit agent, we explicitly override hostname in the node description if it exists, so we should catch any updates.
[code]
I'll try to reproduce this issue.

[2016-10-12 18:54] stevvooe commented on #26781
@tpbowden Yes, as far as we can tell. We worked around it in #27306.

We failed to ascertain the root cause. If someone was willing to investigate further, it would be helpful, as the hack I've put in is not my proudest moment.

[2016-10-12 19:00] errordeveloper commented on #27261
Yes, with a self-explanatory flag and without having to care about the path on either side.

I've read the discussion in #25347 briefly just now. I think it shouldn't be done pure with `--privileged` flag, a separate flag would be needed, I'd imagine...

[2016-10-12 19:04] stevvooe commented on #27307
We'll have to try a few things out here. I think we'll know more when we start seeing the volume of container metrics.

It might be good to review these PRs based on metrics endpoint output, rather than purely code. I think it will clear up a lot of confusion and that will be the interface that we standardize upon.

I just need to go read the implementation. This one is on me.

[2016-10-12 19:14] MohammedYunus commented on #27298
The default user on container startup is "oracle" and not root. so the mkdir is done as the "oracle" user.
But once the container is commited to image, the ownership for the same directory becomes root

Pasting the docker info output
$> docker info
Containers: 1
 Running: 0
 Paused: 0
 Stopped: 1
Images: 16
Server Version: 1.12.1
Storage Driver: overlay2
 Backing Filesystem: extfs
Logging Driver:

[2016-10-12 19:15] brian-brazil commented on #27307
I don't see the volume being a major issue as long as we avoid 1), the challenge is more around semantics and edge cases.

The short version is that you give Prometheus a list of targets, each target having whatever metadata might be useful as a set of key/value pairs. I'm guessing here we'd be talking about a regular poll of the Docker API to get this information. That's then offered up to the us

[2016-10-12 19:19] lamawithonel commented on #1916
So I have a completely portable, non-host-modifying use case.  It is even open source and you can see it [here](https://github.com/lamawithonel/simp-builder-docker).

Basically, I want to run Mock in a portable Docker container to build a customized CentOS ISO image.  Mock, for those that don't know, is a containerized RPM builder.  The problem is, since it uses containers I need `--privileged` or

[2016-10-12 19:32] DieterReuter commented on #25879
@mlaventure as we (@tiborvass and I) discovered this problem with overwriting debian/raspbian .deb in 1.12.1 we run out of time and had to play it save. So we decided to keep the raspbian .deb which is able to run on Raspbian and Debian (it's built for ARMv6). Ubuntu wasn't tested at all to that time and we decided to skip it, too.

Best way would be to fix the issues with overwriting debian/raspb

[2016-10-12 19:39] flixr commented on #25879
I'm running the older ubuntu deb and it's working fine.
If needed I can probably build 1.12.2 on my nvidia tegra and re-test...

Probably all armhf deb builds should be updated to have the RUNC buildtags as well, as in #27327

[2016-10-12 20:35] normanv commented on #26435
Thank you for helping @aboch

Some feedback on macvlan driver with 1.12.x. : it does solve the slow docker daemon startup issue and takes only few seconds to start. (However I have now some trouble when trying to connect  a container to one macvlan network and one bridge network, but this is unrelated I will open a new issue.)

[2016-10-12 20:38] aboch commented on #26391
Thanks @djenriquez . Yes that could very likely be the case, you are restoring an iptables rules snapshot which does not include the newly added docker rule. So the new rule gets lost after the restore.

[2016-10-12 20:44] mrjana commented on #27268
@groyee I see that the gossip Query was building up from `2016/10/07 11:49:08` to `2016/10/07 12:02:52 ` and then you probably rebooted the node. The gossip query building up indicates a networking congestion during that time which it never recovered from. But this should atleast be cleared when you rebooted the node. After you rebooted the node there were no query queue buildup but that informati

[2016-10-12 20:58] mrjana commented on #27268
You mentioned in your bug report that you have 200 containers. Is it spread across all the 100VMs? Also do you bring them down and up too often?

[2016-10-12 20:59] crosbymichael commented on #27202
From reading the stuff it does not seem to be a problem handling signals but that we close the ptymaster when the copy returns because systemd closes the stdin.

@DirkTheDaring do you have an easy way to help verify a fix if I create a patch?

[2016-10-12 21:03] mrjana commented on #2174
So what do we do with this issue? Should we close this? I am not sure what more we can get out of this issue. It is pretty clear the issues various folks are having with port publish is probably not related to docker-proxy listening issues as it is actually listening to both ipv4 and ipv6 addresses if the host is dual-stacked. It is probably due to some other issue involving may be iptable rules.

[2016-10-12 21:21] mrunalp commented on #27202
@crosbymichael That's my read of the problem as well. One solution that I read about was detecting that the slave is being opened using inotify.

[2016-10-12 21:25] RushOnline commented on #2174
@mrjana I think there are not one way to get this issue, but if user do all right he will not get it. So I think this is not docker bug, but signal to make more diagnosis messages or improve docs. IMHO - you can close it.

[2016-10-12 21:25] sebi-hgdata commented on #27268
@groyee can  you try a reversed ping?(ping the container from the one that  it cant reach) And see if it recovers? I think there are a couple of issues like this

[2016-10-12 21:28] mavenugo commented on #27101
Closing the issue based on @aboch response.

[2016-10-12 21:28] #27101 closed

[2016-10-12 21:30] anthonyserious commented on #27218
Thanks for the replies.  I'm still trying some things and will get the requested info - apologies for the delay.  @mrjana yes, it appears to be very much specific to docker4mac native, since the "equivalent" setup with a node on a Linux laptop works fine.

[2016-10-12 21:34] zachwalton commented on #26434
I'm getting this too with the current experimental train:

[code]

I am unfortunately unable to provide the image; are there logs or anything else that could help further diagnose?

[2016-10-12 21:36] jdmarshall commented on #18789
@hholst80 Let me ask the reverse question:  why would someone have a symlink in their docker directory if they weren't serious about including it in the docker image?

[2016-10-12 21:38] groyee commented on #27268
We have about 200 containers spread across ~90 VMs.

We do bring containers up and down based on the system load. Sort of auto scaling.

WOW. I just did reversed ping and it recovered!!! Can you please explain me what is going on here?

[2016-10-12 21:39] tonistiigi commented on #26434
@zachwalton Unfortunately the fix here didn't make into `v1.12.2`. Can you test with the master build from https://master.dockerproject.org/

[2016-10-12 21:43] mavenugo commented on #26492
@dm0- Thanks for the info. It seems this is not a docker issue. Closing it now,
@edevil pls let us know if you think this is a docker issue.

[2016-10-12 21:43] #26492 closed

[2016-10-12 21:51] zachwalton commented on #26434
Same issue with `1.13.0-dev@32f93fd`:

[code]

[2016-10-12 21:51] mavenugo commented on #26391
thanks @djenriquez @aboch closing the issue based on the above comment. pls feel free to reopen it if the problem persist.

[2016-10-12 21:51] #26391 closed

[2016-10-12 22:01] justincormack commented on #27324
Can you explain why you can't manage with containerised dependencies?

[2016-10-12 22:03] tonistiigi commented on #26434
@TanmayaA Have you been able to test your images so we could see if the new report is something different

[2016-10-12 22:05] groyee commented on #27268
So, I guess the question is what now? Is it a docker issue? Is it a libnetwork issue? Is it something else?

I guess I could write some script that will run on each container and ping all other containers every few seconds but I don't think this is a good solution for production.

Should I drop the docker overlay network and use --net=host? I know it's probably a bad idea but if it at least be sta

[2016-10-12 22:13] hhzguo opened #27330 "Weird behavior"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
I have two container images where are built from the same process,
Container 1 consists of base image + binary A, EntryPoint: /bin/sh -c /usr/local/bin/binaryA
Container 2 consists of the same base image + binary B, EntryPoint: /bin/sh -s /usr/local/bin/BinaryB
Container 1

[2016-10-12 22:19] tonistiigi commented on #27309
Thank you for the report. The code where this panic happens has been removed in `v1.12` so the issue shouldn't appear anymore. I can see a map race in `v1.10.3` codebase that probably caused this.

[2016-10-12 22:19] #27309 closed

[2016-10-12 22:23] tonistiigi commented on #27330
Can you put together a reproducible testcase?

[2016-10-12 22:25] prophet60091 commented on #27326
I can confirm now that docker was not the problem. Sorry for the alarm.

[2016-10-12 22:25] #27326 closed

[2016-10-12 22:28] crosbymichael commented on #27202
@DirkTheDaring can you give us more infomration about the exact command that you are running?  Are you using the `-i` or `-t` flag?

[2016-10-12 22:33] mblaschke commented on #13885
Is still happening here on Debian when running rspec tests:

Kernel: 4.4.0-28-generic
Docker: 1.12.2-0~xenial

The current workaround is to go back to Docker 1.10.3-0~wily which is the last stable version.

[2016-10-12 22:36] hhzguo commented on #27330
tonistiigi:
    I am trying run kubemark in a kubernetes environment.  It doesn't have an easy repro.

Sorry about it.
Henry

[2016-10-12 22:41] tonistiigi commented on #13885
@mblaschke @Bregor Can you post a stacktrace please?

[2016-10-12 22:42] mrjana commented on #27268
Yeah that can be explained. What is happening in your case is let's say Container A is trying to ping Container B and failing, in your case the node running Container A does not know enough information about how to forward traffic to Container B. But it seems like Container B knows how to reach Container A since reverse ping is working. Once you send a ping from Container B to Container A, the nod

[2016-10-12 22:48] mrjana commented on #27268
The issue is most likely in libnetwork or somewhere in the environment. That is what we need to find out.

I think we still need to find out what is happening in your env and get to the bottom of this issue if you are willing. But if it is affecting your production setup then we need to find a reasonable workaround pretty quickly. So I would still be interested to find out what is causing the netw

[2016-10-12 22:50] mrjana commented on #27268
If you are running in Azure can we get some network utilization metrics of how your Azure internal network is being used? Is there some flakiness there?

[2016-10-12 22:58] DirkTheDaring commented on #27202
I will be happy about anything which makes my parch go away

Am 2016-10-13 00:29, schrieb Michael Crosby:

[2016-10-12 22:59] mrjana commented on #27147
Fixed by #26954

[2016-10-12 22:59] #27147 closed

[2016-10-12 22:59] stevvooe commented on #27082
@mavenugo Why not define a `default` network that will grow as nodes join?

[2016-10-12 23:00] mrjana commented on #27016
This is fixed in 1.12.2. Closing this. @slawekgh Please reopen if you think this is still not fixed in 1.12.2. Thanks!

[2016-10-12 23:00] #27016 closed

[2016-10-12 23:01] mrjana commented on #26946
Fixed in 1.12.2. @colinmollenhour Feel free to reopen if you think otherwise.

[2016-10-12 23:01] #26946 closed

[2016-10-12 23:03] mrjana commented on #26806
@saithala 1.12.2 is out. Have you had a chance to upgrade and report back?

[2016-10-12 23:05] stevvooe commented on #20039
Note that while docker doesn't necessarily support, running tls over a unix socket isn't outside the realm of possibility.

[2016-10-12 23:13] groyee commented on #27268
Sure. I would be more than happy to get to the bottom of it because switching to **--net=host** will require a lot of work especially when components like elasticsearch and couchbase cannot handle well ip changes.

What concerns me is that our production system handles several TB a day so network congestion can happen. Even when we detect a network load and bringing up more VMs to handle the traff

[2016-10-12 23:16] mrjana commented on #26772
@garthk The instrumentation is really in the daemon error logs and every issue that is fixed in 1.12.2 as you can see is based on such instrumentation. That is why I am asking for daemon logs. Do you have any from problem nodes so that we can confirm or deny if this is already fixed in 1.12.2?

[2016-10-12 23:18] mrjana commented on #26530
Since we believe this is fixed in 1.12.2 I am going to close this. @daviddyball Please feel free to reopen if this is not the case.

[2016-10-12 23:18] #26530 closed

[2016-10-12 23:24] mrjana commented on #26524
@michaelkrog 1.12.2 is out. If you got a chance can you try it out and let me know if this is fixed?

[2016-10-12 23:24] justincormack commented on #27330
"applet not found" is normally a busybox error. You do not however give enough information to be able to help. Basically you have a non executable binary, common causes are that it is missing shared libraries for example. If it is actually busybox, it looks at the name of the executable, so it matters what the bonary is called. Try renaming it to `busybox`.

[2016-10-12 23:25] justincormack commented on #27330
I am going to close this as it is not a bug in Docker, but with some more information I expect we can work out what the issues is.

[2016-10-12 23:25] #27330 closed

[2016-10-12 23:25] groyee commented on #27268
Every time we provide some fix, we stop containers running the relevant code, we remove the docker image from the cluster and run docker-compose pull command with the new container which takes some time as it pushes the image (in our case an image can be more than 1GB) to the relevant nodes. Could this operation choke the network? Can it explain the spikes we see in the graph?

[2016-10-12 23:26] groyee commented on #27268
We would love to use swarm mode as soon as docker-compose will support it.

[2016-10-12 23:31] mrjana commented on #27268
No I don't think otherwise and thanks for working with me. I am just asking these questions to understand the problem better.

[2016-10-12 23:32] mrjana commented on #27268
Yes

[2016-10-12 23:35] mrjana commented on #27268
Yes that can certainly explain those spikes and I think that is probably around the time when the gossip query starts building up.

[2016-10-12 23:35] justincormack commented on #25929
I can't replicate this issue at all, just running that image with 128MB RAM works fine for me, with user namespaces turned on. This is with Docker 1.12.2.

[code]

[2016-10-12 23:39] groyee commented on #27268
[docker-debug.log.txt](https://github.com/docker/docker/files/525842/docker-debug.log.txt)

[2016-10-12 23:44] groyee commented on #27268
What would you suggest regarding pulling images?

Also please see an issue I opened several weeks ago.

[https://github.com/docker/swarm/issues/2467](url)

[2016-10-12 23:58] eduardoleal commented on #26855
+1

[2016-10-13 00:00] bnaylor commented on #27324
Sure.  And the underlying caveat to any of this should be that if anyone has fixes that would make it work, I'm all ears.

The primary issue is iscsi.  First, there are known problems running iscsid inside containers that seem to have been around for some time.  Examples: [A](https://bugs.launchpad.net/ubuntu/+source/lxc/+bug/1226855), [B](https://bugzilla.redhat.com/show_bug.cgi?id=1102911), [B']

[2016-10-13 00:04] saithala commented on #26806
@mrjana  yes I did. Unfortunately it did not solve the problem : (
We still have problems with service to service communications. Any idea how we can resolve this? Are there more fixes coming? One thing I noticed was the service that was failing to communicate with other service worked fine when the service was started again with a constraint. (--constraint 'node.hostname==hostname). I dont know i

[2016-10-13 00:19] bnaylor commented on #27324
Theoretically, NFS _should_ work.  We would do the mount RPC calls from the plugin container, but the data flow would occur directly through the host kernel to whatever other container was accessing the files, and our container would not be a middle-man.  We've had trouble with it so far, but we could potentially remove this dependency, esp. if the iscsi issues are solved.

[2016-10-13 00:19] thaJeztah commented on #27268
you can consider setting "max concurrent downloads" on the daemon https://docs.docker.com/engine/reference/commandline/dockerd/

(either by setting that flag, or using a daemon.json configuration file)

[2016-10-13 00:24] mrjana commented on #26806
@saithala Ok we probably need to understand the reproduction steps for your issue. Can you provide all the reproduction steps that you did to create your networks and services which resulted in the problem?

As for as the log collector problem yeah that's not how it works. First of all the docker service that you are creating is not part of the network to which the global service attaches. So both

[2016-10-13 00:57] saithala commented on #26806
@mrjana As far as the reproduction steps are concerned, i think its pretty straight forward. So the steps I followed
Create Custom Overlay network, start all services attaching each one of them to the overlay network.
1) Start Discovery service
2) Start Config service
3) start all other services

I did not quite understand you explanation about the log collector. I first start the global service a

[2016-10-13 01:29] bigwhite commented on #26946
@mrjana

After upgrading to 1.12.2，the problem seems still exists.

I start a two-node swarm cluster on aliyun(www.aliyun.com)，my env is：

[code]

swarm init process is below:

[code]

create my own overlay network:

[code]

I started two nginx services and a client service:

[code]

attach to the myclient container:

[code]

ping mynginx service is ok

[code]

but When I access the nginx cluster

[2016-10-13 02:09] allingeek opened #27336 "docker service create is parsing quoted fields for parameters"
**Description**

When attempting to set a multi value JAVA_OPTS environment variable I discovered that quoted parameters to `docker service create -e` are being parsed for command line flags. Having experimented with several variations I have yet to discover an escape or quoting pattern to work around the issue.

**Steps to reproduce the issue:**
1. Create a service and set an environment variable

[2016-10-13 02:09] suntong commented on #735
On Wed, Oct 12, 2016 at 11:27 AM, John Yani wrote:

I don't agree. But anyway...

after all, "restricting how people use software" is what MS does best,
and what I dislike.

I believe, in essence, docker is meant to give people freedom,
not restriction.

[2016-10-13 02:15] harryge00 commented on #18789
When we have a  same configuration, which is used by serveral images, then we tend to symlink this config into images' path. @jdmarshall

[2016-10-13 02:20] xiaods commented on #26747
Does anyone reproduce steps to check if the bug is fixed in upstream branch?

[2016-10-13 02:38] xiaods commented on #27218
yes, need testing PTAL!

[2016-10-13 02:46] xiaods commented on #27321
use docker volume?

[2016-10-13 02:57] me115 opened #27337 "deleted"
deleted

[2016-10-13 03:21] bridgeunions commented on #26465
same problem too

[2016-10-13 04:34] mrjana commented on #26946
@bigwhite I don't think you are hitting this problem. Can you please make sure you have opened up ports 7946/udp, 7946/tcp and 4789/udp in your firewall or security group if you are running one? Basically gossip cluster is not up and running in your case.

[2016-10-13 04:41] mrjana commented on #26806
@saithala I don't think there is any known fundamental problem in starting multiple services in the same network and trying to make it work. So if we have to make any progress on these issues that your are experiencing you would have to provide the exact reproduction steps as you performed to reproduce the problem.

As far as log collector and your service goes you said this:
[code]
I don't see a

[2016-10-13 04:45] mrjana commented on #26806
Also in addition to the reproduction steps please provide the `docker service ps` output of all the services that you have started.

[2016-10-13 05:54] michaelkrog commented on #26524
@mrjana I will.

I am sorry I did not back to you on this as promised.

[2016-10-13 06:08] govint opened #27339 "Docker (1.12) run mounts, unmounts and then again mounts persistent volumes."
**Description**

**Steps to reproduce the issue:**
1. $ docker volume create -d vmdk --name v14
2. $ docker run --rm -it -w /data -v v14:/data busybox
3.

**Describe the results you received:**
The container runs but the engine is mounting the volume, unmounting and then again re-mounting.

**Describe the results you expected:**
A single mount should have been issued to the docker volume plugin.

[2016-10-13 06:14] sebi-hgdata commented on #27268
@groyee I've had these sorts of issues for a long time now, for me it happened also during deploys (we have just a dozen machines), that would generate high download traffic (did not think about this till now)... and might be related to Serf and UDP packet loses (just an assumption). What I've done to minimize the occurrences of this was to setup my own serf agent that joins  docker's serf cluster

[2016-10-13 06:24] Shuliyey opened #27340 "Can't mount local directory to windows native docker instances"
**Description**
mounting directories to windows native docker instances/contiainers doesn't seem to work.

so

[code]

The host_path doesn't get mounted into the container

**Steps to reproduce the issue:**
1. You need to have a **Windows Server 2016** Environment (Either installed on bare metal/VM). I'm running a Windows Server 2016 in a VM. ISO can be downloaded at https://www.microsoft.com/en-u

[2016-10-13 06:44] #22112 closed

[2016-10-13 06:56] rajkumar49 commented on #27254
https://github.com/rancher/convoy looks good and also works good .

[2016-10-13 06:56] #27254 closed

[2016-10-13 07:05] bigwhite commented on #26946
@mrjana Thanks for reply.

I'm sure there are no firewalls. All inner data flow are allowed. all ports are opened. the ports status are below:

[code]

could you tell me how to check whether gossip cluster is up? In /var/sys/log, I indeed have not seen words like "serf" appear.

[2016-10-13 07:14] bigwhite commented on #26946
@mrjana I check the status of these ports with nc tool:

[code]

[2016-10-13 07:22] ctammes opened #27342 "enter accented characters in bash container"
I enter a container with "docker exec -it $id /bin/bash". I want to enter characters like ö and é, but that is not possible. Keyboard layout is US International Dead Keys. I also tried US International. I can enter these keys in any editor, Ubuntu terminal or ssh terminal.

Do I have to change a setting??

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

[2016-10-13 07:39] justincormack commented on #27261
The reason for initially limiting it to --privileged was that it does give
you complete access, including to privileged on the host. Doing anything
else requires comprehensive filtering.

As there are a lot of use cases filtering gets complicated. So more
specific use cases need to be considered.

On 12 Oct 2016 20:00, "Ilya Dmitrichenko" <notifications@github.com> wrote:

[2016-10-13 07:57] PaulKGray commented on #27318
The problem was that due to the AWS preview only having 20GB it did fill it. There may have been other logs contributing but this the example code was one of the main lines.

[2016-10-13 08:25] justincormack commented on #27318
How often is it retrying?

On 13 Oct 2016 08:57, "Paul Gray" <notifications@github.com> wrote:

[2016-10-13 08:27] theundefined opened #27343 "dockerd left open file descriptors to deleted /var/log/journal/*/*.journal files"
**dockerd left open file descriptors do deleted /var/log/journal/_/_.journal files**

I'm using dockerd with --log-driver=journald.
After few days it left many open fd to files in /var/log/journal:

ls -l /proc/$(cat /var/run/docker.pid)/fd |grep deleted |wc -l
6250

which store place on disk.

**Steps to reproduce the issue:**
1. install docker, configure it to use journald

**Describe the result

[2016-10-13 08:38] ryanlyy opened #27344 "how can we dump dockerd running options"
Here is just question not issue report....
As we know we can configure dockerd using /etc/docker/daemon.json. How can we dump those information from running dockerd including all default values for all options?

**Describe the results you expected:**
dockerd current indeed uses those options configured in daemon.json

Thanks and Best Regards,
Ryan

[2016-10-13 08:56] AkihiroSuda commented on #27261
My usecase would be a cron-like service that executes `docker service create --restart-condition none some-batch-job` periodically (https://github.com/docker/docker/issues/23880#issuecomment-237343613, cc @stevvooe )

For filtering, I'd like to suggest this model:

Name (FIXME) | Allows | Prohibits | Use case
---|---|---|---
`DOCKER_CAP_FORK` |  <ul><li>creating a new container and listing/inspect

[2016-10-13 09:04] MaxiReglisse commented on #12084
it works for me :+1:
there are now the first lines of all my dockerfiles.
FROM georchestra/ldap
RUN echo Europe/Paris | tee /etc/timezone
RUN dpkg-reconfigure --frontend noninteractive tzdata

[2016-10-13 09:08] groyee commented on #27268
I see that the default value is --max-concurrent-downloads=3.

Do you think setting it to 1 will make the difference?

[2016-10-13 09:09] AkihiroSuda commented on #27302
You mean the Swarm *classic* (https://github.com/docker/swarm) right?

In the new Swarm mode (Docker 1.12), the feature seems actually supported:
https://docs.docker.com/engine/reference/commandline/service_create/

There is also a PR that ports `--mount` to `docker run`:  https://github.com/docker/docker/pull/26825

[2016-10-13 09:10] milindchawre commented on #27240
#dibs
I would like to work on it.

[2016-10-13 09:28] allencloud opened #27345 "docker volume create should return error when volume name exists"
**Description**
If we have already created a volume with name `volumeA`, then when we create another volume with  `volumeA` again, nothing conflict returns and returns a code of 201 from API.

In addition, if we add labels in volume create with an existing name, labels will not be added into this volume details.

related issue https://github.com/docker/docker/issues/26831

**Steps to reproduce the

[2016-10-13 09:32] justincormack commented on #22753
@Kaijun no, we need to support several versions of OSX, and the way we were doing it before has other prolems, so we are unlikely to revert to it.

[2016-10-13 09:36] justincormack commented on #22701
@DrewRay I don't think it is that easy to implement, but feel free to try. Generally there is not much interest in working on devicemapper now, as overlay will be working properly on new versions of RHEL shortly, even with SELinux on, which was the previous issue, and overlay does not have any fixed size limits.

[2016-10-13 09:38] justincormack commented on #22610
Ok as this was just a large container log I am closing this issue as resolved.

[2016-10-13 09:38] #22610 closed

[2016-10-13 09:39] suside commented on #27343
It's worth noting that solution proposed by @JohnMorales here #8693 can be used as a workaround: https://gist.github.com/JohnMorales/4a4277510190d187bac5

[2016-10-13 09:41] justincormack commented on #21551
Docker for mac installs the completions but does not (yet) configure them automatically as it is a bit complicated (they have external dependencies). The install instructions are at https://docs.docker.com/docker-for-mac/#/installing-bash-completion

I am going to close this as it is now documented. We hope to install more automatically in future.

[2016-10-13 09:41] #21551 closed

[2016-10-13 09:42] samwagg commented on #19425
I was taking a look at `DockerHubPullSuite.TestPullAllTagsFromCentralRegistry`, which apparently takes a long time because it is verifying --all-tags functionality using busybox. I was wondering, would it make sense to host a dedicated dummy repo for this test that has say, 2-3 tiny images? I'm sure there are pre-existing repos with fewer tags/images, but it seems to me it would be nice to have a

[2016-10-13 09:45] justincormack commented on #1921
@Ch3ck I don't know if there are, I suspect the information is scattered around all over the place unfortunately

[2016-10-13 09:53] AkihiroSuda commented on #19425
Linking my PR https://github.com/docker/docker/pull/26684 which parallelizes the tests (49 min --> 13 min, IMO it can be shorten to less than about 5 min in future optimized version) to this issue.
Anyone please look into my PR?

[2016-10-13 10:00] cyphar commented on #19425
Note that some people run the test suite against their own registry (to test their packages as a distribution), so this would make the test not usable for those people.

[2016-10-13 10:28] Luzifer commented on #25877
Same problem here…

# What I saw at my host

[code]

## Error on starting container
[code]

## Searching for the ports
[code]

Looked up what is answering (web browser) on that port, found a container which should be listening on another port:

[code]

[code]

Only port-binding for that container is `1240` but it answers on `1330` and `1240`…

## Trying to solve

- Kill docker-proxy on that port `

[2016-10-13 10:54] justincormack commented on #10324
Hi, people interested in this issue, we are looking at https://github.com/docker/docker/pull/20987 again to implement this.

[2016-10-13 10:57] theundefined commented on #27343
yes, but - workaround are very bad. and using gdb on dockerd is a bit dangerous.

[2016-10-13 11:00] nickjj commented on #27240
@milindchawre If you do, here's the `Vagrantfile` I used for testing:

[code]

[2016-10-13 11:10] justincormack commented on #27344
I am not sure there is an easy way to do this right now. As we have configuration reload I can see if would be useful.

[2016-10-13 11:18] justincormack commented on #27324
For `iscsi` does `--net=host` work? that avoids the NAT, and maybe helps out with the netlink socket issue (which is somewhat unclear, and would probably need looking at the kernel code to see what is happening).

NFS does seem simpler to solve initially as it is mostly in kernel anyway.

[2016-10-13 11:20] saithala commented on #27321
@xiaods can i create a specific directory as a docker volume ? For ex. I want a specific directory on the host system (/opt/somepath)

[2016-10-13 11:24] saithala commented on #26806
Sorry my bad for the log collector, I only pasted part of the command. The full command for starting the global service makes sure its attached to the overlay network

[2016-10-13 11:25] rajkumar49 opened #27349 "Docker Remote API - list of all containers/service-replicas in all nodes"
Hi ,
any Docker Remote API command for Swarm Manager to get all the container details of all the nodes ?
any way to see the Docker container CPU usage from the Docker Swarm manager ?

[2016-10-13 11:25] justincormack commented on #26713
I think a daemon flag is best for now. Completions is an issue, but it needs to be enabled when the daemon starts so I don't see an environment variable is any use.

[2016-10-13 11:29] justincormack commented on #25877
@Luzifer interesting. Can you look at the `docker-proxy` arguments when this is happening? (`ps auxww | grep proxy` should show them). Is there anything else unusual about the container that has listening on the wrong port? Has it been restarted before or anything?

[2016-10-13 11:35] Luzifer commented on #25877
Will do as soon as I do have the issue again… (Probably next time when Ubuntu pushes updates requiring reboot…)

[2016-10-13 11:36] justincormack commented on #22678
@13josh you can open an issue on https://github.com/docker/for-mac/issues but we are switching to use local host information, so you can try to change it on your Mac.

You need to modify the resolv.conf on each build line, yes.

[2016-10-13 11:41] justincormack commented on #27261
@AkihiroSuda yes, I looked at a similar split with @bfirsh a while back.

[2016-10-13 11:49] YouriT opened #27350 "Multiple IP addresses Swarm Mode"
When using some public IP blocs, there is no way in Swarm Mode to stick a service on a specific ip address like it's possible with `docker run`. I understood that the main reason against that is the mesh and therefore the ingress interface that redirects traffic to the right node which makes sense. Nevertheless, you can never expose 2 times the same port to the outside world. Meaning that if you n

[2016-10-13 12:01] cpuguy83 commented on #27350
Closing as a dup of #26696

btw, in 1.13 you will be able to `docker run` with an overlay network.

[2016-10-13 12:01] #27350 closed

[2016-10-13 12:04] justincormack commented on #27336
cc @dnephin

[2016-10-13 12:04] cpuguy83 commented on #27321
@saithala Sounds like a bug that using `readonly=false` would set readonly to true... but please try dropping the `readonly` flag, since it is false by default.

[2016-10-13 12:08] justincormack commented on #27068
@dmandalidis no the cgroup path error is unrelated (this is only in some kernel versions and configurations).

[2016-10-13 12:09] cpuguy83 commented on #27343
ping @nalind

[2016-10-13 12:33] MathiasRenner commented on #22635
Same issue as @luxas reported here.

[2016-10-13 12:37] cpuguy83 commented on #27339
This is because of the API/client design.
`docker run` is two actions, a `docker create` and a `docker start`.
The volume is mounted on `docker create` so that the volume can be populated with container data.... then unmounted. WIth `nocopy`, you should not get a mount request here.

The volume is mounted again on `docker start` for use in the container.

[2016-10-13 12:43] jcberthon opened #27351 "Cannot run container on ARM when activating AppArmor"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Description**

On a Raspberry Pi 2, I have recompile a Kernel adding the AppArmor and User namespace. I've install the new Kernel on the already configured Raspbian Jessie OS. The Pi boot correctly and after installing the apparmor package. I've installed Docker using t

[2016-10-13 12:44] PaulKGray commented on #27318
On the environment I have now I recreated the issues for a while and it was trying to pull once every 3 or so seconds. I lost 2 managers to this issue and both were due to the log file being massive 7gb plus. When this happened on the aws beta we were not able to reload the daemon so I flattened these boxes.

[2016-10-13 12:45] cpuguy83 commented on #27240
This is already fixed on master by bec07890aad6c7a6699623ab8a61b37e65a7e63d

Thanks!

[2016-10-13 12:45] #27240 closed

[2016-10-13 12:51] sivaswami opened #27352 "Docker Backward Compatibility with Linux Kernel"
I was running Docker 1.7.1 in a Linux machine and it worked fine.  I had some issues with my environment and installed docker using below command which gives latest version 1.12.2
curl -sSL https://get.docker.com/ | sh
When I tried to start docker daemon, I hit the error
FATA[0001] Your Linux kernel version 3.8.13-68.3.4.el6uek.x86_64 is not supported for running docker. Please upgrade your kernel

[2016-10-13 12:56] arun-gupta commented on #24808
@justincormack Partly!

Here is what I did ...

Created a 8-node cluster (3 master, 5 worker) using Docker for AWS. Created a tunnel from localhost to to the cluster on AWS. `docker info` shows:

[code]

`docker ps` shows:

[code]

Created a service using `docker service create --replicas 3 --name web -p 80:80 nginx`. Now `docker ps` shows the same set of containers. This output is different from

[2016-10-13 13:01] arun-gupta opened #27353 "Docker commands inconsistency"
Filing a bug based upon the tweet at https://twitter.com/agoncal/status/786187878195863552

`docker volume ls` / `docker service ls` / `docker network ls`. So why `docker images` and not `docker image ls` ? #Docker #Consistency

Thanks @agoncal!

[2016-10-13 13:06] agoncal commented on #27353
Based on the other Docker commands, I would expect the `image` command to be:

[code]

[2016-10-13 13:06] saithala commented on #27321
Thanks @cpuguy83 . The first time I tried it without readonly=false, since I read that its false by default. In both cases its the same result

[2016-10-13 13:10] govint commented on #27339
Ok, thanks for the clarification. Closing the issue.

[2016-10-13 13:10] #27339 closed

[2016-10-13 13:12] govint commented on #27339
Taking a step back, the mount and unmount can be done iff there is really data to copy to the volume.

[2016-10-13 13:13] justincormack commented on #27353
cc @bfirsh

[2016-10-13 13:14] justincormack commented on #27351
Did you add the userspace apparmor tools? I would not expect there to be anything different with Arm, but looks like you may be the first person to try it.

[2016-10-13 13:28] jcberthon commented on #27351
Hi @justincormack
I installed the apparmor package (indeed because I could run `aa-status`) and in addition I installed some profiles: apparmor-profiles and apparmor-profiles-extra.

As you can see, I provided the aa-status output, so the apparmor user space tools should be installed correctly and it seems that apparmor is working correctly as well.

[2016-10-13 13:35] rodlogic opened #27354 "Changing the location of a private registry requires changing ALL dockerfiles"
See this #7203.

Fine: so don't break the global namespace but give us some way of addressing this. At this point I need to go in to all branches in all repos and change the FROM localhost.

I don't care if I need to be able to use an ARG variable (I don't think that works) or have a catch all identifier such as 'private' or 'local', I just want to be able to change the location of a private regis

[2016-10-13 13:38] JohnMorales commented on #27343
@theundefined I agree it's not the safest, but it does work. I'm not trying to convince you to use it, but I have been using this workaround for ~a year w/ no repercussions.

[2016-10-13 13:40] cpuguy83 commented on #27321
@saithala Are you sure the host path isn't flagged as read-only?

[2016-10-13 13:55] jcberthon commented on #27351
Ho and the check-config.sh tool is reporting `apparmor: enabled and tools installed`, so I guess the required tools are installed.

Let me know if you need other information.

[2016-10-13 13:59] weaver commented on #22753
Hi, I really appreciate all the discussion in this thread. I'm wondering: could someone summarize (or point me to) that actual issue with OS X that prevents us from being able to establish a route directly into containers?

I've seen comments about how it's some problem with OS X (here and in other threads). I can't seem to find a solid description of what's actually the issue, why 10.12 is sortof

[2016-10-13 14:03] reypm commented on #27026
@thaJeztah @gonberdeal @tonistiigi guys I am still having the same issue. See I have tried to get this working from `docker-compose` but I can't, any help?

This is the `docker-compose.yml` file content:

[code]

And this is the output for run `docker-compose up -d`:

[code]

Any advice?

[2016-10-13 14:04] justincormack commented on #27351
That is very odd, it all looks like `runc` is not compiled with apparmor support, even though the config suggests it should be.

[2016-10-13 14:24] justincormack commented on #27354
Please be a bit more explicit about what your requirements are and what kind of solution might work.

[2016-10-13 14:28] BarnumD commented on #18931
One option is to add `network_mode: "bridge"` under each service. (so below 'image:' or 'volumes:' of each service)

This forces docker-compose to use the default bridge network docker provides.  Otherwise docker-compose does a docker network create for each compose that is run.  Invariably it creates networks that overlap our corporate range.

[2016-10-13 14:29] jcberthon commented on #27351
This is also how I interpreted the error message but sometimes error messages are misleading. Anyway is it possible that the docker deb package for armhf isn't built with AppArmor support?

[2016-10-13 14:30] vdemeester commented on #27353
See  #26025, should be in 1.13

[2016-10-13 14:30] DirkBrand commented on #25008
I have the stable release that is past the previously mentioned build.  My version is Version 1.12.1 (build: 12133).  I am unable to do a docker login to a private registry that I am running on a hosted server.

I simply get `Error response from daemon: Get <REGISTRY>/v1/users/: dial tcp: lookup <REGISTRY> on 192.168.65.1:53: no such host`

[2016-10-13 14:32] tormodhau opened #27355 "Path error when trying to pull microsoft/windowsservercore on Windows native docker 1.13.0-dev"
Hi!

I downloaded [microsoft/windodsservercore:latest](https://hub.docker.com/r/microsoft/windowsservercore/tags/) three weeks ago (TP5 i believe), and have been experimenting with it since. Due to consistent freezes, I decided to check for upgrades for Windows, the Docker Engine, and lastly the image.  However, if I try to pull any of the latest images, I only get the following error:

The file p

[2016-10-13 14:33] dnephin commented on #27336
I can't reproduce the issue, it works correctly for me on linux.

[code]
[code]

I believe the quoting is actually the responsibility of the shell. By the time the args are received by the process (docker) they should already grouped properly. Are you using a non-standard shell?

I don't OSX to test it out.

[2016-10-13 14:34] justincormack commented on #27351
The deb package seems to be, as `docker info` says `Security Options: apparmor`. So I think it must be `runc` even though the `Dockerfile.armhf` at the time did also add the `apparmor` build flag there. So it is a bit odd. I don't have a setup like this but may be able to set one up.

[2016-10-13 14:41] vikramvi opened #27356 "Faied to connect to the Docker daemon ( Mac OS )"
**Description**

Jenkins user on Mac mini can't run docker command
1.1. Inside Jenkins build; Execute shell command says "docker command not found"
1.2 Shifting to Jenkins user on shell prompt and trying to run docker command gives error
   "Cannot connect to the Docker daemon. Is the docker daemon running on this host?"

**Steps to reproduce the issue:**
1.  Mac mini Jenkins and Docker installed

[2016-10-13 14:44] justincormack commented on #22753
@weaver we were previously using the `vmnet` option on https://github.com/docker/hyperkit which does create a bridge for the VM, which allows routing  from containers to the host on an IP on the bridge. It does not usefully allow routing to the containers though. There was a CVE related to this exposing an open DNS server when enabled, which was fixed in Sierra.

There are many other disadvantages

[2016-10-13 14:45] justincormack commented on #27188
@AlessandroEmm  the beta has just been released - can you see if it fixes your issue?

[2016-10-13 14:46] mtbdeano commented on #26563
FYI, running Docker 1.12.2 swarm with 4-6 nodes, this networking issue disappeared when I made sure the `ntp` service was running on all swarm nodes and all clocks were synced. Maybe this is a sync issue in the raft because of server time drift.

[2016-10-13 14:47] mtbdeano commented on #25325
FYI, running Docker 1.12.2 swarm with 4-6 nodes, this networking issue disappeared when I made sure the `ntp` service was running on all swarm nodes and all clocks were synced. Maybe this is a sync issue in the raft because of server time drift.

[2016-10-13 14:57] jcberthon commented on #27351
If you want me to build or execute something on my platform to save you from setting up one, let me know.

I also think it should be possible to create a KVM VM using armhf on a x86_64 host. But I'm not too sure how to install Raspbian in such environment.

[2016-10-13 15:02] justincormack commented on #27356
Can you open the issue here instead https://github.com/docker/for-mac/issues

Docker for Mac generally expects that the user installing and running it is the same as the one using it.  However it may work if you change the permissions of `/var/run/docker.sock` so that the jenkins user can access it.

[2016-10-13 15:04] justincormack commented on #27353
Ah as that issue is merged, will close this one.

[2016-10-13 15:04] #27353 closed

[2016-10-13 15:11] mrjana commented on #26946
@bigwhite Can you please attach the daemon logs from one of the problem node so that I can take a look?

[2016-10-13 15:14] vikramvi commented on #27356
done https://github.com/docker/for-mac/issues/799

[2016-10-13 15:19] MathiasRenner commented on #26930
@alexchenfeng I have the same issue on ArchLinux ARM - how exactly did you enable these options in the kernel config?

[2016-10-13 15:19] akamalov commented on #25929
@justincormack will it be possible to re-run it with  ```--security-opt seccomp:/etc/docker/default.json``` with ```--userns-remap=default``` ?

[2016-10-13 15:32] alexchenfeng commented on #26930
@MathiasRenner You can git clone Arch ARM PKGBuilds from this repo https://github.com/archlinuxarm/PKGBUILDs.git
then fix the config file config.v7 in core/linux-raspberrypi, finally you can run the command line  (makepkg -g; makepkg -Acs) to recompile the RPI kernel. After all things going to fine, reinstall the kernel package.

[2016-10-13 15:42] nabobnagari commented on #10094
Docker Cant attach  Container where It has tomcat which i was running, For some reason if i pressed ctrl + c its Stopping  container In order to come out of the prompt

Observing : Docker 1.12.2

[2016-10-13 15:46] bvipparla commented on #26480
Facing the same issue with the latest docker 1.12.2 and running in swarm mode.Not able to resolve services by service name.

[2016-10-13 15:49] vielmetti opened #27357 "aarch64: test TestMountMoreThan42LayersMatchingPathLength fails (aufs)"
**Description**

On aarch64, the test TestMountMoreThan42LayersMatchingPathLength fails.

**Steps to reproduce the issue:**
1. Build Docker on aarch64 according to http://blog.hypriot.com/post/getting-docker-running-on-a-high-density-armv8-server-from-hisilicon/
2. Using the 1.10.2 image you built, build docker in docker for 1.13.0-dev
3. Get to "Making bundle: test-unit (in bundles/1.13.0-dev/tes

[2016-10-13 15:59] shishir-a412ed commented on #22701
@justincormack I have an implementation which solve the problems described above with `docker build` and `docker commit`.
https://github.com/shishir-a412ed/docker/tree/commit_build_bigger_images

I am not opening a PR, since I can see a lot of reservations about this.
Saying "there is not much interest in working on devicemaper now"  is a little far fetched :)
I think devicemapper is going to be h

[2016-10-13 16:02] aboch commented on #25877
@ianneub

It is safe to delete if you did not start the daemon with --live-restore.
But be aware it would remove all the local scope networks. You would need to recreate them.

@Luzifer
I am not sure the requests being sent to the wrong container (This was reported in another issue as well) is related to the phantom mapped port issue reported here.

When that happens, can you take a look at the co

[2016-10-13 16:05] tophj-ibm commented on #20801
@thaJeztah any idea what the next steps are for this? I've added functionality to be able to build power debs into Docker for 14.04 and 16.04, and we already have the corresponding images in the ppc64le dockerhub. We also should have enough CI machines in Jenkins to handle adding in another job for building/testing if we have to.

[2016-10-13 16:10] justincormack commented on #27356
ok thanks, will close here then.

[2016-10-13 16:10] #27356 closed

[2016-10-13 16:14] darrenscerri opened #27358 "Centos 7 fails to remove files or directories which are created on build of the image using overlay or overlay2."
**Description**

Centos 7 fails to remove files or directories which are created on build of the image using overlay or overlay2.

**Steps to reproduce the issue:**

**_Scenario 1**_

Try to build the following image

[code]

**_Scenario 2**_
1. `docker run -it centos`
2. `rm /bin/egrep`
3. `ls -lhart | grep egrep`

**Describe the results you received:**

**_Scenario 1**_

[code]

**_Scenario 2**_

[2016-10-13 16:15] justincormack commented on #25929
@akamalov if that json file is the same as the default it makes no difference, and you said you had the error without setting it as well. So I am trying to make a minimal test. If it only happens with the seccomp filter that is a different issue, please be precise.

[2016-10-13 16:22] tophj-ibm commented on #27045
@demaniak let me know if you need any help with this as well. I implemented the `ppc64le` and helped with the `s390x` make deb support so hopefully I have some answers 😄 . Regarding installing go: looks like the aarch64 dockerfile uses gccgo to bootstrap build go from source https://github.com/docker/docker/blob/master/Dockerfile.aarch64#L98, so that might be a good resource to look at.

[2016-10-13 16:24] AshCoolman commented on #27351
Also getting this on Ubuntu 16.04, and docker image https://github.com/mhart/alpine-node

[code]

[2016-10-13 16:25] thaJeztah commented on #25403
@mikedanese are you still interested in doing the updates, not that https://github.com/docker/docker/pull/26538 was merged?

[2016-10-13 16:29] aaronlehmann commented on #19425
For those people, why does it matter if this test pulls busybox or some other repo?

I'm +1 on switching to a different repo that takes less time to pull.

[2016-10-13 16:32] suryagaddipati commented on #27302
@AkihiroSuda yes I've only tried this on `swarm classic` so perhaps I should close this issue here.

[2016-10-13 16:52] justincormack commented on #27357
There were a bunch of failing tests on aarch64 last time I did a test build. There is a bit of work needing doing on this port. This particular issue though seems more likely to be a kernel issue. I would actually recommend using `overlay2` as your kernel is recent.

[2016-10-13 16:53] justincormack commented on #27351
@AshCoolman that is a different issue, we are talking about running on a raspberry pi

[2016-10-13 16:54] tealtail commented on #26227
Hi, I'd like to help here so I'm looking for a bit of clarification.

What I've gleaned is that `docker stack tasks` cmd may have been removed?

So is what we're looking for here to remove `stack_tasks.md`, while adding a `stack_ps.md` to correspond with the `stack/ps.go` cmd?

Cheers!

[2016-10-13 16:58] pdevine commented on #26612
@cpuguy83 maybe could timeout faster than 30 minutes?

[2016-10-13 17:10] crosbymichael commented on #27202
@DirkTheDaring can you share your `docker run` command line?

[2016-10-13 17:23] DirkTheDaring commented on #27202
for commandline see the dockerfile  here. the master image was build with a
dnf installroot ....
and then uploaded to docker.
It basically what you install as fedorua-minimal.

[code]

[2016-10-13 17:24] tonistiigi commented on #27026
@reypm I reproduced your issue. @gonberdeal is correct, you need to pass `-o allow_other` when you mount. Otherwise mount can only be used by your current user. Docker daemon runs as root, not as your regular user, so it can't access the files. `sudo` is not required on mount if your user has permissions to mount. See http://unix.stackexchange.com/questions/59685/sshfs-mount-sudo-gets-permission-d

[2016-10-13 17:24] #27026 closed

[2016-10-13 17:24] oktopuz commented on #22994
@justincormack, do you happen to have an update on this?

[2016-10-13 17:25] justincormack commented on #27336
I don't see this on Docker for Mac either

[2016-10-13 17:28] akamalov commented on #25929
Yes, it is the same as default. what I am trying to say is that problem exhibits itself even when I set the seccomp to unconfined. But as long as 'usernsremap' is there, I cannot deploy. If I remove 'usernsremap' flag from docker configuration file, the problem persists.

[2016-10-13 17:35] justincormack commented on #22994
I think if we merge https://github.com/docker/docker/pull/26825 (which should happen) then at least you can specify more mount options, which may make it easier to work around. That would be for 1.13. It may be possible to fix it otherwise but I haven't had a chance to look yet, I think it might be possible but it is very unclear as there is no documentation...

[2016-10-13 17:38] justincormack commented on #22994
cc @estesp PTAL if you get a chance. I think if `bind,remount` always specified all the original flags it should work.

[2016-10-13 17:38] saithala commented on #26806
@mrjana . this one example of a  service ps output thats not able to communicate with another service and the exception in the logs is Consumer raised exception, processing can restart if the connection factory supports it. Exception summary: org.springframework.amqp.AmqpConnectException: java.net.ConnectException: Connection refused
In this case this service is not able to communicate with raabit

[2016-10-13 17:50] shishir-a412ed commented on #27215
@rlpowell I agree this is a valid usecase. You don't want to exhaust your disk space under the root tree `/`, by creating a lot of volumes which are stored under `/var/lib/docker/volumes`.

One solution to your problem is `docker volume plugins`. I don't know if you have used that before.
I wrote a `docker-lvm-plugin` which seems to be more optimal for your usecase. You can check it out at the bel

[2016-10-13 17:50] milindchawre commented on #27240
I verified this with latest master code and its working as expected.
![dockersnap](https://cloud.githubusercontent.com/assets/21288765/19360308/9a5c6ed0-919b-11e6-92e2-dd5eea3ba57f.PNG)

[2016-10-13 17:52] allingeek commented on #27336
I'm satisfied that this is something broken with my terminal and not the Docker CLI.

[2016-10-13 17:52] #27336 closed

[2016-10-13 17:54] thaJeztah commented on #20801
let me check with @tiborvass 😇

[2016-10-13 18:01] #23771 closed

[2016-10-13 18:03] tonistiigi commented on #27352
1. Install script only installs latest version. Packages for old versions are still available but must be installed manually then.
2. It should be `3.10` for `1.7+`. I think the difference is that in older versions it was only a warning.
3. `DOCKER_NOWARN_KERNEL_VERSION=1`

[2016-10-13 18:04] crosbymichael commented on #27202
@DirkTheDaring is there anyway you can just push this image so that I can pull it so I have the same base image created from dnf?

[2016-10-13 18:09] shane-axiom opened #27361 "Containers with unhealthy healthchecks don't reset to starting after container restart"
**Description**

**Steps to reproduce the issue:**
1. Start a container with a HEALTHCHECK defined
2. Cause HEALTHCHECK to fail/container to become `unhealthy`
3. Restart the container

**Describe the results you received:**

Container is still `unhealthy` instead of `starting`.

**Describe the results you expected:**

Container should have `starting` status after restart.

If this is the intended

[2016-10-13 18:10] jamiethermo opened #27362 "awslogs: add support for selecting group/stream from label instead of name"
Current implementation of cloudwatchlogs allows selecting the stream name from either the container ID or a daemon parameter. It would be tremendously useful if we could select the stream name from a label on the container if it exists, and failing with the current solution for default. I'd like to specify the name of the label in the docker daemon.

[2016-10-13 18:12] milindchawre commented on #27352
@sivaswami To install specific docker version try this :
`wget -qO- https://get.docker.com/ | sed 's/lxc-docker/lxc-docker-1.6.2/' | sh`
@tonistiigi So if we use `DOCKER_NOWARN_KERNEL_VERSION=1` then it is possible to run docker on any older kernels (older than 3.10)?

[2016-10-13 18:20] tonistiigi commented on #26175
Closing as #26393 was not accepted.

[2016-10-13 18:20] #26175 closed

[2016-10-13 18:22] DirkTheDaring commented on #27202
you can try this to create the image:
[code]

[2016-10-13 18:48] dattatrayakumbhar04 commented on #27345
Hello allencloud ,
As per document below,
https://docs.docker.com/engine/reference/commandline/volume_create/

Volume names must be unique among drivers. This means you cannot use the same volume name with two different drivers. If you attempt this, then  docker returns an error:

In your case,
1. docker volume create --name volumeA
2. docker volume create --name volumeA
3. docker volume create --

[2016-10-13 18:56] samwagg commented on #19425
My specific suggestion was to add a dedicated repo that will remain appropriate for this test long-term (small number of small images, but more than 1).  Any chance an existing namespace or registry exists for images used internally (neither official nor personal seem appropriate for this)? Would it be better to just switch to a repo that is currently small and move on (not sure this is worth much

[2016-10-13 19:05] tonistiigi commented on #27352
@milindchawre It will then skip this validation on startup. The behavior is undefined and unsupported.

[2016-10-13 19:07] giulioroggero commented on #24530
Same problem...

[2016-10-13 19:10] thaJeztah commented on #27299
We discussed this in the maintainers meeting, and while we see the use case, it may be too early to add this. However, some suggestions were made during the meeting (e.g. allow aliasing plugins). This needs more discussion and a proper design, so let's keep this issue open to see what options there are.

/cc @tonistiigi @justincormack

[2016-10-13 19:11] dongluochen commented on #26930
@michelvocks Do you still have problem accessing published port? I tried your service on a cluster with Ubuntu and do not see any problem. You can use docker commands to inspect the service and iptables to inspect NAT table.

[code]

We can look into ingress sandbox if you still have problem.

[2016-10-13 19:16] xcellardoor commented on #2174
Just chiming in that I'm suffering from this as well when I try to run a Gogs container on Fedora. The container was running fine, I upgraded the system including docker, restarted the container and now when I check the system the following is what's happening:

- Port 80 is open and listening from Fedora's perspective, bound to 0.0.0.0 (so any interface).
- When I run 'netstat -tulpn' inside the

[2016-10-13 19:28] vielmetti commented on #27357
Thanks for the suggestion @justincormack. The consensus from the vendor is that 1.12.2 (instead of 1.13.0-dev) is a good next target, so I'm aiming at that. One snag was a dependency on `containerd` that I don't completely understand.

[2016-10-13 19:31] sivaswami commented on #27352
Thanks @tonistiigi @milindchawre .
I think such backward compatibility might be  required  as people  might upgrade docker more than their kernels. It would also be helpful if we have a FAQ session for installing / compatibilities

[2016-10-13 19:55] ninrod commented on #26102
@cpuguy83 the problem is that I cannot pass just a relative folder to the docker command `-v` option, right?

The problem I have is that I have directory where lies a docker-run script and a `scripts-folder`. I need to mount the scripts-foder using the `-v` option. But I can't just specify `./scripts-folder` because `./scripts-folder` is a relative path and docker only accepts full-paths as `-v` a

[2016-10-13 19:57] LK4D4 commented on #26102
@ninrod there is `/.dockerenv` file in each docker container. At least on linux.

[2016-10-13 20:27] Jimilian commented on #17653
Issue still happens in CentOS based image (AMI) even with `Cgroup Driver: cgroupfs`:
[code]
In next attempt docker can start without any issues. Issue can be observed in ~1% of all executions.

[code]

@crosbymichael, I think to create PR with retry-mechanism for docker run. Does such PR have any chance to be accepted?

[2016-10-13 20:42] crosbymichael commented on #27067
Whats the actual usecase for this?

[2016-10-13 20:47] tonistiigi commented on #26434
@dmcgowan Could we put together a binary that just extracts a tar with tar-split and then tries to compress it back, logging out metadata for both steps so we see there the error happens. Note that the last example doesn't even use load/save format but just creates a layer from user provided tar.

[2016-10-13 20:59] tonistiigi commented on #27361
cc @talex5

[2016-10-13 21:03] ljt91 commented on #23796
+1 - Having this issue on Windows 10 - Version 10.0.14393 - Build 14393

[2016-10-13 21:08] anusha-ragunathan commented on #27299
Aliasing plugins is a problem atm, since we use pluginname as the unique identifier.

[2016-10-13 21:38] aluzzardi commented on #26322
@fishnix Could you please retry with 1.12.2 that just came out? It packs a big number of networking related fixes

Thanks

[2016-10-13 21:41] dmcgowan commented on #26434
@tonistiigi tar-split already has a utility to disassemble and assemble, I used it to test and verify the update for tar-split. It would not be difficult to create an update which adds more metadata for each step, what type of information would you be looking for though? The most useful output is the binary diff of the original tar to the disassembled-reassembled tar.

[2016-10-13 21:41] aluzzardi commented on #24092
/cc @dperny for end to end testing

[2016-10-13 21:43] aluzzardi commented on #24557
This issue hasn't happened in a long time - closing for now, will re-open if the problem occurs again

[2016-10-13 21:43] #24557 closed

[2016-10-13 21:45] aluzzardi commented on #26601
@mrjana if it's not happening again could you close this down?

[2016-10-13 21:46] tonistiigi commented on #26434
@dmcgowan Yes, binary diff is useful. I was thinking about list of files, after every file checksum for header, contents and the full checksum up to that point. Mainly something @zachwalton could run if he can't share us the original tar.

[2016-10-13 21:47] aluzzardi commented on #26588
@LK4D4 @tonistiigi Do we know what's the root cause?

[2016-10-13 21:51] aluzzardi commented on #26930
@dongluochen @docker/core-libnetwork-maintainers Can we explicitly fail a task when IPVS is required but not present?

[2016-10-13 21:55] aluzzardi commented on #26899
@vieux Can you take a look at this one? It seems there might be a problem with the API translation

[2016-10-13 21:55] #26884 closed

[2016-10-13 21:59] aluzzardi commented on #26808
@stevvooe Should we do this `--log-opt labels=com.docker.swarm.service.name` thing by default in the agent?

[2016-10-13 22:04] aluzzardi commented on #26763
Closing as no response for two weeks.

@saithala Please re-open if your issue was not solved by @dperny's comments

[2016-10-13 22:04] #26763 closed

[2016-10-13 22:07] aluzzardi commented on #25432
@nsamala @rajkumar49 @rogaha Could you please retry with 1.12.2 that just came out?

[2016-10-13 22:09] aluzzardi commented on #26903
@Revolution1 This was implemented in SwarmKit and will be available in the next (1.13) Docker release

[2016-10-13 22:09] #26903 closed

[2016-10-13 22:10] johnstep commented on #25845
This is not specific to Windows, and has been fixed per #22938. Thanks!

[2016-10-13 22:11] aluzzardi commented on #27084
@aaronlehmann @LK4D4 Could you take a look at the logs?

[2016-10-13 22:12] aluzzardi commented on #27323
/cc @tonistiigi

[2016-10-13 22:12] aluzzardi commented on #27323
This looks pretty awful

[2016-10-13 22:14] garlab commented on #22207
I have the same issue. I'm using Gitlab CI with dind (docker in docker).

[2016-10-13 22:15] aluzzardi commented on #27243
@DieterReuter Have you ever seen this?

[2016-10-13 22:15] aluzzardi commented on #27237
@saithala Could you please retry on 1.12.2? Thanks

[2016-10-13 22:19] LK4D4 commented on #27084
I think node can't bind its listen-addr on Hyper-V, probably Hyper-V network blocking something. I have no way to try though.

[2016-10-13 22:23] aluzzardi commented on #27208
Could you post the output of `docker service ls`?

And for each service, the output of `docker service inspect <service name>`

[2016-10-13 22:25] bigwhite commented on #26946
@mrjana
restart daemon for a fresh env, then

1、create swarm:

manager(10.47.136.60):

[code]

manager log:

[code]

worker (10.46.181.146)log:

none

2、worker node join

[code]

manager node log:

none

worker node log:

[code]

3、create mynet1 network

[code]
both manager node and worker node have no new log

4、creat sevice mynginx

[code]

manger node:
[code]

5、create service myclient
[code]

[2016-10-13 22:29] aluzzardi commented on #27203
@mrjana Could this be related to the kernel version?

/cc @dperny @aaronlehmann Should we run some automated benchmarking?

[2016-10-13 22:32] dmitrym0 commented on #13928
Apologies for reviving an old thread. Is there anything out there off the shelf now or something that I can base my efforts on? I'm looking for a similar versioning workflow.

[2016-10-13 22:46] thaJeztah commented on #25845
Oh, looks like it indeed, thanks @johnstep, I'll close this issue, but feel free to comment if we closed by mistake

[2016-10-13 22:46] #25845 closed

[2016-10-13 22:49] vielmetti commented on #27045
I'm happy to test this out on an aarch64 machine that I have access to.

[2016-10-13 22:59] mrjana commented on #26946
@bigwhite It looks there is definitely some problem in getting through 7946/udp in your clusters. This log confirms the problem in your infrastructure in a way.

[code]

`nc` is not a good tool to verify it because it will only verify if it is successfully able to send a UDP packet out but will never know if it was received by the remote listener because it has no way of knowing that. You might ha

[2016-10-13 23:04] thaJeztah commented on #26480
@bvipparla are your services connected to a custom network? If you don't specify a network, you won't be able to use service discovery by name.

[2016-10-13 23:07] mrjana commented on #26806
@saithala Have you made sure you opened up gossip ports 7946/udp and 7946/tcp in your environment? Can you attach the daemon logs from `Host1` to the issue?

[2016-10-13 23:54] dmcgowan commented on #27298
@MohammedYunus: thanks, to help me create a reproducible test for this could you provide me the output of running `id` and `ls -ld /u01/app/oracle/product` after `mkdir /u01/app/oracle/product`.

[2016-10-13 23:55] justincormack commented on #27357
containerd is a dependency for both. If you want to fix things, you need to submit against master; I doubt that the differences and fixes will be much different for the issues on aarch64. There are a few open and closed issues that you could take a look at.

[2016-10-13 23:58] justincormack commented on #27352
@sivaswami it is unsupported as containerisation features and networking may not work on older kernels, so we cannot support them. We go back as far as we can. There are bugs in earlier versions that cannot be worked around. They may not affect your use cases.

[2016-10-13 23:59] justincormack commented on #27352
Closing as answered - if you have more questions please continue to ask...

[2016-10-13 23:59] #27352 closed

[2016-10-14 00:04] bvipparla commented on #26480
@thaJeztah yes. We've a custom overlay network with 4 nodes running in swarm mode. If we restart all the docker engines, the SD is working fine using the service name. After a while, it doesn't work again. We are building a micro services stack where all of the individual micro-services report about the health to a central discovery server over rabbitmq. We are running the rabbitmq as a swarm serv

[2016-10-14 00:06] nmvega commented on #25559
Hello friends:

@thaJeztah came super close to the resolution for me. It turns out that the entries he referred to, to modify (more precisely, to remove) can also be found here, if you manually created this file (as I did):

/etc/systemd/system/docker.service.d/docker.conf

(... actually, it could be called anything ending in ".conf", and it will be picked up. I just happened to use the sensible n

[2016-10-14 00:09] saithala commented on #26806
@mrjana  all the nodes in the swarm cluster are in the same subnet. So there should be no restriction on the ports

[2016-10-14 00:10] thaJeztah commented on #26480
@bvipparla could you open a new issue with those details (and possibly more details, if relevant)?

[2016-10-14 00:21] nmvega commented on #25559
P.S. Here is the docker.conf file contents (in case anyone is curious). But I have remove it from my system.

[code]

[2016-10-14 00:36] thaJeztah commented on #27281
@bmerry the registry returns the same error for repositories that don't exist, or exist, but you don't have access to; this is done to not expose the _existence_ of a repository, as the name of a repository in itself may reveal confidential information. GitHub does the same for private repositories; if you don't have access, you get a 404. I wasn't sure if a 403 or a 404 was returned in those case

[2016-10-14 00:36] #27281 closed

[2016-10-14 00:47] thaJeztah commented on #22678
Looks like this is a duplicate of https://github.com/docker/docker/issues/24928, which contains some more information; and an issue on docker for mac was opened in https://github.com/docker/for-mac/issues/179

I'll close this issue

[2016-10-14 00:47] #22678 closed

[2016-10-14 00:59] vikstrous opened #27370 "--net-alias doesn't work for attachable overlay networks in swarm mode"
**Description**

`--net-alias` doesn't do anything when running containers on attachable overlay networks in swarm mode

**Steps to reproduce the issue:**
1. docker network create -d overlay --attachable testnet
2. docker run --rm -it --net-alias aaaaaa --net testnet --name test alpine sh
3. docker inspect test

**Describe the results you received:**
The test container doesn't have a network alias

[2016-10-14 01:10] thaJeztah commented on #22789
@mpalmer you could configure the `-H` through a daemon.json configuration file instead of through upstart https://docs.docker.com/engine/reference/commandline/dockerd/#/daemon-configuration-file

[2016-10-14 01:12] thaJeztah commented on #27268
In Swarm, each node pulls the image individually, so that option has to be set on each node / daemon. Swarm (nor Swarm _mode_) does not _push_ images to the nodes

[2016-10-14 01:27] imamassi commented on #8755
For this issue, I just download winpty from https://github.com/rprichard/winpty/releases (the cygwin version one), then extract it to my git bash, then prefix 'winpty' to every command that have this issue . Maybe it'll help :).

[2016-10-14 01:30] hqhq commented on #27045
I'm working on this right now, there are some issues when we tried to use gccgo as bootstrap on trusty in https://github.com/docker/docker/pull/20342, so Dockerfile.aarch64 uses wily, trying to figure that out if we want to build dep for trusty.

[2016-10-14 01:38] hodiapa commented on #27200
Even in my case the checkpoint restore doesn't succeed. I am not running checkpoint inside the docker container though

[2016-10-14 01:50] neconano opened #27371 "Error starting daemon: layer does not exist"
please help

[2016-10-14 01:52] friism commented on #24808
@arun-gupta `docker ps` is not a swarm-wide command, and at no time did it show containers other than the ones on the manager node. `docker service ps web` will show containers running for that service across the swarm.

Currently, the swarm is configured to run containers on both managers and workers. If you created enough replicas, eventually one would be scheduled on the manager you're on too.

[2016-10-14 02:16] SeanZhu20 commented on #10218
I also encountered this issue with CentOS 7 and docker 1.9.1

Error response from daemon: Cannot start container ad4147a19faccd36b3d235d557866e23dd9f395082c9b54f95ddf03d642a7b6c: network bridge not found

[2016-10-14 02:22] allencloud commented on #27345
@dattatrayakumbhar04 Thanks a lot for your feedback 🐯
Yes, the docs told us that, indeed.
While I think I have some different opinion on this.
The reason I hope to emphasize most is that I can not create a volume with labels if the given name is already exists in the volume store.

like `docker volume create --name volumeA --label aa=bb` works if vlomeA already exists, while no label was added int

[2016-10-14 02:51] SeanZhu20 commented on #10218
I stilled encountered this error.
I'm excuting docker run on CentOS 7 and my docker version is 1.9.1:

got this:
## Error response from daemon: Cannot start container 99718c9e8778152da6297cd3c6652519a99aa439ff5c376c2d535ecb5ac61c2c: network bridge not found

[issue18113]( https://github.com/docker/docker/issues/18113) is a similar issue and Deleting /var/lib/docker/network/files/local-kv.db was su

[2016-10-14 02:55] rafambbr opened #27372 "iTerm2"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2016-10-14 02:56] #27372 closed

[2016-10-14 03:00] stevvooe commented on #25940
Failure of a remote logging endpoint should never fail an application (I have a caveat to this below).

That said, when the endpoint is unreachable, we need to define the behavior:

1. spool logs endlessly and forward on recovery.
2. spool logs into rotating buffer and forward available on recovery (aka save last N).
3. Drop all logs, lose data.
4. Fail application.

There are probably arguments f

[2016-10-14 03:13] kxcf commented on #25488
Similar to @ragingnerd , I solve this by following commands:
[code]

[2016-10-14 03:20] stevvooe commented on #26808
@aluzzardi I think it would be better to map this manually, per the suggestion above.

[2016-10-14 03:37] cyphar commented on #8755
@imamassi `script` will also work. The fix exists within runc (opencontainers/runc#1018) but because it's quite a large change it's not been merged yet. We're hoping to get it merged by the end of the month (in time for OCI 1.0-rc2).

[2016-10-14 04:09] aj-jaswanth commented on #19699
@jessfraz Facing error while installing mysql, with `/usr/sbin/mysqld: error while loading shared libraries: libpthread.so.0: cannot open shared object file: Permission denied`

[code]

[2016-10-14 04:15] jessfraz commented on #19699
This is the wrong issue, there is no docker-engine profile anymore.

[2016-10-14 04:15] jessfraz commented on #19699
The profile you deleted is something else, it is the apparmor profile for containers

[2016-10-14 04:18] jessfraz commented on #19699
@aj-jaswanth this looks like your issue https://github.com/docker/docker/issues/5430

[2016-10-14 04:30] laurieodgers commented on #4737
I can confirm that this is still an issue with 1.12.1

[2016-10-14 04:30] dmyerscough commented on #13885
[code]

Kernel: 3.18.27

Stackstrace: [https://gist.github.com/dmyerscough/6948218a228ff69dd6e309f8de0f0261](url)

[2016-10-14 05:16] git-jiby-me commented on #22790
@msabansal now that windows docker can support compose v2,  any chances of support for link and overlay network. With that i think windows docker will have complete compose support.

[2016-10-14 05:36] mrjana commented on #26806
@saithala That doesn't mean there are no restrictions on the ports. If you attach the daemon logs from `Host1` that will clarify a lot better.

[2016-10-14 05:59] arun-gupta commented on #24808
@friism IP address of all the workers was obtained from the EC2 console and then tested on a browser using `<ip>:80`

[2016-10-14 06:05] tonistiigi commented on #13885
@dmyerscough This seems to be https://github.com/docker/docker/issues/22732 . Fixed in 1.11.2 and 1.12

[2016-10-14 06:05] bmerry commented on #27281
@thaJeztah The registry doesn't return a 403 *or* a 404. It is returning a 401, as you can see from the server log in my original bug report. The relevant line again:
[code]
Why can't Docker Engine pass on this 401 error to the client? It doesn't make sense for Engine to keep this feedback secret, since the user can discover it by his/her own HTTP connection to the registry.

[2016-10-14 06:14] bigwhite commented on #26946
@mrjana

I did some traffic sniffer test:

1. 4789 udp test

I did sniffer both on manager node and worker node:

[code]

then I send traffic to the 4789 port of worker node on manager node:

[code]

tcpdump output:

[code]

reversely, I send traffic to the 4789 port of manager node on the worker node:

[code]

tcpdump output:

[code]

Is it prove that the listener of 4789 on both nodes has any pr

[2016-10-14 06:15] demaniak commented on #27045
@hqhq @vielmetti hi, sorry, I had all good intention to also take a stab at this, and then real life work happened!
But, I will also be able to test on aarch64 hardware if something needs testing (during evenings (GMT+2) at least).

[2016-10-14 06:23] xiaods commented on #25064
not found DOCKER_HOST setting in this config file. anyone can do me a favor?

[2016-10-14 07:05] cyphar commented on #19425
@aaronlehmann Oh, I misread what the point was. I thought that @samwagg was suggesting that we run it on a dummy registry (not a dummy image). Never mind, I hadn't had much sleep while responding. :wink:

[2016-10-14 07:29] tevjef opened #27374 "Inconsistent logging output to the fluentd driver."
**Description**

Docker does not produce logs for some or all containers after a fluentd logging container restarts.

**Steps to reproduce the issue:**

* Start a fluentd container with a config that writes all container output to stdout.
[code]
**test.conf**
[code]
* Start some containers that produce logs to the fluentd logging driver, tag them to better identify them.
[code]
* Confirm logs were

[2016-10-14 07:35] thaJeztah commented on #22790
@git-jiby-me there's work in progress to get overlay networking working on Windows, but I don't have a date yet when that will be available

[2016-10-14 07:39] git-jiby-me commented on #22790
@thaJeztah wonderful, happy to know its being worked on.

[2016-10-14 07:44] tevjef commented on #27374
Video reproducing the steps: https://www.youtube.com/watch?v=7CdffAAaA9o
If there's anything else I can do to help, let me know.

[2016-10-14 08:07] chovy opened #27376 "error when installing"
From your ubuntu docs for installing:

[code]

I'm on ubuntu 16.04 LTS

[2016-10-14 08:14] jberggg commented on #27188
@justincormack We installed Docker for Mac Version 1.12.2-beta28 (12906). Unfortunately we still get the error `"Error": "cannot join secure network: required modules to install IPSEC rules are missing on host",`.

Here are the details of the network we try to join:
[code]

I gave the suggestion of @aboch a try and let the dind engine run inside a debian container with privileges (on docker for ma

[2016-10-14 08:22] justincormack commented on #27045
We want to stop using wily if possible, but that needs some work too.

On 14 Oct 2016 02:30, "Qiang Huang" <notifications@github.com> wrote:

[2016-10-14 08:26] AkihiroSuda commented on #27376
The issue is very specific to your environment; you need to install the default kernel.

Why are you using a custom OpenVZ kernel for RHEL6 on Ubuntu?(http://cdimage.debian.org/mirror/openvz.org/kernel/branches/rhel6-2.6.32-testing/042stab117.14/)

[2016-10-14 08:54] vivekjuneja commented on #26767
+1 for this as well. We are planning to use Filebeat as a Docker Container. We use NIC bonding to provide a single network interface for application and logs. Isolating one NIC from the bond is something that we cannot control, as we use on-demand VMs (standardized). So, isolating the Filebeat traffic from App Services would be a great use of this feature.

[2016-10-14 08:57] chovy commented on #27376
I don't know to be honest. Just bought a cheap VPS and re-installed Ubuntu 16.04 on it. They must have monkey patched the template. This certainly explains it. Is there anything I can do, like re-install an Ubuntu kernel?

[2016-10-14 09:09] samprog1 commented on #27371
How are you trying to start the daemon?

What version are you using on what OS?

[2016-10-14 09:25] budaozhao commented on #27233
I am having the same issue.  Docker version 1.12.1, build 23cf638

[2016-10-14 09:39] hqhq commented on #27045
@justincormack I agree, but got problem on trusty, I use the following Dockerfile:

[code]

When build the image, I got fail:
[code]

I did some digging, looks like `os.Unsetenv` was added in go 1.4, while trusty only has gccgo4.9 which only includes a complete Go 1.2 implementation, so we can't use gccgo-go as bootstrap for building golang source.

Also ping @tianon , any suggestions on this?

[2016-10-14 09:42] hqhq commented on #27045
Anyway `wily` is not LTS, so we probably should drop this and move to `xenial`, maybe for deb, we can skip `trusty` and only support `xenial`, though that would be bad since we have lots of `trusty` users (including me).

[2016-10-14 09:56] sanket-thakkar opened #27378 "Feature request: Transfer images from one registry to another registry without pull, tag,push"
If I want to transfer docker images from private registry to another private registry
OR
If I want to transfer docker images from public registry to private registry.

In above listed cases its understood that user authorised to do operations for that registry server.

Reason for requesting this feature because then image pulling/pushing internet network traffic can be reduce tremendously if once

[2016-10-14 10:21] adrahon opened #27379 "Named volumes don't work with services"
**Description**

It seems that to have a different volume for each task in a service, you need to use anonymous volumes, which apparently only work with the local driver.
If you want named volumes, each task gets the same volume.

**Steps to reproduce the issue:**
Create a service with a named volume using a shared storage driver:

[code]

**Describe the results you received:**

The same volume wi

[2016-10-14 10:27] justincormack commented on #27379
I think there was a discussion around templated resource names, I can't find it immediately.

[2016-10-14 10:37] calmera commented on #27351
We are experiencing the same issues with docker 1.12.2 running on ubuntu trusty 14.04.2 x86_64

[2016-10-14 10:40] justincormack commented on #27351
@calmera this issue is for Raspberry Pi/arm hardware only. Pleas open another issue. They might be related but it is fairly unlikely.

[2016-10-14 10:48] yajo opened #27380 "No Fish completion for docker swarm, node, network and service"
**Description**

Seems like CLI completion for the new commands introduced in v 1.12 is no working for Fish.

**Steps to reproduce the issue:**
1. Open a fish session.
2. Write `docker serv[TAB]`, `docker nod[TAB]`, `docker netw[TAB]` or `docker sw[TAB]`.

**Describe the results you received:**
No autocompletion

**Describe the results you expected:**
Autocompletion

**Additional information you d

[2016-10-14 11:02] ceecko opened #27381 "Driver devicemapper failed to remove root filesystem. Device is busy"
**Description**
Cannot remove containers, docker reports `Driver devicemapper failed to remove root filesystem. Device is busy`. This leaves containers in `Dead` state.

**Steps to reproduce the issue:**
1. `docker rm container_id`

**Describe the results you received:**
Error message is displayed: `Error response from daemon: Driver devicemapper failed to remove root filesystem ce2ea989895b7e073b

[2016-10-14 11:09] calmera commented on #27351
owkay will do. Just informational, but it seems that reinstalling apparmor solves it. The problem seems to be that the apparmor profiles are missing.

[2016-10-14 11:34] newnius opened #27382 "Swarm mode. replicas than wanted"
I started a service (storm-supervisor below) and assigned the replicas to be 3. However it turned out to be 17 running, this list shows the node rejected the task but still started the container.
The docker version is 1.12.2-rc3

[code]

[code]

[code]

[code]

[2016-10-14 11:34] hmdhasani commented on #27157
@rogaha I had the same issue, this is because of Cassandra startup scripts tries to find host ip when listen_address is not provided so as
https://github.com/docker-library/cassandra/blob/master/docker-entrypoint.sh
it runs $(hostname --ip-address)
but some time (like in swarm mode) that command returns multiple ips
I replaced that command by:
$(ip -o -4  addr list eth0 | sed -n 1p  |  awk '{print

[2016-10-14 11:37] hollykunge commented on #20910
这问题应该怎么解决啊  还有eval $(docker-machine env default) 这个命令到底是什么鬼

[2016-10-14 11:45] allencloud commented on #26485
Oh, Thanks @thaJeztah
I have no idea why I missed some github emails recently. 😭
Sorry for my delay.

[2016-10-14 12:09] alexvranceanu commented on #27323
I'm experiencing the same issue with 1.12.2-rc2 running on CentOS 7.2.1511, kernel 3.10.0-327.36.1.el7.x86_64 #1 SMP, with Swam active (this node is a manager):

[code]

[2016-10-14 12:09] cpuguy83 commented on #27379
Services don't have volumes, they have mounts. Mounts happen to be able to be backed by a volume.
This is an intentional limitation that there are no orchestrated volumes (yet) in 1.12.

That said 1.12.2, IIRC, will allow mounts to use an anonymous volume even when a driver is specified.... this may only be in 1.13, I can't remember.

[2016-10-14 12:31] alexvranceanu commented on #27323
As an update, apparently the remote API is not responding to calls:
[code]

[2016-10-14 13:01] adrahon commented on #27379
We tried with 1.12.2 and anonymous volumes didn't work with a driver, but if it's in 1.13 that's enough for this use case and we can close the issue.

[2016-10-14 13:04] jcberthon commented on #27351
@calmera I'll try reinstalling AppArmor but at least the profile for Docker is there and listed by the `aa-status` command. So it seems that you have a different issue.

But as I said I will try it, in a couple of hours as I need to take care of my family now 😊

[2016-10-14 13:05] alexvranceanu commented on #27323
Sounds like it might be related to #27272

[2016-10-14 13:10] vielmetti opened #27384 "aarch64: build fails with TestOverlay128LayerRead"
**Description**

I'm trying to build master on ARMv8 (aarch64). The overlay2 test fails with "TestOverlay128LayerRead".

**Steps to reproduce the issue:**
1. install Docker on Ubuntu for aarch64 with "apt-get install docker.io"
2. download docker source and build with "make all"

**Describe the results you received:**

[code]

**Describe the results you expected:**

Expect all tests to pass.

**Ad

[2016-10-14 13:45] saithala commented on #26806
@mrjana
Attached is the daemon logs from host1.  There are some errors related to logging driver. Please ignore that. Thats the error related to the logging driver I explained earlier.
[docker.txt](https://github.com/docker/docker/files/529629/docker.txt)

[2016-10-14 13:47] szmi commented on #27214
@justincormack: any idea which kernel change is required to fix this?

[2016-10-14 14:03] cpuguy83 commented on #27323
Looks like a deadlock on the network controller.
Ping @mrjana

This seems like the relevent code holding the controller lock:
[code]

While the controller is locked it's stuck trying to acquire the lock on a "serviceBinding"
I'm not sure what this is.

[2016-10-14 14:04] cpuguy83 commented on #27323
Btw, the network controller is deadlocked, making any actions like start/stop hang while the container is locked, which makes commands like `docker ps` and `docker inspect` hang.

[2016-10-14 14:04] baparici opened #27386 "`dockerd` daemon not present in Docker 1.12.1 for CentOS"
**Docker 1.12.1 in CentOS includes `dockerd-client` however, `docker` expects `dockerd` daemon**

CentOS server upgraded to Docker 1.12.1 using Docker package form http://cbs.centos.org/repos/virt7-docker-common-candidate repo (followed instructions from https://wiki.centos.org/Cloud/Docker).
The startup tasks expects a `dockerd` daemon in the `$PATH` instead of `dockerd-client`.

**Steps to repro

[2016-10-14 14:15] saithala commented on #27237
@aluzzardi no luck on 1.12.2 too.

[2016-10-14 14:27] justincormack commented on #27386
That is not out Centos package. You can get our packages via https://get.docker.com or see https://docs.docker.com/engine/installation/linux/centos/

I am going to close this issue as this is an unofficial non working package.

[2016-10-14 14:27] #27386 closed

[2016-10-14 14:32] helgeho commented on #13817
Okay, I just figured that this is just because of the terminal mode set in the ubuntu image.
Changing the terminal mode of ConEmu to XTerm or calling docker with `docker run -e TERM ...` fixes it.

[2016-10-14 14:59] talex5 commented on #27361
Agree this looks like a bug. I've attempted a fix in #27387 if you have time to test it.

[2016-10-14 15:02] tophj-ibm commented on #27045
@hqhq what about the `golang-1.6` package? It looks like that should be available on trusty.

[2016-10-14 15:08] vlascik opened #27389 "Arrows etc. still don't work properly in Docker 1.12.2 + ConEmu"
**Description**
While docker 1.12.2-rc1 made arrows in bash work, in programs started from there they still don't work properly in ConEmu.

**Steps to reproduce the issue:**
Every time I'm doing `docker exec -it <container> /bin/bash`. TERM is set to `xterm`, and i'm running `less <some_log>` and trying to navigate using arrows inside.

**Describe the results you received:**
- cmd.exe + ubuntu:16.

[2016-10-14 15:31] estesp commented on #22994
Wow..sorry that I never saw the original ping from @thaJeztah .. will look for an excuse later ;)

Yes, the kernel restrictions on remount in userns with changed flags is potentially confusing and has been different across recent distro kernels due to changes over the past year or two (ref. the PR about `--readonly` and userns now being possible on modern kernels)

I agree that *if* the original f

[2016-10-14 15:33] baparici commented on #27386
Thanks @justincormack

[2016-10-14 15:54] jefflill opened #27390 "Swarm mode services cannot publish ports as both TCP and UDP"
**Description**

Docker swarm mode services cannot publish a port using **both** the TCP and UDP protocols.

**Steps to reproduce the issue:**
1. Create a swarm mode cluster.
2. Run: `docker service create --name test -p 10000:10000 -p 10000:10000/udp alpine sleep 100000`

**Describe the results you received:**
Error response from daemon: rpc error: code = 3 desc = EndpointSpec: duplicate publishe

[2016-10-14 16:03] boucher commented on #27200
Can you provide more details?

On Thu, Oct 13, 2016 at 6:39 PM hodiapa <notifications@github.com> wrote:

[2016-10-14 16:06] aboch commented on #27390
I think this has just been fixed in https://github.com/docker/swarmkit/pull/1632

[2016-10-14 16:16] jefflill commented on #27390
Thanks: Very cool!

I'll have to figure out how to get the latest unstable bits and try it out.  Do you happen to know whether I can find these at http://test.docker.com or will I need to build this myself?

[2016-10-14 16:20] aluzzardi commented on #27323
Bumping to P1

[2016-10-14 16:42] binarytemple-bet365 commented on #6396
Same problem here, how does one build something, where that something requires SSH credentials in order to check and build a number of projects at build time, inside a docker container, without writing credentials to the image or a base image.

[2016-10-14 16:46] groyee commented on #27268
I see.

So it still means that if I have 100 VMs then all of them at once will start download a container and this can choke the network. I will try setting -max-concurrent-downloads=1 but I am doubtful it will change anything.

[2016-10-14 16:54] dsheets opened #27393 "Proposal: docker build read Dockerfile from stdin"
I propose that `docker build` accept `-f -` to indicate that the Dockerfile to be used is read from the STDIN of the `docker` client process.
### Use cases
- Shared engine CI systems can now stack anonymous image builds easily without requiring intermediate directories or tar archives
- Dockerfiles in local directories, tar archives, and git repos can now be overridden
- `docker build` is now a ve

[2016-10-14 17:00] bibendi commented on #6396
https://github.com/bibendi/dip#dip-ssh

[2016-10-14 17:01] jbiel commented on #6396
We work around this by having a 2-step build process. A "build" image containing the source/keys/build dependencies is created. Once that's built it's run in order to extract the build results into a tarfile which is later added to a "deploy" image. The build image is then removed and all that's published is the "deploy" image. This has a nice side effect of keeping container/layer sizes down.

[2016-10-14 17:02] #26227 closed

[2016-10-14 17:03] hodiapa commented on #27200
` docker checkpoint create --leave-running nas1 chk1
Error response from daemon: Cannot checkpoint container nas1: rpc error: code = 2 desc = exit status 1: "criu failed: type NOTIFY errno 0\nlog file: /var/lib/docker/containers/adfb66d5230eec64adf8dafaf80545431418113c7cbfcc2ff73a6f58ee0a5837/checkpoints/chk1/criu.work/dump.log\n"
`

dump file: https://gist.github.com/hodiapa/a74a5990fa08675cb81ab

[2016-10-14 17:08] boucher commented on #27200
Checkpoint isn't currently supported for interactive containers, only ones
started in background mode.
On Fri, Oct 14, 2016 at 10:06 AM hodiapa <notifications@github.com> wrote:

[2016-10-14 17:11] tarikjn commented on #6396
@binarytemple-bet365 see https://github.com/iheartradio/docker-node for an end-to-end example doing exactly that. I use more than two steps as I use a ssh service container, pre-install (base image until before installing private dependencies), install (container state after runtime installation of private dependencies) and post-install (adds commands that you had after installation of private dep

[2016-10-14 17:13] hodiapa commented on #27200
Ok .. I did following:

[code]

Error:

[code]

dump: https://gist.github.com/hodiapa/2c46ba21f35153fbb2bc2f6804f7363b

[2016-10-14 17:22] mrjana commented on #27323
It is a AB/BA deadlock between controller and service lock. Pushed a PR to fix it in https://github.com/docker/libnetwork/pull/1507

[2016-10-14 17:32] aboch commented on #27390
@jefflill Sorry I wasn't clear. The fix was just pushed to the swarmkit branch, but was not ported to docker/docker yet. When this is done via a vendoring PR, this issue can be closed.
So current docker build, does not have the fix yet.

[2016-10-14 17:32] thaJeztah commented on #27268
For "classic" Swarm, yes. Swarm _mode_ does rolling updates, so you can specify how many nodes / service instances should update in parallel.

[2016-10-14 17:42] MohammedYunus commented on #27298
Copy/pasting the requested info

[oracle@8ba8d3453148 ~]$ mkdir  /u01/app/oracle/product
[oracle@8ba8d3453148 ~]$ id
uid=1000(oracle) gid=500(oinstall) groups=500(oinstall),501(dba),502(asmadmin),503(asmdba)
[oracle@8ba8d3453148 ~]$ ls -ld /u01/app/oracle/product
drwxr-xr-x 2 oracle oinstall 4096 Oct 14 17:38 /u01/app/oracle/product

[2016-10-14 18:01] jefflill commented on #27390
OK.  Thanks.

[2016-10-14 18:33] jakerobers commented on #27351
@calmera I am experiencing this issue on Ubuntu Trusty 16.04.1 with Docker 1.12.2. Have you made an issue yet? Otherwise I can.

[2016-10-14 18:35] dongluochen commented on #27268
`docker pull` command to "classic" Swarm would trigger download on all the nodes. Is it necessary to call `docker pull`? If you organizes your script to issue `docker run`, each `run` command would pull the image if not exists on the node, then run the container. Would that reduce simultaneous pulls to avoid congestion?

[2016-10-14 18:35] vielmetti commented on #27045
It looks like golang 1.6 is available through this ppa

http://www.ubuntuupdates.org/ppa/lxd?dist=trusty

with these instructions

[code]

[2016-10-14 18:41] aluzzardi commented on #27323
@mrjana Can you share more details on the likelihood of the deadlock triggering?

Does this warrant a 1.12.3? /cc @vieux @thaJeztah

[2016-10-14 18:45] nlsun opened #27396 "Get logs from service in Docker Swarm mode"
It doesn't seem like there is a way to get the logs from a container running in a service, or even to get the containers running in the service?

[2016-10-14 18:54] ximm commented on #26309
Using 1.12.1 here on Ubuntu Trusty, similar issue. :(

Switched this week from aufs to overlay; now on multiple nodes, rmi hangs and requires service (daemon) restart.

After restart I observe the image name:tag pair being rmi'd is no longer in images list.

But, an intermediate with different image ID and no name:tag, is. From size it appears it might be the second-to-last intermediate built.

Th

[2016-10-14 18:59] thaJeztah commented on #25396
Looks like this was fixed in 1.12.2;

[code]

[2016-10-14 18:59] #25396 closed

[2016-10-14 19:05] thaJeztah commented on #27323
I created a 1.12.3 milestone for tracking

[2016-10-14 19:05] nathanleclaire commented on #24085
FWIW, I like asynchronous join.  Our automation struggles primarily with determining initial leader (we are implicitly doing an election on `init` which creates a leader, no?  shouldn't raft take care of this?) and on token distribution.

Probably most users will end up dumping the tokens in somewhere like S3, right?  And if they do that, don't they end up with a big risk of leaking them?  I know

[2016-10-14 19:06] nlsun opened #27397 "Can't run a service on Docker swarm mode"
**Description**

I'm trying to run a service on Docker swarm mode and it just fails and there is no way to debug it. I can do a docker run just fine, just not docker service create

**Steps to reproduce the issue:**
1. `docker service create --name vegeta nlsun/vegeta "sleep infinity"`

**Describe the results you received:**

Lots of dead containers. No idea why it never comes up.

**Describe the

[2016-10-14 19:07] thaJeztah commented on #27396
You can get logs for individual container, but only from the node they're running on (see https://github.com/docker/docker/issues/23710)

Work is in progress to improve this, and to support logs for services (see https://github.com/docker/docker/issues/24812)

I'll close this issue because we're tracking this through https://github.com/docker/docker/issues/24812, but thanks for reporting

[2016-10-14 19:07] #27396 closed

[2016-10-14 19:14] thaJeztah commented on #27397
You can see error message in the output of `docker service ps`, for example:

[code]

And inspect a failed task;

[code]

We are working on improving the logs to allow getting the logs for the containers backing a service more easily; see https://github.com/docker/docker/issues/24812

I'll close this issue, as we're tracking this through https://github.com/docker/docker/issues/24812, and I hope th

[2016-10-14 19:14] #27397 closed

[2016-10-14 19:18] nlsun commented on #27397
Thanks! So I got a bit more info, but how do I get the full error?
[code]

[2016-10-14 19:21] mrjana commented on #26588
I think I know the root cause. It is because the Agent cleanup of old tasks is happening concurrently with the container getting restarted when daemon starts and sometimes the Agent might cleanup the network that was just created locally for the container starting phase. Working on a fix for this.

[2016-10-14 19:22] nlsun commented on #27397
@thaJeztah ^

[2016-10-14 19:59] thaJeztah commented on #27397
i think it should be visible in `docker inspect 7zqv9qggt1i9m8lo0dpexczmb`

[2016-10-14 20:01] thaJeztah commented on #27390
i'll reopen as it's not fixed in docker/docker yet

[2016-10-14 20:07] bnaylor commented on #27324
Forgive the delay, it's been a while - I needed to give it another shot to remember exactly what failed in that case.  Looks like the first thing you run into is that iscsiadm wants the iscsi_tcp kmod.

[2016-10-14 20:15] flaviohrocha commented on #18826
This issue also applies to version 1.12? I had this problem in my environment:

$ docker version
Client:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   23cf638
 Built:
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   23cf638
 Built:
 OS/Arch:      linux/amd64

[2016-10-14 20:18] henriquechehad commented on #12997
+1

[2016-10-14 20:20] thaJeztah commented on #27370
/cc @mrjana

[2016-10-14 20:22] Devlopers commented on #17645
On my latest Mac OSX Sierra,
I also got the error, after I install Docker Toolbox, when I run docker on my terminal:

[code]

[2016-10-14 20:41] aensidhe opened #27398 "Consul protocol for docker."
Sometimes container is not deleted from consul and adding it back (via docker network connect) results in error:
[code]

If I found and delete a key from consul: `docker/network/v1.0/endpoint/network-id/endpoint-id/` error changes to:

[code]

We use static ips, because we are not ready yet to move to real service discovery from consul.

What keys should I delete to cleanup that record?

[2016-10-14 20:47] idugalic commented on #27208
I am experiencing the same issue.
_Docker version 1.12.2, build bb80604, experimental_
_docker-compose version 1.8.1, build 878cff1_

I have some example project, and I am running this [script](micro-company/docker/swarm-mode-local.sh) (all docker images are publicly available)
The problematic line is:  **docker deploy --file [micro-company.dsb](micro-company/docker/micro-company.dsb) micro-compan

[2016-10-14 21:08] fingermark opened #27399 "docker swarm mode overlay can't access external internet"
**Description**

I'm using swarm mode and a network overlay on AWS.  On the AWS created docker-machines I can access the external network.  Inside the docker container I cannot.

It is likely that I'm doing something wrong.

**Steps to reproduce the issue:**

[code]

It now hangs.  Note that the container doesn't have access to ping or anything useful, which I don't get.

**Describe the results yo

[2016-10-14 21:21] johnstep commented on #27340
Which version of Docker? Is the 'temp' directory in the container missing or empty? If empty, try passing a full (absolute) path for the host directory, something like this:

`docker run -it -d -v C:\source\temp:C:\temp microsoft/windowsservercore`

With a simple name such as 'temp', Docker creates a named volume, which it manages. You can get information about the named volume with 'docker volume

[2016-10-14 21:23] JeanMertz commented on #12997
What's the point in continuing this "discussion" and speaking up, if we haven't had an official response since, with quite a lot of requests for this feature in 1,5 year time?

[2016-10-14 21:28] jcberthon commented on #27351
I did test to remove and purge all my AppArmor and Docker package. Then I reinstall first AppArmor packages and then Docker. But to no avail, I still get the same exact error in the same context.

However, @justincormack I've found something interesting:

On Ubuntu 16.04 with Docker 1.12.2 when checking the lib dependencies of `docker-runc` I get this:

[code]

Whereas on Raspbian Jessie with Dock

[2016-10-14 21:34] mrjana commented on #26806
@saithala I don't see any obvious problems from the logs other than the fact that there are a lot of containers getting started on that node based on this log:
[code]

Every line with the text `Firewalld running` is a container getting started.  I don't think you are starting as many containers. Are you service tasks going down frequently? To just debug this problem in manageable manner can you ju

[2016-10-14 21:48] raghu999 opened #27400 "docker stats Collection not working for Mesos. Docker 1.12.2"
**Description**

We are using `bobrik/collectd-docker` docker image in our Mesos environment to collect docker stats of our containers.  After updating to latest version of Docker 1.12.2 the docker stats returns empty values and also we observe we are not able to do a `docker exec` into the container pasting the two outputs for your reference

[code]

<img width="917" alt="screen shot 2016-10-14 a

[2016-10-14 21:54] #27063 closed

[2016-10-14 21:54] #27323 closed

[2016-10-14 21:55] thaJeztah commented on #12997
@JeanMertz https://github.com/docker/docker/issues/12997#issuecomment-233404873, https://github.com/docker/docker/issues/12997#issuecomment-247578941. Changing the format for the current `--env-file` flag will most likely lead to a backward-incompatible change. And there's no common syntax for env files (https://github.com/docker/docker/issues/12997#issuecomment-99514524), so the most likely optio

[2016-10-14 21:56] dongluochen commented on #26946
From your tcpdump it looks UDP port 4789 is not open between manager and worker. If UDP port 4789 is open between them, you should see the same packets on manager and worker. I'm not familiar with Aliyun's network firewall settings. In AWS you need to open following TCP/UDP ports in VPC setting. In Azure there is network firewall setting.

[code]

[code]

[2016-10-14 21:58] thaJeztah commented on #27400
looks like this was opened by mistake

[2016-10-14 22:07] raghu999 commented on #27400
@thaJeztah I was updating the issue

[2016-10-14 22:08] nalind commented on #26808
In terms of estimating size costs, if I'm reading the [doc](https://www.freedesktop.org/wiki/Software/systemd/journal-files/) right, adding seven new fields to each entry would entail adding one Field object and a new item in the Field Hash Table for each new field name, in each journal file, which would be a more or less constant cost on a per-journal-file basis on the order of dozens of bytes.

[2016-10-14 22:08] thaJeztah commented on #27398
You can also `docker network disconnect --force ...` to force disconnecting (or removing it from the database if the container was already disconnected)

[2016-10-14 22:08] nlsun commented on #27397
ahh, I see, I was doing a `docker service inspect vegeta` and seeing a similar looking json and thinking that that was what you posted above. I see now that that the actual child id is what I should have inspected. Thanks!

[2016-10-14 22:08] thaJeztah commented on #27400
Reopening, sorry!

[2016-10-14 22:12] mlaventure commented on #27400
@raghu999 can you check that you have the correct version of `docker-runc` installed?

The error you see is coming straight from it, not from the daemon per se.

The expected version for `1.12.2` is `02f8fa7863dd3f82909a73e2061897828460d52f`

[2016-10-14 22:13] mlaventure commented on #27400
i.e:
[code]

[2016-10-14 22:14] thaJeztah commented on #27397
You're welcome!

[2016-10-14 22:15] aluzzardi commented on #26808
@stevvooe Are you referring to @npcode's approach?

If that's the case, maybe all we need to do is document this.

/cc @mstanleyjones

[2016-10-14 22:24] raghu999 commented on #27400
[code]

[2016-10-14 22:26] aensidhe commented on #27398
@thaJeztah thank you for your kind suggestion.

But we have this problem as the result of automatic deployment when the old container, connected to the network, was removed. And new container, created in place of old with same name for the sake of manageability can't connect to the swarm network.

So, output for your command is:
[code]

[2016-10-14 22:33] mlaventure commented on #27351
We don't specify the `BUILDTAGS` for `runc` when building it in the `Dockerfile` for armhf deb and `runc` default to only `seccomp`, hence the issue.

[2016-10-14 22:38] nalind commented on #27343
When I try to reproduce the bug here, I'm seeing deleted files in the list of open descriptors between when the files are removed and when the daemon notices that they're gone, but they reliably get closed a fraction of a second later.

What's supposed to happen is that the daemon is woken up when it gets a message on an inotify socket that it's using to watch the directory which contains the jour

[2016-10-14 22:41] mlaventure commented on #27400
That's your issue there. Somehow it didn't get updated.

On Fri, Oct 14, 2016, 3:25 PM Raghu Vamshi Challa <notifications@github.com>
wrote:

[2016-10-14 22:49] johnstep commented on #26693
It works for me on Windows Server 2016 GA with its latest updates (KB3176936, KB3192137, and KB3194798), and Docker 1.12.2-cs2-ws-beta, installed per the following page:

https://msdn.microsoft.com/en-us/virtualization/windowscontainers/quick_start/quick_start_windows_server

Please give it a try and let me know if it works. Thanks!

[2016-10-14 22:50] thaJeztah commented on #27398
Can you provide the output of `docker version` and `docker info`?

[2016-10-14 23:00] thaJeztah commented on #27376
I think this is something to discuss with your provider, or switch to a different provider (e.g. DigitalOcean is very cheap as well)

I'm closing this issue because this is not a bug, and we cannot support kernel 2.6 (which is ancient), but feel free to continue the discussion

[2016-10-14 23:00] #27376 closed

[2016-10-14 23:00] ry4nz opened #27402 "Docker logo is no longer seen on README.md"
Looks like the source file is removed (relocated)

[2016-10-14 23:08] aensidhe commented on #27398
[code]

[2016-10-14 23:14] thaJeztah commented on #27398
would you be able to check if this is still an issue on the current release (1.12.2)?

[2016-10-14 23:15] #27402 closed

[2016-10-14 23:19] aensidhe commented on #27398
@thaJeztah I need to restore current server back before proceeding to upgrade docker packages, unfortunately.

[2016-10-14 23:20] aboch commented on #27398
@aensidhe The only way to gracefully release the address is to go through the stale endpoint removal procedure that @thaJeztah suggested.

But now that you manaully deleted the endpoint from the store, you won't no longer be able to release that address.

The db key which holds the IP assignment would be `docker/network/v1.0/ipam/default/config/GlobalDefault/` but if you remove it, you will loose

[2016-10-14 23:22] thaJeztah commented on #27384
/cc @dmcgowan

[2016-10-14 23:23] BretFisher commented on #25303
@thaJeztah should we also add lack of `affinity` in services to this list?

RE: https://github.com/docker/swarmkit/issues/1442

[2016-10-14 23:27] saithala commented on #26806
@mrjana  The reason you see so many containers is we were trying again and again (trial and error) to see if we can identify any pattern of when and how this is happening. Like I mentioned before, we restart the docker daemon and start all services and all of them start fine as long as we dont bring them down again or update them. Im thinking there is some issue with embedded DNS/VIP/IpTables. Jus

[2016-10-14 23:30] dmcgowan commented on #27384
@vielmetti thanks for report, until I can get an aarch64 host to test on do you mind running this set of test suite on the host https://github.com/dmcgowan/dsdbench? They take a little longer to run than the other unit tests but would give a precise point at which layer it is failing.

[2016-10-14 23:31] vielmetti commented on #27384
Happy to, @dmcgowan - I'll give it a look.

[2016-10-14 23:33] raghu999 commented on #27400
Updated my previous comment. We know of a issue which is fixed in 1.12.1 by this https://github.com/docker/docker/pull/21904

[2016-10-14 23:39] aensidhe commented on #27398
I know two things.
1st: if I change a static ip for container, all will work well (but I'll need to redeploy all apps)
2nd: that key contains only subnetworks:
[code]

[2016-10-14 23:42] vielmetti commented on #27384
@dmcgowan - noted a build issue here https://github.com/dmcgowan/dsdbench/issues/1

[2016-10-14 23:46] aboch commented on #27398
@aensidhe
Sorry what I posted was for the pool config.
The address assignment data is kept at the key: `docker/network/v1.0/ipam/default/data/GlobalDefault/<pool id>`

[2016-10-14 23:47] dpeters opened #27404 "Containers get duplicate bridged IPs after docker daemon is restarted"
**Description**
We are encountering containers with duplicate bridged IP addresses. This occurs when the docker daemon is restarted while containers remain running, as the docker daemon will begin handing out the same IP addresses to new containers.

**Steps to reproduce the issue:**
1. start a couple of containers
2. restart the docker daemon
3. start a couple more containers

**Describe the resu

[2016-10-14 23:49] mrjana commented on #26806
@saithala Ok, if you are saying everything is fine in steady state, we need to identify what sequence of changes to the cluster creates the problem. Let's start with what commands you issued that causes the communication to break down. If we can boil down the characterization of this problem to basically this:
* service A is able to communicate with service B
* I performed the following operations

[2016-10-14 23:50] shatil commented on #3155
Moral of the story:

`--publish-service` was renamed to `--net`. To let containers one another without `--link`:
* Create a network using `docker network create $NETWORK_NAME`
* Create your containers using `docker create --net $NETWORK_NAME`

You can then refer to containers sharing the same network by their hostname (either the `--name` you passed in to `create`/`run`, or `docker inspect --forma

[2016-10-14 23:55] stevvooe commented on #25303
Update on host-level networking: we are discussing a simplified model in https://github.com/docker/swarmkit/pull/1645. It would allow containers to be exposed on both the host-level network and any swarm overlay networks that may apply. Still need to figure out what `--network=host` might mean, but it could be as simple as "the network is off and the ports are exposed". Port locations would be exp

[2016-10-15 00:07] aensidhe commented on #27398
@aboch do I undestand correctly, that that key contains bitmap of assigned addresses?

[2016-10-15 00:13] aboch commented on #27398
Yes, that key contains the bitmasks of the assigned addresses for that address pool.

[2016-10-15 00:16] grigio commented on #23347
The bug is still present. Thanks @niij it fixed, no reboot needed

[2016-10-15 00:19] aensidhe commented on #27398
so, if I had /16 network, e.g. 10.1.0.0/16 and address 10.1.20.30, how should I calculate index? 20*256+30 or 30*256+20?

[2016-10-15 00:30] thaJeztah commented on #27393
@dsheets perhaps I misunderstood, but `docker build` already allows building from stdin;

Or is this to build using the _local_ build context, but getting only the _dockerfile_ from stdin?

[2016-10-15 00:31] thaJeztah commented on #27404
Are you still able to reproduce this on the current version (1.12.2)?

[2016-10-15 00:36] thaJeztah commented on #27381
Is this happening with any container? What is running in the container, and what options do you use to start the container? (e.g. are you using bind-mounted directories, are you using `docker exec` to start additional processes in the container?)

[2016-10-15 00:37] gurpreetbajwa commented on #22260
I was getting something like this:

Error response from daemon: Driver aufs failed to remove root filesystem 6b583188bfa1bf7ecf2137b31478c1301e3ee2d5c98c9970e5811a3dd103016c: rename /var/lib/docker/aufs/mnt/6b583188bfa1bf7ecf2137b31478c1301e3ee2d5c98c9970e5811a3dd103016c /var/lib/docker/aufs/mnt/6b583188bfa1bf7ecf2137b31478c1301e3ee2d5c98c9970e5811a3dd103016c-removing: device or resource busy

I s

[2016-10-15 00:48] volak commented on #23225
Seems this issue was fixed at some point - closing

[2016-10-15 00:48] #23225 closed

[2016-10-15 00:50] vielmetti commented on #27384
dsdbench output is here, @dmcgowan

https://gist.github.com/423b469d21da240608e4ff13bef047f0

one line in particular reads

[code]

[2016-10-15 00:50] aboch commented on #27398
The first you said (downmark hid the `*`), 20 * 256 + 30

[2016-10-15 00:51] saithala commented on #26806
Sequence of steps. I build the swarm cluster with 4 nodes. 3 of them are managers and 1 worker. To begin with, I start one replica (or I think replicas does not matter) of each service and attach all of them to the "same" custom overlay network. I have around 12 services.  So as you described, this is steady state. The service to service communication is fine at this point as all the services come

[2016-10-15 01:04] thaJeztah commented on #23225
Thanks @volak

[2016-10-15 01:05] thaJeztah commented on #27158
closing this issue here

[2016-10-15 01:05] #27158 closed

[2016-10-15 01:11] thaJeztah commented on #27382
/cc @aluzzardi

[2016-10-15 01:12] thaJeztah commented on #27233
/cc @anusha-ragunathan @dmcgowan

[2016-10-15 01:12] chandu12345 opened #27406 "Docker Failes to start in windows7 64 bit"
After Starting Docker Quick Start Terminal getting

Docker Quick Start Terminal log

Creating machine...
(default) Copying C:\Users\creddyp\.docker\machine\cache\boot2docker.iso to C:\U
sers\creddyp\.docker\machine\machines\default\boot2docker.iso...
(default) Creating VirtualBox VM...
(default) Creating SSH key...
(default) Starting the VM...
(default) Check network to re-create if needed...
(def

[2016-10-15 01:15] vielmetti commented on #27384
The dsdbench tool also has a benchmark tool, whose output is at

https://gist.github.com/e7dafbd07faf4a20a8f829254810de2d

[code]

[2016-10-15 01:23] thaJeztah commented on #26491
ping @samber

[2016-10-15 01:26] #25855 closed

[2016-10-15 01:32] chandu12345 commented on #27406
Docker Toolbox Version: DockerToolbox-1.12.2

[2016-10-15 01:33] #10451 closed

[2016-10-15 01:33] thaJeztah commented on #27406
Looks like this is an issue related to docker-toolbox, or VirtualBox, can you re-open this issue in the docker toolbox issue tracker? https://github.com/docker/toolbox/issues

[2016-10-15 01:33] #27406 closed

[2016-10-15 01:37] thaJeztah commented on #27374
Change was merged in https://github.com/docker/docker/pull/26740

ping @tagomoris any ideas ?

[2016-10-15 02:21] aboch commented on #27398
@aensidhe Are you planning to modify that pool's bitmask ? That cannot be done. The  `sequence` field contains more stuff than that. If you pass me the curent key value and tell me which IPs need to be reserved, I can prepare it for you.

[2016-10-15 02:29] aboch commented on #27404
@dpeters
Trying to understand the issue: The `bridge` network does not contain any container after you restarted the daemon. I am referring to the o/p after the line `Then after restarting the docker daemon:`.

Can you confirm the running container do not show as connected after daemon restart, or was a mistake in posting the output.

Then you start a new container, and only that one shows in the

[2016-10-15 02:38] tagomoris commented on #27374
I'm in vacation and almost apart from internet.
Will be back here some days later.

2016年10月15日土曜日、Sebastiaan van Stijn<notifications@github.com>さんは書きました:

--
田籠 聡 (TAGOMORI Satoshi)
Mail: tagomoris@gmail.com

[2016-10-15 02:58] thaJeztah commented on #27374
no worries, thanks @tagomoris, enjoy your vacation!

[2016-10-15 03:36] aeikenberry commented on #27233
After I restarted the docker service, I haven't had this issue again.

[2016-10-15 03:53] thaJeztah commented on #27302
Agreed with @AkihiroSuda - swarm mode supports this through the `--mount` flag, and https://github.com/docker/docker/pull/26825 adds this for docker run, possibly "swarm classic" will adopt that.

Let's close this issue

[2016-10-15 03:53] #27302 closed

[2016-10-15 03:57] #26027 closed

[2016-10-15 03:58] thaJeztah commented on #27134
/cc @dmcgowan

[2016-10-15 04:00] thaJeztah commented on #27233
Looks like this is a duplicate of https://github.com/docker/docker/pull/26825, so I'll close this one, please continue the discussion there

[2016-10-15 04:00] #27233 closed

[2016-10-15 04:09] thaJeztah commented on #26017
/cc @mstanleyjones ^^

[2016-10-15 04:29] thaJeztah commented on #27247
/cc @vdemeester

[2016-10-15 06:29] jcberthon commented on #27351
One obvious way to fix the issue seems to add AppArmor to the BUILDTAGS. But I would say that when runc is built without this flag, it should still run on a host regardless if this host support (or not) AppArmor. So there seems to be a configuration problem (the build flag) and a bug.

[2016-10-15 07:05] aensidhe commented on #27398
@aboch timezone issues, I was asleep :)

Ok, I understand now, that it will be simplier to assign new ips.

Thank you for your help, this can be closed, I think.

[2016-10-15 07:05] #27398 closed

[2016-10-15 07:24] erikh commented on #21651
Does anyone mind if I attack this? Is there someone working on it now?

[2016-10-15 07:30] thaJeztah commented on #21651
@erikh please go ahead :+1:

[2016-10-15 08:11] ceecko commented on #27381
We run all containers in pretty much the same way and it happens randomly on any one of them.
We don't use `docker exec`, don't bind-mount any directories.
Here's config of one of the dead containers:

[code]

[2016-10-15 08:26] justincormack commented on #27233
@thajeztah that links to the wrong issue

On 15 Oct 2016 5:00 a.m., "Sebastiaan van Stijn" <notifications@github.com>
wrote:

[2016-10-15 08:29] justincormack commented on #27233
its #27134

On Sat, Oct 15, 2016 at 9:26 AM, Justin Cormack <justin.cormack@docker.com>
wrote:

[2016-10-15 08:36] fjammes commented on #24862
Missing --cap-add to use swarm mode in production, my management push me to move towards kubernetes if this option is not added soon. Do you have some plan and agenda for adding this feature please?

[2016-10-15 09:03] justincormack commented on #27277
I think you want private mounts not shared ones. The issue is because you are mounting `/var/run` which has the netns mountpoint underneath, which is nothing to do with docker. You can `strace` the process and see what the mount options are, and you can change them, but the issue is entirely due to this mount, not to anything docker does.

[2016-10-15 09:06] justincormack commented on #27351
@mlaventure yes we do on 1.12.x https://github.com/docker/docker/blob/1.12.x/Dockerfile.armhf#L199

[2016-10-15 09:17] justincormack commented on #27351
PR to fix this for armhf ubuntu https://github.com/docker/docker/pull/27327

[2016-10-15 10:45] justincormack commented on #27379
See https://github.com/docker/swarmkit/pull/1650

[2016-10-15 11:07] shadiakiki1986 commented on #22846
My 2 cents: I was getting this error after my `docker-compose up`
[code]
and this was my `docker-compose.yml` file
[code]
and the problem was simply that I was using `ro` for `/usr/share/nginx/html/` and separately trying to bind another file into the same folder, i.e. `/usr/share/nginx/html/the-allocator-config.json`

[2016-10-15 12:30] alexamirante commented on #26631
+1. Currently the only way to reload a configuration file you changed in a volume on all replicas, is to issue a `docker service update`, which would discontinue the service...

[2016-10-15 12:48] dsheets commented on #27393
@thaJeztah sorry I wasn't clearer. Your second explanation is correct. This proposal is to have the build context indicated by local path, git repository, or URL and the *Dockerfile only* to be read from stdin and supply the build instructions (or override existing build instructions) from the context.

The use case that prompted this proposal is the first in the above use case list -- stacking an

[2016-10-15 13:00] liyaka commented on #24877
This is a critical feature - any estimation when it will be fixed?

[2016-10-15 13:09] justincormack commented on #24877
The fastest way to get it fixed is to submit a pull request with a fix.

On 15 Oct 2016 2:01 p.m., "Liya Katz" <notifications@github.com> wrote:

[2016-10-15 13:21] fingermark commented on #27399
I think this may be related to:  https://github.com/docker/docker/issues/19298.

My VPC subnet is 10.0.0.0.  docker_gwbridge is configured to 172.18.0.0/16.  I'm not sure what I should do.  @mavenugo should I remove that network and run `docker network create --opt com.docker.network.bridge.enable_icc=false --subnet=10.0.0.0/24 docker_gwbridge`?

[2016-10-15 14:00] rbrecheisen opened #27408 "Docker for Windows -v mounts files as (empty) directories"
**Description**

I installed Docker Toolbox for Windows and pointed the Docker Quickstart Terminal target to bash.exe of my Git installation. I'm working on the D: drive so I added a D:\Develop shared folder to the VirtualBox default machine. I then try to run a standard MySQL container mounting 2 files that I use to initialize the database with some records. However, these files get mounted as em

[2016-10-15 14:16] manycoding commented on #23365
I just encountered the same error trying to install docker on Ubuntu 16.04.1 LTS following instructions from https://docs.docker.com/engine/installation/linux/ubuntulinux/.
Uncommenting those lines fixed it.

[2016-10-15 14:28] herbrandson commented on #27399
Same issue here.

Docker Version:
[code]

Docker Info:
[code]

Docker network inspect
[code]

and

[code]

[2016-10-15 14:55] milindchawre opened #27409 "docker info shows incorrect info about Total data space"
**Description**

Docker info shows incorrect info about Total data space.
Data Space Total != (Data Space Used + Data Space Available)
The instance on which docker is running don't have that much about of space shown in 'Data Space Total' of 'docker info'.

**Steps to reproduce the issue:**
1. docker info
2. Check whether Data Space Total == (Data Space Used + Data Space Available)

**Describe the

[2016-10-15 15:24] fingermark commented on #27399
Maybe it would help if I described exactly what I was looking to achieve:

Using AWS EC2 t2.micro instances and AWS VPC with a private and public subnet.
How would I create the following using docker swarm mode:

## Requirements

### Hub Node (count: 1)
- On a publicly accessible IP
- Must be on same public IP every time
- Must be able to communicate with chrome nodes
- Run with:
  `docker service

[2016-10-15 15:49] bnaylor commented on #27324
Those details aside, even getting that to work in our container doesn't fix the problem of running iscsid in the "wrong" container.  What we're doing here should be analogous to how the Openstack Cinder module works; provisioning volumes out of band using management APIs, but leaving the data path to the interested parties.  A [diagram](https://varchitectthoughts.files.wordpress.com/2013/11/screen

[2016-10-15 16:09] groyee commented on #27268
The reason we are doing pull is because there is a docker defect (or at least was in the previous versions) that sometimes it would give you the following error:

**_ERROR: for dockeruser_webapi_2  Cannot create container for service webapi: Unable to find a node that satisfies the following conditions_**

Only after doing pull this issue was resolved.

[2016-10-15 16:12] groyee commented on #27268
So I think I can confirm now that this issue has nothing to do with image pulls. For the last several days we didn't do even one pull, no network spikes and this issue still happens.

Currently we have 1 container that every time I restart it I need to do reverse ping from hosts where it cannot ping. After the reverse ping it works but then when I restart the container again I need to do the same

[2016-10-15 16:21] friism commented on #24808
@arun-gupta Thanks, port 80 being open is a random holdover from previous versions - we already have a issue tracking closing it.

[2016-10-15 16:37] openmax opened #27410 "docker - write pipe: bad file descriptor"
# **SOLVED for ppc64le  : docker run ppc64le/hello-world**
# ** Open for other arch **

**Description**
Docker error : "write pipe: bad file descriptor" on every app that i run  !!
I'm on power8 ubuntu ppc64el but same error on intel arch ...
see : http://stackoverflow.com/questions/40022817/docker-write-pipe-bad-file-descriptor

**Steps to reproduce the issue:**
docker run hello-world

**Describe

[2016-10-15 17:06] mrusme commented on #26631
Workaround until this has been implemented:

Create a script on the Docker hosts:

[code]

Be sure to have it run through an `init.d` script (or however), as soon as the system/Docker boots. In a swarm cluster, this needs to be done on every host, of course.

[2016-10-15 17:15] mavenugo opened #27411 "Add missing plugin-v2 network-plugin integration-tests"
Currently docker IT covers plugin-v1 tests for network-plugin. But the newly introduced plugin-v2 mechanism is lacking IT tests for network-plugins. This issue is raised to cover the missing tests.

[2016-10-15 17:22] addamh commented on #26249
#dibs

[2016-10-15 17:32] ceecko commented on #27381
I've just noticed that this happens only on servers with this filesystem `Backing Filesystem: ext4`
The issue does not seem to occur on servers running `xfs` as backing filesystem.

[2016-10-15 17:38] thaJeztah commented on #27233
@justincormack yeah I fixed the link directly after posting on github, but I don't think email notifications are sent when editing

[2016-10-15 18:12] grachevko commented on #7336
+1

[2016-10-15 18:20] icez commented on #27280
Sorry for late reply. I've tried reproduce the issue by using the file local-kv on other machine but can't reproduce the error either.

@aboch I don't see any error in log file at the time. Tried enable debug to see but there's no error on the log (except that the container cannot start because network does not working properly.)

Also, I've rename /var/lib/docker to /var/lib/docker.bak and re-cre

[2016-10-15 18:29] thaJeztah commented on #27393
@dsheets clear! Sounds reasonable to me (although the documentation may need a rewrite as all possible combinations become quite complex)

[2016-10-15 18:33] thaJeztah commented on #27381
@ceecko thanks, that's interesting

@rhvgoyal is this a known issue on your side?

[2016-10-15 18:40] #27095 closed

[2016-10-15 19:12] mrjana commented on #27268
@groyee Sorry been busy with other issues. When you restarted the container in that VM did you have the daemon in debug mode. Can you get the daemon logs from that node after you tried a few unsuccessful ping and after some time so that we can a) see that miss notifications were generated  b) it was queried on the cluster but somehow timed out?

[2016-10-15 19:40] thaJeztah commented on #27237
@saithala can you verify if the required ports for overlay networking are opened, and accessible between nodes? https://docs.docker.com/engine/swarm/swarm-tutorial/#/open-ports-between-the-hosts

Also may be worth checking if a dependency / configuration is missing on your nodes using the check-config script https://github.com/docker/docker/blob/master/contrib/check-config.sh

[2016-10-15 19:50] thaJeztah commented on #27408
When using docker-toolbox, docker is running in a VirtualBox VM. Bind-mounting host directories/files always takes place on the machine that the _daemon_ runs on, which in that case is the VM. If a directory (or file) is not present on the host that the daemon runs on, docker assumes you want to bind-mount a _directory_ and creates a directory at that path, and bind-mounts it. This results in a di

[2016-10-15 19:50] #27408 closed

[2016-10-15 19:59] thaJeztah commented on #27358
Looks like you're running a custom kernel (4.8), instead of the 3.10 kernel provided by CentOS; note that we generally don't support that, especially on CentOS/RHEL, as there's a lot of back ports done by Red Hat on those distro's, which can be very specific.

Thanks for adding that link though, I'll add "overlay" and "kernel" labels

/cc @dmcgowan @AkihiroSuda

[2016-10-15 20:31] groyee commented on #27268
No, unfortunately it wasn't.

I can do it again as it happens every time. Is there a permanent way to boot docker in debug node in that host?

[2016-10-15 20:40] thaJeztah commented on #27409
This is actually because the devicemapper thin pool was initialized as 100GB. Moving that device to a different physical location would allow it to grow to 100GB.

Perhaps this should be documented better in the devicemapper section https://docs.docker.com/engine/userguide/storagedriver/device-mapper-driver/

[2016-10-15 21:01] altjsus commented on #14000
**I spent about 3 hours today trying to figure out how to move all the docker data to my Digital Ocean attached volume.**

Complete Ubuntu 16.04 instruction

[code]

[code]

`sudo vim /etc/default/docker`

Make sure to uncomment the line and paste:
`DOCKER_OPTS="--dns 8.8.8.8 --dns 8.8.4.4 -g /your/path"`

Then:
`sudo vim /lib/systemd/system/docker.service `
Make sure Exec Start looks like:
`ExecS

[2016-10-15 21:09] thaJeztah commented on #26465
Are you still seeing this issue with 1.12.2? A lot of networking improvements went into 1.12.2, so possibly this issue is resolved in that version

[2016-10-15 21:11] thaJeztah commented on #27213
ping @VibinD could you provide more information, otherwise we won't be able to help

[2016-10-15 21:13] thaJeztah commented on #27199
Looks like this question is answered, but feel free to comment if you need more info

[2016-10-15 21:13] #27199 closed

[2016-10-15 21:17] thebillkidy commented on #25432
Hi @aluzzardi I still have the same problem, running on v1.12.2 build bb80604

Here it started appearing after restarting the 3 hosts together in the cluster (manager and 2 agents)

[2016-10-15 21:35] thaJeztah commented on #26235
That's a known issue; firewalld ignores rules that are set by docker, so if you restart firewalld, it will wipe all rules that docker sets.

Looks like this issue is resolved in 1.12.2 then?

[2016-10-15 21:41] thaJeztah commented on #27355
/cc @friism PTAL - I think I saw this reported elsewhere, but don't recall what the solution was

[2016-10-15 21:43] thaJeztah commented on #27320
ping @tonistiigi

[2016-10-15 21:52] thaJeztah commented on #27211
ping @anannaya ^^

[2016-10-15 22:04] thaJeztah commented on #27215
@rlpowell one reason to use _volumes_ is to prevent the overhead that layered file systems give; in your case (I see you're using an anonymous volume), is there a reason to use a volume at all? Omitting the volume will just use the containers filesystem (which is on devicemapper).

Other than that, I think the question here is answered; volumes are separate from the graphdriver / containers filesy

[2016-10-15 22:04] #27215 closed

[2016-10-15 22:48] cemiarni commented on #25929
Check /etc/subuid and /etc/subgid files. I got a same error when /etc/subgid file has overlapped id range.

[2016-10-15 23:38] thaJeztah commented on #27268
you can use a daemon.json configuration file, and enable debug in that https://docs.docker.com/engine/reference/commandline/dockerd/

[2016-10-16 00:04] friism commented on #27355
@tormodhau there might be a problem with the master build that you ended up with. Since you're on Windows 10, can you either try install the public channel version of Docker for Windows or grab a known-good Docker Engine build: https://download.docker.com/components/engine/windows-server/cs-1.12/docker-1.12.2.zip

Please also make sure you have all the latest Windows Updates.

[2016-10-16 02:31] thaJeztah commented on #27410
PowerPC is currently not a supported architecture; how did you install docker? Did you compile yourself? Do the daemon logs show anything?

[2016-10-16 02:38] thaJeztah commented on #27219
For docker for Windows (not native Windows containers), please report issues at https://github.com/docker/for-win/issues as mentioned above. I'll close this issue here

[2016-10-16 02:38] #27219 closed

[2016-10-16 03:35] hiroshi commented on #7115
Hi, I'm working on [a small tool](https://github.com/hiroshi/cb). It can build small docker image with multiple steps. Some may feel it useful.

[2016-10-16 05:56] sebasjm commented on #10324
+1

[2016-10-16 07:01] anannaya commented on #27211
I will share the logs ...

[2016-10-16 07:13] marcwagner commented on #20430
Have you used the suggested --cap-add flag instead of --privileged?
It looks like --cap-add=SYS_MODULE,NET_ADMIN should do the trick.

[2016-10-16 07:31] openmax commented on #27410
ppc64le is a supported platform by ubuntu , so i simple : "sudo apt-get install docker.io"
but the problem is the same on i686 intel look at the link i post  :  http://stackoverflow.com/questions/40022817/docker-write-pipe-bad-file-descriptor

the daemon logs don't show anything , i suppose is a problem with systemd

this is the syslog where i start : docker run hello-world

Oct 16 09:28:31 ubuntu

[2016-10-16 08:47] justincormack commented on #27410
Looks like an issue with Ubuntu's packaging, as ppc64le works very well
generally. I would disable NetworkManager as it looks like it is messing
with the docker interfaces, or get it to ignore docker0 and veth*
interfaces.

On 16 Oct 2016 8:31 a.m., "openmax" <notifications@github.com> wrote:

[2016-10-16 09:06] openmax commented on #27410
I disable networkmanager without success , i think the problem in on this sylog line :
``
systemd-udevd[19948]: Could not generate persistent MAC address for veth9bb559a: No such file or directory
``

[2016-10-16 09:22] RyanAntenor opened #27413 "docker ps -a by names?"
Is there a command to filter docker by name or specified fields? instead show all columns all the time?

maybe something
"docker ps -a  --fields=name,ports "

[2016-10-16 09:26] justincormack commented on #27410
Hmm, surprised this is not the same on x86, are you on the latest systemd?

On 16 Oct 2016 10:07 a.m., "openmax" <notifications@github.com> wrote:

[2016-10-16 09:33] openmax commented on #27410
``systemd 229
+PAM +AUDIT +SELINUX +IMA +APPARMOR +SMACK +SYSVINIT +UTMP +LIBCRYPTSETUP +GCRYPT +GNUTLS +ACL +XZ -LZ4 +SECCOMP +BLKID +ELFUTILS +KMOD -IDN
``

[2016-10-16 09:56] zerthimon opened #27414 "Feature request: a command to clear (truncate) container logs."
For those containers that are logging to console .....

Such a basic feature and not implemented yet ?

[2016-10-16 09:58] milindchawre commented on #27413
Use docker ps  (-f or --filter) option to filter docker ps output.
https://docs.docker.com/engine/reference/commandline/ps/#/filtering

Use docker ps --format option to show specific columns.
https://docs.docker.com/engine/reference/commandline/ps/#/formatting

[2016-10-16 10:10] zoumo opened #27415 "Why docker uses the trick that cloning dnephin/cobra instead of spf13/cobra?"
When I read the docker source in ./docker/cmd/dockerd/docker.go
[code]
I find that `spf13/cobra.Command` does not have the field `Args`, then I find the following code in `./docker/hack/vendor.sh`
[code]
`dnephin` is a maintainer of docker. Maybe docker need some features which spf13/cobra doesn't provide. So dnephin implement it.

**My question is if docker needs these features, why docker uses t

[2016-10-16 10:51] bridgeunions commented on #26465
yes, I upgrade to 1.12.2 and this issue still the same,and it seems it will be fixed in 1.13，like this https://github.com/docker/docker/issues/26067

[2016-10-16 10:54] AkihiroSuda commented on #27358
Couldn't hit in my environment

 * Ubuntu 16.04
 * Kernel 4.8.1 vanilla (config is from Ubuntu 16.04's kernel 4.4.0)
 * Storage driver is overlay2 (backing filesystem is ext4)

So the issue seems specific to XFS or ELRepo's patches/configs..

I'll try to set up an environment much more similar to the original report..

[2016-10-16 12:07] justincormack commented on #27415
We should go to using upstream, @dnephin what is the upstreaming situation?

On 16 Oct 2016 11:11 a.m., "JimZhang" <notifications@github.com> wrote:

[2016-10-16 12:21] jcberthon commented on #27351
After reviewing the PR #27327 and as far as I understood the build procedure after going through it in the last 30 min, this seems to only consider Ubuntu Trusty armhf packages. Not Raspbian nor Debian.

Therefore, I'm have prepared another PR with correct build flags for `runc` for Debian and Raspbian on armhf. I have successfully build the deb package on Raspbian and I am now able to build or ru

[2016-10-16 12:23] rcarmo commented on #27410
I'm getting this on `armhf` as well. Ubuntu's `docker.io` package, and I, too, blame `systemd`.

[code]

[2016-10-16 12:46] RyanAntenor commented on #27413
That should solved my problem. Thanks!

[2016-10-16 12:46] #27413 closed

[2016-10-16 12:56] rcarmo commented on #27410
A little more info. I've been using `strace` to figure out what is going on, and apparently `docker` is getting confused with a file descriptor (`3` in this dump). Watch as the `POST` call appears to trigger the `write pipe: bad file descriptor` message:

[code]

This might point to some issue in re-using descriptors inside the Go runtime (wouldn't be the first time that Go binaries worked differe

[2016-10-16 13:02] justincormack commented on #27393
Actually I am not sure what the current behaviour is, is `-f` supported at all when using a git url at present?

[2016-10-16 13:27] milindchawre commented on #27409
I think it would be better if we have this in docker info :
[code]

instead of this :
[code]

So that there is no any confusion and easy to understand.
@thaJeztah ?

[2016-10-16 13:28] AkihiroSuda commented on #27358
On CentOS7 + ELRepo kernel 4.8.1-1, I can reproduce the issue with xfs but not with ext4

[2016-10-16 13:41] justincormack commented on #27410
Oh, is the systemd unit file using socket activation? That's no longer
recommended.

If you start the docker daemon manually does it work?

On 16 Oct 2016 1:56 p.m., "Rui Carmo" <notifications@github.com> wrote:

[2016-10-16 14:04] matutter opened #27418 "Invalid JSON returned for /containers/create"
**Description**
The below is the response body for a `POST (uri)/containers/create?name=(name)` and it is malformed JSON but valid JS. This is an issue because `JSON.parse` cannot handle the response. Instead we have to resort to using `eval()` on the response.

Actual repsonse:
[code]

Should be:
[code]

**Steps to reproduce the issue:**
1. Make any valid `/containers/create` request to a engine

[2016-10-16 14:04] akamalov commented on #25929
@cemiarni Thanks a lot! I will take a look.

Thanks again.

[2016-10-16 14:07] rcarmo commented on #27410
Well, this is getting interesting. I started the `docker` daemon manually with `sudo strace dockerd`.

Then I tried running one of my existing containers (http://github.com/rcarmo/rpi-registry) and on the daemon side, this is what I got:

[code]

Not quite sure what to make of that, really. Meanwhile, for the sake of argument, I also tried to run `dockerd` listening to TCP port (launched manually)

[2016-10-16 14:22] matutter commented on #27418
After updating to `Docker version 1.12.2, build bb80604` the issue remains.

[2016-10-16 15:17] jeffrey4l commented on #27277
fair enough.  i changed `/run:/run` to `/run:/run:shared` fixed this issue in kolla.

thanks a lot.

[2016-10-16 15:58] jcberthon commented on #27351
**Note**: I don't know if it shall be considered a bug that `runc` cannot run a container on a host with AppArmor activated if `runc` was not compiled with AppArmor.
If it is more of a feature, then perhaps the error message could be more explicit.

What do you think?

[2016-10-16 16:14] yongtang commented on #25508
The `log-driver` is already available in `GET /info` and `docker info` through field `LoggingDriver`:
[code]

Though `log-opt` is not there in `GET /info` / `docker info` yet.

[2016-10-16 16:16] yongtang commented on #25508
Created a PR #27422 to add a `LoggingConfig` field in `types.Info` for `docker info` and `GET /info`. Please take a look and let me know if there are any issues.

[2016-10-16 16:18] thebillkidy commented on #25432
P.S. Here you can find a stacktrace: http://paste.ubuntu.com/23334510/

[2016-10-16 16:20] dnephin commented on #27415
It's not a hack, it's a fork. We could change the dependency to use `dnephin/cobra`, I was waiting to see if upstream would merge my PRs.

So far they've merged some of the bug fixes, but none of the bigger features. The outstanding PRs are:
* https://github.com/spf13/cobra/pull/284
* https://github.com/spf13/cobra/pull/299

These features are necessary for docker/docker, so we can't use upstream

[2016-10-16 16:27] pcgeek86 commented on #23710
Thanks for pushing for this @thaJeztah

[2016-10-16 16:30] clns opened #27423 "Exception when calling docker daemon commands in Windows"
### Actual behavior

Docker throws an exception everytime I run a command that accesses the daemon (e.g. `docker -v` works since it's client-side only).
### Information
- Diagnostic ID: AD497577-51CA-4C56-B6F8-08A16B9710EC/2016-10-11_08-39-38
- Second Diagnostic ID: D5D7C5E8-58B0-4E45-A45D-DFED839BEFB1/2016-10-11_14-50-44
- a reproducible case: it happens everytime, cannot use Docker at this momen

[2016-10-16 16:56] zoumo commented on #27415
Thank you for your explanation

[2016-10-16 16:56] #27415 closed

[2016-10-16 16:58] groyee commented on #27268
Thanks!

So I think I found some interesting logs.

First, I attached the docker daemon debug log. (I hope this is debug. I changed /lib/systemd/system/docker.service file to be: ExecStart=/usr/bin/dockerd -D -H fd://)

After I restarted the docker daemon and the container, this container couldn't ping to two containers. One of them is Kafka and the other one is zookeeper.

I looked at the logs in

[2016-10-16 17:37] thaJeztah commented on #20430
If you just want access to a NFS share; the built in volume driver supports doing this; https://docs.docker.com/engine/reference/commandline/volume_create/

[2016-10-16 17:38] thaJeztah commented on #27409
Perhaps @rhvgoyal has some suggestions/thoughts as well

[2016-10-16 17:49] tonistiigi commented on #25432
@LK4D4 @aaronlehmann `manager.Stop->dispatcher.Stop` seems stuck in that stacktrace.

[2016-10-16 17:50] mrjana commented on #27268
@groyee I think I see what is going on. For confirming my theory can you tell me if kafka and zookeeper containers were restarted after they were initially up and running and that restart actually resulted in them being scheduled in different hosts like say (kafka was running in 192.168.0.23 and after a restart ran in 192.168.0.22 and zookeeper probably was originally running on 192.168.0.22 and m

[2016-10-16 17:57] groyee commented on #27268
What you said is correct. Both kafka and zookeeper were restarted and swarm scheduled them on different hosts after the restart.

That being said, other containers have no problems with that. For example, if I bring a new container to the cluster now, just a simple ubuntu image, it pings fine to everybody.

I am not sure I understand your last question. I think this happens only when container res

[2016-10-16 18:11] elijahgagne commented on #13817
@helgeho Thanks for posting. I am using the latest versions of Docker for Windows beta and ConEmu and trying what you suggest, but not having luck yet. I am probably misunderstanding.

I have tried setting an environment variable:

[code]

But that's not working. Do I need to specify TERM=something? I am not sure how to change the terminal mode of ConEmu. In the settings I have:

![image](https://

[2016-10-16 18:21] jodumont commented on #16127
I had this issue :
Obviously it's not link to to Device Storage (like some people on Google try to say)
I run my Docker on CentOS with **SELinux enforcing** and **FirewallD on**
To resolve this Warning I add those two lines info my **/etc/sysctl.conf**
[code]
ref: http://wiki.libvirt.org/page/Net.bridge.bridge-nf-call_and_sysctl.conf

[2016-10-16 18:22] jodumont commented on #24809
I had this issue :
Obviously like CPUGuy it's not link to your Device Storage
I run my Docker on CentOS with **SELinux enforcing** and **FirewallD on**
To resolve this _Warning_ I add those two lines info my **/etc/sysctl.conf**
[code]
ref: http://wiki.libvirt.org/page/Net.bridge.bridge-nf-call_and_sysctl.conf

[2016-10-16 18:28] rbrecheisen commented on #27408
Hey Sebastiaan,

I'll check out the guest additions page. I'm not running Windows 10
Professional otherwise I would indeed have used Docker for Windows.

Bedankt voor de snelle reactie

Ralph

---
Ralph Brecheisen, Ph.D.

Brain Innovation B.V. and University of Maastricht
Oxfordlaan 55, 6229 EV
Maastricht (Netherlands)
*E* *brecheisen@brainvoyager.com <brecheisen@brainvoyager.com>*
*T* +31 6 46 23

[2016-10-16 18:47] terpsho commented on #27399
Issue +1.
I didn't use AWS but my own lab. I encountered similar issue. After the containers were created in the swarm mode, I can only access it through 172.18.0.2 (docker_gwbridge interface). I intended to access the container through a public subnet at 192.168.209.x but cannot.
I tried to re-create docker_gwbridge to be under the intended subnet as well as gateway but docker does not allow with

[2016-10-16 18:55] darrenscerri commented on #27358
@thaJeztah I managed to replicate also using overlay using 3.18 kernel.

After further investigation, I noticed that my xfs partition had `ftype` set to 0. Red Hat states that xfs partitions need to be formatted with `ftype` set to 1 if they are to be used with overlay.

https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/7.2_Release_Notes/technology-preview-file_systems.

[2016-10-16 19:06] afrazkhan opened #27425 "Service Communication Between Nodes on Overlay Network Needs More than Documented Ports"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Services on overlay network can not communicate with services on other nodes in the same overlay network unless "All traffic" is open in an AWS security group. Opening only the documented required ports; `2377`, `4789`, and `7946` on UDP and TCP are insufficient. Even open

[2016-10-16 19:23] marcwagner commented on #20430
Actually, I want to run an nfs server. Such as this one: https://github.com/cpuguy83/docker-nfs-server
But i would rather do it without the --priveleged flag.

[2016-10-16 19:42] helgeho commented on #13817
@elijahgagne I am not sure, but don't think the docker.exe from RC1 is included in the latest beta yet. I am using the one from https://github.com/docker/docker/releases/tag/v1.12.2-rc1 . Without the right .exe file the arrow keys won't even work for navigating the history.

To make it work in less or vi etc. just setting `-e TERM` (without a parameter) has been enough for me, this unsets the `TER

[2016-10-16 19:47] thaJeztah commented on #27408
Graag gedaan!

[2016-10-16 20:55] lrkwz opened #27426 "Error response from daemon: failed to create endpoint (...) on network bridge: failed to add the host (veth1d85371) <=> sandbox (vethbc264f6) pair interfaces: operation not supported."
I have a fresly installed docker but when I cannot execute containers

    docker run --rm hello-world
    docker: Error response from daemon: failed to create endpoint jolly_kare on network bridge: failed to add the host (veth1d85371) <=> sandbox (vethbc264f6) pair interfaces: operation not supported.

Docker info are:
[code]

I've already tried to delete ```/var/lib/docker/network/files/local-kv

[2016-10-16 21:16] Murf commented on #27208
$ docker deploy test
Loading bundle from test.dab
Creating network test_default
Creating service test_db
Error response from daemon: rpc error: code = 3 desc = EndpointSpec: duplicate published ports provided
$ docker service ls
ID  NAME  REPLICAS  IMAGE  COMMAND

No services seem to start.

[2016-10-16 21:20] thaJeztah commented on #27362
/cc @samuelkarp

[2016-10-16 21:48] jpca999 opened #27427 "ubuntu requires me to use sudo otherwise it wont do work. How can i make it recognize docker without using sudo ?"
ubuntu requires me to use sudo otherwise it wont do work.  How can i make it recognize docker without using sudo ?

[2016-10-16 21:52] Sodki commented on #6396
Check out [Rocker](http://tech.grammarly.com/blog/posts/Making-Docker-Rock-at-Grammarly.html), it's a clean solution.

[2016-10-16 21:56] thaJeztah commented on #27427
This is because the socket is owned by root. You can add your user to the `docker` group, as explained here; https://docs.docker.com/engine/installation/linux/ubuntulinux/#/create-a-docker-group

I'll close this issue because this is not a bug, but feel free to continue the conversation if you need additional information

[2016-10-16 21:56] #27427 closed

[2016-10-16 21:59] thaJeztah commented on #27208
@Murf do you have any other container or service running that's using a port you're trying to publish? Is this still with the original example you reported with, or can you post the content of the .dab file?

[2016-10-16 22:21] thaJeztah commented on #27426
Looks like you're running a non-standard kernel for Ubuntu 14.04. Ubuntu 14.04 ships with Kernel 3.13. Can you try with a standard kernel? It's possible your kernel is missing modules that are required for overlay networking to function properly; you can try running this script to see what's missing; https://github.com/docker/docker/blob/master/contrib/check-config.sh

[2016-10-16 22:33] thaJeztah commented on #27257
Looks like a duplicate of https://github.com/docker/docker/issues/14254, so I'll close this one

[2016-10-16 22:33] #27257 closed

[2016-10-16 22:36] thaJeztah commented on #11903
This is roughly a duplicate of https://github.com/docker/docker/issues/17238, which is more recent, but has more discussion. I'll close this issue for housekeeping, please continue the discussion on that issue

[2016-10-16 22:36] #11903 closed

[2016-10-16 22:39] thaJeztah commented on #27425
That's strange indeed; I added a "docs" label here so that we can document this once we found what's causing this

[2016-10-16 22:39] thaJeztah commented on #27425
ping @nathanleclaire @mrjana any ideas?

[2016-10-16 22:41] thaJeztah commented on #27425
Could it be the order in which you perform these steps? Does it work if you open the ports _before_ setting up swarm, network and services?

[2016-10-16 22:44] thaJeztah commented on #27358
@darrenscerri oh, interesting; would this be something we should check for in our check-config script? https://github.com/docker/docker/blob/master/contrib/check-config.sh (Or from docker itself even when using the overlay driver) not sure if it's easy to add a check for this

[2016-10-16 23:19] Murf commented on #27208
Hi,
Still using the original example, and there are no other containers with any of the ports in the example

[2016-10-16 23:21] salmanbaset commented on #11508
If the goal is to disable ip forwarding inside container, the container can be started as follows:
docker run --sysctl net.ipv4.ip_forward=0 ...

This makes it some what compliant with CIS rules for disabling ip forwarding, since a container is started without it. The host still has ip forwarding.

[2016-10-16 23:29] Yogu commented on #24787
@kinghuang @hipposareevil In theory, you can do it like so:

[code]

However, this currently does not work for me - it shows the alias in `docker service inspect`, but not in `docker inspect` (inspecting the container).

[2016-10-16 23:42] dockerrnd commented on #25343
Any update on this?  I came across the same issue using docker 1.12.2.

[2016-10-17 00:28] elijahgagne commented on #13817
Interesting. Thanks for making it clear about nulling out the TERM env var and changing terminal modes in ConEmu.

I am running 1.12.2 (not a release candidate).
[code]
It looks like 1.12.2 was released 6 days ago, whereas 1.12.2-rc1 was released 19 days ago. https://github.com/docker/docker/releases/

I will comment that up/down works fine in bash and kinda works in vi (although it seems a little

[2016-10-17 01:54] hqhq commented on #27045
@tophj-ibm @vielmetti Is that golang-1.6 you talk about available for aarch64? I don't see anything about aarch64 from the office golang image or ubuntu lxd repo.

Actually use a base image with golang installed was the idea in the first place in https://github.com/docker/docker/pull/19013 , I built the `aarch64/ubuntu-golang` image with cross compiled golang, but since it's not used in Dockerfile

[2016-10-17 02:05] aboch commented on #27425
@afrazkhan In addition to what @thaJeztah suggested, given you are using data plane encryption, also make sure ESP packets are not blocked (ip protocol 50).

[2016-10-17 02:08] thaJeztah commented on #27418
I'm nog able to reproduce; could this be something in the library you're using?

To reproduce, I used cURL to send a request to the api;

[code]

[code]

Can you try reproducing without using that NodeJS library, and doing a direct call with cURL?

[2016-10-17 02:16] duglin commented on #27393
I believe it should still work - as long as the -f points to a file in the context/git-repo.  It should allow for you to build from a Dockerfile that’s not in the root.
-Doug

[2016-10-17 02:40] AkihiroSuda commented on #27358
rkt seems detecting this: https://github.com/coreos/rkt/pull/3105/files#diff-b5ccff3f3777d1b87c84277733a8c04fR393

I'll try to make a PR in similar way

Also, recent kernel shows a warning (not an error) in dmesg about this issue https://github.com/torvalds/linux/commit/e7c0b5991dd1be7b6f6dc2b54a15a0f47b64b007

[2016-10-17 02:40] matutter commented on #27418
Jeesh, yes it seems like it's feature of one of my dependencies.

Not a bug.

[2016-10-17 02:40] #27418 closed

[2016-10-17 02:51] va1en0k opened #27430 "docker overlay network doesn't provide external access when using ufw"
**Description**

I created an overlay network between multiple hosts, using `--cluster-store` and `--cluster-advertise` options of the docker daemon. I didn't use swarm or anything like that. It works wonders for the communication between the containers on this network.

However I can't access the internet from inside the containers on this network, and I really want to.

**Steps to reproduce the

[2016-10-17 04:27] thaJeztah commented on #27418
Thanks for confirming @matutter, and thanks for reporting as it could've been a bug :smile:

[2016-10-17 04:39] thaJeztah commented on #27378
Could you open this in the https://github.com/docker/distribution/issues repository? This question is really about the registry (distribution), not the docker engine.

I'll close this issue here, but feel free to continue the conversation

[2016-10-17 04:39] #27378 closed

[2016-10-17 04:41] saad-ali commented on #27289
@mlaventure Any updates?

[2016-10-17 04:43] hungvotrung commented on #23796
+1 I had the same error on windows 10 as normal user, only work if i run as administrator

[2016-10-17 04:57] toddwildey commented on #24445
@thaJeztah Just require that the root of all images FROM-ed be the same image.  I don't think that's unreasonable?  This would be a *very* useful feature to have.

[2016-10-17 05:02] thaJeztah commented on #27150
Swarm mode is not yet supported on Windows, but I'm not sure this error is related to that

/cc @mavenugo @jhowardmsft

[2016-10-17 05:21] thaJeztah commented on #27414
Can you explain your use case a bit more in depth? What would you expect this to look like, and isn't covered by;

- specifying log-rotation (max-size, max-files); https://docs.docker.com/engine/admin/logging/overview/#/json-file-options
- using `docker logs --tail 0 --follow <container>`

Implementing this would probably only be possible for the json-logs, but not for any other logging driver, wh

[2016-10-17 05:26] thaJeztah commented on #27344
this is a duplicate of https://github.com/docker/docker/issues/21559; I'll close this one, please continue the conversation in https://github.com/docker/docker/issues/21559

[2016-10-17 05:26] #27344 closed

[2016-10-17 05:30] thaJeztah commented on #27192
/cc @allencloud  - not sure if https://github.com/docker/docker/pull/22337 also adds validation for this?

[2016-10-17 05:31] thaJeztah commented on #27122
looks like this question was answered, but feel free to continue the discussion here

[2016-10-17 05:31] #27122 closed

[2016-10-17 05:34] thaJeztah commented on #27142
closing, as we need more information, but happy to reopen once provided

[2016-10-17 05:34] #27142 closed

[2016-10-17 05:42] thaJeztah commented on #26831
Also see https://github.com/docker/docker/pull/27346, which makes changes in this area

/cc @allencloud

[2016-10-17 05:47] sanimej commented on #27430
@va1en0k Did you connect/disconnect the container in the overlay network `hdfs_hadoop` to any other bridge network ? Can you provide the routing table (`route -n`) from inside the container in the overlay network ?

[2016-10-17 05:47] thaJeztah commented on #27195
@justincormack did you manage to narrow down this issue?

[2016-10-17 05:50] thaJeztah commented on #27423
ping @jhowardmsft @justincormack

[2016-10-17 05:53] thaJeztah commented on #26523
@michaelkrog we released 1.12.2, which contains a lot of fixes in this area, and this issue may be resolved; could you give 1.12.2 a try and see if it's resolved for you?

[2016-10-17 05:56] vielmetti commented on #27045
@hqhq - I found this https://github.com/golang/go/wiki/Ubuntu which refers to the lxd repo as a place to get golang-1.6.

[2016-10-17 05:57] lrkwz commented on #27426
Oops ... script's output is

[code]

I wonder how safe can be a kernel change on a non dedicated ovh's vps

[2016-10-17 05:59] thaJeztah commented on #27118
I'm a bit in doubt over fully removing the checklist / procedure, as it contains some information that may still be useful (at what point is the API version bumped, where to announce the release, etc.). Otherwise sgtm if we're changing the tooling for our releases

[2016-10-17 06:03] thaJeztah commented on #27426
Looks like there's various things missing, perhaps best to contact ovh support?

Based on the above, I don't think this is a bug in docker, so I'll close this issue, but feel free to continue the discussion here

[2016-10-17 06:03] #27426 closed

[2016-10-17 06:07] hqhq commented on #27045
@vielmetti But that's only ubuntu specific golang, not arm64 specific golang right? According to https://github.com/golang/go/wiki/GoArm#appliedmicro-x-gene-armv8, they still suggest us to build golang from source for armv8.

[2016-10-17 06:11] dminca commented on #24170
This could be very useful, as I'm currently struggling with ActiveMQ Network of Brokers, and the `activemq.xml` configuration file requires **static** IP addresses of brokers in the case of _static discovery_ ...

[2016-10-17 06:21] sanimej commented on #27399
@fingermark When the `docker_gwbridge` is created MASQUERADE rules are programmed in the iptables for external connectivity. This would be the same irrespective of EC2 instance being in a public subnet or a private subnet going through the nat-gw. I haven't tried myself yet. But may be the behavior is because of the way VPC connectivity is setup when using private subnet.

Looks like from your exp

[2016-10-17 06:46] thaJeztah commented on #25826
@JamesJJ is this ok to close (fixed in 1.12.2)?

[2016-10-17 06:52] allencloud commented on #27192
Hi, @rafalkrupinski @thaJeztah
I do not think that ip:port is invalid.
here is more details, https://github.com/docker/docker/blob/master/api/types/registry/registry.go#L41-L68:
[code]
So if this a domain name or ip:port, they are both valid. Hope it helps.
Please let me know if I miss something.

[2016-10-17 06:55] afrazkhan commented on #27425
@aboch wins the cigar. Opening up ECP (protocol 50 as "Custom protocol" in an AWS security group) wins all the things. Thank you!

Might I recommend we add this to the docs, @thaJeztah ;)

[2016-10-17 07:05] thaJeztah commented on #27425
@afrazkhan yes, definitely. Those docs are now in a separate repository;

- https://github.com/docker/docker.github.io/blob/master/engine/userguide/networking/index.md
- https://github.com/docker/docker.github.io/tree/master/engine/swarm

Would you be interested in opening a pull request there?

[2016-10-17 07:07] virtuman commented on #26235
Actually it didn't allow me to successfully establish the connection to the service whether i started firewalld before or after up until 1.12.2-*

I wouldn't call the issue resolved, since successful operation depends on order of startup of services, and these errors still come up in the logs:

[code]

[2016-10-17 07:10] afrazkhan commented on #27425
@thaJeztah yup, for sure. I'll create a PR either today or tomorrow.

[2016-10-17 07:13] thaJeztah commented on #26235
We made a change for the 1.13 release to set service order; https://github.com/docker/docker/pull/25592, but I'm not sure if there's more we _can_ do. Perhaps @sanimej has suggestions

[2016-10-17 07:14] thaJeztah commented on #27425
Thank you!

[2016-10-17 07:15] ryanlyy commented on #21559
yes. that will be great for debugging too.

[2016-10-17 07:21] Thubo commented on #27208
IMHO the issue occurs when there is a definition of multiple ports:

The following example breaks as well (There are not other services running on the given ports).

[code]
(excerpt from docker-compose.yml)

All examples given so far have more than one value in the `ports` element.

[2016-10-17 07:30] AkihiroSuda commented on #27195
Command| Result (seems deterministic)
--- | ---
`docker run -ti --rm testdebian fakeroot python` | Hangs
`docker run -ti --rm testdebian sh`, then execute `fakeroot python` manually inside the container| Works :smiley:
`docker run -ti --init --rm testdebian fakeroot python` | Hangs
`docker run -ti --rm testdebian sh -c fakeroot python` | Hangs

The result is weird.
Trying to analyze..

(master doc

[2016-10-17 07:32] AkihiroSuda commented on #27195
I can hit `semop(2): encountered an error: Invalid argument` intermittently, but basically it hangs on my environment

[2016-10-17 07:36] virtuman commented on #26235
Everything stopped working altogether again :)

I also already tried adding same After condition in systemd unit, but to no avail.

Am I understanding this correctly - that ubuntu 16.04 is currently the best distribution as an OS to use on the host system to ensure that docker has most functionalities working properly out of the box? or should we be using something else? ie debian, coreos, rancher

[2016-10-17 07:38] ssuvasanth commented on #26831
PR #27437 fixes this.

[2016-10-17 07:44] ssuvasanth commented on #26831
###  Result of manual test on binary:

[2016-10-17 07:44] michelvocks commented on #26930
@dongluochen Yes. Still have the problem.

[code]

[2016-10-17 07:55] rbrecheisen commented on #27408
I checked out the boot2docker docs regarding the guest additions. When it
says:

If some other path or share is desired, it can be mounted at run time by
doing something like:

$ mount -t vboxsf -o uid=1000,gid=50 your-other-share-name /some/mount/location

What exactly is meant with "at run time"? Do they mean inside the container
when it's running? Or in the
boot2docker terminal (in which case I

[2016-10-17 08:16] thaJeztah commented on #27408
That should be inside the boot2docker VM, however if that doesn't work, it's probably best to open an issue in the boot2docker or toolbox issue tracker

[2016-10-17 08:18] tagomoris commented on #27374
I reproduced this issue in my development container with these commands:

[code]

I ran 3 containers, and 1 container failed to reconnect to fluentd node after restart.
I'm still investigating for more details.

[2016-10-17 08:20] thaJeztah commented on #26235
Ubuntu 16.04 is a good choice as it has a fairly recent kernel (which allows you, for example, to use the `overlay2` graphdriver), although there's many people running on CentOS/RHEL so I'm still wondering what causes this in your situation.

[2016-10-17 08:34] afrazkhan commented on #27425
Her you go:

https://github.com/docker/docker.github.io/pull/230

[2016-10-17 08:35] bravist opened #27439 "Docker 在Mac平台中容器间通信很慢 Docker container traffic in the Mac platform is very slow"
语言：PHP

框架：Laravel5.1

容器：php-fpm + nginx + mysql

在Linux平台中 In Linux
![image](https://cloud.githubusercontent.com/assets/1323776/19430629/7b7d0242-9487-11e6-9aac-6eb4c45dfcab.png)

在Mac 平台中 In Mac

![image](https://cloud.githubusercontent.com/assets/1323776/19430677/b86eaf52-9487-11e6-8653-71242e31add6.png)

[2016-10-17 08:36] AkihiroSuda commented on #27195
As @m4h3 reported, the issue does not appear if tty is not enabled.

Command | Result
--- | ---
`docker run -t  --rm testdebian fakeroot python -c 'print("hello")'` | Hang
`docker run --rm testdebian fakeroot python -c 'print("hello")' `| Works :smiley:

Wondering if related to mounts...

[2016-10-17 08:37] rbrecheisen commented on #27408
Hi, yeah I just found another issue where they discuss this. You can either
update the start.sh script in "c:\program files\docker toolbox" to run the
mount command or create some init script in the VM that does the same. Have
not been able to get this working yet (kids are running around here) but
I'll let you know if I do.

Thanks again

On Monday, October 17, 2016, Sebastiaan van Stijn <notific

[2016-10-17 08:49] genggjh commented on #17846
apt-get install linux-image-extra-$(uname -r)
This works for me.

[2016-10-17 09:00] suside commented on #27343
During the weekend amount of deleted-not-closed files increased from 111 to 163 but I don't have exact list. I will report back tomorrow.

[2016-10-17 09:20] tormodhau commented on #27355
@friism Downgrading docker to version 1.12.2 seemed to fix the issue (for now):

Client:
 Version:      1.12.2-cs2-ws-beta
 API version:  1.25
 Go version:   go1.7.1
 Git commit:   050b611
 Built:        Tue Oct 11 02:35:40 2016
 OS/Arch:      windows/amd64

 Version:      1.12.2-cs2-ws-beta
 API version:  1.25
 Go version:   go1.7.1
 Git commit:   050b611
 Built:        Tue Oct 11 02:35:40 2016

[2016-10-17 09:41] TimurKiyivinski opened #27441 "Containers in internal networks do not expose ports even if explicitly made to do so"
**Description**
Docker containers created inside an internal network are not able to access each other's ports but are able to ping each other. The requirement is to have containers be able to communicate with each other without internet access.

**Steps to reproduce the issue:**

Steps are adapted from https://stackoverflow.com/questions/34834913/how-to-access-ports-in-docker-custom-bridge-networ

[2016-10-17 09:52] pkhromchak opened #27442 "ce[ ;][ ,M L W;DLÆ≥"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2016-10-17 09:54] #27442 closed

[2016-10-17 09:57] ceecko commented on #27381
This hits us hard in production :/ Any hints how to remove the dead containers?

[2016-10-17 10:10] anannaya commented on #27211
I tried sending "kill -10 <docker daemon pid>... Below is the log generated
Oct 17 06:04:12 TRFC_VM dockerd: time="2016-10-17T06:04:12.713486481-04:00" level=info msg="Processing signal 'terminated'"
Oct 17 06:04:12 TRFC_VM dockerd: time="2016-10-17T06:04:12.716934504-04:00" level=info msg="stopping containerd after receiving terminated"
Oct 17 06:04:12 TRFC_VM dockerd: time="2016-10-17T06:04:12.7

[2016-10-17 10:13] anannaya commented on #27211
When i restart the docker service ..it worked as usual... May be some lock or wait due to this "exec " is hanging.
====================================================================
Oct 17 06:08:26 TRFC_VM dockerd: time="2016-10-17T06:08:26.287463601-04:00" level=info msg="libcontainerd: new containerd process, pid: 2675"
Oct 17 06:08:26 TRFC_VM dockerd: time="2016-10-17T06:08:26.313995575-04:00

[2016-10-17 10:15] foxx commented on #26838
Also confirmed, this is quite surprising behaviour, any update?

[2016-10-17 10:41] TeNNoX commented on #26855
I got the same error on Linux (elementary OS 0.4 Loki, Docker version 1.12.1, build 23cf638)

I **fixed it by adding**
`WORKDIR /var/www`
to my Dockerfile.

The actual problem was the workdir [set in php's Dockerfile](https://github.com/docker-library/php/blob/1c56325a69718a3e3cf76179e75d070b7e23da62/5.6/apache/Dockerfile#L155)

[2016-10-17 10:46] allencloud commented on #26831
Yes, @thaJeztah @dattatrayakumbhar04
I think pr #27346  fixed this in several parts:
1. fix the docs this issue mentioned. While I think @ssuvasanth 's PR changed the log message to be like docs seems more reasonable. 😄
2. make volume name unique among all kinds of volume drivers.

[2016-10-17 10:53] sahota14 opened #27443 "Obtain all nodes IP addresses in cluster using Docker Remote API"
Is it possible to get a list of the nodes ip addresses in a cluster? At the moment only manager node IPs can be obtained.

[2016-10-17 11:08] akamalov commented on #25929
@cemiarni verified once again. I do not see any overlaps:

**OS Release:**
[code]
**Docker Version:**
[code]
**File: /etc/subuid**
[code]
**File: /etc/subgid**
[code]
Snippet from **/etc/passwd** showing user **dockremap**

[code]

Snippet from ```/etc/group``` showing group ```dockremap```

[code]
**File: /etc/sysconfig/docker**
[code]
Re-read Systemd service files:

[code]
Go ahead and restart d

[2016-10-17 11:40] milindchawre commented on #26818
@thaJeztah Has this been fixed; can't see docs/tutorials/dockervolumes.md file in master branch.

[2016-10-17 11:40] Maximus5 commented on #13817
In ConEmu ine may change "AppKeys" same way as "XTerm" mode in the [StatusBar](https://conemu.github.io/en/StatusBar.html).
This may be a workaround for less until Docker fix the problem in its codebase.
Note that in Unix arrow keys may be encoded in two ways at least ;)

[2016-10-17 11:49] tagomoris commented on #27374
I identified the root cause and created a patch to fix it. I will create a pull-request for docker after merging it into fluent-logger-golang:master.

[2016-10-17 11:51] cemiarni commented on #25929
Ok. Please check the kernel arguments. `cat /proc/cmdline`
You can find the snippet `user_namespace.enable=1`.

If you can't find this parameter, then add it to your boot config.
In case of grub with grubby tool for example:
`sudo grubby --args="user_namespace.enable=1" --update-kernel=/boot/vmlinuz-3.10.0-327.3.1.el7.x86_64`
In --update-kernel option, specify the path of your kernel.
This enables

[2016-10-17 11:53] arno01 opened #27444 "userns-remap:: user namespace does not isolate user limits"
**Description**

The user namespace does not isolate user limits.
Is this a current cgroups limitation?

**Steps to reproduce the issue:**

1. prepare `/etc/subuid` and `/etc/subgid` files with the following line:
[code]

2. launch dockerd with `--userns-remap=default` argument

3. launch containerA:
   - create a user (uid: 700 [will get remapped to 100700])
   - run 7 daemon-processes under that

[2016-10-17 11:58] rbrecheisen commented on #27408
Hi,

I managed to get it working by first adding the folder to the VM using
VirtualBox GUI. I labeled it "d/Develop". Then I added the following lines
to C:\Program Files\Docker Toolbox\start.sh

"${DOCKER_MACHINE}" ssh default 'sudo mkdir -p //d/Develop'
"${DOCKER_MACHINE}" ssh default 'sudo mount -t vboxsf d/Develop //d/Develop'

Restarting the Docker Quickstart Terminal gave me the right mounts

[2016-10-17 11:59] milindchawre commented on #26818
@thaJeztah Can you take look : https://github.com/docker/docker.github.io/pull/232

[2016-10-17 12:18] justincormack commented on #27444
Cc @estesp interesting issue...

On 17 Oct 2016 12:53 p.m., "Andrey Arapov" <notifications@github.com> wrote:

[2016-10-17 12:23] JamesJJ commented on #25826
I think so.

[2016-10-17 12:23] #25826 closed

[2016-10-17 12:24] cemiarni commented on #25929
One more thing, after grubby command you have to restart the machine.

[2016-10-17 12:32] mbentley opened #27445 "Feature request: Default restart policy in daemon configuration"
In order to help facilitate a more self-service approach with some basic resilience after engine restarts, reboots, etc, it would be helpful to be able to set the default restart policy at the daemon level.  This would allow administrators to better control what the expected state should be out of the box.

/cc @pvnovarese

[2016-10-17 12:33] mostolog commented on #25303
Hi.

Does docker services support multiples ports exposed/published for a service?
Seems docker service create --publish 8080 --publish 8888 doesn't work...
Regards

[2016-10-17 12:37] andycutler opened #27446 "\"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2016-10-17 12:39] #27446 closed

[2016-10-17 12:45] cetex opened #27447 "Allow underscore in domain name (which is perfectly legal)"
Trying to tag images to push to a certain docker registry i get:
docker tag <some image> docker-registry.service.dc_region.consul/ubuntu
Error parsing reference: "docker-registry.service.dc_region.consul/ubuntu" is not a valid repository/tag

However if i change the domain name to: docker-registry.service.dc**-**region.consul it works.

I've checked the tickets about hostnames already registered a

[2016-10-17 13:20] ssuvasanth commented on #26831
@allencloud I missed to notice the documentation changes in #27346 . It looks fine to me to fix the document.

[2016-10-17 13:29] hodiapa commented on #27200
@boucher any clues?

[2016-10-17 13:34] docwhat commented on #11508
What is CIS?

We wanted IP forwarding off on the host, tho turning it off in containers is interesting.

[2016-10-17 13:39] rhvgoyal commented on #27381
@thaJeztah Strange that this will happen only with ext4 and not xfs. I am not aware of any such thing.

In general people have reported device being busy and there can be so many reasons for that.

@ceeko first of all make sure that docker daemon is running into a slave mount namespace of its own and not host mount namespace. So that mount points don't leak and chances of getting such errors are l

[2016-10-17 13:41] ssuvasanth commented on #26831
Modified PR #27437 a bit.

If we decide to modify the document to reflect the message from the daemon, please go with #27346 and if it is desirable to include the driver name in the name conflict message, please go with #27437 (includes @allencloud's commit).

Both looks reasonable to me.

PTAL maintainers. cc @allencloud

[2016-10-17 13:45] mavenugo commented on #27066
@thaJeztah this has been addressed in 1.13 by the introduction of `--attachable` network and the error message is updated appropriately :

[code]

I dont think we have to address this for 1.12 version. WDYT ?

[2016-10-17 13:47] mavenugo commented on #26490
ping @msabansal @jhowardmsft PTAL

[2016-10-17 13:51] sanimej commented on #27441
@TimurKiyivinski Within a network the containers' ports are reachable without port expose or publish. This is true for internal networks as well. Here is a quick example. In your case can you check if the http-server is indeed listening on 4200.

[code]

[2016-10-17 13:59] tophj-ibm commented on #27045
@hqhq I was looking at this http://packages.ubuntu.com/trusty-updates/devel/golang-1.6-go, which suggests `golang-1.6-go` is available for arm64. You can then use that to bootstrap build the latest version of golang from source.

[2016-10-17 14:04] mavenugo commented on #26120
Thanks @au-phiware for the bisect and narrowing down the issue.
@mgummelt @JargoonPard can you pls confirm if the issue is not specific to `docker build` and is an issue with a regular container in the default bridge network ?
We have seen issues in the past with the other subsystems (such as network manager) interfering with docker daemon causing the veth's to fail. Can you pls try to disable `ne

[2016-10-17 14:16] ceecko commented on #27381
@rhvgoyal The `MountFlags=slave` seems to resolve the issue so far. The containers created before the change are still an issue but new containers do not seem to trigger the error so far. I'll get in touch in case anything changes.

Btw it may be worth updating the storage driver docs to recommend this as a best practice in production since I couldn't find any reference.

Thank you for your help.