[2015-08-26 23:39] GordonTheTurtle commented on #15870
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-26 23:52] aanm commented on #14373
@rhatdan It seems the problem is solved on docker 1.8.1 thanks.

[2015-08-26 23:52] #14373 closed

[2015-08-27 00:36] aderouineau commented on #15781
That is my issue: why change the MAC address on a restart when there does not seem to be a logical reason for it? VM NICs keep the same MAC addresses across restarts...

[2015-08-27 01:17] redlockio opened #15874 "Docker events command do not work after 15 minutes"
Description of problem:

I'm using "docker events" command to monitor docker events in real time. After about 15 minutes, I don't see any docker events even though I am running commands like docker run etc. Note that I am using docker over TCP port.
I wrote a Java code which uses Apache HTTP Client found that even apache client doesn't see any data from the docker TCP server. I then ran Wireshark

[2015-08-27 01:22] LK4D4 commented on #15874
@redlockio Could you try to connect another client to docker events when this occured? Also could you try unix socket? Thanks!

[2015-08-27 01:24] redlockio commented on #15874
@LK4D4  yes, I've two clients connected- one using apache HTTP client and another client is standard docker client. I will try with unix sockets too. thanks

[2015-08-27 01:43] stevvooe opened #15875 "Layer Upload broken due to URL sanitization bug"
Under certain proxy configurations, where a relative url is encountered in Location fields, blob uploads may not be resolvable. The cli will report "blob upload unknown" and not provide much else.

There are more details here: https://github.com/docker/distribution/issues/928#issuecomment-135235658.

We need to get a fix in distribution and update the client in docker.

cc @dmcgowan

[2015-08-27 01:43] GordonTheTurtle commented on #15875
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-27 01:44] stevvooe commented on #15875
Marking as 1.8.2 pending impact analysis.

[2015-08-27 01:54] stevvooe commented on #15875
Confirmed this function is broken with a small test case sanitizing `sanitizeLocation("/v2/foo/baasdf?_state=asdfasfdasdfasdf", "http://blahalaja.com/v1")`:

[code]

[2015-08-27 01:59] jfrazelle opened #15876 "lxc fix kernel memory limit test"
[code]

[2015-08-27 01:59] GordonTheTurtle commented on #15876
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-27 02:03] Tenk42 commented on #15876
#dibs

[2015-08-27 02:09] hasufell commented on #10161
This is quite important imo. aufs is buggy and caused random failures for me with programs that use the atomic `rename` syscall without falling back to some sort of "copy and rm" method. So the only sane alternative was devicemapper, but it really is slow which is quite a nuisance if you are currently developing a Dockerfile.

[2015-08-27 02:51] LK4D4 commented on #15874
I'll try to reproduce tomorrow too.

[2015-08-27 03:05] phemmer commented on #15856
Not to rub the wrong way, but:
1. If stability is really a big concern, you should be using the packages from the distribution's repositories, not from the upstream project (docker).
2. Package upgrades should get rolled out to development environments first. Any issues such as dropping support for `/etc/systemctl/foo` would be picked up there.
3. Support has to be dropped eventually. If `/etc/sys

[2015-08-27 03:42] ballPointPenguin commented on #9889
thanks

for me, my settings were simply located in /etc/systemd/docker file

FYI
[code]

[2015-08-27 04:45] dustymabe commented on #15582
I am also seeing deadlock in docker pull for docker 1.8 on Fedora 22:

[code]

It just hangs right there. Extracting never finishes.

[code]

This may be related to #15603 ?

[2015-08-27 04:47] cholerae commented on #15876
It seems that we should add an additional judge in DockerSuite.TestRunWithKernelMemory, if the kernel is older than 4.0 then this test will be skipped.

[2015-08-27 04:48] choleraehyq commented on #15876
It seems that we should add an additional judge in DockerSuite.TestRunWithKernelMemory, if the kernel is older than 4.0 then this test will be skipped.

[2015-08-27 04:52] dalanlan commented on #12487
/cc @dalanlan

[2015-08-27 05:06] gwsu2008 commented on #8759
+1

[2015-08-27 05:06] GordonTheTurtle commented on #8759
*USER POLL*

*The best way to get notified when there are changes in this discussion is by clicking the Subscribe button in the top right.*

The people listed below have appreciated your meaningfull discussion with a random +1:

@gwsu2008
@brunoric
@mcandre
@thiagozs
@yveshwang
@keithdwilliams
@KotieSmit

[2015-08-27 05:47] redlockio commented on #15874
Thanks. I just verified that if events keep flowing in, docker events command work just fine. I wrote following script to generate events every 1 second-

#!/bin/bash
while :
do
        echo "Press [CTRL+C] to stop.."
        ./docker -H tcp://ip:port run some-image
        sleep 1
done

docker client running on windows was able to show events for more than three hours. So I stopped the script and

[2015-08-27 06:38] ross211 commented on #15840
I think this is somehow being caused by --userland-proxy=false as I was having this issue too after setting this. I was able to reproduce it quite reliably only when that option was set.

[2015-08-27 06:44] coolljt0725 commented on #15853
+1 for this, we should have a way to sop or kill a paused container directly, because  if some containers was paused by some reason and unpause it would case some unsafe problem. I can work on this if we really need this.

[2015-08-27 07:08] loa commented on #15785
Seem to have same issue but on OSX with docker-machine

[code]

[2015-08-27 07:26] clintonskitson opened #15880 "System error generated for previously used Volumes"
I believe https://github.com/docker/docker/pull/14242 introduced a regression where if you run a container with an external volume, and then kill the docker daemon, any following usage of the volume results in system errors.

It looks like the volume name is recognized, but it does not try and mount the volume.

[code]

[code]

[code]

[2015-08-27 07:26] GordonTheTurtle commented on #15880
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-27 07:35] dustinlacewell commented on #15651
Can confirm. Same behavior as above using btrfs. Installing the binary directly fixed the issue.

[2015-08-27 07:44] emsi commented on #3043
On underlay? Yes, as the unicast on overlay is working.
On overlay there is no need for routing as it's just one segment.

[2015-08-27 08:08] calavera commented on #15880
/cc @cpuguy83

[2015-08-27 08:09] calavera opened #15881 "This is a test, please ignore, I'm sorry for the noise"
So, so sorry :pensive:

[2015-08-27 08:09] GordonTheTurtle commented on #15881
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-27 08:09] calavera commented on #15881
+1

[2015-08-27 08:09] GordonTheTurtle commented on #15881
*USER POLL*

*The best way to get notified when there are changes in this discussion is by clicking the Subscribe button in the top right.*

The people listed below have appreciated your meaningfull discussion with a random +1:

@calavera

[2015-08-27 08:12] #15881 closed

[2015-08-27 08:39] theosp opened #15883 "Dockerfile VOLUME inconsistent behavior"
Hello,

According to https://docs.docker.com/reference/builder/#volume , when a volume is declared in a Dockerfile, the content of the endpoint prior to the volume declaration, should be part of the created volume. Now, apparently it works only when the volume is a docker volume and not a host volume.

Example:
[code]

[code]

Host volume:
[code]

Docker volume:
[code]

Is this a bug? if not any r

[2015-08-27 08:39] GordonTheTurtle commented on #15883
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-27 08:53] JarleB commented on #15498
Perhaps I can shed some more light to this.

I have to identically configured (or so I thought :-) )machines running  latest updates of RHEL7.1 (as of 2015-08-27T10+0200 ).

That means:

    [root@elk-utv04 firewalld]# rpm -qa |grep docker
    docker-1.7.1-108.el7.x86_64
    docker-selinux-1.7.1-108.el7.x86_64
    [root@elk-utv04 firewalld]# rpm -qa |grep selinux
    selinux-policy-3.13.1-23.el7_1

[2015-08-27 08:54] jfroche opened #15884 "Add image and container labels in logs"
It would be nice to push container/image labels in the logs of our containers. We use this to give more context to the logs sent to our syslog/logstash. The log-opt parameter doesn't seem to enable this yet.

[2015-08-27 08:54] GordonTheTurtle commented on #15884
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-27 09:28] tombee commented on #10463
This looks to be the same thing that's reported in #7866 :)

[2015-08-27 10:43] JarleB commented on #15498
JFYI:

    systemctl restart dbus

seems to have removed this odd state on elk-utv03. It now behaves the same way as elk-utv04

BR Jarle

[2015-08-27 10:47] JarleB commented on #15498
uh, but that was just because the restart of dbus killed firewalld :-/ . So back to square one

[2015-08-27 11:15] domenkozar commented on #15053
Upstream has a different source: https://github.com/opencontainers/runc/tree/master/libcontainer/seccomp

[2015-08-27 11:23] domenkozar commented on #15053
I've fixed it in NixOS with https://github.com/NixOS/nixpkgs/commit/e65fce3af64ea0b2058a69d72bc74a0baa756bf9

[2015-08-27 11:29] tagomoris commented on #15757
@newhook As you said, logging service may fail sometimes, but we can't stop containers for that accidental logging service failure, because that stop occurs whole cluster crash if all containers depends on just one logging service host (even if logging service daemon will be back after several second downtime). So I believe that container shouldn't stop when logging service stops.

On the other ha

[2015-08-27 11:33] newhook commented on #15757
The problem is that the absence or presence of the logging service at container start means nothing. It may be there and then immediately disappear, or it may not be there and immediately appear.

[2015-08-27 11:38] tagomoris commented on #15757
1. "It may be there and then immediately disappear": it's accident. (we can't avoid it)
2. "it may no be there": it's may be configuration mistake, or accident. we can avoid configuration mistake by determine not to launch containers.

[2015-08-27 11:42] newhook commented on #15757
For my production environments I would never want a temporary network failure to stop my containers from launching. So at the very least I would want to control whether the service launches in the event that the logging service is unreachable.

[2015-08-27 11:45] aidanhs commented on #15360
Size reasons:

[code]

If you need to download a docker client binary on-demand (concrete example: I've built a tool which shells out to the docker client, but I need an older client version to make sure I can interact with older daemons), it can take a while to download the binary. Not everyone has fast internet :(

[2015-08-27 11:47] vdemeester commented on #15884
Hi @jfroche,

Thanks for reporting this, but I think this has already been propose there : #15816. If you think the same, I think we could close this one as a duplicate from #15816 :wink:.

[2015-08-27 11:52] andybalaam commented on #15859
As I understand it, to modify command line options to the docker daemon under systemd, you have to override the ExecStart property, which seems overly tricky to me compared with the situation under sysvinit (where you only needed to supply a DOCKER_OPTS environment variable).

I wrote up how I did it here: http://www.artificialworlds.net/blog/2015/08/27/changing-the-docker-daemon-options-in-system

[2015-08-27 11:59] andybalaam commented on #15859
I see now that all this was discussed under issue #14513.  I'd still suggest the docs need improving to specify systemd command that is needed to create your own custom config that overrides ExecStart.

[2015-08-27 12:05] jfroche commented on #15884
thanks ! this is a duplicate

[2015-08-27 12:05] #15884 closed

[2015-08-27 12:20] rhatdan commented on #15498
The reason their is a difference between systemctl start docker and running docker daemon directly is that SELinux does not transition to docker_t when run directly.

SELinux works on the concept of process label transitions.  We write rules into policy that state:

When a process running with label `a` executes a file labeled `b`, the new process will get labeled `c`.

For example in SELinux poli

[2015-08-27 12:24] cpuguy83 commented on #15880
hmm, there should be no reason this changed... I'll have to take a look. Mount/Unmount should still be called after daemon every time a container starts.

[2015-08-27 12:28] thaJeztah commented on #15757
Wondering, are restart policies already active if the container fails to start? In that case, `--restart on-failure` could be a solution; i.e. try to (re)start the container if the logging service is not available. Just thinking out loud here :-)

[2015-08-27 12:30] newhook commented on #15757
I don't use restart policies, the containers themselves are started/stopped by upstart or systemd.

[2015-08-27 12:32] cpuguy83 commented on #15880
I cannot repro this, though I'm not using rexray.
@clintonskitson Can you ping me on IRC?

I tried this with both a clean shutdown and with `kill -9`ing the daemon.

[2015-08-27 12:34] JarleB commented on #15498
There is actually a difference in SELinux policy:

    [root@elk-utv03 zones]# sesearch -t docker_t -s firewalld_t -A
     Found 3 semantic av rules:
       allow domain domain : key { search link } ;
       allow domain domain : fd use ;
       allow daemon daemon : unix_stream_socket connectto ;

    [root@elk-utv03 zones]#

    [root@elk-utv04 zones]# sesearch -t docker_t -s firewalld_t -A

[2015-08-27 12:41] JarleB commented on #15498
However:

    [root@elk-utv04 zones]# sesearch  -A|wc -l
    95764
    [root@elk-utv04 zones]#

    [root@elk-utv03 ~]# sesearch  -A|wc -l
    95597
    [root@elk-utv03 ~]#

167 more rules on elk-utv04

[2015-08-27 12:49] cpuguy83 commented on #15793
I bet I know what's happening here...

If you are using some editor like vim, when you save the file it does not save the file directly, rather it creates a new file and copies it into place.
This breaks the bind-mount, which is based on inode. Since saving the file effectively changes the inode, changes will not propagate into the container.
When the container is restarted the new inode.
If you e

[2015-08-27 12:51] cpuguy83 commented on #15526
Closing because this is just not really possible.
Again it's relative to what exactly.
If you want to use a relative path to your current working dir you can use `$(pwd)`.

[2015-08-27 12:51] #15526 closed

[2015-08-27 12:51] abdulrahmanazab opened #15887 "Sharing images between multiple docker hosts"
At the university of oslo, we have a slurm cluster, Abel (https://www.notur.no/hardware/abel) with 630 nodes. We want to enable docker on these nodes.
The details of the issue can be found here, since this represents exactly what we need:
http://stackoverflow.com/questions/27794567/how-to-share-images-between-multiple-docker-hosts?answertab=active#tab-top

Docker swarm is not an option (at least f

[2015-08-27 12:51] GordonTheTurtle commented on #15887
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-27 12:52] cpuguy83 commented on #15467
I believe this can be closed?
I'm not a huge fan of this change since the use case here is probably 50% on one side, 50% on the other... but in any case it seems like #15507 resolved this?

[2015-08-27 12:56] cpuguy83 commented on #15883
Closing as dup of #13984

[2015-08-27 12:56] #15883 closed

[2015-08-27 12:58] greg0ire commented on #15793
I just restarted my container, used nano to do the editing and it works! Thanks a lot. Feel free to close this, I am not sure if it should be considered as a bug or not.

[2015-08-27 13:00] cpuguy83 commented on #15793
Closing, it's not really a bug, just how linux works unfortunately.

[2015-08-27 13:00] #15793 closed

[2015-08-27 13:20] MJ-Lee commented on #14339
The same with @mingfang
I use a /tmp folder, get the same error.
Any follow up?

[2015-08-27 13:33] dvdred commented on #15856
Ok, thank you for the reply.
The rpm contains the word "el7", and for my idiot point of view it means should be compatible with rhel/centos7, or not?
The problem is not so big. I am using a test environment, where i need compose and recent updates of docker daemon. I thought that during upgrades would be a good idea to preserve legacy options, if present, to a drop in systemd file, and I'm only su

[2015-08-27 13:33] #15856 closed

[2015-08-27 13:33] jpocentek commented on #13207
@moldcraft - this actually solved all issues for me.

[2015-08-27 13:42] cpuguy83 commented on #13207
Closing since this seemed to be some permission problem on Fedora?
Thanks for reporting back!

[2015-08-27 13:42] #13207 closed

[2015-08-27 14:08] TroyWorks commented on #13531
restarting VM, machine and network fixed this for me.

I paused the VM, upgraded the network (router, modem, etc) and when the machine/vm restarted whatever IP stuff it was expecting no longer existed, so needed to be refeshed.

[2015-08-27 14:09] rhatdan commented on #15498
Which means you have the docker-selinux package installed on one with an updated docker.pp file

[2015-08-27 14:13] cpuguy83 commented on #15785
Oh right, I see lchown in the error now.

[2015-08-27 14:21] pecigonzalo commented on #12084
How come this is still not marked as feature/bug whatever? i believe its pretty critical for production systems... and everyone is rolling its own workaround/hack to make it work based on
Host OS / Docker Base OS .. thats crazy and basically breaks the portability...

[2015-08-27 14:30] JarleB commented on #15498
Well, yes ... and no.

The packages are installed with the same version on both hosts, also docker-selinux, however it seems that the POSTIN of the rpm install failed on elk-utv03. Look:

    [root@elk-utv03 ~]# rpm -q --queryformat %{POSTIN} docker-selinux
    # Install all modules in a single transaction
    export MODULES=""; for x in docker; do MODULES+=/usr/share/selinux/packages/$x.pp.bz2;

[2015-08-27 14:38] clintonskitson commented on #15880
I just noticed that the volume driver it gets associated to goes to local on initialization of Docker.

[code]

[code]

[2015-08-27 14:42] cpuguy83 commented on #15880
@clintonskitson Also not seeing this:

[code]

[2015-08-27 14:45] remh opened #15888 "Querying for all images with image size hangs"
Description of problem:

`docker version`:
[code]

`docker info`:
[code]

`uname -a`:
[code]

Environment details (AWS, VirtualBox, physical, etc.): Bare metal dedicated server

How reproducible: Always with a high number of images

Steps to Reproduce:
1. Have a high number of images available
2. Query for all containers with image size:
[code]

Actual Results:
The API call times out after 60 secs

[2015-08-27 14:57] bbriggs commented on #10150
Bump. Would like a solution here too, as I am managing a lot docker stuff via puppet and adding the cert to the global cert store with puppet will be a pain.

[2015-08-27 15:00] rockyluke commented on #15561
I'm sorry to bother you with that issue, but our base image used to build all the other and actually 80% are broken ;-(

Thanks.

[2015-08-27 15:04] ValeryDubrava commented on #9665
I've got the same issue on the docker 1.6.2. I've stopped the docker and have uninstalled it. Then I've tried to remove /var/lib/docker directory and I've found many (about 100) process which block this directory (inner directories). I think those processes were inside stopped containers. Currently I can stop those processes only using kill -9. I've stopped all of them, but only reboot unlocked fi

[2015-08-27 15:11] cpuguy83 commented on #15880
We figured this out.
Rexray is storing volume data in `/var/lib/docker/volumes`. When docker restarts it asks the local driver what volumes it has, which it figures out based on the subdirs in `/var/lib/docker/volumes`.

It does this specifically so that we don't lose track of volumes which aren't in use by a container after a daemon restart.
What ends up happening with rexray is the local driver

[2015-08-27 15:12] harishkashyap commented on #5113
boot2docker restart worked for me.

[2015-08-27 15:14] clintonskitson commented on #15467
Correct, this is fixed now.

[2015-08-27 15:14] #15467 closed

[2015-08-27 15:34] LK4D4 commented on #15874
@redlockio I'm trying right now.

[2015-08-27 15:40] dharmit commented on #15869
#dibs I'd like to work on this if no one else is.

[2015-08-27 15:44] StefanScherer opened #15889 "getaddrinfo in Windows docker container"
Description of problem:
Running `npm install` fails inside a Windows Docker container with **Error: getaddrinfo ENOENT registry.npmjs.org:443**. Reducing the problem to the core it seems that `getaddrinfo` does not handle `AI_ADDRCONFIG` correctly.

`docker version`:
[code]

`docker info`:
[code]

`uname -a`:
[code]

Environment details (AWS, VirtualBox, physical, etc.):
Windows 2016 TP3 running i

[2015-08-27 15:45] dkiser opened #15890 "target chain DOCKER always inserted instead of appended"
Is there a particular reason the `-A FORWARD -o docker0 -j DOCKER` line is always inserted instead of appended to the filter table FORWARD chain? If we append to the FORWARD chain in the filter table, then folks would be able to do some more customization as the below paragraph states.

I would like to be able to have a rule of mine always exist in order to handle situations where a container is b

[2015-08-27 15:45] GordonTheTurtle commented on #15890
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-27 15:45] clnperez commented on #15887
It sounds like the solution for you might be simply creating your hosts' docker directories (e.g. /var/lib/docker) on some external storage (like FC).

[2015-08-27 15:50] cpuguy83 commented on #15887
@clnperez Definitely not. The underlying storage driver would need to synchronize access here.
#13777 can help with implementing this outside of docker itself.

[2015-08-27 15:54] #15589 closed

[2015-08-27 16:00] cpuguy83 opened #15891 "Fix broken pipe error on client pull disconnect"
When a client disconnects while a pull is in progress, an error is written to the daemon logs for the broken pipe.
We can probably ignore this error for broken pipe.

[2015-08-27 16:00] GordonTheTurtle commented on #15891
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-27 16:00] LK4D4 commented on #15874
It worked for me. I wonder if it's something with tcp timeouts. So servers side socket is just silently closed.

[2015-08-27 16:08] abdulrahmanazab commented on #15887
@clnperez This I tried before, sharing the whole '/var/lib/docker' in a shared area between nodes. It didn't work (and actually this seems logical). Then I shared the binary and had a separate docker directory for each node (adding '-g /shared/docker/nodename/') to  /etc/sysconfig/docker, But by having one place with repositories-devicemapper, /graph, and /devicemapper. And created symlinks in eac

[2015-08-27 16:10] abdulrahmanazab commented on #15887
@cpuguy83 Well, your solution seems ok, but could you please provide some guidelines on how to implement this in practice? I don't see sufficient details in https://github.com/docker/docker/pull/13777

[2015-08-27 16:11] cpuguy83 commented on #15887
yes, that flat out will not work.
You cannot share graph dirs between multiple daemons. This will lead to really bad results.
None of the built-in storage drivers are going to work as is for multi-daemon configurations.

[2015-08-27 16:11] abdulrahmanazab commented on #15887
@cpuguy83 Good to know :)

[2015-08-27 16:17] abdulrahmanazab commented on #15887
@cpuguy83 Then will your other solution prevent replication, or each host will need to have its separate image repo anyway?

[2015-08-27 16:17] redlockio commented on #15874
thanks for trying out, I am monitoring state of the socket via netstat command right now and will update this thread with my findings.

[2015-08-27 16:19] cpuguy83 commented on #15887
@abdulrahmanazab The above PR introduces being able to build a graph driver outside of docker. Fundamentally to do multi-daemon, this driver would still need to coordinate things.
So no, that PR is not solving multi-daemon, it's making it easier to do it since it can be handled by out-of-process plugins.
Docker Engine is very much single-host focussed (today).

[2015-08-27 16:31] abdulrahmanazab commented on #15887
@cpuguy83 I see, but then you might consider opening up this direction in the future. In Notur (https://www.notur.no/hardware) we have five large clusters. We want to go for docker since we are really tired of native installations with the module system. But also it won't be very practical having e.g. 600 replicates of the same software (one for each node).

However, just had an idea that might ma

[2015-08-27 16:32] Nightling commented on #15840
Indeed @ross211, I can confirm.

[2015-08-27 16:39] jhowardmsft commented on #15889
Short answer - not sure. It'll be an issue in the networking stack in Windows rather than docker as such. I will ask if it's known and file an internal bug if necessary/not by design.

[2015-08-27 16:47] redlockio commented on #15874
I can confirm that TCP socket is still in established state after 20 minutes. I am monitoring data through wireshark but don't see any packets coming in from the socket attached to the tcp connection created by docker events command.

This could perhaps be an environment issue. I am running Docker daemon on digital ocean. Let me try and see what happens with EC2 and Google compute.

[2015-08-27 16:53] ioggstream commented on #13420
2015-08-26 22:59 GMT+02:00 Brian Goff <notifications@github.com>:

Looking ...

Don't worry :)

Peace,
R.

[2015-08-27 16:59] abdulrahmanazab opened #15892 "Swarm on a network"
I'm trying to install swarm on our test cluster SNabel (16 compute nodes), by setting one as the manager. Have been through this manual (https://docs.docker.com/swarm/install-manual/), but there are issues. when docker is configured to run as ```docker -H tcp://0.0.0.0:2375 -d```
I found that the daemon MUST be called afterwards using ```docker -H tcp://0.0.0.0:2375 <command>```, and NOT ```docker

[2015-08-27 16:59] GordonTheTurtle commented on #15892
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-27 17:38] tony-kerz commented on #15637
i finally figured out what was going with this:

brief context: i'm working on a jenkins based workflow which is supposed to build a docker image from git, and then deploy it somewhere via a json based request. The json based request is generated
via a docker-ized Node app, so i want to run the docker-ized Node app from a jenkins build
mounting an input json file from the git source in the jenkins

[2015-08-27 17:38] #15637 closed

[2015-08-27 17:50] moxiegirl commented on #15869
@dharmit \0/ go for it.  This one is interesting...

[2015-08-27 17:56] kevinaloys commented on #8363
Awesome!!

[2015-08-27 18:10] thaJeztah commented on #14339
Actually, I think that's always been the case; only the "Users" directory is (by default) shared with the Boot2Docker VM (using VirtualBox guest additions), any directory outside of "Users" must be manually added as a VBox share. See https://github.com/boot2docker/boot2docker/blob/master/README.md#virtualbox-guest-additions

[2015-08-27 18:30] flaviotruzzi commented on #2801
+1

[2015-08-27 18:31] GordonTheTurtle commented on #2801
*USER POLL*

*The best way to get notified when there are changes in this discussion is by clicking the Subscribe button in the top right.*

The people listed below have appreciated your meaningfull discussion with a random +1:

@Saschlong
@patelrit
@anydoby
@rlanore
@DwayneBull
@joaocc
@miki725
@nickchappell
@npow
@flaviotruzzi
@tommasop
@xdnny

[2015-08-27 18:33] phemmer commented on #2801
wow. gordon is getting sassy :-)

[2015-08-27 18:44] thaJeztah commented on #15881
+1

[2015-08-27 19:00] tianon commented on #15881
+2

[2015-08-27 19:12] duglin commented on #15881
-1

-Doug

Sent from my iPhone

[2015-08-27 19:28] thaJeztah commented on #15881
=

[2015-08-27 19:53] cpuguy83 opened #15896 "Document volume options on for `docker run`"
The options for the `-v` flag on `docker run` seem to be lacking.
Specifically they only mention `rw` and `ro` as valid flags mean while there are also `z` and `Z`, which can be used independently or concatenated as such: `rw,Z`

[2015-08-27 19:53] GordonTheTurtle commented on #15896
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-27 20:04] isuftin commented on #6928
Will stopping/starting docker-machine work for this?

[2015-08-27 20:13] clnperez commented on #15887
@cpuguy83, I see, and thanks for the explanation. It would definitely be cool if/when there was a way to take advantage of the layered and shared nature of the docker images workflow and extend it to the multi-daemon direction.

[2015-08-27 20:39] #13595 closed

[2015-08-27 20:43] maxamillion commented on #12487
I'm running into this issue as well, even after re-nuking `/var/lib/docker` it shows back up after a while. I don't really know what's causing it or how to reproduce but using docker for a while, doing some builds, creating and removing images eventually it will happen again.

[code]

[2015-08-27 20:51] Soulou opened #15897 "Kernel lock when stopping container (removing netdev interface)"
Diagnostic is:

After stopping a container, the docker engine is not working correctly anymore (`docker ps` is freezing, same for `docker start`, `docker stop` is still working)

After a little investigation, it seems related to the routine executed by the kernel when shutting down a netwok interface.

[code]

[code]

[code]

Is there something known around this issue?

Thank you,

[2015-08-27 20:51] GordonTheTurtle commented on #15897
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-27 21:39] WalterDalton commented on #15833
I am getting the same issue. Recently cloned and built docker registry, docker 1.8.1 linux 3.19.0-25-generic #26~14.04.1-Ubuntu SMP Fri Jul 24 21:16:20 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

udo docker info
Containers: 7
Images: 104
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 118
 Dirperm1 Supported: true
Execution Driver: native-0.2
Logging Driver: jso

[2015-08-28 00:02] sanimej commented on #15897
@Soulou I see a similar issue with 4.2 RC2 image. It looks like the kernel issue reported in #5618. In /var/log/kern.log do you see similar errors

unregister_netdevice: waiting for veth04843a8 to become free. Usage count = 1

[2015-08-28 01:01] phemmer commented on #15856
It means the package is compatible with rhel/centos/sl/etc yes. But compatible doesn't mean equivalent to the distro packages. It just means that the package will work.

The problem with something like this, is there's no good way to say "hey, stop using this feature". The only way would be to put it in the docs. And as long as a feature works, people aren't going to notice something in the docs w

[2015-08-28 01:36] bprodoehl commented on #15874
I've seen this sort of thing with other long-lived sockets when going through a masquerading NAT.  You mention Windows on the client side, and DigitalOcean.  What's the layout?  Have you tried running docker events on the DigitalOcean side?  This SO comment describes pretty well what I've seen: http://stackoverflow.com/questions/1480236/does-a-tcp-socket-connection-have-a-keep-alive/1480267#148026

[2015-08-28 01:51] redlockio commented on #15874
@bprodoehl you may be onto something thing. I am running docker client on Windows at my home machine and the server is far away in digitial ocean. Let me see what happens when everything is within a same network so that there are no routers involved.

[2015-08-28 05:03] yongkangchen commented on #14033
Sorry for long time to reply, I upgraded to kernel-lt (3.10.87-1.el6.elrepo.x86_64) and works fine. Thanks

[2015-08-28 05:05] smuthali commented on #15498
I am seeing very erratic behavior with docker-engine 1.8.1 on CentOS 7.1. As mentioned in the earlier threads I have tried both disabling SELINUX / installing docker-selinux but to no avail.
What I have noticed is when I restart docker, i have to put a sleep step of 5 seconds and that seems to help, firewalld is running

Details:

[root@engage-kaf3 ~]# uname -srvim
Linux 3.10.0-123.8.1.el7.x86_64

[2015-08-28 06:12] hason commented on #7198
+1

[2015-08-28 06:12] GordonTheTurtle commented on #7198
*USER POLL*

*The best way to get notified when there are changes in this discussion is by clicking the Subscribe button in the top right.*

The people listed below have appreciated your meaningfull discussion with a random +1:

@jcercurati
@iangelov
@scue
@razvanphp
@ghost
@andrerocker
@anandnalya
@ddopson
@hason
@hadim
@iyn
@cgrantcharovtp
@sandytrinh
@gomex
@DrBenton
@tehmaspc
@segphault
@avaz

[2015-08-28 06:59] thaJeztah commented on #14033
Thanks for reporting back @yongkangchen, and good to hear it's resolved for you!

[2015-08-28 07:07] itatabitovski commented on #15643
I have also encountered this problem when using docker 1.8.1 and registry 2.1. Downgrading to version 1.7.1 seems to work fine with registry 2.1.

[2015-08-28 07:14] calavera commented on #15881
:stuck_out_tongue_winking_eye: we don't process anything when issues and prs are closed, but apparently we should

[2015-08-28 07:33] valeriano-manassero opened #15905 "Docker process unexpectedly killed"
In a very large environment (more than 500 containers running) I had a very strange issue.

OS is a CentOS 7 (VMWare ESX Virtual Machine) and Docker daemon is in Debug Mode
Docker info:
[code]
Docker info:
[code]
Uname:
[code]
Docker daemon dies 3 or 4 times a week and I had only these two lines in /var/log/messages:
[code]
I noticed the issue ***ever occurs on a randmon hour but everytime on minu

[2015-08-28 07:33] GordonTheTurtle commented on #15905
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-28 07:44] gionn opened #15906 "Use /etc/hosts entries when populating environment variable for links"
Hi,

`/etc/hosts` is automatically populated with entries of linked containers: https://docs.docker.com/userguide/dockerlinks/#updating-the-etc-hosts-file

so it should be safe to use the *hostname* instead of the plain *private ip* address when injecting environment variables for links (e.g.: `DB_PORT_5432_TCP_ADDR`).

This will permit to avoid restarting any dependent container when a container

[2015-08-28 07:44] GordonTheTurtle commented on #15906
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-28 08:10] Starefossen commented on #12823
I am experiencing this exact same issue with Docker 1.8.1 on Ubuntu 14.04.

[2015-08-28 08:21] Soulou commented on #15897
Yes exactly, i've those lines, thank you for bringing up this thread, closing in favor of https://github.com/docker/docker/issues/5618

[2015-08-28 08:24] Starefossen commented on #6928
Any update on this? Having major problems with stall pulls lately.

[2015-08-28 08:42] mikehaertl commented on #7480
@jfrazelle Is there any news on this? Or any workaround we can try?

I've not used automated builds very much, but if I remember correctly, the automated build could also be triggered manually through an API. And I think, it's possible to specify exactly which tag I want to build there. So if we could turn off, that an image is automatically built on each push, this could be a workaround. Still it

[2015-08-28 08:48] rhuss commented on #7480
@mikehaertl @jfrazelle  BTW, I moved on to this discussion https://forums.docker.com/t/automated-build-only-on-monitored-github-folder-change/257 which seems reasonable close to this issue.

[2015-08-28 09:16] abdulrahmanazab commented on #15887
@cpuguy83 I also want to test your external graphdriver solution https://github.com/docker/docker/pull/13777
How to create an external graph? and how to access it from docker daemon(s) afterwards?

[2015-08-28 09:24] sowndaryak opened #15907 "namespace inside container"
how do i map the uid in the host to the container? please get me through linux commands?

[2015-08-28 09:24] GordonTheTurtle commented on #15907
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-28 09:25] mhf-ir commented on #10589
Same problem debian jessie x64

# docker --version
Docker version 1.6.2, build 7c8fca2

============================
docker ps -a
CONTAINER ID        IMAGE                                                                     COMMAND             CREATED             STATUS                      PORTS               NAMES
f1bea984deae        8eb20e13c4d8b82408c60eccea35bea0d5e99a224f0d6065b33b819c7e777a

[2015-08-28 09:36] sowndaryak commented on #15907
Client version: 1.7.1
Client API version: 1.19
Go version (client): go1.4.2
Git commit (client): 786b29d
OS/Arch (client): linux/amd64
Server version: 1.7.1
Server API version: 1.19
Go version (server): go1.4.2
Git commit (server): 786b29d
OS/Arch (server): linux/amd64

Containers: 81
Images: 17
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 181
 Dirperm1 Su

[2015-08-28 09:55] tobkle commented on #12823
Same problem while pulling Ubuntu 14.04. Doesn't come to end.

[2015-08-28 11:16] GordonTheTurtle commented on #3804
*USER POLL*

*The best way to get notified when there are changes in this discussion is by clicking the Subscribe button in the top right.*

The people listed below have appreciated your meaningfull discussion with a random +1:

@rbugajewski

[2015-08-28 11:29] FlorianOtel commented on #14593
This seems to have gone silent, despite that there seems to be at least 1/2 dozen issues (some closed, some still open) on this (and related) topics. Closest wrt question below seems https://github.com/docker/libnetwork/issues/150 , now closed and referring here.

Also while I'm conscious of the fact that we need to think of the consequences, I'd rather have this discussion focused on one topic, w

[2015-08-28 11:39] tombutt commented on #15558
a new crane has been released (Red Hat Registry), and you should be able to pull images with 1.8.1

[2015-08-28 12:17] phemmer commented on #15905
check/provide the output of `dmesg` (at least the end of it) when the issue occurs. It'll likely contain relevant information.

[2015-08-28 12:19] hqhq commented on #15907
Map uid from host to container needs user namespace support, which is not supported yet, the phase one support should be in 1.9.

And this is not a Docker issue, should not ask questions here, you can ask questions in google groups: https://groups.google.com/forum/#!forum/docker-dev

[2015-08-28 12:35] robertoandrade commented on #7906
Any projections as to when this will be available?

[2015-08-28 13:23] xnox commented on #12823
me too on clearlinux.org

[2015-08-28 13:30] barsteadr opened #15908 "Creating container via remote API with data volume specification causes error"
## uname -a
`Linux rjb 3.19.0-26-generic #28~14.04.1-Ubuntu SMP Wed Aug 12 14:09:17 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`

## docker version
[code]

##  docker info
[code]

#### Environment details:
`VMWare Fusion V8`

#### How reproducible:
`Fails every time`

#### Steps to Reproduce:
1. run:
 `docker pull ubuntu:14.04`
2. Submit a POST call:
`curl -XPOST localhost:4243/containers/create?name=

[2015-08-28 13:30] itzg commented on #12823
Since it's a slow day at work and the corporate firewall (SSL cert swapping) seems to be a contributing factor, I think I'll poke around in the Docker code today ;)

[2015-08-28 13:34] cpswan opened #15909 "-d flag referenced in docs where daemon is used in the accompanying example"
In https://docs.docker.com/project/set-up-dev-env/ (Start a container and run a test, part 8)

The command line example has been updated to use `daemon` rather than `-d`:

But the following explanation still refers to `-dD`, which was previously there

[2015-08-28 13:34] GordonTheTurtle commented on #15909
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-28 13:47] cpuguy83 commented on #15908
@barsteadr Keep in mind, the CLI uses the remote API in all cases.

A "Bind" is a `host_path:container_path`. The bind spec you have is indeed incorrect since you have not specified a host path.

If all you are looking to do is to create a normal volume (not bound to a specific host dir), then you should do:

[code]

[2015-08-28 13:47] #15908 closed

[2015-08-28 13:48] #15907 closed

[2015-08-28 13:49] cpuguy83 commented on #3804
Docker 1.8 supports blkio-weight.
#15879 adds blkio iops per device
#14466 adds read/write bps per device
#13959 adds blkio weight per device

[2015-08-28 13:52] martinhbramwell commented on #15620
4wiw ... ran into this in a KVM virtual machine running Xubuntu 14.04, with some other projects already installed.  Simply rebooting is another solution.  It also enabled me to run ```docker run hello-world``` **without** sudo.

[2015-08-28 14:30] cpuguy83 commented on #7906
I'm going to close this one since most of the discussion is happening @ #15187
The plan is to have this in docker 1.9.
The PR which introduces this is here: #12648

[2015-08-28 14:30] #7906 closed

[2015-08-28 14:30] thaJeztah commented on #15881
Yes, I think it should process closed ones as well, we sometimes get "why is this closed, because I can still reproduce this on Docker 0.05" and lots of +1's

Should there be a counter? Even though the "+1s" are annoying (and many times people don't even know what they're +1-ing), they *can* be an indicator that it's a real problem or an issue should be reopened; perhaps we should add a "popular"

[2015-08-28 14:51] bprodoehl commented on #15341
@mavenugo I have a different server that shows the problem even more frequently.  Any luck in tracking it down?

[code]

[2015-08-28 15:04] thaJeztah commented on #15558
Thanks for the information @tombutt!

@binhex can you confirm this is resolved for you? Then we can close this issue, thanks!

[2015-08-28 15:12] vito commented on #15561
We've started seeing this too. Seems to happen after pushing an image that was `import`ed. After removing the local copy so `pull` doesn't no-op, all `pull`s fail.

[2015-08-28 15:38] etcook opened #15912 "ServeAPI error: is a directory"
New docker nodes that I bring up are getting this error. Any suggestions or ideas?

I've tried it now on two completely fresh boxes. This is Docker 1.7.1

Note: because Linode uses custom kernels, I've always fallen back to devicemapper since aufs support isn't possible without a bootloader.

[code]

[2015-08-28 15:38] GordonTheTurtle commented on #15912
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-28 15:39] etcook commented on #15912
docker version:
Client version: 1.7.1
Client API version: 1.19
Go version (client): go1.4.2
Git commit (client): 786b29d
OS/Arch (client): linux/amd64

docker info:
Cannot connect to the Docker daemon. Is 'docker -d' running on this host?

uname -a:
Linux localhost 4.1.5-x86_64-linode61 #7 SMP Mon Aug 24 13:46:31 EDT 2015 x86_64 x86_64 x86_64 GNU/Linux

[2015-08-28 15:48] cpuguy83 commented on #15912
@etcook If I had to guess, I'd bet `/var/run/docker.sock` is a directory.

[2015-08-28 15:57] etcook commented on #15912
@cpuguy83 You were 100%. I deleted the directory, did a `touch` on docker.sock, and now Docker loads up fine. Any idea why this is happening? This happened on two completely fresh servers. Thanks again!

[2015-08-28 15:58] cpuguy83 commented on #15912
What is setting up your servers?

[2015-08-28 16:03] etcook commented on #15912
@cpuguy83 I used the Tutum installation scripts, which installs 1.7.1. Is this possibly a Tutum issue rather than Docker? Wouldn't the socket be created with the Docker install? Thanks!

[2015-08-28 16:04] calavera commented on #15875
@stevvooe can we port that fix in distribution to the vendored version we have in docker?

I think the best way to do that is:
1. Create a branch in distribution from the commit we have vendored in docker.
2. Apply the patch.
3. Vendor the result in docker.

What do you think?

[2015-08-28 16:05] cpuguy83 commented on #15912
Definitely not docker. cc @fermayo

[2015-08-28 16:08] etcook commented on #15912
@fermayo @cpuguy83 - Looks like somehow the sock file that I created got deleted and a directory placed back in its place, so once again it is failing.

[2015-08-28 16:08] etcook commented on #15912
understood, @cpuguy83 thanks for your help

[2015-08-28 16:12] bprodoehl commented on #15788
I'm seeing this problem again on a machine with a master build from yesterday and --userland-proxy=false.

[2015-08-28 16:20] calavera commented on #15788
/cc @mrjana, @aboch, @mavenugo

[2015-08-28 16:23] bprodoehl commented on #15788
@mavenugo I can provide access to this host as well, if you want to see it live.

[2015-08-28 16:25] calavera commented on #15912
Closing this since it looks like it's not an issue. :tada:

[2015-08-28 16:26] mavenugo commented on #15341
@bprodoehl @mrjana was looking at the issue & it seems there is 1 root-cause that is causing these different issues (including #15855). Lets hear from @mrjana on the next steps.

[2015-08-28 16:29] mavenugo commented on #15788
@calavera we are working with @bprodoehl on https://github.com/docker/docker/issues/15341 which we think is the root-cause for all these issues.
@bprodoehl yes, that would certainly help.

[2015-08-28 16:29] dmcgowan commented on #15875
@calavera that is exactly the plan

[2015-08-28 16:30] calavera commented on #15875
cool :sunglasses:

[2015-08-28 16:36] calavera commented on #15788
cool, thanks.

[2015-08-28 16:41] tim-kretschmer-c2fo commented on #8887
:+1:

[2015-08-28 17:24] StefanScherer commented on #15889
Some further investigation a call to `Get-NetAdapter` does not show the Ethernet Adapter #3, but the both of the host.

Running inside a Windows Container:

[code]

Running on the Win2016TP Host:

[code]

[2015-08-28 18:07] gjvoit commented on #15562
Thanks very much for the explanation!

[2015-08-28 18:36] dnephin commented on #14474
We hit this bug (or something closely related) pretty frequently with the compose test suite on jenkins:

* https://jenkins.dockerproject.org/job/Compose-PRs/1179/console
* https://jenkins.dockerproject.org/job/Compose-PRs/1122/console
* https://jenkins.dockerproject.org/job/Compose-PRs/1115/console
* https://jenkins.dockerproject.org/job/Compose-PRs/1112/console
* https://jenkins.dockerproject.or

[2015-08-28 18:43] javmorin commented on #15674
I have come to realize that this is not resolved, but it's cause is different from what I thought. The issue seems to occur on initial boot for my laptop. I am connected on both WiFi and LAN (not sure that matters), and when I start my mongodb container (it's not set to start automatically) I am not able to connect to it. I am certain that this was NOT needed with docker 1.7 as I have been using t

[2015-08-28 19:18] tmichaud314 commented on #8795
It's been several months w/o any posts.  Is this issue being tracked elsewhere?

[2015-08-28 19:28] mikebrow commented on #13297
Docs now state only v7 is supported.  Suggest closing this issue.

[2015-08-28 20:04] sanimej commented on #15897
@Soulou Apparently the 3.19.0-25 kernel had some problems and Ubuntu has updated the version to 3.19.0-26. If you update your system it should move to 3.19.0-26. Can you give it a try and confirm if the problem still happens ?

[2015-08-28 21:17] thaJeztah commented on #15562
You're welcome, @gjvoit

[2015-08-28 21:45] kriss9 commented on #11153
+1

[2015-08-28 21:45] GordonTheTurtle commented on #11153
*USER POLL*

*The best way to get notified when there are changes in this discussion is by clicking the Subscribe button in the top right.*

The people listed below have appreciated your meaningfull discussion with a random +1:

@kriss9

[2015-08-28 22:31] stevenschlansker opened #15923 "While pulling v2 tags, panic: runtime error: invalid memory address or nil pointer dereference"
This error message is both unhelpful as to pointing to the actual cause, and causes the entire Docker daemon to crash when an upstream registry misbehaves:

[code]

[code]

[code]

[2015-08-28 22:31] GordonTheTurtle commented on #15923
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-28 23:00] MHBauer commented on #14756
@icecrime #15310 daemon complete and merged.

[2015-08-28 23:07] MHBauer commented on #15892
dup of https://github.com/docker/swarm/issues/1175

[2015-08-29 00:37] abronan commented on #15892
Closing this one as this was handled in swarm already :)

[2015-08-29 00:37] #15892 closed

[2015-08-29 01:02] crquan commented on #3519
:+1:

[2015-08-29 03:28] mkubarycz commented on #863
+1

[2015-08-29 03:28] GordonTheTurtle commented on #863
*USER POLL*

*The best way to get notified when there are changes in this discussion is by clicking the Subscribe button in the top right.*

The people listed below have appreciated your meaningfull discussion with a random +1:

@mkubarycz
@sym3tri

[2015-08-29 05:44] nilskuhn opened #15928 "no Dockerfile in web gui for automated build"
Hi,
there is no Dockerfile in this [automated build](https://hub.docker.com/r/iteratechh/rearview-init/~/dockerfile/).
The Dockerfile in associated [gitub repository](https://github.com/iteratec-hh/dockerfiles) isn't located in the root of that repository. Maybe that's the reason. But if the possibility exists to set the location of Dockerfile explicitly it should be shown in web gui approppriatel

[2015-08-29 05:44] GordonTheTurtle commented on #15928
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-29 06:25] hqhq commented on #15498
@rhatdan Thanks for you explanation, now I understand why `docker daemon` works and `systemctl start docker.service` doesn't. But I still don't understand why 1.7 works and 1.8 doesn't on the same host, all these explanation seems that's selinux policy's problem, what change in Docker impact these policies?

[2015-08-29 09:07] gdm85 commented on #6574
@dqminh ah yes, that would be entirely possible to achieve and reasonable

[2015-08-29 09:11] gdm85 commented on #15829
@dqminh give a look to the approach I used in [docker-fw](https://github.com/gdm85/docker-fw) to solve a similar class of problems, maybe you can get some ideas from there too

[2015-08-29 09:16] CpuID commented on #15759
If anyone is interested I have dropped some feedback about my similar issue in https://github.com/docker/distribution/issues/884 - v2 API returns a 401 (due to docker CLI auth token discrepancies), which causes the CLI to fall back to the v1 API and get a 404. Ideally the CLI should give up after the 401 and return a "not authorized" message instead of continuing to v1 and getting a 404.

[2015-08-29 11:17] TomNussbaumer commented on #15928
Go to __build settings__. There you can modify the location of the Dockerfile.

[2015-08-29 11:33] sallyom commented on #15876
Had similar problem while writing some tests for https://github.com/docker/docker/pull/14012, I'll take a look :)

[2015-08-29 12:41] TomNussbaumer opened #15930 "docker inspect image-id: why are there no details about repository(s) and tag(s)?"
Is there any (good) reason why there is no info about repository(s) and tag(s) when inspecting an image (`docker inspect <image-id>`)?

IMHO its really awkward to parse the unstructured (=no json) output of `docker images` and combine it with the output of `docker inspect` to get a complete set of informations about an image.

[2015-08-29 12:41] GordonTheTurtle commented on #15930
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-29 13:16] rhatdan commented on #15498
Most likely nothin.  I am wondering if docker-selinux failed to install.

dnf -y reinstall docker-selinux
Or
yum -y reinstall docker-selinux

[2015-08-29 13:26] trompx commented on #5684
Seing the same on ubuntu 14.04

[code]

[code]

I am about to run an application and whether this issue is solved, I cannot use docker in production as I already experienced some container crashed and I could not remove them without system reboot, which is a pain on a production system.

[2015-08-29 14:03] qinwf commented on #12469
+1 on babun

[2015-08-29 14:20] duglin commented on #15930
@TomNussbaumer have you tried the REST APIs instead?  e.g.   /images/json

[2015-08-29 14:31] denghongcai commented on #3804
@cpuguy83 feature you listed here is not related with disk space quota...

[2015-08-29 15:34] GordonTheTurtle commented on #12738
*USER POLL*

*The best way to get notified when there are changes in this discussion is by clicking the Subscribe button in the top right.*

The people listed below have appreciated your meaningfull discussion with a random +1:

@hugoliv
@oliviermadre
@ryan-stateless

[2015-08-29 16:59] cpuguy83 commented on #3804
They are not "disk quota support", but they are related to the topic.

[2015-08-29 17:11] nioncode commented on #12853
I have created a script for that: https://gist.github.com/nioncode/fff8c92eb3fbe1ee6e2b
It mounts all volumes from a given container to a user supplied mount point.

[2015-08-29 17:16] vdemeester commented on #15930
@TomNussbaumer I think this is going to be fixed with #13185 isn't it ? (for the inspect part).

[2015-08-29 18:07] #15498 closed

[2015-08-29 19:30] michelesr commented on #15582
Seems like Docker is trying to pull the same layer two times (`302f74a9f93f`) from the same client:
    ...
    7b212b78e8fe: Download complete
    70270c5e297c: Download complete
    8c8e2a0dbde4: Pulling fs layer
    909cf05ff400: Pulling fs layer
    302f74a9f93f: Pulling fs layer
    302f74a9f93f: Layer already being pulled by another client. Waiting.
    13c0c663a321: Already exists
    2bd27

[2015-08-29 19:44] thaJeztah commented on #15928
I think this can be closed; also, this repository is for tracking bugs in Docker; issues for Docker hub are handled by a different team and can be reported via https://support.docker.com. Issues with the new Docker Hub web interface via https://github.com/docker/hub-beta-feedback/

Hope this helps!

[2015-08-29 19:44] #15928 closed

[2015-08-29 20:16] phobologic commented on #13914
I'm running into this as well, after upgrading to `Docker version 1.8.1, build d12ea79`

The strange thing is that on two of my hosts it works fine, but on another it's having this issue.

(My app runs on 8080)

On a good host:
[code]

On a bad host:
[code]

[2015-08-29 20:56] lyndaoleary commented on #15909
Hi, I can change this :) #dibs

[2015-08-29 21:31] phobologic commented on #13914
I've tried to fix this a few ways - one is using `--ip=0.0.0.0` and another using `--ip=127.0.0.1`.  The latter isn't an actual fix, since it seems that the ports are only bound to localhost, which isn't what I want.  Do we now need to provide `--ip=<ip of eth0>` to make this work everytime?

[2015-08-29 23:25] smiller171 commented on #6980
[+1]

[2015-08-29 23:35] crashvb commented on #863
I too would like multiple `-t` flags to be supported. I have a preference for specifying tags via arguments and would like to be able to do so in a single command call. I'm not sure that this issues directly relates to me, however, the solution proposed would seem to serve my needs.

[2015-08-30 00:48] thaJeztah commented on #15876
@Tenk42 were you working on this as well? If you are, please comment, to prevent you and @sallyom duplicating effort :smile:

[2015-08-30 00:50] thaJeztah commented on #13297
@mikebrow thanks, yes, I think this can be closed now that we no longer have RHEL/CentOS 6 in the list of supported versions

[2015-08-30 00:50] #13297 closed

[2015-08-30 01:09] Tenk42 commented on #15876
@thaJeztah, i am working on this as well. I have made a reproducible environment and I study the daemon_unix.go. I reproduce the issue to have this warning that i should not have.

[2015-08-30 02:10] #15909 closed

[2015-08-30 02:16] guilhermecvm commented on #4717
+1 for somaxconn

[2015-08-30 03:41] haosdent opened #15933 "Invalid docker version output"
In Fedora 22, the `docker --version` output is

[code]

Seems this one is not match [semver](http://semver.org/), change to "1.7.0-fc22" would be better.

[2015-08-30 03:41] GordonTheTurtle commented on #15933
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-30 04:40] beetree commented on #10218
Having a similar issue on fresh CentOS 7.1 installation. Docker 1.7.1.

The problem only happens "sometimes" but too often to make it a serious problem. Here is a session to highlight the problem:

[code]

Does anyone have a solution?

@darkermatter don't do it.

[2015-08-30 04:45] beetree commented on #6325
Seriously? A reproduceable Panic in the docker daemon and no reaction from the devs after 10 days?

Have they taken [the money](http://techcrunch.com/2015/04/14/docker-raises-95m-series-d-round-for-its-container-platform/) and left?

[2015-08-30 05:43] sgrimee commented on #13533
in the meantime this is a workaround, as per #8959, if you tag your data-only containers with a label
```comm -13 <(docker ps -a -q --filter='\''label=retention-policy=persistent'\'' | sort) <(docker ps -a -q | sort))```
I have set an alias for 'docker remove non-data containers' in my .zshrc:
```alias drnd="docker rm \$(comm -13 <(docker ps -a -q --filter='label=retention-policy=persistent' | sor

[2015-08-30 06:19] ashgillman commented on #13288
I get a similar error regularly when attempting a build.

It can be fixed by re-running the initialisation script, which restarts the server:

But it is NOT due to inconsistent docker environment variables

I am running OSX Yosemite 10.10.4

[2015-08-30 06:20] ashgillman commented on #13288
And I should add the "default" vm is definitely still running on Virtualbox

[2015-08-30 07:18] mboes opened #15934 "Add option to decompress remote tarballs in ADD"
Currently, the [dockerfile_best-practices](https://docs.docker.com/articles/dockerfile_best-practices/) article has (in part) this to say about `ADD` vs `COPY`:

This is counter intuitive, but what's going on here is that the user is performing `RUN` because the archive is *remote*, and remote archives are not auto extracted (for some unknown reason not documented anywhere).

In https://github.com

[2015-08-30 07:18] GordonTheTurtle commented on #15934
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-30 10:07] brunano21 commented on #15620
thanks a lot! `sudo service docker start`

[2015-08-30 11:12] nilskuhn commented on #15928
Sorry, I think I was too fast with this ticket.
It took a while until Dockerfile was visible after first build was visible.
Everything works as expected.

[2015-08-30 12:17] Toub commented on #14026
Thanks @Kelindar

I had @PhE  error message ("driver not supported ") on Debian Testing with kernel 4.0, and your solution worked for me.

[2015-08-30 12:40] thaJeztah commented on #15876
@sallyom can you try to coordinate with @Tenk42 ? It's `tenk` on IRC :+1:

[2015-08-30 12:50] sallyom commented on #15876
sure thing, thanks!

[2015-08-30 13:26] resouer opened #15936 "How to keep files in the volume dir of container when `-v /foo:/bar`?"
Hi guys,

Here's the problem:

When I do `docker run -v /foo:/bar`, the original files in `/bar` will be hided, that's what bind mount did of course.

But is there anyway I can  keep those files and access them from `/foo`?

[2015-08-30 13:26] GordonTheTurtle commented on #15936
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-30 13:54] thaJeztah commented on #15930
looks like a dup of https://github.com/docker/docker/issues/10139, which will be fixed by https://github.com/docker/docker/pull/13185, but feel free to comment if you think it's different, then I'll reopen

[2015-08-30 13:54] #15930 closed

[2015-08-30 14:15] MJ-Lee commented on #14339
@thaJeztah
Actually, I am adding shared folder using command line:
VBoxManage sharedfolder add boot2docker-vm --name "Shared" --hostpath "folderInSystem"
and mount it inside boot2docker.
If there is a difference between using virtualbox guest additions and command line, I will let you know.
Otherwise, I will post a new issue.

[2015-08-30 14:54] thaJeztah commented on #15936
No, there's currently no way to do this automatically. There's been a PR to do this; https://github.com/docker/docker/pull/9092, but it was closed in light of the new Volumes API (https://github.com/docker/docker/pull/14242), that will be in Docker 1.9 and which allows you to manage volumes separately from the containers that make use of them.

Thinking about this, I'm not 100% sure if the new "na

[2015-08-30 15:27] phemmer commented on #15936
See #13984

[2015-08-30 15:35] thaJeztah commented on #15936
@phemmer ah, yes we had that one as well; (albeit not directly related to bind mounts) l'm still interested in the new named volumes here (haven't had the opportunity to test the behavior today)

[2015-08-30 18:16] piotrminkina opened #15938 "Syslogd cannot be started when container is started with --read-only"
When container is started with option `--read-only` then `syslogd` cannot be started, because `/dev` is also read only and process cannot create socket at `/dev/log`. In previous versions of Docker was not any problems.

Could You add possibility of select that `/dev` or `/sys` should also be read only when option `--read-only` will be provided? Maybe You have better idea to solve this?

[code]

[

[2015-08-30 18:16] GordonTheTurtle commented on #15938
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-30 18:27] thaJeztah commented on #15938
Just to check, this is about running syslogd *inside* a container (not using the syslog logging driver; https://docs.docker.com/reference/run/#logging-drivers-log-driver)?

[2015-08-30 18:38] thaJeztah commented on #15891
is this a dup of  https://github.com/docker/docker/issues/15589 (resolved by https://github.com/docker/docker/pull/15646)? Not sure, just thought there could be some overlap :-)

[2015-08-30 18:45] thaJeztah commented on #15373
@mcieslik-mctp can you confirm this is fixed in docker 1.8.1?

[2015-08-30 18:51] thaJeztah commented on #10463
Closing, because https://github.com/docker/docker/pull/15885 was merged

[2015-08-30 18:51] #10463 closed

[2015-08-30 18:52] thaJeztah commented on #7866
I think this can be closed, because https://github.com/docker/docker/pull/15885 was merged

[2015-08-30 18:52] #7866 closed

[2015-08-30 19:06] thaJeztah commented on #15811
Yes, this is intended; links that are established between containers are created for a specific *instance* of the container, not based on the *name* of the container. When destroying the container that's linked to, the link is destroyed with it.

When creating a *new* container (even with the same name), docker will not automatically create a link to that container.

Because there's no longer a li

[2015-08-30 19:06] #15811 closed

[2015-08-30 19:11] thaJeztah commented on #12067
I think this is a dup of https://github.com/docker/docker/issues/10066 (and others). Links will be replaced by the new networking system, which can currently be found in the experimental builds, and offer far more flexibility. "services" will replace the existing "links" (also see https://github.com/docker/docker/issues/10066#issuecomment-123548512))

A detailed description of the new networking f

[2015-08-30 19:11] #12067 closed

[2015-08-30 19:16] thaJeztah commented on #14506
@stevvooe I see https://github.com/docker/docker/pull/15545 was merged; just to be sure (previous time there was confusion around "address" and "resolve"); should this one be resolved?

[2015-08-30 20:34] thaJeztah commented on #15880
Maybe this should be added to the https://docs.docker.com/extend/plugin_api/ docs, so that plugin developers know that `/var/lib/docker/` should not be used.

[2015-08-30 21:04] thaJeztah commented on #15651
ping @jfrazelle @tianon https://github.com/docker/docker/issues/15651#issuecomment-134401655 thanks!

[2015-08-30 21:07] piotrminkina commented on #15938
I know about this functionality, but this works outside container, not internal. Some services, like Postfix MTA can only log to Syslog and nothing other, so they required `/dev/log` to works fine.

Thanks for reply.

[2015-08-30 21:30] thaJeztah commented on #15938
Have you thought of using a (bind-mounted) volume for `/dev/log`?

[2015-08-30 21:34] thaJeztah commented on #15859
@andybalaam could you explain what's you think is missing in the example/docs provided here; https://docs.docker.com/articles/systemd/#custom-docker-daemon-options. I think that example describes how to override the ExecCommand

[2015-08-30 21:42] thaJeztah commented on #15874
@redlockio can you keep us posted when you had the time to test this locally? Thanks!

[2015-08-30 21:46] thaJeztah commented on #14856
@mrjana looks like there are some issues reported with `--userland-proxy=false`; https://github.com/docker/docker/issues/15840 (think there was another one, will add if I remember which one)

[2015-08-30 21:54] thaJeztah commented on #8693
@unixist can you try if that newer kernel resolves it for you?

[2015-08-30 22:14] thaJeztah commented on #15828
Afaik, this is a limitation of the VirtualBox shares used by Boot2Docker to share host directories with the Boot2Docker virtual machine. More information (and some workarounds) can be found here; https://github.com/boot2docker/boot2docker/issues/581#issuecomment-60314129

I'm going to close this issue, because it's not a bug, but feel free to comment here after I've closed this issue.

[2015-08-30 22:14] #15828 closed

[2015-08-30 22:26] piotrminkina commented on #15938
Yes, I thought about it. I don't want bind host `/dev/log` for various reasons (e.g. security and control). I think the best for me is simple install busybox in container and run it in background with parameters like`/bin/busybox syslogd -nSO /proc/1/fd/1`. In this case services that require `/dev/log` now log messages to stdout of main process. Thanks to this solution `docker logs` display logs f

[2015-08-30 22:44] thaJeztah commented on #15938
If the container itself creates a socket in that location, you could use any location as a volume (or just `-v /dev/log` to not *bind-mount* a container)

Something like this may be useful information; https://jpetazzo.github.io/2014/08/24/syslog-docker/

[2015-08-30 22:50] charleswhchan opened #15939 "[DOC] "Dockerizing MongoDB" - Dockerfile not found"
Going thru the "Dockerizing MongoDB" documentation: https://docs.docker.com/examples/mongodb/

The link https://docs.docker.com/examples/mongodb/Dockerfile leads to a "404" page not found, even though the file is found under [/examples/mongodb/Dockerfile](https://github.com/docker/docker/tree/master/docs/examples/mongodb) in the Git repo.

Perhaps the file is not uploaded to the web server, or is

[2015-08-30 22:50] GordonTheTurtle commented on #15939
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-30 23:31] isuftin commented on #13533
@sgrimee Very good. This works as of Docker 1.7

[2015-08-30 23:34] phobologic commented on #13914
So I think I've found at least partially what is causing this, though not what is causing what is causing this.  It looks like the issue has to do with poor old NAT rules not being removed in some case.  My current guess is that it's when the docker daemon is restarted, though I haven't yet been able to verify that.

Anyway, I downgraded my docker to docker 1.7.1 (which was not super simple with u

[2015-08-30 23:35] duane opened #15940 "Docker Account Confirmation difficulties"
1. Sign up for account.
2. Ignore email confirmation.
3. Find it impossible to log in or send another email confirmation after initial one expires.

Result: account is impossible to access, but username and email are still reserved.

[2015-08-30 23:35] GordonTheTurtle commented on #15940
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-31 00:53] SvenDowideit commented on #15939
I suspect the best thing to do, is to change the URL to point to the github repo version of these files.

we used to publish them with the docs, but I'm not sure that there's a strong benefit to it anymore.

@moxiegirl @thaJeztah

[2015-08-31 01:42] jmzwcn commented on #13005
Great.

[2015-08-31 02:08] resouer commented on #15936
@phemmer @thaJeztah so, any work around for now?

[2015-08-31 02:30] SvenDowideit opened #15941 "`docker login` on windows hangs."
[code]

using the standard MSYS-git bash shell.

there is nothing in the docker daemon log.

to get out of the `login:` prompt, you need to kill the client process.

[2015-08-31 02:30] GordonTheTurtle commented on #15941
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-31 02:47] moxiegirl commented on #15765
@thaJeztah I'm leery about adding "regular versus advanced install" --- our installation is pretty simple. Getting a production instance ready takes thought. How about open a PR for "Setting up a production instance with Docker" --- so we can reduce the discussion on this thread.

[2015-08-31 02:49] moxiegirl commented on #15939
@charleswhchan thanks for the contribution. I tend to agree with @SvenDowideit  think it makes sense to point to the github repo --- why publish in two places?

[2015-08-31 02:57] apporc commented on #15679
Do you still have this problem now, or find a way to solve this?
I am using latest chromiumos, with kernel 3.18 and docker 1.7.1, same error.

[2015-08-31 04:06] charleswhchan commented on #15939
Sounds good to me. :smiley:

#dibs

[2015-08-31 04:58] piotrminkina commented on #15938
Interesting solution, but it have some drawbacks :) If I want one syslog per container then I must create one syslog container per service container. I think this solution is harder to maintain. Thanks to one syslog per service container I can configure syslog with my own standard syslog tag naming, e.g. `container/postfix`, `container/postgresql` etc. and I can do this with `--log-opt syslog-tag`

[2015-08-31 05:03] michaeljs1990 commented on #14339
Same issue as everyone above.

- Docker toolbox / boot2docker
- Mac
- using tmp directory

[2015-08-31 05:25] mountkin commented on #15341
@mavenugo I suspect the root cause is related to network namespace.
Perhaps the network namespace got messy and "polluted" the main goroutine in particular conditions.
A good news is that I can consistently reproduce the problem by this script:  https://gist.github.com/mountkin/f2486223473965c440e6

Maybe #14738  #15855 #13931 #14464, or potentially #10218  are all caused by the same reason (just

[2015-08-31 05:58] webtoed commented on #15712
same with 5.0.3

[2015-08-31 06:15] phobologic commented on #14026
So, I had this bite me again today.  I was able to dig in some more.  Here's some background for what happens on my servers:

1. I build an AMI using ansible that installs most of my non-server specific software. This includes the docker ubuntu package, which comes with startup scripts.
2. When I boot various servers, I check to see if there is a drive mounted @ /dev/xvdh. If there is, that is ass

[2015-08-31 06:48] Ummon-Esox-ME commented on #15905
After some digging into kernel logs, I'm confused.
On 29 August, 4:00:01 Docker was killed again:
[code]
How can I give further information to help pinpoint this issue?
Thank you.

[2015-08-31 07:35] #15875 closed

[2015-08-31 08:01] thaJeztah commented on #14339
VBoxManage sharedfolder add boot2docker-vm --name "Shared" --hostpath "folderInSystem"
and mount it inside boot2docker.

ping @ehazlett @tianon I'm not too familiar with the boot2docker sharing; given the above comment, the user has manually added an extra share, but docker doesn't seem to pick that up; any ideas?

[2015-08-31 08:24] liyaka commented on #7336
+1

[2015-08-31 08:24] GordonTheTurtle commented on #7336
*USER POLL*

*The best way to get notified when there are changes in this discussion is by clicking the Subscribe button in the top right.*

The people listed below have appreciated your meaningfull discussion with a random +1:

@yuvalbar
@joho
@jarus
@themethod
@pocman
@clkao
@ramiamar
@jconlon
@gondor
@franklinkim
@smebberson
@davidmarquis
@nicocesar
@liyaka
@MatthewDiamant
@iadknet
@justin8
@pa

[2015-08-31 08:32] stratosgear commented on #13914
Just wanted to say bravo for such deep investigative work and acknowledge the effort you put into that...!

[2015-08-31 08:36] justin8 commented on #7336
Maybe after 13 months with no word from devs people might think showing their interest in such a feature might get some recognition? Many feature requests for docker seem to go totally ignored; not even so much as a "we've thought about this and made it low priority" from someone on the project.

And then the first 'official' response is from a joke account pointing out that people want a feature

[2015-08-31 08:45] vdemeester commented on #7336
@justin8 see https://github.com/docker/docker/pull/15624#issuecomment-131951293. I'm quoting :

There is work to do before doing this, and it's kinda a design decision to make. Pushing multiple image is still possible using a for loop in a bash script (or in the api consumer) — this is nice to have but I think it's definitely not a blocker though..

So yeah, I think it's low priority for now.

[2015-08-31 09:13] bartmeuris opened #15942 "Killed container still appeared to be running"
Description of problem:

I run my irc client inside docker, and use it with docker attach. This morning when I ran the script, which should have attached the container, it hanged and didn't respond to Ctrl-L to refresh the display, and had to kill the docker client from another console. When doing a `docker ps`, it showed that the container was "Up 5 weeks" and had been created "5 weeks ago". Kill

[2015-08-31 09:13] GordonTheTurtle commented on #15942
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-31 09:20] rvillars commented on #15264
Are you really sure this is fixed with 1.8? I got exactly the same error with docker 1.8.1. Here the log of the daemon:

[code]

[2015-08-31 09:26] lox commented on #7336
Hrm, could several of the +1's have been to my comment that it shouldn't be fixed though? It probably throws into question the entire methodology of @GordonTheTurtle's user poll.

[2015-08-31 10:01] xuxinkun commented on #10324
Does any one need --net option?
I think it is necessary for docker build to add it. Because in some case, I want to choose the net during docker build.

[2015-08-31 10:07] justin8 commented on #7336
@vdemeester  that's a comment on an entirely different issue. Should people be expected to read all the comments on all 954 open issues? Or perhaps all 7,000 issues and 8,800 merge requests?

Thanks for the info though.

[2015-08-31 10:37] Pensu opened #15944 "Proposal: A place to provide contribution statistics"
Hi,

So, I am thinking that we should have a project where we can store/present contribution statistics, like how many contribution did a developer make, and the number of contributions in a particular release etc. Something like http://stackalytics.com/. Any thoughts?

[2015-08-31 10:41] ChrisPearce commented on #13922
It would be very helpful if the internal ip 172.17.42.1 was included in the server cert

[2015-08-31 10:44] Snorch commented on #15813
That was a problem with local network proxy, as after cache for archive.ubuntu.com was dropped all worked well.

[2015-08-31 10:44] #15813 closed

[2015-08-31 10:46] vdemeester commented on #7336
@justin8 note that it's a comment on a pull-request referencing this issue (and appears just on top of the @GordonTheTurtle message even), so people subscribing the issue and that have comment, have been notified of this PR. But yeah, it doesn't cost much to put a comment here too :wink:.

[2015-08-31 10:49] thaJeztah commented on #15813
thanks for reporting back!

[2015-08-31 10:50] sciakysystem opened #15945 "Docker's iptables=false option does not have the desired behavior"
I am running Ubuntu 14.04 server and Docker 1.8.1 and UFW is my front-end to manage iptables.

I need to run a P2P app inside a container. Assuming that i do want to connect only to 2 P2P servers, i need to set docker networking manually, in order to deny outgoing traffic to all and then allow outgoing traffic to the 2 machines i want to connect to.

Since I do not want that docker manages my ipta

[2015-08-31 10:50] GordonTheTurtle commented on #15945
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-31 11:37] phemmer commented on #15905
Can you provide the output of `dmesg`? That's not `dmesg`, that looks like the output of `/var/log/messages` or `/var/log/syslog`.

[2015-08-31 11:41] fmoliveira commented on #15765
@moxiegirl I agree about not adding advanced stuff to the current install, I think the idea above was only to add a reference link to let the user know that advanced configuration is needed for a production environment, and not to grow the current installer. The easy install is just perfect for everyone getting started to Docker and I agree it should remain like this. I also agree that the discuss

[2015-08-31 11:47] phemmer commented on #15945
can you provide the output of `iptables -nvL` and `iptables -t nat -nvL`?

[2015-08-31 12:08] sciakysystem commented on #15945
Of course.

**Command:** `sudo iptables -nvL`
**Output:**
[code]

**Command:** `sudo iptables -t nat -nvL`
**Output:**
[code]

[2015-08-31 12:16] thaJeztah opened #15946 "Docs: add "Advanced install" / "Setting up Docker for production" section"
We currently have https://get.docker.com to get users up and running in "no" time, so that they can play around with Docker. Let's call it "express install".

For Linux, this is https://get.docker.com, for Windows and Mac users, we have Docker Toolbox, which (to me) fall in the same category; get users started quickly.

However, the "express install" is in many cases _not_ suitable for production;

[2015-08-31 12:16] GordonTheTurtle commented on #15946
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-31 12:30] mavenugo commented on #15341
@mountkin thanks a lot for your help. yes, we identified the root-cause last week & your guess of polluted goroutine is correct. @mrjana is working on a proper fix for this. Its quite possible that all of the PRs that you referenced and more here are related.

[2015-08-31 12:36] thaJeztah commented on #15765
@moxiegirl @fmoliveira created issue https://github.com/docker/docker/issues/15946 for "advanced" install.

WRT the installer; Assisting users with getting Docker installed (if we're unable to detect) is a good goal, I'm just a bit worried if the end-result will be a properly configured installation, or a (partially) broken one.

For example, will `aufs` be installed properly, or will we (silently

[2015-08-31 12:48] philicious opened #15947 "Docker apt repository only having one version"
With the old repository we had package "lxc-docker" pointing to latest greatest version and "lxc-docker-1.6.0" etc for specific version.
With the new repo there is only one package "docker-engine" in the "Packages" file, pointing to 1.8.1 although more versions do exist ( http://apt.dockerproject.org/repo/pool/main/d/docker-engine/ )

For automatic use of this repo, like with Chef/Puppet, it is qu

[2015-08-31 12:48] GordonTheTurtle commented on #15947
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-31 13:04] aanm opened #15948 "Docker fails to create iptables rules?"
I've installed docker with the get.docker.com script on fedora 22 and I have these messages under journalctl:
[code]

[code]

[2015-08-31 13:04] GordonTheTurtle commented on #15948
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-31 13:19] harmw opened #15949 "timeouts pulling from official registry"
Hi,

Probably since upgrading to 1.8.1 (plus, I'm currently checking out 1.9.0-dev) I'm having a hard time pulling images.

This image is obviously non-existent, but the timing here shows the issue: The pull starts, trying the v2 registry and after a considerable amount of time it errors and pulls from the v1 registry - there it fails right away, as it should.

Some strace output, didn't find anyt

[2015-08-31 13:19] GordonTheTurtle commented on #15949
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-31 13:22] Tenk42 commented on #15876
Hello @sallyom, tell me when we can coordinate on irc. Was in the channel this afternoon but i have to leave it soon for today.

[2015-08-31 13:24] sroze commented on #7554
I'm experiencing the same strange issue. @fermayo how did you solve it ?

[2015-08-31 13:24] phemmer commented on #15945
Your `FORWARD` chain (and all chains referenced from the `FORWARD` policy) are set to `ACCEPT`. If you want to block docker traffic (when not using `--net=host`), you nave to put a rule in your `FORWARD` chain to block the traffic.

[2015-08-31 13:36] cpuguy83 commented on #15947
Closing as a dup of #13191

[2015-08-31 13:36] #15947 closed

[2015-08-31 13:51] mantas-sidlauskas opened #15950 "get.uber.com cert issue?"
wget https://get.docker.com/ubuntu/dists/docker/Release
    --2015-08-31 13:43:05--  https://get.docker.com/ubuntu/dists/docker/Release
    Resolving get.docker.com (get.docker.com)... 54.230.33.106, 216.137.39.59, 216.137.39.151, ...
    Connecting to get.docker.com (get.docker.com)|54.230.33.106|:443... connected.
    OpenSSL: error:14077410:SSL routines:SSL23_GET_SERVER_HELLO:sslv3 alert handsh

[2015-08-31 13:51] GordonTheTurtle commented on #15950
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-31 14:20] thaJeztah commented on #15876
@Tenk42 in case it helps; all contributors sign off their commits, which contains an email address; follow this link; https://github.com/docker/docker/pull/14012/commits

And view the commit message :innocent:

[2015-08-31 14:31] Ummon-Esox-ME commented on #15905
The previous output was from kern.log.

dmesg output before the issue:
[code]

As you can see, no info ("hpet1: lost 1 rtc interrupts" is not involved in this issue I think).
I'm completely lost.

[2015-08-31 14:42] thaJeztah commented on #15944
ping @icecrime might be something you're interested in?

[2015-08-31 14:48] itzg commented on #12823
With debugs enabled on the daemon, I can now see it is failing with a cert mismatch type of error and repeats every few seconds:

[code]

even with `/etc/ssl/certs/ca-certificates.crt` updated with my company's proxy certs. It's acting as if the OS' intermediate CAs are not utilized like before.

[2015-08-31 14:49] cnaize commented on #3285
Hello!
What about progress in this issue?
Can I help to implement this?

[2015-08-31 14:51] cpuguy83 commented on #3285
There is an implementation here: #15078

[2015-08-31 14:52] cpuguy83 commented on #15947
No worries, GH search is awful.

Btw, what should actually happen here is you specify the version like so: `docker-engine=x.y.z-0~trusty`.

[2015-08-31 14:57] cpuguy83 commented on #15891
No, this has to do with the error logs in the daemon that #15646 generates.

[2015-08-31 14:57] aanm opened #15951 "docker freezes/blocks after interrupting a pulling"
Docker server seems to block on the 2nd and consequential tries if I interrupt a pull with a CTRL+C at the first time.

Example:
[code]
That behavior seems to affect only the current repository that was first interrupt, if I try to run `docker pull hello-world` it happens without any error and without me having to restart the service.

[code]

[2015-08-31 14:57] GordonTheTurtle commented on #15951
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-31 14:58] cpuguy83 commented on #15951
This was a known bug in 1.8.x
It is fixed by #15646

Thanks for the report!

[2015-08-31 14:58] #15951 closed

[2015-08-31 14:59] SaiOngole commented on #15582
Each time I am doing a pull, there are two processes that are kicked off.
<img width="671" alt="screen shot 2015-08-31 at 10 54 13 am" src="https://cloud.githubusercontent.com/assets/6708858/9581644/a722e456-4fce-11e5-91de-f784b9751744.png">

This is the output of ps aux | grep docker

<img width="735" alt="screen shot 2015-08-31 at 10 55 04 am" src="https://cloud.githubusercontent.com/assets/6708

[2015-08-31 15:03] jfrazelle opened #15952 "regression: docker rename"
Unsure if this is only on master or not:

steps to reproduce:
[code]
ping @mrjana @mavenugo

[2015-08-31 15:03] GordonTheTurtle commented on #15952
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-31 15:04] Evalle commented on #15950
Hello @mantas-sidlauskas it seems like the name of the issue should be "get.**docker**.com cert issue? :)

BTW it works fine for me:
[code]

[2015-08-31 15:05] jfrazelle commented on #15952
I'm testing 1.8.1 now to make sure this does not need to be in 1.8.2

[2015-08-31 15:14] thaJeztah commented on #15938
ping @ewindisch you introduced this change in https://github.com/docker/docker/pull/13669, any thoughts on this?

[2015-08-31 15:17] perpen commented on #15679
@apporc still the same. I switched to beta channel to see if it would make a difference, it didn't.
Did you have docker running with a previous version of Chromium OS?

[2015-08-31 15:21] jfrazelle commented on #15952
yes this needs to be in 1.8.2, ping @calavera @icecrime so they are aware

[2015-08-31 15:27] jfrazelle commented on #15952
considering i was the first person to notice the regression and its been broken since 1.7.0 when we merged libnetwork, no one must use this feature /o\

[2015-08-31 15:28] jfrazelle commented on #15952
let's remember to point to this, when people are mad we don't merge their features ;)

[2015-08-31 15:30] chenchun commented on #15952
:laughing:

[2015-08-31 15:34] mavenugo commented on #15952
:) @jfrazelle this is a dupe of https://github.com/docker/docker/issues/15727. Reported 11 days ago. Calls for a regression test for renaming. Being a dupe, I will close this.

[2015-08-31 15:34] #15952 closed

[2015-08-31 15:34] jfrazelle commented on #15952
ah cool! omg so glad not the first thasnk!

[2015-08-31 15:37] mavenugo commented on #15952
almost the first ... your point on feature addition still holds... still a big lead time between 1.7.0 and {1.8.2.RC1 - 11 days}.

[2015-08-31 15:39] dmcgowan commented on #14506
#15545 "resolved" this, closing

[2015-08-31 15:39] #14506 closed

[2015-08-31 16:25] mlehner616 commented on #7336
I think the intention of this ticket was to offer a possible solution to the underlying issue which is that docker much recheck every layer multiple times. Issue #12489 better describes what the problem is with the lack of this. Let's close this one and move the discussion to #12489. I'm in favor of pushing this back until later as it isn't as important as others and a workaround does exist (at th

[2015-08-31 16:25] sciakysystem commented on #15945
What a s***d.. you are right. Setting `DEFAULT_FORWARD_POLICY=DROP` allows we to generally block both incoming and outgoing traffic.
Then, this UFW command does the trick:
`sudo ufw route allow in on docker0 out on eth0 to <dest ip address> port <dest port> proto tcp` for every (outgoing) port i need to open.

Thank you and sorry for post something that is not an issue.

[2015-08-31 16:25] #15945 closed

[2015-08-31 16:27] ava-dylang commented on #7198
Saying anything on these threads subscribes a user automatically, so yes all those people are subscribed unless they've additionally, intentionally unsubscribed.

[2015-08-31 16:29] calavera commented on #15880
yeah, this is a breaking change that we should make sure we communicate very clearly. Now I need to fix all my volume plugins! :imp:

[2015-08-31 16:32] bastula commented on #13741
I just ran into this today as well. The double slash fixed it.
The docs (https://docs.docker.com/userguide/dockerizing/) should have an alternate command for Windows, especially if msys-git is being bundled with the Docker Toolbox.

[2015-08-31 16:37] #8385 closed

[2015-08-31 16:49] ybalt opened #15956 "Unsupported content file"
Just updated from 1.7.1 to 1.8.0

curl -XGET 'http://127.0.0.1:2375/version'

{"Version":"1.8.1","ApiVersion":"1.20","GitCommit":"d12ea79","GoVersion":"go1.4.2","Os":"linux","Arch":"amd64","KernelVersion":"3.16.0-4-amd64","BuildTime":"Thu Aug 13 02:20:14 UTC 2015"}

curl -XGET 'http://127.0.0.1:2375/info'

{"ID":"KF3S:J2QG:OP6T:JZ2P:CQWT:5P5V:EXWG:IKHX:2AX3:WWN5:322O:53L6","Containers":1,"Images":

[2015-08-31 16:49] GordonTheTurtle commented on #15956
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-31 17:00] thaJeztah commented on #15950
I'm gonna close this issue, because this is not a bug in Docker, but I think the comment above should help you resolve your problem (thanks @Evalle!).

Thanks for taking the time to report this, though; it's appreciated :+1:

[2015-08-31 17:00] #15950 closed

[2015-08-31 17:04] ibuildthecloud commented on #15056
Closing, because time made this discussion irrelevant, sigh.

[2015-08-31 17:04] #15056 closed

[2015-08-31 17:16] itzg commented on #12823
Something might have changed with Ubuntu 14.04.3 itself. After discovering `wget` wasn't handling https either, I noticed the `update-ca-certificates` mention the CA bundle was compiled from `/usr/local/share/ca-certificates`.

So I put my PEM files in that directory, renamed their suffix to ".crt", and re-ran update-ca-certificates. Now I am run/pull images from the public registry.

[2015-08-31 17:18] icecrime commented on #15944
That's definitely something I'd like us to have.

I'm (slowly) working on some dashboards internally, but I'm not sure I will be able to share them as they are. However, I'll have the data, so we should be able to build some sort of dashboard, probably less fancy that stackalytics is though!

[2015-08-31 17:22] duglin commented on #15944
+1 a stackalytics version of Docker would be great!

[2015-08-31 17:35] tranceitionalMynd opened #15959 "Docker build should support chattr"
I want to chattr custom /bin/uname and /bin/arch files and make sure they don't get replaced later by setting the immutable flag on them during the build step.  Currently, I think this can only be done by using "docker run --privileged" which would be hacky to do as part of my image build process.

docker version
Client version: 1.6.2
Client API version: 1.18
Go version (client): go1.4.2
Git commi

[2015-08-31 17:35] GordonTheTurtle commented on #15959
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-31 17:43] shoshi opened #15960 "Bug installing Docker on Mac OS 10.8.5"
Steps to reproduce:

1. Download the latest available version from: https://www.docker.com/toolbox. `DockerToolbox-1.8.1c.pkg`
2. Launch the installer.
3. Click "Continue".
![screen shot 2015-08-31 at 1 35 19 pm](https://cloud.githubusercontent.com/assets/171493/9585494/55ce47dc-4fe5-11e5-8ecc-b00f5e06dd21.png)
4. Get to the Introduction step and click "Continue" again.
![screen shot 2015-08-31 at

[2015-08-31 17:43] GordonTheTurtle commented on #15960
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-31 18:02] eleweek commented on #13670
I just had a similar problem on OS X with boot2docker, docker-machine 0.4.0 and docker 1.8.1. It seems that restarting the boot2docker VM helped.

My filepath didn't include any numbers though, and the issue was with a single specific filepath, but it seems like it may be related to this issue. After spending a couple of hours on this, I wasn't able to exactly pinpoint why it was happenning(not wa

[2015-08-31 18:04] cpuguy83 commented on #5684
@trompx devicemapper with udev sync disabled is not going to work.
It is part of the reason we now offer dynamic binaries (which fixes the sync issue) instead of a static binary.
I would recommend replacing your repos from get.docker.com (and the lxc-docker package) with the apt.dockerproject.org repo (and docker-engine package).
See http://blog.docker.com/2015/07/new-apt-and-yum-repos/ for more d

[2015-08-31 18:06] mimiyan commented on #9665
Has anybody read  http://blog.hashbangbash.com/2014/11/docker-devicemapper-fix-for-device-or-resource-busy-ebusy/?   That blog says the issue is about mount name space.

I followed the instructions and avoid "aufs error" by modifing  /etc/init/docker.conf.
Replace
         exec "$DOCKER" -d $DOCKER_OPTS
with
       exec /bin/sh -c "unshare -m $DOCKER – -d $DOCKER_OPTS".

If  "aufs ...resouce busy

[2015-08-31 18:07] fntlnz commented on #15960
This is not a docker related issue, you should open it on the  [docker/toolbox](https://github.com/docker/toolbox) project

[2015-08-31 18:10] cpuguy83 commented on #5684
There is also a new(ish) container state called "dead", which is set when there were issues removing the container. This is of course a work around for this particular issue, which lets you go and investigate why there is the `device or resource busy` error (probably a race condition), in which case you can attempt to remove again, or attempt to manually fix (e.g. unmount any left-over mounts, and

[2015-08-31 18:31] ramonsnir commented on #10324
@xuxinkun +1

I just reached a few hours ago a situation where I need to explicitly set the `--net` option during build time. Do you know of any workaround?

[2015-08-31 18:39] phobologic commented on #13914
So I just realized that we have been running docker `1.7.0` in staging/production. I went ahead and rolled back to that in my test environment and have been repeatedly terminating instances (and letting AWS Autoscaling bring up new ones in their place) and I haven't seen this issue since.  I've got about 6 rebuilds under my belt now with this, so it seems like this may have been introduced in `1.7

[2015-08-31 18:52] luebken commented on #7247
@jfrazelle Do you have a pointer for us where we can discuss the decision of freezing the Dockerfile syntax?

[2015-08-31 18:54] cpuguy83 commented on #9665
@mimiyan Unfortunately this is a bit of a hack and breaks certain things.

For instance, if you start docker via `unshare -m` and then subsequently mount a new filesystem on the host, then try to `docker run -v /path/to/new/fs:/foo`, it will fail since Docker won't see that mount.

I've also seen AUFS run really well and then on another machine just not work at all (for instance, on two identical

[2015-08-31 19:18] gdm85 commented on #15890
See also #7003; in [this tool I wrote](https://github.com/gdm85/docker-fw) I always remove that rule on startup (and have a dedicated ``init`` command for that), it doesn't bother me more than that as I consider it an established Docker default

[2015-08-31 20:14] weivall commented on #15713
I have exactly the same issue

[2015-08-31 20:26] tianon commented on #14339
You have to mount additional shares manually (or via `bootlocal.sh`/`bootsync.sh`), or they will not be available inside the VM.

[2015-08-31 20:36] tianon commented on #15651
https://github.com/docker/docker/blob/166412e529b3d2d49456fb27c117fa714d7aec16/contrib/builder/deb/generate.sh#L66-L73 has the relevant comments for why those are there:

The packages in Ubuntu 12.04 are too old to properly support compiling Docker with support for either `devicemapper` or `btrfs`, but with how old 12.04 is now (and especially with how old the kernels there are), using `btrfs` is

[2015-08-31 20:45] shoshi commented on #15960
Thanks for the info! I'll close this ticket in favor of: https://github.com/docker/toolbox/issues/134 .

[2015-08-31 20:45] #15960 closed

[2015-08-31 20:48] jjaquinta opened #15962 "Parse error breaks docker run -v functionality"
BUG REPORT INFORMATION

## List the steps to reproduce the issue:
### 1. Validate that you can run a simple bash shell, logout.

### 2. Validate you have a complete path to a valid directory.

### 3. Try to run bash mounting that directory as volume /Documents according to syntax defined in Managing Data In Containers/Adding a Data Volume (https://docs.docker.com/userguide/dockervolumes/)

## Desc

[2015-08-31 20:57] everett-toews commented on #11486
+1

[2015-08-31 20:57] GordonTheTurtle commented on #11486
*USER POLL*

*The best way to get notified when there are changes in this discussion is by clicking the Subscribe button in the top right.*

The people listed below have appreciated your meaningfull discussion with a random +1:

@uzyexe
@anthonymoralez
@JakeStoeffler
@everett-toews
@Starefossen
@xueshanf

[2015-08-31 20:59] dustinlacewell commented on #13454
Also feeling the pain from this when trying to iterate with an image that only needs to push the last of about 30 layers on 1.8.1

[2015-08-31 21:00] ahmetalpbalkan commented on #11486
@GordonTheTurtle wrong list. there are more +1s above.

[2015-08-31 21:01] CpuID commented on #15759
As per my comment above (ref to https://github.com/docker/distribution/issues/884), I suspect it could be related to https://github.com/docker/docker/blob/master/graph/registry.go#L67-L70 not erroring on a 401.

[2015-08-31 21:37] dnephin commented on #11486
We recently added `COMPOSE_API_VERSION` to docker-compose (https://github.com/docker/compose/pull/1780) which does the same thing. It's been really useful.

[2015-08-31 21:42] duglin commented on #11486
#dibs

[2015-08-31 21:47] duglin commented on #11486
here ya go: #15964

[2015-08-31 21:55] robmint commented on #15962
I am having this exact same problem - serious breakage!

[2015-08-31 22:03] mrichard commented on #13178
just curious if this is in 1.8.1?

[2015-08-31 22:17] ahmetalpbalkan commented on #11486
lol didn't realize I should just do it, I was waiting for some approval @duglin thanks for taking this up.

[2015-08-31 22:20] thaJeztah commented on #11486
@ahmetalpbalkan PRs usually work best (if you're willing to take the risk of it being rejected)...the maintainers are keen on getting the number of open PRs down :wink: :innocent: 🙊

[2015-08-31 22:25] mrjana commented on #15341
@BenHall @bprodoehl @gregarndt and anybody else who is seeing this issue if you can try out the docker binary found below and give feedback that will be immensely helpful. The following binary has a fix which we were able to verify as fixing the issue locally but would like additional feedback.

https://www.dropbox.com/s/nu4eqs5g6p6ho4k/docker?dl=0

[2015-08-31 22:40] bprodoehl commented on #15341
@mrjana that's great news!  I have a few servers that I'll load it on tonight.

[2015-09-01 00:01] colemickens commented on #15785
Any suggestions for workarounds besides downgrading docker?

[2015-09-01 00:06] marcosnils commented on #15785
@colemickens the description on the issue gives a workaround by adding `sudo` to the `docker build` command.

[2015-09-01 00:17] dalanlan commented on #9665
Oh, nice, that' why "Dead" shows up, which i was wondering recently.
I believe this should be nice doc(ed), if it has not been, 'cause it's somewhat confusing.

[2015-09-01 00:29] darconeous commented on #13481
I fail to understand why IPv6 can't work exactly the same way that it works for IPv4: You assign a private prefix (`FD00::DEAD::BEEF/64`, for example) to the docker interface and give each container an address with this prefix. You then use NAT for getting packets in-to and out-of the container.

This doesn't preclude you from giving public IPv6 addresses to your containers if that is really what

[2015-09-01 00:38] avelinos commented on #12469
I'm seeing this now with DockerTools 1.8.1c.  It did not happen with 1.8.1b.

I was able to reproduce it with:
[code]

[2015-09-01 01:03] vmadman commented on #12087
Strange choice to close the issue, I think.  Several people reported the same problem and its happening for me as well.  I don't want to step on any toes, you guys are great, but its a strange approach to issue management, I think.  In the software I build.. I assume that any problem is the software's problem.. even if the OP is the only person who EVER sees this issue.. Docker should still detect

[2015-09-01 01:06] vmadman commented on #12087
[code]

[2015-09-01 01:08] jrabbit commented on #15858
I've had this on 1.6.2 and 1.8

[2015-09-01 02:10] duglin commented on #15858
@jfchevrette I think I know why this is happening.
You have `COPY files/* /test/` which expands to `COPY files/dir files/file1 files/file2 files/file /test/`. If you split this up into individual COPY commands (e.g. `COPY files/dir /test/`) you'll see that (for better or worse) COPY will copy the contents of each arg dir into the destination dir.  Not the arg dir itself, but the contents. If you a

[2015-09-01 02:13] peter-edge opened #15968 "What's up with experimental builds?"
I may be completely missing something, so feel free to make fun of me incessantly, but the website says there's new builds every day and the last one was on August 26th according to https://apt.dockerproject.org/repo/, is something going on?

[2015-09-01 02:13] GordonTheTurtle commented on #15968
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-01 02:17] xuxinkun commented on #10324
@ramonsnir
I did not find a good way. Maybe the only way is to add `--net` option for `build`. I am coding on it. Later, I will try to make a pull request,

[2015-09-01 02:20] dnephin commented on #6354
+kind/bug
+system/storage (I think)

[2015-09-01 02:27] apporc commented on #15679
@perpen no, in fact i am porting docker to chromium os on my local branch. the code is from current master branch of upstream. After all i have done, the dev image built for amd64 with docker builtin, can autostart. "docker info/version" all ok, but when i was trying to start a container, the error happened. Do you know from which version on, the error begin to show?

[2015-09-01 02:50] dalanlan commented on #6354
/cc @dalanlan

[2015-09-01 03:19] bprodoehl commented on #15968
You can find more recent builds here: https://master.dockerproject.org/

[2015-09-01 03:34] cfpeng commented on #13381
After I reinstall the OS, the problem is resolved.

[2015-09-01 04:39] cliffom commented on #12469
Same here: Windows 10 with Docker Toolbox 1.8.1c which uses Git 2.5.

[2015-09-01 05:08] baobeimm commented on #8539
+1 we just hit it with 1.7.0

[2015-09-01 05:08] ahmetalpbalkan commented on #12469
Folks this never worked on Cygwin. I doubt if it suddenly showed up in 1.8.1c. Can you please reinstall 1.8.1b and verify that was working?

[2015-09-01 05:40] avelinos commented on #12469
My apologies.  It's not with Cygwin.  I'm seeing it with the new MINGW64 that's installed with 1.8.1c.  1.8.1b works and it's using MINGW32.  I'll open up a separate bug in DockerTools against 1.8.1c.

[2015-09-01 07:00] Ummon-Esox-ME commented on #15905
On the last kill, I get this on the last dmesg lines but happened almost 6 hourse befor the Docker kill:
[code]

[2015-09-01 07:18] cintiadr commented on #13463
I had the same problem. Using 1.7.1 version, installed from [get-docker](https://get.docker.com/) script, using a pretty vanilla basebox in vagrant ([nrel/CentOS-6.6-x86_64](https://atlas.hashicorp.com/nrel/boxes/CentOS-6.6-x86_64/versions/1.0.0)).

One docker container could not contact the other, even if I linked them.

Here's the generated iptable in centos:
[code]

For reference, the iptables

[2015-09-01 08:08] xlgao-zju commented on #15962
I think if you want to mount the host directory /c/Users/IBM_ADMIN/Documents into the container as the point /Documents, you should use
     $ docker run -i -t -v /Documents:/c/Users/IBM_ADMIN/Documents:/Documents ubuntu:latest bash

[2015-09-01 08:28] mbn18 commented on #14396
@rhatdan , What do you mean by updating karma?

[2015-09-01 08:30] tsuna commented on #13250
I'm not pushing particularly large images (~1GB ± 0.5GB) but I also noticed that the `buffering to Disk` phase is heavily CPU bound at first.  Then comes the disk I/O and network I/O.  But the docker daemon is pegging a single core for a while, and that seems to be taking most of the time.

[2015-09-01 08:38] Soulou commented on #15897
I'll update the servers, if you've no news in the following month, it should be ok :)

[2015-09-01 09:02] lykhouzov opened #15971 "Looks like broken connection inside of container(s)"
Tested on
* opensuse:latest
* alpine:latest
* ubuntu:latest
* centos:latest
[code]
Similar result for other images/containers

It's not local connection issue, because i pulled images form registry.

All dists got timeout error.
[code]

Could someone help with it?

Thank you.

[2015-09-01 09:02] GordonTheTurtle commented on #15971
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-01 09:08] MJ-Lee commented on #14339
@tianon  @thaJeztah
Hello,
Yes, I already mounted it inside boot2docker vm(source code as following):
     sudo mkdir -p /shared
     sudo mount -t vboxsf -o rw,uid=1000,gid=1000 Shared /shared
and I can see the contents inside boot2docker vm.
however when I try to docker build -f (and I create a /tmp folder where to create Dockerfile)
I got the issue:
unable to prepare context: The Dockerfile (/x

[2015-09-01 09:26] sw1sh commented on #15341
@mrjana I've tried it, got `panic: failed to set to host namespace: invalid argument`. Here is the full output:
https://gist.github.com/sw1sh/ffacbf8d9f5bc68dd27f

[2015-09-01 09:27] #15971 closed

[2015-09-01 09:33] bprodoehl commented on #15341
@sw1sh that's odd. What version of Docker did you start with before swapping the binary?  Some things got moved out of the binary and into the distro packaging for 1.8, so I guess I'd make sure that the 1.8.1 release is running happily before trying @mrjana's new binary.  It is working well for me so far, and here's my docker info and version with the new binary:

[code]
[code]

[2015-09-01 09:38] BenHall commented on #15341
I was on 1.9-Dev and the new build replaced and launched OK (Ubuntu 14.04). Going to leave it running today and see what happens.

[2015-09-01 09:41] sw1sh commented on #15341
@bprodoehl
[code]
Then I swapped the binary and got that result.

[2015-09-01 09:54] amoalsale commented on #15968
Docker Master Binaries are built and updated with each commit to the master branch of Docker. You can download your system's binary and check out the master docs at docs.master.dockerproject.com.
https://master.dockerproject.org/

[2015-09-01 10:10] lykhouzov commented on #13381
I had same error.
restart of docker process is helped.
It looks like there were some blocked processes after packages update.

[2015-09-01 10:20] paulmenzel opened #15973 "`/sys` should be mounted readonly also in privileged containers"
When using Docker 1.6.2 and a Debian 8.1 (Jessie) image, when running a Docker container (with the capability `SYS_ADMIN` added) from it with systemd 215-17+deb8u1, `/sys` is mounted initially with read-write permissions and is only later on switched to read-only by systemd (probably by systemd-remount-fs).

[code]

[2015-09-01 10:20] GordonTheTurtle commented on #15973
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-01 10:26] maddy6063 commented on #14401
Hello Bindu,
I have same issues as your are facing. If you have successfully cleared your issues, then it would be great if you share your the steps to maddy6063@gmail.com.
thanks n advance!

[2015-09-01 10:43] thaJeztah commented on #14396
@mbn18 not a Fedora user myself, but I think he's talking about this; https://fedoraproject.org/wiki/How_to_test_updates (and https://fedoraproject.org/wiki/Fedora_Easy_Karma)

[2015-09-01 10:47] unclejack opened #15974 "provide official guidelines for the use of "docker" & logos"
Many FOSS projects have docker in their name. Someone who wishes to add support for docker to their project sometimes creates a docker-foo repository (let's call the project they've added Docker support to "foo").
This leads to a few issues:
- searching for projects which use Docker is very difficult as there are thousands of projects with docker in their name
- multiple projects with very similar

[2015-09-01 10:47] GordonTheTurtle commented on #15974
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-01 10:49] rhatdan commented on #14396
In Fedora when a package is in updates-testing, and someone tests it they can go to the website that lists the package log in and `update karma`, Basically a LGTM.  Once a package gets to 3 Karma it can be moved out of testing to release.

[2015-09-01 10:55] pauljeff commented on #14396
I'll try and test this and update karma (if I can) tonight. Cheers!

[2015-09-01 10:59] Pensu commented on #15944
@icecrime That's great. Let me know if you need any help with that!

[2015-09-01 11:04] gimoh commented on #2780
@crosbymichael my use-case for running login is recording demos of interactive TTY sessions emulating different users; ``docker run`` doesn't set the environment for everything to work (e.g. HOME, LANG, etc.), sure you can put everything in a Dockerfile but these are things the guest OS already knows how to take care of so I'd rather avoid duplicating everything in the Dockerfile

[2015-09-01 11:04] mountkin commented on #15341
@mrjana I tested your shared binary by creating and destroying 46965 containers with 20 concurrencies with the script I shared yesterday and all succeeded.  It seems that the problem is fixed.

[2015-09-01 11:09] paulmenzel commented on #15973
How does Docker mount `/sys` into a container? Does it do a bind-mount?

[2015-09-01 11:12] paulmenzel commented on #15973
### Bug Report Information

[code]

[2015-09-01 12:00] xlgao-zju commented on #15962
#dibs

[2015-09-01 12:02] chipironcin commented on #12641
+1

[2015-09-01 12:02] GordonTheTurtle commented on #12641
*USER POLL*

*The best way to get notified when there are changes in this discussion is by clicking the Subscribe button in the top right.*

The people listed below have appreciated your meaningfull discussion with a random +1:

@doctapp
@henrysher
@curtiszimmerman
@jakirkham
@dragonfax
@chipironcin

[2015-09-01 12:23] jfchevrette commented on #15858
I'm pretty confident that @duglin in right and it could be very risky to change that behavior. many dockerfiles may break or simply copy inuntended stuff.

However I'd argue that for the long run it would be better if COPY was following the way tools such as cp or rsync handle globs & trailing slashes on folders. It's definitely not expected for COPY to copy files from a subfolder matching dir/* i

[2015-09-01 12:25] duglin commented on #15858
@jfchevrette yep - first chance we get we should "fix" this.
Closing it for now since...

[2015-09-01 12:25] #15858 closed

[2015-09-01 12:36] jacoelho commented on #14634
:+1:

[2015-09-01 12:37] ubergesundheit commented on #15940
I think you should reopen this issue in the hub-beta-feedback repository https://github.com/docker/hub-beta-feedback

[2015-09-01 12:40] cpuguy83 commented on #15940
Closing since this belongs in with Hub.
Please open a ticket with https://support.docker.com or send an email to support@docker.com

Thanks! Sorry you seem to have hit a bug in the sign-up process!

[2015-09-01 12:40] #15940 closed

[2015-09-01 12:42] hootjr29 commented on #15498
looks like the systemd docker.service file is different between 1.7 and 1.8:

1.7 file contains the following [Service]:
==============================
[Service]
Type=notify
EnvironmentFile=-/etc/sysconfig/docker
EnvironmentFile=-/etc/sysconfig/docker-storage
EnvironmentFile=-/etc/sysconfig/docker-network
Environment=GOTRACEBACK=crash
ExecStart=/usr/bin/docker -d $OPTIONS \
          $DOCKER_STORA

[2015-09-01 13:01] cpuguy83 commented on #15968
Closing b/c this gets reported every other week or so... something just needs to get re-jiggered.
ping @jfrazelle

[2015-09-01 13:01] #15968 closed

[2015-09-01 13:04] rhatdan commented on #15498
Looks like you have switched from the docker package provided by Centos to the docker-engine package provided by docker.

[2015-09-01 13:07] cpuguy83 commented on #15905
So is docker being killed or is a container being killed?
It looks like a container is being oom-killed.

Also, how is #6675 occurring? What are you actually seeing here?
Need to see the actual error messages.

What is your backing filesystem? Docker can't seem to determine that.
How are you using overlay with kernel 3.10?

[2015-09-01 13:15] miminar commented on #12487
@maxamillion: your issue have been [resolved upstream](https://github.com/docker/docker/commit/71a499022904e1da074ded3e1ed874c1b75ccf23). And was backported to 1.6.2-*.el7 releases (see [bz#1209576](https://bugzilla.redhat.com/show_bug.cgi?id=1209576)). Unfortunately, it looks like it was accidentally dropped during a rebase to 1.7.
I've just opened a regression [bug #1258889](https://bugzilla.red

[2015-09-01 13:23] cpuguy83 commented on #15973
/sys is mounted ro for me except for when using `--privileged`.

[2015-09-01 13:36] bprodoehl commented on #15341
I've had it on four servers since last night, and stress-tested two, and so far no errors and no more leaked veths.  Looks good so far.

[2015-09-01 13:44] LK4D4 commented on #15973
@paulmenzel no, like `mount -t sysfs sysfs /sys`. It is indeed readonly for me too on master.

[2015-09-01 13:46] paulmenzel commented on #15973
Thank you for your answers.

What’s the reason for mounting it with read-write permissions when `--privileged` is used? That’s an unexpected side-effect.

[2015-09-01 13:46] mimiyan commented on #9665
cpuguy83 made a good point of the disadvantage of  mounting docker daemon into its private name space.  But I would rather restart docker daemon after mounting a new file system than restarting the box in order to remove those Dead containers.

I also observed I rarely saw  Dead containers when  we used net bridge.   But after the net was changed from bridge to host,  there are more dead container

[2015-09-01 13:46] Ummon-Esox-ME commented on #15905
As I wrote, is Docker Daemon being killed. I posted last lines of dmesg BEFORE Docker dies but I was aware that probably there's no connection with the oomkiller (I tried to give more informations I can).

#6675 is occurring after a docker kill sometimes with
[code]
so I need to remove and recreate containers.

Backing filesystem is xfs (I read that simply Docker cannot guess the fs type but no is

[2015-09-01 13:47] mavenugo commented on #15341
Thanks @bprodoehl @mountkin @BenHall for the confirmation.

@sw1sh can you share the `docker info` of the system in which you see the problem ? Essentially we would like to know if this is seen in supported kernel and distros.
It is strange that the call is failing to set it to the host namespace.

[2015-09-01 13:51] cpuguy83 commented on #15905
ah, xfs is not supported as a backing filesystem for overlay unless I'm mistaken.

The error you mention is not #6675, that's a totally different error.
If I had to guess this is an error from libnetwork.
I would also recommend upgrading to 1.8.1 which has many many fixes for libnetwork.
Note that libnetwork was brand new in 1.7.x.

[2015-09-01 13:52] LK4D4 commented on #15973
@paulmenzel Because it's privileged. What the reason for mounting it read-only?

[2015-09-01 13:55] cpuguy83 commented on #15905
Actually xfs seems ok according to https://github.com/docker/docker/blob/v1.7.1/daemon/graphdriver/overlay/overlay.go#L114-L124
But I'm curious as to why docker isn't able to detect it as xfs.

[2015-09-01 14:06] farnzworld opened #15977 "Can't reach docker container via localhost anymore"
Problem:
I have a docker container with glassfish and one with postgres. Last week I tried to set up this combination on my server (debian 7) and failed to reach the glassfish web-context via localhost (-> curl -v http://localhost:8080/). At first I thought my iptable settings were so messed up, that I block myself, but then I encountered the same problem on my laptop. On the other side, docker op

[2015-09-01 14:06] sw1sh commented on #15341
@mavenugo I can't run `docker info` because the daemon would not start.
I listed all my setup here: https://github.com/docker/docker/issues/15772.

[2015-09-01 14:09] mavenugo commented on #15341
@sw1sh thanks. to confirm
you are seeing the issue with :
[code]
correct ?

[2015-09-01 14:10] sw1sh commented on #15341
@mavenugo Correct.

[2015-09-01 14:11] h0tbird commented on #13420
I have the habit of using the `--rm` flag when I run docker containers just to keep my host clean.
If I use this flag with volume drivers a `remove` call is sent to the driver API. I don't like it.
I want to keep my host clean and my volumes reusable.

I am also happy to share with you my first Go program: [docker-volume-rsync](https://github.com/h0tbird/docker-volume-rsync)

[2015-09-01 14:14] cpuguy83 commented on #15973
@paulmenzel it is only `--privileged`.
Privileged is privileged. It means full host access.

[2015-09-01 14:18] paulmenzel commented on #15973
@cpuguy83, I know that. If user want to have it mounted with read-write permissions, they can remount it without any problems.

Is there a switch to tell Docker how to mount certain directories?

[2015-09-01 14:18] cpuguy83 commented on #15977
How did you run the container?

[2015-09-01 14:25] farnzworld commented on #15977
database is a modified postgres 9.3 container (internal shell script modified for advanced rights for the db user)
webapplication is a glassfish 4.1 container with updated libs

Data-Container:
docker run --name db-data -v /data -e PGDATA=/data -it --entrypoint /bin/bash database:9.3

Database-Container:
docker run -d --name db -e POSTGRES_USER=user -e POSTGRES_PASSWORD=password -e PGDATA=/data -p

[2015-09-01 14:30] LK4D4 commented on #15973
@paulmenzel You can bindmount your host /sys as ro volume inside. You can add `CAP_SYS_ADMIN` to unprivileged container with `--cap-add` also.

[2015-09-01 14:38] cpuguy83 commented on #15977
@farnzworld Can you paste docker daemon arguments used to start docker?

[2015-09-01 14:45] paulmenzel commented on #15973
@LK4D4, unfortunately that’s too late. As written in my report, `systemd-remount-fs` already does this, but that’s too late and udev is started nevertheless.

[2015-09-01 14:50] LK4D4 commented on #15973
@paulmenzel Too late for what? volume with -v mounts at the same time as `/sys`, then `/sys` for you too late too.

[2015-09-01 14:52] harishkashyap commented on #14687
restarting boot2docker worked for me thanks @dmp42

[2015-09-01 14:54] jfrazelle commented on #15968
FYI when they aren't updated means tests are failing because the run before release :P, so inquiring minds can run the experimental test suite and submit PRs to fix 

On Tue, Sep 1, 2015 at 6:03 AM -0700, "Brian Goff" <notifications@github.com> wrote:

Closed #15968.

—
Reply to this email directly or view it on GitHub.

[2015-09-01 14:57] datacarl commented on #12997
@hudon yepp, reading quotes literally threw me off.

That would be great from a UX perspective too. Right now, trying to pass something nested, e.g. json, is quite a pain to do on one line (if you want any readability).

[code]

Given that I can source a file with the json defined within single quotes made me think it would be possible to declare variables on multilines with --env-file.

[code]

I

[2015-09-01 14:58] charleswhchan commented on #15939
PR #15969 merged. I will mark this as closed.

[2015-09-01 14:58] #15939 closed

[2015-09-01 15:10] jfrazelle commented on #15968
But I'll look into it ;) of course it's only been 5 days ;) nothing has been added to experimental in that time

[2015-09-01 15:18] cpuguy83 opened #15978 "local resolver fails"
Issue is reported by user on #docker.

Using ElemtaryOS on a university network, /etc/resolv.conf is set to use a local resolver @ 127.0.1.1.
In this case, docker discards this entry and uses `8.8.8.8` and `8.8.4.4` in the container.
However in this particular case, the public DNS is not working likely due to some captive portal requiring to use the Uni's DNS servers.
In this case it is not clear

[2015-09-01 15:18] GordonTheTurtle commented on #15978
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-01 15:19] paulmenzel commented on #15973
`systemd-remount-fs` seems to be run after `udev`. So that’s too late.

I am sorry, I did not fully grasp your second sentence.

[2015-09-01 15:28] LK4D4 commented on #15973
@paulmenzel Could you ping me in irc `#docker-dev` on freenode, pls?

[2015-09-01 15:30] mavenugo commented on #15341
@sw1sh can you join us in IRC #docker-network channel ?
Also, do you observe this issue consistently ?

[2015-09-01 15:36] mavenugo commented on #15727
@jfrazelle @icecrime is this a critical requirement for 1.8.2 ? with the support for multi-host networking in 1.9.0, there will be a few changes to the back-end implementation of using --name as endpoint name. I prefer not to add a patch now to fix this and redo it for 1.9.0. Since the rename feature is not being used much  I dont see the compelling need to force this fix into 1.8.2. WDYT ?

[2015-09-01 15:39] farnzworld commented on #15977
/usr/bin/docker daemon -H fd://

[2015-09-01 15:40] jfrazelle commented on #15727
not critical for 1.8.2 i dont think because it has been broken since 1.7.0
and we just are hearing about it now

On Tue, Sep 1, 2015 at 8:38 AM, Madhu Venugopal <notifications@github.com>
wrote:

[2015-09-01 15:41] mavenugo commented on #15727
Thanks @jfrazelle . Also, I confirmed that `docker rename` feature is not compatible with `link` in 1.6 & earlier. And that is exactly the service discovery issue that i was worried about for multi-host networking.
Is it a stretch to prevent `rename` for some conditions (such as multi-host service discovery or --link) ?

[2015-09-01 15:46] zw963 commented on #7477
I often need to see current container name, for run next `docker exec` to attach in.

so, I hope if can move ``NAMES`` after ``IMAGE``, it will good, I don't need some config anymore.

Thanks.

[2015-09-01 15:46] calavera commented on #15727
I'd like to understand why changing the container name breaks networking. We should use IDs there for everything.

[2015-09-01 15:50] mavenugo commented on #15727
@calavera its the same reason why `--link` fails when we rename a container. Its to update the /etc/hosts with the name to ip-address mapping.
When the container name is changed, all the linked containers need to be updated. It was never taken care of `--link` feature. But, in the new CNM model, we implicitly create an endpoint with the container name. a Rename doesnt rename the endpoint and hence

[2015-09-01 16:01] gregarndt commented on #15341
So far I have created around 15k containers spread across 65 hosts without issue.  I'll keep checking it out.  Thanks for all the work on this!

[2015-09-01 16:11] mrjana commented on #15341
Thanks @bprodoehl @BenHall @mountkin @sw1sh @gregarndt for providing feedback on the image.

@sw1sh Is kernel version `3.19.0-27-generic` a supported version on `Ubuntu 14.0.4` . When I try upgrading my local ubuntu 14.04 with 3.19.0-27-generic it doesn't even allow me to. The latest 3.19 version they support is `3.19.0-26-generic`. How did you upgrade to `3.19.0-27-generic`?

[2015-09-01 16:15] mbn18 commented on #14396
@rhatdan got it, will do it

[2015-09-01 16:17] envygeeks opened #15981 "Docker push gives no valuable tag information when CI blocks dynamic output."
If you look at this build https://travis-ci.org/envygeeks/dockerfiles/builds/78248002#L3258 you'll notice that we get no information on the tag at all when pushing.  It simply refers to the repo but that could be one of many tags we have on that repo.  When Travis blocks the dynamic output normally given by the upload status we get no information about what tag is given.  Can we please get an opti

[2015-09-01 16:17] GordonTheTurtle commented on #15981
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-01 16:28] matfin opened #15982 "Docker Quickstart Terminal failing - OSX Yosemite"
I am following the steps as detailed in these instructions for [getting started](http://docs.docker.com/mac/step_one/) and I cannot proceed because of the following error.

[code]

More information that may be helpful

[code]

[code]

[code]

I am trying to install and run docker my development Macbook Pro using OSX Yosemite.

To reproduce this issue, I am following the steps as outlined in the [g

[2015-09-01 16:28] GordonTheTurtle commented on #15982
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-01 16:38] calavera commented on #15727
@mavenugo why are endpoints using container names as IDs in the first place? This makes me think that if you rename a container and then remove it, the endpoint and net_ns will be leaked because we won't be able to find it, is this correct?

[2015-09-01 16:38] #15817 closed

[2015-09-01 16:55] thaJeztah commented on #14634
@tpires that more sounds like *runtime* configuration of a *container*, not something that is needed during *build*; you should be able to use environment variables for that. (e.g `docker run -e db_host=db1.example.com my-image`)

[2015-09-01 16:55] sedwards commented on #1916
This is needed for installing the older JDK 1.6 packages under CentOS as its RPMs attempt to register is binmft_misc which fails without running under --privileged.

Dockerbuild is a non-stater for building containers with it.

To replicate

FROM Centos5.11
RUN yum intall -y jre-1.6.0_29-fcs

[2015-09-01 16:57] sedwards commented on #12138
This is needed for installing the older JDK 1.6 packages as well under CentOS as its RPMs attempt to register is binmft_misc which fails without running under --privileged.

Dockerbuild is a non-stater for building containers with it.

To replicate

FROM Centos5.11
RUN yum intall -y jre-1.6.0_29-fcs

[2015-09-01 17:02] rednil commented on #15785
could it be this aufs specific permission bug (long read!): https://github.com/docker/docker/issues/783#issuecomment-76496911
solution would be to use the btrfs storage driver instead of aufs or (with kernel 3.19) the dirperm1 option to AUFS

[2015-09-01 17:03] freshmatrix commented on #8539
At least for our case, it was due to heavy STDOUT/ERR from each instance, resulting in docker daemon's memory footprint increase __even though when__ those instances were killed. Ultimately resulting in daemon occupying +45% of total host's memory. Quick fix was to re-shuffle instances to different host then restart docker daemon -- but the full fix for our case was to avoid STDOUT/ERR and logged

[2015-09-01 17:12] phemmer commented on #15978
See #14627 for a proposal on fixing this issue.

[2015-09-01 17:14] tpires commented on #14634
@thaJeztah On Wildfly 8.x I need to add datasource(s) and for that I need to point it to one host. For now I've defined it as ${env.DB_HOST} and on the Dockerfile I've set ENV DB_HOST <ip-address>. But that host needs to exist and running my db. If I could pass that argument on build I could omit  db_host, db_password, etc.

[2015-09-01 17:43] runcom commented on #14777
This could be done with the new deprecation policy. We'll start by marking hostConfig on start deprecated and will remove it after next two releases.

Cli is not affected by this issue.
The only hassle would be to modify the mux route for back-compatibility either to add content to a 204 NoContent response (I'm -1 on this, just listing possibilities) or add warning to postContainersStart with depr

[2015-09-01 17:44] stevenschlansker opened #15985 "docker pull fails "unsupported v1 request" / "download canceled""
We are having trouble pulling down images.  We build a base image using `debootstrap` into a `tar -cz | docker import`.  Pushing the image works fine, but then pulling it down fails with unhelpful error messages:

[code]

All running on:
[code]

[2015-09-01 17:44] GordonTheTurtle commented on #15985
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-01 17:44] wwwtyro commented on #15643
Also seeing this issue. Docker 1.8.1 and registry 2.0.1 & 2.1.1.

[2015-09-01 17:47] runcom commented on #14338
+1 on this, I'll make a PR to update the deprecation list and adapt code to accept strings till removal as per deprecation policy

[2015-09-01 18:15] cliffom commented on #12469
@avelinos @ahmetalpbalkan Yes, the issue with 1.8.1c was the move towards Git 2.5 with MINGW64 that uses mintty - 1.8.1b installed MINGW32 which worked fine where tty input was required.

[2015-09-01 18:20] VikramTiwari opened #15987 "Installation on OSX 10.11"
default machine can't boot-up in OSX 10.11

Error as shown in Kinematics:
[code]

[2015-09-01 18:20] GordonTheTurtle commented on #15987
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-01 18:21] stevenschlansker commented on #15985
I have re-tested it and the client fails the pull whether it is 1.7.1 or 1.8.1, but if the build machine has 1.7.1 instead of 1.8.1, there is no problem.
So this seems to be a regression in 1.8.1 relating to the "docker import / docker push" pipeline?

[2015-09-01 18:30] alvinr opened #15990 "Can't use install script from a Docker 1.6.2 docker-machine created VM"
# Problem
Can't seem to use the install scripts at https://experimental.docker.com or https://get.docker.com from a Docker 1.6.2 machine that was created with `docker-machine`. I get the following

[code]

# Workaround
Upgrade the VM with `docker-machine upgrade {my vm}`

# Reproduce

Create the new VM (using docker-machine 0.4.1)

[code]
Run the install script
[code]

# Environment
[code]

[code]

[2015-09-01 18:33] stevenschlansker commented on #15985
Debug logs indicate that the built image has an 'invalid tar header':
[code]

[2015-09-01 18:38] alvinr commented on #15990
You probably need to have old ISOs in the `docker-machine` cache in order to get 1.6.2 as the base ISO machine using.

[2015-09-01 18:39] sharanyav opened #15991 "ps"

[2015-09-01 18:39] GordonTheTurtle commented on #15991
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-01 18:40] #15991 closed

[2015-09-01 18:45] stevenschlansker commented on #13191
We just hit a serious issue with 1.8.1 ( #15985 ) and now cannot downgrade without serious hackery due to this issue.  We use Puppet to manage apt versions, so changing to a different version with proper metadata is extremely easy, but downloading and using dpkg directly is extremely painful.

[2015-09-01 18:49] skozin commented on #14464
I am seeing the same error in Docker 1.8.1 very frequently:

[code]

I am running my containers _without_ `--net host` and using the default bridge `docker0` (with `--bip 10.0.42.1/24`). Attempting to start the same container again usually helps.

[code]

[2015-09-01 18:52] mavenugo commented on #15341
@sw1sh it looks like #15772 is unrelated to this issue that we solved here.
From your logs, its clear that the `setNS` is failing on your system which seems very wierd to us, Its the same problem that you saw in #15772.
So, I think the right thing to do here is to change the `panic` to `log.Errorf` in the patch so that #15431 and bunch of other related issues to be resolved for 1.8.2, as confirmed

[2015-09-01 18:59] crosbymichael commented on #15643
ping @docker/distribution-maintainers

[2015-09-01 19:05] mrjana commented on #15341
Yes, `setns` failing for @sw1sh is a very different issue than the current issue that we are seeing. We need more information on that issue in terms of the host enviroment and the particular kernel version that is used and such.

So far we have seen enough goodness with this fix. We should release this fix with only a small change to convert the panic to `log.Errorf` so that the daemon doesn't go

[2015-09-01 19:06] hutchic commented on #15343
sorry got busy

[code]

[2015-09-01 19:11] hutchic commented on #15343
looks like plenty of other threads about this issue don't bother reopening maybe just merge this if appropriate TY

[2015-09-01 19:12] thaJeztah commented on #15990
Since you've used docker machine to set up that VM, have you tried docker-machine upgrade? https://docs.docker.com/machine/reference/upgrade/

[2015-09-01 19:14] thaJeztah commented on #15990
(We should have a better message for boot2docker users though, if they try the get.docker.com script)

/cc @tianon

[2015-09-01 19:16] VikramTiwari commented on #15987
[code]

[code]

[code]

Steps to reproduce:
Install docker on OSX 10.11 and do initial setup.

Result received: unable to launch default docker vm with error:
`/Applications/Docker/Kitematic (Beta).app/Contents/Resources/resources/docker-machine -D create -d virtualbox --virtualbox-memory 2048 default returned non zero exit code. Stderr: Converting from raw image file="stdin" to file="/Users/<reda

[2015-09-01 19:21] colemickens commented on #15785
I'm using `devicemapper` and hitting this issue.

[2015-09-01 19:38] alvinr commented on #15990
@thaJeztah just added the Workaround of doing a `docker-machine upgrade` which fixes up the machine enough for the scripts to work. Some of the issue stems from the fact that `docker-machine` has a cached copy of the 1.6.2 ISO, which is used to create the VM - which then cascaded into this issue. I have opened an issue on `docker-machine` to better indicate that an old cached version of the ISO is

[2015-09-01 19:49] thaJeztah commented on #15343
Thanks @hutchic !

[2015-09-01 19:50] maxamillion commented on #12487
@miminar  Thank you!

[2015-09-01 20:00] thaJeztah commented on #15987
This could actually be an issue in VirtualBox, and looks like a dup of https://github.com/docker/machine/issues/1725#issuecomment-133660200 and https://github.com/docker/toolbox/issues/119

Can you check if updating VirtualBox resolves this for you?

[2015-09-01 20:30] gionn commented on #9665
@mimiyan I can somehow confirm this, it will explain why I am plenty of this errors on production (where we use --net=host, and NEVER happened con dev workstations).

[2015-09-01 20:33] stevenschlansker opened #15993 "Many / most errors with v2 API are hidden in DEBUG level messages and covered up by "unsupported v1 endpoint""
We now have isolated three separate issues relating to the v2 api.  I've filed separate tickets, this is not about those issues specifically, but the extremely poor error reporting.  For example we have the conversation:

[code]
And the daemon logs:
[code]

Neither the client nor the daemon actually get any helpful error message, the actual error is not found until you restart your daemon with `-D

[2015-09-01 20:33] GordonTheTurtle commented on #15993
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-01 20:56] Djelibeybi commented on #7952
We believe that this should be fixed upstream from 3.18 with the following commit to btrfs: http://marc.info/?l=git-commits-head&m=141302939209611&w=2

I'm going to build a test machine that has internal mainline kernel builds to see if this does resolve the issue.

[2015-09-01 20:59] erikh opened #15994 "`docker volume` does not track plugins over a restart"
Steps to reproduce; you'll need a volume plugin to test.

* `docker volume create -d myplugin --name test`
* `docker volume ls`
* `docker run --name foo -it -v test:/mnt ubuntu bash`
* `docker inspect foo` # note that the driver is set to `local`, not `myplugin`
* restart docker
* `docker volume ls` # the driver should say local now
* `docker rm foo` # hangs trying to delete a volume that doesn't

[2015-09-01 20:59] GordonTheTurtle commented on #15994
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-01 21:01] srust commented on #15994
Also reproduced in: https://gist.github.com/srust/88b53f1e85814fdb2662

[2015-09-01 21:05] wwwtyro commented on #15643
FWIW, I've found a couple workarounds for this issue. If you can get away with rebuilding your image, rebuilding it with >= v1.5.0 of Docker seems to make the image well-behaved in v1.8.1. You might get away with a lower version - not sure, didn't check - but v1.3.0 definitely breaks it for me.

If you can't get away with a rebuild (I couldn't), exporting and importing the image under Docker v1.8.

[2015-09-01 21:09] joelacrisp commented on #14474
We're also hitting this. Docker version 1.7.1, build 786b29d, kernel 3.18.3-031803-generic

Could this bug be related to : "Note: The OverlayFS filesystem was merged into the upstream Linux kernel 3.18 and is now Docker's preferred filesystem (instead of AUFS). However, there is a bug in OverlayFS that reports the wrong mnt_id in /proc/<pid>/fdinfo/<fd> and the wrong symlink target path for /proc/

[2015-09-01 21:11] dnephin opened #15995 "Race condition causing 'a container has already joined the endpoint'"
Related to #14083
Very similar to  #15727, but in this case it's not as repeatable.

We're seeing a test in the compose test suite (`ServiceTest.test_scale_with_custom_container_name_outputs_warning`) fail frequently against docker 1.8.1 (docker is curled from https://get.docker.com/builds/Linux/x86_64/docker-1.8.1 on each run): https://jenkins.dockerproject.org/job/Compose-PRs/1208/console

[code

[2015-09-01 21:11] GordonTheTurtle commented on #15995
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-01 21:46] michael4RD commented on #15867
I can try to come up with a generic design doc once I have traversed the process :)

Right now, I had another naive question: If I add new directory/source file in the current source code, how can I make sure my source files are compiled then I do "hack/make.sh binary"? I did not any Makefile or Scons file in the sub directory. Any comment could be welcome.

Best,

[2015-09-01 21:59] Djelibeybi commented on #7952
FYI, Facebook and Oracle are still working generally on btrfs and SElinux. I've sent this and all the other btrfs-related bugs to our mainline btrfs development team for review as well.

[2015-09-01 22:13] RoelVdP commented on #10324
@xuxinkun Great. While at it, would you mind looking ad adding the --add-host=[] option also (this can maybe be taken integrally from `docker run`)?

[2015-09-01 22:46] Djelibeybi commented on #7952
Seems to be working now:

[code]

[2015-09-01 22:47] goodwillcoding commented on #9592
In case this helps anyone, here is a workaround to configure apt-cacher-ng to work with SSL:
http://blog.packagecloud.io/eng/2015/05/05/using-apt-cacher-ng-with-ssl-tls/

[2015-09-01 22:52] dmcgowan commented on #15561
@rockyluke I am trying to reproduce this case on the push side. Do you have specific instructions for how this image was first created before push. Can you also include kernel version and graph driver.

@vito if you have a reproducible case it will help as well

[2015-09-01 22:54] jberkus commented on #9198
+1 on allowing specific Dockerfiles.  The rest seems like overkill.

[2015-09-01 22:55] dmcgowan commented on #15561
@stevenschlansker if you have this information it will help as well. I want to know if you can describe the contents of the directory which is being imported, also graph driver information. Thanks!

[2015-09-01 22:56] dmcgowan commented on #15985
Closing this as a duplicate to #15561

@stevenschlansker please provide any additional information on that issue

[2015-09-01 22:56] #15985 closed

[2015-09-01 23:02] stevenschlansker commented on #15561
This script is what we use to generate our base images, and it 100% fails on Docker 1.8.1, works OK on Docker 1.7.1.

Kernel vanilla 4.0.4, Ubuntu 14.04.3, overlay driver

https://gist.github.com/stevenschlansker/ced13e249fa648a81227

[2015-09-01 23:52] tjmehta commented on #11740
Great writeup @dreamcat4. Hitting the same problems today, glad to see it is well documented.

[2015-09-01 23:59] thaJeztah opened #15997 "Docker volumes does not track unused volumes created through plugins"
This is a placeholder issue for discussing improvements to the way docker volumes keeps track of (named) volumes created through plugins.

This issue came up in a discussion on IRC (logs can be found [here on botbot.me](https://botbot.me/freenode/docker-dev/2015-09-01/?msg=48716043&page=4))

I'm writing down some thoughts; there may be technical inaccuracies (please comment and I'll correct them :

[2015-09-01 23:59] GordonTheTurtle commented on #15997
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-02 00:02] thaJeztah commented on #15997
/cc @cpuguy83 @srust @erikh @calavera (and possibly others)

[2015-09-02 00:07] erikh commented on #15997
/cc @jainvipin @shaleman

#2 works best for a multi-host scenario I think; the driver can always delegate to a master or centralized store to retrieve the appropriate information.

[2015-09-02 00:13] thaJeztah opened #15998 "Docker "volume create" doesn't error on conflicting options"
When creating a volume, `docker volume create` should produce an error if a conflicting option is provided. Currently the conflicting option is silently ignored

[code]

**expected result**

[code]

[2015-09-02 00:13] GordonTheTurtle commented on #15998
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-02 00:14] thaJeztah commented on #15998
/cc @cpuguy83

[2015-09-02 00:20] cpuguy83 commented on #15998
Yep, this is because create just currently returns the volume it already new about.
This should be adjusted to error if `vol.DriverName()` != the requested driver.

[2015-09-02 00:26] mavenugo commented on #15772
based on our investigation & available data, this Issue doesnt seem to be related to #15341. More info : https://github.com/docker/docker/issues/15341#issuecomment-136829495.
Reopening to get more info from @sw1sh

[2015-09-02 00:30] thaJeztah commented on #15994
Just tested this, and confirmed

[2015-09-02 00:31] cpuguy83 commented on #15994
fixed in #15999

[2015-09-02 00:35] jberkus opened #16000 "Docker -it inside Tmux doesn't work with text editors"
If I call docker -it from inside Tmux, the session exhibits several text display issues.  Most notably, scrolling and text display inside text editors is mangled, making it impossible to use them.

Tested on: 1.5, 1.7.1
Editors tested: emacs, nano, joe

Steps to reproduce:

1. start a tmux session
2. run "docker -it --rm ubuntu:trusty"
3. apt-get install nano
4. nano /etc/init.d/networking
5. scro

[2015-09-02 00:42] tianon commented on #16000
This sounds kind of similar to #5379, actually.  Have you tried adding `-e TERM` to your `docker run` commands to see if it makes a difference? (ie, `docker run -it -e TERM image command`)

[2015-09-02 01:41] tjmehta commented on #11740
More info on `/proc/sys/kernel/core_pattern`

For my system:
[code]
My core_pattern file was a python script:
[code]
Here is the apport python script source:

[/usr/share/apport/apport](https://gist.github.com/tjmehta/b12bcec19f9872c505df)

It reports it's logs to `/var/log/apport.log`.
I noticed the pid which apport received was the pid of the process w/in the container,
so it would break the scr

[2015-09-02 02:09] azurezk commented on #15998
#dibs

[2015-09-02 02:49] wplatform opened #16003 "curl install error"
when install docker on ubuntu14.04, using curl -sSL https://get.docker.com/ | sh
an error occurred:  curl: (35) Unknown SSL protocol error in connection to get.docker.com:443
http://docs.docker.com/installation/ubuntulinux/

[2015-09-02 02:49] GordonTheTurtle commented on #16003
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-02 03:09] charleswhchan commented on #15870
Checked https://docs.docker.com/kitematic/userguide/ and the fix https://github.com/kitematic/kitematic/pull/976 has been deployed to the website. :+1:

So this issue can be closed.

[2015-09-02 03:53] MHBauer commented on #16000
Can confirm it for nano on 1.8.1, and that running with -e TERM fixes it.

[code]

hth

[2015-09-02 04:18] xuxinkun commented on #10324
@RoelVdP
OK. I will code it. I will try to make a pull request next week or later.

[2015-09-02 04:43] #15136 closed

[2015-09-02 04:43] jfrazelle commented on #15136
I run debian testing and cannot reproduce

[2015-09-02 04:44] jfrazelle commented on #12906
the above instructions are no longer relevant closing

[2015-09-02 04:44] #12906 closed

[2015-09-02 05:52] runcom commented on #15933
seems like this has to do with specific fedora Docker pkg and as such I think it would be better to report this directly to their tracker rather than here cause we can't do anything (docker rpm repo doesn't add anything after version also)

I'm closing but ping me if you think I'm mistaken

[2015-09-02 05:52] #15933 closed

[2015-09-02 06:01] haosdent commented on #15933
Thank you very much!

[2015-09-02 06:05] alambike commented on #15651
OK, good to know, thanks for the info.
I have the ubuntu-precise in my older laptop, and have installed the [HWE](https://wiki.ubuntu.com/Kernel/LTSEnablementStack) to update my kernel to 3.13, but the btrfs-tool package remains in a older version.

[2015-09-02 06:32] computerlyrik opened #16008 "Problem connecting to outside world"
Docker containers cannot contact the outside world since few days:

[code]

[code]

The docker bridge obviously does not get an ipv4 address.
What is wrong with my configuration?

---

[code]

[2015-09-02 06:32] GordonTheTurtle commented on #16008
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-02 07:06] rohanmahy opened #16010 "default Docker NAT on Mac incorrectly changes source address of outside hosts"
I need to run a UDP server (specifically a RADIUS server) inside a container that will be accessible from hosts on the same ethernet subnet as my Mac. Unfortunately Docker or VirtualBox are mangling the source IP address. I am running Docker 1.8.1b + VirtualBox 5.0.2.

_IP configuration_
Mac is on 192.168.1.40
VM eth0 (NIC1) is nat with IP 10.0.2.15/24 (default gateway 10.0.2.2)
VM eth1 (NIC2) is

[2015-09-02 07:24] saurabhmaurya06 commented on #15620
Thanks a lot! I was having the same issue. It would be great if it's added to the documentation instead of us having to Google for it.

[2015-09-02 07:27] ljcp opened #16011 "service docker start - unknown job: docker"
docker version :

[code]

docker info:

[code]

uname -a:

[code]

Steps:
1. Install docker official page
2. Docker running error
[code]
3. Added GRUB_CMDLINE_LINUX="cgroup_enable=memory swapaccount=1" and reboot machine
4. RUN https://github.com/tianon/cgroupfs-mount script
5. Now docker daemon looks good
6. service docker start or start docker responses with start: Unknown job: docker

Expected:

[2015-09-02 08:22] Kern3l commented on #15785
+1

[2015-09-02 08:22] GordonTheTurtle commented on #15785
*USER POLL*

*The best way to get notified when there are changes in this discussion is by clicking the Subscribe button in the top right.*

The people listed below have appreciated your meaningfull discussion with a random +1:

@Kern3l

[2015-09-02 08:25] Kern3l commented on #15785
Awesome ;] My usecase is the same as Riklaunim's.

[2015-09-02 08:55] IanWizard commented on #15721
I resized my LVM PV and the LV that docker is on today, and now I'm getting the same error about the device UUID.  I'm on Fedora 22 and I ran:
[code]

Luckily I have everything setup and saved properly, so I can just purge docker and (hopefully) that will resolve it.

[2015-09-02 09:05] IanWizard commented on #15721
Removing docker and /var/lib/docker and then reinstalling did fix it (not surprisingly).  It's worth mentioning that I had to reboot before removing /var/lib/docker/ because it said the loop devices were busy and couldn't be removed.

[2015-09-02 09:21] the-nw1-group opened #16015 "Unable to stop containers Docker 1.8.1 and CentOS 7 with SELinux enabled"
I'm unable to stop containers running Docker 1.8.1 on CentOS 7.1 with SELinux enabled, although it works with SELinux temporarily disabled.

docker version
[code]

uname -a
[code]

docker info
[code]

Whilst the container is running, `docker ps` returns:

[code]

but trying to stop with `docker stop 493fc985e5c2` returns:

[code]

And a CTRL+C in the container, results in the following appearing i

[2015-09-02 09:37] tgraf commented on #14233
+1

Although the proposal may be a little bit too generic. Modification of requests and responses is highly desirable to finally get rid of all the wrappers.

[2015-09-02 10:07] villlem commented on #16008
It happens to me when on some networks. I resolve this by set my own dns addresses to daemon.

[2015-09-02 10:59] dgommeren opened #16019 "Allow pulling multiple images at once"
With docker stop, start, rm etc. you can specify multiple containers, but docker pull can only specify one container. It would be convenient if you could specify multiple containers, eg:

docker pull ubuntu centos redhat

[2015-09-02 10:59] GordonTheTurtle commented on #16019
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-02 11:46] pchico83 commented on #15912
@calavera @cpuguy83 @etcook
I have spent some time on this issue and it looks like a RC in the docker daemon. The RC condition happens when there is a running container `A` mounting the host folder `/var/run/docker.sock` (for example `weaveworks/weave:1.0.1`). If the docker daemon is restarted, it happens that the container `A` is restarted before  `/var/run/docker.sock` is created by the docker d

[2015-09-02 11:52] fermayo commented on #15912
@cpuguy83 definitely it's docker ;-)

[2015-09-02 12:15] hootjr29 commented on #15498
thanks for bringing that to my attention Dan.  You're absolutely correct.  I didn't realize it was modularized that much until now.

[2015-09-02 12:18] rhvgoyal commented on #15721
@IanWizard

Can you give me more details about exact operations you are doing.

- How did you setup lvm thin pool?
- How did you grow your underlying physical disk
- pvresize takes a physical volume as argument. You seem to have used a volume group as argument.
-  You are using lvresize -L 150GB. What's the lv path here? Which lvm you are trying to resize. Try using lvextend to make sure you are n

[2015-09-02 12:30] Evalle commented on #16003
Hello @wplatform can you provide your curl and openssl versions ? (e.g. curl --version and ssl --version) I believe that it's a known bug with curl.

[2015-09-02 12:57] cpuguy83 commented on #15912
Thanks! Re-opening

[2015-09-02 13:24] cpuguy83 commented on #16015
`Udev Sync Supported: false`

This is likely the cause. Please make sure you are using an official RPM for docker and not a statically built binary.
As it is, the setup is not supported and you should have warnings in your daemon logs about using devicemapper where udev sync is not supported.

[2015-09-02 13:42] the-nw1-group commented on #16015
Thanks - uninstalled, and re-installed and all now working.

[2015-09-02 13:42] #16015 closed

[2015-09-02 13:45] ggerman opened #16021 "Version problems"
docker-machine create -d virtualbox dev
  docker run busybox echo hello world

 eval $(docker-machine env dev)
 Error response from daemon: client is newer than server (client API version: 1.21, server API version: 1.20)

Docker running without docker-machine

 docker version
Client:
 Version:      1.9.0-dev
 API version:  1.21
 Go version:   go1.4.2
 Git commit:   3111aa7
 Built:        Tue Sep

[2015-09-02 13:45] GordonTheTurtle commented on #16021
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-02 13:48] cpuguy83 commented on #16021
Yes, your client cannot have a newer version than the running daemon.
Downgrade your client to 1.8.1.

[2015-09-02 13:48] #16021 closed

[2015-09-02 13:59] detro commented on #13179
@cpuguy83

Well, this is disappointing way to answer to say the least.

1. devicemapper is one of the supported backends
2. there is no "default always works" supported backend
3. anyone that I know that don't use Docker for "playing around" but have actual businesses to run, struggle to put their finger on a "this is the stable one" backend to use: we just try shit and stop using it when it falls

[2015-09-02 14:02] dnephin commented on #15030
This looks similar to #14203, possibly a duplicate?

[2015-09-02 14:40] stephensmalley commented on #7952
Can it write to the container filesystem?
What does 'docker run fedora grep context /proc/self/mounts' show?

[2015-09-02 14:50] cpuguy83 commented on #13179
@detro My response was terse because there is a whole thread here explaining the issue... though I do see that it is a shitty response.

The reality of the issue is that no one really understood the cause of the issue with devicemapper until after the 1.6.0 release.
The issue of course being that with a statically linked binary, udev sync is impossible, and as such can cause corruption issues.
Thi

[2015-09-02 15:06] detro commented on #13179
@cpuguy83 I appreciate your answer. If there is a thread with more info and with detailed answers, you should always link it. As much as there is a search facility in GitHub now, it's always possible to miss topics. Plus I'd be probably right to assume that most people land on issues from a google search; probably their working hours; on a rush to get things done.

Unless it's a Docker contributor

[2015-09-02 15:27] syzer commented on #12606
on mac i got
[code]

[2015-09-02 15:43] jhowardmsft commented on #15889
Being tracked internally by 3719364

[2015-09-02 16:13] matfin commented on #15982
On looking into this more, I think the issue might have been caused by Virtualbox. I had version 5.0.2 installed and this was also preventing Vagrant from working properly, so if anyone else has had the above issue I would suggest downgrading to version 5.0.0

[2015-09-02 16:16] apobekiaris commented on #12469
$ docker run -it -p 3000:3000 cantino/huginn
cannot enable tty mode on non tty input

[2015-09-02 16:36] cliffom commented on #12469
@apobekiaris Again, Docker Toolbox 1.8.1c includes Git 2.5. Git 2.5 now uses mintty which does not allow for tty input. Because of this you will not be able to use docker in interactive mode with the -t (Allocate a pseudo-tty).

The reason this worked fine in 1.8.1b was due to the inclusion of an older version of Git for windows that used MINGW32. mintty was not used in that version. If you must u

[2015-09-02 16:36] rwky commented on #8539
We experience something similar to @freshmatrix in our case I encountered this by running innobackupex in a docker container over ssh and piping stdout through xbstream. This caused docker to consume large amounts of memory and once the container stopped (and was removed, docker run had the --rm flag) docker didn't free the memory and no more containers could be launched until restarting docker.

[2015-09-02 16:39] elrac commented on #12469
Since I'm seeing a lot of other people trying to deal with this issue the easiest workaround I have found has been to ssh into the VM with `boot2docker ssh` then run your docker command. I have found it to be easier than installing a completely different command line program.

[2015-09-02 16:40] cliffom commented on #12469
@elrac or `docker-machine ssh <machine name>`

[2015-09-02 16:58] gauravphoenix commented on #15496
I will appreciate this feature very much

[2015-09-02 17:24] dgromov commented on #14464
Is there any work around for this? I'm seeing this with both 1.8.1 and 1.9.0-Dev. I'm also seeing this frequently. I'm seeing these issues running as part of a mesos executor.

[code]

[code]

I was on docker 1.6.0 previously using the same kernel.

[2015-09-02 17:28] erwindev commented on #11490
Powering off boot2docker VM in VirtualBox and restarting boot2docker fix this issue for me.

[2015-09-02 17:32] aaronlehmann commented on #13949
I believe this panic was fixed by https://github.com/docker/docker/pull/15353. The issue was that some downloads would continue running after another download failed. The failure would cause the HTTP server to return a response, and then the ongoing downloads would try to write to the HTTP server's response buffer, which results in a panic.

Closing for now, please reopen if you see this in 1.8.x.

[2015-09-02 17:32] #13949 closed

[2015-09-02 17:38] IanWizard commented on #15721
@rhvgoyal
I didn't set LVM up, it was setup by anaconda when I installed Fedora.  Also, if it's at all relevant, I used FDE so it's a small boot partition followed by a large luks partition.  That luks partition is the PV for LVM.
To completely lay out the steps I took:

(All steps after the first operate solely on the new disk, referred to as sdX)
1. Imaged previous smaller SSD's MBR table (and p

[2015-09-02 17:40] shi2rs commented on #15620
Lucky to find this thread in few minutes of trying it out..

[2015-09-02 17:44] mrjana commented on #14464
@dgromov This should get fixed in 1.8.2. Please test 1.8.2 RC1(whenever it's out) and provide feedback.

[2015-09-02 17:45] #15870 closed

[2015-09-02 17:54] dgromov commented on #14464
@mrjana thank you, will do. Just to confirm, has the fix not been merged to the master branch? The 1.9.0-Dev binary I'm using comes from https://master.dockerproject.org/linux/amd64/docker.

[2015-09-02 19:00] phobologic commented on #13914
Just rolled forward again to `1.7.1`, this time using the old apt mirror (since the new one doesn't *yet* allow you to pull down old versions) and this issue started popping up almost immediately once more.

[code]

[2015-09-02 19:09] estesp commented on #15974
I assume this page covers at least some of the open questions: https://www.docker.com/brand-guidelines

[2015-09-02 19:30] perpen commented on #15679
@apporc it must have happened with stable release 44.0.2403.155 (Platform version: 7077.123.0), released August 11th.
I don't know how you relate these versions to Chromium OS tags, but would you be able to apply your changes to the previous stable release, 44.0.2403.125 (Platform version: 7077.111.0) and see if it works?

[2015-09-02 19:41] mikebrow commented on #15912
#Investigating
FYI... not reproducing on:
mike@ubuntuMikeBrown:~$ docker version
Client:
 Version:      1.8.1
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   d12ea79
 Built:        Thu Aug 13 02:35:49 UTC 2015
 OS/Arch:      linux/amd64

Server:
 Version:      1.8.1
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   d12ea79
 Built:        Thu Aug 13 02:35:49 UTC 2015
 OS/Arch:

[2015-09-02 19:45] stevvooe commented on #7336
@mlehner616 I agree that #12489 appropriately addresses the root cause and discussion should be moved their. For this particular issue, checking layer existence is simply not the primary bottleneck. The proper optimization to address this issue is to make the `HEAD` check fast on the registry side and ensure that results are properly cached. We are also exploring some fixes to hash stability (see

[2015-09-02 20:13] aaronlehmann commented on #15854
This bad error message is being removed by https://github.com/docker/docker/pull/15955

We may need some additional work to expose a useful error message.

[2015-09-02 20:18] aaronlehmann commented on #13250
@stevvooe: #15493 has been merged, so should this issue be closed?

[2015-09-02 20:19] VikramTiwari commented on #15987
Updating VirtualBox with the [test builds](https://www.virtualbox.org/wiki/Testbuilds) worked. Thanks!

[2015-09-02 20:19] #15987 closed

[2015-09-02 20:26] aaronlehmann commented on #7291
With https://github.com/docker/docker/pull/15493 merged, I think we can finally consider this fixed.

[2015-09-02 20:27] stevvooe commented on #13250
@aaronlehmann The root cause for this issue is likely to be compound. The other possible cause is having to rebuild and hash layers, which would manifest is high cpu usage. @tsuna seems to be experience the latter.

I'd like to get some user confirmation before proceeding to close this issue.

[2015-09-02 20:30] aaronlehmann commented on #9718
I think there's a good chance this will be fixed by https://github.com/docker/docker/pull/15955

[2015-09-02 20:44] unclejack commented on #15974
@estesp That's very good. I didn't know it even existed. It's unfortunate that it's not easy to come across that unless you're looking for such a page.

Similar guidelines should be checked into the project's repository. I'm not going to assume everyone who drops by https://github.com/docker/docker also visits that page or that those are exhaustive guidelines regarding best practices in Docker rel

[2015-09-02 20:45] anandkumarpatel commented on #8539
+1 hit this just now after 100's of build/run/stop
[code]

[2015-09-02 20:58] ltankey opened #16028 "docker in docker does not work on 1.7.1+"
Hi

I cannot seem to start the docker daemon within an already-privileged docker container. I've tested this on 1.7.1 and 1.8.1 on Ubuntu 15.04. Specs are as follows:

uname -r
[code]

docker version
[code]

docker info
[code]

Steps

1. Start an ubuntu:utopic container with the --privileged flag
2. Within this container, download docker
3. Attempt to run daemon

Attempting to start the daemon wit

[2015-09-02 20:58] GordonTheTurtle commented on #16028
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-02 21:01] trompx commented on #5684
@cpuguy83 Thank you for the info. I am now using the last version with udev true but while I was trying to setup a logging monitoring system, a problem occured resulting in all my container with status "Exited (137)" and trying to remove them prevents me from removing them "Error response from daemon: Cannot destroy container 9ca0b5642a55: Driver devicemapper failed to remove root filesystem". So

[2015-09-02 21:04] cpuguy83 commented on #5684
@trompx If these are hanging around from the previous installation it could cause a problem.
Once the containers are in a "dead" state you can `docker rm -f` them again to remove them from docker and they should not show up again. It's likely the files are missing such that devicemapper can't really find it.

[2015-09-02 21:07] Djelibeybi commented on #7952
1. Yes, it can:

[code]

2. It shows nothing, i.e.no result. The entire content of /proc/self/mounts is:

[code]

[2015-09-02 21:11] mrjana commented on #14464
@dgromov Since the libnetwork code has diverged a lot b/w 1.8 release and master we are doing this in two steps. 1.8.2 is currently being merged. We will merge that in master as well shortly

[2015-09-02 21:19] michalmedvecky opened #16029 "Incorrect docker-proxy behavior"
Hello,

I have following config:

coreos machine with IP 10.240.135.37 with access to internet

container with my internal recursive dns service residing at 10.1.0.189/28, but with -p 53:53/udp published to 10.240.135.37 (so it can be used by external hosts)
container with my app at 10.1.0.188/28
docker0 interface at 10.1.0.177/28

When I send DNS query from my app container (10.1.0.188) to the re

[2015-09-02 21:19] GordonTheTurtle commented on #16029
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-02 21:23] phemmer commented on #16028
sounds like your output (the `cgroup already mounted` stuff) is from 1.8+: https://github.com/docker/docker/pull/15596

[2015-09-02 21:27] stevvooe commented on #9718
@aaronlehmann Was this not addressed by #15728?

[2015-09-02 21:30] aaronlehmann commented on #9718
It's possible that #15728 could solve these particular cases, but there are still outstanding issues that would manifest themselves as similar failures. #15955 attempts to solve these.

[2015-09-02 21:46] vbatts commented on #15561
this is fixed by https://github.com/docker/docker/pull/15492 which is already cherry-picked for 1.8.2 ...

[2015-09-02 21:47] dmcgowan commented on #15561
confirmed fixed in master and will be in 1.8.2.

The bad images which are failing on pull will need to be repushed before pulling will succeed.

[2015-09-02 21:47] #15561 closed

[2015-09-02 21:48] vbatts commented on #15561
the `tar -c . | docker import -` approach is including GNU @LongLink.

This also means that images pushed from this will need to be re-`docker import`'ed and re-pushed, once updated to docker 1.8.2

[2015-09-02 21:48] vbatts commented on #15561
like @dmcgowan  said

[2015-09-02 21:53] ltankey commented on #16028
I'm definitely only running 1.7.1 for the above output - I've a colleague who's tested on 1.8 and received the same though.

[2015-09-02 21:58] stevenschlansker commented on #7336
As the original submitter of this ticket, I can confirm that really what it is complaining about is "Pushing and pulling images in a tag-heavy workflow, especially across a WAN, is glacial".  Our London team has basically decided that they hate us at this point over this issue and related ones...

I never intended to prescribe a particular fix, we just want to not have Docker be the single bottlen

[2015-09-02 22:09] michael4RD opened #16033 "a question regarding docker building structure"
Hi,

I may be asking a naive question here: we are using "hack/make.sh" to compile docker source code (inside a new container), but it is not clear (at least to me) how those go source files are compiled all together (no Makefile/Scons file inside subdir). This prevents me from adding new go file and functionality to the existing docker source code. I could not locate any document on this issue as

[2015-09-02 22:09] GordonTheTurtle commented on #16033
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-02 22:16] arun-gupta opened #16034 "List of error codes"
It would be useful to have a list of error codes and their corresponding cause. This could be in a tabular format such as:

| Error Code | Meaning |
| --- | --- |
| NNN | Text |
| NNN | Text |

[2015-09-02 22:16] GordonTheTurtle commented on #16034
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-02 22:19] duglin commented on #16034
See https://github.com/docker/docker/pull/15069  its the start of that piece of work.

[2015-09-02 22:20] thaJeztah commented on #15987
Great!

[2015-09-02 22:20] arun-gupta commented on #16034
Cool, good to see that there is already work happening on it.

[2015-09-02 22:24] kostickm commented on #14233
@jerbia There have been talk about adding hooks like you are suggesting here. Right now a few of us are working on splitting the current API code out so it can be used by both Docker and Swarm reducing the redundancy. I want to recommend waiting until the API split work is completed so both Docker and Swarm will be able to leverage these plugin hooks by sharing the API code.

Work in progess PoC:

[2015-09-02 22:50] duglin commented on #16033
@michael4RD you may find it easier to follow if you just do "make binary" at the top of the source tree. See the `Makefile` and `Dockerfile` at the root of the tree for more info.

[2015-09-02 22:51] duglin commented on #16033
Closing this since its not really an issue (ala bug) - you might want to ask on the Google docker mailing list next time: https://github.com/docker/docker#talking-to-other-docker-users-and-contributors

[2015-09-02 22:51] #16033 closed

[2015-09-02 23:27] trompx commented on #5684
I managed to make it crash again but with that time log driver json on. After checking the logs of all the containers, only the haproxy one returns some useful input "/run.sh: fork: Cannot allocate memory". I was a bit low on memory without swap, and I must have ran out of memory. If that is the cause, does it mean that Docker will crash when it runs out of memory, thus exiting all containers ?

[2015-09-03 00:06] vieux opened #16037 "[proposal] docker ps format in env"
Hello,

I would like to propose yet another env variable in the client to set the ps format.

Currently you have 2 choices: `--format` or a "complicated" config file.

It would be nice to have it in the env, so we could have something like `eval $(swarm env)` and the docker ps output is cluster friendly.

What do you think ? @calavera @icecrime @jfrazelle @aluzzardi @abronan

I'm sorry if it was a

[2015-09-03 00:09] rockyluke commented on #15561
Thanks a lot !

[2015-09-03 00:10] duglin commented on #16037
I would prefer if instead of having a ton of env vars we made modifying the "complicated" env file easier.
For example: `docker config set psformat ...`.

[2015-09-03 00:11] mrunalp commented on #15187
@estesp What do you think about supporting the mappings at docker run time instead of as flags to the daemon?
The first simple implementation would incur the cost of chowning the rootfs while options such as vfs uidshift mount are being figured out. docker commit could either be disabled or made to reverse chown upon save. This way we don't make the implementation too tied to the daemon flag which

[2015-09-03 00:31] gustavopolitano commented on #15620
Thanks for the info. I had the same problem here.

[2015-09-03 04:14] nornagon opened #16040 "docker run --rm -ti debian:jessie cat hangs"
[code]

Am I doing something dumb? I'm on docker 1.0.1 on ubuntu 14.04.

[code]

[2015-09-03 04:14] GordonTheTurtle commented on #16040
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-03 07:00] Evalle commented on #16040
Hello @nornagon.

I don't think that it's an issue in docker. if you want to run `echo "hi"` command inside your docker container you need to run ```sudo docker run -ti debian:jessie echo "hi"```

And BTW it's a good idea to use last version of docker. Docker 1.0.1 is quite old now :)

[2015-09-03 07:18] vdemeester commented on #11699
On the `autogen` notes, at least for `autogen/dockerversion`, there could be a way to not have this by using this on build https://www.atatus.com/blog/golang-auto-build-versioning/.

[2015-09-03 07:44] shime commented on #13802
happening to me too on `CoreOS alpha (789.0.0)` with `Docker version 1.7.1, build 2c2c52b-dirty`, with`fig 1.0.1`

using `systemctl stop docker-*` fixes it

[2015-09-03 08:18] jcw9930 commented on #15833
same here, trying to push to registry:2.1.1 which is backed by NFS (via kubernetes). It worked fine with docker-1.7

[code]
[code]

[code]

[2015-09-03 09:18] #13191 closed

[2015-09-03 09:32] C-Duv commented on #13382
I am experiencing similar issue using data volume container and symlinks but not sure if @carn1x's workaround would work for me...

It seems to me that Docker de-references symlinks pointing to data volume container *at second run*.

**Goal:** I wanted to set up an *application* container and store the applications' data in a *data volume container*.

Installation of softwares is done in `Dockerfi

[2015-09-03 09:41] emsi commented on #12469
+1

Would it be possible to distribute two alternative docker toolboxes for windows?
The MinGW based and Cygwin based.
I understand the reasons for using MinGW for a "regular" windows users but having a Cygwin based build would be really cool for those tech savvy users that already relay on Cygwin :)

[2015-09-03 09:48] tgraf commented on #14233
@kostickm +10 for split and base of hooks on top of that to make it available for Docker and Swarm. Let us know if we can help in any way.

[2015-09-03 09:55] rhatdan commented on #7952
Are you sure SELinux is enabled within the container?  IE --selinux-enabled on your docker daemon

[code]

[2015-09-03 10:56] GordonTheTurtle commented on #12469
*USER POLL*

*The best way to get notified when there are changes in this discussion is by clicking the Subscribe button in the top right.*

The people listed below have appreciated your meaningfull discussion with a random +1:

@ravetdavid
@absolom
@rweng
@Ulimn
@Si-Stone
@siripuramrk
@csabageier
@kuril
@sirgoatofboy
@SlyDen
@nonsequitur
@tawan
@r4fek
@ccottet
@kskalvar
@c3c
@setrar

[2015-09-03 12:29] phemmer commented on #16040
That is definitely an issue with docker. However I will second that 1.0.1 is really old. Current docker versions won't even let you do that with the `-t` flag, but work fine without it:

    # echo hi | docker run -ti debian:jessie cat
    cannot enable tty mode on non tty input

    # echo hi | docker run -i debian:jessie cat
    hi

    # echo hi | docker run --rm -i debian:jessie cat
    hi

^w

[2015-09-03 12:31] burhan opened #16044 "Make Docker More Robust to Network Changes"
``docker -v 1.7.1, build 3043001/1.7.1``

I am evaluating docker using RHEL7; running in VMWare.

All I did was rename the primary connection name from `eno167777736` to something sensible like `eth0`.

After making this simple change; docker refuses to start with:

``Running modprobe bridge nf_nat br_netfilter failed with message: , error: exit status 1``

[2015-09-03 12:31] GordonTheTurtle commented on #16044
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-03 12:34] rmetzler commented on #9665
I just want to report that I see the reported issue when I run google/cadvisor on Docker 1.8.1 like recommended in the [cAdvisor README](https://github.com/google/cadvisor).

[code]

Please notice that the `issue9665` container looses its name in the attempt to remove it.

[2015-09-03 12:46] haches commented on #6479
@frol @cpuguy83 Could you elaborate on how ```--kernel-memory``` can be used to prevent fork bombs? I couldn't find any good information on this. Will this be included in the next release? Thanks a lot.

[2015-09-03 12:49] WalterDalton commented on #15833
It looks like it's a very recent thing in the code for Docker Registry.   (or in how Docker 1.8.1 pushes to the registry...) Is there anything the folks who are using this can do to help troubleshoot. I am somewhat new to the Docker Ecosystem, but would love to help however I can.

[2015-09-03 13:04] cpuguy83 commented on #16028
What is your `/etc/init.d/docker` doing?

For certain dind still works, it's how the docker test suite is run for the project CI.

[2015-09-03 13:04] Evalle commented on #16040
My fault.
I can confirmed that with 1.8.1 version of docker this command works as well.
[code]

[2015-09-03 13:06] anttiviljami opened #16045 "iptables fail on docker run"
Running lots of containers ( > 30 ) on a single host with the latest public trusty docker-engine package we've run into an issue where hosts running lots of containers start occasionally failing run commands due to an iptables error.

[code]

The workaround right now is just to repeat the run command until it finally works with no error.

This bug has been introduced after we upgraded from 1.7.* t

[2015-09-03 13:06] GordonTheTurtle commented on #16045
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-09-03 13:06] cpuguy83 commented on #16044
@burhan The error message is about loading a kernel module, and even then it's just a warning (at least on master).

[2015-09-03 13:10] anttiviljami commented on #16045
Here's the workaround behaviour. Running the same exact run command three times, we get the container up and running on the third try.

[code]

[2015-09-03 13:11] oryband commented on #5113
:+1: this is a big issue

[2015-09-03 13:13] noderunner commented on #13670
Also saw this on docker 1.8.1. Same thing as eleweek. No numbers in path, restart of docker-machine fixed it.

[2015-09-03 13:15] dashohoxha commented on #9299
Workaround:
[code]
Works very well.

[2015-09-03 13:17] cpuguy83 commented on #9665
@rmetzler This is likely from mounting in /var/lib/docker into the container.

[2015-09-03 13:20] cpuguy83 commented on #16045
Looks like a dup of #14464

Closing. Thanks!

[2015-09-03 13:20] #16045 closed

[2015-09-03 13:26] cpuguy83 commented on #5113
So this is most likely fixed on master.
There have been lots of fixes under the hood to how pulls are handled. In addition if you do `ctrl-c` out of a pull you can now run `docker pull` again to see the actual status of the pull that is in progress.

I will keep this open for now because there can be many things causing this issue that are difficult to pin-point.

ping @aaronlehmann who has been d

[2015-09-03 13:41] mathieuruellan commented on #5113
I've not anymore this bug since a few months (version 1.6 debian packages).

[2015-09-03 13:45] anthonygreen commented on #12823
I am experiencing this exact same issue with Docker 1.8.1 on Ubuntu 14.04.

[2015-09-03 13:58] estesp commented on #15187
The root filesystem chown is not too difficult, but the problem is immediately as soon as a second container is started using shared layers with a prior container.  You can't chown the layers already in use.  Basically this model would require moving back to a "dumb" non-CoW graphdriver which copies the entire rootfs on every start (+chown). I'm not averse to considering solutions prior to a more

[2015-09-03 14:14] frol commented on #6479
@haches I set kernel memory limit to 1MB (I haven't used `--kernel-memory` option yet since I have worked around this issue with `cgmemtime`). It might not work nice when your containered app uses kernel memory not only for processes, but also, for example, for kernel-level cryptography (I'm not very familiar with the topic of kernel memory, though).

[2015-09-03 14:25] anthonygreen opened #16046 "docker rmi and rm hangs"
## Description of problem:

docker hangs when trying to remove a container

## docker version:

Docker version 1.8.1, build d12ea79

## `sudo docker info`:

WARNING: No swap limit support
Containers:: command not found

## `uname -a`:

Linux vagrant-ubuntu-vivid-64 3.19.0-26-generic #28-Ubuntu SMP Tue Aug 11 14:16:32 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

## Environment details (AWS, VirtualBox,