[2016-08-30 16:57] vieux commented on #26099
@mindnuts no I didn't, I used 1.12

what's weird to me is that part:

[code]

[2016-08-30 16:58] crosbymichael commented on #20625
For something like Docker where the cli is just talking it a daemons remote API it is not ideal to expose all of this via the CLI.  When you want the api json, just hit the api.

For things like runc, we do expose json via the cli but there is no daemon backing it with an api that a user can hit if they want to parse the output but for docker this is already possible.

[2016-08-30 16:58] #20625 closed

[2016-08-30 17:26] vieux commented on #26099
@mindnuts yeah I said you have to use one `/` only.

[2016-08-30 17:28] londoncalling commented on #22753
@justincormack I can add your write up to the docs, but I think we should include some specific examples. I'll try it out myself, but will probably need yours or someone else's help. I'll get back to you on it as I work through it.

[2016-08-30 17:36] justincormack commented on #22753
@londoncalling sure will send you some.

On 30 Aug 2016 6:28 p.m., "Victoria" <notifications@github.com> wrote:

[2016-08-30 17:50] ibuildthecloud opened #26155 "Auto DOCKER_API_VERSION switching"
The docker CLI supports setting `DOCKER_API_VERSION` to an older version.  Is there a reason why the client couldn't just auto switch to the correct API version instead of complaining that the server is too old?

[2016-08-30 17:53] mrjana commented on #26098
@yank1 This is a known issue. There is a PR in libnetwork already open to fix it: https://github.com/docker/libnetwork/pull/1398

[2016-08-30 18:06] icecrime commented on #26155
We're working on it (cc @vieux)! See #25498 :-)

[2016-08-30 18:07] icecrime commented on #26155
Also: that environment variable is basically just lying on the user agent string, but not doing anything meaningful.

[2016-08-30 18:07] #26155 closed

[2016-08-30 18:10] dnephin commented on #26152
`SetFlagErrorFunc()` should only be necessary on the root command, not every command. I removed it from all the commands in #25354

I just tried the examples with a binary built on master and they all return the correct `125`. Can you try master and see if it's fixed?

[2016-08-30 18:13] withinboredom opened #26157 "Named volumes mysteriously vanish and come back after restart"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Docker for mac

**Steps to reproduce the issue:**
Unknown how to reproduce ... it appears to be completely random. Smells like a race condition.

docker-compose file would look something like:

[code]

Randomly -- and extremely rarely, the named volum

[2016-08-30 18:25] stevvooe commented on #26146
We can just leverage range requests, which are supported. We just need to maintain download state and resume from that download state.

[2016-08-30 18:30] aaronlehmann commented on #26146
Docker already uses range requests to resume downloads. As @vikstrous points out in the issue, this does not work after a `^C`, because currently the lifetime of the temporary files associated with the pull is limited to the time the pull is running, to avoid resource management issues with incomplete pulls. Extending the lifecycle is certainly something we can look at, but it needs to involve a c

[2016-08-30 18:39] jamestenglish commented on #26038
I have this same issue:
`docker node ls`
[code]

**amaasds1** `docker version`
[code]
**amaasds1** `docker info`
[code]

**amaasds3** `docker version`
[code]
**amaasds3** `docker info`
[code]

I am unable to even try to leave/rejoin on **amaasds3** `docker swarm leave`
[code]

I have static IP addresses, they have not changed. Rebooting **amaassd3** did not have any effect.

This is not the first

[2016-08-30 19:04] stevvooe commented on #26146
@aaronlehmann Oh, great! When was that added?

[2016-08-30 19:05] aaronlehmann commented on #26146
@stevvooe: I believe it was 1.11.

[2016-08-30 19:09] cfontes commented on #6119
Read it all and still can't figure out if any of those PRs were merged or accepted.

Any news?

Cheers

[2016-08-30 19:27] etotheipi commented on #6119
I too am intensely curious whether any sane solution was implemented.  I can't afford doubling the size of the stuff we copy in.

Out of curiosity, why was the idea of simply adding a `COPYUSER` and `ADDUSER` command rejected?  Simply duplicates `COPY` and `ADD` but respects previous `USER` directives.  No backwards compatibility issues, and should be fairly straightforward to implement and docume

[2016-08-30 19:31] pnickolov opened #26159 "Proposal: add pause/unpause to `service update` in mission-critical apps"
When deploying a new version of a container with multiple replicas to live production apps, the operator sometimes needs to pause the rollout process either to check something (logs, performance) or to deal with an issue that may be showing up before allowing the rest of the rollout to proceed (e.g., a low number of request failures, slowdowns - things that are worrisome but may not justify rollba

[2016-08-30 19:44] pnickolov opened #26160 "Proposal: support manual control of `service update` process / canary"
When deploying a new version of a container with multiple replicas to live production apps, especially apps under load, operators frequently need to control the process of replacing the old version containers with the new version container - e.g., to check the error logs, end-to-end app performance, etc., before proceeding with the next replica (or next set of replicas).

While it is possible to s

[2016-08-30 19:45] pnickolov commented on #26159
Note: this proposal may affect or may be affected by #26160

[2016-08-30 19:49] dnephin commented on #26099
This url is wrong, the correct url is `/containers/json`. The issue is how curl is interpreting the url.

I had to use: `curl -v --unix-socket /var/run/docker.sock http://localhost/containers/json` to get it to work (on alpine:3.4).  If this command is documented somewhere in the docker documentation, please link it here, and we will make sure to correct the documentation.

Closing this issue sinc

[2016-08-30 19:56] dnephin commented on #20625
We are always interested in specific issues with the API that make it inconvenient to use directly. If you have any such issues please comment in #5893

[2016-08-30 20:15] fxposter commented on #25718
I've managed to reproduce the same problem on 1.9.1.
Interestingly enough - `systemctl daemon-reexec` fixes the problem, but it eventually appears again.

[2016-08-30 20:24] #20529 closed

[2016-08-30 20:33] dnephin commented on #26148
I assume by stack yaml you mean the bundle json?

One of the design goals of the bundle (which admittedly is not well documented at this time) is to keep the bundles portable and safe for distribution (like images).  Adding the number of replicas would violate this design goal.

The number of replicas is more of a property of the environment where it is deployed, not of the application itself. We

[2016-08-30 20:43] icecrime commented on #22684
@zreigz Hi! Are you ok closing this issue or do you think there's additional work to be done to fully resolve it? Thanks.

[2016-08-30 20:48] necrose99 commented on #25517
no problem , just for docker containers , it would be nice to specify in docker file
this container wont run till step X , it can run emulator or not run the emu if on native hardware.

A: on native hardware , (no all that many arm64 docker servers/hosts)
 or
B) inside of another host container/local host ruining Emulator load step.  ie run this bash script.

unfortunately  i'll Have to zip my too

[2016-08-30 20:49] aluzzardi commented on #26137
/cc @mrjana @mavenugo

[2016-08-30 20:52] aluzzardi commented on #26094
/cc @mrjana @mavenugo

Wasn't aware of the `--ip` option. Is this a regression?

[2016-08-30 20:52] dnephin commented on #19425
Ok, I wrote up a script and put it into a [docker image](https://hub.docker.com/r/dnephin/docker-testsuite-report/)

[code]

[code]

Something that I found interested is this:
[code]

We spend over 1/3 of the test time in setup/teardown fixtures.

[2016-08-30 20:52] vieira commented on #11518
Still not working with 1.12.1, build 23cf638

[code]

[2016-08-30 20:53] aluzzardi commented on #26060
/cc @dongluochen

[2016-08-30 20:55] aaronlehmann commented on #19425
ping @dmcgowan

[2016-08-30 21:03] aaronlehmann commented on #26159
I like the idea. This is fairly straightforward on the swarmkit side. We already have a notion of a paused update, but we don't have user control over that.

I suppose this would involve adding a flag to the `ServiceSpec` to indicate that the update should be paused. The flag must be outside the `TaskSpec` so it doesn't trigger a replacement rolling update. `UpdateService` in swarmkit's `controlap

[2016-08-30 21:04] mrjana commented on #25325
I am trying to do a long running test(in a 3 node cluster) with fixes in #25962 which scales a service up and down to see if there are any issues. After that I can post an experimental binary to whoever wants it.

[2016-08-30 21:20] aluzzardi commented on #26160
/cc @aaronlehmann

[2016-08-30 21:28] mlaventure commented on #26129
@zjxpsetp is the error you saying more akin to `Error response from daemon: oci runtime error: container with id exists: e575172ed11dc01bfce087fb27bee502db149e1a0fad7c296ad300bbff178148` ?

If not, can you share the debug logs for your test?

[2016-08-30 21:38] aaronlehmann commented on #26160
I like the idea of being able to manually step a paused update.

I think that rather than specifying separate numbers of tasks to add and remove, it would be better to specify one number with how many "steps" to take. The updater works by atomically stopping an old task and starting a new one at the same time. There is work underway to make this more flexible and allow the new task to start before

[2016-08-30 21:42] stevvooe commented on #25303
@gittycat Ok, great. We are on the same page.

It sounds like you want `--entrypoint` similar to what is in `docker run`.

[2016-08-30 21:52] pcgeek86 commented on #22693
@thaJeztah Any chance of improving the user experience here? I just ran into this same issue, and wasn't really sure where to turn, except Google. Perhaps guiding the user to understanding the scenario would be an improvement, versus simply throwing the error message without any contextual information.

Cheers,
**Trevor Sullivan**
Docker Captain
Microsoft MVP: Cloud & Data Center Management
https:

[2016-08-30 22:07] dpp opened #26167 "Swarm unstable if host's address is different from the public IP address"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Virtual instance running at Hetzner swarmed with instances running on Digital Ocean, Packet, etc.

**Steps to reproduce the issue:**
1. Create a stable docker swarm with machines that all share a machine and public internet address
2. Add a node usin

[2016-08-30 22:19] Sodki commented on #6119
As an alternative I've been looking at [Rocker](http://tech.grammarly.com/blog/posts/Making-Docker-Rock-at-Grammarly.html), which implements this feature, and I think it fits the bill perfectly. Rocker is a tool that build Docker containers, extending the spec of Dockerfiles. Using it in a CI environment should be absolutely straight forward.

[2016-08-30 22:28] febbraro commented on #19697
@pilgrim2go Thanks for the pointer, fixing --cluster-advertise fixes networking for me.

[2016-08-30 22:28] anusha-ragunathan commented on #25511
No luck with repro on CentOS71/devicemapper. And the latest run on CentOS71/devicemapper passed. https://jenkins.dockerproject.org/job/Docker%20Master%20%28experimental%29/4313/consoleText

[2016-08-30 23:02] #26143 closed

[2016-08-30 23:09] sayash opened #26173 "docker import -c 'ENTRYPOINT ["/entrypoint.sh"]' fails"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Physical

**Steps to reproduce the issue:**
1.` CONT=$(docker run -d centos:7)`
2. `docker export $CONT | docker import -c 'ENTRYPOINT ["/entrypoint.sh"]' - some-name`

**Describe the results you received:**
Get the following error:
[code]

**Describ

[2016-08-30 23:31] PatrickLang commented on #21915
@friism can you close this? It's fixed

[2016-08-30 23:37] #21915 closed

[2016-08-30 23:37] jhowardmsft commented on #21915
I did :innocent:

[2016-08-30 23:47] mavenugo commented on #20398
@clinta this issue is not applicable to the overlay networking in swarm-mode since the Service Discovery doesn't use the KV-Store any more for its operation.  We will soon deprecate the  --cluster-store configurations and hence I recommend to close this issue and recommend using swarm-mode

[2016-08-31 00:13] icecrime commented on #26141
Agreed with @cpuguy83, this environment variable is pretty much a lie, but doesn't do anything to cope with versions discrepancies. We're working on it, hopefully we'll have a solid answer by 1.13.0!

I'm closing this one, but please track #25498.

[2016-08-31 00:13] #26141 closed

[2016-08-31 00:14] vikstrous opened #26174 "healthcheck without a shell is not working"
Dockerfile healthchecks don't seem to work if there is no /bin/sh in the container even when using the [""] syntax to specify an executable to run.

**Output of `docker version`:**

[code]
(equivalent to 1.12.1 for the purpose of this bug report)

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**

1. Put t

[2016-08-31 00:18] crosbymichael opened #26175 "Convert unit tests to use gocheck"
Right now the integration tests are using gocheck for having things in suites but we also have unit tests that use the stdlib's `testing` package.

We need to change all the unit tests to use gochecks suites and not use the stdlibs testing package.

Some of the unit test files are:

https://github.com/docker/docker/blob/master/daemon/daemon_linux_test.go
https://github.com/docker/docker/blob/maste

[2016-08-31 00:23] dongluochen commented on #26060
@nitinmidha The issue of service entry clean up is tracking under https://github.com/docker/docker/issues/25325. @mrjana is testing a fix included in #25962. I'd suggest re-run your test after the merge.

[2016-08-31 00:25] dhiltgen opened #26176 "Unable to round-trip network configuration through API"
If you inspect a network, the IPAM Gateway is reported in CIDR notation, such as `10.0.0.1/24` however if you use that same format during network create for the Gateway, the daemon gives an error:
[code]

If we're going to report this in CIDR, we should accept creation with the same syntax.

[2016-08-31 00:29] londoncalling commented on #22753
@justincormack thanks - given this thread, I think we need at least two examples, and perhaps even three, as shown below. What do you think?

1. An example of how to access a service on the Mac host from a container (e.g., would it work to have the app be a webserver like `nginx` connecting  to a redis database on the host?)

2. An example of connecting to a container from the Mac. Does our curren

[2016-08-31 00:37] mlaventure commented on #22507
Is anyone still saying the initial issue as reported by @bikestra on 1.12.x ? If not, I will be closing this issue  in a few day.

[2016-08-31 00:57] garthk commented on #25266
Similar: after internal DNS failure resolving service names, I restarted the Docker service and DNS worked again. Docker 1.12.1 (`23cf638`) in swarm mode.

[2016-08-31 01:00] 625096233 opened #26177 "docker image can't find when i restart my pc"
dear everyone:
my pc is window10 ,when i restart my pc, i run the ( Docker Quickstart Terminal) then Kitematic (Alpha), last when i run docker images,there nothing,but before there has ,such as zookeep,redis ....and so on

[2016-08-31 01:08] weaver commented on #22753
`An example of connecting to a container from the Mac. Does our current nginx example cover the second case, since we expose a port in the run command; i.e., docker run -d -p 80:80 --name webserver nginx?`

I would really appreciate an example of connecting from Mac to container that doesn't involve portmapping. My usecase is running a mesos cluster for local development. If portmapping is the onl

[2016-08-31 01:36] matt-richardson opened #26178 "Environment variables with embedded equals signs are not available in a container on windows."
Environment variables with embedded equals signs are not available in a container on windows.

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Windows Server 2016 TP 5 VM on Azure, created via the `Deploy to Azure` button on https://msdn.microsoft.com/en-au/virtualization/windowscontainers/quick_s

[2016-08-31 02:01] matt-richardson commented on #26178
This also fails in the nightly build:
[code]

[2016-08-31 02:06] dongluochen commented on #25325
@mrjana I can still reproduce the problem on with service create/rm. If I run the following script several times, I can get a failure.

[code]

Service availability is validated with the following script on any node in the cluster.
[code]

I'm running mrjana/docker@3ff7123.
[code]

[2016-08-31 02:11] matt-richardson opened #26179 "Docker run env-file parameter crashes on windows with non-ascii encoding"
Using the `--env-file` parameter on windows causes an error `container XXX encountered an error during CreateProcess failed in Win32: The data is invalid. (0xd)`.

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Windows Server 2016 TP 5 VM on Azure, created via the `Deploy to Azure` button on http

[2016-08-31 02:14] zjxpsetp commented on #26072
@cpuguy83
More info about this defect.
When this defect happened, we found the following message by "docker history", why the base images are missing.

1b0ed4fe3b6f        12 weeks ago        /bin/sh -c #(nop) ENTRYPOINT ["sh" "/opt/star   0 B
<missing>           12 weeks ago        /bin/sh -c chmod -R 655 /opt/bbo/  && chmod 7   27.53 MB
<missing>           12 weeks ago        /bin/sh -c #(nop) A

[2016-08-31 02:30] dmytro commented on #23302
I had the same issue with the swarm running on top of `etcd`, but was able to recover from it. Issue might have been caused by reboot of the CoreOS box.

Recovery procedure was: find trouble network endpoint in `etcd` and delete it. Here is what I did:

* Using `docker network inspect <network>` find trouble endpoint and it's ID:

<             "ep-abaeb8d676bb077553d254b563931bfae0d38275d9aaf2888

[2016-08-31 02:34] dkastner commented on #18010
FWIW this happened for me on amazon linux 4.4.5-15.26.amzn1.x86_64 with docker 1.9.1 using the devicemapper filesystem. I had hundreds of stopped containers. Once I deleted them, new containers were able to write properly.

[2016-08-31 02:42] yongtang commented on #26179
I am wondering if the env-file you provided is in UTF-16 format in Windows? Not sure docker is able to handle UTF-16. Maybe you could try with an ASCII file.

[2016-08-31 03:11] gittycat commented on #25303
My preferences are (in that order)

1. Make the service command overwrite the image `ENTRYPOINT` and `CMD`.
    Eg: `docker service create someimage echo "hello"` should always echo "hello" independent of what's in the image ENTRYPROINT and CMD.

2. Add `--entrypoint` to the `docker service create|update` api. That's still confusing but at least we can overwrite the entrypoint, which isn't the cas

[2016-08-31 03:41] matt-richardson commented on #26179
Bizarrely, if I use notepad to change it, I get the same error on `ANSI`, `Unicode`, `Unicode Big Endian` and `UTF-8`.

If i use `"FOO=BAR" | Out-File -FilePath .\env.list -Encoding ascii`, it works.

So, it appears the real issue is `--env-file` doesn't support non-ascii encodings. I'll update the title.

[2016-08-31 03:50] mrjana commented on #25325
@dongluochen I don't think this is a right validation. If you are trying to create and remove a service  and also run `curl` on the said service in parallel periodically the curl is bound to fail sometimes because the service is not available a during a fraction of time when the service is removed and getting re-added. What you did previously is the right way to validate service create/rm

[2016-08-31 04:41] hopeseekr commented on #20486
I have to delete all my containers, all my images, and start from scratch. It is infuriating and time consuming.

[2016-08-31 04:43] jamesone commented on #14339
Make sure your naming is correct! I had Dockefile :P This was also generated by IntelliJ

[2016-08-31 04:53] zxf969175364 opened #26184 "CentOS 7 Fail push to private insecure registry"
Hello! I have a problem.
### Output of docker version:

[code]
### Output of docker info:

[code]
### my use yum install https://yum.dockerproject.org/repo/main/centos/7/Packages/docker-engine-1.12.0-1.el7.centos.x86_64.rpm install docker
### not to exist:

/etc/sysconfig/docker `OPTIONS='--selinux-enabled=true --insecure-registry=139.196.198.242:6666'`

/etc/default/docker  `DOCKER_OPTS='--selinu

[2016-08-31 05:03] zreigz commented on #22684
Yes I can close it

[2016-08-31 05:03] #22684 closed

[2016-08-31 05:27] stapelberg commented on #11518
Yes. https://github.com/docker/libnetwork/pull/1367 is still not merged. https://github.com/docker/go-connections/pull/17 is done, but I think the vendored copy of go-connections might not be updated yet.

[2016-08-31 05:40] wyxgit commented on #26011
?, any solution for this?

[2016-08-31 05:51] gittycat commented on #26038
I'm getting a similar result at times when creating/deleting services (ie: not performing any action on the node/daemon itself).

I'm under VMware Fusion, boot2docker.

[code]

[code]

docker version
[code]

[2016-08-31 06:00] viral-1 commented on #24675
I am running Sierra version 10.12 and Docker 1.12.0

Docker says it is running... but at the command prompt... the following commands just hang:
docker images
docker ps
docker run
docker start

Out of frustration... I have installed virtual box and run Linux to get docker working correctly on my Mac.

[2016-08-31 06:27] aluzzardi commented on #26167
/cc @aaronlehmann

[2016-08-31 06:34] mrjana commented on #26094
@aluzzardi It's not a regression. `--ip` option is for docker containers exposed ports. It has no effect on service's PublishedPort.

@dariko The service `-p` option is not the same as `-p` option in `docker run`. It's meaning and behavior is very different from that of the containers.

[2016-08-31 06:36] ragingnerd commented on #25488
```sudo apt-get install apparmor ``` followed by ```sudo service docker restart``` helped me

[2016-08-31 06:58] andreas4all commented on #20486
only what works for me is stop docker daemon, then delete `/var/lib/docker/network/files/local-kv.db` and after all recreate all containers :( .

[2016-08-31 07:15] pootow commented on #22693
+1 same issue here, and no way to go. 💔

[2016-08-31 07:18] hervenicol commented on #25303
Hey all,

I'd rather like second choice from @gittycat , as it's the way it has always been with either docker standalone or classic swarm.

I, as well as lots of people, have already created images that take advantage of this entrypoint / command logic. If the «command» arguments to «service create» override the entrypoint, that's going to be a mess !

[2016-08-31 07:33] dariko commented on #26094
@mrjana
Maybe, if the `--ip` option is not to be applied to containers executed as part of a service, this could be explicited in the documentation? As a daemon options I thought it would have been applied to every container running in that daemon context.

Anyway this option can be useful even when applied to containers started as part of a services: right now I can't find a way to have those con

[2016-08-31 07:35] gittycat commented on #25303
@hervenicol As @stevvooe mentioned in some other post, this is a chance to get things right by removing the confusing mess that is entrypoint/cmd. Once `entrypoint` is added as an option to `docker service`, we'll be stuck with it forever.

I strongly prefer the first option; override entrypoint/cmd by the service command.

[2016-08-31 07:47] hervenicol commented on #25303
If docker chooses to go that way, then entrypoint should be also deprecated on standalone docker.

But I think the entrypoint / command is convenient, once you understand it.

For instance, if you look at how to run a consul image (https://github.com/gliderlabs/docker-consul/tree/legacy):
`docker run progrium/consul -server -bootstrap`
You don't have to care about what's the path/name of the app,

[2016-08-31 07:59] hopeseekr commented on #20486
I just confirmed @andreas4all's work around works! And it definitely saves me time from having to `docker load` all of my images again.

[code]

[2016-08-31 08:04] aleemb commented on #22185
Thanks for sharing that insight. Don't want to hijack this thread, but do you have any throttling data? If there is any level of throttling, I suspect for large sites it would be best to not use Google DNS anymore.

Especially considering that UDP caching has been turned off with this fix. Which means more queries will end on on Google's DNS servers and throttling could slow things down.

@thaJezt

[2016-08-31 08:30] hhirsch commented on #22507
@mlaventure Yes. On Arch I get this even though I kill all old processes.
# docker daemon -D
DEBU[0000] docker group found. gid: 994
DEBU[0000] Listener created for HTTP on unix (/var/run/docker.sock)
INFO[0000] libcontainerd: new containerd process, pid: 18915
DEBU[0000] libcontainerd: containerd connection state change: TRANSIENT_FAILURE
WARN[0000] containerd: low RLIMIT_NOFILE changing to max

[2016-08-31 08:37] hhirsch commented on #22507
@mlaventure Never mind. Problem fixed itself when I updated to newest arch.

[2016-08-31 08:42] wmario commented on #22981
Hi guys

I think I've just revolved the same issue on my W10 :

I moved my windows to latest release (1607)
Then I went on Hyper-v to check the VM Management Integration services : I uncheck all an check back all option there (included guest services and data sharing)...
Restarted using Docker applet then it workked....

As i upgraded W10  from 1511 to 1607,
I do not know if it is my Hyper-v optio

[2016-08-31 08:46] mishak87 commented on #12886
@thaJeztah I feel like this PR got stuck. Should I rewrite it to make it work with latest changes?
I could make time for it end of September.

[2016-08-31 08:57] manixx opened #26189 "Differences between per-hand-created and Dockerfile-created container: Potential permission issues?"
I have some troubles installing a dockerized version of the mysql-cluster. At the first sight it seems that there were some problems with the cluster itself, but after some tests I think this problem is docker-related.

Sadly the error is hard to explain because there is no docker error message, its more a strange behavior of the container itself. Futhermore the given error message by the mysql-cl

[2016-08-31 09:12] mindnuts commented on #26099
@dnephin Here you [go](https://docs.docker.com/engine/reference/api/docker_remote_api/#/docker-remote-api), link to Docker documentation

[2016-08-31 09:18] gittycat commented on #25303
@hervinicol Yes, you describe the whole reason for having an `entrypoint`. It makes it possible to treat a container as if it were an executable. It's nice at first but I personally have stopped using this. I much prefer having things explicitly visible in docker-compose or in command line scripts. For each image that I use, I always end up having to go to the Dockerfile to see what the ENTRYPOINT

[2016-08-31 10:26] no7dw commented on #25488
agree with @ragingnerd . it helps. thx

[2016-08-31 10:33] VirtueMe commented on #24966
After deleting the recommended file and folder and reinstalling Docker it worked for us.

[2016-08-31 10:41] frimdo commented on #26148
That is reasonable. You are right. (I meant [this stack yaml](https://docs.docker.com/docker-cloud/apps/stack-yaml-reference/)

Than I think "docker deploy" command should have this feature. So you can for example do
[code]
So you can deploy and scale in one command.

[2016-08-31 11:01] TactfulElf commented on #20240
Hi,

I had an update from the aufs developer:

Hello Dave,

Thanx for the report and the patch.
You are right. That is a bug of aufs dirperm1 option. I will include
your patch into next release. I hope you won't mind that the fix won't
be merged into aufs3 and aufs4.0.

J. R. Okajima

[2016-08-31 11:27] cmingxu commented on #26148
For YAMl, we already have docker compose, which turns out not very good option for programing friendly perspective.

I think we should have ADB a standard and have conversion from YAML to bundle json leave to other tools.

[2016-08-31 11:45] thonatos commented on #25039
The same here.

## #Log

[code]

## #Inspection

[code]

## #Docker Info

[code]

[2016-08-31 11:52] frimdo commented on #26148
Yop, I understand and agree. But what I wanted to point out was the possibility to deploy and scale whole application in one command

Than I think "docker deploy" command should have this feature. So you can for example do

[2016-08-31 12:13] ypjin opened #26193 "docker daemon crashed in swarm manager when updating a service via API"
**Output of `docker version`:**

[code]

**Output of `docker info`:**
in swarm manager
[code]
**Output of `docker node ls`:**
in swarm manager
[code]
**Additional environment details (AWS, VirtualBox, physical, etc.):**

AWS, Red Hat Enterprise Linux 7.2 (HVM), SSD Volume Type - ami-d1315fb1

**Steps to reproduce the issue:**
I have a swarm (swarm mode) with three managers, one master and two slav

[2016-08-31 12:17] HitmanDeCoder commented on #24672
Version 1.12.0 - stable
Windows 10 Enterprise .
    I also had same issue. As per @taylorsilva  It is working , when I start it with admin permission (Run as Admin) .

[2016-08-31 12:30] wyxgit opened #26194 "How does it work? Docker overlay? gwbridge?"
Two docker hosts, etcd as kvs. Etcd is healthy.

[code]

The normal way to add a container to an overlay network does not work. The problem is the network connectivity to overlay...

[code]

In this case the container is attached to two networks by default (gwbridge and overlay):

[code]

I would like to ping a container on another host connected to the overlaynet also:

[code]
......no answer.

W

[2016-08-31 12:46] superhero opened #26195 "restart policy : unless-stopped | wont start after reboot"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Steps to reproduce the issue:**

1. start multiple containers (no links) with the restart policy: "`unless-stopped`"
2. reboot the machine
3. `docker ps -a` shows that 1 or more wont start, seems to be random which. `Exited (128)` as status. Sometimes it just works for them all...
4. `docker logs ##id##` wont give any

[2016-08-31 13:01] vdemeester commented on #26174
Marking this as enhancement because it's not working *by design* it seems, but I really think it should work :angel:. I'll take a look, but /cc @talex5

[2016-08-31 13:05] cpuguy83 commented on #20486
ping @aboch please have a look

[2016-08-31 13:14] TheBeeMan opened #26196 "memberlist failed to receive message from remote node for EOF error"
### Issue description:

### Client:

### Server:

[2016-08-31 13:19] manast opened #26197 "Restrict the routing mesh to only route a given service to a given set of nodes"
Sometimes when sharing front facing services in a docker swarm it is necessary to be able to restrict on which nodes a given service should be available. This is quite different of the --constraint flag, which only restricts in which nodes a given service is allowed to run.

(see old discussion here: #26007)

[2016-08-31 13:22] ginkel commented on #26038
@aaronlehmann

The machines are on GCE, so they have external dynamic IP addresses, but internal static addresses (from 10.0.0.0/8). The swarm has been set up to use the internal static IP addresses, so address changes should not be an issue.

As the issue happens only sporadically and I recreated the cluster in the meantime, I currently do not have access to further logs. I'll update the ticket a

[2016-08-31 13:24] dfmadrid commented on #23089
I found this problem after a yum update in Red Hat. Delete (or move) devicemapper folder and start docker, it will be recreated and docker will start normally:

$ rm -rf /var/lib/docker/devicemapper
$ systemctl start docker

[2016-08-31 13:33] sipicsg commented on #25357
As the systemd usually handles systemv type startup (/etc/init.d/docker start), it's a bit confusing if the variables from /etc/default/docker are not passed.

Preferred solution is

EnvironmentFile=/etc/default/docker
ExecStart=/usr/bin/docker daemon -H fd:// $DOCKER_OPTS

[2016-08-31 13:34] gabrielstein opened #26198 "BUG: docker-compose running on Windows doesn't pull images from private Registry"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

`OS: Windows 10 Pro
` Two private registry tested

**Steps to reproduce the issue:**

1.docker login private.registry.tld(Should result: Login Successful)

[code]

2.docker-compose up -d

[code]

3.Using docker-compose pull

[code]

4.If I pull them

[2016-08-31 13:53] cpuguy83 commented on #26184
`--insecure-registry` just means that the server's TLS certificate authority is not trusted locally.
Docker will refuse to pass credentials to a non-TLS enabled registry.

[2016-08-31 14:00] cpuguy83 commented on #26189
This looks suspicious:
[code]

Indeed there are some weird permissions issues that crop up with AUFS where permissions change on two different layers.

Also not sure why you would chown everything to root, then later chown everything to mysql.

[2016-08-31 14:01] tovin07 commented on #26092
Thank you!

However, I think we should update current documentations for this section.

[2016-08-31 14:01] #26092 closed

[2016-08-31 14:16] vikstrous commented on #26174
Well, according to the documentation, it should work, so it looks more like a bug to me. https://docs.docker.com/engine/reference/builder/#healthcheck

[2016-08-31 14:18] vdemeester commented on #26174
@vikstrous true :angel: but according to code, it calls `sh` :sweat:

[2016-08-31 14:25] cpuguy83 commented on #26193
Thanks for the note on the panic.
Can you open a separate issue for the 2nd problem you found?

[2016-08-31 14:26] cpuguy83 commented on #26193
ping @aboch

[2016-08-31 14:43] friism commented on #26198
I don't quite understand why you're getting that error, but I think the first problem is that you're running this against a Linux Docker daemon. You need to run a Windows Docker daemon to pull and run Windows Docker images. I posted an overview here: https://forums.docker.com/t/linux-and-windows-images-side-by-side/20518/4

If you fix that, I think you'll find that docker-compose won't work on Win

[2016-08-31 15:02] gabrielstein commented on #26198
Hi!

Thank you for quickly answer!

Well, I just downloaded Docker for Windows and then installed it with next=>next... finish. What should I do, to install the Windows Docker Daemon? And where is it documented?

I tried this example, and it works: https://docs.docker.com/compose/wordpress/

But why isn't possible with my private registry? Should I post the logs from my registry?

[2016-08-31 15:03] gabrielstein commented on #26198
And BTW: I build it and pushed it using a linux machine, and it runs without problems on Linux/Mac environments.

[2016-08-31 15:04] ajays20078 commented on #26009
Any updates on this?

[2016-08-31 15:13] Hosweay commented on #25266
I have restarted the service before and it didn't help. Also, to clarify the DNS resolves to the VIP just fine. DNS resolution isn't broken. It's that the routing of the service's port using the VIP is not working. Even bypassing DNS and using the VIP address directly has the same no route to host.

[2016-08-31 15:18] manixx commented on #26189
Thank you for your reply! You are totally right! The third line should look like this:

chgrp -R mysql .

I did this in my previous tests, which also failed. I will update the issue soon.

[2016-08-31 15:23] friism commented on #26198
To run Windows Docker containers, you have to install the Windows Docker engine. That's what's outlined here: https://forums.docker.com/t/linux-and-windows-images-side-by-side/20518/3

(we know this is a bit confusing, and we're working on also shipping the Windows Docker engine in Docker for Windows. At the moment Docker for Windows only includes a Linux Docker setup)

[2016-08-31 15:28] justincormack commented on #26150
I think this is a kernel issue, as Docker does not control `/proc/cpuinfo`.

You should be able to work around with `docker run --cpuset-cpus=4-7 ...` until the kernel is fixed.

[2016-08-31 15:30] gabrielstein commented on #26198
OK, but I need that? I will just use Linux-Containers on Windows.

My example that I posted first, was a Container that uses a Ubuntu Image and it will be a "wrapper" to npm/node.

[2016-08-31 15:32] imjosh commented on #22185
@aleemb yes, I was seeing what appeared to be throttling when using 8.8.8.8

To eliminate this problem I've created a container running dnsmasq to act as a DNS cache.  I have the dnsmasq container using 127.0.0.11 as its nameserver (to keep inter-stack name resolution working) and my application containers use the dnsmasq server.

One problem I need to solve is how to make the needed changes to re

[2016-08-31 15:36] jayniz commented on #22185
resolv.conf when the containers deploy since I'm using Docker Cloud and
Docker Cloud manages that file.

Yeah, the `--dns-opt` option would help (to set `use-vc`), but it's not
available in Stackfiles (yet?)... But couldn't you use the `--dns` option
to point your app containers to your dns container?

[2016-08-31 15:41] nitinmidha commented on #26060
Ok Thanks. I will run my tests, once binary is available ...

[2016-08-31 15:49] imjosh commented on #22185
@jayniz, ah I didn't notice there was a dns option available in stack yaml, but there it is.

Setting `use-vc` doesn't seem to yield any improvements for me for some reason.

[2016-08-31 15:51] Hosweay commented on #26106
So I removed the --userns-remap=default from all the nodes in the swarm, which required me to create a new swarm and all the above steps worked. The VIP responds as expected.

So this is possibly related to user namespaces.

[2016-08-31 15:52] rprots opened #26202 "Mount directory from other container"
Would like to have ability to mount directory (which has application binary in it) into container (`container1`) from other container (`container2`).

Here is `docker-compose.yml` that was tried:

[code]

But whenever binary app changes and `container2` image gets built the `container1` still sees the old binary app.

[2016-08-31 15:53] jayniz commented on #22185
reason.

For me it looked like it works when set manually in the container. But
setting it in the host's resolv.conf didn't have any effect.

[2016-08-31 15:54] realseanp opened #26203 "Passport User Sessions Not Persisting With Docker"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Steps to reproduce the issue:**

1. Create a node js application using passport js for user authentication and storing user sessions.

2. Use connect mongo module to save user sessions to database

3. Log in as registered user

**Describe the results you received:**
The user session is not being persisted on refresh e

[2016-08-31 16:00] talex5 commented on #26174
This is certainly a bug. `docker inspect` should show `CMD`, not `CMD-SHELL` in this case.

In wonder if we're attaching the json attribute to the wrong AST node. It's supposed to return it here:

https://github.com/docker/docker/blob/ad6f5a49d5f24f8b64def11176b6c8df162d839f/builder/dockerfile/parser/line_parsers.go#L360

and check it here:

https://github.com/docker/docker/blob/ad6f5a49d5f24f8b64

[2016-08-31 16:03] imjosh commented on #22185
how do you set it manually?

[2016-08-31 16:08] flixr commented on #26150
Actually when I run `cat /sys/fs/cgroup/cpuset/cpuset.cpus` on the host I get `0-7` as expected, running it in a docker container I only get `0-3`...

If I try starting the container with `--cpuset-cpus=3-7` I get an error:
[code]
which I don't understand...
Is this a kernel cgroup problem? Is docker doing some detection magic here? Or is this somehow restricted at start from the docker daemon (ru

[2016-08-31 16:15] runcom commented on #26152
@dnephin tried master, works fine, closing (thx)

[2016-08-31 16:15] #26152 closed

[2016-08-31 16:15] #26203 closed

[2016-08-31 16:15] Hosweay commented on #26106
Recreating everything with --userns-remap=default once again causes the no route to host error when using the VIP.

I also noticed after recreating everything that network files are being created outside of the Docker Root Dir: /var/lib/docker/500000.500000 and directly in /var/lib/docker. I noticed these were created shortly after creating the swarm and joining the swarm from the workers.

Perhap

[2016-08-31 16:18] justincormack commented on #26150
That is odd. I don't think docker is doing any magic there. Is the docker daemon being started in a restricted cpuset? (Not sure how you are running it).

[2016-08-31 16:21] justincormack commented on #26157
It might help if you can provide the logs from Docker when this happens. You can use the diagnose function in Docker for mac and we can look at the logs and see if there are errors - it may well be a Docker for Mac specific issue.

[2016-08-31 16:26] aboch commented on #20486
@andreas4all
My setup is especially similar to yours (from docker info). But I am not able to reproduce the issue neither with 1.12.0 nor with 1.12.1. While it seems it is consistent for you.

If you stop the newly started container with mapped port 8081, are you able to start a new container with port mapped to 8081 ?

If no, then it must be the bridge driver consistently fails to release the map

[2016-08-31 16:30] aaronlehmann commented on #26038
Thanks @ginkel!

[2016-08-31 16:30] sanimej commented on #22185
@aleemb Docker embedded DNS server never did any caching of external queries. What was cached was the UDP socket to the external server. This has been removed. The number of queries the external server sees would be the same before & after the fix.

On the rate limiting by Google DNS servers, obviously they won't give out the specifics except for what is mentioned here..
https://developers.google.

[2016-08-31 16:30] jayniz commented on #22185
Enter the container with `docker exec -ti containerid bash` and edit
`/etc/resolv.conf` :)

[2016-08-31 16:33] flixr commented on #26150
I didn't change any configuration for running the daemon and just kept the default Ubuntu 14.04 configuration, it's running as
[code]

[2016-08-31 16:38] niij commented on #23347
I was getting the errors when trying to install docker-engine on Ubuntu 16.04 Xenial:

my fix was:
apt-get install dmsetup
dmsetup mknodes
#then follow the standard docker install process at [docker](https://docs.docker.com/engine/installation/linux/ubuntulinux/)

[2016-08-31 16:47] aaronlehmann commented on #26167
Thanks very much for the detailed report. I've seen a few similar issues recently, and I'm eager to find and fix the root cause.

@tonistiigi: This is related to https://github.com/docker/docker/issues/26038#issuecomment-243537936

`--advertise-addr` shouldn't be necessary when joining an existing cluster. The manager it connects to should detect the new node's IP address and use that automaticall

[2016-08-31 16:54] crosbymichael commented on #6688
@cpuguy83 I would rather not have something like this at all.  There are some usability issues that this would introduce.

As far as fulfilling the need for better cleanup; we are currently working on data management commands in #26108 that should help with the original request and also provide better viability into where space is being consumed.

[2016-08-31 16:54] #6688 closed

[2016-08-31 17:20] niij commented on #23347
....also:

make sure you REBOOT your server after installing docker (it appears the devicemapper requires a reboot to work correctly).

[2016-08-31 17:35] dongluochen commented on #25325
@mrjana I'm validating after the last `service create`, not in between. I rerun my test from fresh cluster (start docker after removing `/var/run/docker` and `/var/lib/docker` on all the nodes) with the following script. After the test run the service is up, but load balancer is not passing traffic properly.

[code]

Here is the `mangle` table from ingress sandbox on the node with the container ru

[2016-08-31 17:41] mrjana commented on #25325
@dongluochen Thanks for the clarification. In your previous script you had a 15sec sleep between the create and remove. In the new one you don't. Is that of importance in terms of reproducibility?
I will try your latest script to see if I am able to repro.

[2016-08-31 17:54] alph486 commented on #5618
Using Kubernetes 1.3.4 on CoreOS 1068.9.0 stable I see this problem.
[code]

[2016-08-31 17:54] crosbymichael commented on #25380
Lets not expose this right now.  If we have a few other people providing usecases for this type of feature we can look at it again.  Pids is one thing we want to kinda abstract away and have the container be the unit that people interact with in the engine.

[2016-08-31 17:54] #25380 closed

[2016-08-31 17:56] dongluochen commented on #25325
I got similar problem with the previous script. The 15 seconds was to validate each service create was successful. The latest script makes reproduce fast.

[2016-08-31 18:10] Telmo opened #26210 "When starting docker daemon with TLS the API wont listen in a local socket."
Prior to 1.12 we were able to start docker with TLS for tcp connections coming from another hosts, while at the same time being able to use the client locally with the unix socket. As of 1.12 this seems to be non functional, starting TLS with the options

[code]

creates the following error:

[code]

Removing the offending `-H fd://` causes docker to only listen to TCP and the client unable to tal

[2016-08-31 18:17] djenriquez commented on #26023
@mrjana:
[code]
[code]
The `iptables` command took a few seconds to complete, is that normal?

[2016-08-31 18:43] jayniz commented on #22185
removed

Oh, is there an issue/PR for us to track? Can't wait to see this in
production!

[2016-08-31 18:57] sanimej commented on #22185
@jayniz It has already been merged and available in 1.12.

https://github.com/docker/docker/issues/22185#issuecomment-234917995

I am not sure if its available in Docker cloud though.

[2016-08-31 19:06] aaronlehmann commented on #26167
I looked into this and found that remote-side address detection is indeed not working as it should. I've opened #26211 to address this part of the issue. Thanks again for the report.

We are also looking into avoiding the bad state that results from an incorrect advertise address being specified or detected. https://github.com/docker/swarmkit/pull/1440 is related to this. It prevents certain error

[2016-08-31 19:09] nrvale0 commented on #23471
I've seen similar behavior on Ubuntu 16.04 with the following 'docker run' as a sanity check for Alpine in general:

[code]

Here's the output of the diag script:

[code]

[2016-08-31 19:26] aaronlehmann opened #26213 "docker swarm join swallows errors"
When joining as a manager, and the join fails (for example, when specifying an incorrect `--advertise-addr` value), `docker swarm join` does not report an error. Instead runs for awhile, and then exits silently, leaving the node in a bad state.

Example:

[code]

cc @tonistiigi

[2016-08-31 20:03] cpuguy83 commented on #26202
Then why not copy the binary into the other image/container?

[2016-08-31 20:03] dpp commented on #26167
Thank you all for the quick and diligent efforts to resolving these issues!

[2016-08-31 20:06] tonistiigi commented on #25848
Happened again on https://jenkins.dockerproject.org/job/Docker%20Master%20(arm)/2997/console

[2016-08-31 20:07] pnickolov commented on #26160
@aaronlehmann, I agree - doing it the way you propose makes sense. It is also simpler as interface and still addresses the need. Thanks! If I understand correctly, if I specify making, let say, 3 steps, the updater will do 3 steps using the normal method (including delay, etc.) and then stop/pause. Correct?

It looks like `update-pause`, `update-unpause` and `update-step N`

It will still require,

[2016-08-31 20:47] tonistiigi commented on #25654
You can't load layers individually but you don't have to have all the layers in tar if docker already has them https://github.com/docker/docker/pull/18727

[2016-08-31 20:52] rprots commented on #26202
Reasons can be here:

- legacy e.g. part of the older libraries reside in one git repository (and built as container2) and new reside in another git repository (built as container1). container1 runs the resulting app which depends on libraries from container2.
- container2 builds HTML source (Sphinx documentation site) and container1 is simply nginx which serves HTML located in mounted directory f

[2016-08-31 20:57] cpuguy83 commented on #26202
You can already `volumes_from`.

[2016-08-31 20:59] niokkong opened #26217 "panic: send on closed channel on tag 1.6.2"
package pubsub
//1.6.2tag:
// Close closes the channels to all subscribers registered with the publisher.
func (p *Publisher) Close() {
	p.m.Lock()
	for sub := range p.subscribers {
		close(sub)
	}
	p.m.Unlock()
}

//1.7
// Close closes the channels to all subscribers registered with the publisher.
func (p *Publisher) Close() {
	p.m.Lock()
	for sub := range p.subscribers {
		delete(p.subscribers,

[2016-08-31 21:02] aboch commented on #25608
@b0ch3nski
I tried multiple times today with the debug logs enabled and was not able to reproduce.
But eventually I hit the issue when I was not expecting it, I had no debug logs enabled.
I am testing with latest code with a change in keymanager which increases the key rotation frequency.
ATM, I still don't know how to trigger the issue.

[2016-08-31 21:03] aaronlehmann commented on #26160
Yes.

Perhaps it would make sense to have a `--pause` flag on `service update` instead of an `update-pause` subcommand. This would actually fit the data model well, since I'm thinking the pause flag should be part of the service spec (see https://github.com/docker/docker/issues/26159#issuecomment-243580196).

In this model:

- `docker service update --pause servicename` would pause an ongoing upda

[2016-08-31 21:14] cpuguy83 commented on #26217
Thanks, this is long fixed. Closing.

[2016-08-31 21:14] #26217 closed

[2016-08-31 21:15] gumho commented on #26157
My colleagues and I have been seeing this issue multiple times. We are also using Docker for Mac and it seems to be happening on both the 1.12.0-rc2-beta and the 1.12.0 stable. The only way to fix the problem when it comes up is quitting Docker for Mac or killing all the Docker processes and restarting the daemon.

[2016-08-31 21:16] pabloab commented on #22338
To avoid runin that command each time try on your windows git bash CLI:
`echo 'eval $("C:\Program Files\Docker Toolbox\docker-machine.exe" env default)' >> .bash_profile`
This will append that string at the end of .bash_profile. Open a new instance to changes take effect.

[2016-08-31 21:23] sixeyed commented on #23314
@thaJeztah - seems to still be an issue. I've just run TP5 from the Azure image `2016-Technical-Preview-with-Containers`  and upgraded manually to 1.12.1. Running a basic `docker network create -d overlay winweb` gives the `plugin not found` error, and in the Event Log I see `Unable to locate plugin: overlay, retrying in 8s`.

Originally I had this Windows box as a worker node in a Linux swarm. I

[2016-08-31 21:29] msabansal commented on #23314
@sixeyed We are working on adding swarm support but its not released in RS1. You can create multiple nat networks with some new changes but that requires a docker PR to be merged and some manual configuration on the system which we will be documenting soon.

https://github.com/docker/docker/pull/25097

[2016-08-31 21:30] cpuguy83 commented on #26210
`-H fd://` is for socket activation. Socket activation was the source of many problems, so support for the socket was removed (note that there is no docker.socket file anymore).

Docker's unit file is not meant to be modified directly (or really any unit file, not just docker). You can modify the settings by using a drop-in file: https://docs.docker.com/engine/admin/systemd/#/custom-docker-daemon-

[2016-08-31 21:30] #26210 closed

[2016-08-31 21:33] nathanleclaire commented on #26210
FYI as well @Telmo, `unix://` might be what you had in mind.  TLS + local unix socket communication works fine in boot2docker 1.12.1 / docker-machine.

[code]

[2016-08-31 21:34] cpuguy83 commented on #26210
Thanks @nathanleclaire I forgot to mention

[2016-08-31 21:34] nathanleclaire commented on #26210
NP!

[2016-08-31 21:42] dissipate commented on #11407
I'm getting similar issues with overlay networks on Swarm. At first the DNS works fine, then it gets really slow, and then stops working altogether. Never had an issue in bridge mode, though.

[2016-08-31 22:10] nishanttotla commented on #25952
@manast could you provide daemon logs for all three nodes? In a previous comment, it seemed like at least one of the containers for the service did get started.

[2016-08-31 22:43] manast commented on #25952
@nishanttotla I think you mean @geNAZt not me :)

[2016-08-31 22:46] dissipate commented on #11407
tantra35:

Same thing is happening to me on docker 1.11.1. I spin up a container on an overlay network and execute dig one after another (waiting for each dig to finish). Eventually, after a number of dig requests, the DNS slows down and then after a certain number of dig requests after that, dig starts failing completely with `;; connection timed out; no servers could be reached`.

[2016-08-31 22:47] nishanttotla commented on #25952
That's right, my bad! I did mean @geNAZt :)

[2016-08-31 23:02] friism commented on #26198
@gabrielstein ah, sorry - if you're just wanting to use Linux containers, you should be fine.

Can you check whether this works with a private Docker Hub repo (first one is free). Also, are you using the wincred credential helper with Docker?

[2016-08-31 23:04] crosbymichael commented on #15397
Because of the recent changes with docker if you are still running into this issue please reopen it.

We now have features like live-restore that allows containers to live after the daemon is killed and the default handling for containers has been improved.

Thanks!

[2016-08-31 23:04] #15397 closed

[2016-08-31 23:08] crosbymichael commented on #14440
I think with the recent changes that were merged this has been explain a little better.

@phemmer let me know if there is anything else we can do and I'll reopen this with something actionable for us to complete.

Thanks!

[2016-08-31 23:08] #14440 closed

[2016-08-31 23:13] vikstrous opened #26220 "can't disconnect container from default network before starting it"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
physical

**Steps to reproduce the issue:**

1. docker create --name tmp -it alpine sh
2. docker network disconnect $(docker network ls | grep bridge | awk '{print $1}') tmp

**Describe the results you received:**
[code]

**Describe the results you ex

[2016-08-31 23:20] ktwalrus opened #26221 "Add --mode=singleton for docker service create"
I need to run single task services on a swarm overlay network. In previous versions, the docker run command could be used, but the new swarm mode doesn't allow classic containers on a swarm overlay network.

I can define a service with `--mode=replicated --replicas=1 --endpoint-mode=dnsrr` which almost works except that the service can be scaled later by some admin in production. My single task se

[2016-08-31 23:27] #26174 closed

[2016-08-31 23:28] dissipate commented on #11407
So far I am not having this issue in `Docker version 1.12.1, build 23cf638`

[2016-08-31 23:49] icecrime commented on #26221
This is being solved in #25962: can you please confirm that this PR could work for you?

[2016-08-31 23:59] ktwalrus opened #26222 "Add --endpoint-mode=dnsleast for load balancing a docker service"
I haven't tried this yet, but I believe the new HEALTHCHECK Dockerfile command can be used to exclude a task from receiving load balance service traffic, but the return status can only be 0, 1, or 2 with 0 being healthy and 1 being unhealthy.

In my deployment, I currently run HAProxy instances to load balance service traffic to single task services. HAProxy allows more options than just RoundRobi

[2016-09-01 00:06] ypjin opened #26223 "swarm state incorrect after docker daemon crashed in swarm manager"
This issue was found in the scenario described in https://github.com/docker/docker/issues/26193.

**Output of `docker version`:**

[code]

**Output of `docker info`:**
in swarm manager
[code]
**Output of `docker node ls`:**
in swarm manager
[code]
**Additional environment details (AWS, VirtualBox, physical, etc.):**

AWS, Red Hat Enterprise Linux 7.2 (HVM), SSD Volume Type - ami-d1315fb1

**Steps

[2016-09-01 00:08] ypjin commented on #26193
@cpuguy83 I opened another issue for the swarm state problem: https://github.com/docker/docker/issues/26223. Thanks!

[2016-09-01 00:15] ktwalrus commented on #26221
I think that PR would mostly work, but I only quickly skimmed all the commentary and don't exactly understand its implications.

I like the idea of `--mode=singleton` since I could update the service to a new image (newer version) and docker could probably do a proper replacement where the new task would come up and start receiving new connections while the old task is still available to finish it

[2016-09-01 00:20] mackeyja92 commented on #26137
Seems similiar to https://github.com/docker/docker/issues/25497

[2016-09-01 00:30] vcaputo commented on #15855
FYI I'm seeing this issue on docker 1.12.1 w/go 1.6.3 on CoreOS (dev build, alpha 1153.0.0 is similar) running the following test:
[code]
with  `--userland-proxy=false`

I'm attempting to repro `https://github.com/coreos/bugs/issues/254` but this issue is triggering far more readily and getting in the way.

[2016-09-01 00:37] mackeyja92 commented on #24066
I have had to put the hash of the image at the end when doing `service update --image`. This make it use the new image but I have had to go to each swarm node and manually pull that image first.

[code]

Really annoying. It would be much better to have it work this way.

[code]

However, what I do not want is that when I do any other type of update it updates my image. I want to have to tell it di

[2016-09-01 00:40] lool commented on #22025
Hi,

kpartx calls libdevicemapper to get the UUID of the loop device that was created. When run in sync mode (-s), libdevmapper will wait for udev to signal that the device was created properly. I suspect your host system never reaches this point, perhaps it's lacking the dmsetup udev scripts?

NB: I recently faced a similar issue on a non-docker platform and found this bug report with the same sy

[2016-09-01 01:03] vikstrous commented on #26220
I forgot to mention that this works in docker 1.12.1

[2016-09-01 01:07] jingpengwu commented on #7285
I experienced this too...

`docker -v
Docker version 1.12.1, build 23cf638`

[2016-09-01 02:07] #25654 closed

[2016-09-01 02:12] yongtang commented on #26173
Think this issue is the same as the one encountered before with `docker commit`:
https://github.com/docker/docker/pull/23309#discussion_r66090808

[2016-09-01 02:19] yongtang commented on #26173
Created #26225 to address this issue.

[2016-09-01 02:30] aluzzardi commented on #26060
Tentatively setting 1.12.2 as milestone /cc @icecrime @mavenugo

@mrjana Can you confirm #25325 would fix this? I was under the impression the actual fix for this would be the `ORPHANED` state but I might be wrong.

[2016-09-01 02:40] thalesfsp commented on #23971
How to clean this network's messy?

[2016-09-01 02:53] Quantum1234 commented on #19554
experienced another incident of this kind of issue REBOOT HOST fixed it

[2016-09-01 03:32] jaywhy13 commented on #24045
I had this same problem.
See my post at http://stackoverflow.com/questions/39083683/wordpress-causing-docker-to-crash.

 Listing steps for reproducing. Sorry that this is so application specific but it makes no sense why this would be happening and it's the only way I know how to reproduce.

I'm using the following Dockerfile:

    # Dockerfile
    FROM php:7.0-cli
    RUN docker-php-ext-install m

[2016-09-01 03:35] twang2218 commented on #20973
Every time I use `docker stats`, I have to use `docker stats $(docker ps --format={{.Names}})`, otherwise, I have totally no idea which container is which. And I don't think `docker stats $(docker ps --format={{.Names}})` is the solution, because it's static container list. I have to stop and rerun this command if I remove a container, or run a new container.

It make more sense if there is a name

[2016-09-01 03:37] materliu commented on #24045
@jaywhy13  My program is one php program too.

[2016-09-01 03:50] lixiaobing10051267 opened #26227 "for stack_tasks.md there is no corresponding go file, and for stack/ps.go there is no corresponding md file"
in stack_tasks.md, there is command:

    Usage:  docker stack tasks [OPTIONS] STACK

    List the tasks in the stack

in stack/ps.go, there is command:

	cmd := &cobra.Command{
		Use:   "ps [OPTIONS] STACK",
		Short: "List the tasks in the stack",

[2016-09-01 04:36] cicku commented on #16101
@RGD2 This mirror is provided by @ustclug as unofficial since dockerproject.org hasn't support community mirrors.

[2016-09-01 04:36] icecrime commented on #26220
@vikstrous So... should I close this as fixed? 😕

[2016-09-01 04:53] liuxiaopiao opened #26230 "support set shm-size to images when docker build"
**Output of `docker version`:**

[root@adc01klb tmp]# docker --version
Docker version 1.12.1, build 23cf638
**Output of `docker info`:**
[root@adc01klb tmp]# docker info
Containers: 3
 Running: 0
 Paused: 0
 Stopped: 3
Images: 19
Server Version: 1.12.1
Storage Driver: btrfs
 Build Version: Btrfs v3.19.1
 Library Version: 101
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local

[2016-09-01 06:06] netroby opened #26231 "Feature Request: Dockerfile support parallel RUN to boost build progress"
This is a feature request.

In golang , we can using chan/goroutine to parallel execute command.

So i request Dockerfile provide us a Parallel RUN command. Like PRUN

[code]
These two kind build progress were very common on mordern web development. We need build web frontend stack , like using npm + webpack.
And we need build backend code , from golang source code to binary executable file.

If w

[2016-09-01 06:09] coolljt0725 commented on #26230
@liuxiaopiao  I think you misunderstand the `--shm-size` flag of `docker build`, it's to set the shm-size of intermediate containers during build,  but not to set the default `shm-size` of the image, this value will not persist to image config.

[2016-09-01 06:11] liuxiaopiao commented on #26230
Thanks @coolljt0725 . Is there any way to set the shm-size for the image?

[2016-09-01 06:22] coolljt0725 commented on #26230
@liaoqingwei  AFAIK, there is no way to set the shm-size for the image. you have to set it on container creation by `docker create/run`

[2016-09-01 06:29] sswierczyna commented on #5618
Seeing this issue as well on Ubuntu 16.04, Docker 1.12.1, kernel 4.4.0-34-generic
`waiting for lo to become free. Usage count = 1`

[code]

[2016-09-01 06:48] bernex opened #26232 "Mounted subdirectory is empty in mounted directory in Docker?"
I'm using this docker-compose file:

[code]

`./../php` - does not have core dir. After starting everything is ok. But after 5 seconds `/var/www/core` is empty and I see empty core directory inside `./../php/core`.

I think container reload this empty directory(`./../php/core`) from host and ignores second volume binding(`./../core:/var/www/core`)

How use correctly? Or bug?

[2016-09-01 06:53] liuxiaopiao commented on #26230
Thanks @coolljt0725

[2016-09-01 06:56] xwzyb commented on #20221
I have the same problem with you . I solved it by delete the directory /var/lib/docker/devicemapper .Tell me if it helped you. Thank you.

[2016-09-01 06:57] ChristianKniep opened #26234 "Introducing global environment variables to the docker-engine (flag,docker.config)"
**Problem Statement**

I would like to make sure that a restarting zookeeper service reuses a certain ID after the task is rescheduled. For this the task has to hold on a piece of information that determines his current host.

**Current Workaround**
I achieve this currently by passing in `/etc/hostname:/etc/docker-hostname:ro`, which allows me to grab the hostname of the node the container is runn

[2016-09-01 06:59] ChristianKniep commented on #26234
Related issue in swarm: https://github.com/docker/swarm/issues/1106
Even though I do not care so much about the DOCKER_HOST parts, but more generic about passing environment variables into each container.
Which would result in the expected outcome of the aforementioned issue.

[2016-09-01 07:11] virtuman opened #26235 "Creating new service on swarm doesn't publish ports on Centos7"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
physical machines with dual network cards. one for external, and one for internal (cross-server communication) networks

**Steps to reproduce the issue:**
these steps are taken directly from Docker Online webinar 42
1. Clean install *CentOS7* or any v

[2016-09-01 07:42] sososaity opened #26237 "Cannot connect to the Docker daemon & Sub-process /usr/bin/dpkg returned an error code (1)"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Output of `systemctl status docker.service`:**

[code]

**Output of `systemctl status journalctl -xe`:**

[code]

**Output of `uname -a`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. apt-get install docker.io
[code]
2. docker ps -a
[code]

**Add

[2016-09-01 08:07] tiaanl opened #26238 "ADD vs COPY causes ghost files"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Running on an EC2 instance in AWS.  Upgraded 14.04 to 16.04.

**Steps to reproduce the issue:**
1.  Bundle large amount of files into .tar and use ADD to copy and extract the files into the image.

The running apache or nginx inside the container doe

[2016-09-01 08:16] sososaity commented on #26237
////////////////////
// Solution
////////////////////
1. create a new file /etc/systemd/system/docker.service.d/overlay.conf with the following content:
[code]

2. flush changes by executing:

`sudo systemctl daemon-reload`
3. verify that the configuration has been loaded:
`systemctl show --property=ExecStart docker`
4. restart docker:
`sudo systemctl restart docker`

[2016-09-01 08:17] ivansieder commented on #23991
@StefanScherer looks like it's not working anymore by now. docker stop $(docker ps -a) results in "unknown shorthand flag: 'c' in -c

[2016-09-01 08:17] #26237 closed

[2016-09-01 08:18] ivansieder commented on #23991
Okay, only needed thing was to add "docker stop $(docker ps -aq)" the 'q' at the end, so I just get the ID's

[2016-09-01 08:20] unclejack commented on #26126
Can you provide the output of `docker info` and the version of the Docker for windows app, please?

[2016-09-01 08:31] mathiaslm89 opened #26239 "se external_links"

[2016-09-01 08:37] 625096233 opened #26240 "docker image can't find when i restart my pc"
dear everyone:
my pc is window10 ,when i restart my pc, i run the ( Docker Quickstart Terminal) then Kitematic (Alpha), last when i run docker images,there nothing,but before there has ,such su zookeep,redis ....and so on

docker info:

Containers: 0
 Running: 0
 Paused: 0
 Stopped: 0
Images: 0
Server Version: 1.12.1
Storage Driver: aufs
 Root Dir: /mnt/sda1/var/lib/docker/aufs
 Backing Filesystem

[2016-09-01 08:44] hamid-elaosta commented on #22599
@codepainters On a fresh 16.04.1 it no longer happens if I forget to at the key first. I just add it then apt update and it installs like normal.

[2016-09-01 09:48] gabrielstein commented on #26198
@friism Thanks for your work!

@friism ok, I created a private repo and it works.

## Tests with Docker Hub, Private Repo

#### Linux

[code]

#### Windows

- test1

[code]

-  test2

[code]

**But why there is a problem only with Windows, Docker-Compose and "Pulling"? Linux and Mac work smoothly**

I use to create Images and push them using Linux only. I test that also with Linux and Mac, no prob

[2016-09-01 10:25] justincormack commented on #24200
We removed gccgo support, so closing this.

[2016-09-01 10:25] #24200 closed

[2016-09-01 10:39] dsheets commented on #25326
This should now be resolved in Beta 24.

[2016-09-01 10:40] adolphlwq commented on #20789
+1
- docker version
[code]

- docker info
[code]

- error info when start cadvisor
[code]

[2016-09-01 11:24] jakubmkozlowski commented on #23848
I can see the same behaviour, but slightly different setup. It's Docker for Windows and I'm starting OpenVPN not from the container, but on the Windows host. Once VPN connection is established, hostnames stop being resolved. When I stop OpenVPN connection, the container starts resolving hostnames.

[2016-09-01 11:55] urlund opened #26244 "Swarm service, with overlay network, fails to remove all containers"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Steps to reproduce the issue:**
1. ```docker network create -d overlay sleeper_nw```
2. ```docker service create --name sleeper --replicas 20 --network sleeper_nw urlund/sleeper```
3. ```docker service rm sleeper```

**Describe the results you received:**
Output from ```docker ps -a```:

**Node 1:**
[code]

**Node 2:*

[2016-09-01 12:24] justincormack commented on #22753
@weaver as stated, there is no current way to connect to a container directly from the host if it does not have a published port. You can connect from another container though.

[2016-09-01 12:27] justincormack commented on #26157
Could it be related to https://github.com/docker/docker/issues/25326 (for the bind mount case).

The named volume case is odd, I don't see how it can be related to Docker for Mac as these are exactly the same as normal named volumes. But it has never been reported as an issue. The logs when it happens would be the best way to see what has happened as some failure ought to be logged.

[2016-09-01 12:34] withinboredom commented on #26157
Everyone on the team is aware of this issue, and when it happens again one of us will post the logs.

[2016-09-01 12:45] govint opened #26246 "Support a method in volume plugin interface to fetch performance counters managed by the plugin for persistent volumes."
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. Run a container with persistent volumes via a plugin driver
2. Run docker stats
3. Docker stats shows block IO stats for disk

**Describe the results you received:**
"docker stats" by design shows only blk IO issu

[2016-09-01 13:01] justincormack commented on #23848
@ColinHebert what is the container's `/etc/resolv.conf` after  starting openvpn? Also is the tunnel working? Can you connect by IP address?

[2016-09-01 13:12] fphilippon commented on #25985
Hi,
I did exactly the same test using  4.4.19 version of the linux kernel and i couldn't reproduce this strange behavior.
It seems this bug only apply to systems having an "old" kernel in the 3.x branch.

[2016-09-01 13:47] ktwalrus opened #26247 "Add implicit --net-aliases to tasks in a docker service"
I would like to be able to connect to a specific task in a service from some client containers rather than just using the load balanced service name.

I suggest that the tasks for a service have implicit aliases added in the internal DNS. Such an implicit alias should follow a pattern. I suggest `<service name>-<n>` where `<n>` is the task number (e.g. a service named `mysrv` with 3 replicas would

[2016-09-01 13:57] vayasin commented on #25276
Is this by design or not yet implemented?

+1 need this too.

[2016-09-01 14:04] rprots commented on #26202
`volumes_from` creates data container from `/dir_with_app` directory. Whenever `container2` image gets created and has newer version of app inside `/dir_with_app` the `container1` won't see it. Instead it links to older version of `/dir_with_app`.

[2016-09-01 14:07] astropanic opened #26248 "Docker for mac is not starting properly"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. Download the [.dmg](https://download.docker.com/mac/stable/Docker.dmg)
2. Open, drag the whale to /Applications
3. Run it

Tried starting it from the terminal:

[code]

It hangs then.

**Describe the results you r

[2016-09-01 14:18] rzachariah opened #26249 "Unconsumed build-arg should not fail docker build"
---
## BUG REPORT INFORMATION

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

VirtualBox VM running on Windows 7 machine. Accessed via Vagrant.

**Steps to reproduce the issue:**
1. Create a valid Dockerfile (in my case, for a node service). DO NOT consume the build-arg we will pass in next.
2. Build the docker image passing in an unused build-arg
docker build --bui

[2016-09-01 14:58] cpuguy83 commented on #26249
This is one of those philosophical issues.
Personally I see that having a flexible system is good, but it's also good to have precise builds.
If you provide a variable that goes unused then from the standpoint of reliable build results this is an error... ie, you gave us something that we couldn't use, so we are telling you about it so you can correct it.

What's nice here is the image does get bu

[2016-09-01 15:03] harobed commented on #20034
[code]

[2016-09-01 15:07] ktwalrus opened #26250 "Add --env and --env-file to docker node update"
I need to pass host specific information to my swarm mode services so the tasks may configure themselves during container start up.

I suggest that you add `--env` and `--env-file` options to `docker node update`. All containers started on the node would run with these environment variables added. If an ENV is added twice (possibly through different `docker node update` calls), the most recently a

[2016-09-01 15:08] aaronlehmann commented on #26223
Looks like https://github.com/docker/swarmkit/pull/1481 has been opened to fix the same panic.

[2016-09-01 15:10] friism commented on #26198
@gabrielstein are you using the credential helper?

[2016-09-01 15:11] roshan3133 commented on #22599
Ok... will check that

On 1 Sep 2016 14:16, "Hamid" <notifications@github.com> wrote:

[2016-09-01 15:17] gabrielstein commented on #26198
Hi @friism , I'm using the standard from docker.

#### Login

[code]
	"auths": {
		"registry.domain.tld": {}
	},
	"credsStore": "wincred"
}

[code]

[2016-09-01 15:26] rprots commented on #26202
Related: https://github.com/kubernetes/kubernetes/issues/831#issuecomment-137836503

[2016-09-01 15:28] philipmac commented on #26240
Also seeing this issue. Not sure if it's the same bug or not (I'm running Linux.)

[code]

[2016-09-01 16:13] tianon commented on #22599
@jamtur01 not sure I understand what you're suggesting -- are you suggesting that we add Docker's APT repo key into the `ubuntu` base image?

[2016-09-01 16:26] gabrielstein commented on #26198
Hi@friism

I made some tests,  to be sure that is a windows+private+registry+docker-compose bug and isn't a Docker Registry misconfiguration.

I have 3 Servers, 2 runs Registry as Containers, 1 just for tests uses Registry directly on host installed.

#### Below my environment to test it(All running in different servers, DNS-Reverse working and so on)

* Registry1: DEV(just Images for developers)

[2016-09-01 16:29] gabrielstein commented on #26198
I can also try to do a tcpdump and post it here. it is helpful for you?

[2016-09-01 16:48] justincormack commented on #26238
Can you give a way to reproduce this? eg can you push an image with the problem?

[2016-09-01 16:57] alph486 commented on #5618
For those using Kubernetes <= 1.3.4 you can exploit this issue: https://github.com/kubernetes/kubernetes/issues/30899 to reproduce this problem. I ran a small cluster with 1 Controller and 2 Workers on CoreOS 1068.10.

From there you can create 2 ReplicationControllers, I called them `hello` and `hello1` based on this: http://pastebin.com/mAtPTrXH . Make sure to change the names and labels to be d

[2016-09-01 16:58] icecrime commented on #26239
I'm assuming this is a fat finger ;-) Closing.

[2016-09-01 16:58] #26239 closed

[2016-09-01 16:58] vikstrous commented on #26220
I mean this is a bug introduced between docker 1.12.1 and 1.13/master/bdae52a23dd69be29f0d5b871ee791180329e458

[2016-09-01 16:59] justincormack commented on #26234
cc @dave-tucker use cases for passing in env vars to all containers from config as discussed yesterday.

[2016-09-01 17:02] icecrime commented on #26232
Cc @aanand @dnephin!

[2016-09-01 17:06] justincormack commented on #26248
Please could you open this issue in https://github.com/docker/for-mac/issues as it is Mac specific and you will get faster support there.

[2016-09-01 17:13] mlaventure commented on #26240
If you restart `docker` one more time once the PC is up, are the images showing up?

[2016-09-01 17:17] ehazlett commented on #26196
This looks like an older dev build.  Can you try the latest 1.12 as well as some more info on how to reproduce (how many managers, nodes)?

[2016-09-01 17:45] chrisjones77 commented on #26195
Using Docker Cloud I get this same behaviour with the restart policies "always" and "on failure".

# docker version
Client:
 Version:      1.11.1-cs1
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   bfd1f99
 Built:        Wed Apr 27 22:35:34 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.11.1-cs1
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   bfd1f99
 Built:        W

[2016-09-01 17:53] stevvooe commented on #25772
@kunalkushwaha I am not suggesting any modifications on the server side. I am suggesting that these are validated properly in the swarmkit controlapi. The referenced daemon code is much too late in the process to correctly validate this.

[2016-09-01 17:57] rzachariah commented on #26249
User DanielDent appears to be on my side of the philosophical divide, based on his comment here.
https://github.com/docker/docker/issues/14634

[2016-09-01 17:59] chrisjones77 commented on #26129
I'm experiencing this same problem.  I'm using Docker Cloud.  I have some details here.  https://forums.docker.com/t/service-containers-not-automatically-starting-on-node-restart/21326/5

[2016-09-01 18:01] stevvooe commented on #26159
I'm not really in favor of an imperative pause. Any implementation would have to be racy by definition. Trying to catch the pause point will be a practice in futility, especially if the system is under any kind of load.

I'd favor an approach more similar to https://github.com/stevvooe/sillyproxy. Role out to a desired state, check everything, then slowly role out more. There is probably some subs

[2016-09-01 18:02] raisercostin commented on #17846
I was able to fix it by running (see kenorb response http://stackoverflow.com/a/34887761/99248)
[code]

[2016-09-01 18:13] mlaventure commented on #26129
@chrisjones77 your issue seems to be different than this one.

Your failure seems to be related to a missing (network?) plugin.

Feel free to open a new issue here to have it looked at.

[2016-09-01 18:38] friism commented on #26198
@gabrielstein can you try to disable the wincred credential helper? https://github.com/docker/docker-credential-helpers#with-the-docker-engine

[2016-09-01 18:38] stevvooe commented on #25303
@gittycat @hervenicol While we've pretty much deprecated the concept in the Service API, deprecating entrypoint in `docker run` and `docker service create` is pretty much a non-starter.

Likely, the solution will revolve around @gittycat's option 2.

[2016-09-01 18:41] ghostsquad commented on #25559
@thaJeztah thanks - I can confirm that your instructions worked for me. The problem was that my dropin service file had the `-H fd://` and `Requires=docker.socket`

[2016-09-01 18:47] stevvooe commented on #24066
@mackeyja92 While the rest of your comment makes sense, I am confused why you have to go to each node to pull the image. On startup, tasks will always try to pull the latest for a given tag. Does that registry require a login? What error do you get when you don't pull all the images?

[2016-09-01 18:56] tonistiigi commented on #24066
@stevvooe @mackeyja92 I think `mysite.com:4567/image:7791fb4` here is the `repo:id` syntax that we really should remove (see #22112). That reference is local only and not pullable. Instead run `docker inspect -f '{{index .RepoDigests 0}}' localimage` that gives you a digest reference that is securely pullable from the registry. Note that you only have these references for images pulled-by-digest o

[2016-09-01 19:08] dnephin commented on #26232
@bernex can you please open this issue on the [Docker Compose issue tracker](https://github.com/docker/compose/issues).

Please also answer the following when you open the new issue:
* What do you mean by "After starting everything is ok" ? You see the files you expect to see?
* What does the entrypoint or command in the image do? Could it be responsible for removing the files?

I just tried it ou

[2016-09-01 19:08] #26232 closed

[2016-09-01 19:10] tswift242 opened #26251 "Daemon hangs after starting and stopping many containers"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

AWS EC2. We currently run 46 containers on a single EC2 instance and expect 46 to be up at all times; we use upstart to start a new container each time a container is stopped. However, currently there are far fewer than 46 up and it looks to be a Doc

[2016-09-01 19:24] duglin commented on #26231
Yea but how can you guarantee that they won't interfere with each other w.r.t. changes on the filesystem?
Have you tried something like:
[code]

[2016-09-01 19:26] justincormack commented on #26230
@liuxiaopiao I don't think that makes sense, the size could well depend on runtime factors. You can add a `LABEL` at build time that says how much you need and then read that and use it to set the parameters for `docker run`.

[2016-09-01 19:28] justincormack commented on #26198
The credential helper is not currently supported on compose, see https://github.com/docker/compose/issues/3622

[2016-09-01 19:29] mackeyja92 commented on #24066
@stevvooe The first time I start the service it pulls the image fine, however when doing an update I have to go pull the latest images and then update.

@tonistiigi I will look into that.

[2016-09-01 19:31] joeljacobs commented on #24649
This is a real problem for anything that requires HA failover. I'm setting up a Database HA service that has a master streaming to slave relationship. If both the master and slave happen to be on the same node, a node failure can completely bring down the service and it's data.

[2016-09-01 20:26] matiasserrano commented on #22753
@justincormack I read all the thread trying to figure out how to connect from my mac to the container, just like I do on Linux: container-ip:8080 for example. As far I understand this should be possible in MacOS (10.12), right?

[2016-09-01 20:32] m1ome commented on #22753
@matiasserrano you can do this with portmapping in e.g. `docker run -p 8080:8080`

[2016-09-01 20:38] philipmac commented on #26240
They don't appear to.
However, it appears docker is having other new issues.

docker run docker/whalesay cowsay boo
Unable to find image 'docker/whalesay:latest' locally
latest: Pulling from docker/whalesay
e190868d63f8: Extracting 65.77 MB/65.77 MB
909cd34c6fd7: Download complete
0b9bfabab7c1: Download complete
a3ed95caeb02: Download complete
00bf65475aba: Download complete
c57b6bcc83e3: Download

[2016-09-01 20:41] farahfa opened #26253 "How to enable remote API with newest build (1.12.1)"
I was on 1.10.3 and I had the remote api enabled by changing the $DOCKER_OPS from `/etc/init/docker.conf` to `'-H tcp://0.0.0.0:4243 -H unix:///var/run/docker.sock'`, but now that doesn't work anymore!

I upgraded to Ubuntu Xenial (from Trusty) and docker engine from 1.10.3 to 1.12.1...

Any help is greatly appreciated!

EDIT: I [reverted back to Upstart](https://wiki.ubuntu.com/SystemdForUpstartU

[2016-09-01 20:42] matiasserrano commented on #22753
@m1ome yes, I know that. But is not scalable for me. I'm a developer and I usually run several containers with apache/Nginx, so 80 is always in use. If I do what you propose, first I need to disable apache in my mac, second I need to run one container at a time because they share the same port. Using different ports is not an option.
In the other hand, we give containers to the devs to start worki

[2016-09-01 21:00] nathanleclaire commented on #22753
@matiasserrano Why not use `-P` to forward the exposed ports to an arbitrary high port automatically?  If you're looking up container IP via something like `docker inspect` it's possible to also do a very similar operation for the exposed port.

[2016-09-01 21:12] matiasserrano commented on #22753
@nathanleclaire The problem is not about knowing the port or the container's IP, it is basically the same solution as the previous post. Another solution is to create a vagrant VM for each project and run docker inside or use docker-machine, that is basically the same. Both solutions are not acceptable for us. We prefer use Vagrant instead.

[2016-09-01 21:12] cfstras commented on #24403
I think I'm also hitting this on my builds.
Builds are triggered through a gitlab-runner docker image (has docker.sock mounted), so that may be an additional variable.

docker v1.12.1-1, zfs-dkms 0.6.5.7-1, linux 4.4.19-1-lts on Arch Linux.

Log mentions multiple failures:
[code]
https://gist.github.com/cfstras/ef74ed97a001ef4f0fe85d6edc6e886c

It's not 100% reproducible, sometimes removing the ba

[2016-09-01 21:13] icecrime commented on #26253
@farahfa Thanks for the report. Can you please confirm that things work as expected when manually starting `dockerd` (e.g., without going through the init script)?

I don't know of any changes on that in the recent versions, so I have a strong feeling that this might be an issue with your setup.

[2016-09-01 21:18] mlaventure commented on #8539
@bioothod is there any cgroup rule applied to `dockerd` limiting its memory usage?

[2016-09-01 21:24] mstanleyjones commented on #26056
"node state" doesn't appear in the page at all so I don't know how it would result in that page coming up. "Node availability" does, but it is only a pretty small part of the page. Maybe the page needs a better title?

[2016-09-01 21:37] Mic92 commented on #24403
I have opened a feature request for deferred deletes on zfsonlinux, which could solve the problem:

https://github.com/zfsonlinux/zfs/issues/5038

devicemapper already has such an option.

[2016-09-01 21:49] grosser commented on #9299
FYI terminal copy + cols/rows fix

`kubectl exec -it $1 -- /bin/bash -c "stty rows $(tput lines) cols $(tput cols) && export TERM=$TERM && exec bash"`

https://github.com/grosser/dotfiles/commit/eca07c9c69deccdc19a5bcaf7b46b72f14577711

[2016-09-01 22:18] ktwalrus opened #26259 "Add --max-replicas-per-node for docker service create"
I need to ensure that each task/replica of my docker service run on separate nodes for HA (so if one server fails or is shutdown it does not take my service offline). Currently, I am running 3 separate services with constraints allocating each service to a different node, but I'd really like to construct my image such that it can run as a single service with 3 replicas.

I can think of several way

[2016-09-01 22:20] mlaventure commented on #26240
Is your home directory on a different partition? Could it be possible that docker is started before the mountpoint for your its graphdriver directory is sets up ( that'd be `/home/<my_home_dir>/docker_space` in your example)?

[2016-09-01 22:46] bioothod commented on #8539
@mlaventure not that I'm aware of.

In the other case when there was a single app printing data to stdout, dockerd ate 30+ Gb of memory and was killed by OOM, if there are any cgroup memory limitations, they would fire in that case.

[2016-09-01 22:59] mstanleyjones commented on #26056
@johndmulhausen PTAL

[2016-09-01 23:05] alph486 commented on #5618
@edevil After looking at your linked commit, am I correct that you disabled/removed Flannel in your environment altogether in favor of the `cbro` bridge created by Kubernetes to get past this issue?

I'm seeing on my end that you would not be able to use them in tandem because flannel wants to use `docker0` and your internal networking would be working on `cbr0` correct?

[2016-09-01 23:11] mlaventure commented on #8539
@bioothod which logging driver were you using? Have you tried using a different one? Or set a log-rotation?

[2016-09-01 23:14] edevil commented on #5618
@alph486 that's correct, I stopped using flannel. I use the bridge and setup the routes for the pod network.

[2016-09-01 23:36] bioothod commented on #8539
@mlaventure this misleads discussion from the original topic, dockerd oom is a different problem, although both are related to how dockerd/go reclaim memory.

I believe logging driver is a default json file, since dockerd is started without any option in my fedora
You can start following application in the container, do not detouch from it and watch how dockerd eats the ram:

[code]

[2016-09-01 23:43] mlaventure commented on #8539
@bioothod just trying to figure out where the leak would come.

I'll try your test program and see if I can reproduce.

[2016-09-02 00:14] dadux commented on #5618
@alph486 flannel doesn't want to use docker0. It's just the default bridge for docker, which you can override with `--bridge=cbr0` docker option.
On CoreOS you would have to override the docker systemd unit.

The Kubelet flag `--experimental-flannel-overlay` can read flannel configuration, and configure the docker bridge `cbr0` with the flannel CIDR.

It will also enable `promiscuous` mode instead

[2016-09-02 00:26] bioothod commented on #8539
@mlaventure I'm not sure this is *the* leak, sometimes (quite rarely though) dockerd starts returning memory to OS. Maybe there is a bug in docker daemon and it sometimes flushes data into log file from memory, but most of the time it doesn't, but it looks more like a problem with memory reclaim, i.e. freed memory is not returned to kernel.

My original post highlights that when docker daemon did

[2016-09-02 00:57] 625096233 commented on #26126
Containers: 0
 Running: 0
 Paused: 0
 Stopped: 0
Images: 0
Server Version: 1.12.1
Storage Driver: aufs
 Root Dir: /mnt/sda1/var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 0
 Dirperm1 Supported: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: bridge host null overlay
Swarm: inactive
Runtimes: runc
Default Runtime: runc
Security Options: seccomp
Kernel

[2016-09-02 00:57] 625096233 commented on #26126
Containers: 0
 Running: 0
 Paused: 0
 Stopped: 0
Images: 0
Server Version: 1.12.1
Storage Driver: aufs
 Root Dir: /mnt/sda1/var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 0
 Dirperm1 Supported: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: bridge host null overlay
Swarm: inactive
Runtimes: runc
Default Runtime: runc
Security Options: seccomp
Kernel

[2016-09-02 01:05] 625096233 commented on #26240
now ,i what to know where  is the images store in window10 pc;
i restart pc  once more at the same time  docker restart default,however there nothing when i run docker images;

[2016-09-02 01:09] mrjana commented on #26235
@virtuman can you provide a dump of `iptables -t nat -nvL` and `iptables -nvL` from the host where you are having trouble? Also can you post any errors you see from dockerd logs? From your logs it looks your firewalld is complaining about a lot of basic iptable rules. Is it possible for you retry the whole thing with firewalld disabled?

[2016-09-02 01:13] sneak opened #26262 "zfs storage driver really should disable autosnapshots on new container filesystems"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. install zfs-auto-snapshot
2. set up zfs storage driver
3. start a bunch of containers
4. observe tons of unwanted snapshots

**Describe the results you received:**
[code]

**Describe the results you expected:**

`

[2016-09-02 01:14] 625096233 commented on #26240
docker version
Client:
 Version:      1.12.0
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   8eab29e
 Built:        Thu Jul 28 21:04:48 2016
 OS/Arch:      windows/amd64
 Experimental: true

Server:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   23cf638
 Built:        Thu Aug 18 17:52:38 2016
 OS/Arch:      linux/amd64

[2016-09-02 01:18] sneak commented on #26262
Oops, I'm stupid - I can just set this on the parent storage/docker and it will inherit.  Nevermind!

[2016-09-02 01:18] #26262 closed

[2016-09-02 01:20] 625096233 commented on #26240
ls /
bin/
cmd/
dev/
etc/
git-bash.exe*
git-cmd.exe*
LICENSE.txt
mingw64/
proc/
ReleaseNotes.html
tmp/
unins000.dat
unins000.exe*
unins000.msg
usr/

[2016-09-02 01:28] 625096233 commented on #26240
in window10,how to check the mountpoint

[2016-09-02 01:47] WeiZhang555 commented on #22938
It's fixed. I think this is ready to close now :smile:

[2016-09-02 02:19] mrjana commented on #26244
@urlund Yes, this is a bug caused by multiple go routines racing to delete the network and only one of them wins and everybody else fails to delete the network and because of that fails to remove the container. Will fix it. But other than some stale containers it will not cause any other issues in terms of functionality.

[2016-09-02 02:44] darcys opened #26263 "docker container works well on docker-engine 1.11.1, but exit with code 139 in version 1.12.1"
Problem:
docker container works well on docker-engine 1.11.1, but exit with 139 in version 1.12.1

**Output of `docker version`:**

docker version
Client:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   23cf638
 Built:
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   23cf638
 Built:
 OS/Arch:      li

[2016-09-02 03:29] alph486 commented on #5618
Thanks @dadux for the input. If K8s will pick up the `cbr0` interface that has already been bootstrapped by the overridden unit, could be in business with that solution; i'll try it.

According to docs, `promiscuous-bridge` appears to be the default value for `--hairpin-mode` in kubelet. I'm still seeing the issue with this, so I'm not entirely sure that's the whole solution.

I've not been able t

[2016-09-02 03:45] BretFisher commented on #24220
Couldn't a workaround to this be to create a custom overlay network and just not use the ingress for any services?

[2016-09-02 03:57] dadux commented on #5618
If your docker daemon uses the `docker0` bridge, setting `--hairpin-mode=promiscuous-bridge` will have no effect as the kubelet will try to configure the un-existing bridge `cbr0`.
Disabling hairpin will however work `--hairpin-mode=none` with `docker0`.

You can check if hairpin is enabled for your interfaces with
`brctl showstp docker0`
or
`for f in /sys/devices/virtual/net/*/brport/hairpin_mode

[2016-09-02 04:11] codekitchen-ws commented on #7198
I solved this by using [inotifywait](http://linux.die.net/man/1/inotifywait). You will need to install inotify-tools to run it inside your docker image. It's possible to run it on your host system instead, but I wanted a portable solution.
[code]
This works by instructing inotifywait to watch for any new files or directories created in the directory /mount. When it notices one, it changes the owne

[2016-09-02 04:26] kunalkushwaha commented on #25772
@stevvooe understood :). Will make a PR in swarmkit for validation.

[2016-09-02 04:35] mrjana commented on #26060
@aluzzardi It is possible that this is fixed by #25962 which fixed some issues with gossip not cleaning up state properly but I need to recreate this scenario to confirm. BTW, this is not a situation which requires the `ORPHANED` state since all nodes are drained properly which means the IPs of those tasks would have been reclaimed properly.

[2016-09-02 05:33] mrjana commented on #26023
@djenriquez Sorry if I did not specify exactly where to dump the iptables. Can you dump `iptables -t nat -nvL` on the host namespace?

[2016-09-02 06:26] anannaya commented on #23089
I found same issue.. on docker 1.12 .. Tired all the possibilities.. Still the issue is not resolved.
Word-Aroud:
 Cleaned the all the loop devices
Word Around 2:
rm -rf /var/lib/docker/devicemapper

WA3: deleted and created the LVM.
WA4:  removed the docker and reinstalled.

Still the issue is not resolved.

[2016-09-02 06:41] NoviceF commented on #17645
On ubuntu 14.04 for me workaround is not simply run docker (not service, but client) as sudo. Before run "docker run --rm busybox true", for example, move to sudo bash by typing "sudo su". In sudo bash docker is working fine.

[2016-09-02 06:54] au-phiware commented on #26120
I am experiencing the same issue.

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Gentoo `Linux tecknack-corin 4.6.5-stable #49 SMP Fri Sep 2 15:43:05 AEST 2016 x86_64 Intel(R) Core(TM) i7-5500U CPU @ 2.40GHz GenuineIntel GNU/Linux`

**Steps to reproduce the issue:**

[code]

**Describe the resul

[2016-09-02 07:21] AkihiroSuda commented on #26259
https://docs.docker.com/engine/reference/commandline/service_create/

As a workaround, I think you can use "global" service instead of `--max-replicas-per-node=1`

[2016-09-02 07:25] au-phiware commented on #26120
I have upgraded to 1.12.1 but to no avail.

[code]

The output of `dockerd -D`:
[code]

[2016-09-02 07:49] fphilippon commented on #25985
Please forget what i said before.
The issue came back after few hours of services running.

[2016-09-02 08:03] BretFisher commented on #25295
I'm still not clear @mschirrmeister on when you're trying to protect port and when you're trying to publish them. Hopefully this will help clear things up, and if not, maybe a specific example with `service create` and `network create` commands will help us visualize what you want to do:

**TL;DR:** Overlay networks are used for containers to talk to each other on a private network, if you're publ

[2016-09-02 08:12] astropanic commented on #26248
moved

[2016-09-02 08:12] #26248 closed

[2016-09-02 08:44] jonathanperret commented on #8539
@bioothod when `fork` fails, it's because it cannot allocate enough virtual memory to (potentially) hold a copy of the daemon's allocated virtual memory, so the resident set size of 1.1 GB is irrelevant. Your daemon using 30.4 GB of virtual memory when the problem manifests make your report consistent with others, as far as I can tell. Which does not tell us where this virtual memory leak comes fr

[2016-09-02 08:54] tn-osimis commented on #7198
@codekitchen-ws Another warning: A file could be moved after creation and before the owner change. Depending on the shell you'll also want to quote `"$f"` (to prevent word-splitting in the path).

[2016-09-02 09:24] jonathanperret commented on #8539
@bioothod it looks like you're hitting the bug that was squashed in https://github.com/docker/docker/commit/513ec73831269947d38a644c278ce3cac36783b2 :

container.  The previous logic used a bufio reader to read entire lines
of output from the container through an intermediate BytesPipe, and that
allowed the container to cause dockerd to consume an unconstrained
amount of memory as it attempted to

[2016-09-02 09:25] mu5h3r commented on #25985
Hi!
I have the same problem.
Looks like the old ip addresses are sometimes not removed from the virtual services. It is happening after a few hours of uptime and several services updates.
Restarting of the servers resolves this problem, but not for long.

[code]

[code]

Script to create services:
[code]

Script to update services:
[code]

Docker service ps output (after a few services updates):
[

[2016-09-02 09:44] rkharya commented on #23089
workaround is - rm -rf /var/lib/docker & restart docker(sometimes host reboot needed)

[2016-09-02 09:49] earthquakesan commented on #26099
Still not fixed in the docs, why the issue is closed?

[2016-09-02 09:57] jonathanperret commented on #8539
Final note, for completeness: the issue was tracked as #18057; the commit I referenced (513ec73) was actually part of #22982 which was only merged a month ago.

[2016-09-02 10:01] justincormack commented on #26263
That error is in the program running in the container, so it seems like it is probably not related to docker. Does it make any difference if you run it with `--security-opt seccomp=unconfined`?

[2016-09-02 10:09] TheBeeMan commented on #26196
ok, it is ok now, maybe something about the network got wrong.

[2016-09-02 10:18] stevenlee87 commented on #2174
same here

 cat /etc/redhat-release
CentOS Linux release 7.1.1503 (Core)

docker version
Client:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   23cf638
 Built:
 OS/Arch:      linux/amd64
 Experimental: true

Server:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   23cf638
 Built:
 OS/Arch:      linux/amd64
 Experimental: true

netstat

[2016-09-02 10:31] anosulchik commented on #25993
@cpuguy83  We faced problem described by @jamesongithub, please see stack dump as you requested: https://gist.github.com/anosulchik/aa65b72ca418983cf79609e35112f759

`docker info`:
[code]

[2016-09-02 11:02] matt-richardson commented on #26178
Interestingly, when running `docker inspect` from the host, the environment variables appear as expected, just not inside the container.

[2016-09-02 11:08] matusch commented on #25215
Is there any workaround?

Thanks :)

[2016-09-02 11:13] gabrielstein commented on #26198
@justincormack @friism  without wincred docker-compose works, pulls even automatically. Do you have an idea when it will be fixed?

Thanks a lot for your work!

[2016-09-02 11:24] matt-richardson commented on #26178
I suspect the issue is on [this line](https://github.com/docker/docker/blob/master/libcontainerd/utils_windows.go#L13):

`arr := strings.Split(s, "=")`

should probably be:

`arr := strings.SplitN(s, "=", 2)`

Looking to build locally and test now.

[2016-09-02 11:30] Revolution1 opened #26272 "docker info not list all the volume drivers when newly restart the docker daemon"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

VMware VM

[code]

**Steps to reproduce the issue:**
1.  In stall any volume driver and make sure it runs well (mine is [vmdk](https://github.com/vmware/docker-volume-vsphere))
2. restart the docker daemon
3. docker info see if the driver is in "Plug

[2016-09-02 12:11] ktwalrus commented on #26259
Using `--mode=global` would be awkward, or does this mode also support `--replicas`? I have been thinking that `--replicas` applies only to `--mode=replicated`.

Also, can I use `--mode=global --constraint=` to control how many nodes I want running only 1 replica?

I've assumed that `--mode=global` is intended to run 1 task on all nodes in the cluster and that you couldn't control the number of re

[2016-09-02 12:19] codingkeith commented on #25232
I have the same problem. I found that if I create a local user accountand log in with that the issue is resolved, but if I log in with a Windows Domain account the problem exists. My Windows Domain user is a Domain Administrator and a local Administrator and my local user was a local Administrator - so this is not a file permissions issue.

[2016-09-02 12:48] martynd commented on #7087
I know this comment is regarding k8s not docker, but the similarities between how it appears in the service status along with the go issue, I thought perhaps there is relevant overlap

K8s v1.3.6 on Cent7.1
`● kube-apiserver.service - Kubernetes API Server
 Main PID: 10815 (code=killed, signal=PIPE)`

It also had ignore SIGPIPE set.

The reason for my instance at least was the OOMkiller:
[2927539.

[2016-09-02 13:46] cpuguy83 commented on #26253
`/etc/init/docker.conf` is specifically for upstart.
It is recommended to make customizations in `/etc/docker.daemon.json` (which by default is empty), which is distro/init-agnostic
Documentation is here: https://docs.docker.com/engine/reference/commandline/dockerd/#/linux-configuration-file

That said, if you are using upstart, it should be reading /etc/init/docker.conf.
Unfortunately this file i

[2016-09-02 13:52] nbahramzad commented on #25215
This is not a great workaround, but I was able to workaround the problem by throwing away the containers I had running on the network having issues, create a new network, and start-up new containers on the new network. In retrospect, I wonder if I would have been able to just connect the running containers to the new network and disconnect them from the network having issues.

[2016-09-02 13:53] dnephin commented on #26099
The url in the docs worked for @vieux above. I'm not sure which version of curl supports which form.

[2016-09-02 13:58] panga commented on #15360
+1

[2016-09-02 14:08] earthquakesan commented on #26099
Mine works only with ```curl -v --unix-socket /var/run/docker.sock http://localhost/containers/json```. curl version is:
[code]

[2016-09-02 14:10] runcom commented on #25779
@stevvooe I expect to propose a PR to discuss more about this by the end of the next week

[2016-09-02 14:10] AkihiroSuda commented on #15360
Actually there is the client binary (although not "release")
https://master.dockerproject.org

[2016-09-02 14:12] friism commented on #25232
@codingkeith (and others) can I please ask you also post a comment here? https://github.com/docker/for-win/issues/25

Please run diagnostics both in the working using configuration and in the non-working one and reference the diagnostic ids in your comment so that we can have a look at what's going on.

[2016-09-02 14:12] cpuguy83 commented on #26251
This looks like the offending code:
[code]

ping @mrjana

[2016-09-02 14:13] farahfa commented on #26253
Yes, I had a mistake with reverting back to Upstart, after fixing that small problem, everything works just great now..

However, so @cpuguy83 does it mean that there's no way to configure docker remote api on systemd? Or do you mean that we now have to modify `/etc/docker.daemon.json`? Also, if I want to achieve what I need from OP, what do I need to change in `docker.daemon.json` file?

[2016-09-02 14:14] cpuguy83 commented on #26251
Actually, sorry that's not the offending bit, it's just blocked trying to get the store lock, but it does look like there's a deadlock in the libnetwork datastore.

[2016-09-02 14:14] tonybaroneee opened #26277 "Hang on startup with Security Update 2016-001 El Capitan"
I'm not able to start up Docker for Mac (latest version) after installing the latest 2016-001 El Capitan security patch. There were some kernel patches for some zero-days that seem to be now in conflict with docker.

Is anyone else experiencing this issue?

[2016-09-02 14:15] tswift242 commented on #26251
Okay, after looking at the full docker daemon logs and syslog, I think I see what's going on. This seems very related to https://github.com/docker/libnetwork/issues/1374. However, I actually see an additional issue here.

So, our EC2 host got into a bad state very early on. What happened is we started 46 containers all at once (as usual). However, the 46th container failed with the error I mention

[2016-09-02 14:18] cpuguy83 commented on #26253
@farahfa There are ways to modify the systemd file as well, but generally `/etc/docker/daemon.json` is the best approach and has the nice side effect that you can hot-reload the daemon to pick up (some/many of) the changes to the file.

You would need to set something like so:
[code]

[2016-09-02 14:18] SpComb opened #26278 "Docker experimental plugins break when restarting the Docker engine"
I am testing the new experimental Docker plugins support after running into issues running network plugins in normal Docker containers (see #22239 https://github.com/weaveworks/weave/issues/2222 https://github.com/projectcalico/libnetwork-plugin/issues/49#issuecomment-213154546).

While it seems like the new experimental Docker plugins were intended to support these usecases, it appears that the c

[2016-09-02 14:22] farahfa commented on #26253
@cpuguy83 Ah ok that makes sense! Thanks for the help! :)

[2016-09-02 14:26] farahfa commented on #26253
@icecrime Btw, I do find that the Docker documentations are confusing (like they're all over the place).. Especially when it comes to the Remote API, it would be nice to have straight-forward way to setup Remote API and use it.. (Something [like this](http://blog.flux7.com/blogs/docker/docker-tutorial-series-part-8-docker-remote-api) perhaps?)

[2016-09-02 14:26] mlaventure commented on #26240
@625096233 are you using Docker 4 Windows or Docker Toolbox?

[2016-09-02 14:27] philipmac commented on #26240
Yes. I have a root partition, and another partition where home resides.
[code]

I guess... are you suggesting I should modify the docker.service file to bring up the daemon later on?

[2016-09-02 14:28] mlaventure commented on #8539
@joaofnfernandes thanks!

[2016-09-02 14:29] mlaventure commented on #22938
Thanks for the ping @WeiZhang555

[2016-09-02 14:29] #22938 closed

[2016-09-02 14:32] jonathanperret commented on #8539
@mlaventure were you trying to mention me? Just curious 😄

[2016-09-02 14:33] mlaventure commented on #26240
@philipmac it should depends on the `mnt-xxxx.mount` that should show up in `systemctl` output I think (I don't have a `systemd` install on hand).

[2016-09-02 14:36] philipmac commented on #26240
@mlaventure Sorry if I'm not getting your question, do you mean this?

[code]

[2016-09-02 14:36] mlaventure commented on #8539
@jonathanperret yes, bad tab completion :sweat_smile:

[2016-09-02 14:40] mlaventure commented on #26240
@philipmac I mean the mount service you can depend on should appears in the output of `systemctl status`

[2016-09-02 14:44] philipmac commented on #26240
Got it...  I'm still fairly green when it comes to systemd.

[code]

[2016-09-02 14:46] mrjana commented on #25985
@rkeilty @mnganesh @fphilippon @mu5h3r Is there anything happening in the cluster that triggers this problem when you say this problem happens after some time? i.e is there any service getting scaled up or down or getting updated for image or other parameters or even if a service is getting removed or added back or nodes restarted? If any of you can post the daemon logs of the node where wrong rou

[2016-09-02 15:04] jalmansor commented on #24046
I'm actually running into this being an issue as well. If anything, I don't see why this couldn't be done during the swarm init and join, since that's when docker_gwbridge is getting created.

[2016-09-02 15:07] fphilippon commented on #25985
On our side this problem happens without any action. Like said before it seems always affect containers in one node in the swarm.

[2016-09-02 15:23] mlaventure commented on #26240
@philipmac not a systemd expert either :)

If I'm to believe https://www.freedesktop.org/software/systemd/man/systemd.mount.html you should be able to add a `After=local-fs.target` to your service file.

[2016-09-02 15:34] philipmac commented on #26240
OK, I've changed that. Now I'm seeing a failure to start the daemon after systemctl daemon-reload. Docker is stopped, and if I run the daemon by hand I see:
[code]

which seems odd, seeing as :
[code]

(I restarted the socket to see if that did anything, no joy.)

[2016-09-02 15:42] philipmac commented on #26240
I tried leaving out the -H fd:// bit for the laugh.

[code]

Not sure if that's of any help.

[2016-09-02 15:45] bioothod commented on #8539
@jonathanperret good to know, logging will soon be resolved, thank you. This doesn't explain why in some rare cases dockerd returns memory to the system while application writing into log is still relatively active, and also what happened in the case where fork failed: it took resident memory when logging container is active

[2016-09-02 15:45] mlaventure commented on #26240
@philipmac can you try starting the daemon manually?

`dockerd -D -g /home/macmenaminpe/docker_space` ?

[2016-09-02 15:46] philipmac commented on #26240
[code]

[2016-09-02 15:51] philipmac commented on #26240
Just wondering if I need some sort of btrfs dev libs?
[code]

[2016-09-02 15:55] dunk commented on #20973
Just came across this myself. Very much agree with @twang2218. Would love this feature by default!

[2016-09-02 15:55] mlaventure commented on #26240
@philipmac re-reading your comments, the btrfs filesystem you seems to have is located at `/home/macmenaminpe/docker_space/btrfs` and not `/home/macmenaminpe/docker_space`

[2016-09-02 15:56] jonathanperret commented on #8539
@bioothod As soon as your application writes a `\n`, the (1.12) log driver can write out the accumulated data and release the memory to the Go runtime; however it may take some time (seconds to minutes) for the Go runtime to release the memory to the OS, making it difficult to correlate memory usage reductions with various events such as a container exiting.

I'm not completely sure I understand w

[2016-09-02 15:57] philipmac commented on #26240
Ah, you need to include the btrfs in the path?
OK. This looks like it worked.

[code]

[2016-09-02 15:59] gfyrag commented on #25215
Compile your own version (the repository come with the necessary tools) using the PR https://github.com/docker/libnetwork/pull/1369

[2016-09-02 16:01] eb-dteixeira commented on #24496
Also experiencing the exact same issue in the **1.12.1** release. Only recreating the entire cluster solves the issue.

[2016-09-02 16:03] mlaventure commented on #26240
@philipmac Great! if you still see the issue once you've updated your service file accordingly, let us know.

[2016-09-02 16:15] tonybaroneee commented on #26277
Might be an issue with my keychain as I'm not sure it cleanly migrated during the setup process. Going to do a little more poking around.

[2016-09-02 16:15] #26277 closed

[2016-09-02 16:24] justincormack commented on #26277
We have not seen any issues yet, from the people who have upgraded internally. I will upgrade soon and test.

[2016-09-02 16:26] cpuguy83 commented on #25993
@anosulchik It looks like your daemon is stuck in a sycall getting a container diff (while walking the fs tree)... I don't know if "stuck" is the right word or it's just taking a long time to walk the tree:

[code]

[2016-09-02 16:28] cpuguy83 commented on #25993
I'm working on a patch to reduce container locking so at least the daemon can't get stuck in these types of situations, btw.

[2016-09-02 16:30] saeioul commented on #24675
I'm having similar issues. Sometimes docker crashes as @johnjamesjacoby shared. Sometimes docker will not restart and clearing the docker elements in library won't solve it. Reinstalling does.

I understand os sierra is still beta software, but please investigate further guys.

[2016-09-02 16:42] philipmac commented on #26240
Rebooted, and I'm back into the same situation.
Flipped back to the After network setting, no change (as you'd expect).
[code]

[code]

[code]

[2016-09-02 16:44] philipmac commented on #26240
[code]

[2016-09-02 17:04] anusha-ragunathan commented on #25511
Havent seen test failures since https://github.com/docker/docker/pull/26058. The commit amongst other things audited all lock related operations and added any missing locks. It also introduced granular plugin locks. This could have inadvertently fixed the race observed in this CI test flakiness.

[2016-09-02 17:11] tonistiigi commented on #8539
Closing this as the original problem of not capping the attach stream was fixed in #17877 (v1.10). There was still an issue with long log lines (#18057) that corresponds to report from @bioothod . Fix for that is in master (#22982). I've added it to 1.12.2 milestone in case there will be one.

Thanks for all the help @jonathanperret !

[2016-09-02 17:11] #8539 closed

[2016-09-02 17:17] jwodder commented on #25981
We appears to be experiencing this same problem.

Docker 1.12.0
Ubuntu 16.04
Kernel: 4.4.0-36-generic

After restarting the Docker daemon (in order to fix a presumably unrelated problem with an unstoppable container) on an instance with 70 containers, approximately 44 of which have exposed ports, four of the containers were unable to start (even after deleting & recreating them) because their port

[2016-09-02 17:19] alvarow commented on #22764
+1 please fix this. I rather not blindly trust ...

[2016-09-02 17:24] justincormack commented on #22764
This is being worked on currently.

On 2 Sep 2016 6:19 p.m., "Álvaro Reguly" <notifications@github.com> wrote:

[2016-09-02 17:28] mstanleyjones opened #26280 "`docker node inspect <node> --pretty` needs an extra newline at the end"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Steps to reproduce the issue:**
1. Run `docker node inspect worker1 --pretty`

**Describe the results you received:**
Get the following output, elided together with the Bash prompt when the command returns:
[code]

**Describe the results you expected:**
Get the following output, with a newline before the Bash prompt a

[2016-09-02 17:31] alvarow commented on #22764
Apparently here is the correct ticket to follow: https://github.com/docker/for-mac/issues/343

[2016-09-02 17:34] #26173 closed

[2016-09-02 17:38] kirkins commented on #4393
I'm also facing this issue while trying to follow the nginx readme. Did you ever find a solution?

[2016-09-02 17:46] NoOrdInaryGuy commented on #22753
For what it's worth, I have a similar use-case as @weaver (i.e. directly accessing the container network from the host). I run a Spark cluster via Docker, on its own network. I use docker-machine and add a static route over the `docker0` interface for the subnet the cluster uses.

The Spark UI is available on the master node, and includes HTML links out to all of the other cluster nodes (via their

[2016-09-02 17:49] aboch commented on #26176
I do not see the gateway being reported in CIDR notation in the body of `GET .../networks/<nw_name>` or in the o/p of `docker network inspect <nw_name>` with docker from master:

[code]
Can you provide more info/context on how to reproduce.

[2016-09-02 17:54] mlaventure commented on #26240
@philipmac you may want to save/delete your current graphdriver directory.

Then, assuming you want to use `btrfs` as a graphdriver, please add `-s btrfs` to your commandline.

[2016-09-02 17:54] jamesongithub commented on #25993
@cpuguy83 is it threaded? how come it hangs the main process

[2016-09-02 17:57] sanimej commented on #25215
I am able to recreate it consistently with the following steps..
- 1.12.x daemon with live-restore flag and some containers running with no restart policy
- hard reset the host
- when daemon comes up after host restart, overlay driver tries to restore the saved endpoints. Since the host has been rebooted namespace paths would have been cleaned up and the restore fails.
- any subsequent container s

[2016-09-02 18:11] cpuguy83 commented on #25993
@jamesongithub It's not really hanging it, but let's take your case for instance...
You've got a call to `docker ps --size`. While gathering the details for each container, the container mutex is locked.... this one in particular is getting stuck with the container locked while walking the container's rootfs to get the size.

Subsequent calls to `docker ps` are going to hang because when it gets t

[2016-09-02 18:21] tonistiigi commented on #22847
Closing. Note that socket activation was removed in rpm installs in `v1.12` so this error is expected if `-H fd://` is used inside a custom unit file in these systems.

[2016-09-02 18:21] #22847 closed

[2016-09-02 18:27] tonistiigi commented on #20022
I think this can be closed as the confusion about the web interface seems to be resolved and fallback servers are in place in the install script.

[2016-09-02 18:27] #20022 closed

[2016-09-02 18:45] justincormack commented on #26277
Seems ok for me. Let me know how you get on.

[2016-09-02 18:55] mavenugo commented on #26251
@tswift242 Thanks for filing the issue. We fixed it in libnetwork & the next vendor-in to Docker will bring in the fix. (https://github.com/docker/libnetwork/pull/1428)

[2016-09-02 18:56] palkapawel opened #26283 "Feature: Sharing data from image to host (revers function to volume sharing)"
Currently as I known there is no function to sharing(mounting) data(whole dirs) from image to host.
This feature could be **very useful for developers** environments via IDE;

Example case:
node_modules or vendors are installed within image (like src app) but this dirs there is not in git repo.
Installing this dirs take a lot of time, so this function will be very useful for developers

[2016-09-02 19:01] nathanleclaire commented on #22753
I don't understand.

You say:

Why different IP addresses specifically?  You are describing port conflicts as the issue here:

With `-P` no two containers would expose the same port, even if they're all listening on 80 internally.  So why would you need to still disable Apache, etc.?

[2016-09-02 19:11] tonybaroneee commented on #26277
Thanks for looking into it Justin! I've come to the conclusion that it's a mishap with my machine, so I've went back to docker-machine/VirtualBox for the time being until I can figure out what's wrong.

[2016-09-02 19:27] matiasserrano commented on #22753
@nathanleclaire In Linux, using the containers I created, if I want I can run 4 containers at the same time, for example, that expose port 80. I.E.: One for Magento, one for Drupal, one for Larabel and another with a clean apache.

Each container will have an IP, for example, 192.100.200.1, 192.100.200.2, 192.100.200.3 and 192.100.200.4.

With those IPs, I add a host to my /etc/hosts file, with an

[2016-09-02 19:31] kossmoss commented on #25981
@cpuguy83 sorry for the late reply. Probably, "zombie" is not proper definition for that - I was limited in time and didn't performed too much of investigations and can't say how exactly we need to call those processes. My way to look on currently opened ports is **sudo netcat -tunlp** command or **sudo service docker status**.  In both cases, after docker daemon started, I see those docker-proxy

[2016-09-02 19:34] rmb938 opened #26284 "Address already in use when restarting a container with a set ip."
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Boot2Docker & Docker for Mac

**Steps to reproduce the issue:**
1. Create and start a container with an ipv4 address set
2. Stop the container
3. Start the container

**Describe the results you received:**

[code]

**Describe the results you expected

[2016-09-02 19:35] cpuguy83 commented on #26284
ping @aboch

[2016-09-02 19:41] tswift242 commented on #26251
@mavenugo Thanks! Is anyone looking into https://github.com/docker/libnetwork/issues/1374. That seems to be the root cause of this issue. The issue fixed by https://github.com/docker/libnetwork/pull/1428 is just what perpetuated it.

[2016-09-02 19:51] ashanelluri opened #26285 "5'"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

[2016-09-02 19:56] #26285 closed

[2016-09-02 20:48] sanimej commented on #24138
@mort1k Closing this issue. We can reopen it if still see the problem with 1.12.1

[2016-09-02 20:48] #24138 closed

[2016-09-02 20:53] mattqs opened #26286 "docker service create: Can't access published port outside docker host"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Bare metal

**Steps to reproduce the issue:**
# Docker run works:

Start container
[code]

Test on docker host:
[code]

Test on another machine connected to the docker host (192.168.2.20 is ip of the docker host)
[code]

# Docker create service does n

[2016-09-02 21:22] fishnix commented on #24220
@BretFisher it seems like when you publish a port from a service, it's automatically assigned to the ingress network.  Is that correct?  I'm currently hitting this issue as well.

[2016-09-02 22:03] rgbkrk commented on #4393
I just worked around it.

[2016-09-02 22:12] BretFisher commented on #24220
Right it's assigned to the ingress network for incoming traffic to published ports only, which it sounds like @rmdashrfslash is saying is the same subnet as the source of an incoming packet to a published port... but @mrjana is saying it shouldn't matter.

@rmdashrfslash if  you can give me specifics on the source IP (what exactly is the conflict) then I can try to reproduce. FYI you should be poi

[2016-09-02 22:15] virtuman commented on #26235
of course, here you go.. some IPs are changed but mainly everything is here:

[code]

[code]

[2016-09-02 23:10] stevvooe commented on #24066
@mackeyja92 If you have the image set to `mysite.com:4567/image:7791fb4`, it is never going to update, since it is fixed to that image id. If you want it to update when a new task is created (during service creating or scaling), you'll have to specify the image as `mysite.com:4567/image` or simply get the new image id and use that.

If you're using the method suggested by @tonistiigi, you'll to ru

[2016-09-02 23:15] stevvooe commented on #25772
@kunalkushwaha Thanks! Let me know if you need any help!

[2016-09-02 23:24] mackeyja92 commented on #24066
@stevvooe Sorry, I think you may have misunderstood why I was using the ID. I understand that if I manually set it to a ID it will never update. I was only doing that because after going to every node and pulling the image and running the following it still would be on the old image.

`docker service update --image mysite.com:4567/myimage my_service`

What I was doing was essentially exactly the s

[2016-09-02 23:31] stevvooe commented on #24066
Ok, I'm very confused by this behavior. Do you have log messages from the node during the pull?

[2016-09-02 23:33] mackeyja92 commented on #24066
@stevvooe Just to clarify, you are saying that I should only have to pull it on one node and then run the update command and it should pull it on the other nodes automatically? I am on a authenticated registry but all the nodes are logged in.

[2016-09-02 23:36] aaronlehmann commented on #24066
Are you using the `--with-registry-auth` flag to `service update` to propagate the credentials? We don't transmit the credentials by default to prevent them from being spread accidentally by a client that happens to be logged into the registry (also, to avoid clearing them when manipulating the service from a client that's not logged in).

[2016-09-02 23:42] mackeyja92 commented on #24066
@aaronlehmann No, but they are logged in already. Do I still need to do that?

[2016-09-02 23:44] aaronlehmann commented on #24066
Yes, because being logged in is a property of the docker client. It keeps a file in your home directory that has the registry credential information. Every time you run a `docker pull` or `docker push` command, the docker CLI consults this file and sends the relevant credentials to the docker daemon, where the actual pull or push operation happens. With services, the client is not involved in star

[2016-09-03 00:24] tonistiigi commented on #5904
Added in https://github.com/docker/docker/pull/17275

[2016-09-03 00:24] #5904 closed

[2016-09-03 01:11] pnickolov commented on #26159
@stevvoe - agree pause should not be used for planned work (e.g., instead of manually stepping or controlling the blue/green %).

I do like the discussion in docker/swarmkit#1045, which - just like sillyproxy - seems to be more about controlling the traffic distribution between the blue and green versions. Without it, traffic is evenly balanced between all instances, so the only way to change the

[2016-09-03 01:30] pnickolov commented on #26160
@aaronlehmann , thanks. I'll move it to swarmkit.

On having `--pause` and `--resume` as options to `service update`: OK, I understand why this may be preferred. I like that I can pass other `update` flags as part of pause/resume (e.g., change the delay or the rollout mode per docker/swarmkit#1383).

If I understand correctly, this sub-command approach affects only the CLI; in the API, we should p

[2016-09-03 06:14] GordonTheTurtle commented on #10514
@WhisperingChaos It has been detected that this issue has not received any activity in over 1 year.

Could you please let us know if it is still relevant? For example:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?

[2016-09-03 06:21] GordonTheTurtle commented on #11241
@purpleidea It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #10850
@devurandom It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #11286
@FossiFoo It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #4685
@tianon It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #5768
@jamtur01 It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #11520
@emsi It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #8994
@apollos It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #11176
@witlessbird It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #11639
@cc272309126 It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #10451
@nealmcb It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #11874
@rothgar It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #11887
@etki It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #11180
@alexisvincent It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #12128
@hugoduncan It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #12137
@ttrifonov It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #9929
@yaronr It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #12233
@x1022as It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #12441
@markovuksanovic It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #11910
@pdevine It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #12413
@joshwilsdon It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #12526
@dlintw It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #11187
@jainvipin It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #13298
@bfirsh It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #13662
@tusharm It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #13110
@emailstorbala It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #13735
@fruitl00p It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #9403
@smartinsightsfromdata It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #11902
@zhaozww It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #13920
@dchen1107 It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:21] GordonTheTurtle commented on #14272
@sheavner It has been detected that this issue has not received any activity in over 1 year. Can you please let us know if it is still relevant:
- For a bug: do you still experience the issue with the latest version?
- For a feature request: was your request appropriately answered in a later version?
Thank you!

[2016-09-03 06:53] purpleidea commented on #11241
@GordonTheTurtle still a bug.

[2016-09-03 07:25] #10850 closed

[2016-09-03 08:07] joonas-fi commented on #24277
+1'ing just doesn't cut it, so here's my two cents:

I somehow understand that changing terminology and syntax from `-v` to `--mount` is justified in the longer run (hope you're going to be consistent by having a plan to change this also in `$ docker run ...`), but this shouldn't have been shipped unless it was documented properly. For crying out loud the CLI `--help` and online docs did not give

[2016-09-03 08:10] cyphar commented on #24786
@tonistiigi I don't think there's any more changes needed to that particular patch (AFAICS it fixes the issue, but relies on having /tmp rw). But maybe we should eventually consider going the same route as seccomp is going (thanks to @runcom's patches).

[2016-09-03 08:44] joonas-fi commented on #24192
Sidenote: this seems to be a worrying trend in the Docker project now (my other issue with docs: https://github.com/docker/docker/issues/24277#issuecomment-244533638) - shipping stuff with missing, or even **worse: incorrect** documentation. `docker service create --constraint node==nodename` does not work even though it's documented here: https://docs.docker.com/swarm/scheduler/filter/#/how-to-wr

[2016-09-03 08:56] FossiFoo commented on #11286
I'm not using devicemapper anymore, but switched to btrfs, so i don't know if this is still in the current release.

[2016-09-03 10:36] yaronr commented on #9929
@GordonTheTurtle to be truthful, I haven't used Docker in a long while.
But please check if the documentation has been updated. If so, close the issue.
If not, update the doc, and then close the issue ;)

[2016-09-03 11:40] lucke84 commented on #22610
@justincormack I tried and validate your idea, here's the outcome.

Currently running on AWS 64bit Amazon Linux 2016.03 v2.1.1 running Multi-container Docker 1.9.1 (Generic). Each instance run 3 containers: an app, nginx, and the amazon ecs agent.

The host machine's disk usage:
[code]

The container's disk usage:
[code]

The disk usage for `/var/lib/docker`:
[code]

And specifically (3 entries pe

[2016-09-03 11:48] gdm85 commented on #12413
I guess this is fixed now because you have to always specify an explicit restart policy?

[2016-09-03 11:53] gdm85 commented on #19307
Related: #8821

[2016-09-03 11:54] gdm85 commented on #17272
Also related: #8821

[2016-09-03 11:56] gdm85 commented on #8821
Am I correct to think that part of this feature was "predated" by #11008 and its merged PR #15348? Perhaps scope needs to be redefined...

[2016-09-03 12:12] DennyZhang commented on #22207
Running into similar issue.

We're running daily CI in the docker daemon server. /var/lib/docker/aufs/diff takes quite a mount of disk capacity, which it shouldn't be.

[2016-09-03 12:22] tonytonyjan opened #26291 "`sudo docker login` won't create file in /root/.docker/config.json"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

My server runs on AWS.

[code]

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

there is a note In https://docs.docker.com/engine/reference/commandline/login/

I expec

[2016-09-03 12:26] lougreenwood commented on #24675
@viral-1 & @saeioul - Have either of you updated to the latest developer build of Sierra (beta 8 - 16A313a) - Docker for Mac beta is running fine on Sierra for me now.

[2016-09-03 12:52] lennartjuette commented on #11407
I just upgraded and will try it out for a few weeks.

*Before*
[code]

*After*
[code]

[2016-09-03 13:13] michelvocks commented on #26175
#dibs

[2016-09-03 14:02] fredkan commented on #22693
same issue meet

[2016-09-03 14:36] nealmcb commented on #10451
Unless something has changed, it still seems relevant to me.

[2016-09-03 17:31] vdemeester commented on #26175
@crosbymichael I wonder why using `gocheck` instead of the stdlib `testing` would benefit :sweat_smile:  (I tend to like and stick to `testing` for unit tests as it's simple)

[2016-09-03 17:36] Vanuan commented on #24277
Here's a helpful blog post http://www.kendrickcoleman.com/index.php/Tech-Blog/how-to-use-volume-drivers-and-storage-with-new-docker-service-command.html

[2016-09-03 17:45] cpuguy83 commented on #24277
@joonas-fi Thanks for pointing it out. You're right this should already be in the docs. Docs have definitely been a sore spot in terms of keeping them up to date, and even more so with the number of UX changes during the pre-release phase for 1.12. Definitely something to work towards to be better at.

Thanks @Vanuan for linking the post!

[2016-09-03 18:20] aladagemre commented on #25008
Any news on this issue? Should we expect it soon?

[2016-09-03 19:37] martin-wiseweb commented on #18113
Deleteing `/var/lib/docker/network/files/local-kv.db` worked for me

[2016-09-03 20:16] sfsmithcha commented on #24192
@joonas-fi , the doc you refer to on filters refers to "Docker Swarm." It is called out at the top of the page. The information is correct within the context of Docker Swarm. For Swarm Mode, the documentation is included with the Docker Engine docs as follows:

The 1.12 Docker Engine command line reference documents how to do constraints for Docker Engine swarm mode:
https://docs.docker.com/engine

[2016-09-03 20:26] martin-wiseweb opened #26295 "Tag latest not found in repository docker.io/library/hello-world"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. Run `docker run hello-world`

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

[2016-09-03 21:18] kashifali94 commented on #25907
ok thanks @rhatdan

[2016-09-03 21:43] yongtang commented on #26179
I haven't used Windows for some time but I remember notepad typically adds a BOM at the beginning of the file. Golang should be able to handle utf8 so I think if we remove the BOM in env parser then the env file encoded in utf8 by notepad should work.

[2016-09-03 22:17] yongtang commented on #26179
Created a pull request #26296 to try to address this issue.

[2016-09-03 23:08] mattqs commented on #26286
Needed to disable firewall: `sudo ufw disable`

[2016-09-03 23:08] #26286 closed

[2016-09-04 00:13] yongtang commented on #26220
@vikstrous @icecrime The issue seems to be in:
https://github.com/docker/docker/blob/05a3f2666ee34c2dfa04663bbdda3c7763b001d8/daemon/container_operations_unix.go#L126-L135
where the original network name (`networkName`) instead of the resolved network name (`n.Name()`) was used.

[2016-09-04 00:41] yongtang commented on #26220
@vikstrous @icecrime I creaated a pull request #26297 to fix it. Please let me know if there are any issues.

[2016-09-04 01:44] floragunncom opened #26298 "DNS reverse lookup of embedded DNS server is broken"
<pre>
Client:
 Version:      1.12.0
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   8eab29e
 Built:        Thu Jul 28 21:15:28 2016
 OS/Arch:      darwin/amd64

Server:
 Version:      1.12.0
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   8eab29e
 Built:        Thu Jul 28 21:15:28 2016
 OS/Arch:      linux/amd64

Containers: 79
 Running: 2
 Paused: 0
 Stopped: 77
Images: 426
Se

[2016-09-04 01:53] au-phiware commented on #26120
I have downgraded to docker 1.11, 1.10 and 1.9 to no avail, so I don't think this is specific to 1.12. I notice warnings about cgroup blkio weight but I don't see how that could be affecting the network bridge... FWIW

    $ iptables -V
    iptables v1.4.21

[2016-09-04 02:47] icecrime commented on #11241
@purpleidea Thanks! After discussing with the team, it seems that there's no bug in the docker daemon here. I understand the issue my not be fully resolved, but it doesn't seem like a fix is required in this repository. I'll close this one, but feel free to file a new issue if a daemon-side issue is confirmed!

[2016-09-04 02:47] #11241 closed

[2016-09-04 03:35] nickvanw commented on #26235
I believe I'm seeing the same bug on my end as well:

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

These are DigitalOcean Droplets running 16.04 set up following the guide, without any current running containers.

**Steps to reproduce the issue:**
1. Create 3 DigitalOcean Droplets running Ubunt

[2016-09-04 05:33] gittycat commented on #26194
Post your `docker info` and `docker version`. It's not clear whether you're using swarm mode or legacy swarm, amongst other info.

[2016-09-04 07:54] martin-wiseweb commented on #26295
Docker, upon installation, `docker run hello-world` always shows me `x509: certificate signed by unknown authority.`.

So I fix this by doing the following:

[code]

Running `docker run hello-world` or `docker pull hello-world` produce the errors above at this point.

[2016-09-04 08:56] pgampe commented on #16341
Some background:
I have upgrade to Fedora 24 (from 23) and then docker stopped working with the above error.

It seems some options changed and it is impossible or hard to migrate to the new storage format. I was able to recover with the following step. I hope it helps someone else stumbling upon the same error.

[code]

[code]

[code]

[code]

[2016-09-04 10:14] skrysmanski opened #26300 "Don't display 3 fractional digits when showing sizes (confusion)"
Currently (Docker 1.12.1), calling `docker images` may show something like this:

[code]

Here, the image size is reported with 3 fractional digits (i.e. `141`).

I'm a German developer. In Germany, the dot `.` is used as thousands-separator in number (equivalent to the `,` in English).

While I have set up my operating system to display English texts, my input locale is German. Due to this, at le

[2016-09-04 11:41] freewilll commented on #25985
We have this problem too.  We not only get requests going to incorrect containers but also "No route to host" errors. In one example case, the ipvsadm output contained 3 IP addresses that didn't belong to any containers and belonging to a real container, resulting in 3 out of 4 requests producing a no route to host error.

[2016-09-04 12:43] vshlapakov commented on #24995
Hi @thaJeztah and all, I encountered with the mentioned issue recently, Linux Mint `17.3`, `docker-engine` upgraded from `1.11.2` -> `1.12.1`, with the following logs:
[code]
You can see there's no `--shim` option at all, though `containerd` version > your `0.2.0`.
I was able to fix everything with:
- getting latest containerd with `go get github.com/docker/containerd`
- cloning it's repository lo

[2016-09-04 13:44] freewilll commented on #25985
Looks potentially related to #25325

[2016-09-04 14:19] b0ch3nski commented on #25608
@aboch
Unfortunately, I also was not able to reproduce the issue anymore.
Now, I keep all my environments on debug, hoping to see it again.

[2016-09-04 14:55] freewilll commented on #25985
Not sure if this helps, but here's a couple of points and things we noticed.

- Swarm cluster: 4 nodes
- Swarm version: 1.12.1 kernel version: 4.4.0-36-generic
- We run 5 replicas by default of each service. Things were failing without us changing the number of replicas manually (read on)
- Our setup is heavily used, with new services being created on a regular basis.
- Newly spawned services tend

[2016-09-04 16:26] yank1 commented on #26098
Thanks

[2016-09-04 16:39] hpc-training commented on #15949
Had the same problem today with my VirtualBox Ubuntu/Docker-VM. However, the MTU already was 1500. Reducing it to 1000 helped.

[2016-09-04 16:45] yank1 commented on #26259
+1

[2016-09-04 16:45] GordonTheTurtle commented on #26259
*USER POLL*

*The best way to get notified of updates is to use the _Subscribe_ button on this page.*

Please don't use "+1" or "I have this too" comments on issues. We automatically
collect those comments to keep the thread short.

The people listed below have upvoted this issue by leaving a +1 comment:

@yank1

[2016-09-04 16:55] summerfang commented on #22567
I am user to install the stable version of docker for windows in Win10. I met different issue but similar since the effort message are:
PS C:\Users\xxxxxx> docker run hello-world
Unable to find image 'hello-world:latest' locally
Pulling repository docker.io/library/hello-world
C:\Program Files\Docker\Docker\Resources\bin\docker.exe: Network timed out while trying to connect to https://index.dock
e

[2016-09-04 19:02] olea commented on #16341
@pgampe so, could you finally recover your previous containers?

[2016-09-04 19:54] virtuman commented on #26235
Can you confirm that you are also unable to reach any of the hosts from the external connections on port 80 in the described scenario, ie:

`curl swarm-node03.something.here`

for me the result is: port is closed on all nodes

[2016-09-04 20:18] Vanuan commented on #24066
This is a showstopper. What is a workaround? Scaling to zero and scaling back?
The primary use case for docker swarm mode is zero-downtime updates. It is currently impossible to do without introducing a new tag.

[2016-09-04 21:35] yongtang commented on #26300
The `size` in `images` was handled by `units.HumanSize()` which always display 4 digit precision:
https://github.com/docker/docker/blob/fc63bb83caea1baf4d3818b1c8c59f83e9db6f81/vendor/src/github.com/docker/go-units/size.go#L52-L56

I think an easy fix for this issue is to use `CustomSize()` directly but with 3 digit precision (so that no `x.yyy`) case.

[2016-09-04 21:54] yongtang commented on #26300
@skrysmanski See #26303 for pull request.

[2016-09-04 23:38] Vanuan commented on #24066
Currently, what I've been doing is pulling manually and adding/removing `:latest`.

[code]

[2016-09-05 00:03] #24720 closed

[2016-09-05 01:02] TactfulElf commented on #20240
patch has been added to aufs >=4.x-20160905

If you have an older aufs version <4.1 because of an older kernel I guess the only option is to apply the patch manually.

[2016-09-05 01:56] xiaods commented on #26284
could you please describe more details step on this step?:
1. Create and start a container with an ipv4 address set

[2016-09-05 02:02] rmb938 commented on #26284
Yup, so either using the cli `docker run` or `docker create` with the `--ip` flag, or using the API for creating the container with `IPv4Address` set in the EndpointConfigs.

[2016-09-05 02:13] mackeyja92 commented on #24066
So I was able to do it using the hash but it still does not automatically pull on every node. Once I pull the update part works fine using the `RepoDigests`.

[2016-09-05 03:43] cc272309126 commented on #11639
Sorry. it should be fixed.

[2016-09-05 04:15] #26220 closed

[2016-09-05 05:21] #11639 closed

[2016-09-05 05:33] xiaods commented on #26284
@rmb938 i can't reproduce your bug in your step,

[code]

[code]

i have not found any reports on ip conflict.

[2016-09-05 05:46] liuxiaopiao commented on #26235
met the same problem

[2016-09-05 06:04] RahmadaniBayuAji opened #26308 "3e"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

[2016-09-05 06:10] #26308 closed

[2016-09-05 06:40] MartinAlex12 commented on #24675
guys, even if your mac fits minimum system requirements for macOS Sierra, you should prepare your Mac for an update. Here is a useful guide how to prepare - https://nektony.com/blog/prepare-for-macos-sierra-update

[2016-09-05 07:25] xiaods commented on #26283
how about use tar to bundle the dependencice.

[2016-09-05 07:28] dhs-rec commented on #21215
Just stumbled across this myself. While cleaning up old images and containers, the system was not only unable to list available images, but also to create new containers based on images that where still completely available. So I'd say it has implications.

This is 1.11.2, running on Ubuntu Xenial.

[2016-09-05 07:30] mostolog commented on #26244
Having a similar issue here: 1 swarm node, 1 service, 3 replicas, overlay network...and _service rm_ always left one task exited that can be viewed with  _docker ps -a_

Is there anything we could do/test for you?

[2016-09-05 07:35] ntquyen opened #26309 "docker daemon hangs while running docker rmi"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Hyper-V, windows server 2012 RC2

**Steps to reproduce the issue:**
1. run `docker rmi <image id>`
2. at the same time, run `docker info` or any docker command

**Describe the results you received:**
The `docker info` command (or any other commands) i

[2016-09-05 07:54] ntquyen commented on #26309
**Update**
`docker ps` isn't blocked by `docker rmi`. But `docker info`, `docker images`, `docker pull` are.

[2016-09-05 08:17] pawelpalka commented on #26283
Making tar and extract its quite slow for big dirs with a lot of files, its not  appropriate  for debugging   (modify this sources)

[2016-09-05 08:38] AkihiroSuda commented on #26283
Actually you can access the container's filesystem from the host via  `/proc/$(docker inspect --format {{.State.Pid}} $container)/root`

[2016-09-05 08:42] F21 commented on #23965
Any chance this one can make it into 1.12.2?

[2016-09-05 08:46] Richard-Mathie commented on #25396
@mavenugo arrrrgghh nooooo

Can this be configurable as it is important for testing and fault finding to be able to check the network connection to services. By all means It would be great to lock things down in production. But in development, and with docker's quit frankly flaky networking we need to be able to dig down and find the fault and this may involve using dig, nslookup and curl on the s

[2016-09-05 08:53] Richard-Mathie commented on #25396
Also if you are serious about this and applying granular segmentation on services. A service (A) with a published port (and thus on the ingress network), shouldn't be able to connect to another service (B) on the ingress network on any port not published by (B). Or should that be A shouldn't be able to talk to B at all? The latter is a bit silly as A can talk to B through local host on the publish

[2016-09-05 09:11] fruitl00p commented on #13735
@thaJeztah @GordonTheTurtle revived this issue from the queue and it seems there is still no hard preference for one or the other.... (as currently AUFS still seems the way to go...)

Also pointing to [Select a storage driver.](https://docs.docker.com/engine/userguide/storagedriver/selectadriver/) from the docs should heb everyone i guess...

My stance right now is: just go with the defaults ... (

[2016-09-05 09:11] #13735 closed

[2016-09-05 09:14] tjlee commented on #14474
@dmcgowan is this issue fixed or not?

[2016-09-05 09:39] teodorescuserban opened #26312 "help on "networks ls" is pasted from volumes"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

physical

**Steps to reproduce the issue:**
1. type: ```docker network ls -h```

**Describe the results you received:**

Last line is:

```-q, --quiet          Only display volume names```

**Describe the results you expected:**

Last line should (po

[2016-09-05 10:06] pawelpalka81 commented on #26283
Yes its  work for shell, but mounting via `ln -s`
this root require root permisions for IDE :(,
I tried `mount --bind` but doesnt work :
`mount: wrong fs type, bad option, bad superblock on`

[2016-09-05 10:07] nottrobin commented on #22093
Is there any way to detect which stopped containers are using the volume?

[2016-09-05 10:20] yongtang commented on #26312
Created a pull request #26313 for that. The help output is fixed to
[code]

[2016-09-05 10:54] vuhiep1694 opened #26315 "start, restart, stop docker timeout on centos 7"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Steps to reproduce the issue:**
1.I running docker on centos 7: Linux WT_ZSL_Apps-46.17 3.10.0-327.28.3.el7.x86_64 #1 SMP Thu Aug 18 19:05:49 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux
2.using command: curl -fsSL https://get.docker.com/ | sh to install docker

**Describe the results you received:**
But when I run command

[2016-09-05 11:26] shenshouer commented on #25303
any idea for swarm mode support host networking ?

[2016-09-05 12:09] cwen-coder commented on #17846
@raisercostin  your solution worked for me on docker 1.12.1. ubuntu 14.04.   I run ubuntu 14.04 with VirtalBox and Vagrant

[2016-09-05 12:20] Anvil commented on #26133
I'm very interested in this feature. With this, volume drivers could implement features such as resizing (e.g: `docker volume update -o size=30G`), renaming, etc.

[2016-09-05 12:56] navinSing commented on #26137
same problem

[2016-09-05 13:25] navinSing opened #26316 "DOCKER network not adding services of same image"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

docker network create -d overlay nw_pr

**Steps to reproduce the issue:**
1. create services

docker service create --name a  --network nw_pr -e PORT=80  -e MOX2_WRL="http://b/count"  mo-poc:6.3.1 node /mo/newMoJov2/pocmoa/mox/src/mon.js
	docker serv

[2016-09-05 13:26] xiaods commented on #26244
@mrjana could you please point the point to reoslve the problem.

[2016-09-05 13:29] FelikZ opened #26317 "Same image & container has different behavior on different hosts"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Affected instance running on VM, working on physical PC.

**Steps to reproduce the issue:**
1. `docker run --rm -ti php:5.6.14-fpm bash -ci 'gpg --keyserver ha.pool.sks-keyservers.net --recv-keys 9554F04D7259F04124DE6B476D5A82AC7E37093B'`

**Describe

[2016-09-05 13:43] FelikZ commented on #26317
So it looks like the issue with filesystem:

[code]

This does not happen with PC, investigating more.

[2016-09-05 13:46] rmb938 commented on #26284
Ah you know what, looking at my code with fresh eyes. There was actually a case where I used overlapping IPs. So this isn't an issue with docker.

[2016-09-05 13:46] #26284 closed

[2016-09-05 14:02] FelikZ commented on #26317
Stopping docker service and clearing `/var/lib/docker` does not help to solve this issue.

I am not able to switch from `overlay` fs since all other complain that:
[code]

[2016-09-05 14:09] harobed commented on #24232
Always issue with 1.12

[2016-09-05 14:13] FelikZ commented on #26317
It looks like that it is not possible to move files that being created during the base image build.

Look at `secring.gpg` date:

[code]

[2016-09-05 14:18] FelikZ commented on #26317
The problem is exactly with filename / path, since I can freely create and rename new files but not when filename are the same as it being created in image:

[code]

[2016-09-05 14:20] FelikZ commented on #26317
Might be related to https://github.com/docker/docker/issues/25409

[2016-09-05 14:22] jiaoge commented on #24089
docker service create --name example --replicas 2 -p 6001:6001 --mount type=bind,source=/root/logs/example,target=/root/logs  registry-vpc.cn-hangzhou.aliyuncs.com/quancheng/example-web:20160905

@thaJeztah

example.2  registry-vpc.cn-hangzhou.aliyuncs.com/quancheng/example-web:20160905  iZ230brnviiZ  Shutdown       Rejected 4 seconds ago  "invalid bind mount source, so…"

[2016-09-05 14:29] mschirrmeister commented on #25325
@mavenugo @mrjana I cloned the docker master repo and applied the patches/commits from #25962 (Hope I did everything right). The build produced docker **1.13.0-dev**.

With that version, my problem still exists. Reproduced with,
- Rebooted all hosts
- Started docker on all 3 nodes
- Created a service with 1 task
- Scaled the service to 3

Did then a curl against all 3 docker hosts. 2 nodes balance

[2016-09-05 14:38] mikegomezg opened #26319 "SSH error when starting default docker machine."
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

I have tried these two versions of VirtualBox, but I have the same problem on both:

Version 5.0.26
Version 5.1.5

**Steps to reproduce the issue:**
1. Install Docker Toolbox for OSX
2. Run quickstart
3. Error always occurs for me

**Describe the res

[2016-09-05 14:40] mikegomezg commented on #26319
https://gist.github.com/mikegomezg/5de744d60b778c475a57ad9dd7f8209e

[2016-09-05 15:14] rdavaillaud commented on #25981
Well, we've got the same problem, with compose 1.8, docker 1.12.1 on fedora 24.

[2016-09-05 16:10] FelikZ commented on #26317
Iteratively I have found that this not happen with `php:5.6.20-fpm` image, so maybe not all images from official docker registry compatible with overlay fs on centos 7.1?

[code]

[2016-09-05 16:16] FelikZ commented on #26317
Tryied to build 5.6.18 from the source https://github.com/docker-library/php/blob/7bd5c38db974ee629a815896add1ec568a1cc88c/5.6/Dockerfile

Build failed with similar file system error:
[code]

Now I am 100% sure that overlayfs is an issue. Will try to migrate to devicemapper instead.

[2016-09-05 16:24] pgampe commented on #16341
@olea No. I deleted everything, because this was just my dev machine and not a server.

You might want to try to copy the `/var/lib/docker/` somewhere and see if you can save at least some bits.

[2016-09-05 16:37] rdavaillaud commented on #25981
Well, I managed to find a workaround:

- stop docker
- remove all internal docker network: rm /var/lib/docker/network/files/
- start docker

[2016-09-05 16:46] sanimej commented on #25981
@rdavaillaud @kossmoss I couldn't recreate the issue. But I wasn't using compose. All the reported occurrences seem to be happening with compose. Can you give the exact steps you are using that results in the issue ?

[2016-09-05 17:03] pcgeek86 commented on #22693
@thaJeztah Any thoughts on this user experience that you could contribute? Seems that quite a few people are encountering this scenario.

[2016-09-05 17:13] #26312 closed

[2016-09-05 19:20] schmunk42 commented on #24107
@dnephin In which docker version is `docker stack deploy` available (client, server, swarm...)? Do I need an experimental build?

[2016-09-05 19:47] gnomff commented on #24310
I am having the exact same issue as OP. It's like mesh routing/load balancing is not working at all.

[2016-09-05 20:20] gnomff commented on #24310
Actually, switching from Ubuntu 16.04 to RancherOS did the trick. Mesh routing works all of a sudden.

[2016-09-05 20:32] fishnix opened #26322 "Multi-host overlay networking doesn't work in Centos7, Docker 1.12.1"
It seems like (on AWS), t2.micro nodes in a VPC, common subnet, common security group, multihost networking via an overlay network is broken (for me).  These were freshly deployed and updated to latest manually, and had docker installed via the yum repo.

**Output of `docker version`:**

Manager:

[code]

Worker:

[code]

**Output of `docker info`:**

Manager:

[code]

Worker:

[code]

**Additiona

[2016-09-05 23:01] CrimsonGlory opened #26323 "DNS resolution fails in one node in the swarm (1.12.1)"
I have a swarm (1.12.1) with a manager and two workers. One of the workers node's services can't resolve dns. Not even for internal hosts. Connectivity works (pinging 8.8.8.8 and services by IP works)
The subnet chosen by Docker when creating the overlay network (10.0.0.0/24) does not conflict with any internal subnet.

Node1 works ok
Node2 has dns problems.

**Output of `docker version`:**
Manage

[2016-09-05 23:05] arun-gupta opened #26324 "Operating system constraint not honored when starting container"
Using Docker for Mac, version: Version 1.12.1-beta24 (build: 11525)

Starting an NGINX container using the following operatingsystem constraint:

[code]

The container is started correctly and `docker ps` shows the output as:

[code]

`docker info` shows:

[code]

Was expecting the container to not start because the `operatingsystem` constraint is not matching.

[2016-09-05 23:21] ceseo commented on #24805
This is fixed for ppc64/ppc64le: https://github.com/golang/go/commit/0df5ab7e6569a8bf6bc87975e539706163bf664a

[2016-09-05 23:41] matyapiro31 commented on #18444
Same error at Ubuntu 16.04 LTS.

[2016-09-05 23:43] outcoldman opened #26325 "Docker service create --constraint are not honored everywhere"
Starting from simple example

[code]

Where `splunk0` is the only manager role.

I have a service with constraint  `node.role != manager` and mode == `global`.

When I do `service ps` I see that `splunk0` has a service task on node `splunk0` with state `Shutdown`. And the worse part if I try to update the image - it stuck I guess because it waits when this ghost task will be updated on node `splun

[2016-09-05 23:43] marcosnils commented on #26324
You're not a in a swarm. Daemon reports `Swarm: Inactive`

[2016-09-06 01:02] virtuman commented on #16816
This only fixes running containers using:
`docker run -d -p ...`

but it still doesn't work on docker swarm 1.12 and 1.12.1 using
`docker service create --publish ... `

It won't open port and complains about `failed: iptables: No chain/target/match by that name` on series of iptables rules in firewalld logs

[2016-09-06 01:44] virtuman commented on #26235
Not sure if this is related, all of my servers have multiple network adaptors:
eth0 for public network
eth1 for local / internal network connectivity

swarm is started to listen and connect on internal network interface, however curl'ing from another server on a local/internal network - it is still unable to connect. localhost will sometimes be able to access service on the correct port, but acces

[2016-09-06 03:34] j16180339887 commented on #8755
For those who use Cygwin:
C:\cygwin64\Cygwin.bat works for me.

[2016-09-06 04:18] yuralim commented on #26322
I also have a similar issue. I am currently running docker in CentOS 7 using Vagrant.

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
CentOS 7 using Vagrant and VirtualBox
[code]

**Steps to reproduce the issue:**
1. Create 2 swarm managers and create an overlay network.
2. Create a nginx service

[2016-09-06 04:21] freman commented on #24045
We've got a similar problem here, complicated php5-fpm install, nginx, nodejs redis on a ubuntu base image that we've been running for 18 months under vagrant.

[2016-09-06 04:24] anannaya commented on #23089
Thanks..It worked.

[2016-09-06 04:50] cupracer commented on #22185
@sanimej

Sorry for my delayed response. It took my chosen distro a while to release working packages for Docker 1.12 (1.12-rc* packages didn't work at all), so I couldn't switch to 1.12 earlier.

I finally upgraded to 1.12 and my containers are running fine and without name resolution problems since last weekend. This is great and I'm glad that I can finally use the latest Docker release without

[2016-09-06 05:41] crossz commented on #24508
@babatundebusari As I tested, image based FROM alpine, will have the issues you got. However, those ones FROM ubuntu/centos, if the uid/gid are same, will have no the issues as you stated here.

Give this a try and let me know your results.

[2016-09-06 06:36] ageis commented on #26014
On stretch, rm'ing `/var/lib/docker` solved the issue.

On jessie, I will note that I'm running a grsecurity kernel. Does Docker run on grsec? I see there's this issue: https://github.com/docker/docker/issues/20303

[2016-09-06 06:39] BrickXu opened #26326 "inspect container does not show ulimit value if start daemon with --default-ulimit"
**Output of `docker version`:**
[code]

**Output of `docker info`:**
[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Physical

**Steps to reproduce the issue:**

1. start daemon with option `--default-ulimit=nofile=65535`
2. start a container, named "A"
3. `docker inspect -f {{.HostConfig.Ulimits}} A`
4. start another container named B via `docker run --ulimit nofile=

[2016-09-06 07:11] techninja1008 opened #26327 "[Meta] A "docker deploy" roadmap needed"
Someone probably needs to start a roadmap issue for getting a solution to current problems with "docker deploy" (ie. where the feature is planned to go) because so far, I cannot find anything, let alone an issue, describing current progress.

Including:

- `docker deploy`
- `docker stacks`
- The planned relation between Swarm Mode / Docker Compose / `docker deploy`
- The planned file formats

[2016-09-06 07:20] chione commented on #25981
I work with rdavaillaud and we have 4 pc using this docker and compose configuration, and this happend to only one of the pc one day after a computer reboot.

So we don't really know how to reproduce.

[2016-09-06 07:47] rdavaillaud commented on #25981
This is our docker-compose.yml, nothing fancy here I think, and no network definition.
[code]

The docker containers are built from official centos7-systemd image.
The hosts are on Fedora 24, Docker-engine 1.12.1 and Compose 1.8.

We will tell you if it happens again.

[2016-09-06 08:30] pierreozoux commented on #23371
Seeing the same here:
[code]

And this is how I start/stop/restart my containers:

[code]

I got the same error, and then, nothing under `docker ps -a`, but there was a folder under `/var/lib/docker/containers` with the container hash, I removed, still no luck. I restarted docker daemon, it worked.

[2016-09-06 08:30] MartinJohns commented on #20397
Is there a way to prevent this warning? Some kind of switch?

[2016-09-06 09:17] ragnarkurm commented on #21704
uname
`3.16.0-0.bpo.4-amd64 #1 SMP Debian 3.16.7-ckt25-2~bpo70+1 (2016-04-12) x86_64 GNU/Linux`

Docker info
[code]

Docker version
[code]

From kernel logs, possibly related:
[code]

Errors seen from shell during starting/stopping containers:
[code]

Checking open files there:
[code]

In addition, after started using docker, server hangs regularly after few months, sometimes even without errors,

[2016-09-06 09:18] FelikZ commented on #26317
Solved by switching to `devicemapper` storage driver.

[2016-09-06 09:32] rstropek opened #26329 "Windows: Mounting of single file does not work"
# Environment

* Windows Server 2016 Technical Preview 5 running in Azure (I am using the ready-made VM that Azure provides)
* Docker host has a directory `c:\config` containing a text file `test-rainer.txt`.

# Repro

Execute Docker CLI command: `docker run -it --rm -v c:\config\test-rainer.txt microsoft/windowsservercore cmd /c "type c:\config\test-rainer.txt"`

Expected behavior: Print content

[2016-09-06 09:39] marcelmfs commented on #23371
This workaround for https://github.com/docker/compose/issues/3277#issuecomment-238080180 also fix this issue...

[2016-09-06 09:42] cdwertmann commented on #23371
@marcelmfs not for me. I have to delete the entire `/var/lib/docker`

[2016-09-06 09:49] marcelmfs commented on #23371
Weird, for me it just worked. I'll try one more time to be sure.

[2016-09-06 09:49] rzwpgc opened #26330 "docker build fails upon resolving host"
I am running Ubuntu 16.04 as a virtual machine on Oracle Virtual Box (main host is Windows 7).
I am having the problem that inside of docker, hostnames cannot be resolved, so I cannot "docker build" (please see example below).
I tried different solutions found here, for example rebuilding docker0, adding the resolv.conf nameserver to /etc/default/docker -> DOCKER_OPTS, none of them worked until no

[2016-09-06 10:13] floion commented on #23371
@marcelmfs so you just deleted docker/network/files/local-kv.db?

[2016-09-06 10:41] fehergeri13 commented on #18756
![image](https://cloud.githubusercontent.com/assets/7180398/18270828/3b385b82-742f-11e6-8c74-eb55d73b0b0a.png)
 This solves the problem

[2016-09-06 10:51] mikkotikkanen opened #26332 "Way to ignore errors for COPY/ADD of optional files"
Due the lack of any way to ignore possible known errors on COPY fe. the official node.js images don't include COPY command for `npm-shinkwrap.json` file (only `package.json`) as the builds that don't have said file would obviously break, a file which only exists once something "production ready" is produced and what is pretty damn important at that for repeatable builds (as in, locking version num

[2016-09-06 11:03] metal3d commented on #18283
Same issue here, tried to remove /var/lib/docker/network/files and the whole solution yo gave here and nothing works.

[code]

[code]

[code]

[code]

Very complicated... Note that I'm installing openshift and docker is installed by openshift-ansible via RPM.

[2016-09-06 11:22] marcelmfs commented on #23371
Not only that, also removed all running containers `docker rm -f $(docker ps -aq)`

[2016-09-06 11:27] friism commented on #26198
@gabrielstein thanks for confirming. A fix is tracked on this issue: https://github.com/docker/docker/pull/23100#issuecomment-244614496

[2016-09-06 12:20] alexellis commented on #12268
@dmp42 can I comment on this thread? I'm looking for some pull counts on Raspberry Pi derivative images for a Docker Captain talk. Do you know who to get in touch with?

[2016-09-06 12:22] rzwpgc commented on #26330
# Dynamic resolv.conf(5) file for glibc resolver(3) generated by resolvconf(8)
#     DO NOT EDIT THIS FILE BY HAND -- YOUR CHANGES WILL BE OVERWRITTEN
search ad.syniverse.com

nameserver 8.8.8.8
nameserver 8.8.4.4

[2016-09-06 12:23] rzwpgc commented on #26330
docker run -it --rm ubuntu:16.04 bash -c 'cat /etc/resolv.conf':
search ad.syniverse.com

nameserver 8.8.8.8
 nameserver 8.8.4.4

[2016-09-06 12:50] dimaqq opened #26333 "Consider mounting part of a volume"
Docker allows mounting a data volume into container, which is awesome.

`docker-compose` supports that, which is awesome

Docker also copies files from image into volume on container creation, which surely it sometimes handy.

The problem is sometimes there's a bit too much data:

[code]
The idea is to have persistent logs. `nginx.conf` points logs to `/var/log/nginx` making this pretty nice, each

[2016-09-06 13:16] resouer opened #26334 "docker 1.12 load balancer doesn't work"
**Output of `docker info`:**

[code]
**Additional environment details (AWS, VirtualBox, physical, etc.):**
[code]

**Steps to reproduce the issue:**
[code]

[code]

**Describe the results you received:**
**Describe the results you expected:**
Then `curl 10.255.0.4:8000`, `curl 10.0.0.2:8000` does not work.

But if I `curl <the host ip>:8000`, it works.

**Additional information you deem important

[2016-09-06 13:22] cpuguy83 commented on #26333
Should be able to `log:/var/log:nocopy`
But also, why not do `nginx_log:/var/log/nginx`?

[2016-09-06 13:28] cpuguy83 commented on #26317
ping @dmcgowan

[2016-09-06 13:31] PommeVerte commented on #18539
Or supporting multiple apache vhosts.

[2016-09-06 13:31] cpuguy83 commented on #26324
Yes, looks like you are doing a `docker run` against an engine and not a swarm.

[2016-09-06 13:32] #26178 closed

[2016-09-06 13:35] cpuguy83 commented on #26322
ping @mrjana

[2016-09-06 14:04] #26280 closed

[2016-09-06 14:08] dimaqq commented on #26333
Good ideas, @cpuguy83

Something like `log:/var/log:nocopy` has been tried, the problem there is that stock `nginx` fails to start up, because it can't open `/var/log/nginx/xxx.log` because last diectory in the path does not exist. That approach would require a custom `command` to first set up required directories and then start actual nginx. Doable, but breakable.

Own log volume for each service

[2016-09-06 14:15] kossmoss commented on #25981
@sanimej As I mentioned before I noticed the problem after restarting virtual machine. So I know only one obvious step to try to reproduce the problem - restart machine (or even just turn the power off) having running containers (mind the docker-compose - maybe it's also important). Probably, restart several times. It's kinda cruel way, so I can't recommend to do thatm but don't know any other way

[2016-09-06 14:16] cpitclaudel commented on #22801
@fommil

This step *is* optional AFAICT: `env CANNOT_DUMP=yes ./configure` disables dumping.  The resulting Emacs can only be used in batch mode, though.  Does that not work on docker?

[2016-09-06 14:19] philipmac commented on #26240
[code]

[2016-09-06 14:19] RahmadaniBayuAji opened #26335 "3e"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

[2016-09-06 14:20] glenpike commented on #25981
removing /var/lib/docker/network/files/ worked for me.

[2016-09-06 14:21] #26335 closed

[2016-09-06 14:24] ragnarkurm commented on #21704
Some light at the end of tunnel!

More experimentation yields some clues:

[code]

Given script finds PIDs that are related to Docker container path.
Sometimes there are only couple of processes running (escaped from container?) and after killing them it is possible to remove container.

Other times, I see that most of processes (event init, pid 1) are related to container path. For example:

[cod

[2016-09-06 14:28] cpuguy83 commented on #21704
@ragnarkurm Looks like you are running 1.11.0, this is fixed in 1.11.1, and 1.11.2 is the latest from the 1.11 tree.
This is happening because you are mounting /run into the container, which in 1.11.0 had mounts from docker in it under `/run/docker/libcontainerd/<id>/rootfs`. This doesn't happen anymore.

[2016-09-06 14:30] arun-gupta commented on #26324
@marcosnils @cpuguy83 valid point, will close.

[2016-09-06 14:30] #26324 closed

[2016-09-06 14:32] Silex commented on #22801
@cpitclaudel: interesting.

Today, someone at https://debbugs.gnu.org/cgi/bugreport.cgi?bug=23529 told this would become more of a priority, so I guess somewhat soonish we'll have a usable buildable emacs in a container again (emacs in batch mode is not very useful for most people).

[2016-09-06 14:59] cpitclaudel commented on #22801
More generally, an undumped emacs isn't useful for most people :) For running CI tests, OTOH, an undumped `--batch`-only Emacs seems reasonable.

[2016-09-06 15:08] laithrafid opened #26336 "error starting container issue in a custom kernel"
Checkconfig.sh output :
[root@dhcp-10-17-17-40 /]# ./check-config.sh
info: reading kernel config from root/dev/linux-kernel/.config ...

Generally Necessary:
- cgroup hierarchy: properly mounted [/sys/fs/cgroup]
- CONFIG_NAMESPACES: enabled
- CONFIG_NET_NS: enabled
- CONFIG_PID_NS: enabled
- CONFIG_IPC_NS: enabled
- CONFIG_UTS_NS: enabled
- CONFIG_DEVPTS_MULTIPLE_INSTANCES: enabled
- CONFIG_CGROUP

[2016-09-06 15:10] laithrafid commented on #26336
3.18.3-g1d82046 #1 SMP Fri Sep 2 15:20:34 EDT 2016 x86_64 x86_64 x86_64 GNU/Linux

[2016-09-06 15:10] vieux commented on #26336
@crosbymichael can you please take a look ?

[2016-09-06 15:11] vieux commented on #26334
@mrjana can you please take a look ?

[2016-09-06 15:12] laithrafid commented on #26336
thanks @vieux for the prompt response

[2016-09-06 15:13] Silex commented on #22801
Ok, I confirm that using `CANNOT_DUMP=yes` works, but the resulting emacs is not very useful as said already.

[2016-09-06 15:15] vieux commented on #26325
@dongluochen can you please take a look ?

[2016-09-06 15:16] philipmac commented on #26240
^^ I also tried the above with -g /home/macmenaminpe/docker_space/btrfs

(All of these issues go away if I simply leave off the -g argument and accept the default. That is, I don't think there's anything fundamentally broken with my environment, it only has problems when I want to move the location of the images.)

[2016-09-06 15:21] dynamicnet commented on #25656
Same problem here.
Huge I/O degradation under 3.16.0-4-amd64 (stock Debian 8.3) using AUFS
Solved upgrading to 4.6.0-0.bpo.1-amd64 from jessie-backport, switching to Overlayfs

[2016-09-06 15:22] vieux commented on #26309
Any chance you could try on docker 1.12.1 ?

[2016-09-06 15:24] vieux commented on #26319
@mikegomezg can you please open your issue on https://github.com/docker/machine

/cc @nathanleclaire

[2016-09-06 15:25] vieux commented on #26298
@mrjana can you please take a look ?

[2016-09-06 15:28] #26319 closed

[2016-09-06 15:43] #25625 closed

[2016-09-06 15:47] #26291 closed

[2016-09-06 15:52] crosbymichael commented on #4685
Since `/dev/` is always mounted in a tmpfs and decoupled from the rootfs mount options this shouldn't be an issue anymore ;)

[2016-09-06 15:52] #4685 closed

[2016-09-06 15:57] crosbymichael commented on #26175
@vdemeester because we are going to have it output xunit support so that jenkins can parse it and every test will do the same

[2016-09-06 15:57] crosbymichael commented on #26175
@michelvocks thanks!

[2016-09-06 15:57] #5768 closed

[2016-09-06 16:07] CrimsonGlory commented on #26323
Creating the services with ```--endpoint-mode dnsrr``` seems to have fixed the issue.
Also this seems kind of duplicate of https://github.com/docker/docker/issues/24614

[2016-09-06 16:07] #26323 closed

[2016-09-06 16:17] vingrad commented on #25215
How long to wait for the next patch release? Containers can not be started. This is a critical issue.

[2016-09-06 16:19] justincormack commented on #26332
Can you give a full example? I don't quite follow the summary, sorry.

[2016-09-06 16:20] vieux commented on #26259
@aluzzardi WDYT ?

[2016-09-06 16:21] justincormack commented on #26329
I thought this was documented somewhere, although I cant find it right now. Windows cannot mount single files, and it is fairly problematic under Linux for many use cases.

cc @jhowardmsft

[2016-09-06 16:27] gerwim commented on #26099
This issue seems to have started since version 7.47.1 (so version higher than 7.47.1).

On 7.47.1:
[code]
On 7.50.1:
[code]

The command which works on **both** versions is: `curl --unix-socket /var/run/docker.sock http://localhost/containers/json` so I suggest changing the documentation to this command.

[2016-09-06 16:27] dmcgowan commented on #26317
Renaming on lower directories is a known limitation of overlay which needs to get resolved in the kernel. Closing as a duplicate of #25409.

[2016-09-06 16:27] #26317 closed

[2016-09-06 16:31] jhowardmsft commented on #26329
Yes, correct, this is by design even on post TP5 builds. @neilpeterson If not already (I couldn't immediately see it), can we document this? Applies to both Windows Server and Hyper-V containers. I might also see if it's easy to knock together a PR to give a better error.

[2016-09-06 16:34] shishir-a412ed opened #26338 "docker does not correctly parse the proxy information when the user's password has a '#' symbol"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Fedora 23

**Steps to reproduce the issue:**
1. Setup a local proxy server. I used squid proxy.
2. Add basic authentication (username, password) to squid proxy server. Choose a password with a `#` symbol in it.
3. systemctl start squid
4. systemctl st

[2016-09-06 16:42] #21738 closed

[2016-09-06 16:46] mikeeus commented on #26295
@martin-wiseweb Hi martin, I had the 'Tag latest not found' error as you did. I think it may be a firewall issue because when I added a proxy in the docker default file it was solved. For me the file was found at `etc/default/docker`.

I'm using Ubuntu 16.04 so the file path may be different for you, but give it a shot and gl.

[2016-09-06 16:47] jhowardmsft commented on #26329
Even stranger - something has regressed. It should have been caught by https://github.com/docker/docker/blob/master/volume/volume_windows.go#L176.

[2016-09-06 17:12] kgsudhakar opened #26339 "Relative to path for Docker volume"
I have mongo DB in docker and trying to mount the mongo DB data volume in a absolute path in docker compose file like this.

`volumes:
     - /usr/data/mongodb:/data/db`

I am sure this wont work in all operating system if its tries to create or find path /usr/data/mongodb . How to give the relative path so that it will fit for all operating system including windows. Any path which will work in al

[2016-09-06 17:30] sanimej commented on #26298
@floragunncom Service discovery in Docker has always been network scoped; ie: a container attached to a network can discover other containers in the same network. There is no global namespace for container names. The FQDN for a service name is `container_name.network_name`. The behavior you are seeing is expected. The reason you see `_` in the name is because of the way compose names the container

[2016-09-06 17:31] neilpeterson commented on #26329
Docs updated - https://msdn.microsoft.com/en-us/virtualization/windowscontainers/management/manage_data#mount-single-files

If by design and a long term limitation we may want to also update this:

https://docs.docker.com/engine/tutorials/dockervolumes/#/mount-a-host-file-as-a-data-volume

cc @enderb-ms

[2016-09-06 17:39] bddenhartog commented on #18756
To clarify, @fehergeri13 posted a screenshot of the solution provided by @gabehesse.

[2016-09-06 17:55] djenriquez commented on #26023
@mrjana On the host:
[code]

[2016-09-06 17:57] djenriquez commented on #26023
And just incase you wanted me to run that in the container network namespace also:
[code]

[2016-09-06 17:58] dmp42 commented on #12268
Hey @alexellis

If what you are interested in is a new feature request on Hub/Cloud feature, then I would suggest reaching out to support indeed.

Otherwise, if what you want is just one-time ad-hoc data, can you touch base with @ManoMarks ?

I'll also give a ping to the "captains' majors" ;)

[2016-09-06 18:04] rbravo-avantrip commented on #20973
Meanwhile this alias can cover what @twang2218 said:

[code]

[2016-09-06 18:09] vdemeester commented on #26175
@crosbymichael hum ok sounds fair (but still, https://github.com/tebeka/go2xunit makes it that we can do it with testing).
@michelvocks thanks 👼 the PR is a bit huge (and thus hard to review) — we might want to do smaller ones I think 😝

[2016-09-06 18:11] dongluochen commented on #26325
@outcoldman It's a bug on service update for global service which doesn't fit a node.

When you start your global service, on those nodes that do not satisfy constraint, the tasks' `current state` should be `Allocated` (not `Shutdown`, you may see `Shutdown` after you issue an update command). Docker daemon on these nodes doesn't see the task so they would not start any container.

When you update

[2016-09-06 18:19] dnephin commented on #26099
@gerwim thanks for confirming and finding the version.  Would you be interested in creating a PR to fix this in the docs? I believe the file is `docs/reference/api/docker_remote_api.md`

[2016-09-06 18:32] stevvooe commented on #26175
Why do we consider `gocheck` to be "better" than the stdlib? I can't count the hours wasted due to the use of "clever" unit testing frameworks. The worst part is that contributors now need to learn Go and whatever framework is used for testing.

If we are simply looking for xunit output, there is https://github.com/tebeka/go2xunit.

With Go 1.7 [subtests](https://golang.org/pkg/testing/#hdr-Subtes

[2016-09-06 18:35] aaronlehmann commented on #26160
I think they should also be treated as an update at the API level; see below.

I'm envisioning two pause flags. One is the user's control point over whether to put the update into a paused state. As a flag under the user's control, this would go inside the service spec. There is also a field indicating the actual state of the update - this already exists as `Service.UpdateStatus.State` (one of the

[2016-09-06 18:37] CrimsonGlory commented on #26339
In compose you can use relatives path (relatives to the docker-compose.yml file).
Like this:
[code]
(from [this example](https://github.com/codexgigassys/codex-backend/blob/master/docker-compose.yml))

[2016-09-06 18:49] pnovotnak commented on #18017
Hey all, I don't believe the documentation pushed in #18161 this is correct (anymore?) On my machine it seems like the cache is busted at declaration, not usage. Could someone verify?

[2016-09-06 18:51] tonistiigi commented on #24066
@mackeyja92 Did you try `--with-registry-auth` like @aaronlehmann suggested? If you did and it still doesn't work then please create a new issue with full report data including the daemon logs and description of the registry setup you are using. You definitely do not need to manually pull when you use digest references in services.

[2016-09-06 18:52] soulrebel commented on #6119
@Sodki beat me to suggesting Rocker.

Probably many problem with permissions and image bloat stem from two antipatterns (IMHO):

1. the same container is used to build and to run the code. Split the two step and you can keep things clean. That's where rocker comes handy.

2. apps that write in the same directories where their code is. The unix way is that program files are owned by root and proces

[2016-09-06 19:00] gg7 opened #26341 "--fixed-cidr doesn't work correctly when the bridge device has multiple IP addresses"
**`docker version`:**

[code]

**`docker info`:**

[code]

**Steps to reproduce the issue:**

1. Configure a bridge with two different IP addresses:

[code]

2. Run Docker:

[code]

3. Start a container and see its IP:

[code]

I expected to see the container get an IP address in the specified CIDR range (`10.222.222.222/24 = 10.222.222.0 - 10.222.222.254`).

If we reorder the IP addresses on the

[2016-09-06 19:02] floragunncom commented on #26298
Yes, in one container a ssl client is running and in another container a ssl server is running. I try to establish a ssl connection with hostname resolution and verification.

[2016-09-06 19:07] aaronlehmann commented on #26325
ping @aluzzardi any thoughts on the right way to fix this?

[2016-09-06 19:15] cpuguy83 commented on #20079
Ok, I've finally tracked down this regression.
Fix is here: #26342

[2016-09-06 19:18] mgpotter commented on #17747
+1 for this feature

[2016-09-06 19:55] StefanPanait commented on #22054
I would really like to see Docker (and docker-compose) having the ability to whitelist or blacklist IPs that can access that port.

Take for example:
[code]
Would imply that only a source IP of 10.6.20.2 could access port 8000 on this host.

[2016-09-06 19:57] cpoonolly commented on #22753
Was having the same issue. Using 192.168.65.1 worked for me. Not entirely sure what this is but I think it briefly appears in @thalesfsp's pinata log:

🐳  network = hostnet (docker-ipv4=192.168.65.2, host-ipv4=192.168.65.1)
   Controls how local containers can access the external network via the
   MacOS X host. This includes outbound traffic as well as publishing ports
   for external access to t

[2016-09-06 20:10] LeoWinterDE commented on #17645
fully restart the os, not just logging out and back in. was the solution for me.

[2016-09-06 20:23] aluzzardi commented on #26325
Seems to be multiple issues.

The global orchestrator should honor constraints directly and not rely on the scheduler, I'm afraid. It shouldn't be too hard so long as the filter package is properly separated from the scheduler.

Before doing that, however, this issue seems to be surfacing other underlying bugs.

The updated should never get stuck - there's an upper bound timeout (60 seconds?). The

[2016-09-06 20:29] aaronlehmann commented on #26325
@aluzzardi: There is no timeout:

[code]

[2016-09-06 20:30] lorenzo-stoakes commented on #24315
@justincormack @aboch @thaJeztah just a friendly ping to let you know the boltdb PR referenced above has now been merged! This patch has fixed the issues we were experienced.

[2016-09-06 20:47] stevvooe commented on #23813
Check out https://github.com/stevvooe/sillyproxy for an example of L7 load balancer integration.

[2016-09-06 20:48] ragnarkurm commented on #21704
Upgraded docker, but still getting the behavior.

[code]

[2016-09-06 20:50] cpuguy83 commented on #21704
@ragnarkurm Docker does not mount to `/run/*` (only ever did it in 1.11.0) so you should not be seeing this exact behavior you mentioned.

[2016-09-06 20:52] jhowardmsft opened #26346 "docker volume inspect doesn't do partial ID matching"
This may be entirely by design, but I noticed it a year or so back when implementing volume support on Windows, made a note of it, then forgot about it :blush:. However, someone else just pointed it out to me. Turns out it's not Windows specific - just tried on Ubuntu 16.04 running docker master.

For example, `docker volume create john`, followed by `docker volume inspect jo` won't match `john`.