[2015-04-15 00:40] cpuguy83 commented on #3155
@netroby What is a problem exactly?

[2015-04-15 00:47] ibuildthecloud commented on #12377
@LK4D4 what are your complaints with the stdlib format?

It's never possible to pick one format everyone agrees on, so probably the best approach is to just make it configurable.  Having said that I think we can easily choose a default right now that is acceptable and low risk to change at this point.  Then in 1.7 we can enhance it.

Syslog has the following fields

priority:  Priority is a combin

[2015-04-15 00:47] mgood commented on #12164
Thanks, this diagram was part of a post I was working on for the @gliderlabs blog, which is now live here: http://gliderlabs.com/blog/2015/04/14/docker-events-explained/

@thaJeztah the original is [on Google Drawings](https://docs.google.com/drawings/d/15JpNMXvbiAOFWiW9AEH2laQMkmXsbI_04-StNS4Dn1A/edit?usp=sharing) which has an SVG export option.

[2015-04-15 00:52] Mashimiao commented on #12359
Yes, Thanks

[2015-04-15 01:01] lamielle commented on #10613
@xueshanf Yes!  That was what I was remembering.  Glad you found it.  Hope it helps!

[2015-04-15 01:08] xueshanf commented on #10613
@lamielle Yup! I am up to 25 million inodes now.

[2015-04-15 01:17] tianon commented on #11167
Fixed by #11945! :tada:

[2015-04-15 01:17] #11167 closed

[2015-04-15 01:18] z0u opened #12386 "hack/install.sh should encourage installation of linux-image-generic on Ubuntu"
I installed Docker on Ubuntu 14.04 under OpenStack using the [standard install script][is], built some images and then started some containers. Then I ran a `dist-upgrade` on the host, which installed a new kernel version, and rebooted. When the machine came back up, all my containers and images were missing.

I think this is because the `aufs` kernel module was missing from the new kernel. I don'

[2015-04-15 01:30] coolljt0725 commented on #12339
@leandro-lucarella-sociomantic This is fixed by https://github.com/docker/docker/pull/11011, can you try the master?

[2015-04-15 01:33] #12359 closed

[2015-04-15 01:52] meatballhat commented on #11167
:clap: :tada: :metal: :smiley_cat:

[2015-04-15 01:52] netroby commented on #3155
Once docker container been created, how to change the link?

Can it be done like
[code]

[2015-04-15 02:20] feiyang21687 commented on #12361
I check the source code ```docker/builder/internals.go```

```calcCopyInfo``` do the actual download and hash calc:

[code]

And the immediate image is like this, which records ```tarsum+sha256:${hash}```

[code]

the ```probeCache``` function will lookup the image with the same hash value.

Why not delete ```ci.hash = tarSum.Sum(nil)```, in order to keep the hash value is origPath, and  ```probCa

[2015-04-15 02:52] Mashimiao commented on #12332
I tested with master, and logined success with special characters.

[2015-04-15 03:22] LK4D4 commented on #12377
Your final format looks like current apart from ":" symbol. Do I understand right?

[2015-04-15 03:47] xiaods commented on #12373
ping @LK4D4  don't understand your mean, how about give a hint?

[2015-04-15 04:10] LK4D4 commented on #12373
[code]
instead of
[code]

[2015-04-15 04:37] inducer commented on #8539
Same on docker 1.5.0

[2015-04-15 04:45] totobgycs opened #12389 "$HOME set to / instead of user home directory..."
...when runing [totobgycs/archjava](https://hub.docker.com/u/totobgycs/archjava/), an Archlinux image on a Linux Mint host.

`docker version`:

[code]
`docker info`:

[code]

`uname -a`:

[code]
Environment details (AWS, VirtualBox, physical, etc.):
Host is a physical machine

How reproducible:

[code]

Actual Results:

[code]

Expected Results:

[code]

Additional info:

The user is eclipse in th

[2015-04-15 05:16] x1022as commented on #12377
Hundreds and  thousands containers produce logs continually. Maybe parseability of the whole logs is more important. This is what tags do, containerID will be great.
Once specific container log is picked out, readability is more import , json format may not be a good choice.

[2015-04-15 05:36] saritasa commented on #12385
Resolved. Got the same issue as here: https://github.com/docker/docker/issues/9066

fixed it by adding in dockerfile:

RUN yum -y install tofrodos
RUN fromdos /tmp/docker/start.sh

# that was the problem line that got fixed with solution above
CMD ["/tmp/docker/start.sh"]

[2015-04-15 05:36] #12385 closed

[2015-04-15 06:13] thaJeztah commented on #12164
@mgood thanks for the link, will read it straight on!

Are you willing to contribute the image (and possibly the docs changes)?

[2015-04-15 06:17] thaJeztah commented on #12359
Thanks! And good to hear it is resolved for you

[2015-04-15 06:38] thaJeztah commented on #12377
IIRC, Current format uses container-id, not -name, which (@ibuildthecloud mentioned in another PR) is making it not really useful for RancherOS (and the reasons described in the comment above)

[2015-04-15 07:03] ibuildthecloud commented on #12377
@LK4D4 final format removes ": " and uses container name.  By removing the ": " it makes the binary<container_name> look like one coherent thing that is a single column.  The format is easily parseble with cut or awk.

I'm going to preemptively put in a PR for my proposed changes.  Just in case I'm not attentive in following this thread.

[2015-04-15 07:11] sjoerdmulder commented on #12332
[code]

[2015-04-15 07:21] ibuildthecloud commented on #12377
Created #12391 because who doesn't love yet another PR about syslog

[2015-04-15 08:27] wernight opened #12392 "Create unique user ID for increased security"
Following the best practice that you should not run as **root** inside the container, comes also the fact that a user ID (let's say 1000) may be mapped to user `foo` outside the container, as `bar` inside the container. This means that even though you'd want the container to access only `bar` data (either added during a build or mounted volume), it might also access `foo` data if it breaks outside

[2015-04-15 08:38] coolljt0725 commented on #12378
sorry this  spurious `fmt.Printf` is caused by me, I use it for
local testing and forget to remove it when I push to github.
I just realize this today and thank god, it has been fixed.
Thank you all.

[2015-04-15 08:41] cc272309126 opened #12393 "Proposal:docker should have a grace way to quit the `docker stats container_id`"
I think there should be a grace way to quit the `docker stats container_id` like below
1. docker run -d image_id
2. docker stats container_id
3. press the key 'q' or other key it will exit the docker stats routine. Now it use `ctrl+c` to exit it.

[2015-04-15 08:44] hacfi commented on #11167
Yay..thanks @lmars

[2015-04-15 09:08] jonquark opened #12394 "Can't determine Memory limits/usage from inside a container"
When running e.g. an in-memory database inside a container it would be incredibly useful to be able to monitor memory usage and limits from inside the container in order to prioritize and cap certain classes of memory usage in low memory situations.

I'm aware there are some hacky work arounds (are there any I'm missing?):

1) Give the container access to /proc/self/cgroup as a volume:
 docker run

[2015-04-15 09:14] chakrit opened #12395 "Ubuntu upgrade instruction is not working."
On [ubuntu installation guide](https://docs.docker.com/installation/ubuntulinux/) page, at the bottom:

![2015-04-15 at 4 12 pm](https://cloud.githubusercontent.com/assets/45545/7155598/310304dc-e38a-11e4-9be9-54d64760d38e.png)

On an up-to-date Ubuntu system (14.04) the commands produces the following output:

[code]

Where `index.html` contains the standard docker run script. Trying to forcibly

[2015-04-15 09:22] chakrit commented on #12395
From reading the script, I think the right away to upgrade is to execute:

[code]

Is that right?

[2015-04-15 10:46] runcom commented on #12395
@chakrit to upgrade docker un ubuntu you just sudo apt-get update && sudo apt-get upgrade (dist-upgrade also)

[2015-04-15 11:48] kryton commented on #12000
Hi Stin.
I have a work-around in place, by altering dns in other places..

On Mon, Apr 13, 2015 at 6:25 PM, Sebastiaan van Stijn <
notifications@github.com> wrote:

--
Ian Holsman
ian@holsman.com.au
PH: + 61-3-9028 8133 / +1-(425) 998-7083

[2015-04-15 11:58] thaJeztah commented on #12000
@kryton do you want this issue to stay "open", or should it be closed?

[2015-04-15 12:10] Frusty commented on #8887
+1

[2015-04-15 12:16] sunyc opened #12397 "Docker stop can not stop a container with "restart policy ="always"""
Well, it will just loop infinitely without clear indication.

I think docker stop should detect such container and warn the user.

[2015-04-15 12:32] DVG opened #12398 "Cannot get docker to play nice with proxy"
So I'm trying to set up docker at work behind a corporate proxy. I'm running Ubuntu 12.04 on a VM on a Windows 7 host for development.

The problem being that while I can pull images through the proxy, when I try to build a development container, it cannot get outside of localhost. It won't resolve the proxy server, google, anything. As such, I can't apt-get anything.

#### Failure

[code]

I've s

[2015-04-15 12:36] phemmer commented on #12393
What is wrong with ctrl+cl? ctrl+c is a standard way of quitting console based applications.

[2015-04-15 12:39] ekeryelleven commented on #12372
Ok I've solved the problem, and it wasn't at all related to docker.

I've uninstalled my previous version of Docker (1.4.1), and installed version 1.5.0
I've then launched a ubuntu container. `apt-get update` still wasn't working, but by setting the right proxy for it I got it to work. I did the same in a centOS container to get yum working through the proxy, and everything went fine.

Really sorr

[2015-04-15 12:47] phemmer commented on #12377
Apr 10 02:49:33 ubuntu docker-1.5.0-dev<sad_einstein>[103905]: [1] 10 Apr 09:49:33.393 # Server started, Redis version 2.8.19

Why the angle brackets? I checked, and both syslog-ng and systemd-journald properly handle the tag with angle brackets, but it is still not a common practice to have a tag which includes them, and I worry that it may break parsers. Plus it just makes parsing more difficult

[2015-04-15 12:53] wonderflow commented on #12151
I noticed that we still need to transfer `eng *engine.Engine` as parameter. And the "getDaemon" hack relies on `Engine`.  Will we finally use `daemon * daemon.Daemon` instead of `eng *engine.Engine` ?

[2015-04-15 12:55] phemmer commented on #12377
See also #12296 which has debate on using container name vs ID.
I personally don't like using container names, and I think there's going to be a lot of strong opinions on both sides (as is made obvious by the fact that the proposed format already is switching).

[2015-04-15 13:11] florentvaldelievre commented on #5684
Same problem here, easy to reproduce

[code]

**Environment**
[code]

Any suggestion?

[2015-04-15 13:19] wonderflow commented on #12348
I think what you want is in this document [ubuntulinux.md](https://github.com/docker/docker/blob/master/docs/sources/installation/ubuntulinux.md).

### Adjust memory and swap accounting

When users run Docker, they may see these messages when working with an image:

    WARNING: Your kernel does not support cgroup swap limit. WARNING: Your
    kernel does not support swap limit capabilities. Limit

[2015-04-15 13:33] emirozer commented on #8945
https://github.com/docker/docker/pull/12399

[2015-04-15 13:54] aanm commented on #12142
Can't "myapp" return an error and terminates the container in case MAILGUN_API_KEY isn't defined?

[2015-04-15 14:03] wonderflow commented on #11620
@ctate  Did you finish it now? Hope to know where will you add these functions in builtins.

[2015-04-15 14:05] wonderflow commented on #11590
Builtins is going to be moved , document is no need. #11620

[2015-04-15 14:09] albers commented on #12398
Behind our corporate firewall, adding

to the Dockerfile is sufficient to get apt working.

Looking at your error message (`Could not resolve 'proxy.company.net'`), I suppose it's a DNS issue.
Do you use an external DNS server on your Docker host that cannot resolve the hostname of your corporate proxy? Try pinging the proxy from the Docker host using its hostname.

[2015-04-15 14:22] LK4D4 commented on #12372
@ekeryelleven np, feel free to post any issue which you think we should fix :)

[2015-04-15 14:22] #12372 closed

[2015-04-15 14:49] lmars commented on #11167
:smile:

[2015-04-15 14:50] coolljt0725 commented on #12397
But how to stop a container with "restart=always" ?

[2015-04-15 14:52] sunyc commented on #12397
Docker kill apparently does the trick.

On Wed, Apr 15, 2015 at 10:51 PM, Lei Jitang <notifications@github.com>
wrote:

[2015-04-15 15:04] bitliner commented on #10613
@dmp42 yes, I think it is node exhaustation

![image](https://cloud.githubusercontent.com/assets/1301838/7161763/2047310c-e391-11e4-9c38-bbe952592c3c.png)

May you remember me how to change the location docker uses to store data?
I'll change that folder moving it to a bigger partition, given that other workarounds do not look to exist...

[2015-04-15 15:04] cpuguy83 commented on #12397
`docker stop` should be stopping the container regardless of restart policy.
Can you provide output of `docker version` and `docker info`?

[2015-04-15 15:10] sunyc commented on #12397
docker 1.5 on ubuntu 14.04

On Wed, Apr 15, 2015 at 11:05 PM, Brian Goff <notifications@github.com>
wrote:

[2015-04-15 15:12] sunyc opened #12402 "Why does docker need to run as parent for all containers it started?"
I couldn't find articles talking about this, can someone shed some light on?

Because it seems pretty intuitive to me that if docker can self-discover containers running on the host will make upgrading it much easier.

[2015-04-15 15:13] rimusz opened #12403 "Thank you"
Thanks for the nice project

[2015-04-15 15:15] sunyc commented on #8887
I view the issues mostly with docker unable to restart without killing sub
containers. that make configuring/reconfiguring it much harder.

On Wed, Apr 15, 2015 at 8:11 PM, Jan Krueger <notifications@github.com>
wrote:

[2015-04-15 15:17] unclejack commented on #12403
@rimusz You're welcome!

[2015-04-15 15:17] #12403 closed

[2015-04-15 15:19] cpuguy83 commented on #12397
@sunyc Please paste the output of running those commands.

[2015-04-15 15:23] sunyc commented on #12397
I'm unable to reproduce it,  will reopen if did.

[2015-04-15 15:23] #12397 closed

[2015-04-15 15:26] tpires commented on #9856
I'm also seeing this issue:

[code]

[code]

[code]

[2015-04-15 15:35] duglin commented on #12361
@feiyang21687 I'm not following.  We can't do the hash calculation until we download it.

[2015-04-15 15:37] jfrazelle commented on #12403
Thanks!!! \o/

On Wednesday, April 15, 2015, unclejack <notifications@github.com> wrote:

[2015-04-15 15:45] #12177 closed

[2015-04-15 15:48] ramiamar commented on #7336
+1

[2015-04-15 15:56] ekeryelleven opened #12405 "local registry : push fails"
OS: CentOS 6.6
Kernel: 2.6.32-504.12.2.el6.x86_64
Docker version:
`$ sudo docker version`
`Client version: 1.5.0`
`Client API version: 1.17`
`Go version (client): go1.4.1`

I'm behind a corporate proxy (http://domain\username:password@proxy:port).

I'm launching the Docker daemon with this command:
`sudo docker -d --insecure-registry 127.0.0.1:49500&`

I've downloaded the config_sample.yml file fr

[2015-04-15 16:05] icecrime commented on #11590
Makes sense (and this has been claimed 21 days ago without activity so I guess it's done).

[2015-04-15 16:05] #11590 closed

[2015-04-15 16:15] DVG commented on #12398
Success!

I went back out to the windows side and used ipconfig to find the actual DNS server address, added it to docker opts and now everything is working smoothly. Thanks!

[2015-04-15 16:15] #12398 closed

[2015-04-15 16:16] icecrime commented on #12151
In a ideal world we wouldn't need any global, so I guess `getDaemon` is meant to disappear.

[2015-04-15 16:17] ahmetalpbalkan commented on #12177
@jfrazelle is there any RCs coming out soon which we can try?

[2015-04-15 16:27] DrBenton commented on #7198
:+1:

[2015-04-15 16:34] ComradeP commented on #10216
Yes, `/dev/sdc5` is the btrfs physical volume, and it has subvolumes which are mounted at `/`, `/tmp` and `/home`. Here's the relevant part of `/etc/fstab`:

[code]

What can I do to help reproduce? This is still biting me, 100% reliably.

[2015-04-15 16:34] jfrazelle commented on #12177
rc7 pushing now will  ping on irc when ready and the ML

On Wed, Apr 15, 2015 at 9:18 AM, Ahmet Alp Balkan <notifications@github.com>
wrote:

[2015-04-15 17:06] thaJeztah commented on #12378
No worries, @coolljt0725 the maintainers also should have spotted this when reviewing, just blame them 😇

[2015-04-15 17:08] allencloud opened #12408 "Docker Daemon need to check if the image is update-to-date version"
Hi,

I found that image ubuntu:14.04 on differenet host both from Docker Hub has different image layer. And the two images indeedly are pull at different period of time.

So I think the image ubuntu:14.04 got updated on Docker Hub.

Such kind of case can cause some compitile issues when using base image.

Is there any necessary to add an API for Docker Daemon to check whether the base image is the

[2015-04-15 17:16] yuvalbar commented on #7336
+1

[2015-04-15 17:20] thaJeztah commented on #12408
To make sure you're using the latest image when building an image, you can use `docker build --pull`, which was added in https://github.com/docker/docker/pull/9281

Does that solve your use case?

[2015-04-15 17:21] jfrazelle commented on #12378
also we are all human :)

On Wed, Apr 15, 2015 at 10:06 AM, Sebastiaan van Stijn <
notifications@github.com> wrote:

[2015-04-15 17:21] cpuguy83 commented on #12392
@wernight This wold be handled by support for user namespaces.
Please see gh11253

Closing this one, but if you feel like this doesn't address your concern, feel free to ping here.

[2015-04-15 17:21] #12392 closed

[2015-04-15 17:24] cpuguy83 commented on #12408
I believe you can also reference images by immutable hashes now (or at least you'll be able to in 1.6).

[2015-04-15 17:30] thaJeztah commented on #12402
There are some existing discussions on this topic here https://github.com/docker/docker/issues/6851 and https://github.com/docker/docker/issues/2658, possibly more, that contain a lot of info on this.

If you need more information, please ask this question on https://forums.docker.com, https://groups.google.com/forum/m/#!forum/docker-user or in the #docker IRC channel.

I'm going to close this iss

[2015-04-15 17:30] #12402 closed

[2015-04-15 17:32] thaJeztah commented on #12392
Adding the link to the user namespaces proposal; https://github.com/docker/docker/pull/11253

[2015-04-15 17:35] ahmetalpbalkan commented on #12177
I can confirm this is fixed. Doesn't repro anymore.

[2015-04-15 17:37] jfrazelle commented on #12177
\o/

On Wed, Apr 15, 2015 at 10:36 AM, Ahmet Alp Balkan <notifications@github.com

[2015-04-15 17:48] thaJeztah commented on #12408
Ah, think you're right, will look up the feature request for that (was it merged already?)

I think it only works on a registry v2

[2015-04-15 17:51] thaJeztah commented on #12408
Proposal https://github.com/docker/docker/issues/10740 and implementation here https://github.com/docker/docker/pull/11109 :+1:

[2015-04-15 17:53] #8945 closed

[2015-04-15 17:56] jbulchergist opened #12409 "Massive Build Context/Docker Build Never Finishes"
I am performing a docker build on a directory 77 MB in size. The `docker build` command never stopped sending the build context to the Docker daemon before I stopped it, somewhere upwards of 70+ GB.

I'm not sure where to start troubleshooting this issue. According to various online resources I've found, the build context is simply the directory that the Dockerfile is in.

[code]

How/why is the b

[2015-04-15 17:59] duglin commented on #12409
When you run 'docker build' you give it a dir - it uploads that dir.
If you have a .dockerignore at the root of that dir you can control what files are _not_ sent.
See if that helps.

[2015-04-15 18:00] duglin commented on #12409
sorry - I missed that you already had a .dockeringore.
try: du -s *
to see what's so big.

[2015-04-15 18:03] jbulchergist commented on #12409
Thanks for the prompt post. I also have the results of `du -hsLl` (to follow symlinks) posted above - that's why I know the build context is at least 1000x my directory size.

[2015-04-15 18:09] asssaf commented on #9315
@jgangemi how did you tell maven-docker-plugin to send the X-Registry-Auth header?

[2015-04-15 18:14] VRanga000 commented on #9315
I was able to get past it by just adding a dummy auth section to the plugin config:

<authConfig>
    <username></username>
    <password></password>
</authConfig>

On 04/15/2015 01:10 PM, asssaf wrote:

@jgangemi<https://github.com/jgangemi> how did you tell maven-docker-plugin to send the X-Registry-Auth header?

—
Reply to this email directly or view it on GitHub<https://github.com/docker/docke

[2015-04-15 18:17] rustogi opened #12410 "boot2docker setup: make test fails in test TestInitializeCannotStatPathFileNameTooLong"
Description of problem:

make test fails with
--- FAIL: TestInitializeCannotStatPathFileNameTooLong (0.00s)
        volume_test.go:56: Expected to get ENAMETOOLONG error, got stat ivZgXsMAvLAYitpGtstNvMXsAaAVBmToJKPxJVufDWaiBQQslaOhPAoEuIjbVkMcmDgJgkfobtzfZolRdQoaheGbhjnxzkvihGxbmnSySnAbwimRPMFxrJcxuiwsQaQgChZshHzNRRAxQyfPepZcKWmcFjtXQoFCyMIPPsIMJXvKipMxgPXeROmvaabKYFjnJYVHzmliRDpvIHgazZEtFKXBBjWH

[2015-04-15 18:21] thaJeztah commented on #12405
Could this be the same as https://github.com/docker/docker/issues/9315?

[2015-04-15 18:23] cpuguy83 commented on #12389
This is likely because you are on an older docker version.
Can you try with a more recent version of Docker?

[2015-04-15 18:26] runcom commented on #12410
seems like a VM issue https://www.virtualbox.org/ticket/11976
(I'm replying because I wrote that test)

[2015-04-15 18:30] duglin commented on #12409
I'd like to see the output of `du` with `*` as the param. And can you share with me your docker build command?

[2015-04-15 18:33] jfrazelle commented on #12410
lol that ticket

[2015-04-15 18:33] jgangemi commented on #9315
yep. what @VRanga000 said is how you currently get things to work.

given no one has come back and told me it's not ok to do, i think we are going to solve the problem by doing the equivalent of setting the dummy section when pushing to a private registry and no auth information has been specified.

[2015-04-15 18:39] jbulchergist commented on #12409
Sure thing. I've tried `docker build -t [repo:tag]` and `docker build .`, same result

Here is the output of `du -s *`
[code]

[2015-04-15 18:40] runcom commented on #12410
@jfrazelle something known?

[2015-04-15 18:42] jfrazelle commented on #12410
no I just had never seen something like before... super weird

On Wed, Apr 15, 2015 at 11:40 AM, Antonio Murdaca <notifications@github.com>
wrote:

[2015-04-15 18:45] runcom commented on #12410
I can change the test to check for another error instead of ENAMETOOLONG but I think the "propagation" error they talk about in the issue still remains

[2015-04-15 18:51] rustogi commented on #12410
@runcom tx for the quick reply. Just wondering the issue reported there is several months old, so how did other folks using boot2docker not run into this - unless boot2docker just recently moved to the Linux kernel with this issue.

I think it would be great to perhaps relax the check on specific expected error string in volume_test.go.

[2015-04-15 18:53] runcom commented on #12410
mm not sure about this, checking ENAMETOOLONG was just a check to get an error different from ENOENT IIRC but without the check string yes it's different but no control

[2015-04-15 18:58] rustogi commented on #12410
@runcom I am tempted to say that if you don't like relaxing the check then the other option is to maybe check for both "protocol error" and ENAMETOOLONG but that does not seem right either without understanding why is "protocol error" occurring.

Just wondering if other folks running boot2docker see this error.

[2015-04-15 19:01] runcom commented on #12410
I think that protocol error is an upstream issue that has to be solved upstream and I shouldn't rely on that, just thinking..

[2015-04-15 19:06] rustogi commented on #12410
@runcom If this is a temporary issue then the other possibility is can you just check that the error is not ErrNotExist

[2015-04-15 19:08] runcom commented on #12410
@rustogi good point, I'll do that then if @jfrazelle is ok with this

[2015-04-15 19:17] joshwilsdon opened #12413 "It should be possible to distinguish between --restart=no and not specifying a restart policy"
With #10874 I wanted to make sure that the client sent an explicit `no` when you use `--restart=no`, unfortunately in "fixing" this issue the "fix" on that issue also changed the default value from `--restart=""` to `--restart="no"` which undoes all the advantage of having `--restart=no` pass through `RestartPolicy: "no"`. It means that we're once again in a situation where:

[code]

and:

[code]

[2015-04-15 19:19] diegobfernandez commented on #4036
Having the same problem on Fedora 21 with Docker 1.5 installed from yum.
I read almost the entire tread and can't find a solution for my scenario.

[2015-04-15 19:20] trentm commented on #12413
What would others thing of a configurable restart policy for the Docker daemon. Similar to
other daemon config vars: https://docs.docker.com/reference/commandline/cli/#daemon

Then change `docker run/create` to NOT specify a value for restart policy by
default. IOW, an empty value to the Remote API means "use the daemon's
configured default value".

[2015-04-15 19:39] runcom commented on #12151
removing from `version`!

[2015-04-15 19:41] rhvgoyal commented on #4036
@diegobfernandez

Please, give more details, can you reproduce the problem. What steps you are doing. Paste the output of "docker info". I don't expect same problem to exist in Fedora21 with docker installed using yum (That should a dynamically compiled binary).

[2015-04-15 19:43] diegobfernandez commented on #4036
Containers: 3
Images: 15
Storage Driver: devicemapper
 Pool Name: docker-8:3-1049208-pool
 Pool Blocksize: 65.54 kB
 Backing Filesystem: extfs
 Data file: /dev/loop0
 Metadata file: /dev/loop1
 Data Space Used: 1.245 GB
 Data Space Total: 107.4 GB
 Metadata Space Used: 1.942 MB
 Metadata Space Total: 2.147 GB
 Udev Sync Supported: true
 Data loop file: /var/lib/docker/devicemapper/devicemapper/dat

[2015-04-15 19:49] runcom commented on #12151
removing from `version` in `builtins`

[2015-04-15 19:50] cpuguy83 commented on #12317
Yeah... not much to add.
I'm not exactly surprised that someone with access to a file can move it outside the bindmount.

[2015-04-15 19:58] ibuildthecloud commented on #12377
@phemmer PID is added by golang, can't really change that at the moment.  I've updated #12391 to use forward slash and container ID.

[2015-04-15 20:06] cpuguy83 commented on #7333
@shazow json logs will not be deprecated. They provide a really great developer experience, IMO.
Using syslog solves the problem without having to implement this. Something like this is not something most developers would ever use.
#8911 obsoletes this because it seems this proposal is generally undesirable by the maintainers.

I don't agree that that the proposed log rotation is more complex than

[2015-04-15 20:11] LK4D4 commented on #12377
I think we'll introduce some customizable format in future where you can get any container info.

[2015-04-15 20:18] shazow commented on #7333
More complex than re-opening the log files on signal and letting logrotate do the rest (rather than having numerous log driver opts trying to replicate a subset of the logrotate configuration).

for, copy/truncate, then unpause to ensure you don't lose any logging

This yields needless downtime.

What's unsafe about re-opening log files?

With logrotate, you can rotate all the logs at the same tim

[2015-04-15 20:29] cpuguy83 commented on #7333
unix processes may do this for a few log files at a time, but docker is not a typical unix process. There can be hundreds/thousands of containers running all with their own log file.

From my perspective, a developer would not use this, and json log is not really suitable for production (and is actually pretty hefty on resources).

[2015-04-15 21:09] thaJeztah commented on #12393
I think `ctrl-c` is fine, but it could be convenient if `q` was added; `docker stats` "feels" a bit like `top` and out of habit users may try `q` to exit stats.

@crosbymichael thoughts?

[2015-04-15 21:22] thaJeztah commented on #12348
@wonderflow thanks for looking that up, I was planning to add the link but forgot.

It may be worth mentioning that the example may not work if you're running docker on a cloud provider, where kernel configuration may not be configurable.

@pbhavsar211 I think this should answer your question, also, check the documentation for the Linux distro you're running, because it's possible that the instruc

[2015-04-15 21:22] #12348 closed

[2015-04-15 21:30] WhisperingChaos opened #12415 "Proposal: Extending Build Context with Intermediate State"
### TOC
<a href="#Background">Background</a>
<a href="#Essential">Essential</a>
<a href="#TLDR">TLDR</a>
<a href="#Syntax">Syntax</a>
<a href="#Semantics">Semantics</a>
<a href="#Benefits">Benefits</a>
<a href="#Example">Example</a>
### Description
This proposal outlines another solution to separate build-time from run-time concerns.  Its predecessors [#7115](https://github.com/docker/docker/issue

[2015-04-15 21:46] totobgycs commented on #12389
Thanks. With version 1.5 works good.

[2015-04-15 21:46] #12389 closed

[2015-04-15 21:47] #12377 closed

[2015-04-15 22:05] kassanmoor commented on #4036
I saw this problem in fedora atomic too..

[2015-04-15 22:07] jbulchergist commented on #12409
I figured out the problem via the old-fashioned process of elimination. For more details, see this [Stack Overflow question](https://stackoverflow.com/questions/29661766/deleting-an-impossible-file)

[2015-04-15 22:07] #12409 closed

[2015-04-15 22:10] phemmer commented on #12393
The only thing I think that might complicate this is that for `q` to work, the tty has to be in character-input mode. This is easy enough to do, but it's not cross platform. And with windows being supported, I dunno how hard this is to do over there.

[2015-04-15 22:15] lsm5 commented on #4036
@diegobfernandez @karanlyons could you also post what `rpm -qi docker-io` says as well please?

I don't see this problem either on my f21 or f21 atomic.

[2015-04-15 22:16] duglin commented on #12409
@jbulchergist I get a 404 from that link

[2015-04-15 22:18] jbulchergist commented on #12409
Sorry, Stack Overflow didn't like the question so I moved it to unix.stackexchange. The link should work now.

[2015-04-15 22:19] thaJeztah commented on #12393
Well, anything on Windows is hard :smile:

At this point I'm just checking if there's any "support" for adding this from the maintainers side. I don't regard this a priority issue in any case, but if there's no backing from the maintainers, there's no reason to keep it open.

We'll see :)

[2015-04-15 22:20] duglin commented on #12409
whoa that's freaky!

[2015-04-15 22:23] rhvgoyal commented on #4036
@diegobfernandez

You are using loop devices and I am wondering if that has something to do with it. Is it possible to prepare an lvm thin pool and pass that to docker and see if problem still happens. Just trying to narrow down in what configuration problem happens.

Also is it consistently reproducible? If that's the case, debugging it will be much simpler.

Can you run docker daemon with -D opt

[2015-04-15 22:25] mgood commented on #12164
@thaJeztah well it sounded like @moxiegirl may have already started on the docs changes.

@moxiegirl let me know if you do want any more help or feedback.
Do you need something for copyright / licensing on the diagram?

[2015-04-15 22:26] kassanmoor commented on #4036
rpm -qi docker-io output on atomic
Name        : docker-io
Version     : 1.5.0
Release     : 1.fc21
Architecture: x86_64
Install Date: Wed Mar  4 07:00:15 2015
Group       : Unspecified
Size        : 27219622
License     : ASL 2.0
Signature   : RSA/SHA256, Sat Feb 14 02:01:49 2015, Key ID 89ad4e8795a43f54
Source RPM  : docker-io-1.5.0-1.fc21.src.rpm
Build Date  : Wed Feb 11 18:47:01 2015
Build Hos

[2015-04-15 22:29] icecrime commented on #3465
This has been discussed in #8177, we're closing this for a lack of real world use cases.

[2015-04-15 22:36] thaJeztah commented on #12164
@mgood to follow the procedure properly, I think you'll have to create a PR and [sign off your commit](https://github.com/docker/docker/blob/master/CONTRIBUTING.md#sign-your-work). That'll make sure that Docker has legal permission to use your work.

If the graphic has to be incorporated with docs changes written by @moxiegirl, I can see two options;
- Wait for the docs changes she's writing, and

[2015-04-15 23:00] ahmetalpbalkan opened #12418 "apt-get uninstall vs purge for lxc-docker"
[code]

By definition I would expect `purge` to remove `/etc/default/docker` (and maybe `~/.docker` as well) but it doesn't. Is there a historical decision behind this behavior?

Should this be fixed to remote configs on purge as well?

[2015-04-15 23:04] icecrime commented on #1996
*Collective review with @LK4D4 @calavera @jfrazelle @crosbymichael @tiborvass*

Closing this as we don't see that many real world use cases (see the related PR#10682 for more details).

[2015-04-15 23:05] #1996 closed

[2015-04-15 23:10] diegobfernandez commented on #4036
rpm -qi docker-io
[code]

[2015-04-15 23:17] diegobfernandez commented on #4036
@rhvgoyal running docker with -D gives me the same error.
Can you give me more detailed instructions on creating the lvm and passing to docker.
I've only recently started using linux for development and  I'm not used to those terms.
**What are loop devices and lvm thin pool?**

[2015-04-15 23:24] jdoliner opened #12420 "--insecure-registry flag doesn't work"
I'm trying to pull from a local registry that I'm running in a CoreOS cluster. When I do a pull I get the following errors message:

[code]

It wants me to add `--insecure-registry` to the daemon's arguments even though I've already added it to the commands arguments. Why doesn't this work? I don't want to have to restart the docker daemon to use this registry, until recently I didn't have to do a

[2015-04-15 23:33] thaJeztah commented on #12420
I'm going to close this, as I think this is a duplicated of https://github.com/docker/docker/issues/8887

Please continue the discussion on https://github.com/docker/docker/issues/8887, but feel free to add a comment here after closing.

[2015-04-15 23:33] #12420 closed

[2015-04-15 23:34] hookenz commented on #7748
Can't you do a partial download and verify the first 10K as the hash to make doubly sure.

[2015-04-15 23:40] hookenz opened #12421 "Files added or copied from subpaths in the Dockerfile can invalidate the cache if files in other parts of the same subtree are themselves modified"
Using either COPY or ADD in this form

COPY myfile /data/
or
ADD myfile /data/

And then building it and pushing it to a remote repository, results in an entirely new image every single time.
I may not have noticed except for the fact that myfile is in the 100+MB range and the repository is remote.

myfile has not changed at all.  When is the hash calculated, and what metadata also affects whether

[2015-04-15 23:54] jdoliner commented on #12420
That's a very unsatisfying response.

I have a behavior that was working fine a few version ago, now it's broken and the solution is for me to pitch in on a 100 comment long thread that seems to be mostly Docker engineers not fixing a problem that a bunch of people have and/or not merging pull requests that would fix the problem.

[2015-04-16 00:07] hookenz commented on #12421
I have narrowed down the issue.  Basically I have build process that re-recreates some files under the relative directory named "data/profiles"

When any file is changed, time, date etc beneath data/profiles, it'll add a whole new coreos_production file etc.

From the outside, it looks to me as though docker build is checking the data directory mtime and deciding that it's changed so building it a

[2015-04-16 00:34] #12373 closed

[2015-04-16 01:13] jdoliner commented on #8887
I'm pretty disappointed that there hasn't been some action taken on this issue yet. It's obviously causing a number of people pain.

It's obviously annoying to a huge number of people, it's actively blocking my work right now. Having to restart the Docker daemon to allow pulling from an insecure registry ranges from annoying to downright impossible depending on the situation you're in.

The main a

[2015-04-16 01:29] wonderflow commented on #11618
I'll try it.

#dibs

[2015-04-16 02:03] hqhq commented on #12394
There is an experimenting here: https://github.com/docker/libcontainer/pull/528

[2015-04-16 02:25] gabesullice opened #12427 "Ubuntu installation guide should include starting the docker daemon"
Following the steps verbatim ends in an error, there should be a step prior to `docker run hello-world` about starting the docker daemon.

[2015-04-16 03:49] ewindisch commented on #8887
For those highly desiring this behavior, I do offer the following workaround. I understand it will not be viable for all users.

See my project 'docker-pull': https://github.com/ewindisch/docker-pull

You would use it as such:
[code]

It's also possible to allow all registries as insecure:
[code]

I'll remind that it is *still* highly ill-advised to actually do this.

[2015-04-16 04:03] coffenbacher commented on #8539
+1, Docker 1.5.0

[2015-04-16 05:24] mitar commented on #3465
Why is this being closed? There were 9 people commenting here. I think this would be a really useful thing to have. The real world use cases are being able to build upon existing images with ease. Sometimes you want to add property, sometimes you want to remove it. This is normal.

[2015-04-16 05:57] endeepak commented on #11534
+1 for @bobbytables solution. It worked for me on mac.

[2015-04-16 06:10] thaJeztah commented on #12420
@jdoliner apologies if me closing your issue felt harsh; I'm not taking a position here whether this should or should not be implemented, just trying to keep the discussion on a single location.

I'm full aware this is a much discussed issue! Don't hesitate to have your voice heard on the linked issue (and the related pull request(s)).

Hope you can understand my reasoning. We *do* appreciate your

[2015-04-16 06:30] wonderflow commented on #12151
@runcom It's claimed here #11620.

[2015-04-16 06:46] runcom commented on #12151
@wonderflow that's different and can be rebased

[2015-04-16 06:48] wonderflow commented on #12151
Aha, It's ok for me . :) @runcom

[2015-04-16 06:50] runcom commented on #12151
At least I think lol the claim on that issue is 20 days old alas I

[2015-04-16 07:20] vdemeester commented on #12421
Hi,

I think it's by design. You change the content of the folder your adding in Step 1 so the resulting image won't be the same ; that's why it's not using cache. As the image generated is not the same at the end of step 1, it's not possible to use the cache for Step 2.

The cache take account the command (ADD, etc..) and the image the step is based on. If the image the step is based done changes

[2015-04-16 07:21] vdemeester commented on #12427
Well, by default the daemon will be started at the end of the installation (by dpkg & stuff). If it's not the case, it might be a non-default configuration. It should be mentionned that in the case it's not working, verify that the service is started, but it shouldn't be a "must do".

[2015-04-16 07:23] gdm85 commented on #12347
I think at some version Docker started using its own DNS (or maybe Go's?), because it's also ignoring overrides in ``/etc/hosts``

[2015-04-16 07:26] gdm85 commented on #6734
+1 this would be a nice improvement for integration

[2015-04-16 07:29] gdm85 commented on #10216
Possibly related/dup: #9413

[2015-04-16 07:34] gdm85 commented on #12413
I have noticed this also when using API calls to retrieve/restore container configuration.

However, in my opinion, the default should be "no" and **always** enforced, with an empty value being an error (or eventually always normalized to "no", for legacy reasons).

The idea of *daemon's configured default* value would make it harder to get information about a container lifecycle by just using API

[2015-04-16 07:47] vdemeester commented on #12421
Take a look at this : https://docs.docker.com/articles/dockerfile_best-practices/#build-cache

[2015-04-16 07:56] cyphar commented on #6734
Upon reviewing this again, I think the best method would be to have the exit code for the `docker run` command be Docker-related errors (i.e. errors that occurred during the Docker-related operations of running the process) and that you should poll the API (or run `docker exit-code <container>` or some such) to get the exit code of the container. The only issue is that this isn't really backwards

[2015-04-16 08:29] ekeryelleven commented on #12405
**Update**

I had not noticed, but since I've upgraded from Docker 1.4.1 to 1.5.0 yesterday, it seems like docker wasn't able to reach the hub through the proxy (`sudo docker search` was failing). I fixed that by exporting HTTP_PROXY and HTTPS_PROXY environement variables, and by launching the daemon with `sudo -E`.

Then, as a guy pointed here http://stackoverflow.com/questions/29655373/docker-lo

[2015-04-16 08:42] jdoliner commented on #8887
@ewindisch nifty hack.

Another pretty good solution is to use a tcp tunnel:

[code]

[2015-04-16 08:46] therealromster commented on #12101
I found the cause I did not rm anything in /var/lib/docker/ I was not even aware of this directory in crux linux, as it's not mentioned in

[code]

I'll see if I can get at least a empty directory for that $PKG/var/lib/docker so I am aware of it. I would love to know which file is responsible for the back end storage layout, and why changing the options and it is not smart to realize this.

[2015-04-16 08:57] ekeryelleven commented on #12405
Here is what I get when trying to reproduce https://github.com/docker/docker/issues/9315 :

[code]

[2015-04-16 09:31] wonderflow commented on #12151
Are we need to change  `execCreate` and `execStart`? I noticed they are not in the list.

If so, I'll glad to take it.

[2015-04-16 10:12] UserTaken opened #12440 "Defaulting to OverlayFS"
By default Docker uses AUFS as the Storage Driver whenever available. When using a kernel that does not support AUFS but does support OverlayFS (3.18+), what do you think about Docker defaulting to that instead of devicemapper?

[2015-04-16 10:16] unclejack commented on #12440
This change is going to be made after the problems with overlay are fixed.

Please look at: https://github.com/docker/docker/issues?q=is%3Aopen+is%3Aissue+label%3A%2Fsystem%2Foverlay

[2015-04-16 10:16] #12440 closed

[2015-04-16 10:25] markovuksanovic opened #12441 "Allow use of tokens to pull images instead of having to log in"
At the moment it is very hard to have an automated system to provision a server with multiple docker containers if containers come from different repositories. It would be awesome if one could have something like "docker pull awesome/image --pull-key=SOME_KEY". This way it would be easier to use tools like chef/puppet/ansible to deploy docker containers on remote servers. At the moment, if one wan

[2015-04-16 10:36] unclejack commented on #12421
@hookenz Images are layered on top of each other. For a build involving layers A->B->C->D, if A is a cache hit and B is a miss, all steps following B will be a miss. C and D are built on top of B. These layers depend on B and they can't be assigned to B1 (the new layer B which results from building with a changed Dockerfile).

The cache is made up of layers, not out of cached files which are added

[2015-04-16 10:36] #12421 closed

[2015-04-16 10:47] coolljt0725 commented on #5684
I think https://github.com/docker/docker/pull/12400 is going to fix this. This is because docker daemon shutdown will leave the running containers not cleanuped and it will can't be removed on daemon next start.

[2015-04-16 10:47] UserTaken commented on #12440
@unclejack Good to hear that defaulting to OverlayFS is already planned. I've been following the CoreOS project and when I heard that they switched from BTRFS to OverlayFS, I too am starting to use OverlayFS on all my machines with kernel 3.18+. `label:/system/overlay` doesn't look as bad as `label:/system/devicemapper` and 2 issues are in the milestone for 1.7.0

[2015-04-16 10:47] jonquark commented on #12394
@hqhq  Thanks for the info, that (or an outcome to docker/docker#8427  which I found via your link) would address this.

[2015-04-16 10:55] iyn commented on #6521
I'm not sure if it's expected behavior, I agree with @domq that `docker build` should only use/stat files and dirs that are in the Dockerfile, why should it check other files?

[2015-04-16 11:28] cpuguy83 commented on #6521
Because dockerfile parsing is done on the server side.
You tell the client what you want to upload to the server in your build command (`docker build <path to context>`) and that gets uploaded.

[2015-04-16 11:31] thaJeztah commented on #12405
@ekeryelleven thanks for reporting back with your detailed case. Your account was automatically flagged as "possibly spammy" (which also resulted in this issue becoming inaccessible). I contacted GitHub support and they cleared the flag (kudos!).

I'm not a real expert on configuring the registry in combination with a proxy server, but I'll label this issue with "Distribution" (which is the name f

[2015-04-16 11:36] lukabirsa commented on #11534
+1 for @bobbytables solution. Worked for me.

[2015-04-16 12:13] antoineco opened #12443 "docker login error on Docker 1.6.0-rc6"
On a Fedora Rawhide workstation, `docker login` fails with the following error:
[code]

My environment:
[code]

[2015-04-16 12:18] vdemeester commented on #11584
I'll be working on this as no news from @ericsperano .

[2015-04-16 12:18] antoineco commented on #12443
I forgot to mention the daemon starts with default parameters:

[code]

[2015-04-16 12:21] vdemeester commented on #11603
@crosbymichael Not sur it has to close already, there is still some stuff to test. Any way I'll make more pull request based on this one ;). My goal is a coverage at 75% at least.

[2015-04-16 12:56] dmp42 commented on #12443
Hi @antoineco

Anything in the docker daemon logs?

[2015-04-16 13:00] dmp42 commented on #12405
@ekeryelleven can you `curl -iv 127.0.0.1:49500` and copy the output?
If the request fail, then your registry is not started, or you cannot reach it.

[2015-04-16 13:01] domq commented on #6521
Maybe the client should stick around a bit more then, and the server should tell it what files it wants (using relative, symlink-free paths only for security)?

[2015-04-16 13:11] cpuguy83 commented on #6521
There's talk of making build be all client side, but unfortunately we can't do `ADD` from the client yet.

[2015-04-16 13:25] ekeryelleven commented on #12405
When I configure the daemon to work with proxy, this is what I get when calling `curl -iv 127.0.0.1:49500`:

[code]

When I add proxy specifications to curl `curl -iv --proxy http://domain\user:password@proxy:port 127.0.0.1:49500`:

[code]

This is french saying "authentication is required in order to access internet with that system. A valid password and username are to be typed" "If you have any

[2015-04-16 13:29] wernight commented on #12392
Thanks :)

[2015-04-16 13:31] dmp42 commented on #12405
I'm french :)

Start simple. Don't bother with the proxy for now.

Just try to start your registry, and curl to it.

Does your registry appear in `docker ps`?
If not, what's in the container logs?

[2015-04-16 13:55] zimbatm opened #12444 "`docker run -d --link` behaviour issue"
My script is running a bunch of commands like `id=$(docker run -d --link foo:bar busybox sleep 10000)`. A cleanup step is run at the end to remove all the containers like `docker rm -f $id`.

If the linked container doesn't exist or is not running docker will return with exit status 1 and the following message:
[code]

The container is still created, but since the ID is not returned my cleanup pha

[2015-04-16 14:00] cpuguy83 commented on #12151
@wonderflow List is fairly ad-hoc.
End goal is to remove all instances of job (and eventually engine).

[2015-04-16 14:05] cgb commented on #10714
I hit this today with 1.5.0.  /data1/media/{tv_shows,movies,music} are all NFS mounts.  I passed /data1/media into a plex container with ro flag and was surprised to see ro only applies to the /data1/media location.  At the very least, documentation (e.g. http://docs.docker.com/userguide/dockervolumes/) should be updated to reflect this gotcha so users are at least warned of the side effect.

[2015-04-16 14:34] wonderflow commented on #12151
@cpuguy83 Then I'll do it. Thanks!

[2015-04-16 14:44] rhatdan commented on #6734
We have started working on this again, basically looking at returning 127 most of the time when a

docker run/exec/start fails as opposed to a command failing within the container.  Once we have this, we could look at trying to see if we can figure out 126 errors where we could not find the PID 1 command.

[2015-04-16 14:57] runcom commented on #12151
cool! Those are the last left in daemon!

[2015-04-16 15:58] moxiegirl commented on #12427
@gabesullice I tested the installation when I rewrote this page. A daemon start wasn't required.  Are you finding that is when you test? What are the steps you are following? I'd like to duplicate it.

[2015-04-16 16:04] rhvgoyal commented on #4036
@diegobfernandez

 I think it is failing at following place in code.

https://github.com/docker/docker/blob/master/daemon/graphdriver/devmapper/deviceset.go#L1354

Don't dismantle your setup yet. You have a state where you can reproduce this issue so I want to get more debugging info out. I will give some instructions later today.

[2015-04-16 16:08] justinclayton commented on #8887
These are both fantastic workarounds!

On Thu, Apr 16, 2015 at 1:43 AM -0700, "Joe Doliner" <notifications@github.com> wrote:

@ewindisch nifty hack.

Another pretty good solution is to use a tcp tunnel:

$ docker pull host:5000/image #fails
$ ssh -N -L 5000:host:5000 user@host
$ docker pull localhost:5000/image #works

—
Reply to this email directly or view it on GitHub.

[2015-04-16 16:24] icecrime commented on #12151
Yes the list tries to follow the work (which is not easy considering the pace!).

[2015-04-16 16:25] shishir-a412ed commented on #10592
@richardcrichardc were you able to make any progress on this?

[2015-04-16 17:10] trentm commented on #12413
@gdm85 Understood. The situation @joshwilsdon  and I are thinking about is allowing there to eventually be a way for a Docker *host* to restart (e.g. for upgrade or whatever) and know whether some of the containers it was hosting should be restarted when it comes back up.

Specifically we're working on [sdc-docker](https://github.com/joyent/sdc-docker), where the Docker engine is the whole DC and

[2015-04-16 17:29] jaytaylor commented on #8887
I too would like to see the default reversed.

[2015-04-16 17:33] jpdus opened #12447 "run -d behaviour with Python apps - "print" / stdout not working"
First posted at [StackOverflow](http://stackoverflow.com/questions/29663459/python-app-does-not-print-anything-when-running-detached-in-docker) but now I think this could be a bug in docker:

I have a Python (2.7) app which is started in my dockerfile:

    CMD ["python","main.py"]

*main.py* prints some strings when it is started and goes into a loop afterwards:

    print "App started"
    while

[2015-04-16 17:36] thaJeztah commented on #12444
Would using `--cidfile` work in your case? https://docs.docker.com/reference/run/#pid-equivalent

Just thinking what a workable solution would be

[2015-04-16 17:36] thaJeztah commented on #12444
Also, I haven't tested if the cidfile is actually written in this case :smile:

[2015-04-16 17:48] metcalfc opened #12448 "Docker should return the exit code of commands terminated by signal"
#354 appears to have fixed this for exit codes with commands that exit cleanly. #6734 seems to be focused on delineating between the docker command exit status and the command exit status.

Clean exits work as expected:

[code]

If my process gets killed I expect an error code to match:

[code]

But that isn't the case in a container:

[code]

[2015-04-16 18:01] cpuguy83 commented on #12448
I'm not sure what perl itself is doing here, but you can't send SIGKILL to pid 1, which is what your perl process is running as.
If you look at the output of `docker ps -a`, the captured exit code is indeed 0.

[2015-04-16 18:02] LK4D4 opened #12449 "check statusCode from sockRequest and sockRequestRaw"
There are still a lot of unchecked statuses.

[2015-04-16 18:02] #12448 closed

[2015-04-16 18:15] metcalfc commented on #12448
![](http://www.legaljuice.com/files/2014/08/doh.gif)

Indeed. For future generations about to make the same mistake:

[code]

[2015-04-16 18:31] kostickm commented on #12449
#dibs

[2015-04-16 18:38] mgood commented on #12164
@thaJeztah I don't think that's necessary. To satisfy the DCO it's fine under item (b) for @moxiegirl or anyone to submit a change "based upon previous work ... covered under an appropriate open source license". So, I was trying to figure out how best to indicate this.

I'm in no rush, I just wanted to make sure it didn't get held up on anything from my end :smiley:

[2015-04-16 18:42] rhvgoyal commented on #4036
@danielschonfeld

Ok, let us start debugging this. To begin with.

- Are you able to reproduce this problem?
- Can you get me output of "dmsetup table" and "dmsetup status" on your system (with docker daemon running).

[2015-04-16 18:45] runcom commented on #12410
This can be closed (wrong  format for autoclose sorry)

[2015-04-16 18:52] rhvgoyal commented on #4036
@danielschonfeld

I want to manually activate the failing dm thin device on your system and see what happens. Can you do following.

- start docker daemon
- Run dmsetup table and make sure thin pool is up and running. from "docker info" output, it looks like
  in oyur case pool name is "docker-8:3-1049208-pool"
- Go in /var/lib/docker/devmapper/metadata/ directory and look for file cf277dd22a23039

[2015-04-16 19:18] thaJeztah commented on #12164
@mgood shows how much I know about that legal mumbo jumbo :smile:

[2015-04-16 19:44] WhisperingChaos commented on #12415
@erikh @tiborvass @proppy @burke @discordianfish

Mechanisms promoted by the following proposals:
+ Nested/Chained Build #7149, like its ability to extend the uploaded build context with intermediate state,
+ One Meta Data to Rule Them All => Labels #9882, which, through it's LABEL feature permits addressability to an image's file system,
+ Incorporate docker run IMAGE into BUILD #8660, that prese

[2015-04-16 20:03] runcom opened #12456 "dm_task_run failed + make fail"
Just upgraded to 1.6.0 release from 1.6.0 rc7, this INFO + make error appears when I `make` the project. Also rebooted but nothing. I can't build anymore with the mentioned INFO (error)
[code]

`docker version`
[code]
`docker info`
[code]
`uname -a`
[code]

[2015-04-16 20:06] johnneil commented on #12448
I think the rule that you cannot SIGKILL pid 1 (from 'man 2 kill') only applies to the actual host init process, not whatever command docker is running as pid 1 inside the container, because docker already handles gracefully pid 1 completing.

It would be nice if foreground 'docker run' as well as 'docker wait' were able to report any signal completion status from the initial docker run process.

[2015-04-16 20:16] cpuguy83 commented on #12448
@johnneil The key is you can't `SIGKILL` pid 1 from _inside_ the container. You can test this as such

[code]

The right way to run a process in the container is to make sure it's _not_ wrapped in a shell command, or at least exec'd from the shell command... for exmaple `/bin/sh -c 'exec my_app'`, but of course keeping in mind you can't `SIGKILL` the process from inside the container.

[2015-04-16 20:42] Jaykah commented on #11185
Hey guys. I saw the release of 1.6, any changes to user land proxy in that version?

[2015-04-16 20:56] thaJeztah commented on #11185
@Jaykah unfortunately, not yet

[2015-04-16 20:57] richardcrichardc commented on #10592
@shashir-a1412ed @rhatdan

No progress whatsoever. I posted a couple of different things on the docker-dev mailing list but did not get any response from the maintainers of docker save.

 I did get a somewhat over the top response on the related and less controversial (not breaking) pull request #11104. A core contributor to docker distribution thinks this sort of thing should come under that proj

[2015-04-16 21:06] diegobfernandez commented on #4036
dmsetup table
[code]
dmsetup status
[code]

I'll proceed with the rest of the instructions and post here.

[2015-04-16 21:13] diegobfernandez commented on #4036
cat cccfc86f85cb368dcc384cc71d65b8a8bbb68f90bbdcfcd30cf1cdb20f9d6ba3-init
[code]

[2015-04-16 21:22] estesp commented on #10592
@richardcrichardc the distribution project went GA today (https://github.com/docker/distribution/releases/tag/v2.0.0) so it's a little bit past the spec stage :)

This new registry, and specifically the "v2" API, are supported in DockerHub as well, so definitely anything registry-related should be done in the context of the that project as anything of importance to registry has to be done there.

[2015-04-16 21:23] thaJeztah commented on #12410
Thanks @runcom ! "260 chars should be enough for anybody" 😂

This issue was resolved in https://github.com/docker/docker/issues/12412

[2015-04-16 21:24] #12410 closed

[2015-04-16 21:30] draghuram commented on #12395
Note that the actual upgrade command is

    $ wget -N -q0- https://get.docker.com/ | sh

This has been fixed in #12100.

[2015-04-16 21:38] richardcrichardc commented on #10592
@estesp That may be where the confusion is arising. This is not registry related. This is image import/export related.

From the top of this thread:

When you look at it in more detail you see, the FQIN for the parent images is never exported.

It would seem reasonable to expect name/tags to be preserved when doing a save then a load.

[2015-04-16 21:39] diegobfernandez commented on #4036
mount /dev/mapper/thin /tmp/mnt
[code]

[2015-04-16 21:53] LK4D4 opened #12459 "Change log severity for non-tlsverify bind"
[code]
in `api/server/server_linux.go` and `api/server/server_windows.go`
should be `logrus.Warn`

[2015-04-16 22:05] thaJeztah commented on #12395
@chakrit I'm going to close this issue because I think the question was answered. The docs have been fixed in #12100. Those changes haven't been pushed to the website yet, but can be seen here https://docs.master.dockerproject.com/installation/ubuntulinux/#upgrade-docker

Feel free to continue the discussion after closing. Thanks!

[2015-04-16 22:05] #12395 closed

[2015-04-16 22:24] pocesar opened #12461 "Getting BADSIG on apt-get update on Ubuntu 14.04.2 LTS x86_64"
# Solution

`deb https://get.docker.io/ubuntu docker main` needs to be changed to `deb https://get.docker.com/ubuntu docker main` in `/etc/apt/sources.list` or in `/etc/apt/sources.list.d/docker.list`.

After making this change, `apt-get update && apt-get install lxc-docker` needs to be run.

_______________________________________________________
## Initial bug report

apt-get yields:

[code]

is

[2015-04-16 22:24] shishir-a412ed commented on #10592
@estesp
I would agree with @richardcrichardc This is not a registry related change.

@richardcrichardc I don't know if you have already tried this, but `#docker-dev` irc channel is pretty active for such discussions.

Just PM me on freenode with a half n hour notice, and I ll join you on the discussion on irc.
my irc alias: shishir-a412ed

[2015-04-16 22:39] richardcrichardc commented on #10592
@shishir-a412ed No, just the docker-dev mailing list.

I have just taken on a three month contract so don't really have the brain space to drive this forward right now. If you can get some attention from the docker devs I will chip in though. Happy to join an IRC chat. My timezone is UTC+12, I am in the office 9-5.

[2015-04-16 22:52] donhcd commented on #11764
@crosbymichael should this be closed due to #12423 ?

[2015-04-16 22:52] sstarcher commented on #12461
This looks to be a problem on dockers end.  We started seeing this about 5:30pm EST.

[2015-04-16 22:54] sstarcher commented on #12461
The same issue happened a few months back.  If you want a quick fix update our sources.list for apt and change .io to .com
deb https://get.docker.io/ubuntu docker main
to
deb https://get.docker.com/ubuntu docker main

[2015-04-16 22:59] imton commented on #8911
+1 now that there's log drivers, can this be implemented?

[2015-04-16 22:59] geekpete commented on #10956
Is his issue is now officially solved in docker 1.6 with the improvements to the docker registry and docker engine code?

[2015-04-16 23:00] pocesar commented on #12461
thanks, that worked

[2015-04-16 23:23] thaJeztah commented on #10956
@geekpete it should be; http://blog.docker.com/2015/04/faster-and-better-image-distribution-with-registry-2-0-and-engine-1-6/

Give it a try! Hope you'll enjoy it

[2015-04-16 23:43] cyphar commented on #6734
@rhatdan What happens if the `PID 1` command returns `127`, or is that non-standard behaviour we are ignoring?

[2015-04-17 00:11] jamshid opened #12462 "Ability to limit a container's disk space usage"
There doesn't seem to be a way to limit a containers disk usage, like there is with memory/cpu (https://docs.docker.com/reference/run/#runtime-constraints-on-cpu-and-memory).

Was wanting to do this to test my container in "out of disk space" scenarios, though seems useful in general.

I see the server options `--storage-opt` for changing basesize but that is a global setting https://docs.docker.c

[2015-04-17 00:22] thaJeztah commented on #12462
Hi, @jamshid, thanks for proposing this!

However, I think this is a duplicate of https://github.com/docker/docker/issues/3804.

I'm going to close this issue so that the discussion will take place on a single location in https://github.com/docker/docker/issues/3804. Feel free to comment on this issue after closing.

Thanks again for giving your input, it's really appreciated!

[2015-04-17 00:22] #12462 closed

[2015-04-17 00:58] dpiddy commented on #10563
With the new registry (and associated supported API) and docker 1.6.0 released I think this can be considered fixed.

[2015-04-17 00:58] #10563 closed

[2015-04-17 01:46] HuKeping commented on #12151
the `info` work has not been merged yet, so  there should not be a √  :)

[2015-04-17 01:54] iMerica opened #12464 "Docker Stats Improvement: Exit on "q" keystroke."
The monitoring tools `top` and `htop` both use "q" to signal a graceful exit. Docker stats could benefit from having this same interface instead of control-c (SIGINT) which A) isn't a graceful and B) exits with status 2.

[2015-04-17 01:58] iMerica commented on #12464
Steps to Reproduce (I use Docker Compose):
1) `docker stats $(docker-compose ps | awk '{print $1}' | tail -n+3 | tr '\n' ' ')`
2) Enter `q`.
3) Observe nothing happens.
4) Enter `Control-C`
5) Observe Docker stats has closed forcefully and the exit status is 2.

[2015-04-17 02:00] HuKeping commented on #12459
#dibs

[2015-04-17 02:06] phemmer commented on #12464
dup of #12393
Though this does have the additional note of the exit code. That bit wasn't mentioned over there.

[2015-04-17 02:10] #11764 closed

[2015-04-17 02:23] estesp commented on #10592
Hey guys, sorry if I added confusion, but both your responses were why I specifically said "distribution".  While you are both correct that changes around save/load are not registry-specific, they are "image distribution" specific, and the distribution project is named as such, instead of "docker-registry" because "all things image distribution"-related need to be discussed in light of how the doc

[2015-04-17 02:39] richardcrichardc commented on #10592
@estesp Also probably did not help that I linked to a whole repo rather than a (diff)[https://github.com/docker/docker/compare/master...richardcrichardc:saveAllFQINs]. I will make sure it merges cleanly and turn in into a PR.

[2015-04-17 03:09] HuKeping opened #12467 "CI failed"
a lot of new PRs failed CI by

[code]

[2015-04-17 03:17] HuKeping commented on #12467
see #12465 #12463 etc

[2015-04-17 03:19] Herkemer commented on #12461
Just to add another datapoint, I was seeing this also, change .io to .com and it started working.

[2015-04-17 03:27] LK4D4 commented on #12467
We should skip it :/

[2015-04-17 03:53] johnneil commented on #12448
Ahhh... I was thinking this example was exiting with a signal:

`$ docker run nv:centos57 /usr/bin/perl -e 'kill -9,$$'`

But if you append another command to it it's apparent the kill has no effect.  In fact I cannot make the above example die  with any signal value.  So I now agree with the statement that this is not a bug.

However, if you still want to detect signal completion of a docker run

[2015-04-17 06:10] #12459 closed

[2015-04-17 06:14] thaJeztah commented on #10563
Thanks @dpiddy and happy to hear you enjoy the improvements made!

[2015-04-17 06:17] elrac opened #12469 ""cannot enable tty mode on non tty input" in Cygwin in Windows"
When attempting to run docker in Cygwin(Babun) in Windows if the command uses the -t flag I receive the message:

    time="2015-04-16T22:49:12-07:00" level=fatal msg="cannot enable tty mode on non tty input"

it seems like it isn't correctly passing the -t option to the underlying ssh call, but I don't know why that would be seeing as the ssh installed with git seems to have the same arguments as

[2015-04-17 06:22] thaJeztah commented on #12467
A PR is created in https://github.com/docker/docker/issues/12468

[2015-04-17 06:27] thaJeztah commented on #12464
Thanks @phemmer

I'm going to close this issue because it's a duplicate of #12393, please continue the discussion in that ticket. Thanks for reporting @iMerica!

[2015-04-17 06:27] #12464 closed

[2015-04-17 06:29] thaJeztah commented on #12393
Some additional information / suggestions can be found in https://github.com/docker/docker/issues/12464

[2015-04-17 06:43] #12467 closed

[2015-04-17 07:04] ahmetalpbalkan commented on #12469
@elrac looks like a bug. I'll take a look soon. Can you please try on cmd.exe/powershell or msysgit (git bash for windows) to unblock yourself?

[2015-04-17 07:05] ahmetalpbalkan commented on #12469
I'm actually aware of this. This showed up in my testing before. If we ask Win32 API if the stdout/stderr handles Cygwin passes are terminals or not, it says they're not. mSysgit or ConEmu doesn't do this nor does conhost based terminals (cmd.exe/powershell)

[2015-04-17 07:07] ahmetalpbalkan commented on #12393
@phemmer it might not be as hard as you expected. :) We developed some cool ANSI emulation (`docker run -it ubuntu bash` works inside cmd.exe) and we'll be improving that. I can't see why that can't be done. :)

[2015-04-17 07:08] ahmetalpbalkan commented on #11246
@mitchcapper is this resolved?

[2015-04-17 07:10] ahmetalpbalkan commented on #12126
+1 on @LK4D4, why is this non-deterministic? Do we sometimes hit a non-v1 registry?

[2015-04-17 07:22] ahmetalpbalkan commented on #12447
Hi @jpdus.

`docker attach` supposed to subscribe to contents of stdout/stderr streams **after you attach** (in real time). It's not supposed to show you earlier output, by design (for that you can use `docker logs`).

If you modify your code to:

[code]

you will see:

[code]

so it's actually working as expected.

Another point is you want to make sure you start python with unbuffered output opt

[2015-04-17 07:24] ahmetalpbalkan commented on #12449
@LK4D4 hmm when I took a stab at it, I pretty much fixed cases where we did `err.Error().Contains("201 Accepted")` etc.

In other cases, tests already return a nice error message containing the statusCode. Can you show some examples?

[2015-04-17 07:30] ekeryelleven commented on #12405
Yeah the registry appears fine in `docker ps`

[code]

And here is the curl:

[code]

[2015-04-17 07:33] ahmetalpbalkan commented on #12443
I can't repro this on 1.6.0 stable. (tried from both on the host machine and from a remote client). @antoineco can you consistently repro this? How about running containers, they're also similar POST requests, are they working?

[2015-04-17 07:39] jpdus commented on #12447
Thanks for the reply @ahmetalpbalkan.

This is not working for me, that's why I included  that the '''docker logs''' output is empty as well (and that's the main point of the issue).

Thanks for the tip with unbuffered output, I will try it  but I doubt that this is the solution (as the output is very small in my case)

[2015-04-17 07:44] ahmetalpbalkan commented on #12447
interesting. can you please try with this dockerfile. I cannot reproduce it:

[code]

if this doesn't work either, can you please try adding `-t` parameter to `docker run`?

[2015-04-17 07:48] ahmetalpbalkan commented on #12447
@jpdus I can tell one thing for sure, without `python -u` I see nothing in `docker logs`/`docker attach` (not even `App started` line).

[2015-04-17 07:55] gdm85 commented on #11777
Is this possibly a dup of #9526?

[2015-04-17 07:56] thaJeztah commented on #11246
Looks like it yes. I'm going to close this, because this should be resolved in https://github.com/docker/docker/pull/11395.

[2015-04-17 07:56] #11246 closed

[2015-04-17 08:02] blackfader opened #12473 "how get docker registry2.0 source code?"
how get docker registry2.0 source code?

[2015-04-17 08:03] gdm85 commented on #12413
I think this ticket is a dup of #9319, which in turn is marked as a dup of #9678 ([my comment there](https://github.com/docker/docker/issues/9678#issuecomment-71102191).

The possibly fixing proposal is #8821, on that one I could agree and would also nicely cover your case (see [my comment there](https://github.com/docker/docker/issues/8821#issuecomment-60780486)).

Please also note that a desirab

[2015-04-17 08:03] jpdus commented on #12447
@ahmetalpbalkan ok, thanks, good to know - so far I thought that -u only matters if you use a pipe or exchange significant amounts of data via stdout.
Im currently on the road but will try it out later  - many thanks and sorry for filing an issue prematurely!

[2015-04-17 08:09] gdm85 commented on #6734
Just for reference/ideas, there's plenty of existing implementations that one could draw inspiration from.
In general normalizing any non-zero exit status to a Docker-defined value seems reasonable.

Quoting the man page EXIT STATUS sections of some Linux/BSD commands:

xargs
-------------
[code]

man parallel
-------------
[code]

sudo
------
[code]

sh
--
[code]

[2015-04-17 08:15] HuaTiMeiTian opened #12474 "/containers/create API HostPort set failed"
[code]

** /containers/create** this API failed to set HostPort, container port has no problem,

[2015-04-17 08:16] ibukanov commented on #7198
For my use case it would be enough if docker could just apply custom uid/gid and selinux label to the host volume when it creates it leaving the permission and labels alone if the directory already exists. Currently I workaround that by having a separated entry point for the image that runs as root just to fix the volume permission.

[2015-04-17 08:29] superseb commented on #7936
#dibs

[2015-04-17 08:39] moszeed opened #12475 "[windows] [FATA0000] Are you trying to connect to a TLS-enabled daemon without TLS?"
I installed the new Docker 1.6 with Chocolatey
``
choco install docker
``

then i want to pull the "node" image
``
docker pull node
``

but immediately after starting, following message appears
``
FATA[0000] Get http:///var/run/docker.sock/v1.18/images/json: dial unix /var/run/docker.sock: Es wurde eine Adresse verwendet, die mit dem angeforderten Protokoll nicht kompatibel ist.. Are you trying to

[2015-04-17 08:42] DieterReuter commented on #12473
@blackfader just look here https://github.com/docker/distribution

[2015-04-17 08:46] thaJeztah commented on #12473
Correct, the registry 2.0 source code is in the https://github.com/docker/distribution repository.

[2015-04-17 08:46] #12473 closed

[2015-04-17 08:50] dreamcat4 commented on #12023
Nope. Didn't work. Problem still exists.

[2015-04-17 08:53] antz29 commented on #10065
@jfrazelle I'm getting this with Docker 1.5 and the native-0.2 driver. I'm on CoreOS alpha.

[code]

[code]

[2015-04-17 08:55] ThomasSteinbach commented on #6800
Am I happy to find at least an explanation of the _service tomcat7 start_ behavior. I tried to install and run tomcat on different versions of ubuntu containers, I installed tomcat inside a vagrant ubuntu where everything runs fine, I compared the configuration (which was obvious equal), I ran the startup script with _sh -x_ where I got to the command that fails, which slowly took my after several

[2015-04-17 09:12] zimbatm commented on #12444
Here's the result:
[code]

Maybe there's a use-case where a user wants to keep a broken container around but I couldn't think of one.

[2015-04-17 09:18] blackfader commented on #12473
thinks

[2015-04-17 09:24] md-5 commented on #6800
@ThomasSteinbach might wanna try posting to #11049, this issue is closed

[2015-04-17 09:24] #12474 closed

[2015-04-17 09:30] antoineco commented on #12443
Sorry for the delayed answer guys.

@dmp42 the logs show a http panic when I issue the `login` command: https://gist.github.com/antoineco/81ae75b8e85b81e1fb86

@ahmetalpbalkan yes I can reproduce it constantly. Everything runs fine except for the `login` command. I didn't know there was such thing as a stable version already, I'll give it a try.

[2015-04-17 09:36] runcom commented on #12456
I may have solved this just purgin /var/lib/docker/devicemapper because I noticed `Data Space Available: 0 B` in the docker info

[2015-04-17 09:37] blackfader commented on #12473
and registry2.0 now support proxy or cache model？

[2015-04-17 09:49] ekeryelleven opened #12477 "Local Registry 2.0 : push fails"
#### Description of the problem:

I'm testing registry:2.0 by following the detailed procedure from https://github.com/docker/distribution/blob/master/docs/deploying.md#simple-example-with-the-official-image . When I try to push an image, I get this error:

`FATA[0000] Error pushing to registry: mux: variable "<image-name>" doesn't match, expected "^(?:[a-z0-9]+(?:[._-][a-z0-9]+)*/){1,4}[a-z0-9]+(

[2015-04-17 09:52] zimbatm commented on #12444
docker v1.6.0 has the same issue

[2015-04-17 09:56] zimbatm commented on #12444
Below is the `inspect` of the container. The "State" object says it's neither dead, OOMKilled, paused, restarting or running. FinishedAt and StartedAt "0001-01-01T00:00:00Z".

[code]

[2015-04-17 09:57] superseb commented on #7936
Okay, so a lot has happened. For now, this is the current state:
[code]
[code]
@estesp Do we need to discuss this design? Why not use the same logic already present? Or am I missing something here?

[2015-04-17 10:03] antoineco commented on #12443
Seems to be fixed in the stable version, good job! Can't wait for the repositories to be updated.
Cheers

[2015-04-17 10:03] #12443 closed

[2015-04-17 10:05] georgebuckerfield commented on #12477
Upgrading Docker fixed this issue for me:
[code]

[2015-04-17 10:06] thaJeztah commented on #12444
@zimbatm I think that is, because the container is created, but never started (i.e., it already fails in the "create" step; `docker create --link foo:bar busybox sleep 10000`)

Perhaps this is something as a workaround;

[code]

[2015-04-17 10:25] thaJeztah commented on #12477
Correct, the registry 2.0 requires docker 1.6 or newer.  If you need to support older clients as well, you'll have to set up a 1.0 registry as fallback, as documented here;

[Configure Nginx with a v1 and v2 registry](https://github.com/docker/distribution/blob/570fedb2ab7a9b095ca2ba9facb59af4b87d27e9/docs/deploying.md#configure-nginx-with-a-v1-and-v2-registry)

I'm going to close this issue becau

[2015-04-17 10:25] #12477 closed

[2015-04-17 10:36] thaJeztah commented on #12443
@antoineco Docker 1.6 was released yesterday :)

[2015-04-17 10:45] jfrazelle commented on #12418
ping @tianon but I do believe this is intended behavior say for example I install something else w configs the configs stick around as they are user settings

[2015-04-17 10:47] jfrazelle commented on #12418
/s/configs/user settings, it's actually for this reason I install everything on my computer in containers because I prefer a real nuke

[2015-04-17 11:08] ComradeP commented on #10216
For the record, this is still reproducible with version `1.6.0-rc7` from Debian's experimental archive.

[2015-04-17 11:10] ekeryelleven commented on #12477
Indeed, that solved the problem! Thanks a lot!

[2015-04-17 11:19] superseb commented on #10376
@jfrazelle This can be closed by #11401 ? Duplicate of #11385

[2015-04-17 11:20] jfrazelle commented on #10376
Yep yep looks like it to me

On Friday, April 17, 2015, Sebastiaan <notifications@github.com> wrote:

[2015-04-17 11:27] thaJeztah commented on #10376
Well spotted, @superseb!

I'm going to close this, because this is a duplicate of https://github.com/docker/docker/issues/11385 and should be resolved by https://github.com/docker/docker/pull/11401

[2015-04-17 11:27] #10376 closed

[2015-04-17 11:49] ThomasSteinbach commented on #11049
Am I happy to find at least an explanation of the _service tomcat7 start_ behavior. I tried to install and run tomcat on different versions of ubuntu containers, I installed tomcat inside a vagrant ubuntu where everything runs fine, I compared the configuration (which was obvious equal), I ran the startup script with _sh -x_ where I got to the command that fails, which slowly took my after several

[2015-04-17 11:56] akafred opened #12478 "Docker 1.6.0 ubuntu package can not be authenticated"
Same as issue #8605 (which was for Docker 1.3).
[code]

[2015-04-17 12:00] jfrazelle commented on #12478
curl -sSL https://get.docker.com | sh

Cannot reproduce

On Friday, April 17, 2015, akafred <notifications@github.com> wrote:

[2015-04-17 12:04] daniel-bryant-uk commented on #9132
+1 - this is also causing us issues with building and pushing via Jenkins

[2015-04-17 12:04] PlugIN73 commented on #12461
Working for me! Thank you!

[2015-04-17 12:07] akafred commented on #12478
Some details on my system:
[code]

[2015-04-17 12:15] unclejack commented on #12461
I've updated the original post to let others who will come across this problem know what to do.

@tianon Do you think we should detect this in the install script and overwrite the old apt repo with the new one?

[2015-04-17 12:17] unclejack commented on #12478
This is a duplicate of #12461. Please look at that issue to see how to fix this problem.

If you run into this issue, please look at #12461 and don't comment here.

[2015-04-17 12:17] #12478 closed

[2015-04-17 12:37] cpuguy83 commented on #12448
Yes, this is going to be highly dependent on what's running.
Some stuff has default signal handlers, for instance if I run a ruby `while true do; sleep 1; end`, it will terminate on TERM/INT signals by default even as PID 1. It would seem Perl does not do this.
Some things do not load their default signal handlers if it is running as PID 1, and so they would need to be setup manually.

[2015-04-17 12:44] TalonOne commented on #9665
+1

I am seeing the same as well with docker 1.6.0. I dont really have anything complicated running on the machine, but the containers I am trying to remove seem to be dead, if that matters.
[code]

[code]

[code]

[code]

[2015-04-17 12:44] jpopelka opened #12479 "[1.7.0-dev][graphdriver] prior storage driver "devicemapper" failed: driver not supported"
Running docker-1.7.0-dev from up-to-date git repo fails on Fedora 22 (kernel-4.0.0-1.fc22.x86_64) with:

$ ./docker-1.7.0-dev -d -D
DEBU[0000] waiting for daemon to initialize
ERRO[0000] Udev sync is not supported. This will lead to unexpected behavior, data loss and errors. For more information, see https://docs.docker.com/reference/commandline/cli/#daemon-storage-driver-option
ERRO[0000] [graphd

[2015-04-17 12:50] jfrazelle commented on #12479
Because you are running the static binary, this is expected and working
correctly

On Friday, April 17, 2015, Jiri Popelka <notifications@github.com> wrote:

[2015-04-17 12:51] chipi opened #12480 "tos ulimit"

[2015-04-17 12:51] #12480 closed

[2015-04-17 12:51] chipi commented on #12480
typo mistake, sorry

[2015-04-17 12:53] jfrazelle commented on #12479
See https://github.com/docker/docker/pull/11412

On Friday, April 17, 2015, Jessica Frazelle <jess@docker.com> wrote:

[2015-04-17 12:53] #12479 closed

[2015-04-17 13:05] Soulou opened #12481 "CPU soft lockup on memory allocation with a MySQL in a container"
Hi there,

I'm running a MySQL database in a container with a volume on `/var/lib/mysql` (which is an external NFS volume)

Occasionaly, the database switch to the D state (io-wait) and there is nothing to do to restore it except rebooting the whole server.

According to the stacktrace generated by the kernel it has something to do with the cgroup. Do you have an idea? Could you reorient me to the

[2015-04-17 13:10] PauliJokinen commented on #4036
I tried to build docker image for postgresql today. Run into same problem in AWS virtual machine having
quick work around was running the build command with nice -n 19, and build was successful!

[2015-04-17 13:11] PauliJokinen commented on #4036
Actually it was nice -n -19 that made it working!

[2015-04-17 13:14] bussiere opened #12482 "Error response from daemon: Some kind of disk I/O error occurred: disk I/O error"
root@kusanagi:/media/bussiere# docker run -it ubuntu:trusty /bin/bash
FATA[0000] Error response from daemon: Some kind of disk I/O error occurred: disk I/O error

[2015-04-17 13:17] superseb commented on #9986
@taohu Are you still working on this? #10215 is merged.

[2015-04-17 13:20] cpuguy83 commented on #12482
That's an incredibly helpful error message.

[2015-04-17 13:20] unclejack commented on #12482
@bussiere Please provide the full output of `docker info`, `docker version`, `uname -a` and `dmesg`.

[2015-04-17 13:22] cpuguy83 commented on #12482
Looks like it's from gosqlite :(

[2015-04-17 13:26] bussiere commented on #12482
Containers: 4
Images: 39
Storage Driver: aufs
 Root Dir: /media/bussiere/ext_kus11/docker/aufs
 Backing Filesystem: extfs
 Dirs: 47
Execution Driver: native-0.2
Kernel Version: 3.13.0-49-generic
Operating System: Ubuntu 14.04.2 LTS
CPUs: 2
Total Memory: 7.6 GiB
Name: kusanagi
ID: GPHR:ID5K:WKIF:C5BO:HWNQ:EXPX:JJFQ:5JN7:FVPX:XEHQ:R6K4:JR7X
WARNING: No swap limit support

[2015-04-17 13:26] bussiere commented on #12482
Client version: 1.5.0
Client API version: 1.17
Go version (client): go1.4.1
Git commit (client): a8a31ef
OS/Arch (client): linux/amd64
Server version: 1.5.0
Server API version: 1.17
Go version (server): go1.4.1
Git commit (server): a8a31ef

[2015-04-17 13:26] bussiere commented on #12482
Linux kusanagi 3.13.0-49-generic #83-Ubuntu SMP Fri Apr 10 20:11:33 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

[2015-04-17 13:27] cpuguy83 commented on #12481
First thing I'd do is make sure you're on the latest distro kernel, so I think 3.16.0-34 is the current?

[2015-04-17 13:28] bussiere commented on #12482
[11272.705978]  sdd: sdd1
[11272.742073] sd 8:0:0:0: [sdd] Attached SCSI disk
[11274.497051] EXT4-fs (sdd1): recovery complete
[11274.527396] EXT4-fs (sdd1): mounted filesystem with ordered data mode. Opts: (null)
[11343.431173] EXT4-fs error (device sdb1): __ext4_get_inode_loc:3953: inode #21633379: block 86507958: comm Chrome_CacheThr: unable to read itable block
[11343.431182] EXT4-fs error (de

[2015-04-17 13:28] bussiere commented on #12482
After a stop / start docker it works thanks and regards

[2015-04-17 13:30] unclejack commented on #12482
@bussiere This problem has nothing to do with Docker. Your harddrive or SSD seems to be having problems.

This is a problem with your system. I'm going to close this as it looks like other applications are affected and the system itself is also logging errors.

[2015-04-17 13:30] #12482 closed

[2015-04-17 13:30] Soulou commented on #12481
After reboot it is on 3.16.0-34 ;-) I'm absolutely unable to reproduce the problem, it happened quite randomly after weeks running without any issue.

[2015-04-17 13:39] feiyang21687 commented on #12361
@duglin I know, but why not just only use ```path``` as hash, so we can check the image cache before downloading.

[2015-04-17 13:41] unclejack commented on #12481
@Soulou What kind of system is that? Virtual machine or physical hardware? Can you tell me what's the physical hardware, please?

[2015-04-17 13:45] shishir-a412ed opened #12483 ""docker inspect" can't reach the image JSON when there is a same name container running."
Description of problem:
When there is a image named, for instance "rhel7" and a container is also has the same name, then "docker inspect rhel7" only shows containers json, the command can't reach the image's scope.

Version-Release number of selected component (if applicable):
docker-1.6.0-2.el7.x86_64

How reproducible:
100%

Steps to Reproduce:
1.
# docker images
REPOSITORY

[2015-04-17 13:47] shishir-a412ed commented on #12483
I have verified this, container JSON is shadowing the image JSON, while the container is running.

I did the following:

1) sudo docker run -it --name=rhel7 rhel7 /bin/bash
2) sudo docker inspect rhel7 {shows the container JSON}
3) Exit container
4) sudo docker inspect rhel7 {shows the image JSON}

Container JSON: http://pastebin.test.redhat.com/277034
Image JSON: http://pastebin.test.redhat.com/2

[2015-04-17 13:52] cpuguy83 commented on #12483
Yeah, this is expected on the CLI.
You should be able to call the API and get the output.

[2015-04-17 13:53] cpuguy83 commented on #7198
@ibukanov it can't apply uid/gid, but selinux label is coming.

[2015-04-17 14:05] duglin commented on #12361
@feiyang21687 for the same reason we don't just look at the Last-Modified HTTP header - see: https://github.com/docker/docker/issues/3672#issuecomment-63335989
The decision was made to, basically, not trust things like the URL or timestamps, and instead actually check the data itself to make sure nothing has changed.
@erikh I assume you're still in that mode of thinking, right?

[2015-04-17 14:12] superseb commented on #12367
#dibs

[2015-04-17 14:18] rhatdan commented on #6734
@cyphar Yes that is a problem, but as shown above multiple tools that exec other tools have followed this standard and they have the same problem.

The main goal is to scripting tools/testing tools to easily tell the difference between the tool failing and the command failing.

[2015-04-17 14:44] Soulou commented on #12481
@unclejack  It's a virtual machine running in a VMware cluster. So I don't think the hardware is related to that.

I can tell you it's the second time it happens this last month. The first time it was a bit critical as the server was in production and I didn't get any stacktrace, but I suppose it was similar as it affected mysql the same way.

[2015-04-17 14:57] knutole commented on #3155
Hate to rain on the parade here, but I seem to be having the same problem.

That is, if I start a `nginx` container like so: `docker run --name nginx --link vile:vile --link wu:wu -p 443:443 -p 80:80 -d systemapic/nginx-server`, the nginx.conf which references `wu` is all good.

On `docker restart nginx`, however, I get `nginx: [emerg] host not found in upstream "wu:3001" in /etc/nginx/sites-enabl

[2015-04-17 15:05] cpuguy83 commented on #3155
@knutole I think nginx caches hostnames

[2015-04-17 15:11] gabesullice commented on #12427
Couldn't reproduce. Closing. Don't know what happened.

[2015-04-17 15:11] #12427 closed

[2015-04-17 15:13] kostickm commented on #12449
@ahmetalpbalkan There are multiple tests where nothing is done with the status code, such as in
integration-cli/docker_api_resize_test.go for TestResizeApiResponse:

_, _, err = sockRequest("POST", endpoint, nil)
if err != nil {
        t.Fatalf("resize Request failed %v", err)
}

Where we only check if the error is not nil, but not that the status returned is what we expect. At least that's the c

[2015-04-17 15:15] knutole commented on #3155
@cpuguy83 Thanks. What does that mean in practice though? The container in which `nginx` runs is created anew after restart, right? So that all data in container should be the same? So where does `nginx` store cache? The problem doesn't seem to be with the link `wu` storing wrong IP - the link is not in `/etc/hosts` after restart from what I can understand.

[2015-04-17 15:44] thoraxe opened #12487 "cannot delete some images"
[code]

[code]

[code]

[code]

[code]

[code]

[2015-04-17 15:51] stevendborrelli opened #12488 "Overlay FS "invalid argument" issues with Centos 7"
Trying the tech preview of Olverlay FS on Centos 7.1. About half the containers I try to run end up having this issue:

[code]

[code]

[code]

[2015-04-17 15:57] yestin commented on #11588
#dibs

[2015-04-17 16:05] pbecotte opened #12489 "Docker 1.6 push with multiple tags duplicates push"
Related to #12257

Am evaluating docker 1.6.  Was very interested in testing the performance of docker push / docker pull (docker push is by far the slowest step in our entire CI pipeline).  Was encouraged at first- pushing the same image repeatedly (so it shouldn't have done anything) was getting 20-30% improvement from the new version.

However, after reading bug #12257 I thought to add a second

[2015-04-17 16:10] shishir-a412ed commented on #12483
@cpuguy83 I feel end user using the CLI should atleast have the option to select between `image JSON` and `container JSON`, if there be a conflicting name situation like this. He cannot write code to call the API.

How about an `--image=true` flag in `docker inspect` command to unshadow the image JSON while the container {with the same name} is still running ?

[2015-04-17 16:11] stevendborrelli commented on #12488
Opened a bug with Centos: http://bugs.centos.org/view.php?id=8493

[2015-04-17 16:27] runcom commented on #12151
May I call dibs on the final, disruptive remove of engine? :D

[2015-04-17 16:41] elrac commented on #12469
Figures that it would be a Cygwin issue. I'll probably go back to SSHing into the VM with Putty. Thank you for looking into it.

[2015-04-17 16:41] ahmetalpbalkan commented on #12449
@LK4D4 @kostickm yes that `err` definitely contains status code (check `sockRequest` method). You don't need to use `statusCode` if it's already printed to screen with `t.Fatalf` :smile:

[2015-04-17 16:43] ahmetalpbalkan commented on #12449
@kostickm in most tests we expect `HTTP 200` and that's already being checked in `sockRequest` as well. If you try to check all calls for HTTP 200, you will just increase redundancy/repetition in the code.

[2015-04-17 16:43] ahmetalpbalkan commented on #12469
@elrac hmm interesting. Why do you really want to `ssh` into the VM? You can use mingw/conemu/powershell/cmd.exe.

[2015-04-17 16:44] shazow commented on #12211
Also would be nice if the syslog output format was documented, ideally with an example configuration for capturing it properly using rsyslog or such.

[2015-04-17 16:45] ahmetalpbalkan commented on #12211
@shazow nice point. +1

[2015-04-17 16:47] kostickm commented on #12449
@ahmetalpbalkan Ah thank you! Didn't realize that. @LK4D4 I guess I'm not sure which status need checked then?

[2015-04-17 16:48] ibukanov commented on #7198
@cpuguy83 what is the technical reason for inability to apply a custom uid/gid when creating a host volume directory?

[2015-04-17 16:49] LK4D4 commented on #12449
we should remove check from `socketRaw`. It is wrong to expect always `200`.

[2015-04-17 16:52] runcom commented on #12449
@LK4D4 @ahmetalpbalkan I'm starting not to like the method itself. I mean err should be returned if something went wrong with the request not if the request went ok and status was not 200. What I think would be ok for this  method is to return an error if something went wrong with the request itself and then return the status code to later inspect it because it's not a request (socket) error havin

[2015-04-17 16:55] ahmetalpbalkan commented on #12449
@LK4D4 Hmm then let's pass sockRequest (or whoever check == 200) the status(es) we expect as a function parameter.

@runcom anything `status >= 400` means an error unless we are intentionally inducing the error (by doing some faulty operation and expecting it to fail with some status code). my suggestion above solves that problem.

[2015-04-17 16:56] ahmetalpbalkan commented on #12418
@jfrazelle but that's what debian/ubuntu users would expect from a `purge` and we're not doing it.

[2015-04-17 16:56] runcom commented on #12449
@ahmetalpbalkan 400 is not a socket error (I think) 400 is a successfull request and server replied 400

[2015-04-17 16:57] runcom commented on #12449
if the method is sockRequest I expect to get an error only on connection timeout for instance, not on 400+.. 400+ errors for example can even carry a body to be later inspected

[2015-04-17 16:57] LK4D4 commented on #12449
Yeah, I don't like that func too. Doing too much.

[2015-04-17 16:58] ahmetalpbalkan commented on #12449
@runcom aware. what I'm saying is, for convenience those methods are programmed to evaluate semantics of status code because most docker calls return 200 OK. but for sanity, we must change and specify expected set of status codes in each call to sockRequest IMO.

[2015-04-17 17:01] runcom commented on #12449
@ahmetalpbalkan could be but isn't simpler to just return it and the caller will check it? I mean, as @LK4D4 this function is doing to many things, let's put the check outside that function. Otherwise it will be called `sockRequestAndCheckStatusCode` lol

[2015-04-17 17:02] runcom commented on #12449
I don't get the relation with doing a "sockRequest" and checking its status code (from the request). I still assume the caller should do the check for more control

[2015-04-17 17:02] LK4D4 opened #12491 "Change severity of message in graphdriver"
`daemon/graphdriver/driver.go`:
[code]
Should be debugf.

[2015-04-17 17:08] kostickm commented on #12491
#dibs

[2015-04-17 17:09] LK4D4 opened #12492 "Remove dead code from daemon/daemon.go"
In `*Daemon.register`:
[code]
is dead code. We can rely on `container.Pid` without process start time anyway for killing processes.

[2015-04-17 17:14] moxiegirl commented on #12427
@gabesullice Thank you for the issue, the additional testing, and the follow through to close the issue.  Much appreciated.

[2015-04-17 17:15] kostickm commented on #12449
@ahmetalpbalkan @runcom @LK4D4 Are we in agreement to remove the 200 check from sockRequestRaw and do the status check from the test then?

[2015-04-17 17:16] #12367 closed

[2015-04-17 17:21] toliaqat commented on #12492
I would like to work on it.

[2015-04-17 17:22] thaJeztah commented on #12483
I'm -1 on adding a `--image=true` flag; I think it's messy.

Why not use `docker inspect <imageid>`?

[2015-04-17 17:22] LK4D4 commented on #12492
@toliaqat Ok, it's yours.

[2015-04-17 17:22] LK4D4 commented on #12492
@toliaqat Next time you can just post comment `#dibs` and it will be claimed.

[2015-04-17 17:23] jefferai commented on #6980
This does not only affect boot2docker. Can you please re-open this?

[2015-04-17 17:25] ahmetalpbalkan commented on #12449
I think doing the check in the test will reduce duplication. Why don't we pass valid status codes to sockRequest and let it do the check and raise the error.

Otherwise you will say t.Fatalf("unexpected status: %d") probably 362526482 times in the tests :-)

Instead if we call sockRequest(url, 200) it will return us an error if it doesnt match. Remember sockRequest is a convenience method in test

[2015-04-17 17:26] jefferai commented on #8966
Only if you don't then clean things up. But updating what's in the base image is often necessary to keep up with security updates.

[2015-04-17 17:26] RoelVdP commented on #4036
So this issue is closed with AUFS as the main "workaround" (not "solution")? Is AUFS being maintained? (http://aufs.sourceforge.net/ ...)

[2015-04-17 17:27] pstengel commented on #6980
The fix is the same outside of boot2docker. This isn't a bug with Docker itself, it was a missing feature in AUFS. You'll need to update to a newer version of AUFS in your kernel and enable `CONFIG_AUFS_XATTR` to fix it.

[2015-04-17 17:28] runcom commented on #12449
@ahmetalpbalkan let's change its name then :smile_cat:

[2015-04-17 17:28] LK4D4 commented on #12449
I don't see any convenience in concealing test logic somewhere apart from test. For write new test you'll need to read code of that function to understand what's going on with `status` argument and why we passing it. With checks in tests you can just copy-paste another test and see how we check codes.
I'm not a fan of DRY and event less fan of DRY in tests.

[2015-04-17 17:31] stevenschlansker commented on #4036
AUFS is not being maintained, will be removed from Ubuntu (the only distribution that has it in the first place AFAIK), and is a poor workaround to start with.  This issue really should be reopened.

[2015-04-17 17:33] RoelVdP commented on #4036
Thank you for confirming my thoughts, ++1

[2015-04-17 17:33] vbatts commented on #4036
this issue has nothing to do with AUFS.

If your docker daemon is using `devicemapper`, and the `docker info` shows
"Udev sync support: false", you're gonna have a bad time. The solution is
to never run your docker daemon with udev not in sync with devicemapper.

On Fri, Apr 17, 2015 at 1:31 PM, Steven Schlansker <notifications@github.com

[2015-04-17 17:34] chernjie commented on #8911
In case your OS support `logrotate`, you can use this [configuration file to rotate your docker logs](https://gist.github.com/chernjie/39a02fb4329129a56316).

[2015-04-17 17:36] ahmetalpbalkan commented on #12449
I am coming from a culture where DRY is not appreciated an in fact I'm told I should never go to sleep if I wrote duplicate code today :-) so I guess I'll leave it up to you folks but I can't guarantee I wont send a PR if I don't like it :P

[2015-04-17 17:37] cpuguy83 commented on #3155
@knutole Ok, this is a separate thing. I'd be happy to try to troubleshoot on #docker on IRC, or docker-user mailing list.

[2015-04-17 17:38] rhvgoyal commented on #4036
@diegobfernandez

can you do "dmsetup table" again after you have created the thin device. I just wanted to make sure thin device was activated properly. Also we can try to read from that device using dd and make sure device is redable.

"dd if=/dev/mapper/thin of=/dev/null bs=4K count=100"

[2015-04-17 17:38] shazow commented on #12211
This is the most sensible rsyslog config I've been able to come up with:

[code]

[2015-04-17 17:39] LK4D4 commented on #12211
@shazow Super! Thank you.

[2015-04-17 17:40] cpuguy83 commented on #12449
Or with you could pass in the expected status code into sockRequest and it can check it properly.
I always always always have to do something special with this error.

Doing as above helps to remove some boiler plate from the actual tests.

[2015-04-17 17:41] runcom commented on #12449
still don't like a method named `sockRequest` that does the check for status code (even in test) but alright

[2015-04-17 18:00] diegobfernandez commented on #4036
dmsetup table
[code]
dd if=/dev/mapper/thin of=/dev/null bs=4K count=100
[code]

[2015-04-17 18:28] proppy opened #12494 "Remote API /build method should accept Dockerfile content as part of the payload"
Currently the `/build` endpoint of the API [accept](https://github.com/docker/docker/blob/d12a2d8aeb483870ae064f70308e6ec7109f2a06/api/client/build.go#L287) an additional query parameter `?dockerfile=` that specify the path to the `Dockerfile` relative to the context.

This introduce the following limitations:
a. when using `-f`, the client will [fail](https://github.com/docker/docker/blob/d12a2d8

[2015-04-17 18:45] thaJeztah commented on #12480
No worries, accidents happen, thanks for cleaning up after! Much appreciated

[2015-04-17 18:50] elrac commented on #12469
@ahmetalpbalkan The problem with switching to another shell is that I already have my development environment set up the way I like it. I did try running Cygwin through conemu and I found that the terminal detection issue seems to be due to MinTTY, the terminal program that Cygwin uses. When I run the cygwin shell directly through conemu docker is able enable TTY mode.

[2015-04-17 18:51] cpuguy83 commented on #7198
@ibukanov See above comments.

[2015-04-17 18:53] #12491 closed

[2015-04-17 19:04] thaJeztah commented on #12126
For reference, the test is now temporarily skipped; see https://github.com/docker/docker/pull/12468

[2015-04-17 19:08] LK4D4 commented on #12126
@thaJeztah super. I think it is proper fix.

[2015-04-17 19:10] ahmetalpbalkan commented on #12469
@elrac I see. Let's keep the issue open, we'll probably need to add a hack to fix this behavior of Cygwin.

[2015-04-17 19:12] thaJeztah commented on #8911
As mentioned above, an implementation is being worked on in https://github.com/docker/docker/pull/11485. You can check progress on that pull request.

[2015-04-17 19:33] thaJeztah commented on #12126
I'm not sure what the proper fix is, but now that I still have some logs containing the error, I copied the output, in case it's useful.

This is the output of failures on Janky:

[code]

And on Windows:

[code]

Could it make a difference if the image is already present locally or not, up-to-date or not? Should the image be removed at the start of the test?

[2015-04-17 19:36] cpuguy83 commented on #12494
@proppy This is by design if I'm not mistaken.

[2015-04-17 19:40] rhatdan commented on #12483
@thaJeztah Wouldn't it be difficult to get the imageid for a novice docker user.

Do you think

docker inspect $(docker inspect --format='{{.Config.Image}}') rhel7

is simpler?

docker inspect fedora | grep

[2015-04-17 19:55] thaJeztah commented on #12483
@rhatdan No I definitely don't think that is simpler. I agree that this can be improved, but I don't like doing this through a flag.

(However, beginning users should be able to copy/paste the image-ID from the output of `docker images rhel7`)

My ideal would be to have a consistent UX for each type of "entity" (see https://github.com/docker/docker/issues/8829), in this case; `docker images inspec

[2015-04-17 19:55] dmcgowan commented on #12126
The test will indeed fail if the image already exists locally.  The tests which might cause a pull of hello-world:latest should be cleaning up afterwards, there does seem to be edge cases though where the image is left around.  The second cause appears to be a lack of hitting v2, haven't seen any daemon side logs to give a cue as to why v2 failed.

[2015-04-17 19:59] thaJeztah commented on #12126
@dmcgowan do the test servers keep the daemon logs around, or are they cleaned up?

I copied these from this PR: https://github.com/docker/docker/pull/12416. (http://jenkins.dockerproject.com/job/Windows-PRs/2961/console
and http://jenkins.dockerproject.com/job/Docker-PRs/5991/console)

[2015-04-17 20:05] proppy commented on #12494
@cpuguy83 yes, I'd like to discuss the limitation of the current design and possible evolution in this issue :)

[2015-04-17 20:12] Solutron commented on #9665
Albeit I'm on an older version of Ubuntu:

No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 13.10
Release:	13.10
Codename:	saucy

My guess is that I'd see this in newer versions as well based on the thread here.
I observed this error today as well:

'''
13:05:17-ubuntu~$ sudo service docker stop
docker stop/waiting
13:06:26-ubuntu~$ sudo rm -rf /var/lib/docker
rm: cannot re

[2015-04-17 20:16] tianon commented on #12494
"./some-script.sh | docker build -f - some/context" would be pretty cool
too (and possible if it were a separate payload), IMO :+1:

[2015-04-17 20:33] rhatdan commented on #12483
docker images --inspect IMAGEID.

[2015-04-17 21:14] erikh commented on #12361
Aye, although a sum of the first n bytes would probably be sufficient for moderate sizes of n.

-Erik

[2015-04-17 21:16] calebcase opened #12497 "docker tag adding 'docker.io' repo"
The addition of the 'docker.io' repo when calling `docker tag` doesn't appear to be optional and breaks with the behavior of `docker build -t`. This addition of 'docker.io' is also different from the behavior it used to have. The resulting tags are also confusing since it isn't clear if 'docker.io' is the repo or user. Not to mention that now doing `docker images foo` doesn't produce the results y

[2015-04-17 21:30] calebcase commented on #12497
`docker rmi` also has unexpected behavior when compared to `docker images`:

[code]

`docker rmi` considers 'foo' and 'docker.io/foo' to be the same and deletes what it thinks is the latest tag for that image, whereas `docker images` thinks they are different.

[2015-04-17 21:39] crosbymichael commented on #12497
ping @dmcgowan

[2015-04-17 21:54] thaJeztah opened #12498 "docs.docker.com doesn't enforce secure connection"
The docs website is accessible via http://docs.docker.com and doesn't automatically redirect to https://docs.docker.com

Given that the site is accessible via `https://`, I think it should enforce a secure connection.

[2015-04-17 22:01] aaam commented on #12487
Have you remove all of those containers prior to this?
# docker rm $(docker ps -aq)

[2015-04-17 22:03] ewindisch commented on #12498
It redirects locally, but because we do or did have HSTS enforcing the redirect. Seems that new browsers aren't enforcing redirects for this URL.

[2015-04-17 22:15] #12355 closed

[2015-04-17 22:17] LK4D4 opened #12499 "TestEventsImageImport is racy"
[code]

[2015-04-17 22:20] vincentwoo commented on #11740
@dreamcat4, this is fantastic debugging. Docker team, please take note! Getting core dumps in Docker is nigh impossible without being a wizard!

[2015-04-17 22:31] far-blue opened #12501 "Can we please have a static binary download of the docker client for OS X"
As docker-machine replaces boot2docker there needs to be a new, easy and preferably scriptable way to pull a binary release of the docker client for OS X. I see no reason why the existing system via get.docker.io for Linux can't be expanded to provide the OS X client binary.

[2015-04-17 22:34] tianon commented on #12501
You mean like https://get.docker.com/builds/Darwin/x86_64/docker-1.6.0 or
https://get.docker.com/builds/Darwin/x86_64/docker-latest ?

[2015-04-17 22:35] tianon commented on #12501
(which I swear used to be documented somewhere, but I can't seem to find anything documenting those locations at the moment besides the release script itself)

[2015-04-17 22:44] runcom commented on #12499
#dibs

[2015-04-17 22:45] far-blue commented on #12501
Yes, exactly something like that - except, you know, mentioned somewhere ;) You can't even browse the directory structure because the index pages either deliver a Linux-only script or a 404. Discoverability would be a great benefit :)

Still, I suppose on the plus side, if it is already there but just not mentioned then it is easy to close this issue! :D

[2015-04-17 23:29] tianon commented on #2606
Isn't this "just" that we need a configurable knob for the size of `/dev/shm` in `create`/`run`?

[2015-04-17 23:55] thaJeztah commented on #12501
Hi @far-blue thanks for reporting this; this is indeed something that's needed.

There's already an issue for that here; https://github.com/docker/docker/issues/7974.

I'm going to close this issue, because I think this is a duplicate of https://github.com/docker/docker/issues/7974, please continue the discussion there!

[2015-04-17 23:55] #12501 closed

[2015-04-18 00:46] glaudiston opened #12504 "CONFIG_IA32_EMULATION problems"
Hi,
I have a custom linuxfromscratch(pure x86_64), and I did installed docker with success... but yesterday, I did a kernel rebuid (version 3.19.3) with a:
    CONFIG_IA32_EMULATION=y
If do not set it, all works fine, but, If builded with it, when the docker daemon starts, my host system freezes, and saddly appears that only magic sysrq+b works.
The last thing printed by the docker daemon are the

[2015-04-18 01:04] tshrklr commented on #9577
For others who see this, either turn apparmor off or create a custom apparmor profile to fix this issue.

[2015-04-18 01:13] tianon commented on #2606
For the record, the main place this is currently hard-coded that I can find is https://github.com/docker/libcontainer/blob/14a7d2f468404e25577dced6982248e80ddce79a/nsinit/config.go#L261.

[2015-04-18 01:16] coolljt0725 commented on #12487
you can't remove image like this, because some images are parents of other images, you can not remove it if its child still exist even if you has the -f

[2015-04-18 03:44] WhisperingChaos commented on #7654
This is a good idea, as long as the symbolic link:
+ remains within the initial build context or extended build context - intermediate state (path/files) derived from the original build context
+ and writes to anywhere within the symbolically linked location cause the build to fail.

It can be used for secrets, and to improve the speed of the build by averting unnecessary physical copying.

There'

[2015-04-18 04:30] jhalterman commented on #6743
+1

[2015-04-18 06:51] ibukanov commented on #7198
@cpuguy83 I just do not see from the comments what the issue is. For my user case I do not need any remapping of uid/gid. Currently inside the container when running as a root I can `chown uid:gid /host_volume && chmod 770 /host_volume`. What would be nice if the docker can do it on its own when it creates the directory on the host behind /host_volume. This way I would not need a hack of providing

[2015-04-18 07:07] jleskovar opened #12506 "Windows client crashes when run in Intellij terminal"
Not really sure if this is an Intellij issue or a Docker client issue, but when you try to run the docker command inside of a terminal in Intellij, the following error is thrown:

[code]

To reproduce:

1) Open up Intellij (14.1.1) in Windows (7 SP1)
2) Bring up the Terminal (Alt+F12)
3) Type 'docker' and hit enter

I am using docker 1.6:

[code]

[2015-04-18 07:41] jleskovar commented on #12506
Git blame shows @tiborvass [worked on this](https://github.com/docker/docker/blame/master/pkg/term/winconsole/console_windows.go#L252) not long ago. Maybe he can shed some light? Cheers

[2015-04-18 08:18] dklotz commented on #2606
I don't know about the others, but for me (ABBYY OCR inside a docker container) just having this size configurable (without having to run the container privileged) would be a perfect solution.

[2015-04-18 09:21] thaJeztah commented on #12506
@jleskovar thanks for reporting! Out of the box, windows shell miss some features that are needed to run docker correctly. The docker binary has some code to emulate these features, depending on the terminal that it's running in (`cmd.exe`, `PowerShell`).

I'm sure that the IntellIj hasn't been added to the list of supported terminals (yet), so that's probably why it is crashing.

It *would* make

[2015-04-18 09:28] thaJeztah commented on #12506
/cc @ahmetalpbalkan Nice case! I labeled it both "bug" and "feature" because it can be seen as both. I think this should be added to the "known issues" list, and some info to the Windows docs (which shells are supported, and that other shells can cause a panic (but please report!))

With regard to IntelliJ; I know Jetbrains (the developer behind IntelliJ) is **very** supportive to open source and

[2015-04-18 09:48] maartenba commented on #12506
Adding @hhariri

[2015-04-18 10:02] thaJeztah commented on #12504
Hi @glaudiston thanks for asking, however, the issue tracker is not really intended for support questions (it's for tracking bugs and feature requests).

I'm going to close this issue for that reason, but you'll be able to comment on it after that.

I *do* think it's an interesting question and there are some [existing issues/discussions ](https://github.com/docker/docker/issues?utf8=✓&q=is%3Aissu

[2015-04-18 10:02] #12504 closed

[2015-04-18 10:04] thaJeztah commented on #12506
Thanks, @maartenba I didn't know who I should ping, and your name was the first that came up in my mind :)

[2015-04-18 10:18] glaudiston commented on #12504
Regardless 32bit support, the simple fact is that docker halts my entire system. For me it's clear to be a docker "bug". and it's the reason that I'm asking for "support"... I'm really in the wrong place ?

[2015-04-18 11:07] thoraxe commented on #12487
No containers have ever been run on this machine.

'''
docker ps -a
'''

The output is empty (no containers).

On Fri, Apr 17, 2015, 21:17 Lei Jitang <notifications@github.com> wrote:

[2015-04-18 11:08] glaudiston opened #12507 "CONFIG_IA32_EMULATION problems"
Description of problem:
I did asked it before in #12504 and was redirected to here.
I have a custom linuxfromscratch(pure x86_64), and I did installed docker with success... but some days ago, I did a kernel rebuid (version 3.19.3) with a:

    CONFIG_IA32_EMULATION=y
If do not set it, all works fine, but, If builded with it, when the docker daemon starts, my host system freezes, and saddly appear

[2015-04-18 11:13] WhisperingChaos commented on #12415
The "Proposal: SLINK instruction for Dockerfile" #7654 @cmfatih furthers the notion of addressability conferring the following benefits as it:
+ completely removes transient secret keys from both the final run-time and the build host's image cache,
+ improves build performance by optimizing the number of physical copy operations.

I would suggest that checksums produced by SLINK represent the "act

[2015-04-18 11:40] kohlerm commented on #2606
I agree making it configurable would help a lot.  If there would be a privileged mode for docker  build I could also work around this issue

[2015-04-18 11:56] zimbatm commented on #12444
Thanks, that's good for a workaround

[2015-04-18 14:23] moxiegirl commented on #11740
Wow, thank you @dreamcat4! We are just coming off the 1.6 release, so I should be able to pick this up in the coming weeks. (Other contributors are, of course, welcome to take it on sooner.)  I'll be sure to ping you back for the PR review.

[2015-04-18 15:35] tjim opened #12510 "Configurable key bindings for detach in interactive mode"
In interactive mode (docker run -it) the key sequence Control-P Control-Q causes a detach.

It's good that you can do this, but this conflicts with the use of Control-P to move backwards in the bash command history.

So, when running bash inside docker interactive mode, two Control-P's are necessary to move backwards in the command history, instead of just one as in an ordinary invocation of bash.

[2015-04-18 16:10] estesp commented on #7936
Right now as you can see, for `--dns` we are showing a conflict, and for `--dns-search` we are not reporting an issue, but we also aren't adding it to the container's DNS config either.  So, given it doesn't **have** to conflict anymore (because resolv.conf is changeable in the container), the steps to a PR that can be reviewed (design first, then code, as it changes current behavior):
 1. Remove

[2015-04-18 17:37] brettnem commented on #8539
Me too +1

[2015-04-18 17:53] ankushagarwal commented on #7974
Since the release binary locations have not been documented in the releases page, I have added a section in the `installation/binaries.md` page which documents the URL of these binaries since the are literally not documented anywhere.

Here is the PR : https://github.com/docker/docker/pull/12512/

Here is the edit to the section

![image](https://cloud.githubusercontent.com/assets/796949/7216579/0

[2015-04-18 19:09] thaJeztah commented on #8539
That's a really good point here; I'm reluctant to re-open this issue, because "using huge amounts of memory" is a far too generic description to act on. Don't get me wrong here, I don't deny (or confirm) that there are cases where docker is using loads of memory, but simply `+1` doesn't help the maintainers with investigating this.

People "voting" here can have completely different use-cases that

[2015-04-18 20:50] thaJeztah commented on #12475
The error you're seeing, is that the Windows Docker client tries to communicate with the Docker Engine, but is unable to.

The installation via chocolatey will only install the Docker *client*, not the Docker Engine (daemon), which currently only runs on Linux.

This is also mentioned on the [chocolatey page](https://chocolatey.org/packages/docker)

If you don't have an existing Docker host runnin

[2015-04-18 20:50] #12475 closed

[2015-04-18 20:53] thaJeztah commented on #12475
/cc @ahmetalpbalkan perhaps the Docker documentation itself should make more clear that this is only the client ?

[2015-04-18 21:27] ahmetalpbalkan commented on #12475
![image](https://cloud.githubusercontent.com/assets/159209/7217301/fafeddc6-e5d6-11e4-82e0-f1e0620574d4.jpg)

It's very clear to me.

[2015-04-18 22:09] frioux opened #12514 ""Unable to find user""
As far as I can tell you cannot pass a username, only a UID, even though --user is documented to work with a username:

[code]

[2015-04-18 22:19] 3onyc commented on #12514
Works fine:
[code]

Keep in mind that the user needs to exist in the docker image, host users won't work.

[2015-04-18 22:47] vincentwoo opened #12515 "docker --ulimit does not support unlimited or large numbers"
While trying to get my containers to generate core file dumps, I ran into an issue setting the ulimit high enough. Would love an explanation, as I have no idea why upping to 1000000 doesn't seem to have an effect!

[code]

running on

[code]

[2015-04-18 22:55] thaJeztah commented on #8966
Basically, this is a duplicate of https://github.com/docker/docker/issues/6980. This is an issue with (older versions of) AUFS, see https://github.com/docker/docker/issues/6980#issuecomment-94032305:

I just tested this issue and was able to reproduce it on a DigitalOcean droplet using AUFS. Switching to BTRFS as storage driver resolved the problem.

I also spotted an external issue being linked t

[2015-04-18 22:55] #8966 closed

[2015-04-18 22:55] frioux commented on #12514
Ah ok, I couldn't tell that from the docs, maybe I'll submit a patch to
clarify

--
sent from a rotary phone, pardon my brevity
On Apr 18, 2015 5:21 PM, "3onyc" <notifications@github.com> wrote:

[2015-04-18 23:11] thaJeztah commented on #12475
@ahmetalpbalkan hm, yes. :smile:

I was looking at the [chocolatey](https://docs.docker.com/installation/windows/#references) part;

If people don't read, I can't think of anything unless something like this is added:

Nothing we can do here.

[2015-04-18 23:17] thaJeztah commented on #12514
@frioux I'm going to close this issue, because I think your question is answered. If you think the documentation can be improved, we welcome your pull request! Thanks in advance :)

[2015-04-18 23:17] #12514 closed

[2015-04-18 23:31] karim789 commented on #10851
That answer doesn't makes sens to me, because if VM solved the issues the way you say it does, then we would not bother with LXC or Xen and such and just drop them.
So obviously you are not going to work on colinux, and that's logical, but I don't like the idea of dismissing Colinux principle.

[2015-04-19 00:23] moxiegirl opened #12516 "Fix registry doc top level and also the redirect issue"
- Distribution team wants the top level to be docs.docker.com/registry
- Also need a redirect from docs.docker.com/registry/overview > docs.docker.com/registry

[2015-04-19 02:49] coffenbacher commented on #8539
Great points @thaJeztah and thanks for summarizing in a guide here since this seems to be a pretty hot issue. When in scramble mode it's often hard to think through everything that would be useful to the maintainers, so this checklist-style approach is definitely helpful.

[2015-04-19 06:45] anandkumarpatel commented on #6851
+1

[2015-04-19 09:18] ankushagarwal commented on #12487
I agree with what @coolljt0725 says. @thoraxe : You can't remove an image (even by using -f) if another image depends on it.

For example, take `busybox:latest`, it has three image layers :
[code]
You can't remove `cf2616975b4a` because `6ce2e90b0bc7` depends on it.

[code]

I think that the error message should be clearer though.

[2015-04-19 11:06] dalanlan commented on #12281
That is odd indeed.
From where i stand, it's better to reject the `pull` request of the client from the very beginning.Tell me if u have any objection.
@thaJeztah @dmcgowan

[2015-04-19 11:07] dalanlan commented on #12281
@WIZARD-CXY

[2015-04-19 11:20] cpuguy83 commented on #12487
The problem is he can't remove _any_ of the images.

[2015-04-19 12:36] cpuguy83 commented on #12515
Quite strange.
I can confirm I'm seeing the same issue.
However, running the same basic code that Docker/libcontainer are running I cannot repro:
[code]

`unlimited` is purposefully not support since it's not a real value, it's just a constant set to a really high number.

[2015-04-19 12:37] ramantalkin commented on #3182
+1

[2015-04-19 12:46] thaJeztah commented on #12487
Not sure if this is cause of the problem (I think I saw some other issue on this), but can the `docker.io` prefix be related here;

    [root@base ~]# docker images -a
    REPOSITORY                            TAG                 IMAGE ID            CREATED             VIRTUAL SIZE
    docker.io/openshift/hello-openshift   latest              00131dba8856        2 weeks ago         5.62 MB

And he

[2015-04-19 12:48] thaJeztah commented on #12487
For reference, here's the other issue on the `docker.io` prefix/repo being added;
https://github.com/docker/docker/issues/12497

/cc @dmcgowan

[2015-04-19 12:58] stuaxo commented on #10851
I guess if 32 bit support ever comes through it will make this easier

https://github.com/docker/docker/issues/136

[2015-04-19 13:27] sharidas commented on #8373
#dibs

[2015-04-19 13:35] thaJeztah commented on #12489
Thanks for reporting, @pbecotte!

[2015-04-19 13:39] thaJeztah commented on #12489
I think I've seen something similar when doing `docker pull`. During pull, the progress sometimes outputted `already being pulled..skipping`, which could indicate that more processes are started than are required (just thinking out loud here)

[2015-04-19 13:58] thaJeztah commented on #12447
@jpdus no worries! You took the right approach, asking on StackOverflow first and an exemplary description of your problem. I wish all users did this :)

If you can report back if you were able to resolve your issue with the hints above, that would be much appreciated, thanks!

[2015-04-19 14:14] #12516 closed

[2015-04-19 14:25] thaJeztah commented on #12456
@runcom can I close this, or do you think this reveals an actual issue?

[2015-04-19 14:42] runcom commented on #12456
I have no clue about this, maybe the data space available thing was the problem but no confirmation about this. Again, I don't know, feel free to close it and in case we'll reopen it since I don't have problems anymore

[2015-04-19 14:54] thaJeztah commented on #12456
Thanks, I'll close this as "no longer able to reproduce". Ping me if it needs to be reopened!

[2015-04-19 14:54] #12456 closed

[2015-04-19 16:15] thaJeztah commented on #11620
@ctate could you let us know if you're still planning to work on this. If not, no problem, then someone else can do it, just leave a comment to let us know :)

[2015-04-19 16:19] runcom commented on #11620
@thaJeztah sorry but this was just done here https://github.com/docker/docker/pull/12486 and already merged :(

[2015-04-19 16:24] thaJeztah commented on #11620
@runcom thanks! There's so much refactoring going on at the moment that it's hard to keep track :smiley:

I'll close this, because this should be resolved by https://github.com/docker/docker/pull/12486

[2015-04-19 16:24] #11620 closed

[2015-04-19 16:55] cpuguy83 commented on #7198
@ibukanov Ah, that's a different thing.
Docker does not, quite on purpose, make changes to host dirs.
If we do #9092, then if docker created the dir, it'll treat it like a normal volume (ie, copy everything at the volume path in the container out onto the host and chmod/chown as it was in the container).

[2015-04-19 17:26] thaJeztah commented on #12510
Also, slightly related to the discussion around key bindings for attach; https://github.com/docker/docker/issues/2855

[2015-04-19 17:54] thaJeztah commented on #12386
Thanks for reporting this, @z0u. We recently made some improvements in this area (see https://github.com/docker/docker/pull/11999). Docker will now scan which driver(s) was/were previously used and produce an error if that driver is no longer supported on your system.

I *think* that change didn't make it in docker 1.6, but will be in docker 1.7.

/cc @vbatts @tianon

[2015-04-19 18:54] ibukanov commented on #7198
@cpuguy83 - well, docker does change something on the host when it creates the missing host volume. But #9092 sounds as if it would solve my use case indeed.

[2015-04-19 21:17] runcom opened #12523 "Remove redunant else clause"
`else` should be removed in https://github.com/docker/docker/blob/master/registry/session.go#L227 since we are returning from the previous `if`. Split the `else if` clause in a separate `if` below.

[2015-04-19 21:29] grundleborg commented on #7540
I just noticed a pattern which may be relevant to this: I see the 172.17.42.1 source IP address when the connection from the remote host to the docker host is over IPv6. I'm not 100% about this, but it's a pattern that has held over a short spate of observations just now.

[2015-04-19 21:31] RickWieman commented on #12523
#dibs

[2015-04-19 23:08] WYSIATI opened #12525 "docker start -a <containerID>"
After typing `docker start -a <containerID>`, I can enter bash shell, but it does not respond to any command, I have to use <CTRL+C> to quit the shell.

OS: Mac OSX 10.10.3

Docker version:
[code]

Boot2docker version:
[code]

[2015-04-19 23:27] RickWieman commented on #12418
I agree on the `/etc/default/docker` part, but I don't on the `~/.docker` one. See for example [this post](http://askubuntu.com/a/231568); `apt-get purge` should never remove anything from the user's home directory, it only removes system-wide configuration files.

[2015-04-19 23:31] RickWieman commented on #10673
If you like, I can help you with this?

[2015-04-19 23:52] moxiegirl commented on #12164
Hi folks,  I've got the diagram done now. I've got to talk to the engine folks about placement --- so I expect to have full review later tomorrow once it appears in text. Here, for now, is the diagram:
![event_state](https://cloud.githubusercontent.com/assets/1347209/7221899/7d0f4d86-e6b4-11e4-80d6-74f00c11b378.png)

[2015-04-19 23:59] dlintw opened #12526 "Display wrong number of VIRTUAL SIZE on 32 bit OS"
$ docker pull dlin/stlinux24-sh4-glibc (That's about 4GB)

$ docker images
REPOSITORY                 TAG                 IMAGE ID            CREATED             VIRTUAL SIZE
dlin/stlinux24-sh4-glibc   latest              c7657d5d3264        2 days ago          -2.217e+08 B
32bit/debian               jessie              e31bfc2a061e        5 months ago        272 MB

[2015-04-20 00:50] coolljt0725 commented on #12525
@WYSIATI  You have to start the container with `i` if you want enter bash shell, `-i` will attach the stdin, `-a` just attach `stdout` and `stderr`, but this also need you with `-it` on container creation.

[2015-04-20 01:47] HuKeping opened #12528 "New Feature: disable oom killer"
Hi there,

We'd like to add a new feature to Docker say, disable oom killer when OOM happend #11034 . This is  useful especially in production scenario but we have not yet been in accord on what's the name would this option be.

By now, ```--disable-oom-kill``` is in lead but the name is a little too long, WDYT.
So if someone else has a strong preference, please comment.

[2015-04-20 02:50] WYSIATI commented on #12525
@coolljt0725 it worked for me, thank you!

[2015-04-20 02:50] #12525 closed

[2015-04-20 03:34] phemmer commented on #12528
Instead of a boolean to disable the oom killer entirely (which is a really bad idea in my opinion), how about a tunable instead? Meaning something like `--oom-score=100`.
This would use the standard linux `oom_score_adj` control mechanism. The score controls the tendency for the kernel to target that process when it needs to kill something, and a score of `-1000` means to disable the OOM killer fo

[2015-04-20 03:45] thockin commented on #12528
This is heading in the direction of what we call Priority in Borg.  OOM
scoring is just one facet of it, but an important one.

On Sun, Apr 19, 2015 at 8:35 PM, Patrick Hemmer <notifications@github.com>
wrote:

[2015-04-20 03:46] HuKeping commented on #12528
Hi @phemmer , the oom_score_adj is related to a pid and we can't get that before the container start.

[2015-04-20 04:17] LK4D4 commented on #12528
I agree with @HuKeping that oom_control and oom_score_adj have different targets - cgroup and process.

[2015-04-20 04:34] phemmer commented on #12528
I'm not disagreeing, but `oom_score_adj` offers a lot more flexibility, and can do what `oom_control` does.

[2015-04-20 05:08] #12523 closed

[2015-04-20 05:12] phemmer commented on #12528
Here's a PoC showing it working (score hard coded to `123`):
https://github.com/phemmer/docker/commit/3fe3a89a1d04222b9f3308283b564cb53c2b311c

[code]

[2015-04-20 05:14] ghmlee opened #12529 ""/container/<id>/stats" does not return any response even an error when querying with an exited container."
"/container/<id>/stats" does not return any response even an error when querying with an exited container.

I found this function in /docker/api/server/server.go. It returns d.ContainerStats(...).
[code]
I think this is the function in /docker/daemon/stats.go. I expected daemon.SubscribeToContainerStats() should return an error with an exited container.
[code]

in SubscribeToContainerStats(), it d

[2015-04-20 05:18] LK4D4 opened #12530 "Eliminate json.Marshal in graph/export.go"
Should be replaced with `json.NewEncoder(...).Encode`. It allows go to reuse internal structures from `sync.Pool`.

[2015-04-20 05:21] LK4D4 opened #12531 "Eliminate json.Marshal in volumes/volume.go"
Should be replaced with `json.NewEncoder(...).Encode`.

[2015-04-20 05:58] PikachuEXE commented on #12489
I have seen the same thing too for every pushing
New layers seem to be pushed twice

[2015-04-20 05:59] PikachuEXE commented on #12116
Is this fixed? if not please update the milestone

[2015-04-20 06:34] HuKeping commented on #12528
hi @phemmer , When OOM happen, the kernel will try to find out who was the most likely to be killed and that was depend on the oom_score. Generally, the highest score owner will be killed, then how to weight when we doing the creating things? Why should you assign container_1 with 100 and another with 200?

I still think we use the cgroup to control that is safe and enough.

[2015-04-20 06:46] phemmer commented on #12528
If `container_1` is your database container, and `another` is your application container, your database container will be less likely to be targeted by the OOM killer. This is the behavior you want as killing your database container can result in DB corruption, where as killing the application container is likely to be no more than an inconvenience.

Disabling the OOM killer entirely is a very bad

[2015-04-20 07:23] HuKeping commented on #12528
Docker is not a toy, in the real world, in every cloud platform , the provider will always run docker for their customer  with option `-m` and this will prevent system memory leaking.
On the customer side, they would prefer not kill their app directly when OOM happened, that is too aggressive to acceptable.

[2015-04-20 07:24] hqhq commented on #12531
#dibs

[2015-04-20 07:24] hqhq commented on #12530
#dibs

[2015-04-20 07:27] ankushagarwal commented on #12531
Hey @hqhq, I've already pushed a change for this

[2015-04-20 07:28] ankushagarwal commented on #12530
Hey @hqhq, I've already pushed a change for this : https://github.com/docker/docker/pull/12532

[2015-04-20 07:48] hqhq commented on #12531
OK, go ahead please, you should claim it before you do next time :)

[2015-04-20 07:51] hhariri commented on #12506
Hi @thaJeztah. I've pinged my colleague Mikhail whom is the one that works on Docker integration. In the meantime though, if you think it might be an issue with IntelliJ I think it would be great if you could log it in our issue tracker https://youtrack.jetbrains.com/issues/IDEA

[2015-04-20 07:51] ankushagarwal commented on #12531
Really sorry about that. I will use #dibs next time.

[2015-04-20 08:34] stucki commented on #5228
Any feedback here? I just did an ```apt-get upgrade``` on my Ubuntu 14.04 with the result that the Docker 1.6.0 upgrade was skipped because of this issue.

[2015-04-20 08:35] hqhq opened #12535 "Can not use dynbinary on ubuntu 14.04"
There is a long story in: https://github.com/docker/docker/issues/4036
In short, if we want to use devicemapper on ubuntu 14.04, we should use dynbinary instead of directly `make binary`. But in my experience, dynbinary can't be used directly even we installed `libdevmapper-dev` and `libdevmapper1.02.1` on ubuntu 14.04.

After some digging, I found in build container, device-mapper was installed f

[2015-04-20 09:30] allencloud opened #12538 "docker ps display NAMES, it's an array, why is there still a docker rename API?"
Hi, all
When I use a command `docker ps`, it displays like this with a column named NAMES

CONTAINER ID        IMAGE               COMMAND             CREATED             STATUS              PORTS               NAMES

NAMES means an array of names of a container, What kind of situation does a container have several names?

If it indeed has several names, then what is the sense of  `docker rename`

[2015-04-20 10:14] allencloud commented on #12538
I found that docker rename change an old name to a new name?

Then what kind of a situation can a container have several names?

[2015-04-20 10:25] jpdus commented on #12447
CMD python -u main.py

does in fact solve the problem, many thanks @ahmetalpbalkan !

[2015-04-20 10:25] #12447 closed

[2015-04-20 10:28] thaJeztah commented on #12447
Great! Thanks for reporting back, @jpdus

[2015-04-20 10:32] unclejack commented on #12535
@hqhq The solution to this problem is to actually build distribution specific Docker packages and provide repositories. Dynamic binaries built from the main Dockerfile are only supposed to be used for testing dynamic Docker binaries within the Docker container.

What you're looking for is `AUTO_GOPATH=1 ./project/make.sh dynbinary`, not `make dynbinary`. This actually builds dynamic binaries which

[2015-04-20 10:53] discordianfish commented on #7540
@icecrime So can we get someone actively looking into this? I just removed the next service from docker because I suspect network problems.

[2015-04-20 11:15] HuKeping commented on #12151
```info``` done.

[2015-04-20 11:34] lexandro opened #12541 "API Cleanup proposal: remove /containers/ps endpoint"
Description of problem:
API Cleanup proposal:

In the docker\api\server\server.go the **/containers/json** and the **/containers/ps** are pointing to the same function: getContainersJSON.
I suggest the removal of **/containers/ps** endpoint, because it not used anymore.

`docker version`:
since 1.0.0++

`docker info`:

Not relevant but:
Client version: 1.3.2
Client API version: 1.15
Go version (cl

[2015-04-20 12:26] rafal-prasal opened #12544 "docker daemon reads /proc/mounts only when started"
The problem is that if something was mounted after docker daemon was started then docker does not recognize the directory as a mountpoint and treats it as normal directory. In other words performs write operation not on a mountpoint, but underneath it, so normally in the HOST you won't see your data until you actually umount.

**How to reproduce**
1. Docker Daemon is already running in a system
2.

[2015-04-20 12:30] phemmer commented on #12528
I think some of the confusion might be coming in on what the OOM killer is for.
The OOM killer is turned on when the system has overcommit enabled. Overcommit is basically when the kernel allows programs to allocate more memory than the system actually has. It does this in the hope that the programs on the host won't actually use all the memory they allocate. For example, the application allocates

[2015-04-20 13:04] HuKeping commented on #12528
how can this happen if you limit the container with ```-m```, so you will give a tons of memory to it?

[2015-04-20 13:30] ekeryelleven commented on #12405
I forgot to say that I upgraded to Registry 2.0 and to Docker 1.6, and the issue disappeared. Thank you!

[2015-04-20 13:53] awh opened #12546 "docker exec -i hangs after command has exited"
There is an apparent regression in the behaviour of Docker 1.6 when using `-i` with `exec`:
[code]

[2015-04-20 14:01] hqhq commented on #12528
@phemmer One scenario is that user don't want his app be killed but just be hung when the container mistakenly consume more memory than expected. That has nothing to do with system hung or overcommit usage. So oom kill disable is usable.

Oom score support is usable too, but it can't cover all scenario of oom kill disable does, like the above scenario.

@HuKeping You don't get @phemmer 's point, e

[2015-04-20 14:08] carn1x commented on #10684
Had this on Boot2docker / Docker 1.4.1. Working after upgrade to 1.6.0.

[2015-04-20 14:12] dnephin opened #12547 "Cannot start container: exit status 4"
We have a build system which runs across many hosts, and runs 20+ concurrent builds per host. Each build will start/stop a few docker containers.

We're consistently hitting this error trying to start containers, it happens on roughly 5% of the builds.  We tried adding a retry to the "start container" API call (5 tries with exponential backoff up to 15s) , but that didn't resolve the issue.

Earli

[2015-04-20 14:19] dnephin commented on #12547
None of the containers have ports bound to the host, but they all expose at least one port.  From the dockerd log I looked over the code, and from what I can tell, this exit status comes from an iptables command.

[2015-04-20 14:40] phemmer commented on #12528
As I mentioned:

To make this point, try the following:
[code]

This command will compile and run an application which allocates 2gb of memory. It runs perfectly on any system which allows overcommit (notice that the docker container is run with `-m 1g`).

----

But this isn't what happens. If the box runs out of memory, the kernel isn't going to just hang the app, it's going to kill something. As

[2015-04-20 15:29] LK4D4 commented on #12489
ping @dmcgowan

[2015-04-20 15:43] thockin commented on #12528
@HuKeping

There are two grades of OOM - "local" memcg OOM and system OOM.  If your container uses more memory than you asked for, you get a local OOM and you should be killed.

If the system overall is overcommitted, SOMEONE has to die, though you don't know who.  This is what OOM scoring is for

[2015-04-20 16:31] calebcase commented on #12497
This appears to be related to the `--add-registry` flag. In an attempt to work around this issue I downgraded docker to the version in EPEL. But then I noticed that the prefix was now `registry.access.redhat.com`.

I see this in '/etc/sysconfig/docker':
[code]

Commenting that out results in the prefix reverting back to `docker.io`.

[code]

[2015-04-20 17:18] ahmetalpbalkan commented on #12418
@RickWieman makes sense.

[2015-04-20 17:18] jfrazelle opened #12549 "remove go1.3.3 support"
this was added for go1.3.3 support but we no longer need, https://github.com/docker/docker/blob/master/pkg/requestdecorator/requestdecorator_test.go#L10

there are other instances places as well. finding them all would be great but some would be awesome.

[2015-04-20 17:20] ahmetalpbalkan commented on #12506
@jleskovar thanks for reporting this. I have been looking the source code and the panic comes from the Go runtime and not the Docker code (and we have seen various issues with Go runtime on Windows which we still could not debug).

I will try to reproduce this. What version/SKU of Windows are you running? What version of IntelliJ IDEA? And if you open cmd.exe, does docker.exe work just fine there?

[2015-04-20 17:22] andrewmilkowski opened #12550 "Docker feature mounting volumes from host might be broken"
environment

[amilkowski@localhost ~]$ uname -a
Linux localhost.localdomain 3.10.0-229.1.2.el7.x86_64 #1 SMP Thu Mar 26 09:10:25 CDT 2015 x86_64 x86_64 x86_64 GNU/Linux
[amilkowski@localhost ~]$ docker -v
Docker version 1.5.0-dev, build fc0329b/1.5.0

running:

Scientific Linux release 7.1 (Nitrogen)
cpe:/o:redhat:enterprise_linux:7.1:ga

which really is Centos 7

trying to do neo4j docker from ht

[2015-04-20 17:23] moxiegirl opened #12551 "Working with Docker Images should discuss digests"
http://docs.docker.com/userguide/dockerimages

[2015-04-20 17:26] fntlnz commented on #12549
#dibs

[2015-04-20 17:27] jfrazelle opened #12552 "fix --net none build"
a test is failing because it is missing a `testRequires(t, Network)`

see https://jenkins.dockerproject.com/job/Docker%20Master%20(--net=none)/155/console

maybe @grubernaut wants this one :)

[2015-04-20 17:28] cpuguy83 commented on #12550
Not broken, the version of docker you are using is built from a pre-release... basically whatever happened to be on master the day RedHat built it ( + their patches ).

You'll need to get an actual release version of docker.
Please see http://wiki.centos.org/Cloud/Docker and the bit about the `virt7-testing` repo.

[2015-04-20 17:29] #12550 closed

[2015-04-20 17:32] andrewmilkowski commented on #12550
acknowledged! will take that route and repeat the test! appreciate such a fast response, it is sort of a blocker for me (mounting host > container) ultra useful.. speak soon

[2015-04-20 17:32] moxiegirl opened #12553 "spelling error in the ulimits documentatiion"
http://docs.docker.com/reference/commandline/cli/#default-ulimits

inheritted > inherited

[2015-04-20 17:33] calavera commented on #2105
@duglin can we close this issue now that 1.6 has shipped and #10431 was merged in?

[2015-04-20 17:38] duglin commented on #2105
@calavera I think so but perhaps @SvenDowideit is in a better position to say for sure.

[2015-04-20 17:40] andrewmilkowski commented on #12550
attempting this docker release next:

[root@localhost yum.repos.d]# docker -v
Docker version 1.6.0-rc7, build bc73604/1.6.0

[2015-04-20 17:47] LK4D4 commented on #12151
Doing trust.

[2015-04-20 17:47] andrewmilkowski commented on #12550
same problem... @cpuguy83  should I manually build Docker from release:

https://github.com/docker/docker/releases/tag/v1.6.0

using instruction:

https://docs.docker.com/installation/binaries/

or don't even bother with Centos 7 ? thanks....

docker run -d -p 7474:7474 -v /home/amilkowski/data:/opt/data --name graphdb kbastani/docker-neo4j
aba4cc652b15b133e13f68ee9801b25fe103683bab81de73d289af683

[2015-04-20 17:48] tianon commented on #12549
This will also mean updating "project/PACKAGERS.md" and commenting out the
"GOFMT_VERSION" section of the Dockerfile (which installs the older gofmt
binary).

[2015-04-20 17:50] cpuguy83 commented on #12550
You might also need to look at your SELinux labels.
`chcon -Rt svirt_sandbox_file_t /path/to/volume`

[2015-04-20 17:50] buddhamagnet commented on #12553
#dibs

[2015-04-20 17:51] fntlnz commented on #12549
@tianon Thank you for the hint!

[2015-04-20 17:54] buddhamagnet commented on #12553
This looks like it's already been fixed?

Found another one in ```docker_cli_run_test.go``` however.

[2015-04-20 17:59] cpuguy83 commented on #12544
What host OS are you using?
Can you provide output of `docker info` and `docker version`?

[2015-04-20 18:04] andrewmilkowski commented on #12550
works like a charm.. sorry for bother.. should have checked security... first.. disabled SELINUX for now just to keep going appreciate you landing help with this! awesome.. powerful all this especially volume sharing/override...

[root@localhost ~]# sudo docker ps -a
CONTAINER ID        IMAGE                          COMMAND                CREATED             STATUS              PORTS

[2015-04-20 18:09] cpuguy83 commented on #12529
This is by design currently.
If you start the container, you should see it's stats start to stream.

[2015-04-20 18:10] moxiegirl opened #12555 "release notes need updating to 1.6"
Customer noted we had not updated the release notes.

[2015-04-20 18:11] sergeyevstifeev commented on #12552
#dibs

[2015-04-20 18:15] stevenschlansker commented on #12265
We have similar problems with btrfs driver:

[code]

[2015-04-20 18:17] buddhamagnet commented on #12538
Some clarification before I continue. Quite right, the container struct contains:

[code]

...but the recent API contains a rename command. Happy to work on this.

[2015-04-20 18:17] buddhamagnet commented on #12538
#dibs

[2015-04-20 18:20] cpuguy83 commented on #12538
@allencloud It used to display more than just the canonical name of the container.
Easiest way is to show you:

[code]

In this case, the `redisdb` container would also be displayed as `myapp/db`.
But the additional names were removed because 1) take up too much space, and 2) doing this had some performance impact.

The column name is not updated to make sure we didn't break anybody parsing this o

[2015-04-20 18:21] cpuguy83 commented on #12538
@buddhamagnet I don't think there is anything actionable.

[2015-04-20 18:21] #12538 closed

[2015-04-20 18:30] tianon commented on #12555
Would it make sense to add a link to
https://github.com/docker/docker/blob/master/CHANGELOG.md at the top of the
release notes page, too?

[2015-04-20 18:32] moxiegirl commented on #12555
@tianon I think I did..sec. I'm almost ready to do a pr and i"ll ping ya

[2015-04-20 18:46] calavera opened #12558 "Docker exec escapes command arguments with wildcards"
It looks like commands like `ls /lib/*.so.0` return an error because `docker exec` escapes the arguments. This is test to reproduce it:

[code]

[2015-04-20 18:46] calavera commented on #12558
#dibs

[2015-04-20 19:03] rafal-prasal commented on #12544
basically it is Centos7 with downloaded the latest available version of docker.

$ uname -a
Linux gdnshp64 3.10.0-123.20.1.el7.x86_64 #1 SMP Thu Jan 29 18:05:33 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

$ docker --version
Docker version 1.7.0-dev, build b7950b7

$ docker info
Containers: 8
Images: 5
Storage Driver: btrfs
Execution Driver: native-0.2
Logging Driver: json-file
Kernel Version: 3.10.0-

[2015-04-20 19:12] cpuguy83 commented on #12544
I'm assuming you are using systemd to init Docker?
What does your unit file look like?

[2015-04-20 19:26] jfrazelle opened #12562 "race with TestApiCommit"
could be race could be something else

sometimes fails with
[code]

[2015-04-20 19:28] draghuram commented on #12284
Based on comments in #12260, it is not clear to me if integration test is necessary. Are we sure that we do need such a test? If so, I would like to take a stab at it assuming @WhoBrokeTheBuild is fine with it.

[2015-04-20 19:30] runcom commented on #12562
me wants diz #dibs

[2015-04-20 19:31] rafal-prasal commented on #12544
# cat /etc/sysconfig/docker
OPTIONS=--selinux-enabled -H fd:// -g /docker --bridge br0

# cat /usr/lib/systemd/system/docker.service
[Unit]
Description=Docker Application Container Engine
Documentation=http://docs.docker.com
After=network.target docker.socket
Requires=docker.socket

[Service]
Type=notify
EnvironmentFile=-/etc/sysconfig/docker
EnvironmentFile=-/etc/sysconfig/docker-storage
ExecStar

[2015-04-20 19:34] cpuguy83 commented on #12544
I believe the issue you are seeing is due to `MountFlags=private`
I believe the correct setting would be `MountFlags=slave`... but don't quote me on that.

[2015-04-20 19:43] thaJeztah commented on #12284
@draghuram let's give @WhoBrokeTheBuild a small bit of time to respond, just in case, if he doesn't, you can pick it.

[2015-04-20 19:44] rafal-prasal commented on #12544
Thank you for your input. it seems that it solves my case... however as it is quite late in Poland I would like to test it further tomorrow morning.

Thank you.

[2015-04-20 19:58] #12552 closed

[2015-04-20 20:04] moxiegirl commented on #10673
@RickWieman Absolutely, feel free. Thank you. :-D

[2015-04-20 20:10] burningion commented on #11877
Same issue, terrible errors, and no working install on Mac OS X hackintosh, either via the command line, or via the Kitematic installer. Instead, just this error message. Should check for whether or not VT-x is enabled, rather than just leading down the rabbit hole of Stack Overflow posts for the "failed to start machine" error. Once I enabled VT-x in my BIOS, Docker and VirtualBox worked properly

[2015-04-20 20:10] CharlieC3 commented on #10274
Hey @cpuguy83, I have a similar issue and thought it might be useful to post it here.

I'm using Docker containers within a Vagrant VM to build and run my app with heroku build packs. It works well in an OSX/Linux environment, but doesn't seem to work in a Windows (7) environment and can't figure out why.

Essentially, the directory I share into my Vagrant VM is completely open. 777 permissions ac

[2015-04-20 20:13] fntlnz commented on #12549
@jfrazelle I have not found any evidence of other places where that workaround is still present.

I need some time to figure out and explore the Docker code base to find things like the one you reported.

Any suggestions?

[2015-04-20 20:16] jfrazelle commented on #12549
no worries, just that instance is fine then :)

On Mon, Apr 20, 2015 at 1:13 PM, Lorenzo Fontana <notifications@github.com>
wrote:

[2015-04-20 20:19] runcom commented on #12549
`grep -rin "1\.3"`, `grep -rin "go 1\.3"`, `grep -rin "1\.3\.3"`, `grep -rin "go 1\.3\.3"` can be useful to look around just to get some clues @fntlnz :)

[2015-04-20 20:23] moxiegirl commented on #12553
closing for reason mentioned by @buddhamagnet --- thanks for the check and the grep!

[2015-04-20 20:23] #12553 closed

[2015-04-20 20:23] itwasntandy opened #12565 "Docker breaks Path MTU Discovery when host is using IPSEC"
__Description of problem:__
When the host system is using IPSEC (libreswan) for encrypting communications, applications running within docker run into issues serving files larger than (MTU - IPSEC Overhead), with timeouts being seen for such files.
The same applications  (e.g. Nginx) running outside of Docker do not have this problem.

__`docker version`:__
[code]

__`docker info`:__
[code]

__`un

[2015-04-20 20:27] cpuguy83 commented on #12565
You can set the mtu for containers when configuring the daemon.
`docker -d --mtu <value>`
I thought at one point this was available per container as well, but I don't see it...

[2015-04-20 20:29] itwasntandy commented on #12565
yes, I mention setting the MTU under the listed workarounds __Additional Notes_

It certainly works, but it requires manual, environment specific configuration.

I would like this not to be required.

[2015-04-20 20:32] fntlnz commented on #12549
@runcom No new evidences from there, thank you for your hint :)

[2015-04-20 20:40] itwasntandy commented on #12565
Further to my last comment, setting MTU works within the environment where everything is on the same network, and all nodes have the same MTU.

However if I were to have interregional traffic, with devices in between with a 1500 bytes MTU in-between two servers, this would break again. - and yet would work if the app is running outside of Docker.

Hence my conclusion that Path MTU discovery is bro

[2015-04-20 20:52] rchaudha commented on #9862
I am seeing this issue as well.  Did anyone figure out a solution?

[2015-04-20 21:18] #12555 closed

[2015-04-20 22:17] clnperez opened #12571 "make docs failing with 404 error"
At Step 11 of building from the Dockerfile in docs/, the docker build fails with a 404 Not Found error.

It looks like https://raw.githubusercontent.com/docker/distribution/ has an issue.

[snip]
Step 11 : ADD https://raw.githubusercontent.com/docker/distribution/${DISTRIB_BRANCH}/docs/index.md https://raw.githubusercontent.com/docker/distribution/${DISTRI
B_BRANCH}/docs/deploying.md https://raw.g

[2015-04-20 22:18] clnperez commented on #12571
I was able to recreate this in two environments, one brand new on Ubuntu, and the other my normal dev env (running Fedora).

[2015-04-20 22:18] clnperez commented on #12571
@SvenDowideit

[2015-04-20 22:28] thaJeztah commented on #12571
@chinperez, this was a temporary problem, because a PR was merged that depended on a PR in the distribution repo.

The problem has been solved now, so if you update / rebase your fork, everything should work ok again.

Please let me know if the problem was solved, thanks!

[2015-04-20 22:40] icecrime commented on #7540
@discordianfish I wish we could, we just don't have any spare minute... But I haven't forgotten about this.

[2015-04-20 22:44] tiborvass commented on #10839
I doubt we could ever make `--rm` default to true. The rationale is that we don't want to lose data inadvertently, by default. It would have to be very explicit.

One long term solution would be CLI plugins. Short term you can wrap the docker CLI in a script that checks if run has --name passed to it, and insert --rm accordingly.

I'm not sure we would want to make the config file turing complete,

[2015-04-20 22:46] dmcgowan commented on #12489
@pbecotte were both tags the same image ID only differing by tags or different images/builds?

[2015-04-20 22:50] dmcgowan commented on #12487
@thaJeztah this issue appears to be related to a non-master fork https://github.com/docker/docker/commits/a8ccea479e7f9d14ab46972db8277c79e6ca01d5.  I am removing the Distribution label since the bug is not in our code.  Possibly reaching out the maintainers of this fork.

[2015-04-20 22:55] thaJeztah commented on #12487
@dmcgowan yes, after reading the last comments on https://github.com/docker/docker/issues/12497 I started to suspect this; I think the same applies for that issue? (Perhaps you can check, just to be sure). Thanks for looking into this!

[2015-04-20 22:57] thaJeztah commented on #12487
ping @rhatdan perhaps you can have a look at this? Is this your fork?

[2015-04-20 23:19] ghmlee commented on #12529
@cpuguy83 Thank you. I didn't understand the design philosophy. If it is based on the important design, you can close my issue. :)

[2015-04-20 23:22] tiborvass commented on #4136
@duglin wauh! That's really nice that you tried so hard! I think you analyzed perfectly the situation.

However, I think @SvenDowideit's issue can be easily solved by:

Dockerfile:
[code]

wrapper.sh:
[code]

I feel like the usecase is very narrow and can be circumvented like explained above, so I'd vote for closing this issue.

[2015-04-20 23:25] duglin commented on #4136
@tiborvass yep - I think that would probably do it for him.  I was just hoping to provide a native solution but given the way things are currently design I don't think its possible.

[2015-04-20 23:33] tiborvass commented on #4136
ok thanks for looking into it though @duglin ! I'm gonna close this to make us feel somewhat better about our open issues # :)

[2015-04-20 23:33] #4136 closed

[2015-04-20 23:52] ghmlee commented on #12529
@cpuguy83 It is not big deal on CLI but when I try to use this API on Docker Remote API, it is blocked. This connection is waiting.

[2015-04-21 00:01] jackphel opened #12576 "--add-host alias:ip should admit --add-host alias~ip:port"
for development I want to do both
`docker run --add-host service:localhost service-consumer`
and
`docker run --add-host service2:localhost service2-consumer`

but both services expect port 80. Apparently I can do something along the lines of

[code]

but to be honest I can't even get this working and it's a pain if the external service turns out to use port 443 instead of 80. Who wants to figure o

[2015-04-21 00:01] #12549 closed

[2015-04-21 00:10] MWers commented on #12571
That fixes it for me.

I came across this issue when trying to checkout and build the version of the docs at tag `v1.6.0` (which is broken). Glad to see subproject versions explicitly defined in `docs/Dockerfile`, which should keep this from happening in the future.

[code]

[2015-04-21 00:28] #11413 closed

[2015-04-21 00:29] jfrazelle opened #12578 "create integration cli test for -H|--human in docker history"
see PR https://github.com/docker/docker/pull/12430

[2015-04-21 00:44] mgood commented on #12164
@moxiegirl oh that looks great. Though, the arrow from "die" to "kill" stops a little short, and I'm assuming it was meant to connect. Thanks for the nice visual upgrade :)

[2015-04-21 01:36] hqhq commented on #12528
I'm talking about disabling cgroup oom, which is what this propose tried to do. If you disable a cgroup's oom, when the cgroup runs out of memory, it will hung the process which was trying to get some memory and can't, put it to wait queue until memory is available. Nothing will be killed.

[2015-04-21 02:14] pbecotte commented on #12489
I ran the following comands in a fresh install...
docker pull myimage
docker push myimage
docker tag myimage:HEAD
docker push myimage

[2015-04-21 02:17] Xerkus opened #12580 "ADD/COPY file sets host UID/GID values if target directory does not yet exist"
File copied using ADD/COPY to folder that does not exist in container results in UID:GID for that file set to host values

For example, dockerfile

[code]
results in:
[code]

If i create `/app` directory first, then uid:gid is 0:0 on both files as expected. Copying folder does not show such behavior and works as expected.

Docker from fedora 21 repo.
[code]

[2015-04-21 02:45] suminb commented on #12469
I'm having this issue as well... (Windows 7, Cygwin)

[2015-04-21 03:36] ankushagarwal commented on #12578
#dibs

[2015-04-21 05:14] Thorndike commented on #6980
That basically means I am out of docker business with Ubuntu 14.04 LTS in a corporate environment where I can only use ubuntu packages.

[2015-04-21 05:55] dinuschen opened #12584 "file exists at %!s(MISSING), can't create volume there"
I use wurstmeister's image to run multiple kafka brokers in docker. Operations see http://wurstmeister.github.io/kafka-docker/.
But failed:
file exists at %!s(MISSING), can't create volume there

I wan't to kown why and how to solve it.

(Cent OS 7, kernal 3.10.0-229.el7.x86_64
docker 1.5.0
docker-compose 1.1.0)

[2015-04-21 06:01] ankushagarwal commented on #12551
#dibs

[2015-04-21 06:07] thaJeztah commented on #12571
Yes, it was a bit unfortunate, and the process may need a bit of tweaking. Now that all subprojects are included in the documentation, it can be a bit of a challenge to keep them in sync.

FYI; there's a separate branch for the documentation, which is used to release the actual documentation for the website and is "cherry picked" from the "master" branch (and allows us to push updates to the docum

[2015-04-21 06:07] #12571 closed

[2015-04-21 06:19] aku163 opened #12585 "Unable to list docker images after sudden reboot"
May be its a duplicate thread, but I am totally stuck with the issue.

docker daemon got started post reboot of machine. But when I do 'docker images' command, it returns nothing except the header part.

docker images
REPOSITORY          TAG                 IMAGE ID            CREATED             VIRTUAL SIZE

How can I get that back?

[2015-04-21 06:27] thaJeztah commented on #12164
Oh that's looking awesome. Only "nit" I can come with is that some text is a bit close to the boxes, perhaps centering them on the connection-line could improve that.

I looked at the actual states/events, I *think* they're correct, but someone should check, to be sure.

Great work!

[2015-04-21 06:37] hqhq commented on #12515
I can't reproduce, the latest master code works fine for me:
[code]

[2015-04-21 07:47] mikehaertl commented on #10839
So maybe we're back to the initial request then. What exactly is the purpose of those auto-generated names? Would it really hurt to ditch them?

[2015-04-21 07:59] florentvaldelievre commented on #5684
Thanks @coolljt0725 .

1) What version of docker will it be implemented ?
2) What are my others options ?
3) Is it impacting all operating system ?
4) Is it impacting all kernels ?

Thanks

[2015-04-21 08:10] diezcode commented on #12323
In wich Path are the docker Container saved?

[2015-04-21 08:40] BenHall opened #12589 "Docker exec via terminal and API have different behaviour"
I'm trying to use the Docker API to execute a bash script. The command works when executing it via the terminal however via CURL I get a different result.

Given a container with ID 7c18c13235fb and Git installed, the following command will return "done" if everything has been committed.

[code]
When using the API I get different behaviour.

Given command
[code]

The cmd file containing
[code]

Af

[2015-04-21 08:50] allencloud commented on #12538
Thank you very much, I think I can follow you now @cpuguy83

[2015-04-21 08:56] BenHall commented on #12589
For future reference, the correct answer appears to be

`(( $(git status --porcelain 2>/dev/null | wc -l) == 0 )) && echo \"done\"`

[2015-04-21 08:57] #12589 closed

[2015-04-21 09:08] dmenne opened #12590 "Problem with -v shared folders in 1.6"
System: Window 7/64

With:
[code]

is a valid command. This is a simplified and function-less test version, see below for the "real" one. Note that /Dieter is a valid user, please replace for testing.

With
[code]

I could not find out how to define the path in -v; I tried several of the variants mentioned in the docs of 1.5 on shared folders.

[code]

---- Real application -------------

[code]

[2015-04-21 09:14] tonicbupt opened #12591 "docker exec run under the user when container was created"
I wanna use macvlan to manage my network between containers and then I have to run `ip link addr add 10.1.1.1/16 dev veth` in container,  of course this requires root, but my container runs under its own user like `2001`, so I am wondering if `docker exec` can be run in root mode as an option.

[2015-04-21 09:45] jfrazelle commented on #12590
I don't understand how this could be a regression when there was never a
docker client version you could run on windows before.

On Tuesday, April 21, 2015, Dieter Menne <notifications@github.com> wrote:

[2015-04-21 10:20] dmenne commented on #12590
Maybe I should change the title to "Boot2Docker". And the -v parameter has the same --help documentation as before.

[2015-04-21 10:33] jfgreen commented on #12211
Syslog driver is a really great addition in 1.6. However, it would be useful to have an option for the container names to be logged instead of or along side the abbreviated ids. Maybe this option could be exposed through the currently unused Logconfig.

I guess for now it's possible to have some sort of rsyslog plugin that does this.

[2015-04-21 10:49] Garito opened #12593 "--restart don't restart on service docker restart nor on system boot up"
Hi!
I've 5 containers:
1.- Elasticsearch
2.- Logstash
3.- MongoDB
4.- Redis
5.- Nginx

All of them with --restart=on-failure:3

But if I restart the docker service with sudo service docker restart or I reboot my server the restart policy works in a random way (sometimes it restart some containers sometimes it doesn't)

Is the --restar policy the way to restart containers on startup or service rest

[2015-04-21 11:00] thaJeztah commented on #12211
True; for now, only ID is supported, but this will most likely be configurable in a next release

[2015-04-21 11:01] RickWieman commented on #10673
In that case: #dibs :sunglasses:

[2015-04-21 11:02] jfgreen commented on #12211
@thaJeztah Good to hear. Thanks!

[2015-04-21 11:06] hqhq commented on #12535
@unclejack But I'm talking about build Ubuntu 14.04 specific Docker packages with Ubuntu 14.04 repository, so we already have a distribution specific Dockerfile for Ubuntu 14.04.
I do build dynamic binaries with `./hack/make.sh dynbinary`, add `AUTO_GOPATH=1` still not fix the problem.
I think the problem is why device-mapper build from source code generates different .so file from the official re

[2015-04-21 11:16] coolljt0725 commented on #12591
@tonicbupt  yes, `docker exec` can be run in root mode as an option. see #12025

[2015-04-21 11:25] coolljt0725 commented on #12584
I think this is fixed by https://github.com/docker/docker/pull/11934 , can you try docker 1.6.0?

[2015-04-21 11:34] belogrudov commented on #5899
sudo also fails for the same reason:
# sudo bash
sudo: unable to send audit message: Operation not permitted

[2015-04-21 11:58] techniq commented on #11413
:+1:

[2015-04-21 12:16] rhatdan commented on #12487
Yes it looks like our registry patch.  @thoraxe Could you try the latest code and open a bugzilla on this issue.  Is this on Fedora or RHEL?

[2015-04-21 12:20] phemmer commented on #12593
Please see the documentation: https://docs.docker.com/reference/run/#restart-policies-restart

**on-failure**: Restart only if the container exits with a non-zero exit status.

[2015-04-21 12:28] phemmer commented on #12558
This is expected behavior. Characters like `*` are interpreted by the shell. Thus you need to invoke a shell for them to work.

E.G.:

    docker exec testing sh -c 'ls /lib/*.so.0'

[2015-04-21 12:38] pstengel commented on #6980
@Thorndike Could you switch to a different storage driver? `overlay` and `devicemapper` both look to be supported by 14.04 LTS.

[2015-04-21 12:42] Garito commented on #12593
yeah I've readed this

but this http://docs.docker.com/articles/host_integration/ too

So seems that there is a weird situation here:

or we need a new policy like: anyway:3 to try to restart the container 3 times before stop no matter witch exit code is raise cause I don't feel confortable configuring a container that tries again and again to start up becase an error code and an always restart po

[2015-04-21 12:45] SimonWang2014 commented on #12585
You can enter the docker image file to check if the images exist, if none ,you just to download again

[2015-04-21 12:51] cpuguy83 commented on #12593
@Garito `--restart=always` should be safe. If the container fails to restart it backs off gradually on the frequency for which it tries to start it.

I would also check and make sure you've started your containers correctly such that pid1 in the container actually responds to signals and exits properly on SIGTERM, otherwise it will get SIGKILL'd when docker restarts... and as such will have a non-

[2015-04-21 12:56] miminar commented on #12487
@thoraxe Version you're using was accidentally released without registry patches. In this version Docker cannot cope with images being prefixed with `docker.io/`. And since the leaves cannot be found by name, they cannot be deleted, neither the parents. Could you please update to more recent version and try again?

It this is RHEL, it's probably `docker-1.6.0-1.el7`

[2015-04-21 12:58] Garito commented on #12593
@cpuguy83 fair enought
Thanks a lot!

[2015-04-21 12:58] #12593 closed

[2015-04-21 13:01] Thorndike commented on #6980
Thanks for that hint! Missed it in all those configs. Added in my /etc/default/docker "-s devicemapper" to the DOCKER_OPTS and now I can build an image with httpd installed.

[2015-04-21 13:10] Luzifer opened #12595 "Docker API does not report correct images for /containers/json endpoint"
# Description of problem

Docker API (`v.1.18`) does not report correct images for `/containers/json` endpoint. Instead of the actual image ID for an image not longer tagged the previous tag is reported.

# `docker version`

[code]

# `docker info`

[code]

# `uname -a`

[code]

# Environment details (AWS, VirtualBox, physical, etc.):

Bare-Metal, Ubuntu, latest lxc-docker

# How reproducible

100

[2015-04-21 13:10] thoraxe commented on #12487
it was RHEL7. I am pulling docker-1.6.0-3 right now to test.

[2015-04-21 13:11] thoraxe commented on #12487
fixed with `1.6.0-3.el7` - closing.

[2015-04-21 13:11] #12487 closed

[2015-04-21 13:15] glaudiston commented on #11153
I don't know how to help, but have you tried to use aufs istead of devicemapper ?

[2015-04-21 13:22] tonicbupt commented on #12591
@coolljt0725 bravo! so I can wait the next release! thanks!
@CMGS your agent can now get rid of `nsenter`

[2015-04-21 13:22] #12591 closed

[2015-04-21 13:24] cpuguy83 commented on #6980
You just have to make sure you aren't using the statically compiled docker if you are using devicemapper

[2015-04-21 13:29] cwallervand commented on #10274
I managed to solve this by using ```mount_options``` for the synced folder configuration in Vagrant like so:

[code]

Note that the VM OS must support this kind of syncing (don't remember the name right now, sorry). For instance, it did not work with CoreOS as a VM OS, so I changed it to CentOS 7.0:
[code]

As you mentioned the 777 mode isn't optimal, but I only used Vagrant for development, not i

[2015-04-21 13:33] Luzifer commented on #12595
Until Docker 1.5.0 the expected behavior was present

[2015-04-21 13:55] rafal-prasal commented on #12544
I did some additional checks and it seems to work properly with setting MountFlags=slave.

docker-1.5 rpm from http://mirror.centos.org/centos/7/extras/x86_64/Packages/ seems to be good as well as it has this fix built in already.

[2015-04-21 13:55] #12544 closed

[2015-04-21 13:57] thaJeztah commented on #12487
Thanks all! Glad to see it's resolved

[2015-04-21 14:13] clnperez commented on #12571
Fixed, thanks @thaJeztah! I just used the make docs on my branch for PR #12573.

I haven't worked much with automated CI, so I'm curious about how the Jenkins build of the PR that broke this passed. Maybe there's a little extra that could be added there? That seems like the obvious fix, though, so if that was it, it would have been added by now probably. :)

[2015-04-21 14:54] shaunc commented on #4036
Is there some link to documentation on workaround for this issue? I have ubuntu 14.04.2, and was getting this issue. Docker info gave me:

    Storage Driver: devicemapper
    ...
     Udev Sync Supported: false

So I did `sudo apt-get update` and `sudo apt-get install lxc-docker` ... which gives me

    $ docker -v
    Docker version 1.6.0, build 4749651

However, nothing has changed in devicemap

[2015-04-21 15:07] mbentley commented on #4036
Do you need to run devicemapper or is AUFS acceptable?  If AUFS is acceptable, then if you can install the extra kernel package that has AUFS support:

`apt-get install -y linux-image-extra-$(uname -r) linux-image-extra-virtual`

[2015-04-21 15:22] aixdevguy commented on #11680
Hi resouer,

Exited to see you have interest in Docker support for AIX. This is something we are exploring and would like to know more about what type of applications you would be interested to have packaged and deployed via Docker on AIX. The container technology on AIX is workload partitions (WPARs). Is your team currently using WPARs as a lightweight virtualization construct for multiple isolat

[2015-04-21 16:09] LK4D4 opened #12597 "remove unused writeJSONEnv from api/server/server.go"
subj

[2015-04-21 16:09] shaunc commented on #4036
hmm... I am not an expert in file systems. I am on AWS. Can I just install these without problems?

[2015-04-21 16:11] shaunc commented on #4036
...also, after I install these how do I get docker to see the change?

[2015-04-21 16:13] runcom commented on #12597
#dibs

[2015-04-21 16:30] MWers commented on #12571
Thanks for the heads up on the docs branch, @thaJeztah! I saw it mentioned in `docs/README.md` but I hadn't been using it for docs builds.

[2015-04-21 16:37] calavera commented on #12558
yeah, it makes sense, I was discussing this with @icecrime yesterday. Closing.

[2015-04-21 16:37] #12558 closed

[2015-04-21 16:38] LK4D4 commented on #12151
Doing image_export

[2015-04-21 16:48] shazow commented on #12211
+1. Right now I have a script which builds a dir of symlinks to log files based on name -> id. Would be nice if I could just write the logs directly based on the container name. Also this would let me easily persist logs for the same name/type across container rebuilds.

[2015-04-21 16:55] #12597 closed

[2015-04-21 16:56] LK4D4 commented on #12151
Removing `image_set`

[2015-04-21 16:58] LK4D4 commented on #12211
@shazow we're working on `log-opts` which allow you to tag containers in syslog for example.

[2015-04-21 16:58] fullofcaffeine commented on #4036
I personally think this is a pretty serious issue. Ubuntu 14.04 is arguably one of the most popular distros currently, not being able to successfully use Docker out-of-the-box is a downer. Is the final verdict for the solution officially documented somewhere now?

[2015-04-21 17:05] rhvgoyal commented on #4036
@diegobfernandez

I am wondering if image is corrupt to begin with. thin device looks fine as we can do dd. But we can't mount it. So it is a possibility that image is corrupt.

Can you try launching some other image. or delete local image and retry with same image so that it is downloaded again.

[2015-04-21 17:08] opennomad commented on #4036
@shaunc yes. I'm using the linux-image-extras on AWS and they are working perfectly.

[2015-04-21 17:24] runcom commented on #12151
removing `image_get`

[2015-04-21 17:30] LK4D4 commented on #12151
doing `image_inspect`

[2015-04-21 17:39] rhvgoyal commented on #4036
@diegobfernandez

If you have not deleted the image already, can you save the image and upload it somewhere I can download from. I will like to import it back and see if I see the issue.

You should be able to use "docker save <image>" command.

[2015-04-21 17:55] runcom commented on #12151
doing `image_tarlayer`

[2015-04-21 17:59] mlehner616 opened #12603 "docker containers experience packet loss or slow network (EAI_AGAIN in application)"
I've had a similar issue to #12364 and/or #11407 where my production node.js apps inside the container simply stop responding. I thought the circumstances however were different enough to warrant a separate issue.

Once a container stops responding they will not respond again until the docker daemon is restarted. Not all containers will stop responding at the same time. I'm led to the conclusion t

[2015-04-21 18:05] runcom commented on #12151
doing `viz`

[2015-04-21 18:21] shazow commented on #12211
@LK4D4 Yea I saw that, should do the trick but will be a bit annoying to specify the name in yet another parameter.

Ideally I'd love to be able to set a docker-wide log-driver/log-opts default, and have a "tag with the container name" option.

[2015-04-21 18:31] LK4D4 commented on #12151
@runcom Encountered same problem with `image_inspect` about runconfig.

[2015-04-21 18:32] daniruddha29 opened #12606 "docker ps command hangs"
Hi All,

We have a large setup of postgres databases which are on dockers. The host machine has 3 TB of RAM. When we are trying to execute docker ps command, it hangs and return nothing.
Any help on this is highly appreciable.

Regards,
Aniruddha

[2015-04-21 18:37] crosbymichael commented on #12606
i've seen this also

[2015-04-21 18:41] daniruddha29 commented on #12606
any thing you follow, to check what the problem is???

[2015-04-21 18:42] LK4D4 commented on #12606
@daniruddha29 Do you use links or restart policies?

[2015-04-21 18:49] daniruddha29 commented on #12606
no, we don't . Does that impact?
Hope, this is not serious issue as the environment is production.

[2015-04-21 18:50] LK4D4 commented on #12606
@daniruddha29 Just I recall same issues because of restart and links. I'll try to reproduce, any clues about your containers?

[2015-04-21 19:02] runcom opened #12607 "Remove error check"
Assignment, error check (and return) at https://github.com/docker/docker/blob/master/api/server/server.go#L947-950 should be removed.

Implement `intValue` in https://github.com/docker/docker/blob/master/api/server/form.go (following how `int64Value` is implemented to return 0 on error) and use it directly in the call to `ContainerRestart` at https://github.com/docker/docker/blob/master/api/server

[2015-04-21 19:06] daniruddha29 commented on #12606
we are using RHEL 6.5

[2015-04-21 19:07] shaunc commented on #4036
@opennomad -- great ... but how to get there from "here"? Where is docker looking for AUFS and why doesn't it pick it up on reinstall?

To echo @fullofcaffeine -- I'm really a developer not a devop. I am used to using debian/wheezy -- but an hour or two and several tutorials into trying to get AWS to update the kernel and not booting because of my clumsy attempts I decided to go with something tha

[2015-04-21 19:07] crosbymichael commented on #12606
@daniruddha29 thanks, we can reproduce and will look for a fix and keep you updated

[2015-04-21 19:11] runcom commented on #12151
runco**m**fig I'm coming!

[2015-04-21 19:21] opennomad commented on #4036
@shaunc during my bootstrap I simply install the package, then install docker and it automatically picks AUFS as the storage driver. I don't have any special configuration in place. I believe you can get the same result by restarting the docker daemon. I think to force it you could also add `-s=aufs` to the default options in `/etc/default/docker`

[2015-04-21 19:26] ccorcos opened #12608 "better introductory material"
hey there, I'm totally new to Docker but I've heard so much about it that I figured I'd give it a shot.

I checked this out on the website: https://www.docker.com/tryit/

I must say, I have a lot of questions after going through this tutorial. Before I move on and find answers to all my questions, I thought I'd leave them here to improve the tutorial.

---

There seems to be some concept of an ima

[2015-04-21 19:39] imton commented on #2801
+1 Confirmed in 1.6 stills changing ip after restart

[2015-04-21 19:41] shaunc commented on #4036
@opennomad -- excellent advice -- thanks! I had thought that package reinstall restarts daemon, but that obviously isn't true. After restart uses aufs. :) (I was worried I have to throw out everything and rebuild all my images.)

[2015-04-21 19:41] cpuguy83 commented on #2801
Yes, this issue will be closed if this situation ever changes.

[2015-04-21 19:46] opennomad commented on #4036
@shaunc glad that works. it's been working well on my end. That includes spinning up hundreds of instances with multiple containers on each without failures. None the less I would love to see devicemapper working fully without custom building of docker since AUFS isn't being maintained anymore. In the meantime it's a reasonable workaround for my efforts.

[2015-04-21 19:55] thaJeztah commented on #12608
Thanks for the feedback, @ccorcos! Getting feedback like this from someone that still has a "fresh" look at the documentation (and Docker in general) can be very useful.

I'm going to include @moxiegirl here, perhaps she has some thoughts on improving this part of the docs.

Note that we may close this issue at some point, don't see that as "down voting" your report, but just to keep the number of

[2015-04-21 20:02] diegobfernandez commented on #4036
@rhvgoyal

docker save -o /home/diego/Documents/fedora-latest-docker.tar fedora:latest
[code]

[2015-04-21 20:06] ccorcos commented on #12608
Definitely. Feel free to close it whenever you feel.

[2015-04-21 20:16] diegobfernandez commented on #4036
The image is the official fedora latest

[2015-04-21 20:28] RickWieman commented on #12608
Nice issue!

The notion of containers and images (and their differences) also got me puzzling the first time I started using Docker, so I don't think you're the first one, nor the last one. I think it should be one of the things that has to be clear as one of the first things, as everything is built up around those concepts.

[2015-04-21 20:43] LK4D4 commented on #12606
@daniruddha29 Did you use some volumes for your containers?

[2015-04-21 20:54] moxiegirl commented on #12164
OK, I've tweaked based on your suggestions.

![event_state](https://cloud.githubusercontent.com/assets/1347209/7262389/f45e21bc-e82d-11e4-9d1d-6a26e511a8ec.png)

[2015-04-21 20:55] moxiegirl commented on #12164
I'll get some time later this week to drop it into the API material.  Email me if you want to do that yourself.  mary@docker.com and I'll send the files.

[2015-04-21 21:04] fntlnz opened #12610 "Dockerfiles grammar"
Dockerfiles have their own syntax and right now the main parsing logic and AST related things have been implemented in `builder/parser/parser.go`. I think that there has been made a pretty good job but I thought that the same thing can be accomplished with a context free grammar that can be converted into a LR parser written in go.
This would make the parser more readable and would help a lot in d

[2015-04-21 21:12] rhvgoyal commented on #4036
@diegobfernandez

Ok, so either image is corrupt to begin with or it got corrupted during extraction or even later. As I have been running fedora images just fine, I suspect that it somehow got corrupted later.

Can you remove this image locally "docker rmi <image>" and try to run "docker run -ti fedora bash" again and see what happens. I am hoping that fresh download of image might fix the thing.

[2015-04-21 21:17] rhvgoyal commented on #4036
@diegobfernandez

I just removed my local fedora image and downloaded the fedora:latest and it runs fine. So image is fine to begin with. Something goes wrong later. Not sure what it is though at this point of time.

[2015-04-21 21:18] daniruddha29 commented on #12606
yes we are using volumes to host our database mount.

[2015-04-21 21:18] jfrazelle commented on #11019
closing because of the comment here https://github.com/docker/docker/pull/11742#issuecomment-94945973

[2015-04-21 21:18] #11019 closed

[2015-04-21 21:19] daniruddha29 commented on #12606
let me know if you need any specific info.

[2015-04-21 21:20] LK4D4 commented on #12606
@daniruddha29 Any info will be helpful, `docker version`, `docker info`, `Dockerfile`, command line for running containers.

[2015-04-21 21:21] diegobfernandez commented on #4036
I'll try another image

[2015-04-21 21:29] daniruddha29 commented on #12606
docker version
Client version: 1.2.0
Client API version: 1.14
Go version (client): go1.3.1
Git commit (client): fa7b24f
OS/Arch (client): linux/amd64
Server version: 1.2.0
Server API version: 1.14
Go version (server): go1.3.1
Git commit (server): fa7b24f
++++++++++++++++++++++++++++++++
docker info
Containers: 18
Images: 96
Storage Driver: devicemapper
 Pool Name: docker-252:0-656075-pool
 Pool Bl

[2015-04-21 21:40] calavera commented on #12607
You can use `int64Value` from https://github.com/docker/docker/blob/master/api/server/form.go#L14 or add another helper for int values there to be consistent.

[2015-04-21 21:42] runcom commented on #12607
sure, this was meant as a beginner issue @calavera, I may add `intValue` then

[2015-04-21 21:43] calavera commented on #12607
yeah, I just wanted to mention that we already have those there, so we're consistent :smile:

[2015-04-21 21:52] mischief commented on #12515
rather amusing behavior:
[code]

[2015-04-21 21:54] runcom commented on #12607
@calavera yup, I'm thinking to update this issue to include `intValue` implementation along with this to entirely remove the error checking/ignoring here

[2015-04-21 22:00] calavera commented on #12607
sounds great!

[2015-04-21 22:08] daniruddha29 commented on #12606
its too early to ask.. but did you get anything around that???

[2015-04-21 22:08] runcom commented on #12607
updated

[2015-04-21 22:13] LK4D4 commented on #12606
@daniruddha29 Nope, sorry :/ Can you try update your docker?

[2015-04-21 22:22] daniruddha29 commented on #12606
Need to check as this is production environment.
One question, may be very silly one but what will be the impact if continue using it.?

[2015-04-21 22:25] LK4D4 commented on #12606
@daniruddha29 Even if it is unfixed issue it won't be backported to 1.2 :(

[2015-04-21 22:27] daniruddha29 commented on #12606
Haha... definitely not.
One more, is it a bug ?? already known??

[2015-04-21 22:33] LK4D4 commented on #12606
@daniruddha29 Looks like bug, but we can't reproduce it. Maybe it was fixed since 1.2 version.

[2015-04-21 22:35] daniruddha29 commented on #12606
That is quite useful information.
Thank you very much for all the help.

[2015-04-21 23:44] olliewalsh commented on #12277
I'm not familiar with SageMath, and I'm pretty green when it comes to docker but the OS is my realm and I need python multiprocessing to work reliably in a docker container so I've taken a quick look into this :-)

Adding some debug info (write the pid and result to a file when `result_queue.put()` is called from `sage.docker.forker`): 2 processes are calling `result_queue.put()`!!!

As this is a

[2015-04-21 23:56] jfrazelle opened #12612 "windows lolcat (term issue)"
in cmd.exe

if I run
[code]
it doenst work

[2015-04-22 00:36] LK4D4 commented on #12277
@olliewalsh Wow! Nice research, thank you.
@nthiery Would you mind take a look?

[2015-04-22 00:46] richardjortega opened #12613 "Networking issue on 1.6"
#### Description of problem:
I recently updated from Docker 1.5 to Docker 1.6 and ran into an issue regarding fetching gems from Rubygems on a `docker build` or `docker-compose up` command. I found that building a Docker container that requires an external networking request does not work correctly in Docker version 1.6. Experienced this while using a `ruby:2.1-onbuild` image (https://registry.hub

[2015-04-22 01:16] dl528888 commented on #11153
thanks you for replay，I always use devicemapper.I found this problem is in
the centos 7,and it's ok in the centos 6.

2015-04-21 21:16 GMT+08:00 Glaudiston Gomes da Silva <
notifications@github.com>:

[2015-04-22 01:35] WhisperingChaos commented on #12415
@thaJeztah
I appreciate your labeling the proposal.  Would it be possible to also add "/tools/build" label? Thanks!

[2015-04-22 01:41] WhisperingChaos commented on #12415
@ibuildthecloud

Noticed you looking to build minimal images.  Would like your feedback regarding the following proposals: #12415 &  #12072.  Thanks.

[2015-04-22 02:10] hawkup opened #12617 "Can not Install lxc-docker on Ubuntu 14.04"
when I executed this command
[code]
It failed to fetch  http://us.archive.ubuntu.com/ubuntu/pool/main/c/cgroup-lite/cgroup-lite_1.1.2_all.deb
[code]

[2015-04-22 02:23] blackfader opened #12618 "docker create container error chance happen"
I use docker 1.6.0，filesystem devicemapper。

docker create container print error accidental。
error:
INFO[0017] Error getting container 8eb4136bed3eb55b85dc2f0025aca0ff965bdae4f9593621290455c4989de5dc from driver devicemapper: Error mounting '/dev/mapper/docker-253:1-1445533-8eb4136bed3eb55b85dc2f0025aca0ff965bdae4f9593621290455c4989de5dc' on '/usr/local/docker/devicemapper/mnt/8eb4136bed3eb55b85dc

[2015-04-22 02:41] erikh commented on #12415
I worry that this may be too complicated for the typical Docker use-case.

[2015-04-22 02:42] diegobfernandez commented on #4036
@rhvgoyal

docker run -ti fedora bash
[code]

[2015-04-22 02:45] tmm1 commented on #9654
I ran into this issue on an ubuntu precise 12.04 instance running a 3.13.0 trusty kernel, after upgrading from docker 1.0.0 to any one of: 1.4.1, 1.5.0, 1.6.0. The root cause was a missing `/sys/fs/cgroup/cpuset`, which I had to mount manually. The other cgroup subsystems were all mounted correctly.

cc http://stackoverflow.com/a/27479610/332798

[2015-04-22 03:06] LK4D4 commented on #12613
looks like dns issue, could you try ping 8.8.8.8?

[2015-04-22 03:11] WhisperingChaos commented on #12415
@erikh

Neither feature is required.

However, if you want added security/reliability, the ability to reformulated the build context to match the ONBUILD triggers executed by library go and/or ruby images, a true separation of build-time and run-time concerns, then supplying input/output mapping specifications seems a small price to pay.  It's also familiar, as it acts like an argument list to a f

[2015-04-22 03:16] gomex opened #12620 "cpuPercent in API"
We don't have cpuPercent to get through the API[1]. We already have this information here[2], but that data can't be get throught API. Can you please add this request in next version of API?

I can get this information about docker stats command, but I can't do that through API :(

[1] - https://docs.docker.com/reference/api/docker_remote_api_v1.18/
[2] - https://github.com/docker/docker/blob/4a25

[2015-04-22 05:09] aku163 commented on #12585
Thanks Simon. I got the images remounted and started the services. Got my breath back :)

[2015-04-22 05:09] #12585 closed

[2015-04-22 06:23] mavenugo commented on #11407
@huahuiyang We recently faced a similar TCP connection issue and it turned out to be an issue caused by LRO on the NICs. There is numerous article on the web that talks about this issue and how it impacts linux bridging and forwarding. Easiest way to check for this by using `ethtool -k ethX` & look for large-receive-offload. It can be disabled by `ethtool -K eth2 lro off`. This article gives some

[2015-04-22 06:24] mavenugo commented on #12603
@mlehner616 Just commented : https://github.com/docker/docker/issues/11407#issuecomment-95044564 Can you please check if this is applicable ?

[2015-04-22 06:47] mavenugo commented on #12364
@ali-bugdayci Can you pls check if this is is related to : #11407 (comment)

[2015-04-22 06:52] richardjortega commented on #12613
@LK4D4 Ok thank you for this, this did work fine using `$ ping 8.8.8.8` (provided below). Is there a DNS settings change from 1.5 to 1.6 that I should modify?

However would that affect why `bundle install` is failing when using the `ruby:2.1-onbuild` image?

Ran this on my home Mac laptop (using same config via Vagrant/VirutalBox/CentOS as referenced in issue)

##### Output from Docker 1.6
[code]

[2015-04-22 07:05] thanizebra commented on #11154
any solution ?

[2015-04-22 07:21] thanizebra opened #12624 "INFO[0011] Cannot create container with more than 127 parents"
INFO[0011] Cannot create container with more than 127 parents

i am not able to delete intermediate images after upgrading to version 1.6.
i get this error when i tried to delete a intermediate image.

docker rmi ada7cae2d705
Error response from daemon: Conflict, ada7cae2d705 wasn't deleted
FATA[0000] Error: failed to remove one or more images

yesterday i have updated docker to 1.6 from 1.5
my
do

[2015-04-22 07:22] thanizebra commented on #12624
i am using supervisor package to manage sshd,apache2,postgresql,redis-server services

[2015-04-22 07:33] kps18 opened #12625 "curl: (56) Failure when receiving data from the peer"
Hi
We have some connection  isssue within containers.

1. Using curl we are downloading some contents from container running in 2.6 kernal and destination container running in kernel 3.8

Is this is bug or we can fix. If there is any fix please help me.

Regards
Kps

[2015-04-22 07:35] #12405 closed

[2015-04-22 07:42] nekodojo commented on #9856
I am seeing the same problem on CentOS 6.5 with Docker 1.5.0-1.  Basically it panics the system if I used any --volume or --volume-from in my Docker command.
[code]
Have the following also installed:
[code]

[2015-04-22 08:03] sunyc opened #12626 "Problem: RestartPolicy & stopped container"
Hi there,

I Discovered that if I have a container created with "RestartPolicy": always,  Then I use docker stop xxx on that container. After a reboot, docker daemon will still restart that container.

This has caused some problem for me since whenever I update my software, I stop the previous container and start a new one, i was expecting that docker will not restart the stopped ones.

There are

[2015-04-22 08:45] goloroden opened #12627 "Invalid memory address or nil pointer dereference in Docker 1.6.0"
I ran Docker 1.6.0 for several hours using Kitematic's dev machine on VirtualBox, with a bunch of containers.

When one of them stopped (a MongoDB container), I started it again and wanted to `docker exec` into it with a `bash`, but then the daemon crashed.

The logs at `/var/logs/docker.log` say:

time="2015-04-22T08:14:12Z" level=info msg="-job log(exec_create: bash , e90e6c61e162fee3241d7b900e4

[2015-04-22 08:54] nthiery commented on #12277
Oh wow, nice investigation indeed! Thanks so much.

I'll ping my fellow Sage dev that know better this area of the code.

[2015-04-22 09:01] colegatron commented on #5113
+1. Docker 1.6.0. Error stills there at least if you cancel the push process. Waiting a couple minutes it seems to free the lock.
If pushes were fast I do not care about the 1 push-at-a-time limit, but it takes soooooo long to push.

[2015-04-22 09:19] jhftrifork opened #12628 "Container references should not be ambiguous"
On my docker machine, one container has the ID `db2ea256342e`, and another has the name `db`.

Running a command like `docker exec db ...` on my machine executes the command on the container with ID `db2ea256342e`, not the container with name `db`. This is highly confusing and dangerous.

Two potential fixes here are:

* Avoid potential ambiguity. Container references should explicitly say whether

[2015-04-22 09:20] blackfader commented on #12618
any body here?

[2015-04-22 09:36] rweng commented on #12469
+1

[2015-04-22 10:16] itatabitovski opened #12632 "Unused POSTROUTING rules"
I've noticed that except the first rule none of the other rules are used. Are they needed for some corner case or they can be removed?

[code]

[2015-04-22 11:02] jleskovar commented on #12506
Hi @ahmetalpbalkan, sorry for late reply. I am using Windows 7 Ultimate, SP1 64-bit. Intellij is 14.1.1 (build 141.178). docker.exe works fine in cmd.exe and git bash

[2015-04-22 11:30] timbordemann commented on #12613
It's a SELinux related problem. After updating docker to 1.6, none of my containers are able to read the files resolv.conf, /etc/hosts and /etc/hostname anymore. This prevents the containers to lookup hosts:

[code]

When I start a container with the --privileged flag or disable selinux temporarily (setenforce 0), everything works as expected.

Unfortunately I didn't figure out how to fix this yet

[2015-04-22 12:28] phemmer commented on #12628
This is a dup of #8069 which has been fixed in 1.6

[2015-04-22 12:32] phemmer commented on #12626
This looks like a dup of #11008

[2015-04-22 12:45] thaJeztah commented on #12628
Correct, this should be resolved in the current release (1.6), please test on the current release.

I'm going to close this issue, because it should be resolved, but ping me if you're still able to reproduce this in 1.6

[2015-04-22 12:45] #12628 closed

[2015-04-22 12:59] jhftrifork commented on #12628
Ah, thanks. I should upgrade. Though after reading #8069 I am still not clear what the implemented fix was. I would ideally like to be able to specify in my commands that "this is to be interpreted as a name, not as an ID", or vice versa. Is that possible with 1.6?

[2015-04-22 13:02] cpuguy83 commented on #12626
Yep, dup, closing.  Thanks for the report!

[2015-04-22 13:02] #12626 closed

[2015-04-22 13:03] thaJeztah commented on #12626
Thanks for looking up, @phemmer!

@sunyc, I'm going to close this issue, because this is a duplicate of https://github.com/docker/docker/issues/11008. Please continue the discussion on that issue. Thanks for reporting!

[2015-04-22 13:10] thaJeztah commented on #12628
No, not directly, but previously Docker sometimes picked the wrong container (eg the `db` container if you meant container `db17373828` (ID), which should no longer happen.

If you think I closed wrongly, let me know, then I can re-open.

[2015-04-22 13:25] AntouanK commented on #7477
Are we going to see any update on that?
`docker ps` is the most common command I think. I hope it's not so hard to give us the option to filter columns to show.
( I'd expect something like [that](https://github.com/docker/docker/issues/7477#issuecomment-70243594) )

[2015-04-22 13:39] cpuguy83 commented on #12620
@gomex the CLI talks to the API (same API you use).
[code]

Closing since this information is available.

[2015-04-22 13:39] #12620 closed

[2015-04-22 13:57] paulweb515 opened #12638 "link error message was hard to read"
I had a container I had started up with `--name=original_node --expose=5858,8081`.  When I started up a second container with `--name=link_node --link=original_node:pwnode ` I got an error message about TLS:

<pre>
FATA[0001] Post http:///var/run/docker.sock/v1.16/containers/6f14a062cd1589d2c40238ec04042f54c7092702bad1a8ec977099aa3addfa67/start: EOF. Are you trying to connect to a TLS-enabled daem

[2015-04-22 14:00] ibuildthecloud commented on #12415
Honestly it may that me a bit to grok this full PR.  To be honest, that may be its downfall.  When I read through the example it's not obvious what is going on.  Docket generally favors usuability and simplicity often at the cost of correctness.

So I will try to understand the concepts of this PR and then maybe they can be presented in a slightly different form.

[2015-04-22 14:22] knutole opened #12639 "Security disclosures shouldn't be sent clear-text over email?"
Should perhaps encourage users to disclose security bugs with PGP? Not everyone is a-ok with Uncle Sam picking up disclosures before anyone else.

`#justsayin`

[2015-04-22 14:39] EwanValentine commented on #9327
I'm still getting this... 20GB vm with 18GB left free.

Docker version 1.6.0, build 4749651

Boot2Docker-cli version: v1.6.0
Git commit: 9894ae9

[2015-04-22 14:41] thaJeztah commented on #12639
In an ideal world, yes. However, I don't think we should make things too difficult for people to disclose them. It's already a challenge to have people disclose security issues the right way (I've seen some issues appear here on GitHub)

/cc @ewindisch

[2015-04-22 14:50] knutole commented on #12639
Yeah, I understand your point. It's certainly more important not to post directly to GitHub than to use PGP. It would be nice to have an easily available key for those that are willing and capable of using it, though. That would at least be a road-sign pointing in the direction of an ideal world.