[2015-04-07 19:41] LK4D4 commented on #12151
@runcom Access granted.

[2015-04-07 19:46] runcom commented on #12151
@LK4D4 alright thanks! removing from `changes.go`

[2015-04-07 19:49] RepublicOfAppsLLC commented on #12149
This is on a brand new core i-5.  Just to be clear: both the cpu and the motherboard support VT-X on this machine.  And I turned it on and boot2docker ran and VirtualBox and it worked fine with VT-X on.

What runs slowly with VT-X on is Occulus VR which our developers are using.  It's Occulus VR that needs VT-X OFF to run efficiently on Windows (it's a complex graphics rendering need).  The proble

[2015-04-07 19:54] ahmetalpbalkan commented on #12149
https://github.com/boot2docker/boot2docker/issues/620
https://github.com/boot2docker/windows-installer/issues/65

[2015-04-07 20:04] mmb commented on #8513
I'm also seeing these extra carriage returns in my output when `docker run --tty`. I'm on Linux so I should not be getting DOS line endings ("\r\n").

When I remove the --tty they aren't there.

[code]

[code]

[code]

[2015-04-07 20:16] unclejack commented on #12149
@RepublicOfAppsLLC Ok, I understand. The immediate workaround you can use is to run boot2docker on a separate machine and hit the service on that machine.

I know this might not sound like anything particularly useful right now, but you'll still have problems with a non-VT enabled VM if you're as sensitive to performance as it seems you are. You're probably going to want to try to use a more power

[2015-04-07 20:16] #12149 closed

[2015-04-07 20:23] icecrime commented on #12150
@brendandixon To simplify our release (and for @jfrazelle's sake), please try to submit localized fixes to the existing codebase as much as you can. I understand the need for the broader rework, but we are very far in 1.6.0 release process, and I don't think we'd be confortable merging heavy patches at that point.

[2015-04-07 20:24] #11908 closed

[2015-04-07 20:35] crosbymichael commented on #11529
No i'm not working on it.

[2015-04-07 20:36] jfrazelle commented on #11529
WANT!!!!

[2015-04-07 20:38] neurogenesis opened #12157 ""docker run --rm=true" doesn't stop containers when ssh/net connection drops"
When launching an interactive container (like a gateway shell or rails console), the container is not stopped if the ssh/network connection is terminated.

There are probably cases both for and against leaving the container running, but if the user wants a persistent container they should use the -d option or launch "docker run --rm" from within screen/tmux.

If the containers aren't stopped & rem

[2015-04-07 20:42] jfrazelle commented on #12157
there are a few other issues about making docker run --rm a daemon function
instead and it is something we definitely want, but this is a duplicate

On Tue, Apr 7, 2015 at 1:39 PM, ives <notifications@github.com> wrote:

[2015-04-07 20:44] jfrazelle commented on #12157
There is #6757, #3968 <--- is the one

[2015-04-07 20:47] tiborvass commented on #11529
Spammy +1 :P

[2015-04-07 21:02] thaJeztah commented on #11847
@rajitha-wijayaratne the easiest way to get master builds (without building yourself) is downloading them from http://master.dockerproject.com. Also, the release-candidates for docker-1.6 can be found here; https://github.com/docker/docker/pull/11635#issuecomment-90205104

If you *do* want to build yourself, instructions can be found here https://docs.docker.com/project/set-up-dev-env/. Those inst

[2015-04-07 21:02] #11847 closed

[2015-04-07 21:03] ahmetalpbalkan opened #12158 "Windows CLI: Ctrl+C terminates attached session"
This is a regression. Sending kill signal to the Linux process (like `top`) while attached to a container (either with `attach`/`exec` or `run -i -t`) from Windows CLI terminates the docker.exe.

It used to terminate only the process being executed and was going back to the shell prompt.

Repro:

1. Use windows CLI to run `docker run -it ubuntu bash`, you get bash prompt.
2. Hit Ctrl+C
3. docker.e

[2015-04-07 21:04] vdemeester commented on #6746
This issue might be closed as the PR has been merged, right ?

[2015-04-07 21:13] neurogenesis commented on #12157
Hi @jfrazelle / @estesp, i took a look at all open --rm issues and didn't see one that addressed the network connection issue. I didn't really see an open issue that was suitable to add my issue to. If this one is being closed, which one should I comment on to ensure this gets addressed?

Smilar threads:

#3968 - short lived, problem with storage driver
#6003 - --rm does not work with -d (differen

[2015-04-07 21:18] razic commented on #6396
Would be really great to get an update from the Docker team about the status of this feature. Specifically, SSH authentication from `docker build`.

This is approaching 1 year already. Kinda surprising, given the practicality of real life use cases for this. Currently, we are dynamically generating images by committing running containers. We can't have a `Dockerfile` in our application's repositor

[2015-04-07 21:18] jfrazelle commented on #12157
i think you just focusing a bit too hard on the network thing, what needs to be fixed is the rm needs to be handed on the daemon side, that way if the connection is dropped the daemon will still do it which i think #3968 covers

[2015-04-07 21:18] jfrazelle commented on #12157
ugh i guess this comment https://github.com/docker/docker/issues/3968#issuecomment-39033477 I see what you mean

[2015-04-07 21:19] jfrazelle commented on #12157
I'm changing the info on #6757 to cover everything

[2015-04-07 21:21] jfrazelle commented on #12157
btw https://github.com/docker/docker/pull/11570 fixed the first step of #6757

[2015-04-07 21:22] jfrazelle commented on #6757
https://github.com/docker/docker/pull/11570 covered the first part of this, now we just need to handle the code on the daemon side.

[2015-04-07 21:24] runcom commented on #6757
I could do the daemon side validation too if this is ok!

[2015-04-07 21:26] jfrazelle commented on #6757
yes for sure!

On Tue, Apr 7, 2015 at 2:25 PM, Antonio Murdaca <notifications@github.com>
wrote:

[2015-04-07 21:27] ecki commented on #9547
Could you add "docker info" in addition to "docker version" output, It shows more relevant details I think.

[2015-04-07 21:29] jfrazelle commented on #6396
It's not that we don't want this feature or anything, I really see a use case for something like this or secrets in build we would just need a proposal from someone willing to implement and then if approved the implementation of the proposal.
Also I speak on behalf of myself not all the maintainers.

[2015-04-07 21:32] #6746 closed

[2015-04-07 21:32] jfrazelle commented on #6746
thanks so much for noticing that

[2015-04-07 21:32] jfrazelle commented on #6746
you would be surprised how many of these linger

[2015-04-07 21:33] runcom commented on #6757
#dibs then! I'll look for anything like trying to run a container with the same name and the like and remove the container if such situations arise in the daemon. Also I was thinking, if container removal should be handled daemon side, would it be ok to put an `AutoRemove` flag in `runconfig/HostConfig` struct and then moving existing client removal in the daemon? @jfrazelle

[2015-04-07 21:36] jfrazelle commented on #6757
yeah sounds good in HostConfig, then we can remove all the clientside removal code

[2015-04-07 21:36] razic commented on #6396
@jfrazelle

I know you guys aren't ignoring us :)

So the status is:

It's something we'd consider implementing if there is an accepted proposal
and engineering bandwidth.

Does this sound accurate to you?

Also, are there currently any open proposals that address this issue?

On Tuesday, April 7, 2015, Jessie Frazelle <notifications@github.com> wrote:

[2015-04-07 21:37] runcom commented on #6757
That's my plan! :smiley_cat:

[2015-04-07 21:38] jfrazelle commented on #6396
and engineering bandwidth.

Yes

And I do not think there are any open proposals for this.

On Tue, Apr 7, 2015 at 2:36 PM, Zachary Adam Kaplan <
notifications@github.com> wrote:

[2015-04-07 21:38] jfrazelle commented on #6757
perfect :D

[2015-04-07 21:38] dts commented on #6396
I don't know if I'm oversimplifying things, but here is my proposal:

SSHAGENT: forward # defaults to ignore

If set, during build, the socket & associated environment variables are connected to the container, where they can be used.  The mechanical pieces of this already exist and are working, it's just a matter of connecting them in `docker build`.

I do not have any experience working inside th

[2015-04-07 21:40] razic commented on #6396
Great. Where can I find out how to submit a proposal? Is there a
specific guideline or should I just open an issue?

On Tuesday, April 7, 2015, Jessie Frazelle <notifications@github.com> wrote:

[2015-04-07 21:41] jfrazelle commented on #6396
I mean like a design proposal
https://docs.docker.com/project/advanced-contributing/#design-proposal

On Tue, Apr 7, 2015 at 2:39 PM, Daniel Staudigel <notifications@github.com>
wrote:

[2015-04-07 21:45] phemmer commented on #6396
This is a really high level idea, but what if instead of attaching through the docker remote api, docker ran an init daemon, with a bundled ssh daemon, inside the container?

This could be used to solve a number of issues.
* This daemon would be PID 1, and the main container process would be PID 2. This would solve all the issues with PID 1 ignoring signals and containers not shutting down properl

[2015-04-07 21:48] jfrazelle commented on #6396
you might wanna see https://github.com/docker/docker/issues/11529 about the
first bullet point

On Tue, Apr 7, 2015 at 2:46 PM, Patrick Hemmer <notifications@github.com>
wrote:

[2015-04-07 21:49] phemmer commented on #6396
#11529 is completely unrelated to the PID 1 issue.

[2015-04-07 21:51] jfrazelle commented on #6396
shoot effing copy paste, now i have to find the other again

[2015-04-07 21:54] #8040 closed

[2015-04-07 21:54] razic commented on #6396
@phemmer It sounds like you have the expertise to guide us in making an intelligent proposal for implementation.

It also looks like @dts and I are willing to spend time working on this.

@phemmer and @dts is there any possible way we could bring this into a slightly more real-time chat client for easier discussion? I'm available through Slack, Google Chat/Hangout, IRC and I'll download anything e

[2015-04-07 21:55] #12146 closed

[2015-04-07 21:56] phemmer commented on #6396
Unfortunately not really :-)
I can throw out design ideas, but I only know small parts of the docker code base. This type of change is likely to be large scale.

[2015-04-07 21:58] jfrazelle commented on #12148
removing from milestone as this has been around awhile afaict but let me know otherwise

[2015-04-07 21:59] mrunalp commented on #12046
#12159 created to implement this.

[2015-04-07 22:07] razic commented on #6396
There's been a couple proposals in here already:

### @phemmer suggested

### @dts suggested

 If set, during build, the socket & associated environment variables are connected to the container, where they can be used. The mechanical pieces of this already exist and are working, it's just a matter of connecting them in docker build.

### @razic suggested

What we really need at this point is someo

[2015-04-07 22:11] dts commented on #6396
I can be available for a slack/irc/Gchat/etc meeting, I think this will make things a bit easier, at least to gather requirements and decide on a reasonable course of action.

[2015-04-07 22:12] phemmer commented on #6396
This is just an idea on how it would be consumed, not implemented. The "init/ssh daemon" is an idea how it would be implemented. The two could both exist.

Unfortunately this would not work. Assuming this meant `docker build`, and not `docker run`, which already supports volume mounts, there client can be remote (boot2docker is one prominent example). Volume binds only works when the client is on

[2015-04-07 22:15] jfrazelle commented on #6396
@razic please see this link about the design proposal... those are not proposals https://docs.docker.com/project/advanced-contributing/#design-proposal

[2015-04-07 22:15] razic commented on #6396
@phemmer

I'm failing to understand exactly why this can't work. `docker-compose` works with volume mounts against a `swarm` cluster. If the file/folder isn't on the host system, it exerts the same behavior as if you ran `-v` with a path that doesn't exist on a local docker.

[2015-04-07 22:18] razic commented on #6396
@jfrazelle Got it.

[2015-04-07 22:18] thaJeztah commented on #12051
@phemmer is correct here. Volumes are also applied during the build process and a new volume is created for each step; everything performed on the `/app` dir (after the `VOLUME` instruction), will be done in a new volume.

Either remove the `VOLUME` instruction, or move it to the end of the Dockerfile.

I'm closing this issue, as it looks like this is not a bug in Docker, but feel free to continue

[2015-04-07 22:18] #12051 closed

[2015-04-07 22:41] phemmer commented on #6396
I'm not sure I follow your point. How does that behavior help this issue?
If I have an ssh key agent listening at `/tmp/ssh-UPg6h0` on my local machine, and I have docker running on a remote machine, and call `docker build`, that local ssh key agent isn't accessible to the docker daemon. The volume mount won't get it, and the `docker build` containers won't have access to the ssh key.

From a high

[2015-04-07 22:41] thaJeztah commented on #10772
@mnuessler do you have a status update?

If you're unsure about your implementation, it's no problem to create a PR with some "unpolished" things in it, because you will be able to discuss those issues during the design-review. Sometimes it helps to just create the PR so that the maintainers/reviewers have something to discuss.

And possibly, you'll learn some things or get inspiration in the proc

[2015-04-07 22:46] thaJeztah commented on #12022
Hi, @bboreham did you have something in mind (where to add it in the docs)? Perhaps you are willing to contribute a pull-request?

/cc @moxiegirl (for docs)

[2015-04-07 22:49] brendandixon commented on #12150
Will do. Since some of the issues will require the rewrite, we will not be able to address all problems.

[2015-04-07 22:52] icecrime commented on #12150
I think that's an acceptable tradeoff, I'm afraid we can't risk to shake to much code and introduce new problems so far down the release process.

[2015-04-07 23:00] razic commented on #6396
@phemmer

Because the most common use case for the is people building images with dependencies that are hosted in private repositories that require SSH authentication.

You build the image on a machine that has a SSH key. That simple.

I know. Who cares? I'll be running `docker build` on a machine that has access to the auth socket.

[2015-04-07 23:01] reub commented on #3182
Following on to @dekz comment, it would probably be a good idea if the installation guide didn't instruct users that kernel versions without this fix are acceptable as is done here: https://docs.docker.com/installation/ubuntulinux/

[2015-04-07 23:02] razic commented on #6396
What I'm trying to say is.... `docker-compose` allows you to use the volume command against a `swarm` cluster, **regardless of if the file is actually on the host or not!**.

We should do the same thing for volume mounts on docker builds.

[2015-04-07 23:02] draghuram commented on #10304
I see the following commen in `start.go`:

<pre>
// This is kept for backward compatibility - hostconfig should be passed when
// creating a container, not during start.
</pre>

Based on this, I guess the doc should clearly state that "hostconfig" should not be passed while starting a container. However, since it is still accepted, we do need to document this structure. I am looking at code to fig

[2015-04-07 23:09] thaJeztah commented on #10304
@draghuram hold on, because I think I saw a PR recently that fixed this, will see if I can find it

[2015-04-07 23:12] razic commented on #6396
One of the concepts behind `swarm` is to make the multi-host model transparent.

It's good we're thinking about remote docker, but it shouldn't really matter.

[2015-04-07 23:15] thaJeztah commented on #10304
Looks like https://github.com/docker/docker/pull/12055 covered this

However, I think the same needs to be done for 1.18 and 1.19 (https://github.com/docker/docker/pull/12055#issuecomment-90225256), so if you want to take that, @draghuram, I'd say go for it!

/cc @cpuguy83 (for the "HostConfig" and just in case I overlooked something)

[2015-04-07 23:18] #12130 closed

[2015-04-07 23:24] razic commented on #6396
From https://github.com/docker/compose/blob/master/SWARM.md:

@phemmer We're having the same problem but with the file system in particular. I think people are probably thinking about a solution for the problem you described. The problem you are describing sounds like https://github.com/docker/docker/issues/7249 which is separate.

If we take my approach: **just allowing volume mounting in docker

[2015-04-07 23:49] moxiegirl opened #12164 "Add an event-state diagram for containers"
In the course of a pull request a contributor provided an event-state diagram to illustrate his technical point: (https://github.com/docker/docker/pull/11827#issuecomment-90760920)

The example he produced looks like this:

![image](https://cloud.githubusercontent.com/assets/1347209/7036154/9b27ee2c-dd45-11e4-82eb-e9f94dea903c.png)

The diagram includes **proposed** states but eliminating those wo

[2015-04-07 23:52] ghmlee commented on #9547
Client version: 1.5.0
Client API version: 1.17
Go version (client): go1.4.1
Git commit (client): a8a31ef
OS/Arch (client): darwin/amd64
Server version: 1.5.0
Server API version: 1.17
Go version (server): go1.4.1
Git commit (server): a8a31ef

[2015-04-07 23:52] ghmlee commented on #9547
Containers: 3
Images: 46
Storage Driver: aufs
 Root Dir: /mnt/sda1/var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 52
Execution Driver: native-0.2
Kernel Version: 3.18.5-tinycore64
Operating System: Boot2Docker 1.5.0 (TCL 5.4); master : a66bce5 - Tue Feb 10 23:31:27 UTC 2015
CPUs: 4
Total Memory: 1.961 GiB
Name: boot2docker
ID: NHSE:2QWD:3R7W:D6D3:U42I:T72B:N67E:MNRB:FZVZ:ZEFB:6QDU:SRAU
Debu

[2015-04-08 00:37] mgood commented on #12164
Oh thanks for opening an issue for this. While the other issue proposes a new "exit" event, I didn't include that in this diagram (in the current proposal, it would be following the "die" event at the bottom middle).

You can make a copy of the [original Google Drawings doc](https://docs.google.com/drawings/d/15JpNMXvbiAOFWiW9AEH2laQMkmXsbI_04-StNS4Dn1A/edit?usp=sharing) if you'd like to make some

[2015-04-08 00:49] moxiegirl commented on #12164
@mgood  It is a great diagram thank you for putting it together. (We will definitely shout out to you in the docs for this diagram).  I was thinking of using it to have an article on container state.  Do you have a suggestion for where you see it in the API docs?

[2015-04-08 00:53] cybertk commented on #8881
+1

[2015-04-08 00:59] mgood commented on #12164
Ah, I see that under ["Container State"](https://docs.docker.com/terms/container/) it refers to the state as "exited" which I called "stopped".

I think it would also be useful with the docs for the ["events" API](https://docs.docker.com/reference/api/docker_remote_api_v1.17/#monitor-dockers-events) and [events CLI](https://docs.docker.com/reference/commandline/cli/#events), though they could just

[2015-04-08 02:46] draghuram commented on #10304
@thaJeztah, I will see what needs to be done for 1.18 and 1.19.

[2015-04-08 03:19] mingfang opened #12169 "Add ability to ```ADD`` files and then remove them in the same layer in a Dockerfile"
A common use case when writing Dockerfiles is to ```ADD``` source code then followed by compiling and then packaging the application.  Currently the ```ADD``` results in its own layer, without the ability to remove it.
Ideally I would be able to do this in a Dockerfile
[code]

This way the ```src``` will never end up in a layer.

[2015-04-08 03:21] mingfang commented on #12014
Based on the comments here I'm closing this issue.
I also created a new issue to specifically address the ability to avoid source code to end up in a layer, https://github.com/docker/docker/issues/12169

[2015-04-08 03:21] #12014 closed

[2015-04-08 03:30] phemmer commented on #12169
There are numerous proposals which can accomplish the end goal:

#10310 - private volumes injected during build

#332 - squash multiple layers

#6906 - strip layers

[2015-04-08 03:33] burnison commented on #11294
I have been experiencing the same issue, and it looks like a "feature". The function, `TagStore.GetImage()` uses `if strings.HasPrefix(revision, tagOrID)` to determine which image to use. You'll notice, that in your example, your tag, `2`, has an image ID of `453440635f66`, which starts with a `4`. So, when the daemon looks for a candidate image for tag `4`, tag `2` is actually used because the im

[2015-04-08 03:37] adamjcook commented on #11576
@unclejack I am going to be forced to drop this at this time, unfortunately. I am having serious issues with the tests once `pkg/pools/pools_nopools.go` is removed and I feel that I will need some substantial time to familiarize myself with the Docker internals before moving forward.

[2015-04-08 03:49] #10937 closed

[2015-04-08 03:59] razic commented on #6396
@cpuguy83 Before I create a proposal, I was looking at #7133 and noticed it looks directly related.

Could you just add a few words here? Is #7133 actually related to my suggestion to fix this issue, which is to allow `docker build` to support volumes.

[2015-04-08 04:03] mingfang commented on #12169
Thanks for the links.
I agree that all of these will allow me to achieve the end goal of not having to include source in the image.
However I think my proposal is a bit more direct towards this goal.
All the other proposals require post processing to achieve this.

[2015-04-08 04:08] wzymaster opened #12170 "O_DIRECT is NOT supported by rootfs file system of Docker container on Ubuntu 14.04"
I have written the below demo C program to run on root file system within a Docker on Docker Engine with Ubuntu and CentOS respectively :

[code]
For Docker Engine with Ubuntu 14 :
[code]
For Docker Engine with CentOS 6.6 :
[code]

My further investigation indicates that rootfs file system of Docker container on Ubuntu 14 doesn't support O_DIRECT in open() call, but it works fine on CentOS.

Is it

[2015-04-08 04:24] LK4D4 commented on #11576
@adamjcook No worries.

[2015-04-08 05:42] xiaods commented on #11951
curl | bash is can perfect archive this request. I am not found any benefit with user experience.  @Fangfenghua could you please have a rethink on this context and give more reasonable information here. it will help the proposal can get some support feedback.

[2015-04-08 05:44] xiaods commented on #12169
yes, thanks for your share.

[2015-04-08 05:56] allencloud opened #12173 "Is there some way to build the unique image?"
Hi,all

I wonder if two docker daemons on different hosts can build the same image with same image.ID when their Dockerfiles are exactly the same.

On a single docker daemon node, when docker build Dockerfile, docker daemon will check base_image_id and config information to  judge whether to use cache.

But on two nodes, docker daemons have no relationship with each other. Each one will generate i

[2015-04-08 06:56] vdemeester commented on #6746
@jfrazelle when I have a little time I'm listing the issue by oldest to see which one are like this one ;-).

[2015-04-08 07:07] vdemeester commented on #7447
Agreed with @nhsiehgit, I think this issue should be closed, the pull request has been merged (but there was no ``closos`` or ``fixes``).

[2015-04-08 07:21] rbair23 opened #12174 "Docker selects wrong container based on name after extended container thrashing"
I wish I had something more concrete and concise to report, however I have seen this phenomenon twice but have not nailed down what is happening. I have a system where I am creating and destroying hundreds of containers every day (5 at a time, probably 10 times an hour or so). I have a container called 'db' that is long lived (has been up 11 days now).

After some time (it just occurred to me, so

[2015-04-08 07:31] ahmetalpbalkan opened #12177 "Docker installation script sometimes doesn't work (Ubuntu)"
I just experimented that after provisioning an Ubuntu 14.04 VM on cloud providers like Azure or Google, running the documented official installation command

    sudo wget -qO- https://get.docker.com/ | sh

gets stuck at installation step and **does not always successfully start docker daemon**.

Impact looks like as follows:

* Out of 15 newly provisioned Azure VMs, 3 got stuck installing docker.

[2015-04-08 07:34] dqminh commented on #12148
@LK4D4 hmm i I think it should be safe to use the reserved port range since the port allocator can handle them properly. The bug here is that we hand in the static port too late, so if it uses the port in dynamic range, it can conflict with previously allocated dynamic port of the same container. I posted a fix that always allocates static ports before dynamic ports.

@jfrazelle yes i think this i

[2015-04-08 08:01] ahmetalpbalkan commented on #12177
Bad news: I just tried this with `test.docker.com` on GCE and script is **doing worse installing 1.6.0-rc5 is worse.**

I am deploying 20 instances in parallel (to GCE) and installing docker afterwards. **21 out of 90 times it has failed to install** by getting stuck forever at the point I described earlier. I think this is serious, especially for docker-machine and those trying docker for the fir

[2015-04-08 09:04] kayrus opened #12179 "dnsmasq for docker"
Are there any plans to integrate docker with dnsmasq like it is done in libvirt? I suppose everybody would like to see that functionality instead of writing scripts with "docker inspect" and putting that information into custom dnsmasq manually.

[2015-04-08 09:17] thaJeztah commented on #12173
No, currently, I don't think that's possible. Image-ID's are a randomly generated, so won't match between hosts (see [graph/graph.go#L125](https://github.com/docker/docker/blob/72dfd6728fdba7b2a74d3a51de12806d2ec02697/graph/graph.go#L125))

There's work in progress for content-addressable, immutable digests (see https://github.com/docker/docker/issues/10740), as part of the new registry (https://g

[2015-04-08 09:17] #12173 closed

[2015-04-08 09:38] Malet commented on #8755
Also having this issue (when trying to run tmux):

[code]

[2015-04-08 09:40] thaJeztah commented on #12179
No, there currently aren't plans to integrate this, and I don't think this will be part of the docker "core" functionality.

There are however various projects that automatically manage DNS-entries for containers using the docker "events" API. A quick search for some examples (for inspiration, as they may not match your exact use case);

https://www.npmjs.com/package/docker-dns
https://github.com/

[2015-04-08 09:40] #12179 closed

[2015-04-08 09:48] unclejack commented on #12170
This problem was indeed known: #8119. It has been fixed by #10534.

It works just fine on CentOS/RHEL/Fedora because devicemapper is used by default there. Ubuntu usually uses aufs and that's why you were seeing different behavior.

I'm going to close this issue now because the problem has been solved and the upcoming 1.6.0 release has the fix.

[2015-04-08 09:48] #12170 closed

[2015-04-08 10:17] inatatsu commented on #9207
#12181 is to resolve [the issue](https://github.com/docker/docker/issues/9207#issuecomment-77994720) of `netgo`.

[2015-04-08 10:22] shyr commented on #7198
+1

[2015-04-08 11:14] thaJeztah commented on #10304
@draghuram great, I've marked this issue "claimed" for you. Remember to mention `closes #10304` in the first comment of your pull request, so that it is linked to this issue

[2015-04-08 11:36] vdemeester commented on #11603
no news from @dbhaskaran, I'll be working on it as well.

@jfrazelle Is it better to provide several PR with small addition (to tests) or a big one that kinda fix it ? Is there an overall goal for the coverage ? (something like each "module" like pkg/archive should have at least 75% of coverage)

[2015-04-08 12:09] manics opened #12182 "Socket mount not recognised inside container on Centos 7"
If a host socket is mounted inside a container it is treated as a normal file:

[code]

[code]

If instead the parent directory is mounted the socket is recognised:

[code]

System details:
[code]

[2015-04-08 12:13] thaJeztah commented on #12182
Could you add the output of `docker version` and `docker -D info`?

[2015-04-08 12:21] manics commented on #12182
[code]
[code]

[2015-04-08 12:39] thaJeztah commented on #12182
Thanks, this looks to be a RHEL-recompiled docker build, which is not maintained by Docker.

There are some issues with that version; see this thread / comment: https://github.com/docker/compose/issues/424#issuecomment-90689698

You can track progress on that issue at the Redhat issue tracker at https://bugzilla.redhat.com/show_bug.cgi?id=1209625

I'm think this should be closed, because this is p

[2015-04-08 12:49] phemmer commented on #12174
Sounds like it's matching a container who's ID starts with `db` (eg `dbb8937ac66c`) rather than one who's name exactly matches `db`. Can you confirm whether this is the case next time it happens?

I think I even recall an issue on this subject, but can't find anything.

[2015-04-08 12:50] cpuguy83 commented on #12182
Can you try this with the 1.6 RC? You can grab that here: https://github.com/docker/docker/pull/11635#issuecomment-90205104

[2015-04-08 12:54] cpuguy83 commented on #6396
@razic It's in relation to the fact that `VOLUME /foo` actually creates a volume and mounts it into the container during build, which is generally undesirable.

I would also say a proposal based on using bind-mounts to get files into build containers is probably not going to fly.
See #6697

[2015-04-08 13:12] thaJeztah commented on #12174
This sounds like that problem yes, in which case this would be a duplicate of https://github.com/docker/docker/issues/8069. That issue is closed in https://github.com/docker/docker/pull/9705, which will be in the next (1.6) release.

@rbair23 can you check if you have a (stopped) container who's ID starts with `db` (https://github.com/docker/docker/issues/12174#issuecomment-90904656)?

If you want

[2015-04-08 13:14] pstengel commented on #6980
You need a newer version of AUFS with support for `CONFIG_AUFS_XATTR`, and that kernel config option must be enabled. That fixes the `cpio: cap_set_file` on boot2docker (boot2docker/boot2docker#818), and should fix it on any Linux using AUFS.

[2015-04-08 13:56] manics commented on #12182
Works with docker-1.6.0-rc5, thanks.

[2015-04-08 13:56] #12182 closed

[2015-04-08 14:07] thaJeztah commented on #7447
@nhsiehgit @vdemeester thanks! I think this can be closed, yes, because https://github.com/docker/docker/pull/11697 was merged.

[2015-04-08 14:07] #7447 closed

[2015-04-08 14:15] brahmaroutu commented on #9207
Hi Tatsushi,
    Thanks Tatsushi. I have already tested this based on Lynn's
recommendation. Only reason I am holding off is to make sure that this code
is in fact in the main gccgo branch. I see the code review on Lynn's patch
got a LGTM does that mean that we have the netgo library patch accepted?
Are we ready to push code changes to Docker code?
regards,
Srini

From:	Tatsushi Inagaki <notificat

[2015-04-08 14:18] laboger commented on #9207
If you pull the latest source from gcc trunk, this change is there.

On 04/08/2015 09:17 AM, Srini Brahmaroutu wrote:

[2015-04-08 14:19] Soulou commented on #12050
It is apparently linked to the BTRFS partition itself, I ran a btrfschk which fixed some incorrect data. But without success. Finally I has to format the partition to make it work again.

[2015-04-08 14:20] wzymaster commented on #12170
@unclejack  do you have an estimated release date of 1.6.0 ?  Or you have pre-release binary for my testing ?

[2015-04-08 14:22] aluminiumgeek commented on #12177
+1
Same problem, same symptoms for me.

[2015-04-08 14:23] brahmaroutu commented on #9207
thanks, I will try it today.

From:	laboger <notifications@github.com>
To:	docker/docker <docker@noreply.github.com>
Cc:	Srinivas R Brahmaroutu/Silicon Valley/IBM@IBMUS
Date:	04/08/2015 07:19 AM
Subject:	Re: [docker] Tracker: support building with gccgo (#9207)

If you pull the latest source from gcc trunk, this change is there.

On 04/08/2015 09:17 AM, Srini Brahmaroutu wrote:

—
Reply to this em

[2015-04-08 14:25] thaJeztah commented on #12170
@wzymaster current release candidates can be found here: https://github.com/docker/docker/pull/11635#issuecomment-90205104

Current *master* builds can always be downloaded from https://master.dockerproject.com

[2015-04-08 14:47] rbair23 commented on #12174
Thanks for the pointer, that could very well be it. Right now it is back to working and docker ps -a doesn't show anything with "db" at the start of the id. This sounds totally plausible. I will take a look at the RC (and in the meantime, change the db name to be a bit longer).

Thanks!

[2015-04-08 14:47] #12174 closed

[2015-04-08 14:51] wzymaster commented on #12170
@thaJeztah @unclejack  thanks for your quick reply.  In fact, I observe the exact same problem on Boot2Docker on my Mackbook and window machine.  So 1.6.0 release will address them as well ?

[2015-04-08 14:53] draghuram commented on #10304
Ok, thanks.

[2015-04-08 15:09] thaJeztah commented on #12135
Is this solving the same issue as https://github.com/docker/docker/pull/11058 ?

[2015-04-08 15:10] ibuildthecloud commented on #12076
@sunyc With `--net=host` you can run `hostname foo` to set the hostname to foo.    You probably need NET_ADMIN capability to change it. #12185 will actually make that not possible in the future.

[2015-04-08 15:41] draghuram opened #12186 "Building Docker docs fails due to missing extends.md configuration (from compose)"
Bulding Docker docs (`make docs`) fails with the following error:

<pre>
The page "compose/yml.md" contained a hyperlink to "compose/extends.md" which is not listed in the "pages" configuration.
</pre>

Since `extends.md` is new, an entry for it should be added in `docs/mkdocs.yml`.

[2015-04-08 15:57] thaJeztah commented on #12186
Thanks for reporting @draghuram! Looks like this commit added the new document in compose;
https://github.com/docker/compose/commit/f3f7f000fec841a62cc1849462f851230614af85

/ping @moxiegirl @aanand does this have to be done manually in the `docs/mkdocs.yml` *here* or is there some script that pulls changes in?

[2015-04-08 16:04] thaJeztah commented on #12050
@Soulou thanks for reporting back; I'll close this issue because there's probably no way to reproduce it now. Feel free to "ping" me if you encounter this problem again. Thanks!

[2015-04-08 16:05] #12050 closed

[2015-04-08 16:10] #11500 closed

[2015-04-08 16:10] ymzong commented on #12177
+1

[2015-04-08 16:14] moxiegirl commented on #12186
@thaJeztah I'm working this today.  There are a couple of things wrong with the Makefile.

[2015-04-08 16:34] unclejack commented on #12170
@wzymaster Yes, boot2docker 1.6.0 and Docker 1.6.0 will both have the fix for this problem.

[2015-04-08 16:36] unclejack commented on #12177
I'm not surprised. If devicemapper is used, something like this is to be expected. I don't have access to Azure, but this is most likely related to the kernel installed on those instanches, a kernel which probably lacks aufs support.

[2015-04-08 16:42] razic commented on #6396
Running -v with docker build could have a differerent code execution path.
Instead of creating a volume and mounting it during build we can retain the
current behavior that volumes in dockerfiles don't get referenced. And
instead only act on -v when run using arguments to the CLI.

On Wednesday, April 8, 2015, Brian Goff <notifications@github.com> wrote:

[2015-04-08 16:51] ahmetalpbalkan commented on #12177
@unclejack both Azure and GCE pick up "aufs" as the storage driver. It surprises me that success rate on GCE is <80% with test.docker.com :)

[2015-04-08 17:02] jfrazelle commented on #12177
I had seen this on restarting instances on Azure, using aufs, the daemon
will deadlock on "no such device" so we thought it was something weird w
setting up the bridge

On Wednesday, April 8, 2015, Ahmet Alp Balkan <notifications@github.com>
wrote:

[2015-04-08 17:04] jfrazelle commented on #12177
I'll try to reproduce again by deleting the bridge and restarting

On Wednesday, April 8, 2015, Jessica Frazelle <jess@docker.com> wrote:

[2015-04-08 17:05] jfrazelle commented on #12177
The weird thing is I have never seen this on DO or any of our AWS
instances, my personal server which is OVH or my computer

On Wednesday, April 8, 2015, Jessica Frazelle <jess@docker.com> wrote:

[2015-04-08 17:08] jfrazelle commented on #12177
@unclejack if I reproduce on one of ours I'll give you access

On Wednesday, April 8, 2015, Jessica Frazelle <jess@docker.com> wrote:

[2015-04-08 17:28] jfrazelle commented on #12177
run this is a loop on azure and eventually the daemon will deadlock
[code]

[2015-04-08 17:35] twhiteman opened #12188 "integration-cli: Tests using sleep can timeout too early - change to "top" instead"
There is a lot of testing code that is using "docker run busybox sleep N", where N is usually one of (2, 10, 20), with a subsequent docker call to test something on this container (like docker ps or docker exec .. ping).

The problem with this is that in certain environments, the docker sleep process may have ended before the test can finish, resulting in a test failure (unexpected output).

I'd l

[2015-04-08 17:37] LK4D4 commented on #12188
@twhiteman It is better to switch it to `top` then. And use more deterministic way to stop containers.
I don't remember any issues about this.

[2015-04-08 17:41] #11552 closed

[2015-04-08 17:54] vdemeester commented on #12135
Not sure but it seems to be related at least.

[2015-04-08 17:55] jfrazelle commented on #12177
Ok so reiterate what I said on IRC, I now we remember how we "fixed" this when we found it....
when we were running the loops testing before, the whole azure region went down, so we waited and when it came back up everything was perfect, which explains why I cannot reproduce now
so maybe something with kernel modules being loaded, or updates were made when azure went down idk idk

[2015-04-08 18:04] ahmetalpbalkan commented on #12177
@jfrazelle I actually have seen success rate < 80% on GCE with test.docker.com, I don't think it's Azure specific. This could very well be about the hypervisor cloud provider uses but I don't think it's related to anything changed on Azure recently. This has always been the case and we've been seeing installations getting stuck in our VM extension installing Docker.

[2015-04-08 18:06] jfrazelle commented on #12177
no no sorry not azure specific but I think this lead us to believe it was something kernel level

[2015-04-08 18:07] jfrazelle commented on #12177
what is the output of `lsmod` on those machines I wonder if it is different than ours:

[code]

[2015-04-08 18:08] thaJeztah commented on #12164
Oh, that's looking great! Think this will be very useful, also for example when teaching colleagues.

Count me in :smile:

Out of interest; is it in SVG (because that would even allow making the diagram interactive in future)

[2015-04-08 18:09] LK4D4 commented on #12164
Supernice. Thank you!

[2015-04-08 18:13] jfrazelle commented on #12177
I wonder what boot2docker has if it is happening there too

[2015-04-08 18:17] LK4D4 opened #12189 "JSON Tags for api/types/types.go:Container is wrong"
There missed `"` before `,` in each tag.

[2015-04-08 18:20] rhvgoyal commented on #10991
I am about to post a patch series which will implement deferred device removal in devicemapper graph driver.  That will atleast take care of the issues when a container can not stop without delays as a busy device could not be removed.

[2015-04-08 18:23] unclejack commented on #10991
@crosbymichael What do you think about removing the container's directory from the host? It sounds reasonable.

@rhvgoyal Personally, I'd look into unmounting the container directory first and work on the deferred device removal in parallel.

[2015-04-08 18:29] rhvgoyal commented on #10991
@unclejack

I already posted a patch series for unmounting container's directory here.

https://github.com/docker/docker/pull/11114

But I am not very happy with the solution now. Reason being that it assumes that once container is exiting there is no other user of device. But I want to keep a possibility open where container root could still remain mounted even after container is gone. So that so

[2015-04-08 18:32] kostickm commented on #12189
#dibs

[2015-04-08 18:34] jfrazelle commented on #11603
smaller will get faster feedback and review, because its less strain at first glance but you could do one with logical commits, showing smaller changes, up to you :)

[2015-04-08 19:02] ankushagarwal commented on #7974
:+1:

[2015-04-08 19:07] ankushagarwal commented on #7974
It would be nice to have client binaries for Windows/OS X downloadable directly instead of going through the whole boot2docker install process.

[2015-04-08 19:13] pascalw commented on #3654
Awesome @pwaller!

[2015-04-08 19:13] thaJeztah commented on #12144
Hi @citywander, thanks for reporting this, but I think this is a duplicate of https://github.com/docker/docker/issues/9047. I'll close this issue, if you have additional information, please add this to https://github.com/docker/docker/issues/9047.

[2015-04-08 19:13] #12144 closed

[2015-04-08 19:36] jfrazelle commented on #7974
Yes they are today but nobody knows the url because we don't have a nice
index page :) contributions welcome!!! Especially for some pretty css or
something

On Wednesday, April 8, 2015, Ankush Agarwal <notifications@github.com>
wrote:

[2015-04-08 19:38] cpuguy83 commented on #7974
@jfrazelle Contribution should go do where?

[2015-04-08 19:38] thaJeztah commented on #7974
@jfrazelle where's the repo for dockerproject.com?

[2015-04-08 19:39] indygreg opened #12192 "lsblk hangs when multiple containers query a volume in parallel"
I'm encountering a weird issue where `lsblk` hangs when reads occur in parallel from multiple containers.

STR:

1. Install Docker with default settings on Ubuntu 14.04.2 (devicemapper, 1.5)
2. `$ docker pull centos:centos6`
3. `$ docker create -v /volume --name shared centos:centos6 /bin/bash`
4. Figure out the device ID for the shared volume
   `$ docker run -it --rm --volumes-from shared centos

[2015-04-08 19:40] jfrazelle commented on #7974
Here! I mean there is nothing now :) maybe a new dir in project/. Where is
really an implementation detail but we have nothing lol

On Wednesday, April 8, 2015, Sebastiaan van Stijn <notifications@github.com>
wrote:

[2015-04-08 19:46] thaJeztah commented on #11113
@rhvgoyal should both this issue and https://github.com/docker/docker/issues/10991 stay open, are they duplicates? I realise there are two approaches to solving it, but not sure if both issues should stay open (which can be confusing).

Happy to hear, thanks!

[2015-04-08 19:48] #12186 closed

[2015-04-08 19:57] thaJeztah commented on #7974
For inspiration on what's needed (but then per-release) https://master.dockerproject.com

[2015-04-08 20:02] orzel commented on #3949
Mounting volume from another image from within a Dockefile is definitely something needed, I agree.

[2015-04-08 20:04] draghuram commented on #12186
I can build the docs now but can't see the new content from `extends.md` any where. Is that what is expected? I guess I am not clear how compose's docs are being pulled into docker docs.

[2015-04-08 20:11] #12189 closed

[2015-04-08 20:12] orzel opened #12193 "Add a way to "APPEND" to a file from within a Dockefile"
You will agree that creating a docker image is mostly about starting from another one and add to it. We can already ADD (and COPY, this is already quite confusing), which append new files to the image.

What I think is a very common pattern is the following : we need to 'adjust' a previously existing configuration file. This would be done by appending a shunk of configuration at the end of this fi

[2015-04-08 20:15] ankushagarwal commented on #7974
Not sure if this is the best idea, but (for now) can the old release binaries be linked from the Github [releases page](https://github.com/docker/docker/releases/tag/v1.5.0)? Currently it only lists links to download the source.

I think it's important that we link them from somewhere instead of waiting for a nice CSS design(which can always be updated later). Even [this](https://master.dockerproj

[2015-04-08 20:21] rhvgoyal commented on #11113
@thaJeztah

May be we can close this issue and track all the issues related to devices leaking into another namespace using #10991

[2015-04-08 20:28] ankushagarwal commented on #7974
I know that currently `dockerproject` subdomain is used for downloads, but it would be nice to use `downloads.docker.com` subdomain to release the binaries. Something like `https://downloads.docker.com/docker/1.5.0/linux/386/docker`. Probably involves a little bit of work, but *it feels right* for the long term.

[2015-04-08 20:34] thaJeztah commented on #11113
@rhvgoyal sounds good; make sure you update the `closes #....` in your descriptions.

I'm closing this issue in favor of https://github.com/docker/docker/issues/10991, which describes the same problem.

For everyone arriving here; please continue the discussion on that issue (https://github.com/docker/docker/issues/10991), or on the associated pull-request(s)

[2015-04-08 20:34] #11113 closed

[2015-04-08 20:51] thaJeztah commented on #7974
Well, I added the link so that people would know which links should be included (so, also md5/sha256)

Thinking of this, I think no design is really required; if we're okay with adding a page to the docs, then a simple Markdown document could suffice for now; e.g.

| Platform | Architecture | Release | Download |
| --- | --- | --- | --- |
| OS X (client only) | amd64 | 1.6 | [binary](#) [md5](#) [

[2015-04-08 20:57] jfrazelle commented on #7974
I kinda like the idea of a release.dockerproject.com or something but of
course this could be later :)

On Wed, Apr 8, 2015 at 1:52 PM, Sebastiaan van Stijn <
notifications@github.com> wrote:

[2015-04-08 20:57] jfrazelle commented on #7974
We could always make that redirect to the docs page \o/

On Wed, Apr 8, 2015 at 1:56 PM, Jessica Frazelle <jess@docker.com> wrote:

[2015-04-08 20:59] saadfarooq opened #12195 "Docker goes crazy if local file system space runs out"
While building a docker container, if the space of the file system runs out, docker crashes. That is expected.
However, even when more space is created after this, docker does not work at all. Following are examples response from the system after the running out of space crash.

    -bash-4.1$ docker images
    REPOSITORY                     TAG                 IMAGE ID            CREATED

[2015-04-08 21:02] thaJeztah commented on #7974
Yes, adding to the docs is definitely not the ultimate goal, but it *is* something that's actionable right now and (if we explain how the links can be found), should even be suitable for beginning contributors.

Bonus point for a simple shell script that can generate the tables after a new release :smile:

[2015-04-08 21:02] HuKeping commented on #12151
hi there,
why we start removing the engine.Job mechanism anyway, is there any topic i can refer to? Thanks.

[2015-04-08 21:03] LK4D4 commented on #12151
@HuKeping Because it is type unsafe and hard to maintain.

[2015-04-08 21:06] icecrime commented on #12151
@HuKeping Sorry, we don't have much background to provide indeed. But feel free to come discuss on IRC (#docker-dev on Freenode) if you want more info or want to participate!

[2015-04-08 21:13] jfrazelle commented on #11966
#dibs this one is mine

[2015-04-08 21:13] duglin commented on #12151
IMO it also added a layer of indirection that was unnecessary.

[2015-04-08 21:20] thaJeztah commented on #11966
@jfrazelle looks like @runcom was working on this in https://github.com/docker/docker/issues/11973. Can you check with him and close that PR?

[2015-04-08 21:24] jfrazelle commented on #12195
is this on aws or something? how did you scale the drive, was
/var/lib/docker left in tact, because it looks like something got corrupted

On Wed, Apr 8, 2015 at 2:00 PM, Saad Farooq <notifications@github.com>
wrote:

[2015-04-08 21:24] jfrazelle commented on #11966
ya no worries im taking on the others and ill see if his works for the one he fixed :)

[2015-04-08 21:36] razic commented on #6396
@cpuguy83 Thanks for clarification.

#6697 Also isn't going to fly since it's closed already and #10310 is practically a dupe of #6697.

[2015-04-08 21:39] indygreg commented on #12192
I have two Ubuntu setups I use on my Mac: vanilla server install via Virtualbox and a Vagrant-based install (also on Virtualbox). Strangely, the problem doesn't seem to be occurring on the direct Virtualbox install: only the install via Vagrant is wonky. The plot thickens.

[2015-04-08 21:40] unclejack commented on #12192
@indygreg Please provide the output of `docker info` and `docker version` from both VMs.

[2015-04-08 21:43] runcom commented on #12151
I've removed eng.Job from `rm` #12197

[2015-04-08 21:50] LK4D4 opened #12199 "Remove getBoolParam from api/server/server.go"
It is unused. Also there is test for it in server_unit_test.go.

[2015-04-08 21:50] saadfarooq commented on #12195
Nothing elastic. It's an RHEL VM. I just ran `docker images -aq | xargs docker rmi` to make space the first time it crashed saying it was out of space. It cleared some images which created the space and then barfed, I believe, the same Error response as above (I'm 89% sure it was the same message).

[2015-04-08 21:56] WiseTrem commented on #12199
#dibs

[2015-04-08 22:04] squillace commented on #10662
happy.

[2015-04-08 22:06] indygreg commented on #12192
Working:

$ docker info
Containers: 24
Images: 164
Storage Driver: devicemapper
 Pool Name: docker-252:0-2102814-pool
 Pool Blocksize: 65.54 kB
 Backing Filesystem: extfs
 Data file: /dev/loop0
 Metadata file: /dev/loop1
 Data Space Used: 3.873 GB
 Data Space Total: 107.4 GB
 Metadata Space Used: 9.077 MB
 Metadata Space Total: 2.147 GB
 Udev Sync Supported: false
 Data loop file: /var/lib/docker/

[2015-04-08 22:26] nealmcb commented on #9654
Thanks to unclejack , LK4D4 et al. for helping track this down.  I've now got lxc-docker-1.5.0:amd64 installed and everything seems to be working well.  My original problem could have been the cgroups error or whatever, but it doesn't happen any more.

So this issue can be closed as far as I can see, unless it is possible to be clearer in terms of how to deal with this if people run across it and

[2015-04-08 22:55] achanda opened #12203 "The ENV instruction should support a list of inputs"
An user might want to set a number of environment variables in their container. Right now, the way to do this is by something like:
[code]
This involves committing each intermediate image, which extends build time. This can be avoided if `ENV` could take a list of inputs. Then the previous example will reduce to
[code]
which is one commit.

[2015-04-08 23:00] Alan-R commented on #7276
More to the point perhaps...

I don't need ptrace per-se.  I just need to be able to read
/proc/<pid>/foo for processes that are in my container.  And I need for
lsof or netstat to be able to tell me what processes are talking on the
network.

These are pretty contained and safe ideas.

Unfortunately, they seem to be implemented internally with ptrace...

In the current code, I have to specify --p

[2015-04-08 23:03] thaJeztah commented on #12203
This is already supported via the `ENV foo=bar bar=baz` syntax, see [Dockerfile reference](https://docs.docker.com/reference/builder/#env).

Also, we're trying to avoid adding more JSON notation to the Dockerfile syntax.

Do you agree with closing this issue, because I think the `=` syntax will give what you're asking here?

[2015-04-08 23:05] achanda commented on #12203
@thaJeztah It does. Thanks for the pointer.

[2015-04-08 23:05] #12203 closed

[2015-04-08 23:15] thaJeztah commented on #12203
You're welcome; the `=` syntax was a recent addition, and easy to overlook. Thanks for thinking along to improve Docker; it's appreciated!

[2015-04-08 23:20] arangamani commented on #8911
:+1:

[2015-04-08 23:40] thaJeztah commented on #9654
@nealmcb good to hear you were able to resolve your problem! I'm going to close this issue, feel free to ping me if you are able to reproduce the problem again, then I'll reopen.

[2015-04-08 23:40] #9654 closed

[2015-04-08 23:49] ahmetalpbalkan opened #12211 "docs: Missing documentation for logging drivers"
Docker 1.6 is shipping with configurable logging drivers support however they're not documented well (or I can't seem to find).

#### In the CLI reference ([master](http://docs.master.dockerproject.com/reference/commandline/cli/)) we only have these:

![image](https://cloud.githubusercontent.com/assets/159209/7057791/a924e088-de0e-11e4-8071-4565b4003658.png)

![image](https://cloud.githubuserconte

[2015-04-08 23:50] burke commented on #8574
So, I think even with #12198, there's still more benefit to be had in this proposal. It would allow for disk and time savings on the machine building the image if it weren't required to actually build all the batched layers, but to be able to apply all the composite operations to a single container, then commit it as one image per `COMMIT`. However, it's a LOT more invasive in terms of builder mod

[2015-04-08 23:50] #8574 closed

[2015-04-09 00:11] ahmetalpbalkan commented on #12211
I realized the Config map  (`runconfig.LogConfig.Config`) is currently not being used anywhere. I guess we keep it as extension point in the future drivers. So it might be ok to keep the documentation as is but at least it'd be great to say something like "this is currently not used" or not document at all.

[2015-04-09 00:13] gossmanster commented on #12177
lsmod on an Azure Ubuntu box right before running apt-get install lxc-docker

+ lsmod
Module                  Size  Used by
aufs                  207174  0
qnx4                   13315  0
hfsplus               102897  0
hfs                    54677  0
minix                  36140  0
ntfs                   97300  0
jfs                   181369  0
btrfs                 899513  0
xor

[2015-04-09 00:21] ehazlett commented on #12177
I haven't noticed any issues on boot2docker. I will create a fresh ISO from
the latest RC again and test.

On Wednesday, April 8, 2015, Jessie Frazelle <notifications@github.com>
wrote:

[2015-04-09 00:22] indygreg commented on #12192
I updated the kernel on my failing VM to 3.13.0-49-generic and I can't reproduce the issue any more. Could I be looking at a kernel bug?

[2015-04-09 00:46] ahmetalpbalkan opened #12213 "Proposal: detect invalid --log-driver on daemon start, noplogger"
If I start a daemon like `docker -d --log-driver=bazinga` it just starts fine but the container creation fails. I think that's a bad idea and daemon shouldn't start in the first place.

We defer the check until the container creation, and we have no factories for building Logger objects. (We just have a simple switch/case.

We also use `nil` in case of `--log-driver=none`. IMO that's a bad idea an

[2015-04-09 00:52] #11966 closed

[2015-04-09 00:54] hangyan commented on #12135
@thaJeztah  @vdemeester  it's related,but not the same problem. #11058 is focused on one image id mapped to multiple repos(like `ubuntu:14.04` and `ubuntu-test:14.04`) ,in this situation, when run `docker rmi [-f] <image id>`,docker will only untagged one repo at one time. This issue is focused on one image id mapped to one repo and multiple tags(like `ubuntu:14.04` and `ubuntu:14.10`),when run `d

[2015-04-09 01:38] Mashimiao commented on #12126
I have made a PR #12016. it seems fixing the same problem with this issue.

[2015-04-09 02:04] YanXiaoping opened #12216 "Docker API issues"
I have several issues about Docker API.(I asked the question on stackoverflow/docker user group, but was suggested to create a issue here)
What I want to achieve:
I have a  distributed application, which I plan to containerize. I would run it in multi containers on multi hosts.
My APP internal function needs events about the state changes of containers.
I'd like to avoid container orchestrator loc

[2015-04-09 02:42] Mashimiao opened #12217 "Change number of images's format from docker info"
Hello everyone,
When I use `docker info`, it returns the total number of images.
Usually, We just use top images to create containers, we may even don't know what the intermediate images can do.
So, I want change `docker info` just return number of top images.
WDYT?

[2015-04-09 03:11] LK4D4 commented on #12126
I don't understand fix :) Also why fail non-deterministic? ping @dmcgowan

[2015-04-09 03:33] fullofcaffeine commented on #4036
+1 I'm also getting this error:

[code]

[2015-04-09 03:34] fullofcaffeine commented on #4036
I'm running Docker version 1.5.0, build a8a31ef in VirtuaBox (Trusty 64) in a OSX host. Any ideas on how to solve this issue?

[2015-04-09 03:36] antonbormotov commented on #4036
I had the same error, after I restarted docker daemon and it helped.

[2015-04-09 03:44] fullofcaffeine commented on #4036
This is happening in a vanilla Trusty x86_64 vagrant box. I'm worried about its reproducibility. So far, I don't know what is causing it, and it seems to happen at random times for me. The goal of my dev. env setup with Docker is to be easy to use and headache-free. If I give this to a designers/frontender, he should  be able to get the app up and running with just a ```vagrant up```, and right no

[2015-04-09 03:47] fullofcaffeine commented on #4036
Btw, I'm using Ubuntu 14.04 (both the host and docker image) and docker 1.5.0.

[2015-04-09 03:50] ibuildthecloud commented on #11529
No fair, why does @crosbymichael get all the fun PRs :) j/k looking forward to the implementation.

[2015-04-09 03:55] mingfang commented on #4036
At our office we fixed this problem by making sure our Ubuntu machine has AUFS support.
Just install this linux-image-generic-lts-trusty and then reboot.
Running ```docker info``` will tell you if you’re using AUFS.

[2015-04-09 04:12] fullofcaffeine commented on #6396
+1, I just hit this today while trying to build an image for a Rails app that uses Bower to install the clientside dependencies. Happens that one of the dependencies points to ```git@github.com:angular/bower-angular-i18n.git``` and since git fails there, bower fails, and the image building fails, too.

I really like what vagrant does btw. With a single forward_agent config in the Vagrantfile, this

[2015-04-09 04:18] fullofcaffeine commented on #6396
Also, as an additional note, this is happening while __building__ the image. Does anyone know of any existing workarounds?

[2015-04-09 04:22] LK4D4 commented on #12213
@ahmetalpbalkan Bazinga is definetely a bug. Factory would be nice(not sure how to implement it). I prefer nil over null-object-pattern.

[2015-04-09 04:27] mbentley opened #12219 "Curl install script doesn't install aufs support on Ubuntu 12.04"
Updates in #10859 might prevent docker with aufs support to be installed on Ubuntu 12.04 as a standard default kernel is `3.2.*-virtual` instead of `*-generic`.  I'll add support to enable the curl install script to also check for `-virtual` kernels which are supported by `linux-image-extra-virtual`.  This can be seen on test.docker.com as this hasn't been released yet.

[2015-04-09 04:30] aenertia commented on #10045
I am having issues with the fe80::1 link local address scheme used. I have a Single public nic which has a /64 subnet routed to it by the Colo. My default gateway on this nic is also fe80::1 to the colo's switch/router. It causes docker containers (either using sub-subnneted /68 /80 ranges or the entire /64 for docker) to fail I think due to some sort of NDP issue upstream of the host. The fe80::1

[2015-04-09 04:33] fullofcaffeine commented on #6396
My workaround, was to generate a new RSA keypair, setup the pub key on github (add the fingerprint), and add the private key to the Docker image:

[code]

I'd love to avoid this, but I guess this is acceptable for now. Any other suggestions appreciated!

[2015-04-09 04:44] lsm5 commented on #12182
@manics @thaJeztah going by git commit, that's the one available by default in CentOS extras and it's being worked on as pointed in the RH bz.

Please see http://wiki.centos.org/Cloud/Docker for the CentOS virt SIG repo in which I include `docker` separately from RHEL and it only includes vanilla docker. It's still on 1.5.0, I'll update that to 1.6.0 rc asap. There's a `docker-master` in there as

[2015-04-09 05:15] scf37 commented on #4036
Indeed, moving to AUFS is the solution.
Moreover, Docker team updated Linux installation script https://get.docker.com/ so it always installs AUFS support.

[2015-04-09 05:20] assaflavie commented on #4036
AUFS fixed it for me as well.

[2015-04-09 05:23] razic commented on #6396
I'm not sure who has killed more puppies. You for doing that, or Docker for not providing you with a better way as of yet.

In any case I'm going to submit a proposal this weekend probably. @cpuguy83 is right that people are at least thinking about this and discussing possible solutions. So at this point it's just a matter of us agreeing on something and getting someone to work on it. I'm totally

[2015-04-09 05:43] xiaods commented on #10894
@Yajo current docker 1.5 have now feature:
b6718650e87e: Download complete
493bab5fff45: Downloading [=>                                                 ] 1.579 MB/76.97 MB 1h10m17s
Because the docker images download layer by layer. so the download hint is focus on this layer's time span. Now it also provide a estimate timed, does it make sense on your concern?

[2015-04-09 05:44] achanda opened #12221 "Docker should include a formal grammar for Dockerfile"
Why is this necessary?

1. This would enable any developer to use that to generate a parser in any language. The current parser is in written in Go, it's difficult to port it to other languages.
2. Though the Dockerfile syntax is simple enough for hand parsing, having a specified grammar will help in avoiding confusion as the sytax evolves.

[2015-04-09 05:55] fullofcaffeine commented on #4036
@scf32 Cool, I'll look into using the script instead of apt for Ubuntu 14.04. Thanks!

[2015-04-09 05:58] scf37 commented on #4036
@fullofcaffeine Running remotely hosted scripts as root is
a) insecure
b) unreproducible since script can be changed and your deployment can break as a result

So, use with care :-)

[2015-04-09 06:40] hqhq commented on #4036
@fullofcaffeine There is conclusion in this thread https://github.com/docker/docker/issues/4036#issuecomment-76723060
If you want to use devicemapper, you need to use dynbinary instead of static linked. Of course you can also move to other graph drivers.

[2015-04-09 07:03] Mashimiao commented on #12023
Hi @dreamcat4 ,
I used the following commands:
for i in {1..1025};do docker run --rm ubuntu:latest echo 'hello'>/dev/null;sleep 300;done
and used `docker events` in another terminal.
It seems everything is OK.
==
$ docker version
Client version: 1.5.0-dev
Client API version: 1.19
Go version (client): go1.4.2
Git commit (client): 9ede3f9-dirty
OS/Arch (client): linux/amd64
Server version: 1.5.0-dev

[2015-04-09 07:56] iangelov commented on #7198
+1

[2015-04-09 08:36] dreamcat4 commented on #12023
@Mashimiao  Thanks but there seem a few differences with your report:

* You didn't pipe the output of `docker events` cmd in to `tail -f`.
* It is a slightly different docker version. We see only on git commit `a8a31ef` to our current testing.
* It is slightly newer go version (ours was 1.4.1).
* It is slightly newer docker api version (ours was 1.17.

If you have any further opportunity, then pl

[2015-04-09 08:44] Mashimiao commented on #12023
I just clone docker's source code, then build and install by myself.
I will retest with `strace docker events | tail -f`

[2015-04-09 08:51] Yajo commented on #10894
It's better than it was indeed, but it still lacks the remaining time of the full image download.

When starting a pull, docker could check which layers will it need and how big they are before actually starting to pull layer by layer. Then, based on the current download speed, try to predict the total remaining time and size.

[2015-04-09 09:47] drbokko commented on #1824
:thumbsup: or  +1

[2015-04-09 09:52] dreamcat4 commented on #12023
@Mashimiao Thanks. I can't be bothered to recompile myself, but will jump further forwards pas that one, and upgrade to `1.6.0-RC5` soon-ish. As that is available in APT testing repo.

[2015-04-09 10:13] runcom commented on #12151
I'm removing from image_delete also

[2015-04-09 10:17] unclejack commented on #12192
@indygreg Yes, there were known bugs in all kernels up to 3.13.0-37 regarding data corruption and some other problems.

[2015-04-09 10:18] FossiFoo commented on #5113
+1

[2015-04-09 10:33] dreamcat4 commented on #12023
Hello again!

Sorry to say: but I upgraded my docker and re-tested. It reproduced again this same exact issue on latest official `docker-1.6.0-RC5`. Problem appeared immediately, when running like this: `strace docker events | tail -f`. The `strace` output looks to be the same:

https://gist.github.com/dreamcat4/537877f7b5a088797b4f

Bug did not happen with just `docker events` cmd only (e.g. in i

[2015-04-09 10:34] ahmetalpbalkan opened #12229 "Bug: /info endpoint doesn't return LoggingDriver in 1.6"
In `1.6.0-rc5` I can confirm that `/info` endpoint does not return any `LoggingDriver` (the field is just missing).

### Repro steps.

1. Start docker daemon with `sudo docker -d -H unix:// -H 0.0.0.0:4243`
2. `curl http://localhost/info | grep LoggingDriver`
3. Shows nothing, supposed to show `"LoggingDriver" : "json-file"`.

This is a bug since this field was documented in Remote API docs and CL

[2015-04-09 10:34] vmatekole opened #12230 "Mounting files from within image to serve from Nginx - Rails app"
FROM rails:4.2.0
COPY . /apps
WORKDIR /apps/oklahoma
# Install configured gems
RUN bundle install
RUN  \
    #Setup migrations from rails
    bundle exec rake railties:install:migrations
VOLUME ["/apps/oklahoma/public","/apps/oklahoma/log"]
EXPOSE 3000
CMD ["rails", "server", "-b", "0.0.0.0"]

I have the above image with static files in /apps/oklahoma/public. When the volume is mounted these files

[2015-04-09 10:36] ahmetalpbalkan commented on #12216
@YanXiaoping thanks for the questions. I would post these questions separately on https://groups.google.com/forum/#!forum/docker-user . It is just an easier way to discuss and get more attention to your questions. Usually less people look at the issues periodically.

[2015-04-09 10:37] dreamcat4 commented on #12023
As previously. We have `epoll_wait` it hangs there. Some thread blocking or something like that. Presumably Go has `epoll` wrapped in it's own API library.

[code]

[2015-04-09 10:41] ahmetalpbalkan commented on #12217
@Mashimiao it would be breaking others as the current contract says: `/info` endpoint of Docker Remote API (what's reported as `Containers:` to you) will return number of all containers. Could you please elaborate why do you want to get this data?

Also, an image that looks like "top image" can be an intermediate image later on. So it's not really a solid concept either.

[2015-04-09 10:41] HuKeping commented on #12151
@icecrime Actually I'd like to +1 for this change, it makes things much more clear, just feel a little sudden in the beginning.
I'd like to take `rename` as a try, see #12227

[2015-04-09 11:15] dreamcat4 commented on #12023
I am guessing in the docker source code it is at here:

https://github.com/docker/docker/blob/v1.6.0-rc5/api/client/commands.go#L1877

Sorry I don't understand that code where it goes into the function `cli.stream`. It is under the surface. Probably relying upon whatever standard GOlang I/O libraries to achieve that.

In addition, when I add a unix pipe on command line (to the end of that chain).

[2015-04-09 11:20] ahmetalpbalkan commented on #12229
Added test #12231 to verify this is the case but apparently this doesn't occur in test environment.

In my `ps` output I see docker started as:

    docker -d --log-driver=json-file -H unix:// -H tcp://0.0.0.0:4243

however `curl`/`docker info` doesn't return any logging driver info to me for some reason.

[code]

[2015-04-09 11:21] dreamcat4 commented on #12023
@vieux @shin- If you can please tell us where this line goes to?

[code]

https://github.com/docker/docker/blob/v1.6.0-rc5/api/client/commands.go#L1877

[2015-04-09 11:32] MalteJ commented on #10045
Hi,

could you give us the output of `ip -6 route` and `ip -6 addr`?
If you want you can `x` out the first six bytes of your IPv6 address (e.g. `xxxx:xxxx:xxxx:43::1/64`)

Probably you have some mistakes in your routing table. I suspect your host's eth0 has an IPv6 address with a /64 netmask.

[2015-04-09 12:00] x1022as opened #12233 "Bug?: delete image across different graph-driver"
Not sure if this is a bug or it's just designed to be like this.

ubuntu 14.10 & docker-1.5.0-dev

1) set aufs as storage-driver, and have busybox image locally:
[code]

2) change storage-driver to devicemapper. It has no images first, pull busybox and rmi it immediately
[code]

3) restart docker daemon, and set to aufs again
[code]
busybox image is gone, while all other images are still there.

d

[2015-04-09 12:35] Sirupsen commented on #11529
@ibuildthecloud he said he's not working on it :)

[2015-04-09 13:12] aenertia commented on #10045
Turned our hetzner started blocking my sub-subnetting. Seems they issue a
/64 but treat it as a /128. Am currently debating this with them. Will
force a nat66 situation which is just ridiculous.
On Apr 9, 2015 4:33 AM, "Malte Janduda" <notifications@github.com> wrote:

[2015-04-09 13:36] sriddell opened #12236 "Allow optional switch to disable injection of env variables in target of linked container"
It would be helpful in some instances when linking containers to be able to specify that the env variables in the source container, as well as the additional ones Docker injects (such as <alias>_PORT) should not be injected into the target.

We have hit situations where the <alias>_PORT Docker automatically injects into a target container conflicts with env variables our application is looking for

[2015-04-09 13:57] MalteJ commented on #10045
I have used a Hetzner server for testing Docker IPv6 a few months ago. So it is possible to get it working there :smiley:

[2015-04-09 14:00] karalabe opened #12237 "docker pull fails, operation not permitted"
I've used docker on my system for quite a while, but after a few months of idle time when I try to pull an image now, everything fails with the following error:

[code]

I actually don't even know how docker managed to conjure this error up. /usr/local/bin exists, so irrespective of root or non-root status, the mkdir error would be "already exists", definitely not operation not permitted.

On a si

[2015-04-09 14:11] cpuguy83 commented on #12237
`docker info` and `docker version` output would help, thanks!

[2015-04-09 14:16] karalabe commented on #12237
Sorry about that :)

[code]

[code]

[2015-04-09 14:41] cpuguy83 commented on #12236
I don't see why the actual ip/port env vars could ever cause a problem with another app, but certainly +1 on disabling at least the propagation of env vars from the linked container.

[2015-04-09 14:47] vdemeester commented on #12221
+kind/proposal

[2015-04-09 14:49] cpuguy83 commented on #12230
Hi,

Please ask these kinds of questions in the docker-user mailing list or #docker on IRC.
For some reading on volumes which will probably show you why it's not working as you expect, see: http://container42.com/2014/11/03/docker-indepth-volumes/

[2015-04-09 14:49] #12230 closed

[2015-04-09 14:57] ehazlett commented on #12177
I'm also seeing this with docker-machine in about 1/5 creates with digitalocean as well.

Stuck at `Setting up lxc-docker-1.6.0-rc5 (1.6.0~rc5) ...`

I'm going to test some other providers as well.

[2015-04-09 15:11] cpuguy83 commented on #12217
Yes, there's really no such thing as an intermediate image.

[2015-04-09 15:28] #12199 closed

[2015-04-09 15:42] fullofcaffeine commented on #6396
@razic It's a fairly common use-case, so thanks for looking into this, too. As for the workaround, it works. Possibly the key could be removed from the image after being used, after all, it's only used to get the application's code from github.

[2015-04-09 15:51] karalabe commented on #12237
After playing around with everything, I've tried to delete all containers and images, and got hit with a load of error messages such as:

[code]

However, the stuff disappeared from docker. I've tried pulling again, and got hit with

[code]

So I went in and deleted all leftovers manually from the docker installation folder. Now it seems to work and download the images fine.

I'm guessing the issu

[2015-04-09 15:52] fullofcaffeine commented on #4036
@hqhq Thanks for pointing me to this.

Does this essentially mean that the Docker version currently shipped with Ubuntu 14.04 (via apt) is unstable?

[2015-04-09 15:55] anapsix opened #12239 "orphaned bridge & virt interfaces"
It appears Docker does not cleanup bridges & virtual interfaces upon container shutdown.
I came across this while setting up Deis, which creates a lot of containers, especially when some of them are having trouble starting (due to misconfiguration, etc).

Issue created per @thaJeztah suggestion. Problem was mentioned at deis/deis#3336 and is referred to in #1320 by @ianblenke, @Blystad.

Despite u

[2015-04-09 16:02] icecrime commented on #12151
Amazing, thanks @HuKeping! I'm trying to keep up updating the first post but things are moving fast :-)

[2015-04-09 16:18] WiseTrem commented on #11576
#dibs

[2015-04-09 16:23] ymzong commented on #12177
As referenced in my issue above, Docker also fails to install in `Travis CI` container, but I don't know what hypervisor / kernel it uses.

[2015-04-09 16:30] cpuguy83 commented on #12237
These errors look to be coming from mount.
The error messages themselves should be enhanced in docker 1.6

So you modified some of the layers external to Docker?

[2015-04-09 16:41] LK4D4 commented on #12023
I can reproduce same behavior with `tail -f logifle | tail -f`. I think this is how `tail -f` working.

[2015-04-09 17:37] jfrazelle commented on #12229
That patch was added after the fact I believe so I think it is only in
master

On Thu, Apr 9, 2015 at 4:20 AM, Ahmet Alp Balkan <notifications@github.com>
wrote:

[2015-04-09 17:40] jfrazelle commented on #12229
confirmed, only in master

[2015-04-09 17:45] jfrazelle commented on #12219
well a 3.2 kernel is also pretty meh and actually not supported just FYI

https://docs.docker.com/installation/ubuntulinux/

[2015-04-09 17:47] tianon commented on #12124
I don't necessarily see either option as a sane general default -- that's the reason APT stops to ask; each user is going to have a different reason for why they have a preexisting `/etc/default/docker`, and if we assume we know what that reason is, we risk breaking their customizations.

[2015-04-09 17:50] jfrazelle commented on #12229
so I think this is fine it works on master

[2015-04-09 17:51] mbentley commented on #12219
Valid point.  Thanks!

[2015-04-09 17:51] #12219 closed

[2015-04-09 17:56] ahmetalpbalkan commented on #12229
@jfrazelle are we cherrypicking to release for the next rc?

[2015-04-09 17:58] jfrazelle commented on #12229
nope I do not think its necessary, it was an added "nice to have" but not
essential or fixing a bug

On Thu, Apr 9, 2015 at 10:57 AM, Ahmet Alp Balkan <notifications@github.com>
wrote:

[2015-04-09 18:01] sriddell commented on #12236
Well, in my particular case, I have a linked container with an alias of 'sidekick'.  The target container is an app that wants to find a 'sidekick' but isn't designed to assume it's available via a linked container, so it supports env variables SIDEKICK_HOST and SIDEKICK_PORT to override the default behavior (expecting the sidekick to be a linked container).

So when I run in default mode, and Doc

[2015-04-09 18:02] ahmetalpbalkan commented on #12229
@jfrazelle hmm then we need to remove it from the docs and cherry pick into the 1.6 docs release so that it wont mention this field.

[2015-04-09 18:05] jfrazelle commented on #12229
It's not in the docs on my branch :), this is why I also don't cherry pick
docs commits

On Thu, Apr 9, 2015 at 11:03 AM, Ahmet Alp Balkan <notifications@github.com>
wrote:

[2015-04-09 18:07] ewindisch commented on #10216
I've failed to reproduce, but it could be a problem with my environment.

You have a single btrfs filesystem for the entire OS?

[2015-04-09 18:30] #12188 closed

[2015-04-09 18:34] soulrebel commented on #7198
Ultimately this looks like something that requires kernel support for full bidirectional remapping of UIDs and GIDs, and doesn't even look easy to manage.

For non performance-sensitive scenarios maybe something could be done using FUSE.

Still +1 for development use cases, since I end up with root-owned files in my home.

[2015-04-09 18:37] jmccormick2001 commented on #12087
I had the same problem, removed docker, then manually removed /var/lib/docker, then re-installed docker and it appears to work now.

[2015-04-09 18:40] dreamcat4 commented on #12023
It's not just the `tail -f` command. I write the output to a unix socket with `mkfifo file.sock`, then `docker events > file.sock`. And it still gets the same bug -

https://github.com/dreamcat4/docker-images/blob/master/pipework/entrypoint.sh#L368

[2015-04-09 18:52] jfrazelle commented on #12229
sooooo closing

[2015-04-09 18:52] #12229 closed

[2015-04-09 18:53] dreamcat4 commented on #12023
I still assume that the buffering is being left to some go IO library underneath, sorry I cannot follow to where in docker's code.

Perhaps an IO reader / writer object may not be flushed properly for some reason. The eventing for outputting (IO writer) may occur in same thread that is being used to gobble (IO read) the input from docker daemon response. Or might the IO object require a different

[2015-04-09 18:55] fishtek commented on #9665
+1

[2015-04-09 19:13] LK4D4 commented on #12151
removing engine from copy

[2015-04-09 19:22] aanm opened #12246 "REST API has a weird behavior when setting max memory"
This `docker create -t -i  -m 512m busybox ` command results on this JSON request
[code]
However if I inspect the same container I get 0

[code]

This is happens when using powerstrips but it shouldn't be a problem since the request, for what I understand is valid, right?

More info: https://github.com/ClusterHQ/powerstrip/issues/77

[2015-04-09 19:46] thaJeztah commented on #12216
Hi, @YanXiaoping I'm going to close this issue, because the GitHub is intended for tracking bugs and feature requests, which this is not.

Feel free to comment after closing, but (as Ahmet suggested), Google groups, https://forums.docker.com or the #docker IRC channel are better suited for questions.

[2015-04-09 19:46] #12216 closed

[2015-04-09 19:58] razic commented on #6396
@fullofcaffeine I'm not 100% sure how Docker works internally but I think unless it's done in a single RUN command (which is impossible with your workaround) then the image's history maintains the SSH key.

[2015-04-09 20:08] ruphin commented on #12124
Wouldn't you agree that the only reason for there to be a preexisting `/etc/default/docker` is to have that file there? I can't imagine a situation where someone (or something) makes this file to have it blanked by the installer.

One issue with leaving existing files in place is that unexperienced users can run into issues when installing Docker doesn't work the way they expect it to because the

[2015-04-09 20:22] LK4D4 commented on #12023
@dreamcat4 client-side is using `cli.streamBody` where it just doing `io.Copy` from `io.ReadCloser` which is basically response body to `cli.out`, which is `os.Stdout`. On daemon side it uses `ResponseWriter` wrapped in `utils.NewFlusher` and `json.NewEncoder`. Because of `utils.NewFlusher` I think that from daemon side all flushed okay.
Flush problems can be with `os.Stdout`, because it is basica

[2015-04-09 20:28] LK4D4 commented on #12023
@dreamcat4 Also you need to read other side of pipe to write to pipe. It works for me.

[2015-04-09 20:35] runcom commented on #12151
removing from pause/unpause

[2015-04-09 20:45] dreamcat4 commented on #12023
Yes I agree. And that matches the kill behaviour. Because then the missing messsages appear.

@LKD4

* If it works for you, please provide an example here so I can try to reproduce that.

* Please provide source code references on client side? E.g. where the `cli.streambody`, and `io.ReadCloser` get invoked?

[2015-04-09 20:48] LK4D4 commented on #12023
@dreamcat4 `cli.streamBody` is in `api/client/utils.go`. You should get go-to-definition plugin for go - it'll simplify your life a lot.
I took reader example from http://www.linuxjournal.com/content/using-named-pipes-fifos-bash
And in other terminal run `docker events > /tmp/testpipe`

[2015-04-09 20:50] duglin commented on #12151
doing `top`

[2015-04-09 20:54] aenertia commented on #10045
Yup I did have it working at one point, which is why I was so confused as
to the behaviour;  but obviously there is an overzealous admin who
considers subsubnetting a breach of the ToS. FYI using Fedora21 with RDO
repo.

<snip>

Dear Sir or Madam
We have noticed that you have been using other IPs in
addition to the main IP mentioned in the above subject line.
As this is not permitted, we regret to

[2015-04-09 20:57] ibuildthecloud commented on #11529
@Sirupsen lol, man I suck at reading.  I'll starting working on this.

[2015-04-09 21:03] runcom commented on #12151
removing from wait

[2015-04-09 21:15] dreamcat4 commented on #12023
Ok. So if way you called `read` was like this:

[code]

Wheras the way I call `read` is like this:

[code]

https://github.com/dreamcat4/docker-images/blob/master/pipework/entrypoint.sh#L368

Then you would have me do this instead:

[code]

I can try that tomorrow. Sorry, it is late here now.

[2015-04-09 21:17] runcom commented on #12151
removing from resize (yes, I'm enjoying this thing......)

[2015-04-09 21:22] runcom opened #12251 "check for container name not empty is not needed"
https://github.com/docker/docker/blob/e379e2668cecf8a0f9ef29eb57ee881f4d313d58/api/server/server.go#L356

https://github.com/docker/docker/blob/master/api/server/server.go#L863

Check is not needed because the http handler didn't match that route with an empty string

[2015-04-09 21:29] calavera commented on #12151
I've started with create and start in https://github.com/docker/docker/pull/12253

[2015-04-09 21:31] rbair23 commented on #12174
I had the misbehavior again today and verified that indeed, there was an id with "db" as the first two characters. I've changed my container name to be something less prone to collisions :-). Thanks!

[2015-04-09 21:39] thaJeztah commented on #12174
thanks for reporting back, @rbair23! docker 1.6 should be released soon, so you can get rid of the workaround :)

[2015-04-09 21:40] kostickm commented on #12113
@LK4D4 @runcom Now that #12109 is merged the following are the only uses of time.Now() I see in integration-cli:

docker_cli_daemon_test.go:	if !time.Now().After(res.Time) {
docker_cli_daemon_test.go:	if !time.Now().After(res.Time) {

docker_utils.go:	dir := filepath.Join(dest, fmt.Sprintf("daemon%d", time.Now().UnixNano()%100000000))
docker_utils.go:	startTime := time.Now().Unix()
docker_utils.go

[2015-04-09 22:00] runcom commented on #12151
removing from commit (and implicitly from build_config)

[2015-04-09 22:04] jfrazelle opened #12255 "move all integration tests to integration-cli so we can remove finally"
all the tests in integration/ need to be converted to integration-cli/ so we can get rid of those tests once and for all.

[2015-04-09 22:05] moxiegirl commented on #12186
@draghuram The extends material was released before it was ready.  You can view that work on:

http://docs.master.dockerproject.com/compose/yml/

Or by pointing the docs/Dockerfile to pull `master` from the compose docs

[2015-04-09 22:09] runcom commented on #12255
I also noticed most of the scenarios are just covered by integration-cli itself and in integration there were only the job mechanism tests

[2015-04-09 22:16] moxiegirl commented on #7974
This feels like a pretty extreme edge case for docs.docker.com especially as I'm hearing we have to manually maintain it. Also, I'm a bit concern including older binaries in the "docs.docker.com" section might confuse the majority of people who don't care or need them.  I can see adding a page at the root of the repo adding the the list @ankushagarwal pointed out https://master.dockerproject.com/

[2015-04-09 22:26] LK4D4 commented on #12113
@kostickm No, I think it's okay.

[2015-04-09 22:26] #12113 closed

[2015-04-09 22:31] brahmaroutu commented on #12255
#dibs

[2015-04-09 22:44] mischief commented on #11700
i think that this is not a coreos or overlayfs problem, but a problem with the /bin/sh in debian, which is 'dash'.

see http://www.gnu.org/software/coreutils/faq/coreutils-faq.html#Value-too-large-for-defined-data-type

[2015-04-09 22:53] mischief commented on #11700
it seems that this does work on coreos w/ btrfs driver for docker, but not on coreos w/ overlayfs driver. quite strange :/

[2015-04-09 22:58] thaJeztah commented on #7974
Well, the obvious problem is that the main www.docker.com website is not maintained here, and I wonder how many people will find the dockerproject.com website.

It could be part of the https://docs.docker.com/installation/binaries/ document , and, since there's already a "version" dropdown, only the "latest" would be required.

I agree that manually maintaining the links is a problem; it could be

[2015-04-09 23:01] ankushagarwal commented on #7974
I don't see why the binaries can't be linked from the github releases page

[2015-04-09 23:08] tianon commented on #12124
If you know your target platform already, I would actually recommend *not*
to use the "curl" installation script, and just follow the "manual"
instructions instead, since the installation script is just a thin layer
around APT or Yum with some very naive platform detection in front.

[2015-04-09 23:14] thaJeztah commented on #7974
Yes, the releases page could be an option (but would also have to be maintained manually)

Thinking a bit further on automating this; would it be problematic to enable autoIndex on get.docker.com for the `/builds/` path (and below)? Then (e.g.) http://download.docker(project).com can be redirected to https://get.docker.com/builds/

And I see there's a module that allows skinning; http://wiki.nginx

[2015-04-09 23:19] tianon commented on #7974
"get.docker.com" is direct S3 :cry:

[2015-04-09 23:20] Sirupsen commented on #11529
@ibuildthecloud :heart_eyes:

[2015-04-09 23:21] jfrazelle commented on #7974
ya this would need to be an html page, generated by releases etc and then
would deploy to a certain domain

On Thu, Apr 9, 2015 at 4:19 PM, Tianon Gravi <notifications@github.com>
wrote:

[2015-04-09 23:22] ankushagarwal commented on #7974
I am not saying that we should not have a downloads page, I am completely up for that, but *for now* releases page can at least link to the binaries which currently have no references *anywhere*

About the manual process and maintenance, it takes a one line Find Replace to create a new release entry eg: (⌘F 1.5.0, ⌘R 1.6.0).

[2015-04-09 23:23] jfrazelle commented on #12255
also kinda related to https://github.com/docker/docker/issues/12151

[2015-04-09 23:23] ankushagarwal commented on #7974
A simple Markdown table(which is easy to maintain) in the releases page can suffice, something which @thaJeztah created above
![image](https://cloud.githubusercontent.com/assets/796949/7079067/c03c14dc-ded4-11e4-9580-514461e58b03.png)

[2015-04-09 23:24] tiborvass commented on #7974
@tianon better than CloudFront nightmare

[2015-04-09 23:26] aenertia commented on #10045
So sorted out with hetzner with the unblocking so that removes some of the
issue. But still issues.

I have subsubnneted with my 64 delegation to a <PREFIX>::/64 on the Lan
interface - works fine with the a <PREFIX>>::/80

Docker still has problems.

I have given a  /80 for docker (i.e : DOCKER_NETWORK_OPTIONS=--ipv6
--fixed-cidr-v6="<PREFIX>:1::/80")

Launching a container i.e debian:sid I am una

[2015-04-09 23:27] aenertia commented on #10045
that should have been I added <PREFIX>:1::/80 to docker0

i.e ip -6 route add <PREFIX>:1::/80 dev docker0

On 9 April 2015 at 16:26, Joel Wirāmu Pauling <aenertia@aenertia.net> wrote:

[2015-04-09 23:30] fullofcaffeine commented on #6396
@razic good point.

[2015-04-09 23:31] thaJeztah commented on #7974
Ah, shucks

[2015-04-09 23:39] BrianBland opened #12257 "Strange CLI output when pushing multiple tags at once to a v2 registry"
Description of problem:
When pushing multiple tags simultaneously to a v2 registry, layers which were new for an earlier tag will have their status line overwritten with an "Image already exists" if included in a later tag. Several of these layers are also duplicated in the updated output.

`docker version`:
[code]

`docker info`:
[code]

`uname -a`:
[code]

Environment details (AWS, VirtualBox, p

[2015-04-10 00:17] jfrazelle commented on #12257
ping @dmcgowan @jlhawn @dmp42

[2015-04-10 00:17] jfrazelle commented on #12257
is this a regression from 1.5

[2015-04-10 00:20] thaJeztah commented on #12257
I was doubting in labelling "bug" or "regression", feel free to change accordingly :)

[2015-04-10 00:25] vieux commented on #12257
@thaJeztah:

![57237343](https://cloud.githubusercontent.com/assets/1032519/7079780/5a9cb79a-dedd-11e4-8e9c-75aa03726c22.jpg)

[2015-04-10 00:31] xiaods commented on #12233
we need more evidence to confirm the root cause.

[2015-04-10 00:54] draghuram commented on #12186
Got it, thanks.

[2015-04-10 00:55] nathanleclaire opened #12258 "Output from docker exec -it on remote daemon truncated"
I'm getting some erratic behavior running a command like `docker exec -it <ID> cat /file.conf` on a remote daemon.

My setup: Digital Ocean droplet created with `docker-machine`, daemon configured to accept connections over TLS.

[code]

I have an [interlock](https://github.com/ehazlett/interlock) container running with the following command:

[code]

The issue is that when I do `docker exec -it <

[2015-04-10 00:57] jfrazelle commented on #12258
could it be the terrible wifi at the office.....

On Thu, Apr 9, 2015 at 5:56 PM, Nathan LeClaire <notifications@github.com>
wrote:

[2015-04-10 00:59] nathanleclaire commented on #12258
I don't think it's related to WiFi in particular: I have a wired connection (frequently turning WiFi off completely) and that wouldn't really explain how the command without `-it` consistently works but the command with `-it` consistently produces truncated output.

[2015-04-10 01:00] jfrazelle commented on #12258
ah ok just making sure, wishing for a miracle lol

[2015-04-10 01:01] nathanleclaire commented on #12258
:D I hear ya

[2015-04-10 01:09] donhcd commented on #11764
@crosbymichael  I'm still seeing this in rc5:

[code]

System Info
=========
[code]

[2015-04-10 01:13] jfrazelle commented on #11764
`docker info` too

[2015-04-10 01:15] jfrazelle commented on #11764
The id you are killing and inspecting are not the same

[2015-04-10 01:16] moxiegirl commented on #7974
+1 for the releases page @ankushagarwal  is suggesting. That's where I went first --- *isn't it already there* was the thought.

[2015-04-10 01:16] nathanleclaire commented on #12258
Update on this : I'm getting the same behavior with `-H unix:///var/run/docker.sock` when SSH'ed into the server

[2015-04-10 01:19] jfrazelle commented on #12258
that is weird

On Thu, Apr 9, 2015 at 6:16 PM, Nathan LeClaire <notifications@github.com>
wrote:

[2015-04-10 01:20] Mashimiao commented on #12023
Hi @dreamcat4 ,
I used `docker events` in terminal A, `strace docker events` in terminal B and `strace docker events | tail -f` in terminal C with the above testcase in parallel. But lessen sleep time to 3s.
Well, it's very interesting.
Command in terminal A and B will work very well.
But command in terminal C will hung after running for a while.
And then, in terminal D, I used `docker event > /tm

[2015-04-10 01:21] donhcd commented on #11764
[code]
 % docker inspect -f '{{.Id}}' 959addc7ab30
959addc7ab30144bacd2f6521c70313fe34afb6ec11c6c4a7c7a0844cfff2bd5
 % docker inspect -f '{{.Id}}' 959addc7ab
959addc7ab30144bacd2f6521c70313fe34afb6ec11c6c4a7c7a0844cfff2bd5
[code]

[2015-04-10 01:25] #11576 closed

[2015-04-10 02:54] indygreg commented on #12192
I guess I'll close this issue then.

[2015-04-10 02:54] #12192 closed

[2015-04-10 02:56] HuKeping commented on #12151
doing `history`

[2015-04-10 03:35] aetherical commented on #11580
I'd be happy to work on this one....

[2015-04-10 03:47] fakewaffle commented on #9561
Excellent idea. I emailed support too.

[2015-04-10 04:02] #9785 closed

[2015-04-10 04:13] halfvector commented on #12177
I'm also seeing this with Test Kitchen + Chef Solo + Vagrant + Virtualbox when installing lxc-docker 1.5.0 on a phusion/ubuntu-14.04-amd64 box.

[2015-04-10 05:08] wyaeld commented on #9561
@fakewaffle have had very little success with asking for any improvements to hub.  Seems like a waste of time, with little/no change or fixes delivered to automated building in over a year.  We got sick of waiting and have moved onto other infrastructures for build management.

[2015-04-10 05:22] progressor7 commented on #11382
I have exactly the same issue:
[code]
System is Centos 6.6 with the latest kernel from elrepo (3.19.3-1.el6.elrepo.x86_64), docker is 1.4.1 from repos. The only significant difference with our other servers is that it is a diskless box with root filesystem on tmpfs in a memory and /var/lib/docker is NFS share mounted from a head server. I tried to have /var/lib/docker mounted to a local scratch dr

[2015-04-10 05:43] phemmer commented on #12258
Could be completely unrelated, but docker compose also has missing output issues when TTY mode is enabled (https://github.com/docker/compose/issues/1229).
Smells like there might be a common issue.

[2015-04-10 05:47] dsampath commented on #12177
+1
GCE, Ubuntu 14.04

[code]

[2015-04-10 06:12] Mashimiao commented on #12217
Hi @ahmetalpbalkan and @cpuguy83,
I agree there is not really a solid concept about intermediate image.
In my opinion, intermediate image  means it it not needed and "top image" means it can be used directly.
Sometimes we need count how many images we have, which we can use to create containers directlly. we have to use command "docker images | wc -l".
If "docer info" can directly supply this data

[2015-04-10 06:16] thaJeztah commented on #11580
@aetherical great! Make sure to mention `closes #11580` in the description of your pull request

[2015-04-10 06:18] hqhq commented on #4036
@fullofcaffeine I won't say it that way. Only that when you need to use devicemapper, there is a known problem.
BTW, is there any specific reason why you are using devicemapper? The default graph driver for Ubuntu 14.04 should be aufs, with that, you won't get this problem.

[2015-04-10 06:55] feiskyer commented on #6743
+1

[2015-04-10 07:24] MalteJ commented on #10045
it would really help to have the complete output of your `ip -6 route` and `ip -6 addr`.
If you like you can send me the information in private.

[2015-04-10 07:28] cfrendo commented on #6743
+1

[2015-04-10 07:37] xiaods commented on #6743
@thaJeztah anyone can help to maintain this feature, give some feedback from docker maitainers?

[2015-04-10 08:06] runcom commented on #12236
I'll have a look this weekend and eventually come up with a proposal pull request #dibs

[2015-04-10 08:37] cybertk commented on #7249
+1, it's useful to create a DFS based data volume container, all persistent data are stored in remote DFS

[2015-04-10 08:46] corradio opened #12265 "Docker disk usage"
The /var/lib/docker/aufs/mnt folder takes a lot of disk space which is not cleared when removing images, containers and volumes. Upon docker restart, the mnt folder is cleared.
How come there's such a leak? Maybe there should be a way to clean the mnt folder?

[2015-04-10 08:49] thaJeztah commented on #6743
@xiaods

I'm not "in the loop" myself, but have seen some activity in this area (no actual *code* yet),

I think there's currently being worked on a proposal for the "plugin API" in Docker.

For what I've seen, several members of Docker *and* projects in the Docker "ecosphere" are discussing the possibilities to reach (initial) consensus on an API that works, both for Docker itself (default plugin

[2015-04-10 09:07] YanXiaoping commented on #12216
@thaJeztah, I think my first question can be potentially bug, and my last three questions relates to feature more or less.
Could I get some comment here?
(I asked on docker-user, but didn't get comments
 https://groups.google.com/forum/#!topic/docker-user/X47NS4uOb4U )

[2015-04-10 09:37] HuKeping commented on #12151
doing `info`

[2015-04-10 09:38] karalabe commented on #12237
I had some issues with a Linux distro update so I rolled back the btrfs file system to a previous state, and deleted all existing snapshots as I figured they aren't really needed anyway. As it would seem, docker was using those snapshots and didn't really like that I got rid of them.

[2015-04-10 09:53] lexlapax commented on #12221
+request
Would be happy to work towards a BNF spec for Dockerfile.
I'm working on a programmatic Dockerfile generator in python (parsing would be the next step/parallel step).. a formalized spec would help forward compatibility (though, not necessary)

[2015-04-10 09:54] thaJeztah commented on #12216
@YanXiaoping the first question is because the `/events`endpoint (*without* `?since=`) is streaming the events in real-time, which requires a slightly different usage of curl.

These should probably give you what you're expecting (I've used the IP-address and port you used in your question);

[code]
or

[code]

Then in a separate shell;

[code]

[2015-04-10 10:11] feiyang21687 commented on #12265
We also notice the problem too.

We use device mapper, and this is our $DOCKER/devicemapper/mnt:

[code]

We only run two container:

[code]

Docker Info:

[code]

Docker Version:

[code]

[2015-04-10 10:52] thaJeztah commented on #9015
The link was broken; new link is https://github.com/docker/distribution/blob/master/docs/spec/api.md

Or (future proof); https://github.com/docker/distribution/blob/636a19b2126ffe78d209eb6a7aedef857abd2539/docs/spec/api.md

[2015-04-10 11:30] olvesh commented on #7336
:+1:

[2015-04-10 12:24] xiaods commented on #12265
have a try use a newer docker version?

[2015-04-10 12:28] thaJeztah commented on #12265
I'm trying to determine if this is related to https://github.com/docker/docker/issues/11113 and https://github.com/docker/docker/issues/10991, or at least this part:

[2015-04-10 12:38] thaJeztah commented on #12265
@corradio could you provide the output of `uname -a`, `docker version` and `docker -D info`?

Also (If you're not already doing so), could you try and test with the current release or release-candidate of docker?

[2015-04-10 12:38] duglin commented on #12221
I'm not against the idea of including a BNF but I do have concerns that this will be more than a little difficult since our parsing isn't consistent. For example, for historical reasons, we have different parsers for certain commands, and trying to encapsulate these differences in a formal grammar will not be trivial.
Just a heads up :-)

[2015-04-10 12:41] corradio commented on #12265
uname -a:

Linux infra1-par 3.13.0-36-generic #63-Ubuntu SMP Wed Sep 3 21:30:07 UTC
2014 x86_64 x86_64 x86_64 GNU/Linux

docker -D info:

Containers: 22
Images: 565
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 609
Execution Driver: native-0.2
Kernel Version: 3.13.0-36-generic
Operating System: Ubuntu 14.04.1 LTS
CPUs: 8
Total Memory: 31.26 GiB
Name: ******

[2015-04-10 12:57] guillermo commented on #2949
@cpuguy83 Hi. Can you point where is documented. I am comming from the [docker api docs#create container] (https://docs.docker.com/v1.5/reference/api/docker_remote_api_v1.13/#create-a-container) and is still unclear for me. Thanks

[2015-04-10 13:04] thaJeztah commented on #12265
Thanks, looks like you missed `docker version` though :)

[2015-04-10 13:12] stainboy commented on #11700
True, it works fine w/ btrfs. However, unlike what you said in the previous session, this is a generic issue that happens on all kinds of images.

Actually, in my case, I have created a kvm base image and put a 4GB size of win8.img into it. Every time I create a new container, kvm crash against overlay fs.

[2015-04-10 13:13] corradio commented on #12265
Sorry, here's the output of `docker version`

Client version: 1.5.0
Client API version: 1.17
Go version (client): go1.4.1
Git commit (client): a8a31ef
OS/Arch (client): linux/amd64
Server version: 1.5.0
Server API version: 1.17
Go version (server): go1.4.1
Git commit (server): a8a31ef

--
Olivier Corradi
*:snips *- www.snips.net
+33 (0) 7 81213708

On 10 April 2015 at 15:06, Sebastiaan van Stijn <

[2015-04-10 13:18] thaJeztah commented on #12265
Thanks, @corradio. I have labeled this as bug, but there's a chance that this is an existing issue; there are a number of issues related with Docker sometimes not properly unmounting containers filesystems.

/ping @unclejack perhaps you know if this is already tracked by an existing issue (and which one)

[2015-04-10 13:43] dreamcat4 commented on #12023
@LK4D4 This is weird. Not expected. Because today when I try either socket ways (mine or yours) in an interactive terminal - they seem to both work.

Nevertheless I have made your suggested change inside my docker image. Because that is a not interactive - it is shell script. So we shall see (after a while more) if it makes any difference.

@Mashimiao Thanks for the tip. About writing to log file.

[2015-04-10 13:49] cpuguy83 commented on #2949
@guillermo You should see a newer version of the api, these updates weren't made for all versions of the api docs. https://docs.docker.com/v1.5/reference/api/docker_remote_api_v1.17/#create-a-container

[2015-04-10 13:49] thaJeztah commented on #2949
@guillermo the link you included is to an older version of the API (and docs); the current (at this moment 1.17) version can be found [here](https://docs.docker.com/reference/api/docker_remote_api_v1.17/#create-a-container)

[2015-04-10 13:56] binhex commented on #1916
i too have this issue, trying to hook into a cifs share during docker build is not permitted unless the privileged flag is supplied, any way around this?

[2015-04-10 13:56] cpuguy83 commented on #12237
Ok, seems like we can close this then?

FYI, the mkdir stuff is likely because ApplyLayer is happening in a chroot and it was trying to extract to something that didn't exist.

[2015-04-10 14:00] vbatts commented on #10294
https://git.kernel.org/cgit/linux/kernel/git/dgc/linux-xfs.git/commit/?h=xfs-rename-whiteout&id=7dcf5c3e4527cfa2807567b00387cf2ed5e07f00
It's moving along upstream

[2015-04-10 14:01] vbatts commented on #11012
perhaps related to #10294
`overlay` currently only supports ext4 as the underlying fs, but xfs progress is being made

[2015-04-10 14:03] jedi4ever opened #12267 "COPY *.somefile.conf makes dockerd *crash* during docker build"
A simple Dockerfile:

```COPY *.somefile.conf somefile.conf```

makes my dockerd (1.5.0 , boot2docker) crash consistently

[2015-04-10 14:04] danackerson commented on #11294
just got bit by this in production. Built a new version with tag 677 and tried to deploy live. Before downloading the new image, docker dutifully searches thru the existing images:
[code]
The website was running code from 5 months ago :(

Workaround is to prefix tags with a non-hexadecimal digit - like 't677'. Then it can't possibly find a corresponding image.

[2015-04-10 14:10] #12237 closed

[2015-04-10 14:14] dreamcat4 commented on #12023
@LK4D4 OK:

With that small change to the `while read` line. Put inside of my non-interactive shell script (the real code), I have tried catching the error again. The testing was not extremely thorough. However no issue to be seen so far. Continued to work for multiple start / stop events.

To my memory, the bug should have occurred after the first newline `\n` character. So I am happy for the tim

[2015-04-10 14:15] guillermo commented on #2949
@cpuguy83 @thaJeztah WOW that was fast.

The reason why I thoug I was looking at the lastest version is that if you go to the [link](https://docs.docker.com/v1.5/reference/api/docker_remote_api_v1.13/#create-a-container), In the version selector in the top right corner I choose the latest one (1.5). By doing that I was expecting to see the latest version.

On any case, thanks for your help.

[2015-04-10 14:33] duglin commented on #12267
I can't seem to reproduce this. Can you share a full dockerfile that shows it?
Is the target (somefile.conf) a dir?  What files in your build context end with .somefile.conf ?

[2015-04-10 14:44] samos123 commented on #10412
Same problem here: https://registry.hub.docker.com/u/samos123/drupal/build_id/13402/code/bbqwlrz7hpysfhdg6ntjbzn/

did support solve it for you guys?

[2015-04-10 15:17] ibuildthecloud commented on #11087
@LK4D4 @jfrazelle I'm not trying to annoy, but just curious.  Is this issue being actively worked on?  Is there anything I can do to help?  Is there some blocker that was encountered when investigating this?

[2015-04-10 15:26] LK4D4 commented on #12023
I think we can close this, because `tail -f file | tail -f` not working as well.
Feel free to open new issue if you find something interesting.

[2015-04-10 15:26] #12023 closed

[2015-04-10 15:30] nazar-pc opened #12268 "Downloads/pulls count using API v2"
Is there any way to get information about downloads/pulls count using v2 of docker register API, like https://registry.hub.docker.com/v2/repositories/mashape/docker-kong/stars/count/ for stars?
Needed for https://github.com/badges/shields/issues/415 and would be nice to have it in general.

[2015-04-10 15:32] rhatdan commented on #11087
@ibuildthecloud Not sure anyone is actively investigating.

[2015-04-10 15:41] LK4D4 commented on #11087
@ibuildthecloud Sorry, I'll fix it soon.

[2015-04-10 15:42] LK4D4 commented on #11087
Have no idea how we missed it for milestone.

[2015-04-10 15:49] kostickm commented on #12251
#dibs

[2015-04-10 16:07] erikh commented on #12177
Needs a lock around this I think: https://github.com/docker/docker/blob/master/daemon/networkdriver/bridge/driver.go#L129-L186

[2015-04-10 16:07] erikh commented on #12177
or at least some kind of sane error handling

[2015-04-10 16:42] fishtek commented on #10426
Hello guys, I've been running into this issue (initially when using the [docker-squash](https://github.com/jwilder/docker-squash) tool by @jwilder , however also with simply doing a docker save, docker load.

[I noticed that the fix was merged into the docker 1.6.0 release candidate branch](https://github.com/docker/docker/pull/10439), so [I used the 1.6.0-rc5 binary](https://test.docker.com/build

[2015-04-10 16:45] dmp42 commented on #12268
Docker HUB feature requests should be sent directly to https://support.docker.com

The registry API itself has a notification system (that is used by the hub to produce metrics), but what you ask for here is rather a Hub API access to said metrics.

Let me know how this goes.

[2015-04-10 16:45] #12268 closed

[2015-04-10 16:50] fishtek commented on #8769
+1
I also have this issue and think this issue should be reopened.

[I posed a question over on the docker mailing list a day or so ago but haven't heard anything back.](https://groups.google.com/forum/#!msg/docker-user/agFQbz2_07k/KZ0wyWUAwHwJ)

I think this is either a bug or the documentation needs to be clarified.

My message above to the mailing list describes the couple steps I used (even bo

[2015-04-10 17:13] LK4D4 commented on #10426
ping @estesp

[2015-04-10 17:24] thaJeztah commented on #2949
Ah yes; that can be confusing. Perhaps (if possible), the older versions of the API docs should show a "this is not the most recent version" warning on top.

Feel free to open a new issue for that :)

[2015-04-10 17:27] icecrime commented on #12177
Sorry if irrelevant, but could it be related to #12242?

[2015-04-10 17:29] kostickm commented on #12119
@joeygibson are you going to create a PR for this one? If not I'm happy to take it.

[2015-04-10 17:39] cpuguy83 commented on #12217
@Mashimiao The thing is, _any_ image can be used directly.
We do have a concept of `dangling` images, which are images that aren't part of the makeup of any tagged image. But I'm also not sure this information would be particularly useful in `docker info`.

[2015-04-10 17:40] joeygibson commented on #12119
I didn't actually do any work on it, since I was waiting for an answer to my question. If you are confident that you understand the issue, go ahead and take it.

[2015-04-10 17:42] kostickm commented on #12119
@joeygibson Okay thanks! I think I have it figured out.

[2015-04-10 17:42] kostickm commented on #12119
#dibs

[2015-04-10 17:45] runcom commented on #12119
And yes @joeygibson, running that with something like `TestStartAttach` will run all functions in tests which begins with `TestStartAttach`. Just to clarify :)

[2015-04-10 18:00] crosbymichael commented on #12151
Updated the description of this issue to help let people know this is ALL of `/engine` not just Jobs.

[2015-04-10 18:01] jedi4ever commented on #12267
@duglin sorry a bit more context:

the filename of the file is exactly `*.somefile.conf` , so a literal star is part of the filename

[2015-04-10 18:04] chatmoa commented on #3036
+1

[2015-04-10 18:05] arturluizbr commented on #12169
Maybe some command like these.

Simple mounting:
[code]

Multiples files in one container dir:
[code]

Each file in their own container path:
[code]

Then USE won't create a new layer, but mount the volume in next build steps.

[2015-04-10 18:22] #10304 closed

[2015-04-10 18:30] aaronjwood commented on #8911
+1

[2015-04-10 18:33] nthiery opened #12277 "Race condition with Python multiprocessing queues inside a docker container"
While building a docker container for the SageMath software, we ran
into an issue involving Python's multiprocessing queues which are used
by our testing framework. The error is very systematic (always the
same three test files that fail). It very much sounds like a race
condition. However it's not clear whether the issue is in docker,
Python's mqueues, or in our usage of them in our testing frame

[2015-04-10 18:34] estesp commented on #10426
@fishtek sorry about poor assumptions on the original fix--the correct fix is in PR #12276 just submitted

[2015-04-10 18:37] duglin commented on #12267
@jedi4ever good one! :-)  I'll take a look at it today

[2015-04-10 18:40] joeygibson commented on #12119
That's what I thought, but when I made the change and tried to run the tests, it said something like it couldn't find a test suite with that name (I'm not at the computer where my source is). I just looked at @kostickm's commit, and that was the same thing I did. (I know I said I didn't do any work, but I meant I had not commit anything or taken it further.)

[2015-04-10 18:52] jfrazelle commented on #12258
trying this now

[2015-04-10 19:01] jfrazelle commented on #12258
I get the whole thing :(

[2015-04-10 19:05] LK4D4 commented on #12258
Maybe missing flush in terminal. I recently learned that `Close` not flushes files.

[2015-04-10 19:20] #12119 closed

[2015-04-10 20:07] duglin commented on #12267
PR #12278 fixes this

[2015-04-10 20:07] jfrazelle commented on #12257
I do not think this is necessarily a regression, I do believe there was always some weirdness in cli output

[2015-04-10 20:08] nathanleclaire commented on #12258
OK I can't dupe this on another server so I'll close... Sorry for the noise, I'll re-open if I can come up with something reproducible.

[2015-04-10 20:08] #12258 closed

[2015-04-10 20:09] jfrazelle commented on #12257
also related to strange cli output https://github.com/docker/docker/issues/10367

[2015-04-10 20:10] jfrazelle commented on #12258
wait im so curious please ping me

[2015-04-10 20:52] #4036 closed

[2015-04-10 20:58] nathan7 opened #12280 "Double-dot files are, contrary to Docker's belief, inside the directory they're in"
During a `docker build`: `FATA[0000] Error: Untar exit status 1 "..gitignore.un~" is outside of "/"`
The culprit is https://github.com/docker/docker/blob/a8a31eff10544860d2188dddabdee4d727545796/pkg/archive/archive.go#L528, though this code is of course duplicated in https://github.com/docker/docker/blob/a8a31eff10544860d2188dddabdee4d727545796/pkg/archive/diff.go#L84.

[2015-04-10 21:02] vbatts commented on #4036
You may still be affected with this issue with releases that do not include  https://github.com/docker/docker/pull/11412 (which will be included by docker 1.7)

There are ways to get a docker daemon th at supports udev sync. (Using a dynamically linked binary, instead of statically linked)

[2015-04-10 21:06] mmdriley opened #12281 "'docker pull scratch' does nothing sane"
Begin with an empty image store: `docker rmi -f $(docker images -q)`
Then try this: `docker pull scratch`

This worked in versions <= 1.5.

In version 1.5, the result is:
[code]

Note that Docker *does* go to the trouble of pulling an image.

After which this is the state of the image store:
[code]

The image is downloaded but remains anonymous.

[This commit](https://github.com/docker/docker/comm

[2015-04-10 21:15] nathan7 commented on #12280
Seems 0826ac15 fixed this, closing.

[2015-04-10 21:15] #12280 closed

[2015-04-10 21:50] johngossman commented on #12177
@icecrime If its a race condition, anything could change it, but I don't think this is fix it

[2015-04-10 22:20] aluzzardi commented on #10740
Was this solved by #11109?

[2015-04-10 22:29] jfrazelle commented on #10740
yep should be @ncdc let me know if you disagree

[2015-04-10 22:29] #10740 closed

[2015-04-10 22:42] ncdc commented on #10740
All good, thanks!

Sent from my iPhone

[2015-04-10 22:54] jfrazelle commented on #12151
hey so can we make sure when we remove things from `api/server/server_unit_test.go` we add an api test in `integration-cli`. sorry to be a party pooper

[2015-04-10 22:55] jfrazelle opened #12284 "Add History API test"
https://github.com/docker/docker/pull/12260/files deleted a test, this needs to be reimplemented in integration-cli

[2015-04-10 22:56] jfrazelle commented on #12284
related to #12151

[2015-04-10 23:09] jfrazelle commented on #11764
@donhcd I reopened. We need exact steps you used to reproduce.

[2015-04-10 23:15] kunapuli09 opened #12286 "how to feed an "ENTER" to my RUN during an image build"
I have to do an install inside my docker container through a silent script, my install program expects user to enter an "F" Or "Enter" on the terminal at the end to finish the install. My docker build stops with printing line Enter:  [ F ] ?  and returns with return code of 1.

Here is my RUN inside my Dockerfile.

RUN /bin/bash -c -l "cd $INSTALL_HOME \
                        && java -jar INSTAL

[2015-04-10 23:21] duglin commented on #12286
Try
RUN echo F | bash ...

-Doug

Sent from my iPhone

[2015-04-10 23:21] jfrazelle commented on #11764
is it with `docker run --entrypoint=/bin/echo busybox test` I wonder what is the output of `lsmod`

[2015-04-10 23:23] duglin commented on #12286
Actually wrap the entire bash with( )

-Doug

Sent from my iPhone

[2015-04-10 23:26] thaJeztah commented on #12286
Hi, @kunapuli09 the GitHub issue tracker is meant for tracking bugs and feature requests, not for support questions. https://forums.docker.com, https://groups.google.com/forum/#!forum/docker-user and the #docker IRC channel are more suitable for that.

I'm gonna close this issue, because this is not a bug, but feel free to continue the discussion

[2015-04-10 23:26] #12286 closed

[2015-04-10 23:28] kunapuli09 commented on #12286
ok..thanks. apologies for posting here. will chase it in forums..

[2015-04-10 23:40] jfrazelle commented on #12158
closed by #12283

[2015-04-10 23:40] #12158 closed

[2015-04-10 23:43] thaJeztah commented on #12286
@kunapuli09 no problem!  Mainly closing so that it's easier to track which issues needs to be resolved.

Hope you'll be able to get it working, good luck!

[2015-04-11 00:10] WhoBrokeTheBuild commented on #12284
I'll gladly take this

[2015-04-11 00:14] thaJeztah commented on #12284
@WhoBrokeTheBuild (awesome github handle btw); thanks! Be sure to include `closes #12284` in the description of you pull request .

[2015-04-11 00:17] thaJeztah commented on #1916
There's now a pull request that implements this; you can check progress there; https://github.com/docker/docker/issues/12261

[2015-04-11 00:20] donhcd commented on #11764
[code]

[2015-04-11 01:17] Mashimiao commented on #12217
@cpuguy83 ,
That's true every images can be used directly. But usually if we want to get the final image, we have to create several intermediate images to based on. Though the intermediate images can be used directlly, from the aspect of application, we look at them as unuseful and can't be used directlly.
WDYT?

And I know about dangling images, but I think it's different from what I want to get.

[2015-04-11 01:19] LightGuard commented on #7445
:+1:

[2015-04-11 09:50] kennethlimcp commented on #9929
I see that the current docs mention this at the beginning:

[code]

That sort of mentions but we can probably improve it with:

[code]

As for the issue with file name becoming a directory, i am unable to reproduce this with:

- `docker build -t test .`
- `docker run -v ~/desktop/docker-vol-test/example.md:/example/example.md test:latest ls -la`

Dockerfile:

[code]

[2015-04-11 10:08] kennethlimcp commented on #10458
+status/docs-help

Happy to help here but looking at the `rm` docs, i still cannot figure out how `-l` is used and how the unlinking would work! Best if there's a simple use case and test to explain how it works before i improve on the docs :)

[2015-04-11 10:13] vsipuli opened #12294 "Docker networking fails after iptables service is restarted"
Docker networking fails permanently on all new containers after reloading iptables rules. Steps to reproduce on CentOS 7.1 (some output elided for brevity):

[code]

A workaround to restore networking to containers is to restart the Docker daemon:

[code]

What should be fixed in Docker so that reloading iptables rules won't break its networking? This is a major issue because it breaks networking

[2015-04-11 10:16] vintikzzz opened #12295 "Image push to private repository closes unexpectedly"
I am using docker via boot2docker on my mac. Recently I've decided to setup private docker repository for my images. I've found [great article](https://github.com/MarvAmBass/docker-nginx-registry-proxy) how to setup docker registry behind nginx proxy with basic auth and ssl security. When I try to do a push I experienced strange issue:
[code]
And nothing happened.
Then I tried to check connection

[2015-04-11 12:37] thaJeztah commented on #12294
The [advanced networking](https://docs.docker.com/articles/networking/) may contain some information that can help troubleshooting.

Also, could you add the output of;

- `uname -a`
- `docker version`
- `docker -D info`

[2015-04-11 13:21] thaJeztah commented on #12246
I'm unable to reproduce this on 1.6-rc4 (without power strip) Could you add the output of `uname -a`, `docker version` and `docker -D info`?

[2015-04-11 13:29] thaJeztah commented on #12246
Also, you can check if your system is missing things using the [contrib/check-config.sh](https://raw.githubusercontent.com/docker/docker/master/contrib/check-config.sh) script

[2015-04-11 13:41] thaJeztah commented on #12295
Thanks for taking the time writing this up. I'm not sure this belongs in *this* repository, but I'll ping @dmcgowan here because I know he has written some examples recently for setting up a private repository.

[2015-04-11 13:42] bmwertman commented on #8791
When I run `sudo /etc/init.d/cgconfig status` as @mbentley suggested it says stopped.

Running `sudo /etc/init.d/cgconfig start` errors with;

`Starting cgconfig service: Error: cannot mount hugetlb to /cgroup/hugetlb: No such file or directory
/sbin/cgconfigparser;`
`error loading /etc/cgconfig.conf: Cgroup mounting failed
Failed to parse /etc/cgconfig.conf`

[2015-04-11 14:04] runcom commented on #12236
@sriddell what you are trying to do is easly accomplished by setting an alias when you run your app container with `--link containeridorname:ALIAS` to avoid collision of env vars.
So, instead of changing env vars names on your app side you could do:
[code]
output from yourapp container:
[code]

[2015-04-11 14:39] moxiegirl commented on #10458
@kennethlimcp Let me take a look at what is going on with the docs on `rm`.  To fix, I need to test and then rewrite.  So, I'll come back at you later today most likely.  Thank you for pointing out the problem.

[2015-04-11 15:23] runcom commented on #12151
removing from `inspect` and `logs`

[2015-04-11 15:56] vieira commented on #6400
I think we can improve this behaviour if we attempt to login after the password is typed and only when this fails do we ask for the extra information needed to register the user (for now, the e-mail address).

A better option would be to have some endpoint in the hub api that we can invoke to check if a user exists and based on that decide which path to follow (either login or register).

What do

[2015-04-11 16:07] ewindisch opened #12298 "HTTP_PROXY setting breaks socket-based cli connections"
If the HTTP_PROXY setting is set, socket-based connections fail:

[code]

Whereas the following works fine:

[code]

[2015-04-11 16:15] vieira commented on #6400
I think we can improve this behaviour if we attempt to login after the password is typed and only when this fails do we ask for the extra information needed to register the user (for now, the e-mail address).

A better option would be to have some endpoint in the hub api that we can invoke to check if a user exists and based on that decide which path to follow (either login or register).

What do

[2015-04-11 16:22] thaJeztah commented on #12298
Is this on the current 1.6-rc? Because I think I remember some change being made recently to prevent http_proxy being applied to the socket. Will have to look up the PR

[2015-04-11 16:23] thaJeztah commented on #12298
Found it; https://github.com/docker/docker/pull/10739

[2015-04-11 16:56] thaJeztah commented on #12298
Just tested this, and I'm unable to reproduce this on `1.6-rc4`.

@ewindisch this should be fixed in 1.6. Perhaps you are able to test this with the current release-candidate, they can be found here; https://github.com/docker/docker/pull/11635#issuecomment-90205104

[2015-04-11 17:12] ewindisch commented on #12298
Yes, sorry, my mistake!

[2015-04-11 17:12] #12298 closed

[2015-04-11 17:14] thaJeztah commented on #12298
No problem, thanks for confirming!

[2015-04-11 17:16] thaJeztah commented on #10947
ping @devurandom could you provide the information?

[2015-04-11 17:27] phemmer commented on #12294
This is a known issue/limitation. I'm hesitant to call it an issue as I don't think it's docker's problem.
Basically when you run `systemctl restart iptables`, you're not really restarting iptables as iptables is always on (it's built into the kernel). Instead you're clearing & loading saved rule sets.
Docker adds rules to the iptables chains, so when you clear the chains, the rules docker created

[2015-04-11 17:54] LK4D4 commented on #12294
@phemmer There is proposal about firewalld support. WDYT about it?

[2015-04-11 18:16] devurandom commented on #10947
@cpuguy83 Yes, I mean like overlayfs.

And you say that if I install (e.g.) cups into my containerA and then start it while mounting all volumes from containerB (one of them being /var), then all files from containerA in the respective path (i.e. /var) will be copied over to the volume of containerB?

What happens if you do that from multiple containersA1,A2,... and they have different files in (e

[2015-04-11 18:29] phemmer commented on #12294
Great if you're using firewalld :-P
Unfortunately basic iptables is what a lot of people use (myself included).

From the 40,000 foot level, I see only 2 ways to solve this problem:

1. make docker depend on the iptables service. If iptables is shut down, so is docker. Not great as I'm sure people will not expect docker to go down when iptables does.
  1. Could also have a separate service which d

[2015-04-11 19:10] grundleborg commented on #7540
I'm seeing this exact same behaviour with the source IP of packets reaching nginx inside a container. Sometimes they have 172.17.42.1 as the source address, and sometimes they have the actula remote address, and it seems to switch arbitrarily every few minutes. Is there any known workaround or fix for this, or is there any further investigation I can do that would help to find out what's wrong?

[2015-04-11 19:47] MartinsThiago opened #12302 "For Developers: Registry could flat the images"
Docker is great for deploying applications and helps the community a lot and lots of people use it in your development workflow, **so do I**

## The Problem
One of the **pitfalls** I found is the size of images, I mean, I started to develop a simple app with three friends, the app uses **postgres** and **mongo**. Nothing wrong until I realize I was downloading **more than 3GB** for a simple app, a

[2015-04-11 19:53] MartinsThiago commented on #12302
Moving the issue to registry github repo

[2015-04-11 19:53] #12302 closed

[2015-04-11 20:08] discordianfish commented on #7540
@unclejack @jfrazelle I've heard we removed the userland proxy in 1.6? Is this the case or do we need more investigations into this issue here? @icecrime: If so, can we prioritize this somehow?

[2015-04-11 20:20] grundleborg commented on #7540
FWIW I'm running docker 1.5.0 currently.

[2015-04-11 20:22] jfrazelle commented on #7540
That's not until 1.7

On Saturday, April 11, 2015, George Goldberg <notifications@github.com>
wrote:

[2015-04-11 20:53] discordianfish commented on #7540
@jfrazelle I assume this solution to this issue is the removal of the userland proxy? Guess it doesn't make sense to spend resources on this until the userland proxy is removed.

[2015-04-11 21:15] BinhuaLiu opened #12303 "How to share my printer from host to docker image?"
I deployed my GUI app on docker image, How to share my printer from host to docker image? Thanks very much

[2015-04-11 22:07] shazow commented on #7333
@unclejack This issue is proposing something very different than building log rotation into docker.

This issue is proposing a signal (or perhaps API call) which tells docker to re-open all of the log files it's writing to. This allows us to use logrotate the way we've always used it for everything else: Have it rename the current log, then trigger a signal to tell the process to re-start writing

[2015-04-11 22:16] thaJeztah commented on #12303
Hi, @BinhuaLiu, the GitHub issue tracker is intended for tracking bugs, feature requests and pull requests, and not really for questions.

Could you ask this question on https://forums.docker.com/, https://groups.google.com/forum/#!forum/docker-user or the #docker IRC channel on Freenode?

I'm going to close this issue, because it's not a bug. (You'll still be able to comment on this issue after i

[2015-04-11 22:16] #12303 closed

[2015-04-11 23:14] thaJeztah commented on #11382
Could you both provide the output of `docker version` and `docker -D info`?

[2015-04-11 23:24] thaJeztah commented on #9661
@liuyunsh do you still have this issue? If you do, can you add the information that was requested https://github.com/docker/docker/issues/9661#issuecomment-76299314.

[2015-04-11 23:28] thaJeztah commented on #9365
@grossws is this still an issue? have you been able to test on docker 1.5 or the 1.6 release candidate? (https://github.com/docker/docker/pull/11635#issuecomment-90205104)

[2015-04-11 23:30] thaJeztah commented on #7695
@wyaeld is this still an issue? have you been able to test on docker 1.5 or the 1.6 release candidate? (https://github.com/docker/docker/pull/11635#issuecomment-90205104)

[2015-04-12 00:07] grossws commented on #9365
@thaJeztah, @jfrazelle, still and issue on 1.6-rc5:

[code]

[code]

[2015-04-12 00:15] grossws commented on #9365
Sorry, seems like this is upstream problem (from rhel/centos), some other processes has such wrong cgroup. I think, docker containers receive this cgroup from docker daemon because `docker -d` itself has it from systemd parent.

[2015-04-12 00:15] #9365 closed

[2015-04-12 02:20] aanm commented on #12246
@thaJeztah Thanks for looking at this, I start using a proper docker wrapper and I don't have this problem anymore :-)

[2015-04-12 02:20] #12246 closed

[2015-04-12 02:50] estesp commented on #11739
This is currently working properly on master:
[code]
I believe this problem is resolved; any issue with closing this?

[2015-04-12 02:59] matrixise commented on #11739
do you have the commit ? thanks

[2015-04-12 03:15] estesp commented on #11739
Most likely this change to the overall flow of `daemon.Get()` from all APIs: 34c804a139cc086e9fa6d3f99442f083b6d5e1e7

The specific file changes that would have affected the HTTP status code is here: https://github.com/docker/docker/commit/34c804a139cc086e9fa6d3f99442f083b6d5e1e7#diff-9320049615863c9b6ab00c749bbb2f09

The server response triggers off the language "no such" in error responses, and

[2015-04-12 03:38] ubiqtus commented on #11167
I got hung up installing.  Once I ran apt-get install liberror-perl it worked.  Said something about it 'manually installed'

# apt-get install liberror-perl
Reading package lists... Done
Building dependency tree
Reading state information... Done
liberror-perl is already the newest version.
liberror-perl set to manually installed.
0 upgraded, 0 newly installed, 0 to remove and 10 not upgraded.
2 n

[2015-04-12 03:40] hacfi commented on #11167
@ubiqtus Thanks for the hint..will give that a try!

[2015-04-12 04:32] singhvarinder commented on #8521
docker attach has still same hang issue with 1.5 version, "docker exec -i -t [cont-id] bash" worked for me too.

[2015-04-12 04:53] moxiegirl opened #12308 "docker rm --link lacks sufficient error messages"
I created and linked to containers.  When I try to remove a link  as per the example here:

https://docs.docker.com/reference/commandline/cli/#rm

The example doesn't work. The example shows a leading slash but this appears to be problematic.  Including the leading slash causes the command to return with and apparently remove the link. But it doesn't.

[code]
Specifying a totally bogus link appear

[2015-04-12 04:56] moxiegirl commented on #10458
Ok, I tested this command against the docs.  The result is this issue here:

https://github.com/docker/docker/issues/12308

When I get a response, I can clarify the docs which may or may not be correct depending on whether my testing really revealed an issue.

[2015-04-12 05:16] LK4D4 commented on #12294
I think using firewalld is not very bad option if you're fan of restarting iptables service :)

[2015-04-12 07:13] Jamlee commented on #5490
@ibuildthecloud @jfrazelle   could we solve this issue on release 1.6?

[2015-04-12 07:41] thaJeztah commented on #9365
@grossws thanks for reporting back! If you find the resolution (upstream), feel free to add some info here for people arriving here via Google.

[2015-04-12 07:43] thaJeztah commented on #12246
@aanm thanks for reporting back! Out of interest, the problem was related to *powerstrip* or your system configuration?

[2015-04-12 08:35] MoshiBin opened #12310 "Cannot destroy container - Driver vfs failed to remove root filesystem"
Description of problem:

My machine is doing lots of `docker run` and `docker rm`, and eventually It'll accumulate some containers that cannot be removed, due to errors like this:

[code]

`docker version`:
[code]

`docker info`:
[code]

Environment details (AWS, VirtualBox, physical, etc.):
VM running on ESXi, CentOS 6.2. `uname -a`: `Linux 2.6.32-220.13.1.el6.centos.plus.x86_64 #1 SMP Wed Apr 18

[2015-04-12 09:54] thaJeztah commented on #12310
@MoshiBin you're running a really old version of docker (0.9). Could you please test if you're still able to reproduce this on the current 1.5 release or the 1.6 release candidate?  (https://github.com/docker/docker/pull/11635#issuecomment-90205104)

In addition, you're running on CentOS 6.2, which isn't supported (6.5 or higher is required, see https://docs.docker.com/installation/centos/)

And,

[2015-04-12 09:54] #12310 closed

[2015-04-12 11:06] amouat commented on #10458
@moxiegirl I wonder if a better solution is just to deprecate this functionality and see if anyone complains. There's no point wasting time on something nobody needs or is using.

[2015-04-12 12:25] sagiegurari opened #12311 "Error while doing import for a redhat base image"
I created a base image tar file from one of our redhat machines.
I than took that tar to another redhat machine on which i have docker installation and i ran import but it fails.

I took the import command from the docker docs:
`
cat ./rhel64.tar | sudo docker import - exampleimagelocal:new
`

and the error i'm getting:
`
FATA[0051] Error: Driver devicemapper failed to create image rootfs 9d405825

[2015-04-12 14:37] moxiegirl commented on #10458
@amouat Let's see how the other issue gets triaged. We definitely can't close this until we establish whether the existing syntax is functioning correctly.

[2015-04-12 15:09] icecrime commented on #7540
@discordianfish Unfortunately we still cannot entirely remove userland proxy, but we have a PR under review to make it optional (we need to keep support for older RHEL). See PR #12165.

[2015-04-12 15:11] aanm commented on #12246
@thaJeztah Definitely my system configuration, now it's working and I haven't touch powerstrip image.

[2015-04-12 19:16] MichaelBitard opened #12315 "CMD and ENTRYPOINT: shell form should print a warning"
As you can see in this blog post: http://agileek.github.io/docker/2015/04/12/docker-cmd/

When we use the shell form for CMD, it's wrapped around a /bin/sh which doesn't forward signals (according to the documentation), leading to potential big data loss or file corruption on production environment.

Since the most intuitive syntax is the most dangerous one, we think a warning message should appea

[2015-04-12 19:30] coffenbacher commented on #10616
I think the explanation on the single file limitation here makes sense, but I can't reconcile it with the docs (http://docs.docker.com/userguide/dockervolumes/#adding-a-data-volume). It seems to explicitly say the opposite?

*The -v flag can also be used to mount a single file - instead of just directories - from the host machine.*

    $ sudo docker run --rm -it -v ~/.bash_history:/.bash_history

[2015-04-12 19:41] aenertia commented on #10045
Hi I am travelling this week but will get back to this.

It sometimes works and sometimes doesn't I have it pinned down to something
in the docker network init fiddling sysctl flags when bringing up the
docker from systemd init scripts.
On Apr 10, 2015 7:25 PM, "Malte Janduda" <notifications@github.com> wrote:

[2015-04-12 19:45] duglin commented on #10616
@coffenbacher I'm not following. The docs say the same thing as what I said.  You can specify a host path via `docker run` but not during the build (via Dockerfile).  Or did I not understand what you're getting at?

[2015-04-12 19:50] phemmer commented on #12315
The shell syntax can be perfectly safe (with regards to signals) if used properly:

    CMD exec java -jar docker-stop-test-0.1-SNAPSHOT.jar

[2015-04-12 20:13] thaJeztah commented on #12315
I think a warning would be taking this too far. I understand that, without proper knowledge, people can shoot themselves in the foot with the shell notation. However, there are proper uses of the shell notation (as @phemmer showed), and there are many other things that people can shoot themselves in the foot with.

Perhaps some extra/better explanation and/or examples in the documentation?

[2015-04-12 21:10] MichaelBitard commented on #12315
@phemmer Yes, i know that with the `exec` syntax it's safe, I was just pointing out that the intuitive syntax (the command you would run within your terminal) is not the right one in CMD or ENTRYPOINT and can lead to a lot of trouble. This is explained in the documentation: https://docs.docker.com/reference/builder/#entrypoint but it's not very accessible.

Is there a way to browse into the Docker

[2015-04-12 21:18] thaJeztah commented on #12315
No, but I know @duglin recently ran some tests against a long list of Dockerfiles collected from GitHub

[2015-04-12 21:37] runcom opened #12316 "pkg/stdcopy NewStdWriter function has wrong doc comment"
`pkg/stdcopy` `NewStdWriter` function has wrong doc comment, `utils` is not correct, should be `stdcopy`
https://github.com/docker/docker/blob/master/pkg/stdcopy/stdcopy.go#L55

[2015-04-12 21:39] runcom commented on #12316
@thaJeztah could you add exp/beginner to this please? :)

[2015-04-12 22:12] progressor7 commented on #11382
[code]
[code]
I tried also overlay and default (devicemapper) storage drivers with exactly the same result.

[2015-04-12 22:25] prologic commented on #11382
My docker version was 1.5.0

I'll produce both outputs shortly.

James Mills / prologic

E: prologic@shortcircuit.net.au
W: prologic.shortcircuit.net.au

On Sun, Apr 12, 2015 at 9:15 AM, Sebastiaan van Stijn <
notifications@github.com> wrote:

[2015-04-12 23:28] LiamKarlMitchell opened #12317 "Breaking out of Docker into real file system."
I managed to map a volume then create a directory in it on my host os.
I then ssh'd into the docker image and cd'd into that directory.

Then I deleted the directory from my host os using del key on keyboard in nautalius.
This just moves it to the recycle bin.

when I did a cd .. in my terminal ssh'd to docker image it went up a level and I was able to traverse up more to get into home directory.

[2015-04-13 00:37] progressor7 commented on #11382
I just tried to set DOCKER_RAMDISK=true to aware docker about tmpfs, but a result was the same.

[2015-04-13 00:55] LK4D4 commented on #7333
@shazow I agree with you.
But how we can be sure that log won't be lost in gap between rename and SIGHUP?
And there is already implementation of rollover logging #11485

[2015-04-13 01:19] ebuchman commented on #1996
I've been noticing that `git clone` will hit the cache  but `go get -d` will not. any ideas why?

[2015-04-13 01:31] YanXiaoping commented on #12216
@thaJeztah , yes that works, thank you for your kind help.

[2015-04-13 01:38] duglin commented on #10839
What is your definition of a "throwaway" container?

[2015-04-13 01:45] duglin commented on #10928
@brandones are you still seeing this? I just tried it and I don't see the issue.  Perhaps its been fixed and we can close it?

[2015-04-13 01:54] duglin commented on #11016
@g17 is this still an issue? When I tried it I do see a nice error message now but I may be doing it slightly differently than you

[2015-04-13 02:11] mrkschan commented on #7333
@LK4D4 Try this gist using Python ^^? https://gist.github.com/mrkschan/200eca6e33aac3682c42 It simulates the gap between rename (logrotate) and SIGHUP.

IIRC, any content written to opened FD would keep writing to its inode. Any "concurrent" rename event would not make changes to opened FD. So, the gap between rename and SIGHUP would not have much downside.

But, when handling the SIGHUP log reope

[2015-04-13 02:12] shazow commented on #7333
Yup, moving the file does not change the file descriptor. You can keep writing to it. Reloading the writers will cause them to re-open the file and thus write to a fresh file descriptor.

[2015-04-13 02:21] duglin commented on #11021
@danbeaulieu I just tried this and I think its been fixed - please give it a try.

[2015-04-13 02:23] mrkschan commented on #7333
in my 2cents, log rotation itself can be very complicated due to usage of logs. e.g. you may gzip the rotated log, send it to somewhere, or even process it right after rotation. sending a signal to docker to reopen the log file and let external daemon to handle the heavy liftings would be great.

[2015-04-13 02:58] dbremmen opened #12319 "Interactive container hangs when executing from a Java Application"
Hi!

I'm trying to execute an interactive container from a Java Application (I'm building an online free Java compiler). But for some reason the termination signal is not received and the Java application thinks that the program continues running (Docker version 1.5.0, build a8a31ef)
The attached code hangs on the process.waitFor(). But if I remove the -i flag the program runs ok
Maybe this issue

[2015-04-13 03:31] smitec commented on #12067
+1 for links being name related, especially as names are forced to be unique. I wrote a workaround that edits `/etc/hosts` manually in the mean time. https://github.com/smitec/docker-hotswap

[2015-04-13 03:33] smitec commented on #2733
+1 wrote a workaround that edits `/etc/hosts` manually which may help some people in the interim https://github.com/smitec/docker-hotswap

[2015-04-13 03:51] sagiegurari commented on #12311
sorry, seems I had an issue with my installation of docker and it got corrupted.
I did uninstall, removed the entire /var/lib/docker and install again and it worked.

[2015-04-13 03:51] #12311 closed

[2015-04-13 04:32] mingfang commented on #12169
That's a potential solution.
Maybe a MOUNT command is even more to the point.

[2015-04-13 04:39] liuyunsh commented on #9661
@thaJeztah ，yes, still have the same issue.
[root@tengzhen ~]# docker version
Client version: 1.3.2
Client API version: 1.15
Go version (client): go1.3.3
Git commit (client): 39fa2fa
OS/Arch (client): linux/amd64
Server version: 1.5.0-dev
Server API version: 1.18
Go version (server): go1.3.3
Git commit (server): fc0329b/1.5.0

Environment CentOS7
Kernel:
[root@tengzhen ~]# uname -r
3.10.0-123.el7.

[2015-04-13 05:08] bladedoyle commented on #10031
Seems like there is only a problem if docker is already using the interface that VBox tries to create the bridge on.  Based on the comments by @mbentley I installed a second interface and (as a workaround until this is fixed) am able to use one interface for Docker and the other for VBox.

[2015-04-13 05:42] thaJeztah commented on #12216
If you have ideas how that part of the documentation can be improved (perhaps a practical example); we're open to suggestions. Feel free to create a pull-request!

[2015-04-13 05:57] progressor7 commented on #11382
I resolved my issue by exporting DOCKER_RAMDISK=true before starting docker daemon.

[2015-04-13 06:05] thaJeztah commented on #12311
No problem, thanks for reporting back and closing; much appreciated!

[2015-04-13 06:24] YanXiaoping commented on #12216
@thaJeztah
As this is about curl command syntax, I will not create pull-request for it.
Thank you.

[2015-04-13 06:59] thaJeztah commented on #12317
Thanks for reporting. Please, in future, and even if you only *suspect* it to be a security issue, report them via security@docker.com as described in the [README](https://github.com/docker/docker/blob/master/README.md#security-disclosure).

I'm going to ping some people to have some eyes on this;

ping @ewindisch @jfrazelle @crosbymichael

[2015-04-13 07:15] mikehaertl commented on #10839
Those that are created when you run `docker run ...` or `docker-compose run ...` and forget to use the `--rm` option. For example, you're unsure about the exact contents of your freshly built image, so you do `docker run my-image ls -l /some/dir`.That's what I did pretty much when I started with docker and this created many orphaned containers.  It was always very hard to identify those abandoned

[2015-04-13 08:05] blackfader opened #12322 "docker cpu performance issue"
hi all
background

one lvs have a xen virtual machine and a docker container ，I find xen cpu idle 80%，and docker container cpu idle is 0。

xen and docker pv and net IO is same。

docker container cpu performance far less xen cpu？

I test use sysbench

[code]

docker container spend 30s and xen spend 35s，this explain docker cpu is better xen。

but run php-fpm，xen idle 80，docker idle is 0！

ps： docke

[2015-04-13 08:05] jedi4ever commented on #12267
thx @duglin !

[2015-04-13 08:09] diezcode opened #12323 "Removed Container starts automatic after time?"
Hi,
Ich have a Problem with the docker containers. I stop a container and remove them. After a time the container starts alone and runs. Why? I have removed that container.

sudo docker stop
sudo docker rm

[2015-04-13 08:12] pdonorio commented on #7198
+1

[2015-04-13 08:13] UserTaken opened #12324 "Add detection for F2FS and JFS backing filesystem"
I've been testing the somewhat recently merged OverlayFS on a variety of filesystems when I noticed that `docker info` only recognizes `Ext2/3/4` and `ReiserFS`. Using `XFS`, `F2FS`, or `JFS` will result in `Backing Filesystem: <unknown>` although Docker seems to still works as normal as far as I can tell.

[code]

[2015-04-13 08:17] pdonorio commented on #7906
Is this already available in the latest 1.6 rc?

[2015-04-13 08:25] jmtd commented on #11012
Very likely, thanks — I'll try it with ext4 today and see how I get on.

[2015-04-13 08:36] resouer commented on #12281
#dibs we'd like to have a look into this

[2015-04-13 08:48] xiaods commented on #12316
#dibs

[2015-04-13 08:49] christianparpart commented on #7333
i don't get your big buzz around. What is so difficult in adding a trap to SIGHUP and re-open all log files the docker process is writing to. Let the admin handle the rest, that is, invoking logrotate daily on those log files and invoke `kill -HUP $(pidof docker)` inside the logrotate config script. keep it simple.

[2015-04-13 08:50] dalanlan commented on #12151
ping @runcom
actually `ps` & `inspect_container` are using the same handler `getImagesJSON`. So i believe it`s already done there.

[2015-04-13 08:56] unclejack commented on #12322
@blackfader Please provide the full output of `docker info` and `docker version`.

[2015-04-13 08:57] dalanlan commented on #12151
@tiborvass
i would like to take `graph` :)

[2015-04-13 09:00] runcom commented on #12151
@dalanlan `container_inspect` job uses `daemon.ContainerInspect` to my best knowledge

[2015-04-13 09:06] dalanlan commented on #12151
@runcom
aha, terribly sorry... i misunderstood at the very beginning.
Would you mind if i give it a try?

[2015-04-13 09:19] blackfader commented on #12322
[root@w-docker23 098047a3092ca25192c0acc4579b5fc0e80fa69821f96cb4f4eafcc40545b2a5]# docker version
Client version: 1.4.1
Client API version: 1.16
Go version (client): go1.3.3
Git commit (client): 5bc2ff8
OS/Arch (client): linux/amd64
Server version: 1.4.1
Server API version: 1.16
Go version (server): go1.3.3
Git commit (server): 5bc2ff8
[root@w-docker23 098047a3092ca25192c0acc4579b5fc0e80fa69821f9

[2015-04-13 09:47] gdm85 commented on #12294
I made [https://github.com/gdm85/docker-fw this utility] to cover a similar need: being able to restore sets of iptables rules that affect multiple containers.

[2015-04-13 09:57] gdm85 commented on #12000
I think dup of my old #5779, there is a workaround there but feel free to keep it open if you have new arguments for this feature request.

[2015-04-13 09:58] unclejack commented on #12322
@blackfader Please read below:
1) You're using a custom kernel on RHEL 6/CentOS 6. RHEL6 and CentOS6 don't support custom kernels, only the official 2.6.32. We don't support such custom setups either.
2) The exact CPU accounting and usage depends on the environment. Docker does nothing to lower/increase it when doing simple processing, compared to running the code outside of a container. Performan

[2015-04-13 09:58] #12322 closed

[2015-04-13 10:00] discordianfish commented on #7540
@icecrime Okay, so if we still support this we should look into this problem here.

[2015-04-13 10:05] gdm85 commented on #9413
@Chris00 I had read the API calls transcript, but I was wondering if there are any peculiar ways to reproduce the problem. Not out of laziness but for clarity I was asking if you had something more resembling a testcase, and information about docker daemon options and graph driver.

Can you provide the ``docker info``? This issue could be related to the graph driver and/or the type of host filesys

[2015-04-13 10:18] oncletom commented on #9665
I encounter this issue as well with docker 1.4.1.  It happens on a busy machine within a processing pipeline:

[code]

[2015-04-13 10:27] lvangool opened #12327 "Docker build that fails with overlay storage backend only?"
This Dockerfile doesn't seem to build with the **overlay** storage backend:
[code]

It ends up spitting out the below errors:
[code]

The *same* Dockerfile works with both **AUFS** and **DeviceMapper** storage backends (have not tried with BTRFS).

docker version:
[code]

docker info:
[code]

uname -a:
[code]

Any suggestions or additional info I can provide?

[2015-04-13 10:37] nomeata opened #12328 "Restarting the system makes Exited containers appear"
I repeatedly observe this behaviour on our machine, which is an Debian wheezy system with docker 1.5 from `http://get.docker.io/ubuntu` and runs many very short-living containers using `docker run --rm`:

During regular operation, `docker ps -a` shows no containers, or sometimes one of the short-running. But after a restart of the system, there is suddenly a large number of containers listed:

[co

[2015-04-13 11:06] unclejack commented on #12328
@nomeata Please provide the full output of `docker info` and `docker version`.

[2015-04-13 11:11] nomeata commented on #12328
Sure:
[code]

[2015-04-13 11:16] cpuguy83 commented on #7333
This is just the wrong approach.
Docker 1.6 includes support for syslog, this is what you should be using in production if you care about your logs.
The json log file is more for dev.

The enhancements in the mentioned PR above solves this issue quite well when you are using the json log (which again should not be relied on for prod environments)

[2015-04-13 11:19] mrkschan commented on #7333
Good to here syslog adoption in docker :)

[2015-04-13 11:29] bubenkoff commented on #10218
disabling iptables worked for me to fix this issues
but should it (firewall issue) be reported properly by docker then?
error code 1 and nothing in logs doesn't tell you much...

[2015-04-13 11:31] AntouanK opened #12330 "All docker containers exit with `FATA[2426] unexpected EOF`"
I have a CoreOS machine, running 10 containers.
Most of them are microservices with io.js/express ( there's also a MongoDB and a REDIS db ).
I noticed a couple of times all of them exited together(!).
Here's `docker ps -a` after the "crash"
![screen shot 2015-04-13 at 12 24 56](https://cloud.githubusercontent.com/assets/4569111/7114767/70362a34-e1d8-11e4-9e25-6b2faba01aa5.png)

And here's `docker

[2015-04-13 11:34] zopyx commented on #10218
Docker must perform much more consistency checks for checking kernel,
distro constraints etc. Right now Docker users remain standing in the rain.

2015-04-13 7:30 GMT-04:00 Anatoly Bubenkov <notifications@github.com>:

[2015-04-13 11:35] thaJeztah commented on #9661
@liuyunsh thanks.

The version of Docker you are running is a version maintained by CentOS, not by Docker. There are a number of known issues with that version, and although I'm not sure this is one of them, you might try installing a "vanilla" version that is maintained by Docker to see if that resolves your issue.

For some background information, and instructions on how to switch to a "vanilla"

[2015-04-13 11:46] bubenkoff commented on #10218
+1

[2015-04-13 12:34] duglin commented on #7906
Not yet - plan is for v1.7

[2015-04-13 12:35] duglin commented on #12267
thanks for reporting it!

[2015-04-13 12:37] phemmer commented on #12330
Smells like your box is running out of memory and the kernel is killing things trying to get some back.

Try logging into the box and running `dmesg`. Look for out of memory alerts (search for the text `Out of memory`).

[2015-04-13 12:40] phemmer commented on #12330
Oh, and if you're using coreos, it's also possible the box is doing it's automatic upgrade. Check `uptime` on the box to see if it's rebooted. Also check `journalctl -u docker.service` to see if the docker daemon is being restarted for some other reason.

[2015-04-13 12:43] vdemeester commented on #12319
Seems like it might be related to #11957 :(

[2015-04-13 12:45] thaJeztah commented on #12281
Thanks, @resouer. Don't forget to include `closes #12281` in the description of your pull-request.

[2015-04-13 12:48] duglin commented on #10839
@mikehaertl thanks for the additional info.

@tiborvass the other day you were asking for an example of a case where there might be a config file option w/o a corresponding cmd line flag. I think the solution here, if we want to do anything, is a config file flag that means "if the user didn't specify --name or --rm on 'docker run' then add --rm=true automatically".  This will give the net effect

[2015-04-13 12:50] sjoerdmulder opened #12332 "docker login fails from CLI when password contains URI character"
Got locked-out of my account when trying to login with CLI and a password that looked something like:
[code]
When changing my password in the web interface to a variant without the special charaters like `%` and `&` i can login.

[2015-04-13 13:09] AntouanK commented on #12330
@phemmer Sounds like you found it.
[code]

So should I limit the memory on each container? or do I just increase the RAM in my VM?

Thanks.

[2015-04-13 13:20] AntouanK commented on #12330
Also, how can I see how much memory each container asks for?
Is that still not provided somehow? ( http://stackoverflow.com/questions/18956063/memory-usage-of-docker-containers )

[2015-04-13 13:23] runcom commented on #12151
sorry @dalanlan I've alreay done it, just waiting `logs` to be merged so I can rebase it upon :(

[2015-04-13 13:25] cpuguy83 commented on #12330
@AntouanK If prod, always setup RAM/CPU limits for your containers :)

You can see what individual processes are using in the container with `docker top <container>`
You can see the overall cpu/mem/net usage via `docker stats <container>`

[2015-04-13 13:27] AntouanK commented on #12330
Of course there is a `stats` command...
https://docs.docker.com/reference/commandline/cli/#stats
I should check the CLI first...
Thanks @cpuguy83

[2015-04-13 13:28] cpuguy83 commented on #12330
Are we good to close this issue?

[2015-04-13 13:29] mikehaertl commented on #10839
@duglin Sounds good.

[2015-04-13 13:30] AntouanK commented on #12330
Yeah. Thanks for the help...

[2015-04-13 13:50] cpuguy83 commented on #12330
The status codes you see from `docker ps` are from the application in the container, not Docker,
Is that what you're referring to?

[2015-04-13 13:50] #12330 closed

[2015-04-13 13:53] cpuguy83 commented on #12327
Can you try with either the master build or the latest 1.6 RC?
https://master.docker.com for master binary
https://github.com/docker/docker/pull/11635#issuecomment-90205104 for 1.6 RC

[2015-04-13 13:57] cpuguy83 commented on #12316
Closed by #12326

[2015-04-13 13:57] #12316 closed

[2015-04-13 13:57] AntouanK commented on #12330
@cpuguy83 Well, those `FATAL[0000]` type of errors are from Docker, right?
Check the screenshots above to see what I mean.

[2015-04-13 14:00] phemmer commented on #12330
Yes, but they're from the docker client. The OOM killer likely killed the docker daemon on the remote host, so your docker client dumped that EOF error because it lost the connection.

[2015-04-13 14:03] AntouanK commented on #12330
Yeah, sounds like it. My current issue is completely solved.
I'm saying, just for future reference, is there a list somewhere to see that error code `2426` refers to for example?

[2015-04-13 14:24] cpuguy83 commented on #12330
I'm pretty sure that's a timecode or something from the logger.

[2015-04-13 14:52] gossmanster commented on #12177
I still don't know why the daemon sometimes fails to create the bridge. But #11945 mitigates the problem. Without #11945, the post_start script just sits around waiting for docker.sock and Upstart doesn't respawn the job. With it, it gets respawned and *I believe* it will work on a later try. I can't prove this because I don't have a way to push a new docker.conf into the apt package and retry the

[2015-04-13 15:29] cpuguy83 opened #12334 "(master) links shows error when restarting linked-to container"
With master binary:

[code]

Links still work, however it seems removed containers are not being de-refed properly in the link graph.

[2015-04-13 15:33] coffenbacher commented on #10616
Yes, I read closer and you're correct, thanks. I was seeing behavior that didn't match the docs - I saw the empty directory behavior when I used the -v parameter at ```docker run``` time, which brought me to this issue. However, when I went back to repro it today on 1.5 I couldn't, it worked as expected. If anyone finds this with the same issue, probably try updating your Docker client, since that

[2015-04-13 15:37] runcom commented on #12334
I'll try to  dig arund

[2015-04-13 16:10] runcom opened #12335 "check statusCode from sockRequest"
`sockRequest` from ` integration-cli/docker_utills.go` now returns `http.Response.StatusCode` as its first return value. https://github.com/docker/docker/blob/master/integration-cli/docker_utils.go#L301

It would be great if response's status code it's checked where it makes sense
some examples to look for:
https://github.com/docker/docker/blob/master/integration-cli/docker_api_containers_test.go#

[2015-04-13 16:16] #12083 closed

[2015-04-13 16:17] amamut opened #12336 "Cron within container does not run"
I have an image built with ubuntu:14.04 which has some cron job which trigger. When I run the container locally, on Ubuntu 14.04 machine, cron jobs trigger just fine. But when the container is run on a Google Cloud VM running CoreOS 607.0.0 cron jobs do not trigger at all. Container says that cron service is running but the log does not display any run logs.

Any help is appreciated

[2015-04-13 16:42] ewindisch commented on #12317
To exploit this you must already be root on the host, or have access to the Docker socket (which is equivalent to being privileged/root on the host)

[2015-04-13 16:47] thaJeztah commented on #12317
True; that was my initial impression as well, and it surely is a corner-case, still it doesn't sound good. Are there other situations where a folder gets moved?

[2015-04-13 16:52] bboreham opened #12337 "Contributor Guide git push after rebase needs -f"
The last `git push` at the bottom of https://docs.docker.com/project/work-issue/#pull-and-rebase-frequently will fail, I think, unless it has `-f` added.

This is because the tip of the current branch will not match the remote repository, so Git will reject the update.

[2015-04-13 16:52] ewindisch commented on #12317
Docker itself doesn't move the volume source directories. It's an operational concern for users to make sure they don't do this or have tools doing this. We should have this documented.

[2015-04-13 17:04] thaJeztah commented on #12317
Agreed. I'm currently typing on my phone, but if you have thoughts already on how this should be put in words, that'd be great :)

[2015-04-13 17:07] lvangool commented on #12327
Tested, exact same problem I'm afraid.

docker version:
[code]

[2015-04-13 17:21] thaJeztah commented on #12337
Yes, sounds correct, well spotted! Are you willing to make a pull-request?

[2015-04-13 17:23] thaJeztah commented on #12337
Oh, and if you *are* planning a PR; please check if there isn't an existing issue covering this (I know there were some recently)

[2015-04-13 17:24] dmcgowan commented on #10928
We added some better error logging since 1.5.0 which should help diagnose if there was a connectivity issue with the hub, however I also don't see any indication that a pull was being attempted.

[2015-04-13 17:28] unclejack commented on #12336
@amamut Some actual commands, Dockerfiles involved, step by step instructions would help and  output from `docker info`, and `docker version`. There's no way to help without all the bits of information.

[2015-04-13 17:30] haldean commented on #10355
I'm seeing a similar thing (same kernel, same syslog messages), but the client can't connect to the daemon at all; it fails with `read unix /var/run/docker.sock: connection reset by peer. Are you trying to connect to a TLS-enabled daemon without TLS?`. This all started happening after a reboot. Did you find a fix?

[2015-04-13 17:31] ehazlett commented on #12323
@diezcode thanks for the report.  would you mind adding the version of Docker you are using and the command and args you started the container with?

[2015-04-13 17:50] LK4D4 commented on #12327
Yup, I can confirm in master.

[2015-04-13 17:53] runcom commented on #12151
removing from `restart`

[2015-04-13 18:14] brandones commented on #10928
Just spun up a machine on which the failure occurred last time, was unable to repro.

[2015-04-13 18:24] leandro-lucarella-sociomantic opened #12339 "docker rmi tries to delete tagged parents and throws error"
Description of problem:

I'm experiencing the issue described here: https://bugzilla.redhat.com/show_bug.cgi?id=1097884

Basically, when having one image (hash aaa) with 2 different tag names (a1:latest and a2:latest), and creating a new image (hash bbb) based on that one, if I try to remove the new image I get this error: `Error response from daemon: Conflict, cannot delete image aaa because it i

[2015-04-13 18:40] jdmarshall commented on #12336
Err, I thought this was a known issue?  Docker doesn't run initd, and therefore cron doesn't work.

Has that changed in recent builds?  I thought fixing this was still on the roadmap for later.

(If all else fails, phusion's baseimage-docker has a workaround for this, but it bends the Docker philosophy considerably to do it)

[2015-04-13 18:41] #12022 closed

[2015-04-13 18:44] #10426 closed

[2015-04-13 18:47] estesp commented on #10426
@fishtek @jwilder this is now fixed in upstream master, but did not make the 1.6.0 release; so unless there is a 1.6.1, it will be in 1.7.0; apologies for not catching the problem with the initial fix.

[2015-04-13 18:50] #11087 closed

[2015-04-13 19:09] amamut commented on #12336
I figured out the issue. I just created an entrypoint starting cron && apache. Problem was that I was separating the 2 and cron wasn't running.

Seems to be working now. Thanks!

[2015-04-13 19:09] #12336 closed

[2015-04-13 19:15] thaJeztah commented on #10928
Thanks for reporting back, @brandones I'm going to close this issue because you're no longer able to reproduce.

Feel free to "ping" me if you encounter this problem again, then I will re-open.

[2015-04-13 19:15] #10928 closed

[2015-04-13 19:37] #6980 closed

[2015-04-13 19:42] thaJeztah commented on #12324
Detection for XFS was recently added in https://github.com/docker/docker/commit/dd56fa190695a969673f6f663cd5fe78b7c22787#diff-eb198973865e44ce0284717e90818e60, Not sure about F2FS (I see this reference in docker 1.5 https://github.com/docker/docker/blob/v1.5.0/daemon/graphdriver/driver.go#L27 but I could be wrong there; not sure if that is for F2FS)

Are you able to test this on a 1.6 release cand

[2015-04-13 19:45] thaJeztah commented on #12324
/cc @estesp perhaps you can confirm if we're currently testing for F2FS (the constant is a bit cryptic)

[2015-04-13 19:50] thaJeztah commented on #12324
Almost forgot to mention that part; Docker showing `<Unkown>` should be harmless; checking the underlying filesystem is used to warn for *known* incompatible combinations; outputting them as part of `docker info` is a nice extra, and can help debugging issues.

[2015-04-13 19:52] MGNOO commented on #12087
I am having this issue as well, none of the steps suggested have fixed the issue.

[2015-04-13 19:53] estesp commented on #12324
correct, it's probably good to add more known filesystems, but won't actually impact Docker runtime at all. We can add f2fs and jfs logging to backing filesystems.

[2015-04-13 20:02] LK4D4 opened #12343 "Fix vet warning in pkg/chrootarchive/archive.go"
[code]
This can be done by replacing `var output bytes.Buffer` with `output := bytes.NewBuffer(nil)` and removing `&` below. Or with adding `String()` method call to `output` in error.
sorry @estesp . I was wrong :)

[2015-04-13 20:04] estesp commented on #12343
ha.. I can't believe it! You have never been wrong in my history of knowing you!! :)  But I will forgive you this time :)

[2015-04-13 20:06] thaJeztah commented on #12324
I updated the title, so that the "hunt for finding the correct magic bits" can start :)

[2015-04-13 20:07] duglin commented on #4136
PR #12344 should solve this one

[2015-04-13 20:10] kostickm commented on #12324
#dibs

[2015-04-13 20:13] thaJeztah commented on #12324
That was quick, thanks @kostickm!

[2015-04-13 20:13] #11970 closed

[2015-04-13 20:15] kostickm commented on #12324
No problem :) @thaJeztah

[2015-04-13 20:21] thaJeztah commented on #12343
!m @LK4D4 :smile:

[2015-04-13 20:32] #10824 closed

[2015-04-13 20:47] #11721 closed

[2015-04-13 20:56] kostickm commented on #12343
#dibs

[2015-04-13 21:06] DieterReuter commented on #11486
:+1:

[2015-04-13 21:09] tknerr commented on #11486
:+1: would make it easier to use the latest docker client with boot2docker definitely.

Btw: is there some SemVer for docker protocol versions? Any notion of forwards or backwards compatibility? Or will it just be luck in the end ;-)

[2015-04-13 21:13] ahmetalpbalkan commented on #11486
@tknerr current status is: clients (API version: `x`) can talk to engines (API version: `y`) only if `x ≤ y`.

[2015-04-13 21:17] bitliner commented on #5900
It is happening on my laptop with kernel `Linux bitliner-laptop 3.13.0-37-generic #64-Ubuntu SMP Mon Sep 22 21:28:38 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux`

ubuntu 14.04

docker-info
[code]

docker version
[code]

[2015-04-13 21:20] tknerr commented on #11486
@ahmetalpbalkan ok understand, so that's why there should probably be a big DANGER sign when using `DOCKER_APIVERSION` ;-)

Is there any notion of `major.minor` or does it just look like so? I.e. `1.x` clients can talk to `1.y` engines if `x ≤ y`, but never to `2.z` engines?

[2015-04-13 21:25] ahmetalpbalkan commented on #11486
@tknerr Well, I assume 2.x would be a breaking change, that's why we have API v1.**19** now. :) But I'm not sure if there's any promises around this.

[2015-04-13 21:27] thaJeztah commented on #12332
@sjoerdmulder can you add the output of `docker version`?

[2015-04-13 21:28] jacoelho opened #12346 "docker pull/push adding a back slash to the registry name"
issue:
Docker is adding a back slash to the url, when using a private registry

[code]

boot2docker version
[code]

docker version
[code]

docker info
[code]

[2015-04-13 21:45] florentvaldelievre opened #12347 "Docker pull / push and custom DNS"
I noticed we can use --dns=XXX with docker command.
However, it does not seem to work with docker pull and push

[code]

dig lookup:

[code]

Is it only working with container and docker run ?
Thanks!

[2015-04-13 21:56] thaJeztah commented on #5900
@bitliner according to the info you included, you're running with `aufs`, not `btrfs`, so that's probably not related.

[2015-04-13 22:01] pbhavsar211 opened #12348 "default parameters does not enable docker container monitoring"
we can no find that cpu, memory etc. monitoring is enables on docker container, however documentation says that we have to set custom parameters to make it enable.  "Generally, to enable it, all you have to do is to add some kernel command-line parameters: cgroup_enable=memory swapaccount=1."

how to add kernel parameters ?

[2015-04-13 22:02] draghuram commented on #12337
I too found the missing "force" option when I had to update my PR recently. @bboreham, I can submit the change if you don't want to.

[2015-04-13 22:12] dmp42 commented on #12346
cc-ing @dmcgowan

(was not able to reproduce / have never seen this)

[2015-04-13 22:18] tknerr commented on #11486
This is what I get with latest docker client 1.5.0-dev, build 7ecf4e5 (1.19) + boot2docker 1.5.0 (1.17):

 * `boot2docker init`
 * `boot2docker up`
 * `for /f "tokens=2" %i in ('boot2docker shellinit') do set %i` (thanks @StefanScherer)
 * `sed -ibak -b docker.exe -e 's/1.19/1.17/g'`

Then on `docker ps`, `docker images`, etc... I get this:
[code]

Not sure if this is a protocol incompatibility he

[2015-04-13 22:18] bitliner commented on #10613
It is happening on my laptop with kernel Linux bitliner-laptop 3.13.0-37-generic #64-Ubuntu SMP Mon Sep 22 21:28:38 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

ubuntu 14.04

docker-info

Containers: 0
Images: 691
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 691
Execution Driver: native-0.2
Kernel Version: 3.13.0-37-generic
Operating System: Ubuntu 14.04.2 LTS

[2015-04-13 22:19] tknerr commented on #11486
If the latter `sed` is the issue this would be another big :+1: for using an env var

[2015-04-13 22:26] ahmetalpbalkan commented on #11486
@tknerr you should almost never edit a binary like that. :) just edit `api/common.go` and recompile.

[2015-04-13 22:28] dmp42 commented on #10613
@bitliner is this a inode exhaustion issue? (see previous comments)
or purely disk space?

[2015-04-13 22:31] dmp42 commented on #12347
IIRC `--dns` is a daemon option (not client).
So, restart your docker daemon using --dns. (https://docs.docker.com/reference/commandline/cli/#daemon-dns-options)

[2015-04-13 22:31] bitliner commented on #10613
I have 8.8gb free, I guess it is inode exhaustion, I'll check it out

[2015-04-13 22:36] thaJeztah commented on #12324
@UserTaken I reopened the issue, it will be closed automatically once #12345 is merged :)

[2015-04-13 22:46] tknerr commented on #11486
@ahmetalpbalkan 100% agree. Just heard some success from @stefanscherer with that and thought it would be faster to try... ;-)

[2015-04-13 22:50] tknerr commented on #11486
So I need docker to build docker? That's consequent...

[2015-04-13 22:52] jfrazelle commented on #12182
@lsm5 the binary I am getting from virt7-testing has the RH patches it is *not* vanilla docker

[2015-04-13 23:01] ahmetalpbalkan commented on #11486
@tknerr officially, yes.

Unofficially, if you want to build just the client binary, you just need the Go compiler ( see [this guide](https://ahmetalpbalkan.com/blog/compiling-docker-cli-on-windows/) –you need to slightly change for OS X/Linux obviously). That's the solution I recommend to my colleagues to get around this problem.

[2015-04-13 23:03] tknerr commented on #11486
thanks @ahmetalpbalkan!

[2015-04-13 23:21] dmcgowan commented on #12346
Can you please `curl -v https://registry.dev/v1/repositories/busybox/images` the registry endpoint and see what is returned for "X-Docker-Endpoints:".  My suspicion is the registry is returning "\registry.dev" as an endpoint, after which the Docker daemon will happily use.  Either way, this would not be a problem with the daemon.  Only daemon change could possibly be to sanitize the response from

[2015-04-13 23:24] thaJeztah commented on #12000
@gdm85 ah, thanks. For reference, workaround is explained here https://github.com/docker/docker/issues/5779#issuecomment-59946467

@kryton will the hints here help you solve your use-case, or do you prefer to keep it open?

[2015-04-13 23:41] thaJeztah commented on #11012
(I added the "overlay" label again, but I see that it has been added/removed a few times, so if there's a particular reason to **not** have this label, please leave a comment :))

[2015-04-13 23:47] thaJeztah commented on #11021
The current release candidates can be found here; for testing: https://github.com/docker/docker/pull/11635#issuecomment-92482581

[2015-04-13 23:57] xarses commented on #8719
no longer reproduces, below from positive result
[code]

[2015-04-14 00:32] #12324 closed

[2015-04-14 01:50] ahmetalpbalkan commented on #12347
@dmp42 client binary does not have a `--dns` option.

However if I use **the daemon binary as client** with `--dns`, such as:

    docker -H example.com:4243 --dns 8.8.8.8 ps

so from the `docker -h` output for both cli/daemon binaries, it's not clear to me in this case if `--dns` will be used for:
* all the containers in the daemon by default
* for pulling the images by the daemon
* resolving the

[2015-04-14 01:56] vbatts commented on #12327
@LK4D4 what kernel version are you running and underlying filesystem (ext4?)?

[2015-04-14 02:30] cpuguy83 opened #12355 "integration-cli dockerCmd function doesn't return error"
In `integration-cli/docker_utils.go` is a function used in many many places in the integration-cli tests called `dockerCmd`.

This functions signature is: `func dockerCmd(t *testing.T, args ...string) (string, int, error)`
However, `error` is never returned since it fails out the test with: `t.Fatalf("%q failed with errors: %s, %v", strings.Join(args, " "), out, err)` if there is an error.

Then a

[2015-04-14 03:04] gomex commented on #7198
+1

[2015-04-14 03:46] shazow commented on #7333
Syslog support is lovely, but is that what we're talking about? This issue was closed because it was claimed to be obsoleted by #8911 which is not true.

Why? Is that the official docker stance now? Are json logs going to be deprecated and syslog is going to become the default? (I haven't seen any discussion to this effect.)

It doesn't solve it as well as logrotate, and with more complexity.

[2015-04-14 04:11] Mashimiao opened #12359 "make build failed because fmp"
$ docker version
Client version: 1.5.0-dev
Client API version: 1.19
Go version (client): go1.4.2
Git commit (client): 11c01d9-dirty
OS/Arch (client): linux/amd64
Server version: 1.5.0-dev
Server API version: 1.19
Go version (server): go1.4.2
Git commit (server): 11c01d9-dirty
OS/Arch (server): linux/amd64
When I used 'sudo make build', I got the following error message:
ERROR:  Could not find a va

[2015-04-14 04:13] jfrazelle commented on #12359
Can you give the full output, also docker info

On Mon, Apr 13, 2015 at 9:11 PM, Ma Shimiao <notifications@github.com>
wrote:

[2015-04-14 04:52] Mashimiao commented on #12359
$ docker version
Client version: 1.5.0-dev
Client API version: 1.19
Go version (client): go1.4.2
Git commit (client): 2616c8e-dirty
OS/Arch (client): linux/amd64
Server version: 1.5.0-dev
Server API version: 1.19
Go version (server): go1.4.2
Git commit (server): 2616c8e-dirty
OS/Arch (server): linux/amd64
[mashimiao@G08FNSTD121139 docker]$ docker info
Containers: 4
Images: 50
Storage Driver: overl

[2015-04-14 04:57] jfrazelle commented on #12359
pretty sure something is wrong with your clone because it should be fpm not
fmp

On Mon, Apr 13, 2015 at 9:52 PM, Ma Shimiao <notifications@github.com>
wrote:

[2015-04-14 05:04] Mashimiao commented on #12359
Step 22 : RUN http_proxy="http://10.167.225.56:8123" gem install --no-rdoc --no-ri fpm --version 1.3.2
 ---> Running in ad3d684f4f64
ERROR:  Could not find a valid gem 'fpm' (= 1.3.2) in any repository
ERROR:  Possible alternatives: fpm

[2015-04-14 05:13] xer0x commented on #3182
Thanks @JohnMorales. A little warning about this from Docker would be a great idea.

[2015-04-14 05:21] tknerr commented on #11486
@ahmetalpbalkan worked like a charm, thanks!

Concerning the name/value of the env var, do you want the user to give a specific version?

Or should it rather be something like `DOCKER_VERIFY_PROTOCOL_VERSION=0`?

[2015-04-14 05:22] feiyang21687 opened #12361 "Docker file ADD with URL should using cache without download"
We have a Dockerfile like below:

[code]

And docker will download consul.zip every time, and check whether to use cache:

[code]

Why not just check the URL first to decide whether to use cache, that will save build time.

I know the remote zip file will be changed, but there has clear cache ability of docker build, so I think it's not a problem.

[2015-04-14 05:22] tknerr commented on #11486
...or akin to `DOCKER_TLS_VERIFY` sth like `DOCKER_PROTOCOL_VERIFY`?

[2015-04-14 05:25] Mashimiao commented on #12359
I think maybe my network setting cause this issue.
It sometimes fails but sometimes works

[2015-04-14 06:01] thaJeztah commented on #12324
@UserTaken the PR was merged, which means this will be part of the 1.7 release (1.6 is just around the corner, so probably too late for that).

If you're adventurous and want to test it (**not** on a production / critical machine!), you can download the latest build from https://master.dockerproject.com

[2015-04-14 06:08] JensErat commented on #10412
No, problem still persists and I did not even receive an answer.

[2015-04-14 06:15] ahmetalpbalkan commented on #11486
@tknerr verification is not done on client side, it's done on server side (e.g. client calls `/v1.19/images`). Alternatively we can directly call `/images` (this also works) but I think `DOCKER_API_VERSION` is better in this case.

[2015-04-14 06:26] florentvaldelievre commented on #12347
Thanks.
However, i also tried to add --dns to the daemon args:

Daemon args
[code]
Restarted docker

Problem persists
[code]

It seems to be only a container option. As @ahmetalpbalkan the doc is not really clear about it.

[2015-04-14 06:29] SamSaffron commented on #10824
@wonderflow  thanks for the fixes !

[2015-04-14 06:33] cades commented on #11247
+1

[2015-04-14 06:41] lsm5 commented on #12182
@jfrazelle are we talking about this one: http://cbs.centos.org/koji/buildinfo?buildID=682 . Let me know what `rpm -qi docker` says for your system.

[2015-04-14 06:46] StefanScherer commented on #11486
I've just tested the latest `docker.exe` with protocol v1.19. And yes, I get the same golang errors as above. Patching the docker.exe does not work because the `sed` replaces more than the one

The correct command for this brute force patch is

[code]

I've tested it on my Mac with this little helper VM ( https://github.com/StefanScherer/docker-windows-box ) I've built today

[code]

So setting th

[2015-04-14 07:01] jacoelho commented on #12346
you are correct:
[code]

digging registry code the X-Docker-Endpoints is set with the value of HTTP_HOST, which was escaped by mistake in the nginx.conf

Thank you!

[2015-04-14 07:01] #12346 closed

[2015-04-14 07:06] tknerr commented on #11486
@ahmetalpbalkan makes sense, thanks for explaining

Btw: I'm coming quite close with the help of [your guide](https://ahmetalpbalkan.com/blog/compiling-docker-cli-on-windows/), but what makes some problems is that `docker -v` does not work properly:
[code]

Running `docker version` works though:
[code]

Is there anyting else I need to do other than `go build` to get this working?

[2015-04-14 07:09] ahmetalpbalkan commented on #11486
@tknerr that's expected when you're building outside of a container (unofficial build).

[2015-04-14 07:09] ahmetalpbalkan commented on #11486
Also please keep "how can I get this working" questions out of this issue. This is a proposal for an implementation.

[2015-04-14 07:46] ahmetalpbalkan commented on #11581
@jfrazelle I think we now have Godoc in this pkg (#11952). it's just missing a README but do we really need that?

[2015-04-14 07:52] UserTaken commented on #12324
@thaJeztah I compiled the Docker binary and XFS, F2FS, JFS are all being recognized :)

[2015-04-14 07:56] vdemeester commented on #12361
I think it's documented, or at least it should. It's kind of a design decision, because some servers do not respect the Cache/Expire & co HTTP headers. How would you decided to use cache or not without checking these headers ?

[2015-04-14 07:57] thaJeztah commented on #12324
Thanks for testing @UserTaken, good to hear it's all working.

[2015-04-14 07:58] ahmetalpbalkan commented on #12335
#dibs

[2015-04-14 07:59] ahmetalpbalkan commented on #12335
@runcom `sockRequest` already includes the status code in the returned error message, however there are some test cases that do checks like `strings.Contains(err.Error(), "201 Accepted")`, I'm cleaning up those with the new status code retval.

[2015-04-14 08:04] runcom commented on #12335
Yes I've seen that too, also I don't super like the fact that it's raising the error if code is not 200, should be error if something went wrong with the request (at least 500+ are server errors that can make sense to die with)  , wdyt?

[2015-04-14 08:06] ahmetalpbalkan commented on #12335
@runcom my rule of thumb for defining success is generally `statusCode/100 != 2` :)

However in this case this allows us to catch cases where someone changes an existing endpoint's success response previously defined as `200 OK` to `201 Accepted` (or something else). This may break some clients (and thus back-compat in Remote API). Let's keep it.

[2015-04-14 08:07] terbooter commented on #5684
docker 1.5.0 got same bug
```Error response from daemon: Cannot destroy container 485bf8d6502a: Driver devicemapper failed to remove root filesystem 485bf8d6502a6cf448075d20c529eb24f09a41946a5dd1c61a99e17```

[2015-04-14 08:13] runcom commented on #12335
Yes maybe I expressed my thought wrongly, I totally agree with your changes and I was referring for the 200/201 fact, maybe I don't recall correctly and what I said is just done :)

[2015-04-14 08:16] ali-bugdayci opened #12364 "Containers can not connect after docker update"
After I updated the docker, my containers can not connect to remote host:

[code]

At first I thought it was a networking problem, but after
* purging all the docker packages
* removing the docker bridge:
[code]
* installing the latest one

I still get the error. The container can ping, so it shouldn't be a networking problem:

[code]

My host computer can wget :
[code]

But my container can not s

[2015-04-14 08:25] alban commented on #12317
If any directory inside the volume belongs to a regular user, then a subdirectory can be moved on the host without being root. For example, even if the volume `/mnt/volume` belongs to root, if `/mnt/volume/tmp/bob` belongs to bob, then bob on the host can move `/mnt/volume/tmp/bob/data/`  to `/home/bob/backup/data/` without being root.

Workaround: if all volumes in Docker are separate partitions

[2015-04-14 10:00] bboreham commented on #12337
@draghuram, you appear to have found a different issue, so I did my own PR.

@thaJeztah, I have searched for this in previous issues, but 'git' and 'push' are rather common terms so I cannot guarantee it.  #12252 is in the same file, on a different line.

[2015-04-14 10:13] eroux opened #12367 "doc update: docker.io package removed from jessie"
The [Debian install documentation for jessie](https://docs.docker.com/installation/debian/#debian-jessie-80-64-bit) states that there is a Debian package for jessie, while [it has been removed since March 31st](https://tracker.debian.org/pkg/docker.io). Please update the docs.

[2015-04-14 10:20] oscerd commented on #2801
Are there news about the IP changes after docker restart?

[2015-04-14 10:49] thaJeztah commented on #12337
@bboreham I know, it's difficult to search those. You're probably fine :smile:

[2015-04-14 10:56] runcom commented on #12334
#dibs

[2015-04-14 11:03] sgirones commented on #9572
Reproduced:
[code]

[2015-04-14 11:06] thaJeztah commented on #12317
Thanks for the extra info, @alban!

[2015-04-14 11:08] thaJeztah commented on #12317
Added the "kernel" label (don't think it'll hurt), also;

/cc @cpuguy83 for any thoughts on https://github.com/docker/docker/issues/12317#issuecomment-92692061

[2015-04-14 11:31] naksu commented on #11181
I'm also seeing this issue, when running just the official docker registry image with -d.

- Debian wheezy on Virtualbox
- ```Docker version 1.5.0, build a8a31ef```

```$ uname -a```
```Linux rd2.rd 3.16.0-0.bpo.4-amd64 #1 SMP Debian 3.16.7-ckt7-1~bpo70+1 (2015-04-07) x86_64 GNU/Linux```

[2015-04-14 12:04] ctmnz commented on #12087
Additional information after turning on -D (debug mode)

<pre>
-- Logs begin at Sat 2015-04-04 23:51:54 EEST, end at Tue 2015-04-14 15:02:27 EEST. --
Apr 14 15:02:27 cos7 docker[20005]: time="2015-04-14T15:02:27+03:00" level="debug" msg="libdevmapper(6): ioctl/libdm-iface.c:1795 (4) dm version   OF   [16384] (*1)"
Apr 14 15:02:27 cos7 docker[20005]: time="2015-04-14T15:02:27+03:00" level="debug" m

[2015-04-14 12:29] ctmnz commented on #12087
strace information:
<pre>
munmap(0x7f01da166000, 4096)            = 0
ioctl(4, DM_VERSION, 0x29c56f0)         = 0
ioctl(4, DM_VERSION, 0x29c5620)         = 0
semctl(0, 0, SEM_INFO, 0x7fff487267b0)  = 6
open("/etc/udev/udev.conf", O_RDONLY|O_CLOEXEC) = 5
fstat(5, {st_mode=S_IFREG|0644, st_size=44, ...}) = 0
mmap(NULL, 4096, PROT_READ|PROT_WRITE, MAP_PRIVATE|MAP_ANONYMOUS, -1, 0) = 0x7f01da166000
re

[2015-04-14 12:48] buddhamagnet commented on #11593
#dibs

[2015-04-14 12:50] sgirones commented on #9572
Reproduced even with 4.0.0. But behavior was slightly different:
[code]

[2015-04-14 12:50] sgirones commented on #9572
For reference: https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1410480

[2015-04-14 13:04] ctmnz commented on #12087
device mapper info:
<pre>
[root@cos7 lib]# dmsetup info docker-8:1-1612350994-pool
Name:              docker-8:1-1612350994-pool
State:             ACTIVE
Read Ahead:        256
Tables present:    INACTIVE
Open count:        0
Event number:      0
Major, minor:      253, 0
Number of targets: 0
</pre>

[2015-04-14 13:21] ctmnz commented on #12087
So.. I have fixed the problem manually. It was a problem with the device mapper

After clearing the volume with the command *dmsetup clear docker-8:1-1612350994-pool* and reboot the docker started without problem.

:
<pre>
[root@cos7 lib]# dmsetup info docker-8:1-1612350994-pool
Name:              docker-8:1-1612350994-pool
State:             ACTIVE
Read Ahead:        256
Tables present:    INACTI

[2015-04-14 14:38] vidarh commented on #8539
Just run into this. Swap is not a fix - the daemon appears to be using a ridiculous amount of memory.

[2015-04-14 15:06] tknerr commented on #11486
@ahmetalpbalkan yep you are right, and thanks for your help!

So as already stated I'm totally :+1: fo the env var.

[2015-04-14 15:14] xiaohui commented on #12355
I will try. #dips

[2015-04-14 15:25] ekeryelleven opened #12372 "Containers cannot access internet"
When I run containers, they cannot access internet (`apt-get update` timing out, can't get the python web app from the user-guide to work, ...)

I'm running CentOS 6.6.

I'm behind a corporate proxy. I've added HTTP_PROXY and HTTPS_PROXY in the /etc/sys/config file, and the docker daemon is now able to reach the Hub without problem.

I'm running Docker version 1.4.1

The base image I'm using is ub

[2015-04-14 15:39] dangra commented on #8539
@vidarh what docker version?

[2015-04-14 15:39] thaJeztah commented on #12355
@xiaohui you might want to check with @robertabbott. it looks like he's working on this (but he didn't "claim" the issue)

[2015-04-14 15:44] vidarh commented on #8539
@dangra 1.5.0, build a8a31ef-dirty on CoreOS 607.0.0

Restarting Docker made the problem go away for now.

[2015-04-14 15:46] robertabbott commented on #12355
@thaJeztah, @xiaohui  I am working on it, but I can yield this issue since i didn't follow the protocol. Now i get the claiming system. Sorry

[2015-04-14 15:47] thaJeztah commented on #12372
I think this has been resolved in docker 1.5, see https://github.com/docker/docker/pull/9951 (and some issues linking to that)

Are you able to test using the docker 1.5 release, or the current 1.6 release candidate (https://github.com/docker/docker/pull/11635#issuecomment-92482581) to see if that resolves this issue for you?

[2015-04-14 15:50] thaJeztah commented on #12355
I'll leave it up to you both :smile:

[2015-04-14 15:56] xiaohui commented on #12355
@robertabbott first comer, first contribute, you could continue do it :-)

[2015-04-14 15:58] robertabbott commented on #12355
@xiaohui Thanks. I'll make sure to officially claim it next time.

[2015-04-14 16:01] #11923 closed

[2015-04-14 16:02] thaJeztah commented on #12355
Thanks both!

[2015-04-14 16:09] runcom opened #12373 "client.StatusError should not be returned as a pointer"
Find all code like this:
https://github.com/docker/docker/blob/master/api/client/attach.go#L83
and remove the pointer notation because StatusError implements interface error and doesn't need pointer

[2015-04-14 16:10] thaJeztah commented on #11486
Perhaps the client should automatically switch back to the older API if it's detected (and, possibly a flag/env-var specified). Thinking of cases where a single client is used to manage multiple hosts. Some hosts are up-to-date, others use an older daemon.

Having to change the `DOCKER_APIVERSION` env-var could become annoying in that case; perhaps (e.g.) `DOCKER_API_MINVERSION=1.17` and automatic

[2015-04-14 16:18] Stono commented on #10412
It's resolved for me now.

[2015-04-14 16:20] ahmetalpbalkan commented on #11486
@thaJeztah having that sort of logic is probably 100x harder to code and maintain. Users should almost never know about this environment variable, this is for the power users and is just an override. Please refer back to the proposal above.

[2015-04-14 16:28] lvangool commented on #12327
@vbatts yes, ext4

[2015-04-14 16:29] LK4D4 commented on #12327
@vbatts mine is 4.0 with ext4

[2015-04-14 16:32] duglin commented on #4136
(sorry for the long comment and showing you the 'interesting' progress of this)

I actually do have a fix for this but I don't think we can merge the code changes - but I'd like to hear what others think.

Most of this is pretty much along the lines of what @tianon mentioned earlier.

When we get the env vars from a `docker run` command we stick them into the container and *then* later on we add t

[2015-04-14 16:38] #12335 closed

[2015-04-14 16:40] LK4D4 commented on #12364
Actually I experiencing such problems too. In different situations, for example up wifi interface in addition to ethernet, new bridge etc.
@ali-bugdayci You can try to flush your iptables rules and restart docker.

[2015-04-14 16:59] #12337 closed

[2015-04-14 17:02] dmcgowan commented on #12295
These might be useful for adding to https://github.com/docker/distribution/blob/master/docs/deploying.md.  I am not sure I fully understand what the original problem (why was it using SSLv3??) and how the last section of ssl nginx configuration made a difference for boot2docker.

[2015-04-14 17:04] LK4D4 commented on #12373
Also, makes sense to remove `*` from `Error` method.

[2015-04-14 17:06] #12343 closed

[2015-04-14 17:11] jfrazelle commented on #12177
@dsampath you are missing iptable_nat

[2015-04-14 17:14] jfrazelle commented on #12177
I would suspect a module is missing from the others experiencing this as well, please compare your output to the one I posted

[2015-04-14 17:24] LK4D4 opened #12377 "Containers Syslog message format."
Okay, there are some problems with Syslog format for containers. Some people want readability, some parseability.
Let's decide what we want before release, because I don't want mark `syslog` as experimental for whole 1.6.
There are examples of `journalctl` and ubuntu `syslog` outputs in #12329
ping @jfrazelle @crosbymichael @icecrime @calavera @tiborvass @ibuildthecloud @wlan0 @x1022as

[2015-04-14 17:40] ianblenke commented on #12377
We would prefer json whenever possible for completeness and sanity. We mostly use "journalctl -f -o json" today, output through netcat and logstash/fluentd to elasticsearch for ELK. The applications themselves are setup to also log in json so they can be more easily indexed by elasticsearch for easier kibana dashboard views later.

[2015-04-14 17:41] duglin commented on #12361
yea this has been discussed before. See this comment/issue:  https://github.com/docker/docker/issues/3672#issuecomment-63335989
Closing for now

[2015-04-14 17:41] #12361 closed

[2015-04-14 17:41] ekeryelleven commented on #12372
Sure, I'll do that tomorrow. Thanks for the quick answer :)

[2015-04-14 18:00] #11593 closed

[2015-04-14 18:21] xiaods commented on #12373
[code]

[2015-04-14 18:21] xiaods commented on #12373
#dibs

[2015-04-14 19:19] thaJeztah commented on #12359
@Mashimiao so, this issue can be closed?

[2015-04-14 19:38] cpuguy83 opened #12378 "Remove sprious `fmt.Printf` from test"
In `integration-cli/docker_cli_exec_test.go` in `TestExecWithPrivileged` there is a spurious `fmt.Printf` that should be removed.

[2015-04-14 19:43] rhatdan commented on #10592
Any movement on this?

[2015-04-14 19:44] #11581 closed

[2015-04-14 19:55] LK4D4 commented on #12377
ping @Sirupsen as log guru

[2015-04-14 19:57] jfrazelle commented on #12116
can we get this in before thursday por favor

[2015-04-14 20:19] ahmetalpbalkan commented on #12177
@jfrazelle back with repros. I still use GCE and run [this script](https://gist.github.com/ahmetalpbalkan/ce132ca437e8f0824946) in 10 terminal windows at the same time, now with `lsmod` before installing docker.

Success rate is still pretty bad (7 out of 42 failed at this point) with `test.docker.com`.

### lsmod output

@jfrazelle please help interpreting:

[code]

[2015-04-14 20:23] jfrazelle commented on #12177
also missing iptable_nat, I do believe we have found our culprit

[2015-04-14 20:25] dsampath commented on #12177
Thanks @jfrazelle.
Forcing `modprobe iptable_nat` before installation goes to completion.
@ahmetalpbalkan can you please add that to your script and re-run it?

[2015-04-14 20:26] jfrazelle commented on #12177
can you run this script, it will tell you what is missing https://github.com/docker/docker/blob/master/contrib/check-config.sh#L143

[2015-04-14 20:26] jfrazelle commented on #12177
thanks @dsampath for testing :D glad to hear

[2015-04-14 20:27] ahmetalpbalkan commented on #12177
@jfrazelle @dsampath

Here's a lsmod output from a VM that just installed docker successfully, it doesn't have `iptable_nat` either...

[code]

[2015-04-14 20:46] ahmetalpbalkan commented on #12177
Here's `./check-config && lsmod && curl http://test.docker.com | sh` output:

[code]

@LK4D4 @dsampath

[2015-04-14 20:51] cevich opened #12380 "docker build add displaces context root subdirectories"
Description of problem:
(Copied from  https://bugzilla.redhat.com/show_bug.cgi?id=1202849)

Not sure if this is a "feature" or a "bug".  If it's a feature, it's not very well documented and (IMHO) unexpected given behaviour compared to common tools (cp, mv, etc).

Essentially, the ADD instruction with a source of ``*`` operates on the files inside root-level context subdirectories, instead of the

[2015-04-14 21:21] jfrazelle commented on #12177
FYI easy repro: ```
ifconfig docker0 down && brctl delbr docker0 && modprobe -r bridge
docker -d -D
[code]

[2015-04-14 21:25] #12378 closed

[2015-04-14 21:55] #12251 closed

[2015-04-14 22:02] csaintc opened #12381 "Dockerfile should thow an error when detecting single quotes in a dockerfile"
This works:
`FROM iojs:onbuild`
`VOLUME ["/usr/src/app"]`
`ADD ["./", "/usr/src/app"]`
`RUN npm install`
`EXPOSE 8081`

This doesn't work:
`FROM iojs:onbuild`
`VOLUME ['/usr/src/app']`
`ADD ['./', '/usr/src/app']`
`RUN npm install`
`EXPOSE 8081`

`INFO[0004] No source files were specified`

[2015-04-14 22:09] thaJeztah commented on #12381
Which version of docker are you using? I think *some* improvements were made in this area. However, no full resolution, because in some cases, it's not possible to determin if JSON was the *intended* format, or it just "looks like" JSON (ie, `[...]` is valid in shell)

This could well be a duplicate though, I'll check

[2015-04-14 22:23] thaJeztah commented on #12381
Hm, still looking, but the PR that I thought improved this, was in a different area. There's this, https://github.com/docker/docker/pull/11203#issuecomment-82004574 though. Will see if I can find other relevant issues.

To be clear; everything agrees that this could be improved, it's just that it's not always possible to detect properly (because the Dockerfile instructions support both "regular" a

[2015-04-14 22:36] LK4D4 commented on #12377
Okay, after reading https://github.com/gliderlabs/logspout/blob/master/adapters/syslog/syslog.go#L33 I'm not okay with stdlib defaul format at all.
I propose to mark syslog as experimental and probably release it in 1.6.1 as stable.

[2015-04-14 22:48] LK4D4 commented on #12377
Or I can try to fork stdsyslog tomorrow to have customizable formats.

[2015-04-14 23:09] xueshanf commented on #10613
I have a dedicated 100GB docker volume but  the system was running out of inode out of 6million!  I got "So space left on device error".

I cleaned up some images, but not enough. Is it really using 6 million inodes?
[code]
[code]
[code]
[code]

[2015-04-14 23:22] lamielle commented on #10613
@xueshanf if you created this additional 100GB partition yourself, what parameters did you use when formatting the filesystem?  There was a fix in CoreOS 591.0.0 which tweaked the formatting parameters to tune for high numbers of small files (vs. fewer but larger files).  The workload for a volume that stores a registry is certainly the former.  I would suggest looking into the filesystem paramete

[2015-04-14 23:33] xueshanf commented on #10613
I build the file system with the following unit. I will look for the inode tuning tweak you mentioned. If you happen to have the reference, please post?
[code]

[2015-04-15 00:26] xueshanf commented on #10613
@lamielle I found the issue https://github.com/coreos/bugs/issues/264. Looks like I should use 4096 inode ration (mkfs.ext4 -T news) to increase inode size from current 6.5 million to 24million on the 100GB volume.

[2015-04-15 00:29] netroby commented on #3155
How are things going on. This is really problem.

[2015-04-15 00:31] soupdiver commented on #4351
I also like https://github.com/docker/docker/issues/4351#issuecomment-81187546
:+1:

[2015-04-15 00:33] saritasa opened #12385 "Cannot start container: no such file or directory"
Trying to run docker with the help of vagrant. Container is built, but I can't start it due to the error below

**vagrant output:**

[code]

**info from docker:**

[code]

**folder does exist**

[code]

**docker inspect**
[code]

**versions**

[code]

**and just in case vagrantfile portion describing the backend**

[code]

and if I try to remove the container I get this:

[code]