[2016-06-02 16:00] justincormack commented on #23171
I would guess that the pci ones should be gated by `CAP_SYS_RAWIO`, as normally access to `/proc/bus/pci` is, which I would guess would be the equivalent? Maybe check the source and see? The man page oddly does not mention what permissions are needed. `s390_runtime_instr` looks fine for general use.

[2016-06-02 16:04] justincormack commented on #23171
Are `s390_personality` and `s390_ipc` actually named differently? They may be needed.

Looking at it, I may need to fix the general `personality` on non x86 though, as I think the flag values are architecture specific.

[2016-06-02 16:07] motin opened #23209 "Docker Cloud FAQ mentions Docker Engine 1.7.0 as "yet-to-be-released""
This FAQ entry should be removed or updated to reflect the current stable version of Docker Engine used in Docker Cloud: https://docs.docker.com/docker-cloud/docker-errors-faq/

[2016-06-02 16:10] justincormack commented on #23171
Ah ok `personality` in general looks ok, although could disable `LINUX32` eg on `ppc64le` but I don't think it is vital, will take a look.

[2016-06-02 16:13] justincormack commented on #23171
ok the `s390_personality` and `s390_ipc` dont seem to be really different, but maybe you could double check if  `personality` has any different arguments from other architectures?

[2016-06-02 16:15] denibertovic commented on #23203
@thaJeztah I verified that the issue has been resolved. Tested on Ubuntu 15.10. Thanks to all the other Docker folks that helped resolve this issue quickly.

[2016-06-02 16:18] icecrime commented on #23203
Thank you all for the reports: we're very sorry for this issue. We're looking into the details and the timeline of events that lead to this, and we'll make sure it doesn't happen again.

I'm closing the issue, but of course feel free to let me know if you see any remaining quirks.

[2016-06-02 16:20] justincormack commented on #23171
Hmm, reading the code `s390_pci_mmio_write` does not appear to have any security requirements at all, so any user can write to pci memory? That seems kind of insecure? On other architectures it would be stopped by device permissions or `CAP_SYS_RAWIO`. Maybe you could ping the kernel people maybe I missed something. I would still gate it by `CAP_SYS_ADMIN` for docker I think...

[2016-06-02 16:23] justincormack commented on #23171
Engine API bump is #23208

[2016-06-02 16:41] Niceplace commented on #23203
Ubuntu 14.04 Here, issue solved !

[2016-06-02 16:48] JuanCarlosM commented on #23128
@cpuguy83

I have find different behaivor between "docker stop" and "systemctl stop docker". When using "stop" everithing works fine, the docker-proxy stills there, when stopping the service, goes away before the container.

**Proof of concept**

[code]

*docker stop*

[code]

*systemctl stop docker*

[code]

I tried it from an external server, is the same, so no LISTENING, no IPTABLES is respondi

[2016-06-02 16:50] justincormack commented on #23171
Can you just post the output of `strace ls` for reference just to see if anything stands out?

[2016-06-02 16:54] justincormack commented on #23204
What is in `init.sh`? That error an mean the `#!` file is not found.

[2016-06-02 17:00] jperrin commented on #10180
@jeremyeder the overlay plugin will be baked into the c6 container as soon as https://github.com/docker-library/official-images/pull/1800 lands.

[2016-06-02 17:05] jeremyeder commented on #10180
Thanks Jim! /cc @jasonmp85 if you can test out that new image once it's built.

[2016-06-02 17:07] cpuguy83 commented on #5618
Looking to see how we might be able to mitigate this bug.
First thing (which may or may not work out, it's risky) is to keep the API available in cases where this occurs: #23178

[2016-06-02 17:10] #23147 closed

[2016-06-02 17:16] thaJeztah commented on #23204
or the init.sh is using Windows line ending; make sure it uses UNIX line endings (the error you see is generated by Linux, not docker - and yes, it's really confusing)

[2016-06-02 17:36] dnephin opened #23211 "Convert commands to spf13/cobra"
This is a checklist for tracking which commands are being worked on or are complete:

* [x] attach - #23274 @WeiZhang555
* [x] build - https://github.com/docker/docker/pull/23343 @vdemeester
* [x] commit - https://github.com/docker/docker/pull/23309 @yongtang
* [x] cp - https://github.com/docker/docker/pull/23348 @vdemeester
* [x] create - #23159 / https://github.com/docker/docker/issues/23253 @dn

[2016-06-02 18:07] jasonmp85 commented on #10180
@jperrin @jeremyeder — I've been fortunate enough to that my CentOS builds have yet to be bit by this; however, this problem _also_ affects the Oracle Linux images. I'm not sure their response to this will be nearly as speedy, so I was kind of hoping there was a surefire workaround.

Until then, my Oracle Linux automated builds on Docker Hub are stale and I can't even push up locally-built images

[2016-06-02 18:15] jalawrence commented on #23203
Probably shouldn't be surprised, but it is shocking how many people risk their infrastructure with hard dependencies on external repos. I don't even do that with my home systems.

And then complain about Docker having a single point of failure?

[2016-06-02 18:35] clavecoder opened #23214 "So is tini still needed?"
[https://github.com/docker-library/official-images#init](https://github.com/docker-library/official-images#init) says that `TINI` is not needed if #11529 is implemented. That starts a chain of referenced issues:

#20361
PR #20662

Does that mean we don't need TINI any more and the documentation should be updated or should we be waiting for something else?

[2016-06-02 18:36] gggeek commented on #23203
@jalawrence Docker is the tip of the iceberg...
Did you hear about the recent problems with node.js and one dev pulling out one single package?
I am pretty sure that most php developers using Composer - the defacto package manager for that platform - also do not store complete copies of all their site's dependencies, and the fact that there has been no mishaps so far is more luck than anything.
Th

[2016-06-02 18:48] cpuguy83 commented on #23214
As far as zombies are concerned, Docker still can't clean these up itself.

As far as producing zombies, if you simply call `wait` after you fire off a sub-process you won't get zombies.

[2016-06-02 18:48] #23214 closed

[2016-06-02 19:04] marcellodesales commented on #18509
I'm having the same problem on RHEL 7.2.

Error
-----

[code]

OS
----

[code]

Docker Info
----

[code]

[2016-06-02 19:20] thaJeztah commented on #23209
Thanks! Yes, this should be updated ping @sanscontext can you have a look at this one?

[2016-06-02 19:22] #23180 closed

[2016-06-02 19:23] mlecar commented on #23181
Hi guys,
I did some other tests and realized that architecture 64-bit of jdk works, but 32-bit doesn't. My host is 64-bit (as docker info and docker version previously added) and I installed the 32-bit support for centos on image too.

The Dockerfile with jdk 32-bit that doesn't work is:
`FROM centos:7

RUN yum update

RUN yum install -y unzip
RUN yum install -y curl
RUN yum install -y libstdc++.i

[2016-06-02 19:27] thaJeztah commented on #23181
@mlecar have you tried the 1.11.2 release as well? 32-bit support may be fixed there.

[2016-06-02 19:29] mlecar commented on #23181
No, I didn't. Let me try to do that.

[2016-06-02 19:37] thaJeztah commented on #23201
Looks like you commented on https://github.com/docker/docker/issues/23115 as well; can you describe the exact issue on that issue? Is the "Download" hanging (i.e., it never finishes?)

I'll close this issue, to keep the discussion in a single place, please continue on https://github.com/docker/docker/issues/23115

[2016-06-02 19:37] #23201 closed

[2016-06-02 19:43] mlecar commented on #23181
Yes, both architectures of jdk (64-bit and 32-bit), are working on 1.11.2 release.

Thank you guys!

[2016-06-02 19:43] sanscontext commented on #23209
I'm on it - culling the closed GH issues from the Known Issues file. :)

[2016-06-02 19:44] #23181 closed

[2016-06-02 19:52] IvRRimum opened #23216 "After copying docker image, the image is not working."
So basicly i copied [this](https://hub.docker.com/r/commonsearch/local-elasticsearch/) repo and i created my [own](https://hub.docker.com/r/outdream1337/local-elasticsearch/)( based on it )

Previously when i started commonsearch/elasticsearch container it worked perfecly, but after the copy outdream1337@elasticsearch container doesnt work any more. it produces no errors:

[code]
and logs doesnt s

[2016-06-02 20:09] #22855 closed

[2016-06-02 20:09] #23048 closed

[2016-06-02 20:10] clnperez commented on #22950
We hit this as well (and the issue was we were using a docker dev container in a 1.11 branch, which we'd built against master earlier - so that was an easy rebuild to fix).

FYI: This commit appends the proto to the path: docker/docker@6889c3276c6895a8440dc8883b8cd608793199f3  -- though I'm not suggesting you just cherry-pick that as a workaround. I was just curious so I looked it up.

[2016-06-02 20:16] justincormack commented on #23216
Those two images are not exactly identical, perhaps you had downloaded an older version that didnt work? It is much easier if you use an image with a Dockerfile available as then it is easier to make modifications and see what is going on.

[2016-06-02 20:44] thaJeztah commented on #23181
Cool, thanks for testing! Happy that it's resolved 👍

[2016-06-02 20:55] ouyi commented on #22635
Exactly the same issue here.

[2016-06-02 20:55] sanscontext commented on #23209
Hey @motin, this is removed (and some other cruft as well) and will be live in the next docs push. Thanks for reporting!

[2016-06-02 20:57] phemmer commented on #14041
@WillemElbers I've never used Digital Ocean, but most cloud providers' networks operate very different from physical networks in that they don't do layer 2 switching, and do just layer 3 routing instead.
If you don't have 2 PCs on the same physical network, you can use a local virtual network such as VirtualBox.

I was able to do this successfully with the following `Vagrantfile`:

[code]
I instal

[2016-06-02 21:03] #23209 closed

[2016-06-02 21:12] justincormack commented on #14041
@WillemElbers I think it won't work if your machines have proper routed ipv4 address, only if it has an rfc 1918 addresses, as the docker networks are also rfc 1918 addresses that won't be routed onto the internet regardless of routes you create. So it will only happen for example with laptops on a private net, or some cloud providers who internally provide rfc 1918 addresses.

[2016-06-02 21:23] mvader commented on #11955
Since there has been no activity in the last few months in this issue I just assumed no one is taking care of it right now.

I'd like to take on this one if the fix is still wanted.

[2016-06-02 23:16] thaJeztah commented on #23216
I see you also asked this question on StackOverflow, which is a more appropriate place for this question (as it's a support question, not a bug in docker) http://stackoverflow.com/questions/37600561/cant-start-docker-container, So I'll close this issue here

[2016-06-02 23:16] #23216 closed

[2016-06-02 23:39] thaJeztah commented on #23189
/cc @cpuguy83

[2016-06-02 23:40] thaJeztah commented on #23207
/cc @mavenugo PTAL

[2016-06-03 00:00] jonseymour commented on #13894
I had a scenario where I needed to import an existing docker vg into different Azure VM and the Base UUID of the data LV appeared to be different to its original value in the original VM. AFAIK there was no other LVM related configuration that could explain this - just the need to move the VG between two Azure VMs.

Note that I am not 100% sure that the UUID check failed because I moved the vg bet

[2016-06-03 00:37] shane-axiom commented on #21776
+1, badly needed! `docker network create` is creating networks which override active subnets in our physical network.

[2016-06-03 00:45] shane-axiom commented on #21776
@jpetazzo @codablock I tried the suggested workaround, but as @codablock mentioned this still causes routing failures with existing non-docker subnets. If you're just trying to blacklist an arbitrary subnet from being used by `docker network create` this will work (because it'll already be in use by another docker network), but if your problem is docker creating subnets that conflict with existing

[2016-06-03 00:45] #17262 closed

[2016-06-03 01:06] cpuguy83 commented on #23185
@BenHall There must be something lingering around using `test`.
If you restart the daemon and try does it work?

[2016-06-03 01:19] phemmer commented on #14041
The IP address has no bearing. It's whether the network supports layer 2 switching. In my example, when node 2 sends the packet to 172.18.0.2, it sends it out to the network with the MAC address of node 1. Node 1 then receives the packet, looks at the destination (172.18.0.2) and then routes it to the container.
Most cloud providers don't let you do this, at least not by default. You can with AWS,

[2016-06-03 01:30] JivanAmara commented on #13914
I'm seeing the same issue on Ubuntu 14.04.  The --ip flag doesn't change anything the --net=host option allows connections to the mapped ports.

$ docker -v
Docker version 1.11.1, build 5604cbe
$ docker info
Containers: 2
 Running: 0
 Paused: 0
 Stopped: 2
Images: 99
Server Version: 1.11.1
Storage Driver: aufs
 Root Dir: /mnt/SecondHD/docker/aufs
 Backing Filesystem: extfs
 Dirs: 145
 Dirperm1 Sup

[2016-06-03 03:04] allencloud opened #23221 "'Unknown instruction: FROM' when docker build"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
[code]

**Steps to reproduce the issue:**
1.
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**
Dockerfile Details
[code]
This happens on docker 1.8.3 and docker 1.9.1.

And if I copy the content to another D

[2016-06-03 03:13] mountkin commented on #23221
Perhaps there are some invisible characters (such as BOM) at the beginning of the file?
Just guessing :innocent:

[2016-06-03 03:15] liucw2012 opened #23223 "Is that necessary to Shutdown all contianers when daemon is killed?"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**
As We have already restore a running con

[2016-06-03 03:18] tarunlalwani commented on #23188
@HackToday , The issue is not the precision. The issue is I have 20 containers per app and I run 10+ apps on my server. Which make it 200+ containers. Now 2 sec per API call is too much for me. When I hit the stats API, I am not concerned about CPU Usage/Memory usage over next 2 seconds. I am more interested in API returning stats within ms, even if the stats are within past 5 seconds or so.

[2016-06-03 04:02] allencloud commented on #23221
Thanks. @mountkin
There is indeed additional content than I think.

I use **HEX** to detect the file, and found that:
[code]

While the correct one is that:
[code]

Although something is invisible, we should take care of this as well.

Close it.

[2016-06-03 04:34] yoshiokatsuneo commented on #21459
@HackToday The problem happens when we have a file with one of filename "a", "r", "c", "h", "=", "a", "m", "d", "6", "4" on the current directory. In such case, shell expand "[arch=amd64]" to "a" (if file "a" exists.).
I got the error because I tend to create temporary file with filename "a"...

[2016-06-03 04:42] juanbrein commented on #20412
Same here

[2016-06-03 04:51] volak opened #23225 "Windows - Running .NET app in docker w/ perf counters"
I was pointed here from the Microsoft forums - hope its the right place.  I have discovered an issue with windows containers concerning performance counters specifically the System.Diagnostics library.

I've reproduced this issue in a solution here: https://github.com/volak/PerformanceCounterBug
Simply build this app and run inside a container like so:

docker run windowsservercore PerformanceCoun

[2016-06-03 04:57] volak commented on #23225
Forgot the docker info

[code]

[2016-06-03 05:03] pjebs commented on #22440
I haven't heard anything back yet.

[2016-06-03 05:04] allencloud commented on #23221
I think docker can do some work to avoid this. We can fix this, so reopen it.

[2016-06-03 06:51] AkihiroSuda commented on #21142
@thaJeztah Is this issue closable? https://github.com/docker/docker/pull/23218

[2016-06-03 06:51] AkihiroSuda commented on #21143
@thaJeztah Is this issue closable? https://github.com/docker/docker/pull/23218

[2016-06-03 07:21] justincormack commented on #22440
Sorry, can you resend the mail, I didn't see it.
On 3 Jun 2016 06:03, "pjebs" <notifications@github.com> wrote:

[2016-06-03 07:34] jsainzvela commented on #22635
+1

[2016-06-03 07:41] pjebs commented on #22440
resent

[2016-06-03 08:32] thaJeztah commented on #21143
Yes! If forgot the "closes" mention in my carry, thanks!

implemented in https://github.com/docker/docker/pull/23218

[2016-06-03 08:32] #21143 closed

[2016-06-03 08:34] thaJeztah commented on #21142
Yup! Same as the other one :+1:

Implemented in https://github.com/docker/docker/pull/23218

[2016-06-03 08:34] #21142 closed

[2016-06-03 08:54] xmalion commented on #23204
File was developed on OSX, then pushed into Git repo here, on GitHub, and then cloned on Windows machine. File was not changed and in state from repository.

`init.sh` file contains this script:

[code]

[2016-06-03 09:27] martingartonft commented on #22591
is this resolved? What is/was the resolution? Is there a know workaround?

[2016-06-03 09:42] runcom commented on #17670
I wrote a [tool](https://github.com/projectatomic/skopeo) which can do this (and other):

- Get an image's digest (unverified):
[code]
- Get the whole manifest (_template'd_, to be later parsed by tools like `jq` or by other programs i.e. `atomic`):
[code]
- Get a raw manifest:
[code]

[2016-06-03 09:45] terracott opened #23228 "Ubuntu 16.04: Fail push to private insecure registry (tls: oversized record...)"
Hello! I have a problem.

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
I have a private insecure registry v2.4, which available at docker-registry:5000

**Steps to reproduce the issue:**
1. Add to docker config `DOCKER_OPTS="--insecure-registry=docker-registry:5000"`
2. Restart docker
3. Try to

[2016-06-03 09:46] justincormack commented on #23223
Hi, we are working on supporting this for the next release, and the changes have been in for a while, the final options to enable it are being added and this should be supported in 1.12.

[2016-06-03 09:50] justincormack commented on #23221
That is the UTF8 BOM. Some Windows editors add it, even though it is a pointless thing as UTF8 does not have a choice of byte ordering. I guess we could ignore it - any opinions @jhowardmsft ?

[2016-06-03 09:51] WillemElbers commented on #14041
@phemmer  Thanks for the clarification, we have been able to reproduce the issue on a layer 2 network as you described.

As far as we have been able to test, changing the iptables FORWARD policy to DROP (`iptables -P FORWARD DROP`) indeed solves the issue, without affecting container communication or mapped ports on the docker host.

It seems straightforward to set the FORWARD policy to DROP as th

[2016-06-03 09:52] justincormack commented on #23228
Hi, have you checked the troubleshooting section here https://docs.docker.com/registry/insecure/ as it mentions this error?

[2016-06-03 10:20] michael-holzheu commented on #23171
[strace.ls.debian-jessie.4.5.0-1-s390x.txt](https://github.com/docker/docker/files/297390/strace.ls.debian-jessie.4.5.0-1-s390x.txt)

[2016-06-03 10:21] ionutalexandruisac commented on #21966
Having the same issue with containers not being able to start if for example the Splunk logging driver has a connection issue. Any news on when we can expect a fix for this? You would expect a soft fail in such situations instead you get a really hard one.

[2016-06-03 10:34] justincormack commented on #23171
Ok nothing unexpected there, thanks.

[2016-06-03 10:42] terracott commented on #23228
@justincormack, yes. From docs: error occurs when no option --insecure-registry.
I set this option in `/etc/default/docker` file

[2016-06-03 10:43] hamid-elaosta commented on #22599
@thaJeztah Initially, the machines I had the issue with had them installed and up-to date already when I attempted to install them. I installed a fresh machine and installed those packages (they were missing this time) and it worked. However, I've just tried with another machine (clean install of Xenial on a physical server) which had those packages installed already after a fresh install/upgrade

[2016-06-03 11:01] TUTUBIG commented on #14782
i have got this trouble too, you need to get into the shell and then excute the "cd" command.use "ls" first,and,use "cd"

[2016-06-03 11:06] thaJeztah commented on #23204
Correct, but it may have been automatically converted to Windows line-endings by Git; see https://github.com/docker/docker/pull/22395 and https://help.github.com/articles/dealing-with-line-endings/#platform-windows

[2016-06-03 11:37] sandrokeil commented on #21966
You can use [logspout](https://hub.docker.com/r/deis/logspout/) as a workaround.

[2016-06-03 11:38] jsainzvela commented on #22635
Hi, I think we have hit  the #15949 issue

Lowering my server's MTU to 1500 has worked around the problem.

Cheers

[2016-06-03 11:41] thaJeztah commented on #14041
@phemmer @WillemElbers this issue came up recently in an internal discussion, I don't recall the outcome, but perhaps @mrjana can kick in on this

[2016-06-03 12:21] abilash222 opened #23233 "port number not updated in inspect"
after migrating to docker 1.10.3 upon docker service being restarted containers port forwarding details are not updated with new ports instead old port info is present in docker inspect output.
i am able to reproduce it.

Any idea why this issue?

**Output of `docker version`:**
Client:
Version:      1.10.3
API version:  1.22
Go version:   go1.5.3
Git commit:   20f81dd
Built:        Thu Mar 10 15:

[2016-06-03 12:23] #20083 closed

[2016-06-03 12:25] #23055 closed

[2016-06-03 12:31] motin commented on #23209
Great, thanks! And I see it is already pushed live. :)

[2016-06-03 12:40] yongtang commented on #23221
The parsing of the Dockerfile happens in:
https://github.com/docker/docker/blob/v1.11.1/builder/dockerfile/parser/parser.go#L112-L115

So I think it should be relatively easy to skip the UTF-8 BOM.

[2016-06-03 12:40] ipeoshir commented on #21485
@cyphar, @flavio, I added more detailed information on: bugzilla number 983015.

Tracing the versions of docker that can be installed on SLES12, this bug first appeared in "docker-1.5.0-23.1" while  version "docker-1.5.0-20.1" and older had no issue with performance lags.

Installing just 34 packages on containers is taking "1m12.571s" (1.5.0-23.1 and newer) against "0m3.614s" (1.5.0-20.1 and olde

[2016-06-03 12:52] danbeaulieu commented on #23131
As an update I think I have reproduction steps (though not the root cause):

1) Create an instance from an Ubuntu cloud image (ami-0f8bce65) using any instance family with ephemeral drives that also aren't i3 or r3 family types
2) Install docker
3) verify xvdb is mounted to /mnt in /etc/fstab
4) create an AMI from this instance
5) launch an r3 instance with your new ami

Mounting the ephemeral dri

[2016-06-03 13:04] yongtang commented on #23221
@allencloud I created a pull request #23234 to skip the UTF-8 BOM bytes. Please take a look and let me know if it solves the issue.

[2016-06-03 13:24] maxamillion commented on #20331
@vbatts using that docker base image I linked to previously, trying to build on a rawhide machine.

[code]

[2016-06-03 13:28] cyphar commented on #21485
This appears to be something we changed in the SUSE package (my guess is that we backported a patch that caused this).

[2016-06-03 13:35] iGEL commented on #3124
@thaJeztah That solution is not really satisfying as it breaks portability of the container.

[2016-06-03 13:38] ipeoshir commented on #21485
Not sure if it was a patch... I downloaded the binaries directly from docker, extracted them and it also had the issue.

[2016-06-03 13:39] cyphar commented on #21485
@ipeoshir But the `-23.1` and `-20.1` are the SLE package versions right? You didn't take them from somewhere else?

[2016-06-03 13:43] cpuguy83 commented on #3124
If you are mounting files/dirs from the host, this is by definition non-portable.

[2016-06-03 13:45] ipeoshir commented on #21485
Yes, on the bugzilla I used solely packages from SLES12 to get the results for you.

But to test the binaries I downloaded from:
 - https://get.docker.com/builds/Linux/x86_64/docker-latest.tgz

And replaced the RPM binary with those non-patched binaries, just to make sure it was not something from the distribution... So it's probably on docker's source code.

[2016-06-03 13:45] iGEL commented on #3124
Well, with docker-compose and relative paths it is :wink:

[2016-06-03 13:46] ricardobranco777 commented on #22870
On the importance of **libseccomp**, released just recently by the NCC Group:

[Abusing Privileged and Unprivileged Linux
Containers ](https://www.nccgroup.trust/globalassets/our-research/us/whitepapers/2016/june/container_whitepaperpdf/)

[2016-06-03 13:47] thaJeztah commented on #3124
With "non" portable, @cpuguy83 means that you cannot start the container on a "random" host, without first creating the files and folders it needs for the bind-mount. (e.g., you cannot reschedule such a container to a different host in a Swarm cluster)

[2016-06-03 13:50] michael-holzheu commented on #23171
Any user that could create the mapping before. IMHO the creation of the mapping has to be secured.

Here the complete answer of our PCI expert:

"The system calls are needed because we cannot access MMIO space directly in user space, special instructions are needed and they are also privileged. So the system calls can be regarded as a replacement for the normal load/store instructions that can be

[2016-06-03 13:50] thaJeztah commented on #22870
Looks like there's an error in that document though;

[2016-06-03 13:51] jfrazelle commented on #22870
It's not like we are depriving you :) maybe check out a issue from yesterday that would show just how many people would have your throat if installing docker broke

On Fri, Jun 3, 2016 at 6:48 AM -0700, "Ricardo Branco" <notifications@github.com> wrote:

On the importance of libseccomp, released just recently by the NCC Group:

Abusing Privileged and Unprivileged Linux

Containers

—
You are recei

[2016-06-03 13:54] jfrazelle commented on #22870
They might have meant the static binaries but I'm sure we can let the author know

[2016-06-03 13:57] thaJeztah commented on #22870
@jfrazelle oh was already writing in the #sec channel, but are you in contact with Jesse?

[2016-06-03 13:58] justincormack commented on #23171
Ah ok that makes sense then, thanks for checking.

[2016-06-03 14:00] jfrazelle commented on #22870
I know Aaron his coworker the own who wrote the War and Peace version I can let him know :)

[2016-06-03 14:01] thaJeztah commented on #22870
@jfrazelle cool, thanks; I also slacked it, so let him know that he may be spammed from two sides

[2016-06-03 14:11] thaJeztah commented on #22870
@jfrazelle - @NathanMcCauley knows how to contact him, so it's should be taken care of 👍

[2016-06-03 14:24] jfrazelle commented on #22870
Sweet because I've started too many fires already today and it's only 8am 

[2016-06-03 14:27] envygeeks commented on #22870
I read this quickly by skim and then got so excited and then I was like OH, boo.

[2016-06-03 14:34] cedric-dufour commented on #13481
I'm currently provisioning Docker (1.11.2) for deployment into our academic (100% IPv6-ed) environment and the lack of IPv6 NAT is really troublesome.
True enough, in production scenarios, one would not want IPv6 NAT; I totally agree with that.
But in development scenario, with developers each having a docker machine and many non-production (uncharted) containers to play with, IPv6 NAT and IPv4-li

[2016-06-03 14:36] michael-holzheu commented on #23171
Yes, both system calls have the same numbers (unitstd.h) as on other architectures and also the external name is the same (e.g. "personality" instead of "s390_personality").

We don't have different arguments for personality(). For ipc() we have only five parameters (instead of six), but since Docker seccomp does not check parameters this should be no problem.

So IMHO the conclusion regarding s39

[2016-06-03 14:37] clavecoder commented on #23214
Wow, what a lame response. Your own best practices page for official images recommends it, and I get this lame response. What's your best practice. Jenkins and the image I'm contemplating will create extension processes that they cannot control. That's why your own documentation recommends it. Please provide a reasoned response to my question.

If you are unaware of the context of the question the

[2016-06-03 14:38] justincormack commented on #13481
@cedric-dufour I am planning to work on ipv6 support for docker for mac and windows soon, and as you say it is pretty impractical to assign a /64 or more per user for development, so we will use a private range internally I think. But at present docker for mac has NAT support independent of Docker, so I am not sure this means I will have to add ipv6 NAT upstream as part of this change.

[2016-06-03 14:39] justincormack commented on #23171
Sounds good.

[2016-06-03 14:42] cpuguy83 commented on #23214
@clavecoder I'm not sure why you took offense to my response... but Docker still can't clean up zombies, as I stated... and probably won't ever be able to unless there are some changes to the kernel (or some new flag enabling a built-in pid1 reaper).

[2016-06-03 14:45] ricardobranco777 commented on #22870
The discussion on LWN:
http://lwn.net/Articles/689453/#Comments

On Fri, Jun 3, 2016 at 9:29 AM, Jordon Bedwell <notifications@github.com>
wrote:

[2016-06-03 14:46] justincormack commented on #23214
@clavecoder that benefit of #11529 turned out not to be true, the comments there are still correct.

[2016-06-03 14:50] jfrazelle commented on #22870
I'm still unsure what you are trying to prove to us we have established we aren't against this but we are against breaking people. But maybe you've never experienced being on the front page of hacker news when people can't download or install your project

[2016-06-03 14:52] justincormack commented on #20331
@maxamillion does the version of `tar` on rawhide do something different, eg extract extended attributes by default without any extra flags? Also can you try it with the official docker binary not the native rawhide one, as something is clearly different, trying to work out what...

[2016-06-03 14:56] dingelish commented on #23228
same problem here.
ubuntu 16.04, `--insecure-registry` in /etc/default/docker is set and service restarted. but still 20527

[2016-06-03 14:59] jfrazelle commented on #22870
We obviously aren't obtuse, we implemented the feature in the first place! To make people secure by default! Which a lot of other container runtimes do not do. So I'd appreciate it if this conversation was kept towards implementation and testing to make sure there is no breakage. Thanks.

[2016-06-03 15:03] fflatorre commented on #20240
Hi,

I've been beaten by this bug few hours ago.

I can confirm the behaviour : get broen permissions (?????) until you first "access" the resource as root.
As stated by someone else a simple "ls" as root first will fix everything.

[code]

[code]

[code]

[code]

Cheers,
Francesco

[2016-06-03 15:07] LukasBacigal commented on #21776
If you are using NetworkManager and have problematic network accessible via default route you can set script like this at
/etc/NetworkManager/dispatcher.d/_10reservepool_
[code]
docker network then doesnt create overlapping networks, at least this works for me.

[2016-06-03 15:14] gamesbook commented on #5684
Same issue with a container that is failing to restart.

Ubuntu 14.04
Kernel: 3.13.0-24-generic
Docker Version:
[code]
Error:
[code]
Unmount fails:
[code]

[2016-06-03 15:54] elycruz commented on #14339
Ha!  I had `DockerFile` instead of `Dockerfile` lol

[2016-06-03 16:19] kaptajnen commented on #21459
@yoshiokatsuneo Thanks, that was the problem. I had a directory named "c" which caused it to break.

[2016-06-03 16:30] clavecoder commented on #23214
Thanks! Very helpful. You may want to remove the caveat in the instructions to https://github.com/docker-library/official-images#init.

[2016-06-03 16:30] maxamillion commented on #20331
@justincormack I tried but the docker official repo is failing.

[code]

[2016-06-03 16:37] justincormack commented on #20331
Ah, you can use the static binaries (but they don't support devicemapper), or just build from source yourself.

[2016-06-03 16:41] exowaucka commented on #8693
Is this issue supposed to be resolved on RHEL 7?  I'm running CentOS 7 with docker 1.9.1, and I'm having the problem reported by the original submitter (large number of deleted json.log files being held open).

[code]

The xfs-formatted root disk is 30 GB.  There are no other disks on the system.

[2016-06-03 16:55] dyn- commented on #22870
@ricardobranco777 I'm the author of the War and Peace on Containers you referenced while back. I talked with my co-worker Jesse and we'll be updating the paper to reflect that, unfortunately it's not enabled by default, sorry for this misstatement. @jfrazelle is fighting the good fight though, there are a LOT (too many) people still using ole Trusty, and the devs are just trying to be careful. I a

[2016-06-03 16:57] thaJeztah commented on #23188
But the stats API call is streaming, so it only takes 2sec before the first result is returned, not 200 * 2 seconds? If I use the docker client, (CLI), it only takes 2 seconds for the stats of all containers to be shown; here I spun up 50 containers, ran `docker stats`, and after 2 seconds, I have stats for all containers, that are refreshed every second;

[code]

[2016-06-03 17:00] thaJeztah commented on #22870
Thanks @dyn-, and thanks for a great writeup!

[2016-06-03 17:08] ToBeReplaced opened #23243 "Data volumes deleted with --rm, documentation makes a bad promise"
I read the user guide first:
https://github.com/docker/docker/blob/c37ca913ff66b4402aaa8f54e17498a09778be51/docs/userguide/containers/dockervolumes.md#data-volumes

This makes a promise:

[code]

I did `docker create volume --name test`, then `docker run --rm -v test:/test centos:7`, and voila, my `test` volume is gone. Version 1.9.

Maybe I expect too much, but when the documentation emphasizes "

[2016-06-03 17:12] jhowardmsft commented on #23221
Both notepad.exe and PowerShell add it - the latter being the most 'annoying' one. I'll all for having Docker work around this :+1:

@swernli FYI

[2016-06-03 17:16] ricardobranco777 commented on #22870
LOL.  The _War and Peace_ title fits perfectly.  Thanks a lot @dyn-

I stick to my stance that nothing would break, given the reasons above.

[2016-06-03 17:37] shishir-a412ed commented on #23243
@ToBeReplaced you mean `docker volume create --name test` :)
Which version of docker are you using ?

Shishir

[2016-06-03 17:39] cpuguy83 commented on #23243
Yes, `--rm` performs a `docker rm -v`, which **does** remove volumes.
However... it should not be removing named volumes.
This was a bug in 1.9. Fixed in 1.10.

[2016-06-03 17:39] #23243 closed

[2016-06-03 17:41] ToBeReplaced commented on #23243
@shishir-a412ed Yes, :). `Docker version 1.9.1, build ab77bde/1.9.1` via CentOS 7.

@cpuguy83 Is it appropriate to modify the documentation for 1.9 and/or edit the head documentation to indicate "as of 1.10"?

[2016-06-03 17:44] cpuguy83 commented on #23243
@ToBeReplaced I'm not sure that the old docs can be modified. It would be perfectly fine to update the head docs to include the info... see https://github.com/docker/docker/blob/c37ca913ff66b4402aaa8f54e17498a09778be51/docs/userguide/containers/dockervolumes.md#removing-volumes

[2016-06-03 17:59] cpuguy83 commented on #23128
I still don't understand why you think these results are conflicting?

Literally the first thing the daemon does on `Shutdown` is stop all containers (absolutely nothing else), and it does that by iterating over all of them and calling the same function that `docker stop` does.

[code]

`shutdownContainer` is just for handling a special case for paused containers, for unpaused containers it calls

[2016-06-03 18:13] jfrazelle commented on #22870
Done, instructions for testing are on the PR https://github.com/docker/docker/pull/23245

[2016-06-03 18:18] ricardobranco777 commented on #22870
Thanks a lot, @jfrazelle !!

[2016-06-03 18:48] thaJeztah opened #23246 "Flaky test: TestBuildDockerignoreComment"
This test was added recently, and fails on WindowsTP5; guess this is the issue with Windows not liking filenames named `#1`

[code]

[2016-06-03 19:13] mkscrg commented on #21220
Any movement here? It's bad behavior for `docker logs -f` to exit cleanly when the the container is still running.

We've hit this issue in an AWS ElasticBeanstalk system, which does this in an init script after running a container:

[code]

So when `docker logs` exits cleanly and the container is still running, our logs stream breaks.

[2016-06-03 19:52] maxamillion commented on #20331
@justincormack I built from source and confirmed that this works

[code]

[2016-06-03 19:53] thaJeztah commented on #23246
Test was added in https://github.com/docker/docker/pull/23111, but was green when that was merged

[2016-06-03 20:07] mabbasi90 commented on #23228
Same problem, ubuntu 16.04...
docker version:
Client:
 Version:      1.11.2
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   b9f10c9
 Built:        Wed Jun  1 22:00:43 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.11.2
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   b9f10c9
 Built:        Wed Jun  1 22:00:43 2016
 OS/Arch:      linux/amd64

[2016-06-03 20:28] #23221 closed

[2016-06-03 20:48] rapfigueiredo opened #23249 "/etc/hosts"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

[2016-06-03 21:07] lenxeon commented on #23201
@HackToday @thaJeztah   pull progress stop at  4.651 MB/6.459 MB

[2016-06-03 21:13] lenxeon commented on #23115
@HackToday @thaJeztah  progress stop at  4.651 MB/6.459 MB
use ctrl+c to break  it and pull agin, it will stop at here everytime

[2016-06-03 21:18] thaJeztah commented on #23201
Is this from Docker Hub, or a private registry?

[2016-06-03 21:34] sburnwal opened #23250 "Dcoker content trust - image pulled without signature verfication"
I am using docker 1.11 that has content trust in-built but I want to see a working case for enforcing signature validation during docker pull. As I understand, notary service sends the image public key over https to the docker pull client. However, I want to see this trust in action that is claimed in the docs https://docs.docker.com/engine/security/trust/content_trust/ (under pull images section)

[2016-06-03 21:38] MHBauer commented on #23249
closing as there is no content here for over an hour.

[2016-06-03 21:38] #23249 closed

[2016-06-03 22:01] thaJeztah commented on #21220
@mkscrg would the AWS CloudWatch logs driver be a solution for your use case? https://docs.docker.com/engine/admin/logging/awslogs/

[2016-06-03 22:04] #23101 closed

[2016-06-03 23:34] thaJeztah commented on #23250
ping @cyli could you have a look at this?

[2016-06-03 23:37] thaJeztah commented on #23223
Correct, this is being worked on for the next release. I'll close this issue, because this is being tracked by https://github.com/docker/docker/issues/2658

[2016-06-03 23:37] #23223 closed

[2016-06-03 23:41] thaJeztah commented on #23233
Can you try if you're still able to reproduce this on the current release (1.11.2)? We recently merged one fix in this area; https://github.com/docker/docker/pull/22997 and possibly others as well since 1.10.3

[2016-06-03 23:53] iamianmiller commented on #7336
+1

[2016-06-04 00:19] tim-faase commented on #21702
For anybody that stumbles on this problem in Amazon ECS, upgrade to the latest AMI amzn-ami-2016.03.c-amazon-ecs-optimized.

[2016-06-04 00:38] mkscrg commented on #21220
@thaJeztah I don't think so. EB automatically rotates log files (redirected from `docker logs -f` output) and copies them to S3. We rely on that S3 copy for cold log storage, and this docker issue breaks that too.

(We do send logs to CWL for monitoring, and we use the standard EB+CWL config to do it. It works fine except for this issue.)

I've talked to AWS support about this. They said roughly "

[2016-06-04 02:04] cyli commented on #23250
@sburnwal:

Yes, you should be able to pull with or without content trust enabled.  The signed data is additional metadata that lives next to the image.  The image is always pushed to the registry, so you can still pull it whether or not you have trust enabled.   Here is a table for whether things are pullable.

|                                       | pullable with trust | pullable without trust

[2016-06-04 02:46] deviantony commented on #22185
I also see a lot of "More than 100 concurrent queries" in the Docker journal.

All my containers are running in an *overlay* network though, and it seems that the error message points at the gateways in the *docker_gwbridge* network.

[code]

I'm having connectivity issues between my containers (see https://github.com/docker/swarm/issues/2284) but I'm not sure if it is related.

[2016-06-04 02:53] cpuguy83 commented on #23228
`/etc/default/docker` is specific to upstart.
16.04 uses systemd.

For platform-independent configuration, see `/etc/docker/daemon.json`.
https://docs.docker.com/engine/reference/commandline/daemon/#daemon-configuration-file

[2016-06-04 03:16] tiagomacarios opened #23252 "Windows Server 2016 TP5 installation issue"
**Output of `docker version`:**

Client:
 Version:      1.12.0-dev
 API version:  1.24
 Go version:   go1.5.3
 Git commit:   2b97201
 Built:        Tue Apr 26 23:51:36 2016
 OS/Arch:      windows/amd64

Server:
 Version:      1.12.0-dev
 API version:  1.24
 Go version:   go1.5.3
 Git commit:   2b97201
 Built:        Tue Apr 26 23:51:36 2016
 OS/Arch:      windows/amd64

**Output of `docker info`:*

[2016-06-04 03:33] tarunlalwani commented on #23188
@thaJeztah , I am not pulling stream. I pull data once every 2 mins without the stream. I don't need a stream as the query is directly done over a ajax call

[2016-06-04 03:55] alairock commented on #23146
Not trying to story top anyone but....
<img width="304" alt="screen shot 2016-06-03 at 9 54 52 pm" src="https://cloud.githubusercontent.com/assets/1480236/15797448/e3f75b14-29d5-11e6-8286-6aa4e1d871bd.png">

[2016-06-04 03:56] alairock commented on #23146
Even sadder:
<img width="291" alt="screen shot 2016-06-03 at 9 56 10 pm" src="https://cloud.githubusercontent.com/assets/1480236/15797449/052c5eba-29d6-11e6-9136-7e36a07fbd3c.png">

[2016-06-04 05:13] styfle commented on #22484
@JoyceBabu I just realized I got an invite a month ago! Thanks for pointing that out 😄

[2016-06-04 06:20] terracott commented on #23228
@cpuguy83, it's working! Thanks

[2016-06-04 06:20] #23228 closed

[2016-06-04 09:49] HariSekhon commented on #13588
+1 👍

This is actually causing my builds to fail in my online CI now because of all the very verbose docker pull output assuming it's an interactive terminal and the job ends up detecting too much output and assumes it's recurring exceptions and terminates the build :(

[2016-06-04 09:57] timcoote commented on #13481
@cedric-dufour if your assigning ip addresses to developers won't that create issues should the code get to production, when the ip addresses are not stable? Or even issues when the network undergoes prefix renumbering?  When originally designed, I think that it was envisioned that ipv6 addresses would be stable. However, that assumption doesn't always hold in the wild.  Is it overkill to use DNS

[2016-06-04 10:00] MaxNoe commented on #6119
+1

[2016-06-04 10:32] justincormack commented on #13481
@timcoote addresses in development and production will always be different, no one should be making assumptions about fixed addresses in general as services go up and down, you always should use service discovery eg DNS.

[2016-06-04 10:35] cedric-dufour commented on #13481
@timcoote I would say:
1. containers should not depend on a fixed IP address. Assigning IP addresses (and all that goes along: DNS, firewall, monitoring) should not be the container developer/user job (the only thing that should interface the two "worlds" being the protocol/port number on which a containerized service is listening). This job is that of those of manage the production environment as

[2016-06-04 10:49] thaJeztah commented on #23188
I'm going to close this issue, because I think the question is answered; the stats endpoint returns an average, and to calculate this, we need an interval to collect the average. Increasing the frequency (shorter interval) would result in a high load on the daemon, and could affect the performance of the containers.

Note that the stats are only collected when the stats endpoint is requested, so t

[2016-06-04 10:49] #23188 closed

[2016-06-04 11:02] thaJeztah commented on #23146
@alairock are you running beta 13.1?

[2016-06-04 12:07] #23246 closed

[2016-06-04 12:41] thaJeztah commented on #23252
/cc @jhowardmsft

[2016-06-04 13:22] thaJeztah commented on #23205
Actually, I was looking at the wrong branch, and the online docs are correct. Docker 1.11 only supports `--filter dangling=(true|false)`

[code]

As far as I can see, that's working correct; only the volume `data-volume1` is currently used by a container, and the others are not

The `--filter name=xyz` and `--filter driver=foo` are coming in docker 1.12, so are not available yet in the current rel

[2016-06-04 13:22] #23205 closed

[2016-06-04 13:38] alairock commented on #23146
Not sure. I've since upgraded to latest. Things seem better.

On Jun 4, 2016, 4:04 AM -0700, Sebastiaan van Stijn<notifications@github.com>, wrote:

[2016-06-04 13:51] JonasT commented on #13481
Perfect IP flexibility is a silly illusion though. While the IP should never be hardcoded, at some point your domain DNS needs to meet the public IP of your server and DNS isn't inherently flexible and changeable every minute unless you use DynDNS style extensions. This is why at least some sort of basic IP stability for some containers' **public IPs** is required.. (not the internal ones behind N

[2016-06-04 14:03] yongtang commented on #23246
@thaJeztah I tried on a PowerShell in Windows TP5 with:
[code]
in multiple runs and could not find a problem (`#1` file seems to be OK in PowerShell and busybox.exe as long as it is quoted.).

I did notice that inside the container the cmd was run with a hack to skip the "busybox.exe":
https://github.com/jhowardmsft/busybox/blob/master/Dockerfile
[code]

As a true novice on Windows TP5 and PowerSh

[2016-06-04 16:41] thaJeztah commented on #23246
@yongtang yes, @jhowardmsft mentioned that it may be a Windows bug

[2016-06-04 16:59] dimrozakis commented on #20044
Running on debian jessie, I came upon this bug. If one runs the installation script while there is a file named `a` in the current directory, the script consistently fails. I tested with downloading the file first and then running it, not directly piping to sh. `dpkg --print-architecture` returns `amd64` regardless of the existence of the `a` file.
[code]

[2016-06-04 17:10] jhowardmsft commented on #23252
@mebersol - known?

[2016-06-04 17:42] PedramMarandi commented on #23115
@lenxeon I think the problem is exactly with ctrl+c, as  I told that in first of topic when I force-closed terminal this happened

[2016-06-04 18:00] mackeyja92 opened #23259 "Fedora 24 yum packages"
Fedora 24 is not on the `https://yum.dockerproject.org/repo/main/fedora/` repos. Subsequently trying to install docker-engine with yum is failing. Fedora 24 is currently in public beta and will be going for GA later this month.

[2016-06-04 18:03] runcom commented on #23259
I think we're waiting on GA anyway (since Docker always did this in the past iinm)

[2016-06-04 18:06] mackeyja92 commented on #23259
@runcom Ok, what is the recommended way to proceed in the meantime?

[2016-06-04 18:09] runcom commented on #23259
Either build the rpm yourself (we have a make target iirc) or compile and install from source - or probably grab older or experimental Linux builds.

I'll defer this to @thaJeztah you may know more than me

[2016-06-04 21:09] igrayson commented on #22753
Is the above comment accurate?

I found that, from within docker-for-mac-beta containers, the docker host could be found and connected to at the usual `172.17.0.1` address (assuming the service bound to `0.0.0.0`).

[2016-06-04 22:07] pgrm commented on #17118
I didn't have this issue before, but started experiencing it after setting up docker on a new server. The error shown is:

However, the postgres container is running and actively used by other containers without problems.

[code]

[code]

all containers are running with `--retstart="always"` and it hasn't been an issue before. The only way I can resolve it right now is to restart the server. Any i

[2016-06-04 23:08] thaJeztah commented on #20044
@dimrozakis I saw a mention of that on another issue, apparently, bash tries to evaluate any file called `a`, `r`, `c`, `h`, etc., due to the `[arch=amd64]`. Can you open a new issue for that?

[2016-06-04 23:41] dimrozakis opened #23260 "https://get.docker.com shell script bug concerning debian based distros"
The shell script from https://get.docker.com/ contains this line for debian/ubuntu based distros:
[code]

There's an issue with the `[arch=$(dpkg --print-architecture)]` part. It seems that if there's any file named `a`, `r`, `c`, or `h` in the current working directory, the script will add a line like `deb a https://apt.dockerproject.org/repo debian-jessie main` (if a file named `a` existed) whic

[2016-06-04 23:41] dimrozakis commented on #20044
@thaJeztah I opened issue #23260

[2016-06-04 23:44] dimrozakis commented on #23260
I'm not sure, but I think that escaping the brackets with backslashes should fix the issue:
[code]

[2016-06-05 00:16] thaJeztah commented on #23260
Could well be, I didn't dive into it yet, but the script is in this repository; https://github.com/docker/docker/blob/master/hack/install.sh

If that solves the issue, pull requests are welcome :+1:

[2016-06-05 02:47] xsuncode commented on #16816
@vlad-vintila-hs  I encountered the same.Thanks for the tip.

[2016-06-05 08:01] KJTsanaktsidis commented on #20316
I actually think trying to get better cache usage for CI agent image builders by pulling, building and pushing is actually the wrong approach, for anything other than the `latest` tag. Imagine you are running builds which get a sequential build number. When the build succeeds, the image is pushed to the registry and tagged with that build number. To get proper cache usage, your agent would need to

[2016-06-05 08:06] KJTsanaktsidis commented on #20316
The main difference between the existing docker registry and what this hypothetical cache server would need to do:

* It would need to know how to answer the question "give me an image which is this parent image after running this container config" - i.e. what `GetCachedImage` in `daemon/image.go` is doing
* Its storage requirements are different. The registry should be a permenant an immutable re

[2016-06-05 08:12] jmzwcn commented on #22466
Two changes are both merged, I think this issue could be closed.

[2016-06-05 10:15] OrKoN commented on #22585
I have problems related to MTU as well. I am running a desktop version of Ubuntu 16.04 with the default configuration. I cannot pull any images from the registry till I set mtu to 900 on docker and wlan interface as well, restart docker and open a new terminal session.

I am not sure actually where the problem is. I guess it can be smth in Ubuntu, smth in my network, smth in my ISP or on the regis

[2016-06-05 10:39] HamidEDD opened #23262 "Force containers to use cgroup-parent defined by Docker Daemon"
**Output of `docker version`:**

[code]

**Steps to reproduce the issue:**
1. docker daemon --cgroup-parent=/example/demo -D ....
2. docker run --cgroup-parent=/ ....

**Describe the results you received:**
**Describe the results you expected:**

I would like to make docker API available to a group of user with limited resources.
So i create a Cgroup (demo) for Docker and configure Daemon to use -

[2016-06-05 10:51] least-olegs commented on #13337
Hello,
We are seeing this issue too, pretty much the same symptoms described by jzelinskie. However, DNS is clearly unrelated because we use IPs rather than names.

We use Go Docker library rather than command-line utility.  In our data-center this only happens on two out of about a dozen ESXi machines (I'm saying about a dozen because machines execute very different workloads wrt Docker operation

[2016-06-05 10:52] OrKoN commented on #22585
Why I think this may not be the registry problem is me having connectivity issues on some other websites: uploading a picture to slack in a web client is timing out; submitting registration requests in stripe is timing out. Yes, just particular requests on particular services. And docker pull. Everything else works fine. MTU seems to be fixing both Stripe and Slack. Can it be that docker registry,

[2016-06-05 10:58] justincormack commented on #22585
You will only notice MTU issues on some sites as sometimes most requests or
replies are small (but then you try pictures on slack and that will use
large packets), and you may have different routes with different
properties. But it is not an issue with the sites that are serving content.

Unfortunately it is not very easy to debug, you should speak to your
network and/or VPN provider to see if the

[2016-06-05 11:14] thaJeztah commented on #22466
@jmzwcn are the libnetwork changes already included in master? we may have to wait with closing until those are vendored in

[2016-06-05 11:23] jmzwcn commented on #22466
Yes, https://github.com/docker/libnetwork/pull/1164 have been merged into master.

[2016-06-05 11:28] thaJeztah commented on #22466
@jmzwcn it was merged to master in libnetwork, but docker does not yet have it vendored in (if I see if correctly) https://github.com/docker/docker/blob/1f9e3815aa4ac7eaa707f3a9b436f23c29355a8f/vendor/src/github.com/docker/libnetwork/endpoint.go#L536

[2016-06-05 11:42] allencloud opened #23263 "support more types of daemon events besides reload?"
Hi, All,

It is really Great for docker to support daemon events (https://github.com/docker/docker/pull/22590) in future's docker 1.12.0. Thank to @yongtang

Currently docker supports **reload** daemon events which is really important, while in my own opinion, we can enhance this to support more, such as "stop" and "start".

Here is my reason:
For one user, he may use event policy to monitor all c

[2016-06-05 12:00] gerhard6 opened #23264 "oracle12 database fails to run with zfs storage driver"
**Output of `docker version`:**

Client:
 Version:      1.11.2
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   b9f10c9
 Built:        Wed Jun  1 22:00:43 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.11.2
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   b9f10c9
 Built:        Wed Jun  1 22:00:43 2016
 OS/Arch:      linux/amd64

**Output of `docker info`:**

Container

[2016-06-05 12:03] sanmai-NL commented on #15973
Can it be closed then?

[2016-06-05 12:06] thaJeztah commented on #23263
I can see this working for `stop`, but how would `start` work? Given that you need a running daemon to connect to its even-stream

[2016-06-05 12:13] allencloud commented on #23263
@thaJeztah
Here is my case, please check it.

When we got daemon's `stop` event, we can treat it as daemon's exited. Then if daemon starts again, in the period client is always trying to connect with daemon, in some case client receives container's event such as container's `start` event while misses the daemon's `start` event. Then we can treat this as a miss or inconsistency, then do some synchr

[2016-06-05 12:18] thaJeztah commented on #23263
Yes, but my point was that it would never get the `start` event, because it's not connected at that point

[2016-06-05 12:24] allencloud commented on #23263
I think it would be better for daemon to emit `start` event after daemon is ready for event stream. In the delta time of :
* daemon is ready for event stream
* emit a `start` event of daemon

If client succeeds in connection, everything is OK, if fails, we can regard client missed something.

[2016-06-05 12:49] runcom commented on #23263
I think you can watch dockerd pid with standard Linux facilities to understand daemon events such as start and stop - this means I'm -1 on this. There's no point to me in dockerd providing this functionality as it would be flaky anyway (start and stop being an example)

[2016-06-05 13:08] jmzwcn commented on #22466
Well, thanks for your clarify.

[2016-06-05 13:29] allencloud commented on #23263
@runcom
Yes, I totally agree with you if the client and dockerd are both on a host. We can use other approach to get this. While in my case, Swarm or other remote clients have no right to sense the daemon's stop and start.

[2016-06-05 13:56] justincormack commented on #20316
@KJTsanaktsidis I think making it a registry would be quite limiting, and having it as a separate service would be better, as you say lifecycle is very different as you can always reconstruct it.

[2016-06-05 14:15] Arcrammer commented on #22182
The guide says it's available for Xenial but it's not so shouldn't it be removed from the guide? Has this issue been resolved yet? I just tried a fresh installation and still nothing.

![Misleading Guide Screenie](http://s33.postimg.org/fjkbjkv0d/Screen_Shot_2016_06_05_at_10_12_00.png "Why Docker!? WHYYYYYYYYY???")

[2016-06-05 14:32] est31 commented on #22585
Yeah I think its most likely my ISP is to blame here.

[2016-06-05 14:32] #22585 closed

[2016-06-05 14:41] thaJeztah commented on #23259
Generally, we try to have support for distro releases that are released the moment we do our release. I know we once ran into an issue with Fedora 23, which was released literally 14 hours after we did a Docker release, so as an exception, we published packages for that after we did the release.

The same accounts for EOL versions; if we know a version is EOL'd, we no longer publish packages for t

[2016-06-05 14:42] thaJeztah commented on #23259
Also note that this is all for the OSS / Community edition of Docker. The commercially supported ('CS') version of Docker may keep different schedules for supported distros, and is known in some cases to include support for distros that are officially EOL'd

[2016-06-05 14:44] thaJeztah commented on #22182
@Arcrammer it's available; http://apt.dockerproject.org/repo/dists/ubuntu-xenial/. Did you run into issues when installing? Are you perhaps running a 32-bit version or different architecture?

[2016-06-05 14:45] yongtang commented on #22466
@thaJeztah @jmzwcn I was looking into updating libnetwork to bring in ipvs and load balancing with pull request #23266. I think it will help close this embedded dns problem once it is merged.

[2016-06-05 14:51] Arcrammer commented on #22182
@thaJeztah Yes, it's 32 bit —_______—.

Sorry about that. I could have sworn I installed 64 bit. Thank you!

[2016-06-05 15:26] chrisewallace commented on #22449
I am experiencing the same problem both before and after applying the .\update-containerhost.ps1 script suggested by @smadam813.

[code]
[code]

[2016-06-05 15:31] WeiZhang555 commented on #23211
Oh, so we have a list! Thank you @vdemeester for directing me here :sunglasses:

[2016-06-05 15:34] yongtang commented on #23211
@dnephin @vdemeester Would you mind if I work on several of the items as well?

I think I can start with simple ones like `stop` and `tag`, and will try to help more if I can get them done earlier.

[2016-06-05 15:42] michaljrk opened #23270 ""No route to host" after reboot , docker overlay network issue"
There are 3  virtual machines running docker, hosted on 3 separated physical boxes.
The docker overlay network is set up between them to communicate 3 mongo docker containers (mongo,mongo2,mongo3 - replica set).

Everything worked as expected for a while, but after restarting physical host for mongo3, the container has lost communication with mongo and mongo2 over the docker overlay network.

I'm

[2016-06-05 15:43] vdemeester commented on #23211
@yongtang yay :tada: noted :wink:

[2016-06-05 16:00] cpuguy83 commented on #22753
@igrayson This is because the containers are in the VM with the docker daemon and can certainly access it.
The issue is routing from OSX into the VM net.

[2016-06-05 16:12] gerhard6 commented on #23264
did another test: run docker itself on aufs, but mount the data volume on a zfs-based host directory. Same error happens
So, in every case, when oracle user with "listener" or "dbca" touch zfs, we get this error.

[2016-06-05 16:33] allencloud commented on #22838
Any plans on it? @cpuguy83

[2016-06-05 16:33] mackeyja92 commented on #23259
@thaJeztah Ok I will be looking forward to those releases. I tried to build it myself last night but was unsuccessful. Is there a guide somewhere for building docker without docker? I need to get this running soon. Thanks

[2016-06-05 16:41] igrayson commented on #22753
That's not my understanding of the OP issue:

I am running docker-for-mac-beta, and have no trouble connecting to redis and other local services -- running on OSX -- by having them listen on `0.0.0.0`, and having my dockerized apps connect to `172.17.0.1`.

[2016-06-05 16:45] thaJeztah commented on #23259
@mackeyja92 you may be able to find some info in https://github.com/docker/docker/blob/master/project/PACKAGERS.md, but it could be outdated due to recent changes (multiple binaries, RunC and containerd integration). The best place to look may be the Dockerfile and see what steps are used to build those; https://github.com/docker/docker/blob/master/Dockerfile

[2016-06-05 17:04] thaJeztah commented on #23262
Docker doesn't have this built in (I.e. there's no built in feature to disallow certain actions, or have different "type" of users), however, you could limit access to the `--cgroup-parent` flag for `docker run` / `docker create` through an authorization plugin. See https://docs.docker.com/engine/extend/plugins_authorization/, and https://docs.docker.com/engine/extend/plugins/#authorization-plugin

[2016-06-05 17:04] #23262 closed

[2016-06-05 17:13] seehuhn opened #23275 "docker -v does not work for directories with one-letter names"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

This is docker in current CoreOS

**Steps to reproduce the issue:**
1. create a directory with a one-letter name (`/srv/o` in the example below)
2. bind mount this directory into a docker container, using `docker -v ...:...`
3. try to access the dire

[2016-06-05 17:14] seehuhn commented on #23275
Forgot to write: the problem only seems to occur if the directory name consists of a single letter.  Using `/srv/or` in place of `/srv/o` in my original report makes the problem go away for me.

[2016-06-05 17:26] thaJeztah commented on #23275
Looks like a duplicate of https://github.com/docker/docker/issues/20122, which is fixed by https://github.com/docker/docker/pull/21106 in docker 1.11; can you try on the current release?

[2016-06-05 17:30] seehuhn commented on #23275
I tried to search for duplicates, not sure how I missed these.  I can't easily try the current version right now, will need to wait until the fix shows up in CoreOS.  Once version 1.11 arrives, I'll check and re-open if needed.

[2016-06-05 17:30] #23275 closed

[2016-06-05 17:33] paulmenzel commented on #15973
I’ll close the bug, as there won’t be a conclusion.

For systemd compatibility I’d still believe, that it should only be mount read-only even in privileged mode. With that, systemd can easily tested in privileged mode, to help users to find out what is wrong, and not change systemd’s behavior in the process. Users needing write permissions can easily remount it writable.

Issue #18796 might be int

[2016-06-05 17:33] #15973 closed

[2016-06-05 17:38] thaJeztah commented on #23275
Thanks!

[2016-06-05 17:45] paulmenzel opened #23277 "Docker upgrade stops containers"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Debian 8.4 (Jessie/stable)

**Steps to reproduce the issue:**
1. Run `apt update` and `apt upgrade`

**Describe the results you received:**

Upgrading from Docker 1.11.0 to 1.11.2 not all containers were running again.

**Describe the results you exp

[2016-06-05 18:15] yongtang commented on #23211
Thanks @vdemeester. Pull request for both `tag` and `stop` have been created.

Next I think I can pick up `unpause` and `update` if no one is working on them yet.

[2016-06-05 18:25] cpuguy83 commented on #22838
Contributions welcome, I don't see why we wouldn't add these.

[2016-06-05 18:28] thaJeztah commented on #23277
Only containers with a restart policy are restarted after an upgrade; did those containers have a restart policy set?

Note that we're working on allowing the daemon to be upgraded without stopping the containers; https://github.com/docker/docker/issues/2658

[2016-06-05 18:41] paulmenzel commented on #23277
Interesting, though confusing. *Restart* for me always means, in case the container dies/stops unexpectedly.

One DB container (MariaDB) has a restart policy of *always* but wasn’t started.

[code]

Another container (Memcached) was restarted properly though.

All other containers have a restart policy of 0.

If this should be debugged further, please tell me, where I can find the reason, why the

[2016-06-05 18:51] thaJeztah commented on #23277
Ok, if the container has a restart policy set, then it should be restarted, yes. Do the daemon logs or logs for that container show anything that indicates why it refused to start?

Note that, if the container fails to start, the timeout before the next attempt is increased exponentially (100ms, 200, 400, and so on), if it's tried in quick succession, that timeout can quickly become large, keeping

[2016-06-05 19:10] thaJeztah commented on #22838
I think @yongtang was planning to include that as part of the `volume filter` PR https://github.com/docker/docker/pull/21567, which was waiting for https://github.com/docker/docker/pull/22077 (which is almost merged)

[2016-06-05 19:10] OrKoN commented on #22585
The strange thing though is that all problematic services are on AWS. I guess docker registry is there too?

[2016-06-05 19:11] thaJeztah commented on #22838
(Sorry, pinged @yongtang, but meant to ping @HackToday, sorry! Bad memory, haha)

[2016-06-05 19:43] justincormack commented on #23264
Ok to rule some things in or out, can you try with various flags to `docker run`:
1. `--security-opt seccomp=unconfined`
2. `--security-opt apparmor=unconfined`
3. `--privileged`
4. `--cap-add sys_admin`
If any of those are different will give a clue, as the error messages are not very helpful.

[2016-06-05 19:45] timcoote commented on #13481
@justnicormack. I agree. What I meant was that the stability of the ip addresses should be consistent between development, the CD pipeline and production

It's looking to me like IPv6 rollout will release quite a few new operational models, and these need to be understood by systems designers and implementers. In particular, there will be many ip addresses per computer, and different routes to eac

[2016-06-05 19:51] justincormack commented on #15973
You should be able to run systemd with just `--cap-add sys_admin` (and maybe `--security-opt seccomp=unconfined` but this requirement should go away by 1.12), you should not need `--privileged`. In fact you may not need any privileges at all, some people have working non privileged setups.

[2016-06-05 19:53] paulmenzel commented on #23277
How do I find that out? `zgrep containername /var/log/syslog*` doesn’t show anything.

[2016-06-05 19:58] JonasT commented on #13481
@timcoote hm your point is very valid, and if docker at least provided sensible iptables firewall rules as a default that would be a huge improvement. I guess my point about working without NAT being illusionary is wrong/overstated.

However, let me point out another use case for NAT with IPv6:

Running microservices (a more and more popular pattern) splits up a lot of stuff into tiny things, and

[2016-06-05 19:58] paulmenzel commented on #15973
I don’t see how that is related to the issue at hand. I am well aware of that.

The point is, that if something does not work in a container, it’s a good practice to see if it works in a privileged container to rule out any permission problems. The current behavior makes that hard, as systemd also changes behavior as it doesn’t recognize the container as a container, as currently systemd’s specifi

[2016-06-05 20:01] #22961 closed

[2016-06-05 20:34] mitchcapper commented on #20316
Except the build cache and images are very closely related so separating them into different services not only seems overly complicated but not very worthwhile.  The build cache essentially says a dockerfile from image X,  when command Y was run resulted in Image Z.   The layers of those images are already essentially stored in the registry (x/z).   So largely we are talking about that metadata.

[2016-06-05 20:39] #21991 closed

[2016-06-05 21:42] yongtang commented on #23211
Thanks @vdemeester again. The pull request for both `unpause` and `update` have been submitted.

I think I can pick up `diff`, `logs`, `pause` and `port` next if not one is working on those yet.

[2016-06-05 22:11] onlyjob commented on #22961
Thank you. :)

[2016-06-05 23:48] vincentwoo commented on #21990
This has a 1.11 label but I don't think it was addressed.

[2016-06-06 00:13] Frogging101 commented on #13481
On 16-06-05 03:47 PM, timcoote wrote:

I really don't see everyone switching to dynamic IP addresses just
because there are more ways to do it now. Static addresses are still
simpler because you don't need all the extra infrastructure to handle
dynamically routing them. Individuals and businesses that aren't running
huge redundant clusters of servers won't bother with the extra
complexity. They ne

[2016-06-06 00:54] alfadb opened #23288 "1.11.2 Error on Archlinux"
When I update docker from 1.11.1 to 1.11.2, docker cannot start.
I use `sudo docker daemon -D`, get this error:

`DEBU[0000] docker group found. gid: 996
DEBU[0000] Listener created for HTTP on unix (/var/run/docker.sock)
INFO[0000] New containerd process, pid: 1181

DEBU[0000] containerd connection state change: TRANSIENT_FAILURE
Incorrect Usage.

NAME:
   containerd - High performance container

[2016-06-06 01:31] HackToday commented on #22838
@thaJeztah  I would check that after #22077 landed. if my PR would cover that.

[2016-06-06 01:56] tunnckoCore opened #23289 "Can't start with systemctl - actually, no errors, it just hangs on everything"
I seen the issue template, but I can't give nothing of wanted. Only a fiew things.

1. I'm on fully upgraded ArchLinux, 64bit processor
2. Installed docker via pacman `pacman -S docker` - no problems
3. Enabled via `systemctl enable docker.service`, reboot
4. Added my username to docker group `sudo usermod -aG docker $(whoami)`, reboot
5. Just hangs on `docker info`, `docker version` and even when

[2016-06-06 03:00] TMily commented on #23289
same issue

[2016-06-06 03:14] pwhelan commented on #23289
this seems to be the commit implementing the flag in containerd: https://github.com/docker/containerd/commit/3742ae3ec888da95554edc7705272bc42d193680. From the looks of it containerd is out of sync with the version of docker on arch.

[2016-06-06 04:05] yongtang commented on #23211
@vdemeester I added three more `rename`, `history` and `images`. Here is the list of related pull request:
#23283 diff
#23284 logs
#23285 pause
#23286 port
#23287 wait
#23290 rename
#23291 history
#23292 images
Please let me know if there are any issues.

[2016-06-06 04:37] mzry1992 commented on #23289
Same here, I use `1.11.2, build b9f10c9` and my system is arch linux. I tried restart docker daemon with -D flag, here are what I got:

[code]

[2016-06-06 05:09] frol commented on #23288
#23289 is a duplicate, but it is better formatted, so I suggest to close this issue and follow #23289.

[2016-06-06 05:20] frol commented on #23289
It seems to be an Arch Linux specific bug. I have found this bug report on Arch Linux bug tracker: https://bugs.archlinux.org/task/49582

[2016-06-06 05:47] wattletimber commented on #7758
Hi Guys am ahving serios my docker container is increasing everyday by 1 gig how can i create space? see image below
<img width="748" alt="screen shot 2016-06-06 at 6 43 50 am" src="https://cloud.githubusercontent.com/assets/19662899/15812940/d552876e-2bba-11e6-8110-f0bd5cb979e5.png">

[2016-06-06 05:56] saiwl commented on #23187
@HackToday  yes,  but for overlayfs

[2016-06-06 06:04] gerhard6 commented on #23264
--security-opt seccomp=unconfined: same error
--security-opt apparmor=unconfined: same error
--privileged: same error
--cap-add sys_admin: same error

[2016-06-06 06:11] DzikiChrzan commented on #23289
This must be an Arch specific bug, my colleague with Mint has no problem with this version and build.

[2016-06-06 06:22] NamPNQ commented on #23289
Temporary fix is use [downgrader](https://aur.archlinux.org/packages/downgrader/) to downgrade docker to docker-1:1.11.1-1

[2016-06-06 06:41] DzikiChrzan commented on #23289
Not necessarily downgrader. Just  go to `/var/cache/pacman/pkg/`and use `# pacman -U docker-1:1.11.1-1-x86_64.pkg.tar.xz`.

[2016-06-06 06:47] tunnckoCore commented on #23289
huh, worked, thanks. Ping when is okey if possible :)

[2016-06-06 06:47] #23289 closed

[2016-06-06 06:54] sdurrheimer commented on #23017
@vincentbernat Hi, a idea how to do this nicely ?

[2016-06-06 07:01] Hui-Zhi opened #23294 "Is there a way could let me only pull image JSON description (include the host-specific)? It's important."
### Background:

As far as I know, the image JSON description only can be got by "docker inspect" after a pull request. If there's no image copy on local, there will have no image JSON description file for it (Please correct me if I'm wrong). But the image JSON description carry important information for container running, like the CPU/Memory requirement in the host-specific. In Cloud environment,

[2016-06-06 07:05] zhanghuanzhong commented on #23199
@mYmNeo  How to  compile docker with dynamic linking?

[2016-06-06 07:09] mYmNeo commented on #23199
@zhanghuanzhong check the Makefile

[2016-06-06 07:13] BlackIkeEagle commented on #23289
If you are more adventerous you can just build containerd 0.2.2 locally and all works fine.

get the pkgbuild from https://git.archlinux.org/svntogit/community.git/tree/trunk?h=packages/containerd

change the version to 0.2.2 and run `makepkg`

install it with pacman -U containerd..... and restart your docker daemon

[2016-06-06 07:20] #23097 closed

[2016-06-06 07:32] vincentbernat commented on #23017
Unsure, but first step is:

[code]

Then, check `$service` to know what to do in `_docker`. Then, either fiddle with words/curcontext or use `_call_function` or `_dispatch`. I'll try later when I get some time, unless you find something first. I have also asked on `#zsh` but got no answer yet.

[2016-06-06 07:34] vincentbernat commented on #23017
Maybe move all what is as `daemon` into a function and use `_call_function ret _daemon && return ret`.

[2016-06-06 07:35] strfx commented on #22568
@thaJeztah Ah, you're right. Thanks for the info :)

[2016-06-06 07:38] #23288 closed

[2016-06-06 07:40] cedric-dufour commented on #13481
Shortly put: why all the fuss about this issue ? IPv6 NAT (and publishing/security behavior) would just be a matter of applying *exactly the same ip(6)tables rules* which are applied for IPv4 (NAT-ted by default); why not just do it (and let users deal with how they choose to implement IPv6) ? Recent version of the kernel (somewhere between 3.2 and 3.16, as far as I can tell) has everything requir

[2016-06-06 07:40] harryprince opened #23296 "fail to launch registry on native Mac beta-docker"
I run the latest beta-docker on Mac native

[code]

[2016-06-06 07:42] #23296 closed

[2016-06-06 07:47] harryprince commented on #23296
solution: http://stackoverflow.com/questions/14415278/ocaml-error-lwt

[2016-06-06 07:54] michaljrk commented on #23270
Few more informations after further debugging:

1. When I create another container within the same network and the same host , I still cannot reach mongo and mongo2 containers (hosted on the separated boxes), BUT the new container can be reached from the mongo / mongo2.

2. When I create 2 fresh docker containers within the same network on different physical boxes, they are able to communicate.

S

[2016-06-06 07:57] phlegx opened #23298 "Cannot access the docker container via OpenVPN"
I have a docker (version 1.11.1) `openvpn_client` container running that connects the host to my VPN network. This is working just fine.
However, when I start my `munin` container and bind it to the VPN IP `172.18.5.9:8080` then I cannot access the container from my remote (local host).
I tried via telnet to access 172.18.5.9 on port 8080 but no luck. I can however access to my hosts 'native' SSH

[2016-06-06 08:22] chenqiangzhishen commented on #10294
can't for me.
`docker info`
[code]

[2016-06-06 08:27] justincormack commented on #20331
As this appears to be an issue with the Red Hat patched build I am going to close this now, but feel free to continue posting on this thread, especially as I cannot immediately see which patch would cause this and it is possible it is a mix of factors.

[2016-06-06 08:32] justincormack commented on #23264
Ok that rules out some issues. It does look like an ownership or permissions issue on the zfs filesystem then, but it could be something else. Is it possible to run the `dbca` process with `strace -o /tmp/tr -f ...` (you will have to use `--privileged` to do this). This will output a log of the system calls and we can try to work out which one is actually failing, as the error message is not very

[2016-06-06 08:44] graingert commented on #20316
@mitchcapper this does make sense as a separate service, it just maintains history and image ids, while the main registry will hold the actual data. This also allows me to deploy this cache tool next to an existing registry without this feature

[2016-06-06 08:44] justincormack commented on #13481
@cedric-dufour patches are always welcome! I think part of the issue is that ipv4 standard networking practise has changed a lot, in ways that were perhaps unexpected, with overlay networks becoming normal practise for example, while cloud providers still rarely provide ipv6, or provide very crippled implementations, so few of our customers are using it at all sadly, so consensus for the best ways

[2016-06-06 09:00] codablock commented on #21776
Can anyone of the Docker team give an estimate if a fix (or a new feature) for the could be implemented for 1.12 or 1.13? Depending on this we could decide how much effort to put into a workaround.

[2016-06-06 09:00] JonasT commented on #13481
If you make it an additional option for the docker daemon at startup, then all those who don't want NAT in their IPv6 setup can also easily avoid it. (I would for sure appreciate it myself)

@justincormack well for me the only implementation crippled in my environment is that of docker...

[2016-06-06 09:05] thaJeztah commented on #7758
@wattletimber if that container does a lot of logging, it may be the JSON log file that keeps growing; make sure you start your container with `--log-opt max-size=[something]` (optionally with `--log-opt max-files=[something]`. See https://docs.docker.com/engine/admin/logging/overview/#json-file-options

[2016-06-06 09:12] justincormack commented on #13481
@JonasT I think it would have to be a per network option as there might be cases where you want a mix of routed and NAT networks. Perhaps it could be set by working out what class the addresses assigned were though. I actually can't see an option for routed ipv4, so maybe the two should be brought into line symmetrically, so both have options for routed or NAT for either address family. I do think

[2016-06-06 09:13] timcoote commented on #13481
@Frogging101 I can see that I'm suffering from selection bias:
- much of the ipv6 activity that I see is on the residential side (spot the difference between weekday/weekend penetration that Google measures:http://bit.ly/1VHfuXP)
- the most prominent ipv6 promotion comes from residential facing firms (fb, google, notably NOT amazon)
- a recent experience was a huge waste of engineering effort (may

[2016-06-06 09:21] justincormack commented on #21776
@codablock The freeze for features for 1.12 is June 14, so it is going to be tight to get a fix in by then, and I am not aware of anyone working on it. Of course if anyone wants to we will make best efforts to get it in for 1.12, as it is obviously a serious issue for some users.

[2016-06-06 09:24] chenqiangzhishen commented on #10294
Fixed...

from docker official site.

[code]

so, update kernel from 3.10.0 to 3.18.0 + fixed the issue.

[2016-06-06 09:36] capkurmagati commented on #23211
@WeiZhang555 @vdemeester
Do you mind if I also work on this issue.
I can start with the `ps` command.

[2016-06-06 09:47] vdemeester commented on #23211
@capkurmagati cool, go ahead :wink:

[2016-06-06 09:48] sdurrheimer commented on #22633
Any news about this Ubuntu kernel patch release ? Or maybe a way to follow progression ?

[2016-06-06 10:01] robbertkl commented on #13481
@cedric-dufour As a working example, see [docker-ipv6nat](https://github.com/robbertkl/docker-ipv6nat), which does exactly what you're suggesting: apply exactly the same NAT rules to ip6tables. This works great so far; I've been running a bunch of mail and web services, which now handle IPv6 perfectly. Access logs contain the correct addresses, SPF verification works, etc. Even though my cloud pro

[2016-06-06 10:09] justincormack commented on #13481
@robbertkl so do you think it would be sufficient to add an `--ipv6=ula` option where docker currently accepts ipv6 addresses perhaps and have it assign a `/64` from a random ULA /48 it picks at startup?

[2016-06-06 10:33] nschoe opened #23302 "Cannot remove network due to active endpoint, but cannot stop/remove containers"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

I am trying to delete a network with `docker network rm <network>`, but it complains with

[code]

Indeed, when I run `docker inspect xxx_default` I got:

[code]

But when I try to `docker stop/rm` any of these two containers (either by name or ID) I got:

[code]

So basically I'm stuck with a useless network, which I c

[2016-06-06 10:33] wattletimber opened #23303 "Docker container increasing size by 1gig everyday"
I have installed mongodb and meteor on an Amazon Instance EC2. my main challenge is that the container is increasing in size everyday and am running in short of disk space. I really need your assistance here, am running in short of disk space now.
![compined screen shot](https://cloud.githubusercontent.com/assets/19662899/15819324/d3535146-2be2-11e6-9ad3-23107ab3a0cd.png)

[2016-06-06 10:34] cedric-dufour commented on #13481
@robbertkl Indeed, ULAs (RFC4193) are the closest IPv6 thing to IPv4 private ranges (RFC1918). Even though they're supposed to be globally unique, chances are slim that a conflict arises (much less than picking a IPv4 private range that does conflict with an existing numbering plan... talking out of experience :-/ )

[2016-06-06 10:35] cedric-dufour commented on #13481
@justincormack Sorry, previous comment was intended to you. On afterthoughts: maybe Docker could reserve a ULA for this purpose ?

[2016-06-06 10:41] robbertkl commented on #13481
@justincormack I'm not sure I understand, do you mean assigning the `/64` to a user-defined network when it is created?

Let me clarify:

Currently, when `--fixed-cidr` is not supplied to the docker daemon, the default `bridge` network gets a `/24` out of `172.16.0.0/12` (usually `172.17.0.0/16`). Similarly, if you create a user-defined network without `--subnet`, it again gets a `/24` out of `172

[2016-06-06 10:48] robbertkl commented on #13481
On second thought, I think it would require a separate flag after all, instead of assigning a ULA prefix by default if no subnet was given. For IPv4, it's necessary to assign a RFC1918 range to each network if no subnet is given; where else would containers get their addresses from. However, for IPv6 this is not necessary, as you could be OK with just link-local addresses.

[2016-06-06 11:01] justincormack commented on #13481
@robbertkl I think it would need a ULA subnet in order to do NAT, otherwise the container would not be able to reach the outside world at all, which would be surprising for users. But another reason to do a design review before implementation in order to get these details right.

[2016-06-06 11:06] aleksijohansson commented on #23289
@BlackIkeEagle This rebuilding also worked for me!

[2016-06-06 11:09] cedric-dufour commented on #13481
I agree with @justincormack I think link-local addresses should be avoided altogether as soon as routing or multiple-hosts bridging is concerned. I'm not sure about the RFC, but I have the feeling those should not be used for anything else than their role in the various IPv6 ICMP control messages (one of those being SLAAC, NDP, RA, etc.). Doing NAT with those, or trying to create a private network

[2016-06-06 11:10] KristjanLuik commented on #23289
Rebuilding containerd manually worked for me :P

[2016-06-06 11:16] robbertkl commented on #13481
@justincormack @cedric-dufour I was referring to the case aside from NAT, where Docker assigns networks a IPv4 private range automatically, but not for IPv6 (even if `--ipv6` is given). The reason would be because containers get link-local addresses by default.

I wasn't suggesting using link-local for NAT, sorry if that wasn't clear. NAT should definitely use ULA. Preferably a ULA prefix chosen/g

[2016-06-06 11:23] runcom commented on #23294
Duplicate of https://github.com/docker/docker/pull/14258

However I wrote a tool you can read more here https://github.com/docker/docker/issues/17670#issuecomment-223536465 to achieve what you need

[2016-06-06 11:27] zhanghuanzhong commented on #23199
The problem is sloved, thanks all.

[2016-06-06 11:44] ravindravv commented on #20154
HI All, I have created VM windows 2016 TP5 successfully and also Installed Container feature, Dockers, Base container images. BUt I am trying to pull images but getting fail. Here I am sharing my docker information with you. Please go the same and do the needful on my reported issue.
PS C:\Windows\system32> docker info

Containers: 4

 Running: 1

 Paused: 0

 Stopped: 3

Images: 1

Server Version

[2016-06-06 11:56] sebi-hgdata opened #23304 "network disconnect event lists the wrong network name"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
physical

**Steps to reproduce the issue:**
[code]
**Describe the results you received:**
The field name from the event ``` 2016-06-06T14:47:52.475152111+03:00 network disconnect e02188652e7578cbd0ab3342f3122a58fb68a07eda2b27e6c4a8dbc828c7ffd5 (contai

[2016-06-06 11:58] StefanScherer commented on #20154
@ravindravv works fine on my TP5 machine:

[code]

Maybe some network problem in between like https://github.com/docker/docker/issues/6474?

[2016-06-06 12:05] graingert commented on #7336
really what should happen (according to https://docs.docker.com/registry/spec/api/#pushing-an-image-manifest) is docker should push the image manifest, then for each error upload the relevant layers, then upload the manifest.

[2016-06-06 12:08] errordeveloper commented on #22599
I am still seeing this in EC2, has anyone else attempted to reproduce in EC2?

[2016-06-06 12:30] AntonioDrusin commented on #7336
+1

[2016-06-06 12:40] thaJeztah commented on #23304
Thanks for providing a clear description of the issue, and the steps to reproduce!

I was able to reproduce, and this is still reproducible on the current master (note: the network doesn't have to use "overlay", it's also reproducible on "bridge")

[2016-06-06 12:44] ravindravv commented on #20154
Hello Stefan, Could you please explain more ? or can I execute the ps  docker pull microsoft/nginx on my server?

[2016-06-06 12:45] michael-holzheu commented on #23171
The next step would be to bump libseccomp-golang [1] in runc: opencontainers/runc#866

Unfortunately I don't know how the vendor update process with "godep" in runc is working. Therefore I did not create a PR up to now. @justincormack please advise :-)

[2016-06-06 12:46] thaJeztah commented on #23303
@wattletimber I gave a suggestion on https://github.com/docker/docker/issues/7758#issuecomment-223905181, but I see you posted the same question in 10 different locations; please note that the GitHub issue tracker is for tracking bugs and feature requests, not a support forum, for questions about using docker, please use either one of:

- forums.docker.com
- the #docker IRC channel on freenode
- S

[2016-06-06 12:46] #23303 closed

[2016-06-06 12:52] BlackIkeEagle commented on #23289
The packages in the repo's have been updated both runc and containerd have the last version now, happy updating :)

[2016-06-06 12:54] thaJeztah commented on #23302
Can you try using `--force` to disconnect the container?

    docker network disconnect --force <network> release_diyaserver_1

[2016-06-06 12:57] thaJeztah commented on #23298
Please keep in mind that the GitHub issue tracker is for tracking bugs and feature requests, not a general support forum. Can you ask this question on either one of;

- forums.docker.com
- the #docker IRC channel on freenode
- StackOverflow

I'll close this issue, because of the above, but feel free to comment here after I closed, thanks!

[2016-06-06 13:14] phlegx commented on #23298
Thank you @thaJeztah! The thing is I think it is a bug. I don't see any reason why this shouldn't work the way I set it up. The VPN itself works just fine. It seems to be a problem with docker somehow. But this is of course just my assumption.

Thank you very much!

[2016-06-06 13:41] yongtang commented on #23211
Added one more command `top`:
#23306 top

[2016-06-06 13:45] cpuguy83 commented on #13481
btw, I'm trying to get rid of iptables for NAT, replacing it with ipvs, due to potential conflicts with user-defined firewall rules and some other things.
#23022
ipvs also supports ipv6

[2016-06-06 14:03] antonillos commented on #23289
@BlackIkeEagle the update worked fast and nice for me!

[2016-06-06 14:13] estesp commented on #22633
The commit in the xenial `master-next` tree is here: http://kernel.ubuntu.com/git/ubuntu/ubuntu-xenial.git/commit/?h=master-next&id=3487456d46869b41ce13970394ab3378da49fc1a

As soon as that is tagged with a release in `master`, I assume it gets rolled out to xenial updates, which based on @sforshee's timeline could be another couple weeks? (5 total, ~3 since it was merged)

[2016-06-06 14:32] kitsushadow opened #23308 "Docker Build Arg unable to consume poor error output"
**Output of `docker version`:**
[code]

**Output of `docker info`:**
[code]

JENKINS

**Steps to reproduce the issue:**
1. Do not provide an environment variable for consumption during docker build --build-arg

[code]

The output of this error should point exactly to the MISSING build-arg

[2016-06-06 14:35] vincentbernat commented on #23017
I got some help from `#zsh` and @llua: https://github.com/felixr/docker-zsh-completion/compare/master...vincentbernat:feature/dockerd-completion

[2016-06-06 14:38] thaJeztah commented on #21990
@vincentwoo the "version/1.11" label is added based on the version it was originally reported with

[2016-06-06 14:42] thaJeztah commented on #23298
@phlegx can you provide the output of `docker version` and `docker info`, and add that to your original comment? Also any options you set on the daemon / related environment vars (such as `http_proxy`)

[2016-06-06 14:54] phlegx commented on #23298
@thaJeztah I've updated the original comment. Please let me know if you need something in addition!

[2016-06-06 15:06] cpuguy83 commented on #23187
I don't think this would be possible unless overlay had such a feature built in (which it doesn't afaik).

[2016-06-06 15:06] HackToday commented on #23304
I could take a look at this if not hurry. @thaJeztah

[2016-06-06 15:08] sforshee commented on #22633
The kernel with the fix will hit the -proposed pocket by the end of this week, then there's 1-2 more weeks of validation and testing before it hits -updates. So 2-3 more weeks total.

[2016-06-06 15:19] cpuguy83 commented on #23294
But the image does not carry cpu/memory requirements, this is considered host-specific information.

[2016-06-06 15:24] gratiartis opened #23310 "-v"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

[2016-06-06 15:28] tkopczynski commented on #23211
@vdemeester I could take on simple info command if that's ok?

[2016-06-06 15:30] thaJeztah commented on #23310
Looks like this was opened by accident :smile:

[2016-06-06 15:30] #23310 closed

[2016-06-06 15:30] thaJeztah commented on #23211
@tkopczynski I'll put your name behind it, thanks!

[2016-06-06 15:45] nschoe commented on #23302
Yes I had tried that and got a different error message from daemon. I don't recall it, unfortunately. But in the end it still did not work.

I ended up destroying my consul server and the consul Named Volume to erase the data and restarted the server.

But this is extremely unfortunate:I can't afford to do that too often :/

I think this has to do with the consul server and docker not correctly re

[2016-06-06 15:50] WeiZhang555 commented on #23211
I'll take one more - `stats`, and leave others to whom interested in this too. :smile:

[2016-06-06 15:56] thaJeztah commented on #23302
We've seen this in situations where a daemon was not shutdown cleanly, but I don't recall if there were other situations.

ping @mavenugo any suggestions?

[2016-06-06 16:01] thaJeztah commented on #23298
Thanks, let me reopen, perhaps someone of the network team can have a look at this. It's quite busy though at the moment, due to preparations for DockerCon and the upcoming release, so it may take slightly longer than usual

[2016-06-06 16:10] mavenugo commented on #23302
Typically when you see containers in `docker network inspect` output with a `ep-` prefix, that means it can be either of 2 cases -
* these are stale endpoints left over in the DB. For those cases, `docker network disconnect` should help.
* these are remote endpoints seen in other nodes that are part of the overlay network. The only way to clean them up are from that specific host.

[2016-06-06 16:16] notes-jj commented on #22471
+1

[2016-06-06 16:20] nschoe commented on #23302
Thanks @mavenugo for coming here :-)

I've noticed the `ep-` prefix of the container and suspected that indeed, it was something like that.

However, I can confirm that `docker network disconnect <network> ep-xxx` did not solve the problem, because the daemon responded with `no such container: ep-xxx`.

And there were, in fact, no other nodes that are part of the overlay: this is a single-host ove

[2016-06-06 16:24] thaJeztah commented on #23302
@nschoe let me close this issue for now, but happy to reopen if there's more information to investigate. Thanks for reporting!

[2016-06-06 16:25] thaJeztah commented on #23304
@HackToday thanks! I added the "claimed" label for you; would be good to have it next couple of days (due to code freeze being next week)

[2016-06-06 16:35] lizrice commented on #5113
Seems like a shame to have to spend ages waiting for a docker-machine stop & start; surely a better fix would  be for the push / pull process to cleanly abort when it gets the Ctrl-C signal?

[2016-06-06 16:38] cpuguy83 commented on #5113
@lizrice This is long fixed.
Disconnecting the client will trigger a pull cancellation.
You can also attach multiple clients to the same pull.

[2016-06-06 16:42] clnperez commented on #19425
@tiborvass PR #23217 should fix TestTrustedPushWithFailingServer.

[2016-06-06 17:00] phlegx commented on #23298
Thank you @thaJeztah! If someone might want to test/reproduce it via OpenVPN itself, I can only point to this image: https://github.com/kylemanna/docker-openvpn/ which makes setting up a VPN extremely easy and fast.

[2016-06-06 17:47] gggeek opened #23313 ""docker exec sh" hangs with docker 1.11"
I recently upgraded the 'default VM' which we use to run the Docker stack for our development environments to docker 1.11, docker-compose 1.7.1, and it seems to be less stable than before (running docker 1.6).

The symptoms are:
- the container stack managed by docker-compose does start up successfully
- the 'mysql' container starts on 1st invocation, but the database service does not start (we ha

[2016-06-06 17:50] #23313 closed

[2016-06-06 17:51] gggeek commented on #23313
Most likely something broken in the automation platform had removed '-ti' from the execution of "docker"... re-testing. Sorry for the noise.

[2016-06-06 17:54] thaJeztah opened #23314 "windowsTP5: unable to create networks"
Noticed while working on a PR; https://github.com/docker/docker/pull/23300#issuecomment-224007858, it looks like it's not possible to create a network containing a dash in its name.

@cpuguy83 was able to reproduce locally on a WindowsTP5 machine, so looks like an actual issue.

[code]

/cc @jhowardmsft @msabansal

[2016-06-06 18:00] jianghaitao opened #23315 "Can not install Docker on Ubuntu 16.04 (Xenial) due to server verification"
I was following the instruction on https://docs.docker.com/engine/installation/linux/ubuntulinux/ for Ubuntu 16.04. After add entry to /etc/apt/sources.list.d/docker.list and run apt-get update, I got

[code]

The installation is behind a firewall and I have the http_proxy and https_proxy set, and I can reach out to the Internet.

[code]

Any help is highly appreciated.

[2016-06-06 18:03] thaJeztah commented on #23315
The certificates were recently replaced with new ones, because they were about to expire, could it be that a proxy server pinned the old certificate, and therefore refuses the new one?

[2016-06-06 18:37] jianghaitao commented on #23315
Possibly. How do I check and update? Thanks.

[2016-06-06 18:47] thaJeztah commented on #23315
Good question. I was just thinking out loud, because I know the certificates were recently updated (in case it helped you further), but I don't know how to help you further than that :blush:

[2016-06-06 18:54] thaJeztah commented on #23314
Hm, so looks to be not related to the name, getting the same name after the network-name was changed;

[code]

[2016-06-06 19:00] jianghaitao commented on #23315
@thaJeztah thanks. Just for the record, I have run following before hitting the issue
[code]

[2016-06-06 19:04] msabansal commented on #23314
The plugin not found error means that we are using incorrect driver name. In windows we can't create multiple nat networks and the daemon automatically creates a nat network when it starts.

[2016-06-06 19:25] friism commented on #23314
@msabansal `plugin not found` seems like not the right error message for that eventuality, or maybe I'm missing something. Eg. is should indicate that the `nat` network driver is used and then say that only one network is support for that driver and it has already been created.

[2016-06-06 19:25] thaJeztah opened #23319 "Docker rename "oldname" "oldname" bug"
Renaming a container to the same name it already has, removes its name from the output of `docker ps`, and subsequent renames seem to fail;

[code]

Docker also no longer seems to detect that name when creating a new container, but libnetwork *does*;

[code]

However, `docker inspect` still shows it has a name;

[code]

And, so has the newly created container:

[code]

[2016-06-06 19:30] thaJeztah commented on #23319
renaming through the container-id still works; `docker rename 28769c9aad42 newname`

[2016-06-06 19:33] thaJeztah commented on #23314
Can I create custom networks at all? Otherwise the command should just error "not supported on windows"

[2016-06-06 19:37] thaJeztah commented on #23315
Is this a corporate proxy you're behind? It's possible that there's a "man in the middle" proxy that replaces certificates. This answer may give some info http://stackoverflow.com/a/21181447/1811501

[2016-06-06 19:44] friism commented on #23314
@thaJeztah you can in principle: https://github.com/docker/libnetwork/blob/master/drivers_windows.go

cc @mavenugo

[2016-06-06 19:59] sainath14 commented on #23319
the new container is stuck at Created status and the old container looses its name.
@thaJeztah Can I work on this issue?

[2016-06-06 20:25] thaJeztah commented on #23319
@sainath14 sure! I suspect the rename removes the oldname before applying the new name, but I'm not sure. Let me add the "claimed" label for you

[2016-06-06 20:26] thaJeztah commented on #23319
note that "the new container" being stuck at created is not the bug, it's that the name is removed (somewhere) before the new name is applied. Possibly it's a simple fix, and if "oldname == newname", then skip the whole rename (in the daemon)

[2016-06-06 21:03] salmanbaset opened #23320 "Avoiding private registry hostname in FROM directive of Dockerfile"
Say I have an image FOOBASE in a private registry (hostname:port PRIVREGHOSTNAME:5000)

I want to use this image in a Dockerfile for a new image FOONEW. Currently, it is done as follows:
# Dockerfile

FROM PRIVREGHOSTNAME:5000/FOOBASE
...

That is, the hostname of the private registry is in the Dockerfile.

Now say, I want to change the registries. I have to change the Dockerfile of FOOBASE, rebui

[2016-06-06 21:18] duglin commented on #23320
oh, if only you could have written something like:
[code]
:-)

[2016-06-06 21:24] CGavrila commented on #23096
Not sure what I did, but the problem went away.

This definitely was not some sort of intermittent problem or anything like that, I simply played around in the networking config until it started working, but I cannot remember what changes I did.

[2016-06-06 21:24] #23096 closed

[2016-06-06 21:32] thaJeztah commented on #23096
Good to hear, thanks for reporting back @CGavrila!

[2016-06-06 21:34] duglin commented on #23308
can you give us a minimal Dockerfile that shows the issue and the complete command line you ran?

[2016-06-06 21:36] duglin commented on #23308
That error msg you see should only come out when you specify a `--build-arg` but you claim you didn't, so something is funky.

[2016-06-06 21:42] jamesongithub commented on #8902
has anyone been able to find a workaround to use hostname w/o the SYS_ADMIN capability?

[2016-06-06 21:42] runcom commented on #23320
This is a long outstanding issue :) I bet there are other issues around about this problem

[2016-06-06 21:47] thaJeztah commented on #8902
@jamesongithub you can't, see the link above; it's not a Docker issue, it's due to Linux requiring SYS_ADMIN to do so

[2016-06-06 21:59] jamesongithub commented on #8902
i don't see the hostname command at that link in CAP_SYS_ADMIN . is it possible to just enable that command or it's not that granular

[2016-06-06 22:01] ibuildthecloud opened #23321 "Why does `ENV` Dockerfile command do I/O"
I have been noticing lately that `ENV` commands in the Dockerfile run quite slow.  Now I'm running something on a crappy ARM device and there it's ridiculously slow.  So the question I have is why does `ENV` end up doing so much I/O?

[2016-06-06 22:01] ibuildthecloud commented on #23321
Also note, I'm using overlay primarily.

[2016-06-06 22:38] thaJeztah commented on #8902
@jamesongithub here's a mention of it http://linux.die.net/man/2/sethostname

[2016-06-06 22:39] thaJeztah commented on #23321
@duglin any ideas?

[2016-06-06 22:44] ibuildthecloud commented on #23321
I think the basic thing is that each build step does a container commit and overlay does a fsdiff which isn't as fast as something like aufs.  It seems for commands that just change metadata we should be able to skip the container commit.

[2016-06-06 23:14] thaJeztah commented on #23321
You may be interested in https://github.com/docker/docker/pull/22126 (sorry, won't run on a 3.10 kernel probably :wink:)

[2016-06-06 23:42] jdfless opened #23325 "Error while removing volume metadata.db"
Running a command that cleans up all dangling volumes on a host `docker volume rm`... attempts to clean up the metadata.db volume and fails with an error. It seems to me that this shouldn't be returned as dangling and cleanup shouldn't be attempted on it.

**Output of `docker version`:**

[code]

**Output of `docker info`:**
(this is sample output from just one of many nodes affected by this issue

[2016-06-06 23:55] sburnwal commented on #23250
OK thanks for the update. I can see that unsigned images are not pulled when content trust is enabled.

[2016-06-06 23:55] #23250 closed

[2016-06-07 00:06] DmitryEfimenko commented on #22623
+1

[2016-06-07 00:06] GordonTheTurtle commented on #22623
*USER POLL*

*The best way to get notified of updates is to use the _Subscribe_ button on this page.*

Please don't use "+1" or "I have this too" comments on issues. We automatically
collect those comments to keep the thread short.

The people listed below have upvoted this issue by leaving a +1 comment:

@DmitryEfimenko

[2016-06-07 00:10] MHBauer commented on #22917
I have been thinking about this for a few months now. Anybody who leverages docker in large deployments  (swarm/kube/etc) inevitably wants to collect such data from all of the endpoints. I would like to be involved with this concept.

[2016-06-07 00:20] vincentwoo commented on #21990
Okay, that's fair. Are there plans to address this?

[2016-06-07 00:47] ncave opened #23326 "er version"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

[2016-06-07 00:48] #23326 closed

[2016-06-07 01:08] cpuguy83 commented on #23325
IIRC, metadata.db only exists in docker 1.11
Did you downgrade?

[2016-06-07 01:12] cpuguy83 commented on #23321
I'm really suprised that `ENV` creates a container at all anymore.
The image format supports this now.

[2016-06-07 01:15] msabansal commented on #23314
@friism  This is a problem with how the call is being made. I would have to look in the test code bug please take a look at https://github.com/docker/docker/blob/master/daemon/daemon_windows.go on how we create the default nat network for windows. Daemon logs will show which plugin we are trying to find.

[2016-06-07 01:55] ligc commented on #22978
I suspect that we are running out of the file handlers, each container opens more than 100 files, the maximum open files limit is 1048576(1024*1024),  so approximately could launch 9000 - 10000 containers. I am closing this issue, it is the operating system limitation, not docker issue.

[2016-06-07 01:56] #22978 closed

[2016-06-07 01:58] rohitjaini opened #23329 "Docker create in not saving command which has multiple spaces"
**Output of `docker version`:**
Docker Version:
Client:
Version:      1.12.0-dev
API version:  1.24
Go version:   go1.6.2
Git commit:   3d80884
Built:        Mon Jun  6 19:12:50 2016
OS/Arch:      windows/amd64

Server:
Version:      1.12.0-dev
API version:  1.24
Go version:   go1.6.2
Git commit:   3d80884
Built:        Mon Jun  6 19:12:50 2016
OS/Arch:      windows/amd64

**Steps to reproduce the

[2016-06-07 02:10] jhowardmsft commented on #23329
This regression looks related to the Cobra CLI parsing. This worked before that PR was merged (can't find PR# from phone)

[2016-06-07 02:11] ligc opened #23332 "could not launch any new docker container after 1850 containers launched"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. docker pull yeasy/hyperledger-peer:noops
2. Run the test script as shown below, the script sets the related limits to be bigger numbers and tries to launch 10000 docker containers.
[code]

3. When launches about 1

[2016-06-07 02:20] yongtang commented on #23211
Create another PR #23333 for version.

[2016-06-07 03:36] ligc commented on #22978
With the busybox docker image, I could launch 2735 containers, which is still a very small number. I was able to launch 13000+ busybox containers on a ppc64le platform with similar hardware configuration.

[2016-06-07 03:51] morphyno commented on #22865
I came across the same error message while attempting to launch 500 docker containers. I have set both root_maxkeys and maxkeys to 1000000 to no avail.
I'm curious if this issue existed in previous version of docker? Is there any other workarounds available?

[2016-06-07 03:52] morphyno commented on #22865
Below is output of "docker info"

`Containers: 500
 Running: 285
 Paused: 0
 Stopped: 215
Images: 12
Server Version: 1.11.2
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 1020
 Dirperm1 Supported: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: null host bridge
Kernel Version: 3.16.0-30-generic
Operating System: Ubunt

[2016-06-07 04:01] semad commented on #13278
Thank you @devinwatkins !

[2016-06-07 05:03] ligc commented on #23332
With the busybox docker image, I could launch 2735 containers, which is still a very small number. I was able to launch 13000+ busybox containers on a ppc64le platform with similar hardware configuration.

[2016-06-07 05:33] morphyno commented on #23332
I seem to be running a hard limit of 285 on my setup. I am fairly new to docker so I don't have a base line comparison. However, I loaded your script from above and reached the exact limit of 285.

282
283
284
285
286
docker: Error response from daemon: rpc error: code = 2 desc = "oci runtime error: could not synchronise with container process: could not create session key: disk quota exceeded".
2

[2016-06-07 05:37] HackToday commented on #23325
metadata.db also exists in master branch, 1.12-dev

[code]

How do we usually retrieve such db ?  like sqlite cli or other tools ?

[2016-06-07 06:04] ligc commented on #23332
HI,

The error message ""disk quota exceeded"." indicates that you are running out of disk space,  besides disk space, this blockchain container also consumes memory, my observation is that each 1000 container will need 10GB memory.

I am running my test on a x86 server with 12 CPU cores, 192GB memory and several Tera bytes disk.

[2016-06-07 06:32] Milewski commented on #13309
for me (in china) download a 8 mb directly from an high end server (something closer to amazon Chinese made).. takes like forever....

[2016-06-07 06:37] pdalpra commented on #23211
I'd like to help on this one and  take `exec` and/or `inspect` if you don't mind :)

[2016-06-07 06:42] Hui-Zhi commented on #23294
@cpuguy83 Yes, I think the host-specific information could benefit scheduler if could get it before pull the images, and Kubernetes only pull the images when the containers need to be run. So part of the host-specific information need to write into the pod yaml file.

@runcom Thanks for your reference. But somehow, the tool you recommended doesn't work for me, I'm using RHEL7.2, and cloned the lat

[2016-06-07 06:53] runcom commented on #22124
I'm seeing this also in 1.10.3

[2016-06-07 06:59] morphyno commented on #23332
Thanks, I did check storage, and there is plenty of storage availabe (3.2TB), I have 20 cores and  128 GB of RAM

`
none            3.5T  116G  3.2T   4% /var/lib/docker/aufs/mnt/dbc8e90dbf56f5cfaa53b59790440c43b09ce11a1e5b9eb575b153edfd950b81
none            3.5T  116G  3.2T   4% /var/lib/docker/aufs/mnt/0dee5c2390b9601b67c8879958266530a929391ee96c7e02b7361dc0bab4bf75
none            3.5T  116G

[2016-06-07 07:00] morphyno commented on #23332
is the a volume quote limit imposed per volume that is independent to actual storage?

[2016-06-07 07:05] ligc commented on #23332
or, does the user has file system quota? The command "quota <username>" should be able to give some hints.

[2016-06-07 07:06] ligc commented on #23332
or, does the user has file system quota? The command "quota \<username\>" should be able to give some hints.

[2016-06-07 07:07] rlouissidney opened #23335 "er info"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

[2016-06-07 07:49] morphyno commented on #22865
Interestingly, I updated to Ubuntu 16.04 and now I can get over 1000 containers. I'm also seeing the same limit you are seeing.

[2016-06-07 07:59] morphyno commented on #23332
Interestingly, I updated to Ubuntu 16.04 and now I can get over 1000 containers. I'm also seeing the same limit you are seeing.

[2016-06-07 08:02] #22231 closed

[2016-06-07 08:02] jdoose commented on #20079
Same happened here when CoreOS upgraded from 899.17.0 (including Docker 1.9.1) to 1010.5.0 (including Docker 1.10.3).

Big thanks to @sruffell , your script is so awesome! Python was not available on this computer but your script is so well-written I was able to extract it's function and repeat it manually. That was a life saver!

[2016-06-07 08:05] jdoose commented on #22067
Same happened here, when CoreOS upgraded from 899.17.0 (including Docker 1.9.1) to 1010.5.0 (including Docker 1.10.3).
it looks to me that this is a duplicate of #20079

[2016-06-07 08:07] jdoose commented on #20412
Same happened here, when CoreOS upgraded from 899.17.0 (including Docker 1.9.1) to 1010.5.0 (including Docker 1.10.3).
it looks to me that this is a duplicate of #20079 (there is also a workaround script to fix it).

[2016-06-07 08:30] vdemeester commented on #23211
That is awesome ! It's gonna be migrated really quick and will let use have more time to make sure there is no regression 😇. Thanks u all so much 😇

[2016-06-07 08:54] ericcurtin commented on #22185
You can fix the issue by copying /etc/resolv.conf from the host to the guest docker, but sometimes DNS just works without this? It's very inconsistent behaviour, I am using options "--dns 16.110.135.52 --dns 16.110.135.51" also. It's weird I have to perform this copy of /etc/resolv.conf sometimes when using this option.

[2016-06-07 08:59] cxshun opened #23336 "How can I inspect a running container's file system"
I'm using **docker 1.11.0**.
In the past, I can find the running container's folder on /var/lib/docker or somewhere that I specify on the DOCKER_OPTS argument by -g, the folder's name just simply match the container's id.

But after **1.10**, docker has changed its security strategy, I can no longer find the running container's folder on the host file system simply by container's id.

### Now the

[2016-06-07 09:07] cedric-dufour commented on #13481
I've had a look at https://github.com/robbertkl/docker-ipv6nat . It's great work! If only it could be integrated upstream (thus voiding the requirement for 'docker run --privileged').
And if a design review is to be held, please also consider having default IPv6 security (iow. default firewall rules) match default IPv4's. It is a well known "IPv6 vulnerability" that enabling IPv6 might silently op

[2016-06-07 09:23] justincormack commented on #23335
Assuming this was an error as no information in report.

[2016-06-07 09:23] #23335 closed

[2016-06-07 09:24] justincormack commented on #23329
cc @dnephin

[2016-06-07 09:31] justincormack commented on #23332
@morphyno your issue is related to this https://github.com/docker/docker/pull/23182 - a few old distros/kernel versions have very low session key limits. You can use `sysctl -w kernel.keys.root_maxkeys=1000000` before running docker to fix this.

[2016-06-07 09:37] lope commented on #21702
I just ran into this issue as well.
All I did was enable userns-remap: default and restart docker service.
Then all of my images and containers disappeared. I re-pulled them. Then my custom docker bridges didn't work and docker network couldn't remove them. Had to remove them with brctl.
Then I loaded my custom docker bridge but the containers wouldn't start with the error in this issue.

I `rm -r

[2016-06-07 09:39] thaJeztah commented on #22067
Yes I think this is a duplicate of https://github.com/docker/docker/issues/20079. Let's close this one to keep the discussion in a single place. Please continue the discussion on https://github.com/docker/docker/issues/20079

[2016-06-07 09:39] #22067 closed

[2016-06-07 09:45] deathtrix commented on #20339
I'm having the same problem on CoreOS. Changing to MTU 1500 does not fix it.

[2016-06-07 09:52] thaJeztah commented on #21990
I don't know if this is being worked on at the moment (@aboch may know)

[2016-06-07 09:52] runcom commented on #23294
@Hui-Zhi you can install `skopeo` directly with `yum install skopeo` on a rhel7.2 after enabling repo extras

[2016-06-07 09:55] lope opened #23337 "userns-remap: default cannot start any containers"
**Skip this comment and go to the 2nd comment, it's a much simpler demonstration of the problem**

**Output of `docker version`:**

[code]

**Output of `docker info`:**
[code]

**Host**
Ubuntu 14.04 with self compiled backport 4.4.8 kernel on i7 laptop.

**How the problem occurred**
Docker was working great until I enabled "userns-remap": "default" (adding that to /etc/docker/daemon.json) and rest

[2016-06-07 10:34] gerhard6 commented on #23264
did some `strace` based analysis, and it seems that some oracle process tries to open files with `O_DIRECT`, which then fails:

`/tmp/dbca.zfs.230:open("/data/oracle/oradata/ORCL/control01.ctl", O_RDWR|O_DSYNC|O_DIRECT) = -1 EINVAL (Invalid argument)`

this error does not occur, when running on aufs

This led me to this issue https://github.com/zfsonlinux/zfs/issues/224, that is not yet closed, wh

[2016-06-07 10:55] Hui-Zhi commented on #23294
@runcom I really appreciate it, thank you very much! By the way, could this tool get the host specific information? Like the cpu/memory requirement?

[2016-06-07 11:06] justincormack commented on #23264
Ah that makes sense, yes Oracle does need `O_DIRECT`, I did not realise that ZFS does not have support yet, glad you found the reason.

[2016-06-07 11:06] #23264 closed

[2016-06-07 11:07] lope commented on #23337
I've just tested on a FRESH Ubuntu Xenial 16.04 install (Running inside KVM) with stock kernel and latest docker. It occurs there and is EASY to reproduce in 3 simple steps. It seems like this would happen on many systems?

**Docker info**
[code]

** Docker version **
[code]

Steps to reproduce:
1. Install Ubuntu Xenial 16.04 Desktop (server or netinstall would probably be fine)
2. Install docker

[2016-06-07 11:46] rlouissidney commented on #23335
Yes it is an error, sorry, a problem with mouse click in Windows.

[2016-06-07 12:30] lope commented on #23337
I see now this is a duplicate of https://github.com/docker/docker/issues/22633

[2016-06-07 12:30] #23337 closed

[2016-06-07 12:36] lope commented on #22633
I just experienced this problem in Ubuntu 14.04 with a self-compiled 4.4.8 kernel.
I confirmed the issue is present in a fresh ubuntu 16.04 install with generic kernel in a VM also.
https://github.com/docker/docker/issues/23337

[2016-06-07 12:40] kitsushadow commented on #23308
[code]

In the above case if the ENV variable for say, VERSION does not exist or is empty, Docker would give that error even when a default variable is provided.

[2016-06-07 12:52] bobrik opened #23339 "It is not clear how to get only daemon logs under systemd"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Debian Jessie with systemd. I have the following override unit:

`/etc/systemd/system/docker.service.d/override.conf`:

[code]

**Steps to reproduce the issue:**
1. Run `journalctl -fu docker`.

**Describe the results you received:**

Observed bazill

[2016-06-07 12:55] thaJeztah commented on #23336
You can use `docker ps --size` to see how much space the container is using;

[code]

The important bit here is `87B`, which is the size of the container itself (not including the image it's based on). Additionally, you can use `docker diff <container>` to see which files are modified or created in the container's filesystem

However, I would discourage to directly removing files from the `/var/li

[2016-06-07 12:55] #23336 closed

[2016-06-07 12:59] runcom commented on #21204
closing - journald works with docker logs

[2016-06-07 12:59] #21204 closed

[2016-06-07 13:03] runcom commented on #22787
closing this - I believe it was tied to TasksMax

[2016-06-07 13:03] #22787 closed

[2016-06-07 13:06] thaJeztah commented on #9417
We discussed this feature on https://github.com/docker/docker/pull/22162, and decided that we're not going to implement this; it's too much of a "nice to have", and there are existing solutions that allow colorizing the output (see https://github.com/docker/docker/issues/9417#issuecomment-202234604 above).

Thanks for suggesting though! And sorry that it's not accepted

[2016-06-07 13:06] #9417 closed

[2016-06-07 13:09] thaJeztah commented on #6148
Closing this, because the execdrivers have been removed during the migration to containerd; https://github.com/docker/docker/pull/20662, but let me know if there's still an issue to resolve

[2016-06-07 13:09] #6148 closed

[2016-06-07 13:10] runcom commented on #23339
Not sure about SYSLOG_IDENTIFIER (not working on my laptop)
but you should be able to get only daemon logs with (just for 1.10.3):
[code]
we're tracking this into https://bugzilla.redhat.com/show_bug.cgi?id=1328214

[2016-06-07 13:12] bobrik commented on #23339
I don't have `OBJECT_EXE` on systemd 215, but I do have `_TRANSPORT=stdout`.

The issue you linked is `CLOSED CANTFIX`.

[2016-06-07 13:15] cefn commented on #23050
So here's the concrete problem and current fail.

The following invocation works correctly, in that the filesystem is visible within the container...
[code]

However, the corresponding attempt to do this with dockerode fails, and I've tried multiple forms of Binds and Volumes invocation.

Currently this is my attempt, and whilst the original CLI version lists the directory correctly, the dockerode

[2016-06-07 13:17] cpuguy83 commented on #23050
Can you enable debug mode on the daemon? After doing so, you can view the logs which will have the request JSON for the create.
It will help to see what is being produced.

[2016-06-07 13:19] cpuguy83 commented on #23050
Also, you can get rid of "volumes", you only need "binds" for this.

[2016-06-07 13:23] CameronGo commented on #17747
This one has been quiet for a while.  I see a version/1.9 label applied, though I don't see any comments in that or any subsequent releases about this functionality.  The documentation doesn't seem to indicate any different behavior for the awslogs driver and my test using the log-opt tag on version 1.10.1 is not supported with the awslogs driver.  Does anyone know what the status is or future pla

[2016-06-07 13:32] michael-holzheu commented on #23171
One more question: IIUC the default seccomp profile disables the "ptrace" system call (if not called with --privileged). Therefore debugging tools like strace and gdb will not work. This might confuse / angry some people.

[2016-06-07 13:45] justincormack commented on #23171
@michael-holzheu yes, for security reasons. From 1.12 onwards you will be able to enable it easily with `docker run --cap-add CAP_PTRACE ...` which will allow it in the seccomp rules. You can use `ptrace` to bypass seccomp filtering by changing the syscall after the check using `ptrace` so it has to be disabled by default really.

[2016-06-07 14:11] kyhavlov commented on #19785
I submitted a PR to swarm here to pass constraints on pull: docker/swarm#2302. I'm not sure what, if anything, I'd need to add to docker/docker to go along with that. I'm willing to do the work and submit a PR, just not sure how to proceed.

[2016-06-07 14:28] ninchan8328 opened #23342 "Unable to fork: Cannot allocate memory"
Hi Docker Expert,

root@myserver:~# docker --version
Docker version 1.10.1, build 9e83765
root@myserver:~# docker-compose --version
docker-compose version 1.7.1, build 0a9ab35

I am using the docker-compose v2 to spin up multiple containers and its been working fine until today I see a weird problem that when I try to run command (docker exec) on one of the container, it return Cannot allocate mem

[2016-06-07 14:51] pjebs commented on #22440
did you receive email? I didn't get confirmation.

[2016-06-07 14:52] justincormack commented on #23329
also cc @vdemeester

[2016-06-07 14:54] vdemeester commented on #23329
@justincormack should be fixed here #23338 :angel:

[2016-06-07 15:02] cefn commented on #23050
Thanks for the suggestion.

Having focused on HostConfig.Binds, I've ended up with the following, which works. But crucially, I can't afford the Host (i.e. the docker machine 'default' virtualbox host) to have this mapping globally, so I'm concerned to have it in HostConfig.

The reason is that the docker containers are **explicitly** all about versioning the /opt/ifi path against releases (differ

[2016-06-07 15:05] cpuguy83 commented on #23050
The mapping is per container, but it is a host-specific configuration (meaning the configuration may not be portable).
You can't the mapping you have on your vbox VM as you would in a Digital Ocean instance, for example, because the files wouldn't be there.

[2016-06-07 15:20] gfauredumont commented on #22182
Hi,

Sorry to bother here but, following the same steps as @Arcrammer, I cannot `apt-get update` from the docker source, I get
`Failed to fetch https://apt.dockerproject.org/repo/dists/ubuntu-xenial/InRelease  Connection timed out after 120000 milliseconds`
each time I try it (even if all other sources work great).
Any `apt-cache policy docker-engine` returns
`N: Unable to locate package docker-en

[2016-06-07 15:36] thaJeztah commented on #22182
@gfauredumont we don't have an InRelease file in the main repository;
https://apt.dockerproject.org/repo/dists/ubuntu-xenial/,
https://apt.dockerproject.org/repo/dists/ubuntu-xenial/main/binary-amd64/, so it's strange it keeps trying to fetch that. Let me try with a fresh machine

[2016-06-07 15:40] gfauredumont commented on #22182
As instructed in th docker doc, my docker.list file contains
`deb https://apt.dockerproject.org/repo ubuntu-xenial main`

[2016-06-07 15:43] thaJeztah commented on #22182
Hm, strange, I'm not able to reproduce;

[code]

[2016-06-07 15:48] cpuguy83 commented on #17747
@CameronGo This would most likely have to be coded up by someone who wants this feature.
Right off the bat, I can say the syntax is not likely to be accepted, but I do believe we have support for go-template thin these options, and that would be the place to start.

[2016-06-07 15:52] gfauredumont commented on #22182
ok, just to be sure, I added the `[arch=amd64]` in my source file but no change.
It seems that your distro switches from InRelease to Release after ignoring the latter but in my case it just  timeouts...
Would you know how this behavior is configured ?

[2016-06-07 16:00] cpuguy83 commented on #23339
Wouldn't `-fu docker.service` work?

[2016-06-07 16:01] thaJeztah commented on #22182
No, I would have to search for that as well, but I'm interested to hear if you found, so that we can see if our installation instructions need to be updated; it may be a configuration indeed (something like "always use `InRelease`, don't skip").

[2016-06-07 16:09] gfauredumont commented on #22182
OK, I'll post this issue on StackExchange
Thanks for trying ;)
(As I'm way over my knowledge on this matter, if you have any significant information, please share ;)  )

[2016-06-07 16:27] reallistic commented on #8395
Although I really appreciate this answer, it does **not** work in OS X. And I can't imagine it working in windows. A _docker coded_ solution would be much appreciated.

For those of you on os x, I was able to do this by creating an alias as mentioned in the 2nd comment of this issue:

[code]

[2016-06-07 16:33] tehlers320 commented on #22625
getting the same with dtr

`docker run -it --rm -v /var/run/docker.sock:/var/run/docker.sock   docker/dtr migrate *passwords and stuff*`

[code]

[2016-06-07 16:44] boynux commented on #23157
#dibs

[2016-06-07 16:49] jdfless commented on #23325
ah yes we did have to downgrade. assuming cleanup works in 1.11+ we can close this issue.

[2016-06-07 16:51] cpuguy83 commented on #23325
Indeed, it only lists the dirs, not metadata.db.

Thanks for confirming!

[2016-06-07 16:51] #23325 closed

[2016-06-07 16:57] bobrik commented on #23339
@cpuguy83 nope, same as `-fu docker`.

[2016-06-07 17:30] anandkumarpatel commented on #20316
Hey all, I wrote a blog post on a method to distribute cache post docker 1.10, hope you find it helpful!
[Distributing Docker Cache Across Hosts](http://blog.runnable.com/post/145362675491/distributing-docker-cache-across-hosts)

[2016-06-07 17:46] #23329 closed

[2016-06-07 17:51] cefn commented on #23050
Actually the port and exposure configuration hasn't succeeded. Perhaps you have an idea why, in anticipation of the docs being improved eventually.

I don't need much, just mapping port(s) opened within the container to ports exposed on the docker-machine virtual host. The examples I'm following don't seem to work although they appear to match with proven examples.

I have based my efforts on slig

[2016-06-07 17:56] oleersoy opened #23345 "Why is docker volume create and rm not symmetrical?"
I asked this question here first to make sure that I was not missing something obvious:
http://stackoverflow.com/questions/37684393/why-is-docker-volume-create-and-rm-not-symmetrical

[2016-06-07 18:01] cpuguy83 commented on #23345
1. hindsight
2. volumes don't require a name as one will be generated if not provided.

[2016-06-07 18:01] yousefamar opened #23346 "Networks with certain names prevent connecting to containers"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
[code]

**Steps to reproduce the issue:**

1. Launch a Docker container that exposes and publishes a port, but without specifying a host port. For example, this hello-world web server:

[code]

2. Get the port, and browse to it in your favourite web b

[2016-06-07 18:02] cefn commented on #23050
I note also that the solution proposed at https://github.com/apocas/dockerode/issues/48 seems to have a mismatch between Config and HostConfig, as detailed at https://godoc.org/github.com/docker/engine-api/types/container#Config and https://godoc.org/github.com/docker/engine-api/types/container#HostConfig as it assigns PortBindings to the Config object instead of the HostConfig object.

This assum

[2016-06-07 18:02] thaJeztah commented on #23345
See https://github.com/docker/docker/issues/17194 and https://github.com/docker/docker/issues/18982

[2016-06-07 18:14] thaJeztah commented on #23346
Perhaps this may be fixed by https://github.com/docker/docker/pull/23011 for some cases, but I guess this is due to the order in which the container is connected, and the port is published on the first network (alphabetically). Also, the random port may change on network connect, which should be fixed in docker 1.11.2 (see https://github.com/docker/docker/pull/22997, https://github.com/docker/dock

[2016-06-07 18:14] thaJeztah commented on #23346
I think there's an existing issue about this, but I should look it up

[2016-06-07 18:25] michael-holzheu commented on #23171
This is really interesting. So all software that uses seccomp has to disable ptrace, otherwise the rules could be circumvented. I have not thought about that...

[2016-06-07 18:31] justincormack commented on #23171
@michael-holzheu see https://www.kernel.org/doc/Documentation/prctl/seccomp_filter.txt under `SECCOMP_RET_TRACE`

[2016-06-07 18:42] yousefamar commented on #23346
Thanks for the reply! I've just tested this with 1.11.2 and the problem persists.

You're absolutely right though - I can confirm that it happens when the network is named "bridgd" (< bridge), but not when the network is named "bridgf" (> bridge). I don't think #23011 fixes it (maybe that's only for container links?).

Do you know if there's a way to control which network the port is published on

[2016-06-07 18:44] corbinu opened #23347 "Ubuntu 16.04 install for 1.11.2 hangs"
---
## BUG REPORT INFORMATION

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Ubuntu 16.04
Linux Kernel 4.6.0-040600 (had to upgrade to fix a Wifi issue)
Docker 1.11.2

**Steps to reproduce the issue:**
1. Try to install docker according to Ubuntu install instructions

**Describe the results you received:**
Install hangs at

[code]

**Additional information you deem importa

[2016-06-07 19:14] thaJeztah commented on #23346
Perhaps it helps to create the custom networks with `--internal`, so that the port is not published on that network. The user guide contains a section on container networking; https://docs.docker.com/engine/userguide/networking/dockernetworks/

[2016-06-07 19:34] oleersoy commented on #23345
I think I think docker would be more user friendly if the `--name` flag is dropped from, or just made optional, WRT `docker volume create`.

So we could do:
`docker volume create v1` or `docker volume create --name v1`.

[2016-06-07 19:40] oleersoy commented on #23345
Most other docker commands don't use the --name parameter:
Example
[code]

[2016-06-07 19:44] cpuguy83 commented on #23345
Again, this is because name is not required when creating a volume (much like `docker run`).
I'm not saying I don't like it, but have to be very careful about changing the CLI.

[2016-06-07 19:56] jamsix commented on #21735
I've been successfully running all 3 modes in my lab for weeks now, without a single problem to report. These drivers solve all connectivity issues I had with current docker networks without touching `ip link`, `ip netns` and other "behind the scene" wizardry end users are generally not interested in.

What these drivers currently lack is public awareness that they can solve network issues long pl

[2016-06-07 20:07] a1exus opened #23350 "Cannot connect to the Docker daemon. Is the docker daemon running on this host?"
I'm using following:

[code]
and I'm getting following message while trying to run docker:

[2016-06-07 20:16] cpuguy83 commented on #23350
Try with `sudo`.

[2016-06-07 20:30] runcom commented on #20331
Reopening this as it appears the the `--selinux-enabled` flag is causing this issue even with the official Docker binaries; I tested it with 1.11.2 from Docker official from the install.sh script; adding the selinux flag makes ADD fail:
[code]

[2016-06-07 20:30] runcom commented on #20331
/cc @rhatdan @maxamillion @vbatts @justincormack

[2016-06-07 20:37] runcom commented on #20331
going to bisect this - I'll try with 1.9 just to be sure before

@rhatdan I don't see any AVS, `setenforce 0` or `setenforce 1` doesn't make any difference here - it's the `--selinux-enabled` flag that's causing this

[2016-06-07 20:51] thaJeztah commented on #23157
@boynux hm, GitHub web hooks seem to have some issues lately, let me add it manually :smile:

[2016-06-07 20:54] thaJeztah commented on #23350
This does not look like a bug, so I'll close this, but feel free to continue the discussion

[2016-06-07 20:54] #23350 closed

[2016-06-07 21:03] crosbymichael commented on #22865
@morphyno there are not other work arounds.  This is not exist in the prior versions but this change is a security measure allocating new session keys to the containers so they don't inherit the parents.

16.04, atleast on my machine, already has 1m root keys as the max so that is why you are seeing that.

[2016-06-07 21:03] nickjj opened #23353 "Alpine based images have a severe issue with mounting volumes when using Docker Machine"
I'm reporting this on behalf of a bunch of students of mine who are using OSX and Docker Toolbox 1.11 or 1.11.2. This problem does not exist with native Linux (same versions of Docker) but may exist on Windows (untested).

Here's one of their environments where the bug was reproduced (OSX):

**Output of `docker info`:**

[code]

**Output of `sw_vers`:**

[code]

### Reproducing the issue

I'm usin

[2016-06-07 21:11] megahall commented on #22599
I can see it when I am configuring from raw Xenial ISOs inside of a Packer based Linux VM Image bootstrap procedure. I am working on narrowing down the cause.

[2016-06-07 21:11] justincormack commented on #23353
It might be better to file this issue against Docker toolbox here https://github.com/docker/toolbox/issues as it seems to be specifically related to Virtualbox file sharing rather than Docker itself.

[2016-06-07 21:13] nickjj commented on #23353
@justincormack Perhaps https://github.com/docker/machine is even better?

[2016-06-07 21:20] justincormack commented on #23353
I think toolbox is better, as it looks related to virtualbox specifically.

[2016-06-07 21:21] nickjj commented on #23353
Thanks, done.

It can be found at https://github.com/docker/toolbox/issues/510.

[2016-06-07 21:24] thaJeztah commented on #23353
Thanks! let me close this one

[2016-06-07 21:24] #23353 closed

[2016-06-07 21:30] justincormack commented on #20331
Hmm that is odd.

[2016-06-07 21:31] justincormack commented on #20331
If you get a chance can you test on master as well?

[2016-06-07 21:42] runcom commented on #20331
On it

[2016-06-07 21:44] justinoue commented on #23347
I would just like to chime in and say I am having the same issue on Ubuntu 16.04

[2016-06-07 21:46] megahall commented on #22599
It seems like it can be prevented by ensuring all of the following commands are run before the `aptitude / apt-get update`:

# early debs needed for apt-add-repository and nodesource https repo
aptitude -y install software-properties-common apt-transport-https curl

# docker
apt-key adv --keyserver keyserver.ubuntu.com --recv-keys 36A1D7869245C8950F966E92D8576A8BA88D21E9
apt-key adv --keyserver ke

[2016-06-07 21:47] sainath14 commented on #23319
the combination of reserveName(id, newName) and releaseName(oldName) deletes the entry for the containerId and name in the nameIndex registrar. Hence ps returns blank in the name field for the old container after an attempt to rename with the same name. Simple fix would be error on an attempt to rename with the same name.

[2016-06-07 21:53] runcom commented on #20331
This is basically always reproducible on a Fedora or RHEL machine even with upstream binaries by setup dockerd to use --selinux-enabled

[2016-06-07 21:58] thaJeztah commented on #23319
@sainath14 thanks! Wonder if we should error, or just ignore; don't see a compelling reads to produce an error, wdyt?

[2016-06-07 22:02] justincormack commented on #23319
Better to do nothing, in case being used in a script.
On 7 Jun 2016 10:58 p.m., "Sebastiaan van Stijn" <notifications@github.com>
wrote:

[2016-06-07 22:03] thaJeztah commented on #23347
Is this on bare-metal, cloud? Are you also using a non-standard kernel? I tried to reproduce this, but not able to

[2016-06-07 22:06] corbinu commented on #23347
@thaJeztah Baremetal Dell E6330 yes the kernel is non standard is Linux Kernel 4.6.0-04060

[2016-06-07 22:23] justinoue commented on #23347
@thaJeztah I am installing on my laptop, bare metal, no VM. I can provide more details if necessary, just let me know what to pull.

[2016-06-07 22:39] AriaFallah commented on #20465
In the mean time, where can I learn about the `docker volume` command and how to use it?

[2016-06-07 22:44] HackToday commented on #23325
@jdfless  sorry, I am not sure how did you solve the issue ? just `downgrade` docker ?

Is it right fix or workaround ?  Thanks

[2016-06-07 22:48] jianghaitao opened #23356 "docker pull failed with error pulling image configuration and X.509 cert"
docker info
[code]
docker info
[code]
Steps to reproduce the issue:
docker pull cirros
[code]
docker pull busybox
[code]

[2016-06-07 22:51] sainath14 commented on #23319
@justincormack @thaJeztah I agree. We can mimic a successful rename. I see no harm doing it. I will submit a PR.

[2016-06-07 22:57] boramod opened #23357 "Strange behavior on Named Volumes and Dockerfile ADD/COPY commands"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Local machine, Mac OS X 10.11

**Steps to reproduce the issue:**
1 Create a project `docker-compose.yml` file
[code]
Where:

[2016-06-07 23:23] mj-nowak opened #23358 "Container external communication randomly fails on reboot"
**Output of `uname -a:`**

[code]

**Docker 1.9.1**
**Daemon service file:**

[code]

**Output of `docker version`:**

[code]

**(NON-WORKING BOOT OF VM) Output of `docker info`:**

[code]

**(WORKING BOOT OF VM) Output of `docker info`:**

[code]

**Docker 1.11.1**
**Daemon service file**

[code]

**Output of `docker version`:**

[code]

**(WORKING BOOT OF VM)  Output of `docker info`:**

[code]

[2016-06-07 23:32] ekobrinsky commented on #23358
Issue replicated in version 1.11 as well

[2016-06-07 23:37] yousefamar commented on #23346
Thanks for the tip @thaJeztah! For posterity: making the networks internal doesn't seem to have an effect, but at least for now I can make sure that my network names are just > bridge.

[2016-06-07 23:48] SamSaffron commented on #20973
@gigidwan any news on this?

[2016-06-07 23:57] cpuguy83 commented on #23325
@HackToday The issue is 1.11 creates metadata.db, but 1.10 reads that file as a volume (which it is not).
The fix for  < 1.10 is to delete metadata.db.

[2016-06-08 00:17] cpuguy83 commented on #23357
This is because you are using a named volume, which uses the same volume over and over.
The volume does not get mounted into the build, but rather at runtime when the container actually starts.
The volume is only populated from the image content if it is empty, which it is not after the first run.

[2016-06-08 00:59] josegonzalez commented on #18357
Was this ever implemented? I know the original poster closed the issue, but docker/libnetwork#1082 is still open, so I assume this was not implemented either.

[2016-06-08 01:13] cxshun commented on #23336
Thanks @thaJeztah , It helps a lot.

[2016-06-08 02:09] xiangpengzhao commented on #18357
I think I had closed this issue by mistake, sorry. Reopen for keeping track of this.

[2016-06-08 02:10] xiangpengzhao commented on #18357
I think I had closed this issue by mistake, sorry. Reopen for keeping track of this. @josegonzalez

[2016-06-08 02:50] lenxeon commented on #23201
@thaJeztah from Docker Hub

[2016-06-08 02:57] lenxeon commented on #23115
@PedramMarandi maybe yes, but if not use ctrl+c to break it, it will stop at here forever，so i have no choice but to uninstall docker and reinstall it.  bad terrible experience

[2016-06-08 03:25] jmzwcn commented on #23207
Maybe similar to [this issue](https://github.com/docker/docker/issues/19499)

Refer to [code](https://github.com/docker/libnetwork/blob/master/network.go#L1168), it directly returns a un-check's pool due to overlay network's datastore scope is global?

[2016-06-08 03:35] iMerica commented on #22075
I'm still seeing the Postgres fatal error using the latest Docker toolbox (not Mac beta). It might be good to update the title of this issue to reflect both OS X beta + Toolbox.

[code]

[2016-06-08 05:50] vdemeester commented on #23321
@couguy83 I don't think we changed anything to the builder that would not make create a container for each Dockerfile instruction, so I'm not surprised.

[2016-06-08 06:31] mitchcapper commented on #20316
@anandkumarpatel Good post and workarounds for the current version! Hopefully the future will see this fully resolved.

[2016-06-08 06:38] TheRubble commented on #22357
@tugberkugurlu Hi, that works a treat now, need to understand why though.

[2016-06-08 07:13] simonas88 opened #23365 "Ubuntu 14.04 apt-get install docker-engine fails"
Hello,

I'm attempting to install docker-engine on Ubuntu 14.04.
I have followed the official guide (https://docs.docker.com/engine/installation/linux/ubuntulinux/) to a step, however I am getting this error when I attempt `sudo apt-get install docker-engine`:

[2016-06-08 07:47] deathtrix opened #23366 "Failing to pull"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

VM. Kubernetes worker.

**Steps to reproduce the issue:**
1. docker pull test

**Describe the results you received:**
[code]

**Describe the results you expected:**
To pull the image

**Additional information you deem important (e.g. issue happens on

[2016-06-08 08:17] runcom commented on #20331
on a RHEL 7.2 with Docker official master this is fixed (it shows `-unsupported` because I had to tweak something to compile with go1.4.2)
[code]

[2016-06-08 08:39] thaJeztah commented on #23115
/cc @aaronlehmann PTAL

[2016-06-08 08:50] jessesuen opened #23367 "Out-of-band volume driver deletions prevents recreation of volume"
We are using flocker storage driver to manage our volumes across multiple docker hosts. When deleting a volume out-of-band from a docker daemon (which is very common when there are multiple docker hosts using centralized storage driver), then any docker daemon which did not witness the deletion will fail to re-create the volume using the same name. It seems to be that docker daemon is keeping some

[2016-06-08 08:56] gm42 opened #23368 "TAR bug: panic: runtime error: invalid memory address or nil pointer dereference"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

It's AWS EC2, but does not matter for the reasons behind this bug.

**Steps to reproduce the issue:**

I guess it was the building of some image:
[code]

**Describe the results you received:**

[code]

[2016-06-08 08:58] runcom commented on #23368
can you try out newer docker versions, it should have been fixed

[2016-06-08 09:01] gm42 commented on #23368
@runcom maybe not, as I need to run same version across the board..

but this is the default shipped with the AMI Linux distro

I could not find a bug with same error, @runcom do you by chance have an issue ref?

[2016-06-08 09:04] gm42 commented on #23368
Possibly related to #11168? Somebody will shed light I guess.

[2016-06-08 09:21] rkgade commented on #22649
Hi @thaJeztah ,

I have a similar query, however, I am installing through YUM.
**OS:** RHEL 7.2
**DockerEngine**:Docker version 1.11.2-cs3, build c81a77d

Once installed, I configured docker to use device mapper.
I have created couple PVs. Created a VG and two LVs as specified at
https://docs.docker.com/engine/userguide/storagedriver/device-mapper-driver/#configure-direct-lvm-mode-for-production

[2016-06-08 09:37] runcom commented on #20331
The following commit fixed this on master:
[code]
Let's leave this issue open though because it's related to https://github.com/docker/docker/issues/21216 which will have follow up PR iinw

[2016-06-08 09:37] thaJeztah commented on #23365
Looks like there's a partial install already, can you try uninstalling? `apt-get purge docker-engine`?

[2016-06-08 09:41] thaJeztah commented on #23365
That looks odd, never seen that one. Actually; looks like a misconfiguration on your computer; see http://unix.stackexchange.com/questions/80277/whats-the-difference-between-a-normal-user-and-a-system-user.

[2016-06-08 09:49] thaJeztah commented on #22649
@rkgade could you contact support@docker.com, that's the proper channel to get support for Docker DataCenter; the GitHub issue tracker is not really intended for that. If you think there's a bug, please open a new issue, because your issue does not look related to the issue that's discussed here

[2016-06-08 09:52] rkgade commented on #22649
Hi @thaJeztah ,
Sure. Thank you.

[2016-06-08 09:53] vdemeester commented on #23308
Something is really weird here, all the `build-arg` the `docker build` reported are prepended with a `[`, probably why it fails on *all of them*.

With the following `Dockerfile`…

[code]

… this is some output examples :

[code]

As @duglin said, it reports any `build-arg` specified using the cli but not consumed by the `Dockerfile`… So in your example, somehow, you specified it in some way (and

[2016-06-08 10:02] stefanfoulis opened #23369 "inconsistent special character support in old and new style ENV format"
``ENV ENCODING_CORRECT "Fäncy Ünîcöde"`` works as expected.
``ENV ENCODING_WRONG="Fäncy Ünîcöde"`` seems to mangle the encoding somehow.

IMHO the old format is working correctly and the new format is buggy.

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Steps to reproduce the issue:**
build this ``Dockerfile`` in a shell that supports special characters:
[code]

[2016-06-08 10:05] simonas88 commented on #23365
I have already tried purging and reinstalling. It doesn't help.

[2016-06-08 10:09] boramod commented on #23357
@cpuguy83 Many thanks for the explanation of the problem!
Maybe it's not the best place for asking questions, but I am totally confused about best way to deploying php dockerized project to the stage&production Docker Hosts...
My algorithm was as follows:
1. Development on the local machine —> push stable code to repo
2. Use App image only for php-code transfer
3. Build App Image with fresh stable

[2016-06-08 10:13] runcom commented on #20331
I'm still not sure as to why docker+devmapper(xfs)+selinux-enabled does not support xattrs

[2016-06-08 10:19] runcom commented on #21216
This is happening as well on RHEL and Fedora with Fedora 24 base tar.xz and devicemapper (XFS) but only when `--selinux-enabled` is provided to the docker daemon /cc @rhatdan

[2016-06-08 10:28] justincormack commented on #23369
Looks like the actual environment variables are also set incorrectly, not just the displayed output.

[2016-06-08 10:33] thaJeztah commented on #23365
Can you check the configuration I linked to?

[2016-06-08 10:37] GaretJax commented on #23369
It looks like https://github.com/docker/docker/blob/master/builder/dockerfile/parser/line_parsers.go#L62 iterates over each byte instead of each UTF-8 character and causes these errors.

[2016-06-08 10:41] thaJeztah commented on #23367
Are you able to reproduce this on docker 1.11? IIRC, some changes were made in this area

[2016-06-08 10:47] igrcic commented on #19298
Hi,

just a tiny fix, it should be --opt

`docker network create --opt com.docker.network.bridge.enable_icc=false --subnet=192.168.2.0/24 docker_gwbridge`

Additionally one can define` --internal` if no internet connectivity is required.

A question: will this network always persist on docker restarts? Can one save this somehow in docker daemon options?

Thank you,
Ivan

[2016-06-08 10:50] BediarSofiane opened #23370 "[Suggestion] An advanced and more realistic embedded DNS Service"
Hi,
I'm a docker containers user (not a contributor)
I am wondering if it is possible to have an embedded DNS service not only for a single network but also between all the networks that are linked (a network service), so that all the nodes that are in the network service know each other.
for example: if we have three containers C1, C2 and C3. suppose C1 is linked to C2 withe the network net1 and

[2016-06-08 10:50] justincormack commented on #23357
For production you should always build the container with new code and redeploy it. Otherwise you do not know what code you are running. For development you can use `-v $PWD:/var/www/app` or similar to temporarily add host code into the image.

[2016-06-08 10:52] runcom commented on #20331
smaller reproducer using docker 1.10.3 or 1.11.2 or anything before 75a271603c761c18c7deb186d08943dcf85b739d with `--selinux-enabled` (and devmapper):
[code]

[2016-06-08 10:54] espritengineer commented on #22746
Hello, the issue is appearing also when executing docker exec command on a running container:

**output of `docker version` :**
[code]

 **output of `docker info`** :

[code]

**Steps to reproduce the issue:**

docker exec -it mysql

**Describe the results you received:**
rpc error: code = 2 desc = "oci runtime error: exec failed: fork/exec /proc/self/exe: no such file or directory"

**Describe th

[2016-06-08 11:03] runcom commented on #20331
stracing the above yields:
[code]

[2016-06-08 11:05] thaJeztah commented on #23370
This is by design, because `C1` and `C3` are not in the same network, only containers that are in the same network are allowed to communicate. This allows you to (for example) use `c2` to handle communication between `c1` and `c3` (it may be a proxy or something). See the following examples;

Create two networks;

- c1 is connected to net1
- c3 is connected to net2
- c2 is connected to both

[code

[2016-06-08 11:06] thaJeztah commented on #23370
I'm going to close this, because this is by design, but feel free to continue the discussion 👍

[2016-06-08 11:06] #23370 closed

[2016-06-08 11:08] thaJeztah commented on #22746
@espritengineer please update to 1.11.2, and see if you still have this. This issue was fixed in 1.11.1 so it's expected that it still results in issues in 1.11.1

[2016-06-08 11:16] ghigi123 commented on #23365
Hello,

I have a similar Issue on Debian Jessie, I tried reinstalling the package but nothing changes

Output for journalctl -xn

[2016-06-08 11:22] BediarSofiane commented on #23370
Okay I understand,
But I am facing a scenario that is not as simple as this.
Let me explain:
I am trying to deploy a realistic network service, so it will not be realistic to have each two nodes linked by a network. I think in this case that adding a DNS server container will be a better solution. My problem is that I can't fix the IP address of a container from the API that I am using. So having

[2016-06-08 11:40] subodhp commented on #8902
The problem with hostname command still persists! The -h option at the docker run works though.

[2016-06-08 11:48] marcelmfs opened #23371 "The name "/data-container-name" is already used by container <hash>. You have to remove (or rename) that container to be able to reuse that name."
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Private cloud with VMWARE hypervisor, running CentOS7.

**Steps to reproduce the issue:**
1. Deploy lots of containers after cleaning the docker context fully, in a Continuous Integration/Deployment cycle.
2. Repeat.
3. Over some time (usually 4 to 6

[2016-06-08 11:53] thaJeztah commented on #23370
Just a DNS server won't help in this case, even if you knew the IP address of C3, container C1 wouldn't be able to communicate with it, because it's not in the same network.

Note that you don't need the `--link` option to link containers, as long as they're in the same network, they can communicate with each other by "name" (or optionally, `--net-alias`). If your use case requires all containers

[2016-06-08 11:57] thaJeztah commented on #23365
@ghigi123 did you have docker running on that machine before, or a fresh install (docker was never installed on it?); this message "There are no more loopback devices available." seems to indicate an issue with the device mapper loop device, possibly running out of space

[2016-06-08 11:58] duglin commented on #23308
@kiawin please show us the 'docker build' command used. I have feeling its not what you expect.

[2016-06-08 11:59] GaretJax commented on #23369
#dibs

[2016-06-08 12:00] ghigi123 commented on #23365
It is a fresh install, approximately 40 Gb are available on my disk

[2016-06-08 12:09] boramod commented on #23357
@justincormack Thank you!
There are no problem with developing — I do it as you pointed. The problem with the code update from the new App container in stage/production (now I testing it on local machine).

Yes, I know about redeploy/rebuild container with new code. As mentioned above.
But I do not understand the true way how I can spread the new code from the new created App container to running

[2016-06-08 12:18] rhatdan commented on #20331
The problem is that devmapper sets up a mount of the image as
[code]
When SELinux is enabled on devicemapper.  When a file system is mounted like this, attempt to change the SELinux label will be blocked.  Basically the kernel does not allow you to say label this mount point as XYZ, and allow a process to change a label of a file on the mount point to ABC.  The tar command should realize this and

[2016-06-08 12:19] rhatdan commented on #20331
[code]
Is the correct patch.

[2016-06-08 12:21] runcom commented on #20331
Alright thanks @rhatdan

[2016-06-08 12:40] demaniak commented on #20398
Similiar issue. `docker network disconnect -f` solver the issue once, but now it has happened again, and try as I might, I can not get that endpoint deleted (so I also can not get the container connected again).

[2016-06-08 12:44] tkaria commented on #22828
Thanks for all your help tracking this down - much appreciated. I managed
to separate the installations properly with some bash scripts and all is as
expected now.

On Fri, May 20, 2016 at 3:12 PM, Sebastiaan van Stijn <
notifications@github.com> wrote:

--
Timir Karia
CEO/Co-Founder Instamrkt.com
tkaria@instamrkt.com
@instamrkt

Europe: +31 (0) 6 55 83 67 11
USA: +1 347 759 4235
Skype: timirkaria

[2016-06-08 12:48] tantra35 commented on #11407
In my case we use overlay network, and after some time(perhaps after intensive dns resolving) we also get very slow dns(dig working but very very slow(responce after 4 sec), but ping goog.com doesn't it report that host can't be resolved). No any records in docker.log. We use docker 1.11.2

[2016-06-08 12:49] rhatdan commented on #21216
As I explained in the other issue.  Setting SELinux labels is not supported if you use a context mount of a file system.  When using SELinux with devicemapper we are mounting the thin devices with context mounts, so when the builtin tar tries to write the SELinux label, the kernel rejects the label as ENOTSUPP, which we should ignore.  We really do not want these labels preserved from the tar anyw

[2016-06-08 13:16] 1e1 commented on #22494
Sorry, I have the same issue:
docker exec -ti test_cassandra_1 bash
`rpc error: code = 2 desc = "oci runtime error: exec failed: exit status 1"

$docker version
[code]

docker info
[code]

Environnement: Digital Ocean (but it works locally)

Steps to reproduce:
`docker exec -ti test_cassandra_1 bash` or `docker exec -ti test_cassandra_1 /bin/bash`

[2016-06-08 13:19] thaJeztah commented on #22494
@1e1 is the `test_cassandra_1` container running?

[2016-06-08 13:19] cpuguy83 commented on #23357
@boramod Why is this code in a volume to begin with?

[2016-06-08 13:21] 1e1 commented on #22494
Yes
I start by `docker-compose up`, then I "break" the command line by `^C`. My containers stop except `test_cassandra_1`

[2016-06-08 13:39] justincormack commented on #23368
Do you have a way to replicate this?

[2016-06-08 13:58] boramod commented on #23357
@cpuguy83, I was looking for an easy way to deploy my code to remote Docker hosts without tools like Capistrano, only with Docker.
After reading the official Docker's documentation about [Volumes](https://docs.docker.com/engine/userguide/containers/dockervolumes/), I came to the conclusion that I must have a common volume (between App & Web) to store php-code delivered by App container. Maybe this

[2016-06-08 14:00] cpuguy83 commented on #23357
I would have the nginx container connect to the PHP app over an fpm socket.

[2016-06-08 14:08] nschoe commented on #23302
@thaJeztah Hi again, it was not long ^^

The issue happened again:

[code]

And neither containers exist when I do `docker ps -a`.

Then I tried this:

[code]

[code]

Then `network disconnect`:

[code]

and with the `-f`:

[code]

**Note:** I have tried every above command by replacing the container name with the container ID, I got the same result.
Weird thing: the container ID doesn't start wit

[2016-06-08 14:10] boramod commented on #23357
You propose not to use volumes like common point between Web container (php-fpm+nginx) and App container (php-code container)?
Where can I read about it? May be small example or documentation point?
I'm sorry to bother you, but I'm new with Docker.

[2016-06-08 14:15] cpuguy83 commented on #23357
@boramod You deploy an image which has your code. Use sockets for communication.
If you must, you can use a volume to share a unix socket between two containers... but sharing code via a volume will present the exact problems you are having.

[2016-06-08 14:19] thaJeztah commented on #23302
No ideas, but let me reopen the issue

[2016-06-08 14:24] nschoe commented on #23302
Thanks.

For information, I have been trying many things right now: restarting the docker daemon, restarting the consul container, I feel the only solution left is to destroy the consul instance (with its Named Volume), loosing everything.

Then restarting the docker daemon and recreating a consul server.

Some food for thoughts:

- is the fact that my consul server is in a container a problem?
-

[2016-06-08 14:26] ghost opened #23374 "oci runtime error: Cannot set property Delegate, or unknown property"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

We tried to repackage new Docker RPMs for CentOS 7.1, and I suspect we are missing something, or a configuration problem.

**Steps to reproduce the issue:**
1. I created a minimal image:

[code]

and

[code]

then built it:

[code]
1. Then I tried to

[2016-06-08 14:28] boramod commented on #23357
@cpuguy83 Thank you so much for your support, tips and a great product!

[2016-06-08 14:28] runcom commented on #23374
refer to https://github.com/opencontainers/runc/issues/801 and it has been fixed into https://github.com/opencontainers/runc/pull/865

We'll close this issue once runc is vendored in master, ping @mrunalp is there any workaround to this for 1.11.2?

[2016-06-08 14:32] cpuguy83 commented on #23357
Anytime.

Closing since this is not an issue.
Thanks!

[2016-06-08 14:32] #23357 closed

[2016-06-08 14:42] oleersoy commented on #23345
OK I see what you are saying - this actually works:
[code]
But I don't think that doing:

[code]
Conflicts with that.  Even though the command line says it does.

[2016-06-08 14:45] HackToday commented on #23315
I am thinking even we behind firewall or proxy, the install would still be OK.  But not sure if different proxy mechanism could cause different issue, like this one. so glad to know any clue for that

[2016-06-08 14:47] thaJeztah opened #23376 "Installation instructions for RHEL/CentOS should take "Server" version into account"
The installation instructions currently use `$releasever` to configure the right YUM repository to use, however the instructions don't take into account the `Server` releases output the version in a different format (e.g. `7Server` instead of just `7`).

[code]

The installation script correctly strips the `Server` before generating the URL, so we should update the documentation to do the same, or

[2016-06-08 14:49] HackToday commented on #23365
@ghigi123  how did you install docker ? I found you use loopback for Debian. what configuration did you do for that ?

[2016-06-08 14:55] HackToday commented on #23366
Also not sure if some other same as this, I found some set MTU to lower number like this one
https://github.com/docker/docker/issues/20628

[2016-06-08 14:59] thaJeztah commented on #23374
@runcom Is this an issue with the Red Hat packaged version only (based on the commit https://github.com/projectatomic/docker/commit/40ea190)?

[2016-06-08 15:05] #23369 closed

[2016-06-08 15:19] HackToday commented on #23371
how did you clean those containers ? Any exceptions happen why you clean those resources(include volume network etc.)?

[2016-06-08 15:21] thaJeztah commented on #23366
Yes, it may take some testing to get the proper MTU value. However, this is not a bug, but a configuration issue, so I'll close this issue. But feel free to continue the discussion

[2016-06-08 15:21] #23366 closed

[2016-06-08 15:21] joune commented on #22746
@thaJeztah We have the same issue on an amazon instance (slave worker for our CI with an AMI provided by bamboo); how can I upgrade (or downgrade) the pre-installed docker? (yum install from the amazon repo only knows version 1.11.1)

[2016-06-08 15:29] HackToday commented on #23325
@cpuguy83  Thanks for your info. So it means the user upgrade docker, which creates metadata.db. And then downgrade to 1.10.3, It then happened this issue. Is such case ?

[2016-06-08 15:30] cpuguy83 commented on #23325
@HackToday exactly

[2016-06-08 15:39] oleersoy commented on #23345
Also the `--name` option can be kept for backward compatibility, while allowing `docker volume create thenameofthevolume`.

[2016-06-08 15:40] danbeaulieu commented on #23131
This happens pretty consistently. I've added an strace while a docker ps was hung for several minutes. The strace itself is for about a minute, not sure if there is anything useful in there.

@mlaventure does it make sense to open this back up? I'm not sure how waiting for containerd is the fix for this when it looks like another lock contention issue.

[stuck-docker-strace.txt](https://github.com

[2016-06-08 15:41] joune commented on #22746
@thaJeztah never mind, i found it:

    yum --showduplicates list docker

showed that version 1.9.1 is also available, then

    yum remove docker
    yum install docker-1.9.1-1.3.amzn1

[2016-06-08 15:43] yongtang commented on #21735
I played with the experimental docker networking function of ipvlan recently. I understand what ipvlan and macvlan is capable of but my focus is mainly for cloud (AWS) and I am mostly concerned with the cross-host connectivity.

For ipvlan L3 mode, it is very similar to the default bridge mode (except there is no bridge interface). As a result, in order for one container in one host to communicate

[2016-06-08 15:44] yongtang commented on #21735
For ipvlan L2 mode, I actually encountered quite a few issues on EC2. The biggest issue is that AWS seems to disable the broadcast and use a proxy ARP, which will not return the mac address of the IP if the IP is not managed by AWS.

I am still trying to see if there is a way to get around this in AWS.

[2016-06-08 15:44] thaJeztah commented on #22746
@joune you'd probably need to ask Amazon, because there's no official packages in our repository for Amazon Linux

[2016-06-08 15:51] cpuguy83 commented on #23345
👍 Are you interested in handling this?
It should be much easier to do now since we've changed to a new CLI backend and can simply mark `--name` as hidden, then check for both `--name` being set and the name argument being set.

[2016-06-08 15:59] mlaventure commented on #23131
@danbeaulieu can you also post the daemon log that goes with this strace?

[2016-06-08 16:01] simonas88 commented on #23365
@thaJeztah
So I uncommented the lines in `/etc/login.defs`

And now I can install docker-engine without errors.

I guess that solves my particular issue. Thanks for the pointer.

[2016-06-08 16:05] gfauredumont commented on #22182
Hi again,

I've created a [question on AskUbuntu](http://askubuntu.com/questions/784094/skipping-the-inrelease-step-when-apt-get-update-and-go-directly-to-release) but I'm not sure I've indicated all the necessary information.

**If anyone has a clue or even an idea so I could dig on, please answer here or as a comment/answer to [my question](http://askubuntu.com/questions/784094/skipping-the-inre

[2016-06-08 16:06] thaJeztah commented on #23365
@simonas88 good to hear! I wonder why those values were set incorrectly; it's the first time this was reported, so may have just been an incident, but I'll keep an eye out if there's other people running into this.

I'll close this issue for now

[2016-06-08 16:06] #23365 closed

[2016-06-08 16:08] oleersoy commented on #23345
I could give it a shot, although I've never written any go (Mostly java / javascript, etc).  Could you point me to the code.

[2016-06-08 16:19] #23304 closed

[2016-06-08 16:20] jongiddy commented on #22503
In my case, I identified that the proxy has a rule that removes Authorization headers in requests unless an accompanying cookie is set. In web browsers, this cookie is returned by the response to an initial unauthorized request, and hence gets set for the subsequent authorized request. I believe this attempts to improve security by preventing credentials being sent when they are not necessary (not

[2016-06-08 16:22] gfauredumont commented on #22182
(cross)[asked it on ServerFault](http://serverfault.com/questions/782737/skipping-the-inrelease-step-when-apt-get-update-and-go-directly-to-release), just to catch any ideas...

[2016-06-08 16:42] frioux opened #23378 "Segfaulting (I think?) on Linux 4.7"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

physical, kernel says Linux zfp 4.7.0-040700rc2-generic #201606051831 SMP Sun Jun 5 22:33:44 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

**Steps to reproduce the issue:**
1. Install Linux 4.7
    * `wget http://kernel.ubuntu.com/~kernel-ppa/mainline/v4.

[2016-06-08 17:11] justincormack commented on #23378
Can you run https://raw.githubusercontent.com/docker/docker/master/contrib/check-config.sh to see if there is anything odd about kernel setup. Is there anything in system logs? Can you try `docker run --privileged ...` and see if it makes a difference. And can you just do something simpler like `docker run busybox ls` so no volume mounts or anything. Just to narrow down where the issue might be...

[2016-06-08 17:20] Bill commented on #10324
@franz-josef-kaiser I'm using your trick. But I think you meant:

[code]

(Removed the bang `!`)

I'm using this to set a path to our enterprise Maven repository (building a Java project). The only purpose of this image is to provide an isolated build environment, so it's not a problem for me, that the IP could change.

[2016-06-08 17:38] cpuguy83 commented on #23345
https://github.com/docker/docker/blob/master/api/client/volume/create.go

[2016-06-08 17:42] #21660 closed

[2016-06-08 17:46] frioux commented on #23378
Output of check-config.sh:

[code]

I think dmesg may have made it clear what the problem is though!

Check this out:

[code]

and

[code]

So it looks like musl is broken on 4.7?  Should I reach out to the musl people?

[2016-06-08 17:51] justincormack commented on #23378
Ping @ncopa
On 8 Jun 2016 6:46 p.m., "fREW Schmidt" <notifications@github.com> wrote:

[2016-06-08 17:53] jessesuen commented on #23367
@thaJeztah I will give it a shot.

[2016-06-08 18:01] justincormack opened #23379 "update win2lin Jenkins setup.sh with latest version"
cc @jhowardmsft this file does not look like it has been updated:

https://github.com/docker/docker/blob/master/hack/Jenkins/W2L/setup.sh#L187

as it does not copy `dockerd` to the path, only `docker`. Any chance you could update with the actual copy from Jenkins as I may need to make a small change for my PR #23312

[2016-06-08 18:03] jessesuen commented on #23367
I just tried with version 1.11.2 and the issue still occurs.

[code]

[2016-06-08 18:04] jhowardmsft commented on #23379
Sure. I'll get to this today.

[2016-06-08 18:04] johnculviner commented on #21702
In case this helps anyone. I found if docker ends abnormally like a

```pkill -9 {DOCKER_PID}```

This can happen. The solution I found that doesn't seem to have any ill effects is to:

[code]

[2016-06-08 18:09] jhowardmsft commented on #23379
https://github.com/docker/docker/pull/23380 :smile:

[2016-06-08 18:14] icecrime commented on #22871
Another data point worth looking at: [grahame/wrfy](https://github.com/grahame/wrfy/) (cc @dmcgowan @tonistiigi @aaronlehmann @dnephin)

[2016-06-08 18:22] phobologic commented on #20586
Wondering if there's anything more we can do to help this bug along- I'm actually going to give 1.11.2 a try in our environment, and see if we see the same issues, but I don't think anything has been changed that might address this.

[2016-06-08 18:28] erikstmartin commented on #22380
@transentia Sorry for the delay on this, I got pulled away for a bit on a more critical issue at work. If you want something to play with here is the branch https://github.com/erikstmartin/docker/tree/realtime-threads

Everything is working with `--cpu-rt-runtime` but make sure you've set the parent cgroups and you also pass `--cap-add=sys_nice` or `--privileged`, I have some sanity checks in ther

[2016-06-08 18:43] cpuguy83 commented on #23367
Yes, we need a `docker volume rm -f <name>` option.

[2016-06-08 18:44] cpuguy83 commented on #23367
@jessesuen Would you have time to do this one?

[2016-06-08 18:45] ammianus opened #23382 "OSX 10.11.5 Docker pull extremely slow from private registry for Mac only"
I looked for existing issues, although some are similar, they are already closed in older versions, so I am creating this new one. Also so far this appears to be specific to my particular combination of OSX + Docker Toolbox (VBox VM + Docker engine) + private docker registry. Similar, but apparently different Issue to #13309 we have a "large" layer in the image I am trying to download (~3+GB).

Wh

[2016-06-08 18:51] sammck commented on #20316
I may be coming from left field but what I would like to see is the ability to add an identifier to a Dockerfile that remains unchanged as the Dockerfile grows and is rebuilt, such that the identifier defines a caching context that can be reused between builds; e.g.,

FROMCACHE my account/repository:tag

This way independent Dockerfiles that do not relate to each other would not share cache entrie

[2016-06-08 19:08] richfelker commented on #23378
This is almost surely a kernel bug, but it's hard to diagnose further without having an environment to test on, and I'm not really familiar with what the procedures would be for debugging stuff inside Docker. Any idea if the binaries crash the same on the main host (outside Docker)? Do they crash if invoked via the dynamic linker as a command?

[2016-06-08 19:18] thaJeztah commented on #23382
Can you open this issue in the Docker Toolbox or Docker Machine issue tracker? Looks like this it an issue with Toolbox. https://github.com/docker/toolbox/issues

Also, perhaps Docker for Mac (beta) would be worth a try; you can register for the beta at beta.docker.com

[2016-06-08 19:18] #23382 closed

[2016-06-08 19:22] mj-nowak commented on #23358
Just as an update, I found that both files:
[code]
are set to "0" when the problem occurs.  Manually changing the files to "1"  makes the warnings disappear immediately and the containers are once again able to communicate through hostip:exposed_port.  I am still unsure why or how these files are being rewritten and why reloading the VM does not work all the time.  Example below:

[code]

[2016-06-08 19:24] frioux commented on #23378
They do crash when I use a simple chroot. I'll try directly running ash
outside of a chroot after lunch.

--
sent from a rotary phone, pardon my brevity
On Jun 8, 2016 12:10 PM, "richfelker" <notifications@github.com> wrote:

[2016-06-08 19:37] graingert opened #23383 "docker push should try to push a new tag, and only upload the required layers"
Docker 1.11.2

currently the behaviour of "docker push" is to:

* generate a list of layers
* push each layer
* create a manifest file
* push the manifest file

However, the push API, returns an error with each missing layer in it. Docker push should:
* generate a list of layers
* create a manifest file
* push the manifest file
* push every layer in the list of layers
* push the manifest file

Thi

[2016-06-08 19:49] thaJeztah commented on #23383
ping @stevvooe @aaronlehmann

[2016-06-08 19:57] almoehi commented on #22635
I already hat MTU size of 1500 and still not working.

Apparently, enabling MTU probing in the kernel resolved the issue. To enable it just run:
[code]

To make this permanently, add the following line to `/etc/sysctl.conf`:
[code]

https://thesimplecomputer.info/pages/adventures-in-linux-tcp-tuning-page2

[2016-06-08 19:57] #22635 closed

[2016-06-08 20:08] justincormack commented on #22635
Glad you found a solution.

[2016-06-08 20:12] philips commented on #11705
@wuxxin Is anyone pushing this patch upstream?

cc @mjg59

[2016-06-08 20:18] frioux commented on #23378
Chatting with #musl about this.  People who know more than I do believe it's a kernel bug.  I'll let someone else close the issue but I can repro outside of docker so I think we can all agree this is not a docker issue (though dockerinc might be worried that musl based images will be broken for 4.7-rc2.)

[2016-06-08 20:20] thalesfsp commented on #22753
I have the same problem. Using Docker version Version 1.11.1-beta14 (build: 8670) 984649fbd63d53a62b34f08b59694d4d569b74d5. My `pinata doctor` says everything is ok.

[code]

I cannot curl a service running in host, for example an ExpressJS application listening in the port `3001`, from inside the container. How can I solve it?

Thanks!

[2016-06-08 20:31] thaJeztah commented on #23378
We recently got some help from @sforshee, who (I think) is on the kernel team for Canonical; @sforshee is this a known issue? (Also let me know if it's not appreciated to ping you for these kind of issues :heart:)

[2016-06-08 20:43] richfelker commented on #23378
From further discussion on #musl, it's almost surely vdso-related. The crash seems to be in code processing the traditional (sysv) ELF symbol hash table, probably for the vdso provided by the kernel. It's likely that the kernel is providing an invalid vdso, probably with invalid/corrupt sysv hashtable. But I don't see any related changes in the kernel git log for v4.7-rc2 vs v4.6, so perhaps a new

[2016-06-08 20:45] jessesuen commented on #23367
I'm unfamiliar with both golang and docker source base, so I won't be able to help at least in the short term. That said, I'm not quite sure how a force option (`docker volume rm -f <name>`) would help in this situation. When the daemon gets into this state, the volume does not appear from the list of `docker volume ls`. So in that regard, the volume appears to be gone (and should be recreatable).

[2016-06-08 21:00] thaJeztah opened #23386 "flaky test: TestEventsContainerWithMultiNetwork"
I suspect this test was never correct, but it's no exposed because https://github.com/docker/docker/issues/23304 was fixed in https://github.com/docker/docker/pull/23375

For reference https://jenkins.dockerproject.org/job/Docker-PRs-userns/10666/console
[code]

[2016-06-08 21:03] thaJeztah commented on #23386
working on a fix

[2016-06-08 22:22] thalesfsp opened #23388 "Docker container contact/communicate outside container/host"
Docker version:

[code]

Docker info:

[code]
## Overview

I cannot curl a service running in host, for example an ExpressJS application listening in the port `3001`, from inside the container:

[code]

_Note: `172.25.8.25` is my WiFi IP._
## Pinata

[code]
## Possible duplicates, references, help
- https://forums.docker.com/t/beta-9-and-localhost-connection-via-net-host/10471
- https://forums.doc

[2016-06-08 22:43] ghodss commented on #21800
Has there been any recent progress on this issue? Is there a related blocking issue in another project?

[2016-06-08 23:03] #23386 closed

[2016-06-09 00:10] sentientmonkey opened #23390 "Ignore docker login -e option flag"
The following PR removed the email address from login:
https://github.com/docker/docker/pull/20565

This left the -e flag as a warning to customers, and is slated for deprecation in docker 1.13.

The AWS CLI relies on the docker login command for authentication with the EC2 Container Registry.
https://github.com/aws/aws-cli/blob/develop/awscli/customizations/ecr.py#L55

If this flag is removed in

[2016-06-09 00:13] BDuelz commented on #20656
I've searched, but I haven't found any docs. Just wondering if this is still being worked on.

[2016-06-09 00:21] cpuguy83 commented on #23390
IMO, This is why we have deprecation notices.
1.13 is still at least 3 months away, this seems like plenty of time to update awscli.

[2016-06-09 00:40] stevvooe commented on #23383
The manifest file cannot be pushed for before it is confirmed that all the layers exist. Albeit, the manifest file can be optimistically pushed. If it fails, each layer can be checked. However, there is no guarantee that the layers exist, as a registry may accept a manifest without validating the existence of layers.

Optimizing for minimizing http requests here doesn't really buy much. Most of th

[2016-06-09 00:51] graingert commented on #23383
in that case docker should be able to push multiple tags at once, so it only hashes the layers once per push. See https://github.com/docker/docker/issues/7336

[2016-06-09 00:51] graingert commented on #23383
@stevvooe the repository must error if the layers don't exist. It's in the registry specification.

[2016-06-09 01:19] stevvooe commented on #23383
There is no such thing as "pushing a tag" (in the current model).

Yes (I wrote this ;) ), but its safer to ensure it. It's possible to relax this requirement. Also, `push the intersection of the error list and L` may not work, as intended.

It would make a lot more sense to keep track of which layers have been pushed to which registry between push calls. This way, it could be, assuming all layers

[2016-06-09 04:41] twang2218 commented on #2174
I got the same issue here. `netstat -tulpn` show the published port only mapped to the `tcp6`, and cannot connect to the container. However, after several try and fail, I found that the port is actually working. I tried to run a new container from docker hub directly:

[code]

And the 8080 is binded to tcp6, however, I can access the service via tcp4, there is no problem. Then I realized it's the

[2016-06-09 04:49] jfrazelle opened #23394 "Tmpfs broken on master but not 1.11.1"
I used git bisect and my broken builds of https://github.com/dcos/dcos-docker and it all traced back to this commit https://github.com/docker/docker/commit/397a6fefadf9ac91a5c9de2447f4dea607296470

It is working on the stable version.

Here is the problem because obviously I am not expecting you to read 300+ lines of make that is in that repo. When its broken I get `no space left on device`. Other

[2016-06-09 04:53] jfrazelle commented on #23394
So /tmp is full --->

Bad commit:
[code]

Good commit:
[code]

Can we all LOL that I am the one who noticed systemd broke in a container.... ME lolololol

[2016-06-09 04:54] jfrazelle commented on #23394
ok I'm making a commit to revert the size constraint

[2016-06-09 04:57] jfrazelle commented on #23394
Or do you not mind breaking people? this could just be us, or ya know anyone who uses systemd in a container *cough, cough*

[2016-06-09 05:18] jmreicha commented on #19209
Any update on this?  I'm hesitant to turn on the gelf driver in production on busy servers unless this is fixed now.

[2016-06-09 05:22] AkihiroSuda commented on #19209
@jmreicha the issue is not yet fixed, but related things are under discussion: https://github.com/docker/docker/pull/23198

[2016-06-09 06:08] bigeagle opened #23396 "Hashsum inconsistent in APT repository"
Hi there,

Although #23203 seems to be solved, the hash sum mismatching still exists at `/dists/*/*/binary-*/Release` files.

For example, the SHA256 sum of [ubuntu-xenial/main/binary-64/Release](https://apt.dockerproject.org/repo/dists/ubuntu-xenial/main/binary-amd64/Release) is `e2c7e6e7bca81e4d6c124eae595b0d21ab0dd852bd2a49613996ece7de467a9d`  with the size of 1726 bytes,  while according to [i

[2016-06-09 06:14] #23379 closed

[2016-06-09 06:15] HeadlessChild commented on #17197
This is the same behavior if you install a kernel on Debian Jessie (stable) from jessie-backports as that kernel exceeds version 3.18 which aufs was removed from. https://lists.debian.org/debian-kernel/2014/12/msg00136.html

The solution is to remove the `/var/lib/docker/aufs` directory or start Docker with overlayfs instead, this can be done with the following flag `-s overlay`.

[2016-06-09 06:42] deathtrix commented on #23366
I have just one question then: why did it work before, and then, not changing anything it stopped working? How is this a configuration issue?

[2016-06-09 07:49] ardnaxelarak commented on #23383
yeah, this is way tricker than I originally thought.
Someone else should take it over if there's anything to be done.
is #undibs a thing?

[2016-06-09 07:58] graingert commented on #23383
I don't think docker should maintain a list of pushed layers between
commands. I think the API should take a list of tags.

Then it can generate all the unique layers for all the tags and finally
upload each manifest.
On 9 Jun 2016 08:51, "Kara Alexandra" <notifications@github.com> wrote:

[2016-06-09 08:11] mdomke commented on #20178
Im experiencing the same issue on OpenStack with Ubuntu 16.04 and
[code]
and if I then run an Alpine image and try to access `registry-1.docker.io` with curl it hangs while waiting for the server response
[code]
@peterklipfel Could you figure out in what way this issue was related to your OpenStack setup?

[2016-06-09 08:23] Saringkhan commented on #20303
run command : sysctl -w kernel.grsecurity.chroot_deny_chmod=0

[2016-06-09 08:47] thaJeztah commented on #23366
@deathtrix older versions tried to "guess" the MTU by looking at the network interface, but this caused issues if a machine had multiple interfaces

[2016-06-09 09:23] graingert commented on #23383
I don't think docker should maintain a list of pushed layers between
commands. I think the API should take a list of <del>tags</del> `type T where m = f(x) and x ∊ T and m ∊ M`.

Then it can generate all the unique layers for all the tags and finally
upload each manifest of `type M`.

[2016-06-09 09:34] thaJeztah opened #23401 "flaky test: TestRunSeccompDefaultProfileNS (?)"
Seen this failing on master on RHEL/Devicemapper a couple of times, so opening an issue to track it

https://jenkins.dockerproject.org/job/Docker%20Master/label=rhel%20&&%20devicemapper/5676/console

https://jenkins.dockerproject.org/job/Docker%20Master/label=rhel%20&&%20devicemapper/5683/console

This may just be devicemapper being slow, but worth keeping an eye on

[code]

[2016-06-09 09:36] eljobe commented on #5113
I'm actually still seeing this in docker 1.11.2 on the mac OS X.

I started a push using this command:
[code]

When I got back to my laptop in the morning, it wasn't working, so I `Ctrl-C`'d the process, and ran the command again. But, it just gets to the same place and stops uploading. No bytes are sent.

I'm trying the `docker-machine restart default` workaround, but wanted to let you know that

[2016-06-09 09:53] thaJeztah commented on #23396
Thanks @bigeagle, we'll look into this

/cc @mlaventure @tiborvass @tianon @kencochrane

[2016-06-09 10:28] cefn commented on #23050
I'm struggling to find how to turn on the debugging and see the JSON log as you described. I tried running...

[code]

...and I found that there was a VBox.log file being written...

[code]

However, there was no reporting of JSON to this file even when I successfully launched a service against the docker-machine default host.

P.S. Unlike the original CLI run invocation, the dockerode-launched ve

[2016-06-09 10:30] justincormack commented on #23378
Thanks @richfelker sounds like it is an Ubuntu toolchain issue or a kernel issue, but @frioux could you file a bug against them as a broken vdso is going to be a big performance issue as well as a problem running Musl code... Will close this issue but please keep posting here as interested in the resolution.

[2016-06-09 10:30] #23378 closed

[2016-06-09 10:33] justincormack commented on #23401
This was the test I split in two in https://github.com/docker/docker/pull/23073 as there was clearly a race, still on my list to investigate why as that was not a fix and presumably DM being slow makes it happen even with fewer simultaneous containers.

[2016-06-09 10:45] WeiZhang555 commented on #23332
I meet the same problem, interestingly I can run about 3300~3400, but never exceed 3400 containers.

Here is docker log:
[code]

docker version: latest master branch.  (can't get in touch of my server, will add HASH later)
OS:   ubuntu 14.04
how to run docker daemon: manually start dockerd on command line, didn't use systemd

I can see there's some related issues: https://github.com/docker/docker/

[2016-06-09 12:05] nmiroshnichenko commented on #16369
as a workaround - use faketime tool (http://manpages.ubuntu.com/manpages/trusty/man1/faketime.1.html)

[2016-06-09 12:08] #23394 closed

[2016-06-09 12:13] arjunm183 opened #23404 "Docker network rm doesnt work - " Active endpoints still there ""
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Virtual Machine

**Steps to reproduce the issue:**
1.docker network ls
NETWORK ID          NAME                DRIVER
17472e3a8a2e        phpdb               calico
2a28bc503ac5        net1                calico
69a305768bb3        net2

[2016-06-09 12:19] thaJeztah commented on #23404
Are you still seeing this on the current release (1.11)?

[2016-06-09 12:23] arjunm183 commented on #23404
I havent upgraded to 1.11 its still 1.9

I am using a SLES 12 SP1 . Do you have an rpm for 1.10 or 1.11 ?

[2016-06-09 12:29] thaJeztah commented on #23404
We don't have official packages for SLES, so you'd have to check the SUSE repos for that, sorry

[2016-06-09 12:39] HamidEDD opened #23405 "docker 1.11.2 inside LXC + userns-remap"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. Create LXC Container with all privileges
2. Install docker 1.11.2
3. Configure the docker daemon to use : --userns-remap=default
4. docker run -it --rm --name c1 alpine sh

**Describe the results you received:**
[

[2016-06-09 12:44] thaJeztah commented on #23405
Possibly related to https://github.com/docker/docker/pull/20902 ?

[2016-06-09 13:04] MicDeDuiwel commented on #23396
I would just like to add, I had a hash sum mismatch issue all of yesterday. Today it seemed to be fixed up until an hour ago when I got the same issue again:

`W: Failed to fetch http://archive.ubuntu.com/ubuntu/dists/trusty-updates/universe/binary-amd64/Packages  Hash Sum mismatch`

[2016-06-09 13:14] michael-holzheu commented on #23171
With opencontainers/runc#894 now runc is up-to-date. We could now bump the runc version.

[2016-06-09 13:16] bigeagle commented on #23396
@MicDeDuiwel your mismatch comes from ubuntu repo, instead of docker.

[2016-06-09 13:28] MicDeDuiwel commented on #23396
@bigeagle Ah I see. Thank you for clearing that up for me.

[2016-06-09 13:42] lezzgiles opened #23407 "Container loses ipv4 address a few minutes after start"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

Fedora Core 23

uname -a:
Linux jenkins4 4.4.8-300.fc23.x86_64 #1 SMP Wed Apr 20 16:59:27 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

**Steps to reproduce the issue:**
1. Start a container
2. Wait a few minutes
3. Network connectivity is lost

I had a container that had been running for several weeks with no problems.  I d

[2016-06-09 13:50] cpuguy83 commented on #23407
Where is this `virbr0` coming from? It looks like something inside the container is manipulating the network, or perhaps a plugin or other orchestration framework?

[2016-06-09 13:54] sforshee commented on #23378
@thaJeztah Yes, I do work on Canonical's kernel team, and if there are problems with our kernels affecting Docker I'm happy to help.

In this case we're talking about our mainline builds, which are unpatched upstream kernel builds provided  _for testing purposes only_. I'll still try to help, but these kernels will never receive the same amount of testing or support as the official Ubuntu kernels.

[2016-06-09 13:57] lezzgiles commented on #23407
One thing I did recently on this server is install kubernetes, but I don't think that should have had any effect.  I didn't do anything to create virbr0 - am I right in assuming that a normal docker container wouldn't have a virbr0?

[2016-06-09 14:02] cpuguy83 commented on #23407
I would look at whatever plugins might be loaded (especially on the k8s side).

Correct docker does not add a virbr0.

[2016-06-09 14:02] romanlevin opened #23409 "Unexpected build-arg"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Running on a bare metal Ubuntu 16.04 box.

**Steps to reproduce the issue:**
1. Create `Dockerfile` that expects some `ARG`s
2. Send a `build` request that includes those `build-arg`s, plus another, unexpected `build-arg`

**Describe the results you

[2016-06-09 14:08] cpuguy83 commented on #23409
This is working as expected.
An unused build arg means that the build has failed.

It would be nice if this happened before the build rather than after, though.

[2016-06-09 14:09] cpuguy83 commented on #23396
Yep, looks like a canonical issue.
Closing.

Thanks!

[2016-06-09 14:10] romanlevin commented on #23409
@cpuguy83 I do not see an error, and the image does get built and seems to work as expected. Is the only indication of an error here is the lack of a tag?

[2016-06-09 14:12] cpuguy83 commented on #23409
Here is what I see:
[code]

[2016-06-09 14:15] romanlevin commented on #23409
Ah, I did not mention that I'm using `docker-py`, my bad. Guess I should report it there.

On the other hand, there is no indication that this behavior is unexpected in either the API docs nor the Dockerfile docs.

[2016-06-09 14:16] cpuguy83 commented on #23396
My bad, I see the OP is using apt.dockerproject.org

[2016-06-09 14:26] mlaventure commented on #23396
This should (hopefully) get cleaned up when we find/move to a better solution for generating our apt repo.

Technically only the top most Release/InRelease file matters to apt because it contains the path to the Packages files and from there to the actual debs which is sufficient for apt to find and install them.

[2016-06-09 14:33] allen13 commented on #15020
I tried running cassandra for hawkular metrics collection on a huge 128GB baremetal using kubernetes. I spent quite a bit of time tweaking the JVM to no avail. Cassandra would quickly consume a lot of memory  then crash, sometimes within hours. I am also running Jenkins as well. It doesn't get any use but the jvm still goes memory crazy and eats everything until it crashes. It really looks like ja

[2016-06-09 14:39] KevinM2k commented on #22981
I have same issue on windows for beta, it creates the folder in the container but doesn't have the contents of the drive from the windows dir

[2016-06-09 14:51] thockin commented on #23407
virbr0 is not a kubernetes thing either, at least not out of the box..

On Thu, Jun 9, 2016 at 7:03 AM, Brian Goff <notifications@github.com> wrote:

[2016-06-09 14:54] thaJeztah commented on #22981
@KevinM2k can you report that issue in the Docker for Windows beta forum? I think there's already a topic for it https://forums.docker.com/c/docker-for-windows

[2016-06-09 14:55] stephenwithav commented on #22074
Another option is to restart the docker daemon, which just solved this problem for me.

`systemctl restart docker`

[2016-06-09 15:07] lezzgiles commented on #23407
Looks like it is a virsh thing.  I did install a whole bunch of rpms, many to do with networking, so one of those is probably causing this problem.  Looks like it is not a Docker issue so I'll close this.  Sorry for the disruption!

[2016-06-09 15:07] #23407 closed

[2016-06-09 15:08] HamidEDD commented on #23405
@thaJeztah I don't think so, because i'm not trying to run the engine daemon inside a userns.
My Daemon is already inside a privileged LXC Container (shares the root userns of the host)  and it start correctly.
My problem here, is when I tell the daemon engine to run containers inside userns, creation fails with a not very clear error messages :
[code]
I have done the same operations using docker