[2017-02-13 19:21] cyli commented on #30935
@thaJeztah It's not currently supported yet, but we could add support for in either go-connections or the docker CLI.

[2017-02-13 19:32] StefanScherer commented on #29646
Just found out that this only happens in `microsoft/windowsservercore` containers. PowerShell in `micrsoft/nanoserver` doesn't have this problem. So another reason to use nanoserver.

[2017-02-13 19:33] matheuscmpm commented on #30450
@cyli I see. That's weird, I am using my folders inside of c:/Users/username/ to mount my volumes. The exact same dockerfile/project can be executed by MacOS or Ubuntu, without any problems/errors, so I thought this was causing my problem. I am out of ideas, do you know where I can find this kind of solution to my problem?

[2017-02-13 19:41] jhowardmsft commented on #30512
I have a repro. We are tracking internally via VSO bug #10943100

@patricklang FYI.

[2017-02-13 19:44] cpuguy83 commented on #30981
ping @aaronlehmann

[2017-02-13 19:49] thaJeztah commented on #22895
@kunalkushwaha can you confirm this issue is fixed on 1.13.1? I suggest closing this issue then

[2017-02-13 19:51] MikaelCluseau commented on #28889
@mlaventure I think I found what happened, but I wanted to let the system show stability for at least a night before reporting. We had a pretty low memory limit of 100MiB on our docker hub mirror registry (image registry:2.5.1), and it has been OOM killed at least once. I raised the limit to 1GiB, and since then I didn't had any problem with timeout speaking to the docker daemon.

If I'm on the ri

[2017-02-13 19:53] aaronlehmann commented on #26017
@optimum-web: This looks like output from swarm classic (https://github.com/docker/swarm), not "swarm mode". Your issue is different from the one being discussed in this ticket. Your paste includes an error message about not being able to connect to the Docker daemon, so I'd suggest looking into that.

[2017-02-13 19:54] aaronlehmann commented on #26017
Since the documentation this area has been improved, I'm closing this issue.

[2017-02-13 19:54] #26017 closed

[2017-02-13 19:54] dongluochen commented on #26017
@optimum-web Your case is [classic swarm](https://github.com/docker/swarm/), not docker swarm-mode. In your case the manager cannot connect to the node from node discovery. See `Error: Cannot connect to the Docker daemon at tcp://146.185.162.217:2376. Is the docker daemon running?`. So the node is in `Pending` state. To debug this issue, go to your swarm manager, try `docker -H 146.185.162.217:237

[2017-02-13 19:56] cyli commented on #30450
@matheuscmpm Just to verify that I understand the issue: the container gets created successfully, just without the relevant local data?  Or does the container not even start?

Also, apologies I'm not very familiar with docker on windows, but possibly some relevant issues to check out are the ones here:  https://github.com/docker/for-win/issues.  I also found this, which I'm not sure is related:  h

[2017-02-13 19:56] thaJeztah commented on #20221
For docker machine (and the local VirtualBox driver), the recommended way to upgrade is to do `docker-machine upgrade`. For other setups (e.g. on ubuntu), follow the regular upgrade procedures (which can be simply `sudo apt-get update && sudo apt-get install docker-engine`).

I'm locking the conversation on this issue so that it doesn't start to lead a life of its own;  if you have a bug to report

[2017-02-13 19:58] darrenstahlmsft commented on #30672
Thanks, rules out that idea, hmmm, a few more ideas:

What is the size of your pagefile? (System Properties > Advanced > Performance Options, Settings > Advanced > under virtual memory)

Can you confirm that your microsoft/windowsservercore image is the latest one available on the Hub? If you haven't changed the tag, `docker inspect microsoft/windowsservercore` should show `"OsVersion": "10.0.1439

[2017-02-13 20:01] mavenugo commented on #30820
@sebgie thanks for the confirmation. Can you pls clarify the terminology that you are using ?
I assume, `instance` = `swarm node` and `node` = `service` ?

Do you mean 1000 services  or 1000 tasks per service ? Again I think the `instance` word is overloaded to mean different things in your response.
Do you have just 1 task per service when you hit the > 5 minutes scheduling issue ?

Thats great.

[2017-02-13 20:02] msabansal commented on #30260
@rs38 The logs show you are trying to attach 192.168.1.1 as the dns server. There doesn't seem to be an error in the request. Can you please confirm if you didn't seen the correct DNS server?

[2017-02-13 20:03] nathanleclaire commented on #30450
If using Machine, the `C:\Users` directory is mounted into `/c/users` in the boot2docker VM, sometimes there are path parsing issues with Compose or otherwise, you may want to take a look at `COMPOSE_CONVERT_WINDOWS_PATHS`, https://docs.docker.com/compose/reference/envvars/#/composeconvertwindowspaths. At any rate, you have to figure out what the volume call you're making will be expanded to.

Not

[2017-02-13 20:06] thaJeztah commented on #30937
w.r.t.;

Turns out I was confused there; that restriction only applies to the _local_ driver; plugins have more freedom w.r.t. naming of volumes (see https://github.com/docker/docker/pull/17213). Which _does_ look a bit confusing though; wondering if we should change that (but that's orthogonal to this issue)

[2017-02-13 20:09] msabansal commented on #30826
@mauro-dellachiesa Can you please share traces (from CMD).

ipconfig /all
route print
netsh trace start  globallevel=5 provider=microsoft-windows-winnat level=5 provider=Microsoft-Windows-TCPIP level=5 report=di capture=yes

<trace>

netsh trace stop

[2017-02-13 20:13] aaronlehmann commented on #30951
I'm pretty sure `docker service update --force` will not switch to a new digest. If you want to update to a newer version of the image, just use `docker service update --image myimage:tag servicename`. If the tag has changed to point to a new version, this will pin the service to the updated digest.

[2017-02-13 20:17] ghollies opened #30984 "containerd process continually restarting: process.json: no such file or directory"
**Description**
Shortly after startup, during a period of heavy system resource usage, I am seeing errors in from `journalctl` showing
[code]

It then proceeds to keep spawning a new containerd, and then it dies immediately.
The result is a system which can't properly interact with containers, no docker stop/exec, health checks always fail and return unhealthy.

`docker exec -i -t container-name /

[2017-02-13 20:18] dongluochen commented on #30938
On Docker 1.13.1, it looks like Allocator is doing a lot of spec copy when trying to allocate port for the task.

[code]

Here is an example of goroutine making Copy.
[code]

There are many case of Copy.
[code]

[2017-02-13 20:21] cpuguy83 commented on #30984
ping @mlaventure

[2017-02-13 20:23] sebgie commented on #30820
Sorry for not being clear!

I meant 1000 services. 1 task per service and 1000 services shows > 5 minute preparation time.

Exactly. I created 200 networks, attached all networks to the same service and then tried to scale it to 5. Reason for attaching 200 networks is that I can't attach the network after the service is created (at least `docker network connect` doesn't work with Swarm and `docker

[2017-02-13 20:26] MikaelCluseau commented on #28889
Well... for now the registry doesn't get OOM killed, I suppose I need to have the same backend (swift) to reproduce. FWIW, here's the current draft:
[code]

[2017-02-13 20:35] ghollies commented on #30984
has similar symptoms to https://github.com/docker/docker/issues/30107

[2017-02-13 20:42] bgrissin opened #30986 "Docker not releasing IP for stopped/exited containers in overlay network"
using a default overlay driver configuration, when stopping containers that are running on a specific overlay, when the container stops, the IP is not released back to the available pool.  This is causing issues when we begin to reach the number of available IPs for this CIDR (256) prevents us from deploying new services

![image](https://cloud.githubusercontent.com/assets/7570861/22902423/f446c82

[2017-02-13 20:56] mlaventure commented on #30984
The panic in the recovery scenario is fixed in `1.13.1`

For the other issue, it looks like a `containerd` died/was killed while it was in the process of creating an exec/container information to disk, this lead it to error out on restart.

`1.13.1` doesn't fix with the needed fix unfortunately (https://github.com/docker/containerd/commit/c1b96cb03b8d0a468f50b402bfd395e5e0be39d2)

Until then, the

[2017-02-13 20:59] jhowardmsft commented on #30278
@georgyturevich Similar, but very different in where they are likely to be coming from and the root cause. Can you open a new issue for this one?

[2017-02-13 21:01] jhowardmsft commented on #30278
@darrenstahlmsft It looks like the first error in this issue (and the linked issue) relate to the recently introduced rename-on-delete code. Are there any gaps remaining in that code which could cause this error?

[2017-02-13 21:02] jhowardmsft commented on #30278
Actually - @georgyturevich Hang fire on a new issue. I have managed to repro this with the simple script (actually needed two of them - one with no sleep, one with a 5-sec sleep) then I can hit it reasonably quickly.

[2017-02-13 21:09] rluncasu opened #30987 "all docker commands hang on Amazon Linux"
Hi,

The docker service is running but every docker command I issue hangs (including docker info).
Not much to tell you about how to reproduce it, it worked fine until it stopped working(it was during peak usage, for about 30 mins jenkins, running on that machine kept the cpu at 100%).

I've restarted the docker service, I've uninstalled and reinstalled using yum but to no avail.

cat /etc/os-rele

[2017-02-13 21:11] londoncalling opened #30988 "Error re: context deadline exceeded when deploying voting app to a swarm"
### Description

We've received feedback from users working through the [voting app example in the docs](https://docs.docker.com/engine/getstarted-voting-app/), on the following problem in [deploy step](https://docs.docker.com/engine/getstarted-voting-app/deploy-app/#/deploy-the-app):

There seems to be a bug regarding the deployment. If you enter all commands and eventually

`docker@manager:~$ do

[2017-02-13 21:13] mavenugo commented on #30820
Can you please answer this question too ? Essentially, create your backend services (with 200 networks and 50 services each) and on the proxy layer, attach to all the networks but use `--endpoint-mode=dns-rr`.

[2017-02-13 21:17] nebrass commented on #30988
Bug solved in
[code]

[2017-02-13 21:17] dongluochen commented on #30938
cc @aboch @mavenugo. Want to check if you have seen this issue.

[2017-02-13 21:18] jhowardmsft commented on #30278
Tracking with internal bug VSO #10944816

[2017-02-13 21:18] darrenstahlmsft commented on #30278
The rename before delete failing with access denied is intentional in this case, as something is currently accessing the layer even though the container is stopped. Docker thinks that everything should be finished with the layer, and a delete should not be denied. The rename on delete is to prevent the layer from being partially deleted in this case (so Docker is likely working as intended here).

[2017-02-13 21:24] ventz commented on #30963
Another issue that this causes (assuming you remove --hostname or make it different than --name to eliminate that bit), the traffic that leaves is using the 2nd IP. But the advertised/by-name is the first IP.

So in a simple example, let's say you have 2 nodes:
A (10.0.0.2, and 10.0.0.3)
B (10.0.0.4 and 10.0.0.5)

from B: "ping A" will tell you 10.0.0.2
from A: "ping B" will tell you 10.0.0.4

But

[2017-02-13 21:26] thaJeztah commented on #30987
We currently don't have packages for Amazon Linux, and the version of docker for Amazon Linux is built and shipped by Amazon. Have you tried opening a support ticket with Amazon?

I'm not sure we'd be able to look into this, as there's not a lot of information to go on, and this is not a distro that's currently supported. First thing to look for would be to check the logs for the docker daemon (`d

[2017-02-13 21:28] aaronlehmann commented on #30981
I think you may be seeing a new feature of swarm mode that temporarily avoids rescheduling containers on nodes that have recently experienced a string of failures in a row. The goal is to avoid continuously trying to reschedule a container on a faulty node. After a few failed attempts, a different node is preferred even if it's running more containers. You can read more about this change here: htt

[2017-02-13 21:30] thaJeztah commented on #30935
I was discussing with @cyli on Slack, and we're ok with this feature. If someone
wants to contribute, that'd be cool (I'll apply the "intermediate" label).

For the actual implementation, we'd still need some discussion, but here's from our conversation;

[2017-02-13 21:34] bgrissin commented on #30986
[ec2-user@ip-10-12-3-81 ~]$ docker info

Containers: 17
Running: 15
Paused: 0
Stopped: 2
Images: 134
Server Version: 1.12.6-cs7
Storage Driver: devicemapper
Pool Name: docker-202:2-897581196-pool
Pool Blocksize: 65.54 kB
Base Device Size: 10.74 GB
Backing Filesystem: xfs
Data file: /dev/loop0
Metadata file: /dev/loop1
Data Space Used: 37.21 GB
Data Space Total: 107.4 GB
Data Space Available: 70.16

[2017-02-13 21:35] georgyturevich opened #30989 "Daemon sometimes returns Access Denied error when we try to remove container"
Hello there,

Separating this bug from the [comment](https://github.com/docker/docker/issues/30278#issuecomment-279442515) as @jhowardmsft asked.

We have simple PS1 script which executes following commands every 5 minutes and save output if command return error code (not zero)

[code]

A couple of time per hour we see following error after the `docker rm`
[code]

In the Event-Log I see follwing d

[2017-02-13 21:39] georgyturevich commented on #30278
Hi @jhowardmsft

I have created separate [issue](https://github.com/docker/docker/issues/30989)

@darrenstahlmsft
First version of our script did not any sleep delay and sometimes we got errors for both `docker rm` and `docker rm -f`

[2017-02-13 21:52] andrewhsu commented on #30957
@m4nuC if you can install from the `https://test.docker.com` curl script (installs RC releases), then you can use the corresponding `https://get.docker.com` script to get the official GA release.

What is the result of hitting the azure.cn mirror for you? `$ curl -v https://mirror.azure.cn/docker-engine/apt/repo/dists/ubuntu-xenial/Release > /dev/null`

It should return a 200 response with a heade

[2017-02-13 22:03] rs38 commented on #30260
@msabansal the container behaves strange:
when I launch an interactive container (server core because of nslookup) it looks like this, no matter if I add the --DNS option of docker run:

[code]

it takes 1-2 retries until it works as expected???
Exactly the same happens when I use 8.8.8.8 as DNS.

it does not react if I try to lookup names via the DNS forwarder(?) at the virtual networks default g

[2017-02-13 22:19] ghollies commented on #30984
Thanks for the quick response! clearing out that directory restored most of the system to a healthy state. (there were still a ton of ExecIDs when inspecting the containers) and it went through a couple hundred `libcontainerd: new containerd process, pid: ` entries in the log before it settled down.

[2017-02-13 22:29] thaJeztah commented on #30951
Using `--force` allows you to update the image without having to update the tag; just checked, and it seems to require including the image yes;

[code]

Does "re-resolve" the digest

[2017-02-13 22:42] msabansal commented on #30260
@rs38 Does "ipconfig /all" show no DNS information in the container?

Can you please try the following workaround:
get-containernetwork | remove-containernetwork -force
Restart-Service docker

**(Please note that the first statement will clean up all the networks in the system)**.

[2017-02-13 22:48] rs38 commented on #30260
@msabansal ipconfig /all did not show any DNS neither.

after `get-containernetwork | remove-containernetwork -force`
docker service does not restart:

PS C:\Windows\system32> dockerd --log-level debug
time="2017-02-13T23:47:41.315181900+01:00" level=debug msg="Listener created for HTTP on npipe (//./pipe/docker_engine)"
time="2017-02-13T23:47:41.319185700+01:00" level=info msg="Windows default is

[2017-02-13 22:52] gianarb commented on #30988
Hello  @londoncalling can you confirm that you are not using the latest version suggested by @nebrass ? Thanks

[2017-02-13 23:05] msabansal commented on #30260
Can you please run this https://github.com/Microsoft/Virtualization-Documentation/tree/live/windows-server-container-tools/CleanupContainerHostNetworking

[2017-02-13 23:07] rs38 commented on #30260
I could not recreate the container network, but this way was working:

[code]

after that the deamon starts. But same DNS issue

[2017-02-13 23:09] msabansal commented on #30260
Can you please post output of "ipconfig /all" from the Container?

[2017-02-13 23:11] londoncalling commented on #30988
Hi @gianarb I've run through the sample building several times, most recently I believe on on Docker for Windows beta 41, Docker for Windows stable 1.13.1, and same versions on Docker for Mac. I could not replicate the problem.

[2017-02-13 23:11] dmp42 commented on #27354
@jkubrynski did you follow the instructions in https://github.com/docker/docker/issues/27354#issuecomment-257752452

If yes, is this working for you as described? If it's not, can you please:

 * copy the exact steps you have been doing
 * provide your docker daemon logs (in debug)

Thanks.

[2017-02-13 23:12] thiagoalves commented on #30984
Just to say that I just had this issue and removing the directory solved the problem. The message appeared at a rate of about once every 3 seconds.

I have also gotten the following messages. Not sure if they are related:

dockerd[55434]: time="2017-02-13T22:23:31.760606884Z" level=debug msg="containerd: error loading process open /var/run/docker/libcontainerd/containerd/564d9c1865ae632aae883bc33b

[2017-02-13 23:15] rs38 commented on #30260
your provied script did not heal but created a folder with logs. are they helpful in a way?
I could zip and upload.

[code]

much appreciate your help!!

[2017-02-13 23:19] duglin commented on #27354
[code]
plus
`docker build --build-arg myregistry.io .`
or
`docker build .`
should do it I think.

[2017-02-13 23:20] msabansal commented on #30260
Please run the script with the -Cleanup and -ForceDeleteAllSwitches options

[2017-02-13 23:20] msabansal commented on #30260
And yes please share the logs if problem persists. You will have to reboot the system

[2017-02-13 23:28] rs38 commented on #30260
yes, problem persists.
I updated my last post

[2017-02-13 23:35] msabansal commented on #30260
@rs38 I got the logs. Can you please run the script again with -CaptureTraces and share the logs with a repro.

[2017-02-13 23:55] rs38 commented on #30260
@msabansal here you are [logs](https://1drv.ms/u/s!AusSfX-lypiP1hB8JpZzK42uflZT)

the trace does not work obviously because:
'Microsoft-Windows-Hyper-V-VfpExt' is not a valid or known provider.

The script skips this error silently and do not record and save a trace

[2017-02-13 23:57] marburger93 opened #30990 "devicemapper: Can't set cookie dm_task_set_cookie failed"
**Description**

Docker will not start. I have a debian 8 server from ovh with the newest packets. I have many servers and on all other servers docker is running fine.

Linux SERVERNAME 3.14.32-xxxx-grs-ipv6-64 #1 SMP Tue Jun 30 18:50:21 CEST 2015 x86_64 GNU/Linux

**Steps to reproduce the issue:**
1. sudo apt-key adv --keyserver hkp://p80.pool.sks-keyservers.net:80 --recv-keys 58118E89F3A912897C0

[2017-02-14 00:01] msabansal commented on #30260
@rs38 I am really confused with everything. Did you run the script with cleanup option? I see that quite a few things got cleaned up?

Can you please reboot the system. And run the script with -CaptureTraces option. Also please update the script to remove the VfpExt provider. This is something that will be required with the overlay networking support we are releasing soon.

[2017-02-14 00:07] rs38 commented on #30260
I rebooted and rerun several times.
currently it seems there is no VMswitch, netnat and containernetwork defined or recreated.
Therefor nothing works at all.
It is quite late here. leave me an email if this issue thread gets too long or private.

[2017-02-14 00:08] thaJeztah commented on #29800
ping @benramki did @anusha-ragunathan's suggestion help? Are you still able to reproduce this issue on docker 1.13.1 (which was released)

[2017-02-14 00:15] mstanleyjones opened #30991 "default secret mode in docker stack deploy"
**Description**

The default mode for secrets is supposed to be `0444` and this seems to be honored if you start a service with a secret by hand, as in the following example:

[code]

However, if I try to create the same service using a stack file:

[code]

The secret is created with mode `000`:

[code]

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

cc/ @nathanlecl

[2017-02-14 00:18] nathanleclaire opened #30992 "Stack deploy with external secret sets Mode incorrectly"
Using: 1.13.1 experimental

credit to @mstanleyjones for discovery

Use this Compose file:

[code]

do this:

[code]

You can see in container logs, no one (even `root`) in resulting secret mount can read, write, or execute file. Oops.

[code]

`.Spec.TaskTemplate.Secrets.File.Mode` is set to `0` in `service inspect`. Looks like in "healthy" case it defaults to `292`. Not sure what the heck those

[2017-02-14 00:19] nathanleclaire commented on #30992
Oops, dupe of https://github.com/docker/docker/issues/30991

[2017-02-14 00:19] #30992 closed

[2017-02-14 00:20] chrishoage opened #30993 "ZFS failed to register layer dataset does not exist"
**Description**
Trying to pull some images (I'm still unsure why some work and other do not) result in the following error
[code]

Not all images have this problem

[code]

[code]

But others do

[code]

**Steps to reproduce the issue:**
1. Ensure you are using docker with the zfs driver
2. Pull an image (`cantino/huginn`)
3. Observe ZFS error

**Describe the results you received:**
A `dataset doe

[2017-02-14 00:21] nathanleclaire commented on #30991
It need to set `Mode` at least. Python Compose flunks validation for this Compose file

[2017-02-14 00:21] thiagoalves commented on #30984
Unfortunately the issue happened again, but at this time it got to a point where I had to remove the directory many times in a row. So I had to restart the daemon - the fatal message appeared again. After deleting the directory, it worked this time - but I am afraid this will happen again soon

[2017-02-14 00:25] mlaventure commented on #30984
Could we get the daemon log spanning the lifetime of that container? Never
heard of it happening without containerd being killed or crashing before.

On Mon, Feb 13, 2017, 4:22 PM Thiago Alves Silva <notifications@github.com>
wrote:

--

Sent from my phone.

[2017-02-14 00:32] febbraro opened #30994 "[1.13] docker version output is not consistent when there are downgrades or incompatibilities"
When using `docker version` with the `--format` option to get specific pieces of data, there are cases when the data is not really parseable. If format is provided the command should respect the data that is requested and not litter the output with other information.

Example:
I have a docker-machine with docker version 1.11.2 (api version 1.23) and a docker client version 1.13 (api version 1.26)

[2017-02-14 00:55] thiagoalves commented on #30984
@mlaventure You can find it [here](https://drive.google.com/file/d/0B40Br_ddPHjqNGtaNTFzaGpzeHM/view).

The log times are on the UTC0 timezone.

At 8pm, docker 1.3.1-cs1 was upgraded from 1.12.6-cs8
We had outages from 9pm to 10.55pm (at this time I removed the directory for the first time as recommended here).

The second issue happened at 11.58pm...

... and at the time I am writing this post th

[2017-02-14 01:06] pythianarceri opened #30995 "High CPU usage and possible memory leak on docker logs with SpringBoot applications."
**Description**
High CPU usage and possible memory leak on docker logs with SpringBoot applications.
We have a rancher environment with several containers running SpringBoot Applications, we have an ELK stack to which we send container logs using logspout with the logstash adapter.
For some unknown reason, if we allow logspout to collect logs from these containers dockerd cpu utilization and memor

[2017-02-14 01:13] #30311 closed

[2017-02-14 01:13] rlpowell commented on #27381
I'm now getting this regularly with one of my VMs, out of the blue.  Interestingly, one of them became deletable after 8+ hours of leaving it alone.  Here's my info:

[code]

[2017-02-14 01:16] ghollies commented on #30984
There were no references to `.../init/pid` in the logs I had. That seems to be a slightly different issue.

It looks like `containerd` gets killed off pretty fast when its unresponsive, I could imagine it got stuck in disk wait (running on cold-EBS volumes) and being terminated while trying to write out `process.json`
When playing around with sending `SIGSTOP` it would only take it a second to be

[2017-02-14 01:17] matheuscmpm commented on #30450
@cyli Thanks for you help. I was able to get rid of my problem. The problem was that my entrypoint was not being correctly executed. On mac/unix it was fine, but in Windows I was getting errors which I believed that was caused by volumes not being mounted correctly. I converted my entrypoint scripts using this command in my Dockerfile:

RUN sed -i -e 's/\r$//' /home/init.sh

Now "everything" is mo

[2017-02-14 01:20] Bpatewar commented on #24697
+1
I have tried these instruction https://docs.docker.com/engine/admin/systemd/#/http-proxy but it is of no use. I have also tried setting proxy inside docker file which also not working for. Can any body suggest a better alternative.

[2017-02-14 01:21] thiagoalves commented on #30984
@ghollies Have you upgraded your docker version recently?

[2017-02-14 01:22] AkihiroSuda commented on #30995
Can you please provide images to hit this issue?

[2017-02-14 01:23] thaJeztah commented on #30994
Agreed, the current implementation re-uses the "Version" type from the API (see https://github.com/docker/docker/blob/04f7a03359ac009ad2cd548fa93124a66e880ae5/cli/command/system/version.go#L78-L88). I think we should have a separate type that's used in the client, and have separate properties for "default" and "actual" API versions. [The template that's used for printing](https://github.com/docker

[2017-02-14 01:24] pythianarceri commented on #30995
Let me see what can i do as the images may contain confidential information. I need to run them by our customer.

[2017-02-14 01:26] thaJeztah commented on #30994
FWIW, you can manually override the API version to older versions of the API using the `DOCKER_API_VERSION` environment variable. This variable is intended for debugging purposes though, as the client will not take older versions into account (i.e., it may attempt to use features that were not yet available in older daemons), for example;

[code]

[2017-02-14 01:27] ghollies commented on #30984
Running 1.13 So relatively recently, but not in the past week. (ie: no 1.13.1)

[2017-02-14 01:27] esabol commented on #30801
Enabling IPv6 didn't help. In fact, it appears to have made the networking performance worse in my benchmarks. We also upgraded from Docker 1.13.0 to 1.13.1 at the same time (probably shouldn't have conflated the two changes, but oh well), but the net result was 20-30% worse. :(

This is what we did:
[code]
Then, added
[code]
to our daemon.json file. Most of that comes straight from the https://do

[2017-02-14 01:27] m4nuC commented on #30957
Azure endpoint output:

[code]

Docker endpoint
[code]

But I still can't install with `apt-get`.
Is there a way to install without using the packet manager ?

[2017-02-14 01:32] thaJeztah commented on #30957
You can download the `.deb` for your platform; http://apt.dockerproject.org/repo/pool/main/d/docker-engine/

And install with `dpkg` http://unix.stackexchange.com/questions/159094/how-to-install-a-deb-file-by-dpkg-i-or-by-apt

[2017-02-14 01:35] m4nuC commented on #30957
However the amd64 endpoint returns 403

[code]

[2017-02-14 01:42] m4nuC commented on #30957
Even on my laptop, on VPN, I can't reach https://apt.dockerproject.org/repo/dists/ubuntu-xenial/amd64

[2017-02-14 01:45] cpuguy83 commented on #30995
A stack dump would also be incredibly helpful.
You can get this by sending `SIGUSR1` to the dockerd process. Trace will be in the daemon logs.

[2017-02-14 01:46] stevvooe commented on #30449
@tonistiigi I don't see how this can cause any real problems.

This is the whole point: not everything is known at build time. This is not a build problem. Deployment is an emergent configuration of build time artifacts and environment. Mounting configuration from a data image is part of that environment. Ultimately, this is a runtime dependency, likely shipped from different teams. Making both te

[2017-02-14 01:47] mzhaom commented on #29290
Any update? I can attempt to fix if there is no fix coming soon.

[2017-02-14 01:53] thaJeztah commented on #29290
I don't think someone is working on this currently, so feel free to open a pull request 👍

[2017-02-14 02:09] stevvooe commented on #30449
Let's create this convention:

[code]

[2017-02-14 02:12] thaJeztah commented on #30991
/cc @dnephin @vdemeester

[2017-02-14 02:13] tonistiigi commented on #30449
@stevvooe So the mount wouldn't work if it isn't based on that image?

[2017-02-14 02:15] AkihiroSuda commented on #30449
I guess it would be useful for non-config data (e.g. large scientific data split from the program container).
So I wonder calling it `config` can be confusing.

How about `FROM scratch` (from anything should be ok) and some label like `LABEL com.docker.image.unrunnable`?

[2017-02-14 02:16] stevvooe commented on #19803
@ripcurld0 No clue. I cannot tell what the actual proposal is or the problem that is trying to be solved nor am I understanding why https://gist.github.com/ajohnstone/219a2e2699f1f1c3256c is insufficient. Perhaps, I am lost of the term "tag", since what I am seeing presented here isn't an image tag.

Is the goal to add contextual templating to the log message output?

It would be good to provide s

[2017-02-14 02:17] thaJeztah commented on #30957
the path is http://apt.dockerproject.org/repo/dists/ubuntu-xenial/main/binary-amd64/

[2017-02-14 02:18] stevvooe commented on #30449
I don't think we need that limitation. I was just thinking of a convention that we could use to differentiate.

I'm just not understanding why plucking something out of the rootfs out of an image is such a problem.

[2017-02-14 02:36] vincentwoo commented on #12515
For those on this issue, setting -1 does appear to work as of Docker 1.13.

[2017-02-14 02:37] thaJeztah commented on #24697
@Bpatewar have you tried setting the `HTTP_PROXY` variable during build using `--build-arg` ?

[2017-02-14 02:43] thaJeztah commented on #30995
@cpuguy83 I think they're written to separate files now (but the logs show where the files can be found)

[2017-02-14 02:52] thaJeztah commented on #23189
Thanks @krasi-georgiev

@liucw2012 let me go ahead and close this issue, but please let us know if you're still seeing this on the current release

[2017-02-14 02:52] #23189 closed

[2017-02-14 03:07] thaJeztah commented on #22598
Good to hear @schmunk42 !

@kojiromike is this still an issue for you?

[2017-02-14 03:08] thaJeztah commented on #29853
/cc @tonistiigi

[2017-02-14 03:08] jmzwcn commented on #30994
#dibs

[2017-02-14 03:09] thaJeztah commented on #30464
@tazle are you still seeing the issue with docker 1.13/1.13.1 ?

[2017-02-14 03:22] aboch commented on #30938
It looks like there is an issue with `portsAllocatedInHostPublishMode()` and `updatePortsInHostPublishMode()` logic which causes an infinite loop on the `EventUpdateService` event in https://github.com/docker/docker/blob/master/vendor/github.com/docker/swarmkit/manager/allocator/network.go#L374

[2017-02-14 04:13] m4nuC commented on #30957
Ok, http://apt.dockerproject.org/repo/dists/ubuntu-xenial/main/binary-amd64/ can be curled fine then.

[2017-02-14 04:26] thinkhard-j-park commented on #10589
Hi,

I have encountered same problem. I had run mongodb, kafka images upon ubuntu 16.04
Please see belows,

 docker stop broker02.1.1rf7j2a6njxycwjbc6hc069k2
Error response from daemon: Cannot stop container broker02.1.1rf7j2a6njxycwjbc6hc069k2: Cannot kill container e1da77e2e13b681312d8bd6bab019c607cc16b88a0696826b2593dc093d34047: rpc error: code = 14 desc = grpc: the connection is unavailable

d

[2017-02-14 04:34] thinkhard-j-park commented on #30927
Hi,

I have encountered same problem. I had run mongodb, kafka images upon ubuntu 16.04 in swarm mode.

Please see belows,
docker stop broker02.1.1rf7j2a6njxycwjbc6hc069k2
Error response from daemon: Cannot stop container broker02.1.1rf7j2a6njxycwjbc6hc069k2: Cannot kill container e1da77e2e13b681312d8bd6bab019c607cc16b88a0696826b2593dc093d34047: rpc error: code = 14 desc = grpc: the connection is

[2017-02-14 04:37] joranbeasley commented on #12084
a day late but how bout just

`ENV TZ="/usr/share/zoneinfo/America/Los_Angeles"`

that seemed to work great for me

[2017-02-14 04:53] sbwoodside commented on #30936
Thanks @ijc25.

@cpuguy83 Regarding `/etc/docker/daemon.json` it looks great but the [Configure and run Docker on various distributions](https://docs.docker.com/engine/admin/) page doesn't mention it.

[2017-02-14 05:09] kunalkushwaha commented on #22895
Its strange, but now container gets killed on restart of docker daemon.

-- Create container in background docker run -itd --name nyan supertest2014/nyan
- Check attach operations docker attach nyan
- detach from container Ctrl+p + Crtl+q
- kill docker daemon using kill -9 $DockerDaemonPID
- restart docker daemon systemctl start docker
- Try docker ps -  container is killed (``Exited (137) ``)

I

[2017-02-14 05:10] aaronlehmann commented on #30938
ping @yongtang

[2017-02-14 05:11] thaJeztah commented on #30988
@londoncalling if we're no longer are able to reproduce, should we close this?

[2017-02-14 05:13] thaJeztah commented on #30988
@gianarb adding some context; @londoncalling is a tech writer in our docs team.

@londoncalling; @gianarb is a Docker Captain, and recently became a curator for the docker/docker repo (helping out with triage, and managing issues, PRs) \o/

[2017-02-14 05:15] aarthipa opened #30996 "Docker checkpoint command not found"
Hi,
Im using Ubuntu 16.04, Docker 1.12 and CRIU 2.10.
I am able to perform checkpoint/restart with native criu. But I cannot do the same with docker.

root@ubuntu:~# docker checkpoint --help
docker: 'checkpoint' is not a docker command.
See 'docker --help'.

Please find the complete details below.

root@ubuntu:~# docker info
Containers: 1
 Running: 0
 Paused: 0
 Stopped: 1
Images: 1
Server Version

[2017-02-14 06:24] justlaputa commented on #22207
Hi, I'm trying to track all unused diff directory under `/var/lib/docker/aufs/diff` and `/var/lib/docker/aufs/mnt/` by analyzing layer files under `/var/lib/docker/image/aufs/imagedb`, here is the script I used:

https://gist.github.com/justlaputa/a50908d4c935f39c39811aa5fa9fba33

But I met problem when I stop and restart the docker daemon, seems I make some inconsistent status of docker:

/var/lo

[2017-02-14 06:27] optimum-web commented on #26017
@dongluochen @aaronlehmann Thanks for info.
docker -H 146.185.162.217:2376 info gives:
Get http://146.185.162.217:2376/v1.26/info: malformed HTTP response "\x15\x03\x01\x00\x02\x02".
* Are you trying to connect to a TLS-enabled daemon without TLS?
however I can connect port using telnet and also see ports listening 2376 with netstat on the node.
Thanks!

[2017-02-14 06:34] allencloud commented on #29987
Hi, @dperny
Could you share a little bit about the progress of handling this issue? 😄

[2017-02-14 06:40] thaJeztah commented on #30982
this is a duplicate of https://github.com/docker/docker/issues/24894 (also see https://github.com/docker/docker/pull/24897).

Using `--with-registry-auth` does not just _send_ the authentication information, but also updates the information in the services definition; since updating the definition is a separate action from only updating the number of replicas (which is what `scale` does), it was d

[2017-02-14 06:40] #30982 closed

[2017-02-14 06:43] krasi-georgiev commented on #22895
@kunalkushwaha this is by design , you need to set --restart=always

https://docs.docker.com/engine/reference/commandline/run/#/restart-policies---restart

[2017-02-14 06:45] thaJeztah commented on #26017
@optimum-web when connecting to a daemon that's protected with TLS, make sure the keys are present locally, otherwise you won't be able to connect; also see https://docs.docker.com/engine/security/https/

[2017-02-14 06:52] thaJeztah commented on #22895
thanks for your help with triaging issues, @krasi-georgiev! Really appreciated ❤️

[2017-02-14 07:08] Almenit commented on #30672
Size of the pagefile: 24576 MB
Yes my image is the latest.
So based on your questions, it sounds like this is not a common problem, right? But at my site we are a couple of people and all that have tested had the same problem.

[2017-02-14 07:26] catinthesky commented on #30996
From code level checking,  the "checkpoint" command comes after version v1.13.0.
Also, give command information like applying in which version might helps in this regard, say in page like:
https://docs.docker.com/engine/reference/commandline/checkpoint/.

[2017-02-14 07:31] pszczekutowicz commented on #30981
Thank you for your answer.

In current configuration we have all nodes in exactly same configuration (EC2 t2.medium) prepared with Ansible so I'm pretty sure that there is no differences between them. I did not mentioned that all services running on our development environment have only 1 replicas. So there is 20 different services.

Because nodes are not balanced equally services are killing node

[2017-02-14 07:34] ripcurld0 commented on #19803
I guess since there is not enough information and since this ticket is more than 1 year old, we should close it.
WDYT?

[2017-02-14 07:38] esginteg commented on #30913
Thank you!

    Le Lundi 13 février 2017 17h09, Brian Goff <notifications@github.com> a écrit :

 Closed #30913.—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2017-02-14 07:43] elutsky commented on #29768
Happens to me as well, when trying to run multiple containers for same image.

Reproduction steps:
1. Using microsoft/iis oficial image
2. Run first container "_docker run -d --name first microsoft/iis_" - **run successfully**
3. Run second container "_docker run -d --name second microsoft/iis_" - **failed**
4. Stop first container
5. Start second container - ## **started successfully!**
6. Try to

[2017-02-14 07:46] alfonsovng commented on #5618
I'm getting it running Docker 1.13.1 on a Debian with kernel 4.9.9-040909.

[2017-02-14 07:53] TristanCP commented on #30880
What would "default auth" be ? I'd say the "auth associated with the mirror you are trying to reach" :
[code]
in previous example

[2017-02-14 08:19] widgetpl commented on #17217
I had the same problem as @nicolaiskogheim and @mdotson, my influxdb container run out of memory and became unhealthy. I couldn't remove stop it or remove ( I managed to remove with force mode ).
After that I was trying to start once again docker with `docker-compose`:

[code]

than tried to delete network:

[code]

and than I tried @nicolaiskogheim solution:

[code]

[code]

[code]

[2017-02-14 08:31] ajohnstone commented on #19803
The behaviour at the time I wrote this was that the log-opt-tag was not consistent between all log drivers. And that it does not work with json-file.

So the request was:

Make consistent with log-file so that it is consistent with other logging drivers.

I'm unsure if it has been solved since I wrote the ticket.

The context being was to add metadata to the logs with contextual information.

the

[2017-02-14 08:31] bevislu commented on #21189
@fraccy Your solution solve my problem.

[2017-02-14 08:32] aarthipa commented on #30996
Thanks. I was able to upgrade to 1.13.

Also, I updated the following config file to enable experimental.
/etc/init/docker.conf
exec "$DOCKERD" $DOCKER_OPTS --raw-logs -H fd:// --experimental=true

However I got the following message.
root@ubuntu:~# docker checkpoint
only supported with experimental daemon

Am I missing something?

[2017-02-14 08:42] mercury commented on #15086
+1

[2017-02-14 08:46] thaJeztah commented on #30996
The `/etc/init/docker.conf` file is not used by the official binaries (and not used if your system is using systemd, which includes ubuntu 16.04)

The recommended way to set daemon options is to use a daemon.json configuration file, see https://docs.docker.com/engine/reference/commandline/dockerd/#/linux-configuration-file

To enable experimental options, create the configuration file /etc/docker/

[2017-02-14 08:55] kunalkushwaha commented on #22895
@krasi-georgiev  No, this scenario  is different then you mentioned.

From docker v1.12, docker containers run independently of docker-daemon & docker-daemon can be restarted without affecting container lifecycle.

ref:
- https://github.com/docker/docker/pull/23213
- https://docs.docker.com/engine/admin/live-restore/

Interestingly, now while verifying, I forgot to add ``--live-restore`` flag to d

[2017-02-14 08:55] #22895 closed

[2017-02-14 09:13] paltryeffort commented on #19803
Please don't close this issue. I'd like to use tags for json-file output. I can't use labels because vars like {{.Name}} are not parsed. I'd like to use the json-file driver like this documentation suggests:

https://docs.docker.com/engine/admin/logging/log_tags/

[2017-02-14 09:30] albers commented on #30867
Ah, I got it wrong: I updated both Ubuntu and Docker.

The point is that the Docker installers have different locations the for completion files depending on the Ubuntu version but regardless of Docker version:
[code]

So if you update your Ubuntu from 14.04 to 16.04, you will end up having two conflicting completions files. Resolve by deleting the old one:
[code]

[2017-02-14 09:32] albers commented on #30867
I'm closing this because it only affects Users upgrading the OS.
Docker could do something to avoid this situation (checking for existing scripts), but I think this is out of scope.

/cc @thaJeztah

[2017-02-14 09:32] #30867 closed

[2017-02-14 09:39] thaJeztah commented on #30867
Hm, interesting. Yes also don't know what the regular approach for this would be

@ijc25 @tianon any suggestions?

[2017-02-14 10:14] zoechi commented on #18920
Just run into this with
`Version:      1.11.2`
`3.16.0-4-amd64 #1 SMP Debian 3.16.39-1 (2016-12-30) x86_64 GNU/Linux`

[2017-02-14 10:19] albers commented on #30996
@thaJeztah a bit unrelated, but: If I try to configure `-H` in daemon.json, I get

because /lib/systemd/system/docker.service sets `-H`: `ExecStart=/usr/bin/dockerd -H fd://`

How do I set `-H` in daemon.json?

[2017-02-14 10:24] sebble opened #30998 "can"

[2017-02-14 10:24] #30998 closed

[2017-02-14 10:28] joernhees opened #30999 "running docker commands in exited container"
Let's say you want to debug an exited container without actually running its default `CMD`.

Currently, you can achieve this by `docker commit ...` and a subsequent `docker run --entrypoint ...`. While this is possible, it's not the easiest to understand, a lot to type and leaves new images around.

Why not simply allow `docker start --entrypoint ...` or even `docker run --stopped-container=...`?

[2017-02-14 10:47] the-nw1-group opened #31000 "Selinux issues with docker 1.13.1 and Centos 7.3.1611"
**Description**

After upgrading one of our test boxes to docker 1.13.1 and Centos 7.3.1611 I'm unable to run commands within containers with the docker selinux module enabled.
[code]
**Describe the results you received:**
[code]
**Describe the results you expected:**
[code]
**Additional information you deem important (e.g. issue happens only occasionally):**

This happens all the time, with --sel

[2017-02-14 10:51] fajs opened #31001 "Massive memory spikes when MEMCG is enabled"
While experimenting with massive consolidation of small docker containers, I ran into peculiar memory usage behavior. My setup is Docker 1.13.1, Linux kernel 4.9.9. I'm using a small container that runs a micropython script.

What I noticed is that the memory usage grew superlinearly, and showed massive spikes after spawning certain containers; see the purple line [in the attached graph](https://g

[2017-02-14 11:20] the-nw1-group commented on #31000
I've resolved this issue by replacing `/usr/bin/docker daemon` with `/usr/bin/dockerd` in our system drop-in file.

[2017-02-14 11:20] #31000 closed

[2017-02-14 11:30] fabiogoma commented on #30276
It worked, thank @runcom, now I'm planning to upgrade to docker 1.12 all my dev hosts.

[2017-02-14 11:33] jjaine commented on #30957
I had the same problem, because I was trying to install Docker on a 32bit machine and Docker requires 64bit. Just to point this out for anyone who is reading this in the future, if this isn't the case with original poster.

[2017-02-14 11:59] martinm82 commented on #18180
Can this issue really be solved with a Kernel upgrade? We are encountering the same problem with Docker 1.9.1 on Ubuntu 14.04 with Kernel 3.13.0-83-generic.

[code]

[2017-02-14 12:51] mauro-dellachiesa commented on #30826
Here you are @msabansal [issue 30826 - traces.zip](https://github.com/docker/docker/files/774092/issue.30826.-.traces.zip)
I started the trace before doing the request to the container's web server, but after I connected to Pulse VPN. Let me know if you need it in a different way.

[2017-02-14 12:54] eyal-lupu commented on #29293
Still encountering with 1.13.1. This is a real blocker for automated deploy as it constantly failing on that.

[2017-02-14 13:02] jmzwcn commented on #30994
Seems we could avoid un-expected info to just by adding
if err == nil {
		vd.Server = &serverVersion
	}
**else if(err include "client is newer than server"){**
fmt.Fprintf(os.Stderr,"client is newer than server: %v",err)
err=nil
}

@thaJeztah, any advice in detail?

[2017-02-14 13:38] pythianarceri commented on #30995
Attaching dockerd stack trace as requested, let me know what you find
[dockerd_stacktrace.txt](https://github.com/docker/docker/files/774190/dockerd_stacktrace.txt)

[2017-02-14 13:47] sandersaares commented on #29444
Thanks for the many details @msabansal! I came back to this topic to dig into it deeper. Creating custom rules for the NAT network seems like a sensible approach but I got hung up on what seems like a very basic subject: how do I identify the network used by containers?

For example, I create a container network with `New-ContainerNetwork nat -SubnetPrefix 172.18.0.0/24 -GatewayAddress 172.18.0.1

[2017-02-14 13:51] darth-veitcher commented on #5618
Yes upgrading kernel on Proxmox to latest 4.9.9 didn't resolve the error. Strange as it's just appeared after a year without issues.

There might be something in a previous statement further up in the thread about it being linked to either NFS or CIFS shares mounted.

Sent from my iPhone

[2017-02-14 13:51] mahmoudmahdi24 opened #31004 "docker login command not working in swarm mode"
Hello !
I am facing a problem with my docker registry in a swarm mode cluster.
I created a swarm cluster on my machine using this command :
[code]
Then i deployed my stack on it ( which is a private docker registry ) :
here's my docker-compose file (version 3) :
[code]

if i launch the command docker login, i don't get a response :
[code]

but when i try to ping my registry with a curl, it respond

[2017-02-14 14:01] Paxxi commented on #10613
How come overlay2 is not the default when setting up docker 1.12/1.13? (ubuntu 16.04 on digitalocean droplet with docker from official ppa)

We recently set up a swarm cluster and it's seen light usage in dev/test for about 2 months and today we hit this issue on one of 3 nodes, the others are at 95% and 78% inode usage.

[2017-02-14 14:02] justincormack commented on #31001
If you want a simpler codebase you can look at `runc` which Docker is using to configure the cgroups. But the setup is fairly simple, and you can inspect it easily from the cgroup filesystem.

Can you make an easily reproducible test case? It makes it much easier to see what you are actually doing.

[2017-02-14 14:04] fajs commented on #31001
Thanks, I'll have a look.

As test case would probably comprise a Dockerfile and a shell script that starts the test environment?

[2017-02-14 14:05] piontec opened #31005 "startup failure (infinite loop?) when upgrading 1.12.6-cs8 to 1.13.1-cs1"
**Description**

We were trying to perform an update from 1.12.6-cs8 to 1.13.1-cs1. We have live-restore enabled. During the update, when docker daemon was starting, the startup time was taking longer than normal, but still, dockerd was logging into `/var/log/syslog` (server debug enabled). Log messages seemed to be repeating about "container restored". After over 2h of attempted restart, I checke

[2017-02-14 14:12] thiagoalves commented on #30605
@jhowardmsft More examples of exec commands:

[code]

[2017-02-14 14:28] piontec opened #31007 "docker daemon startup stuck with live-restore enabled and some processes in 'uninterruptible sleep' state"
**Description**
After failed upgrade from 1.12.6-cs8 to 1.13.1-cs1 (issue here: https://github.com/docker/docker/issues/31005), we tried to rollback to 1.12.6-cs8 again. This failed - dockerd couldn't start.

The last message in logs was, after it it was stuck:
[code]
We have live-restore enabled and we started to suspect that docker daemon can't run "container restore" on some containers. We foun

[2017-02-14 14:41] cpuguy83 commented on #30995
@pythianarceri Is this from a dockerd that is using excessive mem/cpu?

[2017-02-14 15:03] pythianarceri commented on #30995
Yes, i enabled lospout and started the "offending" container, when i took the stack trace dockerd was using 70% CPU

[2017-02-14 15:05] frankh commented on #10490
An example use-case this would be great for: building and pushing an image which will never be used locally - building on ramdisk would greatly speed it up and there's no need for persistance

[2017-02-14 15:05] cpuguy83 commented on #30995
@pythianarceri Do you have some details on the offending container (is it a particular one?)?
Can you provide the inspect output?

[2017-02-14 15:06] pascalandy opened #31008 "ENJOYING_THIS_PROJECT="SayThankYou""
Here is the place to say thank you to folks who are working hard on this project.

« One of the greatest ways to show your appreciation to open source projects you enjoy is to open an issue that let people say thank you »

_Disclaimer: I don't have any kind of connexion or personal interest with maintainers(s) of this project. Pure gratitude here._

Cheers!

[2017-02-14 15:07] pascalandy commented on #31008
Thank you Docker!! Since 1.13 this is a rock solid product
_\m| 💯

[2017-02-14 15:12] justincormack commented on #31001
Yes, anything that I can run and replicate.

[2017-02-14 15:20] runcom commented on #30816
ping @cpuguy83

[2017-02-14 15:22] tswift242 opened #31009 "Experimental docs are out dated"
**Description**

The dockerd docs don't mention the new experimental flag and what features that enables (https://docs.docker.com/engine/reference/commandline/dockerd/), and the README in the repo (https://github.com/docker/docker/tree/master/experimental) is missing a lot of the new experimental features added in 1.13, e.g. see https://sreeninet.wordpress.com/2017/01/27/docker-1-13-experimental-f

[2017-02-14 15:27] fajs commented on #31001
OK, I'll bundle up a minimal use case. It will take me until the end of the week to get around to it, though.

[2017-02-14 15:30] ay8-dev commented on #30757
Same here (1.12.3)

[2017-02-14 15:30] joequery commented on #31008
I could not replicate the issue, as I have no heart. :P

[2017-02-14 15:40] yongtang commented on #30938
The current logic was expecting that a dynamic port (e.g, `32768`) is assigned to `s.Spec.Endpoint.Ports`. However, in case of `HOST` mode, the `s.Spec.Endpoint.Ports` will keep the published port as `0`.

Will take a closer look to see how the network behaves in `HOST` mode.

[2017-02-14 15:40] aboch commented on #30938
That's correct @yongtang. I pushed a fix for this.

[2017-02-14 15:52] thaJeztah commented on #31008
:blush: thank _you_ as well for contributing - reporting issues and feature requests is equally, if not more, important!

[2017-02-14 15:53] justincormack commented on #31009
cc @mstanleyjones @thaJeztah

[2017-02-14 15:58] RotemEmergi commented on #30937
Hi,

This is not work ..

} POST
[reactor.test.http] [request 0x2776200] HttpServer(port=0): handle request from 0x2776200: /VolumeDriver.Mount {
} POST
/opt/infinit/bin/infinit-volume: fatal error: user "sec" does not exist
[ infinit-daemon  ] [request 0x2776be0]   infinit-volume for "test-infi-rotem/test-volume" not running
[reactor.test.http] [request 0x2776be0] HttpServer(port=0): internal err

[2017-02-14 16:16] mavenugo commented on #30820
@sebgie as I understand this was an urgent thing that was blocking Ghost-Engineering and hence if you can respond quickly to the questions, we can do our best to help you out. Can you please try the above suggestion and let us know if that satisfies your immediate requirement as we will address the scale issue identified here.

[2017-02-14 16:17] seriousme commented on #25555
Small feedback item:

While toying around with the Authz plugin API I noticed that the calls from the Docker daemon  to the plugin don't include a  `Content-Type: application/json` header.

Worked around it in my [Node.js plugin](https://github.com/seriousme/docker-authz-node) by forcing the Authz server to treat the body as JSON.

Not a huge problem, but non-standard none the less ;-)

[2017-02-14 16:19] justincormack commented on #31001
So you aren't specifying memory limits at all?

[2017-02-14 16:26] thaJeztah commented on #31008
p.s. @joequery

Fixed that for you

![img_0577](https://cloud.githubusercontent.com/assets/1804568/22938016/49efe094-f28f-11e6-88f8-7cef61eba5d1.PNG)

[2017-02-14 16:38] nschoe commented on #31008
Indeed, that's a great idea @pascalandy .
Thanks docker devs, I always say good things about you in my articles :P

Keep up the work! (I wish I knew Go to be able to submit PRs!)

Thanks again.

[2017-02-14 16:39] ValentinRueda commented on #10589
Hey,

Having the same running following

`docker kill $(docker ps -qa)`

The docker version is

OS:

[2017-02-14 16:55] nschoe opened #31010 "[Feature Request] Split `--volume / -v` into two separate options"
Hi,
this is not an issue, merely a feature request.
I begin to have quite some experience with docker, and I hang continually on the #docker IRC chan. I thus have a pretty good idea of the things the newcomers (or not :/) have the most issues with.

There is really a big misunderstanding of Docker Volumes. More specifically, people tend not to see the difference between creating a Docker Named Vol

[2017-02-14 16:57] cpuguy83 commented on #30995
In the provided trace I only see a bunch of blocked goroutines (blocked on io, syscall, select, or chan receive). Nothing obviously taking CPU that I can find.

[2017-02-14 17:08] fitz123 commented on #19261
docker 1.13.1 - problem is still here. Lost endpoint. Node "things" there'is a container, but it was removed a time ago. So I cannot utilize entrypoint, I cannot re-create the service. It's pretty big one. I have to ether restart the daemon or use new port and network for a service =\

[2017-02-14 17:36] sebgie commented on #30820
With `dnsrr` it still takes > 20 minutes to scale the proxy to 5 running services.

- `# docker service create --name proxy --constraint 'node.role == worker' --endpoint-mode dnsrr --network proxy-1 ... more networks ... --network proxy-200 nginx`
- `# docker service scale proxy=5`

Another observation: When I try to `docker service rm proxy` and start it again I get an `Address already in use` er

[2017-02-14 17:50] thaJeztah commented on #31010
Yup, this has been a pain point for a while (also "auto-creation" of the host directories when using a bind-mounted directory https://github.com/docker/docker/pull/21666), and https://github.com/docker/docker/issues/28527, and we've been struggling to find the "right" solution. The `-v` / `--volume` flag is one of the most used options, so making any change in that flag should not go without weigh

[2017-02-14 17:53] fajs commented on #31001
Not knowingly, no. If any limits are set, they would have to come from defaults. And since I'm running these tests as root, I don't think there should be any default limits.

[2017-02-14 17:55] johnstep commented on #30672
I am unable to reproduce the problem. How is overall system memory usage?

[code]

[2017-02-14 18:19] wrsuarez commented on #30298
This bit us as well too. We also followed the Docker documentation and had double quotes around the path in the graph setting for systemd. Just basically killed Docker across all of our clusters following the update. We just pulled the double quotes from the docker systemd file and restarted docker and its working fine but definitely not a happy day for our end users

[2017-02-14 18:26] persapiens commented on #15360
+1

[2017-02-14 18:41] mavenugo commented on #30820
@sebgie could you capture the traceback (as you did earlier using SIGUSR1) when it takes 20 mins ? That will give us a hint on where the daemon is spending its time while scheduling the proxy service to 5 tasks.  (you may have to identify the node where it takes time and get the traceback from that node).

[2017-02-14 18:45] thaJeztah commented on #18920
@zoechi `-d projects` will be looking for a driver named `projects`, if no such driver exists, it will fail.

[2017-02-14 18:46] fajs commented on #31001
I found some time this evening to prepare a minimal case. Here's a tarball (instructions inside). Hope this works on your side.

[minimalcase.tar.gz](https://github.com/docker/docker/files/775014/minimalcase.tar.gz)

[2017-02-14 18:47] thaJeztah commented on #18180
@martinm82 yes, this issue was a kernel issue. It's possible something else can result in a similar behavior, or if there's a regression in the kernel. However, please open a new issue if you're having issues on the current release; keep in mind that docker 1.9.1 is EOL, so won't be receiving updates anymore.

[2017-02-14 18:49] thaJeztah commented on #18180
I am locking the discussion on this issue, because the original issue here was resolved, and I want to prevent this issue from collecting possibly unrelated issues. See this comment; https://github.com/docker/docker/issues/18180#issuecomment-193708192 for the kernel versions needed to fix this issue

[2017-02-14 19:08] tonistiigi commented on #29853
I do agree with @stevvooe that we shouldn't have a special syntax/instruction for every minor use-case. `--chown` is a compromise because there is no other way to control this because docker overwrites the owner automatically. Everything else just seems like adding a bunch of file conversion features.

For the squashing, I think the user shouldn't care what command creates a layer and what doesn't

[2017-02-14 19:16] mtneug opened #31014 "Swarm stops scheduling replicas after node constraint is met again"
**Description**

I'm using a single-node Swarm cluster. Docker Swarm can detect once a node label constraint of a service is no longer fulfilled and stops the replicas on this node. Being a one node cluster, the service remains without running replicas. However, after the the node is updated so that the label constraint is met again, Swarm does not start new containers.

**Steps to reproduce the i

[2017-02-14 19:16] Bpatewar commented on #24697
I colud solve it by setting http_proxy by using ip address of proxy server and not the url.  My friend told reason for this is most of the images are by default set to use googles DNS server to resolve the url address. and thats why using url address for http_proxy fails.

[2017-02-14 19:23] dperny commented on #29987
Sorry, @allencloud, it slipped my mind. I'll let you know in a couple of hours where this falls in my triage.

[2017-02-14 19:27] pythianarceri commented on #30995
I think the customer has made some modifications to the container, which apparently is not generating any logs now, i'll keep you updated.

[2017-02-14 19:30] zoechi commented on #18920
@thaJeztah thanks a lot. Found it already, forgot to remove the comment.

[2017-02-14 19:31] vikstrous opened #31015 "network aliases don't work for containers with auto-generated names"
**Description**

Network aliases don't work on attachable overlay networks unless you specify a container name manually as well.

Set up the network:
[code]

Success case:
[code]

Fail case:
[code]

See also previous issue about network aliases not working #27370

**Steps to reproduce the issue:**
see above

**Describe the results you received:**
see above

**Describe the results you expected:**
s

[2017-02-14 19:35] jaredm4 commented on #30982
@thaJeztah That makes sense -- the `--with-registry-auth` on service create/update adds that as part of the definition and thus `docker service scale` does not need it. However that part of my original bug ticket was minor. The bug primarily revolves around this issue:

1. `docker service scale` does not re-use credential helpers in the event that the auth token has expired (it just states "No suc

[2017-02-14 19:38] msabansal commented on #29444
You can create a firewall rule to allow traffic in the 172.18.0.0/24 subnet for the given port. This subnet is not routable from outside.

[2017-02-14 19:40] msabansal commented on #29444
In docker's terminology this is called as ICC (inter container communication). In linux this is allowed by default but in windows we opted to not allow it.

[2017-02-14 19:57] cpuguy83 commented on #31014
ping @aaronlehmann

[2017-02-14 20:14] febbraro commented on #30994
Thanks for the consideration, that would be great to have the data available.

Also, you are correct, if I ignore stderr, I don't see the errors related to client and server and things work much more smoothly.

[2017-02-14 20:16] londoncalling commented on #30988
@thaJeztah yes, I'm going to close both issues. If it pops up again we can re-open.

[2017-02-14 20:16] #30988 closed

[2017-02-14 20:30] adshmh commented on #30258
#dibs

[2017-02-14 20:45] JackyChen255 opened #31017 "Docker image shares same layer can't be saved by two clients simultaneously"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
**System and Docker version**
[root@JackDocker ~]# docker version
Client:
 Version:      1.13.1
 API version:  1.26
 Go version:   go1.7.5
 Git commit:   092cba3
 Built:        Wed Feb  8 06:38:28 2017
 OS/Arch:      linux/amd64

Server:
 Version:      1.13.1
 API version:

[2017-02-14 20:49] thaJeztah commented on #31017
ping @tonistiigi @aaronlehmann

[2017-02-14 21:31] atul1989 commented on #23620
while building docker image from Dockerfile following error is coming please suggest the required solution
i did not configure ssl

 docker build -t myregistry/centos7:test1 .
Sending build context to Docker daemon 713.2 MB
Step 1 : FROM 208.103.219.139:80/newcentos:new
Get https://208.103.219.139:80/v1/_ping: dial tcp 208.103.219.139:80: getsockopt: connection refused

[2017-02-14 21:35] thaJeztah commented on #30994
@jmzwcn I think there's no special handling needed for the error; if it's an error, it's an error, so we should print it. But, fill me in if I misunderstood your comment :blush:. If you have an implementation, feel free to open as a pull request; we can always discuss there! 👍

Thanks @febbraro, good to hear redirecting stderr works for that part; looks that @jmzwcn has volunteered to work on this

[2017-02-14 21:37] thaJeztah commented on #24697
That would make sense, yes, as containers have their own DNS configuration (I _think_ build-time containers would also respect the `--dns` flag that's set on the daemon)

[2017-02-14 21:42] thaJeztah commented on #19803
@paltryeffort can you describe how you're consuming the logs? Are you using `docker logs` or interacting directly with the json-log files that are written in `/var/lib/docker` ?

What's your expectation of this feature? Would you be able to describe a bit more in depth what your use-case looks like?

[2017-02-14 21:47] thaJeztah commented on #18920
Based on the comments above, this looks like a configuration issue (the driver is not installed, or not configured properly). Given that this is not a bug in the docker code base, I'm gonna lock the conversation here to prevent it from collecting random questions w.r.t. using volume drivers.

Since ClusterHQ unfortunately stopped to exist, I suggest going to the https://github.com/ScatterHQ/flocke

[2017-02-14 21:56] sebgie commented on #30820
Stacktrace during start of the first service: https://gist.github.com/sebgie/291788428e1ce154a37a8d9cfe5fcefb which also takes a long time.

`docker service scale proxy=5`

The 4 new services then spend > 2 minutes preparing:

[code]

The stacktrace on prd-pro-09 is https://gist.github.com/sebgie/bbd724967da794798ada451ed38afa8b.

[2017-02-14 22:44] IanEdington commented on #27723
For googlers check the Sha-Bang on your Entrypoint and CMD scripts.

#!/bin/bash

[2017-02-14 22:45] IanEdington commented on #29617
For googlers check the Sha-Bang on your Entrypoint and CMD scripts.

#!/bin/bash

[2017-02-14 23:00] youngpm commented on #19803
@thaJeztah One use case is around what is mentioned above at https://github.com/docker/docker/issues/19803#issuecomment-176456217; if you're running containers on some host and using the json-log driver, you can use [filebeat](https://www.elastic.co/products/beats/filebeat) to watch the logs in `/var/lib/docker` and forward them on to the rest of the elastic stack.

Tags would be quite nice to hav

[2017-02-14 23:03] alexellis commented on #29617
See also armhf/alpine and blog.alexellis.io for Pi + Docker tutorials.

[2017-02-14 23:04] alexellis commented on #29617
@IanEdington what's the connection to arm vs. x86 images?

[2017-02-14 23:05] vikstrous opened #31018 "docker gets confused when running a container with ip address ending in .0"
**Description**

[code]

**Steps to reproduce the issue:**
see above

**Describe the results you received:**
see above

**Describe the results you expected:**
better error handling / more meaningful error

**Additional information you deem important (e.g. issue happens only occasionally):**
100% reproducible, don't know what other docker versions it affects

**Output of `docker version`:**

[code]

[2017-02-14 23:15] thaJeztah commented on #10589
@ValentinRueda looks not related to this issue; you specify `-qa`, which includes stopped containers; so the error message is correct, because a stopped container cannot be killed

[2017-02-14 23:16] thaJeztah commented on #10589
I am locking the conversation on this issue, per https://github.com/docker/docker/issues/10589#issuecomment-246083333

[2017-02-14 23:27] jhowardmsft commented on #30278
Ninja debugging later - this is now understood. It's the same cause for both. There's a couple of possible fixes, but we're not sure if the platform support is present currently in RS1 to do the best fix. If not, we have an alternate. @georgyturevich I'll close https://github.com/docker/docker/issues/30989 as it is a dup of this afterall.

[2017-02-14 23:27] jhowardmsft commented on #30989
Closing - see https://github.com/docker/docker/issues/30278#issuecomment-279869816

[2017-02-14 23:27] #30989 closed

[2017-02-14 23:28] mfilotto commented on #26783
Same here with docker 1.12.6
Have you found a workaround ?

[2017-02-14 23:30] aboch commented on #31018
Yes, this is the current behavior when the resource allocation for that container's attachment fails in swarm.
I am not sure this can be done better. Hopefully yes.

As a side note, the .0 IP is not invalid. It is the network address for that subnet. And the default IPAM driver reserves it along with the broadcast address at the time the IP pool is requested.

[2017-02-14 23:37] thaJeztah commented on #26783
@mfilotto this should be fixed by https://github.com/docker/docker/pull/29246, which is part of docker 1.13.1. The errors are safe to ignore though.

As a workaround, you can use `docker inspect --type=container foo` if you want to inspect a container, etc. Docker 1.13 adds inspect "per object type", e.g. `docker image inspect foo`, `docker container inspect foo`, etc

I'll close this issue, becau

[2017-02-14 23:37] #26783 closed

[2017-02-14 23:38] groyee opened #31019 "Can't create more than 255 containers on an overlay network"
I am running docker version v1.13.0 with swarm (stand alone), the old swarm.

We have an overlay network and it seems that we can't create more than 255 containers. We get the following error:

**Cannot start service logsparser: Error response from daemon: no available IPv4 addresses on this network's address pools**

Is it a bug? Is there a way to increase this limitation?

I attached 2 files wit

[2017-02-14 23:44] aboch commented on #31019
Your network's configured subnet is

[code]

Which means you are reserving (0..255) or [1..254] addresses. You should only be able to attach 254 containers.

specify a bigger subnet when you create the network: `--subnet`

[2017-02-14 23:47] groyee commented on #31019
Thanks.

Is there a way to modify it or I need to remove it completely and create a new one? What would be the the right way to configure the subnet to support ~1000 container?

[2017-02-14 23:49] IanEdington commented on #29617
@alexellis This issue ranks high in google for the `standard_init_linux.go:175: exec user process caused "exec format error"` error. Forgetting the Sha-Bang is a common error. I just mentioned it here for people getting to this page by google searching for that error, no other reason. Sorry for the noise.

[2017-02-14 23:50] thaJeztah commented on #31019
/cc @mstanleyjones I've seen other users not being aware of this default; think we should explicitly call it out it in the documentation?

[2017-02-14 23:51] aboch commented on #31019
You need to create a new one.
Exactly 1000 containers? Hmm, try `10.0.0.0/22`, it should give you 1022 usable addresses.

[2017-02-14 23:52] elegantinfrastructure opened #31020 "No license for bsphere/le_go library"
**Description**

There appears to be no license for the logentries log driver vendored as github.com/bsphere/le_go.  I filed a [github issue upstream](https://github.com/bsphere/le_go/issues/14) but have not received a reply yet.

Technically this means you can't distribute this code with Docker, but if upstream responds I'm sure they will assign it a BSD or Apache license and everything will be O

[2017-02-14 23:56] groyee commented on #31019
I think documentation would be great.

I went over this documentation:

https://docs.docker.com/engine/userguide/networking/get-started-overlay/

And I wasn't aware completely.

Now I am stacked in production not sure what to do. I can't remove the network without removing the containers, right?

I have several containers configured with static ip in docker-compose.yml:

[code]

How can I increase

[2017-02-14 23:58] aboch commented on #31019
Oh yeah, thanks @thaJeztah , when I read `10.0.7.0/24` I assumed the subnet was manually chosen.
This just mean the user had created 6 other overlay networks before this one.

@mstanleyjones We should add somewhere the default address pool docker chooses when user does not specify one with `--subnet`.

For local scope networks (like bridge) they are `{172.168.[17-31].0/24}` while for global scope

[2017-02-15 00:12] msabansal commented on #30260
@rs38 Thank you for taking time and providing us with the logs. Greatly appreciate that. We can take this offline if you can provide an email address.

It is quite odd that this is happening but we will get to the bottom of this :)

[2017-02-15 00:12] mstanleyjones commented on #31009
Upstream PR in `docker/docker` at https://github.com/docker/docker/pull/31021

[2017-02-15 00:15] msabansal commented on #30826
@mauro-dellachiesa I looked at the traces and its very hard to figure out the reason why inbound traffic is not working Can we please start by debugging why outbound traffic from the container is not working first?
Can you please collect the followign traces after VPN connect

With this i can look at the logs to figure out where the packet is being dropped on outbount path.

Thanks,
Sandeep

[2017-02-15 00:19] b-a-t commented on #25393
Getting the same with 1.13.1. We are creating docker networks via `systemd` and, apparently, it tries to do it in parallel, so at least one of the netwoks fails to create;
[code]

[2017-02-15 00:25] globalcitizen commented on #19034
It definitely is not fixed. I just ran in to this... absolute paths .. why?
[code]

Look, __the whole point of docker is portability__. If you insist on an absolute path, you destroy that portability. Right now in our operations process we are working around this with documentation and the use of a `/srv/<prefix>` path however there appears to be no technical reason to enforce this syntax and it r

[2017-02-15 00:28] anusha-ragunathan commented on #30761
Added debug docs. Reopen if there's more that you are looking for.

[2017-02-15 00:28] #30761 closed

[2017-02-15 00:28] jmzwcn commented on #30994
Have create a [PR](https://github.com/docker/docker/pull/31022), please let me know if there is any problem.

[2017-02-15 00:38] aboch commented on #25393
@b-a-t  Thanks for confirming this  is a still reproducible in 1.13.x.
I have been trying to create/rm networks in parallel but was not able to repro yet.

I am working to a fix for this. If you could post your config file, it would help me validate the fix. Thanks.

[2017-02-15 00:53] thaJeztah commented on #19034
Thanks for your feedback @globalcitizen. The `-v` / `--volume` micro format was designed a long time ago, and there's more issues with that format (for example, it's problematic with Windows paths, something that was not taken into account when designing the format, also see https://github.com/docker/docker/issues/28527). Some things cannot be changed easily, and the `-v` / `--volume` option is on

[2017-02-15 00:54] groyee commented on #31019
Now I see that it is not about 255.

I ran this command:

`docker network inspect dockeruser_my-net-prod  | grep IPv4Address | wc -l
`

And the result is:

123

And I still can't create any container with the same error.

I did:

`sudo service docker restart
`

on the swarm machine and still nothing helps

[2017-02-15 00:59] rlpowell commented on #27381
And it's broken again.

[2017-02-15 01:01] rlpowell commented on #27381
Don't know if this is relevant, but /var/log/messages has:

Feb 14 16:58:49 vrici kernel: dev_remove: 40 callbacks suppressed
Feb 14 16:58:54 vrici kernel: dev_remove: 40 callbacks suppressed
Feb 14 16:58:59 vrici kernel: dev_remove: 40 callbacks suppressed

The error right now is:

Error response from daemon: Driver devicemapper failed to remove root filesystem b265eec88a6d1220eab75391bcf4f85bcd6

[2017-02-15 01:14] msabansal commented on #28014
@volak This is not a windows/container networking issue. The problem is in how the url are getting mapped by IIS. running the chat container by using -p 80:80 fixes the problem.
When exposing a random port using -P it is not working because the heartbeat URL being return by service stack is incorrect. Service stack returns a url with port 80 mapped. Something like "heartbeatUrl":"http://10.1.1.3/e

[2017-02-15 01:19] globalcitizen commented on #19034
@thaJeztah Fundamentally this is really a design issue, not a documentation issue. Avoiding change because it is difficult does not solve anything. There are various tools available such as staged deprecation and frequent/verbose warnings. Docker has money and this is a core issue with the software suite. In my opinion, Docker should spend money fixing the problem instead of pretending ignoring it

[2017-02-15 01:20] FrenchBen opened #31024 "Missing CLI reference Markdown files in docs/reference/commandline/"
**Description**

While compile the latest YAML files for docs, the following CLI reference files were found to be missing:

* [ ] docs/reference/commandline/checkpoint/create.md
* [ ] docs/reference/commandline/checkpoint/ls.md
* [ ] docs/reference/commandline/checkpoint/rm.md
* [ ] docs/reference/commandline/checkpoint.md
* [ ] docs/reference/commandline/container/attach.md
* [ ] docs/reference/c

[2017-02-15 01:25] b-a-t commented on #25393
As I said, we are using in-house written `systemd` unit files to roll out machine configuration. For networks we use a simple template unit file `docker-network@.service`:
[code]
and then create multiple instances by just putting into `/etc/systemd/system/docker-network@NETWORK.service.d/` simple unit file `unit.conf`:
[code]
Place instead of `NETWORK` appropriate name for the docker network, like

[2017-02-15 01:26] volak commented on #28014
@msabansal Wow thanks for looking into it so deeply

Servicestack has a .Net Core version of this app which works in linux docker which made me think there's an underlying windows issue here but what you say makes sense.  I'll dive deeper into this and see what can be done to fix - seems like it might be hard due to the docker mapping.. I dont know how SS would even know to return the right heartb

[2017-02-15 01:28] volak commented on #28014
ping @mythz

[2017-02-15 01:38] zaufi opened #31025 "[Feature Request] Not enough options for `docker build`"
I'm trying to build a docker image (Gentoo) using `docker build`, and found that there is no way to pass additional options which is possible to pass to `create` or `run`... Particularly it is vital to add `--cap-add=` (otherwise [glibc won't build in Gentoo](https://forums.gentoo.org/viewtopic-t-1035728-start-0.html)).

[2017-02-15 01:40] cpuguy83 commented on #31025
Closing since this is a dup of #1916 (and sorry yes, the issue is very old!)

[2017-02-15 01:40] #31025 closed

[2017-02-15 01:57] cpuguy83 commented on #19034
@globalcitizen It looks like there is a bit of disconnect between what you are trying to do and that error message.
The error message comes because you tried to use a named volume with a `/` in the name with the `local` volume driver, which is not currently supported. It's suggesting that maybe you wanted to create a bind mount and in such a case you should use the full path... honestly the error

[2017-02-15 02:01] premier424 opened #31026 "Hanging at "Setting up ca-certificates-java" while install eclipse in Docker 1.13.1"
I'm trying to install the eclipse in docker container on Ubuntu 14.04 using apt-get and meet infinite pause after occurrence of  "Setting up ca-certificates-java (20130815ubuntu1)..."

Similar issue is reported #18180 but it seems my issue is unable to be solved by update the kernel to 3.13.0-79.123 or later version since it is already the latest kernel version (4.2.0-27).

**`docker version`:**

[2017-02-15 02:02] b-a-t commented on #25393
By adding yet another, dummy network I managed to start all networks without problems. Seems, it's all depends on timing and some other subtle factors.
[code]

[2017-02-15 02:04] globalcitizen commented on #19034
@cpuguy83 Frankly the main problem is 5 ways to do something fundamental each documented poorly in different places. Bad error messages, evolving APIs, edge-cases and hand-waving about undocumented cross platform concerns are simply symptomatic.

[2017-02-15 02:05] yuexiao-wang opened #31027 "[swarm] get errors about lost leader from daemon"
**Description**
There are 3 manager nodes which are all reachable in my swarm.  I used ansible  to run some docker service create. In a node，Some service are created successfully, but one service ( random global service ) is created  failed.

**Steps to reproduce the issue:**
1.  swam init
2.  swam join (total 3 manager nodes )
3.  use ansible  to run some docker service create.

**Describe the re

[2017-02-15 02:12] philipn commented on #14474
I am consistently seeing this issue when using `docker-compose` run on top of the `minikube` docker machine.  This is with docker version 1.13.0 and linux 4.7.2 (on the minikube VM).

Related issue: https://github.com/kubernetes/minikube/issues/1130

[2017-02-15 02:13] mythz commented on #28014
ServiceStack constructs the heartbeatUrl from the incoming Request Url. You can see this if you run the same [ServiceStack .NET Core Chat App locally](https://github.com/NetCoreApps/Chat) where the heartbeatUrl returned is `http://localhost:1337/event-heartbeat?id=xxx`.

This .NET Core Chat App is also hosted on [chat.netcore.io](http://chat.netcore.io/) which is running in a Docker VM on port 500

[2017-02-15 02:14] yuexiao-wang commented on #31027
@thaJeztah @allencloud

[2017-02-15 02:17] cpuguy83 commented on #14474
@philipn I'm not sure how minikube works, but recently saw someone get this error while trying to share image dirs between two docker daemons.

[2017-02-15 02:28] AkihiroSuda commented on #31026
Ubuntu seems no longer supporting kernel 4.2 for 14.04
https://wiki.ubuntu.com/Kernel/Support#A14.04.x_Ubuntu_Kernel_Support

Do you hit the issue with kernel 4.4?

[2017-02-15 02:28] philipn commented on #14474
@cpuguy83 That's a good lead, thanks for that. It looks like `minikube` uses a single docker daemon, though.  I'm confident that the `minikube` kubernetes services run on the minikube docker machine are causing the issue, because stopping them allows compose to run as usual.  I used `docker inspect` to make sure none of the running containers (the kubernetes services) are mounting `/var/lib/docker

[2017-02-15 02:29] fntlnz commented on #31027
@yuexiao-wang  have you tried with a newer version of the engine ? You could try with 1.13.1 but if you need to stay in 1.12.x you can try with 1.12.6 - tons of improvements have been made.
Also can you verify that the all needed ports are open between nodes ? (See: https://docs.docker.com/engine/swarm/swarm-tutorial/#/open-protocols-and-ports-between-the-hosts)

[2017-02-15 02:30] volak commented on #28014
Thanks @mythz great info!  So basically if you are using random ports through docker as part of some load balancing setup - I'll need to set something up to feed servicestack the port back?

[2017-02-15 02:32] lyricnz commented on #25393
Which configuration file?  I no longer work on the project that had the original problem, but may still have the file.

FWIW, I was using multiple parallel "docker-compose up" with ~5 services defined in each docker-compose.yml file, if that helps.

[2017-02-15 02:36] aaronlehmann commented on #30981
On the managers, do you see any log messages like this?

`underweighting node <node ID> for service <service ID> because it experienced 5 failures or rejections within 300 seconds`

That would confirm or disconfirm that the failure monitoring feature is involved.

Recreating the service would do it, or triggering a leader failover (by restarting the lead manager, for example). But there's no way t

[2017-02-15 02:37] tonistiigi commented on #27393
I'm ok with both allowing `-f` outside of context directory(but it shouldn't follow symlink to parent) and `-f -` if context doesn't also specify `-`. There's some trickery that needs to happen for content trust for this but shouldn't be a big issue. This should also work on API side when a remote context is specified. I see there was already some work for it(`NewBuilder` accepts dockerfile readcl

[2017-02-15 02:41] tonistiigi commented on #30101
@justincormack Discussed this with @thaJeztah last week. What do you think about `docker build -v /local/path:/path/in/context base-context` (probably mount syntax instead) that could be used to overwrite locations in context before pushing it up.

[2017-02-15 02:43] mythz commented on #28014
@volak The reverse proxy is what usually does the translation from external to internal url.

[2017-02-15 02:51] volak commented on #28014
yeahh I was just thinking about that - the whole problem is the content of the heartbeatUrl being sent back no way for SS or docker to do anything about this.
Closing issue thanks a lot for your time @msabansal and @mythz

[2017-02-15 02:51] #28014 closed

[2017-02-15 02:52] cpuguy83 commented on #14474
So what happens here is Docker calls `os.RemoveAll(rootfsPath)`.
This ends up traversing the path to try calling `Remove` on everything below which will wind up calling `readdirent`... There seems to be something that happens between calling `Remove`, getting an error about not empty, and calling `readdirent` on that dir that causes the `no such file or directory`.

@philipn Is this specifically h

[2017-02-15 03:00] erikh opened #31028 "pkg/tar.Archive should accept context.Context"
Right now it is very painful to process a SIGINT when this function runs in my own tools. I would like it very much if I could interrupt the process.

I don't think this'll be too complex but I could be wrong; either way if it's enough of a time/cost problem I can probably do the patch with a blessing in advance.

Thanks!

[2017-02-15 03:03] erikh commented on #31028
And FWIW I think this could be done without modifying the prototype by stuffing the (optional) context in archive.TarOptions. HTH!

[2017-02-15 03:41] volak commented on #28014
@mythz Out of curiosity is there a reason for onConnect to return the full server address for `heartbeatUrl` and not just return `"heartbeatUrl":"~/event-heartbeat?id=oJghGRY0EuaycPB9SH90"` or similar?  Seems that too would solve local docker issues like this

[2017-02-15 03:48] mythz commented on #28014
@volak A `~` prefix doesn't make sense in a URL, but you could change it to `/event-heartbeat?id=xxx` but this only works when your ServiceStack Instance is hosted from root, e.g. `chat.netcore.io` not `chat.netcore.io/api` or any other virtual directory.

[2017-02-15 04:44] mattlqx commented on #25407
A use-case for this feature would be for in Amazon EC2 since they have recently widely released IPv6 addressing. Unfortunately, they only allow you to assign individual IPv6 addresses (/128) to EC2 instances. You also cannot add routes for IPv6 subnets (for instance a /80 of the VPC's /56) to EC2 instances within the VPC's routing tables. These two limitations make IPv6 NAT the easiest solution fo

[2017-02-15 04:51] nilangshah commented on #27921
I have 20 core box on which I am trying to limit each container to 5 core. With --cpus =5.000, docker is setting CPU period=100ms(default) and CPU quota=500ms. How can quota be greater than period? Correct me if my understanding is wrong.

[2017-02-15 05:00] wangjingfei commented on #30957
I got the same problem, and also on Aliyun Ubuntu 16.04 amd64

[2017-02-15 05:07] MikaelCluseau commented on #28889
@mlaventure Got docker ps locked again or, more exactly, took a long time, many minutes, to return.

I think the relevant part of the stack dump is:
[code]

The the full dump is here: https://gist.github.com/MikaelCluseau/b2518769f693e667f9fc9575c835c54b

[2017-02-15 05:25] MikaelCluseau commented on #28889
Same on another host:
[code]
gist -> https://gist.github.com/MikaelCluseau/8b89528a75c189da9c2575e6172eb080

[2017-02-15 06:45] vincentwoo opened #31032 "Please support NanoCPUs option in container update API endpoint"
Right now container updating supports setting the `CpuPeriod` and `CpuQuota` options. Since `--cpus`, which sets `NanoCPUs` seems to be the new way to automatically set period and quota on container creation, I think they should be present in update as well!

*opening an issue for this as requested in https://github.com/docker/docker/pull/27958#issuecomment-279928336`*

[2017-02-15 06:51] KuruvaSomaSekhar commented on #15725
First we need to commit existing container with all updated data using **docker commit -p  containerName newImageName** . Then **docker service update --image <new image> <some service>**

[2017-02-15 07:06] jimmycmh opened #31033 "How to define the status of a swarm mode service?"
Swarm mode continuously recreates new containers when a task fails to run.

But in some cases, it's necessarily to decide whether the service is ready or failed , for example when a service depends on another.

Ready: running containers == replicas is fine, but how about global service?
Failed: hard to tell. The latest containers may not in failed or rejected state.  If by examing previous contain

[2017-02-15 07:14] dongluochen commented on #30321
cc @mavenugo @aboch. This requires changes on libnetwork.

[2017-02-15 07:28] byrnedo commented on #30313
Anyone know when this issue might be fixed? By 1.13.2 (if there is one) or by 1.14?

[2017-02-15 07:38] liyaka commented on #29087
I have the same issue with docker 1.13.0 on production server!
Is there a solution for it? What is the cause of this problem?
In my case, swarm join commands seemed to work, but when trying to create a service, we always get
`Error response from daemon: rpc error: code = 4 desc = context deadline exceeded`
Restart or reinstall doesn't solve anything

[2017-02-15 07:39] CyrilPeponnet commented on #30895
@cpuguy83 I traced the issue back to https://github.com/opencontainers/runc/blob/master/libcontainer/label/label_selinux.go#L144

Where Path is empty at some point.

Not sure if it's called from https://github.com/docker/docker/blob/5381f9f726e50a392d6623973d232b63290789f9/daemon/volumes.go#L196 or not.

I'm confused to tell if this issue is runc side, docker side, or coreos side. For sure a path

[2017-02-15 07:42] Almenit commented on #30672
[code]

[2017-02-15 07:43] thaJeztah commented on #31033
You can specify [healthchecks](https://docs.docker.com/engine/reference/commandline/service_create/), which are considered when checking the status of individual tasks.

However, when designing your services, make sure to design them such, that they are resilient against failures. Services that a service depends on can become unavailable _at any time_, not just when first started. For example, if

[2017-02-15 07:43] #31033 closed

[2017-02-15 07:48] Kukunin commented on #30135
still have it on `1.13.1`

[code]

[2017-02-15 07:54] redbaron commented on #5618
@iamthebot , is it reproducible on a qemu-kvm setup?

[2017-02-15 08:17] jimmycmh commented on #31033
Imagine i'm writing some code to deploy two services: db and web, and web should be deployed after db is ready.
But with the current apis, it's hard to determine whether db service is ready or not.
For example, if i specified a wrong image tag when creating db service, what i can get from docker apis is a series of tasks: there is a task in Preparing state and a bunch of tasks in Shutdown state.
I

[2017-02-15 08:26] thaJeztah commented on #31033
Correct, the order in which the services are deployed cannot be guaranteed; so your web application should take that into account; not just when deploying but for its entire lifecycle. See the example i linked from the official WordPress image; that image checks if it's able to connect to the database, and keeps retrying until it's able to connect.

[2017-02-15 08:29] yuexiao-wang commented on #31027
1. Ports are open between nodes。In a node, one service are failed, but other services created successfully,

2. Why does node lost leader when network is available ? It takes 3s to elect a new leader between nodes.

[2017-02-15 08:31] thaJeztah commented on #30895
Make sure that the correct versions of runc and containerd are installed, see the output of docker info;

[code]

[2017-02-15 08:37] thaJeztah commented on #23620
@atul1989  Please keep in mind that the GitHub issue tracker is not intended as a general support forum, but for reporting bugs and feature requests. For other type of questions, consider using one of;

- https://forums.docker.com
- the [Docker community Slack channel](https://blog.docker.com/2016/11/introducing-docker-community-directory-docker-community-slack/)
- [StackOverflow](https://stackove

[2017-02-15 08:52] liyaka commented on #26259
It would be more than just useful to have `--max-replicas-per-node` or `--replicas-per-node` flags for services.
In my case I'm running HDFS cluster with swarm together with more microservices. I have a several nodes in swarm, and I want to run datanodes only on 2 of them, one on each. Initially it works, but sometimes, if datanode fails for some reason, swarm runs a new container instead, and som

[2017-02-15 09:11] allencloud commented on #31032
I found in docker 1.13.1, there is:
[code]

So, there are there flags which are not supported in `docker update` about CPU:
[code]

[2017-02-15 09:27] RomainVernoux commented on #9939
I encountered the issue in v1.13 in my CI environment. I eventually figured out that it occured when multiple Jenkins jobs were doing `docker system prune` simultaneously on a btrfs filesystem. Is there any doc or information regarding thread-safety of the docker daemon?

[2017-02-15 09:36] rs38 commented on #30260
great, my email:
outlook_8F98CAA57F7D12EB@outlook.com

[2017-02-15 09:43] masihasi commented on #22909
I used to manage this issue by simply restarting the docker daemon:

`ubuntu@myserver:~$ sudo docker exec -it 3c0874121e1e /bin/bash`
`rpc error: code = 2 desc = containerd: container not found`
`ubuntu@myserver:~$ sudo systemctl restart docker`
`ubuntu@myserver:~$ docker exec -it 3c0874121e1e /bin/bash`
`root@3c0874121e1e:/# `

[2017-02-15 09:48] flnielsen commented on #30260
If it can provide any light on the issue, i am having the exact same problem.

When pinging a hostname inside the container it will not be resolved, but adding dns suffix to the hostname does the magic.

[2017-02-15 10:26] erxian opened #31036 "can not find `--read-only` option for `service create` and `service update`"
**Description**

Hi,
     When I  check  `docker service update` command documents , I find the docs introduce an option named `--read-only`. However when I input command  `docker service update --help`, I can not find the `read-only` option.

Then I check  `service create` document and command,  the mismatches also exits towards `--read-only` option.

So, why `--read-only` option is unavailable i

[2017-02-15 10:36] vincentwoo commented on #31032
Sorry, I'm talking more about the runtime remote API than about CLI options (though those are important too). Here's the reference for update: https://docs.docker.com/engine/api/v1.26/#operation/ContainerUpdate. The docs there show NanoCPUs as an available option, but it does not appear to do anything when used on docker 1.13.

[2017-02-15 10:41] vincentwoo commented on #31032
Also, I have to remark (though this is an aside) it seems very strange that on create you pass options like

[code]

but on update you simply pass

[code]

seems weird that cpu resource controls were moved to HostConfig on create but not on update

[2017-02-15 10:50] rneugeba commented on #5618
@iamthebot I have tried to repro this several times with different kernels. Somewhere above it was mentioned that using `docker-stress -c 100` with `userland-proxy` set to false would trigger it, but I had no luck.

If you have a more reliable repro (even if it takes a long time to trigger) I can try and take a look

[2017-02-15 10:52] mlushpenko opened #31037 "Error response from daemon: oci runtime error: container_linux.go:247: starting container process caused "process_linux.go:245: running exec setns process for init caused \"exit status 29\"""
**Description**

Can't start containers, all of them end up with status created and error indicated in the header

**Steps to reproduce the issue:**
docker run -d --rm hello-world

**Describe the results you received:**
[code]

**Describe the results you expected:**
Id of started container, no errors

**Additional information you deem important (e.g. issue happens only occasionally):**
Don't know

[2017-02-15 11:03] aruljothi commented on #30926
I figured out the issue exist even in 1.13.0 and as of now only workaround that seems to be working both in 1.13.0 or 1.13.1 is i had to reboot all the nodes (managers and workers) and it works consistently first time, thereafter (if i remove the stack and redeploy) it works sometime and doesn't other times.

Isn't it a show stopper for the release considering that this is a production quality rel

[2017-02-15 11:06] CaoShuFeng opened #31038 "[overlay2] df says there is some space left, but get "No space letf on device" error"
**Description**

**Steps to reproduce the issue:**
1. set storage driver to overlay2
/usr/bin/dockerd --storage-driver=overlay2
2. make sure your host have enough free disk space, like 20G.
3. run [this script.](http://paste.openstack.org/show/598987/)

**Describe the results you received:**
1. In my scripts all these small files needs about 4G disk space.
I get "no space left" error even if I hav

[2017-02-15 11:08] jonathan-kosgei commented on #30926
I was actually able to solve it by opening esp on port 50. As I was using
the encrypted overlay. And by specifying a specific subnet, @sss let me
know that with the default network created by docker there may be an
overlap with your host network, leading to connectivity issues. I'm using
100.64 maybe you could try that?

On Feb 15, 2017 2:04 PM, "Aruljothi" <notifications@github.com> wrote:

[2017-02-15 11:11] AkihiroSuda commented on #31038
I guess this is just because no inode space is left (df -i )

[2017-02-15 11:16] aruljothi commented on #30926
Thanks @jonathan-kosgei, Would you help me with a sample compose file. I have not mastered all the options yet and it would be of great help.

[2017-02-15 11:17] CaoShuFeng commented on #31038
Yes there is no inode left.
But is this normal?

[2017-02-15 11:19] CaoShuFeng commented on #31038
I get no such error when I use btrfs storage driver.

[2017-02-15 11:32] AkihiroSuda commented on #31036
It is available in master (1.14)
https://github.com/docker/docker/pull/30162

[2017-02-15 11:33] russellwstanley opened #31039 "Dockerfile FROM does not work with credsStore auth"
**Description**

when building an image from a dockerfile, the FROM command does not respect the credsStore auth defined in ~/.docker/config

**Steps to reproduce the issue:**
1. upload a private image to docker hub (myrepo/privateimage:latest)
2. create a credsStore that serves out the credentials to access this image
3. remove all hard coded auth from ~/.docker/config.json and add the "credsStor

[2017-02-15 11:37] shouze commented on #29304
@vdemeester @dnephin I wonder why - even  if not perfect - [docker libcompose](https://github.com/docker/libcompose) is not used in docker instead of the copied fork of [compose-file](https://github.com/docker/docker/commit/f5af9b9738892b5988f987ce5fbce6e31a10e768).

libcompose looks by far more advanced and has wider support of compose files parsing no? At least maybe both libs should converge so

[2017-02-15 11:50] lukemarsden commented on #27307
@stevvooe do you have an idea of how to make something run on all docker networks? @justincormack and I might take a look at this today.

[2017-02-15 12:07] djmaze commented on #26259
@liyaka Have you seen [the suggested workaround](https://github.com/docker/docker/issues/26259#issuecomment-277716832)? For me this is an acceptable solution until there is a real one.

[2017-02-15 12:16] vdemeester commented on #29304
@shouze there is design and technical reasons for not having used `libcompose` (architecture, etc…). The compose integration in `docker/docker` only support composefile v3 (and swarm mode), and that's by design.

I'm gonna make sure both lib converge, but both have their values and "lifecycle" — i.e. `docker/docker` will never support composefile version lower than v3 for example, where `libcompos

[2017-02-15 12:17] isanych opened #31041 "Support --ip for host network"
Feature request inspired by https://blog.jessfraz.com/post/ips-for-all-the-things/

Currently I run services which should have stable ip address in the next way:

- modify /etc/network/interfaces adding ip alias for service (so service will work after host reboot)
- restart network service
- docker run -p <ip_alias>...

And migration of this service to other docker host look like this

- old_host:

[2017-02-15 12:20] shouze commented on #29304
ok fine I understand the point and the vision.

So maybe libcompose code  (even if incomplete/buggy) can be used to bring back the `extends` feature in compose file 3.x (would ❤️ to see it back in 3.2)?

[2017-02-15 12:38] Pdharti opened #31042 "I am trying to create a base image using "scratch" in redhat linux. This is the instruction that I am using : FROM scratch ADD mkdir dir/repos and it is throwing this error : exec: "/bin/sh": stat /bin/sh: no such file or directory"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2017-02-15 13:05] rluncasu commented on #30987
I stopped the docker service then ran the dockerd manually. This is what I'm seeing when it tries to start:
[code]

[2017-02-15 13:10] shouze commented on #17904
Ok guys, we maybe experience some UDP paquet losts using GELF log drivers.

After reading [the excellent article](https://blog.docker.com/2017/02/adventures-in-gelf/
) of @jpetazzo to sum up this UDP paquet losts issue can have to possible origins.

### 1. UDP buffer

Could you confirm guys that this kind of kernel tweak is enough?
[code]

And that I can check `/proc/net/snmp` if no errors reporte

[2017-02-15 13:12] toutougabi opened #31043 "grpc: the connection is unavailable and load balancer broken"
**Description**

Since last update (docker 1.13.0 to 1.13.1) i've had major inconsistencies.

- The load balancing is now broken, 50% of the resquest end with a no route to host, the other 50% work.

- We often get grpc: the connection is unavailable when trying to do a docker exec on some of the containers.

- Tab when looking for container names is completely broken with nonsense
Here i typed "d

[2017-02-15 13:14] liyaka commented on #26259
Using global with constraint worked fine for me

[2017-02-15 13:15] rluncasu commented on #30987
Got it working again by removing everything "docker" in /var/run then reinstalling docker using yum.
Thanks @thaJeztah for pointing me to ```dockerd```.

[2017-02-15 13:15] #30987 closed

[2017-02-15 13:23] cpuguy83 commented on #31042
Can you please reformat this?
The title should be a brief description and the body should contain what's going on, preferably with the issue template filled out.

This is completely illegible as is.

Closing for now but can re-open when you update.
Thanks!

[2017-02-15 13:23] #31042 closed

[2017-02-15 13:35] TristanCP commented on #30285
The backport of kernel 4.8 is now released with v16.04.2 LTS. I can't downgrade my 16.10, but I guess it solves this problem for Ubuntu LTS version.

[2017-02-15 13:38] cpuguy83 commented on #28889
@MikaelCluseau Yours seems to be stuck traversing a directory structure while applying an selinux label:

[code]

Sounds more like an issue on the system?

[2017-02-15 13:47] cpuguy83 commented on #30816
argh, I have no idea why we have `-a stdin` and `-i`... will need some time to look through this.
At the very least we should present a better error than conn reset.

[2017-02-15 13:51] cpuguy83 commented on #31020
Thanks for the report.
A license is now added in https://github.com/bsphere/le_go/commit/7a984a84b5492ae539b79b62fb4a10afc63c7bcf

[2017-02-15 13:51] #31020 closed

[2017-02-15 13:52] cpuguy83 commented on #22207
I opened #31012 to at least make sure we don't leak these dirs in any circumstances.
We of course also need to look at the various causes of the `busy` errors

[2017-02-15 13:54] Pdharti opened #31044 "exec: "/bin/sh": stat /bin/sh: no such file or directory"
Hi I am trying to create a base image using "scratch" in my redhat linux

Following is the instruction file that I am using:
FROM scratch
ADD mkdir dir/repos

cmd: >docker build -t repos

This is throwing this error:
Step 1 : FROM scratch
 --->
Step 2 : RUN mkdir /dir1
 ---> Running in f5a7c25254b8
exec: "/bin/sh": stat /bin/sh: no such file or directory
Container command not found or does not exi

[2017-02-15 13:55] clarity99 commented on #27984
@msabansal I've attached all the traces and logs in the previous comments above.

[2017-02-15 13:58] drsect0r commented on #5618
We encounter the same difficulty in our production and staging environments. We are going to upgrade to Docker 1.13 and Linux kernel 4.9 soon but as other already mentioned; these versions are also affected.

[code]

[2017-02-15 14:00] cpuguy83 commented on #31044
`Step 2 : RUN mkdir /dir1`

This looks different than what you specified above as `ADD mkdir dir/repos`. Are you sure it's the same dockerfile? Also seems a bit odd to try to `mkdir` from `ADD`, looks like a mistake.

In addition, the `scratch` image has no tooling at all in it, it's a completely empty filesystem. A tool like `mkdir` would not exist, and likewise using the shell syntax of `RUN mkd

[2017-02-15 14:08] ijc25 commented on #30867
I think `/etc/bash-completion.d/docker` is probably being preserved because it is a [conffile](https://www.debian.org/doc/manuals/maint-guide/dother.en.html#conffiles). This is a class of file handled special by dpkg, most conffile's are configuration files under `/etc`, but not every file under `/etc` is a conffile, since a package maintainer might opt to do something else via the packages mainta

[2017-02-15 14:12] dsheets commented on #27393
@tonistiigi I've pushed the `-f -` work I had previously done to <https://github.com/dsheets/docker/commits/build-dockerfile-stdin> which may be of some use to you (or perhaps the approach is not so good). I also had some changes to allow arbitrary files outside of context directory but they seem to have bitrotted due to the removal of `builder/context.go`.

[2017-02-15 14:12] leilers opened #31045 "docker run -v does not recognize absolute path (seems to add leading whitespace)"
**Description**

I am trying to run my docker container with a mounted volume. I used the [jbpm-workbench-showcase](https://hub.docker.com/r/jboss/jbpm-workbench-showcase/)-image and tried using the persistent git-repository as described on it's DockerHub-page. Therefore I used the

`docker run [...] -v /home/***/jbpm-workbench-docker/wb-git:/opt/jboss/wildfly/bin/.niogit [...]`

command to start

[2017-02-15 14:16] cpuguy83 commented on #31045
Can you give a simple example, with hopefully without a redacted user name that reproduces this issue?

[2017-02-15 14:16] sanimej commented on #30321
@dongluochen `Gossip is an eventual consistent system with no guarantee on convergence delay.` - Yes, there are no hard guarantees. But Gossip converges really fast, its logarithmic with a base more than 2 because each node sends the event to multiple peers.

For network events we use gossip because getting a consistency guarantee across the cluster for the chatty nature of network events just doe

[2017-02-15 14:19] rs38 commented on #30260
that sounds a bit different, as I have no DNS at all.
What do you get inside yur container by: `powershell Get-DnsClientServerAddress`

[2017-02-15 14:53] leilers commented on #31045
I failed to reproduce the error on a simpler case. It looks like there is another problem in my bash-script which produced the docker run command. Hard coding all the paths on the command-line actually works as expected.

Sorry to bother you.

[2017-02-15 14:53] #31045 closed

[2017-02-15 15:08] yongtang commented on #31032
#dibs  Will take a look at the update of `--cpus`.

[2017-02-15 15:11] cpuguy83 commented on #31045
Thanks, do let us know if you can reproduce later!

[2017-02-15 15:19] pawelprazak commented on #24445
Personally I would be more interested in a `MIXIN` feature where you could 'merge-in' additional layers, e.g:

- create a Cassandra datastore image
- create an image from `scratch` with only a backup script
- create an image from `scratch` with only a migration script
- combine the above by 'mixing-in' the additional scripts to the base image

That would make it easier to have separate lifecycles

[2017-02-15 15:21] mvdstam commented on #30321
@sanimej

Yes, during a simple test using `siege` while performing the rolling update, I got loads of HTTP-502 messages during the update process when performing HTTP requests to a webservice. The HTTP-502 originated from another container acting as a reverse proxy which routes incoming traffic to the VIP of the webservice as assigned by Docker.

I suspect the container receives the shutdown signa

[2017-02-15 15:26] tomneedham commented on #30917
Just for info, I just got this, clean install of Raspbian Jessie Lite, ran `apt-get update && apt-get upgrade` then `curl -sSL https://get.docker.com | sh` but got the same error as OP.

Simple reboot then `sudo apt-get install -y -q docker-engine` fixed the issue.

[2017-02-15 15:27] Pdharti commented on #31044
I see, Yes that was a typo. I meant ADD mkdir dir1/repos*

I am beginner in docker, Can you suggest what do I need to do to create a base image just for a testing purpose.

[2017-02-15 15:31] cpuguy83 commented on #31044
@Pdharti First I would start with https://docs.docker.com/engine/reference/builder/

Unless you are going to use a static binary or have some rootfs for the container that you want to use, you don't want `scratch`.
You can start off with something familiar like `debian`, `ubuntu`, or `centos`... or for something more minimal `alpine`, of if you don't need a package manager simply `busybox`.

[2017-02-15 15:31] #31044 closed

[2017-02-15 15:37] bitsofinfo commented on #23508
+1

[2017-02-15 15:37] virtuman opened #31046 "How to detect and mitigate DDOS attacks or agggressive scraping with swarm services"
When using docker swarm and realip doesn't seem to be available - what should the steps be to block unwanted traffic?

We used to have haproxy route traffic to Nginx servers and nginx applied lots of filtering and recorded access logs that continuously were processed by something like fail2ban to prevent future access.

With docker swarm - since public ip isn't available - is there way to identify

[2017-02-15 15:40] yongtang commented on #31038
We use Amazon Linux on AWS and if the EC2 instance is created with the default disk size (8G) then the inode would be full pretty soon. It happens, depending on your disk.

[2017-02-15 15:42] alexellis commented on #30917
@tomneedham glad it worked after a reboot, perhaps there's still an underlying issue. @thaJeztah I suggest keeping issue closed and monitoring the situation for more reports.

[2017-02-15 15:43] tomneedham commented on #30917
Happy to help with debugging. Hit me up.

[2017-02-15 15:50] sevoma commented on #31046
I don't think it's supported by Swarm load balancing, but if you're using a proxy, you're looking for adding the X-Forwarded-For header.

https://github.com/jwilder/nginx-proxy/issues/130#issuecomment-86855662

[2017-02-15 15:54] jonathan-kosgei commented on #30926
@aruljothi use my sample file above without the encrypted part

[2017-02-15 15:54] #30926 closed

[2017-02-15 16:00] thinkhard-j-park opened #31048 "unstable overlay network in swarm mode"
**Description**

**Steps to reproduce the issue:**
1. create overlay network from swarm manager in swarm mode
2. start zookeeper ensembles(3 nodes) with overlay network.
e.g.
docker service create  --name zoo01 \
                       --hostname zoo01 \
                       --env ZOO_MY_ID=1 \
                       --env ZOO_SERVERS="$SERVERS" \
                       --network cluster-network

[2017-02-15 16:05] balintbako commented on #23302
I see the same issue on Docker 1.13.1 using a 2-host overlay network with a 3-node Consul 0.7.4 cluster.
I can reproduce the issue by forcibly shutting down one of the Docker hosts.

The result is that after I start the host (and the container) I can see the endpoint with docker network inspect however it shows the old container's ID.
docker network disconnect -f doesn't remove the container, it g

[2017-02-15 16:16] vpanteleev commented on #15086
+1

[2017-02-15 16:27] euqen commented on #15086
+1. Need to reopen this issue ASAP...

[2017-02-15 16:40] pythianarceri commented on #30995
Customer has performed some modification to their app code that have affected logging, i'm unable to reproduce the issue anymore (but i'm not seeing much logs either), i'm trying to revert to the old app code to try to reproduce the issue.

[2017-02-15 16:43] cpuguy83 commented on #30995
@pythianarceri Thanks for continuing to look into this.

[2017-02-15 16:50] r-BenDoan commented on #5618
I'm experiencing this issue pretty regularly on my dev system, always while shutting down containers.

General info
[code]

Docker daemon log
[code]

[2017-02-15 16:53] dnephin commented on #30977
1 and 2 seem reasonable

There is no "disabled" state for services, networks or volumes, so this doesn't really make sense for stacks. What's the use case? Why not just remove it and re-create it when you need it?

(4) is by design. You can't use variables in keys. If you want to change the name of something use the stack name. Or if you want an external network name, use this:

[code]

@sylvainmo

[2017-02-15 16:57] sevoma opened #31050 "Docker compiled without Stack canary or PIE and compiled with partial RELRO"
**Description**

dockerd and docker-containerd are not compiled with Stack Canary (buffer overflow protection technique), or PIE (ASLR technique) for Fedora packages (and others I assume). They are compiled with partial RELRO (memory corruption mitigation technique) but not full RELRO. I have not checked the other binaries.

These findings might not be a big deal if you're not using the unsafe pac

[2017-02-15 16:59] crosbymichael commented on #27921
@nilangshah I think you are misunderstanding something.

It always has to be greater than the period if you are wanting more than 1 core for the container.  If its equal its saying "for every 100ms of cpu time, this container gets 100ms", where if its more in your example its "for every 100ms of cpu time, this container gets 500ms, which means it can run on more cores"

The period is based on 1 cp

[2017-02-15 17:10] feffi opened #31051 "Docker build caching not working on specific base images"
Recently I discovered a strange behaviour in docker build caching. Docker build is not caching at all on specific FROM base images.

**Dockerfile No. 1 (not caching at all)**
[code]

**Dockerfile No. 2 (caching working normally)**
[code]

**Steps to reproduce the issue:**
1. Create Dockerfile No. 1
2. ``docker build .`` (first run)
3. ``docker build .`` (second run)
Rinse and repeat with Dockerfil

[2017-02-15 17:23] kinghuang commented on #29293
@eyal-lupu In my automated deployments, I explicitly wait for services and networks to be removed before redeploying. There's a basic example of this in #30942 (the two until blocks). I have them between the `docker stack rm …` and `docker stack deploy …` commands.

[2017-02-15 17:24] piranna opened #31052 "`setreuid()` seems to don't have effect"
**Description**

I exec inside Docker a login command as root user that [exec `setreuid()`](https://github.com/piranna/logon/blob/83dafda212bc9c2d17321485eed0458c2d280d66/server.js#L270) to change itself to the `uid` of the user doing the login, but once loged, all the child processes have still `uid=0` (root). On normal conditions it's working as expected (child processes has the correct user `ui

[2017-02-15 17:26] thaJeztah commented on #31051
/cc @tonistiigi

[2017-02-15 17:27] ckeeney commented on #5618
@r-BenDoan if you try to stop a container but it doesn't respond to SIGINT, docker will wait 10 seconds and then kill the container ungracefully.  I encountered that behavior in my nodejs containers until I added signal handling.  If you see a container taking 10s to stop, it likely isn't handling signals and is more likely to trigger this issue.

Make sure your containers can stop gracefully.

[2017-02-15 17:31] DrST commented on #17645
Dear all, just in case this would happen to solve you issue ...

I did all the abode, but only running docker daemon in interactive mode solved my problem.
When running the daemon like this, I got the missing information:

Previously I was using the old docker from Ubuntu 14.04 and upgraded it using the official upstream docker repository...

After specifying the correct devince mapper (aufs) a lo

[2017-02-15 17:34] mattdanskey opened #31053 "`docker save` with a windowsservercore image fails on file integrity checksum of Events_Normal.rbs"
**Description**
I've been unable to use `docker save` successfully on an image based on `microsoft/windowsservercore` -- or even been able to save that image itself. I have been able to save `microsoft/nanoservercore` successfully.

I originally filed docker/for-win#499 and was directed to file this issue here. It does have similarities to docker/docker#25893 , but involves a different file.

**St

[2017-02-15 17:35] dnephin commented on #29293
Why are you using `stack rm` for deployments? It should be just another `stack deploy` to send updates.

[2017-02-15 17:42] friism commented on #31053
Strictly speaking, I don't think hyper-v is supported when nested inside of another hypervisor like parallels.

[2017-02-15 17:42] feffi commented on #31051
Just downgraded to 1.12.6, also happens there.

[2017-02-15 17:45] piranna commented on #31052
I've just check this also happens with regular `setuid()` and `setgid()` functions, seems drop of permissions is not handle at all, at least with Docker default configuration...

[2017-02-15 17:50] kinghuang commented on #29293
In my case, I want a full re-deployment so that all the services are reset to their original starting state, as part of reviewing git branches on certain repos. Otherwise, yes, just another `stack deploy` would be sufficient.

[2017-02-15 17:57] etlweather commented on #5618
While I'm not the one who is fixing this issue, not being much into Linux Kernel dev, I think I am right in saying that the "me too" comments aren't that helpful. By this I mean, just saying "I have this problem too, with Kernel vx.x and Docker 1.x" does not bring anything new to the discussion.

However, I would suggest that "me too" comments which describe more the environment and method to repr

[2017-02-15 17:59] BarakA89 commented on #30920
_Data volumes_ are mainly to share data between containers and not between a container and the host.
see @AkihiroSuda answer for how to bind to the host.

[2017-02-15 18:00] sanimej commented on #30321
@mvdstam Call to remove from the LB pool is invoked before the shutdown..
https://github.com/docker/docker/blob/master/daemon/cluster/executor/container/controller.go#L319

@dongluochen In the rolling update case is it possible for a task to get shutdown without LB removal ?

If there is some latency in all the nodes getting the gossip message and doing the actual removal adding a delay should hel

[2017-02-15 18:04] Suncatcher commented on #17645
What means  _running docker daemon in interactive mode_?
Could you please describe the exact steps you did?

[2017-02-15 18:05] mostolog commented on #30975
I'm not able to get the error on dev/testing environment, will try to test on a production node in the coming days...it will be probably fixed, so'll reopen if it's not fixed.
Thanks

[2017-02-15 18:05] #30975 closed

[2017-02-15 18:10] dongluochen commented on #30321
@sanimej Rolling update goes thru the same `Shutdown` function.

Do you think we should just add a delay between `r.adapter.deactivateServiceBinding()` and `r.adapter.shutdown(ctx)`?
https://github.com/docker/docker/blob/master/daemon/cluster/executor/container/controller.go#L324

[2017-02-15 18:23] sanimej commented on #30321
@dongluochen `Do you think we should just add a delay between r.adapter.deactivateServiceBinding() and r.adapter.shutdown(ctx)?` - Yes. But lets see if we can first pin down exactly what is happening in @mvdstam's environment.

[2017-02-15 18:27] tianon commented on #30867
@ijc25++; I think `docker/hack/make/.build-deb/docker-engine.maintscript` is probably the easiest way to add that, although if it's not related to the package version, it's a little harder to get right. :disappointed:

It'll have lines like this in it:
[code]
(the man page @ijc25 linked has more details :+1:)

[2017-02-15 18:32] jhowardmsft commented on #30278
Fixed by https://github.com/docker/docker/pull/31055

[2017-02-15 19:01] thockin commented on #5618
FWIW kubernetes has correlated this completely to veth "hairpin mode" and
has stopped using that feature completely.  We have not experienced this
problem at all, across tens of thousands of production machines and vastly
more test runs, since changing.

Until this is fixed, abandon ship.  Find a different solution :(

On Wed, Feb 15, 2017 at 10:00 AM, ETL <notifications@github.com> wrote:

[2017-02-15 19:09] cpuguy83 commented on #30680
This might be fixed by #31029

Would you be able to give it a shot?

[2017-02-15 19:13] premier424 commented on #31026
Thanks for your help. I upgrade to kernel 4.4.49 and even unable to start the docker. I tried reinstall docker and use `sudo` as well. It shows the following error when I run `sudo docker images`

```Cannot connect to Docker daemon at unix://var/run/docker.sock. Is the docker daemon running.```

Otherwise, after I upgrade the kernel, my virtual box keep sending message of: ```VBoxClient: the Virtu

[2017-02-15 19:44] jaylinski commented on #30573
@mavenugo @sanimej Is there anything I can do to help you debug this issue?

[2017-02-15 19:53] Zanadar commented on #27102
I started working on a PR for this, but I was wondering what the message should actually say on darwin?

[2017-02-15 19:57] aluzzardi commented on #30847
/cc @nathanleclaire @kencochrane

This is the expected behavior - every time you are issuing a `docker swarm join`, you are adding a new member to the quorum which consecutively gets shut down.

Same would happen with Zookeeper, etcd, and so forth.

There are two solutions:
1) Either we **replace** a failed manager by removing the failed one and adding a new one
2) Or we **recover** the failed man

[2017-02-15 20:06] JackyChen255 commented on #31017
Any update? Could you assign this issue to someone please? @thaJeztah @tonistiigi @aaronlehmann

[2017-02-15 20:09] aaronlehmann commented on #31014
Opened https://github.com/docker/swarmkit/pull/1958 to address this

[2017-02-15 20:32] calamari- opened #31058 "Docker Logs skipping/missing application logs"
Docker logs are missing studout from java application. We have apps logs to mesos logs which show log lines that are missing in docker logs.

**Steps to reproduce the issue:**
1. Start up a mesos cluster
2. Run a docker java app
3. Compare the logs in docker logs vs mesos logs

1. vdiff the two log files uploaded to see how docker is missing logs lines compared to mesos logs (application logs)

**

[2017-02-15 20:43] stensonb commented on #25221
Currently seeing this sporadically.

container is running, but cannot connect:
[code]

logs from docker daemon:
[code]

docker versions (CoreOS 1235.9.0):
[code]

[2017-02-15 20:58] JohnMaguire commented on #20127
Where can we expect to see a notice that this bug is resolved when (if) it does get resolved?

Additionally, you state that this is documented in the Docker docs however I don't see it listed on any of the following pages (this just bit us):

https://docs.docker.com/engine/reference/builder/#/volume
https://docs.docker.com/engine/tutorials/dockervolumes/#mount-a-host-directory-as-a-data-volume
htt

[2017-02-15 21:04] tonistiigi commented on #27393
A problem with accessing setting `-f` outside of context dir is that it is not possible to determine if `docker build -f Dockerfile foo/` means that `Dockerfile` is at `foo/Dockerfile` or `./Dockerfile`. I think `docker build -f ../Dockerfile foo/` is quite counter-intuitive (as well as absolute paths). Unless there is a solution for that we would need to settle for `-f -` . Also `docker build - <

[2017-02-15 21:11] duglin commented on #27393
just some history... when -f was added it was decided that the value of "-f" was relative to the current dir (unless its an abs path).

[2017-02-15 21:25] CyrilPeponnet commented on #30895
@thaJeztah you are right... somehow coreos is using different runc / containerd / init version. After deploying 1.13.1 and replaced coreos binaries with the one from docker it works fine now.

[2017-02-15 21:28] Xandroid4Net opened #31059 "Docker Windows Container fails to run in priviledged mode"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Use the commands below to provide key information from your environment:
You do NOT have to include this information if this is a FEATURE REQUEST
-->

**Description**

When using docker-compose up with the yml file below, container will run in priviledged mode.

[code]

do

[2017-02-15 21:28] SamSaffron opened #31060 "100% CPU usage on docker 1.13.1"
Getting 100% CPU erratically on 1.13.1 once this starts happening `dockerd` uses 100% on all cores till restarted.

[code]

[code]

I have a data-structure dump but it contains sensitive env vars, thread dump is:

https://gist.github.com/SamSaffron/84da3bb794cb901cd9a36194100ffc71

Also while this is happening noticing this in the logs:

[code]

Anything else I can provide to help debugging this?

[2017-02-15 21:34] jhowardmsft commented on #20127
It's in https://github.com/docker/docker/blob/master/docs/reference/commandline/run.md#mount-volume--v---read-only, the Windows note at the end.

When (if :innocent:) it gets fixed, it'll be in the release notes, and the docs will be updated.

[2017-02-15 21:42] docbobo opened #31061 "'make all' on v1.13.1 fails for aarch64"
**Description**

Running ´make all´ for v1.13.1 on an aarch64 fails.

**Steps to reproduce the issue:**
1. Run ´make all´.
2.
3.

**Describe the results you received:**

[code]

**Describe the results you expected:**

Docker is properly build on aarch64.

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `doc

[2017-02-15 21:43] jlhawn opened #31062 "[Proposal] Simple pagination of all List APIs"
In this issue, we are proposing a simple pagination system for the Docker remote API. The need for pagination of resource collection responses is growing as the Docker API expands from being a single-node API to a cluster-wide API where the number of objects in a collection may increase by many orders of magnitude depending on the size of the cluster.

The current List APIs include:

- Containers

[2017-02-15 21:56] JohnMaguire commented on #20127
Perhaps it should also be documented here, since the behavior of "Existing files in the container will be copied into the volume" is mentioned, with no caveats: https://docs.docker.com/engine/reference/builder/#volume

[2017-02-15 22:02] lamby commented on #30198
This is a regression in recent runc. Downgrade to (eg. 0.1.1+dfsg1-2)

See also https://bugs.debian.org/855208

[2017-02-15 22:10] #30415 closed

[2017-02-15 22:12] cpuguy83 commented on #31060
Thanks for the report.
I think it's spinning here: https://github.com/docker/docker/blob/v1.13.1/daemon/logger/jsonfilelog/read.go#L255
I still need to look into it deeper to know what's causing the spin.

The `invalid argument` is a bit weird, seems close is called multiple times somehow, maybe related maybe not.

[2017-02-15 22:13] whoshuu commented on #31062
You can extend this reasoning to also support returning `nextPageStart` in the response object for responses that are not JSON arrays. In other words, the spec should use **MAY** in all possible places, or should strictly require sending hints only in the header.

[2017-02-15 22:29] SamSaffron commented on #31060
Thanks heaps @cpuguy83! let me know if you would like me to test anything, I am comfortable installing a pre-release on our CI server that is exhibiting this issue.

[2017-02-15 22:48] jhowardmsft commented on #29768
@elutsky - can you open a new issue - this is quite different. The problem in your case appears to be that `docker start` on an already running container doesn't display an error to the client (even though it fails). I can't repro step 6 though:

[code]

[2017-02-15 22:49] jhowardmsft commented on #29768
Note above using docker master, using Windows Server (not Hyper-V) containers on Windows Server 2016 fully patched to the "1B" release - 14393.rs1_release.161220-1747.
[code]

[2017-02-15 22:52] jhowardmsft commented on #29768
And further note - this appears to be the same as on Linux - `docker stop foo` on an already stopped container doesn't give any error at the client.

[2017-02-15 22:53] CyrilPeponnet commented on #30895
Edit in fact it works because it's started without --selinux option as soon as I put it it fails.

[2017-02-15 23:02] mpalmer commented on #31060
If it helps (doing a bisect or something), we (I work with SamSaffron) also saw this on 1.13.0.  It didn't happen with any 1.12.x, and doesn't appear to be happening on a couple of machines running 1.13.0-rc2, although their workload is *very* different, so it might not be triggering the bug.

[2017-02-15 23:02] #31051 closed

[2017-02-15 23:12] victort commented on #7583
lame. what i wouldn't give for data volume container commits. Simplifies SO MUCH. 😠

[2017-02-15 23:20] aftabnaveed commented on #30207
That did not fix issue for me, and able to reproduce it.

[2017-02-15 23:21] jaredm4 opened #31063 "Docker Engine's Swarm failing to use credential helper when scaling."
**Description**

When using `docker service scale` or `docker service update --replicas X`, Docker Engine's Swarm will not fetch new authentication token via credential helper if the one already defined on the service definition has expired. AWS' auth tokens expire every 12 hours, as an example. This causes all replicas to spawn only on nodes that already have the image downloaded.

This probably

[2017-02-15 23:22] jaredm4 commented on #30982
I went ahead and opened new Issue https://github.com/docker/docker/issues/31063 that focuses primarily on the lack of credential helper usage.

[2017-02-15 23:27] stevvooe commented on #27307
You'd have to update the service every time a new network is added.

I think we'll have to come up with a better solution here, such as a `metrics` network or make it easy to export these metrics at the node level. Prometheus is very target-oriented and having a "direct path" to exported service is fairly important to their model.

[2017-02-16 00:05] psigen opened #31064 "httpd"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2017-02-16 00:05] #31064 closed

[2017-02-16 00:40] fntlnz commented on #31052
I tried that and it currently works for me. Are you using the default seccomp profile?

I baked a small repo with the code I used to test:
https://github.com/fntlnz/test-setreuid/blob/master/main.c

Here's my result

[code]

I also checked with a different user, and it gets the correct uid

[code]

[2017-02-16 00:56] vikstrous opened #31066 "phantom task preventing overlay network deletion after ip allocation fails"
**Description**

[code]

**Steps to reproduce the issue:**
see above

**Describe the results you received:**
see above (can't delete network except by leaving swarm)

**Describe the results you expected:**
to be able to delete the network

**Additional information you deem important (e.g. issue happens only occasionally):**
100% reproducible, probably all the way back to 1.12-cs, but I haven't che

[2017-02-16 01:11] CaoShuFeng commented on #31038
OK, so I would close this issue.

[2017-02-16 01:11] #31038 closed

[2017-02-16 01:29] dongluochen commented on #18781
@krasi-georgiev Thanks for checking. The problem doesn't reproduce on Docker 1.12.1.

[2017-02-16 01:29] #18781 closed

[2017-02-16 01:42] AkihiroSuda commented on #31026
Do you hit the issue with a newly installed environment? (I tested and could not hit)

For the issue about "Cannot connect to Docker daemon", `journalctl -u docker` would be helpful.
VBox does not seem related.

[2017-02-16 01:42] tonistiigi opened #31067 "Proposal: Multi-stage builds"
#resurrects #7149

We've been going back-and-forth among some maintainers to provide a way to provide capabilities for users to produce sleek images without the cruft of the intermediate build artifacts.

We see a lot of requests from the community for this feature and different ways how people try to work around it, most commonly with `docker cp` and re-tarring a new context or trying to combine

[2017-02-16 01:49] olivpass commented on #24170
+1

[2017-02-16 01:53] thinkhard-j-park opened #31068 "Cannot remove network due to task"
**Description**

**Steps to reproduce the issue:**
1. create network with this command: docker network create --attachable --driver overlay cluster-network
2. run a couple of service in swarm mode and delete all services
3. trying to delete network: docker network rm cluster-network

**Describe the results you received:**
 docker network rm cluster-network
Error response from daemon: rpc error: co

[2017-02-16 02:05] cpuguy83 commented on #31060
Ok, think I figured out the spin issue.
#31070

[2017-02-16 02:12] tiborvass commented on #1916
@sneumann `mybuilder` would be an image name and have some `CMD` or `ENTRYPOINT` indeed. The contract for that workaround to work is that `mybuilder` will have to `tar` the context from within the container and let it go to stdout. That is passed on to `docker build`'s stdin, thanks to the shell pipe `|` and is considered to be the context because the context path for `docker build -t myimage -` i

[2017-02-16 02:20] m4nuC commented on #30957
@wangjingfei Yes, that worked! Thanks a lot, you've made my day!

[2017-02-16 02:20] #30957 closed

[2017-02-16 02:38] pfaffle opened #31072 "`docker build` fails to pull base image from private repository"
**Description**

A Dockerfile which specifies a base image that comes from a private Docker repository fails to build with an 'image not found' error if the image is not already locally cached. However, if you first `docker pull` the image and then attempt a `docker build`, the build succeeds. Below is a quick -slightly sanitized- transcript showing the issue (I've already authenticated with my pr

[2017-02-16 03:00] MikaelCluseau commented on #28889
@cpuguy83 Thanks for catching this. It's a PXE booted CoreOS on a local SSD.

I should probably file this port of the issue in CoreOS, but shouldn't we considered there's something do in docker too? I mean, "semacquire, 7 minutes" in the stack is probably a sign that it's worth trying to have a finer grained lock.

[2017-02-16 03:07] cpuguy83 commented on #28889
Locking is well known, there's a few issues and proposals on it. Unfortunately a simple change.

[2017-02-16 03:14] stevvooe commented on #19803
So, the https://docs.docker.com/engine/admin/logging/log_tags/ describes a feature called "Log Tags" (sorry, really had never heard of this) but the json-log driver doesn't not implement this?

That sounds like a reasonable feature request.

As aside, what was confusing here is the the original feature request showed some arbitrary propagation of a label, rather than the tag example from the docum

[2017-02-16 03:21] thaJeztah commented on #30207
@aftabnaveed http://archive.ubuntu.com/ is a repository managed by ubuntu, so if there's issues with that repository, either report with Ubuntu, or check if there's not VPN / Caching Proxy involved

[2017-02-16 04:11] msabansal commented on #27984
@clarity99 The logs still show failure in creating winnat instance

MessageNumber	DiagnosisTypes	Timestamp	TimeElapsed	ResponseTime	Source	Destination	Module	Summary	TopModule	TopSummary
30	None	2016-11-04T02:25:38.5750928					Microsoft_Windows_Host_Network_Service	ActivityError: wilActivity=Dynamic: callContext=\HNSRequestHandler,currentContextId=8,currentContextMessage=,currentContextName=HNSReq

[2017-02-16 04:16] AkihiroSuda commented on #31067
Have you considered combining multiple `Dockerfile`s using some external file ?

e.g.
[code]

It would be much more flexible (both good and bad)

[2017-02-16 04:19] msabansal commented on #30260
@flnielsen This might be a DNS server issue. With our implementation the DNS server gets the first request with just the host name and then the following request with a host name with DNS suffix appended. Some servers reply back with an NX response instead of a SRV_FAIL which causes DNS delegation to not continue. Having fully qualified names with DNS suffix appended is a valid workaround for this

[2017-02-16 04:21] #31036 closed

[2017-02-16 04:29] petehunt commented on #5618
Yep, we are moving to gke and no longer seeing this issue (so no more bug bounty from us :))

[2017-02-16 04:40] nilangshah commented on #27921
@crosbymichael Thank you for quick response and correction.

[2017-02-16 05:16] jhowardmsft commented on #20127
@JohnMaguire Reasonable. Want to open a PR?

[2017-02-16 05:19] jhowardmsft commented on #30275
Sorry, missed this. Technically what it's currently doing is "correct", but I can see that it's a breaking change. What's the collective view? Accept the omitempty, or revert that field back? (It's an easy change, happy to do, just not sure what's right).

[2017-02-16 05:35] elutsky commented on #29768
@jhowardmsft for me - issue solved now.
I am not sure what exactly solved it - update to version 1.13.1 or restart my pc :)
May be will help for other...
And no - it was not "stop stopped container" or "start started container".
I have 2 containers, and did try to run both of them simultaneously. But was able to run only one. Any of them. The second was failed.

[2017-02-16 05:49] barorion commented on #30477
@thaJeztah, processor affinity is sometimes very important for [achieving high (any predictable) performance](http://highscalability.com/blog/2012/3/29/strategy-exploit-processor-affinity-for-high-and-predictable.html). It is critical for projects like [Aeron](https://github.com/real-logic/Aeron) and [MAX Disruptor](https://github.com/LMAX-Exchange/disruptor).
Having support for processor affinity

[2017-02-16 06:51] fsfshijm commented on #30003
+1, the same issue
[code]

[2017-02-16 07:03] kixiro opened #31074 "container not stop, rpc error: code = 14 desc = grpc: the connection is unavailable, v1.13.1"
<pre>
~$ docker stop 54b3
Error response from daemon: Cannot stop container 54b3: Cannot kill container 54b31cabf8548b5cac1ab09869e02a5e81d8a1d947db5529fb85a205002e2456: rpc error: code = 14 desc = grpc: the connection is unavailable
</pre>

Version and Info
<pre>
~$ docker version
Client:
 Version:      1.13.1
 API version:  1.26
 Go version:   go1.7.5
 Git commit:   092cba3
 Built:        Wed Fe

[2017-02-16 07:46] amatsus commented on #30564
I think related to #27420.

I have same result this issue's Steps to reproduce No.5 to 7.

I have same log above this issue.
I suspect https://github.com/docker/docker/blob/1.13.x/daemon/logger/journald/read.go#L239
I ran two containers for 10-20 minutes, this problem occurs. These containers outputs to stdout.

[2017-02-16 08:22] hustcat commented on #29508
#10613

[2017-02-16 08:57] zouyee commented on #27734
openstack vm
docker 1.12.6
uname -a :3.10.0-229.20.1.el7.x86_64 #1 SMP Tue Nov 3 19:10:07 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
v1.3.0-beta.1: Pulling from luxas/heapster-amd64
4b0bc1c4050b: Already exists
3061692e8995: Pulling fs layer
c5c797399e29: Pulling fs layer
error pulling image configuration: Get https://dseasb33srnrn.cloudfront.net/registry-v2/docker/registry/v2/blobs/sha256/4f/4ff6ad0

[2017-02-16 09:03] wouterds commented on #10588
It would make sense to have this for automated builds as well imho.

[2017-02-16 09:06] wouterds opened #31077 "README-short.txt support for automated builds"
Not really an issue, more of a suggestion / feature request.

It would make sense to support `README-short.txt` for automated builds as well imo.

[2017-02-16 09:09] flnielsen commented on #30260
@rs38
tried running container with --dns 8.8.8.8

[code]
My `ipconfig /all` also shows the same dns setup. Any global domain (like google.com) gets resolved just fine.
[code]

My container is running default Nat network.

[2017-02-16 09:21] piranna opened #31078 "Getty on `/dev/console`?"
**Description**

When using a [`getty`-like command](https://github.com/NodeOS/node-bin-getty) on `/dev/console` I can't be able to set it as the controlling TTY. Is that not possible? Is there another alternative? All the examples I've found so far just exec `bash` or whatever other thing directly on `/dev/console`...

[2017-02-16 09:25] sandys opened #31079 "does anyone know how to use docker secrets through the compose file format ?"
can we use docker secrets through compose file v3 (swarm) ? I cant find anything in the documentation or the code

[2017-02-16 09:31] jkirkby91-2 opened #31080 "Docker login only tries v1 URI"
**Description**

I'm trying to bundle some docker-compose images to deploy to a docker-engine swarm mode.

To do this i needed to have a private registry. So i have setup a docker registry behind a nginx proxy with htpasswd auth, which is working fine I can curl to it.

So to be able to to do my docker-compose bundle push i need to connect the docker-engine to the docker-registry so i run the comm

[2017-02-16 09:34] demaniak opened #31081 "Docker engine does not listen on TCP 4789"
**Description**

Essentially, overlay networking is not working correctly.

After bringing up a stack with `docker stack deploy -c docker-compose.yml my-app`, containers can not access each other.

When inspecting the (externally created) network with `docker network inspect my-net`, the containers that are listed as attached seems to depend on which node the command is ran.

If app1 is running on

[2017-02-16 10:11] rs38 commented on #30260
@flnielsen as I guessed: the problems we are discussing in this issue is about having no DNS at all...

[2017-02-16 10:15] Platzii commented on #23302
^ same issue here

[2017-02-16 10:24] mlushpenko commented on #31037
My colleague solved the issue already:

[code]

[2017-02-16 10:24] #31037 closed

[2017-02-16 10:26] justincormack commented on #31079
cc @dnephin @shin-

[2017-02-16 10:29] vdemeester commented on #31079
@sandys documentation is being updated on that subject : see https://github.com/docker/docker.github.io/pull/1662

[2017-02-16 10:44] keib opened #31082 "fo"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2017-02-16 10:44] #31082 closed

[2017-02-16 10:48] tazle commented on #30464
No, we haven't seen it on 1.13.0 so far. Maybe close this issue as probably fixed in 1.13.0 and we'll reopen / open a new one if we run into it again?

[2017-02-16 11:59] clarity99 commented on #27984
new trace file is at https://dl.dropboxusercontent.com/u/153770/NetTrace.etl

[2017-02-16 12:16] TristanCP commented on #30285
After a test, I can confirm the bug is fixed (at least for aufs the default storage driver) on Ubuntu 16.04.2 LTS.

If you have upgraded to this version from a previous one, "sudo apt upgrade" won't be enough, you also need to do "sudo apt install --install-recommends xserver-xorg-hwe-16.04" to upgrade the kernel from 4.4 to 4.8

[2017-02-16 12:16] #30285 closed

[2017-02-16 12:26] mauro-dellachiesa commented on #30826
[issue 30826 - 2nd traces.zip](https://github.com/docker/docker/files/780017/issue.30826.-.2nd.traces.zip)
@msabansal ^^
Let me know if you need something else.

[2017-02-16 12:30] #30727 closed

[2017-02-16 12:39] clarity99 commented on #27984
I've also upgraded docker to 1.13. and rerun the trace: https://dl.dropboxusercontent.com/u/153770/NetTrace3.etl

[2017-02-16 12:46] christhomas commented on #24262
I am also having this problem, I am splitting up my larger docker-compose.yml into multiple groups based on what they represent and now I cannot access them using nginx-proxy like I could when they were all in the same docker-compose.yml

[2017-02-16 12:57] rreinurm commented on #26259
I was looking forward to migrate from Docker Swarm to Docker Swarm Mode, but without container anti-affinity it generates lot of overhead for scaling and spreading containers across the cluster.
I need to spread containers in case host is unavailable (crashed) that there are still some containers on the other hosts to serve clients.

I can't use workaround with node labels constraint it's too much

[2017-02-16 13:01] timka commented on #13490
@wpalmer If you have automated image builds, your tooling should know how to get build-time secrets.

For instance, you may want to keep your build-time secrets in an Ansible encrypted vault baked into an image and grant containers running from that image access to the run-time secret that  keeps your vault password.

WDYT?

[2017-02-16 13:25] mbana commented on #1916
a bit strange upon looking at the code it seems that this option is avaialble in the `build` command:

* `run`: i assume that `container` here means `run` - https://github.com/docker/docker/blob/bb0a532fc21cb6b9390fb7e5eb0054bdc8045bbc/cli/command/container/opts.go#L485.
* `build`: https://github.com/docker/docker/blob/bb0a532fc21cb6b9390fb7e5eb0054bdc8045bbc/cli/command/image/build.go#L108.

anyo

[2017-02-16 13:31] dhilipkumars commented on #26495
I had the same problem.
if you dockerize a static go binary make sure you add these build flags
``` go build -ldflags "-linkmode external -extldflags -static" .```
otherwise in `go 1.7.4` by default it builds a dynamically linked binary.  This is even more applicable if you are dockerizing `FROM scratch`

[2017-02-16 13:48] westsouthnight commented on #30359
Have same issue on latest Ubuntu & Latest Docker 1.13.0

[code]

Containers: 10
 Running: 9
 Paused: 0
 Stopped: 1
Images: 41
Server Version: 1.13.0
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 286
 Dirperm1 Supported: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: bridge host macvlan null overlay
Swarm: inactive
R

[2017-02-16 13:52] vdemeester commented on #30313
@byrnedo could you try with `v1.13.1` because I can't reproduce with it, it works for me :sweat:

[code]

It also might be a network problem. What is your operating system ? is `filerwalld` (or any type of firewall enabled — in this case, which one ?) enabled ? …

/cc @mavenugo @aboch

[2017-02-16 13:58] SamSaffron commented on #31060
wow awesome! thanks so much

[2017-02-16 14:00] piranna commented on #31052
Didn't know about them. I'm executing it with

[code]

so according to the [docs](https://docs.docker.com/engine/security/seccomp/) I think yes, it's using the default one, isn't it? Maybe the `apparmor:unconfined` is dissabling it?

[2017-02-16 14:11] piranna commented on #31052
If it's of interest, I'm just using the `--security-opt=apparmor:unconfined` option to be able to mount OverlayFS filesystems inside the container, if there's another more targetted option for that I would thank it.

[2017-02-16 14:16] RalfJung opened #31086 "CpusetCpus not properly applied when Kernel isolcpus is set"
**Description**
We would like most of our CPU cores to be used exclusively by certain docker containers.
However, once we set the kernel `isolcpus` parameter to ensure certain cores are not used at all unless explicitly specified, the containers all use only a single CPU.

**Steps to reproduce the issue:**
1. Set the isolcpus parameter to `0-17,20-37` so that only CPUs 18,19,38,39 are used by most

[2017-02-16 14:20] RalfJung commented on #31086
Here's the full `docker inspect` for one of the affected containers:
[code]

[2017-02-16 14:20] byrnedo commented on #30313
I'm running ubuntu 16.10 and I have no firewall.
I'll give it a go asap with 1.13.1!

[2017-02-16 14:21] boucher commented on #6802
Is this now considered implemented by the new prune commands in 1.13?

[2017-02-16 14:41] pvanderlinden commented on #13490
Why do we keep confusing build-time secrets with runtime secrets? There are many good ways already for docker (or related tools like kubernetes) to provide the runtime secrets. The only thing really missing is build-time secrets. These secrets are not used during run time, they are used during install time, this could be internal repositories for example. The only working way I have seen in this a

[2017-02-16 14:47] cpuguy83 commented on #31077
Thanks, I'll pass this along.
Since this is not anything to do with the docker-engine I'm going to close this.

Thanks again.

[2017-02-16 14:47] #31077 closed

[2017-02-16 14:49] aboch commented on #31081
@demaniak

A network inspect of an overlay network will only show the locally connected containers

That is a bug in the documentation. It only needs UDP/4789.

For the connectivity issue,given you are using encrypted networks, make sure the ESP packets traffic is allowed across all of your hosts.

[2017-02-16 14:49] wouterds commented on #31077
Couldn't find a place for Docker Hub itself. Thanks in advance @cpuguy83!

[2017-02-16 14:49] cpuguy83 commented on #31077
Indeed.

[2017-02-16 14:53] binarytemple commented on #13490
+1 build time secret != run time secret

As Paul points out. It is not desirable to bake internal repository
credentials into the image.

Why is this so hard to comprehend?

On Thu, 16 Feb 2017, 14:42 Paul van der Linden, <notifications@github.com>
wrote:

[2017-02-16 14:58] BenoitNorrin commented on #13490
@pvanderlinden You can also do that with two steps building.
Here an example : https://github.com/BenoitNorrin/docker-build-with-secrets

[2017-02-16 15:02] ehazlett commented on #13490
@timka as mentioned it's not desirable to bake credentials into the image as that poses a security risk.  Here is a proposal for build time secrets: https://github.com/docker/docker/pull/30637

[2017-02-16 15:05] pvanderlinden commented on #13490
@BenoitNorrin Not sure how that would in my (and others) use case.
The packages which needs to be installed are already build when I start the docker build process. But the docker build will need to install these packages, it will need access to an internal anaconda repository and/or pypi server (python). The locations and passwords are private ofcourse.
Looks like #30637 is another attempt, hopef

[2017-02-16 15:05] demaniak commented on #31081
Thanks for the info @aboch .

Hm, the overlay inspection behavior is then definitely NOT what I would have expected. But if that it is how it works currently, at least I can scratch that of the problem/symptom list.

I will verify ESP packet traffic situation, but I have so far been repeatedly assured that any and all traffic is allowed to traverse the network.

[2017-02-16 15:06] RalfJung commented on #31086
Actually docker may not be at fault here, it seems like isolcpus is pretty much broken... also see <https://serverfault.com/questions/573025/taskset-not-working-over-a-range-of-cores-in-isolcpus>.

[2017-02-16 15:15] AlexRudd commented on #28694
Seems to be a problem with the version of Go used to build Docker.

Here's where Docker build detects that ADD is using a remote uri: https://github.com/docker/docker/blob/master/builder/dockerfile/internals.go#L120

Here's the function in httputils which is evoked to do the download: https://github.com/docker/docker/blob/master/pkg/httputils/httputils.go#L19

As you can see it passes the url stra

[2017-02-16 15:16] mmorhun commented on #30680
@cpuguy83 sure.
We built docker with the fix and it works as expected. Thank you.

[2017-02-16 15:16] #30680 closed

[2017-02-16 15:21] cpuguy83 commented on #30680
Awesome, thanks!

[2017-02-16 15:21] mr-e- commented on #30805
Any further update on this?

[2017-02-16 15:29] wpalmer commented on #13490
@timka the first half of your message seems to mention build-time secrets, but the second half explicitly talks about run-time secrets. Run-time secrets are simple. My current "solution" for build-time secrets is to pre-run, as a completely separate step, a container which fetches private data using a run-time secret. Another step then merges this into the tree, before running a regular `docker bu

[2017-02-16 15:32] silveraid commented on #31068
We are experiencing the same with the error message of:

`Error response from daemon: rpc error: code = 9 desc = network k8bwtqv93w2zssjyjle9ipyql is in use by task pk76tpyscjlwgb69j26y3snsf`

Grepping the /var/log/messages we have found a reference to the task which says the following:

`dockerd: time="2017-02-15T16:19:14.233444929-05:00" level=error msg="fatal task error" error="Pool overlaps wi

[2017-02-16 15:33] vdemeester opened #31087 "`--label-file` weird "unwanted" behavior ?"
While refactoring, I stumbled upon a weird behavior : `--label-file` on `docker run` command behave **exactly** like `--environment-file`. This means, if there is a *placeholder* (i.e. a simple key, no `=` sign, no value), it will get the value from the environment variable.

[code]

I'm not sure if this is a *wanted* feature or just *happened to be that way* because of the code.

/cc @docker/core

[2017-02-16 15:33] demaniak commented on #31081
Ok, seems the issues as reported (TCP 4789) is a non-issue, I will close this issue for now.

Thanks.

[2017-02-16 15:33] #31081 closed

[2017-02-16 15:36] vdemeester commented on #31068
I think https://github.com/docker/docker/pull/31073 fixes it
/cc @aboch
/cc @vieux for 1.13.2 maybe ? 👼

[2017-02-16 15:36] #31066 closed

[2017-02-16 15:38] ripcurld0 commented on #30805
Could it be related to this https://github.com/docker/docker-py/issues/1451 ?
Anyway, I don't have Windows to attempt reproducing this.
I will let the guys at Microsoft provide some answers, though.

[2017-02-16 15:38] Tahvok commented on #2174
@cpuguy83 please see this:

[code]
Using unmodified official ubuntu cloud image.

Setting net.ipv6.conf.all.forwarding=1 will fix the issue. Didn't try other things, but willing to test anything you might want.

[2017-02-16 15:50] cpuguy83 commented on #31080
The v1 url is just a fallback in case there was some issue contacting v2.
You can disable this fallback with the `--disable-legacy-registry` option on the docker daemon.

The error `getsockopt: connection refused` seems to indicate that the host is not listening on 443, though.

[2017-02-16 16:28] minherz opened #31089 "DeviceIOControl Win32 API call returns incorrect result for SYMLINKD folder mounted to docker volume"
**Description**

In Windows container a call to `DeviceIOControl` Win32 API provides incorrect results when called for a folder which is SYMLINKD to the mounted docker volume.

The problem was originally reported to docker/for-win ([num 506](https://github.com/docker/for-win/issues/506)) and then moved into this project.

**Steps to reproduce the issue:**
  1. Run command
[code]
  2. Use an applic

[2017-02-16 16:29] cpuguy83 commented on #31074
ping @tonistiigi @mlaventure

[2017-02-16 16:31] mlaventure commented on #30984
Hum, I see where it came from, during `containerd` restore phase it seems I forgot to create the necessary channels (I thought we had fixed this already though :/) which lead to the panic.

This panic seems to occurs while `containerd` is in the process of deleting an `exec` state directory which in turn lead to the directory to still exist but not the `process.json` file within.

Making and testi

[2017-02-16 16:32] cpuguy83 commented on #31089
ping @johnstep

[2017-02-16 16:33] aboch commented on #31068
Yes @thinkhard-j-park  report looks a duplicate of #31066, I am assuming a manual docker run was attempted on that attachable network and failed the allocation.

In @silveraid report instead, I am not sure why a task allocation would fail with an error that should happen during a network allocation phase only(subnet chosen for the network overlap with an existing one). I need to double check the c

[2017-02-16 16:45] aboch commented on #31081
To isolate the issue, try to redeploy on a non-encrypted network and see if it works.

If that was the issue, then double check esp packets are allowed or if the --advertise-addr and --listen-addr were properly specified on the nodes (I am suggesting this because it seems your swarm is across datacenters)

[2017-02-16 16:51] shorero opened #31090 "Creating a service hangs existing services"
**Description**
EXISTING SERVICES HANG WHEN A NEW ONE IS CREATED.

Environment:
  * Windows hosts
  * Two VMs (8GB RAM), each with Centos 7 installed. Following characteristics are
     the same on the two VMs
  * The two VMs form a single swarm. Each VM is a manager.
  * Docker 1.13.1, build 092cba3
  * Image storage uses devicemapper storage driver to a 31G thin pool, about 90% free
  * Containe

[2017-02-16 17:03] sgnn7 commented on #30927
Having the same issue:
[code]

Docker version 1.13.1, build 092cba3 on Mesos/Marathon

Some files do seem still open:
[code]

[2017-02-16 17:16] zioalex commented on #24220
Hi guys,
I just want to share my experience with a similar problem:
The MTU between the docker bridge and your vpn should match.
If you do not do it you will get partial or no connectivity from the container to the outside world.

This can be even more tricky because small requests will be server properly; like a traceroute.
But then when a full request is done you will not get the proper response

[2017-02-16 17:18] sgnn7 commented on #30927
Cont'd:

Trying to kill that process with `docker kill`
[code]

`sudo kill 23383` had no effect

[2017-02-16 17:19] ITPro360 commented on #29771
I too was having this issue and it was a result of attempting to override the docker.service in systemd and i just used the drop-in to override my docker settings and then added my socket and every thing seemed to start working again.

i am running coreos stable with docker 1.12.6.

Using the docker docs to properly configure docker with systemd solved my problem. Hope this helps anyone else looki

[2017-02-16 17:34] philipn commented on #14474
@cpuguy83 Unfortunately, the only storage drivers available on the minikube VM are overlay and vfs. I tried out vfs but it was prohibitive to testing (e.g. a build took 20 hours on our dev stack).

[2017-02-16 17:37] tonistiigi commented on #31074
@kixiro Is this continuous error or happened one time?
@mlaventure Should containerd crash show up in daemon logs?

[2017-02-16 17:41] jsharpe opened #31092 "Specifying macaddress for service"
I've tried specifying the mac_address in a docker compose v3 file and it doesn't give any parse errors or warnings when deploying via docker stack deploy but the mac_address parameter is not set for the service.

It appears that the option to set a mac address for a service is not available. This is required for services that use the mac address for e.g. licensing purposes.

[2017-02-16 17:48] msabansal commented on #27984
@clarity99 There is no winnat trace in the log files. I will probably have to set a local repro to get to the bottom of this. 

[2017-02-16 17:52] benjaminellison commented on #15941
I'm having a similar problem on Windows 10, (client/server version 1.13.1).  Have you tried specifying a username/password?
`docker login -u myusername -p mysecret https://hub.docker.com`
Mine still errors out with that, but at least I get a message vs. hang.

[2017-02-16 17:59] tonistiigi commented on #31017
I've confirmed this in `overlay2`.

[2017-02-16 18:01] mlaventure commented on #30135
@Kukunin it didn't make it into 1.13.1 unfortunately

[2017-02-16 18:04] mlaventure commented on #6802
@boucher `docker system prune` doesn't take care of "leaked layers" yet

[2017-02-16 18:23] drnybble opened #31093 "Windows service discovery does not work consistently"
Related to the functionality introduced in https://github.com/docker/docker/pull/25987

**Description**
pinging a container by name does not always work in Windows containers. I have not yet found a consistent pattern but sometimes doing 'ping [container-name]' works and sometimes it fails. But I have never seen it fail if I include "ping [container-name]" as the command to execute when launching

[2017-02-16 18:24] toutougabi commented on #31043
the Error response from daemon: grpc: the connection is unavailable.
has propagated and now i cannot start containers on some of my hosts, how can this stable update break my system so much

[2017-02-16 18:26] mlaventure commented on #30927
@sgnn7 The daemon logs would be useful here, also if you could provide which files related to docker itself are still open it would be useful.

When the daemon doesn't answer to `SIGTERM`, try sending a `SIGUSR1` instead, it will dump its stacktrace so we can try and figure out where it is stuck.

[2017-02-16 18:27] mlaventure commented on #30927
@thinkhard-j-park your issue seem to be different, your error seems to indicate that `containerd` is not running or responding. Could you confirm this?

[2017-02-16 18:29] mlaventure commented on #31074
@tonistiigi if it's a go runtime panic it should appears in the daemon log

If it gets killed, docker should detect it and restart it after a few seconds, a message in the daemon log would state so.

@kixiro could you provide more of your daemon log?

[2017-02-16 18:39] cpuguy83 commented on #31043
ping @mlaventure @sanimej

The completion issue was a bad cherry-pick that will be fixed in .2, sorry about that.

[2017-02-16 18:45] sanimej commented on #31043
@toutougabi For the load balancer issue can you provider your env details ? How many manager/workers and what kind of service you are running, the clients are from inside the cluster or external ? Was everything working ok with 1.13.0 and you seeing the load balancer issues only with 1.13.1 ?

[2017-02-16 18:48] BastienAr opened #31095 "Docker 1.13 overwrite/remove named volume when stack deploy/update"
Currently there is no option when updating a stack (`docker stack deploy`) to overwrite a named volume created by this stack. In a same way, there is no option (such -v) to remove named volume associated with a stack when you remove the stack, other than removing the volumes with `docker volume rm`.

Here is a usecase :

Given this file:
[code]

where *config-hoster* is a from scratch image, expos

[2017-02-16 18:50] cpuguy83 commented on #31092
Agreed on licensing issues.

Ping @dnephin for yaml parsing, this should throw an error since it's not supported.

[2017-02-16 18:55] cpuguy83 commented on #31095
Hmm, this would actually be a pretty big problem if implemented.
The reason it's doing this is the volume exists already and is populated with data when you update the config.

I think the right thing here is to actually support config objects (like we do secrets).

[2017-02-16 18:57] #28892 closed

[2017-02-16 18:58] aluzzardi commented on #28793
@thaJeztah @dperny is looking into this

[2017-02-16 18:58] sgnn7 commented on #30927
@mlaventure Sadly I can't provide the daemon logs and I can't do `SIGUSR1`since I "fixed" it with a `kill -9` to the parent process. The open files were mounted by mesos as the stdout sandbox and the problem seems very similar to [this](http://keepfoolish.com/kernel/docker-kill-issue.html) one with inability to properly clean up.

[2017-02-16 18:58] adshmh commented on #30258
The PR against go-connections is needed so the required minimum TLS version can be passed as an option to tlsconfig. If that PR is approved, I will submit a PR on docker/docker for handling the configuration parameter/flag.

On a side note, I was wondering (as a separate PR), if the CommonTLSOptions struct used by the daemon should also be used by the client for consistency and to have one less co

[2017-02-16 18:59] toutougabi commented on #31043
thanks @cpuguy83 np

@sanimej yes the issue are new since the 1.13.1, 1.13 was very stable as was the last stable 1.12.

i have 8 nodes all managers
the deployment is quite small (all 1 cpu 3.5 gb of ram for all but 2 hosts) and usage is generally around 30%. We decided to make them all managers as in early 1.12, when in a 3 node configuration we were having an issue with 1 host, it would bring th

[2017-02-16 19:00] dnephin commented on #31067
`BUILD` doesn't seem like an intuitive name. Since you used `SETCONTEXT` as an example to explain the concept, maybe `CONTEXT` is a better name for the directive?

Would it be fair to say this is a more constrained version of a `BEGIN`/`COMMIT` set of directives?

[2017-02-16 19:02] toutougabi commented on #31043
as a side not, we had, earlier this week, a crash on 50% of the hosts but they rebooted fine and the cluster restarted normally when we restarted. On reboot all was good but we decided , while we had the maintenance page for our sites to go ahead with the update, so about 1hr after the restart, we cycled each host to update to 1.13 and that's when the load balancer started working 50% of the time

[2017-02-16 19:02] dnephin commented on #31067
I believe something along these lines is what was meant by "it would be best to solve that problem in a higher level [tool]", so it's still being considered.

[2017-02-16 19:04] drnybble commented on #31093
Pinging @msabansal as requested.

[2017-02-16 19:05] msabansal commented on #31093
Ok this gives me the hint that this is an image issue. We had a fix in DNS client to enable this. The images need to be updated for everything to work properly. Let me look for commands on how we can confirm the updated images

[2017-02-16 19:05] jlhawn opened #31096 "Missing stack/compose support for `--endpoint-mode` option when creating a service."
**Description**

I want to use `docker stack deploy ...` to create some services which use the round-robin DNS endpoint mode. It doesn't look like it's possible. The only way to do it is to use `docker service create ...`.

Docker Version: 1.13.1

[2017-02-16 19:08] philtay commented on #31067
This is very interesting. IMO several limitations related to multiple build steps (or branches) can be overcomed with a slight change to the original idea. The context should be "composable" as opposed to completely replacing it each time. Basically `BUILD` should work like `COPY` but the other way around. It copies from the image to the context. The initial context is the content of the Dockerfil

[2017-02-16 19:16] benjaminellison opened #31097 "docker for Windows 10 login failure/timeout"
When issuing a login command (via Powershell ISE run as Administrator) with explicitly defined parameters:
`docker login -u myusername -p mysecretword https://hub.docker.com`
I receive the following response:
[code]

I'm running Windows 10 Enterprise, Hyper-V, and docker version output is:
[code]

I've tried changing the DNS in the Docker->Network settings to from Automatic to Fixed (8.8.8.8). No

[2017-02-16 19:19] CyrilPeponnet commented on #30895
@thaJeztah @cpuguy83

If you guys have an idea... selinux is permissive, I tried to run audit in log mode to check denied avc but nothing is logged.

What's puzzle me is that the `path` passed as arg to .Relabel is empty. I cannot find a way to debug this deeper (like a trace mode for tasks for instance).

[2017-02-16 19:19] garciasa commented on #30724
Hi guys,
I´ve the same issue.
I´m in version Version 1.13.1-beta42 (15350) OSX.
I´m using tensorflow docker container, and when I´m training my network with images, I get this
<img width="981" alt="screen shot 2017-02-16 at 19 16 14" src="https://cloud.githubusercontent.com/assets/1852069/23036925/823d9b46-f47c-11e6-85a4-207d2b0285b1.png">

Sometimes I get error earlier, or later, there is no defi

[2017-02-16 19:24] artisticcheese opened #31098 "Docker NIC adapter shall not register DNS name with DNS server"
### Expected behavior
Checkbox on HNS Internal NIC for DNS registration shall be unchecked
### Actual behavior
Box is checked
### Information
HNS adapter shall have automatic DNS registration disabled. This setting registers private docker IP with Active Directory DNS and causing problems for internal communications

### Steps to reproduce the behavior

![image](https://cloud.githubusercontent.com

[2017-02-16 19:25] sanimej commented on #31043
@toutougabi  After half of hosts rebooted, did you get a chance to verify the LB behavior as well before upgrading to 1.13.1 ?

On the 50% loss, can you narrow it down a bit, for ex: do you see requests to tasks only on certain hosts failing ? Do you see this failure for services created before upgrade or for the patter is seen for new ones as well ?

[2017-02-16 19:30] friism commented on #31093
@drnybble can you check that your WS2016 system is updated and that you've pulled the latest version of microsoft/windowsservercore?

[2017-02-16 19:31] toutougabi commented on #31043
yes the system looked stable but i have to be honest that we didn't test for long before we did the update.

for the 50% the test was simple, we were noticing failed request on the reverse proxies so we went locally and did wget to the cluster. That's when we discovered the no route to host on 50% of the request. So wget x.x.x.x:xxxx/app would fail 50% of the time and hasn't recovered since.

serv

[2017-02-16 19:32] sirlp2 opened #31100 "Cannot start container - docker_gwbridge: exchange full"
**Description**
Service Replica(container) fails to start with error:
[code]

I have seen this same error in prior release issues.  What is the cause of this type of issue and what measures can be taken to prevent it?

**Steps to reproduce the issue:**
1. Created a new service with one replica using `--publish mode=host` for the port mapping
2. Increase the service replicas to 2
3. Watch the `dock

[2017-02-16 19:34] shin- opened #31101 "Add support for `extends` feature in Compose v3 / docker stack deploy"
As can be seen in https://github.com/docker/compose/issues/4315 , the `extends` feature that exists in `docker-compose` seems to be popular among users despite its flaws. However, it has so far not been added in the Engine's implementation of the Compose format. So far, we have advised users to simply flatten their Compose file structure when using v3, but is this the long-term solution we want to

[2017-02-16 19:37] friism commented on #31097
@benjaminellison do you also get this error if you use a non-ISE powershell or cmd.exe?

[2017-02-16 19:38] drnybble commented on #31093
My Server2016 system is up-to-date. I have the latest microsoft/windowsservercore image (just confirmed).

[2017-02-16 19:38] dperny commented on #28793
I'm actively working on this right now, actually, it's my current P1.

[2017-02-16 19:39] dnephin commented on #31092
This is working correctly, it should be a warning:

[code]

[2017-02-16 19:41] sanimej commented on #31043
So it look like more than the daemon upgrade to 1.13.1 its the service update that triggered the issue.. I will give it a try.. To narrow down this some more, can you try creating a new service and see if the LB works ok for that ?

[2017-02-16 19:46] rhvgoyal commented on #27381
Device is busy somewhere. Can you try following script after the failure and see where device might be busy.

https://github.com/rhvgoyal/misc/blob/master/find-busy-mnt.sh

./find-busy-mnt.sh <device-id>

`./find-busy-mnt.sh dd81b82c875f4bcef819be83e9344c507965a9e9f48189f08c79fde5a9bde681`

[2017-02-16 19:50] tswift242 commented on #31060
We are also seeing this on 1.13.1. Top shows dockerd taking 100-600% cpu on our hosts, depending on how long the host has been up. What's the priority on releasing a fix for this? If this is at all easy to reproduce (which it seems it is, I see the cpu usage spike on hosts that have only been up one hour), this seems like a very high priority issue. We are having to rollback until a fix is out.

[2017-02-16 19:51] cpuguy83 commented on #31060
@tswift242 PR is already open, it will be in 1.13.2.

[2017-02-16 19:52] ahmedsajid commented on #31068
I'm experiencing exactly same issue as @silveraid
Any help would be appreciated.

[2017-02-16 19:53] tswift242 commented on #31060
@cpuguy83 Thanks for responding and working on the fix for this. Any ETA for when 1.13.2 will be released?

[2017-02-16 19:55] cpuguy83 commented on #31060
@tswift242 No date yet. Not this week.

[2017-02-16 19:58] venglar commented on #5618
I just ran in to this error, after using docker-py to publish a new instance to EC. However, I was able to exit with ctrl+C, and haven't seen it since (now that most of the images are building more quickly from the cache)

[code]

[2017-02-16 19:59] aluzzardi commented on #26259
@rreinurm With swarm mode, containers have an implicit anti-affinity with themselves. It will put every instance of your service in different machines, if that's possible.

Would that work for you?

[2017-02-16 20:01] kixiro commented on #31074
Beggining of the problem:
<pre>
Feb 16 03:57:33 node-dev2 dockerd[1132]: time="2017-02-16T03:57:33.313511814+03:00" level=error msg="libcontainerd: failed to receive event from containerd: rpc error: code = 13 desc = transport is closing"
Feb 16 03:57:33 node-dev2 dockerd[1132]: time="2017-02-16T03:57:33.313970458+03:00" level=error msg="Create container failed with error: transport is closing"
Fe

[2017-02-16 20:02] toutougabi commented on #31043
no any new service has the same issue, that was my first thought so i re-created some of the services and it didn't help...

[2017-02-16 20:02] msabansal commented on #31093
Can you please execute this command in the container:

 [System.Diagnostics.FileVersionInfo]::GetVersionInfo("C:\Windows\system32\dnsrslvr.dll") | fl *

[2017-02-16 20:02] pascalandy commented on #26259
I don't think it cover[ this scenario](https://github.com/docker/docker/issues/26259#issuecomment-260967300):

**The case** - This is great in many cases but there is a major concern here. Let’s say I have 3 machines running docker create scale mysql=3. Swarm deploy one instance per machine and life is good.

**The challenge** - When 1 node goes down, the scheduler will deploy the third mysql inst

[2017-02-16 20:04] tonistiigi commented on #31017
Actually only managed to reproduce once, so didn't have a chance to debug this. @JackyChen255 is it flaky for you as well or consistent. Is there a specific timing that would make it easier to show up?

[2017-02-16 20:29] drnybble commented on #31093
PS C:\> [System.Diagnostics.FileVersionInfo]::GetVersionInfo("C:\Windows\System32\dnsrslvr.dll") | fl *

FileVersionRaw     : 10.0.14393.0
ProductVersionRaw  : 10.0.14393.0
Comments           :
CompanyName        : Microsoft Corporation
FileBuildPart      : 14393
FileDescription    : DNS Caching Resolver Service
FileMajorPart      : 10
FileMinorPart      : 0
FileName           : C:\Windows\System3

[2017-02-16 20:31] sirlp2 commented on #31100
**Update - Found the cause**

Because of issue #25526 we create our service with `--publish mode=host,target=443,published=443`.  If you then increase the replicas for this service to > 1 it will fill up the `docker_gwbridge` network with stale entries.

[2017-02-16 20:33] b-a-t commented on #25393
By adding yet another, dummy network I managed to start all networks without problems. Seems, it's all depends on timing and some other subtle factors.
[code]

[2017-02-16 20:54] JackyChen255 commented on #31017
@tonistiigi I can easily reproduce it, although can't always reproduce it. Run "docker commit containerID" twice in Docker host to commit two images. Then download these two images from different machines at the same time. One download fails, and the other download suceeds.
1: [root@AAA tmp]# curl -XGET -sv 172.24.25.184:4243/v1.26/images/get?names=992afced0327 > /tmp/1.tar
2: [root@BBB Base]# cur

[2017-02-16 21:07] msabansal commented on #31093
@drnybble This file version looks old. A simpler command would have been to just list images using docker images
Please see if docker pull microsoft/windowsservercore fixes the issue

[2017-02-16 21:08] TroelsL commented on #20570
I just had this issue on 1.13.1 immediately after upgrading, I can't start some (not all) of my containers.

[2017-02-16 21:12] aluzzardi commented on #26259
Here are my (personal) thoughts about that - I might be wrong but that's how I see it:

if you have more than 3 machines, then it won't go into the same machine as another mysql.

If you only have 3 machines, if you're using proper resource limits / reservations, then the 2 mysqls running on the same machine won't step into each other.

I don't think two mysqls running on the same machine are a pr

[2017-02-16 21:13] cpuguy83 commented on #20570
@TroelsL Please open a new issue with as much detail as you can provide.

[2017-02-16 21:13] mlaventure commented on #31074
@kixiro can you check that `docker-containerd` is alive?

If so, could you check if `docker-containerd-ctr --address unix:///run/docker/libcontainerd/docker-containerd.sock containers` works?

And finally, send a `SIGUSR1` to the `docker-containerd` process and provide the resulting stacktrace (it will appears in the docker daemon logs)

[2017-02-16 21:38] crosbymichael commented on #28941
I think the logic should be changed to:

[code]

[2017-02-16 21:41] prydin commented on #24310
I'm seeing the same problem: The routing mesh doesn't work at all. However, the netstat output on the worker node is a bit interesting. It seems that 7946 is only open to IPv6 traffic on the worker:

[code]

However, it looks like the manager node is trying to contact it over IPv4:

[code]

Is there a way to force all nodes to listen to IPv4?

[2017-02-16 21:54] dperny commented on #29987
This is like a P2 or a P3 for me right now, so I don't know when I'll get to it.

[2017-02-16 22:01] toutougabi commented on #31043
i'd add that we routinely updated containers on 1.13.0 without any issue

[2017-02-16 22:19] tophj-ibm commented on #31061
Looks like the aarch64 dockerfile isn't installing golint at all.

Can you try adding this to Dockerfile.aarch64 and then running 'make validate'? https://github.com/tophj-ibm/docker/commit/12a8a916fd790c10e167aba6cb385801ff717519

If that works I'll go ahead and submit it, I just don't have an aarch64 machine to test it on.

[2017-02-16 22:33] thaJeztah commented on #24310
@prydin could you're  open a new issue with details (as requested in the issue template), steps to reproduce? This issue was closed, and there's a number of different issues related to networking being reported here (not all related); having a separate issue makes it easier to follow, and to confirm it's the same issue / different issue.

I'm locking the conversation on this issue to prevent it fr

[2017-02-16 22:46] jsharpe commented on #31092
My bad, I missed the warning; I'd been skimming the output as I was having to ignore the unable to pin image warnings too.

[2017-02-16 23:15] aboch commented on #31100
Same root cause of #30938

Fixed in swarmkit by https://github.com/docker/swarmkit/pull/1952

Fix already ported to docker 1.13.x branch.

This issue will be closed when latest swarmkit is vendored to docker master.

[2017-02-16 23:45] thaJeztah commented on #30724
@garciasa can you open a new issue with the information that's requested in the issue template (including `docker version`, `docker info`, steps to reproduce? It _can_ be an issue specific to Docker for Mac (but hard to tell without more information), in which case we may ask you to reopen in the docker for mac issue tracker (https://github.com/docker/for-mac/issues)

Logfiles would probably be ne

[2017-02-16 23:46] thaJeztah commented on #30724
I am locking the conversation on this issue, because the original issue was resolved, and there's many reasons for the `EOF` issue to occur. If you are running into this issue, please open a new issue

[2017-02-16 23:49] CoRfr opened #31105 "Leak of volumes"
**Description**

I'm observing a memory leak of volumes which fills up my disks relatively quick.
I'm using various containers, some are linked together using `--link` or `--volumes-from`.
What I'm seeing is that a lot of containers are left behind at the moment
[code]

I just took `f36a6dedd2` as a random example. When trying to remove it docker says that is in use by container `93734bf14`, but a

[2017-02-17 00:46] fntlnz commented on #31105
@CoRfr can you post the output of `btrfs subvolume list -p /` ?

[2017-02-17 00:56] cpuguy83 commented on #31105
Sounds like a dup of #21845 which is fixed on master.

WDYT?

[2017-02-17 00:56] CoRfr commented on #31105
@fntlnz it looks like this:
[code]

(Full output here: http://pastebin.com/uYpPAgy3)

[2017-02-17 00:59] CoRfr commented on #31105
It does look very similar to #21845, any plans in porting this fix back to 1.12?

[2017-02-17 01:00] cpuguy83 commented on #31105
Definitely not 1.12.
Considering adding it to 1.13.2 milestone since it's pretty simple and mostly test code.

[2017-02-17 01:09] premier424 commented on #31026
The issue is solved when I reinstall docker with version 1.6.2 and kernel version keeping at 4.4.49. Thank you so much.

[2017-02-17 01:09] #31026 closed

[2017-02-17 01:12] #25608 closed

[2017-02-17 01:12] #28291 closed

[2017-02-17 01:12] #30854 closed

[2017-02-17 01:12] #30938 closed

[2017-02-17 01:12] #31100 closed

[2017-02-17 01:15] #31060 closed

[2017-02-17 01:17] kbrwn opened #31106 "unable to modify permissions of /dev/stdout without tty"
**Description**

Permission denied error when attempting to `chmod /dev/stdout` without passing `-t` to `docker run`. Selinux is enabled and enforcing.

**Steps to reproduce the issue:**
1. Enable selinux on daemon
2. Set to enforcing mode
3. Run `docker run -i fedora chmod +r /dev/stdout`

**Describe the results you received:**

chmod: changing permissions of '/dev/stdout': Permission denied.
avc

[2017-02-17 01:32] aluzzardi commented on #30883
Question is, should we fix docker or lower swarmkit's concurrency?

[2017-02-17 01:34] #30991 closed

[2017-02-17 01:43] aluzzardi opened #31107 "Metrics API exposure"
#25820 added metrics to the engine (great).

At that point it was decided to expose metrics on an entirely different endpoint, controlled via `--metrics-addr` (an experimental flag).

This raises a few concerns regarding exposing an unprotected port. For some exposing a plain text port is fine, for others leaking container IDs etc is bad.

There are a few ways to get around that, one would be to u

[2017-02-17 01:49] cpuguy83 commented on #31105
Going to close this since indeed it does look like it's the same issue.
Feel free to discuss here, though.

[2017-02-17 01:49] #31105 closed

[2017-02-17 01:49] saiwl commented on #29638
Actually this is not a leak, it's the design of linux core, see https://lists.linuxfoundation.org/pipermail/containers/2007-October/008055.html.
Here is how I solved this problem: I ran a crontab job which runs a process which occupies 80% of the host memory per day. This is simple but useful for me, hope it's also useful for you.

[2017-02-17 02:04] stevvooe commented on #31107
@aluzzardi The `/metrics` endpoint is a read only API. Exporting the docker API is not granular enough, in practice, to allow prometheus to only hit the metrics endpoint while avoiding the exposure. By providing different paths for these API, operators can export the `/metrics` API with confidence that they won't be giving the keys away to the castle. Valid configurations that only bind the docker

[2017-02-17 02:10] msabansal commented on #30260
@rs38 I sent you an e-mail offline. Can you please check if you got it?

[2017-02-17 02:13] esabol commented on #30801
Upgrading to CentOS 7.3 didn't help, of course.

Going to try `userland-proxy: "false"` next, even though I have been advised above that it's problematic. Pointers to more information on that would be useful. I haven't found much discussion of it.

I wonder if why I'm seeing so much slower networking performance using docker-proxy is because my host only has 4 cores? Is there an optimal number of

[2017-02-17 02:26] rsyring commented on #28614
I ran the following command, derived from this post:

On an Ubuntu 14.04 host but the command just hangs.  Docker version 1.13.1.  Should I not expect 14.04 to run systemd inside a container or did something possibly change with newer versions of docker that prevent this from working any longer?

[2017-02-17 02:43] thaJeztah commented on #28614
the example above probably requires systemd to be present on the host as well, so that the right cgroups are present before the container is started. You can try removing the `:ro` when starting the container the first time, so that systemd from inside the container sets them up

[2017-02-17 03:11] darrenlong commented on #18163
hello，i have problem ,i only use docker ,etcd, i create overlay is name ovr0 ,i docker run 3 containers on 2 hosts,i Immediately docker network inspect ovr0 ,the inspect contains theses containers,after time, i want to
inspect ovr0's containers.but no these containers .but 3 conntainers can ping ok. and ,after time,the multi_host contains can not ping ok ,the 1 host's 2 containers can ping ok. why

[2017-02-17 03:25] Bekt commented on #5618
@thockin is this setting `--hairpin-mode=none` on the kubelets?

[2017-02-17 03:29] wyqydsyq opened #31110 "docker build inexplicably hangs on RUN mkdir on OpenSUSE Tumbleweed"
**Description**
When I attempt to build any given docker image it will hang indefinitely on my `RUN mkdir` step.

OS: `OpenSUSE Tumbleweed x64`
Kernel: `4.9.9-1`

**Steps to reproduce the issue:**
1. Attempt to build an image with `docker build ./`

**Describe the results you received:**
Build hangs

**Describe the results you expected:**
Build completes

**Additional information you deem importan

[2017-02-17 04:40] wyqydsyq commented on #31110
I tried downgrading to docker `1.12.6` and have the same issue:
![image](https://cloud.githubusercontent.com/assets/621277/23052612/661bacc6-f51e-11e6-92a5-25a022e36946.png)

It may be possible that the issue is caused by incompatibilities with underlying dependencies? I noticed that when installing the `docker-engine` package from the official Docker yum repo it doesn't list `runc` and `container

[2017-02-17 05:04] thinkhard-j-park opened #31111 "network sandbox does not exist for contain..."
**Description**

I created servcie from one of manager nodes that is not leader in swarm mode. I have 3 manager nodes, 3 worker nodes.
Some of services continuously recreated with error "..network sandbox does not exist for contain..".
If I encountered this error, it looks that swarm overlay network getting unstable. Please refer detailed logs as belows.

**Steps to reproduce the issue:**
1. creat

[2017-02-17 05:17] aboch commented on #31111
Regarding the error, it looks like the task container is already down when docker wants  to disable the service binding for the service.

You need to check why the tasks complete that fast.

Please post the `docker service create` command you used.

[2017-02-17 05:21] thinkhard-j-park commented on #31111
Hi,
I used below command on my bash script. The bash script will create 7~ 8 services.
 docker service create  --name $NODE \
                           --hostname $NODE \
                           --mount type=bind,source=$HADOOP_APP,destination=/mnt/app \
                           --mount type=bind,source=$HADOOP_PERSISTENT,destination=/mnt/persistent \
                           --env NODE=$N

[2017-02-17 05:33] rsyring commented on #28614
I wondered if that might be the case.

Thanks for the suggestion but I have the same issue when removing `:ro`.

[2017-02-17 05:37] allencloud commented on #31096
I searched in the source code, and it is not supported yet.

#dibs

[2017-02-17 05:39] aboch commented on #31111
You are not passing any command after the image or does that image start a command automatically?

I am wondering whether a command is in fact needed and the container terminates right away because no command was passed. So Swarm keeps starting a new task continuously.

[2017-02-17 05:42] aboch commented on #31019
@groyee
That is a bug.

[2017-02-17 05:55] wyqydsyq commented on #31110
I thought this may be a Btrfs issue as even after I deleted all containers and images then uninstalled the docker package I have there were still hundreds of subvolumes in `/var/lib/docker/btrfs`, so I just completely uninstalled `docker-engine`, ran `btrfs subvolume delete` on each subvolume and then `umount`ed my `/var/lib/docker/btrfs`. So it doesn't seem to be related to Btrfs unless I'm missi

[2017-02-17 05:57] thinkhard-j-park commented on #31111
That is my custom image for hadoop. It don`t need to pass any command since it call docker-entrypoint.sh internally. It actually run hadoop name node. It works well when I runned it with docker-compose from single host. Anyway, you suspect that the container is terminated right way by some reason. I'll recheck my configurations.

[2017-02-17 05:58] thockin commented on #5618
=none breaks containers that get NAT'ed back to themselves.  We use
promiscuous-bridge by default.

On Thu, Feb 16, 2017 at 7:26 PM, Kanat Bekt <notifications@github.com>
wrote:

[2017-02-17 06:24] rsyring commented on #28614
For what it's worth, i tried this on a 16.04 box and could never get the container to start, it just hangs.

[code]

[2017-02-17 06:38] wyqydsyq commented on #31110
I just changed my daemon configuration to use `devicemapper` instead of `btrfs` and I can `docker build ./ --no-cache` on the exact same `Dockerfile` without issues now so I'm confident this is an issue with the `btrfs` storage driver.

[2017-02-17 07:22] thaJeztah commented on #31111
are the directories you're bind-mounting present on all nodes? when using services, docker won't automatically create those directories if they don't exist, and will error out

[2017-02-17 07:25] thinkhard-j-park commented on #31111
yes. it is nfs dir and shared to all nodes.

[2017-02-17 07:56] rs38 commented on #30260
it did not arrive, but there was a problem with the alias. please resend to rs38github@outlook.com

[2017-02-17 08:06] sluther commented on #29704
I found out that if I issue `docker-compose stop mysql && docker-compose start mysql`, the issue goes away. If I try `docker-compose restart mysql` however, once the error pops up, it remains until stopping and starting.

[2017-02-17 08:37] redbaron commented on #5618
@thockin which containers might want to access themselves via Service ClusterIP ?

[2017-02-17 08:53] demaniak commented on #31081
Hi @aboch thanks, yes I have done exactly that last night: recreated overlay network without the encryption  option, and lo and behold, things are WORKING.

Also, yes, the swarm is straddling two data centers.

A query about the ESP packets has been raised, waiting for an answer from the hosting provider.

Do you maybe know of some sort of semi-automated docker swarm diagnostic script/container/co

[2017-02-17 09:17] taliaga commented on #26259
@pascalandy What's the problem of using "global deploy" + "node constraints" as mentioned above?

[2017-02-17 09:22] justincormack commented on #29638
@BenHall is there still a 65536 limit though with 4.9.9? I thought this was gone. It might be the mountpoint running out of inodes now.

[2017-02-17 09:25] sandys commented on #29293
we are facing the same issue. is there a workaround ?

[2017-02-17 09:40] BastienAr commented on #31095
I've just checked the secret objects in docker. This is great, and actually solve a problem we were facing with ssh keys. Indeed supporting config objects in a same way will perfecly match the previous usecase.

I'm not sure to understand why and what would be the problem of deleting volumes created inside a stack, if you're sure of what you're doing (hence the *-v* option). Could you clarify this

[2017-02-17 10:21] sandys commented on #29293
we have to do an explicit docker network rm something_default to be able to recreate the stack

[2017-02-17 10:30] WillCup commented on #24812
what's the meaning of 'only supported with experimental daemon' in 1.13, is it not stable yet?

How can I turn my docker daemon to an experimental one?

Thanks

[2017-02-17 10:38] justincormack commented on #29638
@BenHall can you provide a standalone way of replicating this? I am currently just running lots of containers (using `--rm`) and the cgroups number does seem to be going back down. This is on docker for mac, which is a 4.9 kernel.

[2017-02-17 10:41] hartmut27 commented on #22338
Deinstall and re-installation of Docker for Windows solved the issue in my case (Win 10).
I rember, the first install did not finish correctly, because, when doing the second install, I received a Welcome Popup Screen saying "Docker is now up adn running! Open your favorite terminal and start typing Docker commands! ..."  This popup was missing at the first attempt.

[2017-02-17 10:41] justincormack commented on #29638
It could be that @dberzano is a clue, ie that there maybe has to be an oom event, or the containers are not cleanly killed or similar, possibly. Or just that they use a lot of resource that is staying around. Not sure how best to simulate that easily.

[2017-02-17 10:56] justincormack commented on #31106
Not sure this is a bug - the pipe is a host resource, not a container resource. Seems correct to not allow it.

[2017-02-17 10:57] shouze commented on #31101
I've added some notes https://github.com/docker/compose/issues/4315#issuecomment-280617251 to me bringing back extends as it exists up to docker compose file 2.1 version is not a good idea but the main feature I miss is to be able to declare abstract services (that should never be runned but could be used to group common properties of services for convenience).

[2017-02-17 11:03] shouze commented on #29304
I've pushed somme reflexion about to bring back extends or not and I think there's an opportunity to make something great again 👼 https://github.com/docker/compose/issues/4315#issuecomment-280619398

[2017-02-17 11:14] abronan commented on #30847
Just stumbled upon this and adding some insights:

**Solution 2** is sightly trickier than **Solution 1** because you need to make sure that the EC2 instance of the faulty node is removed which involves a bit of coordination. Cluster ID must be unique and if the failed instance somehow recovers when we are compensating for the failure with a newly added instance, the existing quorum may accept req

[2017-02-17 11:18] eyal-lupu commented on #29293
@dnephin - there are cases in which we would like to rm + redeploy for example on DEV and QA environments (as oppose to production in which we redeploy on top of existing deployment). The result is interrupted work processed for developers and automated testing.

[2017-02-17 11:34] mvdstam commented on #30321
@sanimej @dongluochen I have created a simple testcase with the added `sleep` delay as suggested by @sanimej: https://github.com/mvdstam/docker-rolling-upgrade-test.

As you can see in [this screencast](http://screencast-o-matic.com/watch/cbnbXw6lSm), this seems to work perfectly in combination with the `healthcheck` configuration of this webservice. I can perform upgrades of the webservice withou

[2017-02-17 11:47] markvr opened #31115 "'docker stack deploy' randomly updates services that haven't changed"
**Description**

When doing ` docker stack deploy -c test.yaml test`, services in the stack will randomly be updated, even if there are no changes.  Weirdly, this only seems to be the case for services that have environment variables, but it's hard to investigate because the issue is transient.

**Steps to reproduce the issue:**
1. Create a simple test stack, with environment variables for a servi

[2017-02-17 11:50] BenHall commented on #29638
I'll see if I can put together a demo over the weekend...

[2017-02-17 12:00] enricforn opened #31116 "docker stats show image name running container"
I'd like to print image name from my current running containers, while showing statistics. The issue si similar to https://github.com/docker/docker/issues/20973, but referring to image name

docker stats --format "table {{.Container}}\t{{.Name}}\t{{**.ImageName**}}\t{{.CPUPerc}}\t{{.MemUsage}}\t{{.BlockIO}}\t{{.NetIO}}"

Request is: property .ImageName should be available to format shown statistic

[2017-02-17 12:12] MuchContact commented on #18869
@gaboesquivel Perfect! I got as much as 10G disk space!

[2017-02-17 12:19] ilya-bystrov commented on #26259
@aluzzardi

I think, it's not so good. Here is another example, I launch HDFS cluster with 10 DataNodes. In my opinion, it's convenient to store stateful datanode data on host (bind-mounted volume). But, of course, it's unacceptable to run 2 or more DataNode containers on same host.

[2017-02-17 12:41] justincormack commented on #29638
ACtually I am starting to get some apparent leakage, will continue creating more containers and investigate

[2017-02-17 13:01] skryzhny commented on #29756
We moved to docker 1.12.5 and bits limit increased from 745 to 16776960 so that problem not such critical for us at the moment.

We still have that problem and after two days of running we got
`Free 16776130 from 16776960`

[2017-02-17 13:05] DaveOHenry opened #31117 "Delayed response from swarm mode container when many requests are sent in a certain time window"
**Description**
We are currently evaluating swarm mode and during some of our tests we encountered a strange behavior:
When sending many http requests to a simple webserver container that is deployed in the swarm there are a lot of "TIME_WAIT" tcp sockets inside the container. After a while they disappear, but when hitting a certain number (around 28000 in our case) the container does not immediat