[2015-10-04 13:33] andorp commented on #16746
docker version
Client:
 Version:      1.8.2
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   0a8c2e3
 Built:        Thu Sep 10 19:10:10 UTC 2015
 OS/Arch:      darwin/amd64

Server:
 Version:      1.8.2
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   0a8c2e3
 Built:        Thu Sep 10 19:10:10 UTC 2015
 OS/Arch:      linux/amd64

[2015-10-04 13:34] andorp commented on #16746
I would like to push to the Docker Hub

[2015-10-04 13:35] andorp commented on #16746
docker-machine upgrade default
    Stopping machine to do the upgrade...
    Upgrading machine default...
    Get https://api.github.com/repos/boot2docker/boot2docker/releases: dial tcp: i/o timeout

[2015-10-04 13:52] nabheet commented on #16750
Yup, quite unfortunate! :+1:

[2015-10-04 14:15] #16750 closed

[2015-10-04 14:16] jfrazelle commented on #16750
its back, il look into what happened later looks like the apt repo was
uneffected...

On Sun, Oct 4, 2015 at 6:53 AM, Nabheet Sandhu <notifications@github.com>
wrote:

[2015-10-04 14:18] jfrazelle commented on #16750
also the changes were applied to the yum repo as well...

[2015-10-04 14:45] apatil commented on #14788
@mrjana it's a Flannel bridge with a /24 subnet. There were no IP address exhaustion issues with the same setup on Docker 1.6.

The problem is occurring now on one of our machines. There are 29 containers running, and 14 of them share the network of another container, so there are plenty of IP addresses available in the subnet.

[2015-10-04 15:03] nabheet commented on #16750
Thank you!

[2015-10-04 15:35] ibuildthecloud commented on #16206
Totally forgot about this one...

[2015-10-04 15:50] Josh-a-e commented on #16746
@andorp I get the same up until the failed upgrade - worked fine for me. How did it work out for you: did you find a solution?

[2015-10-04 16:21] #16155 closed

[2015-10-04 18:36] #16458 closed

[2015-10-04 19:38] elgalu opened #16754 "New command: docker wait-ready $CONTAINER"
### Problems:

1. When creating a container in daemon mode `docker run -d` the prompt is returned immediately but that doesn't mean the container finished starting.

2. There is no best practice on performing active waiting

### Solution

a. Add `docker run -d` cli option `--wait-ready=true` to specify that it should hold the shell prompt until the container finished starting. Non-breaking change,

[2015-10-04 19:38] GordonTheTurtle commented on #16754
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-04 20:47] Josh-a-e commented on #15612
I'm encountering this issue on 1.8.2 (both Client and Server) and no docker-machine upgrading has helped - somewhat out of ideas having tried pushing to private and public repos on both hub.docker.com and quay.io.

This is what I encounter:
[code]
It looks like the first few steps resolve successfully, but then the uploading of metadata step fails and the invalid character "<" is the first charact

[2015-10-04 21:21] duglin commented on #16754
I think you can get similar net result by using:
[code]
and then just write a script that checks for it to be in the desired state.

[2015-10-04 21:36] Soulou opened #16755 "Panic when pulling an image, ApplyLayer - too many links""
Hello everyone,

I wanted to pull `nsqio/nsq:v0.3.6` but my docker daemon crashed (with all my containers :() with the following error.

It only occured on one server (docker 1.7.1, kernel 3.13.x, btrfs backend, lot of free ram and lot of free disk space), everything went well on the others. The error is repeatable, I have not restarted the server yet.

I'm wondering the cause of this error, and m

[2015-10-04 21:36] GordonTheTurtle commented on #16755
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-04 22:32] thaJeztah commented on #16734
I see you also opened this issue in the distribution issue tracker; https://github.com/docker/distribution/issues/1061, so I'll close this issue here.

[2015-10-04 22:32] #16734 closed

[2015-10-04 22:35] fedya commented on #15053
@domenkozar thanks for your commit, really helped me to fix similar issue on armv7hl port.

[2015-10-04 23:41] LK4D4 commented on #15912
Also now container can take daemon port too.

[2015-10-04 23:53] LK4D4 commented on #16738
@MHBauer seems to work for me. Do you use remote daemon?

[2015-10-05 01:30] HuKeping commented on #15639
Why not just add those fields to `info`, I mean the `Running`, `Paused` and `Stopped`

[2015-10-05 01:52] HuKeping commented on #10867
Agree on a new endpoint for deleting all images/containers, just wonder if  `_all` is a good choice

[2015-10-05 03:29] HuKeping opened #16756 "Proposal: use of checkers on Integration test"
Use c.Assert instead of those conditionals like
[code]
I'll take integration-cli/docker_cli_search_test.go  #16758  as a sample.

ps: feel free to do a PR with multiple files :smile:

- [x] integration-cli/docker_api_attach_test.go @mountkin #16920
- [x] integration-cli/docker_api_build_test.go @vdemeester #17056
- [x] integration-cli/docker_api_containers_test.go @aditirajagopal #18216
- [x] inte

[2015-10-05 03:29] GordonTheTurtle commented on #16756
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-05 05:02] haoyangz commented on #14203
@meeee @andrecp @AlbertodelaCruz @chrisjhoughton Just to clarify, by adding a FOO env variable do you mean adding a line like the following to the Dockerfile?
[code]

I tried this but it doesn't work for me...

[2015-10-05 05:09] AlbertodelaCruz commented on #14203
Yes, in the docker-compose yaml just to add a foo variable. It seems
problem comes with some kind of command length it results from the yml.
On Oct 5, 2015 07:04, "haoyangz" <notifications@github.com> wrote:

[2015-10-05 05:19] vikstrous commented on #14767
I have the opposite use case: I want to be able to mount only certain abstract unix domain sockets without using -net host.

In terms of UX I think it makes sense to treat abstract unix domain sockets separately from both files and networks regardless of how the isolation is actually implemented.

[2015-10-05 05:21] LK4D4 commented on #14203
@mrunalp @crosbymichael any ideas here? Looks superweird, error is definitely from libcontainer.

[2015-10-05 05:26] LK4D4 commented on #15912
@tianon ok, I fixed it and found that last time I wrote false-positive test. Will post PR tomorrow.

[2015-10-05 06:15] tianon commented on #15912
You're a hero, @LK4D4! :heart:

[2015-10-05 06:19] visumagic opened #16760 "Access docker in Windows using Putty"
I am not able to login through Putty. I followed the steps mentioned in following manual.

https://docs.docker.com/installation/windows/

[code]

[2015-10-05 06:19] GordonTheTurtle commented on #16760
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-05 06:33] RustJason commented on #15488
@Pensu tryed, don't work

[2015-10-05 08:05] fgimenez commented on #11560
Can this be written as an e2e or integration test? Haven't seen any of those in the codebase, probably this is meant to be manual, right?

Thx,

[2015-10-05 08:12] rodolfo42 commented on #15603
Same issue here. However, removing all images alone solved the issue for me:
[code]

[code]

[2015-10-05 08:31] Pensu opened #16762 "Proposal: NUMA topology in docker info"
In many cases, it might be required for the user to be aware of the NUMA topology of the docker host in order to specify valid 'cpuset' for the containers.Currently NUMA topology information is not available via docker APIs. It's available by using commands like numactl or lscpu or via sysfs.
This proposal is for considering addition of NUMA topology info to docker Info API so that the same can be

[2015-10-05 08:44] lucasvc commented on #13817
Today I've realized,... that can't either left or right arrow to move in the same command line.
Docker:

    Client:
     Version:      1.8.1
     API version:  1.20
     Go version:   go1.4.2
     Git commit:   d12ea79
     Built:        Thu Aug 13 02:49:29 UTC 2015
     OS/Arch:      windows/amd64

ConEmu: `150913 alpha`

[2015-10-05 09:17] Khazrak commented on #16677
I switched from Nginx proxy (basic auth) to Docker Registry's native basic auth and now 1.8.2 works fine.

[2015-10-05 09:57] cxxly opened #16763 "Docker fails to start with firewalld enabled on CentOS 7.1"
###Description of problem:
After installed docker with [Install with the script](https://docs.docker.com/installation/centos/#install-with-the-script) method on  centos7 , I can't start docker daemon with command <code> systemctl start docker </code>.

###Information
    docker version, docker info:
    no result after execute these command.

    cat /etc/redhat-release
    CentOS Linux release 7.

[2015-10-05 10:18] thaJeztah commented on #16763
@cxxly this looks like the same issue as https://github.com/docker/docker/issues/15498.

If I'm correct, this will be resolved with the upcoming 1.9 release (https://github.com/docker/docker/pull/15832), but as a workaround, you can use the instructions that are described here; https://github.com/docker/docker/pull/16550

Could you test if the workaraound in https://github.com/docker/docker/pull/1

[2015-10-05 10:30] thaJeztah commented on #14073
I'm closing this issue, because this looks to be an issue with the setup. Also, we no longer support CentOS/RHEL 6.x platforms.

If you're still running into problems, please join the #docker IRC channel and ask there for assistance

[2015-10-05 10:30] #14073 closed

[2015-10-05 10:33] andorp commented on #16746
Coming to office today and trying to upgrade docker machine worked. It is only a coincidence, or change of network, as we use docker in corporate env. Trying the same from home again.

[2015-10-05 10:33] andorp commented on #16746
From my part this issue can be closed.

[2015-10-05 10:42] ain commented on #16746
Not on my part. Still getting the error.

[2015-10-05 10:51] thaJeztah commented on #16746
@ain are you trying to push to Docker Hub or a private repository? I see you also opened another issue; https://github.com/docker/machine/issues/1937 which sounds like the VM may be having networking issues, which could be related to https://github.com/boot2docker/boot2docker/issues/776.

[2015-10-05 10:52] stevengonsalvez commented on #16746
Having the same problem  and when trying to upgrade

MB536:~ b8886963$ docker-machine upgrade default
Stopping machine to do the upgrade...
Upgrading machine default...
Downloading https://github.com/boot2docker/boot2docker/releases/download/v1.8.2/boot2docker.iso to /Users/b8886963/.docker/machine/cache/boot2docker.iso...
Get https://github.com/boot2docker/boot2docker/releases/download/v1.8.2/boo

[2015-10-05 10:59] ain commented on #16746
I now upgraded manually by replacing the ISO at `~/.docker/machine/<name>/boot2docker.iso` with `1.8.2` so client and server are having exactly the same version, but the problem persists. I can not push. I even killed the private image on Docker Hub, still the same. Terrible.

Unfortunately it has grown into a __blocker-grade issue__ that is currently killing our whole dev environment.

[2015-10-05 11:00] jersur commented on #15712
@lixgbg - Thank you. That worked

[2015-10-05 11:29] Josh-a-e commented on #16746
I've had this solved by coming into work too actually, I'm not sure if something has changed with the registry (I find this unlikely?) or it's the result of using a different internet connection (although I find it equally unlikely that this would solve the issue). I plan on pushing again just before I leave and then again when I get home to see if it is related to my connection.

[2015-10-05 11:54] joozek78 commented on #10318
Did I miss something or are passwords still stored in cleartext after 10 months (from discovery)?

[2015-10-05 12:03] ain commented on #16746
Changing connection did not help. Restart did not help either. I left last week having with this issue and I'm experiencing it again today, on every push.

[2015-10-05 12:09] leebenson commented on #10490
any luck with your experiments? I'm in exactly the same boat - I have plenty of use cases where I care about speed more than durability.

[2015-10-05 12:09] thaJeztah commented on #16746
does your daemon log give any useful information? if possible, add the `-D` (debug) option to your daemon options

[2015-10-05 12:15] VivaceVivo commented on #6325
I had the same problem and was not able to fix it because I did'nt want to go for the full nuke: /var/lib/docker/ solution.
I found something promising at:
http://grokbase.com/t/gg/docker-user/1563fzdtm7/docker-docker-runs-out-of-space-when-trying-to-create-a-new-image
'The default docker storage driver allocates 10GB storage blocks for your
images. Move to overlayfs and avoid this entirely. In th

[2015-10-05 12:19] ain commented on #16746
@thaJeztah where exactly should I define the debug option while running on OS X?

[2015-10-05 12:25] ain commented on #16746
What I can currently see in the log is
[code]
So could be a CDN issue?

[2015-10-05 12:31] thaJeztah commented on #16746
@ain it's possible, you could try opening an issue via support@docker.com, which handles Docker Hub. They may have more insight in your specific situation.

[2015-10-05 12:33] mariussturm commented on #16330
Sorry can not reproduce. Works as intended for me. I would close the ticket for now. If there are more people with the same problem please ping me.

[2015-10-05 12:42] thaJeztah commented on #15488
@RustJason I'm going to close this issue, because this is not really a bug in Docker, but a support question. However, feel free to continue the discussion here or ask for support in the #docker-dev IRC channel

[2015-10-05 12:42] #15488 closed

[2015-10-05 12:46] thaJeztah commented on #16756
Looking at the length of this list, I think you can use some help here :+1:

I'll give a shout in the IRC channel to see if there are maintainers/contributors looking for something to work on :)

[2015-10-05 12:48] ain commented on #16746
Thanks, just did it.

For the record: logging out and logging in again also had no effect.

Since others reported it starting working after a while, I have a reason to believe it's a CDN re-evaluation issue.

[2015-10-05 12:52] vdemeester commented on #16756
Yeah, we'll split this : I think I'll have to complete this quick to enable easier check writes : https://github.com/vdemeester/shakers.

@HuKeping could you update the title with something like : Update the use of checkers on Integration test or something ?

[2015-10-05 13:00] vdemeester commented on #16756
PS : I'll send a PR real quick to integrate more checkers so that it is even easier to write `Assert`s :wink:.

[2015-10-05 13:02] thaJeztah commented on #16746
Thanks @ain. please keep us posted if that was the case. I added the "more-info-needed" label; we check those labels once in a while for issues that can possibly be closed

[2015-10-05 13:13] vlerenc commented on #14718
Great, the same test now works with 1.8.2. I can create up to 1024 containers, run into the same "exchange is full" error (as expected), can delete one container and create a new one again/instead. That test wasn't working before. Thank you!

[2015-10-05 13:17] ain commented on #16746
Will do, surely. Docker Toolbox reinstall didn't help either, docker/machine#1937 peristed.

[2015-10-05 13:26] phlegx commented on #15603
+1 Happens to me frequently the last 2 weeks

[code]

[2015-10-05 13:27] AstonJ commented on #14073
Sorry, forgot to update - I upgraded (fresh installed) to Centos 7 and all issues disappeared (although Docker has to be restarted if the firewall is restarted).

[2015-10-05 13:31] thaJeztah commented on #14718
Thanks @vlerenc, good to hear it's resolved for you.

@anandkumarpatel have you been able to test this on 1.8.2? Docker 1.6.2 is quite an old version and will not get patch-updates.

[2015-10-05 13:33] thaJeztah commented on #14073
Good to hear @AstonJ! I think that's a known "issue" (i.e., it's known that docker needs to be restarted after that)

[2015-10-05 13:37] thaJeztah commented on #16760
Have you taken the steps described in [Login with PUTTY instead of using the CMD](https://docs.docker.com/installation/windows/#login-with-putty-instead-of-using-the-cmd) to convert the keys?

[2015-10-05 13:38] AstonJ commented on #14073
Yeah, and it's not actually much of a problem as you rarely restart FirewallD anyway. It's much nicer than IPtables imo :-) Thanks for the reply :+1:

[2015-10-05 13:45] thaJeztah commented on #16760
Oh! I see that page of the documentation contains the old path of the private key; this has been fixed in the repository, but not yet published on the docs website;

Could you try with the [updated instructions](https://github.com/docker/docker/blob/master/docs/installation/windows.md#login-with-putty-instead-of-using-the-cmd) ?

[2015-10-05 13:54] munhitsu commented on #8795
:+1:

[2015-10-05 13:58] scr4bble commented on #8513
@jfrazelle Did you try original reproducer https://github.com/docker/docker/issues/8513#issuecomment-65359848 ? I didn't get your explanation. Please can you provide some additional information about solution of this issue ? I would be very happy, if you can explain reason, why is this issue closed and not fixed - preferably on original reproducer. Thanks in advance :)

RedHat Bugzilla tracker:
ht

[2015-10-05 14:26] rafaelhbarros commented on #10318
Still clear text.

[2015-10-05 14:59] cpuguy83 commented on #16598
This looks like it's always been racey, but the test just didn't exist until recently.

Something interesting...
When the output doesn't show up, we get a warning message in the daemon logs (from libcontainer): `signal: killed`

When the output does show up, the warning message in the daemon logs is: `exit status 1`

These messages are coming from here: https://github.com/docker/docker/blob/189d2c

[2015-10-05 15:04] bear0330 opened #16765 "Cannot publish a container's port(s) to the host with --net option."
When I run
```docker run -p 8000:8000  --net=container:81cc21830839 centos /bin/bash```
it won't publish 8000 to host, nor --net=host.

docker version
[code]

docker info
[code]

[2015-10-05 15:04] GordonTheTurtle commented on #16765
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-05 15:13] thockin commented on #16765
When using --net=container you have to publish ports from the container
that actually owns the namespace.  We filed this, too and we told "working
as intended".

[2015-10-05 15:21] bear0330 commented on #16765
Sorry, I missed uname -a:
```Linux gicc-bearh-1 3.10.0-229.7.2.el7.x86_64 #1 SMP Tue Jun 23 22:06:11 UTC 2015 x86_64 x86_64 x86_64 GNU/Linu```

So, I cannot publish any additional ports when using --net option? Would this be possible a new feature?
Thanks.

[2015-10-05 15:25] MHBauer commented on #16633
With #16740 merged, I think this is complete.

[2015-10-05 15:27] LK4D4 commented on #16633
@MHBauer you're right, thank you!

[2015-10-05 15:27] #16633 closed

[2015-10-05 15:41] MHBauer commented on #16738
@LK4D4 yes I am using a remote daemon. Is this not supported with this test?

[2015-10-05 15:42] LK4D4 commented on #16738
@MHBauer It is of course, just seems like it's easily reproduced with remote daemon. Seems like we closing something prematurely. @cpuguy83 could know more.

[2015-10-05 15:47] cpuguy83 commented on #16738
It's easily reproducible for me with a Linux daemon over a unix socket.
Within 5-10 times I get the failure, but only when _not_ using `-t`.
I also see this problem in 1.8.2...

[2015-10-05 15:48] LK4D4 commented on #16738
@cpuguy83 Probably `stdcopy` problem then?

[2015-10-05 15:48] jhowardmsft commented on #16738
FWIW I left this test running in a loop for a few hours here (from Windows to a remote Linux daemon) and didn't see any failures.

[2015-10-05 15:49] cpuguy83 commented on #16598
This log is changing due to different responses from the `Wait()` call here: https://github.com/docker/docker/blob/189d2c79858d08a4cf3454bd7367989a005a4e3b/vendor/src/github.com/opencontainers/runc/libcontainer/process_linux.go#L134-L136

This is of course just some clues as to where this raciness might be occurring.

[2015-10-05 15:50] cpuguy83 commented on #16738
@LK4D4 Not sure.
I can confirm the daemon logs always shows the error it's just not always making it to the client... however I did notice that 100% of the time, when it doesn't make it to the client, the daemon logs are slightly different: https://github.com/docker/docker/issues/16598#issuecomment-145558865

[2015-10-05 15:50] thockin commented on #16765
My issues was closed "working as intended", though I disagreed.

[2015-10-05 16:00] LK4D4 commented on #16738
@cpuguy83 Indeed stdcopy works between daemon and client when -t isn't specified :)

[2015-10-05 16:01] mallegrini commented on #15603
+1
Same version as phlegx above on Mac OS X

[2015-10-05 16:02] thaJeztah commented on #15949
Based on the above, it looks like this is resolved, so I'll close this. Feel free to comment if you think I closed this by mistake

[2015-10-05 16:02] #15949 closed

[2015-10-05 16:19] cpuguy83 commented on #16738
@LK4D4 Yep, you're right.

[2015-10-05 16:37] erictune opened #16768 "Docker Quickstart Terminal fails to start due to multiple directory search matches"
Symptom: Docker Quickstart Terminal prints `/bin/bash: /bin/bash: cannot execute binary file`

Setting: Installing DockerToolbox-1.8.2c.pkg on OS X 10.10.5 (14F27) on a new MacBook.

Root cause:

- `/Applications/Docker/Docker Quickstart Terminal.app/Contents/Resources/Scripts/start.sh` runs `dscl /Search -read /Users/$USER UserShell` to determine current user's login shell.
- On my laptop, that c

[2015-10-05 16:37] GordonTheTurtle commented on #16768
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-05 16:45] moxiegirl opened #16770 "Update Configuring Docker Article"
The "configuring docker" section is not updated to reflect the new packages, which no longer use /etc/sysconfig/docker on SystemD; https://docs.docker.com/engine/articles/configuring/#configuring-docker-1

Installation articles duplicate a lot of this same content.  Updating this should include fixing that material; we might want to update the installs to link to configuring rather than having a l

[2015-10-05 16:45] GordonTheTurtle commented on #16770
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-05 16:46] #16593 closed

[2015-10-05 17:12] icecrime opened #16771 "Terrible `docker rmi` performance"
Currently, a daemon with >50 images takes a ridiculous amount of time to honor a single `rmi` request.

After investigation, the root cause of the issue is [this line](https://github.com/docker/docker/blob/ec1d8d7f2a8f563deb61df2b35aa8a9d6a07c3e2/daemon/image_delete.go#L282). The `HasChildren` function is incredibly complex: it calls into [`graph.ByParent()`](https://github.com/docker/docker/blob/

[2015-10-05 17:12] GordonTheTurtle commented on #16771
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-05 17:44] jlhawn commented on #15785
@thaJeztah

The Dockerfile has to be *in* the context, which means included in the tar archive which is uploaded. I think the best solution may be to special-case the situation where build context is read from `stdin` and *not* extract and then repackage it but instead modify the archive entry for the Dockerfile mid-flight to the daemon. It's kind of a hack that other maintainers are uncomfortable

[2015-10-05 17:56] atd commented on #16746
Same problem here on Debian GNU/Linux. Upgrading to 1.8.2 and restarting did not help. Opening an issue via support@docker.com

[2015-10-05 18:02] ssx commented on #12823
This is fixed in 1.9.0-dev for me.

[2015-10-05 18:05] mrunalp opened #16775 "name cgroup doesn't match in docker exec when using systemd"
**Expected**: cgroups paths of a `docker exec` container should match the cgroups paths of the original container.

**Actual**: systemd=name cgroup doen't match.
For e.g.
[code]

[code]

[2015-10-05 18:05] GordonTheTurtle commented on #16775
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-05 18:25] ain commented on #16746
Also reproduced on `1.8.1` on another OS X El Capitan Mac:
[code]

[2015-10-05 18:27] tomwys commented on #15785
I don't know what tool/lib you use to work on archives, but can't you just replace single file rather that extracting and repacking whole archive?

For example standard GNU tar support such operations: https://www.gnu.org/software/tar/manual/html_section/tar_32.html

[2015-10-05 18:30] thaJeztah commented on #16445
@mavenugo do you want to keep this issue open, or track it via https://github.com/docker/libnetwork/issues/567?

[2015-10-05 18:48] #15912 closed

[2015-10-05 19:45] orivej commented on #16238
`+1`
To reproduce (with Linux 3.16 or newer):
[code]
Docker 1.8.1 prints:
[code]

[2015-10-05 20:06] frioux opened #16777 "Cannot interupt `docker push` with SIGINT / ^C"
Description of problem:

If you ^C a docker push, the push keeps going in the background.  Preferably it
would cancel the way sigint does for docker run and docker build.  If for some
reason that can't happen, at least allowing the user to reconnect to the stopped
push would be nice.

`docker version`:

[code]

`docker info`:

[code]

`uname -a`:

[code]

Environment details (AWS, VirtualBox, phys

[2015-10-05 20:29] sgirones commented on #14203
I've been able to strace the process before being killed. Hope it helps:
[code]

I first thought it might be related to "Limits on size of arguments and environment" (http://man7.org/linux/man-pages/man2/execve.2.html), but I haven't been able to reproduce when creating a container with the same environment (the error above happens during a docker build)

[2015-10-05 20:33] moxiegirl commented on #11560
@fgimenez Eventually, we'd like any sample code in the documentation to be tested in an automated fashion.  That is a couple years out at the moment. In the mean time, we have to rely on manual testing.

In any case, this issue is about testing the procedure as written which includes more than the actual code.

[2015-10-05 20:36] MHBauer commented on #16756
I'll take a run through `integration-cli/docker_cli_inspect_test.go` to start.

[2015-10-05 20:36] ewindisch commented on #10318
/cc @NathanMcCauley

[2015-10-05 20:38] vdemeester commented on #16756
Cool :+1: I'll reserve `docker_cli_run_test.go` to vendor the checker lib then :sweat_smile:.

[2015-10-05 21:03] rwincewicz commented on #16270
There is now support for multiple RabbitMQ servers. These are passed as a space-separated string in the amqp-url log option. When the connection is lost the driver will loop through the listed servers attempting to connect. Once it gets to the end of the list it starts again at the beginning. At the moment you can only specify multiple servers using the amqp protocol as there's no clear way of att

[2015-10-05 21:14] neolace commented on #11951
Is this still a requirement, which by looking at the comments, aren't well received?

[2015-10-05 21:22] mrunalp commented on #14203
@LK4D4 This could happen if the parent process dies. Maybe a strace -f with runc on an affected system might help to figure this out.

[2015-10-05 21:22] derisavi opened #16778 "Error pulling image (latest) from ericvh/arm64-ubuntu, ApplyLayer exit status 1 stdout: stderr: operation not supported"
I'm a newbie to docker. I'm running docker on an ARM64 board. I get the following error message. I've also attached output of "docker version" and "docker info". Please let me know how else I can help in investigating this. Thanks!

[code]

[2015-10-05 21:22] GordonTheTurtle commented on #16778
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-05 22:02] mcortinas commented on #6521
+1, the workaround is move Dockerfile to anoher path
[code]

[2015-10-05 22:05] erikh commented on #6521
Maybe we should just warn?

On 5 Oct 2015, at 15:02, Marc Cortinas wrote:

[2015-10-05 22:12] #16775 closed

[2015-10-05 22:43] mrunalp commented on #16775
@LK4D4 thanks :)

[2015-10-05 23:12] HuKeping commented on #16756
Thanks @thaJeztah it's really a lot of work

Thanks for help @MHBauer

I'd like to make a sample for people who are interested on this issue,  please help me to complete #16758 @vdemeester

[2015-10-05 23:30] kbrwn commented on #7087
I was able to reproduce this issue on CoreOS (766.4.0 and 815.0.0) and Ubuntu 15.04. With docker 1.7.1 and docker 1.8.2. Strace of the docker daemon reveals a SIGPIPE failure when the systemd-journald.service is killed.

https://gist.github.com/kbrwn/2b9849e0e5a9823d6618

Seems like it must be related to this golang issue: https://github.com/golang/go/issues/11845

[2015-10-05 23:45] sehyoc commented on #15759
Having same issue with images in private registry.  Pulling docker image using Docker client 1.8.2 doesn't work.  Works with Docker client 1.7.2.

From logs, it seem registry is trying to find images in /v1 API:

    time="2015-10-05T23:38:36.322851428Z" level=debug msg="authorizing request"
    http.request.host="registry2.zokets.io:5000" http.request.id=7fd96eb9-1cfc-47ee-8e7d-334a770d8261
    h

[2015-10-05 23:54] cpuguy83 commented on #16738
opencontainers/runc#316

[2015-10-05 23:54] cpuguy83 commented on #16598
opencontainers/runc#316

[2015-10-06 00:09] townsen commented on #12327
I have this too with Ubuntu 15.04 with 3.19.0-28-generic, Docker 1.8.2 configured with `overlayfs`:
[code]

I have a second machine on which I configured the same OS (it's a VM - I just copied it) with Docker using `aufs`. The first one fails, the second works. The error line occurs during a `pip install` as above:
[code]

[2015-10-06 00:52] sehyoc commented on #15759
Log with debug mode

time="2015-10-05T23:58:57.851395773Z" level=debug msg="s3.List(\"/\")" instance.id=03fb0ba8-7a59-4f74-aec4-d73bbd55b31e service=registry trace.duration=35.175852ms trace.file="/go/src/github.com/docker/distribution/registry/storage/driver/base/base.go" trace.func="github.com/docker/distribution/registry/storage/driver/base.(*Base).List" trace.id=24b39b18-7e5f-4bba-91f3-d3917b5

[2015-10-06 01:48] sehyoc commented on #15759
Same problem with latest build of docker:

Docker version 1.9.0-dev, build 0339ed7, experimental

[2015-10-06 03:48] zelahi commented on #11562
I added the gifs and submitted a pull request. I also updated the pull request with my sign-off.  Do I need to do anything else, or should I wait for it to get approved?

[2015-10-06 03:52] zelahi commented on #16756
Could I possibly help out on this issue as well?  I can take  integration-cli/docker_cli_kill_test.go to start.

[2015-10-06 04:32] phemmer commented on #16768
This was reported in #16479, which is tracked upstream by https://github.com/docker/toolbox/issues/210, and a fix was merged in https://github.com/docker/toolbox/pull/211

[2015-10-06 04:37] ibuildthecloud opened #16790 "1.9: Useless debug messages"
When doing a docker build with debug set on the daemon you see the following log messages:

[code]

These really don't provide any value because they aren't correlated to anything like a layer ID.

[2015-10-06 04:37] GordonTheTurtle commented on #16790
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-06 04:38] HuKeping commented on #16756
Cool @zelahi

[2015-10-06 06:23] thaJeztah commented on #11562
@zelahi nope, that's it for now; now it needs to be reviewed, and at least *two* maintainers have to approve it by giving their "LGTM" (looks good to me). Thanks for contributing!

[2015-10-06 07:32] shaded-enmity opened #16792 "SELinux and --security-opt interpretation"
Description of problem:
It seems that the SELinux --security-opt parsing is interpreted in reverse

`docker version`:

[code]

`docker info`:

[code]

`uname -a`:
`Linux localhost 4.1.7-200.fc22.x86_64 #1 SMP Mon Sep 14 20:19:24 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`

Environment details (AWS, VirtualBox, physical, etc.):

How reproducible:
Always

Steps to Reproduce:
`1.` reproducer:

[code]

`

[2015-10-06 07:43] CaryGao commented on #15626
@calavera 1.8.2 still have the issue

[root@centos71 ~]# docker version
Client:
 Version:      1.8.2
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   0a8c2e3
 Built:        Thu Sep 10 19:08:45 UTC 2015
 OS/Arch:      linux/amd64

[root@centos71 ~]# uname -a
Linux centos71 3.10.0-229.el7.x86_64 #1 SMP Fri Mar 6 11:36:42 UTC 2015 x86_64 x
86_64 x86_64 GNU/Linux

[root@centos71 ~]# systemctl

[2015-10-06 07:48] runcom commented on #16771
I feel the ref count alone won't solve this performance problem, I implemented a basic ref count to be used instead of looping the whole idIndex but the only gain on my laptop was 1 sec (was 3 secs before w/o the hash map as a ref counter and docker compiled with `-race`).
@icecrime are you using overlay?
By profiling docker:
[code]

[2015-10-06 07:55] dalbrekt commented on #15603
+1
[code]

[2015-10-06 07:58] lucasvc commented on #12823
/me too worked with 1.9.0-dev, and it says:

    docker.io/<image>: this image was pulled from a legacy registry.  Important: This registry version will not be supported in future versions of docker.

[2015-10-06 08:38] tobilg commented on #16118
I have the same problem... Was this resolved, or just closed?

[2015-10-06 08:41] ghmlee commented on #16118
@tobilg It is still a problem but Docker engineers didn't respond to this issue. I closed it.

[2015-10-06 08:45] TomasTomecek opened #16793 "docker client renders utf-8 encoded characters incorrectly"
[code]

[code]

`docker build` prints `Ý` correctly. `inspect` doesn't:

[code]

So I tried to fetch raw data from engine via `docker-py`:

[code]

UTF-8 encoded acting as unicode. That's not right. But the character is encoded correctly:

[code]
[code]

[2015-10-06 08:53] tobilg commented on #16118
@ghmlee Thanks for the fast response! Have you found any workaround?

[2015-10-06 09:17] ChristianKniep commented on #12080
Hey there, the bug in launchpad haven't seen no update for close to a year.
I am stuck with device-mapper and 12sec removal times, so I really would like to see progress. :)

[2015-10-06 09:20] gerritwessels commented on #15603
+1

Client:
 Version:      1.8.2
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   0a8c2e3
 Built:        Thu Sep 10 19:10:10 UTC 2015
 OS/Arch:      darwin/amd64

Server:
 Version:      1.8.2
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   0a8c2e3
 Built:        Thu Sep 10 19:10:10 UTC 2015
 OS/Arch:      linux/amd64

[2015-10-06 10:01] rodolfo42 commented on #15603
I've just switched to the latest `boot2docker` version (was using `docker-machine`) and it hasn't happened since. Not sure if related.

[2015-10-06 10:23] d3vil-st commented on #15603
+1
[code]

[2015-10-06 11:01] vbichov commented on #14098
getting a similar issue (see below) at AWS with Docker 1.8.1 and Distribution 2.1.1
however, it is interesting (and may or may not be helpful) that this issue does NOT occur when a pulling instance has a public IP that is exposed to the internet.

getting:
`511136ea3c5a: Pulling fs layer
b6718650e87e: Pulling fs layer
3d3c8202a574: Pulling fs layer
0114405f9ff1: Pulling fs layer
909b4f6c24a3: Pull

[2015-10-06 11:06] tallsam commented on #15603
+1
[code]

[2015-10-06 11:10] phani1kumar opened #16797 "nfs volume mount to mysql docker container inside a ubuntu virtualbox fail"
I've a nfs file share set-up from freenas server, which I am mounting on a host linux (ubuntu 14.04 server)
[code]
On the linux host, I've oracle virtualbox (4.3) installed and I've linux virtualbox  with shared folder from host `/mnt/media` (ubuntu 14.04 server again) in which I've installed kodi-xbmc. On this virtualbox, I've docker with following version details:

# BUG REPORT INFORMATION

[cod

[2015-10-06 11:10] GordonTheTurtle commented on #16797
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-06 11:10] stdexcept commented on #9718
This issue seriously affects us when new machines join our coreos cluster. This is definitely blocking us, as many others I can imagine.

[2015-10-06 11:31] phihos commented on #15239
Hi,

+1 for this issue. I can provide the following information:

Description of problem:

Precondition: Docker daemon is configured to have the graph directory set within a mounted NFS share. Example: `docker daemon -g <NFS mount>/.dockerfiles ...`
When creating a container an *"operation not supported"* error may occurr. An example will be provided below.

`docker version`:

[code]

`docker info

[2015-10-06 12:28] phemmer commented on #16797
rc.local typically occurs very late in the boot process. If you're starting docker from an init script, it's likely started before the mount comes up.
You should put the entry in `/etc/fstab`. Most distros ensure all mounts in `/etc/fstab` are up before proceeding with services.

[2015-10-06 12:38] rhatdan commented on #16792
The first one is correct the

```docker run -td --security-opt label:disabled fedora bash```

should be

```docker run -td --security-opt label:disable fedora bash```

The second one is a selinux/label not returning an error.

[2015-10-06 12:42] bitglue commented on #9718
An expedient hack in many cases is to implement locking external to docker on any pulls or builds. `flock(1)` can accomplish this pretty easily, so wherever you have

    docker pull ...
    docker build ...

Then pick some file (doesn't matter what really, as long as it's the same everywhere) and change those commands to:

    flock /var/run/lock/docker docker pull ...
    flock /var/run/lock/doc

[2015-10-06 12:45] duglin commented on #16790
see #16800
oops sorry @LK4D4 didn't see you added the 'beginner' tag - only saw the email go by.

[2015-10-06 12:51] pditommaso commented on #9718
@bitglue The Docker runtime should do that.

[2015-10-06 12:52] aidanhs commented on #16602
I'm the OP :)

The reality is that, as I noted in my e-mail, 6 of the top 10 results on the docker hub for 'ambassador' use socat and do not use `-t`. This means that all of these are broken for client connections that close the write side of the tcp connection and wait for a response for more than half a second.

I feel this is an issue with the docker documentation because the only documented am

[2015-10-06 12:54] rhatdan commented on #16792
Just opened a pull request for this.

[2015-10-06 12:56] bitglue commented on #9718
@pditommaso you know what an expedient hack is, right?

[2015-10-06 12:59] phani1kumar commented on #16797
@phemmer thank you very much for a quick and prompt response. I've tried to mount the share directory in virtualbox through fstab by many means and failed to achieve that and hence used thie rc.local approach.
[code]
I've tried uid=$UID,gid=root; uid=1000,gid=1000. It always says "an error occurred while mounting press S to skip and M to manually modify"!

Apologies, I am shameless to accept I am

[2015-10-06 13:02] phani1kumar commented on #16797
Also, I tried to restart the docker service using `service docker restart` before running the docker container, in this case it shall work right? But still having the same problem described in the original post.

[2015-10-06 13:03] pditommaso commented on #9718
@bitglue Um yes, but in my use case that hack is not an option.

[2015-10-06 13:03] cpuguy83 commented on #16797
`InnoDB: The error means mysqld does not have the access rights to`

This looks like the mysql user in the container does not have privileges to access the file.

[2015-10-06 13:08] phani1kumar commented on #16797
But the same container working well from a windows host (windows 8.1, virtualbox 4.3) --> linux guest (ubuntu 14.04) --> docker. Also, I am running multiple other containers there.

Also, one more question, is there any prescription (I've been searching all over and couldn't find any) of the minimum set of privileges to be given to the share folders to be usable as volume mounts? If you could poin

[2015-10-06 13:13] cpuguy83 commented on #16797
@phani1kumar It comes down purely to linux filesystem permissions.
You need to get the uid of the mysql process and ensure that the file has sufficient permissions for that user to access the file.

See http://linuxcommand.org/lts0070.php

I'm going to close this since it is not a Docker issue, but please feel free to ping me on #docker on IRC, or check out the docker-user mailing list.
Thanks!

[2015-10-06 13:13] #16797 closed

[2015-10-06 14:36] joelwurtz commented on #11205
It's not a problem of missing features, but more a problem of having something that is build everytime.

Having a Dockerfile involve much more maintenance for my services, as if i run a Dockerfile of 2 years old i will not be sure that this will work again. (like having a wget to some url will maybe not work as the host will be down)

I know there is some workaround for this kind of problem, but u

[2015-10-06 14:55] LK4D4 commented on #12080
Was anybody able to create simpler case? I tried to just listen on socket on overlayfs and it seems work for me :/

[2015-10-06 15:28] akram commented on #12080
@LK4D4 you'll have to create a hard link on the socket, and then try to listen on the hardlink to reproduce it.
When trying to listen to the socket directly, it seems to be ok

[2015-10-06 15:32] LK4D4 commented on #12080
@akram Yup, reproduced, thanks! Now it's time to trace kernel.

[2015-10-06 15:41] LK4D4 commented on #16771
@runcom When I profiled stuff it spend most time in `HasParent` func.

[2015-10-06 15:43] runcom commented on #16771
@LK4D4 fair, having a ref counter instead of walking the whole graph improved only 1 sec on my system, I'll look if I did something wrong then..

[2015-10-06 15:45] LK4D4 commented on #16771
@runcom You should try some more intense removing maybe. 3 seconds sounds like too fast to have enough profiling data :)

[2015-10-06 15:45] tjwudi commented on #16768
Yeah, it's fixed. I found it confusing too. Anyway, the fix is rolling out today. cheers! :)

[2015-10-06 16:13] erictune commented on #16768
awesome, thanks.

[2015-10-06 16:13] #16768 closed

[2015-10-06 17:36] RichardScothern commented on #15759
Those are registry logs.  Your docker **daemon** logs will provide more context about the fallback.

[2015-10-06 18:56] aetherical commented on #12045
Yes, sounds good.

[2015-10-06 18:56] #12045 closed

[2015-10-06 19:11] icecrime commented on #16771
@runcom Thanks for the input! Do you rebuild the refcount at each `rmi` call, or are you caching and updating as time goes?

[2015-10-06 20:02] pydima commented on #8521
@cpuguy83 I had a look on this issue and it seems to me that 'logs' parameter wouldn't help in this case. The problem is that we are reading container stdout with ```ReadBytes('\n')``` when writing data to a log file https://github.com/docker/docker/blob/master/daemon/logger/copier.go#L47, so in this case if we attach to container with running bash we wouldn't see the last bash prompt, because the

[2015-10-06 20:03] unclejack commented on #16771
@icecrime @LK4D4 Perhaps it could be benchmarked?

[2015-10-06 20:06] tomciopp opened #16805 "hello-world does not run"
After installation, I receive the following error when trying to run the hello-world to confirm that docker is running.

    Post http:///var/run/docker.sock/v1.20/containers/create: dial unix /var/run/docker.sock: no such file or directory.
    * Are you trying to connect to a TLS-enabled daemon without TLS?
    * Is your docker daemon up and running?

Running on OSX Yosemite 10.10.5, any idea on

[2015-10-06 20:06] GordonTheTurtle commented on #16805
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-06 20:16] runcom commented on #16771
@icecrime cached and updated

[2015-10-06 20:17] pydima commented on #9283
#dibs

[2015-10-06 20:27] freiit commented on #12823
tested with 1.9-dev on boot2docker. behavior is different now, but still does not work.
If the network connection fails the pull gets stuck.
If you restart the client pull (after Ctrl-C it), you get the exact frozen state you had before.
Trying to remove one of the (sub)images already pulled gives me:
`$ docker rmi 6bf4b72b9674
Error response from daemon: conflict: unable to delete 6bf4b72b9674 (c

[2015-10-06 20:34] cpuguy83 commented on #8521
@pydima Yep, you're right.

[2015-10-06 20:46] cpuguy83 commented on #16805
Hello, this depends on how you installed docker.
If via Docker Toolbox or docker machine, you'll need to run `eval $(docker-machine env default)` before you run any docker commands.
This will setup your environment to talk to the docker daemon.

Closing as this is not a docker issue.
For support, please see #docker on IRC, the docker-user mailing list, or forums.docker.com

Thanks!

[2015-10-06 20:46] #16805 closed

[2015-10-06 20:57] vbatts commented on #9283
@pydima cool!
I would be neat to see how much is allocated as well, like `st_blocks * st_blksize` in contrast to just `st_size`

[2015-10-06 21:17] Chris00 commented on #16256
Note that on Debian testing (with `systemd`), you have to add the option `--exec-opt native.cgroupdriver=cgroupfs` in `/lib/systemd/system/docker.service`:
[code]

[2015-10-06 21:51] davidbirdsong commented on #15819
This appears to not be happening w/: `Docker version 1.6.2, build 7c8fca2`, but I'm still confused on how to get around this substitution during the `docker build`. I plan to run all my containers w/ `--net=host` and plan to bypass all the NAT'ing or interface linking craziness, but I can't wrap my head around how to convey this at the image building phase.

For instance, we host all of our own ap

[2015-10-06 21:57] phemmer commented on #15819
There is no workaround for docker build. Though for docker build I would follow #14627, which will probably implement something like a DNS proxy. With `--net=host`, a proxy is not necessary, and thus the solution is different.

[2015-10-06 22:16] davidbirdsong commented on #14627
I plan to run `--net=host`, but this still leaves me dead-in-the-water when it comes to builds. I'm not able to build an image without erecting a temporary DNS server listening on something other than `127.0.0.1`.

[2015-10-06 22:46] sehyoc commented on #15759
The problem was fixed by applying hack mentioned here:  https://github.com/docker/distribution/issues/426

Adding S3 certificates to certs.d/<my_domain> eliminated the issue.

It seems that certificate error confuse the docker client to look for v1 registry than v2.

[2015-10-06 22:51] vmonteco opened #16808 "archlinux on i686 : Can't build with yaourt/makepkg (compilation error)"
Hello!
I'm trying to install the **docker-git** package on my Archlinux (i686), but I get the following when running makepkg :

    $ makepkg
    ==> Making package: docker-git 1:1.9.0.dev.18703.670c488-1 (Tue Oct  6 22:27:42 CEST 2015)
    ==> Checking runtime dependencies...
    ==> Checking buildtime dependencies...
    ==> Retrieving sources...
      -> Updating docker git repo...
    Fetching

[2015-10-06 22:51] GordonTheTurtle commented on #16808
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-06 23:28] Frogging101 commented on #6743
:+1:
This is really my only major issue with Docker. I run multiple services on different IP addresses, and there's far too much nonsense involved in routing a specific container to a specific public IP. I've taken to setting custom MAC addresses on my containers and fwmarking the packets with ebtables so that the host knows where to route them. It works, but it's pretty ridiculous that I have to

[2015-10-06 23:40] icecrime commented on #16771
@runcom Such disappoint, I thought this would be enough :cry: Thanks though!

[2015-10-07 03:05] kenny1986 opened #16810 "screen not working in docker container"
when using Docker Toolbox on Mac, on a Ubuntu container instance's interactive shell, unable to reattach to a detached "screen" session. Reproduced on 1.8.1 and 1.8.2.

Running on Mac OS X 10.10.5
darwin Kernel Version 14.5.0: Wed Jul 29 02:26:53 PDT 2015; root:xnu-2782.40.9~1/RELEASE_X86_64 x86_64
docker-machine version 0.4.1 (e2c88d6)
$ docker version
Client:
Version: 1.8.1
API version: 1.20
Go

[2015-10-07 03:05] GordonTheTurtle commented on #16810
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-07 05:18] j16sdiz commented on #16755
https://bugzilla.kernel.org/show_bug.cgi?id=15762#c11

[2015-10-07 06:25] harche opened #16811 "Unit test case for devmapper hangs for ever"
While trying to run `make test-unit` (or `hack/make.sh test-unit` from inside of dev container) the unit test for devmapper hangs for ever

[code]

System - Ubuntu 15.04 (running inside VirtualBox), X64.

[2015-10-07 06:25] GordonTheTurtle commented on #16811
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-07 07:19] vdemeester commented on #16808
Hi @vmonteco,

`make all` in the docker sources needs docker to work (we build docker inside a docker container :wink:. You want to run `./hack/make.sh [yourtarget]` if you want to build it without docker (as it's done in the `PKGBUILD` - https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=docker-git).

That being said, it's not something maintained by docker, and thus it's not supported here.

[2015-10-07 07:26] thaJeztah commented on #16808
@vmonteco I'm going to close this issue because (as @vdemeester explained) this is not a package that's maintained here. Also, for general support questions, please use the #docker IRC channel, forums.docker.com or the Docker Users group on Google, thanks!

Feel free to comment here after I've close the issue

[2015-10-07 07:26] #16808 closed

[2015-10-07 08:04] Fr0ntich commented on #15620
thx @andrenarchy for providing the fix. Helped me get an installation running :+1:

[2015-10-07 08:06] cxxly commented on #16763
@thaJeztah  thanks, it's the same issue as #15498, I have tested the workaraound in #16550 and it resolves  this. But I think we should make a note at docker document before docker 1.9 release.

[2015-10-07 08:25] xrow commented on #16746
Hi,

I have the same issue.

´´´
The push refers to a repository [registry.hub.docker.com/xrow/centos7] (len: 1)
Sending image list
Pushing repository registry.hub.docker.com/xrow/centos7 (1 tags)
8ad16af9bad9: Pushing
HTTP code 403 while uploading metadata: "invalid character '<' looking for beginning of value"
[root@vmbuilder packer]# docker version
Client version: 1.7.1
Client API version: 1.19

[2015-10-07 08:40] alexsimo commented on #15626
@CaryGao Any solution to your issue? Have same problem..

[2015-10-07 08:43] thaJeztah commented on #16763
@moxiegirl perhaps we should add this as a "known issue" to the [release notes](http://docs.docker.com/release-notes/) for Docker 1.8? I seriously have no idea where that page is generated from though, because the [release-notes.md in this repo](https://github.com/docker/docker/blob/23d3e4bb0318b42d9a160e7f44b87382ce40840f/docs/misc/release-notes.md) still states "docker 1.6" :relaxed:

[2015-10-07 09:04] shookees commented on #15620
Not fixed, did happen on updated Ubuntu 14.04.

[2015-10-07 09:06] thaJeztah commented on #16811
Hi @harche, given that this test runs correctly on our CI servers, this doesn't sound like a bug in Docker. Perhaps you can ask for assistance in the #docker-dev IRC channel?

I'll close this issue, but feel free to comment here after I've closed

[2015-10-07 09:06] #16811 closed

[2015-10-07 09:32] askb opened #16812 "stopping a docker run displays <none> image entries"
Description of problem:
Stopping a "docker run" with ctrl+c or sigint, causes incorrect entries output by "docker image".

docker version:
$ docker version
Client:
 Version:      1.8.2
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   0a8c2e3
 Built:        Thu Sep 10 19:19:00 UTC 2015
 OS/Arch:      linux/amd64

Server:
 Version:      1.8.2
 API version:  1.20
 Go version:   go1.4.2
 Git

[2015-10-07 09:33] phani1kumar commented on #4213
@jbemmel can you please explain the solution as to where to add the 'and mounted MOUNTPOINT=/gm/nfs'? Seems I am facing similar problem with Ubuntu.
I've a ubuntu 14.04 guest inside a ubuntu 14.04 host machine running oracle virtualbox (4.3).

I am mounting an nfs drive on the guest machine, which I am using as a docker volume. But the volume is not recognized by docker even after I restart the do

[2015-10-07 09:52] CaryGao commented on #15626
yes
[code]

[2015-10-07 10:36] Andre-Freitas opened #16813 "Possible bug (regarding hardlinks of ADDed files) with storage driver overlayfs"
# BUG REPORT INFORMATION

### My docker Host
[code]
[code]
[code]
## Environment details (AWS, VirtualBox, physical, etc.)
GCE instance with CoreOS stable (766.4.0)

## How reproducible:

### 1ª Step - creating base image
[code]
with the following files
dockerfile - http://ur1.ca/nxvo0
src/supervisord.conf - http://ur1.ca/nxvod
src/cron.conf - http://ur1.ca/nxvoi)

### 2º Step - creating base post

[2015-10-07 10:36] GordonTheTurtle commented on #16813
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-07 10:54] Andre-Freitas opened #16814 "unknown error EOF when trying to startr docker with devicemapper thinpool"
In my docker host (1.7.1) i have configured a lvm thinpool using this
[code]
which i have confirmed that is ok
[code]
but when i try to start docker as daemon to use this thinpool, i get this
[code]
Is this a common error? how can i know that is causing this?

[2015-10-07 10:54] GordonTheTurtle commented on #16814
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-07 11:01] #16814 closed

[2015-10-07 11:05] Andre-Freitas commented on #16092
Information regarding my docker host
[code]
[code]
[code]
i have configured a lvm thinpool using this
[code]
which i have confirmed that is ok
[code]
but when i try to start docker as daemon to use this thinpool, i get this
[code]

how can i know that is causing this?

[2015-10-07 11:14] thaJeztah commented on #15990
@alvinr @cpuguy83 I'll close this issue here in favor of https://github.com/boot2docker/boot2docker/issues/1061, but ping me if you don't agree :+1:

[2015-10-07 11:14] #15990 closed

[2015-10-07 11:18] thaJeztah commented on #16205
@abronan @cpuguy83 do we want/need this for the 1.9 release?

[2015-10-07 11:27] thaJeztah commented on #16746
ping @jlhawn @dmp42 any suggestions here? is this an authentication issue, fallback to v1?

[2015-10-07 11:47] Andre-Freitas commented on #16813
issue updated

[2015-10-07 11:52] duglin commented on #16812
@askb during a 'docker pull' if the cli loses connectivity with the daemon the pulled images are still downloaded. This is either a bug or a feature depending on your point of view. I can understand why some people might expect the ctrl-c to stop everything and roll it all back, but given that downloading images could be a long running task, its very possible that the CLI might not be able to keep

[2015-10-07 11:52] #16812 closed

[2015-10-07 12:12] askb commented on #16812
@duglin - I mostly agree with your point on the client losing connectivity and roll-back issue not happening as docker daemon continues to downloading the image/layer. It would be nice to have feature. Maybe this could either be removed or at-least displayed correct with appropriate repository name and the tag from the CLI.

[2015-10-07 12:19] duglin commented on #16812
@askb what do you mean by "display correct with appropriate repository name" ?  Which name isn't correct now?

[2015-10-07 12:35] ain commented on #16746
It is auth issue AFAICT.

       $ curl https://registry-1.docker.io/v2/
       {"errors":[{"code":"UNAUTHORIZED","message":"access to the requested resource is not authorized","detail":null}]}

[2015-10-07 12:42] thedrow commented on #16771
Isn't one second less better than nothing, at least for now?

[2015-10-07 12:44] askb commented on #16812
@duglin sorry, I missed formatting the content while opening the issue, now it is updated. My question was more related to why "docker images" or CLI displays the image name as `<name>` instead of the correct name should be `nate/dockviz`, as the daemon would continue in the background.

[2015-10-07 13:10] Soulou commented on #16755
@j16sdiz Thank you for the link

[code]

Results is identical:

[code]

[2015-10-07 13:12] duglin commented on #16812
If you do "docker images" after the daemon has had time to download all of the layers then I would think that "0806e484332b" should have the tag "nate/dockviz", which is what I see. Can you verify that?
As for the other layers, those are probably intermediate layers that were created during the building of "nate/dockviz" and where never given a formal tag.

[2015-10-07 13:34] cbastienbaron commented on #12823
This behaviour can also be present when HD are full.
No more information are done than `Layer already being pulled by another client. Waiting.`
Perhaps a verbose information for this case will be usefull

[2015-10-07 13:44] atd commented on #16746
I don't know if it helps, but we first experienced the problem at October 2th, 1:30 PM CEST, before https://twitter.com/dockerstatus/status/649955838912675840

[2015-10-07 13:52] ChristianKniep commented on #12080
Should this be pushed in the kernel-bugtracker ([https://bugzilla.kernel.org/](https://bugzilla.kernel.org/)) as well?

[2015-10-07 13:54] askb commented on #16812
@duglin Yes, the output of docker images show up as "nate/dockviz" image downloaded once its completed in the background. However from the output from dockviz indicates that image id `ab97cd484443` is seen as `<none>` and the output is persistent as a with separate entry in "docker images"

[code]

To resolve this I removed `d43941007817` and `ee137de878c7`  manually, using `docker rmi`. Please do

[2015-10-07 13:54] fishnix commented on #10537
We've been seeing this issue sporadically as well.  It's very difficult to reproduce, we are running docker 1.8.1

[2015-10-07 14:05] duglin commented on #16812
@askb if you do: `docker history 0806e484332b` you'll see that the image (or layer) `ab97cd484443` was created because of the `ENV` step in a Dockerfile. This means that its just an intermediate layer that was created during the build process and never given a formal tag - hence the "none" label you see. Docker will only persist tags if you explicitly give one to an image.  Try to do a build and l

[2015-10-07 14:08] ain commented on #16746
This coincides with the current ticket and has been up there for 5 days already, unfortunately.

[2015-10-07 14:22] thaJeztah commented on #4952
@huwei88 I think you'll have to look in the libnetwork repo for that, e.g, [docker/libnetwork/ipallocator/](https://github.com/docker/libnetwork/blob/dbe6172d8ca9faf1cd37d0864d4ac09895804a98/ipallocator/allocator.go)

Work is in progress to make the IPAM pluggable, see https://github.com/docker/libnetwork/issues/489, and a PoC DHCP driver;  https://github.com/erikh/dhcpd

[2015-10-07 14:35] andrelucas commented on #15833
Confirm exact same symptoms with Ubuntu Trusty Docker 1.7.1 server + Registry 2.1.1 - push broken with 1.8.x client, fine with 1.7.1 client. NFS-mounted registry, but only one registry process at a time mounts the share, as chosen by consul lock.

I think I'm right to say that all of these reports are for .nfs\[0-9a-f]+ files, 'silly unlinks': http://nfs.sourceforge.net/#faq_d2 .

[2015-10-07 14:38] pmoust commented on #8539
Definitely this issue needs to be reopened.
We 've been getting this in production as well with 1.7.1 and 1.6.2 (memory is not a real issue, 400MB free, 250 cached, can't even spawn a shell with `docker exec`)
Will get back to it with /proc/buddyinfo and hopefully a goroutines dump

[2015-10-07 14:39] cpuguy83 commented on #16205
I don't think it is necessary for 1.9, certainly a nice to have.
But it would also be helpful to have a plugin API as well.

[2015-10-07 14:39] mindscratch opened #16816 "iptables failed - No chain/target/match by that name"
Bug Report Info

`docker version`:
Client version: 1.7.1
Client API version: 1.19
Go version (client): go1.4.2
Git commit (Client): 786b29d
OS/Arch (client): linux/amd64
Server version: 1.7.1
Server API verson: 1.19
Go version (server): go1.4.2
Git commit (server): 786b29d
OS/Arch (server): linux/amd64

`docker info`:
Containers: 41
Images: 172
Storage Driver: devicemapper
 Pool Name: docker-253:2

[2015-10-07 14:39] GordonTheTurtle commented on #16816
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-07 14:40] thaJeztah commented on #12124
We're in the process of phasing out the get.docker.com install script in favor of manually adding the repos; https://github.com/docker/docker/pull/16662, and I would recommend using those steps in your automated script (customizing it to your needs).

I'm closing this issue, because I don't think this is something we will/can fix, because the script cannot make these decisions without knowing the

[2015-10-07 14:40] #12124 closed

[2015-10-07 14:55] askb commented on #16812
@duglin I agree that  image (or layer) `ab97cd484443` got created temporarily because of instruction in the Dockerfile, which is perfectly ok to be displayed temporarily, maybe its best to be removed or replaced with the updated id `0806e484332b` of the completed image (top layer) and the id `ab97cd484443` should not persist after in the output of `docker images` once the complete image is pulled,

[2015-10-07 15:03] cpuguy83 commented on #16810
I cannot reproduce this.

[2015-10-07 15:03] klausenbusk commented on #8539
@pmoust Also see https://github.com/coreos/bugs/issues/489

[2015-10-07 15:07] cpuguy83 commented on #16816
Please note the other open issues with this error: https://github.com/docker/docker/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+No+chain%2Ftarget%2Fmatch+by+that+name

[2015-10-07 15:09] pmoust commented on #8539
@klausenbusk thanks. It does seem like Linux kernel issue indeed

[2015-10-07 15:12] klausenbusk commented on #8539
You can try raising vm.min_free_kbyte as a workaround.

[2015-10-07 15:12] mindscratch commented on #13914
Seeing similar problems here as well with Docker 1.7.1 on CentOS 7 (iptables version 1.4.21).

[2015-10-07 15:15] mindscratch commented on #16816
@cpuguy83 looks like some of those have the same error but not quite the same, #13914 seems to be similar.

[2015-10-07 15:28] jbemmel commented on #4213
Hi @phani1kumar,
It appears that NFS functionality depends on the underlying storage driver ( aufs, devicemapper, etc. ), as well as the sharing of file handles between processes ( see http://blog.hashbangbash.com/2014/11/docker-devicemapper-fix-for-device-or-resource-busy-ebusy/ ) i.e. 'unshare' may have an impact on NFS mounts.

I've moved away from using the 'MOUNTPOINT=/vm/nfs' as I am not sur

[2015-10-07 15:34] LK4D4 commented on #16771
@thedrow @runcom @icecrime one second is definitely better. We talking about times like ~30 mins now and 1 sec will became 10 minutes.

[2015-10-07 15:36] cpuguy83 commented on #16816
@mindscratch Have you tried turning off firewalld?

[2015-10-07 16:07] zamf commented on #12327
Same problem here with `3.19.0-22-generic` on Ubuntu 14.04 and

[code]

[2015-10-07 16:13] MHBauer commented on #16810
No repro on 10.11 & 1.8.2

[2015-10-07 16:27] #16380 closed

[2015-10-07 16:48] ddurdle commented on #16498
There is an issue with LXC on LMDE2 (LXC breaks the OS).  Probably something related to queasy state systemd.  LXC and docker works under LMDE UP8 just fine.

[2015-10-07 16:57] mindscratch commented on #16816
@cpuguy83  we're not using firewalld just iptables

[2015-10-07 17:00] mbruzek opened #16819 "docker commands hang on Ubuntu (vivid) today"
# Description of problem: docker commands hang on Ubuntu

`docker version`: Version:      1.9.0-dev  Git commit:   1529343

`docker info`: not available (command hangs)

`uname -a`: Linux warhorse 3.19.0-30-generic #34-Ubuntu SMP Fri Oct 2 22:08:41 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

### Environment details (AWS, VirtualBox, physical, etc.):
Physical Ubuntu Vivid (15.04) system.

### How repr

[2015-10-07 17:00] GordonTheTurtle commented on #16819
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-07 17:00] askb commented on #3519
+1 I use ctrl+q all the time to exit from an app or terminal.

[2015-10-07 17:18] dmp42 commented on #16746
@ain getting a 401 status code on `/v2` is expected.

Others: if you are having issues pulling from the hub, please open a support ticket  on https://support.docker.com

[2015-10-07 17:37] j16sdiz commented on #16755
@Soulou I know this sounds silly.... But do you have >65535 images / containers (include stopped / dead container)?

[2015-10-07 17:37] dmp42 commented on #16728
@ferrix I ran the doc step by step with docker 1.8.2 with no issue.
Can you confirm you did explicitly `docker login myregistry:port` and that you tested exactly what's in the doc?
If so, please copy your complete configuration plus the docker daemon logs showing both the login and the failed push.

Thanks.

[2015-10-07 18:03] rhvgoyal commented on #16092
We seem to have code to return right error if number of data blocks are not 0 or transaction id is not 0. I will debug it and see why it is not being returned.

unc (devices *DeviceSet) checkThinPool() error {
        _, transactionID, dataUsed, _, _, _, err := devices.poolStatus()
        if err != nil {
                return err
        }
        if dataUsed != 0 {
                return fmt.Er

[2015-10-07 18:30] mbruzek commented on #16819
I fixed the original bug report to follow the format.  Please re-review.

[2015-10-07 18:44] pydima commented on #8521
@cpuguy83 Do you think that adding 'logs' parameter would be useful in this case?

[2015-10-07 18:45] cpuguy83 commented on #8521
Not for fixing this particular problem.

[2015-10-07 18:53] thaJeztah commented on #15833
@andrelucas hm, interesting, yes

@dmp42 is this a known issue? ^^ https://github.com/docker/docker/issues/15833#issuecomment-146212892

[2015-10-07 19:22] fabeschan opened #16820 "Fail to install new docker-engine package: size mismatch"
[code]

[2015-10-07 19:22] GordonTheTurtle commented on #16820
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-07 19:40] Braggy85 commented on #16820
Hi,

I'm geting the same thing: Ubuntu 3.19.0-15-generic.
Linux kuba 3.19.0-15-generic #15-Ubuntu SMP Thu Apr 16 23:32:37 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

I'm following the basic instructions here:
https://docs.docker.com/installation/ubuntulinux/

Get:1 https://apt.dockerproject.org/repo/ ubuntu-vivid/main docker-engine amd64 1.8.2-0~vivid [5,699 kB]
Fetched 5,697 kB in 2s (2,396 kB/s)
E:

[2015-10-07 19:40] ah-taktik commented on #16820
Same issue here :

Trying to install docker on ubuntu :
[code]

via this command :

[code]

and get this error :
[code]

[2015-10-07 19:41] yathi-naik commented on #16820
Seeing the same problem on a fresh AWS box.

``` Linux ip-10-0-1-124 3.19.0-25-generic #26-Ubuntu SMP Fri Jul 24 21:17:31 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux ```
```curl -sSL https://get.docker.com/ | sh```
[code]

[2015-10-07 19:42] cpuguy83 commented on #16820
ping @jfrazelle

[2015-10-07 19:43] linxcat commented on #16820
Same here, looks like docker has a bit of a broken somewhere... no wonder no one I asked could tell why it wasn't working even though apt-get upgrade did on the line just before

[2015-10-07 19:46] brianbruggeman commented on #16820
Same issue here (on fresh aws box after an apt-get update).

[2015-10-07 19:48] albertoleal commented on #16820
Same on DigitalOcean.

[2015-10-07 19:52] edublancas commented on #16820
Getting the same when trying to install:

`$ curl -sSL https://get.docker.com/ | sh`

Output:

[code]

[2015-10-07 19:53] linxcat commented on #16820
I think this is enough evidence, I'd guess there's an investigation and fix in-process now

[2015-10-07 19:54] e1senh0rn commented on #16820
Same here, Ubuntu 12.04 (Vagrant):
[code]

[2015-10-07 20:01] alph486 commented on #16820
Ditto - 14.04 Trusty on AWS and Parallels.

[2015-10-07 20:05] joeandrews commented on #16820
same for cloud66. 	Deployment failed: Failed command: sudo DEBIAN_FRONTEND=noninteractive apt-get -y -o Dpkg::Options::="--force-confdef" -o Dpkg::Options::="--force-confold" install docker-engine=1.8.2-0~trusty. Error output: E: Failed to fetch https://apt.dockerproject.org/repo/pool/main/d/docker-engine/docker-engine_1.8.2-0~trusty_amd64.deb Size mismatch E: Unable to fetch some archives, maybe

[2015-10-07 20:05] pdxjohnny commented on #4952
+1 for dhcp

[2015-10-07 20:06] JayH5 commented on #16820
`apt-get install docker-engine=1.8.1-0~trusty` still works FWIW

[2015-10-07 20:06] tomilsinszki commented on #16820
I get the same error when I run `vagrant up` using the following Vagrantfile (**it worked without any errors before**):

[code]

**Error response:**

[code]

[2015-10-07 20:06] michel-jader commented on #16820
Having same issue here (ubuntu 14.04)!!!!

[2015-10-07 20:08] stevevega commented on #16820
Also happening on Debian Jessie.

[2015-10-07 20:08] mbrewster commented on #16820
Same here- Vagrant w/ 14.04

[2015-10-07 20:15] martinsbalodis commented on #16820
Same on kvm ubuntu 14.04, docker ubuntu

[2015-10-07 20:16] marcsalomon commented on #16820
this seems to do the trick:

$ wget https://apt.dockerproject.org/repo/pool/main/d/docker-engine/docker-engine_1.8.2-0~trusty_amd64.deb
$ sudo dpkg -i docker-engine_1.8.2-0~trusty_amd64.deb

[2015-10-07 20:16] Amzani commented on #16820
Same issue on Ubuntu 15.04/vivid

[2015-10-07 20:16] tiborvass commented on #16820
Thanks guys we're working on it

[2015-10-07 20:18] rhvgoyal commented on #16092
@docwhat @Andre-Freitas can you please try the patch attached to PR #16823 and see if it fixes the issue for you.

[2015-10-07 20:20] mbruzek commented on #16819
I see in the error message "INVALIDARGUMENT" so I tried to run the docker daemon manually in the foreground.  `docker daemon` worked but `docker daemon -H fd:\\` does not.
[code]

[2015-10-07 20:20] moxiegirl commented on #16763
@thaJeztah In general, we wouldn't update the release notes after the release.  They went out at a particular point in time and it is normal to expect that issues will be found and reported after a release.  Customers have the ability to search these issues. Rather than continue the discussion here, please feel free to IM me with additional thoughts on the topic.

[2015-10-07 20:22] alph486 commented on #16820
@marcsalomon - Yes good workaround.

[2015-10-07 20:22] michel-jader commented on #16820
@marcsalomon thanks man

[2015-10-07 20:24] cpuguy83 commented on #16820
It would not be a good idea to bypass the gpg checking here, imo.

[2015-10-07 20:33] dmp42 commented on #15833
All: some users reported successfully setting up nfs in the past - though there is currently no nfs-specific documentation, it seems to be somewhat tricky, and the core team here has no expertise or experience with it...

Bottom-line:

 * I would really love to see someone successful here contribute a doc recipe for it
 * unfortunately, I doubt you will receive much help from the core-dev

We stil

[2015-10-07 20:33] petersenna commented on #3763
@calavera  I would like to build and run in a single and native docker command too. Something like $ docker build-and-run would be awesome. It would save me time, lots of time.

[2015-10-07 20:34] Soulou commented on #16755
No question sounds silly, I'm glad you try helping. No, as stated in my `docker info` (first comment), there are only around 400 images and 60 containers

[2015-10-07 20:34] ah-taktik commented on #16820
@marcsalomon, Thanks for the workaround :+1:

[2015-10-07 20:40] Deric4 commented on #16820
Failed on 3.13 kernel

Linux my-server-1 3.13.0-46-generic #77-Ubuntu SMP Mon Mar 2 18:23:39 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

worked on 3.19 kernel

Linux my-server-2 3.19.0-30-generic #34~14.04.1-Ubuntu SMP Fri Oct 2 22:09:39 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

[2015-10-07 20:46] sehyoc commented on #16820
Encountered same issue

0 upgraded, 6 newly installed, 0 to remove and 174 not upgraded.
Need to get 9,133 kB of archives.
After this operation, 50.4 MB of additional disk space will be used.
Get:1 http://us-west-2.ec2.archive.ubuntu.com/ubuntu/ trusty/universe aufs-tools amd64 1:3.2+20130722-1.1 [92.3 kB]
Get:2 http://us-west-2.ec2.archive.ubuntu.com/ubuntu/ trusty/main liberror-perl all 0.17-1.1

[2015-10-07 20:49] jwayong opened #16824 "[Doco] Add docker-elements onto the remote API Client Libraries"
Add docker-elements on the remote API Client Libraries page https://docs.docker.com/reference/api/remote_api_client_libraries/

Name: docker-elements
Language/Framework: HTML5/JavaScripts (Polymer Web Components)
Link: https://github.com/kapalhq/docker-elements

These elements are reusable HTML WebComponents that can be reused in HTML5 app or even in Server-Side WebApp

[2015-10-07 20:49] GordonTheTurtle commented on #16824
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-07 20:53] chuckbutler commented on #16820
@tiborvass this **should be** as simple as reindexing the apt archive. You may need to remove / re-add the package and then regenerate.

[2015-10-07 20:56] bushono commented on #16820
@marcsalomon, Thanks for the workaround! Works perfect!

[2015-10-07 20:58] joegoggins commented on #15603
+1

[code]

[2015-10-07 21:04] eightytwo commented on #9956
@volkanunsal: Can you provide more specific information on how you fixed this issue? I am running into the same problem.

[2015-10-07 21:16] michaeljs1990 commented on #15603
for all the people +q with client and server version can you follow up and say what resolved your issue or if it was just waiting X amount of time and trying again? Did you have to force remove containers or reboot your VM. Information like that is much more helpful as we can see that the issue is indeed occurring on the current client. If you want to subscribe use the button on the right.

[2015-10-07 21:36] joegoggins commented on #8385
+1

[2015-10-07 21:53] icecrime commented on #16820
We should be back: let us know if you're still seeing issues, thanks for your patience.

[2015-10-07 22:01] juanjbrown opened #16829 "OS X 10.11 - timed out index.docker.io"
Times out on build or run.

VirtualBox to 5.0.5 r103020

Terminal output:

    $ docker-machine create --driver virtualbox default
    Creating VirtualBox VM...
    Creating SSH key...
    Starting VirtualBox VM...
    Starting VM...
    To see how to connect Docker to this machine, run: docker-machine env default
    $ eval $(docker-machine env default)
    $ docker run hello-world
    Unable to

[2015-10-07 22:01] GordonTheTurtle commented on #16829
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-07 22:13] #16820 closed

[2015-10-07 22:15] tomilsinszki commented on #16820
@icecrime seems to be working, thx for the fix

[2015-10-07 22:55] thaJeztah commented on #8385
To all people "+1"-ing here; this has been implemented, see https://github.com/docker/docker/pull/15489 and will be in the next (1.9) release

[2015-10-08 00:38] alph486 commented on #16820
@icecrime Thanks :)

[2015-10-08 01:54] odigity commented on #3763
How about an 'up' command like Vagrant?  A vagrant user would associate that with "do everything it takes to get this running, including the build step", which I think is better than no prior mental association at all.

And if it didn't require specifying a tag, but intelligently ran the container it just also built without you having to name it, then the new user experience would be as easy as:

[2015-10-08 01:57] odigity commented on #3763
BTW -- I've since wrapped all my long command lines in a set of shell scripts in my project's bin/ dir.  Has made of world of difference being able to do:

1) bin/dbstart
2) bin/build
3) bin/dev

On a new project to launch a named DB container, build the app container, and run the app container in dev mode (cmd -> /bin/bash) linked to DB container.

Still think a combined command would be useful,

[2015-10-08 02:15] sunyuan3 commented on #16756
I want to reserve docker_cli_rm_test.go.

[2015-10-08 02:58] btrepp commented on #14080
I'm commenting here because this is hell in a corporate world.
We have a SSL intercepting proxy, while I can direct traffic through it, heaps of projects assume they have good SSL connections, so they die horribly.

Even though my machine (and thus the docker builder) trusts the proxy, docker images don't.
Worst still the best practice is now to use curl inside the container, so that is painful, I

[2015-10-08 04:24] Mageee commented on #16756
I want to reserve `docker_cli_version_test.go`.

[2015-10-08 05:00] kenny1986 commented on #16810
kennylim@Kennys-Mac-mini:~$ docker version
Client:
 Version:      1.8.2
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   0a8c2e3
 Built:        Thu Sep 10 19:10:10 UTC 2015
 OS/Arch:      darwin/amd64

Server:
 Version:      1.8.2
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   0a8c2e3
 Built:        Thu Sep 10 19:10:10 UTC 2015
 OS/Arch:      linux/amd64
kennylim@Kennys-Mac-min

[2015-10-08 05:21] kamaljeetrathi opened #16835 "Docker Client And Server Authentication"
How to authenticate client and server in docker.For now they both are on my host machine require no authentication.What if I have client and server on different machine,how I will validate my client with server with some username and password or with some other authentication.

[2015-10-08 05:21] GordonTheTurtle commented on #16835
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-08 05:25] garthk commented on #14792
Seen on OS X against a `docker-machine` image:

[code]

[2015-10-08 05:37] kamaljeetrathi commented on #16835
Issue-:
1.Docker version
  Client:
 Version:      1.8.2
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   0a8c2e3
 Built:        Thu Sep 10 19:19:00 UTC 2015
 OS/Arch:      linux/amd64

Server:
 Version:      1.8.2
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   0a8c2e3
 Built:        Thu Sep 10 19:19:00 UTC 2015
 OS/Arch:      linux/amd64

2.Docker Info
  Containers: 154
Images:

[2015-10-08 05:41] cxxly commented on #16756
I will take integration-cli/docker_cli_login_test.go to start.

[2015-10-08 05:44] vielmetti commented on #783
Ran into this today in the https://github.com/vpicavet/docker-pggis system, trying to get PostGIS running in a container.

[2015-10-08 05:46] coolljt0725 commented on #16835
May be you want this https://github.com/docker/docker/blob/master/docs/articles/https.md#protect-the-docker-daemon-socket  :-)

[2015-10-08 05:55] HuKeping commented on #16756
I'll try my best to keep up updating the first post . Thanks @sunyuan3 @Mageee @cxxly

[2015-10-08 06:06] shaunc commented on #6396
Are IPs for running containers included in the /etc/hosts during build? If so, one solution might be to start a container that served the keys, then curl to it during build.

[2015-10-08 06:08] Crazykev commented on #16756
I want to take `integration-cli/docker_cli_rename_test.go` to start.

[2015-10-08 06:48] antonienko commented on #15603
I haven't solved the issue, but what I do is to restart docker service and
try again. Eventually it gets done.

On Wed, Oct 7, 2015 at 11:17 PM, Michael Schuett <notifications@github.com>
wrote:

--
--
Antonio Hernández

[2015-10-08 06:54] dalbrekt commented on #15603
A workaround that works for me is to restart the docker daemon.

[2015-10-08 07:15] kleptog commented on #13178
@mrichard no, it looks like this isn't going to happen. This feature has been rejected by @icecrime IMHO without taking into the consideration the use cases. It can be worked around by using a Makefile to generate the Dockerfile and building that.

Now, maybe he has a point and rather than adding random labels we just want `docker build` to have a `--version` option to allow you to add versioning

[2015-10-08 07:29] erikh commented on #11699
what about doing this, instead, as a placeholder? https://gist.github.com/erikh/e6f0c5e4b7b6c2483d52

you could leave this in the repository so it's still go-gettable, but then overwrite it during the build. how does this sound?

[2015-10-08 07:29] mallegrini commented on #15603
I haven't solved the issue either and even when I restart docker service and/or delete the VM, I have to  try more than once in a seemingly random pattern until it eventually works.

[2015-10-08 07:33] phlegx commented on #15603
Can confirm this @mallegrini , sometimes it is solved by restarting the docker daemon and/or the VM. But it does not seem to be reproducible at all times

[2015-10-08 07:58] thaJeztah commented on #13178
@kleptog docker 1.9 will allow you to set build-time args, so this will
be possible:

[code]

Building without passing a build-time arg:

[code]

produces:

[code]

And specifying a custom value:

[code]

produces:
[code]

[2015-10-08 08:11] higebu commented on #15833
I have the same issue, and here is my dirty fix for this.

Docker Hub: https://hub.docker.com/r/higebu/distribution/
Source: https://github.com/higebu/distribution/tree/fix-unable-to-delete-layer-upload

This fix ignores all error when remove directories. So temporary directories remain in your `_uploads` directory.

[2015-10-08 08:12] kamaljeetrathi commented on #16835
@coolljt0725  I have tried that looks complicated.It will be great if you can provide any video link to this or  any other link which is simple to use.In this I am quite confuse where all the .pem file are generating and how and when to use it.

[2015-10-08 08:17] thaJeztah commented on #3763
@odigity perhaps you should consider a Makefile for that; see for reference [the one in this repository](https://github.com/docker/docker/blob/master/Makefile) that, for example, allows you to do `make docs`, to build an image with the documentation in it, runs it and starts a web server to preview the documentation

However, a lot of what you're describing is "orchestration" and really [docker co

[2015-10-08 08:23] mallegrini commented on #15603
Let me restate it: what I mean is that I need to try more than once in order to pull the image successfully. Sometimes (very very rarely) it works on first try. Most of the times I have to restart docker, pull again (and fail), restart, pull, etc until it finally succeeds.

I'm trying right now, but this is weird: on my Mac I have also a Linux VM with docker 1.6.2 that used to pull images flawless

[2015-10-08 08:27] xlgao-zju commented on #16756
I'll take `integration-cli/docker_cli_save_load_unix_test.go`.

[2015-10-08 08:27] thaJeztah commented on #783
@fijimunkii @vielmetti fixing this depends on the version of aufs being present on the docker host, and requires a dynamically linked binary (older versions of docker are statically linked). We now offer dynamically linked binaries through our apt and yum repos (see blog post: https://blog.docker.com/2015/07/new-apt-and-yum-repos/), and those are installed by default by the installation script, an

[2015-10-08 08:39] coolljt0725 commented on #16835
@kamaljeetrathi  Sorry, I don't know if there is a video to show how to do this. Maybe other guys can provide some detailed information

[2015-10-08 08:50] gerrywastaken commented on #783
@jfrazelle I'm having a tough time finding that page or any known issues page. The closest I've been able to find is a know issues page for Kitematic:
https://www.google.com.au/#q=site:docker.com+%22known+issues%22

I know I'm just missing an obvious page, but do you have a link?

[2015-10-08 08:53] joelwurtz commented on #15630
I'm facing the same problem but adding the IPForward=yes does not resolve my issue,

Actually every time a container is stopped the bridge lost his ip and i have to manually restart docker / re add ip addr to the bridge :/

[2015-10-08 08:56] mavenugo commented on #15630
@joelwurtz are you seeing it in 1.8.2 ? if not, I would strongly advice you to move to 1.8.2.

[2015-10-08 08:58] zrml commented on #14080
@btrepp thank you for another good use case.

[2015-10-08 09:03] TheSerapher commented on #15603
You may laugh, but I have been looking at this myself and at a whim started docker using strace: `strace -s 1024 -f docker daemon -D`

Then I ran the client trying to pull an image that I knew was consistently failing unless the docker daemon was restarted multiple times (up to 20 times until it worked). To my surprise, albeit slow, the download finished successfully.

So maybe this slowdown by st

[2015-10-08 09:13] joelwurtz commented on #15630
Yes i am on 1.8.2, with more search this may come from another bug with a conflict with "wicd" (as seen in http://stackoverflow.com/questions/28923743/dockers-docker0-device-dies-repeatedly-inet-addr-disappears), i have disable it for the moment and no problems occurs so far

[2015-10-08 09:19] AiOO opened #16839 "APT package for Ubuntu utopic is disappeared."
Description of problem:
===================

I can't run `apt-get update` because APT package for Ubuntu utopic is disappeared.

`docker version`: NA

`docker info`: NA

`uname -a`: Linux ip-10-165-121-233 3.16.0-29-generic #39-Ubuntu SMP Mon Dec 15 22:27:29 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

Environment details:
=========================================

AWS, Ubuntu 14.10(utopic)

How repro

[2015-10-08 09:21] Dzoukr commented on #16265
Hi guys, just to let you know, I had exactly the same problem and this fix works for me:
http://stackoverflow.com/questions/32547427/docker-unreachable-after-computer-sleep/33010351#33010351

[2015-10-08 09:24] AiOO commented on #16839
There is actually no any files or directories on [this path](https://apt.dockerproject.org/repo/dists/ubuntu-utopic/main/binary-amd64/).

[2015-10-08 09:28] wrouesnel opened #16840 "X-Registry-Auth with very long passwords produces malformed base64"
I was using the following password for a private registry: (user = `root`)
[code]
(and am not using it now) - but I found the between docker and docker-py, I couldn't login to the private registry using the latter.

From some investigation it looks like Docker's encoding of the password is wrong, but since it's wrong in both directions the auth still works - whereas because docker-py is in Python,

[2015-10-08 09:28] GordonTheTurtle commented on #16840
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-08 09:44] rodolfo42 commented on #15603
For me, this issue only happens when I'm impatient and `Ctrl+C` before `docker pull` finishes. Afterwards, every pull for the same image results in "already being pulled by another client". Restarting `boot2docker` once solves it 100% of the time.

[2015-10-08 10:01] thaJeztah commented on #9665
@cpuguy83 @rhvgoyal would implementing "deferred deletion", as was just done for device mapper (  https://github.com/docker/docker/issues/16380 https://github.com/docker/docker/pull/16381) be a solution for this one as well?

[2015-10-08 10:02] kamaljeetrathi commented on #16835
Do I have to install boot2docker also for this

[2015-10-08 10:04] thaJeztah commented on #13451
ping @ewindisch, can you have a look here?

[2015-10-08 10:14] gndgnd opened #16841 "Docker container not reachable, bad TCP checksums"
Hi,

We are unable to reach the ports n the container directly or mapped.

INFO
[code]
[code]
[code]

This is our additional settings:

[code]
[code]
[code]
[code]
The running container with the interface vethc356415 is a Discourse container. These are its host and network settings:

[code]
[code]
From inside of the container we are able to ping websites:

[code]
We are also able to get the index

[2015-10-08 10:14] GordonTheTurtle commented on #16841
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-08 10:25] heartlock commented on #16756
I'll take `integration-cli/docker_cli_save_load_unix_test.go` to start .

[2015-10-08 10:32] tallsam commented on #15603
I get this issue with `dockie/dockie` but not with the official ubuntu image.

[2015-10-08 10:33] heartlock commented on #16756
I‘ll take `integration-cli/docker_cli_pull_test.go` to start .

[2015-10-08 10:40] WeiZhang555 commented on #16756
Cool, I'll take `integration-cli/docker_cli_links_test.go` and `integration-cli/docker_cli_links_unit_test.go`

[2015-10-08 10:40] vielmetti commented on #783
Thanks @thaJeztah . My environment is on a Mac using docker-machine to bring up a VM under virtualbox. The bit of relevant info to the file system is

[code]

which looks right. The full "docker info" output is here:

https://gist.github.com/8ef2de84a52c266b7435

[2015-10-08 10:47] thaJeztah commented on #783
@vielmetti if you're using bind-mounted volumes for your container and have permission problems, chances are that's related to https://github.com/boot2docker/boot2docker/issues/581 (or  https://github.com/kitematic/kitematic/issues/351)

[2015-10-08 10:49] moul commented on #3519
:+1:

[2015-10-08 10:56] TheSerapher commented on #15603
@rodolfo42 I should have clarified, this is even before the issue with aborting a download. Checksum validation simply fails, maybe I should have opened or checked for another ticket?

[2015-10-08 10:57] thaJeztah commented on #16265
Thanks @Dzoukr

[2015-10-08 11:11] HuKeping commented on #16756
I'll pick `docker_cli_t*`

[2015-10-08 11:12] ain commented on #16746
Resorted to using save/load as workaround. Worked seamlessly.

[2015-10-08 11:16] xrow commented on #16746
@ain Can you explain your workaround with an conrete example?

[2015-10-08 11:31] lsowen commented on #12087
I had the same issue.  Sorted it by following @kirkhansen fix.

[2015-10-08 11:33] ain commented on #16746
On the machine where the image is on:

        docker save 'some/image:tag' > /a/nice/location/on/network/drive/some_image_tag.tar

and on a machine the image is desired on:

        docker load < /a/nice/location/on/network/drive/some_image_tag.tar

[2015-10-08 11:45] thaJeztah commented on #15267
Closing as this is described on the [Where to chat or get help page](https://github.com/docker/docker/blob/8855bf350026a27a6615fa057d176b28715d77d5/docs/project/get-help.md), and improved by the recent work of @mikebrow (https://github.com/docker/docker/pull/16023)

[2015-10-08 11:45] #15267 closed

[2015-10-08 11:56] j16sdiz commented on #16755
Are all your images `busybox` based?
busybox have higher then usual number of hardlinks.

Btrfs limit is 64k for extref, 255 without extref.

[2015-10-08 12:10] thaJeztah commented on #12087
@lsowen @kirkhansen the 1.9 release will have a selinux policy bundled; https://github.com/docker/docker/pull/15832. For 1.8, manually installing docker-selinux is the solution.

[2015-10-08 12:19] odigity commented on #3763
@thaJeztah -- Thanks for the tip; haven't made time to check out Compose yet, maybe I should.

BTW-I'm a Ruby guy.  I would use the following before resorting to make, in order:  :)

1) plain ruby
2) plain bash
3) Rake (I'm not a huge fan, but it's sometimes useful, and still better than Make)

[2015-10-08 12:33] chanwit opened #16847 "Cannot install 1.9.0~dev~git20151006 on Jessie"
I cannot install the following build on Debian Jessie (DigitalOcean image)
(via `curl https//experimental.docker.com`).

http://apt.dockerproject.org/repo/pool/experimental/d/docker-engine/docker-engine_1.9.0~dev~git20151006.052310.0.1529343-0~jessie_amd64.deb

But everything is fine including network, after rolling back to 1.9.0~dev~git20151005:

http://apt.dockerproject.org/repo/pool/experimenta

[2015-10-08 12:33] GordonTheTurtle commented on #16847
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-08 12:55] thaJeztah opened #16849 "Docker stats "precpu_stats" is not documented"
Reported by "univahpollinger" on IRC; ([logs](https://botbot.me/freenode/docker-dev/msg/51414351/);

PR https://github.com/docker/docker/pull/13320 introduced a `precpu_stats` field in the stats, but this field has not been documented

ping @coolljt0725 :smile:

[2015-10-08 12:55] GordonTheTurtle commented on #16849
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-08 13:13] cpuguy83 commented on #16835
Closing as this is not a Docker issue.
Authentication is done via client TLS verification.

Feel free to ping on #docker on IRC, or the docker-user mailing list.
Thanks!

[2015-10-08 13:13] #16835 closed

[2015-10-08 13:36] buster commented on #6928
I have the same problem and it's unclear to me how to fix it.
I rebooted, i reinstalled docker, i removed /var/lib/docker in between, i made sure no images are present, but every time on "docker run swarm create" i get this error...

[2015-10-08 13:51] Larsouille commented on #15620
Thanks for the fix, work on Fedora 22.

[2015-10-08 13:58] Soulou commented on #16755
Nop, my images are all based on ubuntu:14.04.

I find this error weird, event after deleting some images, it doesn't change anything.

[2015-10-08 14:05] #16824 closed

[2015-10-08 14:28] thaJeztah commented on #16847
Was able to reproduce; copy/pasted some output/logs;
https://gist.github.com/thaJeztah/14f70a7b05d173a8bc52

/cc @jfrazelle

[2015-10-08 14:42] slaupster commented on #13365
+1 for filter inverter

[2015-10-08 14:45] jfrazelle commented on #16847
This looks to be a problem with experimental in general not the debs can you run the static binary

[2015-10-08 14:47] thaJeztah commented on #16847
Hold on, think I've got that droplet still running

[2015-10-08 14:51] thaJeztah commented on #16847
seems to do at least start
[code]

[2015-10-08 14:51] jfrazelle commented on #16847
Regardless there will be new debs in about 5 hours anyways :p

[2015-10-08 14:51] jfrazelle commented on #16847
For experimental

[2015-10-08 14:52] thaJeztah commented on #16847
:-) probably not worth the hassle for now

[2015-10-08 14:52] jfrazelle commented on #16847
From the other logs it looks like the systemd service is hanging so maybe we changed something there :/

[2015-10-08 14:58] Andre-Freitas commented on #16092
@rhvgoyal atm i can't test it atm  because my host is a coreos (and they don't have any compiler tools). I will try to see if i can build docker from source it in another linux distro...

[2015-10-08 15:08] xrow commented on #16746
I think the workaround from @ain will not work for me since I try to push to docker registry. I also did try the proposal from @bensinover, but the also didn`t work for me either.

[2015-10-08 15:10] ain commented on #16746
Yup, Benjamin's idea with login isn't working. Login works fine, the push fails.

For me it was about distributing the image to local team, yes. Sharing a tarball over network would indeed be even more clumsy.

[2015-10-08 15:27] #16092 closed

[2015-10-08 15:42] LK4D4 commented on #12080
I found problem in kernel, but I don't know how to fix it :)

[2015-10-08 15:55] urumican opened #16853 "Does Docker container disable the memory deduplication feature of the host OS?"
I find that Os have the memory deduplication features, does docker disable this feature?

[2015-10-08 16:19] icecrime commented on #16756
Love the initiative :+1: Thanks! :heart:

[2015-10-08 16:26] vbatts commented on #12080
@LK4D4 links?

[2015-10-08 16:31] tiborvass commented on #16756
Thanks @HuKeping :)

[2015-10-08 16:31] atd commented on #16746
I finally managed to push to the registry from another server in a different country

[2015-10-08 16:32] jfrazelle commented on #16756
great idea @HuKeping

[2015-10-08 16:35] kleptog commented on #13178
Oh nice, that's much better and solves the problem nicely. and I see that 1.9 is scheduled for end of this month. This release is full of nice new features!

[2015-10-08 16:43] ntrifunovic opened #16857 "Can not add new user in docker container with mounted /etc/passwd and /etc/shadow"
# Example of the problem

    docker run -ti -v my_passwd:/etc/passwd -v my_shadow:/etc/shadow --rm centos
    [root@681a5489f3b0 /]# useradd test # does not work !?
    useradd: failure while writing changes to /etc/passwd
    [root@681a5489f3b0 /]# ll /etc/passwd /etc/shadow # permission check
    -rw-r--r-- 1 root root 157 Oct  8 10:17 /etc/passwd
    -rw-r----- 1 root root 100 Oct  7 18:02 /et

[2015-10-08 16:43] GordonTheTurtle commented on #16857
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-08 16:45] LK4D4 commented on #12080
@vbatts
[here](https://github.com/torvalds/linux/blob/master/fs/overlayfs/dir.c#L183) dentry for hardlink will have new inode, but [code](https://github.com/torvalds/linux/blob/master/net/unix/af_unix.c#L318) expects to find unix-socket under same inode. So even if both dentrys have upperdentry with same inode,  `unix_find_socket_byinode` uses their inodes directly which is different. I tried to j

[2015-10-08 16:49] LK4D4 commented on #12080
Also here results which might be helpful to find root cause:
[code]

[2015-10-08 16:52] anandkumarpatel commented on #14718
Will be a while before I can test out 1.8.2. I am ok with closing this
issue since @vlerenc <https://github.com/vlerenc> has verified it working.

[2015-10-08 17:08] anandkumarpatel commented on #8539
Just saw this again on ubuntu, @klausenbusk do you know of any linux issues that would cause this on ubuntu 14.04?

error:
Error starting exec command in container <id>: Cannot run exec command <id> in container <id>: [8] System error: fork/exec /usr/bin/docker: cannot allocate memory

[code]

[2015-10-08 17:30] dmp42 commented on #16746
All: a 403 status code can be encountered for a number of different reasons.

One of them is country based access restriction (Docker being a US based company, it has to comply with us export control regulations).

If you are blocked, please open an issue to https://support.docker.com providing your IP and where your system is located.

Other reasons for a 403:

 * running docker 1.8.0
 * networki

[2015-10-08 17:36] LK4D4 commented on #12080
Also little confusing that `vfs_fstat` returns `ino` for `upperdentry`. I can try to use it somehow to get real inode after `kern_path`, but not sure that it won't break stuff for other filesystems.

[2015-10-08 17:37] tony-spataro-rs commented on #13178
Excellent! Thanks much for your consideration; this will fit the bill nicely (and is more generally useful than a `--label` flag).

[2015-10-08 17:40] zelahi commented on #16721
I would like to work on it if no one is working on it.  And if someone is working on it, could I jump on board and help out?

[2015-10-08 17:43] cxxly commented on #16756
@HuKeping  I will closed pull request #16836 and recreate it in #16858, please update the list
integration-cli/docker_cli_login_test.go @cxxly #16836   to
integration-cli/docker_cli_login_test.go @cxxly #16858
sorry for my change, thanks

[2015-10-08 18:05] Mic92 commented on #16112
ping @chriswayg

[2015-10-08 18:11] LK4D4 commented on #12080
I think I got it, at least without panic. Testing with docker now.

[2015-10-08 18:14] #15659 closed

[2015-10-08 18:22] icecrime commented on #11486
I understand the use case in a dev environment, but I'm afraid people will start using this for bad reasons. Instead of overriding the ApiVersion, can we make it some sort of "dev mode" that bypasses the check entirely?

[2015-10-08 18:28] Puneeth-n commented on #15712
@fastrde Thanks :) Worked like a charm

[2015-10-08 18:33] jfrazelle commented on #15962
see explanation here https://github.com/docker/docker/pull/16013#issuecomment-146647216

[2015-10-08 18:33] #15962 closed

[2015-10-08 18:36] #16070 closed

[2015-10-08 18:39] ain commented on #16746
@dmp42 you must be kidding me. Export Control Regulations? I pushed my images originally from Germany, to an account registered in US, so I believe I could be subjected to such restrictions. Which would be completely crazy as I have had no such legislation change alert from you and we got a hiccup of several days now.

The whole point of Docker for many teams, incl. ours, is to support distributed

[2015-10-08 18:50] duglin commented on #11486
I think @ahmetalpbalkan was looking for more than just turning off the check on the daemon but to also have the CLI change the URL it used.  But I'll defer to @ahmetalpbalkan on this one.

[2015-10-08 19:02] cjbottaro opened #16860 "Bind mount doesn't work when running docker from inside a container"
Run a container and bind mount `/var/run/docker.sock` so that it can run docker...
[code]

Now from within that container...
[code]

Then from within that container...
[code]

`/text.txt` didn't get bind mounted properly.

Here's my docker version:
[code]

Thanks.

[2015-10-08 19:02] GordonTheTurtle commented on #16860
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-08 19:03] thaJeztah commented on #14718
Thanks @anandkumarpatel, I'll close this, but comment here if you're still able to reproduce in 1.8.x

[2015-10-08 19:03] #14718 closed

[2015-10-08 19:05] earvidso commented on #15833
Note that as implied by https://github.com/docker/docker/issues/15833#issuecomment-137692059, this is also a problem when the Docker registry data is hosted on a Windows file system/share. That makes me strongly suspect that this is an issue with locking semantics.

[2015-10-08 19:05] fijimunkii commented on #783
Thanks @thaJeztah! I tried a few ways of enabling dirperm1 support, but in the end switched to Overlay FS with [this guide](https://gist.github.com/parente/025dcb2b9400a12d1a9f)

[2015-10-08 19:07] cjbottaro commented on #16860
[code]

[code]

[code]

OS X client with Docker daemon running on VirtualBox vm created via docker-machine.

Steps to reproduce are in original message.

[2015-10-08 19:13] larsks commented on #16572
I'm seeing the same problem. I'm running:

    Client:
     Version:      1.8.2-fc23
     API version:  1.20
     Package Version: docker-1.8.2-5.gitcb216be.fc23.x86_64
     Go version:   go1.5
     Git commit:   cb688cf-dirty
     Built:        Mon Sep 21 20:21:20 UTC 2015
     OS/Arch:      linux/amd64

    Server:
     Version:      1.8.2-fc23
     API version:  1.20
     Package Version:

[2015-10-08 19:16] jfrazelle commented on #16847
New debs were pushed can you try

On Thu, Oct 8, 2015 at 7:53 AM -0700, "Sebastiaan van Stijn" <notifications@github.com> wrote:

:-) probably not worth the hassle for now

—
Reply to this email directly or view it on GitHub.

[2015-10-08 19:16] jfrazelle commented on #16847
Thanks !

On Thu, Oct 8, 2015 at 7:53 AM -0700, "Sebastiaan van Stijn" <notifications@github.com> wrote:

:-) probably not worth the hassle for now

—
Reply to this email directly or view it on GitHub.

[2015-10-08 19:33] ahmetalpbalkan commented on #11486
Turning off the check on the daemon is way harder... For instance docker-swarm didn't have any release in the past 2 months and it still exposes the ancient API Version 1.16 which makes it impossible to use with new clients.

Also any time I need to change some daemon setting I need to ssh, update setting and restart the service (therefore restart all containers)... Seems a lot tedious/dangerous t

[2015-10-08 19:46] klausenbusk commented on #8539
@anandkumarpatel I'm not a expert at all :) It related to the cache/buffer somehow, you should take a look at https://github.com/coreos/bugs/issues/489  . also you can try raising vm.min_free_kbyte as a workaround.

[2015-10-08 19:46] cjbottaro commented on #16860
Gah, I just realized the left hand side of the bind mount is always on the host machine, e.g. _where the docker daemon is running_.

[2015-10-08 19:46] #16860 closed

[2015-10-08 19:53] #11584 closed

[2015-10-08 20:04] dmp42 commented on #16746
@ain Like I said:

 * getting a 403 is triggered by different conditions - geoip restriction is just one of them - might or might not be your problem here
 * either way, this here the bugtracker for the docker engine - issues with the hub have a dedicated support channel here: https://support.docker.com so please reach out to them so they figure out what's wrong for you and they can fix it
 * I'm

[2015-10-08 20:11] jfrazelle commented on #16847
ugh I hate the microsoft outlook app for doing emails to gh wrong, actually i bet i can file bug w github

[2015-10-08 20:17] bensinober commented on #16746
actually, as @ain pointed out, the problem is probably authentication issues. docker login to https://index.docker.io/v1/ works but a push is followed by a `Error in LookupRemoteImage: HTTP code 401` which means failed auth. Docker login directly to https://registry.hub.docker.com/v1/ however works.

If we suffer from the same problem, it's more likely an API issue

[2015-10-08 20:26] rsmoorthy commented on #8887
There are a couple of workarounds, including using SSH tunnels -- but that requires ssh accounts on the registry host. The following workaround, does not need that.

Run the registry port forwarder, as follows:

[code]

And then pull or push images from your local registry:
[code]

[2015-10-08 20:27] dmp42 commented on #16746
@bensinober the OP and other people on this ticket reported a 403, not a 401. Furthemore, @ian pointed out that a curl on /v2 ends-up with a 401 - this is expected and is part of the API.

I know this is frustrating, but if we want resolution on this, we need to address separate issues one by one, and have a clear view of what the symptoms are (and 401 on /v2 is not a symptom).

Once again: hub is

[2015-10-08 20:28] MHBauer commented on #16840
Looks like something before the base64 encoding tries to escape the backslash.
[code]
I don't know where the code that does this is.

[2015-10-08 20:44] cpuguy83 commented on #16721
I don't think there is anyone working on it.

[2015-10-08 20:47] cpuguy83 commented on #16857
You cannot use `-v` with a relative path name as there is nothing to be relative to since this is done by the daemon.
This is creating a named volume, which would go into `/var/lib/docker/volumes/my_passwd`, and would be a dir.
I'm surprised the container even started since you it would be trying to mount a dir onto a file.

[2015-10-08 20:50] ain commented on #16746
@dmp42 I appreciate your feedback a lot, thanks.

I have now tested geoip restriction and I have every reason to believe that this is not the cause. I wasn't able to push with US VPN either. I'd speculate some sort of auth split that appeared with the v2 API.

[2015-10-08 20:58] dmp42 commented on #16746
@ain then let's dig into it. Can you provide me with your complete docker *daemon* (not cli) logs, ran in debug mode (`-D`), when the failure happens?
That would help a lot.

[2015-10-08 21:29] thaJeztah commented on #16847
\o/ just tested, installing experimental worked. Thanks!

Is it good, otherwise, the outlook app? (never used it on iOS) :smile:

@chanwit I'll proceed and close this issue, but ping us if it doesn't work for you

[2015-10-08 21:29] #16847 closed

[2015-10-08 21:31] jfrazelle commented on #16847
yeah its great I would fix the comments but i want to use them as an
example ;)

On Thu, Oct 8, 2015 at 2:30 PM, Sebastiaan van Stijn <
notifications@github.com> wrote:

[2015-10-08 21:50] donny-dont commented on #14634
@icecrime did you also include the snake case versions? Some things like apt-get and wget seem to want http_proxy and ignore HTTP_PROXY. This is what I was seeing when we were getting our Drone servers to build out docker images behind a proxy.

[2015-10-08 22:01] thaJeztah commented on #14634
@donny-dont both uppercased and lowercased are supported

[2015-10-08 22:08] donny-dont commented on #14634
@thaJeztah sounds good thanks for the speedy response :+1:

[2015-10-08 22:33] justinclayton commented on #8887
@rsmoorthy That is fantastic. Thank you for succinctly demonstrating the futility of this current restriction.

Docker, please re-include this particular battery.

[2015-10-08 22:57] diwo commented on #3519
Please *STOP* bumping this issue if you have nothing to contribute to the discussion. Each time a person +1 this issue, dozens of people get notified via email. Thank you.

[2015-10-08 23:16] myyk commented on #13670
I had the same issue. It was also fixed with a reboot of the docker-machine.

    🍕: docker-machine --version
    docker-machine version 0.4.1 (HEAD)

    🍕: docker --version
    Docker version 1.8.2, build 0a8c2e3

[2015-10-09 00:49] cpuguy83 commented on #16853
https://openvz.org/KSM_(kernel_same-page_merging)#Enabling_memory_deduplication_libraries_in_containers

Closing as this is a dup of #7950 which also has some useful links.

[2015-10-09 00:49] #16853 closed

[2015-10-09 00:51] nordic-style commented on #16819
same for me - fresh installation

[2015-10-09 00:55] cpuguy83 commented on #16839
ping @jfrazelle

[2015-10-09 01:11] btrepp commented on #14080
I can think of another situation.

One of the things I would like to do with my dockerfiles is not ship the build tools with the "compiled" docker file. There's not reason a C app needs gcc, nor a ruby app need bundler in the image, but using docker build currently while have this.

An idea I've had is specifying a dockerfile, that runs multiple docker commands when building inside it.

Docker fil

[2015-10-09 01:14] zhangjianfnst commented on #16756
Can l take the `integration-cli/docker_cli_links_test.go` and `integration-cli/docker_cli_links_unix_test.go`.

[2015-10-09 01:33] zhangjianfnst commented on #16756
I want to take `integration-cli/docker_cli_logs_test.go`.

[2015-10-09 02:08] azurezk commented on #16578
#dibs

[2015-10-09 02:09] #16598 closed

[2015-10-09 02:09] #16738 closed

[2015-10-09 02:16] cxxly commented on #16756
@HuKeping @thaJeztah @vdemeester @zelahi, this is notablle
"Note that if the comment is constant, a better option is to simply use a normal comment right above or next to the line, as it will also get printed with any errors:"
in https://godoc.org/gopkg.in/check.v1#Commentf
thanks @MHBauer

[2015-10-09 02:18] liaoqingwei commented on #16756
Hi，I will take docker_cli_nat_test.go,docker_cli_network_test.go,docker_cli_pause_test.go,docker_cli_proxy_test.go

[2015-10-09 03:17] cxxly commented on #16756
@liaoqingwei  I have make a pr in docker_cli_proxy_test.go, you can firstly take docker_cli_nat_test.go,docker_cli_network_test.go,docker_cli_pause_test.go,

[2015-10-09 03:28] glasser commented on #13914
If docker changed to add rules to the `DOCKER` chain with `-I` (insert at front) instead of `-A` (append), it would work around this bug: even though the old bad rules would still be there, at least the new rules would take precedence.

I've written a little tool that I'm going to try to run in a cronjob every minute in production: https://gist.github.com/glasser/0486d98073ce15f38b9d

[2015-10-09 03:35] HuKeping commented on #16756
@cxxly it's a good practise that check the issue before submitting an PR :)

[2015-10-09 04:08] WeiZhang555 commented on #16756
`integration-cli/docker_cli_links_unix_test.go` file is also involved in  #16854, please help updated. :)

[2015-10-09 04:10] csirac2 commented on #16572
@cpuguy83 apologies for the late response. eth0 is a NIC, not a bridge. Daemon flags are in the initial report, but here they are again:

[code]

[2015-10-09 04:22] WeiZhang555 commented on #16756
I'll take another shot, taking `integration-cli/docker_cli_rmi_test.go` and `integration-cli/docker_cli_start_test.go`

By the way, `docker service` command has gone away for now #16645, and `integration-cli/docker_cli_service_test.go` no longer exists, so we can remove it from list

[2015-10-09 05:44] kkeane commented on #15936
I would argue against closing this, because this is not a valid workaround.

If you don't specify a host path, then the volume ends up in a place I may not always want, namely hiding somewhere deep under /var/lib/docker; the only way to find it is with docker inspect.

Here is my use case, just to illustrate why this can be useful (and, yes, of course I have an easy workaround, but it's a kludge):

[2015-10-09 05:54] HuKeping commented on #16756
Thanks @WeiZhang555 , removed.

[2015-10-09 06:03] chanwit commented on #16847
Thank you. I check it and get back to you if there is any problem.

[2015-10-09 06:18] vikstrous commented on #16840
In JWT tokens the `/` is replaced with `_` and the padding is removed. Docker hub uses that scheme and docker-py is using regular base64 encoding. This is a bug in docker-py. I'll open an issue there for you. This issue can be closed.

[2015-10-09 06:59] liaoqingwei commented on #16756
On 2015/10/9 11:19, Xiaoxu Chen wrote:

OK

[2015-10-09 07:27] fgimenez commented on #9986
#dibs

[2015-10-09 08:16] cxxly commented on #16756
takeintegration-cli/docker_hub_pull_suite_test.go and integration-cli/docker_cli_stats_test.go to work

[2015-10-09 08:57] ain commented on #16746
@dmp42 [here you have a log](https://dl.dropboxusercontent.com/u/2994788/docker.log) for following process:

1. `docker logout` (succeeds)
2. `docker login` (succeeds)
3. `docker push <image>` (fails)

[2015-10-09 09:17] gndgnd commented on #16841
The issue persisted after upgrade to docker 1.8.2. Issue resolved by changing the host firewall settings.

[2015-10-09 09:17] #16841 closed

[2015-10-09 09:23] xrow commented on #16746
I can confirm that I have the same problem as @ain. I can add some details maybe. As a thesis: the problem might  be a routing problem caused by 54.240.229.74. For me 54.240.229.74 has high package loss. @ain can you confirm that you have the same router with package loss in your route to docker.io? I have written an email to ipmanagement@amazon.com.

[code]

[2015-10-09 09:41] ain commented on #16746
Nope, no packet loss for me.

![screen shot 2015-10-09 at 11 40 33](https://cloud.githubusercontent.com/assets/370576/10390713/a5595bb2-6e7a-11e5-80a6-8695d50477fe.png)

[2015-10-09 09:45] huwei88 commented on #4952
@thaJeztah, thanks. I'll appreciate that if you can give me another doc or link about how the container get ip address, e.g. by dhcpclient? or write the configurations into network configuration files(e.g. interfaces).

Thanks.

[2015-10-09 10:01] bjoernjacobs opened #16878 "Support for Debian Wheezy"
I followed the installation steps at https://docs.docker.com/installation/debian/ for Debian Wheezy. However, I was unable to install the package docker-engine because of this error:

`The following packages have unmet dependencies: docker-engine : Depends: init-system-helpers (>= 1.18~) but it is not installable`

In issue https://github.com/docker/machine/issues/1607 I read that if support for W

[2015-10-09 10:01] GordonTheTurtle commented on #16878
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-09 10:08] jamiehannaford commented on #10150
I'm also running into this error (`x509: certificate signed by unknown authority`). When I curl the endpoint it works, so I'd rather not have to fiddle with the Swarm host.

[2015-10-09 10:16] Andre-Freitas commented on #16813
if i use a more recent coreos CoreOS alpha (815.0.0)
[code]
and if i do docker run -it teste/postgresql-base-isolated -n teste now i have now the correct values
[code]
But if i use this image as a base to another dockerfile docker build --rm -t="teste/postgresql-base" . with the dockerfile - http://ur1.ca/nysrx i how have the same problem
[code]

[2015-10-09 10:17] wkoszek opened #16880 "docker should print meaningful "NAMES" column for interactive jobs"
From 1st terminal I execute:

`docker run -t -i wkoszek-nginx /bin/bash`

from another I'm typing: `docker ps`. Repeat the sequence 2 times. Results:

[code]

Seems like docker is picking ephemeral names each time I start a different interactive job.

These names confused the great deal out of me, since I initially believed somebody else is playing with my machine. I'd prefer to see something mean

[2015-10-09 10:17] GordonTheTurtle commented on #16880
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-09 10:19] thaJeztah commented on #4952
@huwei88 it's probably better to ask those questions to @mrjana or @mavenugo. You can try asking in the #docker-network or #docker-dev IRC channel, or the [docker-dev](https://groups.google.com/forum/#!forum/docker-dev) Google Group

[2015-10-09 10:22] huwei88 commented on #4952
Yeah. Thanks. I'll have a try in docker-dev google groups. :)

[2015-10-09 10:23] hadim commented on #13381
I don't know why but without restarting server the following works, `docker run -it --rm --net=host ubuntu ping 8.8.8.8` while this does not work, `docker run -it --rm ubuntu ping 8.8.8.8`

[2015-10-09 10:30] ntrifunovic commented on #16857
Mounting files with docker works fine for me.

Source:  https://docs.docker.com/userguide/dockervolumes/

In fact the problem is related to the mounting of files, see: http://stackoverflow.com/a/33022690/4004007

[2015-10-09 10:59] duglin commented on #16880
When you say "each time" its not clear if you mean for "each ps" or for "each container created".

Docker will not change the name of container for "each ps". In the example you've shown, the name
of the web:latest container changes because its a different container - see the containerID changes.

As for each container getting ephemeral names, Docker has no real way of knowing what's going on in t

[2015-10-09 10:59] #16880 closed

[2015-10-09 11:44] lhuard1A commented on #12080
@LK4D4 : I tested your patch both with my minimalist reproducer and with my “real-life” use-case with docker and it works for me.

[2015-10-09 12:09] thaJeztah commented on #12080
Thanks for testing @lhuard1A :metal: excited to see this moving forward (fingers crossed) @LK4D4 :+1:

[2015-10-09 12:13] thaJeztah commented on #16756
Thanks everyone that joined in on this, and started contributing. It didn't go unnoticed, and we're really happy with al your efforts :metal: Open Source FTW!

[2015-10-09 12:29] kwk commented on #16516
Thank you all for fixing this bug! Can't wait to get my hands on an appropriate docker version.

[2015-10-09 12:32] thaJeztah commented on #15936
@kkeane for anonymous volumes; please see the new volume API/UX that will be in Docker 1.9: https://github.com/docker/docker/pull/14242

[2015-10-09 12:52] heartlock commented on #16756
I'll take ~integration-cli/docker_cli_pull_local_test.go~

[2015-10-09 12:53] heartlock commented on #16756
I'll take `integration-cli/docker_cli_pull_local_test.go`

[2015-10-09 12:56] akerekes opened #16883 "invalid memory address or nil pointer dereference after pull"
I have a registry running localhost that uses S3 as a backend storage. After pulling an image that already exists, docker daemon died all of a sudden. Cannot reproduce it, first time I observe it. The node is running on AWS, r3.4xlarge instance.

[code]

[code]

[code]

Error log:
[code]

[2015-10-09 13:18] perj opened #16884 "Devicemapper remounts /var/lib/docker/devicemapper to itself on startup"
Hi,

I'm running docker with device mapper in direct lvm mode on CentOS 7.

When docker engine starts up, it seems to mount the root file system to /var/lib/docker/devicemapper for no reason:

[code]

This is the root device as also seen in mount:

[code]

It also leave the directory mounted even if I stop docker.
It's the sub directory mounted to itself, after manually unmounting it, docker still

[2015-10-09 13:18] GordonTheTurtle commented on #16884
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-09 13:23] perj commented on #16884
`docker version`:
Client:
 Version:      1.8.2
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   0a8c2e3
 Built:        Thu Sep 10 19:08:45 UTC 2015
 OS/Arch:      linux/amd64

Server:
 Version:      1.8.2
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   0a8c2e3
 Built:        Thu Sep 10 19:08:45 UTC 2015
 OS/Arch:      linux/amd64

`docker info`:
Containers: 8
Images: 227
Storage

[2015-10-09 13:37] cpuguy83 commented on #16878
Debian Wheezy's kernel is from 3.2, which is too old to run Docker.

[2015-10-09 13:51] bjoern-jacobs commented on #16878
I see. And if we used a backported newer kernel (what we actually do, 3.18)?

[2015-10-09 13:51] vdemeester commented on #16756
Joining the other maintainers on the :metal: and :heart: !! :heart_eyes_cat:

[2015-10-09 14:17] pmbauer commented on #8513
Ran into this issue today as well.
a `docker run --tty=true ...` outputs `\r\n` instead of `\n` on linux
[code]

[2015-10-09 14:22] cpuguy83 commented on #16857
@ntrifunovic Yes, my point is `-v foo:/bar` will not mount a file, it will create a named volume since relative paths are not supported for the source.

[2015-10-09 14:39] vassilvk commented on #16760
I am having the same issue. Windows 8.1.

The updated instructions are a bit confusing as they refer to two places where the keys are supposed to be: `%USERPROFILE%\.ssh` and `%USERPROFILE%\.docker\machine\machines\<name_of_your_machine>`.

Not sure which one is the correct one, but after a fresh install of Docker, I had no certs and no keys in neither of these locations.

I regenerated the keys u

[2015-10-09 14:46] elgalu commented on #16754
@duglin I already write the scripts what check for the desired state, the idea of this feature request is to standardize it a bit.

[2015-10-09 14:49] duglin commented on #16754
https://github.com/docker/docker/pull/13140   :-(

[2015-10-09 14:50] DanielYWoo commented on #10324
I want --net, I don't see why those network parameters for "docker run" cannot be applied to "docker build". Actually I have problems with bridge everyday and eventually we basically always use --net=host for everything (most of my containers gossip each other, do leader election etc).

[2015-10-09 14:56] DanielYWoo commented on #10324
And I agree with cetex, --net=host should be default for docker run/build.

[2015-10-09 15:03] elgalu commented on #16754
;)

[2015-10-09 15:03] #16754 closed

[2015-10-09 15:06] cpuguy83 commented on #15936
Yes +1 to @thaJeztah. This issue of finding your volumes is solved at this point and will be available in docker 1.9.

[2015-10-09 15:06] #15936 closed

[2015-10-09 15:20] cetex commented on #10324
I'd prefer it if --net=host would be configurable on docker daemon commandline so you "select a system default" when starting the daemon. docker [run|build] --net=<something> should only be used when you want to override the system defaults for some reason.

[2015-10-09 15:34] gesellix opened #16885 "remote api: wrong /logs content-type"
Description of problem:

As described in the docs for [`/containers/(id)/logs`](https://docs.docker.com/reference/api/docker_remote_api_v1.20/#get-container-logs), the response Content-Type should be `application/vnd.docker.raw-stream`. Actually, it is always `text/plain`, using the current Docker 1.8.2 release.

Things become a bit more complex, though, because plain text works well as long as th

[2015-10-09 15:34] GordonTheTurtle commented on #16885
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-09 15:42] rafriki commented on #16746
I'm having this error whilst following the tutorial also:

[code]

[2015-10-09 15:45] cpuguy83 opened #16887 "Restart Policies broken on master"
When a container restart policy kicks in, there is a networking issue when the container restart is attempted, here is the error message in the daemon logs: `ERRO[0015] Error running container: [8] System error: failed to set sandbox key : already assigned`

This happens at each restart attempt (by the restart policy).

Repro:
[code]
Then check the daemon logs.
Note that even when the container ne

[2015-10-09 15:45] GordonTheTurtle commented on #16887
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-09 15:46] kkeane commented on #15936
Doesn't help me; I'm stuck on Docker 1.7 for unrelated reasons. But I agree; I can't expect new features to be added to old versions.

[2015-10-09 16:05] LK4D4 commented on #12080
However patch contains bug, which I fixed in my branch. I'll try to send it to lkml today.

[2015-10-09 16:12] xynny commented on #16839
We also have this issue.  All builds are failing.  What is the recommended upgrade path?

[2015-10-09 16:16] jfrazelle commented on #16839
ah its the index file is wrong one sec

[2015-10-09 16:17] tianon commented on #16839
See also #15529 -- Utopic is EOL and you should switch to either LTS
(14.04) or upgrade (15.04).

[2015-10-09 16:19] xynny commented on #16839
yeah I am trying 14.04 & 15.04, too, but need to test those further to get the entire build working.

[2015-10-09 16:36] jfrazelle commented on #16839
updated

[2015-10-09 16:36] #16839 closed

[2015-10-09 16:42] thaJeztah commented on #16760
@vassilvk I think there's an id_rsa file in there, could you try with that one?

[2015-10-09 16:45] jfrazelle commented on #16839
might take a sec for the cache to bust

On Fri, Oct 9, 2015 at 9:20 AM, xynny <notifications@github.com> wrote:

[2015-10-09 17:03] mynameismevin commented on #11529
@tiborvass still looking for volunteers?

[2015-10-09 17:09] dmp42 commented on #16746
@ain `time="2015-10-09T08:49:51.577452478Z" level=debug msg="Error getting v2 registry: Get https://registry-1.docker.io/v2/: net/http: request canceled while waiting for connection"` is the culprit here.

Your docker engine failed to establish a connection with the Hub.

My suggestion:
 * `curl -iv https://registry-1.docker.io/v2` <- run that a dozen times, from the same host where your docker da

[2015-10-09 17:10] dmp42 commented on #16746
@xrow same thing, please reach out to the hub support and have them look into it with the requested info.

[2015-10-09 17:11] dmp42 commented on #16746
@rafriki where are you located?

Also, please provide at least your docker daemon logs. If you are in the same case as other people here (failure to establish a connection with the hub), then pleasereach out to support.

[2015-10-09 17:17] cxxly commented on #16756
take  integration-cli/docker_cli_wait_test.go

[2015-10-09 17:32] williamh commented on #12080
@lk4d4:
Can you please post a link to the updated patch in this issue?

Thanks much,

William

[2015-10-09 17:52] LK4D4 commented on #12080
@williamh https://gist.github.com/anonymous/e2da5e831a264b799877

[2015-10-09 17:59] altsheets commented on #15738
Thanks for getting back to me.

So you could not reproduce my problem described above?

Does https://www.docker.com/toolbox
https://github.com/docker/toolbox/releases/download/v1.8.2c/DockerToolbox-1.8.2c.exe
already include the fix for this?
Then I am happy to try. But I am quite busy, and reluctant to be a beta tester.

Also, I have quit using Docker on Windows - only on Linux now.

[2015-10-09 18:10] tiborvass commented on #11529
@mynameismevin yes please :)

[2015-10-09 18:17] gmanfunky commented on #15272
@thaJeztah , not quite the same issue. but I suspect both have to do with the way that docker is using GO to do terminal stuff.

Regular Windows 7 cmd.exe window can control a ```docker run -it ubuntu bash``` just find.

For example, the "no tty" problem with ```docker run -it``` only happens when running in a terminal like MSYS2 MinTTY and can be worked around by starting it under a console eumul

[2015-10-09 18:40] aidanhs commented on #6396
You may all be interested to know that I've blogged about a way to use your SSH agent during `docker build` - http://aidanhs.com/blog/post/2015-10-07-dockerfiles-reproducibility-trickery/#_streamlining_your_experience_using_an_ssh_agent

You just need to start a single container. Once started, SSH agent access should work flawlessly with only 3 additional lines in your Dockerfile - no more need to

[2015-10-09 18:51] duglin opened #16892 "Revert 90 col change from #14546"
See #16815.

We should find a different option name than `--disable-content-trust` so that we can keep our help text within 80 characters. By doing so we are also ensuring that we're not forcing people to use excessively long option names.

Possible alternatives:
[code]

[2015-10-09 18:51] GordonTheTurtle commented on #16892
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-09 18:52] duglin commented on #16892
ping @dmcgowan

[2015-10-09 19:03] dmcgowan commented on #16892
I have no opinion on this as the naming was not my choice nor a battle I would care to fight. I will say this flag was not intended to be short and using it will be actively discouraged.

Ping @diogomonica and @NathanMcCauley for timeline on when this flag would become more relevant by having trust on by default.

[2015-10-09 19:07] diogomonica commented on #16892
@duglin the point, as @dmcgowan stated, was that this is long and annoying. People shouldn't be using it.

I personally don't care about the 80 char thing.

[2015-10-09 19:10] duglin commented on #16892
I have no issue with making that flag annoying, but now we'll annoy people with 80 char screens. We went out of our way in the past to fit everything in 80 chars, now that's all blown away.  Would you object to just `--disable-ctrust` ?

[2015-10-09 19:19] burke commented on #9718
This was fixed by https://github.com/docker/docker/pull/15955 AFAICT.

[2015-10-09 19:19] jakirkham commented on #4907
Any chance we might see this somewhere. If reaping will become part of `docker` ( https://github.com/docker/docker/issues/11529 ), it would be nice to remove home built things like `tini` ( https://github.com/krallin/tini/ ). This is hardly the only use case that I can see for this feature.

[2015-10-09 19:20] vbatts commented on #9718
Burke, have checked this on master?
On Oct 9, 2015 14:19, "Burke Libbey" <notifications@github.com> wrote:

[2015-10-09 19:26] burke commented on #9718
Yep, I tried my repro from https://github.com/docker/docker/pull/16893 and it's fixed.

[2015-10-09 19:27] mynameismevin commented on #11529
I'll work on coming up with something based off the discussion that's been had thus far.

[2015-10-09 19:27] cpuguy83 commented on #16892
Instead of changing the flag (b/c it seems correct), maybe we can work on fixing wrapping issues in the help output?
There have been times when I had to really skimp on a flag description to make it fit into the 80 col test.

[2015-10-09 19:30] duglin commented on #16892
Each command can have several lines of extra text to help describe the command and its options. But I think keeping the one-liner for each option is a good thing.

[2015-10-09 19:34] duglin commented on #16892
We could go all out and format it like a normal man page.
[code]

[2015-10-09 19:35] duglin commented on #16892
But to be honest, I think that'll make things pretty verbose.

[2015-10-09 19:45] vbatts commented on #9718
Good to hear. Then docker-1.9 it is.
On Oct 9, 2015 14:26, "Burke Libbey" <notifications@github.com> wrote:

[2015-10-09 20:06] icecrime commented on #9718
Thanks @burke! :-)

[2015-10-09 21:22] vassilvk commented on #16760
Nice! This worked :)

Thank you so much, theJeztah!

[2015-10-09 21:28] thaJeztah commented on #16760
@vassilvk so, I agree that this needs some improvement to the docs, to explain *which* file contains the key. Are you interested in contributing and creating a pull-request, or do you want a maintainer to take care of that?

[2015-10-09 22:12] vdemeester commented on #16756
@HuKeping updated the merged ones and add a few names too :wink: (hopefully I didn't miss some :sweat_smile: ).

[2015-10-09 23:29] icecrime commented on #15603
Hello all! I believe this should by fixed on master by #15489 (and will soon ship in a few weeks as part of Docker 1.9.0).

Can you please try with the current master, or with the nightly builds available on [this page](http://master.dockerproject.com/)?

I'm tentatively closing this, but keeping the tab open in case it breaks ;-)

[2015-10-09 23:29] #15603 closed

[2015-10-09 23:46] aespinosa opened #16896 "revert following symlinks in docker cp"
Description of problem:

This was disabled with the fix in #14885 . Adding a flag to the `docker cp` command like `-L' or '-H' like in the `cp` command can probably enable this feature back again.

`docker version`:

[code]
`docker info`:
[code]

`uname -a`: `uname -a
Linux dockerhost.localdomain 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt11-1+deb8u4 (2015-09-19) x86_64 GNU/Linux`

How reproducible:

[2015-10-10 00:36] dubwoc commented on #16256
You really should be making that change in "/etc/default/docker" not directly to the systemd service file. In /etc/default/docker add the argument to the DOCKER_OPS variable.

[2015-10-10 00:37] thaJeztah commented on #16896
/cc @tonistiigi @jlhawn

[2015-10-10 00:40] thaJeztah commented on #16256
@dubwoc agreed, however note that the `/etc/default/docker` file is no longer used in the newer packages; using drop-ins is the recommended method. See https://docs.docker.com/articles/systemd/#custom-docker-daemon-options for reference

[2015-10-10 00:41] tonistiigi commented on #16896
Duplicate of #16555, and there is some good work on this in #16613

[2015-10-10 00:47] aespinosa commented on #16896
Thanks. I wasn't able to find the related tickets except for the one I mentioned earlier. Closing.

[2015-10-10 00:47] #16896 closed

[2015-10-10 00:48] thaJeztah commented on #16896
Ah, thanks! I thought I'd seen a discussion on `-L`

@aespinosa I'm closing this as duplicate of https://github.com/docker/docker/issues/16555, please continue the discussion there

[2015-10-10 00:49] thaJeztah commented on #16896
Oops, beat me to it :+1:

[2015-10-10 00:51] icecrime commented on #16393
Closed by #16867.

[2015-10-10 00:51] #16393 closed

[2015-10-10 00:55] #9718 closed

[2015-10-10 00:59] aespinosa commented on #16555
Reiterating my comment in #16896.

Prior to 1.8.0 symlinks were followed when copying. I think the flag should be to disable following symlinks instead to get pre-1.8.0 behavior.

But then the documentation (1.8.2) says it's `cp -a` behavior. So i'll leave it to the maintainers to decide on that decision in terms of interface. Note that `cp -a` is not mentioned in documentation prior to 1.8.0 (htt

[2015-10-10 00:59] icecrime commented on #16206
@ibuildthecloud Is that still a problem on master?

[2015-10-10 01:32] cxxly commented on #16756
take integration-cli/docker_cli_netmode_test.go

[2015-10-10 01:33] heartlock commented on #16756
can I take `docker_cli_pull_local_test.go` ?

[2015-10-10 01:40] HuKeping commented on #16756
@heartlock already added you to it.

[2015-10-10 01:47] heartlock commented on #16756
sorry ,I forgot to refresh my page

[2015-10-10 03:17] HuKeping commented on #10318
We can use symmetric-key algorithm, like AES to encrypt it. But it'll still need to store some private credential on the machine say, the `key`. It doesn't make much sense.

[2015-10-10 03:34] hqhq commented on #16778
I've seem this before, and I think it's been fixed in 1.7.0, 1.5.0 is too old to be supported, with #16898 you can build the latest Docker on ARM64, can you update the Docker version and give it a try?

[2015-10-10 03:43] hqhq commented on #15079
@jefby Sorry for the late, just picked up the ARM64 stuff, are you still seeing this error? I can't reproduce it on the latest Docker.

[2015-10-10 03:47] hqhq commented on #16129
@cpuguy83 was right, using devicemapper with udev sync unsupported is really bad idea, try dynamic build and see if that still fail?

[2015-10-10 04:24] cheungpat commented on #10318
The problem seems to be that we need to use Docker Hub password to log in and this password has to be saved in dockercfg no matter plaintext or encrypted.

To solve this problem is not to find a secure way to store Docker Hub password, but for Docker Hub to accept some kind of deploy token that we can use to login instead of using Docker Hub password.

Supposedly the deploy token can only be used

[2015-10-10 04:53] greg89757 opened #16902 "start container failed with "failed to umount /var/lib/docker/containers/.../shm: no such file or directory""
$docker version
Client:
 Version:      1.9.0-dev
 API version:  1.21
 Go version:   go1.4.3
 Git commit:   1e51652-dirty
 Built:        Sat Oct 10 03:18:00 UTC 2015
 OS/Arch:      linux/amd64

Server:
 Version:      1.9.0-dev
 API version:  1.21
 Go version:   go1.4.3
 Git commit:   1e51652-dirty
 Built:        Sat Oct 10 03:18:00 UTC 2015
 OS/Arch:      linux/amd64
$docker info
Containers: 21
Ima

[2015-10-10 04:53] GordonTheTurtle commented on #16902
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-10 06:16] hosh commented on #16689
I am seeing something similar for 829.0.0, Docker 1.8.2. Manual docker pulls get stuck. I'm using 14G for the root device, which includes `/var/lib/docker` This is all running on AWS, so I'd rather not resize things if I don't have to. I don't see anything about running out of diskspace though. It just hangs. Restarting the docker service seems to release the lock, but that's about it.

[2015-10-10 06:17] raintean commented on #5989
+1

[2015-10-10 06:37] hqhq commented on #16902
I've seem the same error on RHEL7 with the latest Docker, haven't figured out why.

[2015-10-10 07:28] vikstrous commented on #16762
Would NodeCpus be different from NCPU? Would that be the number of CPUs per Node? Wouldn't it be possible to have different numbers of CPUs per node?

[2015-10-10 07:34] Chris00 commented on #16256
Well, in the package http://get.docker.io/ubuntu/ , `/lib/systemd/system/docker.service` does not declare `/etc/default/docker` as an environment file — so its settings are not used anymore.

[2015-10-10 07:37] mashuai commented on #2174
I have the same issue with docker 1.8.2 on ubuntu 14.04

[2015-10-10 08:44] ksasi opened #16905 "ntptime gives error in a container"
Hi,

ntptime gives an error in the container as shown below :

root@ubuntu:/docker# docker run -it ntp_container /bin/bash
root@482b73de7a54:/# ps -ef|grep ntpd
root        17     1  0 08:35 ?        00:00:00 grep --color=auto ntpd
root@482b73de7a54:/# clear
root@482b73de7a54:/# ntptime
ntp_gettime() returns code 5 (ERROR)
  time d9c34c6a.d35e4000  Sat, Oct 10 2015  8:35:54.825, (.825657),
  maxim

[2015-10-10 08:44] GordonTheTurtle commented on #16905
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-10 09:29] bojanstef commented on #2619
#dibs this issue :+1:

[2015-10-10 09:30] ksasi commented on #16905
docker version:Docker version 1.8.2, build 0a8c2e3
docker info: Containers: 3
Images: 106
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 112
 Dirperm1 Supported: true
Execution Driver: native-0.2
Logging Driver: json-file
Kernel Version: 3.19.0-30-generic
Operating System: Ubuntu 14.04.3 LTS
CPUs: 1
Total Memory: 993.2 MiB
Name: ubuntu
ID: YNYY:VOR3:DRIA:TPV

[2015-10-10 10:11] thaJeztah commented on #16256
@Chris00 see the article I linked, which contains instructions on how to override the default settings, or add an environment file, without changing the default docker.service

[2015-10-10 11:21] thaJeztah commented on #16689
I think this may be caused by inode exhaustion, which is a known issue with overlayfs; see https://github.com/docker/docker/issues/10613. Also read that thread to see how to check if you're running out of inodes.

[2015-10-10 12:01] cpuguy83 commented on #16905
This will work if you have use `--privileged`.
Setting the system time requires privileged access.

[2015-10-10 12:01] #16905 closed

[2015-10-10 12:25] cpuguy83 commented on #16902
I've seen this when doing a hard shutdown of the daemon (ie, didn't allow it to clean up).

[2015-10-10 12:37] thaJeztah commented on #16902
Seen this as well after replacing a docker 1.8.2 daemon with 1.9.0-dev, I might have grabbed some logs somewhere. Got errors both for shm and mqueue IIRC

[2015-10-10 12:39] Flavien commented on #6880
So is the fix shipped as part of the next Docker release?

[2015-10-10 12:57] thaJeztah commented on #6880
@Flavien yes, that's the plan :-) if you want to try it, static builds can be found on https://master.dockerproject.org (don't use it in production, builds from master may contain bugs)

[2015-10-10 13:03] thaJeztah commented on #16129
@jefby I'm going to close this, because you have some suggestions how to fix this, but feel free to comment here after I've closed.

Let us know if you managed to solve it :+1:

[2015-10-10 13:03] #16129 closed

[2015-10-10 13:45] Crazykev commented on #16339
I want to take a shot at this one.

[2015-10-10 15:20] Chris00 commented on #16256
@thaJeztah Right. I read your linked page more carefully and it suffices indeed to add a file `/lib/systemd/system/docker.service` containing:
[code]

Thanks.

[2015-10-10 15:30] berlincityboy commented on #14339
I get the same error message. What does that mean for me now? I can't use Docker or what? What a cool technology :dancers:

[2015-10-10 15:38] #16790 closed

[2015-10-10 16:51] sdurrheimer opened #16909 "docker network ls issues"
After working on the Zsh compeltion for `docker network` command, here some issues I've detected.

- [ ] 1/ `docker --help ` command list
The `network` command is not listed in the `docker --help` `Commands:` list

- [ ] 2/ Remove `-n` and `-l` from documentation.
`docker network ls` `-n` and `-l` options are still documented in `docs/reference/commandline/network_ls.md`

- [ ] 3/ Remove `-n` and

[2015-10-10 16:57] thaJeztah commented on #16909
Thanks for reporting! I added it to the milestone so we don't overlook this. Perhaps there's already being worked on, but @mavenugo and @mrjana should be able to confirm

[2015-10-10 16:59] mavenugo commented on #16909
yes. this is being worked on.

[2015-10-10 18:38] icecrime commented on #15187
Closed by #12648.

[2015-10-10 18:38] #15187 closed

[2015-10-10 19:40] phylake commented on #16207
:+1: Looking forward to this. Thanks @glennblock

[2015-10-10 20:44] ksasi commented on #16905
Thanks, this helped.

[2015-10-11 01:06] bosswissam commented on #8521
+1

[2015-10-11 01:06] GordonTheTurtle commented on #8521
*USER POLL*

*The best way to get notified when there are changes in this discussion is by clicking the Subscribe button in the top right.*

The people listed below have appreciated your meaningfull discussion with a random +1:

@kylechadha
@bosswissam

[2015-10-11 01:13] glennblock commented on #16207
Cook @phylake!

[2015-10-11 01:18] glennblock commented on #16207
@cpuguy83 can you give more input on the 'vendoring in' aspect? We don't depend on any splunk lib or anything.

[2015-10-11 02:40] Firstyear opened #16912 "Default hosts file contents should contain localhost.localdomain"
Most big distributions contain a hosts file that contains as the first entries:

127.0.0.1   localhost.localdomain localhost
::1         localhost.localdomain localhost

This is true on Fedora and RHEL, and some research indicates it's the same on debian and ubuntu.

However, docker's default hosts file creates:

127.0.0.1   localhost
::1 localhost ip6-localhost ip6-loopback

Would be it possible

[2015-10-11 02:40] GordonTheTurtle commented on #16912
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-11 03:21] Firstyear opened #16913 "IPV6 does not work during docker build command"
During a docker build communication over IPv6 via fe80::1%eth0 does not work to the host machine. The built container however functions correctly. We can see that correctly ipv6 link local addresses do exist in /proc/net/if_inet6.

List the steps to reproduce the issue:
1. From a fedora:latest with docker run -i -t /bin/bash:
[root@c76f2b9d2d77]/# nmap 172.17.42.1 -p 3128

Starting Nmap 6.47 ( htt

[2015-10-11 03:21] GordonTheTurtle commented on #16913
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-11 04:44] justsml commented on #16498
@ddurdle The only issue I ran into on LMDE2 was it only liked running AUFS, not devicemapper but that might be related to my testing many different storage technologies: ZFS, LVM2 (w/ gratuitous experimentation + primary/mirroring), EXT3 & 4, GlusterFS, NFS, iSCSI - I know, I'm clearly trying to confuse myself.

LXC seems to run quite well.
**Is there some specific command I could try to repro you

[2015-10-11 05:09] visumagic commented on #16760
It worked .. Please update the documentation.

[2015-10-11 05:09] #16760 closed

[2015-10-11 06:56] Crazykev commented on #16339
@thaJeztah I misunderstood the issue yesterday. Today I just can't reproduce this using 'master' and 'bf80ade'. It seems this issue has been fixed.

Here is the steps: (almost same as @jmanning2k did)
[code]

@jmanning2k  It seems this issue has been fixed. Can you still reproduce this using current 'master' ?

[2015-10-11 09:48] Deborah-Digges opened #16918 "404 : Understanding docker Link"
This link is currently broken:
https://docs.docker.com/misc/introduction/understanding-docker.md

[2015-10-11 09:48] GordonTheTurtle commented on #16918
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-11 09:59] glennblock commented on #16207
@phylake can you take a look at this? https://github.com/splunk/docker/pull/1. I think it is what you said you wanted at reinvent.

[2015-10-11 11:50] neciu commented on #14634
Cool! :+1:

[2015-10-11 12:38] ddurdle commented on #16498
After installing, when you try to runs a docker, it complains it can't remove some cgroups.  Seems like it is already using cgroups so it is conflicting.  Like I said, LXC used to work but after upgrading to LMDE2, same issue with LXC.  Tried on multiple LMDE2 systems.

[2015-10-11 12:54] albers opened #16919 "Bash completion for `docker network`"
This is to document that `docker network` is missing in bash completion.
I will add it.

[2015-10-11 12:55] GordonTheTurtle commented on #16919
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-11 12:55] albers commented on #16919
#dibs

[2015-10-11 14:02] vdemeester commented on #16919
Added this to the 1.9.0 milestone (as the command will be there :wink:)

[2015-10-11 14:33] justsml commented on #16498
I just realized I only tried on fresh LMDE2 installs! Could the difference lie there?

Does cgroups need modern CPU features? Or specific matching kernel version + matched modules?

A while back I had to enable some CPU features via KVM/QEMU cmd line options before my test docker env would stay running, it also had a dead network - though I can't remember if the CPU opts alone fixed all of it.

I'

[2015-10-11 14:47] albers commented on #16919
Thanks, Vincent!

[2015-10-11 16:33] mavenugo commented on #16909
fixed in https://github.com/docker/docker/pull/16910

[2015-10-11 17:58] wkoszek commented on #16880
I know Docker is working as designed, but I'm questioning this design here. What I do in loop is:

- Terminal 1: `docker run -t -i wkoszek-nginx /bin/bash`
- Terminal 2: `docker ps`

So I hear what you say, but picking random aliases that don't mean anything in the system context is not the greatest strategy. Having anything from within the OS / user would be better. Having `<unnamed>` would be be

[2015-10-11 18:01] dodekaeder commented on #15323
hey hans,
i've the same problem. Having a strato vps and searched since hours for a solution of this problem, ending in this post. Well I like to switch my vps too, but I'm not sure if I'll get into the same problem by just choosing one of the other big player.

Do you allready got a new vps?

[2015-10-11 18:11] physicalit opened #16921 "Docker won't run the commited image!"
I modified the ubuntu official image and installed `apache2` and `laravel` and then commited it. Every time I try to run the image it fails (exited 0 and 127, depends of what `CMD` command I run on `commit`), I can't get it to start neither. This is my second try, after I already tried using `Dockerfiles`. The only problem with `Dockerfiles` is that I can't get it to install packages from repo ...

[2015-10-11 18:11] GordonTheTurtle commented on #16921
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-11 18:21] albers commented on #16919
ping @vdemeester created #16922

[2015-10-11 18:26] chanwit opened #16923 "Cannot ping between containers via overlay multihost network"
Description of problem:
I setup 1 `kvstore` and 2 engines on Debian 8, `node-1` and `node-2`.
Then starting a consul instance in `kvstore`.
Back to the Engine build 20151005 (`--kv-store`, `--default-network`), I could ping across containers.
But with changes in build 20151008 (`--cluster-store`, and manual `network create`), ping does not work.

Here's details of these 3 machines. Sorry for a lot

[2015-10-11 18:26] GordonTheTurtle commented on #16923
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-11 18:45] mavenugo commented on #16923
@chanwit since the introduction of docker native discovery, the daemon flags for multi-host networking has changed. Pls DONT use  `--label com.docker.network.driver.overlay.bind_interface` and `--label com.docker.network.driver.overlay.neighbor_ip` any more.

The only 2 flags that you have to use are - `--cluster-store` and `--cluster-advertise`.
Please refer to the https://github.com/abronan/dock

[2015-10-11 19:08] chanwit commented on #16923
Thank you @mavenugo.
It seems what I am missing there is `--cluster-advertise`. I'll be trying it.

[2015-10-11 19:47] chanwit commented on #16923
Viola `--cluster-advertise` did the trick!

[code]

I'm closing this issue. Thank you again @mavenugo.

[2015-10-11 19:47] #16923 closed

[2015-10-11 19:51] mavenugo commented on #16923
:+1: now I think you can admit it in your tweet ;)

[2015-10-11 20:34] foxx commented on #15959
This is surprisingly default behaviour to say the least, any ideas when it'll get fixed?

[2015-10-11 20:50] hans-d commented on #15323
@dodekaeder strato dedicated works. Many other vps privders seem to have working solutions.

[2015-10-11 20:53] c0b opened #16924 "[panic: runtime error: slice bounds out of range] docker daemon crash of racing when "ADD tar.xz ..." failed to extract"
Description of problem:

docker daemon crash of racing when "ADD tar.xz ..." failed to extract some tarball, in my case it's this [gentoo-stage3.tar.xz](http://mirrors.kernel.org/gentoo/releases/amd64/autobuilds/current-stage3-x32/) which contains xattr it will fail extracting when storage driver is aufs (#6980), but there are other reasons could cause [`"xz -d -c -q"`](https://github.com/docker/d

[2015-10-11 21:27] dmitrym0 commented on #15603
@icecrime Is there an associated version of `boot2docker.iso`? After getting `docker` from your link, I'm getting:

[code]

[2015-10-11 22:01] c0b commented on #16924
Wonder if someone @docker.com do constant testing with race detector? this should be part of maintainer's work; when I ran the race detector today, it reported more races than I thought,

here is another race it detected, this one doesn't come with memory access violation crash, though;

The root cause of this is (as I think)
 pkg/archive.(*Archiver).UntarPath() has a defer'ed call to archive.Clos

[2015-10-11 22:45] matthewjosephtaylor commented on #9118
No new discussion on this since Aug 20.  The docker daemon doesn't seem to be reading the ca.crt file.  Had to use the --insecure-registry to get self-signed certs to work.  Is this being worked on at all?

[2015-10-11 23:19] crquan commented on #3519
no, I'd like to express the pressure that there should be a solution; this #3519 was open since Jan 2014 and actually the issue exists even earlier than that, and is still bothering me everyday, so bad experience of Double Ctrl-P for a previous command in bash

@diwo if you don't like you have an option to opt out this thread. I am going to put my +1 again, till someday Docker can have a solution

[2015-10-11 23:29] trogdoro commented on #3519
I agree - IMO the more people that bump this the better. It seems like a
simple thing for them to implement, to make this key configurable. They've
done a ton of great work on improving the client, implementing much more
sophisticated fixes. Seems like we just need to get this sufficiently on
their radar.

--Craig

On Sun, Oct 11, 2015 at 4:20 PM, Derek <notifications@github.com> wrote:

[2015-10-11 23:53] linquize opened #16925 "Docker uses invalid JSON format in some API functions"
As of docker 1.8,
Docker uses invalid JSON format in some API functions, as they reply with header `Content-Type: application/json`. So I expect they reply valid JSON.
- /build
- /images/create
- /images/(name)/push
- /events

This make parsing the output of these functions troublesome.

[2015-10-11 23:53] GordonTheTurtle commented on #16925
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-11 23:58] linquize commented on #16925
[code]

1. Call these API via HTTP
-    /build
-    /images/create
-    /images/(name)/push
-    /events

Received: Data in invalid JSON format (missing array at root level, missing comma between each element)
Expected: Data in valid JSON format

[2015-10-12 00:31] datakid opened #16926 "Docker on Ubuntu 14.04.3 always getting "[8] System error: no such file or directory""
I had Docker working three weeks ago, but now I can't get anything except

[code]

docker version
[code]

docker info
[code]

uname -a
[code]

Am running on localhost.

docker run hello-world
[code]

At first I'd used the wget method to install docker, but then I removed everything and used the method described in the docs https://docs.docker.com/installation/ubuntulinux/

[2015-10-12 01:35] echo33 commented on #16756
I want to take docker_cli_restart_test.go and docker_cli_v2_only.go

[2015-10-12 01:53] coolljt0725 opened #16927 "docker latest master branch exit immediately after starting without -H"
If not specified a -H on docker daemon staring, the latest master branch docker daemon will exit immediately it should use default `/var/run/docker.sock`
<pre><code>root@ubuntu:/home/lei# docker -d -s overlay
Warning: '-d' is deprecated, it will be removed soon. See usage.
WARN[0000] please use 'docker daemon' instead.
INFO[0000] Option DefaultDriver: bridge
INFO[0000] Option DefaultNetwork: bridg

[2015-10-12 01:53] GordonTheTurtle commented on #16927
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-12 01:53] coolljt0725 commented on #16927
#dibs

[2015-10-12 03:35] thaJeztah commented on #16840
/cc @jlhawn

[2015-10-12 03:37] dmitrym0 commented on #15603
FWIW, I installed docker 1.9 and pulled `boot2docker.iso` from [here](http://sirile.github.io/2015/07/02/using-docker-18-experimental-with-docker-machine-and-virtualbox-driver-boot2docker.html) and my issue went away.

[2015-10-12 04:25] thaJeztah commented on #15603
Thanks for testing @dmitrym0 !

[2015-10-12 04:29] michaeljs1990 commented on #15603
Upgrading and having it work doesn't prove a whole lot unfortunately. I got it to work by walking away from my computer for 30 minutes and trying again. Prior to that I had tried deleting all the images / containers and pulling down again up to 10 times. @thaJeztah you will likely want to lock this thread out and leave a message that if you run into this issue and you are using 1.9.0 to open a new

[2015-10-12 05:04] LK4D4 commented on #16924
@c0b Yes, we testing with `-race`, but race with `os.File` is unfixable. You can find some info in golang mail list and github.

[2015-10-12 06:33] c0b commented on #16924
that's not true, my last commit 8cfabbf is a simple to the `os.File` race in above [comment](https://github.com/docker/docker/issues/16924#issuecomment-147250089) while this race in os.File didn't cause any problem you can argue the fix is optional;

while the first race caused daemon crash that is a must-fix I think. the race looks like:

[code]

[2015-10-12 06:40] AiOO commented on #16839
Oh thanks!

[2015-10-12 06:49] vdemeester commented on #3519
Note that there is an actual PR on that : #15666.

[2015-10-12 07:21] Crazykev commented on #16756
I'll take `integration-cli/docker_cli_save_load_test.go`

[2015-10-12 07:30] joberget commented on #16926
+1 same problem here.

[2015-10-12 08:01] WeiZhang555 commented on #16756
Seems there still are integrations left, I'll take one more `integration-cli/docker_cli_port_test.go`

[2015-10-12 08:54] Tazeg commented on #16741
Hi,

"RUN chgroup" on different lines did nothing.

Fixed by using "devicemapper" instead of "aufs" thanks to this post :
http://muehe.org/posts/switching-docker-from-aufs-to-devicemapper/

[2015-10-12 09:43] Gobella commented on #16756
I'll take docker_cli_pull_trusted_test.go

[2015-10-12 09:58] dgrelin commented on #15759
Another way to fix this issue is to prevent the redirect and serve all images and blob through the Registry process by **Setting the redirect option to false into the registry config file (.yml)** under the storage section:
_Example.yml_
[code]
See this post for more details : https://github.com/docker/distribution/issues/432

[2015-10-12 10:31] DanielYWoo opened #16936 "Cannot delete image, "no such repository""
I have three images cannot be deleted:

[code]

When I try to remove them, I always get error messages like this

[code]

Environment Info

[code]

[2015-10-12 11:11] pratikfegade opened #16937 "How do I view docker daemon's debug logs?"
Hi, I am working with docker's source code and need to debug the daemon. For this reason I need to view the logs. The logs I find at /var/log/upstart/docker.log are not comprehensive and as another post on this forum suggests, they are upstart logs and not docker logs.

[2015-10-12 11:11] GordonTheTurtle commented on #16937
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-12 11:18] alexislg2 opened #16938 "/bin/bash permission denied"
Hey folks

I'm running docker 1.8.2 on Ubuntu 14.04

It used to work great but now nothing works. Each time I want to run or build something I got the same error `/bin/bash permission denied`. This is the output of `docker run -ti ubuntu:trusty /bin/bash`:

[code]

The same happens if I write only `bash` or `sh` or `/bin/sh`

How can I debug that? I found nothing on google.

[2015-10-12 11:18] GordonTheTurtle commented on #16938
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-12 11:20] runcom commented on #16937
you need to start the docker daemon with the `-D` flag to be able to see docker daemon debug logs

Also, pls, next time, pop up in #docker-dev on IRC since this is not an issue to be reported here on github.
Thanks, closing

[2015-10-12 11:20] #16937 closed

[2015-10-12 11:27] #16938 closed

[2015-10-12 11:32] alexislg2 opened #16939 "/bin/bash permission denied"
Hey folks

I'm running docker 1.8.2 on Ubuntu 14.04

It used to work great but now nothing works. Each time I want to run or build something I got the same error /bin/bash permission denied.

Step to reproduce (on my machine only)
1. Run `docker run -ti ubuntu:trusty /bin/bash`

Results received:
[code]

Results expected:
Open a running container with bash open

The same happens if I write only ba

[2015-10-12 11:33] tallsam commented on #15603
Works for me too.

[2015-10-12 11:53] physicalit commented on #16921
This should be deleted or marked as resolved! The answer was a misspelling of the line, it should have looked like this:

     docker commit -m "initial commit" -a "Name" --change='CMD ["apachectl", "-DFOREGROUND"]' -c "EXPOSE 80" -c "ENV PATH=/usr/bin:/usr/sbin:/usr/local/bin:/root/.composer/vendor/bin"  7127f32ead016f0fdd4f26b4a04a4340e3642395c84ef6846767d89df7c0b35e giumbai/laravel

[2015-10-12 12:00] Roan89 opened #16941 "Unable to get docker updates for Ubuntu 14.04 LTS Trusty Tahr"
I was trying to update(apt-get update) my system an the following errors were notified

    Err https://apt.dockerproject.org ubuntu-trusty/main amd64 Packages
      Received HTTP code 403 from proxy after CONNECT
    Err https://apt.dockerproject.org ubuntu-trusty/main i386 Packages
      Received HTTP code 403 from proxy after CONNECT
    .
    .
    .
    W: Failed to fetch https://apt.dockerpr

[2015-10-12 12:00] GordonTheTurtle commented on #16941
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-12 13:45] anaderi commented on #15231
+1

[2015-10-12 13:45] GordonTheTurtle commented on #15231
*USER POLL*

*The best way to get notified when there are changes in this discussion is by clicking the Subscribe button in the top right.*

The people listed below have appreciated your meaningfull discussion with a random +1:

@anaderi

[2015-10-12 13:47] #16941 closed

[2015-10-12 13:51] Roan89 commented on #16941
changing http to https in the sources.list.d/docker.list to fixed the issue

[2015-10-12 13:54] pinouf opened #16943 "Machine default already exists in VirtualBox."
hello,

i would like to test docker.
when i try to run the docker quickstart terminal.

i got an error ..

Machine default already exists in VirtualBox.
Starting machine default...
Error setting up host only network on machine start: exit status 1
Started machines may have new IP addresses. You may need to re-run the `docker-machine env` command.
Setting environment variables for machine default..

[2015-10-12 13:54] GordonTheTurtle commented on #16943
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-12 14:05] pinouf commented on #16943
docker version:
Client:
 Version:      1.8.2
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   0a8c2e3
 Built:        Thu Sep 10 19:10:10 UTC 2015
 OS/Arch:      darwin/amd64
Get http:///var/run/docker.sock/v1.20/version: dial unix /var/run/docker.sock: no such file or directory.
* Are you trying to connect to a TLS-enabled daemon without TLS?
* Is your docker daemon up and running?

docke

[2015-10-12 14:26] xmik commented on #12823
Another issue for this problem: #15603 was closed 3 days ago

[2015-10-12 14:57] grexe commented on #10150
well for me it is the other way around, I can successfully login but not pull and get the same error mentioned by the original poster.
I tried all the solutions suggested but so far without success.
Using Docker 1.8.1 under Arch/Chakra x86 Linux:
[code]

[2015-10-12 15:22] jsanchez034 commented on #16208
Hey guys any updates on this issue ?

[2015-10-12 15:22] dg-ratiodata commented on #16448
@cpuguy83 Anything missing from my side?

[2015-10-12 15:23] juanjbrown commented on #16829
$ docker version

    Client:
     Version:      1.8.2
     API version:  1.20
     Go version:   go1.4.2
     Git commit:   0a8c2e3
     Built:        Thu Sep 10 19:10:10 UTC 2015
     OS/Arch:      darwin/amd64

    Server:
     Version:      1.8.2
     API version:  1.20
     Go version:   go1.4.2
     Git commit:   0a8c2e3
     Built:        Thu Sep 10 19:10:10 UTC 2015
     OS/Arch:      linu

[2015-10-12 15:24] #16927 closed

[2015-10-12 16:15] jfrazelle commented on #16208
Sorry I haven't had a chance to play around with it yet

On Mon, Oct 12, 2015 at 8:24 AM, Jon-Pierre Sanchez <
notifications@github.com> wrote:

[2015-10-12 16:16] icecrime commented on #15603
:+1:

[2015-10-12 16:22] tomdee opened #16948 "Cannot create containers with --net=host without specific network files (e.g. /etc/hosts)"
This is running on CoreOS, and might be CoreOS specific.

[code]

[code]

[2015-10-12 16:22] GordonTheTurtle commented on #16948
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-12 16:45] jlhawn commented on #16840
The CLI is using the URL encoding rather than the standard base64 encoding [1] and so is the server [2].

[1] https://github.com/docker/docker/blob/634a848b8e3bdd8aed834559f3b2e0dfc7f5ae3a/api/client/utils.go#L138
[2] https://github.com/docker/docker/blob/2d1414e8b0110b2f1857adcafbb65484d5c003fd/api/server/router/local/image.go#L96

docker-py should also use the URL encoding if it is not already.

[2015-10-12 16:49] jlhawn commented on #16840
ping @shin-

[2015-10-12 16:57] andrefreitas opened #16949 "Docker push fails with EOF in private registry 2.0 behind NGINX Proxy"
## Description of problem
Docker push fails in a private registry behind an NGINX proxy.

## docker version
[code]
## docker info

[code]
## uname -a

```Darwin artemis.ndrive.com 15.0.0 Darwin Kernel Version 15.0.0: Wed Aug 26 16:57:32 PDT 2015; root:xnu-3247.1.106~1/RELEASE_X86_64 x86_64````

## How reproducible:
Always.

## Steps to Reproduce:
1. Configure an NGINX proxy for Docker Registry 2.0

[2015-10-12 17:25] cpuguy83 commented on #16948
Can't repro here. Anything special here other than CoreOS?

[2015-10-12 17:38] estesp commented on #16948
@tomdee does your host OS not have an `/etc/hosts` file?  If so, that's a case not expected in the code, but is fixable.

[2015-10-12 17:46] mikebrow commented on #16634
#dibs

[2015-10-12 17:57] Thell commented on #16705
:+1:

[2015-10-12 18:00] cpuguy83 commented on #15557
#16950 should fix this, though it'll require square brackets around the address.

[2015-10-12 18:04] #16921 closed

[2015-10-12 18:37] cpuguy83 commented on #16943
ping @nathanleclaire
A machine issue, I found a number of issues in the machine repo that may apply, but not sure... so I didn't want to just move and make yet another dup.

[2015-10-12 18:42] #16672 closed

[2015-10-12 18:51] tomdee commented on #16948
Yes, CoreOS doesn't have a /etc/hosts file.

[2015-10-12 18:52] estesp commented on #16948
Ok, I'll fix this. Thanks.

[2015-10-12 19:21] arcolombo commented on #16949
I am generating this error when pushing to Docker hub.

I'm having a similar issue here.

The push refers to a repository [arcolombo/artemisunlayer] (len: 1)
3b15a479aa85: Image already exists
f43a789562e2: Image successfully pushed
20895e1cb336: Image successfully pushed
8bf26c72ef69: Image successfully pushed
90e1f131e119: Image push failed
FATA[1473] Error pushing to registry: Put https://regis

[2015-10-12 19:34] stevenschlansker commented on #16883
+1 we hit this too.  Docker 1.7.2, kernel 4.0.9, Ubuntu 14.04.3

[2015-10-12 19:38] ewindisch commented on #15959
I suspect this would break some graph drivers.

[2015-10-12 19:50] gondor commented on #16746
@dmp42 I've been seeing this non-stop from our Jenkins slaves the past 2 weeks.  They are running Docker 1.8.2 and are pushing from AWS EC2 on us-west region.  We've made no changes to our slaves and it just randomly started 2 weeks ago.  I have to remove all images and inherited images from local cache before it can successfully go through.   It's starting to impact us now.

[2015-10-12 19:53] estesp commented on #16948
So, this is a regression from 1.8.x because of a change in **libnetwork**; specifically, the move from `endpoint` -> `sandbox` for the responsibility to handle `/etc/hosts`, which introduced proper handling of host networking, rather than the prior vendored libnetwork, which created a default `hosts` file no matter what, with the default entries encoded in the `etchosts.Build` function.

Maybe bec

[2015-10-12 19:55] estesp commented on #16948
FYI @icecrime , @tiborvass ; adding to 1.9.0 as this is a behavior regression from 1.8.x releases.  Should be a simple fix, but I assume it should be included.

[2015-10-12 20:04] icecrime commented on #16948
Awesome, thanks @estesp (cc @mavenugo)

[2015-10-12 20:13] thaJeztah commented on #16939
Just a long shot; is there something special with `/media/alexis/Windows8_OS/docker/aufs`? (I see the output shows `Backing Filesystem: <unknown>`)

[2015-10-12 20:15] arcolombo opened #16959 "Error Pushing to Docker Hub, several errors: EOF, use of closed network connection,"
Hi.

#Required Information

##Docker Info

##Docker Version

##System Information

##Steps taken:
     I have made commits to an image that is size 10GB
     anthonycolombo@quigonjinn:~/Documents/trnaDB$ sudo docker images
     REPOSITORY                 TAG                 IMAGE ID            CREATED             VIRTUAL SIZE
     arcolombo/artemisunlayer   v1                  3b15a479aa85

[2015-10-12 20:17] dmp42 commented on #16746
@gondor and everybody else:

docker daemon logs (in debug mode preferably) are *essential* - without them, there is no way to guess what the issue is in your case.

Thanks.

[2015-10-12 20:58] thaJeztah commented on #16918
Thanks @Deborah-Digges, could you tell us where you found that link? I.e. on what page is that link mentioned?

[2015-10-12 21:07] nathanleclaire commented on #16943
@pinouf  If it's related to Toolbox, please file an issue at : https://github.com/docker/toolbox

Otherwise provide instructions to duplicate using only Docker Machine.  Thanks!

[2015-10-12 21:09] shin- commented on #16840
Fixed in docker-py 1.5.0, which we just released today.

[2015-10-12 21:09] #16840 closed

[2015-10-12 21:22] jfrazelle commented on #16887
how do we not have an integration test for this :(

[2015-10-12 21:26] thaJeztah commented on #16840
Thanks @shin- !

And thanks for reporting @wrouesnel, nice find!

[2015-10-12 21:40] iy-propeller opened #16964 "docker trying to load modules even if there is no need to do this"
`docker version`:
[code]
`docker info`:
[code]
`uname -a`:
[code]

Environment details (AWS, VirtualBox, physical, etc.): physical host

How reproducible: every time

Steps to Reproduce:

[code]

[code]

[code]
Actual Results:

[code]

Expected Results:
[code]
Additional info:
Please note this line
[code]
So why is docker trying to load NAT netfilter's module even if I specify all the flags that m

[2015-10-12 21:40] GordonTheTurtle commented on #16964
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-12 22:00] anaderi commented on #15231
any idea if this issue going to be fixed soon?

[2015-10-12 22:27] #15998 closed

[2015-10-12 22:38] #16948 closed

[2015-10-12 22:38] aidanhs commented on #15231
I believe LXC is deprecated so I suspect it'll just be closed when support is eventually removed :)

[2015-10-12 22:51] thaJeztah commented on #15231
Correct, the LXC driver is marked deprecated, and will be removed in 1.10, so it will be low on the priority list; see https://github.com/docker/docker/blob/master/docs/misc/deprecated.md#lxc-built-in-exec-driver

[2015-10-12 22:52] mauilion commented on #5618
bump

[2015-10-12 23:34] tomdee opened #16967 "The docker:dind image should include a `master` build"
Now that Docker is integrating with an increasing number of third parties, it would be great if Docker could make it easier for others to run integration tests against pre-release versions of Docker. This would allow them to spot issues and regressions before they made it into releases.

The docker:dind image (https://hub.docker.com/_/docker/) is a great tool for testing but it only has tags for o

[2015-10-12 23:34] GordonTheTurtle commented on #16967
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-13 00:05] lgierth commented on #10595
@edwintorok did the patch which was provided in the Debian bugtracker go anywhere? It doesn't look like it -- I'm also getting bitten by this.

[2015-10-13 00:15] thaJeztah commented on #16670
Thanks for suggesting, @jamshid. I think this is a duplicate of https://github.com/docker/docker/issues/3804.

Are you okay with closing this one?

[2015-10-13 00:19] thaJeztah commented on #16792
@rhatdan Is this fixed? was this vendored in docker already?

[2015-10-13 00:20] thaJeztah commented on #3694
No problem @andrewnguyen, thanks for trying!

[2015-10-13 01:23] thaJeztah commented on #16943
@pinouf I'm going to close this issue here; can you search for, and otherwise open an issue in the issue-trackers of "toolbox" or "machine"? As @nathanleclaire explained?

[2015-10-13 01:23] #16943 closed

[2015-10-13 01:26] thaJeztah commented on #16829
This sounds like a networking issue on your machine (also see the error message: "You may want to check your internet connection or if you are behind a proxy.").

[2015-10-13 01:37] xavierchow commented on #16426
Recreating the machine with the proxy env passed works for me. Thanks @alexandrem

[2015-10-13 01:47] thaJeztah commented on #11205
@joelwurtz we're currently in the process of moving the "builder" (which is the part of Docker that handles building images from Dockerfiles) client-side, this will allow building custom implementations of the Dockerfile syntax or a custom builder; see https://github.com/docker/docker/blob/master/ROADMAP.md#22-dockerfile-syntax

[2015-10-13 03:24] rvadim commented on #13552
So, as i understand, docker 1.7 and 1.8 have no limits for log buffer in any realization of log driver, and when logs can't be read from buffer(disk is full, syslog server down, network problem, disk subsytem overloaded), buffer will grow until heap memory is over?
And, why we break all system(OOM kill docker daemon), in case when we can't write logs?
I just can not afford to stop production conta

[2015-10-13 03:31] Deborah-Digges commented on #16918
Sorry, I should have been more specific.
It's on [docs](https://docs.docker.com/) > Use Docker > [About Docker](https://docs.docker.com/misc/) > About this Guide > [Understanding Docker Section](Understanding Docker section)

[2015-10-13 03:43] DanielYWoo commented on #16936
Forgot to mention, the problematic images are pulled from docker.io with 1.6.x.

[2015-10-13 05:31] thaJeztah commented on #16918
Thanks @Deborah-Digges. Looks like this is a duplicate of https://github.com/docker/docker/issues/15837, which was fixed in https://github.com/docker/docker/issues/15837. Those changes aren't published yet on the website, but I tested the docs locally and this looks to be fixed indeed.

I'm going to close this issue, because this has been fixed. Thanks for reporting! :+1:

[2015-10-13 05:31] #16918 closed

[2015-10-13 06:04] xuedihualu commented on #8093
Hi:
how can i delete images from registry2,when i curl -v -X GET registry.com:5000/v2/centos/6.6
* About to connect() to registry.com port 5000 (#0)
*   Trying 10.168.89.24...
* Connected to registry.com (10.168.89.24) port 5000 (#0)

< HTTP/1.1 404 Not Found
< Content-Type: text/plain; charset=utf-8
< Docker-Distribution-Api-Version: registry/2.0
< Date: Tue, 13 Oct 2015 06:04:20 GMT
< Content-Le

[2015-10-13 06:08] kamaljeetrathi commented on #15232
how to connect if both on different machine using authentication

[2015-10-13 06:09] alexislg2 commented on #16939
Oh you were right : /media/alexis/Windows8_OS/docker/aufs is a NTFS mounted volume. I put `#DOCKER_OPTS="-g /media/alexis/Windows8_OS/docker"` in my /etc/default/docker

If I remove this line and restart docker it's working. Can't we store docker data on external volume?

[2015-10-13 06:14] thaJeztah commented on #8093
@xiekeyang i noticed you asked the same question in https://github.com/docker/distribution/issues/1091#issuecomment-147582747. The GitHub issue trackers are not a support forum, Could you ask your question on;

1) the forums: https://forums.docker.com/
2) the docker-user mailing list https://groups.google.com/forum/#!forum/docker-user
3) the #docker channel on Freenode.

[2015-10-13 06:17] thaJeztah commented on #16939
I've never tested its but I suspect that aufs (or the other layered file systems) doesn't work properly on NTFS. It certainly isn't a setup we support at this moment.

[2015-10-13 06:23] pydima commented on #11067
#dibs

[2015-10-13 06:35] marekruzicka commented on #16270
nice! didn't have much time to test this (hw came, need to set it up :)) Anyway, any news about possible PR to upstream?

[2015-10-13 07:07] edwintorok commented on #10595
@lgierth for me the crashes went away when upgrading the Debian kernel to `jessie-backports` which doesn't have AUFS support anymore. AUFS support is present only in the `jessie` kernel, and I'm not sure if that'll get updated given that `docker.io` itself is only part of `jessie-backports` and not `jessie` itself ...

[2015-10-13 07:09] azurezk commented on #16756
I want to take integration-cli/docker_cli_ps_test.go

[2015-10-13 07:35] ain commented on #16746
I'd guess it's all the same as me currently, for people involved here. Support desk is managing it, I just delivered another set of logs yesterday, unfortunately without improvement, but let's see.

[2015-10-13 07:36] yinchuan commented on #13331
+1 for a `--pull` flag

[2015-10-13 07:52] pinouf commented on #16943
thanks you for the information @nathanleclaire .
i will try to resolve the problem in Toolbox github.

[2015-10-13 07:53] CaryGao commented on #15626
@alexsimo Hi, finally I have found the solution，see [GitHub](https://github.com/docker/docker/issues/15498）  `yum install docker-io-selinux` would fix the problem if you have selinux enabled

[2015-10-13 07:57] Kaffa-MY opened #16974 "why not make mirror support a private v2 registry until now?"
It's very easy to change the logic of endpoints in the function "lookupV2Endpoints" to put the mirror (remoteurl points to a private registry) in the final endpoint list even if the image is not in the hub, and in fact I find that mirrors can support private v2 registries after I rewrite few lines of codes. @stevvooe @RichardScothern

[2015-10-13 07:57] GordonTheTurtle commented on #16974
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-13 08:11] ain commented on #16746
Just tried `1.8.3`, issue is still there.

[2015-10-13 08:13] atd commented on #16746
@gondor do you mean that cleaning the cache solves the issue?

[2015-10-13 08:32] tonypujals commented on #7143
I realized this is a closed issue, but I'm really curious how any of you got your examples to work. Anomalies from previous versions? @stuartpb and @calavera, how are you getting the container ID (and piping it to xargs in the screenshot) when not running detached? And if detached, how can you avoid the conflict with the -a option?

[2015-10-13 08:34] andrefreitas commented on #16959
Wondering if it is related with #16949 issue.

[2015-10-13 08:34] andrefreitas commented on #16949
It also happens in Docker 1.8.3

[2015-10-13 08:48] mghazizadeh commented on #16746
@gondor @atd et al, I lead the engineering team for DockerHub registry and infrastructure services and we're looking into this intermittent issue. please stay tuned and thanks for sending us the logs. Apologies for the issues your'e experiencing with push.

[2015-10-13 10:09] udobranco commented on #2174
Hello.

I have this issiu. I need a container with an open tcp port so another container can send it messages (I'm using offical rep rabbitmq image).

Global information:
I'm using Ubuntu 14.04.2 LTS (GNU/Linux 3.16.0-38-generic x86_64)
Docker version:
Client:
 Version:      1.8.2
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   0a8c2e3
 Built:        Wed Oct  7 17:48:28 UTC 2015
 OS/Arch

[2015-10-13 10:21] andrefreitas commented on #16949
## More additional info:

I got these logs from inside the registry container:

time="2015-10-13T10:19:48Z" level=warning msg="invalid remote IP address: \"\\\\192.168.1.45\""
time="2015-10-13T10:19:48Z" level=warning msg="invalid remote IP address: \"\\\\192.168.1.45\""
time="2015-10-13T10:19:48Z" level=warning msg="invalid remote IP address: \"\\\\192.168.1.45\""
time="2015-10-13T10:19:48Z" leve

[2015-10-13 10:49] foxx commented on #15959
I've had a look into `CAP_LINUX_IMMUTABLE`, it seems to set inode flags [`FS_APPEND_FL`][1] (writes to file may only append) and [`FS_IMMUTABLE_FL`][2] (immutable file), with no other side effects. As far as I can tell, there are no security implications of adding this, although having sign off from someone with experience in the kernel would be nice.

[1]: http://lxr.free-electrons.com/source/inc

[2015-10-13 10:59] jefby commented on #16129
@cpuguy83 @hqhq yes , the dynamic version can work good. Thanks very much.

[2015-10-13 11:43] ginbalin opened #16975 "Avoid creating container Id starting with digits"
Hello,

I have multiple time encountered an issue with the container which are assigned an ID starting with a digit. Indeed the container ID is also set as the host name of the container.
Although I know that according to the RFCs it is acceptable a hostname to start with a digit I many time had issue with with application code that refuse such cases.

Is it possible to restrict this with an optio

[2015-10-13 11:43] GordonTheTurtle commented on #16975
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-13 11:52] svenwltr opened #16976 "Premature opening of exposed ports."
+kind/bug
+area/runtime
+exp/intermediate
+priority/P2

Exposed ports seem to get opened before the related port is getting opened in the container. This behaviour differs when using different IPs for the same host. This makes it hard to wait for opening a port.

## files

### Dockerfile

[code]

### run.sh

[code]

## steps reproduce

1. copy `Dockerfile` and `run.sh` into directory
2. `docker bu

[2015-10-13 11:59] mountkin commented on #16756
integration-cli/docker_utils.go is done in #16977

[2015-10-13 12:02] andrefreitas commented on #16949
More info: The errors only happens for images built locally.

[2015-10-13 12:16] iy-propeller commented on #16964
description fixed.

[2015-10-13 12:33] pro100coder commented on #7198
+1

[2015-10-13 12:35] vitalyisaev2 commented on #11740
@tjmehta could you please clarify what do you mean by "Prepend your container command w/ ulimit -c unlimited"? Do you suppose creating special entrypoint in the container image?