[2017-03-06 13:32] thaJeztah commented on #31348
Heh, yes, I wasn't aware of that, so if it does, it should probably be documented :smile:

ping @aaronlehmann @aluzzardi any other options we missed in the documentation? ^^

[2017-03-06 13:35] BenHall commented on #31195
Can Docker rename containers? It looks like a process is still running, but with a different name.

[code]

[2017-03-06 13:35] #31446 closed

[2017-03-06 13:37] BenHall commented on #31195
Host looks to be completely confused now. Unable to start containers again.

[code]

[2017-03-06 13:41] BenHall commented on #31195
If I manually launch it with the same name it still errors. If I rename the container then it's OK.

[2017-03-06 13:43] thaJeztah commented on #31574
Perhaps the documentation needs to be enhanced on this part. What's happening when _deploying_ a service (or stack), is that docker resolves the digest (immutable reference) of the image you specified. Doing so, guarantees that every instance of the service runs _exactly_ the same image. "tags" are mutable, so for example, the `foo:123` image can be overwritten/updated with a newer version, which

[2017-03-06 13:56] JnMik commented on #31043
@thaJeztah  Hello Sir, Thanks for you comment.

We tried to reload docker service, the error was still persisting.
So I started reading libnetwork source code, and figured out it was probably "ip link" related.
We tried kicking out all vxlan (in ip link), the error was still persisting.
So we finally rebooted the node and it became stable again.

I'm not gonna open a new issue for the moment becau

[2017-03-06 13:57] georgyturevich opened #31575 "--cpus parameter can not be updated with Windows Server containers and docker inspect alwasy shows CpuCount equals 0"
Hello there,

I am running my test "microsoft/iis" container with following command with "--cpus 16" limitation:
[code]

Looks like "--cpus" works fine and when I run my `simulate_cpu_load.ps1` script:
[code]

I got only about 16% CPU on my 64 cpus virtual machine.

When I wanted to change CPU limits online I tried `docker update` and got expected error (as --cpus flag is not described there https

[2017-03-06 14:07] fabio-barile commented on #30766
Hi after some investigations, it seems that the containers that can communicate together are part of the same IP sub-network
If two containers are not in the same sub-network, they cannot exchange data inside an encrypted overlay .
Could you please check on your side ?
This issue is really blocking us as we want to deploy our productive landscape into several datacenters

[2017-03-06 14:09] justincormack commented on #31195
@BenHall we have a PR for lazy umount https://github.com/docker/docker/pull/31391 that may help here. Something has a file in `shm` open that is reluctant to be killed, according to the original message.

The later ones are odd; I think there may have been some other cleanup fixes cc @cpuguy83

[2017-03-06 14:15] cpuguy83 commented on #31195
The shm stuff is weird. We definitely see it on CI, though.
Interesting this is happening on kernel 4.9, I wonder if this is a new mount bug in 4.9... for that matter I wonder what kernel version we're running in CI.

See https://github.com/docker/docker/pull/31012#issuecomment-284178025

[2017-03-06 14:17] MattacksWTW opened #31576 "Provide a way to lock image"
I am aware that #18812 and #18799 have been rejected, but I don't think that, with respect, those '-1' them are aware of all the use cases to which Docker Images can be / are being put.

It is necessary for us to create an Image upon which it is prohibited to add another layer. All that is permitted is to spin up a Container from it.

Since Docker is more and more advertised as 'the unit of distri

[2017-03-06 14:18] adawolfs commented on #31521
There is the info and the inspect for percona service

This is my docker-stack file the images are provided by a local registry
https://github.com/adawolfs/liferay_compose/blob/master/docker-stack.yml

**docker info**
[code]
**sudo docker inspect liferay_percona**
[code]

[2017-03-06 14:24] cpuguy83 commented on #31195
@justincormack btw, we already lazy unmount the shm mounts.

[2017-03-06 14:26] BenHall commented on #31195
Thanks for the updates :)

[2017-03-06 14:28] ricardobranco777 commented on #31353
I'm still experiencing this bug on Docker 17.03.

[2017-03-06 14:33] drnybble commented on #31524
I did try launching couchdb through PowerShell and also put a **sleep 5** before starting. Didn't help.

[2017-03-06 14:36] alex-zadara commented on #26569
@justincormack
Yes, the container should persist the name. And when the container starts, it should resolve the name to major:minor and continue as today. Key thing is that every time container should resolve the name to current major:minor.

[2017-03-06 14:47] vdemeester commented on #31517
i.e. those that are in the `config.json` in the following form.

[code]

cc @docker/security-team

[2017-03-06 14:51] justincormack commented on #31576
An image is just a bundle of files. There is no technical way to say that a bundle of files cannot be rebundled with some more files. As the other issues say, you can sign the files to say that they are valid, and not run any that are not, or you can keep them in a private registry so no one can get them, or you can make your docker daemon refuse to use them with AuthZ plugins.

Your image cannot

[2017-03-06 14:56] justincormack commented on #31567
@thaJeztah do you have access?

[2017-03-06 14:59] MattacksWTW commented on #31576
@justincormack  "There is no technical way to say that a bundle of files cannot be rebundled with some more files" - of course there is.

You add some 'attribute' to the Image (even a thing as crude as a file with a special name), and have the tooling reject the creation of an Image from that Image is that attribute is present.

Yes, someone could take the Docker tooling and build a version that i

[2017-03-06 15:04] thaJeztah commented on #31576
If your use case is for a controlled environment (i.e., you can control the daemons that have access to the image), implementing an `authz` plugin would possibly allow this to an extend, but there's a lot of ways to get access to the image (`docker export` / `docker import`, `docker save`).

I think this is gonna be
a) out of scope of the base functionality of docker
b) limiting the usefulness of

[2017-03-06 15:06] thaJeztah commented on #31576
Could you provide more details on the use case, and exactly what you try to prevent from happening? Comparing docker images with (e.g.) an RPM, the same applies; users can extract the rpm, and take the binaries from the RPM to do whatever they want.

[2017-03-06 15:07] thaJeztah commented on #31567
Oh, geez, that I never noticed that. Updated, thanks!

[2017-03-06 15:08] #31567 closed

[2017-03-06 15:10] Goram commented on #31574
Ah ok, that clarifies a lot, but there is another hassle with that:

[code]
To see that the container is the one started off of the image is really difficult. Where the service ls shows the image with tag.

[2017-03-06 15:15] thaJeztah commented on #31521
Your stack uses images from the `localhost:5000` registry; is a registry running on _each_ node? All nodes will independently `pull` the image when starting the service; if the image is not present locally, or the registry is not accessible, that will fail. Could that be related to this issue?

[2017-03-06 15:22] n4ss commented on #31517
We could tag keychain entries with what's in `config.json:auth` when creating them with:

- "docker auths" for example in  [kSecAttrDescription](https://developer.apple.com/reference/security/ksecattrdescription)

- serialized associated data in [kSecAttrLabel](https://developer.apple.com/reference/security/ksecattrlabel)

That way, entry retrieval wouldn't go through all keychains entries.

[2017-03-06 15:26] thaJeztah commented on #31353
Could this have the same root cause as https://github.com/docker/docker/issues/29360#issuecomment-266884524 (https://github.com/golang/go/issues/17630) ?

/cc @dmcgowan

[2017-03-06 15:33] adawolfs commented on #31521
I don't think because I'm running this in swarm mode and all the nodes can find the images

[2017-03-06 15:38] ricardobranco777 commented on #31353
PD:
I could copy /tmp/$(perl -e 'print "a"x242')

[2017-03-06 15:49] allencloud commented on #31563
I think there are two levels of failure, one is for service, the other is more fundamental which is for task?
And I hope to make sure the concept as well. ping @aaronlehmann

[2017-03-06 15:54] yongtang commented on #31575
Thanks @georgyturevich for the report. There is a PR #31148 pending for `docker update --cpus` however it does not cover Windows.

The flag `--cpus` is mapped to `NanoCPU` in `HostConfig` while `--cpu-count` is mapped to `CpuCount`. `--cpus`/`NanoCPU` is platform independent while `--cpu-count`/`CpuCount` works on Windows only.

I don't have a Windows setup at the moment so not able to give it a t

[2017-03-06 15:58] justincormack commented on #31534
This should be fixed in the hotfix just released today.

[2017-03-06 15:59] thaJeztah commented on #31572
Yes, to run native windows containers, you need to switch to "Switch to Windows containers..." in the GUI; https://docs.docker.com/docker-for-windows/#switch-between-windows-and-linux-containers

I'll close this issue, because this doesn't look like a bug, but feel free to continue the conversation

[2017-03-06 15:59] #31572 closed

[2017-03-06 16:06] ebriney commented on #31517
@n4ss : that's ok for osxkeychain but what about `wincred` and `secretservice`?
And if we use `auths` urls, we don't even need to list the credStore keys.
If the goal is to remove those urls from `config.json` that is another thing...

[2017-03-06 16:10] gg7 commented on #31244
@sanimej Thanks for the detailed answer.

[2017-03-06 16:11] thaJeztah commented on #31458
@chawlanikhil24 thanks, I'll let @dperny answer that, because I know he's working on changes in this area.

[2017-03-06 16:35] mlaventure commented on #31074
@kixiro thanks for the trace.

Unfortunately, it doesn't look like `containerd` is stuck on anything which makes me wonder how the healthcheck timed-out.

Maybe the fact that `containerd` is using `grpc 1.0.1-GA` and `docker` is under `1.0.2` might cause this issue

ping @crosbymichael @LK4D4 @tonistiigi in case you have any ideas.

[2017-03-06 16:41] aboch commented on #30766
@fabio-barile Few questions:

- Do the containers that cannot communicate belong to the same overlay network ?
- Are you configuring an overlay network with multiple L2 segments (multiple `--subnet`) ?

[2017-03-06 16:53] thaJeztah commented on #31321
/cc @dmcgowan any suggestions?

[2017-03-06 17:06] aboch commented on #30727
Hi @ventz, yes something looks wrong from your logs.

On System A you should see outgoing ESP packets as PRI1 -> PUB2 and incoming as PUB2->PRI1.
Instead from your logs
[code]
it looks like system A is aware of private IP of system B.
This is one problem that needs to be investigated. You should not see any ipsec tunnels with the PRI IP of any remote node in a swarm created with that configuration

[2017-03-06 17:09] mlaventure commented on #31479
@Hexta it does look like my intuition is correct.

Do you think you'd be able to test this patch: https://gist.github.com/mlaventure/a84ac3e6a9dec240d6481e9060ebfdb4 and see if it fixes your issue?

[2017-03-06 17:50] dongluochen commented on #31377
Thank you @oscar-martin.

[2017-03-06 17:52] tonistiigi commented on #31074
@mlaventure Maybe just 3 sec timeout `containerdHealthCheckTimeout` is not enough, killing containerd and causing the `transport is closing` after that. The trace here is already from the new process as containerd is killed right after context deadline error.

[2017-03-06 17:54] thaJeztah commented on #31560
/cc @sanimej @boucher

[2017-03-06 17:54] aaronlehmann commented on #31563
@allencloud: Yes, that's the right way to think about it. A paragraph just below in the docs explains this a bit:

[2017-03-06 17:56] mlaventure commented on #31074
@tonistiigi one of the goroutine has been running for 486 mins so I don't think it's the new process yet in that trace

[2017-03-06 17:59] tianon commented on #20971
Hmm, I'd guess that it's something to do with `su` running as PID 1 -- it's probably waiting for `SIGCHLD` since in normal operation, it should only _ever_ get `SIGCHLD` from its direct child, but here it's getting `SIGCHLD` from the grandchild too.

Can you try running it again with `--init` and see if it still fails? (`docker run --init ... su -`)

[2017-03-06 18:00] tianon commented on #20971
(That, or something _really_ weird with the TTY, but that seems a lot less likely.)

The reason `gosu` would work where `su` doesn't is that `gosu` doesn't stay resident -- when you do `gosu <someone> bash`, the only thing left running is `bash`. :+1:

[2017-03-06 18:03] dperny commented on #31458
@chawlanikhil24 there are some changes that have to be made to the API before we can pursue this, because right now we can only get the logs for 1 service at a time unless you make multiple calls (which is silly, because we can get the logs for multiple services in the same stream on swarmkit's side).

After I finish those API changes, this can be done entirely on the client side, and should be re

[2017-03-06 18:03] sjpotter commented on #31560
I've tested it with using the default docker bridge and it works as expected.  I can hack around it by controlling the ip external to docker (say an iptables rewrite rule), but that's really ugly.

[2017-03-06 18:04] tianon commented on #31435
That's odd -- is there any kind of firewall or proxy in place?  The only other thing I can think of is that the previous layers took _so_ long to download that the authentication token expired. :confused:

[2017-03-06 18:09] aaronlehmann commented on #31348
These are documented in swarmkit's `README.md`.

I think they were added in a commit to a swarmkit, and there was no corresponding commit elsewhere to update the docs.

The only other constraint I see which is not documented is `node.ip`.

For reference, this is where all constraints are defined: https://github.com/docker/swarmkit/blob/master/manager/constraint/constraint.go#L107

[2017-03-06 18:09] thaJeztah commented on #30121
Let me reopen, because https://github.com/opencontainers/runc/issues/1344 has not been vendored yet in this repository

[2017-03-06 18:22] thaJeztah commented on #27190
Looks like the type is described here in the swagger file https://github.com/docker/docker/blob/master/api/swagger.yaml#L2068-L2078, and I _think_ the sample request is defined here, https://github.com/docker/docker/blob/master/api/swagger.yaml#L7426-L7495, but perhaps you're interested in looking into this and updating the example request? There's a README describing how the docs can be updated /

[2017-03-06 18:32] tianon commented on #31504
Ahhh, nice catch @albers :heart: :heart:

Now to go figure out why that particular Bash shell is launching in POSIX mode...

[2017-03-06 18:33] aaronlehmann commented on #31518
Since this is a local image that's not available from a registry, this doesn't sound right. The tasks (containers) behind the service would only be updated if Docker is able to find out from a registry that the image at this tag has changed. Local images are never taken into consideration when deciding whether or not to update tasks.

[2017-03-06 18:46] aaronlehmann commented on #31555
To show reserved resources for a node, the client could list the tasks assigned to this node and tally the reservations.

[2017-03-06 18:48] dmcgowan commented on #31321
This looks like https://github.com/docker/docker/issues/27214

If this is a different problem (because ftype=1), it could be indicative of a race somewhere causing the rm on the directory not to be/appear empty.  @hsoftxl can you take a look at `dmesg` on your host to see if there any error which may give you more information. Also what type of block device are you running on?

[2017-03-06 18:54] dongluochen commented on #25201
Overcommit is the way a cluster puts more requests than physical resources (like node's memory) and hopes tasks do not really overrun them. IMHO I think option `A` is a good approach. Some automation on user side can help you reduce the management overhead.

Option `B` looks simple but you are trying to stretch resources uniformly, which I think doesn't work well in practice. Each container is dif

[2017-03-06 19:01] diogomonica commented on #25209
I think this would be best solved by a generic `Config` or `Blob` that can be passed down to any task. I was overloading secrets in the spirit of doing this faster, but I would rather have a clear path from the @docker/core-swarmkit-maintainers on the right way to go about this long term. This kind of "os-specific/runtime-specific" piece of config will be a common recurring theme. We should *not*

[2017-03-06 19:36] briceburg commented on #15360
I vote to release _client only_ binaries to make adding the docker binary to a container network and space efficient. E.g.

[code]

becomes

[code]

The above use-case comes from a DooD setup (e.g. mounting /var/run/docker.sock into container, but _not_ $(which docker):/usr/bin/docker)

[2017-03-06 19:43] anusha-ragunathan opened #31581 "Swarm global orchestrator behavior for plugin filters is confusing"
Currently, the global orchestrator creates a task for all nodes that meet the constraints, but only tasks for nodes that pass all filters (such as the plugin filter) will progress to the Running state. With respect to plugin filters, this is confusing, since tasks that depend on a plugin are expected to be scheduled only if the plugin is available on a node, as opposed to be created and then faili

[2017-03-06 19:43] anusha-ragunathan commented on #31581
cc @aaronlehmann

[2017-03-06 19:53] aaronlehmann commented on #31581
cc @dongluochen

I think this change makes sense. One thing we should consider is whether the orchestrator should kill tasks on nodes that no longer have the required plugins (for example, if they were disabled). This is how we handle constraints - if a node no longer meets the constraints for some tasks, those tasks will be killed. I think it's cleanest to have plugin requirements either behave t

[2017-03-06 20:07] MicahZoltu commented on #15360
If the client-only binaries were a single file that would be even simpler:
[code]

[2017-03-06 20:23] danbeaulieu commented on #27919
Hi, not sure if this is the intent of the yaml file but I just tried to generate a client in go and java based on the yaml file in master and both failed.

[code]

results in:
[code]

There is more information that points to /containers/create: https://github.com/docker/docker/blob/master/api/swagger.yaml#L2774

This looks like it is related to https://github.com/swagger-api/swagger-codegen/issues

[2017-03-06 20:25] justincormack commented on #31576
There is no point in providing trivially circumvented flags that just inconvenience users.

[2017-03-06 20:27] thaJeztah commented on #31444
ping @johnstep ^^

[2017-03-06 20:40] thaJeztah commented on #31571
Please keep in mind that the GitHub issue tracker is not intended as a general support forum,
but for reporting bugs and feature requests. For other type of questions, consider using one of;

- https://forums.docker.com
- the [Docker community Slack channel](https://blog.docker.com/2016/11/introducing-docker-community-directory-docker-community-slack/)
- [StackOverflow](https://stackoverflow.com)

[2017-03-06 20:40] #31571 closed

[2017-03-06 20:42] thaJeztah commented on #31563
Given that this is not a bug report or a feature request, I'll close this issue for housekeeping, but feel free to continue the conversation 👍

[2017-03-06 20:42] #31563 closed

[2017-03-06 20:44] dlanger commented on #31517
I'm now seeing behaviour where credentials aren't being used on `docker build`, but are on `docker pull`:

[code]
`make start` is a wrapper script that does some unrelated things, eventually getting down to a `docker build`.

I'm on the latest Docker for Mac (15654).
[code]

[2017-03-06 20:45] thaJeztah commented on #31488
Thanks for opening this feature request! I think this is a duplicate of https://github.com/docker/docker/issues/30976, let me close this issue for housekeeping; please continue the discussion on the linked issue

[2017-03-06 20:45] #31488 closed

[2017-03-06 20:48] alexellis commented on #29205
If anyone else lands here and if not sure what this means, I'll try to paraphrase:

This is just a warning and not an error which translated means "we could not find your image on the internet (Hub) or another registry, so we'll use your local image instead".

* You won't be able to scale your image over multiple hosts unless they have the exact matching image

[2017-03-06 20:55] darrenstahlmsft commented on #31575
This is due to the way that CPU limiting with `--cpus` works on Windows Server Containers. Windows Server Containers (currently) default to 2 virtual CPUs in the platform, and the `--cpus` limits using throttling with the assumption that all host CPUs are available to the container.

You can set the number of virtual CPUs with `--cpu-count` which will let your Windows Server Containers use more th

[2017-03-06 21:01] saamalik commented on #31518
@aaronlehmann this was the behavior pre 17.0.3.0 -- now maybe that was a "bug" but I considered it a feature =)

Our devs tests the entire stack by running _Docker for Mac_ with Swarm on their laptops. As each feature gets developed, they'll run their local build script which will generate local docker images tagged `:latest`, after which they'll deploy using the `docker stack deploy -c ... stack`

[2017-03-06 21:13] thaJeztah commented on #31559
Related to https://github.com/docker/libnetwork/pull/1574 ?

[2017-03-06 21:17] thaJeztah commented on #31473
@KarthikNayak that file is vendored from the libnetwork repository; feel free to open a pull request there for discussion; https://github.com/docker/libnetwork/blob/master/iptables/firewalld.go

[2017-03-06 21:43] thaJeztah commented on #30993
There's no option to "migrate" between graph drivers. You can select a different driver but in that case the directory for the other storage driver is no longer used, so you won't see the images, and containers that are stored there.

You _can_ `docker save` / `docker load` images to/from a tar, but using a registry is probably better to use.

ping @Mic92 any hints/tips?

[2017-03-06 21:44] dongluochen commented on #31581
I think it should. When a plugin is disabled on a node, tasks depending on this plugin should be re-evaluated.

[2017-03-06 21:47] thaJeztah commented on #31223
There was a pull request for something similar, but that's a long time ago; https://github.com/docker/docker/pull/21022. More recently this one; https://github.com/docker/docker/pull/30446 but not sure that's the cause of this

ping @mlaventure?

[2017-03-06 21:50] ripper2hl commented on #23177
an example of how to run  `--add-host` flag ?

[2017-03-06 22:06] sanimej commented on #30321
@dongluochen Thanks for the details. Do you see this intermittent drop only for local containers ? Does it work ok for remote containers ?

[2017-03-06 22:10] ventz opened #31583 "Overlay encryption - problem with a mix of internal hosts behind same firewall that need to communicate with external resources"
This is a follow up of: https://github.com/docker/docker/issues/30727 (see bottom 3-4 posts), but to an issue that has a slightly different angle and was discovered in 17.03.0-ce.

## Short Summary:
If you have 2+ hosts (let's call them A and B), specifically in the same datacenter, behind the same firewall, and they have to connect to a swarm host (C) outside of the datacenter (thus via PUBLIC IP

[2017-03-06 22:14] dongluochen commented on #30321
@sanimej Yes I only see this drop for local containers. My tests used 2 nodes and the remote container is always fine. It's quite consistent that leads me to think it a local vtep update problem.

[2017-03-06 22:15] vieux commented on #31139
@cyphar I'm just trying to run the [script](https://github.com/docker/docker/blob/master/contrib/builder/rpm/amd64/generate.sh#L96) we use to generate the Dockerfiles on 42.2

Looks like we assume rpm -> selinux and deb -> apparmor

/cc @andrewhsu

[2017-03-06 22:23] PatrickLang commented on #25209
@mgoelzer Correct, credentialspec doesn't contain any secrets today. It is a configuration blob that defines some preexisting service accounts (defined in Microsoft Active Directory) that a container can use. The Windows container runtime hooks these accounts up as the container is started.

@diogomonica I think that a generic blob makes sense and could also be used to pass down other things that

[2017-03-06 22:26] thaJeztah commented on #26235
@mauricioszabo when publishing a service's ports, the published ports are not visible in `docker ps`, because the containers backing the service are not published directly, but addressed through the load-balancer. If you `docker service inspect <service-name>`, you should see the port-mapping though

[2017-03-06 22:27] thaJeztah commented on #31583
ping @aboch

[2017-03-06 22:30] thehesiod commented on #26332
I tried getting around this by doing a *.ext however this fails if there are no files as well

[2017-03-06 22:38] mauricioszabo commented on #26235
@thaJeztah I know, and that's not my problem. The problem is that, for `docker service create` on ARM machines, it is not publishing the port. With docker inspect, I see the port mapping but still the problem persists.

I tried some debugging tools and found out that I'm missing a kernel module, so I'll try again.

I just found strange that, when I'm using swarm mode with two machines, one that's

[2017-03-06 22:39] Mic92 commented on #30993
Is this error reproducible? What happens if you do

[code]

[2017-03-06 22:40] aboch commented on #31583
Yes, cross-datacenter overlay encryption works under assumption that when --advertise-address is set to the host public IP, all the nodes, even the ones in same DC, will communicate via the public IP, by means of the 1-to-1 NAT, like it happens in AWS.

[code]

[2017-03-06 22:42] chrishoage commented on #30993
Yes, it appears to be reproducible (for me, at least)

[code]

[2017-03-06 22:42] ddewaele opened #31585 "Docker swarm 1.12 ingress load balancing capabilities doubt"
The [Load Balancing](https://docs.docker.com/engine/swarm/key-concepts/#load-balancing) section in the swarm docs don't make it clear if the internal loadbalancer also does health checks, and if it removes nodes that aren't running the service anymore (because it got killed or the node got rebooted).

In the following case I've got a service with replicas 3, 1 instance running on each of the 3 nod

[2017-03-06 22:45] thaJeztah commented on #31585
/cc @mavenugo @sanimej

[2017-03-06 22:46] aboch commented on #31583
One way to get this working seamlessly, is to relax the incoming RX SA to only match on the dst IP (local private IP). But we need to evaluate the security implications of that.

[2017-03-06 23:00] Mic92 commented on #30993
Ok. In this case I would need the debugging output of the docker daemon. It can be enabled by adding `-D` to DOCKER_OPTS in `/etc/default/docker` as described here: https://docs.docker.com/engine/admin/#configuring-docker

You have seem to configured a different logging driver (`json-file`), so you probably know how to obtain it.

[2017-03-06 23:01] thaJeztah commented on #31492
ping @anusha-ragunathan @cpuguy83 ptal

[2017-03-06 23:05] thaJeztah commented on #30993
for ubuntu 14.04, that configuration file is not used. Using a daemon.json file is probably easiest; see https://docs.docker.com/engine/reference/commandline/dockerd/#linux-configuration-file

the file just needs to look like this, if you have no other options set
[code]

[2017-03-06 23:06] Mic92 commented on #30993
Ubuntu 16.04.2 LTS is used here.

[2017-03-06 23:07] chrishoage commented on #30993
I actually (at least not intentionally) didn't configure that logging driver myself. As far as I knew that was default. Is it not?

I am working on obtaining logs at this moment.

[2017-03-06 23:11] jpic commented on #31562
Same on Ubuntu Xenial and docker 17.03:

[code]

Output of docker version
[code]

Output of docker info:
[code]

[2017-03-06 23:12] thaJeztah commented on #30993
ugh, sorry, that's what I meant, 16.04, sorry, typing on phone

[2017-03-06 23:13] Mic92 commented on #30993
@chrishoage `journalctl -u docker.service` should work on your ubuntu version. `json-file` was for containers, which is not relevant here.

[2017-03-06 23:21] mlaventure commented on #31223
I don't think this has anything to do with the stream being "attached" or not.

It seems that for some reason after the `Exec` was successfully done, `containerd` has a short period where it doesn't find it in that container list, which is curious.

I had a quick look at the relevant code and I cannot see how that's possible so far.

[2017-03-06 23:23] chrishoage commented on #30993
Ok, I added `DOCKER_OPTS="-D"` to `/etc/default/docker`

I also added `"debug": true` to `/etc/docker/daemon.json` Just to be safe

Then I restarted docker with `service docker restart`

Then I collected the logs with `journalctl -u docker.service --no-pager > docker.log`

I have attached the logs below.

Please let me know if there is any more data you would like me to collect.
[docker.txt](https

[2017-03-06 23:29] rhuddleston commented on #16654
Any update here? In my case I would like to use content trust when pulling images via ansible which uses docker-py under the hood. What's the recommended approach I should take?

[2017-03-06 23:38] stevvooe commented on #25209
Isn't this throwing out the logic of adding services in the first place? If `docker service` is the same as `docker run`, why even implement SwarmKit? Didn't we do this differently because we recognized that containers and services are different things? Aren't we repeating mistakes of the past?

`docker service` was our chance to recognize the limitations and issues with `docker run` and address t

[2017-03-06 23:42] Mic92 commented on #30993
Did you also trigger a `docker pull` after that?

[2017-03-06 23:45] chrishoage commented on #30993
Yes I did

[code]

[2017-03-06 23:45] thaJeztah commented on #29056
Docker itself does not call the API every xx seconds; best guess is that some tool (possibly part of kubernetes) calls the API every xx seconds to monitor containers, and either uses outdated information, or uses a script to get container IDs based on filenames inside /var/lib/docker

[2017-03-06 23:54] nishanttotla commented on #31427
As discussed above, providing the digest manually is one of the ways to bypass contacting the registry, if the images were downloaded from the registry beforehand. But even without providing digest, the only thing that should happen when the registry is down, is that there should be a short delay (a few seconds) when the registry gets contacted, and then service creation should happen normally, us

[2017-03-07 00:20] aaronlehmann commented on #31518
Perhaps `docker stack deploy` was creating the service with the image field set to `<component>`, and changing it to `<component>:latest` was enough of a change to trigger an update. Though if that's the case, and the image isn't available from a registry, I would have expected the same behavior in the current version. Anyway, I'm glad `--force` is working for you.

[2017-03-07 00:27] thaJeztah commented on #31166
/cc @justincormack @alexellis

[2017-03-07 00:36] nvanheuverzwijn opened #31587 "Overlayfs2 bug with tail as CMD"
**Description**
With overlayfs2, `tail -F /file` cannot follow and print to stdout a file created at build time with `RUN touch /file`. I'm not sure where to report this issue so I humbly report it here.

More information this [stackoverflow issue](http://stackoverflow.com/questions/42614853/why-i-cannot-get-output-of-tail-of-a-file-created-by-docker-build/42618921).

**Steps to reproduce the issu

[2017-03-07 00:40] chrishoage commented on #30993
@Mic92 Yeah I forgot to add a `,` the first time I added `"debug": true` to the json file. I fixed it then restarted the docker service.

If you'd like me to clean the logs and re-run the tests with all the correct debug flags in place I am happy to do so. But I feel fairly confident I captured the debug logs during the event in question.

[2017-03-07 00:47] trapier opened #31588 "Overlay Bridge FDB Entries Incorrect on Classic Swarm"
Initially reported by a Docker Datacenter customer.  Re-posting informationally for Docker community.

**Description**

End-user symptom is some containers on an overlay cannot reach other containers on the overlay.  Overlay DNS is working correctly.  Further investigation indicated entries for the affected flows are incorrect in the source overlay bridge table.  They have the wrong destination VT

[2017-03-07 00:48] endemics commented on #30518
I have a similar issue, when using docker-compose to run a service on a docker host with awslogs set with `--log-opt tag="{{.ImageName}}-{{.ID}}"`.

Starting fails and reports the following error message:
[code]
I believe that in my case the issue is that I'm using the following an image tag when specifying the image in the docker-compose file: `XXXXXX.dkr.ecr.YYYYY.amazonaws.com/path/image:latest

[2017-03-07 00:49] trapier commented on #31588
Closed by https://github.com/docker/libnetwork/pull/1639

[2017-03-07 00:49] #31588 closed

[2017-03-07 00:50] aaronlehmann commented on #31581
I started working on this but it's a bit harder than I expected.

There is this part of the plugin filter that would need to have an equivalent in the global orchestrator:

[code]

However, the global orchestrator deals with services, not tasks. Services have a `NetworkAttachmentConfig` which references the network object by ID. So the global orchestrator would have to look up network in the store

[2017-03-07 01:10] AkihiroSuda commented on #31587
Seems already answered in http://stackoverflow.com/a/42618921 ?

[2017-03-07 01:14] fntlnz commented on #31587
overlayfs2 does not support file watching and since tail needs inotify to work it can't get events.

If you strace the tail you can see that it does not receive events, after opening the file it just sleeps waiting for events that never occur

[code]

[code]

[2017-03-07 01:21] hsoftxl commented on #31321
[    0.000000] microcode: microcode updated early to revision 0x9e, date = 2016-06-22
[    0.000000] Initializing cgroup subsys cpuset
[    0.000000] Initializing cgroup subsys cpu
[    0.000000] Initializing cgroup subsys cpuacct
[    0.000000] Linux version 3.10.0-514.10.2.el7.x86_64 (builder@kbuilder.dev.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-11) (GCC) ) #1 SMP Fri Mar 3 00:04:0

[2017-03-07 01:26] fntlnz commented on #31587
Looks like this has been fixed in the mainline kernel: https://github.com/torvalds/linux/commit/f3fbbb079263bd29ae592478de6808db7e708267

Anyway changing the CMD to create the file at runtime as suggested by the so question posted by @AkihiroSuda works for me.

[2017-03-07 01:29] nvanheuverzwijn commented on #31587
@fntlnz Looks like it's gonna be fixed so it's a no issue. Thanks for checking this out.

[2017-03-07 01:34] AkihiroSuda commented on #31587
@fntlnz Isn't it already included in the kernel @nvanheuverzwijn using? (4.9.0-1-amd64)

[2017-03-07 01:42] hsoftxl commented on #31321
docker ver1.12  works well.
but updated docker-ce  does not work.

[2017-03-07 01:47] angelmotta commented on #30308
Hi Guys
Sorry, but which is the path of the file "docker.service" where I have to be sure it has the "killmode=process"

I am running RHEL 7, I am not sure where is this "docker.service" file, or if I have to create it.

Thanks for your assistance

[2017-03-07 01:52] nvanheuverzwijn commented on #31587
@AkihiroSuda You are right ! This is the kernel I am using so this would still be a problem in kernel 4.9.

The line in kernel 4.9 for reference : https://github.com/torvalds/linux/blob/v4.9/include/linux/fsnotify.h#L36

[2017-03-07 01:55] fntlnz commented on #31587
@AkihiroSuda looks like the one I posted is in that kernel, but I can also see that there have been further improvements (regarding overlayfs and inotify) after that which are actually in 4.11-rc1 , like: https://github.com/torvalds/linux/commit/e58bc927835a6f5ddbe4d2e069c9082b706810e7#diff-b2cbb2bacb9ecd4909c1ec2032dbfc48L296

I will check against that version if it's fixed

[2017-03-07 01:57] amatsus commented on #31568
This issue is fixed in v17.03.0-ce.
- Fix a possible crash when using journald #31231 #31263

[2017-03-07 02:44] twang2218 commented on #30308
@angelmotta just run 'systemctl status docker' and the file location is shown at the top lines.

[2017-03-07 02:52] qudongfang opened #31589 "Report: add default environment configs to systemd init file"
Description of problem:
default systemd init file do not include environment configs.

`docker version`:
Client:
 Version:      17.03.0-ce
 API version:  1.26
 Go version:   go1.7.5
 Git commit:   60ccb2265
 Built:        Thu Feb 23 10:58:26 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.03.0-ce
 API version:  1.26 (minimum version 1.12)
 Go version:   go1.7.5
 Git commit:   60ccb2265

[2017-03-07 02:59] vipzhicheng opened #31591 "Want a way to remount a volume to a running container"
I use cloud9 to be my remote webide, one thing I can not figure out is that cloud9 needs a /workspace to be the project dir. I made it as a docker image, and mount it when I execute `docker run`.

But if I want to switch to another project, I must destroy original container, It's a bad experience, so I want to know if there is a way to remount to a same directory with another host directory. It's

[2017-03-07 03:02] zcola opened #31592 "Swarm dns down"
**Description**
Swarm dns down

**Describe the results you received:**

Into the kibana container wget http://kibana:5601, the container is no problem
Enter the nginx_front_and_api container
[code]
[code]
Restart docker01 back to normal
docker01 log
https://gist.github.com/zcola/5addd510ad7ae0b3b095b4df0bbeb3c4
**Additional information you deem important (e.g. issue happens only occasionally):**
U

[2017-03-07 03:07] cpuguy83 commented on #31492
Hmm, it's odd that `Capabilities` was called twice since this should only be called once per node... or rather when a daemon inspects a volume for the first time.
It also seems like there's effectively two tasks that get created both getting an anonymous volume.

[2017-03-07 04:12] deployable commented on #31587
That kernel fix makes it sound like coreutils < 8.26 should be able to pick up the updates on a `tail -F` then.

The older versions of tail/coreutils don't know the overlay magic number so default to polling.  Then `-F` should be polling on the file name rather than a descriptor/inode which goes through the "copy up" but `tail` fails to pick up any updates.

[2017-03-07 04:29] hisplan commented on #15466
If you have `jq` installed on your machine, you can do something like this:

[code]

[2017-03-07 05:23] elutsky commented on #31469
After updated to new version, same error.
Some more details:
`docker version`

`docker run  --net=none microsoft/nanoserver cmd /s /c echo hello`

`docker ps -a`

`docker inspect hungry_wiles`

docker service.txt log:

[2017-03-07 05:31] gsccheng commented on #21925
I have a similar problem where clearing out my volumes, images, and containers did not free up the disk space. I traced the culprit to this file, which is 96 gb. /Users/MyUserAccount/Library/Containers/com.docker.docker/Data/com.docker.driver.amd64-linux

However, looks like this is a known issue for macs:
https://github.com/docker/for-mac/issues/371
https://github.com/docker/docker/issues/23437

[2017-03-07 06:08] antime commented on #30089
I meet it,too! and the version is 1.12.3

[2017-03-07 06:27] xuen commented on #1996
CACHE ON|OFF +1

[2017-03-07 06:42] zcola commented on #31512
hey, this is dumpfile https://gist.github.com/zcola/3298e8e73b0b34067032904e669b51dd, it happen again...,downgrade to 1.12.5 is good idea?

[2017-03-07 06:52] deployable commented on #31587
Following on from above, I produced a simple node.js test case that doesn't use inotify, just a simple file open ([`fs.open`](https://nodejs.org/api/fs.html#fs_fs_open_path_flags_mode_callback)). The node process reading from an open file also doesn't get redirected to the new "copied up" inode when the open file is appended to out of process.

Repo is here: https://github.com/deployable/docker_ov

[2017-03-07 06:57] juliemathew commented on #31483
Yes, it has images. We are trying the steps once again after removing the images.

[2017-03-07 07:11] westsouthnight opened #31594 "1.13.1: Memory Restrictions not works to Virtual Memory"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Description**

We currently have service which works on dotnetcore. In one component, which we use for http service works inside container for that service, possible have a memory leak (https://github.com/aspnet/KestrelHttpServer/issues/1266). We want to set restriction

[2017-03-07 07:17] BSWANG commented on #22850
I meet the same issue on docker version 1.12.6:

The Docker Daemon log:

[code]

The `kill -USR1` stack trace:
[code]

[2017-03-07 07:25] Mic92 commented on #30993
The error happens when zfs dataset was destroyed, without an update in the imagelayer of docker:

[code]

[2017-03-07 07:34] eliaoggian opened #31595 "Allow passing --env-file to docker service update"
I think it would be great to make possible passing an env file to the docker service update command, just like with docker service create.

When upgrading a service probably there are also environment variables that need to change too.

Thanks!

[2017-03-07 08:04] Kemyke commented on #31519
The new 17.03.0-ce-win1 version also reproduce this issue.

[2017-03-07 08:24] ryanlyy opened #31597 "stop/rm container did not remove its network namespace after running docker network disconnect cmd to diconnect bridge network"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
**Description**
in multiple network interface environment, after running docker network disconnect to disconnect on NIC and stop container, the IP address on other NIC still is reachable. Frankly at this time, this container network namespace should be disappear.

**Steps

[2017-03-07 08:24] TristanCP opened #31598 "Feature request : give users more control on image dependencies"
Is there a plan to give users full control on the dependency hierarchy like in Maven (Where you can fix explicitly the version of any transitive dependencies), or is it a non-sense to allow this with Docker images ?

If it's not a plan, it means the upper image (golang for example) has to keep its dependencies for ever (at least no change of major version) as suggest [above ](https://github.com/do

[2017-03-07 08:34] erxian commented on #31563
@aaronlehmann thanks for your explain, actually, I'm more curious about what's the definition of a **FAILURE** when updating, instead of just a **FAILED** result.

For example, if the task container with updated configuration **NOT RUNNING** means failed? Or if the health check of the task container showing **UNHEALTHY** means failed ?

[2017-03-07 08:45] RunsFor commented on #22909
Also, restart did help :(

[code]

[code]

[2017-03-07 08:49] thaJeztah commented on #31597
ping @mavenugo @aboch PTAL

[2017-03-07 09:08] chawlanikhil24 commented on #31458
@dperny , Thank you much for the information and letting me to pursue this issue. I'll be waiting for your response. Please let me know whenever you are done. @thaJeztah , Thank you too, for the help. :)

[2017-03-07 09:23] thaJeztah commented on #31598
This is already possible, if you use an image _digest_ (immutable identifier), see https://docs.docker.com/engine/reference/commandline/pull/#pull-an-image-by-digest-immutable-identifier

So, instead of

[code]

You use its digest;

[code]

You'll always get exactly the same image, even if the `8.5.11-jre8-alpine` tag is updated in future. For example, the Dockerfile in this repository [pins sever

[2017-03-07 09:25] zkynet commented on #29056
Kubernetes uses information within etcd, I checked every single key/value and those id's do not exist in there :/

Also, the file names inside docker do not contain those id's .. they're only present within the files as shown on my picture above. However it's possible that Kubernetes is reading the content of the files and trying to get containers by overlay id ? .. highly doubt it thought.

[2017-03-07 09:27] sfwn opened #31600 "bind /var/lib/docker:/var/lib/docker on dind:17.03-dind cause dockerd starting failed"
**Description**

I run `docker build & docker push` inside dind:17.03-dind container.
For speeding up the build process, I have to use build cache. So I want to bind `/var/lib/docker:/var/lib/docker` on this dind container. But it cause the dockerd inside dind container starting failed.

**Steps to reproduce the issue:**
1. The command I used is:
`docker run --privileged -ti -v /var/lib/docker:/va

[2017-03-07 09:38] hashedvalue commented on #31568
@amatsus will this issue be fixed also for v1.13? In large corporate infrastructure upgrade of repositories and packages because of the changes in regard to release management which you introduced lately (https://blog.docker.com/2017/03/docker-enterprise-edition/) can take some time.

[2017-03-07 10:31] pacoxu commented on #22011
write a simple Dockerfile as

`FROM <image>:<tag>`

and run
`docker build .`

Then, the digest will be generated.

Just a simple workaround.

[2017-03-07 10:43] Silex commented on #31514
@andrewhsu: ping :-)

[2017-03-07 10:49] ghostplant opened #31601 "Dynamic AUTH in swarm mode"
Currently, dockerd itself supports a "single" and "static" way to protect /run/docker.sock using a tlskey file. But it is not suitable for swarm.

Just like swarm token has its expired time, tlskey should also have, especially when the key has been exposed to public.

"single" means the key takes effect for only 1 node, thus, swarm cluster requires people to update key on each of active swarm node

[2017-03-07 10:51] lox commented on #25663
@cpuguy83 any insight into what the cause and / or fix was? Seeing this issue with docker 1.13.1

[2017-03-07 10:54] ghostplant commented on #31601
The solution is simple, which is just to reserve a key/value item to store a salted password value. Every swarm node reads this distributed shared value and verifies requests.

[2017-03-07 10:55] thaJeztah commented on #22011
ping @nishanttotla @aaronlehmann (this came up in a discussion recently)

[2017-03-07 11:17] thaJeztah commented on #31600
Sharing `/var/lib/docker` between multiple daemons is not supported, and generally asking for trouble (including data corruption). A daemon should have exclusive access to the `/var/lib/docker`. You may want to read this blog post about this; https://jpetazzo.github.io/2015/09/03/do-not-use-docker-in-docker-for-ci/

If you only have a _single_ dind active at a time, you can consider;

- using a na

[2017-03-07 11:17] #31600 closed

[2017-03-07 11:18] roman-vynar commented on #16654
Another idea is delegating a Notary service job by Registry itself like it is with the auth.
Docker Registry currently tells Engine what auth backend to use. May be the same can be implemented for Notary, so it is not a client preference but something to be enforced by Registry itself.

[2017-03-07 11:21] fabio-barile commented on #30766
Hi
containers are using the same overlay network and there are not using several L2 segment.
Is there a tools we can use to test communication between container with verbose logs ?

[2017-03-07 11:28] thaJeztah commented on #31598
I'll go ahead and close this issue, because I think pulling by digest fits your use-case, and description above, but feel free to continue the conversation 👍

[2017-03-07 11:28] #31598 closed

[2017-03-07 11:30] Hexta commented on #31479
@mlaventure Thanks! It seems to work.
There are logs https://gist.github.com/Hexta/afe160e3126a35306543a73b6babe954

[2017-03-07 11:32] thaJeztah commented on #22909
@RunsFor looks like you're running an old pre-release version of docker; at least try updating to the current release. If you still have issues, please open a new issue with details, and steps to reproduce.

[2017-03-07 11:33] thaJeztah commented on #22909
It looks like the original issue reported here was resolved, and I want to prevent this issue from becoming a kitchen sink of possibly unrelated issues, so I'm going to lock the conversation here.

If you still have issues and suspect there's a bug at hand, please open a new issue. Be sure to include as much details as possible, and steps to reproduce to help debugging the issue.

[2017-03-07 11:41] charliemaiors opened #31602 "Docker registry v2 TLS with Letsencrypt gave x509: certificate signed by unknown authority"
**Description**

I've tried to start a docker registry as container running on a private machine with dynamic dns, I've configured certbot on the host machine in order to obtain certificates from letsencrypt and started the registry using this command

`docker run -d -p 443:5000 --restart=always --name registry -v /etc/letsencrypt/archive/<my-domain>:/certs -v /opt/registry-auth/:/opt/registry-aut

[2017-03-07 11:56] RotemEmergi opened #31603 "Swarm - Using some port under one services"
Hi !

I am using docker 1.13 on 3 swarm node .
I create 3 diffident jetty services and want that each one of them will listen op port 443:8433.
I use this yaml file :

  networks:
    rotem:
      external: false
  services:
    webapps1:
      image: registry.gitlab.com/rotem/jetty-image:jmx
      networks:
          - rotem
      hostname: webapps1
      ports:
          - "443:8443"
      volum

[2017-03-07 11:57] Sarafian opened #31604 "Windows image build Docker runs out of memory on Windows 10"
I'm opening this issue as a bug because from what I've read docker is supposed to not enforce memory or disk space limitations during container's build or run actions.

I have a docker file that does a lot when building and I can't really share to help with reproducing. This docker file behaves differently on different hosts. In one of them runs out of memory which contradicts the above. To help m

[2017-03-07 12:00] thaJeztah commented on #31604
/cc @jhowardmsft @johnstep @friism

[2017-03-07 12:18] cpuguy83 commented on #31603
You can use host port mode, but I think what is better in this case is to use a reverse proxy to forward to the correct service.

But also it kind of looks like you are starting the same service 3 times, in which case it would be better to use 1 service with 3 replicas and swarm will handle load balancing between the three.

[2017-03-07 12:19] #31603 closed

[2017-03-07 12:24] s4s0l commented on #29882
Hmm, so in order to update secret the only available procedure is to remove all services using it, recreate secret and start services from scratch?

[2017-03-07 12:25] cpuguy83 commented on #31601
I'm  not sure I understand the request.

The docker http socket is protected either by fs permissions (unix socket), or TLS keys (TCP).

Swarm communications are all protected with mutual tls auth, each node has a cryptographic identity. TLS keys are rotated automatically on a configurable interval.

[2017-03-07 12:28] cpuguy83 commented on #31568
@hasedvalue 17.03 is what 1.13.2 would have been, no new features, only critical patches.

The old repos still contain the docker-engine package with these fixes, just under the new version 17.03.

Closing since this is resolved but feel free to continue the discussion here.

[2017-03-07 12:28] #31568 closed

[2017-03-07 12:40] RotemEmergi commented on #31603
@cpuguy83
I put a LB on top of the 3 swarm server and start  to load test the server and monitor the jetty with jmx, jmx-remote,state .
I use at the beginning  1 service with 3 replica it's give me a bad result .

So can you show my an example of  host port mode ?

Thanks a lot !

[2017-03-07 12:42] simdrouin commented on #30362
Did you find any working solution for your nginx to recognize your fpm service through its name?

[2017-03-07 12:58] alambike opened #31605 "Compose file parsing can't read json data"
**Description**
I was trying to launch in docke-for-azure swarm cluster a bunch of services with a previously working docker-compose file, that has json data in some points, for example to override **ports** config in an worker container:

[code]

**Describe the results you received:**
Running docker stack deploy -c my_dockercompose.yml fails to recognize '[]' json empty list specification
[code]

[2017-03-07 13:03] #31589 closed

[2017-03-07 13:14] chris13524 commented on #1996
The issue with these `CACHE ON|OFF` commands is that at whatever step the cache is turned off, there is no way to cache further steps. The only sensible command would be `ENDCACHE`.

[2017-03-07 13:25] ogreenz opened #31606 "docker cp with windows containers crash with hcsshim::ActivateLayer failed in Win32"
After a fresh installation of docker and pulling the container I cannot copy any file into the container
I get the following:
[code]
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

[2017-03-07 13:33] backyes opened #31607 "Docker service start failed"
[code]

After reading many many materials with google, they tell that the issue could be caused by route setting.  But the route setting below will have free non-overlaping IPv4 address pool instead, I think.

Can some give more suggestions ,thanks.

[code]

[2017-03-07 13:46] UralZima opened #31609 "Total mess with docker packaging on Gentoo"
Hello. I use official docker overlay. I have unmasked docker, containerd, runc and docker-runc packages.
All was fine, once I updated docker and it deleted runc and installed docker-runc.
On latest update, it want runc back and results in package block.
containerd-0.2.5 depends on runc, 0.2.5-r1 depends on docker-runc.
docker 17.03.0 depends on runc.
Ok I downgraded containerd to resolve block, no

[2017-03-07 13:56] thaJeztah commented on #29882
You cannot update the secret itself, but you can update the service that's using it, and add a different secret;

[code]

[2017-03-07 14:06] thaJeztah commented on #31609
Thanks for reporting @UralZima. The Gentoo overlay is not an package that is maintained by the docker project, but by volunteers on the Gentoo project; can you report this issue there? @tianon (who's also a maintainer here) may be able to help. Unfortunately we cannot help you here, because that package / overlay is not maintained here.

w.r.t;

That's not the case; there is no stable release yet

[2017-03-07 14:06] #31609 closed

[2017-03-07 14:07] thaJeztah commented on #31602
/cc @cyli @dmcgowan

[2017-03-07 14:11] UralZima commented on #31609
Thanks. Now I opened the issue in right place: https://github.com/tianon/docker-overlay/issues/69

[2017-03-07 14:11] jmcalvar commented on #30362
I didn't investigate any more because I was testing environments from normal vm to docker, but really if I didn't define network in compose, I was able to see that with default network containers can reach eath other with the name

[2017-03-07 14:16] thaJeztah commented on #25663
@lox may be best to open a new issue with more information (and the panic/logs) so that it can be looked into, and confirmed it's the same issue or a different one

[2017-03-07 14:16] anick16 commented on #29056
I found the root cause for my issue. It was not the Docker but another tool _ui-for-docker_ which was continuously checking details for containers even after they were removed. Did not see this error after stopping the tool. Take the PID from the error log and check the details which service is the culprit

[2017-03-07 14:18] zkynet commented on #29056
Interesting @anick16 .. I'm going to go back and look at kubernetes again.

[2017-03-07 14:19] ghostplant commented on #31601
@cpuguy83
I mean the authorization requirement of client posting a request to swarm via docker socket (either a network socket or a unix socket). If we want only authorized clients to communicate with docker daemon, he or she must own either a private keyfile or a password, once it requires to get updated, there should be a way to solve the problem above in cluster environment. For example, someth

[2017-03-07 14:20] lsapan opened #31610 "Docker creates ingress network folder in /var/lib/docker even when using -g"
**Description**

We are specifying a different docker root with `-g`, i.e. `-g /data/docker/`. It works, however docker is still recreating the `/var/lib/docker` folder and creates: `/var/lib/docker/network/files/ingress_sbox`.

Inside that folder are three files:
[code]

**Steps to reproduce the issue:**
1. Create a swarm
2. Create a service

**Describe the results you received:**
Docker is creat

[2017-03-07 14:20] thaJeztah commented on #31514
Yes, the download.docker.com repository should be used going forward. The get.docker.com repository is maintained to not break existing installs, but eventually no new packages will be published there (I don't think a definitive date was set for that yet).

[2017-03-07 14:20] cpuguy83 commented on #31603
What sort of bad result?

I don't think the host port mode is supported in the compose format in 17.03, also I'm really sure this is not what you want.

[2017-03-07 14:20] thaJeztah commented on #31514
@Silex would you be interested in opening a pull request in the documentation repository to update that page in the documentation?

[2017-03-07 14:23] newhook commented on #5618
Does anyone have a suggested work around for this? I tried enabling `--userland-proxy=true` and docker still hangs after a while. It appears Kubernates has a solution from what @thockin wrote above, but its not clear what `--hairpin-mode=promiscuous-bridge` exactly does and how to configure that on a plain jane ubuntu 16.x docker install.

[2017-03-07 14:26] cpuguy83 commented on #31610
ping @aboch

[2017-03-07 14:29] thaJeztah commented on #31606
ping @jhowardmsft @johnstep PTAL

[2017-03-07 14:30] cpuguy83 commented on #31605
Curious, why do you need to provide an empty list?

[2017-03-07 14:31] thaJeztah commented on #31606
I see a similar error message in https://github.com/docker/docker/issues/29832, not sure if there's a relation

[2017-03-07 14:33] hutchic opened #31612 "docker for aws CF upgrade"
**Description**

Tried upgrading a `Docker for AWS 1.13.0` to `CloudFormation stack to 17.03.0 CE Stable` by using https://editions-us-east-1.s3.amazonaws.com/aws/stable/Docker.tmpl and got the error message:

[code]

when the cloudformation tries to update PubSubnetAz3. This is all in AWS us-east

[2017-03-07 14:34] thaJeztah commented on #31592
Error seems to be this;

[code]

ping @aboch PTAL

[2017-03-07 14:35] RotemEmergi commented on #31603
@cpuguy83
Since i use Prometheus(by using javaagent on jetty) to monitor each jetty instance/task i need to be able to get Prometheus to contact each instance directly otherwise it mess the metrics.

[2017-03-07 14:35] thaJeztah commented on #31592
Actually, looks like a fix for that issue is in docker 17.03; https://github.com/docker/docker/issues/30590

[2017-03-07 14:36] thaJeztah commented on #31592
can you try if updating to the current version (17.03) resolves the issue?

[2017-03-07 14:36] galindro commented on #29544
Same problem here @mavenugo

[2017-03-07 14:36] ogreenz commented on #31606
I will say that I found a way around it using a Dockerfile and a COPY command.

[2017-03-07 14:38] NayabZehra commented on #25209
when can we expect to have security-opt in docker service?

[2017-03-07 14:38] matzegebbe commented on #30483
I have the problem that we have some references to the service name for auto update services etc.
Is there an option i can use docker compose without any prefix?

Thank you!

docker update $SERIVCENAME does not find STACKNAME_$SERVICENAME :(

[2017-03-07 14:39] cpuguy83 commented on #31591
This is not possible, nor do I think we should allow it.

One thing you can do is bind mount some other dir, and then add a sub-dir that is bind-mounted to the actual project you want. You'll probably need to bind with the option `rslave` (e.g. `-v /foo:/bar:rslave`) to make this work.

But honestly it seems like cloud9 should be able to host multiple projects for you, I'm not familiar with it...

[2017-03-07 14:39] #31591 closed

[2017-03-07 14:43] thaJeztah commented on #30518
ping @FrenchBen @samuelkarp PTAL

[2017-03-07 14:44] thaJeztah commented on #30483
@matzegebbe you mention using `docker update`, not `docker service update`, is that a typo?

[2017-03-07 14:46] vdemeester commented on #30483
Nope 😅

[2017-03-07 14:47] thaJeztah commented on #31612
Thanks for reporting; could you reopen this in the Docker for AWS issue tracker? https://github.com/docker/for-aws/issues

I'll close the issue here, but feel free to continue the conversation

[2017-03-07 14:47] #31612 closed

[2017-03-07 14:48] zcola commented on #31592
@thaJeztah ok，Tomorrow morning I'll be rolling upgrade to 17.03

[2017-03-07 14:50] thaJeztah commented on #29056
I did have a quick looks at the kubernetes source, and it looks like their reconciliation loop defaults to 60 seconds. Each 60 seconds, they poll each Pod's containers to check if the actual state matches the expected state, so it's possible that _somehow_ it's using the wrong information there, but I'm not familiar enough with the code base to say anything sensible other than that.

[2017-03-07 14:53] cpuguy83 commented on #31603
@RotemEmergi This seems like a surmountable problem.
This can be gleaned from the service data, or even from a container on the same network you can lookup `tasks.{service_name}`

Example:

[code]

[2017-03-07 14:54] cpuguy83 commented on #25209
@NayabZehra Please be mindful of the discussion happening here.

[2017-03-07 14:55] matzegebbe commented on #30483
@thaJeztah Yes, sorry. Bad example. I updated my comment

[2017-03-07 14:56] dreamcat4 commented on #1996
It is a valid idea / ethos. The command is supposed to coalese together all non-cached layers into a single layer at the point when the cache gets switched back on. Of course you can still argue the best naming / correctness of semantics / preferred syntax of the feature.

[2017-03-07 14:58] cpuguy83 commented on #29544
@galindro the volume subsystem restores the reference counts for plugins on daemon restart.
If you find a situation that is not working, this is a bug that should be addressed separately.

See for more details: https://github.com/docker/docker/blob/master/volume/store/restore.go#L62

[2017-03-07 15:13] oriptraveller commented on #26415
I'm also getting this error on Docker 17.03.0-ce.
Looks like for me it's not the same issue as in [Microsoft/Virtualization-Documentation#355](https://github.com/Microsoft/Virtualization-Documentation/issues/355) - I don't have the registry key or group policy they are talking about there and similar computers on the same network and domain are not experiencing this issue.

**These are the relevan

[2017-03-07 15:13] Silex commented on #31514
You mean a PR to update https://docs.docker.com/engine/getstarted/linux_install_help ? Sure, but what should be done? Add a deprecate notice or replace the installation method so it uses the new repositories?

[2017-03-07 15:19] cpuguy83 commented on #31010
@nschoe Sadly we can never take away from `-v`. It has been the way it is since pre-1.0 (I started around 0.6 and it was around back then too), even the API it uses is awful (🤕 🔫 ).
I agree that we should never have overloaded `-v` with host mounts, and then beyond that with named volumes.

The reason `./sql-data` is not supported as a host path is because this path is going to be relative to the

[2017-03-07 15:22] cpuguy83 commented on #31010
All that to say, let's close and discuss there, as it is all relevant.

[2017-03-07 15:22] #31010 closed

[2017-03-07 15:36] galindro commented on #29544
@cpuguy83 , thanks for attention.

Yes, I've found a situation very equal as described by @mavenugo, but with a storage plugin not with a network plugin. Because of its similarity, I think that I should place here my problem. IMO, these are not individual issues, but individual consequences of the same issue: the Docker plugin subsystem.

If the volume subsystem restores the reference counts for p

[2017-03-07 15:36] nschoe commented on #31010
Thanks for answering @cpuguy83 .
It *8is** very sad indeed, but... "why" can't we remove the `-v`?

I mean it's a major API change, sure, this is why I suggested announcing is deprecated, and then remove it in, like 5 releases (or 10, I don't know).

I love docker and fro tis future, I see millions of people using it (at least I hope so), and this is the kind of "beginning mistake" that can drag a

[2017-03-07 15:37] porridge commented on #25925
Started happening here, apparently once the number of concurrent `docker build`s increased a little.

[code]

interestingly, `level` is info, not `fatal`

[code]

[2017-03-07 15:38] mlaventure commented on #31479
@Hexta  thanks for testing, I'll make a PR for it

[2017-03-07 15:40] galindro commented on #29544
Ok @cpuguy83 I'll open a new thread

tks.

[2017-03-07 15:40] cpuguy83 commented on #29544
@galindro I'm saying these are different issues, because the refcounts are (supposed to be) incremented after a daemon restart for volumes.
`docker plugin disable` **should** fail **if** there is an active volume on that plugin even after daemon restart.

[2017-03-07 15:41] opyate commented on #13475
@simPod untested, but try this:

<img width="492" alt="screen shot 2017-03-07 at 15 40 38" src="https://cloud.githubusercontent.com/assets/96808/23664074/7768103c-034c-11e7-8eb9-16c6033d34fc.png">

[2017-03-07 15:53] mlaventure commented on #25925
@porridge this seems to be a different issue since you're not copying to `/` but an arbitrary non-existent one. Do mind opening a new one with reproduction steps if you have any?

Thanks!

[2017-03-07 15:57] SharpEdgeMarshall opened #31613 "Using --cache-from doesn't cache base image"
**Description**

**Steps to reproduce the issue:**
1. `docker pull myimage:latest`
2. `docker build --cache-from my-image:latest -t my-image:latest .`

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**
Always

**Output of `docker version`:**

[code]

**Output of `docker

[2017-03-07 15:57] cpuguy83 commented on #31010
The compose format is embedded in docker now and I would encourage people to use it since the format is much easier to deal with and has a lot more structure to it compared to insanely long CLI flags, can be committed to version control, and is effectively idempotent.

But as I mentioned before, I have no problem with having some of these targeted flags (other than flag sprawl), but we need `--mou

[2017-03-07 15:58] cpuguy83 commented on #31613
Hmmm, that's tricky I think.

ping @tonistiigi

[2017-03-07 16:06] SharpEdgeMarshall commented on #31613
Maybe i'm wrong and this is not the way it should work, but from my understanding inside `myimage:latest` i've all the layers from the base image so even if i don't `pull mybaseimage:latest` it should use that layers to compare with the version on the registry and reuse them if the checksum is the same.

[2017-03-07 16:08] simPod commented on #13475
Thanks, will try

[2017-03-07 16:08] cpuguy83 commented on #31607
Docker tries to use `172.17.x.x`, 10.x.x.x, or `192.168.x.x`, but you already have each of these assigned so there is nothing for Docker to use.

You can tell Docker to use a custom range rather than trying to pick one with `--bip=<cdir>`... but note that is not an actual cidr... example `--bip 10.0.0.1/24` would assign 10.0.0.1 to the bridge that Docker creates and use the rest /24 for container

[2017-03-07 16:08] #31607 closed

[2017-03-07 16:09] ibukanov commented on #14080
A workaround is to run during a build an http server that exposes the local files and then use curl/wget etc. to get the files into the docker build. But I really wish such hacks would be unnecessary.

[2017-03-07 16:10] cpuguy83 commented on #31613
@SharpEdgeMarshall I suspect in this case `mybaseimage:latest` is different from the one `myimage:latest` was built from.

[2017-03-07 16:13] SharpEdgeMarshall commented on #31613
That's not possible because is happening always. In my registry each time i run the CI i update the `latest` tag with the new build.

[2017-03-07 16:24] tonistiigi commented on #31613
This would happen if `node:6.10-alpine` got updated (see https://github.com/docker/docker/issues/26065#issuecomment-249046559) . What is the output of `docker inspect node:6.10-alpine` `docker inspect my-image-old:latest` `docker inspect my-image-new:latest`. Are you using registry `2.3+` to store your images? You can check it without build as well, just run `docker pull myimage:latest` `docker pu

[2017-03-07 16:29] porridge commented on #25925
Sounded like
https://github.com/docker/docker/issues/25925#issuecomment-270045906 is
similarly non-root, but OK, I can file a new one if it happens again for me.
Any debugging flags I can set beforehand?

[2017-03-07 16:29] chrishoage commented on #30993
is it possible to have docker re-create the dataset?

Before I opened this ticket I tried to do a `zfs create` on the missing layer, but docker wouldn't repopulate it, it would just error.

I very likely may have accidentally removed a dataset when cleaning up some auto-snapshots I didn't want to run. I just can't figure out how to recover from it.

[2017-03-07 16:30] imjacobclark commented on #31610
Interested in picking this up as a first bug contribution to Docker, could anybody potentially mentor me through this?

[2017-03-07 16:32] cpuguy83 commented on #31610
@imjacobclark This is most likely going to need to be fixed in github.com/docker/libnetwork.

[2017-03-07 16:32] SharpEdgeMarshall commented on #31613
I will continue with the test i proposed in the comment above

`docker inspect alpine 3.5`
[code]

`docker inspect creatiweb/helm:latest`
[code]

[2017-03-07 16:37] nschoe commented on #31010
Well.. I understand (yes I know you said `0.6` and not `1.6`), but I'm still sad. Because `-v` has been here _forever_ I'm afraid people will _never_ switch away from it :/

As a curiosity, why no ":" for path separator?

As another curiosity, hadn't the `docker daemon` been here forever too? I'm asking because it's now deprecated in favor of `dockerd` and I was wondering whether that is on the sa

[2017-03-07 16:38] imjacobclark commented on #30979
@cpuguy83 Interested in picking this up... could anybody potentially mentor me through this?

[2017-03-07 16:41] mlaventure commented on #25925
@porridge please do, it'd be easier to follow, this thread is already quite long.

If you can put your daemon in debug mode so the log can be more verbose, it'd be helpful.

[2017-03-07 17:00] n4ss commented on #31517
For Windows,  a PR can be submitted to`winsec` to add attributes to credentials when storing and also to lookup by attribute. Windows handles that: [Credentials](https://msdn.microsoft.com/en-us/library/windows/desktop/aa374788(v=vs.85).aspx) and their [Attributes](https://msdn.microsoft.com/en-us/library/windows/desktop/aa374790(v=vs.85).aspx)

For Linux,it seems  we already use `libsecret` secre

[2017-03-07 17:06] krasi-georgiev commented on #31195
once the merge is complete I will test it and troubleshoot if it still causes issues.

[2017-03-07 17:14] dmcgowan commented on #31602
If you are using the let's encrypt feature built into the registry the environment variable is `REGISTRY_HTTP_TLS_LETSENCRYPT_CACHEFILE` and no certificate should be provided. If you are still having issues with the Let's Encrypt support on the registry please open up an issue here https://github.com/docker/distribution

[2017-03-07 17:14] #31602 closed

[2017-03-07 17:14] jhowardmsft commented on #31606
This is expected - online filesystem operations cannot be performed on a running `Hyper-V` container. They can on a `Windows Server` container. Windows 10 only supports Hyper-V containers.

[2017-03-07 17:16] jhowardmsft commented on #31604
I think this is a case of documenting how memory management differs between Hyper-V and Windows Server containers. See https://github.com/Microsoft/Virtualization-Documentation/issues/477

ping @patricklang

[2017-03-07 17:22] thiagoalves opened #31614 "Container cannot be stopped, removed or exec'ed"
**Description**

Some containers cannot be stopped. When running `docker stop`, it doesn't output anything and hangs until Ctrl + C is pressed. The same behavior happens with `docker kill`, `docker rm -f` and `docker attach` (exits only with `kill -9` from another terminal). `docker inspect` and `docker logs` work normally.

When running `docker exec <container_id> ls` I get:

[code]

After this,

[2017-03-07 17:23] vdemeester commented on #31517
@n4ss I think that could/should work 👍

[2017-03-07 17:30] helvete commented on #9059
Thanks guys for insights. I neede to upgrade kernel to 3.10 at Ubuntu 12.04, this caused apparmor error like @wulonghui suggested. Ignoring all apparmor rules and deactivationg the module itself helped.

[2017-03-07 17:30] n4ss commented on #31517
I can write the patch by the way.

[2017-03-07 17:30] cpuguy83 commented on #30979
@imjacobclark Sure, the repo this would be under is github.com/RackSec/srslog/

[2017-03-07 17:33] krasi-georgiev commented on #31610
@imjacobclark - let me know if you  will work on this as otherwise I will give it a try.

[2017-03-07 17:36] cpuguy83 commented on #31010
`:` is a common character in file paths, and is even standard in Windows paths where as `,` is rare.
We can of course support escaping, but this is not ideal, particularly on the CLI since the string will have to be single quoted for the escape to make it by the shell.

re: `docker daemon`
We have a fairly large amount of control of the usage of this subcommand since typically this would only exis

[2017-03-07 17:39] nschoe commented on #31010
Okay for `:`, but then we'll have this problem for basically anything, as (almost) anything is valid in Linux path names.

And okay for the `docker daemon`.

I'm just utterly sad that `--volume` will stay confusing.

[2017-03-07 17:44] yongtang commented on #31595
@eliaoggian In `docker service update` you could use `--env-add` or `--env-rm` to update a `delta` of the env variable.

[2017-03-07 17:46] loginoff commented on #29024
I can confirm that the same issue occurs with version 17.03.0-ce as well, but only when creating overlay networks using an external cluster store.

I believe that I have managed to track down the root cause, here's what I did:
1. Setup a three node Docker cluster: --cluster-store=consul://localhost:8500 with Consul running inside a container on each node (with --net=host)
2. docker network create

[2017-03-07 17:51] eliaoggian commented on #31595
@yongtang At the moment I am automating service creation and update via Jenkins and on `docker service update` I should remove with  `--env-rm ` all variables and then read the env-file and build a string containing `--env-add var1=foo --env-add var2=bar` to use it in the `docker update`and so on ? I think it's not clean at all.

Thanks for the answer anyway! :)

[2017-03-07 17:54] aboch commented on #30766
@fabio-barile

What did you mean with

If two containers are not in the same sub-network, they cannot exchange data inside an encrypted overlay .

Also, please post the command you use to init and join the swarm.

Are you `--advertise-addr`ing an IP outside of your host (let's say PUB_IP) to  allow cross-datacenter swarm ?
If so, please capture the esp (`tcpdump -p esp`) packets incoming/outgoing

[2017-03-07 18:01] aboch commented on #31597
@ryanlyy
The container network namespace is being removed by the garbage collection logic in between a minute time frame.
https://github.com/docker/libnetwork/blob/master/osl/namespace_linux.go#L36

[2017-03-07 18:04] yongtang commented on #31595
@eliaoggian At the moment most of the `docker service update` flags are delta-only. For that I am not sure about the `--env-file` (full).

Having said that, I do see the scenario like you mentioned where `docker service update` will take a huge `delta`. It probably makes sense to have a way to update the service by taking a `full spec`.

Would like to hear comments from others on this issue as wel

[2017-03-07 18:05] kylebyerly-hp opened #31615 "Unable to run containers with MountFlags=shared and selinux"
**Description**

**Steps to reproduce the issue:**
1. boot coreos-alpha (or beta) node
2. `mkdir /etc/systemd/system/docker.service.d`
3. `echo '[Service]
MountFlags=shared' > /etc/systemd/system/docker.service.d/mountflags.conf`
4. `systemctl daemon-reload`
5. `systemctl restart docker`
6.
[code]

**Describe the results you received:**
Unable to run any containers.

**Describe the results you exp

[2017-03-07 18:05] cpuguy83 commented on #31595
I think the reason it is not on update is it's not clear how to handle the list of vars. Should it remove vars it doesn't see in the env file? What about vars that were specified outside the envfile before.
It's tricky... I'm not sure it's something we want to support.

[2017-03-07 18:07] aboch commented on #31597
Also, on a regular container stop, the containers interfaces programmed by docker are removed right away.
You issue is that you are manually adding interfaces into the container netns. Docker is not aware of those and won't remove them for you once you stop the container.

[2017-03-07 18:10] sanimej commented on #30321
@dongluochen For local containers the VTEP is not used. I will look into this.

[2017-03-07 18:11] cpuguy83 commented on #31615
Hmm, the official docker packages (ie for ubuntu/debian/ec) uses the default mount flags, which would be shared.
It sounds like this is likely an issue with coreos's build of docker.

[2017-03-07 18:15] aaronlehmann commented on #31563
Ah, yes. If a task terminates within a certain time period of being started by the updater, it's considered to have failed. Having the health check not pass will cause it to terminate, so it's one of the cases that would be considered a failure.

The time period is defined by `--update-monitor`. It defaults to 30 seconds (but we're changing it to 5 seconds in the next version).

[2017-03-07 18:27] vpack commented on #25929
Thank you very much. It worked finally. :+1:

I did struggle when i found that there were multiple kernal files in /boot. To identify the active kernal file i ran:
`grubby --default-kernel`

Updated one liner:
`grubby --args="user_namespace.enable=1" --update-kernel=$(grubby --default-kernel)`

Hope this will help someone with this same challenge.

[2017-03-07 18:32] brb commented on #31386
Any update on this?

[2017-03-07 18:35] endophage commented on #16654
@roman-vynar there's a more basic problem that the engine side of docker doesn't have any notary functions. Even if the registry could tell it what notary to use, it's currently not responsible for doing any notary comms.

@rhuddleston I'm actively working on moving more notary functionality to the engine. The current thinking is to have an engine AuthZ plugin do signature verification. The main l

[2017-03-07 18:54] PicoCreator commented on #7333
@cpuguy83 : Changing another department container config as infra admin, is tied with red-tape sadly =( Ironically. This happens when they transfer over their VM practises.

Note: I do web apps for banking and insurance. In many cases we cant even see those config, let alone adjust them. Its also why I would understand why such cases is a non-priority feature. As the problem is niche.

[2017-03-07 18:56] cpuguy83 commented on #7333
@PicoCreator You can set these options at the daemon level where it is applied as a default.

[2017-03-07 19:00] stevvooe commented on #16654
@endophage Why don't we just make a few examples of verifying a hash with a notary client? This shouldn't be too hard.

[2017-03-07 19:05] endophage commented on #16654
@stevvooe It's simple if you're already using Go and can use the available Notary code. Much less so if you're using any other language and have to implement a whole TUF client, including our opinionated delegation prioritization, to get the guarantees. Additionally, while providing a checksum to the engine API guarantees you'll download and run the image associated with that checksum, it doesn't

[2017-03-07 19:07] roman-vynar commented on #16654
@stevvooe it will require a notary client on each system.

[2017-03-07 19:08] endophage commented on #16654
Ah yeah, I guess you could shell out, sorry, was thinking of the Notary client libraries rather than the CLI. We already have requirements that that's not a viable solution for multiple users.

[2017-03-07 19:09] PicoCreator commented on #7333
@cpuguy83 : Hmm that ironically is less red-tape. I will give it a try the next time round we face this. But cheers! Glad to hear that, i was assuming its container level only.

[2017-03-07 19:14] jas99 commented on #31613
+1

[2017-03-07 19:17] PatrickLang opened #31616 "Add isolation option to docker service"
**Proposal**
Add `--isolation` as a parameter to `docker service create`

**Background**
Windows supports running containers with two different levels of isolation - process (shared kernel), and hyperv (separate kernel per container). Customers are deploying a mix of these based on their security needs. For example, trusted internal apps may be run with process level isolation to favor higher dens

[2017-03-07 19:18] johnstep commented on #31524
I have not had a chance, but will try to reproduce this today. Thanks.

[2017-03-07 19:18] PatrickLang commented on #25303
@thaJeztah can you add this issue for --isolation to your master list ? https://github.com/docker/docker/issues/31616

[2017-03-07 19:20] tonistiigi commented on #31613
@SharpEdgeMarshall

[code]

Reporting `Downloaded newer image for alpine:3.5` is correct if you don't have a local image with that reference. It is not correct only if it pulls the layers again as well.

[2017-03-07 19:28] #31228 closed

[2017-03-07 19:38] SharpEdgeMarshall commented on #31613
Actually i'm sure the issue is present on Gitlab Registry as i described in the first post the layers of the base image are downloaded each time. I will try to dig more deeply and report here.

[2017-03-07 19:51] dongluochen commented on #31581
Thinking about the difference between replicated and global orchestrator, replicated orchestrator doesn't make such decisions and let scheduler handle it. Can global orchestrator asks scheduler for a set of nodes that fit the plugin constraints?

[2017-03-07 19:54] clnperez commented on #19566
We ran into this trying to import some ppc64le images, and to get around it you can build a docker image and just add in the tarball:

[code]
If I get some time I'll try to dig into this an confirm whether it was caused by symlinks. FYI, one of the images we saw it with is this one: http://download.opensuse.org/repositories/Virtualization:/containers:/images:/openSUSE-Tumbleweed/images/openSUSE-Tu

[2017-03-07 19:56] TristanCP commented on #31598
Ok thanks, this is an interesting feature which maybe makes more sense than allowing any untested dependency hierarchy (like Maven does) for docker images. I'll look into it.

[2017-03-07 19:59] PatrickLang commented on #30796
This would eliminate this pattern  `docker volume create --driver=... -opt "user=... pass=..."` right?

[2017-03-07 20:00] thiagoalves commented on #31614
I have now one container with more than 1200 exec IDs. Its process is also on uninterruptible sleep state.

[code]

[2017-03-07 20:13] Mic92 commented on #30993
@chrishoage at the moment you can only manually fix the inconsistencies in docker's image layer "database". The problem is, that docker thinks that this dataset exists as it is referenced in `/var/lib/docker/image/zfs/layerdb/sha256/<layer_sha256>/cache-id` in plain text. This directory (`/var/lib/docker/image/zfs/layerdb/sha256/<layer_sha256>/cache-id`) must be removed as well as all layers, wher

[2017-03-07 20:16] thaJeztah commented on #31614
ping @mlaventure @tonistiigi PTAL

[2017-03-07 20:19] thaJeztah commented on #25303
@PatrickLang added 👍

[2017-03-07 20:23] pcgeek86 commented on #21558
I'm also running into this problem. I can `docker exec` into an IIS container and run `Invoke-WebRequest` against IIS, but I can't hit the website from the host. I've tried all sorts of different port mapping combinations, accessing the website from a remote system, accessing it from the Docker Host itself, and nothing works.

[2017-03-07 20:23] duglin commented on #31067
Have you considered an approach that doesn't require a new Dockerfile command? In particular, the `FROM` command could be used.   Here's my current thinking...

* if the build context were mounted into the build container then the entire build context would be available during RUN cmds w/o the need to do a COPY/ADD first. This avoids any unnecessary layers in the build process.
* the build context

[2017-03-07 20:27] thaJeztah commented on #31386
I think the addition of that information was missed in the documentation, but ping @vieux @aluzzardi @aaronlehmann to be sure

[2017-03-07 20:38] doubtx commented on #12997
Quick and dirty solution and possible temporal workaround is to replace string '\n' with actual newline symbol directly in code
here is python:
`'private_key': os.environ['GA_PRIVATE_KEY'].replace('\\n', '\n'),`

[2017-03-07 20:52] thaJeztah commented on #31615
I suggest reporting this with CoreOS, as this looks to be specific to their configuration. I'll go ahead and close this issue, but feel free to continue the conversation 👍

[2017-03-07 20:52] #31615 closed

[2017-03-07 20:53] chrishoage commented on #30993
That sounds like what I've been doing where I'm just building the `Dockerfile`, but I'd like to be able to use images from the docker hub. So it sounds like the images I have this problem with share a image/layer that was deleted.

I'll try to follow your instructions above, hopefully I don't dig myself deeper into a hole.

[2017-03-07 20:57] Sarafian commented on #31604
Aren't Hyper-V containers necessary only when running Linux containers on Windows 10?

When running Windows based containers on Windows hosts, I don't believe Hyper-V is involved. At least you don't see any references.

[2017-03-07 20:57] thaJeztah commented on #31514
@Silex yes, that would be great! We should replace it with instructions for the new repositories. Hm, actually; that page does not seem to be linked from the menu, and this page links to the various installation instructions https://docs.docker.com/engine/getstarted/step_one/. How did you arrive on that page? Is it linked somewhere, through search? Perhaps it's an old page and needs to be removed

[2017-03-07 21:01] ambrt opened #31617 "Make flag on volume to not report it as dangling"
Is there possibility to create "stand alone" volume flag that wouldn't be reported as `dangling`.

The reason for this is to be able to  have persistent database-only volume and being able to remove other dangling volumes without loosing the data in database when the containers of database volume are removed.

[2017-03-07 21:06] cpuguy83 commented on #31512
Ok, this looks like a bug with the json log reader that's fixed in 17.03.
I would upgrade to 17.03 (which is essentially what 1.13.2 would have been)

[2017-03-07 21:06] cpuguy83 commented on #31512
Closing since this is already fixed, but feel free to discuss.

[2017-03-07 21:06] #31512 closed

[2017-03-07 21:15] angelmotta commented on #30308
Hi @twang2218 thanks for your assistance! I had to modify the docker.service file to add that parameter (KillMode=process) and then "systemctl daemon-reload" after that I could safely restart docker service with containers running ("docker ps" output)

I tested this with Openshift, and I have noticed that after "restart docker" everything looks running but I am not able to connect to the bash term

[2017-03-07 21:15] cpuguy83 commented on #31617
No, tracking this with regard to `docker system prune` here: #29999
There is a PR, #30740, to support filtering by label.

Closing this one.
Thanks!

[2017-03-07 21:15] #31617 closed

[2017-03-07 21:18] friism commented on #31604
@Sarafian no, on Windows 10, Docker users Hyper-V isolation to run Windows containers.

[2017-03-07 21:28] e4jet commented on #30796
@PatrickLang - yes, that is correct.
In addition, it will eliminate the ```docker plugin set ... user=... password=...```

[2017-03-07 21:31] Silex commented on #31514
The link is at https://docs.docker.com/engine/getstarted/step_one/#docker-for-linux at line 82 (source https://github.com/docker/docker.github.io/blame/master/engine/getstarted/step_one.md#L82)

[2017-03-07 21:33] aaronlehmann commented on #31386
We should fix the documentation to cover this field.

[2017-03-07 21:35] aaronlehmann commented on #31581
While that's certainly not impossible, I don't really see how it would work. Do you have any ideas for how the scheduler and orchestrator could communicate without coupling them too tightly?

Also, it wouldn't fix the issue I mentioned above about how the scheduler deals with tasks, and the orchestrator deals with services, which don't directly reference network drivers.

[2017-03-07 21:42] thaJeztah commented on #31386
@brb are you interested in contributing and opening a PR to add the missing field to the swagger file? https://github.com/docker/docker/blob/master/api/swagger.yaml. Instructions for previewing the documentation can be found in the readme; https://github.com/docker/docker/blob/master/api/README.md

[2017-03-07 21:43] chrishoage commented on #30993
I have successfully pulled the images that I was having troubles with by following your steps.

There was a step that I inferred from the fact that this all is referred to as a DB, which was `service docker restart`.

I did this, deleted one more layer that was mis-referenced and it worked!

Thank you so so very much for your help @Mic92 I'm not sure I would have solved this issue with out your gu

[2017-03-07 21:49] thaJeztah commented on #31514
oh, you're right, hm Wondering if it should link to the general installation instructions instead. I'll leave that decision to @mstanleyjones for now 😊

[2017-03-07 21:59] aravichandran commented on #28190
@Djelibeybi :thanks . It worked like a charm !

[2017-03-07 21:59] nmarkey10 commented on #21535
Is there any way to mount the volume without sharing the drive?  I've been scouring the internet for a workaround.  I am trying to prepare for all use cases (for instance, the user doesn't have permission to share their drive).  Is there a default shared folder where I can store temporary data?  Or is there a command I can run on Windows' end that will share a specific folder.  Every time I look f

[2017-03-07 22:04] thaJeztah commented on #21535
No, unfortunately that's the only way to have it working currently on Windows

[2017-03-07 22:06] nmarkey10 commented on #21535
Ah shoot.  Well, thanks for the quick response!  I guess my search stops here.  Time to rethink some things.  Thanks again.

[2017-03-07 22:07] lmakarov commented on #30450
The milestone on this issue should be updated to `17.04.0` to match the one on the PR that is supposed to fix it: https://github.com/docker/docker/pull/30729

[2017-03-07 22:11] Sarafian commented on #31604
@friism I'm aware about the hyper-v isolation, but this is a special case of containers. One where the docker host creates literally an new VM and launches the operating system. But that is only when the `--isolation=hyperv` flag is specified. In the above examples I didn't specify the `--isolation`, so I should be only limited by the maximum memory the operating system can offer to the container

[2017-03-07 22:17] dongluochen commented on #31581
The coupling would be a headache. My idea is to share the a node selector between Orchestrator and scheduler. There is a function to filter nodes with constraints and plugin requirements.
Classic swarm does something like the following
https://github.com/docker/swarm/blob/master/cluster/swarm/cluster.go#L203

Or we can keep the current behavior. Make change on UX to make it clearer to users.

[2017-03-07 22:18] mfilotto commented on #29056
In my case the root cause was an old entry in my docker nginx conf

[2017-03-07 22:23] friism commented on #31604
@Sarafian on Windows 10 running Windows containers, `--isolation=hyperv` is the default and the only isolation mode that works.

[code]

[2017-03-07 22:24] johnstep commented on #31604
@Sarafian Without specifying `--isoliation`, you get the default:

[Specify isolation technology for container (–isolation)](https://docs.docker.com/engine/reference/commandline/run/#specify-isolation-technology-for-container---isolation)

Here is a sample of the error message from Docker on Windows 10:

[code]

[2017-03-07 22:27] mlaventure opened #31622 "Update containerd to handle invalid container state directories on restore"
The following PR: https://github.com/docker/containerd/pull/410 need to be cherry-picked in the `containerd` branch used by 17.03.1 to allow it to successfully restore itself when a container state directory gets incomplete

[2017-03-07 22:33] thaJeztah commented on #30450
@lmakarov there was a second pull request against the 1.13.x branch (and part of 17.03) https://github.com/docker/docker/pull/30730. Let me update the other PR to prevent confusion

[2017-03-07 22:36] dmcgowan commented on #31321
`[ 166.289015] overlayfs: upper fs needs to support d_type. This is an invalid configuration.`

As mentioned earlier, `d_type` support is required. This should also show up in your `docker info`.

[2017-03-07 22:38] panmanphil commented on #21558
From the host you can hit the container with the private ip of the
container along with the port the container exposes. You can get that ip
with docker inspect. From the host you cannot reach the container the
host's ip even if the container is host mapped. However externally you can
access the container on the host's ip and the host mapped port. Do this all
the time.

On Tue, Mar 7, 2017 at 2:24

[2017-03-07 22:58] jhowardmsft opened #31624 "Windows: Don't hold libcontainerd client lock going into terminate"
@darrenstahlmsft

As discussed - if you can find a way to not hold the client lock for 5 minutes during a terminate call. The relevant threads (on v1.13.1) were

[code]

and

[code]

[2017-03-07 23:21] mlaventure commented on #31614
@thiagoalves is this container pid namespace used by any other one?

[2017-03-07 23:27] dperny opened #31625 "Service logs hang after daemon restart"
Creating this issue for my own tracking purposes. Please assign me to it. It's going on my TODO list.

**Description**
If you stop the docker daemon, when you restart it, getting logs for services that were running when you stopped it hangs.

**Steps to reproduce the issue:**
1. `make shell`
2. Build and start docker in docker.
3. Start a service. Check the that it outputs logs
4. stop the docker

[2017-03-07 23:28] lmakarov commented on #30450
@thaJeztah I head to re-read the whole thread to get the answer as I can still see the issue on a Windows host when used with a docker-machine provisioned VM.

This answered my question
https://github.com/docker/docker/issues/30450#issuecomment-281498295

I'm assuming this PR https://github.com/docker/go-connections/pull/30 should be part of the `17.04.0` milestone?

[2017-03-07 23:31] Amit-Naudiyal commented on #20335
Hey Guys,
I face the same problem with Windows hosts. However doing nslookup even with the embedded dns, I still can't resolve them.

IP Configuration of container:

[code]

Connection from Windows host:

[code]

[2017-03-07 23:34] cyli commented on #30450
@lmakarov Yes, plus a docker change to actually use the flag.  Am working on that vendor and flag as a PR now.

[2017-03-07 23:43] stevvooe commented on #16654
This is addressing a separate problem.

There are two problems:

1. Is the mapping for a name to a digest correct for a given user's configuration?
2. Is the engine able to run an image of a particular digest?

Classically, DCT has focused on the first problem, which works a lot better when you do it client-side. The second problem is a wholly different use case. While these two problems are simil

[2017-03-07 23:49] mojavezax opened #31627 "Volume mount options keep reverting to earlier options when creating a service"
**Description**

I'm seeing some strange behavior while trying to mount an NFS volume when
creating a service. It appears that the `--mount` options keep reverting back
to previously used options.

Note that I'm only seeing this problem because I can't get the NFS mount to work at all.
But that's another issue.

**Steps to reproduce the issue:**
1.  Create a service with a `--mount` option that re

[2017-03-07 23:50] jhowardmsft commented on #31604
FWIW - on client, you can increase the memory to the Hyper-V container similar to dockerfile.Windows. eg see https://github.com/docker/docker/blob/master/Dockerfile.windows#L69

[2017-03-07 23:52] FrenchBen commented on #30518
I think that @endemics pointed out to the issue, which is that the ImageName will contain the `:latest` tag which is invalid according to the LogStream naming convention.

@thaJeztah Should we modify the tag logic to scrape any invalid characters and replace them with valid ones?

[2017-03-08 00:00] samuelkarp commented on #30518
This doesn't sound like a bug to me, but rather a documented limitation of the CloudWatch Logs API.

I think that's a bit non-obvious, but if it makes the usability of the `--log-opt tag` option easier we could mitigate the confusion through more documentation.

[2017-03-08 00:04] endemics commented on #30518
I agree that documentation would be a first step, however not being able to have the image name as part of the logStreamName is seriously limiting!

[2017-03-08 00:08] FrenchBen commented on #30518
@endemics What's even more confusing is that the docs for `tag` show that the image tag shouldn't be part of it:
https://docs.docker.com/engine/admin/logging/log_tags/
[code]

[2017-03-08 00:09] endemics commented on #30518
@FrenchBen and it is correct when you do not specify the image tag, as docker will assume it's `:latest`...

[2017-03-08 00:14] endemics commented on #30518
@thaJeztah maybe that bug should be considered just as a doco error and a feature request should be created instead for adding new tags?

Beside/as a replacement for those in https://docs.docker.com/engine/admin/logging/log_tags/, we might want to have:
- `{{.ImageName}}`: the container image name *without* the version tag
- `{{.FullImageName}}`: the container image name *with* the version tag
- `

[2017-03-08 00:24] kinghuang opened #31628 "How to figure out where space is being used?"
**Description**

I keep running into a problem on my Docker engines where Docker is reporting that the data space is full, but I can't figure out where it's all going. The following error is shown:

[code]

I usually run `docker system prune -a` to free up space from leftover containers, images, etc. But, `docker info` still shows a large amount of space being used afterwards (52.32 GB in this exa

[2017-03-08 00:27] ryanlyy commented on #31597
@aboch Thanks for your answer. I understood docker can do garbage collection for network which docker created. I did another test: if I don't run: docker network disconnect, then I can't ping that IP address on NIC I added manually after stop docker. So although that NIC is not added by docker, it can clear it too if I don't run docker network disconnect. So I think docker network disconnect leads

[2017-03-08 00:42] jhowardmsft commented on #30605
@thiagoalves @georgyturevich Some progress here. I'm aware you have a CSS case open as well.

One set of logs I looked at was a transient hang, and the dump was unfortunately taken seconds before a timeout would have occurred. Essentially for some reason, a terminate() call in HCS returned pending as a result of the first process in a container exiting, and we were backed up with the global contai

[2017-03-08 00:47] diwo opened #31630 "File cannot be excluded in .dockerignore when parent directory is included as an exception"
**Description**

When building an image using `docker-compose build` along with a `.dockerignore` file, if a directory is included as an exception, files under this directory cannot be excluded afterwards.

**Steps to reproduce the issue:**
Given the following directory structure:
[code]
The following `Dockerfile`:
[code]
The following `docker-compose.yml`:
[code]
The following `.dockerignore`:
[c

[2017-03-08 00:49] diwo commented on #31630
Sorry the repro case isn't actually correct, let me edit it

[2017-03-08 00:50] thaJeztah commented on #30993
That's good to hear! Thanks so much @Mic92 for assisting. I'll go ahead and close this issue, but feel free to continue the conversation if needed 👍

[2017-03-08 00:50] #30993 closed

[2017-03-08 00:55] tiborvass commented on #31587
@dmcgowan is this a known issue and is it actionable?

[2017-03-08 00:56] jhowardmsft commented on #30605
I should add that from very preliminary analysis of the last set of logs in https://github.com/docker/docker/issues/30605#issuecomment-278777143, this one looks different from the other two. I'm investigating....

[2017-03-08 00:58] tiborvass commented on #31594
@westsouthnight can you please be more specific in the commands you used so we can try to reproduce the issue?

[2017-03-08 01:04] jhowardmsft commented on #30605
@thiagoalves @georgyturevich To add, can you email me a link directly to future logs without posting it on GitHub - I'm not sure what information the additional traces may include which you may not want public. Either that or go through your CSS case contact.  `john dot howard at microsoft com`

[2017-03-08 01:05] dmcgowan commented on #31587
@tiborvass the inode changing on copy up is a known issue, it is fair to track the individual problems people face with it as it looks like the kernel is incrementally fixing these inode issues. The general solution is always touch to force a copy up then everything operates as expected.

[2017-03-08 01:24] diwo commented on #31630
Seems to only be an issue with `docker-compose`, I'll create a new issue under that project.

[2017-03-08 01:32] tiborvass commented on #31627
Ping @dperny @aaronlehmann @nishanttotla ?

[2017-03-08 01:35] tiborvass commented on #31630
@diwo Thanks! feel free to link it here when you have it. I'm closing this as it is not actionable on the engine.

[2017-03-08 01:35] #31630 closed

[2017-03-08 01:39] cpuguy83 commented on #31627
This is because you specified the `source=sw`
It sounds like you don't want to specify a source in this case.

[2017-03-08 01:39] diwo commented on #31630
Related to issue https://github.com/docker/compose/issues/3886

[2017-03-08 01:49] hsoftxl commented on #31321
@dmcgowan
old installed centos not support , how to make it support?
i did this          mkfs -t xfs -n ftype=1 /dev/mapper/centos-home
and            [root@office250 ~]#  xfs_info /dev/mapper/centos-home | grep ftype
naming   =version 2              bsize=4096   ascii-ci=0 ftype=1

but how can i do to make /dev/mapper/centos-root  device to support ftype?

[root@office250 ~]# mount | grep centos-

[2017-03-08 01:51] hsoftxl commented on #31321
@dmcgowan
i download a centos7.3(1611) iso image to install a new computer, but also not support d_type,  i really no idea how to do.

[2017-03-08 01:55] darrenstahlmsft commented on #31469
@elutsky Can you collect some tracing to help us understand what is happening here?

Download HcsTraceProfile.wprp, found in https://gist.githubusercontent.com/jhowardmsft/71b37956df0b4248087c3849b97d8a71 then run the following:

[code]

Note that the resulting HcsTrace.etl may contain personal information, such as path names accessed on the host, current running executables, etc, so I suggest sen

[2017-03-08 01:55] mlaventure commented on #31628
`docker system df` works at the layer level, it reports the *actual* size of files as part of each layer. So the reported size will always be different than what the underlying driver actually sees (since it knows about its own extra data).

Always, that's quite a huge difference you have there. Can you check your daemon log to see if you have any/how many mentions of "leaked image layer" you have

[2017-03-08 02:07] pannzh commented on #6758
Well, I've figured it out finally:
docker run -it -v /dev/shm --tmpfs /dev/shm:rw,nosuid,nodev,exec,size=4g <img> <cmd>

[2017-03-08 02:15] tiborvass commented on #31595
I added this issue to https://github.com/docker/docker/issues/25303 where it was marked as solved, when in reality it was only added to `service create`.

[2017-03-08 02:15] darrenstahlmsft commented on #27527
@ankitbko @lqbweb @kesarion I'm going to need some additional tracing to understand what is happening here. If you're willing to collect additional tracing, here are the instructions:

Download HcsTraceProfile.wprp, found in https://gist.githubusercontent.com/jhowardmsft/71b37956df0b4248087c3849b97d8a71 then run the following:

[code]

Note that the resulting HcsTrace.etl may contain personal info

[2017-03-08 02:17] linshenqi commented on #6999
+1

[2017-03-08 02:22] tiborvass commented on #31628
Ping @runcom @rhvgoyal any ideas?

[2017-03-08 02:26] kinghuang commented on #31628
Ah, ok. That's good to know about `docker system df`. I've written the daemon log out to a file using `sudo journalctl -u docker.service > docker.txt` and looked at it. There are 1088/39260 lines about “leaked image layer”.

I can't seem to find much about that with a web search. What does “leaked image layer” mean?

Most of my log lines actually seem to be about “No such container”. Not sure if t

[2017-03-08 02:34] mlaventure commented on #31628
It's a message I added when I made `system df`, it's basically a layer that I couldn't tie to any image/container.

I've been putting off trying to figure out if they can safely be deleted, I'll try to spend a bit of time on it this week.

[2017-03-08 02:37] kinghuang commented on #31628
Ok, thanks. Is there any way I can get the sizes for the layers, to see if they account for the missing space?

[2017-03-08 02:38] akashbeuria commented on #31519
Can you please point out what might be the problem?

3F04D2D2-2819-4887-8018-9CA695E11D68/2017-03-07_20-33-24

[2017-03-08 02:39] vizv commented on #15086
+1

[2017-03-08 02:40] mojavezax commented on #31627
Interesting; I do get different results when leaving off the `source`:

If I try the first test again without the source option, I get the same error.
Note that this is an NFSv4 server.
[code]

If I do the second test again without the source, I get a new error.
The NFS server in this case is a NAS box, and I believe it's NFS 3.
[code]

For NFS volumes, I thought the `source` parameter was arbitra

[2017-03-08 02:42] cpuguy83 commented on #31627
It's specifically the name of the volume that gets created.

[2017-03-08 02:48] mojavezax commented on #31627
I'm a bit confused then - when I `docker volume inspect` the volume, I see only the SHA value, and no reference to the source name. E.g.,

[code]

Am I looking in the wrong place?

[2017-03-08 02:58] ronaldfenner opened #31633 "Latest version of Dcoker Version 17.03.0-ce-mac2 (15654) breaks awsebcli"
After upgrading to Dcoker Version 17.03.0-ce-mac2 (15654) I got this message:
ERROR: Dependency conflict: an older version of the 'docker-py' package is polluting the namespace. Run the following command to remedy the issue:
pip uninstall docker docker-py; pip install docker
I run the command and docker compose then runs, however we are also using the awsebcli tool to deploy to elastic beanstalk a

[2017-03-08 03:00] cpuguy83 commented on #31627
When there is no source specified, the name is generated, it's not really a sha.

[2017-03-08 03:15] dccurtis commented on #21331
I can update the docs but it looks like these links are out of date.

The events documentation @samuelkarp mentioned redirects to https://docs.docker.com/engine/api/ and the graphic event_state.gliffy no longer exists.

Is this still an issue?  If so, can someone point me to the docs that need to be updated?

[2017-03-08 03:36] jhowardmsft commented on #30605
(This is for my own debugging notes more than anything else. Ignore for now, just capturing it for tomorrow). For that last set of logs, there's a few threads which are interesting and the likely cause of the race.

823580 is in `hcsCreateProcess` as part of a `docker exec` call
[code]

798305 is in a restart
[code]

194 is in a stats call
[code]

And 820630 looks to be the first PS call blocked o

[2017-03-08 03:46] backyes commented on #31607
Thanks, It seems to be useful for me.

[2017-03-08 03:52] ankitbko commented on #27527
@darrenstahlmsft I have sent you the logs over mail. Really appreciate you helping us out here.

[2017-03-08 04:03] mojavezax commented on #31627
I see. Thank you for the clarification!

[2017-03-08 04:13] tiborvass commented on #31627
@cpuguy83 @mojavezax so can we close this issue then?

[2017-03-08 04:35] askie commented on #31614
docker exec -it fe16ae840d6f bash
rpc error: code = 2 desc = oci runtime error: exec failed: cannot exec a container that has run and stopped
the container fe16ae840d6f is up!
[code]

[2017-03-08 04:47] jhowardmsft commented on #30605
@georgyturevich @thiagoalves An update to the debugging steps if you hit this again - assuming it is the same as the error above (there a three completely different causes in the dumps I've looked at). Instead (or before) killing the docker daemon and getting the log, and after running get-computeprocess, can you also take a crash-dump of the HCS? Task manager/details/VMCompute/Create dump file. I

[2017-03-08 06:15] pronojitsaha commented on #22635
Setting the DNS server to fixed (8.8.8.8) from automatic in docker settings solved the problem for me.
![dns](https://cloud.githubusercontent.com/assets/5354387/23691514/f3a3a9d4-03ee-11e7-85c2-c53796a1ddad.png)

[2017-03-08 06:40] JesseHawkins commented on #5618
I can make this happen reliably when running Proxmox and using containers. Specifically, if I have moved a considerable amount of data or moved really any amount of data very recently, shutting down or hard stopping the container will produce this error. I've seen it most often when I am using containers that mount my NAS within, but that might be a coincidence.

[code]

And from within Proxmox:

[2017-03-08 06:42] shashankmjain commented on #27339
For Docker create calling mount and unmount, is it a feature with 1.12 or existed in previous versions as well.

[2017-03-08 06:47] abdshah94 commented on #25209
The security opt or something like that is also required for Selinux and AppArmor use cases, When we use security-opt  under current circumstances and input profile/policy-module, it's implicit that the profiles are loaded in the kernel. I wonder if that is going to be a problem in swarmkit orchestration, say If there is a node that doesn't have a particular policy/profile loaded in the kernel and

[2017-03-08 08:02] zjxpsetp opened #31636 "Docker exec using proxy"
Hi,
We have some docker server running in a network zone (A) while our client running in another network zone(B).  We have a http/https proxy can help us access network A from B. We can run docker ps command correctly via proxy (We set proxy by enable "http_proxy" and "https_proxy" in ubuntu). But I don't know why the `docker exec`, `docker cp` can not work via this proxy. Any idea?

[2017-03-08 08:12] laurencee commented on #21535
Well there should still be a change to show a warning or prompt to share the folder if that's required for mounting to work on windows.

[2017-03-08 08:28] bitbytedog opened #31637 "Upgrade of Docker broke awsebcli"
EB cli was broken by docker version Version 17.03.0-ce-mac2 (15654)

[code]

It is the leading zero in the minor number

The line that blows up is in the semantic_version project, here -
https://github.com/rbarrois/python-semanticversion/blob/master/semantic_version/base.py#L211

[code]

[2017-03-08 08:28] thaJeztah commented on #21535
@laurencee could you open a feature request for that in the issue tracker fir Docker for Windows? https://github.com/docker/for-win/issues

[2017-03-08 08:34] wenjianhn commented on #31245
@cynici
#28257 introduced a fix which switched the default iptables FORWARDING policy to DROP.

Could you paste the output of the following command?

[2017-03-08 08:42] thaJeztah commented on #31637
can you open an issue with AWS for this? it looks like their CLI is attempting to parse the docker version string and does not yet take the YY.MM version scheme into account.

I don't think there's anything actionable in this repository

[2017-03-08 09:30] s4s0l commented on #29882
Reasonable as not many images will support password change on the fly. Thanks.

[2017-03-08 10:03] thaJeztah commented on #29882
One of the considerations to make the secret itself immutable is to allow rolling back a service definition to a previous version. A PoC version of the feature had built-in versioning of the secret itself, but this added a lot of complexity with not a lot to gain, so if was decided to keep this out.

[2017-03-08 10:09] alambike commented on #31605
Hi @cpuguy83 , I need to provide an empty list in **promotor_sidekiq**, to override the promotor service **ports** definition.
If I can't overide ports in **sidekiq** container, the service fails to start because external port is in use by **promotor** service.

[2017-03-08 10:10] guustflater commented on #29794
same problem after server reboot.
cannot connect to all containers

docker ps
CONTAINER ID        IMAGE                           COMMAND                  CREATED             STATUS              PORTS                                                                                                          NAMES
419dcf9b1b53        puppet:5000/docker-puppet:1.1   "/entry.sh /usr/bin/s"   6 days ago

[2017-03-08 10:35] Sarafian commented on #31604
@friism, @johnstep  and @jhowardmsft thank you for the explanation and with better understanding the problem is fixed. I offered 2GB of memory as a parameter when detecting a client os. For anyone landing on this issue with the same problem here is my example from [Invoke-DockerBuild.ps1](https://github.com/Sarafian/ISHBootstrap/blob/9fa0575c1dd49af1e6d91fd495fc2b27b864da28/Source/Invoke-DockerBui

[2017-03-08 10:45] pradip10 opened #31639 "docker ps hanging"
We are facing this issue of 'docker ps' hanging on a few random hosts

This is what I see in the docker logs:

Also, when I try do a strace of the "docker ps" process it just hangs here:

Any pointers what what might be causing it?

[2017-03-08 10:51] hehailong5 commented on #30304
the same happens today. I am using 1.13.1 this time.

[2017-03-08 10:52] vetional opened #31640 "Exposed ports are inaccesible for Docker service"
Exposed ports are inaccesible for Docker service, this used to work with docker 1.13.1 and below but now ( Version:      17.03.0-ce) I can't reach my application UI on port 8080

I started the service using:
[code]

The service gets created with the following properties (using docker service inspect spark-master)
[code]

docker info
[code]

**Describe the results you received:**
Exposed ports are

[2017-03-08 10:57] masoomalam commented on #25209
@abdshah94 I dont think it should be the responsibility of swarmkit to verify the presence of a particular policy module and/or Apparmour profile on a node. If it is not on the target node kernel, the deployment should simply fail.

[2017-03-08 10:58] cpuguy83 commented on #31640
The inspected container is not the container for the service. Also note the inspected container is not running.

You say when you try to reach 8080 you get an error... what sort of error?

[2017-03-08 10:59] asmaier commented on #17249
I propose to put https://en.wikipedia.org/wiki/Carl_Friedrich_Gauss on the list. He seems to be notable: https://en.wikipedia.org/wiki/List_of_things_named_after_Carl_Friedrich_Gauss

[2017-03-08 11:02] cpuguy83 commented on #31639
Can you send "SIGUSR1" to the dockerd process and paste the stack trace from the daemon logs into a gist?

[2017-03-08 11:08] galindro commented on #30284
@dnephin @thaJeztah could you please check if this was really fixed in most recent docker stable version? I'm using 17.03.0-ce and the error is still ocurring:

[code]

docker-compose.yml
[code]

[2017-03-08 11:09] abdshah94 commented on #25209
@masoomalam, the problem with that is, in case swarmkit, needs to deploy a particular container on a node for load balancing or any other case, and at that instance the module/profile is not loaded in the kernel then it would fail. That is not the expected behavior.

[2017-03-08 11:10] vetional commented on #31640
Sorry for the incorrect details, I have updated the appropriate container info.

I get
[code]

[2017-03-08 11:20] piontec commented on #29635
@mlaventure Any progress on this? We're constantly monitoring `docker ps`, `docker info` and `docker run` response times now - see the attached graph. The case is that these response times are usually fairly constant until dockerd stops to reply at all. In that case, the only solution is to restart dockerd - then it gets back to normal. It was the case on the right side of graph.
![response_times]

[2017-03-08 11:41] Moonlight-shadow commented on #31510
for centos how i do?

[2017-03-08 11:45] cherurg opened #31642 "MacOS Sierra. Docker asks access to passwords in my keychain."
Hi!

I've update Docker today. I use MacOS Sierra. Now it asks random passwords from my keychain. Why does Docker need my passwords?

![screen shot 2017-03-08 at 12 40 38](https://cloud.githubusercontent.com/assets/6004013/23702706/b0fe470c-03fc-11e7-888b-bb3ec25f5bed.png)
![screen shot 2017-03-08 at 12 38 31](https://cloud.githubusercontent.com/assets/6004013/23702712/b569751e-03fc-11e7-99b3-0074

[2017-03-08 11:45] thiagoalves commented on #31614
@askie Your error message is different than mine. Possibly a different issue

@mlaventure:

[code]

[2017-03-08 11:46] cyphar commented on #31139
But `selinux-policy` doesn't really matter from the Docker side because it's not necessary for building SELinux support -- you only need `libselinux-devel` to build Docker and `libselinux` to run Docker. `selinux-policy` effectively is the host policy for the entire system -- why does Docker's build process need this in order to build the RPM?

We've been shipping Docker as part of openSUSE for a

[2017-03-08 11:48] groyee opened #31643 "Docker network doesn't remove removed containers"
docker version:

Client:
 Version:      1.13.1
 API version:  1.24 (downgraded from 1.26)
 Go version:   go1.7.5
 Git commit:   092cba3
 Built:        Wed Feb  8 06:50:14 2017
 OS/Arch:      linux/amd64

Server:
 Version:      swarm/1.2.5
 API version:  1.22 (minimum version )
 Go version:   go1.5.4
 Git commit:   27968ed
 Built:        Thu Aug 18 23:10:29 UTC 2016
 OS/Arch:      linux/amd64
 Expe

[2017-03-08 11:49] stefanfritsch opened #31644 "udp port assignment ignored"
**Description**

I try to expose a udp port in a `docker stack deploy` stack. I have found no docs that say this is not possible. Nevertheless it works with `docker-compose up` but not with `docker stack deploy`.

Thanks
Stefan

**Steps to reproduce the issue:**
1. Use the following docker-compose:

[code]

2. `docker stack deploy --compose-file docker-compose.yml`

**Describe the results you rece

[2017-03-08 11:57] krasi-georgiev commented on #31610
I found the problem so will submit the pull request soon.

[2017-03-08 11:58] piontec commented on #30782
@mlaventure Any progress? It happens so frequently, that we had write our own "check-and-restart" script to auto-fix the problem.

[2017-03-08 12:01] StefanScherer commented on #30590
@thaJeztah I encountered the same problem with 17.03.0-ce on a Raspberry Pi swarm. Are there ARM binaries available, can't find any on https://master.dockerproject.org?

[2017-03-08 12:02] kladkogex opened #31645 "Setting DNS does not work with MACVLAN networks"
When  using MACVLAN --dns-flag does not work at all!

How much funding do you guys need to start fixing simple things?

[2017-03-08 12:04] thaJeztah commented on #31643
I see you're running swarm "standalone" and a combination of daemon versions (1.12.6, 1.13.0 and 1.13.1), wonder if the combination of versions could play a role here.

Are you using an external k/v store or the swarm-mode overlay networks (using the `--attachable` option)?

If you try disconnecting endpoints using the `EndpointID` instead of the container-name, does that work?

[2017-03-08 12:06] cpuguy83 commented on #31642
ping @justincormack

I've seen this too where it asks for a passwd in the keychain that it shouldn't need... for that matter it shouldn't even need registry credentials.

[2017-03-08 12:10] thaJeztah commented on #30590
@StefanScherer armhf packages are available in the apt.dockerproject.org repo http://apt.dockerproject.org/repo/pool/main/d/docker-engine/.

IIRC, https://master.dockerproject.org only has client binaries for ARM

[2017-03-08 12:13] thaJeztah commented on #31642
Yes, @vdemeester is working on this

[2017-03-08 12:15] vdemeester commented on #31642
@cherurg the issue is being tracked here : https://github.com/docker/docker/issues/31517.

[2017-03-08 12:17] cherurg commented on #31642
@vdemeester i see. Thank you!
Sorry for troubling

[2017-03-08 12:17] #31642 closed

[2017-03-08 12:19] thaJeztah commented on #31644
When deploying services, the containers _backing_ the service are not individually published, but traffic is routed through the routing mesh / load balancer. If you inspect the _service_ you'll see that the port is published. I simplified your docker-compose file to;

[code]

And after deploying as `repro`, I inspected the service (`docker service inspect --pretty repro_h2o-gate`);

[code]

[2017-03-08 12:22] thaJeztah commented on #31644
You can find more information about networking in Swarm mode here; https://docs.docker.com/engine/swarm/networking/

[2017-03-08 12:24] n4ss commented on #31517
I'm following-up here for the changes to be made on `docker-credentials-helper`: :https://github.com/docker/docker-credential-helpers/issues/46

[2017-03-08 12:24] vdemeester commented on #31642
@cherurg no problemo 😉

[2017-03-08 12:37] StefanScherer commented on #30590
Thanks @thaJeztah I first tried the test.docker.com script on ARM, but then I only get the 17.03.0-ce-rc1. So this will work with the next release candidate. So I'll compile ARM deb from master manually.

[2017-03-08 12:38] BouchaaraAdil commented on #12487
try this one `docker rmi -f image:tag`
it works for me many times

[2017-03-08 12:45] groyee commented on #31643
I am using external k/v store and a standalone swarm.

I don't think this is related to versioning. It is true that some of the hosts running a newer version of docker.  However in the above scenario only the useralerts hosts, swarm and the consul play a role and they all running the same version:

![screen shot 2017-03-08 at 14 42 28](https://cloud.githubusercontent.com/assets/194016/23704473/d2c

[2017-03-08 13:03] thaJeztah commented on #31644
I'll go ahead and close this, because I think there's no bug here, but feel free to continue the discussion if I'm mistaken :blush:

[2017-03-08 13:03] #31644 closed

[2017-03-08 13:07] vetional commented on #31640
@cpuguy83 additionally if I just use docker run, I am able to got to <machine-ip>:8080 and see application UI

[code]

[2017-03-08 13:14] ismailyenigul opened #31646 "make DefaultPropagationMode value configurable"
**Description**
DefaultPropagationMode is rprivate.

https://github.com/docker/docker/blob/b248de7e332b6e67b08a8981f68060e6ae629ccf/volume/volume_propagation_linux.go
// DefaultPropagationMode defines what propagation mode should be used by
// default if user has not specified one explicitly.
// propagation modes
**const DefaultPropagationMode = mounttypes.PropagationRPrivate**

I need a docker co

[2017-03-08 13:21] Angelinsky7 commented on #6758
thanks !!!

[2017-03-08 13:21] piontec opened #31647 "when live-restore is enabled and docker daemon is restarted, some of the iptables rules are duplicated"
**Description**
When live-restore (did not test without live-restore, though) is enabled and docker daemon is restarted, some of the iptables rules are duplicated.

As a result, xtables_lock is getting harder to acquire, all docker operations are slowing down and performance (especially restart time) sinks.

**Steps to reproduce the issue:**
1. Run a lot of containers with forwarded ports
2. Enabl

[2017-03-08 13:28] superriva commented on #31303
Just my experiments with Freebsd 11.

$go version
go version go1.8 freebsd/amd64

$cd /tmp
$git clone git://github.com/docker/docker.git
$cd docker
$./hack/make.sh
...
Building: bundles/17.04.0-dev/binary-daemon/dockerd-17.04.0-dev
.gopath/src/github.com/docker/docker/vendor/github.com/docker/libnetwork/drivers/bridge/bridge.go:22:2: no buildable Go source files in /tmp/docker/.gopath/src/github.c

[2017-03-08 13:30] piontec opened #31648 "The number of processes in "uninterruptible sleep" ("D") on the host gravely influences dockerd performance"
**Description**
Our monitoring detected docker performance problems rising slowly - checked with `docker ps`, `docker info` and `docker run` calls. At the same time about 100 processes with "D" state were detected in the system. Increasing number of "D" processes eventually renders docker daemon unresponsive. This was confirmed on multiple occasions (at least 5 times).

**Steps to reproduce the is

[2017-03-08 13:36] kirill-chilingarashvili commented on #24812
Before the feature is available for production, I was able to get error for last failed task of a service using this bash script
`docker inspect --format "{{.Status.Err}}" $(docker service ps SERVICE_NAME | awk '{print $1}' | head -n 3 | tail -n 1)`

It is not showing full log, but may be helpful when container could not start at all

[2017-03-08 13:39] thaJeztah commented on #31647
ping @sanimej

[2017-03-08 13:46] thaJeztah commented on #31646
I don't think we should make this configurable to work around a limitation of docker cloud. Perhaps you can open a topic on https://forums.docker.com/c/docker-cloud, or contact support@docker.com

[2017-03-08 13:48] superriva commented on #31303
Test with syscall.Gettid, syscall.NETLINK_ROUTE, syscall.NETLINK_XFRM, syscall.AF_NETLINK, syscall.NETLINK_XFRM.

$cat syscall.go
package main
import "syscall"
func main() {
    _ = syscall.AF_NETLINK
}

$GOOS=freebsd GOARCH=amd64 go build syscall.go
./syscall.go:6: undefined: syscall.AF_NETLINK

$GOOS=linux GOARCH=amd64 go build syscall.go
no errors

[2017-03-08 13:50] juliemathew commented on #31483
@cpuguy83 , we removed the docker images , and re-tried the steps. It is successful now.
Closing this issue.
Thanks for your suggestion!

[2017-03-08 13:50] #31483 closed

[2017-03-08 13:50] cpuguy83 commented on #31640
Can you check the logs from when the service is created?

Also running this script may provide some insight: https://github.com/docker/docker/blob/master/contrib/check-config.sh

[2017-03-08 13:52] elutsky commented on #31469
Hi @darrenstahlmsft
Finally, I found in the event viewer that each time i am trying to start container, i received an error in Hyper-V-Compute event log (see below)

So I uninstalled all hyper-v features and container feature, and let for Docker to re-enable them.
After it, seems that I can start containers.  At least, this did work for me:

I'll check other operations (like build) later. and upda

[2017-03-08 13:56] cpuguy83 commented on #31646
+1 to @thaJeztah, this should not have changeable configuration.

Also it seems like you want rslave not rshared unless you are going to be mounting things inside the container. `rslave` tells the mountpoint in the container to receive any mount changes from the parent. `rshared` would only be needed if you are going to mount things from inside the container that should be allowed to propagate bac

[2017-03-08 13:56] #31646 closed

[2017-03-08 13:57] thiagoalves opened #31649 "Docker host rebooted after dockerd unrecoverable failure"
**Description**
A container got locked and could not be stopped. After some investigation no apparent cause was found, and by mistake the container's parent process was killed, leading to immediate unresponsiveness from docker daemon. Commands like "docker ps", "docker info" were running forever. A dockerd restart was tried, but the daemon could not start again due to underlying containerd issue.

[2017-03-08 14:00] thaJeztah commented on #31645
There's no need to get hostile. Docker is an open source project, and of the [more than 1600 contributors](https://github.com/docker/docker/graphs/contributors), most are not paid, or affiliated with docker. We have community guidelines, written down here; https://github.com/docker/docker/blob/master/CONTRIBUTING.md#docker-community-guidelines. Consider this your first warning.

Now, if you want y

[2017-03-08 14:01] vetional commented on #31640
@cpuguy83  How do I check service create logs (experimental daemon isn't enabled)?
Ran the script, but kind of anomaly what are we looking for?

Here is the output:

[code]

[2017-03-08 14:04] cpuguy83 commented on #31640
[code]

This is why it's not working, you need the ipvlan kernel module.
Surprising that it's not loaded on your deb8 install.

btw, the logs I'm referring to are the daemon logs, which will depend on how dockerd is started... if using systemd then the logs would be in journald.

[2017-03-08 14:07] thaJeztah commented on #31649
/cc @mlaventure

[2017-03-08 14:07] cpuguy83 commented on #31067
@duglin I actually don't like that since it's not exactly clear what's happening there.
Also going to be confusing if you pass a new Dockerfile to an older parser... where as `BUILD` would just error out.

[2017-03-08 14:09] vetional commented on #31640
How to setup the ipvlan module?

[2017-03-08 14:12] cpuguy83 commented on #31640
Sorry brain fart, I'm looking at the wrong module.... it needs ipvs.

[2017-03-08 14:14] thaJeztah commented on #31627
Yes, I think we can close this, as it's not a bug. Thanks for reporting @mojavezax, feel free to continue the conversation if needed

[2017-03-08 14:14] #31627 closed

[2017-03-08 14:15] james-nesbitt commented on #31440
PR merged provides the feature request.

[2017-03-08 14:15] #31440 closed

[2017-03-08 14:17] spencescu opened #31650 "I cannot push to docker hub"
**Description** I cannot push an image to docker hub. I have an account and am able to login to hub.docker.com.

**Steps to reproduce the issue:**
1. Create a local image (my-image)
2. Tag it to spencescu/my-image:latest
3. docker login hub.docker.com (otherwise it defaults to docker.io and the login fails)
4. docker push spencescu/my-image:latest

**Describe the results you received:**

[ec2-user

[2017-03-08 14:23] mlcooper opened #31651 "docker-engine-selinux-17.03 conflicts with container-selinux-2.10.el7 on RHEL7.3"
When doing a `yum install docker-engine-1.13.1-1.el7.centos`, it installs the dependency `docker-engine-selinux-17.03.0.ce-1.el7.centos`.

Afterwards, when I do a `yum install container-selinux-2.10-1.el7.noarch`, which is built from https://github.com/projectatomic/container-selinux/tree/RHEL-1.12, I get an error:
[code]
The maintainers of this projectatomic repo that releases `container-selinux`

[2017-03-08 14:24] thaJeztah commented on #31650
The problem here is that when you login using `hub.docker.com`, the credentials are stored under a different index in the configuration file;

When doing `docker login`;

[code]

When using `docker login hub.docker.com`;

[code]

When pushing an image, docker will request the correct credentials based on that index, and `hub.docker.com` will not be used.

Can you explain what problems you're seein

[2017-03-08 14:28] spencescu commented on #31650
When logging in w/o specifying hub.docker.com I get the below. When
specifying it, the login works.

[ec2-user@ip-172-31-44-102 Docker]$ docker login
Login with your Docker ID to push and pull images from Docker Hub. If you
don't have a Docker ID, head over to https://hub.docker.com to create one.
Username: shpences@gmail.com
Password:
Error response from daemon: Get https://registry-1.docker.io/v

[2017-03-08 14:28] vetional commented on #31640
here you go
[code]

[2017-03-08 14:29] cpuguy83 commented on #31651
`docker-engine-selinux` does not mark container-selinux as conflicting, it's the other way around.
Also yes they do conflict since they have duplicate entries.

[2017-03-08 14:32] duglin commented on #31067
@cpuguy83 I'm not too worried about old parsers since multiple FROMs in Dockerfiles are pretty useless today and its been suggested we remove it. This idea would make multiple FROMs useful.
And the ability to access files from the build context w/o having to copy them into the container seems really useful to me - but perhaps its just me.

[2017-03-08 14:33] mlcooper commented on #31651
@cpuguy83 In either order that you install `docker-engine`/`docker-engine-selinux` and `container-linux` the conflict error above occurs.

The maintainers of the `container-selinux` repo maintain that the root cause here is a bug in `docker-engine-selinux`, which they feel should go away and just `container-selinux` should be used.

[2017-03-08 14:34] duglin commented on #31067
e.g. accessing a secret during the build w/o worrying about copying it into a layer.

[2017-03-08 14:38] thaJeztah commented on #31650
You need to login with your username not your email; can you try logging in with your username?

[2017-03-08 14:44] fabio-barile opened #31652 "is --network-alias missing for services"
Hi

I want to create a stackfile for all my services.
I have not been able to find how to define  network-aliases for my services.
Is the parameter '--network-alias' is missing for services ?

Regards

[2017-03-08 14:47] thaJeztah commented on #31652
Correct, not all options that are available for `docker run` are available to services yet. We keep track of missing options, through https://github.com/docker/docker/issues/25303, and there's an issue tracking this specific feature here; https://github.com/docker/docker/issues/24787

I'll close this issue because this is a duplicate of https://github.com/docker/docker/issues/24787, you can subscr

[2017-03-08 14:47] #31652 closed

[2017-03-08 14:50] AkihiroSuda commented on #31303
Before porting dockerd you would need to port run c.
Also, before porting runc you would need to revise the OCI spec as well.

[2017-03-08 14:55] thaJeztah commented on #30304
Let try to get some more information to work with;

- When you initialised the swarm cluster, did you use the `--advertise-addr` option?
- Did you use any options when creating the overlay network that the services are attached to? (e.g. `--o encrypted`
- How are the tasks distributed for those services; e.g. are the tasks for service C on a specific node?
- Are all required ports open between the

[2017-03-08 14:56] thaJeztah commented on #31303
I'll go ahead and close this issue, because compiling for FreeBSD won't work currently (without someone working on porting it), but feel free to continue the conversation

[2017-03-08 14:56] #31303 closed

[2017-03-08 14:59] loginoff commented on #29024
I found a workaround to stop vxlan1 from sending ARP replies to local containers.
It does not seem necessary to remove the forwarding table entries from br0.

On each node, figure out the IP addresses of containers running locally on that node. Then inside the network namespace of the overlay network, just remove the static permanent ARP entries for these IP addresses for the vxlan1 interface:
`ar

[2017-03-08 15:02] kachkaev commented on #31613
Experiencing the same issue now in GitLab CI when trying to use `--cache-from`. For some reason the base image in `Dockerfile` gets pulled every time. My `.gitlab-ci.yml`:

[code]

(I pull current branch's image tag then fallback to master if it does not exist; the image I build has got the current commit's hash as a tag and finally a branch-name alias is created and pushed)

Output at every build

[2017-03-08 15:04] spencescu commented on #31650
It worked that way - thank you so much!

On Wed, Mar 8, 2017 at 4:39 PM, Sebastiaan van Stijn <
notifications@github.com> wrote:

[2017-03-08 15:04] adzil commented on #30284
@galindro I can confirm the bug still exists, got the same error using `17.03.0-ce` running on virtualbox with `docker-machine` for service orchestration testing.

[code]

[2017-03-08 15:04] thaJeztah commented on #29024
ping @aboch @sanimej PTAL

[2017-03-08 15:05] thaJeztah commented on #31650
You're welcome! Let me go ahead and close this issue, but feel free to continue the conversation if needed

[2017-03-08 15:05] #31650 closed

[2017-03-08 15:07] thaJeztah commented on #30284
Let me reopen the issue 😢

[2017-03-08 15:10] dnephin commented on #30284
Thanks for the report. The code was fixed, and the generated bindata is correct in master, but it looks like the bindata is wrong in the release branch for some reason. Maybe a bad merge?

I opened a PR to fix the release branch #31653

[2017-03-08 15:48] gabrielgarza commented on #20486
I quit Docker, then restarted Docker, and it worked again. Make sure you don't have another running container or app listening on that port

[2017-03-08 15:49] mlcooper commented on #31651
@cpuguy83 this issue feels similar to https://github.com/docker/docker/issues/31556

I'm blocked from using `container-selinux` on RHEL7.3, and the projectatomic maintainers say it's a bug in docker-engine-selinux.  Do you have any suggestion of how to move forward?

[2017-03-08 16:05] cpuguy83 commented on #31651
@mlcooper Thanks for reporting. Just FYI, the docker packages have not changed at all in this regard.

@rhatdan Can we please have some collaboration here rather than throwing stuff across the fence.
The selinux packages on rhel/centos have included breaking changes on multiple minor release versions now.

Happy to use container-selinux here, but we recently tried to do this (with docker-selinux a

[2017-03-08 16:06] mostolog commented on #25407
Hi

Trying to deploy docker with IPv6, but have found a few issues.

IIUC, and according to https://docs.docker.com/engine/userguide/networking/default_network/ipv6/ setting **--ipv6** on docker daemon would enable IPv6 for docker.
As we haven't DHCP (for ipv6: SLAAC?), daemon fails to start, so **--fixed-cidr-v6** must be provided.

_/etc/systemd/system/docker.service.d/ipv6.conf_
[code]

At this

[2017-03-08 16:07] SharpEdgeMarshall commented on #31613
Ok so i'm not the only one experiencing this.
I've spent the last 4 hours disabling overlay driver and creating clean runners in my Gitlab CI server, testing if that was the cause with no success.

On my machine the base-image is skipped and on Gitlab CI is always pulled.

I've opened an issue also on Gitlab [#29184](https://gitlab.com/gitlab-org/gitlab-ce/issues/29184) until is not clear where th

[2017-03-08 16:12] andrewhsu commented on #31651
@rhatdan I wouldn't mind taking another stab at #29114 to get it working if you have suggestions

[2017-03-08 16:13] dnephin commented on #30604
Sounds like #30643 fixed this

[2017-03-08 16:22] mojavezax commented on #31627
Confusing, but I agree, not a bug. Thanks @cpuguy83 for explaining this.
One more question and comment –
If I understand this correctly, the `source` parameter has a different semantic meaning when using a bind mount vs. an NFS mount? If that is true, it would be helpful to note that in the docs. Maybe here: https://docs.docker.com/engine/swarm/services/#configure-mounts

[2017-03-08 16:23] raghu999 commented on #22650
+1

[2017-03-08 16:24] cpuguy83 commented on #31627
@mojavezax Do you have a specific section in mind?

I see:

and

[2017-03-08 16:32] elutsky commented on #31469
Update:
Did pull the microsoft/aspnet:4.6.2 image and did try to run container.
Was able to run with **--net=none**

But failed to run with default network

The error (from event log)
The description for Event ID 12105 from source Microsoft-Windows-Hyper-V-Compute cannot be found. Either the component that raises this event is not installed on your local computer or the installation is corrupted.

[2017-03-08 16:32] mojavezax commented on #31627
Ah, I think I see your meaning.
As a newbie, I was confused by the purpose of VOLUME-NAME since it was tied to `source`, and what value I should use. In other words, it's not really a source the way I think of it. I understand now, but maybe a sentence describing it would keep someone else from tripping over the same thing? Perhaps:
“... where VOLUME-NAME is an arbitrary name that will be used as

[2017-03-08 16:40] thaJeztah commented on #22650
@raghu999 leaving a random `+1` on a closed issue is not helpful. If you are having this issue, or think you have the same issue, and suspect it's a bug, please open a new issue with details.

I'm locking the conversation on this issue; open a new issue with details

[2017-03-08 16:45] aboch commented on #25407
@mostolog

FYI, @CtrlZvi  has an open PR for automating the ndp_proxy programming: https://github.com/docker/libnetwork/pull/1316

[2017-03-08 16:47] kinghuang opened #31655 "Reason for “no such container” messages in Docker daemon log"
**Description**

While looking at the Docker daemon logs for space issues (#31628), I realized that my daemon logs are mostly filled with error messages about “no such container”. For example, in the current logs from one of my swarm nodes, 47774/48309 lines (98.9%) are about “no such container”. Here's an excerpt.

[code]

How do I debug the reason for this? Docker daemon logs attached below.

[d

[2017-03-08 16:53] yongtang commented on #31637
This looks like a duplicate of #31633.

[2017-03-08 16:57] thaJeztah commented on #31637
Yeah, the other one is a bit different, but both cannot be resolved in this repository, so let me go ahead and close this one at least

[2017-03-08 16:57] #31637 closed

[2017-03-08 17:04] tariq-islam opened #31656 "Docker SHA-based (digest) pulls should respect and preserve image tag(s)"
**Description**
When pulling an image from a registry by SHA value, the unique image is pulled correctly however the associated tag(s) is set to <none>

For real-world deployments I need to maintain that the image I am using for a given deployment is precisely the same image referenced over time, regardless of tags applied which can be accomplished by pulling via SHA value, however for pipelines a

[2017-03-08 17:04] mlaventure commented on #31628
@kinghuang unfortunately not without updating docker's code.

You can get a rough idea by running `du -sh /var/lib/docker` and compare this to the output of `docker system df`

[2017-03-08 17:09] seiferteric commented on #24862
Just another use case, I want to run keepalived with vrrp on a swarm and it needs net=host and --cap-add=NET_ADMIN, so cap-add would be great.

[2017-03-08 17:16] kinghuang commented on #31628
I guess that's not it.

[code]

However, if I understand it correctly, the data space referred to in `docker info` is the thinpool. I believe that's different than `/var/lib/docker`?

[2017-03-08 17:19] DonRichards opened #31657 "Same issue as #20221 but not resolved"
**Description**
After freshly installing Docker on my computer for the first time. I ran the following command and got an error.

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
Tried to follow step by step instructions on how to make and build a Dockerfile and this was my result

[code]

**Describe the results you expected:**
I think this is implied. Something oth

[2017-03-08 17:21] mlaventure commented on #31628
@kinghuang `/var/lib/docker` is on top of devicemapper. So it's up to devicemapper to liberate space in the thinpool when `dockerd` deletes a layer.

The question is why the space hasn't been reclaimed after you've deleted your images / containers / volumes.

@runcom @rhvgoyal, do you guys have any ideas?

[2017-03-08 17:27] elranu commented on #31572
:( ok. Thanks.
So there is no way to run linux and windows contaners on the same PC at the same time? So If I wanna to develop in a nanoserver and I want also other containers running with some services such as RabbitMQ, Redis, mongo, etc. in linux that is not possible, right?

[2017-03-08 17:35] thiagoalves commented on #31614
Output of `journalctl -u docker`:

https://s3.amazonaws.com/temp-talves/logs.tar.gz

[2017-03-08 17:37] jasonterando opened #31658 "Docker Windows CE, DNS not working from docker-compose up"
**Description**

After upgrading from Docker for Windows 1.13.1 to CE, containers running in Docker Compose can no longer resolve names via DNS.  The same images launched via "docker run" do allow DNS name resolution.

My Docker compose file has no custom networking or DNS settings.

When running in either version of Docker for Windows, /etc/resolv.conf shows the nameserver as 192.168.65.1 when th

[2017-03-08 17:38] ardeay opened #31659 "n when attaching docker"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2017-03-08 17:38] #31659 closed

[2017-03-08 17:41] elranu commented on #31572
Also the error message should be change. Is a bad error message for possible regular situation.

[2017-03-08 17:44] thaJeztah commented on #31657
I suspect you've tried the "Docker content trust" tutorial (https://docs.docker.com/engine/security/trust/trust_sandbox/) and still have the `DOCKER_CONTENT_TRUST` enabled (check the output of `env` in your terminal to see if that environment variable is set).

If that variable is set, the docker client will try to reach the notary server, but since you did a fresh install, that is no longer there

[2017-03-08 17:46] thaJeztah commented on #31655
You probably have a container, or service running that's monitoring docker, for example, a cAdvisor container, or kubernetes. Such a service may be periodically accessing the docker API to inspect container status, but (for some reason) is using outdated information, so tries to inspect containers that no longer exist.

This is not a bug in docker, because docker itself does not automatically make

[2017-03-08 17:52] thaJeztah commented on #31657
I'll go ahead and close, because this is not a bug, but feel free to continue the conversation, happy to help if needed.

[2017-03-08 17:52] #31657 closed

[2017-03-08 17:52] thaJeztah commented on #31655
I'll go ahead and close, because this is not a bug, but feel free to continue the conversation.

[2017-03-08 17:52] #31655 closed

[2017-03-08 17:52] KingEmet commented on #31517
@jeanlaurent I'm the person that made the credential stores/helpers themselves the source of truth (as opposed to the docker config) when it comes to enumerating stored credentials ( #26354 ). Delivering the entire universe of credentials to the daemon during `docker build`s was existing behavior which was potentially broken by credential helpers. The 'correct' fix in this case would probably be t

[2017-03-08 17:54] thaJeztah commented on #31628
@mlaventure are `json-file` logs taken into account when calculating container size? They're not part of the container, but will be removed if the container is removed

[2017-03-08 18:02] thaJeztah commented on #31658
I'm not able to reproduce this on Docker for Mac 17.03.0-ce. What DNS servers do you have configured on your host?

ping @rneugeba any issues known on Docker for Windows?

[2017-03-08 18:09] mlaventure commented on #31628
@thaJeztah no, they're not taken in account. But given the output of its `du -sh /var/lib/docker` it's definitely not the log files.

[2017-03-08 18:10] thaJeztah commented on #31572
There's a pull request merged to do the opposite on Windows (see https://github.com/docker/docker/pull/24819). There was some discussion about this in https://github.com/docker/docker/pull/28903, but not sure what the final conclusion was

[2017-03-08 18:12] cofyc opened #31660 "Long running docker instance has many CLOSE_WAIT and can't idetify protocol fds"
**Description**

**Steps to reproduce the issue:**
1. Deploy many containers
2. When some process are in some unkillable states
3. Kill these containers

**Describe the results you received:**

Request timed out, and docker cannot release its net socket fd.

[code]

**Describe the results you expected:**

Request timed out, docker can release its net socket fd.

**Additional information you deem i

[2017-03-08 18:21] endophage commented on #16654
While DCT does provide trusted name resolution that was incidental. Its primary, overriding, long term purpose is to enable guarantees that only trusted content is run.

[2017-03-08 18:39] galindro commented on #30191
Guys, any updates about this issue?

[2017-03-08 18:40] Hades32 commented on #31560
we had a similarly looking issue happening after 1 of our 3 DNS servers crashed. afterwards DNS lookup was broken for all containers using the embedded DNS server. restarting the docker daemon helpen. version 1.12.3 centos 7.2

[2017-03-08 18:48] kinghuang commented on #31655
Thanks, @thaJeztah! I've got cAdvisor running. I'll try stopping it on all the nodes.

[2017-03-08 18:50] thaJeztah commented on #31288
@mdelapenya I'll go ahead and close this issue, but feel free to comment

[2017-03-08 18:50] #31288 closed

[2017-03-08 18:55] kidapu commented on #22284
This also happnes to me on Ubuntu 14.04.

[code]

[2017-03-08 18:55] thaJeztah commented on #31174
I think this is a duplicate of https://github.com/docker/docker/issues/30321, which is currently being discussed; please subscribe to that issue to stay informed on updates. I'll go ahead and close this issue so that the conversation doesn't diverge, but feel free to comment after i closed

[2017-03-08 18:55] #31174 closed

[2017-03-08 18:56] jasonterando commented on #31658
Thanks for the reply.

I have four DNS servers on my Ethernet adapter that are returned via DHCP, 10.2.10.8, 10.31.1.17, 10.31.1.141, 10.31.1.36 and 8.8.8.8.  For the Hytper-V Virtual Ethernet Adapter, there are three IPV6 DNS servers listed, fec0:0:0:ffff::1%1, fec0:0:0:ffff::2%1 and fec0:0:0:ffff::3%1.

Also, Virtual Switch Manager for Hyper-V is set to Internal Network (which I thought might ha

[2017-03-08 19:02] thaJeztah commented on #31157
Yes, let's close this in favor of https://github.com/docker/docker/issues/25885, and https://github.com/docker/docker/issues/25303, which are already tracking the requirements

[2017-03-08 19:02] #31157 closed

[2017-03-08 19:04] sjpotter commented on #31560
hmm, that worked.  such a hack, but it worked.

[2017-03-08 19:07] DonRichards commented on #31657
It was never installed on this computer. I was originally using this tutorial https://docs.docker.com/engine/getstarted/step_four/#step-2-build-an-image-from-your-dockerfile

But to simplify the issue I demonstrated the same error with a basic function. Any Dockfile I create and point to a container fails because it never resolves the location.

[2017-03-08 19:10] DonRichards commented on #31657
Just doing `docker pull docker/whalesay` causes the same error.
There is no ~/.profile file and during my troubleshooting I just added the `DOCKER_CONTENT_TRUST` but I went and unset it with the same result.

[2017-03-08 19:14] jasonterando commented on #31658
For giggles, here's Docker info from 1.13.1

[code]

[2017-03-08 19:20] rhvgoyal commented on #31628
Images and containers are stored in thin pool. So if you delete containers or images that should free up space in thin pool. Is that not happening? What did prune do?

[2017-03-08 19:26] kinghuang commented on #31628
@rhvgoyal `docker system prune -a` did reduce the size marginally. But, right now, `docker info` still shows 53.12 GB used, which I can't account for from the images and containers that are left after pruning.

[2017-03-08 19:32] bsod90 commented on #9801
It seems that this bug is still present in 1.12.6 on Amazon Linux (kernel 4.4.41-36.55.amzn1.x86_64).
1.12 is still default docker version there.

[code]

And if I do `sudo service docker restart` and then run the same container with the same mount, I'm able to see `file_2` in `mountpoint`, as expected.

[2017-03-08 19:36] simonferquel commented on #31572
With Docker for Windows, if you switch back and forth from Linux to Windows containers, we don't stop the engine (we just switch where your client is pointing to). So you can run both Windows and Linux containers at once.

In the future we will provide a better way to indicate which engines are currently started / stopped and where the client points to.

[2017-03-08 19:38] cpuguy83 commented on #9801
@bsod90 not the same thing.
How are you starting Docker, init.d?
Does this have an "unshare -m" call in it?

[2017-03-08 19:42] bsod90 commented on #9801
Hmm.. from the description is looked the same, sorry.
Amazon Linux is init.d based and yes, there's an `unshare -m` call in init script for docker.
@cpuguy83

[2017-03-08 19:58] thaJeztah commented on #31658
What happens if you manually override the dns server for the docker daemon, to use `8.8.8.8`? https://docs.docker.com/docker-for-windows/#network

[2017-03-08 20:03] thaJeztah commented on #31655
I've seen other reports, so perhaps there's an issue with cAdvisor, causing it to either cache container ID's, or a bug that makes it determine the container ID's the wrong way

[2017-03-08 20:10] johnstep commented on #31524
There are multiple issues:

1. Erlang/OTP R16B02 (`efile_readlink` in beam.dll, called from erl.exe) attempts to resolve the reparse point (symbolic link to the volume) to its final name via [GetFinalPathNameByHandleW ](https://msdn.microsoft.com/en-us/library/windows/desktop/aa364962(v=vs.85).aspx), which fails with **ERROR_FILE_NOT_FOUND**. `efile_readlink` does not check for error, and corrupts

[2017-03-08 20:27] yunghoy commented on #22260
My team has been faced with the problem every time shutting down docker containers. We are running a service with more than 100 docker containers and container advisors through swarm system. The only solution what I found is that shutting down forcefully several times until the message which indicates containers do not exists anymore is shown.  It's happening around 1 out of 5 containers. It seems

[2017-03-08 20:33] cpuguy83 commented on #22260
@yunghoy What's the full error message that you see?

[2017-03-08 20:35] cpuguy83 commented on #9801
@bsod90 That's the problem, you'll either need to remove `unshare -m` or after calling `unshare -m` and before starting `dockerd` run `mount --make-rslave /` (or whatever subdir you might be adding mounts to).

[2017-03-08 20:46] bsod90 commented on #9801
I see
Thank you!

[2017-03-08 20:47] thaJeztah commented on #31660
Docker 1.10 is quite old now, and no longer maintained; also, your seem to be running a custom build of an unofficial package (`20f81dd-unsupported`); if you have a system to test on, could you try if you're still able to reproduce this on the current release?

[2017-03-08 20:49] thaJeztah commented on #31660
Also, what kind of processes are running in your container? There was a bug in aufs that caused some JAVA processes to get stuck; that issue is resolved in newer kernel versions, see https://github.com/docker/docker/issues/18180#issuecomment-193708192

[2017-03-08 20:55] santiagopoli commented on #31119
+1 for this feature! Although you can ping a service via its service name or its default hostname, there are some scenarios when picking a custom hostname might be useful. That can be done with templates, but as this issue states, there isn't currently a way to ping a service via a custom hostname set with templates.

[2017-03-08 20:58] cpuguy83 commented on #31119
I agree, though `{{ .Task.Slot }}` is not necessarily stable either, IIUC.

[2017-03-08 21:35] stevvooe commented on #16654
Sure, but that doesn't invalidate the analysis above. And it doesn't mean that naming and verification should be architecturally linked.

[2017-03-08 21:54] jasonterando commented on #31658
So, I got some unexpected results, not sure if these are good or bad...

1. Setting DNS in the Docker setting screen to 8.8.8.8 caused DNS lookups in the container launched with "docker run" to fail (as well as the same image being run with docker compose)
2. I checked /etc/resolv.conf and both were the same values they were before (i.e. I did not see "nameserver 8.8.8.8"), but I am a relative Doc

[2017-03-08 21:55] tswift242 opened #31663 "Error restoring container from checkpoint: "No parent found for mountpoint""
**Description**

Very sporadically, I get the following type of error when trying to restore a container from a checkpoint, which causes the restore to fail:

"Error (criu/mount.c:360): mnt: No parent found for mountpoint 574 (@./var/lib/docker/checkpoints/test_cp/criu.work/restore-2017-03-08T15:12:42Z/.criu.cgyard.fnEP8f/systemd)"

The full criu restore.log is attached.

[restore.txt](https://git

[2017-03-08 21:55] Majkl578 commented on #28109
This re-appears with Systemd 233:

[code]

[2017-03-08 21:57] tswift242 commented on #31663
cc @boucher and @xemul

[2017-03-08 22:18] mlaventure commented on #29794
@guustflater could you add your `docker info` output and the daemon logs after the reboot?

`/proc/self/exe` should always been valid unless the targeted binary gets updated/deleted after the process started.

[2017-03-08 22:27] thaJeztah commented on #28109
ping @crosbymichael @mlaventure ^^

[2017-03-08 22:32] martinpitt commented on #28109
@Majkl578 : This got fixed by https://github.com/opencontainers/runc/pull/1266, there just hasn't been a new runc release since then. I [backported the fix to to Ubuntu](https://launchpad.net/ubuntu/+source/runc/1.0.0~rc2-0ubuntu3) already, but it is not yet fixed in Debian, see the [bug report](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=856951)

[2017-03-08 22:33] thaJeztah commented on #31658
Ok, so the difference between starting through `docker-compose` and `docker run` is that Docker compose creates a custom network for the stack, and attaches the container to it. To see if that's the difference, can you try creating a network, and running a container on that network?

[code]

If that's exposing the same problem as docker compose, that may be the difference (I don't have a solution

[2017-03-08 22:38] rneugeba commented on #31658
@djs55 is probably more knowledgable re DNS lookups in Docker for Windows

[2017-03-08 22:54] ronaldfenner commented on #31633
AWS responded and opened a Ticket with the elastic beanstalk team. Hopefully they'll resolve it soon.

[2017-03-08 22:55] jasonterando commented on #31658
I think you nailed it, or least have a heck of a lead on it.  In the excerpt below I run the ping with the "default" bridge (it works); then create a "foo" network and run the ping (it fails) and then run the ping with "default" bridge again (it works).

[code]

I ran an inspect on both networks.  It looks like there are some Options under the "Bridge" network which may be relevant.  I wonder if t

[2017-03-08 22:55] thaJeztah commented on #31633
Thanks for the update!

[2017-03-08 23:01] endophage commented on #16654
I'm not sure where you're going with this anymore. This issue is about people not using the docker client still wanting the security guarantees provided by DCT. To provide those guarantees on the engine side it's necessary for the engine to gain DCT functionality.

I'm making no claims that naming and verification are, or should, be architecturally linked. We already have cases like the released D

[2017-03-08 23:19] Amit-Naudiyal commented on #20335
Disabling the firewall worked for me. However the resolution is still very slow with 'nat' network.

[2017-03-08 23:19] Cdower commented on #5618
I am able to reproduce this on centos 7.3 running as a swarm worker node running dtr with a mounted nfs volume mapped

[2017-03-08 23:21] dperny commented on #28793
Hey @friism it's likely that I accidentally fixed this as part of docker/swarmkit#1973, which should be vendored in #31535.

However, I don't know if I have access to a system that supports nonstandard log drivers, and I don't know how hard it is to set that up. If it's a quick thing, could you verify on master that this hang is resolved?

If it's not a quick thing, would you let me know and I'll

[2017-03-08 23:24] dperny commented on #30887
Relevant to my interests but outside of my skillset and priorities.

[2017-03-08 23:46] stevvooe commented on #16654
Above, you dismissed the analysis on the fact that you have some feature on a road map, that is different, when the original users' request is to be able to perform DCT as it is today. Should we delay DCT in the docker API client further because we have a road map item for DDC?

In general, we need the following:

1. Push naming and resolution to the client-side.
2. Providing tools to be able to e

[2017-03-08 23:46] crosbymichael commented on #31547
This is by design.  When docker gets killed, it does not know if it is a system reboot, shutdown, or you manually stopping the daemon.  So its not going to try to gracefully kill any containers.

I don't think there is really anything to do in the daemon itself for handling this and should be left up to the admin.  init script changes could be acceptable but may not cover all the corner cases.

[2017-03-08 23:58] chunglam1999 opened #31670 "docker push failed when content trust using notary is set"
OS Centos7
docker-engine-1.13.1-1.el7.centos.x86_64
docker-registry-0.6.8-8.el7.noarch
notary v0.4.3

export DOCKER_CONTENT_TRUST=1
export DOCKER_CONTENT_TRUST_SERVER=https://127.0.0.1:4443
**Description**
docker push failed when content trust using notary is set with error:
[0025] sign called with 1/1 required keys
DEBU[0025] No yubikey found, using alternative key storage: no library found
DEBU[

[2017-03-09 00:15] nishanttotla commented on #31518
@szantopeter @saamalik Let me know if I understand your issue correctly:
- The image your service is using is a local image
- You update the image by building it locally (while keeping the same tag)
- Then you try to do `docker service update --image`, and you find that the service isn't updating

If the above is right, then this is expected based on the current design. Mainly because the service

[2017-03-09 00:17] jamespedwards42 opened #31671 "Feature Request: Namespace Volumes For Replicated Swarm Services"
The feature would enable dynamically creating a unique volume for each instance (container) of a replicated service.  This would be useful for network attached block storage, which usually can only be attached to a single server for writes.

Currently, if you want replication for a service using networked block storage, the configuration has to be copy/pasted N times and the built in load balancin

[2017-03-09 00:28] nishanttotla commented on #31357
@saamalik see my comment https://github.com/docker/docker/issues/31518#issuecomment-285213118

Since your images are local, they're not being updated, and that is expected. If they're not available on a registry, then it might be possible to use image IDs, which should trigger an update. This is if `--force` isn't going to suit your needs.

[2017-03-09 00:49] thaJeztah commented on #31079
closing, because docs were updated

[2017-03-09 00:49] #31079 closed

[2017-03-09 00:50] tonistiigi opened #31673 "Can't run validation scripts using only Docker remote API dependency"
[code]

@vdemeester @thaJeztah

[2017-03-09 00:51] bitbytedog commented on #31637
[Reported to AWS](https://forums.aws.amazon.com/thread.jspa?threadID=251051)

[2017-03-09 00:55] n4ss commented on #31517
@KingEmet my ongoing patch is currently done in the helpers but I agree with you. The best way long-term should probably be to filter on daemon creds requests and helpers should themselves namspace/tag the docker creds entries as such.

[2017-03-09 01:07] thaJeztah commented on #31670
ping @cyli @endophage

[2017-03-09 01:15] msabansal commented on #31469
@elutsky Please try this and see if it fixes the issue:

net stop hns;
del c:\programdata\Microsoft\windows\HNS.data
Remove-Netnat;
net start hns;

We have a known issue where uninstalling containers leaves some state information. We have a fix for this in a future update.

[2017-03-09 01:37] wenjianhn commented on #29184
@delfuego Yes! I have created a pull request to fix it.

[2017-03-09 02:00] pdc-ybusa commented on #25993
Hi, I am currently encountering the same issue, can you tell how to do this:

"... send SIGUSR1 to the docker daemon process and collect the stack trace from the daemon log"

so I can see the log as well?  Thanks!

[2017-03-09 02:13] hehailong5 commented on #30304
Hi,

- When you initialized the swarm cluster, did you use the --advertise-addr option?

YES.

- Did you use any options when creating the overlay network that the services are attached to? (e.g. --o encrypted

NO.

- How are the tasks distributed for those services; e.g. are the tasks for service C on a specific node?

I have 3 services, each was running in replicated  1/1 mode, AND, each was att

[2017-03-09 02:20] hehailong5 commented on #30304
docker info output:
----------------------------------------------------------------------------------------
-bash-4.2# docker info
Containers: 18
 Running: 17
 Paused: 0
 Stopped: 1
Images: 16
Server Version: 1.13.1
Storage Driver: overlay2
 Backing Filesystem: xfs
 Supports d_type: true
 Native Overlay Diff: false
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network

[2017-03-09 02:23] hehailong5 commented on #30304
B.T.W, I found these warnings in the dockerd log:
----------------------------------------------------------------------------------------------------
Mar  8 07:00:26 controller dockerd: time="2017-03-08T07:00:26.409299752+08:00" level=warning msg="Using pre-4.0.0 kernel for overlay2, mount failures may require kernel update"

Mar  8 07:00:27 controller dockerd: time="2017-03-08T07:00:27.097927013

[2017-03-09 02:30] friism commented on #28793
@dperny I'm only testing on Docker for AWS which uses a non-standard logging driver. I cannot easily switch out the docker daemon, however. Creating a machine with docker-machine and switching the logging driver should be simple though: https://docs.docker.com/engine/admin/logging/overview/#configure-the-default-logging-driver-for-the-docker-daemon

[2017-03-09 02:33] srust commented on #31399
I find `docker service logs` hangs if the log file is completely empty. Not sure if that is covered by the above issue list? For example, if the `docker service create` fails (invalid image specified) , or the command the service runs has no output, the `docker service logs` will hang. I can file a new issue if you'd prefer..

[2017-03-09 02:40] dperny commented on #31399
That's fixed in the latest master.

On Mar 8, 2017 6:34 PM, "Stephen Rust" <notifications@github.com> wrote:

I find docker service logs hangs if the log file is completely empty. Not
sure if that is covered by the above issue list? For example, if the docker
service create fails (invalid image specified) , or the command the service
runs has no output, the docker service logs will hang. I can fil

[2017-03-09 02:42] srust commented on #31399
Ah thanks @dperny! Sorry, was only running latest release.. should have checked.

[2017-03-09 02:45] dperny commented on #31399
No problem. Let me know if for some reason it's still occurring on master.

On Mar 8, 2017 6:43 PM, "Stephen Rust" <notifications@github.com> wrote:

[2017-03-09 02:47] cpuguy83 commented on #31671
If you don't give a volume a name, each task (instance) will get it's own volume.

[2017-03-09 03:04] cofyc commented on #31660
@thaJeztah

Yes, these stuck processes are JAVA programs. If there is no workaround, we plan to upgrade docker & linux kernel.

Which linux lts version you suggest in production?

[2017-03-09 03:25] zcola commented on #31592
I upgraded to 17.03.0-ce, last night once dns can not resolve a few minutes

stapleton -> nginx_tribe

stapletion errorlog
[code]
it happen 00:50 ~ 00:52

 docker03 node
[code]
 docker01 node
[code]

 docker log
[code]

[2017-03-09 04:14] sravanpsk opened #31676 "Memory leakage in Docker"
**Description:**

While trying to deploy spring boot application built as a docker image it is consuming too much memory in docker integrated with open shift whereas the same image started in docker local consumes less than half of the memory.

**Version**
$ docker version
Client:
 Version:      1.12.6
 API version:  1.24
 Go version:   go1.6.4
 Git commit:   78d1802
 Built:        Wed Jan 11 00:2

[2017-03-09 05:17] jamespedwards42 commented on #31671
@cpuguy83 If the server hosting the first instance fails and is rescheduled on another swarm node will it reattach the same volume it had before?

[2017-03-09 06:01] elutsky commented on #31469
@msabansal failed to perform Remove-Netnat:

_Open Power shell as administrator_

**Docker failed to start with the error:**

[2017-03-09 06:49] ghostplant opened #31677 "About overlay network: swarm worker in private subnet connecting swarm manager in public subnet"
I have a question which is already claimed in the title of this issue.

Assume we have a swarm manager deployed in a public network, and several swarm workers deployed in a private network (the private network is within a router, so all services in this private network uses NAT to communicate with public services). Apparently, a service in private network can play a role as client to connect to an

[2017-03-09 06:53] myfriend12 opened #31678 "Docker swarm randomly stops taking connections"
**Description**

I have 2 swarm managers and one swarm node in a testing/dev environment and every so often at random times, it just stops receiving connections on the ports. The docker service is still running and is not throwing any errors in the error log. If I restart the docker swarm service on the node, it starts everything back up and works again, but only for a few days, then stops. I thou

[2017-03-09 06:54] erxian commented on #31563
@aaronlehmann Your words really really helps a lot ! Cause I finally found some clues about `task failed` within the source codes. I'll ramp up on it :)

BTW, I notice that   ` --update-monitor duration    Duration after each task update to monitor for failure (ns|us|ms|s|m|h) (default 0s)`  indicates the default period time if `0s`,  is there a conflict between the above 30 seconds ?

[2017-03-09 07:00] laurencee commented on #21535
Done

[2017-03-09 07:56] DHager opened #31680 "Docker run --cidfile fails with absolute paths on Windows"
When using the `docker run --cidfile` on Windows, instead of creating the file is says "The system cannot find the path specified" when the path is absolute.

## Reproduction steps

### Set-up

* On Windows 7.
* Using Docker 1.12.2 build bb80604.
* Using Docker Quickstart Terminal.
* Current directory does not already contain `foo.cid` in each case.

### Expected behavior sample

The following att

[2017-03-09 07:59] DHager commented on #31680
For anyone with the same problem, my current workaround in bash is to put in a step that converts the path like so:

    CID_PATH="/c/Users/Bugreport/foo.cid";
    REL_CID_PATH=$(realpath --relative-to="." "$CID_PATH");

[2017-03-09 08:09] vdemeester commented on #31673
hum it shouldn't happen with `make` 😱 … I'll take a look

[2017-03-09 08:33] vdemeester commented on #31673
@tonistiigi when does this happen ? (on master I can't reproduce 😓)

[2017-03-09 08:35] vdemeester commented on #31673
it can happen if you're targeting a remote daemon though (as it bind-mount the `.git` folder for `validate`)

[2017-03-09 08:42] MartinPyka commented on #31487
@runcom: how were you able to edit the docker-containerd-shim file? When I open it, I just see binary characters but no shell commands. (Ubuntu 14.04, Docker 1.13.1)

[2017-03-09 08:42] adaiguoguo opened #31685 "Docker ps hang by an incompletely exited container"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**What is the bug behavior?**
[code]
That action hang and container can't be stopped.

**How to find the bug root cause?**

1: Find the dockerd status
[code]
Now we get the container `e8e8a9e36e6ce633077467c7c7954b1b0cfff3df177a936d4d9b47b7b5e3a676` both read and write.

2：Docker inspect
[code]
Now docker inspect id han

[2017-03-09 10:05] OlivierDupre opened #31688 "Allow providing base version as argument"
As shown on in the official doc: https://docs.docker.com/compose/compose-file/#args you can pass arguments from docker-compose to the build process.
But, the Dockerfile must start with directive FROM, and an argument is available only after calling ARG your-arg-name.
So one cannot provide base version through build argument.

Could it be possible to make this working? So we can call something like

[2017-03-09 10:06] adaiguoguo commented on #24662
In 1.13.1 fixed

[2017-03-09 10:14] #24662 closed

[2017-03-09 10:26] thaJeztah commented on #31688
Thanks for opening this feature request @OlivierDupre. This actually is a duplicate of https://github.com/docker/docker/issues/18119, and there is a pull request implementing this here; https://github.com/docker/docker/pull/31352, which is currently being discussed.

I'll close this issue, because it's a duplicate of https://github.com/docker/docker/issues/18119; you can subscribe to that issue to

[2017-03-09 10:26] #31688 closed

[2017-03-09 10:26] pharathi25 commented on #19096
@bipinvaylu

Can you please let me know how u fixed the mapping port issue.
I tried below command. still no luck

docker run --name my-web -p 8080:80

[2017-03-09 10:27] adityacs commented on #31255
I am facing the same issue. What's the workaround for this issue?

Thanks

[2017-03-09 10:29] prasanth223344 commented on #19096
is 8080 on your local free?

[2017-03-09 10:33] greenapplepark commented on #31565
It turns out I can use nc to check if the port is open and it is. Close this issue.
Sorry for inconvenience.

[2017-03-09 10:33] #31565 closed

[2017-03-09 10:37] guustflater commented on #29794
weird.. after disable selinux & run some updates most of it was broken completely. Only 1 off 3 containers did start.

**docker start gogs**
_Error response from daemon: devmapper: Error mounting '/dev/mapper/docker-253:0-138746683-b4192f278a51e839f506d13407942fcfd27de2352cf43c51a82c5a554fe08e6d' on '/var/lib/docker/devicemapper/mnt/b4192f278a51e839f506d13407942fcfd27de2352cf43c51a82c5a554fe08e6d'

[2017-03-09 10:42] andr2k opened #31689 "Cannot read data from a bound file"
Cannot read data while following an example from docker documentation. Possibly, something is wrong with my docker configuration?

1. Install Docker for Ubuntu
2. Create a container in accordance with this: https://docs.docker.com/engine/tutorials/dockervolumes/#mount-a-host-file-as-a-data-volume
`docker run --rm -it -v ~/.bash_history:/root/.bash_history ubuntu /bin/bash`
3. Do `cat ~/.bash_histo

[2017-03-09 10:56] thaJeztah commented on #31689
This is expected if you are running with user-namespaces enabled. From the output of your `docker info` it looks like you have user-namespaces enabled;

[code]

When running with userns enabled, the `root` user inside the container is a non-privileged user "outside" the container. Producing an error ("Permission denied") is _exactly_ what user-namespaces is designed for; if a process inside the co

[2017-03-09 10:56] #31689 closed

[2017-03-09 11:19] thaJeztah commented on #31685
Can you send "SIGUSR1" to the dockerd process and paste the stack trace from the daemon logs into a gist?

[2017-03-09 11:34] bipinvaylu commented on #19096
hey @prasanth223344, i think just setting PORT environment variable will work. On mac i am running command like `export PORT=8080`.

@thaJeztah said before: look at the logs for that container, also check if the server is listening on the right ports etc.

Please provide some more details with logs.

[2017-03-09 11:43] pacoxu opened #31691 "Network Aliases can be duplicated in service spec but cannot in compose yaml; and cannot be updated with different order"
problems and steps to reproduce:
1. I can create service with duplicate aliases like
`{Target: "qmx102g5pm9qyytv3dntkbgj3", Aliases: ["2048", "dao2048", "dao2048", "dao-2048"]}
`
2. In docker compose, duplicate aliases are not supported.
[code]
the stack deploy log
[code]

3. When I run deploy stack with compose, the network aliases are same as before and are only de-duplicated. If not, I will get

[2017-03-09 11:46] giskou commented on #31678
I am having the same issue with docker 17.03 on Ubuntu Azure.

I don't have swarm mode enabled. Just a single docker node.

An nginx container is running and binds to 80->80 and 443->443

[code]

At some point (not sure when, have not looked much into it) I can't reach the container through the eth0 interface.

[code]

Localhost works fine
[code]

[2017-03-09 11:54] JonasT commented on #25407
Since it has been almost a year, is anyone looking into this? It would be really neat to have, given IPv6 has now some actual real world usage...

And as far as I am aware, without this there is still no neat way to easily run a docker dev environment with full IPv6 connectivity without *lots of pain*. You either have to manually add routing of some sort, or accept that EXPOSE doesn't work, publis

[2017-03-09 11:58] thaJeztah commented on #31373
ping @cpuguy83 are more fixes needed on master? And do we need a fix in the 17.03.x branch?

[2017-03-09 12:03] thaJeztah commented on #21535
Thanks!

[2017-03-09 12:15] sonix07 opened #31693 "Docker Swarm Overlay Network IP addresses of by 1"
Client:
 Version:         1.12.5
 API version:     1.24
 Package version: docker-common-1.12.5-14.el7.centos.x86_64
 Go version:      go1.7.4
 Git commit:      047e51b/1.12.5
 Built:           Mon Jan 23 15:35:13 2017
 OS/Arch:         linux/amd64

Server:
 Version:         1.12.5
 API version:     1.24
 Package version: docker-common-1.12.5-14.el7.centos.x86_64
 Go version:      go1.7.4
 Git comm

[2017-03-09 12:22] contactanant commented on #18869
Very helpful,  My long pending docker disk space issue gone away by modifying $HOME/.docker/machine/machines/default/config.json
Thanks a million.

[2017-03-09 12:40] westsouthnight commented on #31594
@tiborvass what more information you need? I can provide all necessary information. As example, You can get any very high ram used application, and try to set memory limit. (Example we use ElasticSearch and our service on dotnetcore, and see same situation) If by default that service, want to get some VIRT memory - like 5-20 Gb, but you set restrictions, restrictions not works.

We see that issue

[2017-03-09 12:46] thaJeztah commented on #31693
That's correct; the Virtual IP address of the _service_ is `10.0.1.2`, but each _container_ backing the service has its own IP-address.

For example;

Create a custom overlay network, and a service on that network;

[code]

Service inspect shows the Virtual IP address for the _service_ (`10.0.1.2`);

[code]

There are two tasks running for the service;

[code]

The IP-addresses for those container

[2017-03-09 13:04] thaJeztah commented on #31594
Did you only set `--memory` or also `--memory-swap`, from the [Limit a container's resources - memory](https://docs.docker.com/engine/admin/resource_constraints/) documentation;

Combine that with ([taken from this site](http://mugurel.sumanariu.ro/linux/the-difference-among-virt-res-and-shr-in-top-output/));

Setting a limit of `--memory=2G`, the total amount of memory would be 6G (2G memory + 4G

[2017-03-09 13:05] westsouthnight commented on #31594
@thaJeztah i'm try set 2G in all settings to run our service - its not works

[2017-03-09 13:08] thaJeztah commented on #31594
Just to be sure, can you run the `test-config.sh` script? https://github.com/docker/docker/blob/master/contrib/check-config.sh

[2017-03-09 13:09] westsouthnight commented on #31594
@thaJeztah 5 min...

[2017-03-09 13:10] westsouthnight commented on #31594
@thaJeztah http://pastebin.com/Sb8zYBzT

[2017-03-09 13:12] thaJeztah commented on #31594
Ok, so;

[code]

Which means that processes can use unlimited swap (which is part of `VIRT`, per my earlier comment)

[2017-03-09 13:14] thaJeztah commented on #31594
See this issue for some hints on enabling it https://github.com/docker/docker/issues/4250

[2017-03-09 13:17] westsouthnight commented on #31594
@thaJeztah thanks, don't know about this, we will be try!

[2017-03-09 13:22] rmoriz commented on #30135
Same here on Docker version 1.13.0, build 49bf474 / Debian / 4.8.0-0.bpo.2-amd64

- docker logs --tail froze/no output
- container hangs
- container can't be stopped
- docker ps still shows "running" state
- contianer can't be killed

[2017-03-09 13:29] thaJeztah commented on #31691
/cc @vdemeester @dnephin

[2017-03-09 13:32] thaJeztah commented on #30135
@rmoriz this issue was fixed and the fix is included in docker 17.03, so you'll have to upgrade to that version to get the fix. If you're still able to reproduce on 17.03, please open a new issue with details.

I'm locking the conversation on this issue, because the original issue reported here was resolved; if you still run into this issue on docker 17.03.0 or above, opening a new issue is the wa

[2017-03-09 13:33] kleptog opened #31694 "IP allocation problems after a node has crashed"
**Description**

I'm trying to track down an issue in the IP allocation code in swarm mode in 17.03. The symptom is that you get errors like the following in the logs:

    dockerd[592]: time="2017-03-03T07:30:08.877627238+01:00" level=error msg="task allocation failure" error="failed during networktask allocation for task pptolnhiauhhben0i1t0sjb58: failed to allocate network IP for task pptolnhia

[2017-03-09 13:33] drnybble commented on #31524
John, thanks for this superb analysis. I will work on Dockerizing couchdb 2.0.0 and see if it works. I guess it was working on 1.6 sometimes by fluke perhaps due to memory corruption as you said.

[2017-03-09 13:34] rhvgoyal commented on #31628
May be you have a container which is really huge and size is not being reported properly. For me deleting containers/images frees up space in thin pool.

[2017-03-09 13:35] kleptog commented on #31694
Note: possibly related to https://github.com/docker/docker/issues/30986

[2017-03-09 13:37] thaJeztah commented on #31524
It looks like there's nothing actionable at this moment, so I'll close this issue for housekeeping, but let us know how you progressed 👍

[2017-03-09 13:37] #31524 closed

[2017-03-09 13:38] thaJeztah commented on #31694
/cc @mavenugo @aboch

[2017-03-09 13:40] thaJeztah commented on #31680
/cc @johnstep PTAL

[2017-03-09 13:41] tholu commented on #31074
We have the same problem with unstoppable, unkillable containers.

[2017-03-09 13:43] geekpete commented on #2174
This ticket is a beast. It's one (or a variation of one) symptom, but multiple possible causes. This needs to be definitively addressed in the documentation.

And are there also some circumstances where people still cannot solve the issue for themselves even with this vast array of possible solutions?

[2017-03-09 13:44] thaJeztah commented on #31592
Looks like there's an issue in the networking between the nodes;

[code]

[2017-03-09 13:44] vrockai commented on #31074
+1

[2017-03-09 13:51] cpuguy83 commented on #31373
Locked on writes here: https://github.com/docker/docker/blob/master/daemon/logger/jsonfilelog/jsonfilelog.go#L92

Locked on reads here: https://github.com/docker/docker/blob/master/daemon/logger/jsonfilelog/read.go#L53

Should probably unlock here: https://github.com/docker/docker/blob/master/daemon/logger/jsonfilelog/read.go#L78

[2017-03-09 13:52] thaJeztah commented on #31676
Sounds like http://matthewkwilliams.com/index.php/2016/03/17/docker-cgroups-memory-constraints-and-java-cautionary-tale/, https://www.infoq.com/news/2017/02/java-memory-limit-container

[2017-03-09 13:53] adaiguoguo commented on #31685
I followed your tips.
[code]
The gist is https://gist.github.com/adaiguoguo/a391567020ccc443a4336f5a37ca664d

[2017-03-09 14:00] thaJeztah commented on #31677
The ingress network is a special network, and not meant for services to communicate with each other. Services cannot communicate with each other on the "container-container" network, unless they are part of the same custom network. This allows you to separate services, and prevent them from communicating with each other.

The ingress network is only used to route incoming network traffic from publ

[2017-03-09 14:03] cpuguy83 commented on #31255
This is fixed in 17.03.0 and 1.13.1

[2017-03-09 14:14] adityacs commented on #31255
I am using 1.13.1. still facing same issue

[2017-03-09 14:15] cpuguy83 commented on #31255
@adityacs Can you provide the full error?

[2017-03-09 14:17] cpuguy83 commented on #31671
@jamespedwards42 If you provide no source, there would be nothing to re-attach to.
You could (not in the compose format, but in the CLI) provide a template like `--mount source='{{.Service.ID}}.{{.Task.Slot}}'`, but I think this is not necessarily **always** going to give you what you want either.

[2017-03-09 14:19] cpuguy83 commented on #31678
@giskou It sounds like something is clearing out your iptables rules.

[2017-03-09 14:21] cpuguy83 commented on #31678
ping @aboch

[2017-03-09 14:23] jamespedwards42 commented on #31671
@cpuguy83 I've updated the original post to give some more context... Would it be possible to configure multiple/separate services under a single name within Swarms internal load balancing?

[2017-03-09 14:25] thaJeztah commented on #31660
You probably don't have to upgrade ubuntu, just the kernel. But if you're planning on updating, Ubuntu 16.04 is more up to date, and has support for seccomp-filtering, so more secure. Ubuntu 16.04 uses `systemd` (instead of upstart) by default, so you may have to get used to that.

[2017-03-09 14:25] thaJeztah commented on #31660
Let me close this issue for now, but let us know how it went

[2017-03-09 14:25] #31660 closed

[2017-03-09 14:26] cpuguy83 commented on #31671
@jamespedwards42 No, but you can throw your own LB in front to handle this case.

[2017-03-09 14:28] jamespedwards42 commented on #31671
@cpuguy83 yes, that is why I mentioned having to configure your own load-balancer like haproxy or nginx.

[2017-03-09 14:37] zcola commented on #31592
But when I use 1.12 when there is such a log, which is a udp port is not open ? and this issue Lasted for about 2 minutes

[code]

I allow the network between the cluster after the drop

[2017-03-09 14:40] timgfoster commented on #31074
+1

[2017-03-09 14:44] westsouthnight commented on #31594
@thaJeztah i test this, but steel not works. service consume 20Gb...

[2017-03-09 14:47] thaJeztah commented on #30304
The overlay2 messages are just warnings, so should not be an issue. The "decrypt" message is also a warning ("Decrypt packet failed: No installed keys could decrypt the message"), but @aboch can probably better tell if those are problematic.

[2017-03-09 14:57] westsouthnight commented on #31594
![screen_shot_2017-03-09_at_17_44_23](https://cloud.githubusercontent.com/assets/17825649/23755552/cf3da85c-04f1-11e7-9825-d2b96ecfb53b.png)
![screen_shot_2017-03-09_at_17_44_30](https://cloud.githubusercontent.com/assets/17825649/23755554/cf418d46-04f1-11e7-9357-4e39a0d574b0.png)
![screen_shot_2017-03-09_at_17_38_01](https://cloud.githubusercontent.com/assets/17825649/23755551/cf3d5780-04f1-11e7-

[2017-03-09 14:58] thaJeztah commented on #31685
/cc @cpuguy83

[2017-03-09 15:00] cpuguy83 commented on #31685
Thanks, this is fixed in 17.03, which is basically what 1.13.2 would have been.

[2017-03-09 15:00] #31685 closed

[2017-03-09 15:06] samartinucci opened #31695 "Identify Windows Docker Container from Inside."
**Description**

Currently we have an internal software that might be installed on Windows Docker Containers (namely microsoft/windowsservercore) and from inside the running container we might have a way to identify that we are inside a Docker container and more than that, we need to retrieve the Container ID.

Currently on Unix we have the option to read /proc/1/cgroup, although on Windows we hav

[2017-03-09 15:07] cpuguy83 commented on #31627
Makes sense. In this case "source" is really in terms of the `mount(2)` syscall.
Docs are in github.com/docker/docker.github.io if you want to add a blurb about this.

Probably best to come from someone who isn't neck deep in it all the time ;)

[2017-03-09 15:09] cpuguy83 commented on #31695
Sounds like a dup of #8427?
Also note this is being iterated on here: #26331

Closing since this request is tracked in the other issue.

[2017-03-09 15:09] #31695 closed

[2017-03-09 15:09] cpuguy83 commented on #31605
Ah makes sense.
ping @vdemeester

[2017-03-09 15:17] thaJeztah commented on #5618
# If you are arriving here

The issue being discussed here is a **kernel bug** and has not yet been fixed. There are a number of options that may help for _some_ situations, but not for all (it's most likely a combination of issues that trigger the same error)

## Do not leave "I have this too" comments

"I have this too" does not help resolving the bug. **only** leave a comment if you have inform

[2017-03-09 15:25] thaJeztah commented on #31658
ping @djs55 could you have a look?

[2017-03-09 15:25] sonix07 commented on #31693
@thaJeztah thanks for the very helpful and quick response!

[2017-03-09 15:31] friism commented on #31680
This is a problem with Toolbox and/or running in the cygwin bash shell. Absolute paths work fine from powershell:

[code]

[2017-03-09 15:36] rhatdan commented on #31651
If docker-engine-selinux needs addiitonal allow rules to what is provided to the current container-selinux then it should install policy without defining types defined in the base container-selinux

policy_module(docker-engine, 1.0)
gen_require(`
          type container_runtime_t;
          type container_t;
          type container_file_t;
')

allow container_t TARGET_T:process connecto;
...

We

[2017-03-09 15:36] M2Key opened #31696 "ps"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2017-03-09 15:38] thaJeztah commented on #31693
You're welcome! Following the above I don't suspect this is a bug, and I'll go ahead and close this issue. However, if you have additional information and think there's a bug at hand, feel free to open a new issue with more information (and add a link to this issue) 👍

[2017-03-09 15:38] #31693 closed

[2017-03-09 15:39] thaJeztah commented on #31696
Oh, looks like another victim of GitHub's keyboard shortcut :smile:

I'll close this issue because I think this was opened accidentally, but comment if that was not the case

[2017-03-09 15:39] #31696 closed

[2017-03-09 15:44] cpuguy83 commented on #31651
What if container-selinux specifically conflicts with known conflicting versions of `docker-engine-selinux`, and `docker-engine-selinux` only provides the diff for what it needs for a given release.

To that end if `container-selinux` is going to carry definitions specific to docker, `docker-engine-selinux` can really be a meta package like `Requires: docker-selinux-policy >= 1.13` (just as an exa

[2017-03-09 15:45] newhook commented on #5618
Thats all well and good but what _exactly_ are the options that help? This problem is causing us issues in production so I'd like to do whatever work arounds that are necessary to work around the kernel bug.

[2017-03-09 15:51] domq commented on #20707
Just a word to the wise here, from a mishap that happened to me yesterday: if you ever find yourself painted in that particular corner, and you are unfortunate enough not to have your `/var/lib/docker` on a separate partition, do *not* reboot hoping that that will reclaim the space. It won't, at least not until you somehow boot up to a rescue image to run `xfs_repair` on your now completely wedged

[2017-03-09 15:52] guenhter commented on #23965
I noticed that this can happen, when the system (e.g. just one node) is very very busy.

[2017-03-09 15:52] fabio-barile commented on #30766
Hi Guys,

Thanks to you comments, we have used tcpdump to track the headers of the ESP requests and we have found a configuration issue due to our infrastructure.
Now ALMOST all our servers are able to communicate through an encrypted network ovelay exected 1.

Containers running in this servers are not pingable in the encrypted networks
By checking the iptables it seems that all packets are DROPP

[2017-03-09 15:53] M2Key commented on #31696
Yes you're right, what is this GitHub's keyboard shortcut?

[2017-03-09 15:55] fer2d2 commented on #30362
Hi @simdrouin @jmcalvar

Finally I found a workaround for Docker Swarm-Mode. You must use network-level aliases. Here is an example:

[code]

With this setup, any container in the *data* network can reach the ElasticSearch container using its network alias "elasticsearch.docker". Please note that "elasticsearch.docker" is a "service" DNS, not a container name, and, if you scale your service, your

[2017-03-09 15:55] #30362 closed

[2017-03-09 15:56] ohmystack commented on #31685
@adaiguoguo, I found it was fixed by PR #30223

[2017-03-09 16:00] simdrouin commented on #30362
In my case it turned out to be a security problem, I had to manually open the following ports between hosts:

Port 7946 TCP/UDP for container network discovery.
Port 4789 UDP for the container overlay network.

You can read more here:
https://docs.docker.com/engine/swarm/networking/

[2017-03-09 16:29] kinghuang commented on #31628
My gut feeling is that isn't it. But, I'll try setting the node availability to drain tonight to get rid of the running containers from the engine that I'm using for the example here. Then, I'll re-run `docker system prune -a` and see what the result is.

[2017-03-09 16:29] tswift242 commented on #31663
Something interesting to note is that every time I've seen this failure, it always complains about a systemd path, i.e. the path in the criu error is always of the form /var/lib/docker/checkpoints/test_cp/criu.work/restore-<timestamp>/.criu.cgyard.<id>/systemd

[2017-03-09 16:32] krasi-georgiev commented on #31151
After a short discussion it seems that the proposal is rejected by the cobra package maintainer.
https://github.com/spf13/cobra/issues/392

read from https://github.com/spf13/cobra/issues/392#issuecomment-285391155

@thaJeztah  could you please comment about @spf13 's suggestion

[2017-03-09 16:37] boucher commented on #31663
We should probably change the naming strategy to eliminate the concurrency issue, regardless of whatever else might be causing this.

I did notice that there are 2 other failures in that log file as well, I'm not sure which are the most relevant:

[code]

[code]

As an aside, I see a higher rate of failure than this in my current production setup, but haven't spent much time digging into the issue

[2017-03-09 16:38] endophage commented on #31670
This looks like it might be related to a similar error we saw in DDC. It seems like maybe something has changed in 1.13 in how the image name string, i.e. `localhost:5000/hello-world:latest` is parsed and communicated over the engine API?

[2017-03-09 16:40] roy-codefresh opened #31697 "Can't build images with labels that contains space inside of quotes"
**Description**
Can't build images with label that contains space ( ) between quotes(') in it's value.

**Steps to reproduce the issue:**
1. run command `docker build --label "key='first second'"`

**Describe the results you received:**
I get the following error:
```Error response from daemon: Syntax error - can't find = in "second''". Must be of the form: name=value```

**Describe the results you

[2017-03-09 16:40] tswift242 commented on #31663
Yea I think we should definitely change the naming strategy for the work dir. Seems like a low effort, low risk change. If we gave the name's timestamp precision a couple more orders of magnitude, that might be good enough. Possibly something in the 1-100 microsecond range; nanoseconds might be overkill.

[2017-03-09 16:45] rhvgoyal commented on #31628
I would say cleanup every thing up. Just create one container. Write a big file  in it (say 10G) and then notice thin pool usage. After that delete container and see if you got your 10G back or not.

[2017-03-09 16:46] johnstep commented on #31524
@donkirkby Sounds good. Yes, I noticed if I prevented the corruption, by changing `ecx` to 0 so it did not copy any memory, then CouchDB start successfully. Also, I believe that once the directory structure exists, this code path is not encountered.

I took a quick look at CouchDB 2.0.0.1. It seems quite different, and did not work on my first attempt, though it failed in a completely different wa

[2017-03-09 16:47] thaJeztah commented on #31453
The `--link` option on _custom_ networks uses different mechanisms then "legacy" links on the default bridge network.

On the default ("bridge") networks, containers (by default) are able to communicate freely with all other containers on that network. To isolate containers, and only allow communication if needed, the `--icc=false` option was added; "custom networks" were not an option at that tim

[2017-03-09 16:48] boucher commented on #31663
Here's the line that generates the path:
https://github.com/docker/containerd/blob/docker-1.13.x/containerd-shim/process.go#L141

There's no real reason not to just use something like a uuid, or even just this plus a random number, if that's easy to generate in this context.