[2015-02-20 11:50] thomasschaeferm commented on #3609
I will have a look on it.
At the moment I am in my residential environment. But instead of switching off all computers...I make tests.  :-)

Thanks again for integrating IPv6.

[2015-02-20 11:58] ncdc commented on #10740
This feature is most likely to be used as part of an automated system I would think, like Kubernetes, where a user says "I want to deploy foo/bar:latest" and the system resolves that to the digest for that tag at that point in time. Subsequent deployments would use the resolved digest.

Having said that, I don't have any problem supporting shortened digests.

Also, just to note, the id you have in

[2015-02-20 12:12] miminar commented on #10740
Oh, I see, thanks for the correction. So the command would actually look like this:

    docker pull registry.access.redhat.com/rhel7@sha256:e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855

even more scary...

[2015-02-20 12:27] SimonWang2014 opened #10915 "no space left on device"
I found when use Dockerfile to build a image, if the Dockerfile is large, the docker often occurs error -->   "no space left on device" , it turns that the inode has been used up, but the storage is enough, How to resolve?

[2015-02-20 12:40] ncdc commented on #10740
Right, but again, this probably isn't something a human would regularly invoke.

[2015-02-20 13:12] duglin commented on #10910
When you look at your old format:
[code]
the `.` tells docker where your build context (files) are for the build.  You still need to give docker that information when you use the -f option.  So, try:
[code]

[2015-02-20 13:47] rmetzler commented on #4239
+1 would be nice to have.

[2015-02-20 14:39] cpuguy83 commented on #10912
I think your ports need to be quoted.

[2015-02-20 14:46] caolan commented on #10912
@cpuguy83 that works! surprised yaml didn't convert to a string but it's syntax rules are often a mystery to me. thanks :)

[2015-02-20 14:46] #10912 closed

[2015-02-20 15:13] cpuguy83 commented on #4239
Or how about `docker outdated`?

[2015-02-20 15:16] EricLanduyt commented on #10737
I was previously creating data containers this way:

    docker create --volume=/data --name data scratch ""

But now this is not working anymore. As suggested in the best practice, I can create from the same image as the application itself, but this application itself is created from java and so on... seems a bit fuzzy to me. Then I can create from tianon/true, but 'scratch' looked more clean whe

[2015-02-20 15:27] cpuguy83 commented on #10897
I would not expect the filter to list anything unless the actual container name had `rancher` in it... but in that case I don't understand how you have `ecstatic_wozniak` and `prickly_pike` in your filtered list.

[2015-02-20 15:53] aidanhs commented on #9070
This is really unintuitive, it'd be good to have some docs.

Ok:
[code]

Not ok:
[code]

Note the perm change.

[2015-02-20 15:59] jalev commented on #8539
+1

We've seen this here too (docker 1.4.1+). It only appears to occur if you launch Docker through a script/systemd unit. We're able to 'fix' (or at least get around) this error by doing a `docker run` on the cmdline, after which the error won't return.

[2015-02-20 16:22] bmurphy1976 opened #10917 "fork/exec /mnt/docker/init/dockerinit-1.5.0: cannot allocate memory"
We are running into a problem on one of our servers.  We are frequently getting this error:

[code]

The problem may be related to us having 15 containers already created on this server and we run them as cron jobs every 1 or 5 minutes ("docker start --attach").  It takes about 18 hours before docker starts issuing memory errors.  At that point we have to restart the docker daemon to address the i

[2015-02-20 16:40] phemmer commented on #10917
Couple hundred MB is fairly low, but this could also be a fragmentation issue. I'd look at `/proc/buddyinfo` and ensure you have some of the higher order page sizes available.

[2015-02-20 16:46] bmurphy1976 commented on #10917
At the moment free shows about 450mb available and 450mb available in cache so if I understand things correctly that should be able 1gb available for application use (this is on a server with 4gb/ram).

I'll check buddyinfo and memory usage the next time this occurs which should be sometime this evening based on past experience.

[2015-02-20 16:51] pospispa commented on #9547
I also get the "Text file busy" error message, however, during installation of a newer version of a package.
In my case the message looks like:
dpkg (subprocess): unable to execute old pre-removal script (/var/lib/dpkg/info/package-name.prerm): Text file busy

I belive the root-cause is probably same as described above.

I get this problem for:

distribution: Ubuntu 14.04
kernel: 3.13.0-45-generic

[2015-02-20 16:53] thaJeztah commented on #10737
@EricLanduyt if you need a "scratch" image, you can create it;

[code]

`docker build -t data .`, which produces;
[code]

And you don't even need to define the volume;
[code]

[2015-02-20 17:54] vishh commented on #8551
Ping @crosbymichael!

On Thu, Feb 19, 2015 at 10:06 PM, Jack <notifications@github.com> wrote:

[2015-02-20 18:19] jfrazelle commented on #8539
Hi all!
So we saw this on one of our test machines and I got really excited because I could finally reproduce and debug. My first idea was to add memory to swap because I realized the server had none. And that fixed it perfectly.
Looking at the comments above the output of swap also seems to be zero for those involved in this thread. Seeing as this fixed the issue and it was not a docker specific

[2015-02-20 18:28] jfrazelle commented on #10917
closing this was a duplicate of  #8539 and please see why solution here https://github.com/docker/docker/issues/8539#issuecomment-75291557

[2015-02-20 18:28] #10917 closed

[2015-02-20 18:36] stevvooe commented on #10740
@miminar The goal of this proposal is to provide a secure, reproducible way of fetching an image by its manifest digest. Syntactic sugar is outside the scope of this proposal.

That said, I agree long id strings are indeed unwieldy. I've filed docker/distribution#194 in response so we can find secure, consistent and simple way of accomplishing this.

[2015-02-20 18:44] LK4D4 commented on #10728
Closed by #10730

[2015-02-20 18:44] #10728 closed

[2015-02-20 18:45] cpuguy83 commented on #936
Closing since this imo is generally resolved.
if that's not the case, please open a new issue with specific details on what might be lacking from the current logging format for the daemon.

Thanks!

[2015-02-20 18:45] #936 closed

[2015-02-20 18:53] cpuguy83 commented on #1311
Cleaning this one up since the restart policies and docker client signal proxying handle this.

[2015-02-20 18:53] #1311 closed

[2015-02-20 18:56] cpuguy83 commented on #1352
Closing since this is what docker-compose is doing ( github.com/docker/fig and #9694 )

[2015-02-20 18:56] #1352 closed

[2015-02-20 18:58] cpuguy83 commented on #1366
Closing as these fields are now documented in the API docs for the last few API versions.

[2015-02-20 18:58] #1366 closed

[2015-02-20 18:59] cpuguy83 commented on #7073
Closing since these are now documented for the last few API versions.

[2015-02-20 18:59] #7073 closed

[2015-02-20 19:08] zyndiecate commented on #8539
Sorry to say that, but the most obvious reason why this issue should **not** be closed is that adding swap only solves a symptom. In case the docker ecosystem wants to provide some kind of quality software, somebody with more knowledge of what is really going on here should dig into the root cause of those memory leaks. Sadly, I am not that person, otherwise I would do it. Fact is the docker daemo

[2015-02-20 19:11] unclejack commented on #1311
This should stay open because we don't have single process monitoring (e.g. starting and running a container without the docker cli/daemonless run).

[2015-02-20 19:20] LK4D4 commented on #8539
@zyndiecate I think that memory leak in daemon and this issue title have a little in common. There is definitely one memory leak about which already exists some issues and at least one pr.

[2015-02-20 19:22] cpuguy83 commented on #2404
This was resolved by #8213 but didn't get autoclosed.

[2015-02-20 19:22] #2404 closed

[2015-02-20 19:28] cpuguy83 commented on #2786
ping @hychan is this still an issue?

[2015-02-20 19:31] phemmer commented on #8539
Coming from #10917 and I really don't like the "closed because adding swap fixes it" answer.
If this is indeed some sort of memory leak or fragmentation issue, adding more memory only hides the issue, it doesn't solve it. One of the reporters even had 12GB of free memory. There should be no need to enable swap in this case.

[2015-02-20 19:36] cpuguy83 commented on #2949
Closing since this is now documented and explained.

[2015-02-20 19:36] #2949 closed

[2015-02-20 19:42] tbatchelli commented on #8539
This issue would be **less** relevant if it weren't because:

1- Sometimes you can't restart the docker service when it crashes, needing a full reboot
2- When the docker process dies, so do all the containers

Adding **more** swap just delays the problem.

[2015-02-20 19:46] cpuguy83 commented on #2969
So this was definitely fixed way back, I cannot reproduce.
Closing, but if you can provide a way to repro this (prefferably with a Dockerfile + run command), please ping here!

[code]

[code]

[2015-02-20 19:46] #2969 closed

[2015-02-20 19:48] jfrazelle commented on #8539
can we please move the conversation about memory leaks to #8502

[2015-02-20 19:49] jfrazelle commented on #8539
or number #9139 take your pick :)

[2015-02-20 19:50] cpuguy83 commented on #3349
Closing since this was resolved in #6962

[2015-02-20 20:10] cpuguy83 commented on #3433
So dio support was added here: #10534
Closing since this seems to be what you were really getting at in your issue.

If the mentioned PR does not fully resolve the issue, please ping here so we can look at addressing it.  Thanks!

[2015-02-20 20:10] #3433 closed

[2015-02-20 20:12] #10832 closed

[2015-02-20 20:23] cpuguy83 commented on #4547
Closing as cyphar's comment is correct, names for user/group are looked up, what's actually on the files are the id's.

[2015-02-20 20:23] #4547 closed

[2015-02-20 20:24] cpuguy83 commented on #4737
@honi In Docker 1.5 (maybe 1.4?) there were several iptables changes.  Can you verify if this is still a problem with 1.5?

[2015-02-20 20:29] cpuguy83 commented on #5482
@anandkumarpatel Is this still an issue?

[2015-02-20 20:32] cpuguy83 commented on #5793
Dockerfile's now expand envvars for all commands.  Is this sufficient?  Can we close this?

[2015-02-20 20:38] cpuguy83 commented on #6312
Closing since this currently shows "true" as a string in 1.5.
Please ping here if you can reproduce, thanks!

[2015-02-20 20:38] #6312 closed

[2015-02-20 20:48] duglin commented on #5793
I don't think it does cover it - see https://github.com/docker/docker/pull/9176 - I think that discussion is related to what @agrafix wants.

[2015-02-20 20:55] daaku opened #10919 "IPv6 neighbour proxy support"
Hey, I was working towards neighbour proxy support for IPv6 environments (https://tools.ietf.org/html/rfc4389). Specifically I need to add the global address allocated to the container as a neighbour proxy on the host. In theory I could build this using events, though there may be a race if the container wants external network right away. The better solution would be to add this to docker itself s

[2015-02-20 21:35] EricLanduyt commented on #10737
@thaJeztah thank you for the trick !

[2015-02-20 21:51] adambiggs commented on #3694
+1

On CircleCI the output of `$ docker pull` shows up as a bunch of blank lines.

[2015-02-20 22:34] JensErat commented on #10412
I have the same issue with my [SOGo repository](https://registry.hub.docker.com/u/jenserat/sogo/). Also wrote an e-mail to supprt@docker.com.

[2015-02-20 22:46] bradrydzewski opened #10922 "autogen + go get?"
for better or worse there are some projects out there that are linking to Docker packages, including term, stdcopy, archive, parsers, etc. Here is an example:
https://github.com/samalba/dockerclient/blob/master/dockerclient_test.go

By excluding the autogen folder from the repository it is no longer go gettable:

[code]

[2015-02-20 22:54] testn commented on #10756
@tianon, I noticed a similar problem as what you have diagnosed in https://github.com/docker/docker/issues/4040

[2015-02-21 00:09] brahmaroutu commented on #10922
I am sorry, I can do a "go get github.com/docker/docker/pkg/stdcopy" from command line and see the whole docker branch downloaded.
I think the issue is when compiling the code. I am looking into ways to address this, please share any ideas you have.

[2015-02-21 00:15] thaJeztah commented on #8533
Also duplicate of https://github.com/docker/docker/issues/4962?

[2015-02-21 00:33] brahmaroutu commented on #10922
ping @tianon

[2015-02-21 02:28] tjmehta commented on #8279
Literally.

[2015-02-21 02:47] cpuguy83 commented on #7303
@benoj I've not seen this in quite a long time.
Are you still able to reproduce with Docker 1.5?

[2015-02-21 03:15] cpuguy83 commented on #7925
ping @dpittner

[2015-02-21 03:19] cpuguy83 commented on #7974
There is get.docker.com/builds/<OS>/<platform>/docker-<version>
Also for master builds master.dockerproject.com

ping @jfrazelle

[2015-02-21 03:29] cpuguy83 commented on #8562
Closing since pulls are now in the event stream.
Please ping (here or IRC) if this is not resolved as I expect it is.

[2015-02-21 03:29] #8562 closed

[2015-02-21 03:31] cpuguy83 commented on #8709
Closeing since it's really a dup for UNSET

[2015-02-21 03:31] #8709 closed

[2015-02-21 03:33] cpuguy83 commented on #8741
This is because of making a volume on `/etc`
Closing since this should be resolved by #10615

[2015-02-21 03:33] #8741 closed

[2015-02-21 03:51] inatatsu commented on #9207
GCCGO ignores a "constructor" C-function in a subdirectory. `docker exec` fails due to this problem since `init()` in [nsenter.go](https://github.com/docker/docker/blob/master/vendor/src/github.com/docker/libcontainer/namespaces/nsenter/nsenter.go) is not linked. [A workaround](https://gcc.gnu.org/bugzilla/show_bug.cgi?id=65134) is suggested on GCC Bugzilla.

[2015-02-21 03:54] cpuguy83 commented on #8943
IP Sans get set in tls.ExtraHosts.
Closing since this is not a Docker issue.

[2015-02-21 03:54] #8943 closed

[2015-02-21 03:58] cpuguy83 commented on #9070
Closing since this really came down to being a duplicate around how `VOLUME` is handled.

[2015-02-21 03:58] #9070 closed

[2015-02-21 04:17] shawnzhu commented on #10922
@brahmaroutu is right since #10665 was merged which means additional build step need to be performed to get `github.com/docker/docker/autogen/` after fetching source (like the newly added make step in https://github.com/drone/drone/blob/master/Makefile#L11).

So far, the only additional step I performed is `bash $gopath/src/github.com/docker/docker/project/make/.dockerversion` to build [drone/dron

[2015-02-21 04:58] brahmaroutu commented on #10922
@shawnzhu If you are only dependent on "pkg" then the proposed fix above should work and you need not generate any files. If you are building Docker then you are right .dockerversion generates this file.

[2015-02-21 05:03] shawnzhu commented on #10922
it depends on `github.com/docker/docker/utils` in project [drone/drone](https://github.com/drone/drone) so   it have to run `$gopath/src/github.com/docker/docker/project/make/.dockerversion` to generate `github.com/docker/docker/autogen/dockerversion/dockerversion`

[2015-02-21 09:35] pgenevski commented on #6743
+1

[2015-02-21 09:46] thaJeztah commented on #7974
Adding a download page with all released binaries to dockerproject.com (releases.dockerproject.com ?) would be really helpful.

Recently, I tried to reproduce an issue that someone reported, for which I needed an older version of docker. I think I managed to "deduct" the download link by following the script on get.docker.com, but having an overview of all releases would have saved me a lot of tim

[2015-02-21 09:51] ebuildy commented on #10867
Could be dangerous to delete all images like this, maybe something like:

    curl -X DELETE http://localhost:2375/images/_all

And print a help message at /images/.

[2015-02-21 09:58] benoj commented on #7303
Unfortunately I have since left the company where we were trying to achieve this. However we did have to abandon the docker approach for our CI due to this child process issue. If you are able to work out the issue I can pass the message on to the guys.

[2015-02-21 10:03] AJNOURI commented on #10910
Thanks duglin. Indeed, it works:
```sudo docker build -t <tag> -f <custom_dockerfile> <file_location>```

[2015-02-21 10:04] #10910 closed

[2015-02-21 10:27] agrafix commented on #5793
Yes, #9176 does look very promising!

[2015-02-21 10:41] nkvoll commented on #10685
Any progress on this? It seems pretty easy to get in this situation by specifying

    -v /proc/mounts:/host/proc/mounts:ro

as suggested by monitoring tools such as https://github.com/DataDog/docker-dd-agent. Running such a container in background will prevent docker from starting again until /var/lib/docker/containers/.../config.json has been edited by hand to remove the volume.

[2015-02-21 11:13] thomasschaeferm commented on #3609
some hours and some reboots later:

I can confirm that your beautiful manual for "Using NDP proxying" works. (at least one time)

I still don't know why I have some problems, the last time I had to start docker twice before it did work.

hpmini:~ # systemctl status docker
docker.service - Docker
   Loaded: loaded (/usr/lib/systemd/system/docker.service; disabled)
   Active: failed (Result: exit-co

[2015-02-21 11:46] MalteJ commented on #3609
when changing IPv6 settings you always have to check if those settings are actually configured on the bridge. If there is an existing bridge Docker will not enforce some changes.
It's best to stop docker, delete the bridge, start docker again and let it create a new bridge:

    service docker stop
    ifconfig docker0 down
    brctl delbr docker0
    service docker0

This way the IPv6 address *an

[2015-02-21 12:06] thomasschaeferm commented on #3609
The Problem is the first start fails( there was no bridge at this time). But now is week end. In principle it works.

[2015-02-21 12:38] cpuguy83 commented on #10874
I'm not sure I understand.
Why would Docker set an undefined value for the restart policy?

[2015-02-21 13:19] thaJeztah commented on #10874
(Well, it *does* set `MaximumRetryCount:0`, which also isn't specified.)

I think the docs are confusing here; according to [the docs](https://docs.docker.com/reference/commandline/cli/#run), valid options for `--restart` are `no | on-failure[:max-retry] | always`, but the *default* is `""`. Apparently, `""` and `no` are the same for CLI.

The [API docs](https://docs.docker.com/reference/api/docke

[2015-02-21 14:09] vbatts commented on #9207
[code]

[2015-02-21 15:05] aidanhs commented on #9070
So...do I need to raise a new issue for my comment above?

[2015-02-21 15:43] fxposter commented on #9605
It is not related to any limits from what I can tell. Everything is fine, system is not under heavy load. Everything starts when I try to call docker restart...

Initially, I have 7 docker (ruby) containers:

[code]

I am interested in the first six of them, cause they are just worker processes and are built from the same image.
These are corresponding worker processes:

[code]

Now if I execute:

[2015-02-21 15:51] nkvoll commented on #10685
I'm currently considering what the effects will be to use ``-v /proc/1/mounts:...`` instead, as there will always be a pid 1, and that would get rid of the "dependency" the ``/proc/self``-symlink.

[2015-02-21 18:48] cpuguy83 commented on #9070
@aidanhs No, it's already captured in a number of places... including #3639

[2015-02-21 20:49] achanda commented on #10867
Agreed that a  `_all` route might be a good way. The CLI uses the REST API to do tasks. Since the REST API does not allow this, the CLI won't. If this is implemented, it should be easy to make the CLI accept a `*` for image and container names. It might be a nice idea to print a "are you sure?" confirmation in the CLI>

[2015-02-21 22:29] howdoicomputer commented on #6396
+1 I'm interested in building disposable dev environments using Docker but I can't quite get it working. This would help a lot in that regard.

[2015-02-21 22:30] brandones opened #10928 "Another opaque EOF error from POST /containers/create"
I have a Dockerized project I've successfully built and run on OSX (with boot2docker) and Ubuntu with no problems. I installed docker on Debian 7.8 with Kernel 3.16:
[code]

On that machine, I run the daemon:

    $ sudo killall docker
    $ sudo docker -D -d

In another terminal tab, I run a test:

    $ sudo docker run ubuntu:14.04 /bin/echo 'Hello world'
    FATA[0000] Error response from daemo

[2015-02-21 22:31] brandones commented on #10928
[code]

[2015-02-21 22:32] sirwolfgang commented on #9340
I am running into this with 1.5.0

[2015-02-22 00:04] thaJeztah commented on #10915
Based on just this information, this could be a duplicate of https://github.com/docker/docker/issues/9755,  https://github.com/docker/docker/issues/5900 or https://github.com/docker/docker/issues/10613

Would you be able to provide the output of `docker info`, `docker version` and `uname -a`?

[2015-02-22 00:32] thaJeztah commented on #4239
Or, `docker images --filter=outdated=true`, which could be combined with other commands;

    docker rmi $(docker images -q -f outdated=true)
    docker pull $(docker images -q -f outdated=true)

[2015-02-22 02:05] vgeshel opened #10931 "docker fails trying to pull a non-existent layer"
I have an image in a private repo that was built from a Dockerfile of mine. When I try to pull this image, I get the following:

[code]

I have tried building and pushing this image with docker 1.4.1 and 1.5 on ubuntu 14.04. I've tried pulling it with 1.4.1 and 1.5 on ubuntu 14.04 and CoreOS stable and beta. The error happens everywhere. The image built from this specific version of my project (a

[2015-02-22 06:03] NonerKao opened #10932 "docker-commit causes a paused container to unpause"
1. docker pause <ID>; // I first pause a container
2. docker commit <ID> <some name>; //and then I commit that container to an image
3. that container start to work after being commited!

I have check the man page of docker-commit and docker-pause,
but nothing related has been found.  Is this behavior right?
I mean, does commit command intend to unpause a paused container or
it is a unwilling side

[2015-02-22 07:00] phemmer opened #10934 "Proposal: Various `docker version` outputs"
Right now the `docker version` output is rather inconsistent.

For example:
[code]

The first 2 lines are prefixed with "Client", but then the next 3 lines have "(client)" suffixed. Then the pattern repeats for the server lines. I think it would be better to use the same style for all the lines.

Some previews of what different formats might look like:

### 1 - prefix
[code]

### 2 - suffix
[code]

[2015-02-22 07:12] NonerKao commented on #10932
just some furthur investigation...

In daemon/commit.go line 35,
no matter what the status of that container is,
the job.GetenvBool("pause") call always returns true.

In api/client/command.go line 1729,
what does the "0" means in v.Set("pause", "0")?

[2015-02-22 07:22] ahmetalpbalkan commented on #10934
This command probably should have a `--json` parameter, otherwise changing this output would simply break any scripts depending on existing output format. Also `grep`pability is probably another concern. (1)(2) just is easier to grep. But +1 for (4).

[2015-02-22 08:14] thaJeztah commented on #10934
I like (3) visually, and that format would be useful if JSON is considered, i.e. `{Server: {Version:1.5.0,...}, Client: {}}`, but it wouldn't be useful for `grep`. If `grep` is desired, I like (1).

While discussing this; I think the output of "version" should be added to `docker info` as well. Right now, we have to ask users to include the output of both `docker version` and `docker info` when re

[2015-02-22 08:18] phemmer commented on #10934
If grep/scripting is a concern, we should probably just add a `--format` option. The output would just be defined as a go text template, and `--format` would override the template. Then grep isn't needed at all.

[2015-02-22 08:28] thaJeztah commented on #10934
Agreed; the `--format` would be consistent with other commands. I think *all* suggestions are an improvements over the current output, so I'd be happy with any of them :)

[2015-02-22 13:00] andergmartins commented on #8539
I have found a workaround that works for me, specifying a defined amount of memory for each container where I saw that error message.

    $ docker run .... -m 512MB

Sorry, I wasn't able yet to verify if it fits better as a memory leak or high memory usage. That works for the specific context I need those containers, but would be good to understand it a little bit more. I will try to inspect what

[2015-02-22 13:55] sakurai-youhei commented on #1916
I also want RUNP and/or "docker build --privileged".
[code]
This Dockerfile doesn't work due to following error but works if doing with "docker run --privileged"...
[code]

[2015-02-22 13:59] coolljt0725 commented on #10932
I think this is a bug of docker. By default, docker commit will pause a container and unpause it after commit.  But I don't think docker commit unpause a mannul paused container is not a desired behavior
I think this is going to fix by #10935

[2015-02-22 14:04] Dieken commented on #5632
[code]

Hardlink breaks on Docker 1.3.1 + devicemapper + Linux 2.6.32 (RHEL-6.5):
[code]

Works on Docker 1.5 (boot2docker 1.5):
[code]

[2015-02-22 14:09] gdm85 commented on #332
@blaggacao that's a nice summary of common image sections, thanks for  sharing.

@ajodock I immediately thought that ENV should be local to those curly braces. There's to say that the idea of curly braces might not get traction as it would add "depth" to Dockerfiles, but I still like it.

[2015-02-22 14:26] Dieken commented on #5632
The issue reported by @kscherer still exists, but changes a little on my machine (docker 1.5 + RHEL-6.5 + devicemapper):

[code]

[2015-02-22 14:28] atrauzzi commented on #6396
To anyone looking for a temporary solution, I've got a fix that I use which brute forces things in:

https://github.com/atrauzzi/docker-laravel/blob/master/images/php-cli/entrypoint.sh

It's by no means a desirable solution as it requires a whole entrypoint script, but does work.

[2015-02-22 15:56] coolljt0725 commented on #6743
+1

[2015-02-22 19:22] iavael opened #10937 "docker import fails to load tar file due to problem with chmod"
lzegrep is a symlink to ./xzgrep

Looks like docker tries to chmod(3) lzegrep before xzgrep is unpacked and saved to disk, so that causes ENOENT

[2015-02-22 20:11] ewindisch opened #10939 "Document kernel keyrings are not namespaced in security article"
Kernel keyrings are not namespaced and thus not secure on hosts running Docker. This should be made clear and explicit in the security article.

Machines running full disk encryption and Docker may be vulnerable to attacks to the system keyring.

[2015-02-22 22:12] dmp42 commented on #10931
Have you discussed this with go-docker-registry author?
Have you tried pushing this image and pulling it against the reference (Docker maintained) registry?

[2015-02-22 23:22] ahmetalpbalkan commented on #10934
@phemmer also think about the error case where client can't reach to daemon. That probably cannot be handled nicely in (4).

[2015-02-22 23:25] phemmer commented on #10934
Why not? Just leave it blank, or put in a placeholder (such as `?` or `-`)

[2015-02-23 00:53] jpetazzo commented on #1916
@malcm, @sakurai-youhei: even if you had something like `RUNP`, it would not work in this scenario, because iptables rules are not persisted in the filesystem.

Let me explain: when you do `RUN x`, Docker executes `x` then takes a snapshot of the filesystem. Things outside of the filesystem (running processes, routing tables, iptables rules, sysctl settings...) are not stored in Docker images.

If

[2015-02-23 02:11] #10278 closed

[2015-02-23 02:21] ferrouswheel commented on #7710
@duglin I am unable to find anything about `docker cp` supporting wildcards, and am unable to get wildcards working with docker 1.5.0. Can you please point towards me to somewhere with more info?

[2015-02-23 06:07] thedug opened #10944 "docker image fails on devicemapper"
time="2015-02-23T05:56:16Z" level="info" msg="Error getting container f921a053a51db43f12051e8608b6724f30bf3eb82df0efd33095ff0afa6ec403 from driver devicemapper: open /dev/mapper/docker-202:16-262147-f921a053a51db43f12051e8608b6724f30bf3eb82df0efd33095ff0afa6ec403: no such file or directory

[2015-02-23 06:41] vgeshel commented on #10931
Thanks. I haven't tried either of these things. I'm pretty familiar with the go-docker-registry code and haven't been able to see anything wrong there. As far as I understand, it's docker, not the registry, that decides which layers to pull. Is that wrong?

[2015-02-23 08:48] agovindaraju commented on #7670
This is really causing trouble in parsing the date. Making it always timestamp would help a lot.

[2015-02-23 08:51] grunzwei-fresh commented on #10944
getting this as well...

[2015-02-23 08:55] grunzwei-fresh commented on #10944
possible duplicate of https://github.com/docker/docker/issues/4036

[2015-02-23 09:05] tomfotherby commented on #8759
I would also like to be able to delete tags from the hub but can't get it working. This is what I tried:

    curl -X DELETE --header Referer:curl -k -s --user tomfotherby:blah https://index.docker.io/v1/repositories/blah1/blah2/tags/2014-07-21_4ba8999_1c79e97

    <h1>Forbidden <span>(403)</span></h1>
    <p>CSRF verification failed. Request aborted.</p>

You could save ALOT of space on your serv

[2015-02-23 10:25] fxposter commented on #9605
I've also tried to do strace on docker daemon.

[code]

I waited for about 10 seconds, and the stopped it. Here are the results from all files except one:

[code]

The last file looks a bit more interesting:
[code]

Can anyone dig into this stuff? The use case is - containers are working for some period of time, usually a couple of days and if I try to restart them - I get this behavior.

[2015-02-23 13:55] inatatsu commented on #9207
@vbatts Great! Thanks.

[2015-02-23 14:18] iavael commented on #10937
`strace -qqyff -e trace=chmod -p $(pidof docker)` shows this

`[pid 19573] chmod("/nix/store/vn2xa15s3l4r3djn2hri7jmhv6a6m7zr-xz-5.0.7/bin/lzegrep", 0777) = -1 ENOENT (No such file or directory)`

[2015-02-23 14:54] iavael commented on #10937
Typeflag field of this file in archive is '1' (hardlink) and in header lzegrep is linked to xzfgrep (which is actually symlink).
Looks like we have to check at https://github.com/docker/docker/blob/master/pkg/archive/archive.go#L352, that target of unpacked hardlink is not actually symlink (in GNU tar actually temporary placeholder file is created).

[2015-02-23 14:59] aanm commented on #10934
@phemmer Will you work on this?

[2015-02-23 15:46] coopernurse commented on #4036
@rhvgoyal Given that dynamically linked docker binaries seem to now be a requirement, do you have a recommended install method?

It would be great to use CentOS Extras, but currently only docker 1.3.2 is available there, which is now fairly out of date.

Is Docker (or RedHat) planning to offer a repo for users to get dynamically linked binaries that are up to date with the current Docker release v

[2015-02-23 16:07] rhatdan opened #10946 "A change was made to docker master that is blowing up builds on Fedora."
<pre>
hack/make.sh dynbinary# WARNING! I don't seem to be running in the Docker container.
# The result of this command might be an incorrect build, and will not be
#   officially supported.
#
# Try this instead: make all
#
bundles/1.5.0-dev already exists. Removing.

---> Making bundle: dynbinary (in bundles/1.5.0-dev/dynbinary)
Created binary: /home/dwalsh/docker/src/github.com/docker/docker/bun

[2015-02-23 16:21] tonivdv commented on #6396
@atrauzzi interesting approach. For our dev env we build a base image and copy the ssh key directly in it. It has the advantage of not needing to provide it on each run. And every image inheriting from that mage by default has the key in it also. However with our way you cannot share it publicly obviously ;p

[2015-02-23 16:29] rhatdan commented on #10946
It would be nice if we could just get rid lxc...

[2015-02-23 16:32] tcurdt commented on #6396
+1 this would be great

[2015-02-23 16:35] lsm5 commented on #10946
I see this on ubuntu as well:

Created binary: /home/lsm5/repositories/github.com/docker/docker/bundles/1.5.0-dev/dynbinary/dockerinit-1.5.0-dev
# _/home/lsm5/repositories/github.com/docker/docker/docker
/usr/bin/ld: cannot find -ldevmapper
/var/tmp/go-link-5zNwSP/000007.o: In function `mygetpwuid_r':
/usr/share/go/src/pkg/os/user/lookup_unix.go:72: warning: Using 'getpwnam_r' in statically linked

[2015-02-23 16:38] inph commented on #9207
The removing -X flag patch https://github.com/docker/docker/commit/6871b9b16afe46e7566ac2937246b4a64be97269 breaks building the dynbinary due to the removal of INITPATH from `project/make/dynbinary` and ld being unable to find libs.

Adding the following to `project/make/dynbinary`:
`export LDFLAGS_STATIC_DOCKER="-X $DOCKER_PKG/dockerversion.INITPATH \"$DOCKER_INITPATH\""`

Fixes the dynbinary bui

[2015-02-23 16:40] devurandom commented on #7583
I assume all this implies that `docker push` also does not push any data from volumes?

[2015-02-23 16:42] inph commented on #10946
This is because of recent changes to `project/make/dynbinary` to support gccgo's lack of -X flags.

Relevant issue: https://github.com/docker/docker/issues/9207#issuecomment-75578730

[2015-02-23 16:46] rhatdan commented on #9207
I confirm adding the export line on Fedora fixes our problem.

[2015-02-23 16:46] devurandom opened #10947 "Please explain how to overlay volumes over an image"
From [Managing Data in Containers](http://docs.docker.com/userguide/dockervolumes/) in the docs I gather that volumes will completely replace the contents of the directory in the container, just as mount does.

Is there a way to overlay them instead? My use case is having `/var` as a persistent volume to catch all write accesses. As applications usually require a certain directory layout, which th

[2015-02-23 16:47] atrauzzi commented on #6396
@tonivdv The container that script is for is made and destroyed frequently as it's just a host for CLI tools.  You're of course free to only do the operation once.  But if someone changes their settings and re-runs a command through the container, it has to be a fresh copy every time.

[2015-02-23 17:17] lsm5 commented on #4036
@coopernurse if you're ok with a non-RHEL-recompiled docker, feel free to use this repo:

    [virt7-testing]
    name=virt7-testing
    baseurl=http://cbs.centos.org/repos/virt7-testing/x86_64/os/
    enabled=1
    gpgcheck=0

Not sure atm if docker package in this repo is considered release-ready yet (RE: package-signing etc.) ...but it works for the most part.
NOTE: consider packages in this re

[2015-02-23 17:41] phemmer commented on #10934
I might, but not sure. depends how much time I have after we reach consensus on what the output should look like (could be today, could be next month)

[2015-02-23 18:34] tiborvass commented on #10554
@bitliner any update on this?

[2015-02-23 18:36] crosbymichael commented on #10874
**Proposed solution**:

The docker cli should set a default restart policy of `no` instead of `""` for the cli flag's default value.

[2015-02-23 18:39] crosbymichael commented on #10867
I think this sounds like a good idea to support, it would reduce the amount of request it takes to delete many images or containers.

Lets see how everyone else feels.

ping @vieux @tiborvass

[2015-02-23 18:45] achanda opened #10952 "The info endpoint should export networking information"
Currently, the `/info` endpoint exports compute and storage information, but no networking information. It should export all available network configurations like name of the bridge, CIDR being used etc. These should also be printed in the `docker info` command. A networking solution on top of Docker might find this information useful.

[2015-02-23 18:51] achanda commented on #10934
I believe it will be better to invert the tabular form. Most people read from left to right. So it might be easier for an user to read it.

[2015-02-23 18:53] aanm commented on #10934
@achanda how so?
First the values and then labels?

[2015-02-23 18:56] crosbymichael commented on #10824
+1 I think it would make sense to make this change.

[2015-02-23 19:08] crosbymichael commented on #10778
ping @vbatts

[2015-02-23 19:11] achanda commented on #10934
@aanm I mean this:

[code]

It might just be me, but I find this easier to read.

[2015-02-23 19:11] crosbymichael commented on #10770
The worry is over loading the cli trying to cater to many different metric and stats requirements.  The API should be easily consumable and give you much more flexibility and even more metrics than what is able to be displayed via the CLI.

Is there a reason why consuming the API directly is a problem in your use case?

[2015-02-23 19:13] aanm commented on #10934
The only problem I see with it is it can reach >80 columns

[2015-02-23 19:14] crosbymichael commented on #10769
This looks to be fixed here #10860

Can you try the proposed solution and see if it fixes your case?

[2015-02-23 19:15] crosbymichael commented on #10765
ping @dmp42

[2015-02-23 19:18] crosbymichael commented on #10721
No problem, thanks for the update

[2015-02-23 19:18] #10721 closed

[2015-02-23 19:22] vgeshel commented on #10931
I take that back... I've tried pushing this image to the reference registry and I'm not seeing the problem. So must be something in the private registry implementation after all. Thanks!

[2015-02-23 19:22] #10931 closed

[2015-02-23 19:24] crosbymichael commented on #10720
I think you should be able to curl the API endpoint and get the exact raw values if you are using monitoring tools.  I think this would be a more robust way to handle the information if you are able to do this.

[2015-02-23 19:27] dmp42 commented on #10765
That would be about the hub then, cc-ing @kencochrane @shin-

@jmreicha I would also suggest that you open an issue on https://support.docker.com (since the hub support is there)

[2015-02-23 19:27] alvinchow86 commented on #4036
Also started seeing this problem with intermittently failing `docker run` and `docker build`, running Ubuntu 14.04, Docker 1.5.0, on AWS EC2 instances with EBS store. I installed via the official instructions and it looks like a statically-linked library

[code]
(I was previously on Docker 1.3.2 and either never saw the issue before and it was very rare).

[2015-02-23 19:28] achanda commented on #10934
Ah, I see. Agreed that this might be a problem if more columns are added later.

[2015-02-23 19:34] crosbymichael commented on #10707
The default behavior is the way that it is so that things like when a container restarts, in your example, you will miss stats.  How would you solve getting stats on restart in your default situation?

[2015-02-23 19:38] crosbymichael commented on #10706
This should have been resolved by the discussion in this PR #10232

[2015-02-23 19:40] crosbymichael commented on #10692
I'm going to close this in favor of #9656 as it contains more details.

[2015-02-23 19:40] #10692 closed

[2015-02-23 19:40] rhvgoyal opened #10955 "docker rm succeeds even if underlying operations failed"
Looks like docker rm does not care if any of the underlying operations needed to complete the remove operations succeeded or not. It goes on to remove the container anyway and leaving unrecoverable system resources if something failed.

For example, with device mapper backend, it can happen that device associated with rootfs of
container could not be removed. This can happen if device is busy. And

[2015-02-23 19:43] crosbymichael commented on #10655
#10657 was merged fixing this issue

[2015-02-23 19:43] #10655 closed

[2015-02-23 19:45] mustafaakin commented on #10707
I understand the behavior now. So, now maybe we can add some flag to indicate initatie a blocking or non-blocking stats collection?

[2015-02-23 19:47] crosbymichael commented on #10627
Lets close this one and move the discussion to #9207.  gccgo is a way to build go with ARM support and I think you will find alot more help and discussion in that issue.  Thanks!

[2015-02-23 19:47] #10627 closed

[2015-02-23 19:48] rhvgoyal commented on #10955
I am looking at the removal code and it looks like that it might not be trivial to fix. The first thing we do is that remove the container from container store so that nobody can get access to this container and do any operations.

        // Deregister the container before removing its directory, to avoid race conditions
        daemon.idIndex.Delete(container.ID)
        daemon.containers.Delete

[2015-02-23 19:51] crosbymichael commented on #10644
Yes, there are various ways to get the ip address for the container.  In the default networking model you will have a veth named `eth0` that you can get the ipaddress from.

[2015-02-23 19:51] #10644 closed

[2015-02-23 19:54] crosbymichael commented on #10613
ping @dmp42 @jlhawn

[2015-02-23 19:57] crosbymichael commented on #10593
#10596 was merged so tis can be closed

[2015-02-23 19:57] #10593 closed

[2015-02-23 19:58] wyaeld commented on #7583
volumes are attached to containers

`docker push` sends images to a registry

The 2 aren't really related.  images != containers

On Tue, Feb 24, 2015 at 5:42 AM, Dennis Schridde <notifications@github.com>
wrote:

[2015-02-23 20:05] crosbymichael commented on #10595
@itsafire @edwintorok thanks for reporting the issue here and also opening one for debian.  I'll close this on docker and we can track any progress on the debian issue for the aufs-tools

[2015-02-23 20:05] #10595 closed

[2015-02-23 20:09] tianon commented on #9207
With https://github.com/docker/docker/pull/10951, the `dynbinary` problem should be fixed.

[2015-02-23 20:44] bernardopericacho commented on #8911
+1

[2015-02-23 20:49] geekpete opened #10956 "Download all layers concurrently rather than serially"
Is there any real reason the initial run of a docker container that requires the layers to be pulled down cannot pull all of those layers concurrently rather than one at a time?

Would be a fairly sizeable speed up in starting a fresh container.

[2015-02-23 20:53] thaJeztah commented on #10956
This has been asked before and (unfortunately) isn't possible. You can find an explanation here; https://github.com/docker/docker/issues/4709#issuecomment-39026151

[2015-02-23 20:57] geekpete commented on #10956
So no way to retrieve meta data from each layer quickly to identify all the layers to fetch, they're all sitting there on http/https waiting to be read.
Then fetch all layers simultaneously to a temporary location then slot them all together for registration in order at the end?

[2015-02-23 21:05] bitliner commented on #10554
Not yet. If I find enough time this week I will do it, otherwise the machine is not going to be available anymore since next week.

[2015-02-23 21:09] erSitzt commented on #7249
:+1:

[2015-02-23 21:09] thaJeztah commented on #10956
I *think* something like that has been attempted, but didn't result in major speed gains, but I don't remember the exact details.

/ping @unclejack - has anything changed since last year, or is this still not possible? Will registry v2 improve the situation?

[2015-02-23 21:33] tiborvass commented on #8887
Realizing this is a continuing pain for a substantial number of users, we are reconsidering adding `--insecure` to `pull`. @ewindisch and I will be working on a PR that we'll link to this issue.

Apologies for the long wait, and thanks for voicing your opinions and pointing out your pain points.

[2015-02-23 21:42] DJBnjack commented on #4036
Just adding my experiences here, also getting this now and then on my Ubuntu 14.04 system when running docker containers:

    vagrant@vagrant-ubuntu-trusty-64:~$ sudo docker info
    Containers: 2
    Images: 28
    Storage Driver: devicemapper
     Pool Name: docker-8:1-262148-pool
     Pool Blocksize: 65.54 kB
     Backing Filesystem: extfs
     Data file: /dev/loop0
     Metadata file: /dev/lo

[2015-02-23 21:52] thaJeztah commented on #8887
@tiborvass I can imagine there's an equally large number of users that *don't* want to allow pulls from insecure registries. I realise Docker currently doesn't have fine-grained control over permissions/config, but if there's a chance to be able to "lock" this down, I think that would be a nice touch.

[2015-02-23 21:55] #10685 closed

[2015-02-23 22:00] crosbymichael opened #10958 "Move pid file operations to /pkg/ dir"
**Summary**:

Currently there is code in `/utils/daemon.go` to handle pid file creation and removal.  This package is too big and there are little testing for these functions.

**Proposed solution**:

Move the two functions for pid file creation and removal to a separate package in the `/pkg` directory called `pidfile`.  It would be a clean api if we used a type that could have the removal in a `d

[2015-02-23 22:05] DJBnjack commented on #4036
Still getting it after upgrade to 14.04.2:

    vagrant@vagrant-ubuntu-trusty-64:~$ sudo docker info
    Containers: 2
    Images: 28
    Storage Driver: devicemapper
     Pool Name: docker-8:1-262148-pool
     Pool Blocksize: 65.54 kB
     Backing Filesystem: extfs
     Data file: /dev/loop0
     Metadata file: /dev/loop1
     Data Space Used: 1.484 GB
     Data Space Total: 107.4 GB
     Metadat

[2015-02-23 22:09] tiborvass commented on #3349
@cpuguy83 there was a regression then. It does not cleanup its socket anymore.

[2015-02-23 22:11] jfrazelle commented on #10952
closing as duplicate of #3909, please continue the conversation there

[2015-02-23 22:11] #10952 closed

[2015-02-23 22:17] dmp42 commented on #10613
@MitchK do you still have this issue?
Were you able to confirm whether this is an inode exhaustion issue, or purely disk space issue?

Thanks a lot!

[2015-02-23 22:22] jdmarshall commented on #332
Adding logical blocks to Docker without adding any indentation or block separator would be pretty regressive.  We tried that in the 60's and by the 70's virtually every computer language or scripting language had realized how bad an idea that was.

MIME is the only big exception I can think of, but that's pretty much only ever read by machines.

[2015-02-23 22:22] crosbymichael opened #10959 "Move progress reader into separate /pkg dir"
**Summary**:

Currently there is code in `/utils/progressreader.go` to handle progress bar reporting and stats. This package is too big and there are little testing for these functions.

**Proposed solution**:

Move the type into a new package inside the `/pkg` directory called `progressreader` and refactor the API into something cleaner.  A proposed api change could look something like:

[code]

[2015-02-23 22:24] LK4D4 commented on #10959
Maybe we can add support of multibars to https://github.com/cheggaaa/pb
I tried some day, but failed to find right sequence :) But that task probably not `white-belt`

[2015-02-23 22:31] rlister opened #10960 "Automated build creation needs UI to select a repo from a github org"
User `user` in both docker hub and github organization `org` wishes to create an automated build from `github.com/org/repo`, but the page at https://registry.hub.docker.com/builds/github/select/ only presents repo list from `github.com/user`, even though user has full access to `github.com/org`.

It is possible to hack this by selecting e.g. `github.com/user/repo` and then changing the page url `h

[2015-02-23 22:32] jfrazelle opened #10961 "Get all test-suites to pass with --net none"
Currently the following tests fail when the container is run with `--net none`

- [ ] TestBuildCopyAddMultipleFiles
- [ ] TestEventsImagePull
- [ ] TestPullImageFromCentralRegistry
- [ ] TestPullImageOfficialNames
- [ ] TestSearchOnCentralRegistry

Fix the tests so they are still functional as tests, but use the resources available in the container.

**Failed Test Output for Reference:**

[code]

[2015-02-23 22:34] crosbymichael opened #10962 "Move RandomString function into separate /pkg dir"
**Summary**:

Currently there is code in `/utils/random.go` to handle random string generation. This package is too big and there are little testing for these functions.

**Proposed solution**:

Move the type into a new package inside the `/pkg` directory called `random` and refactor the API.  A proposed change for the function could look like:

[code]

Also the addition of tests for this package

[2015-02-23 22:41] jfrazelle opened #10963 "[integration-cli] [--net none] Fix TestBuildCopyAddMultipleFiles"
Fix TestBuildCopyAddMultipleFiles so it will still be a functional test, but will pass when the test container has --net none.

Perhaps try downloading a file from the local registry in the container.

Error output when tests are run with --net none:
[code]

[2015-02-23 22:41] jfrazelle commented on #10961
Closing as split up into one issue for each test, but the inividual issues are linked in the first comment

[2015-02-23 22:41] #10961 closed

[2015-02-23 22:42] jfrazelle opened #10964 "[integration-cli] [--net none] Fix TestEventsImagePull"
Fix TestEventsImagePull so it will still be a functional test, but will pass when the test container has --net none.

Use the local registry in the container to pull an image.

Error output when tests are run with --net none:

[code]

[2015-02-23 22:43] crosbymichael opened #10965 "Move the TimeoutConn a separate /pkg dir"
**Summary**:

Currently there is code in `/utils/timeoutcon.go` and `/utils/timeoutconn_test.go` to handle timeouts of network connections. This package is too big and it would help to move this type and it's tests to a new package.

**Proposed solution**:

Move the type and tests into a new package inside the `/pkg` directory called `timeout` and refactor the API.  A proposed change for the funct

[2015-02-23 22:44] jfrazelle opened #10966 "[integration-cli] [--net none] Fix TestPullImageFromCentralRegistry"
Fix TestPullImageFromCentralRegistry so it will still be a functional test, but will pass when the test container has --net none.

Use the local registry in the container to pull an image. Change the name of the test to reflect it is no longer pulling from the central registry.

Error output when tests are run with --net none:

[code]

[2015-02-23 22:45] jfrazelle opened #10967 "[integration-cli] [--net none] Fix TestPullImageOfficialNames"
Fix TestPullImageOfficialNames so it will still be a functional test, but will pass when the test container has --net none.

Use the local registry in the container to pull an image.

Error output when tests are run with --net none:
[code]

[2015-02-23 22:46] jfrazelle opened #10968 "[integration-cli] [--net none] Fix TestSearchOnCentralRegistry"
Fix TestSearchOnCentralRegistry so it will still be a functional test, but will pass when the test container has --net none.

Use the local registry in the container to pull an image. Change the name of the test to reflect it is no longer pulling from the central registry.

Error output when tests are run with --net none:

[code]

[2015-02-23 22:47] jfrazelle commented on #10961
They are as follows:

- TestBuildCopyAddMultipleFiles #10963
- TestEventsImagePull #10964
- TestPullImageFromCentralRegistry #10966
- TestPullImageOfficialNames #10967
- TestSearchOnCentralRegistry #10968

[2015-02-23 22:47] tiborvass opened #10969 "Delete unix sockets on daemon shutdown"
**Summary**:

The daemon used to clean up its unix sockets after #6962 got merged, but there was a regression in #7317 and now it's not the case anymore.

**Proposed solution**:
Implement `removeUnixSockets` as a method on `Daemon` and call it during daemon shutdown.

[2015-02-23 22:49] #10922 closed

[2015-02-23 22:53] monokrome commented on #332
#NoDepthForDockerfiles

[2015-02-23 22:55] monokrome commented on #332
#NoDepthForDockerfiles

[2015-02-23 23:05] crosbymichael opened #10970 "Move TreeSize function to separate /pkg dir"
**Summary**:

Currently there is code in `/utils/utils_daemon.go` to handle getting the size of a directory specified by a path.  This `utils` package is too large and needs to be broken up.

**Proposed solution**:

Move the `TreeSize` function into a separate package inside `/pkg` called `directory`.  The build tag at the top of this file will need to be changed from `// +build daemon` to `// +bu

[2015-02-23 23:11] dmp42 commented on #10956
In the v1 protocol, this is not feasible (layers are processed/extracted on the fly, so, the download must happen sequentially).
Furthermore, downloading "all layers to a temp location" might consume a lot of disk space (some images are gigabytes large).

Now, the v2 protocol does allow for that (with a sliding window of 5 simultaneous layers downloads, which you can see if you docker pull ubuntu

[2015-02-23 23:18] dmp42 commented on #10915
cc @crosbymichael

[2015-02-23 23:33] coopernurse commented on #4036
@DJBnjack My understanding is the key issue is the "Udev Sync Supported: false" line.  That indicates you're using a statically compiled docker binary.  Did you install docker via apt-get or did you download the standalone binary?

[2015-02-23 23:35] geekpete commented on #10956
Perfect, good to see this has been improved.

Thanks.

[2015-02-23 23:35] #10956 closed

[2015-02-23 23:38] octalthorpe commented on #8887
Oh my make it so! Was about to implement it myself.

Sent from my BlackBerry 10 smartphone on the Bell network.
From: Sebastiaan van Stijn
Sent: Monday, February 23, 2015 4:53 PM
To: docker/docker
Reply To: docker/docker
Cc: Kristopher Cieplak
Subject: Re: [docker] --insecure-registry should be on "docker pull" (#8887)

@tiborvass<https://github.com/tiborvass> I can imagine there's an equally larg

[2015-02-23 23:48] achanda commented on #3909
The codebase has churned a lot since this conversation. I was trying to get the bridge by using `job.Getenv("BridgeIface")` and `daemon.Config().BridgeIface`. Both of those seem to return the value set as a parameter to the docker daemon. I am pretty new to Docker (and golang), am I missing something here?

[2015-02-23 23:51] vbatts commented on #4036
Udev sync false doesn't imply static, but rather that syncing with udev is
not possible, and therefore subject to this race condition.
On Feb 23, 2015 6:33 PM, "James Cooper" <notifications@github.com> wrote:

[2015-02-24 00:29] cpuguy83 commented on #3349
@tiborvass hmm, you are right.

[2015-02-24 00:31] jfrazelle commented on #3349
closing we have a new one https://github.com/docker/docker/issues/10969 sorry for the confusion @cpuguy83

[2015-02-24 00:31] #3349 closed

[2015-02-24 00:47] oldhamtj opened #10972 "docs: Support for non-proxied private registry"
In some or many organisations the HTTP_PROXY is appropriate only for external registry access and may not function correctly for an internal private registry. The purely global nature of the proxy from the environment makes running a private registry problematic.
The code in registry.go for defining registry access could be made conditional through a new unproxied_registry flag - so instead of an

[2015-02-24 01:00] thedug commented on #10944
Possibly but the repro steps there are different.

[2015-02-24 01:12] nealmcb commented on #10451
Based on the [conversation in my PR](https://github.com/docker/docker/pull/10590), we want a manual step to check for wrong addresses like <id>@users.noreply.github.com, or other likely problems, and update the .mailcap file.

I suggest that the project/generate-authors.sh script should at least look for that sort of thing, note duplicates in the name or email parts of the AUTHORS file, and provid

[2015-02-24 01:53] thedug commented on #3694
@adambiggs as @clkao mentioned use add > /dev/null to your docker pull command and it will be quiet. Lame that output is lost, but the alternative is worse.

[2015-02-24 02:11] aluzzardi commented on #10740
+1

This would be awesome for Swarm.

/cc @vieux

[2015-02-24 02:15] simonbeckett commented on #10720
Looks like this is due to the use of humansize in the devicemapper driver...
[code]
I agree raw values, or at the very least a small common denominator is the way to go. If human friendly units are desired, then a switch can be used from the cli or client side conversion for any monitoring tasks.

[2015-02-24 06:19] tonivdv commented on #6396
@atrauzzi I understand. Your approach should be adopted by docker images which could require a private ssh key. For example, a composer image should include your entrypoint script in case of private repos. At least until docker comes with a native solution.

[2015-02-24 07:41] sourav82 opened #10975 "Can we attach a volume to a running container?"
Is there any way to attach a volume (say, /opt/data) from the host machine to the running container?

[2015-02-24 08:03] dwitzig opened #10976 "Incorrect path docker/libcontainer/network"
Since this (https://github.com/docker/libcontainer/pull/367) merge in docker/libcontainer
the following paths are incorrect
https://github.com/docker/docker/search?utf8=✓&q=%22github.com%2Fdocker%2Flibcontainer%2Fnetwork%22

[2015-02-24 08:35] thaJeztah commented on #10975
This is currently not possible via the CLI, but it *is* possible via the API; https://github.com/docker/docker/issues/9849#issuecomment-68355285)

I think this is a duplicate of https://github.com/docker/docker/issues/9849. If you agree, can you close this issue to keep the issue tracker clean? Thanks!

[2015-02-24 10:48] rivallu opened #10978 "Multicast between 2 container in 2 host"
Hi,
I have 2 ElasticSearch containers (based on Ubuntu 14.04) and I use the multicast protocol to discover all ES' nodes. It's work when i ran all container on the same host but no multicast packets are foward between the docker network to my local network. I saw some issue about the multicast and docker and I just want to know if it's normal, if it's a bug or if I miss some configuration ?
my doc

[2015-02-24 11:16] sourav82 commented on #10975
@thaJeztah, What I actually look for is to mount a host directory into the running container. All the places I noticed volumes can be mounted at the time of container creation or at the time of starting the container. What I need, after the container has been started, mount a host directory to the container.

[2015-02-24 11:38] coolljt0725 commented on #10975
@sourav82 see this #8826

[2015-02-24 11:41] thaJeztah commented on #10975
Making modifications on running containers (including adding/removing/changing volumes) is not currently supported (You may be able to do some 'trickery' with `--priviledged`, but that's something better to ask in the `#docker` IRC channel) .

You can follow the linked issues to check progress.

[2015-02-24 12:05] miminar opened #10979 "Misleading error when referring to non-existent container in `--volumes-from` flag"
When running container with `--volumes-from` referring to non-existent container e.g.:

     docker run -d --name somebody --volumes-from nobody registry.access.redhat.com/rhel7 false

the output says:

    Unable to find image 'registry.access.redhat.com/rhel7:latest' locally
    Pulling repository registry.access.redhat.com/rhel7
    bef54b8f8a2f: Download complete
    Status: Image is up to dat

[2015-02-24 13:30] cpuguy83 commented on #10975
You could certainly do it with nsenter.

[2015-02-24 15:07] estesp commented on #10928
First of all, thanks for the logs, and it looks like this is Docker 1.5.0, but could you run `docker version` and `docker info` (with the daemon running) and add that content here?

The `docker run` command you posted should run fine--and I assume you can run that elsewhere? Are all `docker run` commands failing in this way, or just this one, or only intermittently?  Given I can't reproduce, it wo

[2015-02-24 15:11] estesp commented on #10976
Until the libcontainer:api branch is merged to libcontainer's master, and then the work is done in docker to use the new API, you won't see the changes in docker/docker repo--it currently vendors a specific git commit of libcontainer and is only updated at stable intervals when those features are ready to go into docker (see https://github.com/docker/docker/commit/fd2d45d7d465fe02f159f21389b92164d

[2015-02-24 15:17] estesp commented on #10955
See #10099 for prior discussion.  I would still like to make the whole deletion path more robust, but it is tricky to decide how to handle "rollback" or a new state.

[2015-02-24 15:30] jgangemi commented on #10928
i see the same error if i try pushing to a docker regsitry and don't have the `X-Registry-Auth` set and/or its value is incorrect so some better handling around this case would be great.

happy to file a separate issue on this as well.

[2015-02-24 15:40] florentvaldelievre opened #10981 "Concurrent docker pull, end of stream"
Problem: The stream end on the second pull (tty2) even though it should return the same error as tty1
INFO:  The daemon has been setup as insecure en purpose in order to trigger an error

On a machine, i have two tty, 1 and 2. Try to launch these two commands almost at the same time.
On tty 1 I launch: docker pull registry2:5000/thumbor:4.7.0-37
[code]
on tty 2, I launch: docker pull registry2:500

[2015-02-24 15:40] thaJeztah commented on #10975
@cpuguy83 do you have a basic example how to achieve that? Perhaps I can add something in the documentation somewhere?

[2015-02-24 15:54] estesp commented on #10928
@brandones can you try `docker pull ubuntu:14.04` before your Docker run?  It does seem that it could be registry related, although that may have been a transient failure--but it would be good to find where in the codepath it fails.  My only problem is that you should have seen a message on client side: **Unable to find image '..' locally** before it tried to contact the registry.

@jgangemi it co

[2015-02-24 16:15] fxposter commented on #9605
Got almost the same problem on different server with a bit different strace, but the same logs, ie: docker.log's last line is
[code]

and strace for one process gives me:
[code]

[2015-02-24 16:36] jgangemi opened #10983 "docker 1.5.0 push returns EOF if no 'X-Registry-Auth' header is specified"
i'm using the docker-maven-plugin (https://github.com/rhuss/docker-maven-plugin) to push to a private, local test registry that doesn't require any authentication. if no `X-Registry-Auth` header is specified, the server returns an unhelpful EOF message which then requires some manual investigation to figure out why.

here are the relevant logs:

[code]

it would get great if a better error message

[2015-02-24 16:38] jgangemi commented on #10928
filed, thanks!

[2015-02-24 16:46] rhvgoyal commented on #10955
I liked the idea of coming up with a new state say "Remove Failed" and let user retry it later.

I have run into situations where a device might leak into namespace of another container and hence removal of devicemapper device might fail. For example if one launches a privileged container with "-v /:/host", then any container which was running already their mount points become visible under /host/

[2015-02-24 16:50] rhvgoyal commented on #10955
Also if device removal fails then we leave /var/lib/docker/devicemapper/metadata/<container_id> file in there. This is like docker bloating its own metadata while there is no way to reference it from top. So not only we left some resources which should have been freed, we have some stale docker metadata too and I will never promote a user manually fiddling with docker metadata.

Keeping that in mi

[2015-02-24 16:52] #7387 closed

[2015-02-24 16:52] vbatts commented on #7387
this is V1 TarSum

[2015-02-24 17:20] brandones commented on #10928
[code]

It was failing with the run command provided and also with building my project with `sudo docker build`, which has base image `ubuntu:14.04`. It would upload build context and then fail immediately after.

Running `docker pull ubuntu:14.04` fixed the problem -- both the run command and build command work fine now. Thank you so much for the support.

[2015-02-24 17:25] estesp commented on #10928
ping @dmp42 @dmcgowan any thoughts on where a pull from within a "missing graph image" (from either `docker build` or `docker run` on a system without the image) might end up in `EOF` instead of doing the pull?  I assume this is some corner case or Hub connectivity issue, as 1.5.0 isn't broken on pulling images in general..

[2015-02-24 18:11] rhvgoyal commented on #10955
To give more details,  this is what I did with docker using devicemapper graph driver.

- Launch a container.
  docker run -ti fedora /bin/bash

- Launch another container with root mounted at /host.

   docker run -v /:/host -ti fedora /bin/bash

- Now try exiting first container. It takes 10 seconds as it keeps on trying to remove thin device but that device has not leaked into second container

[2015-02-24 18:14] dmp42 commented on #10928
From https://github.com/docker/docker/issues/10928#issuecomment-75396690 I don't see anything related to hub/network communication...

@dmcgowan ?

[2015-02-24 18:18] miguno commented on #4036
Same issue on RHEL6 6.5, using docker-io-1.4.1-3.el6.x86_64:

[code]
Same `device-mapper` packages as described by @adrianotto in [his comment above](https://github.com/docker/docker/issues/4036#issuecomment-67762681):

[code]

[2015-02-24 19:29] dmp42 commented on #10983
ping @dmcgowan

[2015-02-24 19:30] kmike commented on #9455
Dockerhub seems to use docker 1.5 now, but .dockerignore still doesn't work.

[code]

See  https://registry.hub.docker.com/u/scrapinghub/splash/builds_history/16922/  and https://github.com/scrapinghub/splash/issues/183.

[2015-02-24 19:42] schmunk42 opened #10987 "Question about apt-get in Debian base images"
I received this ticket https://github.com/phundament/docker/issues/3 in my project.

So I investigated the issue and saw this code and comments in the debian base image:

[code]

What I didn't find was `RUN echo "Acquire::http {No-Cache=True;};" > /etc/apt/apt.conf.d/no-cache` - although it's discussed here: https://github.com/docker/docker/issues/824

My question is - do we don't need this, since

[2015-02-24 19:42] thaJeztah commented on #9455
@kmike the "Server version" in you output refers to your *local* server (i.e., your daemon), not the version running in Docker Hub. It's still possible that the Docker Hub is running an older version, which would explain `.dockerignore` not working.

[2015-02-24 19:47] kmike commented on #9455
@thaJeztah the excerpt is from these logs: https://registry.hub.docker.com/u/scrapinghub/splash/build_id/4552/code/bfxhfyy8u2fvwcyyh36eg9a/; they can't contain a version of my local daemon.

[2015-02-24 19:58] dmcgowan commented on #10983
The error messages to the registry don't seem to very informative much of the time, it can certainly be improved. For V2 we attempted to address this better as well as ensure there is proper debug logging on the deamon.  Can you send the daemon logs to see if anything informative is showing up while in Debug mode?  Run the daemon with `docker -d -D`.

[2015-02-24 19:59] thaJeztah commented on #9455
@kmike oh, apologies! I mistakenly assumed you thought "Server" meant the "Docker Hub server". (I don't have permissions to view the link, but I trust it's there). There's all kind of users here, and some don't fully understand the client/daemon.

In that case, yes, that's strange. @dmp42 have an idea?

Also, although interesting, this isn't an issue with *docker*, but with "Docker Hub"; should th

[2015-02-24 20:08] kmike commented on #9455
No worries, and thanks for responding so fast.

Agreed, the place doesn't look right. I just googled "dockerignore docker hub" and found this ticket with a description of a similar issue. I can only find a feedback email in hub.docker.com - is it a right way to report such issues?

[2015-02-24 20:19] thaJeztah commented on #9455
@kmike for issues with Docker Hub, you can send an email to support@docker.com (I think there's a form somewhere too, but I don't have the URL at hand) unfortunately there's no public issue tracker yet.

[2015-02-24 20:26] taion commented on #6396
:+1:

[2015-02-24 20:33] cpuguy83 commented on #10987
cc @tianon, ps there is a repo for the debian image here: docker-library/debian

[2015-02-24 20:39] tianon commented on #10987
The Debian image is generated via https://github.com/docker/docker/blob/d0bc3537d7cc7f152842c7d21c9eae85e0a95a4c/contrib/mkimage/debootstrap.  The PR/context you're looking for is #2038, which is where we removed `No-Cache=true` since it wasn't doing at all what we originally thought it was supposed to (and has more to do with proxies).

[2015-02-24 20:48] kmike commented on #9455
thanks @thaJeztah!

[2015-02-24 20:58] schmunk42 commented on #10987
Thanks for your feedback, that made it clear to me.

[2015-02-24 20:58] #10987 closed

[2015-02-24 21:00] jgangemi commented on #10983
this is the output from the docker daemon:
[code]
please let me know if there is anything else i can provide.

also, what about the question i posed above? if i am attempting to push to a private repository, is there any harm in always sending the header w/ empty encoded values?

[2015-02-24 21:23] #10979 closed

[2015-02-24 21:28] #10932 closed

[2015-02-24 21:35] kmike commented on #9455
FYI: the answer from support team is that it is a known Docker Hub issue, and that at the moment the only work around is to build locally and the push the image.

[2015-02-24 21:38] rhvgoyal opened #10991 "Container mount directory in host leaks into another container namespace"
If I launch two containers as follows then mount directory of first container is available in second container too which in turn causes many other issues. I am using devicemapper driver.

- Launch first container, say A.
   $ docker run -ti fedora /bin/bash
   This will lead to mounting of thin device backing the container at /var/lib/docker/devicemapper/mnt/<container_id_A>

- Launch second conta

[2015-02-24 22:08] rhvgoyal commented on #10991
One more thing. Once the container has started and rootfs gets mounted inside container, unmounting it in host tries to deactivate thin device and that fails as now that device is being used from container too.

Device mapper provides a functionality where one can have deferred device removal. May be we can use that functionality for deactivating a device during unmount.

Hopefully it works fine w

[2015-02-24 22:23] BGaudreault opened #10993 "Boot2Docker Install/Uninstall Issues on Win8.1"
Hi, does anyone have a suggestion on how to fix a Win8.1 install issue where the VM/daemon doesn't start?

I installed boot2docker on Windows 8.1, but then removed it (not all components were removed and it didn’t tell me "what" had to be manually removed or "where" to find a log!) and reinstalled it after rebooting so I could document the process for users.  Now I can’t get boot2docker to start l

[2015-02-24 22:52] thaJeztah commented on #10993
Hi, @BGaudreault this issue tracker is for issues related to docker only, issues with Boot2Docker can be created in the issue tracker for Boot2Docker here; https://github.com/boot2docker/boot2docker

However, this looks more like a support question. Perhaps you can ask this question on IRC in the #docker or #boot2docker channel first? Thanks!

[2015-02-24 23:54] erjiang opened #10996 "`docker rename` is buggy with leading slash"
Steps:
1. Create a container named "foo".
2. Confirm that docker inspect shows container's name as "/foo".
3. Run `docker rename foo bar`
4. Confirm that docker inspect shows container's name as "bar" *without leading slash*

Other bug:
1. Create a container named "foo".
2. Confirm that docker inspect shows container's name as "/foo"
3. Run `docker rename /foo /bar`
4. Confirm that container's nam

[2015-02-24 23:55] erjiang commented on #10890
#10996 is possibly related to this.

[2015-02-24 23:56] dmuso commented on #6396
:+1:

[2015-02-24 23:59] erjiang commented on #6898
I think a similar issue appears with the rename command: #10996

[2015-02-25 00:49] liquid commented on #6325
can somebody explain why the issue has been closed? i am having the same error:

[code]

Provided the issue was closed and there's a solution to the problem, I'd love to know. Thanks.

[2015-02-25 02:17] vjm commented on #9547
Same issue:

    /bin/sh: 1: /entrypoint.sh: Text file busy
    Service 'web' failed to build: The command [/bin/sh -c chmod +x /entrypoint.sh && /entrypoint.sh] returned a non-zero code: 2`

Generated by:
   ` FROM ruby:2.2.0`
    `....`
    `RUN chmod +x /entrypoint.sh && /entrypoint.sh`

Version (`boot2docker`):

    Client version: 1.5.0
    Client API version: 1.17
    Go version (client): go

[2015-02-25 06:31] brahmaroutu commented on #6898
I have changed the code to strip the forward slash from container name before the http request is made and this will allow container names like /foo at cli. I am not sure if this is intended behavior or a bug to fix though.

[2015-02-25 06:35] brahmaroutu commented on #6898
I will write tests and issue PR if we want to fix this.

[2015-02-25 09:31] tonistiigi opened #11008 "Manually stopped containers should not start after daemon restart"
Container with a restart policy (eg `--restart always`) is always restarted on daemon restart, even if the container has already been put to the stopped state manually.

Background: when I update containers I'd like to keep old containers around for a while in order to do a rollback if needed. Now, should the daemon restart, all versions of the containers start again.

[code]

Tested with `v1.4.1`

[2015-02-25 10:44] ravi032 opened #11009 "Docker on Windows/Windows Azure"
I am new to docker and have some questions for docker related to Microsoft Windows technologies.

Can docker create a Windows OS container? Can I install IIS inside my Windows OS container?

Kindly reply me with yes or no.
If yes, then kindly explain to me how do I do it? Share some tutorial links etc.

[2015-02-25 11:16] fxposter commented on #9605
Also, I've got the same problem when starting container: I've stopped all containers, and did `docker ps -a -q | xargs docker start` and now it hang only in start command.

[code]

[2015-02-25 12:10] bdastur opened #11010 "Issue running RabbitMQ with Dockers. - incorrect file ownership on mounted volumes"
Summary:
I am facing an issue currently when trying to run a RabbitMQ service within a docker container. The issue is related to the file ownership of  "erlang.cookie" file that rabbitmq-server creates.

This is how I start the container:
sudo docker run -p 5672:5672 -p 15672:15672 --volume=/var/lib/rabbitmq/:/var/lib/rabbitmq --volume=/dockers/rabbit:/dockers/rabbit/
--privileged=true --name=rdoc

[2015-02-25 12:54] marvell commented on #6325
Same problem. DigitalOcean, `ubuntu 14.04.2`, `kernel 3.13.0-45-memlimit`,  `docker 1.5.0`.

[2015-02-25 13:12] marvell commented on #6325
I changed the kernel on default in DO panel and it helped to me.

[2015-02-25 13:15] liquid commented on #6325
@marvell can you confirm the version of the kernel you're using? Thanks.

[2015-02-25 13:21] marvell commented on #6325
@liquid `Your droplet's current kernel: Ubuntu 14.04 x64 vmlinuz-3.13.0-43-generic`

[2015-02-25 13:38] alapidas commented on #11010
This may have to do with the UID and GID of the rabbit user in the containers.  The process in the container is probably mutating those files and changing ownership.  Try starting bash in your bash in your rabbit container and see what UID and GID the rabbit user + group has.  I'd be willing to bet the GID is '20' and the UID matches your local docker user's UID.

[2015-02-25 14:28] estesp commented on #9605
If you have the daemon in this state (or can get it there easily) can you post the debug output generated from sending a SIGQUIT to your daemon process? (e.g. `kill -QUIT <dockerpid>`)   I'm not sure that will go to the log--hopefully it will, but if not, you can run the daemon with `-d -D` in a shell to get foreground debug output.  This will generate the stacktrace of all goroutines in the daemo

[2015-02-25 14:57] fxposter commented on #9605
I can't actually get this state easily - if I could - I'd rebuild docker binary with a lot of custom logs to check what is happening. But unfortunately, usually it takes a day or more to get to the point where it starts to hang. I've actually built custom binary with additional logging, but could not reproduce the problem yet (which can lead to an answer, that there's a race somewhere, and my logs

[2015-02-25 14:57] bdastur commented on #11010
What I see is the following from the bash prompt within the rabbit container:
UID: 998, GID: 997
[root@gg34-3 ~]# docker exec -it rdock /bin/bash
[root@gg34-3 /]#
[root@gg34-3 /]# id -u rabbitmq
998
[root@gg34-3 /]# id -g rabbitmq
997
[root@gg34-3 /]#

You are correct, the rabbitmq-server will create the .erlang.cookie and mnesia directory in /var/lib/rabbitmq, and the correct ownership should be

[2015-02-25 15:01] estesp commented on #9605
Sure, understand--next time will be fine, but if/when you get to that point, replace your strace with the SIGQUIT and hopefully we can get Go function traces which show the backtrace of which lock is being held/requested by whom so hopefully we can get to the bottom of the lock contention (my assumption)

[2015-02-25 15:01] fxposter commented on #9605
Sure, I will. Thanks!

[2015-02-25 15:08] phemmer commented on #11008
Hrm, looks like #10032 was opened about this issue, and closed without comment :-/

[2015-02-25 15:13] tonistiigi commented on #11008
@phemmer indeed. ping @jfrazelle

[2015-02-25 15:22] RickWieman commented on #10958
I would like to work on this. I don't have much experience with Go, but it seems like a nice improvement to begin with.

[2015-02-25 15:23] gewoonrik commented on #10965
I'd love to give this a try.

[2015-02-25 15:37] jmtd opened #11012 "odd "no such file or directory" error with overlay backend"
I'm getting a very odd "no such file or directory" situation with a simple image, built using

    FROM jmtd/debian:buildd
    MAINTAINER Jonathan Dowland <jmtd@debian.org>
    RUN apt-get update     && apt-get build-dep -y --no-install-recommends squishyball     && apt-get clean
    CMD ["/bin/bash"]

as follows:

    $ sudo docker build ./
    …
    INFO[0044] lstat /var/lib/docker/overlay/2d582

[2015-02-25 15:46] MartijnDwars commented on #10970
I'll start working on this.

[2015-02-25 16:06] alapidas commented on #11010
From the perspective of the container, the ownership is correct.  If you have another rabbit process outside the container or in a different container that needs to use these files, then the UID and GID of the rabbit account needs to be the same everywhere.

[2015-02-25 16:07] nealmcb commented on #9015
Re: searching for images by tag etc:

Thanks.  The issues you reference are closed, but it isn't clear to me if the resolutions include the ability to search by tag.  Does anyone have an update on this that responds e.g. to this query?  http://stackoverflow.com/questions/24481564/how-can-i-find-docker-image-with-specific-tag-in-docker-registry-in-docker-comma
Cheers.

[2015-02-25 16:21] g17 opened #11014 "Docker client does not handle HTTP 401 responses propperly"

[2015-02-25 16:21] #11014 closed

[2015-02-25 16:22] IevgenKabanets opened #11015 "Issue with using su error 'su - System error'"
My setup is:

Host system is Ubuntu 14.04 (*Linux vamspacker01 3.13.0-32-generic-Ubuntu SMP Tue Jul 15 03:51:08 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux*) with **3.13.0-32-generic kernel**.

- Packer 0.7.5;
- Docker 1.3.3;
- Ubuntu 14.04 official image for Docker;

Whether I use Packer or not - issue is the same.

1 -> I run a new container of Ubuntu image, lets say this way:

*docker run -P -i -t

[2015-02-25 16:36] g17 opened #11016 "Docker client does not handle HTTP 401 responses properly"
# Context

I am running a private Docker registry ([h3nrik/simple-registry](https://registry.hub.docker.com/u/h3nrik/simple-registry/)). On top an nginx authentication proxy is running ([h3nrik/registry-ldap-auth](https://registry.hub.docker.com/u/h3nrik/registry-ldap-auth/)). That proxy enforces the username to match the image namespace when creating or deleting tags. That works so far without an

[2015-02-25 16:39] g17 commented on #11014
Sorry for this empty ticket. I just hit the return key accidentally a bit too early...

[2015-02-25 17:19] cpuguy83 commented on #10088
+1, you could containerize things like mounting new filesystems onto the host mount namespace which can be consumed as bind-mounts for other containers as well.
Thinking things like containerized flocker.

[2015-02-25 17:34] jfrazelle commented on #11009
This is currently being worked on by the Windows team, see http://azure.microsoft.com/blog/2014/10/15/new-windows-server-containers-and-azure-support-for-docker/

[2015-02-25 17:34] #11009 closed

[2015-02-25 17:58] jfrazelle commented on #10975
Closing as duplicate of linked issues

[2015-02-25 17:58] #10975 closed

[2015-02-25 18:00] jfrazelle commented on #11008
hmmm I really don't know why I did that I always leave a comment, apologies

[2015-02-25 18:00] jfrazelle commented on #11008
This is definitely a bug

[2015-02-25 18:02] jfrazelle commented on #11015
Why are you using `su` to run it.

[2015-02-25 18:04] jfrazelle commented on #11015
If you want to run as a different user in a container I would suggest using USER in the dockerfile instead http://docs.docker.com/reference/builder/#user

[2015-02-25 18:05] jfrazelle commented on #11015
How are you creating the postgres user? Can you give exect steps to reproduce?

[2015-02-25 18:08] jfrazelle commented on #9922
I am going to close this as a duplicate of https://github.com/docker/docker/issues/11016 which has a very good description hope that is ok :)

[2015-02-25 18:08] #9922 closed

[2015-02-25 18:30] IevgenKabanets commented on #11015
Ok,

*postgres* is created by installing PostgreSQL server.

I don't want to run as different user - I want possibility to *switch* users, for example.

Another example - Tomcat 7 init.d script. It uses su -c to launch startup.sh/shutdown.sh.

[2015-02-25 18:34] dmp42 commented on #9015
Hi @nealmcb
These issues have been moved to their new home @ https://github.com/docker/distribution - specifically https://github.com/docker/distribution/issues/136 - although there is currently no specification for a new/revised search API.

Ideas/proposals are definitely welcome over there (docker/distribution).

[2015-02-25 18:47] jfrazelle commented on #4852
ping @dlewanda  does using an entrypoint command solve your issue?

[2015-02-25 18:50] jfrazelle commented on #5473
This could extend Docker stats ;)

[2015-02-25 18:52] jfrazelle commented on #5434
All the iptables rules are in a Chain called docker, you could run a `iptables-save` and `iptables-restore` to bring them back up.

Also you can used assign a `fixed-cidr`.

See the networking articles here: http://docs.master.dockerproject.com/articles/networking/

[2015-02-25 18:52] #5434 closed

[2015-02-25 18:56] jfrazelle commented on #5654
is this still a problem with the latest release, and if it is a boot2docker specific problem can you please open an issue on that repository

[2015-02-25 19:04] jfrazelle commented on #4336
@kingdonb can you let us know if this is still an issue with the latest version of docker

[2015-02-25 19:04] jfrazelle commented on #6013
@jlhawn does this work with your cp patch

[2015-02-25 19:06] jfrazelle commented on #6093
So there was a PR for this if anyone is interested and it was closed for this reason which I think is understandable https://github.com/docker/docker/pull/9135

[2015-02-25 19:08] jfrazelle commented on #2891
can you see if this is a still an issue with the latest version of docker

[2015-02-25 19:09] liquid commented on #6325
@marvell I've changed back to the original kernel and I've still got no luck :(

[2015-02-25 19:10] jfrazelle commented on #5688
@SvenDowideit so is this a docs problem where we need to explain it better or...

[2015-02-25 19:13] jfrazelle commented on #3157
I think can can be accomplished with #3254, `ONBUILD`
or setting the image `ENV` in the Dockerfile and allowing the user to override the env with `-e` on create.

[2015-02-25 19:13] #3157 closed

[2015-02-25 19:14] jfrazelle commented on #4806
closing as duplicate of https://github.com/docker/docker/issues/7480

[2015-02-25 19:14] #4806 closed

[2015-02-25 19:18] jfrazelle commented on #6546
works for me on latest docker
[code]

[2015-02-25 19:18] #6546 closed

[2015-02-25 19:19] jfrazelle commented on #6673
@jperville can you try with the latest version of docker

[2015-02-25 19:20] jfrazelle commented on #6672
can not reproduce with latest version of docker

[2015-02-25 19:20] #6672 closed

[2015-02-25 19:21] jfrazelle commented on #6604
considering this involves a version pre-1.0 closing

[2015-02-25 19:21] #6604 closed

[2015-02-25 19:24] bdastur commented on #11010
Thanks a lot for your insight. My "docker" group GID on host was overlapping with my "rabbitmq" group on the container, which was causing the problem. After chaning my "docker" group GID to something else, it works.

[2015-02-25 19:24] #11010 closed

[2015-02-25 19:25] jfrazelle commented on #3745
Solution:
get rid of `integration` tests all together and migrate to `integration-cli`

[2015-02-25 19:26] jfrazelle commented on #4934
@SvenDowideit has the documetation around this been updated

[2015-02-25 19:26] jlhawn commented on #6013
@jfrazelle nope, file globs are an extra feature

[2015-02-25 19:27] moxiegirl opened #11019 "Makefile and make.sh don't have the same "targets" they should"
**Summary**: Users can run `make test` but  have to run `make.sh binary cross test-unit test-integration test-integration-cli test-docker-py`. There might be other differences.

**Proposed solution**:

The `make.sh` command should accept arguments with the equvalent values to the make targets.  This should improve the UX and also reduce complexity in doc management. Win-win.

[2015-02-25 19:28] jfrazelle commented on #6711
actually I think we do this?

[2015-02-25 19:28] jfrazelle commented on #6711
oh we have exit code

[2015-02-25 19:28] jfrazelle commented on #6698
is this still true? I personally don't think they do

[2015-02-25 19:29] jfrazelle commented on #6745
ping @cpuguy83

[2015-02-25 19:30] jfrazelle commented on #6730
can not reproduce with systemd 215 and latest docker

[2015-02-25 19:30] #6730 closed

[2015-02-25 19:31] jfrazelle commented on #6758
you can use `--device` tested locally and it works

[2015-02-25 19:31] #6758 closed

[2015-02-25 19:32] cpuguy83 commented on #6698
@jfrazelle Yep. Either data-containers or binds.

[2015-02-25 19:32] jfrazelle commented on #6767
looks fixed to me, closing but @SvenDowideit reopen if i missed something

[2015-02-25 19:32] #6767 closed

[2015-02-25 19:34] cpuguy83 commented on #6745
Yeah I saw this one the other day... not sure how to address it.

[2015-02-25 19:35] jfrazelle commented on #6698
so can we triage as we need to update the docs around this?

[2015-02-25 19:36] jfrazelle commented on #6013
cool made it a black belt

[2015-02-25 19:36] dlewanda commented on #4852
Sorry, I changed jobs and have been out of the project that was using privileged containers for about 6 months. I would have to recreate the scenario and get back to you, but I don't know when I'll have an opportunity.

     On Wednesday, February 25, 2015 1:48 PM, Jessie Frazelle <notifications@github.com> wrote:

 ping @dlewanda does using an entrypoint command solve your issue?—
Reply to this e

[2015-02-25 19:37] jfrazelle commented on #11019
wdym they do?

you can run `hack/make.sh any_of_the_things_` the makefile just holds the common ones

[2015-02-25 19:41] jfrazelle commented on #1438
@jlhawn @steeve do you think we can move this to the distribution repo or the spec

[2015-02-25 19:41] cpuguy83 commented on #11019
@jfrazelle Can run `hack/make.sh test`

[2015-02-25 19:44] jfrazelle commented on #6560
ooo we have a pr for ulimits now, have you seen https://github.com/docker/docker/pull/9437 @philips

[2015-02-25 19:44] aidanhs commented on #6672
I still can with docker 1.5...

[code]

[2015-02-25 19:45] jfrazelle commented on #6402
I believe there have been improvements for this and there are a bunch of other issues open surrounding the userland proxy so closing as dup

[2015-02-25 19:45] #6402 closed

[2015-02-25 19:46] jfrazelle commented on #6794
closing as dup of https://github.com/docker/docker/issues/5893 and +1 we all would like a redesigned API

[2015-02-25 19:46] #6794 closed

[2015-02-25 19:47] jfrazelle commented on #6523
closing as dup of https://github.com/docker/docker/issues/6523, feel free to add any additional things there

[2015-02-25 19:47] jfrazelle commented on #6523
sorry meant https://github.com/docker/docker/issues/4237

[2015-02-25 19:47] #6523 closed

[2015-02-25 19:49] jfrazelle commented on #6672
why are you entering the container with su, default is root?

[2015-02-25 19:52] jfrazelle commented on #11019
oooo i misunderstood sorry

On Wed, Feb 25, 2015 at 11:42 AM, Brian Goff <notifications@github.com>
wrote:

[2015-02-25 19:52] aidanhs commented on #6672
I don't, my intention is to use `su -` because it correctly sets up my environment (i.e. HOME).

[2015-02-25 19:52] jfrazelle commented on #11019
I still dont know tho, I think that is abstracting it a bit too far, the makefile is the abstraction i like seeing via the makefile what is actually running

[2015-02-25 19:56] jfrazelle commented on #6672
HOME is now set as root, /root, for most containers

[code]

On Wed, Feb 25, 2015 at 11:53 AM, aidanhs <notifications@github.com> wrote:

[2015-02-25 19:59] aidanhs commented on #6672
Sorry, I made a couple of edits. If you don't do a real login you lose out on a bunch of variables.

Copying the relevant section down here:
[code]

[code]

[2015-02-25 20:02] aidanhs commented on #6672
Actually, after pulling the latest ubuntu:14.04, I note that the situation has improved (LS_COLORS is there). I'm now only missing $USER, $LOGNAME, $MAIL.

Obviously I can work around this so it's not a pressing issue, but the container still shouldn't exit...

[2015-02-25 20:03] jfrazelle commented on #6672
instead of su then how about docker run -it -e HOME=/root --rm ubuntu:14.04
bash

On Wed, Feb 25, 2015 at 11:59 AM, aidanhs <notifications@github.com> wrote:

[2015-02-25 20:04] jfrazelle commented on #6672
it exits from su even if I do it on a bare metal server

On Wed, Feb 25, 2015 at 12:03 PM, Jessica Frazelle <jess@docker.com> wrote:

[2015-02-25 20:05] marvell commented on #6325
@liquid Try reinstall docker:
[code]

[2015-02-25 20:06] jvinod opened #11020 "Proposal: Storage Interfaces for Docker"
## Abstract

The intention of this proposal is to present a storage management API for Docker. This does not rework the internals of Docker but lays the groundwork for new storage primitives, Docker plugins, and alternate implementations by external storage providers. This aligns with spirit of treating storage as entities managed outside of containers as outlined in this wonderful PR  https://git

[2015-02-25 20:08] aidanhs commented on #6672
That's interesting. How are you running it?
[code]

[2015-02-25 20:15] jfrazelle commented on #6672
just like that on a ubuntu 14.04 server

On Wed, Feb 25, 2015 at 12:09 PM, aidanhs <notifications@github.com> wrote:

[2015-02-25 20:16] jfrazelle commented on #4427
ping @dmcgowan @jlhawn @dmp42 I think this works if you login, right?

[2015-02-25 20:18] jfrazelle commented on #5771
ping @vbatts is this a dup

[2015-02-25 20:18] aidanhs commented on #6672
Bizarre. I was wondering if you were making `su` run as PID 1 or something exotic.

I'll see if I can reproduce in virtualbox tonight.

[2015-02-25 20:19] jfrazelle commented on #3751
closing as dup of https://github.com/docker/docker/issues/3751

[2015-02-25 20:19] #3751 closed

[2015-02-25 20:19] jfrazelle commented on #3751
i meant https://github.com/docker/docker/issues/3466

[2015-02-25 20:20] jlhawn commented on #4427
@jfrazelle this issue is almost a year old, is it still reproducible?

[2015-02-25 20:20] jfrazelle commented on #6837
closing as dup of https://github.com/docker/docker/issues/5722

[2015-02-25 20:20] #6837 closed

[2015-02-25 20:22] jfrazelle commented on #4427
I dont have a private repo lol I'll make one

[2015-02-25 20:23] vbatts commented on #5771
This is a dup of #4036
The "device or resource busy" (`EBUSY`) can occur when a container was started, and during that time another service has unshared from the host's mount namespace (`CLONE_NEWNS`). The reason we see this in devicemapper, is because a device is set up and mounted for the container, but despite being unmounted for a stopped/dead container, the other pid with unshared mount ns on

[2015-02-25 20:23] #5771 closed

[2015-02-25 20:26] jfrazelle commented on #4427
ok it works closing

[2015-02-25 20:26] #4427 closed

[2015-02-25 20:27] cpuguy83 commented on #11019
The Makefile is the docker-based abstraction, make.sh is the shell level.

[2015-02-25 20:28] jfrazelle commented on #5376
@kruxik can you reproduce on the latest version and if so can you give exact steps to reproduce

[2015-02-25 20:29] jfrazelle commented on #5940
closing as duplicate of https://github.com/docker/docker/issues/6549

[2015-02-25 20:29] #5940 closed

[2015-02-25 20:30] jfrazelle commented on #6442
closing as duplicate of https://github.com/docker/docker/issues/10307 and you can express your concerns there

[2015-02-25 20:30] #6442 closed

[2015-02-25 20:32] jfrazelle commented on #6875
you have devmapper backend and you are trying to mount aufs?, closing because failed to respond to issue since Jul, but feel free to ping me to reopen if this is still occuring on latest

[2015-02-25 20:32] #6875 closed

[2015-02-25 20:32] cpuguy83 commented on #11020
@jvinod So, can you take a look at https://github.com/cpuguy83/docker/blob/volume_drivers/volumes/volumedriver/driver.go

The idea here is to move the current implementation into drivers, and then we can add new drivers (ie, ceph, gluster, nfs, fuse, <whatever>).
The interface is not final (or even really tested, just a placeholder for something better at the moment)

This will be coupled with #84

[2015-02-25 20:34] estesp commented on #11008
The difficulty may be in determining which stopped containers with `restart==always` were stopped by daemon shutdown vs. manual stop sometime prior to daemon shutdown.   They will all show as stopped and the only trigger the daemon knows about is restart policy.  I think you almost more likely want a metadata change versus some knowledge that the container was stopped via manual methods as opposed

[2015-02-25 20:34] jfrazelle commented on #6353
ping @vbatts @unclejack status?

[2015-02-25 20:40] jfrazelle commented on #4307
closing as dup of https://github.com/docker/docker/issues/2167

[2015-02-25 20:40] #4307 closed

[2015-02-25 20:40] jfrazelle commented on #4307
also https://github.com/docker/docker/issues/5332

[2015-02-25 20:41] jfrazelle commented on #5332
just associating this with https://github.com/docker/docker/pull/9882 so we dont forget

[2015-02-25 20:45] jfrazelle commented on #7128
closing as this is the same as https://github.com/docker/docker/issues/6817 and we are trying to cleanup and merge things

[2015-02-25 20:45] #7128 closed

[2015-02-25 20:48] jfrazelle commented on #4527
seems to be a problem with either your setup od boot2docker hosts so please open there if this is still an issue

[2015-02-25 20:48] #4527 closed

[2015-02-25 20:50] jfrazelle commented on #6607
ping @crosbymichael status on this?

[2015-02-25 20:51] jfrazelle commented on #6688
there are lots of filters now and fun ways to do this so closing

[2015-02-25 20:51] jfrazelle commented on #6688
nm i see this wants a new flag

[2015-02-25 20:55] jfrazelle commented on #11015
closing as dup of https://github.com/docker/docker/issues/5899 sorry i didnt see this before

[2015-02-25 20:55] #11015 closed

[2015-02-25 20:56] jfrazelle commented on #6672
i was stracing it too, but also related is this
https://github.com/docker/docker/issues/5899 so i think it is safe to close

On Wed, Feb 25, 2015 at 12:19 PM, aidanhs <notifications@github.com> wrote:

[2015-02-25 20:57] moxiegirl commented on #11019
So, I'm not sure everyone has Makefile experience. So, reading a Makefile to investigate the targets is a bit heavy duty.

As a newb, I was told use `make` on local host and `project/make.sh` in my container.  So, I just assumed they would have equivalency --- I'm not sure that is an unexpected assumption.

If the goal is to lower the bar for contributing, this would be a nice easy step.  Lots of

[2015-02-25 20:57] jfrazelle commented on #3737
I think we can close this as being included in https://github.com/docker/docker/issues/8951

[2015-02-25 20:57] #3737 closed

[2015-02-25 20:58] jfrazelle commented on #5725
this is also related https://github.com/docker/docker/issues/9340

[2015-02-25 20:59] damm commented on #6607
My interests were resolved after knowing that it requires a privileged container; there are bugs with certain kernel versions that make this different.

[2015-02-25 20:59] damm commented on #6604
That's a shame; close a valid issue even though it's old :(

Any chance issues can be worked instead of closed @jfrazelle?

[2015-02-25 21:00] jfrazelle commented on #11019
no totally as lot as we have both :D and the makefile shows exactly what is
being executed still :)

On Wed, Feb 25, 2015 at 12:57 PM, moxiegirl <notifications@github.com>
wrote:

[2015-02-25 21:04] jfrazelle commented on #6604
its pre 1.0

On Wed, Feb 25, 2015 at 1:00 PM, Scott M. Likens <notifications@github.com>
wrote:

[2015-02-25 21:07] danbeaulieu opened #11021 "Docker stop with timeout takes a lot longer than without a timeout"
If we use the stop endpoint with a timeout of any value it takes atleast an extra 5-10 seconds to return, where as ommitting the timeout parameter (implied 10 second timeout )results in a much quicker stop.

This behavior can be seen for all values of t.
[code]

[2015-02-25 21:10] jfrazelle commented on #7010
I think we are pretty close to removing integration entirely right :D

[2015-02-25 21:11] jfrazelle commented on #6902
closing as dup of https://github.com/docker/docker/issues/6400

[2015-02-25 21:11] #6902 closed

[2015-02-25 21:12] jfrazelle commented on #3041
@SvenDowideit status?

[2015-02-25 21:13] jfrazelle commented on #6903
status on this anyone? is this something that should be in v2

[2015-02-25 21:14] tiborvass commented on #7010
@jfrazelle this issue is solely about the integration-cli tests. But yeah we need to also remove the integration folder.

[2015-02-25 21:14] jfrazelle commented on #7235
hub issues need to be filed with support@docker.com, so sorry it took so long to respond to this issue

[2015-02-25 21:14] #7235 closed

[2015-02-25 21:15] jfrazelle commented on #3124
ping @cpuguy83

[2015-02-25 21:17] jfrazelle commented on #7275
can you please try with the latest version of docker and if you still see it give exact steps to reproduce

[2015-02-25 21:17] jfrazelle commented on #5856
was there a consensus

[2015-02-25 21:19] jfrazelle commented on #6038
Actually it looks like the errors have been improved on latest, closing but ping me if you disagree

[2015-02-25 21:19] #6038 closed

[2015-02-25 21:19] jfrazelle commented on #6038
also https://github.com/docker/docker/issues/6927 should cover anything remaining

[2015-02-25 21:20] #7313 closed

[2015-02-25 21:22] cpuguy83 commented on #3124
Volumes will now inherit permissions of the files in the image, unless they are bind mounted, for example(`docker run -v /path/on/host:/path/in/container`), and that is expected behavior.

Based on the linked issues, I believe this issue is resolved, so I am closing.
If not, pleas ping here.  Thanks!

[2015-02-25 21:22] #3124 closed

[2015-02-25 21:22] jfrazelle commented on #1839
closing as covered by https://github.com/docker/docker/issues/2167

[2015-02-25 21:22] #1839 closed

[2015-02-25 21:22] jfrazelle commented on #1839
i mean duplicate

[2015-02-25 21:23] jfrazelle commented on #6446
@cpuguy83 do you know what the solution would be here? can we triage

[2015-02-25 21:25] jfrazelle commented on #7010
sorry reading too many things at once got excited

[2015-02-25 21:26] jfrazelle commented on #6615
I think like @tiborvass said

Anyone know any other solutions that would work here?

[2015-02-25 21:26] kordless opened #11022 "docker hello-world"
Several pages, including https://docs.docker.com/installation/mac/ mention running the following command:

    docker hello-world

This actually results in an error:

    superman:~ kord$ docker hello-world
    Error: Command not found: hello-world

Might want to check the docs for that string and fix!

[2015-02-25 21:27] jfrazelle commented on #7369
closing as failure to give more info but please ping me if you come back with the requested information

[2015-02-25 21:27] #7369 closed

[2015-02-25 21:29] cpuguy83 commented on #6446
**Summary**: `docker stop` sends `SIGKILL` after a timeout period which could be disastrous to many applications.

**Proposed Solution**: Change `docker stop` to not send `SIGKILL`

**Workaround**: Use `docker kill -s TERM <container>`, which only sends `SIGTERM` to the container.

[2015-02-25 21:31] dmp42 commented on #6903
@jfrazelle unit tests for byte-range support (both resumable pull and push), yeah.
Might be black-belt++ though.

[2015-02-25 21:31] jfrazelle commented on #6446
cool you rule @cpuguy83

[2015-02-25 21:33] tiborvass commented on #6604
@damm what would be an easy way of reproducing this?

[2015-02-25 21:33] jfrazelle commented on #11022
this is fixed in the docs built from master you will see it in the main docs soon sorry about the inconvenience

[2015-02-25 21:33] #11022 closed

[2015-02-25 21:33] jfrazelle commented on #11022
http://docs.master.dockerproject.com/installation/mac/

[2015-02-25 21:36] jfrazelle commented on #7381
I think we can close this as a dup of https://github.com/docker/docker/issues/769 no?

[2015-02-25 21:36] jfrazelle commented on #7381
@erikh just let me know otherwise, trying to consolidate some things

[2015-02-25 21:36] #7381 closed

[2015-02-25 21:37] jfrazelle commented on #7253
changed from proposal to improvement bc this would be very nice

[2015-02-25 21:39] dmp42 commented on #1438
@jfrazelle sure we can move the issue. Who do you think should work on it (Fred?)?

[2015-02-25 21:40] jfrazelle commented on #7416
ping @jlhawn @steeve @dmcgowan @dmp42 is this still an issue

[2015-02-25 21:42] jfrazelle commented on #7358
can we combine these two issues somehow? https://github.com/docker/docker/issues/5893 and this? or @mcculloughsean and @saden1  are you both set on different things. But yes I think we all want this :D

[2015-02-25 21:44] jfrazelle commented on #1438
Its up to you just trying to triage things :D

[2015-02-25 21:44] stevvooe commented on #10740
@icecrime @jfrazelle @crosbymichael Could you take a peak at this?

[2015-02-25 21:45] dmp42 commented on #1438
Then let's close this :)
Updating registry v1 documentation is absolutely low-priority and probably not going to happen unless someone from the docs team pick-it up.

[2015-02-25 21:45] #1438 closed

[2015-02-25 21:46] dmp42 commented on #7416
@etehtsea is this still an issue?

[2015-02-25 21:47] jfrazelle commented on #4829
closing as duplicate of https://github.com/docker/docker/issues/8069 hopefully will be resolved soon!

[2015-02-25 21:47] #4829 closed

[2015-02-25 21:48] jfrazelle commented on #7447
ping @SvenDowideit

[2015-02-25 21:49] #7416 closed

[2015-02-25 21:50] etehtsea commented on #7416
Seems that it's not.

[2015-02-25 21:54] moxiegirl opened #11023 "Installation instructions should lead with cURL to ensure latest Docker release"
**Summary**:

Installation via a package manager such as `brew`, `apt-get`, etc. can cause customers to be behind the official Docker release; sometimes causes confusion.

**Proposed solution**:

via Eric:
[What Google does](https://cloud.google.com/compute/docs/gcutil/#install) is a good practice here. They provide something convenient as well as manual instructions. I think this is what we shoul

[2015-02-25 21:54] jfrazelle commented on #6454
closing as dup of https://github.com/docker/docker/issues/4962

[2015-02-25 21:54] #6454 closed

[2015-02-25 21:56] jfrazelle commented on #2780
I think this can be closed now @thaJeztah can you still reproduce, ill leave open for now :)

[2015-02-25 21:57] jfrazelle commented on #7277
closed as duplicate of https://github.com/docker/docker/issues/7115, trying to consolidate so we can get cool stuff like this is

[2015-02-25 21:57] #7277 closed

[2015-02-25 21:58] #7503 closed

[2015-02-25 21:58] jfrazelle commented on #4136
@SvenDowideit i take it this is still an issue?

[2015-02-25 22:00] jfrazelle commented on #4383
closing as you should be able to do http://user:pass@url but let me know if you disagree @coderlol

[2015-02-25 22:00] #4383 closed

[2015-02-25 22:02] jfrazelle commented on #2800
closing, but @kiorky if you are able to still not get it to work with --privileged lmk

[2015-02-25 22:02] #2800 closed

[2015-02-25 22:03] jfrazelle commented on #7376
@shin- just making sure this is still an issue, if so I have triaged accordingly

[2015-02-25 22:04] jfrazelle commented on #7347
for issues with the hub specifically please email support@docker.com, sorry I was unable to reproduce locally

[2015-02-25 22:04] #7347 closed

[2015-02-25 22:05] jfrazelle commented on #6479
ping @crosbymichael im going to label as black-belt hope thats cool

[2015-02-25 22:06] jfrazelle commented on #7623
@cpuguy83 ping :D

[2015-02-25 22:08] jfrazelle commented on #2740
also related https://github.com/docker/docker/issues/7115

[2015-02-25 22:09] jfrazelle commented on #7255
closing as dup of https://github.com/docker/docker/issues/8427

[2015-02-25 22:09] #7255 closed

[2015-02-25 22:09] jfrazelle commented on #7255
but yes this would be cool :)

[2015-02-25 22:10] jfrazelle commented on #7664
closing as duplicate of https://github.com/docker/docker/issues/7115 and yes this would be cool, also for hub specific requests I would reach out to support@docker.com

[2015-02-25 22:10] #7664 closed

[2015-02-25 22:11] jfrazelle commented on #3506
also related https://github.com/docker/docker/issues/8427

[2015-02-25 22:12] jfrazelle commented on #3506
@ademaria if you think the issue I linked coveres your concerns you are more than welcome to close this so we can cleanup house a bit, otherwise no worries it can stay open

[2015-02-25 22:12] jfrazelle commented on #7255
also see #3506

[2015-02-25 22:13] jfrazelle commented on #7695
can you try again with the latest version @wyaeld

[2015-02-25 22:15] jfrazelle commented on #7761
ping @dmcgowan @jlhawn @dmp42

[2015-02-25 22:16] jfrazelle commented on #6032
closing @thedeeno please let me know if this is still a prob with the latest version

[2015-02-25 22:16] #6032 closed

[2015-02-25 22:17] jfrazelle commented on #6328
hmmmm can anyone reproduce this anymore

[2015-02-25 22:18] jfrazelle commented on #7417
@carver did you try @discordianfish suggestion?

[2015-02-25 22:19] jfrazelle commented on #5490
@ibuildthecloud is this still an issue, did we end up fixing the profile?

[2015-02-25 22:21] jfrazelle commented on #7804
we made some improvements to symlinks but I do not know if you can symlink the whole dir :/ @therealprologic I take this isn't fixed yet

[2015-02-25 22:22] jfrazelle commented on #7811
@cpuguy83 i think this might be a duplicate of something but idk

[2015-02-25 22:23] jfrazelle commented on #7796
@crosbymichael any status on this, should we make it black-belt

[2015-02-25 22:23] dmp42 commented on #7761
Put otherwise: a v1 push that fails for authentication denied does not output a meaningful message to the user.

[2015-02-25 22:27] jfrazelle commented on #7070
@tlunter can you close or give exact steps to reproduce

[2015-02-25 22:29] jfrazelle commented on #7856
@coderlol this should be fixed now, please ping me if you are able to reproduce on latest version and the exact steps for reproducing and i will be happy to reopen

[2015-02-25 22:29] #7856 closed

[2015-02-25 22:32] jfrazelle commented on #7926
@erikh is this still an issue, bleh userland proxy

[2015-02-25 22:33] jfrazelle commented on #8533
closing as dup of https://github.com/docker/docker/issues/4962

[2015-02-25 22:33] #8533 closed

[2015-02-25 22:33] jfrazelle commented on #7853
closing as dup of https://github.com/docker/docker/issues/4962

[2015-02-25 22:33] #7853 closed

[2015-02-25 22:35] jfrazelle commented on #7892
it prompts for credentials now afaik, but ping me if otherwise

[2015-02-25 22:35] #7892 closed

[2015-02-25 22:36] #7909 closed

[2015-02-25 22:37] jfrazelle commented on #7651
theres a few issues on updating api docs so closing

[2015-02-25 22:37] #7651 closed

[2015-02-25 22:39] jfrazelle commented on #8022
i think this should be fixed @gabrtv please ping me and i will reopen if you can give steps to reproduce on latest bersion

[2015-02-25 22:39] #8022 closed

[2015-02-25 22:48] jfrazelle commented on #7719
we decided we did not want to have a way to search all the images see https://github.com/docker/docker/pull/8155

[2015-02-25 22:48] #7719 closed

[2015-02-25 22:50] dkirrane commented on #8899
Are there any limits on port ranges?
I'm publishing approx. 200 ports
`docker run -p 7000-7200 -p 8080 webservice`

If I `exec` into the container I can curl to the webservice URL:
`curl http://localhost:8080/my/web/service`

But if I do same from the host ip it just gets stuck loading the page:
`curl http://HOST_IP:8080/my/web/service`

[2015-02-25 22:51] jfrazelle commented on #7888
closing as dup of https://github.com/docker/docker/issues/6318

[2015-02-25 22:51] #7888 closed

[2015-02-25 22:52] metalivedev commented on #7892
released version of 1.5 does not prompt for credentials if a pull fails. @jfrazelle
current master version also does not prompt (tested master.dockerproject.com Client version: 1.5.0-dev Git commit (client): 9a2e58d)

[code]

[2015-02-25 22:53] jfrazelle commented on #7439
closing, but @justlooks if you are able to reproduce on the latest version, please give the full steps and ping me thanks

[2015-02-25 22:53] #7439 closed

[2015-02-25 22:54] jfrazelle commented on #8045
can you please open this issue on docker/registry seeing as it is a registry specific issue, sorry for the delay is response

[2015-02-25 22:54] #8045 closed

[2015-02-25 22:55] jfrazelle commented on #7880
hmm  could this be solved with ONBUILD

@tiborvass did you have something in mind i see you are assigned

[2015-02-25 22:57] jfrazelle commented on #7936
ping @estesp resolv.conf :)

[2015-02-25 22:58] jfrazelle commented on #4451
seeing as we have ipv6 support _in_ docker I think it is up to the hub to update now eh @kencochrane

[2015-02-25 23:00] jfrazelle commented on #7977
closing as apt-show-versions bug is an issue _not_ in docker itself and we have reasons for the way it works today as clearly shown above

[2015-02-25 23:00] #7977 closed

[2015-02-25 23:01] jfrazelle commented on #8048
this shouldn't be that hard if a newcomer want something to contribute ;)

[2015-02-25 23:02] jfrazelle commented on #7970
@mbert are you still seeing this problem

[2015-02-25 23:03] #8107 closed

[2015-02-25 23:04] jfrazelle commented on #8077
closing as duplicate of https://github.com/docker/docker/issues/6805

[2015-02-25 23:04] #8077 closed

[2015-02-25 23:05] jfrazelle commented on #7296
@sfitts do you still see this on the latest version of docker

[2015-02-25 23:05] jfrazelle commented on #7296
if so can you give steps to reproduce thanks

[2015-02-25 23:05] #7720 closed

[2015-02-25 23:06] jfrazelle commented on #7720
looks like it was resolved let me know if you think otherwise

[2015-02-25 23:08] jfrazelle commented on #8086
close as dup of https://github.com/docker/docker/issues/7919

[2015-02-25 23:08] #8086 closed

[2015-02-25 23:08] jfrazelle commented on #7919
where do feature requests for hub go? it feels weird to close this

[2015-02-25 23:09] jfrazelle commented on #7919
ping @kencochrane there should be a public place

[2015-02-25 23:10] jfrazelle commented on #8236
@frank-dspeed can you give exact steps to reproduce on the latest version

[2015-02-25 23:15] metalivedev commented on #7919
We don't (and can't) support the Hub via GitHub. It is not an open source project. Please send feature requests and issues to support@docker.com. If you would like to start a thread and show support for a specific feature request, you could do that on forums.docker.com.

Expanding on the "can't" part: the more queues the support team has to watch, the higher the probability of something falling th

[2015-02-25 23:16] DanTheColoradan commented on #7249
:+1:

[2015-02-25 23:18] jfrazelle commented on #7919
thanks for explaining @metalivedev totally understandable, I will let @thaJeztah choose the course of action ;)

[2015-02-25 23:22] jfrazelle commented on #7485
going to close as it seems to be resolved, but ping me if that is not the case

[2015-02-25 23:22] jfrazelle commented on #8258
@simontesar was this ever resolved

[2015-02-25 23:25] jfrazelle commented on #6507
@gdm85 was this resolved by #6034 or no?

[2015-02-25 23:26] thaJeztah commented on #8899
@dkirrane is your webservice perhaps only listening on `localhost`? It should be listening on "any" IP-address (ie, `0.0.0.0`)

[2015-02-25 23:27] jfrazelle commented on #8292
please file hub feature requests to support@docker.com or forum.docker.com

[2015-02-25 23:27] #8292 closed

[2015-02-25 23:27] jfrazelle commented on #8292
https://forums.docker.com/

[2015-02-25 23:29] jfrazelle commented on #7182
closing as duplicate of https://github.com/docker/docker/issues/4763

[2015-02-25 23:29] #7182 closed

[2015-02-25 23:30] jfrazelle commented on #7697
please file feature requests for hub to support@docker.com or forums.docker.com

[2015-02-25 23:30] #7697 closed

[2015-02-25 23:30] aanm opened #11024 "Proposal: Docker should be aware of Dockerfile changes"
Is it possible to have docker being aware when the Dockerfile was changed?
For example, if I have a Dockerfile inside a directory I would like to at least be warned that the Dockerfile was changed for the docker container that I'm trying to run.
Time line example:
- Create a Dockerfile
- Build using `docker build something`
- Run that image creating a container called `foo`, by doing `docker run -

[2015-02-25 23:31] jfrazelle commented on #4351
@duglin didnt we add mtime

[2015-02-25 23:32] jfrazelle commented on #7756
our hostnames are valid https://github.com/docker/docker/pull/8194#issuecomment-57379360

[2015-02-25 23:32] #7756 closed

[2015-02-25 23:33] jfrazelle commented on #7527
closing as this seems to be resolved but let me know otherwise

[2015-02-25 23:33] #7527 closed

[2015-02-25 23:35] md5 commented on #8899
@dkirrane your service's ports are being published on random host ports.

Try this:

    docker run -p 7000-7200:7000-7200 -p 8080:8080 webservice

[2015-02-25 23:35] jfrazelle commented on #1911
@srid @aidanhs are you able to reproduce with the latest version of docker or is this resolved, if you can reproduce can you please give the exact steps you used

[2015-02-25 23:36] jfrazelle commented on #6978
@sukrit007 @lwf can you reproduce on the latest version

[2015-02-25 23:37] jfrazelle commented on #5695
I don't think we do want the relationship closing but feel free to give use cases as to why they should be related

[2015-02-25 23:37] #5695 closed

[2015-02-25 23:38] md5 commented on #8899
Be aware that starting a container with a large published range of ports like that is currently quite slow. I didn't dig into it, but I'm assuming the reason is that Docker is creating individual `iptables` rules for each port in the range instead of taking advantage of `iptables`'s native ability to map port ranges.

[2015-02-25 23:38] jfrazelle commented on #5768
@SvenDowideit if we move the base docs to another repo should we move all the issues :D

[2015-02-25 23:38] ferrouswheel commented on #10815
Alternative work around while waiting for this to get into a released version of docker:

[code]

[2015-02-25 23:39] jfrazelle commented on #11024
what about git?

[2015-02-25 23:41] aanm commented on #11024
@jfrazelle what does git does?

[2015-02-25 23:45] tgpfeiffer commented on #7756
@crosbymichael By "we do ensure" did you mean "such a check is already in place" or "we will add such a check"?

[2015-02-25 23:50] thaJeztah commented on #2780
@jfrazelle I'm still getting this error;

[code]

Doing the same in a Dockerfile works;

[code]

However, https://github.com/docker/docker/issues/2780#issuecomment-51642641 might give what most users need and I haven't seen reports recently, it could be treated as a corner-case, so not sure if it's worth time spending on?

[2015-02-25 23:52] jfrazelle commented on #2780
ah ok cool good to know

[2015-02-25 23:52] jfrazelle commented on #2780
idk i put black-belt but lmk if you think differently

[2015-02-25 23:56] shin- commented on #7376
Yeah, it's still an issue. Labels look accurate.

[2015-02-25 23:59] wyaeld commented on #7695
Sure, it will take a few days though, out of town and running off mobile
data, which would be an expensive test

On Thu, Feb 26, 2015, 11:15 AM Jessie Frazelle <notifications@github.com>
wrote:

[2015-02-26 00:03] thaJeztah commented on #7919
Ooh, completely forgot this one.

I'll close this and create a support ticket at "docker support"

[2015-02-26 00:03] #7919 closed

[2015-02-26 00:03] jfrazelle commented on #8174
@nhatnguyen26 are you still seeing this on the latest version of docker

[2015-02-26 00:09] jvinod commented on #11020
@cpuguy83 I took a look at that interface... I think the fundamental motivation is well aligned.

This PR is perhaps an evolution on your original PR and is a stab at defining a more comprehensive pluggable storage management interface with somewhat different semantics. It doesn't assume block or file as the underlying storage provider, and is designed from the point of view of an application's re

[2015-02-26 00:10] thaJeztah commented on #9300
@jfrazelle another issue that probably doesn't belong here; I think it's best to close it, but two things might be needed;

 - update the status and/or close down the https://github.com/docker/www.docker.io repository (is it still used or not?)
 - clarify where issues wrt the website should be posted

[2015-02-26 00:12] thaJeztah commented on #8899
^^ oh, correct, wasn't paying attention

[2015-02-26 00:13] jfrazelle commented on #9300
ping @kencochrane ^^ :) thanks @thaJeztah

[2015-02-26 00:19] jfrazelle commented on #7821
@rkononov are you still seeing this on the latest version of docker

[2015-02-26 00:19] jfrazelle commented on #7693
@cpuguy83 can we close

[2015-02-26 00:20] jfrazelle commented on #5242
can you try again with lxc 1.0.7 and the latest version of docker thanks

[2015-02-26 00:21] jfrazelle commented on #7855
can you please try with the latest version of docker and lxc 1.0.7

[2015-02-26 00:21] jfrazelle commented on #6671
can you please try with the latest version of docker and lxc 1.0.7

[2015-02-26 00:21] jfrazelle commented on #5651
can you please try with the latest version of docker and lxc 1.0.7

[2015-02-26 00:28] jfrazelle commented on #8615
this was fixed

[2015-02-26 00:28] #8615 closed

[2015-02-26 00:29] jfrazelle commented on #7671
can we combine all these into one issue @ahmetalpbalkan

[2015-02-26 00:31] jfrazelle commented on #7669
also see https://github.com/docker/docker/issues/2583

[2015-02-26 00:32] jfrazelle commented on #8126
is this still reproducable on the latest version of docker

[2015-02-26 00:32] jfrazelle commented on #7285
is this still reproducible on the latest version of docker

[2015-02-26 00:34] jfrazelle commented on #8424
closing as duplicate of https://github.com/docker/docker/issues/8363

[2015-02-26 00:34] #8424 closed

[2015-02-26 00:35] jfrazelle commented on #8424
also see #7249

[2015-02-26 00:36] jfrazelle commented on #8442
cannot reproduce with lxc 1.0.7 and latest verison of docker

[2015-02-26 00:36] #8442 closed

[2015-02-26 00:37] jfrazelle commented on #8454
closing looks like this was resolved but lmk if otherwise

[2015-02-26 00:37] #8454 closed

[2015-02-26 00:41] icecrime commented on #10740
SGTM overall, with a few questions.

I agree that supporting `<name>@<digest>` makes perfect sense, I'm just worried about the way things will show up in `docker images` output. The same goes for that sentence:

Does it mean that I can have multiple entries for `REPOSITORY=ubuntu`, `TAG=latest`, and different `IMAGE ID`? I'd rather *not* display the tag at all when we did a "digest pull".

[2015-02-26 00:42] jfrazelle commented on #5704
this is fixed on master
[code]

[2015-02-26 00:42] #5704 closed

[2015-02-26 00:42] jfrazelle commented on #6388
ping @estesp I think this should be fixed right

[2015-02-26 00:43] jfrazelle commented on #5742
also see https://github.com/docker/docker/issues/9878

[2015-02-26 00:44] jfrazelle commented on #8477
closing, @pelcasandra if you provide the requested information and a way to reproduce on the latest version of docker, i am happy to reopen

[2015-02-26 00:44] #8477 closed

[2015-02-26 00:47] ncdc commented on #10740
@icecrime I'm not sure what the best UX for this will be. However, since I originally wrote this proposal, after talking about it with @stevvooe, we think it doesn't make sense to try to support `name:tag@digest`. I have updated the issue text above to say just `name@digest`.

[2015-02-26 00:48] jfrazelle commented on #2045
see also https://github.com/docker/docker/issues/3285

[2015-02-26 00:49] jfrazelle commented on #8514
Seems like this has been resolved, closing

[2015-02-26 00:49] #8514 closed

[2015-02-26 00:50] jfrazelle commented on #6728
closing, but if you are able to reproduce on docker latest version please give us the exact steps to do so and we will reopen

[2015-02-26 00:50] #6728 closed

[2015-02-26 00:51] jfrazelle commented on #6047
@mitchcapper can you please try with the latest version of docker

[2015-02-26 00:53] jfrazelle commented on #6917
closing, but let me know if you are able to reproduce on the latest version of docker and the exact steps you used to do so

[2015-02-26 00:53] #6917 closed

[2015-02-26 00:54] jfrazelle commented on #4952
closing as duplicate of https://github.com/docker/docker/issues/6743

[2015-02-26 00:54] #4952 closed

[2015-02-26 00:55] jfrazelle commented on #8519
closing as duplicate of https://github.com/docker/docker/issues/6743

[2015-02-26 00:55] #8519 closed

[2015-02-26 00:56] jfrazelle commented on #8537
@zyndiecate can you try with the latest version of docker

[2015-02-26 00:56] sfitts commented on #7296
@jfrazelle -- not sure.  I'm not in a position to update to the current version on Windows right now, but when I get some time I'll let you know.

[2015-02-26 00:57] jfrazelle commented on #7967
this could be added as a `--filter`

[2015-02-26 00:58] jfrazelle commented on #8647
@cpuguy83 is there any status on this, should it be labeled as bug or improvement

[2015-02-26 00:59] cpuguy83 commented on #8647
I consider it a bug.

[2015-02-26 01:00] jfrazelle commented on #7087
If this is a problem with the debian or ubuntu builds please file those with their bug tracker

I am not able to reproduce to latest docker version

[2015-02-26 01:00] #7087 closed

[2015-02-26 01:00] #8652 closed

[2015-02-26 01:02] jfrazelle commented on #8667
ping @tiborvass @duglin

[2015-02-26 01:03] coolljt0725 commented on #5742
+1

[2015-02-26 01:04] jfrazelle commented on #7971
closing as duplicate of https://github.com/docker/docker/issues/7205

[2015-02-26 01:04] #7971 closed

[2015-02-26 01:06] jfrazelle commented on #8693
are you able to reproduce on the latest version of docker and if so can you please give exact steps to do so

[2015-02-26 01:07] jfrazelle commented on #8242
@burke are you still seeing this on the latest version of docker

[2015-02-26 01:08] jfrazelle commented on #8499
ping @rhatdan

also @porjo are you able to reproduce on the latest version of docker

[2015-02-26 01:11] jfrazelle commented on #7952
is this still an issue with the latest version of docker

[2015-02-26 01:13] jfrazelle commented on #10946
fixed by https://github.com/docker/docker/pull/10951, @rhatdan lmk if I am wrong

[2015-02-26 01:13] #10946 closed

[2015-02-26 01:13] jfrazelle commented on #10802
@dmp42 did you all work this out?

[2015-02-26 01:14] sammcj commented on #7952
Yes, we still have to manually patch and rebuild Docker to use it with SELinux

[2015-02-26 01:15] jfrazelle commented on #10876
closed by https://github.com/docker/docker/pull/10498

[2015-02-26 01:15] #10876 closed

[2015-02-26 01:16] jfrazelle commented on #10684
@MitchK are you still seeing this problem

[2015-02-26 01:18] jfrazelle commented on #10376
we should throw an error if the user is using the native driver and trying to user --lxc-conf, this should be an easy fix for any newcomer who whats to contribute

[2015-02-26 01:19] #9950 closed

[2015-02-26 01:20] jfrazelle commented on #9745
see https://github.com/docker/docker/pull/10704#issuecomment-75618240, this should be documented

[2015-02-26 01:21] #7979 closed

[2015-02-26 01:23] jfrazelle commented on #2918
duplicate of https://github.com/docker/docker/issues/7906

[2015-02-26 01:23] #2918 closed

[2015-02-26 01:25] jfrazelle commented on #7952
ah ok cool good to know thanks

On Wed, Feb 25, 2015 at 5:14 PM, Sam <notifications@github.com> wrote:

[2015-02-26 01:25] cpuguy83 commented on #7811
Not explicitly no, but handled by #8484

[2015-02-26 01:26] jfrazelle commented on #7296
great thanks!

On Wed, Feb 25, 2015 at 4:56 PM, Sean Fitts <notifications@github.com>
wrote:

[2015-02-26 01:27] jfrazelle commented on #8701
seems to be fixed

[2015-02-26 01:27] #8701 closed

[2015-02-26 01:29] jfrazelle commented on #8042
closing as duplicate of https://github.com/docker/docker/issues/3909

[2015-02-26 01:29] #8042 closed

[2015-02-26 01:30] jfrazelle commented on #8705
not everyone runs command from the cli, there is also the api, seems not possible

[2015-02-26 01:30] #8705 closed

[2015-02-26 01:31] jfrazelle commented on #5901
can you try with the latest version of docker

[2015-02-26 01:32] jfrazelle commented on #8719
a lot of fixes to hijack were added in 1.4 and 1.5, closing, but if you are still able to reproduce please give the exact steps to do so on the latest version and we will reopen

[2015-02-26 01:32] #8719 closed

[2015-02-26 01:34] jfrazelle commented on #8720
closing as duplicate of https://github.com/docker/docker/issues/4106

[2015-02-26 01:34] #8720 closed

[2015-02-26 01:34] jfrazelle commented on #7630
@SvenDowideit status on this

[2015-02-26 01:34] cpuguy83 commented on #7623
Closing since I cannot reproduce this on 1.5, and volumes have had significant changes since then.

Please ping if you can repro this.

[2015-02-26 01:34] #7623 closed

[2015-02-26 01:35] #8163 closed

[2015-02-26 01:35] dmp42 commented on #10802
@jfrazelle #10863 is the diagnostic, while this one here describes some possible symptoms.

@chmanie I'm going to close this issue as a duplicate then, and let the other one to track progress. Let me know if you feel this should rather stay open.

[2015-02-26 01:35] #10802 closed

[2015-02-26 01:36] jfrazelle commented on #8148
@duglin @tiborvass will this be fixed by the patch to error out https://github.com/docker/docker/pull/10591

[2015-02-26 01:37] jfrazelle commented on #8199
closing because of the reason here https://github.com/docker/docker/pull/8155#issuecomment-56557938

[2015-02-26 01:37] #8199 closed

[2015-02-26 01:38] jfrazelle commented on #8640
I canno reproduce, closing but if you are able to reproduce please give us all logs and the exact steps to reproduce

[2015-02-26 01:38] #8640 closed

[2015-02-26 01:40] jfrazelle commented on #5926
should this be opened on libcontainer?

[2015-02-26 01:41] mgcrea commented on #5901
@jfrazelle I have not encountered this issue in a while. I guess it must have been fixed somehow.

[2015-02-26 01:41] #5901 closed

[2015-02-26 01:41] #8757 closed

[2015-02-26 01:43] jfrazelle commented on #8758
unpacking by default would be a security hole

[2015-02-26 01:43] #8758 closed

[2015-02-26 01:44] jfrazelle commented on #3484
ping @cpuguy83

[2015-02-26 01:45] jfrazelle commented on #6088
shouldnt this be opened on libcontainer?

[2015-02-26 01:46] jfrazelle commented on #8785
closing as duplicate of https://github.com/docker/docker/issues/5332

[2015-02-26 01:46] #8785 closed

[2015-02-26 01:47] #8784 closed

[2015-02-26 01:48] jfrazelle commented on #8648
@fredlf @SvenDowideit is this still an issue

[2015-02-26 01:48] anilrona2 commented on #10185
Any luck with that issue ?

[2015-02-26 01:50] cpuguy83 commented on #3484
This is a dup for sure...

#8647 #3639

[2015-02-26 01:52] #3484 closed

[2015-02-26 01:52] jfrazelle commented on #10802
perfect thanks!

On Wed, Feb 25, 2015 at 5:35 PM, Olivier Gambier <notifications@github.com>
wrote:

[2015-02-26 01:52] jfrazelle commented on #10185
I would email support@docker.com

[2015-02-26 01:55] HuKeping opened #11026 "oom_kill_disable"
oom_kill_disable is useful  especially in production scenario. Some customers would prefer to block rather than just kill their applications when cause OOM, it's too aggressive.

Do we have any plan to add an option for this feature?

[2015-02-26 01:55] jfrazelle commented on #8819
ping @jlhawn

[2015-02-26 01:57] jfrazelle commented on #8810
you need to use `--restart always` on docker run so your containers restart

[2015-02-26 01:57] #8810 closed

[2015-02-26 01:59] jfrazelle commented on #6783
we do this to build and test docker on lxc so I know it works

ping @ashahab-altiscale is there something he is missing?

[2015-02-26 02:01] jfrazelle commented on #8824
well this is because currently you can't pull by image id, so we assume they are trying to, I think it would slow things down if we had to check it it is a real imageid when really it is just going to error out anyways

i think https://github.com/docker/docker/issues/4106 is the solution here

[2015-02-26 02:01] #8824 closed

[2015-02-26 02:02] jpellman commented on #10185
^^ What she said.

Although if it helps, my solution was to re-install the certificate (even though it should have been in ca-certificates, and in fact has been in ca-certificates on other Ubuntu installations I've had).  Here's the URL for that:
https://www.geotrust.com/resources/root-certificates/
It should be root 5 (SHA256).

[2015-02-26 02:02] jfrazelle commented on #8825
we already have a deb and are working on an rpm https://github.com/docker/docker/pull/10784

[2015-02-26 02:08] jfrazelle commented on #8162
closing, but @djl197 if you are able to reproduce with the kernel vbatts suggested and the latest version of docker lmk and we can reopen

[2015-02-26 02:08] #8162 closed

[2015-02-26 02:09] jfrazelle commented on #8830
@hesco is this still happening on the latest version of docker

[2015-02-26 02:09] tlunter commented on #7070
Haven't had an issue since switching to the btrfs storage driver.

Looks like we were doing along the lines of:

[code]

The command for create would've been a script like `bundle install` or `npm install`.  This was all orchestrated through the Remote API, and not through the CLI, so response would be immediate when shifting from wait finishing to commit.

I am not sure if this is still an issue

[2015-02-26 02:15] anilrona2 commented on #10185
Well, I tried that and it did not work for me.
I will mail them and ask.
Thanks anyway for the help.

[2015-02-26 02:22] jfrazelle commented on #7070
ok I am going to close but if anyone lands here and sees the issue on devmapper lmk and i am happy to reopen

[2015-02-26 02:22] #7070 closed

[2015-02-26 02:24] jfrazelle commented on #6189
@harshavardhana did you get around to opening a PR for this

[2015-02-26 02:24] jfrazelle commented on #6189
I now see https://github.com/docker/docker/pull/6190#issuecomment-68907817, @vbatts any comments

[2015-02-26 02:26] damm commented on #6604
@jfrazelle The comment here https://github.com/docker/docker/issues/6604#issuecomment-46901823 is very promising but unfortunately no one has paid attention to this issue since June 26th of 2014.

No need to have a negative attitude about pre 1.0 or post 1.0.

@tiborvass the easiest would be to run a very old version of Docker 0.10.1 and then upgrade it to a version that supports `libcontainer` co

[2015-02-26 02:26] jfrazelle commented on #8852
see https://github.com/docker/docker/pull/10658

[2015-02-26 02:26] #8852 closed

[2015-02-26 02:27] jfrazelle commented on #8852
you are more than welcome to add things to those references and send a PR

[2015-02-26 02:28] jfrazelle commented on #8885
looks to be fixed http://docs.master.dockerproject.com/reference/builder/#volume

[2015-02-26 02:28] #8885 closed

[2015-02-26 02:30] jfrazelle commented on #8910
what storage driver are you using, it is the same across hosts

[2015-02-26 02:30] jfrazelle commented on #8864
it's just a different flag but works the same

[2015-02-26 02:30] #8864 closed

[2015-02-26 02:34] jfrazelle commented on #8914
can you try with the latest version of docker @psycotica0

[2015-02-26 02:43] jfrazelle commented on #8945
Adding this would be a easy way for someone looking to get involved with contributing to docker to add to the docs

[2015-02-26 02:44] jfrazelle commented on #8920
can you try with the latest version of docker i am unable to reproduce

[2015-02-26 02:45] jfrazelle commented on #6997
@gregory if its alright with you can we combine yours into https://github.com/docker/docker/pull/9013 so that their are not #6839 numerous of the same issue

[2015-02-26 02:47] jfrazelle commented on #2336
I think this can be closed as a dup of https://github.com/docker/docker/issues/8427 or #9013 or #6839

[2015-02-26 02:47] #2336 closed

[2015-02-26 02:49] jfrazelle commented on #8152
closing as dup of https://github.com/docker/docker/issues/8881

[2015-02-26 02:49] #8152 closed

[2015-02-26 02:54] jfrazelle commented on #6604
Well the main problem at hard here is upgrading a docker version fails to
restart container, and I upgrade my docker version almost everyday and all
my containers restart, after docker 1.2 and the --restart policies this has
no longer been an issue.

On Wed, Feb 25, 2015 at 6:26 PM, Scott M. Likens <notifications@github.com>
wrote:

[2015-02-26 02:59] jfrazelle commented on #9058
cannot reproduce on latest closing
[code]

[2015-02-26 02:59] #9058 closed

[2015-02-26 02:59] jstangroome opened #11027 "docker run command does not notify of incorrect mac-address parameter format"
if a `--mac-address` parameter is specified to `docker run` and the MAC address is not in the expected format (ie '02:03:04:05:06:07') the container is still started with a 'random' MAC address and there is no error or warning presented to the user.

Example with bad address format and no errors:

[code]

Example with good address format and correct result:

[code]

Happens on Docker version 1.5.0

[2015-02-26 03:00] #9045 closed

[2015-02-26 03:01] jfrazelle commented on #11027
Solution for solving this issue would be a regex to validate mac-address before running the container.

[2015-02-26 03:03] jfrazelle commented on #9088
cannot reproduce on latest, probably bad version of git in container, I do not think this is a issue with docker itself

[2015-02-26 03:03] #9088 closed

[2015-02-26 03:03] jfrazelle commented on #8823
I can't reproduce a panic, closing

[2015-02-26 03:03] #8823 closed

[2015-02-26 03:05] jfrazelle commented on #9087
Hi I would suggest you checkout forums.docker.com for docker support or #docker on irc I do not think this is a problem with docker itself

[2015-02-26 03:05] #9087 closed

[2015-02-26 03:06] jfrazelle commented on #863
https://github.com/docker/docker/issues/5603 https://github.com/docker/docker/issues/9641 https://github.com/docker/docker/issues/9844 are all duplicates of this

[2015-02-26 03:07] jfrazelle commented on #9844
closing as dup of https://github.com/docker/docker/issues/9641

[2015-02-26 03:07] jfrazelle commented on #9844
see also

[2015-02-26 03:07] #9844 closed

[2015-02-26 03:08] jfrazelle commented on #9641
see also https://github.com/docker/docker/issues/5603

[2015-02-26 03:10] jfrazelle commented on #4817
see also https://github.com/docker/docker/issues/5603 https://github.com/docker/docker/issues/9641

[2015-02-26 03:10] jfrazelle commented on #4817
we need a way to merge all those

[2015-02-26 03:13] jfrazelle commented on #8754
see https://github.com/docker/docker/pull/10748

[2015-02-26 03:13] #8754 closed

[2015-02-26 03:14] philips commented on #6560
Yea! This is at runtime only. It would be great if the container could express what it is able to do too so the user doesn't silently break an app.

[2015-02-26 03:17] jfrazelle commented on #9021
@dqminh any update on the fix :D

[2015-02-26 03:19] jfrazelle commented on #5228
i added the label invalid until reprepo is fixed upstream, seemed appropriate

[2015-02-26 03:20] jfrazelle commented on #3968
can reproduce on latest

[2015-02-26 03:22] jfrazelle commented on #9125
closing as dup of https://github.com/docker/docker/issues/6982

[2015-02-26 03:22] #9125 closed

[2015-02-26 03:23] jfrazelle commented on #9114
closing as https://github.com/docker/docker/pull/9137 but @monadic let me know if you think otherwise, you can also submit a pr to that page

[2015-02-26 03:23] #9114 closed

[2015-02-26 03:24] jfrazelle commented on #9157
this is an issue i can repoduce with https://github.com/docker/docker/issues/3968#issuecomment-76115676 (dup) so closing this one, refer all comments to the issue posted

[2015-02-26 03:24] #9157 closed

[2015-02-26 03:26] jfrazelle commented on #9002
closing as dup of https://github.com/docker/docker/issues/8354

[2015-02-26 03:26] #9002 closed

[2015-02-26 03:27] jfrazelle commented on #7797
@ibuildthecloud do you still see this happening :/

[2015-02-26 03:35] jfrazelle commented on #9166
ping @dmp42 @dmcgowan @jlhawn

[2015-02-26 03:35] jfrazelle commented on #5169
@duglin +1 docs

[2015-02-26 03:36] jfrazelle commented on #2436
ping @ashahab-altiscale is this still an issue

can anyone here reproduce with latest docker and lxc 1.0.7

[2015-02-26 03:38] jfrazelle commented on #8829
I'm trying to think of what an actionable item from this is, perhaps some sort of design doc

[2015-02-26 03:40] jfrazelle commented on #4736
we have https://github.com/docker/docker/pull/8412 does that solve the problem

[2015-02-26 03:42] #9229 closed

[2015-02-26 03:43] jfrazelle commented on #9217
so close right?

[2015-02-26 03:45] jfrazelle commented on #8007
I can not reproduce with latest @phuongnd08 if you are still seeing this send us the exact steps to reproduce and dockerfile

[2015-02-26 03:45] #8007 closed

[2015-02-26 03:45] #7713 closed

[2015-02-26 03:47] icecrime commented on #10740
So I guess this adds even more weight to my "don't even *try* to show a tag in `docker images` output" remark ;-)

[2015-02-26 03:49] jfrazelle commented on #8143
see https://github.com/docker/docker/pull/10748

[2015-02-26 03:50] rkononov commented on #7821
@jfrazelle seems like issue has been resolved

[2015-02-26 03:51] jfrazelle commented on #7396
@duglin i set as black-belt wdyt? white-belt?

[2015-02-26 03:52] jfrazelle commented on #8188
ping @dmcgowan @jlhawn @steeve @dmp42

[2015-02-26 03:53] #7821 closed

[2015-02-26 03:53] jfrazelle commented on #7821
thanks @rkononov

[2015-02-26 03:58] ahmetalpbalkan commented on #9217
@jfrazelle for windows, yeah!

[2015-02-26 04:03] jfrazelle commented on #9313
I cannot reproduce this on the latest version, but let me know if and how you can and I will reopen

[2015-02-26 04:03] #9313 closed

[2015-02-26 04:13] ashahab-altiscale commented on #6783
@VictorArgote Can you run the lxc container(the host for the docker container) with --logpriority DEBUG, and paste the debug output?

[2015-02-26 04:31] jfrazelle commented on #9237
@SvenDowideit is this needed in docs

[2015-02-26 04:33] jfrazelle commented on #8575
is this still an issue with the latest version of docker and lxc 1.0.7, or can you try the native driver instead

[2015-02-26 04:33] jfrazelle commented on #9283
wdyt @vbatts is white-belt appropriate

[2015-02-26 04:34] jfrazelle commented on #9341
@tduffield can you make sure this is still an issue with the latest version of docker, thanks

[2015-02-26 04:36] jfrazelle commented on #8969
https://github.com/docker/docker/pull/10652 was merged I am going to close

[2015-02-26 04:36] #8969 closed

[2015-02-26 04:37] jfrazelle commented on #9371
closing as dup of https://github.com/docker/docker/issues/5722

[2015-02-26 04:37] #9371 closed

[2015-02-26 04:39] jfrazelle commented on #9380
can you  try with master

[2015-02-26 04:41] jfrazelle commented on #6754
closing i dont think this is an issue anymore but let me know if you are still seeing it, also i will not the user that is tab completing needs to be part of the docker group

[2015-02-26 04:41] #6754 closed

[2015-02-26 04:42] jfrazelle commented on #9331
@SvenDowideit do the docs reflect this now

[2015-02-26 04:45] jfrazelle commented on #9419
closing please let us know the exact steps to reproduce

[2015-02-26 04:45] #9419 closed

[2015-02-26 04:46] jfrazelle commented on #9363
@luan-cestari how did it go, is this still an issue

[2015-02-26 04:46] jfrazelle commented on #8231
looks like this was resolved, ping me here if otherwise

[2015-02-26 04:46] #8231 closed

[2015-02-26 04:47] jfrazelle commented on #9018
can we close? do we even want tar sum anymore?

[2015-02-26 04:47] #9434 closed

[2015-02-26 04:48] jfrazelle commented on #7041
can you try with the latest version of docker and boot2docker and if the problem lies in boot2docker please open an issue on that repo

[2015-02-26 04:48] #7041 closed

[2015-02-26 04:49] jfrazelle commented on #9310
pretty sure we don't support this kernel on scientific linux ping @vbatts

[2015-02-26 04:49] jfrazelle commented on #9310
or @unclejack

[2015-02-26 04:50] jfrazelle commented on #8513
I cannot reproduce on the latest version, please let me know if you can and I will reopen

[2015-02-26 04:52] jfrazelle commented on #8342
@dqminh is right this is fixed

[2015-02-26 04:52] #8342 closed

[2015-02-26 04:55] jfrazelle commented on #9532
i cannot reproduce with the latest docker version, if you try and can, please give us the steps to reproduce

[2015-02-26 04:55] #9532 closed

[2015-02-26 04:58] jfrazelle commented on #6880
can you give exact steps to reproduce with latest docker

[2015-02-26 04:59] jfrazelle commented on #9531
please see docker/distribution#92

[2015-02-26 04:59] #9531 closed

[2015-02-26 05:01] jfrazelle commented on #8607
I cant reproduce, please give us your exact steps to reproduce with docker master and lxc 1.0.7

[2015-02-26 05:01] #8607 closed

[2015-02-26 05:02] jfrazelle commented on #9552
ping @cpuguy83

[2015-02-26 05:03] md5 commented on #8513
@jfrazelle I just did exactly the same commands as https://github.com/docker/docker/issues/8513#issuecomment-65359848 and got the same results. I tried it both from my OS X terminal and from inside `boot2docker ssh`.

[2015-02-26 05:03] jfrazelle commented on #8027
can you test if this is still the case with docker 1.5

[2015-02-26 05:04] jfrazelle commented on #7939
@steeve will this all be replaced by v2

[2015-02-26 05:05] jfrazelle commented on #8686
closing as dupe of https://github.com/docker/docker/issues/9939

[2015-02-26 05:05] #8686 closed

[2015-02-26 05:06] jfrazelle commented on #8513
ping @icecrime what was the stuff with hijack and cat that was fixed, @md5 i have reopened

[2015-02-26 05:09] jfrazelle commented on #8513
I dont see what you are talking about tho

[code]

[2015-02-26 05:14] jfrazelle commented on #8513
ohhhh i see its this
[code]
this is not something that can be fixed you see docker run performs a new line and the file itself was adding a new line so then you get two, does that make sense

[2015-02-26 05:16] estesp commented on #8514
Also, in case people end up here and want to know more--there is also a PR underway to add the `dirperm1` option to the AUFS driver to workaround this old quirk in the AUFS layer+permissions logic; see #10390 for more info.

[2015-02-26 05:22] estesp commented on #6388
Yes, replacing localhost DNS has been fixed for quite awhile--replaced with Google DNS as noted in prior comments.

For those that **want** to take advantage of a localhost resolver on the host, there are various ideas in the comments above, but at this point there has been no strong interest to try and make Docker handle the iptables/pass-through work to get DNS requests from container -> localho

[2015-02-26 05:23] #6388 closed

[2015-02-26 05:25] md5 commented on #8513
@jfrazelle Did you try my command? The echo inside the container is only sending a single byte to stdout, i.e. `\n`. When it comes out of `docker run` with `-t`, it has an extra `\r` in front of the `\n`.

[2015-02-26 05:26] SvenDowideit opened #11031 "possible PRs to merge for a docs-update"
- 7e2328b76e041bb7a1acb3e20dbea0c379f7f024 #10869 : SvenDowideit/extract-docs-base Extract docs base
- f8dbcdc5994a300308f4d259c62b58974a25e028 #10940 : 1HLtd/master docs/man/docker.1.md: spelling mistake fix
- 321f4f06837fb5b8c1e8beb472a41c4961ec6f3a #11025 : crosbymichael/test-rm-dev Reinit slice for each dir in search
- 481e75203d8c5db264a795c35d422d081a2f03b0 #10510 : ashahab-altiscale/9875-lx

[2015-02-26 05:26] md5 commented on #8513
[code]

[2015-02-26 05:27] jfrazelle commented on #9622
dupliicate https://github.com/docker/docker/issues/9797

[2015-02-26 05:27] #9622 closed

[2015-02-26 05:28] jfrazelle commented on #8218
can you try with lxc 1.0.7 and docker latest

[2015-02-26 05:29] jfrazelle commented on #9658
there should be some sort of unification right?

[2015-02-26 05:31] estesp commented on #7936
Yes, it's possible now given `resolv.conf` with `--net=host` is a copy of the host bind-mounted into the container.  The open design questions for command-line options + `--net=host` are:
 - do you merge in the servers from command line or append them?
 - Appending them may make them useless (glibc resolver only will use first 2 or maybe 3?)
 - do you add search domains or merge them with existing

[2015-02-26 05:31] jfrazelle commented on #1906
can you try with the latest version of docker and lxc 1.0.7

[2015-02-26 05:33] #9523 closed

[2015-02-26 05:34] jfrazelle commented on #9577
can you give us the image you are building with, can you also try with the latest version of docker

[2015-02-26 05:37] jfrazelle commented on #6201
the specification is here https://github.com/docker/docker#under-the-hood if you want to change something you can always make a PR

just realized you also have https://github.com/docker/docker/issues/7939, im going to close this one so there is only one point of discussion

[2015-02-26 05:37] #6201 closed

[2015-02-26 05:39] jfrazelle commented on #9003
ping @kencochrane is this a hub thing?

[2015-02-26 05:40] jfrazelle commented on #8513
ya checkout my comment here https://github.com/docker/docker/issues/8513#issuecomment-76123655

[2015-02-26 05:41] jfrazelle commented on #11031
you broke gmail lol

On Wed, Feb 25, 2015 at 9:26 PM, Sven Dowideit <notifications@github.com> wrote:

[2015-02-26 05:42] hordemark commented on #6325
uname -a
Linux DLN-VM-CV14 2.6.32-504.3.3.el6.x86_64 #1 SMP Wed Dec 17 01:55:02 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

docker --version
Docker version 1.4.1, build 5bc2ff8/1.4.1

[2015-02-26 05:50] jfrazelle commented on #11031
also I dont know how to triage this https://github.com/docker/docker/blob/master/project/ISSUE-TRIAGE.md :P your messing w my flow

[2015-02-26 05:53] jfrazelle commented on #7335
closing as dup of https://github.com/docker/docker/issues/8188

[2015-02-26 05:53] #7335 closed

[2015-02-26 05:53] jfrazelle commented on #7291
related https://github.com/docker/docker/issues/8188

[2015-02-26 05:54] jfrazelle commented on #9722
can you give the exact commands you run thanks

[2015-02-26 05:55] jfrazelle commented on #9727
can you give exact commands to reproduce

[2015-02-26 05:56] jfrazelle commented on #9734
I think you should refer to forums.docker.com or #docker on IRC freenode for support, I do not think this is a problem with docker itself seeiing as many people run apache in a container

[2015-02-26 05:56] #9734 closed

[2015-02-26 06:08] SvenDowideit commented on #11031
@jfrazelle gosh - its not a new workflow :)

[2015-02-26 06:13] hesco commented on #8830
Not sure, still running 1.2.0 here.  Do not anticipate having a moment to test that anytime soon.  Lack a test bed and am about to start a new job which will focus my attention elsewhere.  But the hesco/weave module's $manage_firewall(?) switch was written to bypass the issue when its implemented.  -- Hugh

[2015-02-26 06:18] jfrazelle commented on #8830
No prob I'll look into it

[2015-02-26 06:38] thaJeztah commented on #8143
Because this is about build-time environment variables, I think this is actually  a duplicate of https://github.com/docker/docker/issues/4962 (which will be resolved by https://github.com/docker/docker/pull/9176).

Feel free to discuss this further on those

[2015-02-26 07:24] #8143 closed

[2015-02-26 07:36] zenlinTechnofreak opened #11033 "make test fail-pid xxx is not a child of this shell"
I got a fail when I make test of my docker,just like:
![maketest](https://cloud.githubusercontent.com/assets/9923237/6387882/8bb5c726-bdcd-11e4-99b9-9eacad2a39f1.png)

then I try,
TESTFLAGS='-v -run TestGetContainerStats' make test-integration-cli
It runs well and return success.

also  I have try TESTFLAGS='-test.run \^TestBuild\$' make test
and it return success also.

In this situatioin,is it a

[2015-02-26 07:42] znerol commented on #6880
@jfrazelle see the original report.

    docker run -u $(id -u) -v $PWD:$PWD -w $PWD ubuntu sh -c 'echo Hola > /dev/stderr'
    sh: 1: cannot create /dev/stderr: Permission denied

This will try to run the `echo` command in an ubuntu container in the current working directory with the current user.

[2015-02-26 07:50] TomasTomecek commented on #8885
To me it's still broken, both in firefox and chrome: different zoom levels expose it. This css code is breaking it:

[code]

[2015-02-26 08:10] jfrazelle commented on #11033
See the error fails on linuxcontailers.org, their site is either down or
you don't have access to the Internet

On Wednesday, February 25, 2015, Zhinan Lin(Zen Lin) <
notifications@github.com> wrote:

[2015-02-26 08:10] #11033 closed

[2015-02-26 08:11] jfrazelle commented on #11033
Also you can always check https://jenkins.dockerproject.com/job/Docker%20Master/ to see if our tests are passing on master

[2015-02-26 08:12] jfrazelle commented on #11033
Oh you changed the image, the fail is coming from somewhere above the screenshot, scroll up

[2015-02-26 08:15] blackfader commented on #10824
yes memory is not right

[2015-02-26 08:18] jfrazelle commented on #11033
Happy to help let me know if you don't see it

[2015-02-26 08:24] jfrazelle commented on #6880
yep can reproduce

[2015-02-26 08:33] blackfader opened #11035 "docker stats cpu issue"
this cpu use get cgroup value，if i edit CPU_CFS_QUOTA_US ,this value is not match.

ex : i edit CPU_CFS_QUOTA_US equivalently 4 cpu core ， this show：

CONTAINER           CPU %               MEM USAGE/LIMIT     MEM %               NET I/O
b77ab7a67c5f        403.19%             1.135 GiB/8 GiB     14.18%              0 B/0 B

[2015-02-26 08:57] thomasfr commented on #7697
Done

[2015-02-26 09:22] jfrazelle commented on #11035
I think this is the intended functionality, we read the dichroic stats so if you write to the file then yes it will change the value

[2015-02-26 10:02] aidanhs commented on #8231
Not fixed, but is superseded by #4717 - `open files                      (-n) 524288`.

[2015-02-26 10:04] jmtd commented on #11012
Managed to build the same thing fine using

    Containers: 1
    Images: 7
    Storage Driver: aufs
     Root Dir: /var/lib/docker/aufs
     Dirs: 9
    Execution Driver: native-0.2
    Kernel Version: 3.14.0-2-amd64
    Operating System: Debian GNU/Linux 7 (wheezy)

Also, exported that via `save` and importing on the buggy system with `load` works fine.

[2015-02-26 10:05] vania-pooh commented on #4736
@jfrazelle let's then close this issue.

[2015-02-26 10:05] #4736 closed

[2015-02-26 10:06] brianclements commented on #4817
It's interesting, tagging has remained sort of untouched for a long time because there are two conflicting uses for them: to show a history of an image, and to show types of an image. Technically, as with git, they are one in the same. But that, I feel, is the main reason defining "default" tag behavior has been difficult to nail down. I tend to favor tags as history rather then type. If tagging a

[2015-02-26 10:40] unclejack commented on #9310
@jfrazelle is right.

The workaround being discussed above isn't supported by anyone - it's not supported for the use of Docker by the Docker maintainers and it's not supported by those providing support for RHEL 6/CentOS 6/Scientific Linux 6. This means anyone running any other custom kernel and custom libraries (devicemapper or other libraries on the system) are running their own custom system w

[2015-02-26 11:10] vivia commented on #10031
Same problem here. Debian stable with backports kernel 3.16, but tried also 3.2. Virtualbox 4.3.22 but tried also 4.2.28. Docker version 1.5.0, build a8a31ef

Workaround: start virtualbox VM and then container.

Logs: http://paste.debian.net/hidden/fcd0f2ef/ http://paste.debian.net/hidden/4f5aae8b/

[2015-02-26 11:47] dkirrane commented on #8899
@md5 Ya sorry that was a typo. I've reduced the number of ports & mapped the port-range as described:
`docker run -d -p 7000-7003:7000-7003 -p 7053-7063:7053-7063 -p 8099:8099 -p 9080:9080 -p 9443:9443 --name="my-service" dkirrane/my-service`

Now from the host machine if I curl to my docker service using localhost the page returns. However, when I use the Host IP curl fails

[code]

[2015-02-26 12:22] vbatts commented on #9018
Seeing that we would like to sunset tarsum, I don't see that we will pursue this feature.

[2015-02-26 12:22] #9018 closed

[2015-02-26 12:55] dqminh commented on #9021
@jfrazelle oops so sorry for that. I completely forgot about it. I will try to rebase, test and open a PR for discussion asap.

[2015-02-26 13:19] Kokonoe commented on #6743
+1

[2015-02-26 13:23] coolljt0725 commented on #11027
maybe #11037 can fix this

[2015-02-26 13:32] luan-cestari commented on #9587
I couldn't reproduce the issue so far, probably one of the many entrancements or bug fixes did that

[2015-02-26 13:33] skozin commented on #2436
@jfrazelle, see https://github.com/joyent/node/issues/9131. Maybe that is another issue, but it prevents Node.js v0.11.14 and v0.12 from exiting on `SIGTERM` and `SIGINT`. Node tries to forward trapped signal to itself, but that fails because Node runs as PID 1 and cannot be terminated that way.

[2015-02-26 13:35] moxiegirl opened #11038 "LINK broken in RHEL installation doc"
Please change the EPEL link on RHEL 6.5+ installation documentation from https to http because https doesn’t work anymore. Thanks a lot.

https://docs.docker.com/installation/rhel/

[2015-02-26 13:35] rhatdan commented on #8499
These should all be fixed in docker-1.4 or greater.  Probably fixed in docker-1.3

[2015-02-26 13:39] rhatdan commented on #8499
Docker does not know anything about the "correct" selinux label.  If you move the content of any confined processes data you have to tell SELinux about it.

The correct procedure should be
[code]

Or even better
[code]
Finally why didn't you just mount the disk for /data on top of  /var and then have normal labeling.

[2015-02-26 13:40] rhatdan commented on #10946
LGTM

[2015-02-26 13:53] jperville commented on #6673
I reproduced the issue easily with 26 containers (named 'my-app-a' to 'my-app-z').

[code]

In the upstart logs (eg. '/var/log/upstart/my-app-a.log') I can see multiple lines like this one:

[code]

This issue is less now that we can specify 'restart=always' but still annoying when containers are deployed as upstart services.

[2015-02-26 13:56] ncdc commented on #10740
@icecrime here's what I was thinking with `docker images`, tags, and digests... Let's say you do this:

    docker pull foo/bar:latest

And that gives you back image id `i1` and digest `d1`. Time passes... `foo/bar:latest` gets updated. You do another pull, returning image id `i2` and digest `d2`. So you've done 2 pulls of `foo/bar:latest`, neither pull was by digest - what should we show in `dock

[2015-02-26 13:59] josh-devops-center commented on #8864
It would be helpful if you provided a link to the documentation when you close.

[2015-02-26 14:18] cpuguy83 commented on #9552
Closing since this is a dup of #8647 and #3639

[2015-02-26 14:18] #9552 closed

[2015-02-26 14:25] md5 commented on #8899
I'm not sure why you're using that method to get your host IP address, but I think you're getting the wrong IP.

[2015-02-26 14:34] nealmcb commented on #6754
As I understand it, adding a user to the docker group still effectively gives them read-write access to the entire filesystem of the the machine, and is thus as dangerous as giving them no-password sudo access.  Thus many installations don't add users to the docker group, but still want auto-complete.  I'm guessing that @tianon gets auto-completion because of being in the docker group, and despite

[2015-02-26 14:48] bfirsh commented on #9694
Compose has now been released and is available here: http://docs.docker.com/compose/

[2015-02-26 14:48] #9694 closed

[2015-02-26 14:49] bfirsh commented on #9694
Thanks all for your feedback!

[2015-02-26 14:59] goris commented on #6396
:+1:

[2015-02-26 15:04] rhatdan commented on #7952
BTRFS still does not support use with SELinux labels.  Most of the effort now is on OverlayFS.  people seem to be straying away from BTRFS.

[2015-02-26 15:08] jfrazelle commented on #8864
Sorry I had all the intention of doing to probably forgot to paste http://docs.docker.com/reference/commandline/cli/#run

[2015-02-26 15:11] #8499 closed

[2015-02-26 15:12] rikwasmus commented on #8454
Afaik, this still isn't resolved (Ubuntu 14.04.1 LTS, lxc-docker-1.5.0 from https://get.docker.io/ubuntu)

[2015-02-26 15:13] #9587 closed

[2015-02-26 15:18] #9310 closed

[2015-02-26 15:25] PositiveAlex opened #11041 "Using docker run with config file"
Hey,
I thought it would be great if we can use docker run with config.yaml propertyfiles or anything like that.

I can preconfigure all container links, env variables and other things in normal readable/modifyable format.

Then just `docker run --script link_group.yml`

This could be very usefult to stay away of long attributes (and repeated operations when running several containers together) pas

[2015-02-26 15:26] jfrazelle commented on #11031
Can we close now

[2015-02-26 15:28] jfrazelle commented on #11041
Checkout github.com/docker/fig

[2015-02-26 15:28] PositiveAlex commented on #11041
@jfrazelle thank you very much :)

[2015-02-26 15:28] jfrazelle commented on #11041
This has been discussed in detail here https://github.com/docker/docker/issues/9694

[2015-02-26 15:28] #11041 closed

[2015-02-26 15:36] JGiard commented on #9654
I have the same error on debian wheezy with docker 1.5.0 and kernel 3.16.

[2015-02-26 15:40] mszabo commented on #9654
Hello,

I had this problem as well. I had to umount the cgroups fs and remove it
from fstab. After a dockerd restart it started to work.

Regards,
  Mark
On Feb 26, 2015 4:37 PM, "Jean Giard" <notifications@github.com> wrote:

[2015-02-26 15:53] JGiard commented on #9654
thanks, removing the cgroup mount worked for me.

[2015-02-26 15:53] cpuguy83 commented on #9722
I can repro, this seems to be how rbinds work and is reproducible as such:

[code]

[2015-02-26 15:56] cpuguy83 commented on #9722
I'm not sure this is something we can really fix.
If you want the sub-mounts to be ro, you'll need to do it on the host.

[2015-02-26 16:43] moxiegirl opened #11043 "README has broken image after docs restructure"
image on front page reference old structure and is now broken.

[2015-02-26 16:51] cpuguy83 commented on #7693
Yep, we're good.

[2015-02-26 16:51] #7693 closed

[2015-02-26 16:55] mosfet1kg commented on #10910
For my case, the following command works..
sudo docker build -t <tag> -f <dockerfile> ./

[2015-02-26 17:06] jfrazelle commented on #8454
there were problems where it wasn't safe everywhere see https://github.com/docker/libcontainer/pull/256#issuecomment-62223013

[2015-02-26 17:07] jfrazelle commented on #7952
thanks @rhatdan

[2015-02-26 17:09] jfrazelle commented on #6673
hmm ya unsure what the solution would be for when a supervisor is monitoring, labeled as black-belt maybe someone can find an underlying issue, don't know if there is one, thanks for trying on latest, saves us a lot of time

[2015-02-26 17:11] jfrazelle commented on #10678
Having Docker run on ARM devices is a planned feature, but keeping this issue open isn't necessary since we do not current support them.

I'll close this issue now since it's not an immediately actionable issue. However, this doesn't mean that this isn't going to be implemented any more. Please feel free to continue to discuss here, we love the discussion!

[2015-02-26 17:11] #10678 closed

[2015-02-26 17:21] ashahab-altiscale commented on #10769
@jfrazelle They are running on native, so this is not an lxc-driver issue.

[2015-02-26 17:24] duglin commented on #4351
@jfrazelle yes mtime is considered part of the cache check.  Once https://github.com/docker/docker/pull/10775 is merged (hint hint :-) ) then we can look at how to add flags like this - its a very popular request.

[2015-02-26 17:25] sakurai-youhei commented on #1916
@jpetazzo: Thank you for your response. In my case, I put second command to make iptables rule persist as data on file system as below. This should enable me to load iptables rule after starting container with --privileged option.
[code]
Without RUNP nor "build --privileged", I'm enforced to write like:
[code]
Yes, this might be sufficient, however, I need to add iptables.rules beside Dockerfile i

[2015-02-26 17:28] duglin commented on #11024
@aanm as far as I know there is no link from the image back to the Dockerfile so doing this isn't possible right now.  The only hack I can think of is to do it via a Makefile where the output of the 'docker build' step doesn't just create the image but also touches a file (perhaps even exports the image as a tar), then you can setup a Makefile dependency between that 'touched' file and your Docker

[2015-02-26 17:32] discordianfish commented on #7585
I just ran into the same problem on a PV instance-store ec2 instance with custom build AMI.
As @vbatts notes this is because docker mounts the dir as MS_PRIVATE which somehow fails:

    [pid  2524] mount("", "/mnt/aufs", "none", MS_PRIVATE, NULL) = -1 EINVAL (Invalid argument)

/mnt is ext3 formatted /dev/xvda2. After a reboot, docker starts again. This already happened on the first start of Dock

[2015-02-26 17:42] cma-arnold commented on #9315
This is especially problematic for our usage: we're pushing images to a private registry that's un-authenticated using a maven plugin that communicates to the daemon over tcp. Right now we're having to setup bogus authentication information to push.

[2015-02-26 17:42] duglin commented on #8667
support for more advanced env var substitution would be a good thing - just non-trivial.  I'll put it on our todo list but it may not happen for a while.

[2015-02-26 17:47] zenlinTechnofreak commented on #11033
Sorry to  jfrazelle , I was away for other personal things.
I am so sorry to tell u that I cannot get where I have changed the image, can u help me to find out it?
Thx.

[2015-02-26 17:48] duglin commented on #8148
@jfrazelle I can't double-check at the moment, but yes I believe it will be fixed once #10591 is merged.

[2015-02-26 17:53] jfrazelle commented on #11033
Ok so even tho the
[code]
is at the bottom there is a test above that (out of view of the screenshot) that is failing
it should look something like this
https://s3.j3ss.co/screenshots/2015-02-26-09-55-12_4480x1440.png

[2015-02-26 17:54] jfrazelle commented on #8148
perfect no worries, just making sure we didnt leave a dangling issue

[2015-02-26 18:06] aanm commented on #11024
@duglin What about
[code]

Still "hacky" or a good solution?

[2015-02-26 18:08] duglin commented on #8148
@jfrazelle assigned this one to myself to help ensure I don't forget about it.

[2015-02-26 18:11] duglin commented on #11024
Not sure how we would get the `Dockerfile.isPresentAndBelongsToImageOfContainerToBeRun` value.  We can't assume its in the current dir, nor can we even assume its called Dockerfile.  Plus, how do you know _that_ Dockerfile was used to build the image that's being run? There's no metadata linking the two

[2015-02-26 18:15] zenlinTechnofreak commented on #11033
OK,I see the log,but I remember I never change the image before I built it.
Anyway, I will try to download a new source, and rebuilt it again to find out it.
Any other better suggestion?
THX.

[2015-02-26 18:22] aanm commented on #11024
@duglin Ups, you're right. Somehow I thought a Dockerfile contained a name/reference or something.
Maybe in the future

[2015-02-26 18:27] duglin commented on #11024
@aanm yea its a non-trivial thing to solve because the name of the image is only provided on the `docker build` command, or on the `docker tag` command run after the image is created - nothing in the dockerfile itself.  Which makes sense since the same dockerfile could be used to make any number of images/names.

[2015-02-26 18:29] vbatts commented on #9283
Sure thing. It's doable in a day or so. I had quirky tests fail last on my
last effort. Perhaps someone else will be smarter about their approach.
On Feb 25, 2015 11:34 PM, "Jessie Frazelle" <notifications@github.com>
wrote:

[2015-02-26 18:42] zyndiecate commented on #8537
Cannot reproduce anymore, but I see things like this in docker daemon log

[code]

env info
[code]

[2015-02-26 18:59] stevvooe commented on #9018
@vbatts Agreed.

[2015-02-26 19:04] halfvector commented on #3694
+1 less noise in deployment scripts without losing errors in /dev/null

[2015-02-26 19:06] jfrazelle commented on #8537
then I think we can close this and defer to https://github.com/docker/docker/issues/10096

[2015-02-26 19:06] #8537 closed

[2015-02-26 19:07] jfrazelle commented on #8537
thanks for checking in on it, seriously saves us so much time :D

On Thu, Feb 26, 2015 at 10:42 AM, Tim Schindler <notifications@github.com>
wrote:

[2015-02-26 19:08] ahmetalpbalkan opened #11047 "Proposal: Handling of permission bits for image context created via Windows"
## Problem

Converting Windows file attributes + ACLs to 9-bit UNIX permissions when
docker images are built from windows CLI. Concept of 'execute' doesn't
match 1:1 on Windows vs POSIX.

### Scenario

1. User downloads Docker client for Windows (docker.exe)
2. User develops an "app" to run on Linux containers.
3. User runs the command `docker build .`
4. Context tar is created on client-side and

[2015-02-26 19:09] jfrazelle commented on #11033
hmm well if it continues to fail, let me know what test it is and I can
help debug why :)

On Thu, Feb 26, 2015 at 10:15 AM, Zhinan Lin(Zen Lin) <
notifications@github.com> wrote:

[2015-02-26 19:12] jfrazelle commented on #6800
We can close this, there is an official tomcat image and that works perfectly

[2015-02-26 19:12] #6800 closed

[2015-02-26 19:12] jfrazelle commented on #6800
see https://registry.hub.docker.com/_/tomcat/

[2015-02-26 19:13] jfrazelle commented on #6094
@tiborvass don't we have symlinks support?

[2015-02-26 19:14] jfrazelle commented on #7804
closing as dup of https://github.com/docker/docker/issues/6094

[2015-02-26 19:14] #7804 closed

[2015-02-26 19:15] brahmaroutu commented on #10966
@jfrazelle  Using private registry defeat the purpose of the test, I have the fix anyways. This is where I want to conditionally use private/public registry with a env switch(like in #10963 earlier)? Let me know your thoughts. It effects #10967 and #10968 too in the same way.

[2015-02-26 19:16] #11031 closed

[2015-02-26 19:16] tiborvass commented on #11047
IATM, but this seems to be the best compromise from what I can tell. So +1 from me.

[2015-02-26 19:17] jfrazelle commented on #10966
we don't actually need to test that pulling from the central registry works we can pull locally :)

[2015-02-26 19:20] jfrazelle commented on #10769
whoops misread

[2015-02-26 19:22] jfrazelle commented on #9525
@tiborvass i feel like you were talking about something like this? is this a dup

[2015-02-26 19:23] jfrazelle commented on #9690
ping @jlhawn @vbatts

@cezarsa can you try on the latest version of docker

[2015-02-26 19:24] CCTJNII commented on #6800
This regression is bigger than just Tomcat, has the "pidof -c" error documented above which breaks sysvinit scripts been fixed?

[2015-02-26 19:26] jfrazelle commented on #7807
closing as duplicate of https://github.com/docker/docker/issues/2801, it is really a effect caused by that issue

[2015-02-26 19:26] #7807 closed

[2015-02-26 19:28] jfrazelle commented on #9564
can you please try on the latest version of docker

[2015-02-26 19:29] jfrazelle commented on #6800
@CCTJNII I think this issue is a bit confusing can we move just that part of it to a new one, can you point me to that comment

[2015-02-26 19:35] CCTJNII commented on #6800
@jfrazelle https://github.com/docker/docker/issues/6800#issuecomment-70951948

[2015-02-26 19:43] cpuguy83 commented on #9525
See the new `--change` on `docker import` #9123
This was just merged a couple of days ago.

[2015-02-26 19:43] kingdonb commented on #4336
This was addressed "downstream" in baseimage-docker, but I can revert the fix and check docker's behavior, if you have any reason to believe the situation might have changed.

The solution we came up with was to just know what apps (syslog-ng) like to leave around their named sockets on the filesystem, keep an inventory of those named sockets and their locations, and clear them from the image at s

[2015-02-26 19:59] jessfraz opened #11049 ""pidof -c" error sysvinit centos/rhel"
moved from #6800 into new issue

Sysvinitscripts in CentOS/RHEL broken as they call 'pidof -c' to check process status, which uses /proc/[pid]/root to detect chroots:

[code]

Whereas outside of Docker stat does not return error:

[code]

pidof -c failing in the container causes the __pids_pidof() function in /etc/init.d/functions to return no pids, even if the process is running.  This breaks the

[2015-02-26 19:59] jfrazelle commented on #11049
@CCTJNII  does this look good to you

[2015-02-26 20:00] jfrazelle commented on #4336
@kingdonb do you think we can close?

[2015-02-26 20:03] CCTJNII commented on #11049
Looks good. :thumbsup:

[2015-02-26 20:04] jfrazelle commented on #11012
hmmm maybe @vbatts has an idea? or @unclejack

[2015-02-26 20:04] kingdonb commented on #4336
Sure, no big deal for me

[2015-02-26 20:04] #4336 closed

[2015-02-26 20:09] estesp commented on #10966
The only thing we might be losing once we get all these tests moved to only using the local, in-container registry--even when the test container does have network access--is that code coverage on any paths talking to "real" DockerHub (which from what I understand is not running the real v2 registry yet).  Not sure how important that is.  But, if that's OK (which it may be--I just want us to consid

[2015-02-26 20:19] thaJeztah commented on #11047
First of all, thanks for looking into this. In general I can see this as a reasonable compromise (but of course hope something better can be invented in future). I'll add a couple of ideas / concerns;

- Users building on Windows "from scratch" (not the image) probably won't be surprised to have to perform the extra steps; this is similar to uploading a file via FTP and having to set the correct p

[2015-02-26 20:24] dmp42 commented on #9166
Private registries with self-signed certificates configuration is described here: `https://docs.docker.com/reference/commandline/cli/#insecure-registries`

I'm closing this for now - let me know if the provided instructions work, or if you still have an issue there.

[2015-02-26 20:24] #9166 closed

[2015-02-26 20:27] jlhawn commented on #9018
Hey! So, just for Funzies: https://github.com/jlhawn/tarsum and http://godoc.org/github.com/jlhawn/tarsum

I wrote this about 2-3 months ago but never published it. It's an implementation of TarSum (using sha256) which is resumable and matches the `hash.Hash` interface, so you write to it rather than read through it. All the tests pass too! yay!

[2015-02-26 20:28] ross-w commented on #7952
Is there a separate ticket we can follow for OverlayFS progress?

Ross

[2015-02-26 20:33] bdehamer opened #11050 "Docker Registry API (v1) Client Library"
Client library for v1 of the Docker Registry API written in Go:
https://github.com/CenturyLinkLabs/docker-reg-client

For inclusion in documentation:
https://docs.docker.com/reference/api/registry_api_client_libraries/

[2015-02-26 20:36] jfrazelle commented on #7952
@ross-w its experimental in Docker right now but lots of people use it and love it!

[2015-02-26 20:38] sammcj commented on #7952
That's not very reassuring

[2015-02-26 20:39] jfrazelle commented on #11050
cool do you want to submit a PR to add it to the docs :)

[2015-02-26 20:41] jfrazelle commented on #7952
@sammcj It is in experimental so we can make sure it is perfect before fully supporting it & because it requires at least a 3.18 kernel which not many people have

[2015-02-26 20:42] jfrazelle commented on #7952
@sammcj I don't understand what is not reassuring about adding new features and making sure they are perfect before fully supporting it.

[2015-02-26 20:43] bdehamer commented on #11050
Yeah, didn't realize the docs were PR'able :)  Just saw the instruction to log a bug. I'll submit a PR.

[2015-02-26 20:44] sammcj commented on #7952
Sorry if my comment seemed short but i thought you were saying that a new feature is being developed and is not being tracked.

Do you have the ticket number for overlayFS w/ SELinux so we can monitor its progress?

[2015-02-26 20:47] ross-w commented on #7952
Thank Jessie I was meaning SELinux progress wrt OverlayFS.

Ross

[2015-02-26 20:47] jfrazelle commented on #10966
we could always run a v1 registry locally.....

On Thu, Feb 26, 2015 at 12:10 PM, Phil Estes <notifications@github.com>
wrote:

[2015-02-26 20:51] jfrazelle commented on #11050
oooo if you want you can even change the instruction to say you can open a
PR :)

On Thu, Feb 26, 2015 at 12:44 PM, Brian DeHamer <notifications@github.com>
wrote:

[2015-02-26 20:52] jfrazelle commented on #7952
Oh so sorry I do not know about that, maybe @rhatdan does

On Thu, Feb 26, 2015 at 12:47 PM, ross-w <notifications@github.com> wrote:

[2015-02-26 20:54] bdehamer commented on #11050
Will do

[2015-02-26 20:54] jfrazelle commented on #8647
going to close as dup of https://github.com/docker/docker/issues/3639#issuecomment-76148320, @cpuguy83 yell at me / reopen if im wrong

[2015-02-26 20:54] #8647 closed

[2015-02-26 21:10] thaJeztah commented on #8829
@jfrazelle added; https://github.com/docker/docker/issues/8829#issue-47090184. @bfirsh are you still "in charge" of UX-design? I can *start* a PR, but it could be difficult for me if design needs to be discussed further / decided on.

[2015-02-26 21:21] omeid commented on #8148
I don't see why this is being added as a Daemon flag while it has little to nothing with it.
Any reason why this isn't added as a build flag?

[2015-02-26 21:23] kharayo opened #11052 "Can not push new repo from local"
bash-3.2$ docker push vser/mojolite
The push refers to a repository [vser/mojolite] (len: 1)
Sending image list
FATA[0003] Error: Status 403 trying to push repository vser/mojolite: "Access Denied: Not allowed to create Repo at given location"
bash-3.2$ docker info
Containers: 10
Images: 61
Storage Driver: aufs
 Root Dir: /mnt/sda1/var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 81
Execution

[2015-02-26 21:30] jfrazelle commented on #11052
ping @dmcgowan @dmp42 is this a hub issue?

[2015-02-26 21:32] jfrazelle commented on #8829
Actually sorry I was thinking about this last night, I think all the information here is super valuable so I was thinking we can just keep it w maybe label content and cli :)

[2015-02-26 21:48] vbatts commented on #9018
Well aren't you just the bees knees. :-)
On Feb 26, 2015 3:27 PM, "Josh Hawn" <notifications@github.com> wrote:

[2015-02-26 21:51] dmp42 commented on #11052
Hub issue.

(just to check: @kharayo did you `docker login`?)

[2015-02-26 21:55] kharayo commented on #11052
Yes I did.
bash-3.2$ docker login
Username (kharayo): kharayo
Login Succeeded

It this because I did not create repo on hub?

[2015-02-26 21:58] jfrazelle commented on #11052
ok please email support@docker.com for hub issues, so sorry you are having
this issue, you should not have to create the repo first, this is a bug
they will help you with

On Thu, Feb 26, 2015 at 1:56 PM, vogen <notifications@github.com> wrote:

[2015-02-26 21:58] #11052 closed

[2015-02-26 21:59] cezarsa commented on #9690
The same problem still happens, using the same script to reproduce it.

Here are system current settings:
[code]

[2015-02-26 21:59] moxiegirl commented on #11043
This is a dupe.

[2015-02-26 21:59] #11043 closed

[2015-02-26 22:01] sghosh151 commented on #10740
With v2 seeming to have 256 char limit - will that apply to "name" or "name@digest"? The SHA sum would take up a number of chars.

[2015-02-26 22:04] stevvooe commented on #10740
@sghosh151 The limit applies only to the name.

[2015-02-26 22:05] moxiegirl commented on #11038
I'll work on this.

[2015-02-26 22:11] jfrazelle commented on #9590
This would be pretty hard to define, but a proper set of what means what would help

[2015-02-26 22:14] jfrazelle commented on #9747
closing as duplicate of https://github.com/docker/docker/issues/4272

[2015-02-26 22:14] #9747 closed

[2015-02-26 22:16] jfrazelle commented on #9748
this is not a design goal, you can use --insecure-registry on the daemon, we do not want to advocate, and have default an insecure registry aslso see related https://github.com/docker/docker/issues/8887

[2015-02-26 22:16] #9748 closed

[2015-02-26 22:17] jfrazelle commented on #9570
I do not think we want this. It would be advocating sending credentials over http, ping @ewindisch

[2015-02-26 22:17] jfrazelle commented on #9752
closing as dup of https://github.com/docker/docker/issues/9570

[2015-02-26 22:17] #9752 closed

[2015-02-26 22:18] jfrazelle commented on #10150
ping @dmcgowan @dmp42 can you help them resolve

[2015-02-26 22:20] jfrazelle commented on #8502
closing as dup of https://github.com/docker/docker/issues/9139

[2015-02-26 22:20] #8502 closed

[2015-02-26 22:21] jfrazelle commented on #10452
oh actually looks like this has been improved

[2015-02-26 22:21] #10452 closed

[2015-02-26 22:22] jfrazelle commented on #10981
@dmcgowan @dmp42 can you resolve

[2015-02-26 22:22] jfrazelle commented on #9118
ping @dmcgowan @dmp42 I think this is a docs issue?

[2015-02-26 22:24] phemmer commented on #9570
If the user wants to do something dangerous, that's the user's problem, not docker's.

If the docker daemon, and registry are on a private network, cleartext credentials are not as much of an issue. You are basically forcing users to setup SSL, which can be a significant chore, and cost money.

Plus we're not even talking about adding code to allow this feature, we're talking about removing code.

[2015-02-26 22:25] jfrazelle commented on #8410
There are lots of issues about this and how to fix https://github.com/docker/docker/issues/8557 https://github.com/docker/docker/issues/8557 https://github.com/docker/docker/issues/8132 and many more, but I think need help with registry setup please open an issue there or checkout #docker on IRC

[2015-02-26 22:25] #8410 closed

[2015-02-26 22:26] sthulb commented on #9118
@jfrazelle how so?

[2015-02-26 22:27] dmp42 commented on #10150
@jfrazelle smells like docker login codepath does not do the same thing as pull and fails to read `/etc/docker/certs.d/<redacted>/ca.crt`

Possibly @tiborvass can help pinpointing that (eg: the insecure thingie workflow)?

[2015-02-26 22:27] jfrazelle commented on #9570
Ya maybe just needs a warning? idk

also self-signed ssl certs are free ;) but I see your point

[2015-02-26 22:29] dmp42 commented on #10981
@florentvaldelievre are you able to pull that image with just one docker pull?

Is this about having the same error when things go wrong like they do here? Or about allowing simultaneous pull of the same image?

[2015-02-26 22:32] jfrazelle commented on #10031
closing as dup of https://github.com/docker/docker/issues/4329

[2015-02-26 22:34] jfrazelle commented on #7966
closing as dup of https://github.com/docker/docker/issues/10324

[2015-02-26 22:34] #7966 closed

[2015-02-26 22:35] unclejack commented on #4329
@jfrazelle These two issues aren't the same.

[2015-02-26 22:35] jfrazelle commented on #10171
closing as dup of https://github.com/docker/docker/issues/1916 https://github.com/docker/docker/issues/4962 https://github.com/docker/docker/issues/10324 https://github.com/docker/docker/issues/10191

[2015-02-26 22:35] #10171 closed

[2015-02-26 22:37] jfrazelle commented on #7232
so is this compose?

[2015-02-26 22:38] jfrazelle commented on #5898
closing as dup of #1916 #4962 #10324 #10191

[2015-02-26 22:38] #5898 closed

[2015-02-26 22:42] jfrazelle commented on #9729
looks like this was resolved, lmk if otherwise how to reproduce

[2015-02-26 22:42] #9729 closed

[2015-02-26 22:47] jlhawn commented on #9690
So I think this is a bug with the way we export rootfs diffs with AUFS:

[code]

The `rm -rf /x` command will make an AUFS whiteout file `/.wh.x` which marks the directory as removed in the aufs working branch. But then, `mkdir /x` will replace it with `/x` again but with new mtime, ctime, atime, etc. AUFS will *also* make this new directory "opaque", creating a hidden `.wh..wh..opq` file in this

[2015-02-26 22:48] jfrazelle commented on #4329
ah ok thanks reopened other

[2015-02-26 22:50] thaJeztah commented on #7232
I think @bfirsh hijacked his own issue, describing a different use case starting from this https://github.com/docker/docker/issues/7232#issuecomment-68545474

I suggest to;
- close this issue; the original use case is covered by compose; adding similar features to Docker itself would only confuse users
- create a new proposal based on the use case described in https://github.com/docker/docker/issu

[2015-02-26 22:51] jfrazelle commented on #9118
I pinged registry team who should know better sorry

[2015-02-26 23:01] jfrazelle commented on #9787
@cpuguy83 was this fixed?

[2015-02-26 23:02] porjo commented on #8499
...says the SELinux expert :wink:

I've confirmed using Docker 1.5.0 that this issue no longer occurs. Thanks all.

[2015-02-26 23:03] jfrazelle commented on #8499
woohooo!

[2015-02-26 23:04] jfrazelle commented on #9805
duplicate of https://github.com/docker/docker/issues/10324

[2015-02-26 23:04] #9805 closed

[2015-02-26 23:09] jfrazelle commented on #9814
duplicate of https://github.com/docker/docker/issues/7857 https://github.com/docker/docker/issues/8356

[2015-02-26 23:09] #9814 closed

[2015-02-26 23:11] jfrazelle commented on #2855
I feel like we need to decide is this intentional or not (I am heavily leaning towards desired behavior) and document as so, so that people know.

[2015-02-26 23:16] jfrazelle commented on #7926
cant reproduce closing

[2015-02-26 23:16] #7926 closed

[2015-02-26 23:19] jfrazelle commented on #10972
we have this for the daemon https://github.com/docker/docker/pull/10748 @dmp42 @dmcgowan do you think this issue should be opened on the registry because it is registry specific

[2015-02-26 23:20] jfrazelle commented on #10749
are you sure nothing else is listening on that port

[2015-02-26 23:22] tfoote opened #11053 "docker rmi can not clean up as fast as new images are created"
I have am running a continuous integration and build server using docker as isolation. We are heavily leverating docker isolation for dependency checking and repeatilble builds. However due to the variety of packages which we are building relatively quickly run out of disk space.

To prevent running out of disk space we have developed a script which cleans up old images and containers. There's dis

[2015-02-26 23:23] jfrazelle commented on #10326
is this on the latest version of docker

[2015-02-26 23:24] jfrazelle commented on #10177
we could add the flag on start then

[2015-02-26 23:25] thaJeztah commented on #7583
Summarising the current state of this;

- `docker cp` now supports copying files from a container's volume to the host (https://github.com/docker/docker/pull/8509)
- work is in progress to allow copying between containers, which allows more easily copying the data to a new container and committed / pushed to distribute the data (https://github.com/docker/docker/pull/10198)
- work is in progress to

[2015-02-26 23:27] jfrazelle commented on #9778
closing as dup of https://github.com/docker/docker/issues/9047

[2015-02-26 23:27] #9778 closed

[2015-02-26 23:28] jfrazelle commented on #9047
is this still happening on 1.5 (userland proxy?)

[2015-02-26 23:29] jfrazelle commented on #9592
I think this has been resolved right?

[2015-02-26 23:29] jfrazelle commented on #9592
or is it an actual problem with the install script

[2015-02-26 23:33] jfrazelle commented on #9798
idk what do you think we should do :(

[2015-02-26 23:34] jfrazelle commented on #7288
looks like this was resolved but please ping me if you are still seeing it with exact steps to reproduce

[2015-02-26 23:34] #7288 closed

[2015-02-26 23:34] jfrazelle commented on #9365
ping @ibuildthecloud :)

[2015-02-26 23:35] jfrazelle commented on #9661
we need more information in order to debug this.

docker info
docker version
daemon logs

how to reproduce

[2015-02-26 23:35] mbentley commented on #9592
This is still a problem. It is something with how the apt repo is configured. It isn't a problem with the curl install script, just when you're pulling through an apt proxy like apt-cacher-ng.

[2015-02-26 23:37] jfrazelle commented on #9690
op sorry this is a dup of https://github.com/docker/docker/issues/9093 so moving jlhawns awesome comment there

[2015-02-26 23:37] #9690 closed

[2015-02-26 23:37] jfrazelle commented on #9093
great comment from jlhawn on the issue https://github.com/docker/docker/issues/9690#issuecomment-76291959

[2015-02-26 23:41] jfrazelle commented on #9592
gotcha thanks for explaining

[2015-02-26 23:42] jfrazelle commented on #6435
can you please try with the latest version of docker

[2015-02-26 23:42] grossws commented on #9365
JFYI, still actual an 1.3.2/1.15

[2015-02-26 23:43] dmp42 commented on #10972
@oldhamtj what happens if you use the `no_proxy` environment variable?

[2015-02-26 23:43] jfrazelle commented on #9299
closing as dup of https://github.com/docker/docker/issues/8755

[2015-02-26 23:44] jfrazelle commented on #5482
@anandkumarpatel are you still seeing this on 1.5

[2015-02-26 23:45] jfrazelle commented on #9876
what do you offer as a solution?

[2015-02-26 23:48] jfrazelle commented on #7511
can you reproduce on docker 1.5.0

[2015-02-26 23:49] shanemhansen commented on #9876
Decrease the default filehandle limit specified in the [contrib init files](https://github.com/docker/docker/blob/master/contrib/init/upstart/docker.conf) down from half a million and document how to bump it back up.

[2015-02-26 23:49] dmp42 commented on #9118
Ok: does using the script from https://github.com/docker/docker/issues/9118#issuecomment-67638304 work and fix the issue?

Seems to me indeed like the documentation need some love. Either way, probably @tiborvass can shed some light on this?

[2015-02-26 23:50] jfrazelle commented on #5742
this is a duplicate of https://github.com/docker/docker/issues/9878

[2015-02-26 23:50] #5742 closed

[2015-02-26 23:51] jfrazelle commented on #9365
what about on 1.5

[2015-02-26 23:54] tianon commented on #9876
Wouldn't having first class support in Docker itself for ulimit management
be a better solution to this issue?

[2015-02-26 23:57] jfrazelle commented on #9890
cannot reproduce on docker 1.5 closing but let me know if you are still able to see this problem and how to reproduce

[2015-02-26 23:57] #9890 closed

[2015-02-26 23:59] jfrazelle commented on #9894
duplicate of https://github.com/docker/docker/issues/5904

[2015-02-26 23:59] #9894 closed

[2015-02-27 00:00] thaJeztah commented on #2855
Documentation has been already [been corrected](http://docs.docker.com/reference/commandline/cli/#attach). Although this is *by design*, https://github.com/docker/docker/issues/2855#issuecomment-56576213 nicely summarises *my* thoughts. Perhaps a similar approach as nodeJS would accommodate both "camps"?

    (press ^C again to quit or ^P ^Q to detach)

(my final suggestion on this. I'm too opinio

[2015-02-27 00:00] tianon commented on #9798
IMO kill "tag -f" in the name of consistency.

[2015-02-27 00:03] jfrazelle commented on #9915
duplicate https://github.com/docker/docker/issues/9849

[2015-02-27 00:03] #9915 closed

[2015-02-27 00:04] jfrazelle commented on #8776
volumes could help?

[2015-02-27 00:05] jfrazelle commented on #8954
closing as dup #9934

[2015-02-27 00:05] #8954 closed

[2015-02-27 00:05] jfrazelle commented on #6734
status on this anyone?

[2015-02-27 00:08] shanemhansen commented on #9876
I think having ulimit management in docker would be a good idea. The ulimit values appropriate for running the docker daemon aren't necessarily appropriate for pid 1 in the container.

[2015-02-27 00:16] jfrazelle commented on #9873
on start you need to pass publishAllPorts see https://github.com/docker/docker/issues/7869#issuecomment-54679108

[2015-02-27 00:16] #9873 closed

[2015-02-27 00:19] jfrazelle commented on #9815
@hamiltont any update on @acbodine's comment

[2015-02-27 00:19] thaJeztah commented on #7511
@jfrazelle just tested the repro case and I can still reproduce on 1.5.0/AUFS

I think this is an AUFS issue and a dup of https://github.com/docker/docker/issues/783#issuecomment-19237045, which is mentioned in the [known issues](https://docs.docker.com/release-notes/#known-issues).

[2015-02-27 00:20] #9930 closed

[2015-02-27 00:22] jfrazelle commented on #7271
any update on trying out latest?

[2015-02-27 00:25] jfrazelle commented on #7511
ah ok thanks

[2015-02-27 00:25] #7511 closed

[2015-02-27 00:27] sthulb commented on #9118
It didn't fix it for me.

[2015-02-27 00:28] jfrazelle commented on #9926
dup of https://github.com/docker/docker/issues/7554

[2015-02-27 00:28] #9926 closed

[2015-02-27 00:30] jfrazelle commented on #9879
dup of https://github.com/docker/docker/issues/783 and known issue see https://docs.docker.com/release-notes/#known-issues

[2015-02-27 00:30] #9879 closed

[2015-02-27 00:31] jfrazelle commented on #6047
could this be related to https://github.com/docker/docker/issues/783

[2015-02-27 00:32] dmp42 commented on #9118
@sthulb can you confirm you are specifying the port in the path?

`/etc/docker/certs.d/registry.host/ca.crt` (in your initial comment)

vs. (should be)

`/etc/docker/certs.d/registry.host**:PORT**/ca.crt`

[2015-02-27 00:33] jfrazelle commented on #6047
it seems to have the same comments and problems as #783 https://docs.docker.com/release-notes/#known-issues

[2015-02-27 00:33] #6047 closed

[2015-02-27 00:39] jfrazelle commented on #10033
i believe expected, but feel free to tell me why you what the progress bar, lots of people had complaints

[2015-02-27 00:39] #10033 closed

[2015-02-27 00:40] jfrazelle commented on #9998
ping @estesp sorry I see resolv.conf and automatically think of you

[2015-02-27 00:41] jfrazelle commented on #4306
@cpuguy83 can you reproduce

[2015-02-27 00:42] jfrazelle commented on #9027
well lets see we definitely need some more info :)

docker version
docker info
daemon logs
steps to reproduce

[2015-02-27 00:44] jfrazelle commented on #9868
@SvenDowideit @vbatts you guys work together to resolve ?

[2015-02-27 00:45] sthulb commented on #9118
I tried 443 in the path.

[2015-02-27 00:47] jfrazelle commented on #7480
actually ok so all hub issues need to be filed with support@docker.com or forums.docker.com because technically this is not an issue with docker iteslf. But dont get me wrong i really really really want this. I have 40+ images in a repo and they all push at once, but also make your voice heard to the places suggested so they know its more that just me :)

[2015-02-27 00:47] #7480 closed

[2015-02-27 00:47] jfrazelle commented on #7480
also the issue i opened interally is still opened :/

[2015-02-27 00:48] jfrazelle commented on #10094
so wdyt is this still an issue, sorry im confused :)

[2015-02-27 00:48] jfrazelle commented on #10094
sorry and hit wrong button

[2015-02-27 00:52] thaJeztah commented on #10960
Hello @rlister, since this is a feature request for the Docker Hub, could you create a feature request via http://support.docker.com or sending an email to support@docker.com?

Issues with Docker Hub are not handled through this issue tracker.

Thank you!

[2015-02-27 00:54] jfrazelle commented on #4485
see https://github.com/docker/docker/pull/9855 but they can always be improved with a PR

[2015-02-27 00:54] #4485 closed

[2015-02-27 00:56] #4306 closed

[2015-02-27 00:57] jfrazelle commented on #3675
we now freeze I believe during commit https://github.com/docker/docker/pull/6787

[2015-02-27 00:57] #3675 closed

[2015-02-27 00:58] cpuguy83 commented on #9998
This is because /etc/resov.conf and /etc/hosts are mounted in. Definitely fixable.

[2015-02-27 00:59] cpuguy83 commented on #9787
Fixed but not merged.
It's part of @jlhawn's `cp` rewrite.

[2015-02-27 01:02] jfrazelle commented on #6263
ping @vieux

@proppy do you not like the implementation bc then I can label as improvement :)

[2015-02-27 01:03] jberkus commented on #783
What release is this likely to be fixed in?

[2015-02-27 01:04] proppy commented on #6263
yes, I like the sounds of 'improvement' :+1:

[2015-02-27 01:04] jfrazelle commented on #9853
I cannot reproduce hmmm @unclejack or @tiborvass can you?

[2015-02-27 01:05] jfrazelle commented on #8794
hmm sorry ping @vbatts

[2015-02-27 01:06] cpuguy83 commented on #783
@jberkus This is specifically an issue with AUFS and not Docker itself.

[2015-02-27 01:08] #10960 closed

[2015-02-27 01:09] jfrazelle commented on #9998
wooohoo white-belt it is

[2015-02-27 01:13] jfrazelle commented on #6263
\o/

[2015-02-27 01:17] defunctzombie commented on #9661
Next time I detect that it happens I will capture all of that information.

`how to reproduce` might be a challenge.

Right now my theory is that if docker is running a container with no memory limits (no `-m` flag) then if the process causes memory limits on the machine to be reached (no swap) then some bad things happen.

I am running a container now with `-m` and have not seen this same failure

[2015-02-27 01:21] #10976 closed

[2015-02-27 01:22] jberkus commented on #783
jdef's comment above seems to indicate that it's fixable at the Docker level.  No?

[2015-02-27 01:30] #10963 closed

[2015-02-27 01:40] #10965 closed

[2015-02-27 01:51] ewindisch commented on #4485
Thanks. Yes, I added some flavor to the docs and with our expanded security team are working on new docs, blogs posts, and whitepapers.

[2015-02-27 02:11] jfrazelle commented on #4485
wowww shinyyy I await the PR

On Thu, Feb 26, 2015 at 5:51 PM, Eric Windisch <notifications@github.com>
wrote:

[2015-02-27 02:14] ssreekanth commented on #10299
:+1:

[2015-02-27 02:29] damm commented on #6604
And if you have a Container from 0.10 and upgrade to 1.2? with the new restart policies does it work?

[2015-02-27 02:35] #10962 closed

[2015-02-27 03:05] frankfuu commented on #9755
Hi @vincentwoo ,

Just wondering if you could provide me with the helpful script that was given to @efuquen ?

[2015-02-27 06:51] porjo commented on #10180
I use CoreOS and have just switched from Btrfs to Ext4 and I having the same issue.

[2015-02-27 07:14] vincentwoo commented on #9755
@frankfuu it was just https://github.com/tripflex/inodes

[2015-02-27 07:23] frankfuu commented on #9755
Thanks @vincentwoo

I'm still having the same issues, and after a few builds I need stop docker then  nuke ```/var/lib/docker``` directory then restart ```docker``` and rebuild my apps on dokku and restart ```mongod``` before  working again

[2015-02-27 08:00] florentvaldelievre commented on #10981
Actually, when docker daemon replies "Repository XXX already being pulled by another client. Waiting.", i was expecting to have some kind of queue mecanism for this request until a slot get free.

Example:
1)If we try to pull and there is already an existing pull of the same image:
=> "Repository XXX already being pulled by another client. Waiting." : Working as expected

2) When the first pull is

[2015-02-27 08:22] ahmetalpbalkan commented on #11047
@thaJeztah that is also another option. I just wanted to make sure if it is okay to drop the x bit and leave `chmod/chown` to the users as an exercise.

If we can just abandon the requirement of preserving the 'x' bit when deployed from windows, it's fine with me either. I guess developers working on windows machines deploying things to Linux servers already don't use much of +x bit. :smiley: (cor