[2017-10-25 10:10] bjonen commented on #27381
We are running Docker version 17.09.0-ce and still face the same issue.

[2017-10-25 10:11] thaJeztah commented on #35281
ping @aaronlehmann @dnephin PTAL

[2017-10-25 10:22] thaJeztah commented on #34722
@yunghoy what version and configuration are you running? (i.e. at least make sure to post the output of `docker version` and `docker info`). Are there any logs that provide more information from around the time you saw the swarm was destroyed?

Also running `--force-new-cluster` on both managers likely won't work, as both managers now attempt to re-create the swarm (which _could_ explain the `DOWN

[2017-10-25 11:11] thaJeztah commented on #34140
The `context deadline exceeded` message usually indicates that you lost quorum (there's no majority of managers available, and a majority is needed to make any change to the swarm cluster, including "removing nodes from the swarm" - see [Raft consensus in swarm mode](https://docs.docker.com/engine/swarm/raft/), and (Maintain the quorum of managers)[https://docs.docker.com/engine/swarm/admin_guide/

[2017-10-25 11:11] #34140 closed

[2017-10-25 11:14] ganeshmuralidhar commented on #34140
Restarting the docker service and getting the time in sync between manager host and worker fixed this for me

[2017-10-25 11:28] juliohm1978 commented on #35282
To complete the answer:

I was using `docker run --cpu "0.5" --memory 200m ...` and similar parameters to most containers.

[2017-10-25 11:30] thaJeztah commented on #34140
Yes, it's important to prevent clock-skew between nodes. While there is a grace-period built-in, if the difference between nodes becomes to big, it's possible that (e.g.) certificates are marked "expired", resulting in problems communicating between nodes.

[2017-10-25 11:31] thaJeztah commented on #35282
There is no `--cpu` flag on `docker run` (did you mean `--cpus` ?)

[2017-10-25 11:37] juliohm1978 commented on #35282
Yes, my bad. `docker run --cpus` is what I meant.

[2017-10-25 11:41] ripcurld0 commented on #35282
Closing this issue.
Thank you @juliohm1978

[2017-10-25 11:41] #35282 closed

[2017-10-25 11:43] thaJeztah commented on #35123
The systemd cgroups implementation is known to be troublesome, and frequently breaks between systemd versions. For that reason, the default is to use `cgroupfs` (see https://github.com/moby/moby/pull/17704, https://github.com/moby/moby/issues/16238, https://github.com/moby/moby/issues/16256, and various other issues). Unless you have a very specific reason to require systemd cgroups, I'd recommend

[2017-10-25 12:15] rgardam opened #35292 "Docker stack deploy doesn't work when using awslog driver tags"
**Description**

Docker stack deploy doesn't work when using awslog driver tags.

This is a supported feature of the AWS log driver
https://docs.docker.com/engine/admin/logging/awslogs/#tag

Tag is overwritten if `awslogs-stream` is present in the yaml

**Steps to reproduce the issue:**
1. Use The AWS logdriver in your docker-compose.yml file
2. Use Tags instead of the aws-logs

**Describe the res

[2017-10-25 12:29] #34459 closed

[2017-10-25 13:07] mavenugo commented on #34841
@wershlak @svscorp Yes. Your comment https://github.com/moby/moby/issues/34841#issuecomment-332840107 is the expected behavior. This behiavour can be well understood by this change https://github.com/docker/libnetwork/pull/895 where the external DNS queries are made from the container namespace (based on the multi-tenancy requirements). Essentially if the external DNS server IP address falls under

[2017-10-25 13:41] cirocosta commented on #28813
Hey, just to update the thread for those who might find that there's something wrong:

even now that there are events related to swarm (`scope=global`) one still can't make use of `label` as a filter:

[code]

I think the reason is just that the service labels don't come in the event payload:

[code]

[2017-10-25 13:51] JnMik commented on #35212
Same here ! We've been rebooting different swarm stack 2-3 times a week since our upgrade to 17.06.2 because the application starts flapping from our external load balancer randomly.  It's the only way I found to fix the issue.

If I get inside the containers, I have no issue reaching the application, , but from the worker or the master node, 1 out of 3 tries end up as a timeout.

[2017-10-25 14:12] BrandonRoyal commented on #34696
@mpradyr can you confirm the below is an acceptable workaround until the fix is issued?

[code]

[2017-10-25 14:18] mavenugo commented on #35290
@thaJeztah @sathieu I dont think creating docker_gwbridge is anything to do with Raft failures and I dont think it is related to networking at all.

It must be looked at from swarmkit standpoint.

[2017-10-25 14:27] kingAndGithub commented on #35276
@thaJeztah Hi thaJeztah,
i tried to install the offical docker based on the page https://docs.docker.com/engine/installation/linux/docker-ce/centos/,  but it prompted out the error:

[code]
and if i import the file from https://download.docker.com/linux/centos/docker-ce.repo, it still prompted out the error:
[code]

[2017-10-25 14:29] thaJeztah commented on #35290
/cc @nishanttotla :)

[2017-10-25 14:34] thaJeztah commented on #35276
Sounds like something in your environment; if you try to directly download a package from https://download.docker.com/linux/centos/7/x86_64/stable/Packages/, does that work? Your system looks quite outdated in general (kernel `3.10.0-229.el7.x86_64` looks like an older version of CentOS), and I'd recommend keeping up to date, as CentOS uses a rolling release model (i.e., when CentOS 7.4 was releas

[2017-10-25 14:39] thaJeztah commented on #35292
Does it work if you change the outer double quotes for single quotes? i.e.;

[code]

[2017-10-25 14:42] fractalawareness commented on #35271
Same here. Is there another workaround?

[2017-10-25 14:43] mavenugo commented on #31746
@benoitm974 good catch.

or you could use https://github.com/mavenugo/swarm-exec/ 😇

[2017-10-25 14:46] silkentrance commented on #22567
https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-docker/configure-docker-daemon

[2017-10-25 15:00] thaJeztah commented on #22567
Yes, this looks to be a configuration issue, not a bug, and a troubleshooting section for people running D4W has been added in https://github.com/docker/pinata/pull/4666.

I'll close this issue because of the above

[2017-10-25 15:00] #22567 closed

[2017-10-25 15:06] omerh commented on #35212
@JnMik upgrading to 17.10 solved us the problem.

But we did a fresh install of it. Not an upgrade. (Upgrade failed with exception)

[2017-10-25 15:08] rgardam commented on #35292
Yes! 👍

[2017-10-25 15:08] #35292 closed

[2017-10-25 15:09] thaJeztah commented on #32992
I'm closing this issue because this looks like a configuration issue, not a bug

[2017-10-25 15:09] #32992 closed

[2017-10-25 15:09] omerh commented on #35213
@svscorp

Do you use `order: start-first`

This caused our deploy instability

[2017-10-25 15:09] thaJeztah commented on #35292
You're welcome, it's easy to miss :smile:!

[2017-10-25 15:18] thaJeztah commented on #35186
Hm, nothing directly standing out there, other than CentOS being a bit outdated. Can you provide a bit more information about how you got into this situation?

- was this an existing node, or just installed / upgraded?
- when did this problem occur? was it when updating or deploying a service? using the CLI, or another tool using the API directly? are there any specific options
- is there anything

[2017-10-25 15:34] EliSnow commented on #35271
I am not aware of a workaround. I had to move manually roll my dev VMs back to 17.06.2

[2017-10-25 15:39] Jwpe commented on #21215
Is there a way to recover from this state? I encountered it when stopping `docker rmi` mid-execution, and now `docker images` consistently fails. Do I need to manually delete some layers?

[2017-10-25 15:44] thaJeztah commented on #35271
It looks to be specific to the default (`/dev/shm`) location. Using another location for the tmpfs seems to work;

[code]

Inside the container;

[code]

Wonder if it's a runtime issue (`containerd` or `runc`)

[2017-10-25 16:01] thaJeztah commented on #35271
Discussing internally; this should not be a containerd or runc issue, so I'll have to dig into what changed between these versions

[2017-10-25 16:05] dnephin commented on #35281
The names in the error message don't seem to match the names in your Compose file, I guess you changed them?

Seems like more of an issue with networking/swarmkit, don't think it's related to stacks.

[2017-10-25 16:12] ZigmunD opened #35295 "Some container's memory usage stats via CLI and API are different"
**Description**
[code]

**Steps to reproduce the issue:**
1. Query stats via CLI
2. Query stats via API
3. See the difference

**Describe the results you received:**
Memory usage stats via CLI and API are different

**Describe the results you expected:**
Memory usage stats via CLI and API are same

**Additional information you deem important (e.g. issue happens only occasionally):**
At the time on

[2017-10-25 16:24] georgyturevich opened #35296 "Windows Docker `docker info` shows only 64 CPUs for servers with 128 CPUs"
Hello all,

I tested it on two machines with 128 CPUs - AWS x1.32xlarge and Azure M128S. `docker info` shows `CPUs: 64` in both cases.

I have a suspicion that it also can affect performance of containers if we set CPU limiting flags (--cpus/--cpu-percent) and in some other cases.

**Output of `docker version`:**
[code]

**Output of `docker info` for AWS x1.32xlarge:**

[code]

**Output of `docker

[2017-10-25 16:26] friism opened #35297 "LCOW: `dotnet new` doesn't work in LCOW container with bind-mounted directory"
cc @jhowardmsft @patricklang - sorry if this is a know problem.

[code]

[code]

[code]

[2017-10-25 16:29] friism commented on #35297
More oddities:

[code]

[2017-10-25 16:31] nishanttotla commented on #35290
From the code, this is what these errors mean:
[code]

Perhaps there are repeated leader elections?

@sathieu can you tell us more about the state of the cluster at this point? Particularly the output for `docker node ls` and `docker node inspect <node-id>` for each node?

Also cc @anshulpundir

[2017-10-25 16:47] jhowardmsft commented on #35297
Almost certainly due to 9p operations which are not supported in RS3. @patricklang - can you follow up please

[2017-10-25 16:55] friism commented on #35296
This is a golang/Windows limitation:

 * https://github.com/golang/go/issues/6296
 * https://aws.amazon.com/premiumsupport/knowledge-center/x132large-instance-processor/

cc @jstarks @patricklang

[2017-10-25 16:56] abhi commented on #35288
The reason it seems like the network is not created - ```cannot create a swarm scoped network when swarm is not active```
Swarm does seem to have been initialized from the docker info output u have pasted.

[2017-10-25 16:57] abhi commented on #35288
@saada is this consistently reproducible ?

[2017-10-25 16:59] thaJeztah commented on #35288
@abhi I seem to recall another issue where a global service was created before the network was rolled out to the node, also resulting in something similar (no panics though)

[2017-10-25 17:02] omerh commented on #35281
Yes, deleted them. You can ignore them.
And, yes. Not related to stack.

It happens to a service that update config order was set to start-first on stack deploy and on service update.

[2017-10-25 17:15] cpuguy83 commented on #35295
Here is how the CLI calculates memory:

[code]

[2017-10-25 17:21] ZigmunD commented on #35295
@cpuguy83 well, I think that API output should be exactly the sameas CLI.

[2017-10-25 17:24] cpuguy83 commented on #35275
You need to read the response body to get errors.
Example from the docker CLI:
[code]

This is because the first bit of data that is sent to the client also triggers the HTTP status code.
If the server knows before it's sent any data to the client, it can set the status code, otherwise it will wind up with `200 OK`.
So instead we multiplex the build output on the response body with an error stream

[2017-10-25 17:25] cpuguy83 commented on #35295
@ZigmunD Why? The API provides tons more detail than the CLI does.

[2017-10-25 17:27] j-rewerts commented on #20980
@dvohra You ever hear anything about this? I have this issue as well.

[2017-10-25 17:31] ZigmunD commented on #35295
@cpuguy83 because it is same metric in CLI and API? MEM USAGE == memory_stats.usage?
Or just change the name of metric in CLI or API to exclude misunderstanding?

[2017-10-25 17:32] cpuguy83 commented on #35295
The API leaves up to the client to interpret. The Docker CLI has decided to represent the actual memory usage without the page cache included.

[2017-10-25 17:34] dvohra commented on #20980
Not yet.

[2017-10-25 17:35] ZigmunD commented on #35295
@cpuguy83 that is not obvious. Metric names in CLI and API are same, but values are different.

[2017-10-25 17:36] ZigmunD commented on #35295
I can and will change logic in my client, but...

[2017-10-25 17:43] ZigmunD commented on #35295
[code]
Why don't you do the same with API?

[2017-10-25 17:45] cpuguy83 commented on #35295
Because the API provides all the data, the total memory charged to the particular cgroup as well as the page cache in use by the cgroup.
The stats themselves are pretty low-level from the cgroup data (on Linux).

[2017-10-25 17:54] ZigmunD commented on #35295
Then it should be documented.
Again. Metric names are same in CLI and API, but values are not.

https://docs.docker.com/engine/reference/commandline/stats/
https://docs.docker.com/engine/api/v1.32/#operation/ContainerStats
Nothing about that.

[2017-10-25 18:03] squarebracket commented on #33603
If I'm upgrading from 17.06.2, do I need to do anything special to wipe away the old devicemapper garbage?

[2017-10-25 18:41] abhi commented on #35288
@thaJeztah from what I recollect I think we create a network when the first task is rolled onto the node.

[2017-10-25 18:46] thaJeztah commented on #35288
@abhi ah, this was the issue; that one was because nodes joined after the service was created; https://github.com/moby/moby/issues/34864

[2017-10-25 18:56] mlmeyers opened #35298 "LCOW: how to set ulimit on lcow"
**Description**

After updating to lcow (17.10.0-ce, build f4ffd25) I started to encounter errors when running several linux containers in regards to the ulimits being set to default 1024. I attempted to update my compose file but receive an error stating it is not supported on windows, also tried updates in the daemon.json file. At current I am not able to find a way to increase ulimits on window

[2017-10-25 19:09] saada commented on #35288
@abhi

Yes. We even tried deleting the stack and recreating it multiple times. It still occurs. What's weird is that it doesn't happen right away. It happens over time (usually under 24h time). It's as though the network gets deleted by the daemon after being created initially. Once the issue occurs (between 3h-24h), the daemon crashes and restarting it fails instantly because at that point the do

[2017-10-25 19:29] friism commented on #35297
@jhowardmsft I know it's probably a long answer, but what's expected to work and what's expected to fail for bind-mounted volumes with LCOW? It seems just on the cusp of greatness - for example, inotify appears to be wired up.

[2017-10-25 19:50] sprutton1 opened #35299 "Unable to mount new drive in container"
**Description**

Per this [forum post](https://forums.docker.com/t/unable-to-mount-new-drive-in-container-anymore/40326). @jhowardmsft
A drive that I create in a Windows container using the --volume command and specifying a single drive letter is not accessible as of the 17.09+ version of Docker for Windows.

**Steps to reproduce the issue:**
1. Use Windows containers
2. Run ```docker run -it -v m

[2017-10-25 20:34] cpuguy83 commented on #35295
docker/cli#641

[2017-10-25 20:42] mpradyr commented on #34696
Please run the below script

https://github.com/MicrosoftDocs/Virtualization-Documentation/blob/master/windows-server-container-tools/CleanupContainerHostNetworking/WindowsContainerNetworking-LoggingAndCleanupAide.ps1

Commandlet:
.\WindowsContainerNetworking-LoggingAndCleanupAide.ps1 -Cleanup -ForceDeleteAllSwitches

Script will cleanup the configuration. If the issue is not fixed even after exec

[2017-10-25 20:48] jhowardmsft commented on #35297
Patrick has a list he was going to sanitise and publish, but I'm not certain if he has yet.

[2017-10-25 20:55] jhowardmsft commented on #35299
Is `m:` the local drive or the container target drive? Certainly this works:

[code]

[2017-10-25 21:01] Vacant0mens commented on #35272
After some testing, I'm now getting this same error on an nginx container from the first stack. I have one running on each host ('global' mode) with a host-port binding, but only one of the containers is throwing the error.

Is this the same problem as the original?

[2017-10-25 21:08] lucastheisen commented on #34080
This appears to be _unfixed_ in 17.10.0-ce-win36 (13788).  It was working for a few versions in between, but just stopped...

[2017-10-25 21:28] thaJeztah commented on #35298
ping @jhowardmsft @johnstep PTAL

[2017-10-25 21:54] jhowardmsft commented on #35298
Many things remain unimplemented in LCOW, this being one of them.

[2017-10-25 22:02] thaJeztah commented on #34080
@lucastheisen looking at the history, this appears to be an issue that's specific to Docker for Windows; could you open a new issue with details in the https://github.com/docker/for-win/issues issue tracker; that way it gets to the right people maintaining that code.

Let me close the issue here, because that code is not in this repository

[2017-10-25 22:02] #34080 closed

[2017-10-25 22:17] lucastheisen commented on #34080
@thaJeztah , done: [issue 1249](https://github.com/docker/for-win/issues/1249)

[2017-10-25 22:20] thaJeztah commented on #34080
Thanks!

[2017-10-25 22:35] friism commented on #35298
@jhowardmsft would it be possible to warn or error in case un-supported options are passed?

[2017-10-25 22:38] jhowardmsft commented on #35298
@friism Well yes, but lets get more important functionality merged first. Such as https://github.com/moby/moby/pull/34859 and others backed up behind it first.

[2017-10-25 23:00] alsfreitaz opened #35300 "m"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2017-10-25 23:18] #35300 closed

[2017-10-25 23:57] fcrimins commented on #21925
Thank you all so much!  I wish I'd read this thread from the bottom up :)
[code]

[2017-10-25 23:59] thaJeztah commented on #35272
Probably unrelated, but why are the quotes escaped in the JSON notation for `SHELL` and `CMD` ?

[code]

Shouldn't that just be;

[code]

[2017-10-26 00:28] #35295 closed

[2017-10-26 00:44] ZigmunD commented on #35295
Thanks!

[2017-10-26 01:26] dshook commented on #20698
This also is a problem on Ubuntu 17.04 Zesty but unfortunately at time of writing there is no published sysv-rc package for zesty :(
https://packages.ubuntu.com/search?keywords=sysv-rc

[2017-10-26 02:10] keyolk commented on #33792
when I use portus, artifactory, quay.io.
I cant push my plugin to registry.
Only docker hub works as expected.
Anyone try other registries ?

Artifactory
[code]

Portus
[code]

Quay.io
[code]

[2017-10-26 03:08] huangjiuyuan commented on #35186
@thaJeztah
- This is an existing node running for weeks.
- It happened without serious problems. There were service deployments and api calls happened at the cluster. The service deployment did not fail.
- The logs before the panic are hundreds lines of info level api call messages, along with lines of warning and error which could provide some insight, I will post these messages below.

[2017-10-26 03:19] huangjiuyuan commented on #35186
We were running our container orchestration platform in the environment. Here is the log for the last 5 minute.
[code]

[2017-10-26 04:37] PatrickLang commented on #35297
https://docs.microsoft.com/en-us/virtualization/windowscontainers/deploy-containers/linux-containers

I listed the current status of filesystem operations there. Does that help?

[2017-10-26 06:03] maltris commented on #34672
Its weird but it seems that after upgrading the kernel to something even more recent (e. g. 4.13.8) it worked again. Can anyone confirm that?

Running Ubuntu 17.10 and 4.13.8 now.

[2017-10-26 06:11] jcamiloradamesa commented on #34672
I can confirm that is working for me with Ubuntu 17.10 and Kernel 4.13.9.

[2017-10-26 06:37] DHowett commented on #35297
It may be worth documenting as well that a rename (9p TRENAMEAT) that overwrites an _existing file_ will not work:

[code]

Certain build systems (CMake comes to mind) may attempt to do this.

[2017-10-26 06:39] synergiator opened #35301 "One of Swarm hosts takes over all service containers, other hosts idle - result is denial of service"
We have had a strange Docker swarm behaviour without any error output.
Namely, one of the managers has started to create containers all for himself creating denial of service through slow runtimes: other 4 hosts (2 of them other managers) were online and idle; all hosts could see each other on the network.

1) is this behaviour pattern generally known?
2) is it possible to upload the diagnostics t

[2017-10-26 07:13] hoffa commented on #11740
Just dropping my two cents.

Running a swarm on Ubuntu 14.04 machines, with each container using `supervisord` (not ideal, but cleanest for our use case). One of my containers kept failing without giving dumping cores.

Had to adjust the following on the hosts to get them:
1. Set `core` limits to `unlimited` in `/etc/security/limits.conf`
2. Add `"default-ulimits": {"core": {"Name": "core", "Hard"

[2017-10-26 07:57] peterschen opened #35302 "dockerd panic when running LCOW container on 1709"
**Description**
When trying running a linux container on Windows Server 1709 dockerd arrives at a panic.

**Steps to reproduce the issue:**
1. Setup LCOW/LinuxKit as per https://blog.docker.com/2017/09/preview-linux-containers-on-windows/ and https://gist.github.com/rn/6bfade1ba98e22691cb287cc8c23609b
2. ```.\dockerd.exe -D --experimental -H 0.0.0.0:12375 --data-root "C:\lcow"```
3. ```docker run

[2017-10-26 08:07] peterschen opened #35303 "LCOW enabled system can't run Windows containers"
**Description**
When running an LCOW enabled dockerd on Windows Server 1709 with ```$env:LCOW_SUPPORTED=1```
and ```$env:LCOW_API_PLATFORM_IF_OMITTED="linux"``` set, Linux containers can be started but Windows containers such as nanoserver won't start.

**Steps to reproduce the issue:**
1. Setup LCOW/LinuxKit as per https://blog.docker.com/2017/09/preview-linux-containers-on-windows/ and https://g

[2017-10-26 08:10] sathieu commented on #35290
Here:
[code]
[code]

[2017-10-26 08:11] michalm86 commented on #32079
Still experiencing timeouts on 17.09

[2017-10-26 08:50] selfisch commented on #33795
Ok, short feedback.

With existing duplicated ip in swarm at version 17.09, performing update to 17.10, the issue will not be resolved automatically.
But after updating all nodes to 17.10 and reinitializing the whole swarm, everything seems to be fine.

I restarted several nodes, several times this morning and there are no doub ips coming up. hurray :-)

[2017-10-26 09:04] mvdstam commented on #30321
@hjdr4 @sirlatrom @thaJeztah @abhi

Docker 17.10 seems to fix a lot of network issues. For instance, I'm not seeing major packet loss anymore *after* a service has been updated, However, it's still not possible as of this time of writing to perform rolling updates without packet loss. During rolling updates, there still are many `connection refused` messages popping up as described earlier in this

[2017-10-26 09:10] n3kz commented on #29992
We had a similar problem when running multiple docker containers (350) using udp to communicate. It was a configuration issue with our host machine.
The following threads solved our issue :
https://github.com/hashicorp/serf/issues/263
https://github.com/docker/libnetwork/issues/1522

We also increased other values concerning udp in sysctl (net.ipv4.udp_{mem/rmem_min/wmem_min})

Hope it helps.

[2017-10-26 09:28] delissonjunio commented on #35242
Update: on docker server 17.10, this part doesn't error out but something else does:

Error response from daemon: failed to copy to /var/lib/docker/builder/f1580e4433cf21114883cbbdf18812c42fb0b298f3c7389f31548c2e652af418: rpc error: code = DeadlineExceeded desc = context deadline exceeded

While the client is "Streaming build context to Docker daemon". I've tried lowering the size of the data but

[2017-10-26 09:30] ep4eg commented on #34672
I've got the same behavior on:

Docker: 17.10.0-ce
runc version: 0351df1c5a66838d0c392b4ac4cf9450de844e2d
Kernel Version: 4.13.4-1.el7.centos.x86_64

[2017-10-26 09:41] x1022as opened #35304 "`restart=unless-stopped` not working as expected"
**Description**
according to https://github.com/moby/moby/issues/11008, `restart=unless-stopped` is used to solve this issue, if container is stopped, it will not be restarted automatically after daemon restart.

while it is not working like that. ping @tonistiigi
**Steps to reproduce the issue:**
1. docker run -tid --name test --restart unless-stopped busybox /bin/sh -c 'exit 1'
2. docker stop te

[2017-10-26 10:02] zacaro commented on #14660
Yup, the community really need this feature.

[2017-10-26 10:05] kingAndGithub commented on #35276
@thaJeztah Hi thaJeztah,
 Sorry to disturb you again, but the system seems to be expanded out.

`[root@jhou-swarm ~]# docker run -d -t 196e0ce0c9fb bash
4b5bbe7ccc6103d46c7866ea9c46caa5ef600a100b0894ee736b9005d0df0d50
docker: Error response from daemon: failed to update the store state of sandbox: failed to update store for object type *libnetwork.sbState: json: cannot unmarshal object into Go str

[2017-10-26 10:13] banuchka commented on #34672
Fixed in kernel-4.13.6

https://lwn.net/Articles/736185/

Amir Goldstein (5):
ovl: fix error value printed in ovl_lookup_index()
ovl: fix dput() of ERR_PTR in ovl_cleanup_index()
ovl: fix dentry leak in ovl_indexdir_cleanup()
ovl: fix missing unlock_rename() in ovl_do_copy_up()
ovl: fix regression caused by exclusive upper/work dir protection

On 26 October 2017 at 10:31:32, ep4eg (notifications@g

[2017-10-26 10:19] kingAndGithub commented on #35276
the kernel is that:
 3.10.0-693.5.2.el7.x86_64

[2017-10-26 10:20] harche commented on #22226
@thaJeztah I am facing the same issue on ppc64le arch,
[code]
[code]
Let me know if you need more info.

[2017-10-26 10:52] mishas commented on #18868
I have the same issue for a while now (with the latest docker being 17.09.0-ce).

I did some debugging on that, and it seems like:
1. It happens with --net=host and (--restart=always or --restart=unless-stopped) after the container goes through a restart. Doing explicit `docker restart my_container` from the command line fixes the problem (/etc/resolv.conf is not empty anymore).
2. In my tests, it

[2017-10-26 10:52] ggaurav10 opened #35305 "Question: Overhead in debug mode"
When docker is run with debug mode enabled, how much is the overhead?
What features, except pprof, are enabled as part of debug mode?
I am on an older version in which 'docker debug' subcommand is not present.

Thanks.

[2017-10-26 11:46] omerh commented on #35097
I think that max container per host option can be a great feature.
I have a service that its CPU usage range is 0% - 100%
Last stack deploy swarm decided to put all 4 containers on the same host.
When there was no work everything was OK.
Than the service got work, and containers got work and host got 100% CPU and eventually got stuck.

A spread rule will help

[2017-10-26 11:48] efocht commented on #24862
Our use case is that we need to assign fixed IPs to services over macvlan. We could re-assign the IPs from inside the container if we had --privileged or proper --cap-add. Nicer would be --ip option passed to the service definition similar to the way it is done with docker run.

The problem with macvlan is that it is unusable, when starting two services on two different worker nodes, we get the sa

[2017-10-26 11:56] vania-pooh commented on #12603
Not sure guys if this is a good idea, but just noticed that setting `docker0` Mac-address to `eth0` value like described [here](http://backreference.org/2010/07/28/linux-bridge-mac-addresses-and-dynamic-ports/) dramatically improves network stuff. E.g. having `eth0      Link encap:Ethernet  HWaddr 00:15:b2:a9:8f:6e` I did:
[code]
My environment:
[code]
In my case LRO was turned off. Hope it helps

[2017-10-26 12:29] KramKroc commented on #34213
Any updates on this? More information was provided so should someone be looking into it by now?

[2017-10-26 12:51] darkprisco commented on #8502
Sorry guys but I didn't get the point!
My problem is that I have several pods running on K8S cluster and over there I can see that all pods are using something like 4 GB of RAM and there is "dockerd" daemon is using 7 GB of RAM.
Is this normal?

[2017-10-26 13:10] cpuguy83 commented on #35305
It's just a lot of extra logging.
The pprof stuff is always loaded, regardless if there is an endpoint available to get the data.

[2017-10-26 13:13] blop commented on #24862
@efocht actually, you need to split the subnet of the swarmed macvlan for each worker
its seems that the ip allocation for macvlan networks are not distributed at the moment.

I do something like (splitting /16 into sub /24 per worker) :

[code]

[2017-10-26 13:34] loretoparisi commented on #34213
Hi @KramKroc we are currently investigating 2 possibile related causes:

1. This is related to the java code running in the container;
2. This is related to the C++ cli processes running;

At this time I'm more convinced that it's related to 1 and something about the JVM allocated resources, while the C++ process (executables called with process fork) I think it is not.

Which kind of test I could

[2017-10-26 13:44] friism commented on #35303
This is a known limitation at this time. You can find details on the plan to enable both side by side here:

* https://github.com/moby/moby/issues/34617
* https://docs.google.com/document/d/1XTnznDI6ArLlRAUaGbXXD9BjR_6zSfOPCVJPQ-2osVc/edit

cc @jhowardmsft @patricklang

[2017-10-26 13:44] sprutton1 commented on #35299
```m:``` is the container target drive.

Your example works, but if I try to use PowerShell to do the same thing, I get the Initialization error and the drive is not found. So, maybe this is a problem with Powershell being unable to mount the volume correctly. This happens on both nano and servercore.

[code]

[2017-10-26 13:55] thaJeztah commented on #35276
hm, that's odd, looks like this relates to https://github.com/docker/libnetwork/blob/19ac3ea7f52bb46e0eb10669756cdae0c441a5b1/sandbox_store.go#L30-L35

Do you have live-restore enabled?

[2017-10-26 13:56] thaJeztah commented on #35305
Please keep in mind that the GitHub issue tracker is not intended as a general support forum,
but for [reporting bugs and feature requests](https://raw.githubusercontent.com/moby/moby/master/.github/ISSUE_TEMPLATE.md). For other type of questions, consider using one of;

- the Docker Support Forums - https://forums.docker.com
- the [Docker community Slack channel](https://blog.docker.com/2016/11/i

[2017-10-26 13:56] #35305 closed

[2017-10-26 14:04] thaJeztah commented on #8502
@darkprisco this issue was created over three years ago, which means the code that was running at the time likely has been completely rewritten (or not even in this repository anymore).

If you think there's a bug, and have information to reproduce/investigate, it's best to open a new issue with the information that's requested in the issue template.

[2017-10-26 14:37] thaJeztah commented on #33792
@keyolk that's best reported with the maintainers/companies of those registries; it means they don't implement the full registry spec, or have implemented it incorrectly.

[2017-10-26 14:41] rogersass commented on #34696
Using the WindowsContainerNetworking-LoggingAndCleanupAide.ps1 worked to achieve healthy Windows worker nodes. Successfully repaired three nodes. Thank you for the support.

[2017-10-26 14:45] thaJeztah commented on #22226
@harche looks like there's an error with one of your containers;

[code]

As far as I know, there never was a ppc64le release for Docker 1.13 - what repository did you install those packages from? (Also, docker 1.13 has reached EOL quite a while ago)

[2017-10-26 14:53] adambro commented on #34672
I still experience this (or similar issue). Error message is the same:
[code]

My system:
Docker version 17.10.0-ce, build f4ffd2511c
runc version: 0351df1c5a66838d0c392b4ac4cf9450de844e2d
Kernel Version: 4.13.7-1-ARCH

So it does not seem to be solved in kernel 4.13.7 as @banuchka suggested.

[2017-10-26 14:54] thaJeztah commented on #35186
Was that node always a worker node? (Wondering why there's attempts to call the `/services` API endpoint)

[2017-10-26 14:59] Vacant0mens commented on #35272
@thaJeztah yeah, I'm injecting the text for the dockerfile from a variable in a script, so escaping the quotes is necessary. I just forgot to edit that out before I posted it.

[2017-10-26 15:08] mbentley commented on #34696
I've used that script to clean up a node several times but it always seems to keep getting back into an unhealthy state where I have to run it again.

[2017-10-26 15:17] thaJeztah commented on #35302
ping @jhowardmsft

[2017-10-26 15:47] thaJeztah commented on #35097
Yes, I think there's definitely improvements that can be made in this area; make the scheduling more customisable (in this case, for example, it may be the _desired_ result to pack as many services as possible on a node before going to the next one - but for others it may not be), perhaps being able to configure the order in which resources are considered when scheduling (e.g. "memory > cpu > netw

[2017-10-26 16:03] TimWolla commented on #35123
Yes, it does.

Am 25.10.2017 um 13:44 schrieb Sebastiaan van Stijn:

[2017-10-26 16:03] Vacant0mens commented on #35272
@friism @johnstep How does docker (especially EE/Windows) handle Stack/Overlay networks? I have two stacks that have custom networks, but the network address/subnet is the same. Would that cause these kinds of problems?

[2017-10-26 16:26] efocht commented on #24862
The setup above won't allow the failover a service with a particular IP. For example a user-space NFS server. I need service1 to have ip1, service2: ip2. And keep the IPs when the services are failed over.

[2017-10-26 17:20] matthanley commented on #24862
@efocht could you decouple the IP addressing from the container networking in your environment? In our environment we run keepalived on the hosts to provide floating IP addresses and then tcp-proxy back into the container networks. This won’t work if you need to dynamically assign IP addresses but you can proxy to different containers based on port instead of address.

[2017-10-26 17:44] firelizzard18 opened #35306 ""file integrity checksum failed" while pushing image to registry"
**Description**

I am using Gitlab CI to build windows docker images that are then pushed to Gitlab's image registry. After repeated build-push cycles, push starts failing.

**Setup:**
+ Windows server 2016 CI server
  - Running Gitlab CI runner 10.1.0
  - Running docker server & client 17.09.0-ce
  - Configured for windows containers
+ CentOS 7 Gitlab server
  - Running Gitlab 10.0.3
  - Configur

[2017-10-26 17:47] firelizzard18 commented on #35306
This error means very little to me. Is it an issue with my build server (docker) or with the container server (docker registry/gitlab)?

[2017-10-26 17:59] jhowardmsft commented on #35302
Looks like a regression introduced by https://github.com/moby/moby/commit/ddae20c032058a0fd42c34c2e9750ee8f6296ac8#diff-a1f5051ce84e711a2ee688ab9ded5e74L73 in https://github.com/moby/moby/pull/34895

I'll submit a fix shortly.

[2017-10-26 18:06] jhowardmsft commented on #35302
@mlaventure ^^ FYI

[2017-10-26 18:43] lipingxue commented on #35249
@GordonTheTurtle @fntlnz Could you or someone who familiar with this issue to take a look? Is it known issue? I have tried newest docker ce release 17.10, but can still reproduce this issue.

[2017-10-26 18:44] lipingxue commented on #35249
@fcrisciani Could you help to take a look since you commented in a similar issue #32195 , Thanks!

[2017-10-26 19:10] dukedave commented on #35280
The introduction of this warning might increase demand for the 'squash' functionality of multi-stage builds:

As identified on [this Stackoverflow question](https://stackoverflow.com/questions/46708053/empty-continuation-lines-will-become-errors-how-should-i-comment-my-dockerfil/), it make _comments in multi-line RUN commands_ illegal.
A major use case of that pattern is to achieve layer squashing

[2017-10-26 19:16] thaJeztah commented on #35280
@dukedave see https://github.com/moby/moby/pull/35004

[2017-10-26 19:41] cirocosta commented on #30445
Happening here a lot as well after updating to 17.10 (d4m):

[code]

[2017-10-26 19:55] thaJeztah commented on #34591
Let me close this then; thanks!

[2017-10-26 19:55] #34591 closed

[2017-10-26 20:45] cpuguy83 opened #35308 "libnetwork panic on master"
Libnetwork paniced on a CI run: https://jenkins.dockerproject.org/job/Docker-PRs/46197/console

ping @fcrisciani

[code]

[2017-10-26 20:46] delfer opened #35309 "Devicemapper fails on bonnie++ test"
**Description**

Devicemapper fails on bonnie++ test when using >4Gb / >8Gb files (bonnie uses disk=2*RAM)

**Steps to reproduce the issue:**
1. Configure docker to use devicemapper (no care loop or thinpool)
2. Run `docker run -ti ariarijp/bonnie -d /tmp -u root`

**Describe the results you received:**
[code]

**Describe the results you expected:**
_Test results._

**Additional information you de

[2017-10-26 21:21] mlaventure commented on #35302
Indeed, missing an init. I wonder why CI didn't catch it, may need to add a test.

[2017-10-26 21:46] thaJeztah commented on #35309
Sounds like you're trying to write more than is available in the created device;

    Base Device Size: 10.74GB

You can specify a different size in the storage options for devicemapper

[2017-10-26 21:48] thaJeztah commented on #35309
However, if you're doing a lot of writing, it's best to define a volume for the location where writes happen; there's a big performance penalty when doing many writes to copy-on-write filesystems

[2017-10-26 21:58] abhi commented on #32195
@DBLaci @svscorp the possible root cause for ```Unable to complete atomic operation, key modified``` has been identified and fix is being tested. You can expect a patch in 17.11

[2017-10-26 22:21] vieux commented on #35290
@pradipd we think it might be caused by https://github.com/moby/moby/pull/34674 can you take a look ?

[2017-10-26 22:26] srelf-ukcloud commented on #32276
Im also experiencing this on KVM running under openstack on RHEL using the virt-io drivers. Any news or more information people need providing.

[2017-10-26 22:32] mavenugo commented on #35290
@vieux @pradipd i will open a new issue with more details.

[2017-10-26 22:47] mavenugo opened #35310 "Tasks fail with error "Unable to complete atomic operation, key modified""
This is a spin-off of #35290 to address the error `Unable to complete atomic operation, key modified` that causes the Tasks to be scheduled on the node.

[code]

Thanks to @abhi , we reproduced the issue with debug enabled. The root-cause of this seems to be
introduced via https://github.com/moby/moby/pull/34674

Looking at the attached logs,

[code]

It seems that even after the network is cleane

[2017-10-26 22:50] jhowardmsft commented on #35302
There's no RS3 CI yet, and no LCOW CI at all.

Should root be init for LCOL as well? I've fixed it for LCOW, but not submitted a PR as there's a further break in the containerd integration which causes LCOW container start to fail - am investigating currently and will submit a PR for both fixes together.

[2017-10-26 23:00] friism commented on #32276
@srelf-ukcloud @sinqinc @drnybble in addition to posting on this issue (which is great for discoverability and getting lots of folks looking at the problem) I encourage you to also open support tickets with Microsoft support. You're running Docker Enterprise Edition on Windows Server, and that is supported by Microsoft (who can escalate if required).

[2017-10-26 23:57] johnharris85 commented on #27653
Ping @cpuguy83 @thaJeztah, as btrfs is the only supported filesystem for SLES, this is an issue for corporate EE customers. Any additional updates / information / workarounds you'd recommend?

[2017-10-27 00:51] diegito commented on #32079
Sorry, forgot to provide update here. A month ago we tried again with the newest version of Docker 17.06 and the timeout issues we were experiencing were gone. We brought back all our services in production inside swarm and we haven't had a timeout since (the only timeouts we experience are when we release rolling updates, but that is not really a big concern). We will update soon to the newer Doc

[2017-10-27 01:47] kingAndGithub commented on #35276
yes, i enabled that.
but if don't enable live-restore, the response are the same.

[2017-10-27 02:05] Vacant0mens commented on #35061
I'll see what I can do.

[2017-10-27 02:14] tiny1990 commented on #35123
@thaJeztah  what difference between cgroupfs and systemd

[2017-10-27 02:48] huangjiuyuan commented on #35186
@thaJeztah This node was always a worker node. Some developers might call the `/service` API here.  This was a testing environment with many many users.

[2017-10-27 02:50] mcodd commented on #35281
Hi, I'm seeing the same issue when not using `order: start-first`.  It seems like this could be related to something truncating names (specifically something truncating a thing it thinks is an ID to 12 characters, but it's not actually an ID and so we're getting collisions).  In the initial report above, note the error message:

`"Failed joining staging-endpoint to sandbox staging_backend_sbox: co

[2017-10-27 02:58] CodeJuan commented on #31997
Hi @elianka, I think I got the same issue, is there any updates?
Thank you.

[2017-10-27 03:25] jshachm opened #35311 "`docker restart -t` with negative input time return different results after change the backend"
**Description**
After the PR #32237, we have changed the Container Wait Backend. However, this pr leads some different behavior to `docker restart -t`

**Steps to reproduce the issue:**
1. `docker restart -t -100  $containerID` in the early version 1.11.2
     `docker` will wait utils container to  exit elegantly
2. `docker restart -t -100  $containerID` in the latest version 17.x
      `docker` w

[2017-10-27 03:29] jshachm commented on #35311
ping @theadactyl  @cpuguy83 @ripcurld0 @tonistiigi

[2017-10-27 03:34] ZigmunD commented on #35310
Same here. Docker 17.10, 5 managers, 2 workers, Proxmox VMs, Ubuntu 16.04.3.
After another service update I got:
[code]

Swarm completely unusable at the moment, we cannot update services.
Have not seen this error before 17.10.

[2017-10-27 03:59] euank commented on #34672
@adambro Can you check your kernel options for the `OVERLAY_FS_INDEX` config option (e.g. with `zgrep OVERLAY_FS_INDEX /proc/config.gz`)?

If that option is set to yes, it's expected that the kernel will still exhibit the same behaviour.

As @banuchka indicates, this error shouldn't occur on newer kernels so long as they don't have that option set.
That being said, there's still a mount being leak

[2017-10-27 04:46] ZigmunD commented on #35310
As workaround that works for me - create independent overlay network and use it as external in stacks.

[2017-10-27 05:53] renskiy opened #35312 "'docker service rollback' returns error code 1"
`docker service rollback` returns error code 1 when trying to rollback to the version with more replicas.

Docker version
[code]

Steps to reproduce:
1. create service with replicas=3
[code]
2. update service with replicas=1
[code]
3. rollback service
[code]
4. check return code
[code]

After rollback I got following containers (rollback actually was successful):
Node 1
[code]
Node 2
[code]
Node 3

[2017-10-27 06:30] kolyshkin commented on #35271
Reproduced with `docker run --mount type=tmpfs,dst=/dev/shm,tmpfs-size=100 -it --rm --ipc none alpine df /dev/shm`

A workaround (using `docker run`) would be to use `--ipc=private --shm-size=NNNNN` which is essentially the same as above.

@EliSnow @fractalawareness may I ask what is the reason for you to have own /dev/shm mount?

[2017-10-27 06:50] thaJeztah commented on #35271
@kolyshkin IIRC, `--shm-size` is not supported for services, so this was the approach to do the same for services

[2017-10-27 06:56] thaJeztah commented on #25382
Is anyone still running into this on a current version of Docker? Docker 1.11 has reached EOL almost a year ago, and a lot of things have changed. Also note that Amazon Linux is not a supported platform (Docker does not ship packages for Amazon Linux); if you're running into this on Amazon Linux, your best point of entry would be to contact Amazon support, as they maintain those packages, and shou

[2017-10-27 07:35] kolyshkin commented on #35271
@thaJeztah I thought maybe the reason is to avoid a bind mount from the host (i.e. same as `--ipc private`).

Anyway, I'll send a PR soon

[2017-10-27 07:51] maarten-kieft commented on #34679
For other readers: I ended up using a combination of tags and labels. Labels allow me to write down the version, so I know which version the latest actually is.

[2017-10-27 08:30] duraki commented on #34097
I'm also getting this on latest stable: `Version 17.09.0-ce-mac35 (19611)`

Inspect:

[code]

All other containers stopped successfully. The above container is based on nginx image.

Although greping PID was to no avail so it seems background job is completed.

[code]

[2017-10-27 08:32] delfer commented on #35309
@thaJeztah you are right. The problem is in `Base Device Size`.
The following config works fine
[code]
I've found this solution on https://forums.docker.com/t/increase-container-volume-disk-size/1652/7
But I can't see any information on https://docs.docker.com/engine/userguide/storagedriver/device-mapper-driver/

[2017-10-27 08:43] BirkhoffLee opened #35315 "Error starting daemon: couldn't create plugin manager: error setting plugin manager root to private: permission denied"
**Description**

**Steps to reproduce the issue:**
1. Have a brand new server set up (CentOS 7 minimal)
2. Run the commands below w/ root/sudo permission

[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
The dockerd launches successfully

**Additional information you deem important (e.g. issue happens only occasionally):**

There are some other people a

[2017-10-27 08:46] thaJeztah commented on #35309
Good to hear that worked! Hm, yes, the option itself is documented in https://docs.docker.com/engine/reference/commandline/dockerd/#options-per-storage-driver, but I agree it would be good to document it in the user guide.

Could you open an issue (or even better, a pull request :smile:) in the documentation repository for that?
https://github.com/docker/docker.github.io

[2017-10-27 08:49] thaJeztah commented on #35309
When documenting, we should make sure to also mention there's a performance impact (at least I recall there was one); because initialising the device takes longer IIRC)

[2017-10-27 08:56] thaJeztah commented on #35309
Let me close this issue for housekeeping, but if you could post a link here to the issue you opened in the docs repository, that would be great!

[2017-10-27 08:56] #35309 closed

[2017-10-27 08:59] thaJeztah commented on #34097
@duraki are you running that on your Mac, or inside the VM where the daemon runs?

[2017-10-27 09:06] the-nw1-group commented on #27381
We are occasionally hitting this issue on Oracle Linux:, with docker version 17.03.1-ce (From Oracle's repos)

[code]

The above is all fixed by the project's TDA, so we can't change any of it for they time being.

90% of our other environments are Centos 7.3/7.4, and we've not seen the issue there.

[2017-10-27 09:14] thaJeztah commented on #35186
be aware that docker 17.03.x has reached EOL, so a fix may be in a newer version. If you cannot update to a newer version, and have to stay on 17.03.x, can you update to the latest patch release for 17.03? Docker 17.03.2 contains various fixes, so definitely recommended to install; https://github.com/moby/moby/releases/tag/v17.03.2-ce

[2017-10-27 09:16] duraki commented on #34097
@thaJeztah

I'm on Mac without VM so natively. If you need any other info let me know.

[code]

[2017-10-27 09:22] WTFKr0 commented on #30445
Have same problem here :
After upgrade from 17.09 to 17.10
All my swarm services stuck in that state
I rolled by to 17.09 and all start fine

Info :
[code]

[2017-10-27 09:29] thaJeztah commented on #34097
@duraki Sorry, I wasn't clear: I meant if you tried to run the `ps aux | grep` on your mac, because that process-id is the ID of the process inside the VM, so won't be found on your Mac

[2017-10-27 09:50] #35126 closed

[2017-10-27 10:06] efocht commented on #24862
@matthanley thank you for the hint, we will consider this solution. I'm a bit reluctant to add another high availability layer, though. Swarm's capabilities would actually be sufficient.

I don't want to hijack the thread to solve my issue, just wanted to report that we also have a use case for the addition of --cap-add option to services and hope that the July 20 proposal from @thaJeztah will be

[2017-10-27 10:24] julianrosebury commented on #32270
docker pull hello-world.

I got this...

Error response from daemon: Get https://registry-1.docker.io/v2/: dial tcp: lookup registry-1.docker.io on [::1]:53: rea
d udp [::1]:41859->[::1]:53: read: connection refused

I fixed it by quitting Docker from the tray, then simply restarting it.

[2017-10-27 10:27] jvigour commented on #35097
Thanks for the feedback.
Indeed, a possibility of customizing the criteria order to spread the tasks over the nodes would be a nice feature. It would enable a more efficient spread of services requiring a huge amount of resources and others services

[2017-10-27 10:28] daixiang0 opened #35317 "start docker service fails in container"
[code]
My host env:
[code]
[code]
My container file:
[code]

[2017-10-27 10:39] thaJeztah commented on #30445
@jcassee @loiu92 @purplesrl @svscorp @SunDeryInc @cirocosta @WTFKr0 If I'm not mistaken, the original issue reported here was resolved in a patch release (can't find the change currently); the issue currently in docker 17.10 is a different issue (but same error message), and is being tracked through https://github.com/moby/moby/issues/35310. To stay informed on progress, please subscribe to that i

[2017-10-27 10:45] omerh commented on #35281
Just thinking... might be related to the point that our containers run without STOPSIGNAL?
the engine kills the container after grace failed so it restart the container, thus the stack deploy fails

@mcodd do you have a STOPSIGNAL in your Dockerfile ?

[2017-10-27 10:46] omerh commented on #32195
@abhi can you share a link to the fix, so ill be able to track it?

[2017-10-27 11:05] thaJeztah commented on #35317
This is not a bug; If you want to run systemd inside a container, the container must be started with additional privileges; it also needs access to certain paths on your hosts, which you need to bind-mount into the container.

Generally I'd really discourage using systemd; not only make it your containers less secure (because you have to run with additional privileged), [containers are not VM's](h

[2017-10-27 11:05] #35317 closed

[2017-10-27 12:20] jar3b commented on #15651
@metyl Thank you! Your solutions works nice on Debian Stretch after upgrading kernel 4.5->4.9.

[2017-10-27 12:33] mlaventure commented on #35302
I don't think there's any penalty at having it initialized in all cases

[2017-10-27 12:43] drnybble commented on #32276
@friism It is not really clear that you are supposed to contact Microsoft. It would be great to spell this out somewhere in the Docker store. For instance, https://docs.docker.com/docker-for-windows/faqs/#what-if-i-have-problems-or-questions tells you to log issues on github but doesn't mention contacting Microsoft support.

[2017-10-27 12:56] abhi commented on #32195
@omerh we are tracking the issue here https://github.com/moby/moby/issues/35310 and the PR for the fix is here https://github.com/docker/libnetwork/pull/2004

[2017-10-27 12:56] eyenx opened #35318 "SWARM Mode - Docker binds ingress ports always on 0.0.0.0"
**Description**

We have multiple hosts using swarm mode.

Some of this hosts have two or more external IP addresses. Docker swarm services with published ports always bind to 0.0.0.0:<port>. Even after launching dockerd with --ip=xxx.xxx.xxx.xx.

Container not started in swarm mode, are binding to the correct IP. Services in Swarm are always binding published ports to every IP known by the Host (

[2017-10-27 12:57] srelf-ukcloud commented on #32276
Hey all, sooo i spent some time last night working on this. I managed to fix it for me, buy installing the latest virt-io driver for the network card from virt-io-win-0.1.141...
![image](https://user-images.githubusercontent.com/24570050/32104972-b1154950-bb1e-11e7-870f-49d66d0e3f8c.png)

Seems to have resolved the problem for me. YMMV of course.

[2017-10-27 13:35] cpuguy83 commented on #24862
I don't think we'll be adding `--privileged` or `--cap-add`. See #32801 for the current way we want to solve this both for swarm and k8s. There was a talk on this at DockerCon EU... struggling to find the video at the moment.

[2017-10-27 13:40] thaJeztah commented on #35306
ping @friism

[2017-10-27 13:44] cpuguy83 commented on #35318
The `--ip` option is for `docker run -p`, not swarm, and swarm binds on every node in the cluster.
You can use host-mode binding instead of ingress and specify an IP address in the binding.

See https://docs.docker.com/engine/swarm/services/#publish-a-services-ports-directly-on-the-swarm-node

Closing as this is expected behavior and is documented, but feel free to discuss.
Thanks! 👼

[2017-10-27 13:44] #35318 closed

[2017-10-27 14:01] eyenx commented on #35318
Hi, Thanks.

So, there isn't a method where I can deploy a service in the swarm which binds on host1 to IP X and on host2 to IP Y? It has to bind to all addresses available on the host?

[2017-10-27 14:04] tswift242 commented on #34601
@thaJeztah I see that changes related to the move to containerd 1.0 were merged recently. Does that impact this issue, or checkpoint/restore in general?

[2017-10-27 14:16] mcodd commented on #35281
We do not have STOPSIGNAL in our Dockerfile... for the tasks failing to start, the error message really suggests something at the networking layer - i don't know enough swarm internals to understand why those -sbox containers are being spawned on the docker_gwbridge network, but their names are obviously colliding with similarly named things already on the network...

I see the gwEPlen constant be

[2017-10-27 14:19] cpuguy83 commented on #35318
@eyenx That seems correct as the service could be scheduled anywhere on the cluster.

[2017-10-27 14:20] cpuguy83 commented on #24862
Actually I guess the talk was at Moby Summit. These videos have not been posted yet.

[2017-10-27 14:57] thaJeztah commented on #35318
There's a tracking issue that shows which options are not (yet) supported for swarm services here: https://github.com/moby/moby/issues/25303. Issues about `--ip` can be found in https://github.com/moby/moby/issues/24170 (duplicated by https://github.com/moby/moby/issues/29816)

For publishing ports (slightly related) the `-p <ip-address>:<host-port>:<target-port>` option is not supported for servi

[2017-10-27 15:11] thaJeztah commented on #35281
Thank @mcodd - this may be related to the changes in https://github.com/moby/moby/commit/9bed0883e762181ad6c4d5607ae2228e164e44b5 (https://github.com/moby/moby/pull/34674)

ping @mavenugo @pradipd

[2017-10-27 15:13] thaJeztah commented on #35310
This one also looks to be related to the ILB/ELB PR; https://github.com/moby/moby/issues/35281

[2017-10-27 15:41] F30 commented on #32919
I can confirm this in a rather similar setting:

[code]

The issue occurs with kernel version 4.9.0-4-amd64 as well as 4.13.0-0.bpo.1-amd64. Disabling user namespaces fixes it.

[2017-10-27 15:53] hogepodge commented on #33974
I'm running into the same problem with Docker version 17.10.0-ce, build f4ffd25

"failed to export image: failed to create image: failed to get layer sha256:xxx: layer does not exist"

Always happens with a COPY directive in the Dockerfile.

[2017-10-27 15:53] whitecolor opened #35319 "Error grabbing logs: EOF"
OS: Windows 10 WSL (Ubuntu)
Docker for windows: Version 17.09.0-ce-win33 (13620)
Compose `1.17.0-rc1` / `1.16.1` (installed on WSL)

When starting containers **periodically** get the error `Error grabbing logs: EOF`
![image](https://user-images.githubusercontent.com/736697/31863834-1a03b5f2-b708-11e7-912b-97b0c1bc381c.png)

The command is run: `docker-compose logs --tail 10 --follow [services]`

S

[2017-10-27 16:20] rogersass commented on #34696
Using the WindowsContainerNetworking-LoggingAndCleanupAide.ps1 does work. But I have found that after stopping/deallocating the Windows Worker Nodes via the Azure Portal, they become unhealthy and need to repeat the fix. To be clear, restarting the Operating System is not the problem, but stopping the VM via Azure appears to cause the issue to occur; not every single time, it may take two or three

[2017-10-27 16:52] eyenx commented on #35318
Okay. Thank you very much.

[2017-10-27 17:02] rgardam commented on #35229
This also affects configs.
Same thing.

This completely breaks rotating both secrets and configurations in any sensible way

[2017-10-27 17:23] pradipd commented on #35310
FYI @msabansal @dineshgovindasamy

[2017-10-27 17:23] pradipd commented on #35310
@theJeztah What commit is docker 17.10-ce build from?  Is there a tag?

[2017-10-27 17:24] pradipd commented on #35310
@abhi Can you share the repro steps?

[2017-10-27 17:51] mahald opened #35321 "solution for large port range in docker stack deploy ?"
I want to deploy a container with a big udp port range inside a v3 yml file.

[code]

this range maybe even too small and should get bigger for production.

This fails due to a timeout.
im aware of this "docker-big-port-range-problem" for docker (not swarm) there i used `--net=host` for services meanwhile it's possible to add `--network=host`.

As the server must be able to access the internal net

[2017-10-27 18:22] thaJeztah commented on #35310
@pradipd see https://github.com/docker/docker-ce/releases/tag/v17.10.0-ce

[2017-10-27 18:23] thaJeztah commented on #35321
You can use host-networking with services as well

[2017-10-27 18:48] mahald commented on #35321
but not in in yml v3 files, thats the problem

[2017-10-27 19:15] thaJeztah commented on #35321
That's supported now (I think since Docker 17.06.1) through https://github.com/moby/moby/pull/32981;

[code]

[2017-10-27 19:18] thaJeztah commented on #25873
I re-tested this on Docker 17.10, and this should now work (see my previous example in https://github.com/moby/moby/issues/25873#issuecomment-319109840)

@realcbb if the example I gave doesn't work on the latest 17.06.x EE release, please contact your support representative

[2017-10-27 19:18] #25873 closed

[2017-10-27 19:40] kolyshkin commented on #34601
I have just checked it with the latest docker from git, and the issue is no more:
[code]

Here's version info:
[code]

[2017-10-27 19:40] kolyshkin commented on #34601
So I guess we can close this issue.

[2017-10-27 19:54] abdihakiim commented on #22599
replace your source.list with this

**deb http://repo.kali.org/kali kali-rolling main contrib free
deb-src http://repo.kali.org/kali kali-rolling main contrib free**

[2017-10-27 19:57] pradipd commented on #35310
I sync'd up with @abhi and @mavenugo and got all the relevant details.
I'm investigating now. Thanks!

[2017-10-27 20:09] tswift242 commented on #34601
@kolyshkin That's great! I'm confused though. The server version in your ```docker info``` output is listed as 17.06.0-dev. Isn't the docker version in development right now 17.11? I believe that this issue didn't appear until the 17.06 release.

[2017-10-27 20:10] fwanggg opened #35322 "docker top api doesn't behave like ps -ef as is documented"
**Description**
`docker top <containerID>` should by default return same result as if you are doing `ps -ef` in the container. This is documented, say V1.24 docker API.
https://docs.docker.com/engine/api/v1.24/
"Query parameters:

ps_args – ps arguments to use (e.g., aux), defaults to -ef"

**Steps to reproduce the issue:**
1. download minishift and start minishift
2. minishift ssh to VM
3. docker

[2017-10-27 20:24] mahald commented on #35321
ok, thanks a lot.

is it right that it isn't possible to access the internal network then anymore (as it is using host networking) ?

tried things such as (default or also a userdefined name and defined it in `networks`):
[code]
but the container isn't starting anymore then. with: `container cannot be disconnected from host network or connected to host network`

so i will need to expose the ports

[2017-10-27 20:28] cpuguy83 commented on #34601
When the moby split happened, we stopped updating the version file in this
repo and are actively working to remove it.

On Fri, Oct 27, 2017 at 4:10 PM, Thomas Swift <notifications@github.com>
wrote:

--

- Brian Goff

[2017-10-27 20:44] cpuguy83 commented on #35322
`docker top` is actually execing `ps` on the docker host.
If the host doesn't support `ef` then `docker top` will not support it.

[2017-10-27 21:12] Routhinator commented on #33685
Also seeing this issue with client > server connections for a telnet service on Swarm. Swarm seems to kill the connection after 20 minutes or so if it's idle. There needs to be a way to prevent this, it's up to the service to kill idle connections, not the host.

[2017-10-27 21:13] colindownsrazouk opened #35323 "Shared mount under local volume can cause file deletions"
**Description**
On container startup, if you mount a directory with the "shared" propagation flag to a path that is below a local volume, that mount will persist after stopping and removing the container. Then, if you try to remove the local volume it will remove all files under the mount.

**Steps to reproduce the issue:**
1. mkdir /tmp/importantdata
2. touch /tmp/importantdata/{a,b,c}
3. docker

[2017-10-27 21:30] pronvit commented on #34601
@kolyshkin But the output you posted is exactly what the _wrong_ behaviour is. The right behaviour is to have checkpoint data in `/tmp/x/cpt1`.

Guys, I'm a bit surprised a breaking change got into release version just because someone alone decided it would be better this way, but can we make sure now we're all on the same page and the issue won't get accidentally closed or anything.

[2017-10-27 21:40] stealthybox commented on #30242
I am still able to reproduce:
[code]
results in the error @thaJeztah mentions from `docker service ps --no-trunc projectname_svc`:
[code]

[2017-10-27 21:41] stealthybox commented on #30336
perhaps related #30242

[2017-10-27 21:49] kolyshkin commented on #34601
Oh, OK, so the nature of the bug is, `--checkpoint-dir` kinda became like `--checkpoint-dir-prefix`.

Yeah, I think this is a bug, and an API breakage. My feeling is we should revert the patch.

[2017-10-27 22:01] kolyshkin commented on #28488
I think this boils down to having an ability to set parameters for existing containers, and is out of scope for checkpoint/restore per se.

[2017-10-27 22:02] #35302 closed

[2017-10-27 22:06] thaJeztah commented on #30242
@stealthybox I don't think that error is actually a bug; `User specified IP address is supported only when connecting to networks with user configured subnets` - custom IP addresses are not supported for services, only containers (`docker run` / `docker-compose up`)

[2017-10-27 22:19] thaJeztah commented on #35321
Correct; the networking of the container is now basically running "outside of the container" - directly on the host. So `localhost` is not `localhost` of the _host_, etc.

Either that, or run those with host-networking as well, then `localhost` would work. One thing to be aware of, of course, is that you can only have a single container listen on a port (i.e. having two containers in host-networki

[2017-10-27 22:20] thaJeztah commented on #35321
Let me close this issue for housekeeping (as it's not a bug), but feel free to continue the conversation

[2017-10-27 22:20] #35321 closed

[2017-10-27 22:26] thaJeztah commented on #33685
There's some information on this in https://github.com/moby/moby/issues/31208 (I think this is a duplicate of that issue), and https://github.com/moby/moby/issues/32195#issuecomment-315143802

[2017-10-27 22:34] thaJeztah commented on #35323
ping @cpuguy83 @kolyshkin PTAL

[2017-10-27 22:34] tswift242 commented on #34601
Whoops. Thanks for catching that @pronvit. I clearly didn't look at @kolyshkin's post closely enough.

@kolyshkin Yes this is a breakage and it's preventing users from upgrading docker past 17.05. Would you be able to help revert the breaking change?

[2017-10-27 22:42] thaJeztah commented on #35256
Silly question, but is the docker socket mounted into the containers running for that service?

[2017-10-27 22:46] thaJeztah commented on #35319
I see there's already an active discussion on that issue, let's close this one for now to not let the discussion diverge.

[2017-10-27 22:46] #35319 closed

[2017-10-27 22:48] whitecolor commented on #35319
@thaJeztah can you point out the discussion, for me to track it.

[2017-10-27 22:51] thaJeztah commented on #35319
@whitecolor the other issue you opened i docker/for-win

[2017-10-28 00:01] boucher commented on #34601
Yes, it does seem like this should have been a quick fix if the change had just been reverted when discussed, it would be good to do that asap.

[2017-10-28 06:20] invisibleroads commented on #3182
Running `docker system prune` freed a lot of space on my machines.

https://docs.docker.com/engine/reference/commandline/system_prune/

[2017-10-28 07:36] luckygoodness commented on #34601
you think so?

On Fri, Oct 27, 2017 at 5:02 PM, Ross Boucher <notifications@github.com>
wrote:

[2017-10-28 07:36] luckygoodness commented on #35319
no need

On Fri, Oct 27, 2017 at 3:52 PM, Sebastiaan van Stijn <
notifications@github.com> wrote:

[2017-10-28 07:37] luckygoodness commented on #35310
yea why not how do you want it

On Fri, Oct 27, 2017 at 10:25 AM, Pradip Dhara <notifications@github.com>
wrote:

[2017-10-28 07:48] philipp22 commented on #35319
The same error occurred for me when I tried to start a container that was relying on a non-existent network. Could this be the case for you?

[2017-10-28 08:41] adambro commented on #34672
Indeed I have it set to yes: `CONFIG_OVERLAY_FS_INDEX=y` so the issue persists. Thanks for help @euank and @banuchka.

[2017-10-28 09:07] rusrushal13 commented on #32501
Is this issue is implemented or not, If not I would like to work on it.

[2017-10-28 09:27] cghislai opened #35324 "Feature request: Websocket endpoint for service logs"
There is already a websocket endpoint to attach to a container.
Now that service logs are available is the API, I'd be happy to be able to use websocket to fetch them.
Hijacking a TCP connection is not something we can easily do in a browser.

[2017-10-28 09:56] whitecolor commented on #35319
What you mean by `non-existent network`? After I get an error next time I restart the container and get logs it works ok.

[2017-10-28 10:41] emile-jumo commented on #35256
@thaJeztah Thanks for the reply. I got derailed from this with other work that needed to take priority. That was the issue, sometimes you forget to add those things that would be `silly` to think that it is not there.

For any one that comes to such a problem or wanted to know how to mount the docker socket into the container for a service add this to your `docker service create` command:
[code]

[2017-10-28 10:41] #35256 closed

[2017-10-28 10:48] dudigit commented on #21650
In case of Flask application you need to add to your Dockerfile something like:
ENV FLASK_APP app.py
ENTRYPOINT ["python", "-m", "flask", "run", "--host=0.0.0.0"]

[2017-10-28 10:50] renskiy opened #35325 "'docker service update --host-add' does not update existing host entry"
`docker service update` with `--host-add host:new-ip` option does not replace existing host IP, but instead adds new record with new IP. I expect that service update will replace 'host:old-ip' by 'host:new-ip'.

Docker version
[code]

Steps to reproduce
1. Create service with 'foo:127.0.0.1' host mapping:
[code]
2. Change IP for host 'foo':
[code]
3. Check hosts mapping:
[code]

[2017-10-28 10:54] luckygoodness commented on #32501
no thanks

On Sat, Oct 28, 2017 at 2:08 AM, Rushal Verma <notifications@github.com>
wrote:

[2017-10-28 11:19] philipp22 commented on #35319
I ran the container with the --network flag, specifying a network that did not exist. However, if it works for you after restarting the container your problem is likely to be a different one.

[2017-10-28 13:18] thaJeztah commented on #35256
No worries, glad you resolved!

[2017-10-28 14:00] thaJeztah commented on #32501
removed comment from @luckygoodness, which looks to be a spam account

[2017-10-28 14:04] thaJeztah commented on #35101
removed spam comment

[2017-10-28 14:41] thaJeztah commented on #35325
Thanks for reporting, but this is the expected behaviour; host-entries do not have to be unique in an `/etc/hosts` file, take for example the [hosts(5) ](http://man7.org/linux/man-pages/man5/hosts.5.html)  man-page, having both the IPv4 and IPv6 address for localhost:

[code]

Depending on the [configuration in `/etc/host.conf`](http://man7.org/linux/man-pages/man5/host.conf.5.html), the _first_ I

[2017-10-28 14:55] thaJeztah commented on #35325
Opened https://github.com/docker/cli/pull/648 for the flag description

[2017-10-28 15:13] renskiy commented on #35325
@thaJeztah thanks

[2017-10-28 15:35] renskiy commented on #35325
@thaJeztah what about secrets? How can I remove particular secret from two where both of secrets have same `SecretName`/`SecretID` but different `File.Name`?

[2017-10-28 16:04] thaJeztah commented on #35325
For secrets (and configs), `--secret-rm` currently works by name/id. I originally thought this was a bug, but it's actually something that can be enhanced: for now, you'd have to re-add the secret if you want to just replace (or remove) one of them, but in future we can add an option to be more specific (i.e. `--secret-rm foo` will remove all occurrences of the secret, whereas `--secret-rm source=

[2017-10-28 16:44] ripcurld0 commented on #35324
@cghislai can you tell what is your use case here? What will web-socket solve for you?

Thanks.

[2017-10-28 16:52] armpogart opened #35327 "After direct-lvm configuration, docker still uses root filesystem"
**Description**
I have CentOS in VM on production host. After clean install of CentOS, I have installed docker as documented here (https://docs.docker.com/engine/installation/linux/docker-ce/centos/#install-using-the-repository) and configured direct-lvm, tried both automatic mode to let docker configure it and manually as documented here (https://docs.docker.com/engine/userguide/storagedriver/dev

[2017-10-28 17:11] cghislai commented on #35324
I can't use the hijacking technique to gather container/service logs in a web browser javascript context.
Neither the XMLHttpRequest interface, neither higher-level API allow me to do so - unless Ive missed something.

Websockets however are already handled by most web browsers and web servers. No special technique is required and existing libraries could be leveraged to gather logs.
A websocket e

[2017-10-28 17:44] renskiy commented on #35325
@thaJeztah thanks again! Wish you nice weekend! 😄

[2017-10-28 17:44] logicethos opened #35328 "--dns override not working in Macvlan"
This only occurs with the Macvlan driver:

[code]
Version: 17.09.0-ce
Ubuntu 16.04.3 LTS

[2017-10-28 17:53] thaJeztah commented on #35328
`127.0.0.11` is the IP-address of the embedded DNS server (see https://docs.docker.com/engine/userguide/networking/configure-dns/). The embedded DNS server provides service discovery (i.e. it allows you to resolve hostnames of other containers on the same network), and acts as a forwarder for external DNS servers you configured.

This is not a bug, so I'll close this issue, but feel free to contin

[2017-10-28 17:53] #35328 closed

[2017-10-28 18:02] mcandre opened #35329 "Operation not permitted during `emerge dietlibc`"
**Description**

Some part of Gentoo's compilation process for installing the dietlibc package results in an operation that Docker appears to prohibit, at least with default privileges.

**Steps to reproduce the issue:**

[code]

1. `docker build -t gentoo-dietlibc .`

**Describe the results you received:**

[code]

**Describe the results you expected:**

I expected package installation to succeed

[2017-10-28 18:08] armpogart commented on #35327
I observe the same problem on another VM machine with the same setup.

[2017-10-28 18:11] logicethos commented on #35328
Hmm, ok, but I have a specific DNS server I wanted to connect to.  The container is a VPN server, and the DNS server it is to connect to is an ad-blocker.

[2017-10-28 18:16] #32878 closed

[2017-10-28 18:33] luckygoodness commented on #35325
and you too but am in need can you help me

On Sat, Oct 28, 2017 at 10:45 AM, Rinat Khabibiev <notifications@github.com>
wrote:

[2017-10-28 18:40] thaJeztah commented on #35328
So that should still work, the embedded DNS will forward queries to the DNS you configured

[2017-10-28 18:43] thaJeztah commented on #35325
Ugh spam bot; already reported that account, and removed the comment

[2017-10-28 19:09] logicethos commented on #35328
Yes your right.  Just been doing some experimenting with some alternative DNS servers.  --dns does indeed work. Thanks.

What would be a nice idea, is to have docker write into resolve.conf the --dns setting as a comment, just so you know it's been set in the embedded server.

[2017-10-29 02:05] cpuguy83 commented on #35327
Devicemapper is only used for container rootfs and image storage.
There's still many other pieces, including (but not limited to) volumes and container logs.
You can use `docker system df` to get a better view... though container logs are not accounted for currently in this output.

[2017-10-29 08:26] 1605200517 commented on #34794
@thaJeztah - yes, same Docker versions, init was with --advertise-addr

[2017-10-29 10:09] rom-stratoscale opened #35331 "Docker daemon fails to start of events.log is corrupted"
Hey,

Running node crash scenarios with docker daemon version 17.03.2-ce.
The crash is performed using 'echo c > /proc/sysrq-trigger' command.

Sometimes, after the node reboots, docker daemon fails to start.
Tried to run it manually and got the following error:

[root@stratonode1 ~]# strace -s 2000 -o ./docker.log /usr/bin/dockerd
INFO[0000] libcontainerd: new containerd process, pid: 27558
WARN[

[2017-10-29 13:25] 1605200517 commented on #22635
Here is a test setup with a Debian 9 Stretch; NOT behind a proxy.
From time to time the error is not there without system changes, so a pull occasionally succeeds or not.
Maybe this is due to slow network and timeout could be set higher?

[2017-10-29 13:27] AshleyAitken commented on #33974
Same as @hogepodge but on 17.09.0-ce build afdb6d4
Used to work fine...

[2017-10-29 18:06] 1605200517 commented on #32270
@mscomnet  confirm that this works in a home proxyless network! resolv.conf was there but adding those two lines works for me on all machines!

[2017-10-29 18:24] MonsieurWave commented on #27381
Just managed to solve an instance of this issue with Docker 17.05 on arch Linux on 4.11.9
by

1. `docker rm -f [myContainer]` (failing with the `driver "devicemapper" failed to remove root filesystem` as usual)
2. `ls /var/lib/docker/devicemapper/mnt/`

This made the container finally disappear (not sure why though).

[2017-10-29 20:39] zenvdeluca commented on #33133
I think I am experiencing same bug, but on a different context.. -- not using moby, but
IPsec mGRE tunnels.
w/ Ubuntu any kernel beyond 4.11 is performing very very bad. when downgrades to 4.10 the regression is over, performance is good.

you may want to add more data on this bug I filed couple days ago.
https://bugzilla.kernel.org/show_bug.cgi?id=197513

[2017-10-29 21:12] gablank commented on #28325
We are also seeing this issue. Running a setup with three managers and two workers. Some of the machines we use have two network interfaces. We're also using VLANs.

Hoping for a fix to this issue, as this is really a deal breaker for using Docker Swarm Mode in production.

[2017-10-30 01:02] thaJeztah commented on #35233
This is because the indentation level for the last `networks:` block is incorrect. The `networks:` block to _define_ networks must be at the same level as `services`. To _use_ a network, a `networks:` list must be nested under a service.

Your compose-file should look like this;

[code]

Please keep in mind that the GitHub issue tracker is not intended as a general support forum,
but for [reportin

[2017-10-30 01:02] #35233 closed

[2017-10-30 01:04] thaJeztah commented on #35211
ping @mlaventure any problems if this would be changed (that you can think of)?

[2017-10-30 01:17] jshachm opened #35332 "`docker logs -f ` hangs when logrotate in use"
**Description**
When using `docker logs -f ` to watch a container's output log, with `--log opt` `max-size=1k max-file=10` .  `docker logs -f` stop output and hang  when logrotate in use.

**Steps to reproduce the issue:**
1.`docker run -d --name=test --log-driver json-file --log-opt max-size=1k --log-opt max-file=10 ubuntu sh -c "while true;do echo -n hello;done"`
2.`docker logs -f containerID`

[2017-10-30 01:31] omkadiri commented on #16079
I think it will make sense copying file to a volume. Use case can be a multi stage build that check out a code  build it into an image and just like the COPY --from=build src dest functionality i should be able to do some like:

`docker run -it -v <image-name>:/usr/src  <other-image-name> command or in a docker-compose file`

[2017-10-30 01:47] daixiang0 commented on #35317
If do not consider secure problem, can i just use --privileged to make it ok?

[2017-10-30 01:59] clawrenceks commented on #34893
@friism @StarkovArt I am having the same issue here - I am using the Visual Studio Tools for Docker and I believe the source build argument is required for the debugging inside containers to work correctly. I am however passing in the correct value as the source build argument with docker-compose and I get exactly the same error as provided by the original poster.

[2017-10-30 02:36] omkadiri commented on #30449
I think it will make sense copying file to a volume. Use case can be a multi stage build that check out a code  build it into an image and just like the COPY --from=build src dest functionality i should be able to do some like:

`docker run -it -v <image-name>:/usr/src  <other-image-name> command ` or
`docker run --mount type=image src=imageName dest=/usr/src <other-image-name command`

Or in a do

[2017-10-30 02:39] clawrenceks commented on #34893
@friism @StarkovArt It seems to me that the error is caused when the copy instruction is given a location that is abolute. With an absolute path the error in the original post is seen. As long as a path relative to the build context (Dockerfile) is used then in my experience this works as I would expect.

[2017-10-30 02:53] mlaventure commented on #35211
It would break backward compatibility.

If script are checking the Pid field and using it to act on a process, keeping the original PID here could cause them to interact with a completely different process than expected given that before the PID value was enough to infer if the container had exited or not.

[2017-10-30 05:09] HosseinAgha commented on #30127
@thaJeztah does #569 land in the next release? It is 18.0 I suppose :)

[2017-10-30 06:25] cian0 commented on #26822
I was on a Windows machine when this happened. I used Laradock's pre-made containers, what happened was our organization forced our PCs to change passwords so I did. I didn't know that Docker stores credentials as well, I updated it at **Docker > Shared Drives > Reset credentials... > Apply**

I'm no longer getting the php-fpm permissions denied error.

[2017-10-30 06:36] daixiang0 commented on #19061
I use docker 17.06.2-ce and find even set basesize in daemon.json, it still shows past size in container.
After i clean up all data(i use devicemapper), this option works.
Clean all data looks so ugly which i think can optimize.

[2017-10-30 06:51] thaJeztah commented on #35317
See my example above; please don't use `--privileged` if not needed; it's bad practice

[2017-10-30 07:15] daixiang0 commented on #35317
I use above cmd and still fail:
[code]

[2017-10-30 08:05] liusdu commented on #34463
Hi Guys, I  got this problem.  I found that when thin device is deleted but metadata of the layer exists. Then we can not remove this container, with error "Error response from daemon: devicemapper failed to remove the rootFS for <id> : devicemapper : Error running DeleteDevice dm_task_run failed"

In the container-deleteing process, we delete the thin device first and then delete the metadata. So

[2017-10-30 08:16] tonistiigi commented on #35304
You are running a container that instantly exists. So when you are running `stop` it is very likely that the container was not running and the command just returned without doing anything. For example, add a sleep to your command, so that it is actually running and it should work correctly.

Another question is if `docker stop` should change a container in `restarting` state to `exited` state. Thi

[2017-10-30 08:48] pbering commented on #33107
Anyone has a workaround for this?

[2017-10-30 08:55] thaJeztah commented on #35317
It looks like you still have the Red Hat fork of Docker installed?

[code]

and

[code]

(`dockerd-current` is the name they use for the docker daemon binary)

Make sure to uninstall those packages, and install the official ones https://docs.docker.com/engine/installation/linux/docker-ce/centos/

[2017-10-30 09:03] Petthan commented on #35332
Have the same issue, As a workaround you can use the --since flag together with -f to tail logs

[2017-10-30 09:06] x1022as commented on #35304
[code]

This works for me , seems the state change is not stored to disk file, so daemon restart just lose it.

[2017-10-30 09:06] grigorig commented on #33099
I just hit this problem with the NSD nameserver. The remote control service by default listens on ::1 and without this address being available, the daemon fails to start. Please revert this behavior. Sorry to be so blunt, but it's incredibly stupid to disable IPv6 by default in this day and age.

[2017-10-30 09:55] SpComb commented on #33099
NSD is what I also [originally hit this on](https://github.com/moby/moby/issues/32433#issuecomment-297643116), workaround is IIRC to configure nsd with `ip4-only: yes` to bind to `127.0.0.1` by default instead.

Careful again: I doubt `nsd` relies on the availability of the IPv6 link-local `fe80::/64` address on the container's `eth0` interface. It does rely on the availability of the IPv6 loopbac

[2017-10-30 09:56] tabakerov commented on #27527
Facing same issue with Docker CE 17.09.0-ce-win33 13620 on Windows 10 15063.540

[2017-10-30 09:57] thaJeztah commented on #34854
Let me close this one in favour of https://github.com/docker/for-linux/issues/102, as this is a docker issue, not moby

[2017-10-30 09:57] #34854 closed

[2017-10-30 11:16] singhmal commented on #27140
"Set FD limit to 128 in docker daemon"

How to increase FD limit on Centos?
`cat /proc/<docker-pid>/limits | grep Max open files` gives
`Max open files            1024                 4096                 files`

Where as ulimit -n is 70000

[2017-10-30 11:39] mostolog commented on #35211
Well...a **correct** script should check ExitCode or any other filed in the status:

[code]

[2017-10-30 11:42] artisticcheese commented on #27527
@tabakerov Which AV are you using?

[2017-10-30 11:55] ericdagenais commented on #27527
Also facing the same issue with Windows 10 1703 15063.674, Docker CE Version 17.09.0-ce-win33 (13620). No 3rd party AV installed, disabled Defender, and Bitlocker is not turned on.

[code]

I ran Sysinternal's Procmon and saw a `FSCTL_ALLOW_EXTENDED_DASD_IO invalid parameter` on the docker process when this happened.

If I switch to Linux Containers, I can pull images without the above error.

[2017-10-30 12:00] artisticcheese commented on #27527
Is bitlocker or another disk encryption in place?

[2017-10-30 12:12] ericdagenais commented on #27527
No bitlocker nor other disk encryption is in place.

Some other info that may help:

My primary Windows startup disk is connected to an Intel sata raid controller running in raid mode via the "Intel Rapid Storage Technology enterprise" (Intel(R) C600+/C220+ series chipset SATA RAID Controller); startup disk is a Samsung SSD 850 EVO 1TB (no raid) and have a set of disks running in a RAID 5 volume.

[2017-10-30 12:37] tabakerov commented on #27527
@artisticcheese - no disk encription, installed Kaspersky Endpoint Security (required by corporate policy)
The issue is only with Windows containers, Linux containers are working fine

[2017-10-30 12:58] govint opened #35334 "Volumes created via docker CLI with UCP managed swarm can't be inspected or removed."
**Description**

**Steps to reproduce the issue:**
I have docker UCP 2.2.3 (trial) installed and with a two node swarm running docker EE each,
root@(none):/vol# docker version
Client:
 Version:      17.06.2-ee-4
 API version:  1.30
 Go version:   go1.8.3
 Git commit:   dd2c358
 Built:        Thu Oct 12 16:16:53 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.06.2-ee-4
 API version:  1.3

[2017-10-30 13:00] AbimbolaE commented on #22753
I worked around this problem by reverting back to docker-machine for Mac. The docker machine VM  is a Linux distro which means that it creates a docker0 interface which has access to the private network range of the docker containers. Then, on my host mac machine, I created a route for the 172.18.x.x address range of the containers which points to the ip address of the docker machine instance (192

[2017-10-30 13:08] artisticcheese commented on #27527
Linux containers work differently then windows in Windows for obvious reasons. Issue most likely with AV blocking it, you'd have to ask your IT to diagnose disable your AV to test. Or alternatively check straight up with vendor if they support Windows containers, only some do.

[2017-10-30 13:50] cpuguy83 commented on #35334
@govint This is a UCP issue (or probably more precisely a classic swarm issue), so closing here as there isn't really anything to do here.

[2017-10-30 13:50] #35334 closed

[2017-10-30 13:55] cpuguy83 commented on #35334
I opened an internal issue on UCP to track this.

[2017-10-30 13:58] cpuguy83 commented on #35323
I mean we can do more to ensure nothing is mounted underneath the host volume path.
But also "don't do that" would seem appropriate here.

[2017-10-30 14:14] adamkdean commented on #10616
`Version 17.06.2-ce-mac27 (19124)` is mounting single files as directories for me, that's with `-v/--volume` and `docker run` command.

[2017-10-30 14:15] cpuguy83 commented on #35332
Or `--tail=<lines>`, but I'd suspect it'd still be an issue when log rotation happens.

You mention `logrotate`... do you have an actual logrotate instance running against the container logs or just referring to docker rotating the logs?

[2017-10-30 14:18] thaJeztah commented on #35334
may be a duplicate of https://github.com/moby/moby/issues/34664 as well

[2017-10-30 14:22] thaJeztah commented on #35304
@x1022as perhaps you're interested in opening a pull request with that change (and possibly a test)?

[2017-10-30 14:45] mlaventure commented on #35211
Yes and no. If the script only cared about wether the container was still
running or not, checking the value of the pid field is more than enough atm.

I don't know if any such script exist atm, but changing the value of this
field would be a breaking change. If noone else objects I have no issue
about having its behavior changed, otherwise the only way to safely add
this feature would be to add a

[2017-10-30 14:50] thaJeztah commented on #35211
Yes, my question to @mlaventure was primarily to check if it's used internally (i.e. would it cause problems for the daemon/runtime if we'd keep the PID after exiting). I _do_ see where you're coming from, and where it would be helpful to have this information around, but have to agree with @mlaventure that changing would be too much of a risk.

I was already thinking of having the `Error` contain

[2017-10-30 14:52] cpuguy83 commented on #35211
I don't think the container state object should contain historical information.

[2017-10-30 14:57] mlaventure commented on #35211
I don't think we rely on the pid field if the status is not running
internally (if we do, it's a bug).

On Mon, Oct 30, 2017, 7:53 AM Brian Goff <notifications@github.com> wrote:

--

Sent from my phone.

[2017-10-30 15:01] cpuguy83 commented on #35211
Right but if people start relying on it, it will likely end up not being what they expect at the very least due to pid-reuse.

[2017-10-30 15:16] mlaventure commented on #35211
Oh, I was just answering to @thaJeztah 😄

I would tend to agree that the state shouldn't include historical data upon further thoughts. But I do agree than having a mean to store them for further use would be helpful. Atm I'd say that the event endpoint would be the way to go.

[2017-10-30 15:16] dc70184 commented on #30935
When can Docker support encrypted private key in $HOME/.docker/key.pem? This is a very important feature for us. Thanks.

[2017-10-30 16:38] thaJeztah commented on #30935
@dc70184 this should now be supported (since docker 17.05) as the associated pull request was merged; https://github.com/moby/moby/pull/31364

I'll go ahead and close this, but let me know if it isn't working as expected

[2017-10-30 16:38] #30935 closed

[2017-10-30 17:12] xinfengliu commented on #35082
I can exactly reproduce the issue. The testing makes a new connection on each request.
Inactive connections soon piled up in ipvs.
[code]
If you can't wait for `InActConn` down to zero and run the testing again, you would get even poor result as described above.

On client side are full of "SYN_SENT".
[code]

If you want to work around this issue, set `connection = keep-alive` in your `.siegerc` f

[2017-10-30 17:26] bfcapell commented on #10616
If this helps someone: my problem was finally unrelated to the docker version. If you are changing the docker version maybe is because you are doing other infrastructure changes. Well, the most  probable cause for this file-as-directory problem is that docker can't access the file, if that happens it creates a directory.

Specifically in my case the problem was caused by systemd-tmpfiles, that was

[2017-10-30 17:39] ntjn commented on #27484
Same error message with Docker version 17.10.0-ce, build f4ffd2511c
Seems to be expected message for me.

[2017-10-30 17:43] rhuddleston commented on #29511
I can confirm this issue. Most people notice this when docker is using 100% of the CPU and spitting out this in syslog:

Oct 21 04:05:21 node1.dev dockerd[1129]: time="2017-10-21T04:05:21.531752637Z" level=error msg="Error streaming logs: invalid character '\x00' looking for beginning of value" container=0a49aa25f7fe method="(*Daemon).ContainerLogs" module=daemon
Oct 21 04:05:36 node1.dev dockerd[

[2017-10-30 17:51] lipingxue commented on #31785
It seems that I hit the same issue in #35249, any update on this issue?

[2017-10-30 17:53] lipingxue commented on #32195
@abhi Could you confirm the fix you mentioned will fix the issue in #35249 or not? Thanks!

[2017-10-30 18:04] thaJeztah commented on #29511
@rhuddleston what version of docker are you running?

/cc @cpuguy83

[2017-10-30 18:10] ripcurld0 commented on #27484
@ntjn Can you copy-paste `docker info` and `docker version`?

[2017-10-30 18:15] rhuddleston commented on #29511
We're using a combination of 17.03, 17.06 and 17.09 we'll be completely on 17.09 before Dec

[2017-10-30 18:37] thaJeztah commented on #35331
Looks like this file is written and read by containerd; have you opened an issue in that repository as well? https://github.com/containerd/containerd/issues

[2017-10-30 18:41] thaJeztah commented on #35224
I don't think there's a separate tutorial without docker-machine in the docs, but there may be some additional reference documentation.

Please keep in mind that the GitHub issue tracker is not intended as a general support forum,
but for [reporting bugs and feature requests](https://raw.githubusercontent.com/moby/moby/master/.github/ISSUE_TEMPLATE.md). For other type of questions, consider using

[2017-10-30 18:41] #35224 closed

[2017-10-30 18:46] NevesLucas commented on #8917
+1

[2017-10-30 18:48] mbrewster commented on #19261
I was able to resolve the issue by SSH'ing to the node itself, and using `docker network disconnect -f <network ID> <container name>`. Note that *neither* the `Endpoint ID` or `Container ID` resulted in success, nor did running the command against the swarm.

[2017-10-30 19:01] thaJeztah commented on #35329
Looks like it attempts to run ptrace, which likely needs `--cap-add SYS_PTRACE` (see https://github.com/moby/moby/issues/21051).

ping @tianon perhaps you have some hints on this? But otherwise, I think this is the expected behaviour for build containers

[2017-10-30 19:06] tianon commented on #35329
Indeed, looks like expected behavior to me in this case. :disappointed:

It seems odd to me for a build script to be needing `ptrace`, so perhaps looking into why it's doing `ptrace` and whether or not that behavior can be disabled or configured in some way would be prudent?

[2017-10-30 19:20] thaJeztah commented on #35329
Let me close this issue for housekeeping (and because it's not a bug), but feel free to continue the conversation. It may be worth opening an issue with the maintainers of that package to see if it's possible changing

[2017-10-30 19:20] #35329 closed

[2017-10-30 19:28] #31926 closed

[2017-10-30 19:38] #34887 closed

[2017-10-30 19:38] rom-stratoscale commented on #35331
@thaJeztah  nope. Should I? Or there is an option for cross reference?

[2017-10-30 19:43] thaJeztah commented on #35331
Making sure that writes are atomic would have to be handled by containerd, so it's probably good to open an issue there

[2017-10-30 19:43] vieux commented on #35310
@pradipd any news on this ?

[2017-10-30 19:46] thaJeztah commented on #34810
ping @johnstep did you create a fix for this?

[2017-10-30 19:56] cpuguy83 commented on #29511
Skipping over an entry, while not impossible, may be difficult and error prone.

[2017-10-30 20:02] cpuguy83 commented on #29511
I suppose we could transmit the error to the client (using the `SystemError` stream header) and scan to the next newline.

[2017-10-30 20:04] rom-stratoscale commented on #35331
@thaJeztah sure. np. So this one will be ignored?

[2017-10-30 20:19] omerh commented on #35310
will this fix be on 17.11 ?

[2017-10-30 20:42] colindownsrazouk commented on #35323
Yeah, my plan is definitely "don't do that".  I was just wondering if docker could protect against this situation. Even simply exiting out of volume removal early if mounts are detected would be great.

[2017-10-30 20:53] thaJeztah commented on #35243
Let me close this issue for now, as this looks like a support question, not a bug report. If you have more information, and suspect there's a bug at hand, please open a new issue with details as requested in the issue template.

[2017-10-30 20:53] #35243 closed

[2017-10-30 20:58] kylejw1 commented on #34825
This issue is affecting my cluster as well - and all related bugs I can find are marked closed.  Is this functionality going to be left as is?

[2017-10-30 21:14] thaJeztah commented on #34825
@kylejw1 see https://github.com/docker/swarmkit/pull/2419

[2017-10-30 21:16] kylejw1 commented on #34825
Thank you, I missed that.

[2017-10-30 22:16] Xplouder commented on #35274
@thaJeztah Thank you, apparently you are right. To solve this problem i had to create a XFS partition to hold every docker data (images, containers, etc) and add `innodb_flush_log_at_trx_commit=0` configuration to Mysql server. Not perfect but now it performs away better.

[2017-10-30 22:22] vieux commented on #35310
@omerh yes, either this will be fixed or the commit that introduced the issue will be reverted

[2017-10-30 22:58] thaJeztah commented on #30492
@darrenstahlmsft is this still an issue?

[2017-10-30 23:05] pradipd commented on #35310
@vieux
Making progress.
I can't repro at all on windows.
I can repro this 100% on linux, which seems odd if this is a timing issue.
the issue repros for me with the following:
docker swarm init --advertise-addr=<ip>
docker network create -d overlay --subnet 192.168.1.0/24 --gateway 192.168.1.1 o1
docker service create --name s1 --replicas 3 --network o1 --publish 8080:80 nginx
docker service rm s1

[2017-10-30 23:21] stealthybox commented on #30242
Hi @thaJeztah,

The bug is that the swarm tasks are being attached to networks of the same name that were created by compose instead of the stack's swarm scoped overlays.

Like @yongtang suggested, I believe his change in #30897 fixes this, but it looks like there is some work to make it mergeable again.

This seems fairly simple to reproduce, but I can provide more detail if need be.
This bug def

[2017-10-30 23:55] zenvdeluca commented on #33133
Hi,

I am glad to relay there is an available patch for kernel >=4.12 that could fix this problem.
more info => https://bugzilla.kernel.org/show_bug.cgi?id=197513

[2017-10-31 01:00] cpuguy83 opened #35336 "TestDaemonUserNamespaceRootSetting fails on RHEL 7.4"
On RHEL 7.4 this usernamepsace test fails with an error from runc "exit status 40". It looks like the setns process just fails for some reason.

The CI machine does have user namespace enabled and /proc/sys/user/max_user_namespaces set to a high number.

Might be completely unrelated, but one thing I noticed is on RHEL if I `unshare -rm` I get EPERM... or `unshare -r && unshare -m` also EPERM. Thi

[2017-10-31 01:00] cpuguy83 commented on #35336
Ping @rhatdan @runcom in case you have any insight here.

[2017-10-31 01:24] x1022as commented on #35304
sure :)

[2017-10-31 02:05] caffeineaddiction commented on #23315
On my machine I was able to fix this issue with:
`sudo apt-get install apt-transport-https`

[2017-10-31 02:10] svscorp commented on #35310
@ZigmunD for me it is still the case even with independent overlay or/and ingress networks, unfortunately.

[2017-10-31 02:35] ZigmunD commented on #35310
@svscorp Haven't changed any default networks.

[2017-10-31 02:40] FlorinAsavoaie commented on #32609
Sorry for spamming here but is there any chance this could get pushed into the next release? This is really annoying.

[2017-10-31 03:23] isula-xufeng opened #35337 "docker-17.06 "docker swarm leave -f" command return "context deadline exceeded" error"
**Description**

I have a test case with one manager node and two worker nodes, but sometimes, after the worker nodes
left the cluster, running "docker swarm leave -f" command in manager node will return in "context deadline exceeded" error.
This issue is hard to reproduce, searching the Internet tells me that this problem maybe caused by "lost quorum" issue, but I have only one manager node, so I

[2017-10-31 03:33] jshachm commented on #35332
@cpuguy83 @Petthan
Found the root cause already! Thank you very much!
 It's a dead lock caused by `github.com/fsnotify/fsnotify`  pkg. [fsnotify  PR](https://github.com/fsnotify/fsnotify/pull/203)
I think we should upgrade our `fsnotify` pkg, should we?

[2017-10-31 03:46] isula-xufeng commented on #35337
Not for sure if this is helpful, below is the normal log(I mean "docker swarm leave -f" run successful in manager node):
Oct 31 06:08:11 swarm1 dockerd[120833]: time="2017-10-31T06:08:11.585022775-04:00" level=debug msg="Calling POST /v1.30/swarm/leave?force=1"
Oct 31 06:08:11 swarm1 dockerd[120833]: time="2017-10-31T06:08:11.585086117-04:00" level=debug msg="(*worker).Assign" len(assignments)=0 m

[2017-10-31 04:03] y123456yz commented on #34865
@kolyshkin  @thaJeztah
when I compile docker by "hack/make.sh dynbinary",  it compile success, but the some bin file can not find, as following:

root@d094b8365f71:/go/src/github.com/docker/docker/bundles/17.05.0-ce# ls dynbinary
root@d094b8365f71:/go/src/github.com/docker/docker/bundles/17.05.0-ce# ls dynbinary-client/
docker  docker-17.05.0-ce  docker-17.05.0-ce.md5  docker-17.05.0-ce.sha256
roo

[2017-10-31 04:22] svscorp commented on #35213
@omerh

No, if I understood you meant in docker-compose?

[code]

[2017-10-31 05:27] jshachm commented on #35311
@cpuguy83 Any idea？

[2017-10-31 05:59] jethrogb commented on #33790
I'm having the same issue, except that `service update --force` didn't help.

[2017-10-31 06:25] jethrogb commented on #33790
Possibly related #30464

[2017-10-31 06:35] isula-xufeng commented on #35337
And after this problem happened in this manager node, run "docker swarm leave -f" again will hang for ever.

[2017-10-31 06:59] thaJeztah commented on #23315
I haven't heard others report this, and it doesn't look like a bug, so closing this issue

[2017-10-31 06:59] #23315 closed

[2017-10-31 07:10] daixiang0 commented on #35317
thanks very much!

[2017-10-31 07:16] timchenxiaoyu opened #35338 "docker mount error"
docker version 12.6,docker run can mount /var/lib/docker but can not mount
/var/lib/docker/containers

[root@master ~]# docker run -v /var/lib/docker:/tmp busybox   ls /tmp/
containers
devicemapper
image
network
swarm
tmp
trust
volumes
[root@master ~]#
[root@master ~]# docker run -v /var/lib/docker/containers:/tmp busybox   ls /tmp/
[root@master ~]#
[root@master ~]#

[2017-10-31 07:48] ripcurld0 commented on #35338
@timchenxiaoyu can you provide more details like `docker info` and `docker version`.
Thanks

cc @thaJeztah @cpuguy83

[2017-10-31 07:54] liutian1937 commented on #25098
mark

[2017-10-31 08:02] matthanley commented on #34802
@thaJeztah sorry, I hadn't seen your reply. I'll try and do some more testing and report back.

[2017-10-31 08:03] odedpriva commented on #16173
this is still not working on
[code]

![image](https://user-images.githubusercontent.com/4990615/32213079-735a564e-be22-11e7-8067-861dbba92369.png)

[2017-10-31 08:21] mostolog commented on #35211
Although I understand all your concerns, I still think having PID=X in docker inspect makes much more sense than changing PID to 0 on container exit.
eg: Keeping PID for that container would help debugging, matching with a/top logs...

We aren't going to rely on that PID for scripting, neither want historical data, but having "the process information" stored in state JSON, including -obviously- PI

[2017-10-31 08:55] thaJeztah commented on #35211
I think the "historical data" referred to is that that `PID` would mean "the PID that was once used by this container, but exited". Another process (which could be a container) may now be running with the same `PID`.

For the scripting part; it's not you we worry about, but it's everyone else that _may_ be using this information as was described :smile:

[2017-10-31 09:09] jeeffy opened #35339 "Service of app hangs random in swarm mode"
I use
[code]
to create a service, test service with `curl 192.168.1.47:8080/info`, sometimes, the service cannot be accessiable.
Output of docker info:
[code]

[2017-10-31 09:21] jeeffy commented on #35339
Sometimes the service is accessible completely, sometimes the service is accessible about 50% rate

[2017-10-31 09:28] daixiang0 opened #35340 "unexpected behave with create partition of host disk"
I want to create partition of host disk in docker to do test, but it fail to create two partitions.
I use -v to mount this disk as `-v /dev/vdb:/dev/vdb`.
I find use `lsblk` can find the partition but with `ls` can not which means the new partition can not reached by container.
Then i try to mount all `/dev` to `/dea` in container but still failed.
I do not find related docs so that i am not sure

[2017-10-31 09:38] souravpatnaik commented on #32270
may be you are behind a firewall/proxy server
i was  also behind my office firewall so i tried below steps which resolved this issue.

For setting up proxy for docker, please do the following:
1.   Create a systemd drop-in directory for the docker service:
     $ mkdir -p /etc/systemd/system/docker.service.d
     $ vim /etc/systemd/system/docker.service.d/http-proxy.conf
     Then add below conten

[2017-10-31 09:42] vlindhol commented on #32195
@BSWANG you seem to be knowledgeable about debugging this issue. How can I check the tables you are talking about to see if they are mixed up, like you mentioned?

Seeing this same problem on 17.09.0-ce.

[2017-10-31 10:12] thaJeztah commented on #16173
I'm also seeing the same result as @odedpriva sees on a DigitalOcean droplet; looking at @coolljt0725's suggestion, there looks to be no scheduler set;

[code]

This droplet is using overlay2 as storage driver (in case it's relevant here);

ping @coolljt0725 any suggestions?

[2017-10-31 10:23] thaJeztah commented on #35340
If `/dev/vdb` is mounted on the host, you can use `-v /path-where-its-mounted:/container-path` to mount a host directory. There's also a `--device` option on `docker run` if you want to give a container access to a device.

Please keep in mind that the GitHub issue tracker is not intended as a general support forum,
but for [reporting bugs and feature requests](https://raw.githubusercontent.com/mo

[2017-10-31 10:25] coolljt0725 commented on #16173
@odedpriva  Have you set your IO scheduler  to `cfq`?

[2017-10-31 10:26] vharsh commented on #10032
Helpful
https://stackoverflow.com/questions/27283131/how-can-i-stop-and-delete-a-docker-container-launched-with-restart-always-option

[2017-10-31 10:33] thaJeztah commented on #35339
There's not a lot of information to go on in your report; some things;

- Keep in mind that others don't have access to your source files (e.g. don't have access to `/home/test/docker/manager/target/test-manager.jar`)
- Is the `/home/test/docker/manager` directory present on _every_ node in your swarm? Keep in mind that mounting directories is done from the host where the daemon runs, not from you

[2017-10-31 10:33] #35339 closed

[2017-10-31 10:41] thaJeztah commented on #35338
This works fine for me, but it looks like you're running a really outdated version of docker;

Possibly access is blocked by SELinux; try if you are able to access by adding `--security-opt="label=disable"`

Be aware that anything inside `/var/lib/docker/` is designed to be exclusively accessed by the docker daemon; interacting with files and directories inside that directory is highly discouraged

[2017-10-31 10:41] #35338 closed

[2017-10-31 10:57] thaJeztah commented on #10032
You can also [update the restart policy](https://stackoverflow.com/a/37600885/1811501) of the container to prevent it from being restarted; see the documentation for [`docker update`](https://github.com/docker/docker/blob/v1.11.2/docs/reference/commandline/update.md#update-a-containers-restart-policy);

[code]

[2017-10-31 10:57] odedpriva commented on #16173
this is my current configuration ? is it o.k ?
[code]

[2017-10-31 10:57] loretoparisi commented on #34213
@KramKroc We have found that we can see this log

[code]

getting `docker logs` and at some point the container just hangs while trying to stop. Not completely sure if this is related, but it's the first time I have found this kind of log while restarting the container.

[2017-10-31 11:55] justincormack commented on #23917
@3XXO containerd 1.0 is now integrated into Docker.

[2017-10-31 12:04] thaJeztah commented on #33133
@zenvdeluca if you're able to confirm that patch fixes your issue, could you open a backport request for the Ubuntu kernel? https://bugs.launchpad.net/ubuntu/+source/linux/+filebug

/cc @sforshee fyi

ping @ijc what would be the right location to report this / request this for Debian kernels?

[2017-10-31 12:15] sforshee commented on #33133
Note that for Ubuntu we typically require that the patch is either upstream or in linux-next. That doesn't seem to be the case for this patch yet.

[2017-10-31 12:17] timchenxiaoyu commented on #35338
docker info
Containers: 88
 Running: 30
 Paused: 0
 Stopped: 58
Images: 25
Server Version: 1.12.6
Storage Driver: devicemapper
 Pool Name: docker-253:1-394733-pool
 Pool Blocksize: 65.54 kB
 Base Device Size: 10.74 GB
 Backing Filesystem: xfs
 Data file: /dev/loop0
 Metadata file: /dev/loop1
 Data Space Used: 7.13 GB
 Data Space Total: 107.4 GB
 Data Space Available: 10.66 GB
 Metadata Space Used:

[2017-10-31 12:23] thaJeztah commented on #35338
It looks like you're running the Red Hat fork of Docker; are you seeing the same with the current version of the official packages? https://docs.docker.com/engine/installation/linux/docker-ce/centos/

[2017-10-31 12:23] rhatdan commented on #35336
We don't intend on supporting User Namespace on RHEL7 until 7.5.  There are some problems that need to be back ported to the RHEL kernel for User Namespace support.

I think there was a second thing that needed to be set to get User Namespace to run on RHEL 7.4 besides the max_user_namespaces.  @rhvgoyal WDYT?

[2017-10-31 12:24] thaJeztah commented on #33133
oh, oops, yes, thanks for the reminder 👍

[2017-10-31 12:41] thaJeztah commented on #35311
ping @kolyshkin @jlhawn PTAL

[2017-10-31 12:44] rhvgoyal commented on #35336
Right, docker still has issues with user namespaces in RHEL7.4. We don't allow unprivileged user namespace to own mount namespace yet and that fails simple things like clone(NEW_USERNS | NEW_NEWNS).

There is a unsupported way to test it though. One can pass kernel command line option `namespace.unpriv_enable=1`. But again, this is totally unsupported at this point of time and is there just to do

[2017-10-31 12:51] daixiang0 commented on #35340
Thanks, it helps.I also want to get some knowledge about difference between -v and --device.

[2017-10-31 13:02] thaJeztah commented on #35340
You can find more information on the `--device` feature in the pull-request that implemented it; https://github.com/moby/moby/pull/6134 and https://github.com/moby/moby/pull/6961 (and documentation PR's; https://github.com/moby/moby/pull/7931, https://github.com/moby/moby/pull/8465).

The `-v <hostpath>:<container-path>` flag (or `--mount type=bind,src=<hostpath>,target=<container-path>` simply bi

[2017-10-31 13:35] mostafaelsayyad commented on #11534
if u r using centos then check machine date time, adjust it to the current time.
this worked for me.

[2017-10-31 13:35] thaJeztah commented on #23742
@bergtwvd there's another issue that is slightly newer, but duplicates this one, and has some more discussion around this; https://github.com/moby/moby/issues/25181. I'll close this one to keep the discussion central, but feel free to participate in the discussion on that issue 👍

[2017-10-31 13:35] #23742 closed

[2017-10-31 13:38] thaJeztah commented on #34264
Thanks for opening; this looks like a duplicate of https://github.com/moby/moby/issues/24317. I'll close this one to prevent the discussion from diverging, but feel free to participate in the discussion over there 👍

[2017-10-31 13:38] #34264 closed

[2017-10-31 13:49] agalisteo opened #35345 "Question: Deployment tasks"
I need to run a command after a service is completely deployed in my docker swarm like:
* rake tasks (rake db:migrate)
* slack/mattermost notifications

Is it implemented? What is the best way to do?

[2017-10-31 13:52] cpuguy83 commented on #35332
I opened an issue to see if a new fsnotify release can be tagged so we can pick it up:https://github.com/fsnotify/fsnotify/issues/222

[2017-10-31 13:53] thaJeztah commented on #35345
You can add an entrypoint script to your image that performs these tasks the first time the container is started, e.g. see the entrypoint script for the official mysql image; https://github.com/docker-library/mysql/blob/86431f073b3d2f963d21e33cb8943f0bdcdf143d/8.0/docker-entrypoint.sh#L80-L200

Please keep in mind that the GitHub issue tracker is not intended as a general support forum,
but for [r

[2017-10-31 13:53] #35345 closed

[2017-10-31 14:01] thaJeztah commented on #35331
This would have to be fixed in the containerd repository, so it would have to be fixed there, before the version that's used in docker can be updated.

_However_ , docker 17.11 and up use the containerd 1.0 branch; following the discussion on https://github.com/containerd/containerd/issues/1699#issuecomment-340597663, this problem should no longer occur on that version/branch.

In addition, Docker

[2017-10-31 14:14] rhatdan opened #35346 "I am trying to vendor in a new version of opencontainers/selinux, but vndr deletes everything"
[code]

When I run

vndr github.com/opencontainers/selinux

It deletes everything.

[code]

[2017-10-31 14:15] thaJeztah commented on #32657
Are you still having this issue on the current version of docker?

[2017-10-31 14:22] sprutton1 commented on #35299
Looking into this further, I believe that it is an issue with Docker for Windows and not specific to version 17.09. The 17.06 version where this works for me was on a Server 2016 box. My 17.09 version is on Windows 10 using Docker for Windows. We were able to recreate the issue on a Windows 10 box using Docker for Windows version 17.06.

[2017-10-31 14:27] patriziotufarolo commented on #35196
i'm encountering the same issue.

[2017-10-31 14:28] patriziotufarolo commented on #35196
i'm encountering the same issue.

`Containers: 10
 Running: 1
 Paused: 0
 Stopped: 9
Images: 10
Server Version: 17.09.0-ce
Storage Driver: overlay2
 Backing Filesystem: extfs
 Supports d_type: true
 Native Overlay Diff: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: bridge host macvlan null overlay
 Log: awslogs fluentd gcplogs gelf journald json-file loge

[2017-10-31 14:46] thaJeztah commented on #35206
There's this PR to allow specifying custom ranges to use https://github.com/moby/moby/pull/29376, but there's still an ongoing discussion on that feature.

When _creating_ a network, you can also exclude certain IP-addresses using the `--aux-address` option on `docker network create`

[2017-10-31 14:47] cpuguy83 commented on #27653
Are these issues occurring on a recent version of docker (ie. one that includes #31012)?
It's definitely curious that there don't appear to be any subvolumes in `/var/lib/docker/btrfs/subvolumes`... does `btrfs subvolume list /var/lib/docker/btrfs/subvolumes` show anything?

@johnharris85 Docker EE customers should report issues to Docker support.

[2017-10-31 14:54] thaJeztah commented on #35346
@rhatdan it worked for me; what version of `vndr` are you using? Want me to open this as a pull request? https://github.com/moby/moby/compare/master...thaJeztah:bump-selinux?expand=1

[2017-10-31 14:59] tophj-ibm commented on #34051
NOTE: this is now failing with `pending` as the node is not brought up in time.

A lot of swarm tests have been failing recently (also #34993) from what appears to be the same issue, nodes restarting and getting out of sync. From experimental:  https://jenkins.dockerproject.org/job/Docker-PRs-experimental/37592/consoleFull

When this node restarts, it's ahead by 1 in the term cycle so it ignores a

[2017-10-31 15:03] 2erowf commented on #35322
Both the host and container supports "ps -ef"
I've attached ps -ef result in container in "Describe the results you expected:" section of the bug report.
Here is the ps -ef result in host:
root      1312     1  1 07:25 ?        00:08:20 /usr/local/bin/dockerd -D -g /var/lib/docker -H unix:// -H tcp://0.0.0.0:2376 --label provider=kvm --insecure-registry 172.30.0.0/16 --tlsverify --tlscacert
root

[2017-10-31 15:04] rhatdan commented on #35346
Sure if you can open a PR that is fine.
I don't know how to get the version of vndr, but it is fairly recent, within a year anyways.  Works on all of the other projects I am working on.  @runcom saw the same issue.

[2017-10-31 15:04] rhatdan commented on #35346
I have a feeling it is something to do with the way my homedir is setup, but not sure what.

[2017-10-31 15:05] ooesili commented on #34971
I'm not using user namespaces, and the syscall to `unshare(2)` is not asking for them. I think you were experiencing a different issue.

[2017-10-31 15:07] cpuguy83 commented on #35322
https://github.com/moby/moby/blob/master/daemon/top_unix.go#L120

[2017-10-31 15:12] cpuguy83 commented on #34971
There are similar max namespace tweaks for the other namespaces as well:

[code]

Are you running a lot of containers at the same time? What do the values look like in those files?

[2017-10-31 15:31] thaJeztah commented on #35346
It's odd yes; tbh, I ran into similar things a long time ago when running it directly on my Mac; I think that works nowadays, but I usually run it in the development container.

Anyway, let me open that PR

[2017-10-31 15:44] thaJeztah opened #35349 "containerd binaries no longer static"
Looks like the switch to containerd 1.0 https://github.com/moby/moby/pull/34895 did not add static builds for the containerd binaries; static binaries are used for the official docker images, so we should have those again :smile:

[code]

ping @crosbymichael @mlaventure

[2017-10-31 15:45] georgyturevich commented on #35208
@friism Hi Michael,

Could you have a look at this issue?

I just checked and was able to reproduce it with starting Azure "Standard D4s v3" (4 vcpus, 16 GB memory) instance too.

[2017-10-31 15:49] friism commented on #35208
@georgyturevich for prompt support, please open a support ticket with Microsoft support. Docker EE on Windows Server is supported by Microsoft, and they can escalate to Docker as needed.

[2017-10-31 16:00] rhuddleston commented on #29511
Something should be done for sure as the current state requires a complete reset of Docker to correct

[2017-10-31 16:38] #34260 closed

[2017-10-31 16:59] stevvooe commented on #35331
@thaJeztah This is presumably a problem in all pre-1.0 uses of containerd. Are we still backporting fixes to those versions? This would be like 17.06, 17.09, etc.

[2017-10-31 17:02] thaJeztah commented on #35331
@stevvooe 17.09-CE is still supported, but overall critical fixes (P0/P1) only afaik

[2017-10-31 17:18] mbentley commented on #32276
Thanks @srelf-ukcloud!  I confirmed that using the 0.1.141 virtio network drivers do work properly with Docker installed and running.

[2017-10-31 17:18] rhatdan commented on #35346
@thaJeztah Feel free to close this one once the PR gets merged.

[2017-10-31 17:23] thaJeztah commented on #35346
Ah, yes, let's close this one, as we don't really need it to track things 👍

[2017-10-31 17:23] #35346 closed

[2017-10-31 17:31] fvilers commented on #35310
I have the same error message when scaling up a service on a Raspberry PI swarm.

[2017-10-31 17:43] thaJeztah commented on #35196
@patriziotufarolo is the container still running after you are returned to PowerShell, or is the container exited? Do you have exact steps to reproduce?

[2017-10-31 17:43] thaJeztah commented on #32276
Looks like this is resolved, and not an issue in the docker code. Closing this issue, but feel free to discuss

[2017-10-31 17:43] #32276 closed

[2017-10-31 19:53] georgyturevich commented on #35296
@friism Hi Michael,

Thanks for sharing the finding!

I have a few questions there:
1. Do we have some ways to prioritize a fixing of this issue? (e.g .NET sorts it out somehow)

2.
If I understand correctly this value is returned by `sysinfo.NumCPU()` function. So mostlikely, we have a bug with setting CPU limits by `--cpus` option which is calcuated there https://github.com/moby/moby/blob/3ba1dd

[2017-10-31 20:14] thaJeztah commented on #30310
Yes, I think we should close this issue now that we have both configs and secrets for services. In addition, we added the `--mount` option for `docker run` (already existed for `docker service create`), which will produce an error if the source file/directory doesn't exist, instead of silently ignoring and creating a directory on the host.

Closing this issue, but feel free to discuss.

[2017-10-31 20:14] #30310 closed

[2017-10-31 20:18] thaJeztah commented on #35140
Looks like this is due to firewalld adding additional rules, so let me close this issue, but feel free to comment after that

[2017-10-31 20:18] #35140 closed

[2017-10-31 20:18] rom-stratoscale commented on #35331
@thaJeztah sure, thanks.
Anyhow, I think it's worth documenting here a work around we applied in the systemd service file ( I guess it's relevant for those who dont rely on containerd events logs) :

ExecStartPre=-/usr/bin/bash -c '/bin/mv -v /var/run/docker/libcontainerd/containerd/events.log /var/run/docker/libcontainerd/containerd/events.log.$$(date +"%%Y%%m%%d-%%H%%M%%S")'

[2017-10-31 20:19] thaJeztah commented on #35207
ping @nishanttotla could you have a look?

[2017-10-31 20:25] thaJeztah commented on #35131
I'm not able to reproduce this;

[code]

Please provide more information as requested in the [issue-template](https://raw.githubusercontent.com/docker/docker/master/.github/ISSUE_TEMPLATE.md) that was shown when you opened this issue.

- provide the output of `docker version`
- provide the output of `docker info`
- provide relevant logs or other debugging information

[2017-10-31 20:26] bitprim-phabricator opened #35352 "docker stats showing 0 for blkio values"
**docker stats reporting all values for blk_io as zero**

**Steps to reproduce the issue:**
1.Launch Container producing I/O to disk
2. run docker stats <container_id>

**Describe the results you received:**
Block IO values reported as 0

**Describe the results you expected:**
Block IO values should be correct

**Additional information you deem important (e.g. issue happens only occasionally):**
C

[2017-10-31 20:48] darrenstahlmsft commented on #35296
Interesting. I don't think we want to introduce another parameter just to fix a bug unless we absolutely have to. I'll look into seeing if I can get NumCPU from another source that correctly reports on machines with over 64 CPUs though.

We will need to be careful though, as NumCPU returns the number of (system) threads available to Go, which is needed for some calculations, and the other source w

[2017-10-31 20:50] friism commented on #35296
@darrenstahlmsft yeah, I think you should probably try to get this addressed in golang:
 * https://github.com/moby/moby/issues/35296#issuecomment-339397351
 * https://github.com/golang/go/issues/6296

[2017-10-31 20:51] thaJeztah commented on #34720
possibly relevant as well; https://github.com/moby/moby/issues/31964

[2017-10-31 20:53] thaJeztah commented on #35242
ping @tonistiigi PTAL

[2017-10-31 21:01] #35349 closed

[2017-10-31 21:11] thaJeztah commented on #35352
So, wondering if this is a docker bug then; docker (through containerd / runc) reports the information it retrieves from the kernel; https://github.com/containerd/containerd/blob/17901fafa06cba7b68ccdaf4bba83bbcb20b0db9/metrics/cgroups/blkio.go#L13-L105 https://github.com/opencontainers/runc/blob/52454cf90807727923b375afd7d84ac8fd523959/libcontainer/cgroups/fs/blkio.go#L115-L237

Can you try runni

[2017-10-31 21:13] darrenstahlmsft commented on #35296
This is a much larger change to get support in Golang than just Moby. I think NumCPU is expected to return the number of CPUs available to Go, but go would need (likely major) runtime changes to support more than 64 CPUs for execution (and as a result, make it valid to return more than 64 CPUs here). The platform already supports more than 64 CPUs today (I'm pretty sure, at least), and I also see

[2017-10-31 21:14] thaJeztah commented on #29388
Closing this issue, as I don''t think there's a bug at hand here, but feel free to continue the conversation

[2017-10-31 21:14] #29388 closed

[2017-10-31 21:18] thaJeztah commented on #35221
Slightly related as well;

- Unable to choose outbound (external) IP for containers https://github.com/moby/moby/issues/30053
- Allow use of network name for network interface https://github.com/moby/moby/issues/23742
- Control interface name in docker multiple networking https://github.com/moby/moby/issues/25181

[2017-10-31 22:18] bvandehey commented on #21169
This appears to still be an open issue. Here is an example of the problem that case sensitive DNS on the embedded DNS server causes within at least Windows:

Using the sample docker-compose file below, the first "command" line doesn't resolve any alias named myservice whereas the second "command" line resolves an alias named MyService. It also appears after the first lookup, if the name wasn't an

[2017-11-01 00:34] rajcspsg commented on #34872
@thaJeztah  - I think we shouldn't close this issue since others facing the same issue. Could you please check why  different systems login into different URLs?

[2017-11-01 00:59] kassanmoor commented on #35310
any way to safely downgrade docker? this issue is annoying :|

[2017-11-01 01:40] BSWANG commented on #32195
@vlindhol Some debug method can be found in this series blog(techblog.d2-si.eu/2017/04/25/deep-dive-into-docker-overlay-networks-part-1.html).

[2017-11-01 01:57] mephi42 commented on #35140
I wonder if docker can do something about this?
In my case firewalld seems to have come by default with CentOS.

[2017-11-01 03:13] yongtang commented on #30242
PR #30897 has been rebased. Will look for another review.

[2017-11-01 04:13] suriyanath commented on #30392
When can we get a fix for this issue?? I see no one is assigned for this yet... :(

[2017-11-01 06:42] likan999 commented on #30249
I am on 17.09.0-ce-mac35 (19611), and I am still hitting the same problem. How do I work around this problem? Thanks.

[2017-11-01 08:09] smartinov commented on #31072
Also having the problems, since the docker build can't pull images which are located in the private repository. The workaround would be to pull the private image before the build, but that just isn't right.

Is there any other viable work-around for the docker build to take the default docker credentials?

[2017-11-01 09:06] thaJeztah commented on #34440
Actually; looks like a duplicate of https://github.com/moby/moby/issues/33703, please continue over there

[2017-11-01 09:06] #34440 closed

[2017-11-01 09:24] zhengqisong opened #35356 "can not create volume use glusterfs"
[root@test80 gfsmnt2]# docker volume create --driver local --opt type=glusterfs --opt device=10.0.2.81:models --name foo5
foo5
[root@test80 gfsmnt2]#
[root@test80 gfsmnt2]# docker run -it -v foo5:/world  --name gluster_test mongdb:3.4.1 bash
/usr/bin/docker-current: Error response from daemon: no such device.

-------------------
use mount can success in host test80 .
mount -t glusterfs 10.0.2.81:

[2017-11-01 09:25] zhengqisong commented on #35356
[root@test80 gfsmnt2]# docker version
Client:
 Version:         1.12.6
 API version:     1.24
 Package version: docker-1.12.6-61.git85d7426.el7.centos.x86_64
 Go version:      go1.8.3
 Git commit:      85d7426/1.12.6
 Built:           Tue Oct 24 15:40:21 2017
 OS/Arch:         linux/amd64

Server:
 Version:         1.12.6
 API version:     1.24
 Package version: docker-1.12.6-61.git85d7426.el7.cen

[2017-11-01 09:38] zhaoyao91 commented on #22339
Thanks @asbjornenge, real time saver.
This really should be considered as a bug.
According to the [doc](https://docs.docker.com/engine/reference/commandline/dockerd/#on-linux):

But when I turned to the reference, there isn't solution for this problem.

[2017-11-01 09:51] mwaeckerlin commented on #24862
I need the option `--priviledged` for running jenkins in a swarm. Jenkins in my configuration needs to run docker within docker, because all builds are started in a fresh docker container.

See https://github.com/mwaeckerlin/jenkins

Advantages:
 - builds are highly reproducible
 - build packages for all kind of Linux distributions and version, by simply running a container of that version
 - no n

[2017-11-01 09:55] jeeffy opened #35358 "Network problem in docker 17.09 with swarm mode"
I create a service with
[code]
Test the service with `curl 192.168.2.48:8080`, 50% requests are timeout. When I restart the service several times, sometimes, all requests are ok. Requests are hanged randomly, I'm confused for the case, and suspect network or vip has problem.
Test results of restart service 5 times
[code]
command of creating qgsp-network as follows:
[code]

Result of port check wit

[2017-11-01 09:59] jeeffy commented on #35358
Swarm cluster is created with
[code]

[2017-11-01 10:00] jonasddev commented on #24862
@mwaeckerlin I'm don't have the details of what you're trying to do, but I'm thinking that you may not need docker in docker, but start sibling dockers from docker by mounting the docker socket as a volume.

Have a read at this: https://jpetazzo.github.io/2015/09/03/do-not-use-docker-in-docker-for-ci/

[2017-11-01 10:02] jeeffy commented on #35358
The directory `/var/docker/nginx/` is exist on ervery node.

[2017-11-01 10:11] TAGC opened #35359 "Application running in Docker container fails to reconnect after USB devices unplugged/replugged"
**Description**

I've created an ASP.NET Core web-service that runs on a Raspberry Pi 3 Model B which acts as a proxy for USB devices, allowing clients to send/receive messages to/from USB devices connected to the RPi. Part of the job of this application is to be resilient to communication failures - if the device stops working or the USB cable is unplugged, the application waits for it to become

[2017-11-01 10:31] mwaeckerlin commented on #24862
@jonasdddev, well I don't really bother the «bad», «ugly» and «worse», because I have a working setup. ;)

But I'll give that solution mentioned there a try and just bind-mount `/var/run/docker.sock` into the jenkins image.

[2017-11-01 10:39] jonasddev commented on #24862
@mwaeckerlin Dito, don't care about it either, but was in your situation even before Swarm and that solution solved all my perceived problems. Just let me know for my info if it was successful.

Thanks.

[2017-11-01 11:52] thaJeztah commented on #34783
The "ingress" networking forms the "routing mesh", which means that when you publish a service's port, the port will be accessible on _any_ node in the swarm, even if no container for the service is running on that node. If you access the port on a node that does not have a container running for the service, the request is send over the `ingress` network to a node where a container _is_ running.

[2017-11-01 11:52] #34783 closed

[2017-11-01 11:53] liusdu commented on #34463
ping @rhvgoyal

[2017-11-01 12:03] thaJeztah commented on #33177
Closing because this went stale, but feel free to comment after I closed

[2017-11-01 12:03] #33177 closed

[2017-11-01 12:06] thaJeztah commented on #30134
Anyone still seeing this problem on docker 17.10 or above?

[2017-11-01 12:16] thaJeztah commented on #30757
This looks like an issue in you environment and (as mentioned), could be related to the DNS that is configured for your container;

[code]

I'm closing this issue, because I don't think there's a bug here; if you are running into this issue, and think there's a bug, please open a new ticket, and provide the information that's requested in the [issue template](https://raw.githubusercontent.com/moby

[2017-11-01 12:16] #30757 closed

[2017-11-01 12:24] sbrattla commented on #30134
@thaJeztah we have unfortunately not been able to try out 17.10 RC2, so can't really say. Any chance this will be merged into the regular release if you don't receive any negative feedback?

[2017-11-01 12:30] fatg1988 commented on #22937
`docker version
Client:
 Version:      17.04.0-ce
 API version:  1.28
 Go version:   go1.7.5
 Git commit:   4845c56
 Built:        Wed Apr  5 23:33:17 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.04.0-ce
 API version:  1.28 (minimum version 1.12)
 Go version:   go1.7.5
 Git commit:   4845c56
 Built:        Wed Apr  5 23:33:17 2017
 OS/Arch:      linux/amd64
 Experimental: false`

`do

[2017-11-01 12:35] thaJeztah commented on #30134
17.10 was released and should contain the same fixes as were in RC2

[2017-11-01 12:39] patriziotufarolo commented on #35196
The container keeps up and running without losing data, is the docker client that quits on its own imho.  What I did was:
- launch the container (with docker-compose,  but it doesn'matter). FYI its the mysql container in the hub
- attach to it with both `docker exec -t -i $container_id bash` or `docker exec -t -i $container_id mysql`
- Type something to tty (for example, in the second case, a quer

[2017-11-01 12:47] thaJeztah commented on #22937
@fatg1988 you are running an outdated version of Docker (17.04 has reached end-of-life), and based on the kernel version, a version of CentOS that's no longer supported as well (CentOS uses a rolling release model, and CentOS 7.4 is the current release, and the only version that's supported).

For RHEL and CentOS, only XFS as a backing system is supported;

The RHEL release notes mentions this; ht

[2017-11-01 13:24] hcm007 commented on #29875
Client:
 Version:      17.09.0-ce
 API version:  1.32
 Go version:   go1.8.3
 Git commit:   afdb6d4
 Built:        Tue Sep 26 22:39:28 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.09.0-ce
 API version:  1.32 (minimum version 1.12)
 Go version:   go1.8.3
 Git commit:   afdb6d4
 Built:        Tue Sep 26 22:45:38 2017
 OS/Arch:      linux/amd64
 Experimental: false
And I have elasticsea

[2017-11-01 13:57] ijc commented on #33133
@thaJeztah Debian has the same "upstream or linux-next" type constraint as Ubuntu, but the place to file it is bugs.debian.org, easiest way to file is to run `reportbug kernel` on a Debian system (ideally one running the affected bad kernel so the version tracking will automatically be correct).

[2017-11-01 14:04] thaJeztah commented on #33382
Please keep in mind that the GitHub issue tracker is not intended as a general support forum,
but for [reporting bugs and feature requests](https://raw.githubusercontent.com/moby/moby/master/.github/ISSUE_TEMPLATE.md). For other type of questions, consider using one of;

- the Docker Support Forums - https://forums.docker.com
- the [Docker community Slack channel](https://blog.docker.com/2016/11/i

[2017-11-01 14:04] #33382 closed

[2017-11-01 14:13] rmmcnulty9 commented on #30935
@thaJeztah I am still seeing my issue on version 17.09.0-ce. Should Docker also support decrypting private keys in `/etc/docker/certs.d/my_registry_name/`?

[2017-11-01 14:27] philcontrolf1 commented on #21169
@bvandehey Oooh, that's fun. So I can poison Window's DNS cache by forcing a lookup of a name with different capitalization. I think the obvious attack is disallowed because I can't call a container "Google.Co.Uk" but I wonder if there's something here...

[2017-11-01 14:37] thaJeztah commented on #30935
@rmmcnulty9 this issue was for the client connecting to the daemon; for the daemon I'm not sure it would make a lot of sense to implement, as it would mean the daemon can only be started interactively (start daemon; enter passphrase), or it would read the password from a file (which sounds like a bad idea as well). You're welcome to open an issue for it though, or if you have thoughts/suggestions

[2017-11-01 14:51] matthid commented on #16720
I see the same with:

[code]

[2017-11-01 15:04] thaJeztah commented on #35196
ping @johnstep could you have a look?

[2017-11-01 15:10] thaJeztah commented on #29875
@hcm007 both `stack deploy` and `docker service create` should use the same API endpoints, so that shouldn't make a difference, but if you think there's a bug, please open a new issue with more details (also the exact command you use to deploy the service with `docker service create`).

I do notice you seem to be running Docker on Amazon Linux, for which there is no official support (those package

[2017-11-01 15:14] cpuguy83 commented on #35356
This is expected. GlusterFS is a user-space filesystem. This requires a running FUSE daemon and is not a simple `mount(2)` syscall. You won't be able to use the local volume driver to mount a FUSE fs.

Closing as this is working as expected, but feel free to comment. 🙇 👼

[2017-11-01 15:14] #35356 closed

[2017-11-01 15:15] cpuguy83 commented on #30392
I would expect this to be fixed in newer versions of Docker.
Please post your `docker info` output and full error details if you are experiencing it.

[2017-11-01 15:28] thaJeztah commented on #34872
If a 404 is returned by the registry, that means the registry is not conforming to the registry V2 specification; https://github.com/docker/distribution/blob/master/docs/spec/api.md#api-version-check

It's possible the registry only implements `V1` (or has not been [configured to use the V2 specification](https://www.jfrog.com/confluence/display/RTF/Docker+Registry), in which case the daemon has t

[2017-11-01 15:39] thaJeztah commented on #35358
- Is there anything in the daemon/system logs that may provide some insight? (ideally with the daemons running in debug mode).
- are both instances of the service running on the same node, or spread over both nodes?
- the requests that succeed; are they handled by the container that's running on the same node?

[2017-11-01 15:50] hcm007 commented on #29875
@thaJeztah  I can use docker service create elasticsearch (by default, use bridge)
but when I    docker network create --driver overlay test
                     docker service create --network=test elasticsearch
It will show me  max file descriptors [4096] for elasticsearch process is too low, increase to at least [65536]

[2017-11-01 16:02] thaJeztah commented on #32566
Briefly looked into this; the `--log-level` option is functional, but only affects output that's printed by logrus (there's a couple of `logrus.Debug()`, and `logrus.Error()` in the docker/cli code). Using `--log-level` may be a bit confusing here, because the cli is not really logging things (i.e., doesn't write to a log-file), and most output is always written, or can be influenced by options sp

[2017-11-01 16:19] hcm007 commented on #29875
@thaJeztah  I fixed it, thank for your reply.

[2017-11-01 16:23] thaJeztah commented on #29875
Great!

[2017-11-01 16:41] dhensen commented on #33974
Same for me:
[code]
[code]
Note that I'm on same version as @hogepodge

[2017-11-01 16:43] thaJeztah commented on #33974
@dhensen what distro (version) and kernel-version are you on?

[2017-11-01 16:47] tonistiigi commented on #33974
@hogepodge @dhensen @AshleyAitken Please post the full Dockerfile (at least up to the error point).

[2017-11-01 17:02] tonistiigi commented on #31072
@smartinov Please post `docker version`, `docker info` and logs if you can.

@simonferquel Assuming this is Docker for Mac related, is there anything specific to check.

[2017-11-01 17:10] agalisteo commented on #35345
if I have 6 replicas, using the entrypoint,  the script will execute in all containers, not just once

[2017-11-01 17:30] rgardam commented on #32195
I know this is a completely different product, but networking issues plagued early versions of consul. This also uses the raft consensus protocol.
I had a theory about this.
This problem seemed to affect smaller instances on aws. I wonder if AWS and VMware do funny stuff with VXLAN packets.
Giving them less priority across the network so their own VXLAN traffic takes priority.

I am stabbing wildl

[2017-11-01 17:41] mbsimonovic commented on #32195
@rgardam sorry to bust your theory, but i’ve got this problem in our private data center where docker runs on bare matal linux (no vmware or anything like that).

[2017-11-01 17:42] mbsimonovic commented on #32195
actually i’ve got the same problem in two different data centers

[2017-11-01 17:58] rhuddleston commented on #29511
I will upgrading docker soon and redeploying to a large number of server so let me know if you want us to to test anything related to this issue.

[2017-11-01 18:07] zzvara commented on #32195
We also happen to have this problem on CoreOS, each node (total of 4) running 17.09.0-ce, build afdb6d4, but only one node is affected by this problem so far. Containers are running fine on their own, but the overlay network is not working.

![image](https://user-images.githubusercontent.com/8371789/32289737-dc6f56f0-bf37-11e7-9ee1-082c5c2473fe.png)

[2017-11-01 18:08] bitprim-phabricator commented on #35352
You were right, i had added the `cgroup_enable=memory swapaccount=1` options to `/etc/default/grub` file and updated grub, but when i upgraded the kernel these changes were apparently lost, `check__config.sh` pointed out the issue.
Now i got the stats to work, but i have a container that uses a vey large memory mapped file, is it normal for BLKIO stats to be 0 in that case ? If i run `iostat` on t

[2017-11-01 18:08] thaJeztah commented on #32275
The Ubuntu kernels are well maintained, and using an up-to-date version of their kernel should work well. For production, it may be preferable to stick to the LTS versions (Ubuntu 16.04), as other releases have a relatively short support cycle.

Although historically Ubuntu used AUFS as the default storage driver, on newer versions, and installations that use kernel 4.x, the overlay2 storage drive

[2017-11-01 18:08] #32275 closed

[2017-11-01 18:18] vielmetti commented on #27384
If for whatever reason you need a minimal test case to replicate this, this Dockerfile

https://gist.github.com/anonymous/bdafb8e961f55b2533fee8fa5221d186

will create 100 layers and would fail to work at build time if you were using an unpatched / unfixed / old version of Docker on arm64. The error you'll expect is something like

[code]

[2017-11-01 18:19] kinghuang commented on #32195
My gut feeling is that the busyness of a node plays a role, though I don't have any exact evidence for it. I have a 10-node swarm that runs some containers with heavy CPU demands, and it feels like the node(s) that happen to be running those containers have the most overlay network problems.

[2017-11-01 18:21] thaJeztah commented on #35352
Hm, I don't know actually. If that's due to swapping, I can imagine it not being accounted for the container's BLKIO (because it's not the container's process itself doing the writing).

Curious; when using `docker info` were these warnings printed?

https://github.com/docker/cli/blob/c0d004f7cf11d7340b3b522380d9cdbf86437617/cli/command/system/info.go#L228-L233

[2017-11-01 18:22] thaJeztah commented on #35352
let me close this issue for housekeeping, but feel free to continue the conversation

[2017-11-01 18:22] #35352 closed

[2017-11-01 18:25] zzvara commented on #32195
On `node01` in my case, there are no running containers. I would however be happy if I would be able to create it with a swarm overlay network attached. All other nodes `node0[2-4]` operate on the same overlay network, without any issues so far, CPU is running close to 100% constantly.

[2017-11-01 18:34] msavlani commented on #35176
Hi thaJeztah,

I know this is has reached end of cycle. But unfortunately we are in production with this version of docker and cannot upgrade unless we pass whole testing cycle.

Can someone just anaylze my go routine log and provide some input as what might be causing this issue ?

@rhvgoyal  @cpuguy83 @mlaventure

Can you guys help me here ?
Any help is appreciated.

Thanks,
Manish Sawlani

[2017-11-01 18:42] zzvara commented on #31018
Same error here on 17.09.

[2017-11-01 18:52] tonistiigi commented on #35242
Added a commit with the fix to docker/cli#300

@delissonjunio was this also related to being outside of context dir? I still get the same error on `17.10` and building from context directory seems to work fine. So this may be something different. If so open a new issue with all the logs and version info and ping me there.

[2017-11-01 18:55] govint commented on #26133
@cpuguy83, @thaJeztah can this issue be considered again, looks like CSI doesn't support updating a docker volume for now and its going to be some time before it does and some time more before Docker gets CSI enabled plugins enabled (yess??) We have customers wanting to be able to modify existing docker volume properties and resizing is a repeated ask.

Can this issue be worked on to support a _do

[2017-11-01 19:06] bitprim-phabricator commented on #35352
@thaJeztah nope, no warnings after adding these parameters to the kernel boot command line, i don't think they were printed when i obtained the `docker info` report attached above.

[2017-11-01 19:08] ezyang opened #35366 "docker image prune/ls have inconsistent set of filters"
This is kind of related to #30623.

**Description**

The documentation in https://docs.docker.com/engine/reference/commandline/images/#filtering describes the filters available for `docker image ls`

The documentation in https://docs.docker.com/engine/reference/commandline/image_prune/#filtering describes the filters available for `docker image prune`

They are not the same.

**Steps to reproduce

[2017-11-01 19:16] matthewbarr commented on #30935
On the mac, it would be nice to pull the certificate from the Keychain.  Or the password from the keychain, at the least.     docker/for-mac#1320

[2017-11-01 19:18] thaJeztah commented on #30935
@matthewbarr can you open an issue for that in the docker for mac issue tracker? https://github.com/docker/for-mac/issues

[2017-11-01 19:26] matthewbarr commented on #30935
It's already open.  Been in triage since Jun 20th 2017.

[2017-11-01 19:26] neverfox commented on #13490
@androa I like that solution but I'm not sure how I feel about the secrets being copied to the work directory. That's probably fine on a private CI server, but it's not so great for local building where you would be copying files you shouldn't out of protected locations (not to mention that the copying itself is both annoying and dangerous in that they might accidentally end up in source control).

[2017-11-01 19:57] tvergilio commented on #27536
I am experiencing this issue too. When a service running on one of the workers try to look up a service running on a different worker by name, I get the following error:
[code]
See this issue: https://stackoverflow.com/questions/47045887/flink-running-on-docker-swarm-cant-resolve-jobmanager-if-machines-are-in-differ

[2017-11-01 20:06] thaJeztah commented on #27635
Thanks! Closing this one

[2017-11-01 20:06] #27635 closed

[2017-11-01 20:10] cpuguy83 commented on #35176
@msavlani

[code]

This is fixed probably even in Docker CE 17.03.2. Given that there are no new features in the 17.03 as compared to 1.13, I'd recommend you at least upgrade to that, however the current supported release is 17.09.

[2017-11-01 20:12] cpuguy83 commented on #35336
Thanks! The CI has been updated to add the kernel option so at least the test passes.

[2017-11-01 20:12] #35336 closed

[2017-11-01 20:25] ntwrkguru commented on #29133
You don't seem to get it @vovimayhem. I'm  not talking about passing envs to containers; that works as expected. What I mean is to use an env_file that is parsed during `stack deploy` as it was during `compose up`.

[2017-11-01 20:53] tonistiigi commented on #35280
This behavior depends on the storage driver and if storage driver is able to detect duplicates or not. For example, if you try this with `overlay` (and I assume btrfs, devicemapper) it already works correctly and file like

[code]

creates 2 images with identical size but a different number of layers.

So there is no need for the extra flag. If we like this behavior either more drivers should do i

[2017-11-01 21:13] fntlnz commented on #35323
@colindownsrazouk I'm for the solution you proposed.
However I don't experience the exact same situation as you did, in fact a

[code]

for me leads to

[code]

@thaJeztah  IDK if this should be done at driver level or on top of drivers since this kind of behavior can potentially impact any driver including also plugins.

[2017-11-01 21:17] tonistiigi commented on #34565
Left a comment in #35280 how duplicates detection is driver dependant atm and already works correctly in a lot of cases. Another way to have even more control is with https://github.com/moby/moby/issues/32507 that would let you apply differences of 2 arbitrary directories(2 points from your dockerfile).

The concept of a layer is arbitrary. In a long view, the user shouldn't care how many layers i

[2017-11-01 21:22] dhensen commented on #33974
@thaJeztah Arch linux @4.13.9-1-ARCH

@tonistiigi thanks for taking a look, here is my dockerfile:
[code]

[2017-11-01 21:28] jamesongithub opened #35370 "Error grabbing logs: EOF when tailing container logs"
**Description**
Seem to be having issues tailing logs after upgrading to 17.09.0-ce. Was working on 17.06.0-ce

**Steps to reproduce the issue:**
1. Create container
2. Start container
3. Tail logs

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker

[2017-11-01 21:29] jamesongithub commented on #35370
@shin- don't know if this is docker-py related.

[2017-11-01 21:39] shin- commented on #35370
There's more info on this issue here: https://github.com/docker/for-win/issues/1235

I don't believe it's related to what we do in the python SDK or Compose, as reports indicate the same error occurs while using the docker CLI as well (e.g. https://github.com/dokku/dokku/issues/2898#issuecomment-327059061, https://github.com/docker/for-win/issues/1235#issuecomment-341221030)

It looks like the err

[2017-11-01 21:50] duglin commented on #34565
Just to add some additional info.... when I do Docker education classes I go out of my way to talk about the optimizations that Docker does to help speed things up and to make better use of resources. And the layering within images is part of that.

While I agree that in many ways layers are an internal artifact of Docker images, I'm not sure I would say that they should be totally hidden from use

[2017-11-01 22:02] osman-masood commented on #18113
I experienced the same problem with Docker 17.06, Ubuntu 16 (Linux kernel 4.4.0), on a Docker swarm worker node. Removing `/var/lib/docker/network/files/local-kv.db` and restarting the Docker daemon fixed the problem. Yay!

[code]

This is happening with a worker node. The container fails to start with this inspect log:

[code]

[2017-11-01 22:04] tonistiigi commented on #34565
I agree on that and that's what I meant by "push/pull commands are efficient". Users should know that using same base image makes resulting images more efficient but ideally, they shouldn't need to care about how this is achieved on the wire. For example, if images used a rootfs that is a DAG tree of files(or a continuity manifest), this property would still apply, but there wouldn't be any concep

[2017-11-01 22:04] dhensen commented on #33974
@tonistiigi  Hmm, I ran the build again... turns out that the error is gone. I'm 100% sure that it is the exact same Dockerfile as earlier today.

[2017-11-01 22:10] cowlinator commented on #22507
I have been having this problem, but none of the solutions or workarounds listed here are working for me.

Upon installing docker, `docker info` stated that the daemon is not running.
`/etc/docker/daemon.json` does not exist.
Upon running `dockerd`, it states that a pid file is found.
`ps axf | grep docker | grep -v grep` did find results (dockerd and containerd), so I both processes, and verified

[2017-11-01 22:15] cowlinator commented on #22507
I just realized that these symptoms don't actually match the thread, so I'm moving this to its own issue.

[2017-11-01 22:17] thaJeztah commented on #33789
ping @fcrisciani @abhi

[2017-11-01 22:19] jamesongithub commented on #35370
ok thanks.

[2017-11-01 22:21] cowlinator opened #35372 "Docker cannot be run at all"
--------------
BUG REPORT
--------------

**Description**

I cannot run docker at all.

**Steps to reproduce the issue:**

Upon installing docker, `docker info` stated that the daemon is not running.
`/etc/docker/daemon.json` does not exist.
Upon running `dockerd`, it states that a pid file is found.
`ps axf | grep docker | grep -v grep` did find results (dockerd and containerd), so I kill both pr

[2017-11-01 22:23] tonistiigi commented on #33974
@dhensen I couldn't reproduce either. Also, the error point you have marked appears before any multistage command so I'm not sure if this is related at all.

[2017-11-01 22:23] thaJeztah commented on #27639
Looks like this is resolved indeed;

[code]

I'll go ahead and close, but ping me if it's still an issue

[2017-11-01 22:23] #27639 closed

[2017-11-01 22:36] abhi commented on #33789
@thaJeztah this should be fixed now

[2017-11-01 22:39] fntlnz commented on #35372
If everything is running and you get that error the only things that comes in mind is that you're using the client with a user that is not in the docker group. Try `sudo docker info`

[2017-11-01 23:01] thaJeztah commented on #18113
@osman-masood please open a new issue with details; the original issue is from 2015, at which time the Swarm-managed overlay networks didn't even exist, so your issue may well be unrelated (but similar outcome)

[2017-11-01 23:02] thaJeztah commented on #33789
@abhi thanks! Let me close

[2017-11-01 23:02] #33789 closed

[2017-11-01 23:06] thaJeztah commented on #35372
@cowlinator you may want to switch to the official Docker packages as well to get an up-to-date version of docker; the docker.io package is a package that's maintained by Ubuntu, and 1.12.6 is quite outdated. You can find installation instructions for ubuntu here; https://docs.docker.com/engine/installation/linux/docker-ce/ubuntu/

[2017-11-01 23:07] thaJeztah commented on #35372
Please keep in mind that the GitHub issue tracker is not intended as a general support forum,
but for [reporting bugs and feature requests](https://raw.githubusercontent.com/moby/moby/master/.github/ISSUE_TEMPLATE.md). For other type of questions, consider using one of;

- the Docker Support Forums - https://forums.docker.com
- the [Docker community Slack channel](https://blog.docker.com/2016/11/i

[2017-11-01 23:07] #35372 closed

[2017-11-01 23:47] cowlinator commented on #35372
@thaJeztah, Thank you for the info about docker.io being obsolete.  I will post this type of issue in the forums in the future.

Is there any way to mark docker.io as obsolete?  It was not clear to me at all that it was.

[2017-11-01 23:54] thaJeztah commented on #35372
Well, it's a package that's maintained by the Ubuntu packagers. While it's possible that they backport changes, the upstream (official) version of docker 1.12.6 is no longer maintained.

If you want the packages maintained by docker, use those from download.docker.com

[2017-11-02 00:06] jamesongithub commented on #35370
Looks like affects 17.06.2-ce also.

[2017-11-02 00:54] tjamet opened #35374 "Conflict between docker-compose and docker stack deploy"
Hi,

I have an issue when running the same docker-compose file with stack deploy after having deployed it with docker-compose.
I observed that 2 networks can have the same name in such a situation.

I managed to reproduce the problem with the compose-file:

[code]

With this docker-compose file, when running consecutively:
[code]

2 networks are created with a name of `test_test` and the stack fai

[2017-11-02 01:00] isula-xufeng commented on #35337
Could anyone take a look at this issue?
Thanks a lot!

[2017-11-02 02:00] jeeffy commented on #35358
Docker swarm cluster has 2 nodes(192.168.2.47 and 192.168.2.48). Container of the service is distributed on each node for 5 test above.
Today, I tested again, The requests were hanged at 9:04,
Logs on 192.168.2.47
[code]
Logs on 192.168.2.48
[code]
Thanks, thaJeztah.

[2017-11-02 02:13] jeeffy commented on #35358
I run the service with shell script as follows
[code]
rm the service , and run immediately again, is it any wrong?

[2017-11-02 02:41] coughlanio commented on #35068
Currently evaluating our environment on CoreOS Alpha (Linux 4.13.5, Docker 17.09) and will report back if the issue is resolved.

[2017-11-02 02:50] kassanmoor commented on #35310
Ant new in app this? apparently a workaround is add a new manager with a lower docker version sadly I was unable to test further since was a windows manager that get unresponsive after run a service :|

[2017-11-02 03:37] jeeffy commented on #35358
The problem will be reduced if adding `sleep 5` in shell as following.
[code]

[2017-11-02 03:49] kaloyanhs opened #35377 "tten an image"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2017-11-02 04:17] vikstrous commented on #30392
I've seen it locally on my machine recently. No dind involved.

[code]

[2017-11-02 04:32] #35377 closed

[2017-11-02 05:54] daixiang0 commented on #35317
Hi, i find a problem that use below daemon config can not start docker daemon in container:
[code]
[code]
Here is docker info in container:
[code]
I do not know which setting makes it failed.

[2017-11-02 08:28] daixiang0 opened #35378 "How make docker host respond on port 5555 in docker"
I want to enable hosts setting in container but failed.
Here is my daemon.json
[code]
My docker info in container as below:
[code]
Host setting can work at host, but i do not found docs about how to enable it in container.

[2017-11-02 08:57] dhensen commented on #33974
@tonistiigi Thanks for taking a look! Could this be unrelated to multistage build? I get the same `layer does not exist` error, surely before the multistagebuild section.

[2017-11-02 08:58] simonferquel commented on #31072
@tonistiigi, I'll check it with docker for Windows (I suppose it is a bug related to build w/ credential helpers), and if I can reproduce, I'll try on mac, and debug it.

[2017-11-02 09:07] thaJeztah commented on #35370
Are you using log-rotation? Is this for every container or a specific one? And do you see the same problem if you use the docker CLI to read the logs for the same container?

[2017-11-02 09:08] kingAndGithub commented on #35276
@thaJeztah I have updated the docker successfully by removing the file /var/lib/docker/network/files/local-kv.db.
besides, i update the linux kernel to centos 7.4 and docker to 1.17.6

[2017-11-02 09:21] smartinov commented on #31072
@tonistiigi can do!

uname -a
[code]

docker build ...
[code]

docker pull
[code]

After the pull, when I have the image locally, I can run the docker build.

docker version
[code]

docker info

[code]

[2017-11-02 09:33] #35378 closed

[2017-11-02 09:38] omerh opened #35379 "Docker daemon crash after joining a swarm cluster"
I have a swarm cluster 17.10 with AWS Autoscale.
I am creating new nodes of swarm workers with a label on the daemon

[code]

After starting the daemon and running the join command the daemon crashes with the following exception
[code]

I dont know how exactly how reproduce it, because sometimes a worker starts, because if after a while Ill start the daemon again on the worker node, it will start.

[2017-11-02 09:39] yellowiscool opened #35380 "The service published ports are not published in my docker swarm."
**Description**

Hei, I just updated to docker swarm cluster to 17.10.0-ce and all my services ports are not published anymore. When creating a new service, it is not published as well.

**Steps to reproduce the issue:**
1. `docker service create -p 7777:80 --name nginx-test-service nginx`
2. `curl http://127.0.0.1:7777/`

**Describe the results you received:**

`Failed to connect to localhost por

[2017-11-02 09:44] thaJeztah commented on #35378
This should work the same as outside a container;

[code]

However (from your other issue ) since you are starting docker using systemd, be sure to check if the systemd unit doesn't also have a `-H` option set. Use `systemctl cat docker.service` to check the service configuration, and to check if there's already a `-H` option set.

Also, when running docker inside a container, make sure to use a v

[2017-11-02 09:44] thaJeztah commented on #35340
Let me close this issue, because this isn't a bug, but fee free to comment after that

[2017-11-02 09:44] #35340 closed

[2017-11-02 10:00] zenglian opened #35381 "How to increase the partition size of /var/lib/docker (docker ce 17, centos)"
It's running out of space with a few containers and images. Want to expand it from 20G to 100G.
$df
/dev/xvda3                                                207710036   29473308  167662600  15% /
/dev/xvda5   25165824   19947980          0 100% /var/lib/docker

[2017-11-02 10:53] simonferquel commented on #31072
@smartinov can you give me the version of docker for mac you are using ? also, what is the output of `which docker-credential-osxkeychain` and `docker-credential-osxkeychain version` ?

[2017-11-02 10:59] smartinov commented on #31072
[code]

[2017-11-02 11:00] rgardam commented on #32195
@mbsimonovic i'm happy to have my theory busted! :)

[2017-11-02 11:17] ZigmunD commented on #33795
Hope the issue is resolved finally. Had multiple IP conflicts on 17.09 and decided to upgrade to 17.10 despite "atomic operation" issue.

@fcrisciani we use few containers connected to attachable overlay network. Could it make any problems?

[2017-11-02 11:42] thaJeztah commented on #33974
@dhensen could this be related to https://github.com/moby/moby/issues/35058 (https://github.com/moby/moby/pull/34342) (really wild guess / brainstorming 😅)?

[2017-11-02 11:45] khalistan commented on #5618
I am facing also this issue. I just tried to stop container and to remove it. Suddenly came this message:
[code]

[2017-11-02 11:50] thaJeztah commented on #35381
Please keep in mind that the GitHub issue tracker is not intended as a general support forum,
but for [reporting bugs and feature requests](https://raw.githubusercontent.com/moby/moby/master/.github/ISSUE_TEMPLATE.md). For other type of questions, consider using one of;

- the Docker Support Forums - https://forums.docker.com
- the [Docker community Slack channel](https://blog.docker.com/2016/11/i

[2017-11-02 11:50] #35381 closed

[2017-11-02 11:53] thaJeztah commented on #35379
Thanks for reporting

ping @nishanttotla @anshulpundir

[2017-11-02 12:01] thaJeztah commented on #35379
May actually be here where things go wrong (but I'm bad at reading those dumps); https://github.com/docker/docker-ce/blob/v17.10.0-ce/components/engine/daemon/cluster/executor/container/executor.go#L146

Wonder if it's related to https://github.com/docker/swarmkit/pull/2409 ? @dperny ? (I may be totally off here)

[2017-11-02 12:07] fho commented on #35068
@thaJeztah @coughlanio there is the an open bug report for Ubuntu:
https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1711407

[2017-11-02 12:15] thaJeztah commented on #35380
Anything in the logs that stands out? Perhaps you can also check if the iptables rules look ok (and if you see changes being made to iptables).

Does it make a difference if you try to connect using the external IP address of a node (instead of `localhost`)?

[2017-11-02 12:59] thaJeztah commented on #35337
I'm not sure this is a bug (but understand it's inconvenient); first of all; doing `docker swarm leave` does not remove a node from the swarm. Only managers are allowed to remove a node from the swarm (using `docker node rm`). Doing `docker swarm leave` on any node will just make the node itself disconnect from the swarm, but if you would check the output of `docker node ls` on a manager node, you

[2017-11-02 13:15] thaJeztah commented on #35358
This may be because the service commands are asynchronous; i.e., `docker service rm` will return immediately, but the tasks backing the service are not yet deleted. Docker will keep working in the background to reconcile the actual state with the  desired state.

Thinking out loud; possible reasons why requests fail;

- Perhaps the task is not removed from the DNS until the container itself is sto

[2017-11-02 14:18] thaJeztah commented on #34530
ping @mavenugo was this looked into / resolved?

[2017-11-02 14:19] thaJeztah commented on #34285
Closing this issue because this went stale, and more information is needed

[2017-11-02 14:19] #34285 closed

[2017-11-02 14:21] thaJeztah commented on #35107
closing this for now, but let us know if you're still running into this on a current version, and have more information available

[2017-11-02 14:21] #35107 closed

[2017-11-02 14:24] thaJeztah commented on #34036
This was implemented in https://github.com/docker/cli/pull/347,  and should be part of docker 17.09 and up

[2017-11-02 14:24] #34036 closed

[2017-11-02 14:26] deiga commented on #7710
What is the current status of this issue? Following all the PR links makes it seem like nothing has happened to this, but I can't be sure.
We're talking about a 3 years old request here.

[2017-11-02 14:27] ornoone commented on #34867
I have the same problem. I managed a pcap file which show that my tcp connection is reset after 2 hours, in the middle of a request/response http flow. (i can provide the pcap if needed).

[2017-11-02 14:36] thaJeztah commented on #34867
Related to https://github.com/moby/moby/issues/33685 and https://github.com/moby/moby/issues/32195#issuecomment-315143802 perhaps?

[2017-11-02 14:46] thaJeztah commented on #7710
It's still open, I don't think someone looked into this, but contributions welcome. Implementation may be non-trivial though (i.e.; correctly implementing wildcard matching has proven to be tricky)

[2017-11-02 14:48] thaJeztah commented on #30768
Are you still having this issue on a current release of docker?

[2017-11-02 15:20] simonferquel commented on #31072
ok, your docker-credential-osxkeychain seem valid.
@n4ss any quick idea about the issue (still build w/ osx credential helper) in with latest version of the helper.

[2017-11-02 16:13] thaJeztah commented on #30558
@piontec is this still an issue?

[2017-11-02 16:18] jgoeres commented on #35278
So you suggest using named volume... but what if I wanted such a "dynamically named" named volume to be located on an NFS share, I would have to mount my NFS share into the directory into which Docker puts the named volumes, right?
But what if I don't want all volumes on that Docker host to be on that NFS share?
Would an NFS volume driver be an alternative?

[2017-11-02 16:31] thaJeztah commented on #35041
new pull request / discussion here: https://github.com/moby/moby/pull/35344

[2017-11-02 16:38] balexx commented on #32093
@NavinF that's not a valid solution for us. We rely on short names to ensure name resolution is datacenter agnostic, and resolves to the local DC's domain first.

[2017-11-02 17:08] Mic92 commented on #30551
@Boldie How can I create a pool without fragmentation support?

[2017-11-02 17:08] programisteshko commented on #32195
We have the same issue on old docker 1.12.6. The same kernel messages IPVS: __ip_vs_del_service: enter, and virtual and sometimes bare metal node services restarting with "suspect timeout reached" in docker log. We are also considering to leave swarm because of that :(((

[2017-11-02 17:14] sidewinder12s commented on #24376
I've also seen this when Splunk returns a 500.

[2017-11-02 17:16] crazysaem opened #35384 "Expose SubSecondPrecision config option for fluentd logging driver"
fluentd v0.14.22 stable has been [released](https://www.fluentd.org/blog/fluentd-v0.14.22-has-been-released), which [supports sub second precision](https://docs.fluentd.org/v0.12/articles/faq#i-have-millisecond-timestamp-log-but-fluentd-drops-subsecond.-why?) for logs.

[fluent-logger-golang](https://github.com/fluent/fluent-logger-golang) already has an option to enable this called `defaultSubSec

[2017-11-02 17:17] alexindigo commented on #34513
@thaJeztah In many case those build containers are undesirable and there is no straight forward to track them down in delete in shared environments. Would be very helpful to have some kind flag to clean them up. Especially that usually that intermediate images are the heavy ones with all the build/test tooling. Or maybe allow to tag them so it would be easier to perform house cleaning.

Thank you.

[2017-11-02 17:20] ripcurld0 commented on #35384
@crazysaem would you like to work on that?

[2017-11-02 17:21] thaJeztah commented on #34513
Have you tried `docker image prune` ?

[2017-11-02 17:22] subbu05 commented on #5618
I have 60 containers doing http tests and am seeing following error:
AWS - EC2
docker version
Client:
 Version:      17.09.0-ce
 API version:  1.32
 Go version:   go1.8.3
 Git commit:   afdb6d4
 Built:        Tue Sep 26 22:41:23 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.09.0-ce
 API version:  1.32 (minimum version 1.12)
 Go version:   go1.8.3
 Git commit:   afdb6d4
 Built:

[2017-11-02 17:25] thaJeztah commented on #35278
@jgoeres something like the example here perhaps https://docs.docker.com/engine/swarm/services/#data-volumes

[2017-11-02 17:28] crazysaem commented on #35384
Sure! But I can only start working on it at the end of next week.
(If someone else already started working on it in the meantime, please let me know).

[2017-11-02 17:39] alexindigo commented on #34513
It removes "all dangling images", so in shared environments (like Jenkins slave) it's more akin to shooting oneself in the foot. :)

[2017-11-02 17:57] Vacant0mens commented on #35272
I found that if I have this problem, I delete all of the stacks, then deploy one stack, it says something about the default stack network not being created (without attempting to creating it), and then if I stop the docker service, then run `Get-VMSwitch | Remove-VMSwitch` then I'm able to deploy the one stack with no problems. But the problem returns when a second stack is deployed.

Seems like t

[2017-11-02 18:14] thaJeztah commented on #29919
closing this per https://github.com/moby/moby/pull/33711#issuecomment-341512110

[2017-11-02 18:14] #29919 closed

[2017-11-02 18:14] thaJeztah commented on #23932
https://github.com/moby/moby/pull/33711#issuecomment-341512110

[2017-11-02 18:14] #23932 closed

[2017-11-02 18:28] thaJeztah commented on #21169
The caching only seems to be an issue on Windows, not linux (from some quick testing)

[2017-11-02 18:29] thaJeztah commented on #21169
ping @jhowardmsft PTAL for the DNS caching issue

[2017-11-02 18:38] mavenugo commented on #35082
@vide @xinfengliu I could reproduce it and narrowed it down to the Conntracker states causing the issue. We see much better performance disabling IPVS from using conntracker (using `--sysctl net.ipv4.vs.conntrack=0` for the siege container alone).

BTW, Pls also note that am using the Service VIP directly. Using the service name results in performance impact since Siege does DNS lookup for every q

[2017-11-02 18:44] friism commented on #21169
@msabansal might now what's up

[2017-11-02 19:01] pradipd commented on #35310
Sync'd up with @mavenugo  and we have a fix.  However, we will bring the fix into 1711.
I think the plan is to revert this change in 17.10.  @mavenugo @vieux please confirm that is the plan.

[2017-11-02 19:08] tianon commented on #24739
See https://github.com/docker/cli/pull/138 for a PR which is implementing a `docker manifest` subcommand.

[2017-11-02 19:51] taylor2464 commented on #33656
I can confirm what @mrchoke said about stopping the ds_agent service. On SUSE 12, Linux 4.4.74-92.35, when running:

I got:

docker: Error response from daemon: oci runtime error: container_linux.go:247: starting container process caused "process_linux.go:332: running prestart hook 0 caused \"error running hook: exit status 1, stdout: , stderr: time=\\\"2017-11-02T14:56:57-04:00\\\" level=info msg

[2017-11-02 21:45] jamesongithub commented on #35370
Not using log-rotation. Happened for every occurence in our test builds. I haven't been able to replicate with CLI yet since we reverted everything back to 12.06.0. I remember `docker logs` worked, however it didn't occur to me to try to use tail at that time.

[2017-11-02 21:56] thaJeztah commented on #33656
@scott-wood-vgh would the above problem apply to your situation as well? (i.e. do you have `ds_agent` running?)

[2017-11-02 22:33] Boldie commented on #30551
I turned it on by enabling the feature spacemap_histogram=enabled on my pool, so creating a pool with all feature disabled should do the job:
[code]

Result:
[code]

[2017-11-02 22:42] dustin-decker commented on #30942
As mentioned in https://github.com/moby/moby/issues/32367#issuecomment-301908838 adding a `--detach=false` flag would provide this functionality and interactively show progress on what parts of the stack have been removed.

[2017-11-02 22:58] tonistiigi opened #35385 "Deadlock on getting swarm info"
The info path takes 2 readonly locks without releasing the first one. That creates a situation where another request can attempt to take a write lock (for example for `Cleanup()`) after the first readlock has been taken and causes a deadlock for taking the second one.

[code]

[2017-11-02 23:11] asottile opened #35387 "False positive "Empty continuation lines will become errors in a future release.""
I have read https://github.com/moby/moby/issues/29005 but I don't think this was implemented according to what was discussed there.

**Description**

I'm getting a false positive claiming "Empty continuation lines" however I have no lines which are empty and continued as far as I can tell.  I do have a comment inside a command which was previously dropped during parsing but now emits a warning.  D

[2017-11-02 23:13] asottile commented on #35387
- at worst, the error message should be corrected
- at best, I'd like this to be valid and accepted (comment lines are dropped at the parsing stage)

[2017-11-03 00:09] kmurudi commented on #30584
same issue faced.

[2017-11-03 00:31] hayes0724 opened #35390 "r-compose stop"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2017-11-03 00:32] #35390 closed

[2017-11-03 01:06] johnharris85 commented on #19990
The use case for this (for us at least) is wanting to be host independent. We can pre-create our named volumes (pointing to different mount points on each host if necessary) then use the same stack files with the named volume. We're using this as part of a workaround to btrfs issues (unable to mount a non-btrfs at /var/docker/volumes for ... reasons) so can create these volumes outside of /var/doc

[2017-11-03 01:23] hogepodge commented on #33974
Sorry for the late reply. Here's the Dockerfile, project, and branch that's causing the problems for me.

https://github.com/hogepodge/cross-cloud/blob/openstack/Dockerfile

It begins to fail when it hits the `COPY` statements starting around line 76. If I keep running docker it will add a new layer then crash with the same error. Eventually the build completes and the container works fine.

[2017-11-03 03:18] liozzazhang commented on #25929
@cemiarni works from my side thanks

[2017-11-03 03:34] vovimayhem commented on #29133
@ntwrkguru I just thought this new feature would help you... I'm so sad it doesn't.

[2017-11-03 03:39] isula-xufeng commented on #35337
thaJeztah,
Many thanks for your detail explaination!
I have a further question, could this problem happen in a single node? I mean could "docker swarm leave -f" lead to "context deadline exceeded" error if the cluster only have one manager node?

[2017-11-03 04:38] delissonjunio opened #35391 "Docker fails to build with --stream with a large context"
**Description**
Docker fails to build with --stream with a large context, it fails when context is a few hundred megabytes.

**Steps to reproduce the issue:**
1. `cd $(mktemp -d)`
2. `echo -e 'FROM scratch\nCOPY largefile /' >Dockerfile`
3. `dd if=/dev/zero of=largefile bs=1m count=1000`
3. `docker build .; echo 'stream: '; docker build --stream .`

**Describe the results you received:**
Sending b

[2017-11-03 04:39] delissonjunio commented on #35391
Ping @tonistiigi

[2017-11-03 04:41] delissonjunio commented on #35242
@tonistiigi Created a [new issue](https://github.com/moby/moby/issues/35391), it seems to work on 17.10 so I'm closing this one.

[2017-11-03 04:41] #35242 closed

[2017-11-03 06:35] daixiang0 opened #35392 "how to handle with defect docker process and start docker daemon"
I stop docker and find restart failed:
[code]
`dockerd --debug` is holding
[code]

[2017-11-03 07:30] zhaoyao91 commented on #27399
@sanimej Can we change the default address range of overlay networks of docker swarm?

[2017-11-03 07:44] mastef commented on #18010
Seem to be running into same issues on AWS Batch, which uses AWS ECR. Mostly thin pool + read-only errors.

For reference - since this is a top hit on Google for this issue and Amazon containers/services seem to be affected - cleaning up old images with lifecycle policies might help as well :
https://aws.amazon.com/blogs/compute/clean-up-your-container-images-with-amazon-ecr-lifecycle-policies/
ht

[2017-11-03 08:14] xiangfeiz opened #35393 "'docker logs --tail 0 <container ID>' outputs all the logs instead of no log"
**Description**

'docker logs --tail 0 <container ID>' outputs all the logs instead of no log

**Steps to reproduce the issue:**
1. start a container which generates logs
2. docker logs --tail 0 <container ID>
3. output all the logs instead of no log

**Describe the results you received:**
output all the logs

**Describe the results you expected:**
output no log

**Additional information you deem

[2017-11-03 09:02] vide commented on #35082
@mavenugo Ok, so, how do I set virtual server conntrack to 0 in Swarm mode? According to https://docs.docker.com/compose/compose-file/#not-supported-for-docker-stack-deploy sysctl tuning is not supported with `docker stack deploy` :(

[2017-11-03 09:09] #35385 closed

[2017-11-03 09:56] stephan2012 opened #35395 "Swarm worker cannot connect to master if proxy is configured"
**Description**

Beginning with Docker CE 17.09, a Swarm worker connects to its master through a configured proxy. Unfortunately this fails because Docker stores the master IP addresses instead of hostnames so the master doesn't match the values configured in `NO_PROXY`.

**Steps to reproduce the issue:**
1. Setup Docker as usual. Add a proxy configuration like this to `/etc/systemd/system/docker.

[2017-11-03 10:06] vide commented on #35082
This issue seems related, too

[2017-11-03 10:06] vide commented on #35082
This issue seems relate too: https://github.com/moby/moby/issues/31746

[2017-11-03 10:08] antoinetran commented on #22260
@fitz123 did you have to set the detach option in 7.4?

[2017-11-03 10:43] etamponi opened #35396 "Docker randomly takes several seconds to create container"
**Description**

We run docker 1.12.2 on a few machines on AWS. Each machine runs around 50-80 containers at a time, and we cycle containers every few minutes (so in an interval of 1 minute, it might happen that around 30-50 containers are started and 30-50 containers are stopped).

Some times, in an apparently random way, `docker create` takes an incredible amount of time to start... it's typical

[2017-11-03 10:44] segler-alex commented on #24103
i have another proposal: a combination of global mode with scaling applied.
this would mean, that in your docker-compose file you could do something like:

web:
   image: nginx
   deploy:
      replicas: 3
      mode: global

this would automatically ensure 3 running containers on each added host.
so the total number of containers will grow if the number of machines grows.
and it will decrease if

[2017-11-03 10:56] archenroot commented on #22260
@antoinetran Interesting.

Actually it will be good if there is some sanity check of the system where docker service is installed and maybe on startup report so kind of OK, WARNING, EXPECT_ISSUES :-))) types of messages

[2017-11-03 11:16] stephan2012 commented on #35395
Workaround: Add master IP address(es) to `NO_PROXY`

[2017-11-03 11:32] etamponi commented on #35396
Another stack trace, this time `/containers/create` took 56.94 seconds. The stack trace was taken after 2 seconds from the call to `/containers/create`.
[stack.txt](https://github.com/moby/moby/files/1440874/stack.txt)

[2017-11-03 11:41] logicethos commented on #20179
I know it's been discussed before, but having --net=[ ] seems the logical way to do this.  The first network in the list, becomes the default.

I just ran into this myself.  Rebooted my server, and when the container came back up, eth0 and eth1 flipped causing the service inside the container to fail.

[2017-11-03 11:54] #35041 closed

[2017-11-03 12:08] thaJeztah commented on #20179
@logicethos unfortunately, that won't resolve situations where you `docker network connect` or `docker network disconnect` networks.

Note that multiple `--net` / `--network` flags is not supported yet, but I opened a proposal to bring in the foundations for allowing this; see https://github.com/moby/moby/issues/31964, and the "related issues" section in that proposal.

The advanced syntax has bee

[2017-11-03 12:17] scott-wood-vgh commented on #33656
@thaJeztah Yes! I have not seen this problem in a while now, but now that you mention it, we were running ds_agent on these boxes before we moved to exclude them from Deep Security for other business reasons. I believe these events must be correlated.

[2017-11-03 12:26] thaJeztah commented on #35337
Yes, I think the situation is the same; the manager is a bit "schizophrenic" in that situation, because it still follow the same protocol, and requests a majority of the managers to make changes (in this case: itself).

It's not pretty, but I know people looked into this, and it's a difficult one to tackle, and while it would be nice to improve that, it wasn't seen as a "high priority" issue, give

[2017-11-03 12:37] n4ss opened #35397 "/dev should be mounted as "noexec""
`/dev` doesn't have the `noexec` mount option: https://github.com/moby/moby/blob/2613c3d53cee46d8e0dc8e1aba83686f259985e4/oci/defaults.go#L81

Being a _system_ `tmpfs` with `RW` rights, it'd be better to have no execution rights there.

[2017-11-03 13:17] AkihiroSuda commented on #35397
https://github.com/moby/moby/pull/29296

cc @justincormack

[2017-11-03 13:39] thaJeztah commented on #29133
This still works as an alternative;

[code]

[2017-11-03 13:42] wjans commented on #34867
I'm not sure the original issue is related to #33685 and #32195 (comment), the connection never becomes idle.  It also happens exactly every 2 hours.

[2017-11-03 13:44] cpuguy83 commented on #22260
@archenroot Docker sets fs.may_detach_mounts=1 on startup... I want to say starting with 17.10, but this may have been backported, I can't remember.

[2017-11-03 13:53] cpuguy83 commented on #19990
@johnharris85 How is this host independent? In any case, you can make a volume driver to mount a btrfs subvolume pretty easily or you can just use a bind-mount.

[2017-11-03 13:54] thaJeztah commented on #35387
Thanks for reporting; this issue was resolved through https://github.com/moby/moby/pull/35004, which is included in Docker 17.10 and up.

I'll close this issue because this was resolved, but feel free to continue the conversation 👍

[2017-11-03 13:54] #35387 closed

[2017-11-03 14:09] thaJeztah commented on #35395
Thanks for reporting; while adding nodes to `NO_PROXY` (ideally, using a domain-name instead of IP-addresses) is the "correct" approach, this was indeed a change in behaviour in docker 17.07 caused by changes in an upstream dependency (https://github.com/grpc/grpc-go/pull/1098).

A fix has been merged into swarmkit to revert the change in behaviour (https://github.com/docker/swarmkit/pull/2419), w

[2017-11-03 14:12] cpuguy83 commented on #35396
In both stack traces this appears to be stuck in a syscall to unmount an aufs mount from some other container.
Have you looked at other things on the system that could be slowing this down?

[2017-11-03 14:18] cpuguy83 commented on #35278
@jgoeres You can use the local driver to mount an NFS volume, but also there are many drivers out there that are designed around NFS and you can use these. The nice thing about this is you don't have to do anything to the host except make sure the nfs kernel module is loaded.

[2017-11-03 14:30] ntwrkguru commented on #29133
@thaJeztah , indeed it does. I have a task in my playbook to source an environments file, but that's missing the bigger point. This used to be possible with `compose` and is now not possible with `stack`. IMO, that's a regression. Also, in your example, you're still passing an environment variable into the container. I can do that with the `env_files` today; the issue is parsing the `env_file` dur

[2017-11-03 14:39] thaJeztah commented on #35396
Also be aware that docker 1.12 has reached end of life (if you cannot update to a newer release, I _do_ recommend updating to at least 1.12.6, because older versions have a critical vulnerability in RunC; docker 1.12.6 ships with an updated version of runc to address this https://github.com/moby/moby/releases/tag/v1.12.6)

[2017-11-03 14:44] thaJeztah commented on #22260
Yes, it was backported to 17.09 https://github.com/docker/docker-ce/pull/247

[2017-11-03 14:44] fitz123 commented on #22260
@antoinetran it still sucks with --live-restore, though error is different))

Sequence is:
1. `echo 1 | sudo tee /proc/sys/fs/may_detach_mounts`
2. `--live-restore`
3. restart docker daemon
4. docker stop, docker rm container
5. docker run container
6. got binding error :(

[code]

[2017-11-03 14:54] thaJeztah commented on #33656
Thanks for the update @scott-wood-vgh. With that information, this does not appear to be a bug in Docker/Moby, but caused by virus-scanning software interfering with docker. If you are running into this, I recommend opening a ticket with trend-micro.

I'm closing this issue because of the above, but feel free to discuss

[2017-11-03 14:54] #33656 closed

[2017-11-03 15:01] thomaspons commented on #32837
+1 for that.

Actually, we cannot get the health status of each container of a service.
We have to connect to each node and inspect related container to the service to retrieve its health status.

Do you have any other possibility ?
It could be really useful for supervision or failover management.

[2017-11-03 15:08] #32807 closed

[2017-11-03 15:32] yellowiscool commented on #35380
Sorry I don't have time to play a lot with iptables right now so I went back to docker 17.09.0. Using the external IP didn't help.

If I'm alone having this issue, I will spend some time maybe next week.

[2017-11-03 15:43] dimuskin opened #35400 "cache public layers from private registry"
Hei,

I have docker configured with registry mirror:

[code]

no problem when I try to pull from public repository, docker download each layer from cache server.
But when I try pull image from private registry which contains layers from public hub, it will never connects to cache.

Referring to the documentation: https://docs.docker.com/registry/recipes/mirror/
`
Gotcha
It’s currently not possible

[2017-11-03 15:59] JamieGarside opened #35401 "Bridge FDB rules are not purged from overlay network namespaces leading to network instability"
**Description**
We've noticed connection instability when re-using IP addresses on Docker overlay networks in Docker 17.10.0-ce. On closer inspection, this appears to be because Docker is not correctly removing entries from the bridge fowarding DB for the overlay network when containers are shut down. When containers come back up again, using the same IPs, Docker then cannot replace these FDB rule

[2017-11-03 16:01] Xophe commented on #27381
@MonsieurWave as incredible as it looks, the "ls" trick worked perfectly for me when everything else did not !

[2017-11-03 16:22] bmitchboxboat commented on #27381
The `docker rm -f [container]` will report a failure but eventually cleanup the container and filesystem. The `ls` command is a red herring, all you really need is to wait a few seconds. But better than that is to use `MountFlags=slave`. And best is to switch off of devicemapper and use overlay2 instead.

[2017-11-03 16:43] mavenugo commented on #35082
@vide idk about the `docker stack deploy` support. But can you pls confirm if the suggested workaround works in a non-stack deploy case ?

[2017-11-03 16:50] jerdfelt opened #35403 "COPY does not detect contents change when building from some .tar files"
**Description**

When building an image using a .tar file, absolute paths in the .tar file will cause COPY to miss changes to the contet of files. This results in builds with differing content to have the same digest.

**Steps to reproduce the issue:**
1. docker build http://sventech.com/def1-problem.tar
2. docker build http://sventech.com/def2-problem.tar

**Describe the results you received:**
[

[2017-11-03 17:18] caengcjd commented on #29080
Wow,you must be a geek!owesome idea,I need it too much!!

[2017-11-03 17:27] etamponi commented on #35396
I am now updating docker on all instances to 17.09, and using the overlay2 driver instead of aufs. If I understood correctly, this is the suggested configuration/version so far.

[2017-11-03 17:39] etamponi commented on #35396
@cpuguy83 I looked at every possible thing: load averages, disk io, cpu usage, network usage... it's completely random. It makes much sense that it is connected with a problem with unmounting an aufs layer though, so I am hoping using overlay2 and an updated docker version will improve things.

[2017-11-03 18:01] tonistiigi commented on #33974
@hogepodge I tried building that file but it has some app specific error before the line you mentioned. I also don't see any multi-stage in that file.
[code]

[2017-11-03 20:00] ilinum commented on #28617
I am interested in working on this. Would anyone have any pointers on where to start and how long it would take?

@ssdong did you ever implement this? If you are still interested then you should do it!

[2017-11-03 20:06] imriss commented on #32957
I am getting the same error (`"local" instead of "swarm"`) on `Ubuntu 16.04` (using `Vagrant` with `Virtualbox` backend on `Windows 10`). Any advise?

[2017-11-03 20:22] nsaud01 commented on #19803
+1000

[2017-11-03 20:22] colindownsrazouk commented on #35323
@fntlnz I get that error as well, but it also deletes the contents of /tmp/importantdata.  Does it not delete the contents of /tmp/importantdata for you?

[2017-11-03 22:09] thaJeztah commented on #28617
I'd like to see input from @tonistiigi and @AkihiroSuda first; there's a lot of work being done in BuildKit at this moment (https://github.com/moby/buildkit); also, other than "convenience", interested to hear a bit more about the use-cases for this feature.

[2017-11-03 22:12] osman-masood commented on #32195
I'm experiencing the same problems on Ubuntu 16 (Linux kernel 4.4.0), Docker 17.06. Swarm has caused me so many problems up till now. I need to run 100+ containers across several EC2 instances, and it's just taken so much time to get a working setup. (Actually after much work, the setup was working fine, but now that I'm trying to make this more cost-effective by using spot instances, am running i

[2017-11-03 22:14] osman-masood commented on #35239
I'm having the same issue with Docker Swarm on EC2. Docker version 17.06.2-ce. Put my comment in #32195 , but I'm getting extremely fed up with Docker Swarm.

[2017-11-03 22:17] vieux commented on #35310
@pradipd we will release 17.11 very soon and 17.10 was only a edge release, so I think fixing it in 17.11 is enough ? do you have a timeline for the fix ? (RC3 is tentatively scheduled for monday)

[2017-11-03 23:02] djmaze commented on #29133
@ntwrkguru The simple workaround is changing not the filename, but the name of the config itself. I employed a version scheme for my config names, e.g. `config_v1`, `config_v2`, ..

So just remember to up that version after changing the config file.
[code]

I understand [the reasoning](https://github.com/moby/moby/issues/35048#issuecomment-334306784) behind not having a versioned configs & secrets

[2017-11-03 23:06] ntwrkguru commented on #35048
I'm not sure why we need to track the versioning of those items (apart from whatever the 'current' one is). These should be ephemeral from Docker's perspective, right?

[2017-11-03 23:09] ntwrkguru commented on #29133
Thanks @djmaze, but that's ultimately a ridiculous thing to need to do when there's inherent version tracking built in to every source control system. Also, thanks for the link; I commented there as well. I don't see why Docker cares about the version other than the one that's current. The only reason I could see for needed to version these is for rollback, but tons of things need to be tracked th

[2017-11-04 00:04] george-freebirdrides opened #35406 "Service update intermittently fails with error 137, stuck on task 0 of n"
So we intermittently get these sorts of errors out of our CICD jobs in Circle where a simple rerun of the deployment will succeed, with no changes to the cluster, machines, etc.

[code]

When looking at the tasks in the service, we'll see failures with non-zero exit (137), but no additional information. I've seen 137 referenced as a potential OOM termination, but we're sized for the necessary memo

[2017-11-04 00:07] #35391 closed

[2017-11-04 00:31] thaJeztah opened #35407 "Docker Exec does not resize terminal"
I noticed this on both `master` (and docker 17.11-rc2, both on Ubuntu and Docker for Mac);

[code]

When running `docker exec`, the terminal doesn't resize:

[code]

Checking the size with `stty size` _does_ show the correct dimensions:

[code]

This only happens on `docker exec`; doing `docker run -it` works correct:

[code]

(and shows the same output for `stty size`):

[code]

Checking the daem

[2017-11-04 00:55] thaJeztah commented on #35407
I'm not consistently getting this; investigating a bit more, and checking if the resize is actually called;

[code]

[2017-11-04 01:37] thaJeztah commented on #35048
Let me try explaining why I think versioning _is_ important;

[code]

At this point:

- `myservice` uses the old version of the config
- `myservice2` uses the new version of the config
- if a task fails / is re-deployed, that task will use the new config, and
- if the config has an error, new tasks for `myservice` will fail

Similar to the above:

[code]

Will update the service to use the new con

[2017-11-04 01:43] thaJeztah commented on #35406
Exit code 137, is basically `kill -9` (128 + 9 = 137). This can either be if the process was killed by the kernel, due to an OOM, but also if docker attempted to stop the container (`SIGTERM`), but the container didn't stop within 10 seconds, after which the container is killed forcibly (`SIGKILL`)

Please keep in mind that the GitHub issue tracker is not intended as a general support forum,
but f

[2017-11-04 01:43] #35406 closed

[2017-11-04 01:48] thaJeztah commented on #35403
ping @tonistiigi

[2017-11-04 01:59] ntwrkguru commented on #35048
Ok. Makes sense. But don’t the get a hash currently? I’d the issue then that we don’t correlate the hash with the services using them?

[2017-11-04 02:14] thaJeztah commented on #35400
Yes, I think this is the expected behaviour; `docker pull` will attempt to pull an _image_ from the mirror; if the image is not found, it will continue with the next registry, and pull from there.

Note that there's an active conversation to implement private registry mirrors; https://github.com/moby/moby/pull/34319

Please keep in mind that the GitHub issue tracker is not intended as a general su

[2017-11-04 02:14] #35400 closed

[2017-11-04 02:17] thaJeztah commented on #35048
There's no hash stored/exposed; initially a hash was exposed, but during review this was removed out of security concerns.

[2017-11-04 02:24] thaJeztah commented on #35401
ping @fcrisciani

[2017-11-04 02:28] thaJeztah commented on #35407
So, the metrics are not enabled by default. From discussion on slack;

in ` /var/run/docker/containerd/containerd.toml`;

Add:

[code]

(the code assume it'll be tcp socket)

After updating the config, kill containerd to have it restart and reread the config. Do _not_ restart docker, as it will override the changes.

[2017-11-04 03:40] george-freebirdrides commented on #35406
I believe you are incorrect - the 137 being a signal for kill -9 or OOM I'm already aware of. What is different is that these are subsequent calls with no changes to the cluster, the nodes or the available resources, which result in random success or failure, or just hang for significant periods of time on 0 of n # tasks. I am not asking for support - I am reporting a bug.

[2017-11-04 06:11] esabol commented on #27381
We've been using Docker on CentOS 7.x (currently at 7.4) for over a year now. When we first installed Docker, everything and everyone said you had to use devicemapper with direct-lvm for the best performance and stability. https://docs.docker.com/engine/userguide/storagedriver/device-mapper-driver/ still says you have to use devicemapper on CentOS with Docker EE. Fortunately, we use Docker CE, so

[2017-11-04 10:01] thaJeztah commented on #35380
Let me close for now, but if you have more information available, feel free to comment

[2017-11-04 10:01] #35380 closed

[2017-11-04 11:48] BSWANG commented on #35082
`--sysctl net.ipv4.vs.conntrack=0` can not use at ingress routing mesh on `ingress_sbox`.  As the `ipvs` will do `SNAT`  after forwarding.