[2015-08-08 00:45] #15419 closed

[2015-08-08 00:50] cpuguy83 commented on #15418
Yeah I think this should be id[:12] when not using --no-trunc... Since 12 is enough to get the image.

[2015-08-08 03:16] gmanfunky commented on #13741
This is due to [msys-git](https://github.com/msysgit/msysgit) trying to be smart and fixing up windows path and linux paths with all sorts of voodoo before passing them as process parameters.

Using a double forward-slash bypasses much of this voodoo.

It is a pretty aggravating problem to me too. I have to fixup various things to attempt docker development on windows.

For example, in bash on win

[2015-08-08 03:33] gmanfunky commented on #13741
The rules: http://www.mingw.org/wiki/Posix_path_conversion

[2015-08-08 05:08] bronzdoc commented on #15410
@weranga-k check the <code>-t</code> <code>-i</code> flags that you can pass to <code>docker run </code> to interact with your container.
i.e <code> docker run -it ubuntu/image /bin/bash </code>

https://training.docker.com/

[2015-08-08 06:48] cadejscroggins commented on #3519
+1

[2015-08-08 08:20] BenHall opened #15425 "https://test.docker.com/ exits with Exit Code 2"
The test script runs a function called check_forked.

This checks to see the OS version. On my 14.04 and 15.04 this results in the script exiting with an error code 2 and no output. This is the same output as when running form cmd (see below).

Shouldn't this be run as a subshell command so that it doesn't terminate the main shell when it fails?

[code]

If I remove this then the script runs as ex

[2015-08-08 08:20] GordonTheTurtle commented on #15425
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-08 10:03] BenHall commented on #15425
It looks like the `set -e` at the top causes any non-zero command to stop the entire process

[2015-08-08 10:40] thaJeztah commented on #15425
Thanks for reporting @BenHall

ping @fmoliveira @jfrazelle @tianon hmf

[2015-08-08 11:21] thaJeztah commented on #15101
ping @calavera in case this needs additional research before the release

[2015-08-08 11:48] #15418 closed

[2015-08-08 12:22] BenHall commented on #15101
Just as an update on this. I sent a number of hours investigating, looking in the docker code but couldn't see anything. This was happening on 15.04, potentially a systemd issue.

1) Changing docker directories didn't resolve issue.
2) Rolling back to 1.6.2 didn't resolve issue.
3) If I launched the daemon from the command line it would be fine. Even when pointed to existing data directory.
4) I c

[2015-08-08 12:25] fmoliveira commented on #15425
Thanks for reporting @BenHall @thaJeztah

I'll check it!

[2015-08-08 12:26] fmoliveira commented on #15425
Thanks for reporting @BenHall @thaJeztah !

I'll check @BenHall fix in the referenced pull request.

[2015-08-08 14:23] vbatts commented on #10294
The changes are in upstream kernel. The exact version it will be in the
Rhel kernel, I'm not certain. It is backported and is being tested now. The
trickle down to centos will follow.
On Aug 6, 2015 04:26, "LordFPL" <notifications@github.com> wrote:

[2015-08-08 16:11] jgkamat commented on #15101
Ah, I was testing this on 14.04, so this could be a systemd issue (now?).
I'll keep trying to reproduce it and see if I can get any more information.

For me, This issue wasn't present on 1.7.1, and was an issue on 1.8 experimental before rc1.
I noticed symptom (3) as well.
I tried (5) with many commands, and I couldn't find any commands which worked. Not sure if I tried enough though.

As of now,

[2015-08-08 16:19] BenHall commented on #15101
Just tried on a clean digital ocean droplet and the above command worked with RC3 and the container could be deleted...

[2015-08-08 19:21] vanga commented on #10066
@cpuguy83 which version of the docker will have this feature?
Thanks.

[2015-08-08 19:43] vvkuznetsov commented on #12108
@shubham-sakhuja-mt yes, after installing *device-mapper-event* I have no problems.

P.S. It was not a fresh installation. I uninstall docker 1.6.(2?) and then installed 1.7.1.

[2015-08-08 19:44] cpuguy83 commented on #10066
@vanga: it's in the experimental branch since 1.7 was released.

[2015-08-08 19:51] #14650 closed

[2015-08-08 19:56] #14734 closed

[2015-08-08 23:25] envygeeks opened #15429 "Docker does not expand variables in Docker file with quotes."
[code]

Fails... however, removing the quotes makes it succeed. Error output:

[code]

Docker info

[code]

[2015-08-08 23:25] GordonTheTurtle commented on #15429
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-09 00:06] duglin commented on #15429
What version of Docker are you using?  It appears to work for me using the latest.

[2015-08-09 00:08] envygeeks commented on #15429
@duglin

[code]

[2015-08-09 01:06] xueshanf commented on #11486
+1

[2015-08-09 01:49] Jaykah commented on #11185
So, despite the new --userland-proxy=false flag, it is still not production-feasible to use big port ranges due to the fact that we are not block allocating those ports.

Allocating ports individually means that:

1) We need to deal with open file descriptors, since each rule (for each port) will require one of those
2) The startup of such container will take quite a while (around 10 minutes for 1

[2015-08-09 02:03] mattgiles opened #15432 "enhancement request: allow substitution of ultimate image id for image tag to better enable pinning image versions"
I have on a couple of occasions been caught off guard by unexpected upstream changes to official docker images. For instance, as a result of [this PR](https://github.com/docker-library/postgres/pull/75). And it can be frustrating when production or build systems run into trouble using Dockerfiles that are under source control, that haven't changed in months, and that, moreover, derive from officia

[2015-08-09 02:04] GordonTheTurtle commented on #15432
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-09 02:16] thaJeztah commented on #15391
@cpuguy83 now that there's a lot of work in progress for the new networking / services, perhaps we *should* mark the link environment variables deprecated (and to be removed in version x.x)

There's been so much talk about most of them being useless (especially the "port" ones); giving a notice *now* that they will be removed in future won't hurt? wdyt?

[2015-08-09 02:22] thaJeztah commented on #15432
This is actually possible by referencing an image by "digest", for reference, see https://github.com/docker/docker/blob/master/docs/reference/builder.md#from and https://github.com/docker/docker/blob/7201127cfb2517f0c0be8f72355407e577882779/docs/reference/commandline/images.md#listing-image-digests

[2015-08-09 02:31] mattgiles commented on #15432
tremendous. thanks very kindly @thaJeztah.

[2015-08-09 02:31] #15432 closed

[2015-08-09 03:09] mavenugo commented on #15391
@thaJeztah @McAlister agreed. With the upcoming networking and services features, it replaces the link functionality without these issues. Issuing a deprecation notice now is a good idea.

@McAlister you can try out these features which is currently under experimental (https://github.com/docker/docker/blob/master/experimental/networking.md). Also please provide any comments : https://github.com/do

[2015-08-09 05:59] ibuildthecloud opened #15433 "1.8.0-rc3: System error: mkdir /sys/fs/docker: operation not permitted"
I can't get Docker 1.8.0-rc3 (no 1.8.x has worked) to work in RancherOS where Docker 1.7.1 works fine.  There's probably some odd ball thing different about the environment of RancherOS that seems to mess things up.  The system-docker, running as PID 1 works just fine.  It is the user docker that runs in a Docker-in-Docker context that fails.  I just get the following error whenever I try to start

[2015-08-09 05:59] GordonTheTurtle commented on #15433
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-09 06:06] ibuildthecloud commented on #15433
@GordonTheTurtle I shall counter your #ENEEDMOREINFO with my #EYOURRULESDONTAPPLYTOME

[2015-08-09 07:01] siripuramrk commented on #12469
+1

[2015-08-09 07:05] liubin commented on #12972
The same?

[code]

Docker 1.7.1 and Registry V2

[2015-08-09 08:03] nomeata commented on #12328
BTW, after a restart, I can `docker rm` and the directories disappear as usual.

[2015-08-09 08:41] agrawalapoorv opened #15434 "Build Image is giving openSSL Error"
ci-builder-3 (out): Build Image error  { [Error: write EPROTO 140735226995456:error:14094412:SSL routines:SSL3_READ_BYTES:sslv3 alert bad certificate:../deps/openssl/openssl/ssl/s3_pkt.c:1300:SSL alert number 42
ci-builder-3 (out): ] code: 'EPROTO', errno: 'EPROTO', syscall: 'write' }
ci-builder-3 (out): { [Error: write EPROTO 140735226995456:error:14094412:SSL routines:SSL3_READ_BYTES:sslv3 alert

[2015-08-09 08:41] GordonTheTurtle commented on #15434
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-09 09:49] thaJeztah commented on #15432
You're welcome! If you think it needs a better mention in the documentation, or it's missing in some part of the documentation, please let us know as well (we always welcome feedback :-))

[2015-08-09 10:28] thaJeztah commented on #15434
@agrawalapoorv I'm sorry, but your description does not have enough information for us to know what steps you took to run into this problem.

If this is an error that occurs during *building* an image (what I suspect, based on the title), this is probably because your image doesn't have the required certificates installed inside the image. For some hints, see http://serverfault.com/questions/61605

[2015-08-09 10:28] #15434 closed

[2015-08-09 10:40] thaJeztah commented on #15433
@ibuildthecloud :smile: feel free [to do so](https://github.com/docker/leeroy/blob/d5ee4f3bf05276a9891b1eca949a5889b66aec19/github/issue.go#L10)

[2015-08-09 10:43] thaJeztah commented on #15433
ping @calavera as release captain (I added it to the milestone so it doesn't get out of sight)

(but, knowing Darren, I don't think getting out of sight will be a problem :wink:)

[2015-08-09 11:01] thaJeztah commented on #12469
ping @ahmetalpbalkan do you know if there's any progress here in finding a hack/workaround?

[2015-08-09 12:23] thaJeztah commented on #15254
ping @aboch could you have another look here?

[2015-08-09 12:34] thaJeztah commented on #15406
/cc @thockin @abronan :-)

[2015-08-09 13:23] thaJeztah commented on #15155
Thanks for reporting @schrepfler. This should be resolved by https://github.com/docker/docker/pull/15103 (thanks @Djelibeybi), could you test if this is working for you now?

I'm going to close this issue, but feel free to comment if it's not resolved :+1:

[2015-08-09 13:23] #15155 closed

[2015-08-09 14:50] onorua commented on #15048
Sorry for the late reply, was on vacation.
Do you mean that registry for some reason doesn't go with relative path as stated in [RFC7231] (https://tools.ietf.org/html/rfc7231#section-7.1.2) but use full URI with port? Why would you do it that way?

[2015-08-09 14:58] thaJeztah commented on #15171
Thanks for reporting @andrewrothstein. This should be resolved by https://github.com/docker/docker/pull/15103 (thanks @Djelibeybi), could you test if this is working for you now?

I'm going to close this issue, but feel free to comment if it's not resolved :+1:

[2015-08-09 14:58] #15171 closed

[2015-08-09 15:26] andrerom commented on #13331
@coderfi This is for `docker run`, support for pull already exists for `docker build` which is what you are looking for as you refer to ´FROM´ lines in DockerFile.

The need to also add this to docker run is most clear for tools like Docker compose being able to very simple being able to add such features for `docker-compose up` which would be huge, and is much needed.

[2015-08-09 15:51] andrewrothstein commented on #15171
It worked for me thanks!

[2015-08-09 15:57] thaJeztah commented on #15171
Thanks for confirming, @andrewrothstein, much appreciated!

[2015-08-09 16:39] thaJeztah commented on #15406
oh, shucks, wrong ping, meant to include @aboch for libnetwork (sorry @abronan .. blame it on autocomplete :-))

[2015-08-09 17:28] calavera commented on #15433
Hey @ibuildthecloud, I have a "random" question for you, does RancherOS use apparmor?

[2015-08-09 17:31] calavera commented on #15433
Because if it does, and you installed one of the previous prereleases, you might have a broken profile installed that you should remove. :pensive:

[2015-08-09 17:48] lucacri commented on #5618
I just had this problem too. Ubuntu 3.13.0-57-generic, provisioned via tutum. Unfortunately it fills up the kern.log and syslog and crashes the machine. It happens on the database machine (dockerized postgres), so it brings down the whole system...

[2015-08-09 18:52] #15349 closed

[2015-08-09 19:11] thaJeztah commented on #15151
@falschparker82 have you been able to test of this is resolved with 1.7.1? Thanks!

[2015-08-09 19:22] thaJeztah commented on #12823
@jlhawn is this in some way related to https://github.com/docker/docker/pull/15353?

[2015-08-09 19:31] thaJeztah commented on #15280
Thanks for creating this proposal @ajeetraina, however, issues and feature requests regarding Docker Hub are not handled in this repository (it's managed by a different team). Usually, you'll have to report those via https://support.docker.com, however, because Docker Hub has just gotten a makeover, you could try opening a feature request in this repo; https://github.com/docker/hub-beta-feedback

[2015-08-09 19:31] #15280 closed

[2015-08-09 20:04] thaJeztah commented on #10031
Thanks @diocles!  I'll close this issue (but feel free to comment if you thin I closed this by mistake)

[2015-08-09 20:04] #10031 closed

[2015-08-09 20:17] thaJeztah commented on #15150
Thanks for reporting this; this was actually already fixed, and will be published with the next release; https://github.com/docker/docs-base/commit/c2e00b96b6caddd004df29bafd3df27e6f1351e4#diff-8ab16b2cae0b26a574b75e8e5c19e378

I'm going to close this, but feel free to come there after closing. Thanks again!

[2015-08-09 20:17] #15150 closed

[2015-08-09 20:32] thaJeztah commented on #13451
@aidanhs the main reason for recommending AUFS is that at this moment it's the most stable solution out of the box (compare the number of issues labels devicemapper with aufs). Devicemapper certainly can be a good driver, but requires manual configuration to be useful in production (the default setting certainly are not recommended for that)

In the long term, we hope to make overlay the default d

[2015-08-09 20:36] thaJeztah commented on #15152
@sachingharge could you provide the information @cpuguy83 requested? I'm going to close this issue for now, but will re-open once we have some more information

[2015-08-09 20:36] #15152 closed

[2015-08-09 20:40] thaJeztah commented on #14098
ping @rafabene @mpchlets could you try if you are still able to reproduce this on the current release candidate? You can find 1.8.0-rc3 here; https://github.com/docker/docker/releases/tag/v1.8.0-rc3 thanks!

[2015-08-09 20:51] thaJeztah commented on #14908
@mavenugo @awh not really read into this, but is this also resolved by https://github.com/docker/docker/pull/15185 ?

[2015-08-09 21:02] thaJeztah commented on #11394
1.8.0-rc3 is out and (hopefully) the final RC for the release. Details can be found here; https://github.com/docker/docker/releases/tag/v1.8.0-rc3

[2015-08-09 21:55] thaJeztah commented on #14845
@mountkin should this be closed now that https://github.com/docker/docker/pull/14600 was merged? And did the patch make it into the 1.8-rc?

[2015-08-09 22:03] thaJeztah commented on #14876
@cpuguy83 what's the status here; is there a way to handle this and output a better error message?

[2015-08-09 22:06] thaJeztah commented on #12805
@Pratap6 I'm going to close this issue, because we need more information, but comment here with additional information, and I'll reopen. Thanks!

[2015-08-09 22:06] #12805 closed

[2015-08-09 22:11] thaJeztah commented on #14647
@cj1324 could you test if you are still able to reproduce this on the current release candidate?  1.8.0-rc3 can be found here; https://github.com/docker/docker/releases/tag/v1.8.0-rc3

[2015-08-09 22:20] #13820 closed

[2015-08-09 22:23] thaJeztah commented on #11927
@kdvolder I'm closing this issue for now, but feel free to comment here if you're still able to reproduce this, then I'll reopen

[2015-08-09 22:23] #11927 closed

[2015-08-09 22:27] thaJeztah commented on #13381
ping @aboch

[2015-08-09 22:36] thaJeztah commented on #14511
@ronaldpetty @dgeske this page has been rewritten to use docker machine (boot2docker cli is marked deprecated); https://github.com/docker/docker/blob/master/docs/installation/mac.md

Could you check if the new version improved this issue?

[2015-08-09 22:44] thaJeztah commented on #14718
ping @mrjana @mavenugo is this a libnetwork issue?  And something being worked on?

[2015-08-09 22:48] thaJeztah commented on #14795
@kblin would you be interested in contributing and creating a PR to improve the docs? The markdown file used to generate that page can be found here; https://github.com/docker/docker/blob/master/docs/reference/run.md

[2015-08-09 22:53] thaJeztah commented on #11279
Together with the 1.8 release, we will also be releasing "Docker Toolbox" for Windows and OS X. Docker Toolbox is an installer that will install these tools; for reference, see the installation docs; https://github.com/docker/docker/blob/master/docs/installation/mac.md and https://github.com/docker/docker/blob/master/docs/installation/windows.md

The docker toolbox repository can be found here; ht

[2015-08-09 23:46] #15398 closed

[2015-08-09 23:54] kolyshkin opened #15435 "1.7.1 race in console_linux"
I was running Docker 1.7.1 compiled with -race and got this under a moderate load (while building Docker):
[code]

[2015-08-09 23:54] GordonTheTurtle commented on #15435
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-10 00:10] ibuildthecloud commented on #15433
@calavera No apparmor.  "Coming Soon"

[2015-08-10 00:22] kolyshkin commented on #15435
[root@tpad-rh7 docker]# bundles/1.7.1/binary/docker-1.7.1 version
Client version: 1.7.1
Client API version: 1.19
Go version (client): go1.4.2
Git commit (client): 940ef7f-dirty
OS/Arch (client): linux/amd64
Server version: 1.7.1
Server API version: 1.19
Go version (server): go1.4.2
Git commit (server): 940ef7f-dirty
OS/Arch (server): linux/amd64
[root@tpad-rh7 docker]# bundles/1.7.1/binary/docker-

[2015-08-10 01:01] LK4D4 commented on #15435
@kolyshkin Yup :/ We tried to fix it couple of time, but without success. Recently I learned that it's sort of unfixable in current design. Here is reference from golang repo: golang/go#10001

[2015-08-10 01:22] mavenugo commented on #14718
@thaJeztah @anandkumarpatel libnetwork didnt get integrated with docker till 1.7.0. Since this issue is seen in 1.6.2, it is certainly not related to libnetwork. Having said that, we had also seen a few veth leak cases in 1.7.x releases and we have resolved a few in 1.8.0 RC images. Please give it a try and give feedback.

[2015-08-10 02:06] sankethkatta commented on #6396
:+1:

[2015-08-10 02:08] wwhurley opened #15436 "Error when building master"
When attempting to build master I received the following error:

[code]

[2015-08-10 02:08] GordonTheTurtle commented on #15436
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-10 02:09] aboch commented on #15406
@thaJeztah @asridharan From a rough look at the code, this does not seem to have to do with libnetwork, or docker.

It looks it is internal to kubernetes code: Error is thrown by kubernetes/cmd/kube-proxy/app/server.go code when trying to create the proxier [here](https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/proxy/userspace/proxier.go#L136), tracing it to [here](https://github

[2015-08-10 02:11] #15436 closed

[2015-08-10 02:45] mountkin commented on #14845
@thaJeztah #14600 has nothing to do with this issue. Did you mean #14899 ?
#14899 fixed a panic that was caused by resizing a starting exec, which is shown in the backtrace of this issue, but it isn't in 1.8-rc.

In this issue  `docker stop`, `docker kill` all returned EOF, this might be related to #14199

[2015-08-10 02:56] asridharan commented on #15406
The error with setting up the iptables does look like an kubernetes issue. But what about the cgroup mount error: "Failed to start in resource-only container "/kube-proxy": mountpoint for cgroup not found"

They are not bailing out of the proxer code when they encounter this error, so maybe its not that critical to the creation of kube-proxy? The relevant code piece is [here(https://github.com/Goo

[2015-08-10 03:34] aboch commented on #15406
@asridharan That one comes from libcontainer, pinging @LK4D4 for libcontainer.

[2015-08-10 05:19] LK4D4 commented on #15406
@asridharan If you found those errors by docker logs, then both of them from kubernetes. I see that it tries to setup Oom, so it should have some cgroups mounted *inside* container. Latest docker able to mount cgroups inside container, I'm not sure what cgroups tree expected by kube-proxy, though. Maybe @thockin knows.

[2015-08-10 05:28] mountkin opened #15438 "Why there is a "kill" event when I run "docker stop xxx" or "docker restart xxx"?"
When I run "docker stop xxx" with the binary built from the master or 1.8.0-rcx, I see these event sequences:

[code]

Before #13443 there are only 2 events ("die", "stop") emitted when running "docker stop xxx".

@duglin Is this behavior by design or it's a regression?

[2015-08-10 05:28] GordonTheTurtle commented on #15438
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-10 05:40] asridharan commented on #15406
Looks like all the errors are contained within the kubernetes code-base. I will move this issue to kubernetes in that case.

[2015-08-10 05:48] #15406 closed

[2015-08-10 05:48] thaJeztah commented on #15406
thanks all! closing this one, and hope you find a solution :-)

[2015-08-10 06:04] thaJeztah commented on #14845
@mountkin umf looks like I went through too many issues yesterday and had the wrong one on my clipboard. Yes, I meant that one 😙

[2015-08-10 06:09] duglin commented on #15438
This was intentional.  The idea behind it is that for each action that the daemon takes against a container should be logged so that an admin can see what's being done. For example, the above events make it clear that the container didn't just "die" on its own, but rather because the daemon sent it a signal.

[2015-08-10 06:10] thaJeztah commented on #14718
umf late night, sorry, @mavenugo

[2015-08-10 06:23] mountkin commented on #15438
Thanks @duglin
If it's intentional I'll close this issue.

[2015-08-10 06:23] #15438 closed

[2015-08-10 06:49] Pensu commented on #15429
@envygeeks I am using Docker 1.7.1 with aufs and it's working for me.

[2015-08-10 06:49] yuan78 opened #15439 "Docker DNS issue when build docker image"
Hi,
I encountered DNS issue when I run make dockerfile to build docker image, details as follow
When run " curl sSL  https://storage.googleapis.com/golang/go1.4.2.linux-amd64.tar.gz "
It show error : could not resolv the host.
But I already set "DOCKER_OPTS="--dns 8.8.8.8 --dns 8.8.4.4" in /etc/default/docker.
And my host machine (ubuntu 14.10) was also set nameserver 8.8.8.8& nameserver 8.8.4.4 i

[2015-08-10 06:49] GordonTheTurtle commented on #15439
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-10 07:11] thaJeztah commented on #15429
Unable to reproduce with this dockerfile;

[code]

Both `/var/repo/` and `/home/builder/` were succesfully created

[2015-08-10 08:17] summershrimp opened #15440 "typo: A spell mistake"
https://github.com/docker/docker/blob/master/daemon/execdriver/termconsole.go#L43
[code]

[2015-08-10 08:17] GordonTheTurtle commented on #15440
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-10 08:57] kgrvamsi opened #15442 "Docker Pull throws Could not reach any registry endpoint error"
BUG REPORT INFORMATION
--

Hello,

i was been trying to fetch some of the base images from the registry and its throwing a error saying the registry endpoint is not reachable .

Docker Version

    vagrant@vagrant-ubuntu-trusty-64:~$ sudo docker version
    Client version: 1.7.1
    Client API version: 1.19
    Go version (client): go1.4.2
    Git commit (client): 786b29d
    OS/Arch (client): lin

[2015-08-10 09:02] GordonTheTurtle commented on #15442
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-10 09:17] vany-egorov commented on #15442
**docker version**:
[code]

**docker info**:
[code]

**uname -a**:
[code]

**error**
[code]

[2015-08-10 09:18] kyndtp commented on #15442
I think I am having related issues when attempting to push and pull to or from a private repo, and am getting timeout or 500 errors:
[code]
**Docker version**
1.7.1, build 786b29d

**Docker info**
Containers: 0
Images: 475
Storage Driver: aufs
 Root Dir: /mnt/sda1/var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 475
 Dirperm1 Supported: true
Execution Driver: native-0.2
Logging Driver: json-f

[2015-08-10 09:27] SamVerschueren commented on #13337
I am receiving the i/o timeout on AWS.

[code]

[code]

[2015-08-10 09:32] rwatts3 commented on #15442
I'm receiving the same issues as well connection returns timeout. Although I can search and view the images just fine.

[2015-08-10 09:37] eliecharra commented on #15442
https://status.docker.com/

[2015-08-10 09:39] xkidro commented on #15442
+1

[2015-08-10 09:39] letusfly85 commented on #15442
+1

[2015-08-10 09:39] albertinisg commented on #15442
+1

[2015-08-10 09:43] balmukund1 commented on #15442
+1

[2015-08-10 09:45] arnklint commented on #15442
+1

[2015-08-10 09:46] rakesh-james commented on #6999
Is this Fixed ? Still need to work round? Any one please update...

[2015-08-10 09:50] wildsurfer commented on #15442
+1

[2015-08-10 09:51] shizonic commented on #15442
+1

[2015-08-10 09:52] vilsbole commented on #15442
+1

[2015-08-10 09:58] genggjh commented on #15442
+1

Get https://registry-1.docker.io/v1/repositories/library/debian/tags: read tcp 54.208.130.47:443: i/o timeout

[2015-08-10 09:59] vdemeester commented on #15442
@kgrvamsi and all others : This is a *service* issue, not related to the docker engine project (it does its work and when the service is down). At the time of my comment, even Github has some degraded response time (https://status.github.com/)

We're continuing to monitor a known issue with an upstream provider.
10:45 CEST
We've identified an issue with a provider and are continuing to monitor the

[2015-08-10 10:05] eternaltyro commented on #15442
Yes. Amazon is experiencing problems: http://status.aws.amazon.com/

[2015-08-10 10:08] rwatts3 commented on #15442
Good call.  Figured it had something to do with Amazon.  I tried to
download the latest version of kitematic and Amazon kept failing half way
through.

On Monday, August 10, 2015, eternaltyro <notifications@github.com> wrote:

--
Ryan Watts
E.ryandwatts@gmail.com
C.520-442-8962
F.520-437-0914
IN. https://www.linkedin.com/in/ryandwatts

[2015-08-10 10:11] albers commented on #15442
As a side effect, building the development environment fails:

    Step 39 : RUN ./contrib/download-frozen-image.sh
    [...]
    curl: (52) Empty reply from server

[2015-08-10 10:13] archielc commented on #15442
We are experiencing the same problem from Rackspace machines.

[2015-08-10 10:16] unclejack commented on #15442
This has nothing to do with Docker itself, it's a problem with the Docker Hub. As has been stated above, the right thing to do is reach out to support@docker.com to let them know about this and any other issue with the Hub.

I'm going to close this now as it's not a bug and keeping this open won't help get the issue fixed any faster.

This is an outage affecting everyone. Please go to https://stat

[2015-08-10 10:16] #15442 closed

[2015-08-10 10:22] azurezk opened #15443 "run DockerSuite.TestRunWithBlkioInvalidWeight failed in localhost"
I found  "WARN[0000] Your kernel does not support cgroup blkio weight " in docker daemon debug info
Maybe this testcase should add a requirement that an environment supports cgroup blkio weight?

[2015-08-10 10:22] GordonTheTurtle commented on #15443
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-10 10:34] berlineddy commented on #15439
Similar error here. I am trying to pull an Image and a timeout.

version:

    Client version: 1.7.1
    Client API version: 1.19
    Go version (client): go1.4.2
    Git commit (client): 786b29d
    OS/Arch (client): linux/amd64
    Server version: 1.7.1
    Server API version: 1.19
    Go version (server): go1.4.2
    Git commit (server): 786b29d
    OS/Arch (server): linux/amd64

info:

    Con

[2015-08-10 10:39] discordianfish commented on #14386
We see the same error on a large coreos cluster where about 5% of all systems show this behaviour even though they are all configured the same. #13843 seems to be a duplicate of this one and reporting the issue for 1.6.2.

[2015-08-10 11:03] aidanhs commented on #13451
Yeah, you're between a rock and a hard place really. I'm sure if I were on devicemapper I would be asking why aufs wasn't the default!

[2015-08-10 11:14] discordianfish commented on #14386
I found https://github.com/torvalds/linux/blob/de182468d1bb726198abaab315820542425270b7/kernel/cpuset.c#L499 which might be the origin of this error. So maybe Docker for some reasons didn't set the cpus or memory available to the process before moving the process to the cgroup?

[code]

[2015-08-10 11:19] discordianfish commented on #14386
Okay, I think this is a known issue in libcontainer: https://github.com/opencontainers/runc/issues/133

[2015-08-10 11:21] coolljt0725 commented on #15443
Add a requirement for this make sense just as we do on test `cpu-quota`  https://github.com/docker/docker/blob/master/integration-cli/docker_cli_run_unix_test.go#L253
Working on a PR.

[2015-08-10 12:58] andyp1per commented on #11053
+1 docker 1.7.1 on overlay. I was hoping overlay would make things much better but it does not.

[2015-08-10 13:24] cpuguy83 commented on #14876
Yes, it looks like we can improve this. I'll have something up in a few mins.
Right now it's just returning the low-level error which is not good.

[2015-08-10 13:25] calavera commented on #15362
I cannot reproduce this :pensive:

[code]

[code]

[code]

[2015-08-10 13:33] bettiolo commented on #6324
@mseri can you look into fixing this?

[2015-08-10 13:36] BenHall commented on #15362
I tried it on a clean 15.04 and it worked as expected. Going to close as can't reproduce.

[2015-08-10 13:36] #15362 closed

[2015-08-10 13:38] BenHall commented on #15341
I haven't been able to reproduce this since RC3. Allow traffic load has changed as it's been the weekend which might have had something to do with it.

[2015-08-10 13:38] willyyr commented on #8539
What do you mean by latest? Latest Alpha of CoreOS?

[2015-08-10 13:43] e-max commented on #15283
I've reproduced "Image not found" behavior on 1.8.0-rc3.
[code]

[code]

[2015-08-10 13:47] #15425 closed

[2015-08-10 13:52] e-max commented on #15283
Full log

[code]

[2015-08-10 13:56] cpuguy83 commented on #14876
#15446

[2015-08-10 14:30] thieman opened #15448 "Where do the Machine install docs live?"
I'm trying to figure out how to submit a fix to the docs hosted here: https://docs.docker.com/machine/#installation

This page is currently pointing to an old version of Docker Machine (0.3.0) which doesn't support the latest version of VirtualBox, so if you follow the instructions here you run into errors pretty much immediately. I'd like to contribute a fix, but I can't seem to find the source f

[2015-08-10 14:30] GordonTheTurtle commented on #15448
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-10 14:33] cpuguy83 commented on #15448
Machine docs are here: https://github.com/docker/machine/tree/master/docs

Thanks!

[2015-08-10 14:33] #15448 closed

[2015-08-10 14:37] thieman commented on #15448
@cpuguy83 Can I request a rebuild of the docs on docs.docker.com then? The version of the docs on master in that repo look fine, but the live docs are waaaaaay behind that, and it's affecting end users. Specifically, it looks like the current live version is at least as old as this commit from July 7: https://github.com/docker/machine/commit/39806c02e0859463ac50ff346102edb2d860f168

cc @moxiegirl

[2015-08-10 14:38] cpuguy83 commented on #15448
We're doing a release tomorrow (assuming no show stoppers), which would also include a docs update.

[2015-08-10 14:39] thaJeztah commented on #14876
Thanks @cpuguy83 !

[2015-08-10 14:40] thieman commented on #15448
:+1:

[2015-08-10 14:51] #15440 closed

[2015-08-10 14:51] cpuguy83 commented on #15440
Fixed in #15441

[2015-08-10 14:53] cpuguy83 commented on #15429
Yes, this should be totally handled by the shell provided by `RUN`

[2015-08-10 15:10] tiborvass commented on #15433
I could reproduce with rancheros

[2015-08-10 15:14] thedrow commented on #14298
@jlhawn Can you please explain how are you running commands inside a container during build time and how do you implement caching for a client side builder?

[2015-08-10 15:24] jfrazelle commented on #8539
Latest docker

[2015-08-10 15:28] thaJeztah commented on #15433
![image](https://cloud.githubusercontent.com/assets/1804568/9175242/e424d72e-3f84-11e5-9fd8-d36c2d80dac9.png)

[2015-08-10 15:49] thaJeztah commented on #15429
@envygeeks I'm going to close this issue, because we are unable to reproduce. I did *not* try to repro with the `envygeeks/alpine` image, so it's possible there's something in that image that's causing this problem (I *did* try `alpine:edge`).

Are you able to reproduce this with a standard image (e.g. `ubuntu:14.04` or `alpine:edge`)?

[2015-08-10 15:50] #15429 closed

[2015-08-10 15:53] cpuguy83 commented on #15410
@weranga-k No, there are no linux libraries except what you add to the image/container yourself (or inherited from a base image).
Absolutely nothing is taken from the host OS.

[2015-08-10 15:53] #15410 closed

[2015-08-10 15:57] jdmulloy commented on #9295
@epcim I found out that the correct place to put the setting in .kitchen.yml is in the provisioner section like so.

    suites:
      - name: default
        run_list:
          - recipe[lab_base-srv::default]
        provisioner:
          client_rb:
            file_atomic_update: false

You can also put this in the global provisioner section if you wish.

[2015-08-10 15:58] LK4D4 commented on #15433
@ibuildthecloud Could you provide `/proc/self/mountinfo` from inside your "system" container?
Am I understanding right, that second(not third) nested docker fails to start any container?

[2015-08-10 16:01] tiborvass commented on #15433
@ibuildthecloud I found the PR that broke it: #14716

@LK4D4 I did `cat /proc/self/mountinfo` after a `./scripts/ssh` (@ibuildthecloud let me know if that's correct)

[code]

[2015-08-10 16:25] LK4D4 commented on #15433
@ibuildthecloud Do rancheros mount cgroups itself inside system container? How it doing this? could you provide script?

[2015-08-10 16:34] phemmer commented on #15391
I'd be interested in seeing a reproduction case for this. I am unable to reproduce locally. When I try, docker properly errors out with `Cannot start container ... System error: argument list too long`

[2015-08-10 16:36] mavenugo commented on #14908
@thaJeztah Yep. this is resolved via #14908. Closing it.

[2015-08-10 16:36] #14908 closed

[2015-08-10 16:56] burke commented on #13191
This happened again with `1.8.0~rc3-0~trusty` :(

[2015-08-10 16:59] cpuguy83 commented on #13191
ping @tianon @jfrazelle

[2015-08-10 17:00] thaJeztah commented on #13191
reopening so that we can investigate

[2015-08-10 17:02] jfrazelle commented on #13191
they are all still there https://apt.dockerproject.org/repo/pool/testing/d/docker-engine/

[2015-08-10 17:03] jfrazelle commented on #13191
looking into it... what does your chef script look like?

[2015-08-10 17:04] burke commented on #13191
Strange. It's totally possible I just don't understand how to ubuntu.

[code]

Moreover, requesting an older version fails:

[code]

[2015-08-10 17:05] burke commented on #13191
I can show you the chef stuff if you want but that cuts a bit closer to the heart of it ^

[2015-08-10 17:06] mtimkovich opened #15453 "Docs: Incorrect Link to Dockerfile Best Practices"
On the page https://docs.docker.com/reference/builder, the links for Dockerfile Best Practices link to

https://docs.docker.com/reference/reference/articles/dockerfile_best-practices

instead of

https://docs.docker.com/articles/dockerfile_best-practices/

I've seen this on some other pages as well where it links to "reference/reference" instead of the correct location.

[2015-08-10 17:06] GordonTheTurtle commented on #15453
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-10 17:07] jfrazelle commented on #13191
nah this is enough info, let me try :)

[2015-08-10 17:08] burke commented on #13191
Ah yeah, https://apt.dockerproject.org/repo/dists/ubuntu-trusty/testing/binary-amd64/Packages only specifies the newest

[2015-08-10 17:09] jfrazelle commented on #13191
yeah ok i can fix sorry

[2015-08-10 17:09] tianon commented on #13191
This is https://bugs.debian.org/570623 again. :disappointed:

[2015-08-10 17:09] burke commented on #13191
No worries, thanks for looking into it :)

[2015-08-10 17:19] calavera commented on #15101
There were several changes in the way we handle appArmor policies merged in RC1 and RC2 that were completely reverted in RC3. If you are still experiencing this issue, it's probably caused because you still have a profile under `/etc/apparmor`.

Sorry for the inconvenience and thanks for reporting this, it makes it even more clear that the decision of reverting those changes was right.

I'm going

[2015-08-10 17:26] jfrazelle commented on #13191
we can use `dak` instead

[2015-08-10 17:28] ahmetalpbalkan commented on #12469
@thaJeztah Not really, last time I checked, Cygwin was passing stdout/stderr descriptors that look just like actual files (it creates an effect like `docker run -i -t busybox sh > out.txt`) that's why this error is happening. I haven't had a chance to dig into this. @jstarks any ideas?

[2015-08-10 17:30] thaJeztah commented on #14468
I'm going to close this issue, because I think the above tips should help getting this resolved, but feel free to comment here if you think additional measures should be taken :-)

[2015-08-10 17:30] #14468 closed

[2015-08-10 17:56] moxiegirl opened #15454 "Add migration material and Windows version support"
- Add migration information back into the Windows installation
- Add note about lack of Windows 10 support

[2015-08-10 17:56] GordonTheTurtle commented on #15454
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-10 18:15] ibuildthecloud commented on #15433
@LK4D4 The code is here: https://github.com/rancher/docker-from-scratch/blob/master/scratch.go#L72

[2015-08-10 18:21] posita opened #15455 "docker run --rm documentation should indicate whether volumes are removed"
It's not clear from any documentation that I can find whether `docker run --rm` is equivalent to doing a `docker rm -v` on the created container. Caveat: I usually can't find the mustard in the fridge because I'm looking everywhere *except* right in front of me.

[2015-08-10 18:21] GordonTheTurtle commented on #15455
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-10 18:22] posita commented on #15455
Ignoring @GordonTheTurtle spam. This is a documentation bug.

[2015-08-10 18:33] elrac commented on #12469
The problem isn't with Cygwin directly, but with the terminal app Mintty. Here is more information about the problem https://code.google.com/p/mintty/issues/detail?id=56 . A workaround would be to run Cygwin in a different command line app.

[2015-08-10 18:43] ahmetalpbalkan commented on #12469
@elrac do you know if msys also uses mintty? This problem doesn't happen on msys bash.

[2015-08-10 18:46] Bregor commented on #14788
Same here.

    # docker version
    Client version: 1.7.1
    Client API version: 1.19
    Go version (client): go1.4.2
    Git commit (client): 786b29d
    OS/Arch (client): linux/amd64
    Server version: 1.7.1
    Server API version: 1.19
    Go version (server): go1.4.2
    Git commit (server): 786b29d
    OS/Arch (server): linux/amd64

    # docker info
    Containers: 20
    Images: 102

[2015-08-10 18:46] icecrime commented on #15341
I'll remove that one from the 1.8.0 milestone and let you decide whether we should close.

[2015-08-10 18:46] Bregor commented on #14788
Error response from daemon: Cannot start container 2436fcdca906e31f714cb75dbc59fc545b3c3be5b27763dc5b0e4c588284c317: no available ip addresses on network

[2015-08-10 18:46] aboch commented on #13381
There was a bug in bridge driver code where the linux bridge interface MAC address would not be programmed as "SET" in 4.x (x < 3) kernels. Bug is there in docker 1.6.2.

@cfpeng I see your host is running a 4.0.2, so it would be affected.
Issue has been recently fixed [here](https://github.com/docker/libnetwork/pull/421) and made it to docker/docker code via [this](https://github.com/docker/docke

[2015-08-10 18:54] chambm commented on #15383
OK, so something like this should be in the docs, if I understand correctly:
`At build time, the ENV directive sets environment variables for whatever user a command is run under. At run time, the ENV directive sets the environment for the user that the container is run as. Changing user once the container is running may not preserve the environment (e.g. 'su - <user>').`

[2015-08-10 19:00] borntorock commented on #14386
@stevenschlansker System reboot doesn't resolve this issue for me.

@discordianfish Did you received any luck in resolving this issue on your systems.

[2015-08-10 19:24] LK4D4 commented on #15433
I did fix in opencontainers/runc#191

[2015-08-10 19:42] exarkun opened #15456 "The CentOS installation instructions should use systemctl and both start and enable docker"
The CentOS installation instructions at https://docs.docker.com/docker/installation/centos/ (`docs/installation/centos.md`) suggest that after installing the package one should:

[code]

`service` is a thin layer on top of systemctl on CentOS.  And starting a systemctl service is only half the job.  After a reboot, the service will be stopped again.  To make it run on every boot, it needs to be "e

[2015-08-10 19:42] GordonTheTurtle commented on #15456
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-10 19:55] tianon commented on #9474
Did we ever find any examples of other completion scripts (especially in the official `bash-completion` set) that have configurable knobs so that we can make sure we're following any existing conventions?

[2015-08-10 19:56] MHBauer commented on #15453
Already fixed in master. Docs get pushed at the next release, I think?

[2015-08-10 20:07] pugnascotia commented on #9474
I didn't see anything obvious from a previous glance through, but I'll take
another look tomorrow. It would be good to follow conventions.

[2015-08-10 20:18] phemmer commented on #15383
This has nothing to do with docker though. This is how the `su` utility works (when provided with `-`, `-l`, or `--login`).

If you were on a non docker system, and you performed the following:

[code]

The `FOO` variable would be lost when switching to the new user.

[2015-08-10 20:22] Philonous opened #15460 "Problem reaching network from container"
Since a system update a few days ago I can't reach the network from containers. I tried deleting the docker0 bridge, restarting the docker service, rebooting the machine.

Example:
[code]

Relevant information:

[code]

[code]

I also tried docker 1.8 rc4 and 1.6.2

[code]

[code]

[code]

[2015-08-10 20:22] GordonTheTurtle commented on #15460
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-10 20:28] chambm commented on #15383
It has to do with how Dockerfiles treat the USER and ENV directives. It is not abundantly clear from reading the docs that ENV's only effect is to change the export section of the example you just gave, and USER's only effect is to change the someuser (without the '-') for that section of the Dockerfile. A reasonable intuition of how the USER directive ought to work is that ENV directives made whi

[2015-08-10 20:29] fredlf opened #15461 "Remote API doc has broken image link"
https://github.com/docker/docker/blob/master/docs/reference/api/docker_remote_api.md

Has a broken image link at ln. 50.

[2015-08-10 20:29] GordonTheTurtle commented on #15461
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-10 20:36] aboch commented on #15460
@Philonous Can you please past the content of `/sys/class/net/docker0/addr_assign_type`

[2015-08-10 20:36] Philonous commented on #15460
[code]

[2015-08-10 20:40] download13 commented on #3465
I also have a use case for this. I want to be able to create an image containing a database snapshot, but all the mysql packages have `VOLUME /var/lib/mysql` set. It would nice to be able to turn off the volume the changes to the database made in my Dockerfile will stick with the image.

The only other option is to completely re-create a custom mysql image, but that somehow seems wasteful since pl

[2015-08-10 20:51] tonistiigi opened #15463 "Improve trust error messages"
Error message shown to people trying out trust could be more verbose and point to possible solution.

##### Pulling untrusted image from hub gives:

[code]

Could be:

[code]

##### Pushing to a private registry(no notary set up):

[code]

If its non-TLS registry then this(not sure if it makes sense to deal with this at all):

[code]

Could be something that lets the user know that they need to se

[2015-08-10 20:51] GordonTheTurtle commented on #15463
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-10 21:24] nonsequitur commented on #12469
This isn't directly related to Cygwin.
For example, the issue also appears when docker is called from a `cmd.exe` shell within Emacs. (`Emacs 24.5.1 (i686-pc-mingw32)`)
But it works just fine in a Cygwin bash shell running inside a windowed top-level `cmd.exe` process.

[2015-08-10 21:31] rocky opened #15466 "docker login status command?"
In a program that issues docker commands to pull images from dockerhub, I'd like to be able to inform a user that they aren't logged in.  It would be nice to provide such a "login status" request

I don't see that  this is available in the docker api, e.g. [docker login](https://github.com/docker/docker/blob/master/api/client/login.go). However logout does do a check, e.g. https://github.com/docke

[2015-08-10 21:31] GordonTheTurtle commented on #15466
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-10 21:34] muayyad-alsadi commented on #14298
@jlhawn  @thedrow  the way I think about it, is that we start a temporary container, do the build, commit the container into an image.

[2015-08-10 21:54] icecrime commented on #15433
Not yet fixed in docker master (need to bump runC), but will be fixed in 1.8.0.

[2015-08-10 22:06] clintonskitson opened #15467 "Volumes specified in Dockerfiles are mounted using VolumeDriver"
There can be a condition where volumes are created inadvertently when using the new VolumeDriver functionality.

If a Dockerfile includes a ```volumes``` parameter, these volumes are created using the applicable VolumeDriver.  The default case is ```local```, but is overridden by ```--volume-driver``` at runtime.  If you are running something like ```docker run -ti --name mysql7 -p 3306:3306 -e MY

[2015-08-10 22:06] GordonTheTurtle commented on #15467
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-10 22:13] #15454 closed

[2015-08-10 22:13] kblin commented on #14795
On 10/08/15 00:49, Sebastiaan van Stijn wrote:
Hi Sebastiaan,

Sure, I'll have a look.

Cheers,
Kai

--
Kai Blin
Samba Developer    http://samba.team

[2015-08-10 22:13] tomheinan commented on #3465
Adding an additional use case - I'm inheriting from the [official](https://github.com/docker-library/rabbitmq/blob/bb91e64b5664a4ab5cd681b7501a2830edbe9ddf/Dockerfile) RabbitMQ image, but I only want to expose websocket ports (80 and 443) and not the default AMQP port (5672). Seems like this should be a pretty reasonable thing to want to do?

[2015-08-10 22:39] phemmer commented on #15460
This is likely a dup of #14185. For which the solution is https://github.com/docker/docker/issues/14185#issuecomment-123819335

[2015-08-10 23:04] Philonous commented on #15460
That fixed it! Thanks!

[2015-08-10 23:05] #15460 closed

[2015-08-10 23:05] tdeheurles commented on #12469
I reproduce the problem with ConEmu with bash/zsh.
I think mintty is here too.

[2015-08-10 23:28] membphis opened #15468 "how to change the max EndPortRange"
we use nginx in docker. and we found the container cant support more than 16000 connections. we tried the `--EXPOSE` and `--net=host`, but the limit is still here. we sure we have changed the ulimit successful.

we found the nginx server only can use valid port 49153-65535.

our system is RHEL 6.5, the docker version is 1.5 docker.io .

[2015-08-10 23:28] GordonTheTurtle commented on #15468
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-11 00:02] VelizarVESSELINOV opened #15469 "Python script that is taking long time with heavy memory usage running in Docker container is not working"
The same Python script is running very well outside the container (in Mac terminal) but inside the container no Python exception is intercepted during the execution and in the middle of the processing of the large docker container is stopped, with small files is running very well.

So my feeling is that the process is not responding fast enough to some signals from Docker and the Docker is stopped

[2015-08-11 00:02] GordonTheTurtle commented on #15469
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-11 00:13] VelizarVESSELINOV commented on #15469
docker version:
[code]
docker info
[code]
uname -a
```Darwin Velizar-MacBook-Pro.local 14.4.0 Darwin Kernel Version 14.4.0: Thu May 28 11:35:04 PDT 2015; root:xnu-2782.30.5~1/RELEASE_X86_64 x86_64```
[code]

[2015-08-11 00:22] sbutalia opened #15470 "Is dockerhub down?"
![image](https://cloud.githubusercontent.com/assets/1808387/9187345/464edc2a-3f84-11e5-8527-4548bb39c072.png)

[2015-08-11 00:22] GordonTheTurtle commented on #15470
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-11 01:13] McAlister commented on #15391
This was my docker-compose file when it started happening - I redacted the names paths and port numbers of our own containers but you can see the quantity of ports they use.  The ones based on io.docker containers are just the basic container with wrappers that prime them with test data.

Presumably you can reproduce locally by substituting the containers there for ones with the same ports exposed

[2015-08-11 01:17] McAlister commented on #15391
Oh, and in the rabbit dockerfiles they have a lot more exposed than what is put there:

EXPOSE 5672
EXPOSE 15672
EXPOSE 25672
EXPOSE 4369
EXPOSE 9100
EXPOSE 9101
EXPOSE 9102
EXPOSE 9103
EXPOSE 9104
EXPOSE 9105

based on this project:

https://github.com/bijukunjummen/docker-rabbitmq-cluster/blob/master/server/Dockerfile

[2015-08-11 01:30] jberkus commented on #14018
Adding Issue #13309 to this tracker.

I've been able to reproduce that issue multiple times; it really seems like docker push checksums each MB as it's uploaded, resulting in N^2 upload times for large layers.

[2015-08-11 02:02] w4-sjcho commented on #15151
I'm using AWS elastic beanstalk which runs docker 1.6.2, and seems like I'm also affected by this. Took me hours to figure out the problem.

As it's hard for us to update beanstalk's docker version, is there any workaround for this? What I can do is running some commands before starting up the docker containers.

Also is it safe to just manually remove all iptables forwarding entries that point to

[2015-08-11 02:07] dongwon opened #15471 "after upgrading ubuntu to 14.04.3, I can not build docker image."
When I try to build a docker image with my simple Dockerfile, my ubuntu desktop hangs even for all the input interfaces. And then I have to force-reboot after that.

$ docker version
Client version: 1.7.1
Client API version: 1.19
Go version (client): go1.4.2
Git commit (client): 786b29d
OS/Arch (client): linux/amd64
Server version: 1.7.1
Server API version: 1.19
Go version (server): go1.4.2
Git co

[2015-08-11 03:09] McAlister commented on #15391
@mavenugo

ooooOOOOOooooo ... shiny.  We definitely have use cases that could exercise that.

This is hovering dangerously close to my to-good-to-be-true alarm.

Thanks.

[2015-08-11 04:29] keithyau commented on #13103
same issue here on CentOS 7 + Docker 1.6.2 with image docker / whalesay

Unable to find image 'docker/whalesay:latest' locally
Trying to pull repository docker.io/docker/whalesay ...
fb434121fc77: Error pulling image (latest) from docker.io/docker/whalesay, ApplyLayer exit status 1 stdout:  stderr: unexpected EOF it status 1 stdout:  stderr:FATA[1278] Error pulling image (latest) from docker.io/do

[2015-08-11 04:35] waynew commented on #9118
I just ran into this problem and it turned out it was because I was missing the common name in my self-signed cert. That may or may not be relevant to the problems that others are having.

[2015-08-11 05:05] Pensu commented on #15470
It's working fine for me. May be, some network issue within your environment?

[2015-08-11 05:21] VelizarVESSELINOV commented on #15469
The example is available: https://github.com/VelizarVESSELINOV/DockerTest

[code]
Docker image is available on: https://hub.docker.com/r/velizar/test1/

[2015-08-11 05:22] PharaohKJ opened #15475 "fluentd-address is not used."
Description of problem:

fluentd-address is not used in `/etc/default/docker`.

`docker version`:

[code]

`docker info`:

[code]

`uname -a`:

[code]

Environment details (AWS, VirtualBox, physical, etc.):

on GCE Instance.

How reproducible:

Steps to Reproduce:
1. `gcloud compute instances create dockertest`
2. `gcloud compute ssh dockertest`
3. `sudo su -`, `curl -sSL https://test.docker.com |

[2015-08-11 05:24] LK4D4 commented on #15475
@PharaohKJ any other DOCKER_OPTS works?

[2015-08-11 05:44] thedrow commented on #14298
@muayyad-alsadi Then how do you get the caching capabilities of the normal builder?
If you start a temporary docker container and build it using docker exec you won't get any caching.

[2015-08-11 06:01] PharaohKJ commented on #15475
@LK4D4 may be works. I was checked in `ps ax`

[code]

[2015-08-11 06:02] abilashks opened #15476 "docker storage option not working in 1.7.1 version"
i upgraded my docker to 1.7.1 version.
when i tried to start the service i get the below error
msg="Error starting daemon: error initializing graphdriver: Unknown option dm.loopmetadatasize"

docker version
Client version: 1.7.1
Client API version: 1.19
Package Version (client): docker-1.7.1-108.el7.centos.x86_64
Go version (client): go1.4.2
Git commit (client): 3043001/1.7.1
OS/Arch (client): lin

[2015-08-11 06:02] GordonTheTurtle commented on #15476
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-11 06:09] thaJeztah commented on #15470
You can check via https://status.docker.com

However; I'm going to close this issue, because this issue tracker is for bugs and feature requests for Docker. Docker Hub is managed by a different team and issues can be reported via https://support.docker.com

[2015-08-11 06:09] #15470 closed

[2015-08-11 07:55] willyyr commented on #8539
@jfrazelle i've tried again but am unable to reproduce so far even on the the version mentioned above. Will try to collect more info when it happens again.

[2015-08-11 08:42] pugnascotia commented on #9474
On my Ubuntu 14.04 machine, I found two examples in the main bash completion file, referencing $COMP_KNOWN_HOSTS_WITH_AVAHI (thought that option was disabled) and COMP_KNOWN_HOSTS_WITH_HOSTFILE. Each is just an "if" block, so I think we're good.

[2015-08-11 08:44] dancewhale opened #15477 "Cannot start full systemd container with lxc driver."
Description of problem:
Cannot start /sbin/init  within the container with lxc driver.
You can start  /sbin/init in docker with the native driver:
docker run  -it -privileged -e "container=docker" ubuntu:init /sbin/init

However, it does not work for the lxc driver:
docker run -it -privileged -e "container=docker"  ubuntu:init  /sbin/init
No response from the output, and the container is not start

[2015-08-11 08:44] GordonTheTurtle commented on #15477
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-11 08:59] booyaa commented on #8539
@willyyr just to clarify, upgrading to latest docker has resolved the issue?

[2015-08-11 09:02] bear0330 commented on #13381
@aboch My kernel is 3.10.0-229.7.2.el7.x86_64, I am running docker on Azure, I am not sure this is because Azure's issue (I have no idea), I am trying to run docker on Vultr.

[2015-08-11 09:04] willyyr commented on #8539
@booyaa no, I did not upgrade after being unable to reproduce on the old version.

[2015-08-11 09:04] thefallentree commented on #11948
we implemented a custom daemon mounting through NBD, and we met a few problems, it seems that NBD (at least in 3.13 - 3.16 ) have some stability issues that can cause lockup etc.

Another choice would be  libguestfs ,which also support doing the samething (through FUSE) .

[2015-08-11 09:12] HuKeping commented on #10318
So what is the most possible solution that Docker prefer or is there anything that WIP? ping @thaJeztah @dmp42 @tiborvass @dmcgowan

[2015-08-11 09:29] dalanlan opened #15478 "Remove images failed [device or resource busy]"
[code]
[code]

[2015-08-11 09:29] GordonTheTurtle commented on #15478
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-11 09:30] Evalle commented on #15461
hello @fredlf AFAIK these .md file are used for creating official docs pages, and you can check out that on the official docs page https://docs.docker.com/docker/reference/api/docker_remote_api/ image is on it's place. @moxiegirl please correct me if I'm wrong.

[2015-08-11 10:08] praveennous commented on #13743
Hello All,

Could some one give me steps how to set existing container to restart=always to autostart.Please find my image id and guide me on this.

Image ID :e0418b2f81b4

[2015-08-11 10:23] litmanovich commented on #14048
We have docker 1.7.1 and still got this problem:

11:40:10 Error response from daemon: Cannot start container 96881bb6d7a6afd6e6d448a50bcfe37a8c2f10a1f8e7b9407a2bc13abe4f5abd: lstat /dev/dm-6: no such file or directory

[2015-08-11 10:40] luca3m opened #15480 "Default container names"
Working with containers I don't like default names used by docker, because they are hard to remember and also ids. I need to use `--name` parameter every time, what do you think if by default docker uses the image name as container name? If it's already used it can add a suffix like `redis1` `redis2` etc.

I think it's more predictable and easy to use.

[2015-08-11 10:40] GordonTheTurtle commented on #15480
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-11 10:41] discordianfish commented on #14386
@borntorock Haven't yet implemented it, but running

    echo 0 >  /sys/fs/cgroup/cpuset/system.slice/cpuset.mems

before docker stats should solve it.

[2015-08-11 10:47] thaJeztah commented on #14048
@litmanovich could you give the output of `docker info`, `docker version` and `uname -a` ?

[2015-08-11 11:03] lunarfs opened #15481 "huge cache on host triggers out of memory in container"
Working on a reproduce, this mostelikeley is related to the content of the docker containers
[code]
[code]
I am trying to setup a docker host for running some jenkins build containers, the issue is that once the system has been running for some time the file cache starts to grow (from free -m -h)
[code]
and the file cache of the host is not claimable by the docker containers.
in this case i have
a

[2015-08-11 11:03] GordonTheTurtle commented on #15481
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-11 11:07] rncry commented on #12849
+1 an example for this would be very useful

[2015-08-11 11:34] litmanovich commented on #14048
Containers: 34
Images: 159
Storage Driver: devicemapper
 Pool Name: docker-253:1-1076717665-pool
 Pool Blocksize: 65.54 kB
 Backing Filesystem: xfs
 Data file: /dev/loop0
 Metadata file: /dev/loop1
 Data Space Used: 25.64 GB
 Data Space Total: 107.4 GB
 Data Space Available: 81.74 GB
 Metadata Space Used: 25.25 MB
 Metadata Space Total: 2.147 GB
 Metadata Space Available: 2.122 GB
 Udev Sync Suppo

[2015-08-11 11:49] rncry commented on #10088
+1 We're also trying to use a container to mount a FUSE filesystem which needs to be shared with the host

[2015-08-11 11:51] rncry commented on #10088
There seems to be a patch here: https://github.com/rootfs/docker/commit/0ca94ce299faa7126668d24d5a5eadcbcc0d9a2b

[2015-08-11 12:53] scue commented on #7198
+1

[2015-08-11 13:09] meeee commented on #14203
I didn't expect the workaround to work, but after adding a few spaces in an environment variable, we now had a full week without the error occurring. Previously, it occurred almost daily.

We added this environment variable to all our compose containers:
[code]

[2015-08-11 13:54] dbrgn commented on #6880
I'm also affected by this, also trying to redirect nginx (as non-root) access logs to /dev/stdout or /dev/stderr.

[2015-08-11 14:12] cpuguy83 commented on #15480
This is precisely what compose does (or rather, uses the name of the `service`).
I don't think we want to change Docker.

[2015-08-11 14:46] barkerd427 commented on #14365
This is a huge blow to those enterprises who have not even been able to complete the testing of rhel 7. At least we'll be able to upgrade to 1.7 when rhel approves of it, but it's disappointing this was announced so late relative to how fast rhel 6 users probably move.

[2015-08-11 14:47] luca3m commented on #15480
Yes I know. But I don't think that anybody using Docker uses always docker-compose to bootstrap containers. For example to try out some new stuff.

[2015-08-11 15:06] beinnova opened #15484 "Ubuntu 15.04 start coutdown when shutdown the pc."
Hello,
I have upgrade my Ubuntu to 15.04 version. Now, when I'm shutting down the pc, I see in a console the countdown of docker daemon.
I can disable the countdown?

[2015-08-11 15:06] GordonTheTurtle commented on #15484
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-11 15:22] thaJeztah commented on #14365
@barkerd427 We feel your pain, but this was effectively out of our control, once RHEL upstream ended support. Recent RHEL 6 kernels resulted in panics and strange behavior when using Docker (even on older versions of Docker) . We decided to drop support, because we cannot provide a stable solution without the backing of the distribution upstream, and decided it was better to *not* support a platfo

[2015-08-11 15:28] thaJeztah commented on #14048
Thanks, @litmanovich. I'll reopen this issue and will ask @rhvgoyal if there's other info that could help in locating this issue. Is this a machine that can be kept in this state for debugging, or do you rely on it for production?

ping @rhvgoyal could you have a look here?

[2015-08-11 15:30] VelizarVESSELINOV opened #15486 "Docker is not smart enough to identify new version available on PyPI"
My dockerfile is using lasio (RUN pip install lasio), in the script I'm checking the version (``lasio version: 0.7.3``) on the PyPI (https://pypi.python.org/pypi/lasio version 0.7.6 is available).

So docker -build is making me working with old version which is **not good** as we are loosing trust of docker and push us to rebuild all the images without cache to manually manage the intelligence of

[2015-08-11 15:30] GordonTheTurtle commented on #15486
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-11 15:40] ryan-stateless commented on #12738
+1

[2015-08-11 15:45] thaJeztah commented on #13743
@praveennous the GitHub issue tracker is not a general support forum; please ask your question in a [more suitable location](https://github.com/docker/docker/blob/master/CONTRIBUTING.md#talking-to-other-docker-users-and-contributors), for example:

- the `#docker` IRC channel on freenode
- the [docker-user](https://groups.google.com/forum/#!forum/docker-user) google group
- [forums.docker.com](htt

[2015-08-11 15:46] stiggity commented on #14904
@thaJeztah You'd asked if this was the cause for all people here. I hadn't originally been here, but I found this issue via searching my problem (the same) and the fix suggested by @mtp401 worked for me.

[2015-08-11 15:49] thaJeztah commented on #14904
@stiggity thanks for reporting that! (and glad this helped you)

[2015-08-11 15:54] gramakri opened #15487 "cloudron exec returns 500 for stopped container"
Steps to reproduce:
1. docker run ...
2. docker stop <container>
3. docker exec -ti <container> /bin/bash
(you will see an error but the http error returned was a 500)

Not sure what a better error code is (maybe 422?) but currently we get a 5xx which is an internal server error.

From the logs,

[code]

Output of docker version:
[code]
docker info:
[code]

uname -a:
[code]

[2015-08-11 15:54] GordonTheTurtle commented on #15487
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-11 16:10] mrjana commented on #14904
@mtp401 @andybalaam @stiggity Thanks for confirming that this issue is related to symantec AV. As @thaJeztah suggested we should update the known issues document to help others who are hitting this issue.

Nevertheless I feel this issue should still be open until we find out more about the interaction symantec AV and docker networking. Needless to say, it would be ideal if docker networking can wo

[2015-08-11 16:23] RustJason opened #15488 "undefined reference"
[code]

I add -lpcre and -L{lib_to_pcre.so}, but still not work

[2015-08-11 16:23] GordonTheTurtle commented on #15488
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-11 16:48] jlhawn commented on #14298
@thedrow @muayyad-alsadi `COPY` and `RUN` creates a new container. For `COPY` files are copied into the container via the new API endpoint and the container is immediately committed having never been started. For `RUN` the container is started using the command specified by the `RUN`, then committed. A commit returns a new image ID.

Caching is done by the client storing a hash of the image ID + t

[2015-08-11 16:52] praveennous commented on #13743
Hi Sebastiaan,

Thanks for update. when I googled I found this page. thought it will give
me solution for my query as I saw the discussion about same as my issue.

On Tue, Aug 11, 2015 at 4:46 PM, Sebastiaan van Stijn <
notifications@github.com> wrote:

--
Thanks,
Praveen Kumar.A
+91-8971969716

[2015-08-11 16:52] icecrime commented on #15433
Change of plan: this is _not_ fixed in 1.8.0... Sorry, we have a regression with the patch.

[2015-08-11 16:53] jlhawn commented on #12823
@thaJeztah It's certainly related, but #15353 addresses a separate issue. However, a side-effect of that might be that stuck download goroutines would be killed perhaps fixing this issue in some cases?

[2015-08-11 16:53] barkerd427 commented on #14365
@thaJeztah I know all too well the pains of rhel6 and Docker! I want to move as quickly as I can to rhel7, but we just aren't ready as it had so many changes that have to be tested. I certainly understand the requirement to move away from it. I wish Redhat would have handled this better with their customers. You guys have done an awesome job with this project and supporting outdated kernels. Thank

[2015-08-11 17:17] dimastopel commented on #13697
@NathanMcCauley @diogomonica  @thaJeztah  I think it is a good time now to start collecting your general feedback on the code in Nalin's branch. The work that takes place now is mostly around tests and it would be great to have an agreement, at least a general one, on the code before tests are finalized and proper PR is sent. What do you think?

[2015-08-11 17:17] unclejack commented on #15486
@VelizarVESSELINOV RUN is as simple as running something in a shell script, it's not aware of what you're running in there and whether it should be invalidated.
This can be solved quite easily using `docker build --no-cache`.

Furthermore, you can check what version you've had in the previous image and use `--no-cache` to force the entire image to be built.

The Docker builder will be moved to the

[2015-08-11 17:17] #15486 closed

[2015-08-11 17:22] unclejack commented on #15481
Your setup is unsupported because you're running a custom kernel on the distro. Only the distro provided kernel is supported.

You might want to try to reproduce the problem you've run into without btrfs.

This issue still needs to be investigated, though.

[2015-08-11 17:23] VelizarVESSELINOV commented on #15486
Thank you for your inspired advice and promotion for usage ``--no-cache`` as the Docker cache is not smart enough, I understand this is outside your management boundaries (the fault is somewhere else :+1:)

[2015-08-11 17:33] gondor commented on #15475
@LK4D4 I'm seeing the same thing with GELF.  I've added the --log-opt gelf-address=udp://host:ip and it gives me a message starting a container from the daemon that the address is not defined.  Like FluentD it shows up in the ``ps ax | grep docker``.     When I don't include this in the daemon and specify them via `docker run`  it works fine.   This is not ideal since I'm using Mesos and would lik

[2015-08-11 17:41] MrMMorris commented on #13268
@garrickp is this something you have since resolved by moving away from AUFS?

I am in the same situation (running node, was using devicemapper, not AUFS) and haven't checked to see if we are running into Futex contentions, but it would be good to know if I should be looking to move to Overlay or ZFS or something :smile:

[2015-08-11 17:49] garrickp commented on #13268
@MrMMorris The futex contention with the simplest node server did indeed disappear upon moving to device mapper, but the more complicated program (i.e. our actual webapp) is still acquiring futexes across containers (and within containers). We haven't had the opportunity to dig into this further, or try other file systems.

[2015-08-11 18:51] vidarh commented on #8539
For me it takes anything from days to weeks to reproduce with our normal load, so verifying if it works with 1.6.2 isn't viable for us until there's a CoreOS stable release with it. I have however had it happen with two different servers on 1.6.x over the last week.

[2015-08-11 19:35] schrepfler commented on #15155
Working :+1:

[2015-08-11 19:49] stevvooe commented on #15048
@onorua The issue is that you are exposing a registry on your firewall as `docker-registry.smctr.net:5000` but the registry sees `docker-registry.smctr.net` due to the way the proxy is configured. To fix this, either hard code `X-Forwarded-Host` to `docker-registry.smctr.net:5000` or expose the registry as port 443 on the firewall, such that `docker-registry.smctr.net` is valid.

It is not require

[2015-08-11 19:58] VelizarVESSELINOV commented on #15486
Even worst randomly is updating packages that was not updated since 2 years, like https://pypi.python.org/pypi/cchardet/ looks like a joke outside Docker :)

[2015-08-11 20:19] stevvooe commented on #13309
From #14018:

I took a quick peak at this and it looks like there is a performance knee for large files, rather than a particular N^2 process. If we look at https://github.com/docker/docker/blob/master/graph/push_v2.go#L225, we can see that the file is buffered into a temp file, then read back. This is a 4*N process. Mathematically, this is okay, but this is probably causing the issue. On small fi

[2015-08-11 20:23] stevvooe commented on #14018
@jberkus I commented on your observation in #13309. I don't think it is N^2 but there is a performance knee caused by disk buffering.

[2015-08-11 20:47] weranga-k commented on #15410
Thank you for your replies. Appreciate it.

[2015-08-11 20:56] ahmetalpbalkan opened #15494 "--insecure-registry and --registry-mirror don't work together, fallbacks to v1"
I'm running a local `registry` (as a pull-through cache to Docker Hub) on `localhost:5000` and configuring docker daemon as:

    /usr/bin/docker -d -D -H=unix:// --registry-mirror http://localhost:5000 --insecure-registry localhost:5000

because I have not configured TLS for the registry container yet. In the docker engine logs I can see it falling back to registry protocol v1.

Docker engine log

[2015-08-11 20:56] GordonTheTurtle commented on #15494
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-11 20:57] jberkus commented on #13309
@stevvooe Sure I could see that.  I don't have a good way to systematically test pushes of each different size to determine the exact pattern.

Let me know when/where I can test to see if you've fixed it.

[2015-08-11 21:01] thaJeztah commented on #13309
@jberkus PR is up here: https://github.com/docker/docker/issues/15493, so you could try to build from that

[2015-08-11 21:03] thaJeztah commented on #15155
Thanks for confirming @schrepfler !

[2015-08-11 21:08] jberkus commented on #13309
OK, so this fix is entirely client-side?  I assumed that there needed to be a fix on the Hub side as well.

[2015-08-11 21:41] astrostl opened #15496 "Add labels to running Docker containers"
Howdy,

I'm unable to identify a mechanism from either https://docs.docker.com/docker/userguide/labels-custom-metadata/ or the `docker` cli `help` which would let me add, change, and/or delete labels on *running* Docker containers. Would like to use this metadata on multi-tenant hosts, as opposed to doing it out-of-band (e.g. a key/value store which also references running container IDs).

If this

[2015-08-11 21:41] GordonTheTurtle commented on #15496
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-11 22:02] kiyoto commented on #15475
cc: @tagomoris

[2015-08-11 22:02] elrac commented on #14837
Sorry, I couldn't figure out how to build the docker master branch so that it could be run with Boot2Docker. But this is working as of docker v1.8.0.

Thank you.

[2015-08-11 22:15] marshell08 opened #15497 "Docker File does not add to PATH variable"
Below is my docker file which is simply running a NodeJS Application in a docker container. Along with the installation i am also trying to add some path to the PATH variable in Linux but for whatever reason they do not get added.

I am not sure what is it that i am doing wrong here ? The image when built and run works fine without the PATH variable being updated.

RUN mkdir -p /root/.cfenv/shims

[2015-08-11 22:15] GordonTheTurtle commented on #15497
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-11 22:18] abierbaum opened #15498 "1.8.0: Systemd can't start docker on Centos 7.1"
Using the default configuration of the latest docker 1.8.0 release, systemd can't start docker.
**Workaround:** `yum install docker-selinux`

Use the commands below to provide key information from your environment:

docker version: 1.8.0-1
docker info: N/A
uname -a: Linux cent7 3.10.0-229.7.2.el7.x86_64 #1 SMP Tue Jun 23 22:06:11 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

Provide additional environm

[2015-08-11 22:18] GordonTheTurtle commented on #15498
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-11 22:21] marshell08 commented on #15497
BUG REPORT INFORMATION

Use the commands below to provide key information from your environment:

docker version:
[root@web-server]# docker version
Client version: 1.7.1
Client API version: 1.19
Go version (client): go1.4.2
Git commit (client): 786b29d
OS/Arch (client): linux/amd64
Server version: 1.7.1
Server API version: 1.19
Go version (server): go1.4.2
Git commit (server): 786b29d
OS/Arch (ser

[2015-08-11 22:29] gondor commented on #15475
@mariussturm Should I open up a separate ticket for Gelf?  Seems to be an argument issue related to both new logging drivers since I'm seeing the same with Gelf.

[2015-08-11 22:32] ankushagarwal opened #15500 "Broken 404 page for docs.docker.com"
Earlier a missing page(404) redirected to the homepage, now it shows the following error :

![image](https://cloud.githubusercontent.com/assets/796949/9212494/2ae7cc8e-403e-11e5-811d-6c4a4d7846e5.png)

[2015-08-11 22:32] GordonTheTurtle commented on #15500
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-11 23:02] samnf commented on #6880
Same here, using Docker version 1.6.2 and the php:5.4-apache image.

[2015-08-11 23:20] weranga-k commented on #15410
Thank you..

From: Brian Goff [mailto:notifications@github.com]
Sent: Monday, August 10, 2015 8:55 AM
To: docker/docker
Cc: Kaluarachchi, Weranga
Subject: Re: [docker] Linux Artifacts from Ubuntu in an empty Docker Container (#15410)

@weranga-k<https://github.com/weranga-k> No, there are no linux libraries except what you add to the image/container yourself (or inherited from a base image).
Absol

[2015-08-11 23:23] stevvooe commented on #13309
@jberkus Please avoid assumptions and let's focus on facts and real observations.

#14018 is covering _push_ performance issues. From the looks of this issue, it is not covering _push_ performance. My comments earlier and #15493 cover _pull_ performance. Sorry for the confusion (I made assumptions based on the extra comments).

@vronin-okta We need some more information to troubleshoot the origina

[2015-08-11 23:27] stevvooe commented on #9718
Re-opening since #13971 failed to address the root cause.

[2015-08-11 23:32] stevvooe commented on #15283
@e-max Thank you for the report. Had you seen the panic before? We think the panic is actually fixed.

I've reopened #9718, since this problem wasn't actually fixed.

[2015-08-11 23:38] thaJeztah commented on #15498
ping @jfrazelle

[2015-08-11 23:42] jfrazelle commented on #15498
it looks like the daemon failed to start w something about the bridge ping @mavenugo @mrjana

[2015-08-11 23:42] jfrazelle commented on #15498
did you do an `yum update` before

[2015-08-11 23:44] jfrazelle commented on #15498
I cant reproduce on a centos 7 machine I want to say it has something to do with kernel config

[2015-08-11 23:44] jfrazelle commented on #15498
can you try running this https://github.com/docker/docker/blob/master/contrib/check-config.sh

[2015-08-11 23:58] pdericson commented on #14365
The latest official kernel as of RHEL / CentOS 6.7 was released on 2015-07-22.  The new kernel is kernel-2.6.32-573.el6.x86_64.  This kernel works well with Docker.

Will Docker Inc consider un-dropping support from RHEL / CentOS 6.7 with the 573 kernel?

[2015-08-12 00:20] mrjana commented on #15498
@jfrazelle You can ignore the bridge modprobe failure message. That will be printed if the bridge module is compiled into the kernel rather than as a module. We should rather check the docker logs.

[2015-08-12 00:23] jfrazelle commented on #15498
Those were the logs :/

[2015-08-12 01:15] abierbaum commented on #15498
@jfrazelle I just ran check config and yum update.

[code]

[2015-08-12 01:30] abierbaum commented on #15498
I just tried the same reproduction on a DigitalOcean RH7 droplet and docker worked fine.

- Fired up droplet
- yum update
- yum install -y http://yum.dockerproject.org/repo/main/centos/7/Packages/docker-engine-1.8.0-1.el7.centos.x86_64.rpm
- systemctl start docker
- systemctl status docker

Everything looks good there.

uname -a: Linux rh7test 3.10.0-123.8.1.el7.x86_64 #1 SMP Mon Sep 22 19:06:58 U

[2015-08-12 01:46] kunyan opened #15505 "docker created files in volumes as root, it's there any way to make it as current user ?"
I want use Django in docker and add local directory as volumes mount into it, but when I use manage.py create some files. all files create by "root", is there any way to make them belong to my current user ?

[2015-08-12 01:46] GordonTheTurtle commented on #15505
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-12 02:11] abronan commented on #15496
You can only add labels when creating a container and search based on those labels. I don't think that there is any mechanism as of now to delete/update a key and use it as a primitive key/value store inside the container to store metadata. Not sure if this is something that will be added in a near future though.

/cc @icecrime @tiborvass

[2015-08-12 02:24] kunyan commented on #15505
[code]

Provide additional environment details (physical.):

List the steps to reproduce the issue:
1. create a configuration follow https://docs.docker.com/compose/django/ , (before "Build the project")
2. add privileged in docker-compose.yml or execute `sudo setenforce 0 ` to make container cloud write file into volumes.
3. run `docker-compose run web django-admin.py startproject composeexample

[2015-08-12 02:34] coztest opened #15506 "why does docker save or export command haven't a gzip or bzip2 options?"
I find that docker/pkg/archive has gzip or bzip2 CompressStream, if I want to save a tar.gz, I must use pipe like save | gzip or change docker source?

[2015-08-12 02:34] GordonTheTurtle commented on #15506
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-12 02:58] McAlister commented on #14083
I have an experimental swarm going but can't seem to create a network.  This happens:

[ec2-user@ip-172-31-47-154 ~]$ docker network create -d overlay intc
Error response from daemon: 404 page not found

I'm guessing the "not found" is from an attempt to access a key/value store that the documents say the overlay driver needs.  Since all my nodes are already set up I don't need Machine to make the

[2015-08-12 03:08] aaae opened #15508 "Why digest fields are displayed as none Type?"
$ docker images --digests=true
    REPOSITORY                         TAG                 DIGEST              IMAGE ID            CREATED             VIRTUAL SIZE
    docker.io/mysql                    5.6.26              <none>              a128139aadf2        2 weeks ago         283.8 MB
    docker.io/redis                    latest              <none>              0ff407d5a7d9        3 weeks ag

[2015-08-12 03:08] GordonTheTurtle commented on #15508
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-12 03:09] gondor opened #15509 "gelf-address is not used in daemon mode"
When specifying the `--log-opt gelf-address=udp://host:ip` in the `/etc/default/docker` it is not used and during container startups issues an error from within the daemon.

**docker version:**  `Docker version 1.8.0-rc3, build 696147b`

**docker info:**
[code]

**OS:**
[code]

**Environment Details:** AWS EC2 instance running docker and mesos slave.
**Actual Results:**
[code]

**Steps to Reproduc

[2015-08-12 03:09] GordonTheTurtle commented on #15509
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-12 03:10] gondor commented on #15509
@GordonTheTurtle Did I not do it correctly?  Above has everything you needed and more?

[2015-08-12 03:58] chollier commented on #12823
still experiencing the same with 1.8

[2015-08-12 04:04] kunyan commented on #15505
I found a solution, just add --user 1000:1000
or add in docker-compose.yml

[code]

[2015-08-12 04:04] #15505 closed

[2015-08-12 05:00] litmanovich commented on #14048
This is a test machine which runs continuous builds to make sure the environment is stable. I think we can keep it in this state for a while.

[2015-08-12 06:08] felixb commented on #14033
We upgraded to `2.6.32-573.1.1.el6` and everything works fine again.

[2015-08-12 06:18] mariussturm commented on #15475
I am following this one here. Will take a look!

[2015-08-12 06:25] thaJeztah commented on #14048
@litmanovich thanks! let me see if I can get some attention here :-)

ping @vbatts @rhvgoyal could you have a look please?

[2015-08-12 06:46] thaJeztah commented on #15475
gelf issue is in https://github.com/docker/docker/issues/15509

[2015-08-12 06:54] kolyshkin opened #15515 "btrfs loses information"
I am creating a new btrfs filesystem and try to build Docker on it, it fails like this:

I have isolated the problem and created a simple Dockerfile to demonstrate it. The following is 100% reproducible.

[code]

[2015-08-12 06:54] GordonTheTurtle commented on #15515
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-12 06:58] kolyshkin commented on #15515
I feel pretty stupid, I wasn't expecting it to fail in this so simple way, so maybe I am doing something obviously wrong? This is how I prepare for this:

[code]

JFYI, to work around the problem I did this:
[code]

So, it looks like the results of a very small (in terms of execution time or filesystem footprint) RUN line in Dockerfile are somehow lost.

[2015-08-12 07:02] nwind21 commented on #15476
I also have the same issue.  None of the dm.options such a thinpool, fs, metadatadev are recognized.

I did a clean install on a VM of Docker 1.7.1 and inspected the docker-storage configuration and the usage has not changed.

I did a yum downgrade to 1.6.2-14.el7.centos and the flags work fine.

[2015-08-12 07:11] lunarfs commented on #15481
I will get back with a reproduce, working on it.. a simple java process filling up memory does not trigger this.

[2015-08-12 07:38] qdaxb commented on #15498
I can't start docker daemon 1.8.0 on centos 7.1. Here's debug output:
[code]
and check-config.sh output:

[code]

[2015-08-12 08:32] arienkock commented on #11049
since there are `--ulimit` and `--cgroup-parent` and in the future other `docker run` options you might want to pass to a build command, perhaps make it more generic and add a way to pass arbitrary args?

    docker build --run-args="--cap-add=SYS_PTRACE" .

[2015-08-12 08:56] kolyshkin commented on #15515
The workaround I described is not working -- it fails on a later stage, telling there is no curl, but it was installed during a previous step. Same thing -- some changes to images are somehow lost.

[2015-08-12 09:02] unclejack commented on #15515
@kolyshkin That doesn't look like an official kernel. Can you try to reproduce this problem using the distro provided kernel, please?

[2015-08-12 09:29] e-max commented on #15283
No.  No panic.   Thanks.  Is there any additional information or test I can provide in order to help with this issue ?

[2015-08-12 09:32] vincentwoo opened #15517 "There are a bunch of layers on the hub with nonconformant whiteout files"
I understand both of the following situations with regards to [this part of the docker image spec](https://github.com/docker/docker/blob/master/image/spec/v1.md#creating-an-image-filesystem-changeset) to be nonconformant:

* A file in the tar stream that has a parent directory that starts with `.wh.`. In particular: `.wh..wh.plnk/292.1436735`
* A directory in the tar stream that starts with `.wh.`

[2015-08-12 09:32] GordonTheTurtle commented on #15517
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-12 09:52] vincentwoo commented on #15517
from my tower, gordon, i stab at thee

[2015-08-12 09:54] albers opened #15518 "1.8.0 release notes document undefined option `--dangling`"
In https://github.com/docker/docker/releases/tag/v1.8.0, section "Bug Fixes":

[code]

[2015-08-12 09:54] GordonTheTurtle commented on #15518
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-12 10:14] albers commented on #15518
It's also in CHANGELOG.md.

Probably refers to deleting dangling images that were identified with the dangling filter of docker images:
docker rmi $(docker images -q -f dangling=true)

Probably refers to #13681

[2015-08-12 10:16] serbaut commented on #3519
+1

[2015-08-12 10:18] jimlar commented on #3519
+1

[2015-08-12 10:31] albers commented on #15518
#15519 addresses the changelog part.

[2015-08-12 11:09] albers opened #15520 "1.8.0 release notes document non-existent logging driver "rollover""
Similar to #15518.

In https://github.com/docker/docker/releases/tag/v1.8.0, section "Runtime":

Also in changelog.

    # docker daemon --log-driver rollover
    INFO[0000] [graphdriver] using prior storage driver "aufs"
    INFO[0000] Listening for HTTP on unix (/var/run/docker.sock)
    FATA[0000] Error starting daemon: error finding the logging driver: logger: no log driver named 'rollover' is

[2015-08-12 11:09] GordonTheTurtle commented on #15520
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-12 11:21] albers commented on #15520
#15521 addresses the changelog part.

[2015-08-12 11:26] phemmer commented on #15497
[code]

This is the `$PATH` value from the host, not the container. If you want to see the `$PATH` of the container, use:

    docker exec 50e9c6ee0638 sh -c 'echo $PATH'

[2015-08-12 12:06] telmich opened #15522 "--insecure-registry not supported by docker run"
[14:04] wurzel:~% docker run -p 2379:2379 -v /usr/share/ca-certificates/:/etc/ssl/certs quay.io/coreos/etcd:v2.1.1
Unable to find image 'quay.io/coreos/etcd:v2.1.1' locally
Error response from daemon: invalid registry endpoint https://quay.io/v0/: unable to ping registry endpoint https://quay.io/v0/
v2 ping attempt failed with error: Get https://quay.io/v2/: dial tcp: lookup quay.io: no such host

[2015-08-12 12:06] GordonTheTurtle commented on #15522
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-12 12:39] telmich commented on #15522
It's seems to be a parsing issue, as stated in the above comment.

[14:38] wurzel:~% docker version; docker info; uname -a
Client version: 1.7.1
Client API version: 1.19
Go version (client): go1.4.2
Git commit (client): 786b29d
OS/Arch (client): linux/amd64
Server version: 1.7.1
Server API version: 1.19
Go version (server): go1.4.2
Git commit (server): 786b29d
OS/Arch (server): linux/amd64
Contain

[2015-08-12 13:08] KalleDK commented on #15498
Same problem with centos 7 inside VMware Player

Centos 7 minimal install
[code]

Logs
[code]

[2015-08-12 13:31] abierbaum commented on #15498
When I run docker daemon directly from the command line I have no issue:

[code]

I added the -D debug option to the options passed through systemd, but I can't find where the additional output is going.  Anyone with more experience with systemd that can point me in the right direction to provide additional details?

[2015-08-12 13:32] KalleDK commented on #15498
My guess is firewall rules

[code]

[2015-08-12 13:32] jakirkham opened #15526 "Support relative paths (with -v/--volume and -w/--workdir)"
It would be nice, particularly on the host side, if relative paths could be used here. Supporting this might be as simple as converting them to absolute paths once the arguments are parsed before continuing. On the container side, if there is a way to inspect the current workdir, this would, ideally, be simple, as well.

[2015-08-12 13:32] GordonTheTurtle commented on #15526
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-12 13:42] cpuguy83 commented on #15476
Have you explicitly set `-s devicemapper`?

[2015-08-12 13:44] KalleDK commented on #15498
I can have firewalld running and then start the docker service one time now.. but it will fail if i restart it

[code]

[2015-08-12 13:47] abierbaum commented on #15498
I have verified that I can `systemctl start docker` on both a softlayer instance and a digitalocean instance.  It will run even if firewalld is also running.

When running inside a virtualbox VM though:
  * Docker service fails to run if firewalld is running
  * Docker service runs fine if firewalld is stopped

I am still trying to collect more details and will post them here when I get them.  In

[2015-08-12 13:47] cpuguy83 commented on #15518
Thanks!

[2015-08-12 13:49] phemmer commented on #15526
Relative to what?

[2015-08-12 13:53] jakirkham commented on #15526
On the host side? Relative to the current working directory.
On the guest side? Relative to whatever `WORKDIR` or what the `-w`/`--workdir` are set to.

[2015-08-12 13:55] cpuguy83 commented on #15478
Closing as a dup of #9665

[2015-08-12 13:55] #15478 closed

[2015-08-12 13:56] phemmer commented on #15526
Using the current working directory is impossible. The docker client doesn't necessarily reside on the same host as the docker daemon.

[2015-08-12 13:56] squeaky-pl commented on #15498
I am also affected by this. Docker 1.7 from main repo used to function until I updated today to 1.8. I run Centos 7 minimal install inside virtualbox.

journalctl shows me this:

[code]
however if i stop the firewall

[code]

I can start Docker daemon without problems

[2015-08-12 13:59] cpuguy83 commented on #14083
@McAlister Swarm does not support docker experimental features.
As such, 404 is happening because swarm does not implement the docker network API endpoints.

[2015-08-12 14:00] phemmer commented on #15522
`--insecure-registry` is a daemon option, not a run option.

E.G. `docker -d --insecure-registry foo.com`

However your issue is not related to `--insecure-registry`,  your issue is:

    no such host

Either your local DNS server is borked, or this is an issue with `quay.io`. (the former is more likely)

[2015-08-12 14:04] jakirkham commented on #15526
I don't know that I agree with your pessimism. The client can convert the host side path to absolute paths before passing them through.

[2015-08-12 14:07] mavenugo commented on #15498
@abierbaum @squeaky-pl @KalleDK As a quick check, can you enable debugs (-D)  and restart the docker-service ?

1. Modify `ExecStart=/usr/bin/docker daemon -D -H fd://` inside `/lib/systemd/system/docker.service`
2. `systemctl daemon-reload`
3. `systemctl restart docker.service`
4. paste the docker related debugs from `journalctl`

[2015-08-12 14:09] phemmer commented on #15526
No it can't.
If I'm on my client in `/home/phemmer`, and I run `docker run -v ./:/foo`, but the docker host is remote, and `/home/phemmer` doesn't exist there, what will be mounted?

[2015-08-12 14:17] jakirkham commented on #15526
Again, assuming you are referring to boot2docker. It actually mirrors your paths into the VM. So, there will be `/home/phemmer` in the VM. For instance, on my Mac I can run `boot2docker ssh` and `ls /Users/kirkhamj/` and see my home folder no problem. I am not sure how this case is handled with the Linux VM. In any event, I think you are missing my suggestion, which is with boot2docker cases the p

[2015-08-12 14:22] KalleDK commented on #15498
[code]

[2015-08-12 14:23] phemmer commented on #15526
I'm not referring to boot2docker.
The docker client operates via http calls. Thus the client filesystem does not have to look anything like the host's filesystem. boot2docker is popular yes, but it is not the only case where the client is remote to the host. Docker cannot support anything which relies upon the two to share a filesystem.

[2015-08-12 14:23] squeaky-pl commented on #15498
@mavenugo

[code]

[2015-08-12 15:14] mavenugo commented on #15498
@KalleDK @squeaky-pl  thanks. its clear that systemd times out after waiting for 150 seconds on some activity that docker daemon is busy with. Could you get a `strace` output for the docker daemon during this time ?  Also, as @abierbaum indicated is this seen only when started via systemd ?

I dont see this problem either in my centos7-minimal setup running in virtualbox with or without firewalld

[2015-08-12 15:16] abierbaum commented on #15498
@mavenugo What is the best way to get you the strace output you need?  I haven't done this before with docker so I want to make sure I get it right the first time. :)

[2015-08-12 15:28] McAlister commented on #14083
@cpuguy83 thats rather confusing then.  This is a red herring?

https://github.com/docker/docker/blob/master/experimental/compose_swarm_networking.md

[2015-08-12 15:46] cpuguy83 commented on #14083
@McAlister You'll notice the example is not using the top-level networking API's, it's only using `docker run` and docker engine handles the rest.
`docker network create`, however, is a full-blown top-level API command that swarm does not implement, because it's not part of docker engine's stable release.

[2015-08-12 16:01] fishnix commented on #13885
We are seeing the same thing as @filex on Centos 7 in our CI environment

[code]

[2015-08-12 16:03] McAlister commented on #14083
@cpuguy83 I think I found the proper set of instructions:

https://github.com/docker/libnetwork/blob/master/docs/overlay.md

Of course now I get to curse at EC2 for being on kernel 3.14 ... /shakes fist in the general direction of of the Oregon datacenter.

[2015-08-12 16:07] resouer opened #15527 "Best way to share existing file between containers?"
Here's the use case:

container A has a file in its image, say `/tmp/requirements.txt`
container B runs on the same host with A, and it need the txt to start, say:
[code]

Now what I am doing is like:

[code]

It works, but container A will exit(0) after `cp`.

So, is there any way I can hold the container A after cp?

Or is there any way to share existing file between containers?

volume is done

[2015-08-12 16:07] GordonTheTurtle commented on #15527
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-12 16:11] jgkamat commented on #14083
@McAlister You should be able to upgrade the kernel on your machines by changing the repository lists in /etc/apt/sources.list (to utopic?) and apt-get installing the new kernel. If you use 14.04:
[code]
as root

[2015-08-12 16:18] andrei-m opened #15528 "Default attach behavior in 'run' seems to contradict the documentation"
I am experimenting with the following commands:

[code]

(no output)

[code]

I expect both commands to output 'Hello world'.

The [documentation](https://docs.docker.com/reference/run/#foreground) claims that "Docker will attach all standard streams", however STDIN is not attached by the first command. Here is the debug-enabled server log. Notice the lack of 'stdin=1' in the attach POST:

[code]

[2015-08-12 16:18] GordonTheTurtle commented on #15528
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-12 16:18] psi-4ward commented on #6743
@candlerb very nice and could be so easy

[2015-08-12 16:24] cpuguy83 commented on #15527
The command you are using to start the container is just shell, you can do whatever you need.
Additionally you can start up a 3rd container to handle this instead of overloading your `cp` container with another command.

If your client is on the docker host, you can use `docker cp` to grab the file and place it into the volume.

You could also have both containers inherit the file from a common ba

[2015-08-12 16:24] #15527 closed

[2015-08-12 16:26] McAlister commented on #14083
@jgkamat Amazon EC2 boxes are a bit less cooperative than that ... it is possible to change their kernel but its less straightforward a yum update.

https://aws.amazon.com/blogs/aws/use-your-own-kernel-with-amazon-ec2/

If 3.16 isn't “EC2 compatible” I'll have to bake cookies for our yum repo guardian to convince him to add the rpm for the 3.16 kernel to the corporate repository where my on premis

[2015-08-12 16:34] BMouser opened #15529 "Docker-engine 1.8 not available for Ubuntu 14.10"
The new docker-engine PPA does not have docker 1.8 uploaded for Ubuntu 14.10 (Utopic). Instead it is docker 1.7.1 (still called docker-engine)

http://apt.dockerproject.org/repo/dists/ubuntu-utopic/main/binary-amd64/Packages

As a work around I changed my local /etc/apt/sources.list.d/docker.list to point to 14.04 which seems to work:
deb https://apt.dockerproject.org/repo ubuntu-trusty main

[2015-08-12 16:34] GordonTheTurtle commented on #15529
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-12 16:43] thaJeztah commented on #15529
this could well be possible; ubuntu 14.10 has been marked EOL and is no longer supported (both by Ubuntu and Docker); see http://fridge.ubuntu.com/2015/07/03/ubuntu-14-10-utopic-unicorn-reaches-end-of-life-on-july-23-2015/

I suggest to either use a LTS release (14.04) or Upgrade to 15.04

I'm going to close this issue, but feel free to comment here after I closed this

[2015-08-12 16:43] #15529 closed

[2015-08-12 16:55] squeaky-pl commented on #15498
@mavenugo Not sure if that helps but it seems to be stuck on this system call

[code]

[2015-08-12 16:59] achekulaev commented on #12469
+1
Having the same problem with bash/zsh on Babun

[2015-08-12 17:02] moxiegirl opened #15530 "Remove the terms folder"
* Replace any links to the files in /terms with links to reference/glossary.md
* Remove the /terms directory

[2015-08-12 17:02] GordonTheTurtle commented on #15530
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-12 17:05] moxiegirl commented on #15461
@fredlf @Evalle Sorry for the confusion folks. The page should be: https://docs.docker.com/reference/api/docker_remote_api/ --- the link with extra `/docker/` in the path was an artifact of our change to the build system in June.

The https://docs.docker.com/reference/api/docker_remote_api/ page is showing the image.  Let me know if you spot any problems.

[2015-08-12 17:05] #15461 closed

[2015-08-12 17:06] mavenugo commented on #15498
@squeaky-pl thanks. but could you enable strace in ExecStart, something like `ExecStart=/usr/bin/strace -o /tmp/strace-docker.log /usr/bin/docker daemon -D -H fd://` in docker.service file and capture the strace-docker.log ? Also, it would be helpful to see the /var/log/messages.

[2015-08-12 17:15] squeaky-pl commented on #15498
@mavenugo It seems that running through strace affects it somehow and causes it to fail in a different way

[code]

here is the strace output https://gist.github.com/squeaky-pl/eb5e175f5fe6d50c42a0

[2015-08-12 17:17] mrjana commented on #15498
@squeaky-pl One more thing that you can do is send `SIGUSR1` to  docker daemon and if docker daemon is anywhere near sane state it should dump the stack traces of all the go routines inside docker daemon. You have to start the daemon in debug mode though. If you can collect those traces and post it here that would be helpful.

[2015-08-12 17:18] mrjana commented on #15498
@squeaky-pl You can send SIGUSR1 to docker daemon by doing the following
[code]

[2015-08-12 17:25] squeaky-pl commented on #15498
@mrjana
[code]

[2015-08-12 17:25] abierbaum commented on #15498
@mavenugo Here is my strace output:  https://gist.github.com/abierbaum/6bc0bd5039559ab16828

journalctl --unit=docker

[code]

[2015-08-12 17:27] McAlister commented on #14083
For reference the Debian folks have put a free ec2 ami in the Amazon Marketplace that grubs you up to kernel 3.16.0-4  Image name:

Debian GNU/Linux 8 (Jessie)

The only others I found were $$$ images from Oracle and Redhat.  When you release you might add a list of docker-friendly ami's to a faq somewhere for people deploying docker into AWS.

[2015-08-12 17:30] mavenugo commented on #15498
as @squeaky-pl indicated, enabling strace in the systemd init isnt working. But the output for `kill -SIGUSR1` is useful.

@squeaky-pl the output that you provided is not complete. Can you please get the full trace output from `/var/log/messages` and paste it here ?

[2015-08-12 17:33] squeaky-pl commented on #15498
@mavenugo @mrjana

[code]

[2015-08-12 17:42] bradrydzewski commented on #15187
@icecrime would you mind providing more detail regarding this item:

If we are using `--net=container:<id>` today I'm wondering what impact this will have. Will it be possible for a group of containers to share a namespace, effectively accomplishing the same thing as `--net=container`?

[2015-08-12 17:48] mbdas commented on #10163
Any plan when this can go in? Is there any inherent difficulty in doing this? Would be great to see this in 1.8 or 1.9?

[2015-08-12 17:50] mavenugo commented on #15498
@squeaky-pl thanks. it looks like the docker daemon is stuck @ `FirewalldInit()` waiting for the firewalld process to get back with a response. I dont see the same issue with my
[code]

[2015-08-12 17:51] marcosArruda commented on #2045
A big +1 for this. Need to unexpose a port in a running container, just that. Or, override already exposed ports on run command.

[2015-08-12 17:55] thaJeztah commented on #15498
@mavenugo didn't @rhatdan recently look into some firewalld related things with Libnetwork?

[2015-08-12 17:55] rhatdan commented on #15187
Why is --net=host or --net-container:ID blocked?  Doesn't it just treat the PID as the real UID?

Are we developing --user=containerID?

[2015-08-12 18:12] squeaky-pl commented on #15498
@mavenugo

I am running `http://isoredirect.centos.org/centos/7/isos/x86_64/CentOS-7-x86_64-Minimal-1503-01.iso` Centos 7 Minimal

With VirtualBox
[code]

On a host that is
[code]

The guest OS shows me:

[code]

[2015-08-12 18:13] #14876 closed

[2015-08-12 18:31] KalleDK commented on #15498
@mavenugo @thaJeztah If you see my /var/log/messages where I enabled logging on firewalld.

[code]

I don't know if the getDefaultZone() is the culprint, but it got called everytime as the last thing before the timeout

[2015-08-12 18:33] mavenugo commented on #15498
@thaJeztah you mean https://github.com/docker/libnetwork/pull/409 ? It got merged into docker for v1.8.0.

@KalleDK Yep. that is the call that is made from docker to firewalld during the init, which gets stuck.
@rhatdan @alecbenson is this a known issue ?

[2015-08-12 18:38] LK4D4 commented on #15515
And 3.10 sounds little outdated.
@kolyshkin Do you think it is btrfs graphdriver bug?

[2015-08-12 18:39] pmandayam opened #15532 "Docker unable to start container - no such file or directory"
I am trying to run a container which runs an automated build. Here is the dockerfile:

   FROM ubuntu:14.04
    MAINTAINER pmandayam

    # update dpkg repositories
    RUN apt-get update

    # install wget
    RUN apt-get install -y wget

    # get maven 3.2.2
    RUN wget --no-verbose -O /tmp/apache-maven-3.2.2.tar.gz http://archive.apache.or
    g/dist/maven/maven-3/3.2.2/binaries/apache-maven

[2015-08-12 18:39] GordonTheTurtle commented on #15532
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-12 18:48] mrunalp commented on #15187
With some of the work that is being done in runc, --net-container:ID should work with user namespaces.

[2015-08-12 18:49] mrunalp commented on #15187
Actually, to correct myself, it will work with some limitations unless the usernamespace is also shared with the other container.

[2015-08-12 18:52] KalleDK commented on #15498
Don't know how much your zones differ, since you don't have the problem
[code]

[2015-08-12 18:54] pmandayam commented on #15532
docker version:
$ docker version
Client version: 1.7.1
Client API version: 1.19
Go version (client): go1.4.2
Git commit (client): 786b29d
OS/Arch (client): windows/amd6
Server version: 1.7.1
Server API version: 1.19
Go version (server): go1.4.2
Git commit (server): 786b29d
OS/Arch (server): linux/amd64

docker info:
$ docker info
Containers: 80
Images: 149
Storage Driver: aufs
 Root Dir: /mnt/sda1

[2015-08-12 18:57] dharmit commented on #15530
#dibs

[2015-08-12 19:01] Ankitmaroo commented on #13337
I am getting similar problem while running the docker pull from Jenkins. I cant reproduce it when i try to ssh into server and run similar pull command. Once it starts happening which is very random, it happens 3-4 times continuously and stops. Most of the time i restart daemon and problem resolves. Surprisingly in a given Jenkins job few pull from the same repo works fine and some timeout.

First

[2015-08-12 19:46] darnells opened #15533 "[1.8.0] CentOS 7.1 out of memory"
Description of problem:
Containers cannot be removed on CentOS 7.1 using Docker 1.8.0

`docker version`:
Client:
 Version:      1.8.0
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   0d03096
 Built:        Tue Aug 11 16:43:14 UTC 2015
 OS/Arch:      linux/amd64

Server:
 Version:      1.8.0
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   0d03096
 Built:        Tue Aug 11 16:43:1

[2015-08-12 19:48] moxiegirl opened #15534 "Run reference contains a bad link"
Found a dead link in logging run reference: docs.docker.com/reference/run/…

[2015-08-12 19:48] GordonTheTurtle commented on #15534
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-12 19:51] thaJeztah commented on #15498
@mavenugo yes, thanks! That was the PR I had in mind. The Docker issue it relates to mentions some things that weren't fully fixed yet (some errors), but not sure if those were anything that could cause problems; https://github.com/docker/docker/issues/14396#issuecomment-127781589

[2015-08-12 19:57] jfrazelle commented on #15533
this is a duplicate of https://github.com/docker/docker/issues/15498, its not the fact you cant remove the image it is the fact the daemon is not starting

[2015-08-12 20:04] mavenugo commented on #15498
@thaJeztah no. those are just error logs and doesn't impact the daemon start.
The real issue here is that in some cases (environment ?) firewalld is not responding to the call made from docker daemon.

Lets see if @rhatdan or @alecbenson have any insight into any such issues in firewalld.

[2015-08-12 20:27] darnells commented on #15533
@jfrazelle, I am reporting that I cannot remove a container, rather than an image. The hello-world container does run successfully with the provided script, but it enters a Dead state and cannot be removed. Is this still caused by #15498?

[2015-08-12 20:32] pseudonymous-foss opened #15535 "Fedora, packaging issue - service file doesn't read /etc/sysconfig/docker"
The default docker.service file doesn't have an 'EnvironmentFile' in its [Service] section. This is (to my understanding) the usual way of allowing custom flags to alter the behaviour of a daemon kind of like Ubuntu's /etc/default/<service> files.

Something like the following should do:

-- docker.service--
[Service]
EnvironmentFile=-/etc/sysconfig/docker
ExecStart=/usr/bin/docker -d -H fd:// $DA

[2015-08-12 20:33] GordonTheTurtle commented on #15535
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-12 20:33] mavenugo commented on #15498
@KalleDK @abierbaum @squeaky-pl Can you pls confirm if this happens only when you start the docker daemon through systemd (systemctl commands). ? and not say, when started docker daemon directly in a terminal ?

Also can you please post the configs that you have under

`cat /lib/systemd/system/docker.service`
`cat /lib/systemd/system/firewalld.service`
and any firewalld related service files under

[2015-08-12 20:34] jfrazelle commented on #15533
[code]

[2015-08-12 20:34] jfrazelle commented on #15533
well the error implies the daemon was not running:

[2015-08-12 20:35] jfrazelle commented on #15533
can you post the logs from the daemon

[2015-08-12 20:43] dpavlos commented on #15498
@mavenugo @KalleDK I had exact the same issue on a Centos 7 VM with the following kernel/firewalled/docker packages:

# rpm -q docker-engine
docker-engine-1.8.0-1.el7.centos.x86_64
# firewall-cmd --version
0.3.9
# firewall-cmd --get-default-zone
public
# firewall-cmd --get-zones
block dmz drop external home internal public trusted work
# firewall-cmd --get-active-zones
public
  interfaces: eth0 et

[2015-08-12 20:48] KalleDK commented on #15498
I do not have /etc/serviced path

[code]

[2015-08-12 20:55] pseudonymous-foss commented on #15535
➜  ~  docker version
Client:
 Version:      1.8.0
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   0d03096
 Built:        Tue Aug 11 16:46:16 UTC 2015
 OS/Arch:      linux/amd64

Server:
 Version:      1.8.0
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   0d03096
 Built:        Tue Aug 11 16:46:16 UTC 2015
 OS/Arch:      linux/amd64

-----------
➜  ~  docker info
Containers: 27

[2015-08-12 20:56] mavenugo commented on #15498
@dpavlos thanks. Yes. I could reproduce the issue with `selinux` enabled.

@KalleDK @abierbaum @squeaky-pl Can you please confirm ?

[2015-08-12 20:58] KalleDK commented on #15498
[code]

[2015-08-12 21:04] thaJeztah commented on #15535
Thanks for reporting, however, this has come up several times, for reference; https://github.com/docker/docker/pull/14513, and https://github.com/docker/docker/pull/15301

To customize your daemon options, the recommended way is to use drop-in files, as described here: http://docs.docker.com/articles/systemd/#custom-docker-daemon-options

I'm going to close this issue, because this was discussed i

[2015-08-12 21:04] #15535 closed

[2015-08-12 21:13] darnells commented on #15533
journalctl -u docker
[code]

cat /var/log/messages | grep docker
[code]

[2015-08-12 21:15] dpavlos commented on #15498
@KalleDK Yes I tried it with selinux completely disabled. Although, I suggest you to give it another try using the permissive mode (it also worked for me). Just remember to check if there is another docker process running before you try it.

$ sestatus
SELinux status:                 enabled
SELinuxfs mount:                /sys/fs/selinux
SELinux root directory:         /etc/selinux
Loaded policy

[2015-08-12 21:22] KalleDK commented on #15498
Your right
[code]

[2015-08-12 21:24] darnells commented on #15533
From `/var/log/messages`, the KILL/9 originates from an out of memory condition. I am using the default VM configuration from Vagrant, which appears to be ~500 MB.

free -m
[code]

[2015-08-12 21:30] darnells commented on #15533
Works for Docker 1.8.0 on Ubuntu 14.04 with ~400 MB RAM.

cat /var/log/upstart/docker.log
[code]

[2015-08-12 21:37] KalleDK commented on #15498
@mavenugo Signing of for the night, early work tommorow

[2015-08-12 21:40] abierbaum commented on #15498
@mavenugo I only run into the problem when using the docker daemon through systemd.  Starting directly works fine.

[code]

[code]

I don't have an /etc/systemd/service directory.

[code]

 Anything else that would be useful?

[2015-08-12 21:46] mavenugo commented on #15498
@abierbaum can you confirm if this works for you :
`Setting SELINUX=disabled in /etc/selinux/config and rebooting works though !`

[2015-08-12 21:48] DouglasRoyds commented on #13451
Just found this line in /var/log/kern.log, for what it's worth. The word-wrap is mine, it was all on one line in the logfile:

    Aug 12 03:36:30 acheron kernel: [6707185.374190]
    audit: type=1400 audit(1439294610.591:272): apparmor="DENIED" operation="mkdir" info="Failed name lookup - name too long" error=-36 profile="docker-default" name="//docker/aufs/diff/4ac9924ecd213a357801ff98e9b40067fc

[2015-08-12 21:50] squeaky-pl commented on #15498
@mavenugo I can confirm that everything works fine with `firewalld` running and `SELINUX=disabled`

[2015-08-12 21:50] cpuguy83 commented on #13451
ping @ewindisch https://github.com/docker/docker/issues/13451#issuecomment-130458279

[2015-08-12 22:02] rhatdan commented on #15498
Do you have docker-selinux installed?   If you use the package directly from docker, you will still need docker-selinux

[2015-08-12 22:11] aggieben commented on #9047
I see this in 1.7 on a gentoo metal host (i.e., not a VM), but not in a debian VM host.

[2015-08-12 22:11] thaJeztah commented on #15498
@rhatdan is that something that should be defined as a dependency in the rpm?

[2015-08-12 22:11] jfrazelle commented on #15533
I honestly think it is the same issue :/

[2015-08-12 22:12] dmcgowan opened #15536 "Broken multiple tag push"
When pushing multiple tags, layers which exist in multiple tags get excluded after the first tag is pushed.

Caused by `layersSeen` not being reset for each tag push.
https://github.com/docker/docker/commit/810d3b2642d4a82dc186d6eff8c2e487ee624bc5

[2015-08-12 22:12] GordonTheTurtle commented on #15536
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-12 22:15] jfrazelle commented on #15533
ill reopen but i dont know, can you run the daemon in debug mode

[2015-08-12 22:19] KalleDK commented on #15498
I did not have docker-selinux installed !! And it seemed to solve the problem... Whats funny though is that i never installed it with 1.7.1... did it depend there or something like that ?

[2015-08-12 22:23] dpavlos commented on #15498
Seems that docker-1.7.1 from centos extras depends on this

 $ yum deplist docker-1.7.1-108.el7.centos.x86_64 | grep selinux
  dependency: docker-selinux >= 1.7.1-108.el7.centos
   provider: docker-selinux.x86_64 1.7.1-108.el7.centos
  dependency: selinux-policy >= 3.13.1-23
   provider: selinux-policy.noarch 3.13.1-23.el7_1.13

[2015-08-12 22:31] jsindy opened #15537 "Ports aren't showing up in docker ps, and are failing for registrator."
docker run with "-p port:port" "-p port" or "-P" shows empty values in docker ps PORT line.

I believe this is also the reason why registrator shows the error.

2015/08/12 22:29:50 registrator: ignored: 14afdfe79c16 no published ports

Docker version 1.9.0-dev, build 0e3674d, experimental

[2015-08-12 22:31] GordonTheTurtle commented on #15537
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-12 22:32] jfrazelle commented on #15498
are you not using our packages or yum repo?

On Wed, Aug 12, 2015 at 3:25 PM, Pavlos Daoglou <notifications@github.com>
wrote:

[2015-08-12 22:34] jsindy commented on #15537
vagrant@net-1:~$ uname -a
Linux net-1 3.19.0-23-generic #24-Ubuntu SMP Tue Jul 7 18:52:55 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
vagrant@net-1:~$ docker info
Containers: 4
Images: 51
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 59
 Dirperm1 Supported: true
Execution Driver: native-0.2
Logging Driver: json-file
Kernel Version: 3.19.0-23-generic
Operating S

[2015-08-12 22:36] KalleDK commented on #15498
@jfrazelle get.docker piped to sh (and thanks for the keynote talk, been very enligtning)

[2015-08-12 22:37] KalleDK commented on #15498
yum update -y --skip-broken
  yum install -y git curl
  curl -sSL https://get.docker.com/ -# | sh
  curl -L https://github.com/docker/compose/releases/download/1.4.0rc3/docker-compose-`uname -s`-`uname -m` -# > /usr/local/bin/docker-compose
  chmod +x /usr/local/bin/docker-compose
  service docker start
  chkconfig docker on

[2015-08-12 22:40] jfrazelle commented on #15498
and that requires docker-selinux, maybe i missed a few threads here, going
to re-read

On Wed, Aug 12, 2015 at 3:38 PM, Kalle Møller <notifications@github.com>
wrote:

[2015-08-12 22:41] KalleDK commented on #15498
Doing my script under 1.7.1 installed docker-selinux

[2015-08-12 22:43] vshiva opened #15538 "v1 registry - error pulling images with docker 1.8 / OEL 7.1"
I'm on  docker 1.8 (docker-engine.x86_64  /  1.8.0-1.el7 )
I'm trying to pull images hosted on my internal corporate registry.

using
docker pull registry.mycorp.com/myfavimg
this results in
_Could not reach any registry endpoint_

However I'm able to pull from docker hub without any issue

**$ docker info**
Containers: 0
Images: 15
Storage Driver: devicemapper
 Pool Name: docker-252:1-104464387-p

[2015-08-12 22:43] GordonTheTurtle commented on #15538
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-12 22:46] darnells commented on #15533
I can consistently remove containers with Docker 1.8.0 on CentOS 7.1 when I increase the VM memory to 1 GB, but things seem unstable at 768 MB (first run ok, second run hangs after reboot).

@jfrazelle, I am fine with closing this issue. I will let you decide whether it is "issue worthy" that CentOS requires ~1 GB RAM while Ubuntu only needs ~400 MB. Thanks for your time.

[2015-08-12 22:49] jfrazelle commented on #15533
It just seems super inconsistent....?

On Wed, Aug 12, 2015 at 3:48 PM, darnells <notifications@github.com> wrote:

[2015-08-12 22:50] jfrazelle commented on #15533
I almost feel like there is another factor involved?

On Wed, Aug 12, 2015 at 3:49 PM, Jessie Frazelle <jess@docker.com> wrote:

[2015-08-12 22:51] KalleDK commented on #15498
Did a clean minimal install yum update -f

[code]

docker-selinux is missing, it got installed when it was 1.7.1

[2015-08-12 22:54] phemmer commented on #15496
I recall seeing discussion on this idea back when labels were being considered, and it was rejected because: currently, there is no method to modify a running container (no api call, and nothing like a `docker update` command). Adding this capability would be a very slippery slope as then it becomes "well, we can update labels, why not X, or why not Y?".

[2015-08-12 22:54] aqtcole commented on #9118
I can reproduce as well with a self-signed cert:

[code]

So ca.crt is in the place docker wants it, and it works with curl, but not docker. The CN of the cert is 10.106.24.170.

[2015-08-12 23:01] KalleDK commented on #15498
And again couldn't start the service, after docker-selinux was installed it worked..

[code]

[2015-08-12 23:08] thaJeztah commented on #15538
IIRC, Docker Hub is using both a V1 and V2 registry, where Docker 1.6(?) and above clients will automatically use the V2 endpoints.

A hybrid setup was described in the old documentation http://docs.docker.com/v1.6/registry/deploying/#configure-nginx-with-a-v1-and-v2-registry but I'm not sure if that setup is still supported.

@dmp42 should docker 1.8 still be able to talk to a 1.0 registry?

[2015-08-12 23:19] fredlf commented on #15461
Cool. LGTM.

[2015-08-12 23:25] imoverclocked opened #15540 "docker takes forever to start when /var/lib/docker/volumes is huge"
On some nodes, docker takes many 10s of minutes to start.

$ sudo ls /var/lib/docker/volumes | wc -l
16641
$ sudo du -hs
133M	/var/lib/docker/volumes
$ sudo docker version
Client version: 1.6.2
Client API version: 1.18
Go version (client): go1.4.2
Git commit (client): 7c8fca2
OS/Arch (client): linux/amd64
Server version: 1.6.2
Server API version: 1.18
Go version (server): go1.4.2
Git commit (serve

[2015-08-12 23:25] GordonTheTurtle commented on #15540
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-12 23:28] darnells commented on #15533
As requested, here is the daemon debug output for `docker run --rm hello-world` (Docker 1.8.0, CentOS 7.1, 512 MB). The originally reported "Error deleting container: EOF" message occurs directly after the daemon is killed.
[code]

[2015-08-12 23:31] cpuguy83 commented on #15540
Closing since this is a dup of other reports, and is also no longer relevant since these are no longer traversed since 1.7 (which should help your startup time).
In docker 1.9 we should have a top level `docker volumes` command, and in Docker 1.8 you can specifically used named volumes (and as such re-use the same volume over and over quite easily).

[2015-08-12 23:31] #15540 closed

[2015-08-12 23:35] squeaky-pl commented on #15498
This is how I installed it:

I enabled the docker main repo

[code]

and installed package `docker-engine`

This what the `curl -sSL https://get.docker.com/ -# | sh` does

[2015-08-12 23:40] imoverclocked commented on #15540
$ sudo docker info
Containers: 76
Images: 102
Storage Driver: overlay
 Backing Filesystem: extfs
Execution Driver: native-0.2
Kernel Version: 4.1.3-181
Operating System: <unknown>
CPUs: 24
Total Memory: 94.38 GiB
Name: my.node.name
ID: FGQ7:ZOJP:WLTA:7VLH:5P44:GKZK:6F6Y:CJ7X:N6VE:OAW7:SC5O:NN3Y
$ uname -a
Linux my.node.name 4.1.3-181.el6siri #1 SMP PREEMPT Wed Jul 22 02:28:16 UTC 2015 x86_64 x86_6

[2015-08-12 23:40] markpollack commented on #11927
I get the same issue with ubuntu 14.04 and docker 1.7.1 (setup so I can run docker w/o sudo).
Lattice 0.2.7 -

`$ ltc create lattice-app cloudfoundry/lattice-app
Error fetching image metadata: open /etc/docker/certs.d/index.docker.io: permission denied`

 `sudo chmod 755 /etc/docker` as a workaround fixed the issue.

[2015-08-12 23:41] imoverclocked commented on #15540
Oh, awesome. Thanks.

[2015-08-13 00:04] cpuguy83 commented on #15537
I'm not seeing this with master.

Can you provide exactly your repro steps?
Also the output of `docker version`

[2015-08-13 00:07] cpuguy83 commented on #15528
I cannot reproduce but I'm on Docker 1.8 now.

[2015-08-13 00:08] cpuguy83 commented on #15522
@phemmer is correct

Closing.

[2015-08-13 00:08] #15522 closed

[2015-08-13 00:17] #15520 closed

[2015-08-13 00:36] dalanlan commented on #9665
+1

[2015-08-13 00:37] dmp42 commented on #15538
@vshiva can you provide docker daemon logs (in debug mode)?

Thanks.

[2015-08-13 00:40] jfrazelle commented on #15533
ya you are getting an out of memory error which is super odd that it doesnt happen on ubuntu, i think there are a few issues opened already about memory leaks

[2015-08-13 00:41] jfrazelle commented on #15533
I will keep this open tho

[2015-08-13 00:54] MichaelDrogalis commented on #5899
Hit this one. Incredibly frustrating to work through. Any status here?

[2015-08-13 01:01] hqhq commented on #10163
@mbdas We need https://github.com/opencontainers/runc/pull/105 be merged first, then I'll redo #13453 ASAP.

[2015-08-13 01:42] #14423 closed

[2015-08-13 01:51] vshiva commented on #15538
**$ uname -a**
Linux slcac663.us.oracle.com 3.8.13-98.el7uek.x86_64 #2 SMP Mon Jul 27 10:45:45 PDT 2015 x86_64 x86_64 x86_64 GNU/Linux

**command tried**
docker pull docker.xcorp.com/idcs/x-xe-11g:latest

**docker daemon logs (debug mode)**

DEBU[0054] Calling POST /images/create
INFO[0054] POST /v1.20/images/create?fromImage=docker.xcorp.com%2Fidcs%2Fx-xe-11g%3Alatest
DEBU[0054] hostDir: /etc/doc

[2015-08-13 01:57] abierbaum commented on #15498
@jfrazelle This is how I installed

[code]

[2015-08-13 02:04] mavenugo commented on #15498
@abierbaum thanks for the confirmation. I will edit your original issue description to specify the workaround so that it helps other users looking for the information.

[2015-08-13 02:09] pfremm commented on #14948
I have this working now without issues.

[2015-08-13 02:09] #14948 closed

[2015-08-13 02:19] #15536 closed

[2015-08-13 02:36] resouer commented on #15527
@cpuguy83  sorry, my mistake, I can use volumes-from instead and does not have to mount host dir inside container.

[2015-08-13 02:57] McAlister commented on #14083
Hrrmmm ... I'm seeing things in etc/hosts but the traffic doesn't seem to be getting from point A to point B.

admin@ip-172-31-33-164:/docker$ docker network ls
NETWORK ID          NAME                TYPE
8d03f93006e6        intc                overlay
d856ce91c4e8        none                null
5ea54da5e8b6        host                host
dad21bbeb170        bridge              bridge

admin@ip

[2015-08-13 03:34] resouer commented on #15527
@cpuguy83  My mistake, if do not provide host dir, -v will copy file from mount point to the host dir, so the requirements.txt will not missing. I can use volumes-from to fix this now! Thanks!

[2015-08-13 04:35] Pensu commented on #15528
Can't reproduce this on ubuntu with same docker version, I can output 'hello world' with both commands.

[code]

[2015-08-13 04:41] dharmit commented on #15530
@moxiegirl Could  you help me get started on this? It's my first time contributing to Docker.

From the description, I understand that the docs need to be updated with links to docs/reference/glossary.md instead of existing docs/terms.And all the docs reside in docs/ directory. Is that right?

[2015-08-13 04:51] dbremmen opened #15548 "loop device mounted on container contents are not visible from the host on a shared volume"
I'm trying to create a loop device in the container inside a shared volume with the host and create a loop device inside. But the loop device contents are not visible from the host.
Maybe is there a better way to achieve this or a workaround.

These are the steps that I followed.

a) start a docker container with a volume shared between the container and the host
sudo docker run -it -v /home/test:

[2015-08-13 04:51] GordonTheTurtle commented on #15548
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-13 05:13] nwind21 commented on #15476
No, I did not.  I'll try it on another Vagrant in a couple days and let you know, I'm going to work with the 1.6.2 for now.

[2015-08-13 05:14] Pensu commented on #15488
@Red-wolf-s-husband Did you try building static library for pcre? I had the similar issue, I used static library and that resolved it for me.

[2015-08-13 05:16] mitchcapper commented on #12489
@dmp42 I gave this a shot running head and its still double pushing the same base image.  Running the latest version of distribution.  What is interesting is it says:
d07b7229f8b7: Image successfully pushed
now instead of already pushed.   But if I push another dockerfile with the same base image I get:
d07b7229f8b7: Image successfully pushed
again.

Client:
 Version:      1.9.0-dev
 API version:

[2015-08-13 05:35] jamesmoey commented on #6880
Using Docker version 1.7 also experience this issue.

[2015-08-13 06:10] snowch commented on #15341
I've run into this issue using the docker image downloaded from [here](http://www-01.ibm.com/support/knowledgecenter/SSPT3X_4.0.0/com.ibm.swg.im.infosphere.biginsights.product.doc/doc/whichvers.html) and started using:

    docker load --input bi_v401_iop_spark.tar
    echo "" | docker run -i --name iop_cont -e TERM=xterm \
      --privileged=true -P -p 8080:8080 -p 51000:51000 \
       -p 8443:84

[2015-08-13 06:13] abilashks commented on #15476
nope din't set that option

[2015-08-13 06:19] pleerock opened #15549 "Dockerfile naming convention"
When there are lot of dockerfiles in a project "How do I name them" question is coming. Docker community need to came up with a good convention, something better then "Dockerfile".

Something I can suggest is:
use `.dockerfile` extension. This give us at least these two good opportunities.
First, we can name files this:
`nginx.dockerfile`
`php.dockerfile`
`app.dockerfile`
`mysql.dockerfile`
...
or

[2015-08-13 06:19] GordonTheTurtle commented on #15549
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-13 06:35] dmp42 commented on #12489
@mitchcapper the optimization introduced a regression, and we rolled it out for now.

[2015-08-13 07:10] fbuchinger opened #15552 "Cannot search images in private registries with the Docker remote API"
The Docker Remote API seems to be inconsistent when dealing with private image registries: though I can create an image using [a private image registry](https://docs.docker.com/reference/api/docker_remote_api_v1.20/#create-an-image), I cannot search for available images in private registries - the [search  method](https://docs.docker.com/reference/api/docker_remote_api_v1.20/#search-images) seems

[2015-08-13 07:10] GordonTheTurtle commented on #15552
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-13 08:45] BjRo opened #15553 "Filtering containers via labels seems to be broken after upgrade to docker-toolbox"
**Description of problem**

I just updated this morning my docker dev setup to use `docker-toolbox` instead of `boot2docker` and docker installed via `homebrew`. I had previously `docker 1.7.0` installed.

Before the update I was able to filter containers based on labels using this query

[code]

After the upgrade to `docker 1.8.1` the filter query does not match anything on `docker ps` anymore. H

[2015-08-13 08:45] GordonTheTurtle commented on #15553
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-13 08:49] chakrit commented on #15537
Seeing this as well for this command:

[code]

`docker ps` shows:

[code]

No port information is shown. And supposedly, it wasn't mapped either as I can't even `telnet` into the port.

`docker version` is as follows:

[code]

[2015-08-13 08:57] ahmetalpbalkan commented on #13802
@LK4D4 issue still happens in 1.8.1. Is the fix in?

I can easily/frequently hit this in CoreOS 723.3.0 (stable) when I `docker restart` some container (that has `--restart=always`) and it fits @ibuildthecloud's description over at https://github.com/docker/docker/issues/7015#issue-37804746 at @c2h5oh's comment above.

[2015-08-13 09:28] albers commented on #15520
@thaJeztah Sorry, this is not fixed in the release notes yet. Could you please re-open?

[2015-08-13 09:35] Nurza opened #15555 "[API] can't get one container size"
Hello, i am using the Docker API v1.20.

My problem is:

I can get all containers' size with: `GET /containers/json?all=1&size=1`

But i can't get only one container's size with: `GET /containers/4fa6e0f0c678/json&size=1`
Because the "size" parameter does not exist.

I am running a cluster with +50 containers and the first request results docker daemon use 100% cpu (one core) and +1G RAM. It's a h

[2015-08-13 09:35] GordonTheTurtle commented on #15555
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-13 09:59] BenHall commented on #15494
This might explain https://github.com/docker/distribution/issues/824

In 1.8 I think I had the two working together but I think 1.7 had the issue.

[2015-08-13 10:15] rhatdan commented on #15498
If docker is going to package up their own packages for centos and rhel they should add the dependency for handling of docker-selinux.

Although I would recommend that centos/rhel uses use the packages from centos/rhel repos.

[2015-08-13 10:23] BenHall commented on #15341
I'm still experiencing this. I've downgraded from 15.04 to 14.04 but still same experience. Points towards a network driver? It's a physical machine so drivers are more viable than a VPS?

[code]

[code]

[2015-08-13 10:55] Integralist opened #15556 "--rm flag error"
Apologies if this is in the wrong place. I wasn't sure where best to stick this issue...

I have the following `docker run` command (using Docker 1.8):

[code]

But I'm seeing the error message:

[code]

I don't quite understand this error, could anyone suggest why I might be getting this?

To be clear: we weren't seeing this AFAIK with Docker 1.7

[2015-08-13 10:55] GordonTheTurtle commented on #15556
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-13 10:58] Integralist commented on #15556
Closing this as it looks to be user error. Appears the flag at the end `--fail-level F` is causing an error. Not sure why this worked in previous version of Docker, but it's something I can work around for now

[2015-08-13 10:58] #15556 closed

[2015-08-13 11:22] terror96 opened #15557 "Daemon does not accept an IPv6 address to bind to"
The '-H' option does not support IPv6 addresses but returns an error: Invalid bind address format. pkg/parsers/parsers.go::ParseTCPAddr should be modified to accept IPv6 addresses in the format where the IPv6 IP number is encoded in square brackets, e.g. [2001:db8:1f70::999:de8:7648:6e8]:100.

[2015-08-13 11:22] GordonTheTurtle commented on #15557
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-13 11:23] phemmer commented on #15548
This is currently the expected behavior, and is not supported.

There are 2 open feature requests which would add support for this, #10088 and #14630
There is an open PR at #14097

[2015-08-13 11:26] phemmer commented on #15537
@chakrit You're using `--net="host"`. Port mapping have no use when using host networking, as your container is using the host's network stack. Meaning when your app listens on a port, it's listening on the host's port.

[2015-08-13 11:39] binhex opened #15558 "docker 1.8.1 cannot pull from redhat registry"
docker version:
[code]

docker info:
[code]

uname -a:
[code]

Environment details:- virtual machine running Ubuntu

**Steps to reproduce:-**
1. docker pull registry.access.redhat.com/rhel6.5:latest

**Describe the results you received:**
Using default tag: latest
Pulling repository registry.access.redhat.com/rhel6.5
Tag latest not found in repository registry.access.redhat.com/rhel6.5

**Describe

[2015-08-13 11:39] GordonTheTurtle commented on #15558
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-13 12:48] newhook commented on #13670
Using the following also causes issues:

deploy@vagrant-ubuntu-trusty-64:/etc/apt/sources.list.d$ docker run --rm -p 24224:24224 -v /home/deploy/deployed/fluentd/config/fluentd.conf:/fluentd/etc/    fluent/fluentd:latest
Error response from daemon: Cannot start container 379f47ffc3d63e9199f675c7929aafe4463e16c41a397348a7d0e36b1c6bf61c: [8] System error: not a directory

This is problemetic as it i

[2015-08-13 12:50] geovanisouza92 commented on #7249
:+1:

[2015-08-13 12:50] geovanisouza92 commented on #8854
:+1:

[2015-08-13 13:03] rhvgoyal commented on #14048
@litmanovich

Can you enable debug messages in docker daemon using -D option and try to start container again and see if there are any additional debug messages in logs.

Right now I can't even figure out where is the lstat() call in the code. I need to nail that down first.

[2015-08-13 13:14] litmanovich commented on #14048
I added -D to daemon options, will send the log when it fails again with lstat error

[2015-08-13 13:20] rhvgoyal commented on #14048
@litmanovich

Is that container "96881bb6d7a6afd6e6d448a50bcfe37a8c2f10a1f8e7b9407a2bc13abe4f5abd" still around? Can we try restarting same container and see if problem happens or not.

[2015-08-13 13:26] litmanovich commented on #14048
No, we have to delete the containers, otherwise after a certain number of exited containers docker gets  stuck.

[2015-08-13 13:28] rhvgoyal commented on #14048
@litmanovich

Ok, so if this time you get into this error, keep that container around. We will have to start it multiple times in an attempt to be able to reproduce the problem and take it from there.

[2015-08-13 13:34] litmanovich commented on #14048
Ok, I will keep the container if it fails with lstat error.

[2015-08-13 13:53] pdericson commented on #10824
Just want to point out that this has had me chasing phantom memory leaks for more hours than I care to admit ;)

top says "18.4" MB, docker stats says "192.9" MB.

<img width="436" alt="screen shot 2015-08-13 at 11 47 59 pm" src="https://cloud.githubusercontent.com/assets/2298137/9251305/da812522-4215-11e5-9d73-71a20f86c94f.png">

[2015-08-13 13:56] dhilipkumars commented on #3285
+1

[2015-08-13 14:05] icecrime opened #15561 "Error pulling down image: "archive/tar: invalid tar header""
## Reproduced with Docker 1.7.1:

Client:

[code]

Daemon:

[code]

Relevant error:

    ERRO[0029] Error from V2 registry: ApplyLayer exit status 1 stdout:  stderr: archive/tar: invalid tar header

## Reproduced with Docker 1.8.1:

Client:

[code]

Daemon:

[code]

Relevant error:

    ERRO[0032] error copying from layer download progress reader: download canceled

Ping @rockyluke! :kiss:

[2015-08-13 14:05] GordonTheTurtle commented on #15561
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-13 14:27] abierbaum commented on #15498
@rhatdan I have been debating which source (redhat or docker.com) to use for the packages we use in production.  I had opted with docker.com for now simply because it seemed like there was a pretty big lag in the past (centos/rh 6) with getting fixes and updates into the epel repository.  What is the story on this as it relates to RH7?  For example how long until 1.8.0 lands in the RH7 repositorie

[2015-08-13 14:27] bfirsh commented on #2700
Boom.

http://blog.docker.com/2015/08/content-trust-docker-1-8/

[2015-08-13 14:27] #2700 closed

[2015-08-13 14:44] moxiegirl commented on #15530
@dharmit Happy to help. Make sure you read through [the contributor's guide](http://docs.docker.com/project/make-a-contribution/)

Let me outline what I would do.

1. Clone the 'docker/docker' repo
2. Search the 'docs/*.md' source files to links to the files in 'terms/`
3. If I find any links, replace them with links to the term is `glossary.md`
4. Build the documentation with `make docs`
5. Verif

[2015-08-13 14:45] Red-wolf-s-husband commented on #15488
@Pensu How? I build this error occurs when I try to build lvm2.

[2015-08-13 14:53] rhatdan commented on #15498
Lag is in the eye of the beholder.  Compared to most docker packages, we are incredibly quick.

We release every 6 weeks.  We want to take a docker release through our full release q/a process.  SO in worse case it could take almost 12 weeks, although we usually try to push it.

Unfortunately Since we have already entered our 6 week period before 1.8, it will have to wait til the next 6 week perio

[2015-08-13 14:58] KalleDK commented on #15498
@rhatdan we're using centos repos in prod, but its nice to experiment with the new builds ;)

[2015-08-13 14:58] jsindy commented on #15537
@cpuguy83 I am running 1.9.0-dev, build 0e3674d

I get the same output as chakrit but without running -net=host

[2015-08-13 15:12] gjvoit opened #15562 "Removing Images Error"
Hello,

Currently running Docker on AWS with Amazon Linux AMI. Docker is working perfectly fine, but I'm just having some issues with removing old / untagged images. I believe we had this working last week with the same commands, but now our old images are not being properly deleted. I've managed to delete some of them, but even going through by hand doesn't work.

I have searched around a fair am

[2015-08-13 15:12] GordonTheTurtle commented on #15562
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-13 15:38] jsindy commented on #15537
[code]

[2015-08-13 15:39] abierbaum commented on #15498
@rhatdan A lag of 6 weeks seems fine for our needs.  With CentOS 6.6 the lag seemed much longer (especially while waiting for critical bug fixes).  From what I am seeing it looks like docker fixes/updates get more priority in RH7.  Thanks.

[2015-08-13 15:41] jsindy commented on #15537
Looks like another symptom is once you kill the container it does not release the port either.

Error response from daemon: Cannot start container 411a30710f8b3423f383b454c9934e7e989cb77cf1a3d83bc9e394a3cf64a472: Bind for 0.0.0.0:9999 failed: port is already allocated

[2015-08-13 15:58] dverbeek84 commented on #12603
I have followed #11407 but this did't not help.

[2015-08-13 16:07] Mordead opened #15564 "[DOC] Mistake for location of RSA keys with DockerToolbox on Windows"
Hi,

There is a mistake in documentation for windows installation, in the part to connect with putty (Login with PUTTY instead of using the CMD).

With DockerToolbox, RSA keys was not generated in **%USERPROFILE%\.ssh\id_boot2docker** but in **%USERPROFILE%\.docker\machine\machines\<nameOfYourMachin\**

The file to be modify :
docker/docs/installation/windows.md

Thanks :)

[2015-08-13 16:07] GordonTheTurtle commented on #15564
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-13 16:09] bfirsh commented on #7477
I've been playing around a bit with this.

Removing ID and created gets us a bit of the way there:

[code]

Still too long though. We could ignore `0.0.0.0`:

[code]

But still a bit long. Perhaps some creativity is needed to shorten the status... something parseable/scannable, but still short... `Exit (2) 23s ago` maybe?

Although the command can be shortened, we also would need to shorten anythi

[2015-08-13 16:10] JohnyDays commented on #15101
I still have this issue on docker 1.8.1. Removing `/etc/apparmor.d/docker` and running `sudo service apparmor reload` appears to fix it

[2015-08-13 16:13] deferraz commented on #6980
@patrickallaert I`m using a Debian Jessie box with CONFIG_EXT4_FS_SECURITY enabled and the problem still persists , looks like it is another issue

[2015-08-13 16:30] jfrazelle commented on #15498
In the meantime I will work on a docker-selinux package for our repo, I
hope you all can understand why we do not want to rely on a package we
don't control just in case there are breaking changes. But nice to know
there is a work around for this fix for now.

On Thu, Aug 13, 2015 at 8:40 AM, Allen <notifications@github.com> wrote:

[2015-08-13 17:01] shishir-a412ed opened #15566 "Docker Inspect Issue: Leading literal strings are duplicated when template resolution fails."
When you're using literal strings in a "docker inspect" format string, it seems that if a template resolution fails, leading literal strings can be duplicated. First, an example when it works, both without and with a leading literal string:

sh-4.3# docker inspect -f '{{.Architecture}}' httpd
amd64
sh-4.3# docker inspect -f 'My arch is {{.Architecture}}' httpd
My arch is amd64
sh-4.3#

But look wh

[2015-08-13 17:35] dmp42 commented on #15558
`curl https://registry.access.redhat.com/v1/repositories/rhel6.5/tags/latest` returns 404.

(while `curl https://registry.access.redhat.com/v1/repositories/rhel6.5/tags` returns the list of tags)

Other endpoints seem to be missing as well.

I suggest you bring this up with RedHat support.

[2015-08-13 17:42] thaJeztah commented on #15558
ping @rhatdan you may want to follow this one

[2015-08-13 17:48] dmp42 commented on #15552
Hi,

Issuing `docker search myregistry.com/searchsomething` should and will issue a request to myregistry.com

The corresponding remote API call being:
`/v1.20/images/search?term=myregistry.com%2Fubuntu`

That being said, the docker engine search functionality is still wired to the v1 protocol, and there is not yet a v2 protocol replacement for it, but this is another bug and is tracked already.

[2015-08-13 17:48] #15552 closed

[2015-08-13 17:52] JohnyDays commented on #15101
This problem has made any version of docker unusable on my development machine. Having tried 1.8.1 1.8.0 1.9.0 (experimental) and 1.7.1, all of them exhibit the same problem, making it impossible to delete containers. I have also tried disable AppArmor which did not fix it either. Is there some way to fully reset anything docker related and start from scratch? I have tried deleting /etc/docker and

[2015-08-13 18:20] jgkamat commented on #15101
@JohnyDays if this issue persists even after you reboot your machine, you might be seeing a different issue altogether! I didn't see this issue until late in the 1.8.0 experimental phase. Are you seeing this issue when you manually run the daemon with `docker daemon`? I don't remember having this issue when starting the daemon manually...

Maybe you and @BenHall are both seeing the same issue, as

[2015-08-13 19:07] uzyexe commented on #11486
+1

[2015-08-13 19:14] alanhdu opened #15569 "Cannot install from Linux binary"
When I try to install Docker from the binary at https://get.docker.com/builds/Linux/x86_64/docker-1.8.1, I get:

[code]

I'm running this on Ubuntu 14.04 64-bit on a Digital Ocean droplet:
[code]

[2015-08-13 19:15] GordonTheTurtle commented on #15569
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-13 19:23] mitchcapper opened #15570 "docker exec -i broken in head"
to reproduce:
docker run -d --name test busybox ping google.com

docker exec -i -t test sh
will hang

without the -I it is fine.

Client:
 Version:      1.9.0-dev
 API version:  1.21
 Go version:   go1.4.2
 Git commit:   599b760
 Built:        Thu Aug 13 18:26:26 UTC 2015
 OS/Arch:      linux/amd64

Server:
 Version:      1.9.0-dev
 API version:  1.21
 Go version:   go1.4.2
 Git commit:   d50881e

[2015-08-13 19:23] GordonTheTurtle commented on #15570
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-13 19:36] #8048 closed

[2015-08-13 20:03] thaJeztah commented on #15569
This is expected, because you didn't update the running daemon; to do that, stop the daemon, and find where it's installed (`which docker`), then replace the old binary with the new binary.

However, we now have a new APT/YUM repository, that provides dynamically linked binaries; see the blog and install instructions here; https://blog.docker.com/2015/07/new-apt-and-yum-repos/

I'm going to close

[2015-08-13 20:03] #15569 closed

[2015-08-13 20:33] yosifkit opened #15572 "CONFIG_NETPRIO_CGROUP was renamed in the kernel"
Here is some of the discussion of the rename in the kernel: http://lists.openwall.net/netdev/2013/12/29/15.  The new name is `CONFIG_CGROUP_NET_PRIO`.

Related issue on the Gentoo Docker overlay: https://github.com/tianon/docker-overlay/issues/46

Linux Kernel Driver Database links: 3.13 was the last one with [CONFIG_NETPRIO_CGROUP](http://cateee.net/lkddb/web-lkddb/NETPRIO_CGROUP.html); 3.14 had

[2015-08-13 20:36] tomdee opened #15573 "[EXPERIMENTAL Networking] Services are not cleaned up when a container is deleted"
[code]

Is a user expected to manage these left over services themselves?

[code]

[2015-08-13 20:36] GordonTheTurtle commented on #15573
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-13 20:43] thiagozs commented on #8759
+

[2015-08-13 20:46] bwhaley commented on #6928
+1

[2015-08-13 20:57] stevvooe commented on #15283
@e-max At least we fixed the panic. ;)

This might be a lot to ask, but it might help if we could get an strace of the docker daemon during the download process. My theory is that the image GC is being overzealous and issuing a remove while the download is still ongoing. If we can catch the extra remove (in your case, `/var/lib/docker/tmp/GetImageBlob769439480`), we may be able to identify where i

[2015-08-13 20:58] mavenugo commented on #15573
@tomdee Yes. it is expected. `--publish-service` creates explicit service just like `docker service create` does. and being an explicit service, the lifetime of it will stay just like the lifetime of a service created via the `docker service create`. We remove any implicit endpoint created via `docker run` that are implicitly created without a --publish-service.

[2015-08-13 21:05] JohnyDays commented on #15101
I have rebooted my machine several times indeed, and the issue persists. I have also uninstalled and reinstalled several versions of docker, rebooting along the way. Over those iterations, after installing I can create containers, but not delete them, then I remove /etc//apparmor/docker, and I can delete them but not create/start them. I have now begun reinstalling ubuntu on my machine :cry: sorry

[2015-08-13 21:07] alanhdu commented on #15569
I don't think there's actually a running daemon here. I've been provisioning fresh Digital Ocean droplets from https://github.com/bflad/chef-docker, which AFAIK grabs the corresponding binary and plops it in place (I could be wrong though... my chef-and-docker-fu are pretty underdeveloped)

So:
[code]

[2015-08-13 21:09] tomdee commented on #15573
Hi @mavenugo, thanks for the reply. Can you give an example of how I can get implicit service creation?

[2015-08-13 21:13] mavenugo commented on #15573
@tomdee If you just do `docker run` without --publish-service, it will create an implicit endpoint. I wont call it the implicitly created services. They are just endpoints in the CNM model. They will get removed automatically when the container is removed.

[2015-08-13 21:27] andrei-m commented on #15528
This is a strange problem. My colleagues are running a similar setup: local Docker client, Docker daemon running on a CoreOS VM via Vagrant, same exact versions, but are not seeing the issue. I am the only one out of nine developers that is experiencing this.

So far I've tried using a different shell (from zsh to vanilla bash), completely recreating the VM, and running different containers - no l

[2015-08-13 21:39] tomdee commented on #15573
OK, makes sense. Closing.

[2015-08-13 21:39] #15573 closed

[2015-08-13 21:56] ivotron commented on #13983
I'm curious about the motivation behind the call to `sched_setscheduler`. Unless I'm misunderstanding the docs [[1]], the kernel uses RT scheduling (95% RT / 5% not RT), even if `CONFIG_RT_GROUP_SCHED` is not enabled, which means that within the root group, the 95% assigned to it is scheduled using CFS, which has the ability to set quotas and periods. Thus, [`cpu-quota`/`cpu-period` [[2]] might be

[2015-08-13 22:00] cyphar commented on #2700
:+1::shipit:

[2015-08-13 22:11] drocsid commented on #10324
I see the approach here as adding a host(s) as a build argument. It's really too bad we can't easily add a hosts to the Dockerfile as part of the build process. What's the advantage to adding a list of the hosts as a build argument, as opposed to providing a hostfile somewhere inside the Dockerfile, like I do for other resouces?

[2015-08-13 22:15] drocsid commented on #10324
The posted solution above is the closest to this feature, just looks sort of icky and it might not work for every container:

http://jasonincode.com/customizing-hosts-file-in-docker/

[2015-08-13 23:16] dverbeek84 commented on #13381
@aboch same issue here with the same kernel as @bear0330

[2015-08-13 23:17] asabla commented on #7477
@bfirsh I think you're on to something.

If you change Status (like you said) to 23s instead of 23 secs and trunc both image and ports column it should be short enough.

[2015-08-13 23:21] thaJeztah commented on #15548
thanks for reporting, @dbremmen, I'm going to close this issue, because this is covered by the issues @phemmer mentioned. Please continue the discussion on those issues thanks!

[2015-08-13 23:21] #15548 closed

[2015-08-13 23:36] thaJeztah commented on #15553
hm, I think this is related to https://github.com/docker/docker/pull/15503

If I understand correctly, you're trying to filter containers, based on labels set in the *image*, not set during run/create? (So not labels set via `docker run --label=foo=bar`)?

/cc @ibuildthecloud

[2015-08-14 01:02] drocsid commented on #10324
In another thread I read a reference to HOSTALIASES. This works well for me.

[2015-08-14 01:24] mrjana commented on #15341
@BenHall Can you please provide a dump of your `/etc/systemd/network` directory?

[2015-08-14 01:32] mrjana commented on #15341
@BenHall pls ignore. I see that you have downgraded from 15.04 to 14.04 and still seeing the same issue. 14.04 doesn't use systemd so the info I asked doesn't make sense

[2015-08-14 01:55] aanm commented on #7477
@bfirsh you're starting to work in the default view? Are you thinking the `--format` option some people are talking?

Also, we could use `s` instead of `sec` and `m` instead of `mins`

[2015-08-14 02:03] tgld commented on #12910
I am using docker client version :1.7.1
facing the exact same problem. is the issue resolved?

[2015-08-14 02:23] #15532 closed

[2015-08-14 02:48] jolks commented on #12823
Experiencing the same problem after installing Docker Toolbox on Mac. Restarting VM via ```$ docker-machine restart default``` did not work. Problem solved by restarting the computer.

[2015-08-14 02:53] phemmer commented on #15569
There is, note the last line in that `docker version` output:

    Error response from daemon: client is newer than server (client API version: 1.20, server API version: 1.19)

This shows that the server responded, but the server doesn't support the API version the client is using.

[2015-08-14 02:58] RoelVdP commented on #10324
--add-host=[] was previously added to docker run. Having the same option available for docker build would be great.

[2015-08-14 03:54] aespinosa opened #15575 "syslog-tag is not used in daemon mode"
Description of problem:

syslog-tag is not used in `docker daemon`

`docker version`:
[code]

`docker info`:
[code]

`uname -a`:

[code]

Environment details (AWS, VirtualBox, physical, etc.):
Vagrant+ VMWare Fusion with the  vagrant box in https://atlas.hashicorp.com/boxcutter/boxes/debian81

How reproducible:

Steps to Reproduce:
1. Install docker through https://blog.docker.com/2015/07/new-apt-

[2015-08-14 04:58] Pensu commented on #15488
@Red-wolf-s-husband Try installing pcre-static and pcre-devel packages. That should resolve the issue for you.

[2015-08-14 05:24] md5 commented on #5899
@MichaelDrogalis Using `--net host` is seldom the right solution. I don't think it makes much sense at all unless you're containerizing a network analysis tool, in which case it should probably run as `root`. If not, you may want to look at changing the process user with `gosu` or `chpst` instead of `su`. You're better off trying to figure out a better way to solve your problem.

[2015-08-14 05:34] gondor commented on #7336
+1

[2015-08-14 05:42] packetcollision commented on #9718
I have been able to reliably reproduce this issue by downloading multiple images with a common parent simultaneously via a bash loop in a local docker-machine VM:

This script reproduces it 100% of the time for me, using overlay or aufs (haven't tried devicemapper), with either vmware-fusion or virturalbox VMs.
[code]

Docker info:
[code]

[2015-08-14 05:46] Slammamonichio commented on #10894
+1 Streaming the download progress in the API would be great!

[2015-08-14 05:50] dmp42 commented on #12910
@tgid since this issue here is closed, it's quite likely *not* the same you are facing now.

Furthermore, if your problem is a temporary condition with the hub, please file a ticket over https://support.docker.com

[2015-08-14 05:50] LK4D4 commented on #9718
@packetcollision Just successfully run your script on master. Not all images were pulled from v2 though.

[2015-08-14 05:56] slene opened #15578 "cgroup-parent problem, Container does not exist: container destroyed"
docker version

[code]

docker info

[code]

uname -a

[code]

Hi, I use docker run with cgroup parent.

I tried to kill parent container when child running. It blocked and get wrong messge when I remove container.

So, is it a known issue? Or should work like that.

[code]

[2015-08-14 05:56] Pensu commented on #15562
@gjvoit Can you try 'docker rmi -f <image_id>'.

[2015-08-14 06:00] LK4D4 commented on #15578
@slene It is known, but you're the first with such usecase :) The problem that on stop docker trying to destroy all traces of container including cgroup hierarchy, it's obviously failing because it's used by another process. Weird errors are bad though.

[2015-08-14 06:08] packetcollision commented on #9718
@LK4D4 Hmm, figures. Since it seems to be a timing thing, maybe download or computer speed makes a difference, although I was hoping it would be reliable since I was able to make it happen on two different macs at work and at home, as well as in a VirtualBox being run inside a VMware OS X install on OS X (I'm testing deploying a dev environment, in case you're wondering what on earth I'm doing nes

[2015-08-14 06:15] slene commented on #15578
@LK4D4 :sob:  I guessed, bad luck. Have some roadmap to fix it? Right now I only kill containers by order of my program logic. Dirty by work.

[2015-08-14 06:34] LK4D4 commented on #9718
@packetcollision haha, I don't know, I definitely made pull code little cleaner yesterday, not sure if it fixed some issues as side-effect.

[2015-08-14 06:38] LK4D4 commented on #15578
@slene No, we actually never thought that it will be used this way :) With current design I don't see how it can be fixed, we can make errors more understandable. For now you can use cgroups created by hands as parent. Actually I don't see advantage of using parent from another container, you can just start it with same arguments and get equivalent cgroup constraints.

[2015-08-14 07:29] rtoma commented on #14365
@thaJeztah would you please answer @pdericson 's question?

We are considering upgrading from RHEL 6.6 to 6.7. Which is so much easier than upgrading to RHEL 7.

If Docker Inc would/could support the 6.7 kernel, that would make a lot of RHEL 6 users very happy.

[2015-08-14 07:32] BjRo commented on #15553
Yes that's what I'm doing.

I already suspected something like this. However switching to

[code]

also didn't make the filter query work again. There might be a regression

[2015-08-14 08:15] puja108 commented on #15558
Actually, we're experiencing the same problem with a self-hosted v1 registry, so could be a general v1 issue, not just redhat

[2015-08-14 08:22] puja108 commented on #15538
Seems to be the same endpoint problem like in https://github.com/docker/docker/issues/15558
We're experiencing the same issues with a self-hosted registry, everything works fine with pre-1.8 clients, though.

[2015-08-14 08:26] thaJeztah commented on #15562
What you're seeing is **not a bug**; the "untagged" images are actually the "intermediate" layers of other images, and Docker refuses to remove those image because *they're still used by other images*. For example, image `11d3e1492b84` is probably a layer of the `gjvoit/testimage` above it (you can see what the command was that produced that image, using `docker inspect -f "{{ .ContainerConfig.Cmd

[2015-08-14 08:26] #15562 closed

[2015-08-14 09:12] dalanlan opened #15581 "Should provide a way to install specific versioned docker"
Or at least give a kind doc.
Solution in #9697 seems not quite working now.
Feel free to close it if there is a dup. Yet i didn't find one.

[2015-08-14 09:12] GordonTheTurtle commented on #15581
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-14 09:30] owenhaynes opened #15582 "Docker dead lock on pulling images"
If two people do a pull of the same image at the same time using the same docker engine using the api a dead lock situation on layers each client report that its all ready being pulled by someone else, and never end up of this.

Docker 1.8.1
Registry 2.1

[2015-08-14 09:30] GordonTheTurtle commented on #15582
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-14 09:33] Boran opened #15583 "API: setting memory when creating a container"
I'm trying to create a container and set a memory limit for it via the api.

Steps to reproduce the issue
[code]
The above is ignored, since "docker inspect -f '{{ .Config.Memory  }}' test1"  returns no value.

Describe the results you expected: When inspecting the memory should be listed as a value.

Also tried sending "HostConfig":{"Memory":805306368}}"

Reference reading: http://docs.docker.com

[2015-08-14 09:33] GordonTheTurtle commented on #15583
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-14 09:42] rhatdan commented on #15498
The other big changes we do are around setting up the backing store using docker-storage-setup.  This allows for easier configuration of the devicemapper backend on physical disk

[2015-08-14 09:52] Boran commented on #15583
update above

[2015-08-14 10:05] ndeloof commented on #10023
@icecrime `--add-host=dockerhost:$( ifconfig docker0 ...)` will only work if you run it from dockerhost, not from a remote client (typically when using boot2docker from a non-Linux system)

so there's no way so far to start docker container with some host set to point to docker0/host IP
only alternative is to discover gateway IP from within container, which means software has to be customized to m

[2015-08-14 10:15] rockyluke commented on #15561
I'll give you extra information :

I'm using the last version (1.8.1) :

[code]

I build the image with it

[code]

Locally, the image is working

[code]

Thanks.

[2015-08-14 10:31] thaJeztah commented on #14365
@rtoma @pdericson

I don't think it's wise to revert this decision; without the backing of RHEL upstream, we cannot guarantee a stable solution (which, I think, would defeat the purpose of running a long term support OS)

In addition, having to keep the 2.6 kernel into account when developing new Docker features would hold-back the project as a whole, affecting all other users.

You are still able

[2015-08-14 11:02] rhatdan commented on #15299
I think this feature is a little bigger then just what @shishir-a412ed suggested.  What we want to do is to save the configuration of one backend storage device.  Change the back end and then apply the content back on top.

imagine a script

systemctl stop docker
docker-migrate -to /mnt/docker.lib
mv /var/lib/docker /var/lib/docker.old
Change back end configuration
docker-migrate --from /mnt/docke

[2015-08-14 11:08] hvisage commented on #14219
I'm getting this problem on docker 1.8.1 inside a Debian "jessie" VM:

root@mendix-deb:~# docker run -d mendix/mendix
WARNING: Your kernel does not support memory swappiness capabilities, memory swappiness discarded.
dce310eecf8fb8f713f5ec421b3ff59459025d48d8c20b47379aabfe51b05ca6
root@mendix-deb:~# docker info
Containers: 4
Images: 16
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing

[2015-08-14 11:08] Djelibeybi commented on #14365
Or switch to Oracle Linux 6 and the UEK3, which supports Docker 1.8 and higher.

[2015-08-14 11:57] pdericson commented on #14365
I am happily running Docker 1.7.1 on RHEL / CentOS 6.7 :)  Note that at night and on weekends I absolutely do not run RHEL / CentOS 6.7!

My point is, Docker Inc. needs to make the choice between meeting their customers where they are right now and pushing for the future without worrying about supporting a major segment of their install base.

I love the fact that so many cool new features are bei

[2015-08-14 12:28] thaJeztah commented on #15553
I just tested this on docker 1.8.1 on ubuntu, and filtering by *container* labels looks to be working;
[code]
however, filtering on *image* labels does indeed no longer work in 1.8;

[code]

[2015-08-14 13:17] markauskas commented on #7336
:+1:

[2015-08-14 13:37] mitchcapper commented on #15581
Part of the problem with this is docker doesn't generally backport security features currently.  It is certainly a problem when the client/server API changes and you need to use multiple clients depending on which host you are talking to.

[2015-08-14 13:44] Nightling opened #15585 "Increasing layer size depending on user/group IDs"
Description of Problem:

I only have docker installed on these two systems currently. Docker Hub builds are also affected.
It seems to be a universal problem so here we go:

`docker version`:

[code]

[code]

`docker info`:

[code]

[code]

`uname -a`:

[code]

[code]

How reproducible: 100%

Steps to Reproduce:

Build the following Dockerfile:

[code]

It doesn't seem to matter what base image we

[2015-08-14 13:54] pditommaso commented on #15283
Same problem here. Using Docker 1.7.1 the pull process hangs. While using version 1.8.1 the client returns the following error message:

    Unable to find image 'xx/yy' locally
    Error response from daemon: No such image: xx/yy

This is pretty a serious issue because makes impossible to having concurrent docker jobs to pull the same image.

Downgrading to 1.6.2 it works fine. Below you can find

[2015-08-14 13:58] Lawouach commented on #13983
Maybe I'm misreading it but, it wouldn't be enough to set the bandwidth. Indeed, you would still need to  allocated RT shares to the group:

period from /proc/sys/kernel/sched_rt_period_us and a run time of 0. If you
want to assign bandwidth to another group, reduce the root group's bandwidth
and assign some or all of the difference to another group.

As you say, cpu-quote/cpu-period are useful bu

[2015-08-14 14:04] cusspvz commented on #12910
I've deleted repo, tried again, it created one again automatically and I was able to push.
Didn't seem a temporary condition since i was able to reproduce.

[2015-08-14 14:06] nalind commented on #15585
Some (all?) of this appears to be useradd making sure that there's room for the user's entry in /var/log/lastlog and /var/log/faillog.  If you use the -l flag when running useradd, does that prevent what you're seeing?

[2015-08-14 14:14] LK4D4 commented on #15583
@Boran did you tried `docker inspect -f '{{ .HostConfig.Memory }}' test1` when set `HostConfig.Memory`?

[2015-08-14 14:24] leedm777 opened #15586 "Ubuntu (maybe other) apt repo missing metadata for older versions"
Being able to install specific versions of `docker-engine` is important for configuration management. Without this, I don't have control over which versions of `docker-engine` are installed on the various VMs, instances, and machines throughout my different environments.

The current apt repo [has the binaries for older revs](http://apt.dockerproject.org/repo/pool/main/d/docker-engine), but (at le

[2015-08-14 14:26] Nightling commented on #15585
It does, thanks. That's a weird way to handle auth logs.

Closing because it's not an issue in docker.

[2015-08-14 14:26] #15585 closed

[2015-08-14 14:32] MichaelDrogalis commented on #5899
@md5 To be fair, it doesn't make sense to support a feature, have it be broken, then say not to use it when the bug is reported. :) Sometimes I do want to turn off the network stack for higher performance.

[2015-08-14 14:36] cpuguy83 commented on #15586
ping @jfrazelle

[2015-08-14 14:37] MichaelDrogalis commented on #5899
Also FYI, I ran into this using while someone else's Docker image. Sometimes the problem is out of your hands. :/

[2015-08-14 14:38] mbert commented on #5899
For what I do ``--net host'' is just right. I get my services available on a known address. If I run more than one service on the same host, they can all talk to each other via localhost. I don't waste performance. Of course, I need to keep track of ports used on my host again, but that's more than worth it.

[2015-08-14 14:40] LK4D4 commented on #15582
ping @stevvooe
Might be related to other pull issues.

[2015-08-14 14:40] jfrazelle commented on #15586
This is a dup

[2015-08-14 14:44] cusspvz commented on #2733
+1 for CD

[2015-08-14 14:46] JendaPlhak opened #15587 "tup error: Unable to chdir to virtual job directory."
**Description of problem:**
Whenever I try to use tup in Docker, it returns error with message:
`[ tup ] [0.060s] Parsing Tupfiles...
@tupjob-1: Operation not permitted
tup error: Unable to chdir to virtual job directory.
 [                                                                                                       ETA~=??? Remaining=229

[2015-08-14 14:49] SergeyCherepanov commented on #14109
Hi!

Any way to fix it?

[2015-08-14 14:55] cpuguy83 commented on #5899
@MichaelDrogalis It's hardly broken.
This is 100% a host-level issue.
Note that this works just fine on boot2docker.

Being that setting `--privileged` does not seem to fix it, it would seem that AppArmor is not likely the cause here either.
Doing `--pid=host` does work in this case and indeed seems to fit the issue mentioned by the referenced sequenceiq post above.

If you are using `--net=host`

[2015-08-14 15:01] MichaelDrogalis commented on #5899
@cpuguy83 That's fine -- to most people, myself included, it's not obvious where the problem is because of how confusing the issue is. When I drop in here and see that there's a big, long open ticket against Docker describing the same problem, it makes me think there's still work to be done here. Thanks for the explanation.

[2015-08-14 15:13] peterkuiper commented on #15151
I'm also seeing this issue (or something similar) with 1.8.1:

[code]

I used `docker-compose up`. After stopping the containers the iptables entries are still there:

[code]

[code]

[code]
CONTAINER ID        IMAGE                COMMAND                  CREATED              STATUS                            PORTS               NAMES
59dc811cc019        dockertest_web       "/bin/sh -c 'python a

[2015-08-14 15:14] jfrazelle commented on #15586
Dup of https://github.com/docker/docker/issues/13191

[2015-08-14 15:14] #15586 closed

[2015-08-14 15:41] leedm777 commented on #15586
Sorry for the dup! Don't know why I couldn't find that issue earlier.

Thanks!

[2015-08-14 16:00] calavera commented on #7477
@aanm we already have the `--format` in docker 1.8. You can also change the default ps behavior in the client configuration file adding something like this:

[code]

You can set your default with the format you like better.

[2015-08-14 16:08] Jaykah commented on #14109
@SergeyCherepanov Switching to AUFS with a dynamic Docker 1.7.1 binary did it for me.

[2015-08-14 16:08] #14109 closed

[2015-08-14 16:12] stevenschlansker commented on #10613
This may well be worth calling out prominently in the documentation, perhaps a "preparing to go to production" section or the like.  We just ran into this issue, even with 10M inodes our disks are inching towards 100% inode usage.  And since we built all our clusters unaware of this problem, we may end up having to rebuild every machine because the inode density can only be set at filesystem creat

[2015-08-14 16:58] hoskeri opened #15588 "Plugin API: Pass Container ID/labels to plugins."
Since Labels have been added as a mechanism to embed custom metadata for containers, It would be useful for container ID's and/or labels to be passed to the plugins, so that the plugins can derive some context for these operations.

This helps plugin developers avoid having to maintain some state.

Also passing container ID to plugins will help resource management - having to keep track of referen

[2015-08-14 16:58] GordonTheTurtle commented on #15588
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-08-14 17:08] jfrazelle opened #15589 "[1.8.1]: ^C on pull broken"
^C on a pull is unrecoverable, and does not even show the message "layer being pulled by another client"