[2016-04-19 17:26] aboch commented on #22157
@narqo Thanks for confirming and providing the extra details.

The [code](https://github.com/docker/docker/blob/v1.11.0/vendor/src/github.com/docker/libnetwork/osl/interface_linux.go#L358) which programs the IPv6 address with the NO_DAD flag has not changed since it was added.

It use the vishvananda/netlink library to program the IPv6 address with the NO_DAD flag. Seeing you are on a 3.13 kernel,

[2016-04-19 17:33] sanimej commented on #22144
@byrnedo Is this delay in dig happening on one of the nodes, but other nodes are ok ? And, is this consistent or happens randomly ?

Its clear that there is some timeout when the queries are forwarded to external servers causing the delay.. if you can run the daemons in the debug mode and collect the traces when you do the dig it will  help.

[2016-04-19 17:36] matelukas commented on #22131
Hey @monoflash

I can see the same issue when using ext3/4 as backing file system.

Besides error you've mentioned I can see following warrning in dmesg when trying to run container.

`[ 1102.255035] EXT4-fs warning (device sda1): ext4_file_open:387: Inconsistent encryption contexts: 35281/65995
`

There is patch a patch for this issue mentioned here.

https://lkml.org/lkml/2016/3/22/31

There is

[2016-04-19 17:42] byrnedo commented on #22144
It's happening within 1 container alone. The node itself responds quickly to the dig.
I hadn't thought of trying to dig via consul on the node itself. Will do that next time.

It seems to happen after ~ 2hours of running the container. Then restarting that container solves it for another 2 hours.

Restarting the consul agent on the host does not fix it.

I can't really put the debug mode on until

[2016-04-19 17:44] ahmetalpbalkan commented on #22053
@thaJeztah I upgraded to docker-compose 1.6.2, the issue still persists and is intermittent.

my compose file is roughly like:

[code]

[2016-04-19 17:54] crosbymichael commented on #22113
@RRAlex i think #22125 should fix your issue you are having

[2016-04-19 17:55] ahmetalpbalkan opened #22165 "Removal of email field has broken engine 1.11.0↔docker-compose 1.5 pulling private images"
The removal of email prompt in `docker login` (and therefore the lack of "email" field in `.docker/config.json`) is causing docker-compose 1.5 (_released on Dec 3, 2015_) to fail **pulling images from private repositories** (incl. Docker Hub) with `"image [...] not found"` error during `compose up` against docker-engine v1.11.0.

Here is the error:

[code]

More details at https://github.com/Azure

[2016-04-19 17:57] stevvooe commented on #22112
SGTM

I was not aware of this behavior. If we did "short id" lookup, it should be on the other side of `@`, sans the `sha256` prefix.

[2016-04-19 17:59] liggitt commented on #22158
ok, will report there

[2016-04-19 17:59] #22158 closed

[2016-04-19 18:01] leafknode commented on #15020
Really annoying that this issue has been around for so long without any official reply or acknowledgement from the devs.

[2016-04-19 18:02] RRAlex commented on #22113
@crosbymichael It might indeed be the issue as I'm seeing working restarts that increase the counter.
Once it fails to restart once after, say, 20 restarts, it could explain why it stays stuck for a few hours...
cheers!

[2016-04-19 18:05] duglin commented on #22112
going to have to do this in stages since we need to deprecate it first before we remove it, but does this sound right to people:
[code]
So the generic form is:
[code]

@stevvooe I wasn't sure if you wanted to totally ban the inclusion of the `sha256` prefix or not. It feels a little odd to me that we would ban it when it does appear as part of the docker ID output/syntax.

[2016-04-19 18:21] lmillott commented on #22053
I'm seeing the same issue intermittently (about 10% of the time). Some version data:
**docker version:**
Client:
 Version:      1.11.0
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   4dc5990
 Built:        Wed Apr 13 18:34:23 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.11.0
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   4dc5990
 Built:        Wed Apr 13 18:34:23

[2016-04-19 18:48] cpuguy83 commented on #15020
It would be interesting to see the output of [pmap](http://linux.die.net/man/1/pmap)
Also a quick search on java virt mem usage brings me to tweaking `MALLOC_ARENA_MAX`, seems to be an issue with glibc >= 2.1

This is not likely to be a Docker issue but rather a misconfiguration, perhaps even something set up in "normal" environments (like in an init script) that is missing in the container.

[2016-04-19 18:52] runcom commented on #21985
@aaronlehmann do you have any plan on restoring the old "prompt for login" feature (#21054)? I can work it out

[2016-04-19 18:55] aaronlehmann commented on #21985
@runcom: I'm not actively working on it. It would be great if you are interested in looking into it.

[2016-04-19 19:07] BenjamenMeyer commented on #22054
@justincormack so I'm primarily setting up proper proxying so that some services can only be hit via the proxy (nginx - ssl termination), which then filters through an authentication proxy (repose), and finally off to another service (phoenix). I could care less if all of them are bound to the 0.0.0.0 interface; but I only want nginx to be externally accessible (or at the very least the repose por

[2016-04-19 19:15] stevvooe commented on #22112
@duglin `repo@xxx:yyy  -> gets repo w/sha xxx AND tag yyy` is incorrect. The `:` and `@` are purposefully mutually exclusive. The [grammar](https://github.com/docker/distribution/blob/master/reference/reference.go#L6) allows `repo[:tag][@digest]`, but we typically disallow that to avoid ambiguous cases.

The current behavior is erroneous and undocumented. It should be fixed before exploring other

[2016-04-19 19:24] jimbobhickville opened #22167 "docker update can't increase both memswap_limit and mem_limit at the same time"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

VirtualBox/docker-machine on a Mac

**Steps to reproduce the issue:**
1. docker run -d --memory-swap 512M --memory 512M --name test-container alpine /bin/sh -c "while true; do sleep 10; done;"
2. docker update --memory-swap 1024M --memory 1024M test-

[2016-04-19 19:44] chrislovecnm commented on #6325
Any guidelines on figuring this out??

[2016-04-19 19:50] schmunk42 commented on #21702
@michaelsauter

Same here :) After a broken bare-metal host, I decided to introduce `docker-machine` on this host.

Now, I am seeing the following error on Debian 8  `Linux fujitsu 3.16.0-4-amd64 #1 SMP Debian 3.16.7-ckt25-2 (2016-04-08) x86_64 GNU/Linux`

[code]

On the Debian 8 host, I am using just the `docker` client, with `alias docker=/root/docker/docker` (version 1.11.0).
The client is conn

[2016-04-19 20:00] insertinterestingnamehere opened #22169 "Some (actually existing) system folders show up as missing with Windows APIs."
**Output of `docker version`:**

Docker version 1.10.0-dev, build 18c9fe0

**Output of `docker info`:**

[code]

This is on a Windows Server 2016 TP4 instance in Azure.

**Steps to reproduce the issue:**
The following Python script demonstrates various missing values:

    from __future__ import print_function
    import ctypes
    from ctypes import wintypes
    SHGetFolderPath = ctypes.windll.sh

[2016-04-19 20:07] schmunk42 commented on #21702
Sorry, my problem was related to non existing mount points on the Docker machine.

And I was also able to work around my upgrade problems on the bare-metal host, by removing `docker-engine` via apt-get and reinstalling it.

[2016-04-19 20:14] mlaventure commented on #22108
@mattgiles

I figured it out.

Since you're using `systemd` **AND** starting `containerd` manually you also have to pass it (i.e. `containerd`) the following option for `runc` to correctly interpret the `cgroupsPath` generated by `docker`: `--runtime-args "--systemd-cgroup=true"`

[2016-04-19 20:28] narqo commented on #22157
Looks like you're right and the problem is with my kernel. I've checked this on a clean virtual machine in the cloud (same configuration as one I've showed above), but with 3.19 kernel (e.g. `linux-image-generic-lts-vivid` Ubuntu package) and everything works as expected:

[code]

[2016-04-19 20:39] shrimpy opened #22170 "not able to mount ReadWrite CIFS volume onto docker container"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Azure Virtual Machine

**Steps to reproduce the issue:**
1) On host machine, mount one SMB/CIFS share  from a windows server to a local folder with permission 600
[code]

2) create a container and mount with the volume
[code]

3) attach to container a

[2016-04-19 20:47] aboch commented on #22157
Thanks @narqo for confirming.
We still need to see if it is a 3.13 limitation or a bug in the go netlink library w/ 3.13.

If you do the following on your 3.13 machine, is the nodad shown in the o/p ?

`ip link add iface type dummy; ip addr add 2001:db8:abcd::32/63 dev iface nodad; ip link set iface up; ip addr show iface | grep global`

[2016-04-19 20:56] mpalmer commented on #22157
The `nodad` flag has been around since the beginning of time (well, IPv6 time, anyway).  It definitely works on 3.13:

[code]

That being said, I too can reproduce the bug on a scratch VM running 3.13:

[code]

While upgrading that exact same system to a 3.19 kernel makes the problem mysteriously disappear.

[2016-04-19 21:01] zelenin commented on #18420
yes, it works for me too

[2016-04-19 21:26] aboch commented on #22157
@mpalmer
Yeah, I also verified manually creating and configuring a v6 address with nodad on a 3.13 works fine.
While with docker run would fail. Given docker completely depends on vishvananda/netlink pkg to do these operations, I will open an issue there.

I doubt this can be fixed in time for 1.11.1 though.

[2016-04-19 21:36] mpalmer commented on #22157
Release note time!  At least the problem can be worked around by upgrading kernel, but it's a right weird problem.

[2016-04-19 21:42] iammerrick commented on #20486
When you run `docker ps` are there other containers running from other projects?

[2016-04-19 22:03] tamsky commented on #8395
@Frankyh

I agree.

The snippet provided doesn't suggest running the commands from "within the container" to get the IP, though you could do that if you want/need to, using the same tools...

The solution quoted above

is close, but also *wrong* as you've noticed.

incorrectly returns the docker host's default route next hop (aka gateway IP), instead of the local machine's IP.  I don't know what t

[2016-04-19 22:09] cyphar commented on #22131
@monoflash Where did you get this package from? Or did you build it from source?

[2016-04-19 22:12] SamSaffron opened #22174 "Docker allows you to launch 2 containers with the same mac address"
In window 1

[code]

In window 2

[code]

Actual result:

Both containers launch, both have the same mac address.

Desired result:

Second container does not launch and instead returns the error:

[code]

[2016-04-19 22:13] thaJeztah commented on #22158
Thanks @liggitt :+1:

[2016-04-19 22:13] alph486 commented on #19583
@jtmarmon Did you ever have a good solution here?

[2016-04-19 22:17] rutsky commented on #20486
@iammerrick what do you mean? In my case I had around 10 container running on the failed host, and around 2 of them were broken with `"443/tcp": null` (other containers worked normally).

[2016-04-19 22:20] thaJeztah commented on #22144
@byrnedo actually, there is; if you use a daemon.json configuration file, you can love reload certain options by sending a `SIGHUP` to the daemon; https://docs.docker.com/engine/reference/commandline/daemon/#daemon-configuration-file

[2016-04-19 22:25] iammerrick commented on #20486
@rutsky I only asked because I stumbled on this issue with a similar error and it was because I had another container on the machine from another project which docker ps revealed (docker-compose did not).

[2016-04-19 22:28] alph486 commented on #19583
For anyone else who ends up here:

There is a "better" solution needed to be implemented on the CircleCI side in terms of the cached dirs and stuff. However one issue is that CircleCI is on 1.8.x. The 1.9.1 upgrade greatly improves buffering for pushes. You can enable 1.9.1, see here: https://discuss.circleci.com/t/docker-1-9-1-is-available/1009.

This improved my buffer/push speed in Circle signi

[2016-04-19 22:29] anusha-ragunathan commented on #21969
Found something related to this issue that got fixed in 3.19 kernels, which could explain why the issue doesnt happen on newer kernels.
http://git.kernel.org/cgit/linux/kernel/git/stable/linux-stable.git/commit/?h=linux-3.19.y&id=8ed936b5671bfb33d89bc60bdcc7cf0470ba52fe
@ugurarpaci , would you be able to test with a 3.19 kernel?

[2016-04-19 22:55] globalcitizen commented on #20303
@thaJeztah In fact I have made many security-related issues on docker, but I'm not paid, so there is a limit to my contribution. From comments it seems @unclejack does not comprehend the nature of grsec, which is a set of kernel patches that can be applied to any distro and usually result in exactly the same sysctls being added in a distro-generic manner. There is no threat of weakening security,

[2016-04-19 22:59] icecrime commented on #22174
Thanks @SamSaffron: cc @mavenugo @aboch.

[2016-04-19 23:01] fkautz opened #22175 "Docker fails to activate libnetwork plugin"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
docker -H tcp://0.0.0.0:2375 network create --driver=kuryr phoenix

**Describe the results you received:**

[code]

**Describe the results you expected:**
Plugin properly activates

**Additional information you deem

[2016-04-19 23:04] fkautz commented on #22175
This is also using a less recent version of kuryr. Has there been a backwards incompatible change in how plugins are activated? I think this error is occurring before it contacts kuryr, but want to ask for completeness.

[2016-04-19 23:07] samoht commented on #9417
See https://github.com/docker/docker/pull/22162

[2016-04-19 23:08] aboch commented on #22174
@SamSaffron
Yes, docker does not protect user from configuring same mac address to different containers.
Same in linux you are allowed to assign the same MAC to different interfaces.

I think it boils down to the fact you do not know where those interfaces are going to be placed. They will not necessarily end up in the same L2 domain. As in docker you do not know where this container will be attac

[2016-04-19 23:09] fkautz commented on #22175
This takes a while to load, but I uploaded the current workflow here:

https://github.com/fkautz/vagrant-devstack/tree/docker-22175

We should be able to reproduce the problem with less infrastructure if the problem isn't immediately apparent.

[2016-04-19 23:26] mavenugo commented on #22175
@fkautz how is the plugin activated ? I see a potential bug in the plugin activation code when the plugin is loaded via SpecPaths with JSON format.

[2016-04-19 23:40] fkautz commented on #22175
[code]

[2016-04-19 23:57] tonistiigi commented on #21702
This seems to be caused by the apparmor profile for docker daemon we have in `https://github.com/docker/docker/tree/master/contrib/apparmor`. If this profile is applied in `v1.11`(at least ubuntu wily) then container starting does not work. I'm not sure if users have just manually enforced this profile or apparently we also accidentally installed this profile in `1.10.0-rc1` (https://github.com/do

[2016-04-20 00:00] tonistiigi commented on #21702
Big thanks to @shin- for access to his computer that allowed us to debug this!

[2016-04-20 00:02] justinclayton commented on #8887
@thaJeztah if it's that easy to do, but 80% (admittedly arbitrary number) of users need to do it, then  please just make it the default.

[2016-04-20 00:53] fkautz commented on #22175
Here is what the docker client is sending to the docker server:

[code]

pretty:
[code]

Response:

[code]

[2016-04-20 01:22] mavenugo commented on #22175
@fkautz could you try using the `.spec` file format instead of the `.json` ?
The bug that I see in the plugin discovery code is specific to the `.json` format which we will get it resolved shortly.

As mentioned https://github.com/docker/docker/blob/master/docs/extend/plugin_api.md, just write a file named kuryr.spec and add `http://127.0.0.1:2377` in the file.

[2016-04-20 01:27] mattgiles commented on #22108
Beautiful. Will test it out. (Also: I didn't see a `createSpec: cgroupsPath` logline generated before).

[2016-04-20 01:31] fkautz commented on #22175
That worked, I was able to start the plugin with a .spec file.

[2016-04-20 01:49] HackToday commented on #22140
thanks @tonistiigi for your explanation, I did not find my code
https://github.com/docker/docker/pull/22137/files
touched load logic, basically, it just called as daemon method compared with separate package way before.

Could you give a quick review what changed the underlying behavior ?

[2016-04-20 02:11] int32bit opened #22177 "docker-load is not friendly"
I wanted to load a local image tar file  to docker as follow:
[code]
Unexpectedly, it didn't work! So I exec `docker load --help` for help, I find I have to  append `-i` option before my file(behind not work, too),It's not friendly?

[2016-04-20 02:32] HackToday commented on #22177
you can also use this way

`docker load < my_image.tar`

[2016-04-20 02:35] TheBeeMan opened #22178 "Docker rmi unable to remove images"
I have  a bunch of test images on my host i use.
**docker rmi `docker images |grep "hello-world" | awk '{print $1}'**` to delete one image.on excution, i got error.
Error response from docker daemon :Error response from daemon: conflict: unable to remove repository reference "hello-world" (must force) - container 3061de2e8c9c is using its referenced image 690ed74de00f
docker  ps | grep 3061de2e8c9

[2016-04-20 03:06] int32bit commented on #22177
Yes，I know this method, but I think `docker load my_image.tar` is more direct！

[2016-04-20 03:13] HackToday commented on #22178
because you have stopped container, please use
`docker ps -a` to see all containers

maybe https://docs.docker.com/ is good place for you learn

[2016-04-20 03:14] HackToday commented on #22177
sure @int32bit  I suggest said another way

wait for more inputs if we want to change CLI interface

[2016-04-20 03:29] hqhq commented on #22167
It's already fixed in runc https://github.com/opencontainers/runc/pull/592 , and included in docker 1.11 I suppose.

[2016-04-20 04:16] nazar-pc opened #22182 "Xenial repo doesn't contain docker-engine"
Ubuntu 16.04 is going to be released soon.
There is https://apt.dockerproject.org/repo/dists/ubuntu-xenial/ already, but package is not there.

[2016-04-20 04:19] HackToday commented on #22182
Same issue as

https://github.com/docker/docker/issues/22132

[2016-04-20 04:26] nazar-pc commented on #22182
Apparently no. Looks like it is what others also encounter in comments in #21461

[2016-04-20 04:39] HackToday commented on #22182
@nazar-pc  my comment about issue is that link same issue #21461 as #22132 opened for that for same reason

[2016-04-20 04:39] mrmachine commented on #20380
So is it correct to say that since Docker 1.10, it is impossible to save (somehow) a local image and then at a later time, load it with the build cache intact? This means that you will *always* need to rebuild your entire image from scratch for every single commit, even if it's just a simple HTML template change that would normally only invalidate the very last instruction in your Dockerfile? That

[2016-04-20 05:14] RRAlex commented on #22113
On a probably unrelated note, the two machines lost all the containers tonight to what seems to be a daemon crash?
... And none got restarted, they were all in the `Exited` status.

[code]

At the moment, I rolled both back to 1.10.3.

[2016-04-20 05:46] jhowardmsft opened #22183 "Windows: DACL ACE errors in debug log during TP5 CI run"
When the daemon is running in debug mode. Relates to https://github.com/docker/docker/pull/21974

@jstarks

[code]

[2016-04-20 06:10] Yunlong2cn commented on #22133
restart also cannt work ?

[2016-04-20 06:41] axper commented on #22144
Seems like we have the same problem #22142

[2016-04-20 07:01] yongtang commented on #22036
Hi @thaJeztah @calavera @justincormack the label override via `FROM` happens in:
https://github.com/docker/docker/blob/v1.11.0/builder/dockerfile/internals.go#L47-L49
I create a pull request #22184 so that the command line option will not overwrite labels via `FROM` image.

If we want the behavior to be otherwise (command line option will always override labels both in Dockerfile and in `FROM` ima

[2016-04-20 07:13] michaelsauter commented on #21702
@tonistiigi Wow, thanks so much for figuring this out!

I did have `1.10.0-rc1` installed, and running the following fixed the issue:

[code]

[2016-04-20 07:51] cupracer opened #22185 "DNS queries sometimes get stuck since upgrading to 1.11.0"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
This is a single Docker instance on physical hardware.
Containers are usually run by using Docker Compose.
Docker server-side debugging is enabled!

[code]

**The issue:**
One of my containers needs to do a lot of DNS queries (~ 100 per second, if not

[2016-04-20 08:15] byrnedo commented on #22144
thanks @thaJeztah.

Last night we tore down the env and rebuilt the cluster (including the consul server) from scratch and since then we've seen no problems.

[2016-04-20 08:40] ugurarpaci commented on #21969
@anusha-ragunathan  For sure, I will try that. My experience about the problem is that this is more like a meta data problem somehow. I have tried the 1.11.0 version on different kernel versions like 3.2 and newer (3.16 for the latest scenario). The problem occurs randomly; the daemon complains about the aufs layers (which does not exist on the filesystem -interestingly-) which blocks the rm there

[2016-04-20 09:15] thaJeztah commented on #21969
@ugurarpaci kernel 3.2 is expected; docker does not run on kernels older than 3.10

[2016-04-20 09:23] thaJeztah commented on #12603
@nuzz can you report it on the Docker Mac "beta" forum as well? (Or see if there's a similar topic already)

[2016-04-20 09:24] angeloluciani commented on #12603
Thank you guys for share , I had the same problem and it is solve using **service docker restart**

[2016-04-20 09:41] samoht commented on #9417
@jfrazelle what do you recommend to replace `text/tabwriter`?

[2016-04-20 09:45] thaJeztah commented on #8887
@justinclayton no; setting that option basically says "ignore any issue with secure communication to the registry", so allow man-in-the-middle attacks "out of the box", or even the daemon falling back to non-TLS "http://". Docker *does* already set it as a default for [registries in the `127.x.x.x` range](https://github.com/docker/docker/blob/4a7bd7eaef0038b006cf23adface84081e5aab3b/registry/confi

[2016-04-20 09:55] thaJeztah commented on #22036
Thanks @yongtang, let's get clear what the intended behavior should be. I personally think that command-line options should override options in the Dockerfile. If that's not the intended behavior, then we should produce an error ("conflicting options"), instead of silently ignoring the command-line flag.

ping @ehazlett @tiborvass PTAL if there's any reason we don't want a label on the command-lin

[2016-04-20 10:02] thaJeztah commented on #22054
@BenjamenMeyer if you don't want the other services to be accessible, why do you publish their ports at all? i.e. `"127.0.0.1:8081:8081"` is not needed if it's only accessed through the docker network (other services connect directly through the docker network)

[2016-04-20 10:06] thaJeztah commented on #22144
@byrnedo interesting; exactly the same configuration and versions? (kernel etc)

[2016-04-20 10:12] cupracer commented on #22185
**Additional info:**

The issues just happened again. During this time, DNS queries from the affected container fail, but other containers seem to work fine at the same time. Restarting the affected containers helps to bring the state back to normal until the issue occurs again.

[2016-04-20 10:14] vdemeester commented on #22036
100% agree with @thaJeztah 😇

[2016-04-20 10:40] byrnedo commented on #22144
Yeah except that swam is now at 1.2, before it was 1.1.3.

There have been some weird happenings in the last hour with one container again, so I may have spoken too soon.

[2016-04-20 10:42] Teudimundo commented on #18509
Same issue here:

Docker Client 1.11.0
Docker Server 1.11.0
Ubuntu 14.04.4 LTS (Kernel: 3.13.0-85-generic)

The container is marked as Dead. I don't know if it can help, but when I try to restart it with `docker-compose up` I get:

[code]

[2016-04-20 10:43] vincentwoo commented on #21990
Yeah, as a stopgap I added `iptables -A INPUT -d 172.17.0.0/16 -i docker0 -j DROP` to my systems but this is obviously brittle. I would love it if Docker actually behaved as suggested in the docs. I think anyone who runs `icc = false` would almost certainly want communication to the host to be blocked as well.

[2016-04-20 10:50] jordic commented on #18509
@Teudimundo are you running cadvisor on the docker host?

[2016-04-20 11:31] kreisys commented on #20380
travis uses 1.9.1 by default in which caching does still work on image pull.

[2016-04-20 11:32] Somebi opened #22188 "Retrying issue while pushing"
6255d70a91d0: Image push failed
a1e9ae5cde95: Retrying in 1 seconds
24600f12e14b: Retrying in 1 seconds
0ddf332b6471: Image push failed
1f273775685e: Retrying in 1 seconds

unknown: too many failed login attempts for username or IP address

Issue maybe caused by repository deletion and creating the same, then trying to push again into it.
I'm using docker version: Docker version 1.10.0, build 590d

[2016-04-20 11:50] Macro-X opened #22190 "version"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

[2016-04-20 11:52] Teudimundo commented on #18509
No cadvisor, that container in particular was just a `nginx` based on the `nginx:1.8.1-alpine` using a local named volume started through swarm using `docker-compose`.

[2016-04-20 12:04] eeluve commented on #21570
nice solution. you do realise, you it in fact isn't solved at all? still not possible to run under openvz

[2016-04-20 12:06] thaJeztah commented on #22161
I'll close this for the reasons stated in https://github.com/docker/docker/pull/22163#issuecomment-212398714. Thanks!

[2016-04-20 12:06] #22161 closed

[2016-04-20 12:08] thaJeztah commented on #22161
w.r.t Swarm, I'm not sure what the best way would be to solve that; I can imagine "plugins" should be shown for each node individually

[2016-04-20 12:14] Somebi commented on #22188
It's very odd. Now, after a LOT of retries it finally started to push. But again, it's very odd because it wasn't pushing whole image, which is around ~6gb, but only few layers. I have deleted repository and created with the same name again. It seems old images data still available even after deletion and recreation on docker hub...

[2016-04-20 12:16] Somebi commented on #22188
Images deletion of deleted repositories are scheduled for deletion or what is this?

[2016-04-20 12:39] karelstriegel commented on #12603
@angeloluciani  that is more a workaround then a solution...

[2016-04-20 12:46] vklonghml opened #22192 "[BUG]build image faild:Untar re-exec error: exit status 1: output: operation not supported"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

**Steps to reproduce the issue:**

i want to build an ubuntu image(download from ubuntu website, version=15.04.img), using scratch method,
1.the content of Dockerfile is below:

[code]

2.execute command: `docker build -t ubuntu-15.04.0203 .`
3.then failed

**Describe the results you received:**

[code]

**Additional informatio

[2016-04-20 12:50] HackToday commented on #22190
It seems invalid issue , @Macro-X  please close it if not an issue

[2016-04-20 12:59] #22190 closed

[2016-04-20 13:00] thaJeztah commented on #21570
@eeluve afaik, OpenVZ is still at kernel 2.6 (which is not supported for Docker), and only supports `vfs` as a graph-driver (which is *strongly* discouraged, and basically only useful for testing, but nothing other than that); https://openvz.org/Docker_inside_CT

I see there's some work going on to move to kernel 3.10 https://openvz.org/Download/kernel, but nothing stable yet.

In the current situ

[2016-04-20 13:05] mbentley commented on #22093
Thanks! I'll give this a try as soon as I can. I would expect the volume to be removed only if it did not already exist.

[2016-04-20 13:19] spacediver commented on #1996
+1

[2016-04-20 13:23] schmunk42 opened #22194 "docker 1.11.0 crashes after docker-compose kill & rm & up"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Virtualbox

**Steps to reproduce the issue:**
1. upgrade from 1.10.2 to 1.11.0
2. docker-compose kill && docker-compose rm -fv
3. docker-compose up -d
4. docker-compose run ....

**Describe the results you received:**

Docker daemon hangs. Manual res

[2016-04-20 13:23] eeluve commented on #21570
Ye, that's kind of what I said. So, as far as I understood, docker waits for parallels to move openvz to 3.10, which is logical ofc but may take forever.

[2016-04-20 13:25] thaJeztah commented on #21570
Yes, don't think there's much we can do here, unless there's lots of demand from OpenVZ users to "push" Parallels

[2016-04-20 13:26] thaJeztah commented on #22182
Yes, I think @tiborvass was already looking into this

[2016-04-20 13:34] cpuguy83 commented on #22194
Thanks. Looks like the daemon logs are missing some of that stack trace. Any way you can grab the full trace?

[2016-04-20 13:36] vaab commented on #18420
@klokan Thanks, this fixes also the deal on my VMWare with debian Jessie.

TL;DR:

Your kernel is probably not configured not to have ``cgroup`` activated by default. To turn it on, you need a simple modification to the ``GRUB_CMDLINE_LINUX_DEFAULT`` line in ``/etc/default/grub`` with the following:

GRUB_CMDLINE_LINUX_DEFAULT="quiet cgroup_enable=memory swapaccount=1"

Then run ``sudo update-grub

[2016-04-20 13:37] thaJeztah commented on #22108
ping @cyphar @runcom not sure if this affects you as well (since I think you were planning to put containerd in a separate unit-file)

[2016-04-20 13:39] thaJeztah commented on #18420
@vaab are you interested in opening a PR to add that?

[2016-04-20 13:39] HackToday commented on #22140
Close it as frozen image used load ways(which had parent field)

[2016-04-20 13:39] #22140 closed

[2016-04-20 13:42] cyphar commented on #22108
We ship with `MountFlags=shared` on SUSE, because of a similar (but slightly different) issue. We haven't run into problems with `cgroupsPath` in our testing, which is a little bit worrying. I'll run some tests and update our packages. Thanks @thaJeztah!

[2016-04-20 13:50] chefarov opened #22195 "rpc error: code = 6, mkdir reports file exists but no container is running"
This seems similar with [#21702](https://github.com/docker/docker/issues/21702), but I think it's not the same.

Description (history):
The issue came I up while I was purging and reinstalling docker due to another error (permission denied to kill a container that would come up on every restart, and on which I could not exec bash onto - sorry can't reproduce this to write another issue).

**Output

[2016-04-20 13:53] thaJeztah commented on #22185
Looks like there's a rate-limit for the internal resolver; https://github.com/docker/docker/blob/517c18ff2b1d326986bc5448ecc770c6def8e442/vendor/src/github.com/docker/libnetwork/resolver.go#L389-L398

Added in https://github.com/docker/libnetwork/pull/1062 (and https://github.com/docker/docker/commit/b84d18ec210d07e28ab01412bab50e26f409d495 in docker)

/cc @mavenugo @sanimej

[2016-04-20 14:01] thaJeztah commented on #22195
Could you check if it's really not related, and if https://github.com/docker/docker/issues/21702#issuecomment-212177160 resolves this? Did you have docker 1.10.0-rc1 installed at some point?

[2016-04-20 14:01] rwrnet commented on #12738
Did not work for us. The

`lscgroup | grep  <ID> | xargs cgdelete`

command did delete the entries form lscgroup, but the container ist still in `docker ps` and all the 3 steps from @SirUrban did just fail as usual `Container does not exist: container destroyed`.

Docker engine restart fixes the problem for us, but this is not an acceptable workaround.

Just as an addition to the cases before. We

[2016-04-20 14:03] chefarov commented on #22195
False alert. As it seems its finally the same issue #21702

[2016-04-20 14:03] thaJeztah commented on #22188
Are you pushing to Docker Hub, or a private repository?

/cc @aaronlehmann

[2016-04-20 14:04] thaJeztah commented on #22195
thanks! I'll close this one then. Good to hear 😅

[2016-04-20 14:04] #22195 closed

[2016-04-20 14:06] vicctor commented on #15643
I have similar issue with the following setup:

Private registry:2 running on:

[code]

Docker client where I'm preparing images Windows10:

[code]

When I'm going to push my images to our repo, I have an error in the registry log:

[code]

[2016-04-20 14:20] thaJeztah commented on #15643
@vicctor looks like a different issue; "The operation is unsupported"

[2016-04-20 14:30] thaJeztah commented on #22177
I'm not sure we'd be able to change this without breaking backward compatibility. For example, this will be a breaking change for people that currently do;

[code]

Or variations thereof.

That's a known limitation of the way docker parses flags/options. I think the main reason we cannot support adding `-i` after the filename, is that for other commands, this may not be a trivial change;

    dock

[2016-04-20 14:32] thaJeztah commented on #22177
I'm closing this issue. I get where you're coming from, and I agree it could be a "nice to have", but I don't think we should do this, because there are quite some implications for a minor enhancement. But feel free to continue the discussion after I've closed

[2016-04-20 14:32] #22177 closed

[2016-04-20 14:33] thaJeztah commented on #22178
closing, because (as @HackToday explained), this is not a bug

[2016-04-20 14:33] #22178 closed

[2016-04-20 14:39] mlaventure commented on #22167
So although we include a version of `runc` that have the fix mentionned by @hqhq with 1.11.0, the actual update is done by `containerd` since there is no `update` command in runc. Unfortunately the vendored version of `libcontainer` in `containerd` is of an older version.

[2016-04-20 14:39] thaJeztah commented on #22174
@aboch in the given example, both are attached to the same network, would that be an issue?

[2016-04-20 14:47] thaJeztah commented on #22174
I opened https://github.com/docker/docker/pull/22196 to explain this in the documentation, but happy to close that if we decide to use a different approach

[2016-04-20 15:00] thaJeztah commented on #22167
Is this a regression since 1.10?

[2016-04-20 15:03] mlaventure commented on #22167
from memory 1.10 didn't allow you to update both at the same time, I'll quickly test.

[2016-04-20 15:05] mlaventure commented on #22167
@thaJeztah so actually 1.10 had the same error. It makes sense since the fix wasn't in libcontainerd yet.

[2016-04-20 15:06] thaJeztah commented on #22170
Are you mounting the share on your *local* machine (i.e., not on the Azure VM)? If you do, then this is expected. Docker bind-mounts directories from the host where the *daemon* runs (in your case, the Azure VM), not from the machine where the *client* runs (your local machine).

This can be confusing, because if you're running Docker Toolbox (with boot2docker / VirtualBox), then a "trick" is used

[2016-04-20 15:07] thaJeztah commented on #22167
Alright, so not needed to include this in a patch release

[2016-04-20 15:09] tiborvass commented on #22036
Sure, i'll send a PR

[2016-04-20 15:10] psi-4ward opened #22197 "mount.cifs within a container"
Trying to `mount.cifs` results in `Unable to apply new capability set`

Tested `docker run --cap-add SYS_ADMIN --cap-add MKNOD --device /dev/fuse`
but with `--privileged` its working.

Can anyone tell my how to track down which CAPs i need?

[2016-04-20 15:11] schmunk42 commented on #22194
@cpuguy83 I've updated the gist.

[2016-04-20 15:12] cpuguy83 commented on #22194
Perfect, thanks!

[2016-04-20 15:12] cpuguy83 commented on #22194
ping @aboch Looks like a resolution panic.

[2016-04-20 15:16] jfrazelle commented on #9417
Well you would need something to support colors but this would need to be
approved first before getting started and honestly IMO it's a large change
that will cause a bikeshed of what should be what color and more for
maintainers to maintain

On Wednesday, April 20, 2016, Thomas Gazagnaire <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022

[2016-04-20 15:16] cpuguy83 commented on #22197
@psi-4ward This is likely being filtered by seccomp.
You'd need to either turn off seccomp for the container or provide a new seccomp profile (which blocks mount, among other things, by default).

FYI, I believe `MKNOD` is available by default.

[2016-04-20 15:16] #22197 closed

[2016-04-20 15:20] #19707 closed

[2016-04-20 15:20] icecrime commented on #21702
Nice work :clap:

Thank for the help @michaelsauter @tonistiigi @shin-!

[2016-04-20 15:20] #21702 closed

[2016-04-20 15:21] samoht commented on #9417
In #22162 I've just added the ability to add color in the `--format` string so everyone could add an alias to `docker ps` with its favorite colors.

[2016-04-20 15:29] aboch commented on #22194
Looks like same as https://github.com/docker/libnetwork/issues/1117
@sanimej has the fix for this in https://github.com/docker/libnetwork/pull/1125.

[2016-04-20 15:32] yongtang commented on #22036
Since there is already a pull request #22184 in place, @tiborvass would you mind if I update the existing pull request #22184 and make changes to fit the expected behavior as discussed above?

[2016-04-20 15:34] mschristiansen opened #22198 "Panic, possibly related to use of thin pool on Centos 7"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Physical Server

**Steps to reproduce the issue:**
1. Spin up a number of different containers.
2. Create disk load like restoring a mongodb dump to a replica set.
3. Hope attached stack trace can help.

**Describe the results you received:**
panic:

[2016-04-20 15:36] chefarov opened #22199 "Cannot exec on a running container: oci runtime error: exec failed: permission denied"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Physical workstation (Linux Mint):
$ `uname -a: Linux hostname 3.19.0-32-generic #37~14.04.1-Ubuntu SMP Thu Oct 22 09:41:40 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`

**Steps to reproduce the issue:**
1. `sudo docker-compose up`
2. `sudo docker exec -

[2016-04-20 15:37] #22175 closed

[2016-04-20 15:40] psi-4ward commented on #22197
I tried that: `--cap-add SYS_ADMIN --security-opt seccomp=unconfined --device /dev/fuse` but i still get the error.

Can i log the blocked calls?

[2016-04-20 15:44] tiborvass commented on #22036
@yongtang sure will review it today

[2016-04-20 15:48] jeffminard-ck commented on #21860
Can anyone confirm that the behavior I've reported is accurate? Or if my steps are reproducible? Perhaps I've done something wrong?

[2016-04-20 15:54] yongtang commented on #22036
Thanks @tiborvass I will update the pull request shortly.

[2016-04-20 15:59] cpuguy83 commented on #21860
Can you explain what you mean by "when the userland proxy is turned off"? How are you turning it off?

[2016-04-20 16:08] aboch commented on #22174
Thanks @thaJeztah, agree on documenting.

MAC address setting is a low level configuration. Usually, once applications allow the user control over low level knobs, they do not oversee over it. It's like "Ok, you asked me access to that, I'll give it to you but you are on your own". IOW, if user really needs to manipulate the container's MAC, it is expected he knows the implications.
One popular us

[2016-04-20 16:10] sanimej commented on #22185
@thaJeztah The rate-limit is for the number of outstanding queries from a container..

@cupracer If you can run the daemon in the debug mode and collect the logs when the DNS resolution fails it will help in identifying why the resolution is failing..

[2016-04-20 16:11] thaJeztah commented on #22199
Just for completeness, what version of docker-compose are you using, and do you have the docker-compose file to reproduce (or preferably a simple-as-possible compose file)

[2016-04-20 16:13] cpuguy83 commented on #22197
It's really difficult to tell what mount.cifs needs. It might be `CAP_DAC_READ_SEARCH`

[2016-04-20 16:19] sanimej commented on #22144
@byrnedo By weird happenings do you mean the same connectivity issue you had before ? If it is the connectivity issue, can you confirm if the name resolution is failing. Can you please run the daemon in debug mode so that we can look at the logs if there is a resolution failure.

[2016-04-20 16:24] thaJeztah commented on #22198
Did you run into this on docker 1.10 as well (before upgrading), or is this a fresh host / install?

[2016-04-20 16:24] cpuguy83 commented on #22198
This is a dup of #22194

[2016-04-20 16:24] #22198 closed

[2016-04-20 16:29] chefarov commented on #22199
`docker-compose version 1.7.0, build 0d7bf73`

my file:

[code]

Thanks

[2016-04-20 16:30] sanimej commented on #22142
@axper You are seeing this issue with 1.10.3 The issue reported in #22144 happens after 1.11 upgrade and that seems to be a DNS resolution issue inside the container. Looks like different issues.

[2016-04-20 16:31] aaronlehmann commented on #15643
@vicctor: This looks like a possible registry configuration issue. Is it set up as a proxy? Which storage driver are you using? Do any other images or Docker setups push successfully?

[2016-04-20 16:35] sanimej commented on #22198
@mschristiansen This panic happens in certain cases when you have more than one external nameservers configured. You can change it to one as a temporary work around. If you are not passing any nameserver (either though --dns or from hosts's resolv.conf) docker will use 8.8.8.8 and 8.8.4.4 by default. In that is the case you can pass one server though the daemon's --dns option.

[2016-04-20 16:39] aaronlehmann commented on #22188
Please upgrade to 1.10.3 or 1.11.0. Docker 1.10.0 has a few known bugs that could be at fault.

If this doesn't help, the image may be corrupted. You could try deleting it and rebuilding it.

[2016-04-20 16:39] psi-4ward commented on #22197
Works ! THANKS! :+1:

[code]

[2016-04-20 16:44] tjrivera commented on #15643
@vicctor couldn't help but notice in your error `/v2/bussybox/blobs/uploads/` should it be `busybox`?

[2016-04-20 16:45] monochromec commented on #21902
Still present in 1.10.3-1 (Arch x86_64) with the same swarm config described above.

[2016-04-20 16:47] zerthimon commented on #6574
+1
I'd even like docker to enforce it's firewall rules on every change to running firewall configuration.
In other words: priodically monitor the firewall's configuration and restore any rules (relevant to docker's current state) that may have been removed or changed by other users/process activity.

[2016-04-20 16:53] sanimej commented on #22185
@cupracer I missed the debug information you provided. There is a rate-limit of 50 outstanding queries from a container.. You seem to be hitting it in some of the containers..

`2016-04-20T08:52:00.377952+02:00 shorty docker[11372]: time="2016-04-20T08:52:00.377857662+02:00" level=error msg="More than 50 concurrent queries from 127.0.0.11:34244"`

Is it possible your app is sending more than 50 co

[2016-04-20 16:54] vicctor commented on #15643
Yes I pushed for testing purposes bussybox.

Yes you right the repository is configured as a proxy. I will double check
configuration and give you feedback on Monday.

Thanks for advice.
20 kwi 2016 18:46 "Tyler Rivera" <notifications@github.com> napisał(a):

@vicctor <https://github.com/vicctor> couldn't help but notice in your
error /v2/bussybox/blobs/uploads/ should it be busybox?

—
You are re

[2016-04-20 16:58] karlkfi commented on #10294
Someone want to update the issue title to mention ext4?
Sounds like overlay on xfs works, but overlay on ext4 doesn't.

[2016-04-20 16:59] cpuguy83 commented on #21902
This is likely swarm sending an unexpected response, then.

[2016-04-20 17:28] LPardue opened #22204 "Docker 1.11.0 daemon start failure after fresh install on CentOS 7"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Physical box running CentOS 7 with kernel 3.10.0-327.13.1.el7.x86_64. Docker installed via https://yum.dockerproject.org/

**Steps to reproduce the issue:**
1. Install docker on CentOS 7 following "Install with yum" instructions on https://docs.docker

[2016-04-20 17:37] thaJeztah commented on #22204
This error;

    Error starting daemon: Error initializing network controller: Error creating default \"bridge\" network: failed to parse pool request for address space \"LocalDefault\" pool \"\" subpool \"\": could not find an available predefined network"

Looks like a duplicate of https://github.com/docker/docker/issues/21170

[2016-04-20 17:37] jeffminard-ck commented on #21860
Darn that horizontal scroll!

[2016-04-20 17:46] aboch commented on #21990
@vincentwoo I am still not sure about this.

Further in the docs, it says a way to allow two containers to communicate when `--icc=false` is to `--link` them. The example shows the two iptables rule which will allow the inter-communication as a result of linking. And these two rules are about the internal L4 exposed port for the containers IP addresses. IOW, to me this says there was an assumption

[2016-04-20 17:55] martinstrycek commented on #10589
Having the same issue on ```3.19.0-42-generic``` with ```mongo:2.4```
[code]

[2016-04-20 18:33] Someguy123 commented on #22182
Can confirm this issue.

Xenial is coming out in ~24 hours, or so #ubuntu+1 IRC tells me, and there's still no packages.

[2016-04-20 18:54] shrimpy commented on #22170
@thaJeztah

all the repro steps i wrote are on the host machine. basically what i do is:
1) mount a CIFS file share onto host machine`s folder   e.g   /folder/on/host --> //file/share/
2) run docker container with -v /folder/on/host:/readonlydir

if i do the same but modify below value from 600 to 700, everything work just fine. so i think there is a bug somewhere.
[code]
[code]

[2016-04-20 19:32] cjellick opened #22205 "Cannot use --tmpfs options on mac client"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
- Reproduced on vmware b2d and vmware rancherOS
- Requires running docker commands from Mac

**Steps to reproduce the issue:**
1. From Mac, run this: `docker run --tmpfs /tmp:exec -it ubuntu` and you get
[code]
2. SSH into you docker VM and run the ex

[2016-04-20 19:32] mikeknep commented on #15771
@jason-kane This is nice trick, thanks for sharing. One small point: it looks like you can't add the `z` (gzip) flag to `tar`—it changes the sha256 checksum value, which invalidates the Docker cache. Otherwise this approach works great for me.

[2016-04-20 19:39] mlaventure commented on #19438
@pcarrier can you close this now that #19439 was merged?

[2016-04-20 19:41] #19438 closed

[2016-04-20 19:46] mschristiansen commented on #22198
@thaJeztah It occurred after upgrading from 1.10 and again after starting on a fresh install. Not sure if the `dns` option helped. Still having trouble with thin driver on Centos 7.

[2016-04-20 19:56] icecrime commented on #22205
Ping @gdevillele @aduermael!

[2016-04-20 19:58] thaJeztah commented on #22205
oh, actually, I think this is a duplicate of https://github.com/docker/docker/issues/20740, but looks like it was not looked into yet

[2016-04-20 19:58] SleepyMan opened #22206 "Proposal: "Add/Remove device" feature to docker update"
Currently, docker does not allow users to make devices accessible by the containers, other than at the start of the container (with "docker run --device=/dev/blah image").
This forces a restart whenever a new device needs to be accessed by the container.
It would be useful, if not necessary for a few enterprise use-cases, to have the ability to add devices at runtime.

I have a few simple personal

[2016-04-20 20:18] cjellick commented on #22205
Ah yes, definitely a dupe @thaJeztah. I swear I searched before submitting! :-P

Closing.

[2016-04-20 20:18] #22205 closed

[2016-04-20 20:27] cupracer commented on #22185
@sanimej Thanks for your reply. I'll try to explain a bit more in detail:

I'm running 41 containers and 16 of them are heavily doing DNS lookups.

1 container is running a web service with PHP. This web service takes a domain as parameter on every request and executes two DNS lookups to get the IP's (IPv4 / IPv6). There are up to 40 requests per second.

The other 15 relevant containers are some

[2016-04-20 20:29] thaJeztah commented on #22206
I know there's been a proposal some time ago; https://github.com/docker/docker/pull/8826 (and issues linked to that PR). Overall, the idea is to keep containers "immutable", and not change the configuration of an existing container. would using `docker exec --privileged .....` be a solution? This allows you to execute a privileged command in an existing container.

[2016-04-20 20:30] thaJeztah commented on #22205
Haha, no problem, I just remembered it came up before, but forgot about it.

[2016-04-20 20:48] mlaventure commented on #22129
Do you mean having an option simalar to the one that was added for `fluentd` in 1.11 via #19439 (i.e. `fluentd-async-connect`)?

The difference here is that this would have to be implemented on docker side as the library we are using have no support for this kind of behavior.

[2016-04-20 20:50] vincentwoo commented on #21990
That's totally fine as an outcome, but regardless of the environment in which the initial statement was written I think there's a clear practical need serviced by "block containers from accessing the host". Historically users who want this would probably just turn off ICC and call it a day. If we decided to remove that functionality from ICC, can Docker either

a) provide an option to disable cont

[2016-04-20 20:54] bukzor opened #22207 "orphaned diffs"
I'd like to know why docker uses so much disk, even after removing _all_ containers, images, and volumes.
It looks like this "diff" has a layer, but the layer isn't referenced by anything at all.

[code]

[2016-04-20 20:55] bukzor commented on #22207
[code]

[2016-04-20 21:10] bukzor commented on #22207
I should also show that docker lists no containers, volumes, or images:

[code]

[2016-04-20 21:36] dmcgowan commented on #10294
The original issue was a user reporting an issue with xfs using fedora. This has since been resolved and we should probably just close this issue.  I encountered this issue before and just tested that it no longer occurs. The additional discussion about overlay not working on ext4 in rhel is not separate and stated in the linked to rhel docs. Can we track that in a different issue.

[2016-04-20 21:44] thaJeztah commented on #10294
Agreed; Let's close this issue, to prevent two non-related issues being mixed up (which becomes confusing fast - especially because GitHub is not ideal for longer discussions).

I'll close this issue. The issue of running overlay on ext4 is a known issue, and something that needs to be fixed in RHEL;
https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/7.2_Release_Notes/te

[2016-04-20 21:44] #10294 closed

[2016-04-20 21:56] anusha-ragunathan commented on #21969
A simple experiment confirms that 3.19 kernel has robust handling of file removal, which is what fixes the reported issue.

On Debian 8 (which ships with 3.16.0-4-amd64 by default)
$ docker run -d --name test busybox top
$ docker run -d --name test2 -v /var/run:/var/run busybox top
$ docker kill test && docker rm test # rm FAILS with EBUSY

On Ubuntu 15.04 (which ships with 3.19.0-58-generic by de

[2016-04-20 21:58] jhowardmsft commented on #17755
Verified resolved in TP5. Closing.

[code]

[2016-04-20 21:58] #17755 closed

[2016-04-20 22:03] thaJeztah commented on #21990
@vincentwoo perhaps you're looking for the `--internal` option for networks https://github.com/docker/docker/pull/19276

[code]

Inside that container; contacting the outside world fails:
[code]

But communication with other containers on the same network is allowed;

[code]

[2016-04-20 22:11] vincentwoo commented on #21990
No, I want my containers to be able to contact the world, just not each other or the host.

[2016-04-20 22:42] michaelsafyan commented on #22139
Can it do this by IPC communication with the containing daemon instead of
having these privileges directly, however? That would at least ensure that
other programs in the container don't arbitrarily have these privileges
(with the outer daemon being able to validate calls from inside the
container).

On Tue, Apr 19, 2016, 08:13 Brian Goff <notifications@github.com> wrote:

[2016-04-20 23:07] sanimej commented on #22185
@cupracer Thanks the details and the help in identifying the root cause.

Only the queries that are forwarded to external servers are rate-limited. In your case even that seems to be a pretty high number. But after reaching the limit the count should come down when the replies are received or the queries timeout and the subsequent queries should work. Can you please confirm this ? If that is happe

[2016-04-20 23:08] thaJeztah commented on #21990
If each container is in its own network, they should only be able to connect to containers on the same network, or containers that publish a port (so are publicly accessible from outside the docker host). Given that those port are already publicly accessible, I'm not sure if changing this brings much extra

[2016-04-20 23:15] vincentwoo commented on #21990
The host may have a port open on localhost, but be behind a firewall. A potentially malicious actor in a container gets past the firewall by virtue of running on the same host. In so much as `icc=false` is a security measure, I (and other users) almost certainly apply it as a measure of protection.

[2016-04-20 23:18] insertinterestingnamehere opened #22209 "Files with names begging with "." created in a Dockerfile aren't added to the container"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

This is with Windows Server containers on an Azure instance running Windows Server 2016 TP4.

**Steps to reproduce the issue:**

In a dockerfile include the line

    RUN >>C:\Users\Administrator\.testfile echo hello

or really anything else that creates a file with a name starting with a ".".

**Describe the results yo

[2016-04-20 23:24] pcarrier opened #22210 "docker http panics"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

AWS, m4.4xlarge.

**Steps to reproduce the issue:** Unknown. We're running `amazon-ecs-agent` 1.8.2 and scheduling a bunch of tasks.

**Describe the results you received:** Some container deletions fail. We can see panics in logs. They are remarkably

[2016-04-20 23:51] thaJeztah commented on #22207
strange; especially because of;

[code]

which doesn't match the output of `docker images` / `docker ps`.

What operating system are you running on?

    Operating System: <unknown>

@tonistiigi any idea?

[2016-04-20 23:54] cpuguy83 commented on #22139
@michaelsafyan We're actively looking at how we can break up the daemon further, but no containerd can't really handle everything that would allow the docker daemon to drop privileges... but even so, it's just moving the pieces around. You'd still have to run containerd in the docker-in-docker scenario and it would still require certain privileges.

[2016-04-20 23:57] jiapei100 commented on #20192
I've got exactly the same problem... Docker fail to work on Ubuntu 16.04 Xenial so far...

[2016-04-21 00:03] cpuguy83 commented on #22210
Do you know what action you are performing when this occurs?

[2016-04-21 00:09] bukzor commented on #22207
That was afterward. I guess some processes kicked off in the meantime.

The state I'm referring to (I have now) is:

[code]

And I still have:

[code]

[2016-04-21 00:09] bukzor commented on #22207
We're on Ubuntu Lucid with an upgraded kernel =/

[2016-04-21 00:15] pcarrier commented on #22210
It's ecs agent. Based on the stack I'd say container removal?

Pierre Carrier
On Apr 20, 2016 17:05, "Brian Goff" <notifications@github.com> wrote:

[2016-04-21 00:17] justinclayton commented on #8887
@thaJeztah I understand your argument, but that can't just be the end of it. There is a significant gap in user experience for new developers as a result of this being on the daemon side. The *majority* scenario where this is a pain is a new developer who follows the instructions on docker.com to download and run the Docker Toolbox installer on their Mac. Upon completion, they immediately try to r

[2016-04-21 00:18] cpuguy83 commented on #22210
lol, yes.

The only thing I can see that would be causing this is if the name given to docker is an empty string (which we should fix, b/c it shouldn't ever panic).
May be an indicator of a bug elsewhere (either in docker or in the ecs-agent) since it seems docker is getting an empty string.

[2016-04-21 00:26] thaJeztah commented on #22209
I think this is a duplicate of https://github.com/docker/docker/issues/17755, and will be fixed in Windows Server 2016 TP5

/cc @jhowardmsft correct?

[2016-04-21 00:50] HackToday commented on #22207
It seems an interesting issue.
is it possible to have way to reproduce it ? @bukzor

[2016-04-21 00:53] npcode commented on #21902
@cpuguy83 Docker client seems to expect the response starts with 0(stdin), 1(stdout) or 2(stderr) but swarm responses "client is newer than server (client API version: 1.24, server API version: 1.22)" which starts with 'c'(ascii code 99). So the client displays the error "Unrecognized input header: 99".

[2016-04-21 01:19] Omnipresent opened #22211 "Container crashes with code 137 when given high load"
I have a docker container running python Flask REST service. The REST service takes a URL of an image as input, does processing on it using OpenCV, and returns the result. When I test the container with sending 15 to 20 requests, it eventually crashes with error code 137

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBo

[2016-04-21 01:22] jhowardmsft commented on #22209
Yup

[2016-04-21 01:26] insertinterestingnamehere commented on #22209
Great! Thanks for looking at it. Closing...

[2016-04-21 01:26] #22209 closed

[2016-04-21 01:32] onlineworld69 opened #22212 "Can't access docker images after reboot"
I am using Ubuntu 15.10 as a server. I was very happy to access my docker images I installed via the web. However, after I reboot, I can't access them all. I reinstalled docker with the images and it happened again. I also tried to create an isolated_nw in [docker guide](https://docs.docker.com/engine/userguide/networking/dockernetworks/) and many other ways but can't make it work yet. Please help

[2016-04-21 01:41] yongtang commented on #22210
The issue could be reproduced by using an empty container name for deletion in remote API:
[code]
I created a pull request #22213 to try to address this issue.

[2016-04-21 02:46] phemmer commented on #22211
Sounds like you're likely getting hit by the OOM killer. Run `dmesg` and look for messages from the kernel telling you it's killing your stuff.

Exit code 137 means your process was sent a SIGKILL. http://tldp.org/LDP/abs/html/exitcodes.html

[2016-04-21 02:59] hqhq opened #22214 "An unknown new branch v1.8.2"
What's this new branch for?

ping @vdemeester @thaJeztah
I don't see any discussion or PR in community, anything new or just a mistake?

I guess it's kind of docker issue that can post issues :wink:

[2016-04-21 03:05] yqguodataman opened #22215 "read docker log error closed pipe"
I use docker go api read docker log   (docker.LogsOptions{
        Container:    id,
        OutputStream: outwr,
        ErrorStream:  errwr,
        Stdout:       true,
        Stderr:       true,
        Follow:       true,
        Tail:         "0",
    }), when the pressure is too large,output read have a error: buf readstring stop: read/write on closed pipe,what is wrong?

[2016-04-21 03:33] jpcope commented on #20400
I am also seeing this issue:
[code]

[code]

[code]

Any advice? Is a workaround known at this time?

[2016-04-21 03:40] jpcope commented on #20400
For my case, the containers can vary in execution time, sometimes less than a 2-3 seconds.

[2016-04-21 03:41] Omnipresent commented on #22211
@phemmer I've added the output for dmesg as a gist here: https://gist.github.com/Omnipresent/17c12d415385f84bc3b5103af529a875

I can see the following in the output

So it does look like am OOM killer. But my question is, how do I solve this? I've tried giving a memory limit while running the container but that doesn't help either.

FWIW and in-case this is not considered a docker issue, I've open

[2016-04-21 03:53] jpcope commented on #20400
Looking at the docker logs redirected me to https://github.com/docker/docker/issues/17653 going to give the workaround a shot https://github.com/docker/docker/issues/17653#issuecomment-155609224

[2016-04-21 03:54] monochromec commented on #21902
Interesting as this concerns the most basic of use cases: running hello-world against a swarm.

Is somebody from upstream looking at this? I suppose it's not the best of experiences for novices trying to set up a swarm for the first time and running into this problem right away.

[2016-04-21 04:28] utamar commented on #14203
hey @crosbymichael , what's the ETA for this issue?

[2016-04-21 05:42] byrnedo commented on #22144
I just attempted to reload the config using SIGHUP:
[code]

Do I need more in the `/etc/docker/daemon.json` file?

[2016-04-21 06:22] rakesh91 opened #22217 "Help for designing the network"
Hi,
I am planning to put my elasticsearch cluster using Docker. As far as I read  using overlay network is the best approach. There is a need to access all the docker containers publicly. Also I tried to give docker_gwbridge a publicly accessible address, I was not successful. Can any one suggest the best way to create elasticsearch cluster this, other than using the exposing the port in native br

[2016-04-21 06:29] WuZixing commented on #18194
I experienced a similar issue on centos 7 and Docker 1.8.3, every time when inspecting a container just after it being created but not started yet, or imediately after deleting it.

[2016-04-21 06:34] steve-gray commented on #21798
Hey,

@cpuguy83 -Requesting a re-open. The other issue is mitigated by means of lexicographically sorting the networks and having the first be the one that is the one that's touchable remotely. To this end I've renamed my networks as external, fabric and services - but nothing on external gets mapped.

What I'm hitting is the same issue, but with a container that is on both external and fabric not

[2016-04-21 06:38] unclejack commented on #22217
Hello @rakesh91

This issue tracker is dedicated to tracking Docker bugs, proposals and pull requests to make changes to Docker's source code. This issue tracker isn't a general support forum.
Please keep in mind that opening issues to ask questions when getting started will make everyone who contributes to the project spend more time looking at issues.

This kind of question and general support q

[2016-04-21 06:38] #22217 closed

[2016-04-21 06:47] rakesh91 commented on #22217
@unclejack sorry for posting it here and thanks for the tips. Are there any standard/ best network  practice while creating clusters using docker?

[2016-04-21 06:56] cupracer commented on #22185
Thanks @sanimej !

In 1.10 (and all the versions before) I didn't use "--dns 8.8.8.8", but just my default /etc/resolv.conf. These are the default entries as suggested by my hosting provider:

[code]

After upgrading to Docker 1.11 I had issues as described in #22081 and using 8.8.8.8 explicitly was the easiest way to proceed.

Thanks for the hint about Google's rate-limiting. I modified my Docker

[2016-04-21 07:15] adamlc commented on #22194
I'm getting the same issue on Debian Jessie, seems to randomly break our server but its the same error on the logs!

[2016-04-21 08:09] thaJeztah commented on #22214
Hm, looking at what's in there, I suspect it's a branch for updating / syncing an older version of the documentation

ping @SvenDowideit @moxiegirl were you working on refreshing old documentation?

[2016-04-21 08:41] vanloswang commented on #22143
@justincormack
I trace the code and find out that the error is cause by in libcontainer/process_linux.go. func start call json.NewDecoder(p.parentPipe).Decode(&ierr), but ierr return nil.
json.NewDecoder seems to be completed in golang/src/encoding/json/stream.go. It is difficult to debug now.

[2016-04-21 08:43] hqhq commented on #22214
My first thought is: Is Docker trying to maintain LTS for an old version?
Then I realize there are already 1.8.3 and codes in that branch doesn't seem like for v1.8. I think it must be some mistake or for temporary usage, that doesn't bother and users don't care, I'm going to close it, thanks for attention.

[2016-04-21 08:43] #22214 closed

[2016-04-21 08:44] cupracer commented on #22185
The "More than 50 concurrent queries from..." messages appeared again while I was writing my last comment:

[code]

My web service container seemed to work fine, but my crawlers failed to resolve external DNS names.
I did some tests by using ping to resolve names, because no dig or nslookup are installed in the containers and since DNS queries failed I couldn't even install these tools.

Container

[2016-04-21 08:48] vanloswang commented on #22143
@justincormack
Maybe the container image return nothing to the parent, so the input is nil for Decode, and Decode return nil?

[2016-04-21 08:52] cyphar commented on #22119
@eean I've removed docker-rc, since the docker package is now in maintenance for releasing Docker 1.11. Can you please update your system completely (so you have containerd 0.2.0)? Here's the versions of the relevant packages:

[code]

I'm on Tumbleweed at the moment, and I can't reproduce the issue. I'll check on Leap soon.

[2016-04-21 08:59] christiandalsvaag commented on #5618
Getting this on AWS running Linux 4.4.5-15.26.amzn1.x86_64 with Docker version 1.9.1, build a34a1d5/1.9.1.

kernel:[58551.548114] unregister_netdevice: waiting for lo to become free. Usage count = 1

Any fix for this?

[2016-04-21 08:59] cyphar commented on #22119
Yes, I'm the maintainer. I'm not really sure why that might've happened (we pulled the tag `v1.11.0` from our mirror repo). It's possible that might've happened on our experimental builds (which are in a different place, so @eean wasn't using those). But since that package no longer exists (it was mainly for my own testing in anticipation for the 1.11 release), it shouldn't be an issue anymore.

[2016-04-21 09:19] drsect0r opened #22221 "write unix /var/run/docker.sock->@: write: broken pipe"
I'm sending commands to different containers; this was working correctly until a few days ago. Since then, the only thing that changed is; a new Docker version was released and I switched from a TCP connection to a socket connection. Rest of the commands execute fine.

Information:

This environment runs inside of a virtual machine with Debian Jessie.
[code]

[code]

**Update**: The problem occurs

[2016-04-21 09:36] Teudimundo opened #22222 "Cannot remove container stopped while in "Restarting""
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Physical box

**Steps to reproduce the issue:**

Create a container with restart policy 'unless-stopped':

   `docker run -d --name restartbug --restart unless-stopped busybox /bin/true`

checking the status I get:

   `748270c68181  busybox  "/bin/tr

[2016-04-21 09:39] Teudimundo commented on #18509
@jordic I think I found the main reason for my problem, it is related to stopping a container in `Restarting` phase, here's the bug I filed:
#22222

[2016-04-21 09:56] Grief commented on #20950
I confirm that the issue is not reproducible in kernel 4.5.2 anymore

[2016-04-21 09:57] thaJeztah commented on #22214
Thanks, and thanks for paying attention! 👍

[2016-04-21 09:59] Teudimundo commented on #22222
As additional information, and workaround if one realise the issue before doing the `rm`, executing:
`docker update --restart no restartbug5`

while in Restart allow then to `stop` (if required) and then remove the container without the problem.

[2016-04-21 10:01] thaJeztah commented on #22131
Is this a duplicate of https://github.com/docker/docker/issues/20950, and fixed in kernel 4.5.2?

[2016-04-21 10:04] SergeyYakubov opened #22223 "Disabling user namespace for a container ???"
Do I understand correct that one can now disable user namespace just by adding --userns=host to a run/exec command?

Does not it breaks the whole idea of having user namespaces? We were very happy to see them in version 1.10 where we could allow user bring their containers to our system in run them without worrying that they can get root rights.

Is there a way to force user namespaces and igonre

[2016-04-21 10:06] monoflash commented on #22131
[code]

[2016-04-21 10:07] vyachkonovalov commented on #20628
@Schwankenson Thank you, setting mtu to 900 solved the problem in my case too

[2016-04-21 10:10] monoflash commented on #22131
v1.11.0 i download from https://github.com/docker/docker/releases link "Linux 64bit tgz:"
Not build from source.

[2016-04-21 10:11] HackToday commented on #22222
Confirmed hit that in master
[code]

but after `docker rm -f <container id>`, the container gone

[2016-04-21 10:15] thaJeztah commented on #22011
ping @aaronlehmann ptal

[2016-04-21 10:27] thaJeztah commented on #22119
Thanks all for clearing up 👍, I'm going to close this issue, because this was probably due to an "incomplete" build being installed, and the SUSE build is still in "testing".

[2016-04-21 10:27] #22119 closed

[2016-04-21 10:36] psychok7 commented on #15581
I needed to downgrade so i did a `apt-cache policy docker-engine` to list the version and then `sudo apt-get install docker-engine=1.10.3-0~trusty`

[2016-04-21 10:51] SvenDowideit commented on #22214
i don't ​_think_​ its likely to be me
I delete my computer and reinstall too often
yeah, i don't have a v1.8.2 branch in my fork either

[2016-04-21 11:04] LPardue commented on #22204
Thank you for the link @thaJeztah.

Running `route -n` reported a route similar problem route `172.16.0.0 ` with netmask `255.240.0.0`. If I delete this route, I can start the Docker service successfully. After it is started I see the route:

[code]

So while it seems like I have a fix, I do not understand the root cause behind the error. Would it be possible to explain this please?

[2016-04-21 11:04] AnishKhandelwal06 opened #22224 "running docker overwrites host machine /etc/hosts to point to 172.17.0.1 on OEL6u7"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
OEL6 update 7

**Steps to reproduce the issue:**
1. Install docker engine and start docker service
2. run some docker commands like docker pull etc.
3. check the host machine /etc/hosts file
It gets modified to point to 172.17.0.1

**Describe the resu

[2016-04-21 11:23] sandrokeil commented on #21966
It would also be useful to use a file buffer instead and send the logs to the syslog server if it is available again.

[2016-04-21 11:23] thaJeztah commented on #22214
ping @docker/core-engine-maintainers anyone?

[2016-04-21 11:31] justincormack commented on #22223
There are a whole lot of ways in which users can elevate privileges through `docker run`, eg by using `--privileged`. You can stop this by either not directly providing access to the daemon in production, and using scripts, or by using an auth plugin (see https://docs.docker.com/engine/extend/plugins_authorization/) to disallow some options.

[2016-04-21 11:42] thaJeztah commented on #20400
@jpcope the "restart" timer is reset after a container has been running for 10 seconds, if it exits before that time, the duration between restarts is incremented with each restart. the "restarting" status, basically is "wait for the next restart attempt", and that can grow rapidly. If you have containers that only need to run for a short time, and be started with a certain interval, something lik

[2016-04-21 11:44] SergeyYakubov commented on #22223
--privileged was not allowed when user namespaces were activated. I find it really strange idea to have --userns=host option that cancels everything.

I will try look at auth plugin, thanks, but it just worked before out of the box :(

[2016-04-21 11:50] hustcat opened #22225 "Same image ID with different digests"
docker 1.10.1:

[code]
Two tags point to the same image ID:
[code]

Is this a correct thing?

Ref to [docker@distribution #1654](https://github.com/docker/distribution/issues/1654)

[2016-04-21 11:51] thaJeztah commented on #22223
User namespaces are for making the *containers* more secure, but not for limiting capabilities for users that have access to the Docker remote API. The general security measures still apply when enabling user namespaces https://docs.docker.com/engine/security/security/#docker-daemon-attack-surface.

I'm going to close this issue, because this is not a bug, and user namespaces are not designed to m

[2016-04-21 11:51] #22223 closed

[2016-04-21 11:54] eeluve commented on #21570
Hi, just because you answer quickly and I couldn't get any help in docker IRC and there's no docker channel in slack .. I will try to ask here. Deployed private registry v2 and issued self-signed certificate. Can login just fine from debian-based machines with 1.11 client, but from ones(atomic-host: rh-based) with 1.8 and 1.9 it also requests for "mail" during docker login procedure and then fails

[2016-04-21 12:15] thaJeztah commented on #21570
In registry "V1", search was part of the registry; in V2, a registry is (by design), only a *registry*, but does not have indexing / search capabilities (see the documentation here; https://docs.docker.com/registry/spec/api/). Docker Hub, and [Docker Trusted Registry](https://docs.docker.com/docker-trusted-registry/overview/) add this capability.

What versions of docker 1.8 and 1.9 do you have in

[2016-04-21 12:28] cupracer commented on #22185
Another thing I'm wondering about is that the "dig" query often needs about 5 seconds to return a result, but dig tells me that the query just took < 1 second.

[code]

Using an external (my provider's) nameserver explicitly, dig executes much faster:

[code]

[2016-04-21 12:30] callebjorkell commented on #21148
I haven't been able to look into this, but we did create a go client for another part of our system recently using the same types of intermediate client cert. Being written in go, we ran into something that might be relevant for this. The tls package does seem to construct a ca bundle, reading all certs in the ca file. However, to get the client cert to use the intermediate, it had to be in the cl

[2016-04-21 12:33] vbatts commented on #22214
looks like someone with push privilege may have accidentally made a branch called `v1.8.2` from master and pushed it. Most recent commit in this branch is ac7e011ec90b110e62aafd3a1b2963634c9976a3

and it's not the same as the v1.8.2 tag
[code]

[2016-04-21 12:36] talon-hartmann opened #22226 "Sporadic RPC error "containerd: container did not start before the specified timeout""
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Physical box:
Debian 8.4
Linux talon.one 4.4.0-0.bpo.1-amd64 #1 SMP Debian 4.4.6-1~bpo8+1 (2016-03-20) x86_64 GNU/Linux

**Steps to reproduce the issue:**

We build our image using Drone, and at the end of the build the new docker image is automatical

[2016-04-21 12:40] Teudimundo commented on #22222
@HackToday, right, with `rm -f` you still get the error but the container is then removed. Thanks.

[2016-04-21 12:57] thaJeztah commented on #22212
please keep in mind that the GitHub issue tracker is not a general support forum, but for reporting bugs and reviewing PR's.

Since this is a support question for working with Docker, can you ask this question on;

- forums.docker.com
- in the #docker IRC channel
- on StackOverflow

But when asking, please provide some more information (e.g. What version of docker are you using? Are your container

[2016-04-21 12:57] #22212 closed

[2016-04-21 13:02] antoineco commented on #783
Running into this issue with Docker for OS X beta (Docker 1.11.0-beta8) while using ONBUILD instructions. It's quite easy to reproduce:

[code]

[code]

[code]

It works if you move the directory and try again:

[code]

[2016-04-21 13:03] adamlc commented on #8795
@kamigerami it looks like your consul agents are advertising their docker bridge IP, meaning that the consul servers wouldn't be able to connect correctly, I suspect this is the case!

[2016-04-21 13:08] thaJeztah commented on #22224
ping @Djelibeybi any ideas? Possibly this is related to https://github.com/docker/docker/issues/10216, which (I think) was due to an old version of BTRFS being used to initialize BTRFS

[2016-04-21 13:24] eeluve commented on #21570
Ok, thanks for your answer even tho my post was against the rules. May I invite you to #atomic channel @freenode IRC. There are several RH devs right now and we sort of struggle of not having any in-depth docker specialist. Only if that's possible. And should you decide to join, just address any post to ansyeblya/aweiteka/dustymabe.

[2016-04-21 13:27] thaJeztah commented on #783
@antoineco I was able to reproduce on Docker for OS X, switching to overlay resolved it, so it's an aufs issue indeed. Can you report this issue through beta-feedback@docker.com ?

[2016-04-21 13:30] thaJeztah commented on #783
I opened an issue in the internal issue tracker as well (number `#2693`)

[2016-04-21 13:30] byrnedo commented on #22144
@sanimej The weird happenings are the following series of events:

1. Container makes a dns lookup to some.domain
2. Consul logs:
[code]
3. Container that made the dns request becomes partially unresponsive from that point onwards when being accessed by ip.

Another thing I've seen in the docker logs on the master is:
[code]

One more thing is that from any container on the master node, pinging on

[2016-04-21 13:33] thaJeztah commented on #21570
@eeluve I think @runcom would be the best person for that; he's both a Docker maintainer, and employed by Red Hat (so knows of all the differences there)

[2016-04-21 13:35] davegandy commented on #18264
@thaJeztah Yep. Absolutely fair. We'll just skip adding it to Font Awesome in the meantime. :)

[2016-04-21 13:41] thaJeztah commented on #22221
Do you have an (as simple as possible) way to reproduce this?

[2016-04-21 13:42] ernetas commented on #21702
Still seeing on Ubuntu 16.04 with Docker 1.11. Removing `/etc/apparmor.d/docker` using the instructions does not work.

[2016-04-21 13:43] cpuguy83 commented on #21798
ping @aboch

[2016-04-21 13:52] drsect0r commented on #22221
@thaJeztah Unfortunately not. We use [docker-php](https://github.com/docker-php/docker-php) to orchestrate our own Docker environment. If you want I can try to provide an example in PHP but that will mean that you guys need to install PHP to test.

[2016-04-21 13:58] mlaventure commented on #21702
@ernetas can you give us the output of `apparmor_status` ?

Also, the profile to remove was `docker-engine` not `docker`

[2016-04-21 13:58] cpuguy83 commented on #22211
Just looks like you're running out of memory on the machine.
Is it normal for your python process to consume a gig of memory under such a load?

[2016-04-21 13:58] thaJeztah commented on #22211
Setting a memory-limit only prevents the kernel from randomly killing *other* processes (e.g. the docker daemon), but doesn't prevent your container from running out of memory.  If the process in your container requires more memory, increase the amount of memory for the Virtual Machine (or add swap), or tweak / change the application to consume less memory.

Note that this is not different from ru

[2016-04-21 13:58] #22211 closed

[2016-04-21 14:08] mlaventure commented on #21966
Duplicate of #22129 (although different reason, reasoning is the same).

[2016-04-21 14:10] thaJeztah commented on #22221
@drsect0r you're running PHP on the host, or inside a container? Trouble here is that that this bug could just as well be specific to the setup and/or the library calling the API. So as much information as possible (and a way to reproduce) would be really appreciated.

[2016-04-21 14:11] ernetas commented on #21702
Sure:
[code]

Yeah, `docker-engine` didn't exist, so I tried removing `docker`.

On one machine, I tried uninstalling `apparmor` and still same issue after reboot.

[2016-04-21 14:12] thaJeztah commented on #21966
@mlaventure the other way around; this was reported before 😄

[2016-04-21 14:13] thaJeztah commented on #22129
@mlaventure @programmerq shall we close this one in favor of https://github.com/docker/docker/issues/21966, because it's basically the same issue?

[2016-04-21 14:17] HackToday commented on #21702
same it was not ask to remove docker, not sure why some machine have two profiles(`docker-engine` and `docker`), while some only have one profile ?

[2016-04-21 14:18] mlaventure commented on #22129
@thaJeztah Happy to close either of them, I actually mis-clicked and didn't close #21966 :)

[2016-04-21 14:22] mlaventure commented on #21702
@HackToday you'd only have the `docker-engine` profile if you had installed one of the 1.10 rc (can't remember which one).

@ernetas In that case can you provide `docker version`, `docker info`, and the relevant debug output log please?

[2016-04-21 14:28] #22129 closed

[2016-04-21 14:36] ernetas commented on #21702
Docker version:
[code]
docker info:
[code]
docker compose (used to create containers) yml files:
[code]
[code]

I created containers with `docker-compose -f test.yml -p test up -d` and then rebooted. Next thing you know - containers didn't start and couldn't be started.

Docker daemon logs that include the start of reboot:
[code]

[2016-04-21 14:41] moxiegirl commented on #22214
Very easy to set `no_push` which I have as part of my setup routine on all repos.  Prevents this kind of thing.

`git remote set-url --push upstream no_push`

[2016-04-21 14:43] thaJeztah commented on #22214
@moxiegirl yup, my first step as well; I just wanted to check it wasn't intended for some reason :smile:

[2016-04-21 15:03] vdemeester commented on #22214
hum.. weird :sweat:

[2016-04-21 15:03] ivan-exness commented on #2174
Same issue:
[code]

[2016-04-21 15:05] Nokel81 commented on #18758
I get this as well. I have a machine with 2 cpus and when I do a graceful stop on the ongoing containers it hangs and I need to manually stop the vm via virtualbox to stop it. This resualts in me having to start/stop the vm twice before the ports are exposed.

[2016-04-21 15:17] jberkus commented on #783
FWIW, I'm on Fedora 23 now, and haven't had the issue since.  So it is getting resolved upstream.

[2016-04-21 15:20] tonistiigi commented on #22214
@thaJeztah We should delete it as it is not `1.8.2`. It is likely from the github search box. When you search a branch and press enter, if branch doesn't exist it is created. The user may not even notice it.

[2016-04-21 15:29] jpcope commented on #20400
@thaJeztah Thank you :-)

When I found this in the manual I did just that. Thanks for following up as I was experiencing both this and the issue in #17653

[2016-04-21 15:30] tonistiigi commented on #22214
Removed it.

[2016-04-21 15:32] vbatts commented on #22214
@tonistiigi that was my thought

[2016-04-21 15:40] StefanScherer commented on #18120
I'll close this one as the PR #21040 is also closed. Docker Client aborts by design if a directory/symlink/etc. could not be sent to the Docker Engine. Tests on Linux with protected files/sub directories show the same behavior.

Simple workaround if someone wants to write a Dockerfile in the users's Documents folder is adding a `.dockerignore` file with

[code]

Then a `docker build -t test .` wor

[2016-04-21 15:40] #18120 closed

[2016-04-21 15:40] thaJeztah commented on #22214
Thanks all, mystery solved! Bad bad UX, GitHub

[2016-04-21 15:41] aboch commented on #21798
@steve-gray Trying to gather more information. Can you provide your compose file. Thanks.

[2016-04-21 16:07] aaronlehmann commented on #22011
The digest field is only populated for images that are pulled by digest. So loading an image from a tar won't fill it.

I'm not sure the field could be carried through on save/load because of the security implications. A saved image could lie about the manifest's digest, since the manifest is not part of the saved image.

Generally, it's better to use use the image ID to check image provenance. Th

[2016-04-21 16:09] aboch commented on #22204
@LPardue
On a fresh install, docker looks for a subnet to assign to the default network `bridge` (backed by the linux bridge `docker0`). It goes through a list of predefined subnets and looks for an eligible one, which is one which does not overlaps with an existing route in your host.
If it cannot find any good subnet, it gives up as it would not be able to provide an operational default `bridge`

[2016-04-21 16:19] saada commented on #15651
@linas , you're a life saver! `rm -r /var/lib/docker` did the trick to get us back in business!

[2016-04-21 16:19] tonistiigi commented on #21702
@ernetas That's not the same issue. Notice that the path is different. See https://github.com/docker/docker/issues/21702#issuecomment-210142727 for that. If it remains as a problem for you, please open a new issue to track it. cc @crosbymichael

[2016-04-21 16:36] bukzor commented on #22207
Surely it's possible, but I don't know how.
Please try running the below script on one of your active docker hosts and see what's left.
In our case, there's always plenty of diffs left behind.

[code]

[2016-04-21 16:37] sanimej commented on #22185
@cupracer By any chance do you have the daemon logs when you did the manual ping google.de from the crawlers ? That should confirm if the outstanding query count is still stuck at 50.

Will you be able to run a private docker binary ? I can give you one built from 1.11.0 with the patch for the panic issue ([libnetwork #1117] (https://github.com/docker/libnetwork/pull/1125)) and also increase the r

[2016-04-21 16:50] tonistiigi commented on #22207
One possible way I see this happening is that if there are errors on aufs unmounting. For example, if there are EBUSY errors then probably the image configuration has already been deleted before.

@bukzor Would be very interesting if there was a reproducer that would start from an empty graph directory, pull/run images and get it into a state where it doesn't fully clean up after running your scri

[2016-04-21 16:52] eparis commented on #22109
I generally think it is a bad idea to try to 'merge' profiles. You'll never do it 'right' given only the OCI format information. You can't know exactly what the user wanted. Composing policies is hard, layering policies is 'easy'.

The kernel can layer profiles and it seems to me like exposing that is a good idea. If you load multiple profiles into the kernel they will be executed in order and the

[2016-04-21 16:59] justincormack commented on #22109
@eparis yes we could allow layering with multiple calls, either layered on top of the default profile or the unconfined profile. The kernel will fail layers that do not have the same default policy, so you can only layer whitelists on whitelists or blacklists on blacklists, which is fine.

[2016-04-21 17:05] eean commented on #22119
Thanks, discussion continues at https://bugzilla.opensuse.org/show_bug.cgi?id=976496

[2016-04-21 17:07] eean commented on #22119
Actually it just works now. :)

[2016-04-21 17:15] bukzor commented on #22207
That would be interesting, but sounds like a full day's work.
I can't commit to that.

Here's some more data regarding the (arbitrarily selected) troublesome diff above, `a800`.

[code]

So we see there's a chain of child layers, with `f3286009193` as the tip.

[code]

So that layer was used in mount `eb809c0321`. I don't find any references to that mount anywhere:

[code]

Is there any way to fin

[2016-04-21 17:37] #22210 closed

[2016-04-21 17:44] hamid-elaosta opened #22231 "Network inspect Id vs ID"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. create docker network
2. docker network inspect network
3. docker network inspect network -f {{.Id}}

**Describe the results you received:**

When running network inspect, the JSON output shows the "Id" field capi

[2016-04-21 17:48] insertinterestingnamehere opened #22232 "`net user` fails in Windows Server Container"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Windows Server 2016 TP4 machine on Azure.

**Steps to reproduce the issue:**
In the docker container run `net user`

**Describe the results you received:**

[code]

**Describe the results you expected:**
The command should exit successfully.

[2016-04-21 18:06] JacobHenner commented on #15341
Experiencing the same bug, Docker on Arch. 1.10.3

[2016-04-21 18:25] vpaul opened #22233 "Docker hangs sporadically or on container stop"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

AWS

**Steps to reproduce the issue:**
docker stop ${contianer_id} or it just hangs after a while

**Describe the results you received:**

docker ps stops working, containers are not responsive.

It is reproducible also on another instance with aufs

[2016-04-21 18:36] cupracer commented on #22185
@sanimej Yes, the daemon logs should be there, but I'm afraid that they're too big to get useful information out of it. I tried something different. I modified the libnetwork/resolver.go file to just log the concurrent queries counter within "forwardQueryStart":

[code]

Every time an external DNS query is done, a counter is logged in the daemon log. This has already been running for 3 hours and l

[2016-04-21 18:47] tonistiigi commented on #22207
@bukzor `eb809c0321` is the container id. What docs mean is that aufs id (`f3286009193f` in your case) is not container id.

/cc @dmcgowan as well

[2016-04-21 18:59] bukzor commented on #22207
@tonistiigi OK.

Then obviously the mount has outlived its container.

At what point in the container lifecycle is the mount cleaned up?
Is this the temporary writable aufs for running/stopped containers?

[2016-04-21 19:02] thaJeztah commented on #783
@jberkus thanks for the info. I was able to reproduce it on Ubuntu 14.04 on kernel 3.19.something. Would be nice to know which version of aufs its solved in, possibly the Docker Mac team can bump the version to include the patch that's needed

[2016-04-21 19:03] sainath14 opened #22235 "orphaned images with repository and tag as none when docker build fails"
When docker build fails some way in the middle of a dockerfile, for e.g. make test in docker build from source code environment, it leaves a image with repo and tag name as none. When we restart the build with changes to the environment or the Dockerfile looks like it starts to build from the same image, but a copy of the partially built image is left behind.

![image](https://cloud.githubusercont

[2016-04-21 19:18] cpuguy83 commented on #22235
These images are the intermediate steps used for the build cache.

[2016-04-21 19:24] ncopa commented on #20303
@globalcitizen nice to hear that you contribute back. I think it is reasonable that you "scratch your own itch" when you don't pay for the product. In fact this issue affects me too but I have not (yet) bothered enough to actually fix it.

After a quick look it does seems fixable without too much effort. Apparently, the `chroot` in question is there to prevent extracting tarballs with symlinks poi

[2016-04-21 20:00] sanimej commented on #22185
@cupracer Please let me know your observation with the fix for the panic issue..

The apparent jumps in the number of concurrent queries is because they are for different containers. daemon maintains the count per container..
[code]
count going from 49 to 50 should be one container and the 0 and 1 in between should be for some other container.

[2016-04-21 20:11] sainath14 commented on #22235
@cpuguy83 True. Let's name this intermediate image from failed docker build attempt as A. This just hanging around there after the docker build failed abruptly. Looks like the next attempt to build from the same dockerfile uses this intermediate image and a successful attempt would create a final image B. But this intermediate image A from the failed attempt still needs to be present? I tried to r

[2016-04-21 20:19] dionjwa commented on #17830
Thanks so much for this, it really helped me.

[2016-04-21 20:30] cpuguy83 commented on #22235
@sainath14 The image itself, no. The underlying rootfs that the image uses, yes.

[2016-04-21 20:30] cupracer commented on #22185
@sanimej

Oh yeah, that's right! Didn't think about that!

The fix for the panic issue works great! I reverted my daemon options and don't use the "--dns" parameter anymore. No more panics were logged and I can see in the logs that 3 different nameservers are in use (taken from my host's resolv.conf). In most cases only the first entry is used, but in case of an error docker uses the 2nd and 3rd n

[2016-04-21 20:42] Djelibeybi commented on #22224
I'm not sure #10216 is related, because this machine is running a 4.1.12 kernel, which has a fairly modern btrfs codebase. However, I also have no idea.

Though, I notice that the user is using one of our internal Oracle hostnames, so I'd also suggest they open an internal bug for this. That way, we can investigate internally as well.

[2016-04-21 20:43] tonistiigi commented on #22207
@bukzor (rw) mount is deleted on container deletion. Unmount happens on container process stop. Diff folders are a place where the individual layer contents are stored, it doesn't matter is the layer is mounted or not.

[2016-04-21 20:46] dmcgowan commented on #22207
@bukzor The link between the aufs id and container id can be found at `image/aufs/layerdb/mounts/<container-id>/mount-id`. From just knowing an aufs id the easiest way to find the container id is to grep the `image/aufs/layerdb` directory for it. If nothing is found, then the cleanup was not completely cleanly.

[2016-04-21 20:47] thaJeztah commented on #22224
@Djelibeybi it's still possible if an old version of btrfs was used during creation, and the kernel updated afterwards

[2016-04-21 20:52] Djelibeybi commented on #22224
@thaJeztah perhaps, though even our UEK3 has a more modern version of `btrfs` than referenced in that other issue. I've sent some internal mails to see if we can reproduce it internally.

[2016-04-21 20:58] thaJeztah commented on #22224
@Djelibeybi thanks!

[2016-04-21 21:03] mlaventure commented on #22222
@Teudimundo do you have any running containerd mounting  `/var/run`? If so, it could be the same as #21969

[2016-04-21 21:06] kayhu commented on #20192
I just follow the steps in installation page https://docs.docker.com/engine/installation/linux/ubuntulinux/,
command apt-cache policy docker-engine returns: Unable to locate package docker-engine.
This happens when using apt-get install docker-engine as well

[2016-04-21 21:11] Teudimundo commented on #22222
nope, no container is mounting `/var/run`.

[2016-04-21 21:19] mlaventure commented on #22199
@chefarov I've tried to reproduce your error with your compose file (minus the volumes and env_file directive) and had no luck so far.

Could we try reproducing after having followed the step in https://github.com/docker/docker/issues/21702#issuecomment-210224160 ?

[2016-04-21 22:00] mlaventure commented on #22157
Moving this to 1.12.0 since there's a nice workaround and it won't be fixed in time anyway.

[2016-04-21 22:14] killarny commented on #22182
Chiming in.. I'm seeing this as well. The package doesn't appear to be properly listed for apt to find, but I am able to download the deb manually and install it:

[code]

[2016-04-21 22:29] mlaventure commented on #22131
@monoflash could you try by using a different backing fs as suggested by https://github.com/docker/docker/issues/22131#issuecomment-212033791 ?

Also, and maybe harder, try using a 4.5.2 kernel as suggested by @thaJeztah ?

[2016-04-21 22:35] mlaventure commented on #22222
@Teudimundo `/var/lib/docker`then?

I still can't find a way to reproduce this issue otherwise, I did come upon the issue that @tonistiigi #22237 PR is fixing but that's it.

I'll mark this as P3 until we have a dev that can reliably reproduce it for debugging.

[2016-04-21 22:36] tiborvass commented on #22182
@nazar-pc @killarny @ajsb85 @jaytheking @danbeaulieu @thuandt @eliezedeck @Someguy123 @Mellnik @icewheel

Please try installing docker on xenial now, it should work.

[2016-04-21 22:38] vshvedov commented on #22182
@tiborvass xenial, amd64 - it works now :+1:

[2016-04-21 22:40] tiborvass commented on #22182
Thanks, I have other reports as well that it seems to work now, so i'm going to close this. Feel free to comment if you see something weird.

[2016-04-21 22:40] #22182 closed

[2016-04-21 22:44] tiborvass opened #22238 "apt-ftparchive does not mkdir -p"
The issue in #22182 was that since xenial was a new package, the `repo/dists/ubuntu-xenial/main/binary-amd64` and `repo/dists/ubuntu-xenial/main/binary-i386` directories were not created at the time apt-ftparchive is called in `hack/make/release-deb`. I dont know why apt-ftparchive doesn't handle this on its own but we should fix it in our scripts as a workaround.

[2016-04-21 22:51] monoflash commented on #22131
Problem solved.
Thanks.

[2016-04-21 22:51] #22131 closed

[2016-04-21 22:59] cyphar commented on #22131
If it's a kernel issue, I can submit a bug report to get it backported into the Tumbleweed kernel. You'd have to wait for the next kernel update though.

I'd also recommend using the Docker packages we ship on openSUSE, because we apply certain patches and other things to make sure that Docker works properly on SUSE systems.

[2016-04-21 23:09] TrimBiggs opened #22239 "Running Docker network driver plugin as a Docker container"
Does Docker support running a Docker network driver plugin as a container?

I am running a networking plugin as a container within Docker.  I'm using etcd as a cluster store.  With containers running and networked with my plugin, I end up running into an issue when I stop and restart the Docker daemon.

With Docker running, I start my network plugin, then I run the following:

[code]

When I stop

[2016-04-21 23:10] tonistiigi opened #22240 "Implicit pull on run broken on master"
Doing `docker run busybox ls` on empty daemon starts pulling all the tags of busybox repo.

Regression point should be #21657

ping @vdemeester

[2016-04-21 23:24] icecrime commented on #22239
Ping @anusha-ragunathan @tiborvass (cc @mavenugo).

[2016-04-22 00:01] mavenugo commented on #22239
@TrimBiggs we added a workaround for such issues via the `docker network disconnect -f {network} {container_name}`. In this case, `docker network disconnect -f my_net test_container`. If you start the container after the forced disconnect, the container must come up fine.

Docker daemon tries its best to perform the stale endpoints (left in the kv-store due to ungraceful daemon shutdown) when the

[2016-04-22 00:13] phemmer commented on #22224
This smells like NetworkManager. I think it unlikely that docker is the culprit here. Especially if it changes without you doing anything with docker (starting/stopping containers).

I'd take a look at the mtime of the file, and then look through your logs, and see what was happening at the exact time the file was modified.

[2016-04-22 00:48] mlaventure commented on #22108
@mattgiles did it work for you?

Closing this for now, assuming it did. Feel free to re-open if it didn't.

[2016-04-22 00:48] #22108 closed

[2016-04-22 00:49] unclejack commented on #20303
@globalcitizen I'm very sorry if my comment made it seem I don't understand what the grsec patches do and what they are. Leaving that aside, what I was saying is that we shouldn't make changes to Docker if that means having less secure systems in the absence of the grsec patched systems.

The points I was making in the previous comment are still valid.
Grsec isn't completely available in the open

[2016-04-22 00:54] mlaventure commented on #22185
Sorry for the switch of priorities, got confused with another issue

[2016-04-22 01:14] onlineworld69 commented on #22212
I am sorry and thanks for making it clear to me.

[2016-04-22 01:26] #22174 closed

[2016-04-22 01:26] sanimej commented on #22185
@cupracer With the logs you added its clear that the count does decrement correctly after hitting 50. Since the rate-limiting is new in 1.11 is it possible that the web crawler app is having issues in handling the dns resolution failures ?

In the current state if you still see `More than 50 concurrent queries` messages, the main thing to confirm is whether subsequent queries fail and the associat

[2016-04-22 01:56] HackToday commented on #22240
yes, hit that in dev master branch

[2016-04-22 02:03] HackToday commented on #22231
It seems a bug, I'd like to take a look at it

[2016-04-22 02:03] HackToday commented on #22231
#dibs

[2016-04-22 02:10] HackToday commented on #22233
Did you container special or any other container can reproduce such issue ?  Thanks

[2016-04-22 02:16] HackToday commented on #22235
What did those none image show ?
`docker images -f dangling=true` did the output include that ?

Also could you `docker inspect <image id>`, and check what's relationship does it have ? it should have one `Parent` field.

[2016-04-22 02:48] SamSaffron commented on #22174
Fair enough! thanks!

On Fri, Apr 22, 2016 at 11:28 AM, Sven Dowideit <notifications@github.com>
wrote:

[2016-04-22 04:25] zh99998 commented on #21142
consider provide a TCP check for non-http(s) apps

[2016-04-22 05:19] pnovotnak commented on #21626
I'm encountering this in real-world usage. In my case a user built an image on their MacBook in a docker-machine VM. I asked him to do a `docker version` and this is the output;

    Client:
    Version:      1.8.3
    API version:  1.20
    Go version:   go1.4.2
    Git commit:   f4bf5c7
    Built:        Mon Oct 12 18:01:15 UTC 2015
    OS/Arch:      darwin/amd64

    Server:
    Version:      1

[2016-04-22 05:28] AkihiroSuda commented on #22221
I'm intermittently hitting this issue as well.
Although I could not find any simple reproducer yet, at least, I have never used PHP with Docker.
So this is not specific to PHP.
I'll try to find out a reliable reproducer.

`docker info`
[code]

`docker version`
[code]

[2016-04-22 06:05] vpaul commented on #22233
Nope, not a like special. It is reproducible on different instances with different containers.  aufs/devmapper doesn't matter.

[2016-04-22 07:01] AntAreS24 opened #22243 "Error response from daemon failed to create endpoint <> on network bridge: failed to set MTU on host interface vethxxxxx: invalid argument"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Vagrant script creating 1 master (running Kubernetes and a Docker registry) and 2 nodes (running docker images). All through VirtualBox.

**Steps to reproduce the issue:**
1. Do a 'vagrant up' at work.
2. Go home and do 'vagrant halt', then 'vagrant u

[2016-04-22 07:07] vdemeester commented on #22240
@tonistiigi ah damn, was wondering if it was just libcompose and other user of engine-api or even the engine.

I've sent a fix here https://github.com/docker/engine-api/pull/205 that could be revisited without the 'all' part. Or I can do the same fix I did in libxompose. I'll look at this later today ;-)

[2016-04-22 07:31] seffenberg-naspers opened #22244 "docker remote api behavior changed from 1.10.3 to 1.11.0"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

My own laptop (Lenovo X230, Debian unstable)

**Steps to reproduce the issue:**
1. try to login via api v1.16
[code]

**Describe the results you received:**

I get an 500 internal server error if I try to authenticate against a specific api version (

[2016-04-22 08:06] iqqmuT commented on #20192
Now the deb package is found from the repository, installation works well.

[2016-04-22 08:09] byrnedo commented on #22185
Just to confirm I'm seeing 10 second wait for dns responses inside containers ( not all, one ):
[code]

Doing a dig against the consul agent directly from outside the culprit container yields answer instantly.

[2016-04-22 08:17] HackToday commented on #22240
docker/engine-api#205 could be one option, also in docker before, we did
https://github.com/docker/docker/pull/21657/files#diff-3d537578e5c3f29c85ab371eb727e7c8L28
which docker side pass default tag if not specified.

[2016-04-22 08:25] drsect0r commented on #22221
@thaJeztah I am running PHP in a container and depending on production or development environment  the connection is either made with a TCP connection or a mounted /var/run/docker.sock.

I am working on trying to get something reproducible for you, I do have a hunch that my application is sending the command to quickly. When I have something I will report back.

[2016-04-22 08:26] andromeda979 opened #22245 "No kernel memory limit support "Debian GNU/Linux 8 (jessie)""
Goodmorning everyone,
sorry for the inconvenience,
I have a problem with this error
I added in / etc / default / grub "GRUB_CMDLINE_LINUX_DEFAULT =" cgroup_enable = memory swapaccount = 1 ""

but it continues to give me the same error

[code]

Tips?

How can I increase the memory limit?
Many thanks to all of you!

[2016-04-22 08:48] aanisimov opened #22246 "Docker stats showing container names (optionally?)"
What do you think of adding _container name_ to the output of docker stats command?

Adding a container name could be more informative to user and there will be no need to use workarounds like:
[code]

[code]

[2016-04-22 08:49] vdemeester commented on #22240
@HackToday As said on docker/engine-api#205 :

So the basic idea is making more clear than just "no tag == all tag" on the client api side, and, later on if we don't want to change the API, update the server API to be more clear.

[2016-04-22 08:53] andromeda979 commented on #22245
I tried to verify with the script "check-config.sh"
I got this result

[2016-04-22 08:57] cupracer commented on #22185
@sanimej I installed some more RPM's in my crawler containers to have some debugging tools available. Then I restarted my whole docker environment and waited for my app's to report DNS lookup errors. They start to appear on a random container after a while and whenever this starts to happen, DNS lookups don't work at all for this single container if the IP 127.0.0.11 is used as a nameserver. Direc

[2016-04-22 09:26] sanimej commented on #22185
@cupracer Can you please get the tcpdump from the container as well ? You can do it from the host using nsenter..

sudo nsenter --target $<pid of container> --net

Lets see if the DNS server did send something back to the container..

[2016-04-22 09:33] trosenkranz commented on #22245
Hello everyone.
I can confirm this behavior after todays update from docker-engine:amd64 1.10.3-0~jessie to 1.11.0-0~jessie (Debian Jessie Server) .

[2016-04-22 09:35] cupracer commented on #22185
@sanimej
The tcpdump above was already captured directly within the container.
Does nsenter do something different?

I'm not familiar with this command. I replaced "$" with the PID of the container's "containerd-shim" process. In this context I should use tcpdump to filter for the container's internal IP. Is that right? Thanks!

[2016-04-22 09:37] eeluve commented on #21570
Ok, "your people" in IRC helped me and I started several registries on various OS. Yet everything works fine. Locally querying the registry with docker_registry list and remotely with: curl -k -u user:pass -X GET https://domain.local:5000/v2/_catalog. Actually figured myself, somehow missed this part in API part of the manual, it's so huge. May make sense to cut abit to prevent TL issues ;)

[2016-04-22 09:50] shenya123 commented on #13451
try long path tool.

[2016-04-22 10:02] zh99998 opened #22249 "Proposal add native zero-downtime update container mechanism"
## Problem

update an app without downtime is a common requirement nowadays.
for now, smooth update a running container is complex.

I know docker firstly build for big business and there must be a load-balancer already then docker don't need to care about it. But docker is being a "standard" software distribution format and many small studio could also benefit from docker by platform independence

[2016-04-22 10:32] liron-l commented on #22011
Thanks for the clarification @aaronlehmann, few follow ups:

1. Any reason not include the `RepoDigests` field in regular pulls?
2. Image ID is not persistent across machines, so I'm not sure how it is usable to verify trust (especially since trust is established via the digest)
3. Why not include the original manifest as part of the image specification?

[2016-04-22 10:42] sanimej commented on #22185
Sorry, my bad. Didn't realize that the capture is from inside the container. nsenter method is not required.

Can you please capture the dump without port 53 (ie: tcpdump -n -i any udp) ? Because of the way embedded DNS works this should show you one additional packet per query. This is to confirm if the reply from the docker dns server is going with the correct ID in the DNS header.

[2016-04-22 10:50] l3m commented on #12641
I would be very interested to see changes. Doesn't need to be a full diff, but even just a list of touched filenames would be very helpful. For me, the main goal is to reduce image size, so being able to see what exactly contributes to the layer would be a great help.

[2016-04-22 11:29] cupracer commented on #22185
@sanimej Okay, here it is. This is a single "dig opensuse.org":

[code]

[2016-04-22 11:30] bboreham commented on #22239
See also https://github.com/docker/libnetwork/issues/882

[2016-04-22 11:34] cupracer commented on #22185
This is the corresponding Docker debug output (please note that the timestamps are in UTC+2):

[code]

[2016-04-22 11:37] bboreham commented on #22239
@mavenugo is there a new proposal for "system containers"?  #18724 was closed.

[2016-04-22 11:56] vanloswang opened #22250 "docker 1.11 run container failed"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
physical

**Steps to reproduce the issue:**
1. wget http://mipsfedora.imgtec.com/development/22/mips64el/images/20150601/rootfs.tar.gz
2.tar xvf ../rootfs.tar.gz
3.tar -C ${rootfs}/ -c . | docker import - fedora-22
4.docker run --hostname='fedora-cont

[2016-04-22 12:01] mcanevet opened #22251 ""docker volume ls" slow since Docker Engine 1.10"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Desktop machine on Ubuntu 15.10

**Steps to reproduce the issue:**
1. Ugrade docker-engine from 1.9.1 to any newer version
2. Run `time docker volume ls`

**Describe the results you received:**

It takes 15 seconds to list 0 volumes (fresh Docker inst

[2016-04-22 12:15] drsect0r commented on #22221
@thaJeztah I did a downgrade to Docker version 1.10.2. This version is working for me. I do still get partial error messages. The command did executed correctly.
[code]

[2016-04-22 12:52] yongtang commented on #22008
I can take a look at this issue. It seems that changes might be needed in libnetwork side. #dibs

[2016-04-22 12:58] runcom commented on #21985
I will, I'll make a PR soon

[2016-04-22 13:01] cpuguy83 commented on #22251
Do you have any volume plugins loaded?
This would be the only reason it would be slow.

[2016-04-22 13:14] dominikschulz commented on #22221
Same error here on Docker 1.11.0 (just plain Docker w/o Compose, etc.). Using heka to ship Docker Container StdOut and on restart of the heka daemon the "stdout: write unix /var/run/docker.sock->@: write: broken pipe" error pop up in the docker logfile.

[2016-04-22 13:15] cpuguy83 commented on #22249
This is already easily possible outside docker (and implemented in many different ways).

Also, since docker 1.10 already supports having a discovery name be backed by multiple containers.
To accomplish this you provide multiple containers on a network with the same network alias.
In Docker 1.10 it picks one randomly and uses that until it goes down.
In Docker 1.11 it does round-robin DNS.

[2016-04-22 13:19] cpuguy83 commented on #22221
This is because docker is trying to write a response to a client connection and the client has closed the connection.

[2016-04-22 13:20] jpallen opened #22252 "Docker fails to start container if certain syscalls are restricted by seccomp"
**Description of problem:** The following syscalls *must* be provided in the seccomp profile, even if they are not used by the process that is run in the container:

[code]

If these are not allowed, the container will fail to run with varying error messages depending on the missing syscall. I'm not familiar with the internals, but I suspect the seccomp profile is applied before the container is s

[2016-04-22 13:30] mcanevet commented on #22251
@cpuguy83 I didn't do something special. At least I want to use only `local` volume driver. How can I check if I accidentally loaded a volume plugin?

[2016-04-22 13:31] cpuguy83 commented on #22251
@mcanevet Check if there are any files/sockets in `/var/run/docker/plugins` or `/etc/docker/plugins`

[2016-04-22 13:32] mcanevet commented on #22251
@cpuguy83 that was it! Thanks

[2016-04-22 13:32] #22251 closed

[2016-04-22 13:33] cpuguy83 commented on #22252
Nice find!
Ping @justincormack

[2016-04-22 13:34] cpuguy83 commented on #22246
I think there's an open issue to add a `--format` to `docker stats` specifically for this.

[2016-04-22 13:34] drsect0r commented on #22221
@cpuguy83 Correct me if I am wrong but this should not result in a fatal error. A warning is understandable, I send a lot of commands to containers. The commands only execute when it's lock file is removed. This way I can queue commands, I don't wait for them to finish and I think the software closed the connection. [docker-php](https://github.com/docker-php/docker-php)

[2016-04-22 13:37] cpuguy83 commented on #22221
A warning would probably be fine, but the error would need to be inspected to check for the broken pipe, since that's probably about the only error that would happen that's not a full on error.

[2016-04-22 13:40] cpuguy83 commented on #22244
Looks like this is likely a dup of #22165
Can you try removing the email field and see if it succeeds?

[2016-04-22 13:41] justincormack commented on #22252
Yes, I did notice that there was an issue with the seccomp profile being applied a little earlier than ideal (ie before setting capabilities and a few other things) when we did the original addition, but it may also have moved around with the `runc` work. It would indeed be a good idea to move it as late as possible, as restricting some of those calls is a good idea. Will look at this and look at

[2016-04-22 14:01] yongtang commented on #22244
It seems that the `serveraddress` field need to be specified explicitly in the json file:
[code]
The above will be OK.

When a command `docker login` is issued, the default server address `https://index.docker.io/v1/` is automatically added to the json file for remote API.

I can create a pull request to add a default server address in the remote API if this is preferred.

[2016-04-22 14:07] yongtang commented on #22244
I haven't tried Docker 1.10.3 (Just tested against the master branch) so don't know if the default `serveraddress` will be provided or not. Will take a look into it.

[2016-04-22 14:30] faddat commented on #9935
@vishaltvarun
How about we compare up our approaches that didn't work?  get ahold of me on hangouts:  faddat@gmail.com

:)

-Jake

[2016-04-22 14:38] zh99998 commented on #22249
@cpuguy83 could you give some further more advice such as recommend some open source project implementation?

[2016-04-22 14:40] cpuguy83 commented on #22249
https://github.com/kobolog/gorb
https://github.com/ehazlett/interlock

[2016-04-22 14:49] runcom commented on #21054
@calavera, @aaronlehmann  so

yes, the PR which broke that was from you https://github.com/docker/docker/pull/20699 I'll look around to fix it

[2016-04-22 14:50] runcom commented on #21054
I mean the pull -> then prompt if creds are wrong got broken (again) by #20699

[2016-04-22 14:53] zh99998 commented on #22249
Seems interlock uses haproxy/nginx, as gorb slide says it will cause 40% slower.
GORB... seems complex to use... maybe it's a good solution for me. and still much complex than a native one.

[2016-04-22 15:01] narqo commented on #22157
By "nice" you mean an ability to upgrade to 3.19 kernel? ;)

[2016-04-22 15:18] yongtang commented on #22244
In 1.10.3 the `serveraddress` will be assigned with a default value of `IndexServer`:
https://github.com/docker/docker/blob/v1.10.3/registry/service.go#L32-L36

I just created a pull request #22254 to address this issue for 1.11.

[2016-04-22 15:23] aboutvale commented on #19010
+1 @alfonso-cabrera I fixed adding ecr:BatchCheckLayerAvailability permission

[2016-04-22 15:55] nuaays commented on #10637
@mayujsw  hi, would you please help show the docker run command how to start a container with mounting the android usb devices for accessing in container

thanks

[2016-04-22 16:16] SivaIntegrator commented on #22071
@thaJeztah , can you please give some help about my last comment, the problem of entering in the container is fixed (forget to use `/bin/bash` command)
But I'm not able to make this copy of file

[2016-04-22 16:23] dserodio commented on #10294
Sorry to resurrect this closed issue, we use CentOS and were standardizing on ext4+overlay. Now the recommendation for RHEL is using XFS as the Docker host filesystem and overlay as the storage driver? Since which Docker version and/or kernel?

[2016-04-22 16:35] bryanlatten commented on #13490
@thaJeztah for environment (12-factor) secrets, we're locking down the Docker daemon via Twistlock (+Scalock) to prevent leakage of environment variables via inspect. Would be great if we had a Docker-native ability to not leak as much privileged info via inspect to make this a more proper reality.

[2016-04-22 16:37] TrimBiggs commented on #22239
@mavenugo I tried the following:
- Create `test_con` on network `test_net`
- Create `test_con2` on network `test_net2`

I wasn't sure when to disconnect either from the network, so I:
 - Disconnected `test_con` from the `test_net`
 - Restarted docker
 - Disconnected `test_con2` from `test_net2`

Results below:

[code]

I think it is expected to have at least one of the two containers start normall

[2016-04-22 16:43] dp-farm opened #22257 "reserving more than one IP address for container from docker0 bridge"
Hi,

I am working on a container where there should be one management IP and one IP to manage data traffic. Is there any way I can get two IP addresses from docker from same bridge?

thanks
Devesh

[2016-04-22 17:02] bryanlatten commented on #13490
@alexkolson I think the key to this thread is "DONT DO THIS" unless you have mitigated X, Y, Z. It's clearly an engineering thead - there will always be "solutions" to common problems. That said, education on what to not do and why is important so the real workarounds can begin.

[2016-04-22 17:08] aaronlehmann commented on #22011
We probably should, but IIRC there are some user interface issues around these digests that should be cleared up first.

If you save and load an image, the ID shouldn't change, so it should be possible to use it in this situation.

The manifest references compressed layers. The layers don't get compressed until `docker push` (they get compressed on the fly). So the manifest has to be created when

[2016-04-22 17:27] icecrime commented on #22081
@mavenugo Can you please let us know if you have a fix for this one, or if you're confident you'll have one in the 1.11.1 patch release timeframe? Thanks!

[2016-04-22 17:27] mavenugo commented on #22081
@icecrime yes. this is already resolved in libnetwork via https://github.com/docker/libnetwork/pull/1125 and we will vendor it in shortly.

[2016-04-22 17:28] icecrime commented on #22095
Escalating this issue to P0: we're going to move forward with a 1.11.1 patch release for this.

[2016-04-22 17:35] icecrime commented on #22159
Closing as duplicate of #22113, thanks for reporting!

[2016-04-22 17:35] #22159 closed

[2016-04-22 17:36] smith64fx opened #22258 "Mounting volumes and mapping host user to docker user"
I want to start a docker container (postgres) and mount the folder /var/lib/postgres/data to my local system.

[code]

On my Host: ./postgres has the right owner. Nice!
But inside Container: /var/lib/postgresql/data has the owner root:root. the postgres user cannot access the /var/lib/postgresql/data folder...

Now my question.

**How can I tell docker, to map my local user smith:staff to the post

[2016-04-22 17:37] enderb-ms opened #22259 "Support for Chinese characters in dockerfiles"
Hello,
I'm testing containers in a simplified Chinese version of Windows Server, and it seems that everything works fine with Docker, except when I tried to add a folder with Chinese characters through a dockerfile.
This is the dockerfile:
![image](https://cloud.githubusercontent.com/assets/13753647/14749705/efcf233a-0875-11e6-8044-792827e0249a.png)

This is the output from "docker build":
![image

[2016-04-22 17:49] michaeljs1990 commented on #5899
@lphuberdeau can you post an example of the command you are using. I tried what you said and im still getting the same issue on ubuntu 14.04 host.

[code]

[2016-04-22 18:00] cpuguy83 commented on #22258
The issue is the entrypoint script is expecting root access when it first starts up: https://github.com/docker-library/postgres/blob/master/9.5/docker-entrypoint.sh
So when you start with `-u postgres:postgres`  it can't startup.

In the short term it would be best to use an image that's ready to go with the correct uid/gid.

[2016-04-22 18:31] #22222 closed

[2016-04-22 18:37] kencochrane commented on #22238
@tiborvass Not sure why this isn't working, it looks like it already has the mkdir's

https://github.com/docker/docker/blob/master/hack/make/release-deb#L140
and
https://github.com/docker/docker/blob/master/hack/make/release-deb#L120

[2016-04-22 18:42] lfarnell commented on #19685
I am still facing the same issue as @follesoe. I ran the script @powersplay posted, but i still get an error

Docker version:
[code]
Docker info:

[code]

uname -a
NA

Environment details (AWS, VirtualBox, physical, etc.):
Windows Server 2016 TP4(GUI) running in VMWare workstation 9

How reproducible:
After windows updates and following along with dozens of different [blog posts](https://msdn.micr

[2016-04-22 18:44] pheuter commented on #21969
Seeing similar issue, but with a container that did not have any mounts. It had a restart policy of `on-failure` and a syslog driver. Problem occurred when stopping the container using `docker stop` and failing to `rm` it. Restarting docker engine fixed the problem and the container was removed.

[2016-04-22 18:45] cpuguy83 commented on #21969
@pheuter That sounds like a different issue.
Can you open a new issue with all the details?

Thanks!

[2016-04-22 18:47] pheuter commented on #21969
@cpuguy83 gotcha, will do!

[2016-04-22 18:53] dteeter commented on #12595
I am seeing this problem with docker version 1.8.1 and api version 1.20.

A first container listing after creating the container had the correct image name and tag in the "Image" property. However, in a another listing less than a second later, the "Image" property had changed to the image id and continued to be the image id in subsequent listings. For me the only workaround is to use labels to ke

[2016-04-22 18:55] dteeter commented on #12595
It seems that either I do not have rights to reopen this bug or it cannot be reopened. Should I create a new one?

[2016-04-22 18:55] cpuguy83 commented on #12595
@dteeter the referenced PR that closed this issue was included in docker 1.9

Please do not create a new bug, it is already fixed.

[2016-04-22 18:56] dteeter commented on #12595
OK, thanks for the info

[2016-04-22 18:56] pheuter opened #22260 "Unable to remove a stopped container: `device or resource busy`"
Apologies if this is a duplicate issue, there seems to be several outstanding issues around a very similar error message but under different conditions. I initially added a comment on #21969 and was told to open a separate ticket, so here it is!

---
## BUG REPORT INFORMATION

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, Virt

[2016-04-22 19:11] tiborvass commented on #22238
@kencochrane because https://github.com/docker/docker/blob/master/hack/make/release-deb#L126 is called before https://github.com/docker/docker/blob/master/hack/make/release-deb#L140. The mkdir at https://github.com/docker/docker/blob/master/hack/make/release-deb#L120 is not enough, the `binary-$arch` is needed for the apt-ftparchive command.

[2016-04-22 19:12] tiborvass commented on #22238
@kencochrane
inserting

[code]

instead of https://github.com/docker/docker/blob/master/hack/make/release-deb#L120 should do it

[2016-04-22 19:27] tiborvass commented on #22238
we can then delete it from https://github.com/docker/docker/blob/master/hack/make/release-deb#L140

[2016-04-22 19:30] kencochrane commented on #22238
@tiborvass see https://github.com/docker/docker/pull/22262

[2016-04-22 20:04] thaJeztah commented on #10294
@dserodio afaik, CentOS / RHEL 7.2, (and the kernel that comes with that). According to the release notes. [In version 7.1, EXT4 was still recommended](https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/7.1_Release_Notes/chap-Red_Hat_Enterprise_Linux-7.1_Release_Notes-File_Systems.html#TP-OverlayFS)

[2016-04-22 20:10] thaJeztah commented on #22071
@SivaIntegrator not sure why you'r change the CMD to copy a file here; you'd probably have to make sure the file is copied, before committing the container (or `docker exec -it <container> bash` inside the container to copy it to the right location, manually). However, it's really hard to assist without knowing the full situation / code you're running, and what you're trying to achieve. The GitHub

[2016-04-22 20:14] mlaventure commented on #22259
Could it be an encoding issue?

I can not reproduce it using a directory made of Japanese characters (I  used, 新). Both my Dockerfile and my filesystem are using utf-8.

also, AFAIK we only support utf-8 encoded files. (and I'd be tempted to say without BOM)

[2016-04-22 20:22] thaJeztah opened #22263 "Flaky test: TestRunUnshareProc"
flaky test? something else? experimental: https://jenkins.dockerproject.org/job/Docker-PRs-experimental/17699/console

[code]

[2016-04-22 20:28] sainath14 commented on #22235
@HackToday Yes the output of docker images -f dangling=true includes all those images
and all the "none" tag images have the same parent image. This parent image is the same for the image created from successful attempt.

Where are these image layers stored on the host? /var/lib/docker ?

[2016-04-22 20:47] fredhsu commented on #21735
I've been running through scenarios with both mac and ipvlan at layer 2, so far so good.  Its a great way to provide traditional layer 2 networking for containers in a clean and simple fashion.  It feels easier for a network person to troubleshoot and support.

ipvlan layer 3 will be a good tool for larger scale networks/applications that don't need layer 2 adjacency.  I'm looking forward to havin

[2016-04-22 22:09] globalcitizen commented on #20303
@unclejack I feel like you have repeated yourself with hand-waving suggesting there is some kind of problem 'supporting' grsec. Could you please explicitly explain what you mean about "giving up security elsewhere"? This does not make sense to me.

The situation right now is that kernels with grsec work fine already, regardless of version/distro, except for some specific grsec features which have

[2016-04-22 22:16] chirangaalwis commented on #5684
Hi just to note on the issue I have specified earlier, I have upgraded my kernel version to 4.4.0-21-generic and the docker version info are as follows:
Client:
 Version:      1.11.0
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   4dc5990
 Built:        Wed Apr 13 18:38:59 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.11.0
 API version:  1.23
 Go version:   go1.5.4
 Git commi

[2016-04-22 22:16] KBoehme commented on #1996
+1

[2016-04-22 22:17] #22116 closed

[2016-04-22 23:01] HackToday commented on #22235
do you mean the `dangling` images include your `none` tag images ?

[2016-04-22 23:17] sainath14 commented on #22235
yes dangling filter in docker images command showed all the none tag images
parent image of "none" tag images are not in the list of dangling images. Sorry for the confusion.

All these dangling images are created in the process of running several times make test/test-integration-cli in the docker source code. Some attempts of make failed due to various reasons. Looks like whenever the last contai

[2016-04-22 23:34] HackToday commented on #22235
yes, @sainath14 I agree those dangling images should not be there during a failed build, But I am not sure if docker could address if found build failed and help clean those dangling images, as if you not change Dockerfile, those images would be for build cache for next run.

[2016-04-22 23:36] HackToday commented on #22259
Seems some files may have non-utf8 encoding. @enderb-ms if possible to show what's your Chinese-files encoding ?

[2016-04-22 23:36] thaJeztah commented on #22235
They are left there for caching; the next time you build, Docker looks for images in the cache and reuses the previously built (intermediate) image. You can see that during build as "Using cache". If you want to cleanup those images, run

    docker rmi $(docker images -aq --filter dangling=true)

The intermediate images are not needed to run the final image (which contains all the "layers" of the

[2016-04-22 23:36] #22235 closed

[2016-04-22 23:51] HackToday commented on #22245
is it ?

@trosenkranz  do you it worked in 1.10.3 after upgrade to 1.11.0 it not work anymore ?

[2016-04-23 00:08] HackToday commented on #22250
@vanloswang  could that  tar file be import and run successfully in docker `1.10.3` ? if that case, it maybe a regression issue for new containered integration issue.

[2016-04-23 00:30] dgilling commented on #22188
I am using Docker version 1.11.0, build 4dc5990 and I also see this.
While I like security, this issue can be a big blocker on CI/CD flows once locked out of account.

I am pushing to Private Docker Hub repo and seems that it keeps retrying with possibly invalid credentials until it errors out.
Now, I am locked out of my account (I wish even reseting my password would remove this lock)

unknown: t

[2016-04-23 00:58] ZYNCMA commented on #22037
@icecrime
It seems that PR_SET_CHILD_SUBREAPER also depends on the **glibc** version?
`linux/prctl.h` from kernel-herders-3.10.0 has PR_SET_CHILD_SUBREAPER defined while `sys/prctl.h` from glibc-headers-2.12 doesn't.
I think this is the reason why containerd-shim didn't work well although I had updated the kernel of a customized centos 6.2 to 3.10. It recorded the "invalid argument" error in its l

[2016-04-23 01:53] vklonghml commented on #22192
i found a solution for the above problem, when i mount the ubuntu15.04 qcow2 image file on a directory, if i directly build with the above Dockerfile under the  mounted directory, it failed with the above error, if i remove the bin directory, it will succeed.

[2016-04-23 02:00] vklonghml commented on #22192
i don't know if it is a bug or something, does anybody knows that?

[2016-04-23 02:32] codekoala commented on #18113
I was experiencing this issue, but @DominicBoettger's tip to set ``--bip`` did the trick for me. I noticed the problem with a VPN connection before docker started, so docker/libnetwork#779 is my real problem.

[2016-04-23 06:08] nguyennb9 commented on #13555
I think it happened because of the dns setting. Just temporary change dns to 8.8.8.8
echo "nameserver 8.8.8.8" | resolvconf -a my_DNS.

[2016-04-23 09:13] vdemeester commented on #22249
@zh99998 there is also tools like [traefik](https://github.com/containous/traefik), etc.. If we *follow* the separation on concern principles, a way to update with zero-downtime an app' is not the responsability of the docker engine but some tools over it (and morover, zero-downtime updates are different dependenty on the app & co. so really difficult to standardize).

[2016-04-23 10:15] nerdalert commented on #21735
Thanks for the feedback @fredhsu!

[2016-04-23 10:48] seffenberg-naspers commented on #22244
great, thanks, I can confirm that adding the `serveraddress` would fix the issue but this is not that easy to implement in all external libraries, so I will wait for #22254

[2016-04-23 11:18] thaJeztah commented on #22192
Is there a specific reason you're trying to build for own Ubuntu image, instead of using the official `ubuntu:15.04` image? Note that you probably have to do more than just adding that image, to get a functional image. See this repository, which is used to create the official images; https://github.com/tianon/docker-brew-ubuntu-core/blob/master/update.sh

[2016-04-23 11:22] thaJeztah commented on #22081
This will be fixed in 1.11.1 through https://github.com/docker/docker/pull/22261 (which was just merged)

[2016-04-23 11:22] #22081 closed

[2016-04-23 11:25] thaJeztah commented on #22194
This will be fixed in 1.11.1 through https://github.com/docker/docker/pull/22261 (which was just merged)

[2016-04-23 11:25] #22194 closed

[2016-04-23 11:33] thaJeztah commented on #21969
@mlaventure should this be resolved by https://github.com/docker/docker/issues/22256?

[2016-04-23 11:42] thaJeztah commented on #22167
@mlaventure I moved this to the 1.11.1 milestone again, because the PR that fixes this is there, but let me know if both actually had to be in 1.12

This issue should be resolved by https://github.com/docker/docker/pull/22255#issuecomment-213521519, so I'm closing this

[2016-04-23 11:42] #22167 closed

[2016-04-23 11:45] cpuguy83 commented on #21969
Yep. Closing since this is resolved now by not mounting the container's rootfs into /var/run

[2016-04-23 11:45] #21969 closed

[2016-04-23 12:19] erich-comsIO commented on #2658
Just issued a docker-machine upgrade on my Mac - destroyed all of the containers, which only represented about twelve hours of work. Is that supposed to happen?

[2016-04-23 12:47] SeerUK commented on #22054
One issue I have that's related to this one is that I would like to publish ports, but only allow certain IP addresses to access them.

For example, I run a Jenkins environment in a couple of containers. The master node is "published", but I have to make some pretty convoluted iptables rules to lock it down so that only the 2 offices we have can access it.

Is there a way around this currently bui

[2016-04-23 13:00] mbentley commented on #2658
That's not really relevant to this issue. I would suggest reporting that here: https://github.com/docker/machine/issues

[2016-04-23 13:03] erich-comsIO commented on #2658
Sorry! Thought this was the closest hit… Appreciate reply.

[2016-04-23 13:16] ir-fuel commented on #3182
I have exactly the same problem here on an Amazon Linux EC2 instance.

`Linux ip-172-31-25-154 4.4.5-15.26.amzn1.x86_64 #1 SMP Wed Mar 16 17:15:34 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

On instances where I install new docker images on a regular basis the only solution is to do the following:

[code]

I don't really think such a thing is acceptable in a production environment

[2016-04-23 13:20] Somebi commented on #22188
I'm using private repo on docker hub, after a while i finally managed to push the image. Image is not corrupted, i was using it on another server, after push.

[2016-04-23 13:54] ulope commented on #13840
This is still broken if the symlink's target is a relative path. Since udev (one of the main reasons for this feature IMO) only generates relative path symlinks this feature is not very usable currently.

The problem is that https://github.com/yongtang/docker/blob/master/daemon/container_operations_unix.go#L314 blindly assumes that the symlink target is absolute.

Example:

[code]

[2016-04-23 14:00] thaJeztah commented on #13840
@ulope can you open a new issue w.r.t. it not following relative paths?

[2016-04-23 14:03] timthelion commented on #13840
Or a PR :D

On 04/23/16 16:02, Sebastiaan van Stijn wrote:

[2016-04-23 14:05] ulope commented on #13840
Sure

[2016-04-23 14:07] yongtang commented on #13840
@ulope @thaJeztah @timthelion Let me create a PR to address the issue in my last PR.

[2016-04-23 14:09] ulope opened #22271 "Relative symlinks don't work with --device argument"
Support for `--device` following (absolute) symlinks was added in #20684 (fix for issue #13840)

However this doesn't work if the symlink's target is a relative path. Since udev (one of the main reasons for this feature IMO) only generates relative path symlinks this isn't very usable currently.

The problem is that https://github.com/yongtang/docker/blob/master/daemon/container_operations_unix.go

[2016-04-23 14:09] ulope commented on #13840
@thaJeztah: Done: #22271

[2016-04-23 14:11] yongtang commented on #22271
Thanks @ulope for finding this issue. I will create a fix shortly. #dibs

[2016-04-23 14:12] thaJeztah commented on #13840
thanks @ulope, @timthelion and @yongtang! great teamwork 👍

[2016-04-23 14:33] liron-l commented on #22011
Thanks for the clarifications @aaronlehmann.

1. I tested it and Image id is not persistent across docker versions, e.g., if you save an alpine image in Docker 1.10 and load it in Docker 1.11 the ID is different.

2. Is it possible to include the `sha256` of each layer.tar inside the manifest, and also include the original manifest in the image content (layer.tar should be persistent across machin

[2016-04-23 15:13] yongtang commented on #22271
@ulope @thaJeztah @timthelion Just created a pull request @22272 by replacing `os.Readlink` with `filepath.EvalSymlinks()`. Let me know if there are any issues.

[2016-04-23 17:56] ibukanov opened #22273 "expose docker build content to the RUN command"
Currently the only way to expose a file from the build source content that is sent to the docker daemon during the build is to use COPY or ADD command in the Dockerfile to copy the file into the image. When the file is only used as a source for the compiler that is run in a subsequent RUN command this inevitably results in the image bloat as the file is stuck committed to the image as intermediate

[2016-04-23 18:03] thaJeztah commented on #22273
Think this is a duplicate of https://github.com/docker/docker/issues/3056

[2016-04-23 18:05] theSoenke commented on #17029
works on bash, but not on zsh

[2016-04-23 21:00] #22273 closed

[2016-04-23 21:04] ibukanov commented on #3056
To implement something like this does not require any extension to Dockerfile syntax. The build content could be made available over HTTP at some predefined address where it could be picked up by a curl or similar during RUN command.

[2016-04-23 21:14] #20362 closed

[2016-04-23 22:03] enzeart commented on #22054
I have an issue similar to the one stated by @SeerUK. There is a jarring violation of expectation when preexisting firewall rules don't apply to the published container ports. The desired behavior is as follows (for me at least)

1. User connection attempt is filtered based on INPUT configurations, etc
2. Traffic forwarding then happens as usual based on the docker-added FORWARD rules

Is there a

[2016-04-23 22:08] SeerUK commented on #22054
What I've actually resorted to for the time being, since I am actually running these containers on a pretty powerful dedicated server, I've set up a KVM VM running Docker, then using some more standard iptables rules to restrict access from the host. The VM has it's own network interface that's only accessibly from the server, so I have to add rules to explicitly allow access to ports in iptables

[2016-04-23 22:16] nikow commented on #1996
Remember about @CheRuisiBesares aproach, you can always use `ADD https://www.random.org/strings/?num=16&len=16&digits=on&upperalpha=on&loweralpha=on&unique=on&format=plain&rnd=new uuid ` as workaround for cache issues.

[2016-04-23 22:56] beatscode commented on #20193
Is it best practice to do what @SergeyYakubov did and just create the subuid,gid files yourself when they don't exist? Or is there a step I am missing.  FYI, i'm using CentOS 7

[2016-04-23 23:43] CRogers commented on #11185
Is there any hope of killing the userland proxy? It's a common trap it seems everyone I work with is falling into (wait for ports to become open before running tests using something like https://github.com/palantir/docker-compose-rule - but with userland proxy the ports are **always** open). I would love to see it gone.

[2016-04-24 02:19] kirkstrobeck commented on #3634
@thaJeztah wouldn’t work with [scaling](https://docs.docker.com/compose/compose-file/#container-name)

[2016-04-24 07:36] dagelf commented on #3056
Goes without saying that there are numerous "hacky" workarounds, but all of
them require you to either modify the guest, poison DNS, or run a special
Web server.

Which is why I don't get why the docker maintainers don't get it - doing
things like this is already possible, so why not just streamline /
standardize it and save everyone a lot of pain?

What if you can't or don't want to modify the gu

[2016-04-24 09:05] pwaller commented on #11185
I learned that docker does set `docker0.route_localnet=1` when you specify `--userland-proxy=false`, but it still runs a userland proxy for localhost.

[2016-04-24 09:28] thaJeztah commented on #3634
@kirkstrobeck you're referring to docker-compose; also, scaling a MySQL container and reusing the same volume is probably a bad idea, because you end up having two (or more) MySQL servers writing to the same data-directory.

Note that we now have volume management (`docker volume create`, `docker volume ls`, etc.), so using data-only containers, and volumes-from has become redundant in most cases.

[2016-04-24 12:37] #22036 closed

[2016-04-24 12:56] madhead commented on #8902
Still have this problem with Docker 1.10.3 on ubuntu:14.04.

[2016-04-24 12:57] jay-lau opened #22280 "[Question] Does docker volume driver plugin support integrate with OpenStack Cinder"
Sorry to ask the question here: I saw that docker volume driver has many plugins, such as convoy, rex-ray etc, what about OpenStack Cinder plugin? The OpenStack Cinder can integrate with different storage backends, it would be great if docker can have this volume driver plugin support.

[2016-04-24 13:01] cpuguy83 commented on #22280
IIRC, rexray supports Cinder.
https://github.com/emccode/rexray

[2016-04-24 13:01] #22280 closed

[2016-04-24 13:40] jay-lau commented on #22280
@cpuguy83 good to know, thanks. ;-)

[code]

[2016-04-24 15:34] jorge-trujillo commented on #12515
Any update on this? docker-compose still returns this error:
[code]

[2016-04-24 15:51] StefanScherer commented on #19685
@lfarnell It seems that your VM does not have the Docker base images installed. What does `docker images` say in your VM?

In my VM I can see that the `windowsservercore` image has the image id `6801d96...`

[code]

If you have or images or only nanoserver image, just run `C:\Install-ContainerHost.ps1 -SkipDocker`. For my VM I also have to [call it twice](https://github.com/StefanScherer/packer-wi

[2016-04-24 17:29] Pysis868 opened #22281 "Unable to copy over hosts file into container: "device or resource busy""
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
[code]

Running VirtualBox 5.0.6 r103037 on a MacBook Pro with OS X El Capitan 10.11.1.
There is 1 other virtual machine running alongside the Docker default machine.

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
Th

[2016-04-24 17:38] jxstanford commented on #22028
We're running docker on OpenStack VMs, and ran into this issue.  Setting the --mtu to to match eth0 on the host did not help in our case (docker-engine 1.11.0).  We ended up inserting a rule in iptables at the beginning of the chain.  The command we used is:

`iptables -I FORWARD -p tcp --tcp-flags SYN,RST SYN -j TCPMSS  --clamp-mss-to-pmtu`

I would implore you to reconsider closing this issue.

[2016-04-24 17:38] amluto commented on #3056
To make this 100% clear: this feature request was *never* about any sort of caching.  It was to improve the situation when I have contents (code, scripts, configuration, big tarballs, whatever) in the Dockerfile context directory and I want scripts in the Dockerfile to be able to access it without manually ADDing every file.

[2016-04-24 19:08] cupracer commented on #22185
Today I raised the maxConcurrent value from 50 to 100 and monitored the system's behavior. Testing began at 10am and the results (so far) were taken ~9pm.

Within this time, not a single "More than 100 concurrent queries..." message was logged. The concurrent queries counter never went higher than 64.

Nevertheless, my containers lost the ability to do DNS lookups many times today. I'm counting al

[2016-04-24 19:13] vikstrous opened #22283 "restart policy exponential backoff never resets"
I have a container with a restart policy ("always") and an application that runs for X seconds, then it dies. Every time it dies docker takes 2x longer to be restarted even if it's been running happily for a day. I expected the exponential backoff to reset if the application starts up successfully. This might require some sort of health check though. I'm not sure what the best solution to this iss

[2016-04-24 19:38] thaJeztah commented on #22185
Thanks @cupracer, looks like there's still some further investigation needed then.

[2016-04-24 19:40] thaJeztah commented on #22028
@jxstanford could you open a new issue? If manually changing the MTU does not resolve the issue, then automatically setting the MTU likely won't resolve it as well, so I'd prefer to handle it as a separate issue

[2016-04-24 19:52] ycherfan commented on #13288
Same issue here when trying to run a docker image:

$ docker run -d --name php-fpm mageinferno/magento2-php
Unable to find image 'mageinferno/magento2-php:latest' locally
latest: Pulling from mageinferno/magento2-php
d4bce7fd68df: Pull complete
a3ed95caeb02: Pull complete
77a07a807b0b: Pull complete
8e9dd06f34b8: Downloading [==================================================>] 69.23 MB/69.23 MB
b

[2016-04-24 19:55] thaJeztah commented on #22283
duplicate of https://github.com/docker/docker/issues/22159, and https://github.com/docker/docker/issues/22113, and will be fixed by https://github.com/docker/docker/pull/22125

I'll close this, but let me know if it's not a duplicate

[2016-04-24 19:55] #22283 closed

[2016-04-24 20:00] AndreKR opened #22284 "Copy file from client"
I am not sure if this is a support question, a documentation bug or a feature request...

When I use `docker cp` I get an error: `Error response from daemon: not a directory`. I am using docker on Windows, so the docker daemon is inside the *docker-machine*-managed VM.

The docs for `cp` talk about copying files "between a container and the local filesystem", but from the error message I suspect t

[2016-04-24 20:05] duglin commented on #3056
I think it would be easier to just make the build context available via some well-known mount point in the build containers - like /_bc   or /_docker_bc  then you could run/copy/whatever files directly from there w/o them being in the image.  I even had some prototype code for this as part of a different piece of work.  What I like about this is that it doesn't require a change to the Dockerfile a

[2016-04-24 20:21] dagelf commented on #3056
Certainly... or you could kill two birds with one stone and achieve so much
more with the same amount of effort.

Once again, for me first prize is to be able to use unmodified guests. Say
you want the startup of some service in your guest to run differently for
whatever reason - simple just overload the relevant file or path.

If you make it a fixed path, you're enforcing something on a lot of pe

[2016-04-24 20:21] AndreKR commented on #22284
Nevermind, it does copy from the client.

My problem seems to be related to #20517.

[2016-04-24 20:21] #22284 closed

[2016-04-25 00:06] dustinlapierre commented on #16182
I would like to look into adding this documentation. I am new to GitHub and FOSS software and was looking for an easy issue to get me started as a beginner. Is this something I could work on?

[2016-04-25 00:09] dustinlapierre commented on #21050
I'm a beginner looking to get some first hand experience working in FOSS projects. For this issue, is the small documentation change all that is required? If so I'd like to give it a try.

[2016-04-25 01:56] vanloswang commented on #22250
@HackToday tried docker-1.9.1, report an similar error as follow:
DEBU[0000] devicemapper: driver version is 4.31.0
DEBU[0000] Generated prefix: docker-8:1-543519
DEBU[0000] devmapper: Checking for existence of the pool docker-8:1-543519-pool
DEBU[0000] Pool doesn't exist. Creating it.
DEBU[0000] [deviceset] loadDeviceFilesOnStart()
DEBU[0000] Skipping file /var/lib/docker/devicemapper/metadata/.t

[2016-04-25 02:18] vanloswang commented on #22250
@HackToday 1.10.2 also report such an error.

[2016-04-25 02:36] beetree opened #22285 "ISSUE: Can't get systemd to run with 1.11"
I've been running a few hundred containers with systemd in them since 1.7. The flags required has changed a little bit. In 1.10 I was adding `--cap-add=SYS_ADMIN`, `--volume=/sys/fs/cgroup:/sys/fs/cgroup:ro`, and `--security-opt=seccomp:unconfined`.

With the same flags, it doesn't work in 1.11.

With `--volume=/sys/fs/cgroup:/sys/fs/cgroup:ro --privileged` it works.

With `--volume=/sys/fs/cgroup

[2016-04-25 03:47] vklonghml commented on #22192
@thaJeztah yes, i just want to keep the docker image directories as the same as the ubuntu image. I will check the procedures of creating a official image, thank you.

[2016-04-25 04:01] BryanConradHart commented on #13113
Does this work with directory matching?
I'm trying to do **/node_modules and I'm still seeing them get copied into my image

[2016-04-25 04:18] nderzhak commented on #12515
I use next constant as workaround:
[code]
Comment from my code:

  # ulimit -1 throws error as it uint64 now in docker code
  # so we use 2^63-1 number as equal value

[2016-04-25 05:39] sqleejan opened #22286 "Device or Resource busy when restart docker daemon v1.11"
Docker Version

[code]

**Steps to reproduce the issue:**
1. docker-containerd -l /var/run/docker/libcontainerd/docker-containerd.sock --runtime docker-runc
2. docker daemon --containerd /var/run/docker/libcontainerd/docker-containerd.sock -D
3. start a container
4. kill -9 ${docker_daemon_PID}
5. docker daemon --containerd /var/run/docker/libcontainerd/docker-containerd.sock -D

ERRO[0002] Error

[2016-04-25 05:57] HackToday commented on #22285
Perhaps it is better to paste what the error msg look like for your containers run with such `options`

[2016-04-25 06:17] HackToday commented on #22286
Tried above can did not reproduce that.
Tried on ubuntu 14.04, on docker  `1.11.0`

[2016-04-25 07:28] dominikschulz commented on #22260
Same here. Exact same OS, also running on AWS (different instance types) with aufs.

After stopping the container retrying docker rm several times and/or waiting a few seconds usually leads to "container not found" eventually. Issues exists in our stack at least since Docker 1.10.

[2016-04-25 07:29] andromeda979 commented on #22245
I have already added the option in grub
but it does not work

[code]

[code]

[2016-04-25 07:39] sanimej commented on #22185
@cupracer Thanks for trying out with the increase rate-limit. Have you noticed any pattern as to when the DNS failure happens ? for ex: things like, does it happen only on a specific crawler, or it happens after any specific event/trigger ?

[2016-04-25 07:40] alias1 commented on #13365
Sort of related to this: it would be nice to be able to filter on an exact name.

Eg. `--filter name="foo"` (or other syntax) matches only `foo` not `food`, `fool`, etc

[2016-04-25 07:50] opreaadrian commented on #16182
@dustinlapierre Check the docs to find out how you can contribute. You can start here: https://docs.docker.com/opensource/project/who-written-for/

[2016-04-25 07:51] paulmenzel opened #22288 "Package docker-engine missing in Debian Stretch/testing sources"
Following the guide [*Installation on Debian*](https://docs.docker.com/engine/installation/linux/debian/), I added the key for the APT archive, and the sources.

[code]

After updating the package sources, there is no package `docker-engine` though.

[code]

[2016-04-25 08:16] sqleejan commented on #22286
I also did not reproduce that After I restart my computer Now ; Mybe  due to other cause

[2016-04-25 08:34] thaJeztah commented on #22192
@vklonghml I really recommend using the official images instead of trying to build your own Ubuntu base image. The official images are always kept up to date, so you don't have to maintain them yourself (but be aware that Ubuntu 15.04 is EOL, and will not get any updates from Ubuntu). So simply

[code]

Also note that if you use a `.dockerignore` file, you don't have to remove the Dockerfile insid

[2016-04-25 08:37] thaJeztah commented on #21050
@dustinlapierre awesome! The markdown file to generate that part of the documentation can be found in this repository; https://github.com/docker/docker/blob/master/docs/reference/commandline/daemon.md#daemon-user-namespace-options, and you can find the workflow and many other tips in our contributors guide; https://docs.docker.com/opensource/project/who-written-for/

[2016-04-25 08:49] thaJeztah commented on #22286
@sqleejan also note that you don't need to manually start containerd; simply running `docker daemon` should also start containerd.

I'll close this issue, because it looks to be resolved, but feel free to continue the discussion

[2016-04-25 08:49] #22286 closed

[2016-04-25 08:58] trosenkranz commented on #22245
@HackToday I had enabled "swapaccount=1" in /etc/default/grub before the update to docker 1.11.0 and there was no warning during the "docker info" call. I confirmed, that the option was set after the upgrade.

After checking my logfiles, i registered, that the kernel was updated too (from /var/log/aptitude: linux-image-3.16.0-4-amd64:amd64 3.16.7-ckt20-1+deb8u4 -> 3.16.7-ckt25-1). So I did a downg

[2016-04-25 08:59] justincormack commented on #22285
Have you got some way to reproduce this easily, I don't have any systemd containers to hand? Any error messages would be useful, although there may be no useful ones. I would expect you would need `--cap-add=SYS_ADMIN --security-opt=seccomp:unconfined` at least. It is possible that the apparmor config is also an issue, as that is also changed by `--privileged`, if you could check on a machine with

[2016-04-25 09:01] trosenkranz commented on #22245
By the way, I got the message about

too. Before and after the upgrade.

[2016-04-25 09:06] HackToday commented on #22245
did you grub-update after you change above options ?

[2016-04-25 09:06] thaJeztah commented on #22250
mips64le is currently not a supported architecture, and we cannot help you with that, because we don't build, test, or have access to that architecture. If you're trying to build docker for mips64le, the docker-dev Google group, or the #docker-Dev IRC channel may be better locations to discuss, although I'm not sure if there's anyone there testing on mips64 as well

[2016-04-25 09:06] #22250 closed

[2016-04-25 09:09] trosenkranz commented on #22245
I did.

[2016-04-25 09:11] Yugge commented on #15341
Also get the same issue on Docker 1.10.3 in Arch.

[2016-04-25 09:15] xcl3721 opened #22289 "cmd jamed unregister_netdevice: waiting for lo to become free. Usage count = 1"
**Output of `docker version`:**
version:1.9.0
go 1.4.2
76d6bc9
build: tue nov 3 18:00:05 utc 2015
os/arch: linux/amd64
[code]
dmesg will out put
[13064037.892855] INFO: task docker:102958 blocked for more than 120 seconds.
[13064037.893254] "echo 0 > /proc/sys/kernel/hung_task_timeout_secs" disables this message.
[13064037.894046] docker          D ffff88203e6b3680     0 102958      1 0x00000080
[

[2016-04-25 09:22] HackToday commented on #22245
Could you show your `docker info` ?

[2016-04-25 09:23] thaJeztah commented on #22257
hi @dp-farm, the issue tracker is for tracking bugs, and not a support forum, can you ask this question on either one of;

- forums.docker.com
- the #docker IRC channel on freenode
- StackOverflow

I'll close this issue here, because this is not a bug report

[2016-04-25 09:23] #22257 closed

[2016-04-25 09:28] trosenkranz commented on #22245
docker info

Debian is running in an HyperV virtual machine.

[2016-04-25 09:33] chefarov commented on #22199
I cannot reproduce it either, using same (kernel, docker, docker compose) versions on another PC.

[2016-04-25 09:33] paulmenzel commented on #22288
It turns out, that the architecture is i386, for which unfortunately Docker upstream does not provide any packages.

[code]

[2016-04-25 09:33] #22288 closed

[2016-04-25 09:36] paulmenzel opened #22290 "Please provide i386 Debian packages"
Currently, Debian packages are only provided for amd64 (#22288).

It’d be awesome if packages for i386 would be also provided.

[2016-04-25 09:41] thaJeztah commented on #22290
Unfortunately, the daemon requires a 64-bit OS (on any distro), only the *client* is able to run on 32 bit systems. Even if the daemon was able to run on 32-bit, there are no (official) images on Docker Hub that run on 32-bit systems, so it wouldn't be very useful.

[2016-04-25 09:58] yanren opened #22292 "how to run container with non-root user"
I expect run container with a non-root user, So I use the following command:
docker run -it -v /work:/work -v /remote:/remote --expose 55555 --user=2000 yanren/suse12:1.0 /bin/bash
I execute the script "run_agent", then I check the process
I have no name!@1bc1e0c079f6:/work> ps -ef | grep agent
2000        17     1  0 09:55 ?        00:00:00 /bin/sh /remote/quasr4/quasr/release/agents_2.7/linux/bi

[2016-04-25 10:00] paulmenzel commented on #22290
Debian (proper) provides [Docker packages for both architectures](http://packages.debian.org/docker.io).

What is the reason, that the daemon requires a 64 bit OS?

[2016-04-25 10:01] allencloud opened #22293 "Cannot reload config from configuration file /etc/docker/daemon.json in docker 1.11.0"
Config Reload fails in some cases, while config loading in the start of docker daemon succeeds.

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1.`vi /etc/docker/daemon.json` and type in `{"labels":["a=b"]}`, save and exit
2. find the docker daemon PID number by

[2016-04-25 10:09] ibukanov commented on #3056
My use case is to run a compiler or preprocessor during Docker build. When one use COPY or ADD before the RUN the source ends up in the image bringing unnecessary bloat. That cannot be removed as COPY and RUN belong to different image layers so doing rm during the build does not remove the files from the image.

One possible workaround for that is to expose the source over HTTP so one can use curl

[2016-04-25 10:25] thaJeztah commented on #22290
afaik, historically it requires some 64-bit libraries. But also portability; having a 32-bit docker daemon would make it impossible to run images built for 64-bit, and break the user expectation of "build once, run anywhere". Providing all official images both as 32 and 64 bit is not a small effort, and most recent installations (both bare-metal and in the cloud) are 64-bit. There are some people

[2016-04-25 10:47] allencloud commented on #22260
suffered from this issue for quite long time.

[2016-04-25 11:16] thaJeztah commented on #22293
Isn't the property meant to be called `labels` (plural)? https://docs.docker.com/engine/reference/commandline/daemon/#daemon-configuration-file

[2016-04-25 11:32] thaJeztah commented on #21049
I noticed this recently as well;

Docker 1.9.1:

    docker run -d --name api nginx
    docker run -d --name web --link api:myapi nginx

    docker inspect --format '{{ .HostConfig.Links }}' web
    [/api:/web/myapi]

    docker stop api && docker rm api

    docker inspect --format '{{ .HostConfig.Links }}' web
    []

Docker 1.10.3 and 1.11.0:

    docker run -d --name api nginx
    docker run -

[2016-04-25 11:33] thaJeztah commented on #21049
ping @mavenugo do you think it would be worth changing, or should we close this issue?

[2016-04-25 11:40] a-ba commented on #3056
To give some feedback about this issue (as the author of #5369), i have used this feature since v0.11 and i still rely a lot on it to reduce the size of my images. But i stopped maintaining #5369 after v1.7 and developed a simpler patch (named tmp-volume).

This [new patch](https://github.com/a-ba/docker/tree/tmp-volume) mounts /tmp from a temporary directory during the whole build. Everything tha

[2016-04-25 11:57] subfuzion commented on #18604
@bfirsh @thaJeztah I realize that my proposal is not based on whatever will be the ultimate plugin solution nor will it ever be able to provide the performance of a true plugin, but nevertheless it does provide a workable solution that at lease allows for selecting custom logging agents/shims via the `log-driver` option -- plus supports plugins *not* written in go. It would be nice to have some wo

[2016-04-25 12:00] thaJeztah opened #22295 "Proposal: deprecate "old" /etc/hosts based linking"
For legacy reasons, `--link` on the default network still uses `/etc/hosts` for discovery of linked containers. This method is known to be not ideal, and to result in a corrupted `/etc/hosts` in some cases (see https://github.com/docker/docker/issues/17190, https://github.com/docker/docker/pull/17325).

Since docker 1.10, user-defined networks use an embedded DNS for this purpose (https://github.c

[2016-04-25 12:01] thaJeztah commented on #22295
/cc @mavenugo

[2016-04-25 12:10] bgraves commented on #22290
I know I'm hacking, but I thought I would drop a comment here just to see if I can get any more information from other crazy people.  Otherwise feel free to ignore.

I'm running i686 Gentoo.  Ideally docker would run on this system. I grabbed docker and containerd from github.

In the containerd repo I ran

`$ ./hack/vendors.sh`

With the clean line commented out.  I also added the line:

`clone g

[2016-04-25 12:25] paulmenzel commented on #22290
@bgraves, I think this warrants a separate issue. Thank you for testing.

[2016-04-25 12:28] paulmenzel commented on #22290
@thaJeztah, thank you for the response. I think with an appropriate warning at the start of Docker or so, this shouldn’t be an issue.

For developers, there are some using a mix of machines. Some are older and only support 32-bit, so the main system needs to be 32-bit, despite most of the development machines support 64-bit.

(In my case it’s a Lenovo X60 and T60 supporting [coreboot](https://www.

[2016-04-25 12:34] gerritdrost opened #22296 "Seccomp in docker 1.10+ breaks usage of wine in docker build"
Running wine in a docker build (for example using a Dockerfile) does not work when seccomp is available in the kernel and docker version is >= 1.10.

We use docker for our development environment and simulate a windows dependency using wine so we don't have to run a full-blown Windows VM on every dev-machine. The software runs fine in wine, but our docker image fails to build on machines using Ubu

[2016-04-25 12:42] finneganh commented on #21049
I'm interested in a mechanism that would let me inspect a not-running
container and see if it would refuse to start due to missing links.
Currently checking just by linked container name doesn't work, since the
current container with that name might not be the one originally linked to.
Providing the original ids of the linked containers would, since I could
look up those to see if they're running.

[2016-04-25 12:46] bgraves commented on #22290
@paulmenzel I don't think it should be an issue at all in my case...I'm clearly doing something docker has chosen (somewhat understandably) not to support.  ;-)  Thanks for the reply!

[2016-04-25 13:02] jxstanford opened #22297 "containers in docker 1.11 does not get same MTU as host"
This issue is the same/similar to the issues documented in #22028 and #12565, and is being opened under a new issue at the request of @thaJeztah.

---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, Virtual

[2016-04-25 13:17] thaJeztah commented on #22297
Hm, that wasn't clear from your previous comment; how did you set the `--mtu` for the daemon, and are you sure this setting was picked up by the daemon? Did you use a [drop-in file](https://docs.docker.com/engine/admin/systemd/#custom-docker-daemon-options) for systemd? Have you run `systemctl daemon-reload` after making those changes?

Adding `--mtu 300` to my daemon options, and running a contai

[2016-04-25 13:21] chefarov commented on #22199
Substituting docker-runc didn't make any difference.

More crazy stuff. I dont know if this helps somehow, but I thought I should report it as well.
If I change the `docker-compose.yml` file to:
[code]

with `Dockerfile`:
[code]

Then I can successfully
`sudo docker-compose build`
but:
`sudo docker-compose up`
gives:
[code]

This later issue (not the previous) appears also on a second computer run

[2016-04-25 13:21] thaJeztah commented on #21570
The https://github.com/docker/distribution/issues issue tracker is for issues around the OSS docker registry; you can try the #docker-distribution IRC channel (but I think most people are in San Francisco, so may not be online yet)

[2016-04-25 13:24] imranazad opened #22298 "Docker nancy - no route to host"
I have a docker container which hosts a web api written in Nancy. Here is the exception that occurs after a web request is made when the container is first fired up:

[code]

The app queries elasticsearch when a web request is made, initially I thought it was blowing up because it couldn't find elastic (another docker container), however this doesn't seem to be the case as locally if I stop elasti

[2016-04-25 13:26] thaJeztah commented on #21049
I don't think we'll change that, as "classic" linking is being deprecated in favor of DNS-based discovery / linking. If you use a custom network, checking if the linked container (with that name) exists, and is running would work. I don't see us adding the ID of the originally linked container to the API output.

[2016-04-25 13:33] allencloud commented on #22293
Actually, I tried that, failed. @thaJeztah

[2016-04-25 13:43] thaJeztah commented on #22293
Thanks! Just had time to test it myself, and can confirm that the new labels do not become visible in `docker info`

[2016-04-25 13:46] cpuguy83 commented on #22290
We cannot provide binaries for platforms we do not support.
There is no support for any platform other than Linux+x86-64.

[2016-04-25 13:49] cpuguy83 commented on #22281
You cannot copy over `/etc/hosts`.
Docker provides the container with a custom `/etc/hosts` file.

You can overwrite this by using `-v /some/file:/etc/hosts` when creating the container.
You can also write to the file from inside the container.
You can also use the `--add-host` option when creating the container to add your own custom entries.

But you cannot copy over it. This is not something we

[2016-04-25 13:49] #22281 closed

[2016-04-25 13:51] thaJeztah commented on #22293
I think I see the issue, let me try if I can fix it. Looks like https://github.com/docker/docker/pull/20604 checks of the presence of a "label" property, but if it's present, then it takes the *value* of "labels".

So using;

`{"label":["not=used"],"labels":["new=label"]}` actually works; it sees a "label" property, and sets the daemon labels to "new=label"

[2016-04-25 14:00] cpuguy83 commented on #22199
Your environment variables are a little weird `$CATALINA_HOME`, should be `CATALINA_HOME`

Also, how big is your env file?

[2016-04-25 14:03] zgoda-mobica commented on #6325
[code]

Works for me.

[2016-04-25 14:03] cupracer commented on #22185
@sanimej Let me try to explain how my crawlers work first. My web service container provides API access to a job queue. This queue contains URL's to fetch. My crawlers are called "agent-normal" (10 instances) and "agent-longrun" (5 instances). Both types do the same, but with different timeout settings for accessing faster and slower responding websites. New URL's are put in the "normal" queue. If

[2016-04-25 14:08] coolljt0725 commented on #22293
@thaJeztah  sorry, made a mistake in #20604, `label` should be `labels`, when you try the fix, please also change https://github.com/docker/docker/pull/20604/files#diff-f5b107c5c48a895216eae88da4a71ab7R344 , thank you

[2016-04-25 14:09] danielfoss commented on #22260
Receiving this as well with Docker 1.10.  I would **very** occasionally get something similar with 1.8 and 1.9 but it would clear up on it's own after a short time.  With 1.10 it seems to be permanent until I can restart the service or VM.  I saw that it *may* be fixed in 1.11 and am anxiously awaiting the official update so I can find out.

[2016-04-25 14:13] andromeda979 commented on #22245
some idea?

[2016-04-25 14:14] cpuguy83 commented on #22260
"Device or resource busy" is a generic error message.
Please read your error messages and make sure it's exactly the error message above (ie, `rename /var/lib/docker/aufs/diff/...`

"Me too!" comments do not help.

@danielfoss There are many fixes in 1.11.0 that would resolve some `device or resource busy` issues on multiple storage drivers when trying to remove the container.
1.11.1 fixes only a

[2016-04-25 14:16] thaJeztah commented on #22293
@coolljt0725 yup, no problem! already had those changed as well; unit-tests ran fine here, so opening a PR

[2016-04-25 14:24] trosenkranz commented on #22245
Currently not.

I installed the 4.5 kernel for testing purposes, but then the docker service does not start. I think this is a different problem.

I am uncertain, whether the kernel memory limit was working with docker 1.10.3. The reason is, that the `check-config.sh` script returned `CONFIG_MEMCG_SWAP_ENABLED: missing` with all docker and kernel versions. One could check, if the `docker info` com

[2016-04-25 14:29] cpuguy83 commented on #12515
Probably an easy fix here: https://github.com/docker/go-units/blob/master/ulimit.go#L113 to support `-1` as unlimited.

[2016-04-25 14:35] w-p-pueschel opened #22300 "docker push skipping authentication on PUT requests if GET requests do not require authentication"
Hi all,

I'm trying to set up an nginx as a reverse proxy for my private docker registry. I want it to allow docker pull without authentication and require authentication for docker push/etc.. The nginx generally works as expected (please find the full nginx config, log and examples below).

If I run a docker pull, it works as expected:

[code]

When I run docker login and then try to push the ima

[2016-04-25 14:39] justincormack commented on #22004
There are some issues to make the DNS subsystem pluggable, eg see https://github.com/docker/libnetwork/issues/936 and I think elsewhere too.I think this would be an option.

Do you think there is any way to fix the reverse DNS issue here other than that?

[2016-04-25 14:52] eeluve commented on #21570
Ye, I've tried distribution channel already. Will try again in couple hours. So far collected several questions about registry 2.4 and container issues in general: http://stackoverflow.com/questions/36841599/several-issues-regarding-registry-2-4 . If you could possibly link this to someone with clues, that would be great.

[2016-04-25 14:52] mavenugo commented on #22004
Docker DNS will respond to forward & reverse lookup only if a matching record is seen in the db (populated by container names, alias, link). If there is no match, it will forward the request to the user specified DNS server. While performing the forward & reverse lookup, it will be consistent with the information in its db and hence it should ideally not break the reverse lookup.

@bboreham I see

[2016-04-25 14:52] cupracer commented on #22185
Additionally, I also ran the loop with "google.invalid" directly on my Docker host:
These are the results of every 10 seconds run:

Run | number of iterations
1. 414
2. 227
3. 206
4. 281
5. 417
6. 291
7. 603
8. 475
9. 252
10. 417

[2016-04-25 15:03] beatscode opened #22302 "Cannot start containers when using --userns-remap on Centos 7"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
vagrant 1.8.1
VirtualBox 5.0.16
Centos 7
uname -a
[code]

I overrode ExecStart in  /etc/systemd/system/docker.service.d/docker.conf
ExecStart=/usr/bin/docker daemon  --userns-remap="default" -H fd:// --insecure-registry mydomain.com:5000

**manually c

[2016-04-25 15:09] tnucera commented on #21198
With Docker 1.11 : no issue

[2016-04-25 15:10] thaJeztah commented on #22245
Looks like `docker info` gets this information through https://github.com/docker/docker/blob/3d13fddd2bc4d679f0eaa68b0be877e5a816ad53/pkg/sysinfo/sysinfo_linux.go#L99-L102

[2016-04-25 15:13] thaJeztah commented on #22245
Oh, actually, you're right; the detection was there in older versions, but there was no warning printed; I added that recently; https://github.com/docker/docker/commit/747a486b4aac2ebbbb28bd713b9a4a929f89353b

[2016-04-25 15:30] jxstanford commented on #22297
I just confirmed proper functioning of the --mtu flag in our lab, so that was a red herring.

[2016-04-25 15:34] thaJeztah commented on #22292
What does the `run_agent` script look like? Also, can you provide information about your setup (`docker version` and `docker info`)

[2016-04-25 15:35] Cybroken opened #22304 "Ubuntu 16.04, SteamCMD network failure"
Hey guys, I got a problem setting up SteamCMD correctly. Ubuntu 15.10 on my hostsystem was working, but now Ubuntu 16.04 does not work anymore. It says, that SteamCMD could not establish a connection to steam. If I execute the whole thing on my hostmachine directly, it works perfectly.

I did not modify the Dockerfile or any other files during update to 16.04.
I tried docker version 1.11 and newes

[2016-04-25 15:41] thaJeztah commented on #22304
Were you already running docker 1.11 before upgrading to ubuntu 16.04?

[2016-04-25 15:46] justincormack commented on #22296
The problem is that Ubuntu 16.04 (also previously Debian testing) has shipped a kernel and glibc that use the new (non socketcall) syscalls for 32 bit socket-related syscalls, but it did not ship libseccomp 2.3.0 which is necessary for the seccomp filters to recognise that these calls exist. Debian has now moved it to testing resolving the issue there, see https://tracker.debian.org/pkg/libseccomp

[2016-04-25 15:46] bboreham commented on #22004
@mavenugo the situation is that in the forward lookup the name does not match, so is passed to WeaveDNS, but in the reverse lookup the address does match, so is answered by Docker DNS. And WeaveDNS has different features to Docker DNS so the responses are not consistent with each other.

The `/etc/hosts` file is written by Docker.  `10.2.1.1` is the IP address on the Weave network (supplied by the

[2016-04-25 15:47] justincormack commented on #22296
Duplicate of #20550.

[2016-04-25 15:50] #22007 closed

[2016-04-25 15:54] beatscode commented on #22302
I needed to run the following to enable user_namespace.
[code]

[2016-04-25 15:54] #22302 closed

[2016-04-25 15:54] bboreham commented on #22004
@justincormack this issue was the spur for me to think more about pluggable DNS and to write https://github.com/docker/docker/issues/19474#issuecomment-209357935, but it was quickly shot down.

The other way is to provide an option to disable Docker DNS.

[2016-04-25 16:06] Cybroken commented on #22304
Yep, 1.11 was running perfectly without problems on 15.10. My actual container setup contains one teamspeak-, one apache-, and one nginx-server. Those are perfectly working!
But SteamCMD-container does not work anymore.

[2016-04-25 16:06] #22293 closed

[2016-04-25 16:07] thaJeztah commented on #22300
Looks like this is a duplicate of https://github.com/docker/docker/issues/17317, please continue the discussion over there, but let me know if you think it's different.

[2016-04-25 16:07] #22300 closed

[2016-04-25 16:10] #22271 closed

[2016-04-25 16:13] w-p-pueschel commented on #22300
Yes. Sorry for the duplicate and thanks!

[2016-04-25 16:23] mbentley commented on #22093
@coolljt0725 - It looks like it is working as expected, thanks!

[2016-04-25 16:38] aaronlehmann commented on #22011
That's strange. @tonistiigi do you know why this would happen?

This is essentially how `save`/`load` work with Docker 1.10 and up. There is a `manifest.json` file that contains the sha256 hashes of the layer tar files. That's why I'm surprised you're seeing the ID change between Docker 1.10 and Docker 1.11.

Unfortunately there isn't, because the registry operates in terms of compressed layers.

[2016-04-25 16:47] Anonymooseable opened #22305 "Cannot run containers, operation not permitted"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Laptop

**Steps to reproduce the issue:**
1. `docker run -ti debian bash`

**Describe the results you received:**
[code]

**Describe the results you expected:**
Shell running in a container

**Additional information you deem important (e.g. issue hap

[2016-04-25 16:48] tonistiigi commented on #22011
Tested saving alpine latest on v1.10 and loading to empty v1.11. ID was the same.

[2016-04-25 16:49] mattgiles commented on #22108
@miaventure took me a minute to come back to this, but all works: thanks kindly.

[2016-04-25 17:00] Anonymooseable commented on #22305
Actually, it seems that when the container does start successfully things don't work right either. Apt can't open `/var/lib/apt/lists/lock` for `apt update` (also Operation not permitted), `su` doesn't work with the cryptic message `su: pam_start: error 26`... I'm guessing there's more. Adding `--security-opt seccomp:unconfined` doesn't help, nor even `--privileged`.

[2016-04-25 17:07] thaJeztah commented on #22300
No problem!

[2016-04-25 17:14] Anonymooseable commented on #22305
Everything works fine on kernel `4.4.0-1-amd64 #1 SMP Debian 4.4.6-1 (2016-03-17)`.

[2016-04-25 17:15] #22244 closed

[2016-04-25 17:15] #22113 closed

[2016-04-25 17:20] sanimej commented on #22185
@cupracer That is a very good data point. Thank you. Let me run some tests with invalid domain names and see if there is any issue in handling it.

[2016-04-25 17:27] Chili-Man commented on #22305
This is a known issue for kernel 4.5.0 - 4.5.1 . The latest stable kernel 4.5.2 fixes these issues

[2016-04-25 17:29] justincormack commented on #22304
Likely to be also the same as #22296 as Steam uses Wine. Does it work if you use `docker run --security-opt seccomp=unconfined`?

[2016-04-25 17:29] thaJeztah commented on #22305
Yes, this is a duplicate of https://github.com/docker/docker/issues/20950

[2016-04-25 17:29] #22305 closed

[2016-04-25 17:30] Anonymooseable commented on #22305
Sorry for the dupe, just realised I only searched in open issues. Thanks for the info!

[2016-04-25 17:32] thaJeztah commented on #22305
no problem! there's a lot of issues (including closed ones), I just happened to know there was one already 👍

[2016-04-25 17:37] RoboPhred opened #22307 "concourse (garden-linux) breaks docker: "oci runtime error: could not synchronize with container process: no such file or directory""
Something goes wrong with docker when a Concourse worker (https://concourse.ci) is ran on the same server.  Existing containers will continue to run just fine, but all new containers will cause the docker client to report "Container command '...' not found or does not exist.." for any given entrypoint, and the docker logs to report "oci runtime error: could not synchronise with container process:

[2016-04-25 17:39] Cybroken commented on #22304
Yes, this command did the trick! It works!
But why? What does this command do?

[2016-04-25 17:43] pcarrier opened #22309 "default-ulimits seems broken in daemon.json"
Docker 1.10.3, binary from https://get.docker.com/builds/Linux/x86_64/docker-1.10.3

[code]

I expect this to work like `--default-ulimit nofile=64000:64000`.

[2016-04-25 17:45] vdemeester commented on #22309
@pcarrier I would guess    `{ "default-ulimits": ["nofile=64000:64000"] }` would work though.

[2016-04-25 17:46] pcarrier commented on #22309
@vdemeester it's documented as a map at https://docs.docker.com/engine/reference/commandline/daemon/

[2016-04-25 17:48] pcarrier commented on #22309
with `{ "default-ulimits": [ "nofile=64000:64000" ] }`:

[code]

[2016-04-25 17:52] vdemeester commented on #22309
@pcarrier my bad :sweat_smile:. It's also definitely in 1.11 :sweat:.

[2016-04-25 17:53] hallyn commented on #20548
/run/lxcfs is private to lxcfs - the paths which containers should bind mount are under /var/lib/lxcfs.

[2016-04-25 17:55] pcarrier opened #22311 "logs-opts seems broken in daemon.json"
Docker 1.10.3, binary from https://get.docker.com/builds/Linux/x86_64/docker-1.10.3

[code]

See https://github.com/docker/docker/issues/22309 for a similar issue.

[2016-04-25 18:14] csdbrcm opened #22312 "Containers stuck in "Removal In Progress""
**Output of `docker version`:**

[code]

**Output of `docker info`:**
[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

physical Dell Optiplex workstation.

**Steps to reproduce the issue:**
A couple of my containers are stuck in "Removal In Progress" state. Rebooting didn't help. Upgrading docker to 1.11 (it was 1.10 when the problem first happened) didn't help either

[2016-04-25 18:35] crosbymichael commented on #22042
This was fixed in #22256.

Thanks!

[2016-04-25 18:35] #22042 closed

[2016-04-25 18:41] tiborvass commented on #22309
@calavera can you explain why configValuesSet in https://github.com/docker/docker/blob/28b7dc51aec6a237af187badfc1953eb9dbbb142/daemon/config.go#L274 flattens the settings? I don't remember why we did that and it seems to be the cause for this and #22311

[2016-04-25 18:54] thaJeztah commented on #22246
Looks like a duplicate of https://github.com/docker/docker/issues/20973, so I'll close this one

[2016-04-25 18:54] #22246 closed

[2016-04-25 19:00] erkules opened #22314 "Feature Request: Allow a container to start in multiple networks"
It would be good to be able to start a container in more than one (named) network.
Like:

`docker run --net one --net two container `

So the process in the container starts with the two (or more) additional interfaces.
A `docker network connect` breaks most workflows and the additional interface is often ignored by the process;

In the beginning `--name --net-alias` would be the same in all netwo

[2016-04-25 19:03] erkules opened #22315 "Feature Request: Filter on network driver"
`docker network ls --filter driver=overlay`

It would be awesome:)

[2016-04-25 19:12] gerritdrost commented on #22296
Thanks for the quick response and clarification. Will try to file an upstream bug when I get my head around it. I resolved it temporarily by setting up a private registry (something I was wanting to do anyway), pushing the built image from Arch Linux. Ubuntu can then run it using the `--security-opt seccomp:unconfined` parameter. I'll also look into the statically linked docker binaries.

[2016-04-25 19:20] thaJeztah commented on #22304
that command disables the seccomp profile, see https://docs.docker.com/engine/security/seccomp/.

let me close this as a duplicate of https://github.com/docker/docker/issues/22296 and https://github.com/docker/docker/issues/20550.

[2016-04-25 19:20] #22304 closed

[2016-04-25 19:32] SleepyMan commented on #22206
Exec'ing in privileged mode does not allow the process to access the devices outside its container (tested this trying to access /dev/sda, after mknod'ing it, since it doesn't magically list them, it should behave similarly with other USB devices). If there is another way of adding the device while running in privileged mode, correct me, please.

Also, running in privileged mode would not make muc

[2016-04-25 19:43] BenjamenMeyer commented on #22054
@thaJeztah I want to be able to access it from the local system, and test against it easily. For example, setting up a RESTful HTTP API that has a Health end-point and being able to reliably run ```curl``` against it. In most cases for my dev environment I only want the containers to talk to each other, but I also want to be able to access it from the host.

For @SeerUK's case, being able set an I

[2016-04-25 19:47] BenjamenMeyer commented on #22054
@thaJeztah I set ```"127.0.0.1:8081:8081"``` explicitly to keep it off the external network; I had found logs in my docker containers from people trying to crack into the containers via the exposed ports.

My work around right now is to turn off docker containers before I leave for the day because I can't ensure the environment I want to be external actually *is* external, or that the environment

[2016-04-25 20:18] thaJeztah commented on #22315
Think it makes sense to allow filtering on driver. Let me open a PR

[2016-04-25 20:23] ncopa commented on #20303
seems like the untar in chroot was introduced with 1cb17f03d0b217acf2d2c289b4946d367f9d3e80 but it does not say anything about why or what problem it is supposed to solve.

So I can only guess why its done that way. One possible reason might be to prevent overwriting files from locations outside the target dir. For example the tar archive could have an entry with `../../../etc/shadow` and if you e

[2016-04-25 20:31] thaJeztah commented on #22054
@BenjamenMeyer one way to do this is running those tests in a container, e.g.

    docker run --net -it --rm --net=mynetwork healthchecker

[2016-04-25 20:32] ncopa commented on #20303
We might actually be able to avoid the `chmod` by setting the correct mode during `open(2)` or possibly by setting `umask`. That way we'd be able to keep the `chroot` but avoid the grsecurity error.

But I don't think we can work around the `mknod` without doing it outside `chroot`.

Another option might be to check content of `/proc/sys/kernel/grsecurity/chroot_deny_mknod` and if its `1` then ext

[2016-04-25 20:39] icecrime commented on #22271
This is a P3 and won't be fixed in 1.11.1.

[2016-04-25 20:55] thaJeztah commented on #20303
@ncopa I think if you look at all the the changes (and tests) for the 1.3.2 release combined, it should give some context: https://github.com/docker/docker/pull/9323

[2016-04-25 20:58] #22296 closed

[2016-04-25 21:15] mrunalp commented on #21700
Any conclusion on this?

[2016-04-25 21:43] janezgec commented on #6396
+1 for ssh forwarding during builds.

[2016-04-25 21:43] GlenKPeterson commented on #10668
@orian you mean like running a 64-bit image on a 32-bit host OS?  I suspect that's why I just got this message.

[2016-04-25 21:44] unclejack commented on #20303
@ncopa It was for security reasons. That shouldn't be bypassed in any way.

[2016-04-25 21:58] thaJeztah commented on #22289
Looks like a duplicate of https://github.com/docker/docker/issues/5618

[2016-04-25 22:02] thaJeztah commented on #22314
Thanks for suggestion, but this is a duplicate of https://github.com/docker/docker/issues/17289 and  https://github.com/docker/docker/issues/17750. unfortunately, this is not possible, as explained in https://github.com/docker/docker/pull/17796#issuecomment-162612624, so I'll have to close this, but feel free to comment after I closed.

[2016-04-25 22:02] #22314 closed

[2016-04-25 22:39] TrimBiggs commented on #22239
I've been thinking about this a bit more.

The workaround isn't really that useful:
 - This action would have to be run on every container in the cluster
 - You have to know the name/id of every container as well as the name of the network of that container

I think one of the following options could be a better solution, alongside or before system containers are implemented:
 - Docker daemon coul

[2016-04-25 23:08] pcarrier opened #22322 "`docker inspect` can get stuck for many minutes"
We have production issues with docker 1.10.3 (binary from //get.docker.com/builds/Linux/x86_64/docker-1.10.3) where we observed:
- `docker inspect` taking over 90 seconds
- `docker ps -a` taking over 20 minutes
- `docker info` taking over 2 minutes

None of those times are predictable, those are the longest times recorded.

Environment:
- `m4.4xlarge` EC2 instances
- `amazon-ecs-agent` 1.8.2
- Ubu

[2016-04-25 23:15] jhowardmsft commented on #22232
This is fixed in TP5.

[code]

[2016-04-25 23:16] jhowardmsft commented on #22232
@msabansal. Same on TP5.

[2016-04-25 23:17] mikedanese commented on #19625
You can override the MountFlags value in the default unit with a systemd dropin directory. e.g.:
[code]
so you don't have to modify the default unit, which might get modified during a docker upgrade.

[2016-04-25 23:23] jhowardmsft commented on #21915
@PatrickLang I think this was fixed for TP5? Can you confirm and close if so.

[2016-04-25 23:24] jhowardmsft commented on #21558
Closing. This should be fixed with TP5.

[2016-04-25 23:24] #21558 closed

[2016-04-25 23:26] arun-gupta commented on #21551
@justincormack @thaJeztah any updates on this?

[2016-04-25 23:27] jstarks commented on #21915
This is fixed by https://github.com/lzybkr/PSReadLine/pull/375, but we need to figure out how to get the fix into Windows.

[2016-04-25 23:55] aaronlehmann commented on #17882
This appears to have been fixed in 1.11. I was able to change my password on Docker Hub and run `docker login` with no problems. It now prompts for a password every time you run `docker login` instead of trying to reuse the old one.

[2016-04-25 23:55] #17882 closed

[2016-04-26 00:02] killianbrackey commented on #18601
If you find yourself running multiple commands like `docker rm $(docker ps -a -q)` or `docker rmi $(docker images -aq)`, etc often you could check out a script a friend and I put together that runs a some filtered commands with a help menu using `docker-clean [option flags]`.

Check it out and let us know what you think.

https://github.com/ZZROTDesign/docker-clean

[2016-04-26 00:20] phemmer commented on #22297
Setting the container MTU to the host MTU is a hack. We shouldn't be implementing hacks to solve network issues.
What if your box has a second route, with an MTU bigger than the default route, your containers will still have issues using this alternate route.
The proper solution is to figure out why PTMU discovery is apparently not working.

[2016-04-26 00:40] Random-Liu commented on #22322
/sub @Random-Liu

[2016-04-26 01:03] pcarrier commented on #22322
I'll collect who's blocked by that semaphore. We saw a lot of things waiting for it. There might be a bias towards whatever holds the semaphore for the longest not being who waits for the semaphore for the longest, but it'll probably be useful.

[2016-04-26 01:19] edannenberg opened #22323 "linux spec user: Unable to find user xxx"
Since upgrading to Docker 1.11.0 the following won't work anymore:

    $ docker run -it --rm --user $(whoami) -v /etc/passwd:/etc/passwd:ro busybox
    docker: Error response from daemon: linux spec user: Unable to find user xxx

You also get some funny behavior when using a non root user that exists in the image's `/etc/passwd`:

    $ docker run -it --rm --user operator -v /etc/passwd:/etc/pass

[2016-04-26 01:31] yanren commented on #22292
docker version:
 Client version: 1.6.2
Client API version: 1.18
Go version (client): go1.3.3
Git commit (client): 7c8fca2
OS/Arch (client): linux/amd64
Server version: 1.6.2
Server API version: 1.18
Go version (server): go1.3.3
Git commit (server): 7c8fca2
OS/Arch (server): linux/amd64

docker info:
  Containers: 6
Images: 23
Storage Driver: devicemapper
 Pool Name: docker-254:2-1802243-pool
 Pool

[2016-04-26 02:05] orian commented on #10668
@GlenKPeterson yes, exactly. It happen to me to compile the Go binary on Mac and try to run it on dockerize Ubuntu. The error is very helpful in such case.

[2016-04-26 03:01] yanren commented on #22292
ok, It seems about my script, because i set 's' bit on agent program.

thanks

[2016-04-26 03:01] #22292 closed

[2016-04-26 03:20] ra2637 commented on #10595
Prove comment of @wyaeld. Got the same issue in Ubuntu Wily.

[2016-04-26 04:32] JMGordon commented on #10150
@Akanksha08 reply to the issue with "#dibs".

[2016-04-26 04:35] JMGordon commented on #10150
@Akanksha08 just reply to the issue with "dibs" preceded with a "#". Don't mind the "status/claimed" label. I wrote a message to explain the previous statement and accidentally claimed the issue.

[2016-04-26 04:59] liron-l commented on #22011
I'm sorry @tonistiigi, my machines ware running v1.9.1 and v1.11.1 (also reproduced on clean machines).
For v.1.9.1 ID

[2016-04-26 05:49] santosh0705 commented on #9939
I'm having this problem too.

[2016-04-26 05:54] hxw commented on #10595
There is also a bug filed on ubuntu https://bugs.launchpad.net/ubuntu/+source/aufs-tools/+bug/1442568 wher I added a comment containing a fix for `au_util.h` which I will ad here:

I looked at aufs_utils, and it look like the problem is with the AUFin macro (au_util.h)which is
[code]
I think this should be:
[code]
The value 1 for the status parameter would always ensure program termination rather

[2016-04-26 06:35] anttiviljami opened #22325 "Port forwarding problems on Ubuntu 14.04 with 100+ containers running"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Upcloud scalable VPS

**Steps to reproduce the issue:**
1. Have 100+ containers running, each with unique ports forwarded with `-p 127.0.0.1:<unique port between 30000-50000>:80`
2. Select one of the containers and run `docker kill` and `docker rm` on

[2016-04-26 06:52] jkzhao opened #22326 "overlay netns change"
**Output of `docker version`:**
Client:
 Version:      1.11.0
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   4dc5990
 Built:        Wed Apr 13 18:40:36 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.11.0
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   4dc5990
 Built:        Wed Apr 13 18:40:36 2016
 OS/Arch:      linux/amd64

**Output of `docker info`:**

Containers

[2016-04-26 07:28] noidi opened #22327 "Inconsistent mount order of tmpfs directories"
**Description of problem:**

When passing multiple `--tmpfs` switches to `create` or `run`, the mount order of the `tmpfs` directories is unpredictable. This causes random failures when mounting one `tmpfs` within another: if the parent directory is mounted after its child, it shadows the child. Restarting the container usually fixes the issue (but not always).

One example where nested `tmpfs` di

[2016-04-26 07:41] runcom commented on #21916
/cc @rhatdan

[2016-04-26 07:47] runcom commented on #22327
right, that should be because tmpfs is a map which isn't consistent when looping

[2016-04-26 07:53] ncopa commented on #20303
@unclejack i figured it was for security reasons.

However, since `chroot` never was [intended as a security feature](https://access.redhat.com/blogs/766093/posts/1975883), it is generally recommended to [avoid using it as any kind of security tool](https://lwn.net/Articles/252794/). So I was interested in what exact (security) reasons led to the introduction of chroot. (it looks like it was to pr