[2015-04-30 15:23] rhvgoyal commented on #12902
@unclejack

Or could it even be a per container option, say --fstrim-on-exit, where user specifies to run fstrim on container exit. (something like --rm option).

[2015-04-30 15:31] sahus5 commented on #6325
@vbatts
I am hitting this issue on docker version 1.4.1
Error log:
015-04-30T02:12:13.357547+00:00 ogden-newyork docker[4597]: Error running DeviceCreate (createSnapDevice) dm_task_run failed
2015-04-30T02:12:13.357866+00:00 ogden-newyork docker[4597]: time="2015-04-30T02:12:13Z" level="error" msg="Handler for POST /containers/create returned error: Error running DeviceCreate (createSnapDevice) dm

[2015-04-30 15:34] sahus5 commented on #4036
@vbatts
Thanks for the blog. It looks like that works for now to resolve the device mapper error.

[2015-04-30 15:36] unclejack commented on #12902
@rhvgoyal My main concern in this case is making sure we provide some means of handling this for people doing builds. People doing a lot of builds usually want good performance when the builds are taking place, but they might be OK with running these operations asynchronously during a scheduled maintenance window. If they don't necessarily see performance degradation on other containers running ot

[2015-04-30 15:45] susandiamond commented on #10294
I run into the similar issue when trying to run a docker container that needs to mount to remote storage in a docker container.  It worked fine the first time when I ran it. Then I created a snapshot of the VM and deployed the VM again, Then I have problem start up the docker container.

root@dockerregistry:/etc/docker# docker run -d -p 5000:5000 -e SETTINGS_FLAVOR=csfdev wdcloud/registry:latest
F

[2015-04-30 16:14] runcom opened #12905 "Port TestPostContainersAttach and TestPostContainersAttachStderr to integration-cli"
As the title says, these 2 tests need to be ported to integration-cli (they aren't in the code base anymore but you can find them at the links below)

TestPostContainerAttach https://github.com/runcom/docker/commit/f7e417ea5e26f11ec43dba64ee153765d2276f40#diff-43dd6c60c47613b163fc23c09dbff200L242
TestPostContainerAttachStderr https://github.com/runcom/docker/commit/f7e417ea5e26f11ec43dba64ee153765

[2015-04-30 16:14] GordonTheTurtle commented on #12905
Hi!
If you are reporting a new issue (that does not have any duplicates already open) we would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.
Please see:
https://github.com/docker/docker/blob/master/CONTRIBUTING.md#reporting-other-issues
[code]

#ENEEDMOREINFO

[2015-04-30 16:18] #10389 closed

[2015-04-30 16:18] #12151 closed

[2015-04-30 16:18] #12255 closed

[2015-04-30 16:18] #12713 closed

[2015-04-30 16:26] rhvgoyal commented on #12902
@unclejack Let me take a step back. I am wondering why do we need to worry about build process. IIUC, during build we will delete all the containers used for building and only thing remaining at the end will be images. Images are freshly created thin devices (using docker export) and they don't have to issue discards.

Only actual containers which did the build could have required fstrim to reclai

[2015-04-30 17:02] mlehner616 commented on #12603
@brudrafon Thanks for the info.

The symptoms here are very subtly different than the article you posted. The article describes the symptoms as the host losing connectivity. In this case, the docker containers are the instances that lose connectivity, not the host.

For example,
I have a single host running 5 containers
container a on port 3000
container b on port 3001
etc...

The symptoms are any

[2015-04-30 17:07] Kryten0807 opened #12906 "Ubuntu upgrade documentation incorrect"
I'm not sure where the problem lies, but the upgrade documentation for Ubuntu is messed up.

Here's what the docs say at (http://docs.docker.com/installation/ubuntulinux/#upgrade-docker):

[code]

Executing this command when you have Docker installed does nothing - it simply downloads the contents of https://get.docker.com/index.html and saves it in the current directory as `index.html`.

If you e

[2015-04-30 17:07] GordonTheTurtle commented on #12906
Hi!
If you are reporting a new issue (that does not have any duplicates already open) we would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.
Please see:
https://github.com/docker/docker/blob/master/CONTRIBUTING.md#reporting-other-issues
[code]

#ENEEDMOREINFO

[2015-04-30 17:09] angstwad commented on #12750
@msabramo I've updated the role so this can be overridden with a variable, `install_kernel_extras`.

[2015-04-30 17:15] LK4D4 commented on #12899
Hmm, yeah. Don't know, I think we need remove them from cli at least. It is really awful.

[2015-04-30 17:17] LK4D4 commented on #12738
reproducible with
[code]

[2015-04-30 17:29] mmeeoorroo commented on #8539
I run into this problem usually, even with ~20GB free memory

-free -m
             total       used       free     shared    buffers     cached
Mem:         30159      10631      19528         13         29         90
-/+ buffers/cache:      10511      19648
Swap:         1023          0       1023

-uname -a
Linux web2 3.13.0-44-generic #73-Ubuntu SMP Tue Dec 16 00:22:43 UTC 2014 x86_64 x86_64 x

[2015-04-30 17:40] jfrazelle commented on #12887
can you see if its the same problem as https://github.com/docker/docker/issues/12613

[2015-04-30 17:40] jfrazelle commented on #12887
also we need all the information gordon requested

[2015-04-30 18:24] cpuguy83 commented on #12894
You can't mount an fs in one container and use it another one as each container gets it's own mount namespace.

[2015-04-30 18:25] cpuguy83 commented on #12891
This is a volume from your postgres container. If nothing is using it you can just delete it out right.
I'd recommend downloading https://github.com/cpuguy83/docker-volumes/releases/tag/v1.1.1 to inspect your volumes and delete them safely.

[2015-04-30 18:25] #12891 closed

[2015-04-30 18:27] jfrazelle opened #12907 "fix --net none build"
DockerSuite.TestApiImagesDelete                             0.15

----------------------------------------------------------------------
FAIL: docker_api_images_test.go:102: DockerSuite.TestApiImagesDelete

docker_api_images_test.go:106:
    c.Fatal(err)
... Error: failed to build the image: Sending build context to Docker daemon 2.048 kB

Sending build context to Docker daemon
Step 0 : FROM hello

[2015-04-30 18:28] GordonTheTurtle commented on #12907
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-04-30 18:31] jfrazelle commented on #12859
@fntlnz do you need help, kinda want the build fixed

[2015-04-30 18:32] jfrazelle commented on #12859
@jmzwcn also that would not be an appropriate fix, it should work on lxc, not be skipped on lxc

[2015-04-30 18:33] cpuguy83 commented on #12895
@acroca It can be sent either way.

[2015-04-30 18:33] #12895 closed

[2015-04-30 18:40] vbatts commented on #6325
@sahus5 is your root file system on lvm? If so, it would be best to make an actual volume block device that is a thin pool to start docker with.

[2015-04-30 18:41] jfrazelle opened #12908 "TestDaemonICCPing"
Seems to be breaking overlay build

https://jenkins.dockerproject.com/job/Docker%20Master%20(overlay%20on%20overlay)/574/console

ping @mavenugo

[code]

[2015-04-30 18:41] GordonTheTurtle commented on #12908
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-04-30 18:41] noxiouz commented on #12717
Seems it should be closed

[2015-04-30 18:43] mavenugo commented on #12908
@jfrazelle will take a look at it.

[2015-04-30 18:43] jfrazelle commented on #12908
no rush :) probably something weird

[2015-04-30 18:46] LK4D4 commented on #12908
Failing on my machine every time.

[2015-04-30 18:47] #12717 closed

[2015-04-30 18:51] runcom commented on #12907
#dibs

[2015-04-30 19:00] relistan commented on #12595
This looks like it was broken in #11895, with the specific change [here](11895)

[2015-04-30 19:05] cpuguy83 commented on #12595
@relistan issue was that "docker ps" was reporting a different name than was used to create the container sometimes when there are more than 1 tag on the image.
Now it is just showing whatever was passed in when creating the image, but this gets out of date.

[2015-04-30 19:08] LK4D4 commented on #12595
@relistan Original issue was IIRC that it tried to find `ImageName` from `ImageID`, but there is can be multiple tags with same id and you can see in ps that you created container with another tag, tag that you created.

[2015-04-30 19:10] LK4D4 commented on #12595
Now it just shows what you write in docker run command.

[2015-04-30 19:28] Ya3Sh commented on #12887
@jfrazelle The problem #12613 doesn't look similar though its also a networking issue. I never had it run successfully on RHEL even on docker version 1.5.0. Then I tried manually upgrading to dokcer version 1.6.0 with no luck.
Here is the information @GordonTheTurtle requested.

Description of problem:
Bashing into a docker container say "ubuntu:latest" and executing /etc/hosts gives following err

[2015-04-30 19:37] msabramo commented on #12750
Thanks, @angstwad !

[2015-04-30 20:26] davidxia opened #12910 "I cannot push with docker client 1.6.0"
Description of problem:

I cannot push an image to the public Docker hub with Docker client 1.6.0, but I can with 1.4.0. I've confirmed my login credentials are correct.

Why? The logs seem to indicate the the 1.6.0 client doesn't even send the auth credentials in the request?

`docker version`:

[code]

`docker info`:

[code]

`uname -a`:

[code]

Environment details (AWS, VirtualBox, physical, e

[2015-04-30 20:26] GordonTheTurtle commented on #12910
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-04-30 20:28] babybeasimple commented on #11534
+1 for @bobbytables solution :)))

[2015-04-30 20:42] zenvdeluca commented on #9983
@fmzhen http://blog.docker.com/2015/04/docker-networking-takes-a-step-in-the-right-direction-2/

[2015-04-30 20:48] didip commented on #12595
For completion sake, this bug also occur on `1.5.0-dev` version.
**docker version**
[code]

**docker ps**
[code]

[2015-04-30 21:00] relistan commented on #12595
@cpuguy83 Thanks! I see. :)

@LK4D4 That's really undesirable behavior because tags/image names move. It's unexpected for something to tell me it's tagged "production" when it's not running the current "production". Or "latest" when it's not the one tagged "latest".

Here's a Docker 1.5 install showing a container for which the image name and tag have moved:
[code]

Here's what that looks like on

[2015-04-30 21:41] samm-git opened #12912 "LXC driver fails to work with recent LXC versions because of lxc.autodev default changes"
I was trying to use docker with recet (1.1.2) LXC and found that it fails to create any containers because of lxc error:
[code]

The problem is that in recent versions of LXC  lxc.autodev default is replaced to 1, so it is creating own tmpfs for dev where /dev/shm is n/a. To fix this i did such patch:

[code]
After it docker starts to work correctly. Please let me know if i need to do a pull reque

[2015-04-30 21:41] GordonTheTurtle commented on #12912
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-04-30 21:42] tligda opened #12913 "Mapping host volume to docker container, can't write more than 9 GB"
Using the mariadb docker image. I do the following command:

`docker run --name mariadb -d --volume=/var/lib/mysql-application_name:/var/lib/mysql -p=3306 mariadb`

I try to write a database backup to the mariadb container. When it gets to 9 GB, it hangs. When I type Control-C, it says no more space on device.

I look at the /var/lib/mysql-application_name on the host and I see the files being wri

[2015-04-30 21:42] GordonTheTurtle commented on #12913
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-04-30 21:57] samm-git commented on #12912
Description of problem:

`docker version`:
Docker version 1.7.0-dev, build 72e9e12-dirty

`docker info`:
oot@turris-test:~# docker info
Containers: 6
Images: 1
Storage Driver: overlay
 Backing Filesystem: extfs
Execution Driver: lxc-1.1.2
Logging Driver: json-file
Kernel Version: 3.10.49-0c2718eb181fbb374701993d0f983176
Operating System: Turrris OS
CPUs: 2
Total Memory: 1.976 GiB
Name: turris
ID:

[2015-04-30 21:57] sainath14 commented on #12013
In my case, this is inconsistent. It works fine all of a sudden.
Is this the issue with connecting to docker registry?

[2015-04-30 22:02] jfrazelle commented on #11414
this is fixed on master and has a regression test I added as well see https://github.com/docker/docker/pull/12654/files

[2015-04-30 22:12] chrissnell commented on #12535
Any chance we could get some Ubuntu packages built with dynbinary?   #4036 is causing us a lot of pain right now.   We deploy Docker through Chef and it uses the package to install.  Building Docker by hand for dynbinary is going to be very painful in our environment.   Thanks.

[2015-04-30 22:22] #12907 closed

[2015-04-30 22:35] ecki commented on #9547
So the detailed reports all have `aufs` backend in common.

[2015-04-30 22:45] pdevine commented on #5228
I have a patch which looks through the git tags for each of the older docker versions and then creates conflicts on each of those packages.  This lets `apt-get upgrade` work properly.  It's a little hacky, but it's the only way that I could think of (short of changing the name of the package) to get the ubuntu package to behave somewhat sanely.

If anyone is interested I'll create a pull request.

[2015-04-30 23:04] tligda commented on #12913
Ugh, sorry, this is probably not an issue. I thought it was complaining about space under /var/**lib**/mysql, but it was complaining about space under /var/**log**/mysql instead. I will confirm.

[2015-04-30 23:06] fntlnz commented on #12859
@jfrazelle  I tried to trap the command with all available signals from `kill -l`

[code]

At this point I think that with lxc I can't trap because when I do it the handler already did this.

[2015-04-30 23:13] tligda commented on #12913
Yup. That was the source of the problem. Closing this issue.

[2015-04-30 23:13] #12913 closed

[2015-04-30 23:16] pdevine commented on #12418
I can't reproduce this.
[code]

It seems like everything is working as we'd expect it.  Also, if you look through hack/make/ubuntu, it lists /etc/default/docker as a config file in lxc-docker-1.6.0, which is also correct.

[2015-04-30 23:25] ahmetalpbalkan commented on #12418
Sounds good then

[2015-04-30 23:25] #12418 closed

[2015-04-30 23:50] stevvooe commented on #12879
:+1: This does indeed need to be fixed. There is no condition under which we should fallback to v1 when fetching by digest.

[2015-05-01 00:41] thieman commented on #12595
I'm trying to work on this. New to the project, so didn't want to call dibs in case someone better wanted to take a look.

I think I've got a failing test case together if anyone wants to take a look at it. https://gist.github.com/thieman/331edd7e2a3c6b397663

[2015-05-01 01:41] runcom commented on #12886
#dibs

[2015-05-01 01:43] duglin commented on #12886
To be clear, I didn't say I wanted it - just that it could be supported.
You may want to see if there's buy-in from the team first before you implement it.

[2015-05-01 01:44] duglin commented on #12886
@runcom ^^^^

[2015-05-01 01:49] runcom commented on #12886
roger that!

[2015-05-01 01:57] tristanz commented on #12886
I'm not working on about it.

It seems like natural option given `-f`, since -f makes it much harder to use .dockerignore effectively. Without -i it is impossible to use -f for our repo because our build context is 1GB+.  We have pretty classic setup: single repo with many services that share code.  We'd like to be able to build all these services without custom scripting or slow builds.

[2015-05-01 01:58] thaJeztah commented on #12886
Not a maintainer (for this), I'd be +1 for this so that different Dockerfiles can exclude different parts of the build-context.

I'm not sure having a single-char flag (`-i`) is needed, perhaps `--ignore-file` (to match, e.g. `--env-file`).

@tristanz Perhaps you can describe some use-cases for this feature, it may help the maintainers make a well-founded decision whether or not this is something

[2015-05-01 02:10] tristanz commented on #12886
Yes, I believe our use case is exactly the use case described in the named dockerfile thread: a single repo with many services that share libraries.  So this is just trying to make that same use case work for real setups.  Single repos like this tend to be large (which we love for many reasons!), so without --ignore-file we can't use -f and are forced to resort to prebuild scripts.

[2015-05-01 03:20] relistan commented on #12595
I've got a first pass at code that seems to work. Testing some more. @thieman giving your test a whirl now.

[2015-05-01 03:21] relistan commented on #12595
Oh I see it looks like you committed a fix already.

[2015-05-01 03:22] thieman commented on #12595
Been hitting a bunch of edge cases with `LookupImage`. Think this latest test run might work, though. Care to share what you've got?

[2015-05-01 03:23] thieman commented on #12595
The commit linked up there is wrong, btw, it should properly be linking to this entire PR: https://github.com/docker/docker/pull/12918

[2015-05-01 03:38] bassamtabbara commented on #12910
I'm seeing this too. It seems to happen when pushing to a repository on hub.docker.com with automated builds enabled. Pushing to standard repos on docker hub works OK for me with 1.6 client.  This looks like a regression in 1.6

[2015-05-01 03:48] kevana commented on #12910
Same issue for me, pushing to a trusted build repo on hub.docker.com. For
reference, 1.5 authenticates and then gives a 403 message. I assume desired
behavior is to not allow manual pushes to automated build repos.
On Apr 30, 2015 10:40 PM, "bassamtabbara" <notifications@github.com> wrote:

[2015-05-01 03:53] relistan commented on #12595
I've moved my commentary to that PR.

[2015-05-01 05:09] icecrime commented on #12738
The reproduction case seems to imply a race condition, but then, this only happen if you issue `docker stop` at the same time that the container process dies by itself. This is quite unlikely, and probably don't explain all the occurrences reported here.

@discordianfish Could you tell us more about the way this happened for you? In particular: is there a chance that the container process died at

[2015-05-01 06:16] ashwinphatak commented on #12641
#12919 is an effort in this direction. Produces a diff always with respect to the parent, for now.

[code]

[2015-05-01 07:11] ksriraman commented on #12910
Same issue here:

$ docker version
Client version: 1.6.0
Client API version: 1.18
Git commit (client): 4749651
OS/Arch (client): linux/amd64
Server version: 1.6.0
Server API version: 1.18

Cannot push to Docker hub:

WARNING: login credentials saved in /root/.dockercfg.
Login Succeeded
The push refers to a repository [ksriraman/cdh5-docker] (len: 1)
3e52f1767812: Image push failed
FATA[0152] Error

[2015-05-01 07:43] diezcode commented on #12860
I found my problem of Space, I had alot of using in the pg_xlog of postgres directory. So I clear them and now everthing works fine. For the unused Volumes that I have from the docker containers, I used this bash script to clear them. https://github.com/chadoe/docker-cleanup-volumes
thanks

[2015-05-01 07:43] #12860 closed

[2015-05-01 08:01] tcurdt commented on #12641
@ashwinphatak Cool!

The real interesting bit is the size of the change for me though. That seems to be not that easy to get though.

I also think if we add a `diffi` command it should be `diffi <image> <image>`.
Like this it is not much different from the `history` command.

[2015-05-01 08:20] ashwinphatak commented on #12641
@tcurdt  could you paste mock/sample output, as you envision it, for the proposed command?

[2015-05-01 08:50] tcurdt commented on #12641
This is not the final proposal for the output - but just to show the general idea what I was after when I opened the feature request:

    $ docker history -v tcurdt/registry
    IMAGE               CREATED             CREATED BY                                      SIZE
    22f80fdc11ff        8 days ago          /bin/sh -c #(nop) EXPOSE 5000/tcp               0 B
    9e3be3005c27        8 days a

[2015-05-01 08:50] discordianfish commented on #12738
@icecrime No sorry, I don't have more details. I found those systems in that state and some containers were running according to docker ps but couldn't be stopped. Additionally to that, I saw older processes still running.
We upgraded Docker from 1.5.0 to 1.6.0 when @avinson first saw this issue, maybe he knows more. But I could imaging that this is how we got into the race condition: Maybe stoppi

[2015-05-01 08:53] tcurdt commented on #12641
As the output is actually in a two layer hierarchy.
Maybe we should define the json and then just render that as it seem fit.

[2015-05-01 08:59] ashwinphatak commented on #12641
thanks,  I'll investigate options to get the size for each change.

On Fri, May 1, 2015 at 2:21 PM, Torsten Curdt <notifications@github.com>
wrote:

[2015-05-01 09:13] vdemeester commented on #12641
@ashwinphatak related to #12919 you might wanna follow the "Design Proposal" of the [Advanced contributing](https://docs.docker.com/project/advanced-contributing/) page.

[2015-05-01 09:54] stgraber commented on #12912
Turning off autodev is one way of doing it, however doing so won't help if someone is running docker in an unprivileged environment and it also won't help once upstream LXC deprecates non-autodev (which is in our plans).

As far as I can tell, the problem that docker has with autodev is the lack of /dev/shm in our generated /dev. We don't have it in there because some distros make it a symlink whi

[2015-05-01 11:12] samm-git commented on #12912
@stgraber thank you for reply, i will try create=dir flag. However i cant find in which LXC version this flag was added and if it will break compatibility with some older releases.

P.S. I also found that lxc-go binding is exists and working well. Do you think its a good idea to convert exec driver to use binding instead? As benefit - LXC could be statically compiled, so no mess with different ver

[2015-05-01 12:28] stgraber commented on #12912
@samm-git I'm pretty sure LXC ignores unknown mount flags in older versions, so if you're on an older version, you'll have lxc.autodev and so won't need create=dir to begin with, so create=dir should work in all cases but definitely worth testing.

[2015-05-01 12:29] stgraber commented on #12912
Our Go bindings are stable and well supported, we suggested Docker uses them a few times but there was the concern that you'd need to ensure you have LXC 1.0 at least on all machines.

[2015-05-01 13:43] imdevin567 commented on #12910
FWIW I do not have this issue on OSX with the same version of docker through boot2docker.

    $ docker version
    Client version: 1.6.0
    Client API version: 1.18
    Go version (client): go1.4.2
    Git commit (client): 4749651
    OS/Arch (client): darwin/amd64
    Server version: 1.6.0
    Server API version: 1.18
    Go version (server): go1.4.2
    Git commit (server): 4749651
    OS/Arch

[2015-05-01 13:54] cpuguy83 commented on #12910
I saw this yesterday, seems fixed now. Closing.
In the future, please send all DockerHub related things to support@docker.com
Thanks!

[2015-05-01 13:54] #12910 closed

[2015-05-01 13:59] duglin commented on #12886
@tristanz can you give a little more detail on these large repos?  In particular, when I think about large repos with multiple sub-projects, I think to think of it as each project having their own sub-dir with their own Dockerfile **but** they all share a common dir that might be a sibling to each project. For example:
[code]
and in these cases I wonder if supporting symbolic links wouldn't be eas

[2015-05-01 14:08] davidxia commented on #12910
@cpuguy83 How can I fix my client?

[2015-05-01 14:11] ashwinphatak commented on #12641
@vdemeester sounds good. I might have jumped the gun a bit on the implementation. Let's discuss any related user stories first and then I'll write up a design proposal.

[2015-05-01 14:38] hqhq commented on #12308
I met the same issue, it's strange, I sent a workaround https://github.com/docker/docker/pull/12921, hope we can get some help there.

[2015-05-01 14:39] tristanz commented on #12886
@duglin that's my setup exactly. I actually would *much* prefer symlink support to solve this. It feels less docker specific, allows be to leave my dockerfiles unchanged (sub folder build context), and I can avoid writing lots of dockerignore files. I was just under the impression that named dockerfiles were the recommended alternative. I see symlinks as the better alternative by far.

[2015-05-01 14:54] cpuguy83 commented on #12910
@davidxia If you are still having issues pushing to DockerHub, please send an email to support@docker.com

[2015-05-01 15:00] thaJeztah commented on #12886
Are symlinks supported on Windows nowadays? (Wondering)

For my personal use-case, some containers are created using a volume to mount the source-code during development. Being able to exclude those files (huge *number* of files, not the size per-se) when starting the dev container will save lots of time. (And, yup, there are workarounds)

[2015-05-01 15:01] elephantfries commented on #12606
@LK4D4  I see something is crashing my containers. I don't think a bad process would crash a container so I think it is a bug.  This may be unrelated, but I can imagine if it crashes at the right moment, it can potentially leave locks unreleased. It happens sometimes but I have one case where it kills a container every time.  What's the best way to debug that?  I want to make sure it is a bug befo

[2015-05-01 15:29] wansong commented on #7445
+ 1, i also need this feature.

[2015-05-01 15:54] #12824 closed

[2015-05-01 16:05] runcom commented on #12816
Also php `json_encode

[2015-05-01 16:17] runcom commented on #12660
@LK4D4 should this be closed because of #12754 is merged?

[2015-05-01 16:26] relistan commented on #12595
Working from @thieman's test case on #12918 I think there are two different problems here:

1. I update an image tag following the steps in @thieman's test case. I end up with a container with the wrong ImageID:

[code]
That's bad because the Image *should* be *463f1c28e186* not *8c2e06607696*.  I believe this is a problem with the code that commits a container and is not updating the ImageID appr

[2015-05-01 16:27] runcom commented on #12284
@draghuram have you tried again running the full test suite? If you need help fell free to ping me also and let us know if you're still working on this

[2015-05-01 16:29] LK4D4 commented on #12660
@runcom Thanks!

[2015-05-01 16:29] #12660 closed

[2015-05-01 16:30] runcom commented on #12236
@sriddell do you still have issues with this? Have you tried using alias insted as I wrote above?

[2015-05-01 16:36] draghuram commented on #12284
@runcom I still run into same failure when I run the full test suite. How ever, that doesn't stop me from adding the new test as I can run subset of tests using TESTFLAGS.

I will most probably finish up the PR by this weekend. Thanks.

[2015-05-01 16:41] LK4D4 commented on #12606
I'm not sure tow to debug this without code rebuilding. Lock which is held I think in `daemon/monitor.go`. Maybe you can create some bash script for reproducing, even after many iterations?

[2015-05-01 17:07] MahmoudMahfouz opened #12923 "Docker links environment variables are limiting"
I was just thinking why the created env variables when linking docker containers have such strange format.
why do I need to know the port in order to get the env variable?

ex: linking mongodb container with another app that uses mongo
[code]
now I have
DB_NAME=/ci/db
DB_PORT_27017_TCP_ADDR=172.17.0.117
DB_PORT_27017_TCP_PORT=27017
DB_PORT_27017_TCP_PROTO=tcp
DB_PORT_27017_TCP=tcp://172.17.0.117:2

[2015-05-01 17:07] GordonTheTurtle commented on #12923
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-01 17:28] thieman commented on #12595
This makes sense to me, I interpreted the problem to be your Issue 1, which is why I've been acting like a confused idiot as we've been dancing around Issue 2. :smile:

Is my PR an appropriate fix for your Issue 1? If so, should we try to get that merged, then either create a new issue or clean this one up to be explicitly about Issue 2? Having the two simultaneously being discussed in #12595 is b

[2015-05-01 17:51] marcellodesales commented on #9856
In fact my kernel is "2.6.32-431.1.2.el6.x86_64"... I will try with the one described and report if that also fixed on my RHEL 6.5 env.

thanks a lot everyone!

[2015-05-01 17:59] cpuguy83 commented on #12923
This is a dup of several issues.
Also these env vars are likely to go away and are generally not good for service discovery.

[2015-05-01 17:59] #12923 closed

[2015-05-01 18:14] aidanhs commented on #12606
I think it should be possible to use the same method I used?
 - Get a debug binary
 - GDB attach to the deadlocked daemon
 - Load symbols from the debug binary
 - Load go support in GDB
 - Dump a stacktrace of all goroutines
 - Try and reason about which mutex caused the deadlock in the first place

I could note down some more detailed instructions if it'd be helpful.

[2015-05-01 18:26] samm-git commented on #12912
Just tested: it works fine with such patch:
[code]
I am able to create container (interactive and non-interactive), volumes are also working fine.

[2015-05-01 18:27] relistan commented on #12595
@thieman, going to validate your code with our issue now.

[2015-05-01 18:30] chrissnell opened #12925 "Dynamically linked docker binary reports devicemapper and Udev not supported"
In an attempt to work around the problems from #4036 , I compiled a dynamic docker binary.   I installed it on my system (along w/ dockerinit) and when I start it, I see:

[code]

Here is the binary:

[code]

This binary was built from source using the [dockercore/docker](https://registry.hub.docker.com/u/dockercore/docker/) image to do the build, then cp'ed out of the container and installed onto

[2015-05-01 18:30] pdevine commented on #12906
This is quasi-related to issue #5228.  The install script doesn't support upgrades, and even if it did, it would most likely blow up on ubuntu/debian/mint because it would need to remove the lxc-docker-$version package first because of potential conflicts.

In the short term, the documentation should be updated to say "remove any previous versions of docker", but in the long term, we really need a

[2015-05-01 18:39] relistan commented on #12595
Confirmed, @thieman's PR #12918 solves issue (2) above. *but* this code, like the code committed in #11895 changes the behavior vs 1.5.0 of images that do not have a tag. The old behavior would append *:latest* and that is no longer the case. @LK4D4 was the change to displaying long image ID's intentional, or is that also a bug?

@thieman I'll try to work up an integration test to validate (2) and

[2015-05-01 19:05] samm-git commented on #12912
@stgraber may be i will try to convert it to the go api calls. Another thing i dont like - the way how driver works with LXC. All lxc tools are out of sync and cant manage or work with docker-created containers. I think this is the reason why `docker exec` is not implemented in the LXC backend.

[2015-05-01 19:37] AubreyHewes opened #12926 "/etc/default/docker seems to be ignored...!?"
I have a `/etc/default/docker` file which specifies my router ip as dns option.. this always used to work but now no longer does... it seems the file is now ignored?!? .. _(recent changes.. updated to ubuntu 15.04 et al)_.

When running a basic debian image the `/etc/resolv.conf` does not contain the configured ip...

##### Ubuntu version

    $ lsb_release -drc
    Description:	Ubuntu 15.04
    R

[2015-05-01 19:37] GordonTheTurtle commented on #12926
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-01 19:45] AubreyHewes commented on #12926
Additional info

    $ uname -a
    Linux alita 3.19.0-15-generic #15-Ubuntu SMP Thu Apr 16 23:32:37 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

    $ docker version
    Client version: 1.6.0
    Client API version: 1.18
    Go version (client): go1.4.2
    Git commit (client): 4749651
    OS/Arch (client): linux/amd64
    Server version: 1.6.0
    Server API version: 1.18
    Go version (server): go

[2015-05-01 19:53] jfrazelle commented on #12926
15.04 uses systemd it's not compatible w that file

On Friday, May 1, 2015, Aubrey Hewes <notifications@github.com> wrote:

[2015-05-01 19:53] tianon commented on #12926
This is the relevant bit of info.  In 15.04/Vivid, systemd has replaced Upstart as the default init system, so modifications to the way Docker starts up should now be done in a systemd drop-in file in `/etc/systemd` instead.

[2015-05-01 19:53] jfrazelle commented on #12926
There were multiple issues already opened about this its systemd, you need to define in systemd terms

[2015-05-01 19:53] #12926 closed

[2015-05-01 20:04] AubreyHewes commented on #12926
Thanks for the pointer. Should have probably worked this out myself but anyway. Sorry, could not find any issues that matched.
Maybe the documentation for installing/configuration on vivid needs to be updated/included for this issue? Or the installer.. anyway thanks!

[2015-05-01 20:28] thmttch commented on #3519
+1

Please make this configurable! It very painfully captures standard screen keys, and requires a full custom docker binary to change.

[2015-05-01 20:33] tianon commented on #12494
This would also make it possible to use `-f` to point at a `Dockerfile` that is technically in the context, but lives in `.dockerignore` (which is currently not possible).

[2015-05-01 20:44] tianon commented on #12494
Gonna have to rescind my most recent comment -- `-f` on a file in `.dockerignore` does in fact work today. :+1:

[2015-05-01 21:11] elephantfries commented on #12606
Yes, if you don't mind, I am new to go.
- where do I get debug binary?
- there is no gdb on atomic, how best to get it (yum install not possible)

[2015-05-01 21:48] visualphoenix commented on #12887
Try with the following rpm: https://kojipkgs.fedoraproject.org/packages/docker-io/1.6.0/1.el6/x86_64/docker-io-1.6.0-1.el6.x86_64.rpm

Your problem was not reproducible for me using this rpm (for centos/rhel 6.6+ hosts).

[2015-05-01 21:49] visualphoenix commented on #12613
Is this an issue with the static 1.6? I'm not having problems on RHEL/Centos 6.6 using this rpm:

https://kojipkgs.fedoraproject.org/packages/docker-io/1.6.0/1.el6/x86_64/docker-io-1.6.0-1.el6.x86_64.rpm

[2015-05-01 21:51] visualphoenix commented on #12740
This looks like an issue running docker on rhel/centos 6.5 kernel. I've had problems using docker with anything older than the 6.6 kernel. Please try using https://kojipkgs.fedoraproject.org/packages/docker-io/1.6.0/1.el6/x86_64/docker-io-1.6.0-1.el6.x86_64.rpm on Centos 6.6 host with the 6.6 kernel.

[2015-05-01 21:55] jfrazelle commented on #12613
because the version of udev has to be the same it has been explained in
several issues

On Fri, May 1, 2015 at 2:50 PM, Raymond Barbiero <notifications@github.com>
wrote:

[2015-05-01 21:55] jfrazelle commented on #12613
that is not the same issue as this though

On Fri, May 1, 2015 at 2:55 PM, Jessica Frazelle <jess@docker.com> wrote:

[2015-05-01 22:26] calavera commented on #12912
Thanks for opening this issue @samm-git. Do you mind to open a pull request with the patch? I can do it for you, but I'd sign a work that's not really mine, and that's very rude.

[2015-05-01 22:43] tfoote commented on #12823
This is happening about once every 6-8 hours across 9 machines.

I caught the failing job again. It's interesting in that the first pull to fail and cause the lockup actually got some way through the pull then hung.

[code]

The process tree straces and console outputs of each of the 4 docker pull processes can be found at: https://gist.github.com/tfoote/e583ee47ef21007fb465

[2015-05-01 22:46] calavera commented on #8843
Hi,

we had a discussion about this feature yesterday, and we decided to not allow to dynamically update properties. Thanks for letting us know about your use case, we really appreciate it and took it into consideration.

I'm closing this issue. Thank you!

[2015-05-01 22:46] #8843 closed

[2015-05-01 22:53] calavera commented on #7513
Hi,

as expressed in #611, this is something that Docker is not going to officially pursue, at least for now. It's great that there is someone in the community leading this effort. Please refer to those repos if you need help or have feedback about it.

I'm closing this issue. Thanks again for letting us know about your use case.

[2015-05-01 22:53] #7513 closed

[2015-05-01 22:58] visualphoenix commented on #12613
@jfrazelle ah - failed to notice this was running on a centos7 host. not having this problem with 1.6 on a 6.6 host.

[2015-05-01 23:04] calavera commented on #10582
When you build an image, docker creates a copy of your file system. It's impossible to detect differences between two completely different machines unless you're explicit about permissions in your dockerfile.

We'll soon have user namespaces that will allow people to have full control of permissions inside containers. Check #12648 out, it's super interesting.

I'm closing this issue. Thanks for re

[2015-05-01 23:04] #10582 closed

[2015-05-01 23:09] calavera commented on #6093
Thanks for the clarification @jfrazelle! Closing the issue.

[2015-05-01 23:09] #6093 closed

[2015-05-01 23:13] calavera commented on #10720
As @crosbymichael pointed out, you should be able to get that data from the api. That's a more reliable output than the client, since the client perform transformations required to inform human about the daemon state.

I'm closing this issue. Thanks for reaching out.

[2015-05-01 23:13] #10720 closed

[2015-05-01 23:24] calavera commented on #7650
Closing this issue. Thanks for reaching out, but it's not among our goals right now to tackle this.

[2015-05-01 23:24] #7650 closed

[2015-05-01 23:30] calavera commented on #10525
Closed, since it was fixed with #10527

[2015-05-01 23:30] #10525 closed

[2015-05-01 23:35] calavera commented on #11249
This issue has been superseded by #12931. Follow that PR for the awesomeness :metal:

Closing this issue.

[2015-05-01 23:35] #11249 closed

[2015-05-01 23:37] danil commented on #3519
+1 emacs rocks

[2015-05-02 00:07] thieman commented on #12595
@relistan A note on your comment illustrating the two issues: your steps in issue 1 are not reflecting my test case. You need to overwrite the `busybox:TestPsImageIDAfterUpdate-original` image, but in your third line you are creating the `-updated` image. My step uses a `tag -f` to do this after using the commit to create the `-updated` image.

Your issue is showing that the image value in `ps` re

[2015-05-02 00:18] thieman commented on #12595
I know I just said this was a design decision, but based on a reading of the `commit` documentation I do not think it makes sense for the running container's `ImageID` to be changed after a commit. The `--change` option indicates that it applies Dockerfile commands to the *image* that is created. These commands would cause your new image to diverge from what is actually running in your current con

[2015-05-02 01:25] thaJeztah opened #12938 "Describe roles of new project members"
I noticed some people now (more) actively participating in the project and, although I can roughly "guess", their role and/or responsibilities *within the project* are not clear to me.

I'd love to see @calavera @diogomonica and @NathanMcCauley (perhaps other people from libnetwork) added to the [MAINTAINERS document](https://github.com/docker/docker/blob/master/MAINTAINERS), and (possibly) new ro

[2015-05-02 01:25] GordonTheTurtle commented on #12938
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-02 03:27] sahus5 commented on #247
Can anyone please tell me if we are going to get this feature in near future in any release?
I would love to see this feature

[2015-05-02 03:27] sahus5 commented on #247
Can anyone please tell me if we are going to get this feature in near future in any release?
I would love to see this feature

[2015-05-02 03:27] sahus5 commented on #247
Can anyone please tell me if we are going to get this feature in near future in any release?
I would love to see this feature

[2015-05-02 03:39] jfrazelle commented on #12938
Bleh sorry ignore Gordon I am going to make him ignore issues from us

On Friday, May 1, 2015, Gordon <notifications@github.com> wrote:

[2015-05-02 03:50] thaJeztah commented on #12938
@jfrazelle I'll also remove his comments from issues where they have been addressed to keep the discussion readable (I do like the new feature though).

[2015-05-02 03:54] jfrazelle commented on #12938
Thanks sorry
Going to tweak him a but probably this weekend

On Friday, May 1, 2015, Sebastiaan van Stijn <notifications@github.com>
wrote:

[2015-05-02 04:01] thaJeztah commented on #12938
@jfrazelle hehe, no prob, take yer time. (Would be awesome if it removed the comment after it looks to be addressed, but don't know if there's some way to detect that).

Now, so long for a clean on-topic discussion LOL

[2015-05-02 04:24] thaJeztah commented on #12740
We very recently raised the version (6.5 -> 6.6) and kernel requirements for RHEL/CentOS (see https://github.com/docker/docker/pull/12814) because of various issues.

@himcc are you able to check on an updated system?

[2015-05-02 04:43] jfrazelle commented on #12938
Ooooo good idea can do!

On Friday, May 1, 2015, Sebastiaan van Stijn <notifications@github.com>
wrote:

[2015-05-02 05:21] icy commented on #12779
Thank you @cpuguy83  for the link and your confirmation. That saves a lot of time. Now I change my workflow and it works, though it's quite agaisnt the logic ;)

I hope you would find the best solution for that soon.

[2015-05-02 05:26] mavenugo commented on #12908
@jfrazelle @LK4D4 Based on the debugging session yesterday, we figured that (in atleast a few scenarios), we were facing distro issues relating to `br_netfilter` as described and fixed in #11405
I was initially worried if the ICCPing test is throwing false-positives. Though this newly introduced test is causing us all pain :), I think it is a good thing.

Please let me know if this issue is still

[2015-05-02 07:39] techtonik commented on #7513
LXD worked for me better as a replacement for 32-bit Docker - https://github.com/lxc/lxd

[2015-05-02 08:03] himcc commented on #12740
It is OK running on centos6.6.
But,is there a way to run on centos6.5 with rhel/centos 6.5 kernel?

[2015-05-02 08:25] TheDong commented on #12778
@coolljt0725 How does `:/` help with the issue? `:` can be the last character in an identifier easily enough. `/dev/folder:/device` is a perfectly valid path.

This can be solved by using invalid path characters (e.g. `$` as @chenwin suggests), decomposing the parts (offer `--device-hostpath=` and `--device-containerpath=`), or by allowing escaping rules (`--device=/dev/folder\:/device:/path/in/co

[2015-05-02 08:49] visualphoenix commented on #12740
Use docker 1.4.1 or older. Docker 1.5 on centos 6.5 with 6.5 kernel is buggy and prone to crashing the kernel in some instances.

[2015-05-02 08:53] himcc commented on #12740
Thank you very much !

[2015-05-02 09:18] visualphoenix commented on #12740
You should close this issue now :)

[2015-05-02 09:48] #12740 closed

[2015-05-02 11:31] sroegner opened #12940 "How can I get more than 64MB of tmp space in my container?"
Docker version 1.6.0, build 3eac457/1.6.0

    Containers: 5
    Images: 2
    Storage Driver: overlay
     Backing Filesystem: extfs
    Execution Driver: native-0.2
    Kernel Version: 3.19.5-200.fc21.x86_64
    Operating System: Fedora 21 (Twenty One)
    CPUs: 8
    Total Memory: 31.31 GiB

    dd: writing `/tmp/only64mboftmpspace': No space left on device
    656+0 records in
    655+0 record

[2015-05-02 11:31] GordonTheTurtle commented on #12940
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-02 12:41] thaJeztah commented on #12740
Thanks @visualphoenix @himcc, good to hear you were able to resolve this!

[2015-05-02 13:42] sroegner commented on #12940
`Description of problem`:
 We use containers to run integration tests and the software tested uses the tmp file system during installation.

`docker version`:

    Docker version 1.6.0, build 3eac457/1.6.0

`docker info`:

    Containers: 5
    Images: 2
    Storage Driver: overlay
     Backing Filesystem: extfs
    Execution Driver: native-0.2
    Kernel Version: 3.19.5-200.fc21.x86_64
    Operat

[2015-05-02 14:54] tiborvass commented on #11577
@mauriyouth are you still working on this?

[2015-05-02 15:00] nicktgr15 commented on #6743
+1

[2015-05-02 15:42] tobegit3hub commented on #8843
We're using docker to run application in PaaS platform. Our customers may change the usage of CPU or memory dynamically. Please let us know why you make this decision. If docker doesn't support this, we have to extend docker by using pure cgroup api.

[2015-05-02 16:09] LK4D4 commented on #12908
I think it won't be closed by that PR. We need reconfigure our jenkins machines to `modprobe br_netfilter`.

[2015-05-02 16:14] icecrime commented on #12938
Thanks @thaJeztah, that's totally true.

As you may have guessed, all three are recent Docker employees. The reason we didn't add them from day one is that we want to break the idea that being a Docker employee makes you an automatic open source project maintainer: this is something that should happen naturally from constant, quality contribution to the repo.

The fact that you raise their absence

[2015-05-02 16:39] ambroisemaupate commented on #12738
Happened to me :

[code]

[code]

[code]

[2015-05-02 17:20] thaJeztah commented on #12938
Thanks, @icecrime the reason I also asked is a) if their LGTM's have to be taken into account (and for what parts), and b) who the designated person is/are for security (still @ewindisch, or not?)

I'm happy seeing more people added, the project can always use some extra hands!

[2015-05-02 17:38] jfrazelle commented on #12908
I can do this weekend ;)

On Saturday, May 2, 2015, Alexander Morozov <notifications@github.com>
wrote:

[2015-05-02 18:14] thieman commented on #12940
Not an expert, but I can't reproduce and the only difference from my Docker config is that I'm using `aufs` instead of `overlay` as a storage driver. Could you please see if you can still reproduce using `aufs` so we know if it's an `overlay`-specific problem? I'd try `overlay` on my end, but I don't have a box lying around with a recent-enough kernel.

[2015-05-02 18:23] runcom commented on #12940
I'm using overlay with an ubuntu box as host and vanilla kernel 4.0.0 and I cannot reproduce with the commands you gave. I'm spinning up a fedora vm and try to repro

[2015-05-02 18:44] runcom commented on #12904
I'm pretty sure the mux errors is related to the docker registry v2 (docker/distribution) when pushing an image to a v2 registry in `graph/push.go`. I'm trying to reproduce btw

[2015-05-02 18:50] thieman commented on #6946
This should have been closed once https://github.com/docker/docker/pull/11870 was merged.

[2015-05-02 19:45] sroegner commented on #12940
Thanks for trying - i also cannot reproduce this on Ubuntu using either aufs, devicemapper or overlayfs.
Will try Fedora 22 next.

[2015-05-02 21:43] thaJeztah commented on #6946
Good catch! I just spotted that there's still one reference to "SSH" in the description of the document, that might need to be fixed at some point (if you feel like creating a PR, that would be great ;-))

@moxiegirl any idea why that change wasn't merged to docs yet? Or just haven't come round to it?

I'm going to close this issue, because it has been resolved in https://github.com/docker/docker/

[2015-05-02 21:43] #6946 closed

[2015-05-02 22:33] ewindisch commented on #12938
@thaJeztah I would like to see @NathanMcCauley and @diogomonica become security maintainers, but it is neither necessary nor automatic. As for myself, I do feel I could be a better maintainer than I am, and seek to be so. Certainly feel free to call me out on reviews needing attention.

[2015-05-02 22:49] sroegner commented on #12940
Problem is reproducible on Fedora 22 Beta, Kernel 4.0.1-300, so i guess this is Fedora-specific.
Will try CentOS 7  as well just to make sure.

[2015-05-03 00:17] thaJeztah commented on #12938
@ewindisch I know can ping you for security issues, and from my point of view, no need to apologize.

Just like to have clear what role people have in the project (head of "security" for Docker, inc. doesn't imply "head of security for the *project*"). I don't think Docker employees *have* to be a maintainer per-se, perhaps an "advisor" as role can be added for this (e.g., an advisor doesn't make

[2015-05-03 01:48] p4tin commented on #10392
Yes close as the PR #11118 was merged so this should be closed, as I was ready to pick it up

[2015-05-03 01:52] #10392 closed

[2015-05-03 01:56] p4tin commented on #10385
@runcom @unclejack  - Is this issue closed now?

[2015-05-03 02:29] #12892 closed

[2015-05-03 02:36] thaJeztah commented on #10385
@p4tin looking at the associated PR, that was closed without merging, so I don't think this is fixed.

Do you have plans to work on this?

[2015-05-03 03:16] p4tin commented on #10385
Yes

[2015-05-03 03:16] p4tin commented on #10385
#dibs

[2015-05-03 03:21] sroegner commented on #12940
Not reproducible on CentOS 7/devicemapper

    docker info
    Containers: 0
    Images: 0
    Storage Driver: devicemapper
     Pool Name: docker-253:0-100869707-pool
     Pool Blocksize: 65.54 kB
     Backing Filesystem: xfs
     Data file: /dev/loop0
     Metadata file: /dev/loop1
     Data Space Used: 307.2 MB
     Data Space Total: 107.4 GB
     Data Space Available: 28.08 GB
     Metadata Sp

[2015-05-03 03:32] thaJeztah commented on #10385
@runcom let us know if you're still working on cleaning up you original PR (but I think you're working on a lot of other PRs :smile:)

@p4tin also be sure to check https://github.com/docker/docker/issues/11564, the discussion/review on that PR may contain useful information

[2015-05-03 03:40] thaJeztah commented on #12904
Registry 2.0 only supports Docker 1.6 and newer clients. If you need to support older Docker clients, you'll have to run both a Registry 1.0 and 2.0, as is described in this section of the same document: [Configure Nginx with a v1 and v2 registry](https://docs.docker.com/registry/deploying/#configure-nginx-with-a-v1-and-v2-registry)

Could you test your setup, using a Docker 1.6 client?

[2015-05-03 03:48] sroegner commented on #12940
This was addressed in https://bugzilla.redhat.com/show_bug.cgi?id=1216096 and is reported to be fixed in the latest docker build for Fedora.

[2015-05-03 03:48] #12940 closed

[2015-05-03 03:50] granteagon commented on #10031
I had this issue on Yosemite.

My solution:
- get latest virtual box app
- clear any invalid settings warnings from the settings menu

The cause of my problem was that all my ram 2GB was allocated to the VM by default and I also had to select the ICH9 chipset for my mac.

[2015-05-03 04:06] thaJeztah commented on #12940
Thanks so much for researching and reporting back, @sroegner. Much appreciated!

[2015-05-03 04:29] HuaTiMeiTian opened #12942 "docker remote api hostConfig's links no env variables created in relate app"
[code]

 i use env  command in the related app , there is no mysql's env variables;

there is no problem use docker command in command line, just  /containers/create api

[2015-05-03 04:29] GordonTheTurtle commented on #12942
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-03 04:37] HuaTiMeiTian commented on #12942
docker info:
[code]

Environment details: aliyun

[2015-05-03 07:56] omribahumi commented on #12871
@jfrazelle any luck in spotting the commit? We can't upgrade to 1.6 unless this is addressed

[2015-05-03 08:54] ChuangZhang opened #12945 "container can't ping its public ip by using static NAT"
For example :
There is a public ip 10.103.245.2/20 binding to eth0 and another container using docker default ip 172.17.0.1,I use iptables define the following policy:
iptables -t nat -A PREROUTING -d 10.103.245.2/20 -j DNAT --to-destination 172.17.0.1
iptables -t nat -A POSTROUTING -s 172.17.0.1 -j SNAT --to-source 10.103.245.2/20
the problem is that  the container can ping all the other public i

[2015-05-03 08:54] GordonTheTurtle commented on #12945
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-03 09:02] runcom commented on #10385
@thaJeztah @p4tin I'm not working on it anymore, feel free to have a go on this :)

[2015-05-03 09:03] ChuangZhang opened #12946 "container can't ping its public ip by using static NAT"
For example :
There is a public ip 10.103.245.2/20 binding to eth0 and another container using docker default ip 172.17.0.1,I use iptables define the following policy:
iptables -t nat -A PREROUTING -d 10.103.245.2/20 -j DNAT --to-destination 172.17.0.1
iptables -t nat -A POSTROUTING -s 172.17.0.1 -j SNAT --to-source 10.103.245.2/20
the problem is that  the container can ping all the other public i

[2015-05-03 09:03] GordonTheTurtle commented on #12946
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-03 09:18] #12945 closed

[2015-05-03 11:20] Ulimn commented on #12469
+1

[2015-05-03 13:25] mbentley commented on #10031
I don't think that was the same issue because this is when the host is running both VirtualBox and Docker containers.  Since Yosemite can't run the docker engine, it would likely be a different issue.

[2015-05-03 13:32] jmzwcn commented on #12695
Nice, wait for your update.

[2015-05-03 13:56] thaJeztah commented on #12695
Wanted to suggest to add a mention to [Run reference](https://docs.docker.com/reference/run/#runtime-constraints-on-cpu-and-memory), but it looks like `--ulimit` never made it into that document

[2015-05-03 15:09] #12852 closed

[2015-05-03 15:10] #12706 closed

[2015-05-03 15:14] XiaokunHou commented on #12867
@nixun I will try it! It seems what I want！

[2015-05-03 16:53] roylanceMichael commented on #11534
+1 for @bobbytables solution as well (btw, love the xkcd reference). This worked on Windows like a charm (which makes sense, as the VM for mac and windows is similar I believe)

[2015-05-03 17:00] ianmiell opened #12949 "Proposal: prevent root/users from running containers"
I'd like to propose/explore the idea of preventing containers from running as root with a daemon config. This would be useful for a workflow we envisage for an environment where we could run Docker on desktops in a secure enterprise environment.

I've written a basic proof of concept which seems to work:

https://github.com/ianmiell/docker/tree/disallow_root

Does anyone have any views on the feas

[2015-05-03 17:35] LK4D4 commented on #12871
@omribahumi Was fixed in #12659

[2015-05-03 18:29] tegansnyder commented on #2588
:+1:

[2015-05-03 18:36] phemmer commented on #12946
What you are trying to do is called hairpin routing (this isn't a docker issue). To enable hairpin routing, simply run `echo 1 > /sys/class/net/$iface/brport/hairpin_mode`, where `$iface` is the name of the virtual interface of the container.

[2015-05-03 20:07] thaJeztah commented on #12949
Perhaps you can add more information on your use-case; I.e. Why disable running the container as root.

If security on the host is your concern, you may be interested in user namespaces, which is currently being worked on here: https://github.com/docker/docker/pull/12648

[2015-05-03 20:23] ianmiell commented on #12949
Hi, thanks for that. I'll have a look. Prima facie, it appears to address
my needs.

However, my understanding was that this was highly experimental, and likely
not to make it for a good while yet?

My use case is working at a security-paranoid place, there is a need to
reassure people that administrators can prevent a container running with
uid zero (and perhaps other uids). If this does the same

[2015-05-03 20:54] thaJeztah commented on #12949
I know @estesp is pushing hard to get this in (at least in an initial form), and many people are looking forward to it.

I'll leave this issue open for now, perhaps @estesp is able to add some information. I *suspect* however! that the maintainers will prefer https://github.com/docker/docker/pull/12648, because it's probably more flexible and largely will cover what you're proposing here.

Even if

[2015-05-03 20:58] thaJeztah commented on #12949
Let me also include @ewindisch and @diogomonica in this discussion, they are better suited for giving their opinion from a security perspective.

[2015-05-03 21:05] calavera commented on #8843
See #11442

[2015-05-03 21:22] ianmiell commented on #12949
Hi @ewindisch! (We were talking last week).
This arose from a conversation we had internally following our call.
Obviously, the proposal in #12648 is a more complete solution, so if it's
going to happen anytime in the near future that would help us enormously. I
had thought issues with volumes etc were going to render it fairly
intractable.

On Sun, May 3, 2015 at 9:59 PM, Sebastiaan van Stijn <
n

[2015-05-03 21:31] agonzalezro commented on #12904
Hi @thaJeztah,

After creating this issue I figured out that the version of the client could be a problem so I updated it, but even with the new version I get the same problem:

[code]

[2015-05-03 21:32] agonzalezro commented on #12904
Hi @thaJeztah it looks like that's the issue. I've updated the client after the creation of this issue and now I am getting a certificate error non related with this one.

As far as I can tell I can close this ticket if you are happy with it.

Thanks for the help!

[2015-05-03 22:16] moxiegirl commented on #6946
http://docs.master.dockerproject.com/examples/running_riak_service/  Has the work from #11870 Ben's PR was hanging around since 2014 which was before I started. Not sure why it was never merged.

[2015-05-03 22:33] thaJeztah commented on #12904
Thanks for confirming it's resolved. I'll close the issue :)

[2015-05-03 22:33] #12904 closed

[2015-05-03 23:10] ewindisch commented on #12949
@thaJeztah running as root in a user namespace is still much less secure than running as a non-root user. Some kind of restriction here is still worthwhile.

[2015-05-03 23:27] thaJeztah commented on #12949
@ewindisch thanks for kicking in; in that case, @ianmiell, perhaps you should expand the description a bit to make it a full "proposal", and add a full use case this may help the maintainers make a decision. (if I'm not mistaken, you're a writer, so :))

[2015-05-03 23:32] ewindisch commented on #12949
@ianmiell the problem I see with this patchset is that it doesn't also enforce '--cap-drop SETUID'. Without this, your users will be able to use setuid binaries to escalate to root, and using bind-mount volumes will be able to write to arbitrary files on the host. Ideally, I'd like to see '-u' automatically set '--cap-drop ALL' and require users to manually use '--cap-add', although this would bre

[2015-05-04 00:19] diogomonica commented on #12949
This is a great topic, and definitely worth pursuing.

I think there is something to be said for a configuration of this sort. I feel like @ewindisch idea of this being tied together with --cap-drop SETUID is a good idea. Are there other capabilities that we would like to drop?

My only issue with pursuing this path is the fact that now --disallow-root might break the principle of least surprise.

[2015-05-04 01:29] saturnism commented on #12827
hm, i don't think it's the image's issue in this case.  using `docker build` doesn't allow mounted volumes.

[2015-05-04 01:39] DesPenny commented on #10720
@calavera @crosbymichael I just queried the api from the command line and as you can see it is returned in human readable form.

 echo -e "GET /info HTTP/1.0\r\n" | nc -U /var/run/docker.sock
HTTP/1.0 200 OK
Content-Type: application/json
Job-Name: info
Date: Mon, 04 May 2015 01:33:18 GMT
Content-Length: 1431

{"Containers":33,"Debug":0,"DockerRootDir":"/var/lib/docker","Driver":"devicemapper","Dr

[2015-05-04 02:00] hqhq commented on #12925
What does `ldd /usr/bin/docker` say?

[2015-05-04 02:03] thaJeztah commented on #12143
For reference, #5910 is replaced by / carried in #12572

[2015-05-04 02:22] nashasha1 opened #12951 "create container: pipe2: too many open files"
when I use overlay in docker1.5.0/docker 1.6.0.
I create about 200 containers in a VM,appear docker error:
FATA[0000] Error response from daemon: Cannot start container b50cb3977180e31516dc8557b340d90d1b431eafe11714c8f2f8b1c48bdfa9f7: pipe2: too many open files

but When I changed back to aufs or devicemapper. no such error.(I created more than 600 containers)

docker info:
Containers: 240
Images:

[2015-05-04 02:22] GordonTheTurtle commented on #12951
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-04 02:34] thaJeztah commented on #12143
Actually, I think this is a duplicate of (or *very* similar to) #7054.

Are you okay with me closing this issue, or do you think this is different enough to keep it open?

[2015-05-04 02:49] thaJeztah commented on #10199
I'm going to close this issue, because I think this is a duplicate of https://github.com/docker/docker/issues/3056

Please continue the discussion on https://github.com/docker/docker/issues/3056.

If you think I incorrectly marked this issue as a duplicate, feel free to comment / ping me :)

[2015-05-04 02:49] #10199 closed

[2015-05-04 02:53] thaJeztah commented on #12827
If I understand your use-case correctly, this looks like a duplicate of https://github.com/docker/docker/issues/3056 (and https://github.com/docker/docker/issues/10199)

@saturnism can you confirm that this is the case (and close this issue if I'm correct)?

[2015-05-04 03:08] ewindisch commented on #12949
@diogomonica honestly, if we forbid CAP_SETUID, there would be no legitimate way to execute code as root, so none of the other root-level privileges would be usable. That's effectively the same thing as disabling all of the capabilities, so we may as well make it explicit.

I believe that authentication and authorization here provide means to address the issue of principle of least surprise, rathe

[2015-05-04 03:21] thaJeztah commented on #5299
I'm going to close this issue, because I think this is a duplicate of https://github.com/docker/docker/issues/332.

If you think I incorrectly marked this as a duplicate, please leave a comment

[2015-05-04 03:21] #5299 closed

[2015-05-04 05:23] ibuildthecloud commented on #5856
I still think this should be done

[2015-05-04 05:26] ksylvan commented on #12613
I'm running into access issues with the distribution docker-io 1.6 on Fedora 21 and SELinux.

    $ docker --version
    Docker version 1.6.0, build 3eac457/1.6.0
    $ docker run --rm -it -v $HOME/src:/src busybox /bin/sh
    / # ls /src
    ls: can't open '/src': Permission denied
    / #

After running "setenfoce 0", the same commands yield this:

    $ docker run --rm -it -v $HOME/src:/src bus

[2015-05-04 05:29] ksylvan commented on #12811
I'm still seeing this problem with this version:

    $ rpm -q docker-io
    docker-io-1.6.0-2.git3eac457.fc21.x86_64

And it looks like volume-mounting my host directories don't work either.

[2015-05-04 05:35] ChuangZhang commented on #12946
Hi @phemmer thanks very much. I make it work follow your advice.but the container $iface has no brport/hairpin_mode  ,I just modify the veth interface hairpin_mode of container in the docker host

[2015-05-04 06:08] nixun commented on #11948
quite good idea, it can solve the page cache problem as well as the disk space waste problem in one solution.

[2015-05-04 06:30] tobegit3hub commented on #8843
Get it. Thanks @calavera

[2015-05-04 06:46] rhatdan commented on #12811
@ksylvan I answered in the bugzillas on the volume mount.  Lets carry on the discussion in the bugzillas.

[2015-05-04 06:49] rhatdan commented on #12613
THis should still work.  Would need AVC's to tell you what is happening, and would be best handled in Bugzilla.

[2015-05-04 07:07] icy commented on #12791
A #bash script to generate NAT rules for all running containers (NOTE: for NAT-network only) https://github.com/icy/hsabymho/blob/master/libs/docker.sh

[2015-05-04 07:48] triptec commented on #12002
+1. I need to sudo service docker restart after every reboot

[2015-05-04 08:57] christianparpart commented on #12848
We are running into the out-of-memory issue on Docker 1.6.0, too; on literally multiple nodes.

node1: 2015-04-29 11:36, 2015-04-30 15:12
node2: 2015-04-29 12:46, 2015-04-30 15:12
node3: 2015-04-29 13:21, 2015-05-02 08:45
node4: 2015-04-29 12:58, 2015-04-30 15:12

Each node has 128 GB physical RAM, and is typically using about 15-40 GB only. So I kind of doubt the OOM message is caused by a kernel

[2015-05-04 09:00] unclejack commented on #12848
@christianparpart Can you tell me what kind of usage those nodes have seen, please? Are you using `--log-driver none` or the default? Are you using lots of containers which are doing logging? How many images and containers have you got?

[2015-05-04 09:01] razvan- commented on #12848
@unclejack just 4 containers, one image, low usage, default logging

[2015-05-04 09:05] unclejack commented on #12848
@razvan- Can you tell me whether those for containers have logged a lot, please?

I think this might be related to #9139. that issue should be fixed for anything which doesn't do something like `while 1 do echo something`. If we rule out #9139, I'll investigate to see what's going on. However, knowing the exact usage patterns is very important so that I can reproduce the problem.

[2015-05-04 09:41] kostko commented on #4717
I would like to be able to run routing daemons in Docker containers. Some of these daemons require access to certain container-local network sysctls like the following:
[code]

Currently, the only way to allow this is to run the container in privileged mode, which is undesirable as `NET_ADMIN` capability should be enough. It would also be ok if one could specify `--privileged` but then remove all

[2015-05-04 09:42] dagelf commented on #3056
This proposal as stated here has two problems.

1) It creates unnecessary extra work. If I already have the stuff I need for my build in, say, /var/apt/cache - and I want it to be available during my (OFFLINE!) build, at /var/apt/cache inside the container, then this requires a bunch of extra and generally unnecessary steps, involving symlinking or bind-mounting inside my host and inside my contai

[2015-05-04 09:46] dagelf commented on #3056
I challenge any of the docker developers/maintainers to try and work with docker in an offline or poor-connectity environment, and see what irks you and what solutions you come up to deal with it...

[2015-05-04 09:58] mudverma opened #12955 "docker - upstart issue (signal traps)"
When I run "docker -D -d"  on my custom built binary with debugs (replaced /usr/bin/docker with it).  I see that docker daemon is the child of sshd/bash. When do kill -15 DAEMON_PID, i could see in debugs, that signal is trapped by the daemon, and it starts the cleanup by shutting down the running containers.  (// * If SIGINT or SIGTERM are received, `cleanup` is called, then the process is termin

[2015-05-04 09:58] GordonTheTurtle commented on #12955
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-04 10:28] zwarag commented on #8363
+1

[2015-05-04 10:32] DanielYuan2012 opened #12956 "can't Mount a Host Directory as a Data Volume to container using training/webapp image"
my environment:

ubuntu  on VMPlayer:

daniel@ubuntu:~$ docker version
Client version: 1.6.0
Client API version: 1.18
Go version (client): go1.4.2
Git commit (client): 4749651
OS/Arch (client): linux/amd64
Server version: 1.6.0
Server API version: 1.18
Go version (server): go1.4.2
Git commit (server): 4749651
OS/Arch (server): linux/amd64

Daniel@ubuntu:~$ docker -D info
Containers: 19
Images: 143

[2015-05-04 10:32] GordonTheTurtle commented on #12956
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-04 11:30] ramonvanstijn opened #12957 "docker 1.6.0: --ulimit stack=32768:32768 sets the limit to 32"
Description of problem:
When --ulimit stack=32768:32768 is used as an argument for the docker run command the container is configured with the stack size set to 32.

docker version:
[code]
docker info:
[code]
uname -a:
[code]
Environment details (AWS, VirtualBox, physical, etc.):
VMware virtual machine

How reproducible:

Steps to Reproduce:
1. ```docker run --rm -it --ulimit stack=32768:32768 bus

[2015-05-04 11:30] GordonTheTurtle commented on #12957
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-04 12:08] #12955 closed

[2015-05-04 13:11] fvant opened #12959 "docker login exits with fatal "inappropriate ioctl for device" when run from cloud-init"
I am running a script to run a container from a cloud-init script (so as root).

docker ps works fine but docker login always exits with that fatal error.
BTW i do have a .dockercfg file and provide only   -u 'myuser'  server   in the script.  (adding a -e and/or -p have same result)

Running the same script in a ssh shell works fine.  Could the code try to read from console, which is not there wh

[2015-05-04 13:11] GordonTheTurtle commented on #12959
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-04 13:31] tuscland commented on #7445
+1

[2015-05-04 13:34] vkorenev commented on #12002
I'm having the same issue on Ubuntu 15.04. After "sudo service docker restart" it starts working.

[2015-05-04 13:52] unclejack commented on #12899
The logging related memory allocation problem has been fixed on master. Docker 1.7.0 won't have these problems any more. There are still some allocations being done for the output, but for 99% of the use cases it shouldn't be a problem of any kind any more and it shouldn't have any kind of impact.

Those weren't leaks per se, they were just a lot of memory allocations the Go GC had to deal with. O

[2015-05-04 14:18] unclejack commented on #12925
How did you build those binaries? What are the exact commands you've used?

[2015-05-04 14:20] fvant commented on #12959
mkdir /home/root and exporting HOME as /home/root before doing docker login did the trick.

[2015-05-04 14:20] #12959 closed

[2015-05-04 14:21] cpuguy83 commented on #12957
I think there's some serialization error on 1.6 that's causing this... can you check with a master binary?
I've also seen it, when using a really high number, go to 0 (which is definitely fixed on master).

[2015-05-04 14:24] cpuguy83 commented on #12956
is `/src/webapp` on the fs local to the docker daemon?
Was it mounted into the host after the docker daemon was started?

[2015-05-04 14:25] g17 commented on #11016
@duglin It seems to be fixed with 1.6.0. Now I get a proper error message:

     Sending image list
     FATA[0003] Authentication is required.

[2015-05-04 14:36] duglin commented on #11016
cool - thanks for checking. Will close this issue.

[2015-05-04 14:36] #11016 closed

[2015-05-04 15:05] ronin13 commented on #10180
Hitting this issue on CentOS 7.1 with overlayfs storage-drive and docker 1.6.0 for a mkdir which is failing with EINVAL.

[2015-05-04 15:07] ramonvanstijn commented on #12957
The problem persists with today's master binary.

docker version
[code]

[2015-05-04 15:37] unclejack commented on #12902
@rhvgoyal You haven't missed anything, but I have, sorry. I'm going to close this issue as the associated PR has been merged.

[2015-05-04 15:37] #12902 closed

[2015-05-04 15:52] unclejack commented on #10385
@p4tin and anyone interested in working on this, please discuss the design on this issue first.

[2015-05-04 15:53] #11026 closed

[2015-05-04 15:56] dnephin commented on #12547
I was able to workaround this issue for now. I did that by removing all `PORTS` and `EXPOSE`from the Dockerfiles and "docker run" calls. I'm still able to use docker links (the ports are known ahead of time), and I can always communicate with the container from the host by looking up the IP address from docker inspect.

[2015-05-04 16:10] Ya3Sh commented on #12887
Thanks @visualphoenix. It works for me.
The issue appears to be with changing docker working directory. I continue to see this issue if I change docker working directory to a *mounted* file system. It works if I change working directory to physical disk. Is it not supported?

[2015-05-04 16:16] mjsalinger opened #12962 "Instances freeze"
I've been troubleshooting high CPU/docker daemon choke points from starting and stopping a large number of containers (referenced previously in #11228 and #12758).  Based on the advice in these two threads, I decided to give OverlayFS a try by installing on Ubuntu 15.04.  Initially it seemed like results were good. CPU/memory usage was low, containers were starting / stopping with good performance

[2015-05-04 16:16] bertrand-quenin commented on #11916
+1

[2015-05-04 16:32] LK4D4 commented on #12962
@mjsalinger Can you provide flags which you use for run containers?

[2015-05-04 16:46] sharidas commented on #9283
#dibs

[2015-05-04 16:51] LK4D4 commented on #12547
@dnephin So, do you use just iptables without other firewalls?

[2015-05-04 16:55] dnephin commented on #12547
@LK4D4 I'm not quite sure what you mean. These containers are being used as part of a test suite, so they aren't really being exposed to anything public.  We aren't doing anything except for what docker is doing to setup the networking.  The hosts shouldn't be running any other firewall, just iptables.

[2015-05-04 16:55] kevinaloys commented on #8363
:+1:

[2015-05-04 16:57] LK4D4 commented on #12547
@dnephin Yes, that's what I'm asked. Thanks!

[2015-05-04 16:58] #12284 closed

[2015-05-04 17:22] frntn commented on #3359
@alvin664
If you are root, you don't need sudo anymore
If you want to stay with your non root user and use sudo instead :

[code]

[2015-05-04 17:47] coding-horror commented on #12658
Can anyone clarify if this cleanup script is wrong / bad ?

    docker images | awk 'NR>1 {print $3}' | uniq | xargs --no-run-if-empty docker rmi

Is this the recommended way to remove unused Docker images or is there a better one?

[2015-05-04 17:48] coding-horror commented on #12658
Is this script better or more recommended for cleaning up containers?

https://github.com/blueyed/dotfiles/blob/master/usr/bin/docker-cleanup

[2015-05-04 17:50] mjsalinger commented on #12962
Using the docker remote API, I am explicitly setting the following flags:

[code]

Each container exposes a single port.

[2015-05-04 17:51] vbatts commented on #9283
Cool! Feel free to ping me as you have questions
On May 4, 2015 09:46, "Sujith H" <notifications@github.com> wrote:

[2015-05-04 17:59] mjsalinger commented on #12962
Also of note - when we made the change over to 15.04 and overlay, I also added the below two flags.  I have just recently (in the last hour) removed them to see if it makes a difference:

[code]

[2015-05-04 18:00] jfrazelle commented on #12658
cleaning up dangling images I would recommend

[code]

or just cleaning up whatever not being used
yolo

[code]

because it will fail if there is not a container currently using it

[2015-05-04 18:14] Supermathie commented on #12658
@jfrazelle ITYM: "because it will fail if there *is* a container currently using it"

That's what I'm doing - I'm doing more or less the equivalent since I wrote that when `-aq` didn't exist.

And it's failing by removing images that *are* in use.

[2015-05-04 18:19] coding-horror commented on #12658
in some circumstances, on this one server. We had the same script running on other servers and it did *not* remove any images that are in use.

We're not quite sure how this could happen, but it definitely did, and it caused some all-site hosting outages for us at http://discourse.org .. that's why we're bringing it up.

[2015-05-04 18:27] ianmiell commented on #12949
I may have misunderstood (and am no security expert), but I'm wondering
whether we'd want to forbid CAP_SETUID in this secure scenario.

The scenario I'm envisaging involves an environment in which approved
images are created via a separate process from a limited set of rpms and
limited network access.

Hunting around my system I see that ping appears to be a suid program, for
example. I think our

[2015-05-04 18:37] ianmiell commented on #12949
Actually, a little more digging and hacking and it (apache as non-root)
seems quite do-able, if fiddly.

I think there may be a rich seam to mine of reference images that don't
need root capabilities but can run useful services that normally do.

On Mon, May 4, 2015 at 7:27 PM, Ian Miell <ian.miell@gmail.com> wrote:

[2015-05-04 18:57] #11595 closed

[2015-05-04 19:07] bwb opened #12968 "Load fails on images saved by digest."
Edited `2015-05-04 19:34:32+00:00`: apply [Issue Report Template](https://github.com/docker/docker/blob/master/CONTRIBUTING.md#reporting-other-issues)

Description of problem:

The save command succeeds when referencing an image by its digest. The load command fails with an "Illegal tag name" error. When using save and load, I expect both commands to succeed or both commands to fail.

`docker vers

[2015-05-04 19:07] GordonTheTurtle commented on #12968
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-04 19:09] salmanbaset commented on #11577
@mauriyouth please let us know so that we can update the fix.

[2015-05-04 19:14] stevvooe opened #12969 "Docker client should pre-authorize token scopes before making ping"
We are getting a large number of 401s to the "/v2/" endpoint, presumably from docker clients exploring version resolution. It may be better to have the client prefetch the token to reduce the number of round trips, even if the client won't using v2.

@dmcgowan @dmp42

[2015-05-04 19:14] GordonTheTurtle commented on #12969
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-04 19:15] mauriyouth commented on #11577
hi! sorry, i stopped working on it weeks ago. didn't get it to work, tried many ways...I have failing test, I can still try to report the errors I'm having. fill free to push you have a fix

[2015-05-04 19:16] tiborvass commented on #11577
@mauriyouth no worries, @runcom made a fix and he was nice enough to credit you as the author :)

[2015-05-04 19:17] sunadm commented on #9118
I just ran into this issue as well:

<pre><code>Client version: 1.6.0
Client API version: 1.18
Go version (client): go1.4.2
Git commit (client): 4749651
OS/Arch (client): linux/amd64
Server version: 1.6.0
Server API version: 1.18
Go version (server): go1.4.2
Git commit (server): 4749651
OS/Arch (server): linux/amd64</code></pre>

<pre><code>docker push myregistry.com:5000/dianjia_virgo:0.7
FATA[00

[2015-05-04 19:23] mauriyouth commented on #11577
@runcom, thanks, very kind of you :) @tiborvass  thanks :)

[2015-05-04 19:25] unclejack commented on #12962
@mjsalinger Please provide a script which reproduces this using the docker cli client. I'd like to look into this.

[2015-05-04 19:32] runcom commented on #11577
No problem at all @mauriyouth!

[2015-05-04 19:48] #7071 closed

[2015-05-04 19:57] ewindisch commented on #12949
Yes, with vetted images, you're right that the problem is constrained. It's just that once go down this rabbit-hole, we realize that we don't necessarily **need** to provide a curated set of images if, by default, they are disallowed root. (with the assumption the user is able to download and run arbitrary binaries as their *own* user anyway)

Just brainstorming here... but what about feature / se

[2015-05-04 19:58] cebe commented on #12547
@dnephin thanks for the hint, I was not aware that this was possible without EXPOSE.

[2015-05-04 20:22] dmcgowan commented on #12969
This is currently part of the ping process to determine what version a registry supports as well as the authorization mechanism. Without doing this check there is no way (without hard coding a special case for the Hub) to know whether a registry expects token auth, basic auth, or no auth. Even with a discover mechanism there would be no way to guess how a registry is authorized.

[2015-05-04 20:29] stevvooe commented on #12969
@dmcgowan Do we like the current "discovery" mechanism, of having the registry tell you? Should we cache the discovered result more aggressively?

[2015-05-04 20:36] dmcgowan commented on #12969
The mechanism could be cached and only busted if there is a future 401. This would make the existing code more complicated though since a 401 after ping will result in an error being returned to the client and this sort of fallback would need to be transparent to the user. For the new v2 client we can defer the ping for auth method until a request is authorized and re-attempt authorization on 401

[2015-05-04 20:44] tristanz commented on #12886
I guess the main question is whether the really is no solution for multiple container git repos with shared code.  This seems like a extremely common use case, but any discussion of symlinks or relative paths is not finding traction as far as I can tell.

Here's the folder structure I'm thinking about:

[code]

Is there really no docker way?  The best I have found so far is to simply copy shared i

[2015-05-04 20:58] rohansingh commented on #12823
We have been seeing a problem with identical symptoms. Most failed [builds of Helios](https://circleci.com/gh/spotify/helios) have tests that fail due to this issue.

[2015-05-04 21:11] chrissnell commented on #12925
@hqhq @unclejack, here's how I'm building the binaries, followed by the output of ldd(1):
[code]

After that, I copy the binaries to my host system:

[code]

Then I move the functional, system-installed docker 1.6 out of the way and install this freshly-built dynamic binary 1.7.0-dev into place:

[code]

And when I attempt to start the docker service, I see this in my log:

[code]

[2015-05-04 21:17] tristanz opened #12971 "Support multiple container repositories with shared code."
There is currently no easy way to build multiple containers from a single repository if containers share code.  This seems like a very common pattern:

[code]

What is the recommended way to support this repository structure?

To list potential solutions and problems with them:
- Named dockerfiles (-f) do not support specifying separate dockerignores.
- Symlinks are not dereferenced as part of bui

[2015-05-04 21:17] GordonTheTurtle commented on #12971
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-04 21:37] etuttle opened #12972 "v2 auth fails if version check endpoint is unauthenticated"
I'm trying to set up a v2 repository which allows anonymous read access but requires basic auth for POST or PUT.  I set up an nginx proxy which sends a basic auth challenge depending on the $request_method.

When pushing to this repo, docker tries a PUT to `/v2/<name>/manifests/<ref>`, gets a 401 back, and prompt me for my credentials.  But after entering credentials, it hits `/v2/` with a GET and

[2015-05-04 21:37] GordonTheTurtle commented on #12972
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-04 21:44] ChristopherBiscardi opened #12973 "Cannot kill any container"
Using machine on OSX, I have come across a situation in which I can not kill any containers.

I've tried `docker-compose kill`, `docker kill`, and ssh'ing in to kill:
[code]

`docker-compose kill` times out:

[code]

`docker kill` just hangs while the daemon logs show:

[code]

[daemon output](https://gist.github.com/ChristopherBiscardi/c10837a605b569d72339)

`docker version`:
[code]

boot2docker

[2015-05-04 21:44] GordonTheTurtle commented on #12973
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-04 21:45] jfrazelle commented on #12658
I think there were some bugs w this that were fixed on master I know I added a few more integrations tests as well for old issues.

[2015-05-04 21:51] aluzzardi opened #12974 "docker attach not properly attaching stdin &stdout"
[code]

docker version:
[code]

[2015-05-04 21:51] GordonTheTurtle commented on #12974
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-04 22:16] p4tin commented on #10385
@thaJeztah + @unclejack - there were 2 issues you pointed out that I will be looking into...  1) was that the read stream was exhausted by checking the type of tarball and 2) was that conpressed streams were not being handled.

1) For problem #1 - If I am not mistaken the requirement is to give user a notice that this stream maybe handled better by load or import depending on the files in the tarb

[2015-05-04 22:22] a-ba commented on #3056
I think you may be confused about intent of BINDCONTEXT (caching data was no the goal)

The main purpose is to bind files so that they can be processed in the subsequent RUN commands and **the result ends up in the image**.

Typically you mount your sources with BINDCONTEXT and issue a RUN to build the binaries. The binaries depend on the content of sources so you want them to be properly fingerpr

[2015-05-04 22:29] runcom commented on #10385
@p4tin thanks for working on this, my first attemp had some hints from @unclejack too - you could keep in mind while developing. Firstly, it's not about handling "better" but handling at all, meaning docker importing a docker save'ed image won't work and give misleading results. Also, at the beginning my attemp was to save the imported tarball in a temp file so it can be read multiple times (not t

[2015-05-04 23:23] jfrazelle commented on #12974
I think we fixed this on master no?

On Mon, May 4, 2015 at 2:52 PM, Gordon <notifications@github.com> wrote:

[2015-05-04 23:35] sunadm commented on #9118
aha, I found a reason causes this problem, that is Proxy

If you setup Docker client works under proxy, then Docker client may cannot pass the ca.crt to Registry Server.

So, when I commented the line like following from /etc/default/docker, all things works fine again:

<pre><code>export http_proxy=...</code></pre>

[2015-05-05 00:00] GeorgeZhai commented on #5989
+1
Thanks

[2015-05-05 00:46] gauravsingh85 commented on #3155
Hi
I have two container "app" and "db" . app is liked to "db". if "db is rebooted . the linking breaks and "app" stopped communicating with "db" unless i reboot "app". this happening because /etc/hosts does not update dynamically .

i see few links posted above non of them have the solution for dynamic updating of /etc/hosts ....... any idea how can i solve this

[2015-05-05 00:48] cpuguy83 commented on #3155
@gauravsingh85 `/etc/hosts` is automatically in this scenario as of docker 1.5

[2015-05-05 00:54] samsabed commented on #8385
@cpuguy83 , @dmcgowan what are your thoughts on PR #12874

[2015-05-05 00:58] gauravsingh85 commented on #3155
thankyou for the reply
The container is in Links:null state
docker inspect app|less
        "Links": null,
        "LxcConf": [],
        "NetworkMode": "bridge",
        "PortBindings": {
            "xxxx/tcp": [
                {
                    "HostIp": "xxxx",
                    "HostPort": "xxxx"
                }
            ]

[2015-05-05 01:20] #12528 closed

[2015-05-05 02:12] p4tin commented on #10385
@runcom - Are you saying that if I create a tar with export the import of that tar will not work - cause I just did that and it was ok - then I tried to "load" it and got an error: "FATA[0000] Error response from daemon: open /mnt/sda1/var/lib/docker/tmp/docker-import-936240994/repo/bin/json: no such file or directory "

[2015-05-05 02:48] #12701 closed

[2015-05-05 03:32] xuxinkun commented on #5603
As @thaJeztah say, I think TAG instruction is necessary for Dockerfile to create multiple images from a single Dockerfile and create different tags for the same image. So, I make this pull requst #12983 .
But I don't think it is an good idea for Overriding. So even with 'build -t', TAG instruction in the Dockerfile also should be taken effect.
ping @jfrazelle .

[2015-05-05 03:40] dirkmc commented on #10706
I'm seeing something similar. The image appears in ```docker ps``` but I can't do an exec to get into it.
[code]
[code]
[code]
Not sure if it's related, but the reason I'm trying to get in is that I want to debug a process that is consuming 100% of CPU. I am able to restart the process using ```sudo docker restart process_name```

[2015-05-05 04:05] ronin13 opened #12984 "mkdir fails with EINVAL with overlayfs on CentOS 7.1"
docker version 1.6 with -s overlay with ext4 backend
CentOS 7.1

mkdir fails with EINVAL.

With perf trace:
[code]

This is innobackupex from xtrabackup failing to create directory with mkdir in perl.

Reported at https://github.com/docker/docker/issues/10180 earlier. Reporting separately since it is not related to any checksum or yum.

[2015-05-05 04:05] GordonTheTurtle commented on #12984
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-05 04:26] ronin13 commented on #10294
Oddly enough I am getting this with ext4 as well:
[code]

[code]

[code]

[2015-05-05 04:33] ronin13 commented on #10294
Note that the previous error doesn't occur with docker 1.6.0, however, 1.6.0 fails at a latter stage https://github.com/docker/docker/issues/12984

[2015-05-05 04:56] ronin13 commented on #12984
`docker version`:

docker version
Client version: 1.6.0
Client API version: 1.18
Go version (client): go1.4.2
Git commit (client): 4749651
OS/Arch (client): linux/amd64
Server version: 1.6.0
Server API version: 1.18
Go version (server): go1.4.2
Git commit (server): 4749651
OS/Arch (server): linux/amd64
[code]
docker info
Containers: 7
Images: 28
Storage Driver: overlay
 Backing Filesystem: extfs
E

[2015-05-05 04:58] freshmatrix commented on #8539
This relatively newly provisioned box is using Mesos + Marathon with cgroup cpu/mem limit and according to Mesos UI, there are only 7 active Docker instance in this box with max 2.2GB mem allocated and this box has 30GB memory avail.

Typically there might be 100s of Docker instances are initialized and tore down each day. Possible memory leak of Docker daemon? Saw this with v1.5 and also seeing i

[2015-05-05 05:03] ronin13 commented on #12984
I can also repeat this with docker-1.7.0-dev downloaded from:

https://master.dockerproject.com/linux/amd64/docker-1.7.0-dev

[2015-05-05 05:17] HuKeping commented on #12672
This issue can be closed now

[2015-05-05 05:19] #12672 closed

[2015-05-05 05:38] sharidas commented on #9283
@vbatts Sure

[2015-05-05 05:39] jpillora commented on #9561
:+1: on this

[2015-05-05 05:53] mayujsw opened #12985 "run with "--device", docker report /sys/fs/cgroup/devices/docker/containerID/.. ‘write error: Operation not permitted’"
When i run docker with below command:
docker run --name 123 --device "/dev/bus/usb/002/048"  ubuntu adb devices
it reports error as below:
 /sys/fs/cgroup/devices/docker/xxx/device.allow.. ‘write error: Operation not permitted’

my intention is to launch a docker container with the access permission to one of my android devices (whose node name is /dev/bus/usb/002/048), but --device option does no

[2015-05-05 05:53] GordonTheTurtle commented on #12985
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-05 06:39] rhatdan commented on #4717
Have you tried using --cap-drop with --privileged? Not sure that works.

Something like --privileged --cap-drop=ALL --cap-add=NET_ADMIN

would be cool.

[2015-05-05 06:44] kostko commented on #4717
Yes, as I said above, unfortunately this doesn't work:

From reading the Docker code it seems that once privileged mode is set, all capability settings are just ignored, so nothing is dropped :-(

[2015-05-05 07:11] runcom commented on #12974
Nope, just tried on master, looking into this btw

[2015-05-05 07:57] cyphar commented on #5603
@xuxinkun I don't agree with the overriding point. If you don't allow ignoring of `TAG` instructions, what's to stop a random Dockerfile from clobbering a tagged image and thus tricking you into running containers you don't mean to.

[2015-05-05 08:03] ianmiell commented on #12949
I've enquired internally, and the whole area of running services as root is solved, ie there are specific packages

So disabling suid should not be a problem (for us) after all.

I like the idea of the security flags for images. It would be great to have control at that level, and we could switch on suid in a controlled 'build' context, and off in a less controlled one.

I'm not sure where this le

[2015-05-05 08:03] astlock commented on #6743
Can't switch to libcontainer from LXC exec-driver because of this.

[2015-05-05 08:20] Soulou commented on #12481
Some news here

[code]

[code]

strace -f -p 451
[code]

[2015-05-05 08:35] Soulou commented on #12481
Actually a lot of processes are following docker with this kind of stack trace. It really seems to be relataed to btrfs.

[code]

[2015-05-05 08:36] xuxinkun commented on #5603
@cyphar overriding will be checked in 'TAG' command. So the condition you say won't happen.

I will show u a example with my pull request #12983

    [root@localhost VFS]# docker images
    REPOSITORY          TAG                 IMAGE ID            CREATED             VIRTUAL SIZE
    test                v1                  98354e5ca627        25 seconds ago      0 B
    [root@localhost VFS]# cat

[2015-05-05 08:52] enguerran commented on #12738
Is someone has a solution to stop those kind of ghost containers without restarting the daemon? _(I even don't know if restarting the daemon will stop those ghost containers)_

[2015-05-05 09:00] xuxinkun opened #12987 "Add 'TAG' and 'COMPRESS' command to Dockerfile"
TAG command should allow to:
* Create multiple images from a single Dockerfile
* Create different tags for the same image

See more info in #5603 commented by @thaJeztah .

I also think it is nessary to add a 'COMPRESS' command. It is more likely to the #332.
It can compress the layers between a parent layer and the last layer.

For example:

    FROM centos:latest
    RUN yum install -y xxx
    M

[2015-05-05 09:00] GordonTheTurtle commented on #12987
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-05 09:09] nikicat commented on #7445
:+1:

[2015-05-05 09:46] christianparpart commented on #12848
I'd say not flooding but pretty active, one container right now for example every second about 5 to 35 lines on each event (depends on activity / cluster load). the process inside is logging to stdout.

[2015-05-05 09:51] mayujsw commented on #12985
----------------------------------
Description of problem:
docker run -dit --name 123 --device "/dev/bus/usb/002/048" ubuntu, it reports
"/sys/fs/cgroup/devices/docker/contiainerID/device.allow" : operation not permitted
-----------------------------------
`docker version`:
Docker version 1.6.0, build 4749651
-----------------------------------
`docker info`:
Containers: 3
Images: 100
Storage Driv

[2015-05-05 09:55] christianparpart commented on #12848
@unclejack  this is one backtrace excerpt from the docker.log from one of the nodes.

https://gist.github.com/christianparpart/bd87670d40f85c23629b (using gist.GH here, because it's 600 lines long)

[2015-05-05 09:57] discordianfish commented on #12738
@enguerran The workaround for me was to stop docker, kill the ghost containers manually, remove `/var/lib/docker/containers/[container-id]` and start docker again.

[2015-05-05 10:10] liwh opened #12989 "Container Cache quit the container"
Docker Version:  Docker version 1.5.0, build a8a31ef
Docker Info:
[code]

When i start the container, The container Exited with the oom-killer.
I use the dmesg get the log:

Actual Results:
[code]

What is the problem,  and why the cache no recycle?

[2015-05-05 10:10] GordonTheTurtle commented on #12989
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-05 10:23] unclejack commented on #12989
@liwh The issue you've run into has nothing to do with Docker itself. It's only related to the kernel and the distribution you're using. The problem you've reported isn't a Docker bug and this isn't a general support forum.

The behavior you're seeing also depends on the configuration of that system, on the kernel version and on the actual distribution's configuration for the kernel. Depending on

[2015-05-05 10:23] #12989 closed

[2015-05-05 10:50] jlopezr commented on #7445
+1

[2015-05-05 11:33] unclejack commented on #12848
@christianparpart Can you try a binary from https://master.dockerproject.com/ (built from master) to check if you're still running into these problems with a Docker binary which has the fixes for logging, please?

[2015-05-05 12:12] thaJeztah commented on #12987
This looks like a duplicate of https://github.com/docker/docker/issues/332 (or https://github.com/docker/docker/issues/6906), there's currently a work in progress PR for a `MARK...SQUASH` feature (which is basically what you're here) in https://github.com/docker/docker/pull/12198

[2015-05-05 12:12] #12851 closed

[2015-05-05 12:31] thaJeztah commented on #6743
If all goes according to plan, Docker networking will be replaced with ["libnetwork"](https://github.com/docker/libnetwork) in Docker 1.7 (also see [the new blog post](http://blog.docker.com/2015/04/docker-networking-takes-a-step-in-the-right-direction-2/)

Initially (afaik), this will be only a "behind the screens" change, without new features added, but new features may come in future releases.

[2015-05-05 12:36] gtirloni commented on #12143
I think it's OK to close this issue, thank you!

[2015-05-05 12:42] aidanhs commented on #12606
I have an e-mail saying there's a response to this issue, but seems to have been deleted?
You should be able to run a container with GDB installed with --privileged and attach to the process that way (I think...it may involve mounting /proc+/sys as well).

I will experiment.

[2015-05-05 13:05] christianparpart commented on #12848
@unclejack I'll give that a try - but please, what if I just disable docker logging (there was a way since 1.6, wasn't it?) completely? If it's than still crashing, it probably not due to that our "active" logging.

[2015-05-05 13:07] thaJeztah commented on #12143
@gtirloni I'll close this issue, but perhaps you should add a comment to that other issue as well, because this issue has *some* differences; it's about doing this *by default* and more explicitly includes "nodev" and "nosuid".

Ping me anytime if you think it should be re-opened, I'm just trying to keep the discussions in a single place here :)

[2015-05-05 13:07] #12143 closed

[2015-05-05 14:12] mrjana commented on #6743
@thaJeztah Yes this is something we are considering to support in libnetwork(after the initial integration ofcourse) using well-defined labels that the drivers are required to honor or reject mandatorily. Much the same way as `--mac-address` configuration is handled right now in libnetwork.

[2015-05-05 14:17] jmzwcn commented on #11614
Hi @jfrazelle , do you mean https://github.com/docker/docker/tree/master/daemon/networkdriver?

[2015-05-05 14:19] jmzwcn commented on #11614
#dibs

[2015-05-05 14:29] thaJeztah commented on #6743
@mrjana sounds good! Is there an issue in place already in libnetwork that people can track (what's the best place for that, in libnetwork or here?)

[2015-05-05 14:32] adamziel opened #12991 "docker login should never register a new account or implicitly assume dockerhub"
Currently whenever I type in `docker login` and forget about passing a URL of my private repository, it will default to dockerhub. Even worse, if I type in a non-existing user details, a new account will be registered for me. Unless there are some factors that I do not understand yet, this seems like a serious security issue.

Imagine a deployment script which performs a `docker login $repoUrl` an

[2015-05-05 14:32] GordonTheTurtle commented on #12991
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-05 14:32] mrjana commented on #6743
@thaJeztah There is no issue tracking it, so yes it should be filed in libnetwork

[2015-05-05 14:36] vbatts commented on #10294
@susandiamond interesting, but is unrelated here. Please open a separate issue for that.

F.Y.I. et al,
unrelated to overlay, devicemapper, or any specific thing, when dealing with ioctl or kernel interfaces and anything about the interaction is not okay _the_ default response from the kernel is "invalid argument". Just seeing this invalid argument does not mean that the issues are in any way rela

[2015-05-05 14:48] cyphar commented on #5603
Yeah, but then people will just start using `docker build -f` each time because it's a pain to manually untag images.

[2015-05-05 14:56] jgautheron commented on #12894
It doesn't work even if I set the mount on a specific container (without then using the data container).

[2015-05-05 15:07] dirkmc commented on #10706
I just realized this happens any time I try to run exec, even when the target process is not hogging CPU.

[2015-05-05 15:08] dirkmc commented on #10706
I'm running Ubuntu 12.04.4 LTS (GNU/Linux 3.2.0-58-virtual x86_64)

[2015-05-05 15:08] cpuguy83 commented on #5603
I'm definitely -1 on this concept.
Allowing the dockerfile itself to set how the image is to be referenced just isn't right, IMO.

[2015-05-05 15:10] cpuguy83 commented on #10706
@dirkmc What does your exec command look like?
Also, this sounds like something completely different.

ping @Vad1mo is this resolved?

[2015-05-05 15:11] jfrazelle commented on #12859
Ok I'll fix this do u want to open whatever you have so far so your work isn't wasted and I can carry from there

[2015-05-05 15:12] jfrazelle commented on #12859
We just kinda need this fixed it's a blocker for anything lxc coming in

[2015-05-05 15:14] dirkmc commented on #10706
Fair point, I can open a new issue if you like. The command I'm running is
```docker exec -it image_name```
I'm going to update to a newer kernel version now and see if that helps, I'll report back shortly.

[2015-05-05 15:17] cpuguy83 commented on #10706
@dirkmc I don't think you are using exec correctly.
Syntax would be `docker exec <opts> <container> <command>`

`docker exec` is for running a new command inside an existing container.

[2015-05-05 15:17] Vad1mo commented on #10706
i didn't get it for some time now but I thinks it is still there.
Because of this error we now use a different approach and clean everything before we deploying.

[2015-05-05 15:20] dreamcat4 commented on #12169
We are getting `--flags` now. So a `ADD or COPY --no-cache` modifier flag might work as a way to avoid just that 1 layer being committed (until the end of the subsequent RUN cmd).

[2015-05-05 15:21] dirkmc commented on #10706
Sorry I typed too fast :) Here's the actual output:
[code]

[2015-05-05 15:24] elephantfries commented on #12606
@aidanhs  Yes, I posted a question which I found an answer to. I thought it was too basic to leave it in the thread.  Anyway, I was able to build a new docker binary and I was able to run gdb and attach to docker. Gdb runs on the host so I don't need --privileged.  The problem is that I cannot 'info goroutines' because runtime-gdb.py fails with errors. There are various fixes filed with golang but

[2015-05-05 15:24] aanm commented on #10706
@dirkmc It seems like the image `nebulist` doesn't have the /bin/bash file

[2015-05-05 15:28] dirkmc commented on #10706
Yes it does have bash:
[code]

[2015-05-05 15:29] unclejack commented on #12848
@christianparpart Sure, you can also try to disable the logging using `--log-driver=none`. I didn't want to assume you'd be OK with disabling logging, nor that you don't need it, but it is certainly an option starting with Docker 1.6.0.

[2015-05-05 15:30] jfrazelle commented on #10706
What if you don't put /bin/bash and just bash

On Tuesday, May 5, 2015, dirkmc <notifications@github.com> wrote:

[2015-05-05 15:34] jfrazelle commented on #12991
This is a feature not a bug

[2015-05-05 15:35] dirkmc commented on #10706
That doesn't work either. I really think this is a bug :)

[2015-05-05 15:38] adamziel commented on #12991
Of course we all know it, the problem is that it's implementation creates a security risk. As I mentioned - it's too easy to misuse it and the potential consequences are very serious.

[2015-05-05 15:39] runcom commented on #10706
@dirkmc can you other command other than trying to get a shell? like ls something?

[2015-05-05 15:40] adamziel commented on #12991
The workaround I use at the moment is to block docker registry in /etc/hosts like this:
[code]

However it's not the best one as I cannot download public images from dockerhub anymore.

[2015-05-05 15:40] dirkmc commented on #10706
Same error:
[code]

[2015-05-05 15:43] dirkmc commented on #10706
This seems to be a problem with the older version of ubuntu or perhaps the older linux kernel. When I tried it with Ubuntu 14.04.2 LTS (GNU/Linux 3.13.0-48-generic x86_64) it works fine.

[2015-05-05 15:58] bitchecker opened #12995 "live migration fuctionality"
will be possible to have "live migration" functionality on docker containers?

[2015-05-05 15:58] GordonTheTurtle commented on #12995
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-05 16:02] virtuald commented on #12535
+1 on dynamic ubuntu packages, #4036 is also a problem for us, and aufs isn't cutting it.

[2015-05-05 16:27] jdmarshall commented on #332
@borromeotlhs are you tracking https://github.com/docker/docker/pull/9176 ?

If they can sort out the cache determination I think it fulfills your concerns.

[2015-05-05 16:30] jdmarshall commented on #12987
I think there's a softer version of this that could be distinct from and implemented separately from #332

If you could tag layers like you can tag images, then being able to tell Docker "Hey, can you rerun this Dockerfile and recalculate all of the layers after LayerX, that would be super"

When I update an external file that gets pulled into the middle of my build I'd love a shorthand form of be

[2015-05-05 16:38] #12607 closed

[2015-05-05 16:39] LK4D4 commented on #12995
@bitchecker I think it will be possible with criu support. We're working on adding that functionality to libcontainer now.

[2015-05-05 16:41] aidanhs commented on #12606
Well I made it work by taking runtime-gdb.py from golang master (it's hopelessly broken in the release tarball) and hacking on a tweak to dump all threads at once.

So:
[code]

Note that the daemon will be hung whenever gdb is running during the next bits:
[code]
The final command will output the stacktrace of all goroutines to gdb.txt. As you watch it scroll, you may notice it getting stuck on pa

[2015-05-05 16:45] #11577 closed

[2015-05-05 16:51] xiaods commented on #10613
I am feel this issue can close.

[2015-05-05 16:52] aidanhs commented on #12606
(had to tweak my instructions, I suggest you try from scratch if you've tried them before now)

[2015-05-05 16:54] xiaods commented on #6743
i feel the request can be close right now. all more request can routing to libnetwork

[2015-05-05 17:07] thaJeztah commented on #6743
@xiaods I think it should be left open for now (people will search for open issues in the Docker issue tracker, not in the Libnetwork repository)

however, if you could open an issue in the Libnetwork issue tracker and add a link here, that would be great!

[2015-05-05 17:16] mingfang commented on #12169
That works too.
I would however recommend —no-commit to avoid confusion.

[2015-05-05 17:22] thaJeztah commented on #12987
@jdmarshall that sounds more like https://github.com/docker/docker/pull/10682

[2015-05-05 17:32] xueshanf commented on #10613
@xiaods yes please. thank you!

[2015-05-05 17:50] LK4D4 commented on #12974
@aluzzardi I'm pretty sure that you're attached after line was written. Logs just read it from file.
WDYT?

[2015-05-05 18:13] chrissnell commented on #12535
@virtuald @hqhq - I have made some progress on this issue and #12925 (which appears to be a dupe of  #12535).     Reading @unclejack's comments more closely, I realized that I should try building docker on my actual Ubuntu 14.04 system and not within the dockercore/docker container in order to get the proper libraries linked.   So, here's what I did on the Ubuntu host (not the container):

[code]

[2015-05-05 18:17] chrissnell commented on #12535
This leaves me in a quandary, though: should I try to figure out how to assemble my own .deb package of this custom-compiled binary or should I wait for the Docker team to build an official one?

I'm certain that #4036 is affecting a lot of Ubuntu 14.04 folks and I humbly beg the Docker team to make a dynamic binary package for us.   If they don't fill the need, some non-affiliated person will pro

[2015-05-05 18:45] tianon commented on #12535
https://github.com/docker/docker/blob/6bb596219f8c852cd48322ac9a4a4f605d29c6b8/hack/make/build-deb
is the latest in us actively working on exactly that :+1:

[2015-05-05 18:47] chrissnell commented on #12535
Thanks @tianon.  Is there an issue I can follow to track the progress?  This has ground my project to a halt.  Thanks.

[2015-05-05 18:48] hudon commented on #11443
I'm on Docker 1.6 which presumably includes this fix https://github.com/docker/docker/pull/10431 , but the `--env-file` + newlines bug is still present
[code]
[code]
I'm expecting:
[code]

[2015-05-05 18:50] tianon commented on #12535
We don't have a single issue tracking it, but @jfrazelle and I are working on solving it as quickly as we can (hopefully for 1.7, but we'll see).  You can test that script from a clone of master right now by doing `make shell` and then something like `./hack/make.sh build-deb`, which will spit out `.deb` files into `bundles/latest/build-deb/`.

[2015-05-05 18:52] thaJeztah commented on #12995
@bitchecker perhaps you can add some more info; what exactly do you mean with "live migration"? Upgrading docker without downtime? Moving containers to another host?

[2015-05-05 18:55] thaJeztah commented on #12535
Perhaps this issue should be renamed and used as a tracker-issue? @tianon are there currently blocking issues with creating the .debs, or other issues that can be linked here? (thinking "checkboxes" with issue numbers)

[2015-05-05 18:56] kskalvar commented on #12469
+1

[2015-05-05 18:56] duglin commented on #11443
See if my test is similar:
[code]
notice I had to use `echo -e` and not just `echo` to get it to interpret the \\n correctly.  Could you need to do something similar?

[2015-05-05 19:00] duglin commented on #11443
Not sure if this helps or not but just messing with the shell:
[code]
I can't help but think you may need to do something in your ruby code to get it to interpret \\n the way you want.

[2015-05-05 19:11] jeffbaier commented on #4717
I haven't tested this, but would the opposite work? Don't use the privileged flag, but instead --cap-add=ALL and then --cap-drop everything except what you need?

[2015-05-05 19:14] kostko commented on #4717
No, if you don't use the privileged flag then `/proc/sys` is mounted as read-only and you can't change anything.

[2015-05-05 19:34] hudon commented on #11443
The issue is that there is no way for docker to pass environment variables with newline characters in them. It is only possible to pass backslashes and n's. I want my ruby code to receive a variable that actually contains a newline, like:
[code]
Here, `$'\n'` evaluates the two characters `\n` to a newline character and passes that in.

[2015-05-05 19:39] duglin commented on #11443
hmm
[code]

[2015-05-05 19:39] hudon commented on #11443
Yea, `--env` or `-e` work

[2015-05-05 19:42] hudon opened #12997 "docker cannot pass newlines from variables in `--env-file` files"
Description of problem:

I have a `.env` file with variables like `TEST=hello\nworld`. When passed in with `docker run --env-file .env`, the process sees `hello\nworld`, rather than:
[code]

There seems to be no way for Docker to actually send a newline character with `--env-file`, only the two characters `\` and `n`.

To reproduce:
[code]

expected output:
[code]

actual output:
[code]

`docker v

[2015-05-05 19:42] GordonTheTurtle commented on #12997
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-05 19:42] jfrazelle commented on #12738
is everyone here using aufs trying to reproduce

[2015-05-05 19:43] duglin commented on #11443
`docker run -e TEST=$'hello\nworld' ubuntu env` too.
So, I guess the issue is just the parsing of the env file....  still digging....

[2015-05-05 19:47] jdmarshall opened #12998 "`docker rmi -r` to remove dependent images"
Let's say I want to rerun all of the steps in a docker build starting at Layer 6 (1265e16d0c28) and the last layer generated by the dockerfile is 1265e16d0c28

Today if I want to delete Layer 6 and rerun `docker build` I have to do something like this:

[code]

Which basically takes all of the images 'after' 1265e16d0c28 (inclusive) and deletes them in reverse chronological order.

If docker could

[2015-05-05 19:47] GordonTheTurtle commented on #12998
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-05 19:49] jdmarshall commented on #12987
@thaJeztah Interesting way to achieve the task, but I'm going to file a request that meets my need without changing the Dockerfile: #12998

[2015-05-05 19:51] duglin commented on #12997
investigating....

[2015-05-05 19:52] hudon commented on #12997
Cool, thanks duglin. I moved to its own issue as it seemed more specific to `--env-file` than https://github.com/docker/docker/issues/11443

[2015-05-05 19:54] duglin commented on #12997
yup plus now we won't forget about it ;-)

[2015-05-05 20:18] PlugIN73 commented on #12738
@jfrazelle I've got this error exactly on aufs! But my containers starts and stops automatically - i can't get any steps to reproduce :(
May be you have some guess that i can try?

[2015-05-05 20:21] jfrazelle commented on #12738
So the next time anyone encounters this can you check:

1. if the PID from inspect is still in `ps -aux` to see if the process is still running
2. How long the process has been running for & how long the container has been running for
3. if there were any errors when you started the container

all of this information would be very very helpful

[2015-05-05 20:48] PlugIN73 commented on #12738
@jfrazelle in my case the process with pid from container's inspect does not exist.
p.s. if it's helpful:
I returned to docker 1.5 (with aufs) and sometimes i see this error:

    Error response from daemon: Cannot stop container 4a1afeeafd12: no such process
    FATA[0000] Error: failed to stop one or more containers

wherein no process with pid from container's inspect and ```docker ps``` show m

[2015-05-05 21:08] LK4D4 commented on #12738
@PlugIN73 It is superimportant information.
I see that you using supervisor. Can you also try to find if processes which was spawned by supervisor still alive too?

[2015-05-05 21:27] PlugIN73 commented on #12738
@LK4D4 i saw them less than a week ago. Now i can't find this processes because i killed them. I didn't understand how it possible (and I could not compare these processes with these dead containers - not enough information).

[2015-05-05 21:42] LK4D4 commented on #12738
@PlugIN73 Yeah, we don't understand how it possible too :/

[2015-05-05 21:46] #11822 closed

[2015-05-05 21:50] UserTaken commented on #12995
I'm assuming you want something similar to what LXD supports? There are projects such as Flocker working on sharing containers and volumes between nodes so live migrations could be an extension of that.

[2015-05-05 21:55] monokrome commented on #332
@muayyad-alsadi Wouldn't this fulfill your request more elegantly?

[code]

[2015-05-05 22:08] icecrime opened #13005 "Graceful shutdown of stats streaming"
Docker 1.6.0: interrupting stats streaming clutters daemon logs:

[code]

Can we gracefully detect the closing of the other end, and avoid unnecessary error logs?

See related line here: https://github.com/docker/docker/blob/91fb4d672a8536d2f0437aeeb2dfc7b9e51aac16/daemon/stats.go#L26

[2015-05-05 22:08] GordonTheTurtle commented on #13005
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-05 22:16] runcom commented on #13005
@icecrime also I've noticed if you stop a currently docker stats'ed container the docker stats just remains there, is this something we need to enanche as well? meaning closing docker stats too

[2015-05-05 22:19] icecrime commented on #13005
@runcom I *think* this is expected, because you might want to restart the container later.

[2015-05-05 22:25] runcom commented on #13005
alright (just checked instead if you try to rm the (running) container docker stats exits)

[2015-05-05 23:28] clnperez commented on #9395
Hi @jpopelka. I'm having trouble getting upstream docker to start (using Fedora 21), and git bisect narrowed it down to commit 8301dcc6d702a97feeb968ee79ae381fd8a4997a. I stopped firewalld and docker starts up fine. Restarted it, and docker hangs on start (sudo systemctl start docker). Have you seen anything like this?

[2015-05-05 23:44] tigranbs opened #13006 "IPTables issue after installing Docker"
Hi
Before <a href="https://docs.docker.com/installation/ubuntulinux/#installing-docker-on-ubuntu">installing Docker</a> I had worked IPTables configurations like this

[code]

for port forwarding using IPTables.<br/>
But after installing Docker this configurations not working any more.<br/>
<p>
I've tried to delete all IPTables rules and configure again but its not working.<br/>
Is there any one w

[2015-05-05 23:44] GordonTheTurtle commented on #13006
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-05 23:47] Thell opened #13007 "Incomplete inclusion of CAP_AUDIT_READ"
CAP_AUDIT_READ was added in https://github.com/docker/docker/pull/10853#issuecomment-98821661 but this looks to be incomplete as passing `--cap-add audit_read` results in 'Unknown capability to add'. It looks like it needs to be added to https://github.com/docker/docker/blob/master/daemon/execdriver/utils.go

[2015-05-05 23:47] GordonTheTurtle commented on #13007
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-06 00:00] infoslack opened #13008 "[1.6.0][graphdriver] prior storage driver "devicemapper" failed: error intializing graphdriver"
Hi,
Running Docker `1.6.0` on Slackware 14.1 (kernel-3.18.11-x86_64) local machine:
[code]
[code]
[code]
[code]
But when using the overlay driver works:
[code]
What am I forgetting?

[2015-05-06 00:00] GordonTheTurtle commented on #13008
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-06 00:08] infoslack commented on #13008
@GordonTheTurtle sorry, my fault!
I made the correction.

[2015-05-06 00:18] vieux opened #13009 "log.Fatal in the cli output"
Hello,

I see a `log.Fatal` in the cli with the current master

[code]

[2015-05-06 00:18] GordonTheTurtle commented on #13009
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-06 00:19] vieux commented on #13009
ping @dmcgowan @stevvooe

[2015-05-06 00:54] bobby commented on #12971
+1, I just ran into this and am bending my dev workflow around this issue as we speak.  Is there a viable workaround that anyone can recommend?

[2015-05-06 01:31] cpuguy83 commented on #12859
This looks like a bug in LXC itself (lxc-start is not returning the exit code properly).

[2015-05-06 01:58] duglin commented on #12971
@tristanz I want to make sure we're on the same page w.r.t. the issues here.

First, given the structure you show in your example, that pattern should work as long as you kick off your build correctly and are willing to live with just one .dockerignore for all builds.  By that I mean: `docker build -f container1/Dockerfile .` where '.' is the root.  I don't know about the compose side of the probl

[2015-05-06 02:01] LK4D4 commented on #9395
@clnperez Whoa, that's pretty bad. Would you mind to create new issue for this? Also maybe there is some logs from docker process.

[2015-05-06 02:16] jmzwcn commented on #11614
this issue still exits? refer to ##11618

[2015-05-06 02:21] DanielYuan2012 commented on #12956
/src/webapp is folder on host and it existed before docker container was started, even thought i restart docker service, the same issue still exists.

[2015-05-06 02:45] LK4D4 commented on #12738
Also, all who encounter this issue: how do you run your processes inside? Is it like with supervisord or maybe sh script which starts something. I'm in particular interested if there is problems with simple one-processes inside container.
Also feel free to provide some scripts to run your containers if it's not very secret.

[2015-05-06 02:49] hqhq commented on #13009
Hi @vieux
As the message said, `scratch` is a name reserved by Docker, you can see issue: https://github.com/docker/docker/issues/4242, and docs: http://docs.docker.com/articles/baseimages/#creating-a-simple-base-image-using-scratch

[2015-05-06 02:51] LK4D4 commented on #12859
@cpuguy83 is something on lxc tracker?

[2015-05-06 03:01] LK4D4 commented on #13007
@Thell Thanks.
I think proper fix will be PR to syndtr/gocapability to add function which get list of caps, then we can generate our list.

[2015-05-06 03:26] duglin commented on #12997
In looking at this I think converting \\n into a LF for the env-file might be an issue.

In all of the examples we're playing with I believe its bash that's actually converting the \\n into a LF and not Docker or even normal string analysis.  For example, $'hello\nworld' doesn't work in sh. And it only works in the '-e' case because we're letting bash do it for us before Docker sees it. I don't th

[2015-05-06 03:35] xuxinkun commented on #5603
@cyphar Now I change my mind, I think `TAG` can override the others by default. Because `docker build -t` can override other tags also. As https://github.com/docker/docker/issues/5603#issuecomment-51389946 say, I will provide '-t' to ignore the 'TAG' instruction.  How about your think?

[2015-05-06 03:51] zhouyq opened #13011 "Dockerfile RUN command cannot make multiple directories"
I try to create multiple directories with a RUN command, but can not be created:

RUN mkdir -pv / tmp / {a, b, c}

In the Shell it creates three directory / tmp / a, / tmp / b, / tmp / c but only in the mirror created / tmp / {a, b, c} directory

=================
**docker version**
Client version: 1.6.0
Client API version: 1.18
Go version (client): go1.4.2
Git commit (client): 4749651
OS/Arch (cl

[2015-05-06 03:51] GordonTheTurtle commented on #13011
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-06 05:24] tristanz commented on #12971
@duglin I'm just looking for a "blessed" way, so that we can work out kinks.  If named dockerfiles (-f) is that way, then an --ignore-file option (#12886) seems worth pushing through.  I unfortunately can't just use a single .dockerignore since the entire repo is too large.  I'd need to have a per container .dockerignore.  I'd then build like: `docker build -f container1/Dockerfile -i container1/.

[2015-05-06 05:53] phemmer commented on #13005
You can detect a closed net http request with [CloseNotifier](http://golang.org/pkg/net/http/#CloseNotifier), but you're still going to be subject to race conditions, as the close can happen immediately before the write.
Thus the only way to completely solve is to handle the specific write failures that can occur (e.g. broken pipe).

[2015-05-06 06:55] XiaokunHou commented on #12867
My "Storage Driver" for docker is devicemapper, because I am using red hat 6. It seems not possible to use overlayfs or aufs. How should I handle it with devicemapper?

I think docker should support union mount features for end users.

[2015-05-06 07:02] vdemeester commented on #13011
Hi @zhouyq,

the ``RUN mkdir …`` is run using the shell form, but I would guess there is no shell expension when doing that, because it will run ``sh -c mkdir /tmp/{a,b,c}``. It's probably related to the use of ``sh`` in the docker building steps, and using your shell (``bash`` or ``zsh``, or ?).

For testing that :
[code]

[2015-05-06 07:06] bitchecker commented on #12995
@LK4D4 great! you know when we will found this functionality?

@thaJeztah live migration have only one meaning, move containers between hosts without downtime.

@UserTaken lxd have live migration instead?

[2015-05-06 07:15] iangelov opened #13013 "Memory leak"
Hello guys,

For some reason docker daemon's process memory grows indefinitely to a point it can't even fork an external process -

[e4030cd3.allocate_port(d074af1bcecf15adb584c7059dd6099008631f5f6ee24e29233e623c630b3c97)] Failed to allocate and map port 31000: iptables failed: iptables --wait -t nat -A DOCKER -p tcp -d 0/0 --dport 31000 ! -i docker0 -j DNAT --to-destination 172.17.0.165:8080:  (f

[2015-05-06 07:15] GordonTheTurtle commented on #13013
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-06 07:20] jfrazelle commented on #13013
This is a duplicate of a lot of other issues about memory leaks please search next time before creating a new one

[2015-05-06 07:20] #13013 closed

[2015-05-06 07:23] jfrazelle commented on #12995
CRIU is uber active development in libcontainer, I don't think we need to keep this issue open as it is a feature we are actively working on

And yes you can live migrate containers there's some cool YouTube videos if you google criu docker

[2015-05-06 07:24] jfrazelle commented on #12995
migrate in memory containers*

[2015-05-06 07:25] #12946 closed

[2015-05-06 07:26] #12908 closed

[2015-05-06 07:27] #9478 closed

[2015-05-06 07:28] #11625 closed

[2015-05-06 07:31] bitchecker commented on #12995
@jfrazelle with criu, ok...but is an "external" tool...i'm talking about integration into docker like openvz project where you can migrate CTs from openvz shell natively.

[2015-05-06 07:38] jfrazelle commented on #12995
Yes criu will be "in" docker

On Wednesday, May 6, 2015, bitchecker <notifications@github.com> wrote:

[2015-05-06 07:50] iangelov commented on #13013
Sorry - I did try to search, but I didn't find anything like it (I was actually surprised to see that). Nevertheless - thanks, I'll have a look again.

[2015-05-06 07:55] unclejack commented on #13013
@iangelov Please look at at and comment on https://github.com/docker/docker/issues/12848

[2015-05-06 07:55] diresi commented on #12613
I also swapped docker binaries on centos7 with the one from https://get.docker.com and ran into this issue. I fixed access to resolv.conf, hostname and hosts with the following rules:

    allow svirt_lxc_net_t docker_var_lib_t:file open;
    allow svirt_lxc_net_t docker_var_lib_t:file read;
    allow svirt_lxc_net_t docker_var_lib_t:file getattr;

I updated to vanilla docker-1.6 because of simila

[2015-05-06 07:56] bitchecker commented on #12995
@jfrazelle great!
you know approximately when it will be released?

[2015-05-06 08:04] alessioguglielmo commented on #12816
Yes I did, was a simple problem in mapping host-to-container. Thanks! ;)

[2015-05-06 08:04] #12816 closed

[2015-05-06 08:15] iangelov commented on #13013
Thanks, I'm experiencing the exact same problem (I'm outputting loads of data to stdout). Right now I can't really disable logging (I'm actually using docker's logging feature to facilitate centralised logging), but I'll work around it by restarting docker (oh, well), hoping that docker 1.7.0 comes out sooner than later :)

[2015-05-06 08:22] jfrazelle commented on #12995
Hopefully soon but probably in one of the next two releases

On Wednesday, May 6, 2015, bitchecker <notifications@github.com> wrote:

[2015-05-06 08:25] bitchecker commented on #12995
ok.
thanks a lot!

[2015-05-06 08:25] #12995 closed

[2015-05-06 08:40] jimmidyson commented on #7087
Still seeing this with docker-io-1.6.0-2.git3eac457.fc21.x86_64 on Fedora 21.

[code]

[2015-05-06 09:04] jakolehm opened #13014 "Docker logs --follow leaks goroutines/memory"
It seems that each `docker logs -f <container>` adds 5 new goroutines to docker daemon. If this command (or request to docker remote api) is repeated constantly, docker starts to leak goroutines and memory. Somehow these goroutines are not cleaned up even after waiting for over 30 minutes.

Docker version: 1.3.3 - 1.6.0

Steps to reproduce:
1. run `docker logs -f <container>` multiple times

Actua

[2015-05-06 09:04] GordonTheTurtle commented on #13014
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-06 09:17] abilashks commented on #12873
[root@localhost ~]# du -sh /var/lib/docker/
101G	/var/lib/docker/

[root@localhost ~]# df -h
Filesystem      Size  Used Avail Use% Mounted on
/dev/sda2       459G  102G  334G  24% /
devtmpfs        3.9G     0  3.9G   0% /dev
tmpfs           3.9G     0  3.9G   0% /dev/shm
tmpfs           3.9G   17M  3.8G   1% /run
tmpfs           3.9G     0  3.9G   0% /sys/fs/cgroup

[2015-05-06 09:20] muayyad-alsadi commented on #332
Yes it does fulfill. Is it more elegant? I'm not sure because this way the
meaning of "commit" is overloaded with an implied condition. And explicit
is better than implicit. If some sort of include feature got introduced I
won't be able to see if there is commit in them or not.

On Wed, May 6, 2015, 12:56 AM Brandon R. Stoner <notifications@github.com>
wrote:

[2015-05-06 09:26] discordianfish commented on #12738
@LK4D4 Here it happened to our collins image which uses the official collins image as FROM[1]. We run reefer[2] as entrypoint which then exec's java, so it's single process and no bash is involved. I'm also using btrfs, so it's not limited to aufs.

1) https://registry.hub.docker.com/u/tumblr/collins/
2) https://github.com/docker-infra/reefer

[2015-05-06 09:34] heyman commented on #12738
It has happened twice to me using the image found here (it also uses supervisor): https://github.com/heyman/graphite_docker

[2015-05-06 09:59] ltunc commented on #12738
About processes inside a container:
(note, I use `clue/adminer:latest` image that runs supervisor)
On the host machine is not process with PID from "inspect" information
[code]
(docker inspect returns PID 2978)
I can run `docker top` command and see that processes are there:
[code]
If I remember correct the PPID of the first process should be PID for docker inspect, but not "1".
I checked, on the

[2015-05-06 10:18] jpopelka commented on #9395
@clnperez No, I haven't seen this. Some debug messages from docker ('-D') and firewalld (--debug) would be helpful. You can stop firewalld service (systemctl stop firewalld) and run it with debug enabled like 'firewalld --nofork --nopid --debug' and then check if you see anything suspicious when you (re)start docker.

[2015-05-06 10:24] discordianfish commented on #12738
FWIW, I saw the same behaviour: The 'ghost' process got reparented to the hosts init but haven't checked if the inspect pid matches the actual pid.

[2015-05-06 11:57] mjsalinger commented on #12962
After more investigation, it appears this is an issue related to a Kernel bug in Ubuntu 15.04:

https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1420029

Switching to 14.4 w/ a 3.18 kernel caused the problem to disappear.

[2015-05-06 11:57] #12962 closed

[2015-05-06 11:57] mjsalinger commented on #12758
Switching to OverlayFS solved the problem.

[2015-05-06 11:57] #12758 closed

[2015-05-06 11:58] mjsalinger commented on #11228
OverlayFS seems to have solved this issue.

[2015-05-06 11:58] #11228 closed

[2015-05-06 12:16] duglin commented on #13011
@zhouyq is it ok if we close this since it appears using bash solves the issue?

[2015-05-06 13:33] cyphar commented on #5603
I'm with @cpuguy83. My complaints were merely about "if this feature was a must have, there are certain security implications". I'm definitely -1 on this concept -- why would you allow developers to tell sysadmins what the image should be tagged as? There's a reason that tagging is separate to image ids -- so sysadmins can come up with naming schemes and developers can just define images.

[2015-05-06 13:54] duglin commented on #5603
Does anyone know the history or expected usage pattern for multiple FROMs in a Dockerfile?
W/o a clear (programmatic) way to find the non-final images, I'm having a really hard time understanding what people do with them.  Would it be wrong to consider removing support for it?

[2015-05-06 13:55] cpuguy83 commented on #12859
Actually, I found the problem.
We are using `lxc-stop -k`, which always sends `SIGKILL` (by default) to the container, and causes the lxc-start process to always return immediately with exit code 0.
By default, `lxc-stop` with no `-k` sends `SIGPWR`, not `SIGTERM`... you are supposed to be able to customize this in the container's configuration `lxc.haltsignal`, but this does not seem to be workin

[2015-05-06 14:08] thaJeztah commented on #5603
I haven't really made my mind up on it; If I downloaded someone else's Dockerfile, this could be a bit weird. Otoh, when creating your own Dockerfile, this could be a really handy feature to (re)build all the images in one go.

Perhaps other tooling, e.g. a simple shell-script / Makefile is more suitable for that (it's what we're using now).

I really don't know. I guess we need to look when it wa

[2015-05-06 14:22] thaJeztah commented on #12995
NP, just wanted to be sure we were on the same page here; had some confusing discussions because people were talking about completely different things.

:+1:

[2015-05-06 14:57] hudon commented on #12997
With Compose, for example, you get this behavior:
[code]

and this is because in YAML, if you have a quoted string with `\n` in there, they will be interpreted as newlines and not literally:

[code]

My ugly hack at the moment to workaround this is to use `echo -e` to evaluate the line before passing it to docker https://gist.github.com/hudon/149466af21dfc52fdc70

[2015-05-06 15:05] clnperez opened #13019 "Docker start times out if firewalld is started"
Description of problem:
Starting docker as usual (systemctl start docker) fails after a timeout. If I stop firewalld, then I can start docker. But as long as firewalld is running, I can't start docker.

`docker version`:
  Docker version 1.7.0-dev, build b5d6894

`docker info`:
(Docker isn't starting, but I'm making the turtle happy:)
FATA[0000] Get http:///var/run/docker.sock/v1.19/info: dial uni

[2015-05-06 15:05] GordonTheTurtle commented on #13019
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-06 15:13] rpatrick00 opened #13020 "COPY command ignores USER, sets file ownership to root"
When building an image from a docker file where you have a sequence like so:

USER jim
COPY app/* /u01/app

The copied files will be owned by root rather than by jim.

[2015-05-06 15:13] GordonTheTurtle commented on #13020
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-06 15:18] ramesh-mohan-reddy opened #13021 "Error while trying to install docker-io"
Hi

As per https://docs.docker.com/installation/rhel/ installation procedure for 6.5, I am trying to install docker using yum install docker-io command
However, I get error saying below

Setting up Install Process
No package docker-io available.
Error: Nothing to do

Any help in this regard is greatly appreciated

Thanks in advance
Ramesh

[2015-05-06 15:18] GordonTheTurtle commented on #13021
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-06 15:19] duglin commented on #12997
that's really interesting and consistent with the pattern of "something else before Docker converting it to a LF".

I'm really torn. I do want to help and see if we can find a solution for you but at the same time I don't want to muck things up either by adding complexity or break existing users.

Just brainstorming.... one option I thought of would be to add some kind of comment/directive to the

[2015-05-06 15:22] duglin commented on #13020
I believe this is a dup of #6119  since ADD and COPY are pretty much the same code base

[2015-05-06 15:22] #13020 closed

[2015-05-06 15:23] duglin commented on #6119
@kostickm is working on a proposal for this.

[2015-05-06 15:28] ltunc commented on #12738
After analysis of atop logs find out that:
process 4828 was started about 2015-04-30T15:10Z
process 2978 was started about 2015-05-05T14:50Z
both processes existed until about 2015-05-06T09:10Z (when I tried to stop the ghost container)
after that only process 4828 remains running.

I also tried to kill that process (4828) now there no processes in this "ghost" container even in `docker top` but c

[2015-05-06 15:29] tianon commented on #12997
I think you've summarized my concerns well, @duglin.  There's not really a
common syntax for this that I'm aware of besides the $'...' you mentioned
already, and supporting that all over the place definitely feels like even
further feature creep IMO (especially since it's not a generic "/bin/sh"
feature except where "/bin/bash" is "/bin/sh").

[2015-05-06 15:48] clnperez commented on #13019
@jpopelka

[2015-05-06 15:49] motin commented on #12848
TLDR:
This happened again today, only this time swap was activated so instead of the oom-death the server remained up albeit 1000x slower than usual... It definitely looks like a memory leak.

Long version:
With around 30-40 containers, the normal memory usage is around 1.4GB (out of 4GB on a t2.medium instance). Today all 4GB memory of our only* production instance was filled up. The new relic gr

[2015-05-06 15:50] ewindisch commented on #5603
@cyphar @duglin @thaJeztah As I see it, the only currently useful application of multiple FROMs is to execute pre-build scripts which modify network/cloud resources. That's a pretty narrow use-case, leaves untagged images on disk, and may have its own security implications. I propose we simply remove it.

[2015-05-06 16:03] cpuguy83 commented on #12848
Keep in mind when you restart the docker daemon all your containers are also being restarted.

[2015-05-06 16:12] unclejack commented on #12848
@motin This looks like the problem which has been already fixed on master.

[2015-05-06 16:17] cpuguy83 commented on #13021
Do you have epel setup? Are you on x86-64?

[2015-05-06 16:22] motin commented on #12848
Here is the characteristic graph that shows the memory leak: https://www.dropbox.com/s/qsgja31d45w9566/Screenshot%202015-05-06%2018.17.37.png?dl=0

I noticed the comment from @iangelov in https://github.com/docker/docker/issues/13013:

We are also outputting loads of data to stdout and using docker's logging feature (together with the https://github.com/gliderlabs/logspout docker image) to facilit

[2015-05-06 16:24] unclejack commented on #12848
@motin Set up your logging so that it never reaches stdout - e.g. something else picks it up and redirects it to the actual logging system you're using. Docker 1.6.0 also has support for syslog, so you could use that as well.

[2015-05-06 16:28] motin commented on #12848
@unclejack Is this meant as a temporary workaround until 1.7.0 or is Docker changing it's recommendation of how to handle logging? Up until now I have been recommended to redirect all logging inside containers to stdout.

[2015-05-06 16:30] unclejack commented on #12848
This issue is actually fixed on master. This means this problem will no longer be an issue on Docker 1.7.0.

What this means in practice until then is that:
1) you can use `--log-driver=none` until Docker 1.7.0 is released
2) binaries from https://master.dockerproject.com/ can be used to confirm that the problem is indeed fixed and that it will not be an issue in 1.7.0 for you
3) for Docker 1.6.0

[2015-05-06 16:30] #12848 closed

[2015-05-06 16:33] motin commented on #12848
Thanks @unclejack for an extremely useful last comment - everything is crystal clear now :)

[2015-05-06 16:38] cpuguy83 commented on #13014
Confirmed that at least the goroutine leak is on master.
After logs logs have stopped streaming there is a net of +4 goroutines that doesn't seem to go away.

Just some initial investigation, the goroutine copying stderr is never closing, but stdout is.

[2015-05-06 16:39] IPvFletch commented on #4036
@unclejack Any idea when the CentOS folks will be updating their yum repo??

We’re using Elastic Bamboo images to build our docker images, and so we need the CentOS/RHEL compatible docker client. When I used Ubuntu, we could use AUFS and I never had this problem, not once.

I am trying the suggestion from @charford – using docker-1.3.2. Too soon to tell though. It happens sporadically, but so far

[2015-05-06 16:39] cpuguy83 commented on #13014
Also if you remove the container that you've called logs against, goroutines drop back down, and all those stderr streams also get closed.

[2015-05-06 16:43] LK4D4 commented on #13014
Probably because there is nothing in `StderrPipe`.

[2015-05-06 16:45] cpuguy83 commented on #13014
Ah yes, good point.

[2015-05-06 16:47] cpuguy83 commented on #13014
Yep, that's it. Sending stuff to both pipes there is no leak.

[2015-05-06 16:48] LK4D4 commented on #13014
There are not so much streams in logs. We can get rid of `wg.Wait` and just select on two channels. If one erroring - close another. Following containers with empty logs still will be a problem.

[2015-05-06 16:52] vieux commented on #13009
@hqhq I very well know what how to use scratch.

`Unable to find image 'scratch:latest' locally` is expected but

`FATA[0000] Error response from daemon: {"errorDetail":{"message":"'scratch' is a reserved name"},"error":"'scratch' is a reserved name"}` isn't (we shouldn't print JSON and a `log.Fatal` in the CLI

[2015-05-06 16:52] vieux commented on #13009
ping @jfrazelle @tiborvass

[2015-05-06 16:53] thaJeztah commented on #5603
@duglin can you open an issue for removing that feature (multiple `FROM`)?

Probably best to ping some "early contributors", just to double check there are no other reasons for it to be there than @ewindisch commented.

[2015-05-06 17:03] bendenoz commented on #9087
Have been trying to do the same thing... try removing "-t", ie : `` docker exec -i <container> bash ``
for sftp, you should not run bash but /usr/lib/openssh/sftp-server

[2015-05-06 17:05] nicocesar commented on #9433
@LK4D4 where do you get the 5 seconds and 10 seconds delays? could you  point me out to the code?. for my usecase will be great to be hours instead of seconds (we use it for batch gnome processing at curoverse.com)

[2015-05-06 17:08] runcom commented on #9433
@nicocesar now the daemon just wait 15 seconds in total here https://github.com/docker/docker/blob/master/docker/daemon.go#L172 (and on error also)

[2015-05-06 17:14] LK4D4 commented on #9433
Okay, I checked. Processes which not dies with SIGTERM, still alive after daemon stopping, but they'll be brutally killed with SIGKILL on next daemon start.

[2015-05-06 17:34] mjaverto commented on #6743
+1

[2015-05-06 17:40] hudon commented on #12997
An alternative that would also do the job is not necessarily have an option to interpret escape sequences, but have an option to actually declare a variable an multiple lines. Something like "If `"` is encountered, slurp value until next `"`. So then I'd do:
[code]

[2015-05-06 17:51] tfoote commented on #12823
I had originally thought that this was a load based issue, however one of my machines with a very low load average has also hit this problem. [process tree, strace, and docker info dump](https://gist.github.com/tfoote/da7557aafd31a0fbe2f6) from that machine.

[2015-05-06 18:07] icecrime opened #13023 ""Experimental" channel"
There is a need to be able to ship features which are not entirely fully baked, not ready for production, or which can cause [nasal demons](www.catb.org/jargon/html/N/nasal-demons.html).

## Solution

### Build and distribution

Create a new "experimental" distribution channel
    - Distributed on https://experimental.docker.com
    - Released following the same calendar than the "mainline" Docker

[2015-05-06 18:07] GordonTheTurtle commented on #13023
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-06 18:08] runcom commented on #12308
@moxiegirl the second point in your post is already handled with @hqhq pr being merged in master, about telling the user the link doesn't exist I'm +1 (I think it just breaks api, maybe asking someone other is better) and I can help with that

[2015-05-06 18:14] calavera commented on #12236
Thanks for the clear explanation @runcom. There is a more bigger discussion about security in env variables, but I'm going to close this issue for now, since it's not the place to have that discussion.

[2015-05-06 18:14] #12236 closed

[2015-05-06 18:15] icecrime opened #13024 "Reserve published ports when using HairpinNAT"
The HairpinNAT PR is most likely getting merged soon (#12165). Relying on HairpinNAT and IPTables rules for port publishing means that **nothing in Docker actually binds the published port**. To put it differently:

1. `docker run -p 80:80 foo/bar` might succeed even if something on the host besides Docker was already listening on port 80.
2. Running a process binding port 80 on the host will succ

[2015-05-06 18:15] GordonTheTurtle commented on #13024
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-06 18:21] #12859 closed

[2015-05-06 18:40] duglin opened #13026 "Proposal: remove support for multiple FROMs in Dockerfile"
See https://github.com/docker/docker/issues/5603 for some history.

Allowing for multiple images to be built from a single Dockerfile (via multiple FROM commands), while interesting, isn't fully supported. In particular, the non-final images that are produced are not easily found w/o some ugly parsing of the build output.  It would then also leads to people wanting to do things like add TAG comman

[2015-05-06 18:40] duglin commented on #5603
@thaJeztah done #13026

[2015-05-06 18:41] gravityrail commented on #12258
I'm definitely seeing the same truncated output issue running "docker-compose run (hostname) cat somefile.txt", also on digitalocean. Would love to hear a fix.

[2015-05-06 18:41] runcom commented on #11824
I like this, personally I find very annoying not deducing the link doesn't have an alias if it's not in name:alias form, at least in the cli (api's another matter), let's just hear from others if this is something Docker wants/needs

[2015-05-06 18:54] chrissnell commented on #12535
So ```./hack/make.sh build-deb``` runs for a long time and seems to build packages but dies with this:

https://gist.github.com/chrissnell/d0dc8fe4c0e41aecb71e

I poked around in the directory structure and found this package:

[code]

This package does indeed install and it does function but the package is missing some important things like the Upstart configuration/init script.  I don't know if

[2015-05-06 18:56] duglin commented on #12997
tricky.  That certainly would make it align more normal sh parsing.

Of course, it would mean another parser since I don't think any of our existing ones support crossing lines w/o a \\ at the end.  But hey, what's one more parser!  :-)

@tianon @tiborvass @erikh  any comments?

[2015-05-06 18:58] duglin commented on #11824
Seems like a nice usability thing

[2015-05-06 19:02] runcom commented on #11824
@duglin yup but I've come across this comment https://github.com/michaelsauter/crane/pull/169#issuecomment-86264726 that made me think this would be an issue. Honestly I think what said in that comment would not happen anytime soon and we don't have to worry about that, if we really want to change that syntax there are far more place to be worried about

[2015-05-06 19:26] duglin commented on #11824
@runcom if in the future --link changes so that it doesn't mean what it does today then I would think a new --flag should be defined for that instead.

Are you asking if we should change both the CLI and API?  I like consistency, so unless we can think of a reason why the API shouldn't support this I'm inclined to think we should change it there too.

[2015-05-06 19:28] ewindisch commented on #13026
I am not using this feature in production and believe it should be dropped. As a devil's advocate, here are some places I see it being (ab)used:

=Bitcoin tipping
[code]

=Logging / reporting
[code]

=Multi-stage building
[code]

[2015-05-06 19:29] runcom commented on #11824
Just asking I like consistency too and totally agree with you, thought maybe someone thinks api could be left with that format for some weird reason (like some people doesn't even know docker as api and see it like a pro-user feature to use and won't bother in term of usability)

[2015-05-06 19:30] daithi-coombes opened #13029 "Docker in Debian 8 Jessie - half way working but have TLS issue."
Can't install docker in `Debian 8 Jessie`. The instructions here don't work: [Debian - Docker Documentation](https://docs.docker.com/installation/debian/#debian-jessie-80-64-bit) The package `docker.io` can't be found even with `backports` enabled.

I did eventually get the docker binary downloaded using the instructions [here](http://linuxconfig.org/package-docker-io-has-no-installation-candidate

[2015-05-06 19:30] GordonTheTurtle commented on #13029
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-06 19:31] adrianhurt commented on #11824
I think it's very logical and easy to implement.

@runcom, I understand the opinion that is said in that comment for crane situation, because it depends on Docker's cli. But here, that you decide the future of Docker, and assuming that in Docker Compose it's already supported, I suppose there shouldn't be a problem.

[2015-05-06 19:36] daithi-coombes commented on #13029
viola... mins after posting, the docker daemon wasn't started (facepalm)
[code]

Solution:
[code]

Now running
[code]
works!

But then, if the package mentioned in the `Debian - Docker Documentation` is actually non existent then I'd like to submit this a bug with the docs.

[2015-05-06 19:39] thaJeztah commented on #13026
Thanks for opening @duglin!

[2015-05-06 19:39] duglin commented on #13026
I can't help but think that we should find a better way to solve these usecases than to use FROM.

There are times when I think some kind of 'make' thing that sits on top of 'docker build' would be useful.  It would probably end up overlapping with Compose too much but perhaps nested builds are more what people want. Dunno, but it might be an interesting topic for a break-out session at DockerCon

[2015-05-06 19:51] thaJeztah commented on #13026
Actually, good idea. I think there are various feature requests that could benefit from a good discussion to see what users are looking for, use-cases etc. Not all users are active on GitHub and it would help the maintainers making better choices (instead of "guessing" what would be useful in some cases). (Won't be there myself :/ ... Skype call? :))

[2015-05-06 19:52] dmp42 commented on #12969
@dmcgowan I think something might be of.
The number of 401 /v2 outnumbers actual operations.
Let's discuss this.

[2015-05-06 20:24] duglin commented on #13009
+1 - let's make the output more friendly

[2015-05-06 20:27] runcom commented on #13009
found where this could be possibly introduced

[2015-05-06 20:45] ninzyshah opened #13030 "Not creating ethernet interface on docker after providing lxc options"
Hi All,

I am facing issues while trying to create docker with lxc options. I am trying to assign IP address to docker on an ethernet.

Below is full command:
docker run \
-n=false \
--lxc-conf="lxc.network.type = veth" \
--lxc-conf="lxc.network.ipv4 = 172.17.42.20/24" \
--lxc-conf="lxc.network.ipv4.gateway = 172.17.42.1" \
--lxc-conf="lxc.network.link = docker0" \
--lxc-conf="lxc.network.name = e

[2015-05-06 20:45] GordonTheTurtle commented on #13030
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-06 20:57] stevenbrichards opened #13031 "Upstart script improperly checks init_is_upstart"
Description of problem:
The upstart [script](https://github.com/docker/docker/blob/c3ef6df9c354f2df9eea2f4fce53b27637453367/contrib/init/sysvinit-debian/docker#L43-L46) tells the user to use upstart, even if they are already using upstart, when they supply an invalid option, thus recommending they run the same exact command.
[code]

`docker version`:
Client version: 1.6.0
Client API version: 1.18

[2015-05-06 21:00] stevenbrichards commented on #13031
If others can confirm this I'd like to submit a fix :smile:

[2015-05-06 21:02] clnperez commented on #12294
I've seen this on another project I worked on (kimchi: https://github.com/kimchi-project/kimchi/wiki) and we concluded that it's not Kimchi's problem if you wiped the rules it creates on startup. Something in the docs about saving and restoring is the best way to go, IMO.

[2015-05-06 21:07] ewindisch commented on #13026
@duglin @thaJeztah there have been some discussions about doing the dockerfile parsing on the client-side and using the client to drive the build. /cc @shykes

[2015-05-06 21:43] jlhawn commented on #13009
Related to https://github.com/docker/docker/pull/12777

[2015-05-06 22:00] erkules opened #13035 "Can't set port mapping if in any other network namespace (host other container)"
When starting a container in another (container/host) network  namespace

    $ docker run --rm -p 5000:5000 --name test -ti --net host ubuntu
    $ docker port test

    $ docker run --rm -p 5001:5001 --name test -ti  ubuntu
    $ docker port test
    5001/tcp -> 0.0.0.0:5001

Same as with attaching to another conatainers namespace.

I would like to be able to to the port mapping also for contain

[2015-05-06 22:00] GordonTheTurtle commented on #13035
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-06 22:03] etopian commented on #3155
Also what if you want to upgrade the database? You should be able to delete the database container and start a new one with the same name and have links re-established when you restart the client container.

[2015-05-06 22:05] etopian commented on #3155
@gauravsingh85 use a DNS server.

[2015-05-06 22:16] thaJeztah commented on #13024
Guess this should be in the 1.7 milestone?

[2015-05-06 22:32] icecrime commented on #13024
Makes sense as it goes hand-in-hand with the other on.e

[2015-05-06 22:37] runcom commented on #11615
closed by #12184

[2015-05-06 22:37] #11615 closed

[2015-05-06 22:41] runcom commented on #11739
@matrixise I'm going to close this since it's already solved in master as @estesp pointed out, feel free to comment if you still have problem with this

[2015-05-06 22:41] #11739 closed

[2015-05-06 22:42] #12704 closed

[2015-05-06 22:46] runcom commented on #12792
@aes could you be a bit more specific and tell us which fields you are referring to?

[2015-05-06 22:53] runcom commented on #12942
@HuaTiMeiTian note that you are referring to your `mysql` linked conatainer using the format `container_name:alias` in the link data you have, so you won't have any `mysql` env inside your contianer, instead you get `db` prefixed env.
Also, please, could you tell me which docker command from cli you are using?

[2015-05-06 23:01] runcom commented on #11824
alright, I'm gonna make the pull request then and see there if it will be ok

[2015-05-06 23:09] stevvooe commented on #12969
@dmcgowan Is this really more complicated if we have something like a [`TokenSource`](https://godoc.org/golang.org/x/oauth2#TokenSource)? It seems like this could all be transparent.

[2015-05-06 23:21] dmcgowan commented on #12969
We can re-asses the state of the Docker code after the refactor. The current ping logic will be changing and it may make caching of the authentication scheme more practical.

How much do 401 /v2 requests outnumber actual operations, I wouldn't expect that.

[2015-05-06 23:31] andrerocker commented on #7198
+1

[2015-05-07 00:45] gauravsingh85 commented on #3155
@cpuguy83 updating to 1.5 or 1.6 does not dynamically updated /etc/resolve the conf

procedure
1) Update docker from 1.4 to 1.5 (later i updated to 1.6 but same result)
2)reboot
3) login in to app container and run ping to db
4)restart db container (systemctl restart db.service)

Result
Ping test failed in app container . app container stooped pinging to db

[2015-05-07 00:52] cpuguy83 commented on #3155
@gauravsingh85 What does db.service do to start the container?

[2015-05-07 00:52] zhouyq commented on #13011
Thank vdemeester, ubuntu default dash, revised to bash normal.

[2015-05-07 00:52] #13011 closed

[2015-05-07 01:01] bonzofenix commented on #5113
`boot2docker restart` on my dev environment worked for me.

[2015-05-07 01:12] gauravsingh85 commented on #3155
Db.service has command

ExecStart=/usr/local/bin/docker run --rm --name app --link app-db:db -p 127.0.0.1:XXX:XXX

[2015-05-07 01:44] thaJeztah commented on #3155
The `-rm` (which sh

[2015-05-07 01:47] thaJeztah commented on #3155
sorry, bump in the road while typing.

the `-rm` (which should be `--rm`, but that's irrelevant here) could be the issue; will the container actually be *removed* and re-created when the service is restarted?

[2015-05-07 01:52] thaJeztah commented on #12535
Looks like a fix is in the making for the issue reported by @chrissnell; see https://github.com/docker/docker/pull/13038 (not merged yet)

[2015-05-07 01:58] elephantfries commented on #12606
@aidanhs  Looks like I am hitting the same problem with this version of runtime-gdb.py as well:

gdb -p 31258 --batch -ex 'add-symbol-file docker-1.6.0-wa 0x004003e0' -ex 'source runtime-gdb.py' -ex 'set logging on' -ex 'info aidan'
0x000000000060d504 in syscall.Syscall ()
add symbol table from file "docker-1.6.0-wa" at
	.text_addr = 0x4003e0
Loading Go Runtime support.
Python Exception <class 'gd

[2015-05-07 02:31] donbora commented on #3155
@thaJeztah it did recreated with new ip . i used "docker ps" to keep track of the VM

[2015-05-07 02:40] jmzwcn commented on #13005
#dibs
I will try if if this issue still exits.

[2015-05-07 03:38] HuaTiMeiTian commented on #12942
@runcom

there is no db prefixed env also

steps:

1. download tutum/mysql image to local server
[code]

2. create a container  and run it
[code]

3. download a ghost image

[code]

4. create a ghost container in command line , there is no problem here

**command:**
[code]

**result:**

[code]

----------------------

5 . create a new db container name is newDB
//delete other containers: docker -H

[2015-05-07 04:04] thaJeztah commented on #3155
@donbora but is it the same container, or a new container (with the same name)? If the container gets a new ID after the service is restarted, that means that the original "db" container is removed and a new container is created. Because it's a *new* container, there will no longer be a link between the `app` and `db` container; the `/etc/hosts` will also no longer be updated.

[2015-05-07 04:06] chrissnell commented on #12535
Nice!  Thanks @tianon!!  Guys, would it be possible to get an official "pre-release" 1.7.0-dev Ubuntu (trusty) package put up on get.docker.io?   I'm going to bake my own deb using your fixes to keep my project moving along but I know that there are quite a few folks out here that are encountering this issue w/ Ubuntu 14.04.  Your fixes are the only way to have a Registry 2.0-compatible Docker on

[2015-05-07 04:34] richardcrichardc commented on #10592
Just checking to see if the issue exist on the latest version before creating a pull request and I noticed that when pulling repositories from the registry, FQINs are only added for the name images. This is the same behaviours as is occuring with docker save. Does anyone know if this is considered a feature?

[2015-05-07 05:57] rhatdan commented on #4717
So the solution is either a way to cause docker to not mount /proc/sys as read/only without specifying --priviliged or to make dropping caps work in --privileged mode.

Which might bring up a bigger problem in tha some of the sysctl settings are specific to namespaces, and mounting /proc and /proc/sys read/only might block other legitimate commands a confined application should be allowed to do.

[2015-05-07 06:07] rhatdan commented on #12613
The problem is the patch that adds proper labels to /etc/hosts, /etc/.resolv.conf and /etc/hostname keeps getting removed from upstream.  No idea why.  We have it in our patches and I will resubmit when I get back from Vacation.

[2015-05-07 06:30] jannek-octo3 opened #13042 "SSH login to debian:8.0 based container fails when started with --net="host""
Description of problem:
When using debian:7.8 image, ssh login to container works when container is started with --net="host".
I get "Permission denied, please try again." when trying same on debian:8.0 image.

`docker version`:
Client version: 1.6.0
Client API version: 1.18
Go version (client): go1.4.2
Git commit (client): 4749651
OS/Arch (client): linux/amd64
Server version: 1.6.0
Server API ver

[2015-05-07 06:30] GordonTheTurtle commented on #13042
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-07 07:01] blackfader opened #13043 "docker in docker consulting"
hi all
    I want to run a docker daemon container in a docker machine。
    I success run a docker in docker model。
    but I have a question：
            docker daemon in container： docker images it is no images。
    So， I try
[code]
    volume /var/lib/docker , 'docker daemon in container' have images in docker machine.

     but, is it any have problems in this way?
     example:
          I ha

[2015-05-07 07:01] GordonTheTurtle commented on #13043
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-07 07:33] ianmiell commented on #12949
@ewindisch let me know where you'd like me to take this - proposal? further hacking? (see above comment)

[2015-05-07 08:22] icy opened #13045 ""COPY foo/* bar/" not work if no file in foo/"
Example:

[code]

If there isn't any file in `source/` directory, the build will fail.

Expected behavior: Continue if no file matches `source/*`.

This is very annoyed when `COPY` is provided as `ON BUILD` instruction.

Docker information: https://github.com/icy/docker/blob/master/bugs/volume_bug/docker.info.txt

[2015-05-07 08:22] GordonTheTurtle commented on #13045
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-07 08:25] icy commented on #13045
OK here it is

[code]

[2015-05-07 08:27] icy commented on #13045
How? scanning all > 800 tickets? Where is QA/ tester team of Docker?

[2015-05-07 08:30] bobrik commented on #11705
http://whichstoragedrivershouldiuse.github.io/

Easy, the one without inotify support :(

[2015-05-07 08:50] DavidBadura commented on #10772
+1

[2015-05-07 08:57] aes commented on #12792
`GET /v1.18/containers/json?all=1 HTTP/1.1` gives me `"Status":"Up 2 minutes"`, for example.

`GET /v1.18/images/json?all=1 HTTP/1.1` gives me full images id:s, correct sizes, and created is in unix seconds. I don't recall what it looked like before, but I'm pretty sure some of these fields were truncated and/or mangled earlier.

The API docs for 1.17 still show these truncated things:
[code]

Per

[2015-05-07 09:44] cpuguy83 commented on #12942
nsenter won't give you the env vars because you are being placed into a different environment.
You should use `docker-exec` to see these vars.

Also, don't use the vars to connect to the container because there is no way that docker can update these env vars if something changes (without restarting the container).
You should already know the port you need to connect to.
`/etc/hosts` has the IP ali

[2015-05-07 09:45] cpuguy83 commented on #12942
Also closing because this is not a docker issue.
For support see #docker on IRC or docker-user mailing list.

[2015-05-07 09:45] #12942 closed

[2015-05-07 09:46] aidanhs commented on #12606
Ah ok, docker 1.6.
I've reproduced, will have a look.

[2015-05-07 09:48] russell opened #13047 "Docker exec prints nothing without a PTY"
When running docker exec commands from a service like ~~cron~~ or init there often isn't a PTY.  Docker still seems to run the commands but it doesn't return any stdout/stderr output.

This problem can be worked around by calling docker with the `unbuffer` command but it's really hard to figure this out.

[2015-05-07 09:48] GordonTheTurtle commented on #13047
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-07 09:48] cpuguy83 commented on #13043
I"m not sure I fully understand this but....
Bind-mounting the docker socket into a container is not docker-in-docker. You are connecting to the host's daemon over this socket, as such you will see all the images/containers from the host.

To run docker-in-docker you also need to use `--privileged`

For docker support please see #docker on IRC or docker-user mailing list.

Closing since this is no

[2015-05-07 09:48] #13043 closed

[2015-05-07 09:51] cpuguy83 commented on #13047
With what options are you calling `docker exec`?

[2015-05-07 10:05] cpuguy83 commented on #13042
I imagine there's an extra setting you need to deal with for sshd.

[2015-05-07 10:07] fgimenez commented on #9677
#dibs

[2015-05-07 10:08] joda70 commented on #12108
Could you please tell me your recipe to solve the problem? Unfortunately I read the thread after I  upgraded the docker package.

The current packages are:
docker-1.5.0-28.el7.centos.x86_64
device-mapper-event-libs-1.02.93-3.el7.x86_64
device-mapper-1.02.93-3.el7.x86_64
device-mapper-devel-1.02.93-3.el7.x86_64
device-mapper-libs-1.02.93-3.el7.x86_64

But I have:

systemctl enable docker.service
Fa

[2015-05-07 10:09] dreamcat4 commented on #10310
Hello! Sorry, this proposal has confused me a bit. Were you guys aware the 'Vault' is actually the name of a standalone precompiled go binary? From hashicorp:

https://www.vaultproject.io/docs/install/index.html

It seems like this proposal duplicates some of that functionality. It seems (from their software model) that docker support aught to be implemented some kind of a  'backend' plugin writte

[2015-05-07 10:09] cpuguy83 commented on #12998
Hmmm, in my experience if you rm an image, docker will rm all other layers it depended on if nothing else is dependent on them  and they are not tagged.

[2015-05-07 10:13] cpuguy83 commented on #10310
@dreamcat4 This proposal far outdates vaultproject, which is brand new.
Also agree, docker should support a common API to secret storage backends but should not itself implement one.

[2015-05-07 10:23] jannek-octo3 commented on #13042
You mean extra setting on host or image side?

Just compared my /etc/ssh/sshd_config files on debian:7.8 and debian:8.0 based images and only difference is line "HostKey /etc/ssh/ssh_host_ed25519_key" on 8.0 config that not exist on 7.8.

[2015-05-07 10:26] cpuguy83 commented on #5499
Hmm, seems like this belongs in something higher-level than docker... all the building blocks are there.
I think this one should be closed.

[2015-05-07 10:27] pmario opened #13049 "Most links broken in: CIS Docker 1.6 Benchmark pdf"
Hi folks,
I'm not sure if this is the right place to post it, but anyway.

Summary:

I did read [Understanding Docker Security and Best Practices](http://blog.docker.com/2015/05/understanding-docker-security-and-best-practices/) and downloaded: CIS_Docker_1.6_Benchmark_v1.0.0.pdf from CIS page.

It seems all links that contain hyphens are broken!

----

long version:

OS: Windows 8.1
PDF reader: S

[2015-05-07 10:27] GordonTheTurtle commented on #13049
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-07 10:29] joda70 commented on #12108
I have just solved the problem by installing the packages device-mapper-event device-mapper-event-devel.
After that:

# systemctl enable docker.service
ln -s '/usr/lib/systemd/system/docker.service' '/etc/systemd/system/multi-user.target.wants/docker.service'

# systemctl status docker.service
docker.service - Docker Application Container Engine
   Loaded: loaded (/usr/lib/systemd/system/docker.se

[2015-05-07 10:29] unclejack commented on #5499
@cpuguy83 This has been discussed for a long time (as early as mid of 2013) and it needs to be implemented.

[2015-05-07 10:30] cpuguy83 commented on #2082
I think the solution here is the docker logging drivers. In 1.6 you can send all container logs to syslog.
Journald has been added sense then, and others are being developd by other parties (such as fluentd).

I think we can close this one now.

[2015-05-07 10:30] cpuguy83 commented on #2082
In fact, I think I'm going to go ahead and close it, but can discuss if you don't feel like this solves the issue.

[2015-05-07 10:30] #2082 closed

[2015-05-07 10:34] cpuguy83 commented on #6663
I think this is generally handled by the logging drivers, and the addition of the --log-opt for customizing drivers.
wdyt?

[2015-05-07 10:36] cpuguy83 commented on #5499
@unclejack I'd argue that it is implemented, between `docker run -v $(pwd):/container/path` and `docker exec`.
Also docker-compose.

[2015-05-07 10:40] russell commented on #13047
The command i'm running is.

`docker exec -i postgres-container bash -c "find /usr/lib/postgresql/ -name pg_isready"`

[2015-05-07 10:52] jannek-octo3 commented on #13042
Shortly:
On debian:7.8 ssh works with both '-p 60001:60001' and '--net="host"'
On debian:8.0 ssh works with '-p 60001:60001' but not works with '--net="host"'

[2015-05-07 10:53] dreamcat4 commented on #10310
@cpuguy83 OK! On that note, I'm going to create a new issue b/c nowhere on the internet yet is there any practical example of how we can use `vault` with docker. I just don't know whether it is best to open the issue on hasicorp/vault or docker/docker.

[2015-05-07 10:59] duglin commented on #13045
#dibs

[2015-05-07 11:19] jpopelka commented on #13019
@clnperez thanks. I'm still not able to reproduce it. I think I'm doing the same steps, I have libvirtd & firewalld running. The only difference is that I run Fedora22 now, but I was running F21 when I was preparing 8301dcc and I haven't seen such issue.

Not sure whether the libvirtd's "operation failed" messages can be any clue, but the firewalld's alerts about deleting non-existing rules seem t

[2015-05-07 11:57] russell commented on #13047
hmmm. despite my best efforts i can't reproduce this any more with version 1.5.0-28.el7.centos

Apologise for the noise.

[2015-05-07 11:57] #13047 closed

[2015-05-07 12:03] mbudnick opened #13051 "pull ignors --registry-mirror"
## Description of problem:
docker daemon has flag --registry-mirror but pull connects to index.docker.io
## How reproducible:
- host1 has access to the internet (per proxy) and is also running docker registry mirror on port 5555
- host2 don't have access to the internet (no proxy configured) and only have access to host1
- host2 docker daemon process command: `docker -d -H fd:// --registry-mirror=

[2015-05-07 12:03] GordonTheTurtle commented on #13051
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-07 12:06] cpuguy83 commented on #13047
I would also note that unless you are passing something to the stdin of the docker process, there is no reason to use `-i`.

[2015-05-07 12:17] cpuguy83 commented on #3763
Seems like docker-compose handles the OP's use-case perfectly.

[2015-05-07 12:25] prologic commented on #3763
:+1:

[2015-05-07 12:26] cpuguy83 commented on #2435
Definitely better than port numbers in the env vars, but also env vars are really bad for this sort of thing anyway since once a container (or a process) is started, you can't change it's env except from in the process itself, which makes it bad for discovery.

In general I find the port numbers in the linked env vars to be useless because you must know already what ports you are connecting to to

[2015-05-07 12:32] cpuguy83 commented on #7161
I think this is really up to whatever is capturing the logs to tag the log messages to something that makes sense for that installation.
On ubuntu upstart is picking up the logs, on systemd journald is (and tags by service).
`utils.Error` is not around anymore and all logging is being done by logrus.

I think we can close this?

[2015-05-07 12:39] cpuguy83 commented on #7245
The way I resolve this is by having an `ExecStartPre` that does the `docker rm -f` and ignores errors.

[2015-05-07 12:48] cpuguy83 commented on #7017
Closing b/c @shykes comment here: https://github.com/docker/docker/pull/7523#issuecomment-59592874

Solution is to use labels (which are in 1.6) to tag a container as you see fit and use `docker ps --filter` to filter these out when deleting.

[2015-05-07 12:48] #7017 closed

[2015-05-07 13:01] bendenoz opened #13052 "docker exec does not exit when container process terminates"
Description of problem:
----

```docker exec``` does not exit when the container process terminates.
This only happens when running in **interactive** but no with **no tty**.

ie:
[code]
hangs until Ctrl-C or Enter is pressed. It seems and input from STDIN is necessary for it to check the process state...

it works fine with ```docker exec -it <container> ps``` and ```docker exec <container> ps```

[2015-05-07 13:01] GordonTheTurtle commented on #13052
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-07 13:06] duglin commented on #13045
I believe this was intentional. Try:
[code]
Doing what we see on the cmd line makes sense.

That being said, I can understand that this might cause some issues for people since, unlike in a script, you don't have the option of telling Docker's build process to continue.

I think the options are:
1 - do nothing, leave it as is
2 - don't make this a build-stopping error (perhaps keep the info msg fo

[2015-05-07 13:07] cpuguy83 commented on #9343
Hi, this can be done through the API but is not supported via the CLI... I'm not sure of the reasoning behind this.

I think ideally we would not support it on the API either.

[2015-05-07 13:08] cpuguy83 commented on #13052
How come you are using `-i` without any stdin?

[2015-05-07 13:15] bendenoz commented on #13052
I just updated the issue with the requested info.

Hi @cpuguy83 . Actually, this seems to be required to get scp / sftp to work throug ssh. My SCP client (WinSCP) does not work if `-t` is used. Using ``docker exec -i ...`` works fine with sftp (but hangs with rsync)

here is my authorized_keys if this helps :

[code]

[2015-05-07 13:21] cpuguy83 commented on #13052
I can confirm this is definitely a bug and we are leaking a goroutine here when stdin is not used.

However, the whole point of `-i` is to tell docker to open stdin, but if you aren't using stdin you shouldn't use `-i`

[2015-05-07 13:27] shishir-a412ed commented on #10592
@richardcrichardc can you give an example ?

[2015-05-07 13:30] bendenoz commented on #13052
Thanks. Actually stdin is used by the scp client, with no tty. (but after some testing I found this was an easier repro case to explain the problem).

[2015-05-07 13:37] duglin commented on #12795
@suchja I'm going to close this issue. If you do update the docs you can open a PR for that.  Hope that's ok.

[2015-05-07 13:37] #12795 closed

[2015-05-07 13:41] HuaTiMeiTian commented on #12942
@cpuguy83   ok, i will use /etc/host , but i don't think that is the problem of  nsenter ,  there is no env variable when i docker attach the container ,  i tried many times and many images/containers

[2015-05-07 13:49] jmzwcn commented on #13005
Don't have any solution. Any help?

[2015-05-07 13:54] cpuguy83 commented on #13052
@bendenoz But the stdin here is for stdin to the docker client process.
If you actually send something to stdin it does return correctly.
For example `echo hello | docker run -i <container> ps`, you will get a return (and of course if you use `cat` you will see `hello` outputed).

[2015-05-07 14:00] hqhq commented on #6323
Since we already have a proposal here, I suggest we should reconsider https://github.com/docker/docker/pull/11442

[2015-05-07 14:05] cpuguy83 commented on #13052
And actually this appears to be fixed on master.
Can you test with a binary from `master.dockerproject.com`?

[2015-05-07 14:10] cpuguy83 commented on #13005
@jmzwcn As far as I'm aware, the only way to capture this error is like so:
https://github.com/cpuguy83/docker/blob/13014_fix_goroutine_leak_on_logs_follow/daemon/logs.go#L169-L175

[2015-05-07 14:12] bendenoz commented on #13052
yes but the problem is not so much with `ps` but actually with `rsync` or `scp`. However it was difficult for me to give simple repro steps.

From what I gathered, when using `scp` as a client, `scp -f` is the server process run in the container.
I'm not sure about the exact protocol details, but when retrieving a file, some commands are sent on STDIN only at the beginning of the exchange (presuma

[2015-05-07 14:43] bendenoz commented on #13052
can't run the static build on my system apparently, I will try again when I can get a new setup running.
using `nsenter` as a work-around for now

[2015-05-07 15:04] benschw opened #13054 "Trouble running docker in a lxc container created with lxd"
Description of problem:

When trying to run Docker in an ubuntu trusty lxc container created with lxd (cli, not openstack) on an ubuntu vivid host (created with vagrant from a cloud-images.ubuntu.com image) I get the following error:

	# docker -d --exec-driver=lxc
	INFO[0000] +job serveapi(unix:///var/run/docker.sock)
	INFO[0000] Listening for HTTP on unix (/var/run/docker.sock)
	FATA[0000] Shutt

[2015-05-07 15:04] GordonTheTurtle commented on #13054
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-07 15:14] daniellingo commented on #9600
[code]
and run again

[2015-05-07 16:16] tpaz commented on #5684
+1 for the umount workaround. happened to me with docker 1.6.0, build 4749651.
service docker restart did not solve it. umount the troubled 'volume' fixed it.

[2015-05-07 16:25] blitzd commented on #12395
@thaJeztah the command on that page results in:

Warning: "docker" or "lxc-docker" command appears to already exist.
Please ensure that you do not already have docker installed.
You may press Ctrl+C now to abort this process and rectify this situation.
+ sleep 20

...the bit about not having docker already installed would seem to clash with the idea that this is a command to upgrade docker.

[2015-05-07 16:27] allan-simon opened #13056 "in some scenario, restarting a container does not update the /etc/hosts of the linked one"
I'm using Docker version 1.6.0, build 4749651

here's my set up,  i have 5 container

  * nginx_load_balancer
  * nginx_blue
  * php_fpm_blue
  * nginx_green
  * php_fpm_green

they are linked like this :

[code]

when the switch of my load balancer is on  nginx_green:

  * docker restart php_fpm_green  does NOT update the /etc/hosts  of nginx_green
  *  docker restart php_fpm_blue   DOES  update

[2015-05-07 16:27] GordonTheTurtle commented on #13056
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your

[2015-05-07 16:34] LK4D4 opened #13057 "Remove unused SetDaemon from api/server/server.go"
I forgot to remove it at some point

[2015-05-07 16:34] GordonTheTurtle commented on #13057
Hi!
If you are reporting a new issue, PLEASE make sure that does not have any duplicates already open.

We would like to take this time to remind you of the information we need to debug the problem you are seeing. This is an automated response so if this ticket is _not_ about a bug, do not fret.

If you fail to provide this information within 7 days, we will close this because we cannot debug your