[2016-12-25 10:29] hmdhasani opened #29689 "docker on windows has an annoying delay on container startup"
Running this:
Measure-Command {docker run --rm  microsoft/windowsservercore cmd Exit}
or this
Measure-Command {docker run --rm  microsoft/nanoserver cmd Exit}
result in about 15 seconds

I also tried the equivalent on Linux:
Measure-Command {docker -H 172.16.111.8:2375 run --rm ubuntu:16.04 bash}
which result in less than a second.

docker info:
Containers: 23
 Running: 17
 Paused: 0
 Stopped: 6
I

[2016-12-25 12:18] thaJeztah commented on #29689
This is due to the way containers work on the Windows platform. I don't think Docker can change anything to improve that.

/cc @jstarks

[2016-12-25 12:32] klaszlo commented on #15793
@cpuguy83: It could be easily workarounded inside docker.

Instead of watching the file's inode, it should be watching the parent's directory inode, then resolve the file change from there.

Or at the *VERY LEAST* a simple warning should be displayed, when a `docker run` is issued.

[2016-12-25 13:16] liyaka commented on #29607
All nodes are RedHat 7.2 and have docker 1.13.0 rc 4 installed.
There is no logs! This is one of the problems.. I couldn't find anything relevant in /var/log/messages
I had the same issue on several installations, so I downgraded docker to 1.13.0 rc 3 and now it works properly.

[2016-12-25 13:44] albers commented on #28622
Thanks @tonistiigi. Your solution is exactly what I envisioned.

[2016-12-25 16:01] cpuguy83 commented on #15793
@klaslo docker does not monitor anything.in this regard. It relies on the kernel, and the kernel does not support this.
The right place to "fix" this is the kernel.
We could introduce hacks, but I'm not sure it's worth it, at least not right now.

[2016-12-25 16:05] hmdhasani commented on #29631
@dongluochen it doesn't seem to be  https://docs.docker.com/engine/admin/troubleshooting_volume_errors/ or , #22260, or #25718 because in those cases the container could not be removed but in my case the container is removed at least from "docker ps -a" result. but I think there are still some side effects on network.
The reason why I first thought it was a 1.13.0-rc4 bug was that it only occurs o

[2016-12-25 16:45] yongtang commented on #29492
Added a PR #29692 for that issue.

[2016-12-25 17:51] prparmar77 commented on #28190
I tested this with new iptables package from yum repository configured with Oracle Linux ,it is working now .

[2016-12-25 17:51] #28190 closed

[2016-12-25 19:24] klaszlo commented on #15793
@cpuguy83:
1. displaying a warning does not require kernel support
2. monitoring how many path points to an inode is already supported.
So overwriting a file with a new one is detectable.

`docker run ... -d /home/user/data/something.txt:/data/something.txt`
`echo "new content" > /home/user/data/something2.txt`
`mv something2.txt something.txt`

Then the inode table have one row less, so it is det

[2016-12-25 22:48] Dilergore commented on #27537
I have no solution, still struggling with this problem and I'm waiting for some kind of help or advice.

[2016-12-26 00:39] thaJeztah commented on #28190
Thanks for testing! Glad to hear it's resolved

[2016-12-26 00:46] jarro2783 commented on #28872
That's a bit curious then. [Two comments later](https://github.com/docker/docker/pull/2426#issuecomment-27324597) seems to indicate that it doesn't work very well though.

I just thought I would add too that this seems to work fine when a TTY is not enabled, so none of the issues in #3793 are the problem here.

These are the processes *inside* the container, so `tini` will pass signals as expected

[2016-12-26 01:22] Ralph-Wang commented on #29157
That's what I'm seeing in my environment in the second case.
I just confused about the `null` value of `RepoTags` in the first case.
"fake" value is not necessary indeed, but I think we can't have 2 value, `null` and empty array, to show there are no `RepoTags`.

[2016-12-26 02:52] shankarkc commented on #29343
I  don't see service container hang after updating kernel. So closing the issue.

[2016-12-26 02:52] #29343 closed

[2016-12-26 03:28] fsfshijm commented on #25993
Happened on 1.9.1
[code]

[2016-12-26 03:42] fsfshijm commented on #25993
docker logs:
[code]

[2016-12-26 06:47] AkihiroSuda commented on #29674
Could not hit this issue on Fedora 25 locally..

Can you provide more detail to reproduce? @runcom

[code]

[code]

[code]

[2016-12-26 08:14] myaskevich commented on #23865
There also may be a BOM signature sitting at the beginning of your file.

Use `:set nobomb` and `:w` in vim to remove that.

[2016-12-26 09:35] runcom commented on #29674
You have to test with master, the Docker you have is 1.12.5

[2016-12-26 09:37] sandyskies opened #29700 "Docker exec and Orphan Process problem"
-->

**Description**

**Steps to reproduce the issue:**
1,

[code]
2,

[code]

the sleep process PPID is the bash we run，but after  we exit the bash，and PPID becomes 0

[code]
if we try outside the container ,we will find out the ppid is actually the docker-containerd-shim process
**Describe the results you received:**
1， exit hangs
2， ppid become 0
# **3， child process become zombie after exits**

[2016-12-26 09:43] vdemeester commented on #29674
@runcom oh master against master :sweat_smile: You didn't say that :angel:

[2016-12-26 09:58] amolrajoba commented on #29415
I am facing similar issue, so please suggest any solution

[code]

**docker version**
[code]

[2016-12-26 10:12] justincormack commented on #29415
That is unrelated to the previous closed issue. I recommend opening a new
issue.

On 26 Dec 2016 9:59 a.m., "Amol Rajoba" <notifications@github.com> wrote:

[2016-12-26 11:00] runcom commented on #29674
there's `1.14.0-dev` in my log :smile: (added version/master tag also), sorry for the confusion

[2016-12-26 11:10] vdemeester commented on #29674
@runcom true, but `in bundles/1.14.0-dev/build-integration-test-binary` means you're building master (1.14.0-dev) but doesn't tell anything about the underlying docker version 😛

[2016-12-26 11:54] mentalMedley commented on #18826
I had same problem. In my case it was a collision with NetworkManager.service (i use Debian stretch).
Because of NetworkManager replaces /etc/resolv.conf with link to /var/run/NetworkManager/resolv.conf in same moment when Docker searches this file, containers with virtual networks can't be started.
To solve problem:
1) Copy /lib/systemd/system/docker.service to /etc/systemd/system/docker.service

[2016-12-26 12:24] amolrajoba opened #29704 "docker exec rpc issue on docker container restart"
**Description**

I am facing following rpc issue when i restart any container with 'docker restart <container_id>' command , this doesn't happen when i do 'docker stop <container_id>' and 'docker start <container_id>'

**Steps to reproduce the issue:**
1. docker restart <container_id>
2. docker exec -it  <container_id> bash

**Describe the results you received:**
[code]

**Output of `docker versio

[2016-12-26 12:25] amolrajoba commented on #29415
Done.  https://github.com/docker/docker/issues/29704

[2016-12-26 13:47] Mhedivh commented on #26495
Hi everyone,
This is maybe a bit late, but i had the same issue and this was happening because i was mounting the /var partition with the "noexec" option. Removing the "noexec" resolved the problem.

[2016-12-26 14:02] inlineHamed opened #29706 "[Feature Request]: add EXEC to Dockerfile syntax"
There are cases in dockerfile that we want to do something while the entrypoint is running so it has the the effect of exec after running container. some example of these cases are:
1) in MySQL doing any mysql command like executing a .sql file
2) in Solr doing config with solr command

currently the approach is to use something like this: (as suggested in http://stackoverflow.com/questions/259200

[2016-12-26 14:38] qzio commented on #15938
I tried to follow https://jpetazzo.github.io/2014/08/24/syslog-docker/ but it seems as if it doesn't work with newer docker?

[code]

[2016-12-26 15:58] allencloud opened #29708 "incorrect error message when killing a paused container"
**Description**
When I try to kill a paused container, the error message shows like this:
[code]

Actually I did not try to stop this container, and I am using `docker kill`.

I think it is not proper to show stopping

**Steps to reproduce the issue:**
1. docker run -d --name allen alpine sleep 12345
2.docker pause allen
3.docker kill allen

**Describe the results you received:**
[code]

**Describ

[2016-12-26 16:06] poliveira89 opened #29710 "Failed to run `docker run hello-world` on RPi 2"
**Description**

Docker Engine installed on Raspbian Jessie for a Raspberry Pi 2.

[code]

**Steps to reproduce the issue:**
1. Installed alongside this [tutorial](https://docs.docker.com/engine/installation/linux/raspbian/)
2. Request image `docker pull hello-world`
3. Execute the command `docker run hello-world`

**Describe the results you received:**

[code]

**Describe the results you expected

[2016-12-26 16:34] allencloud opened #29711 "docker network disconnect does not show network name when error"
**Description**
I found that when disconnecting a network from host or none, the error message seem not so friendly. The error message will not contain the network name.

**Steps to reproduce the issue:**
1. docker run -d --name allen alpine sleep 12345
2. docker network disconnect none allen
3. docker network disconnect host allen
4. docker network disconnect docker_gwbridge allen

**Describe the

[2016-12-26 16:57] mangalaman93 commented on #5618
I can confirm @aamerik. I am seeing the same issue on the same kernel version. No recent major changes on the system, seeing this issue since today.

[2016-12-26 17:10] vdemeester commented on #29710
@poliveira89 The `helloworld` image is for `amd64` I guess, so the binary inside it have not the right architecture, hence the error : `exec format error`.

[2016-12-26 17:12] allencloud commented on #28366
I am on @coolljt0725 's side. Unpausing a container first before killing it may be an improper choice.
While, if we change the original killing logic, I think it will break back compatibility of action `docker kill`. So maybe add a brand new function for killing paused container specific for `docker rm -f ` may work for us.

Any input? @coolljt0725 @thaJeztah @vdemeester

[2016-12-26 17:40] nmaas87 opened #29713 "get.docker.com tries to install on ARM64 platform without having any package for this"
**Description**
get.docker.com tries to install on ARM64 platform without having any package for this

root@pitest:~# curl -sSL https://get.docker.com/ | sh
apparmor is enabled in the kernel and apparmor utils were already installed
+ sh -c apt-key adv --keyserver hkp://ha.pool.sks-keyservers.net:80 --recv-keys 58118E89F3A912897C070ADBF76221572C52609D
Executing: /tmp/tmp.PakiRsG7SJ/gpg.1.sh --keys

[2016-12-26 17:53] friism commented on #27537
I can reproduce these problems.

Using @StefanScherer's dockerfiles:

[code]

From this, we can build a Dockerfile that cleans out the `www` folder to mount into:

[code]

[code]

Have dir on container host with php site (eg. from [here](https://github.com/StefanScherer/dockerfiles-windows/tree/master/php/stage/www)):

[code]

[code]

This gets an IIS error when accessing the container.

cc @jhowa

[2016-12-26 18:21] poliveira89 commented on #29710
@vdemeester I did not knew about that, but it's on the Raspbian tutorial. That being said, I thought that if the `hello-world` was not working should be related to engine.

But you seem to be right, because I pulled this image `container4armhf/armhf-alpine` and then run:
[code]

And it worked! So, I think this after is a non-issue for that, I will close it. Thanks.

[2016-12-26 18:21] #29710 closed

[2016-12-26 19:15] StefanScherer commented on #27537
@friism Is the directory empty when you run the container with another command? I assume the files are there.

Indeed, the files are there:

[code]

I've seen several problems using [Node.js](https://github.com/nodejs/node/issues/8897) and even [`git clone`](https://github.com/git-for-windows/git/issues/1007) in a volume mount point / reparse point.

Many tools seem to calculate the "real path" an

[2016-12-26 19:34] SiliCAT opened #29715 "Dockerfile non-root USER doesn't honor files permission."
**Description**
Dockerfile non-root USER doesn't honor files permission.

**Steps to reproduce the issue:**

1.
Dockerfile:
FROM       ubuntu
RUN useradd tester
USER tester
RUN mkdir -p /test

2.
docker build -t testtemp .
docker run --rm -it testtemp /bin/bash

3.
cd /
mkdir test2
ls -l

**Describe the results you received:**
drwxr-xr-x   2 tester tester 4096 Dec 26 19:26 test
drwxr-xr-x   2 test

[2016-12-26 22:09] StefanScherer commented on #29710
Oh, I wondered where this Raspbian tutorial is and sent a PR https://github.com/docker/docker.github.io/pull/984 to fix it.

[code]

works fine.

[2016-12-26 22:22] nathantreid opened #29717 "--mount-add adds the same mount multiple times, causing the container to crash"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Use the commands below to provide key information from your environment:
You do NOT have to include this information if this is a FEATURE REQUEST
-->

Updating a service with mount-add allows the same mount to be added multiple times, which causes the container to crash.

[2016-12-27 01:03] fshp opened #29719 "[Feature Request]: add UNION to Dockerfile syntax"
To reduce the number of layers, combining technique used commands through the operator "&&".

But this operator can not be combined arbitrary commands, only the commands in RUN.

I propose to introduce a new unit construction in Dockerfile syntax, which allows to combine several commands in one commit.

For example:

Instead
[code]
You can write
[code]
But such a structure in the current syntax in

[2016-12-27 02:05] AkihiroSuda commented on #29719
Starting from Docker 1.13, you can use `docker build --squash` to squash layers

[code]

Does it satisfy your requirement?

[2016-12-27 02:15] fshp commented on #29719
@AkihiroSuda great!
But this flag is very radical.
It can not combine part. Just everything.

But for my needs that's enough. Thank you.

[2016-12-27 02:29] tonistiigi commented on #29715
@SiliCAT Please do post `docker info`. Tried your `Dockerfile` and got

[code]

as expected.

[2016-12-27 02:35] tonistiigi commented on #29704
cc @mlaventure

[2016-12-27 02:49] SiliCAT commented on #29715
[code]

[2016-12-27 05:00] friism commented on #27537
@StefanScherer yeah, I can confirm that the files get mounted in just fine, but it seems like the PHP runtime can't figure out how to read them

[2016-12-27 07:36] anpieber commented on #23270
I had hoped that the update to docker 1.12.5 might have fixed the problem, but I've just ran into the same troubles with the new version.

Kind regards,
Andreas

[2016-12-27 09:04] StefanScherer commented on #27537
To see what's happening it's useful to install ProcessMonitor on the Docker host:

<img width="1311" alt="php-containermappeddirectories" src="https://cloud.githubusercontent.com/assets/207759/21495900/c222a132-cc1a-11e6-94be-372119ac574e.png">

PHP seems to interpet the symlink at `C:\www` as a relative symlink and append it to its current directory `C:\php` so it tries to open the file `C:\php\C

[2016-12-27 09:05] thaJeztah commented on #28366
Making `docker rm -f` "just work" sounds good to me; do we know what's needed to make it work for a paused container?

[2016-12-27 09:09] thaJeztah commented on #18826
@mentalMedley are there any side effects to that change, or would it be a change that could be included in the default unit file that docker uses? Otherwise it could me used as default; https://github.com/docker/docker/tree/master/contrib/init/systemd

[2016-12-27 09:26] mentalMedley commented on #18826
@thaJeztah I proposed the solution after reading [this document](https://www.freedesktop.org/wiki/Software/systemd/NetworkTarget/). I think the default unit file must be changed.

[2016-12-27 09:32] Ducatel opened #29724 "Swarm not exlude node with constrain in global mode"
Hi everybody,

**Description**

When you start a global service, swarm seems to not use the constraint.

I have a swarm cluster like

[code]

**Steps to reproduce the issue:**
1. Create a swarm cluster
2. Add label on each node (to match my previous output)
3. Create the service `docker service create --mode=global --constraint 'server.type == front' -p 80:80 --name http nginx`

**Describe the res

[2016-12-27 10:08] thaJeztah commented on #18826
@mentalMedley makes sense. Would you be interested in opening a pull request for that change? We should probably double-check if it's supported by all versions of systemd (we've run into that at some times)

[2016-12-27 10:33] allencloud commented on #28366
I tested just now, and I found that we could not use `kill -9 container_init_pid` to kill a paused container.(If not correct, please correct me.) So maybe unpausing it first is a good choice.  Here are two ways:
1. only make `docker rm -f paused_container` unpause the container, this way will not influence `docker kill paused_container`, in another word `docker kill paused_container` still returns

[2016-12-27 10:43] coolljt0725 commented on #28366
relate to https://github.com/docker/docker/pull/13304 https://github.com/docker/docker/issues/15853

[2016-12-27 10:49] thaJeztah commented on #29724
You're trying to put a constraint on the service based on _labels_, but your constraint doesn't mention that; see https://docs.docker.com/engine/reference/commandline/service_create/#/specify-service-constraints---constraint

If you are restricting on _node_ labels, it should be `node.labels.server.type==front`

[code]

Can you try if it works if you use that notation?

[2016-12-27 11:03] Ducatel commented on #29724
Yeah, It's working perfectly .
I didn't understand that `node.labels.xxx` was not just an example....

So thanks for your help ;)

[2016-12-27 11:03] #29724 closed

[2016-12-27 11:09] thaJeztah commented on #29724
You're welcome! We could probably need some more examples for those constraints; if you have some thoughts on that, feel free to open a pull request 👍

[2016-12-27 11:28] thaJeztah commented on #27708
@matt-richardson can you confirm if the latest Windows update resolves this issue for you as well?

[2016-12-27 11:41] allencloud opened #29726 "docker network connect does not show readable error message"
**Description**
When I connect a container to a network, the output may show unreadable log:
[code]

Here the error message is `service endpoint with name allen already exists`, actually I can not follow this error message.

**Steps to reproduce the issue:**
1. `docker run -d --name allen alpine sleep 12344`
2. `docker network connect bridge allen`, report above error message

**Describe the resul

[2016-12-27 11:49] praparn commented on #27537
Some additional test told me that for this symlink to outside map still working for simple html / image file. But not for .php execution. That mean IIS in action can access the map path and getting file for read/write. But no idea why execution script like .php cannot operate via IIS ?

[2016-12-27 12:06] #29708 closed

[2016-12-27 12:08] #29711 closed

[2016-12-27 13:18] thaJeztah commented on #29700
ping @mlaventure @justincormack is this similar to https://github.com/docker/docker/issues/25348 ?

[2016-12-27 13:28] thaJeztah commented on #29607
@liyaka could you provide the exact steps to reproduce, and what you were seeing?

- How did you specify the constraint?
- If you `docker node inspect` the nodes, are you seeing the "Engine" labels in the output?

[2016-12-27 14:08] aijanai commented on #29588
so? Ideas?

[2016-12-27 14:12] thaJeztah commented on #29676
Thanks @marascha, yes, looks like it's due to Go "randomizing" key/value pairs then. We'll look into this

[2016-12-27 14:51] omallo opened #29729 "Reference DigitalOcean volume driver from docs"
I've implemented a Docker volume driver to integrate DigitalOcean's block storage solution into Docker:
https://github.com/omallo/docker-volume-plugin-dostorage

If you deem it appropriate, the driver might be referenced from the Docker docs:
https://docs.docker.com/engine/extend/legacy_plugins/

[2016-12-27 15:04] vdemeester opened #29730 "[1.13.x] same container port published twice prevent service to run"
This might be a known issue but I really think it's a weird one to have. If I publish the same container port on 2 ingress port, the service does not return any error and will never be scheduled — and it's really hard to know why without looking at the daemon logs.

[code]

Note that this is entirely possible using `docker run` :

[code]

/cc @aaronlehmann @thaJeztah @stevvooe @mavenugo @icecrime

[2016-12-27 15:14] gkozyryatskyy commented on #12827
@saturnism Do you use something like a "workaround" for this issue? How exactly you do that? =)

[2016-12-27 15:27] thaJeztah commented on #29729
Sure; feel free to open a pull-request to add your driver; you can find the file that's used to generate that page in the documentation here; https://github.com/docker/docker/blob/master/docs/extend/legacy_plugins.md

[2016-12-27 15:31] thaJeztah commented on #29588
Have you checked if IPTables rules were modified/removed by another process? Docker creates IPTables rules when it starts; if another process removes those rules while docker is running, it's possible you get such problems.

[2016-12-27 15:37] promethe42 commented on #12745
If you are stuck with Docker 1.7.1 (because you're using Centos 6.8 for example), here is a workaround:

[code]

I run this shell script after installing Docker. Here is what it does :

* check if the Docker init script sets the propre umask
* updates Docker init script to set the correct umask if needed
* restarts Docker to apply the changes if any

[2016-12-27 15:43] gkozyryatskyy commented on #12827
same issues https://github.com/docker/docker/issues/17745
and seems like work going in https://github.com/docker/docker/issues/14080

[2016-12-27 15:44] thaJeztah commented on #29719
There's a number of similar issues that were opened in the past, but closed
because the Dockerfile syntax was frozen;

https://github.com/docker/docker/issues/1554, https://github.com/docker/docker/issues/1799, https://github.com/docker/docker/issues/16058

Also this one: https://github.com/docker/docker/pull/12198, and this one may be relevant here as well https://github.com/docker/docker/issues/

[2016-12-27 16:00] thaJeztah commented on #29170
The change in behavior w.r.t. having trailing whitespace after a continuation-character looks to be because of https://github.com/docker/docker/pull/27146, which fixes the validation for this, so

/cc @duglin

[2016-12-27 16:16] toddcoulson commented on #23105
I have added the ca.crt file into the keychain with the command
sudo security add-trusted-cert -d -r trustRoot -k /Library/Keychains/System.keychain ca.crt
and changed the values to always trust on the certificate. But still getting
Error response from daemon: Get https://docker.abc.xyz.net/v1/users/: x509: certificate signed by unknown authority
I am using Docker for Mac. Any ideas?

[2016-12-27 16:29] fshp commented on #29719
@thaJeztah thanks you for links. It was interesting to read. So I close this.

[2016-12-27 16:29] #29719 closed

[2016-12-27 16:35] mickep76 commented on #23105
Verify if you get the same error with Curl to the registry. If that works rhen your system is setup correctly; if not it's likely related to docker.

[2016-12-27 16:35] danbf opened #29731 "upstart shutdown change to stop on starting to allow for things like AWS ECS deregister"
Feature request:

Right now the shutdown in docker is a bit harsh with no warning outside schedulers to allow allow for things like AWS ECS deregister, https://docs.aws.amazon.com/AmazonECS/latest/APIReference/API_DeregisterContainerInstance.html  Can we switch https://github.com/docker/docker/blob/68dab9bd0910e22c96d5dfcbd4e972f8ce770a88/contrib/init/upstart/docker.conf#L4 to something more like:

[2016-12-27 16:42] kleptog commented on #25069
Ran into this today. Perhaps a really simple adjustment that would help would be showing the error message in `docker service ps`. When a task is "Failed" it shows the error message, like `task: non-zero exit (1)`, but for pending it shows nothing:

    ut5oyw95kw7d  foo-test2-bar.1      registry:443/foo/bar     Running        Pending 18 minutes ago

Just adding `no suitable node (insufficient res

[2016-12-27 17:29] dnephin commented on #29685
There is already a warning for this: `Ignoring unsupported options: dns`, so this is working correctly for 1.13.  We can add support in the next release.

[2016-12-27 17:44] shmendo commented on #19990
@thaJeztah I'm not 100% sure what you mean by not using docker-compose, but I will test again using the same setup as above. I'm in the middle of a ticket, so it may be a little while before I respond but I will respond with results when i do test it as well as version #s of everything.

[2016-12-27 17:44] thaJeztah commented on #27658
If you're using the API, both will return a 404. But be aware that an existing image that you don't have permissions for also returns a 404.

The API returns a 500 error if the tag/image is in an invalid format

However for the CLI, the error-messages should generally give enough information to the user what the reason is;

Private or non-existing image

[code]

Invalid format;

[code]

Non existi

[2016-12-27 18:22] tswift242 commented on #29369
Ping @mlaventure any updates on this?

[2016-12-27 18:48] thaJeztah commented on #29731
ping @ijc25 @tianon PTAL

[2016-12-27 18:48] cpuguy83 commented on #29678
Yes, this doesn't make sense for Docker (or likely even containerd itself) to implement CRI.
These should be adapters... for which I assume one for dockerd already exists.

Closing, but feel free to discuss.

[2016-12-27 18:48] #29678 closed

[2016-12-27 19:02] friism commented on #29689
On a fast Windows machine, starting a windows container takes ~1 second (nanoserver-based images are fastest). This is still a lot slower than Linux containers, but workable.

I recommend upgrading to 1.13-RC which will have all the latest improvements: https://github.com/docker/docker/releases/tag/v1.13.0-rc4

Slide 34 in this presentation has details on expected performance and overhead: https:/

[2016-12-27 19:05] tiborvass commented on #29713
Ping @andrewhsu

[2016-12-27 19:07] rodionos commented on #17832
FWIW, we're using `du` to get volume sizes. It's faster than the `--size` flag:

[code]

[2016-12-27 19:21] friism commented on #27537
@Dilergore I think this might be PHP-related, so consider also opening an issue for the PHP runtime...

[2016-12-27 19:37] thaJeztah commented on #29580
/cc @aluzzardi @aaronlehmann

[2016-12-27 19:43] yongtang commented on #29730
The issue is confirmed and the reason is located:
https://github.com/docker/docker/blob/v1.13.0-rc4/vendor/github.com/docker/swarmkit/manager/allocator/networkallocator/portallocator.go#L76-L85

In the current implementation, `getPortConfigKey` is used for both allocated ports and configured (may or may not be allocated) ports. However, `getPortConfigKey` will not take into consideration the `Publ

[2016-12-27 19:58] liyaka commented on #29607
Each node has `--label=role=<node_role>` for example `--label=role=app `or `--label=role=db`
and each service create command has:
--constraint 'engine.labels.role==<node role>'
like
--constraint 'engine.labels.role==app'

Since I downgraded to 1.13.0 rc3, everything works as expected, and I don't have an environment with rc4 at the moment to check `docker node inspect` output.
I will create one an

[2016-12-27 20:00] liyaka commented on #29607
@shibli786 using node hostnames is not an option in my case

[2016-12-27 20:11] thaJeztah commented on #29607
be aware that `engine` labels are set on the daemon (either through the `daemon.json` configuration file, or by setting `--label` flags on `dockerd`. "node" labels are set from a swarm manager (`docker node update --label-add foo=bar`)

[2016-12-27 20:36] liyaka commented on #29607
I use engine labels defined in docker service because I didn't find an option to set node label while joining the swarm.

[2016-12-27 21:00] whitecolor commented on #14080
Will it aslo work for mapping build-time mapping of other type of volumes like for example `yarn-cache`?

[2016-12-27 21:39] yongtang commented on #29730
Added a PR https://github.com/docker/swarmkit/pull/1835 in SwarmKit to address this issue.

[2016-12-27 22:01] raystorm opened #29735 "Docker Remote API - Volume Create Doesn't properly support DriverOptions"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Description**

Creating volumes with the Remote API doesn't support properly support **DriverOptions**

**Steps to reproduce the issue:**
1.  Create a volume
[code]
2.  run `docker volume inspect curl-aserver`
3.  run `sudo ls -la` on the directory just about _data for

[2016-12-27 22:24] cpuguy83 commented on #29735
This is working as expected.
These are not options supported by the `local` driver, and I do not think it's correct to support them.

Closing, but feel free to discuss here.

[2016-12-27 22:24] #29735 closed

[2016-12-27 22:30] duglin commented on #29170
right, this was basically a bug before - trailing whitespace after a \ should invalidate the semantics of \ being a continuation char.

[2016-12-27 22:34] gm42 opened #29736 "docker pull always probes HTTPS, causes 15s delay"
**Description**

docker always tries to pull/push over HTTPS, although the insecure registry specified is HTTP. I did not find any way to specify that for a certain domain, HTTP must be used. Trying HTTPS before HTTP causes severe slowdowns.

Probably related: #8887

**Steps to reproduce the issue:**
1. add `--insecure registry example.com` to your docker daemon options
2. setup an HTTP nginx prox

[2016-12-27 22:41] thaJeztah commented on #26810
@pilgrim2go you nee do use `latest` as tag, and `xxxxx.dkr.ecr.ap-southeast-1.amazonaws.com/myorg/test` as repo-name;

[code]

You can see these requests when putting the daemon in debug mode, and then check the logs

@adityats running

[code]

Performs this API call;

[code]

I'll close this issue because I don't think there's a bug here, but feel free to comment if you think there's something th

[2016-12-27 22:41] #26810 closed

[2016-12-27 23:38] aboch commented on #16137
@kj54321 and others
All the firewalld logged errors of this kind
[code]
are not a sign of the original issue. They are expected.

When iptables supports the `-C` parameter, docker first checks if a certain rule exists before deleting it or vice-versa, with the `iptables -C` command.

If the rule exists, `iptables -C` returns no error. If it does not not exist, `iptables -C` responds with that know

[2016-12-28 00:35] bizmate commented on #25381
I see a similar issue when running

[code]

My docker info
[code]

Docker version
[code]

[2016-12-28 01:04] aboch commented on #28476
@punkracy
At start, docker wants to start from a clean iptables state, and does so by flushing and removing the docker created iptables chains (`iptables -F/-X` commands).

Then when programming rules at docker network creation/deletion and containers run/stop, if iptables supports it, it first check if the rules exist before installing it and vice-versa before deleting it (`iptables -C` command).

[2016-12-28 01:22] AncientRemember commented on #29056
i encounter the same issue

[2016-12-28 03:24] twang2218 commented on #25645
I ran into the same issue under Docker for Mac, I posted details under the `for-mac` issue https://github.com/docker/for-mac/issues/916

And, although the issue is affecting Docker for Mac most time, I think it's related to several `docker` and `libnetwork` issues:

* https://github.com/docker/docker/issues/21776
* https://github.com/docker/docker/pull/29376
* https://github.com/docker/libnetwork/

[2016-12-28 03:30] twang2218 commented on #21776
I believe we do need an option to configure the default `PredefinedBroadNetworks`, or at least can option to exclude a subnet list for the allocation. As in Docker for Mac/Windows, the `/etc/resolv.conf` or routing table trick will not works, as the Linux host is running in a VM, cannot read physical host's `/etc/resolv.conf` or routing table.

[2016-12-28 03:41] raystorm commented on #29735
@cpuguy83 Thank you for responding so quickly.

I thought the remote API was supposed to mirror the command line functionality.

According to:
[docker volume create](https://docs.docker.com/engine/reference/commandline/volume_create/)

The page also has a code sample
[code]

The sample lists `uid=1000`  as one of the options passed to `docker volume create --opt`

Also
[Make uid & gid configurable

[2016-12-28 04:04] HackToday commented on #14767
This seems not a issue anymore, I checked

[code]

Did we apply changes in docker inner security code ? or anything else ?

[2016-12-28 06:51] sudhakar999 opened #29745 "sharing drive throws firewall block error with windows native docker when corporate VPN is ON"
Expected Behaviour:

	Filesharing should work even corporate VPN is ON

Actual behaviour:

	Sharing drive C fails by throwing firewall block detected error

Information:

Installed native docker on windows 10 enterprise version 10.0.14393
Also, F-secure is installed on my laptop and opened necessary network firewall openings with f-secure (to allow all traffic between 10.0.75.1 & 10.0.75.2)
Everyt

[2016-12-28 07:08] thaJeztah commented on #21776
@twang2218 would  https://github.com/docker/docker/issues/29376 solve your use case?

[2016-12-28 07:18] tomkulolo commented on #28373
I upload  the rpms  for test this！

I update kernel from 3.10.0-327.36.2.el7.x86_64  !

https://github.com/tomkulolo/kernel493.git

[2016-12-28 07:23] twang2218 commented on #21776
@thaJeztah Yes, as the default address pool can be set through the `daemon.json`:

[code]

the subnet address range overlapping can be avoid in Docker for Mac/Windows, so I think my problem can be solved by #29376 .

[2016-12-28 07:43] thaJeztah commented on #21776
perfect, thanks!

[2016-12-28 08:11] sandyskies commented on #29700
@thaJeztah I think the number 2 problem is similar to 25348 ,and I will try Runc rc4 to test , but I am not sure about the first on ,why exit will hangs until child process exits.

[2016-12-28 08:13] thaJeztah commented on #29745
/cc @msabansal @rneugeba

[2016-12-28 08:31] SamMousa opened #29746 "Feature request: separate build endpoint."
I've looked around and could not find a duplicate request. This request is related to docker API permissions / authorization so there could be overlap with issues regarding API permissions.

Currently in my CI pipeline I'd love to be able to use `docker build`. There is however a big issue with exposing the docker socket as your security documentation mentions.

As far as I can tell the main secur

[2016-12-28 08:43] thaJeztah commented on #29746
This is already possible with authorization plugins; which allow you to block API endpoints; see https://docs.docker.com/engine/extend/plugins_authorization/

[2016-12-28 08:47] SamMousa commented on #29746
After googling so much... :|
Feel free to close this.

[2016-12-28 08:59] thaJeztah commented on #25381
@bizmate looks like a different issue, most likely because you're bind-mounting source from your host, and possibly it doesn't have a `html` directory which the image is looking for; https://github.com/docker-library/php/blob/b66c0fa0286d0abbb8a36653e26e6992bb71b858/7.1/fpm/Dockerfile#L134

[2016-12-28 09:00] sandyskies opened #29748 "docker restart failed after machine reboot"
Description

Steps to reproduce the issue:

machine reboot

then  start docker
[code]

I have to rm -rf /var/run/docker  and start docker again，and all is fine again
Additional information you deem important (e.g. issue happens only occasionally):
always
Output of docker version:
[code]
centos 6 with 3.10.x kernel version.

[2016-12-28 09:02] thaJeztah commented on #29746
You're welcome! Perhaps we should have an article on that in the user guide or "admin" section of the docs; https://github.com/docker/docker.github.io/tree/master/engine

Feel free to open an issue in the documentation issue tracker https://github.com/docker/docker.github.io/issues 👍

[2016-12-28 09:02] #29746 closed

[2016-12-28 09:20] manik2131 opened #29750 "Docker ps not showing the ports the application is running on"
i am trying to run selenium standalone server inside docker . i was able to make to server up but when i am trying to use the docker ps , its not giving me the ports on which my container is running on . Also i am not able to connect to the webpage of the selenium server through my host system . Below are the commands i am using for my docker .

CONTAINER ID        IMAGE               COMMAND

[2016-12-28 09:37] ccomb commented on #23423
Hi, I started such a plugin in https://github.com/anybox/buttervolume
Feedback is welcome, one of the goals is to use send/receive to replicate volumes across several hosts

[2016-12-28 09:54] keloyang opened #29751 "Soft lockup"
**Description**

Run selinux-testsuite in a fedora:20 container ,then stop the container, the host will  present to soft lockup.

**Steps to reproduce the issue:**
[code]
**Describe the results you received:**
With ps -eaf command, we will find some Zombie
[code]
if stop the container, the host  will present to soft lockup
[code]
**Output of `docker version`:**
[code]

**Additional environment det

[2016-12-28 10:07] aaronlehmann commented on #29580
ping @tonistiigi

https://github.com/docker/swarmkit/pull/1826 will avoid this problem since the swarm manager will no longer need to connect back to itself over TCP, but this is still a work in progress and won't be part of 1.13.

It might be worth considering a short-term fix for this problem.

[2016-12-28 10:27] justincormack commented on #29751
Looks like a kernel issue, might help to turn on the kernel lock debug options.

[2016-12-28 10:28] justincormack commented on #29745
Can you open the issue on https://github.com/docker/for-win/issues as this issue is specific to how file sharing works on Docker for Windows. Closing here as it is not a Docker engine issue.

[2016-12-28 10:28] #29745 closed

[2016-12-28 10:39] thaJeztah commented on #29751
Can you add the output of `docker version` and `docker info`?

[2016-12-28 10:45] thaJeztah commented on #23423
Let me close this issue, because this is best implemented as a volume-plugin, but feel free to continue the conversation (and nice to see someone already worked on creating such a plugin).

[2016-12-28 10:45] #23423 closed

[2016-12-28 10:48] whitecolor commented on #14080
BTW there is an intersting way to build production images using docker-compose, I found it working and quite effective:

So you have compose file `docker-compose.build.yml` something like this:
[code]

1) you build container using docker compose:
[code]
it creates container and runs shell build script `my-app.docker.build.sh`, I don't use `Dockerfile` and do everything in the build script:
- insta

[2016-12-28 11:02] wldn commented on #29751
test

[2016-12-28 11:11] dalareo commented on #27742
Any solution to this? I suddenly cannot manage my container in DigitalOcean. It throws:

code = 7 desc = permission denied

[2016-12-28 11:35] thaJeztah commented on #29056
These errors;

[code]

Seem to indicate that there's still something querying the docker API to get information about those containers; is anything running on that host that requests `docker info` for these containers?

Container root filesystems being left behind can occur if the container's filesystem is in use (which can be the result of other processes keeping the mount in use); `cAdvisor`, fo

[2016-12-28 12:17] ripcurld0 commented on #29750
@manik2131  how did you create and run this container?

[2016-12-28 12:19] cpuguy83 commented on #29735
The options you listed are specific to tmpfs.

[2016-12-28 12:36] arantessergio opened #29753 "Unrecognized character in docker-compose."
**Description**

Invalid character when start registrator container with docker.compose.yml

**Steps to reproduce the issue:**
1.  In docker.compose.yml add this session:
[code]

2. Run docker.compose.exe up -d
3. Alternatively, I commented the registrator session on `docker.compose.yml` and execute a specyfic command to registrator:
[code]
**Describe the results you received:**
1. `ERROR: for reg

[2016-12-28 12:59] duglin commented on #29211
@ashlander If you look at:https://docs.docker.com/engine/reference/builder/#/copy  you'll see a "Note" that says: `Note: The directory itself is not copied, just its contents.`. Do you think more is needed?

[2016-12-28 13:13] allencloud opened #29754 "docker network connect does not return error when network does not exist"
**Description**

I found that when I use command `docker network connect` to connect a non-running container to a non-existent network, docker daemon does not return error.

I think it is some kind of bug.

**Steps to reproduce the issue:**
1. `docker create --name allen alpine sleep 12345`
2. `docker network connect non-existent-network allen`

**Describe the results you received:**
nothing repor

[2016-12-28 13:23] raystorm commented on #29735
Before filing this issue, I upgraded my docker install from 1.11 to 1.12 just in case it was something already fixed in a later version.  I just deleted and recreated my volume that I created with the command line, and now it doesn't have the correct permissions like it did before.

[2016-12-28 13:33] thaJeztah commented on #29750
You need to _publish_ ports that you want to make available on the host, otherwise they are not accessible. For example, to run the official selenium image, and publish port `4444` to port `5555` on the host, run:

[code]

And when looking at `docker ps`;

[code]

Now you can access the container at `http://<docker-host>:5555`

I'll close this issue, because this does not look like a bug, and does

[2016-12-28 13:33] #29750 closed

[2016-12-28 13:43] thaJeztah commented on #29753
This looks to be either due to mingw trying to convert linux paths to windows paths (therefore using `"\\var\\run\\docker.sock"` with backslashes instead of `/var/run/docker.sock`), or you don't have the [`COMPOSE_CONVERT_WINDOWS_PATHS`](https://docs.docker.com/compose/reference/envvars/#/composeconvertwindowspaths) environment variable set

For the mingw issue; I think you can add a double at the

[2016-12-28 13:51] cpuguy83 commented on #29735
@raystorm These options are *not* supported by the local volume driver.
What is supported is doing something like:

[code]

[code]

And then the contents of the `hello` volume will be owned by 1000:1000.

The options you listed are specific to `--opt type=tmpfs`, and of course other types support this as well, but it's dependent on `type`, and completely handled by the underlying kernel module for

[2016-12-28 13:51] duglin commented on #27458
when running in a Win2Lin environment are all client commands run thru bash?  If so, is there a way to disable that?  I guess I could escape the "$" if I detect that we're in windows.  Is this still an issue though since I don't see Win2Lin in the CI?
ping @jhowardmsft

[2016-12-28 14:02] duglin commented on #24348
Where are we on this? Is this still an issue?
@dbreshears

[2016-12-28 14:08] skryzhny opened #29756 "After some time docker stops running containers with error 'HTTP error: Error response from daemon: couldn't get vxlan id for \"10.0.58.0/24\": failed to allocate vxlan id: no bit available" status=500'"
**Description**

We have several docker 1.11.1 nodes in `swarm version 1.2.3 (eaa53c7)` standalone cluster. We using external Key-Value storage for overlay networking. We tried ETCD 2.3.1 and 2.5.1 then Zookeeper latest.

We are constantly creating overlay networks and running containers with that networks attached, then removing containers and networks.
Our setup is running good for days, but aft

[2016-12-28 14:09] vikstrous commented on #14767
Oh, very weird. I expected lsof -U inside a container to show abstract namespaces if you use --net host but I can't make it work now:

[code]
I got a similar result with an ubuntu image.

I did this test on the following kernels and docker versions:

Linux thisisfine 4.8.6 #1-NixOS SMP Mon Oct 31 11:26:46 UTC 2016 x86_64 GNU/Linux
docker version: 1.14.0-dev (master at bf6eb85)

Linux ip-10-0-0-231

[2016-12-28 14:09] duglin commented on #25102
@Murf is this still an issue?  I'm not able to reproduce it.

[2016-12-28 14:15] cpuguy83 commented on #29756
ping @sanimej

[2016-12-28 14:44] cpuguy83 commented on #29748
ping @mlaventure

[2016-12-28 15:05] MarkEWaite commented on #5618
I saw the same `kernel:unregister_netdevice: waiting for lo to become free. Usage count = 1` message on my CentOS 7 machine running a docker image of Jenkins.  The CentOS 7 machine I was using was current with all the latest CentOS 7 patches as of approximately 20 Dec 2016.

Since the most recent references here seem to be CentOS based, I'll switch my execution host to a Ubuntu or a Debian machine

[2016-12-28 15:05] thaJeztah commented on #29748
@sandyskies just to be sure; you mentioned you wanted to try another RunC version in https://github.com/docker/docker/issues/29700#issuecomment-269442068. Is this with the "default" RunC version, or with a custom/different version?

[2016-12-28 15:44] joamag commented on #5618
I'm seeing the same issue when using Jenkins with Docker on Linux 4.8.15 machine.

[2016-12-28 16:07] itwars opened #29757 "contrib/mkimage-alpine fails on RaspberryPI 2 armhf with "segmentation fault""
I'm trying to generate a new docker minimal image on my RPI. It works fine with v3.4, but not with v3.5.

On my RPI :
[code]
Here is my output

[code]

Any ideas?

[2016-12-28 16:17] allencloud opened #29758 "[Documents] service update document is not so in detail"
**Description**
I found that `docker service update` command document is not so detailed in https://github.com/docker/docker/blob/master/docs/reference/commandline/service_update.md

I think there are lots of missing options in explanation, such as `--rollback`, and so on.

In addition, in the doc it says:
[code]

I think that is not true.

Here is the evidence:
[code]
 So, there is at least 12 pa

[2016-12-28 16:55] #25403 closed

[2016-12-28 16:56] mgoelzer commented on #29498
Port 2377/tcp is now assigned:

[code]

See:
http://www.iana.org/assignments/service-names-port-numbers

[2016-12-28 16:56] #29498 closed

[2016-12-28 17:00] MUI-Fazy commented on #25381
I think we can continue in the bug #29640

[2016-12-28 17:01] MUI-Fazy commented on #29640
So here is the updated of trying 1.12.3, seeing similar error. The reproducing steps are same.

[code]

Docker Info:
[code]

[2016-12-28 17:20] thaJeztah commented on #29498
Thanks @mgoelzer

[2016-12-28 17:39] colemickens commented on #5135
Is it expected that:

`CMD /static-binary` in my Dockerfile results in `CMD ["/bin/sh", "-c", "/static-binary"]` in the actual image?

In case anyone else is having issues, try specifically specifying `CMD ["/static-binary"]` in a scratch image.

Is this behavior documented?

[2016-12-28 17:41] thaJeztah commented on #5135
@colemickens yes, see https://docs.docker.com/engine/reference/builder/#/exec-form-entrypoint-example

[2016-12-28 17:47] tonistiigi commented on #29640
@MUI-Fazy Can you check if `dockerd` still has the same inode. Compare `stat $(which dockerd)` after daemon reboot and after problem appears. Still seems that something in your system is replacing it.

[2016-12-28 17:48] thaJeztah commented on #29757
ping @ncopa

[2016-12-28 18:22] ashlander commented on #29211
@duglin while i was trying to understand the reason, this note was read dozen of times, but that was not describing why destination directory contents and source directory contents do not match. In short, for such a dummies as myself, hell yea... possibly, just adding link to [#15858](https://github.com/docker/docker/issues/15858) in documentation somewhere near.
Thanks

[2016-12-28 18:27] msabansal commented on #29686
Working on a fix. The platform work has been done. Docker patch will be coming after this PR is approved https://github.com/Microsoft/hcsshim/pull/98

[2016-12-28 19:18] abhishekes commented on #21735
@yongtang I had earlier tried out ipvlan as you had recommended in your comment earlier (tested on AWS) and found that they worked as you described - I was able to ping remote containers by adding routes. However, when I am trying it now, I see that connectivity to the host is breaking as soon as I start the container. Stopping the container restores connectivity to host.

I don't find anything wr

[2016-12-28 19:39] rlewkowicz opened #29760 "Test repo should include experimental features"
I want to deploy a swarm using the v3 compose file and not have to create an intermittent dab. If I use https://experimental.docker.com/ it will pull 12.5 experimental which does have the built in flag (that is, it is a compiled flag vs a passed one), if I pull https://test.docker.com/ it will pull 1.13.0-rc4 but I can't use any of the deploy features because it throws the error:
`only supported w

[2016-12-28 20:09] johnstep commented on #27458
The PR job was disabled before I started working on Docker. The CI job was also disabled. After we addressed the outstanding issues, I enabled the CI job, and it is currently enabled:

https://jenkins.dockerproject.org/job/Docker%20Master%20(win2lin)/

I plan to enable the PR job soon, as well, but I need to understand if this is a blocking issue.

[2016-12-28 20:13] duglin commented on #27458
@johnstep am I reading that page correctly? do all tests pass? If so then we're good.  If not, does win2lin still use bash or powershell? If bash, can we switch it to be like RS1 and use powershell?

[2016-12-28 20:36] rlewkowicz commented on #29760
This Information is good on this day: DEC 28 2016
Alright, so if you come across this, the --experimental does work. If you're like me, you're using machine to do your install. to grab 1.13 you need to set:

--engine-install-url https://test.docker.com

you also need to set:

--engine-opt experimental

to cause the server to start with experiment. You can't pass it from the client.

Remember that

[2016-12-28 20:37] #29760 closed

[2016-12-28 20:41] tonistiigi commented on #29369
@mlaventure Maybe increase timeout as a quick fix for `v1.13`.

[2016-12-28 21:08] johnstep commented on #27458
@duglin All test are passing, and TestBuildLabelsOverride is not skipped.

[2016-12-28 21:38] tonistiigi commented on #29631
@mlaventure Failure to delete the `shm` should point to container process still being alive. Even if only mounts were alive it shouldn't cause this. So it may be a containerd sync issue.

[2016-12-28 21:42] nathanleclaire opened #29761 "docker 1.13.0 CLI seems to break previous flag parsing behavior"
[code]

I'm not sure what's going on but this used to work before.  Any ideas @thaJeztah ?

[2016-12-28 21:57] thaJeztah commented on #29761
hm new to me; is this since RC4?

[2016-12-28 21:58] nathanleclaire commented on #29761
Not sure.  I'll try RC1 next.

[2016-12-28 21:59] nathanleclaire commented on #29761
FWIW, commands like `docker -H="unix:///var/run/docker.sock" ps` seems to work fine.

[2016-12-28 22:05] nathanleclaire commented on #29761
Yeah, same behavior w/ 1.13.0-rc1

[2016-12-28 22:07] vdemeester commented on #29761
/cc @dnephin

[2016-12-28 22:10] thaJeztah commented on #29761
Looks like it's caused by the double quotes; they're escaped for some reason;

This fails:

[code]

Doing the same without double quotes;

[code]

[2016-12-28 22:15] nathanleclaire commented on #29761
Just to note why they're quoted -- IIRC, the reason we added quoting was because users might have paths that include spaces in them.

[2016-12-28 22:17] thaJeztah commented on #29761
I suspect it's related to https://github.com/docker/docker/pull/22769#issuecomment-220720692 ;

[2016-12-28 22:18] dnephin commented on #29761
The shell would normally remove the quotes, but I guess the strings are not being interpreted by the shell in this form, so the docker CLI is receiving a string with quotes.  The quotes are then being escaped by the error message (`"could not read CA certificate %q: %v"`).

The old flag parser had some unexpected logic to strip off quotes, which we dropped because the shell should handle it for us

[2016-12-28 22:19] thaJeztah commented on #29761
Looks like this previously failed on docker-machine, and was changed (before that patch I linked above was applied); https://github.com/docker/machine/pull/649

[2016-12-28 22:19] dnephin commented on #29761
I guess we could create a special flag type that strips quotes and use it for these flags... It still feels very wrong to me.

[2016-12-28 22:21] dnephin commented on #29761
That PR brings up a good point. Fixing this in the docker CLI will only fix it for one case. Most CLIs will break on these double quotes.

[2016-12-28 22:21] thaJeztah commented on #29761
@nathanleclaire I guess the quotes were added for situations where the path contains spaces; could we make `docker-machine config` escape such paths (`/Users/sebastiaan\ van\ stijn/.docker/....`)?

[2016-12-28 22:24] omallo commented on #29729
Created a [pull-request](https://github.com/docker/docker/pull/29763).

[2016-12-28 22:31] nathanleclaire commented on #29761
or would `--flag "foo"` work?  is it just the `flag="val"` notation that's not intended to work?  I don't fully understand the desired vs. non-desired flag types.

[2016-12-28 22:34] #29729 closed

[2016-12-28 22:50] nathanleclaire commented on #29761
As suggested, I think I'll fix this in Machine by escaping spaces with `\` -- probably the best solution as I think this was relying on incidental Docker CLI behavior before.

[2016-12-28 22:54] nathanleclaire commented on #29761
(BTW, I think this is heavily associated with subshell behavior vs. regular CLI / shell -- if I copy-paste and use the `foo="bar"` args directly, it works fine)

[2016-12-28 22:58] nathanleclaire commented on #29761
Hmmm.. seems there is an issue with that approach.. any shell experts (@tianon?) know what's going on here?  The `\` seems not to be escaping ` `.

[code]

[2016-12-28 23:01] tianon commented on #29761
Correct -- `$(...)` without quotes will always space-separate.  If you want proper shell quoting parsing, you _have_ to use `eval "$(...)"` (which is one of the reasons we updated all the b2d/docker-machine suggested invocations to use that form quite some time back).

[2016-12-28 23:03] vikstrous opened #29764 "make it easier to share images between the host daemon and a dind"
Right now I'm bind mounting `/var/lib/docker/overlay2` and `/var/lib/docker/images/overlay2` and it allows me to share images between the host daemon and the dinds I'm running. This approach has some limitations though. If I pull in one daemon, it seems like the rest of the daemons get confused and I can't use the image I pulled in them. I can fix this by restarting the other daemons. It would be

[2016-12-28 23:06] nathanleclaire commented on #29761
Ah, right... Unfortunate... I'm not sure what to do here on Machine's end.  It's not really possible to `eval $(...)` the way `docker-machine config` is intended to work, huh?

[2016-12-28 23:07] tianon commented on #29761
Yeah, one could do something like `eval "docker $(docker-machine config ...) ..."`, but there will be other side effects. :disappointed:

[2016-12-28 23:08] thaJeztah commented on #29764
This is really dangerous stuff; `/var/lib/docker` is designed to be accessed by a single daemon; having multiple daemons access the same directory is asking for trouble

https://jpetazzo.github.io/2015/09/03/do-not-use-docker-in-docker-for-ci/

[2016-12-28 23:09] nathanleclaire commented on #29761
heh.. the point of `docker-machine config` is it's supposed to be fairly succinct and "non-committal" as well...

[2016-12-28 23:10] tianon commented on #29761
You could do something like `docker-machine docker <machine-name> <docker-args>`, but that's a pretty different workflow. :disappointed:

[2016-12-28 23:12] nathanleclaire commented on #29761
Yeah, I'm more concerned about backwards compat than adding new workflows. I dunno, I'm not sure the right thing to do here.  I can see the motivation for wanting the Docker CLI behavior to be a bit cleaner, but I currently can't think of any way to keep supporting `docker-machine config` with the 1.13.0 behavior.

[2016-12-28 23:53] vikstrous commented on #29764
Yep. Sometimes you gotta live on the edge :P

Our use case is testing DTR+UCP clusters.

We can test them on VMs but there are a few major limitations:

1. There's only so much RAM on a dev laptop, so in the best case maybe you can run 3 VMs if you close chrome, but you'll never be able to run more than one cluster at a time.
2. It takes a long time to to transfer images from the host daemon to th

[2016-12-28 23:56] dmilind commented on #22847
Here How I solved this issue On centos 7.
In  /etc/systemd/system/docker.service.d/override.conf
ExecStart=
ExecStart=/usr/bin/docker daemon --storage-driver=overlay -H fd://
I replaced docker daemon by dockerd and removed -H fd:// then restarted the docker service.

[2016-12-29 00:28] thaJeztah commented on #29764
Why not use named volumes for the dind containers, so that they can persist beyond the containers lifecycle, but still allows you to have a "private" storage per daemon?

    -v dind-01:/var/lib/docker

[2016-12-29 00:32] thaJeztah commented on #22847
@dmilind you need to reload the configuration with systemd; `sudo systemctl daemon-reload`, then restart the service `sudo systemctl restart docker` (see https://github.com/docker/docker/releases/tag/v1.12.5)

[2016-12-29 00:35] TylerJewell commented on #29756
This issue is proving to be one that is destabilizing our system. Generally, our system is supporting 100s of concurrent containers with large memory footprints running across a variety of hardware nodes, sharing a key-value storage. Generally, containers are not long-running, but they are not being created / destroyed at the same rate as a CI-system might.

We are working to make this more reprod

[2016-12-29 00:36] dmilind commented on #22847
@thaJeztah That solved my issue. Thank you

[2016-12-29 00:38] vikstrous commented on #29764
The persistence of the images is not the problem. The images are built using the host daemon and then need to be transferred or reused in the dinds. Right now I see the following options:

- bind mount the host daemon's storage and careful not to pull anything
- keep the dind daemons' storage separate and transfer the images via tars
- keep the dind daemons' storage separate and transfer the image

[2016-12-29 00:58] aboch commented on #29756
Do you see any interesting warn or error daemon logs ?

[2016-12-29 01:06] makersphereLabs opened #29765 "Random Networking Error: cannot assign requested address"
**Description**

We tried to deploy a _docker-compose_ application using _UCP 2.0_, running on a cluster of three nodes (all v1.13.0-rc4). Unfortunately sometimes, the deployment fails multiple times with a strange error message. We've already check the hosts & all ports required by the app are available. The application uses two (already existing) networks and is assigned to a public IP (in this

[2016-12-29 01:26] fresheneesz commented on #22345
I get this when i run `npm install fibers` - it exits my bash session without any other output...

[2016-12-29 01:27] #29667 closed

[2016-12-29 01:42] jocull commented on #14026
Just to follow up on @thaJeztah's [comment](https://github.com/docker/docker/issues/14026#issuecomment-246492448), installing the `-virtual` packages did *not* correct the issue on my end.

This could be related to using Dokku, or maybe not. I really don't know, but it still breaks every time I run a system upgrade.

[2016-12-29 01:51] aboch commented on #29756
@skryzhny
Do you see any interesting warn or error daemon logs ?

When you hit the issue, please send me the data you get from
`GET http://<store IP>:8500/v1/kv/docker/network/v1.0/idm/vxlan-id/`
if you are using consul or the equivalent for the datastore you are using.

[2016-12-29 01:56] keloyang commented on #29751
[code]
@thaJeztah @justincormack ,If the domain of the pid 1 process in container is init_t(chcon -t init_exec_t /usr/bin/docker*,systemctl restart docker,then start a container) or unconfined_t(run docker daemon in a ssh console, then start a container),the soft lockup will not appear.

here is a stack trace when soft lockup appear:
[code]
here is code analysis：
[code]
Pid 1 process need reap chi

[2016-12-29 02:08] AhnMo opened #29768 "CreateContainer Problem on Windows 10"
**Description**
At first I open this issue to https://github.com/docker/for-win/issues/361, but I was advised that it have to open here.

When I try to start container, I got a message ,`Error response from daemon: container [Container Name] encountered an error during CreateContainer: failure in a Windows system call: The handle is invalid. (0x6)`.

**Steps to reproduce the issue:**
I have no ide

[2016-12-29 02:52] makersphereLabs commented on #27572
@rxwen Interesting, we have a similar issue with UCP & docker-compose. #29765
How did you resolve this? The error message is not really helpful... 🤔

[2016-12-29 02:57] rxwen commented on #27572
It's been a while, if I recall correctly, it's because I assigned a wrong IP address to the service in yml file. But the IP address isn't the box's ip. That's what I mean by configuration mistake.

[2016-12-29 04:31] makersphereLabs commented on #27572
@rxwen Thx for your quick reply. :)
You're right, the containers are getting scheduled to the wrong node. This means that the IPs are obviously not matching.
Now we have a completely different problem. 😅

[2016-12-29 04:39] BenjamenMeyer commented on #22054
@thaJeztah

And what if it was desired to still have network connectivity? Example: Testing Health Check failure from server in Container B for Container A while still having services provided by Containers C, D, and E. Easier to just disallow Container B from taking to Container A than close out the whole network - Containers C might also depend on access to Container B for its Health Check to pa

[2016-12-29 06:40] Nhoui commented on #22635
Thank you luxas
It works great!!!

[2016-12-29 07:35] ncopa commented on #29757
@itwars can you try identify what program that is segfaulting? Does `dmesg` give any hint?

[2016-12-29 08:12] vdemeester commented on #29764
@vikstrous I would think that the "easiest" setup would be 3. for CI and devs too.

[2016-12-29 08:25] saksmt opened #29771 "Failed to start any container"
**Description**

Containers fail to start without matter of amount nor timeouts

**Steps to reproduce the issue:**
1. `docker run -it debian bash`

**Describe the results you received:**
`docker: Error response from daemon: containerd: container not started.`

**Describe the results you expected:**
Bash prompt inside container

**Additional information you deem important (e.g. issue happens only o

[2016-12-29 08:39] skryzhny commented on #29756
I haven't seen any unusual errors or warning in swarm log.

I have full copy of KV database from last malfunction.
It taken after stopping all services which deletes all containers and networks.
[code]

And data from staging:
[code]

[2016-12-29 08:50] forever043 opened #29772 "Invalid assert in TestDaemonStartWithoutColors integration test"
**Description**

TestDaemonStartWithoutColors test for "--raw-logs=true" option will always get empty output, but it can pass the assert:

  `c.Assert(b.String(), check.Not(checker.Contains), infoLog)`

This is because "tty" is closed in s.d.Stop() for "--raw-logs=false" test, so the "--raw-logs=true" test will receive empty output.

**Steps to reproduce the issue:**
1. add following assert to Tes

[2016-12-29 09:05] sanimej commented on #28836
@sign2k Your observation on the shuffling of IP addresses in the query handling is correct; Go's slices are reference type (to the underlying array) and hence concurrent name resolutions can potentially lead to racy behavior. Thanks. Will fix this in libnetwork.

[2016-12-29 09:50] Tchinmai7 commented on #28159
Is there anyway I can make this work? @avagin @boucher @xemul

[2016-12-29 10:27] #29344 closed

[2016-12-29 10:40] thaJeztah commented on #29771
Did you build this version of docker yourself? It looks like the versions of `containerd`, `runc` and `init` don't match the required versions; using a different version of these can result in docker not working;

[code]

[2016-12-29 10:50] fresheneesz commented on #22345
Redirecting to /dev/null (eg `npm install > /dev/null`) seems to be a workaround. Super annoying.

[2016-12-29 10:51] thaJeztah commented on #23598
Looks like these were all done, so closing

[2016-12-29 10:51] #23598 closed

[2016-12-29 12:03] qudongfang commented on #13331
i really need this feature. +1

[2016-12-29 12:19] saksmt commented on #29771
@thaJeztah, It's built with standard tools from gentoo, you can see build file (ebuild) at http://data.gpo.zugaina.org/gentoo/app-emulation/docker/docker-1.13.0_rc4.ebuild

Also if `init` here is sysvinit then it's version is: `2.88-r9`.

And runc is `1.0.0_rc2-r1`:
[code]

[2016-12-29 12:46] #29207 closed

[2016-12-29 12:59] itwars commented on #29757
mkbase() {
        $TMP/sbin/apk.static --repository $MAINREPO --update-cache --allow-untrusted \
                --root $ROOTFS --initdb add alpine-base
}

It seems to be the apk.static and nothing in dmesg!

[2016-12-29 13:24] allencloud commented on #29758
`--rollback                         Rollback to previous specification`

I was wondering what does this mean?

Roll back to the original status of the service before update action, in case that the update fails?

@aaronlehmann @tonistiigi

[2016-12-29 13:41] cpuguy83 commented on #29751
ping @rhatdan

This should probably be reported against RHEL.

[2016-12-29 13:46] cpuguy83 commented on #29768
ping @jhowardmsft

[2016-12-29 14:02] thaJeztah commented on #29751
@cpuguy83 it's running on Huaweii [EulerOS 2.0](http://www.huawei.com/en/news/2016/9/huawei-kunlun-euleros-unix-certification), so not sure they use the same packages for SELinux

[2016-12-29 14:07] cpuguy83 commented on #29751
Ah, I saw RHEL7 in there somewhere...

[2016-12-29 14:50] kleptog commented on #26259
I'm here from https://github.com/docker/docker/issues/28787 to describe the use case I have for soft affinity (anti-affinity is not interesting for me).

In our situation we have groups of services which work together (think independent test environments). Each group consists of about 6-10 services which communicate between each other, but not between groups; they each have their own overlay netwo

[2016-12-29 14:57] KristofErr commented on #27658
Well, our use case is the following:

We automatically create a cluster with cloudformation and fleet. The fleet unit files have the docker pulls, something like this:
ExecPreStart="docker pull ..."

I don't argue that we should never submit a template with an invalid docker version but currently it happens(the version comes from the user). True we can probably fix that but it maybe would be still

[2016-12-29 15:12] taladar commented on #28837
Shouldn't there be some way to specify the container that triggers the hook as an argument to the hook script?

Why would there be a default for the hook type? Wouldn't it make more sense to specify that explicitly every time?

[2016-12-29 15:19] thaJeztah commented on #27658
Are there standard exit codes that would allow "translating" API (HTTP) error codes to CLI exit codes that would make this more logical? A proposal with exit codes would help in the decision if this is something that could be implemented.

[2016-12-29 15:21] #27597 closed

[2016-12-29 15:54] sakserv opened #29780 "Containers are not started in parallel"
**Description**

Containers are not started in parallel when issuing multiple concurrent "docker run" commands for the same image.

I expect this has to have been discussed in the past, but my searches have turned up empty. Spent the last two days on IRC attempting to get more details to no avail.

**Steps to reproduce the issue:**
1. Issue "docker run" for 10 containers in the background, printin

[2016-12-29 16:11] vikstrous commented on #29764
Yeah and that's what I used until I spent a month in Africa. Even in Canada a residential connection is way too slow for pushing and pulling 200MB+ images between builds. Residential connections tend to be asymmetric and often have less than 1 mbps upload speed.

[2016-12-29 16:22] tyanko1 commented on #14949
@cpuguy83 Hey, what is the status on the logstash plugin? Could really use this!!! Thanks!

[2016-12-29 16:26] thaJeztah commented on #29764
@vikstrous you can run that registry locally, or even as a service;

    docker service create --name registry --publish 5000:5000 registry:2

then use `127.0.0.1:5000` as your registry

[2016-12-29 16:52] aboch commented on #29756
Thanks @skryzhny

After decoding the first data structure you provided, I see that out of the 745 ids overlay driver allocates for the vxlan networks, there are still 34 available to use.

I tested requesting an extra one from the sequence, and the first available was returned and its reservation was done properly in the backend data structure, which is a bitmask. I tested releasing some, and the

[2016-12-29 17:15] thaJeztah commented on #29758
The `--rollback` flag is documented in the swarm user guide; https://github.com/docker/docker.github.io/pull/219, but perhaps it makes sense to add a link, similar to what we do on the `service create` reference; https://github.com/docker/docker/blob/master/docs/reference/commandline/service_create.md#create-a-service-with-a-rolling-update-policy

[2016-12-29 18:00] sakserv commented on #29780
@thaJeztah - Is this limitation already known? I've been spending the morning trying to narrow down the bottleneck after it was suggested on IRC that it could be containerd related. If this issue is already known, I'll save myself the effort of gathering additional debug details. :) Thanks.

Regarding the containerd comment above, fwiw, I tried downgrading to docker 1.10.3, pre-containerd, and I'm

[2016-12-29 18:03] cpuguy83 commented on #29751
Closing since this is an unsupported build on an unsupported os, and the underlying issue is a kernel issue.
Best to report with distro providers for such an issue.

Feel free to discuss here, though.

[2016-12-29 18:03] #29751 closed

[2016-12-29 18:05] RRAlex commented on #29635
@mlaventure no, I really had to restart the daemon to get the stats back.

[2016-12-29 18:08] vikstrous commented on #29764
(For anyone reading this: `--publish 127.0.0.1:5000:5000` would be safer if run directly on a laptop. You wouldn't want to accidentally expose dev images to the local network.)

DTR images have their namespace hardcoded in them so that when you run bootstrapper commands, the bootstrapper knows where to find the DTR images. Therefore to use a local registry I have to:

1. Run a local registry
2. Mo

[2016-12-29 18:12] davidjwilkins commented on #26768
I am seeing this issue (Docker version 1.12.5 build 7392c3b) on CentOS 7:

    uname -a
    Linux usav1svgend29.private.local 3.10.0-327.28.3.el7.x86_64 #1 SMP Thu Aug 18 19:05:49 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

I can reliably reproduce on my machine - any time I leave it running overnight, in the morning I come back to it.

[2016-12-29 18:27] davidjwilkins commented on #26768
I am still seeing this issue.  Can sort of reliably reproduce (if I leave a container running overnight, I run into this issue first thing in the morning).  CentOS 7, 3.10.0-327.28.3.el7.x86_64, docker version 1.12.5

[2016-12-29 18:36] hdave commented on #11815
The Java community has been doing this for 10+ years with its Maven repositories that hold Java JAR and WAR files -- with much success.  I think it is a perfect metaphor for this situation.

[2016-12-29 19:29] matthanley opened #29781 "Feature Request: Allow modification of connected networks for services via `service update`"
**Description**

Looking to run docker swarm with an HAProxy load balancer as a service for SSL termination. This will be a common load balancer, shared between multiple apps. As such, when deploying a new app into a new network it would be a requirement to redeploy the load balancer service with a connection to an additional network. This is currently not possible with `service update` as documen

[2016-12-29 19:42] thaJeztah commented on #29781
Thanks for suggesting; looks like this is a duplicate of https://github.com/docker/docker/issues/28247. I'll close this one to keep the discussion in a single place, but feel free to add your use case on the linked issue

[2016-12-29 19:42] #29781 closed

[2016-12-29 20:13] sanimej commented on #29756
@skryzhny Are you using compose files ? If you can share the exact sequence of container/network create and destroy that might give some clues.

[2016-12-29 20:29] skryzhny commented on #29756
@aboch
First data structure should have only 15-20 ids taken, as `docker -H localhost:23750 network ls` reported that amount of networks. Probably not deleted correctly by some reasons like timeouts or our product crash because of unrelated reasons,
At that time we had demand for about 60 networks. We already had some (34?) allocated but can't allocate more.
So I used to stop all services. Then ou

[2016-12-29 20:36] saksmt commented on #29771
@thaJeztah Since which version docker depends on unreleased runc and containerd? I don't have any binaries in gentoo since 1.5.x, which fails to install due to dependency on outdate kernel flag, so I need to install it somehow

[2016-12-29 20:38] skryzhny commented on #29756
@sanimej: I can increase swarm/docker loglevel to debug on staging if You want it.

We use KV storage only for docker, so I think I might find a way to obfuscate sensitive information and share it.

[2016-12-29 20:45] cpuguy83 commented on #29780
@sakeven Try a different storage driver. Not only is devicemapper the slowest, and setup of the storage driver is (probably) the slowest step in the process, this part also has to by synchronized to avoid data races.

[2016-12-29 21:18] thaJeztah commented on #29726
reopening, because https://github.com/docker/libnetwork/issues/1602 was not vendored yet

[2016-12-29 21:21] aboch commented on #29756
@skryzhny

Sure, I wrote this to decode it:
https://gist.github.com/aboch/76bea69c38a1b90ac3b13ea477fc131f

go build it and run it like this:

[code]
or in case the ds gives you the value in bytes (like from the consul ui):
[code]

The output will contain the number of bits, the number of available bits and the bits allocation mask as a run-length encoded sequence where each symbol is a 32 bit lon

[2016-12-29 21:22] vikstrous commented on #25125
FWIW I saw the same error message and it turned out that my ca.pem file was empty.

[2016-12-29 21:32] vikstrous commented on #25019
Just browsing through here I noticed that there's another issue open for configuring logging for stdout and stderr differently: https://github.com/docker/docker/issues/25683
There isn't one about exposing a docker-managed syslog socket inside containers though, so maybe this issue should be repurposed for that proposal?

[2016-12-29 21:45] vikstrous opened #29784 "allow storing tls certs directly in --log-opt for syslog"
Right now the syslog driver takes paths to TLS certs. See [docs](https://docs.docker.com/engine/admin/logging/overview/#/syslog-options). This works fine for a container because you know exactly where it'll run and you can prepare that one machine ahead of time, but when used with a service, you need a separate mechanism for distributing TLS certs across the cluster. It would make using the syslog

[2016-12-29 22:00] vikstrous opened #29785 "when the logging driver is changed at the daemon level, it should change for the containers"
Right now if you create a container while the daemon's logging driver is set to json-file, then you restart the daemon with a different logging driver, it doesn't actually change the logging driver for the containers. There is no way to change the logging driver for containers once they are created. It can be done only for services and it's done by re-creating the container. I suspect that whether

[2016-12-29 22:10] sjpotter opened #29786 "[Feature Request] Enable mount propagation of directories on root file system."
**Description**

Docker has had mount propagation support for a while, but if one wants to deal with the host's root file system one generally has to do something like

[code]

If code that runs inside the container and outside on the host expect the same path, it be cleaner to be able to do something like.  For instance code that talks to the docker daemon to run other containers and sets up volu

[2016-12-29 22:11] cpuguy83 commented on #29785
This is intentional.
The daemon setting changes the default driver for new containers.

I prefer it to change any container without a setting... but this was made purposefully the way it is.

[2016-12-29 22:15] cpuguy83 commented on #29786
The issue is that the path isn't within a shared mount (so in this case neither `/path` nor `/` is shared).

I do not think docker should automatically set this.. and believe that even creating the paths as we do now is really horrible.
A user can change the root mount for a particular path easily enough.

One thing that can be done is to stick docker itself into a mount namespace and set `/` to s

[2016-12-29 22:21] sjpotter commented on #29786
In my above example, its really

[code]

unsure if that changes your comment.  (will try to fill in the rest in my next comment)

[2016-12-29 22:31] dnephin commented on #29761
We can use a `flags.Var()` for these flags that use this flag type: https://github.com/docker/docker/compare/master...dnephin:strip-quotes-from-args

That way we don't have to support this quote trimming for all the flags, but it should be backwards compatible.

[2016-12-29 22:41] thaJeztah commented on #29784
Almost tempted to say it should use the "secrets" feature in SwarmKit, but that won't work, because the logging drivers run outside the container.

Would this be a job for InfraKit? i.e., install certificates on the nodes

@wfarner @chungers wdyt?

[2016-12-29 23:09] #29619 closed

[2016-12-29 23:19] nathanleclaire commented on #29761
Ah, that'd be lovely.  Thanks Dan.

[2016-12-29 23:53] PatrickLang commented on #27911
Is your [Docker forum post](https://forums.docker.com/t/docker-not-working-on-win2k16/26081) referring to the same issue with `docker pull` ?

Do all of your machines fail `docker pull Microsoft/windowsservercore` with the same error, or just some of them?

It sounds like something is still blocking the large download from cloudfront.net

[2016-12-29 23:56] thaJeztah commented on #29785
This was changed in https://github.com/docker/docker/pull/21153 (also see https://github.com/docker/docker/issues/21118), and https://github.com/docker/docker/pull/22575#issuecomment-218130844

Some thoughts for future improvements;

allow setting defaults _per driver_ on the daemon, separate from the default logging driver;

    --default-logging-driver=json-file
    --logging-defaults driver=jso

[2016-12-30 00:04] thaJeztah commented on #29761
It's likely there's other scripts in the wild that use `docker $(something that outputs options)` (other than docker machine); should we trim the quotes for every flag, or would that be difficult to implement? It feels inconsistent to only strip quotes on _some_ flags

[2016-12-30 01:31] tappleby commented on #29608
Running into this as well, testing out a local registry on minikube kubernetes cluster.

Pushing with kubectl port-forward + localhost:5000 failed but when I exposed the port on the cluster and pushed to the IP directly it worked fine.

[2016-12-30 02:21] sakeven commented on #29780
@cpuguy83 mentioned wrong person.

@sakserv

[2016-12-30 04:11] GongT commented on #23987
my custom rule always below of docker's rules. (jump to firewall-filter chain)

[code]

how to prevent docker from modify FORWARD chain !!!!
[code]

[2016-12-30 04:57] etotheipi commented on #29608
So of course there is a straightforward explanation.  On Mac, docker runs
in a VM, so using `localhost` in a docker command is specifying the VM's
localhost, not the host system with the port forwarded.  Need to add a port
forwarding rule in Virtualbox to map guest port to host port.

On Dec 29, 2016 8:32 PM, "Terry Appleby" <notifications@github.com> wrote:

[2016-12-30 05:07] sajfarahani commented on #25098
This is still an issue?
I installed Docker 1.12 and changed the service file to have docker listen on port 2375:

[code]

And added the docker.socket as well:

[code]

However, it still does not allow me to start docker. Is there anyway to fix this?

[2016-12-30 05:12] HuemanF commented on #19223
Only manually running dameon works for me, hope this dump helps.
I still have this issue on

4.8.13-100.fc23.x86_64

docker version
Client:
 Version:      1.12.5
 API version:  1.24
 Go version:   go1.6.4
 Git commit:   7392c3b
 Built:        Fri Dec 16 02:26:11 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.5
 API version:  1.24
 Go version:   go1.6.4
 Git commit:   7392c3b
 Built:

[2016-12-30 05:39] Hamada92 opened #29790 "Docker logging deamon using too much memory, 1.11.2"
Hi,

I am using Dokku and running a single app, but looks like a docker deamon is using too much memory and I can't create any more containers :

Here is the output of `htop`

<img width="709" alt="screen shot 2016-12-30 at 12 37 23 am" src="https://cloud.githubusercontent.com/assets/20448796/21560149/3b4a2b98-ce28-11e6-82c3-e345306aa08e.png">

I think the daemons at the bottom are what's causing

[2016-12-30 06:39] motymichaely commented on #6325
Hey,

I am hitting this now.
Docker info:
[code]

These are the results of check-config.sh:
[code]

Any idea what's causing these corruptions? We are hitting this quite a lot.

[2016-12-30 06:57] lightsea90 commented on #29495
Well, it seems that everything works fine. I'm gonna close this issue and will reopen if needed. Thank you very much @aaronlehmann  and @thaJeztah

[2016-12-30 06:57] #29495 closed

[2016-12-30 07:22] MUI-Fazy commented on #29640
@tonistiigi
I would validate and update on it. Thanks

[2016-12-30 07:45] junneyang commented on #9983
@shettyg
very good suggestion
but i think it's hard to accomplish this goal
multi-tenant need much more works
and kubernetes also doesn't support this , kubernetes simplify the network model as well

a question:
if we comply with the norm of kubernetes, how do we achieve the goal of multi-tenant?

thanks very much!

[2016-12-30 07:56] garagatyi commented on #29756
We use single segment per network. Actually we use default segment settings for now.

[2016-12-30 08:06] gianarb commented on #29790
Hello @Hamada92 thanks for your report.  Can you provide more info in order to make easier for us to replicate?

1. Can you copy paste output of `docker version` command
2. Can you copy paste output of `docker info`
3. Where are you running the daemon? CPU, Memory are good info in this case

In this way, we can also know how many containers are you running when you get this issue.
Thanks

[2016-12-30 08:19] thaJeztah commented on #19223
@HuemanF what happens if you start the service (`sudo systemctl start docker`) does it not start at all? do logs show anything?

[2016-12-30 08:52] saksmt commented on #29771
Ok, I've tested all versions from 1.10 to 1.13-rc-r3, same problem persists everywhere... Also tested binaries - they just don't see lvm so they can't start due to missing device-mapper...

[2016-12-30 09:06] thaJeztah commented on #25098
@sajfarahani it's only an issue if you made modifications to the unit file, or used drop-in files that use `-H fd://`, and are running on a system that uses RPM's for installation (CentOS, Fedora, RHEL, Oracle Linux). Please see the "**IMPORTANT**" message at the top of the release notes; https://github.com/docker/docker/releases/tag/v1.12.5

Some things worth mentioning based on the info you prov

[2016-12-30 09:07] skryzhny commented on #29756
@aboch Thank for utility, I'll add it to our monitoring system.

[code]
Looks like we really have problems here, allocated more than 500 bits for 19 networks

[2016-12-30 10:55] sandyskies commented on #29700
@thaJeztah  https://github.com/opencontainers/runc/pull/1018  It seems that  --console flag is removed and add --console-socket . So when running the new version of runc with docker ,  an error was reported : docker: Error response from daemon: oci runtime error: flag provided but not defined: -console.

[2016-12-30 11:06] saksmt commented on #29771
UPD: copied all versions from my work-vm (for those, who want running docker of any version right now):
[code]

Tired of reinstalling/rewriting bunch of ebuild, will try to figure out which versions are compatible and where exactly bug is hidden after new year.

[Attached currently working ebuilds](https://github.com/docker/docker/files/678554/docker-backup-ebuilds.zip)

[2016-12-30 11:28] justincormack commented on #29786
If you want to set up volumes, you might be better off making a volume plugin. Now these are just special images but they will get run with the right setup for making volumes.

[2016-12-30 11:32] eliassal commented on #27911
It is only from this machine, I docker on win 10, docker for windows running on win 10 as well, in the smae network and working like a charm. Sometimes, on the the 1st one, I get "Authentication required..." when pulling images.

[2016-12-30 11:34] sandys commented on #28406
@rhatdan @rshariffdeen did you guys debug this issue ? im facing a similar situation

[2016-12-30 11:38] nickygerritsen commented on #26696
For us something like this would also be beneficial.

We have an internal network and an external network and we would like to bind some services only onn the internal network (and others on the external one) for things not using Docker.

For example we might still have a legacy application that wants to use MySQL, which is running in the Docker Swarm. We can then expose port 3306 only internally.

[2016-12-30 13:16] AlexanderKozhevin opened #29792 "It would be cool to have script for starting a container."
Maybe it's stupid I really love idea of creating YML file  for starting container.
It's more comfortable than writing a bunch of parameters in bash files.
[code]
Like:
[code]

[2016-12-30 13:20] Hexta commented on #29396
This issue didn't reproduce for last two weeks.

[2016-12-30 13:29] justincormack commented on #29792
You can use docker compose for that.

On 30 Dec 2016 1:16 p.m., "Alexander" <notifications@github.com> wrote:

[2016-12-30 13:35] AlexanderKozhevin commented on #29792
@justincormack Cool, thanx.

[2016-12-30 13:35] #29792 closed

[2016-12-30 15:22] thaJeztah commented on #29396
Let me close it for now, but happy to reopen if you run into it again and have more info

[2016-12-30 15:22] #29396 closed

[2016-12-30 16:12] Hamada92 commented on #29790
Hi @gianarb , sure thing :

1. `docker version` :
[code]

2. `docker info` :
[code]

[2016-12-30 16:15] Hamada92 commented on #29790
also the fact that 23 containers, 12 of them are running is worrying, I only have one app that has 2 instances only, is that normal with Dokku?

[2016-12-30 16:17] cpuguy83 commented on #29790
From what I can see, docker is using 2.4% of your memory, 2.7 if you include containerd.
Best to hide userland threads (which is all shared memory) when looking at htop.

What sort of error are you getting when you try to start a container?

[2016-12-30 16:56] garystafford opened #29794 "rpc error: code = 13 desc = invalid header field value "oci runtime error: exec failed: cannot exec a container that has run and stopped\n""
I see similar issues with previous versions of Docker, which have been marked `Closed`. I believe this issue is still present in latest Docker release `1.12.5`.

I am running the latest release of Docker on a series of Vagrant VirtualBox VMs:
[code]

Attempting to run a `docker exec` on several running container, throws the same error. For example:
[code]

The container(s) are running:
[code]

Mor

[2016-12-30 17:10] johnflavin opened #29796 "API: Delete container can return 409, but that isn't documented"
The API documentation (and swagger.yaml) says `DELETE /containers/{id}` can return `200`, `400`, `404`, or `500`. Snippet from swagger.yaml:
[code]
However, it can also return a 409 if the container is running and you do not specify `force=1`.
[code]
This 409 response should be documented.

[2016-12-30 17:22] thaJeztah commented on #29794
ping @mlaventure @crosbymichael PTAL

[2016-12-30 17:52] tmaczukin commented on #20398
After reading this issue I see, that it is covering the case where `overlay` network is used. But have this been reported for one-host cases where the standard `bridge` network is used?

We're tracking such problem with builds executed by GitLab Runner and in one case we had confirmation that filesystem is not full, container doesn't exist but container creation is failing with an error
`API error

[2016-12-30 18:30] nessor opened #29798 "failed to register layer: devmapper: Error mounting / Can't mount images"
**Description** Can't mount images

Can't mount any images in my docker installation

**Steps to reproduce the issue:**
1. Install docker (like [this](https://www.digitalocean.com/community/tutorials/how-to-install-and-use-docker-on-ubuntu-16-04))
2. run "docker pull hello-world"
3. get error:
`failed to register layer: devmapper: Error mounting '/dev/mapper/docker-8:2-1056594-844987568e879d45b4e5

[2016-12-30 18:57] NickvdMeij commented on #29753
Thanks @thaJeztah for you answer. The COMPOSE_CONVERT_WINDOWS_PATHS variable works perfectly! It might be a good idea to add this as a note to the main docker-compose docs for all windows users. It took me 8 hours to find a solution for this ;-)

[2016-12-30 19:03] thaJeztah commented on #29753
it's mentioned in the docs; https://docs.docker.com/compose/reference/envvars/#/composeconvertwindowspaths, but if you have suggestions where it could be mentioned, perhaps you're interested in opening a pull request; each page in the docs has a feedback button and an edit button

[2016-12-30 19:16] rshariffdeen commented on #28406
@sandys I downgraded to 1.12.4 and it worked for me.

[2016-12-30 19:17] thaJeztah commented on #29798
First of all, I would not recommend running with devicemapper on Ubuntu; the default storage driver is aufs, and on modern (4.x) kernels, the overlay2 storage driver is a good choice.

It looks like the instructions on DigitalOcean are incomplete, and don't mention the requirements for aufs (see the official documentation here: https://docs.docker.com/engine/installation/linux/ubuntulinux/)

Devic

[2016-12-30 19:17] #29798 closed

[2016-12-30 19:44] brikeyes commented on #24107
@al-jeyapal
networks:
  test-network:
    #driver: overlay

this worked for me !!!!!! thanks

[2016-12-30 19:51] rremani commented on #20486
@mribichich ya, I did the same and it worked.

[2016-12-30 20:00] Hamada92 commented on #29790
The problem was due to too many running containers, thanks for the help. closing.

[2016-12-30 20:00] #29790 closed

[2016-12-30 20:18] aboch commented on #29756
@skryzhny
I tried reproducing with docker 1.11.2 (no relevant changes in this area compared to 1.11.1) using zookeeper (zk running as a container on a separate VM and with a script decoding the sequence retrieved via zookeepercli), with 200 overlay networks, disconnecting and removing networks with different patterns, then recreating some and removing others: https://gist.github.com/aboch/0cc880b8

[2016-12-30 20:30] NickvdMeij commented on #29753
Yeah, i saw the link in your comment from 2 days ago ;-) thats how i was able to fix this problem for myself. Making a pull request as we speak ;-)

[2016-12-30 20:35] doomsbuster commented on #20364
i am having a similar issue where i have a very simple docker image that has just apache on `ubuntu:14.04`. I am using an `entrypoint` script to start apache in foreground (I plan to add upon this image with the web app and other dependencies). My container starts and quits instantly. Here are my docker files and `entrypoint.sh` shell script. Can anyone help me understand how to look at why the co

[2016-12-30 20:52] NickvdMeij commented on #29753
@thaJeztah pullrequests [1007](https://github.com/docker/docker.github.io/pull/1007) and [1008](https://github.com/docker/docker.github.io/pull/1008) have been made ;-)

[2016-12-30 21:30] thaJeztah commented on #29753
Thanks!!

[2016-12-30 22:53] benramki opened #29800 "docker deamon restart results in out of memory condition in the server (Docker 1.13)"
**Description**

Whenever the docker daemon is retarted (systemctl restart docker), it results in a out of memory condition

Running Docker 1.13.0-rc3

During test, when docker service is restarted, for whatever reasons, it generates udev events for cdrom and the IMPORT action fails resulting in creation of many systemd-udev threads. This hogs the memory.
[root@BaseVM ~]# ps aux --sort -rss | grep

[2016-12-30 23:00] thaJeztah commented on #29796
/cc @justincormack

[2016-12-30 23:03] thaJeztah commented on #29800
Could you add the information about your setup, as requested in the issue template?

- fulll output of `docker version`
- full output of `docker info`
- any relevant (daemon) configuration flags
- what are you running in your containers? How many containers are running etc

[2016-12-30 23:04] thaJeztah commented on #29800
Also note that docker 1.13.0-rc4 was released with various bug fixes

[2016-12-30 23:34] philippe-granet commented on #27354
https://docs.docker.com/registry/recipes/mirror/#/gotcha

[2016-12-30 23:38] jkubrynski commented on #27354
So - are you going to provide this feature somehow?

[2016-12-31 02:18] osca commented on #27012
+1

My whole docker daemon hangs. No reaction to any docker commands and from the docker service.
None of my old containers are running.
Upgraded to version 1.12.5

We probably updated from 1.11.2, but i'm not really sure, because i didn't do it.

daemon.log:

level=error msg="failed to register link for container b4270a74d07b3049e83b80be6adc13464babed703c447b0b30d48acd4335b47f: Could not get cont

[2016-12-31 07:18] ventz commented on #25303
@thaJeztah In regards to the:

"--ip and --ip6 don't make sense either as there are multiple containers."

It makes sense to have them set the VIP address. There are many cases where the IP needs to be statically set/available ahead of time/specially provisioned/etc.

[2016-12-31 08:59] arun-gupta opened #29801 "Solo vs management commands"
With 1.13 RC4

I like the nicely organized Docker commands in 1.13. However there are still a few commands that are shown solo.

[code]

`build` can be accommodated in `image` management command, `run` in `container`. Similarly other solo commands may be aligned with other management commands.

[2016-12-31 09:17] vdemeester commented on #29801
@arun-gupta `build` is under `image`, `run` under `container`, `deploy` under `stack`, they are *alone* because of retro-compatibility — they are (at least `build` and `run`) so widely use as is that it would be crazy to move them.

[code]

`login`, `logout`, `search` and `version`, it's another story 😝, they don't really fit in any category.

[2016-12-31 09:46] arun-gupta commented on #29801
@vdemeester All the legacy commands exist in 1.13 because of compatibility anyway. `build` and `run` may be given special treatment. `deploy` was introduced in 1.12 only. Does it need to be a top-level command?

How about `version` in `system`? Ditto for `login` and `logout`?

`search` is for images and so may fit there.

[2016-12-31 09:52] vdemeester commented on #29801
The root `deploy` command should only be available with `experimental` enabled (if it appears it's a little bit weird /cc @dnephin).

For `search` why not, but this could evolve into a `search` for plugins too for example.

[2016-12-31 14:28] thaJeztah commented on #25303
@ventz can you open a new issue for that, and describe the use case(s) there? I'll link the issue in the table then. Out of curiosity; those cases cannot use a _hostname_ only an _IP address_? (include that in the use-case description as well)

[2016-12-31 16:09] StefanScherer opened #29804 "Windows: dockerd.exe high CPU usage in virtual machines"
**Description**

First I have seen this today in a VirtualBox Nano Server VM running Docker 1.13.0-rc4. The VBoxHeadless process on my MBP has an average CPU usage of 25%. After I stop the Docker service with `stop-service docker` the CPU usage decreases to about 3-5%.

To verify the behaviour I started a Windows 2016 Server VMware Fusion VM also running with Docker 1.13.0-rc4. I can see the same

[2016-12-31 16:18] arun-gupta commented on #29801
@vdemeester Commands were tested with

[code]

[2016-12-31 16:39] thaJeztah commented on #29801
I think the beta channel has experimental features enabled by default: should be visible in `docker version`

[2016-12-31 16:50] friism commented on #29804
cc @johnstep

[2017-01-01 04:19] jmzwcn commented on #29796
Yes, we could find issue here:
https://github.com/docker/docker/blob/313502488e8809910127891d8923672baf43a742/daemon/delete.go#L82

[2017-01-01 09:37] yogiGueta commented on #28528
I have the same issu (i'm trying to define a static IP address for container):
Error response from daemon: rpc error: code = 3 desc = driver name: if driver is specified name is required.
**My version is:**

Client:
 Version:      1.13.0-rc4
 API version:  1.25
 Go version:   go1.7.3
 Git commit:   88862e7
 Built:        Fri Dec 16 22:55:47 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1

[2017-01-01 10:13] yogiGueta opened #29809 "docker 1.13.0-rc4 (stack)- error: driver name: if driver is specified name is required"
I have the same issu like #28528 but with1.13.0-rc4:
Error response from daemon: rpc error: code = 3 desc = driver name: if driver is specified name is required.
I get the error when i'm trying to define a static IP address for a container.
**My version is:**
Client:
Version: 1.13.0-rc4
API version: 1.25
Go version: go1.7.3
Git commit: 88862e7
Built: Fri Dec 16 22:55:47 2016
OS/Arch: linux/amd64

[2017-01-01 10:36] ls-amine commented on #5618
Did anyone , reach a fix procedure for rancher os ?

[2017-01-01 12:59] subfuzion commented on #29205
I can confirm that the service is successfully created on a single node swarm (1.13.0-rc4-beta34.1), but also get the same message.

[2017-01-01 16:09] Thanaton commented on #29685
Thank you for your response.

Two questions:

1. Might it be useful to document somewhere that this option is unsupported? Maybe in the compose file v3 documentation?

2. Is there a way to work around this other than updating the service through the CLI? As all my containers need the same DNS server, I tried adding it to /etc/docker/daemon.json on the swarm host, but to no avail. I still can't res

[2017-01-01 17:24] jkroepke opened #29810 "Run btrfs rescan only, if userDiskQuota is enabled"
**Description**

**Steps to reproduce the issue:**
1. Setup a lxc (or lxd) environment with btrfs as backend
2. Create a unprivileged lxc container
3. Install docker, run a Container and stop it

**Describe the results you received:**

[code]

**Describe the results you expected:**

btrfs subvolume and container are removed.

**Additional information you deem important (e.g. issue happens only occ

[2017-01-01 18:05] kenchenaz commented on #27580
@friism Hey, same issue here, is there a workaround for pushing images to private repo(Jfrog Artifactory) with a manifest being generated? I keep getting manifest invalid and then can't pull that image from my repo?

[2017-01-01 19:17] justincormack commented on #29796
Yes, 409 does seem correct here so we should document.

[2017-01-01 19:52] thaJeztah commented on #29796
Thanks for checking @justincormack

[2017-01-01 21:27] Steoghe commented on #29768
same issue as AhnMo

[2017-01-01 22:55] getvivekv opened #29811 "Service Create -- Environment variable is not setting"
I've been facing a problem with the `--env` argument in the `docker service create` command. I am setting an environment variable while creating the service. However these are not getting set in the container.

Steps replicate issue.

1. Create a service

2. Once the service is up and runing, login to the container.

`ssh root@containerip`

3. Type `printenv`

I am getting

[code]

I was expecting

[2017-01-01 23:03] getvivekv commented on #29811
Another thing that I just noticed that if I remove all other arguments, I can see that the environment variable is getting set.

`docker service create --name vvasukut-soss1 --env DEV_USERNAME=vvasukut image`

[code]

[2017-01-01 23:12] getvivekv commented on #29811
Could it be because I am logging into ssh as 'root' instead of `docker exec` ?

[2017-01-02 00:00] binq opened #29812 "ker hub"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2017-01-02 02:32] jmzwcn commented on #29811
I think so, "ssh root@containerip" will be a new shell.

[2017-01-02 04:18] yeruisen opened #29813 "panic: standard_init_linux.go:175: exec user process caused "no such file or directory" [recovered]"
When I build image, and Dockerfile:
[code]

and then , throw exception：
[code]

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
custom physical , centos 7.2

[2017-01-02 04:30] flaccid commented on #19990
@thaJeztah I'm trying your solution from the above compose and also just `docker volume create --opt type=none --opt device=<host path> --opt o=bind` with an existing host path. The volume creates however it is empty. I was expecting that inspecting the volume would show `Mountpoint` to be the host path or a symlink or something.

[2017-01-02 05:31] fresheneesz opened #29814 "Docker on windows needs a lot more work"
Docker is basically unusable on windows.

A. The Docker installer just tells me it can't be installed and that I have to go get docker-toolbox instead. Why doesn't it just install docker-toolbox for me?
B. I had to install cygwin to get the Docker Quickstart console working
C. I also had to modify the start.sh file to get the Docker Quickstart working (a pain in the ass on windows)
D. Running the

[2017-01-02 05:37] ibuildthecloud opened #29815 "Google DNS fallback logic does not work when only dnssearch is set"
**Description**
If your host is using 127.0.1.1 for the DNS nameserver Docker uses Google DNS for the containers (8.8.8.8, 8.8.4.4) instead of 127.0.1.1.  This fallback behavior does not work if `--dns-search` is set.

**Steps to reproduce the issue:**
1. Run `docker run --dns-search foo.com ubuntu cat /etc/resolv.conf`

**Describe the results you received:**

[code]

**Describe the results you ex

[2017-01-02 06:00] #29813 closed

[2017-01-02 06:06] yeruisen commented on #29813
my base image have a problem.

[2017-01-02 06:44] Keno commented on #29810
👍 Was about to open an issue about this as well.

[2017-01-02 06:45] ventz opened #29816 "Adding static IP option (--ip and --ip6) for Docker Services"
Following up to with a dedicated issue for:
[code]

This is a feature request/suggestion for adding a static IP option on the VIP overlay (ingress network) for Docker Services.

## Real example to summarize need:
* You have 50 VMs, each running Docker. They are all on 10.0.0.0/24, that is:
10.0.0.101
10.0.0.102
10.10.0.103
...etc...

* You want to run different web services for customers and for e

[2017-01-02 07:32] sign2k commented on #28836
Thanks for looking into this issue. Will this bug fix be testable using the next release candidate?

[2017-01-02 07:43] #29812 closed

[2017-01-02 07:54] casevilus commented on #29598
Hi, Is there any update on this?

Same error happens first day of year :)

Jan 01 03:19:08 docker-linux-eu-1.lonems.aws.messageone.com dockerd[13598]: panic(0x1ab9ba0, 0xc82000e090)
Jan 01 03:19:08 docker-linux-eu-1.lonems.aws.messageone.com dockerd[13598]:         /usr/local/go/src/runtime/panic.go:481 +0x3e6
Jan 01 03:19:08 docker-linux-eu-1.lonems.aws.messageone.com dockerd[13598]: github.com/d

[2017-01-02 08:01] yongtang commented on #29815
I think the issue is located here:
https://github.com/docker/docker/blob/v1.13.0-rc4/vendor/github.com/docker/libnetwork/sandbox_dns_unix.go#L191-L220

In case `--dns-search` is provided and `--dns` is not provided, `resolvconf.FilterResolvDNS()` will not be invoked to replace `localhost/127.*`.

I think the following diff may resolve the issue?
[code]

[2017-01-02 08:23] sanimej commented on #29815
@yongtang The block you referred to is where the issue is. But the fix needs to be more than calling `resolvconf.FilterResolvDNS()`. If any one of the dns configs `--dns`, `--dns-opt`, `--dns-search` is passed the code currently uses all the three from the user config to build the `resolv.conf`. Fix would be to use only the user provided config and take the rest from the host resolv.conf. Please p

[2017-01-02 08:41] thaJeztah commented on #29815
I guess we need some documentation around that as well, as the search-domain may be tied to the DNS server that's used, and which, in this example, is ignored/replaced by 8.8.8.8

[2017-01-02 08:50] Pierpaolo1992 opened #29817 "[Swarm] Manager and Workers in the same node"
Hi everyone, my goal is to setup a CDN using nginx container as proxy cache, so i looked for docker swarm for containers clustering.

For testing, i'd like using one only node, within 1 manager and some workers with nginx container replicas.

But, when i init swarm (`docker swarm init`) and created manager, then, when i try to create a worker on the same node, there is this problem:

[code]

So, f

[2017-01-02 09:09] thaJeztah commented on #29817
In a Swarm, each "node" is a "machine", this can be either a physical machine, or a "virtual machine".
You can run Swarm mode with a single node (single master), but if you want to try running with multiple nodes, you either need to have multiple machines, or start multiple virtual machines. For "testing" you could run `docker in docker` to mimic multiple nodes (see https://github.com/docker/swarm

[2017-01-02 09:09] #29817 closed

[2017-01-02 09:33] aijanai commented on #29588
Nope. Here are my rules after the restart:

[code]

[2017-01-02 09:37] thaJeztah commented on #22345
This looks like a duplicate of https://github.com/docker/docker/issues/21323, and according to https://github.com/docker/docker/issues/21323#issuecomment-259332004 should be fixed in docker 1.13

ping @jhowardmsft PTAL

[2017-01-02 09:43] thaJeztah commented on #29814
Because those are separate products. Instead of just producing an error that it cannot be installed, the team decided to add a more helpful message, and give a possible solution (i.e., install Docker Toolbox). System requirements can be found in the documentation for Docker for Windows; https://docs.docker.com/docker-for-windows/#/what-to-know-before-you-install

Please report exactly _what_ you r

[2017-01-02 09:43] #29814 closed

[2017-01-02 09:47] thaJeztah commented on #29588
ping @sanimej any ideas?

[2017-01-02 10:19] yongtang commented on #29815
Added a PR https://github.com/docker/libnetwork/pull/1606 in libnetwork. Please take a look.

[2017-01-02 10:20] thaJeztah commented on #29685
@Thanaton the V3 file format documentation was added in this pull request; https://github.com/docker/docker.github.io/pull/937 and will be published when docker 1.13 is released. Would you be interested in opening a pull request if you have suggestions on what to add to that documentation? The pull request should be opened against the `vnext-compose` branch; https://github.com/docker/docker.github

[2017-01-02 10:20] vitherman commented on #5618
AFAICT, this is a locking issue in the network namespaces subsystem of Linux kernel. This bug has been reported over a year ago, with no reply: https://bugzilla.kernel.org/show_bug.cgi?id=97811

I've tried pinging the network subsystem maintainer directly, with no response. FWIW, I can reproduce the issue in a matter of minutes.

[2017-01-02 10:28] thaJeztah commented on #29811
Yes, this is not a bug in Docker, but the way SSH sessions work, also see http://stackoverflow.com/questions/216202/why-does-an-ssh-remote-command-get-fewer-environment-variables-then-when-run-man, and http://www.linux-pam.org/Linux-PAM-html/sag-pam_env.html

As you found out yourself, the environment variables are present when `docker exec` is used.

I'll close this issue, because this is not a b

[2017-01-02 10:28] #29811 closed

[2017-01-02 12:39] aijanai commented on #29588
BTW, rolling baclk to 1.12.3 didn't restore the normal behaviour :/
Is this thing happening in 1.13 too?

[2017-01-02 12:47] alefesta commented on #29768
I had the same issues: solved reinstalling docker and the windows image. My environment now:
[code]

[2017-01-02 13:49] thaJeztah commented on #29588
fwiw, the iptables rules after "restart" look correct _if_ no container with published ports is running; are iptables rules correctly updated when a container is started that publishes ports? Also, what do the iptables rules look like in a situation where it _doesn't_ work correctly?

[2017-01-02 14:13] timthelion opened #29821 "Docker API reference doesn't define valid tags precisely"
https://docs.docker.com/engine/reference/commandline/tag/

[code]

What is a character? You mean ASCII Latin letters? The use of the word "character" is WRONG because a character refers to ANY code point! There is also more than one character referred to as dash and underscore in unicode. That needs to be specified properly too. I know you're probably referring to ASCII and not unicode, but you ne

[2017-01-02 14:16] aijanai commented on #29588
This is the chain DOCKER after first docker-compose up, working good

[code]

It stays the same even during malfunctions, so I'd exclude iptables

[2017-01-02 14:22] aijanai commented on #29588
Ok, maybe we got it: upon malfunction, **docker0 interface loses IP address**.

AFTER RESTART:
[code]

UPON MALFUNCTION:
[code]

AFTER NEW RESTART:
[code]

and it builds good.

So, what now? :)

[2017-01-02 14:32] thaJeztah commented on #29810
ping @zhuguihua PTAL

[2017-01-02 14:40] cpuguy83 commented on #14949
@tyanko1 Implementation is here: #28403

Still a few more things to deal with, but it works, I have a test logging plugin up on hub (See integration-cli test from the mentioned PR).
It supports both writing and reading, when the plugin specifies that it supports reading.

[2017-01-02 14:45] thaJeztah commented on #29821
Finding the right balance between "correctness" and "readability" can be hard; perhaps you're interested in opening a pull request to clarify that only ASCII `a-z` are accepted.

This feels like taking it too far, I think it's acceptable to keep that as-is.

[2017-01-02 14:59] thaJeztah commented on #29588
Could this be NetworkManager interfering? Do you have NetworkManager installed and running? (`systemctl status network-manager`). I think network manager is known to cause issues in some situations; also see https://github.com/docker/docker/issues/4453 (this post may be helpful; http://support.qacafe.com/knowledge-base/how-do-i-prevent-network-manager-from-controlling-an-interface/)

[2017-01-02 15:24] #22837 closed

[2017-01-02 15:28] aijanai commented on #29588
Yes, I do have it.
I'll disable it and try

[2017-01-02 15:30] beetree commented on #20625
Great feature request, sorry it's not being done. To give an idea, this page is the 6th result on Google if you search for `docker json`. People want this, consider adding it!

[2017-01-02 15:52] thaJeztah commented on #20625
@beetree looks like this is working with docker 1.13;

[code]

[2017-01-02 16:18] vdemeester commented on #29796
#29808 merged, closing this 👼

[2017-01-02 16:18] #29796 closed

[2017-01-02 16:22] vdemeester commented on #29765
/cc @aboch @mavenugo

[2017-01-02 16:31] beetree commented on #20625
Oh, nice. Thanks @thaJeztah

[2017-01-02 16:39] vdemeester commented on #29809
@yogiGueta thanks for the report. I can reproduce it with the following composefile. Working on a fix

[code]

[2017-01-02 18:46] ahmetalpbalkan commented on #13885
My `docker ps` hangs, but other commands like `info`/`restart`/`images` work just fine.

I have a huge SIGUSR1 dump below as well (didn't fit here). https://gist.github.com/ahmetalpbalkan/34bf40c02a78e319eaf5710acb15cf9a

- docker Server Version: 1.11.2
- Storage Driver: overlay
- Kernel Version: 4.7.3-coreos-r3
- Operating System: CoreOS 1185.5.0 (MoreOS)

It looks like I have a ton of these goro

[2017-01-02 18:49] cpuguy83 commented on #13885
@ahmetalpbalkan You look blocked waiting on a netlink socket to return.
This is a bug in the kernel, but 1.12.5 should at least have a timeout on this netlink socket.
If I had to guess, you'd have something in your `dmesg` output like `device_count = 1; waiting for <interface> to become free`

[2017-01-02 18:55] ahmetalpbalkan commented on #13885
@cpuguy83 yeah I saw the https://github.com/coreos/bugs/issues/254 which looked similar to my case, however I don't see those "waiting" messages in the kernel logs the person and you mentioned.

[2017-01-02 18:58] cpuguy83 commented on #13885
@ahmetalpbalkan Yay, for another kernel bug.
This is why we introduced the timeout on the netlink socket... in all likelihood you won't be able to start/stop any new containers, but at least Docker won't be blocked.

[2017-01-02 19:09] GameScripting commented on #13885
Is know what exactly IS the bug? Was the kernel-bug reported upstream? Or is there even a kernel version where this bug has been fixed?

[2017-01-02 19:12] cpuguy83 commented on #13885
@GameScripting Issue will have to be reported to whatever distro this was produced in, and as you can see we have more than 1 issue causing the same effect here as well.

[2017-01-02 19:33] aijanai commented on #29588
Nope. I've blacklisted docker0 from NM, as per screenshot:

[code]

But docker0 still loses the IP address

[2017-01-02 20:34] gkvijay opened #29829 "network name format in docker 1.13"
With the fix for issue #27449, docker 1.13 has a very strict check on the network names. This breaks some plugin implementations  that use the character '/' as a separator for encoding tenant name. Please allow some symbols like '/', ':', etc

[2017-01-02 21:37] thaJeztah commented on #29829
ping @mavenugo @tiborvass; also looks like the intent was to make this a versioned change https://github.com/docker/docker/issues/27449#issuecomment-256094323

[2017-01-02 22:05] timthelion commented on #29821
@thaJeztah I've create a PR which I think should make things clear. Sorry for the potentially nasty tone in the issue text. I was trying to be terse while explaining why the change is needed, but I think it reads in a mean way.

[2017-01-02 23:03] nroose commented on #23437
Mine was 254GB. Deleted and restarted.

[2017-01-02 23:04] kinghuang commented on #25356
I just encountered this on a Docker 1.12.5 swarm. One of the controller nodes was restarted by operations (not sure if clean or hard restart). The node is a RHEL 7.3 VM.

[code]

[2017-01-03 00:01] georgyturevich opened #29832 "Docker Daemon can not restart containers after Windows Server reboot"
**Description**

Sometimes our AWS Windows Server 2016 hangs and we have to reboot it from AWS console. After that Docker Daemon can not restart containers. Docker services is configured as "Automatic (Delayed start)".

When it begins to start on Windows boot I see in the Event log a lot of errors (Failed to register container {hash}: name is reserved):
[code]
Then a lot of information messages (R

[2017-01-03 00:15] ioggstream commented on #29430
Maybe OT but useful for docker users: use the fedora selinux policy package solved for me.

[code]

[2017-01-03 00:17] lrusak opened #29833 "Error response from daemon: linux init cgroups path: mkdir /init.scope: read-only file system"
**Description**

docker run fails to start the container

**Steps to reproduce the issue:**
1. use `docker run --rm armhf/hello-world`

**Describe the results you received:**

[code]

**Describe the results you expected:**

for the container to be run successfully

**Additional information you deem important (e.g. issue happens only occasionally):**

I think the error is a red herring. I'm not sur

[2017-01-03 00:58] yongtang commented on #29810
Added a PR #29835 for this issue. Please take a look.

[2017-01-03 01:00] marius311 opened #29836 "Overlay network not working between host and docker machine on same host."
I've followed the instructions [here](https://docs.docker.com/engine/swarm/swarm-tutorial/create-swarm/) to create a swarm / overlay network with two Vbox Docker machines running on the same host, and it works perfectly.

I'm now trying to have one Docker daemon be running inside a Vbox Docker machine, but the other (the manager) natively on the same host. (Fyi, the reason I'm doing this is becaus

[2017-01-03 01:41] ryanlyy commented on #27057
[root@cluster-misc ~]# /usr/lib/systemd/systemd --version
systemd 219
+PAM +AUDIT +SELINUX +IMA -APPARMOR +SMACK +SYSVINIT +UTMP +LIBCRYPTSETUP +GCRYPT +GNUTLS +ACL +XZ -LZ4 -SECCOMP +BLKID +ELFUTILS +KMOD +IDN
[root@cluster-misc ~]#

[2017-01-03 03:11] shotor commented on #25925
Same error using `docker 1.12.5` and `Ubuntu 16.04` with `aufs`.

Restarting docker service has no effect. Docker image builds fine elsewhere.

[2017-01-03 03:26] TimurKiyivinski commented on #16106
Just a suggestion, what about more bash-like syntax?
`docker pull {imagea,imageb,imagec}`
That shouldn't conflict the git-style remotes

[2017-01-03 04:12] sandyskies opened #29838 "docker ps hangs"
**Description**

docker ps hangs , and daemon 's stderr   report :containerd: 1e4323723caff73f8a4051a4b4a90a792af44dd4daf1316e2c2e8da92e706f28:164055780a76a813fb42745d5db09458389145f4ebdcc94819e5f0ece6355726 (pid 149038) has become an orphan, killing it"
I strace containerd, and found that some file is missing,and containerd is traped into endless loop
  [pid 67606] openat(AT_FDCWD, "/var/run/dock

[2017-01-03 04:13] hisapy commented on #13490
A think a solution would be to encrypt some parts of information passed from a `docker-compose` file.

For example, run `docker inspect` and the encrypted information should be displayed/marked as _encrypted_. Then `docker inspect --encryption-key some_key_file` would show all the encrypted info, unencrypted.

On the other hand, inside the containers apps should be able to implement different mech

[2017-01-03 04:17] ewnit opened #29839 "Got different ip in container and host using host network."
using `docker run -ti -d --name tracker --net=host ewnit/fastdfs sh tracker.sh` to run a container, but got different ip in container and host.

container ip is 192.168.65.2
but host ip is 10.87.2.224

in container running ifconfig:
[code]

but in host running the same command got:

[code]

And in container, I can ping host, but in host cannot ping container.
It is strange and I can't figure out.

[2017-01-03 04:55] tonistiigi commented on #25925
@shotor Can you put together a new reproducer script and full report data(you can create a new issue as well). We are quite confident that we traced some of the previous reports to storage dir having wrong mount propagation that was fixed with #27609 so this may be something quite different. Please include `cat /proc/$(pgrep dockerd)/mountinfo` as well when you get the issue.

[2017-01-03 05:38] MUI-Fazy commented on #29640
@tonistiigi
You were right, Inode value is changed but I am not sure which is changing it.

Any alternative way that I could do to prevent it from happening ?

[2017-01-03 06:08] fresheneesz commented on #15740
@thaJeztah Did you close this because either mapping the IP is impossible or undesirable? This was horribly confusing for me. I expected the behavior of docker to be identical on windows, max, and linux. That's part of the point right? Vagrant has no problem mapping localhost into a virtual machine, so why does docker?

If its possible to make this mapping work, can you please reopen this issue?

[2017-01-03 06:23] staticfloat commented on #13451
I just ran into this as well while trying to `./configure` a `tar` installation, quite annoying.  I can confirm this is still happening with `Server Version: 1.13.0-rc4`.

[2017-01-03 07:31] CocaCola183 commented on #12108
@tmm1 works for me

[2017-01-03 07:35] rajasekaran07 opened #29840 "awslog driver not taking docker image name, ecs service name and task definition"
Hello,

I am using awslogs driver to collect my ECS container logs but it is not taking ECS Service name, Container instance name, task definition and Docker image name.

The below are my log sample. Here I cant find docker image name, ECS Service name and task definition.

[code]

Someone kindly suggest how to proceed further.

Regards,
Raja

[2017-01-03 07:48] yogiGueta commented on #29809
Thank you.

[2017-01-03 07:53] thockin commented on #9983
This issue is almost 2 years old.  If you want to discuss kubernetes and
multi-tenancy, you should do that on the kubernetes repo, where we have
many interested parties.

On Thu, Dec 29, 2016 at 11:46 PM, JunneYang <notifications@github.com>
wrote:

[2017-01-03 08:11] jmzwcn commented on #29838
Did you try it with the latest release? such as 1.12.5?

[2017-01-03 08:29] #29772 closed

[2017-01-03 08:30] xianwei2016 commented on #29364
Hi @tswift242, is this means we can set extfs disk quota based on directory level just as the example I posted? Thanks very much.

[2017-01-03 08:31] YuPengZTE opened #29842 "syscall.GUID composite literal uses unkeyed fields"
**Description**

**Steps to reproduce the issue:**
1.go tool vet -all
2.
3.

**Describe the results you received:**
src\github.com\docker\docker\daemon\logger\etwlogs\etwlogs_windows.go:132: syscall.GUID composite literal uses unkeyed fields

**Describe the results you expected:**
go vet pass

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docke

[2017-01-03 08:32] jmzwcn commented on #29836
What is the host ip?

[2017-01-03 08:59] thaJeztah commented on #29842
Based on https://godoc.org/golang.org/x/sys/windows#GUID, this should probably be;

[code]

Did you want to open a pull request?

[2017-01-03 09:22] YuPengZTE commented on #29842
Thanks @thaJeztah.
 I have opened a pull request https://github.com/docker/docker/pull/29843

[2017-01-03 09:35] ziqingzhu opened #29844 "docker overlay network slow when request cross node in swarm mode"
**Description**

when I try to get data from redis in swarm mode, I found that if the server task and redis task on the same node, it can get the value quickly, if not, it will be slowly

**Steps to reproduce the issue:**
1.create a swarm mode cluster with two node, such as nodeA and nodeB
2.create an olverlay network with command:
`docker network create --driver overlay --subnet 10.0.3.0/24 --opt

[2017-01-03 10:13] vingrad commented on #25696
+1

[2017-01-03 10:23] Jaspreetc commented on #27580
@kenchenaz  There is an issue with Jfrog, please check with Jfrog, they were supposed to fix this by Dec 2016

[2017-01-03 10:47] justincormack commented on #29839
Host networking does not work as expected in Docker for Mac at present, as the "host" is the Linux virtual machine not the Mac. I believe there is already an issue for this in https://github.com/docker/for-mac/issues

[2017-01-03 10:54] thaJeztah commented on #29844
I don't think this is an issue in docker, but more related to the network performance between your nodes. Overlay networking _does_ have some overhead (so does the `encrypted`), but not this amount.

Trying to reproduce your issue;

When run on a different node than the `redis` service is running on;

[code]

When running on the _same_ node as the `redis` service is running on;

[code]

 What's th

[2017-01-03 10:56] ewnit commented on #29839
Sorry, I've searched already, never thought the platform would be the reason. Thanks for answering.

[2017-01-03 10:56] #29839 closed

[2017-01-03 11:38] thaJeztah commented on #29838
Also note that CentOS / RHEL 6 is no longer supported. I see you are running CentOS 6 with a 3.10 kernel, which _may_ work, but it's certainly possible there's issues with that combination. I'd recommend upgrading to CentOS 7

[2017-01-03 11:40] #25228 closed

[2017-01-03 11:41] thaJeztah commented on #29640
I think that's hard for us to tell; you need to find out what other software is running on that host that installs/overwrites `dockerd`

[2017-01-03 11:47] thaJeztah commented on #29829
@vieux adding this to the 1.13 milestone for now; we may need to decide if the validation should be loosened up

@gkvijay orthogonal to this issue, but would using "labels" be a solution?

[2017-01-03 12:21] atyu30 commented on #28377
# docker run -tid -p 80:80 nginx-server:v1
6447c6283c51f03328a34a8f99dcaa20afe7cda751246f4f8e82b7b4544c3127
docker: Error response from daemon: invalid header field value "oci runtime error: container_linux.go:247: starting container process caused \"exec: \\\"systemctl start nginx\\\": executable file not found in $PATH\"\n".

[2017-01-03 12:31] djs55 commented on #29636
@cpuguy83 sorry I missed your message before the holidays. I don't have the broken database unfortunately. Do you think it's something we should add to our diagnostics reports?

[2017-01-03 12:39] thaJeztah commented on #28377
@atyu30 please don't comment on closed issues;

In your case, this is expected, `systemd` requires additional privileges. Without those, it will not be able to run (IIRC, `--cap-add SYS_ADMIN`), however, it should also be the _main_ process of the container (running as PID1). In most cases though, systemd is not needed, and for an nginx server, simply start `nginx` as the main process (like is don

[2017-01-03 12:40] thaJeztah commented on #29832
ping @jhowardmsft @jstarks PTAL

[2017-01-03 13:04] thaJeztah commented on #29840
Docker 1.13 will add more options to the AWS logging driver, and allow you to set a custom "tag". See the pull request that implemented this; https://github.com/docker/docker/pull/27707, and the related documentation; https://github.com/docker/docker.github.io/pull/380.

Please note that the GitHub issue tracker is intended for reporting bugs and feature requests. For questions about _running_ doc

[2017-01-03 13:04] #29840 closed

[2017-01-03 13:26] thaJeztah commented on #29833
Error is coming from https://github.com/docker/docker/blob/96a84ed85a010c2cf6dc3308ae30e6594a519e59/daemon/oci_linux.go#L668 (actual error is caused here; https://github.com/docker/docker/blob/1dd941077653bc93ee4141c4d2bac90534678e3f/daemon/daemon_unix.go#L1200-L1204)

Which was added in https://github.com/docker/docker/commit/56f77d5ade945b3b8816a6c8acb328b7c6dce9a7

Looks like _at least_ that pa

[2017-01-03 13:46] aftakhan commented on #27727
Please suggest how to re-open?

[2017-01-03 14:01] realityone opened #29848 "docker network list API doesn't contain containers on swarms overlay network"
Hi there,

I found network list API will miss `Containers` field on swarm overlay network.
But a bridge network has `Containers` field correctly.

![wx20170103-215752](https://cloud.githubusercontent.com/assets/4059040/21609854/b16de8ac-d1ff-11e6-9487-d3c6d17f7445.png)

And overlay network's `Containers` field will be viewed at `/networks/{id:.+}` API.

![2017-01-03 9 57 18](https://cloud.githubus

[2017-01-03 14:02] bikashmishra100 opened #29849 "hcsshim::ImportLayer fail -- Installation of SDK 8 and 10 on windowsservercore image"
Hello,

I am using the below docker environment.

[code]

I am installing windows sdk via visual studio executable on docker image windowsservercore with the below command line. It is the community edition with version 14.0.6023.29133.
run vs.exe /quiet /norestart /AdminFile deployment.xml /log c:\vs.log

The installation fails with the below error.

re-exec error: exit status 1: output: time="201

[2017-01-03 14:07] thaJeztah commented on #29849
What version of Windows are you running on? Also, this may be related; https://github.com/docker/docker/issues/27019

ping @friism @jhowardmsft

[2017-01-03 14:13] bikashmishra100 commented on #29849
I am running on windows 2016. OS Build 14393.321

[2017-01-03 14:21] thaJeztah commented on #29848
Thanks for reporting. This is a known limitation currently for swarm mode overlay networks. There is an issue tracking this already (with some additional information); https://github.com/docker/docker/issues/24186

I'll close this issue, because it's a duplicate of https://github.com/docker/docker/issues/24186, but please subscribe to that issue to stay informed on updates

[2017-01-03 14:21] #29848 closed

[2017-01-03 14:23] friism commented on #15740
@fresheneesz With Docker for Windows, Linux containers with mapped ports are available on `localhost`: https://docs.docker.com/docker-for-windows/#/step-4-explore-the-application-and-run-examples

[2017-01-03 14:34] rhatdan commented on #29751
Yes this looks like it is a kernel issue.

[2017-01-03 14:49] thaJeztah commented on #29801
Note that there's an environment variable that can be set to hide the "legacy" commands; https://github.com/docker/docker/pull/29803.

[2017-01-03 14:56] pires commented on #28401
@jhowardmsft so this shouldn't be closed? It affects Docker behavior. Is it at least documented as a limitation from Microsoft?

[2017-01-03 14:57] thaJeztah commented on #28756
https://github.com/docker/docker/pull/29073 was merged, so closing this

[2017-01-03 14:57] #28756 closed

[2017-01-03 15:31] binarytemple commented on #13490
The purpose is for my (really, really, really common) use case is build a
software project from a git server that requires authentication, both for
the project and its dependencies. Rocker has nailed it by allowing to mount
a file or directory during build (in this case a SSH agent socket)

On Tue, 3 Jan 2017, 04:14 Hisa, <notifications@github.com> wrote:

[2017-01-03 15:35] mlaventure commented on #26495
@volnet @jcf would you mind checking the mount options for the partitions as suggested by @Mhedivh ?

[2017-01-03 15:47] mlaventure commented on #29704
@amolrajoba if you can reproduce it consistently, could you activate the debug logs in the daemon, reproduce it an provide the daemon logs?

You can add `debug: true` to `/etc/docker/daemon.json` and send a `SIGHUP` to the daemon pid.

I had no luck reproducing it locally so far. Can you double check that the container is actually running after the restart operation too?

Thanks

[2017-01-03 15:51] thaJeztah commented on #27727
The value shown in `docker stats` is rounded to 2 decimals;
 16268376 kB * 1024/1000000000 = 16.658817024 (is 16.66 after rounding). You can get un-rounded numbers through the API;

[code]

A container is not a VM; depending on the [storage driver that's used](https://docs.docker.com/engine/userguide/storagedriver/imagesandcontainers/), page cache can be shared between containers, which makes them

[2017-01-03 15:57] friism commented on #29849
@bikashmishra100 can you confirm that your system is fully updated?

[2017-01-03 16:05] cpuguy83 commented on #29636
@djs55 Could be helpful. Note that networks also have a db file as well.

[2017-01-03 16:32] tomaspinho commented on #6047
This is still an issue on v1.12.1 with ubuntu 16.04 as both host and container.

chmod THEN chown:

[code]

chown THEN chmod:

[code]

[2017-01-03 16:41] Guilhermeslucas commented on #15020
I'm having the same issue running Jenkins on a Docker Container. Someone know how to fix it? Thanks!

[2017-01-03 16:59] thaJeztah commented on #6047
@tomaspinho possibly an issue in the aufs kernel module; see https://github.com/docker/docker/issues/20240#issuecomment-244639386, and https://github.com/docker/docker/issues/24660

[2017-01-03 17:01] mlaventure commented on #29631
@hmdhasani do you have daemon debug log around the time that issue occurred?

[2017-01-03 17:05] mlaventure commented on #29748
@sandyskies can you start the daemon in debug mode and provide the log when this occurs?

This might be due to `--live-restore` being used, after the failure could you try again without it being activated?

[2017-01-03 17:06] tomaspinho commented on #6047
@thaJeztah thanks, but it's easier to just change the Dockerfile, as monkeypatching kernel modules is not an option in my environment. Just left this as docs for other people that may be facing the same

[2017-01-03 17:25] mlaventure commented on #29635
@RRAlex I'd say your issue is different than the one initially reported here, could you please open a new issue with all the details asked by the template?

[2017-01-03 17:26] georgyturevich commented on #29832
Hello all,

I have some extra information.

It stoped first time because of panic error. I run dockerd with -D flag and at the end it show me following error

[code]

So. Docker was unable to mount all VHDs for all container but did not have a change to complete a start. If I try to start service second time it shows `hcsshim` errors (as I described in above post) for every container because VHDs

[2017-01-03 17:26] mlaventure commented on #29635
@piontec could you set the daemon in debug mode and provide the logs there onwards?

You can do so without restarting the daemon by adding `debug: true` in `/etc/docker/daemon.json` and sending a `SIGHUP` to the daemon.

Thanks

[2017-01-03 17:28] mlaventure commented on #26768
@davidjwilkins please open a new issue with all the information requested in the template so we can have a proper look.

Thanks.

[2017-01-03 17:37] jhowardmsft commented on #28401
@pires I've asked @patricklang to ensure it gets documented in the Microsoft documentation. The bug isn't fixed though, but there's nothing that can be done in the docker code-base itself to fix it which is why this issue is closed here.

[2017-01-03 17:44] mlaventure commented on #29700
Issue 1 is the expected behavior
Issue 2 should be fixed from 1.12.3 onward if I'm not mistaken.

Please update to 1.12.5 to fix the later.

To avoid the former ensure you close the new background process IOs, for instance :
[code]

[2017-01-03 17:47] mlaventure commented on #29794
@garystafford could you set the daemon in debug mode (add `debug: true` to `/etc/docker/daemon.json` and send a `SIGHUP` to the daemon), try the exec again and provide the daemon logs?

Also can you confirm that the process associated with `b17a8574bb5b        garystafford/voter-service:latest              "/.r/r java -jar vote" ` is actually alive via `ps`?

Thanks.

[2017-01-03 17:48] mlaventure commented on #29598
@casevilus #29643 will fix it.

[2017-01-03 17:49] jhowardmsft commented on #29768
Let's try and rule some things out.  First one being networking. Try `docker run --rm --net=none microsoft/nanoserver cmd /s /c echo hello`.

If that works, and fails when you don't include the `--net=none`, can you stop the daemon `net stop docker` and run it manually from an elevated command prompt with debugging enabled `dockerd -D` so we can get the debug logs out easily to give more clues as

[2017-01-03 17:57] tianon commented on #28872
I don't remember the reasoning behind this. :disappointed:

Does it work as expected if an explicit `--sig-proxy` is specified as well?

[2017-01-03 18:05] thaJeztah commented on #28872
Looks like that code overrides it at all times, but I can double check

[2017-01-03 18:07] georgyturevich commented on #29832
It seems it is related to the GO
issue [syscall: panic within syscall_windows.go Readlink](https://github.com/golang/go/issues/15978) which was fixed in https://github.com/golang/go/commit/e65bce7144dbced232df8842ef6825d7e45f094e for Go 1.8

Will try to debug Docker Daemon to understand a reason. Maybe someone else also has some ideas about possible workaround?

[2017-01-03 18:12] #29842 closed

[2017-01-03 18:15] pires commented on #28401
👍

[2017-01-03 18:22] ebuildy commented on #24781
@cwolfinger it seems not fixed yet right?

[2017-01-03 18:23] jhowardmsft commented on #22345
@thaJeztah Not sure what you're asking? 😇

[2017-01-03 18:24] thaJeztah commented on #24781
@ebuildy if you're still having this issue, best place to report is https://github.com/docker/for-mac/issues, which is the issue tracker for docker for mac

[2017-01-03 18:26] spkane commented on #9605
@felixbuenemann Would you be willing to share the process that you used to do this? Or point to some decent documentation?

[2017-01-03 18:41] glensc opened #29853 "add DEFATTR for COPY/ADD"
originally proposed here: https://github.com/docker/docker/pull/28499#issuecomment-270050669

i'm also proposing `DEFATTR` so that if you use multiple `COPY` or `ADD` you don't have to repeat the options:

[code]

`chmod` is a bit tricky because you definetely want different permissions for files and dirs:
[code]

these would rise the `x` bit only if `x` bit is present for any of the users: `chmod

[2017-01-03 18:45] aaronlehmann commented on #16106
The problem with this is that it uses metacharacters which are normally interpreted by the shell. The argument would have to be quoted to prevent the shell from transforming it into something else. In theory it works, but I suspect it would be confusing.

[2017-01-03 18:51] shotor commented on #25925
@tonistiigi: Thanks for your response.

Just to be sure, do you mean: Create and run a new Dockerfile including the command you posted. Then create an issue with the entire output?

[2017-01-03 18:53] RRAlex opened #29854 "dockerd doesn't seem to recover from low memory on host"
**Steps to reproduce the issue:**
TL;DR: It seems like the Docker daemon can't recover from a low memory situation and is even timing out trying to kill containers or a simple `docker ps`.

I have an issue where, after a low memory situation, `docker stats` only gives empty output, all the container fall in `unhealthy` mode, `docker ps` is stuck, etc. Even when something gets OOM-ed (container via

[2017-01-03 18:58] aaronlehmann commented on #25356
Cross-post from #26487, which is about the same panic:

There has been some recent progress on understanding this panic. https://github.com/docker/swarmkit/pull/1815#issuecomment-267703760 explains three cases which are thought to cause it. That PR fixes one of the cases, and https://github.com/docker/swarmkit/pull/1820 fixes another. The third case is downgrading from 1.13 to an earlier version,

[2017-01-03 19:07] jhowardmsft commented on #29209
What about is the warning was written to `Out()` rather than `Err()` - would that work? I think that's strictly OK as it's not really an error...  Easy change to make, happy to do it.

[2017-01-03 19:07] jhowardmsft commented on #29209
@thaJeztah ^^

[2017-01-03 19:07] TheFriendlyCoder opened #29855 "Add support for customizing the list of "default" build arguments supported by docker build"
As has been mentioned in this pull request, it appears that currently any custom build arguments provided to 'docker build' (ie: using the --build-arg parameter) must have an associated 'ARG' declaration in the dockerfile for the parameter to be used, except for several specific parameters which are somehow 'whitelisted' and thus do not require an associated declaration in the dockerfile.

As has

[2017-01-03 19:13] #29447 closed

[2017-01-03 19:13] #29471 closed

[2017-01-03 19:13] #29473 closed

[2017-01-03 19:15] thaJeztah commented on #29209
I'm not against that, generally, the "security" implication of this is not too big, so from that PoV, sounds ok.

Would there be cases where people want the literal output that's printed by the _build_ process, and where adding the warning to that output could be a problem?

[2017-01-03 19:15] aboch commented on #29765
@makersphereLabs  you sure this is the right syntax ?
[code]

The error says the IP address is not in the host where the http app is being scheduled

[2017-01-03 19:25] thaJeztah commented on #29854
ping @mlaventure

[2017-01-03 19:26] tonistiigi commented on #25925
@shotor No, create a new issue with your own reproducing steps. That includes `COPY ./dist /var/www` but this line itself doesn't seem to be enough to cause the problem. Include daemon logs and output of `docker version && docker info` with your report and also include the output of `cat /proc/$(pgrep dockerd)/mountinfo`. This command lists all the mountpoints visible to the docker daemon process.

[2017-01-03 19:28] thaJeztah commented on #29855
/cc @icecrime @duglin

[2017-01-03 19:33] shotor commented on #25925
Okay, I can run with that. Cheers!

[2017-01-03 19:33] jhowardmsft commented on #29209
@thaJeztah It's a case of the devil you know or the devil you don't. I can't see if anyone could answer that question.

[2017-01-03 19:35] thaJeztah commented on #29209
Let's see then :smile:

[2017-01-03 19:43] jhowardmsft commented on #29209
https://github.com/docker/docker/pull/29856

[2017-01-03 20:09] dnephin commented on #29761
The flag trimming behaviour is really unusual, and I would say unexpected. I think removing it is generally the right idea. Since we have one very common case where it's necessary for backwards compatibility we need to add a special case, but I don't think we should apply that case to every flag.

[2017-01-03 20:45] eliassal opened #29860 "No Gateway attributed when doing inspect container"
Hi, I spin a container (docker on win 10, not win for docker), container gets up and running and can access it in the browser using its internal IP. I did a

I don't see that it has a gateway, all details in the thread
https://github.com/Microsoft/Virtualization-Documentation/issues/526#issuecomment-270212954

[2017-01-03 20:50] PatrickLang commented on #25209
This is also going to be especially important for Windows containers that need to run as [service accounts](https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-containers/manage-serviceaccounts). We need the `--security-opt "credentialspec=..."` to be passed through without modifications for this to work.

CC @anweiss @friism

[2017-01-03 20:52] PatrickLang commented on #25209
`--isolation=...` is also going to be important. When someone deploys a service, they may need to use `--isolation=hyperv` for compliance or compatibility reasons. This setting should also be service-specific and not host-wide.

[2017-01-03 21:06] thaJeztah commented on #29860
I think this is a duplicate of https://github.com/docker/docker/issues/26799, and will be addressed by https://github.com/docker/docker/pull/26880, but ping @aboch to check (in case this is different on native Windows containers)

[2017-01-03 21:10] thaJeztah commented on #22345
@jhowardmsft i couldn't find the exact change that fixed the linked issue; perhaps you know more, and can confirm if this issue should be fixed

[2017-01-03 21:21] thaJeztah commented on #29853
/cc @icecrime @duglin

[2017-01-03 21:27] tonistiigi commented on #29520
@allencloud My suggestion would be to set the state to error if `ListNodes` fails in https://github.com/docker/docker/blob/ef9935ce8f4acf5d53db0a2f9621f9135aed442b/daemon/cluster/cluster.go#L751 instead of ignoring it and not showing the other values on client side if error state is returned.

[2017-01-03 21:33] tonistiigi commented on #29838
@sandyskies Please send `SIGUSR1` signal to daemon process and post the stacktrace printed to the logs instead. Strace output isn't very useful in cases like this.

[2017-01-03 21:39] eliassal commented on #29860
This is happening on  native windows containers on docker

[2017-01-03 21:58] PatrickLang commented on #28401
I'd still like to know more about how you'd like to use symlinks though. Do they need to cross to another Windows volume (drive letter or mount point, not -v), will the target be another path that's also bind mounted (Docker -v), file, folder, or both?

[2017-01-03 22:09] sirlp2 commented on #28564
I am having the same issue.  I have a service with 1 replica and after a period of time every other request times out.

OS: Oracle Linux Server 7.2
Docker version 1.12.3, build 6b644ec

Scaling the service down to 0 replicas and back up - issue is still present.

Dig shows only one entry:
[code]

Behavior seen
[code]

[2017-01-03 22:11] fresheneesz commented on #15740
I see, well "Docker for Windows" isn't available on windows home edition (since it doesn't have hypervisor) so I'm forced to use docker-toolbox.

[2017-01-03 22:27] jarro2783 commented on #28872
No it doesn't work with `--sig-proxy`. I modified my local docker, commenting out those lines, and it still doesn't work. So maybe there is something else going on as well.

On a related note, if the docker client were to crash, or be `kill -9`ed, I feel like having a terminal connected should also result in a SIGHUP, since that is effectively what has happened.

Also can someone explain to me wha

[2017-01-03 22:48] duglin commented on #29853
I know @glensc mentioned that he didn't want to modify USER (see https://github.com/docker/docker/pull/28499#issuecomment-270110964) but my concern with adding DEFATTR is that it feels kind of clumsy.

If we were to modify USER such that it meant "from this point on do all operations as THIS user" then we wouldn't need a --chmod or DEFATTR (at least for ownership).  I also tend to think that it ma

[2017-01-03 23:04] mmilata opened #29865 "api: no documented way to get digest when pushing image"
I would like to save image digest after I push it to a registry. One way is to do the push and then inspect the image and look at `RepoDigests`. Other way, which doesn't need the second api call and is therefore less prone to a race conditions, is to extract the digest from the JSONs in the response to [POST /images/(name)/push](https://docs.docker.com/engine/reference/api/docker_remote_api_v1.24/

[2017-01-03 23:21] #29761 closed

[2017-01-03 23:28] PatrickLang commented on #29860
ping @Kallie-b @jmesser81 @msabansal - have you seen this problem?

[2017-01-03 23:38] gkvijay commented on #29829
@thaJeztah, we could use labels to encode tenant name, but that would not let multiple tenants create networks with the same network name

[2017-01-03 23:47] thaJeztah commented on #29865
/cc @tonistiigi

[2017-01-04 01:03] databill commented on #13331
--pull
+1 for this feature

[2017-01-04 01:25] PatrickLang commented on #27537
I'm pinging some devs internally on this. Can you add PHP or IIS to the title to make it easier to find? Something like "Cannot serve PHP pages from mapped volumes in Windows Server 2016 with IIS"

[2017-01-04 01:31] ziqingzhu commented on #29844
I test the bare networking performance between two nodes with `iperf`, it looks well, here is the result:

[code]

[2017-01-04 01:39] mavenugo commented on #29844
@ziqingzhu What does `r.hgetall('public_child')` return ? Do you know if it will result in packets that will require higher MTU ? Overlay network by default will have `1450 - {Encrypted tunnel header}` as the MTU size. Have you tried increasing the MTU of the overlay network ? using `-o com.docker.network.driver.mtu {YOUR_MTU}` ?

[2017-01-04 02:44] computerwan opened #29868 "can't start docker service in ubuntu"
**Description**

**Steps to reproduce the issue:**
i use ubuntu16.04 and vmware workstation12.5.2，and use proxy to connect Internet
everything is fine when i install it ,but when some time late,some wrong happens,like this:
when i restart docker daemon,it will be fine for some time,but late this wrong will happens again.

dock ps
[code]

service docker status
[code]
i try many solutions,but fail,i

[2017-01-04 03:09] ziqingzhu commented on #29844
I recreate my overlay network with opthion
[code]
but it doesn't work, the `get_data_time` is the same as before
I also tried to deploy the redis on local host nodeA, then the `get_data_time` almost the same
[code]

[2017-01-04 03:11] petehunt commented on #5618
Smyte will pay $5000 USD for the resolution of this issue. Sounds like I need to talk to someone who works on the kernel?

[2017-01-04 03:56] ziqingzhu commented on #29844
In order to exclude the problem of  `r.hgetall('public_child')`, I replace it with `r.keys()`, here is the new result:
[code]

[2017-01-04 05:12] prashantabkari opened #29870 "Docker pull hangs while trying to pull the registry"
While trying to deploy the registry the docker pull hangs and it is stuck and is not coming out
[root@centos-master progs]# /bin/docker run -d -p 5000:5000 --restart=always --name registry registry:2
Unable to find image 'registry:2' locally
Trying to pull repository docker.io/library/registry ...
2: Pulling from docker.io/library/registry
b7f33cc0b48e: Downloading [>

[2017-01-04 05:48] rajasekaran07 opened #29871 "Unable to use tcp in --gelf-address"
Hello,

We are running our application in AWS ECS and we are trying to collect our container logs via TCP port using gelf log driver. But if I used TCP in --log-driver-options --gelf-address tcp://ipaddress:port my container is not starting.

docker: Error response from daemon: gelf: endpoint needs to be UDP.

Kindly suggest how to use TCP in gelf-address option.

My docker version is 1.12

Regard

[2017-01-04 06:40] allencloud opened #29872 "filter driver in `docker volume ls` is awkward"
**Description**

When I use an incorrect filter in `docker volume ls`, it reports all volumes.

**Steps to reproduce the issue:**
1. `docker volume create `
2. `docker volume ls`
3. `docker volume ls -f driver=a`

**Describe the results you received:**
[code]

**Describe the results you expected:**
None output since there is no volume with a driver of `a`.

**Additional information you deem import

[2017-01-04 06:48] ziqingzhu commented on #29844
It is normal when create overlay network without option `encrypted`
So the opt `encrypted` make the overlay network performance poor?

[2017-01-04 07:14] yashgt opened #29873 "Unable to build simple docker image"
I am following the instructions to build my image as given in :
https://www.ibm.com/developerworks/community/blogs/messaging/entry/introducing_a_docker_image_for_mq_advanced_for_developers?lang=en

**Steps to reproduce the issue:**
1. Create a dockerfile as
FROM ibmcom/mq
COPY config.mqsc /config.mqsc

2. Build the image
[root@dockervm1 mq]# docker build -t usp_docker_poc/mq .

**Describe the resu

[2017-01-04 08:30] ricemouse commented on #2174
I also have this issue, tried most of the solutions above but it didn't help.

$docker run -p 8080:80 -itd swagger-ui-builder
$netstat -anp|grep 8080
$tcp6       0      0 :::8080                 :::*                    LISTEN      -

My system information:
$ docker --version
Docker version 1.12.3, build 6b644ec
$ lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    U

[2017-01-04 08:37] BambooAce opened #29875 "Why docker images File descriptors always keep 65535?"
**Description**

**Steps to reproduce the issue:**
1. I tried to move WebSocket server into Debian Docker image.
2. run Docker image with --ulimit nofile=500000:500000 and into container use ulimit command to check it , it works.
3. When i run clients about 100000, it only keep 65535 connections.
4. I also tried to modify /etc/init/docker.conf rlimit, but it not work, keep 65535
5. And my websocke

[2017-01-04 09:06] garagatyi commented on #29756
I'll try to explain what if happening in our system from docker POV.
We have users. Each of them may create some containerized environment.
These environments are created in parallel. Amount of parallel threads is not limited, but not very high for now.
All operations are performed over Docker Swarm  (old one).
Also Swarm is NOT connected to KV at all, e.g. uses file for nodes list lookup.
Creatio

[2017-01-04 09:09] YummyPeng commented on #29868
Can these commands help you? :point_right: [#17846 (comment)](https://github.com/docker/docker/issues/17846#issuecomment-155233858)

[2017-01-04 09:51] thaJeztah commented on #29875
Could this be limited by something else (not `nofile`), e.g.

[code]

[2017-01-04 10:09] marius311 commented on #29836
Which IP exactly? If you mean on the host-only network (vboxnet0) its 192.168.99.1. I'm not sure it's local IP at the time of the above tests and I don't currently have my laptop on that same LAN, but I could repeat the tests and let you know if you think that's an important detail.

[2017-01-04 10:10] sanimej commented on #28836
Yes, this fix will be available in 1.13.0.RC5. Please give it a try and confirm that the issue is addressed.

[2017-01-04 10:26] thaJeztah commented on #29868
I suspect your `$DOCKER_OPTS` may contain a value that causes this;

[code]

Note that the `$DOCKER_OPTS` environment variable is not used in the official packages; are you perhaps running a version of docker that's packaged by Ubuntu?

The recommended way to configure daemon options is to use a `daemon.json` configuration file;
https://docs.docker.com/engine/reference/commandline/dockerd/#/daemon

[2017-01-04 10:26] #29868 closed

[2017-01-04 10:37] JamieGarside opened #29876 "--cluster-advertise=eth0:2376 may not work with current systemd unit files"
**Description**
With the current systemd unit file, using the `--cluster-advertise` flag of the form `adapter:port` may not work correctly, as the network may not have been configured by the time the Docker daemon starts and hence the daemon cannot obtain the IP address to bind to.

The root cause of this issue is that the unit file only specifies that Docker must be started after `network.target`

[2017-01-04 10:49] thaJeztah commented on #29871
I think GELF only supports UDP; see http://docs.graylog.org/en/2.1/pages/gelf.html (and the [library that's used](https://github.com/Graylog2/go-gelf/#go-gelf---gelf-library-and-writer-for-go)

ping @mariussturm

[2017-01-04 10:49] hmdhasani commented on #29631
@mlaventure currently no but I will get that

[2017-01-04 11:08] jmzwcn commented on #29836
The --advertise-addr flag configures the manager node to publish its address. The other nodes in the swarm must be able to access the manager at the IP address.

Not sure if this 10.0.2.2 could be access by 192.168.99.1?

[2017-01-04 11:40] henryw374 commented on #22736
a possible alternative it to tell gcplogs to parse log messages as json. then users can use a logging encoder to record timestamp, severity fields etc as required by google cloud logging.

[2017-01-04 11:42] jcf commented on #26495
@mlaventure I have `noexec` set on `/var/lib`.

[code]

[2017-01-04 11:42] hmdhasani commented on #29689
I have tested on a stronger system( VM with Intel Xeon E5620 2.4 and 20GB of RAM, non SSD) and I've got around 6-11 seconds (few cases more than 15 seems to be result of cache miss).
Docker for windows is a great feature that made our life simple and this startup delay does not count in longtime cases like IIS, but many times we want to do a short time task and in these cases this delay matters.

[2017-01-04 11:52] hmdhasani commented on #29706
no one on this? :(

[2017-01-04 12:10] ozlatkov commented on #12603
Great troubleshooting, @randunel . Thanks a lot - helped me figure out the situation as we're also experienced absolutely the same situation with the very same straces/tcpdump captures as shown above.

Anyone heard about any plans for having this addressed?
Strange thing is that there are no updates from August,2016 considering that DNS resolution is so unreliable that it cannot be trusted at all.

[2017-01-04 12:21] mariussturm commented on #29871
Yes right, currently only UDP is supported.

[2017-01-04 12:26] thaJeztah commented on #29706
If I understand correctly, your goal is to create a MySQL image, with a "default" database inside the image, so that users can start the image, and have the default database?

Correct, sleep is not the correct solution; you should have a script that checks if the database is available to take requests, and retry otherwise.

I don't think this will solve much; again, if I understand correctly, the

[2017-01-04 12:35] thaJeztah commented on #29871
Thanks @mariussturm

@rajasekaran07 given the discussion above, I'm closing this issue, because it cannot be implemented in docker currently. Feel free to ping me though if it's implemented in GELF at some point.

Also note that we are working on an option to have _external_ logging driver plugins (see https://github.com/docker/docker/pull/28403), which would more easily allow to add custom loggin

[2017-01-04 12:35] #29871 closed

[2017-01-04 12:46] #29594 closed

[2017-01-04 12:52] evilive3000 commented on #19990
Should binded volume disappear(unmount) after `docker-compose down`?

I still have the copy of binded volume after calling `down`, and next `ups` does not change it content.

I did bind via `driver_opts`.

[2017-01-04 12:56] thaJeztah commented on #29870
It looks like you're running a Red Hat fork of docker. That fork contains a lot of modifications from the official packages (https://github.com/docker/docker/compare/v1.10.3...projectatomic:rhel7-1.10.3), which may well be related, and we cannot support those versions. Also, docker 1.10.3 is no longer maintained.

Are you also having this issue if you install the official packages? https://docs.do

[2017-01-04 12:59] thaJeztah commented on #29873
Can you add the information that was requested in the issue template; https://raw.githubusercontent.com/docker/docker/master/.github/ISSUE_TEMPLATE.md

Without this information, we won't be able to look into your issue.

[2017-01-04 13:02] thaJeztah commented on #29876
Actually, there's an open pull request adding this; https://github.com/docker/docker/pull/29727. I see it does not add `Wants=network-online.target`; do you think that's important to add?

[2017-01-04 13:09] JamieGarside commented on #29876
Aha, sorry, I had only searched issues when looking around :)

I think technically you should, since networking being alive is a dependency of Docker, so you'd want to also start networking with Docker, and `networking-online.target` isn't a passive dependency of Docker. The link I added above also suggests adding both `Wants` and `After`.

[2017-01-04 13:13] JamieGarside commented on #29876
These changes would also need making in Docker-Machine too though, or by resolving this bug: https://github.com/docker/machine/issues/3750

[2017-01-04 13:13] przemyslaw-budny opened #29879 "BUG kmalloc-256"
**OS is rebooting while making LVM snapshots**
Problem started since version 1.12.2 (version 1.12.1 works well). The container does not matter, the same situation is when I use official mysql either elasticsearch.

Below is the part of the information from journal
[code]

**Steps to reproduce the issue:**
[code]

Now I can see some data about this container in the directory /sys/kernel/slab/. In v

[2017-01-04 13:28] hmdhasani commented on #29706
@thaJeztah this is only one of my needs and there are many other cases that a server like app must be running to be configured or initialized.
There are 2 downside for that kind of solutions:
1) We must relay on publisher solution for that kind of needs. currently most of server likes images (postgres, solr, redis, cassandra, sentr ,... ) does not provide such a solution and MySQL did it recently.

[2017-01-04 13:31] afrazkhan opened #29880 "API /services/[SERVICE]/update Endpoint Broken with Custom Network"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Use the commands below to provide key information from your environment:
You do NOT have to include this information if this is a FEATURE REQUEST
-->

**Description**

When using the `/services/[SERVICE_NAME]/update` endpoint, it fails with "changing network in service is

[2017-01-04 13:35] alex12Douze opened #29881 "Docker causing memory leaks with distcc"
**Description**

I want to use distcc inside docker to compile c++ but there are huge memory leaks. And the used memory is never free, even if I stop the container or the docker daemon.

**Steps to reproduce the issue:**
1. I'm using this Dockerfile with [Tini](https://github.com/krallin/tini)

[code]

And this entrypoint script:

[code]

2. My container starts well on my server:

[code]

3. Then

[2017-01-04 13:52] marius311 commented on #29836
Thanks, so yes, from inside the VM I can ping 10.0.2.2 and I get the host (which is the swarm manager). Also, the swarm itself is working fine, its just the overlay network that is not working in this configuration.

I have also tried with `--advertise-addr 192.168.99.1` but in this case neither the overlay nor the swarm works.

[2017-01-04 13:57] thaJeztah commented on #29881
ping @justincormack @cpuguy83 ptal

[2017-01-04 14:00] rajasekaran07 commented on #29871
@thaJeztah @mariussturm Can we add additional tags in awslogs driver. Because while taking logs using awslogs driver we are getting minimal information. (Only container ID), How can I take image name, container name and host IP.

Regards,
Raja

[2017-01-04 14:03] unclejack commented on #29881
How did you reach the conclusion there's a memory leak involved? It seems devicemapper with loopback mounted block devices is used. The warning `WARNING: Usage of loopback devices is strongly discouraged for production use. Use `--storage-opt dm.thinpooldev` to specify a custom block storage device.` states this is an issue.

[2017-01-04 14:05] justincormack commented on #29881
Yes agree with @unclejack you have shown no evidence of memory leaks, can you show that measurements of memory usage that you used?

[2017-01-04 14:08] mariussturm commented on #29871
@rajasekaran07 what is the awslogs driver? Anyway this is a support question that should go the IRC channel or mailing list. GH issues are used for bug reports in Docker itself. Thanks.

[2017-01-04 14:11] thaJeztah commented on #29871
@rajasekaran07 more options coming to the awslogs driver in docker 1.13, see https://github.com/docker/docker/pull/27707, and https://github.com/docker/docker.github.io/pull/380

[2017-01-04 14:11] rajasekaran07 commented on #29871
@mariussturm awslogs driver is a log collector, which stream docker logs to AWS Cloudwatch log group. But it only taking container ID. I am trying to get all docker information like image name, host ip.. etc...
Thanks,
Raja

[2017-01-04 14:15] thaJeztah commented on #29836
Is `--listen-addr 127.0.0.1:2377` correct? Does it work with `--listen-addr 0.0.0.0:2377`?

[2017-01-04 14:18] cpuguy83 commented on #5618
@petehunt I believe there are multiple issues at play causing this error.

[2017-01-04 14:27] realityone opened #29882 "Are we forgetting `docker secret update` command in cli?"
Hi there,

I'm trying to use docker secret to manage our private keys, but I find that we support `/secrets/<id>/update` in API,  but no `docker secret update` command in cli, even in client.

- https://github.com/docker/docker/blob/master/client/interface.go#L164
- https://github.com/docker/docker/blob/master/api/server/router/swarm/cluster.go#L50

Are we just forgetting it or it's by designed?

[2017-01-04 14:39] thaJeztah commented on #29880
This is expected. The services API expects the full definition of the service to be sent on update. If the service was _created_ with a custom network, but the _update_ does not contain that network, then effectively, the "update" is trying to change the network from "my-custom-network" to the "default" network. Given that changing networks (currently) isn't supported, this produces an error.

You

[2017-01-04 14:39] #29880 closed

[2017-01-04 14:44] marius311 commented on #29836
With `10.0.2.2` as the advertise-addr I get

[code]

With `192.168.99.1` as the advertise-addr, it works, i.e.

[code]

However the behavior in this case is exactly the same as with `--advertise-addr  10.0.2.2 --listen-addr 127.0.0.1:2337`, i.e. the swarm works but not the overlay network.

[2017-01-04 14:45] realityone commented on #29882
Oh, this is by designed at https://github.com/docker/docker/blob/master/daemon/cluster/secrets.go#L109.

[2017-01-04 14:45] #29882 closed

[2017-01-04 14:47] thaJeztah commented on #29882
I think updating is currently an API only feature; the secret (data) itself is immutable, and only "labels" can be updated.  We decided that having a `secret update` command would be more confusing than "not" having this, so (at least for now) updating through the CLI is not implemented.

Thanks for checking though, and paying attention :smile: 👍 !

[2017-01-04 14:49] cpuguy83 commented on #22736
Definitely -1 to applying a regex to each log message.

[2017-01-04 14:50] thaJeztah commented on #29836
Overlay networking uses these ports; https://docs.docker.com/engine/swarm/swarm-tutorial/#/open-ports-between-the-hosts so looks like the issue is there. Perhaps there's other things at play, not sure

[2017-01-04 14:53] cpuguy83 commented on #29879
This is either a kernel bug or a hardware failure.
Please make sure to report this to the centos team.

[2017-01-04 14:53] marius311 commented on #29836
I think you must be right. Does the output from `nmap` above look like its supposed to? Any other diagnostics I can run?

[2017-01-04 14:54] afrazkhan commented on #29880
Aha, I thought it might be something like that.

Are you then saying that services that have a custom network can not be updated via the API (since that endpoint does not take the full spec)?

[2017-01-04 15:05] thaJeztah commented on #22736
Agreed, applying a regex to each log message is going to seriously affect logging performance, which _will_ be an issue for high-volume logging. Performing the same search on Google's side may be an alternative (also I realize that's not ideal as well) https://cloud.google.com/logging/docs/view/advanced_filters

I don't think we should implement this in the core functionality of docker. Note that

[2017-01-04 15:05] #22736 closed

[2017-01-04 15:08] drstki commented on #29794
I have similar issues with `docker exec -it <image-name> bash` when setting up the starter kit of hyperledger fabric project. The error is reproducible with a simpler setup, e.g.

Run bash in a docker container "ubuntu" and want to exec this running container from another terminal.

`$ docker images`
`REPOSITORY                       TAG                 IMAGE ID            CREATED             SIZE

[2017-01-04 15:11] drstki commented on #29794
I have docker-engine 1.12.5 installed

$ docker version
Client:
 Version:      1.12.5
 API version:  1.24
 Go version:   go1.6.4
 Git commit:   7392c3b
 Built:        Fri Dec 16 02:42:17 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.5
 API version:  1.24
 Go version:   go1.6.4
 Git commit:   7392c3b
 Built:        Fri Dec 16 02:42:17 2016
 OS/Arch:      linux/amd64

$ docker info
Co

[2017-01-04 15:12] thaJeztah commented on #29880
Services with a custom network can be updated, but the name/ID of the network cannot be changed; so as long as you provide the same network-id, when _updating_ the service, the other properties of the service can be updated.

An easy way to see how things work is to run the daemon in debug mode. In debug mode, the daemon logs show the requests that are made on the API. For testing, you can do this

[2017-01-04 15:13] navgarcha commented on #15771
👍

[2017-01-04 15:13] AhnMo commented on #29768
Oh ... I think you've got it right.

Here is the result.

hello
PS C:\WINDOWS\system32>

And here is `docker events`

2017-01-05T00:06:22.583277000+09:00 container create 361d31946376f103e2d21d654c02ef53041d7ea44fb1be71eef1259fa2503322 (i
mage=microsoft/nanoserver, name=stupefied_khorana)
2017-01-05T00:06:22.619277600+09:00 container attach 361d31946376f103e2d21d654c02ef53041d7ea44fb1be71eef1259fa

[2017-01-04 15:15] drstki commented on #29794
debug file
[debug_ubuntu_170104.txt](https://github.com/docker/docker/files/685021/debug_ubuntu_170104.txt)

[2017-01-04 15:16] henryw374 commented on #22736
More of what I'm suggesting then, have a way to stop the gcplog plugin wrapping the message as {"data" : <msg>}, ie `--raw` or some such, so users can log in json format and so set the correct severity etc.

[2017-01-04 15:21] marius311 commented on #29836
Ah, bingo, you were right, it was a `listen-addr` problem. I think the swarm manager was listening on the wrong interface. It should have been using the `vboxnet0` interface which is created by Vbox for the "host-only" network. With the command,

[code]

it now fully works, including the overlay network.

For future reference I'll post back if I can figure out how to make it work with `--advertise

[2017-01-04 15:21] #29836 closed

[2017-01-04 15:28] jhowardmsft commented on #29768
@jmesser81 have you got a link to the networking debug/reset script?

[2017-01-04 15:40] LuisBL opened #29884 "docker-registry disk full and no ideas to diet it"
**Description**
Document introspection workflow to understand why a disk can be full.

**Steps to reproduce the issue:**
1. use docker registry and push a lot of times a build the same `:latest`  tag

**now my DD is full**
[code]
**there is no dangling volume nor images**

    # docker volume ls -qf dangling=true
    #
    # docker images -f "dangling=true" -q
    #

**docker images**
[code]
**dis

[2017-01-04 15:50] jbhurat commented on #28401
Symlinks are used to enable atomic updates of [secrets](http://kubernetes.io/docs/user-guide/secrets/) inside the containers. The directory containing secrets on the host (default: `c:\var\lib\kubelet\pods\<pod-id>\volumes\kubernetes.io~secret\<default token>`) is mounted inside the container (default: `c:\var\run\secrets\kubernetes.io\serviceaccount`) directory.

[2017-01-04 15:55] neufel42 commented on #12910
I was having similar issues.  I finally opened my .dockercfg and noticed there were 2 login entries.  I removed them and re-logged in.

After that I was able to push.  Very strange.

[2017-01-04 16:05] thaJeztah commented on #25725
This is not a bug; images without a `tag` are shown if an image is pulled by _digest_ If you use `docker images --digests`, you'll see that the `DIGEST` column is not empty for those images;

[code]

Given that an image with a specific digest can be tagged under multiple names/tags, those images can be shown separately.

Docker 1.13 improves this though; if only a single image is present for a dig

[2017-01-04 16:05] #25725 closed

[2017-01-04 16:08] friism commented on #29689
That sounds weird - on an EC2 c4.xlarge, this is what I see:

[code]

One think you can try experimenting with is disabling parts of Windows Defender:

[code]

[2017-01-04 16:13] friism commented on #29768
@jhowardmsft @AhnMo it's here: https://github.com/Microsoft/Virtualization-Documentation/tree/live/windows-server-container-tools/CleanupContainerHostNetworking

[2017-01-04 16:20] alex12Douze commented on #29881
I used `docker stats` and `systemd-cgtop` to check memory usage.

Right after booting the server, `systemd-cgtop` show a normal usage of the memory:

[code]

Then I start my container:
`docker stats`:

[code]

`systemd-cgtop`:

[code]

Everything seems good till this point.
Then I launch compiling of OpenCV from scratch, with distcc. At the end of the successful distributed compilation. The contai

[2017-01-04 16:26] justincormack commented on #29881
The memory is probably cache and can be reclaimed. It corresponds to the net IO roughly, so it is probably now useless caches of temporary files. You can probably see it in `/proc/meminfo` roughly if that is the case.

[2017-01-04 16:42] bikashmishra100 commented on #29849
@friism I updated my system and it installed KB3199986 and KB3206632. I still get the error. Please let me know if you are hinting at a specific update then i will search in the cumulative update list to see whether i got it.

[2017-01-04 17:06] dnephin opened #29885 "[1.13-rc4] `docker swarm init` gets stuck in "pending" instead of error about "address already in use""
**Description**

In 1.13-rc4, `docker swarm init` does not exit. It gets stuck without printing an error. If I ctrl-c the client and try again, I get an error saying:
[code]

[code]

**Steps to reproduce the issue:**
1. `nc -l 0.0.0.0 4040`
2. `docker swarm init --listen-addr 0.0.0.0:4040`

**Describe the results you received:**

The command hangs and does not init the swarm. The swarm is left in

[2017-01-04 17:11] prashantabkari commented on #29870
This came along with the Kubernetes package. So should i uninstall the
existing one and install the newer docker-engine version?

On Wed, Jan 4, 2017 at 6:27 PM, Sebastiaan van Stijn <
notifications@github.com> wrote:

[2017-01-04 17:12] albers opened #29886 "Invalid plugin references in docs"
The docs contain plugin examples/references that do no longer work: `tiborvass/no-remove`, `vieux/sshfs`.

[code]

Solution: either update the plugins so that they work again or use other plugins.
An even better solution would be to create official sample plugins in the docker namespace for each extension point and consistently use these.

These are the references I found:
[code]

Note: the follow

[2017-01-04 17:16] jeremymills commented on #25925
Same error Ubuntu `16.04` and docker `1.12.*`

Restarting docker didn't solve anything, downgrading docker-machine version didn't solve anything. Seems the `COPY` command is not copying any files running:

[code]

[2017-01-04 18:08] sanimej commented on #27539
@AkihiroSuda https://github.com/google/packetdrill could be used.

[2017-01-04 18:49] albers commented on #29886
related: bcead92

[2017-01-04 19:06] jhowardmsft commented on #22345
Ah right, I get it now. Have verified just now that this is still an issue on docker master, but only when using the legacy (go-ansiterm emulated) console. Which means on any version of Windows before Windows 10, or Windows 10 with the console explicitly set to legacy mode.  MC does run just fine on a Windows 10 client (with console in native/default mode) pointing to a Linux daemon:

![image](htt

[2017-01-04 19:06] #22345 closed

[2017-01-04 19:07] msabansal commented on #29860
Don't see this problem on latest docker:
`C:\Users\Administrator>docker version
Client:
 Version:      1.14.0-dev
 API version:  1.26
 Go version:   go1.7.4
 Git commit:   bf6eb85
 Built:        Tue Dec 27 20:25:49 2016
 OS/Arch:      windows/amd64

Server:
 Version:      1.14.0-dev
 API version:  1.26 (minimum version 1.24)
 Go version:   go1.7.4
 Git commit:   bf6eb85
 Built:        Tue Dec 27 2

[2017-01-04 19:08] endophage commented on #17560
@thaJeztah is there a way to determine what daemon.json is currently in use? Also is there a way to determine if there were any command line overrides? I think both those would be necessary in the case where we want to programmatically reconfigure a daemon.

[2017-01-04 19:29] eliassal commented on #29860
Hi, my doscker version on windows is

So how can I upgrade to 1.14.0-dev?
Thanks

[2017-01-04 19:36] friism commented on #29860
@eliassal there are manual install instructions here: https://docs.microsoft.com/en-us/virtualization/windowscontainers/manage-docker/configure-docker-daemon#manual-installation

[2017-01-04 19:42] dlsniper opened #29890 "The Go API cannot be used"
I'm trying to run the example in this documentation: https://godoc.org/github.com/docker/docker/client#hdr-Usage

[code]

But for obvious reasons, when running the example against the latest release of Docker, 1.12.5, that doesn't work.
The error I get is:
[code]
I understand that semantic versioning has no significance for this project, because the API breaks in point releases, but it would be co

[2017-01-04 20:00] StefanScherer commented on #27537
I see the problem with PHP only as an example. It seems that Golang also has this problem while compiling sources in the mounted folder.

[code]

Golang also tries to find the directory at C:\ContainerMappedDirectories.
Not related to docker/docker repo, but a guideline how to handle this reparse point would be helpful. So all the several open source projects that should improve at that point can

[2017-01-04 20:03] thaJeztah commented on #17560
@endophage setting options both on the CLI and in `daemon.json` currently will result in an error, but we may want to design a different behavior for that. For active configuration, see https://github.com/docker/docker/issues/21559, and https://github.com/docker/docker/pull/27473#issuecomment-265830228

[2017-01-04 20:34] thaJeztah commented on #29890
You can either set environment variables to override the version if you're talking to an older daemon; https://godoc.org/github.com/docker/docker/client#NewEnvClient, or use `NewClient()` to explicitly set a version; https://godoc.org/github.com/docker/docker/client#NewClient

That documentation is generated from "master", so matches a daemon built from master.

Perhaps a mention of that can be ad

[2017-01-04 20:41] tiborvass commented on #29829
@gkvijay couldn't you both add a label to encode tenant name, and a prefix for the name with the existing regex? `tenantname_networkname` ?

[2017-01-04 20:52] thaJeztah commented on #29884
The registry never automatically removes image versions, because they can still be accessed by digest (`docker run someimage@sha256:aabbbccddd`), to cleanup untagged images, you can use garbage collecting; https://docs.docker.com/registry/garbage-collection/

Knowledge about the way storage is handled, as well as planning how/where to store information is important if you want to run your own regi

[2017-01-04 20:54] cpuguy83 commented on #29890
Do you have an example of this?

[2017-01-04 20:55] carloscds commented on #9889
Hi all, I'm using Ubuntu 16.10 and I have same problem: daemon not use DOCKER_OPTS config. Any ideas ?

[2017-01-04 20:58] thaJeztah commented on #9889
@carloscds did you take the time to read the discussion above before posting your question?

[2017-01-04 20:59] carloscds commented on #9889
@thaJeztah I already read this post and many others, but I can't solve my problem.

[2017-01-04 21:02] cpuguy83 commented on #9889
@carloscds Don't use `/etc/default/docker`. It's used only by upstart, which is not used by Ubuntu since 16.04.

Use `/etc/docker/daemon.json`, which is documented here: https://docs.docker.com/engine/reference/commandline/dockerd/#/linux-configuration-file

[2017-01-04 21:31] endophage commented on #17560
Good to know on CLI+daemon.json, that definitely makes things easier.

Don't see a solution in those linked items though for finding the active configuration. Simply doing `cat /etc/docker/daemon.json` is overly naive as a different configuration location can be passed to `dockerd`. Short of looking up the dockerd process, parsing how it was run to see if an alternate config was passed, and fallin

[2017-01-04 21:35] soheilalizadeh commented on #22981
I use installed Docker with Docker toolbox and this is how I solved it:
1. Open the Oracle VM
2. Go to the settings of the VM for docker (mine was default)
3. Shared Folders
4. Add new shared folder (e.g. I wanted to mount E:\X -> Folder path : E\X and Folder name: e/X)
5. Shutdown the VM
6. Run Docker terminal

[2017-01-04 21:38] carloscds commented on #9889
@cpuguy83 Thanks, I change configuration using daemon.json and now it's working!

[2017-01-04 21:55] sanimej commented on #29588
@aijanai Can you try with NM completely disabled ?

[2017-01-04 22:06] thaJeztah commented on #29836
Oh, that's good news! Glad to hear you resolved your issue

[2017-01-04 22:08] mlaventure commented on #26495
@jcf then removing should fix your issue indeed.

[2017-01-04 22:14] cpuguy83 commented on #15020
These articles may be interesting to some:

http://trustmeiamadeveloper.com/2016/03/18/where-is-my-memory-java/
http://matthewkwilliams.com/index.php/2016/03/17/docker-cgroups-memory-constraints-and-java-cautionary-tale/

I don't think they relate to the original issue, but others reporting various other "java's using more than what I expect" type issues.

[2017-01-04 22:34] ahmetalpbalkan commented on #29890
This is rather an issue belongs to go-dockerclient repo. This has always been the case and probably will be. Maybe the default client should not specify a version (as it is optional),

[2017-01-04 22:37] j0hnsmith commented on #15508
@dmcgowan, I'm still seeing this after pushing.

[code]

And it looks like I'm getting two different hashes, `sha256:d594640ae3af27c8552d1274ce766107c3bfbefe9585d42f24f2ca7d2476a6f9` and `sha256:164b5fc83e34c2c1d59a430c7b64ecd010902f13c62ba9dcc50efb771c4060b2`, seems odd?

[2017-01-04 22:49] PatrickLang commented on #27537
Thanks! I pinged the Windows devs on this again

[2017-01-04 22:50] PatrickLang commented on #27537
From the procmon trace, it looks like the user mode code is trying to interpret and reissue IO against the symlinked path instead of letting the OS handle it automatically. That shouldn't be needed, hmm.

[2017-01-04 23:12] gkvijay commented on #29829
How is docker planning to handle host upgrades to docker 1.13 if users have special characters in these names? I would assume this will be a problem for swarm mode with overlay networks as well.

[2017-01-04 23:17] aboch commented on #29829
@gkvijay
Existing docker network are not going through the name check. Same for network removal operation.
Only network create is affected.

As suggested by @tiborvass, shouldn't be possible for your plugin/client to convert the old separator `/` with a new one that is accepted by current restriction.

[2017-01-04 23:17] tonistiigi commented on #29885
This seems to happen because after https://github.com/docker/swarmkit/commit/6379ef019e1158238cf40b7d40cb6c43c11d1b8d#diff-380e79adccbaf1276bf6c91cc551cd7f when one of the swarm components crashes it doesn't bring down the whole node anymore. Unless I'm missing something this looks more dangerous than just "address already in use" case and may cause any swarmkit error to not bubble up to docker.

[2017-01-04 23:21] aboch commented on #29829
Also, embedding a semantic into the name of a resource which belong to and is managed by another process does not seem correct. You cannot guarantee that that process will never change the resource name syntax.

[2017-01-04 23:24] ManoMarks opened #29898 "docker stack deploy should support removing a service"
**Description**
Currently, if I run `docker stack deploy --compose-file STACKFILE.yml STACKNAME` multiple times, subsequent `deploy` commands update the stack to match the file, with one exception. If I remove a service, the service remains in the stack. This is a feature request to have the service removed if it isn't listed, or alternately have a `remove` key in the service definition.

[2017-01-04 23:31] gkvijay commented on #29829
If docker network creation can take a tenant parameter as well and have unique names for networks within a tenant (key=tenant+network), we don't need to embed the tenant in the network name. A tenant may not even see the network names of other tenants (for security) and hence may not be able to provide unique names across all tenants

[2017-01-04 23:36] thaJeztah commented on #29898
/cc @dnephin @vdemeester @mgoelzer

[2017-01-04 23:38] tonistiigi commented on #29886
There will be incompatible plugin changes between `rc4` and `rc5`. New versions will be pushed to old names after `rc5` is out.

[2017-01-04 23:40] j0hnsmith commented on #15508
It seems that the 'image id' shown by `docker images --no-trunc` is not a digest (confirmed in https://github.com/docker/distribution/issues/1662).

[code]
(the second `docker run ...` worked)

So is there a way to get the _real_ digest for an image that has been pushed already (apart from `docker push ...`)?

WTF: just ran a couple more commands
[code]
This is the command I pasted ^^^, no digest,

[2017-01-04 23:45] dmcgowan commented on #15508
@j0hnsmith thanks for creating separate issue. Excluding the digest when listing a specific tag vs including when no tag is given is not intended behavior.

[2017-01-04 23:47] thaJeztah commented on #29870
The Kubernetes package in the CentOS repository is probably "pinned" to use the Red Hat fork. Maybe this procedure works; http://kubernetes.io/docs/getting-started-guides/kubeadm/, but I'm not sure I'm able to help you with that.

[2017-01-04 23:47] j0hnsmith opened #29901 "Digest not shown when image tag specified"
Digests are shown for pushed images with `docker images --digests ...`

[code]
But not when you specify an image tag (a bug).
[code]

[code]

[2017-01-04 23:49] j0hnsmith commented on #15508
https://github.com/docker/docker/issues/29901

[2017-01-04 23:53] thaJeztah commented on #29901
I think this may be a duplicate / the same cause as https://github.com/docker/docker/issues/29203

What I _suspect_ is happening is that the `docker images` output combines digests + tags in the output, and when filtering, there's no related image to combine

[2017-01-05 00:05] thaJeztah commented on #29901
Probably this part; https://github.com/docker/docker/blob/820b809e70df8b9c7af00256182c48d935972a5c/daemon/images.go#L147-L152

ping @tonistiigi @dmcgowan ^^

[2017-01-05 00:22] tonistiigi commented on #29901
API-wise this behavior doesn't make any sense. `/images` returns list of image objects, every object has array of repotags and digests. We should always return full arrays here. Filter should be for filtering out objects, not to change any properties of individual objects. Because our CLI doesn't match the API we probably have to do a extra pass on the cli side.

[2017-01-05 00:52] cduchesne commented on #25138
I no longer have a direct requirement as the client I was working with has changed directions, however I did retest this with CentOS 7.3 and the required changes have not been backported.

[2017-01-05 00:52] jmzwcn commented on #29901
Any advice about fix? If possible, could I take a try?

[2017-01-05 01:07] PatrickLang commented on #27911
I think it's probably best to finish out the troubleshooting over on the forum thread. Is it alright if we close this since it isn't a doc issue?

[2017-01-05 01:10] AhnMo commented on #29768
Cool!

I just run `CleanupContainerHostNetworking.ps1` with no options, and no problem without `--net=none`.

2017-01-05T10:06:08.651252400+09:00 container create d75d72e41777e667d53f1f0d6f426125b4128ba4b6aa8b40c28cf15078ac2d2b (image=microsoft/nanoserver, name=affectionate_agnesi)
2017-01-05T10:06:08.653249800+09:00 container attach d75d72e41777e667d53f1f0d6f426125b4128ba4b6aa8b40c28cf15078ac2d2b

[2017-01-05 01:10] #29768 closed

[2017-01-05 01:17] thaJeztah commented on #29901
I have a possible fix, will push tomorrow, but maybe it needs additional changes

[2017-01-05 01:17] thaJeztah commented on #29901
Yes, I spotted that as well, will look into that

[2017-01-05 01:26] AhnMo commented on #29768
@friism I have a question!.. I read `The default location of this log directory is under the current working directory from which the command was run.`. It means if I try to execute in some directory that I'm permitted, this issue not gonna happen??

Then how about default log location change to `%PROGRAMDATA%\docker\logs`??

This is quick and dirty solution for someone who do not know in detail j

[2017-01-05 02:16] friism commented on #29768
@AhnMo I don't know, I recommend opening an issue over here if you're encountering problems running the debug script: https://github.com/Microsoft/Virtualization-Documentation

[2017-01-05 02:47] diegocsandrim commented on #6396
@kienpham2000, why this solution would not keep ssh into image layer? The actions of copy and remove the key are being done in separated commands, so there is a layer that should have the key.
Our team was using yours solution until yesterday, but we find out an improved solution:
- We generate a pre-sign URL to access the key with aws s3 cli, and limit the access for about 5 minutes, we save this

[2017-01-05 07:33] thedewi commented on #24142
Upgrade, service-stop, and uninstall are still hanging for me in Windows 10 in versions 1.12.3, 1.12.5.

I was prompted to auto-update 1.12.3, which stalled for hours, so I rebooted and tried again. Then I tried running the Powershell commands ebriney linked above, rebooted, and installed the latest version (1.12.5). It would hang on attempts to stop the Windows service, and on uninstall and reins

[2017-01-05 07:47] xesina commented on #24066
Great, thanks :)

[2017-01-05 08:07] 1605200517 commented on #29794
Observing not killable Docker container on SLES 12 SP 1 (was running since 3 weeks)

On `docker exec -it CONTAINER_NAME bash` command getting the  following error message:

`rpc error: code = 13 desc = invalid header field value "oci runtime error: exec failed: container_linux.go:247: starting container process caused \"process_linux.go:83: executing setns process caused \\"exit status 16\\"\"\n"

[2017-01-05 08:21] hmdhasani commented on #29631
I installed docker 1.12.5 on the same server that had 1.13.0-rc4 and do the same procedure for many times and I never got the error, so currently I am almost sure that this is a 1.13.0-rc4 bug.
I will set the debug option to get more info.

[2017-01-05 08:35] BambooAce commented on #29875
@thaJeztah Thanks.   Great,  set net.ipv4.netfilter.ip_conntrack_max and net.netfilter.nf_conntrack_max items bigger, it works.   Thank you.

[2017-01-05 08:35] #29875 closed

[2017-01-05 08:51] alexellis commented on #29713
I have also tried this and had the same issue, I was told it is because there is no CI for the ARM64 platform. Maybe an error could be thrown in the script instead @justincormack @tianon ?

The version of Docker in the apt-get repository is recent if you use the Ubuntu image on Packet.net. You can use that to clone docker/docker and checkout a stable tag then run in `make tgz`.

Curious about the

[2017-01-05 08:56] alexellis commented on #29757
I could test this on Raspbian, what are the repo steps @itwars ?

[2017-01-05 08:58] alexellis commented on #29258
@vielmetti hi did you have a chance to try this out again with Go 1.6, 1.7 or a container.. or could it be closed?

[2017-01-05 09:10] PeteBoyRocket commented on #24142
I'm also seeing the issue exactly as @thedewi describes.

[2017-01-05 09:28] thedewi commented on #24142
(I don't know whether the presenting problems are actually related, but they have a few similarities)

[2017-01-05 09:29] thaJeztah commented on #24142
Thanks for linking that one! Let me close the issue here, please continue the discussion over there

[2017-01-05 09:29] #24142 closed

[2017-01-05 10:56] Yajo opened #29910 "Add ONBUILDEND support to Dockerfile"
**Description**

There's support for `ONBUILD` commands, that trigger before starting the execution of the current (child) Dockerfile.

It would be great to **add `ONBUILDEND`, that trigger after building** the child Dockerfile.

This would be useful for cases where you expect somebody to `COPY` some folder somewhere before actually i.e. compiling the code:

Parent Dockerfile:

[code]

Child Docke

[2017-01-05 11:53] albers commented on #29886
@tonistiigi ATM, it is difficult to test the plugin commands (e.g. when developing bash completion) because there are so few plugins. How about adding tags for the old and upcoming plugin versions?

[2017-01-05 13:20] justincormack commented on #29170
@rupertqin can you upload your `Dockerfile` somewhere (not via cut and paste)? It looks like you must have a space after the `\` which is invalid but used to work. But if it is not that we need to test it. I just tested DOS line endings and they dont seem to be an issue.

[2017-01-05 13:27] clns commented on #27423
Looks like a lot of people are experiencing this issue and no one at https://github.com/Microsoft/go-winio/issues/34 has responded yet. This is almost certain a Go - Windows issue as I encountered it in one of my Go apps as well, although it happens very very rarely.

Unfortunately in the case of Docker it happens all the time, which makes it unusable. Even using tcp:// as described above doesn't

[2017-01-05 13:31] vielmetti commented on #29258
Hi @alexellis - can you keep this open - I was not able to attend to it over the holidays but I am tasked with it otherwise.

[2017-01-05 14:22] #27273 closed

[2017-01-05 14:24] ericbrumfield commented on #3465
+1 for UNVOLUME.  This could be useful for me right about now.  Also could be useful in university scenarios where students spin up without worrying about having to mount volumes.

[2017-01-05 14:31] alexellis commented on #24380
@justincormack I still get an error like this building on AARCH64 with docker/docker master branch:

[code]

[code]

[code]

[2017-01-05 14:47] thaJeztah commented on #29873
Looks like you're using the `overlay` storage driver, but the backing filesystem does not have `d_type`  enabled. This may be related here; see https://github.com/docker/docker/issues/27358, https://github.com/docker/docker/issues/10294, and https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/7.2_Release_Notes/technology-preview-file_systems.html

[2017-01-05 15:18] thaJeztah commented on #3465
I don't think it will be needed for that; a `VOLUME` definition in a Dockerfile automatically creates an "anonymous" volume from the content at that location in the image.

[2017-01-05 15:22] bentorfs commented on #29398
It won't work in nslookup on busybox-based images (like alpine), because of this bug: https://dev.openwrt.org/ticket/18333

Basically, when you explicitly specify a nameserver, it is printed but ignored.

[2017-01-05 15:25] bentorfs commented on #29398
I have a similar problem with one of our internal company nameservers. A quite large DNS record is resolved from the host machine, but not from the container. A tcpdump shows that the correct information is being retrieved, but docker fails to read it with the following debug log:

```time="2017-01-05T15:16:07.362763839Z" level=debug msg="Read from DNS server failed, dns: failed to unpack truncate

[2017-01-05 15:43] petewilcock opened #29914 "Device Mapper 'Unknown device' in deleted devicemapper store."
Client/version 1.12.3 on CentOS7:

I have a docker installation that has had its devicemapper dir accidentally deleted (don't ask) so there's nothing in `/var/lib/docker/devicemapper/mnt`

Trying to run any container I get a message long the lines of:

[code]

I'm not sure how to restore docker to working order by recreating the devicemapper devices for my images correctly. Can anyone advise?

[2017-01-05 15:49] runcom commented on #3465
@duglin, are you already working on this? If not, I'd take it and start with the most requested (VOLUME and EXPOSE). Let me know.

[2017-01-05 15:52] cpuguy83 commented on #28406
[code]

This happens on 1.13-rcX in centos 7.3

[2017-01-05 15:59] duglin commented on #3465
@runcom go for it - haven't been able to find the time yet.

[2017-01-05 16:04] friism commented on #27423
cc @jstarks

[2017-01-05 16:10] rhatdan commented on #28406
This looks like runc is running directly from a systemd unit file?  We have labeled runc as container_runtime_exec_t in our latest updates which should fix this issue.

chcon -t container_runtime_exec_t /usr/bin/runc

(docker_exec_t, if you don't have container_runtime_exec_t defined)

Restart the unit file.

[2017-01-05 16:22] cpuguy83 commented on #28406
@rhatdan Thanks for the quick response. Unfortunately still seeing the same error.

[2017-01-05 17:01] kienpham2000 commented on #6396
@diegocsandrim thank you for pointing that out, I really like your solution, going to update our stuffs here. Thanks for sharing!

[2017-01-05 17:02] cpuguy83 commented on #28406
`chcon -t docker_exec_t /usr/bin/dockerd` seems to do the trick.... now to figure out why it's not being set already.

[2017-01-05 17:28] thaJeztah commented on #29914
@petewilcock we try to keep the GitHub issue tracker for reporting bugs and feature requests, not for questions on _running_ docker. Could you ask this question on;

- https://forums.docker.com
- the docker community slack channel (https://blog.docker.com/2016/11/introducing-docker-community-directory-docker-community-slack/)

I'll close this issue here, but feel free to comment after I closed

[2017-01-05 17:28] #29914 closed

[2017-01-05 17:31] jroitgrund commented on #20847
@sanimej what about using the FQDN of the host if it's available, then the aliases if not, then the container_name if not? i'm getting similar headaches to the guys above - aliases still don't work for me because docker-compose will provide my container with a default name.

[2017-01-05 17:32] sanimej commented on #29398
@bentorfs Can you try 1.12.5 ? There was an issue with sending truncated responses from external resolvers to the containers. It was fixed in 1.12.

[2017-01-05 17:33] cpuguy83 commented on #28406
Another update on progress... for 1.13 packages to "work" (not really work, be in the same boat as  7.3) on centos 7.2 (and the like), the `selinux-policy` package must be updated, which also updates systemd and a few other libs.

With 7.3 (and updated 7.2) there's still an issue with the post-install script for the docker-engine-selinux package:

[code]

[2017-01-05 17:35] dimaspivak commented on #20847
Container name takes priority above aliases by design. Changing that now would break a lot of people, @jroitgrund, so I think it'd be a good idea to update your compose configuration.

[2017-01-05 18:05] petewilcock commented on #29914
@thaJeztah Happy to frame this as a feature request relating to my original query. Docker doesn't realise or evaluate when the devicemapper storage is absent and doesn't appear to have a mechanism to refresh it. Unless I'm wrong (please correct me), this could be classed as either a bug or feature request depending on your perspective.

[2017-01-05 18:10] rhatdan commented on #28406
@cpuguy83 The file context labeling in docker-selinux probably did not cover dockerd just docker.  So you need to update.  But we don't support the newer container policy on rhel7.2, only rhel7.3

We are splitting out container-selinux into a separate package from docker and should be able to handle these better.   But currently we match the packaging to the current release of the OS, rather then

[2017-01-05 18:12] bentorfs commented on #29398
Unfortunately I am on amazon linux, and 1.12 is not available yet. Good to know it is fixed though!