[2016-10-17 14:25] tianon commented on #27045
Any reason we can't use Xenial?  It's got Go 1.6 directly as well. :+1:

http://packages.ubuntu.com/xenial/golang-go / http://packages.ubuntu.com/xenial/golang-1.6-go

[2016-10-17 14:35] va1en0k commented on #27430
@sanimej

No, and I don't really understand how and why should I do that. As far as I understood the documentation, `docker_gwbridge` should be enough and it seems to be there already, or am I wrong?

[code]

Thanks!

[2016-10-17 14:37] remshams opened #27448 "d multiple"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2016-10-17 14:39] remshams commented on #27448
Sorry, was mistakenly posted. Could not find a way to delete/close it myself.

[2016-10-17 14:39] #27448 closed

[2016-10-17 15:03] mlaventure commented on #27289
@saad-ali none, couldn't reproducing this after having exec run for a full day on 1.12.1 or 1.12.2

Have you tried moving to 1.12.2?

[2016-10-17 15:07] troy0820 commented on #27447
I'm not sure but this document says that underscores are not allowed in the `docker tag`  command
`The hostname must comply with standard DNS rules, but may not contain underscores`

https://github.com/docker/docker/blob/b248de7e332b6e67b08a8981f68060e6ae629ccf/man/docker-tag.1.md

[2016-10-17 15:09] mlaventure commented on #27211
@anannaya please  update to `1.12.2`

The previous version did have issues with exec if they were leaving children behind.

[2016-10-17 15:22] allencloud opened #27449 "docker network name validation is not so strict"
**Description**
As container name and volume name must be strict with regex `[a-zA-Z0-9][a-zA-Z0-9_.-]`. While network name is so casual that just not be empty. I think it is not so reasonable.

In addition, One confusion that why one character name for a container or volume is invalid. ping @vdemeester @vdemeester

**Steps to reproduce the issue:**
1. `docker network create ^`, it works

**Descri

[2016-10-17 15:24] openmax commented on #27410
ok blame me, i have to run : docker run **ppc64le**/hello-world ,
cannot run containers from other arch to power8 .

for armhf try docker run armhf/hello-world.

[2016-10-17 15:27] bchenSyd opened #27450 "can we enable creating a pure data image? for pure data container"
I know that in docker we can run data volume containers like this

[code]

my question is how do we create the data_image?

I know that the easiest way is to create a image based on ubuntu, or anything like that

[code]

But the thing is , why do I need ubuntu as my base image??? (I know it's not a big deal as ubuntu is going to re-used in other scenarios). I really want to know why can't I use sc

[2016-10-17 15:40] bochen2014 commented on #27450
so far I've got this
[code]

[2016-10-17 15:51] justincormack commented on #27447
cc @stevvooe

[2016-10-17 15:53] justincormack commented on #27410
@openmax so if you run the right containers, on a daemon you started yourself not via systemd is it working ok or not?

[2016-10-17 16:10] openmax commented on #27410
@justincormack docker server  is running via systemd and work.
 start the server via "docker daemon" run ok too

[2016-10-17 16:11] rbrecheisen commented on #27408
As I said I did get the mount to work but now I'm experiencing another issue which I never saw before on a Mac platform (what I normally use). As I described in the very first post I mount a bash script init-db.sh in the container which I try to execute as soon as the container is running. The contents of the script are as follows

`#!/usr/bin/env bash`
`mysql -uroot -p"secret" < /tmp/db.sql`

I r

[2016-10-17 16:13] allencloud commented on #27439
Hi @bravist
Could you please make all the issue details in English? Then I think all people can follow you. 🐳

[2016-10-17 16:20] ddingel opened #27453 "Add CPU hotplug support"
### Description

Hotplugged CPUs are currently not recognized by Docker.

### Steps to reproduce the issue:

**Environment:**

The tests have been done on a s390x Ubuntu Xenial z/VM guest with three virtual CPUs and latest Docker built via `make deb`:

    root@r3545010:~# cat /etc/os-release
    NAME="Ubuntu"
    VERSION="16.04.1 LTS (Xenial Xerus)"

    root@r3545010:~# uname -a
    Linux r35450

[2016-10-17 16:21] vasantivmahajan opened #27454 "Disk space available within a docker image is less than the space available in the VM"
I am running a docker image on a windows system. The Virtual Machine on which it is running has 244 GB of memory allocated

![image](https://cloud.githubusercontent.com/assets/17990840/19445800/d08d1f34-9463-11e6-942a-70399afe6f85.png)

However, on checking the disk space in the docker container it shows only 19GB available

![image](https://cloud.githubusercontent.com/assets/17990840/19445876/23f

[2016-10-17 16:22] rcarmo commented on #27410
I’m trying to run a container I built myself, on ARM. The container builds, but I cannot run anything that outputs a single byte to the console without getting that error.

Also, since I upgraded to Docker 1.12.1, my old containers on my ARM boxes stopped working.

[2016-10-17 16:23] boucher commented on #27200
@hodiapa I would try emailing the CRIU mailing list, or filing an issue on the CRIU github repo -- I don't think this failure is related to the Docker integration. Here's the relevant line from your dump, in case it gives you any ideas:

[code]

[2016-10-17 16:24] thaJeztah commented on #27408
That's strange indeed; on Windows, one possible cause could be incorrect line endings (windows instead of unix), which produces a similar error (and very uninformative, but unfortunately returned like that from the kernel/shell). _However_, that wouldn't explain why manually running it works.

Not a solution for that error, but if you want to initialize the database on first run, there's a way to

[2016-10-17 16:24] michael-holzheu commented on #27453
ping @justincormack

[2016-10-17 16:30] dpeters commented on #27404
@thaJeztah - I'll give that a try today and report back.

@aboch - I didn't paste `docker ps` output, but the initial containers were all still running. I'll add `docker ps` output to the info I grab from the 1.12.2 testing I do shortly.

[2016-10-17 16:31] TimurKiyivinski commented on #27441
Thanks for the example, it's helped me realize the problem is odder than I initially realized. The example provided may be flawed as the npm packages would not work inside an internal network. My apologies. The scenario is as so: There is a MariaDB instance that needs to be initialized and started before the application starts as part of some internal testing. To delay the startup of the applicati

[2016-10-17 16:33] binarytemple-bet365 commented on #17745
Yes, but it's really useful when you want to expose something like .ssh/id_rsa without ever writing to disk during a sequence of build dependencies.

[2016-10-17 16:35] darthva commented on #27410
I have the version Docker 1.12.1 running. Am exactly getting the same error as reported on the below link
http://stackoverflow.com/questions/40022817/docker-write-pipe-bad-file-descriptor
The Architecture being used is i686 still not able to figure out a workaround. I understand that ppc64le is resolved, anyone can throw some light on how to make it run on i686 would be really helpful

Thanks

[2016-10-17 16:37] justincormack commented on #27453
This certainly seems a simple option. Is the code change in `runc`? If so might be worth opening an issue there?

[2016-10-17 16:43] cetex commented on #27447
I did a workaround by adding another CNAME pointing to the proper docker registry and retagging the images with the new one, quite annoying that i have to do this though when everything else (besides docker) seems to accept underscores in the domain name.

new dns record, this isn't a proper solution since we'll have to change it all the time but it worked for now:
docker-registry.service.consul I

[2016-10-17 16:54] crosbymichael commented on #27202
@DirkTheDaring What is your exact `docker version` output.  I cannot even get the Dockerfile to build so I'm guessing you have the RH version with patches that I don't have.

[2016-10-17 16:58] #25560 closed

[2016-10-17 16:59] jhowardmsft commented on #26490
Can you try using the RTM build and re-open if this is still an issue.

[2016-10-17 16:59] #26490 closed

[2016-10-17 17:01] allencloud commented on #22309
I think maybe we could close this issue since #25566 has been merged. WDYT @vdemeester @pcarrier

[2016-10-17 17:02] #22309 closed

[2016-10-17 17:14] sanimej commented on #27441
@TimurKiyivinski ping would work because it doesn't depend on the application. What I suspect happening is that database app tries to reach an external address and when that fails doesn't open the port. To narrow it down you can run the database app in the default bridge network or host mode and capture the packets to check what the db app is doing.

Since this doesn't seem to be an issue with `in

[2016-10-17 17:14] #27441 closed

[2016-10-17 17:20] #27351 closed

[2016-10-17 17:21] thaJeztah commented on #25826
Thanks!

[2016-10-17 17:26] herbrandson commented on #27399
@fingermark Per your comments above, I ran the following commands

[code]

However I'm still unable to launch services due to `failed to allocate gateway (1…`

Did I miss a step?

[2016-10-17 17:35] jhowardmsft commented on #27150
That's expected in the current code base - there's no Windows distinguishing.

[2016-10-17 17:35] #27150 closed

[2016-10-17 17:35] aaronlehmann commented on #25432
@tonistiigi:

[code]

[2016-10-17 17:35] justincormack commented on #27454
This looks like it might be a boot2docker specific issue, you may get better support at https://github.com/boot2docker/boot2docker

[2016-10-17 17:36] juanviola commented on #26768
Hi guys, I'm having same issue described by @anokun7 on Azure Cloud running a VM as docker-cloud BYON with Ubuntu 14.04.5 LTS and Docker Server Version: 1.11.2-cs5

[2016-10-17 17:38] justincormack commented on #27439
Hi please see https://github.com/docker/for-mac/issues/77 for performance issues on Docker for Mac.

[2016-10-17 17:38] gjongenelen opened #27456 "Slow network performances in containers"
When accessing a public url from within a container, the connection is slow and ping (too?) fast.

**Docker container:**
_curl https://google.com  6.03s user 0.10s system
ping google.com: avg 0.368 ms_

**Local (Mac):**
_curl https://google.com  0.03s user 0.01s system
ping google.com: avg 8.867ms_

Im running docker4mac version _1.12.2-beta28_.

(Tried with and without IPv6 & different distros)

[2016-10-17 17:41] akamalov commented on #25929
@cemiarni  Thank You Very Much indeed!! :+1:  It worked like charm!! Thanks so much, yet again!!

[2016-10-17 17:41] #25929 closed

[2016-10-17 17:42] aaronlehmann commented on #25432
In the allocator, `a.netCtx` is initialized too late, so if `taskCreateNetworkAttachments` is called as part of allocator initialization, it will dereference a nil pointer. This panic causes a deadlock because the `wg.Done` in `allocator.go` is done after initialization, instead of being deferred. I will open a PR against swarmkit to fix both problems.

cc @mrjana

[2016-10-17 17:45] virtuman commented on #26235
i would definitely prefer to stick with centos7.2, i trust it much more then ubuntu. personal experience with ubuntu is very "sad" when comparing it against something like centos, which is absolutely not an issue when using on a host to run fully dockerized environment ...

Apparently my current issue is that containers don't see each other, ie:

[code]

results in this:
[code]

but checking the I

[2016-10-17 17:50] sanimej commented on #26235
@virtuman If you have firewalld disabled can you confirm if everything is working ok with 1.12.2 ? If that is the case we can sure the issue is only because of iptables conflict between firewalld and docker and look into that specifically.

[2016-10-17 17:56] slawekgh commented on #26235
LB is not for ICMP , only for TCP/UDP ?  :-)

[2016-10-17 17:58] stevvooe commented on #27447
@cetex Could you provide a reference to an RFC that allow underscores for hostnames? I can't seem to find one. I think https://tools.ietf.org/html/rfc1034, https://tools.ietf.org/html/rfc1035 both only allow "-". https://tools.ietf.org/html/rfc5890 allows further extensions with punycode, and is closer to what docker allows but I can't see to find a complete grammar showing the allowance of unders

[2016-10-17 17:59] outofcoffee commented on #26235
@virtuman this worked for us on RHEL 7.2 with 3.10 kernel:

[code]

Published ports accessible outside of localhost.

YMMV.

[2016-10-17 18:00] thaJeztah commented on #26818
Looks like you found the new location; great! And sorry about that :smile:

[2016-10-17 18:03] thaJeztah commented on #27374
Thanks for the quick turnaround @tagomoris

[2016-10-17 18:08] thaJeztah commented on #27381
This was changed a while back; https://github.com/docker/docker/commit/2aee081cad72352f8b0c37ba0414ebc925b022e8#diff-ff907ce70a8c7e795bde1de91be6fa68 (https://github.com/docker/docker/pull/22806), per the discussion, this may be an issue if deferred removal is not enabled; https://github.com/docker/docker/pull/22806#issuecomment-220043409

Should we change the default back? @rhvgoyal

[2016-10-17 18:10] thaJeztah commented on #27355
Thanks @tormodhau; should we close this issue?

[2016-10-17 18:13] thaJeztah commented on #27066
@mavenugo yes, I discussed this with @aboch, and fixing it for 1.12 would be big change, due to the issues mentioned; I think it's ok to keep it as a "known" issue for 1.12

[2016-10-17 18:16] dpeters commented on #27404
I was able to reproduce this with 1.12.2.

Status before restarting the docker daemon:
[code]

The state after restarting the docker daemon:
[code]

Then starting a couple containers to get some duplicate IP addresses:
[code]

An example of one of the conflicts:
[code]

[2016-10-17 18:21] DirkTheDaring commented on #27202
what kind of error do you get ? i am actually using the docker rpm from the docker site

# docker --version
Docker version 1.12.1, build 23cf638
# rpm -qf /usr/bin/docker
docker-engine-1.12.1-1.fc24.x86_64

# cat /etc/fedora-release
Fedora release 24 (Twenty Four)

[2016-10-17 18:24] aboch commented on #27404
Thanks @dpeters for the extra logs.
Which options are you passing when you strat/restart  the daemon (`--live-restore` ?), how do you start the containers (restart policy, ...)

[2016-10-17 18:24] rhvgoyal commented on #27381
@thaJeztah I think it might be a good idea  to change default back to MountFlags=slave. We have done that.

Ideally deferred removal and deferred deletion features should have taken care of this and there was no need to use MountFlags=slave. But deferred deletion alone is not sufficient. Old kernels are missing a feature where one can remove a directory from a mount namespace even if it is mounted

[2016-10-17 18:27] aboch commented on #27404
At first glance, the issue seems that at restart somehow libnetwork is not programmed for the running containers, or that the containers are not supposed to be running.

[2016-10-17 18:29] crosbymichael commented on #27202
@DirkTheDaring ok, whats the output of `docker info`?  It could be how you have journald configured on your daemon. I don't have that logger enabled and was getting an error on build when it was looking for journald

[2016-10-17 18:31] DirkTheDaring commented on #27202
# docker info
Containers: 51
 Running: 40
 Paused: 0
 Stopped: 11
Images: 1500
Server Version: 1.12.1
Storage Driver: btrfs
 Build Version: Btrfs v4.5.2
 Library Version: 101
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: host overlay bridge null
Swarm: inactive
Runtimes: runc
Default Runtime: runc
Security Options: seccomp
Kernel Version: 4.7.5-200.fc24.x86_64

[2016-10-17 18:43] schmunk42 commented on #22598
I have a similar issue, AFAIR since switching to overlayFS (became default in docker-machine  I think)

We constantly hanging `docker pull`and `docker-compose pull` with the *Broken combination* below...

### Host

- OS X - Virtualbox
- docker-machine version 0.7.0, build a650a40

### Working combination (client 1.12.2, server 1.11.2, API 1.23, aufs) - so far, still testing

[code]

[code]

### Br

[2016-10-17 18:43] fingermark commented on #27399
@herbrandson I wound up starting over.  I left the docker_gwbridge gateway alone and assigned my network overlay a subnet different from anything else:  `--subnet=192.168.1.0/24`.  I'm now able to access servers on the same network and externally.

[2016-10-17 18:48] mlaventure opened #27458 "TestBuildLabelsOverride consistently fails on Win2Lin"
The change introduces in [commit](https://github.com/docker/docker/commit/28a9a7deb002f3c86cb59dbd02ee75435e7fe1e2) broke the `DockerSuite.TestBuildLabelsOverride`

It looks like in this configuration (i.e. Win2Lin) the variable is actually evaluated by bash.

ping @duglin

[2016-10-17 18:56] aboch commented on #27404
@dpeters I see from your logs the containers are not started with any restart policy.
Still, can you please let us know if the daemon is started with the `--live-restore` flag.
Also, do you see any error/warning in the daemon logs.
Just to make sure, you are running only one daemon on the host?

[2016-10-17 19:03] jhowardmsft opened #27461 "Windows: dockerd --help prints escaped filepaths"
On docker/docker master as of today 678ff27f0fd108b1760b3b0b4939d62b7d5eb6be, run dockerd --help on Windows.

Note that all the filepaths are `\\` rather than `\`. Not sure if this is spf13/cobra or docker code doing this - haven't had time to look in more details.

[code]

@thaJeztah I'm pretty sure this was OK before the cobra changes, but can't be 100% certain.

[2016-10-17 19:08] steelbrain opened #27462 "Add get tags command to CLI"
I tried to search for an existing issue with no luck, sorry if this is a duplicate

**Description**

Currently if we have to get list of available tags of an image, we have to use the raw API. and if we have to get the list of available tags in a private image, we first have to fake a web login, generate a jwt token and then use it to do the API calls to get available tags.

We have to do this aga

[2016-10-17 19:14] ncdc commented on #27289
@mlaventure I just tested 1.12.1 and it easily reproduced for me fairly quickly (< 10 mins)

[2016-10-17 19:40] gmistick commented on #9755
We currently run docker images with aufs, I'm creating and deleting containers all the time.
The HDD (/var/lib/docker/aufs/diff) is 899GB in a matter of few days....

Any fix for this / recommended storage-driver?

[2016-10-17 19:45] saithala commented on #26806
@mrjana Just wanted to reiterate that in our case, service to service communication is happening over http protocol (http://discovery:8761) and not either tcp or udp. Is there anything special that needs to be done or should http work as well ?

[2016-10-17 19:49] mdzidic commented on #22847
If You upgraded to Docker v1.12.2 from older version and it won't start service, this helped me:
`rm /etc/systemd/system/docker.service.d/docker-defaults.conf`

[2016-10-17 19:49] tonistiigi commented on #27289
@ncdc Working on it. Should be same problem that is causing #27011

[2016-10-17 20:05] mavenugo commented on #27066
@thaJeztah thanks. I will close this issue now.

[2016-10-17 20:05] #27066 closed

[2016-10-17 20:09] stevvooe commented on #25303
@mostolog Could you please file a separate issue? We need to keep the discussion here focused.

[2016-10-17 20:11] herbrandson commented on #27399
@fingermark That worked for me as well. Thanks a ton!

[2016-10-17 20:16] stevvooe commented on #26588
@tonistiigi @LK4D4 @mrjana @aluzzardi Looks like we fixed one issue and introduced another. Any way we can more reliably propagate removal?

[2016-10-17 20:16] mavenugo commented on #26747
This is resolved in 1.12.2. Closing the issue. please re-open this if the issue is still seen in 1.12.2

[2016-10-17 20:16] #26747 closed

[2016-10-17 20:23] thaJeztah commented on #27461
@jhowardmsft that could well be. Thanks for reporting, nice find

/cc @dnephin I'll assign you; hope that's ok?

[2016-10-17 20:24] dnephin commented on #27461
These paths are generated by cobra, so it is likely the source of the problem.

[2016-10-17 20:26] stevvooe commented on #26808
@nalind Any way to reduce per entry use? For example, it would be nice to have the container id be linked to a lookup table for the other values, which may be lost to docker once emitted as a log message. Also, is any compression applied to the format?

Convenience is usually expensive, so we have to make a trade off between the users who care about log size against the ones that want to convenien

[2016-10-17 20:28] thaJeztah commented on #9755
@gmistick could you include output of `docker info` and `docker version`? Also what's running inside those containers? Are you using `docker exec` to start additional processes in the container that may keep mounts in use?

[2016-10-17 20:30] dongluochen commented on #27268
@groyee do you mean the containers are configured with `-l 'com.docker.swarm.reschedule-policies=["on-node-failure"]'` so that they are automatically rescheduled at node failure?

[2016-10-17 20:35] schovi commented on #26855
@TeNNoX awesome!

[2016-10-17 20:40] estesp commented on #27453
Yeah, I think the actual change would be at the runc level, but seems appropriate for sure for Docker to handle  online CPU changes (hot plug).

[2016-10-17 20:48] fingermark opened #27464 "Can we have mode global honor constraints?"
`docker service create --mode global`  does not seem to honor constraints in 1.12.2.  The same constraints with no mode set and `--replicas ...` seems to work just fine.

[2016-10-17 20:50] subfuzion commented on #27323
Unfortunately, this is also happening to me with Docker for Mac and restarting the engine doesn't help, only resetting to factory default.

[code]

[code]

[2016-10-17 20:58] #27464 closed

[2016-10-17 21:05] thaJeztah commented on #26768
@juanviola can you provide the same information as we asked @anokun7 to provide? That may help finding what's causing it

[2016-10-17 21:10] darrenstahlmsft commented on #27132
@tonistiigi Ok, if this is expected behaviour, then that's fine. It just seemed odd, and I was expecting it to fail (we even have a CI test that validates it doesn't fail on Windows, which I think was accidentally enabled in the first large batch). I'll stop running the test on Windows.

[2016-10-17 21:10] #27132 closed

[2016-10-17 21:12] justincormack commented on #27456
Hi, can you open this issue at https://github.com/docker/for-mac/issues as there are known issues there already and it is specific to Docker for Mac

I am going to close here as it is not a general issue with Docker.

[2016-10-17 21:12] #27456 closed

[2016-10-17 21:29] rcarmo commented on #27410
Just did an apt-get dist-upgrade. Problem went away after a reboot, which is… interesting. I did get a new systemd (same reported version, different package revision). Can’t say that’s to blame or not, just stating a fact here.

[2016-10-17 21:34] sanimej commented on #21224
Its not really specific to internal networks. But embedded DNS server originally was forwarding all the queries that can't be resolved in docker domain to external DNS servers. In the case of `internal` networks since there is no external connectivity the queries will timeout which is typically 5 seconds.

https://github.com/docker/libnetwork/pull/1039 fix was made to not forward the IPv6 queries

[2016-10-17 21:34] cetex commented on #27447
I realize now that you're probably right!
"_" is allowed in dns, [rfc2782](http://ietf.org/rfc/rfc2782.txt) but not in use as part of hostnames, that's where i've mixed stuff up.

I get a bit annoyed when something is quick to enforce "proper conventions" where they're not required. I understand if this would be due to a hard requirement, but imho it doesn't seem like there's a hard requirement fr

[2016-10-17 21:46] justincormack commented on #27410
@rcarmo same reported version could well have patches.

[2016-10-17 21:51] justincormack commented on #27410
@darthva we do not provide any builds at all for i686, there is no Dockerfile for it, and I am not sure how it is being patched to work at all (if someone wants to contribute a build it would be possible but no one has done so far), so I am going to close the issue as it is completely unsupported. Can continue to try to help you. What image are you trying to run? There are not many i686 images aro

[2016-10-17 21:51] #27410 closed

[2016-10-17 21:58] jhowardmsft commented on #25982
@darrenstahlmsft FYI

[2016-10-17 22:00] darthva commented on #27410
ok agreed,  am trying to run Fuego a testing framework which uses docker has it is main backbone,. Easy way would be to run the docker on 64 bit system?
Thanks again

[2016-10-17 22:01] stevvooe commented on #27447
@cetex Here is information about the migration in the [release notes](https://github.com/docker/docker/blob/master/CHANGELOG.md#distribution-6). Removing invalid references may not have been the right behavior but don't assume we made this change randomly or without technical requirements.

What would you like us to do?

[2016-10-17 22:03] justincormack commented on #27195
I think it is probably a bug in `fakeroot` but it is hard to tell. It does have a daemon, which could behave differently with or without a `tty`.

(What is the use case for `fakeroot` given you can use actual root if needed)?

[2016-10-17 22:15] justincormack commented on #27410
Yes, 64 bit system should be better.

On 17 Oct 2016 11:00 p.m., "darthva" <notifications@github.com> wrote:

[2016-10-17 22:36] thaJeztah commented on #27208
I reproduced this on 1.12.2 and on master c028a88, and can confirm it's a regression in 1.12.2

I wonder if this is related to https://github.com/docker/docker/issues/27390, although there's no combined udp/tcp involved here.

To reproduce, the simplest docker-compose.yml, and `.dab` file;

[code]

[code]

[2016-10-17 22:36] cetex commented on #27447
I'd prefer it if you relaxed the hostname-part of the image naming a lot. :)
container hostnames could still be limited, if required for technical reasons, but i don't really see the need for it.
If pull, push and similar doesn't work because whatever name resolution in use can't resolve a host it's perfectly fine. And in this case it's not your problem anyways.

Take this fictional example if a n

[2016-10-17 22:57] thaJeztah opened #27469 "[1.12.2] Service create with two ports published fails"
When creating a service that publishes two ports, but doesn't specify the host-port, service create fails;

[code]

Note that this works;

[code]

And so does;

[code]

or

[code]

or

[code]

Based on the above (especially the last one), it looks like published multiple ports tries to assign the same "random" port multiple times.

Tested on;

[code]

and on Linux (to exclude it being a Docker for

[2016-10-17 23:14] jnathanh commented on #22464
I also got this error, but I just needed to map the port in my docker-compose file:

[code]

[2016-10-17 23:22] thaJeztah commented on #27447
I think this is a duplicate of https://github.com/docker/docker/issues/27275

[2016-10-17 23:24] lmakarov commented on #19699
I'm having an issue when `docker exec` with the `-t` (allocate pseudo-TTY) option will exit with exit code 129 regardless of the actual exit code. This only happens when using `-t` and so far only with php based tools/scripts.

This has been reported for docker compose in https://github.com/docker/compose/issues/3379
I wonder if this issue (#19699) is the root case of it all.

Here's a quick examp

[2016-10-17 23:39] #21224 closed

[2016-10-17 23:44] kfowlks commented on #27410
Just for completeness and to help others using the PINE64, I have the same problem using ubuntu 16.04 on PINE64 arch armhf. I also have the same version of systemd that @rcarmo mentioned above, but for me doing an apt-get dist-upgrade and a reboot did not solve the issue.

I did confirm running docker run armhf/hello-world seems to work.

[code]

[2016-10-17 23:51] #26818 closed

[2016-10-18 00:05] stevvooe commented on #27447
@cetex Remember, that while images are partially a DNS name, they also are used as an image name. The fact that this worked pre-1.10 was an oversight -- image names weren't being correctly validated. The result was diverging support between satellite systems, manifesting as images that were un-pushable.

I don't think we can open up underscores in the hostname portion of image names.

[2016-10-18 00:09] thaJeztah commented on #27447
I agree with @stevvooe here, I don't think we should change this back to a faulty behavior.

[2016-10-18 00:11] coderplay commented on #21735
### MacVlan

#### Amazon Linux

[code]

place holder

[2016-10-18 01:00] hqhq commented on #27045
@tophj-ibm Grate, I'll try that out.

@tianon Are you suggesting we build trusty deb package on xenial? I was trying to build both trusty and xenial deb packages on their own images.

[2016-10-18 01:06] thaJeztah commented on #27349
No this is (at least currently) not possible; to get details of individual containers, you need to connect to the daemon of the host that the container is running on.

For stats, there's a roadmap issue for integrating with prometheus to provide metrics on (initially) the daemon, and in a later stage for individual containers / services; https://github.com/docker/docker/issues/27307

I'll close th

[2016-10-18 01:06] #27349 closed

[2016-10-18 01:20] bigwhite commented on #26946
@mrjana @dongluochen Thanks for your advice. I will go deep into checking whether it is the problem of aliyun ECS setting.

[2016-10-18 01:30] thaJeztah commented on #27439
@bravist since this issue is specific to docker for mac, I'll close this issue here; can you check if https://github.com/docker/for-mac/issues/77 matches your issue, or open a new issue in the docker for mac issue tracker? https://github.com/docker/for-mac/issues

[2016-10-18 01:30] #27439 closed

[2016-10-18 01:33] thaJeztah commented on #27449
I agree that it would be good to be consistent. Changing will be a backward incompatible change, that we need to take into account

[2016-10-18 01:36] thaJeztah commented on #27197
In your above example - what would be your expected result?

[2016-10-18 01:43] thaJeztah commented on #26838
I think this may be specific to Docker for Mac

@foxx were you running on Docker for Mac as well?

[2016-10-18 01:58] thaJeztah commented on #27443
This is not currently possible, but feel free to open a feature request; when doing so, please describe your use case, as that helps deciding if this is a feature to implement, or not

[2016-10-18 01:58] #27443 closed

[2016-10-18 02:00] hqhq commented on #27453
We had this discussing before, see if https://github.com/opencontainers/runc/pull/254 helps.

[2016-10-18 02:04] thaJeztah commented on #27454
By guess is, because it's a sparse filesystem, so it automatically grows until 244 GB, but currently is 19 GB.

However, this issue is specific to boot2docker / toolbox, and not something we can address in this repository, so I'll close this issue here, but feel free to comment after I closed

[2016-10-18 02:04] #27454 closed

[2016-10-18 02:05] samrocketman commented on #22339
This is _definitely_ a bug in the systemd configuration.  I have `DOCKER_OPTS=""` but systemd on Ubuntu 16.04 starts the docker daemon with `-H fd://`.  I want to configure docker with TLS over the network.

**Please re-open this critical bug**  I consider this a blocking and breaking bug.

[code]

Considering I'm trying to use `daemon.json` because `/etc/default/docker` states:

[code]

[2016-10-18 02:09] thaJeztah commented on #27450
If you're going to use it with nginx, why not add those files to the nginx container?

[code]

If these are static files, there may not even be a need to use a volume.

Also note that docker now has top level commands for managing volumes (e.g. `docker volume create`), which in many cases make "data-only" containers redundant.

[2016-10-18 02:11] thaJeztah commented on #27450
If you still want to use a separate image for data-only, you could consider using https://hub.docker.com/r/tianon/true/, which is very minimal (but adding to nginx would be my first choice)

[2016-10-18 02:22] thaJeztah commented on #22339
Sorry, I missed @asbjornenge's ping https://github.com/docker/docker/issues/22339#issuecomment-251888223

@samrocketman there's no _bug_ in the systemd configuration, to override defaults in a systemd unit file, you can use a drop-in file, as described here https://docs.docker.com/engine/admin/systemd/#/custom-docker-daemon-options

Producing an error if both a _flag_ and an option in `daemon.json

[2016-10-18 02:29] samrocketman commented on #22339
@thaJeztah I went ahead and proposed a patch to the exact script which is causing this for me.  See linked PR #27473.

[2016-10-18 02:40] aaronlehmann commented on #27469
I think what's happening here is that the published port is 0 at the API level when the request is sent to SwarmKit. The validation code considers two published ports of "0" to be duplicates, but this is wrong.

[2016-10-18 02:44] samrocketman commented on #22339
@thaJeztah I'll open a new issue.  Now that I read the description more closely it's somewhat similar but not the same as this issue.

[2016-10-18 02:46] allencloud commented on #27449
Yes, That's true. Open for input.

[2016-10-18 02:48] aaronlehmann commented on #27469
Opened https://github.com/docker/swarmkit/pull/1657

[2016-10-18 03:04] yongtang commented on #27469
I think #27208 is the same issue as this issue.

[2016-10-18 03:07] yongtang commented on #27469
See following for #27208:
https://github.com/docker/docker/blob/v1.12.2/api/client/stack/deploy.go#L152-L158

[2016-10-18 03:12] friism commented on #27260
@darrenstahlmsft I see it in conEmu for one - I suspect that's @FrenchBen's term too

[2016-10-18 03:32] jhowardmsft commented on #27423
First time I've seen something even remotely close to this. How was the machine setup? Anything unique that could tie it down to some avenues of investigation?

[2016-10-18 03:38] thaJeztah commented on #27469
@yongtang possibly the same, although when using .dab, I also got the error even when specifying the host port. I discussed this with @vieux and we thought it was best to open a separate issue, just in case

[2016-10-18 03:41] thaJeztah commented on #27449
ping @mavenugo @tiborvass wdyt?

[2016-10-18 03:47] anannaya commented on #27211
I am having the issue with the "docker ps" as well.  Can you please share the ticket id for exec issue.

[2016-10-18 03:59] jamiethermo commented on #27362
#dibs

[2016-10-18 04:29] thaJeztah commented on #27462
I think I found your duplicate; https://github.com/docker/docker/issues/14254 (also related; https://github.com/docker/docker/issues/17238) (no worries, we know GitHub search can be a PITA)

I'll close this issue, as it's a dup, but thanks for opening!

[2016-10-18 04:29] #27462 closed

[2016-10-18 04:33] steelbrain commented on #14254
A friendly bump, this would be nice to see implemented in docker soon

[2016-10-18 05:03] thaJeztah commented on #27234
Why did you expect a `Volume` property to be there? There's a `Volumes` Property inside `Host` (see https://docs.docker.com/engine/reference/api/docker_remote_api_v1.24/#/inspect-a-container for a description of some properties)

That's expected; on Docker for Mac, the docker daemon runs in a HyperKit virtual machine; the `/var/lib/docker` directory is _inside_ that VM (also see https://docs.docke

[2016-10-18 05:03] #27234 closed

[2016-10-18 05:16] sidshetye commented on #27019
@alexellis : Do you have working instructions on getting rid of 1.12 and installing 1.13? The tools seem a bit picky at this early stage, so would like to follow what worked for you. Seems that manually installing 1.13 per MSDN required running docker inside an admin privileged powershell window, right? Thanks

[2016-10-18 05:23] thaJeztah commented on #18074
I think this is no longer an issue, but ping me if I closed by mistake

[2016-10-18 05:23] #18074 closed

[2016-10-18 05:26] StefanScherer commented on #27019
@sidshetye To allow local users access to the docker service you can create a group, eg `docker`

See my automated steps in line 24+25 of this Windows 10 [Vagrantfile](https://github.com/StefanScherer/docker-windows-box/blob/master/windows10/Vagrantfile#L24-L25).
1. [Add docker group](https://github.com/StefanScherer/docker-windows-box/blob/cc75b1a3439b272094a09faf7221c28a84fd29a9/windows10/script

[2016-10-18 05:33] lyenking commented on #20569
@netroby  hi , I beg yours pardon ,.....saying Chinese  , 哥们你的问题解决了吗？？？

[2016-10-18 05:37] mihalski opened #27477 "Debian jessie repository hash sum mismatch error"
Hi,

I have followed the install instructions for docker-engine on the latest Raspbian Jessie running on a Raspberry Pi 3.

Upon running sudo apt-get update I get the following error:

[code]

This seems like a recurrence of earlier issue https://github.com/docker/docker/issues/23203

Regards,
Michal

[2016-10-18 05:50] thaJeztah commented on #27477
Looks like a duplicate of https://github.com/docker/docker/issues/25879; TL;DR there's no packages for debian-jessie, only for raspbian-jessie (but read the discussion on the linked issue for more details)

I'll close this issue, as this looks like a duplicate, but feel free to comment if I closed by mistake

[2016-10-18 05:50] #27477 closed

[2016-10-18 05:53] L226 commented on #5618
I'm also seeing this, Docker version 1.11.2, build b9f10c9/1.11.2, 64bit Amazon Linux 2016.03 v2.1.6.

[2016-10-18 06:00] thaJeztah commented on #25993
ping @mlaventure ^^

[2016-10-18 06:04] mihalski commented on #27477
Correct me if I'm wrong but the problem in the other issue is that they're NOT using raspbian jessie and the packages don't work with other distributions?

Meanwhile I AM using raspbian-jessie and am still having a hash mismatch error. It SEEMS like a different problem but I don't fully understand the intricacies involved in the apt packaging system.

[2016-10-18 06:09] thaJeztah commented on #27477
Perhaps I misunderstood, but in your output, it's trying to fetch from the debian-jessie repo, not raspbian-jessie http://apt.dockerproject.org/repo/dists/raspbian-jessie/main/

[2016-10-18 06:28] wulftone opened #27479 "[1.12.2-beta28 (12906)] Docker exec fails to find `cd`"
Ran into this error today with something wrong with `$PATH` (wasn't happening yesterday):

[code]

`docker exec -it myapp-dev bash` works fine though.

[2016-10-18 06:33] mihalski commented on #27477
Touche!

I'm rarely so happy to realise I've been an idiot. You are completely right. The problem was the docker documentation referred me back to the debian installation instructions without mentioning the existence of raspbian-jessie and I was totally blind to it.

Once I made the change to the sources.list file the update and install worked perfectly.

Thank you! :)

[2016-10-18 06:49] LooMaclin commented on #25381
After delete some images with "rmi" command i get error when execute "run" command or "build" command:
[code]

[2016-10-18 06:53] gmistick commented on #9755
@thaJeztah
0. Container churn can be somewhat high. (at least 10 containers removed and restored daily).
1. Not running much exec.
2. It may happen that  a container takes too long to start ( internal app) and so the inner app churn but the inner app external tools ( processes) are getting killed with forceful commands ( "kill -9 .. external tools)
3. Volumes are always mapped to local disks and a

[2016-10-18 06:54] clns commented on #27423
Nothing out of the ordinary. I installed Docker for Windows a while ago (when fist betas went out), while using Docker Toolbox till then. Everything worked fine, and after a pause of using docker (about a month or so) I tried it again and this exception is now thrown every time docker daemon is called by the docker client.

The only thing I did in the meantime was installing Go 1.7.1 over the prev

[2016-10-18 06:54] AkihiroSuda commented on #27479
This is not an issue because cd is shell's built-in command.

You can try `sh -c "cd /app; pwd"` instead

[2016-10-18 06:59] thaJeztah commented on #27477
*phew* happy I didn't make a fool of myself (as I haven't run docker on a rPi myself 😅 )

We need to improve the documentation around this, and (hopefully) will be able to build both raspbian and debian without them conflicting again soon.

Happy to hear it's resolved, and glad I was able to help!

[2016-10-18 07:04] thaJeztah commented on #9755
Thanks for the additional information @gmistick, it may also be worth checking the daemon logs, to see if they contain a hint as to why things are left behind.

When you say "kill -9 .. external tools"; what exactly do you mean with "external tools"?

also /cc @anusha-ragunathan perhaps you have more things to ask

[2016-10-18 07:17] thaJeztah commented on #27479
@AkihiroSuda beat me to it :smile: I'll close this issue, as this is not a bug, but feel free to continue the conversation if you need more info

[2016-10-18 07:17] #27479 closed

[2016-10-18 07:23] foxx commented on #26838
@thaJeztah Yup, Docker for Mac

[code]

[2016-10-18 07:28] mostolog opened #27482 "Docker service support multiples ports exposed/published for a service"
Does docker services support multiples ports exposed/published for a service?

Wouldn't --expose make sense to enable internal-cluster services ? (ie: services I don't want to be available at host level, but needed for other services)

Seems docker service create --publish 8080 --publish 8888 doesn't work...
Regards

[2016-10-18 07:30] ChristianKniep commented on #26298
Any news on this front?

[2016-10-18 08:07] dattatrayakumbhar04 opened #27484 "Docker run with --sysctl accepts with --net=host and option values other than 0 and 1"
**Description**
Docker run with --sysctl option works with --net=host. In Document, it is said that it should not work with --net=host.
net.ipv4.ip_forward value should be either 1 or 0. It accepts anything other than 1 and 0
Document link:
https://docs.docker.com/engine/reference/commandline/run/#/full-container-capabilities---privileged

**Steps to reproduce the issue:**
1. Create container with

[2016-10-18 08:39] thaJeztah commented on #26838
/cc @justincormack is there an issue tracing this?

[2016-10-18 08:49] runcom opened #27485 "AuthZ plugin broken in experimental (panic)"
[code]
The plugin is an "old" v1 plugin and I cannot find document about this new "v2". The plugin just replies with Allow: true so not sure why it first fails and then panic.
Here is the panic:
[code]

[2016-10-18 08:49] runcom commented on #27485
@anusha-ragunathan @tiborvass PTAL....

[2016-10-18 08:50] justincormack commented on #27484
I don't know how realistic validating the `sysctl` options is, there are a large number of them and in many cases the allowed values depend on the kernel version.

It should not work with host namespaces, I agree.

[2016-10-18 09:02] justincormack commented on #27484
Yes, there is no attempt to look at the namespaces before setting `sysctl` options. In theory the different types of options should depend on different namespaces, eg `net.*` depends on net namespace, so doing this correctly is a bit fiddly.

[2016-10-18 09:09] justincormack commented on #27318
If it happens again (or to anyone else) a sample of the contents of the log would be useful to determine why it fills up so fast, as a pull every 2s would not fill up 7GB, there must have been something else.

[2016-10-18 09:13] m4h3 commented on #27195
The use case was a naive port of a .deb build env from a dev environment chroot to a container base solution.
The fakeroot call appears after a USER statement from a Dockerfile, so it does need fakeroot IMHO, as most of the legacy build code expect not to be root anyway. I guess one solution is to transform fakeroot into `docker run -u 0 ....`, but the fact that it's a race should be a motivator t

[2016-10-18 09:25] vitan opened #27486 "docker daemon in swarm mode is crashing periodically"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Description**

docker 1.12 in swarm mode is crashing periodically

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

docker exited unexpected

**Describe the results you expected:**

docker daemon running constantly

**Additional inform

[2016-10-18 09:28] tarand opened #27487 "Port forwarding suddenly stops working (during download of android sources)"
I have my development environment running in a docker container - which is basically based on garland/dockerfile-ubuntu-gnome. I'm connecting to this container via vncviewer, which uses port 5901. This setup used to work pretty well.

Last week I needed to download the android sources in this container (which is done using a "repo" command which is a wrapper around git). The instruction says that

[2016-10-18 09:59] happysysadm commented on #26982
Hi,
I encounter the very same problem as Fabien. I have installed patch 9D and rebooted. The docker service doesn't start.
For info, I am using windows 2016 rtm with Hyper-V and I have tried three docker versions: 1.12, 1.12wsbeta and 1.13.
Any idea?

[2016-10-18 10:20] justincormack commented on #27486
Judging from the trace:

[code]

This looks like a libnetwork hash map access bug. It is possible it was fixed in 1.12.2 @aboch @mavenugo any ideas if you have seen this before?

[2016-10-18 10:38] mauritsl opened #27488 "Wrong date / timezone in container"
The date in the container is far off from the date of the host system, when using Docker for Mac. CEST is 2 hours behind UTC, but the reported difference is 16 hours. Se e the console output for a short summary:

[code]

Having a correct date is important for many security systems (i.e. SSL certificates that are 'not yet valid') and build tools that rely on file modification dates. This is a major

[2016-10-18 11:02] prabhukhanna commented on #27410
@kfowlks @openmax
I am getting this same issue on ubuntu16.04. Kindly refer [this link](http://stackoverflow.com/questions/40022817/docker-write-pipe-bad-file-descriptor) for detailed description. My arch details are given below:
**Linux DISYS-4QNSN32 4.4.0-42-generic #62-Ubuntu SMP Fri Oct 7 23:10:22 UTC 2016 i686 i686 i686 GNU/Linux**

ubuntu@UBUNTU-4QNSN32:~$ docker run -it ubuntu bash
Unable t

[2016-10-18 11:02] justincormack commented on #27488
This seems to be two issues. If the system time (UTC) on Docker for Mac is not synced, please report in https://github.com/docker/for-mac/issues - there are some time related issues already. Please include the output of `ntpq -p` on the Mac, which will indicate whether your Mac is currently synced to a time service, and whether it is correctly synced if you restart Docker, or whether this happens

[2016-10-18 11:06] nkkashyap commented on #27211
Hi, Even I am facing the `docker ps` hang issue with docker 1.12.0 . Once `docker ps` hang not able to create container. To recover, tried to restart the docker engine, getting following error in docker log
[code]

[2016-10-18 11:14] justincormack commented on #27393
I think this is a bit inconsistent, as I believe `-f` always just points to a name in the context, and `-f -` does not make sense like that.

I think it would be better to allow multiple contexts which are appended so you could do `docker build git://... Dockerfile` which would append the Dockerfile to the git bundle, overwriting any `Dockerfile` in it, and then you could also allow `docker build

[2016-10-18 11:16] justincormack commented on #27425
Closing this as the answer was found!

[2016-10-18 11:16] #27425 closed

[2016-10-18 11:17] rafalkrupinski commented on #27192
@allencloud neither ip:port nor host:port passed as a param to --insecure-registry worked for me, see the bug referenced above

[2016-10-18 11:18] nkkashyap commented on #27211
Attaching the docker stack dump
[docker_stack.log.gz](https://github.com/docker/docker/files/536041/docker_stack.log.gz)

[2016-10-18 11:37] barrystaes commented on #13490
I'd say dockers should facilitate passing a secret/password to a _docker instance_ but that managing these secrets is (and should be) out of the scope of docker.

When _passing a secret_ i'd say a run parameter is almost perfect except being that this is usually logged.  So i'd narrow this down to a **non-plaintext parameter** feature. An approach would be to use encryption with keys generated per

[2016-10-18 11:46] mauritsl commented on #27488
I've tried setting TZ but doesn't help. It is definitely not a timezone issue, as you can see from the console output.
It's correctly synced after restarting Docker. Thanks for that suggestion!
Docker for Mac already has an issue on this. Closing this one.

[2016-10-18 11:46] #27488 closed

[2016-10-18 11:46] allencloud commented on #27192
@rafalkrupinski

Can you give more information why this with port is invalid.

[2016-10-18 11:46] mauritsl commented on #27488
For the records the requested ntpq output, in case it still matters:

[code]

[2016-10-18 11:53] rafalkrupinski commented on #27192
#27113

[2016-10-18 11:54] openmax commented on #27410
@prabhukhanna it can't run because you have a **i686** architecture ,
because without expliciting it in the command line : docker run -it **"architecture"**/ubuntu bash
docker go to the default **amd64** architecture

in you case docker have to use this repository -> https://hub.docker.com/r/i686/ubuntu/
try this :  docker run -it i686/ubuntu bash

[2016-10-18 12:07] groyee commented on #27268
No, sorry, my wording wasn't accurate.

We don't use on-node-failure feature.

When the container restarts by itself it always restarts it on the same host.

When we do it manually: **docker-compose scale=0** and then **docker-compose scale=X** then swarm can schedule it where it wants.

[2016-10-18 12:14] estesp commented on #27444
The underlying issue is that the ulimits controls are not namespaced. For the limit you are talking about, `NPROC`, it is only related to the number of processes (threads) for the real user as understood by the kernel, without any awareness of user namespaces. That would have to be an upstream Linux kernel discussion to attempt to change that current behavior.

If you want a more granular approach

[2016-10-18 12:18] justincormack commented on #27488
@mauritsl can you post that in the other issue. Your Mac does not have time sync to the timeserver, you should have a `*` in the first column eg:

[code]

This is why the VM did not sync to your Mac. We are trying to work out how common this is, so we can work out how to resolve this.

[2016-10-18 12:22] TanmayaA commented on #26434
@tonistiigi I'll try to give an update by tomorrow

[2016-10-18 12:24] dsheets commented on #27393
For the local directory case, `-f path` will resolve `path` relative to the cwd of the `docker` client process which is inconsistent with the stdin, git, and URL cases. It is a widespread convention that path arguments can be `-` to read from stdin which is consistent with the local directory case (relative to the invocation).

Currently, a local context can only be a directory (not a tarball or a

[2016-10-18 12:29] allencloud commented on #25291
I think it is a useful feature for volume management. But first, like @thaJeztah mentioned, we need to do a detailed plan for this.

[2016-10-18 12:31] justincormack commented on #27045
Not sure I would recommend supporting trusty at all for aarch64. Certainly it would be better just to start with xenial support.

[2016-10-18 12:32] justincormack commented on #26838
Yes, it is tracked here https://github.com/docker/for-mac/issues/57

I am going to close this issue as it is already being tracked (and worked on I believe).

[2016-10-18 12:32] #26838 closed

[2016-10-18 12:33] prabhukhanna commented on #27410
@openmax That works ! ! ! Likewise, If I run **docker run i686/hello-world** it didn't work. Any thoughts ?

[2016-10-18 12:35] justincormack commented on #27410
@prabhukhanna there is no i686 hello world image at present see https://hub.docker.com/u/i686/ for the available images. As said earlier, we do not support i686 and there is no way to even build it in the official repo at present. If someone wants to add support it could be made to work, but we have not had significant demand, and as you can see there are very few available images.

[2016-10-18 12:42] allencloud commented on #26133
I think this issue is somewhat related to https://github.com/docker/docker/issues/25291

[2016-10-18 12:50] guenhter commented on #25016
Also want to create a cluster with Elasticsearch, but this is not possible with VIP.
https://forums.docker.com/t/easy-elasticsearch-cluster-with-docker-1-12-swarm/19648/5
has a description.
Core statement: "Elasticsearch doesn't like get load balanced at all"

Would appreciate this, because the current way how I setup a ES cluster with swarm is ...

[2016-10-18 12:51] prabhukhanna commented on #27410
@justincormack Thanks. I am planning to change from Ubuntu 16.04 32bit to 64bit. Hope, this solves.

[2016-10-18 12:56] mavenugo commented on #27486
I have never seen this before. the offending code is introduced via https://github.com/docker/libnetwork/pull/1269 which is present prior to 1.12.0 and is not modified since. Idk if 1.12.2 is going to solve this. but @mrjana might know better.

[2016-10-18 13:09] gaocegege commented on #27484
#dibs

[2016-10-18 13:16] dattatrayakumbhar04 commented on #27484
#dibs.
I will take it ..Will add verification for not to work with --host mode.
Will check how can we validate net.* options value

[2016-10-18 13:22] xcellardoor opened #27491 "Docker not publishing ports correctly"
Since the upgrade to 1.12 if I publish ports on Arch, Fedora or CentOS, I am unable to bind to them. This may be because Docker has stopped setting up masquerading correctly? I'm getting 'Connection reset by peer' (see below).

The iptables element of Docker is enabled and no special networks are being used, just the default one. However whenever I try to connect to the ports - nothing.

I've sear

[2016-10-18 13:28] allencloud opened #27493 "volume options is missing in `docker volume inspect xxx`"
**Description**
I created a local volume with options, while when I docker volume inspect this volume, I can not see any volume option. I think this is somewhat not so user-friendly.

**Steps to reproduce the issue:**
1. `docker volume create --driver local --opt type=tmpfs --opt device=tmpfs --opt o=size=100m,uid=1000 --name foo`
2.`docker volume inspect foo`

**Describe the results you received:

[2016-10-18 13:34] graingert commented on #7115
have a look at https://github.com/6si/shipwright

[2016-10-18 13:35] graingert commented on #17745
@thaJeztah dupe of https://github.com/docker/docker/issues/14080

[2016-10-18 13:38] justincormack commented on #27491
Please can you give a full example, and full details of your Docker version and info as requested.

[2016-10-18 13:41] justincormack commented on #27444
Ah yes that makes sense. It is not specific to user namespaces either. Using the `--pids-limit` seems the best solution.

Closing as working as intended, even if a bit unexpected.

[2016-10-18 13:41] #27444 closed

[2016-10-18 13:44] TanmayaA commented on #26434
@tonistiigi no go, still same error:
[code]

[2016-10-18 13:48] sanimej commented on #27482
Multiple published ports for a service is supported. But 1.12.2 has a bug, being tracked by #27469

[2016-10-18 13:56] #27482 closed

[2016-10-18 14:06] gaocegege commented on #27484
Hi, I will take it 😄
Should we check the netmode and sysctl in client, just like https://github.com/docker/docker/blob/master/cli/command/container/run.go#L90:#L92 or add the check to daemon code?

[2016-10-18 14:07] xcellardoor commented on #27491
Sure thing, if I were to execute an instance of Ghost:
`docker run --name some-ghost -p 8080:2368 -d ghost`

Then I am unable to reach the container on port 8080. This is true for web browser or a wget. Also true if I spin up a new docker bridge network such as 'docker-network' and then use `--net docker-network` as a startup argument.

The same is true for essentially any service I try to run (th

[2016-10-18 14:09] tobilg commented on #25008
@justincormack I just installed the latest Docker for Mac beta, which reports the Docker version as 1.12.2. It's not using the `/etc/hosts` settings from Mac OS:

[code]

[2016-10-18 14:34] mwaf opened #27494 "Hostnames not published to swarm in 1.12.2"
**Description**

Service hostname discovery is broken in 1.12.2, containers can no longer find each other (or themselves) by their name.

**Steps to reproduce the issue:**

Using 1.12.1: `docker service create --name foo --publish 12345 alpine ping foo`
[code]

Using 1.12.2: `docker service create --name foo --publish 12345 alpine ping foo`
[code]

**Output of `docker version`:**

[code]
VS
[code]

[2016-10-18 14:41] nalind commented on #26808
@stevvooe Individual Data objects (used to represent unique field+value pairs) can be compressed, but my expectation is that the majority of the increase in the journal's size would be in Entry objects (which refer to Data objects), which are not compressed.

An Entry object is larger if we add a reference to a Data item, whether that Data item shows the field having a non-zero-length value or not

[2016-10-18 14:51] yank1 commented on #27469
+1

[2016-10-18 14:57] sanimej commented on #27494
@mwaf Can you create a overlay network first and then create the service on that network ?

When you don't specify any network in service create it gets attached to an `ingress` network. Purpose of the `ingress` network is only to provide the routing mesh (ie: you can reach the task from any node in the cluster). But service discovery is disabled in the `ingress` network.

[2016-10-18 15:05] thaJeztah commented on #17745
@graingert yes it is, sorry, should've added that :+1:

[2016-10-18 15:05] ddingel commented on #27453
So I created a new issue https://github.com/opencontainers/runc/issues/1119 on the runc project.

Thanks for the pointer. I read all comments as well as the code and think the conclusion at the time was right, and also that our proposal is different enough that it might be worth another discussion.

[2016-10-18 15:12] troy0820 opened #27495 "Localhost editor doesn't reflect changes in dev container per contributing docs"
**Description**

When trying to contribute to docker using the suggested contributing docs, [contributing docs](https://docs.docker.com/opensource/project/set-up-dev-env/), using my default editor in localhost doesn't change the code in the image.

**Steps to reproduce the issue:**
1.  Cloned repo and followed contributing docs
2. Did code change
3. Checked to see if code was changed in container

[2016-10-18 15:14] yongtang commented on #27493
@allencloud See #25545 and #26671. #26671 is pending review now.

[2016-10-18 15:32] jmwilkinson opened #27496 "Cannot specify --bip when starting docker, "Address already in use""
**Description**

**Steps to reproduce the issue:**
1. Attempt to specify a CIDR block when starting docker
    - Run this command: dockerd -D --bip=172.17.0.0/16

**Describe the results you received:**
Received the following output.

[docker-debug.txt](https://github.com/docker/docker/files/536665/docker-debug.txt)

The fatal error is the following:
[code]
**Describe the results you expected:**

I

[2016-10-18 15:41] mwaf commented on #27494
Thanks @sanimej , that solves the issue.

Apparently it's an intended change as well, https://github.com/docker/libnetwork/pull/1489 so no real issue here.

[2016-10-18 15:41] #27494 closed

[2016-10-18 15:46] LK4D4 commented on #17551
@dmcgowan wrote new driver and all patches were merged into kernel. I think we can close this for now.

[2016-10-18 15:46] #17551 closed

[2016-10-18 15:46] LK4D4 commented on #19237
ping @thaJeztah
Is there still hope?

[2016-10-18 15:49] mlaventure commented on #25381
@LooMaclin did your docker package got upgraded in between?

Deleting images wouldn't cause this kind of errors.

[2016-10-18 15:49] LK4D4 commented on #18654
@mrunalp This wasn't implemented? Are you still interested?

[2016-10-18 15:50] LK4D4 commented on #19306
ping @thaJeztah
Do you know if it's still worth to do?

[2016-10-18 15:51] tophj-ibm commented on #27495
`make shell` builds a docker-dev image every time that should copy over your local code into a new container. So if you re-run `make shell`, does that container have your updated code?

[2016-10-18 15:51] LK4D4 commented on #15127
ping @mrjana @sanimej @aboch
Could you pls try and close or fix issue?

[2016-10-18 15:58] salmanbaset commented on #26767
+1 - this should be a docker run option at least for bridged networking. Initially, something like:
docker run --net-out-bps | --net-in-bps
with options for bursting possibly added later.

underneath, it can configure tc and tear it down.

[2016-10-18 16:03] govint commented on #25291
Plus, being able to grow (especially) or shrink a disk, storage policy for example. And for persistent volumes backed by volume drivers it could include virtually any property that the volume driver can manipulate.

[2016-10-18 16:03] mviereck opened #27497 "shared X socket vs. X over tcp -> GPU acceleration doesn't work with X over tcp"
I'm working on a project to provide secure sandboxing for dockered GUI applictions:
https://github.com/mviereck/x11docker
The core idea is to run a second X server for use with docker. This avoids breaking container isolation like it is the case in widespread solutions with shared X socket from display :0.

GUI clients in docker get access to the second X server over tcp instead of sharing X socke

[2016-10-18 16:04] buckett commented on #20560
@thaJeztah I've just seen this today:

[code]

[2016-10-18 16:07] jhowardmsft commented on #27423
I can't see anything obvious. @jstarks in case I'm missing something.

@clns Can you try an experiment and use TCP rather than the default named pipe - run the daemon manually `net stop docker` if you have it running as a service, and start it from an elevated command prompt with `dockerd -D -H tcp://127.0.0.1:2375`. Then from and elevated command prompt run the client as `docker -H tcp://127.0.0.

[2016-10-18 16:10] m4h3 commented on #27195
The difference between hangs or fails depends on spawned daemon by fakeroot : faked. For some unknown reason, this one seems to randomly die prematurely, locking the fakerooted process in a IPC deadlock.

[2016-10-18 16:10] troy0820 commented on #27495
@tophj-ibm Yeah, that actually works.  I'm just reading the docs, I can make a PR to that because it says
[code]
Which gave me the indication to run `hack/make.sh binary` before running the `make shell` to push up the changes to the docker image.

It's safe to close this issue.

[2016-10-18 16:20] ceecko commented on #20560
@buckett see #27381. It should help if you're using ext4 as backing filesystem

[2016-10-18 16:22] LK4D4 commented on #19259
It's probably still indeed a problem. We need to default to json-file or none.
@thaJeztah @cpuguy83 thoughts?

[2016-10-18 16:25] LK4D4 commented on #18793
@thaJeztah do you know if this was fixed?

[2016-10-18 16:25] aboch commented on #27496
@jmwilkinson
The `--bip` option is for specifying the bridge interface IP address and its broadcast domain, via CIDR notation.

So it would look as something as `--bip=172.19.0.100`.

[2016-10-18 16:26] LK4D4 commented on #18827
@thaJeztah is this going to be fixed?

[2016-10-18 16:26] LK4D4 commented on #19472
Did not see this for a long time.

[2016-10-18 16:26] #19472 closed

[2016-10-18 16:30] thaJeztah commented on #18827
good question @runcom @mstanleyjones any thoughts?

[2016-10-18 16:30] jmwilkinson commented on #27496
@aboch Perhaps I'm missing something, but I do not believe the example you gave is a valid CIDR block...

Also, maybe it wasn't clear in my initial post, but I am running it in that fashion...

[code]

Is there something wrong with this? Can you give an explicit example of the command I should run to specify the CIDR block for the bridge?

[2016-10-18 16:31] mlaventure commented on #25993
@jonaseberle your hang should be solved by https://github.com/docker/docker/pull/27405

Your daemon is blocked on `openReaderFromFifo` `OpenFile` call.

[2016-10-18 16:33] LK4D4 commented on #19587
Not sure if it's related to windows or aufs. At least it works on overlay2.
@thaJeztah could you try with aufs?

[2016-10-18 16:34] LK4D4 commented on #17832
There was remote call to registry in `docker ps -s` codepath. We've fixed it and now it's fast.

[2016-10-18 16:35] MarkThink opened #27498 "Linux Newly installed disk docker can not be found"
Linux Newly installed disk docker can not be found

[root@dev www]# cat /etc/redhat-release
CentOS Linux release 7.2.1511 (Core)

[code]

[2016-10-18 16:35] LK4D4 commented on #19613
Looks harmless and I did not see it since :)

[2016-10-18 16:35] #19613 closed

[2016-10-18 16:36] LK4D4 commented on #19660
I agree that it's easy to do with bash (I'm doing it all the time) and relatively hard to implement and maintain.

[2016-10-18 16:36] #19660 closed

[2016-10-18 16:40] tophj-ibm commented on #27495
I see where you got messed up now. Under that section the docs say `Running the make shell command mounted your local Docker repository source into your Docker container.` and this isn't the case, it's only mounting the bundles directory (which might be a bug). If it did mount your entire repository source, you wouldn't need to re-run `make shell` and then the docs are correct.

[2016-10-18 16:42] friism opened #27499 "Windows container name DNS resolution issue"
This is a tracking issue for a DNS problem with how container DNS resolution works on Windows. The problem will only manifest for some DNS configurations.

@msabansal is tracking resolution in Windows.

**Workaround**

Add this in the `Dockerfile`:

[code]

This causes the in-container Windows DNS Client to not start skipping the built-in Docker DNS server (used for resolving container names).

**

[2016-10-18 16:53] aboch commented on #27496
Oh,sorry was in a hurry, did not notice the typo.
I meant this: `172.17.0.100/16`

[2016-10-18 16:54] binarytemple-bet365 commented on #6396
@Sodki I took your advice. Yes, [rocker](https://github.com/grammarly/rocker/tree/master) is a clean and well thought out solution. More's the shame the docker team wouldn't just take that project under their wing and deprecate `docker build`. Thank you.

[2016-10-18 16:58] xiaods commented on #27486
https://github.com/kubernetes/minikube/issues/368

[2016-10-18 17:01] mstanleyjones commented on #26808
Created https://github.com/docker/docker.github.io/issues/254 to update that content and address some of the suggestions here.

[2016-10-18 17:01] anusha-ragunathan commented on #27485
initPlugin errors with `Error response from daemon: plugin test-plugin failed with error: legacy plugin: Plugin does not implement the requested driver`.

The initPlugin error should return immediately. But instead its strange that AuthzRequest proceeds to plugin.Call and callWithRetry and hence resulting in the panic. I'll look more.

@runcom : docs for pluginv2 are in https://github.com/docker/d

[2016-10-18 17:03] mstanleyjones commented on #18827
Sure, I'll take this.

[2016-10-18 17:06] anusha-ragunathan commented on #27485
@runcom : can you share your repro steps?

[2016-10-18 17:13] mrjana commented on #27486
Looks like delete from the map when we cleanup is mistakenly happening outside the lock and this is the cause of the problem: https://github.com/docker/libnetwork/blob/master/sandbox.go#L851

And this is still the case so yeah it is not fixed in 1.12.2. Will fix it.

[2016-10-18 17:14] troy0820 commented on #27495
Should we keep this open and reference this if it is a bug?  I put a PR in the docs for `working with a development container` to get around this issue.

[2016-10-18 17:18] tophj-ibm commented on #27495
I think we should keep this open until we can figure out if it's an actual bug in the docker code or just something that needs updating in the docs

[2016-10-18 17:21] mrjana commented on #27486
Created libnetwork PR https://github.com/docker/libnetwork/pull/1512 to fix this.

[2016-10-18 17:29] thaJeztah commented on #21928
Looks like this was duplicated by https://github.com/docker/docker/issues/24928, but that has some more discussion, so I'll close this one. Please continue the conversation over there

[2016-10-18 17:29] #21928 closed

[2016-10-18 17:31] LK4D4 commented on #19418
@mavenugo @aboch @sanimej still an issue?

[2016-10-18 17:33] sanimej commented on #27494
@mwaf Thanks for confirming. Yes, it is the intended behavior.

[2016-10-18 17:33] LK4D4 commented on #13454
@stevvooe @aaronlehmann @tonistiigi do you think we can close this one?

[2016-10-18 17:33] anusha-ragunathan commented on #27485
`The plugin just replies with Allow: true so not sure why it first fails and then panic.`
Maybe the first API requests is allowed by the plugin and it responds with `Allow`.
Then during the next API request, there's some state corruption and hence the panic.

[2016-10-18 17:34] LK4D4 commented on #19678
@mrjana @aboch @sanimej do you know if anything was done about this?

[2016-10-18 17:36] LK4D4 commented on #19755
Yeah, sounds quite hard to implement and use-cases is not clear. Closing for lack of interest.

[2016-10-18 17:36] #19755 closed

[2016-10-18 17:36] LK4D4 commented on #20309
@mavenugo @mrjana @aboch @sanimej do you know if this was addressed?

[2016-10-18 17:37] anusha-ragunathan commented on #27485
Also, can you confirm that this `test-plugin` worked before pluginv2 support was added in https://github.com/docker/docker/pull/27293/commits/c5393ee147e981ded8fdf12c8da790abd1130175 ?

[2016-10-18 17:37] LK4D4 commented on #20176
@cpuguy83 was this fixed? at least partially?

[2016-10-18 17:39] LK4D4 commented on #20304
This is quite old and I'm not sure what to do about it.
Maybe @tonistiigi has something to say.

[2016-10-18 17:39] LK4D4 commented on #20276
@cpuguy83 any news?

[2016-10-18 17:39] stevvooe commented on #13454
@LK4D4 That should help, somewhat.

I am apt to close this issue, however, as the closure condition is slightly ambiguous. It has some suggestions of what to do without framing the problem. _When is pushing images to the hub no longer slow?_ If there are specific problems that are contributed to performance issues, we should file bugs for those and address those specifically.

The other problem I

[2016-10-18 17:39] #13454 closed

[2016-10-18 17:40] LK4D4 commented on #20024
@mrjana @aboch @sanimej is this still actual?

[2016-10-18 17:46] LK4D4 commented on #16988
@dmcgowan @stevvooe @aaronlehmann do you know if something was done about this? Is this still worth to implement?

[2016-10-18 17:47] LK4D4 commented on #19055
Closing as nobody confirmed bug since Vivek tried.

[2016-10-18 17:47] #19055 closed

[2016-10-18 17:49] LK4D4 commented on #19440
Yeah, it's quite dangerous to depend on those files. For collecting use-cases it's better to use syslog driver IMO.

[2016-10-18 17:49] #19440 closed

[2016-10-18 17:54] tophj-ibm commented on #27495
@troy0820  looks like the intended behavior is `make BIND_DIR=. binary shell`, which will correctly bind mount you directory so you shouldn't have to call `make shell` again. A PR was merged into the old docs repo, and wasn't moved to the new one. I'll comment on your issue over there and someone should fix it. You should be able to close this now

[2016-10-18 17:54] LK4D4 commented on #20295
It's still a pain point. Flags for instructions were introduced, but we still afraid of using them. Probably just better to be aware :/

[2016-10-18 17:59] mrjana commented on #27218
ping @anthonyserious. Any update on this? It seems trying to form a swarm cluster between a linux VM and docker4mac is not going to work out of the box. Not sure what we do with this bug. May be mark it as `platform/desktop`? /cc @justincormack

[2016-10-18 18:00] troy0820 commented on #27495
Awesome @tophj-ibm. Thanks.

[2016-10-18 18:03] mrjana commented on #26806
@saithala Yeah not been able to reproduce your problem. When you get into this situation i.e when the application errors out, can you try getting into the container where the application was running by running `docker exec` and try to manually execute `curl` (or even nslookup if you are having discovery problem) to see if there is really a problem in discovery? At the moment we are still looking a

[2016-10-18 18:10] jmwilkinson commented on #27496
Ah, that works. Thank you.

[2016-10-18 18:10] #27496 closed

[2016-10-18 18:21] dnephin commented on #27461
Ya, this is happening because of this: https://github.com/docker/docker/blob/master/vendor/src/github.com/spf13/pflag/flag.go#L504

`%q` prints the string with the escaped backslashes. I'll submit a PR to fix it in `spf13/pflag`

[2016-10-18 18:22] allencloud commented on #27493
Oh, great. Thanks a lot @yongtang .
Closing this.

[2016-10-18 18:22] #27493 closed

[2016-10-18 18:27] aboch commented on #19678
Sumbmitter did not provide the required file, yet. There is no much we can do, other than noticing this problem has not been reported again since.

[2016-10-18 18:29] LK4D4 commented on #19678
Ok, I'm closing this since it wasn't reported since. Feel free to open a new issue if you have a way to reproduce.

[2016-10-18 18:29] #19678 closed

[2016-10-18 18:30] anusha-ragunathan commented on #27485
@runcom : can you post your entire daemon logs run in debug mode? also, provide steps on how to repro including how the authz plugin was installed, the daemon start flags, the API calls made to the authz plugin.

[2016-10-18 18:31] jhowardmsft commented on #27461
Cool, thanks @dnephin! :smile:

[2016-10-18 18:32] runcom commented on #27485
@anusha-ragunathan sorted out, turns out it was me playing too much with the plugin :( sorry for the noise

[2016-10-18 18:32] #27485 closed

[2016-10-18 18:36] LK4D4 commented on #16699
There are build-args now. I think it's enough for most use-cases.

[2016-10-18 18:36] #16699 closed

[2016-10-18 18:38] dongluochen commented on #26930
@michelvocks We can look at the ingress sandbox. Here is the instruction for Docker 1.2.1 (It has changed for later version). We would like to get the output from ingress sbox.

[code]

[2016-10-18 18:40] mikedougherty commented on #27134
In my experience this happens when adding a file to `/`.

Add a file to not-root works correctly:
[code]

Adding the same file to `/` fails as mentioned above:
[code]

---
My info and version:

[code]
[code]

[2016-10-18 18:54] thaJeztah opened #27500 "[1.13] Add Fedora 25 RPM's"
This is a tracking issue to make sure we prepare RPM's for Fedora 25 as it will be released during 1.13 code freeze; https://fedoraproject.org/wiki/Releases/25/Schedule (2016-11-15)

During code freeze, we can use the "rawhide" tag (https://hub.docker.com/_/fedora/) which is "fedora 25 in the making"

@andrewhsu is going to look into this

/cc @runcom @vieux @andrewhsu

[2016-10-18 18:54] aboch commented on #20024
In kv-store based multihost networking, a kv-store is an integral part of the solution. The system cannot work without it.

Based on that and given the new swarm-mode is now availbale, I do not think we are going to look into making changes to address this feature request on the kv-store based multihost networking.

[2016-10-18 18:55] aaronlehmann commented on #16988
The digest was added to the `JSONMessage` so it doesn't need to be parsed out of the textual output.

I think we can close this.

[2016-10-18 18:55] LK4D4 commented on #20024
Okay, I'm closing this because swarm-mode is way to do networking now.

[2016-10-18 18:55] #20024 closed

[2016-10-18 18:55] thaJeztah commented on #19957
engine-api has been moved back in, so I'll close this issue, but as always, feel free to comment

[2016-10-18 18:55] #19957 closed

[2016-10-18 18:56] LK4D4 commented on #16988
@aaronlehmann Thanks!

[2016-10-18 18:56] #16988 closed

[2016-10-18 18:59] mostolog commented on #27447
AFAIK, underscores aren't recommendable: http://stackoverflow.com/a/2183140
To sum up:

- DNS spec allows underscores
- But underscores aren't valid in hostnames

Looking for an easier DNS-naming convention I won't accept underscores.

My 2 cents.

[2016-10-18 18:59] thaJeztah commented on #27134
@mikedougherty so this could be a duplicate of https://github.com/docker/docker/issues/25925 ?

[2016-10-18 19:02] runcom commented on #27500
Rawhide isn't F25 in the making anymore :( it's following its own cycle now since F25 already has a branch

[2016-10-18 19:07] binarytemple commented on #13490
What's wrong with just implementing MOUNT like [rocker mounts](https://github.com/grammarly/rocker#mount) as @agilgur5 remarked earlier. I can't believe this debate has gone so long that a team has had to effectively fork the `docker build` command in order to satisfy this really easy use case. Do we need another HTTP server in the mix? KISS.

[2016-10-18 19:09] mostolog commented on #27275
IMHO setting --hostname foo.domain.com doesn't looks very polite.

hostname is not the same as FQDN.

what _hostname_ command will return?
what name will be registered on /etc/hosts?
what name will be registered on DNS?

I think we are missing a --domain...anyway, I'll wait to https://github.com/docker/swarmkit/issues/1242

[2016-10-18 19:09] dnephin commented on #27461
#27502

[2016-10-18 19:12] cetex commented on #27447
Ok, i give up. :)

It's not a hard requirement for our env to work anyways, but it would've been nice if services we run didn't try to enforce stuff where it's not required from the service's perspective.

[2016-10-18 19:12] #27447 closed

[2016-10-18 19:15] mikedougherty commented on #27134
@thaJeztah ah yes indeed. that's consistent with what i'm seeing.

[2016-10-18 19:15] cookandy commented on #12565
@itwasntandy:

I am also having trouble with what I think is ICMP fragmentation messages, and was wondering if you had any ideas...

First, due to IPSec overhead, I must adjust my MTU to `1460` in order to access services in Docker containers.  Since the setting of the MTU didn't work (see https://github.com/docker/docker/issues/26473), I adjusted it on the firewall with:

`iptables -t mangle -A P

[2016-10-18 19:20] mostolog commented on #26735
Similar scenario (LB nginx) is working for me. Shall we close this?

[2016-10-18 19:33] troy0820 commented on #27495
I can confirm that this works.  I understand that the repo linking the docs is not presently the docs that are on the website.  Are they using `docker/docker.github.io` for the docs or are they using `docker/opensource` for the docs?  Right now there is an issue in the `opensource` repo to move the docs to the other repository.

The command in the README in my opinion should be updated to reflect

[2016-10-18 19:37] mostolog commented on #27498
Sorry, but I don't understand what you are talking about.

Do you mean a new local hardware disk is not being detected by docker-engine?

Please, could you elaborate a bit more?

[2016-10-18 19:38] FrenchBen commented on #27260
that's correct - I use conEmu, haven't had a chance to check PowerShell to confirm

[2016-10-18 19:42] itwasntandy commented on #12565
@cookandy as per my comment on #26473 you were setting the MTU on the wrong interface, which is why that was not working.
You need to leave eth1's MTU alone, and then use the `--mtu` parameter with docker to set it for docker0.

As for why MSS clamping is not working for you, you'd need to run some packet captures to see what is going on. if you can provide them I can look at them for you to help

[2016-10-18 19:44] DavidObando commented on #13381
Just in case it helps folks running docker in an Ubuntu VM under Hyper-V (Windows) facing this same issue, it can be worked around by specifying the dns to use.

[2016-10-18 19:47] #27374 closed

[2016-10-18 19:47] LK4D4 commented on #27374
@tevjef Can you try to verify with master? Thanks!

[2016-10-18 19:52] kim0 opened #27504 "Document how to revert a container to its zfs snapshot"
I'm running docker with the zfs backend. I'm taking snapshots every 10mins. Sorry if its obvious, but I could not figure out how do I revert a container to a recent snapshot. In fact, I cannot find a way to figure out the relation between a running container, and its zfs filesystem/snapshot/clone.

An addition to docs explaining this, is most appreciated.

[2016-10-18 19:53] jamiethermo opened #27505 ""make test" fails on OSX 14.5"
"Uninstall / Reset" of docker install
clean git checkout of master
make test

[code]

Darwin USCBD-25QG8WQ 14.5.0 Darwin Kernel Version 14.5.0: Mon Aug 29 21:14:16 PDT 2016; root:xnu-2782.50.6~1/RELEASE_X86_64 x86_64

[2016-10-18 19:53] mostolog opened #27506 "Add https://get.docker.com/TAG to (easily) download previous releases"
Although it's a docker.com issue, perhaps someone in here (who considers this request interesting) can ping someone there. Otherwise, just close ;)

Scrolling trough https://github.com/docker/docker/releases I'm not able to find a way to install a specific release, cause all share the same:

I was wondering if adding a TAG version to URL could work:

Instead of tricks like: https://forums.docker.c

[2016-10-18 19:56] cookandy commented on #12565
@itwasntandy:

Yeah, I've since gone back and adjusted the MTU on the `docker0` interface by running the `--mtu` parameter with Docker.  However, it didn't seem to make any difference.  The iptables rule is what ultimately fixed my original problem.

I really appreciate the offer to help analyze my packet captures for the ES problem.  To give you some background, here is the issue:

https://github

[2016-10-18 20:11] DavidObando opened #27507 "Send session ID to the registry for telemetry purposes"
This is related to docker/distribution#1479. For telemetry purposes, I'd like to be able to correlate events on the registry so that failures can be analyzed and root caused efficiently.

There's already adequate support for single event multiple log correlation on the registry (for example: `"http.request.id"`), but it's still not easy to correlate log entries spanning different events coming fro

[2016-10-18 20:15] alexmavr opened #27508 "Proposal: configurable image pull policies for services"
Today, newly-scheduled tasks always try to pull the image indicated in the ContainerSpec, even if that exact image tag is available on the node where the task is scheduled (as indicated in the comment at https://github.com/docker/docker/issues/25211#issuecomment-236158843)

In order to make this behavior more configurable, I would like to propose a "Service Pull Policy" feature, featuring three po

[2016-10-18 20:23] tophj-ibm commented on #27495
docker/docker.github.io is the new repository for the docs. docker/opensource was one of the old ones used.

You can also use `make BIND_DIR=. shell` which won't automatically make the binary for you (that's what the extra binary does), but will volume mount your docker source repo from your host machine to the dev container.

Feel free to add in the explanations in the docs PR

[2016-10-18 20:26] dongluochen commented on #26735
@dhiraj-hadkar Do you still have problem with load balancer?

[2016-10-18 20:28] sburnwal commented on #27008
I have found that instead of using 'docker daemon ...' to start the daemon, if I use the approach of systemctl start docker - terminal is not locked. I am fine for this issue to be closed.

[2016-10-18 20:33] blaines commented on #17832
[code]

@LK4D4  If it's resolved can you locate the commit so I can track it?

[2016-10-18 20:37] sburnwal opened #27511 "API to pull images with content trust enabled"
I want to programmatically pull signed images and make sure that signature of the signed images are verified. Basically, I want to do the same things as in docker pull with 'DOCKER_CONTENT_TRUST=true' but programmatically. I have 2 questions:

(1) Is there any docker remote API that allows me to pull images with content trust enabled ?
(2) I know when content trust is enabled and someone wants to

[2016-10-18 20:42] thaJeztah commented on #27500
@runcom is there another image that can be used? Also, is "rawhide" no longer updated then, and should be considered "deprecated"?

[2016-10-18 21:02] itwasntandy commented on #12565
you don't need wireshark, and won't need to decrypt the captures as packet captures from the docker0 interface will be outside of your ipsec so you won't be bothered.

if you `sudo tcpdump -nvv -w /var/tmp/node1.pcap -i docker0` on the first node
and `sudo tcpdump -nvv -w /var/tmp/node2.pcap -i docker0` on the second node, and then put the files somewhere I can grab them I can take a look.

[2016-10-18 21:16] runcom commented on #27500
rawhide == development release (it's like a rolling release), every 6 months or so we branch out from rawhide and tag a new upcoming release (say F25). So, no it's not deprecated, and I'm not sure which one you could use, since there's no F25 yet as you pointed out.

[2016-10-18 21:19] nsamala commented on #27237
I'm starting to run into this. Except in our case, this used to work up until this morning. Suddenly, ports on other nodes are no longer accessible. Running docker 1.12.2

`docker info
Containers: 15
 Running: 5
 Paused: 0
 Stopped: 10
Images: 28
Server Version: 1.12.2
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 192
 Dirperm1 Supported: true
Logging Drive

[2016-10-18 21:42] pascalandy opened #27513 "Overlay network X not found | Swarm 1.12.2"
### Description

Overlay network randomly disappear. I had the network `sql_net` for 5 days now and I start to get this error. `"network sql_net not found"`

I deleted it and tried with a different name ... Same story. I had the same issue with previous Swarm setup as well.
### Steps to reproduce the issue:

[code]
### Describe the results you received:**

[code]

[code]
### Describe the results y

[2016-10-18 21:46] aluzzardi commented on #26696
When you are doing this, what are you expecting exactly? /cc @YouriT @rtuk

Are you expecting for the service to be scheduled on a machine that has that IP address available?

[2016-10-18 21:51] tonistiigi commented on #26434
@TanmayaA I tried the load/save cycle on master build with the image you sent us and didn't have any problems. Did you re-pull/load the image as the fix applies during storing the data. Or does it appear with some other image now.

[2016-10-18 21:52] aluzzardi commented on #26696
Maybe one solution would be a per-node option to specify which interface/IPs ingress should listen on

[2016-10-18 21:53] aluzzardi commented on #26601
@dnephin Have you seen this lately?

[2016-10-18 21:54] aluzzardi commented on #26899
ping

[2016-10-18 21:55] stevvooe commented on #26434
@tonistiigi Is it possible that registry or its proxy is decompressing the layer content before it can be verified?

[2016-10-18 21:55] aluzzardi commented on #26808
Closing this down - we'll document `journald` integration.

Everyone happy with the outcome? /cc @docwhat @npcode @nalind

[2016-10-18 21:55] #26808 closed

[2016-10-18 21:56] #26772 closed

[2016-10-18 21:58] thaJeztah commented on #18793
@LK4D4 I've seen no other reports of this

@bertenvdb is this still an issue for you?

[2016-10-18 21:59] aluzzardi commented on #27084
@ManoMarks @johnstep Was it a problem with the scripts?

Is there something we could have done to make the error more obvious to spot?

[2016-10-18 22:00] dnephin commented on #26601
There are a couple recent failures on arm master, one from today. Nothing recent on non-arm

[2016-10-18 22:01] tonistiigi commented on #26434
@stevvooe No, this happens on layerstore TarStream level. It verifies that bytes coming out of layerstore are the same that were used in `layerstore.Register`. Compression and talking with registry is outside layerstore. This can only be 1) bug in tar-split 2) bug in layerstore 3) external modification of data on disk.

[2016-10-18 22:04] TylerRick commented on #16186
Ack, I just did that too, and was about to submit a bug report when I found this one first (thankfully)!

Wow, and I was even reading the docs at https://docs.docker.com/engine/reference/commandline/cp/, where the the `/.` is at least formatted as one (`<code>`) unit.

If I were paying closer attention, I would have noticed, but for someone who is skimming the man page
in a hurry (esp. on a termin

[2016-10-18 22:09] aluzzardi commented on #27231
Hey @sebgie,

The confusion comes from the fact that we have two set of labels:
- Node labels (the ones you've been setting through `docker node update`)
- Engine labels (the ones that you set when you start docker daemon with `--label`)

Label filtering in `docker node ls` is looking at engine labels rather than node labels.

We should probably revert to node label filtering rather than engine fi

[2016-10-18 22:11] pchico83 commented on #25925
@thaJeztah could these errors be noise because the original errors is lost?
https://github.com/docker/docker/pull/27075

[2016-10-18 22:12] dpeters commented on #27404
@aboch - We do pass --live-restore to the daemon:

[code]

I didn't notice any errors, but will rerun the tests, and validate this.

There is another docker daemon running, using a different socket, and a different binary (1.10.3 bundled with coreos):
[code]

[2016-10-18 22:14] tianon commented on #27045
@hqhq doh sorry, forgot what the target goal was -- I'm definitely +1 to @justincormack's plan of skipping trusty for aarch64

[2016-10-18 22:15] thaJeztah commented on #9755
@gmistick if you remove all containers, and images is the disk space returned? Is all space taken inside the `aufs` directory, or could this be volumes that were not removed?

[2016-10-18 22:16] justincormack commented on #27505
Hi, at present I think you still need to run the integration tests inside a container with Docker for Mac (I assume you are using Docker for Mac although you don't give any information). See https://docs.docker.com/opensource/project/test-and-docs/#/run-targets-inside-a-development-container

[2016-10-18 22:16] anusha-ragunathan commented on #9755
@thaJeztah : Nothing in here screams `EBUSY on aufs during container remove`. This is tracking growing inodes issues. Maybe @mlaventure data management commands can help?

[2016-10-18 22:19] aluzzardi commented on #27382
@newnius Could you please provide exact repro steps, including **all** services (mysql, zookeeper1, zookeeper2, mysql and storm-supervisor)?

/cc @aaronlehmann

[2016-10-18 22:21] aluzzardi commented on #27379
/cc @stevvooe

[2016-10-18 22:25] justincormack commented on #27497
I think DRI may require passing file descriptors for shared buffers over the X11 socket; you can't do that with TCP.

[2016-10-18 22:26] tonistiigi commented on #27057
fwiw I tested live-restore with these systemd options and didn't have issues. We need daemon logs have a better idea about what may be going on here. Also, may be related to a specific image and how it handles stdio closing or stdout/stderr blocking.

[2016-10-18 22:26] aluzzardi commented on #27318
https://github.com/docker/swarmkit/issues/1201 would provide a way to slow down retries over time

[2016-10-18 22:26] xcellardoor opened #27515 "Docker fails to install on a Raspberry Pi 3"
When running the auto-install script, Docker is not installing on the Pi due to a Hash checksum failure from the Docker repository.

To reproduce the issue, run the installer command `curl -sSL get.docker.com | sh`

The results are shown below
[code]

[2016-10-18 22:27] xcellardoor commented on #27515
Perhaps someone needs to update the hash over at https://apt.dockerproject.org/repo/dists/debian-jessie/main/binary-armhf/ ?

[2016-10-18 22:28] aluzzardi commented on #27318
/cc @nathanleclaire

[2016-10-18 22:30] andrewhsu commented on #27500
Hmm...I see a docker image file for Fedora 25 that is labelled as "beta": https://getfedora.org/en/cloud/prerelease/docker.html

I was able to download it and `docker load` it according to instructions.

Looks like a minimal docker image similar to `fedora:24`:
[code]

[2016-10-18 22:30] aluzzardi commented on #27243
@huhlig Could you provide the entire log file?

[2016-10-18 22:30] nathanleclaire commented on #27318
Log with debug mode on, maybe.  I have been thinking about this and we need to ensure Docker logs at least are rotated over time...

[2016-10-18 22:31] aluzzardi commented on #27243
@alexellis @justincormack @tianon Have you ever noticed this on ARM?

[2016-10-18 22:35] justincormack commented on #27484
@gaocegege I think it should be tested in the daemon.

[2016-10-18 22:36] johnstep commented on #27084
@aluzzardi Yes, it was a bug in the PowerShell script, not updating `$nodeip` in the loop that joins the workers to the swarm. I found it by looking at the error in the log, and then noticing that the wrong IP address was passed for `--listen-addr`.

I am not sure about making it more obvious; perhaps the `docker swarm join` command should have failed, but maybe it does not (and should not?) wait

[2016-10-18 22:43] LK4D4 commented on #17832
@blaines sorry, it was resolved just for ps. I'm reopening an issue. Pls provide your `docker info`. Thanks!
It's probably super fast for me because I'm on SSD disk and using overlay2. I tried to run ~30 containers from "heavy" images and created ~20k files in some of them. docker ps -as was less than a millisecond.

[2016-10-18 22:51] aluzzardi commented on #26899
@allencloud What's the correct behavior?

If the CLI didn't set the endpoint to VIP then you would need to set it every time you create a service which can be bothersome - why shouldn't there be a default?

[2016-10-18 22:51] justincormack commented on #27515
Hi, we currently do not have builds for debian jessie armhf, only rapsbian jessie armhf. See also #25879 which is tracking this.

[2016-10-18 22:52] ManoMarks commented on #27084
I'm testing revised script now. But to be clear, all the nodes were part of the swarm. If you added a service it would spread to the node.

[2016-10-18 22:52] shane-axiom commented on #27361
@talex5 Thanks for fixing! Sorry, tried to build and test your branch but this is my first foray into building/testing docker from source. I was able to build the binaries with `make binary` but haven't had luck getting them to run. I can start the dockerd built by `make binary` but it produces a lot of errors like these:

[code]

[code]

and I'm unable to start any containers. I haven't found any

[2016-10-18 22:56] stevvooe opened #27517 "Plugin systems overloaded use of the term "manifest" is pathological"
Use of the term "manifest" in the plugin system confusing the context of distribution. A manifest is an abstract of list of resources, defined in https://github.com/docker/distribution/blob/master/docs/spec/manifest-v2-2.md. Overloading the terminology for plugins will cause confusion between the encompassing manifest with abstract resources and the plugin manifest, with the actual plugin config.

[2016-10-18 22:57] ManoMarks commented on #27084
@aluzzardi @johnstep Confirmed this fixed the issue. Thanks!

[2016-10-18 22:58] thaJeztah commented on #27500
@andrewhsu yeah, perhaps we should open an issue on GitHub, or contact the maintainers of the official image; https://github.com/fedora-cloud/docker-brew-fedora/issues (although it looks like they're not really following up on GitHub issues

ping @maxamillion would you be able to help out?

[2016-10-18 22:59] #27084 closed

[2016-10-18 23:00] stevvooe commented on #27379
@adrahon This is a limitation of the volume driver. It is completely up to the driver whether or not to mount the same thing for every mount or a different thing. The same thing is true of anonymous volumes. If the volume driver supports them, they should work.

We can probably template volume names, per docker/swarmkit#1650, but I am not sure if that is going to be a part of 1.13 or not.

It migh

[2016-10-18 23:01] thaJeztah commented on #27084
@aluzzardi is that something to look at? ^^

[2016-10-18 23:01] aboch commented on #25981
This issue is a side-effect of the changes added to support the `--live-restore` feature.

From docker 1.12.0 onward, when the bridge network driver comes up, it will restores the bridge network endpoints it finds in the store.
While doing this, it also restores the port bindings associated with the endpoint, if any.

Note:
- Under normal condition at daemon boot, no endpoints are present in the s

[2016-10-18 23:02] blaines commented on #17832
@LK4D4 ah okay thanks! I'm using AWS so here's some instance details as well:
[code]
Also I'm using the SSD instance store attached as the docker data volume.

Docker Info:
[code]

[2016-10-18 23:13] groyee commented on #21925
I have the same issue.

I stoped all docker containers, however when I run this command:

**sudo lsof -nP | grep '(deleted)'**

I get:

<img width="961" alt="screen shot 2016-10-19 at 2 09 47" src="https://cloud.githubusercontent.com/assets/194016/19499872/7b5dfba2-95a1-11e6-88a0-35d6a334cf50.png">

ONLY when I do **sudo service docker restart**, only then it frees the space.

[2016-10-18 23:15] aboch commented on #25877
With all likelihood the issue discussed here is the same being discussed in #25981.
This one was opened first, but I happened to add a comment about what I think is the root cause with some workarounds to try in that issue instead.
So I am suggesting to close this one as duplicate of #25981.

[2016-10-18 23:25] cookandy commented on #12565
Hi @itwasntandy:

I ran a tcpdump against the `docker0` interface as you suggested.  First, I ran a single node and was able to import the sample data: [Node 1 working](https://dl.dropboxusercontent.com/u/64324/es/node1-working.pcap)

Next, I started a second node and formed a cluster.  I then tried to re-import the sample data (it failed).  I left it for about 10 seconds before I stopped the capt

[2016-10-18 23:30] dmcgowan commented on #27384
@vielmetti thanks for help accessing the machine. Looks like there is indeed a bug, not quite sure yet why it seems to only effect aarch64. Since it also appears to be a regression since 1.12 I will add to the 1.12 milestore.

My assessment...
Looking at dmesg is appears it is probably a regression related to https://github.com/docker/docker/pull/25824.

[code]

Paths are getting truncated which I

[2016-10-18 23:40] dmcgowan commented on #27384
This might be a bug in the aarch64 implementation of Go.

`syscall.Getpagesize()` is returning 65536, while `getconf PAGESIZE` returns 4096. The call fails at 61 int he test because at that point the mount arguments hit a length of 4139, which explains the truncation down to 4096 and the subsequent failure.

[code]

[2016-10-18 23:48] dmcgowan commented on #27384
https://github.com/golang/go/issues/13191

[2016-10-18 23:58] dongluochen commented on #27268
@groyee There are quite a bit of errors in `docker.debug.txt`. I can't tell if they are directly related. One thing I notice is docker shutdown was not clean. Is this node run out of space?

[code]

[2016-10-19 00:01] justincormack commented on #27484
@gaocegege there seem to be checks in `runc` already https://github.com/opencontainers/runc/blob/master/libcontainer/configs/validate/validator.go#L107 which should do the right thing. Not sure why they are not working...

[2016-10-19 00:16] gaocegege commented on #27484
re @justincormack
it seems that docker's vendor is not up to date.
our [vendor/src/github.com/opencontainers/runc/libcontainer/configs](https://github.com/docker/docker/tree/master/vendor/src/github.com/opencontainers/runc/libcontainer/configs) doesn't has the config validator.

So maybe the issue could be solve by updating vendor directory.

[2016-10-19 00:36] tonistiigi commented on #27057
@ryanlyy In your logs I see ` /usr/bin/dockerd -D` so no `--live-restore`. This flag needs to be set on dockerd process both before and after restart. If this flag is not set then the behavior you are describing is correct.

[2016-10-19 00:40] thaJeztah commented on #25925
@pchico83 hm, I don't know, @tonistiigi do you think that's plausible?

[2016-10-19 00:47] aboch commented on #27404
Thanks @dpeters for the extra info.
I have not been able to reproduce yet.
If you get a chance to try the test again, can you check if it makes a difference if you have only one daemon running. Thanks.

[2016-10-19 01:00] gaocegege commented on #27484
oh, wrong, let me check it again.

[2016-10-19 01:12] srikalyan commented on #25772
This issue should be closed as I can confirm that docker 1.12.2 has fixed the problem.

[2016-10-19 01:15] thaJeztah commented on #25877
Thanks for looking into the @aboch and thanks for reporting @Furdarius (and others). I'll close this as a duplicate of https://github.com/docker/docker/issues/25981 so that the discussion takes place in a single location

[2016-10-19 01:15] #25877 closed

[2016-10-19 01:17] tonistiigi commented on #25925
@thaJeztah Yes, I helps to get the correct error.

[2016-10-19 01:18] thaJeztah commented on #25772
@srikalyan I don't think it's fixed on 1.12.2; check the output of `docker service ps foo` and see that tasks are failing.

[2016-10-19 01:21] andrewhsu commented on #27500
I've created an issue here https://github.com/fedora-cloud/docker-brew-fedora/issues/40

[2016-10-19 01:28] thaJeztah opened #27521 "[1.13] Add Ubuntu 16.10 "yakkety yak" debs"
Ubuntu 16.10 was released https://wiki.ubuntu.com/YakketyYak/ReleaseSchedule, so we should add this to the list of supported versions for 1.13

Also should be added to the installation docs in the "vnext-engine" branch; https://github.com/docker/docker.github.io/blob/vnext-engine/engine/installation/linux/ubuntulinux.md

/cc @vieux @andrewhsu

[2016-10-19 01:29] thaJeztah commented on #27500
Also should be added to the installation docs in the "vnext-engine" branch once it's fixed; https://github.com/docker/docker.github.io/blob/vnext-engine/engine/installation/linux/fedora.md

[2016-10-19 01:55] srikalyan commented on #25772
@thaJeztah Sorry for the false alarm seems like it does not work. Just too excited I guess :p

[2016-10-19 01:57] thaJeztah commented on #25772
@srikalyan I didn't check on "master" yet, possibly it's fixed already (depends on if the SwarmKit changes were brought in in this repository)

[2016-10-19 02:01] troy0820 commented on #27495
Docs have been updated in PR https://github.com/docker/docker.github.io/pull/253.  Closing this issue.

[2016-10-19 02:01] #27495 closed

[2016-10-19 02:01] ManoMarks commented on #25893
I still hit this issue today.

[2016-10-19 02:02] thaJeztah commented on #19306
let me defer to @stevvooe @dmcgowan

[2016-10-19 02:08] jamiethermo commented on #27505
Got exact same error running tests within the container.

[2016-10-19 02:09] thaJeztah commented on #19259
@LK4D4 I agree, I think defaulting to none, or JSON-file is the best option

[2016-10-19 02:14] thaJeztah commented on #27237
@nsamala can you check daemon logs of each node, to see if something stands out?

[2016-10-19 02:18] jhowardmsft commented on #25893
Are you running RTM 2016 with all Windows Updates applied and latest base images pulled? Docker version?

[2016-10-19 02:30] pcornelissen commented on #25981
Hi!

I am not 100% sure because it happened a while ago, but I think I removed everything including the networks and the problem remained. But maybe I didn't restart afterwards or something like that. Nevertheless thanks for the analysis!

[2016-10-19 02:34] aclements commented on #27384
Would it be possible to test with Go tip? At tip, `syscall.Getpagesize()` should return the same thing as `getconf PAGESIZE`.

[2016-10-19 02:42] thaJeztah commented on #27505
@justincormack `make test` automatically runs inside a container https://github.com/docker/docker/blob/3aeaa9f8fdb835e44edae04d7b43b85e66fcb4c3/Makefile#L120-L121

For some reason the daemon that was built in your container failed to start, however, there's not much information show to know what's causing it

I tried reproducing this, but it worked for me; although I'm running on a more recent ver

[2016-10-19 02:51] thaJeztah commented on #27393
@justincormack `-f` allows picking Dockerfile from anywhere, including outside of the build-context, but it's treated as if it's at the root of the build-context

[2016-10-19 02:51] stouf commented on #21925
@groyee I gave it a try on my side and had the same results; I only got 500MB freed by restarting the Docker daemon, but I have less than 10 containers running on the server I was testing.
I think we should create a new dedicated issue, as it seems to be different from what this issue was originally about.

[2016-10-19 02:58] groyee commented on #27268
Yes, this host ran out of space because of this defect: #21925

But I don't think it is related. Right now it has plenty of space. All I need to do is restart the container.

I attached new debug logs since the last docker daemon restart.

[docker-debug-2.logs.txt](https://github.com/docker/docker/files/537852/docker-debug-2.logs.txt)

It's like docker keeps somewhere a cache of the containers add

[2016-10-19 03:22] AkihiroSuda commented on #24684
@mavenugo

The documentation is misleading, can I open a PR to remove these sentences?
https://docs.docker.com/engine/reference/commandline/network_inspect/

Or do you have a plan to implement better `docker network inspect` in the short term?

[2016-10-19 03:24] AkihiroSuda commented on #24684
p.s. please let me know if there is other issue ticket for tracking the "docker network inspect unfortunately displays ONLY those containers that are local to that node." problem (cc @thaJeztah )

[2016-10-19 03:32] expedit85 commented on #24712
Hi, while this feature is not available you may use  `cat vars | xargs printf "--env %s "` where vars file is:
[code]
For instance: `docker service create .... $(cat ... | xargs ...)`.

Regards.

[2016-10-19 03:42] ManoMarks commented on #25893
I hit it in Windows 10, fully updated. Docker version 12.1.

[2016-10-19 03:42] ManoMarks commented on #25893
1.12.1

[2016-10-19 03:46] thaJeztah commented on #24684
@AkihiroSuda yes, please open a docs PR for that; possibly we need to distinguish between overlay networks managed by an external k/v store and "swarm mode" overlay networks.

There is another issue tracking the "network inspect" part; https://github.com/docker/docker/issues/24186

[2016-10-19 03:48] friism commented on #25893
@ManoMarks that's an old version. Please update Docker for Windows or your Docker Engine directly if you hand-installed it. Instructions here: https://github.com/docker/labs/blob/master/windows/windows-containers/Setup.md

[2016-10-19 03:52] thaJeztah commented on #19237
I think this is best opened in the https://github.com/docker/docker.github.io/issues issue tracker, because all the docs are moved there.

@HariSekhon can you reopen this issue there?

[2016-10-19 03:52] #19237 closed

[2016-10-19 04:15] ngbrown opened #27524 "Enable setting the dockerd exec-opt isolation=process on Windows 10 client version 1607 or greater"
Now that Windows 10 Anniversary Edition has been released, Windows 10 client (such as Pro or Enterprise) can support `docker run --isolation=process ...`

In Windows 10, with the containers feature and Hyper-V feature configured to run, I got things setup and I could run in both `hyperv` and `process` isolation modes.

I regularly need to use VMware Workstation and cannot have Hyper-V turned on at

[2016-10-19 04:26] jhowardmsft commented on #27524
That was deliberate. Only Hyper-V containers are supported on client. Windows server containers only work on Windows server, as the name suggests.

[2016-10-19 04:26] #27524 closed

[2016-10-19 04:30] itwasntandy commented on #12565
Ok, so I've gone and re-read your other tickets as well to get more of an understanding on what's going on.

So it seems you're running on Digital Ocean... who from your pastes don't seem to support jumbo frames so telling Docker to set the MTU to 8960 was never going to work (it would have to be less than  the MTU of your normal interface, i.e. 1500).

Therefor for your case if you pass `--mtu 14

[2016-10-19 05:07] AkihiroSuda commented on #24684
@thaJeztah Thank you, opened https://github.com/docker/docker/pull/27526

[2016-10-19 05:10] virtuman commented on #26235
It does look like I can get to the web container, but wordpress cannot resolve wordpressdb

ie:

[code]

[2016-10-19 05:14] jonstelly opened #27527 "Windows - 'docker pull microsoft/nanoserver' - ProcessBaseLayer: The parameter is incorrect"
**Description**

I'm getting the same error on two machines (One Windows 10 build 14931, the other is Windows Server 2016 RTM).  I have a few other machines where I do not get these errors.

Pulling microsoft/nanoserver image gets error:

**Steps to reproduce the issue:**
1. Install latest Docker per MSDN instructions [here](https://msdn.microsoft.com/en-us/virtualization/windowscontainers/quick_s

[2016-10-19 05:45] virtuman commented on #25266
looks like issue is back. Also running centos 7.2 on 1.12.2 and docker services cannot communicate between each other on same overlay network

[2016-10-19 05:51] evagle opened #27528 "udp failed between docker containers"
**Description**
There are two machines running with docker: hostA and containerA, hostB and containerB
containerB exposes it's port 10050 with 'run -p 10050:10050/udp'.

**Steps to reproduce the issue:**
1. Run command "nc -u -l 10051" on hostB and  run "nc -u ip_of_hostB 10051" on hostA and containerA,  hostB can receive packets from both hostA and containerA.
2. Run command "nc -u -l 10050" on c

[2016-10-19 05:58] ghost opened #27529 "#windows docker 1.13 dev transparent networking not working"
I have docker 1.13 dev version installed on Windows Server 2016 Datacenter Evaluation, I have created transparent network and connected to container with specific IP address 172.21.2.66, below is config of my transparent network:

[
    {
        "Name": "mynet",
        "Id": "d7e8fb2ff01d03e62bd579470688fa42eab55d81b7db790237cf86d7ea93e33a",
        "Scope": "local",
        "Driver": "transpare

[2016-10-19 06:05] thaJeztah commented on #27529
/cc @msabansal

[2016-10-19 06:08] thaJeztah commented on #27527
/cc @jhowardmsft @friism

[2016-10-19 06:11] #27384 closed

[2016-10-19 06:17] alexellis commented on #27243
Hi - I didn't have this issue and I did a lot of rebooting. That said I haven't upgraded the Docker version yet to the latest release. I can try to repro next week.

[2016-10-19 06:18] xiaods commented on #25266
Oops, do you have a try upstream branch.

[2016-10-19 06:20] thaJeztah commented on #27513
ping @mrjana PTAL

[2016-10-19 06:27] #27461 closed

[2016-10-19 06:41] newnius commented on #27382
It's not easy to reproduce this - it depends on time.
possible steps to reproduce this:
1. start 3 zookeepers
[code]

2. start 3 storm nimbus
[code]

3. start supervisor
[code]

And
4. wait......

The dns record (or route rules?) seems being updated to other nodes after a delay which is longer than supervisor could find zookeeper or nimbus, so it keeps failing, again and again. Then there may be m

[2016-10-19 06:47] StefanScherer commented on #27243
@huhlig I've tried rebooting swarm workers with HypriotOS 1.1.0 + docker 1.12.2 without problems.
Hypriot 1.0.0 has docker 1.12.1, so consider updating either through reflashing or `sudo apt-get update && sudo apt-get upgrade`.

[2016-10-19 06:49] thaJeztah commented on #27515
Also see https://github.com/docker/docker/issues/27477. Let me close this, but feel free to comment after that

[2016-10-19 06:49] #27515 closed

[2016-10-19 06:50] tormodhau commented on #27355
@thaJeztah I guess the issue is still there for 1.13.0-dev, and downgrading doesn't really fix that version.. I'm going to leave that decision up to you. :-)

[2016-10-19 07:03] thaJeztah commented on #27355
@friism do you know if the issue is still there on current master?

[2016-10-19 07:14] thaJeztah commented on #16186
@TylerRick would you be willing to open a pull request with the changes you think are needed? The markdown file that's used to generate that page in the docs is part of this repository; https://github.com/docker/docker/blob/master/docs/reference/commandline/cp.md

[2016-10-19 07:22] gaocegege commented on #27484
when `docker run --sysctl net.ipv4.ip_forward=1 --net=host <image>`, the config.json is

[code]

And when `docker run --sysctl net.ipv4.ip_forward=1 <image>` container, the config.json is

[code]

And, the validator in runc returns error when the config.json is

[code]

Because network namespace exists if the "type" field is filled

ref https://github.com/opencontainers/runc/blob/master/libcontain

[2016-10-19 07:28] thaJeztah commented on #27506
Thanks for suggesting, this is a duplicate of https://github.com/docker/docker/issues/13822, and https://github.com/docker/docker/issues/9697, which was rejected

TL;DR the get.docker.com script (which is actually in this repository, so you posted in the right issue tracker; https://github.com/docker/docker/blob/master/hack/install.sh) is only meant as an "express install" to get docker setup quic

[2016-10-19 07:28] #27506 closed

[2016-10-19 07:34] thaJeztah commented on #27318
@nathanleclaire I ran into that, and IIRC on Ubuntu 14.04, log rotation (and limit) is off by default, whereas systemd actually had a sensible default to not fill up the disk

[2016-10-19 08:07] thaJeztah commented on #27511
pong @cyli @endophage PTAL

[2016-10-19 08:20] xcellardoor commented on #27515
I'm a little confused since this was a Raspbian install, but the link to the other issue you provided seems to imply that debian and raspbian files keep overwriting each other anyway?

[2016-10-19 08:32] happysysadm commented on #26982
@msabansal it looks like I have a different issue from the one opened here, since it is hte first container I am starting on a vanilla 2016. In the same time the message is exactly the same: "json: cann ot unmarshal array into Go value of type hcsshim.HNSNetwork\" So do you want me to open another case? Thanks

[2016-10-19 08:38] thaJeztah commented on #27515
@xcellardoor that's in the release scripts, so reason to not have a debian-Jessie deb currently make sure you're apt source is pointing to the raspbian-jessie repo http://apt.dockerproject.org/repo/dists/raspbian-jessie/main/

[2016-10-19 08:43] justincormack commented on #27484
The specification is here https://github.com/opencontainers/runtime-spec/blob/master/config-linux.md

The validator should catch the existing case - no namespace specified so it will make no changes and so be in host namespace, but it should also fail if a path is specified so the container does not own the namespace (and it may be the host namespace).

This would then also fail if you do `docker

[2016-10-19 08:50] AkihiroSuda commented on #27195
I think I have determined the cause of the isssue:

# `faked` dies when it received `SIGWINCH` (signal 28).

`fakeroot` seems not tolerant of fault in `faked` and hence hangs up.

## Without TTY
It works because it won't get `SIGWINCH`
[code]

[code]

## WIth TTY
`faked` tends to die when it received `SIGWINCH` (28).

[code]

[code]

It doesn't die if we injected some `sleep` because it begins run

[2016-10-19 09:14] scrambledheads commented on #21558
Still an issue Windows 10 Version 1607  / os.Build 14931.1000 / Docker Version: 1.12.2-beta28 (7813)

[2016-10-19 09:16] m4h3 commented on #27195
I guess you nailed it:
https://github.com/mackyle/fakeroot/blob/master/faked.c#L1446 and
https://github.com/mackyle/fakeroot/blob/master/faked.c#L1480 are responsible for calling cleanup on any signal received.

[2016-10-19 09:16] #27195 closed

[2016-10-19 09:17] kayrus commented on #22207
IMHO when image in the registry was updated within the same tag and it was pulled, then related container was restarted, old container and image are not GCed unless you run `spotify/docker-gc`.

Can someone else confirm this?

[2016-10-19 09:20] DavidHazeldenUK commented on #27521
Agreed.

[2016-10-19 09:31] coolljt0725 commented on #27515
@xcellardoor  if your are interested, I have built docker v1.11.1 for Raspberry Pi 3, you can find the binary here https://github.com/coolljt0725/docker-binary-raspberry

[2016-10-19 09:34] PetrusKiendys opened #27533 "docker-compose fails at adding veth (virtual interface) to bridge docker0"
This issue can also be found at: http://stackoverflow.com/questions/40127462/docker-compose-fails-at-adding-veth-virtual-interface-to-bridge-docker0

**Issue**:
Here's my `docker-compose.yaml`:

[code]

And here's my `Dockerfile`:

[code]

This used to build just fine a few days ago, however currently I'm getting the following error message:

[code]

**ERROR: Service 'logstash' failed to build: fa

[2016-10-19 09:51] gmistick commented on #9755
@thaJeztah  - All disk space is returned if i remove all containers and images.
yes- all space is taken by the diffs directory inside the aufs directory.

Use case for forceful shutdown can be:
Application detect issues and start closing external processes inside the container ( services, binaries etc)- in case those services/binaries are unresponsive, kill -9 will be used, then just "rm -f" of th

[2016-10-19 10:07] dsheets commented on #27393
I think currently `-f` takes an arbitrary path and, when the context is a local directory, uses that path relative to the cwd of the `docker` client process *but the Dockerfile path must be within the build context otherwise*:

[2016-10-19 10:36] Silex commented on #16160
What is the current way of correcting this issue? I run a container where USB keys gets plugged in the host and it only "works" when the USB slots are filled prior to running the container (`/dev/sdb`, `/dev/sdc` already exist).

The `docker run` documentation is unclear about how `:shared` or `:slave` solve that issue.

[2016-10-19 10:38] raymondsze opened #27536 "Docker swarm mode not work if swarm nodes are on different subnet?"
**Description**
I am new to docker. I simulate the swarm mode environment with docker-machine.
In the following scripts, the --virtualbox-hostonly-cidr is used to ensure the ip address of the 4 machines. This issue can be solved by removing the --virtualbox-hostonly-cidr, but I would like to ask why the nslookup mongors1n1, mongors1n2, mongors1n3 not works?

**Steps to reproduce the issue:**

[cod

[2016-10-19 10:39] Dilergore opened #27537 "Possible Volume issue on Windows Server 2016"
**Issue and explanation:**
I've created an IIS web server image which is using PHP. I've used the latest microsoft/windowssservercore image.

PHP install is working fine and I can open PHP files in my browser. But when I place the PHP files on a docker volume PHP stops working. In the browser I can only see "No input file specified". I think it must be a docker volume related issue (maybe somethin

[2016-10-19 10:42] Dilergore commented on #27537
And I had a kind of similar problem when I tried to use the latest stable MariaDB (fork of MySQL).

I've placed the DB files on a volume but it wasn't working until I've changed the service user of MariaDB from Network Service to Local System.

I just wanted to mention this because it is possible that these two are connected somehow.

[2016-10-19 11:02] ionfist opened #27538 ".dockerignore is ignored when using ADD ."
**Description**
.dockerignore is ignored when using ADD . /folder

**Steps to reproduce the issue:**
1. echo FROM ubuntu > Dockerfile
2. echo ADD . /tmp >> Dockerfile
3. echo a_file > .dockerignore
4. docker build .

**Describe the results you received:**
The a_file is still in the /tmp folder of the image

**Describe the results you expected:**
The a_file should not be in the /tmp folder of the i

[2016-10-19 11:23] jmMeessen commented on #25885
@alexellis
Could you please clarify your phrase "[Pimoroni] advised against using these interfaces claiming high latency"

I am currently (for a docker demo/training) developing containers using Pimoroni Piglow and Display-o-tron Hat on RPi's. I faced the issue of the `--privileged` flag. I didn't find it very "well behaved" and preferred to show/teach the principles of limiting access.
I finally

[2016-10-19 12:04] fabiand commented on #16160
I'm solving this by bind-mounting /dev into the container plus some additional hacks,

I'm not aware of the implementation, but do me `/dev/` inside the container looks like a manually assembled `/dev/, and not inherited from the hosts `/dev/` path, if that is the case, then `:shared` and `:slave` will not work

[2016-10-19 12:06] richardgavel commented on #26982
Even though that message displays in log, containers will start OK,
assuming you have run Windows update.

On Wed, Oct 19, 2016, 3:33 AM happysysadm <notifications@github.com> wrote:

[2016-10-19 12:21] justincormack commented on #27528
Does it help if you specify the listen address as `0.0.0.0` in the container that is listening? The docs says that `nc` listens on `127.0.0.1` otherwise.

[2016-10-19 12:27] sasiezilmadhavan commented on #26982
I have a Win 2016 GA running in azure from Oct 15th.  Until yesterday i was able to bring up my application cluster (4 services with docker-compose) and able to ping the linked containers using their service name from other containers.  Also ran Resolve-DnsName "servicename" within the container and able to successfully resolve it.

But now i am running the same docker-compose.yml in the same serv

[2016-10-19 12:32] DirkBrand commented on #25008
@tobilg +1

[2016-10-19 12:35] a-ba opened #27539 "half-duplex TCP FIN not working with published ports"
**Description**

The implementation of published ports (redirected TCP streams), when going through the socket bound by the docker engine (not through iptables nat) interferes with TCP's half-duplex close sequence. The connection is closed prematurely and reset.

TCP allows closing half of the stream only. When an endpoint sends a FIN message, it means that the endpoint will no longer send any dat

[2016-10-19 12:36] DEVELByte opened #27540 "exec not running"
**Description**
`docker exec -i -t <container_id> bash`
the above command giving me error that the image has run and stopped, but my image is still running.

Error:
`rpc error: code = 13 desc = invalid header field value "oci runtime error: exec failed: cannot exec a container that has run and stopped\n"`

I am running the Airflow Image from [this place](https://github.com/puckel/docker-airflow)
`

[2016-10-19 12:38] the-nw1-group opened #27541 "With Docker Swarm unable to access containers on other nodes"
When we deploy a simple application into a Docker Swarm, if the swarm spans two nodes, the containers on one node are unable to reach the containers on the other node.

The simple application is comprised of one reverse proxy (Apache HTTPD) a web site (again Apache HTTPD). When the reverse proxy can't connect to the web site, we eventually get

[code]

**Steps to reproduce the issue:**

Create a d

[2016-10-19 12:42] YouriT commented on #26696
@aluzzardi

## tl;dr

The choice of where (node) you schedule containers should be left to the user with the actual behaviour that Swarm Mode and it's ingress network have brought to the table. Being able to `--constraint` and using different `--mode` to schedule a service should remain untouched.

## Longer

You should be able to attach a container to an IP address+port and it doesn't matter whic

[2016-10-19 12:54] alexellis commented on #25885
This is a bit off-topic but hopefully @justincormack et al will tolerate it.

@jmMeessen the `/sys/class/gpio` interface allows interaction with GPIO (not I2C) and has a high latency. Pimoroni have advised against it and the majority of their devices assume full unprivileged access to memory to use memory mapping etc with the GPIO pins.

I2c is a different scenario - a single device is often enoug

[2016-10-19 12:55] Silex commented on #16160
@fabiand: yes, I was about to comment that `-v /dev:/dev --privileged` seems to work.

Thanks!

[2016-10-19 12:56] amitkumarj441 commented on #27541
@the-nw1-group One reason this may not be working as intended is when `--listen-addr` is not configured properly or not configured at all and is causing a problem in your env(like you have multiple host nics)

[2016-10-19 12:56] justincormack commented on #27539
cc @aboch

Looks like `docker-proxy` is a bit too eager with close.

A workaround would be to disable the proxy, but this may cause other issues.

[2016-10-19 13:00] fabiand commented on #16160
@Silex well - I've seen a few issues around terminals when using plain `-v /dev:/dev`, this required me to keep the _old_ `/dev/pts` and `/dev/ptmx`. Besides that I noticed that `/dev/mqueue` and `/dev/shm` seem to be special (and also kept the old versions).

[2016-10-19 13:05] the-nw1-group commented on #27541
I did try that, but got the same results, but just to double check:
[code]

[2016-10-19 13:08] amitkumarj441 commented on #21459
@kaptajnen I'm also getting the same error on Ubuntu 16.04 and finally tested and here is the test result:

`curl -fsSL https://get.docker.com/ | shapparmor is enabled in the kernel and apparmor utils were already installed
+ sudo -E sh -c apt-key adv --keyserver hkp://ha.pool.sks-keyservers.net:80 --recv-keys 58118E89F3A912897C070ADBF76221572C52609D
Executing: /tmp/tmp.1mD6pokU68/gpg.1.sh --keyse

[2016-10-19 13:09] yank1 commented on #26485
me too

[2016-10-19 13:14] Silex commented on #16160
@fabiand: my guess is that there is a cleaner way that involves udev, mknod & friends, but I don't have time to investiguate atm.

[2016-10-19 13:22] fabiand commented on #16160
Not sure if using udev inside the container is a good idea.
After all, we already have a udev on the host side. You might run into trouble if you i.e. got different udev rules inside the container than on the host. This could lead to different `/dev` trees.

To me it looks liek we should just have one `/dev` per host, just a nice way to present this inside a container is missing.

Just my 2ct.

[2016-10-19 13:29] yuval-mntr commented on #22981
[https://forums.docker.com/t/volume-mounts-in-windows-does-not-work/10693/71](![image](https://cloud.githubusercontent.com/assets/11257349/19520527/383e11ae-9619-11e6-9e38-c53e5b22c046.png)
)

[2016-10-19 13:32] anthonyserious commented on #27218
Hi @mrjana, sorry for the delay here.  We tried upgrading Linux and docker4mac to docker 12.2 beta, still having the same issue.  Rebuilt the swarm and overlay network multiple times...same thing.

Something interesting, perhaps, is that for the overlay network, running `docker network inspect test6` shows different results on each node.  On the Linux host, it shows only IP addresses for the conta

[2016-10-19 13:39] xcellardoor commented on #27515
I shall test changing the repositories and see how it goes and report back later on. Thank you @coolljt0725 I may end up using them. The latest in the Raspbian repo seems to be 1.3 or so!

[2016-10-19 13:48] #27361 closed

[2016-10-19 14:12] nkkashyap opened #27543 "docker ps hang and not able to create containers"
**Description**

Docker1.12.0 is hanging and not able to create container (docker run) or list the containers (docker list). Stack dump shows one of the go routine stuck in device-mapper call

[code]

**Steps to reproduce the issue:**
Issue is occurring randomly and occasionally

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, V

[2016-10-19 14:14] duglin commented on #27538
.dockerignore only applies to the copying of the build context to the server.

You showed two different Dockerfiles - which one is the issue? I'm assuming the 2nd one since I don't see an issue when I try the first. What's interesting about the 2nd usecase is that you're doing something that doesn't really make sense. You're specifically trying to ADD a file that you know isn't there - I would fir

[2016-10-19 14:20] mpwagne opened #27544 "Restart Policies on Windows Containers not working on server reboot"
If I create a windows container with a restart policy of always...
Example:
docker run --restart=always -d -e environment=local --name test_restart mycompany/myimage

then, I would expect this container to always start even if the host gets rebooted.
Results:
- If I stop the Docker service and then start it, the container set to always restarts fine.
- If I reboot the Server, the container does no

[2016-10-19 14:28] duglin commented on #27393
@thaJeztah's comment about being able to indirectly reference a Dockerfile from outside of the build context is a really interesting usecase - I'd love to hear about some usecase/need for that one.

My initial reaction to this is that it could lead to a bit of confusion since we would support "-" being an option of -f as well as in place of the build context location (last param).  This isn't nece

[2016-10-19 14:31] justincormack commented on #27393
I would like to be able to use a Docker file outside a tarball build
context, but I am not sure if this can be made backwards compatible...

On 19 Oct 2016 15:28, "Doug Davis" <notifications@github.com> wrote:

[2016-10-19 14:37] thaJeztah commented on #27393
You mean multiple `-f` flags, one for tar, one for Dockerfile?

[2016-10-19 14:37] duglin commented on #27393
@justincormack where do you see the incompatibility?

Actually, the more I think about this... @dsheets how do you see this working? Right now the Dockerfile is passed as part of the context, not as an independent entity to the REST API.

[2016-10-19 14:41] thaJeztah commented on #27515
The repo i linked to contains 1.12.2 official builds

[2016-10-19 14:44] happysysadm commented on #26982
@richardgavel  no, containers don't start. Updates have been installed.
@sasiezilmadhavan it's KB3194798 (check http://www.happysysadm.com/2016/10/first-steps-with-microsoft-containers_18.html at the end of post)

[2016-10-19 14:44] dsheets commented on #27393
@duglin your `/path/to/tomcat/Dockerfile` example is currently explicitly disallowed unless `.` is a subdirectory (or equal to `/path/to/tomcat`). To do this under my proposal, you could write `docker build -f - . < /path/to/tomcat/Dockerfile`. In my prototype patch, the build context tarball is rewritten to include the contents of stdin.

@justincormack using `-f` and the current local tarball bu

[2016-10-19 14:49] duglin commented on #27393
@dsheets yea, I know its disallowed today but my point is that once you figure out how to support stdin then there's no reason to disallow it anymore - we can just treat any file outside of the build context as coming from "stdin".  In your prototype, did you end up creating a Dockerfile in the context?  Not sure you can do that w/o also creating a .dockerignore with Dockerfile in there, or overri

[2016-10-19 14:57] ionfist commented on #27538
@duglin thanks for the prompt reply. The issue is actually with the first one. The second is just an example to illustrate that when I use ADD <explicit file name> the exclude pattern works, but when I use ADD . then the exclude pattern does not work.

Under which OS did you try? I have a feeling it can only affect windows.

[2016-10-19 14:58] MichaelSimons opened #27545 "Inconsistent Dockerfile behavior between Windows Containers and Linux"
**Description**

It appears the Windows Containers behavior of the `COPY` command is slightly different than on Linux when the destination is `.`

**Steps to reproduce the issue:**
1. Get a working Windows Container environment.
2. Create a directory with some files with one of them named `project.json`
3. Add the following Dockerfile to the directory.  Note:  This is a simplified Dockerfile.  In

[2016-10-19 14:59] duglin commented on #27393
I guess one more safe option, but a bit hacky, would be to put the Dockerfile contents into a well defined, but hidden and pretty unlikely to overlap with a user's, file - such as `.dockerfile_which_shall_be_deleted`  :-)    then we can pass this filename to the REST API as the -f option and the builder can ALWAYS delete it w/o it needing to be listed in the .dockerignore.  As I said, a bit hacky

[2016-10-19 14:59] ngbrown commented on #27524
Sure, in May that made sense, when using --isolation=process caused an error.  It doesn't cause an error now and it works better than using Hyper-V.  Like I mentioned above, not everyone can use Hyper-V.  Using process mode with shared kernels is the way that Docker was intended to be used in the first place.

Please reconsider the closure of this.

[2016-10-19 15:05] mmkonrad opened #27547 "how/from what ip does docker-engine call etcd for discorvery when set in DOCKER_OPTS"
Hey there,

short question, but before let me give you the scenario.

- being on AWS
- working on a project/demo which still uses version 1.11
- swarm gets manually created
- three machines -> one manager, two workers
- docker engine is set to use etcd as cluster-store
- swarm info is stored in a consul container

**EVERYTHING WORKS FINE!!....so far**

But now I have to restrict my setup for secur

[2016-10-19 15:07] kidambisrinivas opened #27548 "Docker user namespacing map user in container to specific user in host"
I'd like to map user postgres or root inside container to user myuser on the host. There's a lot of references to this online, but it is not very clear to me how to achieve the following:

Is there a simple way to map arbitrary user inside container to user in host by a simple command line flag at the docker-run level

**Map root user inside container to myuser on host**

[code]

and

**Map postgr

[2016-10-19 15:10] the-nw1-group commented on #24877
Sorry for a question here, but will the --hostname feature allow pseudo FQDN? We're using 389 LDAP server, which won't setup properly if the hostname doesn't have a . in it. We've been using docker-compose, so we can set the hostname to something.docker, which it seems to like.

[2016-10-19 15:14] cookandy commented on #12565
@itwasntandy

Thank you so much for the detailed write up - it's been a tremendous help!  I was able to get the ES cluster working with your instructions, and the networking stack makes much more sense to me now.

I think in my case I'll need to do `2` and `4`, as other some of my other Docker applications don't seem to work correctly, even with just the `--mtu 1460` setting.

Quick question:  if

[2016-10-19 15:19] duglin commented on #27538
@ionfist yea, I was on Linux so perhaps its a windows issue.  Not sure why it wouldn't work tho, I don't see anything windows/linux specific in your testcase.  Unless windows doesn't support .dockerfile ignore at all - ping @jhowardmsft

[2016-10-19 15:51] sasiezilmadhavan commented on #26982
thanks @happysysadm

9D update is there.  Just updated the docker engine to v1.13 dev.  Still the problem is there.  All of the sudden DNS Resolve feature stopped working in the containers.  To confirm created new 2016 GA server in azure and DNS Resolve not working in it either.

[2016-10-19 15:51] justincormack commented on #27393
@thaJeztah no, `tar cf - *.c *.h | docker build -f Dockerfile -` does not work, as @dsheets says it has to be inside the build context if the build context is not the filesystem.

[2016-10-19 15:54] thaJeztah commented on #9755
@gmistick in that case it does look like it's working as expected; If (for example) processes in the container are logging to a file (instead of stdout/stderr) in the container's filesystem, then those directories can grow rapidly. If you're building a lot of images that don't share layers, those take up space too

[2016-10-19 15:58] gmistick commented on #9755
But im not increasing containers count.
Im removing and re creating.

On Oct 19, 2016 6:56 PM, "Sebastiaan van Stijn" <notifications@github.com>
wrote:

[2016-10-19 15:59] thaJeztah commented on #27393
@justincormack @duglin @dsheets I don't really see a reason why we would disallow a Dockerfile that 's outside of the build-context. As long as we treat the Dockerfile as if it's at the root of the context (so doesn't have access to files outside of it), I don't see why we would reject that.

So basically;

[code]

Sounds like something we could support. The `-f /build-context/subdir/some/Dockerfi

[2016-10-19 15:59] duglin commented on #27393
Well, I think that fails because using '-' as the build context means that there is no context and stdin is the Dockerfile, not the context.  Or am I not folllowing?

[2016-10-19 16:07] jhowardmsft commented on #27538
Should be supported...

[2016-10-19 16:08] jhowardmsft commented on #27524
Unfortunately it's not a technical debate - this is licensing and policy.

[2016-10-19 16:14] msabansal commented on #27529
@5245010 Its likely that windows firewall is blocking the traffic. Try manually forwarding the port through the firewall and see if it works. We have a fix planned for this for the next release which will enable -p option for all the networks.

[2016-10-19 16:15] friism commented on #27545
cc @jhowardmsft

[2016-10-19 16:16] thaJeztah commented on #27082
We should look at this in light of https://github.com/docker/swarmkit/pull/1645 as well

[2016-10-19 16:17] msabansal commented on #26982
@sasiezilmadhavan @happysysadm Can you please help with the error you are facing with name resolution? Does using <service name>**.** work?

[2016-10-19 16:18] ngbrown commented on #27524
Ok. Thanks for being clear about that.

[2016-10-19 16:19] thaJeztah commented on #27081
Is there a reason that a rolling update would not work for you? In general we're not sure we should add this, as it doesn't really fit into the "service" model/concept

[2016-10-19 16:19] mavenugo commented on #27082
@thaJeztah i dont think these are related. but sure we can discuss the relationship.

[2016-10-19 16:19] msabansal commented on #26982
@happysysadm What is the error for container startup? Can you please post what docker run shows?

[2016-10-19 16:22] thaJeztah commented on #26915
In general, we think it's a nice idea / concept, but it really needs more design (as it can be quite complex); would you be able to write up your proposal in more detail? Possibly adding some use-cases as well to help us think along

[2016-10-19 16:24] shahar-drvway opened #27549 "Vagrant with Docker-compose - chown remains root:root"
Main issue involves 2 dockers.
First Docker: Data-docker , a directory that needs to hold files.

_Dockerfile.shared-data-dev:_
[code]

This is then being called from docker-compose like so:
_docker-compose.yml:_
[code]

running `docker-compose up` does create and binds the volume to the vagrant, but the chown doesn't propogate which leaves it as `root:root`.

The only workaround I could have find

[2016-10-19 16:25] justincormack commented on #25981
cc @djs55

[2016-10-19 16:26] sabretus commented on #21776
Same here, we use docker to run tests and it's very useful when subnets are allocated automatically, but their size is too big so we can't start more than 15 parallel tests (172.17. - 172.31.) at the same time.

[2016-10-19 16:27] arhea commented on #23848
I am running into this issue as well. I am unable to login to the corporate registry over the VPN. Error response from daemon: Get https://<url>:5000/v1/users/: dial tcp: lookup <url> on 192.168.65.1:53: no such host

[2016-10-19 16:28] mavenugo commented on #27082
@stevvooe not sure if I follow.

The intention of this proposal (we can certainly replace the current label approach to another - maybe constraints-based) is to let the user handle local resource management at the node level and relieve swarmkit of the duty of node-level resource allocation/management. There are multiple use-cases that triggered this requirement. Especially those local-scoped netw

[2016-10-19 16:32] thaJeztah commented on #26700
We discussed this feature request; implementing this requires more discussion, and it's probably best to track this through the linked issues in Swarmkit.

TL;DR bin pack doing the right way is non-trivial, and _if_ we implement it, we should avoid having the same issues as "classic" Swarm has.

I'll close this issue here for housekeeping, but thanks again for suggesting!

[2016-10-19 16:32] #26700 closed

[2016-10-19 16:38] mgoelzer commented on #26446
@ktwalrus Can you explain more about the use case?

[2016-10-19 16:38] crosbymichael commented on #27484
@justincormack I'd rather not make too many changes on validation.  I think fixing the validator to prohibit net host, both when its omitted from the array and if it has a path pointing to the calling namespace.  Other than that I think it should be allowed because someone is probably depending on that today so that one container can configure the network namespace of another or something crazy li

[2016-10-19 16:40] diogomonica commented on #26915
I have a few ideas on how to do this. I'm planning on shipping it right after 1.13 so we have a long time to test it.

[2016-10-19 16:40] thaJeztah commented on #26446
We discussed this proposal, and having more details about your use case would help us see what improvements could possibly be made to scheduling. We're not sure about the design you're proposing, so having a use case description helps with that :smile:

[2016-10-19 16:42] mrusme commented on #27081
@thaJeztah it's a lot faster and less resource-intense to fire a signal to one/many nginx-container(s), which would trigger a pure reload of the configuration, rather than applying the rollling update procedure [described here](https://docs.docker.com/engine/swarm/swarm-tutorial/rolling-update/). As the configuration (in my case) does not change inside the actual image, but rather inside the mount

[2016-10-19 16:43] stevvooe commented on #26631
@mrusme It sounds like there are three features requested here:

1. Restarting all tasks. This will spawn new container tasks for all existing tasks, honoring rolling update parameters. (@thaJeztah, do we have an issue for this?)
2. Task signaling (sending a HUP to replicas of a service) (see #27081).
3. Task exec. This is more involved. You can already do this by execing on the task host, but we

[2016-10-19 16:44] #26351 closed

[2016-10-19 16:44] thaJeztah commented on #26351
Also see https://github.com/docker/docker/issues/27307 for metrics (perhaps networking should be added in the metrics)

We could still have a check to see if IPVS/requirements are working correctly; can you open a new issue for that?

[2016-10-19 16:47] thaJeztah commented on #26259
@shane-axiom can you open a new issue for that (disk reservation)?

[2016-10-19 16:48] #22471 closed

[2016-10-19 16:49] justincormack commented on #27549
Please can you provide the requested information on your docker setup, output of `docker version` and `docker info`.

[2016-10-19 16:55] thaJeztah commented on #26247
Looks like this is a duplicate of https://github.com/docker/docker/issues/24787, so I'll close this one, but feel free to comment after I closed

[2016-10-19 16:55] #26247 closed

[2016-10-19 16:57] stevvooe commented on #27081
@mrusme Do you have a proposal for a design to accomplish this? Right now, we don't really have any direct task signaling primitive.

Also, do you have an estimate of the cost of HUP versus restart? It would be good to quantify this in practice to make a determination of urgency. We could test this but it would be better to get an idea of the cost in real deployments.

[2016-10-19 16:57] aboch commented on #27541
@the-nw1-group Before doing more investigation, I think it is worth to first check if it works over a non-encrypted overlay network.

[2016-10-19 17:04] aaronlehmann commented on #27382
I believe this is fixed by https://github.com/docker/swarmkit/pull/1305

I've flagged that PR for backport to 1.12.3.

[2016-10-19 17:10] frimdo opened #27551 "Docker service restart"
### Feature idea
I belive docker service is missing a way to restart all replicas of service.

The reason is, that if you want to for example reload config file you updated in volume, you have to restart whole container. Without this feature you have to remove the service and create new, which cause downtime...

**Steps to reproduce the issue:**
[code]
This command would send HUP command to all re

[2016-10-19 17:13] frimdo opened #27552 "Docker service exec"
### Feature idea
I belive docker service is missing a way to exec on all replicas of service.

The reason is, that if you want to for example reload config file you updated in volume, you have to restart service inside container.

**Steps to reproduce the issue:**
[code]
This command would exec command on all replicas of service. `--update-parallelism` and `update-delay` would affect parallelism a

[2016-10-19 17:14] sasiezilmadhavan commented on #26982
@msabansal

the docker-compose.yml that worked before and now doesn't resolve DNS inside container is

services:
  kpiweb:
    image: 10.5.0.5:5000/kpiwebui:v1
    ports:
      - "8081:80"
    links:
      - kpicoreservice
  kpicoreservice:
    image: 10.5.0.5:5000/kpicoreservice:v1
networks:
  default:
    external:
      name: nat

**ipconfig/all from the kpiweb container :**
Windows IP Configur

[2016-10-19 17:16] frimdo opened #27553 "Docker service logs"
### Feature idea

Docker service is missing logs feature docker-cloud has.

**Steps to reproduce the issue:**
[code]
This would show logs, same way as [docker-cloud](https://docs.docker.com/docker-cloud/getting-started/deploy-app/8_view_logs/) does.

[2016-10-19 17:16] coryleeio commented on #27541
I just went through a lot of headache with something similar, and turning off the opt encrypted fixed mine.  I was having sort of intermittent network failures when starting new hosts.

[2016-10-19 17:18] frimdo commented on #26631
Issues [#27551](https://github.com/docker/docker/issues/27551), [#27552](https://github.com/docker/docker/issues/27552), [#27553](https://github.com/docker/docker/issues/27553) created. This issue can be closed now.

[2016-10-19 17:20] cyli commented on #27511
@sburnwal

I don't think there's a remote API for doing so, but docker uses [notary](https://github.com/docker/notary) to resolve the image name.  You do the same using notary either as a CLI tool or as a library: you could look up the image tag's digest, then use the docker remote API to pull the digest and re-tag.  (Please see https://github.com/docker/notary/blob/master/docs/getting_started.md#

[2016-10-19 17:25] mgoelzer commented on #26197
Dup of #25257

[2016-10-19 17:25] #26197 closed

[2016-10-19 17:27] jhowardmsft commented on #27527
Yes, we think we know what this is, a race condition in Windows itself. We're tracking a potential servicing fix, but no ETA yet. (Internal bug# 9386083). On some machines, re-trying makes it work, although I've seen one machine where it just never succeeds after multiple (10+) retries.

[2016-10-19 17:30] thaJeztah commented on #25231
We think this makes sense, but possibly there should be a flag to disable / enable this behavior so that (e.g.) global services with constraints could still use load balancing

[2016-10-19 17:30] msabansal commented on #26982
@sasiezilmadhavan I have got some really high priority work right now. Sorry. I am looking at this whenever I am getting time.
Right now I am updating a machine to the latest patches. Will ping soon if I have questions.

[2016-10-19 17:40] stevvooe commented on #26631
@frimdo Thank you!

[2016-10-19 17:40] #26631 closed

[2016-10-19 17:42] shahar-drvway commented on #27549
**docker info:**
[code]

**docker version:**
[code]

[2016-10-19 17:52] wcgcoder commented on #24157
@stevvooe, I'm just running into this issue today and have yet to devise an elegant solutions. I'm trying to do the exact scenario you mention; my ca.crt is in a registry with port 5000, and I want to share it into a container. 🙄

I guess I'm doing a symlink. 😿

[2016-10-19 18:00] shane-axiom opened #27555 "Add --reserve-disk option to service create"
Current `docker swarm create` has options for `--reserve-cpu` and `--reserve-memory` but no `--reserve-disk`. There should be a way to reserve an amount of disk space for each container.

Issue spawned from discussion on https://github.com/docker/docker/issues/26259#issuecomment-248059992.

[2016-10-19 18:00] msabansal commented on #26982
@sasiezilmadhavan Is it possible that your containers are terminating? What does docker ps say? Is kpicoreservice active?

I tried with this compose file on a latest patched machine:

version: '2'
services:

    kpiweb:
        image: nanoserver
        ports:
            - "8081:80"

        links:
            - kpicoreservice
        tty: true

    kpicoreservice:
        image: nanoserver

[2016-10-19 18:01] shane-axiom commented on #26259
Added new issue for `--reserve-disk` here: https://github.com/docker/docker/issues/27555

[2016-10-19 18:01] stevvooe commented on #24157
@wcgcoder We are introducing the `--mount` syntax to deal with this issue. As a workaround, you can bind mount a directory with the certificates or use some sort of symlinking.

[2016-10-19 18:02] dongluochen commented on #27513
@pascalandy I want to clarify that you can see `percona_net` on your manager node. But service create fails. Can you show output of `docker network ls` on node `swm-db`, and related docker logs on `swm-db`?

[code]

[2016-10-19 18:03] andrewhsu commented on #27500
fyi, corresponding bugzilla ticket https://bugzilla.redhat.com/show_bug.cgi?id=1386866

[2016-10-19 18:05] guenhter commented on #27555
Maybe this can also be considered, when this feature is implemented:
https://forums.docker.com/t/i-o-should-also-be-reservable-for-swarm-service/23208

[2016-10-19 18:12] xcellardoor commented on #27515
@thaJeztah I've just gone into /etc/apt/sources.list.d/docker.list and changed debian-jessie to raspbian-jessie. I can now see 1.12 as a downloadable package. Line is below.

`deb [arch=armhf] https://apt.dockerproject.org/repo raspbian-jessie main`

However when I do an apt-get install, I'm met by:

[code]
If I try to start the installed service manually I find this in journalctl.
[code]

Any ide

[2016-10-19 18:12] pascalandy commented on #27513
Arrgh .. I scrapped and restarted my cluster because of this. Please keep this open. I'll document if I see this issue again. Cheers!

[2016-10-19 18:15] thaJeztah commented on #27515
Looks like those logs are truncated I think it's `journalctl -xn` to prevent truncating

However the `READ_ONLY` message looks to indicate there's an issue with the filesystem. You could try using a different storage driver (e.g. "overlay" if you're on a recent kernel)

[2016-10-19 18:16] ktwalrus commented on #26247
I don't think this is a duplicate of  #24787. My issue was to give each task/replica an alias in the internal DNS so I could reliably discover the individual task/replica from within a client. The referenced issue seems to be requesting a way to give the service an alias (not individual tasks/replicas).

[2016-10-19 18:17] aboch commented on #26527
Looking better at this, @bweston92's issue is a duplicate of #25981.
See https://github.com/docker/docker/issues/25981#issuecomment-254663996 for the details.

[2016-10-19 18:19] jhowardmsft commented on #27527
@swernli FYI

[2016-10-19 18:26] stevvooe commented on #19306
@Licenser I agree that troubleshooting certificate issues can be confusing. Do you have an example of the confusing error message? These problems are lot easier to address if we enumerate the _exact_ failures causing confusion.

Otherwise, we'll have pontificate the possible failures and their resolutions, which may be boundless. 🐹

[2016-10-19 18:31] oppianmatt commented on #27540
Confirm I'm getting the same, upgraded to docker 1.12 from 1.11. Rebooted, ran my containers. Then  the usual cron script that does a docker exec started reporting the same error. But the container is running:

[code]

[code]

[code]

Can see the name `pitchup_gunicorn` in the running containers list, but the exec fails.

[2016-10-19 18:34] oppianmatt commented on #27540
Using the short id doesn't help either:

[code]

[2016-10-19 18:34] Licenser commented on #19306
Hey,
this has been so long ago I don't remember exactly to be honest :(.

I **think** the situation was that the certificate names were wrong (so there was no client certificate at all) and the error just said `authentication failed`.

I don't know the internals of this but my original thought was that "can't open the cert file", "can't parse/read the cert file" and "the server rejected the certif

[2016-10-19 18:37] thaJeztah commented on #26247
You can query the DNS for `tasks.<service_name>`, which returns the IP addresses of all individual tasks.

However, your description of giving different "roles" to individual tasks may not be the best approach; tasks are considered exactly equal, so perhaps you should have different services for "master" and "slave" mysql servers

[2016-10-19 18:39] thaJeztah commented on #26247
Also see the discussion on this PR https://github.com/docker/docker/pull/24973, which is probably related

[2016-10-19 18:41] mavenugo commented on #26527
Thanks @aboch. yes. I agree. closing this. feel free to reopen it if this is not resolved after #25981 is closed.

[2016-10-19 18:41] #26527 closed

[2016-10-19 18:42] mavenugo commented on #21967
Closing this based on the above comment.

[2016-10-19 18:42] #21967 closed

[2016-10-19 18:44] mviereck commented on #27497
That may be a possibility, also I'm not deep enough into X mystery to know about this. But if that would be the case, host applications accessing X over tcp should not be able to access GPU, too.

But GPU acceleration over tcp works for host applications, as you can see in the terminal output above. I'm already sharing the X socket to docker although I connect over tcp, so the socket would be acce

[2016-10-19 18:54] tevjef commented on #27374
LGTM. Can't wait for 1.12.3!
[code]

[2016-10-19 19:05] mavenugo commented on #22204
@aboch i think there is an ask to change the error message ? Is this a candidate for closing ?

[2016-10-19 19:07] ktwalrus commented on #26247
PR #24973 is much closer to what I need. That is, a way to address each individual task in a service by a predictable name. Querying `tasks.<service_name>` is no sufficient since it gives a single DNS name for all the tasks in the service and not separate DNS names for each task (that can be known before the tasks have even started).

As for all tasks in a service are considered exactly equal, tha

[2016-10-19 19:08] mavenugo commented on #23971
@aboch can you pls check this one ?

[2016-10-19 19:12] aboch commented on #22204
@mavenugo I now linked the libnetwork PR which will fix this. I incorrectly thought it was already mentioned. Nevertheless, the right pipeline would be "needs review", I wil lchange that. Thanks.

[2016-10-19 19:13] yongtang commented on #27178
One issue with the wildcard is that we also need to take into consideration the protocols, i.e., `tcp` or `udp`.

I created a PR #27557 with filter `expose|publish=<port>[/<protocol>]|<from>-<to>[/<protocol>]`. This is an attempt with the hope to have more discussions.  Open to any suggestions or feedbacks.

[2016-10-19 19:20] aboch commented on #23971
@xeor
As explained, whether or not you can create all the 31 networks depends on whether none of the predefined 31 pools conflict with any of the routes or nameservers on your host.

There is not. This feature has already been requested in other two docker issue (will update when I find them).

Regarding this issue, I still feel it can be closed as the behavior has been explained and the `docker c

[2016-10-19 19:23] dsheets commented on #27393
@thaJeztah I agree that we could definitely support arbitrary Dockerfile paths with the tar stream rewriting I use to put stdin into the context. When I make a PR, I will put that in a secondary commit.

@duglin I don't understand what you are referring to re: `.dockerignore` as, currently, if `.dockerignore` matches the referenced `Dockerfile` then the `Dockerfile` is included in the build contex

[2016-10-19 19:27] erikh commented on #27393
What's wrong with `docker build -f /dev/stdin .`?

relevant: https://codereview.appspot.com/22170044/#msg2

On Wed, Oct 19, 2016 at 12:23 PM, David Sheets <notifications@github.com>
wrote:

[2016-10-19 19:55] Risto-Stevcev commented on #5684
Still getting this too

[code]

[2016-10-19 19:56] jonstelly commented on #27527
If it is a race condition, I've got a machine we can test a fix on.  I ran the following: 50 attempts and 50 failures.

`foreach($i in 1..50) { Write-Host "PULLING..."; $output = docker pull microsoft/nanoserver; if($LASTEXITCODE -eq 0) { Write-Host -ForegroundColor Green 'SUCCESS'; exit; } else { Write-Host -ForegroundColor Red "FAILURE($i): $LASTEXITCODE"; } }`

[2016-10-19 20:03] xcellardoor commented on #27515
My /boot partition did have the dirty bit set which I've now removed.. Unfortunately I'm not physically with the Pi until tomorrow so can't check the root partition.

I didn't realise Docker or OS elements Docker uses could detect things like that, clever! Here is the un-truncated log by the way.

[code]

[2016-10-19 20:05] dsheets commented on #27393
@erikh `/dev/stdin` would have to be special-cased and `docker build` already has the `-` means stdin convention.

[2016-10-19 20:08] dsheets commented on #27393
The special-casing would not be required if the out-of-context path suggestion by @thaJeztah was used. I think at that point only the `-` convention and Windows compatibility are relevant. `-f /dev/stdin` doesn't work right now, though.

[2016-10-19 20:11] thaJeztah commented on #20354
We now have some options `--log-opt syslog-format=[rfc5424|rfc5424micro|rfc3164]` and other options; including facility; does that cover your use case?

https://docs.docker.com/engine/admin/logging/overview/#/syslog-options
[code]

[2016-10-19 20:13] thaJeztah commented on #20255
This was updated and now looks like;

[code]

[2016-10-19 20:13] #20255 closed

[2016-10-19 20:13] pchico83 commented on #25925
I collected the docker daemon logs when building a small dockerfile that failed this this issue:
[code]
Logs are:
[code]

[2016-10-19 20:15] dlsniper commented on #20354
@thaJeztah yes, it seems it does it. Thank you! Should I close the issue or should you?

[2016-10-19 20:15] thaJeztah commented on #17560
We now have the daemon.json, and in future will integrate with InfraKit, which possibly could provide some options here.

I'll close this issue, but let me know if something is still needed

[2016-10-19 20:15] #17560 closed

[2016-10-19 20:19] Nearhan commented on #27540
I can confirm having the same problem after having upgraded to 1.12

[2016-10-19 20:24] thaJeztah commented on #20359
After an "anonymous" volume is created it has been given a (generated) name, so there's no real difference anymore between "named" and "unnamed".

We discussed this, and think it's not something we want to implement

[2016-10-19 20:24] #20359 closed

[2016-10-19 20:25] thaJeztah commented on #20143
No activity in a while, so I'm closing this, but let me know if I closed by mistake

[2016-10-19 20:25] #20143 closed

[2016-10-19 20:28] thaJeztah commented on #20435
ping @estesp I think this is what we talked about

[2016-10-19 20:29] ssuvasanth commented on #27540
The issue is 100% reproducible but with that particular image.

Checking more on this.

[2016-10-19 20:31] thaJeztah commented on #20272
We now have an option to set a minimum amount of space for devicemapper, to prevent getting in this situation, so I'll close this

[2016-10-19 20:31] #20272 closed

[2016-10-19 20:32] thaJeztah commented on #20461
Looks like nobody is working on this, but feel free to open a PR if you think this is still needed. I'll close this as we don't consider this a high priority

[2016-10-19 20:32] #20461 closed

[2016-10-19 20:33] thaJeztah commented on #20622
I'll close this issue as this should be  / will be fixed in the sonatype registry

[2016-10-19 20:33] #20622 closed

[2016-10-19 20:35] erikh commented on #27393
right, special casing would be needed for the context, but `-f` does not
prescribe the context, it only prescribes the dockerfile.

I haven't tested but I'm pretty sure there's no barrier here.

On Wed, Oct 19, 2016 at 1:08 PM, David Sheets <notifications@github.com>
wrote:

[2016-10-19 20:35] thaJeztah commented on #20821
@mstanleyjones do you know if this was updated in the documentation?

[2016-10-19 20:37] thaJeztah commented on #20369
@PatrickLang haven't heard about this anymore, is this still an issue? @jhowardmsft

[2016-10-19 20:38] thaJeztah commented on #17214
Haven't seen this failing in a while, I'll close this

[2016-10-19 20:38] #17214 closed

[2016-10-19 20:39] thaJeztah commented on #20784
I'll close this issue, as there's been a lot of improvements, but more is always welcome!

[2016-10-19 20:39] #20784 closed

[2016-10-19 20:39] thaJeztah commented on #20886
This test is no longer there, so closing

[2016-10-19 20:39] #20886 closed

[2016-10-19 20:39] thaJeztah commented on #20912
closing because there's been no activity

[2016-10-19 20:39] #20912 closed

[2016-10-19 20:40] thaJeztah commented on #20968
We have health checks in 1.12, which should be able to provide this

[2016-10-19 20:40] #20968 closed

[2016-10-19 20:40] thaJeztah commented on #20945
Haven't seen this for a while

[2016-10-19 20:40] #20945 closed

[2016-10-19 20:42] thaJeztah commented on #20971
The script exits, so the main container's process is done. This is expected behavior, so closing

[2016-10-19 20:43] thaJeztah commented on #18529
Haven't seen this for a while

[2016-10-19 20:43] #18529 closed

[2016-10-19 20:46] jhowardmsft commented on #20369
I'd be pretty sure this far down the road, it's safe to close this. Please re-open if you can repro on RTM builds.

[2016-10-19 20:46] #20369 closed

[2016-10-19 20:47] thaJeztah commented on #20988
We haven't seen more requests for this, and this is consistent with the `--volume` flag also requiring to specify the full path in the container. Given that this would be a breaking change, and not a high priority, I'm closing this. But as always, feel free to comment if you don't agree

[2016-10-19 20:47] #20988 closed

[2016-10-19 20:48] thaJeztah commented on #20933
The docs have moved to the central repository https://github.com/docker/docker.github.io. If you still think this should be changed, could you open an issue there?

[2016-10-19 20:48] #20933 closed

[2016-10-19 20:49] thaJeztah commented on #20859
@cpuguy83 @rhatdan what's the status on this one? Is this still needed?

[2016-10-19 20:50] thaJeztah commented on #21010
There's been a lot of improvement in json-file logging, including log rotation. So I'll close this, but let me know if there's still an issue

[2016-10-19 20:50] #21010 closed

[2016-10-19 20:51] thaJeztah commented on #21009
@swernli @jhowardmsft is this still an issue? Is this still needed?

[2016-10-19 20:52] thaJeztah commented on #21028
I haven't received a response from OP, so I'm closing

[2016-10-19 20:52] #21028 closed

[2016-10-19 20:53] thaJeztah commented on #21041
@mlaventure can you remove the 1.11-dev and 1.12-dev versions?

[2016-10-19 20:55] thaJeztah commented on #20168
@jpetazzo could you reopen this in the https://github.com/docker/docker.github.io issue tracker? That's were these docs moved

[2016-10-19 20:55] #20168 closed

[2016-10-19 20:55] mstanleyjones commented on #20821
I doubt it!

[2016-10-19 20:56] mlaventure commented on #20462
Did not happen in a while, closing.

[2016-10-19 20:56] #20462 closed

[2016-10-19 21:00] thaJeztah commented on #15887
Given the discussion above; the `/var/lib/docker` directory is not designed to do this, and implementing would require a big rewrite, so I'm closing this issue

[2016-10-19 21:00] #15887 closed

[2016-10-19 21:01] thaJeztah commented on #9314
We haven't seen more requests for this, so I'm closing this as it's not a priority

[2016-10-19 21:01] #9314 closed

[2016-10-19 21:05] thaJeztah commented on #13807
While it would be nice to store the options in the storage directory itself, we now have the daemon.json file, which makes it easier to keep track of your options.

We don't think this is a high priority issue, so I'm closing, but @vbatts you can comment if you disagree  :heart:

[2016-10-19 21:05] #13807 closed

[2016-10-19 21:09] rothrock opened #27561 "Add option to splunk log driver to match environment variables by a regex."
**Description**
Currently the splunk log driver will include as attributes the environment variables that match the ones named in the <code>--env</code> flag passed as part of <code>--log-opts</code> when starting the Docker daemon. For example, supplying <code>--env="APP_VAR_1,APP_VAR2"</code> will inspire the driver to attach the environment variables that have names that exactly match APP_VAR1

[2016-10-19 21:09] thaJeztah commented on #21094
We discussed this and don't think it's a high priority; using `curl` with `jq` would probably be a good alternative

[2016-10-19 21:10] thaJeztah commented on #21094
/cc @mlaventure had some thoughts on this, so possibly we can enhance the `--format` to make it easier

[2016-10-19 21:11] thaJeztah commented on #21062
I'll check if this is still needed

[2016-10-19 21:13] thaJeztah commented on #21157
ping @bfirsh @vieux PTAL

[2016-10-19 21:14] thaJeztah commented on #21096
Linked PR was rejected, so closing

[2016-10-19 21:14] #21096 closed

[2016-10-19 21:14] thaJeztah commented on #21071
docs were moved to a central repository, so closing this. I think this was addressed

[2016-10-19 21:14] #21071 closed

[2016-10-19 21:18] thaJeztah commented on #18585
Also see https://github.com/docker/docker/pull/4954

[2016-10-19 21:21] LK4D4 commented on #21180
Didn't see for a long time.

[2016-10-19 21:21] #21180 closed

[2016-10-19 21:22] thaJeztah commented on #18993
We also have health checks no, which could be helpful for your current approach.

We discussed this, and think your current approach is working, so don't consider this a high priority. I'm closing this issue, but feel free to comment after

[2016-10-19 21:22] #18993 closed

[2016-10-19 21:22] thaJeztah commented on #21187
WindowsTP4 is no longer alive

[2016-10-19 21:22] #21187 closed

[2016-10-19 21:22] donut87 commented on #27423
I have a similiar issue with error messages that look pretty much the same. I upgraded from a Windows 7 recently and would very much doubt, that I had any Go runtime environment installed (work PC and we don't use any Go)
What we do have and use is a VMWare Player. @rneugeba was so nice to link my issue to this thread so that you could have a look at the locks too.

[2016-10-19 21:23] thaJeztah commented on #18238
This is a really old issue now, and there's no activity for a while. I'm closing this issue, but let me know if this is still a problem

[2016-10-19 21:23] #18238 closed

[2016-10-19 21:34] dsheets commented on #27393
As I said, `-f /dev/stdin` does not work currently and out-of-context Dockerfiles are explicitly prohibited (because the Dockerfile is carried inside of the build context and not separately). To use `/dev/stdin`, the context tar stream would still need to be rewritten, `Dockerfile` would still need to be overwritten, and the out-of-context Dockerfile prohibition would need to be lifted.

With @tha

[2016-10-19 21:40] b0c1 opened #27563 "JVM in Docker eats disk"
**Description**
I'm running Flink on my docker container.
One job manager and 3 task manager.
One batch runner (It periodically sends the job to the job manager)

**Steps to reproduce the issue:**
1. Pull up a flink container structure
2. Send batch job periodically the container
3. Wait

**Describe the results you received:**
It's very strange.
- On the host, the free disk slowly disappears
- No

[2016-10-19 21:51] thaJeztah commented on #20295
We discussed this, and while we see it's inconvenient, the best option is to create the workdir in advance, with the correct user. For that reason, we think we should close this.

[2016-10-19 21:51] #20295 closed

[2016-10-19 21:52] moonbrv commented on #25471
Sorry if i post in wrong place
I have Ubuntu 16.04 LTS and docker 1.12.1
When i try to run docker daemon, I still have problem as described above.
[code]
In my docker.service i have `-H fd://` option
[code]
If did remove `-H fd://` from this file but have the same problem.
I'm really sorry for that question, Ubuntu is new thing for me, but please explain me what i need to do to fix that problem. Y

[2016-10-19 21:55] erikh commented on #27393
this works just fine on 1.12.2:

`docker build -f /dev/stdin . < Dockerfile`

Just verified. Anyways, I'm tapping out.

On Wed, Oct 19, 2016 at 2:34 PM, David Sheets <notifications@github.com>
wrote:

[2016-10-19 21:56] thaJeztah commented on #19259
We see this as a bug, and it should ignore the daemon logging driver options

[2016-10-19 22:01] dongluochen commented on #27268
@groyee In the failure case, does the container move to a different host?

@sanimej Could this problem be related to issue https://github.com/docker/docker/issues/25215?

[2016-10-19 22:07] swernli commented on #21009
@thaJeztah The problem still repros for me.  When files are copied into a container, they lose their alternate data streams, which means metadata (like where the file was downloaded from) are gone.  Using go-winio as suggested about should be able to resolve this issue, but may be @jstarks can comment more.

[2016-10-19 22:19] dsheets commented on #27393
@erikh, that's interesting. This works on 1.12.2 on Linux but not on OS X... thanks for the encouragement!

[2016-10-19 22:19] stevvooe commented on #27507
I would not recommend overloading `http.request.id` -- that identifies the request. I'd recommend introducing `http.session.id`.

There may actually be an easy way to do this would introducing changes to the docker client. You can simply set a cookie on the first registry request and that should be carried through a single client session.

[2016-10-19 22:20] groyee commented on #27268
Since we don't use on-node-failure feature I believe that in the failure case it doesn't move to a different host. I assume...

But again, it can easily be moved to a different host when we do **docker-compose scale=0** and then **docker-compose scale=X**

For example. Zookeeper doesn't do much and it has no persistent volume so swarm can schedule it where it wants in the cluster every time we rem

[2016-10-19 22:21] jhowardmsft commented on #27423
@donut87 Can you try the experiment suggestions above too please.

[2016-10-19 22:22] stevvooe commented on #19306
@Licenser Agreed but I am not sure that this particular issue is actionable without a specific example. What would be the criteria for closing this issue?

[2016-10-19 22:26] gboddin commented on #1916
Same here ! Using mock inside docker is nightmare because of that :(

[code]

[2016-10-19 22:30] s0komma commented on #25138
Hi, we are also experiencing the same issue as cduchesne mentioned. Let me know if any thing is required in terms of logs will be glad to send them over

[2016-10-19 22:31] thaJeztah commented on #20254
This may be fixed, but @aaronlehmann and @dmcgowan will have a look into this 😇

[2016-10-19 22:37] jtmoon79 commented on #1916
@cpuguy83 wrote:

But why not allow `--privileged` for those not requiring far-reaching portability?
A simple note in the official documentation would be a reasonable compromise (e.g. _Warning: passing`--privilege` to the `build` command may result in a less portable image!_)

[2016-10-19 22:47] thaJeztah commented on #20435
@duglin something to consider for the `ADD` / `COPY` `--user` PR? (As a follow up)

[2016-10-19 22:49] estesp commented on #20435
@thaJeztah yes--so this is additional scope to just preserving ownership; in this case basically preserving all attributes of the original file

[2016-10-19 22:53] thaJeztah commented on #20435
Talking about this some more now; possibly it's a bug that these attributes are stripped, but we need to look into this

/cc @tonistiigi @dmcgowan

[2016-10-19 22:53] bfosberry commented on #25099
I came across the issue when I had added some badly decrypted data to the Env array via the API, containing non-utf characters:

Here is an example container environment with the issue:

[code]

[2016-10-19 22:57] thaJeztah commented on #21054
@runcom is this still an issue? We were wondering if there's something left to fix :smile:

[2016-10-19 23:09] stuaxo commented on #1916
It could be called  ```--non-portable```.   I haven't used the deployment parts of docker yet, but the isolation + overlay filesystem stuff has been really useful without that.

[2016-10-19 23:26] dmcgowan commented on #27384
@aclements are there any tip builds available for arm64?

[2016-10-19 23:49] mrunalp commented on #18654
@LK4D4 I am not actively working on this. I ran into issues trying to cleanly kill the processes with pid=host. We decided to just use cgroup parent instead. If I find a good workaround, I will open a PR.

[2016-10-19 23:51] dsheets commented on #27393
It doesn't always work on Linux, either --

[code]

[code]

[code]

[code]

This seems quite brittle and does not actually satisfy the specification in this proposal. I'm currently inclined to believe that this disgusting magic is courtesy of the shell's I/O redirection rewriting `/dev/stdin` into the path passed via `<` but I haven't confirmed, yet. Here's some pretty damning evidence:

[code]

@

[2016-10-20 00:03] sagar8192 opened #27566 "Docker daemon hangs. Possible deadlock in 1.11.2"
**Description:**
Docker daemon becomes unresponsive on boot `and` all the requests hang forever.

**Ways to reproduce:**
I have not been able to reproduce it yet.

**Describe the results you received:**
Docker daemon becomes unresponsive/hangs.

Cannot run docker info or docker version on the host. But, this is the output from another host.

[code]

[code]

[code]

From the stack dump it looks lik

[2016-10-20 00:18] yongtang commented on #24391
Added a PR #27567 to have DNS related configs in service specification.

[2016-10-20 00:31] daniel-smith-kaazing commented on #22116
We are seeing the same on CentOS with docker 1.12.1. Docker becomes unusable even for simple tasks - remove container, remove images, builds, etc.
Here's the info:
docker --version
Docker version 1.12.1, build 23cf638
 uname -a
Linux YOUR_HOSTNAME_HERE 3.10.0-327.36.1.el7.x86_64 #1 SMP Sun Sep 18 13:04:29 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

[2016-10-20 00:44] stevvooe opened #27568 "Layerless manifest doesn't provide appropriate error message"
I crafted a manifest as follows:

[code]

The contents of the image config don't really matter. After pushing this to a registry, we would expect an error when pulling. Instead, we get the following:

[code]

This should either:

1. Create an image with an empty root filesystem, since there are no layers.
2. Error out on missing layers.

@crosbymichael @aaronlehmann @tonistiigi

[2016-10-20 00:50] dongluochen commented on #27268
There might be 2 ways a container moves to a host with `different` IP.
1. The container with the same name was started in a new host, like the case with compose scale down then up.
2. The host was restarted and got a different IP thru DHCP. In your failure cases, did the host shutdown and restart?

[2016-10-20 01:02] sburnwal commented on #27511
@cyli Does this mean that when I use my own registry server, docker would still use notary to resolve the image tag's digest ?

Another question I have - there is env var DOCKER_CONTENT_TRUST listed here https://docs.docker.com/engine/reference/commandline/cli/. When it is set and I use remote API to pull, will it not ensure trust or signature being enforced ?

My problem is this - I have my own r

[2016-10-20 01:13] jstarks opened #27570 "Windows: layers can be partially removed, causing unpredictable failures"
The Windows graph driver tries to delete a layer's state by recursively removing files from within the layer's directory. If this fails partway through, the layer is not removed from the layer DB, but the layer contents are also not restored. So if the layer is referenced again by another image, starting a container based on that image will fail in unpredictable ways.

The aufs graph driver avoids

[2016-10-20 01:19] jstarks opened #27571 "Many graph drivers leak layer data on failure"
Many of the graph drivers call os.RemoveAll or similar to remove files associated with a layer. This can fail, resulting in leaked data in the user's docker directory. Nothing appears to exist to come back and clean up these files later.

On Linux, this is probably not a significant problem because it is rare for unlink to fail on a file. On Windows, this is much more problematic because it is muc

[2016-10-20 01:20] tonistiigi commented on #27568
@stevvooe I get
[code]

[2016-10-20 01:21] stevvooe commented on #27568
@tonistiigi Did you delete `rootfs` in the config?

[2016-10-20 01:37] TimurKiyivinski commented on #27441
Finally back at the office to continue testing. This is the default MariaDB image with an additional database SQL placed in `/docker-entrypoint-initdb.d/` and it works on host or non `--internal` networks. Even in an internal network, I am able to run `docker exec -it db mysql -u root -p` to confirm that the database is indeed up.
## testing with 2 MariaDB instances
I have now tried using 2 MariaD

[2016-10-20 01:46] tonistiigi commented on #27568
@stevvooe
[code]

That error message is not in `v1.12` though. I think before it crashed the response handler. https://github.com/docker/docker/pull/25582#issuecomment-239021102

[2016-10-20 02:14] rxwen opened #27572 "address bind error while the port isn't already occupied"
**Description**

Use docker compose to run services on a docker swarm cluster. I tried to stop and restart a redis container, it complained that failed to bind address x.x.x.x:6379. Although I checked system status, that the redis container has been removed completely and the 6379 port isn't occupied.

**Steps to reproduce the issue:**
1. docker-compose up -d
2. docker-compose stop
3. docker-compo

[2016-10-20 02:58] #27572 closed

[2016-10-20 03:07] erxian opened #27573 "{"message":"json: cannot unmarshal string into Go value of type []string"}"
I use Docker Remote API to create container, the command is:
`curl -XPOST -H "Content-Type: application/json"  http://0.0.0.0:4243/containers/create -d '{
 "Hostname":"",
     "User":"",
     "Memory":0,
     "MemorySwap":0,
     "AttachStdin":false,
     "AttachStdout":true,
     "AttachStderr":true,
     "PortSpecs":null,
     "Privileged": false,
     "Tty":false,
     "OpenStdin":false,
     "

[2016-10-20 03:14] doxxx commented on #24637
I can confirm that Docker v1.12.2 has resolved the issue I was seeing where the container's hostname would sometimes resolve to the ingress network IP instead of the overlay network IP.

[2016-10-20 03:15] DonaldChanShining opened #27574 "Docker service failed and exit for strange reason v1.11.2"
Hi,I have encountered a similar issue([#22350](https://github.com/docker/docker/issues/22350) which have been solved in v1.11.1) when i use docker. docker.service unexpectedly entered the failed state after running for months.
here is docker version output:

[code]

I haven't  got failure systemd output because of the auto-restart of docker.service.And I have tried to
reproduce the scenario,but fa

[2016-10-20 03:29] victor-domain commented on #25503
I am facing similar issue when am deploying a 3 replica web application  (however, my environment is Ubuntu 14.04 on AWS and Docker Engine 1.12.2):

 This is what I found on syslog:
 error="failed to allocate gateway (10.0.3.1): Address already in use" module=taskmanager task.id=e0qdhaqr4df1zzsftr7ncp734

[2016-10-20 03:31] 5245010 commented on #27529
but why NAT is working well without issue, both containers on same docker host. i have digged the network setting and found no MAC address assigned if the container connect to transparent network? do I need to manual assign Mac?

[2016-10-20 03:32] thaJeztah commented on #25503
@victor-domain please open a nee issue if you think there's a bug; commenting on a closed (and resolved) issue is not the best way to get your issue resolved

[2016-10-20 03:53] evagle commented on #27528
No, it's still the same result.

[2016-10-20 04:26] thaJeztah commented on #20354
@dlsniper excellent! I'll close it

[2016-10-20 04:26] #20354 closed

[2016-10-20 05:56] thaJeztah commented on #9755
Are you only starting containers, or also building images (`docker build`); are you removing dangling images in between?

[2016-10-20 06:08] gmistick commented on #9755
Images were built and pushed to the registry 2-3 resets ago. ( i built last
version 1 month ago, i had to reset var/lib/docker 3 times already )

So im not building so much images...
Just creating and removing , creating and removing

On Thu, Oct 20, 2016, 08:58 Sebastiaan van Stijn <notifications@github.com>
wrote:

[2016-10-20 06:23] sasiezilmadhavan commented on #26982
@msabansal No the containers are not terminating.  All the containers including kpicoreservice are running.  I can able to ping the kpicoreservice with its IP.

Even i tried your compose file, unable to resolve the names.

[code]

[2016-10-20 06:41] thaJeztah commented on #22207
@kayrus correct, docker will not automatically assume that an "untagged" image should also be _removed_. Containers could still be using that image, and you can still start new containers from that image (referencing it by its ID). You can remove "dangling" images using `docker rmi $(docker images -qa -f dangling=true)`. Also, docker 1.13 will get data management commands (see https://github.com/d

[2016-10-20 06:46] ghost opened #27576 "host is down when docker service create --limit-memory"
when the worker node is 1.12.2, the is a bug that the worker node will down(every time),

cmd:  docker  service create --network wdswarm --replicas 1 --limit-memory 1G hub.mydomain.com/apps/myapp
if I use 1.12.1 on the worker node,then every thing is ok.

some times I can read some message from /var/log/message before it down:

Oct 19 13:44:52 sa-docker0-ct1 kernel: SLUB: Unable to allocate memory

[2016-10-20 06:52] michaelkrog commented on #26524
@mrjana It finally happened! :)

Recreated the setup I had earlier and update to 12.2. And it works. 👍

I did have a minor bump in the road though. I had to scale my proxy-service to 0 and up again in order for it to be able to contact new instances. After that if seems to work just fine.

Awesome work!

[2016-10-20 06:52] #26524 closed

[2016-10-20 06:53] michaelkrog commented on #26523
So I finally managed to recreate my setup and upgrade it to 12.2 – and it works! 👍

Awesome guys!

[2016-10-20 07:06] kayrus commented on #22207
@thaJeztah does `/var/lib/docker/aufs/diff/` actually contain the "untagged" images?

[2016-10-20 07:06] thaJeztah commented on #26523
Thanks @michaelkrog!

[2016-10-20 07:18] colin4124 commented on #10348
`docker run --privileged  -ti foobar:v0.3.1 bash `
and then
`sudo losetup -f`
It works

But `docker exec --privileged  -ti  foobar bash` does not work.
`losetup: Could not find any loop device.`

[2016-10-20 07:19] thaJeztah commented on #22207
@kayrus yes they are part of the images (tagged, and untagged)

[2016-10-20 07:20] the-nw1-group commented on #27541
Thanks to both @aboch and @coryleeio, running it with a non-encrypted overlay network seems to be working. Obv. our security guys won't like it, but for initial testing that's fine.

[2016-10-20 07:48] tjdett commented on #10348
@colin4124 device setup is done on run, not exec, so devices that don't already exist will not be created.

[2016-10-20 07:48] cybage-santajig opened #27577 "First Container on on Windows Server 2016"
**Description**

I am trying to run my first docker container on windows server 2016 as per steps given at
https://msdn.microsoft.com/en-us/virtualization/windowscontainers/quick_start/quick_start_windows_server

I am using VMPlayer on my Windows Server 2012 R2 host to run Windows Server 2016 Datacenter with full desktop.

**Steps to reproduce the issue:**
1. Follow install instructions:https://ms

[2016-10-20 07:59] Luzifer commented on #25981
Confirmed temp-fix:

[code]

Afterwards a clean env is available and containers are able to bind to their respective ports.

[2016-10-20 08:49] dsheets commented on #27393
Your shell replaces stdin (fd 0) with an open file which `/proc` changes into a symlink:

[code]

This doesn't work on OS X (or likely other BSDs) because `/dev/stdin` terminates to a character device like `/dev/fd/0` there.

This means that `docker -f /dev/stdin .` cannot participate in a pipeline as we would like:

[code]

Essentially, using `/dev/stdin` currently will only work in exactly the s

[2016-10-20 08:49] b0c1 commented on #27563
I try to investigate more.
With a long running (1 day) job manager

# On the host
docker dir: `/var/docker/lib`

`/dev/mapper/ubuntu-root   78G   74G     0 100% /`

[code]

[code]

# Inside the container
[code]

[code]

[code]

[2016-10-20 09:01] AkihiroSuda commented on #27563
* Is this issue specific to Docker?
* I think you need to clarify the concrete command to reproduce the issue

[2016-10-20 09:14] groyee commented on #27268
Defiantly not the second case. So it must be the first one.

[2016-10-20 09:28] colin4124 commented on #10348
@tjdett
I exec `docker start foobar`, and the 'docker exec -ti foobar bash`, it can see files in /opt which I have created. But I used `docker run --privileged -ti foobar:v0.3.1 bash`, It does not exist.

What to do can "sudo losetup -f" work and the files created before still exist?

[2016-10-20 09:28] lubozhan commented on #20192
I also has the same issue when following [](https://docs.docker.com/engine/installation/linux/ubuntulinux/).
Command apt-cache policy docker-engine returns: Unable to locate package docker-engine.
This happens when using apt-get install docker-engine as well.

Is there any solution?

[2016-10-20 09:31] b0c1 commented on #27563
Ohh and docker-compose stop result:

[code]

[2016-10-20 09:33] ionfist commented on #27538
@jhowardmsft I agree it should.

[2016-10-20 09:35] b0c1 commented on #27563
@AkihiroSuda the main problem I dunno where is the missing 55G disk... it's missing but no file on the host. Maybe docker virtual memory handle is wrong, but I not found the missing disk. It's only when I running the flink in the docker. Maybe it's same issue than #15020 , maybe not...

[2016-10-20 10:02] Jaspreetc opened #27580 "Failed to upload schema2 manifest: manifest invalid: manifest invalid"
**Description**

Failed to upload schema2 manifest: manifest invalid: manifest invalid

**Briefly describe the problem you are having in a few paragraphs.**

I am trying to push Windows Container image to Jfrog Artifactory Docker Registry it fails with an error “failed to upload schema2 manifest “

Similar thing happens when I  try to push an image to Docker private Registry it fails with an error

[2016-10-20 10:07] paulmenzel opened #27581 "Releases unbuildable because of unset `DOCKER_GITCOMMIT`"
**Description**

Docker 1.12.1 and 1.12.2 (and probably before), cannot be built from the [published release tarballs]().

It might be related to issue #25116, but this turned into a different discussion.

**Steps to reproduce the issue:**
1. Download the [source tarball](https://github.com/docker/docker/archive/v1.12.2.tar.gz)
2. Unpack and run `make build`, `make binary`.

**Describe the results

[2016-10-20 10:15] bfirsh commented on #21157
+1 from me.

I already have a branch where I've tried this out, and surprisingly it only breaks a few tests. I could fix up the tests and push the branch somewhere, if there's interest.

[2016-10-20 10:20] ceecko commented on #27381
@rhvgoyal the errors started to appear again even with `MountFlags=slave`. We'll try the deferred removal and delete and will get back to you.

[2016-10-20 10:27] justincormack commented on #27581
Hmm yes that is a bit annoying. Obviously you can specify the hashes but it should be automated. I guess we should create a file with the commit info in it which the build also checks for, and put that in the archive.

[2016-10-20 10:34] justincormack commented on #27576
That looks like a kernel issue, not a docker issue. It is odd that it seems to happen on 1.12.2 but not 1.12.1 though.

[2016-10-20 10:34] faddat commented on #20192
Try:

wget get.docker.io
sh index.html

Or similar.  This should run an auto install script.  If it doesn't work
then, then unfortunately I don't know enough about your environment to
advise.

On Oct 20, 2016 4:30 PM, "lubozhan" <notifications@github.com> wrote:

[2016-10-20 10:39] justincormack commented on #27573
That error means it is expecting an array not a string. I think the culprit is `VolumesFrom` which should take a list of volumes, see the API spec https://docs.docker.com/engine/reference/api/docker_remote_api_v1.24/

[2016-10-20 10:42] justincormack commented on #10348
@colin4124 you will have to be more specific about what you are doing. Maybe open a new issue as this one is closed.

[2016-10-20 10:53] mviereck commented on #27497
I've researched a bit more and found out:
- GPU acceleration with X over tcp is possible with shared device files in /dev/dri and docker run option --net=host. It is not needed to share X sockets.
- GPU acceleration with shared X sockets is possible with shared device files in /dev/dri and docker run option --ipc=host. Than there are no more rendering issues. I assume it has to do with MIT-SHM ext

[2016-10-20 10:56] justincormack commented on #27563
@b0c1 you can use space but not have a visible file if the program opens a file and then unlinks it and continues writing to it. You might be able to see with `lsof` in the container perhaps. It is fairly unlikely anyone will be able to help debug this effectively, other than guessing, without a way to reproduce it.

[2016-10-20 11:03] michelvocks commented on #26930
@dongluochen I upgraded in the meanwhile to 1.12.2 to see if it fixes my issue (it did not). Can you tell me how that works with 1.12.2?

[code]

[2016-10-20 11:08] donut87 commented on #27423
I ran docker from Powershell  and the "old" windows cmd. So I think we can rule this out. Using TCP is a thing I will try out soon.

[2016-10-20 11:12] justincormack commented on #27540
Ok, minimal repro is `docker run -d puckel/docker-airflow` and then try to `docker exec` into it.

This is a regression from 1.12.1 to 1.12.2. The error is from the Go http2 library, so probably related to the grpc/error handling changes in 1.12.2.

cc @crosbymichael

[2016-10-20 11:18] justincormack commented on #27540
@DEVELByte reverting to 1.12.1 fixes the issue for me, you might want to do that until we release a fix.

[2016-10-20 11:25] HariSekhon commented on #19237
Raised https://github.com/docker/docker.github.io/issues/289

[2016-10-20 11:26] #24355 closed

[2016-10-20 11:27] paulmenzel commented on #27581
Yes, that’s what I did. I also corrected my original report to document, that `make binary` fails.

[code]

… builds correctly.

[2016-10-20 11:31] TanmayaA commented on #26434
@tonistiigi I tried at it failed on same image, just a different layer. However, I noticed that I didn't pull the image again, so going to retry. Will let you know how it goes

[2016-10-20 12:04] fabiendibot opened #27582 "swarm cluster on Windows"
Hi, i tried to init a Swarm cluster on Windows Server 2016 and docker 1.12.2-cs2 and here the error i got.

`PS C:\Users\Administrator> docker swarm init  --advertise-addr 172.16.15.195:2377
Error response from daemon: listen unix C:\ProgramData\docker\swarm\control.sock: socket: An address incompatible with the requested protocol was used.`

If someone has an idea :)

Here are the ipconfig of my

[2016-10-20 12:10] justincormack commented on #27582
Can you give the output of `docker version` and `docker info` too please.

[2016-10-20 12:42] justincormack commented on #27067
@crosbymichael there are two use cases that I know of: 1. the name length limit for `hostname` is shorter than `hostname` plus `domainname`, so as people are trying to cram a FQDN into a `hostname` sized field they run out of space. 2. applications that actually look for `domainname`, the only ones I know of are YP/NIS which use it (I think that is why it is there). Not many people run these now,

[2016-10-20 12:45] cyphar commented on #27067
We had some customers that were lamenting the lack of this feature. I'm not _completely_ sure what the reason was, but I believe it had something to do with some legacy software they were running in containers that depended on setting the domainname.

[2016-10-20 12:47] justincormack commented on #27067
@cyphar probably NIS, it does require this.

Opened an issue for OCI spec here https://github.com/opencontainers/runtime-spec/issues/592

[2016-10-20 12:59] squeed commented on #27067
Be careful, different distros handle hostnames with periods differently: https://github.com/coreos/rkt/issues/2042#issuecomment-242390194.

[2016-10-20 13:00] clns commented on #27423
I tried it with TCP and I think we might have something here.

First, let me say that I once again uninstalled docker, restarted the PC and re-installed it from [docker.com](https://www.docker.com/products/docker#/windows) (so I installed the stable version this time, I also tried it with the beta before). Same problem when running `docker version`. And I also tried it with the full path `& 'C:\Pr

[2016-10-20 13:01] graingert commented on #14080
@thaJeztah any chance of this happening?

[2016-10-20 13:04] justincormack commented on #27067
@squeed that command is testing the behaviour of the `hostname` command which seems to mess with the underlying data. I recommend using `cat /proc/sys/kernel/hostname ` and `cat cat /proc/sys/kernel/domainname` to see what the kernel has set, as different versions of `hostname` seem to display different things from the same data.

[2016-10-20 13:05] cyphar commented on #27067
^^ You could also write some code that just reads `uname(2)` directly (because `domainname` is a field of the `utsname` struct the kernel returns).

[2016-10-20 13:06] sanmai-NL commented on #21051
@thaJeztah: ping

[2016-10-20 13:11] justincormack commented on #27067
@squeed the man page explains how the different `hostname` options work http://man7.org/linux/man-pages/man1/hostname.1.html in particular in this issue we are talking about the NIS domain name, as the FQDN can't be set directly, other than via file config.

[2016-10-20 13:22] squeed commented on #27067
@justincormack Yeah, I realize the output of `hostname` doesn't actually reflect the real UTS value; just pointing out a fun little divergence between distros in case it came up. Had us stuck in a weird support loop for a while.

[2016-10-20 13:30] friism commented on #27577
@cybage-santajig can you confirm that you've run Windows update and have all the latest updates?

[2016-10-20 13:39] kiview commented on #26367
I've updated my Ubuntu to `4.4.0-45-generic` and it works again!

[2016-10-20 13:40] sgerr opened #27583 "Can not init swarm"
**Description**
Can not init swarm.

**Steps to reproduce the issue:**
docker swarm init --advertise-addr [SOME_IP]

**Describe the results you received:**
Error response from daemon: --cluster-store and --cluster-advertise daemon configurations are incompatible with swarm mode

**Describe the results you expected:**
Swarm initialization as described at https://docs.docker.com/engine/swarm/swarm-t

[2016-10-20 13:51] jeremyherbert commented on #14080
Fwiw this is the sole reason I don't use docker

[2016-10-20 13:52] mpwagne commented on #27544
I confirmed that adding a dependency for the Workstation service allows containers to restart properly after a host reboot. Though I don't know the docker service enough to know if this is the desired dependency to set for it long term.

I ran this command on the host as a workaround for the container restart issue.
**sc config Docker depend=LanmanWorkstation**

It would be good to get the Docker

[2016-10-20 13:55] rhatdan commented on #14080
We carry a patch in Red Hat versions of docker that include the -v option.  But the true solution to this would be to build new and different ways to build OCI Container Images other then docker build.

[2016-10-20 13:58] jeremyherbert commented on #14080
@rhatdan RHEL or Fedora?

[2016-10-20 13:59] petrosagg commented on #14080
We also have implemented the -v option of docker build in our internal version of docker at resin.io. You can find the diff here https://github.com/resin-io/docker/commit/9d155107b06c7f96a8951cbbc18287eeab8f60cc

[2016-10-20 14:00] sanimej commented on #24637
@doxxx The relevant change that went in 1.12.2 was to disable Service Discovery in the ingress network. Looks like that fixes it and the [libnetwork PR](https://github.com/docker/libnetwork/pull/1494) is not necessary for this issue.

@chanwit @rogaha Can we close this ? If you want to give it a try with 1.12.2 please do..

[2016-10-20 14:05] justincormack commented on #27583
The error message is telling you that you have set the `--cluster-store` and `--cluster-advertise` options on the daemon for old-style Swarm mode multihost networking. These cannot be used with the new Swarm mode, you need to remove these options from the daemon config to use the new Swarm mode.

In the 1.13 release you will be able to use the new overlay networks from swarm mode that do not need

[2016-10-20 14:08] chanwit commented on #24637
@sanimej  I will do this tonight and get back to you ASAP.

[2016-10-20 14:09] michaelkrog commented on #26523
But then again.. After 8 hours problems have started to occur again.

I had scaled my proxy-service to 3 instances and my previsto-site to 3 instances as well. Suddenly some requests fails being requested by the proxy:
[code]

Rescaling the proxy-instance(3 -> 1 -> 3) fixes it for now.

[2016-10-20 14:10] #25545 closed

[2016-10-20 14:16] aarnaud commented on #25981
[code]
is it really necessary ?

Like @rdavaillaud this workaround work for me:
[code]