[2016-09-20 14:52] michael-holzheu commented on #26595
I tried, but up to now I was not successful to reproduce manually...

[2016-09-20 14:52] justincormack commented on #25492
@estesp did you look into this (I havent yet)?

[2016-09-20 14:53] thaJeztah commented on #24087
Closing for now, per https://github.com/docker/docker/pull/24770#issuecomment-248325444, but I'll open a new issue for tracking improvements for automated setup of a Swarm in general.

[2016-09-20 14:53] #24087 closed

[2016-09-20 14:54] justincormack commented on #24966
I am going to close this as it seems resolved, and I don't think it should happen again with new versions, but please reopen or comment if it is still an issue.

[2016-09-20 14:54] #24966 closed

[2016-09-20 14:56] laithrafid commented on #26336
@justincormack yes clean install because it works on all other kernels buy this one on the same system...

[2016-09-20 14:56] thaJeztah opened #26743 "Improve swarm mode for automated setup"
It's currently difficult to automate bootstrapping / setting up a swarm, and external tooling is required to perform `swarm init`, and exchange the join-tokens required for `swarm join`.

This issue is for tracking ideas on how to improve this, and replaces https://github.com/docker/docker/issues/24087, which was for setting `--swarm-join` on the daemon, but may not be the best option.

Adding som

[2016-09-20 14:57] thaJeztah commented on #24087
opened https://github.com/docker/docker/issues/26743

[2016-09-20 14:57] thaJeztah commented on #26743
also @icecrime @tonistiigi @tiborvass @stevvooe

[2016-09-20 14:58] pugnascotia commented on #25303
This might be a different issue, but I'd like to see an option on `service create` that specifies a delay before a container is consider in-service. The use case is where you're doing a rolling update to a service, and it needs some amount of warm up time before it can handle requests. If you're relying on the routing mesh for load balancing and you get an error because a container isn't ready yet

[2016-09-20 14:58] justincormack commented on #24757
@rlewkowicz I think this depends on whether your root filesystem is mounted as `shared` or not. The behaviour is non obvious. There is an article explaining it here https://lwn.net/Articles/689856/ that is pretty good. Many distros mount `/` as `rshared` now, so your expected behaviour will happen by default, but otherwise you need to `mount --bind --shared ...`.

[2016-09-20 15:00] dayglojesus commented on #25945
Sorry of the lack of follow-up, yes and no. The log messages persist in the manner described above, but I cannot reproduce the Leader election failure. The Swarm has been functional since my last report. Thanks for the follow-up reminder.

[2016-09-20 15:01] justincormack commented on #24344
@gmr (and others) is this resolved for you with the latest beta or stable releases?

[2016-09-20 15:03] justincormack commented on #23882
We do not provide binaries for ppc64le via `get.docker.com` yet. You can install from source, and some packages can be built.

[2016-09-20 15:04] anusha-ragunathan commented on #26726
Their use case is that the plugin exposes a service via port publish. Containers access that service via the port.

[2016-09-20 15:05] justincormack commented on #23910
@nottrobin `nmcli` only applies to systems running `NetworkManager`, there is not an equivalent for other setups.

[2016-09-20 15:06] justincormack commented on #23545
@aaronlehmann this should be fixed now - can you check?

[2016-09-20 15:09] kencochrane commented on #26743
@thaJeztah thanks, definitely interested in helping make this easier for automated setup.

/cc @chungers @wfarner @mavenugo @frenchben

[2016-09-20 15:10] hervenicol commented on #25303
@pugnascotia , today I guess you can do it with update-delay.

But for a better solution, IMO that should be handled through healthchecks. If your container says it's healthy only when it's «warm» and ready to serve requests, it should be the time when:
- this actual container is enabled in the IPVS
- next container starts being deployed (maybe after waiting for update-delay).

[2016-09-20 15:12] LK4D4 commented on #26371
@ripcurld00d omg, I'm sorry, I didn't see your dibs. Pls, feel free to review #26744

[2016-09-20 15:12] icecrime commented on #26728
Cc @dgageot!

[2016-09-20 15:13] tagomoris commented on #23826
#26740 was merged.

[2016-09-20 15:13] ascora commented on #26563
@mrjana For my quick tests I used the frankfurt one with CoreOS alpha which includes docker v1.12.1 and I have chosen 3 of the 10$ machines.

[2016-09-20 15:14] cpuguy83 commented on #23545
It's not :(

[2016-09-20 15:14] justincormack commented on #23470
@pugnascotia you can construct the tarfile yourself, this may be more efficient - I have started doing this as `.dockerignore` was hard to get exactly right for my setup.

The basic model is `tar cf - [list of files or directories in Dockerfile] | docker build -` eg if no deps just use `tar xf - Dockerfile | docker build -`. You can read the list of files out of another file with `tar xf - -T list

[2016-09-20 15:16] derekadams commented on #24310
I ran into issues where I was not able to access an exposed port on a service from other nodes and finally realized that, when I set up the cluster nodes from a single cloned image, I forgot to update the hostname for each node. After updating /etc/hostname and /etc/hosts and restarting the nodes, I had to kill the existing Swarm to get the hostname updates to be incorporated. Everything works as

[2016-09-20 15:18] LK4D4 commented on #26595
I have a fix included in #26538, I'll run z there.

[2016-09-20 15:19] anusha-ragunathan commented on #26506
Seeing this on Win2Lin CI. https://jenkins.dockerproject.org/job/Docker-PRs-Win2Lin/31285/consoleText

FAIL: docker_cli_health_test.go:53: DockerSuite.TestHealth

docker_cli_health_test.go:151:
    dockerCmd(c, "rm", "-f", "test")
docker_utils.go:469:
    c.Assert(result, icmd.Matches, icmd.Success)
... result *cmd.Result = &cmd.Result{Cmd:(*exec.Cmd)(0xc0426062c0), ExitCode:1, Error:(*exec.ExitEr

[2016-09-20 15:28] mlaventure commented on #23826
It was indeed, thanks for the ping @tagomoris !

[2016-09-20 15:28] #23826 closed

[2016-09-20 15:35] benash commented on #26602
We're using version 2.3 of the registry container and auth tokens.

[2016-09-20 15:37] thaJeztah commented on #26602
What are you using for authentication? The Open Source registry itself doesn't have authentication?

[2016-09-20 15:43] rysiekpl commented on #26703
We are experiencing this on two servers, both running Debian 8.x and `docker-engine` 1.12.0. This I can also confirm this is not happening on another host running Debian 8.x and `docker-engine` 1.11.x, and that:
 - both `COPY` and `ADD` are affected
 - changing the target directory to anything other than rood directory works

Not sure what might be an issue here, but since these are both productio

[2016-09-20 15:45] aboch commented on #25608
Thank you @mmh36 for the extra logs, and the info about the 12 hrs frequency. They confirm the issue fixed in https://github.com/docker/libnetwork/pull/1453 is the same root cause of your panic.

[2016-09-20 15:49] #12128 closed

[2016-09-20 15:50] ripcurld00d commented on #12725
#dibs

[2016-09-20 15:51] justincormack commented on #23105
There is now support for using the host SSL CA root certs on Docker for Windows, and the support is planned for Docker for Mac too shortly.

[2016-09-20 15:52] mavenugo commented on #26459
@mrjana @sanimej this seems to happen only for the legacy cluster-store / cluster-advertise configurations. In the detailed logs it seems like `d.notifyCh` isnt accepting any more notifications. But I couldn't spot any apparent reason for such a scenario. Could you pls peek into the code and confirm the behavior ?

[2016-09-20 15:52] thaJeztah commented on #26703
@rysiekpl would be worth comparing exact kernel versions, and the version of aufs installed, possibly the issue is related to those (and would explain that I could not reproduce)

[2016-09-20 15:53] justincormack commented on #22907
As there has been no response I for a couple of months and this should be fixed I am going to close this. We are working on more configuration and features around this, if you have further issues please open an issue at https://github.com/docker/for-mac

[2016-09-20 15:53] #22907 closed

[2016-09-20 15:54] pugnascotia commented on #25303
update-delay doesn't help in this case because that (AFAICT) controls the time gap between finishing the update of one container and starting the update of the next. I agree that some kind of healthcheck mechanism is the way to go.

[2016-09-20 15:57] aaronlehmann commented on #26638
It's for 1.13.

[2016-09-20 16:00] rysiekpl commented on #26703
[code]

[2016-09-20 16:04] benash commented on #26602
I see. We're using this for auth: https://github.com/cesanta/docker_auth

[2016-09-20 16:06] anusha-ragunathan commented on #26742
Seeing this test failure on Docker master rhel72/overlay frequently.

https://jenkins.dockerproject.org/job/Docker%20Master/label=rhel72%20&&%20overlay/6901/consoleText
https://jenkins.dockerproject.org/job/Docker%20Master/label=rhel72%20&&%20overlay/6894/consoleText
https://jenkins.dockerproject.org/job/Docker%20Master/label=rhel72%20&&%20overlay/6887/consoleText

[2016-09-20 16:07] thaJeztah commented on #26703
[code]

Aufs is same version, kernel is more recent. Running `docker-engine 1.12.1`

[2016-09-20 16:09] remram44 commented on #25925
As far as I can see 1.11.2 is no longer affected. I had this with 1.11.1 on Ubuntu 16.04.

[2016-09-20 16:12] justincormack commented on #8910
Sounds to me like the reparenting bug was fixed in Erlang 19 then, and it was a bug in the runtime. Grandchildren can get lost, and become zombies. 1.13 will have an optional `init` which might help by reaping them, or it might not make a difference for this case.

I don't think there is anything Docker can do for this, so I am going to close this, but feel free to continue discussion.

[2016-09-20 16:12] #8910 closed

[2016-09-20 16:13] thaJeztah commented on #25925
Thanks @remram44

[2016-09-20 16:14] estesp commented on #25492
@justincormack sorry--lost track of it. Was confused until I found this in the cirros image:
[code]

Because we are running the daemon in userns mode, the filesystem of the image has been remapped via `chown` to the higher uid/gid range already. Now since the "sh" and other binaries are just symlinked to a setuid busybox, even though the process is started as real (host) root, it's euid becomes 16

[2016-09-20 16:16] thaJeztah commented on #25577
Let's close this issue, as it's implemented. I'm not against adding it to `docker update`, but perhaps we should wait for actual use cases before implementing "because we can" (but just my 0.02c); feel free to open an issue for that though!

[2016-09-20 16:16] #25577 closed

[2016-09-20 16:18] mrjana commented on #24496
@bryanrite Thanks and please let us know what you find from the logs.

@ascora If the problem is still happening in your normal production servers is it possible to get daemon logs from there just to make sure you are seeing the same problem? Originally we both thought that it was because of some node restart and if that is what is still triggering the issue in your normal production servers that

[2016-09-20 16:18] thaJeztah commented on #3968
ping @WeiZhang555 should this be fixed by https://github.com/docker/docker/pull/20848 as well?

[2016-09-20 16:24] thaJeztah commented on #24757
Looks like this is a configuration issue then, and not a bug in docker. I'll close this issue, but feel free to comment if you think there's something left to be done

[2016-09-20 16:24] #24757 closed

[2016-09-20 16:29] bryanrite commented on #24496
@mrjana Would it be useful if I gave you access to a small cluster on DO that is exhibiting the problem? I've been able to reproduce it pretty consistently -- although like @ascora mentioned, sometimes it takes a few `service update`s or some load to kick it off.

If so, I can set up something for you in a day or so -- have an deadline I have to meet first :smile:

[2016-09-20 17:07] LiginGeorge opened #26745 "telnet not connecting to port 80"
While using the following command `/usr/bin/dockerd  --bip=10.205.75.33/28` i changed the docker0 IP.
and the docker_gwbridge looke like below

[code]

After deploying 5 container IP are rightly assigning but i am unable to do telnet to the container from host.

[code]

Please let us know why i am getting like this issue. At the same time if the docker interface configured with default one 172.17.

[2016-09-20 17:21] dperny commented on #24310
@slawekgh are you saying everything works now?

[2016-09-20 17:31] vshcherb commented on #26664
@kakawait Even if you know that tomcat is not started, it is a better practice to specify timeout for startup process as well. Having unpredictable startup period (it simply could be > 1 day if something goes wrong) could create other issues.

[2016-09-20 17:32] dls314 commented on #26648
@dbabits IIRC, that symptom was what happened when I had a dockerd -H fd:// specified for startup.

[2016-09-20 17:38] vieux commented on #26356
ping @sanimej any progress here?

[2016-09-20 17:39] burdiyan opened #26747 "Swarm mode DNS lookup resolves only IPs from the same host"
**Description**

I have 3 hosts in swarm mode cluster and a service replicated between those hosts. Doing DNS lookup by service name only resolves IP addresses of the containers running on the same host. All hosts are connected to the same custom overlay network (not ingress).

**Steps to reproduce the issue:**
1. Create a Swarm Mode cluster with multiple hosts.
2. Create an overlay network on the

[2016-09-20 17:40] thaJeztah commented on #26060
We need a cherry-pick of the fixes in https://github.com/docker/docker/pull/25962 for 1.12.2

[2016-09-20 17:41] vieux commented on #25985
This issue is a duplicate of #26563

[2016-09-20 17:41] #25985 closed

[2016-09-20 17:50] vieux commented on #25325
This issue is a duplicate of #26563

[2016-09-20 17:50] #25325 closed

[2016-09-20 17:52] thaJeztah commented on #25099
PR is probably https://github.com/docker/docker/issues/22578 to fix this

[2016-09-20 17:52] vieux commented on #24531
As @mrjana said it is fixed in 1.12.1, closing.

[2016-09-20 17:52] #24531 closed

[2016-09-20 17:55] Vanuan commented on #26747
Same here. Was running fine for two weeks. Started today.
Can resolve services that have containers located on this host, but not containers that are located on other hosts.

[2016-09-20 17:56] boucher commented on #26451
Another concern I'm having is that checkpoint IDs will need to be unique across all containers if we store them in a flat directory -- which seems not ideal.

[2016-09-20 17:59] JamesJJ commented on #26356
Another `panic: runtime error: invalid memory address or nil pointer dereference
` ... the trace is slightly different though:

[code]

[2016-09-20 18:00] techninja1008 opened #26748 "Potential format for specifying deploy-time parameters for DABs"
Currently, DABs can only store portable information about a deployment, that is, they cannot store things such as bind mounts, or any type of mounts for that matter.

The main problem here is that people want to do operations such as map ports (#25594), specify volume names and options, scale services, and more. These pieces of information would never belong in a DAB.

The proposition I am making

[2016-09-20 18:02] slawekgh commented on #24310
1.  on ubuntu 16.04 (3 node cluster) everything is ok
-----------------------------------------------------------------------
2. on centos 7.2 (3 node cluster) doesnt work - it servers only local container www-content and load-balancing doesnt work

of course I opened all required ports from this document:
https://forums.docker.com/t/routing-mesh-for-docker-1-12-not-working/17279
and this :
https:

[2016-09-20 18:02] mlaventure commented on #26451
I was thinking of handling them the same as for containers: a unique idea with a name associated with them, wdyt?

[2016-09-20 18:07] ascora commented on #24496
@mrjana I re-created the swarm on them since the 15th but I have attached the (anonymized) logs from the 16th. I created a new service on the 16th and noticed yesterday that it was not reachable from all IPs. However, I don't see the ping problem in the logs from the 16th.

I also got the logs from the 15th and I can send them as well and indeed they contain the ping message. But on the 15th I tes

[2016-09-20 18:11] mlaventure commented on #25381
Still can't think of a reason or reproduce it, from the second log it expects `docker-runc` to be at `/usr/bin/docker-runc` which is the default install path.

@rhuddleston could you share your `docker info`? Also do you get the issue with every containers (e.g. even a `docker run -tid busybox top`) or just some specific one? Are you also using `docker-compose`?

[2016-09-20 18:14] thaJeztah commented on #26728
issue was opened in the docker for Windows tracker; closing this one https://github.com/docker/for-win/issues/94

[2016-09-20 18:14] #26728 closed

[2016-09-20 18:18] Vanuan commented on #26747
I see this in dmesg approximately at the time this happened:
[code]

Does it mean that there's some bug in IPVS?

I have the same kernel: `4.4.0-36-generic`

[2016-09-20 18:20] LK4D4 commented on #26747
ping @mrjana @aboch

[2016-09-20 18:25] RRAlex commented on #5618
@leonsp I tried contacting them on what seems to be the related issue:
https://bugs.launchpad.net/ubuntu/+source/linux-lts-xenial/+bug/1403152

If you look at the last (#79) reply, someone built a kernel for Xenial with that patch:
https://launchpad.net/~ddstreet/+archive/ubuntu/lp1403152

Not sure when it is going in the main Ubuntu kernel tree though nor what is this person's relation to Ubuntu

[2016-09-20 18:31] mrjana commented on #24496
@bryanrite Sure please provide access as that would confirm(or not) if this issue is related to gossip failure. So we can tag this issue accordingly.

[2016-09-20 18:32] Vanuan commented on #26747
I'm using DigitalOcean's private network for swarm. Maybe there was an outage and Docker couldn't restore its mesh routing? Though https://status.digitalocean.com/ doesn't show any outage.

@burdiyan can you check `dmesg` to see if this has happened at the same time as to me? When did you create swarm mode? Before or after 13:00 UTC?

[2016-09-20 18:38] mrjana commented on #24496
@ascora If what you provided here are the logs from the 16th these also show gossip failure and that is still your problem, although in this case it failed faster with UDP ping retry before TCP pings could timeout. But at the end the effect is the same. You can also see from the logs(from x1.manager.txt) that at the same time gossip is failing, raft also underwent leader re-election and GRPC sessi

[2016-09-20 18:43] thaJeztah commented on #24799
Was this fixed in the CLI refactor?

[2016-09-20 18:48] aaronlehmann commented on #26213
It looks like this code path is followed in `Join` (`daemon/cluster/cluster.go`):

[code]

So the channel returned by `Ready()` gets closed, but that probably shouldn't be happening, because the new node doesn't join raft successfully.

Looking at what causes this channel to be closed, it's triggered by both the `agentReady` and `managerReady` channels being closed. In particular, `managerReady` i

[2016-09-20 18:48] sanimej commented on #26235
@virtuman I created a new 3 node Cent OS cluster in AWS and started a service with 3 replicas. It works as expected; accessing the published port rotates through all the 3 backend instances.

[code]
I don't have firewalld running. But looks like you are seeing the issue with & without firewalld.

This is stock Cent OS install which has kernel 3.10.0-327.10.1.el7.x86_64. You have a newer kernel ver

[2016-09-20 18:50] thaJeztah commented on #21357
I don't think there's anything actionable here, so I'll close this issue, but feel free to continue the discussion (it's interesting!)

[2016-09-20 18:50] #21357 closed

[2016-09-20 18:54] thaJeztah commented on #26748
Also relates to https://github.com/docker/docker/issues/26327

[2016-09-20 18:57] srodman7689 commented on #26213
I can definitely do the PR. its the least I can do. Would it be ok to submit it after work tonight? It will be around 7 pm CST if that is ok.

[2016-09-20 18:58] mrjana commented on #26563
@ascora I gave Frankfurt ones a try and I couldn't repro the problem there as well. What I was hoping for is to be able to see the gossip failures which we recover from with the fix in docker/libnetwork#1446 but I didn't even see the gossip failures even after trying the http load test several times.

[2016-09-20 19:00] kevwil opened #26750 "Extreme CPU usage"
**Description**

My laptop fan sounds like an F-16 and the Activity Monitor shows "com.docker.hyperkit" process using 400% CPU usage. I am unable to investigate any further info because all docker commands time out.

**Steps to reproduce the issue:**
1. Install Docker for Mac
2. Wait

**Describe the results you received:**

See description.

**Describe the results you expected:**

Laptop not melti

[2016-09-20 19:00] dnephin commented on #24799
No, this is still by design.

[2016-09-20 19:01] aaronlehmann commented on #26213
Yeah, no time limit :)

[2016-09-20 19:07] ascora commented on #26563
@mrjana What's the best way to provide you access to 3 test machines?

[2016-09-20 19:09] srodman7689 commented on #26213
Also, if raft isn't started yet, should we move the health setting
`healthServer.SetServingStatus("Raft", api.HealthCheckResponse_SERVING)`
to after the join and start as well?

[2016-09-20 19:10] srodman7689 commented on #26213
And thanks for that man. I am really excited to start contributing to docker and you guys are awesome!

[2016-09-20 19:11] Vanuan commented on #26747
It looks like it's not DNS, it's traffic is not going between containers.
As far as I understrand LVS/IPVS, all containers appear to be on the same network.
So when I ping container that is on another host, but on the same overlay network, it should work.
But for some reason it doesn't.

I suspect that if I recreate swarm it would work. But I want to debug the issue so that it wouldn't happen agai

[2016-09-20 19:18] thaJeztah commented on #26213
@srodman7689 thank _you_ for contributing, it's really appreciated. Also, don't worry to make mistakes; we've all been there, and are there to help you (bear with us if it's busy and we don't respond in time :sweat_smile:)

[2016-09-20 19:18] Vanuan commented on #26747
Docker does see the other node as alive (using virtual ip address). If it didn't, it would've created containers on the manager node, right? So it's only the overlay network that doesn't work.

[2016-09-20 19:22] thaJeztah commented on #26750
This may be a known issue, where in some cases docker starts to use a lot of CPU after the system wakes from (deep)sleep. I don't have the issue a hand, but quitting the docker app (from the menu icon), and starting it again should resolve it.

I don't think there's a clear cause found yet, but hope this helps.

/cc @justincormack who may know the issue its tracked in

[2016-09-20 19:22] srodman7689 commented on #26213
I definitely will. And thank you again.

[2016-09-20 19:27] aaronlehmann commented on #26213
Nah, it's a bit of a special case. `JoinAndStart` needs this health check to be initialized already so the other side can verify its reachability.

[2016-09-20 19:32] kevwil commented on #26750
Thanks @thaJeztah for the update. I also just noticed there's a separate issue tracker for Docker 4 Mac issues, should I post there instead?

If there is a known issue with Docker 4 Mac and CPU usage after waking from sleep, this is quite likely related. I came back from lunch and my laptop started going crazy after logging back in. I dropped everything I was juggling at the time and rebooted, twi

[2016-09-20 19:33] ascora commented on #26563
@mrjana I created 3 new machines and was able to re-produce it. I emailed you the access to them. Please let me know if you received my email.

[2016-09-20 19:35] techninja1008 commented on #26748
Proposed non-exhaustive example, in YAML:
[code]

[2016-09-20 19:36] srodman7689 commented on #26213
Cool. thx.

[2016-09-20 19:40] LK4D4 opened #26754 "Enable fluentd driver for windows"
ping @jhowardmsft @tagomoris @darrenstahlmsft

[2016-09-20 19:43] srodman7689 commented on #26213
I was able to go ahead and create the pull request https://github.com/docker/swarmkit/pull/1555

[2016-09-20 19:52] thaJeztah commented on #26750
I think it's known, so I suggest to search that issue tracker if there's more information there

[2016-09-20 19:59] virtuman commented on #26235
Curl'ing from localhost works just fine, but not a real environment usecase. The port remains closed from public access.

Just as described in the original issue and the replies in this issue:
Accessing port through loopback (localhost or 127.0.0.1) seems to work fine, however - cannot access port from the external connection (or from any other server), as in your example, i'd be trying this:
`cur

[2016-09-20 20:00] #26750 closed

[2016-09-20 20:01] virtuman commented on #24882
posted response in the referenced issue:
https://github.com/docker/docker/issues/26235

[2016-09-20 20:02] Vanuan commented on #26747
Restarting docker daemon on both hosts resolved the issue.
Don't know how to reproduce and what was the cause.
I expect it to return in a few weeks. Would use suggestions how to troubleshoot it.

[2016-09-20 20:14] ekle commented on #3968
i cannot reproduce it anymore:
[code]

[2016-09-20 20:17] LK4D4 commented on #3968
@ekle thanks for update!

[2016-09-20 20:17] #3968 closed

[2016-09-20 20:17] Vanuan commented on #26747
Pinging container still doesn't work, though connect works. Looks like my troubleshooting wasn't correct.

[2016-09-20 20:25] thaJeztah commented on #14517
I'll go ahead and close, but feel free to comment if you're still running into this

[2016-09-20 20:25] #14517 closed

[2016-09-20 20:26] rohitjaini opened #26755 "Docker is not able to stop windows container forcefully"
Attaching docker stack for reference.

[2016-09-20 20:27] icecrime commented on #26755
@rohitjaini I'm not sure if you pressed the button too fast, but we're going to need more information :-(

[2016-09-20 20:34] albers commented on #24108
@aluzzardi

This depends on how the feature should work.
I'm not sure, but I think the docs are right here, so I'm awaiting @yongtang's fix.

[2016-09-20 20:44] saurabh1gupta commented on #20486
I'm facing the same issue during spinning up a new container as:

`Bind for 0.0.0.0:6379 failed: port is already allocated`

While there is no running or exit docker container instance. Can anyone suggest, what should be the solution? This issue is intermittent which doesn't happen all the time.

Thanks.

[2016-09-20 20:53] ezeeetm opened #26757 "where is the github project for UCP? Want to fix an error in the documentation..."
Searched all over for a project page for UCP, failed.

per docs here:  https://docs.docker.com/ucp/reference/install/

`--host-address	Specify the visible IP/hostname for this node.`

however, passing an actual hostname results in the error below.  Hostnames cannot be used.

`FATA[0046] Unsupported host address (ucp.mydomain.com). Please specify an IPv4 address using the '--host-address' flag, and

[2016-09-20 20:55] cookandy commented on #12565
hi @itwasntandy - did you ever find a solution to this issue?  I am experiencing a similar issue using IPSec in transport mode: https://github.com/docker/docker/issues/26473

In my case, I need to adjust the MTU to below 1500 to support our network.  However as soon as I set the MTU on the host with Docker running, it fails.

[2016-09-20 20:59] mrjana commented on #26747
@burdiyan @Vanuan If you see any state related issues please check the daemon logs to see if there are any gossip related errors (which starts with memberlist)

[2016-09-20 21:00] sanimej commented on #26235
curl from a different node works as well..
[code]
I will try with firewalld enabled to see if it makes a difference.

[2016-09-20 21:01] tagomoris commented on #26754
Are there any problems? (Sorry, I didn't try it because I don't have an environment)

[2016-09-20 21:02] LK4D4 commented on #26754
@tagomoris I don't see any. Pinged you just for the case if you definitely know that it won't work :)

[2016-09-20 21:06] vikstrous opened #26758 "backwards incompatible api change: container.Box"
The following change that was merged yesterday broke some of our tests:

https://github.com/docker/docker/commit/53774423ff0db50cb0934e7b1e5ce507363e8147#diff-5251fbdfab3c1500c0c76ec0d8adf746R78

It's a backwards incompatible API change and prevents older docker clients from running containers on newer daemons. I think it should be reverted unless a compatibility layer is added for older engines.

[2016-09-20 21:10] rudes commented on #9932
How about if the character before the ':' is only a single letter than it's a windows path otherwise it's a container ID?

[code]

Which is sort of what is being done [here](https://github.com/docker/docker/blob/master/cli/command/container/cp.go#L296-L300).

[2016-09-20 21:11] runcom commented on #26758
There's already a PR which fixes this #26751

[2016-09-20 21:13] ad22 commented on #25988
@jbhurat Nope.

This is pretty standard but putting it out here for reference, I added env variables to the registry as:

reg add "HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\Session Manager\Environment" /f /v "PYTHONHOME" /t REG_EXPAND_SZ /d "C:\Python27"

[2016-09-20 21:17] aluzzardi commented on #25735
Merged!

[2016-09-20 21:17] #25735 closed

[2016-09-20 21:19] #26506 closed

[2016-09-20 21:19] aluzzardi commented on #24310
@dperny Can you share the broken setup with @mrjana ?

[2016-09-20 21:21] virtuman commented on #26235
can you post `sysctl -a` output ? or what other relevant things could we be looking into checking?

[2016-09-20 21:23] thaJeztah commented on #26757
Thanks for reporting @ezeeetm. UCP is a closed source project, and the docs are also in a private repository. I'll make sure to forward this to the docs team for UCP so that they can fix

[2016-09-20 21:25] vsaraswat commented on #26757
@ezeeetm that said, please feel free to report any errors on the UCP forums: https://forums.docker.com/c/docker-data-center/ucp

[2016-09-20 21:26] aluzzardi commented on #24108
@albers you're right - not a docs issue actually, we need to merge the PRs above.

@nishanttotla Can you make sure the PRs get in?

[2016-09-20 21:29] aluzzardi commented on #24078
ping @LK4D4 (#26538 got merged)

[2016-09-20 21:30] virtuman commented on #26235
**docker node ls**
[code]

**start up services**
[code]

**docker ps**
[code]

**docker service ls**
[code]

**on loopback - works properly**
lynx 127.0.0.1:85

**from 172.16.130.116 - works properly**
lynx 172.16.130.116:85

**With FIREWALLD running, but accept all traffic from local LAN interface: **
**from another computer on same LAN  - FAIL**
lynx 172.16.130.116:85

and it will fail from any

[2016-09-20 21:34] aluzzardi commented on #26060
Waiting for 1.12.2-rc1 so @nitinmidha can try the fix.

[2016-09-20 21:34] virtuman commented on #26235
Just noticed a couple of warning on `docker info` that i must have overlooked before:

[code]

so i modified using systcl -A net.bridge......=1
stopped firewalld and restarted docker, i am now able to connect with firewalld correctly and everything works, but as soon as i start firewalld back up - port is no longer published.

[2016-09-20 21:36] aluzzardi commented on #26563
@ascora Would you be able to retry on a 1.12.2-rc1 when it comes out? Thanks

[2016-09-20 21:36] virtuman commented on #26235
after starting up firewalld i checked the default input/output/forward polcies, they are all set to ACCEPT:

`(iptables -L INPUT; iptables -L OUTPUT; iptables -L FORWARD) | grep policy`

[2016-09-20 21:39] rysiekpl commented on #26703
Ok, I'll just have to upgrade docker-engine, reboot into the newest kernel, and see what happens

[2016-09-20 21:41] aluzzardi commented on #26748
ping @dnephin @aanand @mgoelzer

[2016-09-20 21:47] aluzzardi commented on #26743
/cc @aaronlehmann @stevvooe @mrjana

[2016-09-20 21:51] virtuman commented on #26235
when you test with firewalld enabled, could you also paste output of:
`iptables -L FORWARD -nv`

thank you

[2016-09-20 21:52] anusha-ragunathan opened #26760 "Move Pluginv2 out of experimental"
Pluginv2 is currently available on experimental daemon builds only. Once the intended feature set is complete and correct, move it out of experimental into stable. This is slated for 1.13.

[2016-09-20 21:52] aluzzardi commented on #26714
@dskdas Out of curiosity - what's the use case for this?

[2016-09-20 21:52] #24614 closed

[2016-09-20 21:54] mdg opened #26761 "bad error message when wrong permissions"
**Description**

The error message when running with insufficient permissions is misleading. It says it cannot connect to the Docker daemon, but then if I run it with root, it connects fine. While this error message is true, a check for file permissions could give a much more helpful error message.
[code]

**Steps to reproduce the issue:**
1. Restrict permissions on /var/run/docker.sock
2. Run `su

[2016-09-20 21:55] vingrad commented on #4717
@cpuguy83 but it's impossible to use "privileged" with docker service.
WARNING: unsupported parameter privileged

[2016-09-20 21:59] aluzzardi commented on #26702
/cc @dperny

@pascalandy I see you're using `--network proxy` - what's the subnet you used when creating the network? By default it's a `/24` so you're limited to 254 IPs (254 IPs for 7 workers ~= about 30-40 containers per machine).

@mrjana @aaronlehmann: Can we have better error reporting?

[2016-09-20 21:59] ascora commented on #26563
Yes, sure.

[2016-09-20 22:03] pascalandy commented on #26702
Please point me to some docs on this :)

[2016-09-20 22:04] aluzzardi commented on #26696
This is working as intended

Correct

Not really - your load balancer could be manager by Swarm. For instance, you could deploy an `nginx` on port 80 that redirects traffic to other services.

Does that answer your question?

[2016-09-20 22:06] pascalandy commented on #26702
docker network create \
  --driver=overlay \
  --subnet=172.28.0.0/16 \
  --ip-range=172.28.5.0/24 \
  --gateway=172.28.5.254 \
proxy

How to I decide IP like 172.28.0.0, 172.28.5.0, 172.28.5.254 ?

[2016-09-20 22:06] dbabits commented on #26648
My issue matches exactly the one I linked to and I tried all the
workarounds.

I'm not able to login to github from behind my corporate firewall (can read
though), so cannot post any output easily.

Plus, like you noted, there's no output to paste since docker is not
starting.

I tried the latest available version at the time of this writing (1.12?)
and one before that(1.11 I believe).

Right now

[2016-09-20 22:06] aluzzardi commented on #26672
This is a duplicate of #24092 which will be addressed in 1.13.

@evanp correct? Closing this for now, reopen if I'm mistaken

[2016-09-20 22:06] #26672 closed

[2016-09-20 22:06] burdiyan commented on #26747
I just tried the same thing with virtualbox on a local machine. Everything works as expected. My Swarm Mode in DigitalOcean was created 15 days ago, and until now I didn't try any load balancing features.

[2016-09-20 22:07] burdiyan commented on #26747
I think a found some sort of path. In DigitalOcean I had a cluster of 3 nodes, and all 3 were managers. I demoted two of them, and now DNS resolving works as expected.

[2016-09-20 22:16] dnephin commented on #26748
I think we need something like this, and the example looks very similar to what I had envisioned for this format.

[2016-09-20 22:20] aaronlehmann commented on #26601
ping @mrjana

[2016-09-20 22:25] aaronlehmann commented on #26594
ping @stevvooe @dperny

[2016-09-20 22:30] aaronlehmann commented on #26590
@mrjana: Do you think the fix should be backported to 1.12.2?

[2016-09-20 22:44] thaJeztah commented on #26757
/cc @joaofnfernandes

[2016-09-20 22:59] cookandy commented on #26473
Ok, I was finally able to resolve this issue after digging through the bowels of the docker GH issues.

I left all of the MTUs as `1500` and changed it on the firewall:

`iptables -t mangle -A POSTROUTING -p tcp --tcp-flags SYN,RST SYN -o eth1 -j TCPMSS --set-mss 1460 --clamp-mss-to-pmtu`

See here:  http://www.linuxtopia.org/Linux_Firewall_iptables/x4700.html

Other related issues:

https://githu

[2016-09-20 23:06] thaJeztah commented on #25988
ping @jhowardmsft

[2016-09-20 23:10] scher200 commented on #21704
thank you ragnarkurm, this script really helped me out!

[2016-09-20 23:14] joaofnfernandes commented on #26757
I've created an issue so that we can track this. Thanks for reporting!

[2016-09-20 23:17] thaJeztah commented on #26757
Thanks! Let me close the issue here

[2016-09-20 23:17] #26757 closed

[2016-09-20 23:19] JiaminWorld opened #26762 "Containers lost data when host doesn't shutdown gracefully"
**Description**
If I reboot the host gracefully, containers keep all the data as it before restart.
If I just power off the host , containers will lost the data like routing table setting and env.
Should orchestration handle that case or docker will do that in the future?

**Steps to reproduce the issue:**
1. Run a simple container, set env or routing table
2. Power off the host
3.

**Describe the

[2016-09-20 23:49] mrjana commented on #25698
@alontorres If you are still having issues can you please post daemon logs? I suspect there is some gossip failures but would like to confirm

[2016-09-20 23:51] tonistiigi commented on #26612
Seems to be blocked on syscall:

[code]

[2016-09-20 23:56] cpuguy83 commented on #26761
We have a few special cases for not being able to connect to the socket. Could possibly add one for `EPERM` easily enough.

[2016-09-20 23:58] thaJeztah commented on #26407
ping @justincormack ^^ something that needs to be looked into?

[2016-09-21 00:03] thaJeztah commented on #26383
There's some discussion on that topic here; https://github.com/docker/docker/issues/8710

[2016-09-21 00:06] saithala opened #26763 "docker service"
**Description**

I have installed Docker engine running in Swarm mode (v 1.12) When I try to create a service the service is not created.

**Steps to reproduce the issue:**
1. The command Im using is     sudo docker service create --constraint 'node.id == 543vjp5dp3rlqbbav07beh04i'.  I tried to inspect the service (ps) and the results of that command is as follows
2.
[code]

**Describe the results

[2016-09-21 00:09] sivabudh commented on #24675
Sierra Island officially out now. Is Sierra safe with the latest Docker beta now?

[2016-09-21 00:10] RobSkye commented on #25935
Or in `daemon.setSecurityOptions` because, with that name, you expect that function to effectively set that.

`container.AppArmorProfile` can be checked after `daemon.parseSecurityOpt`for an empty value and then, check if apparmor is enabled in order to fill the metadata with "docker-default".

@rvandegrift are you already working on this?

[2016-09-21 00:12] thaJeztah commented on #26230
I agree with @justincormack and @coolljt0725 - this is an option to set at runtime, and should not be dictated by the image. I'll close this, because I don't think this will (or can) be implemented

[2016-09-21 00:12] #26230 closed

[2016-09-21 00:18] cpuguy83 commented on #26763
`docker inspect <task id>` will give you more(ish) details.

[2016-09-21 00:21] saithala commented on #26763
thanks for the response. Pardon my ignorance,  how to get the taskid for the service ?

[2016-09-21 00:28] cpuguy83 commented on #26763
It's all the ids you have listed in the sample output you pasted above.

[2016-09-21 00:30] saithala commented on #26763
Yes,  using that id gave the response I posted in the comment above

[2016-09-21 00:35] saithala commented on #26763
Ok I think I was using the wrong Id.  Unfortunately inspect does not give me any useful info.
[code]

[2016-09-21 00:50] tonistiigi commented on #26705
@aanand How about `docker start -a`, wouldn't that work for you?

[2016-09-21 01:07] hridyeshpant commented on #22226
We are also facing the smilier rpc issue with docker 1.11.2. Is there any update on this ?

[2016-09-21 02:01] duyanghao commented on #22225
Another two questions:
**Question1**
what is the difference between `Image Manifest Version 2, Schema 2` and `Image Manifest Version 2, Schema 1`?

I've looked up some documents as below:
https://github.com/docker/distribution/blob/master/docs/spec/manifest-v2-1.md
https://github.com/docker/distribution/blob/master/docs/spec/manifest-v2-2.md
https://github.com/docker/docker/pull/18785

as you put

[2016-09-21 02:14] itwasntandy commented on #26473
hey, so you can clamp mss.

However the mistake you were making before I think is reducing the MTU on eth1

you should reduce MTU on the docker0, but leave MTU on eth1 alone. Otherwise all you're doing is reducing the MTU, and not allowing for the IPSEC overhead.

[2016-09-21 02:18] coolljt0725 commented on #26374
@tonistiigi

I don't find the code where get this done, maybe I miss something

[2016-09-21 03:12] tonistiigi commented on #26374
@coolljt0725 I was referring to the place where containerd doesn't know about the container and responds "container not found" https://github.com/docker/docker/blob/master/libcontainerd/client_linux.go#L546-L555

[2016-09-21 03:20] vincentwoo opened #26767 "Proposal: Docker should assist in bandwidth limiting containers"
In one of the very earliest Docker issues, [#37: Add ability to throttle bandwidth by container](https://github.com/docker/docker/issues/37), Ken proposes that Docker should allow per-container bandwidth throttling support. I think this idea should be reconsidered.

The current state of affairs is that people who want to do this are told to use `tc` on the `veth` for a given container. I believe t

[2016-09-21 03:40] anokun7 opened #26768 "Docker daemon hangs and becomes unresponsive"
**Description**

Intermittently, the docker daemon becomes unresponsive. `docker info` hangs and does not show any information at all. Even stopping the docker daemon from systemd hangs and pretty much freezes the system

**Steps to reproduce the issue:**
- Issue is intermittent and cannot reliably reproduce the hanging behavior.
- Issue a `systemctl stop docker` command to stop the daemon.
- The

[2016-09-21 03:48] andyrj commented on #1916
Not sure if this was covered above as it is a rather long list of feedback on this issue.  I too would like to have --privileged build commands.  My current use case is to work around an issue I ran into with building the go ebuild on a gentoo stage3.  If I don't use a container, the current instructions in the gentoo handbook cause systemd to behave erratically once I' umount -l /mnt/gentoo/proc,

[2016-09-21 03:55] rhuddleston commented on #25381
I dug into this more and determined that this only happens after the nightly cronjob that cleans up docker containers/images etc runs:

for MOUNT in $(egrep 'var/lib/docker/(containers|devicemapper|aufs)' /proc/mounts | awk '{print $2}' | sort -r); do
  umount $MOUNT
done

for CONTAINER in $(docker ps -aq -f status=exited -f status=dead); do
  docker rm "${CONTAINER}"
done

USED_IMAGES=$(for IMAGE

[2016-09-21 04:04] heikobornholdt commented on #12997
+1

[2016-09-21 04:13] pascalandy commented on #26702
Here is the prove that @aluzzardi as found this issue

[code]

[code]

[2016-09-21 04:14] agilgur5 commented on #13490
With regard to build-time secrets, [Rocker's `MOUNT` directive](https://github.com/grammarly/rocker#mount) has proven to be useful for creating transient directories and files that only exist at build-time. Some of their templating features may also help in this situation but I haven't thoroughly used those yet.

I'd love to see this functionality implemented as a Builder plugin in Docker core (as

[2016-09-21 04:20] artemkaint commented on #11998
+1

[2016-09-21 04:20] GordonTheTurtle commented on #11998
*USER POLL*

*The best way to get notified of updates is to use the _Subscribe_ button on this page.*

Please don't use "+1" or "I have this too" comments on issues. We automatically
collect those comments to keep the thread short.

The people listed below have upvoted this issue by leaving a +1 comment:

@artemkaint

[2016-09-21 04:53] jhowardmsft commented on #26755
@rohitjaini - can you file an internal bug and I'll follow up. From the stack trace you emailed, it looks like an RS2 platform bug losing a notification from the short time I did spend looking at it, rather than docker itself. Thanks. We can reopen this issue if the culprit is docker.

[2016-09-21 04:53] #26755 closed

[2016-09-21 05:02] rajkumar49 commented on #26480
anyone able to fix it ?

[2016-09-21 05:24] coding2012 commented on #24891
Any updates on what Khurram85 posted? Is there any issue with that syntax?

[2016-09-21 05:43] Haybu commented on #21902
getting the same, with docker client API version 1.24 and server API version 1.22

[2016-09-21 07:09] favoretti commented on #24344
Hey @justincormack nope, still happening here.
Basically for me the moby image doesn't get DNS servers that are assigned by my VPN client, and fails to resolve private registries. When I log in to moby and add the private DNS servers - everything works.

[code]

[2016-09-21 07:33] xiaods commented on #26480
gossip channel not established, anyone can confirm it?

[2016-09-21 07:35] StefanScherer commented on #26729
Is there a way in Go to use the  `FILE_FLAG_DELETE_ON_CLOSE` flag? https://msdn.microsoft.com/en-us/library/windows/desktop/aa363858(v=vs.85).aspx

[2016-09-21 07:53] #26758 closed

[2016-09-21 07:59] NoOrdInaryGuy commented on #22753
@justincormack Yep, I can confirm that works successfully. The only problem is when using `docker-compose` (particularly with scaling, or I guess you could just configure static addresses). It's not possible to add port-forwards after a container is started, and I'm not aware of a way to reference the actual container IP address to the compose file / Dockerfile at "runtime", which I think I'd need

[2016-09-21 08:17] thaJeztah commented on #24675
@sivabudh afaik, all _known_ issues were addressed (But of course, Sierra itself is still fresh)

[2016-09-21 08:23] coolljt0725 opened #26771 "dm.datadev and dm.metadatadev missing from bash completion"
see https://github.com/docker/docker/blob/master/man/dockerd.8.md#dmdatadev and https://github.com/docker/docker/blob/master/man/dockerd.8.md#dmmetadatadev

This two option is missing from cli completion.

ping @albers

[2016-09-21 08:44] evanp opened #26772 "docker service update messes up VIP tables and "tasks" DNS entries"
Multiple `docker service update` calls make the VIP tables for the overlay network incorrect, and mess up the DNS lookups for `tasks.<service name>`.

**Description**

I noticed connectivity problems between services in my cluster. By launching a terminal and using `curl` and `dig` to examine the service names and "tasks" round-robin names, I realized that the map of IP addresses was incorrect.

*

[2016-09-21 08:46] thaJeztah commented on #26152
ping @dnephin @vdemeester @runcom I checked this issue with 1.11, and it looks like this was a regression in 1.12. Do you think it's possible (and worth it) to fix just this issue for 1.12.2 (without including the conversion of `docker` to Cobra)?

[2016-09-21 08:47] thaJeztah commented on #26152
Also ping @vieux ^^

[2016-09-21 08:55] justincormack commented on #26745
Your `bip` is only a `/28`, which will have 14 usable IP addresses, does it make a difference if you make it a larger one?

[2016-09-21 09:04] coolljt0725 commented on #26742
Maybe we can print `cmd.Stderr` when `err` is not nil and see if there is some error message than can help :)

[2016-09-21 09:09] bnordbo commented on #26567
I am seeing this issue too, or a similar one, after upgrading to Docker 1.12.1. The container networking is down, i.e. the ARP requests from the host never reaches the broken container. Other containers on the same host are fine. In my case, at least, it seems to be due to the VIF not being added to the `docker0` bridge:

[code]

Adding it via `sudo brctl addif docker0 veth47fc599` fixes the issue

[2016-09-21 09:24] runcom commented on #26152
this is huge and I don't have any clue if we can fix just this for 1.12.2 - would be great though if anyone can do this fast for 1.12.2 :)

[2016-09-21 09:37] evanp commented on #26763
Ummm... What happens if you don't use spaces around the "==" in your constraints?

[2016-09-21 09:40] evanp commented on #26733
So, I think the big issue here is `docker service update`. I left it out of this issue, but there's more detail in #26772. I'm going to close this one in reference to that one.

[2016-09-21 09:40] #26733 closed

[2016-09-21 09:48] xiaods commented on #26767
@vincentwoo  i know libnetwork will handle overall network implement, so how about move the proposal to libnetwork issues?

[2016-09-21 09:50] xiaods commented on #26772
i found current report issue almost point the issue for you report.

#25394
#26480

[2016-09-21 10:03] thaJeztah opened #26773 "Incorrect handling of "Connection" errors when checking exit code"
While having a quick look at changes required for https://github.com/docker/docker/issues/26761, I found a bug in the way we handle "connection" errors to separate them from container exit codes.

Writing it down here, so that it doesn't get lost

Basically, [`client.ErrConnectionFailed`](https://github.com/docker/docker/blob/3ea762b9f6ba256cf51bd2c35988f0c48bccf0b0/client/errors.go#L9%29) It look

[2016-09-21 10:06] runcom commented on #26773
related to https://github.com/docker/docker/pull/26436#issuecomment-248564436?

[2016-09-21 10:07] vincentwoo commented on #26767
I'm not against the idea, but I have no idea if that's the right place or not. Can anyone else chime in? For instance, since this proposal would (should?) require changing the API surface of container creation, I'm not entirely sure it 100% belongs in libnetwork. More broadly, I think people need to decide if this is even something they want Docker to do.

[2016-09-21 10:21] evanp commented on #26772
@xiaods almost, but not quite. #26480 says the names aren't available on different hosts. That's not what's happening with this issue; the names are available on all hosts. #25394 says that the round-robin isn't routing to tasks on different hosts; I'm not checking that in this issue.

Neither of those issues do an update, so I think this issue is different from both.

One thing to note: I just tr

[2016-09-21 10:23] xiaods commented on #26747
so this bug is present in v1.12?

[2016-09-21 10:30] xiaods commented on #26244
@jmzwcn wait for your confirm

[2016-09-21 10:41] xiaods commented on #26772
@evanp i also came across the annoy issue related VIP. so wait your testing result.

[2016-09-21 10:47] thaJeztah opened #26775 "Regression in exit codes in 1.12"
This is a copy of https://github.com/docker/docker/issues/26152, which is resolved on master, but the fix is part of a bigger change (conversion of `docker` and `dockerd` to Cobra), so to fix this we need to have a different patch that only contains a fix for the exit codes.

Opening this for the 1.12.2 milestone as this is a regression in 1.12 (see https://github.com/docker/docker/issues/26152#is

[2016-09-21 10:48] thaJeztah commented on #26152
@runcom I opened https://github.com/docker/docker/issues/26775 so that we don't loose sight of the issue

[2016-09-21 10:52] achautha commented on #25432
I am facing the same issue on Amazon EC2  Ubuntu AMI.
[code]

[2016-09-21 11:02] thaJeztah commented on #11998
ping @mavenugo PTAL

[2016-09-21 11:05] thaJeztah commented on #25432
ping @aluzzardi PTAL

[2016-09-21 11:07] justincormack commented on #26767
Also the question is whether you want to limit bandwidth or prioritise. The `net_cls` cgroup can classify traffic for `tc`, but not sure where policy should be determined. It will depend on your network driver to some extent.

[2016-09-21 11:07] thaJeztah commented on #26772
ping @mrjana ptal

[2016-09-21 11:12] justincormack commented on #26336
What is the diff between the kernel configs with KVM enabled and not? Docker does not need KVM but it may need something that is a dependency of KVM too.

[2016-09-21 11:14] vincentwoo commented on #26767
Great point. My real world use case is that I run many ephemeral containers, ranging in lifespan from a second to an hour, on behalf of many users, some of whom are potentially malicious.

Many of the common ways to abuse the system have been addressed, but being able to *strictly limit* (not prioritize) containers using individual quotas is one of the last remaining issues.

[2016-09-21 11:16] justincormack commented on #25492
Ah. I don't recommend people use `setuid` myself, especially for busybox, as that gives you unnecessary privileges. Adding capabilities is much better. For userns it is an extra problem I guess, more reasons to avoid.

I am going to close this as it appears to be just confusing not a bug, but feel free to continue the conversation.

[2016-09-21 11:16] #25492 closed

[2016-09-21 11:19] thaJeztah commented on #26767
Also related; https://github.com/docker/docker/issues/4763

[2016-09-21 11:19] justincormack commented on #24743
@vit-spinka I am planning to add an option to set `sysctl` values in the daemon config, so they are set for every container that runs if not overridden, including for build.

[2016-09-21 11:23] justincormack commented on #24436
That doesn't make much sense to me, `FILESIZEBITS` is a userspace issue not a filesystem issue. Is there any way you can provide a way for me to replicate this easily?

[2016-09-21 11:23] justincormack commented on #24344
@djs55 are there still known issues here?

[2016-09-21 11:26] justincormack commented on #24316
This issue is being tracked in multiple places - can you move the comments to https://github.com/docker/for-mac/issues/77 as you will get better support there.

@SantoDE we don't mind how big the examples are!

I am going to close this in favour of the other issue to avoid duplication as it is specific to docker for Mac.

[2016-09-21 11:26] #24316 closed

[2016-09-21 11:30] justincormack commented on #24387
"Don't use it."

Yes, I can take a look, need to look at everywhere it is used and see what else there is. I don't think that all the parts actually have equivalent flags, maybe they should so we can say it is exactly the same as `--cap-add all --security-opt ...`.

[2016-09-21 11:37] xeor commented on #23971
I've just hit this wall as well.

Some testing;

* rhel7, docker 1.12.1 = 10 "bridge" networks
* rhel7, docker 1.10.3 = 31 "bridge" networks
* rancheros, docker 1.12.1 = 32 "bridge" networks

Is there anyway to allocate a bigger network for docker to pick from?

[2016-09-21 11:41] joshuatalb commented on #24675
I updated to MacOS Sierra this morning, and all seems well minus one minor setback. The Docker daemon didn't start on system boot, but double-clicking the Docker.app in the Applications folder seems to kick it back into life. No issues other than that (hopefully!)

[2016-09-21 11:53] bernex opened #26776 "Ubuntu 16 - dns is not working with iptables = false"
Ubuntu 16?

`/etc/systemd/system/docker.service.d/noiptables.conf`:
[code]

dns ips from `/etc/resolv.conf`

ufw is disabled(if enabled also not working)

[code]

`cat /proc/sys/net/ipv4/ip_forward` => 1

`sudo iptables -t nat -nL`:
[code]

How resolve this problem?

[2016-09-21 11:55] thaJeztah commented on #25483
@stevvooe I haven't seen a discussion on that (if it was implemented on purpose), but possibly that took place in the SwarmKit repo

[2016-09-21 11:58] justincormack commented on #26767
@vincentwoo are those per container limits or per some grouping of containers? (eg all the containers belonging to user X can have 1Mb/s)?

[2016-09-21 12:11] mato commented on #20569
@aboch I've spent some time looking into this due to running into a benign variant of #5618 on my dev machines.

We currently state in the [documentation](https://docs.docker.com/engine/userguide/networking/default_network/ipv6/) that the daemon must be run with the `--ipv6` option in order to enable IPv6. However, the daemon does not disable default IPv6 behaviour (link-local addresses, DAD) in c

[2016-09-21 12:16] mato commented on #20569
@mliker Unfortunately it's not possible to completely disable IPv6 on the container side manually. This is due to the Linux kernel setting `net.ipv6.conf.*.disable_ipv6` to `0` when creating a network namespace regardless of any settings on the host.

[2016-09-21 12:21] justincormack commented on #20569
You can add the --sysctl option to docker run to disable. Not sure if this
is applied before or after interface creation though.

On 21 Sep 2016 1:17 p.m., "Martin Lucina" <notifications@github.com> wrote:

[2016-09-21 12:24] justincormack commented on #24675
Yes the autostart didn't work for me either, guessing it needs to re
register after OS upgrade.

On 21 Sep 2016 12:41 p.m., "Joshua Talbot" <notifications@github.com> wrote:

[2016-09-21 12:25] mlaventure commented on #22226
@ixmatus the timeout was increased to 2mins in 1.12.0. How fast do you get the timeout on containers start?

[2016-09-21 12:25] mliker commented on #20569
Thanks. I have had success with using —sysctl option to disable ipv6 in a container with a fairly recent docker client.

[2016-09-21 12:41] TanmayaA commented on #26434
@thaJeztah I was not available to respond. Sorry for the delay.
@tonistiigi @aaronlehmann May have get a direct docker.com email, or location to send the image tar?

[2016-09-21 12:45] thaJeztah commented on #26776
Works for me; fresh install of docker on 16.04;

[code]

Then;

[code]

IPtables looks different;

[code]

[2016-09-21 12:48] mato commented on #20569
Right, I just tested with `--sysctl net.ipv6.conf.all.disable_ipv6=1` and that does the right thing on the container side, however it's unlikely to fix all cases of #5618 for two reasons:
- A newly created namespace already has an `lo` interface, so the underlying refcount issue stands. This will need a fix on the libnetwork side to explicity apply the sysctl to `lo` _before_ bringing up the inter

[2016-09-21 12:56] mlaventure commented on #25381
oh, yes, you can't `umount` those outside of `docker` itself without causing issues with running containers.

Usually the one that can't be `umount` when stopping a container are the `shm` mount of the container. Those should be of the form `/var/lib/docker/containers/<container-id>/shm`. The other mounts have IDs that cannot be easily matched against a container.

If you really get a lot of mount

[2016-09-21 13:01] bhaskarcloudyuga commented on #22693
I am having the same issue ...bumped...heck..anyone care to explain..

docker-lf@docker-demo-lf:~$ docker network create -d overlay lf-overlay-net
Error response from daemon: datastore for scope "global" is not initialized

[2016-09-21 13:04] creynders commented on #21776
👍 💯

[2016-09-21 13:11] bernex commented on #26776
`#sudo iptables -t nat -A POSTROUTING -s 172.17.0.0/16 ! -o docker0 -j MASQUERADE`

Closed!

[2016-09-21 13:11] #26776 closed

[2016-09-21 13:12] lennartjuette commented on #11407
I haven't had any more timeouts since the last spike 6 days ago. So far, so good.

Upgrading definitely helped. But I also reduced the load on my system significantly 6 days ago and i don't have any spikes anymore, so this may also be (at least a part of) a solution

[2016-09-21 13:14] robparrott commented on #23131
We are seeing this as well and would love to see the fix back ported to at least 1.11.x

[2016-09-21 13:15] ixmatus commented on #22226
So the problem was that you increased the timeout for the process that
spawns containerd within docker but we don't use that method, we bring up
containerd separately as this is within nixos. So the default timeout
should be increased in containerd.

On Sep 21, 2016 8:27 AM, "Kenfe-Mickaël Laventure" <notifications@github.com>
wrote:

[2016-09-21 13:16] sivabudh commented on #24675
Just want to add that we upgraded some of our Macs and haven't run into any blocking issues so far. So we are happy!

[2016-09-21 13:22] thaJeztah commented on #22226
@ixmatus if you're starting containerd separately, you should be able to set `--start-timeout` there? (see https://github.com/docker/docker/pull/23176)

[2016-09-21 13:29] ripcurld00d commented on #12725
Hi @ibuildthecloud,
When you say "created by a user" do you mean whether it was created by running `docker build` or not?

What will happen when the user will run docker commit, should the label be removed?

Thanks.

[2016-09-21 13:33] thaJeztah commented on #25991
@crosbymichael @vieux added this to 1.12.2 as it fixes a panic

[2016-09-21 13:34] fahimeh2010 commented on #3465
+10000 for UNVOLUME

[2016-09-21 13:38] michaelkrog commented on #26524
@mrjana I am of to London next week. I'll see if I can make it before then. Otherwise I'll have to wait  till 4th of October.

Meanwhile, how do I get hold of your public key?

[2016-09-21 13:38] laithrafid commented on #26336
yes it dosen't needs kvm packages , but needs all dependencies that kvm use which lxc needs it too ...
there's a lot of different kernel configs that i don't remember from the top of my head so i will paste it soon

[2016-09-21 13:51] thaJeztah commented on #26524
I think this should work https://github.com/mrjana.keys

[2016-09-21 13:55] volnet commented on #26495
@mlaventure it also has the same error.

[2016-09-21 13:56] thaJeztah commented on #26771
Possibly, this is on purpose, because:

[2016-09-21 14:06] rvandegrift commented on #25935
@RobSkye - nope, haven't had any time.

[2016-09-21 14:32] ixmatus commented on #22226
Yeah, that's what we've done but I had to read the diff to realize we could
do that...

On Sep 21, 2016 9:24 AM, "Sebastiaan van Stijn" <notifications@github.com>
wrote:

[2016-09-21 14:32] tectoro commented on #24675
@kennygunie Thanks for the tip. I just updated to Sierra and docker was stuck in starting. I did a fresh install but no luck. Installed go 1.7. No change. Finally, followed your tip and docker is up now.

[2016-09-21 14:33] albers commented on #26771
The docs explicitly mark these options as deprecated.
I always remove / do not add deprecated options so that people are not encouraged to use them.

@coolljt0725 do you really need these options or are you just concerned about completeness?

[2016-09-21 14:35] thaJeztah commented on #20569
ping @aboch wdyt? https://github.com/docker/docker/issues/20569#issuecomment-248592807

[2016-09-21 14:41] thaJeztah opened #26779 "Add documentation for docker stats --format"
https://github.com/docker/docker/pull/24987 was merged without documentation changes. This issue is for tracking that

/cc @ripcurld00d

[2016-09-21 14:42] thaJeztah commented on #26779
Also man-pages :smile:

[2016-09-21 14:48] thaJeztah commented on #26768
ping @mlaventure @crosbymichael

[2016-09-21 14:48] ripcurld00d commented on #26779
#dibs

[2016-09-21 14:55] thaJeztah commented on #26702
@aluzzardi should the default subnet be larger?

[2016-09-21 15:17] thaJeztah commented on #3465
@duglin I think starting with the ones that are currently _not_ possible, and most requested would be best (`EXPOSE`, `VOLUME`). I haven't seen many requests for the others (but not against it).

The original PR used `UNSET <SOMETHING>`, but was later changed to `UN<SOMETHING>`. I _personally_ liked the first one more (more generic), but @shykes preferred `UN<SOMETHING>`, not sure if that has chan

[2016-09-21 15:19] tjlee commented on #14474
@dmcgowan
We are using TeamCity, and using docker-compose to set up environment for integration tests. In TeamCity we execute the following steps.

Before tests:
- Stop and remove old docker containers, it this step first error raised `Failed to remove container (b25df8d0c075): Error response from daemon: Driver overlay failed to remove root filesystem b25df8d0c0755b733b795d64c012936deec7c40498453

[2016-09-21 15:36] michael-holzheu commented on #26595
@LK4D4 : Looks like this fixed also our problem on z Systems:

See the following jenkins run:

 * https://jenkins.dockerproject.org/job/Docker%20Master%20(z)/623/

The last 5 runs have been successful:

 * https://jenkins.dockerproject.org/job/Docker%20Master%20(z)/

[2016-09-21 15:39] aboch commented on #20569
I will try to get the current libnetwork PR moving.

[2016-09-21 15:40] nitinmidha commented on #26060
@aluzzardi @mrjana I have created a docker image which when pointed to ubuntu 14.04 cluster servers can run several tests (Scale up/down, drain, server upgrade, unplanned restart) and verify the state of cluster and sniff out issues in  iptables, cluster node state, service containers running etc. Instructions to use and source code is published under following github repo.

[docker-swarm-mode-tes

[2016-09-21 15:42] LK4D4 commented on #26595
Cool!

[2016-09-21 15:42] #26595 closed

[2016-09-21 15:42] runcom opened #26781 "http: server gave HTTP response to HTTPS client"
**Description**

docker client totally broken on master. Hope someone can reproduce.

**Steps to reproduce the issue:**
1. build docker from master
2. `docker pull busybox` || `docker run -ti busybox sh` (both will fail)
3.

**Describe the results you received:**
[code]

**Describe the results you expected:**

pull goes through

**Additional information you deem important (e.g. issue happens only

[2016-09-21 15:45] runcom commented on #26781
@LK4D4 @stevvooe @aaronlehmann @tonistiigi @vdemeester @thaJeztah PTAL

[2016-09-21 15:46] mato commented on #20569
@aboch Which PR is that?

[2016-09-21 15:46] justincormack commented on #26781
Somehow you are running an https connection over a unix socket, which should be http...

[2016-09-21 15:47] antfurn commented on #26415
I think this could be the same as this issue https://github.com/Microsoft/Virtualization-Documentation/issues/355

[2016-09-21 15:47] runcom commented on #26781
yeah, figured that - and this PR is breaking that https://github.com/docker/docker/issues/26436

[2016-09-21 15:48] thaJeztah commented on #26781
Ah, so if the same connection is reused (as you commented https://github.com/docker/docker/pull/26436#issuecomment-248649163), and that connection is setup for https, that's probably the issue?

[2016-09-21 15:49] aboch commented on #20569
@mato https://github.com/docker/libnetwork/pull/968

[2016-09-21 15:51] runcom commented on #26781
I don't think so, I think the issue is that the transport if badly configured to do an https connection _AFTER_ and http one.

Example:
[code]

[2016-09-21 15:55] egnoriega commented on #11740
I'd suggest that all of this works around the problem.  Reducing the confinement of the application, sometimes significantly in order to manage the core isn't the solution that I see people wanting.  Since Docker is orchestrating the container, the preference would be for Docker to configure the location and methods for the kernel to deliver the core file. Perhaps this could be inside of the conta

[2016-09-21 16:01] jhowardmsft opened #26783 "Extra `This node is not a swarm manager` daemon logs"
On master latest, docker inspect foo (where foo does not exist as any type of object in docker) - you see several unexpected swarm errors in the daemon log. I would expect to see just entries similar to /images/foo /networks/foo and /volumes/foo only.

[code]

[2016-09-21 16:01] thaJeztah commented on #26693
Ping @friism @jhowardmsft

[2016-09-21 16:41] aaronlehmann commented on #24891
No, that syntax looks correct.

I just noticed this in a previous comment:

This suggests that the issue isn't related to registry credentials. If the image already exists on each node, that should be sufficient to run the service, with or without access to the registry.

Perhaps the image name you are passing to `service create` is subtly different from the one that exists on the registry?

If yo

[2016-09-21 16:45] Vanuan commented on #26747
@xiaods why you're asking? have you seen something similar in previous versions?

@burdiyan would you mind checking `dmesg -T` and copying the lines at the time it wasn't working?

[2016-09-21 16:45] friism commented on #26693
also checking with @PatrickLang

[2016-09-21 16:48] justincormack commented on #23471
@nrvale0 `docker run -ti --entrypoint=/bin/sh alpine /bin/sh ` is not valid - it is trying to run `/bin/sh /bin/sh` which is not valid syntax. You need `docker run -ti --entrypoint=/bin/sh alpine -c /bin/sh` or something, not sure what you are trying.

I am going to close this as the original does not seem to be a problem now.  I will do some testing soon with more recent kernels than 4.4.

[2016-09-21 16:48] #23471 closed

[2016-09-21 16:49] thaJeztah commented on #26762
Can you provide the exact steps for reproducing? What commands do you run to start the container? Is the container run interactively, and changes made inside the container?

[2016-09-21 16:52] burdiyan commented on #26747
I have to recreate the cluster and try again, because I accidentally removed it today :( Will try to do this these days.

[2016-09-21 16:53] jaylinski opened #26785 "Docker daemon crashes when "docker exec -d" spawns background processes"
**Description**

This bug has already been reported here: https://github.com/docker/docker/issues/25989

But the solution provided in the previous ticket (use the detached mode) did not work for me.

The docker daemon still crashes.

**Steps to reproduce the issue:**
1. Run a script which spawns another script: `docker-compose exec -d -T <container_name> ./script &` (see below)
2. Try to stop cont

[2016-09-21 16:53] xiaods commented on #6354
this bug is outdate? anyone can handle it.

[2016-09-21 16:55] Vanuan commented on #26747
Have you removed the droplet? I mean you can run `dmesg -T` and scroll up to the September 20th

[2016-09-21 17:04] LK4D4 commented on #6354
I think it's duplicate of another bug from @cpuguy83

[2016-09-21 17:15] burdiyan commented on #26747
I removed the Droplet. `docker-machine rm` was too easy to mistype.

[2016-09-21 17:18] thaJeztah commented on #26785
Ping @dnephin @mlaventure

[2016-09-21 17:18] aaronlehmann commented on #22225
Schema 1 is designed for a model where every layer of an image is actually a runnable image. That's not how Docker works anymore. Since the switch to content addressability, layers are just filesystem diffs. When the image model changed, it made sense to switch to a different manifest format that makes sense for this model.

https://gist.github.com/aaronlehmann/b42a2eaf633fc949f93b has a lot of de

[2016-09-21 17:39] whosthatknocking commented on #10613
Please keep in mind it's compatibility issues; Overlay doesn't fully implement the posix standards potentially impacting your application (`rename` system call) or platform (`open` system call, `yum install` on RH like systems).

[2016-09-21 17:39] perigee commented on #26235
Met same issue. Launching service nginx (only one) on swarm, the port is only publish on the node service running, then update the service nginx, the nginx service will running on another node, while the service can only be reached on previous host ip.

[2016-09-21 17:53] JiaminWorld commented on #26762
Hi,

Here is the details.
I am trying to use docker container to build a simple demo case that
container A can send all the traffic through container B to container C. In
this case I need to create 3 containers and two networks.
docker run -itd --privileged --net mynet1 --name A image command
docker run -itd --privileged --net mynet1 --name B image command
docker run -itd --privileged --net mynet2

[2016-09-21 18:03] nrvale0 commented on #23471
@justincormack I just tested this yesterday (without the --entrypoint) and same result : SEGV

[code]

[2016-09-21 18:12] sanimej commented on #26356
@JamesJJ From this log it looks like there is some failure in running the healthcheck command

`Sep  6 20:49:18 ip-10-12-15-126 dockerd: time="2016-09-06T20:49:18.971882492Z" level=warning msg="Health check error: rpc error: code = 2 desc = oci runtime error: exec failed: process_linux.go:75: starting setns process caused \"fork/exec /proc/self/exe: no such file or directory\""`

What command do y

[2016-09-21 18:31] reypm opened #26789 "Docker build ends with error "the command ... returned a non-zero code: 100""
I am building a Docker image and the `Dockerfile` looks like follow:

    FROM ubuntu:12.04
    MAINTAINER Maintainer Name <my_address@goes.here>

    VOLUME ["/var/www"]

    RUN apt-get update && \
        apt-get install -y \
        apache2 \
        php5 \
        php5-cli \
        libapache2-mod-php5 \
        php5-gd \
        php5-ldap \
        php5-mysql

    COPY apache_default /etc/ap

[2016-09-21 18:34] mrunalp opened #26790 "SELinux options aren't set when sharing namespaces and setting seccomp"
**Description**
When seccomp:unconfined is set alongwith sharing the namespace (for e.g. ipc) of another container, then the SELinux labels are not set.

**Steps to reproduce the issue:**
[code]

**Describe the results you expected:**
In step 3, above the SELinux labels should have been set like in 2.

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output

[2016-09-21 18:38] vincentwoo commented on #26767
Per-container

[2016-09-21 18:59] sanimej commented on #26356
@JamesJJ I am not able to come up with a possible scenario for the 2nd panic. From the log, right before the panic there is this message..

`Sep 16 06:37:54 ip-10-10-44-248 dockerd[5037]: time="2016-09-16T06:37:51Z" level=info msg="Firewalld running: false"`

This check happens once, typically when the daemon comes up. So before this panic was there any daemon restart ? Do you have `live-restore`

[2016-09-21 19:01] justincormack commented on #26790
Any idea when this happened?

[2016-09-21 19:12] mrunalp commented on #26790
@justincormack Not sure, I have created https://github.com/docker/docker/pull/26792 as a fix, but have a question there about why adaptContainerSettings is getting called twice.

[2016-09-21 19:14] aacebedo opened #26793 "Error when executing a docker client function twice"
---
## BUG REPORT INFORMATION

**Description**
Using client interface to connect to a docker unix socker, the second call to a client function display an error saying the server returned an HTTP response to an HTTPS client.

Go seems to change the value of the TLSClientConfig pointer within a transport object when a request is performed thus the function resolveTLSConfig from file docker/client/tr

[2016-09-21 19:22] srodman7689 commented on #26761
@thaJeztah is #26773 related to this issue? Should this issue be address through #26773 or should it be ok for me to just work on this issue specifically?

[2016-09-21 19:29] emcniece commented on #16949
[This link](https://docs.docker.com/registry/nginx/#gotchas) is now a 404 - does anyone know where it migrated to?

[2016-09-21 19:29] vdemeester commented on #26793
This could be related to https://github.com/docker/docker/issues/26781

[2016-09-21 19:32] jinxidoru commented on #14945
I similarly would like to be able to "steal" the port of an active container.  Proxies work great for HTTP style traffic, but are pretty rough for binary ports.

[2016-09-21 19:38] mrjana commented on #26772
@evanp Thanks for taking the effort to test these with docker/docker master code. Many more fixes were added there and please try to reproduce this problem there and let us know.

[2016-09-21 19:41] dnephin commented on #26785
Please include the stack trace from from the log.

[2016-09-21 19:42] thaJeztah commented on #16949
@emcniece it's still in the archived docs; https://docs.docker.com/v1.9/registry/nginx/#gotchas

[2016-09-21 19:43] runcom commented on #26793
I believe it's the same

[2016-09-21 19:43] evanp commented on #26672
@mrjana so, good news bad news.

Bad news is that we're still seeing this issue in 1.13-dev. However, they're survivable. The work on #24092 will make these upgrades much more seamless.

[2016-09-21 19:44] runcom commented on #26793
@vdemeester can you add close #26781 to his PR?

[2016-09-21 19:47] thaJeztah commented on #26793
@runcom is it the same issue? Looks like this issue is on 1.12.1, not on master?

[2016-09-21 19:49] thaJeztah commented on #26761
@srodman7689 feel free to work on this issue; I was planning to work on this, an while looking at the code, I found the issues mentioned in https://github.com/docker/docker/issues/26773, so got distracted by those.

We _will_ have to improve the error handling, and fix the bug there, but I don't think adding a friendlier error message will make that much more complicated than it already is :smile:

[2016-09-21 19:51] srodman7689 commented on #26761
@thaJeztah I can leave this one alone if you want to work on it. I don't mind finding another issue.

[2016-09-21 20:04] thaJeztah commented on #26761
No, please go ahead, I've got enough things to do, so please have a look at it!

[2016-09-21 20:07] srodman7689 commented on #26761
@thaJeztah Will do. Looking at it now.

[2016-09-21 20:15] srodman7689 commented on #26761
#dibs

[2016-09-21 20:17] jaylinski commented on #26785
@dnephin when running `sudo journalctl -fu docker.service` I see no stacktrace.

So the docker daemon apperently does not crash, but is becoming unresponsive.

Just for completeness, I recreated the issue without docker-compose:

1. `docker run -d --name testcontainer php:7-fpm`
2. `docker exec -it testcontainer /bin/bash -c "TERM=$TERM exec bash"`
Create the `script` and `child` files as describe

[2016-09-21 20:41] #17770 closed

[2016-09-21 20:45] thaJeztah commented on #26783
Yup, I noticed this as well. I think this was introduced by https://github.com/docker/docker/pull/23614, which checks all object types unconditionally (as the client isn't aware if the daemon it's talking to is running as a manger or not)

/cc @icecrime

[2016-09-21 20:47] thaJeztah commented on #24004
reopening this per https://github.com/docker/docker/pull/26764#issue-178217872

[2016-09-21 20:47] tkeeler33 commented on #12886
+1

[2016-09-21 20:48] mdg commented on #26761
Thanks, @srodman7689 ! As a newbie, this was super-confusing and from my googling for a solution, it appears very common. This fix will make a much better experience for those of us hitting it on our way through the introductory documentation.

[2016-09-21 20:50] rysiekpl commented on #26703
Upgrade fixed the issue. Running 1.12.1 and all seems fine.

[2016-09-21 20:58] thaJeztah commented on #26703
That's good news! Thanks for reporting back @rysiekpl

[2016-09-21 21:04] evanp commented on #26772
@mrjana We upgraded our 50-node cluster this morning and saw a great improvement. However, we're still seeing this error. I'm going to see if I can get some more detail.

[2016-09-21 21:06] techninja1008 commented on #26748
Does anyone have any problems with the proposed format?

[2016-09-21 21:16] cpuguy83 commented on #23765
@inercia Curious if you ever got to sending us that pr?

[2016-09-21 21:19] achekulaev opened #26798 "docker 1.12.1 go1.6.3 is unstable on macOS Sierra 10.12"
The latest [Docker release 1.12.1](https://get.docker.com/builds/Darwin/x86_64/docker-1.12.1.tgz) referenced in releases here on GitHub is compiled with go1.6.3 and is not stable on latest macOS sierra 10.12.

See https://github.com/docker/machine/issues/3773 for instability details I experienced as I initially thought it was a docker-machine issue but that was docker that caused it to crash.

Her

[2016-09-21 21:31] justincormack commented on #26798
Yes. The binaries used in Docker for Mac are compiled from https://github.com/justincormack/docker/tree/pinata-sierra-client

I believe we will release for 1.12.2 compiled like this too.

cc @icecrime @tiborvass

[2016-09-21 21:36] justincormack commented on #26793
@thaJeztah its not exactly clear when this issue started.

[2016-09-21 21:39] thaJeztah commented on #26793
@justincormack I thought it was because @runcom lead it to https://github.com/docker/docker/pull/26436, but possibly that was unrelated then.

If this is an issue introduced in 1.12, should we add it to the 1.12.2 milestone?

[2016-09-21 22:04] burdiyan commented on #26747
I'm unable to reproduce the issue. Was playing around with new droplets, but everything works as expected. How the heck I could remove those droplets before :(

[2016-09-21 22:10] aaronlehmann commented on #26434
@TanmayaA: Feel free to send it to aaron.lehmann (at) docker.com.

[2016-09-21 22:11] #26125 closed

[2016-09-21 22:30] justincormack commented on #26793
@thaJeztah yes it still seems unclear, but potentially if it was, yes.

[2016-09-21 22:38] justincormack commented on #26789
The red parts are harmless, that is normal if not running interactively.

I don't seem to be able to replicate the failure though.

[2016-09-21 22:46] vincentwoo commented on #26767
See also https://github.com/docker/docker/issues/17064 ([RFE] Allow docker to report the veth interface used by a container.) - stated use case on that proposal is ALSO to achieve use of `tc`.

[2016-09-21 22:53] aboch opened #26799 "Missing Gateway field in `bridge` network inspect"
First time daemon is booted (no `docker0` bridge present, no or empty `/var/lib/docker/network/files/local-kv.db` file), IPAM.Config structure in network inspect output will not contain the Gateway field

[code]

Verified problem exists in `1.12.0` and in current master.

Given the `IPAM.Config` filed currently used to carry both configuration and operational data, the gateway address should alway

[2016-09-21 22:56] thaJeztah commented on #26799
We should check if this is a regression in 1.12, or already present in 1.11 (if not, possibly try to fix it for 1.12.2)

[2016-09-21 22:59] aboch commented on #26799
Issue is there in `1.11.2` as well, not a regression.
Given it won't be seen after a daemon reload, it might be the reasonwhy it went unnoticed for so long.

[2016-09-21 23:01] thaJeztah commented on #26798
ping @vieux as well - I'm not sure a decision was made on this (switching to a different Go version in a patch release)

[2016-09-21 23:02] thaJeztah commented on #26799
Thanks for the extra info; not necessarily needed for 1.12.2 then

[2016-09-21 23:26] aaronlehmann commented on #24078
Confirmed that this is fixed by #26538 🎉.

First replicated the problem with 1.12.1. Then upgraded the node which is trying to join to 1.13-dev. With the newer version, it shows this error immediately:

`Error response from daemon: rpc error: code = 13 desc = connection error: desc = "transport: x509: certificate has expired or is not yet valid"`

[2016-09-21 23:26] #24078 closed

[2016-09-21 23:34] aboch commented on #17064
@saada

To inspect traffic to/from container `x`, you can do it in a container that was run with `--net container:x`

[2016-09-21 23:35] thaJeztah commented on #26392
/cc @sanscontext @mstanleyjones

[2016-09-21 23:40] terencechow opened #26800 "Docs not clear of intended behaviour for make shell command"
Hi,

I wanted to start contributing so I went through the contributing guide. It is a bit out of date so I'm not entirely sure if the docs are out of date or if I'm doing something wrong.

Specifically the docs say the make shell command will mount my local repo to the docker container.

This makes it sound like any changes I make on my local repo will be reflected in my docker container. Is this

[2016-09-21 23:41] jiMuBao commented on #20486
+1
Bind for 0.0.0.0:3306 failed: port is already allocated

[2016-09-21 23:44] thaJeztah commented on #26500
I'll close this issue here as this is specific to docker for Mac, but feel free to continue the discussion

[2016-09-21 23:44] #26500 closed

[2016-09-21 23:54] jhowardmsft opened #26801 "Windows: Data race in restarting"
Found running CI locally using master at c0699cd4a43ccc3b1e3624379e46e9ed94f7428c (morning of 9/21/16). @darrenstahlmsft @swernli FYI

There were several triggers - all were a combination of restart with some other condition. The restart is being called from https://github.com/docker/docker/blob/master/libcontainerd/container_windows.go#L272 (in the current codebase, L282 in the commit above).

Th

[2016-09-21 23:56] aboch commented on #26767
From implementation point of view I think this can be done by libnetwork itself when it programs the container's interface, so without drivers involvement.

But agree the API should be sorted out first.

For example, maybe it makes also sense a bandwidth policy per network, where one may want to create one unlimited and one limited network and place containers on each network accordingly ?

[2016-09-22 00:28] vincentwoo commented on #26767
I think largely people will want to configure:

1. Groups of containers with roughly equal quota
2. Individual containers with specific quotas

against various throttling strategies:

1. Max rate with bursting
2. Max flat rate
3. Max total data transferred in time window

[2016-09-22 00:37] mrjana commented on #26590
Yes, this will most likely make it to the patch release.

[2016-09-22 00:43] mrjana commented on #26316
@navinSing `docker network inspect` only shows the containers local to the node where you ran the command. Additionally the service names by default resolves to the VIP which is not pingable so you might want to try pinging the tasks directly either using task names or directly using task IP. I am going to close this since this is not an issue. Please feel free to reopen if you think otherwise.

[2016-09-22 00:43] #26316 closed

[2016-09-22 00:49] mrjana commented on #26244
@jmzwcn if you want to take care of fixing this issue it should be fixed here: https://github.com/docker/docker/blob/master/daemon/cluster/executor/container/adapter.go#L136.

In addition to ignoring `ActiveEndpointsError` it also needs to ignore `NoSuchNetwork` error as defined here https://github.com/docker/libnetwork/blob/master/error.go#L8. This is because when deleting multiple tasks which ar

[2016-09-22 01:13] coolljt0725 commented on #26771
@thaJeztah  @albers  I didn't notice these options is already marked as deprecated.  thanks for the clarification, `I always remove / do not add deprecated options so that people are not encouraged to use them` make sense.

[2016-09-22 01:13] #26771 closed

[2016-09-22 01:17] stevvooe commented on #26781
@runcom No good deed goes unpunished. Unfortunately, the method used to detect TLS for hijacking is _extremely_ broken. #26436 did its best to work around this and confine it. Not to mention the morass that is `sockets.ConfigureTransport`.

I don't think #26794 will fix this fully, as it is probably the caller interacting with https://github.com/docker/docker/blob/master/client/client.go#L93. Basi

[2016-09-22 01:19] Vanuan commented on #26747
Let's wait for two weeks to see if it's reproducible. I've sent a support ticket to DO with a question whether they have any clue what's happened at that time.

[2016-09-22 01:25] stevvooe commented on #26793
I don't this is related to #26781. This is 1.12.1. #26436 may have exposed an already existing issue.

I can't reproduce either at this point.

[2016-09-22 01:26] Murf commented on #23926
I put this in my Dockerfile and it worked great, thanks.
RUN rm -f /etc/localtime && ln -s /usr/share/zoneinfo/Australia/Melbourne /etc/localtime

[2016-09-22 01:26] #23926 closed

[2016-09-22 01:36] stevvooe commented on #26781
Reproduced with client/README.md example:

[code]

The problem is that unix socket + `DOCKER_CERT_PATH` doesn't call `sockets.ConfigureTransport` because `NewClient` assumes the transport is all good to go.

[2016-09-22 01:43] cpuguy83 commented on #26762
Route settings in the container would not persist.
Likewise if you set routes on the host and reboot, the routes will be gone.

Closing as this looks like expected behavior.
Please feel free to discuss here, but these settings are not expected to persist in a container or outside.

[2016-09-22 01:43] #26762 closed

[2016-09-22 02:00] stevvooe opened #26802 "Remove go-connections"
This package is not very helpful and leads to more complex code. The client package has a very complex connection workflow for a very simple http client package.

https://github.com/docker/docker/issues/26781#issuecomment-248790243 is an example of the problems it causes. Mostly, it leads to a convoluted dialer flow that leads to bugs and confusing behavior.

[2016-09-22 02:17] withinboredom commented on #20486
I'm able to reproduce this consistently:

* Slow spinning disks (no fancy ssd)
* `sudo reboot` with the container in question set to `restart=always`

I'll see the container exits with code 1, I'm unable to restart it due to the port being in use by proc `docker-proxy`

[code]

[code]
Yes, you read that right, it's empty

[code]

A reboot almost always fixes the issue, at least in my case. Let me

[2016-09-22 02:20] evanp commented on #26772
Also, as of right now the only way I see to repair this situation once it has arisen is to burn the cluster. It might be possible to just remove all the services, remove the network, and then re-add the network and all the services.

It would be nice if you could use `ipvsadm` to edit and tune the ip_vs network, but I haven't been able to make that work. Even if I manage to `nsenter` into the righ

[2016-09-22 02:45] jmzwcn commented on #26244
Great, I think it is exact. I will verify and submit a PR then.

[2016-09-22 02:55] xiaods commented on #26244
[code]

[2016-09-22 03:25] saithala opened #26806 "Constraints in Docker Engine Swarm mode"
**Description**

I'm using Docker Engine is swarm mode (v1.12) and I have 4 nodes in the cluster. I have two services S1 and S2 where S2 needs S1 to function.  Following are my questions

**Steps to reproduce the issue:**
1. Although S1 and S2 are assigned to the same overlay network, it does not work unless S1 and S2 are scheduled in the same node. I dont understand why. Can someone explain?
2. A

[2016-09-22 03:47] docwhat commented on #25698
@mrjana:

I'm still having issues.  Here is my dockerd logs:

[code]

This is after doing these steps:

[code]

I'm on Linode, as you can probably tell, and it has `nf_nat` and `xt_conntrack` compiled in. I can post the `/proc/config.gz` if you want.

However, `CONFIG_IP_VS` is not set...

[2016-09-22 03:50] ajl commented on #25698
12.1 eventually failed for me. 2 of my services did not respond even without scaling up and down. I'll try the next version when available.

[2016-09-22 03:53] khurram85 commented on #24891
It worked by renaming the containername:tag to foo and somehow now its working with existing containername:tag format as well. Not sure what was wrong earlier.

Thanks for the help @aaronlehmann

[2016-09-22 03:59] mrjana commented on #25698
@docwhat What issues are you having? If `CONFIG_IP_VS` is not set in your kernel config then load balancing is not going to work for you. You need to fix the kernel config.

[2016-09-22 04:01] mrjana commented on #25698
@ajl Just to make sure all issues are fixed can you please provide daemon logs so that I can confirm(or not) that the issue that you are having is already fixed? Without that we won't know for sure if your issue is fixed in the next version.

[2016-09-22 04:08] docwhat commented on #25698
Oh, bite me... I used [these instructions] to switch to Ubuntu's 16.04 distributed kernel and lo-and-behold... it works.

*sigh* Hopefully this helps someone.  It would be nice if `docker swarm init` and maybe `docker service create` printed a warning/error about not having ipvs, since it is a featured selling feature of the new swarm stuff.

[2016-09-22 04:13] mrjana commented on #25698
Good to hear things work for you now.

The problem with printing an error message during swarm init or service create is that we don't at that time where your tasks are going to run. If it is scheduled on a worker node which doesn't have ipvs then it won't work. But we don't know that during service creation for example. But there should be error logs in the problem node's daemon.

But I do agree

[2016-09-22 04:14] ajl commented on #25698
@mrjana I needed to shut down the cluster for unrelated reasons and just tested prior to doing so. Please pardon my ignorance, but if I start it up again will the logs you need still be there?

[2016-09-22 04:17] mrjana commented on #25698
@ajl Yeah if your cluster is simply powered down as opposed to destroyed then yeah the logs should still be there. It would greatly help to take a look at the logs. Thanks.

[2016-09-22 04:17] deviantony opened #26807 "Service creation API documentation is incorrect"
The actual documentation for the creation of a service using the Docker API is incorrect for the port publishing section (at https://docs.docker.com/engine/reference/api/docker_remote_api_v1.24/#/create-a-service)

The **Example request** specifies the following:

[code]

This is totally correct, but the **JSON parameters** shows the following:

[code]

This is totally incorrect and can lead to co

[2016-09-22 04:44] docwhat opened #26808 "Add service name to journald logging"
If I'm using the `journald` logging it would be nice to be able to do `journalctl -xe -u docker.service SERVICE_NAME=myservice` to see what the service logging.

[2016-09-22 05:12] docwhat commented on #25372
Is there a workaround for this? Because this is leaving port 7946 exposed to the world may be a security issue.

[2016-09-22 05:14] npcode commented on #26808
My workaround is using a label as follows:

    docker daemon --log-driver=journald --log-opt labels=com.docker.swarm.service.name

Then you can fetch logs for a specific service:

    journalctl COM_DOCKER_SWARM_SERVICE_NAME=myservice

[2016-09-22 05:31] xeor commented on #19990
I would like this option as well.
As it is now, every volumes created with `docker volume create` would fill up the `/` partition if you don't have `/var/lib/docker` on it's own partition. In my setup, I use devicemapper and lvm-thinpooldev for my storage driver, but as the documentation sais, `docker volume create abc` would bypass this.

The `local` volume driver already supports some options wh

[2016-09-22 05:42] andreas4all commented on #20486
I have problem when I have a classic disc in RAID 5 (one was failed, temporary solution), but when I change this disc to SSD (now I have all SSD disc's in this RAID), everything looks good.

[2016-09-22 05:47] arunbangalore commented on #25893
Please can some one fix this.. its been 4 weeks since being reported..

[2016-09-22 05:51] docwhat commented on #26808
I didn't see that (or any) `log-opt` in the docs. Neat!

[2016-09-22 07:38] MathiasRenner commented on #25892
@alexellis I confirm that this problem does not exist with HypriotOS v. 1.0.1 (it might have been an issue with previous v. 1.0.0)

[2016-09-22 07:38] adityats opened #26810 "docker tag via remote API to private registry returns "invalid reference format""
---
## BUG REPORT INFORMATION

Briefly describe the problem you are having in a few paragraphs.
docker tagging works with CLI, i.e. "docker tag image-name 10.160.0.161:5000/se:sometag". When done programmatically, tagging the image fails with "invalid reference format"

**Steps to reproduce the issue:**
Image tagging with private repo with ":" in its value (private repos are required to be named w

[2016-09-22 07:44] delcypher commented on #26800
@terencechow I hit this recently. I filled a PR to fix the docs but it hasn't been merged yet.

https://github.com/docker/opensource/pull/90
https://github.com/docker/opensource/pull/89

[2016-09-22 08:11] xidui commented on #19164
I also face the same problem at docker 1.12.1 and the restart of docker can not solve this issue:
[code]

I did the following:
[code]

[2016-09-22 08:23] navinSing commented on #26747
facing same problem

[2016-09-22 08:30] thaJeztah commented on #19164
@xidui that is expected; if you explicitly _name_ a volume, docker assumes the data in the volume is important to you, and should not be removed, unless you manually remove the volume (`docker volume rm hahaha`).

If you don't care about the data in a volume, and want it to be removed together with the container, use an "anonymous" volume by leaving out the name;

    docker run -d -v /leetcode d1

[2016-09-22 08:30] anttiviljami commented on #22325
Just ran into this issue again on three different hosts after a `service docker restart`. After the restart, a port-forward was randomly directing to a different container. When trying to delete and restart the container, docker would fail on `docker run` with:

[code]

and yes, I checked that nothing is actually listening on that port, and docker ps doesn't report any container already using it.

[2016-09-22 08:34] justincormack commented on #26798
I think the consensus was that we should release a binary, even if the darwin build is different from the rest. I can do a patch for 1.12.2 branch that patches Go if absolutely necessary.

[2016-09-22 08:36] JamesJJ commented on #26356
`HEALTHCHECK --interval=4s CMD curl --max-time 3 --connect-timeout 2 -sSf http://127.0.0.1:9080/health || exit 1`

It works as expected: Usually starting-> healthy, at container start. Sometimes first check will fail if dependency container is not up yet, but that is only a brief condition (maybe 10 seconds). Only one of the containers has HEALTHCHECK ....  the others do not.

The `Firewalld` mess

[2016-09-22 08:37] Vanuan commented on #26747
@navinSing Are you using DigitalOcean? Can you please show `dmesg -T` output? Is there something interesting at  Sept 20th 13:00 UTC?

[2016-09-22 08:43] justincormack commented on #25877
Can other people check if they had the same issue as @foxos42 - an old kv db - it seems like certainly one way this could happen.

[2016-09-22 08:43] navinSing commented on #26747
Not using digital ocean, but i am not able to ping the tasks by VIPs from another host .. thus "Swarm mode DNS lookup resolves only IPs from the same host", fails to ping VIP from another host.

[2016-09-22 08:44] thaJeztah commented on #26798
Let me add it to the milestone at least, so that we don't forget to discuss

[2016-09-22 08:46] thaJeztah commented on #26798
Related; https://github.com/docker/docker/pull/26389

[2016-09-22 08:52] delcypher commented on #18166
Well it looks if this change is going to happen it needs to happen in runc first. I've opened an issue about it ( https://github.com/opencontainers/runc/issues/1061 ). If the idea gets some traction then I could take a look at propagating the relevant information from runc to docker and visa versa.

[2016-09-22 08:59] thaJeztah commented on #22325
ping @aboch PTAL!

[2016-09-22 09:10] thaJeztah commented on #26771
Thanks!

[2016-09-22 09:15] marcelmfs commented on #23371
Our CI server is upgraded and we removed the workaround that was removing the `local-kv.db` file. Next week I'll have more news on this.

[2016-09-22 09:51] thaJeztah commented on #25698
@mrjana perhaps something to include in `docker node inspect`? (if `CONFIG_IP_VS` is not set)?

[2016-09-22 10:02] dattatrayakumbhar04 commented on #26639
#dibs  I would like to work on this issue.

[2016-09-22 10:15] rajkumar49 commented on #26480
any relation between this ticket and the above fix ?
here hostname means?

[2016-09-22 10:33] milindchawre commented on #20039
#dibs

[2016-09-22 10:36] thaJeztah commented on #20039
Is this related to https://github.com/docker/docker/pull/26804 as well? @cpuguy83 @milindchawre ?

[2016-09-22 10:43] thaJeztah commented on #26807
Thanks for reporting @deviantony. This was also reported here: https://github.com/docker/docker/issues/23597#issuecomment-243324631, and was fixed by https://github.com/docker/docker/pull/26634, which should go out in an update to the online documentation soon.

I'll close this issue because this is fixed, but thanks again for reporting, and feel free to comment after I closed

[2016-09-22 10:43] #26807 closed

[2016-09-22 10:45] thaJeztah commented on #14393
boot2docker is largely replaced by Docker for Windows / Docker for Mac, which both have a troubleshooting section; https://docs.docker.com/docker-for-mac/troubleshoot/, https://docs.docker.com/docker-for-windows/troubleshoot/. I'll close this issue

[2016-09-22 10:45] #14393 closed

[2016-09-22 10:55] michelvocks commented on #26806
Can you please provide us more information that we can help you? What is the error output? Can you ping S2 from S1 (inside the container)?

[2016-09-22 10:55] navinSing commented on #26316
@mrjana  @LK4D4

neither of them work ?

For:  directly using task IP
i just went into task on one host with : docker exec -it  463a4e611092 bash
and then pinged a task on another host : ping 10.0.0.5
and it din't worked, while pinging task on same host works.

For : task name

[code]
cannot get the Name from /tasks endpoint

docker -v
Docker version 1.12.1, build 23cf638

[2016-09-22 10:56] navinSing commented on #26316
can you please repoen

[2016-09-22 10:56] thaJeztah commented on #26800
Thanks @delcypher, I just reviewed those PR's and merged them (sorry I missed them)

[2016-09-22 10:59] delcypher commented on #26800
@thaJeztah No problem. Thanks for merging.

[2016-09-22 10:59] navinSing commented on #26747
neither of them work ?

For:  directly using task IP
i just went into task on one host with : docker exec -it  463a4e611092 bash
and then pinged a task on another host : ping 10.0.0.5
and it din't worked, while pinging task on same host works.

For : task name ( `docker service ps servicea` : just shows task id )
[code]
cannot get the Name from /tasks endpoint

docker -v
Docker version 1.12.1, bui

[2016-09-22 11:05] thaJeztah commented on #26800
FWIW, my usual steps are;

I combine "binary" and "shell" here, not sure that works on Linux, need to check;

[code]

Inside the container;
[code]

(`make install` was added not too long ago, and copies the binaries to `/usr/bin` inside the container)

Run the daemon in debug mode (note that I usually don't run it daemonized (`&`)  - see next step
[code]
In a separate shell, open another shell in

[2016-09-22 11:22] thaJeztah commented on #16182
Closing, because this was addressed in https://github.com/docker/toolbox/pull/488

[2016-09-22 11:22] #16182 closed

[2016-09-22 11:23] thaJeztah commented on #18143
I'm closing this issue, but @manuelmazzuola feel free to comment if you're still running into this on the current version of docker

[2016-09-22 11:23] #18143 closed

[2016-09-22 11:25] thaJeztah commented on #24647
I'm closing this issue, because I don't think we should implement this (see my earlier comments), but feel free to continue the discussion after I closed

[2016-09-22 11:25] #24647 closed

[2016-09-22 11:46] thaJeztah commented on #26316
`docker service ps` should give you the task names, although you need to combine the "name" with the "id" to get the container name;

[code]

So, for example, to exec into `web.1`, and ping `web.3`:

[code]

[2016-09-22 11:52] michaelkrog commented on #25431
I just experienced this as well. I had a seemingly healthy swarm with 1 manager and 2 workers:
[code]

After rebooting all 3 servers the swarm cannot recover.

Following is from the master:
[code]

[2016-09-22 11:53] thaJeztah commented on #26639
Thanks @dattatrayakumbhar04

[2016-09-22 11:57] thaJeztah commented on #26808
There's documentation here; https://docs.docker.com/engine/admin/logging/overview/, but it may need some more examples, and a rewrite / restructure in general

[2016-09-22 12:08] Vanuan commented on #26747
AFAIK, ping is not supposed to work. Docker does some magic, so that only servicename:port works.

[2016-09-22 12:13] thaJeztah commented on #26806
This should work, but if not, possibly there's an issue with overlay networking. At least make sure that the required ports are opened between the nodes;
https://docs.docker.com/engine/swarm/swarm-tutorial/#/open-ports-between-the-hosts

Also, I see you're running docker 1.12.0. A patch update (1.12.1) was released, which fixes various issues. We're also working on a 1.12.2 release for additional

[2016-09-22 12:15] thaJeztah commented on #26747
@navinSing I commented here; https://github.com/docker/docker/issues/26316#issuecomment-248880933

[2016-09-22 12:19] navinSing commented on #26316
just checked, ping **only** works if service is in the same host
[code]

[code]

[2016-09-22 12:23] navinSing commented on #26747
@Vanuan @thaJeztah
there is no magic, everything works by law of nature(code)
ping only worked for same host

[2016-09-22 12:32] cpuguy83 commented on #26810
Can you provide more details? What does your API request look like?

[2016-09-22 12:39] cpuguy83 commented on #20039
Could be.
Actually thought I fixed this once.

[2016-09-22 13:02] whitelynx commented on #24045
Just to make sure @dsheets and @ijc25 see this... I'm running into this issue as well. I opened docker/for-mac#690, and my Diagnostic ID is: C622A34B-A4E6-4C6C-8DA5-4B6D96D63BE0

Sadly, as with several others, I can't really give repro steps because the codebase I'm working with is private.

[2016-09-22 13:05] jerko opened #26815 "Admin please delete this Issue this is mistake"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2016-09-22 13:10] #26815 closed

[2016-09-22 13:20] pwaller opened #26816 ""Sending build context to daemon" performance with large projects"
For a moderately large project, with the whole build cached, `docker build` consumes 33 CPU seconds on the client. It should be at last 50x faster than this.

The build context I'm using has 26,913 files in it across 8,870 MiB. Of which, most are ignored via a `.dockerignore` with 12 lines in it, only 14,253 files and 1,145 MiB gets sent to the docker daemon.

33 CPU seconds is considerably more t

[2016-09-22 13:26] pwaller commented on #26816
If I remember correctly, `docker build` does a check that the `Dockerfile` is not ignored, and it does that by considering all files, and this takes time.

[2016-09-22 13:28] justincormack commented on #26816
This is a duplicate of #23470 - can you also see if my comment there about constructing the tarfile yourself helps for your case?

[2016-09-22 13:32] pwaller commented on #26816
Ah yes, so it is, thanks @justincormack!

[2016-09-22 13:32] #26816 closed

[2016-09-22 13:33] pwaller commented on #23470
Just to mention this duplicate I just filed: https://github.com/docker/docker/issues/26816

And work I started in the past (but don't have time to finish) which made docker build ~100x more CPU efficient for me: https://github.com/docker/docker/pull/20128.

[2016-09-22 13:38] JettJones opened #26817 "Docker swarm mode - published ports are not exposed"
**Description**

When exposing ports in swarm mode, the container ports are not exposed.  This is unexpected because similar commands in `docker-compose` or `docker run` do expose the related ports.

This issue may affect any existing docker workflows moving to swarm mode, using `docker-compose bundle` or manually.

I saw this in a larger setup, using consul/registrator for logstash service discov

[2016-09-22 13:38] thaJeztah commented on #26535
Thanks @rhatdan. Closing this issue

[2016-09-22 13:38] #26535 closed

[2016-09-22 13:41] thaJeztah commented on #24155
Looks like this issue is answered, so tentatively closing, but feel free to comment if you think I closed prematurely

[2016-09-22 13:41] #24155 closed

[2016-09-22 13:46] bbayani commented on #26346
#13697 Can I take this issue up? Just a beginner, looks like its a low impact, beginner-level issue. Can I give it a try to fix it?

[2016-09-22 13:50] thaJeztah commented on #26346
@bbayani sure, go ahead!

[2016-09-22 13:53] saithala commented on #26806
@thaJeztah Thanks for your response. In our environemnt, all the hosts are in the same subnet so there should be no restrictions on ports. Any other reason you can think of

[2016-09-22 13:57] guestisp opened #26818 "Bad reference in docker volumes tutorial"
In docker volumes tutorial there is still wrote
[code]

This was fixed last year: http://www.spinics.net/lists/linux-containers/msg31063.html

[2016-09-22 13:59] thaJeztah commented on #26817
This is expected; port publishing for services works different than for "regular" containers;

When creating a service, ports of the containers backing the service are themselves not published directly, but go through the built-in load balancing for Swarm mode.

Inspecting individual containers, therefore doesn't show published ports, but inspecting the _service_ will show the ports that are publi

[2016-09-22 14:00] sabretus commented on #26434
Have the same issue, download from V1 and push to V2 fails with the same error, docker version 1.11.2. Unfortunately can't send image to analyze.

[2016-09-22 14:03] thaJeztah commented on #26818
Thanks! Do you know if this has been back ported to older kernel versions?

[2016-09-22 14:15] thaJeztah commented on #26806
@saithala not directly, but it looks similar to https://github.com/docker/docker/issues/26747 (and some other issues), although some issues can have the same effect, but a different cause

/cc @mrjana

[2016-09-22 14:44] TanmayaA commented on #26434
@aaronlehmann sent. Please confirm

[2016-09-22 14:46] dev6 opened #26822 "Cannot start service nginx: oci runtime error: caused "not a directory""
**Mounting files or volumes from Linux host to container in docker-machine**

I have this user rights problem which I think is an issue with the docker itself and user rights assigned to it in Ubuntu version of Linux.
I first installed `docker engine, docker compose` and created basic Nginx, PHP containers. I used sudo privileges when creating and running these containers with no issues using `doc

[2016-09-22 14:55] brimworks commented on #23793
I also ran into this problem and found out it was caused by `systemctl is-system-running` printing initializing or starting. I was able to work around the problem by waiting until this command printed strings other than initializing or starting.

Hope That Helps,
-Brian

[2016-09-22 14:59] thaJeztah commented on #26817
I'll close this issue, because this works as expected, but feel free to continue the discussion

[2016-09-22 14:59] #26817 closed

[2016-09-22 15:00] jrslv commented on #26798
All `docker-machine` and `docker` issues I experienced after upgrading to Sierra (go panics, `unexpected EOF` during `docker-machine create`, hanging `docker build`, segfaults and more) were fixed by this command: `sudo launchctl unload /System/Library/LaunchDaemons/org.ntp.ntpd.plist`

[2016-09-22 15:05] guestisp commented on #26818
Directly from the mailinglist:

It was fixed in kernel 4.3 and backported to all longterm stable kernels

[2016-09-22 15:06] tophj-ibm opened #26823 "apparmor: no apparmor profile when installing from 1.13 deb"
**Description**

On a fresh x86_64 14.04 docker 1.13.0 install from upstream 'make deb', any sort of container creation throws oci runtime error: apparmor failed to apply profile: no such file or directory. This seems to be because there is no docker-default apparmor profile on the system at all.

Note: tested a 1.12.1 deb on the same machine and it worked as expected.

**Steps to reproduce the is

[2016-09-22 15:10] thaJeztah commented on #26818
Awesome! Would you like to contribute, and open a pull request to make the changes to that part of the docs? The Markdown file for generating that page in the documentation can be found in this repository; https://github.com/docker/docker/blob/368a27a8d80337918d465c8c98100a4e22d9ef1a/docs/tutorials/dockervolumes.md#L162

[2016-09-22 15:18] justincormack commented on #26823
Can you see which directory it is missing?

[2016-09-22 15:19] sampeka commented on #2588
Sorry to resurrect an old issue, its the top result on google at the moment. Did this feature ever make its way into a release? The pull referenced above has been merged but links are still one-directional.

[2016-09-22 15:19] justincormack commented on #26823
This is the only recent change that I can think of https://github.com/docker/docker/pull/26518

[2016-09-22 15:21] mrjana commented on #26316
@navinSing From your output dump I cannot see what the state of the task your pinging is. Is it running? Can you dump the whole content of `docker service ps`. Also are both these services part of the same network?

If all things check ok, check your daemon logs to see if the gossip channel has some errors/failures. The logs for these errors will have the term `memberlist` in it.

[2016-09-22 15:21] brucellino commented on #14048
Can I just say that `--device=/dev/fuse --security-opt apparmor:unconfined` sounds  like :angel: :microphone: :notes: :guitar: I've been struggling for months.

[2016-09-22 15:22] aanand commented on #26705
@tonistiigi I didn't know about `docker start -a`! That will probably work, yes. I'll close this and reopen if it turns out it doesn't work for any reason. Thanks.

[2016-09-22 15:22] #26705 closed

[2016-09-22 15:23] cpuguy83 commented on #2588
@sampeka links are unidirectional. For bi-direcitonal the containers must share a common network, then you can reach them by name, network alias, or even by link-alias (which is container-local).

[2016-09-22 15:23] mrjana commented on #26806
@saithala If you are trying to ping service names (which resolves to VIP) it is not supposed to work. Can you confirm if you are trying to ping the VIP or directly the task container?

[2016-09-22 15:27] senden9 opened #26824 "[feature request] nftables support"
related:

- https://github.com/docker/for-linux/issues/1472
- https://github.com/moby/moby/issues/49020

Docker seems to be optimized for iptables at the moment. Are there any plans to support nftables in future versions of Docker?

My workaround at the moment is to deactivate the iptables integration via `--iptables=false` and then set the right rules for nftables by hand.

[2016-09-22 15:34] saithala commented on #26806
@mrjana  So in the example I gave, S1 and S2, one of them is a config service whose job is to just load configurations and the other service is supposed to consume the configurations provided by the config service. So this is just a service to service communication where one service is trying to access the other service by its name. Does that answer your question?

[2016-09-22 15:36] justincormack commented on #26363
@jfusterm  It is fixed now if you do `apk update && apk upgrade`, the base image should be updated soon on hub.

[2016-09-22 15:42] sanmai-NL commented on #21142
Where is the doc and/or schema for the output generated by `docker inspect -f '{{json .State.Health}}'`? I didn't see this discussed in this thread or elsewhere.

[2016-09-22 15:51] thaJeztah commented on #26824
I'm not aware of plans in this direction

ping @aboch is this planned? Worth doing?

[2016-09-22 15:56] navinSing commented on #26316
docker service ps serviceaa
ID                         NAME                           IMAGE        NODE             DESIRED STATE  CURRENT STATE          ERROR
3k7gsjffz4b9zp7pwf69gtt7j  serviceaa.1      mo-vo:6.3.1  vvw-GA-78LMT-41  Running        Running 9 hours ago

 docker service ps servicebb
ID                         NAME                           IMAGE        NODE             DESIRED STATE

[2016-09-22 15:56] mavenugo commented on #22693
@pcgeek86 @codercotton @bhaskarcloudyuga The issue was originally filed for 1.9.1 . To begin with, it will help if you can share the docker version that you are trying. The error message `Error response from daemon: datastore for scope "global" is not initialized` indicates that external kv-store is not configured or not reachable.

Having said that, docker 1.12 introduced swarm-mode and with that

[2016-09-22 15:59] a-robinson opened #26826 "`service update` for a 1-replica service leads to poor spreading"
**Description**

When updating the arguments to a swarm mode service, the ordering of bringing the old container down and the new container up can lead to poor scheduling decisions in some circumstances.

The general scenario where we've been hitting this is that we create a 3 node swarm mode cluster, then create 3 replicas of cockroachdb in the cluster by making 3 services with one replica each.

[2016-09-22 16:00] a-robinson commented on #26826
cc @jseldess

[2016-09-22 16:00] xeor commented on #21990
There should really be an option for this, something like `com.docker.network.bridge.enable_hc` for `host communication`. The containers should not be able to talk to the ports the docker daemon server is listening on as default imh.

My fix is to block it all using iptables, then having 1 network dedicated to this for those few odd cases when you want it.

[code]

[2016-09-22 16:06] bacaldwell commented on #26760
Are there any reference (out of process) graphdrivers that use this pluginv2 API? I'm working on a graph driver plug-in that uses the old API: https://github.com/bacaldwell/lustre-graph-driver

[2016-09-22 16:26] cpuguy83 commented on #19990
@xeor `docker volume create --opt type=none --opt device=<host path> --opt o=bind`

If the host path does not exist, it will not be created.

[2016-09-22 16:30] tophj-ibm commented on #26823
probably related as it's missing /etc/apparmor.d/docker (and cache).

[2016-09-22 16:48] xeor commented on #19990
@cpuguy83 thats great! worked perfectly! thanks!

@CWSpear isnt this exactly what you wanted in the beginning before making the plugin?

[2016-09-22 16:49] aboch commented on #26824
I remember @mrjana had thought of using nftables last year. He knows more about the plan.
From what I read online, it seems nftables made it into kernel 3.13. Given docker supports up to linux 3.10, it may not be possible to move to nftables yet.

[2016-09-22 17:00] dtmistry commented on #26530
I'm seeing this issue as well. But, I'm able create to recreate the 'docker service' on the same ports. The problem is, if I try to start a process which requires that port on the host/vm, it fails since dockerd is stilling listening on that port

**Steps to reproduce**

`docker service create --name nginx -p 80:80 -p 443:443 --mode global nginx`

`docker service rm nginx`

`netstat -ln --program`

[2016-09-22 17:04] mrjana commented on #26806
@saithala The question was more specific than that? How are they trying to communicate? Are they using a TCP connection and if so are they using the ports that the apps are actually listening on?

If the communication is not just ping and you are saying they work in the same host, did you make sure these set ports are open in your host: 7946/tcp, 7946/udp and 4789/udp?

[2016-09-22 17:06] mrjana commented on #26824
Yeah nftables are not in the kernel until 3.14 and we can't use it to generally replace iptables yet.

[2016-09-22 17:08] CWSpear commented on #19990
@xeor I think so...!

@cpuguy83 Can you explain those opts? Where are they documented? How long has this been possible?

[2016-09-22 17:12] cpuguy83 commented on #19990
It was added in 1.12, I think, maybe 1.11.
Opts are (generally) just the same options you pass to the `mount` command.

[2016-09-22 17:16] aaronlehmann commented on #24891
Thanks. I'll close this since it seems to be working now.

[2016-09-22 17:16] #24891 closed

[2016-09-22 17:20] aaronlehmann commented on #26434
Received the file. I'll take a look.

[2016-09-22 17:31] adityats commented on #26810
docker tag 3da7766027e0 10.160.0.161:5000/ase:version-str, works

echo -e "POST /images/3da7766027e0/tag?repo=10.160.0.161:5000/ase&force=1&tag=version-str", threw an error

[2016-09-22 17:34] cpuguy83 commented on #26810
@adityats If you put the daemon in debug mode, it will spit out the post form data as json. Might help to compare.

[2016-09-22 17:35] saithala commented on #26806
@mrjana  I think the issue that i have is similar to the another issue Im having now. I have a discovery service and I have published that port to the swarm while creating the service --publish 8761:8761. The service which is trying to register with the discovery is doing so using the http protocol. http://discovery:8761. The error in this case is hostnotreachable. if I attach to the container and

[2016-09-22 17:37] thaJeztah opened #26828 "Check / improve documentation on daemon shutdown mechanics"
Just putting this down here so we don't forget;

We don't have clear documentation on how "daemon shutdown" works; i.e. timeout of containers, stop, kill. Also what happens if a container fails to be killed.

Another point brought up by @mlaventure is that `systemd` also uses a timeout, so the daemon itself may be killed before it finishes shutdown.

[2016-09-22 17:44] JettJones commented on #26817
I think that there's enough inconsistency here that this is still a bug.  Probably my issue title goes too far in assuming the solution, what if we called it _'swarm mode needs an option to expose container ports'_.

Lets take this step by step, let me know if one of these has a bad assumption:
* If the image does not expose port 8080, after running `service create --publish 8080:8080` the swarm r

[2016-09-22 17:44] aluzzardi commented on #26702
@thaJeztah I would think so, yes. @mavenugo @mrjana ?

Also, no matter what, we need a better status reporting. Tasks were stuck in "NEW" (the state before "ALLOCATED") but it would make more sense to have an "ALLOCATING" state (tasks were stuck in the allocator because we ran out of IPs).

[2016-09-22 17:48] aaronlehmann commented on #26702
Not sure I see the need for an additional state. I think it would be more useful to have the allocator put an error message on the tasks, and make that error clearly visible.

[2016-09-22 17:50] xeor commented on #19990
Docker volume create --magic could use some more documenation for stuff like this. "generally just the same as `mount`" is very wage... (but thanks) :)

If I do a bind-mount manually;

[code]

It is not easy to get the options.. `type=none`, `device=..`, `o=bind`?...

[2016-09-22 17:54] CWSpear commented on #19990
Yeah, I've been digging... I'm quite confused, too. I'm not a `mount` master, but I'm with @xeor. Some clarification would be dandy... link to code or docs would be swell as well.

I'm looking through code a bit, but day job is calling... if I find anything, I'll post.

Cc @cpuguy83

[2016-09-22 17:58] thaJeztah commented on #26817
`EXPOSE 8080` is only for "introspection" of the container, it does not _expose_ ports. (see https://docs.docker.com/engine/reference/builder/#/expose), so even without `EXPOSE` in the Dockerfile, a container can expose any port it wants.

`docker service create --publish 8080:8080` in _practice_ works similar to `docker run --publish 8080:8080`; port `8080` of the container is published at port `

[2016-09-22 18:13] dadgar opened #26829 "Ability to tee logs across logging drivers"
Hey,

There should be the ability to tee logs between multiple logging drivers. This would also have the nice benefit that `docker logs` could work even with a logging driver specified.

Thanks,
Alex

[2016-09-22 18:15] terencechow commented on #26800
Thanks! I will close this now.

[2016-09-22 18:15] #26800 closed

[2016-09-22 18:18] anusha-ragunathan commented on #26760
@bacaldwell : There are no reference graphdrivers yet. FYI, the graphdriver plugin API (along with other subsystem plugin API) remains unchanged. What has changed is the way the plugin gets built, shipped and run.

[2016-09-22 18:46] cpuguy83 commented on #26829
This is a dup of #17910

[2016-09-22 18:46] #26829 closed

[2016-09-22 18:50] cpuguy83 commented on #19990
@CWSpear https://docs.docker.com/engine/reference/commandline/volume_create/#/driver-specific-options

[2016-09-22 18:51] cpuguy83 commented on #19990
Options are passed in literally to the `mount` syscall. We may add special cases for certain "types" because they are awkward to use... like the nfs example referenced above.

[2016-09-22 18:57] dattatrayakumbhar opened #26831 "Change Error message when volume already exist while docker volume create"
**Description**
I am creating new volume with same name and volume with same name is already exist.
and both volume names are with different. Its expected that we should get an error.
We just need small change in error message as per https://docs.docker.com/engine/reference/commandline/volume_create/

Steps to reproduce the issue:
1. Create volume no. 1 with below command
   docker volume create -

[2016-09-22 18:59] dattatrayakumbhar04 commented on #26831
Hi, If its an issue as beginner, I would like to work on it .

[2016-09-22 18:59] rosenfeld commented on #26146
I would vote for Docker to ask by default when in an interactive session: "Do you want to keep the downloaded layers on disk to resume later?"

[2016-09-22 19:04] cdancy commented on #8798
@thaJeztah is there support for `user` through the remote API? [Poking around](https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/#/exec-create) I don't see anything. Am I missing something?

[2016-09-22 19:09] stevvooe commented on #20039
@cpuguy83 Most likely, it was reintroduced by the pile of spaghetti that is go-connections. I don't really have time but this whole piece of garbage needs to ripped out. What a waste of time and code.

[2016-09-22 19:21] stevvooe commented on #20039
@cpuguy83 Here is a little insight https://github.com/docker/docker/issues/9221 and ae9bd580. For some reason, we think it is a good idea to try to enable tls when the flag is set, even though it is a unix socket connection. Seems like the address specified should enable tls, like normal people.

[2016-09-22 19:30] cpuguy83 commented on #8798
@cdancy doc is likely out of date.

[2016-09-22 19:54] aboch commented on #22325
@anttiviljami thanks for the details.
I have not been able to reproduce the original problem yet.

Just to confirm:

When you start the containers, do you specify an explicit host port for each, or do you let docker pick one from that range (which is also possible with`-p <ip>:<30000-50000>:<cont port>`) ?

Do your containers have any `--restart` policy ?

Also you confirmed that after removing an

[2016-09-22 20:00] evanp commented on #26772
So, I spent some time this morning trying to replicate the error, and I couldn't do it in a test environment as described above.

My next step is to set the debugging flag on a Docker node in our production environment and then do an update on a service in that node. If it causes the same problem, we'll at least have the logs necessary to explain it.

[2016-09-22 20:00] diogomonica commented on #25372
@docwhat we're using encryption for all memberlist communications, so it shouldn't be an issue. This said, I definitely would like to hear if there is a reason for this or if it's just an oversight. Ideally `--listen-addr` would behave the same for all ports.

[2016-09-22 20:01] mrjana commented on #25372
Yeah it's a bug and we are already fixing it: https://github.com/docker/libnetwork/pull/1460

[2016-09-22 20:10] mrjana commented on #24310
@dperny Can you share details on the problem that you are seeing?

[2016-09-22 20:10] cdancy commented on #8798
@cpuguy83 or @thaJeztah is the proper syntax out somewhere? Can't seem to find within the source that admittedly I'm not the most familiar with its structure and layout.

[2016-09-22 20:11] terencechow commented on #26800
@thaJeztah @delcypher sorry for asking a question after closing, but this is related to the suggestions given.

I see now that my container is mounted to my local repo with changes in my local repo showing instantly in the files in the container. (I see this by running `echo $(cat file)` in the container and see changes made immediately)

However I don't actually see that change with docker.

In t

[2016-09-22 20:12] cpuguy83 commented on #8798
@cdancy It's probably `"User": "<user>:<group>"`

[2016-09-22 20:15] xeor commented on #19990
@cpuguy83 should the docs be updated with the bind-mount example and some more clarifications? I imagine there are a ton of usecases for different types of mount options.

[2016-09-22 20:17] mrjana commented on #25698
@thaJeztah Yeah we can piggy back on `NodeDescription` state and provide more state about this. In fact we can even avoid scheduling on nodes which lack ip_vs the services which are have attached networks. We just need to identify the type definitions for that model since we can't clearly be exposing ip_vs in the model as it is too internal and too low level and should be replaceable.

[2016-09-22 20:19] cpuguy83 commented on #26831
Works for me, thanks!

[2016-09-22 20:26] thaJeztah commented on #8798
You're correct; it looks like that PR went in without docs review,
and only the CLI docs were updated, but not the API docs
https://github.com/docker/docker/pull/12025

I'll open a PR to fix

[2016-09-22 20:31] JettJones commented on #26817
Thanks for trying the repro - looks my mistake when setting that up this morning.  Running again after rmi and rebuild, the node service is coming up as expected in swarm mode.  I never saw an error from `docker service inspect`, `docker service ps`, or `docker logs` on the containers that spawned every 5 seconds.

Since service create connectivity is working, that greatly reduces the scope of thi

[2016-09-22 20:34] dattatrayakumbhar04 commented on #26831
Somehow, Its still not working ..
![image](https://cloud.githubusercontent.com/assets/21226676/18765147/076554c6-8132-11e6-8760-501751faaee5.png)

[2016-09-22 20:35] cpuguy83 commented on #23545
Actually, I found my issue, related to setting DOCKER_GRAPHDRIVER, which is unrelated to d4m.

I think we can close this.
@aaronlehmann Have you had any other issues?

[2016-09-22 20:48] aaronlehmann commented on #23545
When I remove the `BINDDIR= DOCKER_HOST=unix:///var/run/docker.sock` environment variable settings, tests fail like this (different error than before):

[code]

[2016-09-22 20:51] aluzzardi commented on #26702
@aaronlehmann However the task would be in `NEW` state with an error, right? I believe tasks that can't be allocated are simply kept aside and allocated when possible. Should we change to behavior to fail them on the spot? This would trigger a reschedule loop however.

[2016-09-22 20:55] aaronlehmann commented on #26702
Yeah. I think it's mainly a UI problem where the user doesn't have a good way of knowing that a task in a state like `NEW` may have an error message attached.

[2016-09-22 21:08] sanimej commented on #26235
@virtuman In my cluster I enabled firewalld on one of the worker nodes. I wasn't able to access the published port of the task only on that node. I just brought up firewalld on this node without any change to the zone/interface membership configs. It looks like the inter-host vxlan encapsulated packets are getting dropped by this rule in the INPUT chain..

`REJECT     all  --  *      *       0.0.0

[2016-09-22 21:11] pascalandy commented on #26702
Gents, could you sure how I could create a new network with such requirement? (I could not find how and broke my stack many times LOL.)

[2016-09-22 21:11] sanimej commented on #24882
Closing this issue. We can use #26235 for tracking this.

[2016-09-22 21:11] #24882 closed

[2016-09-22 21:12] pascalandy commented on #26702
Gents, could you show me how I can create a new network with such requirement? (I didn't find how and broke my stack many times LOL.)

[2016-09-22 21:14] mrjana commented on #26702
@pascalandy Creating a network with larger subnet is simple. Just create one like this `docker network create --subnet=10.1.0.0/16 -d overlay foo`.

[2016-09-22 21:18] dperny commented on #26702
![screen shot 2016-09-22 at 2 17 13 pm](https://cloud.githubusercontent.com/assets/2367858/18766478/4d5d47bc-80cf-11e6-87f3-03efa32bb0ae.png)

Service `small` is attached to a network called `test-small` created like
[code]

Service `big` is attached to a network called `test-big` created like
[code]

[2016-09-22 21:22] mrjana commented on #26702
@thaJeztah @aluzzardi Surely the submitter of this issue needs a bigger subnet. But it's a tradeoff between number of networks and number of containers per network. There was a suggestion to use a /20 default that would strike a balance but I don't think we have enough data points yet to change the default subnet size.

However if we cut over to ipv6 as the default for all overlay networks all of

[2016-09-22 21:41] dnephin commented on #2583
Duplicate of #22931 which has more recent discussion, so closing this

[2016-09-22 21:41] #2583 closed

[2016-09-22 21:45] RangerMauve commented on #25952
I think I might be having the same problem. In my case it started with having 4 copies of a service when I had the scale set to 1. This happened after my cluster of three nodes got split up and had trouble communicating with each other. I'm not sure why it scaled up to that many, but there was something like three on one VM and one on another. After scaling it 1 the load balancer wasn't working as

[2016-09-22 21:58] LK4D4 commented on #26588
@mrjana Some suspicious lines from logs: https://gist.github.com/tonistiigi/00de73e9a25bf7f404ec8cc563a03429#file-docker-log-L517-L565

[2016-09-22 22:05] e2designs opened #26838 "Docker containers respond to ICMP without using host network"
**Description**

After creating a new container in interactive mode. The container is responding to ICMP requests for various ip addresses. These responses still occur when the host has no physical or wireless network connections.

**Steps to reproduce the issue:**
1. Start new container with ubuntu:trusty or centos:latest
2. Run `ping 10.0.0.0` or any other ip address you know the host is unable

[2016-09-22 22:27] tonistiigi commented on #26065
Some notes from #26839

- Specifying multiple `--cache-from` images is bit problematic. If both images match there is no way(without doing multiple passes) to figure out what image to use. So we pick the first one(let user control the priority) but that may not be the longest chain we could have matched in the end. If we allow matching against one image for some commands and later switch to a diff

[2016-09-22 22:42] nishanttotla commented on #25952
@RangerMauve your issue sounds like a routing mesh issue. Some related issues have been fixed since 1.12.1. Since your tasks were able to start, doesn't sound like you had registry authentication issues.

[2016-09-22 22:46] cookieisaac opened #26840 "`id` command cannot show correct group information inside container with mounted /etc/group and /etc/passwd files"
**Description**

`id` command cannot show correct user information with mounted `/etc/passwd` and `/etc/group` file for docker ubuntu 1.12.1 and suse 1.11.1 distribution

**Steps to reproduce the issue:**
1 Prepare the following file called `passwd` with the following content

[code]

2  Prepare the following file called `group` with the following content

[code]

3  Start a docker container with

[2016-09-22 22:46] thaJeztah commented on #26817
@JettJones I don't think there's a need to create variations of your image, as registrator allows you to set overrides through labels or env-vars; http://gliderlabs.com/registrator/latest/user/services/#container-overrides, so if you need information about the individual containers, use `--container-label`, or to set the labels on the _service_, use `--label`

[2016-09-22 22:48] fengli79 commented on #735
INCLUDE +1

[2016-09-22 22:54] timotheecour opened #26841 "`Cannot connect to the Docker daemon` when inside tmux"
[code]

[2016-09-22 23:05] mrjana commented on #26588
It exposes a iptable rule plumbing race in overlay driver in kernels < 3.16. Will fix it libnetwork.

[2016-09-22 23:16] cpuguy83 commented on #26841
There are a couple of things that could be causing this:

1. No permissions to the unix socket that docker is listening on (by default need user root or group "docker")
2. Environment variables can be used to configure the client. If you are firing up a new shell (as you are with tmux) and these environment variables aren't set, the client may not be able to connect.

Ultimately this is not a Dock

[2016-09-22 23:16] #26841 closed

[2016-09-22 23:22] cpuguy83 commented on #26840
ping @crosbymichael

I imagine this is because you specified `-u 5563` without specifying a group ID.
So the process is actually started with group 0 even though /etc/group has the user in an additional group.

But I'm not sure what the "correct" thing to do is here.

[2016-09-22 23:23] cpuguy83 commented on #26840
btw, if you want to specify custom groups, it would be better to do `-u 5563:2222 --group-add <gid> --group-add <gid>`

[2016-09-22 23:31] rtuk commented on #26696
@mrjana implementing this feature would be really appreciated, we are looking forward to updates on the subject.
@aluzzardi the concept is clear, we will be implementing a load balancer to solve our problem, and hopefully changing it to assigned IP addresses if and when that possibility is added.

[2016-09-23 00:07] JettJones commented on #26817
From the compose docs:

So I don't believe the `IP` or `Port` can be overridden by environment values or labels in the same way.

I tried the following variations:
[code]
To which registrator replied:
[code]

Maybe I'm misunderstanding your suggestion though.

[2016-09-23 01:45] aaronlehmann commented on #26434
@TanmayaA: This has been tracked down to a bug in the `tar-split` library. We're working on a fix for `tar-split` and should submit it upstream soon.

Thanks again for providing an image that exhibited the problem.

[2016-09-23 01:47] mlaventure commented on #26240
@625096233 still having this issue?

[2016-09-23 01:57] xuant opened #26845 "Bug in docker/docker/registry"
**Description**
Basically, you cannot import "github.com/docker/docker/registry" from your own program.

I'm trying to interact with my own docker registry using "github.com/docker/docker/registry" from the master branch. I met with the following error:
[code]

**Steps to reproduce the issue:**
1. Create some go program that import "github.com/docker/docker/registry", for example:
[code]
2. Run
[c

[2016-09-23 02:00] sivaramakrishnansr opened #26846 "er info"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2016-09-23 02:10] #26846 closed

[2016-09-23 02:22] mrjana commented on #26806
@saithala Trying to attach to `ingress` network is your problem. You should not use `ingress` for your intra-cluster connectivity purposes. It should always be done using a network that you define. If you do so it will work. In fact we should forbid attaching to ingress network in code.

[2016-09-23 02:26] cookieisaac commented on #26840
@cpuguy83 Thanks for the information, that actually helped me work around my current problem.

[Note that I only used `-u 5563` because docker doesn't allow me to use `-u shuffle` anymore... I thought previous behavior is that when I use string name `shuffle`, it would use all the information in `/etc/passwd` including the primary group information]

[2016-09-23 02:27] sanimej commented on #26356
#26844 brings in the change to fix the first crash reported in this issue. Second one is a different decode and can be tracked by a separate issue.

[2016-09-23 03:22] RangerMauve commented on #25952
@nishanttotla Yeah, I just realized after I posted already. I'll look into it some more tomorrow. 😛

[2016-09-23 03:51] young-py opened #26847 "raise an error when rm a stoped container"
**Description**
When I stop a container and then rm it, docker raise an error.

[code]

**Steps to reproduce the issue:**
1. `docker stop baseimage`
2. `docker rm baseimage`

**Describe the results you received:**

I received an error

[code]

When I exec command `docker ps -a`, I received information as follows:

[code]

**Describe the results you expected:**

I expect I can rm a container

**Add

[2016-09-23 03:56] #25848 closed

[2016-09-23 03:56] #26075 closed

[2016-09-23 03:57] n1t1nv3rma commented on #14948
It's still not working!

[root@master ~]# uname -a
Linux master.localdomain 3.10.0-327.36.1.el7.x86_64 #1 SMP Sun Sep 18 13:04:29 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

[root@master ~]# more /etc/redhat-release
CentOS Linux release 7.2.1511 (Core)

[root@master ~]# docker -v
Docker version 1.12.1, build 23cf638

[root@master ~]# docker info | grep -i log
 WARNING: Usage of loopback devices is st

[2016-09-23 04:15] xidui commented on #19164
@thaJeztah
Thanks for your informative explanation! I have tried your method and works well!

[2016-09-23 04:41] pascalandy commented on #26702
It works but is totally unstable. The reverse proxy goes nuts. Like the webpage on officially online but the page is blank, nothing in the source of that page !? I reproduced these issue over DigitalOcean and Scaleway.

Using basic docker network create is solid. My conclusion at this time is to live with a maximum of 252 containers per network.

[2016-09-23 04:45] pascalandy commented on #26702
BTW, I think you could remove the label 'status more-info-needed' :)

[2016-09-23 04:48] twang2218 commented on #5618
@RRAlex The mentioned commits is on ddstreet's branch ~ddstreet/+git/linux:lp1403152-xenial, here is the log: https://code.launchpad.net/~ddstreet/+git/linux/+ref/lp1403152-xenial
So, anyone with this issue on Ubuntu 16.04 can give it a try. https://launchpad.net/~ddstreet/+archive/ubuntu/lp1403152

[2016-09-23 05:00] virtuman commented on #26235
For some reason neither of the two options seem to work in my case:

**Here's what I tried so far:**
1) stop firewalld on all nodes
2) restart docker on all nodes
3) start up firewalld on only one node
4) just in case - restart docker again on this node

**Result - Fail:**
1) can access poublished port on all nodes except the node that has firewalld running

Find the rule:
**# iptables -L -v -n --

[2016-09-23 05:29] jmzwcn commented on #26244
Anybody know how to build a local docker binary? Docker-in-docker(https://docs.docker.com/opensource/project/set-up-dev-env/) seems not to work in swarm mode.

[2016-09-23 06:25] docwhat commented on #25698
Well, it isn't really whether it has ipvs. It is that the node isn't ready or able to handle services. Specifically services that match that network.  So maybe a list of the created networks it cam handle?

That would allow smart service scheduling across a heterogeneous swarm of nodes where some are on one subnet or a second network.

[2016-09-23 06:41] thaJeztah commented on #25848
ping @icecrime this now gets into 1.13; or still needed for 1.12.2? (I see you removed it from the milestone)

[2016-09-23 06:47] pascalandy commented on #25016
+1 !. I want to create a cluster for MySQL via Create.

I think this issue shall have a label / 1.12 / swarm-area

[2016-09-23 06:56] sanimej commented on #26235
@virtuman When I had firewalld running on one of the nodes, I was probably accessing the service's published port through the IP of other nodes in the cluster. Task on the node with firewalld running was accessible after I removed the INPUT chain rule that I mentioned earlier.

But when I accessed the port with the IP of the node that has firewalld running it didn't work. This is probably what you

[2016-09-23 07:09] TanmayaA commented on #26434
@aaronlehmann Thanks for the quick work! May I have an ETA on this if possible? I'm blocked due to this, and have more than 30k images to migrate :(

[2016-09-23 07:24] thaJeztah commented on #26806
@mrjana see https://github.com/docker/docker/issues/25396, but there's some discussion, perhaps you could have a look

[2016-09-23 07:30] orent commented on #20873
As a thought experiment, here is how building a docker image might works entirely on the client side using the remote API, using the unmodified current daemon:

The client-side builder executes dockerfile steps one by one. The result of each step is a new container based on the the previous step. All state information is stored in the container info or images layers. The container of the previous

[2016-09-23 07:40] MABIY opened #26851 "docker pull with long time end throw"
Client:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   23cf638
 Built:
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   23cf638
 Built:
 OS/Arch:      linux/amd64

when l pull a big images with long time  then throw  infomations like blow.
Error response from daemon: Get https://registry-1.docker.io

[2016-09-23 07:49] xeor commented on #24799
I just found this issue because I thought they was for different things.
Aliases are fine, but at least mark them clearly as "aliase for ..." in `--help`..

[2016-09-23 08:01] manast opened #26852 "Automatic sharing images within a swarm"
It is probably the case that the recommended way of working with images and a swarm of nodes is to use a private image registry or docker cloud solution. However, I feel that the current design (and documentation) is a bit incomplete. The problem is that if you are a newcomer and start creating your swarm, when you build your image on one of the swarm leaders, and then starts a service using that

[2016-09-23 08:08] thaJeztah commented on #26851
Can you also give the output of `docker info`? Looking at your description "127.0.0.1:443: getsockopt: connection refused" - are you using a proxy server?

[2016-09-23 08:13] thaJeztah commented on #5618
Possibly @sforshee knows (for the Ubuntu kernel)

[2016-09-23 08:29] Khazrak opened #26853 "Remote API docs - Create Network - IPAM driver missing"
**Description**
In the documentation for the Remote API in the request Json for creating a network the IPAM part of the json is missing "Driver".
In the cli this is sent by --ipam-driver string

https://docs.docker.com/engine/reference/api/docker_remote_api_v1.24/#/create-a-network
(maybe earlier docs also)

**Steps to reproduce the issue:**
1. Create a new network
2. Check the Json that is sent

[2016-09-23 08:37] fxposter commented on #5618
I've finally managed to test the "ipv6.disable=1" solution. In addition to that - I've upgraded to 4.7.2 kernel on my debian 8.
After kernel upgrade and enabling "ipv6.disable=1" in kernel parameters I've managed to catch "waiting for lo" issue on real workload even without "--userland-proxy=false" flag for docker daemon. The good news are that after specifying "--userland-proxy=false" and trying

[2016-09-23 08:41] thaJeztah commented on #25848
Added this back to the 1.12.2 milestone, per https://github.com/docker/docker/pull/26844#issuecomment-249132754

[2016-09-23 08:46] thaJeztah commented on #24799
The aliases are mentioned in `docker stack deploy`, but not the other way round;

[code]

@dnephin does Cobra support that?

[2016-09-23 09:04] thaJeztah commented on #26852
In general, the concept is that nodes that are part of a Swarm should only be used for _deploying_ your app, and not for development (which includes _building_ images). Doing a build on a master node is potentially dangerous in a production setup, as building can take up resources, which can affect performance of the Swarm (memory consumption, network congestion).

Perhaps documentation can be imp

[2016-09-23 09:11] schovi opened #26855 "Php image volumes to /var/www cause: oci runtime error: no such file or directory"
**Description**

Using docker-compose for running our development on OSX environment cause following error: `oci runtime error: no such file or directory`.

**Steps to reproduce the issue:**

Error occur even when I run `docker run -v /Users/schovi/work/app:/var/www php:5.6-fpm`

But we use it with docker-compose

1)
This is minimal configuration causing problem
having `docker-compose.yml`

[code]

[2016-09-23 09:14] thaJeztah commented on #20873
Although it was originally planned to move the "builder" to the client, side (also see https://github.com/docker/docker/blob/v1.11.0/ROADMAP.md#22-dockerfile-syntax), development in that area was stopped. However, all required changes to the API are implemented, so you should be able to create a "custom" builder that works from the client, for example, see https://github.com/jlhawn/dockramp

[2016-09-23 09:25] thaJeztah commented on #26822
This looks like a user error. Because you're running Docker in a Virtual Machine, the docker _daemon_ does not have access to your local files. Bind-mounted files are mounted from the host that the _daemon_ runs on (in your case, inside a Virtual Machine).

Although docker-machine / boot2docker has partial support for accessing files on the host (through VirtualBox guest additions) on Windows and

[2016-09-23 09:25] #26822 closed

[2016-09-23 09:31] govint opened #26856 "Support checkpointing storage volumes"
**Description**

**Steps to reproduce the issue:**
1. NA
2.
3.

**Describe the results you received:**
NA

**Describe the results you expected:**
The checkpoint feature for containers needs to handle checkpointing storage volumes. Storage volumes used by the containers may be provisioned by volume plugins and those plugins should be given a chance to create a snap of the volume. This is critical t

[2016-09-23 09:36] thaJeztah commented on #26856
ping @cpuguy83 @estesp

[2016-09-23 09:48] PaulVanSchayck commented on #5618
@twang2218 @coolljt0725

Hmmm.. so I just tried the Ubuntu xenial 4.4.0-36 kernel with the patch backported from [ddstreet's ppa](https://launchpad.net/~ddstreet/+archive/ubuntu/lp1403152/+packages):
[code]
Unfortunately, this does not seem to solve the problem for me. Note that I'm also running with "ipv6.disable=1". Are we looking at multiple unrelated causes with the same outcome? Many of the c

[2016-09-23 09:50] ciarans commented on #15086
+1 to reopen from me. Looking for the real IP address to set SSL via a reverse proxy

[2016-09-23 09:54] thaJeztah commented on #26847
`Device is Busy` may indicate that there's still a process running in the container. Can you provide more information about that container;

- what options did you use to start the container? (e.g is it running `--privileged`, using bind-mounted directories from the host?)
- are you using `docker exec` to run additional processes in the container?
- what is running in the container? (I see the CMD

[2016-09-23 10:24] #26453 closed

[2016-09-23 10:29] LiginGeorge commented on #26745
Hi,
I haven't tried really, because i have ganted /28 n/w. But my container is listening in the IP as i mentioned in above screenshot. At the same time while using the /usr/bin/dockerd --bip=10.205.75.33/28 it got hanged some position in firewall state finally i have interrrupted the session, But while checking IP status of docker its changed to 10.205 series. Are you suspecting any issue due to t

[2016-09-23 10:54] thaJeztah commented on #26853
Thanks! Looks like the options below `IPAM` were not documented. Note that the "Driver" is not a require parameter (`default` is used when omitted)

Working on a PR to add those options to the docs

[2016-09-23 11:00] thaJeztah commented on #26853
PR is up; https://github.com/docker/docker/pull/26857

[2016-09-23 12:40] thaJeztah commented on #16416
I also opened https://github.com/docker/docker/issues/26743, to further improve Swarm mode for automated setup.

I'll go ahead and close this, but gimme a ping if it's still something to look at @ibuildthecloud

[2016-09-23 12:40] #16416 closed

[2016-09-23 12:51] thaJeztah commented on #26315
looks like a duplicate yes. closing

[2016-09-23 12:51] #26315 closed

[2016-09-23 13:02] thaJeztah commented on #14403
The init scripts used for our packages can be found here; https://github.com/docker/docker/tree/master/contrib/init

ping @tianon is this something that can/should be addressed?

[2016-09-23 13:06] sforshee commented on #5618
I don't know too much about these, but I know we've had bugs like this before. As I understand it, reference counts to any network device end up getting transferred to lo when a network namespace is being cleaned up, so "waiting for lo to become free" means there's a reference count leak for some net device but not necessarily for lo directly. That makes these a bear to track down, because by the

[2016-09-23 13:06] saithala commented on #26806
@mrjana @thaJeztah  Creating a custom overlay network appears to have solved the issue. Since creating a swarm cluster provides a default ingress network, i was under the impression that I dont need to create a custom network but just use the default one that is already provided. Just for my knowledge I'm curious to understand the purpose of the ingress network. https://docs.docker.com/engine/swar

[2016-09-23 13:08] daviddyball commented on #26530
Just to add I can recreate this by doing the following on an empty cluster running on top of Ubuntu 16.04 with `1.12.1` every time if I do the following:

[code]

After doing this the two nodes that previously had the service running on them won't bind to to `80` (as visible by `netstat`). I've also noted that after the containers get removed this shows in the logs:

[code]

When I stop/delete the

[2016-09-23 13:08] thaJeztah commented on #26806
@saithala agreed; can you open an issue for that (docs improvement)?

[2016-09-23 13:12] thaJeztah commented on #5618
@sforshee it's not always easy to reproduce, but there was a patch created (that at least fixes some of the cases reported here); http://www.spinics.net/lists/netdev/msg393441.html. That was accepted upstream https://github.com/torvalds/linux/commit/751eb6b6042a596b0080967c1a529a9fe98dac1d

[2016-09-23 13:28] thaJeztah commented on #26361
@freeseacher were you still able to reproduce this on the released version of 1.12.1?

[2016-09-23 13:39] justincormack commented on #24387
1. Add all capabilities for `run` https://github.com/docker/docker/blob/master/daemon/oci_linux.go#L212
2. Add all capabilities in `exec` https://github.com/docker/docker/blob/master/daemon/exec_linux.go#L22
3. disable seccomp profile https://github.com/docker/docker/blob/master/daemon/seccomp_linux.go#L20
4. disable apparmor profile https://github.com/docker/docker/blob/master/daemon/oci_linux.go

[2016-09-23 13:50] justincormack commented on #24387
@crosbymichael do you remember why you did https://github.com/docker/docker/pull/5448/commits/1a5ffef6c6ea8c5cc31c298bbdf6f7a29c60fbb8 to not display process labels in privileged mode?

[2016-09-23 13:55] cpuguy83 commented on #24387
So that the process itself is privileged and being blocked from certain things because of the selinux policy.
For instance, if you bind-mount the docker socket into a container with selinux enabled, you won't be able to access the socket unless you have `--privileged` set.

[2016-09-23 13:58] sforshee commented on #5618
@thaJeztah ah, I see the question you were directing me at now.

So the patch is in the upstream 4.4 stable queue, for 16.04 it's likely to be included in not the next kernel SRU (which is already in progress) but the one after that, about 5-6 weeks from now. If it is needed in 14.04 too please let me know so that it can be backported.

[2016-09-23 13:58] young-py commented on #26847
* I have not used `--privileged` options, and not used mounted directories. As follows:

[code]

* I have not used `docker exec` command, I just enter the container to install something then exit

* Yes, `/sbin/my_init` is running in the container, the script as follows:

[code]

Sorry, The problem is not appear every time, I can't provide other useful information.

And thank you for your answer!

[2016-09-23 14:19] fxposter commented on #5618
@sforshee basically earlier (before that patch) that could be reproduced by enabling ipv6 in kernel (usually enabled by default), adding "--userland-proxy=false" to docker daemon flags and then running `docker-stress -c 100`, for example (docker-stress is from here: https://github.com/crosbymichael/docker-stress)

[2016-09-23 14:22] mlaventure commented on #26403
This is fixed now that #26538 have been merged in (it includes the new `containerd`).

[2016-09-23 14:30] tswift242 commented on #26451
@mlaventure Is maintaining the association between checkpoints and containers, for now, purely for the purpose of tying the checkpoint to the container's lifecycle, or will it also continue to prevent the "cloning" use case of 1 checkpoint to N containers? I was hoping that supporting the cloning use case would be part of this work, or will this be follow up work? For me, supporting cloning in som

[2016-09-23 14:32] sforshee commented on #5618
@fxposter thanks. If there's a fix for that one though all I really need to worry about is getting that fix into the Ubuntu kernel. I can also help look into other leaks that aren't fixed by that patch.

[2016-09-23 14:32] BenjamenMeyer commented on #22054
@SeerUK inter-container communication should be a default, but why should you not be able to prohibit one container from talking to it? That could be extremely useful for debugging...

Though I guess the proper way to do that would be to separate the docker networks...still, I think being able to do something like:

`
nginx:
    access:
    - "10.0.1.6:allow"
    - "webapi:allow"
    - "database:d

[2016-09-23 14:39] freeseacher commented on #26361
ou. sorry i'd missed the fact i am using beta channel.
will try to reproduce that bug shortly.

[2016-09-23 14:41] mlaventure commented on #26451
@tswift242 purely to keep tying the checkpoint to the container's lifecycle.

I rather decouple it in a follow up PR so we can fully consider what we will need to save alongside the checkpoint to make them as resilient as possible. I don't want the feature to just be a "know what you're doing" kind of command.

[2016-09-23 14:41] thaJeztah commented on #26494
This is a duplicate of https://github.com/docker/docker/issues/16137 or https://github.com/docker/docker/issues/16816, and the discussion on those issues may give more information or workarounds.

[2016-09-23 14:41] #26494 closed

[2016-09-23 14:44] thaJeztah commented on #22054
That's were `docker network disconnect` is for? You can disconnect a container from the network for debugging, and reattach it with `docker network attach`

[2016-09-23 14:49] mlaventure commented on #26495
@volnet I cannot see a `permission denied` in that last log, is part of it missing?

[2016-09-23 14:50] MABIY commented on #26851
l not use proxy server, but docker throw this error. this make me Strange. so l run daemon on debug model, above information is l think  to achieve .

l'm sorry. when l from company to my home. l attempt pull images then docker pull is work.
this error

[2016-09-23 14:50] thaJeztah commented on #25266
ping @bargenson ^^

[2016-09-23 14:52] thaJeztah commented on #26851
So you only have this problem at work? I really suspect there's something related to the network-setup there

[2016-09-23 14:55] thaJeztah commented on #26492
ping @mavenugo @aboch PTAL! ^^

[2016-09-23 14:55] thaJeztah commented on #26527
ping @bweston92

[2016-09-23 14:56] thaJeztah commented on #16983
@chanwit I'll go ahead and close this, but ping me if this is still an issue

[2016-09-23 14:56] #16983 closed

[2016-09-23 14:57] thaJeztah commented on #15802
@euank do you still have this issue on the current release?

[2016-09-23 15:01] mlaventure commented on #26768
@anokun7 do you have the output of `ps axjf` ? Also, from the `message` file in your archives it doesn't seem that `dockerd` received a shutdown signal.

Do you have the docker log around the time this occurred?

[2016-09-23 15:02] dnephin commented on #24799
I think it might work if we just set them in `Aliases`, I'll try it out.

[2016-09-23 15:03] freeseacher commented on #26361
yep. after reinstalling i got
[code]
on
[code]

just after 4 minutes after start

[2016-09-23 15:08] thaJeztah commented on #26361
ping @mlaventure ^^

[2016-09-23 15:14] cpuguy83 commented on #26361
The panic on `limitedBuffer` is fixed on master.

[2016-09-23 15:19] bargenson commented on #25266
@cpuguy83 Yes they are.
It happened again yesterday on my cluster. I just restarted all my nodes and it fixed the issue.
It just happened again today and restart didn't fix the issue. Remove and recreate my services didn't fix the issue. Removing and recreating my services AND my network seem to have fix the issue for this time.
I gonna try to switch from vip to dnsrr to see if I get the same issu

[2016-09-23 15:25] wied03 commented on #25986
@pyrux  - See discussion on linked issue

[2016-09-23 15:27] MABIY commented on #26851
l not sure only have this proble at work. before is working normal，today l am want to pull a big magic . l'm more then one ctrl+c to stop  docker pull  and  restart docker pull . l don't sure this operate make error throw.

[2016-09-23 15:27] dnephin commented on #24799
#26859

[2016-09-23 15:32] MABIY commented on #26851
throw this "127.0.0.1:443: getsockopt: connection refused"  information.
l'm not try use crul  try this request ,but l'm sure network is work.

[2016-09-23 15:37] #25893 closed

[2016-09-23 15:39] crosbymichael commented on #24387
@justincormack because privileged shouldn't have these labels applied just like seccomp and apparmor are not applied

[2016-09-23 15:49] mlaventure commented on #26361
@cpuguy83 do you remember in which PR it was fixed?

[2016-09-23 15:51] cpuguy83 commented on #26361
#26596

[2016-09-23 15:55] mlaventure commented on #26785
This is the issue caused by exec's children not being reaped correctly.

This was fixed when #26538 was merged.

It now works fine on master for me.

[2016-09-23 15:55] #26785 closed

[2016-09-23 16:03] #25372 closed

[2016-09-23 16:03] #26356 closed

[2016-09-23 16:03] #26563 closed

[2016-09-23 16:03] #26590 closed

[2016-09-23 16:04] mlaventure commented on #26361
@cpuguy83 thanks!

Since this is already tracked by #26384, I'm closing this.

[2016-09-23 16:04] #26361 closed

[2016-09-23 16:07] MABIY commented on #26851
interesting,l' meet this error just now.
l open A ternimal to docker build -t  jenkins .
then open the B ternimal to docker pull  jenkins  then  B ternimal throw   dial tcp 127.0.0.1:443: getsockopt: connection refused.

l'm try to reappear but docker working fine.

[2016-09-23 16:08] programmerq commented on #26648
The issue you linked, #2598 is a _very old_ issue, and has nothing to do with systemd. It looks more like you accidentally left out a digit at the end perhaps?

[2016-09-23 16:12] christianbundy commented on #11206
@ahmetalpbalkan Is there somewhere I can still find this? I wasn't able to find anything in `/docs/`. Thanks!

[2016-09-23 16:12] thaJeztah commented on #26648
Based on the information above, it looks like you have a systemd unit file that still contains `fd://`, and tries to use socket activation. This changed in docker 1.12; see the warning at the start of the release notes; https://github.com/docker/docker/releases/tag/v1.12.1

[2016-09-23 16:14] dorflex150mg commented on #21379
Same problem here.

[2016-09-23 16:16] cpuguy83 commented on #26840
@cookieisaac You could just add the user with the uid/gid you want as part of the image.

[2016-09-23 16:18] dorflex150mg commented on #18113
I was experiencing the same problem. Removing `/var/lib/docker/network/files/local-kv.db` didn't help. Turn out that I had already created a network with that IP range, so `docker network rm <my-network>` solved it for me.

[2016-09-23 16:19] thaJeztah commented on #26586
ping @rhvgoyal anything familiar in this one?

[2016-09-23 16:19] cpuguy83 commented on #21379
Please try on 1.12.
Actually this error is never returned anymore, so may be a different error at least.

[2016-09-23 16:20] cpuguy83 commented on #21379
Actually, I'm going to close this because the error in question is no longer possible since 1.12.
Please open a new issue if you run into problems on 1.12

Thanks!

[2016-09-23 16:20] #21379 closed

[2016-09-23 16:35] thaJeztah commented on #26487
ping @samber could you answer @aaronlehmann's questions?

[2016-09-23 16:36] thaJeztah commented on #15211
PR is opened here; https://github.com/docker/docker/issues/26545

[2016-09-23 16:40] sanimej commented on #24310
@slawekgh #26235 is tracking the issue with CentOS & firewalld.

Yes, with firewalld accessing the published port using that node's IP doesn't work. firewalld is adding two REJECT rules in the filter table FORWARD and INPUT chains that seem to be blocking the overlay traffic. I also noticed that `--add-port` didn't help.

[2016-09-23 16:52] mlaventure commented on #26855
ping @justincormack

[2016-09-23 17:15] mlaventure commented on #26789
@reypm

This error usually means that `/usr/bin/dpkg` didn't exist or couldn't be executed.

If you connect to the last image used by the builder, can you check the return of `ls -l /usr/bin/dpkg`?

Also, could you provide the output of `docker info`?

Thanks

[2016-09-23 17:19] asmallfurrywombat opened #26861 "self-signed certificate documentation uses hardwired domain"
The content of https://docs.docker.com/registry/insecure/#using-self-signed-certificates says "be sure to use the name 'myregistrydomain.com' as a CN". I think the intent of the overall page is for the developer to fill in their own domain. Perhaps it could be a bit clearer.

[2016-09-23 17:21] aaronlehmann commented on #26434
@TanmayaA: We have the first release candidate of Docker 1.12.2 scheduled for release in a few days. I can't promise that the fix will make it into 1.12.2 (especially the initial release candidate), but that's a possibility.

Otherwise, the fix should become available in nightly builds from the master branch at https://master.dockerproject.org once it's merged into Docker. This will hopefully happ

[2016-09-23 17:28] cpuguy83 commented on #26861
@asmallfurrywombat Would you like to make this change?
The relevant files are in https://github.com/docker/distribution/blob/master/docs/insecure.md#using-self-signed-certificates

[2016-09-23 17:31] reypm commented on #26789
@mlaventure @justincormack I don't know what could be happening on my PC at work but I have tried in a VM at home and it works. So I will close this! Thanks anyway

[2016-09-23 17:31] #26789 closed

[2016-09-23 17:31] RobSkye commented on #25935
#dibs

[2016-09-23 17:31] reypm opened #26862 "Can't remove image due to error: “Error response from daemon: reference does not exist”"
I'm having a strange problem while trying to clear the images created by Docker. This is what I did:

 - Remove all containers

        $ docker rm $(docker ps -a -q)
        bb3927e956bf
        3e2eeb6287c4

 - Check if there is any container running or created after:

        $ docker ps -a
        CONTAINER ID    IMAGE    COMMAND    CREATED    STATUS    PORTS    NAMES

 - Remove all images: th

[2016-09-23 17:36] ketzacoatl opened #26864 "[QUESTION] signal passing and cmd / entrypoint as a list"
In reading https://docs.docker.com/engine/reference/builder/#/entrypoint, I find it a bit confusing to follow and understand with confidence.

Here are a few questions which result:
* Is there any way to pass the list form of `--entrypoint`, so when using `docker run` on the cli, your command will receive `SIGTERM` or other signals?
* If you want to ensure your commands receive those signals, you

[2016-09-23 17:37] dustinvanbuskirk commented on #7336
+1

[2016-09-23 17:40] thom-nic commented on #25879
I just discovered this while attempting to install on a debian/armhf device.  In my case I was following instructions at https://docs.docker.com/engine/installation/linux/debian/ and took me a while to figure out the package isn't in the repo (well, it is in jesse/main/armhf but it's being filtered out because I'm not on raspbian from the sound of it...)

[2016-09-23 17:44] flyandi opened #26865 "Slow File I/O on Container VS Host (Docker 1.24, Docker for Mac)"
**Description**

There seems to be another issue when running docker-compose on Docker for Mac and having a large file base mounted to the container.

Running a large PHP project inside a multi container docker-compose project (Nginx, MySQL, Redis, PHP-FPM - all separate containers running at the same time and connecting via internal backplane).

Running the boot script on the host:
[code]

Runnin

[2016-09-23 17:59] thaJeztah commented on #26865
since this is specific to docker for Mac, could you reopen this issue in the docker for Mac issue tracker? https://github.com/docker/for-mac/issues ?

[2016-09-23 18:05] anokun7 commented on #26768
@mlaventure By docker logs do you mean the output from journalctl or something else? The journalctl is attached here.
Also, the issue is intermittent and has not been producible since installing the 1.12.1-cs version. I'll update with the output of `ps axjf` as soon as the issue is reproduced.

[journalctl.zip](https://github.com/docker/docker/files/490355/journalctl.zip)

[2016-09-23 18:06] elesueur commented on #24366
I just started getting this now, docker is up to date

% docker version                                                                                                                                                           14:04:48
Client:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.7.1
 Git commit:   6f9534c
 Built:        Thu Sep  8 10:31:18 2016
 OS/Arch:      darwin/amd64
E

[2016-09-23 18:16] mlaventure commented on #26768
@anokun7 yes, I meant the output of journalctl.

I'm thinking this may be the exec's children not been reaped off correctly issue again.

I may be able to confirm this with the output of `ps axjf`

[2016-09-23 18:22] pdevine commented on #26612
You pretty much just have to reboot the host when you hit this and then remember to install the appropriate nfs package.  Not super ideal.

[2016-09-23 18:25] dm0- commented on #26492
Sorry, I updated the cause on the pull request, but not this issue.  Here's what can reproduce the issue:

This error is triggered by a race condition on systems using `systemd-networkd` with a network file that matches the veths.  When a network file matches an interface, networkd brings up the interface, even if that network file has no configuration settings in it.  The network files don't appe

[2016-09-23 18:29] mlaventure commented on #26546
This looks to be the same error as #25382

[2016-09-23 18:35] cpuguy83 commented on #26612
@pdevine This sounds like a kernel bug. Seems odd for it to hang like this.

[2016-09-23 18:35] sfitts commented on #26546
Yep -- does look like the same issue.  BTW -- I've been a bit tied up getting our production environment up and running, but with that done I will likely have time to configure an AMI with debugging this weekend and see if I can't get that log for you (assuming life doesn't intervene).

[2016-09-23 18:45] rbagul opened #26867 "Docker api is not listing containers"
Hi,

We have installed Docker on RHEL  7 behind the firewall. Created few containers from Dockerfiles.
I can see docker images but when I do curl -X GET http://<hostIP>:4243/images/json it is showing nothing. (i.e. [])

Basically I am trying to spin docker slave machines from Jenkins and Jenkins master is unable to find any images on Docker host.

Information about the Docker setup.
Docker version

[2016-09-23 18:46] rbagul commented on #26867
*http://:4243/images/json is http://hostname:4243/images/json

[2016-09-23 19:01] simsandyca commented on #22753
This looks promising.

My use case is similar to what others have stated.  We create containers with java services running, and attempt to test those services from the host system.  We run the tests in a jenkins pipeline, so publishing ports to the host system is problematic, because the host system could be running multiple containers all trying to bind the same ports.

So usually, we only "expos

[2016-09-23 19:04] flyandi commented on #26865
Done. Will close this issue.

[2016-09-23 19:04] #26865 closed

[2016-09-23 19:06] joaofnfernandes opened #26870 "Improve docs for service restart-policy"
The restart-policies for `docker run` had intuitive names like `no, on-failure, always` and we [have docs that explain what they mean](https://docs.docker.com/engine/reference/run/#restart-policies-restart).

With `docker service`, the restart policies are a bit different. You have options like `none, on-failure, or any`. It's not obvious what the `restart-policy=any` means, so we need to have som

[2016-09-23 19:26] finik opened #26871 "devicemapper folder size is growing indefinitely"
I am running a docker within AWS elastic beanstalk. Once in a while the instances die due to no space left, when analyzing that, I've found that the space is being eaten up by docker (devicemapper), but I have a difficulty understanding the reason or to have the numbers add up.

[code]

yet if I enter that folder the sizes of the actual files do not match

[code]

I am a bit confused by these numb

[2016-09-23 19:28] RobSkye commented on #25935
Searching how to check if apparmor is enabled i found that the Daemon struct don't have an "ApparmorEnabled" boolean like seccomp has so, the only way to check in `daemon.SetSecurityOptions` if AppArmor is enabled is invoking `sysInfo := sysinfo.New(true)` and then check the `sysInfo.AppArmor` bool.

I think is better to add an ApparmorEnabled bool in the Daemon struct. It's ok?

[2016-09-23 19:33] milosivanovic opened #26872 "[FEATURE] Access container directory on the host"
**Description**

I have successfully dockerised our entire stack at work, with one caveat:

- **I need to share a container's directory with the host.**

I can think of two ways to implement this, in order of preference:

1. Add an option like `docker run --host-mount /path/on/container:/path/on/host`, which will mount `/path/on/container` to `/path/on/host` after starting the container; or
2. All

[2016-09-23 19:42] nalind commented on #14948
Please double-check that the container was also launched to use the journal logging driver (`docker inspect -f '{{.HostConfig.LogConfig.Type}}' desperate_easley`).

Are you using the build from https://get.docker.com/builds/Linux/x86_64/docker-1.12.1.tgz, or an RPM package from https://yum.dockerproject.org/repo/main/centos/7/Packages/?  The first appears to be a static binary.  The library that i

[2016-09-23 19:44] cookieisaac commented on #26840
@cpuguy83 In the real use case, I cannot assume the existence of any user builtin the image, so I have to prepare a /etc/passwd and mount it during runtime.

[2016-09-23 19:45] cpuguy83 commented on #26840
@cookieisaac Why, these are your images, no?

[2016-09-23 19:49] asmallfurrywombat commented on #26861
I don't actually have it working currently so I would be reluctant to update the docs. My situation is complicated by the fact that my swarm is in a developer sandbox behind a VPN so additional setup is required to get a domain working. Ideally i would simply be able to use an IP address of one of the swarm hosts since the registry container is publishing a port but that doesn't seem to work, eith

[2016-09-23 20:07] tswift242 commented on #26451
@mlaventure I completely understand wanting to come up with a solid design and plan for expanding the feature. I just wanted to point out that, from my perspective, if Docker is looking for checkpoints in a container-agnostic location (e.g. /var/lib/docker/checkpoints/), then it should be able to fulfill requests like `docker start --checkpoint checkpoint1 container2`, even if container2 wasn't th

[2016-09-23 20:29] mlaventure commented on #26451
`experimental` doesn't mean "unstable" anymore. It just means that the API/Interface may change, but the functionalities provided ought to be working as if they were part of the `stable` release.

And just having docker trying to start a container other than the original with a checkpoint could lead to random/weird failure that the error message would definitely not explain and leads to extra issu

[2016-09-23 20:31] aboch commented on #26492
Thanks @dm0- for the analysis.

I have not been able to reproduce the issue on ubuntu machine, but it is congruent with your explanation, because in my case `systemd-networkd` service is not running.

It seems it is possible to control with configuration files whether networkd should manage a link based on the link type.

I would rather document your finding in the docker documentation, instead of

[2016-09-23 20:39] volak opened #26873 "[Windows] windowsfilter folder impossible to delete"
I've been running TP5 for several months on 3 machines - I noticed the hard drive filling up due to the amount of images laying around.  Following some other posts I used `docker rm -v $(docker ps -q)` and `docker rmi $(docker images -q)` and similar to clean the disk.  But I ended up breaking docker.

When I try to start a container now I only get **Win32: Access is denied**
[code]

I believe thi

[2016-09-23 21:21] cpuguy83 commented on #26864
It has nothing to do with Docker's signal processing, it' about what is running in the container.
Docker will always pass the signals along, but the container process much handle them.
One big issue with this is C programs (and probably others) will drop default signal handlers when they are run as PID 1.

What this means is if you don't use the json list form, docker will start the container with

[2016-09-23 22:00] prayagupd commented on #19859
yep, if you cat `/etc/default/docker`, you see

[code]

[2016-09-23 22:01] tonistiigi commented on #26588
@mrjana failed again in https://jenkins.dockerproject.org/job/Docker-PRs-experimental/24208/console

[2016-09-23 22:03] mrjana commented on #26588
@tonistiigi How do I get the daemon logs for the above run?

[2016-09-23 22:03] tonistiigi commented on #26742
dupe #26573

[2016-09-23 22:03] #26742 closed

[2016-09-23 22:08] tonistiigi commented on #26588
@mrjana Copied them out https://gist.github.com/tonistiigi/979c41d5977766ddf5a5cb9167abb49f It seems to go to a pretty bad loop there. Logs can be pulled by clicking on build number in menu and then there is a link to download artifacts.

[2016-09-23 22:13] mrjana commented on #26588
Ok. But this one looks like a very different problem. After restart the agent is not able to setup a session successfully with manager.

[2016-09-23 22:14] cookieisaac commented on #26840
@cpuguy83 Nope. I have a python application that takes images from user, and start container based on user requirements, i.e., start the container with host user `shuffle` account. My application handles all the impersonation process (such as preparing /etc/group, /etc/passwd) without prior knowledge of any user-provided images.

[2016-09-23 22:14] AkihiroSuda commented on #26872
Actually you can access the container filesystem via `/proc/$(docker inspect --format {{.State.Pid}} $YOUR_CONTAINER)/root`

[2016-09-23 22:33] milosivanovic commented on #26872
@AkihiroSuda Thanks, that seems really obvious in retrospect; the filesystem has to be accessible from the host somehow, and I never checked `/proc/$pid`. However, it does not solve the permissions issue; regular users won't have permission to access the `proc` subsystem, and this aligns directly with my previous comment about implementation detail (you shouldn't be sitting around in `/proc/$pid/r

[2016-09-23 22:35] virtuman commented on #26235
Tried deleting FORWARD's reject rule `iptables -D INPUT 17`.

For some reason - for me it still didn't work. Any other ideas?

You

[2016-09-23 22:37] justincormack commented on #26798
PR for 1.12.2 here https://github.com/docker/docker/pull/26875

[2016-09-23 22:45] mgoelzer opened #26876 "Roadmap for `docker deploy` and Bundles"
## Bundles

Bundles are a multi-image redistributable format that describe multi-container distributed applications (or stacks) running on Docker.  A bundle is akin to a “multi-image image,” and deploying it gives rise to a “stack” consisting of several communicating microservices.  Conceptually, this is analogous to Docker images today:

|  | Human-editable Description | Binary Artifact | Running

[2016-09-23 22:46] mgoelzer commented on #26327
Roadmap posted in #26876

[2016-09-23 22:46] #26327 closed

[2016-09-23 22:57] stevvooe commented on #26743
The key here is the ability to pre-define things, such as tokens.

@gkze may be able to describe the experience a little more clearly.

[2016-09-23 23:01] terencechow commented on #26800
Answering my own question for future devs... Looks like the Text file busy error is not completely relevant. I can update the docker build in the container by running `make KEEPBUNDLE=1 binary` which will build the binary followed by `make install` which will move the copy of the binary over to the right folder.

[2016-09-23 23:07] yongtang opened #26877 "Do a fail-quick-syntax-check on the Dockerfile on the client"
As is discussed in https://github.com/docker/docker/pull/26516#issuecomment-248868526 ,
it might be good to do a quick syntax check on the Dockerfile on client side.

The reason for the above proposal is that, sending Context to docker daemon takes time and sometimes it takes a long time (when context is huge). In case there are syntax errors in Dockerfile, it is advantages to fail quick and not w

[2016-09-23 23:08] jorgeramirez commented on #5618
I'm having this issue too. I'm running docker inside a rancherOS box from AWS. Actually, it happens randomly after setting up a rancher cluster (3 hosts) and running a small application in it.

[2016-09-23 23:09] gabrielqs commented on #26798
What's the relation between the go version and NTPD here? Is there a suggested workaround while 1.12.2 doesn't come out? Thanks!

[2016-09-23 23:19] stevvooe commented on #4817
@LK4D4 In general, I agree with the sentiment, but I am not sure it is worth the engineering effort and compatibility breaks this would incur.

There is nothing wrong with the ideas here other than that tags don't really work anything like git tags. For this to work, we'd really need to introduce some sort of first-class tag concept, separate from what we call a tag today, which is just a name, re

[2016-09-23 23:22] stevvooe commented on #18426
I think the registry may conflate 401 and 403 in the challenge response, which contributes to these problems. We could make a simple fix in the registry to address this. The other aspect is that we are still using this silly config file.

Do we have any plans to move to the credential helper, so this is looked up on every call? I would expect login to be deprecated if this were implemented correct

[2016-09-23 23:24] stevvooe commented on #24372
@jm3 Above, you said you were trying to use services. Rather than hijack this issue, I'd recommend opening on focused on your particular problem. Make sure to be clear about what you are trying to do.

[2016-09-23 23:30] thaJeztah commented on #26873
ping @jstarks

[2016-09-23 23:35] jstarks commented on #26873
We have a tool for this... @jhowardmsft can you help?

[2016-09-23 23:40] thaJeztah commented on #26872
This is a duplicate of https://github.com/docker/docker/issues/19990, and the author of that issue created a volume driver plugin, that allows you to do this; see https://github.com/CWSpear/local-persist

[2016-09-23 23:45] dm0- commented on #26492
I looked into networkd earlier today, and for the record, this happens when it brings up an interface:

https://github.com/systemd/systemd/blob/38b383d9fe0f5c4e987c1e01136ae6073076fee3/src/network/networkd-link.c#L1602

Delete that block, and there is no issue.

[2016-09-23 23:48] stevvooe commented on #25303
@pugnascotia @hervenicol This issue is about discussing the flags from `docker run` in the context of `docker service create`. For generic feature requests, I'd recommend opening up an issue. There are a number of issues regarding IPVS, so checking out some those might help you find what you're looking for.

[2016-09-24 00:05] jamesongithub commented on #25993
hey @cpuguy83, got a daemon hanging

sent a sigusr1

stack trace is here
https://gist.github.com/jamesongithub/e63fe0616d85a299b766e4eed5f24d3b

not sure if it's the same as @anosulchik's

upgraded to v1.12.1 recently also

[2016-09-24 00:10] thaJeztah commented on #4817
I think the original issue could be easily achieved with a script / external tooling

[2016-09-24 00:39] sanimej commented on #26235
`iptables -D INPUT 17` if this is the command you were executing its the wrong chain. The REJECT rule to be remove is in `FORWARD` chain.

[2016-09-24 00:50] herbrandson commented on #22693
I am having a similar issue. I run the following script to create a swarm

[code]

The result is the following error

`Error response from daemon: Error response from daemon: datastore for scope "global" is not initialized`

Running `docker-machine ls` gives the following

[code]

Running `docker -v` gives the following

[code]

[2016-09-24 01:41] friism commented on #26873
It's here: https://github.com/jhowardmsft/docker-ci-zap

You have to compile it, then run: .\docker-ci-zap.exe -folder "C:\ProgramData\docker"

[2016-09-24 01:52] volak commented on #26873
Thanks!  Ill have to setup golang on my server host - but thats better than having to reformat.
Any chance of getting this included as part of #18601 or some docker --nuke option .. haha

[2016-09-24 02:09] jhowardmsft commented on #26873
Note it is a REALLY dangerous utility. It can do some serious damage. Use with caution, no warranty on misuse or otherwise etc.  No plans at all to include it in docker.

[2016-09-24 02:19] volak commented on #26873
Gotcha - I'll keep an eye out for what command exactly caused this error state then

[2016-09-24 02:22] lawrlee commented on #22693
I too am having issues creating an overlay network. Instead of `docker-machine` I have followed the directions on https://docs.docker.com/swarm/install-manual/ for creating hosts in AWS (except only creating 1 manager node). I managed to successfully run `swarm manage` on the manager node and `swarm join` on the worker nodes, passing a functional consul backend to each of them.

From the manager n

[2016-09-24 02:41] s-yata commented on #26403
Thank you!

[2016-09-24 03:17] ketzacoatl commented on #26864
Thanks for explaining, I appreciate the details. I think it's really confusing and a surprise to find that the default (non-list form) using `/bin/sh -c` where `sh` drops signals.

Can the list form for `--entrypoint` be specified on the cli with `docker run`?

[2016-09-24 04:22] freearhey commented on #26855
You can add the app name to the path, like this
[code]
It helped me.

[2016-09-24 05:57] young-py commented on #26847
I guess the container has not yet been thoroughly remove, and then run a new container

I think I should post my deployment code, as follows:

[code]

[2016-09-24 07:39] justincormack commented on #26872
As it says in that issue you can do this already `docker volume create --opt type=none --opt device=<host path> --opt o=bind`. This even works on Docker for Mac, which I find useful to create named volumes that are on the host so the data persists after a factory reset (you hav to re-create the volume but the data is there).

[2016-09-24 08:15] justincormack commented on #26798
There was a change to the OSX `gettimeofday` system call, so the issues are in time related code. The `ntpd` workaround only helps a little to alleviate the issue, it will not completely solve it. You can download Docker for Mac and copy the binary from there and use that it is in `/Applications/Docker.app/Contents/Resources/bin/docker`.

The 1.12.2-rc1 release candidate will be out on Tuesday.

[2016-09-24 08:34] justincormack commented on #26877
The quick hack way is to do `tar cf - Dockerfile | docker build -` now your patch is merged. I guess with a `--check-syntax-only` build option the client could use this rather than duplicating the code.

[2016-09-24 08:40] justincormack commented on #26864
@ketzacoatl not as far as I know, I was thinking about this the other day, other than in 1.13 you can reset the entrypoint back to the default. As you can just specify the remaining arguments in the command it is not that useful I guess, although it does seem a little inconsistent.

[2016-09-24 08:48] justincormack commented on #26823
cc @cyphar

[2016-09-24 09:01] milosivanovic commented on #26872
@thaJeztah Thanks, I didn't catch that. It seems to be heading in the right direction, although it's of course preferred to have this as a built-in feature.

@justincormack I did read through that but I didn't realise @cpuguy83 was effectively providing a solution. Thank you for pointing that out. However, that solution seems to have its own set of issues. While it does allow you to share containe

[2016-09-24 09:14] aalexgabi commented on #22567
Similar issue:
[code]

[2016-09-24 09:35] FlorianHeigl commented on #23043
Seriously, this is just thoughtless.
If it errors out on start _due to_ the default configuration on major providers, then the advice should not be "don't use loopback devices"
You can try - for example - "we might need to have a fallback" or any other thing that makes the daemon at least able to start.
A default config might be suboptimal for longer use, but in the VERY LEAST, there's a missing d

[2016-09-24 11:13] thaJeztah commented on #26877
@justincormack @yongtang yes, my intent was not to replicate the logic client-side, but to have the client send the Dockerfile to the daemon for validation (before sending the build context)

[2016-09-24 11:19] cpuguy83 commented on #23043
@FlorianHeigl This *is* the fallback.
Docker warns you about not using loopback devices constantly.
"Falling back" to something else is not workable because you will lose all data.

This is using devicemapper. Devicemapper still needs a device, which unless you configure a device for it to use and tell Docker about it, it will use a loopback device. Modprobing will not help here, Docker is already

[2016-09-24 11:23] duglin commented on #26877
if we do this, I'd prefer for it to be part of the normal workflow and not behind a new flag. If it being there is too hard, or slows things down, then I don't think we should do it at all.

[2016-09-24 12:08] cpuguy83 commented on #25993
@jamesongithub

@mlaventure Looks like it's stuck here:
[code]

[2016-09-24 12:22] cpuguy83 commented on #26867
You are using a forked version of Docker, so I'm not sure we can provide much help.
Are you sure the docker client is talking to the engine on the TCP port? Typically unless you configure it otherwise it will connect to /var/run/docker.sock.

[code]

Closing since this is not really a Docker issue.

[2016-09-24 12:22] #26867 closed

[2016-09-24 12:52] blabno commented on #21721
I'm pooling containers that take long time to start and are used later by other containers as dependencies. It would be awesome to mark container as "used" when it gets linked.
Right now I have to maintain map of all containers and their state externally.

[2016-09-24 13:39] KostyaEsmukov commented on #11998
As a quick workaround one may make containers query DNS servers via TCP.
In order to do this the docker daemon should be run with the `--dns-opt="use-vc"` option (see `man 5 resolv.conf`).

Systemd drop-in (be sure to check the current `ExecStart` value first with the `systemctl cat docker.service | grep ExecStart`):

    mkdir -p /lib/systemd/system/docker.service.d

    cat > /lib/systemd/system

[2016-09-24 14:04] belovanton opened #26883 "Docker daemon stuck (docker ps, docker exec)"
docker ps -a - stuck
docker exec - stuck too
[code]

How I can make it work without restart running containers?

[2016-09-24 14:42] cpuguy83 commented on #26883
Can you send `SIGUSR1 to the docker daemon and collect the stack trace from the daemon logs?

[2016-09-24 14:55] liweinan0423 opened #26884 "[Question] Why --listener-addr defaults to 0.0.0.0:2377"
According to the docker documentation, the `--listen-addr` option of `docker swarm join` defaults to 0.0.0.0:2377. When a node that has multiple network interfaces joins a swam cluster, `--listen-addr=0.0.0.0:2377' seems not working correctly. Sometimes the internal DNS name of a service does not resolve, especially when update a service and this services is moved an another node in the cluster.

[2016-09-24 15:24] justincormack commented on #26884
Can you give the information requested (which version of docker you are using, output of docker info) and some more detail about how to replicate the issue.

[2016-09-24 16:21] kristiandrucker opened #26887 "Docker swarm container downgrade"
Hi how can I downgrade docker swarm services?

[2016-09-24 16:22] ketzacoatl commented on #26864
Could the issue with `/bin/sh` blocking the signals be worked around if the `--entrypoint` is set to `/bin/bash`, and `--command` is `-c ...`? It seems like that is the only work around if you are overriding the image's `ENTRYPOINT`, right?

[2016-09-24 16:31] justincormack commented on #12756
@brona90 from the beta release next week (around 19 Sept) Docker for Mac should use your system certs, so if you install the certs on the Mac it should just work.

[2016-09-24 16:37] justincormack commented on #24806
On the client and desktop side, Docker for Windows is now using the host store for certs.

[2016-09-24 16:44] justincormack commented on #10613
@whosthatknocking `overlay` and `overlay2` are the same with respect to Posix. The issue here is inode exhaustion, which os only a problem with `overlay`.

The fixes are
1. Use `overlay2` if you have a recent kernel that supports it. (4.x)
2. reformat the drive you are using if you use an old kernel to have more inodes.

I am going to close this issue as `overlay2` should be as stable as `overlay`

[2016-09-24 16:44] #10613 closed

[2016-09-24 18:12] belovanton commented on #26883
I did that you can look at my logs there https://dpaste.de/P8Z3

[2016-09-24 21:46] pascalandy commented on #24089
OMG !! Of course!

[2016-09-24 23:52] tarikjn commented on #6396
As far as `docker run`, [docker-ssh-agent-forward](https://github.com/avsm/docker-ssh-agent-forward) seem to provide an elegant solution and works across Docker for Mac/Linux.

It might still be a good idea to COPY the known_hosts file from the host instead of creating it in the container (less secure), seeing as ssh-agent does not seem to forward known hosts.

But the fundamental problem with pul

[2016-09-25 01:32] terencechow commented on #11139
Was gonna work on this but it seems that this recommended feature is pretty much the intended behaviour.

Whenever `[name:tag]`  points to a unique image then `docker rmi [name:tag]` has the same functionality as `docker rmi [image_id]` (which is what @timepieces141 asked for).

When `[name:tag]`  points to a duplicate image then `docker rmi [name:tag]` will untag the aliased image and remove it f

[2016-09-25 03:07] MicahZoltu opened #26888 "log-level help"
**Description**

Docker help and docker reference docs do not give details on how to use the `--log-level` command.

**Steps to reproduce the issue:**
1. docker help
2. https://docs.docker.com/engine/reference/commandline/cli/

**Describe the results you received:**
No help on how to set `--log-level` to anything other than `info`.

**Describe the results you expected:**
Other log level options av

[2016-09-25 03:29] aidanhs commented on #6396
My specific solution hasn't worked since 1.9.0 - it turned out that the feature introduced in 1.8.0 that I was relying on wasn't intentional and so it was removed.

Although the principle of my solution remains fine (it just requires you have a DNS server off your machine that a) your machine uses and b) you are able to add entries to appropriate locations), I can't really say I'd enthusiastically

[2016-09-25 03:49] MicahZoltu opened #26889 "Docker Client Hang on Windows Subsystem for Linux (WSL)"
**Description**
After downloading the docker client in WSL I am able to run most commands (`run`, `ps`, `images`, `rm`, etc.).  However, when I try to do a `docker build` it hangs while copying the context.

**Steps to reproduce the issue:**

1. Install Windows 10.
1. Install Docker for Windows.
1. Install Windows Subsystem for Linux.
1. Open a bash prompt.
1. `cd ~`
1. `wget https://get.docker.co

[2016-09-25 04:25] xiaods commented on #26480
@erkie restart the host? are u can retry and confirm it effective

[2016-09-25 06:59] michelvocks commented on #26845
I have no problems with the given example. Maybe an `go get -u github.com/docker/docker/registry` will help.

[2016-09-25 07:02] michelvocks commented on #26887
A few more information would be helpful here. Do you mean downgrading docker engine version? Or container running in a docker swarm mode cluster?

[2016-09-25 07:51] milosivanovic commented on #26872
@thaJeztah After carefully reading #19990, I can confirm that this is in fact NOT a duplicate. That GitHub issue is interested in **creating** volumes at user-specified host mountpoints. I am (as per case number 2 in my original description) interested in mounting and unmounting **existing** volumes at user-specified host mountpoints **at will**.

This is because (as I've described earlier) `docke

[2016-09-25 07:55] kristiandrucker commented on #26887
Hi I mean container running in swarm mode. So if a user would like to rollback they can at any time.

[2016-09-25 07:55] newjanson commented on #22207
I am experiencing the same issue. I am using this machine to test a lot of containers, then commit/delete. My /var/lib/docker/aufs directory is currently 7.9G heavy. I'm going to have to move this directory to another mount point, because storage on this one is limited. :(

[2016-09-25 08:42] AkihiroSuda commented on #26872
Maybe you can use bindfs for handling permission of /proc/PID/root, but
I didn't test that

http://bindfs.org

[2016-09-25 08:53] xiaods commented on #26244
@jmzwcn  i have follow @mrjana hints and reproduce the steps in above comments, the docker logs report :
[code]

i can confirmed the issue is cause by ErrNoSuchNetwork.  give a PR asap ,thanks a lot.

[2016-09-25 08:58] michelvocks commented on #26887
You can use [rolling updates functionality](https://docs.docker.com/engine/swarm/swarm-tutorial/rolling-update/#/apply-rolling-updates-to-a-service) to roll back to an old version of your image.

[2016-09-25 09:00] kristiandrucker commented on #26887
Ok