[2016-05-16 15:22] thaJeztah commented on #22633
@mrunalp @estesp are you able to test with the kernel that @sforshee provided? :heart:

[2016-05-16 15:25] mrunalp commented on #22633
Thanks @sforshee I am planning to test this today. I'll test the original runc issue.

Sent from my iPhone

[2016-05-16 15:30] joedborg commented on #13885
I have the same issue on 1.11.1 (4.2.5-300.fc23), Overlay/EXT4.  It happens when I run a Celery worker, load it up with jobs and then try to `stop` it.

I can't then exec anything inside it:
`rpc error: code = 2 desc = "oci runtime error: exec failed: exit status 1"`

So I guess some of the container is destroyed, but cannot finish the job.  I've confirmed that Celery has been killed within the co

[2016-05-16 15:54] JackChen255 opened #22766 "How to compose a container from a Image and layer in Docker 1.10"
Two questions. Thanks in advance.
1: In V 1.10, how to retrieve new layer ID after creating a new container from a image? In previous version, the layer ID is the same as container ID which is returned from RestAPI "POST /containers/create"? Looks like the new layer ID is saved in the last item in manifest.json, but this assumption is not safe.
2: How to restore a container from an Image and above

[2016-05-16 15:57] cgeers commented on #22741
Hi @mavenugo Yes, I believe I understand what you mean. In my example, my use of the overlay and thus `gw_bridge` is not strictly required.  In fact, neither is ICC (implicit or otherwise), correct? I haven't yet verified it, but it seems that this behavior I describe should be reproducible with any two bridge networks when userland-proxy=false. Does this seem plausible?

[2016-05-16 16:02] mavenugo commented on #22741
@cgeers thats correct. this issue is not specific to overlay network. It is to do with `userland-proxy=false` and yes, we should be able to reproduce this with 2 bridge networks with `userland-proxy=false`.
cc @aboch

[2016-05-16 16:30] ketzacoatl commented on #21976
@thaJeztah any input on this? It seems silly that we can use `--dns` through the config file, but not on the command line..

[2016-05-16 16:42] mlaventure commented on #22705
@liamawhite

Sorry, I forgot this was likely to happen.

This occurs because the container takes much longer to start now.

You'll need to start `containerd` separately:

[code]

[2016-05-16 16:55] mlaventure commented on #22746
This looks to be a devicemapper issue, I can't reproduce on btrfs or aufs.

and with devicemapper I get the following error while trying `docker commit` or `docker diff`:

[code]

[2016-05-16 16:57] mrunalp commented on #22633
I tested that @sforshee patch fixes the mqueue mount issue in runc https://github.com/opencontainers/runc/issues/769

[2016-05-16 17:06] lzybkr commented on #21915
The fix has been checked into Windows.

[2016-05-16 17:14] bukzor commented on #22732
Let me know if there's anything more I can do to help with this.

[2016-05-16 17:20] mansinahar commented on #22721
PR: https://github.com/docker/docker/pull/22768

[2016-05-16 18:01] liamawhite commented on #22705
@mlaventure I'm now back to the `docker: Error response from daemon: rpc error: code = 2 desc = "shim error: runc not installed on system".`

Just to prove that my runc is executable - ` ls -al /usr/bin/ | grep docker`
[code]

[2016-05-16 18:05] mlaventure commented on #22705
@liamawhite sorry, I forgot to specify the runtime in my sample!

add `--runtime $(which docker-runc)` to `containerd` arguments.

[2016-05-16 18:11] liamawhite commented on #22705
@mlaventure I now get the following error `docker: Error response from daemon: rpc error: code = 2 desc = "shim error: NAME: not installed on system".`

Bit more information from the containerd process
[code]

[2016-05-16 18:27] JackChen255 commented on #22733
1: If I run "curl -s -XPUT -T layer.tar 0.0.0.0:42431/containers/04c9ac705ca0/archive?path=/ -v", it is translated to "PUT /containers/04c9ac705ca0/archive?path=/layer.tar" and the error is "Handler for PUT /containers/04c9ac705ca0/archive returned error: lstat /var/lib/docker/devicemapper/mnt/375d0bc5401eedfc9a3dce6c8ded065820fadcac57f5f39333336f05a719bdd7/rootfs/layer.tar: no such file or direct

[2016-05-16 18:52] lherrera commented on #22389
just wrote an article with examples trying to explain how Rule 9 could interfere with DNS round robin  (https://medium.com/@lherrera/poor-mans-load-balancing-with-docker-2be014983e5). Thank you for pointing me in the right direction!

[2016-05-16 18:53] jeffbyrnes commented on #19284
This fixed our apparmor throwing the `ptrace` errors to our syslog.

[2016-05-16 19:39] liron-l commented on #22729
Possible fix in #22770.

[2016-05-16 19:40] testphreak commented on #22226
@MelGHub I don't see this issue with Ubuntu 14.04 (Trusty) running the latest version of Docker. I was able to start 40 containers without issues. Please let us know if @thaJeztah's suggestion worked for you with Ubuntu 16.04 (Xenial).

@fencekicker your issue seems unrelated to this one. Might be a good idea to create a new ticket.

[2016-05-16 19:50] JackChen255 commented on #22733
I can extract files to root directory with path=%2F "curl -s -XPUT -T layer.tar 0.0.0.0:42431/containers/04c9ac705ca0/archive?path=%2F -v". But path=/ still doesn't work.

[2016-05-16 19:55] iamsamwood commented on #22226
@testphreak I'm hitting this in 3.13.0-86-generic

In my case, I was launching hundreds of containers at a time from a bash script, where each run was in the background (&). When I launch them in smaller batches (say 25) and waited (wait) then the problem went away.

I also hit: https://github.com/opencontainers/runc/issues/726 which required me to bump the keys system limits.

[2016-05-16 19:58] polonskiy opened #22771 "docker: Error response from daemon: Container command '/bin/sh' not found or does not exist.."
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Steps to reproduce the issue:**
[code]

[code]

[2016-05-16 20:22] sourcejockey opened #22772 "Overlay Network fails to forget exited images"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Carina

**Steps to reproduce the issue:**
1. Run some containers within an overlay network (restart=always)
2. Have some host issues that stop/otherwise mess up those containers.
3. rm -f exited containers, re-run

**Describe the results you received:

[2016-05-16 20:25] thomasem commented on #22772
This appears to be the scenario described here: https://github.com/docker/docker/blob/master/docs/userguide/networking/work-with-networks.md: "There are certain scenarios such as ungraceful docker daemon restarts in multi-host network, where the daemon is unable to cleanup stale connectivity endpoints."

Wondering if this is a hard limitation, or something that could be handled by the docker daemo

[2016-05-16 20:32] jfrazelle commented on #22729
Whoa that was so fast!

On Mon, May 16, 2016 at 12:42 PM, Liron Levin <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2016-05-16 20:43] MatthewHerbst commented on #1916
@cpuguy83 I have about 20 lines or so of iptable entries I'd like to RUN in my Dockderfile but can't since I need `--cap-add= NET_ADMIN`. These commands should happen regardless of who is running the container and regardless of what machine they run it on (container run an internal app). Where/how would you suggest I do that based on what you discuss above?

[2016-05-16 20:51] cpuguy83 commented on #1916
@MatthewHerbst Unfortunately iptables rules won't/can't persist with the image.

[2016-05-16 20:58] nicoleneo opened #22773 "Java hangs in containers running in boot2docker"
I built this just fine on my Ubuntu machine using the exact instructions and pulling the newest centos:centos7 base image today. [This](https://github.com/nicoleneo/neo-centos7-docker/blob/master/build/Dockerfile) is the Dockerfile.

On a container running in boot2docker on OSX, Java can't exit or hangs. E.g. running the command 'java' which doesn't work and will display the man with the appropria

[2016-05-16 20:59] nicoleneo commented on #22773
#18180 shows the same issue happens on other java processes on boot2docker.

[2016-05-16 21:00] MatthewHerbst commented on #1916
@cpuguy83 I'm on CentOS and can run run `/sbin/service iptables save` to persist the rules to the filesystem. I believe their is a similar capability on Ubuntu and others via the [iptables-persistent](https://packages.debian.org/wheezy/iptables-persistent) package.

[2016-05-16 21:06] cpuguy83 commented on #22773
Yes, this looks like a dup of #18180

Can you provide the output of `docker info` and `docker version` please?
Thanks!

[2016-05-16 21:12] nicoleneo commented on #22773
docker version
	Client:
	 Version:      1.9.1
	 API version:  1.21
	 Go version:   go1.4.3
	 Git commit:   a34a1d5
	 Built:        Fri Nov 20 17:56:04 UTC 2015
	 OS/Arch:      darwin/amd64

	Server:
	 Version:      1.9.1
	 API version:  1.21
	 Go version:   go1.4.3
	 Git commit:   a34a1d5
	 Built:        Fri Nov 20 17:56:04 UTC 2015
	 OS/Arch:      linux/amd64

	docker info
	Containers: 1
	Images:

[2016-05-16 21:18] cpuguy83 commented on #22773
Yeah, sounds like a dup. You'll need to upgrade the boot2docker version.

[2016-05-16 21:20] justincormack commented on #1916
You can just generate the iptables rules for that file, there is no need to
actually apply them. The network situation where the container is run may
be very different so you should just apply rules at run time (if that, you
may be better off with the host generating them).

On 16 May 2016 16:03, "Matthew Herbst" <notifications@github.com> wrote:

persist the rules to the filesystem. I believe the

[2016-05-16 21:22] MatthewHerbst commented on #1916
@justincormack don't know why I didn't think of that! Thanks!

[2016-05-16 21:30] mavenugo commented on #22772
We resolved an issue recently https://github.com/docker/libnetwork/pull/1157 which addresses this issue. This fix is brought into docker/docker via https://github.com/docker/docker/pull/22582.

[2016-05-16 21:49] mlaventure commented on #22705
@liamawhite I think `$(which docker-runc)` didn't work on your system, just pass it the full path `/usr/bin/docker-runc`

[2016-05-16 21:58] liamawhite commented on #22705
I'm back to the timeout error. I even increased the timeout to 2m. Here are the logs:
[code]

[2016-05-16 22:06] thaJeztah commented on #22773
Agreed, this most likely is a dup of https://github.com/docker/docker/issues/18180. I'll go ahead and close this issue, but feel free to comment after I closed

[2016-05-16 22:06] #22773 closed

[2016-05-16 22:22] nicoleneo commented on #22773
@thaJeztah @cpuguy83 Yep thanks, it resolved itself with an upgrade of Docker Toolbox.

[2016-05-16 23:02] lanrat commented on #17666
I'm also running into this issue.

When running my web and email servers inside docker (**without** IPv6 enabled, on an IPv6 connected host) the services see IPv6 client IPs as the `docker0` IP.

Simple Demo: https://gist.github.com/lanrat/0b2a952b4bff329fc3b124e3e0d1cf9d

While it looks like a a good solution to the "docker with ipv6" problem is some ways away in the meantime would it be possible

[2016-05-16 23:37] sanimej commented on #22675
@HamidEDD What is happening here is in the new network namespace created on unshare /proc/sys/net/bridge directory is not created. For a bridge creation with icc=false docker daemon tries to [check the booleans] (https://github.com/docker/libnetwork/blob/e5064dd5ac5dddc55b04036843addd7cd219257b/drivers/bridge/setup_bridgenetfiltering.go#L40) (bridge-nf-call-iptables etc.) in this directory and it

[2016-05-16 23:45] robbertkl commented on #17666
@lanrat As the name suggests, docker-proxy *proxies* the connection to the container, meaning it will always show the remote address from docker-proxy itself. In your case it uses 172.17.42.1 since it's connecting to a 172.17.42.x container. It's not possible for the proxy to just "set" the remote address.

The only reason IPv4 does show the correct remote address is because it's actually bypassin

[2016-05-16 23:49] lanrat commented on #17666
@robbertkl thanks for the clarification.

[2016-05-17 00:05] fkautz opened #22776 "Expose libnetwork's CreateEndpoint options in docker cli"
The libnetwork API has an optional "options" map which can be passed into the CreateEndpoint call.

Docker CLI does not have a way to pass any custom options to CreateEndpoint

So... I propose:

[code]

which is inline with:
[code]

One use case is to support multi-tenant calls to kuryr through docker in openstack environments where users should provide an openstack token.

Alternative use cases i

[2016-05-17 00:36] mavenugo commented on #22675
thanks @sanimej that make sense on why it works in dind :) (though it isnt actually working as expected).

@HamidEDD though am not proud of it... simpler workaround is to `touch /.dockerenv` and that will cheat the code and it will ignore the error just as in `dind` case.

[2016-05-17 00:41] sanimej commented on #22675
@mavenugo with dind I verified that containers on a network with icc=false can't talk to each other. So the booleans not being available inside a network ns doesn't affect at least this functionality.

[2016-05-17 01:58] pingz commented on #5618
[code]

[code]

[2016-05-17 02:08] barbarello commented on #22507
just had a similar issue on a fresh boot (Ubuntu Xenial , docker 1.11.1 ).
Right after boot,  all docker cmds hang , and the following could be seen from systemd's journal:

~$ sudo journalctl -u docker
-- Logs begin at Mon 2016-05-16 21:37:06 UTC, end at Tue 2016-05-17 01:01:01 UTC. --
May 16 21:38:39 ip-10-16-101-236 systemd[1]: Starting Docker Application Container Engine...
May 16 21:38:52 ip-

[2016-05-17 02:09] lamont-granquist commented on #9295
The resolver cookbook issue that @epcim is also being fixed here:

https://github.com/chef-cookbooks/resolver/pull/22

[2016-05-17 02:43] CodyKurtz commented on #11680
I'd love to see IBM Integration Bus and IBM MQ running in docker containers. It would be great if we could bring up a set of queue managers with an iib node, using docker compose on AIX.

[2016-05-17 03:24] DoraALin commented on #10972
get the location of registry.go wrong... I modify the location where comment needed.

[2016-05-17 03:25] ZYNCMA commented on #4036
I ran `for i in {0..100}; do docker run busybox echo test; done` using docker 1.11 and got no error.
Can I say that devicemapper is race-free using docker 1.11?
If I can, what differences does udev_sync_supported make?

[2016-05-17 03:27] testphreak commented on #22226
@iamsamwood I am on the same Ubuntu version (OS and kernel) as you are. I haven't run hundreds yet, but thanks for the heads up.

[2016-05-17 03:34] netroby commented on #21702
I got the same problem. and a reboot host system resolve it

[2016-05-17 03:40] HackToday commented on #22753
Thanks @thaJeztah Any possible good doc link for related Mac Docker architecture or something else details? Seems interesting

[2016-05-17 03:51] ninchan8328 commented on #22377
it happens that i need to use privileged: true in my environment. Is there any reason why this problem (container A cannot ping container B and vice versa) happen when i use privileged:true with my image?

[2016-05-17 04:21] cinterloper commented on #21702
I have this issue, a reboot did not solve
[code]

i have also tried
[code]
rebooting, and re-installing docker via apt

i have not tried erasing my /var/lib/docker partition

[2016-05-17 04:34] smolinari commented on #22759
If checking the file format can save any Docker user's time, it should be in the core.

Scott

[2016-05-17 04:34] ninchan8328 commented on #20026
that works fine. however when i use my own image with privilege: true, containers cannot ping each other; but if i take out privilege:true, it works again. Any idea why? I dont see the same with the nginx:alpine image.

Unfortunately, in my environment , i need to use privileged: true, and it worked fine in the old docker engine pre version 1.8.

[2016-05-17 04:46] swan-go opened #22779 "Why remove container command is not defined"
$ docker ps -a
CONTAINER ID        IMAGE               COMMAND                  CREATED             STATUS                           PORTS               NAMES
96bbfe60adc9        dd64161e9554        "/bin/sh -c '/usr/bin"   2 hours ago         Exited (137) About an hour ago                       96bbfe60adc9_dockerapp_mysql_1

$ docker rm 96bbfe60adc9
flag provided but not defined: -i
See 'docker

[2016-05-17 06:56] BSWANG commented on #22185
@sanimej cluster node join event will cause dns query get stuck. As blow:
[code]

When the daemon start lookup peer, the dns server stop response dns queries.
Is updating to svcMap will block the dns queries?

[2016-05-17 07:09] HamidEDD commented on #22675
@mavenugo @sanimej  thanks for your help ! it works with `/.dockerenv`.
I also realized, that netowrk ns destroy the /proc/sys/net/bridge, but I have found no way to remount it.
Thanks again, I close the issue.

[2016-05-17 07:09] #22675 closed

[2016-05-17 08:24] ZYNCMA opened #22781 "Questions about udev_sync_supported"
I had read quite a lot discussions about the race between devicemapper and udev, but still couldn't understand it well.
I have a few questions and hope I can get some answers here.
1. There once was a [PR](https://github.com/docker/docker/pull/4067) make devicemapper race-free. Is docker 1.11 race-free?
2. How can I produce the race issue? Can any body detail more about the race between devicemapp

[2016-05-17 08:46] pokekrishna commented on #21702
Hi, I was facing the same problem and I can confirm that this happens when I execute 'docker diff'.
Although I dont really know what's causing the problem (I am still working on it), I do have a work around to get it fixed.

'docker restart' wasnt working. I was getting the same error (mentioned below)

Error response from daemon: Cannot restart container 1fe40b6cdafb: rpc error: code = 2 desc = "

[2016-05-17 08:57] erkules commented on #22633
@sforshee Any idea this will be published? (thx by the way)

[2016-05-17 08:58] thaJeztah commented on #22781
Since you followed the discussion on https://github.com/docker/docker/issues/4036, those fixes were added before Docker 1.0, but there's still lots of reports of people running into it with later versions

I don't have the details, but know it can be hard to reproduce, and that's the reason its highly discouraged to run without udev-sync support. Your installation can run for weeks (or months), se

[2016-05-17 09:14] thaJeztah commented on #20026
@ninchan8328 Even when adding "privileged" to my example file, it works. Keep in mind that, when running a container "privileged", basically you're giving it root access on your host. I don't know what's running in your container, but it's likely that it's making changes that cause the networking to fail. Those steps are normally blocked, but by adding "privileged", you're allowing the container t

[2016-05-17 09:32] AaronTao1990 opened #22782 "docker daemon rootfs does not exist"
After installing docker is just working fine and hello-world image runs ok as well. But when I tried to set up a separate “bootstrap” instance of the Docker daemon the hello-world procedure went wrong.

I am trying to set up k8s cluster environment bug got stuck on the first step. I referred to the tutorial in [Installing a Kubernetes Master Node via Docker](http://kubernetes.io/docs/getting-start

[2016-05-17 09:32] n0mik0s opened #22783 "mkimage-yum.sh: unable to install desired groups and packages in one step"
**Output of `docker version`:**
[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
vm on VMWare 5.x

**Steps to reproduce the issue:**
1. ./mkimage-yum.sh -p "yum.noarch yum-utils.noarch vim-common.noarch" -g "Base" rhel6_base

**Describe the results you received:**
The only Base group installed, the packages failed to be installed:

[2016-05-17 09:33] seffenberg-naspers commented on #22226
I only tried https://github.com/docker/docker/issues/22690#issuecomment-218757471 and it seems to work well right now. But still need to have a look if it won't crash again.

[2016-05-17 09:36] runcom commented on #17865
do either https://github.com/docker/docker/pull/22069 or https://github.com/docker/docker/pull/22009 fix this issue?

[2016-05-17 09:40] cefn commented on #22723
Indeed I have proven this is the case, but still puzzled that when invoked in ```bash``` CTRL+C shuts down the node process, but when invoked in a docker process SIGINT sent to it does nothing. Something must be different in the signal handling pathways between the two, and now I'm guessing it's to do with ```bash``` instead and potentially that the route to shutting down the process isn't SIGINT

[2016-05-17 09:40] #22723 closed

[2016-05-17 09:56] ZYNCMA commented on #22781
@thaJeztah Thanks for your reply!
For some reasons I have to run docker on a customized system based on centos 6.2 and the kernel is 3.10.90. Since my system doesn't satisfy the dependence docker engine requires, I have to use a statically compiled docker binary, and thus don't have udev sync support.
Any suggestion?

[2016-05-17 10:05] runcom commented on #22722
this was cause by docker/libnetwork#a1680565f14e8a1aca48dcb29248be69dec28be3

[2016-05-17 10:18] tarunlalwani opened #22784 "Kill base network container of another container"
I have a docker compose file

[code]
Now if do below

[code]

Now this keeps the `another` image in running status. I can `docker attach` to it. I cannot do a `docker exec` to this. It gives me the below error

[code]

This also causes the `docker stats --no-stream` to hang. I have used the latest dev branch.

I am not sure what is the expected behavior here. Should the containers using base conta

[2016-05-17 10:24] thaJeztah commented on #22781
Tricky; we no longer support CentOS 6.x, and running it on a custom kernel is untested. If possible, I'd really consider upgrading that system to CentOS 7. Having said that, if you're on a RHEL kernel, it may be possible to use the overlay graph driver (I think they back ported changes to their kernels to support this), but YMMV, you're really in uncharted territory.

I'll close this issue, becaus

[2016-05-17 10:24] #22781 closed

[2016-05-17 10:24] runcom commented on #22722
still unsure what's causing this (it's reproducible on a F24 vm though). However lowering the numbers of allocated ports solves this.

[2016-05-17 10:30] thaJeztah commented on #22377
@ninchan8328 see my answer on https://github.com/docker/docker/issues/20026#issuecomment-219662720. If privileged results in making this fail, then it's most likely an issue with your container/image making changes that are otherwise blocked. Running with `--privileged` is really discouraged, as it allows processes in the containers doing all kind of actions that you usually *don't* want. Try to f

[2016-05-17 10:42] thaJeztah commented on #22753
@HackToday https://blog.docker.com/2016/03/docker-for-mac-windows-beta/ gives a little more, and there is documentation, but I think it's only if you are in the beta; https://beta.docker.com/docs/. If you sign-up for the beta, then give me a "ping"; I can try to get you on the priority list as a contributor :smile:

[2016-05-17 10:43] mavenugo commented on #22377
@ninchan8328 could you confirm if this happens only with your image or does this happen with any other generic image (such as nginx:alpine as you described above), even with `--privileged` flag set ?
As @thaJeztah mentioned, if it happens only in your image, it is clear that your image is interfering with Docker's name-resolution mechanisms. Do you know what are the privileged operations that your

[2016-05-17 11:05] thaJeztah commented on #21986
This isn't a bug in docker, but the way cURL and PHP using cURL works; see http://stackoverflow.com/questions/9276114/php-curl-doesnt-see-the-etc-hosts-file and http://stackoverflow.com/a/10218482/1811501

[2016-05-17 11:05] #21986 closed

[2016-05-17 11:19] wangxing1517 opened #22786 "Might be something wrong with docker-ssd.pid"
Here is a docker-ssd.pid in my machine, when I run:
`dockerd -s overlay`
I notice that pid in docker.pid is right, while pid in docker-ssd.pid is wrong.

And when I try to remove docker, let's say v1.9.1 for example. I got
[code]
I guess maybe docker-ssd.pid isn't useless, so is there anything wrong with docker-ssd.pid?

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

[2016-05-17 11:20] runcom opened #22787 "userland proxy: can map only about 75 ports, then crash"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
physical

**Steps to reproduce the issue:**
1. `docker run -d -p 3800-3900:3800-3900 busybox`
2.
3.

**Describe the results you received:**
[code]
daemon logs:
[code]

**Describe the results you expected:**
container starts fine

**Additional informat

[2016-05-17 11:52] mavenugo commented on #22787
@runcom it again seems specific to a particular system (Distro - F24 ?)

I was able to go beyond 700 ports (I hit the iptables `cannot allocate memory` issue when scaling beyond 1000 ports).

[code]

[2016-05-17 11:57] ZYNCMA commented on #22781
Yeah, it's really tricky.
Unfortunately, I have to support centos 6.2 and centos 7.0 at the same time, and overlayfs doesn't meet our requirement since we need disk quota and formatting is forbidden.
By the way, may I ask why udev sync is only supported when the docker engine binary is dynamic linked?
Anyway, thanks for your help! Your explanation really helps a lot.

[2016-05-17 11:59] svdmitrij commented on #22746
I faced with same error. After service docker restart all work correctly.

[2016-05-17 11:59] BSWANG opened #22789 "/var/run/docker.sock mount in containers refuse connection after daemon hot upgrade"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Steps to reproduce the issue:**
1. start docker deamon in Experimental mode to use hot upgrade
2. docker run -v /var/run/docker.sock:/var/run/docker.sock -itd docker
3. attach the "docker in docker" container and use docker commander, no problem.
4. kill the docker daemon thread and rerun docker daemon
5. reattach to

[2016-05-17 12:00] BSWANG commented on #2658
/var/run/docker.sock mount in containers refuse connection after daemon hot upgrade https://github.com/docker/docker/issues/22789

[2016-05-17 12:18] thaJeztah commented on #22789
Thanks @BSWANG! I'll add this to the 1.12 milestone (as it relates to https://github.com/docker/docker/issues/2658)

/cc @crosbymichael

[2016-05-17 12:21] thaJeztah commented on #22781
I don't recall, it may be that it could not be statically compiled. The same question came up recently, but I don't recall what the answer was; @justincormack @mlaventure I think you looked into that?

[2016-05-17 12:27] sforshee commented on #22633
@erkules Ubuntu kernels are released on roughly a 3-week cycle for validation and regression testing. We're currently on week 2 of one of those cycles, so the fix will be part of the next cycle which will be pushed out approximately 5 weeks from now.

[2016-05-17 12:28] phemmer commented on #22779
Sounds like you have an alias or something wrapping your `docker` command.
Can you provide the output of `command -V docker`?

[2016-05-17 12:53] erkules commented on #22633
@sforshee thx

[2016-05-17 13:12] ipeoshir commented on #21485
It's very easy to replicate the results on my host and verify the performance can be improved on docker vs host. Here are the information from my environment to compare this:

1) Docker's Info:
# docker info
Containers: 0
 Running: 0
 Paused: 0
 Stopped: 0
Images: 1
Server Version: 1.11.1
Storage Driver: btrfs
 Build Version: Btrfs v3.16.2+20141003
 Library Version: 101
Logging Driver: json-file
C

[2016-05-17 13:17] ipeoshir commented on #21485
My kernel is: 3.16.7-35
My docker is: 1.11.1-107.1

As from the tests above, the difference between 100kB/s to 30kB/s impacts my applications when I use docker containers. I have installed all the latest components available to test this.

[2016-05-17 13:23] iEmiya commented on #22599
I am using this:
[code]
It worked.

[2016-05-17 13:39] baaltommysu commented on #18314
Hi all,

I have similar issue here, Docker v1.9.1 is running on CentOS7 with all default settings, i.e. basesize=100GB, loopback mode.

But in my case the time needed to remove a container is much longer than the time you guys posted. For example, I start 300 containers with all launching an infinite loop echoing something. Then I stop one container and keep all the other containers running. After

[2016-05-17 13:51] thaJeztah commented on #21485
I don't see these differences (although timing between runs can differ quite a bit);

On the host;

[code]

In a container (I added "read-only", to verify that nothing is written to the container's filesystem);

[code]

[2016-05-17 13:58] ipeoshir commented on #21485
Running exactly like you did it still slow:

 # rm -f /workspace/* && time dd if=/dev/zero of=/workspace/test_container1.img bs=512 count=1000 oflag=dsync
1000+0 records in
1000+0 records out
512000 bytes (512 kB) copied, 3.56118 s, 144 kB/s

real    0m3.562s
user    0m0.000s
sys     0m0.140s

# rm -f /workspace/* && time dd if=/dev/zero of=/workspace/test_container1.img bs=512 count=1000 oflag=ds

[2016-05-17 13:58] git-jiby-me opened #22790 "Container with docker overlay network doesn't work in windows container host"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. docker network create -d overlay stage
2. docker run -d --net stage stefanscherer/mongo-windows

**Describe the results you received:**

Fails with error message

[code]

**Describe the results you expected:**

Sh

[2016-05-17 14:00] ipeoshir commented on #21485
If I mount /workspace on a RAM (tmpfs) or use an SSD storage it gets better, but its expensive to have this for every application. What hardware/infrasctructure are you validating this?

[2016-05-17 14:02] git-jiby-me commented on #22790
@StefanScherer i believe you have been playing with it, have you had any results.

I also saw that fixes were done to support compose v4 issue on windows because of container being disconnected and connected back to network in compose, i tried out current HEAD of compose and docker engines and the error message that `windows doesnt support disconnecting container from network` still exists.

[2016-05-17 14:05] thaJeztah commented on #22746
So, looks definitely like a devicemapper issue. This fails when using devicemapper,
but no issues after switching to overlay;

[code]

[2016-05-17 14:05] thaJeztah commented on #22746
ping @rhvgoyal any ideas what influence device mapper could have here?

[2016-05-17 14:08] thaJeztah commented on #21485
This is simply a fresh install of docker on a DigitalOcean droplet, nothing fancy; Fedora 23 (was preparing to reproduce another issue), 2 GB Memory / 40 GB Disk

[2016-05-17 14:13] HackToday commented on #22753
oh @thaJeztah  Thanks, I thought it was a free to work and try. Not need any special to contribute. I will read that blog first to understand before I try. 😺

[2016-05-17 14:16] thaJeztah commented on #22753
@HackToday it's completely free, just to not overwhelm the team, it was decided to release it as a "private" beta first, because "many users' === "many support questions" :smile:

[2016-05-17 14:19] justincormack commented on #22753
Hi, yes there is not currently a way to route from teh Mac to the `docker0` bridge. We may be able to add this later, but generally we would recommend you connect from a container, or by exposing ports. This is the same as with docker overlay networks as well on Linux, which you cannot connect to from the host.

[2016-05-17 14:23] justincormack commented on #22789
Yes, the daemon will need to reopen the same inode for a bind mount to work, not delete and recreate.

[2016-05-17 14:31] nordluf opened #22791 "Internal DNS hangs for 2.5 second each ~2000 requests"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

I have internal DNS server in the overlay network. All containers start with --dns=[internal_ip] of this server. Then I start my own test app inside this overlay network to check performance of this DNS server. If I have `nameserver 127.0.0.11` in th

[2016-05-17 14:31] HackToday commented on #22771
seems overlay would hit another issue
[code]

I tried on centos 7.2  with docker 1.11.1

[2016-05-17 14:32] matthbull opened #22792 "docker failing to start when ports being mapped"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

- Ubuntu 16.04 running on a laptop.
- uwf disabled
- docker restarted
- nothing is running on 3306

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you

[2016-05-17 14:33] HackToday commented on #22779
yes, looks like environment related

[2016-05-17 14:39] srust commented on #22708
Hi @rck.

As a general rule, you can return `""` for the `Mountpoint` if it is not mounted. Don't return an error.

`Get`: you must return success for a volume that you own (created). The daemon will call `Get` to all volume plugins, and the one that responds for a given name gets it.

`List`: you should return all volumes that you own.

After the volume is mounted, you can then fill in the `Mount

[2016-05-17 14:45] thaJeztah commented on #22779
I'll go ahead and close this, because this doesn't look like a bug in docker, but feel free to continue the discussion

[2016-05-17 14:45] #22779 closed

[2016-05-17 14:46] thaJeztah commented on #22791
Have you checked your log files if you see the same error message as is mentioned in https://github.com/docker/docker/issues/22185 ?

[2016-05-17 14:48] nordluf commented on #22791
I checked - no errors, no warnings. Only some infos after changing resolv.conf -
level=info msg="Skipping update of resolv.conf file with ipv6Enabled: false because file was touched by user"

[2016-05-17 14:50] runcom commented on #22787
these are the last logs line before crashing though:
[code]

[2016-05-17 14:51] thaJeztah commented on #22784
Do you have the same issue on the current 1.11.1 release? I'm trying to reproduce this using just docker, with the current release (not master), on both Fedora 23, and CentOS 7

[code]

and

[code]

But it seems for work there, so wondering if it's a regression in "master";

[code]

[2016-05-17 14:51] justincormack commented on #22771
cc @jpetazzo

This container really isn't portable, not really surprised it doesn't run. See https://github.com/jpetazzo/syslogdocker/issues/4#issue-95955147 for some notes on a version that might work better.

The error is a bit confusing, and quite hard to debug, but I think it is to do with missing device nodes.

[2016-05-17 14:53] thaJeztah commented on #22791
do you have a minimal reproducible case?

[2016-05-17 14:56] nordluf commented on #22791
I can make it. Is it possible to provide commands to execute, or I need to make it more complex and easy ti use?

[2016-05-17 15:01] ninchan8328 commented on #20026
@thaJeztah  thanks for your response, and I agree this may be something specific to my image, however, I also try to do the same with our base image which has serviceability tools installed like rsyslog, collectd, lumberjack, etc... and still dont work with privileged:true. Do you have any suggestion how i can troubleshoot further?

[2016-05-17 15:04] thaJeztah commented on #22771
Also, this looks like a duplicate of https://github.com/docker/docker/issues/20228, so I'll close this one

[2016-05-17 15:04] #22771 closed

[2016-05-17 15:05] thaJeztah commented on #20026
Version 1.8 did not use an embedded DNS server; perhaps you should check if your container tries to modify `/etc/resolv.conf` inside the container, and update it to use a different DNS

[2016-05-17 15:05] ninchan8328 commented on #22377
@mavenugo @thaJeztah thanks for your response, and I agree this may be something specific to my image, however, I also try to do the same with our base image which has serviceability tools installed like rsyslog, collectd, lumberjack, etc... and still dont work with privileged:true ( i leave out the process that needs cap NET_ADMIN). Do you have any suggestion how i can troubleshoot further?

[2016-05-17 15:06] #22721 closed

[2016-05-17 15:07] thaJeztah commented on #22791
just the commands should be fine. Basically, something that the networking team is able to execute, and reproduce a comparable situation

[2016-05-17 15:08] justincormack commented on #22771
AH yes, it is the same as that issue. Just surprised it ever worked!

[2016-05-17 15:13] polonskiy commented on #22771
Thanks

[2016-05-17 15:14] thaJeztah commented on #22165
Sorry @ahmetalpbalkan, I discussed this with @dnephin (docker compose team), and he mentioned that this actually is a bug in docker compose 1.5, and should be fixed in in 1.6.2 and later. We decided to not make changes to the engine side

[2016-05-17 15:14] #22165 closed

[2016-05-17 15:16] justincormack commented on #22771
You can probably make it work with `docker run -v /dev:/dev syslog` (there are then some other permissions issues that need fixing, you may need some privileges).

[2016-05-17 15:16] wallnerryan opened #22793 "VOLUME declared in Dockerfile created if using `--volume-driver` causes issues"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Rackspace Ubuntu 14.04 VMs.

**Steps to reproduce the issue:**
1. Create docker machine VM on rackspace or aws
2. install flocker and flocker volume plugin (or other external storage plugins)
3. reference the driver without the reference to the volume

[2016-05-17 15:17] justincormack commented on #22771
(Although using a log driver seems much easier).

[2016-05-17 15:17] mavenugo commented on #22377
@ninchan8328 most likely one of the serviceability tools is causing this. Can you share the DockerFile file for your base image ?

[2016-05-17 15:18] maloddon commented on #21651
Got the exactly same problem here

[code]

[2016-05-17 15:22] thaJeztah commented on #22771
Yes, I think that image and article were written when there was not yet a syslog driver for docker.

ping @jpetazzo perhaps you can make a mention on that repository and related blog post (I think it was from a blog post)?

[2016-05-17 15:23] polonskiy commented on #22771
@justincormack , thank you.
@thaJeztah yep https://jpetazzo.github.io/2014/08/24/syslog-docker/

[2016-05-17 15:24] HackToday commented on #22786
Not found `docker-ssd.pid` file  on docker 1.11.1 with overlay

[2016-05-17 15:31] sanimej commented on #22377
When you run in privileged mode check if any app is clearing the IP tables.. docker daemon sets up some iptable rules required for DNS to work..

[code]

[2016-05-17 15:32] thaJeztah commented on #22793
This was actually changed at some point (see https://github.com/docker/docker/pull/15507), but reverted in https://github.com/docker/docker/pull/19190

The best way to use two different drivers is to explicitly create the volume with that driver, instead of using the `--volume-driver` flag on docker run, e.g.;

    docker run -v $(docker volume create --volume-driver=flocker):/foo myimage

I actua

[2016-05-17 15:33] #22793 closed

[2016-05-17 15:33] HackToday commented on #22771
@thaJeztah  Right now I did not think it is same issue as #20228, as it still not solved and in 1.10.*

But I tried it work on 1.10.2 environment, with

Removing intermediate container 7a65b3740cfa
Step 5 : VOLUME /dev
 ---> Running in b6cd734498f5
 ---> 590c1837bb63
Removing intermediate container b6cd734498f5
Step 6 : VOLUME /var/log
 ---> Running in 10070584f082
 ---> 1b79e5a590e6
Removing inte

[2016-05-17 15:44] thaJeztah commented on #22786
this may be something from the old version; the `lxc-docker` package, was that installed from out repositories, or from the debian repositories? I found this old report in the Debian bug tracker; https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=815246, and some other reports https://www.google.nl/search?rls=en&q=%22docker-ssd.pid%22&ie=UTF-8&oe=UTF-8&gfe_rd=cr&ei=TTs7V_T1LufG8AfG64P4CQ#q=%22docke

[2016-05-17 15:50] thaJeztah commented on #22792
This sounds as https://github.com/docker/docker/issues/16816 (and https://github.com/docker/docker/issues/17320), and could be related to other software interacting with iptables.

[2016-05-17 15:56] thaJeztah commented on #22782
This is a duplicate of https://github.com/docker/docker/issues/22684, which contains some additional configuration you need to make to get it to run. Also note that kubernetes may not be fully compatible yet with docker 1.11; https://github.com/kubernetes/kubernetes/issues/23397

[2016-05-17 15:56] #22782 closed

[2016-05-17 15:59] mavenugo commented on #22787
@runcom does the daemon go down ? or you mean the container fails to start ?

[2016-05-17 16:03] nordluf commented on #22791
First, you need docker-engine works with --cluster-store=consul://<consulip>:8500 or any other store. Then:
[code]

After some seconds you'll see output of dnsapp container:
`Resolving takes 2503ms after 1860 requests `
It means that name resolution hangs for 2500ms

[2016-05-17 16:04] runcom commented on #22787
@mavenugo the container fails to start - however we found out that setting `--pids-limit=-1` fixes the issue so it's not libnetwork related (the test fix still stands though)

[2016-05-17 16:15] ipeoshir commented on #21485
That's why I mentioned that using RAM or SSD might get a different results. If I look at the plans offered by DigitalOceans, they are selling SSD cloud server plans...

Currently I am running virtual machines with regular disks and physical ones all running on openSUSE.

[2016-05-17 16:18] sanimej commented on #22791
@nordluf Is it possible the DNS server is doing some throttling (many servers typically do) ? In the embedded DNS server we try to use the same UDP socket for all the queries from a container instead of opening a new one every time. So when you are sending lot of queries the server might throttle some responses.

[2016-05-17 16:20] nordluf commented on #22791
This is my own DNS server without throttling at all. Also, you can try change resolv.conf inside dnstestapp container to work with my DNS server directly - there will be no hangs

[2016-05-17 16:21] thaJeztah commented on #21485
But SSD or not; it's about the difference between in a container and outside.

@cyphar can you reproduce this on OpenSUSE?

[2016-05-17 16:28] ipeoshir commented on #21485
That's why I am worried... Even if I setup it fine on my environment, its not like I could ask everybody to adopt this SSD disk solution in order to have the same hardware as I recommend... I am investigating this on Ubuntu as well just to make sure its not openSUSE's specific... But it also happens on SLES 12.

[2016-05-17 16:28] thaJeztah commented on #22790
/cc @msabansal

[2016-05-17 16:40] ninchan8328 commented on #22377
Sure, first we have a cbase, just a bare minimum centos image download from public docker registry

cbase Dockerfile
FROM centos:centos6

RUN yum -y update
RUN yum -y install wget tar gdb

serviceability Dockerfile
FROM cbase:latest
# change this if this file is copied and then modified.

# Workaround for epel repo fix
RUN yum -y install epel-release
RUN sed -i "s/mirrorlist=https/mirrorlist=http/

[2016-05-17 16:45] erkules opened #22794 "How to configure docker-containerd"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

physical

In theory I can configure docker-containerd

[code]

As docker (re)starts docker-containerd. There is no way to configure docker-containerd.
I would like to have to configure docker-containerd when invoking docker.

[2016-05-17 16:50] thaJeztah commented on #22794
It's possible to run containerd separately, and use the [`--containerd`](https://docs.docker.com/engine/reference/commandline/daemon/) daemon option to tell the docker daemon that containerd is already running, and where to find the socket. In a normal install, though, there should be no need to change options, as they are passed by the docker daemon.

What options do you want to change, that are

[2016-05-17 17:07] erkules commented on #22794
Hi thaJezath,

Ahh thats the trick. It is about defining an endpoint for graphite.

thx
erkan

[2016-05-17 17:20] tonistiigi commented on #21702
@pokekrishna This is not the same issue, the path is very different. Your issue seems to be more related to #22746 and likely was fixed in #22168 (fix is only in master).

[2016-05-17 17:20] thaJeztah commented on #22794
Let me close this issue; feel free to comment though, after that!

[2016-05-17 17:20] #22794 closed

[2016-05-17 17:27] matthbull commented on #22792
urrg.  Ubuntu asked to install some updates this evening and now all is well.  I wish I could be more help.

thanks for reading.

[2016-05-17 17:27] #22792 closed

[2016-05-17 17:30] mlaventure commented on #22746
This is fixed by https://github.com/docker/docker/pull/22168 which is only in master.

[2016-05-17 17:33] mlaventure commented on #22705
can you check if there's any runc/strace processes still alive and if so kill them and try again?

Sometimes strace get stuck in that configuration (haven't figured out why yet).

[2016-05-17 17:34] ninchan8328 commented on #22377
I think we found the problem , one of our script restart iptables and clear out the docker settings in iptables for routing. Will that be a good idea to output the rule to /etc/sysconfig/iptables-config? so restarting iptables wont cause any problem?

Anyway, thanks for much for quick help!

[2016-05-17 17:36] mlaventure commented on #22507
@barbarello could you put your docker in debug mode, and if you ever restart and get the issue provide us with the log? thanks!

[2016-05-17 17:41] thaJeztah commented on #22377
Looks like we can close this one then :+1:

[2016-05-17 17:41] #22377 closed

[2016-05-17 17:42] thaJeztah commented on #22746
Cool, let me close this issue then

[2016-05-17 17:42] #22746 closed

[2016-05-17 17:56] thaJeztah commented on #22783
ping @stpierre perhaps you know what can cause this?

[2016-05-17 18:07] thaJeztah opened #22795 "Flaky test: TestRunUnknownCommand"
Seen failing on windows TP5; https://jenkins.dockerproject.org/job/Docker-PRs-WoW-TP5/1764/console

[code]

[2016-05-17 18:07] runcom commented on #22787
it could seem related to systemd TasksMax somehow but to my testing it isn't because if I add that to systemd service file it doesn't help. Also trying to run with `--pids-limit=-1` isn't working. Not sure at all what could cause this and the error output isn't helping.

[2016-05-17 18:09] jonl-percsolutions-com opened #22796 "Can not connect via http to remote host"
**Output of `docker version`:**
Local machine:

Remote Machine:

**Output of `docker info`:**

Local Machine:

Remote machine:

**Additional environment details (AWS, VirtualBox, physical, etc.):**
remote machine service ExecStart

**Steps to reproduce the issue:**
1. setup as above
2. docker -H **remotehostname**:2375 images

**Describe the results you received:**

**Describe the results you expe

[2016-05-17 18:14] aggieben commented on #15466
This doesn't seem to be the case.  I'm no docker expert, so I'm not trying to be argumentative for it's own sake, but doing `docker login` or `docker logout` doesn't do anything to my `.docker/config.json` file; ergo I'm not seeing how parsing that file will help.  I ran an `strace docker logout` to see what it was doing, and here's what it said (I snipped all the library loading stuff the precede

[2016-05-17 18:32] msabansal commented on #22084
@Rclemens The only way to fix this is to list the containers and stop any running container which is already using the mapped port. By saying we fixed it in TP5 I meant that we fixed the error string that is displayed so that it is not a generic error anymore. The behavior is the same where container startup will fail.

[2016-05-17 18:36] ipeoshir commented on #21485
So, on Ubuntu I got results closer to yours, @thaJeztah, thanks for looking... There was not much impact when running on a host vs a container.

Unfortunately there is no aufs driver on docker for openSUSE/SLES... Looks like something related with the storage driver, either **btrfs** I that am experiencing and **devicemapper** that @alkmim posted when this issue was reported.

Here is another VM (

[2016-05-17 18:36] thaJeztah commented on #22796
I suspect you have other environment variables set, for example `DOCKER_CERT_PATH`;

[code]

checking if there's env variables set;
[code]

And unsetting those variables

[code]

And try again;

[code]

I'll close this issue, because this is not a bug, but I hope the above helps you

**IMPORTANT** I hope your "remote" host is a machine inside your private network, and NOT somewhere on the internet

[2016-05-17 18:36] #22796 closed

[2016-05-17 18:42] thaJeztah commented on #21485
Basically, there should be *no* impact; when using a bind-mounted directory, or a volume, there's nothing between the process and the disk, it's just a mounted directory. The only thing that docker *can do*, is set a constraint (but these are disabled by default), such as;

[code]

[2016-05-17 18:43] msabansal commented on #22718
@maratkomarov Ah my mistake. I didn't read the problem statement correctly. This is a design limitation in WinNat which is a component HNS uses for NAT. It doesn't support connecting to the host IP from the nat network. I think for some reason after you have a delayed timeout winnat is using the second interface for connectivity and hence you are not able to ping it. In the case without delay winn

[2016-05-17 18:52] thaJeztah commented on #15466
@aggieben what version of docker are you using?

[code]

[2016-05-17 18:53] mavenugo commented on #22776
I think this is going down the path of https://github.com/docker/docker/pull/21663#issuecomment-217428605 . WDYT ?

[2016-05-17 19:01] ipeoshir commented on #21485
There is nothing special with the directory I am using as a volume to share, its just a regular folder on the host. The only difference I could think of was the storage-driver that docker was using. So I am clueless then how to get this fixed on SuSE. I tried using the constrains, but there was no difference on the transfer rates:

1) container running on opensuse 13.2's host:
[code]

2) opensuse

[2016-05-17 19:13] aggieben commented on #15466
[code]

[2016-05-17 19:13] fkautz commented on #22776
Would a policy work for those tokens though? The main problem is there is necessary runtime info that cannot be expressed purely at network creation time.

The policy idea could work as long as we have a way to accurately select which containers should be assigned a given set of keys and if policy can be changed over time e.g. we shouldn't need to rebuild a container cluster because an auth token

[2016-05-17 19:16] ipeoshir commented on #21485
Mounting the shared folder (/workspace) on RAM makes it run instantaneously, but then again, it's an expensive resource like SSD. I'm still having performance issues when running applications on HDD storages... What puzzles me is how come docker, as just like a regular process writing on my folder could be so much slower?

[code]

[2016-05-17 19:48] brouberol commented on #20871
@thaJeztah It seems that switching to overlayfs fixes it for my team. Thanks for the suggestion!

[2016-05-17 19:55] jonl-percsolutions-com commented on #22796
Yes, the "remote host" is on the internal network. Thanks, I was confused as to where these environment variables were set.  It appears that they are set in the mingw environment, which wasn't clear as I thought that the docker executable actually ran in the default docker machine as it appears to.  Was trying to diagnose why I could not connect the remote machine as a "docker-machine" using the g

[2016-05-17 19:59] thaJeztah commented on #22796
Yes, the docker *daemon* runs inside the VM, but the client runs locally. The environment variables locally, are used by the client

[2016-05-17 20:46] liamawhite commented on #22705
Done, still the same issue. I have to run the command in sudo which obviously creates a second docker-runc process but that's not a problem right?

[2016-05-17 20:50] xiaods commented on #11185
Hi.
Any updates on this?

[2016-05-17 21:21] msabansal commented on #22790
Is this Docker for Windows?

[2016-05-17 21:32] StefanScherer commented on #22790
@msabansal No, this seems to be an Ubuntu 14.04 swarm manager and node + Windows 2016 TP5 Docker swarm node.
Just trying out what's working with the docker world based what we have read in https://blogs.technet.microsoft.com/virtualization/2016/05/05/windows-container-networking/

[2016-05-17 21:38] msabansal commented on #22790
Overlay network(that's available in Linux) is not supported in Windows for now. We do have L2Bridge and L2Tunnel networking modes which are windows specific networking modes designed for SDN for Microsoft Azure stack and Azure.

[2016-05-17 21:43] phemmer commented on #22789
You can't reuse an existing unix domain socket file. You have to unlink it. The only way you could get this to work is to pass the open file descriptor to the new process. On systemd this wouldn't be an issue as that's already how systemd does it (passes it on start). But for non-systemd systems, docker will have to hand the file descriptor off.

[2016-05-17 21:56] gopinatht commented on #20871
@mavenugo Apologies for the hiatus. I use dockers with kubernetes so I don't have a lot of control over the exact way the dockers are launched (unless I modify kubernetes itself). Having said that, with the introduction of `--hairpin-mode` in the the kubernetes [kubelet](https://github.com/kubernetes/kubernetes/blob/master/docs/admin/kubelet.md), which I think controls the userland_proxy, I have h

[2016-05-17 22:03] freman commented on #9299
It would be nice if we could pass multiple environment variables (ala -e)

[2016-05-17 22:06] NinoFloris commented on #22753
Well not really satisfactory as macs are usually not production servers but
dev machines.

On my production machines i dont mind the problem of not being able to
connect to the host.

But on a dev machine connecting to services on the same host from inside a
container is exactly the scenario where this functionality is desired the
most.

On Tue, May 17, 2016, 16:25 Sebastiaan van Stijn <notificati

[2016-05-17 23:40] bukzor commented on #22732
What are the odds that this will make it into the 1.12.0 release?
This is relevant to our own project planning; this bug affects us heavily.

[2016-05-18 00:16] crosbymichael commented on #22789
We will try our best to find a good solution to fix this but its not necessarily a pre req for completing the daemon restore feature.  Its an advanced usecase and if the fix is too complicated, it maybe better to to **do a workaround like not mounting the socket but bind mounting the directory where the socket is created**.  That will solve your issue today and in the future.

[2016-05-18 00:32] chrisber opened #22797 "ubuntu 16.04 x64 --Temporary failure resolving archive.ubuntu.com container i386/ubuntu"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
- `Ubuntu 16.04`
- `Linux lpt 4.4.0-22-generic #40-Ubuntu SMP Thu May 12 22:03:46 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

**Steps to reproduce the issue:**
1.docker run -it --rm i386/ubuntu apt-get update
2. does not work

1.docker run --privileged

[2016-05-18 00:37] thaJeztah commented on #22797
Can you try using `--security-opt seccomp=unconfined` instead of `--privileged`? This may be resolved on master

[2016-05-18 00:43] chrisber commented on #22797
`docker run --security-opt seccomp=unconfined -it --rm i386/ubuntu apt-get update` works also instead of `--privileged` but how to use it in a Docker file with `Docker build -t .`

[2016-05-18 00:51] #22797 closed

[2016-05-18 01:09] wrouesnel opened #22798 "Support multiple --net/--ip specifications per container?"
When using a network plugin like Calico which can support ECMP/Anycast style configurations, it's a big limitation at the moment not being able to configure via the docker run command multiple IP addresses / interfaces to be added to a container (i.e. multiple libnetwork calls).

Is this likely to be supported in the future? The use case would be adding a regular network interface for connectivity

[2016-05-18 01:19] coolljt0725 commented on #22798
Currently, we support `docker network connect ` to a non-running container,  so you can create a container and then add multiple interfaces to the container via `docker network connect`, and then the container will be started with multiple interfaces.

[2016-05-18 01:59] swan-go commented on #22779
Only supported -v, not support  -V

$git:(master*) docker -V
flag provided but not defined: -V
See 'docker --help'.

$git:(master*) docker -v
Docker version 1.11.1, build 5604cbe

[2016-05-18 02:02] phemmer commented on #22779
Not `docker -V`, `command -V docker`

[2016-05-18 02:04] wangxing1517 commented on #22786
@thaJeztah , thanks for your help, it's surely sth from old version.

[2016-05-18 02:04] #22786 closed

[2016-05-18 02:59] Simon-L commented on #21259
Totally seconding this.
Particularly tricky part for a newcomer.
Haven't tried with datacontainer though. Should be the same?

Personal example: bitlbee container.

[2016-05-18 03:19] tarunlalwani commented on #22784
@thaJeztah , Attach works for me to. Check `docker exec` with /bin/bash and check `docker stats --no-stream` which gets stuck. I have not tested on 1.11 as the machine was upgraded to 1.12-dev. But I had the latest dev branch from yesterday morning.

[2016-05-18 04:29] icy commented on #18569
This problem happens because `docker` client tries to detect authentication method from the registry server. If there is an option to force `docker` client to send authentication information to the registry, that would be fine. However, solving a problem in registry is much easier...

My two cents.

[2016-05-18 05:55] n0mik0s commented on #22783
What works for me is:

<<<
if [[ -n "$install_groups" ]];
then
    yum -t --installroot="$target" --setopt=tsflags=nodocs \
        --setopt=group_package_types=mandatory -y groupinstall $install_groups
    **rm -rf "$target"/etc/yum.repos.d && rm -rf "$target"/etc/yum.conf && rm -rf "$target"/etc/yum**
fi

if [[ -n "$install_packages" ]];
then
    yum -t --installroot="$target" --setopt=tsflags=n

[2016-05-18 05:59] cyphar commented on #21485
@ipeoshir I can't reproduce this on Tumbleweed. I believe it's probably a kernel issue, since Docker doesn't do anything special with bindmounts. Can you try to reproduce this on an openSUSE distribution with a newer kernel (for example openSUSE Leap or Tumbleweed)? openSUSE 13.2 has very old packages.

[2016-05-18 06:06] wrouesnel commented on #12641
We have a slightly different use case for this functionality: tracking expectations when overriding vendor supplied files. The idea is when you do something like `apt-get install -y SomePackage` and then have subsequent commands which replace bits of it, we want to check that the files we're replacing haven't changed (and thus possibly changed meaning) without noticing.

`docker diff` functionalit

[2016-05-18 07:29] nejtr0n opened #22799 "DNS daemon option do not work in internal overlay network"
**Output of `docker version`:**
[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Running in virtualbox

**Steps to reproduce the issue:**
1. Run docker daemon vith dns option
/usr/bin/docker daemon -H tcp://10.0.0.1:2375 -H unix:///var/run/docker.sock --cluster-store=consul://10.0.0.1:8500 --cluster-advertise=10.0.0.1:2376 --label

[2016-05-18 07:39] hupili commented on #12823
Same problem here. This is triggered by network reconfigure of host. "Fixed" via "docker-machine restart"

[2016-05-18 07:45] nakedible opened #22800 "Proposal: document Dockerfile building security promises"
Currently it seems very hard to find any documentation on what kind of security is promised by Dockerfile execution, especially if building Dockerfiles from untrusted sources.

As far as I can gather, the security is as follows:
- context directory contents are available, but there is no access to files outside it
- full access to network is available as if running an untrusted docker image
- esca

[2016-05-18 07:48] Silex opened #22801 "Cannot build emacs using Dockerfile"
Hello,

I'm building https://github.com/Silex/docker-emacs/blob/master/24.5/Dockerfile on ubuntu 16.04 with docker version:

[code]

But it fails like so:

[code]

I discovered two workarounds:
1. Don't build with a Dockerfile and build in a running container that has a seccomp profile that allows the `personality` syscall.
2. Disable `/proc/sys/kernel/randomize_va_space` before building

Related

[2016-05-18 07:59] rck commented on #22708
Hi @srust,

thank you very much, that's basically identical from what I found out by looking at the requests that I get in the plugin and what I thought makes sense to return.

I will close the ticket and prepare a patch for the documentation. Let's see...

Thanks again, rck

[2016-05-18 08:05] angeloluciani commented on #18283
I had the same issue. Thank you guys for share

[2016-05-18 08:28] thaJeztah commented on #22797
@chrisber did that work for you?

[2016-05-18 08:28] crook commented on #22093
I met the same issue. Does this issue have been fixed??

[code]

[2016-05-18 08:30] thaJeztah commented on #22708
@rck let's keep this open for tracking the documentation update; if you can refer to this issue with `fixes #22708` in your PR description, that will automatically close this issue once merged.

Thanks in advance!

[2016-05-18 08:35] thaJeztah commented on #22093
@crook the linked PR was not merged yet (https://github.com/docker/docker/issues/22103)

[2016-05-18 08:48] Silex commented on #22801
Link to emacs bug report, but unlikely to be fixed in emacs itself: https://debbugs.gnu.org/cgi/bugreport.cgi?bug=23529

[2016-05-18 08:50] errordeveloper commented on #19625
Hey folks, can this issue be re-open and considered for the next release?? I think here is enough activity, it's definitely a problem for anyone trying to use the mount propagation feature, do people agree?

[2016-05-18 08:57] git-jiby-me commented on #22790
@msabansal okay, the reason i was confused was that the overlay networks is created fine in windows docker as well, and if i query the networks available directly on the overlay network its there as well.

The issue only appears when i try to attach a container to the properly created overlay network in windows.

[2016-05-18 09:03] thaJeztah commented on #19625
@errordeveloper can you open a pull request that changes the systemd unit file; https://github.com/docker/docker/blob/master/contrib/init/systemd/docker.service#L14, then we can discuss on that PR. (I'm not sure if there's side effects to that change that need to be discussed)

[2016-05-18 09:04] thaJeztah commented on #22772
https://github.com/docker/docker/issues/22582 Was merged, so this should be fixed on master, and will be in docker 1.12

[2016-05-18 09:04] #22772 closed

[2016-05-18 09:08] #22722 closed

[2016-05-18 09:13] thaJeztah commented on #22783
I never used the script myself, but if there's improvements that can be made, feel free to open a PR, then we can review/discuss those changes

[2016-05-18 09:26] thaJeztah commented on #22784
@tarunlalwani oh! my mistake, I read the description wrong; I'll try it later

[2016-05-18 09:28] joedborg opened #22802 "Docker stop does not seem to fall back to sigkill"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

Phyisical node.

**Steps to reproduce the issue:**
1. Process inside the container falls into state D (uninterruptible sleep).
2. `docker stop` the container; hangs indefinitely, even if `-t 1` is specified.
3. Using ps to find the container shim process, you can see it's in Sl state.  `kill -9`ing this process works an

[2016-05-18 09:44] far-blue opened #22803 "Daemon config setting to disable 'legacy' mode on the default bridge"
It would be hugely helpful if there was a daemon config setting to disable 'legacy' mode on the default bridge so it can participate in multi-network setups in docker-compose. Or, alternatively, maybe legacy mode is disabled by default when the daemon is started with the -b config parameter to specify a replacement default bridge.

[2016-05-18 09:46] thaJeztah commented on #22802
Is there a way to reproduce this? I.e., how can I get a container to get into that state?

[2016-05-18 09:48] icy commented on #18569
@joda70 You can create two different nginx set up, let's say `dockerhub-ro.example.net` and `dockerhub-rw.example.net`. For the `ro` version, you need to deny all requests except the `GET/HEAD` ones; this prevent docker client from pushing (actually, `docker client` tries to push without any authentication method; but it will fail quickly). The `rw` version you need to provide basic authentication

[2016-05-18 09:50] far-blue opened #22804 "Config to control the defaults for new custom bridge networks"
It would be very helpful to have config parameters or settings within the daemon.json config file to control some of the default parameters when a new bridge network is created. At the moment, the default appears to be to create a /16 network on the next available class B range in 172.n.0.0/16. I realise this is configurable when manually creating bridge networks on the cli and it is configurable

[2016-05-18 09:51] joedborg commented on #22802
Mine was happening due to NAS problems (the container was moving files about).  I guess you could try to run something like this in a container:
http://unix.stackexchange.com/questions/134888/simulate-an-unkillable-process-in-d-state

[2016-05-18 09:53] thaJeztah commented on #22803
With "legacy mode" you mean the "legacy links"? If you're using the docker compose V2 file format, you'll automatically get the new networking; https://docs.docker.com/compose/compose-file/#versioning

[2016-05-18 09:55] mmkonrad commented on #22451
Any idea?

[2016-05-18 10:01] far-blue commented on #22803
no, it's more to do with how docker-compose uses aliases. If you try to setup a front and a back network where the back network is the default bridge then docker-compose complains with:

If, like me, you have overridden the default bridge (in my case, with Ubuntu's Fan Network stuff) and you want to present a limited number of containers from a docker-compose group on that default bridge so others

[2016-05-18 10:02] referup-tarantegui commented on #16816
Same issue here Ubuntu 14.04 with docker 1.11.1 and docker-compose 1.7.1 no workaround solved the problem.

[2016-05-18 10:02] thaJeztah commented on #22802
You mention it never reached "Failed to send signal %d to the process, force killing"; do the daemon logs show anything useful? Wondering what path it took, that didn't return an error (making it skip that step)

[2016-05-18 10:07] n0mik0s commented on #22783
I do not think that my changes are so important that there is should be created new PR for them. I posted my changes for those who will (or have been) faced with the problems like I did.
Thanks!

[2016-05-18 10:09] sanmai-NL opened #22805 "[1.11] ‘Spurious IPv4 forwarding disabled’ warning with --net='host'"
**Output of `docker version`:**

[code]

**Output of `docker info`:**
Unnecessary.

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**

Outputs:
[code]

**Describe the results you expected:**
No such warning. Networking, including container <-> WAN routing, works fine.

[2016-05-18 10:12] far-blue commented on #22803
e.g. as a pseudocode example:
[code]

[2016-05-18 10:17] sanmai-NL commented on #22295
Please do deprecate! Esp. the `--icc` CLI parameter is confusing if it doesn't have the stated effect.

[2016-05-18 10:21] joedborg commented on #22802
@thaJeztah, I never see them in the CLI, maybe I'm not meant to?

Here are the logs:
[code]

[2016-05-18 10:30] thaJeztah commented on #22803
We won't make changes to the default (bridge) network because that would break backward compatibility. Is would it be an option to create your own bridge, and use that for your custom ("front") network?

[code]

[2016-05-18 10:43] far-blue commented on #22803
I assume the --opt setting is to tell docker to use an existing interface on the host. I guess this is something that I could work out how to script via Salt and write a conditional test for so the network isn't re-added multiple times etc.

But the main advantage of using the default bridge network for the fan network is that it is used by default by all containers without people having to rememb

[2016-05-18 10:49] sanmai-NL commented on #13490
@thaJeztah:

Can you support this claim? Non-privileged processes cannot access the environment variables not non-child processes.

[2016-05-18 10:51] sheerun commented on #18596
@jfrazelle @thaJeztah What's the status of the builder? Could you reconsider this feature?

[2016-05-18 10:54] errordeveloper commented on #19625
@thaJeztah cheers, here it is #22806!

[2016-05-18 10:54] oncletom commented on #21148
Same here, we use SSL certificate authentication at the BBC for lots of services instead of passwords.

From what I understand, providing `--tlscert` and `--tlskey` only relates to the communication with the docker daemon and thus, this is not intended to be used with the `docker login` and any operation related to registry communication, like `push` and `pull`.

[code]

[2016-05-18 11:01] ipeoshir commented on #21485
I found a way to replicate this consistently. It's related to how docker interacts with journal filesystems (ext3, ext4). I will post the steps here to make it easier to investigate, but basically you need to attach a disk to your host, format it ext3/ext4, mount it and use it as the directory to write your data... I formatted this disk with multiple filesystems (btrfs, xfs, ext2, ext3, ext4, etc.

[2016-05-18 11:17] sanmai-NL opened #22807 "[1.11.1] Use `ip-masq` everywhere instead of both `ip-mask` and `ip-masq`."
The Docker Engine daemon CLI param is `--ip-masq`, so do not use `ip-mask` parameter instead in `daemon.json`.

[2016-05-18 11:17] obeattie commented on #5618
I am experiencing this issue using the `overlay` graph driver, with the directory on an `ext4` FS. So I don't think `xfs` is the problem 😢

[2016-05-18 11:20] hjacobs commented on #18569
@icy we use the same approach ("workaround") in our [Pier One Docker registry](https://github.com/zalando-stups/pierone), i.e. we have two DNS entries pointing to the same app:

* registry-write.opensource.zalan.do to push (with authentication, will return 401 on `GET /v2/`)
* registry.opensource.zalan.do to pull (without authentication, will return 200 on `GET /v2/`)

[2016-05-18 11:21] thaJeztah commented on #22802
thanks! ping @mlaventure @tonistiigi any ideas?

[2016-05-18 11:22] joedborg commented on #5618
@obeattie Yeah, seems people are getting it on `devicemapper` too.  Touch wood, I have had the issue again since switching.  As mentioned, I did also swap physical disk.  This is going to be an interesing one!

[2016-05-18 11:22] thaJeztah commented on #22783
Alright, I'll close this issue then. Thanks!

[2016-05-18 11:22] #22783 closed

[2016-05-18 11:33] thaJeztah commented on #22807
Also see https://github.com/docker/docker/pull/22756

[2016-05-18 11:41] thaJeztah commented on #22800
I think that documenting it would indeed be a nice addition; I don't think we currently mention this

Actually, Docker Hub uses dedicated nodes for each account/build, but the main reason here was performance, and security from a different perspective; so that Docker Hub can guarantee no build artifacts are left on the machine that your automated build is executed on. See the blog announcement her

[2016-05-18 11:44] thaJeztah commented on #22800
Thinking a bit more; one possible resource exhaustion is disk space; disk space is not limited, so `docker build` *could* use up available disk space on the host (either through the container's filesystem, or if a `VOLUME` is present in the Dockerfile)

[2016-05-18 11:47] thaJeztah commented on #22798
This has been discussed before in https://github.com/docker/docker/pull/17796, https://github.com/docker/docker/issues/17750 and https://github.com/docker/docker/issues/17289, and is not something we'll implement; see https://github.com/docker/docker/pull/17796#issuecomment-172009986

I'll close this issue, but feel free to comment here after I closed

[2016-05-18 11:47] #22798 closed

[2016-05-18 11:48] ipeoshir commented on #21485
Here are the testings. I attached an external disk with 1GB size for this.

1) ext3, data=ordered
[code]
Results: **31.8 kB/s** on docker and **293 kB/s** on host

2) ext3, data=journal
[code]
Results: **406 kB/s** on docker and **409 kB/s** on host

3) ext2
[code]
Results: **757 kB/s** on docker and **722 kB/s** on host

4) btrfs
[code]
Results: **330 kB/s** on docker and **317 kB/s** on host

[2016-05-18 11:51] oncletom opened #22809 "Docker login with non-root artifactory path"
This issue is about using `docker login` in combination with a private registry hosted on `https://xxx/artifactory/docker-registry/`.

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

OSX on Macbook Pro

**Steps to reproduce the issue:**
1. `$ docker login https://xxx/artifactory/docker-registry/`

[2016-05-18 11:56] liamawhite commented on #22705
FYI - If I rollback to Docker version 1.10.3, build 20f81dd then it works fine.

[2016-05-18 12:07] thaJeztah commented on #22803
The "Network-scoped alias is supported only for containers in user defined networks" is because the legacy links (which are used on "bridge"), don't use DNS-based discovery

[2016-05-18 12:18] chrisber commented on #22797
yes docker version 1.11.0 worked. thanks

[2016-05-18 12:21] ameyrk opened #22810 "Chown command in docker file adds a new layer when used to change the ownership of the copied directory/file"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. Create a docker file as below
FROM tomcat
RUN useradd -d /home/test test
ADD test123 /home/test/test123
RUN chown -R test:test /home/sdpuser/test123
2. mkdir test123 && cd test123
3. cp <somefile> test123
4. docke

[2016-05-18 12:21] far-blue commented on #22803
Yeah, I do understand the difference but having the only globally defined, auto-used network as a 'legacy' one that you can't then intermix with other networks via docker-compose is a bit of a blocker to easy setup of some pretty basic network configurations. I completely agree with you about not wanting to break legacy support and totally understand why the default bridge has a legacy mode, I'm j

[2016-05-18 12:24] pjebs commented on #22440
@justincormack I sent the email.  Looking forward to finding out if it's a docker issue or my issue. I'm leaning towards docker issue.

[2016-05-18 12:24] Mic92 commented on #5618
This problem does not correlate with the filesystem in any way. I have see this problem with zfs, overlayfs, devicemapper, btrfs and aufs. Also with or without swap.

[2016-05-18 12:27] phemmer commented on #22802
Processes in uninterruptable sleep can't be killed. The log output shows the SIGKILL is being sent, but the process isn't responding to it as expected. Killing the parent might cause docker to think the container is exited, but I'm willing to bet that `D` process is still there. And as such, it's going to be holding a lot of the container stuff open (the namespaces), so killing the parent is not a

[2016-05-18 12:27] lexandro opened #22811 "Override named container with -oc or --override-container parameter"
Named containers are cool, but you should provide --rm to make your run command repeatable, but deleting containers after stopping is not always the desired behavior because we want inspect them or tail their log, etc. During the development would be nice to use named containers and make possible their overriding with a parameter.

Suggested parameteres:
**-oc** or **--override-container** - Overr

[2016-05-18 12:40] joedborg commented on #22802
@phemmer Yep, that's correct, they are still there (and will be until reboot).  I'm wondering if killing the container and leaving the processes (with a warning) is preferable to just hanigng without any indication?

[2016-05-18 13:10] thaJeztah commented on #21485
@ipeoshir nice find! At least happy that part of the mystery is resolved

[2016-05-18 13:11] thaJeztah commented on #21485
Some quick search; https://www.redhat.com/archives/ext3-users/2011-April/msg00001.html

[2016-05-18 13:13] cpuguy83 commented on #22810
Yes, this is expected.
The filesystem has to copy up the the file into the new layer so that it can be chowned.

[2016-05-18 13:13] #22810 closed

[2016-05-18 13:15] ameyrk commented on #22810
Thanks for the info

[2016-05-18 13:16] maratkomarov commented on #22718
Thank you for explanation

[2016-05-18 13:22] thaJeztah commented on #22802
Well, we shouldn't *hang*, but killing the container and leaving the processes sounds definitely worse, because then there's no indication at all that there's still container processes running.

[2016-05-18 13:23] phemmer commented on #22802
If this is NFS, you can use mount options such as `soft` and `intr` to allow killing your process. In my personal opinion, I would think that should be the recommended solution here. If the process won't exit, I don't think docker should abandon it.

[2016-05-18 13:29] ipeoshir commented on #21485
That is a very interesting article, I was reading it yesterday.

I am hinting openSUSE's on my tests as an example, but my target is SLES12. I can replicate the scenario there as well. Unfortunately the kernel is not the latest. Overall my application is slower when writing data when running on docker. This "dd" command was the easiest example I could find to share, but there are many other things

[2016-05-18 13:38] jmmclean opened #22813 "Remote API Stats - Return Empty Response From Netcat"
Hello Docker Community,
I believe there may be an issue with the Docker Remote API for obtaining stats. Few things to note:

I cannot use curl 7.40 or greater as my customers may or may not have this version; As a fallback, I use netcat, similar to the below:

[code]
You will notice that nothing is returned. Please also note that I have reviewed https://github.com/docker/docker/issues/16078 and th

[2016-05-18 13:47] thaJeztah commented on #21485
The article describes that *without* journal, operations can be slow if simultaneous "read" and "writes" take place. So wondering if there's a "read" here. You could try using `--log-driver=none`, but I don't think that'll make a difference (container isn't logging anything really)

[2016-05-18 13:55] ipeoshir commented on #21485
Disabling net and log-driver, its 31.1 kB/s against 273 kB/s. In seconds its 16.4585 s against 1.87827 s...

SLES12:
[code]

[2016-05-18 14:03] ipeoshir commented on #21485
Btw, on some hosts we have some auditing, so I tried disabling those with --cap-drop=ALL. But on these hosts I don't have any auditing services running, so it should not matter I believe...

[2016-05-18 14:07] thaJeztah commented on #22811
You can already do so using `docker rename`, so I don't think we should implement something like this;

[code]

[2016-05-18 14:12] thaJeztah commented on #22811
I think this is a duplicate of https://github.com/docker/docker/issues/2733, so I'll close this issue, but feel free to comment here after I closed 👍

[2016-05-18 14:12] #22811 closed

[2016-05-18 14:17] mikehaertl commented on #4737
@icecrime I don't think that this is limited to Version 0.9. It's also still happening in latest 1.11.

[2016-05-18 14:18] sanmai-NL commented on #11508
When will this issue be addressed, @thaJeztah @jfrazelle?

[2016-05-18 14:18] sanmai-NL commented on #14041
When will this issue be addressed, @thaJeztah?

[2016-05-18 14:24] emq commented on #4737
^ I can confirm that; actually stumbled upon this thread yesterday while I was setting up new server :p Vasco's solution does the job tho :+1:

[2016-05-18 14:27] cpuguy83 commented on #4737
I'm inclined to say that there need only be a doc change.
Everything docker does is isolated to two chains ("DOCKER" and "DOCKER-ISOLATION") which docker itself creates.

Meanwhile, UFW thinks it is the single source of truth and does not actually read iptables for existing rules.

If you want to make sure ports aren't forwarded to an external interface then you need to make sure you specify which

[2016-05-18 14:32] phemmer commented on #14041
Oh, bit of a delayed response, but something that just didn't click in my brain until now:

This is incorrect. The default configuration of the system is secure. Docker is the one altering the kernel state (changing the sysctl flag) and causing the system to become insecure, not the user.

-----

Yes, this is what I'm proposing here. The system default is `net.ipv4.ip_forward=0`. This is effective

[2016-05-18 14:46] mikehaertl commented on #4737
@cpuguy83 ufw is the standard firewall on Ubuntu which is probably used on tens of thousands of machines. Many developers will simply trust ufw. They will not expect that by default docker messes up  their firewall and basically completely bypasses it.

Maybe a doc change is enough. But on the other hand, there's nothing worse then a hacked server due to an open firewall e.g. on MySQL Port 3306. I

[2016-05-18 14:47] thaJeztah opened #22814 "Flaky test: TestEventsFilterLabels"
Seen failing on WindowsTP5 https://jenkins.dockerproject.org/job/Docker-PRs-WoW-TP5/1784/console

[code]

[2016-05-18 14:59] mlaventure commented on #22705
@liamawhite what do you mean you have to run the command in sudo? Which command are you referring to?

Docker is running as a privileged process, it doesn't need sudo to execute docker-runc.

[2016-05-18 15:08] devotox opened #22815 "Docker in Docker on Jenkins"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Virtualbox
Jenkins

**Steps to reproduce the issue:**
1. run jenkins container
2. create a build that uses docker-compose
3. docker-compose -p $application_name -f docker-compose/$compose_file up -d

**Describe the results you received:**
The build co

[2016-05-18 15:10] friism opened #22816 "Wire up `variant` and `features` for selecting images from manifest lists"
From distribution: https://github.com/docker/docker/blob/master/distribution/pull_v2.go#L619

It would be great to get this wired up in engine so that images get OS variant metadata when built and if this were used when choosing an image from a manifest list.

This has applicability for Windows, where we need to disambiguate between images for Nanoserver and Windowsservercore.

cc @glennc @tianon

[2016-05-18 15:11] HenningWagner opened #22817 "device-mapper-driver documentation update looses thinpool configuration info"
Referring to #22166

The [last commit of the device-mapper documentation](https://github.com/docker/docker/commit/a7b2f87b0637a3711e90c0f1d0a99dd5d32bd60f#diff-52525eec69924c13d098f5d19b2d79adL254) by @chenchun clarified the overall use.
But as I go through the steps, I'm missing the part where the thinpool configuration on /data and /metadata is done.

The [diff shows that the previous version ](

[2016-05-18 15:23] flavio commented on #21485
I've been able to reproduce the issue on a SLE12 SP1 machine. I'll file an internal bug at SUSE and we will work on that. We will keep you posted.

Feel free to open a service request using the usual SUSE channels If you need a patch or want to follow the evolution of the bug closely.

[2016-05-18 15:31] ipeoshir commented on #21485
Thanks, good to know! I will see if I open a bugzilla and link it to this thread.

[2016-05-18 15:42] mavenugo commented on #22803
@far-blue in v2 mode, compose automatically creates custom networks without the need for any additional configuration. Infact, if it is run on top of Swarm, it automatically creates an overlay network that is multi-machine cluster capable.

I don't understand your use-case though. Yes, it will be convenient to have all of the networks (legacy and user-defined) support all the features. But we had

[2016-05-18 15:46] thaJeztah commented on #22813
I don't think there's much we can do about that; if you don't have tools to communicate with the API, that's not a bug in docker.

You could consider having them run cURL in a container;

[code]

I'm closing this because this isn't a bug

[2016-05-18 15:46] #22813 closed

[2016-05-18 15:48] lexandro commented on #22811
That's interesting, because --rm is also a hack that exists only in the client. Your solution is quite sophisticated especially, when you are just trying things :(

[2016-05-18 15:48] jmmclean commented on #22813
This doesnt work because it require curl v 7.40 to use --unix-socket.  I mentioned that in my original post.

[2016-05-18 15:56] thaJeztah commented on #22815
Just a quick glance at your description, it looks like you're not actually running "docker-in-docker", but communicating with the docker daemon on your host, but doing so from *inside* the container.

This means that the containers you're starting from inside the Jenkins container, are run *outside* the container. Even further, your docker-compose file also seems to run some containers that commun

[2016-05-18 16:06] thaJeztah commented on #22813
Have you tried? It's running cURL inside a container, so you can have any version you want.

[code]

I don't really understand the issue; If you need to consume the API, you need something to consume it. In this case, it's a *streaming* endpoint, so you need a client that is capable of using that. Could be cURL, could be a simple go binary that connects to the API.

If you don't need "streaming",

[2016-05-18 16:07] nakedible commented on #22800
Right, disk space needs to be mentioned also as a limitation, although that's probably acceptable to most as well and could be controlled by quotas/whatever.

[2016-05-18 16:11] devotox commented on #22815
yes it is running perfectly fine outside the jenkins container. Not sure if there is a problem due to it also being a mac and running within virtualbox but when i remove these two lines from the database compose yml

[code]

It seemed to build and go up even though it then went down right after due to some other error but it seems those 2 lines where the culprit. would you know why?

[2016-05-18 16:16] jmmclean commented on #22813
In reference to your docker wrapping curl container, its too slow, especially if I had to monitor thousands of hosts with containers. Also, it did not work for me:

[code]

Yea, I would love to not have it streaming. but that still doesnt produce expected results

[code]

The API should really be accessible from my remote machine without having to SSH into a box then running CLI. This may be possi

[2016-05-18 16:22] mavenugo commented on #22451
@mmkonrad can you pls confirm if the containers in the overlay network (across the swarm hosts) can communicate with each other ? If they do, then you have configured swarm with overlay networking properly.
BTW, as of 1.11 release, one can run a simple internal load-balancer using the built-in DNS implementation. Read more about it : https://medium.com/@lherrera/poor-mans-load-balancing-with-docke

[2016-05-18 16:24] thaJeztah commented on #22815
Bind-mounting individual files can be tricky; if the file is not found, docker creates an empty directory with that name (e.g. a directory named `build.sql`), and will try to bind-mount that inside the container. For this case, it's probably easier to put the init-scripts in a separate directory and bind-mount the directory on `/docker-entrypoint-initdb.d/` inside the container.

I'm not sure what

[2016-05-18 16:30] devotox commented on #22815
Alright then will try your suggestion and will close this now. Thank you for your quick response

[2016-05-18 16:30] #22815 closed

[2016-05-18 16:39] thaJeztah commented on #22815
you're welcome

[2016-05-18 16:56] thaJeztah commented on #22813
How are you accessing `/var/run/docker.sock` from your remote machine?

As I mentioned above; `/stats` is a streaming endpoint, I suspect this makes a difference here. Note that `nc` is notorious, in that its implementation differs a lot between distros. The endpoint is working as intended, but it looks like the version of `nc` on CentOS can't work with that, and exits directly.

[2016-05-18 17:07] jmmclean commented on #22813
Really appreciate the feedback on this one! To access the `/var/run/docker.sock` I first SSH into my remote machine then do a CMD line call using paramiko package (python). Is there a better way to achieve successful API calls from a remote system?

I have a feeling that your intuition on CentUS `nc` is correct. I am in no way claiming to be a Docker expert, but I have interacted with other APIs f

[2016-05-18 17:09] msabansal commented on #22790
@git-jiby-me  Can you please share the output of docker network ls? We don't initialize overlay driver in windows.

[2016-05-18 17:14] thaJeztah commented on #22813
Some ways to remotely access the API;

- make the daemon listen to `127.0.0.1:2375` (in addition to a socket), and use a SSH tunnel to connect. Note that port 2375 is an non-TLS port, so unprotected
- better is to protect the API with TLS (even if it's only accessible locally); https://docs.docker.com/engine/security/https/
- if you don't want to use a tunnel, you can expose the port on the public

[2016-05-18 17:15] git-jiby-me commented on #22790
@msabansal i will provide the exact output as soon as i can setup the environment again (probably by tomorrow) But if i remember right, i was able to see the overlay network when doing `docker network ls` on the windows machine specifically as well.

[2016-05-18 17:19] git-jiby-me commented on #22790
@msabansal btw i am running current HEAD of docker, swarm and compose

[2016-05-18 17:20] thaJeztah commented on #22817
ping @mbentley could you have a look what's missing?

[2016-05-18 17:22] msabansal commented on #22790
@git-jiby-me I want to see if the driver was overlay. Please see https://github.com/docker/libnetwork/blob/master/drivers_windows.go Unless its being displayed because it is part of the swarm. I don't have great understanding on the internals of swarm. I would look into that.

[2016-05-18 17:26] git-jiby-me commented on #22790
@msabansal okey, will come up with the output, once i can get hold of the environment again by tomorrow.

[2016-05-18 17:35] jmmclean commented on #22813
Curiosity, do you see majority of your customers forcing the daemon to listen to a designated port in order to issue remote APIs? The big kicker for me is that I do not have the ability to make changes to the clients running docker-engine, so I will require a Change Request to get this done. My solution is meant to be read-only, quick-to-use for my customers utilizing Docker in their IT space. If

[2016-05-18 17:56] davidewatson opened #22818 "System error: The minimum allowed cpu-shares is 1024"
I have a 10-node kubernetes cluster running on AWS m3.medium instances with CoreOS. When I run the kubernetes density e2e tests, containers fail to start with the error "System error: The minimum allowed cpu-shares is 1024". The requested CPU shares is 10 for each container. I have not seen this error when using AWS m3.large instances.

**Output of `docker version`:**

[code]

**Output of `docker

[2016-05-18 17:59] thaJeztah commented on #22805
Ah, yes, that warning doesn't make much sense for containers running with `--net=host`

I'll see if I can make a PR to fix that.

[2016-05-18 18:00] jianghaitao opened #22819 "https://apt.dockerproject.org down again?"
I saw an earlier issue filed related to this that was closed last year, but it seems that the issue still exists and I can not install docker on my Ubuntu machines.
[code]
Do we have any remedy for this?

[2016-05-18 18:08] lamont-granquist commented on #9295
The chef/chef#4949 issue has been opened to solve this in chef core for all file resources and detect docker guests and add the atomic_updates flag by default -- only for /etc/hosts, /etc/hostname and /etc/resolv.conf and only in docker guests.

[2016-05-18 18:09] ToBeReplaced commented on #16137
We can't disable firewalld in our environment, so this is a show-stopper issue for us.

@UserTaken Can you explain how to disable Docker's iptables management capability? We are only using bridge networks.

[2016-05-18 18:45] thaJeztah commented on #22813
I don't think it's right to compare Docker Engine with a hosted solution, such as AWS / Cloudwatch. AWS / Cloudwatch is a solution built *on top of* a lot of other technology. Depending on your use-case, Docker Engine can be *part* of a solution. By design, the Engine does not provide *all* possible features, but provides the tools/components to build those features (as there's never a one-size-fi

[2016-05-18 18:56] hbokh commented on #4737
As a sysadmin I fully agree with @mikehaertl.
What I (we?) need is also a way to **block** specific misbehaving IP-addresses to ports opened up by Docker. That used to be easy with UFW and without Docker, but with Docker it is not.
Workarounds like setting up a HAProxy-container on front or even "Docker Firewall Framework" (https://github.com/irsl/dfwfw) should not be necessary on default installa

[2016-05-18 18:56] git-jiby-me commented on #22790
@msabansal Interestingly it shows up as overlay driver. Here is what i did.

**`eval $(docker-machine env --swarm swarm-swarm-manager)`**
**`docker info`**
[code]
**`docker network create -d overlay overlay-network`**
**`docker network ls`**
[code]
**`eval $(docker-machine env swarm-node-1)` this is my windows node**
**`docker network ls`**
[code]

[2016-05-18 18:58] barbarello commented on #22507
@mlaventure ,  I just did  but wasn't able to reproduce this issue by restarting docker in debug mode , or even reboot the instance altogether.

It seems to occur **the very first time** the ec2 instance is provisioned.
I will provision another instance with the same ami , and do an strike and post it here

[2016-05-18 19:09] cpuguy83 commented on #4737
@hbokh Can you explain where the trouble lies? I should think that is inserted before the "DOCKER" chain will achieve this.

[2016-05-18 19:29] thaJeztah commented on #22819
I'm not aware of it being down (or having been down). Are you still having this issue?

[2016-05-18 19:37] mansinahar commented on #22730
@thaJeztah Hey, I am new with this but can't people already actually pull trusted/untrusted images?

[2016-05-18 19:56] thaJeztah commented on #22818
This was fixed in libcontainer/runC (https://github.com/opencontainers/runc/pull/491), and should be fixed in docker 1.11, however, I think kubenetes is not yet working on docker 1.11

[2016-05-18 19:59] thaJeztah commented on #22730
@mansinahar see the documentation on "content trust"; https://docs.docker.com/engine/security/trust/content_trust/

Note that 'content trust' is something different than "official" images (see the docs I like to above)

[2016-05-18 20:00] thaJeztah commented on #22730
@mansinahar my comment was merely to improve the docs and use some actual images that people could use to try.

[2016-05-18 20:14] mansinahar commented on #22730
@thaJeztah Oh okay. Thanks for the clarification. I would like to work on this one.

[2016-05-18 20:15] davidewatson commented on #22818
I missed that. Thanks for the link.

[2016-05-18 20:15] #22818 closed

[2016-05-18 20:43] jonnymbgood opened #22822 "Docker pull failing to download blobs from private registry (configured as a proxy)"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

CoreOS 1010.3.0 running in Vagrant (using the officially provided vagrant box `Linux worker-1 4.5.0-coreos-r1 #2 SMP Thu May 5 07:27:26 UTC 2016 x86_64 Intel(R) Core(TM) i7-4850HQ CPU @ 2.30GHz GenuineIntel GNU/Linux`)

**Steps to reproduce the issue

[2016-05-18 20:55] hbokh commented on #4737
@cpuguy83 No it seems to be not, as far as I can judge.
Look at this post on the official Docker-forums where I have posted a situation where I only want to allow specific IP-addresses to connect to Docker opened ports:
https://forums.docker.com/t/running-multiple-docker-containers-with-ufw-and-iptables-false/8953/11
The situation is a little bit different than blocking misbehaving addresses, but

[2016-05-18 20:57] thaJeztah commented on #14470
I'm closing this issue, because the original issue reported does not mention enough information to look into, and the other posts are for a now outdated version of docker. Please open a new issue, if you're having this on docker 1.11 or newer

[2016-05-18 20:57] #14470 closed

[2016-05-18 21:21] thaJeztah commented on #22822
Are you performing the curl text from inside the VM that docker runs on?

[2016-05-18 21:31] jonnymbgood commented on #22822
Yes, from the same shell add the docker pull
On May 18, 2016 3:24 PM, "Sebastiaan van Stijn" <notifications@github.com>
wrote:

[2016-05-18 22:04] far-blue commented on #22803
fair enough :)

I have an existing mesh network which doesn't rely on docker overlays or docker-based networking plugin. My wish is to have containers and some other non-container services all available on this mesh network. Specifically being able to share the network between containers and non-containers is important. I can currently do this by configuring the docker daemon to replace the defaul

[2016-05-18 22:07] far-blue commented on #22803
And just to repeat so I'm completely clear, I am not suggesting removing legacy mode for the default bridge. I am suggesting an advanced daemon config option to allow the default bridge to be switched from legacy mode to new-style mode if and only if the person doing the configuration really wants to and understands that it breaks backwards compatibility etc.

[2016-05-18 22:25] thaJeztah commented on #22822
OK, so what makes this a bit difficult is that there's quite a few variables that could play a role here;

It could be a configuration issue in the registry mirror, or a networking issue.

Also, you're running a CoreOS version of docker, which we can't really support, as it
- is built using a version of Go that we know caused some issues on the 1.10 code base,
- it contains patches that forcibly a

[2016-05-18 22:33] gedl commented on #20349
@thomas-maurice  I have the exact same requirement. Have you got anywhere with this?

[2016-05-18 22:35] jonnymbgood commented on #22822
Will do. I'll spin up a vanilla ubuntu/xenial64 vagrant machine when I get into work tomorrow and update this issue.

[2016-05-18 22:40] thaJeztah commented on #22822
Thanks! As mentioned, I'm really not sure if there's a difference, but it may help narrowing down

[2016-05-18 22:50] tianon commented on #22436
Here's a particularly troubling example that I can't possibly parse after this "squashing" is performed (due to the formatting of the resulting string):
[code]
Which becomes:
[code]

Could we at least do something like shell quoting on the `ARG` values?

Additionally, lines like `ARG a=b` turn into `/bin/sh -c #(nop) ARG a=b`, which is not terribly nice to look at.  IMO it'd be interesting to conv

[2016-05-18 22:52] tianon commented on #22436
I've been building up the tags of `tianon/build-args` to be examples of how these get converted from `Dockerfile` to manifest in various Docker engine versions at https://hub.docker.com/r/tianon/build-args/tags/.  I'm thinking of adding `master` there as well.

[2016-05-18 23:07] tianon commented on #22436
`ENTRYPOINT` appears to gain some additional characters too: `ENTRYPOINT &{["/gzserver_entrypoint.sh"]}` vs `ENTRYPOINT ["/gzserver_entrypoint.sh"]`

`CMD` is similar, but not as pronounced for some reason: `CMD ["sh" "-c" "echo $test"]` vs `CMD ["sh", "-c", "echo $test"]`

[2016-05-18 23:22] mbentley commented on #22817
There are a number of steps missing from this; looks like someone wrote docs on an old version and it was merged.  From what I can see of the [history](https://github.com/docker/docker/commits/master/docs/userguide/storagedriver/device-mapper-driver.md), a7b2f87b0637a3711e90c0f1d0a99dd5d32bd60f seems to have reverted some old docs.  The last time to docs were correct was 24ec73f754da16e37726a3f1c6

[2016-05-18 23:36] tonistiigi commented on #22436
@tianon
For every command in Dockerfile, Docker makes up a `containerConfig.Cmd` string. This is only used for build cache, versions `<1.10` also used it for `docker history`. Usually, these strings are made up with only uniqueness in mind. If you have better ideas, I think they could be updated as their only effect could be invalidating build cache. Of course, we don't know if anyone uses the for

[2016-05-18 23:37] thaJeztah commented on #22817
Hm, may become tricky, because the changes in https://github.com/docker/docker/commit/24ec73f754da16e37726a3f1c6a59de508e255fc are for 1.12 (which renames `docker daemon` to `dockerd`), so those cannot go live yet

[2016-05-18 23:38] mbentley commented on #22817
Then we'll need to revert to b21d90c28faaa9f906c4e3b2145ddf661a19e994 for now.

[2016-05-18 23:45] sanimej commented on #22652
@akashihi For the container 127.0.0.11 will be the IP of the resolver and it will not change. I am assuming you are using user defined networks (docker network create ...). embedded DNS server is not used by containers in the default bridge network.

[2016-05-19 00:44] oopilot5 opened #22823 "How to register a container to another container?"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

[2016-05-19 01:00] yosifkit commented on #22436
It is definitely useful to be able to recreate the lines of the Dockerfile from the image metadata like [this tool](https://github.com/vbatts/docker-utils/blob/master/dockerfile/dockerfile.go) by the amazing @vbatts.  I can think of at least two services (besides our own usage within the Official Images documentation) that rely on this useful metadata: imagelayers.io and Docker's own Nautilus secu

[2016-05-19 01:53] sboagibm commented on #22705
I'm having this same problem with just a ubuntu:14.04 container, where I can not `docker exec -it <id> /bin/bash` to it.  But my Ubuntu kernel is 3.13.0-86-generic.  If I `sudo apt-get install docker-engine=1.11.0-0~trusty` I still get the bug.  If I `sudo apt-get install docker-engine=1.10.3-0~trusty` I do not get the bug, as per @liamawhite.

[2016-05-19 03:13] crook commented on #22093
@thaJeztah thanks for reply. BTW, do you have any comments about 'docker run' command failed?

[code]

[2016-05-19 03:29] rainforc commented on #22650
After upgrade my kernel to 3.13.1-031301, i fixed that aufs bug. Thank you very much!

[2016-05-19 03:45] alexkuklin commented on #15629
still the same:

docker-engine: 1.10.3-0~jessie
debian_version 8.3
fresh-installed server, after graceful reboot,
# vgchange -a y
  Thin pool transaction_id is 113, while expected 0.

I believe warning should be written somewhere about that, at least.

[2016-05-19 04:52] HackToday commented on #22823
hi @oopilot5 it seems question, not issue :0
maybe irc channel or docker forum or stackoverflow is better place for that.

Besides, what do you mean register one container to another?

[2016-05-19 05:34] ysantosh opened #22824 "docker top command doesn't show all process"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
[code]

**Steps to reproduce the issue:**
1. We are running two docker instance on a physical server and running cassandra instance in each docker. The process tree look like
[code]
**Describe the results you received:**
I am not able to get the proce

[2016-05-19 06:01] friism commented on #22449
I'm still seeing this problem, both with the `New-ContainerHost.ps1` install method and with the approach that @smadam813 suggested.

[code]

[code]

This is the Dockerfile that I'm building:

[code]

@PatrickLang @jhowardmsft have you seen this?

[2016-05-19 07:05] UserTaken commented on #16137
@ToBeReplaced Running Docker daemon with `--iptables=false` will not insert any IPTable rules.

[2016-05-19 07:09] DoraALin commented on #9932
Would like to take this task. Like what @tianon commented, separator in cp.go could be replaced with os.PathListSeparator in filepath.
And I am wondering if there is another task needed for associated modification about separator in docs.
#dibs

[2016-05-19 07:14] wshen0123 opened #22825 "Docker Mount sysfs sub-directory RW without --privileged"
Hi, I have a app that need RW access to `/sys/class/uio/uio0/device/config` file. I can run docker container with `--privileged` option so the entire /sys/ is mounted RW but this is not secure since I only want that container to access uio0, not uio1.

I tried to` -v /sys/class/uio/uio0/:/sys/class/uio/uio0/` but in the container, when my app tried to open that config file with RW access, it said

[2016-05-19 07:16] glasser commented on #22375
@tonistiigi Has this been ported to 1.11 yet? Running into this in production.

[2016-05-19 07:37] barbarello commented on #22507
@mlaventure
Unable to reproduce even the first time instance is provisioned (I did it twice).
at any rate, i have a workaround (see my first post) in case

[2016-05-19 07:40] ripun commented on #6119
Hi Team,
Kindly  advise what is the status of this issue , because it does not make sense having this unexpected behavior of ADD

**Current behavior:**

ADD source_1gb.file destination_directory

RUN chown -R 775 destination_directory

**Expected: 1gb**
**Actual:2gb**

**suggested solution:**

ADD source_1gb.file destination_directory --USER=non_root

ADD source_1gb.file destination_directory --RE

[2016-05-19 07:41] proffalken commented on #16137
@UserTaken what's the impact on Docker when using this flag from an Operations point of view? Does it mean that all firewall rules (between swarm, containers and docker networks etc) need to be added by the configuration management tooling (or manually :( ) instead?

[2016-05-19 07:47] thomas-maurice commented on #20349
@gedl nope. I ended up not using docker networks at all and doing my own networking cooking at the OS level

[2016-05-19 08:01] atomic111 opened #22826 "Wrong SELinux label for devmapper device"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details:**

- VirtualBox/ vagrant
- Centos7 (https://github.com/holms/vagrant-centos7-box/releases/download/7.1.1503.001/CentOS-7.1.1503-x86_64-netboot.box)
- docker installation with curl -fsSL https://get.docker.com/ | sh
- daemon.json ```{"hosts":["tcp://0.0.0.0:2376","fd://"],"debug": true,"

[2016-05-19 08:07] runcom commented on #22826
ping @rhatdan

[2016-05-19 08:22] far-blue commented on #22807
In v1.11.1 the docker daemon.json file is documented as using ip-mask but, in fact, that doesn't work and you need to use ip-masq despite what the docs say.

[2016-05-19 08:29] shane-axiom commented on #22804
+1

In my case, I need to disallow Docker from using certain subnets. Docker is creating a bridge network using `192.168.0.0/20`, which conflicts with a range I use for an ipsec VPN connection.

I agree that it would be helpful to set the default subnet size as the current `/16` and `/20` are much larger than needed for most projects.

[2016-05-19 08:30] thaJeztah commented on #22807
@far-blue are you sure? Because it reads that value from `ip-mask` in the JSON; https://github.com/docker/docker/blob/v1.11.1/daemon/config_unix.go#L43

[2016-05-19 08:33] thaJeztah commented on #22093
@crook that looks like an error coming from the Flocker plugin; https://github.com/ClusterHQ/flocker/blob/6e670f13e892c92074074c41c867223b7d6a2a55/flocker/dockerplugin/_api.py#L343

[2016-05-19 08:45] gedl commented on #20349
@thomas-maurice  I am almost tempted to just remove the "if" that prevents users from specifying an IP in a pre-defined network. My opinion is this restriction is intrusive and useless. Docker can't prevent every user-induced mess up, specially not without reducing functionality and options, like this is the case.

I still have some hope @aboch will reconsider and lobby to remove the restriction (

[2016-05-19 08:53] far-blue commented on #22807
I know, it surprised me as well. I used ip-mask initially in daemon.json after questioning it and then looking in the source code but then the docker daemon wouldn't start, complaining that ip-mask was not a recognised key:

Switching it over to ip-masq worked. In my case I was turning ip masq off and can confirm that it did have the correct impact on the iptables setup.

This is with:
- Docker ve

[2016-05-19 09:10] sanmai-NL commented on #22807
I can confirm @far-blue's experience with 1.11.1.

[2016-05-19 09:15] liamawhite commented on #22705
@mlaventure I had to run the containerd command in sudo.

@sboagibm are you an IBMer? If you are then this is probably an internal issue as there are three other people in my team with this issue.

[2016-05-19 09:34] erikh commented on #22615
ok, can't reproduce anymore. feel free to close this if you can't either.

[2016-05-19 09:50] erikh opened #22827 "volume remove+create false positive window when done fast enough"
**Output of `docker version`:**
https://gist.github.com/anonymous/ce7c17167ebdb78f87579d85c6eb3ae6
**Output of `docker info`:**

(see above)

**Additional environment details (AWS, VirtualBox, physical, etc.):**

centos 7.2 inside vbox: vagrantfile is here: https://github.com/erikh/volplugin/blob/master/Vagrantfile

**Steps to reproduce the issue:**
1. create a volume
2. remove it
3. create it aga

[2016-05-19 09:52] erikh commented on #22827
So, just to be clear, this line is keeping this test passing:

https://github.com/contiv/volplugin/blob/master/systemtests/battery_test.go#L136

I think it's self-explanatory. :) In the event you do try the code, please remove this line to trigger the bug.

[2016-05-19 10:25] thaJeztah commented on #22807
Wow, surprised as well, let me try. If that's the case, then updating the docs and renaming the option would be easier 😇

[2016-05-19 10:39] thaJeztah commented on #22807
Ah! Mystery solved; the validation looks at the actual *flag* names, not the JSON names, which probably explains this; see https://github.com/docker/docker/blob/e9117578a7837eda31d690d5e51d09d43a6a8fca/daemon/config.go#L320-L348

And especially, these lines, which convert them to "flag" names, by prepending a `-`; https://github.com/docker/docker/blob/e9117578a7837eda31d690d5e51d09d43a6a8fca/daemo

[2016-05-19 10:50] thaJeztah commented on #22615
Looks like we weren't able to, but ping me if you see it again @erikh 👍

[2016-05-19 11:05] tkaria opened #22828 "bind mount on Ubuntu 16.04 fails (with compose and -v)"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Ubuntu 16.04
`uname -a`
`Linux timirbox 4.4.0-22-generic #40-Ubuntu SMP Thu May 12 22:03:46 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux`

**Steps to reproduce the issue:**
1. Install docker according to these instructions https://docs.docker.com/engine/in

[2016-05-19 11:37] thaJeztah commented on #22650
Cool, I'll close this issue then! 👍

[2016-05-19 11:37] #22650 closed

[2016-05-19 11:47] thaJeztah commented on #22823
If you mean "discovery", containers can find each other by using the container name as hostname (if they're on the same network), for example:

[code]

But as @HackToday mentioned, this looks like a question, not a bug-report, so I'll close this issue. But feel free to comment after I closed

[2016-05-19 11:47] #22823 closed

[2016-05-19 11:48] schinzelh opened #22831 "Docker IPv6 cluster setup & documentation"
I've tried to wrap my head around the [Docker IPv6 cluster documentation](https://docs.docker.com/engine/userguide/networking/default_network/ipv6/), but something does not work out.

It seems that both graphics for [Switched network environment](https://docs.docker.com/engine/userguide/networking/default_network/images/ipv6_switched_network_example.svg)
![image](https://cloud.githubusercontent.co

[2016-05-19 11:51] melezhik opened #22832 "Availablity to have --no-cache=true for a single instruction in Dockerfile"
Hi! First of all - thanks for great tool guys!

I base on https://docs.docker.com/engine/userguide/eng-image/dockerfile_best-practices/#build-cache

Is it possible to have `--no-cache=true` for a single instruction in Dockerfile?

Thanks

[2016-05-19 12:07] rbjorklin commented on #22142
I'm seeing a very similar issue where our java application consistently stops responding on the published port within 60 seconds of application start. However if I change the port the application binds to to one that is not published the application consistently keeps working. Further information can be found [here](https://github.com/rhuss/jolokia/issues/259) where I initially reported the issue.

[2016-05-19 12:16] thaJeztah commented on #22801
Looks to be still an issue in current master;

[code]

[code]

ping @justincormack any idea if this is something we can change?

[2016-05-19 12:23] thaJeztah commented on #22831
/cc @mavenugo

[2016-05-19 12:48] thaJeztah commented on #22832
No that's not possible (at least, not directly). Ideally, you want a Dockerfile to be reproducible, so that each time you build the Dockerfile with the same "context" (files that are added to the image, through `COPY` or `ADD`) you get *exactly* the same result. Docker evaluates each step in the Dockerfile and determines if the cache can be used, or not (because something changed); if the cache ca

[2016-05-19 12:48] #22832 closed

[2016-05-19 12:51] thaJeztah commented on #22325
ping @anttiviljami @Ara4Sh have you been able to test if this is reproducible with `--userland-proxy=false`?

[2016-05-19 13:02] rhatdan commented on #22826
SELinux is broken in docker-1.11.  Basic problem is in runc implementation.  We are working on fixing this in docker-1.11.  We will not be shipping docker-1.11 in Fedora or RHEL because of these breakage.  Hopefully this will be fixed in docker-1.12.

Not sure mcs translations would work correctly.  So docker is not smart enough to translate TopSecret into the appropriate MLS Label.

[2016-05-19 13:04] Markus88 commented on #17774
Make sure that you point to the 'start.sh' file (example: "C:\Program Files\Docker Toolbox\start.sh").
If it cannot recognize the file, can it be that Git isn't installed on the machine. Remember to let Docker install Git, during the installation.

[2016-05-19 13:04] anttiviljami commented on #22325
we will be testing this soon in our test environment. nothing to report back yet

[2016-05-19 13:07] thaJeztah commented on #20855
@HackToday oh! I meant to answer that; you can build deb or rpm packages using `make deb` / `make rpm`. By default, all supported distros are built (see https://github.com/docker/docker/tree/master/contrib/builder/rpm/amd64 and https://github.com/docker/docker/tree/master/contrib/builder/deb/amd64).

If you want to build only for specific distro, use the `DOCKER_BUILD_PKGS` env-var, for example, t

[2016-05-19 13:09] melezhik commented on #22832
HI @thaJeztah ! Thanks for detailed explanation of docker cache. I am docker newbie , so some things could be "unusual" for me.

And yes, forcefully skipping some instruction and forcefully re-excuting other ones would give me more grained control when dealing with time consuming builds ... Splitting things on base ( none changing ) / and changing parts is good idea, but sometimes you know it is n

[2016-05-19 13:09] thaJeztah commented on #20855
Given that Fedora 21 is not longer supported, you may need to add a docker file for that in the "builder" directory, similar to https://github.com/docker/docker/blob/master/contrib/builder/rpm/amd64/fedora-22/Dockerfile

I'll close this issue, because I think your question is answered, but feel free to comment after I closed 👍

[2016-05-19 13:09] #20855 closed

[2016-05-19 13:14] thaJeztah commented on #22325
Thanks @anttiviljami! It would help us narrowing down what can cause this

[2016-05-19 13:21] thaJeztah commented on #22832
Yes, planning your Dockerfile may take some time; always put things that change often at the end of the file (if possible), such as `COPY my-source-code`, use a `.dockerignore` file to prevent "busting" the cache on changes that don't affect your actual build (and it may save some time).

Also, during development, you can bind-mount files that don't need compiling into your container (particularly

[2016-05-19 13:29] melezhik commented on #22832
Ahh, note sure it this helps me a lot, I am running kinda black box installer which beyond my control , as example please take a look at https://github.com/melezhik/docker-projects/tree/master/gitprep - this is Dokerfile to install GitPrep application.

[2016-05-19 13:31] melezhik commented on #22832
`RUN sparrow plg run gitprep` instruction is quite slow, as under the hood it relies on internal installer ( something like `carton install` I guess ) with manages files right on the image, so they can't be attached externally . Sometimes I need to have `--no-cache=true` for other instuctions in my Dockerfile, but not for this quite slow one. :smile:

[2016-05-19 13:34] coolljt0725 opened #22834 "daemon ungraceful shutdown during starting make daemon failed to start next time with Error initializing network controller"
During daemon starting, if the daemon was shutdown ungracefully, the daemon may will failed to start next time with error
`FATA[0001] Error starting daemon: Error initializing network controller: Error creating default "bridge" network: failed to allocate gateway (172.17.0.1): Address already in use`
we hit this problem on one of our server, on this server, the daemon failed to start with timeout(

[2016-05-19 13:35] melezhik commented on #22832
Ahh, sorry , you meant `docker run` , not `docker build` phase ? This won't help me too, as I for example run Debian image , still having Ubuntu at my host, so I can't add  `Bind mount a volume` for compiled perl modules for the possible incompatibility ...

[2016-05-19 13:41] thaJeztah commented on #22832
You have the `sparrow plg run gitprep` as your command now; but you mention it does an "install" step too. Does that have to be executed each time the image is run? Is there some option to split the "install" step, so that that can be done inside a `RUN`? And only do the actual "sparrow run" inside the `CMD`?

[2016-05-19 13:43] mmkonrad commented on #22451
@mavenugo I can confirm that **NOW** all containers across our hosts, which are part of the swarm, can communicate with each other.
That is tested with
a) an ubuntu:14.04 container that got deployed on all involved nodes on the overlay network that is started with bash and can successfully ping to all other containers on the overlay network no matter what node they are located on (swarm node/manag

[2016-05-19 13:44] thaJeztah commented on #22834
@coolljt0725 could you open an issue in the libnetwork repository as well? Looks like this is a libnetwork issue

[2016-05-19 13:50] melezhik commented on #22832
Sorry, can't understand you ...

`sparrow plg run` command behaves differently depends on whether it has input arguments. For example:

* `RUN sparrow plg run gitprep` - installs GitPrep server ( time consuming )
* `CMD sparrow plg run gitprep --param action=start --param start_mode=foreground` - runs GitPrep server ( which is installed by previous instruction ) - takes a seconds

I am a bit confu

[2016-05-19 13:51] cpuguy83 commented on #22828
This is expected behavior. Bind mounts do not copy data from the image into the specified host path.

[2016-05-19 13:51] #22828 closed

[2016-05-19 13:57] thaJeztah commented on #22832
Ah, that's what confused be, because you had both `RUN sparrow plg run gitprep` *and* `CMD sparrow plg run gitprep ...`. I thought that `CMD sparrow plg run gitprep ...` would also *install* GitPrep each time. Ignore my comment then :)

[2016-05-19 13:57] melezhik commented on #22832
Yes, I see :)

[2016-05-19 14:01] thaJeztah commented on #22826
@rhatdan is there an issue tracking this in the RunC issue tracker?

[2016-05-19 14:03] jonnymbgood commented on #22822
Ok, I spun up a vagrant machine running [ubuntu/16.04](https://vagrantcloud.com/ubuntu/boxes/xenial64/versions/20160518.0.0) and installed docker based on the [instructions for Ubuntu](https://docs.docker.com/engine/installation/linux/ubuntulinux/) (I created a docker group and configured docker to start on boot in addition to the basic install). I am running `docker 1.11.1` on this box:

[code]

[2016-05-19 14:04] thaJeztah commented on #22827
ping @cpuguy83 @anusha-ragunathan ptal

[2016-05-19 14:07] thaJeztah commented on #22822
Thanks for testing!

ping @aaronlehmann perhaps you have some suggestions here?

[2016-05-19 14:10] melezhik commented on #22832
BTW, sorry if this one is off-topic , but this is how and why I use docker to install GitPrep - http://blogs.perl.org/users/melezhik/2016/05/playing-with-docker-and-sparrow.html

[2016-05-19 14:16] tkaria commented on #22828
Maybe I didn't communicate this correctly. Mounting host directories fails.
Same exact setup works on OS X with different results.

Sent from my iPhone

On May 19, 2016, at 15:53, Brian Goff <notifications@github.com> wrote:

Closed #22828 <https://github.com/docker/docker/issues/22828>.

—
You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHub
<h

[2016-05-19 14:19] thaJeztah commented on #22832
Oh, you can simplify the steps; there's no need to manually check out your git repo; this works;

[code]
(see https://docs.docker.com/engine/reference/commandline/build/)

[2016-05-19 14:20] rhatdan commented on #22826
@thaJeztah runc has been fixed.  There was no mount-label being passed to RunC, so it was not labeling tmpfs correctly.

[2016-05-19 14:23] rhatdan commented on #22826
https://github.com/opencontainers/runc/pull/778

[2016-05-19 14:28] davehodg commented on #4036
This is still a problem? I have:

# docker --version
Docker version 1.11.1, build 5604cbe

Getting:

# docker build -t mongodb .
Sending build context to Docker daemon  16.9 kB
Step 1 : FROM registry.access.redhat.com/rhel7.2
 ---> bf2034427837
Step 2 : MAINTAINER Joe Bloggs
devmapper: Unknown device b4904eb2bd71c7aa6cc50c8ac7c9695845641de531ed6d8b97742857258b418e

# docker version
Client:
 Versio

[2016-05-19 14:28] freddL opened #22835 "Docker install on Debian Jessie with personnal iptables"
I install Docker on my Debian Jessie with my personnal rules of iptable.

Docker version :

[code]

docker info :

[code]

When the first start, Docker have delete my rules :

iptables -L

[code]

But, when I stop Docker and I apply my rules and I start Docker, it's OK :
iptables -L -v

[code]

sorry for my bad english.

[2016-05-19 14:31] thaJeztah commented on #4036
@davehodg can you show your `docker info`?

[2016-05-19 14:36] davehodg commented on #4036
# docker info
Containers: 32
 Running: 0
 Paused: 0
 Stopped: 32
Images: 1
Server Version: 1.11.1
Storage Driver: devicemapper
 Pool Name: docker-253:0-20487-pool
 Pool Blocksize: 65.54 kB
 Base Device Size: 10.74 GB
 Backing Filesystem: xfs
 Data file: /dev/loop0
 Metadata file: /dev/loop1
 Data Space Used: 11.8 MB
 Data Space Total: 107.4 GB
 Data Space Available: 11.93 GB
 Metadata Space Used:

[2016-05-19 14:38] mlaventure commented on #22507
@barbarello thanks for trying.

I still couldn't come with a theory as to why containerd would be alive with the old pid after a complete machine restart or a clean daemon shutdown/start sequence.

It may be related to systemd, since it seems you guys are on Xenial.

[2016-05-19 14:39] simonsm1 commented on #18469
I had the same issue described here. After some playing with the registry config I found that changing REGISTRY_HTTP_HOST: https://address:443 to https://address solved the issue and PATCH and PUT both sent the credentials, whereas before only POST would.

[2016-05-19 14:45] davehodg commented on #4036
If I were to get the freshest most up to date docker, where would I get it from?

[2016-05-19 14:56] mlaventure commented on #22705
@liamawhite oh, yes, the sudo for containerd shouldn't matter.

Also, could you please provide the strace for the instance where it timeout after 2 mins? Maybe it'll give some insight as to where it's getting stuck so long.

[2016-05-19 14:59] melezhik commented on #22832
Hi!
Thanks for pointing this. Good thing. It works!

[code]

[2016-05-19 15:02] ggerbaud opened #22836 "Container random port change when added to another network"
I have an annoying issue with random ports (i.e. `docker run -P ...`)

`docker ps` and `docker port` show a port that is not the real opened port.
After some tests I found that the port is changed when I use `docker network connect`

---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Output of `docker version`:**

[code

[2016-05-19 15:03] tkaria commented on #22828
Do the directories need to be added to virtualbox manually?

Sent from my iPhone

On May 19, 2016, at 15:53, Brian Goff <notifications@github.com> wrote:

Closed #22828 <https://github.com/docker/docker/issues/22828>.

—
You are receiving this because you authored the thread.
Reply to this email directly or view it on GitHub
<https://github.com/docker/docker/issues/22828#event-665824126>

[2016-05-19 15:06] melezhik commented on #22832
Hi! FIY, http://blogs.perl.org/users/melezhik/2016/05/playing-with-docker-and-sparrow.html see my comment. Thanks again.

[2016-05-19 15:19] davehodg commented on #4036
OK, got the source from here. Tried make:

# make
docker build  -t "docker-dev:master" -f "Dockerfile" .
Sending build context to Docker daemon 130.2 MB
Step 1 : FROM debian:jessie
jessie: Pulling from library/debian
8b87079b7a06: Already exists
a3ed95caeb02: Already exists
Digest: sha256:32a225e412babcd54c0ea777846183c61003d125278882873fb2bc97f9057c51
Status: Downloaded newer image for debian:jes

[2016-05-19 15:20] vdemeester commented on #22836
Reproduced on a 1.11 host, ping @mavenugo :angel:

[2016-05-19 15:25] thaJeztah commented on #22826
@rhatdan that one is for libcontainer, so probably it should be this one; https://github.com/docker/docker/pull/22318/files, which is in docker 1.11.1. Do you perhaps have more information about what's broken (I hadn't heard of this issue)

[2016-05-19 15:26] mavenugo commented on #22836
@ggerbaud thanks for reporting the issue. Yes, the gateway resolution logic seems to be re-mapping the port-mapping to the new random port when the gateway network changes.
FYI, if there are multiple networks attached to a container, the gateway resolution logic uses network-name to resolve the preferred gateway. In this case, I think `net0` is prioritized over `net1` and hence the port-mapping ch

[2016-05-19 15:44] thaJeztah commented on #22826
Actually, I just tried this on a Red Hat version of docker 1.9.1 on CentOS 7.2, and it looks like it gives the same issue;

[code]

[code]

[code]

So I suspect this is caused by;

I didn't create the `TopSecret` label, so perhaps that's expected it that is not defined

@rhatdan can you give a quick example on how to create such a label (I was looking at https://selinuxproject.org/page/PolicyConfi

[2016-05-19 15:49] aboch commented on #22836
@mavenugo Yes, when the container's default gateway changes a new mapping is performed. If the host port was not explicitly chosen during docker run (iow, you are fine with a random host port), then after the new mapping the host port will still be random, you could get the same but no guarantee.

The bug as @ggerbaud explained is that docker port o/p is out of sync. I will look into it.

[2016-05-19 15:58] mpl commented on #18355
@jfrazelle Hi.  I I have some code that used to rely on the presence of /.dockerinit to detect whether it is run in a docker container (If not, log.Fatal with a warning so the users know they're not supposed to run that out of docker). What is the correct/suggested way to perform that sort of detection nowadays please?

[2016-05-19 16:00] thaJeztah commented on #22832
👍

[2016-05-19 16:04] LK4D4 commented on #18355
@mpl there is `.dockerenv` file, have no idea what it does though :)

[2016-05-19 16:08] cupracer commented on #22185
@sanimej Hi there!
I did some more testing... and really strange things seem to happen!

At first, the basics, as I upgraded to the latest openSUSE Docker version:

[code]
[code]

After some time after restarting Docker and starting my Composer projects, the described issue started to happen again: individual containers couldn't resolve external hosts anymore. By that time, some containers worked

[2016-05-19 16:08] tkaria commented on #22828
Sorry I do not believe this is expected behavior. The host mounted files should appear in the container. That's fairly standard and has been for some time. What else can I show you to prove this? I already mentioned that it works on OS X  - is there something else I can provide?

[2016-05-19 16:09] thaJeztah commented on #4036
@davehodg also see https://github.com/docker/docker/issues/22031

[2016-05-19 16:13] thaJeztah commented on #18355
@LK4D4 may actually be for that; https://github.com/docker/docker/blob/3d13fddd2bc4d679f0eaa68b0be877e5a816ad53/vendor/src/github.com/docker/libnetwork/drivers/bridge/setup_bridgenetfiltering.go#L159-L162

[2016-05-19 16:14] davehodg commented on #4036
Not really telling me anything new :(

[2016-05-19 16:20] thaJeztah commented on #4036
@davehodg no, problem is indeed that it's quite an unpredictable issue. It's known to be problematic on systems without udev-sync, also running on "loop devices" doesn't help.

[2016-05-19 16:21] tonistiigi commented on #22375
@glasser This should be fixed on master(#22511). There has been no `v1.11.x` versions released after this was reported.

[2016-05-19 16:24] davehodg commented on #4036
Thanks. I'm so far down the rabbit hole at this point.

[2016-05-19 16:32] bsquizzato opened #22837 "TFTP client not working from inside bridged container"
Running an ubuntu container on an ubuntu 14.04 host. Docker version 1.11.1.

A TFTP client download works from the host. It does not work from within a container running on this host. The container is using bridge networking with NAT/masquerading.

Using basic iptables rules which permits everything, and ufw is disabled.

When the container tries a tftp get, I can see the UDP traffic that returns

[2016-05-19 17:03] glasser commented on #22375
Yeah, I saw that. Is there likely to be a 1.11.2 any time soon? This regression is blocking upgrade for us and we install Docker from the dockerproject.org Ubuntu repo.

[2016-05-19 17:04] thaJeztah commented on #22828
But you're example shows that you're trying to find a file that was in the container originally. Can you try something like this?
[code]

[2016-05-19 17:07] aaronlehmann commented on #22822
ping @RichardScothern: Do you think this is a bad interaction between Docker 1.11's resumable downloads and the registry's proxy feature?

[2016-05-19 17:09] thaJeztah commented on #22822
@aaronlehmann note that the original version that it was reported with is 1.10 see above)

[2016-05-19 17:11] thaJeztah commented on #22836
@aboch is there a relation with https://github.com/docker/docker/issues/21699 and https://github.com/docker/docker/issues/22325 ?

[2016-05-19 17:14] aaronlehmann commented on #22822
Thanks, I did not notice that.

It seems like the main mystery here is why the connection closes before the download completes. Presumably that has something to do with the registry acting as a proxy, but beyond that I'm not sure.

[2016-05-19 17:29] tonistiigi commented on #22375
@glasser Atm, I think it looks unlikely that we will have `1.11.2` release. https://github.com/docker/docker/blob/master/project/PATCH-RELEASES.md#deciding-if-a-patch-release-should-be-done

[2016-05-19 17:37] rhatdan commented on #22826
[code]

Should work.

TopSecret requires a translation to something that looks like s0-s0:c1023.  We did not implement the automatic translations if you are running a mcstransd daemon in the selinux golang bindings

[2016-05-19 17:40] icecrime commented on #22826
With the following setup:

- Freshly provisioned Fedora 23 node
- Docker 1.11.1 installed through `curl -sSL https://get.docker.com | sh`
- SELinux enabled

I can confirm the following:
- Running "trivial" containers works (e.g., `docker run --rm -ti busybox true`)
- The example in the original post fails indeed
- The last command that @rhatdan provided does work

So in my current understanding, i

[2016-05-19 17:44] rhatdan commented on #22826
I would say the tool used to launch the container via a script or the human should do the translation,  unless we find enough demand in the MLS world.

[2016-05-19 17:47] icecrime commented on #22826
@atomic111 How does that sounds for you?

[2016-05-19 17:48] aboch commented on #22836
@thaJeztah  I don't think so because those are seen on 1.9.1 and no default gw change was happening there.

[2016-05-19 18:02] thaJeztah commented on #22826
Looks like we need to update the documentation then; the case in this issue is taken directly from the documentation; https://github.com/docker/docker/blob/master/docs/reference/run.md#security-configuration

[2016-05-19 18:11] allencloud opened #22838 "no volume labels showed in /volumes api, inconsistency!"
Hi, all,

I use two APIs to get one volume details

As I call `192.168.0.11:2376/volumes` against docker engine :
No labels in results.

[code]

while calling `192.168.0.11:2376/volumes/test5` has label details:

[code]

It is inconsistency. Since Swarm uses /volumes to get volumes, there is no way for user to use `docker volumes inspect xxx` to get volume labels.

related https://github.com/docke

[2016-05-19 18:16] RichardScothern commented on #22822
I'm not quite sure what is going on here.  If the registry was closing the connection I would expect to see something in the logs.

I've tried to reproduce (though I'm using docker for mac) and couldn't reproduce.

@jonnymbgood  are you able to push/pull to a private registry?

[2016-05-19 18:19] crwd-mivanov commented on #6094
solved it with `mount --bind some-shared-dir shared`

[2016-05-19 18:20] redbaron commented on #6094
solved it with `mount --bind some-shared-dir shared`

[2016-05-19 18:34] bmurphy1976 commented on #6094
@redbaron unfortunately that doesn't work if you need to check the symlinks into source control.  I recommend using the `tar -czh . | docker build -` method.  I've had no issues (so far) doing it that way.

[2016-05-19 18:53] rhatdan commented on #22826
Yes, that probably should not have been documented in that way.

[2016-05-19 19:09] thaJeztah commented on #22826
@rhatdan opened a PR, see https://github.com/docker/docker/pull/22839

but let me know if you have been able to test if it actually not works on a system with MLS configured properly 👍 (because I didn't know how)

[2016-05-19 19:20] thaJeztah commented on #22838
Actually, I think this was being worked on as part of https://github.com/docker/docker/pull/22077, but I may be mistaken. @cpuguy83 ?

[2016-05-19 19:34] ggerbaud commented on #22836
@aboch right, in my case I'm fine with any random port. Just need to retrieve it somehow :)

[2016-05-19 19:34] martinvw opened #22841 "Connectivity issues"
My previous installation had issues with the connectivity timeouts from the docker-engine to, since I was running ubuntu 14.04 I saw it as good moment to upgrade. But now I upgraded I still have the same problems.

A docker pull ends in a timeout 10 minutes later.

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, phys

[2016-05-19 19:41] jonnymbgood commented on #22822
@RichardScothern I can pull a private image through the proxy (without being logged in on the vm), up to the point that one of the blobs errors out and docker tries to go to docker.io directly (Then it says image not found, which makes sense given that the vm is unauthenticated). So the username/password is working on the proxy side of things.

The proxy is running on a mac mini with docker for ma

[2016-05-19 19:50] thomasem commented on #22397
Seems related to https://github.com/docker/docker/issues/18814?

[2016-05-19 20:01] martinvw commented on #22841
BTW the installation of Ubuntu 14 did not use the zfs storage driver, so I'm als not considering that as a likely cause.

[2016-05-19 20:03] bprodoehl commented on #22397
I wasn't using the overlay network driver, so I don't think its related to #18814.

[2016-05-19 20:10] sebi-hgdata commented on #18091
This might have been fixed  by #22561, makeing it unreproducible

[2016-05-19 20:12] aboch commented on #22836
@ggerbaud I found where the problem is. We will get it fixed in 1.12.

[2016-05-19 20:33] thaJeztah commented on #18091
Thanks @sebi-hgdata, let me go ahead and close this, but let us know if you run into this again!

[2016-05-19 20:33] #18091 closed

[2016-05-19 20:57] crashbit666 commented on #6980
https://github.com/docker/hub-feedback/issues/461

[2016-05-19 21:17] justincormack commented on #22801
I will look at which flags for `personality` it uses, we already allow the most common use cases.

[2016-05-19 21:35] thomasem commented on #20398
I was able to recreate this in Ubuntu 16.04 with Docker 1.11.1. If not exactly the circumstances under which this was reported, I was able to recreate when I reboot the host itself.

I suspect this may be related to Docker containers and/or daemon not being gracefully shutdown on reboot?

To recreate:

Start with a fresh docker daemon on Ubuntu 16.04 LTS (In this case I'm using a fresh VM on Racks

[2016-05-19 21:42] glasser commented on #22375
I mean, this means that Docker 1.11 fails to implement the stats API fully, and is a clear regression from 1.10.  It's P0 for our project (we can't upgrade without this).  @mlaventure Any chance of a 1.11.2 to allow us to upgrade and fix the stats API's memory_stats.stats section?

[2016-05-19 21:57] thomasem commented on #22397
@bprodoehl Gotcha. Okay, cool. I just remember having a similar issue there.

[2016-05-19 22:19] mlaventure commented on #22375
@glasser unfortunately, this is quite unlikely.

Like @tonistiigi pointed out via the link on his previous comment, a new patch release is not going to be done unless we have a P0 issue reported and this is not the case atm.

[2016-05-19 22:23] cmehay commented on #22295
Environment-variables are useful to discover services. I'm using these variables in a tool I wrote to help container configuration based on link and environment.

I would like to find a way to discover services in my container without theses variables, because now this is really useful to get environment and exposed ports from linked containers.

I'm not the only one using environment for configur

[2016-05-19 22:29] glasser commented on #22375
Accidentally dropping 29 documented fields from an API does not count as P0?  That surprises me.

Perhaps there could be an update to https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/ that deletes the 29 stats fields from the documentation of the stats API, since they are apparently not part of remote API 1.23?

[2016-05-19 22:52] justincormack commented on #22801
It is using `personality(0x40008)` which is `ADDR_NO_RANDOMIZE | PER_LINUX32` which disables ASLR (and forces 32 bit). I am not sure about allowing this though, it means anyone can just disable ASLR, which significantly reduces security.

[2016-05-19 22:56] farcaller commented on #22375
I'm curious, given this doesn't have an explicit priority set, how important is it for docker to maintain the api guarantees? Is it something like ~P2 best-effort thing?

[2016-05-19 22:59] mlaventure opened #22845 "Multiple OCI Runtime Support"
# Goals

Now that the actual creation of a container is handled by `runc` via `containerd`, it should technically be possible to swap out `runc` for any other binary providing they are exposing the same command line interface and accepting an OCI bundle. This could allow to use docker to manage more than containers (e.g. vms) and allow for users to use slightly different implementations than runc

[2016-05-19 23:12] mpl commented on #18355
@LK4D4 sgtm, thx. @thaJeztah good point, thanks.

[2016-05-19 23:13] gedl commented on #20349
@thomas-maurice were you at least able to delete the intruding default bridge network? even specifying -b=none is still creating me a useless default bridge network, occupying a range of IPs.

[2016-05-19 23:43] thaJeztah commented on #22295
@cmehay do you have an example? There's actually quite some issues with the environment variables, such as;

- to get the port to connect to, you need to know the port, because the port-number is part of the environment variable name (e.g. `WEBDB_PORT_5432_TCP_PORT=5432`) - so to get the port, you need to know all of the *name* of the service, it's port number, and it's protocol
- if a linked cont

[2016-05-19 23:59] thaJeztah commented on #22845
Given that dockerd does not directly communicate with these runtimes, would it make sense to make this a configuration for containerd, and have containerd expose which runtimes it knows? I.e., dockerd can request available runtimes from containerd. (Perhaps I'm wrong, just thinking out loud)

[2016-05-20 00:05] tianon commented on #18355
Originally, ".dockerenv" was for transmitting the environment variables of
the container across the container boundary -- I would not recommend
relying on its existence either (IIRC, that code you've linked to is the
only reason it still exists).  There's likely something incriminatory
inside /sys/fs/cgroup, but I haven't checked recently.

[2016-05-20 00:11] thaJeztah commented on #18355
@tianon yes, I thought it was indeed, but doesn't seem to be propagated now

[2016-05-20 00:11] mlaventure commented on #22845
@thaJeztah You're actually right, containerd will have to be modified to allow handling several runtimes at once.

When I initially wrote this, I wasn't allowing for runtime to be changed per container run, but only daemon wide (which is what containerd support atm). I didn't realize the impact when I changed it.

However, the list of runtimes would still need to be stored on the `docker` side as

[2016-05-20 00:16] thaJeztah commented on #22845
Yes, hence me thinking that dockerd could request that information from containerd :wink: (so that you don't need to configure in two places). You're right about containerd not having a configuration file though

[2016-05-20 01:05] mikedanese opened #22846 "oci runtime error: could not synchronise with container process: invalid argument when starting container"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

A fresh install on an ubuntu VM on GCE. Docker is running in a chroot.

**Steps to reproduce the issue:**
1. unpack a debian root on ubuntu.
2. enter chroot
3. download docker tgz
4. docker run busybox

**Describe the results you received:**

Every t

[2016-05-20 01:13] mikedanese commented on #22846
Downgrading to v1.9 has a more descriptive error:
[code]

[2016-05-20 01:22] elifarley opened #22847 ""docker daemon -H fd://" fails with message "No sockets found" under Ubuntu 15.10"
Docker used to work fine, but after I ran the official PostgreSQL image (postgres:9.5.3), commands like `docker ps`, `docker images` and `systemctl start docker` would hang.

I had to kill -9 all docker-related processes and `apt-get remove docker-engine`, and then `rm -rf /var/lib/docker`. After that, I installed docker-engine via `apt-get install docker-engine` and also via get.docker.com, but I

[2016-05-20 01:50] WeiZhang555 commented on #22845
I'm also wondering if it will be more appropriate to put runtime related setting in containerd, or docker command line will be a little bit complicated. For example:
[code]

It's true that we need to manually start the containerd, but I think this can be regarded as an advanced feature, besides that the docker command will be simplier.

Just my 2 cents. :smile:

[2016-05-20 02:22] webhacking commented on #8539
:+1:

[2016-05-20 02:29] coldTea214 opened #22848 "Some mistakes in remote api doc v1.23"
https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23

Create a container -- status codes:
[mistake] 404: no such container --> image
[miss] 409: the name "xxx" is already in use
[confuse] 406: impossible to attach.
How to trigger a 406 error in a create action?

Start a container -- status codes:
[mistake] 404: no such container --> can also be "executable file not found in $PATH"

[2016-05-20 02:30] wangxing1517 opened #22849 "Some mistakes in remote api doc v1.23"
https://docs.docker.com/engine/reference/api/docker_remote_api_v1.23/#create-a-container
Create a container -- status codes:
[mistake] 404: no such image
[miss] 409: the name "xxx" is already in use
[confuse] 406: impossible to attach.
How to trigger 406 error in a create action?

Please don't close this issue. I am learning remote doc, if I found anything wrong or confusing, I will append them he

[2016-05-20 02:30] #22849 closed

[2016-05-20 03:25] sanimej commented on #22185
@cupracer I am not sure how the number of attempts is changing the behavior. But I have an idea what the issue here is..  In 1.11 the UDP socket that is opened per container to forward the queries is cached so that it can be reused for further queries. If a query reply comes after the timeout period it won't be immediately delivered because the reader has already timed out. So its waiting in the s

[2016-05-20 05:48] atomic111 commented on #22826
thanks @rhatdan.

@icecrime it's ok for me.

Thank you

[2016-05-20 05:51] thomas-maurice commented on #20349
Well I used the default bridge with address I forcedly assign, and then built my own networking stack on the top of it.

[2016-05-20 06:07] redbaron commented on #22375
seriously, breaking documented compatibility in undocumented way (no mention in release notes, etc) and not rushing to fix it once discovered, that is laughable at best.

[2016-05-20 06:29] Shuliyey commented on #16816
This seems to only happen on CentOS 7 for me.

This is what I did

stop firewalld

[code]

Restart your machine
[code]

As long as you've put **--restart=always** to your docker instance. When your machine is reboot, the docker instance should be running, and the port should be binded. I believe this issue is specificly to CentOS7 family who uses firewalld instead of iptables.

[2016-05-20 06:34] #20865 closed

[2016-05-20 06:40] Silex commented on #22801
Just copying here the reasons why emacs needs to disable ASLR:

executable: when you run the executable, you get an Emacs with the same (or
nearly the same) state. This makes Emacs startup considerably faster. Objects in
the restored state must be in the same location as when they were saved, so the
executable cannot be subject to ASLR.

Building emacs used to work in previous docker versions... I

[2016-05-20 06:44] Silex commented on #22801
Another interesting bit:

'personality'. As I understand it, the build procedure should invoke the shell
command 'setfattr -n user.pax.flags -v er temacs' immediately after building
temacs, and I don't know why this doesn't make the 'personality' call
unnecessary. Perhaps you can consult a seccomp expert who can tell you what's
going on, as seccomp is not well-documented. If there is some way to d

[2016-05-20 07:16] dvkn commented on #22424
I encountered the same error irrespective of the subnet address.  I have a swarm cluster with 5 nodes.

docker run -itd --name=overlay-c1 --net=overlay-net alpine /bin/sh
de4bb19d8839e74b81f433a80e37022625ffc5233a50394fb28b9d0fc682ff39
docker: Error response from daemon: subnet sandbox join failed for "10.1.2.0/24": vxlan interface creation failed for subnet

[2016-05-20 07:18] tkaria commented on #22828
@thaJeztah Thank you for looking at this. I am trying only to mount a file that is on the host into the container which is what I thought were normal `-v` semantics.

I tried your suggestion and it does not produce what I would consider expected results - that is, `file-on-host` is not present inside the container. Here's the run:
[code]

Please let me know how I can help forward this issue and if

[2016-05-20 07:24] HackToday commented on #22845
it seems very interesting topic for multiple OCI support, but this support should explore possibilities like impact of container-cluster management(swarm, k8s, mesos),  different OCI container migration, life-cycle similities, and user cases, Perhaps OCI spec have covered that, but address those use cases in this spec could help other understood it more.

[2016-05-20 07:27] seffenberg-naspers commented on #9547
I start to see this with:

[code]

[code]

Dockerfile (end):
[code]

/opt/setup_and_run.sh looks like:
[code]

[2016-05-20 07:30] HackToday commented on #22847
did you follow this guide ?
https://github.com/docker/docker/blob/master/docs/installation/linux/ubuntulinux.md

[2016-05-20 07:33] HackToday commented on #22846
Did chroot have any privilege limitation for that ?

[2016-05-20 07:38] HackToday commented on #22838
labels support was added in https://github.com/docker/docker/pull/21270 but not dig if they want to expose labels in /volumes API

[2016-05-20 07:38] duglin commented on #22845
I think @thaJeztah's comment about configuring containerd instead of dockerd makes a lot of sense. Imagine we get to the point where containerd is replaceable - one replacement may not even have the notion of a separate runc-like executable, so having dockerd itself trying to configure something that may not exist or is an impl detail of the containerd choice doesn't make sense.

[2016-05-20 07:41] HackToday commented on #22824
did you try new docker ? could that be reproduced?

[2016-05-20 08:25] byrnedo opened #22850 "External resolution failed, dial udp 172.17.0.1"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

AWS, part of 3 node swarm, running consul on 172.17.0.1, no error logs in consul at all, nothing in syslog.

**Describe the results you received:**
In docker logs:

[code]

**Additional information you deem important (e.g. issue happens only occasion

[2016-05-20 08:50] cupracer commented on #22185
@sanimej Yes, "docker network disconnect/connect" is indeed sufficient to clear the problematic situation for a container. DNS resolution immediately starts working again afterwards.
Thanks a lot for the hint, it works faster than restarting the whole container.

[2016-05-20 08:55] cmehay commented on #22295
The tools I'm talking about is here: https://github.com/cmehay/pyentrypoint, I'm using it in this container to discover services: https://github.com/cmehay/docker-tor-hidden-service

In this case, the container can be linked with many containers and setups all the services using environment.

The variables names are not very great I know, but if docker removes all variables, there is no way to fin

[2016-05-20 09:02] pouicr commented on #19204
thx !

[2016-05-20 09:15] cupracer commented on #22185
@sanimej I think that I just found a better workaround!

I picked a container which had that DNS issue and added the option "use-vc" to its "/etc/resolv.conf". This option forces DNS resolution over TCP instead of UDP. Lookups were immediately working fine again. Removing "use-vc" made the issue appear again.

I added this option to my Docker host's resolv.conf aswell and restarted my containers.

[2016-05-20 09:24] davehodg commented on #4036
Register my whine, but I've moved to running Docker on my Mac. Let's see how that transpires.

[2016-05-20 09:34] thaJeztah commented on #22828
@tkaria are you running that on the same host? Or on OS X (and the daemon running in the boot2docker VM)? Note that by default, boot2docker (toolbox) only shares the `/Users` directory with the boot2docker VM, anything outside that directory is not shared with the VM, so the docker daemon will create an empty directory inside the VM, and bind-mount that in the container. See https://github.com/boo

[2016-05-20 09:40] anannaya opened #22851 "containers failed to start(Aleady active)"
Hi,

Issue: Container failed to start once i restart the docker service.
Steps to reproduce:
I am using below docker options to run my configcontainer.

#docker run -t --privileged --restart=unless-stopped --net=host -v /opt/swrepo/vmtools.conf:/opt/swrepo/vmtools.conf -v /var/run/docker.sock:/var/run/docker.sock -v /etc/sysconfig/network-scripts:/etc/sysconfig/network-scripts -v /etc/sysconfig/do

[2016-05-20 09:50] Rabbit52 commented on #12469
@tiangolo thank you very much!

[2016-05-20 09:52] thaJeztah commented on #22295
@cmehay thanks! wondering; basically a system like that would only be configured upon start, how do you handle linked containers restarting? Also, it's not possible to scale up/down linked services, or connect/disconnect services?

Yes, that would be an option. I'm trying to think of a solution that would give a "best of both worlds", such as;

- using DNS-based resolution (no more messing with `/

[2016-05-20 10:35] gedl commented on #20349
I just assigned a /30 range (the smaller it accepts). So annoying having to
remember that those address can't be used anywhere else in the network.

I managed to delete the default network once, in another installation, but
I can't remember how I did it. This was great because with -b=none there
was no leftovers of the default networking (which are useless at best in my
use case).

Gonçalo Luiz

O

[2016-05-20 10:57] thaJeztah commented on #22845
@HackToday For Swarm, I guess Swarm could see which runtimes are supported on a node, and that could be used as a constraint when scheduling a container

[2016-05-20 11:17] tkaria commented on #22828
Hi @thaJeztah  - thanks for sticking with this. Yes, I'm running on same host - Ubuntu 16.04. I think I understand the sharing limitations and tried adding the directory (`/tmp/test`) to shared folders in virtualbox manager GUI - still didn't mount.  Restarted machine and tried again - no joy.

![vbox-shared-folder-setting](https://cloud.githubusercontent.com/assets/1047135/15426150/f5345d18-1e8c-

[2016-05-20 11:20] tkaria commented on #22828
On a hunch I tried running the container as root rather than the local user ... now the directory mounts correctly. I'm confused to say the least. Here's the output:

[code]

[2016-05-20 11:27] thaJeztah commented on #22828
Hmm interesting, could you do an inspect on the container, e.g, run the container detached, and see if it picks up the bind mount?

    docker run -dit -v $(pwd)/test:/test --name foobar alpine sh
    docker inspect foobar

The mounted directory should show up somewhere in that output

[2016-05-20 11:33] timfeirg opened #22852 "docker pull says unauthorized while push works just fine (using s3)"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
I use amazon s3 as storage backend:
[code]

**Steps to reproduce the issue:**
1. start docker registry: `registry serve registry.yml`
2. pull any existing docker image, registry will return
[code]
3. meanwhile, docker push toward the localhost registr

[2016-05-20 11:34] tkaria commented on #22828
Looks as follows:
Could it be the `rprivate` setting on the propagation? I noticed that on OSX this was a null string.
[code]

[2016-05-20 11:36] tkaria commented on #22828
As an aside - looks like groups/permissions are correct
[code]

[2016-05-20 11:40] thaJeztah commented on #22846
Don't think running docker in a chroot is really supported (at least it's not tested). Any reason you want to run it in a chroot? Possibly running docker-in-docker would be a good alternative?

[2016-05-20 11:46] ingojauch commented on #22226
i ran into this bug yesterday when a script launched just 6 containers (Ubuntu 14.04). Dockerhost is a ubuntu 16.04. Bug disappeared after waiting between container start

[2016-05-20 11:51] cmehay commented on #22295
compose already restart all depended services very smartly. This tool is not depicted to reload configuration when service is up, but it doesn't need a complex service discovery setup.

Mounting docker.sock in container is a big security issue, this is not a good approach AFAIK. But add a readonly access to docker API could be a solution, docker don't seem to provide this kind of feature.

[2016-05-20 11:56] thaJeztah commented on #22828
Hm it's strange; basically, the `sudo` only affects the *client* in this case (the client only instructs the daemon to bind-mount a directory, but the daemon runs as root, so that should make no difference whatsoever).

One very weird thought; is `sudo` connecting to the same daemon? If you run `env`, are any `DOCKER_` environment vars set? And the same for `sudo env`?

[2016-05-20 12:05] mjdavies commented on #8917
+1

[2016-05-20 12:12] thaJeztah commented on #22852
To narrow down possible causes, could you try;

- updating docker to 1.11.1
- if changing the registry storage to use local storage

Also, could you check the docker daemon logs (preferably in "debug" mode)?

[2016-05-20 12:16] thaJeztah commented on #22851
Can you provide the output of `docker version` and `docker info`, also might be worth checking the daemon logs to see if there's anything interesting in there

[2016-05-20 12:23] SeanMooney opened #22853 "Proposal: do not bind mount /etc/hosts, /etc/hostname and /etc/resolv.conf --net=host or add support for --add-hosts when --net=host"
---
## BUG REPORT INFORMATION

Use the commands below to provide key information from your environment:
You do NOT have to include this information if this is a FEATURE REQUEST
-->

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
physical

**Steps to reproduce the issue:**
1.  docker run --rm -it -

[2016-05-20 12:24] tkaria commented on #22828
@thaJeztah - I had the same thought and checked it as below - seems ok to me but let me know.
[code]

[2016-05-20 12:26] tkaria commented on #22828
Is this interesting?  Running `docker-machine env` shows machines started as user `timir` while running `sudo docker-machine env` shows the machines as well but in an ERROR state rather than RUNNING.

[2016-05-20 12:29] anannaya commented on #22851
[root@dockerhost ~]# docker version
Client:
 Version:      1.11.1
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   5604cbe
 Built:        Wed Apr 27 00:34:42 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.11.1
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   5604cbe
 Built:        Wed Apr 27 00:34:42 2016
 OS/Arch:      linux/amd64
[root@dockerhost ~]#

[root@dockerhos

[2016-05-20 12:42] thaJeztah commented on #22828
Well, looks like the env-vars are actually your issue;

The "regular" user, is connecting to the Virtual Box machine;

[code]

But the "root" user ("sudo") is connecting to the local daemon;

[code]

[2016-05-20 12:44] tkaria commented on #22828
@thaJeztah  - thank you. Can you help me understand how this would impact the mounts? Starting everything as a "regular" user still doesn't mount the host directory.

[2016-05-20 12:47] thaJeztah commented on #22853
See a related discussion on this PR https://github.com/docker/docker/pull/22408 (https://github.com/docker/docker/pull/22408#issuecomment-220082584)

[2016-05-20 12:51] elifarley commented on #22847
Docker won't run if I install via `curl -sSL https://get.docker.com/ | sh`, and when following that guide, it won't run either, showing the exact same error on both methods.

[2016-05-20 13:00] kristofferpeterhansel commented on #21091
I am getting the same thing on 1.11.1

In this case it is a push to Amazon ECR. But we have the same issue when pushing to our private registry

[code]

[2016-05-20 13:06] thomasem commented on #20398
@sebi-hgdata Which testing repo are you referring to?

[2016-05-20 13:10] thaJeztah commented on #22828
If I understand correctly, on the Ubuntu machine you're actually running *two* docker installs; one on the host, and one inside a virtual machine (boot2docker). I'm not sure why you installed the virtual machine actually, because Ubuntu can natively run docker, so there's no Virtual Machine needed.

In this case; running `docker run foobar` will run the container on the docker daemon inside the VM

[2016-05-20 13:10] tmds commented on #8917
+1
https://issues.jenkins-ci.org/browse/JENKINS-33510

[2016-05-20 13:11] #22826 closed

[2016-05-20 13:20] sebi-hgdata commented on #20398
See https://github.com/sebi-hgdata/docker_consul_overlay_testing , there is a consul upstart template that checks that the cluster is in good shape.

We moved from using Consul inside a container due to race condition issues when starting containers (but this in theory should be fixed by #22561 ).

[2016-05-20 13:25] thaJeztah commented on #22847
Hm, wondering if this has to do with socket activation. What does

    systemctl status docker.socket

Give you?

[2016-05-20 13:30] ndeloof commented on #8917
@tmds did you tried [docker-slaves](https://wiki.jenkins-ci.org/display/JENKINS/Docker+Slaves+Plugin) ?

[2016-05-20 13:37] kristofferpeterhansel commented on #21091
So. Shortly after I came across a comment about deleting all layers being pushed in https://github.com/docker/distribution/issues/1568. After doing so the push works.

[2016-05-20 13:39] willydee commented on #6880
Same issue hit me on docker 1.11.1 when running *lighttpd* and trying to redirect its access log to `/dev/stderr`. No way, since it starts as root, then drops privileges, and `/dev/std{in|out|err}` are not accessible any longer. See discussion at [https://redmine.lighttpd.net/issues/2731](url)

@ibukanov Thank you so much for the named pipe hint! Works like a charm.

[2016-05-20 13:39] anannaya commented on #22851
Initially i was suspecting that issue might be because of restart option used for the container(wait call from code).  I also tried using without restart option. Same issue seen. Attached the daemon log

[2016-05-20 13:39] anannaya commented on #22851
[daemon.log.txt](https://github.com/docker/docker/files/274668/daemon.log.txt)

[2016-05-20 13:43] thomasem commented on #20398
With the reboot, I see this using both consul and etcd (pretty much swap out an etcd container for the consul container in my recreate steps above)

[2016-05-20 13:44] sebi-hgdata commented on #20398
Also the docker upstart script is updated to wait on Consul

[2016-05-20 13:45] thaJeztah commented on #21091
@tuxknight does that help you further? Is this still an issue for you? ^^

[2016-05-20 13:45] thomasem commented on #20398
Recently, like I shouldn't expect it in 1.11.1 packages?

[2016-05-20 13:46] nschoe commented on #22804
I'll +1 this too. On my machine, it seems I can't spawn more than 25 stacks created with docker-compose. This is a huge problem for me :/

[2016-05-20 13:46] thomasem commented on #20398
Glad to see about #22561, btw, that's another issue I was investigating yesterday.

[2016-05-20 13:49] thomasem commented on #20398
So, with my recreate steps above, you can replace the `shutdown -r now` with just `systemctl stop docker.service` and I see the same issue without having to reboot the host to cause it.

[2016-05-20 13:51] lauraglasu opened #22854 "parallel docker push of the same image to different registries doesn't work"
When running docker push in parallel the behaviour seems to be to not push one layer more than once, which makes sense if we are pushing all the images to the same registry. For situations when we have multiple registries for high availability the parallel push doesn’t work and we need to do each push command separately, slowing down the CI process.

**Closed issues checked before opening this one

[2016-05-20 13:52] elifarley commented on #22847
[code]

[2016-05-20 13:56] thomasem commented on #20398
Might just get handled by Docker waiting on discovery to come up. I'm not terribly familiar with any sort of self-healing that goes on on docker daemon start, but if it's trying to clean up endpoints and can't find them because the discovery is in a container under that same Docker daemon, that'd make sense that it couldn't clean things up. Perhaps this will just go away with #22561. The part that

[2016-05-20 13:59] thomasem commented on #20398
I would just think that deleting the container, even though it's inactive, would also try to clean up endpoints associated with it. This seems to assume that the endpoints got deleted when the container got shut down, but... yeah. This all seems like a bunch of race conditions.

[2016-05-20 14:07] elifarley commented on #22847
After issuing `systemctl unmask docker.socket`, I was able to start docker normally (`systemctl start docker`).

Here's a suggestion to improve the error message when the socket is masked:

[code]

[2016-05-20 14:08] thaJeztah commented on #22847
Hm, any idea how to get such a message? Do you know if systemd allows you to detect if a dependent service is masked?

[2016-05-20 14:12] thaJeztah commented on #22854
Thanks for the clear report!

ping @aaronlehmann ptal

[2016-05-20 14:15] elifarley commented on #22847
BTW, my suggestion to improve the error message should be implemented in systemd itself, so I'll investigate if this is currently possible in systemd or if I should create an issue for them to make it possible.

As for the docker installation process, I guess it would be easy to perform a check during installation to verify if any of the needed units (docker.service and docker.sock) were installed

[2016-05-20 14:27] thaJeztah commented on #22847
@elifarley yes, having such a message from systemd would definitely be an improvement.

As to changing the installation procedure. The `curl | sh` installation script is designed for fresh installs, so I guess it was never developed with that situation in mind (although some people use if to update as well). I'm a bit in doubt as to which extend we should go for possible things that may block a su

[2016-05-20 14:27] thaJeztah commented on #22847
ping @kencochrane any thoughts on the installation procedure?

[2016-05-20 14:31] elifarley commented on #22847
I uninstalled docker (`apt-get remove docker-engine`) before attempting get.docker.com, so it's a _weak_ fresh install at least.

Perhaps the uninstallation process should remove more files than it is currently removing then.

[2016-05-20 14:49] thaJeztah commented on #22847
Ok, looks like `apt-get remove` keeps those unit-files around, whereas `apt-get purge` removes them

[code]

and apt-get purge;

[code]

[2016-05-20 15:13] #18980 closed

[2016-05-20 15:15] thaJeztah commented on #18980
https://github.com/docker/docker/issues/22369 was merged, so this will be in docker 1.12

thanks @fsoppelsa!

[2016-05-20 15:17] #22805 closed

[2016-05-20 15:19] thaJeztah commented on #22805
Thanks @sanmai-NL, my PR was merged, so you won't be spammed with this message anymore in Docker 1.12 :smile:

[2016-05-20 15:25] sanmai-NL commented on #22805
@thaJeztah:
Thanks, but the patch needed some more thought I'm afraid.
In case networking is disabled, `--net=none`, the message is also displayed.

[2016-05-20 15:26] thaJeztah commented on #21721
Having mutable container (runtime) labels recently came up in a discussion
on the internal Slack channel. A short summary of that discussion;

It's currently not possible to change labels on a running container. In
addition, containers inherit labels from the image they're run from, and any
label set during "docker run", is appended to that list.

- containers should have mutable (runtime) labels,

[2016-05-20 15:27] ibukanov commented on #6880
@willydee I have found that the above named pipe code may deadlock on a busy system. The fix was to change it into:
[code]
where `<>` opens the pipe both for reading and writing before setting it as fd 0 for the cat. This way there is always a writer to the pipe and the cat never see EOF from the pipe due to absence of writers. Another improvement was to move `mkfifo` into the image to minimize co

[2016-05-20 15:28] runcom commented on #17262
I'm reopening this since I think we still have this issue with selinux and since https://github.com/docker/docker/pull/21666

[2016-05-20 15:34] thaJeztah commented on #17262
@runcom do you have an idea how to solve it as well? Is it safe to put it on a milestone already?

[2016-05-20 15:36] thaJeztah commented on #22805
@sanmai-NL oh! good point, I only tried the `--net=host` case. I'll draft up a follow-up PR

[2016-05-20 15:37] runcom commented on #17262
@thaJeztah not sure, @rhatdan might have an idea better than me on solving this one.

[2016-05-20 15:48] anthonychu opened #22855 "Cannot delete files from wwwroot with Dockerfile"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

- Windows Server Core 2016 TP5 in local Hyper-V VM

**Steps to reproduce the issue:**
1. Build this dockerfile
[code]

**Describe the results you received:**
If I run a container with this image, the `iisstart.*` files are still inside `c:\inetpub\ww

[2016-05-20 16:00] thaJeztah commented on #22805
@sanmai-NL see https://github.com/docker/docker/pull/22856

[2016-05-20 16:05] thaJeztah commented on #22855
Would it be possible that the wildcard is already picked up by `CMD.exe` (which is the shell in which `RUN` commands are executed.

Can you try using JSON notation, to make `powershell` the actual shell that's used? Something like

    RUN ["powershell", "remove-item", "c:\inetpub\wwwroot\iisstart.*"]

(untested)

[2016-05-20 16:07] sanimej commented on #22185
@cupracer Yes, that is a better work around when the TCP overhead is not an issue. Thanks for trying out bunch of things and all the data points.

[2016-05-20 16:21] friism commented on #22855
I can reproduce with straight-up `cmd`:

[code]

[code]

[2016-05-20 16:25] jonl-percsolutions-com opened #22857 "Mounting a non-existent file creates a directory and mounts it"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Use the commands below to provide key information from your environment:
You do NOT have to include this information if this is a FEATURE REQUEST
-->
[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Step

[2016-05-20 16:30] satboy78 opened #22858 "container volumes don't respect host's folder contents"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
I'm using docker beta on OS X Yosemite v10.10.4 (14e46)

**Steps to reproduce the issue:**
1. docker-compose up -d
2. enter in apache container
3. check contents of mounted volume: it doesn't respect host's folder contents

**Describe the results you

[2016-05-20 16:38] justincormack commented on #22825
You need to use the actual device or directory, not the one with the symlink in. A bind mount with `-v` is rw by default so you should be ok, but if you mount the symlink the actual device files are still in the `ro` sysfs mount.

[2016-05-20 16:39] cpuguy83 commented on #22857
This is expected behavior. Unfortunately it's a behavior that we can't really change.
Best thing to do is make sure a file does exist before running your container.

Closing since this won't be fixed.

[2016-05-20 16:39] #22857 closed

[2016-05-20 16:47] justincormack commented on #22801
@Silex that `setfattr -n user.pax.flags` would be only for a PaX setup, which is not that common.

For some more comments on the horrible emacs build process see http://www.openwall.com/lists/musl/2015/02/03/1 which documents the issues building it on Musl libc.

As far as I can see the options are:
1. Do nothing. If you want to build emacs you will have to disable ASLR globally on your machine or

[2016-05-20 16:47] otbe opened #22859 "How to determine dangling state of image via remote API"
Hi everyone,

posted this question already on gitter but did not get a response. So maybe this is the right place for me :)

I have an image ID and want to determine if its dangling or not. Is there any way to do that via ```GET /images/{id}/json```?
There is no extra ```dangling``` property in the response json, but can I derive it from something other?

My current workaround is to query all imag

[2016-05-20 16:48] nshalman opened #22860 ""docker build" output is confusing when using "--build-args""
I couldn't easily find an existing issue that matches this one. Apologies if I missed it.

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Ubuntu 14.04 in a VM (hypervisor happens to be SmartOS)

**Steps to reproduce the issue:**

Example Dockerfile:

[code]

[code]

Use `--build-arg`:

[code]

[c

[2016-05-20 16:55] bukzor commented on #22732
Bump; I expect the 1.12 freeze is quickly approaching.

[2016-05-20 16:56] cpuguy83 commented on #22851
Yes, I've seen this. Seems like the state is out of sync, it may already be fixed as there was another issue with state sync that is indeed fixed.... but this is hard to reproduce until you actually get the error.

[2016-05-20 17:05] aaronlehmann commented on #22854
Hi @lauraglasu - thanks for the detailed report.

I was looking at the trace in the logs you included, and found something puzzling. The line numbers don't seem to match up with the source code for Docker 1.11.1. For example, these two lines:

[code]

imply that the call to `manifestFromBuilder` happens on line 170 of `push_v2.go`, but in the source for 1.11.1, this line is something different. I

[2016-05-20 17:14] willydee commented on #6880
@ibukanov Thanks again for the update.

[2016-05-20 17:34] anannaya commented on #22851
I am able to reproduce 8/10 attempts....As i am using latest docker version..will this be fixed in future releases?

[2016-05-20 17:41] jonl-percsolutions-com commented on #22857
If it's expected behavior, it should be documented more fully.  There appears to be documentation under mounting a host directory, but nothing under mounting a host file.  So can we add a blurb under [Mount a host file as a data volume](https://docs.docker.com/engine/userguide/containers/dockervolumes/#mount-a-host-file-as-a-data-volume) that says, "If the file does not exist, it will be treated a

[2016-05-20 17:48] cpuguy83 commented on #22851
@anannaya You can test by using the current master branch of containerd/containerd-shim

[2016-05-20 17:54] justincormack commented on #22610
As the `/etc/hosts` file is on the host filesystem, that is just showing that your root filesystem is filling up. I don't think anyone has shown there is actually an issue with Docker.

[2016-05-20 17:58] bkeroackdsc commented on #10490
In my case I want to **build** a container image entirely in RAM (ideally with ``/var/lib/docker`` on a ramdisk), which ``--tmpfs`` does not help at all with.

Please re-open, this is a valid use case.

[2016-05-20 18:00] cpuguy83 commented on #10490
@bkeroackdsc You can already run /var/lib/docker in a ramdisk, but you have to set the  `DOCKER_RAMDISK` env var prior to starting the daemon.

[2016-05-20 18:09] anshupande opened #22862 "Restrict container from acquiring additional privileges"
As per this PR: https://github.com/docker/docker/pull/20727
I tried testing ```docker run -it --rm --security-opt=no-new-privileges fedora bash``` but it fails: ```Error response from daemon: Invalid --security-opt: "no-new-privileges"```

[2016-05-20 18:12] cpuguy83 commented on #22862
@anshupande Please provide the output of `docker info` and `docker version`.

[2016-05-20 18:14] anshupande commented on #22862
[code]

[2016-05-20 18:17] justincormack commented on #22862
This feature was not in docker 1.9, I think it was only added in 1.11.

[2016-05-20 18:18] anshupande commented on #22862
ok..thanks

[2016-05-20 18:19] cpuguy83 commented on #22862
Yep, 1.11. Sorry :(

[2016-05-20 18:19] #22862 closed

[2016-05-20 18:24] justincormack commented on #22859
I don't think you can get this, it is a property of the image store not the images themselves, ie whether the image is a head, so you need to do it indirectly like you are.

[2016-05-20 18:50] vipseixas commented on #9299
@freman The production environment is the last step of a container workflow. Before you have your perfect black production box there's a lot of work you have to do with exec.

[2016-05-20 19:02] ajmenteng commented on #18295
I've had the same issue and got it solved after removing all untagged images

[2016-05-20 19:05] brunoborges opened #22864 "New Dockerfile instruction to SYMLINK non-persistent and read-only files/folders from host during build"
There are workarounds to prevent creating large images, by squashing them, or downloading files from remote location instead of using COPY. This issue is to track the proposal for a new COPY instruction that simply does not creates another layer.

Take the following sample Dockerfile definition:

[code]

The resulting image of Dockerfile above is around twice as large as `veryLargeFile.zip`.
The `

[2016-05-20 19:27] bkeroackdsc commented on #10490
Oh, interesting. I didn't realize that. Thanks @cpuguy83 !

[2016-05-20 19:30] fkautz commented on #22776
@mavenugo would you like me to spec out a draft api for a policy based approach?

[2016-05-20 20:10] mikedanese commented on #22846
@HackToday no. The docker daemon is started with full privilege as uid=0.

@thaJeztah I'm working on packaging docker in a root fs and using a systemd unit with the RootDirectory directive to run docker on the host. The ability to do this would solve some major packaging pain points we've had around docker.

@vishh said he would take a look at libcontainer error.

cc @dchen1107

[2016-05-20 20:33] dchen1107 opened #22865 "oci runtime error: could not synchronise with container process: could not create session key: disk quota exceeded"
Output of docker version:
[code]

Output of docker info:

[code]

Additional environment details (AWS, VirtualBox, physical, etc.):

Just a standard Kubernetes node with docker 1.11.1

Steps to reproduce the issue:

I just simply run the command and quickly hit the cap (~200)
[code]
The error message:

[code]

I believe we are hitting at this issue: https://github.com/opencontainers/runc/issues/72

[2016-05-20 20:35] dchen1107 commented on #22865
cc/ @kubernetes/goog-node

[2016-05-20 21:04] crosbymichael commented on #22865
@dchen1107 why do you think docker should set this setting?  This is a security feature, shouldn't it be left up to the admin? How would we know what the correct number is that should be set?

[2016-05-20 21:23] justincormack commented on #22864
There is a current PR for flattening images, see https://github.com/docker/docker/pull/22641

[2016-05-20 21:28] dchen1107 commented on #22865
Honestly I didn't think docker should set this configuration. But from the release note of docker 1.11.1, there is no such cap being announced, which makes me think docker as an daemon want to handle this silently, gracefully, and automatically, instead like what we are having today: the user is bit badly at runtime then has to dig into the source code deeply.

Shouldn't at least this kind of chan

[2016-05-20 21:44] justincormack commented on #22865
Curious about which distros have a low limit as the default for `/proc/sys/kernel/keys/root_maxkeys` seems to be 1000000 unless you override it, eg using a stock recent kernel, or Ubuntu 15.10 or Centos 7.2, but it is only 200 on Debian Jessie. I think as it is just a few distros that change this we should just change the documentation.

[2016-05-20 21:44] kencochrane commented on #22847
@thaJeztah it looks like the underlying cause is that apt-get remove leaves some files along, I wonder if that is something we can control on our side, or if that is strictly an apt-get feature.

Doing some quick searches, it looks like the ``apt-get --purge remove`` and ``apt-get clean`` are the recommended ways to remove a package, and you can even use `deborphan` and `debfoster`

[2016-05-20 21:46] mkonakan commented on #5169
@pushshift or @thaJeztah Can you guys please explain how would networking
prevent this issue of environment variables passing via linking of containers?

[2016-05-20 21:53] dchen1107 commented on #22865
Yes, it is Debian. I checked both Wheezy and Jessie, both are 200 by default. My co-worker checked on trusty 14.04.4, the default value is also 200. Anyway I am going to bump the default value to bigger number, but thought this is a behavior change for user upgrading to 1.11 release, we should document it.

[2016-05-20 21:54] thaJeztah commented on #5169
@mkonakan the "legacy linking" registered a fixed 1-on-1 "link" between specific container instances. Part of that system was to setup environment variables containing information about the linked container, and sharing the environment variables of the container.

The new networking doesn't use fixed links, but a more dynamic design. Part of that design is to use an embedded DNS server for discove

[2016-05-20 21:56] justincormack commented on #22865
I think it may have changed in more recent kernels, as I couldn't find anywhere where Debian was setting it specifically.

[2016-05-20 21:57] mkonakan commented on #5169
@thaJeztah  Thank you so much. https://docs.docker.com/engine/userguide/networking/work-with-networks/#linking-containers-in-user-defined-networks - This link solved my question and hence deleted my comment. Sorry.

Also, so there are no further plans of implementing secure way of passing env variables as suggested above ? (dont pass private..pass only public, dont pass the ones started with _ etc

[2016-05-20 21:59] thaJeztah commented on #22847
@kencochrane yes, reason may be that to my understanding, `apt-get remove` shouldn't  remove user-created / modified files (possibly systemd unit files fall in that category). But it's surprising that after a re-install, it's not automatically un-masking the docker.socket.

And yes, systemd not showing a useful warning/error is bad

[2016-05-20 22:04] thaJeztah commented on #5169
@mkonakan yes; sharing/not sharing by "convention" (prefix with `_` etc) is too risky, because for some images you may not have control over how env-vars should be named. Using keywhiz etc is definitely a good thing to do. If you *do* want to use environment variables for configuration / secrets, it's easy to set them on just the containers that need to have access; for example, using an `--env-fi

[2016-05-20 22:05] justincormack commented on #22860
I don't know about this. The output is a bit confusing I agree, but it is simply echoing out the lines of the Dockerfile, and changing some of them seems a bit inconsistent.

[2016-05-20 22:06] mkonakan commented on #5169
Got it. Thank you :)

[2016-05-20 22:07] timstclair commented on #22865
I was looking at the wrong value on the trusty instance. `maxkeys` was 200, but `root_maxkeys` was 1000000

[2016-05-20 22:11] freman commented on #9299
@vipseixas we've been doing this for almost two years, it's literally "let the devs tinker with their php in production" type work (because face it, it's easier to syntax error 30 live instances of the site in docker than it is to work offline, test, etc), the rest of everything is stable. The problem is as the exec api stands it's not suitable for doing that at least not on a production machine.

[2016-05-20 22:11] thaJeztah commented on #22185
@sanimej is there something left to be done in docker?

[2016-05-20 22:20] steve-gray commented on #22610
Citation needed: These boxes are nothing but a barebones image with docker installed. Doing cat /etc/hosts shows the file is physically only a few lines and the only software that's been updated on them is the docker engine itself.

It seems like docker is potentially not releasing something in Devicemapper-land, because the rate of space consumption is proportional to the amount of containers - s

[2016-05-20 22:25] sanimej commented on #22185
@thaJeztah This needs a fix in libnetwork. So we have to keep this issue open. Are you referring to docker/docker specifically ?

[2016-05-20 22:45] thaJeztah commented on #22185
@sanimej ok, let's keep it open, wasn't sure if code changes were still needed 👍

[2016-05-20 22:58] mavenugo commented on #22776
@fkautz I guess you can start to review the work by @jainvipin & @tgraf : https://github.com/docker/docker/issues/11187 and work with them if possible to define such a policy layer.

[2016-05-20 23:09] justincormack commented on #22865
Added a check for this in the check config script https://github.com/docker/docker/pull/22867

[2016-05-20 23:10] elifarley commented on #22847
I've not changed any of the unit files, so apt-get should have noticed this and removed them (at least ArchLinux's package manager, Pacman, does it).

Could it be a bug on apt-get itself or a misconfiguration on Docker's package?

[2016-05-20 23:17] justincormack commented on #22610
It is nothing to do with the hosts file, this is completely misleading. The root filesystem is filling up, which may well be to do with a devicemapper issue. Can you see if you can see where/if the space is being used under `/var/lib/docker`?

[2016-05-20 23:21] thaJeztah commented on #22847
I had a look in the configuration used to build the .deb packages, but I see no explicit mention of things to remove / not remove; https://github.com/docker/docker/tree/master/hack/make/.build-deb

@tianon any idea if this is under our control, or something apt-get does by itself?

[2016-05-20 23:24] eadsjr opened #22869 "docker cp fails silently in archlinux"
Archlinux on host and in container.

docker cp ./somefile mycontid:/tmp

Files do not appear inside of container.

No error displayed.

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Host inside of Xen instance.
Xen version: 4.4

**Steps to reproduce the issue:**
1. create archlinux container, id

[2016-05-20 23:38] steve-gray commented on #22610
Is there some specific command you want to be run? It'll need to wait till Monday but I can throw the results up here when it's done.

The usual df/du output doesn't show anything obvious from memory, but can rerun.

Sent from my iPhone

[2016-05-20 23:39] tonistiigi commented on #22732
I'll make sure this lands before `v1.12`.

[2016-05-20 23:42] ricardobranco777 opened #22870 "Docker may easily support seccomp on Ubuntu 14.04 without the need for static binaries"
Quoting [https://github.com/docker/docker/blob/master/docs/security/seccomp.md](https://github.com/docker/docker/blob/master/docs/security/seccomp.md):

In Ubuntu 14.04 I'm able to install the Ubuntu 16.04 kernel (currently 4.4.8) by installing the [linux-generic-lts-xenial](http://packages.ubuntu.com/trusty/linux-generic-lts-xenial) package _and_ the current version of [seccomp](http://packages.u

[2016-05-20 23:47] thaJeztah commented on #22870
@ricardobranco777 yes, it's possible, and you can possibly install a dynamically linked binary from the "wily" repository to get it to work, however, it's not a default install, so for that reason it's not enabled in the binary.

If you're using aufs, running a static binary should work fine though, so that's the "official" way to get it supported.

[2016-05-20 23:48] justincormack commented on #22869
It works ok for me under a fresh install of Arch Linux, using an alpine Linux container to test. What is the Dockerfile you are using for the arch container? Maybe there is an issue with that (eg it has a volume mount at `/tmp`?

[2016-05-20 23:49] justincormack commented on #22870
See also https://github.com/docker/docker/issues/22453 for discussion of whether to support seccomp in Debian Jessie via backports.

[2016-05-20 23:50] thaJeztah commented on #22870
I'm closing this, because this is not something we'll change, but as mentioned, there's other ways to get this working. Thanks for suggesting, and possibly this will help someone to get it working

[2016-05-20 23:53] justincormack commented on #22610
Maybe check with `du`, maybe try to get summary info from it, not sure what is the best way exactly.

[2016-05-21 00:07] eadsjr commented on #22869
Started from Docker's `base/archlinux` image, Archlinux 2015.06.01 Minimal arch installation

[code]

Tested on a fresh build of the image described above, and it works there.

Confirmed still does not work for current image, which has python/postfix/dovecot and related infrastructure installed from pacman and a handful of ports bound to host.

`mount` run directly reports no mount oddness in `/mn

[2016-05-21 00:22] justincormack commented on #22869
What is the output of `mount` in the container?

[2016-05-21 00:25] jamshid commented on #22429
Sorry I don't know this stuff well... but is https://github.com/docker/vpnkit another way that I can get what I want?

Instead of `docker network route` how about `docker network setupvpnfor <network-name>`, to start a VPN service with access to my containers' network? Then I just connect from my laptop (or whatever) using my OS's standard VPN client software.

[2016-05-21 00:25] eadsjr commented on #22869
[code]

[2016-05-21 00:27] mercuriete commented on #3182
As this bug is there for years and is seem that is not closed yet, could you put in the docker documentation about devidemapper how to destroy safety all docker information?
i mean, in this page: https://docs.docker.com/engine/userguide/storagedriver/device-mapper-driver/
put something like "Cleaning device mapper" and how to do it.

I will try to do rm -rf /var/lib/docker but I'm not feel confort

[2016-05-21 00:29] justincormack commented on #22869
That looks fine. Does it do the same thing for all other directories in the container or just `/tmp`?

[2016-05-21 00:29] lauraglasu commented on #22854
@aaronlehmann thanks for checking this out. The node that was running this had docker version 1.10.2 on my first attempt of parallel docker push. I guess the trace is from that run and I terminated the node so can't check for a later log. After that first failed run I updated the docker-engine package. With docker version 1.11.1 I got the error:
[code]
Please ignore the trace from my report

[2016-05-21 00:44] icecrime opened #22871 "[Proposal] Data management command"
## Problem statement

One of the issues we hear about the most is how to reclaim disk space used by docker. I suggest to start small by adding a way to **understand and visualize** how disk space is used, before building additional support for managing this data.

## Possible solution

One simple idea would by to provide the equivalent of a `docker df`, which would show you:

- Space used by image

[2016-05-21 00:46] justincormack commented on #22429
@jamshid unfortunately the overlay network drivers are not compatible with VPN clients, and there are no VPN overlay drivers yet. We are considering some VPN based approaches, but no decisions have been made.

[2016-05-21 00:46] gedl opened #22872 "Can't build images"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. Create Dockerbuild file according to the whalesay tutorial
2. Run docker build -t docker-whale .

**Describe the results you received:**
Step 1 : FROM docker/whalesay:latest
 ---> 6b362a9f73eb
Step 2 : RUN apt-get

[2016-05-21 00:46] icecrime commented on #22871
Other idea: space consumed in *other* (inactive) storage drivers (e.g., I'm using overlay, but I have images pulled as I was running aufs).

[2016-05-21 00:51] eadsjr commented on #22869
Trying to copy into root level directories seems to fail silently, regardless of ownership or permissions.

It doesn't seem to be able to subdirectories, but prints an `Error response from daemon...` message.

### Tested directories:
- `drwxr-xr-- 4 root root 107 May 20 23:31 /root`
  - silent failure
- `drwx--x--- 2 root root 6 May 20 23:32 /tmp`
  - silent failure
  - `chmod +rw /tmp` does not c

[2016-05-21 00:57] icecrime commented on #22869
Please note that this is not an official build of Docker (we don't ship 1.11 built with Go 1.6.2).

[2016-05-21 01:01] eadsjr commented on #22869
Thanks for informing me. Installed via pacman `community/docker 1:1.11.1-1`

[2016-05-21 01:06] justincormack commented on #22869
To see if the build is the issue or something else, can you try installing docker from https://get.docker.com/builds/Linux/x86_64/docker-1.11.1.tgz - this contains statically linked official binaries that should work anywhere, then we can see if that is where the issue is.

[2016-05-21 01:10] wjimenez5271 commented on #22471
+1

[2016-05-21 01:10] GordonTheTurtle commented on #22471
*USER POLL*

*The best way to get notified of updates is to use the _Subscribe_ button on this page.*

Please don't use "+1" or "I have this too" comments on issues. We automatically
collect those comments to keep the thread short.

The people listed below have upvoted this issue by leaving a +1 comment:

@wjimenez5271

[2016-05-21 01:26] coolljt0725 commented on #22871
How about this information show in `docker info`? Add a field in docker info something like
[code]
but calculating the space used would take a long time, so it may make `docker info` slow

[2016-05-21 02:12] jstarks opened #22874 "Windows: Dockerfile RUN in JSON format fails to escape parameters"
Latest Docker master, targeting Windows:

Dockerfile:

[code]

Expected output:

[code]

Actual output:

[code]

I believe the fix is to set `ArgsEscaped` to `false` when parsing a JSON-formatted `RUN` command.

The same bug probably applies to `CMD` once #22868 is merged.

cc @jhowardmsft  @darrenstahlmsft

[2016-05-21 03:15] eadsjr commented on #22869
Binaries pulled into a Linode Archlinux instance and installed as per https://docs.docker.com/engine/installation/binaries/

Offending image saved, transferred and loaded. For some reason this scrubbed the REPOSITORY and TAG fields. When tested here, `docker cp` worked as expected for `/tmp`.

I went back to the Xen instance and re-loaded the image from the tar I transferred before (this did not s

[2016-05-21 03:25] eadsjr commented on #22869
postfix stop
dovecot stop
kill ${DKIM_PID}

Tested each step. Only remaining process is bash.

`docker cp` still silently fails to write to `/tmp`

Attempting to write to `/home/temp` owned by `nobody` still results in `Error response from daemon: lstat /var/lib/docker/devicemapper/mnt/ee5c416f5150c80e475aad0000874d16fbb57f9c27a43eab7c96ab297e8659dc/rootfs/home: no such file or directory`

[2016-05-21 06:02] svetlyak40wt commented on #15018
I've encountered this problem on a small virtual machine. Added 1G swap, and push finished.

[2016-05-21 06:13] martinvw commented on #22841
To make things even more complicated I have an (old) windows machine in the same network running virtualbox with Ubuntu xenial. There it works perfectly :(

[2016-05-21 06:39] timfeirg commented on #22852
* upgrading docker doesn't resolve this issue
* we're using local storage (which works fine) before switching to s3
@thaJeztah

[2016-05-21 07:18] jennolsen84 opened #22877 "Unable to remove filesystem shm: device or resource busy"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
I am using Google's local ssd optimized VM (see: https://cloud.google.com/compute/docs/disks/local-ssd#before-you-begin)

**Steps to reproduce the issue:**
1. docker-compose run XXXX
2. docker-compose stop
3. docker-compose rm -f

**Describe the resul

[2016-05-21 07:31] otbe commented on #22859
Sounds reasonable. Thank you for explanation!

[2016-05-21 07:31] #22859 closed

[2016-05-21 07:58] ir-fuel commented on #3182
@mercuriete On your dev machine just uninstall docker, delete the directory and reinstall it. Works fine.

[2016-05-21 08:50] haches commented on #22513
I'm experiencing the same bug on version 1.11.0

Docker usage: constantly starting & removing short-lived containers.

Issue: After some time, I can't create new containers because all iNodes are used up.

Checking iNodes: **df -i**
[code]

Docker info: **docker info**
[code]

Kernel: **uname -a**
[code]

[2016-05-21 09:35] thaJeztah commented on #15018
Looking at the discussion above, this is due to the machine running out of resources / disk space. I'm closing this issue because that's not something we can control. However, for people running devicemapper, we added an option to prevent against fully getting out of space (which could lead to corruption https://github.com/docker/docker/pull/20786)