[2015-12-05 15:12] wr0ngway commented on #18444
Thanks.  I wasn't able to get a good handle on what the plans for docker-machine are - calling docker-machine from ansible might work (constrained to keep using it for provisioning), but from what I could tell, docker-machine doesn't seem to be targeted towards running on the instances itself, but more as a utility for users to spin up instances - in this case, spin up needs to be controlled by th

[2015-12-05 15:15] thaJeztah commented on #18444
reeling in @mikedougherty I may be waaaaay off here, but I know he implemented auto scaling for our CI. Worth a shot as well to ask if he has thoughts.

[2015-12-05 15:20] thaJeztah commented on #18423
/cc @aboch :heart:

[2015-12-05 15:45] cpuguy83 commented on #10161
zfs is just using the fs differ anyway, so same issue as btrfs. Initial when zfs was being implemented it was using the built-in zfs tooling, but was actually slower than the fs diff (IIRC)...

I've looked at using btrfs send to implement diffing for the btrfs driver, but it is not as trivial as it sounds.

[2015-12-05 16:05] jsindy commented on #15537
I am not seeing this issue anymore.

[2015-12-05 16:05] #15537 closed

[2015-12-05 16:39] OscarOrSomething commented on #15793
This issue has come back for me a few days later. In both Sublime Text (3, with atomic save false) and Atom, The inode doesn't change at all. I assume this is an issue with the editors?

[2015-12-05 17:02] aboch commented on #18423
Likely dupe of https://github.com/docker/docker/issues/18380

[2015-12-05 17:42] thaJeztah commented on #18423
Thanks @aboch; @leejansq can you have a look at #18380 and see if that looks like the same issue? Then we can close this one and keep the discussion there

[2015-12-05 18:07] jhowardmsft commented on #15272
https://github.com/docker/docker/pull/17738

[2015-12-05 18:14] thaJeztah commented on #15272
Ah, that fix should already be in 1.9.1, so installing the 1.9.1 version should work

[2015-12-05 18:19] OscarOrSomething commented on #15793
It doesn't seem to be an editor issue [(at least on atom)](https://discuss.atom.io/t/inode-not-changing-on-file-save-causes-problems-with-docker-binds/23393/3)

The files do update but only after around a minute which is better but still incredibly annoying.

[2015-12-05 18:20] thaJeztah commented on #15537
Thanks @jsindy!

[2015-12-05 18:21] moxiegirl commented on #18298
@nigelpoulton The article is very popular! With great success comes greater scrutiny tho...and here we have some additional comments that came in through email:

--------email ----

I've read your documents under docker.git/docs/userguide/storagedriver/.
It is good and I believe you must be a good engineer.

Here I'd like to make some suggestion to add some notes about aufs,
mainly comparing overl

[2015-12-05 18:23] thaJeztah commented on #15793
@OscarOrSomething I suspect that's because VirtualBox shared folders don't support inotify; https://www.virtualbox.org/ticket/10660

[2015-12-05 18:25] thaJeztah commented on #18298
That's a cool response!

[2015-12-05 18:35] CalebEverett commented on #15272
I'm still getting the same issue with 1.9.1.
[code]

[2015-12-05 18:42] thaJeztah commented on #16628
@relgames based on the Java `<defunct>` and 99% cpu usage, that may be this issue; https://github.com/docker/docker/issues/18180. We're still looking into that, but it looks to be a kernel bug in the latest boot2docker version

[2015-12-05 18:43] OscarOrSomething commented on #15793
@thaJeztah I'm not using Virtual box. Arch Linux Docker version 1.9.1, build a34a1d5-dirty

[2015-12-05 18:57] thaJeztah commented on #15793
@OscarOrSomething oh, ignore my comment then :+1: (I know many people ran into that when using boot2docker/VirtualBox)

[2015-12-05 19:21] thaJeztah commented on #16344
Yup, looks very much like it.

I'll go ahead and close this, please continue the discussion in https://github.com/docker/docker/issues/15721

[2015-12-05 19:21] #16344 closed

[2015-12-05 19:32] thaJeztah commented on #18429
Thanks!

I see the text above that example mentions;

But we don't actually show that step; I think we should add a small Dockerfile example

Also interesting, a `rhel7` image is used in that example, but it's not listed on Docker hub; https://hub.docker.com/_/rhel7/

Afaik all RHEL images are now hosted on Red Hat's repository because of licensing (but I should check that), so we should update th

[2015-12-05 20:56] jchester commented on #18180
Encountered on OS X 10.9.5 with docker 1.9.1.

Inspired by @marsinvasion, I got a successful workaround by giving my docker-machine 2 CPUs and 4096Mb RAM.

[2015-12-05 21:30] jchester commented on #18180
Oops, spoke to soon. It stopped working upon changing a Dockerfile I'm working on and re-running build.

[2015-12-05 22:53] jhowardmsft commented on #15272
I'm struggling to repro this. I'm using the same version of docker client and server. Have tried the invalid handle repro from `cmd`, `powershell` and git v2.6.2 bash. Note the "forbidden by administrative rules" error is expected as I don't have valid credentials for registry-win-tp3.docker.io.

[code]

[2015-12-05 22:54] jhowardmsft commented on #15272
I should add, I can also successfully logon to a DTR using the same client:

[code]

[2015-12-05 22:57] whymarrh commented on #17960
Running `sudo journalctl -fu docker.service` gives me:

    -- Logs begin at Sat 2015-12-05 22:37:14 UTC. --
    Dec 05 22:37:43 vagrant-ubuntu-vivid-64 systemd[1]: Unit docker.service entered failed state.
    Dec 05 22:37:43 vagrant-ubuntu-vivid-64 systemd[1]: docker.service failed.
    Dec 05 22:37:43 vagrant-ubuntu-vivid-64 systemd[1]: Starting Docker Application Container Engine...
    Dec 05

[2015-12-05 23:26] wyaeld commented on #10595
That doesn't solve the problem of it happening in Ubuntu Trusty/Vivid etc kernels.  The only version of aufs-tools seems to be the 2013 one, and no-one appears to be maintaining.  The patch [here](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=777559) didn't go anywhere

[2015-12-05 23:37] bjaglin opened #18453 "`docker events --filter container=foo` is broken as of 1.9.0"
When running `docker events` with a `container` filter, nothing is received, even though events from a container with that name are received by the daemon. This is a regression from 1.8.3.

[code]
[code]
[code]

Actual:
[code]

Expected (1.8.3 behavior):
[code]

Issue reproducible on 1.9.0, 1.9.1 & experimental (20151205).

[2015-12-05 23:46] bjaglin commented on #18453
Related to https://github.com/docker/docker/commit/08b117517d6d6b5daebe4c056c135e1598f44385 ?

[2015-12-06 00:41] mave99a commented on #13968
This problem still exist as of today. :(

[2015-12-06 01:04] thaJeztah commented on #13968
@mave99a please see my earlier comment; https://github.com/docker/docker/issues/13968#issuecomment-112878547

[2015-12-06 01:09] thaJeztah commented on #17960
@whymarrh that's weird; did the kernel got updated in the VM? No idea how the linux-image-extra package got uninstalled

[2015-12-06 01:20] whymarrh commented on #17960
@thaJeztah yep, looks like it, running `apt-get dist-upgrade` during provisioning installed 3.19.0-39 from 3.19.0-37 and the reboot saw it take effect.

[2015-12-06 01:23] thaJeztah commented on #18453
Confirmed that this doesn't work on 1.9.1; It *does* work if the `docker events` command is run *after* a container was created, i.e.

[code]

/cc @dnephin

[2015-12-06 02:31] HackToday commented on #18429
OK @thaJeztah please let know what is good example can be used

[2015-12-06 02:35] CalebEverett commented on #15272
Thank you, I was able to get the response you did by going back to the default terminal. I had changed the shortcut based on [this issue](https://github.com/docker/docker/issues/18139) to get a more user friendly terminal.

Could you provide any other info on how to resolve the registry issue? I was following along with [the tutorial](https://docs.docker.com/windows/step_six/) and got the aforemen

[2015-12-06 02:58] jhowardmsft commented on #15272
I'm no registry expert by any means. If it's a DTR without the certs set (such as the one I logged onto in my last comment above), I simply added `--insecure-registry myhost.blankedout.azure.com` in the daemon start parameters.

[2015-12-06 03:32] CalebEverett commented on #15272
I was just trying to push an image to Docker Hub.

[2015-12-06 03:36] jhowardmsft commented on #15272
You won't be able to push Windows images to docker hub. Only to a DTR as of TP4.

[2015-12-06 03:44] CalebEverett commented on #15272
Ok, now I feel better. So is this tutorial for the future or a thing of the past?

https://docs.docker.com/windows/step_six/

[2015-12-06 03:55] jhowardmsft commented on #15272
Hmm, it should still work from a Windows client pointing to a Linux daemon. I haven't got time to check if does actually work though right now. A workaround if it does fail is to do the push from a Linux client (eg by ssh onto the Linux box)

[2015-12-06 04:02] CalebEverett commented on #15272
Ok, thanks for the responses. I'll see if I can figure it out on the other issue.

[2015-12-06 12:06] vincentwoo commented on #17720
Running your script on my virtualbox sandbox gives results like this after running for a minute or so:

[code]

[2015-12-06 13:09] sfjro commented on #18298
For the 1st level aufs mount options, I'd suggest xino=<tmpfs path>/xino too.

[2015-12-06 18:57] djmaze commented on #18125
Further note, I am seeing the same problem when building Docker with Go 1.5.2.

I also ran the Go testsuite in a container on my ARM machine. All tests were green.

[2015-12-06 20:50] jamshid commented on #18180
Also seeing this hellacious bug (docker-machine boot2docker 1.9.1 on OSX), it seems to require restarting my docker server to get those zombie containers to go away.

Seems like this issue or something very much like it was seen earlier this year in:
https://github.com/docker-library/java/issues/19
but I cannot figure out what exactly is the suggested workaround there. I tried changing my Dockerfi

[2015-12-06 20:58] slatkovic commented on #4036
Switching from devicemapper to aufs solved the problem for me.

[2015-12-06 21:28] gilo commented on #17846
@thaJeztah I will try to backup the file on the next encounter. btw, since the workaround here is about deleting it... is it a good practice to remove it at reboot (a cron job)?

[2015-12-06 21:34] escapenguin commented on #18180
Switched my server to overlay as a workaround. Before that it created a bunch of zombie containers as well.

Docker version 1.9.1, build a34a1d5 on OS X 10.11.1

[2015-12-06 21:59] thaJeztah commented on #17846
@gilo that shouldn't be needed (perhaps as a temporary workaround though), wondering why it would get corrupt on a regular reboot.

[2015-12-06 22:10] upendrak opened #18457 "The current working directory cannot be mounted onto Docker container"
I am trying to mount the current working directory onto Docker container but isn't working. When i run the following to mount the current working directory to make sure everything is doing ok, what i see is that all those dependencies are getting installed in the current working directory.

docker run --rm -v $(pwd):/working-dir -w /working-dir ubuntu/evolinc:2.0 -c cuffcompare_out_annot_no_annot.

[2015-12-06 22:10] GordonTheTurtle commented on #18457
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-06 22:14] thaJeztah commented on #18457
Are you running docker on windows or Mac (I.e., is docker running in VirtualBox)?

[2015-12-06 22:18] thaJeztah commented on #18457
Oh. Wait, I think I misread your issue; mounting the directory works, but you're seeing files being written to the current directory?

What's the `ubuntu/evolinc` image? Is that something you built yourself?

[2015-12-06 22:29] upendrak commented on #18457
Hi,

Yes, that's the image i built by myself on the VirtualBox.

Thanks
Upendra

[2015-12-06 22:39] thaJeztah commented on #18457
By bind-mounting the current directory in the container (as a volume), anything that's in that directory becomes visible in the container, and if a process inside the container writes files to that directory, they become written to the directory on the host. That's expected behavior, but perhaps I'm misunderstanding your issue.

Also see; http://docs.docker.com/engine/userguide/dockervolumes/#moun

[2015-12-06 22:55] upendrak commented on #18457
I have posted my question on Stackflow (http://stackoverflow.com/questions/34122270/how-to-mount-the-current-working-directory-onto-docker-container?noredirect=1#comment55996002_34122270) and there i explained my question better. Can you please take a look at it?

[2015-12-06 23:09] thaJeztah commented on #18457
I left some comments there, but it's still not entirely clear to me what you're trying to achieve, and/or why you're using the `-v $(pwd):/workdir`

[2015-12-06 23:11] upendrak commented on #18457
I'm following the tutorial in here - https://pods.iplantcollaborative.org/wiki/display/HDFDE/Using+Docker+and+creating+Docker+Images+and+Containers. My intention is to bind host's directory that contains the input files onto Container and let the output files written to the host's directory that is mounted.

[2015-12-06 23:12] thaJeztah commented on #17879
This should be resolved in Swarm in https://github.com/docker/swarm/pull/1425

@jtwile2 thanks for reporting, I'm going to close this issue, because this if an issue in Swarm, and should be resolved. Please follow the discussion in https://github.com/docker/swarm/pull/1425, but feel free to comment here after I've closed

[2015-12-06 23:12] #17879 closed

[2015-12-06 23:15] thaJeztah commented on #18457
And what happens? Are the files *not* written to the directory on the host?

[2015-12-06 23:52] thaJeztah commented on #18440
yup, this was fixed in https://github.com/docker/docker/pull/17583, thanks @HackToday

[2015-12-06 23:52] #18440 closed

[2015-12-07 00:08] #18441 closed

[2015-12-07 00:22] jamshid commented on #18180
Anyone know what's involved in migrating an existing boot2docker.iso system to https://docs.docker.com/engine/userguide/storagedriver/overlayfs-driver/ or is it easier to do a full rebuild? That page has ominous warnings about CentOS image builds -- what are the "yum" workarounds, is it related to https://github.com/docker/docker/issues/10180?

[2015-12-07 00:56] upendrak commented on #18457
At the moment, the files can neither be detect nor written to directory because the mounting is not working properly..

[2015-12-07 01:33] jokeyrhyme commented on #8310
Seems somewhat related to the security issues discussed here:
http://reventlov.com/advisories/using-the-docker-command-to-root-the-host

[2015-12-07 02:11] zhaoxpZTE commented on #18357
Thanks! @BrianAdams

[2015-12-07 02:35] LK4D4 commented on #17720
@vincentwoo I think it's because of low ulimit for files on daemon. Too many concurrent operations.

[2015-12-07 03:14] leejansq commented on #18423
@thaJeztah;I thought the cluster-advertise option is related to swarm (substitute for `swarm join`).
So,cant't the cluster-advertise option  be ignored with globalscope?

[2015-12-07 03:36] vincentwoo commented on #17720
My `nofile` ulimit is 40k, and I still see many connect errors using your script.

[2015-12-07 03:43] upendrak commented on #18457
Ok, i have figured out what is going on. There is a problem with the run script and nothing is wrong with Dockerfile or mounting.

[2015-12-07 03:43] #18457 closed

[2015-12-07 04:04] LK4D4 commented on #17720
@vincentwoo I made it to match your script, it's less concurrent but doesn't require super-big ulimits:
https://gist.github.com/a7003e71e4ee6b60c46a

[2015-12-07 04:21] LK4D4 commented on #18453
@bjaglin @thaJeztah it's fixed in master. I think by some of @calavera patches.

[2015-12-07 05:21] higkoo commented on #18388
* Iptables must be enable when docker start.
* Iptables can be disable after docker started.

`/usr/bin/docker daemon -H fd:// -H 0.0.0.0:2376 --tls=true --tlscacert=/etc/pki/CA/cacert.pem --tlscert=/etc/pki/libvirt/servercert.pem --tlskey=/etc/pki/libvirt/private/serverkey.pem -s devicemapper --iptables=false --ip-masq=false --ip-forward=false --bridge=none`
` systemctl -l status docker.service`

[2015-12-07 06:42] coolljt0725 commented on #18453
@thaJeztah  The event filter use `container.ID` to filter when user pass `container=xxx`( `xxx` will convert to `container.ID`). The difference between `1.9.1` and previous versions is that `1.9.1` doing the convert on `docker event` start and at this time the container is not exist, but previous version doing the convert on event happening, and at this time the container is already exits. So  it

[2015-12-07 06:49] coolljt0725 commented on #18453
@LK4D4  I don't think `master` has fixed this correctly. It will show all the containers' events
<pre><code>[lei@fedora docker]$ docker run -ti --rm --name=bar busybox echo hello world
hello world</code></pre>
<pre><code>$ docker events --filter container=foo
2015-12-07T01:55:49.058488848-05:00 5869511f1db5e47bb51032e946249f6940eb58072c8ae12b4f981e232822b83c: (from busybox) create
2015-12-07T01:55

[2015-12-07 07:07] Soullivaneuh commented on #12514
@3onyc And what is the best way to do that?

I would like to sync file creation owner with the used system username to avoid right conflict. Do you have tips for that? Of course, this project will be run on different computers with different usernames.

[2015-12-07 07:09] Soullivaneuh commented on #12514
I think I find a solution but not sure it's the proper way:

[code]

Basically, I synced my host `/etc/passwd` with the docker container `/etc/passwd` file.

Is that correct? Not risky?

[2015-12-07 07:29] exhuma commented on #17845
In step 2, you install a 64bit kernel, and then you say to reboot. Does that mean to boot into that new kernel? Won't this cause trouble further down the line? Using a 64bit kernel on an otherwise 32bit system?

[2015-12-07 07:34] vdemeester commented on #18423
@leejansq if you want to use the `overlay` multi-host network plugin (built-in) you need to setup `cluster-advertise` and `cluster-store` ; but it should error out not panic if not present I think :stuck_out_tongue_closed_eyes:

[2015-12-07 07:46] matglas commented on #18238
I see that you run the gitlab container with -p 10080:80. That means that you should be able to access it on the host ip on the 80 port. But write that you try to curl it on http://192.168.1.100:10080/users/sign_in. That looks like the wrong port.

[2015-12-07 07:57] vipconsult commented on #18346
@duglin - tried your approach but it doesn't work , it needs export name=value instead of just name=value

[2015-12-07 08:04] coolljt0725 commented on #18453
@thaJeztah  @LK4D4  I have open a PR #18464 to fix this

[2015-12-07 08:30] shenshouer commented on #5618
The same error meet me with coreos:

version of coreos:
<pre>
core@core-1-94 ~ $ cat /etc/os-release
NAME=CoreOS
ID=coreos
VERSION=766.5.0
VERSION_ID=766.5.0
BUILD_ID=
PRETTY_NAME="CoreOS 766.5.0"
ANSI_COLOR="1;32"
HOME_URL="https://coreos.com/"
BUG_REPORT_URL="https://github.com/coreos/bugs/issues"
</pre>
docker version:
<pre>
core@core-1-94 ~ $ docker version
Client version: 1.7.1
Client API ver

[2015-12-07 08:51] thaJeztah commented on #18453
Thank you @coolljt0725!

[2015-12-07 08:57] armicron commented on #10613
I can't pull `shippable/minv2` image.
[code]
[code]

[2015-12-07 10:34] brhahlen opened #18466 "Cannot use docker as non-root user"
Description of problem:
Cannot use docker as a non-root user

`docker version`:
[code]
`sudo docker version`:
[code]

`docker info`:
[code]
`sudo docker info`:
[code]

`uname -a`:
`Linux XebTop 4.2.6-301.fc23.x86_64 #1 SMP Fri Nov 20 22:22:41 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`

Environment details (AWS, VirtualBox, physical, etc.):
Laptop (Dell Precision M3800) running Fedora 23. Used to wor

[2015-12-07 10:38] thaJeztah commented on #18466
Does `sudo docker version` work? Also I see `disabled` in the output of `docker status`; I'm no systemd expert, but are you sure the daemon is actually running?

[2015-12-07 10:44] pchico83 opened #18467 "Container Inspect does not return "Name" in "Mounts" for volumes created before 1.9.0"
Description of problem: when inspecting a container with api v1.21, a "Mounts" property is returned with the information about volumes. Each "mount" has a "Name" property, which has a default value based on the volume source path. The issue is that this field is not returned for volumes created before docker 1.9.0, if the daemon is upgraded to 1.9.0.
It does not look to be intentional, because the

[2015-12-07 10:44] GordonTheTurtle commented on #18467
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-07 11:14] fgimenez commented on #9969
#dibs

[2015-12-07 11:31] brhahlen commented on #18466
Yes, sudo works, as posted above.
The disabled part from systemd is for whether or not it should be started on boot. By default, this is disabled when doing a fresh install.
The line that starts with "Active" is the line where it shows the state, and it also shows the PID.

[2015-12-07 11:52] thaJeztah commented on #18466
oh! yeah, I actually knew that :blush:

I just spun up a fedora23 box on DigitalOcean, installed docker, and:

[code]

So, I'm not able to reproduce?

[2015-12-07 12:06] garagatyi commented on #18433
Another option is to add exec ID to this event.

[2015-12-07 12:34] jojkaart commented on #17845
At least I'm not aware of any trouble with that. The system I did those steps for has been running without any issues for the last 28 days.

[2015-12-07 13:02] hubricode commented on #8539
+1 from Debian Jessie with Docker 1.9.1 build a34a1d5

[code]

[2015-12-07 13:17] duglin commented on #18346
@vipconsult sorry, not sure what I did last time, but this seems to work:
`env $(cat env.list) docker run ...`

[2015-12-07 13:24] brhahlen commented on #18466
Fair point. I just tested on a VM with a clean install and that works without problem as well, so now, I'm back to the drawing board.
Removed docker, removed the group from my user, and all docker-files.

[2015-12-07 13:26] thaJeztah commented on #18466
@brhahlen good luck, I hope you're able to resolve the issue. Are you okay with closing this issue?

[2015-12-07 13:31] brhahlen commented on #18466
Yes, I am, because I just found out the problem.
I had secured my docker via the instructions here: http://docs.docker.com/engine/articles/https/
I added $DOCKER_HOST and $DOCKER_TLS_VERIFY to my .bashrc
Apparently, something got broken, so it tried to connect secure to an unsecured docker. Or so...

Thansk for the help and sorry for the confusion!

[2015-12-07 13:31] #18466 closed

[2015-12-07 13:49] brhahlen commented on #18466
@thaJeztah Hi there.
I know what the problem is:
When starting docker with `systemctl start docker`, it does not start in secure mode, while I am assuming that it is, with `DOCKER_HOST=` and `DOCKER_TLS_VERIFY=1` in my .bashrc
How can I make sure the docker daemon is started with in secured mode automatically? The docs don't go into this...
Thanks!

[2015-12-07 14:16] melkamar opened #18469 "Docker version 1.8.2 does not send auth header with PATCH HTTP request when pushing to default port"
This issue is related to https://github.com/docker/docker/issues/16728 , but bear with me please.
(bug report at the bottom)

**Environment:**
Docker registry (Artifactory) behind NginX. Port 443 (standard HTTPS) redirects to the Docker endpoint and should be used to access it. I am logged in through `docker login`

**The problem:**
* `docker push docker.int.domain.com:443/some-image` works
* `doc

[2015-12-07 14:16] GordonTheTurtle commented on #18469
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-07 14:17] thaJeztah commented on #18466
@brhahlen I think the best option is to create a drop-in file for systemd that overrides the default settings; https://docs.docker.com/engine/articles/systemd/#custom-docker-daemon-options

If you're provisioning the VM with docker-machine, you can also pass in custom daemon options when creating the machine, and those will be used during provisioning; https://docs.docker.com/machine/reference/cre

[2015-12-07 14:35] brhahlen commented on #18466
@thaJeztah I created a /etc/default/docker file, assuming (I know, I know...) that it would be picked up by default by the systemd unit file.
Oh well, I'll look into it :-)
Thanks again!

[2015-12-07 14:45] garagatyi opened #18470 "OOM of exec stops OOM detection for the PID1 container process and following execs"
To reproduce:
[code]
Then in other terminal:
[code]

When we get OOM of PID1 process only docker generates correct events.
[code]
[code]
When we get OOM of exec and then get OOM of PID1 process docker doesn't send event about PID1 process OOM
[code]
[code]
[code]
Delay between OOM and DIE events more than 4 minutes. It's because OOM event was generated for exec OOM only.

[2015-12-07 14:45] GordonTheTurtle commented on #18470
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-07 14:47] thaJeztah commented on #18466
@brhahlen no, the `/etc/default/docker` file is no longer used by systemd. Older incarnations of the unit-file did indeed include that, but that was changed; the recommended way to configure systemd is using drop-ins

[2015-12-07 15:02] thaJeztah commented on #18469
Just a very wild guess; My guess is that `~/.docker/config.json` stores the credentials per URL, i.e. it possibly contains credentials for `docker.int.domain.com:443`, but *not* for `docker.int.domain.com`, and therefore doesn't send credentials for that URL

[2015-12-07 15:09] 3onyc commented on #12514
@Soullivaneuh Use the `useradd` command in your Dockerfile to create the user

[2015-12-07 15:15] Ralf-Te commented on #13331
+1
Pls consider increasing priority of the feature request. In my opinion it is more essential as expected at the moment. Let my explain this by the scenario I am currently facing. To carry the issue too far, I will also explain why I think the issue should be flagged as a "bug". :D

I built a docker-based automatically scaling environment, where Amazon ECS controls the docker container placement

[2015-12-07 15:18] dubvfan87 commented on #18180
It's fixed in 1.9.1a - install this if you're on OSX - https://github.com/docker/toolbox/releases/download/v1.9.1a/DockerToolbox-1.9.1a.pkg

[2015-12-07 15:25] cpuguy83 commented on #13331
@ralf-te fist let me just say I am +1 for adding the --pull flag (there is already an PR for this, see above).

In terms of default behavior in prod, I think this is wrong and would encourage people to use content addressable image names (available since 1.8) instead. This would remove the need for using such a flag since you either have the image or you don't since you are referencing a checksum

[2015-12-07 15:35] ozlerhakan commented on #15739
Hi,

I now get this error after intalling docker [1.9.1](https://github.com/docker/toolbox/releases/tag/v1.9.1) on windows 10, prior to this I did not have such error.

[2015-12-07 15:38] jakirkham commented on #18180
Definitely not fixed by Docker Toolbox 1.9.1a. Suffering from this bug with that version. Looking back through the comments, it looks like I'm not the only one.

[2015-12-07 15:43] Snapu commented on #18180
nope still not building

[2015-12-07 15:44] eemin opened #18471 "Maximum number of ENV variables in docker versin 1.9.0"
Hi,

When I user more than 10 environment variables in docker file and pass them to the bash scripts as command line arguments it is messing the environment variables that are over 10.

But when I use less then 10 every thing is working as it is supposed to.

Is there a limitation on the number of ENV variables or is it a bug?

Docker version is 1.9.0
Host is CentOS 7.1

[2015-12-07 15:44] GordonTheTurtle commented on #18471
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-07 15:50] duglin commented on #18471
@eemin can you share with us your Dockerfile and exact command line you use to build, and/or run the image?  I'm not seeing this issue.

[2015-12-07 15:56] dubvfan87 commented on #18180
I had to delete the VM in virtualbox and start from scratch for it to work.

[2015-12-07 16:00] jakirkham commented on #18180
Also, tried deleting and creating a new VM several times to no avail.

[2015-12-07 16:04] andrew-svds commented on #18180
Installed 1.9.1a, did `docker-machine rm default` and used Docker Quickstart Terminal to regenerate default machine. Rebuilt images (that derive from `java:7-jre`) and ran, still does not work. Continues to work just fine with overlay machine built as suggested above:

[code]

[2015-12-07 16:18] thaJeztah commented on #12514
@Soullivaneuh indeed, you need to add that user in your Dockerfile if you want to reference the user by name. Using numeric ids will work, even if no user is created prior.

I'd be careful bind-mounting `/etc/passwd` in your container, because by doing so, you're granting the processes in the container access to that file and modifying it. If you *really* want to do that, I'd suggest to mount it r

[2015-12-07 16:24] jakirkham commented on #18439
Is it possible that this shares a common cause with this bug ( https://github.com/docker/docker/issues/18180 )?

[2015-12-07 16:24] aditirajagopal commented on #16756
ping @vdemeester @HuKeping - any thoughts?

[2015-12-07 16:25] Snapu commented on #18180
^thanks, the overlay machine worked!

[2015-12-07 16:28] geota commented on #15299
+1 This would be an awesome feature. I agree that the design should avoid coupling of the metadata export to the diff export.

[2015-12-07 16:35] jakirkham commented on #18180
Using `overlay` as the engine storage driver also worked for fixing the MongoDB shutdown hang.

[2015-12-07 17:14] aditirajagopal commented on #12849
@moxiegirl been trying to catch you on IRC - when is a good time to chat about this?

[2015-12-07 17:17] bboreham opened #18473 "Looking for "unless-error" restart policy"
I have a container which needs to be restarted when the machine reboots.  If the process crashes or exits with an error I would like it to stay down so it can be diagnosed.

Existing restart policies:
* `on-failure` will not achieve either requirement.
* `always` will achieve the first requirement but not the second.
* `unless-stopped` is slightly better than `always`, but not quite what I want.

[2015-12-07 17:17] GordonTheTurtle commented on #18473
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-07 17:42] rhatdan commented on #18406
Please open a bugzilla on this.  Don't know if this is a known issue or not.

[2015-12-07 18:08] rhatdan commented on #7952
We have patches to do exactly this in docker now.  It would be nice to fix the kernel though so we did not need to do the chcon -r change.

[2015-12-07 18:24] mrled opened #18474 "No way to disable trust-on-first-use for 'docker pull' with Content Trust"
As far as I can tell, there's no way to tell Docker not to trust the first Content Trust certificate it finds. This is something I'd prefer to do manually, rather than have it done for me, because I want to ensure that my keys aren't tampered with on the notary.

Is this possible? If not - would you consider adding the feature?

(For the record, I'd prefer to distribute my root key certificate mys

[2015-12-07 18:24] GordonTheTurtle commented on #18474
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-07 18:45] cpuguy83 commented on #18474
ping @diogomonica @NathanMcCauley

[2015-12-07 19:03] Stroppel opened #18475 "Network not connecting when using -b option for docker service"
As requested here the missing informations:

# BUG REPORT INFORMATION

[code]

[code]
No idea yet what this warnings mean:
[code]

[code]

Environment details (AWS, VirtualBox, physical, etc.):
All Machines are hosted in a private cloud so I am not sure what hypervisor or cloud is below...

## Reproduction steps:
I have a docker environment where i use my own generated bridge. The docker deamon is

[2015-12-07 19:03] GordonTheTurtle commented on #18475
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-07 19:11] stevvooe commented on #14018
@ncdc Can we check this off? I am not sure that we are at a stable hash yet, but I know we have tar-split, in place.

What is the status of this item?

[2015-12-07 19:14] ncdc commented on #14018
@stevvooe box checked.

@jwhonce's team is now in charge of cross-repo pushing, so I will defer to him.

[2015-12-07 19:59] cmurf commented on #7952
Mounting with -o subvol= is just a bind mount behind the scenes. I'd expect -B -o context= to fail on XFS or ext4 with a similar message, for the same reason. But with overlayfs usage, maybe there's an advantage to fixing this problem for all filesystems.

[2015-12-07 20:00] jamshid commented on #18180
WORARKOUND (switch from openjdk to oracle java):
[code]

[2015-12-07 20:16] thaJeztah commented on #18474
also cc @endophage (for notary)

[2015-12-07 20:18] moxiegirl opened #18477 "Document kernel requirements / updates for multi-host networking in installers"
MHN requires 3.16.  Our installation documentation should mention this and cover the  upgrade of the kernel.

[2015-12-07 20:18] GordonTheTurtle commented on #18477
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-07 20:44] albers commented on #18070
@thaJeztah I think this can be closed.

[2015-12-07 20:49] endophage commented on #18474
@mrled this is a use case on our near future TODO list. We absolutely intend to support it in Notary as it's a hard requirement from enterprise users. I'd suggest the [Notary](https://github.com/docker/notary) repository is the correct place to track this feature request as the implementation will be done there.

[2015-12-07 21:15] thaJeztah commented on #18474
Thanks @endophage!

@mrled can you reopen this in the notary repository/issue tracker? (also search for existing issues, perhaps there's one already).

I'm going to close this issue here, because it's better tracked in the notary issue tracker. Thanks for opening this issue!

[2015-12-07 21:15] #18474 closed

[2015-12-07 21:17] thaJeztah commented on #18070
oh! good call (again) I thought I added a 'closes xxx' tag. thanks Harald

[2015-12-07 21:17] #18070 closed

[2015-12-07 21:28] belooussov commented on #8887
See it from docker's side: it is one issue that is better kept never officially implemented, but with a lot of possible workarounds to ease the pain. Some users screaming loudly is still less painful than the competition's marketing labeling docker as "insecure on purpose", and damaging its reputation forever.
Having said that, +1.

[2015-12-07 22:05] tzz opened #18480 "syslog priority: severity is not tuneable"
I couldn't find this reported elsewhere, so... sorry if it's a duplicate.

I'm looking at the `master` branch.  This is not a bug hence I can't provide any bug report data.

In the message priority, currently the Docker syslog driver can only do severity `ERR` or `INFO`, depending on whether the message was in `STDERR` or `STDOUT`.

A "soft" way to add severity would be to follow the spec in the `

[2015-12-07 22:05] GordonTheTurtle commented on #18480
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-07 22:30] thaJeztah commented on #18480
interesting read on log levels http://dave.cheney.net/2015/11/05/lets-talk-about-logging (just remembered this coming up recently)

[2015-12-07 22:40] andrewgdavis commented on #18180
tried oracle jdk1.7.0_75 and jdk1.8.0_65;  both hang and create a defunct java process.

[2015-12-07 23:05] thaJeztah commented on #13845
Also see https://github.com/docker/docker/issues/18164

[2015-12-07 23:21] der-harm commented on #18125
I can confirm the error **[8] System error: operation not permitted** when executing `docker run`

Device: odroid-c1
uname -a
[code]

docker info
[code]

docker version
[code]

@djmaze Which kernel are you running? odroidc-3.10.y is not supposed to support overlayFS. I didn't rebuild the kernel manually, I switched to btrFS as auFS is not working for me.

[2015-12-07 23:26] #7796 closed

[2015-12-08 00:02] djmaze commented on #18125
@der-harm Because I also had problems with AUFS and Btrfs (even crashing the kernel) on my Odroid-XU4, I am running the  (manually built) [experimental 4.2 kernel](http://odroid.com/dokuwiki/doku.php?id=en:xu4_building_kernel). With OverlayFS, Docker works fast and flawless (when compiled with Go 1.4).

On Odroid-C1, speaking from my own experience, Btrfs does the the job quite well.

[2015-12-08 00:21] allbinmani opened #18481 "docker daemon crashes on invalid pull response from registry"
I tried pulling from my own repository impl, which returned an invalid response (that I cannot reproduce), and the docker daemon crashed with `http: panic serving @: runtime error: index out of range`, and a stack trace. After this, docker daemon is unresponsive to any further requests, and needs to be killed and restarted.

This is not an issue for me, simply reporting it because crash dumps may

[2015-12-08 00:21] GordonTheTurtle commented on #18481
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-08 00:33] aaronlehmann commented on #18481
Thanks for the report. I'll look into this.

[2015-12-08 00:50] sedrubal commented on #18406
@rhatdan do  you mean this bugzilla: https://bugzilla.redhat.com ? If so, to which [classification](https://bugzilla.redhat.com/enter_bug.cgi?classification=__all) belongs this issue?

[2015-12-08 00:50] vipconsult opened #18482 "duplicated text in https://docs.docker.com/engine/userguide/networking/get-started-overlay/"
steps 7 and 8 are duplicated as 9 and 10

https://docs.docker.com/engine/userguide/networking/get-started-overlay/

[2015-12-08 00:50] GordonTheTurtle commented on #18482
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-08 01:01] yunspace commented on #18414
@phemmer mainly based on the various file system related issues such #9665 #13885 #12758 etc. They may not be related.

@thaJeztah CPU has been steady around 2-3% with 60% memory for the last 4 days. So far so good.

[2015-12-08 01:17] rhatdan commented on #18406
Yes, just open a bug on docker in Fedora, and I will get someone to look at it.

[2015-12-08 01:23] HuKeping commented on #16756
hi @aditirajagopal , `docker_cli_pull_test`  is free to go I think, but not sure about the other claimed by @vdemeester

[2015-12-08 01:36] mavenugo commented on #18169
Closed via https://github.com/docker/libnetwork/pull/591. Vendoring-in via #18106

[2015-12-08 01:36] #18169 closed

[2015-12-08 02:42] robbrockbank opened #18489 "[Question] Is it possible to specify a container IP address on `docker run`"
I'm using my own docker network and ipam driver, and am wondering if it is possible to request a particular IP address rather than having IPAM auto-assign one.

For example, I'd like to specify an IP address on the `docker run` command.

Is this possible?

dev:~$ docker version
Client:
 Version:      1.9.0
 API version:  1.21
 Go version:   go1.4.3
 Git commit:   76d6bc9
 Built:        Tue Nov  3

[2015-12-08 02:49] cpuguy83 commented on #18489
Nope, but see #6743 for tracking this.

[2015-12-08 02:49] #18489 closed

[2015-12-08 02:54] daddykotex commented on #18180
FROM : https://github.com/docker/docker/issues/10589
@neverfox exactly the same problem here, with the same image +1
[code]

I simply ran `docker run -it cassandra:2.1.11` and your terminal will be stuck, no way to stop the container. You have to stop the whole VM.

[2015-12-08 03:27] weikinhuang opened #18490 "selinux preventing --device /dev/net/tun from working in centos 7 host with --cap-add=NET_ADMIN"
Getting

[code]

when trying to start openvpn within a container with

[code]

Outside the container

[code]

Inside the container

[code]

However if I do `setenforce 0` everything works fine.

[code]

[2015-12-08 03:58] stayclassychicago commented on #12084
fwiw- wanted to share the amalgamated approach we've taken to handle this:
https://github.com/sameersbn/docker-gitlab/issues/77#issuecomment-159774461

[2015-12-08 04:06] WeiZhang555 commented on #18482
Hmmm, it's weird that the source file is correct https://github.com/docker/docker/blob/master/docs/userguide/networking/get-started-overlay.md#step-6-extra-credit-with-docker-compose,  maybe the website need some updates according to the source.

[2015-12-08 04:48] jecarey commented on #16756
@HuKeping, I talked to @aditirajagopal and she is ok with me working on docker_cli_pull_test, can you please assign it to me?

[2015-12-08 04:57] HuKeping commented on #16756
Sure @jecarey

[2015-12-08 05:02] trestletech opened #18491 "`docker run` in VirtualBox takes minutes"
I've been using Docker inside of VirtualBox very successfully for some time now. However, I'm now trying to leverage a very large image (Ubuntu + `apt-get install texlive-full` -> 3.6GB image) and am seeing unusably slow performance. I realize that with this many layers of storage obfuscation, I can't expect blazing speed, but I'm just hoping to get `docker run`s to a < 5 second startup time.

Pre

[2015-12-08 05:02] GordonTheTurtle commented on #18491
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-08 05:24] au-phiware opened #18492 "`ARG` and `ENTRYPOINT` don't play nice."
### Description of problem:

Previously defined variable with `ARG` is not substituted in `ENTRYPOINT`.

Environment details: physical, gentoo, zfs storage, zsh

[code]

### Steps to Reproduce:

How reproducible: Always

1. Create `Dockerfile`

        FROM tianon/true # anything will do
        ARG type
        COPY entrypoint.sh /$type # again anything will do, e.g. `exec sh`
        ENTRYPOINT

[2015-12-08 05:25] gourao commented on #10161
@cpuguy83 The problems lie in 3  areas, as far as I can see

1) Non overlay (aufs and overlayfs) graph drivers cause problems because they pressure page cache (same file, different inodes).  These are problems that plague btrfs, zfs, devicemapper etc.
2) Overlay abuses inode count on modified files.
3) Additionally overlay has known issues with correctness (https://github.com/docker/docker/issues/

[2015-12-08 05:52] ebuzz commented on #15612
Same problem on windows 10, but ssh worked fine .

[2015-12-08 06:33] luxas commented on #18125
Do anyone know if this is an issue on `x64` when docker is built with `go1.5.1`?
Or is it just on ARM?

[2015-12-08 06:59] wenchma commented on #18492
`ARG` instruct the build variables, and `ENV` instruct the environment variables in container running. I don't think `ARG` var will take effect in container running time.

[2015-12-08 07:03] wangyumi commented on #13670
I ran into this error as well when I try to start a redis sentinel in docker

yuwang@SZX1000051675:~/consul_ha$docker run -d  --net=host --name redis-sentinel \
                -v `pwd`/resolv.conf:/etc/resolv.conf \
                -v `pwd`/sentinel.conf:/data/sentinel.conf \
                redis:3.0.5 redis-server /data/sentinel.conf --sentinel

yuwang@SZX1000051675:~/consul_ha$ docker logs sen

[2015-12-08 07:53] vdemeester commented on #18492
@wenchma it could be used to specify the entrypoint at build-time, but I think it can't be used with entrypoint and cmd by design (ping @duglin @mapuri).

[2015-12-08 08:01] au-phiware commented on #18492
I appreciate that `ARG` does not apply at runtime, however I expected that `ENTRYPOINT` would behave in the same fashion as `RUN`, in this regard. It just appears to be inconsistent behaviour to me... I thought that `ENTRYPOINT` was a build time setting. I mean if I wanted to execute a script that lived in an environment variable wouldn't I just write that in the `entrypoint.sh` file??

[2015-12-08 08:03] djmaze commented on #18125
Docker on master is already built with Go 1.5 [since August](https://github.com/docker/docker/commit/42dcc4f3b5e0ddd2042a75c5d3f3c610d7e839c1). On Arch Linux, I am running 1.9.1 compiled with Go 1.5 on multiple x86_64 machines without problems.

[code]

[2015-12-08 08:08] redhatlinux10 opened #18493 "[feature-request]display a process bar when loading an image"
usually it takes a long period of time to run `docker load -i foo.bar`, sometimes this situation makes me to doubt that if the load operation has already died. i think it's better to have an option(for example `-vh` ,similar with `rpm -ivh foo.rpm`) to display a process bar when loading an image.
in fact there are some other docker operations taking a long period of time too. for example `docker a

[2015-12-08 08:30] fgimenez commented on #9986
I guess that this is done after #17012 has been merged, sorry for not including a proper closing comment.

[2015-12-08 08:55] fantapop commented on #17944
This issue is affecting my team as well. Our use case is that we're mounting in a directory of node_modules during development. One of those modules is optionally npm linked. To allow the mount to work with both a directory and a symlink inside the node_modules directory, we're using fs.realPath to find the actual directory of the module and then mounting that in to where the module is expected on

[2015-12-08 09:00] runcom opened #18494 "Container inspect Volumes&Binds inconsistencies"
Noticed the following behavior:
[code]
while:
[code]
Is there any reason why the first volume is shown in `HostConfig.Binds` and not in `Config.Volumes` and viceversa? I thought I would see both in `Config.Volumes` given the first was created with `docker volume` and the second auto add a volume. I think the same happens with `docker run` but haven't tested it yet.

[2015-12-08 09:00] GordonTheTurtle commented on #18494
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-08 09:02] runcom commented on #18494
ping @cpuguy83 @calavera

[2015-12-08 09:07] Stroppel commented on #18475
As requested here the missing informations:
docker --version
Docker version 1.9.1, build a34a1d5

docker info
Containers: 108
Images: 63
Server Version: 1.9.1
Storage Driver: devicemapper
 Pool Name: docker-253:4-263074-pool
 Pool Blocksize: 65.54 kB
 Base Device Size: 107.4 GB
 Backing Filesystem:
 Data file: /dev/loop0
 Metadata file: /dev/loop1
 Data Space Used: 3.153 GB
 Data Space Total: 107.

[2015-12-08 09:09] Stroppel commented on #18475
included the needed information in the description

[2015-12-08 09:31] Soullivaneuh commented on #12514
The fact is, I want to have dynamic users in order to use same user as the host, that could be different between workstations (sullivan, brandon, jerome...).

I have to confess, I'm completely stuck. What is the best way?

@3onyc Ok, but how to passes dynamic variable inside this Dockerfile?

[2015-12-08 09:57] lorenzvth7 opened #18495 "Docker: open /certs/domain.crt: permission denied"
[code]
I'm trying to setup a private docker registry. I'm using my own generated certificates. But my docker logs of my registry show this error:
[code]
I have my certificate in:
[code]
This contains domain.crt and domain.key
I have a permission denied. But I don't know what's the best solution in this case? Which rights to which user do I have to give?

I just tried to give all the rights but it

[2015-12-08 09:57] GordonTheTurtle commented on #18495
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-08 10:41] madchap commented on #8539
+1 on Centos 7, docker 1.9.0 build 76d6bc9.

[2015-12-08 10:59] thaJeztah commented on #18491
Looks like you're using `vfs` as a storage driver. The vfs driver is not a copy-on-write filesystem and really just there as a "last resort" if anything else is missing. Also see this stackoverflow question; http://stackoverflow.com/questions/24736778/why-is-the-docker-vfs-storage-backend-not-considered-suitable-for-production

I'd recommend to install the required packages for another storage dri

[2015-12-08 10:59] #18491 closed

[2015-12-08 11:12] thaJeztah commented on #18482
Looks like this went wrong when cherry picking; the steps are indeed duplicated in the docs branch; https://github.com/docker/docker/blob/a3e00dc588cb30d85167e144f89ae91310d08c95/docs/userguide/networking/get-started-overlay.md

Looks like the same PR was cherry-picked twice
https://github.com/docker/docker/blame/docs/docs/userguide/networking/get-started-overlay.md

[2015-12-08 11:20] thaJeztah commented on #18493
Thanks for suggesting; this is a duplicate of https://github.com/docker/docker/issues/8298, so I'm going to close this one. Please subscribe to that issue to stay informed.

w.r.t. `docker attach` or `docker stop`; that really depends on the process inside the container. For example, `docker stop` sends a signal to the container's main process to stop it, but if that process does not properly hand

[2015-12-08 11:20] #18493 closed

[2015-12-08 11:28] thaJeztah commented on #9986
@fgimenez oh, yes! Thanks I'll close

[2015-12-08 11:28] #9986 closed

[2015-12-08 11:36] villlem commented on #18492
This is by design. Read http://docs.docker.com/engine/reference/builder/#environment-replacement
`ENTRYPOINT` dockerfile instruction does not use any `ENV` nor `ARG`.

[2015-12-08 12:10] alexandrevicenzi commented on #18180
:+1:

Same here with Docker 1.9.1 and OS X 10.11.

[2015-12-08 12:25] eemin commented on #18471
Well to figure out what is going on I made a very simple script and the  test the situation in clean Ubuntu base image . Every thing there is working as it is supposed to be.
So this is something else I have to figure it out, either from the image or the scripts  that are used in it. Image was prepared by a colleague for the company.
Sorry to waste some space.

[2015-12-08 12:25] #18471 closed

[2015-12-08 12:28] thaJeztah commented on #18180
### For people having this issue

We've so far narrowed this down to not being a *docker* bug but  a **kernel issue** in combination with AUFS in the kernel that is used by the current boot2docker version; see https://github.com/docker/docker/issues/18180#issuecomment-161832035

- If you want to stay informed on progress, use the **subscribe** button on this page. **do not comment** if you don't h

[2015-12-08 12:29] thaJeztah commented on #18471
@eemin no problem, hope you're able to resolve your issue!

[2015-12-08 12:44] duglin commented on #18492
Its important to understand how env vars are set when we process a RUN.  We don't touch any `$xxx` on the RUN command directly, we just pass it on to the shell and its the shell that will convert `$xxx` into whatever value xxx may have.  Note that if you used the JSON format of RUN then `$xxx` would not have any env var substitution processing done at all because there's no shell.
Its the equivale

[2015-12-08 13:16] cpuguy83 commented on #18494
This is expected, IMO.
This is effectively a bind.

[2015-12-08 13:26] runcom commented on #18494
both are ` /var/lib/docker/0.0/volumes/CONTAINERID/_data` and both are listed under `docker volume ls`. To me seems weird the first one isn't listed in `Volumes`

[2015-12-08 13:42] mvollmer opened #18497 ""docker logs" omits partial lines such as prompts for running containers."
This is #8443, which I think was closed erroneously.

[code]

and in another terminal

[code]

This is annoying for tools like Cockpit, see https://github.com/cockpit-project/cockpit/issues/1159.

Cockpit can show a fully functional terminal for a container that has been created with the "-t -i" options.  The terminal is initialized with the log of a container, and it is confusing if the prompt is

[2015-12-08 13:42] GordonTheTurtle commented on #18497
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-08 13:42] liangmingyuanneo opened #18498 "docker push is not parallel"
I have read the source code of docker push and docker pull, docker pull is parallel but docker push not. When docker push images, docker client will read layer json first to get metadata, then we can get all layer metadata at a loop to make up manifest. So we can push images parallel. Why docker client does not use this manner instead of pushing images  serial?

[2015-12-08 13:42] GordonTheTurtle commented on #18498
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-08 13:43] mvollmer commented on #18497
[root@f23 test]# docker version
Client:
 Version:         1.9.1-fc23
 API version:     1.21
 Package version: docker-1.9.1-2.git78bc3ea.fc23.x86_64
 Go version:      go1.5.1
 Git commit:      f7c1d52-dirty
 Built:           Fri Nov 20 21:07:14 UTC 2015
 OS/Arch:         linux/amd64

Server:
 Version:         1.9.1-fc23
 API version:     1.21
 Package version: docker-1.9.1-2.git78bc3ea.fc23.x86_64

[2015-12-08 14:00] marcust opened #18500 "Ubuntu Kernel 4.2.0-19.23 makes docker produce zombie processes"
I'm starting and stopping a couple of hundred containers a day on my dev machine and yesterday I started noticing that random containers would not shut down, due to contained zombie state processes.

Actual state (from top):
[code]
Process chain and stacks:
Actual zombie (a java process)
[code]

Parent (a shell script)
[code]

Parent (sh)
[code]

Parent (docker)
[code]

From my understanding of th

[2015-12-08 14:00] GordonTheTurtle commented on #18500
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-08 14:15] thaJeztah commented on #18498
There are some existing issues on optimizing push. Some optimizations still need to be implemented, or researched if they actually bring a performance improvent. This discussion makes mention on enabling parallel push in the client; https://github.com/docker/docker/issues/13250#issuecomment-102547028

/cc @stevvooe is parallel push still being considered?

[2015-12-08 14:17] HackToday commented on #18429
@thaJeztah  I'like to fix it, just make sure do we need still use this image or can use other image as example in the doc ?

[2015-12-08 14:19] thaJeztah commented on #18429
@HackToday oh, sorry! I just pushed a simple PR to update the example; see https://github.com/docker/docker/issues/18499

[2015-12-08 14:24] HackToday commented on #18429
OK @thaJeztah

[2015-12-08 14:26] thaJeztah commented on #18429
@HackToday let me know if that example is better, feel free to comment if you have additional suggestions :+1:

[2015-12-08 14:34] fwehrle commented on #16208
Thank you
I just passed 2 hours to try to reduce my image size. But When I export / import a container to a new image, variables, command and entrypoint are missing.
So I don't know how to re-add it to the image.
Until then, I recreate a container from the stock image. Thank you.

[2015-12-08 15:22] thaJeztah commented on #18500
Thanks for reporting, and doing the research. I'll add the "kernel" label. Also;

/cc @LK4D4 @crosbymichael, who may be interested in this.

[2015-12-08 15:35] thall opened #18501 "docker COPY overwrite symlinks"
Description of problem:
Docker COPY doesn't follow container symbolic links. Instead it overwrites them with directories which i find very counter intuitive.

`docker version`:
Docker version 1.8.3, build f4bf5c7-dirty

`docker info`:
Containers: 61
Images: 449
Storage Driver: devicemapper
 Pool Name: docker-254:0-2498838-pool
 Pool Blocksize: 65.54 kB
 Backing Filesystem: extfs
 Data file: /dev/l

[2015-12-08 15:44] duglin commented on #18492
Given this is working as designed I'm going to close the issue. If you think there's something we may need to revisit go ahead and reopen it, or keep the chat going.

[2015-12-08 15:44] #18492 closed

[2015-12-08 15:54] trestletech commented on #18491
Thanks so much! After reading up on it a bit that makes perfect sense. I'm reprovisioning now to confirm the fix. Perhaps my VMWare base image already had the linux-image-extra included.

It's possible that I completely missed it, but if I may humbly suggest promoting this "vfs doesn't count as a real storage system" tidbit more heavily in these docs, I suspect others might benefit. All the offici

[2015-12-08 16:12] estesp commented on #18151
Sorry for the delay @runcom.  I think I've figured this out, but now I have a slightly bigger problem that something recently merged is breaking user namespaces on overlay completely :-/
[code]

So, once I figure out what happened, I think I understand what needs to be fixed (and it will affect overlay and aufs, even though aufs doesn't have such a clear error)

[2015-12-08 16:21] wesbos commented on #18264
So I just got an email from your Lawyers. Any update on how to properly use the docker icon when it's so small?

![](http://wes.io/e1a0/content)

[2015-12-08 16:58] stremlenye opened #18502 "Java process hangs on inside container"
Description:
Java process hangs on if started inside container.
That happens randomly but even if you run
[code]
or
[code]
To be precise commands are executed properly end prints what them supposed to print, but doesn't exit or fail. Logs are empty, `jstack` fails to connect to VM, `ps -A` shows `java <defunct>`.

`docker version`: Docker version 1.9.1, build a34a1d5
`docker info`:
[code]
`uname -

[2015-12-08 17:39] tonistiigi commented on #18501
Following symlinks in subdirectories doesn't sound like a good idea. Regular `cp` gives you a `can not overwrite non-directory with a directory` error in this case. I think we can consider producing an error also.

[2015-12-08 17:41] tonistiigi commented on #18498
This is being addressed in #18353.

[2015-12-08 17:47] thaJeztah commented on #18498
@tonistiigi oh! you're right, I missed the "concurrently" part of the PR :+1:

[2015-12-08 18:02] thaJeztah commented on #18501
agree on producing an error, sounds like the right approach here

[2015-12-08 18:03] cpuguy83 commented on #18497
Yes, this is expected behavior.
Logs are done per line.

If you want the actual stream, use attach.

[2015-12-08 18:06] sammyshj commented on #13397
@thaJeztah The [doc](http://docs.docker.com/engine/reference/commandline/images/) already has a section about untagged images(dangling).
Can you clarify what exactly needs to be done in this issue then, I will like to work on this issue.

[2015-12-08 18:14] thaJeztah commented on #13397
@sammyshj good question, I think that section covers it quite well. Perhaps we should explicitly mention `<none>`, and explain that those are untagged images?

[2015-12-08 18:20] thaJeztah commented on #18502
This may be related to this issue; https://github.com/docker/docker/issues/18180

If you run `docker top <yourcontainer>`, do you also see a `<defunct>` process?

[2015-12-08 18:21] sammyshj commented on #13397
Okay working on it right now.
Following the [Docker Contribution Guide](https://docs.docker.com/opensource/workflow/find-an-issue/), #dibs.

[2015-12-08 18:26] thall commented on #18501
Can also agree on an error message should be produced.

[2015-12-08 18:37] phemmer commented on #18498
Also a dup of #9132, which is unfortunately in closed state :-(

[2015-12-08 18:40] tonistiigi commented on #18498
@phemmer There are 2 cases here. One is to push multiple images on the same time(already addressed), other is to upload layers concurrently for a single push.

[2015-12-08 18:43] thaJeztah commented on #13397
Awesome @sammyshj, thanks!

[2015-12-08 19:14] daviesalex commented on #13885
We had this under 1.7.1, and worked around it very effectively (we saw it every few hours under 1.7.1, but never for 1+ month post workaround):

[code]

We are running RHEL7.1. We just did an upgrade to Docker 1.8.2 without any other changes, and our app locked it up within a few hours. Strace:

``
[pid  4200] open("/sys/fs/cgroup/freezer/system.slice/docker-bcb29dad6848d250df7508f85e78ca9b83d40f0

[2015-12-08 19:27] avirshup commented on #735
[Docker Make](http://www.github.com/avirshup/DockerMake) might be a solution to many of the problems here. It supports both:
1. support dockerfile "inheritance", and
1. ADDs/COPYs from multiple locations.

Here's @binocarlos 's example, with files added from multiple locations. You specify the build with a YAML file:
[code]

And create the final image just by running
[code]

Full disclosure: I wro

[2015-12-08 19:28] itamarst opened #18504 "`docker ps` unresponsive until mounting of volume via volume driver finishes"
Docker v1.9.1 on CentOS.

Scenario is as follows; `docker run --volume-driver flocker -v myvolume:/data busybox` running in background and in parallel a `docker ps` call. Both take about 20 seconds to finish. During this time the following happens in this order:
1. `VolumeDriver.Create` is sent by Docker, succeeds with appropriate response.
2. `VolumeDriver.Path` is sent by Docker, presumably on b

[2015-12-08 19:28] GordonTheTurtle commented on #18504
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-08 19:31] stevvooe commented on #18498
@phemmer That is yet a different variation on "parallel". This issue request layer parallelization, which is not implemented as of yet (until #18353, I believe).

@liangmingyuanneo Going into a little history, the docker client push/pull code was historically single threaded. Additions of parallelization have resulted in dataset corruption. We've been slowly bolstering the code and working those i

[2015-12-08 19:40] itamarst commented on #18504
[code]

[2015-12-08 19:43] estesp commented on #18151
There seems to be a layer "promotion"  + whiteout problem--since `partial/` already exists in the lower (pre-existing layer of **debian:jessie**), bringing it "up" with new content (files are created in partial, or the dir is recreated by `apt`--not sure which) and then trying to force a removal is having some issue, but I'm still learning overlay and how it handles whiteout to figure out why on u

[2015-12-08 19:44] estesp commented on #18151
I also believe some part of #9572 is related..

[2015-12-08 19:47] runcom commented on #18151
thanks @estesp :(

[2015-12-08 19:48] manojlds commented on #18264
+1 to @wesbos

[2015-12-08 20:06] shakefu commented on #13588
+1

[2015-12-08 20:27] thaJeztah commented on #18504
Thanks for the report @itamarst

ping @calavera @cpuguy83 for volumes/volume plugins

[2015-12-08 20:40] andrewgdavis commented on #18502
I don't know enough about java threading internals and how things are supposed to be shutdown cleanly... But I find it is very interesting that an explicit System.exit(0) call alleviates the problem as opposed to just leaving main.  It would be interesting to implement a similar sequence of shutdown events in another language (modeled after java's) to see if it is java specific or not.

As a side

[2015-12-08 20:40] #18481 closed

[2015-12-08 20:50] thaJeztah commented on #18502
Interesting, thanks!

[2015-12-08 20:54] vincentwoo commented on #10490
Yeah, tried again to run the entire OverlayFS on top of tmpfs in production, but Docker broke for mysterious reasons eventually. No idea why.

[2015-12-08 21:10] sebi-hgdata opened #18508 "some network related files are written to /var/lib/docker even if using the daemon's -g option"
I see some files written in /var/lib/docker even if I use the -g option:

$ sudo docker info
Containers: 0
Images: 416
Server Version: 1.9.1
Storage Driver: overlay
 Backing Filesystem: extfs
Execution Driver: native-0.2
Logging Driver: json-file
Kernel Version: 4.3.0-040300-generic
Operating System: Ubuntu 14.04.3 LTS
CPUs: 8
Total Memory: 7.706 GiB
Name: seb
ID: B2M7:KYAT:FVQA:TA6R:FLAN:DUF5:224

[2015-12-08 21:17] robbrockbank commented on #6743
Hi @mavenugo,

I'm looking for a way to specify an IP address when creating a container using `docker run`.  You mentioned that writing an IPAM driver is one way of achieving this.  I have written an IPAM driver, but I'm still not sure how to pass information through to the IPAM driver to know that a particular container needs to be assigned a particular IP address.  What would be the recommended

[2015-12-08 21:17] calavera commented on #18494
I agree that it looks inconsistent. `docker run -v /test` creates an "anonymous" volume that should be listed in the same way that name volumes are listed. I don't think it's worth adding to 1.9.2 since it's not a regression in the 1.9.x series, I'm pretty sure it was there in 1.8 too.

[2015-12-08 21:23] mavenugo commented on #6743
@robbrockbank we had a few discussions on this topic recently & @aboch is looking at the way to provide this support in conjunction with IPAM (we had a recent fix in IPAM integration to support that).
@aboch can you please add more details to this ?

[2015-12-08 21:27] jeanpralo opened #18509 "[aufs] Unable to delete a container when / partition is mounted"
Hi guys,
# BUG REPORT INFORMATION

`docker version`:
Client:
 Version:      1.9.0
 API version:  1.21
 Go version:   go1.4.2
 Git commit:   76d6bc9
 Built:        Tue Nov  3 17:43:42 UTC 2015
 OS/Arch:      linux/amd64

Server:
 Version:      1.9.0
 API version:  1.21
 Go version:   go1.4.2
 Git commit:   76d6bc9
 Built:        Tue Nov  3 17:43:42 UTC 2015
 OS/Arch:      linux/amd64

`docker info`

[2015-12-08 21:27] GordonTheTurtle commented on #18509
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-08 21:28] mrunalp commented on #8755
The problem is that the tty is created outside on the host and there is no reference to it in the container like how /dev/console is setup in the primary container. One options to fix this would be allocate and bind mount the devpts from the host in to the containers. I will try that out and report back.

[2015-12-08 21:31] euank opened #18510 "Docker 1.9: OOMKilled not reliably set"
As of Docker 1.9, the `State.OOMKilled` flag is not set very reliably (see repro script below).

I've got a PR coming shortly to address this issue hopefully.

`docker version`:
[code]

`docker info`:
[code]

`uname -a`: `Linux ip-172-31-3-233 3.13.0-63-generic #103-Ubuntu SMP Fri Aug 14 21:42:59 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`

Environment details (AWS, VirtualBox, physical, etc.): AWS,

[2015-12-08 21:56] aboch commented on #6743
@robbrockbank
In order for user to specify a preferred address for the container, plan is to add an explicit `--ip` (`--ip6`) option to `docker run` to be used in conjunction with `--subnet`.
Your ipam driver will ultimately receive the user chosen address as parameter of the `RequestAddress()` call.
This is WIP and it is planned for 1.10.

I am also planning some work to allow DHCP based ipam plu

[2015-12-08 22:33] rgbkrk commented on #17271
Interesting. I'm assuming data isn't synced though?

[2015-12-08 22:36] thaJeztah commented on #18508
Yes, the current libnetwork version has these paths hardcoded, but this is being fixed in https://github.com/docker/libnetwork/pull/742

/cc @aboch @calavera

[2015-12-08 22:41] thaJeztah commented on #17271
@rgbkrk I think that depends on the driver that's used

[2015-12-08 23:17] tianon commented on #18502
Yeah, this is definitely the same symptoms as #18180.

[2015-12-08 23:18] ssmall opened #18516 "upstart: does not wait for Unix socket if multiple host entries in DOCKER_OPTS"
#### Issue
I am trying to create an Upstart service that depends on Docker,  however it is failing because `/var/run/docker.sock` does not exist yet, despite the fix in #6647.

`cat /etc/default/docker`:

[code]

#### Additional info:

`docker version`:

[code]

`docker info`:

[code]

`uname -a`:
[code]

[2015-12-08 23:23] jeanpralo commented on #18509
I have also tested it in docker 1.9.1 and it is a problem as well.

[2015-12-08 23:25] thaJeztah commented on #18502
Thanks for looking @tianon; is the link to the JAVA issue useful for resolving?

@stremlenye I'll close this issue in favor of https://github.com/docker/docker/issues/18180 so that we have the discussion on a single location. Please subscribe to that issue using the "subscribe" button to keep up to date on progress.

Thanks for reporting!

[2015-12-08 23:25] #18502 closed

[2015-12-08 23:27] thaJeztah commented on #18509
Thanks for reporting @jeanpralo, just to check; is this a regression since 1.8? Were you able to do this in 1.8 without issues?

[2015-12-08 23:27] tianon commented on #18502
I'm not sure -- I think someone with more kernel-level debugging experience
than I have needs to take a look. :innocent:

[2015-12-08 23:32] AndrewGuenther commented on #18516
The problem is this line:
https://github.com/docker/docker/blob/master/contrib/init/upstart/docker.conf#L52
[code]

This checks to see whether or not a host has been specified in `DOCKER_OPTS`, if one is not present, it will wait for the socket. However, @ssmall is specifying that he wants the daemon to run on both the socket *and* a TCP socket. In this case, this check will fail, but the socket m

[2015-12-08 23:34] thaJeztah commented on #18516
Thanks @AndrewGuenther!

[2015-12-08 23:37] jeanpralo commented on #18509
I have just been able to reproduce using docker 1.8.3 and 1.7.1 so it has been around for quite a while now.

[2015-12-08 23:42] thaJeztah commented on #18509
@jeanpralo thanks for checking.

[2015-12-08 23:43] thaJeztah commented on #18509
In that output; is `3d1e082f48eb875d3f2117342b082e1aca84164bfa7ccf253c53e0dc38f61e77` the ID of the first container (`lafauteaqui`) or the second one (started in step 2)?

[2015-12-08 23:49] jeanpralo commented on #18509
@thaJeztah it's the id of the second container started in step 2

[2015-12-08 23:52] #13397 closed

[2015-12-08 23:56] vieux opened #18521 "wrong daemon error message"
When you use a directory instead of a socket in the `docker daemon -H` flag, the error message could be improved.

[code]

[2015-12-08 23:56] GordonTheTurtle commented on #18521
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-09 00:24] sedrubal commented on #18406
Ok. Here it is: https://bugzilla.redhat.com/show_bug.cgi?id=1289792

[2015-12-09 00:28] #18071 closed

[2015-12-09 00:30] thaJeztah commented on #18406
Given that this looks to be an issue in the Fedora packaged version, are you okay with closing this issue here, @sedrubal?

[2015-12-09 00:32] eliezeralmeida commented on #12673
@mlapierre It worked to me. Thank you!

[2015-12-09 00:33] sedrubal commented on #18406
Yes of course, if you think so... Thanks for your help.

[2015-12-09 00:33] #18406 closed

[2015-12-09 00:39] dqminh commented on #18500
Do you have an exact command to reproduce this ?

From a glance, it looks like the image's init process ( i guess this one https://github.com/wurstmeister/kafka-docker/blob/master/start-kafka.sh ) will probably not be able to reap processes, which can explain the zombie + container failed to stop.

[2015-12-09 00:47] SydOps opened #18522 "Can we add a new feature to automatically use the commit code as tag when build a new image?"
As title, will it be possible?

Especially in automation build through hub.docker.com

[2015-12-09 01:03] calavera commented on #10867
I'd rather not have any endpoint that removes things in bulk. They are source to great issues. I don't think we should implement this.

Unless other maintainers disagree, I'll close this issue with WON'T FIX in the next few days.

[2015-12-09 01:17] coolljt0725 commented on #18522
How about `docker build -t xxx:$(git rev-parse --short HEAD) .`?

[2015-12-09 01:40] SydOps commented on #18522
@coolljt0725

Nice answer. Will take a try.

[2015-12-09 01:40] #18522 closed

[2015-12-09 01:52] staff0rd commented on #18420
I also get this issue, on my local debian box which currently runs 1.9.0.  No problem on my Amazon Linux AMI instance which does not show the following `docker info` lines, while the debian one does;
[code]

[2015-12-09 02:03] SydOps opened #18523 "AWS ec2's "user data" function in Docker"
When build docker image, i can put a `CMD` to run a script or command in the container, but it is hard coded in the image and not flexible.

Can I have a feature to run "user data" as in aws ec2 instance when start a new container?

So for example, I prepare an image, when I need start a new container with `yum update -y`, what  can i do?

[2015-12-09 02:03] GordonTheTurtle commented on #18523
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-09 02:08] #18523 closed

[2015-12-09 02:26] AndrewGuenther commented on #18516
#dibs

I've written up a patch, but I need to get on a different machine in the morning to verify.

[2015-12-09 02:45] macropin commented on #3465
Anyone who has used Docker in a non-trivial capacity will have found these limitations with inherited containers.

@shykes @icecrime how is this now closed? Is it too hard to solve with the current syntax and need for backwards compatibility? Whats the plan?

[2015-12-09 03:03] kevinxucs commented on #6743
@aboch is there a timeframe when 1.10 will be released?

[2015-12-09 03:43] bb12489 commented on #15612
Windows 10 here, and the same issue. SSH works fine.

[2015-12-09 03:51] schmunk42 commented on #17083
Same here with 1.9.1, removing networks, like @ddproxy mentioned helps, see also http://stackoverflow.com/a/33604859/291573

[code]

[2015-12-09 04:25] johnjelinek commented on #13670
I'm having this error too. My mount name does not include a number.

[2015-12-09 05:36] jskrepnek commented on #10324
@RoelVdP can you clarify if the work around you describe results in the /etc/hosts file being modified permanently in the container after the build is complete?  I can certainly see that it modifies etc/hosts within the context of a run command, but any changes I make are ultimately overwritten in the final built container

[2015-12-09 06:19] zelahi commented on #11703
In regards to the wget issue, I was unable to reproduce the issue.  I believe I got passed it okay.  So I ran the docker build command and saved the output to a file.  I attached the output to show and here is a small snippet that I believe shows this is not an issue:

Step 3 : RUN wget -qO- http://cfengine.com/pub/gpg.key | apt-key add -
 ---> Running in 32a880977d1c
OK

That was from the output

[2015-12-09 06:47] WeiZhang555 commented on #18521
#dibs
I'll pick up this.

[2015-12-09 07:57] runcom commented on #18494
My need here is to understand if there are any volumes for the container. I can count on `Config.Volumes` first but didn't want to go through the logic of understanding if the bind is from an *anonymous* volume reading `HostConfig.Binds`.
@calavera do you have any preference about how to fix this? just duplicating the bind in the volumes seems not the right thing to do. I'll happily take care of t

[2015-12-09 08:27] zopyx opened #18526 "docker push not working in 1.9.1"
Why is this happening???

[code]

[2015-12-09 08:27] GordonTheTurtle commented on #18526
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-09 08:44] marcust commented on #18500
I created https://github.com/marcust/kafka-docker/blob/master/docker-compose.yml to simulate what I'm doing, can't verify at the moment because I need to recreate the environment (and it was rather random than really reproduceable)

The issue that I saw when I decided to make the analysis was that actually the creation of topics (https://github.com/marcust/kafka-docker/blob/master/start-kafka.sh#L

[2015-12-09 08:47] mvollmer commented on #18497
As far as I can see, `attach` doesn't give historical data.  So if you have a running container that sits at a "Are you sure? [Yn]" prompt, and you attach to it after it has printed that prompt, you wont see that prompt, right?

[2015-12-09 08:48] thaJeztah commented on #6743
@kevinxucs 1.10 is expected to be released somewhere in February, due to the Holidays and New Year

[2015-12-09 09:08] Soulou opened #18527 "No available IPv4 addresses on this network's address pools: bridge"
Hi there, one of my production host encountered the following error when starting a new container (creation when well, POST /start request failed):

[code]

The bridge network is the default one giving IPs on 172.17.0.0/16

There are not so many containers on the host (70, see docker info output below) So I suppose there are plenty of available addresses.

In the complete log I've a warning about

[2015-12-09 09:08] GordonTheTurtle commented on #18527
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-09 09:15] stremlenye commented on #18502
@thaJeztah Thank you!

[2015-12-09 10:33] thaJeztah commented on #10867
@calavera are you against offering it as a CLI option, or also against implementing it in the API?

[2015-12-09 11:01] Soulou commented on #18527
[code]

More information about current network

[2015-12-09 11:12] Soulou commented on #18527
List of allocated IP according to `docker network inspect bridge`

[code]

Definitely not all of them

[2015-12-09 11:27] thaJeztah commented on #18526
Looks like you're running a RedHat build of Docker. (The git commit of that build is not in this repository, but can be [found here](https://github.com/rhatdan/docker/commit/78bc3eaee7a4639325ca103154a69f91ddb1a093), and the changes in that commit are in a file [`credentials_linux.go`](https://github.com/rhatdan/docker/blob/78bc3eaee7a4639325ca103154a69f91ddb1a093/api/server/credentials_linux.go)

[2015-12-09 11:32] jtjeferreira commented on #18500
Hi. I am also facing this issue and coincidentally or not I am also using wurstmeister/kafka and the zombie process is also a java application

[code]

[2015-12-09 11:49] jfindley opened #18528 "Docker volumes with Z option fail if the host directory is missing"
Description of problem:
Docker volumes with Z option fail if the host directory is missing.  This is unique to the Z modes - RW/RO create the directory if it's not present.

`docker version`:
Client:
 Version:         1.9.1-fc23
 API version:     1.21
 Package version: docker-1.9.1-2.git78bc3ea.fc23.x86_64
 Go version:      go1.5.1
 Git commit:      f7c1d52-dirty
 Built:           Fri Nov 20 21:07

[2015-12-09 11:58] Snorch opened #18529 "Flaky test: TestRunGroupAdd can fail after TestPullImageWithAllTagFromCentralRegistry"
If run TestRunGroupAdd alone, busybox image is:
busybox             latest              8c2e06607696        7 months ago        2.43 MB
and it has dbus group in /etc/group

But busybox latest image pulled from docker-hub is:
busybox             latest              ac6a7980c6c2        14 hours ago        1.113 MB
and it doesn't have dbus group.

Running along with another tests(after TestPullImageW

[2015-12-09 11:58] GordonTheTurtle commented on #18529
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-09 11:59] thaJeztah commented on #18527
Are you using docker-in-docker or running more than one daemon? If you do, this may be a duplicate of https://github.com/docker/docker/issues/17939

[2015-12-09 12:04] cpuguy83 commented on #18497
The attach API does give history if requested... And if you are using a log driver that supports reading.

[2015-12-09 12:12] #18405 closed

[2015-12-09 12:25] thaJeztah commented on #18528
I'm unable to reproduce this on our docker 1.9.1 release; I just spun up a Fedora 23 droplet on DigitalOcean, installed docker and this seems to work.

I see you're running a RedHat build of docker, can you try if you're able to reproduce this using our builds http://docs.docker.com/engine/installation/fedora/, or open this issue in the RedHat issue tracker; https://bugzilla.redhat.com/ ?

[code]

[2015-12-09 12:30] marcust commented on #18500
I created a small script to reproduce (https://github.com/marcust/kafka-docker/blob/master/reproduce.sh) and I can actually do that:

Old Kernel:
[code]

New Kernel:
[code]

[2015-12-09 12:34] thaJeztah commented on #18500
Hm was thinking if this could be related to https://github.com/docker/docker/issues/18180#issuecomment-161832035, but that occurs between 4.1.12 and 4.1.13

[2015-12-09 12:40] runcom commented on #18528
I'm able to reproduce this on rawhide with rh docker. Looking

[2015-12-09 12:46] thaJeztah commented on #18529
Is this still an issue on master? I think some changes were made to the tests, for example; https://github.com/docker/docker/pull/16039 and https://github.com/docker/docker/pull/18503

[2015-12-09 12:50] drmikecrowe commented on #7276
My solution:

Edit /etc/apparmor.d/docker and add:

[code]

Run: ```apparmor_parser - /etc/apparmor.d/docker docker```

[2015-12-09 12:54] marcust commented on #18500
Ubuntu's changelog is here:
https://launchpad.net/ubuntu/+source/linux/4.2.0-19.23

the old version is
https://launchpad.net/ubuntu/+source/linux/4.2.0-18.22

apparently they have a diff of about 6 MB against the vanilla kernel. When I diff both I still get about 658K of changes. This is basically where I'm out as I don't know which kernel features docker actually uses.

BTW, I can run my reproduc

[2015-12-09 13:04] Soulou commented on #18527
No I'm not doing that, I've seens the issue, but have not detected any similarity

[2015-12-09 13:04] berndv opened #18532 "Breaking change in HostConfig.NetworkMode between Docker v1.7.1 and v1.8.3"
For containers that was run without any `--net` configuration, docker inspect now behaves differenty, since Docker version 1.8.3 and api version 1.20.

Docker v1.7.1, api v1.19 returnes: `"HostConfig.NetworkMode":"bridge"`

Docker v1.8.3, api v1.20 returnes: `"HostConfig.NetworkMode":"default"`

The change was introduced with commit 083300168fb0f42e022e9fa2ce47a7b2aac9967a

Actually, this has brok

[2015-12-09 13:04] GordonTheTurtle commented on #18532
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-09 13:07] thaJeztah commented on #18527
ping @aboch (sorry I'm kinda loosing track which network issues are still being tracked) :smile:

[2015-12-09 13:09] thaJeztah commented on #18532
Just a quick check; If you're using API 1.19 with docker 1.8.3, did that value also change?

[2015-12-09 13:47] berndv commented on #18532
Client v1.8.3 (API v1.20) is not compatible with Server v1.7.1 (API v1.19)

[code]

But the other way round - Client v1.7.1 (API v1.19) and Server v1.8.3 (API v1.20) - the answer is yes.

[code]

[code]

[2015-12-09 14:19] polonskiy opened #18535 "Same IP address for different containers"
I don't know how to reproduce, but sometimes I get this:
[code]

[code]

[code]

[code]

[code]

[2015-12-09 14:19] GordonTheTurtle commented on #18535
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-09 14:26] egberts commented on #18264
#headdesk

[2015-12-09 14:26] cpuguy83 commented on #18528
This is most certainly a dup. I know @rhatdan fixed this at least on master.

[2015-12-09 14:34] jamescun commented on #18264
Wow @wesbos. For a company that highly values open source, I think this is a pretty poor show from Docker Inc. I hope to hear that the lawyers are working on behalf of Docker Inc for brand protection services, than at the direction of Docker Inc.

[2015-12-09 14:40] wesbos commented on #18264
Yeah Lawyers gonna lawyer :)  I don't think the folks behind the software mean any harm.

They have got in touch and we will figure something out.  I think it it all boils down to this: Docker needs to make a single colour SVG of their logo available for when users need a docker icon or to display the docker logo at a small size.

Also note how many people ask asking for this here:

https://github

[2015-12-09 14:42] thaJeztah commented on #18528
@cpuguy83 ah, you're right; looks like a duplicate of https://github.com/docker/docker/issues/17262, and the issue tracking this at redhat https://bugzilla.redhat.com/show_bug.cgi?id=1274210

Not sure if it's resolved though seeing that that one was closed as "not a bug"

[2015-12-09 14:43] thaJeztah commented on #18528
Also this one; https://github.com/docker/docker/issues/17240

[2015-12-09 14:54] leommoore commented on #18264
It gives a poor impression of Docker Inc's values.

[2015-12-09 15:00] mishak87 commented on #12886
I would like to claim this one along with improvements to [ignore internals](https://github.com/docker/docker/blob/c6c4ae152ad029a8546e127de477b65bc0e05572/builder/dockerignore.go#L27-L28).

[2015-12-09 15:02] ThomasChambonDev opened #18537 "Commands not found during launch of Docker QuickStart Terminal (zsh)"
I installed the Docker toolbox, and it went fine (note : it skipped the "VM" step).

But when I launch the Docker Quickstart Terminal, I get these errors :

/Applications/Docker/Docker Quickstart Terminal.app/Contents/Resources/Scripts/start.sh: line 14: clear: command not found
Creating Machine default...
/Applications/Docker/Docker Quickstart Terminal.app/Contents/Resources/Scripts/start.sh: lin

[2015-12-09 15:02] GordonTheTurtle commented on #18537
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-09 15:17] maxirus opened #18539 "Container's own hostname not set in /etc/hosts when using --x-networking"
#### Problem Description

When using the --x-networking switch to bring up a docker-compose, each container is unaware of it's own hostname. For example, if I have LOCAL/docker-compose.yml with service_a and service_b, service_b can ping service_a and vice-versa however service_b can NOT ping service_b. This is because the container's hostname is not being added to /etc/hosts, 127.0.0.1 local_serv

[2015-12-09 15:28] Snorch commented on #18529
After #16039 these tests run in different order. But I think adding separate daemon for TestPullImageWithAllTagFromCentralRegistry will protect global busybox from change. And TestRunGroupAdd should be fine.

Running command PASS, but order changed:
sudo TESTFLAGS='-race -test.v -check.f [(DockerSuite)(DockerHubPullSuite)].TestMYTEST*' make test-integration-cli

Do you know how to run these two te

[2015-12-09 15:31] polonskiy commented on #18535
I have removed one of those containers:
[code]
And then created it again:
[code]
It created with the same ip address (`172.17.0.119`)!

[2015-12-09 15:41] thaJeztah commented on #12886
thanks @mishak87

I'll ping @tiborvass here to check if this will conflict with upcoming changes in the builder, but feel free to ask him on IRC #docker-dev (he's "tibor" on IRC)

[2015-12-09 15:43] thaJeztah commented on #18529
The tests should be running in alphabetical order, so perhaps try renaming them

[2015-12-09 15:43] estesp commented on #18151
Just FYI for anyone looking at the problem, a smaller `Dockerfile` can easily reproduce:
[code]
All you really need is a lower layer dir create/existing and an upper layer putting files in the dir and then trying to remove.  Note that if you don't put files in the dir, the dir is not "promoted" to the upper layer and removal will work without error.

[2015-12-09 16:00] thaJeztah commented on #12886
@mishak87 I just chatted with @tiborvass and it should not be a problem w.r.t. upcoming builder changes. Be aware that there's no "final" decision made yet for this feature, so we can discuss and decide during "design review" of your PR.

One thing; I'd opt for not using a short flag (`-i`) and only the long one (`--ignore` or `--ignore-file`). We try to keep short flags only for frequently used o

[2015-12-09 16:00] rhatdan commented on #18528
It was closed as not a bug because SELinux code was handling this correctly.  Failing on non existing directory.

[2015-12-09 16:01] polonskiy commented on #18535
[code]

[2015-12-09 16:03] jfindley commented on #18528
Yep, I see that now - apparently this will fail for all volumes in docker 0.11+.  That's alarming as it will break all sorts of things, but this isn't the place to discuss that.

Thanks for looking at this everyone - closing the issue.

[2015-12-09 16:03] #18528 closed

[2015-12-09 16:05] thaJeztah commented on #18537
What version of OS X are you using? I think they changed to bash by default at some point, but not sure.

However, this issue is better handled in the Docker Toolbox issue tracker. Can you reopen that issue there? You can find the issue tracker here; https://github.com/docker/toolbox/issues. It may be worth searching for existing issues, possibly there's one already.

Thanks for reporting this, I'

[2015-12-09 16:05] #18537 closed

[2015-12-09 16:12] thaJeztah commented on #18539
Why not use `localhost` if you want the local service? Just wondering what the use case is here. Also, I'm not sure it'd be logical to use 127.0.0.1 for this, and not the IP-address of the container

[2015-12-09 16:20] thaJeztah commented on #18535
Hm strange.

Can you tell me how you use docker? Thinking if there could be a race condition somehow; are you spinning up many containers, using docker-in-docker? Anything special in your setup?

[2015-12-09 16:20] auzias commented on #18361
Got some news...

As the user root I cannot start graphical application. When I `su regular-user` and start `xterm` or `xeyes` it works. I don't really understand why though :/

[2015-12-09 16:28] stevegraham commented on #18264
@jamescun this is a function of trademark law. If Docker doesn't proactively protect their mark, they lose it.

[2015-12-09 16:29] polonskiy commented on #18535
Looks like some collision. Does ip address based on on container name?
I have removed (`docker rm -f con1`) one of those containers, then started another container with the **same name** (`docker run --rm -it --name con1 ubuntu sleep 100`) and it got `172.17.0.119` address.

[2015-12-09 16:37] maxirus commented on #18539
We have a use case for Hazelcast. When a Hazelcast node is brought up, it tries to join other nodes that are outline in it's config. If the hostname of the node is it's self, then it binds to that address whether it be localhost (127.0.0.1) or some RFC1918 address. However, since the hostname is not set in /etc/hosts, it fails to bind and thus the nodes won't join together as a cluster.

[2015-12-09 16:39] polonskiy commented on #18535
140 containers on host system. One of them using host network and contains nginx as proxy.
Multiple users frequently create & destroy containers.

[2015-12-09 16:42] polonskiy commented on #18535
Don't have any docker-in-docker.

[2015-12-09 16:51] thaJeztah commented on #18535
Thanks for the additional information @polonskiy!

[2015-12-09 16:54] thaJeztah commented on #18535
ping @mavenugo @aboch care to have a look here?

[2015-12-09 17:01] Frogging101 commented on #6743
@aboch The built-in IPAM driver will support this, right? No need to write our own IPAM drivers to specify the IP address when running a container?

[2015-12-09 17:04] runcom commented on #18494
I think this wasn't in 1.8.x because there was no `docker volume` command back then

[2015-12-09 17:07] jamescun commented on #18264
@stevegraham "actively protect" does not mean direct to lawyers. Lawyers are for dispute resolution in the case of failure to resolve.

[2015-12-09 17:09] tobowers commented on #18414
hmm - we have a few m3.medium boxes (4gb of memory) as well. They are spiking on docker cpu usage too (new to 1.9.1). Our m4.large boxes (7gb of memory) seem unaffected by our upgrade to 1.9.1

[2015-12-09 17:10] cpuguy83 commented on #18494
Named volumes existed in 1.7.

The reason this is in Binds is because the API accepts named volumes from binds.
I'd prefer to leave it unless we really fix the issue in the API and provide a mechanism to give a named volume in some other way (HostConfig.Mountpoints???).

tbh, I hate that HostConfig.Binds is implemented as it is in the API.

[2015-12-09 17:11] cpuguy83 commented on #18414
@thaJeztah Sounds eerily similar to the boot2docker issues with 1.9.x, no?

[2015-12-09 17:12] auzias commented on #18361
This issue is resolved and can be closed.

[2015-12-09 17:15] thaJeztah commented on #18414
@cpuguy83 Yes, but the original report at the top uses both a different version of docker *and* a different kernel version, so, idk, open to suggestions though.

For reference, this is the issue @cpuguy83 is referring to; https://github.com/docker/docker/issues/18180

[2015-12-09 17:17] cpuguy83 commented on #18414
ah yes, this is 1.8.3.

[2015-12-09 17:24] thaJeztah commented on #18361
Thanks @auzias! Feel free to continue the discussion if needed; I don't think this is a docker bug, but it may help people trying this :+1:

[2015-12-09 17:24] #18361 closed

[2015-12-09 17:27] mavenugo commented on #18539
@maxirus we added an explicit check to avoid adding self into the `/etc/hosts`. I dont recall the scenario that forced us to do that. @mrjana might point us to the PR that brought in the change in libnetwork.

[2015-12-09 17:33] marius311 opened #18542 "Can ping but not connect to container running on the same network"
If I create a network and put a mysql server on it:

[code]

I can ping this container,

[code]

but not connect to the server,

[code]

The logs show the server is running, and in fact I can `exec` into the `mysql` container and connect to the server from its own container, so that's all fine.

An important point is I've got two machines with identical versions of Docker (`docker version` and `do

[2015-12-09 17:33] GordonTheTurtle commented on #18542
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-09 17:36] andrewgdavis commented on #18500
There is definitely an overlap between vanilla 4.1.12/13 and ubuntu 4.2.0-18.22/-19.23... https://git.launchpad.net/~ubuntu-kernel/ubuntu/+source/linux/+git/wily/log/

Are you running on AUFS?

[2015-12-09 17:36] mavenugo commented on #18535
@polonskiy thanks for the info. It does look strange.
When you remove and recreate the container, the IPAM reuses the freed IP. Its understandable that we see the same IP being used again. But, it is strange that IPAM is reusing an IP that is currently being used.  If you launch more containers, do they get newer ip-addresses properly ?

@aboch can you think of anything that could lead to this sit

[2015-12-09 17:44] Benjamin-Dobell opened #18543 "docker run -i -a stdin hanging"
I've just updated to the latest Docker (1.9.1) and `docker run -a -a stdin <image> <command>` is hanging 100% of the time on my machine.

Docker prints the container ID and the container shuts down when the command completes, but the docker process itself hangs around. This is breaking a *lot* of scripts.

I'm assuming this is a somewhat isolated case, because imagine this would cause huge problem

[2015-12-09 17:44] GordonTheTurtle commented on #18543
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-09 17:50] brianbianco commented on #18113
I have this problem intermittently as well.

[2015-12-09 17:53] Benjamin-Dobell commented on #18543
[code]

[code]

uname -a, as provided above:
`Linux uat 3.13.0-71-generic #114-Ubuntu SMP Tue Dec 1 02:34:22 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux'

Reproduction is literally execute:

    docker run -i -a stdin <image> <command>

with any image and any command. As mentioned above, after the command finishes the container stops running and the container ID is printed as expected, but the Docker

[2015-12-09 17:59] Benjamin-Dobell commented on #18543
Interesting, if input is provided, in the form of:

    echo "Some input" | sudo docker run -i -a stdin <image> <command>

Then the command returns as expected. Was this a recent change, is this expected behaviour now?

[2015-12-09 18:10] aboch commented on #6743
@Frogging101
Yes, the built-in IPAM driver will honor the preferred IP option specified by the user.

[2015-12-09 18:15] tiborvass opened #18544 "Flaky test: TestExecTTY"
[code]

This was in `userns`, but it doesn't seem to be related to userns features.

Seen in #18472: https://jenkins.dockerproject.org/job/Docker-PRs-userns/3277/console

[2015-12-09 18:15] GordonTheTurtle commented on #18544
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-09 18:22] aaronlehmann commented on #16599
I believe this is fixed by https://github.com/docker/docker/pull/18479

[2015-12-09 18:24] aaronlehmann commented on #17473
See also https://github.com/docker/docker/issues/18544

[2015-12-09 18:27] aboch commented on #18535
@polonskiy
By any chance, are you starting your daemon with the `--fixed-cidr` flag ?

From the inspect o/p it does not seem this is the case, but do you remember if you did before moving to 1.9.1 ? (There is a related issue https://github.com/docker/docker/issues/18145 and the fix will be available in 1.9.2)

[2015-12-09 18:27] fiunchinho opened #18545 "Automated build fails on DockerHub with no errors"
Hi! I've successfully created automated builds on Dockerhub before, but something is going on with a new repository. It always fails trying to build the image. You can see the history of builds here https://hub.docker.com/r/schibstedspain/turbine-hystrix-dashboard/builds/, and the output says nothing about the error, so I have no idea why this is failing.

Output

[code]

[2015-12-09 18:27] GordonTheTurtle commented on #18545
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-09 18:38] aboch commented on #18527
@Soulou
If your system is still in this state, can you please post the o/p of:
strings /var/lib/docker/network/files/local-kv.db

[2015-12-09 18:48] mrjana commented on #18539
@maxirus `127.0.0.1` will only be resolved by the standard string `localhost` or `localhost.localdomain`. If you want to resolve self you need to add an explicit `--hostname` argument in your `docker run` command and we add an entry in `/etc/hosts` file for that host name to point to the IP address of the container. If you did not provide the `--hostname` option container ID is used for creating t

[2015-12-09 18:49] Soulou commented on #18527
The system is not in the state but I can reproduce it super easyly @aboch output is coming.

[2015-12-09 18:50] timthelion commented on #18361
FYI, the [subuser](http://subuser.org) project deals with this issue. If you want to copy scripts from us, you can find the xauth setup code here: https://github.com/subuser-security/subuser/blob/b175efadbaaeceabe2e693666a458ff2cebf66e7/logic/subuserlib/classes/subuserSubmodules/run/runtime.py#L220

[code]

What this code does is it runs `xauth extract` on the host to get a valid xauth cookie file

[2015-12-09 19:04] Soulou commented on #18527
[output.txt](https://github.com/docker/docker/files/57223/output.txt)

Output is attached to the post

[2015-12-09 19:11] mohsen1 opened #18547 "Add `docker whoami` command"
Following [npm](https://docs.npmjs.com/cli/whoami) convention a `docker whoami` will be helpful for figuring our which account is logged in if any.

[2015-12-09 19:11] GordonTheTurtle commented on #18547
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-09 19:43] cpuguy83 commented on #18545
Hello.  Thanks for reporting.
Unfortunately we can't be much help here as this repo is for Docker engine, however if you can send to https://support.docker.com that would help a lot.
Thanks!

[2015-12-09 19:43] #18545 closed

[2015-12-09 19:43] cpuguy83 commented on #16599
Woohoo!

[2015-12-09 19:43] #16599 closed

[2015-12-09 19:48] cpuguy83 commented on #18543
What if you don't do `-a stdin`?

I'll have a look at this to see what might be causing it.
The command should not hang waiting for stdin.

[2015-12-09 19:50] thaJeztah commented on #18539
There's also `--add-host=hostname:ip-address`, which will add an entry to the host file; see https://docs.docker.com/engine/reference/commandline/run/#add-entries-to-container-hosts-file-add-host

[2015-12-09 19:52] polonskiy commented on #18535
@aboch

I have never used that feature.

@mavenugo

Experiment:

[code]

[2015-12-09 20:22] estesp commented on #18151
This can be reproduced simply with `unshare` (to get a shell inside a user namespace) and `mount` with a kernel enabled for overlay fs.  Please see this gist for full details: https://gist.github.com/estesp/7f0ba4ca152ac5c4bfac

Bad news is I don't know the fix yet, but I assume when we figure it out it will be upstream kernel related, and nothing we can fix directly in Docker.  @LK4D4 any ideas?

[2015-12-09 20:45] nigelpoulton commented on #18298
Right so I also love the response and detail - wowzers!

But I do worry about getting too much into the weeds in technical docs like these... it can be a rabbit hole and we can end up creating a beast.

Don't get me wrong.... the feedback and detail of the suggestions are great.  But the docs then become harder to consume, harder to keep up to date, harder to vet and verify etc. And before we know

[2015-12-09 20:52] anacarlagb opened #18551 "The specified user settings file does not exist: /settings.xml"
I'm starting docker, so I create a docker image to my application that it's using image maven to. (FROM maven). But my problem is when run maven install  that call settings.xml with  username and  password of .m2/repository, but on this step it's throw these ERROR:
[ERROR] The specified user settings file does not exist: /settings.xml
The command '/bin/sh -c mvn install --settings settings.xml -Ds

[2015-12-09 20:52] GordonTheTurtle commented on #18551
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-09 21:09] crania commented on #18469
Having a similar issue on 1.9.1 - no auth on the PATCH so a push dies off.

[2015-12-09 21:09] calavera commented on #10867
both. Users can remove all images with `docker images -q | xargs docker rmi -f`.

[2015-12-09 21:24] thaJeztah commented on #11053
@tfoote is this still an issue, now that https://github.com/docker/docker/pull/16890 has been merged (docker 1.9.x)?

[2015-12-09 21:32] thaJeztah commented on #10867
@calavera yup, I always thought that'd be ok, but for many people it looks like that is causing issues, because it's racy; See this thread, and for example this comment (and some others before/after)    https://github.com/docker/docker/issues/928#issuecomment-146929432).

[2015-12-09 21:36] LK4D4 commented on #18151
@estesp You can try to take a look at dmesg also. However I have no idea what's going on, we can debug kernel, but I'm not sure that we should.

[2015-12-09 21:41] ibuildthecloud commented on #18370
+1 Just experienced this myself.  It would be nice if migration was a background task where if needed the migration will happen on demand if the image needs to be used now.

[2015-12-09 22:01] tianon commented on #18180
Just tested `Storage Driver: devicemapper` (with `Server Version: 1.9.1` and kernel 4.2.6), and the bug does _not_ reproduce, so we're still in "strange interaction between some change in the newer kernel and the AUFS patches" land. :disappointed:

[2015-12-09 22:12] tianon commented on #18180
Tested, and bug is still present on the [fresh 4.1.14 kernel](https://lwn.net/Articles/667357/), so we're still sitting on some commit that was backported to 4.1.13 interacting weird with the AUFS patches (and didn't get lucky with it being already fixed in the interim).

[2015-12-09 22:14] andrewgdavis commented on #18180
I decided to give it the old college try and cloned the boot2docker repo; then modified the aufs commit in the dockerfile to the previous version.  So docker 1.9.1 kernel 4.1.13 + previous AUFS version that was previously shipped before 1.9.1.  Compilation is slow slow on my machine ...  is there a docker swarm setup that I can run in conjunction with a git bisect and aggregate the results?   that

[2015-12-09 22:26] tianon commented on #18180
I'm not aware of any easy setup to aggregate the results, although one could conceivably be built.

FWIW, https://sources.debian.net/src/ca-certificates-java/jessie/debian/postinst.in/ is the exact script that's running in that package, and https://sources.debian.net/src/ca-certificates-java/jessie/src/main/java/org/debian/security/UpdateCertificates.java/ is the exact Java source that's being exe

[2015-12-09 22:46] ibuildthecloud opened #18554 "Image ID changes after 1.10 upgrade"
If I have an image ID=X after 1.10 upgrade that ID become sha256:Y.  This causes issues with external systems (like mine) where the image ID just magically changed.  So handling and upgrade from 1.9 to 1.10 is going to be tricky.  Is there any way to avoid this?

[2015-12-09 22:46] GordonTheTurtle commented on #18554
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-09 22:47] LK4D4 commented on #18554
ping @tonistiigi

[2015-12-09 23:00] tonistiigi commented on #18554
@ibuildthecloud No, sorry. Generated IDs do not have any meaning in `v1.10`. We could store the mapping somewhere if that helps(although there are possible cases where 2 images become one). All tags and container IDs are preserved.

[2015-12-09 23:03] ibuildthecloud commented on #18554
@tonistiigi If they don't having any mean, why did they change?  Does that mean X is just as valid as sha256:Y?  Does this mean if I pull an image multiple times I will get a different ID or the same ID?

[2015-12-09 23:07] tonistiigi commented on #18554
@ibuildthecloud `X` is generated, `sha256:Y` is not. Old IDs don't have any meaning because they are gone and can't be used for anything. `sha256:Y` or `Y` are only valid IDs after `v1.10`. `sha256:Y` is very stable and doesn't change on pulls or different hosts.

[2015-12-09 23:22] thaJeztah commented on #18554
For reference, see this PR that introduced this change https://github.com/docker/docker/pull/17924

[2015-12-09 23:24] estesp commented on #18151
@LK4D4 yeah, each time I looked for any possible output in dmesg, but seems this isn't hitting any output from the overlay fs driver (or any layer of the fs for that matter) as there is no output when this happens.

Agree that I'm not sure we want to debug the kernel, but seems like we have enough detail to report this somewhere upstream?

[2015-12-09 23:29] ibuildthecloud commented on #18554
Ok, didn't hurt to ask.

[2015-12-09 23:29] #18554 closed

[2015-12-09 23:33] thaJeztah commented on #18551
Is the settings.xml file actually added to the image somewhere? I see `ADD . /usr/src/` which adds files to the `/usr/src/` directory, but `mvn install` seems to be looking for a file in the root directory.

Perhaps provide the full path (`--settings=/usr/src/setting.xml`) or adding a `WORKDIR /usr/src/` before that step would work?

I don't have experience with maven, but keep in mind that adding

[2015-12-10 00:03] ntquyen opened #18556 "Docker Automated Build with tag not working with Bitbucket"
I have setup Docker automated build to linked with my private Bitbucket repo and try to trigger the build with default setting as "Branch". It works fine, even with automatically trigger by pushing changes to Bitbucket. But it doesn't work with tag. It doesn't trigger when I pushed a tag to Biubucket. Below is what I did:

1. In Docker Hub repo, tab "Build Details",  Tag Name set as `/^[0-9.]+$/`

[2015-12-10 00:03] GordonTheTurtle commented on #18556
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-10 00:46] calavera commented on #18556
Hi @ntquyen!

I'm very sorry you're having issues with Docker Hub. Unfortunately, this is not the best place to redirect questions about automated builds.

Please feel free to contact support, they have more expertise about Hub and automated builds and they'll be happy to assist you:

https://support.docker.com/hc/en-us/restricted?return_to=https%3A%2F%2Fsupport.docker.com%2Fhc%2Fen-us

I'm going

[2015-12-10 00:46] #18556 closed

[2015-12-10 00:48] calavera commented on #18547
I'd rather not do this. The registry configuration is stored in the client, so something as simple as `cat ~/.docker/config.json` will give you the answer you're looking for.

[2015-12-10 00:51] jeffjohnston commented on #9889
@thaJeztah That link fixed my issue too. I could clearly see that adding things to /etc/sysconfig/docker was not doing anything but I wasn't really sure the best way to fix it.

Is there anyone I could notify to let them know the docs are wrong on this page:
https://docs.docker.com/engine/articles/configuring/

Or at least put in a link for systemd (Red Hat) installs so others can figure it out fa

[2015-12-10 00:52] calavera commented on #18526
Hi @zopyx!

I'm very sorry you're having issues. Unfortunately, we cannot assist you when a vendor modify and ships a different version of docker, because we don't really know their reasoning for those changes.

I'm sure you'll get more help if you contact RedHat directly. I'm going to close this issue so other maintainers don't get dragged into it.

Cheers,
David

[2015-12-10 00:52] #18526 closed

[2015-12-10 01:02] mohsen1 commented on #18547
Well, I for one didn't know I can do that. Other benefit of `docker whoami` is that you can easily use it in scripts.

[2015-12-10 01:06] HackToday commented on #18407
check your related jvm if quite same version for the two hosts ? seems your program java.lang.NoSuchMethodError.

Did such container cogniteev/oracle-java:java8 not have requirements for host?

[2015-12-10 01:08] calavera commented on #18424
It looks like this has been fixed already by #18425. Closing this issue :tada: :space_invader:

[2015-12-10 01:08] #18424 closed

[2015-12-10 01:35] kujiy commented on #735
@avirshup Is Docker-Make a tool like [docker-compose](https://docs.docker.com/compose/) for making a docker image?

[2015-12-10 02:01] sfjro commented on #18298
Nigel:

	:::

Yes, I understand that.
The level how deep to describe the technical details is depending upon
which people the documents are for. It is good to distinguish the design
document and the users manual. The performance matter may exist between
them, especially when we describe the technical background.

Also the configuration as a recommendation from me may not be an option
for the users

[2015-12-10 02:02] coolljt0725 commented on #18543
@cpuguy83  https://github.com/docker/docker/blob/master/api/client/hijack.go#L52
`io.Copy(resp.Conn, inputStream)` will not return even if the `hijack connection` is end, so `close(stdinDone)` never happen, if we only `-a stdin`, https://github.com/docker/docker/blob/master/api/client/hijack.go#L63 will block forever, so this go routine keep running. And if we attach `-a stdout` or `-a stderr` (wh

[2015-12-10 02:26] leejansq commented on #18423
@vdemeester ; You know me![](https://assets-cdn.github.com/images/icons/emoji/unicode/1f61d.png)

[2015-12-10 02:28] leejansq commented on #18423
@vdemeester ;You know me...

[2015-12-10 02:54] ibrt commented on #12997
A pretty compelling use case for .env files is storing encryption keys outside of a code repository. Not being able to include new lines in values means being unable to store PEM encoded RSA keys without implementing some hackish workaround as described above. Moreover, this is inconsistent with the "environment:" section of a Docker compose YML file, where "\n" is actually replaced by a new line.

[2015-12-10 02:55] ibrt commented on #12997
If you are worried about backwards compatibility, a possible solution would be to add a new ".env2" file format which supports quotes and new lines.

[2015-12-10 03:50] cpuguy83 commented on #18543
Yep, seems so -- add that to on the daemon + tls connections, CloseWrite is never called on the stdin stream because tls conns don't implement CloseWrite.

[2015-12-10 04:28] larsks opened #18558 "Leading slash on image name causes confusion"
I have recently upgraded from docker 1.8.2 to docker 1.9.1.  I notice that docker seems to have changed the way it names images.  Previously, when building an image with:

    $ docker build -t larsks/someimage .

I would end up with:

    $ docker images | grep someimage
    larsks/someimage ...

But now I get:

    $ docker images | grep someimage
    /larsks/someimage ...

The problem with this

[2015-12-10 04:28] GordonTheTurtle commented on #18558
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-10 04:37] cpuguy83 commented on #14201
@megastef https://github.com/docker/docker/blob/master/daemon/logs.go#L47-L50
It encodes the streams with stdout/stderr headers when TTY is not set.
This is so the client can differentiate the streams.

[2015-12-10 04:46] areidyOTH commented on #17691
This problem occurs when the tables *'edge'* and *'entity'* in the SQLite database **/var/lib/linkgraph.db** contain records for a container name already but **/var/lib/containers** has no data for the corresponding containerid. I think it's caused by aee54863741fc3f012c423d1a445d1a6b687966a which was added to 1.9.0 to fix #17389

Previously, if you tried to start a container that had records in l

[2015-12-10 05:37] ahmetalpbalkan commented on #7671
Closing this for the sake of #15188.

[2015-12-10 05:37] #7671 closed

[2015-12-10 05:37] ahmetalpbalkan commented on #8283
Probably not so much needed. Closing.

[2015-12-10 05:37] #8283 closed

[2015-12-10 05:37] ahmetalpbalkan commented on #11262
Closing this for the sake of #15188.

[2015-12-10 05:37] #11262 closed

[2015-12-10 05:37] ahmetalpbalkan commented on #7669
Closing this for the sake of #15188.

[2015-12-10 05:37] #7669 closed

[2015-12-10 05:48] thedrow commented on #18264
At least they are being kind instead of bringing the usual "I'll sue your ass" attitude.
Still, what's up with that?

[2015-12-10 06:46] sgonzalezO commented on #18407
What I move from host to host is the docker image and then I run a container. If I'm not wrong, the jvm must be inside the container so it must be the same on both hosts.

I've also tried to make my image from ubuntu and them installed the oracle jvm8 with the same result.

Thanks.

[2015-12-10 07:08] mountkin commented on #18547
iirc the username of the current user is shown in the output of "docker info"

[2015-12-10 07:19] wenchma opened #18563 "NetworkSettings.IPAddress can only obtain ip addr from default bridge but not user-defined"
**Description of problem**:

When run `docker inspect -f '{{json .NetworkSettings.IPAddress}}' ...` , it can nly obtain ip addr from default bridge but not user-defined network.
Actually, the containers within user-defined network  have ip addresses.

**Steps to reproduce**:

    $ docker run -itd --name test1 --net net1 busybox sh
    6ab8c8a2663ba31a54ac50bdeb9f8c0fefddfc765e058d0ab194783ec1d6c7

[2015-12-10 07:51] appleboy commented on #15692
:+1: @deshka Your solution is working for me.

[2015-12-10 08:08] coolljt0725 commented on #18563
@wenchma  You should use `docker inspect -f '{{.NetworkSettings.Networks.net1.IPAddress}}` to get the user defined network ip address

[2015-12-10 08:24] wenchma commented on #18563
@coolljt0725 yep, you are right, but  NetworkSettings.Networks also has the default network info, I think it is duplicated with NetworkSettings.IPAddress. wdyt ?

[2015-12-10 08:33] coolljt0725 commented on #18563
@wenchma  It's used for backward compatibility.

[2015-12-10 09:08] hinnerk commented on #17865
@tiborvass do you need any help reproducing it?

[2015-12-10 09:09] auzias commented on #18361
Explanation on [root and GUI issue](http://unix.stackexchange.com/questions/118811/why-cant-i-run-gui-apps-from-root-no-protocol-specified#answer-118826)

[2015-12-10 09:11] melkamar commented on #18469
@thaJeztah
I did login to both addresses - with and without specified port. In my config.json file there are auth tokens for both as well.

The credentials are sent for *some* requests, which is why the image gets uploaded (I see the progress bar and have to wait some time) - but after the upload (POST request), a PATCH request *without* credentials is sent. (details in the issue body, *NginX's ac

[2015-12-10 09:28] bings commented on #17653
Hi, in the last days I see this again

[2015-12-10 09:37] PMarkovski commented on #18265
@scf37 make sure you run the second docker as pid 1 in the container. By this, the second docker will receive correct SIGTERM signnal and will stop correctly. When its stopped correctly it will not hang up the aufs folder of the container.

[2015-12-10 09:47] quanenmin opened #18567 "docker-registry:docker push 192.168.1.2:5000/hello-world"
docker version:Docker version 1.7.1, build 786b29d/1.7.1
docker info :
   Containers: 9
   Images: 55
   Storage Driver: devicemapper
   Pool Name: docker-253:0-262596-pool
   Pool Blocksize: 65.54 kB
   Backing Filesystem: extfs
   Data file: /dev/loop0
   Metadata file: /dev/loop1
   Data Space Used: 2.778 GB
   Data Space Total: 107.4 GB
   Data Space Available: 45.2 GB
   Metadata Space Used:

[2015-12-10 09:47] GordonTheTurtle commented on #18567
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-10 10:32] thaJeztah commented on #18539
@maxirus can you work with the suggestions mentioned above, would they solve your use-case?

[2015-12-10 10:33] bboreham commented on #3043
@mavenugo Weave doesn't specifically look at IGMP but it does let containers attached to the Weave network multicast to each other.

[2015-12-10 10:44] emsi commented on #3043
So you actually mean "braodcast"?

[2015-12-10 10:51] bboreham commented on #3043
Assuming @emsi meant that question to refer to Weave Net: multicast packets are transported to every host but only delivered to individual containers that are listening for them.  So somewhere inbetween.

[2015-12-10 10:51] awh commented on #3043
It behaves like a switch hierarchy without IGMP snooping enabled - we effectively compute an unweighted minimum spanning tree and use it to forward broadcast and multicast traffic. IGMP snooping is an optimisation which only has any effect on multicast applications that use IGMP subscriptions...

[2015-12-10 10:56] dreamcat4 commented on #3043
A part of multicast protocol (uPNP / bonjour / mdns) requires the sending
and receiving of broadcast packets to the 239.*** listen address. That is
the SSDP part

https://en.wikipedia.org/wiki/Simple_Service_Discovery_Protocol

On Thu, Dec 10, 2015 at 10:46 AM, Mariusz Woloszyn <notifications@github.com

[2015-12-10 10:57] sammyshj commented on #18355
Is anyone working on this issue currently? If no, I would like to work on it.

[2015-12-10 11:19] thaJeztah commented on #9889
@jeffjohnston we do have an open ticket for updating that section; https://github.com/docker/docker/issues/16770, and the Markdown documents for generating the documentation are in this repository; https://github.com/docker/docker/blob/master/docs/articles/configuring.md so if you're interested in creating a pull request :innocent:

[2015-12-10 11:28] mishak87 commented on #12886
@thaJeztah Thanks for the info, I will work on it over the next week.

[2015-12-10 11:31] thaJeztah commented on #12886
Awesome! Thanks in advance @mishak87!

[2015-12-10 11:37] thaJeztah commented on #17691
ping @tonistiigi ^^

[2015-12-10 12:00] falsecz opened #18568 "Why gelf logger trim leading spaces?"
in https://github.com/docker/docker/blob/master/daemon/logger/gelf/gelf.go#L99
[code]

We are using logstash and we would like to use [multiline filter](https://www.elastic.co/guide/en/logstash/current/plugins-filters-multiline.html) to group exceptions to one message based on leading spaces.

[2015-12-10 12:00] GordonTheTurtle commented on #18568
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-10 12:06] thaJeztah commented on #18543
@cpuguy83 you're working on this? Should it be marked as "bug"?

[2015-12-10 12:08] bfirsh commented on #12265
@poelzi @stevenschlansker @corradio Are you still seeing this issue?

[2015-12-10 12:13] thaJeztah commented on #18407
What happens if you build the image directly on the failing host (i.e. don't use save/load)? I also see the failing host is using a different docker version (1.8.2 vs 1.8.3), also overlay vs devicemapper.

[2015-12-10 12:13] errnoh commented on #18151
Tested this on three different machines using the Dockerfile from @estesp

tl;dr: fails on both xfs and extfs when using overlayfs

First: overlayfs and xfs:
[code]
Second: overlayfs and extfs:
[code]

Third: devicemapper
[code]

[2015-12-10 12:18] thaJeztah commented on #18558
Also related https://github.com/docker/docker/pull/18524 ?

[2015-12-10 12:20] thaJeztah commented on #18558
On second thought; Is this a vanilla docker version, or a version distributed by Red Hat? Can you add the information that @GordonTheTurtle mentioned above?

[2015-12-10 12:40] thaJeztah commented on #18567
Please keep in mind that GitHub isn't a general support forum. This is an issue tracker for Docker bugs,
features and pull requests. Please take this into account when opening an issue.

This isn't a Docker bug, this is a question which is more appropriate for
1) the forums: https://forums.docker.com/
2) the docker-user mailing list https://groups.google.com/forum/#!forum/docker-user
3) the #docke

[2015-12-10 12:40] #18567 closed

[2015-12-10 12:41] sammyshj commented on #11955
Is anyone working on this issue? I would like to work on this issue.

[2015-12-10 12:41] thaJeztah commented on #18355
@zelahi are you working on this?

[2015-12-10 12:44] thaJeztah commented on #18568
ping @mariussturm who should know :smile:

[2015-12-10 12:45] megastef commented on #14201
Thx. And the headers go then in here https://github.com/docker/docker/blob/master/pkg/stdcopy/stdcopy.go (if TTY is not set)

[2015-12-10 12:46] errnoh commented on #18151
So if I'm reading this right the problem is that we're trying to remove a file (directory) in lower filesystem of overlayfs. According to https://www.kernel.org/doc/Documentation/filesystems/overlayfs.txt this should be possible:

But for some reason this is not what happens.

[2015-12-10 12:49] megastef commented on #14201
One more question. How does it behave when somebody uses "docker exec -it" or the TTY flag changes for any other reasons? Do we have to check for each log line the container TTY status? This sounds like overhead (my current temporary solutions is to detect the header by the 3 zero bytes also a little overhead). Why not add always a header?

[2015-12-10 12:50] thaJeztah commented on #11955
I don't think someone is working on this, however, from a UX perspective, I'm a bit unsure, given that the `library/` is not shown in the output of `docker images`.

ping @dmcgowan for thoughts as well :smile:

[2015-12-10 12:52] thunderrabbit commented on #16829
This fixed it for me:

$ docker-machine restart default      # Restart the environment
$ eval $(docker-machine env default)  # Refresh your environment settings

via http://stackoverflow.com/a/32023104/194309

[2015-12-10 12:58] thaJeztah commented on #18563
Correct, these `NetworkSettings.IPAddress` is only there for backwards compatibility. Because the "old" networking only propagated this with the "bridge"/"default" network, we will only use that information. The `NetworkSettings.IPAddress` field will be removed in a future version, so you should use the new `NetworkSettings.Networks` for inspecting to be future-proof.

See this PR for more informa

[2015-12-10 12:58] #18563 closed

[2015-12-10 12:59] sammyshj commented on #11955
Thanks for looking into this @thaJeztah , #dibs
As @TomasTomecek commented, when we do something like `docker images library/busybox`, nothing shows up. However, the exit status is `0`.
When we do `docker images`, the `library/` is not shown in the output.
@dmcgowan Can you shed some more light on this?

[2015-12-10 13:00] errnoh commented on #18151
@estesp

Does https://github.com/docker/docker/pull/18505 fix the `Invalid argument` when running the Dockerfile from above
[code]

[2015-12-10 13:01] runcom commented on #18151
Too many code paths in `vfs_unlink` lead to `-EPERM` also :( @estesp agree we could  report this upstream and it's so easy to reproduce

[2015-12-10 13:04] sgonzalezO commented on #18407
I have tried building the image on the failing host, the same docker version and the same storage driver with the same result. As soon as I can I'll upload the java files you need to build the image so anyone can test the container.

Thank you very much.

[2015-12-10 13:12] thaJeztah commented on #18547
Yup, `docker info | grep Username` should give you this information. I'm also not sure we need to add this; it feels like a minor enhancement, and we'd still need to maintain it

[2015-12-10 13:30] cpuguy83 commented on #14201
You can't change the tty flag. There are no logs for exec.

No headers with tty enabled because it is a single multiplexed stream.

[2015-12-10 13:40] Assada commented on #16668
+1

[2015-12-10 13:42] mariussturm commented on #18568
Because in every other scenario it's just noise. Why should we transfer bytes without informations over the wire?
This multiline filter works when your input is a single file. On a network socket, where multiple sources can send data, how can this filter differentiate between two log lines from different containers, when they both start with a whitespace?

[2015-12-10 13:49] wenchma commented on #18563
@thaJeztah got it, thanks for your explanation :+1:

[2015-12-10 13:53] hjacobs opened #18569 "Docker client does not handle 401 Unauthorized response codes from registry correctly"
Docker (1.9.1) only checks for 401 HTTP status code on `GET /v2/` but it will not attempt authentication on later 401 status response codes. My use case: our registry needs to allow unauthenticated pulls (therefore will return 200 on `GET /v2/`), but it requires authentication on "push".

Docker client version: 1.9.1

Used registry: https://github.com/zalando-stups/pierone

Docker client will prin

[2015-12-10 13:53] GordonTheTurtle commented on #18569
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-10 13:54] hjacobs commented on #18569
[code]

[2015-12-10 14:00] thinkhy commented on #1996
+1 We need this feature to provide more granular control for building.

[2015-12-10 14:08] thaJeztah commented on #18563
@wenchma you're welcome, thanks for paying attention, it could've been a bug.

[2015-12-10 14:24] runcom commented on #18151
@estesp btw, I cannot reproduce with your gist, I'm getting Permission denied when trying to mount overlay in userns :/ I'm on fedora rawhide with kernel 4.4.0-0.rc4.git0.1.fc24.x86_64 (thought maybe latest kernel has some news....)

[2015-12-10 14:53] thaJeztah commented on #18569
Is this different from https://github.com/docker/docker/issues/17317 (I see you also commented on that issue). I also found these issues in the "distribution" repository; https://github.com/docker/distribution/issues/1028 and https://github.com/docker/distribution/issues/1230

[2015-12-10 15:12] dqminh opened #18571 "`docker inspect` in v1.10-dev doesnt show comment of an image"
Description of problem:
[code]

How to reproduce
[code]

Actual Results:
- comment is not displayed in image inspect output, but it's displayed in history

Expected Results:
- comment is displayed in image inspect output

[2015-12-10 15:12] GordonTheTurtle commented on #18571
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-10 15:18] hjacobs commented on #18569
@thaJeztah I guess it's the same, in general we need an issue "Docker does not handle HTTP status codes correctly" --- I think it's a broader issue of ignoring REST best practices (the Docker v2 upload procedure is weird: e.g. using a PUT without a body)  and only implementing the Docker happy case without a clear registry API spec and ignoring all existing specs (like HTTP).

[2015-12-10 15:23] estesp commented on #18151
@runcom: hrm..I wonder if unshare version + rawhide kernel have modified capabilities/function in some way.  I guess you could mount the overlay before entering the user namespace with `unshare`?  Might have to play with the flags some to get that to work..

[2015-12-10 15:25] runcom commented on #18151
sure I can, I will play again a bit but still no luck :(

[2015-12-10 15:31] ditikos opened #18572 "Problem with /dev/stdout"
docker version:
[code]
docker info:
[code]
uname -a:
[code]

When I run my container with
[code]
It logs on as root, where I can do an echo "hello" > /dev/stdout ok. But when I do the same as a user:
[code]
It says to me permission denied. Is there a workaround for this?

/dev/stdout points to:
[code]
while /proc/self/fd/1 points to:
[code]
which is a link nowhere to be found. Is there a workaroun

[2015-12-10 15:31] GordonTheTurtle commented on #18572
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-10 15:39] sameersbn commented on #18238
@matglas I am forwarding host port `10080` to container port `80`. 192.168.1.100 is the host ip, which means that to access the gitlab http interface I need to connect to port `10080` of the 192.168.1.100. As mentioned in the report i can access the http server at `http://172.17.0.1:10080` but for some reason (iptables i guess) the same does not work with 192.168.1.100 (ip address of my physical n

[2015-12-10 15:54] eliothxchan opened #18573 "'docker logs' does not update when there is an infinite loop"
Hey guys. Perhaps this issue is really niche and not useful to fix, or perhaps I'm just not correctly understanding the way the logs are updated, but I'm trying to write a python container that has a long-running script that I can use to generate some reports on a database once a week.

As such, there's an infinite loop in the code, and when I attempted to test it using docker logs, the logs are e

[2015-12-10 15:54] GordonTheTurtle commented on #18573
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-10 15:56] eliothxchan commented on #18573
docker version:

[code]

docker info:

[code]

uname -a:

[code]

[2015-12-10 16:14] zelahi commented on #18355
@sammyshj  go ahead and take this one =)

[2015-12-10 16:16] zelahi commented on #11703
ping @thaJeztah, @moxiegirl

[2015-12-10 16:26] LK4D4 commented on #18151
I'm not sure if it should be possible to mount it in userns. Just mount it outside - it should be same.

[2015-12-10 16:35] thaJeztah commented on #18569
The specs and registry are open source, so if you think there's changes to be made, I think the best location would be the https://github.com/docker/distribution/ repository. The current version of the specs are also located there; https://github.com/docker/distribution/tree/master/docs/spec

[2015-12-10 16:41] sammyshj commented on #18355
The dockerinit file is mentioned in [many files](https://github.com/docker/docker/search?q=dockerinit). Should all these references be handled and then the dockerinit file be removed?

[2015-12-10 16:50] thaJeztah commented on #11703
@zelahi I was able to fix that error by adding `apt-transport-https`, i.e.,

    RUN apt-get update && apt-get install -y apt-transport-https wget lsb-release unzip ca-certificates

However, then I got;

[code]

So probably the Dockerfile needs an update. I don't have experience with cfengine, but perhaps you can have a look at the install instructions; https://docs.cfengine.com/docs/3.5/getting-s

[2015-12-10 16:50] jeffjohnston commented on #9889
@thaJeztah Thank you for the link. I think I will attempt that this weekend.

[2015-12-10 16:55] LK4D4 commented on #18355
@sammyshj yeah, I think so

[2015-12-10 16:58] thaJeztah commented on #9889
That'd be awesome @jeffjohnston!

[2015-12-10 17:06] thaJeztah commented on #18571
ping @tonistiigi

thanks for reporting @dqminh

[2015-12-10 17:19] jerbia commented on #14233
@aanm - There is work being done with regards to command plugins for authorization purposes:
https://github.com/docker/docker/pull/15365

Some of the use cases mentioned in the 'generic command handler plugin' are redundant with the authorization plugins. Would probably make sense to extend the authorization plugin to include missing use cases, like the ability to modify response data.

[2015-12-10 17:32] aanm commented on #14233
@jerbia and regarding that part have you start working on any code or thinking beside this proposal?

[2015-12-10 17:44] jerbia commented on #14233
@aanm yes, work was done beside this proposal to check feasibility and implementation details. My current thinking is to include this work on top of the authorization plug-in so that there will be a common ground for command-handler plugins.

[2015-12-10 17:46] bboreham opened #18574 "Feature request: "started" event"
It looks from `monitor.go` that the "start" event is issued before attempting to run the process.  I would like to hear about containers that actually did start, i.e. after they have transitioned to the `Running=true` state.

Otherwise, it seems there is no reliable way to learn of all containers "already running or that start in the future".

Also it seems quixotic that a listener can see a "star

[2015-12-10 17:49] aanm commented on #14233
@jerbia awesome, do you have a link for that? That way I could start writing a plugin as you go.

[2015-12-10 17:57] jpblair commented on #16926
I experienced a similar issue on Windows that appears to have been resolved by converting everything from CRLF to LF.  A more descriptive error message would be useful.

[2015-12-10 18:01] roderickm commented on #17907
Reconciling the sometimes-competing objectives in UX can be difficult. We want intuitive, reliable interfaces while maintaining backward compatibility. The Principle of Least Astonishment may help guide the solution: users report being surprised by persistent volumes that are removed when using `run` with `--rm`, but we want to avoid surprising existing users by changing the behavior of existing d

[2015-12-10 18:02] thaJeztah commented on #16926
@jpblair unfortunately, that issue is in Linux itself, you'll have the same problem on a bare-metal Linux system when trying to run a shell script that has CRLF. I.e., it's not Docker specific

[2015-12-10 18:08] Soulou opened #18575 "Docker 1.9.1 - port forwarding stops working randomly, docker-proxy conn reset"
I've a container running since a few days:

[code]

Everything was alright when suddenly all the applications connected to the mongo instance stopped being able to reach the database.

Netcat returned directly the prompt

[code]

Let's have a look to tcpdump when running netcat:

[code]

From  this log, we can see that instantly the connection is finished by docker-proxy (which has bound the port

[2015-12-10 18:08] GordonTheTurtle commented on #18575
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-10 18:16] stevenschlansker commented on #12265
We certainly still have disk space issues, although it's not entirely clear what / why it remains a problem.  Since the opening of this issue we've transitioned to the `overlay` driver.

Concerns we still have:

* [Removing container filesystems is not reliable](https://github.com/docker/docker/issues/14474)
* [The graph system itself is not safe to use concurrently](https://github.com/docker/dock

[2015-12-10 18:20] Soulou commented on #18575
Actually stopping the container, removing it and recreating it again has no effect :(

[2015-12-10 18:25] everett-toews commented on #17271
@kacole2 I'd be interested to hear your thoughts on https://github.com/docker/swarm/issues/1529

[2015-12-10 18:28] Soulou commented on #18575
After restarting the container I get multiple entries in iptables, maybe a hint:

FIrst is the old one, second is the newly created container

[code]

[2015-12-10 18:32] Soulou commented on #18575
According to `docker network inspect` several containers got the same IP:

[code]

[2015-12-10 18:38] jerbia commented on #14233
@aanm sure. let me stabilize what I have so that it will work on environments other than my laptop.

[2015-12-10 18:45] maxirus commented on #18539
No, unfortunately these won't work as they all assume you know the hostname/ip of the container.

The hostname is variable based on the name of the directory the compose file is in as well as the service name. IP assignment is not static to a service so that will change as well. Using these suggestions adds another layer of (redundant) config when running a docker-compose.yml definition. What is t

[2015-12-10 18:48] jingweno opened #18576 "`docker login` requires running Docker daemon"
It doesn't quite make sense to require a running Docker daemon if I only want to login:

[code]

[code]

Even `docker version` asks for running deamon...

[2015-12-10 18:48] GordonTheTurtle commented on #18576
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-10 19:12] neuhausler commented on #13983
@coolljt0725 any thoughts about timeframe, when that function will be implemented and available in docker?

[2015-12-10 19:24] Soulou commented on #18575
Ok it seems that is the problem, docker is re-allocating IPs, the new iptables rules seem to mask the those from the first container with the IP, making it unreachable.

[2015-12-10 19:55] pkgw commented on #18558
I'll chime in and say that I see this issue, with resulting confusion, on a Red-Hat-provided docker. I’m pasting my info below.

A particular thing is that I can get in a state where `docker images` says that I have images named both `/foo` and `foo`. If I try to `docker rmi /foo`, it says that the image doesn't exist. If I `docker rmi foo`, first it deletes one image, then running it again delete

[2015-12-10 20:05] Soulou commented on #18575
Maybe related to https://github.com/docker/docker/issues/18535

[2015-12-10 20:08] Soulou commented on #18535
You'll have more details here #18575, that's exactly the same issue, I've closed to other to centralize the discussion here, looks pretty serious to me.

[2015-12-10 20:08] Soulou commented on #18575
Closed in favor of #18535

[2015-12-10 20:08] #18575 closed

[2015-12-10 20:39] lvangool opened #18578 "Build Error: Unable to build gem nokogiri from official ruby:onbuild image"
Description of problem:
Using a basic app that includes the nokogiri gem fails. The exact issue is reproducible on some servers (including this one). However it is not always a problem and the hypothesis is that this is related to using the overlay storage driver. This was raised in the nokogiri repo, but is more like a docker issue - see here: https://github.com/sparklemotion/nokogiri/issues/1370

[2015-12-10 20:40] dszryan opened #18579 "docker build issues with upstart"
Setting up libpam-systemd:amd64 (204-5ubuntu20.15) ...
invoke-rc.d: unknown initscript, /etc/init.d/systemd-logind not found.
dpkg: error processing package libpam-systemd:amd64 (--configure):
subprocess installed post-installation script returned error exit status 100

[2015-12-10 20:40] GordonTheTurtle commented on #18579
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-10 20:47] calavera commented on #18576
It actually makes sense if you know why this is a requirement ;)

`docker login` validates that the daemon can connect with the registry you're logging in to make sure it can pull and push images with your credentials.

`docker version` is similar, it gives you version information about the client and the server. It only displays client info when you're not connected to the server. You can use `do

[2015-12-10 20:47] #18576 closed

[2015-12-10 20:50] calavera commented on #18547
Indeed, plenty of options!

I'm sorry @mohsen1 but I think we should close this issue.

[2015-12-10 20:57] jingweno commented on #18576
@calavera Ah, gotcha! Cheers :) !

[2015-12-10 20:58] kacole2 commented on #17271
@everett-toews will post on your issue... but yeah... it's a bit annoying that there is a new volume created for every host on persistent detached storage.

[2015-12-10 20:58] mohsen1 commented on #18547
No reason to be sorry. I understand. Learned a bunch of command! :smile:

[2015-12-10 20:58] #18547 closed

[2015-12-10 21:03] wr0ngway commented on #12998
+1

[2015-12-10 21:03] GordonTheTurtle commented on #12998
*USER POLL*

*The best way to get notified when there are changes in this discussion is by clicking the Subscribe button in the top right.*

The people listed below have appreciated your meaningfull discussion with a random +1:

@wr0ngway

[2015-12-10 21:09] crania commented on #18469
Just an FYI - my issue on 1.9.1 was not related.  There was a LB in the path that was replacing the X-Forwarded-Proto such that any secondary requests were not being passed correctly in.

[2015-12-10 21:21] jkurz opened #18581 "parallel build RUN command"
how does a command like

[code]

Both of these commands would run on separate threads asynchronously.

sound to you all? I think it would be cool to be able to run commands and parallelize build time.

[2015-12-10 21:21] GordonTheTurtle commented on #18581
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-10 21:26] mrunalp opened #18582 "docker run -p <range> fails when the range is > 40 on Fedora 24 (rawhide)"
docker runc -p <range> fails when the range is greater than 40 on Fedora 24 (rawhide)

The docker version is upstream master.
[code]

[2015-12-10 21:26] GordonTheTurtle commented on #18582
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-10 21:44] stevvooe commented on #18569
@hjacobs After reading through some of the descriptions in other issues, it seems like you really need to consider token authentication, even when pulling as an anonymous user. This is what we do with the Hub and it allows for a number of complex workflows that involve authentication. It also provides a much better security model that doesn't rely on fragile method and url matching and conditional

[2015-12-10 21:59] Lindenk opened #18583 "Support for logging to a container/image and log forwarding"
As it is now, when starting docker, then docker containers, there is no easy way to send logs to a logging daemon running within a container. The container must be started before logs can be sent to it, of course, but any logs from that container, or others that must be started first, can't be sent to the container yet.

It's a sort of chicken and egg problem, really.

One solution would be to hav

[2015-12-10 21:59] GordonTheTurtle commented on #18583
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-10 22:09] hjacobs commented on #18569
@stevvooe thanks for the response, apparently my "flippant" (had to look it up) approach at least gave me a comment :smirk: --- I just always wonder why new products pop up in the Docker ecosystem while the core is still quite "brittle" (sorry, maybe this is considered "flippant" again).

We found a dirty workaround with multiple domains (one for push, default for pull) for us (for now), but at le

[2015-12-10 22:10] doozr opened #18584 "File contents inconsistent when volume is a vboxsf mount"
When using vboxsf to share a folder to a VM and that folder is mounted as a volume in a container, the contents of the files is inconsistent depending which program is used to view it.

BUG REPORT INFORMATION

Use the commands below to provide key information from your environment:

docker version:
Docker version 1.9.1, build a34a1d5

docker info:
Containers: 1
Images: 7
Server Version: 1.9.1
Stor

[2015-12-10 22:10] GordonTheTurtle commented on #18584
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-10 22:12] tt opened #18585 "Support `FROM <path>`"
Other issues (in particular [the proposed `INCLUDE` instruction](https://github.com/docker/docker/pull/12749) #12749) have suggested ways to avoid repetition and I too have an idea.

If the `FROM` instruction was extended to support a path, base images can be built on demand.

Whereas the `INCLUDE` instruction would effectively rebase layers onto a parent they weren't designed to work with, `FROM

[2015-12-10 22:12] GordonTheTurtle commented on #18585
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-10 22:13] friism commented on #18585
:+1:

[2015-12-10 22:15] mavenugo commented on #18535
@polonskiy thanks for the details. From the info that you shared, the issue seems to be `119` is incorrectly seen as an available address even though its being used. Can you stop `service1` and start it again followed by other services ?
I would like to see if it was a one-time thing or a permanent issue ?
Also, do you know if there any daemon restarts and `--restart-policy` involved in the reprod

[2015-12-10 22:33] MHBauer commented on #18573
You need to allocate a terminal with `-t`. Otherwise there is no stdout to print to.

[2015-12-10 22:40] stevvooe commented on #18569
@hjacobs General statements about "ignoring REST best practices" and unrelated things like `PUT` not having a body are simply not constructive on an issue tracker. The API is not even a REST API. Keep your comments topical and relevant to the issue at hand.

[2015-12-10 22:50] rbuckland commented on #18585
What about if the FROM <path> was  (perhaps in addition to ./ ) ..

``file://`` or ``http://`` or ``https://``

[2015-12-10 22:52] #18498 closed

[2015-12-10 23:10] nathanleclaire commented on #18584
Isn't it more like a VBox SF bug than a docker bug?  If same results can't be duped with normal (native Linux) mount, maybe it should be filed in Oracle bug tracker instead?

[2015-12-10 23:15] icy commented on #13052
I got the same issue with Docker-1.8.3 and Ubuntu Trusty

[2015-12-10 23:21] doozr commented on #18584
Maybe, but Docker volumes are the only scenario I can find where this
happens.
On 10 Dec 2015 23:12, "Nathan LeClaire" <notifications@github.com> wrote:

[2015-12-10 23:29] calavera commented on #17559
#dibs :metal:

[2015-12-10 23:31] eliothxchan commented on #18573
Yeah, I do so when I build the container. I'll update the OP with my build command as well.

[2015-12-10 23:35] vrastogi commented on #11284
Ok, I see this is documented, but is there a way to do the linking behavior, i.e., exposing ports to the linking container, but without exposing the environment?

[2015-12-10 23:41] runcom commented on #17559
+1 to finally have this then and later add support to configure registries :)

[2015-12-10 23:43] thaJeztah commented on #11284
@vrastogi in docker 1.9 you can use the new "network" feature. If you create a custom network and connect your containers to that (`--net=mynetwork` or `docker network connect mynetwork mycontainer`), then containers can reach each other by the name of the container. Only containers in the same network can reach each other.

It's not a full replacement for links yet, because currently there's no "

[2015-12-10 23:57] falsecz commented on #18568
@mariussturm You can use [stream identity](https://www.elastic.co/guide/en/logstash/current/plugins-filters-multiline.html#plugins-filters-multiline-stream_identity) to differentiate streams, for eg container_id key

[2015-12-11 00:30] runcom commented on #18494
@cpuguy83 so right now if I want to know if someone used `-v volumename:/path` I just need to make sure `volumename` isn't `Abs` (in `Binds`)?

[2015-12-11 00:50] drocsid opened #18588 "docker removing container image repo name after 5 or so minutes. v1.9.1"
docker version:
`docker --version Docker version 1.9.1, build a34a1d5-dirty`

docker info:
[code]

uname -a:

[code]

Provide additional environment details (AWS, VirtualBox, physical, etc.):
[code]

List the steps to reproduce the issue:

[code]
Describe the results you received:
[code]
Describe the results you expected:
[code]
Provide additional info you think is important:

<detail>
I removed a

[2015-12-11 00:50] GordonTheTurtle commented on #18588
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-11 00:55] MHBauer commented on #18573
I do mean with `run`. Gotta have a tty to have somewhere to print to, as I understand it.

[2015-12-11 01:05] thaJeztah commented on #5113
@aaronlehmann should this be resolved now that #18353 is merged?

For people that want to test that; builds from master are available at https://master.dockerproject.org for testing

[2015-12-11 01:08] aaronlehmann commented on #5113
Yes, this can be closed.

[2015-12-11 01:15] mauricioklein opened #18589 "Container can't resolve address, even with valid DNS"
I'm facing a strange behavior in Docker.

After I upgraded my linux host kernel version to 3.13.0-71, my containers can't resolve the IP address.

I've made tests with the following images:

- busybox:latest
- rails:4.2.5

[code]

I've already restarted docker server daemon, restarted the machine and even reinstalled Docker, but the problem persist.

Running with DNS option doesn't work either:

[

[2015-12-11 01:15] GordonTheTurtle commented on #18589
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-11 01:16] duglin commented on #18573
try running the container w/o the -d so the output goes to the screen and see if that works.

[2015-12-11 01:27] thaJeztah commented on #17271
Closing this in favor of https://github.com/docker/swarm/issues/1529, please continue the discussion there. Thanks!

[2015-12-11 01:27] #17271 closed

[2015-12-11 01:31] MHBauer commented on #18573
I'm gonna go with python output buffering until I see a counterexample.

[code]

Notice when the 'C-c' appears in the printed output.

[2015-12-11 01:34] #5113 closed

[2015-12-11 01:43] phemmer commented on #18581
Why not use the shell?

     RUN ( cd app1/; npm install ) & ( cd app2; npm install ) & wait

[2015-12-11 01:51] icy commented on #13052
Solved with `nsenter` https://github.com/jpetazzo/nsenter/issues/67

[2015-12-11 01:52] thaJeztah commented on #18585
Would the path point to a Dockerfile, or to a .tar file containing a base filesystem?

I know @duglin proposed using build-time args to support something similar, i.e.

[code]

and `docker build --build-arg baseimage=ubuntu:15.10 .`

[2015-12-11 01:53] icy commented on #13660
@peter-leonov How is it going? I can solve the problem with `Docker-1.8.3` and `nsenter` (https://github.com/jpetazzo/nsenter/issues/67)

[2015-12-11 01:56] coolljt0725 commented on #18574
I think we should add a `running` event when the container is started. it's easy to implement this, just add a log event in https://github.com/docker/docker/blob/master/container/monitor.go#L331

[2015-12-11 01:59] moxiegirl commented on #18439
This is just in the wrong place and was related to a disk error.

[2015-12-11 01:59] #18439 closed

[2015-12-11 02:01] duglin commented on #18585
so many things we could do....  :-)

[2015-12-11 02:02] phemmer commented on #18589
Really basic question, are you on a network that allows using custom name servers?
Do you have any existing iptables rules on the host which might be blocking?

[2015-12-11 02:07] phemmer commented on #18572
See #11462. It explains why this is happening.

[2015-12-11 02:26] londoncalling commented on #18282
@nathanleclaire, @moxiegirl, to review our meeting, and a status update on this:

* Before I rewrite/re-org these topics, I want to successfully install Docker without Docker Machine, then with Docker Machine on the 3 primary cloud platforms (Digital Ocean, AWS EC2, Microsoft Azure)

* I installed on all 3 platforms natively per their instructions.(SUCCESS)
* I installed a Digital Ocean "droplet"

[2015-12-11 02:55] londoncalling commented on #18282
@moxiegirl thanks for the info on how to get the AWS access key ID and secret key (http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSGettingStartedGuide/AWSCredentials.html)

[2015-12-11 03:59] mickael-kerjean opened #18593 "docker start ____ says "Error response from daemon: Cannot start container ____: Unable to setup mount point, neither source nor volume defined", after a reboot"
Hello,

After a hard reboot on centos,
[code]
 would trigger this strange error:
[code]
Firering a docker inspect, I went into some oddities:
[code]

There is nothing under the source field anymore? I had some intense time trying to retrieve the data which was still leaving under:
[code]
I assumed it worth trying to update it by:
[code]
and updating the MountPoints -> Source to the actual volume l

[2015-12-11 03:59] GordonTheTurtle commented on #18593
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-11 04:09] fsoppelsa commented on #18585
So I guess this could be useful only in dev, because how would this proposal of loading unverified `.tar`s match with the latest security requirements?

[2015-12-11 07:34] qq690388648 commented on #18589
Have you tried to use the <code>--dns</code> flag with your <code>run</code> command?

[2015-12-11 07:40] qq690388648 commented on #18588
Please reformat you issue with block mark <code>```</code>, it will look better.

[2015-12-11 08:00] polonskiy commented on #18535
@mavenugo `--restart-policy` is not used.

I've removed both containers (`rm -f`), `run` them again and problem is gone. I've not tried to stop & start them.

[2015-12-11 08:13] qq690388648 commented on #18582
How does you get the threshold 40?

[2015-12-11 08:43] qq690388648 commented on #18582
This might because your <code>docker daemon</code> started with wrong <code>--ip</code> flag, can you show your config for <code>docker daemon</code>?

[2015-12-11 08:48] qq690388648 commented on #18581
Sorry, but the Dockerfile syntax belongs to frozen features. You can see the roadmap of docker here: https://github.com/docker/docker/blob/master/ROADMAP.md

[2015-12-11 08:56] luebken commented on #17305
Well it's to late for the release notes. ;-) But a +1 for documenting the change itself somewhere. I also would like to learn more about the reasoning.

[2015-12-11 09:00] Stroppel commented on #18475
Hmmm seems no one can help here...

[2015-12-11 09:04] doozr commented on #18584
Also, given that Boot2Docker/docker-machine relies on VirtualBox it's likely to become a bigger issue. If it can be fixed in Docker then great. If not then it might have to be fixed in VboxSF or aufs.

[2015-12-11 09:14] pushshift commented on #5169
What's the current workaround for this?  Having some entrypoint script that destroys the sensitive ENV variables once the containers are linked?  My vote is for making this a critical security issue because, as @jlj eloquently demonstrated, sensitive ENV variables are easily accessible once they propagate to the linked containers.

I'd also think it would make sense to make it CLI option when runn

[2015-12-11 09:27] Soulou commented on #18535
In my case `--restart-policy` is no used either.

Stopping and starting them did resolve the problem. I had to remove the unreachable container, which is usually the first to get the IP

[2015-12-11 09:30] tt commented on #18585
@thaJeztah, my proposal is pointing to a Dockerfile which is then build using the same build context. That means it doesn't circumvent security initiatives. Everything that normally applies to a build (e.g. caching) will still apply.

Say you have Dockerfile.base and Dockerfile in your directory. If the latter includes `FROM ./Dockerfile.base` and you execute `docker build .`, that implies `docker

[2015-12-11 09:33] mariussturm commented on #18568
For consistency reasons we can remove the trim, the gelf driver should behave like any other log-driver in this regard. Joining lines by leading white-spaces should be possible with this even though I advise against doing so.

[2015-12-11 09:36] falsecz commented on #18568
Thank you!

[2015-12-11 09:42] Soulou commented on #18535
I've a server I've isolated where I can reproduce that any time, docker is just giving the same IPs again and again. If there are some additional information I can provide, please ask

[2015-12-11 09:43] polonskiy commented on #18535
`stop` & `start` works!
I have got the same issue right now.

[code]

[2015-12-11 09:48] Soulou commented on #18535
I confirm that stopping and starting (and not restarting) helps a little :-)

[2015-12-11 10:08] andwxh commented on #17653
This problem comes to me on **CentOS Linux release 7.1.1503 (Core)** with  **Docker version 1.9.1, build a34a1d5**. @crosbymichael 's workaround looks fine for me.

[2015-12-11 10:11] thaJeztah commented on #18585
@fsoppelsa I asked, because that would be the same as [is done for the base images](https://github.com/tianon/docker-brew-ubuntu-core/blob/3c355946fd5164da3f31063a5c5f249c826f7071/precise/Dockerfile#L2):

[code]

@tt I think a simple Makefile or shell script would be able to give you that, i.e. "Build base image, then build the image I build on top".

But agree with @duglin, there are many possibl

[2015-12-11 10:12] thaJeztah commented on #18568
I'll keep this issue open, it should be automatically closed when https://github.com/docker/docker/issues/18595 is merged

[2015-12-11 10:20] RobinUS2 commented on #1996
+1

[2015-12-11 10:32] tt commented on #18585
@thaJeztah, yes, it's certainly possible but it's something a lot of users will need to maintain for themselves. That's also repetition.

I didn't open this anticipating it to be implemented today, though, so I'm fine having more discussion to figure out if this solve the need of others and arrive at a design that could eventually be implemented when the moratorium is lifted.

[2015-12-11 10:33] thaJeztah commented on #5169
@pushshift you can use the new networking feature and put containers together in a network. In this network, you can reach other containers by their *name*. "Aliases" currently aren't supported, but is being worked on for 1.10. See https://docs.docker.com/engine/userguide/networking/dockernetworks/

[2015-12-11 10:49] mauricioklein commented on #18589
Hello!

No, I have no restrictions on my network, since it's a home network.

Also, it was working well a day ago. The problem started after I upgraded to the new linux kernel version.

And yes, I have ran with --dns flag on run, but the problem persist.

Thanks in advance for the support so far.

[2015-12-11 10:59] sheerun opened #18596 "Support COPY from other builds"
I know you are [reluctant](https://github.com/docker/docker/blob/master/ROADMAP.md#22-dockerfile-syntax) to accept changes to Dockerfile syntax, but this is important and needed feature.

This is simpler alternative for [nested](https://github.com/docker/docker/issues/7115) [builds](https://github.com/docker/docker/issues/7149), and extension of "[multiple FROM](https://github.com/docker/docker/is

[2015-12-11 10:59] GordonTheTurtle commented on #18596
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-11 11:36] shanhuhai5739 opened #18597 "How can I make.sh docker1.2.0 source code. I got some errors"
Env:
    Centos7
    Kernel：4.1.5-1.el7.centos.x86_64

[code]

[2015-12-11 11:36] GordonTheTurtle commented on #18597
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-11 11:42] jest commented on #17907
@roderickm proposition sounds reasonable to me

[2015-12-11 11:48] shanhuhai5739 commented on #18597
Oh, I see. thank you.

docker version: 1.2.0
uname -a: 4.1.5-1.el7.centos.x86_64
system: centos7 (openstack)

I want to make docker source code,  details result

[code]

[2015-12-11 12:03] ChaosEngine commented on #10294
I also have weird behavior from `docker build` when removing files with overlayfs driver on xfs.
Kernel: 4.1.12-gentoo-sources stable. Excerpt:

The image is build fine with overlayfs on ext4; just saying.

[2015-12-11 12:12] brunoborges commented on #18180
Got into this issue today.

Host environment: Linux lenovo 4.2.0-19-generic #23-Ubuntu SMP Wed Nov 11 11:39:30 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
Distro: Ubuntu 15.10
Docker Engine: 1.9.1
Docker Machine: 0.5.0 (04cfa58)

I am following the [network multi-host](https://docs.docker.com/engine/userguide/networking/get-started-overlay/) tutorial. Only difference is that I am playing with the [ora

[2015-12-11 12:22] thaJeztah commented on #18578
I know there as issues with overlay in combination with hardlinks an sockets, e.g. https://github.com/docker/docker/issues/12327, https://github.com/docker/docker/issues/12080. Not sure if that's involved here. (One of our maintainers sent a patch to fix that in the Kernel, but unfortunately, it didn't get much  traction yet https://lkml.org/lkml/2015/10/9/620)

[2015-12-11 12:24] thaJeztah commented on #18180
@brunoborges yes, that could be the same issue, see https://github.com/docker/docker/issues/18500#issuecomment-163334612

[2015-12-11 12:30] thaJeztah commented on #18581
Thanks for suggesting @jkurz, I'm going to close this issue for the reasons mentioned above.

[2015-12-11 12:30] #18581 closed

[2015-12-11 12:38] thaJeztah commented on #18597
I suggest reading the contributors guide, for example: https://docs.docker.com/opensource/project/set-up-dev-env/ (or start at the beginning, here: https://docs.docker.com/opensource/project/software-required/).

If you need help after reading those, feel free to ask for assistance in the #docker-dev IRC channel, which is meant for people that want to work on the code.

I'm going to close this iss

[2015-12-11 12:38] #18597 closed

[2015-12-11 12:44] mavenugo commented on #18535
@polonskiy @Soulou thanks again. since you reproduced it again, we would love to know more on the reproduction steps. Also it will help if you can run the daemon in debug mode (`-D`) and capture daemon logs.

[2015-12-11 12:46] Soulou commented on #18535
Actually I can reproduce it on a server in production with lots of containers, not sure I'll be able if I empty the server and restart the daemon, as the first occurence of the problem has been kind of random (it was working ok for at least 1 week) Without debug mode, there absolutely nothing weird in the logs, that's sure :)

[2015-12-11 13:00] phemmer commented on #18596
This sounds like #7115.
You mention nested builds in your description, but linked to a different issue, so I'm not sure if you're aware of #7115. It would be good to put your thoughts on that one.
I personally don't see much difference between the two.

[2015-12-11 13:12] sheerun commented on #18596
Actually it's the second link I've posted.

I think #7115 is more invasive in syntax, it is [hard](https://github.com/docker/docker/issues/7115#issuecomment-50057018) to [understand](https://github.com/docker/docker/issues/7115#issuecomment-55485296), doesn't solve  state of [multiple FROM](https://github.com/docker/docker/issues/13026), and [encourages coupling](https://github.com/docker/docker/i

[2015-12-11 13:17] phemmer commented on #18596
I still think it would be a good idea to post your comments there. The purpose of a proposal is to iron out any issues with its design. Creating a new proposal to change the design makes the issue hard to track.

[2015-12-11 13:20] sheerun commented on #18596
I want to hear from docker maintainers before inviting people here for +1 comments. I'll link to in in future.

[2015-12-11 13:24] radk0s opened #18598 "ker rmi"

[2015-12-11 13:24] GordonTheTurtle commented on #18598
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-11 13:24] stremlenye commented on #18180
@brunoborges just check your boot2docker.iso version – if it `1.9.1` you could try downgrade to [1.9.0](https://github.com/boot2docker/boot2docker/releases/download/v1.9.0/boot2docker.iso) and recreate your machine and pull images once again.
If you go this way, could you write a short report here?

[2015-12-11 13:25] #18598 closed

[2015-12-11 13:38] thaJeztah commented on #18572
I'll close this in favor of https://github.com/docker/docker/issues/11462, please continue the discussion there, or subscribe to that issue using the "subscribe" button.

Thanks @phemmer, was looking for that issue earlier :+1:

[2015-12-11 13:38] #18572 closed

[2015-12-11 13:43] thaJeztah commented on #18593
I wonder if this was caused by an unclean shutdown, and the changes weren't written to disk properly. You also mention "After a hard reboot on centos,"

[2015-12-11 13:44] lorenzvth7 opened #18599 "http: TLS handshake error from .. EOF"
I want to create my own private docker registry using selfsigned certificates. I'm working on CentOS7 on AWS EC2. This are the steps I followed:

Creating the certificate
[code]
As cname I gave: ec2-xx-xx-xx-xx.compute.amazonaws.com (external hostname of ec2)
Give the right permissions:
[code]

Creating and running my registry:
[code]
Now I'm tagging and pushing my image:
```docker tag ubuntu ec2-

[2015-12-11 13:44] GordonTheTurtle commented on #18599
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-11 13:47] thaJeztah commented on #18574
Don't forget that the diagram will also need an update :) https://github.com/docker/docker/blob/master/docs/reference/api/images/event_state.png

[2015-12-11 14:09] lmfmkos commented on #16941
Did not helped :(

[2015-12-11 14:28] byk0t commented on #16941
Use http instead of https in */etc/apt/sources.list.d/docker.list*. It helped me.

[2015-12-11 14:38] bfirsh opened #18601 "Image and container garbage collection"
It is an extremely common problem for Docker users to run out of disk space due to unused containers and images not being removed. In development, this can be an annoyance and confuse new users. In testing and production, it can be a critical problem. Anecdotally, we have heard of several users who have production systems go down due to Docker filling up their disks.

Docker should automatically r

[2015-12-11 14:38] GordonTheTurtle commented on #18601
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-11 15:00] pdxjohnny commented on #18596
+1 I also have the problem of needing to compile for a build to work. I took this idea from docker machine, what I do is have another dockerfile just to build a compiler then mount the source in it. Then I have my main dockerfile to put the binary in a container. This makes it impossible to do automated builds unless I want to leave the whole source and compiler in the production container. Well o

[2015-12-11 15:01] rhatdan commented on #18582
This is failing in the make test, so it is the default daemon setting within the test.  It could be a bug in Fedora Rawhide or the latest kernel.  But we are not sure what is going on.

[2015-12-11 15:16] vrastogi commented on #11284
@thaJeztah thanks, this is helpful to know.

[2015-12-11 15:30] rajasec opened #18602 "Docker container network drops intermittently"
With base Ubuntu 15.04, I've launched the 3 Ubuntu containers(14.04), I'm able to acquire the dhcp ip for each of the container. IP address, netmask and gateway seems to be correct. I'm able to reach the containers from external IP. But few minutes later one of the container's IP is not reachable. Other 2 are reachable..
Later one of the IP which was not reachable became active, other 2 are down..

[2015-12-11 15:30] GordonTheTurtle commented on #18602
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-11 15:39] #18568 closed

[2015-12-11 15:42] eliothxchan commented on #18573
Tried running it with the -t flag and it seems like it works. Thanks!

But it's odd, if I

1) Have the loop without the -t flag -> docker logs has no output
2) Have the loop with the -t flag -> docker logs has output
3) Don't have the loop without the -t -> docker logs has output

I'm not sure I quite understand why this happens, do you mind explaining?

[2015-12-11 15:59] bfirsh opened #18603 "[Proposal] Inject temporary secret files into build"
A common request is to be able to inject secret files into the build process and have them not end up in the built image.

For example:
- A user may be using RHEL and need to put their license key inside the container to install packages, but they don't want it to end up in the final image.
- A user may need to pass in their SSH agent/key to clone a Git repository, use a private Gem repo, use a pr

[2015-12-11 15:59] GordonTheTurtle commented on #18603
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-11 16:17] runcom commented on #18603
I have a patch which allows binds at build time https://github.com/runcom/docker/commit/16fe6c8ea50b463a7e5895724e041f61292dd399
related to https://github.com/docker/docker/issues/14080
Only bind mounts are allowed, it's pretty rough and it currently skip cache if binds are passed but can be thought and worked on :)

[2015-12-11 16:28] thaJeztah commented on #18568
Yay, merged! Thanks @falsecz, and @mariussturm for the quick change!

[2015-12-11 16:35] bfirsh opened #18604 "Logging driver plugins"
It should be possible for logging drivers to be external plugins, similar to how volumes and networks work.

This will allow people to write and update logging drivers without having to get them merged upstream and wait for a Docker release. It'll also allow users to write custom logging drivers for their infrastructure without having to build custom versions of Docker.

We will probably still wan

[2015-12-11 16:35] GordonTheTurtle commented on #18604
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-11 16:39] mrunalp commented on #18582
@qq690388648 The threshold is a rough value that I arrived at by testing.

[2015-12-11 16:45] sammyshj commented on #18355
The `dockerinit` file is also referenced in the file https://github.com/docker/docker/blob/master/daemon/container_operations_unix.go#L234
By removing the `dockerinit` file, all of these files also has to be modified. Can I know what the `InitPath` has to be modified into?

[2015-12-11 17:02] aboch commented on #18535
It could be related to https://github.com/docker/docker/issues/18145

[2015-12-11 17:03] jerryking58 commented on #17895
@thaJeztah nope, plz close it.

[2015-12-11 17:12] bfirsh commented on #12265
@stevenschlansker Thanks. You might want to watch this to keep an eye on latest updates with your 3rd concern: https://github.com/docker/docker/issues/18601

[2015-12-11 17:37] robbrockbank opened #18607 "[Question] Is it possible to create an IPv6 network without specifying a subnet?"
I've written a network and IPAM plugin and am wondering if it is possible to create an IPv6 network without specifying a subnet.

I can't see a way to specify on the `docker network create` command that the network is IPv6 enabled without specifying an IPv6 subnet.  Compare this to the IPv4 case where it is not necessary to specify an IPv4 subnet.  Are there any plans to specify the IP version on

[2015-12-11 17:47] aytawn opened #18609 "BitBucket Integration Setup Not Working if Logged In"
The "Link Bitbucket" button on https://hub.docker.com/account/authorized-services/ works properly if you are not already logged in to Bitbucket. However if you ARE logged in it just pops open a new window with the same page.

The temporary workaround is to log out of Bitbucket first, but clearly this is a bug that you might want to address.

[2015-12-11 17:47] GordonTheTurtle commented on #18609
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-11 17:48] estesp commented on #18448
@HackToday I'll be working on updating the docs with the proper specifics about each type of namespace and its compatibility with user namespaces or not. Sorry for the slow response, but I've been doing some investigation/reading this week to make sure we get this right.

There is also some hope that as the kernel features underlying this capability mature and our code in runc/libcontainer is upda

[2015-12-11 18:06] LK4D4 commented on #18355
@sammyshj InitPath shouldn't be needed after removing.

[2015-12-11 18:13] #16681 closed

[2015-12-11 18:31] jfrazelle commented on #18355
Ya the files I specified weren't obviously the only ones like I've said
before it's a deep rabbit hole in terms of things it touches and InitPath
is just another thing that removed by removing dockerinit ;) have fun

On Friday, December 11, 2015, Alexander Morozov <notifications@github.com>
wrote:

[2015-12-11 18:31] LK4D4 commented on #3694
@mrwacky42 Would you mind to try with master?

[2015-12-11 18:47] jfrazelle commented on #18355
The original file path was merely the only one not in docker/docker so you
might want to start w the PR to libnetwork ;)
THEN you can vendor that change into docker
THEN you can worry about all the other stuff dockerinit touches

On Friday, December 11, 2015, Jessie Frazelle <jess@docker.com> wrote:

[2015-12-11 18:55] sammyshj commented on #18355
Thanks for making things clear @jfrazelle . Working on it right now!

[2015-12-11 19:09] iwidanalage commented on #17691
We hit the same issue with 1.9.0. But deleting all containers was not an option for us. So did a  very hacky workaround by going in to modifying the record on the edge table using sqllite cli.

[code]

Hope this helps.

[2015-12-11 19:19] thaJeztah commented on #17895
Thanks @jerryking58!

[2015-12-11 19:19] #17895 closed

[2015-12-11 19:21] brunoborges commented on #18180
@stremlenye can you provide some steps on how to downgrade?

[2015-12-11 19:29] drocsid commented on #18588
It's already formatted with ```.

[2015-12-11 19:39] lidel commented on #15785
A temporary workaround for Docker 1.8 / 1.9:
https://github.com/jamiemccrindle/dockerception#18-permissions-error

[2015-12-11 19:40] munhitsu opened #18611 "docker build and docker-compose build will not reuse their caches"
Imagine that we build the same image on the same machine but multiple times. You would expect layer cache to be fully reused, so second identical build will pull everything from cache.

Interstingly `docker build` and `docker-compose build` will create unique layers (won't reuse cache from each other) every time a file is added (ADD/COPY)

Imagine simple Dockerfile:
[code]

All build methods will

[2015-12-11 19:40] GordonTheTurtle commented on #18611
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-11 19:47] thaJeztah commented on #12498
Moved to https://github.com/docker/docs.docker.com/issues/86

[2015-12-11 19:47] #12498 closed

[2015-12-11 19:53] munhitsu commented on #18611
docker daemon log after forcing docker_py/docker-compose to use API 1.21:

[code]

[2015-12-11 20:13] Sirupsen commented on #18604
@bfirsh yesss! \cc @kvs @burke @andremedeiros

[2015-12-11 20:14] LK4D4 commented on #18604
#18001 also

[2015-12-11 20:18] bahrmichael commented on #1996
+1

[2015-12-11 20:21] MHBauer commented on #18573
My guess is python sees stdout attached to a pipe and not a tty, so the output gets buffered. (probably a 4k page, so your output will *eventually* show up, but not for a while). Leave it go for a while.

A while = about seven and a half hours
"testeroni" is nine chars
9/4096 = ~455
455/60 = 7.58

[2015-12-11 20:22] andremedeiros commented on #18604
:tada: :confetti_ball:

[2015-12-11 20:28] eliothxchan commented on #18573
Jesus.

I see, that makes much more sense now - thanks a lot for your help!

[2015-12-11 20:28] #18573 closed

[2015-12-11 20:43] MHBauer commented on #18573
Just, to be clear, the first example ran python with `-u` for unbuffered output. I have no idea if that has any performance implications for your case, but it might be nice for testing.

[2015-12-11 21:26] rhvgoyal opened #18614 "docker inspect seems to be broken w.r.t graph drivers"
I create a container using devicemapper graph driver and when I run docker inspect on same container, I get the details of wrong device in the output.

For example I did `docker inspect c7bad1614839`, then at graph driver level I am getting Id `e15a048cd50243dc305c3713d20fa7d3743446e3ca464da3ae31adb9c9b37e3a' and this id does not belong to the container. This id belongs to an image.

Something see

[2015-12-11 21:26] GordonTheTurtle commented on #18614
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-12-11 21:27] rhvgoyal commented on #18614
cc @rhatdan @vbatts @runcom

[2015-12-11 21:30] thaJeztah commented on #18604
IIRC, there were concerns w.r.t performance if the drivers were external, is this still the case? I'm thinking were that discussion was, but there were some features that would arrive in Go 1.6? (Sorry, bit hazy on the details)

[2015-12-11 21:35] rhvgoyal commented on #18614
cc @dmcgowan

[2015-12-11 21:39] thaJeztah commented on #18603
If we allowed volumes during build, the volume could also use a volume-driver, thinking of the Keywhiz driver (I think I mentioned that in https://github.com/docker/docker/issues/13490)

[2015-12-11 21:40] thaJeztah commented on #18614
@rhvgoyal is this on master or 1.9.1?

[2015-12-11 21:46] thaJeztah commented on #18611
Thanks for reporting, looks like this is the same issue as reported here; https://github.com/docker/compose/issues/883. Most likely cause is a different implementation of the tar all generated by docker-py versus docker-client; https://github.com/docker/compose/issues/883#issuecomment-73271778

[2015-12-11 21:48] rhvgoyal commented on #18614
@thaJeztah this is on master branch. I suspect something to do with new layer code.

[2015-12-11 21:50] thaJeztah commented on #18614
Thanks, that's why is asked :smile:

ping @tonistiigi @aaronlehmann

[2015-12-11 21:51] rhvgoyal commented on #18614
I think following code is the suspect.

        graphDriverData, err := l.Metadata()
        if err != nil {
                return nil, err
        }

I think here `l` refers to rootfs of image of container and not the container himself. And that's why I see the data of container image and not the container.

[2015-12-11 21:55] mgenereu commented on #18264
The lawyers don't check with the company first.  They just pursue in automatic mode.

[2015-12-11 22:00] tonistiigi commented on #18614
@rhvgoyal What do you mean by " at graph driver level". Do you mean the `GraphDriver.Data.DeviceName`? RW layer for ID is not same as contain ID anymore, but it is not image ID either. It's just temporary random ID.

Are you sure it is the image ID? Can you reproduce always or only with this specific ID?

[2015-12-11 22:20] drocsid commented on #18588
It appears to be an issue created externally. My bad. Closing.

[2015-12-11 22:20] #18588 closed

[2015-12-11 22:26] thaJeztah commented on #18588
I edited it for you earlier :innocent:

Thanks for reporting back! Good to hear you resolved the issue :+1:

[2015-12-11 22:46] cjbottaro commented on #10589
Same issue with our own Cassandra 2.1.11 image (based on ubuntu:14.04).  It seems that something is causing it shutdown (we are surely not asking it to shutdown) and then hanging in the process of that.  Here's the end of `docker logs ...`:
[code]