[2016-09-13 12:48] justincormack commented on #26528
You are mounting a volume at `/run/secrets` which is
a path that does not exist, so Docker will make a `tmpfs` mountpoint.

Simpler reproduction is:
[code]

The reason you are mounting a volume is you are using a Red Hat patched version of docker which is doing this for you.

If you make the `/run` path in your image it will not be a `tmpfs`.

[2016-09-13 12:58] cpuguy83 commented on #26524
ping @mrjana

[2016-09-13 13:16] aboch commented on #26522
It looks like it was fixed by #25564

This issue can be closed.

[2016-09-13 13:18] #22965 closed

[2016-09-13 13:18] marcosnils opened #26529 "Docker engine default labels in swarm mode"
**Description**

IIRC Previous swarm and swarm mode RC's provided some default engine labels like Operating System / Arch / ExecutionDriver / StorageDriver / etc. Seems like that is not present anymore, swarm mode doesn't get any engine labels when initializing or joining a swarm

**Steps to reproduce the issue:**
1. `docker swarm init`
2. `swarmctl node inspect <node_id>`
3.

**Describe the resul

[2016-09-13 13:22] useltmann commented on #26528
@justincormack you are wrong:
[code]

also the `/run` folder exists in my image:
[code]
[code]

[2016-09-13 13:32] nyanloutre opened #26530 "Docker service rm does not clean properly the published ports"
**Description**

When I remove a service, the ports that were published by it are not properly removed from the iptables

**Steps to reproduce the issue:**
1. docker service create --name spark-proxy --network spark-net -p 8080:8080 -p 50070:50070 nyanloutre/spark-proxy (it's just nginx with custom config file)
2. curl http://localhost:8080 return the page
3. docker service rm spark-proxy

**Descr

[2016-09-13 13:35] thaJeztah commented on #23976
i'm assuming this is fixed, but ping me if this is still an issue and needs to be reopened

[2016-09-13 13:35] #23976 closed

[2016-09-13 13:39] alexellis commented on #25885
It would be worth trying. I checked with the guys at Pimoroni and they advised against using these interfaces claiming high latency.

[2016-09-13 13:41] alexellis commented on #25692
Now working.

[2016-09-13 13:41] #25692 closed

[2016-09-13 13:43] thaJeztah commented on #18756
I'm closing this issue because all issues reported here seem to either be an issue with mingw, docker toolbox / VirtualBox guest additions, or docker for windows; for issues with "docker for windows", please use the dedicated issue tracker: https://github.com/docker/for-win/issues. For docker toolbox, please use https://github.com/docker/toolbox/issues.

This is not a bug in the "docker engine", s

[2016-09-13 13:43] #18756 closed

[2016-09-13 13:44] shadjiiski commented on #26522
@aboch, thanks for the update!

[2016-09-13 13:44] #26522 closed

[2016-09-13 13:48] cpuguy83 commented on #26529
I think engine labels were set by docker-machine only?
Swarm doesn't set labels on the engine, these must be set as daemon options.

Node labels in docker engine swarm are different than engine labels. Node labels can only be set once the swarm is initialized and only from manager nodes.

[2016-09-13 13:51] thaJeztah commented on #9299
We just merged a pull-request that automatically sets `TERM` if `docker exec` is started with a tty (`-t`) https://github.com/docker/docker/pull/26461

This change will go into the next release (1.13)

[2016-09-13 13:55] justincormack commented on #26528
/run exists because the Red Hat version of Docker creates it. I suggest
testing on the upstream version to see how Docker is supposed to behave and
file an issue with Red Hat if their version is causing you an issue.

On 13 Sep 2016 2:23 p.m., "Ulf Seltmann" <notifications@github.com> wrote:

[2016-09-13 14:01] Fattaf opened #26531 "Docker compose does not remove properly networks & volumes"
Hey guys, didn't find similar issue in 10,000 requests, so sorry if duplicating.
But it seems like `docker-compose down` does not cleans networks and volumes.
It would be nice to have such thin, cause when you tring to build CI on docker-compose, you can find your self out of memory or else.

Docker version 1.12.1, build 23cf638
docker-compose version 1.8.0, build 94f7016

[2016-09-13 14:08] hervenicol opened #26532 "mkimage.sh : permission denied when rinse-building centos7"
Docker source tree at tag v1.12.1.

Running:
`./mkimage.sh -t centos7 rinse --pkgs-dir "$CURDIR" --distribution centos-7 --mirror="$CENTOSMIRROR"`

Fails at line 74:
`rm -rf "$rootfsDir/dev" "$rootfsDir/proc"`

with tons of such errors:
`rm: cannot remove '/var/tmp/docker-mkimage.CHjvLQR3Gs/rootfs/proc/sysrq-trigger': Operation not permitted`

The fact is `/var/tmp/docker-mkimage.CHjvLQR3Gs/rootfs

[2016-09-13 14:16] cpuguy83 commented on #26498
@bvis How is your healthcheck setup?
If it's still provisioning you can use exit code 2 and docker will treat that as "starting" rather than "unhealthy"

[2016-09-13 14:16] shrikeh commented on #19990
So I reread your solution and we're solving different problems. Essentially I don't want to mount a volume from the host. Here's the current composed stack:
[code]
Not shown above is a data container, `app`. `nginx01` and `php-fpm01` share the same data container. Not shown above is a `nginx03`/`php-fpm02` combo for administrators, with various tweaks allowing higher memory usage but less users, e

[2016-09-13 14:26] rawkode opened #26533 "Can't override ONBUILD build-arg"
I have a Dockerfile:

[code]

and it is extended by another:
[code]

which I build with `docker build -t tag --build-arg APP_NAME=myapp .`

Unfortunately I can't defer the binding of the build argument

[2016-09-13 14:35] michelvocks commented on #26531
First I think this issue is related to [docker-compose](https://github.com/docker/compose) and therefore does not belong to this repository.

To answer your question. `docker-compose down` should automatically remove all used networks. For volumes (also images) you can use the following parameters:

[code]

[2016-09-13 14:36] mlaventure commented on #25321
@beedub I'll take a look today, thanks for the ping!

[2016-09-13 14:41] marcosnils commented on #26529
@cpuguy83 previos swarm included some useful defaults as filters: https://docs.docker.com/swarm/scheduler/filter/#/use-a-constraint-filter

I might be confused but I believe the first releases of swarm mode also provided some system default labels that you can use as constraints to create your services. If this is not the case, I still believe this is super useful as many users end up tagging the

[2016-09-13 14:42] nyanloutre commented on #26530
The consequence is that if I try to recreate the same service afterward, the ports will not be accessible (impossible to access to nginx)

[2016-09-13 14:46] #24724 closed

[2016-09-13 14:52] vdemeester commented on #26533
/cc @duglin @tiborvass

[2016-09-13 14:52] thaJeztah commented on #20397
no, there's currently no switch to turn off that warning

[2016-09-13 14:58] mlaventure commented on #26495
@volnet overlayfs is normally only supported from kernel 3.18.x

You may also be hitting #10294 which is an issue when using overlayfs on top of XFS in CentOS7.1

[2016-09-13 15:00] duglin commented on #26533
I think we need to run the ONBUILD sub-command thru the env var substitution logic - but only for certain sub-commands (e.g. RUN doesn't get processed).

[2016-09-13 15:08] thaJeztah commented on #24107
@schmunk42 it's in docker 1.12.x with experimental features enabled

[2016-09-13 15:14] hekaldama commented on #25543
Should this be an issue filed with swarmkit or docker engine?

[2016-09-13 15:16] zjxpsetp commented on #26513
Hi, here is my dockerfile. And worked well in docker 1.6 - 1.9, we just upgrade to 1.12 and find some problems in this version.

FROM  xxx.xxx.xxx.xxx:5000/backendbase

ADD ./redis.conf /etc/redis/redis.conf
ADD ./mbus.conf /etc/supervisor/conf.d/mbus.conf
ADD ./xxxxxx.tar /opt
RUN chmod -R 655 /opt/xxxxxx/
ADD ./start.sh /opt/start.sh
ADD ./id_rsa /opt/id_rsa

RUN useradd -s /bin/bash -d /home/hu

[2016-09-13 15:19] nyanloutre commented on #26523
I have the same issue but sometimes not on all nodes, for example :
[code]

On the first host (cds-stage-ms1) the task failed because it couldn't resolve the name of another service

[2016-09-13 15:22] thaJeztah commented on #25656
@arthurlogilab have you been able to verify if this is indeed a duplicate of https://github.com/docker/docker/issues/21485? Is it ok to close this issue?

[2016-09-13 15:23] mavenugo commented on #26523
@michaelkrog @nyanloutre the DNS seems to be resolving properly (to Virtual-IP). But, the `ping virtual-ip` doesnt work and that is expected. Thats because the load-balancing using IPVS doesnt support ICMP. Instead of using ping, you can use other L4 tools (such as `nc`, etc...).

[2016-09-13 15:24] LK4D4 commented on #26532
ping @mlaventure
Maybe you have some ideas.

[2016-09-13 15:24] Fattaf commented on #26531
OK, thanks, will move the issue there.

[2016-09-13 15:24] #26531 closed

[2016-09-13 15:24] drakenator commented on #26384
This is caused by a bug in stdout / stderr processing in Docker 1.12's health checks.

Until the next release is available, a workaround to prevent dockerd from panicking is to make sure that stdout and stderr aren't written to at the same time by the command(s) used in a HEALTHCHECK.

e.g.
[code]
Alternatively, if you would still like to see healthckeck output in `docker inspect`
[code]

[2016-09-13 15:26] fishnix commented on #26322
Just curious if you've been able to narrow this down

[2016-09-13 15:29] hervenicol commented on #26532
I fixed it locally by adding an ugly `grep -F "$rootfsDir" /proc/mounts | awk '{print $2}' | xargs -r umount` right before the `rm -rf` line.

[2016-09-13 15:31] LK4D4 commented on #26435
btw it's even possible to slow all network operations on machine by just creating a lot of network namespaces.
ping @mavenugo @mrjana

[2016-09-13 15:34] LK4D4 commented on #26434
ping @aaronlehmann @stevvooe @tonistiigi

[2016-09-13 15:35] michaelkrog commented on #26523
Thanks @mavenugo.

I discovered the issue because the proxy service, based on nginx, had the same result. Every 2nd request resulted in 'no route to host' output in the log.

I had to remove the 2 workers to get my "swarm" working and that resolved the issues I was having. I will try to reproduce in a new environment.

[2016-09-13 15:35] #26429 closed

[2016-09-13 15:36] mavenugo commented on #26435
@normanv @LK4D4 I cannot think of any reason for network creation to slow down daemon startup. Which network driver are you using to create the network ? (is it a network plugin ? or overlay driver with a dependency to external kv-store ?)

[2016-09-13 15:40] mavenugo commented on #26523
@michaelkrog okay got it. there were bunch of fixes that went in after 1.12.1. Maybe this is fixed by one of the fixes. If you can try a docker daemon from master (https://master.dockerproject.org/) and confirm that will help.

[2016-09-13 15:41] volnet commented on #26495
@mlaventure
how to confirm the difference between OS-A and OS-B？why OS-B is OK？

[2016-09-13 15:41] useltmann commented on #26528
after more testing i figured out its the name of the entrypoint script. because its name is *init*  the `/run` folder is mounted as tmpfs. after renaming *init* to *buggy* all worked as expected.

[2016-09-13 15:43] cpuguy83 commented on #26528
@useltmann Again, this is not docker doing this.
You should check with RedHat.

[2016-09-13 15:44] mlaventure commented on #26495
It may be something specific to OpenStack.

Meanwhile, you may want to upgrade to CentOS7.2 or use a different graphdriver.

[2016-09-13 15:46] schmunk42 commented on #24107
@thaJeztah Thank you, I installed an experimental client and found the `deploy` command. Do I need experimental builds also for the engine?

[2016-09-13 15:58] runcom commented on #26528
@cpuguy83, @justincormack I'm taking care of this in a bugzilla. @useltmann please continue the conversation over there.

[2016-09-13 16:03] cpuguy83 commented on #26528
Thanks!

[2016-09-13 16:03] thaJeztah commented on #22093
@nottrobin you can use the `--filter` option on `docker ps`, for example, this example shows all containers that are using the `foo` volume:

[code]

See the documentation here:
https://docs.docker.com/engine/reference/commandline/ps/#/volume

[2016-09-13 16:05] ahmed-bacha opened #26535 "Docker auditing : Broken auditd auid"
### **Description**

To secure Docker usage and auditability, we monitor Docker as recommanded in CIS Docker. Now we would like (security constraints) to monitor commands like `exec`. The problem is that Docker breaks `auditd` information (auid, [link]( https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/6/html/Security_Guide/sec-Understanding_Audit_Log_Files.html)), and we lose

[2016-09-13 16:11] Quentin-M commented on #26492
I was able to reproduce as well.

[2016-09-13 16:12] LK4D4 commented on #26409
ping @jhowardmsft @jstarks

[2016-09-13 16:13] LK4D4 commented on #26404
@mrjana Should we add it to milestone?

[2016-09-13 16:19] LK4D4 commented on #26388
@timotheecour Yup, I agree with @justincormack . This belongs to brew repository, I don't think that we can do anything on our side. If anything would be needed to implement it there, feel free to open another issue.

[2016-09-13 16:19] #26388 closed

[2016-09-13 16:24] jhowardmsft commented on #26409
This may be a limitation in the API surface in Server core. @patricklang- can you follow up please.

[2016-09-13 16:45] thaJeztah commented on #26377
To be honest, I didn't even recall we had that page; given that it's a wiki, have you tried editing it yourself? I'm not sure, but I see edits from other (non-maintainers) on that page, so possibly that works.

If you want to get some attention to your project, a good way is to write a blog post about it, and I know those sometimes get included in the docker weekly newsletter

[2016-09-13 16:51] aboch commented on #6549
@cpuguy83 I think this can no longer happen in docker. The container will be given a go to be started only after `initializeNetworking` is done. So after libnetwork took care of creating, programming and bringing up the network interfaces.

[2016-09-13 16:54] LK4D4 commented on #26373
ping @cpuguy83
Is this possible at all?

[2016-09-13 16:54] jeff1evesque commented on #26377
It seems the wiki is closed, or private (maybe recently).  I am unable to edit it:

![docker-wiki](https://cloud.githubusercontent.com/assets/2907085/18483162/03b9a094-79b1-11e6-828d-81bc2ccd69c6.PNG)

I was thinking if the page was intended to be similar to [Sites Using React](https://github.com/facebook/react/wiki/Sites-Using-React) (i.e. ML Frontend), then perhaps my repository could be conside

[2016-09-13 16:58] dnephin opened #26539 "An invalid `--format` does not exit with non-zero code"
[code]

[2016-09-13 16:59] jeff1evesque commented on #26377
I spent numerous hours for several weeks after work, trying to figure out how to incorporate python unit testing via docker containers, using continuous integration (in my case travis ci).  If included to the wiki, I hope it can benefit someone else, similar to the position I was in.  Additionally, if someone could utilize my concepts, and improve on it (eventually I will reduce puppet logic), and

[2016-09-13 17:02] LK4D4 commented on #26361
@freeseacher The message indicates that panic happened during malloc. I wonder if all your traces were about malloc and all points to same place. Also maybe makes sense to try released version of docker.

[2016-09-13 17:02] pmcq commented on #26452
Wow okay.... after doing some deeper digging it seems like the creation of the container directory is taking a REALLY long time (note: this is on amazon EC2 boxes with EBS volumes, and I'm intentionally running stuff that downloads stuff to the filesystem and uploads a bunch)

Application logs:
[code]

The ps command also hung for a really long time before returning anything:
[code]

[code]

So th

[2016-09-13 17:05] thaJeztah commented on #22507
Looks like we can close this then, thanks!

[2016-09-13 17:05] #22507 closed

[2016-09-13 17:06] LK4D4 commented on #26358
@rhvgoyal do you think it might be related to devicemapper?
@5tefan I wonder if you can try the same thing with some other graphdriver.

[2016-09-13 17:12] LK4D4 commented on #26333
ping @thaJeztah for docs

[2016-09-13 17:13] LK4D4 commented on #26316
ping @mrjana @aaronlehmann

[2016-09-13 17:19] cpuguy83 commented on #6549
👍 Awesome. Thanks @aboch
Closing.

If anyone is still having issues with this, please let us know!

[2016-09-13 17:19] #6549 closed

[2016-09-13 17:21] LK4D4 commented on #26315
Looks like it even not starting to listen on socket, hangs seems to be on systemd socket.
@vuhiep1694 Can you pls send SIGUSR1 to daemon and post logs here?

[2016-09-13 17:27] LK4D4 commented on #26535
@ahmed-bacha what line for curl in ausearch instead? Or there are no lines at all?
@rhatdan Do you know any problems with auditing docker?

[2016-09-13 17:33] mikedanese commented on #25403
I'm fairly certain since the hack/vendor.sh is not using the go-get redirect for the `google.golang.org/cloud` package, removal of that redirect is not going to affect the build. It will affect people who are using a `go get` workflow.

[2016-09-13 17:39] tonistiigi commented on #26434
@dnwake @TanmayaA Can you share any of these v1 images, or does it happen with all the v1 images for you? I assume you get the same error on `docker save`?

[2016-09-13 17:40] aaronlehmann commented on #26434
@dnwake @TanmayaA: Are there any particular images that trigger this problem? I tried with a few images and couldn't reproduce it - but I don't know whether this is related to the images themselves, or the version of Docker that pushed the images to the v1 registry originally.

[2016-09-13 17:47] LK4D4 commented on #15234
ping @thaJeztah

[2016-09-13 17:48] jijojv commented on #22753
@justincormack

VPN combinations are varied and complex, so it would be shortsighted to assume you can always read the right settings. https://github.com/docker/for-mac/issues/19 (closed) is still broken for us on split-tunnel vpn. It's probably not a docker issue but just how our vpn server does split-dns.

Another e.g. at my previous place we would tell QA and Dev folks to point to different nam

[2016-09-13 17:49] LK4D4 commented on #15245
@aaronlehmann Could you try to answer this question?

[2016-09-13 17:49] JoeCEngineer commented on #26451
@mlaventure , to @boucher's point, let's keep it simple for now and just store the checkpoint as an "escape hatch" without validation.

[2016-09-13 17:50] LK4D4 commented on #15274
@jhowardmsft still flaky I believe?

[2016-09-13 17:53] 5tefan commented on #26358
@LK4D4 Sure, you mean [configure direct-lvm](https://docs.docker.com/engine/userguide/storagedriver/device-mapper-driver/#/configure-direct-lvm-mode-for-production)? I'll try that this evening and report back.

[2016-09-13 17:54] cpuguy83 commented on #25543
This is a docker-engine endpoint.
Thanks for the report!

[2016-09-13 17:54] justincormack commented on #22753
We are working on split name server support for VPN.

On 13 Sep 2016 6:48 p.m., "Jijo Varghese" <notifications@github.com> wrote:

[2016-09-13 17:54] rhvgoyal commented on #26358
What is "ncgen" and which file it failed to open. Looking at the error message, I can't think that this is devicemapper related.

[2016-09-13 17:55] LK4D4 commented on #26358
@5tefan it's one option. Or you can try graphdriver `overlay` if there is support in rhel.

[2016-09-13 17:56] hekaldama commented on #25543
NP!

[2016-09-13 18:01] jhowardmsft commented on #15274
Yeah I haven't done anything to look further

[2016-09-13 18:01] LK4D4 commented on #15395
ping @tianon @tiborvass @mlaventure

[2016-09-13 18:03] niau opened #26542 "Docker container from one service can't connect to a container from another swarm service spawned on a different node via the service name"
**My environment:**
I have a swarm cluster from one manager and one node.  On Ubuntu 16.04 with an inactive ufw firewall.

**Docker version**

[code]

**Docker info**
[code]

How to reproduce the issue:

Create 3 services with replica factor 1 and endpoint mode vip so that to get a distribution like one container on one of the nodes and two on the other. Make them to use the initially (by default)

[2016-09-13 18:07] aaronlehmann commented on #15245
Sorry, no idea. If I try the command without pulling the image first, I get:

[code]

If I pull the image and try again, it runs instantly.

Could this be some issue with locking slowing things down (cc @cpuguy83)? What version of Docker are you running?

[2016-09-13 18:07] tonistiigi commented on #25101
Closing this. Arm CI has been very stable for couple of last weeks.

[2016-09-13 18:07] #25101 closed

[2016-09-13 18:07] LK4D4 commented on #15587
@thaJeztah @JendaPlhak wow, that's really old. I'm going to close it now. Feel free to open new so that it would be higher in a search.

[2016-09-13 18:07] #15587 closed

[2016-09-13 18:09] niau commented on #26542
One more comment I have monitored exactly the same behavior also in an environment  build against the head of master docker repository branch.

[code]

[code]

[2016-09-13 18:11] LK4D4 commented on #15439
This is quite old, and there were no complaints for a year. Going to close it. Feel free to reopen if problem persists.

[2016-09-13 18:11] #15439 closed

[2016-09-13 18:14] LK4D4 commented on #15680
@awreece this is probably the overlayfs bug. There were multiple fixes last year. Feel free to open a new issue if the problem persists with latest coreos.

[2016-09-13 18:14] #15680 closed

[2016-09-13 18:16] LK4D4 commented on #16044
Going to close it, because there are no logs provided. Feel free to open new issue.

[2016-09-13 18:16] #16044 closed

[2016-09-13 18:19] LK4D4 commented on #15245
@aaronlehmann Maybe it was fixed. The issue is a year old. Thanks for testing. Going to close now because we can't reproduce. Feel free to open new if the problem persists.

[2016-09-13 18:19] #15245 closed

[2016-09-13 18:20] 5tefan commented on #26358
@rhvgoyal [NetCDF](http://www.unidata.ucar.edu/software/netcdf/docs/) is a binary file format used to store array based science data.  `ncgen` is a command line utility to initialize NetCDF files from an ascii template which specifies the variables, their dimensions, and optional metadata. The resulting .nc file size in my case is 7.168 kB.

@LK4D4 It looks a lot simpler to use `overlay` (no confi

[2016-09-13 18:21] LK4D4 commented on #15867
I think the question was answered. Feel free to ask more.

[2016-09-13 18:21] #15867 closed

[2016-09-13 18:23] LK4D4 commented on #16085
This indeed would be breaking change. We have couple of unfortunate design decisions in dockerfile handling and it's sad that we can't fix them now because some people use them as features.

[2016-09-13 18:23] #16085 closed

[2016-09-13 18:24] LK4D4 commented on #16010
@justincormack Do you know if it was handled in d4m?

[2016-09-13 18:27] codercotton commented on #22693
This hurts :(

[2016-09-13 18:28] LK4D4 commented on #16090
@jhowardmsft I think this should be addressed. Do you know who can do that? I can try, but it will be painful to test through CI.

[2016-09-13 18:29] LK4D4 commented on #16037
I think the proposal didn't hit necessary level of interest. Closing it for now.

[2016-09-13 18:29] #16037 closed

[2016-09-13 18:31] LK4D4 commented on #16114
I remember that I had the same bug, but I can't reproduce it now. @yoshiokatsuneo feel free to create a new issue if it still there.

[2016-09-13 18:31] #16114 closed

[2016-09-13 18:33] jhowardmsft commented on #16090
Agreed. On both. I've assigned myself, not sure when I can get to it though, or quite what it will entail.

[2016-09-13 18:33] LK4D4 commented on #16145
It's there now. Closing issue.

[2016-09-13 18:33] #16145 closed

[2016-09-13 18:34] LK4D4 commented on #15331
@mlaventure I believe this will be closed by data management?

[2016-09-13 18:36] LK4D4 commented on #15089
@pmorie any chance that you still interested in this?

[2016-09-13 18:37] LK4D4 commented on #16051
@jhowardmsft @darrenstahlmsft How is your new hire, lol? :D

[2016-09-13 18:39] pmorie commented on #15089
I am interested, but have zero bandwidth to contribute at the moment :)

On Tue, Sep 13, 2016 at 2:37 PM, Alexander Morozov <notifications@github.com

[2016-09-13 18:40] aboch commented on #23980
@jyrkiput This is actually a bug. Thanks for the report.

Even though the use-case is strange because a range of only one IP is specified (\32), it should work and only one container would be able to run, with exactly that IP address.

Will push a fix in libnetwork.

[2016-09-13 18:41] LK4D4 commented on #16160
This is still a real issue, not sure if we can solve it or let advanced users solve it themselves.

[2016-09-13 18:44] LK4D4 commented on #15089
@pmorie I'll leave it opened than. Thanks :)

[2016-09-13 18:51] LK4D4 commented on #16230
This stuff is called json everywhere(python, golang), but I agree it's sorta incorrect. However,  changing name will bring more problem than profits. I'm closing issue, because naming is hard and renaming is insanely hard.

[2016-09-13 18:51] #16230 closed

[2016-09-13 18:51] LK4D4 commented on #12632
ping @mavenugo @mrjana @aboch
Can you pls answer this question?

[2016-09-13 18:52] mlaventure commented on #15331
I think so yes. My PR is only reporting usage from a "top object" point of view (e.g. images, containers) but I don't think we want to expose the low level internals (i.e. layers) to the users, so that should do it at least for now.

[2016-09-13 18:53] LK4D4 commented on #26315
Btw it looks like duplicate of #16249

[2016-09-13 18:55] darrenstahlmsft commented on #16051
This was actually fixed by my first PR (Adding Chtimes as the method of changing file times instead of Utimesnano), I just didn't link it back to the issue. Oops. :innocent: https://github.com/docker/docker/pull/16490

[2016-09-13 18:55] aaronlehmann commented on #26487
Thanks for the report. This is the first time I've seen this problem.

Can you reproduce the panic at will, or did it only happen once? If you can reproduce it, it may be helpful if I could look at the files in `/var/lib/docker/swarm`. Note that these contain sensitive information like crypto keys, so if this isn't a one-off test cluster, let's find a way to transfer it privately.

I'm also intere

[2016-09-13 19:02] LK4D4 commented on #16051
@darrenstahlmsft Thanks! closing!

[2016-09-13 19:02] #16051 closed

[2016-09-13 19:03] LK4D4 commented on #15331
#26108 for reference.

[2016-09-13 19:06] ahmed-bacha commented on #26535
@LK4D4 it is described under the `Expected results, with nsenter` section, `EXPECTED RESULT` item.

[2016-09-13 19:08] Seth-Karlo opened #26544 "Etcd2 panics on restoring from backup"
**Description**
I'm attempting to back up my etcd2 cluster to disk and then restore using the --force-new-cluster option. Whenever I try to do this, etcd2 crashes and refuses to start, preventing me from restoring my backup.

**Steps to reproduce the issue:**
1. Use `etcdctl backup` command to back up the `/var/lib/etcd2` directory on a node to disk.
2. Remove the `/var/lib/etcd2/member` directory

[2016-09-13 19:08] LK4D4 commented on #16267
ping @cpuguy83
I remember you had some btrfs host

[2016-09-13 19:12] iaracy commented on #22567
I had the same problem (unable to connect to the network, and download anything) with V 1.12 stable-
-->i.e.  I was unable to run "docker run hello-world"  successfully.
Once I installed V 1.12.1-beta25 "docker run hello-world"  run successfully.

Hope this helps

[2016-09-13 19:13] LK4D4 commented on #26544
@aaronlehmann I think it's same downgrade problem as we saw with swarmkit? Could you pls post info from etcd repo and close this if it's unrelated to docker?

[2016-09-13 19:15] LK4D4 commented on #16255
This issue is quite old and necessary info wasn't provided, so I'm closing it.

[2016-09-13 19:15] #16255 closed

[2016-09-13 19:15] dm0- commented on #26492
This is reproducible by running a bunch of containers in sequence on current CoreOS beta or alpha.  Eventually one will fail.  When the master is not set, the container can't ping its own gateway interface, so this will do it:

    for ((i=0; i<100; i++)) ; do docker run --rm busybox ping -c 1 172.17.0.1 || break ; done ; echo $i

So far, I've seen that the requests set up in `LinkSetMasterByIndex

[2016-09-13 19:17] Seth-Karlo commented on #26544
Apologies, I had both docker and etcd repositories open in different tabs and pasted this into the wrong one! Closing.

[2016-09-13 19:17] #26544 closed

[2016-09-13 19:21] LK4D4 commented on #12792
I'm not sure what should be done here. Probably we need to create another issue with a proposal for `running` or `started` field.
ping @thaJeztah

[2016-09-13 19:22] LK4D4 commented on #15173
@stevvooe Any news here? Should we close or proceed?

[2016-09-13 19:22] Quentin-M commented on #26492
Essentially what I've been doing. I've ran 500 containers with `sleep inf` and used ìp link | grep veth | grep -v docker0` to count/identify the failures.

[2016-09-13 19:23] LK4D4 commented on #16327
Closing as @thaJeztah was unable to reproduce. Feel free to open new issue if problem persist.

[2016-09-13 19:23] #16327 closed

[2016-09-13 19:26] LK4D4 commented on #16373
This issue was inactive for quite some time, so I think we can close it because most of usecases is supported with buildtime args and adding new commands to dockerfile is extremely hard in terms of support and technical debt.

[2016-09-13 19:26] #16373 closed

[2016-09-13 19:28] LK4D4 commented on #15802
That looks quite bad, but code changed a lot since.
@euank I wonder if you tried newer version of docker under same load.
@crazywen sadly stats api is very heavy on this stuff :(

[2016-09-13 19:30] LK4D4 commented on #16416
I have vague feeling that it was deprecated because of swarmkit.
@ibuildthecloud feel free to close if it is.

[2016-09-13 19:32] LK4D4 commented on #16242
Btw I saw such errors too. I wonder if it's some unfinished cleanup on ungraceful restart.

[2016-09-13 19:40] larsha commented on #25266
I changed Docker host to CoreOS, haven't had any problem since. Maybe there's something going on with Ubuntu.

[2016-09-13 20:23] cpuguy83 commented on #26373
`-v /very/very/long/path:/small/path` should be fine.
Being that you are on boot2docker, I'd imagine `/very/very/long/path` doesn't exist in the VM and so is empty.

[2016-09-13 20:23] #26373 closed

[2016-09-13 20:25] cpuguy83 commented on #26373
Technically this will let you create a bind-mounted volume instead of binding directly in the `-v` flag... but really doesn't make much sense to do this, and will fail if `/very/long/long/path` doesn't exist.

[code]

[2016-09-13 20:35] stevvooe commented on #15173
@LK4D4 With default usage of v2, we can relax this requirement. I think we should proceed and support this use case.

[2016-09-13 20:35] mlaventure commented on #25321
@beedub can you confirm what issue you are seeing?

Are you having the daemon being hung or something else?

[2016-09-13 20:42] euforia commented on #26251
@tswift242 - I'm in the same boat.  We also ended up reverting back.

In our case not only is the port not freed but sporadically the running service stops responding at which point the system becomes unrecoverable.  Is the sporadic unresponsiveness of the service also related to https://github.com/docker/libnetwork/issues/1374  ?

[2016-09-13 21:07] tianon commented on #15395
Over in `build-deb` we handle this with `DOCKER_BUILD_PKGS` (https://github.com/docker/docker/blob/8aa454dfc8192094221d9ffae5a48d642ea865e4/hack/make/build-deb#L41-L48), which `build-rpm` appears to also support: https://github.com/docker/docker/blob/8aa454dfc8192094221d9ffae5a48d642ea865e4/hack/make/build-rpm#L71-L78

[2016-09-13 21:10] bvis commented on #26498
Before any change:

**Dockerfile**
[code]

**start.sh** (just an infinite loop)
[code]

**health-check.sh**
[code]

 I'll show you more info to compare the output when the image is running as a service or as a container:

[code]

@cpuguy83, I have tried your approach. It sounds a bit of a hack because in the docs it says:

After change the exit code from 0 to 2 in the "if" in my health-check.sh th

[2016-09-13 21:12] cpuguy83 commented on #26498
Oh maybe we took out exit code 2... I don't remember.

[2016-09-13 21:17] tnbeatty commented on #24310
@gnomff Confirmed that port publishing (seems like mesh routing / load balancing completely) is broken for me on Ubuntu 16.04. I've downgraded to 14.04 and publishing behaves as described [here](https://docs.docker.com/engine/swarm/services/#/publish-ports-externally-to-the-swarm).

[2016-09-13 21:21] aaronlehmann commented on #26530
ping @mrjana

[2016-09-13 21:24] ginkel commented on #26038
@aaronlehmann Please find the logs from all three masters for the most recent incident at: https://drive.google.com/open?id=0Byfg_vFx7fGceFNoU1ppSlFKOUk

[2016-09-13 21:28] calaniz commented on #20185
@thaJeztah so we'd have to walk the /var/lib/docker/graph directory and stat that file for every directory entry?

I've currently got 5812 directories, or 5812 .migration-diffid files to check.

[2016-09-13 21:28] sfitts opened #26546 "Error about missing rootfs when attempting to start container on AWS."
NOTE -- there are definitely other issues that mention what appears to me to be a very similar error, however, in those threads there seemed to be a preference expressed for posting new issues instead of using the existing ones.

**Description**

On AWS when I attempt to start a container I receive the error:

[code]

**Steps to reproduce the issue:**
1. Create a new EC2 instance from an AMI which

[2016-09-13 22:05] calaniz commented on #20185
if it helps any

docker info gives

Containers: 3134
 Running: 25
 Paused: 0
 Stopped: 3109
Images: 5371
Server Version: 1.11.2
Storage Driver: overlay
 Backing Filesystem: extfs
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: bridge null host
Kernel Version: 4.7.1-coreos
Operating System: CoreOS 1153.4.0 (MoreOS)
OSType: linux
Architecture: x86_64
CPUs: 8
Total

[2016-09-13 22:09] itsafire commented on #14403
I just ran it against docker 1.11.2 at home on a Debian Stretch VM on a 2016 MacBook with quite wide IO bandwidth. I can not reproduce the behaviour. I will check on a rotating media later this day.

[2016-09-13 22:47] ktwalrus commented on #26259
Not sure. I really need to guarantee that at most 1 replica is running on one node. Not so much for cluster startup, but what happens if one of the nodes fails?

I am wanting to deploy a MySQL cluster of 3 replicas where the first replica configures itself as the RW master with the second and third replica being slaves of the master. I want to run a ProxySQL instance sitting in front of this MySQL

[2016-09-13 22:49] ninrod commented on #22801
I'm also trying to build emacs from source inside a docker container and cannot do it anymore.

[2016-09-13 22:55] clok commented on #24366
I have installed the most recent version of docker for mac and I am seeing this error. Is there a technical solution or do we need to reinstall?

[2016-09-13 23:15] xataz commented on #26373
Thanks,

It's works with your command :
`docker volume create --name project01 -o type=none -o device=/home/$USER/projects/01 -o o=bind`

[2016-09-13 23:16] LK4D4 commented on #15173
@stevvooe Cool!
@thaJeztah Can you pls take care of this issue. Maybe add it to milestone?

[2016-09-13 23:18] LK4D4 commented on #15395
@tianon Sorry, have no idea what does it mean :) Can we close issue?

[2016-09-13 23:18] tianon commented on #15395
Oh, this is an old issue!  Yes, this is implemented now. :+1:

[2016-09-13 23:18] #15395 closed

[2016-09-13 23:20] LK4D4 commented on #15765
@thaJeztah psst

[2016-09-13 23:21] LK4D4 commented on #16368
@andrewmichaelsmith @HuKeping yes, it should be upper bounded. I think PR will be accepted. Sorry that it took so long to find this issue.

[2016-09-13 23:30] alexmavr opened #26548 "Attaching a container to a swarm-mode overlay network panics and breaks the /tasks API"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Description**

On the current master, attaching a container to an overlay network that is created with the `--attachable` flag results in an interface conversion panic. All further calls to the `/tasks` API return a 0-byte response.

**Steps to reproduce the issue:**

O

[2016-09-13 23:31] ixmatus commented on #22226
Is this fixed in *1.12.1*? I don't think it is. The rev of containerd in vendors basically occurs right before containerd's 0.2.3 tag release.

So I'm assuming it's not fixed in 1.12.1 because we're seeing this problem.

[2016-09-13 23:36] LK4D4 commented on #16983
@chanwit @sanimej issue is pretty old. Can we close it now?

[2016-09-13 23:37] LK4D4 commented on #15323
I'm closing this issue. Rouge kernels is sad story :(

[2016-09-13 23:37] #15323 closed

[2016-09-13 23:39] LK4D4 commented on #16670
@thaJeztah do you think we can say that it's task of volume driver and close this? I'm not sure that it's easy task to bring this to default driver.

[2016-09-13 23:42] LK4D4 commented on #17017
This issue is quite old and had no attention. Please, open a new issue if the problem still persists.

[2016-09-13 23:42] #17017 closed

[2016-09-13 23:43] LK4D4 commented on #17123
@thaJeztah what's going on here?

[2016-09-13 23:44] LK4D4 commented on #17130
@thaJeztah wanna do it instead of Sven? :)

[2016-09-13 23:45] LK4D4 commented on #17114
Yeah, would be cool.

[2016-09-13 23:46] LK4D4 commented on #16189
@thaJeztah Do you know who can try on ARM?
@kapolos do you still have problem?

[2016-09-13 23:47] LK4D4 commented on #17233
there is #17234
Not sure if we'll proceed, but issue looks like worth research.

[2016-09-13 23:48] LK4D4 commented on #17249
@thaJeztah I think it's time!

[2016-09-13 23:49] LK4D4 commented on #15517
ping @tonistiigi
Do you have some ideas here?

[2016-09-13 23:53] LK4D4 commented on #16056
Builder is still here. But! I think this can be achieved with `tree`, `find` or `ls` in Dockerfile. Given that context can be millions of files I'm not sure that it worth to implement this.
I'm closing this because of lack of interest from the community. Feel free to open new proposal if you'll find more cases.

[2016-09-13 23:53] #16056 closed

[2016-09-13 23:56] LK4D4 commented on #17302
From my non-DevOps point of view, this seems like overkill.

[2016-09-13 23:57] LK4D4 commented on #17323
@thaJeztah @mavenugo psst

[2016-09-13 23:58] LK4D4 commented on #17346
I'm closing this as it's impossible to get anything without particular versions.

[2016-09-13 23:58] #17346 closed

[2016-09-13 23:59] LK4D4 commented on #15379
@thaJeztah should we proceed here?

[2016-09-13 23:59] #17682 closed

[2016-09-14 00:01] tonistiigi commented on #15517
We do not put `.wh..wh.plnk/.wh..wh.orph` files in the layers anymore but we used to do it in older docker versions and we still have the code that does some basic handling of these files. https://github.com/docker/docker/pull/16470/files#diff-2441da2e3b5de478b533a1310aa1864aR325

Registry doesn't extract layers nor validate their contents.

[2016-09-14 00:05] LK4D4 commented on #16315
This works as expected by kernel:
[code]
shmmax per-container can be set with `--sysctl kernel.shmmax=2147483648`

[2016-09-14 00:05] #16315 closed

[2016-09-14 00:07] LK4D4 commented on #15517
@tonistiigi Thanks for the answer!
@vincentwoo I hope you got your answer one year later :(

[2016-09-14 00:07] #15517 closed

[2016-09-14 00:09] dbason opened #26550 "Container hangs on CentOS7 if no space available"
---
## BUG REPORT INFORMATION

Use the commands below to provide key information from your environment:
You do NOT have to include this information if this is a FEATURE REQUEST
-->

**Description**
If a container reaches 10GB in size it seems it is unable to allocate any further space. We are then unable to stop or kill the container

**Steps to reproduce the issue:**
1. Run a leaky node applicati

[2016-09-14 00:10] LK4D4 commented on #17864
Closing this as it's not possible to understand what was going on now :( Feel free to open new issue.

[2016-09-14 00:10] #17864 closed

[2016-09-14 00:11] chaslemley commented on #23865
@tompscanlan I ran into this and realized I was building the go executable on my Mac and then trying to run it in an Ubuntu container. Updating the build command to the following fixed the issue.

[code]

[2016-09-14 00:12] LK4D4 commented on #17867
I think that would be "sort of" addressed by data management(impressive statics and stuff). Implementing that on a client side would be challenging. So, I'm closing it for now.

[2016-09-14 00:12] #17867 closed

[2016-09-14 00:12] LK4D4 commented on #17770
@thaJeztah Could you pls find who doing docs now and tell me? :)

[2016-09-14 00:13] dbason commented on #26550
Fundamentally the fix is to stop the node application leaking memory and crashing, which we are currently working on.   However it doesn't seem great that we get into a state where we can't stop the container

[2016-09-14 00:15] LK4D4 commented on #17702
I can swear I saw similar issue today. Yes, I think it's possible and might be easier to do after cli rewriting. But might not worth it. I actually DON'T like that you can use prefixes and think it was a bad decision. Not for me to decide, though :)

[2016-09-14 00:17] cpuguy83 commented on #17702
@LK4D4 Yes, and yes... but alas we have it :(

Here is the other issue: #26346

I'll close this one.

[2016-09-14 00:17] #17702 closed

[2016-09-14 00:18] LK4D4 commented on #17369
Freebsd machine is stopped for 4 months and also there is no active work on it. I'm closing this issue for now. Feel free to post new.

[2016-09-14 00:18] #17369 closed

[2016-09-14 00:19] LK4D4 commented on #17612
Closing because it's old and code changed too much since.

[2016-09-14 00:19] #17612 closed

[2016-09-14 00:22] LK4D4 commented on #18143
Not sure who to ping, so I'll ping everyone
ping @aaronlehmann @stevvooe @dmcgowan

[2016-09-14 00:22] LK4D4 commented on #18143
@manuelmazzuola I wonder if you still can reproduce. Code changed a lot since.

[2016-09-14 00:23] LK4D4 commented on #17802
We even have arm ci which works perfectly!

[2016-09-14 00:23] #17802 closed

[2016-09-14 00:23] LK4D4 commented on #18008
Just tried and it works for me. Feel free to reopen if the problem still persists.

[2016-09-14 00:23] #18008 closed

[2016-09-14 00:24] LK4D4 commented on #17355
@boucher you might find this interesting.

[2016-09-14 00:25] LK4D4 commented on #17733
Closing for lack of activity.

[2016-09-14 00:25] #17733 closed

[2016-09-14 00:25] LK4D4 commented on #18249
I think this was fixed by vendoring new version.

[2016-09-14 00:25] #18249 closed

[2016-09-14 00:27] LK4D4 commented on #17936
@cpuguy83 still opposed to it? Would garbage collection fix that?

[2016-09-14 00:28] LK4D4 commented on #18072
Related to garbage collection.

[2016-09-14 00:30] cpuguy83 commented on #17936
Labels were added to volumes in 1.11.

[2016-09-14 00:30] #17936 closed

[2016-09-14 00:32] LK4D4 commented on #18251
Closing this as inactive.

[2016-09-14 00:32] #18251 closed

[2016-09-14 00:34] LK4D4 commented on #18278
I'm closing it as views on docker networking changed since reporting. Feel free to open new.

[2016-09-14 00:34] #18278 closed

[2016-09-14 00:36] LK4D4 commented on #17611
@cpuguy83 psst

[2016-09-14 00:38] LK4D4 commented on #18258
@thaJeztah do you think we can close this now?

[2016-09-14 00:39] matthewdfuller commented on #26070
This is also affecting my setup on CoreOS Beta (using Docker 1.11.2). After unmounting /proc/xen, the docker run command works, although no output it shown to the console.

Ex:
[code]

[code]

_umount /proc/xen_

[code]
_no output_

[2016-09-14 00:40] LK4D4 commented on #18291
I'm closing this because time passed and there is docker 4 windows now.

[2016-09-14 00:40] #18291 closed

[2016-09-14 00:41] LK4D4 commented on #17922
I think that there are checks there now.
@mrjana @mavenugo @sanimej feel free to close this if it's true

[2016-09-14 00:41] #17922 closed

[2016-09-14 00:46] boucher commented on #17355
I think, ideally, we'd come up with a solution that didn't require the container to have the same ID? Although maybe I'm missing some important aspect where that would actually be important (rather than right now, where it seems like kind of just an artifact of the way p.haul is doing its thing).

[2016-09-14 01:09] au-phiware commented on #26120
In my attempts to narrow down the problem I thought I might try different combinations of kernel and docker versions, but I have run into an impossible situation. Before I describe the steps I took to corner myself; a little background: I had neglected to keep my gentoo system up-to-date for a little under a year and decided it was high-time that I ran a full system update. My process to achieve t

[2016-09-14 01:15] ndarilek commented on #17702
Weird. Why not close the *second* issue as a duplicate?

[2016-09-14 01:18] cpuguy83 opened #26554 "Flaky Test TestBuildApiBuildGitWithF"
Not sure what the test name even means but...

Test failed here on an unrelated PR: https://jenkins.dockerproject.org/job/Docker-PRs-Win2Lin/31016/console in #26449
<details>

[code]

</details>

[2016-09-14 01:19] cpuguy83 commented on #17702
Just more recent discussion.

[2016-09-14 01:25] cpitclaudel commented on #22801
@ninrod Did you try the solution that I suggested above?

[2016-09-14 01:53] x1022as commented on #23917
Any update here? really look forward to a standard way to use accelerators in container :)

[2016-09-14 02:05] beedub commented on #25321
@mlaventure daemon hung as far as I remember

[2016-09-14 02:11] aaronlehmann commented on #26038
Thanks very much for the logs. This is extremely helpful for tracking down the problem.

There's a lot of stuff to go through, and I don't have a complete understanding yet, but here are a few notes:

1) It looks like there's a problem with raft on `docker-p-02`. It may be deadlocked in a way that messages it tries to send to other nodes aren't getting out. I've seen a similar problem before Docke

[2016-09-14 02:15] ninrod commented on #22801
@cpitclaudel I did not because I don't want to run emacs in batch mode. I use emacs for coding and it has to be very fast.

Only way I'm seeing to get this working is to forget about my Dockerfile build and start my base container with `docker run --privileged sh -c "echo 0 > /proc/sys/kernel/randomize_va_space"`, issue commands through `docker exec` and commit the final container with `docker com

[2016-09-14 02:29] rmrf commented on #22350
I have same issue with
[code]

[2016-09-14 03:12] volnet commented on #26495
I try the command `sudo dockerd -s vfs &`

But also has errors:

| storage driver type     | is supported |
|:----------------------:|:------------------:|
| overlay | supported & has error |
| overlay2 | not supported |
| aufs | not supported |
| btrfs | not supported |
| devicemapper | not supported |
| vfs | supported & has error |
| zfs | not supported |

so I think it is not because the overl

[2016-09-14 03:51] dnwake commented on #26434
@TanmayaA On rechecking I am also experiencing the problem, at least on some images, even without Content Trust.  I've amended the initial problem description.

@tonistiigi @aaronlehmann It is only certain image layers that trigger the problem.  Most image layers work fine, but any images that contain the problematic layers fail to push.

@tonistiigi Yes, I get the same error with "docker save".

[2016-09-14 04:09] samuelkarp commented on #17747
@CameronGo @jhovell (any anyone else using ECS) We just added the ability to specify a stream prefix in the ECS task definition as `awslogs-stream-prefix` (the full stream name ends up being `$prefix/$container-name/$task-id`).  See [this blog post](https://aws.amazon.com/blogs/compute/centralized-container-logs-with-amazon-ecs-and-amazon-cloudwatch-logs/) and [our documentation](https://docs.aws.

[2016-09-14 04:27] #26548 closed

[2016-09-14 04:54] aboch commented on #26382
From the info @chenchun reported this is the expected behavior until an interface is enslaved into the bridge.
So, once a container is attached to the `bridge` network, the mtu value for `docker0` interface will reflect the one passed via `--mtu` daemon option.

[code]

In my opinion from docker perspective the bridge mtu value only matters when containers are running.
Therefore I think this issue

[2016-09-14 05:00] cookandy commented on #26382
hi @aboch I agree.  there's another mtu issue reported here: https://github.com/docker/docker/issues/26473, but this one can be closed

[2016-09-14 05:00] #26382 closed

[2016-09-14 05:31] aboch commented on #25215
Libnetwork fix was brought to docker master via vendoring in #25962
This issue can now be closed.

[2016-09-14 05:40] aboch commented on #24176
Thanks @felixsanz, closing.

[2016-09-14 05:40] #24176 closed

[2016-09-14 05:47] aboch commented on #23901
What asked here is now possible in master after #25962 was merged.
This issue should be closed.

[2016-09-14 05:56] mrjana commented on #23901
Closing as fixed.

[2016-09-14 05:56] #23901 closed

[2016-09-14 06:02] dnwake commented on #26434
A couple of other observations:

- If I run "docker history --no-trunc" on the bad image, the image digests in the first column are all given as "<missing>" except for the very first row.  However, every other column of output -- "CREATED", "CREATED BY", "SIZE" and "COMMENT" -- appears (at least at first glance) to be correct, compared to a "good" version of the same image I found on another machi

[2016-09-14 06:05] mrjana commented on #26530
@nyanloutre Is it possible to attach daemon logs when the problem happened?

[2016-09-14 06:08] mrjana commented on #24310
Looks like there are a few reports of people having issues with ubuntu 16.04. I will try to recreate the problem in 16.04 and see if there are any specific there in that distro.

[2016-09-14 06:37] sebi-hgdata commented on #25215
@aboch I see that #25962 has milestone 1.13, but this issue has 1.12.2.
In what release will the fix be included?

[2016-09-14 06:40] aboch commented on #25215
@sebi-hgdata If a 1.12.2 is going to be released, we'll make sure [docker/libnetwork#1369] (https://github.com/docker/libnetwork/pull/1369)  changes will be part of it.

[2016-09-14 06:48] zxkane commented on #24877
Specifying the hostname of container is mandatory if running rabbitmq cluster in swarm mode.

This feature should be considered as 'must-have' for swarm mode.

[2016-09-14 07:00] braykov commented on #26469
@mlaventure, no I don't know. But my Ubuntu is not a clean install. I have had several upgrades up to 16.04.1.
Also I am not using the curl way of installing. I am following the instructions with adding a PPA and using APT to install docker-engine. AFAIK this is the preferred way.
And now the real problem is that the daemon is not starting automatically on boot (as I mentioned above).

[2016-09-14 07:11] justincormack commented on #22801
We are working on an easier workaround too, will update here soon.

On 14 Sep 2016 3:16 a.m., "Filipe Silva" <notifications@github.com> wrote:

[2016-09-14 07:11] ravilr commented on #26374
@mlaventure  is this fixed?
Server Version:      1.12.0
running into same issue on node reboot. docker daemon has live-restore turned on. On node reboot, daemon fails to recover containers (which is expected), but `docker ps` lists all the previously running containers (before the reboot) as running.  trying to kill them fails with the same error as in this issue:

Sep 14 06:48:13 s6 systemd[1]: S

[2016-09-14 07:27] coolljt0725 commented on #26374
@ravilr  https://github.com/docker/containerd/pull/313 should have fixed this issue, but I haven't tested it. :)
@mlaventure From what I know, the fix for such issues is on the containerd  side. On the docker daemon side, Should we also make the container to non-running if we get `no such process` from containerd if we try to kill/stop a container which show in docker ps?

[2016-09-14 07:42] arthurlogilab commented on #25656
@thaJeztah sorry, haven't got round to trying it out.

[2016-09-14 07:47] schmunk42 opened #26556 "[legal] What's about repository names for your open-source projects starting with 'docker'?"
**Description**

Yesterday there was a blog posting about [Don't use "docker" in Github repo names or as Twitter handles](https://www.andreas-jung.com/contents/dont-use-docker-in-github-repo-names-or-as-twitter-handle), which got some real attention. I.e. it was [linked](https://blog.fefe.de/?ts=a926d889) on one of Germany's most read tech blogs.

I understand there there is a trademark for "Docke

[2016-09-14 07:54] ascora commented on #26530
I can confirm this bug

[2016-09-14 07:55] rawkode commented on #26533
Is this relatively trivial? My Go knowledge is pretty solid, but I've not jumped into docker/docker too much.

[2016-09-14 08:22] thaJeztah commented on #16670
I agree; this is now possible through volume driver plugins, and we want to keep the default volume driver simple, and not overload it with features.

I'm closing this issue, for the above reasons, but we can reconsider in future if there's strong arguments for having this in the default driver (and it's technically possible)

[2016-09-14 08:22] #16670 closed

[2016-09-14 08:31] thaJeztah commented on #17867
FWIW; @LK4D4 is referring to the data management functionality that is proposed here; https://github.com/docker/docker/issues/22871.

[2016-09-14 08:35] cyberjoac commented on #12827
+1

[2016-09-14 08:35] GordonTheTurtle commented on #12827
*USER POLL*

*The best way to get notified of updates is to use the _Subscribe_ button on this page.*

Please don't use "+1" or "I have this too" comments on issues. We automatically
collect those comments to keep the thread short.

The people listed below have upvoted this issue by leaving a +1 comment:

@cyberjoac

[2016-09-14 08:43] thaJeztah commented on #16189
Given that this is on a (now) very old custom build of docker, and image storage got a massive rewrite in docker 1.10, I'll go ahead and close this issue, but @kapolos let us know if there's still something to be done, and I can reopen if needed

[2016-09-14 08:43] #16189 closed

[2016-09-14 08:49] thaJeztah commented on #17114
I think this is possible with Cobra - didn't we have another issue for tracking that? @dnephin

[2016-09-14 08:50] hervenicol commented on #26532
I just understood why it's an issue when building centos7 and not centos6: this umount is usually done in the rinse postinstall scripts.
My rinse config did not contain a centos7 postinstall script.

Conclusion: **make sure to have up-to-date rinse scripts from git://git.debian.org/git/collab-maint/rinse.git**

And the mkimage.sh then works well.
Sorry for the false issue.

[2016-09-14 08:50] #26532 closed

[2016-09-14 08:51] Silex commented on #22801
For information, there's quite a discussion going on at https://debbugs.gnu.org/cgi/bugreport.cgi?bug=23529

The current idea is to simply removing the undump feature while replacing it with something more straightforward which should not require special privileges.

[2016-09-14 08:56] thaJeztah commented on #18258
Yes, this can be closed; this part of the docs has changed a lot since this was reported, so looks to be no longer relevant

[2016-09-14 08:56] #18258 closed

[2016-09-14 08:58] thaJeztah commented on #18072
Linking to the data management proposal; https://github.com/docker/docker/issues/22871

[2016-09-14 09:07] thaJeztah commented on #17770
ping @mstanleyjones perhaps you have thoughts which section we should move this page to? Should we keep this issue open for tracking, or is this already on the radar in the docs team?

[2016-09-14 09:08] thaJeztah commented on #25656
Let me go ahead and close this for now, but happy to reopen if it's a different issue

[2016-09-14 09:08] #25656 closed

[2016-09-14 09:09] duglin commented on #26533
@rawkode yup - I think it should be a good one for a docker newbie.

[2016-09-14 09:13] ascora commented on #26530
@nyanloutre Did you find a workaround for this?
@mrjana I got this issue in a swarm of 5 physical servers with Ubuntu 16.04 and again in a swarm of 3 servers also using Ubuntu 16.04. As far as I can see the demo above also happened with Ubuntu 16.04 (could be a coincidence of course)

[2016-09-14 09:15] dj-hedgehog opened #26559 "Error starting daemon: error initializing graphdriver: driver not supported"
Kernel version: 4.7.3-1.el7.elrepo.x86_64
Host: CentOS 7
Docker version: 1.12.1

I switched to overlay2 as described in this post https://qautomatron.github.io/overlay2-docker-centos7-centos6 (update kernel, change to --storage-driver=overlay2)

Now I get this error upon starting the container engine. What can I do about this?

[code]

 describes how to update the Kernel of CentOS and use Overlay2

[2016-09-14 09:18] acaranta commented on #24862
If I may add ... `--privileged` and/or `--device*` are quite critical for the case you need to run containers using GPU/CUDA calculations ....
Placement rules to allow these kind of containers to run on specific hosts can be used ... but not being able to actually use the GPU ..... kind of renders the swarmmode useless for us ... :(

[2016-09-14 09:19] fbe opened #26560 "docker client trying to access useradd"
Docker version: 1.11.0 on Gentoo x86_64

**docker client trying to access useradd / adduser**

I saw that a simple docker ps tries to access useradd / adduser binaries. That doesn't make sense / causes security alerts on my system.

**Steps to reproduce the issue:**
1. strace docker ps

**Describe the results you received:**
https://gist.github.com/fbe/0d8b2c63520a4ff37f2d6397a75df509#file-what-th

[2016-09-14 09:21] siscia commented on #26120
I do confirm the issue.

With pretty much the same exact configuration.
[code]

Container running seems to do NOT have external networking (ex. I cannot make REST API call)

[2016-09-14 09:24] nyanloutre commented on #26530
I already looked in the logs but there is nothing related to this. Should I tell Docker to output logs in debug verbosity ?

[2016-09-14 09:29] AkihiroSuda commented on #24862
Just FYI, linking the PR for supporting "device" to this issue:
https://github.com/docker/swarmkit/issues/1244
https://github.com/docker/swarmkit/pull/1355

Even though there would be `--device`,  I think `--privileged` is still attractive (e.g. for DinD)

[2016-09-14 09:31] nyanloutre commented on #26556
They will have some work with more than 100k [repositories with the name docker in the title](https://github.com/search?utf8=%E2%9C%93&q=docker)

[2016-09-14 09:32] fabiop commented on #26384
Great, will give this a try, thanks @drakenator

[2016-09-14 09:35] saiwl opened #26561 "deadlock in monitor.go"
**Description**

Docker ps command hangs after the daemon process runs for a few days. Usually many containers has been killed and start on the host. I still cannot reproduce this problem manually. But it happens definitely after daemon runs for a few days.
**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional infor

[2016-09-14 09:40] saiwl commented on #26561
I got the stack dump file. Here is the related part:
[code]
case libcontainerd.StateExitProcess:
		c.Lock()
		defer c.Unlock()
		if execConfig := c.ExecCommands.Get(e.ProcessID); execConfig != nil {
			ec := int(e.ExitCode)
			execConfig.ExitCode = &ec
			execConfig.Running = false
			execConfig.Wait()
			if err := execConfig.CloseStreams(); err != nil {
				logrus.Errorf("%s: %s", c.ID, err)
			}

[2016-09-14 09:51] ascora commented on #26530
As a follow up information:
In additoion to the NAT rules in iptables, docker also seems to be listening to the port. In my case I had a service on port 8080, which I removed using _docker service rm nginx_. Aftzerward, the
`sudo iptables -t nat -L`
shows
`Chain DOCKER-INGRESS (2 references)`
target     prot opt source               destination
[code]

and
`netstat --tcp --udp --listening --progra

[2016-09-14 09:53] marc1404 commented on #22981
@wmario I tried your steps but without upgrading Windows 10. Shared folders are still empty for me inside the guest container.
Windows 10 Pro
Version 1511
Docker for Windows Version 1.12.0-stable (build: 5968)

[2016-09-14 09:53] justincormack commented on #26559
I think you still need to disable SELinux with Centos, until the kernel patches are there (I think they are in Fedora now and will be in Centos later). cc @runcom probably remembers the details.

[2016-09-14 09:56] frimdo commented on #24862
+1

`--cap-add` and `--cap-drop` Is a must. `--privileged` would be nice. Are there any plans implementing it?

[2016-09-14 09:57] justincormack commented on #26560
Are you using user namespaces? These do try to do this if you do not create the default remap user. I wasnt aware of any other use cases but can check if you are not.

[2016-09-14 09:59] duglin commented on #26533
@rawkode actually I think I was mistaken. I'm not sure we can support this at all.  Hold off for a sec, let me do more investigation...

[2016-09-14 10:02] ginkel commented on #26038
@aaronlehmann Thanks for the update! Another swarm mode failure (after re-creating the previously failed cluster from scratch):

[code]

Logs at (the logs are large but quite repetitive as the cluster is dead since yesterday, but I'd like to avoid pre-filtering them and accidentally omitting important information): https://drive.google.com/file/d/0Byfg_vFx7fGceDc4WlBQTm5KOGM/view?usp=sharing

Is t

[2016-09-14 10:05] justincormack commented on #26560
I don't see this in my strace for 1.12.1. I can install a 1.11.x machine to test, but it looks like this may be fixed now.

[2016-09-14 10:10] duglin commented on #26533
ok we can support this today but its kind of funky - but does make sense if you understand the total flow.

First, ONBUILD commands are run before ALL other Dockerfile commands, right after the FROM is processed.  This means that any `--build-arg`s put on the `docker build` command line will not impact the ONBUILD stuff because any ARG in the second Dockerfile won't be seen until after the ONBUILD

[2016-09-14 10:16] mikeprice99 commented on #26513
to help debug would also be handy to see the backendbase dockerfile.

[2016-09-14 10:20] ascora opened #26563 "Overlay / ingress network routing breaks on service restart"
**Description**
Overlay / ingress network routing breaks on service restart. I was able to reproduce this on in docker swarm mode on a swarm with 5 nodes and on a different swarm with 3 nodes, both running Ubuntu 16.04 and docker  1.12.1.

**Steps to reproduce the issue:**

When deploying a service for the first time for a port, the service is available from all nodes in a swarm
[code]

(works as

[2016-09-14 10:20] fbe commented on #26560
Hi @justincormack,

i'm currently not using user namespaces (and they shouldn't affect the client, too?)

[2016-09-14 10:21] ascora commented on #26530
I am able to reproduce this everytime I do a cervice create... servide rm ... service create chain. I filed in a new entry as I'm not sure how this is related and to add the details:

https://github.com/docker/docker/issues/26563

[2016-09-14 10:42] msnelling commented on #26415
I'm also getting this error on Docker 1.13.0-dev.
**Docker Version:**
[code]
**Docker Info:**
[code]

[2016-09-14 10:45] rawkode commented on #26533
Thanks @duglin - adopting the funk and changing ARG` to `ONBUILD ARG` works as suggested :+1

[2016-09-14 10:45] #26533 closed

[2016-09-14 10:46] dj-hedgehog commented on #26559
@justincormack The former problem was that I still had docker 1.11 installed (d'oh). After updating the error changed. I updated the issue title as well as the initial comment (also disabled SELinux).

[2016-09-14 10:56] siscia commented on #26120
I do confirm the issue.

With pretty much the same exact configuration.
[code]

Container running seems to do NOT have external networking (ex. I cannot make REST API call)

[2016-09-14 10:58] thaJeztah commented on #24107
@schmunk42 I _think_ it's currently client-side only (https://github.com/docker/docker/blob/e8b9f38c7e2e249084c78c81f136c6d22432af6f/cli/command/stack/deploy.go#L48-L69)

[2016-09-14 11:05] vdemeester commented on #17130
This is also related to https://github.com/docker/docker/issues/25615.
The usage and some manpages are generated using `cobra`.

[2016-09-14 11:07] vdemeester commented on #17123
"How to contribute to docker" is [here](https://github.com/docker/opensource/tree/master/docs/workflow) now. Let's close this one 👼

[2016-09-14 11:07] #17123 closed

[2016-09-14 11:09] lenovouser commented on #11518
They replaced https://github.com/docker/go-connections/pull/17 with https://github.com/docker/go-connections/pull/19, but nothing is happening :/

[2016-09-14 11:17] thaJeztah commented on #21913
I'm closing this issue because we are not able to reproduce this issue, and it's most likely related to something changing in the context (like @deanrather mentions).

@deanrather no there's no feature in docker to check which files have changed, and implementing that would probably be difficult. Docker calculates a hash/checksum for the files that are sent, but does not keep track *which* files a

[2016-09-14 11:17] #21913 closed

[2016-09-14 11:22] fbe commented on #26560
docker run -t -i --privileged docker:1.11 sh -c 'apk update && apk add strace && strace docker'

is the proper way to reproduce the issue in 1.11

[2016-09-14 11:27] axzxc1236 commented on #26556
I wonder if people just fork this repo (don't make any changes) are also affected.
Well, just forked to find out.

[2016-09-14 11:30] vdemeester commented on #26560
The only part I think of that is calling `useradd`/`adduser` is https://github.com/docker/docker/blob/07f580489908bf6a3373daac1473045406e1130d/pkg/idtools/usergroupadd_linux.go#L89 — but pretty sure it's only on deamon side, and when userns is enabled :sweat_smile:

[2016-09-14 11:30] jordimassaguerpla commented on #26440
thanks for adding me in the thread. I was out of the office and I couldn't answer before.

[2016-09-14 11:37] rhatdan commented on #26535
Docker is a client server operation.  When you execute the docker client the process that is running inside of the container is not a child of your process, it is a child of the docker-daemon/containerd/runc.  This process will have a loginUID of -1 since it was started by the init system.  This will not work and can not be fixed.  If you execute runc directly for running your containers or someth

[2016-09-14 11:51] nyanloutre commented on #26556
According to the Apache license :

      names, trademarks, service marks, or product names of the Licensor,
      except as required for reasonable and customary use in describing the
origin of the Work and reproducing the content of the NOTICE file.

I think "describing the origin of the Work" is exactly what the devs are doing by naming their repositories docker-xxxx

[2016-09-14 11:54] ahmed-bacha commented on #26535
Thanks @rhatdan for your clear answer.

[2016-09-14 12:11] thaJeztah commented on #16628
@marcbachmann could you open a new issue for your case? Also, if possible, could you provide more information about the container you were running (what was running in the container, what options did you provide to start the container (e.g. privileged, etc)). I _do_ see that scalaway is using a custom kernel, which could play a factor in this.

[2016-09-14 12:58] thaJeztah commented on #15173
I reopened https://github.com/docker/docker/pull/16325, but it will require some work to get it working again for the current code base

[2016-09-14 13:00] tompscanlan commented on #23865
@chaslemley agreed.  I've since found that verifying the enclosed binary is built statically for the correct base OS seems to fix this problem.

[2016-09-14 13:01] justincormack commented on #26560
It was this https://github.com/docker/docker/pull/21820 ie it was accidentally testing for the location of the `useradd` binary, which is used in the userns case, but it was happening on all `docker` invocations by mistake...

Going to close as fixed in current releases.

[2016-09-14 13:01] #26560 closed

[2016-09-14 13:02] PRADEEPKJ opened #26566 "Rootfs in docker 1.10"
Hi All,

Could you please tell me where will be the rootfs of the docker image in docker 1.10.3

I tried in /var/lib/docker. Dint find
Please let me know how it will get stored.

Regards,
Pradeep

[2016-09-14 13:19] unclejack commented on #26566
Hello

This issue tracker is dedicated to tracking Docker bugs, proposals and pull requests to make changes to Docker's source code. This issue tracker isn't a general support forum.
Please keep in mind that opening issues to ask questions when getting started will make everyone who contributes to the project spend more time looking at issues.

This kind of question and general support questions a

[2016-09-14 13:19] #26566 closed

[2016-09-14 13:22] hansij66 opened #26567 "Docker container cannot access internet"
From a docker container, I cannot ping gateway on my LAN (192.168.1.254) or 8.8.8.8 on the internet.
I can ping docker host (192.168.1.1).
I can ping other containers
I cannot build new docker images, as apt-get fails...
(from a KVM instance on same host, I can ping the world...(with or w/o iptables up) - hence basic network configuration seems ok (?)
Running a container with -net=host, all is fin

[2016-09-14 13:23] mjsalinger commented on #19758
I'm seeing this issue too and am able to consistently reproduce it.  Any movement on this?

[2016-09-14 13:25] thaJeztah commented on #17960
I this still an issue for anyone?

[2016-09-14 13:31] runcom commented on #26559
@dj-hedgehog which version of docker are you running? driver not supported seems to tell that you're not running a version of docker with overlay2, @justincormack when was overlay2 added?

[2016-09-14 13:43] Spectrik opened #26568 "Galera cluster with docker swarm mode(ver. 1.12)"
Hello,

I want to deploy galera cluster on 3 physical nodes and i want to use docker's native clustering(new swarm mode)

When i run the service like:
`docker service --create  --replicas 3 ... galera_image`

I get 3 containers running that image. That is OK. Problem is that i do not know how to configure the cluster i mean what do i put in the list of nodes?(next line)

wsrep_cluster_address=gcom

[2016-09-14 13:52] charlesa101 commented on #26542
+1 having exactly same issue described here

[2016-09-14 14:02] cpuguy83 commented on #19758
@mjsalinger There's a couple of things going on.
I'm working on reducing locking on the container object. This alone will help make sure the daemon stays responsive.

There's also some other changes that need to happen more related to the actual underlying problems.
Probably one being setting a timeout on netlink calls so we don't get hung requests to create or stop a container.

[2016-09-14 14:05] JargoonPard commented on #26120
I have been battling this same issue for a while now and yesterday I was able to resolve it by disconnecting my wired network connection.  I have been experiencing it on my laptop that had both a wifi and a wired network connection and tried Ubuntu 14.04 as well as 16.04 and had the exact same problem.  Pulling the plug on the wire resolved the issue.  I did not try the reverse though (disconnecti

[2016-09-14 14:09] vasil-yordanov commented on #26542
+1 I have also tested this and it is an issue also in the latest master branch, not only in 1.12.1. I'm curious how people are using docker swarm for micro-services if this functionality is not working.

[2016-09-14 14:11] thaJeztah commented on #22513
ping @mavenugo @aboch PTAL ^^

[2016-09-14 14:12] #25326 closed

[2016-09-14 14:33] thaJeztah commented on #13088
I'll go ahead and close, but happy to reopen if this is still an issue

[2016-09-14 14:33] #13088 closed

[2016-09-14 14:34] cpuguy83 commented on #26542
You can't use the `ingress` network for DNS resolution.
It should not be possible to even manually join the ingress network, IMO.

If you need services to be able to reach each other, create a network and put the services that need to talk in that network.

[2016-09-14 14:36] thaJeztah commented on #20936
@abawany adding more options to the GUI for Docker for Mac is something that's still being worked on, there's probably an issue tracking that in the docker for mac issue tracker; https://github.com/docker/for-mac/issues

[2016-09-14 14:39] thaJeztah commented on #25396
@Richard-Mathie could you open a separate issue for the problems you're having with kafka / networking?

[2016-09-14 14:41] Hronom commented on #22469
Can `COPY` command automatically convert line endings to the proper one?

[2016-09-14 14:45] Hronom commented on #22469
Or at least flag that enables line ending fixing, this will be very helpful, because this is big trouble then you work under windows.

[2016-09-14 14:48] RangerRick commented on #26367
We're seeing the same thing on ubuntu 16.04 as of a few days ago after an `apt-get dist-upgrade`.  I tried downgrading to docker-engine `1.11.2-0~xenial` and I see the same issue.  Maybe a kernel-upgrade issue from ubuntu?  Currently on `4.4.0-36-generic`.

[2016-09-14 14:48] justincormack commented on #26567
You need to give us the information requested in the form, and some more information about the networking setup, as it is not possible to debug with the information you have provided.

[2016-09-14 14:49] justincormack commented on #26559
overlay2 was added in 1.12.

[2016-09-14 14:52] abawany commented on #20936
@theJeztah I don't see anything in that list. Would you like me to add it and close this issue?

[2016-09-14 14:54] itsafire commented on #14403
On Debian jessie the behaviour is not reproducible. The problem still exists for Debian wheezy and  the most recent docker 1.12.1. So I guess the problem is tied to the shell init scripts and not present in systemd based boot environments.

[2016-09-14 14:55] niau commented on #26542
@cpuguy83 ah that explains the ubiquity of the issue :)
So  the default "**ingress**" network is "special" purpose overlay network that could be used only for external VIPs.
If we need internal and external VIPs between our services we need a second overlay network, then starting the service with two networks which eventually will result in similar output by docker service inspect

[code]

Thanks

[2016-09-14 14:57] dj-hedgehog commented on #26559
This error must be caused by the version check becaus after adding `--storage-opt overlay2.override_kernel_check=1` as a argument to dockerd it works.

In `/etc/systemd/system/multi-user.target.wants/docker.service` I've got ´ExecStart=/usr/bin/dockerd --storage-driver=overlay2 --storage-opt overlay2.override_kernel_check=1` now.
I'll close this once I'm running the first images succesfully.

[2016-09-14 14:58] dnephin commented on #17114
We had issues for auto-generating docs, but I don't remember seeing any for autocomplete

[2016-09-14 14:58] cpuguy83 commented on #26568
Not really a good way to run clustered applications as a single replicated service.
I suspect in the future we'll have DNS records for something like `<slot num>.<service name>` or a way to discover all IP's in the network.

I know we have an issue tracking this, but can't seem to find atm.

[2016-09-14 15:03] thaJeztah commented on #15379
This issue is quite old now, @vieux is this still being worked on from the Swarm side, or should we close?

[2016-09-14 15:04] Iakovenko-Oleksandr commented on #22469
Totally agree with @Hronom, while working from under Windows, editing entrypoint is really annoying

[2016-09-14 15:05] Richard-Mathie commented on #26568
you can get all IPs on the network with a dns lookup
`nslookup tasks.myservice`
see: https://github.com/docker/docker/blob/master/docs/swarm/networking.md#use-swarm-mode-service-discovery

[2016-09-14 15:05] runcom commented on #25555
Is this even working? The doc page for `docker plugin install` only mentions the Docker Hub as the host where plugins can come from. Are there already patches in docker/distribution to enable this with the open source registry? If not, is there a plan to enable this in the open source registry?

@tiborvass @anusha-ragunathan @bfirsh @stevvooe ?

[2016-09-14 15:06] thaJeztah commented on #20936
oh! that's because it's in the issue tracker for docker "engine", the "docker for mac" issue tracker is a separate issue tracker for issues that are specific to docker for mac (so cannot be solved / worked on in this repository). If you can open a new issue in the Docker for Mac issue tracker, so that we can close https://github.com/docker/docker/issues/26386 here, that'd be appreciated.

[2016-09-14 15:07] bargenson commented on #25266
Same thing here. I have two Swarm clusters running on Google Compute Engine with Docker 1.12.1 and an overlay network. The Operating System is Ubuntu 16.04 Xenial. Each cluster run one master and two workers.

When I started my services right after the clusters' creation, everything was running fine. After 5 days, my first cluster started to complain that some services were not able to communicate

[2016-09-14 15:11] hansij66 commented on #26567
Hi Justin, my apologies - I mis read the template slightly; attached (I hope) the requested info:

docker info
Containers: 35
 Running: 5
 Paused: 0
 Stopped: 30
Images: 10
Server Version: 1.12.1
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 175
 Dirperm1 Supported: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: hos

[2016-09-14 15:22] mlaventure commented on #26374
@coolljt0725 that's probably a good idea yes, do you want to make the PR for it? :)

has for the fix, it's not working properly for this case, I'll include the fix with docker/containerd#317

[2016-09-14 15:25] RangerRick commented on #26367
I was able to get it working again by switching storage backends:

[code]

Looks like maybe Ubuntu broke aufs in a recent kernel update?

[2016-09-14 15:30] thaJeztah commented on #22469
Automatic conversion is not something we will implement. Most editors allow you to set what line-endings to use for your files, and this situation is not any different from (e.g.) locally editing files on a Windows machine and uploading them to a Linux server. Docker cannot "assume" a file needs to be converted, as it doesn't know what the intent is (there are valid use cases where you would want

[2016-09-14 15:31] abawany commented on #26386
@thaJeztah suggested on #20936 that I re-log this issue in https://github.com/docker/for-mac/issues for proper tracking so I have done so: https://github.com/docker/for-mac/issues/621 . Please feel free to close or I can close it as well shortly.

[2016-09-14 15:32] abawany commented on #20936
Thanks: I have re-logged this as https://github.com/docker/for-mac/issues/621 and suggested at #26386 - will close the latter shortly as well if @icecrime or @LK4D4 don't beat me to it first.

[2016-09-14 15:34] thaJeztah commented on #17996
related https://github.com/docker/docker/pull/22228, and https://github.com/docker/docker/pull/23237

[2016-09-14 15:34] blafasel42 commented on #22258
Hi, i was facing the same problem lately. any news here? Would like to mount a host volume and make sure all files there belong to my developer user, not some unidentified user 1000.

[2016-09-14 15:36] thaJeztah commented on #17996
There's not a lot of activity on this issue, and given that the code changes to rename it never made it in, I'm closing this issue, but feel free to ping me if you feel strongly about renaming it

[2016-09-14 15:36] #17996 closed

[2016-09-14 15:37] LK4D4 commented on #17569
I think this proposal had enough time opened without attention. Some work was done by David Calavera. I personally think that we shouldn't overload CLI too much.
Feel free to open new issue or PR if you'll feel like that.

[2016-09-14 15:37] #17569 closed

[2016-09-14 15:37] alex-zadara opened #26569 "docker container remembers major/minor of a block device when restarted - can cause data corruption"
**Description**
When creating a docker container, we can attach a block device to it, using, for example "--device /dev/mapper/mydevice:/v1:rw". At this point, the container will resolve the device name to "major:minor" and persist it. When the container is started, it will use the "major:minor" to access the block device.

Now if we reboot the host machine, then the same "major:minor" can refer t

[2016-09-14 15:39] LK4D4 commented on #26474
@aboch Thanks for an explanation. @npcode I hope answer is ok for you. Thanks!

[2016-09-14 15:39] #26474 closed

[2016-09-14 15:41] LK4D4 commented on #18294
This issue spent a long time without any activity. I'm closing it. Feel free to open new.

[2016-09-14 15:41] #18294 closed

[2016-09-14 15:41] scher200 commented on #22260
has anyone a better solution then restarting the docker service (version 1.12)?

[2016-09-14 15:44] thaJeztah commented on #17114
perhaps we discussed it in that issue, that's possible. Looks like (currently) Cobra only supports *bash* completion, so if we'd like to have completions for other shells that would need a contribution to the Cobra repo; https://github.com/spf13/cobra/blob/master/bash_completions.md

I know a lot of work / manual tweaking has gone into our current completion scripts, so I have no idea if (with pro

[2016-09-14 15:45] LK4D4 commented on #18323
Issue spent a long time without attention. Feel free to rephrase it and open new!

[2016-09-14 15:45] #18323 closed

[2016-09-14 15:45] thaJeztah commented on #26386
Thank you! And sorry for the extra work of opening it there as well; we know it can be confusing :heart:

[2016-09-14 15:45] #26386 closed

[2016-09-14 15:46] LK4D4 commented on #18382
@tonistiigi Do you think it's still actual?

[2016-09-14 15:48] LK4D4 commented on #18337
Going to close this issue for lack of activity. Feel free to open new!

[2016-09-14 15:48] #18337 closed

[2016-09-14 15:48] wmario commented on #22981
Hi
Sorry for this I am running latest build of docker 1.21.1-beta25 build
6823... And it is still running.

Si maybe it is the latest w10 hyper-v which revolves the issue... 🙁

[2016-09-14 15:48] LK4D4 commented on #18396
Closing this for lack of activity. Feel free to open new!

[2016-09-14 15:48] #18396 closed

[2016-09-14 15:51] LK4D4 commented on #18431
Closing it as it didn't meet expected interest from the community. Implementation would be very challenging in a current state of things IMO, also.

[2016-09-14 15:51] #18431 closed

[2016-09-14 15:51] thaJeztah commented on #11518
looks like this was automatically closed because https://github.com/docker/libnetwork/pull/1367 was merged.

reopening because those changes are not yet vendored in this repository

[2016-09-14 15:51] mlaventure commented on #26469
@braykov the script basically just add the new source for you automatically.

As for the failure, I can't find a logical explanation why installing docker would break your `S01shm_load` init script (we don't provide such a script).

Could you share its content and from which package it is coming from (i.e. `dpkg -S /etc/init.d/../rc2.d/S01shm_load`)?

[2016-09-14 15:52] cpuguy83 commented on #22258
@blafasel42 (generally) users on the host match users in the container. If you want the host dir to have a particular UID/GID you need to set it.

[2016-09-14 15:52] LK4D4 commented on #18324
It's possible now to talk by names in networks. Closing issue.

[2016-09-14 15:52] #18324 closed

[2016-09-14 15:52] cpuguy83 commented on #22258
docker4mac is a slightly difference case since it does map UID/GID into the UID/GID that the container process was started with.

[2016-09-14 15:52] mlaventure commented on #26495
@volnet what error do you get with `vfs`?

The `btrs` and `zfs` would only work if your graphdriver directory is on their respective filesystem.

[2016-09-14 15:54] LK4D4 commented on #18718
It would be challenging to implement and pretty easy to workaround. Closing as inactive for now.

[2016-09-14 15:54] #18718 closed

[2016-09-14 15:55] cpuguy83 commented on #25266
@bargenson Curious... are these nodes' time in sync with each other?

[2016-09-14 15:55] LK4D4 commented on #18755
Yeah, it's too late now :/

[2016-09-14 15:55] #18755 closed

[2016-09-14 15:56] LK4D4 commented on #16198
Closing because code changed drastically and nobody reported this again.

[2016-09-14 15:56] #16198 closed

[2016-09-14 15:57] LK4D4 commented on #18497
Closing this again because that's how logging works.

[2016-09-14 15:57] #18497 closed

[2016-09-14 15:59] LK4D4 commented on #18733
Closing as it was decided that it breaks some contract. Feel free to open new issue.

[2016-09-14 15:59] #18733 closed

[2016-09-14 16:02] LK4D4 commented on #18777
Closing for lack of activity. Feel free to open new issue if it still persists.

[2016-09-14 16:02] #18777 closed

[2016-09-14 16:03] feus4177 commented on #17960
I've upgraded to Docker for Mac.

[2016-09-14 16:05] LK4D4 commented on #18635
I'm closing this issue for inactivity. Feel free to open PR about PID again, I'm pretty sure it will be accepted.

[2016-09-14 16:05] #18635 closed

[2016-09-14 16:06] LK4D4 commented on #18475
It's strange issue. I'm closing it because it was inactive for too long. Feel free to open new. New issues have much more attention.

[2016-09-14 16:06] #18475 closed

[2016-09-14 16:06] runcom commented on #18635
FWIW I'll be working on this.

[2016-09-14 16:07] LK4D4 commented on #18095
I think that stuff works in compose from-the-box now.

[2016-09-14 16:07] #18095 closed

[2016-09-14 16:09] LK4D4 commented on #18346
I think this issue should be handled in compose with some "runtime variables". It would be much more challenging to implement it in docker.

[2016-09-14 16:09] #18346 closed

[2016-09-14 16:09] LK4D4 commented on #18901
ping @mavenugo @mrjana @aboch

[2016-09-14 16:11] LK4D4 commented on #18731
It's still an issue btw. Not sure whom to ping
ping @stevvooe @aaronlehmann @tonistiigi @dmcgowan

[2016-09-14 16:12] LK4D4 commented on #16721
I'm closing this issue for inactivity.

[2016-09-14 16:12] #16721 closed

[2016-09-14 16:13] cpuguy83 commented on #26542
The `ingress` network is special-purpose and *only* for handling `-p`.

Closing since it looks like we figured out the issue.

[2016-09-14 16:13] #26542 closed

[2016-09-14 16:15] LK4D4 commented on #19023
Seems like we'll have daemon-wide seccomp profiles soon. Implementing daemon wide constraints is indeed a task of orchestration.

[2016-09-14 16:15] #19023 closed

[2016-09-14 16:19] thaJeztah commented on #18635
@runcom do you want it reopened already?

[2016-09-14 16:24] thaJeztah commented on #8910
@edevil are you still having this issue? I'm unable to reproduce with your  on Docker 1.12.1, both on Docker for Mac, and on Ubuntu 14.04 (with aufs)

[2016-09-14 16:24] majuansari opened #26571 "Docker-compose dns linking working not"
Hi ,

Please see the the following compose file

version: '2'

services:

### core Utilities Container ###########################

    core:
        build:
            context: ./docker/core
        volumes_from:
            - volumes_source
        extra_hosts:
            # IMPORTANT: Replace with your Docker Host IP (will be appended to /etc/hosts)
            - "dockerhost:10.0.75.1"

[2016-09-14 16:25] thaJeztah commented on #11407
@lennartjuette any results so far?

[2016-09-14 16:27] thaJeztah commented on #12265
Improved management is currently being worked on in https://github.com/docker/docker/pull/26108, and tracked through https://github.com/docker/docker/issues/22871

[2016-09-14 16:33] LK4D4 commented on #18635
oooh, don't open issue pls, just open PR

[2016-09-14 16:36] hekaldama commented on #24812
@thaJeztah My experience thus far indicates that the above example works only if swarm launches the task on the currently configured `DOCKER_HOST`. If it launches somewhere else on my swarm cluster, then I cannot get the logs for it unless I reset `DOCKER_HOST` to where the task is running. Am I missing something?

[2016-09-14 16:38] hekaldama commented on #26083
@gittycat my experience also shows that the workaround only works if swarm launches the task on the currently configured `DOCKER_HOST`. Is this your experience as well?

[2016-09-14 16:39] thaJeztah commented on #18635
LOL

[2016-09-14 16:42] mrjana commented on #26524
@michaelkrog Can you show the output of `docker service ps previsto-site` and `cat /proc/net/ip_vs` inside the container from where you did the curl?

[2016-09-14 16:42] thaJeztah commented on #26377
Oh! I think it was locked at some point because the wiki was abused by spam bots

[2016-09-14 16:42] runcom commented on #18635
Haha right, I'm just going to open a PR directly

[2016-09-14 16:43] ojhaujjwal commented on #8917
+1 this feature is needed

[2016-09-14 17:02] thaJeztah commented on #15173
Based on https://github.com/docker/docker/pull/16325#issuecomment-247079797, this most likely should now work; @mhrivnak are you able to confirm if this issue is resolved?

[2016-09-14 17:04] maresja1 commented on #15771
Would really like this as well - to speed up build I could copy some folder in earlier parts of the build and then cache would help me out ...

[2016-09-14 17:07] aboch commented on #22513
It looks this issue no longer happens with recent kernel:

[code]

@tiborvass I'd prefer to avoid adding work-around in the code for os-specific issues. Not even sure if those files are there in all the distributions and versions. Given it is a os specific issue, I think it is better for user to clean up the stale files via script.

[2016-09-14 17:11] tonistiigi opened #26573 "Flaky test: TestAttachClosedOnContainerStop"
https://jenkins.dockerproject.org/job/Docker%20Master/label=rhel72%20&&%20overlay/6820/console

Seen this a couple of times in last days but not before. Probably a regression.

[code]

[2016-09-14 17:11] anusha-ragunathan commented on #25555
@runcom : The doc for `docker plugin install` is incorrect. It needs to be updated to mention that any registry with version 2.3 and above with work.

[2016-09-14 17:23] dmcgowan commented on #18731
Upstream work is here https://github.com/docker/distribution/pull/1778

[2016-09-14 17:25] pmcq commented on #26452
It appears our EBS volumes getting terrible performance is the cause of this issue - resolving as unrelated to docker, apologies.

[2016-09-14 17:25] #26452 closed

[2016-09-14 17:29] aboch commented on #7510
@thaJeztah Agree, based on the discussion in that thread, it looks like a viable solution is provided which no longer requires the feature proposed in this issue. I think this should be closed now.

[2016-09-14 17:31] mitar commented on #18294
:-(

[2016-09-14 17:35] LK4D4 commented on #7510
I'm closing this based on discussion.

[2016-09-14 17:35] #7510 closed

[2016-09-14 17:35] lennartjuette commented on #11407
I had to reboot my host a few times the past week, so I have no long term results. But as far as I can tell there has been no noticeable delay in dns resolution anymore.

My stats still show some peaks, but the baseline its smoother and lower. Here are some before/after graphs.

![screenshot_2016-09-14-19-32-47](https://cloud.githubusercontent.com/assets/1701636/18522916/577816d2-7ab2-11e6-893a-48

[2016-09-14 17:36] LK4D4 commented on #13856
Closing. Seems like solved.

[2016-09-14 17:36] #13856 closed

[2016-09-14 17:36] stapelberg commented on #11518
Could someone take care of the vendoring please? I’m too pressed on time to figure out how that’s done.

[2016-09-14 17:37] LK4D4 commented on #18924
@stevvooe @aaronlehmann Sorry, can you post some update here?

[2016-09-14 17:38] LK4D4 commented on #18122
I'm closing this issue as it seems inactive. Feel free to open new if the problem persists.

[2016-09-14 17:38] #18122 closed

[2016-09-14 17:38] cpuguy83 commented on #26452
Thanks @pmcq!

[2016-09-14 17:39] LK4D4 commented on #19052
@cpuguy83 Do you know if this is still issue?

[2016-09-14 17:42] LK4D4 commented on #18363
I'm closing this issue in efforts to make issues list cleaner. Feel free to open PR.

[2016-09-14 17:42] #18363 closed

[2016-09-14 17:43] LK4D4 commented on #19043
Closing for inactivity. Also it possibly was solved.

[2016-09-14 17:43] #19043 closed

[2016-09-14 17:47] aboch commented on #8449
@mhart  I think this request makes sense.

Only thing is that there might be cases or automated tools which are now relaying on the fact that `docker run -P` always succeeds and they are fine with the host random port. With this change this would no longer be true (if the port is already taken on the host), and user would need to migrate them to handle the failure and retry with `-p X`.

[2016-09-14 17:48] cpuguy83 commented on #26367
@RangerRick Well, if you switch storage backends, it will require re-pulling/re-building everything.

[2016-09-14 17:51] LK4D4 commented on #14627
I wonder if we've resolved this. Going to close it to make issues list cleaner. Feel free to open new issue, it will have more attention.

[2016-09-14 17:52] LK4D4 commented on #19088
ping @thaJeztah @vdemeester

[2016-09-14 17:53] mhart commented on #8449
Right – and I actually don't want to change the behaviour of `-P`, it was just an illustration.

Perhaps I should have said I'd like `-p` but without an argument.

Would it be clearer if I changed the title of this issue to that?

[2016-09-14 17:55] mhart commented on #8449
Or maybe `-p exposed` or `-p EXPOSE` or something – you get my drift.

[2016-09-14 17:56] anusha-ragunathan commented on #26510
I thought about it a bit more and concluded that it is intrusive to require *all* users to upgrade to 3.19, while the issue might not be applicable to them. Instead, we can doc it in a known issues section and suggest the kernel upgrade as a workaround.

Adding a "Known issues" section in the release (https://github.com/docker/docker/releases).

cc @thaJeztah

[2016-09-14 17:56] LK4D4 commented on #19050
Closing this issue as inactive in efforts to make issue list cleaner. Feel free to open new proposal.

[2016-09-14 17:56] #19050 closed

[2016-09-14 17:57] LK4D4 commented on #16982
@cpuguy83 is this still issue?

[2016-09-14 17:59] anusha-ragunathan commented on #26510
We are not going to make kernel 3.19 as a hard requirement. So no code changes necessary.

[2016-09-14 17:59] mikedanese commented on #25403
Blocked by #26538

[2016-09-14 17:59] LK4D4 commented on #19120
I think it's possible to solve that with `docker volume`. Implementing new logic in `docker run` would be hell :(

[2016-09-14 17:59] #19120 closed

[2016-09-14 18:02] thaJeztah commented on #12265
Given that the issues mentioned in https://github.com/docker/docker/issues/12265#issuecomment-163707311 are already tracked through separate issues, let me close this issue to not duplicate things.

[2016-09-14 18:02] #12265 closed

[2016-09-14 18:02] LK4D4 commented on #11079
Those are all different issues and weren't reported again for a long time. Feel free to open new issues.

[2016-09-14 18:02] #11079 closed

[2016-09-14 18:02] LK4D4 commented on #19129
ping @endophage @thaJeztah

[2016-09-14 18:04] candrews commented on #14627
@LK4D4 I'm confused - so did you just close the issue, knowing that it's not fixed, simply to "make the issue list cleaner" ?

[2016-09-14 18:04] LK4D4 commented on #19134
There is no gccgo now and we have native compiler.

[2016-09-14 18:04] #19134 closed

[2016-09-14 18:05] aboch commented on #8449
@mhart  Cool, we are on the same page.
It looks like we either need a new flag or modify the semantic of an existing one (empty `-p`). We also need to make sure it fits properly in the remote API.

Given this is a new feature which requires UX discussion, maintainers need to take a look and decide which major release this can be targeted for.

[2016-09-14 18:06] LK4D4 commented on #19107
I'm closing this. Links now is not recommended way to connect containers.

[2016-09-14 18:06] #19107 closed

[2016-09-14 18:07] LK4D4 commented on #18936
ping @cpuguy83 @thaJeztah
Still worth to implement?

[2016-09-14 18:07] mhart commented on #8449
@aboch great! thanks for the clarification 👍

[2016-09-14 18:07] #25511 closed

[2016-09-14 18:08] mavenugo commented on #25215
Closing ...

[2016-09-14 18:08] #25215 closed

[2016-09-14 18:08] LK4D4 commented on #12849
@thaJeztah This should be done. And I think should be done by Docker Inc.

[2016-09-14 18:09] cpuguy83 commented on #18936
I think it's worth it.

[2016-09-14 18:09] cpuguy83 commented on #26546
ping @mlaventure

[2016-09-14 18:09] LK4D4 commented on #18908
docker/libnetwork#1096 for reference

[2016-09-14 18:10] LK4D4 commented on #15288
Closing as inactive. Was probably kernel issue. Pls, feel free to open new issue if the problem still persists.

[2016-09-14 18:10] #15288 closed

[2016-09-14 18:11] tonistiigi commented on #18382
There are 2 issues in here. If someone can implement(and maintain) btrfs storagedriver to use native diff, that change would be welcomed.

The other suggestion is conflicting with how build/push/pull work. Layers are not only something that exists locally. It is also conflicting with content addressability.

[2016-09-14 18:11] LK4D4 commented on #19128
ping @endophage
any updates here?

[2016-09-14 18:14] LK4D4 commented on #10096
I think it's fixed now. Feel free to open new issues.

[2016-09-14 18:14] #10096 closed

[2016-09-14 18:15] LK4D4 commented on #19214
ping @thaJeztah

[2016-09-14 18:18] LK4D4 commented on #19819
works now

[2016-09-14 18:18] #19819 closed

[2016-09-14 18:21] LK4D4 commented on #19809
I think it's mostly problem of running programs and not our runtime. I'm closing this as inactive. Feel free to open new issue if you have idea how to implement it properly.

[2016-09-14 18:21] #19809 closed

[2016-09-14 18:22] LK4D4 commented on #19802
ping @mavenugo @mrjana @aboch @sanimej

[2016-09-14 18:24] LK4D4 commented on #18467
oooh, it's pretty old
Closing this as not active.

[2016-09-14 18:24] #18467 closed

[2016-09-14 18:25] LK4D4 commented on #19591
Closing as it's possibly was transient error.

[2016-09-14 18:25] #19591 closed

[2016-09-14 18:26] LK4D4 commented on #19718
I'm closing this issue in efforts to make issues list cleaner. Feel free to open new issue.

[2016-09-14 18:26] #19718 closed

[2016-09-14 18:27] LK4D4 commented on #19904
Did not see that for a long time.

[2016-09-14 18:27] #19904 closed

[2016-09-14 18:27] LK4D4 commented on #13410
ping @cyli @NathanMcCauley @diogomonica

[2016-09-14 18:29] LK4D4 commented on #11093
I think that daemon now respects environment variables. Feel free to open new issue if not.

[2016-09-14 18:29] #11093 closed

[2016-09-14 18:30] LK4D4 commented on #19664
@ibuildthecloud I believe this is still an issue. Could you confirm?

[2016-09-14 18:31] LK4D4 commented on #19791
I don't know the story, but seems like all participants lose interest.

[2016-09-14 18:31] #19791 closed

[2016-09-14 18:31] pjps commented on #14627
|I wonder if we've resolved this. Going to close it to make issues list cleaner.

@LK4D4 Please don't close it if it's not fixed. I'll try and check if it's been fixed and will close it once done.

[2016-09-14 18:31] LK4D4 commented on #19956
Closing as inactive. Feel free to open new issue - new issues will have much more attention.

[2016-09-14 18:31] #19956 closed

[2016-09-14 18:32] aaronlehmann commented on #18924
I don't think there's any active work going on related to this. The current behavior is a result of the present design of image storage and the tradeoffs it entails. Fixing this would be part of a broader discussion on changing that design.

[2016-09-14 18:33] LK4D4 commented on #16925
@thaJeztah @runcom @vdemeester Do you think we can close this?

[2016-09-14 18:33] niau commented on #26542
@cpuguy83  It is cool to be closed but I think that ticket has to be followed up by a couple of extra lines regarding the special purpose of the ingress network here https://docs.docker.com/engine/swarm/networking/

[2016-09-14 18:35] LK4D4 commented on #19995
I think that it was implemented with `--userns=host`. Feel free to open new issue if not.

[2016-09-14 18:35] #19995 closed

[2016-09-14 18:37] cpuguy83 commented on #26542
@niau #25396

This is really a bug, IMO.

[2016-09-14 18:37] LK4D4 commented on #20030
Closing for inactivity. Feel free to open new issue if the problem still persists.

[2016-09-14 18:37] #20030 closed

[2016-09-14 18:37] curtiszimmerman commented on #19107
Ah, this feature idea is actually decoupled from the linking functionality. For this, I envisioned only being able to pass environment variables with `--env-from` but without any actual container linking. What I imagined would be a way merely to pass environment variables.

[2016-09-14 18:37] mrjana commented on #26480
@rajkumar49 I think your issue is related to gossip channel not established. Can you attach daemon logs for the node where you are having problems?

[2016-09-14 18:38] LK4D4 commented on #20039
@cpuguy83 still problem?

[2016-09-14 18:38] randunel commented on #25215
@mavenugo has a fix been released? Is it production ready, even by docker standards, at least present in the binaries?

[2016-09-14 18:39] LK4D4 commented on #19107
@curtiszimmerman Feel free to open new proposal with your vision of feature.

[2016-09-14 18:44] LK4D4 commented on #14627
@pjps @candrews I'm not evil closer, guys. I'm trying to really make issues doing something.  There are 2600 open issues, chance that someone related will find this issue is close to zero. A new issue will have much more attention.
I personally don't know if it's fixed or not. At least we have some attention now.

[2016-09-14 18:44] cpuguy83 commented on #20039
Yep

[2016-09-14 18:45] LK4D4 commented on #20077
@Mashimiao Could you try to answer this question? Thanks!

[2016-09-14 18:47] niau commented on #26542
@cpuguy83  👍 sure it is took us a couple of days of debgging and testing and still were not able to figure out where do the packets disappear in the "ingress" network.

[2016-09-14 18:47] LK4D4 commented on #15704
@jprogn @joysarkarhub Is this still issue?
ping @aaronlehmann @stevvooe
@thaJeztah maybe you know some other people to ping

[2016-09-14 18:48] LK4D4 commented on #19749
I'm closing this issue as inactive. Feel free to open new issue.

[2016-09-14 18:48] #19749 closed

[2016-09-14 18:49] LK4D4 commented on #20039
@cpuguy83 know someone who could fix?

[2016-09-14 18:50] LK4D4 commented on #20159
Closing as it's unclear from issue what feature it should be. Feel free to open new issue.

[2016-09-14 18:50] #20159 closed

[2016-09-14 18:51] pjps commented on #14627
|I personally don't know if it's fixed or not. At least we have some attention now.

@LK4D4: I'll try and confirm it through the weekend. At least let it be open till then.

[2016-09-14 18:52] LK4D4 commented on #20127
@jhowardmsft @darrenstahlmsft was it fixed or what?

[2016-09-14 18:53] LK4D4 commented on #20212
@jhowardmsft I'm going to close this prematurely. Feel free to reopen if you still have problems. Thanks!

[2016-09-14 18:53] #20212 closed

[2016-09-14 18:53] LK4D4 commented on #17951
@cpuguy83 do you know what's going on?

[2016-09-14 18:56] LK4D4 commented on #14627
@pjps No problem, but I suggest to open new anyway later :)

[2016-09-14 18:57] LK4D4 commented on #18611
@dnephin @tonistiigi was this issue resolved? Thanks!

[2016-09-14 18:57] mavenugo commented on #25215
@randunel the fix (https://github.com/docker/libnetwork/pull/1369) is merged into docker master. It will be cherry-picked into 1.12.2 branch when the bump branch is pulled. So yes. it will be available in the next docker release.

[2016-09-14 18:58] lenovouser commented on #11518
https://github.com/docker/go-connections/pull/19 needs to be merged before this gets vendored into this repository. Just want to point that out in case the other Docker developers missed that.

[2016-09-14 18:58] niau commented on #26568
@Spectrik you can follow the path towards the 3 separate services. In this case it will work with replication factor of one and then build the cluster between them. In the end it looks like the replicas solution is more for services that don't share too much state between each other which is not exactly what you are looking for.

To do so you will obviously need also a separate overlay network in

[2016-09-14 18:58] LK4D4 commented on #20273
@duglin I know that you're parser lord. Do you have some comments? Thanks!

[2016-09-14 19:00] LK4D4 commented on #20390
@cpuguy83 @dnephin What do you think we should do with this issue?

[2016-09-14 19:01] dnephin commented on #18611
It was not resolved. `docker-py` doesn't always create the same tarball, for example https://github.com/docker/docker-py/issues/1206, and there may be other metadata that isn't stripped the same way.

This is being tracked here: https://github.com/docker/compose/issues/883 so I think we can close this issue.

[2016-09-14 19:01] #18611 closed

[2016-09-14 19:13] aboch commented on #12239
@anapsix @rohansingh @aespinosa We have not seen this issue for quite sometime.
Given the above mentioned changes were merged, can you confirm the issue is not reproducible for you as well with recent docker versions ?
Thanks.

[2016-09-14 19:14] vingrad commented on #20398
Migrating to swarm-mode is very difficult, because there are not alternative for docker-compose. Docker bundles does not support many features and they are experimental.

[2016-09-14 19:16] braykov commented on #26469
I will repeat this from my first post above:

This file does not exist under Ubuntu. Actually `/etc/init.d` contains no sub-folders.

[2016-09-14 19:16] thaJeztah commented on #26377
I added a link to your project, and the travis file https://github.com/docker/docker/wiki/Projects-using-docker

A good resource (and open source, so you can open pull requests to make changes), is https://github.com/veggiemonk/awesome-docker, which contains many useful links.

I'l close this issue, because it's resolved, but let me know if there's more changes to be made

[2016-09-14 19:16] #26377 closed

[2016-09-14 19:16] jhowardmsft commented on #20127
No.

[2016-09-14 19:19] dnephin commented on #20390
My position hasn't changed from the above comment:

I think docker does enough to initialise volumes, anything more elaborate is a less common use case and can be built into a separate tool.

[2016-09-14 19:22] LK4D4 commented on #20444
I think it's possible with iptables.
ping @mavenugo @mrjana @aboch @sanimej

[2016-09-14 19:24] duglin commented on #20273
Well, as many know, its worse than what @mcandre described - comments are only valid if the "#" is at the first position of the line, no spaces at all allowed - at any other column its treated as part of the command.  See #24725 for a related issue/PR.

As I mentioned in that PR finding comments at any spot in the line would be harder but not impossible. If I'm remembering correctly, the parser kn

[2016-09-14 19:26] LK4D4 commented on #20273
@duglin thanks for update!

[2016-09-14 19:27] LK4D4 commented on #20127
@jhowardmsft thanks for update!

[2016-09-14 19:28] thaJeztah commented on #22513
Perhaps this is something for a "known issues" section (was just discussing this earlier with @anusha-ragunathan)

[2016-09-14 19:28] aboch commented on #14788
Given the above comments state this specific issue was fixed in 1.9.0 and we had not heard of this specific problem being reproduced on the past two docker versions (1.12.1 and 1.11.2) I am suggesting to close this issue.

[2016-09-14 19:37] RangerRick commented on #26367
That is true; in our case I was fine with blowing everything away and rebuilding because these are test/CI machines.  I was just trying to point out that docker itself still works with another storage driver, and reverting docker versions doesn't fix it, so it points to an issue with aufs on Ubuntu's side.

[2016-09-14 19:39] vingrad commented on #26530
Please fix asap.

[2016-09-14 19:44] manast opened #26580 "Creating a network using the remote API requires IPAM field and gives incorrect error"
**Description**

When trying to create a network using the remote API, according to the documentation 1.24 (https://docs.docker.com/engine/reference/api/docker_remote_api_v1.24/#/create-a-network)
the IPAM field is an optional parameter, but if not provided, the following error is returned:
"rpc error: code = 3 desc = driver name: if driver is specified name is required" which does not seem correc

[2016-09-14 19:51] thaJeztah commented on #24812
@hekaldama that's the current limitation yes; for now, the best solution is to use a logging driver that allows you to centrally aggregate logs.

However, I think @stevvooe is working on this feature currently (but I've been on vacation, so not fully up to speed)

Ping @stevvooe is that correct? Should I assign this issue to you?

[2016-09-14 19:55] thaJeztah commented on #17323
Not sure if IP-range would make much sense for inspect on a single container (it is visible on `docker network inspect`), the other properties possibly

ping @mavenugo wdyt?

[2016-09-14 19:56] aboch commented on #15151
This no longer happens in recent docker versions.
If the container crashes, containerd will notify the daemon which in turn will ask libnetwork to release the resources held by the container.

Tested killing the container pid in 1.11.2 and 1.12.1 and the corresponding rules in the nat table are correctly removed.
I think this issue can now be closed.

[2016-09-14 20:01] LK4D4 commented on #14788
Closing this due to comments. Feel free to open new issue if the problem still persists.

[2016-09-14 20:01] #14788 closed

[2016-09-14 20:01] LK4D4 commented on #15151
@aboch Nice, thank you!

[2016-09-14 20:01] #15151 closed

[2016-09-14 20:06] LK4D4 commented on #20439
Ok, I'm closing this because seems like instructions are decent. Feel free to open new issue!

[2016-09-14 20:06] #20439 closed

[2016-09-14 20:07] thaJeztah commented on #13298
We do have separate pages for all subcommands, so programmatically generating a link would be possible now.

However, ideally, I'd like the help output to be useful
- improving the overall output and description (https://github.com/docker/docker/issues/18797, https://github.com/docker/docker/issues/18385, https://github.com/docker/docker/issues/25615, https://github.com/docker/docker/issues/25615)

[2016-09-14 20:08] stevvooe commented on #25555
I'll try to capture some of my concerns here. Let me know if you need me to expand.

To tell you the truth, I am not a huge fan of the plugin API design, as a whole. Things like `PluginSetting` are very confusing. Things like [`PluginEnv`](https://github.com/docker/docker/blob/master/api/types/plugin.go#L121) are very different from the rest of the API.

For the plugin setting use case, I would ju

[2016-09-14 20:09] smith64fx commented on #22258
I wrote a script which lets you map your userid/groupid to any user inside docker.

This is a fully working example.
https://github.com/schmidigital/permission-fix

Please try and let me know, if you have any questions :)

[2016-09-14 20:10] stevvooe commented on #15173
@aaronlehmann PTAL

[2016-09-14 20:10] LK4D4 commented on #20474
Closing this as inactive. Feel free to post new issue.

[2016-09-14 20:10] #20474 closed

[2016-09-14 20:12] thaJeztah commented on #19088
closing this in favor of https://github.com/docker/docker/issues/25615

[2016-09-14 20:12] #19088 closed

[2016-09-14 20:13] smith64fx commented on #22258
OK I see this is not working anymore...

everything in my container is now mapped to "root".. hmm

[2016-09-14 20:17] thaJeztah commented on #15704
I know @dmcgowan helped out in previous cases, based on the description this is a MITM proxy?

[2016-09-14 20:19] mavenugo commented on #17323
Yes. I dont see a need for ip-range and gateway for containers. infact the most important one is the ip-address which we already display. I think we should just close this issue.

[2016-09-14 20:19] endophage commented on #19129
The first bulleted option is already supported and in use. The trust code will (and if it's not working, let us know) fall back and attempt to use the registry hostname. Notary traffic can then be proxied based on hostname by matching `/v2/{image name regex}/_trust/*`

We also intend to add support in the future to for the second bullet, permitting notary "GUN" prefixes to be mapped to specific tr

[2016-09-14 20:21] thaJeztah commented on #18382
OHMAN, perhaps @vbatts is interested :heart:

[2016-09-14 20:25] LK4D4 commented on #20306
I think implementation would be challenging. Going to close it for now. Feel free to open new issue if you have ideas how to do that.

[2016-09-14 20:25] #20306 closed

[2016-09-14 20:25] thaJeztah commented on #8910
ping @justincormack any idea if there's anything to do here?

[2016-09-14 20:25] stevvooe commented on #24812
I am currently working on a implementation for `docker service logs`. `docker logs` will continue to work as it does today. I'm sorry that I don't have a proposal to link to yet but I have a design and working branch that does this.

[2016-09-14 20:26] LK4D4 commented on #20483
Seems just like gcc is too expensive on memory. Closing this. Feel free to open new issue.

[2016-09-14 20:26] #20483 closed

[2016-09-14 20:28] LK4D4 commented on #20463
@tonistiigi would you mind to take a look? It's probably too late to do anything, though.

[2016-09-14 20:29] LK4D4 commented on #20491
This was implemented.

[2016-09-14 20:29] #20491 closed

[2016-09-14 20:30] remram44 commented on #25925
I'm running into this exact issue:
[code]
Is latest Docker just f*ed up? Do we know which versions are affected?

[2016-09-14 20:34] tonistiigi commented on #20463
This is fixed but you have to update both machines. Anything below v1.10 can't identify duplicate layers on load. If the saved images share layers they will appear as duplicates in tar with versions less than v1.12. Load on `v1.10+` would correct the duplication in tar but it will still be inefficient.

[2016-09-14 20:34] #20463 closed

[2016-09-14 20:39] LK4D4 commented on #19933
ping @mavenugo @aboch @mrjana @sanimej

[2016-09-14 20:40] LK4D4 commented on #20536
Looks like was fixed in #20557

[2016-09-14 20:40] #20536 closed

[2016-09-14 20:42] LK4D4 commented on #20520
Just tested. Works now.

[2016-09-14 20:42] #20520 closed

[2016-09-14 20:45] #17743 closed

[2016-09-14 20:47] LK4D4 commented on #20539
Closing this as inactive. Feel free to open new issues if you experiencing problems.

[2016-09-14 20:47] #20539 closed

[2016-09-14 20:48] LK4D4 commented on #18708
@aaronlehmann Is this still an issue?

[2016-09-14 20:50] LK4D4 commented on #19235
@thaJeztah There is still no such section and you're closed PR about it. So, this issue is yours :)

[2016-09-14 20:53] LK4D4 commented on #20179
@aboch is this still an issue? Do you think #20067 is duplicate?

[2016-09-14 20:54] LK4D4 commented on #3744
Doesn't look that we can do something here. Also it wasn't reported recently.

[2016-09-14 20:54] #3744 closed

[2016-09-14 20:55] aaronlehmann commented on #18708
I think so. But the issue author says:

and now there are workaround for this (identity tokens, and registry credential stores)

[2016-09-14 20:56] aaronlehmann commented on #15173
I commented here: https://github.com/docker/docker/pull/16325#issuecomment-247079797

[2016-09-14 20:56] LK4D4 commented on #20693
ping @thaJeztah @vdemeester for update

[2016-09-14 20:57] LK4D4 commented on #20717
@tonistiigi Do you think this should be closed?

[2016-09-14 20:58] tonistiigi commented on #20717
@LK4D4 Indeed

[2016-09-14 20:58] #20717 closed

[2016-09-14 20:59] vdemeester commented on #20693
Assigning this to myself… had a little of work before 1.12. I should rebase and restart from there :angel:

[2016-09-14 21:00] LK4D4 commented on #18708
@aaronlehmann I still think that we should have that for symmetry. Leaving open.

[2016-09-14 21:03] jhowardmsft commented on #20520
Oooh neat :)

[2016-09-14 21:04] vdemeester commented on #20520
@runcom fixed it a while ago… didn't know there was an issue about that :sweat:

[2016-09-14 21:05] mlaventure commented on #26546
@sfitts can you provide the rest of the docker logs please?

Also, is there any devicemapper related error in your syslog?

[2016-09-14 21:06] mlaventure commented on #26469
@braykov the actual path is `/etc/rc2.d/S01shm_load`)

[2016-09-14 21:06] aboch commented on #24155
@jean-christophe-manciot
From your comment

I would think your upgrade leap span more than one docker version. In general, if you have important containers/images/networks, I think the safe approach (not sure if recommended somewhere)  is to perform incremental version upgrades, till you get to your  desired version.

I know ideally this should not be needed, but we are not always able to assure t

[2016-09-14 21:07] LK4D4 commented on #15974
@thaJeztah I think this is an important issue. I wonder if you could take care of it.

[2016-09-14 21:08] LK4D4 commented on #20755
@runcom did you see it recently? Maybe we can close issue for now.

[2016-09-14 21:08] LK4D4 commented on #16883
This was fixed... multiple times :(

[2016-09-14 21:08] #16883 closed

[2016-09-14 21:08] mlaventure commented on #22350
@rmrf This is issue is already closed as upgrading to 1.11.1 fixed it for its creator. Since you're running 1.11.2 it may be a different scenario, please open a new one with needed information on how to reproduce.

[2016-09-14 21:09] aboch commented on #23971
@saada Based on your finding about the `docker-compose down` to be run as part of  your workflow, do you think we can now close this issue ?

[2016-09-14 21:10] jhowardmsft commented on #20520
:tada: @runcom

[2016-09-14 21:16] dmcgowan commented on #15704
Looks like this issue has been caused by a buggy version of gnutls generating invalid certificates. The error is indicative of an invalid certificate being presented to Docker.

If you encounter this issue you can see this references:
https://rhn.redhat.com/errata/RHSA-2015-1457.html
https://github.com/golang/go/issues/6837#issuecomment-122343528
http://blog.alex.org.uk/2015/10/13/rsa-modulus-is-n

[2016-09-14 21:16] #15704 closed

[2016-09-14 21:16] endophage commented on #19128
No recent progress. Also I think https://github.com/docker/docker/issues/25852 is probably a blocker on enabling content trust by default.

[2016-09-14 21:19] thaJeztah commented on #15234
opened a PR that adds a direct link to the image. not a fancy lightbox, but we can improve in future if needed: https://github.com/docker/docker/pull/26582

[2016-09-14 21:23] aboch commented on #20179
@LK4D4 I think the two issues are not a duplicate. This one is about controlling the default route the other one is about a consistent interface order.

@thechile
Regarding

that is not the generic rule, the pickup logic is now clarified in the docs https://github.com/docker/docker/blob/master/docs/userguide/networking/index.md:

So even now if you play with the network names, you can determinista

[2016-09-14 21:24] #15234 closed

[2016-09-14 21:27] aboch commented on #23954
@Caligatio

I'd suggest you to open an issue on the ovs plugin project to get the proper attention to this feature request.
Given the vlan info would be a driver specific option, you would then be able to pass it to the driver via `--opt` flag during network create.

This is not really a docker/docker issue, I think it should be closed.

[2016-09-14 21:36] LK4D4 commented on #20765
I'm going to close this because it's inactive. Feel free to open new issue.

[2016-09-14 21:36] #20765 closed

[2016-09-14 21:38] LK4D4 commented on #18125
I think ARM almost totally supported now.

[2016-09-14 21:38] #18125 closed

[2016-09-14 21:46] LK4D4 commented on #20297
ping @mrjana @mavenugo @aboch @sanimej

[2016-09-14 21:46] LK4D4 commented on #7540
ping @mrjana @mavenugo @aboch @sanimej

[2016-09-14 21:47] LK4D4 commented on #9614
@rhvgoyal Is this fixed or is going to be fixed? Maybe we can close it?

[2016-09-14 21:48] braykov commented on #26469
@mlaventure OMG, got it:\

[code]

[2016-09-14 21:48] friism commented on #22567
@summerfang we've improved the networking in the latest betas, could you try installing beta26? https://docs.docker.com/docker-for-windows/

[2016-09-14 21:49] LK4D4 commented on #10503
Going to close this because it's not active. Feel free to open new issue.

[2016-09-14 21:49] #10503 closed

[2016-09-14 21:52] LK4D4 commented on #11110
There is a lot of info under docs/userguide/storagedriver. Going to close this as solved.

[2016-09-14 21:52] #11110 closed

[2016-09-14 21:54] LK4D4 commented on #11971
ping @aaronlehmann
I know you worked on progress bar recently.

[2016-09-14 21:55] LK4D4 commented on #13083
@stevvooe @aaronlehmann what's up here?

[2016-09-14 21:56] LK4D4 commented on #11549
Going to close this because of inactivity. Feel free to open new issue.

[2016-09-14 21:56] #11549 closed

[2016-09-14 21:56] aboch commented on #25138
@npcode @fruetschi
Do you happen to have Symantec AV installed ?
Please take a look at #14904

[2016-09-14 21:58] aboch commented on #19261
To recover form this scenario, please follow the steps provided in https://github.com/docker/docker/issues/19261#issuecomment-201085920

[2016-09-14 21:59] stevvooe commented on #13083
Seems to work correctly:

[code]

I think we can close this.

[2016-09-14 21:59] LK4D4 commented on #11200
It was a long time. Very hard to figure out anything now. Feel free to open new issue.

[2016-09-14 21:59] #11200 closed

[2016-09-14 21:59] #13083 closed

[2016-09-14 22:00] LK4D4 commented on #10378
@stevvooe @aaronlehmann @dmcgowan do you know if it's still an issue?

[2016-09-14 22:01] LK4D4 commented on #11542
@thaJeztah could you pls somehow create task for docker hub? I'm going to close this here.

[2016-09-14 22:01] #11542 closed

[2016-09-14 22:02] aboch commented on #14517
@vijayendrabvs  The feaures related to this ticket are no longer part of experimental build for few releases now. I am also aware they are currently used in AWS and other cloud hosting services and they work provided the proper ports are open for the control plane protocols.

Are you still seeing this issue, otherwise I'd suggest we close it. Thanks.

[2016-09-14 22:03] LK4D4 commented on #7153
@thaJeztah what's up here? I know windows and oracle has images, dunno how does that work.

[2016-09-14 22:05] LK4D4 commented on #6189
@vbatts sorry to ping you. Do you know what's going on here?

[2016-09-14 22:06] mlaventure commented on #26469
Could you tell us where it's coming from: `dpkg -S /etc/rc2.d/S01shm_load`

And to be sure can you run `/sbin/init --help` or similar to assert that your system is indeed using systemd.

[2016-09-14 22:11] aluzzardi commented on #25608
Hey @aboch - assigning to you since you have the most context on this one

[2016-09-14 22:12] braykov commented on #26469
[code]
Does this mean I can delete this file?

... and now `/sbin/init --help`:
[code]

[2016-09-14 22:12] aboch commented on #26580
This happens when swarm is active, correct ?
I think this was fixed recently on master. Will look for the PR.

[2016-09-14 22:12] aaronlehmann commented on #11971
@LK4D4: Do you want me to work on this, or are you asking for an opinion?

[2016-09-14 22:15] anapsix commented on #12239
I don't always loose interest in the issues I've reported, but when I do, it's been over a year..

[2016-09-14 22:17] anapsix commented on #12239
also.. haven't encountered it since

[2016-09-14 22:18] manast commented on #26580
yes. using swarm mode

[2016-09-14 22:18] mlaventure commented on #26469
@braykov this I cannot tell you :sweat_smile:

You can first try to move it somewhere safe and see if it affects your system or not.

[2016-09-14 22:18] aboch commented on #26580
Hmm, looks like the fix is not merged yet.
Nevertheless I think this issue is a duplicate #25735

[2016-09-14 22:18] aaronlehmann commented on #10378
No, this shouldn't be an issue anymore.

[2016-09-14 22:18] #10378 closed

[2016-09-14 22:19] manast commented on #26580
looks like it :)

[2016-09-14 22:21] aluzzardi commented on #24092
Assigning to @dongluochen - however can't actually assign since he's not a maintainer of docker/docker

[2016-09-14 22:21] tonistiigi commented on #26434
@dnwake You can use our old frozen images pull script https://gist.github.com/tonistiigi/6ca815205b8c8213dc58086b703c26d6 and then extract the output folder.

[2016-09-14 22:24] tonistiigi commented on #26434
@dnwake Parents marked as "<missing>" is correct behavior. Docker doesn't pull parent images in `v1.10+`, you will only see them on the machine that built time image.

[2016-09-14 22:31] LK4D4 commented on #11971
@aaronlehmann just opinion. Is it doable, is it worth efforts?

[2016-09-14 22:33] thaJeztah commented on #7153
For Windows, I guess the license is "in place", because you can only pull/run them on a Windows machine. For RHEL, I noticed that a redirect is in place to pull the actual images from their servers, also (possibly Oracle as well, ping @Djelibeybi ?) you'll get the Image, but you need to add a subscription to actually do anything with them (i.e., to install software from their repositories);

[code

[2016-09-14 22:35] aluzzardi commented on #24906
I guess the issue is that ingress network is not configurable by the user, right? /cc @mrjana @mavenugo

[2016-09-14 22:38] Djelibeybi commented on #7153
@thaJeztah Unlike other enterprise distributions, Oracle Linux is free to download, distribute and use and our Docker image is preconfigured to use our publicly available yum repos. The standard GPL EULA is included within the image (as it would be on a bare-metal install). We don't require a subscription.

[2016-09-14 22:39] aluzzardi commented on #24531
@ligc This has been fixed in master and will be in the next (1.12.2) release.

Could you try with master and confirm?

[2016-09-14 22:40] thaJeztah commented on #11542
The Web interface now shows all sizes, so I don't think we need to open an issue there: https://hub.docker.com/r/library/ubuntu/tags/

<img width="1031" alt="screen shot 2016-09-15 at 00 39 18" src="https://cloud.githubusercontent.com/assets/1804568/18532532/ec2764de-7adc-11e6-8a6b-44e99fb4a12d.png">

[2016-09-14 22:41] aluzzardi commented on #24310
@dperny will attempt to reproduce the issue with 16.04 and report here

[2016-09-14 22:41] thaJeztah commented on #7153
Thanks @Djelibeybi

@flavio would a similar approach work for SUSE as well? I guess an EULA can still be included in the description on Docker Hub.

[2016-09-14 22:42] mavenugo commented on #24906
@aluzzardi we dont have any options today to configure ingress network. That is infact a problem not just for MTU. But also for all other network settings. I think we should allow the user to remove the automatically created ingress network & create it again (or) have ability to change the network configuration.

[2016-09-14 22:46] aboch commented on #18423
This issue should be closed. It's a dupe and the bug has been fixed long ago.
ping @LK4D4

[2016-09-14 22:46] aluzzardi commented on #24108
@albers @vdemeester Is this simply a documentation issue?

[2016-09-14 22:48] aluzzardi commented on #24082
I believe this has been fixed with default restart delay.

Closing this down - @nathanleclaire are you okay with this?

[2016-09-14 22:48] #24082 closed

[2016-09-14 22:49] #23954 closed

[2016-09-14 22:49] aluzzardi commented on #24078
@LK4D4 - assigning to you since you're working on upgrading gRPC

[2016-09-14 22:51] thaJeztah commented on #12239
I'll go ahead and close this issue, but feel free to comment if you think I closed this by mistake

[2016-09-14 22:51] #12239 closed

[2016-09-14 22:52] thaJeztah commented on #24082
@aluzzardi which release is this fix in, is that in 1.12 or will be in 1.13? (so that I can set the correct milestone)

[2016-09-14 22:57] aluzzardi commented on #24614
@sanimej Has this been fixed?

#26323 was opened a few days ago and seems to be related to this.

/cc @mrjana @mavenugo

[2016-09-14 22:58] dperny commented on #24614
Related to swarmkit/#1419 perhaps?

[2016-09-14 23:00] aboch commented on #18129
@nazar-pc Do you still see this issue with recent docker versions ?

[2016-09-14 23:00] aluzzardi commented on #26323
@CrimsonGlory Can you consistently reproduce this problem?

[2016-09-14 23:00] nathanleclaire commented on #24082
seems reasonable

[2016-09-14 23:01] aluzzardi commented on #24614
@mgoelzer @mavenugo Hey, is this the issue you've trying to reproduce on RHEL? Can you still reproduce it with the latest version?

[2016-09-14 23:04] 5tefan commented on #26358
Same results with the following setup (`overlay`)

[code]

Other things:

- I was unable to reproduce using [stress](https://hub.docker.com/r/progrium/stress/) with --hdd 200, both on and off a -v mount with default and 8k for --hdd-bytes
- I was unable to reproduce the issue in an isolated simplified example with `ncgen`

This seem to hint that there is an issue in my code which seemed odd since

[2016-09-14 23:04] #26358 closed

[2016-09-14 23:06] #18423 closed

[2016-09-14 23:08] nazar-pc commented on #18129
Didn't try for a long time, will do till the end of the week on latest stable version on the same server and report here.

[2016-09-14 23:14] thaJeztah commented on #17323
I agree, but @moxiegirl if you recall if there was a specific use case for the other properties, please let us know :heart:

[2016-09-14 23:14] #17323 closed

[2016-09-14 23:18] aboch commented on #20163
@ass3mbler Could it be you are hitting https://github.com/docker/libnetwork/issues/892. Do you remember if you had `ipv6.disable=1` on your host ?

[2016-09-14 23:28] thaJeztah commented on #15974
I asked the trademark team for some clarification earlier today to make it easier to understand what's "ok" and what's "not ok" to do. I'll post an update if more information is available

w.r.t.

it's correct that _both_ are (probably) not compliant with the guidelines, but (from some internal discussions), a project / product named `docker-something` is more likely to be confused for an "officia

[2016-09-14 23:30] anusha-ragunathan commented on #22513
Yes, creating a "Known issues" section in the release file would help broadcast such issues and workarounds to our user case. Issues that are corner cases and outside the scope of docker should definitely be in this section. The alternate of bumping the minimum required kernel version for *all* Docker users for such corner cases would not be ideal.

[2016-09-14 23:40] thaJeztah commented on #17846
I'm closing this issue, because this has become a collection of multiple issues (most related to either a corrupted file, or an incomplete installation/upgrade), resulting in the docker daemon being unable to start. (Removing `/var/lib/docker` is basically a "factory reset" (all docker data is removed)).

If you run into a similar issue, please check / provide relevant daemon logs as well as those

[2016-09-14 23:40] #17846 closed

[2016-09-14 23:44] braykov commented on #26469
OK, the strangest thing happened. I went to `mv` the file with a backup extension and it said there is no such file. It really has disappeared. I have no idea why and how, but it must have been in the last half an hour.
I purged docker-engine, did apt update and upgrade, then installed docker-engine again.
It did not report any error. So I restarted to make sure the daemon starts on reboot - it do

[2016-09-14 23:46] pcgeek86 commented on #15360
Please provide a client-only `docker` executable file, similar to Docker Compose and Docker Machine.

[2016-09-14 23:51] damm commented on #10096
The problem is (imo) that Docker defines it's networking components (and at the time) all the data was contained in a sqlite3 database.  Docker has removed that old sqlite3 database but unless you basically ping an ip to see if it's up (arping) this issue will always exist.

Shame as I wanted to bridge my networking (for the docker containers) over a private network so my containers (and non conta

[2016-09-14 23:53] brona90 commented on #12756
I don't quite understand how to get around the x509 error. I am using a mac. Is there a process someone can point me to for telling docker what certs to use default?

[2016-09-14 23:57] yongtang commented on #26193
I think the issue has been fixed in swarmkit:
https://github.com/docker/swarmkit/pull/1481
Once docker updates the swarm kit version then this issue could be closed.

[2016-09-15 00:04] aboch commented on #21170
@ssebbass @HackToday thanks for the info and help in solving the problem.

To clarify, the issue was that the host had two routes which were masking all the 31 predefined IP address pools from which docker would pick a subnet for the user-defined network as well for the default bridge network if `docker0` bridge is not present yet.

The predefined pools for local scope networks are `172.[17-31].0.

[2016-09-15 00:13] #21170 closed

[2016-09-15 00:25] stevvooe commented on #26038
@ginkel I've filed https://github.com/docker/swarmkit/pull/1539 to address the spammy logs. Those probably aren't helping the situation but it seems to be a symptom, rather than a cause.

That is the log message we _expect_ to see. This likely happened when we caught an error from one of the other RPCs, such that the agent actually went into backoff. If the fix above works, we should see a "failed

[2016-09-15 00:27] sfitts commented on #26546
The next time I encounter it I'll get that info.  By "the rest of the docker logs" which one(s) do you mean?  Just the daemon log or is there something else?

[2016-09-15 00:28] dm0- commented on #26492
I looked into this a bit more, and it appears to be due to a race condition between creating the veth interfaces and adding the host interface to the bridge.  I wrote a proof-of-concept fix that waits for the kernel to notify that the veth interfaces are running.  See dm0-/libnetwork@4343ba4c21f1a121f9e867efda3231a61dc5565e.  I've run a couple thousand containers with it and did not have any netwo

[2016-09-15 00:38] srodman7689 commented on #26213
#dibs

[2016-09-15 00:57] srodman7689 commented on #26213
@aaronlehmann I am working to replicate this issue in my local environment. I have a few questions for you. First, is the ip address that you used for the --advertise-addr legitimate and just not for that host or on a different network that cant be reached by the rest of the swarm? Also, when you swarm join is that machine the first machine in the cluster?

[2016-09-15 00:58] srodman7689 commented on #26213
Sorry if I am stepping on toes here. Just trying to get my feet wet with the docker project. We use docker for our app at work so I felt like it would be really cool to be able to contribute to a product that we use.

[2016-09-15 01:00] stevvooe commented on #26334
@mrjana @mavenugo PTAL

[2016-09-15 01:02] aaronlehmann commented on #26213
@srodman7689: Have a look at https://github.com/docker/docker/issues/26167, where this was first noticed. The symptoms in that issue were caused by the advertise address inadvertently getting set to an internal IP that the other managers couldn't reach.

[2016-09-15 01:04] srodman7689 commented on #26213
@aaronlehmann great, thanks man! I will start looking into that now.

[2016-09-15 01:05] mlaventure commented on #26469
@braykov black magic :scream_cat:

Feel free to close then, thanks! :)

[2016-09-15 01:05] mlaventure commented on #26546
@sfitts just the daemon log, if you can put the daemon in debug mode even better!

[2016-09-15 01:08] mrjana commented on #26334
@resouer This seems to be a user error. The PublishedPort that you are trying to access is only for external to the cluster access. If you want to access the service from within the cluster please do so with its TargetPort which in your case is 80. Since this is an operator error I am closing this issue. Feel free to reopen if you think otherwise.

[2016-09-15 01:08] #26334 closed

[2016-09-15 01:09] tonistiigi commented on #26561
@mlaventure Is this dupe of #26403 ?

@saiwl Are the exec process you are starting similar to what is described in #26403 (leaking children)?

[2016-09-15 01:14] tnbeatty commented on #26530
I can confirm this as well, and have a swarm (3 managers, 3 workers) running on Ubuntu 14.04. I also faced the issue on Ubuntu 16.04 but downgraded in a test environment to see if I continued to encounter the error as @ascora described. I will reproduce in a clean environment and post any differences I find in logs / version / system setup asap.

[2016-09-15 01:20] tnbeatty commented on #24310
After further investigation, I found that while this issue addresses a few of the possible symptoms I was facing in more vague terms, the actual problem with my swarm is described in #26530. Because removing services does not clean up the ports adequately, I've run into all kinds of funky behavior, especially on a cluster that has been up for a while. The routing mesh seems to exhibit intermittent

[2016-09-15 01:24] tonistiigi commented on #23999
fixed by #25080

[2016-09-15 01:24] #23999 closed

[2016-09-15 01:30] sanimej commented on #24614
@aluzzardi @mgoelzer This was reported in RC4. many fixes related to network state has gone in since. I think the best would be to try the latest docker master (1.12.2 will have the same set of fixes).

[2016-09-15 01:36] srodman7689 commented on #26213
I reproduced the error specified above. Now just gotta figure out how to fix it lol.

[2016-09-15 01:48] stevvooe commented on #15379
@thaJeztah There are a few fixes that probably need to happen to address this issue (and similar cert management issues):

1. Leverage the system cert pool. Go 1.7 added [`x509.SystemCertPool`](https://golang.org/pkg/crypto/x509/#SystemCertPool). This will get rid of a large number of annoyances.
2. Extend the system cert pool with `/etc/docker/certs.d` and `~/.docker/certs.d`, providing selective

[2016-09-15 02:12] stevvooe commented on #18924
@aaronlehmann @LK4D4 I think https://github.com/docker/docker/issues/26065 covers the original problem very well.

[2016-09-15 02:22] stevvooe commented on #12756
@brona90 This issue is really about fixing the way the cert chain is handled. If you're having problems using docker 4 mac, I'd recommend filing an issue over at https://github.com/docker/for-mac.

[2016-09-15 02:24] yongtang commented on #24538
@thaJeztah I created a PR #26585 (and swarmkit PR https://github.com/docker/swarmkit/pull/1540) to address this issue.

[2016-09-15 03:07] ch-acctg opened #26586 "Docker with device mapper failing to restart / produces unrecoverable state for containers"
**Description**

We have docker-compose v1 yml for adding containers into our dev servers.  We use salt for CM, and before changes to containers it often restarts the docker service.  One of our containers isn't well and is often in a restarting state.

**Steps to reproduce the issue:**
1. have a restarting container
2. restart docker through systemctl
3. docker dies as devicemapper directories ar

[2016-09-15 03:20] au-phiware commented on #26120
It seems that my test is not good enough, I must reboot before the problem arises. Not sure what the reboot does considering I start and stop the daemon before and after each ping.

@JargoonPard, disconnecting/reconnecting the wired/wireless network connections didn't have any effect for me :(

[2016-09-15 03:41] brogan89 commented on #22567
Thank you @friism it was racking my brain this issue. Funny how the beta works but the stable doesn't.

[2016-09-15 04:09] aboch commented on #26527
@bweston92 Thanks for the report.
Can you please provide more information about the reproduction steps, how the container is started.
For example I am assuming the container has a restart policy, what is the restart policy ?

[2016-09-15 04:15] randunel commented on #25215
The question is "has a fix been released", and the answer "yes, it will be available in the next docker release" means "no, it hasn't been released".

You shouldn't close this issue until the fix is released (and tested). But anyway, let's continue hiding issues, it's no different from having docs from a not-released version on the website for 3 months.

[2016-09-15 04:43] aboch commented on #25215
@randunel

Common workflow in github is that an issue gets closed when the PR containing the fix for it has been merged. This step is even automated when the PR description contains the word "fixes" along with the issue number. Then user looks at the fix PR and derives which release contains the fix.

In this case, the PR which brought the fix in docker/docker did not have the reference to this is

[2016-09-15 04:45] niau commented on #26480
@rajkumar49  just curious if you can also to provide the output of docker service inspect of MongoDB and WebApp and more specifically the VIPs parts of it?

[2016-09-15 04:47] FuriouslyCurious opened #26587 "Minor: Provide "Stop/Start Docker" option for Docker for Mac / Win"
Docker for Mac daemon has two options for "Quit Docker" and "Restart Docker".

When I need to free up some memory, it will be super to have "Stop/Start Docker" option too.  If there is agreement for this feature request, I can submit a pull request for it.

[2016-09-15 05:04] aboch commented on #26435
I cannot think of anything which would cause the operation to last 30-50 seconds either.

@normanv In this case if you send a -SIGUSR1 signal to the daemon few times, looking at the stacktraces reported, I think you can get a good idea of what the daemon is most busy doing.

One known reason for network creation/deletion slowness in presence of that number of networks is because of the programming

[2016-09-15 05:09] LK4D4 commented on #11818
@stevvooe do you know if this will be implemented?

[2016-09-15 05:12] aboch commented on #26341
Thanks for reporting this issue. I think this can be fixed.

[2016-09-15 05:14] LK4D4 opened #26588 "DockerSwarmSuite.TestSwarmContainerAutoStart is flaky"
Noticed in https://github.com/docker/docker/pull/26584 on experimental CI.

[code]

[2016-09-15 05:15] #11971 closed

[2016-09-15 05:18] LK4D4 commented on #4215
Issue has no updates for 2 years. Closing it.

[2016-09-15 05:18] #4215 closed

[2016-09-15 05:19] LK4D4 commented on #12062
@thaJeztah should this be closed?

[2016-09-15 05:19] LK4D4 commented on #10743
@thaJeztah still actual?

[2016-09-15 05:22] LK4D4 commented on #12308
`rm --link` is pretty mysterious feature for me. Not sure if it worth to explain and fix it today.
ping @thaJeztah

[2016-09-15 05:23] gittycat commented on #26083
@hekaldama Yes it's currently very awkward. For running services I need to do a `docker service ps SERVICE-NAME` to find which nodes the service is running, point the docker client to the node and then do a `docker ps` to find the container id followed by finally `docker logs cont-id`.

Logging services [is on the table for Docker 1.13](https://github.com/docker/docker/issues/24812) so I'm trying

[2016-09-15 05:48] #26469 closed

[2016-09-15 05:56] iaracy commented on #22567
Initial result is that beta26 seems also to overcome the issue.

[2016-09-15 06:16] dangra opened #26590 "Swarm mode mixing requests from unrelated services"
**Description**

Running 2 services (swarm mode) whose containers listen on the same internal port confuses networking layer and mix client requests.

For example running below webserver (Also found as https://github.com/dangra/swarm-net-bug)

[code]

**Steps to reproduce the issue:**

1. Clone and build image:
    `git clone https://github.com/dangra/swarm-net-bug`
    `docker build -t swarm-net-

[2016-09-15 06:19] govint commented on #26451
Is there any way that the persistent volumes used by the container are snapshot-ed as well. If not then how does the container-app restored to an earlier checkpoint deal with its data. Sorry if I'm spamming the wrong thread, but don't see a place to post this question and didn't want to make an issue just to ask.

[2016-09-15 07:30] rdsubhas commented on #15974
@thaJeztah thanks for the update :) I checked the page again, and it now reads:

which is helpful. Thanks!

[2016-09-15 07:34] stszap commented on #26563
I think it's the same problem https://github.com/docker/docker/issues/24496

[2016-09-15 07:37] Spectrik commented on #26568
@niau thank you for this great answer.

[2016-09-15 07:56] Hronom commented on #22469
@thaJeztah I'm understand you and totally agree, the question is in adding some sugar:) from Docker side.

Now I'm thinking about command, for example `FIXLINEENDINGS`:
`FIXLINEENDINGS <path>`
`FIXLINEENDINGS ["<path>",... "<path>"]`

So new Dockerfile looks like:
[code]

[2016-09-15 08:07] bryanrite commented on #24496
We're experiencing the same issue on `1.12.1, build 23cf638`. 6-node swarm on Digital Ocean, an overlay network with 1 nginx container and several rails containers. Initially works great, can hit the IP of any node, will go through the nginx container and nginx will load balance across the rails containers. No problems.

Upon upgrading the rails service `docker service update --with-registry-auth

[2016-09-15 08:11] chpio commented on #24344
getting the same error on Arch Linux.
[code]

[2016-09-15 08:17] niau commented on #26568
@Spectrik always glad to help.

[2016-09-15 08:28] dottgonzo commented on #22343
+1:
16.04.1 LTS
Docker version 1.12.1, build 23cf638

[2016-09-15 08:30] ascora commented on #24496
I can re-create the problem (see https://github.com/docker/docker/issues/26563 ).

Did anyone find an easier workaround than the one described by @eb-dteixeira ? Because reboots and server failures may happen at any time and at the moment the result is that some services will be unavailable after reboot and the manual fixing cannot be a good solution...

[2016-09-15 08:31] ascora commented on #26563
Yes, indeed it looks like being the same problem. :-(

[2016-09-15 08:33] fincaminimo commented on #26381
Sorry but right now I haven't that problem because I've reinstalled all the
host's software. I cannot help you any more, but say that I think it was
1.12.1...

El mié., 7 sept. 2016 a las 19:57, Arnaud Porterie (<
notifications@github.com>) escribió:

--
Arkaitz Múgica Islas <arkaitzmugica@fincaminimo.com>
943 562 147 / 902 002 635

[2016-09-15 08:33] rszczypka commented on #20570
For me, restarting the machine solved the problem

[2016-09-15 08:38] stszap commented on #23987
@jcstover Thank you for your workaround, but I'm afraid that it isn't working for me.
What I tried:
start docker
list iptables rules
[code]
stop docker
add test rule after DOCKER-ISOLATION
`iptables -I FORWARD 2 -s 8.8.8.8 -j ACCEPT`
list rules again
[code]
start docker
list rules again
[code]

And my rule is at the bottom. I tried to insert in at the top, but it always ends at the bottom of FORWA

[2016-09-15 08:42] pgeorgiev333 opened #26591 "Incorrect container CPU Usage reported with 4.7 kernel"
**Description**

After updating my kernel to 4.7.3-100.fc23 on my fedora 23 host docker starts reporting strange container cpu usage.

**Steps to reproduce the issue:**
1. Upgrade the kernel to 4.7.3
2. Restart the host (this is a bare metal host)
3. Start docker engine and some containers that perform CPU intensive tasks. The containers have cpu_quota=500000 (with cpu_period=100000), i.e. should

[2016-09-15 09:15] thaJeztah commented on #22343
@harishkadamudi @dottgonzo if you remove the image and pull it again, does that resolve the issue? Wondering if it has been a one-off

[2016-09-15 09:17] michaelkrog commented on #26524
@mrjana I had to get my swarm working so I removed the 2 workers I had – which fixes the issues I had.

But it is very easy to reproduce an unstable swarm for me. In fact I have not been able to produce a stable swarm using Ubuntu 16.04 in Digital Oceans cloud via private networking.

Would it be of any help if I build up an unstable swarm and give you SSH access via your public SSH key?

[2016-09-15 09:34] thaJeztah commented on #22469
That's really a slippery slope; where will it end? Wildcards? (`FIXLINEENDINGS /project/*.sh`) Fixing UTF-8 BOM headers that were added by an editor? (`REMOVEBOMHEADERS`), encoding issues (`SETENCODING UTF8 ["file1", "file2"]`). This will lead to highly inefficient images (each modification will lead to *another* copy of those files in the layered filesystem).

If your code is under version contro

[2016-09-15 09:50] manast opened #26592 "[Remote API] Creating a service with an invalid network returns 404 (should return 406)"
**Description**

When using the remote API to create a service but in the params an invalid network ID is send, the API returns 404. A 404 error signals in REST semantics that an inexistent resource has been tryied to be accessed. However, in this case we are creating a new resource, the fact that the new resource has a property that "links" to an invalid resource should not be relevant in this ca

[2016-09-15 09:57] thaJeztah commented on #25559
I'm closing this issue, because I think the question is answered, and the above instructions should help people that ended up in this situation.

[2016-09-15 09:57] #25559 closed

[2016-09-15 10:00] makuk66 opened #26593 "delme"
**Description**
wrong window; ignore.

[2016-09-15 10:02] #26593 closed

[2016-09-15 10:30] yejune commented on #26465
Thank you.
nginx config is to be convenient for only test.
Important point is not to connect most docker machines after adjusting scale.
same problem in redis scale.

[2016-09-15 10:31] vdemeester commented on #12062
Pretty sure we do, the `joyent.md` file doesn't exists anymore :sweat_smile:

[2016-09-15 10:31] #12062 closed

[2016-09-15 10:39] thaJeztah commented on #26556
@axzxc1236

That should not be a problem!

[2016-09-15 10:40] thaJeztah commented on #26556
@schmunk42 thanks for opening this! I agree that some more information can be useful for people, so I asked the "trademark" / "legal" / "whatever" (I'm not a lawyer, bear with me :smile:) to provide a bit more information about what's "ok" and what not. First of all, in all cases that I'm aware of, Docker Inc. will **not** directly sue someone, and always open a conversation first ("Hey, we notice

[2016-09-15 10:41] #26556 closed

[2016-09-15 10:43] Richard-Mathie opened #26594 "Cannot create a Kafka service and publish ports due to rout mesh network"
**Description**

Using docker 1.12.1 or the latest master 1.13.0.

I want to set up a kafka service, and be able to attache to it from location external to the docker swarm cluster. However the rout mesh networking gets in the way of communicating to the nodes. In kafka the broker state is stored in zookeeper and connections are bootstraped from that information. So I might have 2 nodes, and 2 ins

[2016-09-15 10:44] dgonzalez commented on #22188
This is also happening to me. Mac with docker-machine keeps retrying when pushing to amazon. It looks very critical to me.

[2016-09-15 10:45] Richard-Mathie commented on #25396
@thaJeztah I have done this now at https://github.com/docker/docker/issues/26594

[2016-09-15 10:46] thaJeztah commented on #15974
I got an initial reply from Docker Inc., I'll link it here: https://github.com/docker/docker/issues/26556#issuecomment-247294749

[2016-09-15 10:54] justincormack commented on #25008
Yes this should now work, so I am closing this issue. Let me know if it does not work for you. This is currently in the beta versions, but will be in the next stable release.

[2016-09-15 10:54] #25008 closed

[2016-09-15 11:02] Richard-Mathie commented on #26594
additionally truing to do this from within the overlay network (on a cluster machine) gives this error

[code]

consumer
[code]

having kafka purely internal to the mynet network works ok, but I cant get external access to it easily. I am considering setting up a vpn into mynet.

[2016-09-15 11:03] thaJeztah commented on #10743
Some things look to be addressed, but it still needs some TLC

/cc @mstanleyjones

[2016-09-15 11:15] thaJeztah commented on #22188
@dgonzalez what exact issue are you having? Is that due to "too many failed login attempts"? I'm not sure theres much more that can be done there, as it's a valid response if incorrect credentials are provided.

[2016-09-15 11:33] niau commented on #26563
@ascora I have another suggestion.

The way you are instantiating the service it is using the default **ingress** network.

Instead try first to create another overlay network

`docker network create --driver overlay my_net`

Then create your services in it (same as you did) but just add --network my_net in the service create.
Then you will be able to access your services/replicas on their names i

[2016-09-15 11:33] thaJeztah commented on #24496
@bryanrite in your case, is nginx using individual _containers_ as its "upstream" (i.e. connecting to the containers, and not the virtual-ip address of the _service_)? If so, then that's expected. The _free_ version of nginx does a DNS lookup when the server is started, and caches the results until the next restart. If the IP address of a container changes (or, in your case, the container is repla

[2016-09-15 11:37] tubbynl commented on #25471
isn't it a sensible default to fallback on fd:// if not specified so it can be omitted in the standard /lib/systemd/system/docker.service ExecStart

[2016-09-15 11:39] bryanrite commented on #24496
@thaJeztah Thanks for responding so quickly!

No, the upstream is just:

[code]

It works fine when I scale up and down as the containers move around the swarm. The problems start only when I `docker service upgrade`.

[2016-09-15 11:40] thaJeztah commented on #26563
This may be a duplicate of https://github.com/docker/docker/issues/25395.

/cc @mrjana

[2016-09-15 11:57] thaJeztah commented on #24496
Thanks for the extra info @bryanrite. Fwiw, I know the networking team is still looking into some issues in this area, and it's likely there's some duplicate issues, but sometimes it's difficult to determine if it's a duplicate or something in a specific setup, as they all may result in the same behavior.

[2016-09-15 12:00] michael-holzheu opened #26595 "s390x: CI: panic: DockerSuite.TestHealth test timed out"
On s390x the CI test DockerSuite.TestHealth fails in-deterministically with timeout:

[code]

The first failure was detected in Jenkins run 524: https://jenkins.dockerproject.org/job/Docker%20Master%20(z)/524/

This run was for commit 19f0feadd6405176f7cbe94e0ad4b9dc1965da3e. But I assume the root cause was some commit before.

[2016-09-15 12:01] bryanrite commented on #24496
@thaJeztah No problem. Let me know if there is anything else I can provide to help diagnose as we're currently blocked by this. Thanks!

[2016-09-15 12:02] ascora commented on #26563
@niau Yes I know this but this is also what I want to do. The httpd should be available via port 84 to the outside world. even if I do a curl from another PC using the full domain name, I havbe the same results and also from a webbrowser.

[2016-09-15 12:02] cpuguy83 commented on #25471
@tubbynl No, it should not fallback to `fd://`. `fd://` is for socket activation. We removed the socket activation file in 1.12. `fd://` w/o a socket file is the very thing that is causing the issue reported here. Manually editing `docker.service` is why you still have `fd://`

Docker *does* fallback to unix sockets when no host is specified.

[2016-09-15 12:08] cpuguy83 commented on #20570
Closing this since this is not a valid error since at least 1.11... I think it may even be cleared up by 1.10... but definitely at least 1.11.

Docker does not itself execute containers anymore since 1.11 and relies on `runc` from OCI. There is no `execdriver` anymore. The error itself was fixed in libcontainer (which OCI uses) awhile back and the error itself doesn't exist anymore.

If you run in

[2016-09-15 12:08] #20570 closed

[2016-09-15 12:11] tubbynl commented on #25471
that's a curious thing; i ran into this using a clean install (yesterday) from the docker debian-jessie repository (Docker version 1.12.1, build 23cf638) and the -H fd:// parameter was specified in my /lib/systemd/system/docker.service file

is that not supposed to be there then?

[2016-09-15 12:12] luisa123456 commented on #23976
Long Path Tool is the best solution for the error 1320. This software can also resolve issues like can’t delete a file, filename too long, too long path etc.

[2016-09-15 12:14] michael-holzheu commented on #26595
Investigating...

[2016-09-15 12:17] runcom commented on #26595
@michael-holzheu probably a duplicate of https://github.com/docker/docker/issues/26506 (?)

[2016-09-15 12:25] cpuguy83 commented on #25471
Ok, I give up... I don't know what's up.
Socket file should be gone but it's not, `-H fd://` also gone but it's not.
Did we revert in 1.12.1?

[2016-09-15 12:28] niau commented on #26563
@ascora the way I am telling you to set it up will indeed allow you to have :84 available from the outside world. It will attach the ingress and also your new network to your containers. It will create you also two VIPs.
However I agree that the fact that from outside you can reach the VIP of one of the services and you can't reach the same on another does not look good.
Just curious have you chec

[2016-09-15 12:30] sdurrheimer commented on #25471
@cpuguy83

[code]
For `rpm` based systems yes, not for `apt`.

[2016-09-15 12:45] olemartinorg opened #26597 "docker run --ip6 does not set a static IPv6 address"
Hi!
I'm trying to set up a few containers to use mixed IPv4 and IPv6, and I'm having trouble assigning static IPv6 IPs. Static IPv4 addresses works like a charm, so I suspect this is a bug.

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**

[code]

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[

[2016-09-15 12:53] tubbynl commented on #25471
just verified it with a clean virtualbox instance using debian-8.5.0-amd64-netinst

Linux local-dev 3.16.0-4-amd64 #1 SMP Debian 3.16.36-1+deb8u1 (2016-09-03) x86_64 GNU/Linux
Docker version 1.12.1, build 23cf638

yields

[2016-09-15 12:53] schmunk42 commented on #26556
@thaJeztah

I want to refer to ["the kik-case"](https://medium.com/@mproberts/a-discussion-about-the-breaking-of-the-internet-3d4d2a83aa4d#.5251yc4zy) which occurred a few months ago - which is at least related to this issue.

Long story short, my concern is simply about breaking the infrastructure, if you change the name of a repo it might cause really big trouble and lots of wasted work hours. A

[2016-09-15 12:58] ascora commented on #26563
Hi @niau

I just tried it with
  docker network create --driver overlay my_net
  docker service create -p 84:80 --network my_net --name httpd4 httpd
but the result is the same.

I only executed the command
  docker service create -p 84:80 --name httpd4 httpd
  (without the additional overlay network)
on one of the master nodes in the docker swarm and without a replica number or a global service. t

[2016-09-15 13:03] ascora commented on #26563
A short update: I restarted the docker service on swarm5 and the
tcp6 0 0 [::]:84 [::]:* LISTEN 6085/dockerd
and
DNAT tcp -- anywhere anywhere tcp dpt:84 to:172.18.0.2:84

are now shown on all services. However, the availability of the service from the outside world did not change.

[2016-09-15 13:15] wmario commented on #22981
I upgraded docker to latest version (again)...

and again my shared drives was broken !!!

So I went to hyper-v console again to check this
[image: Images intégrées 1]
the last check boxe here was not checked ! again....

So I checked all and restart docker from the docker applet... And it is
working again.

Best regards,
Willy.

2016-09-14 17:48 GMT+02:00 Willy mario <wmario.wm@gmail.com>:

[2016-09-15 13:23] niau commented on #26563
@ascora I by mistake interpreted the different names of your swarm nodes as different services. So yes your assumption to expect port 84 to be available everywhere is correct.
Without the iptables rule being created it simply won't work.
For the fact that swarm did not cleaned up the iptables rules I can't comment. It might be per design or simply a bug.
My previous suggestion would improve your i

[2016-09-15 13:28] demaniak commented on #20398
I have to agree with @vingrad  here.
I am very excited about Docker 1.12, and would very much like to migrate to swarm mode. But before either Compose supposed swarm mode, or the bundle feature supports everything Compose does - it is simply not an option.

So this particular issues still raises it's head now and then, and is very annoying to fix (worst case scenario I have to reboot servers).

[2016-09-15 13:43] ascora commented on #24496
@thaJeztah @mrjana In a similar (or identical?) issue I just added some outputs of my iptables and netstat on a cluster. Maybe this can help?   https://github.com/docker/docker/issues/26563#issuecomment-247309264

[2016-09-15 13:46] cpuguy83 commented on #15379
@stevvooe Wouldn't it already take the system cert pool into account, provided you didn't provide a custom pool?

[2016-09-15 13:48] LK4D4 commented on #10341
@cyphar @vincentwoo do you think this still actual and worth to do? Thanks!

[2016-09-15 13:48] LK4D4 commented on #11238
@thaJeztah ping

[2016-09-15 13:50] cpuguy83 commented on #17951
let's close this because this does not appear to be an issue.

@aperepel @bergtwvd Please explain more if you can. `--tlsverify` is a flag on the client defined for all platforms.
We need more info to be able to troubleshoot this.

[2016-09-15 13:50] #17951 closed

[2016-09-15 13:50] LK4D4 commented on #14087
Documentation was fixed. Thanks for report.

[2016-09-15 13:50] #14087 closed

[2016-09-15 13:51] LK4D4 commented on #14384
@thaJeztah Do you think this was done?

[2016-09-15 13:53] LK4D4 commented on #2936
@aaronlehmann @stevvooe This is very old issue. Do you think anything can be done on docker side and worth it?

[2016-09-15 13:53] thaJeztah commented on #26556
@schmunk42 I'll pass on your concerns, and will let you know if there's an additional response (sorry if I can't provide more information at this moment, hope you understand)

[2016-09-15 13:54] michael-holzheu commented on #26595
Perhaps, I try to reproduce and get the docker.log

[2016-09-15 13:55] LK4D4 commented on #1860
@thaJeztah @tonistiigi Do you think it's possible to do now? Still worth it?

[2016-09-15 13:57] LK4D4 commented on #10328
@stevvooe do you think it's still actual?

[2016-09-15 13:57] hansij66 commented on #26567
I got it fixed; but I don't understand why/how.

What I have done to get it to work again:
I have been running docker with OPTIONS="--iptables=false"
This worked fine till a few days ago (symptoms in original ticket)

I changed OPTIONS (in a few steps and different values) to:
OPTIONS="--iptables=false --ip-forward=true --ip-masq=true --icc=true"
From that moment onward all pings to the outside wo

[2016-09-15 13:59] LK4D4 commented on #14711
There is no more reference/logging.

[2016-09-15 13:59] thaJeztah commented on #25471
Correct, socket activation was only removed for RPM based installs, because on those installs, socket activation caused problems with live-restore (see this directory; there's a separate unit file for RPM based installs: https://github.com/docker/docker/tree/v1.12.1/contrib/init/systemd). Socket activation is still in place for .deb installs. Wondering if we should remove it altogether.

[2016-09-15 13:59] LK4D4 commented on #15011
I think that was fixed in that private repository.

[2016-09-15 13:59] #15011 closed

[2016-09-15 14:00] LK4D4 commented on #15317
@thaJeztah was this addressed?

[2016-09-15 14:00] LK4D4 commented on #15315
@thaJeztah ping

[2016-09-15 14:02] LK4D4 commented on #15391
some sort of service discovery was implemented and links are not right way now. Thanks!

[2016-09-15 14:02] #15391 closed

[2016-09-15 14:13] thaJeztah commented on #15317
I think it is, at least the visible message is now:

[code]

[2016-09-15 14:13] #15317 closed

[2016-09-15 14:19] thaJeztah commented on #24078
Linking to https://github.com/docker/docker/pull/26538, which is (I think) the PR where that is happening

[2016-09-15 14:20] thaJeztah commented on #13274
Yes, I think this can be closed

[2016-09-15 14:20] #13274 closed

[2016-09-15 14:28] creynders commented on #21721
Mutable container labels would be _really_ handy. I'm using [traefik](https://traefik.io/), a reverse proxy, which automatically detects docker containers and reads traefik-namespaced container labels for automatic configuration. Setting a label on a running container would allow on-the-fly rule changes.

[2016-09-15 14:31] thaJeztah commented on #12308
Looks like it's actually resolved;

[code]

So closing it

[2016-09-15 14:31] #12308 closed

[2016-09-15 14:35] mlaventure commented on #26561
It would depends on the type exec commands indeed.

@saiwl could you tell us what kind of exec you are running?

[2016-09-15 14:39] thaJeztah commented on #1860
Isn't this what Docker Content Trust basically does? https://docs.docker.com/engine/security/trust/content_trust/

/cc @endophage

[2016-09-15 14:39] dnephin commented on #13298
#25615 is listed twice, did you mean to link a different issue?

I think it would be better to include the full help in the `--help` instead of link to it. That is what `git` does.

[2016-09-15 14:43] jbhurat commented on #25988
I am seeing this issue as well. @ad22, where you able to find an alternative without adding the environment variables to the registry.

[2016-09-15 14:46] zjxpsetp commented on #26513
FROM ubuntu:14.04

ADD ruby-2.1.6 /tmp/ruby-2.1.6
RUN dpkg --configure -a && cd /tmp/ruby-2.1.6 && ./configure --prefix=/usr/local && make && make install && gem install bundler && cd /tmp && rm -rf ruby-2.1.6*

ADD ./Gemfile /opt/Gemfile
RUN cd /opt && bundle install

@mikeprice99

[2016-09-15 14:46] saiwl commented on #26561
I'm not sure about this. I just found the problem, without knowing what has caused it. Can you tell me what type of exec commands can produce this kind of problem? I can do some check.
@mlaventure

[2016-09-15 14:48] thaJeztah commented on #13298
hm, possibly, or I just lost track, haha

Alright, let's close this one

[2016-09-15 14:48] #13298 closed

[2016-09-15 14:48] musaffa opened #26600 "Docker.com's home page should also include linux"
Currently Docker's [home page](https://www.docker.com/) shows only `Get docker for Mac` and `Get docker for Windows`. I cannot find any reference to Linux in the home page. For newcomers to docker, they would falsely assume that Linux isn't supported by docker. Shouldn't `Get docker for Linux` be in the home page as well?

[2016-09-15 14:50] saiwl commented on #26561
I read about #26403, and reproduced the problem. But I checked the stack trace, it likely did not block in monitor.go. Still not sure where the deadlock is in #26403.
@tonistiigi

[2016-09-15 14:50] thaJeztah commented on #14384
@LK4D4 hm, no it's not done yet, still a pain point, we just need time and someone to dive into this.

/cc @mstanleyjones

[2016-09-15 14:51] dangra commented on #25985
I was seeing the same problem in 5 nodes swarm cluster, then reproduced it in single node swarm. Reported (probably duplicate) as #26590.

[2016-09-15 14:52] mlaventure commented on #26561
@saiwl any exec that would spawn a child that holds onto the initial process IOs

For instance, this will block the exec until `sleep` terminates:
[code]

This will not block it:
[code]

@saiwl could you also provide us with the full stacktrace?

Thanks

[2016-09-15 15:03] mlaventure commented on #26587
ping @justincormack

[2016-09-15 15:07] saiwl commented on #26561
[docker.txt](https://github.com/docker/docker/files/474940/docker.txt)

Here's the full stacktrace. The format is a little chaotic.

[2016-09-15 15:14] mlaventure commented on #26571
@majuansari Could you provide your `docker version` and `docker info` please?

[2016-09-15 15:14] thaJeztah commented on #25483
ping @mrjana PTAL

[2016-09-15 15:16] vbatts commented on #6189
@LK4D4 It's been literally years since looking into supporting user namespaced xattrs. Some software depends on it, and IIRC the fact that they may not be portable across docker daemons, then it was decided against. I could be wrong though

[2016-09-15 15:16] thaJeztah commented on #25602
ping @tonistiigi @dmcgowan is one of you still looking at this?

[2016-09-15 15:18] thaJeztah commented on #25348
ping @crosbymichael is there any progress on this issue? Should this stay on the 1.12.2 milestone?

[2016-09-15 15:22] thaJeztah commented on #26384
Looks like this is resolved in the 1.12.x branch, and will be fixed on master through https://github.com/docker/docker/issues/26596

[2016-09-15 15:23] thaJeztah commented on #26441
closing as duplicate of https://github.com/docker/docker/issues/24790 / https://github.com/docker/docker/issues/24108

[2016-09-15 15:23] #26441 closed

[2016-09-15 15:25] thaJeztah commented on #25418
ping @aaronlehmann @stevvooe I see https://github.com/docker/swarmkit/pull/1336 is on a 1.12.1 milestone; was that change merged in this repository? Was it included in 1.12.1?

[2016-09-15 15:26] thaJeztah commented on #26371
@crosbymichael any progress on this one?

[2016-09-15 15:26] tophj-ibm opened #26601 "Flaky test: TestServiceUpdatePort on s390"
Seen failing on ppc64le: https://jenkins.dockerproject.org/job/Docker%20Master%20(powerpc)/1621/consoleFull

[code]

It doesn't fail if run by itself, but does fail if run with the entire DockerSwarmSuite.

[2016-09-15 15:28] tibkiss commented on #26384
Thanks for the quick fix & workaround @drakenator . I'm testing it since yesterday: so far so good!

[2016-09-15 15:33] mlaventure commented on #26550
@dbason could you provide more of the docker log?

The line from the log you've shared indicate that the daemon should have sent a `SIGKILL` to the container init process which should have correctly killed it.

You can send a `USR1` to the daemon to have it put its stacktrace  into the log.

The output of `ps aux` for the relevant process may be useful too, if `SIGKILL` is ignored it probably mean

[2016-09-15 15:36] benash opened #26602 "Remote API sensitive to auth config whitespace"
**Description**
Thanks for the work on this project.

Attempting to pull an image (by sending a request to the remote API) fails depending on the whitespace present in the unencoded auth config. Here are examples:

[code]

[code]

Note:
- The only difference between the two is the space after the opening `{` of the auth json. No space breaks it.
- I needed to use DOS line endings to get anything t

[2016-09-15 15:41] thaJeztah commented on #26356
ping @sanimej any progress here?

[2016-09-15 15:49] thaJeztah commented on #25463
@sanimej https://github.com/docker/libnetwork/pull/1398 is on the 1.13 milestone; is there a solution for a possible 1.12.2 release?

[2016-09-15 15:50] thaJeztah commented on #25463
Sorry, meant https://github.com/docker/docker/pull/25962

[2016-09-15 15:59] kobellem opened #26604 "graph not working on windows nanoserver"
**Description**
Running containers on azure windows nanoserver.

C drive ran out of space, so I used the graph config option to store the images on the D drive by adding "graph": "D:\Programfiles\docker" to daemon.json.

**Steps to reproduce the issue:**
1. Install containers on windows nanoserver.
2. Change the drive to store the images by use of the graph config option.
3. pull microsoft/nanoser

[2016-09-15 16:01] LK4D4 commented on #6189
Yeah, it was very long time. Going to close this as inactive. We can always open new if there will be interest.

[2016-09-15 16:01] #6189 closed

[2016-09-15 16:03] mlaventure commented on #26561
@saiwl thanks, nothing `sed` can't solve :)

[2016-09-15 16:06] thaJeztah commented on #25848
@tonistiigi is this still an issue? Do we have any clue on a solution?

[2016-09-15 16:07] aboch commented on #26597
Thanks for reporting this. Will take a look.

[2016-09-15 16:10] sanimej commented on #25463
@thaJeztah #25962 brought in `docker run` on swarm network which is a 1.13 feature. But for 1.12.2 we will cherry-pick the fix for this issue. This can't wait for 1.13.

[2016-09-15 16:15] aboch commented on #26597
@olemartinorg

Please remove the `/64` from your static IPv6 option
[code]

[2016-09-15 16:31] tonistiigi commented on #25848
@thaJeztah Haven't noticed it this week but I'm not aware that this has been fixed.

[2016-09-15 16:37] tnbeatty commented on #26563
@niau When you performed your test described in "...tested #26530 the service got removed and iptables rules disappeared...," what did the cluster look like? How many nodes / managers / workers? What OS?

For context, I spent the morning testing #26530 on a bunch of different swarm configurations using different numbers of nodes in different states and on different operating systems.

[2016-09-15 16:53] Flow86 commented on #26075
sorry for the late reply.

(re)moving local-kv.db worked ("buggy" version attached
[local-kv.db.zip](https://github.com/docker/docker/files/475183/local-kv.db.zip) )

theres another thing I've found:

[code]

[2016-09-15 16:58] thaJeztah commented on #26580
Closing as duplicate of https://github.com/docker/docker/issues/25735, thanks for reporting @manast!

[2016-09-15 16:58] #26580 closed

[2016-09-15 17:06] aboch commented on #26075
@Flow86  Thanks for providing the file

That's correct, if `--ipv6` was not specified, that ipv6 subnet config is not operational, libnetwork does not request its reservation to the ipam driver. And when container is connected to the network, libnetwork will not program an IPv6 address.

[2016-09-15 17:11] aboch commented on #26075
I think that was it @Flow86, a misconfigured ipv6 network in the datastore.
Thanks for providing the extra info, will take care of this.

[2016-09-15 17:16] tonistiigi commented on #26561
@saiwl Can you estimate how many containers were running when you took that stacktrace? Trying to figure out if there is a leak.

[2016-09-15 17:18] #15315 closed

[2016-09-15 17:19] aaronlehmann commented on #25418
Yes, it has the `process/cherry-picked` label, so it was included in 1.12.1.

[2016-09-15 17:19] #25418 closed

[2016-09-15 17:24] olemartinorg commented on #26597
Ugh! It was that easy, huh? Wonder where I got that idea from.. Thanks a bunch!
Sorry about by noob-moment, and for wasting your time!

[2016-09-15 17:24] #26597 closed

[2016-09-15 17:27] thaJeztah commented on #24315
ping @aboch think we should bump the version of boltdb we use? I think that's a change that needs to be made in libnetwork?

[2016-09-15 17:27] mcallaway commented on #23880
The comments about "job dependencies" and the implied "feature creep" makes me want to point out that there is a small jump between dependent jobs and full blown "workflows". This is what I'm interested in. It's probably too big for this issue, but I wanted to just put this out there so that other eyes might see it and maybe lead someplace else.

https://github.com/common-workflow-language/common-

[2016-09-15 17:29] aboch commented on #26597
@olemartinorg

No worries. Issue is we should detect the invalid syntax and fail. But I think this was already brought up somewhere and there will be some work to address it.

[2016-09-15 17:32] aboch commented on #24315
@thaJeztah Nope, it can be done in docker/docker independently of libnetwork.

[2016-09-15 17:38] aaronlehmann commented on #2936
Doesn't sound worth it to me.

[2016-09-15 17:57] PatrickLang commented on #25893
Ping @jstarks - are you looking into this?

[2016-09-15 17:59] #26384 closed

[2016-09-15 18:01] mlaventure commented on #26604
ping @jhowardmsft

[2016-09-15 18:07] volnet commented on #26495
@mlaventure

[code]

also the `standard_init_linux.go:175: exec user process caused "permission denied"` error

[2016-09-15 18:08] thaJeztah commented on #3465
We discussed this issue in the maintainers meeting, and generally, we're OK to start working on this again.

@duglin are you perhaps interested in working on this?

[2016-09-15 18:15] Flow86 commented on #26075
yes the strange thing is: i had specified it?

[2016-09-15 18:19] LK4D4 commented on #2936
Closing it then for now.

[2016-09-15 18:19] #2936 closed

[2016-09-15 18:25] jhowardmsft commented on #26604
Is `D:` ReFS or NTFS?

[2016-09-15 18:28] jhowardmsft commented on #26604
https://github.com/docker/docker/pull/25509

[2016-09-15 18:30] mlaventure commented on #26495
@volnet please start docker in debug mode: `dockerd -D -s vfs > docker.log` and provide the whole log.

if possible, delete/move your `/var/lib/docker` beforehand to start from a clean state.

Thanks.

[2016-09-15 18:30] tonistiigi commented on #1860
At least some of this was addressed with content addressability in `v1.10`

[2016-09-15 18:35] LK4D4 commented on #1860
@thaJeztah @tonistiigi let's then close it and if someone interest will open new issue with current concerns.

[2016-09-15 18:35] #1860 closed

[2016-09-15 18:39] asziranyi commented on #17960
@thaJeztah I haven't experienced it for a while.

[2016-09-15 18:50] niau commented on #26563
@tnbeatty

**Environment:**

In short Ubuntu 16.04 with iptables and inactive ufw. The docker build I am using is identical to that pull request https://github.com/docker/docker/pull/25437 done by our team. I would say that in terms of what you are dealing with here you can consider it as quite a recent build close to the current MASTER with minor change unrelated to this test.

[code]

[code]
[co

[2016-09-15 18:51] cookandy commented on #26473
cc: @justincormack

I did some more digging using Wireshark.  After decrypting the captures, I was able to see the payloads.

First, with the `eth1` MTU set to `1420` on the requesting machine, and `1500` on the Docker host - everything works:

<img width="1385" alt="screen shot 2016-09-15 at 11 41 11 am" src="https://cloud.githubusercontent.com/assets/6495064/18562619/5c75d142-7b39-11e6-953b-322d

[2016-09-15 18:54] aboch commented on #26075
I do not think you specified it. From your local store file:
[code]

[2016-09-15 18:54] aaraodeo commented on #23259
I changed to baseurl=https://yum.dockerproject.org/repo/main/fedora/24/ in docker.repo
then i am able to install docker-engine 1.12.1-1 in fc24 by using following command line:
dnf install docker-engine --allowerasing

[2016-09-15 18:57] bobpiece opened #26608 "how to update java"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2016-09-15 18:57] VIPv6 commented on #12328
Please re-open this.  We saw the adoring_morse a while back after the Debian founders death.  It was a nice gesture.  But, this is getting out of hand.  I'd consider this as a hack as it has no use and it's making Docker less usable.  Here are the containers that I have that aren't wanted.  Note that adoring_morse was added seven months ago.  The other containers were added just today.:

3bb0f6742

[2016-09-15 19:00] Flow86 commented on #26075
well, then it seems that that an additional bug here?

[code]

[2016-09-15 19:04] lennartjuette commented on #11407
I drastically reduced the load on the host. Here are the results:
<img width="1142" alt="screen shot 2016-09-15 at 21 00 52" src="https://cloud.githubusercontent.com/assets/1701636/18563364/b2cc8f9c-7b87-11e6-9060-144f074c56ab.png">

Please keep in mind, that this graph only shows 24 hrs instead of ~150hrs. I'll keep on monitoring.

[2016-09-15 19:08] aaraodeo commented on #23259
But to get integration of docker with cockpit i reverted back to default docker 1.10.3 using the following command line:
dnf install cockpit-docker --allowerasing

[2016-09-15 19:40] tnbeatty commented on #26563
@niau Thanks for your thorough writeup. This is very helpful. I followed your procedure exactly using Ubuntu 16.04 and again on 14.04, each with the following environment:

[code]

The system with two nodes (one swarm manager, one swarm worker) functions exactly as you described above. Creating and removing services and publishing and un-publishing ports create and remove `iptables` results approp

[2016-09-15 19:41] stevvooe commented on #10328
@LK4D4 I'd like to explore this but using a structured tracing system, like open tracing. It might also be more valuable to start this effort on the server-side and grow it to the client, rather than starting with the client.

Up to you whether we close and open a more concrete proposal.

[2016-09-15 19:47] LK4D4 commented on #10328
@stevvooe Yeah, if you think that we should start from server-side then it's better to open new issue.

[2016-09-15 19:47] #10328 closed

[2016-09-15 19:48] stevvooe commented on #23880
@mcallaway There are several ways of doing workflow specifications in different, spanning various levels of sophistication and complexity. CWL is a great example, but there are a number spanning the hadoop ecosystem to more academic applications. Many companies just grow their own to fit their specific needs, as well.

Any batch features in docker would like be positioned to support or complement

[2016-09-15 19:49] LK4D4 commented on #10811
ping @stevvooe @aaronlehmann @dmcgowan

[2016-09-15 19:49] stevvooe commented on #15379
@cpuguy83 The registry cert pool does not inherit the system cert pool, as far as know. That could have changed. cc @dmcgowan

[2016-09-15 19:50] duglin commented on #26608
gotta be in error

[2016-09-15 19:50] #26608 closed

[2016-09-15 19:51] LK4D4 commented on #10894
@aaronlehmann @tonistiigi Is this possible/easy to implement?

[2016-09-15 19:51] LK4D4 commented on #13186
Closing as duplicate of #10894

[2016-09-15 19:51] #13186 closed

[2016-09-15 19:52] #26539 closed

[2016-09-15 19:58] tylerFowler opened #26610 "Bridge Networks Eventually Lose Connectivity"
I'm finding that on some of my simpler CoreOS single-node setups my user defined bridge networks suddenly break down and some (but not all) containers simply cannot communicate with any others and vise versa.

For example:
[code]

The IPs that are being resolved to are totally correct for each container on the net, it's just that they simply aren't reachable. However note that, for all of my serve

[2016-09-15 20:00] aboch commented on #26075
@Flow86 Looks like... Thanks.

[2016-09-15 20:03] thaJeztah commented on #26563
ping @aboch @mrjana PTAL

[2016-09-15 20:08] thaJeztah commented on #11407
@lennartjuette looks hopeful, thanks!

[2016-09-15 20:09] yongtang commented on #24108
@aluzzardi @vdemeester This issue will be fixed once #24850 is merged in. Currently #24850 is under review. Please take a look and let me know if there are any issues in #24850.

[2016-09-15 20:11] tophj-ibm commented on #26601
this seems to failing consistently on 16.04 machines and not at all on 14.04 machines

[2016-09-15 20:15] thaJeztah commented on #26601
I've seen some network related bug-reports that seemed to indicate that Ubuntu 16.04 was involved.

ping @mrjana do you recall what that issue was - could it be related?

[2016-09-15 20:18] LK4D4 commented on #15328
I think this was fixed. There was no reports again, so closing.

[2016-09-15 20:18] #15328 closed

[2016-09-15 20:19] LK4D4 commented on #15592
@thaJeztah still actual?

[2016-09-15 20:19] LK4D4 commented on #14646
ping @thaJeztah

[2016-09-15 20:21] LK4D4 commented on #15287
There is --ip-range flag now. Going to close this. Feel free to open new issue if I was wrong.

[2016-09-15 20:21] #15287 closed

[2016-09-15 20:23] LK4D4 commented on #14290
I think this not going to happen. Implementation is hard. This can be contributed by someone from the community but in form of PR(maybe just with proof of concept), not an issue.

[2016-09-15 20:23] #14290 closed

[2016-09-15 20:24] LK4D4 commented on #12969
@stevvooe @dmcgowan still problem? still want to fix?

[2016-09-15 20:25] LK4D4 commented on #15825
ping @thaJeztah

[2016-09-15 20:28] tonistiigi commented on #10894
@LK4D4 possible - yes, easy - no

[2016-09-15 20:31] aboch commented on #26075
@Flow86  Ok, I found something funny and the reason why the flag is false.

Things are fine if you start the daemon with:
`sudo dockerd --ipv6=true --fixed-cidr-v6="2001:db8:abcd::/64"`

But if you add the `--cgroup-parent` option, then it breaks, in the sense the "EnableIPv6" is false...
`sudo dockerd --cgroup-parent --ipv6=true --fixed-cidr-v6="2001:db8:abcd::/64"`

This is true on 1.11.2 and al

[2016-09-15 20:32] thaJeztah commented on #15825
The installation procedure in the docs is the manual installation, so these steps are required if you're not using the install script.

As far as I can see the docs are correct, so I'm closing this issue.

[2016-09-15 20:32] #15825 closed

[2016-09-15 20:34] thaJeztah commented on #15592
Those instructions are now in the docker-toolbox documentation, so we can close it here

[2016-09-15 20:34] #15592 closed

[2016-09-15 20:40] estesp commented on #26600
The Docker open source project doesn't maintain docker.com, so maybe further discussion will have to be funneled to whatever team is appropriate.

However, the largest button at the top of docker.com (labeled "Getting Started With Docker") goes to the following page, which clearly lists all platforms, including Linux:
<img width="698" alt="docker com-platforms" src="https://cloud.githubusercontent

[2016-09-15 20:41] aboch commented on #26075
@Flow86

Ok, it looks like that is not the correct way to use that option, you need to specify a value

`--cgroup-parent string    Optional parent cgroup for the container`

[2016-09-15 20:53] stevvooe commented on #10811
@LK4D4 We could probably adjust the exponential backoff to provide better convergence on recovery. My guess is that the bottom bound makes the expected recovery time balloon on connection failure.

@aaronlehmann Do you know where we calculate this backoff?

[2016-09-15 20:56] schmunk42 commented on #26556
What's about saying, that only a repo like "docker/compose" is starting starting with "docker" and "mycompany/docker-cooltool" is not 😺

[2016-09-15 20:58] musaffa commented on #26600
It may take almost a year for that section highlighting DockerCon Seattle 2016 to change. Better if all the supported OSs get fair treatment in the home page.

[2016-09-15 21:00] aaronlehmann commented on #10811
I don't think this is an issue anymore. The retry/backoff stuff is totally different now than a year and a half ago when this issue was filed. I don't think any retrying will happen if the registry can't be reached in the first place to fetch the manifest. The retries only happen on a per-layer basis.

[2016-09-15 21:01] LK4D4 commented on #10894
I'm closing this as it has little interest recently. PR with such functionality will be gladly accepted.

[2016-09-15 21:01] #10894 closed

[2016-09-15 21:02] LK4D4 commented on #10811
@aaronlehmann thanks! Closing this.

[2016-09-15 21:02] #10811 closed

[2016-09-15 21:04] thaJeztah commented on #17960
I'm gonna go ahead and close this, but feel free to comment if you think this is still an issue, thanks!

[2016-09-15 21:04] #17960 closed

[2016-09-15 21:07] stevvooe commented on #12969
@LK4D4 As far I know, it still is an issue, but we've changed the way we authorize tokens in a lot of cases to reduce problems here. I'd still like to get rid of the "ping" request, as that creates a lot of problems.

@dmcgowan may know know more, here.

[2016-09-15 21:10] LK4D4 commented on #15844
This is a quite old issue. There was probably a bug with an upgrade to the version where cgroups became mounted by default. Now it's too late to do anything :(

[2016-09-15 21:10] #15844 closed

[2016-09-15 21:12] LK4D4 commented on #15853
Still an issue.

[2016-09-15 21:12] ascora commented on #26563
A short follow-up information to my test: I just left the swarm with 4 nodes and then forced the final node to leave. I then flushed all ip table rules because they still existed using "iptables -t nat -F".
Afterwards I created a new swarm wich "docker swarm init" and joined with all nodes.

Now having a "fresh" swarm I can create the service again with the same command:
"docker service create -p

[2016-09-15 21:13] LK4D4 commented on #15582
I'm pretty sure this was fixed. Feel free to open new issue if you encounter this again.

[2016-09-15 21:13] #15582 closed

[2016-09-15 21:13] stevvooe commented on #25483
@thaJeztah We may never support this, but it is possible. Let's consider whether or not this worth the complexity, as the rename would almost never be coordinated.

An easy fix might be to ensure the name change on ServiceSpec.Annotations propagates to the task definition. In that case, everything would be redeployed with a rename. I am not sure that this is expected behavior.

[2016-09-15 21:14] mrjana commented on #26590
@dangra Thanks for a simple repro. I was able to reproduce the issue. On initial analysis it looks like a problem of the client using the same source port before the connection expires from ipvs connection table (which happens after the connection goes out of FIN_WAIT state). But need to analyze a bit more to see if this is a kernel issue or an issue on docker side.

[2016-09-15 21:17] LK4D4 commented on #15944
ping @thaJeztah

[2016-09-15 21:18] mrjana commented on #26563
@ascora It seems to be that you are getting into this problem after a node reboot. If that is so, this issue is fixed in docker master. If you can, can you try docker master and see if your problem is gone?

[2016-09-15 21:19] dbason commented on #26550
@mlaventure there's nothing else in the log it just hangs at that point.  I suspect it may be something to do with the core dump hanging when the container device runs out of disk space.  It's Friday here so I'll turn code dumps back on and run the container over the weekend.  I'll post the extra information when I get it on my Monday

[2016-09-15 21:19] dmcgowan commented on #12969
This has been something we have discussed quite a few times and I think we all agree that current ping method is not ideal and should be replaced. The alternatives to ping would involve attempting to use the registry API without a ping, and only once a 401 has been received to respond to that 401 by getting a token or adding authorization credentials and reissuing the request. In practice this wil

[2016-09-15 21:19] LK4D4 commented on #15978
ping @mrjana @mavenugo @aboch @sanimej

[2016-09-15 21:21] LK4D4 commented on #15981
I think detection was working when I tried last time. Feel free to open new issue if the problem persists.

[2016-09-15 21:21] #15981 closed

[2016-09-15 21:22] LK4D4 commented on #11586
Everything documented in docker now.

[2016-09-15 21:22] #11586 closed

[2016-09-15 21:22] LK4D4 commented on #14049
@stevvooe @dmcgowan did we implement this differently? Is this still actual?

[2016-09-15 21:24] LK4D4 commented on #9641
I think this not worth to implement. To easy to workaround and too hard to implement/document.

[2016-09-15 21:24] #9641 closed

[2016-09-15 21:25] LK4D4 commented on #11819
I think this is task for firewall, indeed.

[2016-09-15 21:25] #11819 closed

[2016-09-15 21:25] stevvooe commented on #14049
@LK4D4 This is ambitious proposal. If we could divide the problems and solutions, we may be able to make it a little more actionable. There is still likely work to be done to allow a cluster of machines to share "at-rest" image storage.

[2016-09-15 21:27] LK4D4 commented on #11815
Discussion for distribution repo.

[2016-09-15 21:27] #11815 closed

[2016-09-15 21:27] LK4D4 commented on #9037
@tonistiigi did something changed for this issue?

[2016-09-15 21:27] dperny commented on #24310
Cannot reproduce original issue on Ubuntu 16.04.1

@aluzzardi i think you can close this now.

[2016-09-15 21:28] LK4D4 commented on #5893
Still an issue.

[2016-09-15 21:29] tonistiigi commented on #9037
@LK4D4 Yes all the problem points in the original issue were addressed in content addressability in v1.10

[2016-09-15 21:29] #9037 closed

[2016-09-15 21:30] mrjana commented on #25325
@mschirrmeister I took a look at the logs from one of your nodes. It looks like you had a gossip failure and we did not recover from it. This problem with recovery is being fixed via https://github.com/docker/libnetwork/pull/1446 and soon will be available in docker/docker. But we still need to understand how this cluster got into a gossip failure. Are these nodes in different regions or availabil

[2016-09-15 21:35] justincormack commented on #26587
Docker for Mac is not an open source project so you cannot create a PR; feature requests are best addressed in https://github.com/docker/for-mac/issues rather than here.

[2016-09-15 21:45] ascora commented on #26563
@mrjana That's not so easy in this case because the servers also run some "traditional" / non-swarm containers as productive systems so I'm a bit scared to use the master. I assume that it will be included into 1.12.2? Do you have an idea on when 1.12.2 will probably be released?

[2016-09-15 21:50] alex-aizman commented on #14049
The steps on the tech side of things are very clear. There's this key concept, call it "centralized repository of immutable layers". The stuff can be designed around this concept, and 'docker pull', 'docker run' and friends will have to be changed accordingly. NFS of course must be one of the transport choices, etc. The works.

[2016-09-15 22:02] pdevine opened #26612 "Container start hangs when attaching an NFS volume w/ no host NFS support"
**Description**

If you create an NFS volume and then start a new container with the volume attached it will hang if the host kernel doesn't have NFS support.

**Steps to reproduce the issue:**
1. install Ubuntu (or Centos/RHEL) _without_ the nfs-common (nfs-util package for rpm based systems)

2. create an NFS volume (in my case I used the docker engine API with the settings:
     {
        "type

[2016-09-15 22:05] mrjana commented on #26563
@ascora Yes this fix will be included in 1.12.2 whenever that happens. We don't have a good release date for that yet.

[2016-09-15 22:11] LK4D4 commented on #13006
I think nothing can be done here now :(

[2016-09-15 22:11] #13006 closed

[2016-09-15 22:12] mlaventure commented on #26587
@FuriouslyCurious given @justincormack answer, could you open an issue on https://github.com/docker/for-mac instead?

I'll be closing this one meanwhile.

Thanks!

[2016-09-15 22:12] #26587 closed

[2016-09-15 22:17] normanv commented on #26435
@mavenugo We use the driver "bridge" to create networks.
@aboch I can confirm that the slow part is when the network plugin add iptables isolation rules. This is because the docker daemon add these iptables rules at startup that it is really slow to start with a lot of networks. We tried to add the flag iptables=false to the daemons and it started in few seconds.

Is there a more suitable network

[2016-09-15 22:18] mschirrmeister commented on #25325
@mrjana No, the nodes are not in different regions. All in one Azure region. Also in an availability set, which makes sure they do not run on the same hardware under the hood. If Microsoft has also multiple datacenters under the hood, I do not know. But even if so, this can be treated like local dcs.

I could reproduce it, by rebooting all nodes. Same time more or less.
Shortly after they were up,

[2016-09-15 22:24] stevvooe commented on #11818
@LK4D4 There are no plans for this. We really need to have a proposal for a search API that supports this.

[2016-09-15 22:25] LK4D4 commented on #12791
I think it's too much for docker to do it. iptables is an implementation detail. I understand desire to have more control over it, but it would be not easy for us to maintain that feature.

[2016-09-15 22:25] #12791 closed

[2016-09-15 22:26] estesp commented on #26556
I needed an excuse to finally be one of the cool people and play with GH BigData Query. Thank you. :)

Interestingly, the search that shows any use of Docker from the GH search bar can be narrowed considerably in a few ways; one of which is to be more specific in where the use of "docker" lands in the repo name.  Take this GH Big Data Query:
[code]

I want all repos that start with `docker` after

[2016-09-15 22:26] LK4D4 commented on #13977
This was implemented.

[2016-09-15 22:26] #13977 closed

[2016-09-15 22:27] LK4D4 commented on #14105
ping @mavenugo @mrjana @aboch @sanimej

[2016-09-15 22:28] manast commented on #23597
@RobbieClarken I just verified that in order to specify the endpoint you need to use the same format as the example, i.e. ```EndpointSpec```, the documented alternative ```Endpoint: { Spec: ...}``` does not work, its just ignored.

[2016-09-15 22:32] shashidesai opened #26614 "docker stop $(docker ps -a) --> does not work"
**Description**
Docker version --> Docker version 1.12.0, build 8eab29e

When we run:
docker stop $(docker ps -a)
unknown shorthand flag: '"' in -"
See 'docker stop --help'.

but if we use docker stop $(docker ps -a -q)
it works fine
**Steps to reproduce the issue:**
1.docker stop $(docker ps -a)
2.error seen:  unknown shorthand flag: '"' in -"

**Describe the results you received:**
docker stop $

[2016-09-15 22:35] sanimej commented on #15978
@LK4D4 This issue is not resolved yet. But since we have #14627 to track this requirement this can be closed.

[2016-09-15 22:35] #15978 closed

[2016-09-15 22:37] thaJeztah commented on #26614
You need to add `-q` so that only the container ID's are returned;

[code]

And because you want to *stop* running containers only, you can remove the `-a` (as that will make it return *stopped* containers, and there's no use to stop those again.

I'll close this issue, because this is not a bug, but I hope the above helps

[2016-09-15 22:37] #26614 closed

[2016-09-15 22:43] stevvooe commented on #14049
@alex-aizman In the patches provided, I don't really see anything NFS specific except for a reference to some sort of shared root folder. I think separating the pull-cache, artifact storage and other paths carefully would have the same affect.

However, there is something to be said about data locality. If one starts up the same image simultaneously across several cluster nodes, the NFS server wil

[2016-09-15 22:48] dangra commented on #26563
@mrjana do you mind sharing what is the change merged into master that fix the restart issue? I would like to backport it on top of 1.12 branch if possible.