[2016-11-17 01:16] thaJeztah commented on #28492
is this related to https://github.com/docker/libnetwork/pull/968, and https://github.com/docker/docker/issues/20569 ?

[2016-11-17 01:17] cpuguy83 commented on #28507
Hit this too...
Maybe list tasks that are active (current state < desired state )?

[2016-11-17 01:18] cpuguy83 commented on #28507
Also yes @aluzzardi, seeing the history is also pretty important, so maybe just go back to 1.12 behavior.

[2016-11-17 01:21] thaJeztah commented on #26213
Looks like this was vendored (but I don't recall which version)

[2016-11-17 01:21] #26213 closed

[2016-11-17 01:23] thaJeztah commented on #25574
This was fixed in https://github.com/docker/docker/pull/27631

[2016-11-17 01:23] #25574 closed

[2016-11-17 01:24] thaJeztah commented on #24946
/cc @mstanleyjones still improvements to be made, or should we close this?

[2016-11-17 01:28] todd-dsm commented on #28510
I have run into the problem that you describe. On successful runs a few fail occasionally.

However, using the provided process gets the same result consistently. In the case of dash, fail=true 100%.

[2016-11-17 01:32] WeiZhang555 commented on #28439
@thaJeztah Obviously this is a cool feature for end users, but I can imagine there would be lots of hard works to achieve this. I must be away for too long and miss so many things :stuck_out_tongue:

[2016-11-17 01:37] thaJeztah commented on #28177
It looks like the oracle/jdk repository no longer exists on Docker Hub, IIRC it may have been deprecated by them (https://hub.docker.com/r/oracle/jdk is a 404);

[code]

Probably needs to be updated to https://hub.docker.com/r/oracle/openjdk/

I'll close this issue, because this is not a bug in docker, but due to changes made by Oracle. Feel free to comment after I closed

[2016-11-17 01:37] #28177 closed

[2016-11-17 01:39] thaJeztah commented on #28510
The error causing the issue most likely is;

[code]

Actually, wondering if this relates to the VirtualBox bug discussed in https://github.com/docker/docker/issues/27734 (https://www.virtualbox.org/ticket/16084)

[2016-11-17 02:19] icecrime opened #28527 "[UX] Guidelines for short/long syntax flags"
# Problem statement

Docker 1.12.0 and 1.13.0 introduce new syntaxes for:

- Mount specifications (`docker run --mount` and `docker service create --mount`)
- Port specifications (`docker service create --port`)
- Secret specifications (`docker service create --secret`)

This raises several questions regarding consistency:

1. What are the guidelines in terms of short syntax ("porcelain") versus l

[2016-11-17 02:20] friism opened #28528 "driver name: if driver is specified name is required"
I think there's a 1.13.0-rc1 (client) / 1.12.3 (server) incompatibility.

**Steps to reproduce the issue:**

1. `docker deploy --bundle-file .\iv.dab iv`

**Describe the results you received:**

Loading bundle from .\iv.dab
Creating network iv_back-tier
Error response from daemon: rpc error: code = 3 desc = driver name: if driver is specified name is required

**Describe the results you expected:*

[2016-11-17 02:22] aboch commented on #28492
@thaJeztah No it is not related.

[2016-11-17 03:28] virtuman commented on #26235
will there be any deeper automation for firewalld rules / zones management, to make sure that docker works properly out of the box, or is this not something on your backlog for a while ?

[2016-11-17 03:37] maxim28 commented on #28464
here is my suggestion, please check if it is feasible:

1. if we only need **Size** of diff layer (not including list of changed files), why would we activate rootfs, calculate the rootfs size ( e.g. by du command) and minus the image size since it is stored in metadata?
2. if we also need list of changed files, could we store the list of changed files in memory maps when containers is created(key

[2016-11-17 04:30] stevvooe commented on #28039
Just reproduced this on 1.12.3. Haven't tried it on master.

cc @aaronlehmann

[2016-11-17 04:33] dongluochen commented on #27124
@ry4nz Thanks for reporting this problem. Trying to fix it with https://github.com/docker/swarmkit/pull/1758.

[2016-11-17 05:47] nwright-nz commented on #26861
#dibs

[2016-11-17 06:01] yongtang commented on #28497
Added a PR #28535 so that it is possible to have `--until` for `docker container prune` and `docker image prune`.

[2016-11-17 06:32] paolomainardi commented on #28518
@cpuguy83 yes of course, here i am:

iptables dump:

[code]

### Failing container log

[code]

### Accessible container logs

[code]

[2016-11-17 07:18] yeruisen commented on #19803
It is essential that this feature can implemented without delay.

[2016-11-17 07:22] tgpfeiffer commented on #27103
@cpuguy83 I executed `strace -f -s 100 mount -t fuse -o map=999/1000 bindfs\#test /tmp/bindfs` and discovered that the `mount()` syscall does not actually contain the directory to be mounted:
[code]
I guess there is some black magic happening around that `fd=4` parameter passed to `mount`?

[2016-11-17 07:33] 467754239 opened #28542 "docker configurate file not found， why？"
/etc/default/docker and /etc/sysconfig/docker  not found in local system

[root@zhengyscn ~]# cat /etc/centos-release
CentOS Linux release 7.2.1511 (Core)
[root@zhengyscn ~]# docker version
Client:
 Version:      1.12.3
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   6b644ec
 Built:
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.3
 API version:  1.24
 Go version:   go1.6.3
 Git

[2016-11-17 07:34] sanimej commented on #28492
Verified that the same problem happens for non-swarm services also with `userland-proxy=false`. Issue here is that the iptables rules to do port forwarding is setup only for ipv4. With docker-proxy process it works because the proxy process binds to both v4 and v6 addresses.

[2016-11-17 07:44] yeruisen opened #28544 "Why log json-file driver not have tag option??"

[2016-11-17 08:04] xemul commented on #27597
@tswift242 sure thing :) The patch is in master branch of the repo. Have fun!

[2016-11-17 08:06] vdemeester commented on #28542
@467754239 I think Centos 7.2 use systemd and thus uses systemd unit files. See https://docs.docker.com/engine/admin/systemd/ for the documentation about it :angel:

[2016-11-17 08:20] wrfly commented on #28465
# Panic Again on several nodes... sad...

![1](https://cloud.githubusercontent.com/assets/7827389/20381269/b3e24a62-ace1-11e6-9f13-a459c2ab9d28.png)

![2](https://cloud.githubusercontent.com/assets/7827389/20381274/b7e12476-ace1-11e6-9592-c28421d0b5ca.png)

![3](https://cloud.githubusercontent.com/assets/7827389/20381279/bb5d54ee-ace1-11e6-86d3-b36f79b7c6f4.png)

[2016-11-17 08:31] #28542 closed

[2016-11-17 08:32] helgeho commented on #13817
Even if it is indeed working by changing the terminal mode in ConEmu, it is still not working well. At the first glance, everything looks fine, but if you try to navigate in larger files in VIM, really strange things happen. Sometimes lines disappear or the cursor jumps arround and one can scroll in VIM indefinitely. Similarly, when typing in bash and pressing `tab` to autocomplete a path, the cur

[2016-11-17 08:59] boskiv commented on #26309
Same issue for me. I have crontab job to cleanup images. But after some time it hangs docker.
If I look into `ps -ef` there are many docker rmi commands that hangs too. Is it production ready ?

[2016-11-17 09:23] thaJeztah commented on #13817
I wonder if changes such as https://github.com/docker/docker/pull/28304 will help here. ping @ijc25 ?

[2016-11-17 09:43] paolomainardi commented on #28518
I've just tried another scenario, binding the port to host:

`docker run -d --name mysql-test3 -p 3307:3306 -e MYSQL_ROOT_PASSWORD=root mariadb:10.1.16`

[code]

Container log:

[code]

[code]

Trying the service inside the container:

[code]

Following the iptables:
[code]

From the syslog i can see this warning when starting the containers:

[code]

[2016-11-17 09:51] thaJeztah commented on #28492
@sanimej Should this be added to 1.13?

[2016-11-17 10:10] vdemeester opened #28548 "tini error: when building photon-1.0"
**Description**

When building photon-1.0 packages for docker, failure in build when compiling tini.

**Steps to reproduce the issue:**

[code]

(also see https://jenkins.dockerproject.org/job/Docker%20Master%20(build%20deb..rpms)/617/consoleFull)

**Describe the results you received:**

Blah.

**Describe the results you expected:**

Ooo.

**Additional information you deem important (e.g. issue ha

[2016-11-17 10:15] PatrickEifler commented on #28484
Hi,
Mano Marks is using the container spec to get the image tag. That is not an issue.
I need to associate an image running in a certain container with the encapsulating service.

[2016-11-17 10:21] allencloud opened #28549 "docker swarm unlock a non-manager node returns invalid key string, confusion"
**Description**

When I docker swarm unlock a non-manager node, I think it is better to return an error `this node is not a manager.....`, while docker returns `invalid key string`

**Steps to reproduce the issue:**
1. install docker 1.13.0-rc1
2. docker swarm unlock

**Describe the results you received:**
root@10-11-11-54:~# docker swarm unlock
Please enter unlock key:
Error response from daemon:

[2016-11-17 10:33] Sispheor commented on #24310
It is possible to expose more than one port with docker service?
If I run docker `service create --name web -p 80:80 -p 443:443 nginx` I only see the port 80 opened.

[2016-11-17 10:58] askoretskiy commented on #12886
Having a single .dockerignore is annoying when you build multiple images via docker but really a problem once you use docker-compose. Then  you cannot juggle with symlinks any more.

Moreover, docker-compose has a exactly this bug and cannot implement it till docker support this feature -- https://github.com/docker/compose/issues/2098

I would agree with other colleagues that .dockerignore would b

[2016-11-17 11:01] thaJeztah commented on #27597
@boucher can you take care if changes needed in docker/docker before 1.13 GA ?

[2016-11-17 11:49] justincormack commented on #28449
Fixed in https://github.com/docker/docker/pull/28504

[2016-11-17 11:57] rhvgoyal commented on #27773
@rhatdan selinux issue?

[2016-11-17 12:06] AaronDMarasco-VSI commented on #13885
I have a USR1 dump as @tonistiigi asked for with a hang-under-load.

[code]

[docker.txt](https://github.com/docker/docker/files/597262/docker.txt)

[2016-11-17 12:14] thaJeztah commented on #24310
@Sispheor yes, you can publish multiple ports;

[code]

And `docker service inspect` will show that both are published;

[code]

_However_ the problem in this case is that the default configuration of nginx only enables port 80, not 443;

[code]

So even though _docker_ maps/publishes the ports, there's nothing listening inside the container on that port.

To make nginx listen on TLS connections (

[2016-11-17 12:26] mariussturm commented on #17904
@binman-docker was testing the old go-gelf:Dynamic-DNS-refresh branch against the current Docker master. Unfortunately Docker is now implementing it's own DNS and caching stack, the proposed solution is not working any longer. DNS updates are now cached by the daemon and not exposed to the GELF library anymore. Some related issues do exist: https://github.com/docker/docker/issues/23910

Sorry, can

[2016-11-17 12:31] thaJeztah commented on #24310
I opened PR https://github.com/nginxinc/docker-nginx/pull/130 for discussion

[2016-11-17 12:33] mxl commented on #24527
@nkovacs I have run `test.sh` from https://github.com/nkovacs/docker-mac-bug and it prints only:

Could you test it too?

I'm asking because I'm having https://github.com/docker/docker/issues/24503 (mounted `node_modules` directory is becoming empty after I run `gulp`).
I'm using Docker for Mac 1.12.3-beta30 (13798) on macOS Sierra 10.12.2 Beta (16C48b).

[2016-11-17 12:35] thaJeztah commented on #17904
@mariussturm the daemon should still use the DNS server that was configured through `--dns` directly (i.e. does not use the embedded DNS that is used for service discovery on custom networks). I am not sure about a DNS cache (no change that I am aware of, but I can inform)

[2016-11-17 12:38] mariussturm commented on #17904
@thaJeztah I tried the `--dns` option already, didn't work out. Would be good if you could figure something out.

[2016-11-17 12:39] thaJeztah commented on #24527
@mxl @nkovacs if there is a regression, we now have a dedicated issue tracker for docker for mac, so please open a new issue there; https://github.com/docker/for-mac/issues

[2016-11-17 12:49] coolljt0725 commented on #13885
from the provided log, it seems it stuck on `dm_udev_wait`
[code]
similar issues #27900  #27543

@AaronDMarasco-VSI   Have you tried `dmsetup udevcomplete_all`?

[2016-11-17 12:58] nkovacs commented on #24527
I can't reproduce it with 1.12.3-beta30 (13798) on Sierra 10.12.1 with the master branch of my repo. I get MODIFY events for all three files.

[2016-11-17 13:10] ildarmf commented on #28479
When I asked the question I originally read this article https://docs.docker.com/engine/reference/commandline/service_create/
In this article, I have not found how to run the command(example: command)

After your comment @cpuguy83
I found this article https://docs.docker.com/swarm/install-manual/

I want to understand how to do better through docker service or docker run.
If you use a docker creat

[2016-11-17 13:11] AaronDMarasco-VSI commented on #13885
@coolljt0725 No, sorry, after I dumped the log for reporting, I restarted the daemon without playing with it any more.

[2016-11-17 13:19] mabunixda commented on #27580
@mabrarov At the moment we run into the same problem. I raised a bug on their [jira ](https://www.jfrog.com/jira/browse/RTFACT-12849)

[2016-11-17 13:25] mxl commented on #24527
@nkovacs I reseted Docker for Mac to defaults and then installed 1.12.3-beta30.1 (13946) update. The issue has gone.

[2016-11-17 13:29] mavenugo commented on #17904
@sanimej can you pls help with this ?

[2016-11-17 13:49] mariussturm commented on #17904
In the end we are calling `net.LookupHost()` https://github.com/Graylog2/go-gelf/blob/Dynamic-DNS-refresh/gelf/writer.go#L133 in the GELF library, is there any chance that this call is somehow cached by systems like `vendor/github.com/miekg/dns` or `vendor/github.com/docker/libnetwork`? If not I could do some deeper debugging of the GELF code.

[2016-11-17 13:52] Sispheor commented on #24310
Hi, thank you very much for your answer. Actually the command I wrote was an example and not the real one.
This is the one I use (base on httpd image)
[code]

And then when I check on the node.
[code]

The docker service command is just a translation of this docker run command
[code]

When I run this last, everything went weel, both port are open
`47823682e1bc        centos7-httpd           "/run-

[2016-11-17 13:56] thaJeztah commented on #27580
Let me close this issue here,  because this is not a bug in docker, but feel free to continue the discussion.

[2016-11-17 14:10] thaJeztah commented on #24310
in fact you'll see the `docker ps` does not show _any_ port is published (it only shows that according to the container, port 80 is _exposed_; `80/tcp`) if the port was _published_, it would show (for example) `0.0.0.0:80->80/tcp`.

Containers that are backing a service are not individually published. When publishing a service's ports, the published ports go through the routing mesh, and use the i

[2016-11-17 14:13] Jaspreetc commented on #27580
@cpuguy83 Hi Brian, I have tried the latest version but it still fails with the same version
Name        : docker-distribution
Version     : 2.4.1
Release     : 2.el7
Architecture: x86_64
Install Date: Thu 18 Aug 2016 11:32:08 AM EDT
Group       : Unspecified
Size        : 15789976
License     : ASL 2.0
Signature   : RSA/SHA256, Mon 25 Jul 2016 02:46:56 AM EDT, Key ID 199e2f91fd431d51
Source RPM

[2016-11-17 14:16] Jaspreetc commented on #27580
Jfrog accepted the problem and have update it might get fixed in Q2 2017
https://www.jfrog.com/jira/browse/RTFACT-10305

[2016-11-17 14:21] Jaspreetc commented on #27580
@thaJeztah , I believe its a bug or design change required for Docker, since its not working in Docker Registry Version 2.4.1 as well.
If there is a working solution available to push Windows Container images to Private Docker Registry please share, else there is some work required on this to get it fixed.

[2016-11-17 14:23] thaJeztah commented on #27580
@Jaspreetc looks like that's not an official version of the registry, but a version packaged by Red Hat. Support for foreign layers was added in version 1.5 https://github.com/docker/distribution/releases/tag/v2.5.0, and is needed for Windows based images because the base layers are only allowed to be distributed by Microsoft (for legal reasons). When pushing an image based on those images, only y

[2016-11-17 14:23] boucher commented on #27597
@thaJeztah I believe so. @xemul it sounds like nothing needs to change on the Docker side though?

[2016-11-17 14:35] anthmarques commented on #20486
I'm using 1.12.3 version and isnt working for me. I'm trying to up one mysql container and having the same problem.

[2016-11-17 14:36] Jaspreetc commented on #27580
@thaJeztah  Thanks it was downloaded from https://github.com/docker/distribution.
Let me try the newer version and get back to you. Thanks for your valuable input appreciate your quick response.

[2016-11-17 14:49] cpuguy83 commented on #17904
@mariussturm libnetwork is only handling container DNS, any lookups the docker daemon does is handled with the normal semantics on the host.

Are you using docker4mac beta, by chance?

[2016-11-17 14:56] todd-dsm commented on #28510
As stated, this is 1 aspect of the problem; there are undoubtedly more. Run the test steps as presented and you'll see that there is a method that does work around the error with the same exact version of VirtualBox and it's repeatable.

[2016-11-17 15:01] mariussturm commented on #17904
Yes, I am on OSX. Docker 1.12.1 build 12133

[2016-11-17 15:03] cpuguy83 commented on #17904
@mariussturm Can you upgrade to the latest?

[2016-11-17 15:03] thaJeztah commented on #28510
I'm not sure if there's anything we can fix here; these are regular key servers, widely in use (not just by docker). Outage of those servers cannot be prevented by us, and we can only take outages into account (as was done in the install script)

[2016-11-17 15:05] mariussturm commented on #17904
Sure, will do some more testing. And also will double check on linux. Thanks for the informations so far!

[2016-11-17 15:07] cpuguy83 commented on #17904
I know for a fact there is some DNS issues on beta30 which they just released a fix for today.
Normal resolution works, but resolution using the go resolver did not.

[2016-11-17 15:14] thaJeztah commented on #28479
Note that the second article is about "classic" swarm, not swarm _mode_ (new in docker 1.12). However, this should work;

[code]

[2016-11-17 15:15] cpuguy83 commented on #28544
Because nobody has asked for it or coded it up?

[2016-11-17 15:20] glensc commented on #28548
it's failing because `xxd` binary is missing, search what package provides `/usr/bin/xxd` and install it

[2016-11-17 15:23] vdemeester commented on #28548
@glensc yep :angel:

[2016-11-17 15:30] thaJeztah commented on #28484
@PatrickEifler docker 1.12 does not "pin" tasks to a specific sha256. For that reason it's (potentially) possible that tasks on different nodes have a different version of the image.

Docker 1.13 makes improvements in that area, and resolves the sha256 (digest) when deploying/updating a service. This is now stored in the service definition, so that (also in cases where a task is rescheduled), all

[2016-11-17 15:36] mikeford commented on #20486
@anthmarques I was having the same problem and it turns out my local MySQL server was running and conflicting with the MySQL container's 3306 port. You could either terminate your MySQL server locally or change the port in the docker file where you're configuring the mysql image.

[2016-11-17 15:36] thaJeztah commented on #28484
For reference; this is the pull request that added this improvement; https://github.com/docker/docker/pull/28173

There's a change being proposed for the CLI, because the image name including SHA256 is too wide to be useful; https://github.com/docker/docker/pull/28539

[2016-11-17 15:38] liquid-sky commented on #13885
@tonistiigi, full stack trace from Docker daemon after SIGUSR1 [can be found here](https://gist.github.com/liquid-sky/5574ebe448363ac9e72019a7ecee53f4)

[2016-11-17 15:40] thaJeztah commented on #20486
There's no need to change the dockerfile, just mapping the port when running the image works;

[code]

[2016-11-17 15:42] mikeford commented on #20486
@thaJeztah Yup you're right! Thanks for clarifying that

[2016-11-17 15:59] gprivitera commented on #28446
I'm going to close the issue since you guys already identified a bug (and it is not the one the issue started with, which was not a bug).

[2016-11-17 15:59] #28446 closed

[2016-11-17 16:12] Sispheor commented on #24310
It's ok. The iptables config was full of wrong lines. Certainly due to a lot of service rm and start. After a clean of iptables and a restart of docker everything works fine.
Thanks for your support @thaJeztah !

[2016-11-17 16:15] bitsofinfo commented on #19803
+1

[2016-11-17 16:19] mattupstate commented on #27343
I'm running a load balanced application on two servers and one of them has far more undeleted files than the other. The main difference between the two is that I've certainly run `docker logs ...` on one of the servers far more than the other. As such, this server has thousands of undeleted journal files compared to the other machine.

[2016-11-17 16:27] k2xl commented on #28491
@cpuguy83 I can listen on localhost on the container.

To reproduce, just try ssh port forwarding on your host, let's say to some remote MySQL instance on port 3306.

Then, inside the container that is running on host networking, try curling localhost:3306.

[2016-11-17 16:33] PatrickEifler commented on #28484
Interesting, thanks.

[2016-11-17 16:57] yaitskov commented on #8838
Now the config file is overwritten even after docker is stopped. :(

[2016-11-17 17:06] nfedyk commented on #19803
+1

[2016-11-17 17:14] cpuguy83 commented on #28517
Opened #28551 which reduces what we're dumping.

[2016-11-17 17:27] aboch commented on #27404
This issue is about libnetwork not being informed about running containers at docker boot in a `--live-restore=true` context. On docker 1.12.0.

Please do comments here only if your issue happens in the same context above.

Current suspicious are about this happening because of a second daemon running, and submitter was asked to check if he can reproduce with only one daemon.

@dpeters final ping

[2016-11-17 17:30] cpuguy83 commented on #26309
Unforatunately strace is not generally helpful for these kinds of things, and even more so an strace of the docker client waiting on a response from the docker daemon.

If you have a daemon lockup, please send `SIGUSR1` to the daemon. This will generate a stack dump which gets sent to the daemon's stderr (where it sends all logs). How to collect this depends on your distro/init system.
If on syste

[2016-11-17 17:30] dnephin commented on #28527
My 2 cents:

* the old flags are not porcelain they are legacy
* a flag should not support two formats. That is really confusing, and leads to hacky code that branches on the presence of a specific character, which is brittle and error prone.
* the old positional and comma separated formats should be deprecated and removed. At the time they may have been sufficient, but at this point they are just

[2016-11-17 17:34] ildarmf commented on #28479
@thaJeztah thank you!

I solved my problem:
`docker service create --with-registry-auth --name low -p 7799:7799  -p 9209:9209 -p 9099:9098 -e  USER="tst1" -e SIGNATURE="2ebe634644364e7b274967feccc1720bc96aeb9b" -e DATABASE_HOST=mongo --network=tst1 --replicas=5 backend:1.9 bin/run.sh`

[2016-11-17 17:43] sanimej commented on #28492
@thaJeztah Its not a must-have for 1.13.

[2016-11-17 17:56] BirknerAlex commented on #26980
Hi @msabansal,

is there already a update planned for the final Windows Server 2016 release? Would be really awesome if we can get this feature for using Docker. We are a SPLA Partner and this feature is really missing for our customer environment.

Best regards,
Alexander

[2016-11-17 17:56] cpuguy83 commented on #28479
Thanks @ildarmf!

[2016-11-17 17:56] #28479 closed

[2016-11-17 18:20] SEAPUNK commented on #27381
@mlaventure Can this issue be re-opened? Right now we don't know if this issue has been fixed or not.

[2016-11-17 18:24] ellismarkf commented on #24384
@thaJeztah @ahmetalpbalkan @jhowardmsft

Would you mind explaining why making a file executable with the `+x` permission poses a security threat?  Alternatively, links to resources on the subject would be great too.  :)

Security is something I'm not an expert in, but I'd really like to know more.  Thanks!

[2016-11-17 18:26] erikverheij commented on #13817
I had the same problem and I can confirm it's fixed after I updated Docker for windows :).

[2016-11-17 18:27] crosbymichael commented on #27381
@SEAPUNK we will be updating containerd with this proposed fix.  If you have a chance to test I can provide you with binaries to try.

[2016-11-17 18:30] #28405 closed

[2016-11-17 18:32] #28027 closed

[2016-11-17 18:34] SEAPUNK commented on #27381
Sure.

[2016-11-17 18:52] onorua opened #28553 "Some odd behavior with host mount volumes"
**Description**

We are deploying images built by packer into DigitaOcean, this images are identical, but resulting machines when ever docker-compose starts up containers with a lot of shared with host folders, some of these folders simply not mounted properly.

**Steps to reproduce the issue:**
1. Create image
2. Deploy 100 VM
3. around 30% will not have proper mount

**Describe the results you r

[2016-11-17 18:56] #28519 closed

[2016-11-17 18:57] ripcurld00d commented on #28544
#dibs

[2016-11-17 18:59] thaJeztah commented on #28544
@yeruisen @ripcurld00d this is a duplicate of https://github.com/docker/docker/issues/19803, so let's use that one for tracking

[2016-11-17 18:59] #28544 closed

[2016-11-17 19:00] cpuguy83 commented on #28553
Is the dir on the host mounted from elsewhere?
How are you starting Docker? If systemd, what does your unit file look like?

[2016-11-17 19:08] ripcurld00d commented on #19803
#dibs

[2016-11-17 19:17] helgeho commented on #13817
@erikverheij are you running a beta? I am on 1.12.3, that's the latest stable Docker for windows

[2016-11-17 19:21] evmin opened #28555 "[feature request] gcplogs : Ability to send the log text as textPayload"
At the moment the log body is sent over as structPayload.data field

I would like to be able to configure the driver to send the log body as textPayload field as it is more readable through the Google Logging console.

Relates to https://github.com/docker/docker/issues/28515 and https://github.com/docker/docker/issues/28508

[2016-11-17 19:24] clarity99 commented on #26873
trying this as well:
C:\ProgramData>docker-ci-zap.exe -folder c:\ProgramData\Docker
time="2016-11-17T20:22:41+01:00" level=error msg="hcsshim::DestroyLayer - Win32 API call returned error r1=0x80070003 err=The system cannot find the path specified.id=Docker flavour=0"
ERROR:  hcsshim::DestroyLayer - Win32 API call returned error r1=0x80070003 err=The system cannot find the path specified.id=Docker

[2016-11-17 19:25] dnephin commented on #28520
I guess we need to use a pointer for parallelism to determine if it's set to 0 or not set.

[2016-11-17 19:26] clarity99 commented on #26873
well, it left just an empty windowsfilter dir which I could then delete from explorer. weird.

[2016-11-17 19:26] jhowardmsft commented on #26873
@clarity99 Very unlikely. Are you elevated - you would need to be. Could be locked files

[2016-11-17 19:27] krallin commented on #28548
Hey there,

If you'd like, you can update Tini to 949e6facb77383876aeff8a6944dde66b3089574, you won't need `xxd` to compile it anymore!

Cheers,

[2016-11-17 19:29] onorua commented on #28553
it is local folder, but it is mounted to several other containers simultaneously, we run it from docker-compose, basically we merge all the compose files in the following way:
[code]

[2016-11-17 19:29] clarity99 commented on #26873
yes, i was in an elevated prompt. docker was already uninstalled.

[2016-11-17 19:35] aluzzardi commented on #28527
I think they are porcelain. It's much more pleasant to type `-p 8080` or `-v foo:/bar` rather than the full fledged CSV syntax.

I thought so too, but now I'm actually liking it, especially in the context of compose. I wanted to get your thoughts on that:

[code]

It seems quite common in yml to have an item that can either be a string or a map when needing more advanced options (e.g. circi ci, tr

[2016-11-17 19:39] dnephin commented on #28527
`-p 8080` vs `--port target=8080`
`-v foo:/bar` vs `--mount name=foo,dest=/bar`

It's not so much longer, and it's a lot more clear what it's doing.

I don't like it for the Compose file either. It's weird having a list with two completely different types.

[2016-11-17 19:40] thaJeztah commented on #26899
ping @aluzzardi what's the status on this one?

[2016-11-17 19:49] DominicBoettger commented on #15086
Failed using the geoip module....

[2016-11-17 19:58] tianon commented on #27921
Is this planned for `docker build` as well? (I noticed the other day that it supports the same primitives that this new `--cpus` is a wrapper around, but it doesn't appear to have received the new wrapper)

[2016-11-17 20:02] vdemeester commented on #28548
@krallin ah cool, perfect :hugs:

[2016-11-17 20:04] krallin commented on #28548
No problem! Please do feel free to ping me in the Tini repo if you run into other issues like this in the future! 😄

[2016-11-17 20:08] aluzzardi commented on #28527
Humans don't do CSV well and we'll never deprecate `-p 8080:80` so we'll have to support both forever - `-p` and `--port` will always have a different syntax.

Also, the same goes for compose - if we go ahead with the current plan, then we need to update compose ASAP.

[2016-11-17 20:19] nishanttotla commented on #28484
@PatrickEifler the current CLI changes are in the PR linked by @thaJeztah. Starting with Docker 1.13, all tasks in a service should be pinned to a specific digest, and the way to retrieve that would be `docker service inspect`. For brevity, other commands like `docker service ls` or `docker service ps` would only show `image:tag`.

[2016-11-17 20:28] erikverheij commented on #13817
Docker v1.12.3 stable channel build 8488
ConEmu 161022 {Stable} with startup task "Shells::PowerShell"

[2016-11-17 20:31] aaronlehmann commented on #28039
SwarmKit PR here: https://github.com/docker/swarmkit/pull/1760

This is the kind of thing we should backport to 1.12.x if there is another 1.12.x.

[2016-11-17 20:34] helgeho commented on #13817
@erikverheij Thanks, but that's exactly what I am using, anyone else with the same issues?

[2016-11-17 20:37] #28517 closed

[2016-11-17 20:45] erikverheij commented on #13817
You could try it with my config file; https://gist.github.com/erikverheij/e207071d37fc064e57bff6a6406dcf84

[2016-11-17 21:07] dpeters commented on #27404
@aboch - Sorry about the silence for so long on this. It's still occurring for us, and I haven't had the chance to attempt anything with it until now.

While testing out a few things today, I found that on systems where we are running a newer CoreOS release, with docker 1.12 by default, we do not see this issue. On older releases with 1.11.x, we add a 1.12.x binary and modify the systemd unit to u

[2016-11-17 21:11] RRAlex opened #28559 "[1.13.0-rc1][Intermittent] docker: Error response from daemon: subnet sandbox join failed for "10.0.0.0/16": error creating vxlan interface: file exists."
**Description**

Since we can't use most docker-compose.yml options right now in bundles, we're trying to slowly migrate do swarm. The goal is simply to setup a 2 nodes swarm so we can start attaching services that we need to scale on a second box while the rest keeps running like before, except that it shares the global network.
Doing:
[code]
Most of the time it works, but once every [10 - 100] t

[2016-11-17 21:40] amitkris commented on #28326
@andrewhsu @thaJeztah I would like to add that the cross build for Solaris does not work due to CGO calls in Solaris platform code. Until that is enabled I think it would be best get the script to skip Solaris too.

[2016-11-17 21:43] tomdee commented on #28055
Since https://github.com/docker/libnetwork/pull/1538 got merged, will this be fixed for 1.13?

[2016-11-17 21:43] dannydulai commented on #20570
without upgrading, is there a way to recover the container?

[2016-11-17 21:45] tonistiigi commented on #13885
The trace from @liquid-sky seems to be blocked on netlink socket

[code]

cc @aboch

[2016-11-17 21:47] RRAlex commented on #28527
on a side note, in 1.13.0-rc1:
`docker service create --help` will show `--port`, but you still have to use `--publish`.

[2016-11-17 21:47] aboch commented on #28055
Yes, it should.

[2016-11-17 22:00] aboch commented on #13885
As other have suggested this is likely a side effect of something very bad happening in the kernel.
We are adding https://github.com/docker/libnetwork/pull/1557 to attempt to mitigate this situation.

[2016-11-17 22:03] elijahgagne commented on #13817
@helgeho Yes, I am on ConEmu 161022x64, PowerShell. With Docker 1.12.3-beta30.1 (8711). I agree with your statement that at first glance, things seem ok, but strangeness occurs as you try to use it a lot.

[2016-11-17 22:10] sinkoneri commented on #25912
same issue with 'type=bind'
Docker version 1.12.3, build 6b644e
https://goo.gl/LNg3dt

[2016-11-17 22:15] rhatdan commented on #27773
Is this overlay?  Where is mountfile coming from?  Looks like it is labeled incorrectly.

[2016-11-17 22:22] edsantiago commented on #27773
Thinpool. See script at comment 0 for details. The important part (IIUC) is that the bind mount is happening through the filesystem:

    # docker volume inspect -f '{{ .Mountpoint  }}' v1
    /var/lib/docker/volumes/v1/_data
    # docker create --name t2 -v /var/lib/docker/volumes/v1/_data/0:/mountdir -v /var/lib/docker/volumes/v1/_data/1:/mountfile busybox cat /mountfile
    eb20a8e1f130356e3ab3

[2016-11-17 22:25] cpuguy83 commented on #25912
@sinkoneri the error is because the source path doesn't exist on the node where the task is scheduled. Since you are using a vm, the path you are specifying from the client side does indeed not exist.

[2016-11-17 22:40] #28548 closed

[2016-11-17 22:46] thaJeztah commented on #28527
I have been thinking about that as well. We may be biased, because during
development and testing of docker, we are quickly spinning up containers
and services all the time. I don't think that reflects the use case
of using docker in "production"; for that you _should_ think about
every option to set; determin the correct values for your use case.

Trying to come up with a practical example, I mad

[2016-11-17 22:55] thaJeztah commented on #28484
@PatrickEifler I'll close this issue, because I think this will be addressed by docker 1.13. If you want to give it for a spin, there's a release candidate available (don't use it in production, it's really for testing, and may contain bugs); https://github.com/docker/docker/releases

Feel free to continue the discussion after I closed!

[2016-11-17 22:55] #28484 closed

[2016-11-17 23:13] #28339 closed

[2016-11-17 23:25] rhatdan commented on #27773
[code]

[2016-11-17 23:28] crosbymichael commented on #28237
Resolved by #28290

[2016-11-17 23:28] #28237 closed

[2016-11-17 23:30] edsantiago commented on #27773
That works (`:Z`) but the point is this is a regression: 1.10 does not need the `:Z`. I'm not qualified to say how important that is.

[2016-11-17 23:43] PatrickLang commented on #27911
Hyper-V is optional if you're running Windows Server 2016

It looks like you're hitting a network failure. Can you try again and add proxy settings if they're needed in your environment?
[code]

[2016-11-17 23:52] PatrickLang commented on #26409
Can you try running with a gMSA https://msdn.microsoft.com/en-us/virtualization/windowscontainers/management/manage_serviceaccounts and see if this succeeds?

[2016-11-17 23:54] PatrickLang commented on #22887
@kallie-b this might be one for you to track

[2016-11-18 00:07] sanimej commented on #28465
This panic was reported in #28112 as well.

@wrfly From the decode the only possibility I can think of is: a container comes up and while the embedded DNS server is being setup the container goes down and the embedded DNS sever gets shutdown. In your setup do you think its possible for some containers to come up and go down very rapidly ? Have you noticed any specific trigger for this panic ?

[2016-11-18 00:19] thaJeztah commented on #28470
@mlaventure reopening this because I don't think that containerd version was vendored yet

[2016-11-18 00:23] herbrandson opened #28564 "Docker Swarm Mode: Not all VIPs for a service work. Getting timeouts for several VIPs"
I originally posted this on [SO](http://stackoverflow.com/questions/40660230/docker-swarm-mode-not-all-vips-for-a-service-work-getting-timeouts-for-several), but it's happened multiple times now in multiple environments. I believe this may be a bug.

**Description**
I'm having issues with an overlay network using docker swarm mode (IMPORTANT: swarm mode, not swarm). I have an overlay network named

[2016-11-18 00:29] #28456 closed

[2016-11-18 00:31] thaJeztah commented on #28522
Can you report this issue with CoreOS? This version of Docker is built by them, and contains code changes that are not in our code base, so we cannot help with that.

I'll close this issue here, but feel free to comment after

[2016-11-18 00:31] #28522 closed

[2016-11-18 00:33] kallie-b commented on #22887
Yep, it seems to be! I'll get on it.

[2016-11-18 00:44] cpuguy83 commented on #28564
Thanks for the detailed report, it seems something is going very wrong on these nodes.

ping @mavenugo

[2016-11-18 00:50] marcellodesales commented on #21135
@thaJeztah I think we can close this one, since I've moved to `1.12.x`... If someone else goes through this same thing you guys can open it again.

[2016-11-18 00:50] #21135 closed

[2016-11-18 01:15] cpuguy83 commented on #27773
@edsantiago Can you do `ls -Z /var/lib/docker/volumes/v1/_data`?

[2016-11-18 01:16] michaelkwan commented on #23742
+1 vote as well

[2016-11-18 01:16] cpuguy83 commented on #27773
btw, we should take this to a new issue, since this is something completely different.

[2016-11-18 01:18] darrenstahlmsft commented on #28327
The Hyper-V role is not be required to run containers. It looks like this is a setup bug, and the Containers role was not correctly installed. If you run:
[code]
then you can uninstall Hyper-V (unless you are using `--isolation=hyperv`).

There is a Docker bug here though. The daemon should have a better error message when the Containers role is not installed.

#dibs

[2016-11-18 01:22] thaJeztah commented on #28495
ping @mlaventure PTAL!

[2016-11-18 01:33] thaJeztah commented on #28321
Correct, that file is not used on systems using systemd as an init system; see the message at the top;

[code]

So either use a `daemon.json` file, or use systemd drop-in files

[2016-11-18 01:34] tomdee opened #28567 ""docker network inspect" command doesn't provide a way to see what pools are associated with a network."
[code]

but docker is actually storing more information
[code]

Note the PreferredPool and AddressSpace entries.

@aboch @mavenugo

[2016-11-18 01:55] laoshancun commented on #5618
also found in  centos 7
[code]

[2016-11-18 02:32] atrauzzi commented on #1996
There's been considerable discussion here, apologies if it's already been suggested, but what if there was something like this:

[code]

All docker would do is store the MD5 (or whatever other hash is hip) of the file and if it changes, all steps thereafter are invalidated.

I'd probably be doing something like:

[code]

etc... ;)

[2016-11-18 02:35] edsantiago opened #28568 "SELinux regression, bind mounts, 1.10 to 1.12"
Forked from #27773 ; please see there for reproducer script and data.

The principal bug (`read error: Is a directory`) seems fixed, but there's a new SELinux AVC:

    + docker volume create --name v1
    v1
    + docker create --name t1 -v v1:/.imagebuilder-transient-mount busybox
    5971d5ed971e4413ac146e9562b2fd57687bdc3b0425ce276166e71abe346675
    + cat a.tar
    + docker cp - t1:/
    + ca

[2016-11-18 02:37] edsantiago commented on #28568
@rhatdan @cpuguy83

[2016-11-18 02:38] cpuguy83 commented on #1996
@atrauzzi We just support `--squash` on build now in 1.13 (experimental only for now).

[2016-11-18 03:07] 851750618 opened #28569 "how can i change the value of /net/core/* when build image"
I want to change the value of net.core.somaxconn and net.core.netdev_max_backlog. Now it is changed by excute sysctl after setting --privileged=true when docker run. but this is fussy,Is any one can help me to save these values in docker image,I hope the value is right when container start.

[2016-11-18 03:16] aboch commented on #28567
I think #26880 fixes this

[2016-11-18 03:17] aboch commented on #28567
AddressSpace is not exposed to UX yet, so it will not be shown.

[2016-11-18 03:27] ghostplant opened #28570 "Is there a pre-start hook I can config when swarm cluster change the node position of a service?"
Is there a pre-start hook I can config when swarm cluster change the node position of a service?

Assume there are three swam node A, B, C and service X is current running on A;

when A crash, swarm automatically restarts X on either B or C, and I want to catch this change and prepare some environment configuration before X is to start on B (or C), such as layer quota limit, pre-mount, etc.

[2016-11-18 04:49] merimna commented on #25617
I'm seeing a similar issue. Seems like docker is caching inodes. I've been able to consistently fix this problem by just restarting the docker service, but that's less than ideal.

[code]

[code]

[code]

[2016-11-18 05:18] mj073 commented on #28302
Is this a valid Issue?

[2016-11-18 06:09] snakeninny commented on #22207
Same here. Still no official solution?

[2016-11-18 06:37] yashgt opened #28571 "docker-compose bundle does not work"
**[admin@gol05854 compose]$ docker-compose --verbose bundle**
compose.config.config.find: Using configuration files: ./docker-compose.yml
docker.auth.auth.load_config: File doesn't exist
compose.cli.command.get_client: docker-compose version **1.8.0, build f3628c7**
docker-py version: 1.9.0
CPython version: 2.7.9
OpenSSL version: OpenSSL 1.0.1e 11 Feb 2013
compose.cli.command.get_client: Docker ba

[2016-11-18 06:49] aagarwal-optumsoft opened #28572 "Descrepancy in /proc/net/dev stats for eth0(inside container), veth0, docker0"
I have a setup where a raspberry Pi is connected using wifi to the internet, runs the docker container, inside which there are bunch of processes communication with a public server over TCP. I monitor /proc/net/dev for 100 secs at eth0 (inside container) and  veth0 & docker0 (outside the conatiner). I see that bytes transmitted from veth0 and docker0 interface are same but very less in comparison

[2016-11-18 06:51] tlvenn commented on #26915
Use case for example would be to provide PKI infra for running a CockroachDB cluster with Docker:

[2016-11-18 07:23] chrismoos opened #28573 "DNS resolution failure on Docker for Mac with IPv6 nameservers"
**Description**

If the OS X network settings have an IPv6 DNS server in the **DNS Servers** list then all DNS queries will fail (timeout) in docker containers. Even if there are valid IPv4 DNS server listed, the presence of a single IPv6 server causes resolution to fail.

A simple workaround for this issue (besides manually overriding your DNS settings on the Mac) is to connect to Moby and force

[2016-11-18 07:30] rmcolbert commented on #27941
@friism You can use the graph attribute in daemon.json to change where the filesystem is stored. The piece that is missing is a config setting in the Docker for Windows UI.

[2016-11-18 07:42] AjitDas opened #28574 "Support to identify hostPort inside the Docker Container via ENV variables"
For example I am running a Docker container (within AWS ECS ) which allocates dynamic ports (by specifying servicePort=0), inside my container I need to know the actual hostPort it bounded to.

I would need host and port information, I could get the host (both public & private) information using 'ec2-instance-metadata' but there is no equivalent information to get the port.

In short we need somet

[2016-11-18 07:49] boskiv opened #28575 "docker ps hangs. How to diagnose it ?"
**Description**

I have 66 containers running on Ubuntu VM (Vmware ESXi)
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=14.04
DISTRIB_CODENAME=trusty
DISTRIB_DESCRIPTION="Ubuntu 14.04.5 LTS"
[code]

`Docker version 1.12.3, build 6b644ec`

Every day I come to work and my deploy system cannot connect to docker
[code]

docker ps command hangs.
I cant do anything except reboot server.

How to diagnose it ?

[code]

[2016-11-18 09:21] eliassal commented on #27911
Sorry, is this a windows or docker command, and when and where I shoiuld run it?
Thanks

[2016-11-18 09:41] XOfSpades commented on #6094
I would also love a feature to symlink my config files. In my case I define a volume in my Dockerfile where the executable jar files search for an application.conf file. Inside a common sbt project they are located at some specified folder which I would like to symlink to that (local) volume when running it locally.

[2016-11-18 09:54] thaJeztah opened #28579 "remove 1.13-dev builds from master.dockerproject.org"
Master was bumped to 1.14-dev, so we should remove old 1.13-dev builds from https://master.dockerproject.org

/cc @mlaventure @andrewhsu

[2016-11-18 10:06] thaJeztah commented on #23909
Resolving digests, and pinning services to that digest was implemented in https://github.com/docker/docker/pull/28173

Now, if an image with the resolved digest is already present locally, no pull is performed;

[code]

@tonistiigi should we close this issue, or do you want to document `DOCKER_SERVICE_PREFER_OFFLINE_IMAGE` ?

[2016-11-18 10:09] Puneeth-n commented on #28478
@unclejack You are right about the image building part. This is what we currently do and this works as long as a PRs are tested sequentially on a buildserver like `Jenkins` But doesn't work once PRs are tested in parallel. Imagine 1 PR fixes a bug in `my_nodejs_lib` and the 2nd PR changes something in `my_cool_service` whose Dockerfile "inherits" from `my_nodejs_lib` Each PR has a different versio

[2016-11-18 10:10] thaJeztah commented on #24095
ping @diogomonica @dmcgowan what's the status on this one?

[2016-11-18 10:13] thaJeztah commented on #24121
@cpuguy83 do you think health checks are a solution for this, or do we want to have a `docker task kill` (or similar) command?

[2016-11-18 10:24] unclejack commented on #28478
@Puneeth-n That seems to be very tied to your particular workflow. This can be managed easily by triggering a rebuild of all the images which rely on that parent image. This is what everyone does. There's really no need for a parametric FROM for this use case.

This discussion is more appropriate for https://forums.docker.com.

[2016-11-18 10:24] #28478 closed

[2016-11-18 10:35] thaJeztah commented on #24165
Filtering on node _name_ is now supported;

[code]

[code]

So looks like only `node=self` is remaining

[2016-11-18 10:43] thaJeztah commented on #24352
This is still an issue in 1.13-rc1

@aaronlehmann just re-reading this; and I think you were confused with `docker service update`. That command already requires at least 1 argument, and 1.13 added a `--force` flag

I'm moving this to 1.14, but if there's an easy fix for this, we may be able to include it in 1.13

[2016-11-18 10:58] erxian opened #28581 "Can not create secret normally by using "docker secret create" command"
**Description**
I use "docker secret create secret.json" command to create a secret named secret.json,  and enter "mhv17xfe3gh6xc4rij5orpfds".  But there is no response and no secret ID returns. So I touch a secret.json file with  "mhv17xfe3gh6xc4rij5orpfds" within it, and use "cat secret.json | docker secret create secret.json" command, then it works and returns the secret ID.

**Steps to reprodu

[2016-11-18 11:05] iBobik commented on #6094
Next use case:
I have a repository with a docker-compose.yml, subfolders with Dockerfiles and subfolder with app sources what are needed in services builds. Only way I know is to use (if I do not want to have duplicate git submodules):
COPY ../app /var/www
But it is forbidden by this stupid policy.

Jan Pobořil
http://honza.poboril.cz/

18. 11. 2016 v 10:42, Bernhard <notifications@github.com>:

[2016-11-18 11:10] thaJeztah commented on #28478
Note that there's an open discussion that's related; https://github.com/docker/docker/issues/18119

[2016-11-18 11:15] rdsubhas commented on #14080
@petrosagg @zrml @thaJeztah What we know is:

- If you scourge through the linked issues in https://github.com/docker/docker/issues/7115 you'll find a long list of linked issues discussing the same problem
- Many were closed with the old `Dockerfile syntax is frozen` message, and then after `HEALTHCHECK` command was added, message ambiguity was removed but issues stayed closed
- This has stopped u

[2016-11-18 11:18] wrfly commented on #28465
Here are more logs:

[code]

It happends again, and I have no idea what triggered this.

[2016-11-18 11:19] yashgt opened #28582 "docker deploy with compose file not working"
This is

[code]

[code]

[2016-11-18 11:20] Puneeth-n commented on #28478
@thaJeztah Thanks for the pointers.

[2016-11-18 11:26] thaJeztah commented on #24394
I think it works correctly;

[code]

This climbs up to +/- 16 old containers, but that seems to be just because it cannot remove old containers fast enough.

Fixing the service makes the amount of containers go back to 5 (1 running, and 4 old tasks);

[code]

[code]

One thing I tried, is to use the new `--update-max-failure-ratio` option, however this does not work for _creating_ a service. I won

[2016-11-18 11:26] #24394 closed

[2016-11-18 11:27] vdemeester commented on #28582
/cc @aanand @dnephin

[2016-11-18 11:32] thaJeztah opened #28583 "[rfc] make "--update-max-failure-ratio" useful for new services"
While testing https://github.com/docker/docker/issues/24394, I considered using `--update-max-failure-ratio` (added in https://github.com/docker/docker/pull/26421) to prevent docker from endlessly spinning up faulty containers;

[code]

However, docker does not `pause` spinning up containers even if 100% fail.

I realize this was not in the original design for this flag, but was wondering if it wo

[2016-11-18 11:34] #28571 closed

[2016-11-18 11:47] thaJeztah commented on #6094
@iBobik `docker build` is performed on the _daemon_. When running `docker build .`, the docker client;

- creates a tar-archive of the current directory (skipping files and directories excluded through `.dockerignore`)
- uploads the tar archive to the daemon
- the daemon extracts the archive
- evaluates each line in the Dockerfile
- any `ADD` or `COPY` is relative to the extracted archive

Allowin

[2016-11-18 11:49] Jaspreetc commented on #27580
@thaJeztah  I deployed the registry "https://github.com/docker/distribution/releases/tag/v2.5.0,",yesterday but it fails to run I get the following error , either there is an issue with the way I have deployed registry or there is something wrong with the image, I have tried it on 2 different machine and have the same result.

[root@<server name>~]# docker images
REPOSITORY          TAG

[2016-11-18 11:57] justincormack commented on #28573
Please can you open Docker for Mac specific issues on https://github.com/docker/for-mac/issues not here. I believe this is a known issue, fixed in master at least, but you will get correct information there.

[2016-11-18 11:57] #28573 closed

[2016-11-18 11:58] thaJeztah commented on #27580
@Jaspreetc did you build that image yourself or pull it from Docker hub? The image you showed is 289MB, but the official image is only 10MB (compressed, uncompressed +/- 33MB)

What happens if you simply run the official image from Docker Hub?

[code]

[2016-11-18 12:02] #28204 closed

[2016-11-18 12:07] thaJeztah commented on #28570
No, there currently isn't. You can listen for "container" events on each node, but that probably won't help with this (there is an issue for "swarm mode events" in the swarm kit repository)

Also this issue may be related; https://github.com/docker/docker/issues/23880

I'll close this issue, because the question is answered, but feel free to write a more complete proposal / feature request with mo

[2016-11-18 12:07] #28570 closed

[2016-11-18 12:17] thaJeztah commented on #28568
Are you only seeing this problem with the Red Hat version of docker, or also with a vanilla version?

[2016-11-18 12:23] rhatdan commented on #27773
@edsantiago if 1.10 did not need it then that was the bug.  This content should not be accessible unless it was labeled correctly.  We might have labeled /var/lib/docker/volumes differently, but I don't think so.  Some how the 1.10 version got a label on it that was writeable by the processes within the container.  The 1.12 version is the correct behaviour.  We don't want a container process to wr

[2016-11-18 12:24] soanni opened #28585 "USER in Windows Container. How to change user with password?"
Hi docker team. I opened this issue as a follow up for https://github.com/docker/docker/pull/28415 and https://github.com/docker/docker/issues/28027.

Tested USER functionality on this build
[code]
if i'm adding user without password i'm able to switch user
[code]
but if i'm adding user with password i got the error. Or i need to start-process powershell and provide PSCredentials object. It's not

[2016-11-18 12:24] Jaspreetc commented on #27580
I am going to try 2.5.1 or 2.6.0 Rc1 and would get back to you if I see the same error again.

[2016-11-18 12:25] edsantiago commented on #28568
I only have access to the Red Hat build.

[2016-11-18 12:30] edsantiago commented on #28568
Per @rhatdan on the original issue:

[2016-11-18 12:30] #28568 closed

[2016-11-18 12:33] jeremyherbert commented on #14080
@rdsubhas care to share the link when you are done?

[2016-11-18 13:23] cpuguy83 commented on #24121
While a healthcheck could accomplish this, at that point it's not really a "rogue" task.

[2016-11-18 13:28] twang2218 opened #28587 "[1.13] `docker build` failed if there is a comment line in the multi-line RUN statements"
**Description**

I ran into a problem that some of my `Dockerfile` cannot be built under new Docker 1.13.0-rc1. I found it might caused by a comment line in the `RUN` statement.

**Steps to reproduce the issue:**

First, create a `Dockerfile` with the following content:

[code]

The `RUN` statement is a multi-line command, using `\` at the end of each line, and a comment line is in the between of

[2016-11-18 13:29] sanimej commented on #28465
@wrfly Identified a possible sequence in which this panic can happen. Working on a fix..

[2016-11-18 13:32] duglin commented on #28587
This change was done on purpose to more closely align with how scripts work. For example:
[code]
generates an error because "world" isn't added to after "hello". IMO, the old behavior as a mistake.

[2016-11-18 13:34] duglin commented on #28587
Closing since this was an intentional change.

[2016-11-18 13:34] #28587 closed

[2016-11-18 13:38] cpuguy83 commented on #28302
@mj073 In your case, you wrote data each time even though the command failed and triggered the quota.

[2016-11-18 13:43] twang2218 commented on #28587
@duglin Could you redirect me to the docs of the change? Thanks.

[2016-11-18 14:05] duglin commented on #28587
@twang2218 in the docs the best I could find is, in
https://github.com/docker/docker/blob/master/docs/reference/builder.md
look for `Line continuation characters are not supported in comments.`

The PR that introduced this change is: https://github.com/docker/docker/pull/24725

[2016-11-18 14:14] thaJeztah commented on #27580
Building from GitHub works for me as well (although you'd get a much larger image, as it's meant for development, not for "production", so not a minimal image);

[code]
[code]

(same for v2.5.1)

[2016-11-18 14:29] ijc25 commented on #13817
@thaJeztah I'm afraid that #28304 will only make a difference to the rendering of the progress bars on a `docker pull` or similar, it won't make any difference to an interactive shell session's handling of arrows etc. Sorry!

[2016-11-18 14:30] thaJeztah commented on #13817
@ijc25 alright, thanks! Was just letting my mind go :)

[2016-11-18 14:33] cpuguy83 commented on #28575
Can you send `SIGUSR1` to the dockerd process then grab the stack dump from the logs?

[2016-11-18 14:40] twang2218 commented on #28587
Got it, Thank you.

[2016-11-18 14:45] ijc25 commented on #13817
@thaJeztah it is possible that terminfo improvements elsewhere might help, e.g. a terminfo entry in the container corresponding to the `$TERM` set by whichever shell is in use.

[2016-11-18 14:50] ms-xy commented on #6094
@thaJeztah the thing is, we are well aware of the risks.
A feature being risky doesn't necessarily make it less useful. For all I care make it only available by using an ugly several words long command line flag - or more drastically have it only optionally compiled in. But make it available.

Take for example, privilege elevation to root or even logging in as root on a Linux system is a daily pra

[2016-11-18 15:02] justincormack commented on #6094
You can do this by just doing `tar --dereference -cf - . | docker build -` - this does not require changes to docker build itself. Using tarball input to `docker build` lets you do anything like this you require.

[2016-11-18 15:15] runcom opened #28588 "containerd commit not shown in docker info"
runc and init works, docker-containerd on my system is correct but `docker info` reports empty.

[code]

[2016-11-18 15:16] boskiv commented on #28575
I have send `kill -SIGUSR1 1151` but nothing happends in logs

[2016-11-18 15:21] cpuguy83 commented on #28575
@boskiv Where are you looking at logs? Do you see other details (such as logs for requests?)

[2016-11-18 15:22] boskiv commented on #28575
I look into `/var/log/syslog` (I have Ubuntu 14.04 there)

[2016-11-18 15:23] cpuguy83 commented on #28575
Logs would be in `/var/log/upstart/docker.log`

[2016-11-18 15:26] boskiv commented on #28575
https://gist.github.com/boskiv/02aff5da81f7ba2dd20b0b872c267b88

[2016-11-18 15:39] boskiv commented on #28575
@cpuguy83 can I reebot my server or your need some else while it hanged ?

[2016-11-18 15:42] cpuguy83 commented on #28575
Reboot away, I'll check out this stack trace.

[2016-11-18 15:48] RRAlex commented on #28559
Doing more tests this morning, trying to remove the "global" network I create, while no container nor services were running, I got:

Error response from daemon: rpc error: code = 9 desc = network m1t7y55ii775l4epndnp15q9b is in use by task 0mv9ecm1rbf137h6lh9jl7rvt
Error response from daemon: network with name global already exists

Also, doing a `docker swarm leave --force; docker init` and then

[2016-11-18 15:51] harrybvp commented on #28510
Downgrading Virtual Box from 5.1.8 (latest release) to 5.1.6 seems to fix the issue.
Issue has been described in https://www.virtualbox.org/ticket/16084

[2016-11-18 15:52] ms-xy commented on #6094
Except that it does not work with docker-compose. So either a change in docker-compose or docker.

[2016-11-18 15:52] mlaventure commented on #28579
Done, really need to automate this.

The index.html page will be updated at the next merge.

[2016-11-18 15:52] #28579 closed

[2016-11-18 15:54] mlaventure commented on #28470
@thaJeztah thanks! It wasn't vendored yet indeed. Doing the PR today.

[2016-11-18 15:59] friism commented on #27941
@rmcolbert Indeed! We have an internal issue to track adding this.

[2016-11-18 16:02] peterthomassen opened #28589 "With --userland-proxy=false, dockerd listens on exposed ports (instead of docker-proxy)"
**Description**

I assign IPv6 addresses directly to my docker containers and don't want anything docker-related to be available on the host IPv6 address.

By default, `docker-proxy` listens on the host IPv6 address to deal with traffic coming in on exposed ports (each with a different process). I therefore added `--userland-proxy=false` to the `dockerd` systemd configuration.

It turns out that t

[2016-11-18 16:05] cpuguy83 commented on #28575
@boskiv It seems to be hung trying to close out the syslog logger which is itself is also stuck in a write call to the network connection.

[2016-11-18 16:07] boskiv commented on #28575
Ok, I will setup it back to json. I suspect it.

[2016-11-18 16:19] cpuguy83 commented on #28575
ping @sirsean, wdyt about setting a socket timeout?

Also not sure why this would hang indefinitely:
[code]

Here's the bit causing everything in docker to hang due to the above hang while the syslogger is locked:
[code]

[2016-11-18 16:22] cpuguy83 commented on #28575
@boskiv How is your syslog driver configured?

[2016-11-18 16:30] omlip opened #28591 "-compsoe $(pwd)"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2016-11-18 16:42] runcom commented on #28588
/cc @vdemeester @thaJeztah

[2016-11-18 16:43] #28591 closed

[2016-11-18 16:55] cpuguy83 commented on #28581
`docker secret create` works only via right now.
There could be an enhancement that accepts a file input.

[code]

[2016-11-18 17:08] jadametz commented on #22207
I've brought this up a few different times in (Docker Community) Slack. Each time a handful of people run through a list of garbage collection scripts/cmds I should run as a solution.

While those have helped (read: not solved - space is still creeping towards full) in the interim, I think we can all agree that's not the ideal long term fix.

[2016-11-18 17:13] sirsean commented on #28575
Well that sure doesn't look good.

I'll dig into this and see how srslog could be hanging there.

[2016-11-18 17:17] cpuguy83 commented on #22207
@jadametz 1.13 has `docker system prune`.
Beyond that, I'm not sure how else Docker can help (open to suggestion). The images aren't just getting to the system on their own, but rather through pulls, builds, etc.

In terms of actual orphaned layers (no images on the system referencing them), we'll need to address that separately.

[2016-11-18 17:22] yongtang commented on #28582
I think this issue might be related to #28528.

[2016-11-18 17:32] sirsean commented on #28575
First thought: I don't like the way `srslog`'s `connect` function demands that you must `Lock` before calling it. This means we're holding the lock far too long, and putting responsibility for it in the wrong place.

I need to investigate whether it's possible to make that locking more granular, and more focused on getting _access_ to the `conn` rather than the use of it. (Because using `conn` sho

[2016-11-18 17:37] mlaventure commented on #28495
Should be fixed by #27405
Duplicate of #25993

[2016-11-18 17:41] aaronlehmann opened #28592 "golint validation is not being enforced"
In this build: https://jenkins.dockerproject.org/job/Docker-PRs/35557/consoleFull

[code]

However the build is marked as successful. The failure of the `validate/lint` script does not cause the build to fail.

[2016-11-18 17:41] vdemeester commented on #28592
Gonna fix that :sweat_smile:

[2016-11-18 17:45] merlinnot opened #28593 "User namespaces - Phase 2"
I've found few references to this issue:
- #15187
- [at linux foundation.com](https://events.linuxfoundation.org/sites/events/files/slides/User%20Namespaces%20-%20ContainerCon%202015%20-%2016-9-final_0.pdf)
- [and at this blog.](https://integratedcode.us/2015/10/13/user-namespaces-have-arrived-in-docker/)

 but there's no ticket regarding this problem, AFAIK.

It would be more than useful to creat

[2016-11-18 17:45] LK4D4 commented on #28575
@sirsean yup, indeed. It should be kinda easy to make `conn()/setConn()` methods with locks and remove locking everywhere else. From the code, it looks like mutex protects only conn field.

[2016-11-18 17:46] tonistiigi commented on #23909
@thaJeztah This itself doesn't help for tests. It could only work if we add a digest based busybox to frozen images(can't be done with `docker load`) and then modify every test to use that reference(seems very easy to break).

[2016-11-18 17:56] aboch commented on #28589
Yes, if `--userland-proxy=false` portmapper will spawn a `dummyProxy` which will bind to the port.
I believe this was done so to book the port for not being bound by some other service on the host.

The comment at https://github.com/docker/docker/blob/v1.12.3/vendor/src/github.com/docker/libnetwork/portmapper/proxy.go#L103 seems to support this theory.

[2016-11-18 18:00] diogomonica commented on #24095
Should probably be done. The assumption is that no one is relying on the current ID to have the current format, and that we can simply replace it by the swarm ID.

[2016-11-18 18:04] yongtang commented on #28592
`go vet` and `gofmt` may have issue as well #28538.

[2016-11-18 18:06] vdemeester commented on #28592
@yongtang yep, I'm making sure they all work back smoothely :angel:

[2016-11-18 18:13] thaJeztah commented on #28593
ping @estesp

[2016-11-18 18:16] aboch commented on #28564
@herbrandson Just to make sure, are the required ipvs modules present on all of your nodes ?
You could run https://github.com/docker/docker/blob/master/contrib/check-config.sh on them.

[2016-11-18 18:35] atrauzzi commented on #1996
@cpuguy83 Are there any docs or explanations about `--squash` anywhere that I can read up on?  At the outset the name doesn't make it sound like it does what I'm thinking.  But I could be (and most likely am) wrong!

[2016-11-18 18:45] cpuguy83 commented on #1996
@atrauzzi yes, in the build reference.

Basically, `--squash` both preserves the layer cache, and creates a 2nd image which is as if everything in the Dockerfile happened in a single layer.

[2016-11-18 18:46] cpuguy83 commented on #1996
I don't see why one would need to check that a file cache is still valid individually, `ADD` and `COPY ` already do this for everything that's being copied in.

[2016-11-18 18:58] aboch commented on #27404
Thanks @dpeters for the extra triage, that helps.

Based on the above let's still keep this issue open, so that you can update after your future experiments, for the sake of others who may have performed similar steps.

From my side one extra log it would be nice to collect and check in the 1.11.x=>1.12.x updated use case, is to start the daemon with the `-D` flag and attach them here if the issue

[2016-11-18 19:13] aboch commented on #27880
@ceecko I know, hopefully one day that will work too.

I will close now this issue as know limitation. Thanks.

[2016-11-18 19:13] #27880 closed

[2016-11-18 19:17] rhatdan commented on #28593
@thaJeztah We have been talking about this same issue internally.  I think it would be helpful to agreeing on the CLI even though the kernel/file system is not their yet to make this work.

I would suggest that this is a security thing, so

docker run --security-opt mapping=uid:$HOSTUID:$CONTAINERUID  --security-opt maping=gid:$HOSTGID:$CONTAINERGIF

[2016-11-18 19:27] #28549 closed

[2016-11-18 19:43] mheon commented on #28593
To elaborate on the kernel/FS work:

Right now, for a single user namespace, images are chown'd as they are pulled to make them match the UID ranges that are mapped into the user namespace (as an example, we might map UIDs 100000-165535 to UID 0-65536 in the container, so all images pulled down will be chowned so root is 100000, not 0, and so on). This approach doesn't really work with multiple us

[2016-11-18 19:56] stevvooe commented on #24095
@dmcgowan So, are we comfortable with the possibility that this node ID could change during the lifetime of the engine? For example, if a node is not part of a swarm and joins, it will get a new ID. If node joins and leaves, it will get a new id.

I think we should link these concepts, but is this a good idea overall?

[2016-11-18 20:05] scottstensland opened #28596 "unexpected EOF on docker push"
For past several days I am seeing sporadic docker push failures with :  unexpected EOF
Typical occurrence :

[code]

This is breaking my automation - however the docker push works upon manual intervention.
Currently seeing about 25% of all docker push are now failing in this way ... I will revert to using an earlier docker release and see if it helps yet I figured booking this ticket may thwart pa

[2016-11-18 20:34] stevvooe opened #28597 "ContainerSpec.Hosts has format backwards"
Please see https://github.com/docker/docker/pull/28299#discussion_r88733899.

The new `hosts` field just uses the format from `/etc/hosts`, since this is cross-platform capable.

@thaJeztah @cpuguy83

[2016-11-18 20:37] sinkoneri commented on #25912
@cpuguy83
Before creating the jenkins service i issued the eval ($(docker-machine env nodename) than the mkdir command which  creates the source dir.
I followed [this](https://www.youtube.com/watch?v=vLVwqPS8H_E#t=19m35s) video to create a failover jenkins config with docker swarm. Am i missing something or there is some preconfig steps,settings which isn`t in the video?

Sorry I'm a newb at docke

[2016-11-18 20:39] cpuguy83 commented on #25912
@sinkoneri Yould have to ssh to the machine to create these host dirs, just setting the env is not going to do it.

[2016-11-18 20:42] sirsean commented on #28575
You're right that the mutex only protects the `conn` field.

I think this should be closer to what we want:

https://github.com/RackSec/srslog/pull/21

If someone wants to give that a quick review.

[2016-11-18 20:44] dattatrayakumbhar04 opened #28600 "Docs: network connect for container in Created/Stopped state"
**Description**
When container is Created/Stopped with 'docker create'/'docker stop' command and attached a new network to it before start,
it does not give any error. When we start same container, it gets IP config from attached network.
'docker network inspect' also shows container endpoint correctly after start "created" container.

It seems expected behavior . We need to add this detail about

[2016-11-18 20:53] dnephin commented on #28582
The error does appear to be the same. I'll try to reproduce to see what's happening.

[2016-11-18 20:57] dnephin commented on #28582
@yashgt can you provide the full output of `docker version`

[2016-11-18 21:01] dmcgowan commented on #24095
I agree with Diogo that it is safe to assume the format is not being relied on, but it is possible that tooling is expecting this ID to not mutate. Could this cause problems with updating from swarm v1 to swarm mode?

I agree that basing it off the trust key is no longer useful, but why not keep the ID specific to the machine and use the Swarm NodeID when it is needed. Are we going to define some

[2016-11-18 21:10] mstanleyjones commented on #24946
Good enough for now. When the automated API and CLI are done, these per-flag details will be in the Cobra code.

[2016-11-18 21:10] #24946 closed

[2016-11-18 21:11] thaJeztah commented on #28597
Opened https://github.com/docker/docker/pull/28603

[2016-11-18 21:12] tonistiigi commented on #28596
@scottstensland Could you send us the daemon logs during the push. `unexpected EOF` usually means dropped connection between client and daemon, possibly even a fatal error in daemon that should be logged with a stacktrace.

[2016-11-18 21:34] herbrandson commented on #28564
@aboch These are the results from our staging environment (8 nodes)

[config-0.txt](https://github.com/docker/docker/files/600974/config-0.txt)
[config-1.txt](https://github.com/docker/docker/files/600976/config-1.txt)
[config-2.txt](https://github.com/docker/docker/files/600973/config-2.txt)
[config-3.txt](https://github.com/docker/docker/files/600978/config-3.txt)
[config-4.txt](https://github.c

[2016-11-18 21:36] dnephin commented on #28582
I can't reproduce this issue with 1.13-rc1, so I think it might be a duplicate of #28528.

[2016-11-18 21:36] stevvooe commented on #24095
Unless it is specified that this is a UUID, reliance on the format of an opaque field shouldn't be considered supported.

We already effectively do this with swarm. We should probably extend this functionality as a property of the nodes identity. This is a powerful concept.

[2016-11-18 21:40] scottstensland commented on #28596
shared link to log excerpt (272k)   https://drive.google.com/file/d/0BwsqAY439yBDX0FHbktJVXZIRGc/view?usp=sharing

one such offending bit

journalctl -u docker.service

[code]

[2016-11-18 21:42] tonistiigi commented on #28596
ping @aaronlehmann @dmcgowan

[2016-11-18 21:42] atrauzzi commented on #1996
@cpuguy83 Good point, didn't even think that, and of course I'm already using it.

What about the timestamp approach?  Is that doable with what's already available?

[2016-11-18 21:50] thaJeztah commented on #1996
Through build-args;

[code]

[code]

change the build arg to bust the cache

[2016-11-18 21:51] aaronlehmann commented on #28596
This looks very similar to https://github.com/docker/docker/issues/9132

[2016-11-18 22:01] tomdee opened #28606 "dockerd crashes (panics) when passing --link-local-ip to docker run."
I ran the following command
`docker run -ti --rm --net=calico  --link-local-ip 169.254.1.2  alpine /bin/sh`

This was on a recent master build of docker.

Docker daemon gave me this:
[code]

[2016-11-18 22:03] LK4D4 commented on #28606
ping @aboch @sanimej

[2016-11-18 22:07] crosbymichael commented on #28588
I'm seeing the same thing after updating to master only I get no versions for anything

[2016-11-18 22:08] #28470 closed

[2016-11-18 22:11] scottstensland commented on #28596
My push is a single image at a time

[2016-11-18 22:17] aaronlehmann commented on #28596
Thanks, that's a useful data point. To clarify, I don't think this is the same problem as #9132, but the same stack trace emerged while debugging that issue, so there's some similarity.

[2016-11-18 22:33] Crassirostris opened #28608 "Docker daemon logs timestamp format"
**Description**

Recently in Kubernetes we encountered a problem with docker daemon logs https://github.com/kubernetes/kubernetes/issues/36893. Turns out, some log lines have different timestamp format from one we relied on. Example:

[code]

As you can see, third message have only seconds precision. The full log can be found [there](https://storage.googleapis.com/kubernetes-jenkins/logs/kubernete

[2016-11-18 22:50] LK4D4 commented on #28608
I think @mlaventure changed the format of containerd logs some time ago. However, it's still different from docker, but should look almost the same.

[2016-11-18 22:52] aaronlehmann commented on #28592
Appears to be fixed now.

[2016-11-18 22:52] #28592 closed

[2016-11-18 22:55] LK4D4 commented on #28592
@vdemeester is it really fixed?

[2016-11-18 22:58] #28597 closed

[2016-11-18 23:01] mlaventure commented on #28608
It was changed back in April to use `RFC3339Nano = "2006-01-02T15:04:05.999999999Z07:00"`:

[code]

Docker seems to be using an altered version `rFC3339NanoLocal = "2006-01-02T15:04:05.999999999"`

[2016-11-18 23:42] hallyn commented on #28371
Hi,

I notice you're using a 16.04 lxd container.  Could you try a zesty container (lxc launch images:ubuntu/zesty dc2)?  What are you using as your host OS/release?  (cat /etc/*-release on the host).

I may give this a whirl this weekend, cause "baby it's cold outside" anyway.

[2016-11-18 23:59] hunternet commented on #16150
poxa o meu erro persiste

FATA[0012] Error response from daemon: Cannot start container 82da267bde763f0a3f8d6452ffbe5252247bb4ed068db1f8ebae0fa1eebea970: [8] System error: mountpoint for devices not found

estou tentando inicializar um app cloud-torrent

https://github.com/jpillora/cloud-torrent

se algen puder me ajudar agradeço

[2016-11-18 23:59] merlinnot commented on #28593
I guess we'll have to wait a little bit longer according to [this](https://lwn.net/Articles/700422/). Last patch for ShifFS was [posted](https://patchwork.kernel.org/project/linux-fsdevel/list/?q=shiftfs) June 1st... I can't find much more information regarding this topic.

I'll try to resolve my issues using bindfs/nfs for now.

@rhatdan It's not only security thing, at least in my case it is not

[2016-11-19 00:05] ryanprior commented on #28371
``
ryan@butterfly:~$ cat /etc/*-release
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=16.04
DISTRIB_CODENAME=xenial
DISTRIB_DESCRIPTION="Ubuntu 16.04.1 LTS"
NAME="Ubuntu"
VERSION="16.04.1 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04.1 LTS"
VERSION_ID="16.04"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubuntu.com/"
BUG_REPORT_URL="http://bugs.launchpad.net/ubuntu/"
VERS

[2016-11-19 00:05] khudgins opened #28612 "Docker volume .md files need more detail"
**Description**

Docker volume command documentation files do not fully describe expected behavior for contributors writing volume drivers. In particular, volume management in swarm mode can be troublesome for clustered storage systems when determining which node to create volumes and where to report volume list. This can lead to cartesian bugs when creating volumes (every node creates a volume ba

[2016-11-19 00:12] wasosa opened #28614 "Ubuntu 16.04 host: cannot run systemd inside unprivileged container"
I decided to create a new issue instead of commenting on an existing one because:
1. Other issues are closed
2. This issue is specific to Ubuntu 16.04 hosts
(apologies if that was the wrong call)

Here's a reduced test case that shows I cannot start systemd inside a container on Ubuntu 16.04 hosts:

[code]
As you can see `systemctl` is not putting anything on stdout (line count is 0), but it is pu

[2016-11-19 00:14] hallyn commented on #28371
Oh, no, they don't.  yakkety's should work - but I didn't look closely enough, and thought you were installing from git by hand.

[2016-11-19 00:15] peterthomassen commented on #28589
Hm. I'm not sure if I follow the reasoning behind this.

Why would one want to prevent another service binding to this port? In my setup, each container has its own IPv6 address, and is exposed fully (up to container-specific firewall rules). IPv4 exposure is done via IP forwarding on the host. None if this needs any binding on the host IPv4 or IPv6 address.

To me, this seems like a messy solutio

[2016-11-19 00:48] aboch commented on #28606
What is the network scope of a network created by the `calico` driver ?

[2016-11-19 01:01] ryanprior commented on #28371
I've never installed from git by hand, if it's not hard then I might try it. I did try using a Yakkety image and package, but there was no difference, so I figured I might as well report against the LTS.

[2016-11-19 02:16] mlaventure commented on #28588
😱

Won't have time to look at it until Sunday

[2016-11-19 02:18] thaJeztah commented on #28495
Let's close this one then as a duplicate of https://github.com/docker/docker/issues/25993

[2016-11-19 02:18] #28495 closed

[2016-11-19 02:20] sergeyzwezdin opened #28616 "x509: certificate signed by unknown authority"
**Description**

I've created docker registry and trying to make it work with StartSSL certificate. It works ok on Windows machines, but if I try to `docker login` from Linux it fails with `x509: certificate signed by unknown authority`.

**Steps to reproduce the issue:**
1. Have a clean Ubuntu 16.10 installation with installed docker
2. Get certificate for domain from StartSSL
3. Run docker regis

[2016-11-19 02:25] mlaventure commented on #28588
Had a quick 5 mins.

It works for me:

[code]

[2016-11-19 05:59] matthewmueller opened #28617 "Dockerfile support for ENVFILE ./.env?"
Looked around a bunch but can't find how to do this:

[code]

If that's not possible, is there a way to build a docker image that will contain all those environment variables when run?

I see that there's a way to do it when you start a container with docker-run, but I'd like to be able to do it when I build the container.

[2016-11-19 07:44] ghostplant opened #28618 "Security Proposal: add "--pids-limit" to "docker service create/update" option list"
This limit can prevent from OS resource damage by applications inside the container using fork bomb attack.

And this issue can also be easy to implement referencing from "--limit-memory".

=> Setting pids value to: /sys/fs/cgroup/pids/docker/**$container**/pids.max

[2016-11-19 07:51] ghostplant opened #28619 "Security Proposal: add "--storage-opt size=" to "docker service create/update" option list area/swarm"
This limit can prevent from running out of disk space by any one of applications inside the container using "dd if=/dev/zero of=/attack bs=1M", since "docker run" already supports this options.

[2016-11-19 08:15] ghostplant opened #28620 "Can external machine look up the created secret?"
For something like: **echo hello | docker secret create test**

Is there a way to lookup the content of secret directly using docker instructions instread of running a node attaching the secret and running "**cat /run/secrets/test**" by "**docker exec**"?

[2016-11-19 08:32] ghostplant commented on #28620
If this is possible, then it can be used as a lite distributed k/v store and take place of etcd.

[2016-11-19 09:51] vdemeester commented on #28592
@LK4D4 I'll create a PR to prove it 😇

[2016-11-19 12:00] ProgramItUp commented on #16941
Interesting that you say it is fixed, I'm getting:

[code]

[2016-11-19 12:09] eliassal commented on #27911
Patrick, I just want to confirm that network is working fine on the machine, I can browse internet, I can ping any site

ping altern.org

Pinging altern.org [80.67.174.90] with 32 bytes of data:
Reply from 80.67.174.90: bytes=32 time=7ms TTL=57
Reply from 80.67.174.90: bytes=32 time=7ms TTL=57
Reply from 80.67.174.90: bytes=32 time=9ms TTL=57
Reply from 80.67.174.90: bytes=32 time=7ms TTL=57

Ping

[2016-11-19 12:10] wrfly commented on #28465
@sanimej  Does anything related to iptables? I got an error when a service down:
![screenshot from 2016-11-19 19-55-44](https://cloud.githubusercontent.com/assets/7827389/20455314/082c1766-ae94-11e6-9481-11e520ca9d98.png)

[2016-11-19 12:14] duglin commented on #28617
There is no cmd to do that today.  Its an interesting option though.  Do others have a need for this?

[2016-11-19 12:26] thaJeztah commented on #16941
@ProgramItUp can you tell which IP address apt.dockerproject.org resolves to for you?

[2016-11-19 12:49] ProgramItUp commented on #16941
I'm on Ubuntu 14.04, on a machine behind a proxy.  So ping, traceroute, whois do not resolve.

What command would you like me to run?

[2016-11-19 12:52] thaJeztah commented on #16941
@ProgramItUp I just tried to reproduce on a fresh Ubuntu 14.04 droplet on DigitalOcean (AMS3), but cannot reproduce. The issue here (as you can see from the discussion above) was due to a configuration change in AWS cloudfront, and was only happening on some mirrors (IP-addresses).

If we know which IP-address your computer tries to connect to when accessing apt.dockerproject.org we would be able

[2016-11-19 13:12] thaJeztah commented on #16941
It looks like something in your network is preventing you to reach apt.dockerproject.org. I suggest to ask in your company what's wrong. Perhaps it's blocked on purpose

[2016-11-19 14:04] thaJeztah commented on #28617
With the limitations of the env-file in docker (e.g. No multi-line env vars etc), why not use something like;

[code]

[2016-11-19 14:11] thaJeztah commented on #28620
No there's no such feature. The secrets functionality was designed for providing secrets to services / containers, not as a general purpose secrets store.

[2016-11-19 14:11] #28620 closed

[2016-11-19 15:35] thaJeztah commented on #28364
ping @justincormack @dsheets ^^

[2016-11-19 15:46] albers opened #28621 "[1.13.0-rc1] experimental features are availabe in non-experimental mode"
According to the [1.13.0-rc1  release notes](https://github.com/docker/docker/releases/tag/v1.13.0-rc1), `docker checkpoint` is experimental.
I would expect it to be unavailable if the daemon is running in non-experimental mode. But it _is_ available:

[code]

This is also valid for current HEAD of master (96f50e9b7087bad25cb38e2985c26b509be0c403)

[2016-11-19 15:55] mokele commented on #16941
Now that this bug is fixed for docker apt, the remaining bug for virtualbox users is to downgrade to 5.0.26 or the most recent TestBuilds (where the bug is already fixed)... see here https://www.virtualbox.org/ticket/16084

[2016-11-19 15:58] albers commented on #28621
Other experimental features that are available in non-experimental mode:

- `docker deploy`
- `docker stack`

[code]

[2016-11-19 16:02] leodotcloud commented on #28406
This is very easily reproducible. The following logs are from a fresh GCE RHEL instance.

[code]

[2016-11-19 16:03] albers commented on #28621
Experimental features are hidden in help output unless the daemon is running in experimental mode (this is broken in RC1 but fixed in current HEAD). For consistency, these features should not be available to the user in non-experimental mode.

[2016-11-19 16:09] albers opened #28622 "[Feature request] Show progress in plugin install"
When pulling images, Docker displays progress information (`docker pull`, implicitly on `docker run`).
As plugins are images, I would expect `docker plugin install` to display the same information during operation. In fact, it just stalls until the pull is complete.

[code]

[2016-11-19 16:15] runcom commented on #28406
@rhatdan would you have a look at this?

[2016-11-19 16:25] boskiv commented on #28575
@cpuguy83
[code]

[2016-11-19 16:51] thaJeztah commented on #28614
I was able to start a centos container with this;

[code]

I had to specify the `--tmpfs` otherwise container start failed;

[code]

Ubuntu 16.04 indeed fails to start; it also required `/run` to be specified as tmpfs, but then failed at trying to mount a tmpfs at `/run/lock`.

[code]

Setting both `/run` and `/run/lock` as tmpfs seems to do more;

[code]

(note: without `-e "container=docker"` I

[2016-11-19 16:53] albers opened #28624 "[Feature request] Support filters for `docker plugin ls`"
It would be nice to have something like `docker plugin ls --filter enabled=true`.
This would enable me to refine bash completion for `docker plugin enable` and `docker plugin disable` with official Docker CLI means.

[2016-11-19 16:57] cpuguy83 commented on #28593
I'd expect an option to say "all containers get their own user namespace mapping" and then provide a way to tweak that per container (the mapping/sharing).

[2016-11-19 16:58] cpuguy83 commented on #28569
You can't change this value during build, and it wouldn't persist in the image.
Is there something that's happening during the actual build that requires this change?

[2016-11-19 17:00] thaJeztah commented on #28621
I think these should be fixed through https://github.com/docker/docker/pull/28561, and  https://github.com/docker/docker/pull/28524, but I'm building master now to confirm

[2016-11-19 17:14] thaJeztah commented on #26861
@nwright-nz this document was moved to the central docs repository, and can now be found here; https://github.com/docker/docker.github.io/blob/master/registry/insecure.md

When updating the document, I suggest to prevent using `myregistrydomain.com`, as that domain. may be an actual domain. For documentation purposes, the `example.com` and `example.org` domains are reserved, and can be used (e.g.

[2016-11-19 17:21] albers commented on #28621
With current head (96f50e9), it is broken, see above.

[2016-11-19 17:21] thaJeztah commented on #18169
@Timoha the original issue reported here was fixed. If you're still seeing this on the current (1.12.3) release, open a new issue. Please take into account that we don't provide builds for CoreOS, and that their packages contain modifications both in source code, and configuration, which can be related

[2016-11-19 17:22] #28441 closed

[2016-11-19 17:31] justincormack commented on #28589
Why are you publishing the ports if you don't want them exposed? If you just leave ipv6 ports on bridge networks is that not sufficient without publishing them?

[2016-11-19 17:36] arthi-ramachandran commented on #13817
@jhowardmsft , I have been trying to get to git bash after installing that insider a windows server 2016 container. docker run -it git-windows powershell. the image git-windows installs git for windows just fine in c:\git. However, once inside the powershell ( container ), unable to get to git bash. Have been struggling for a while. Can you pls give some light ?

[2016-11-19 17:36] thaJeztah commented on #28621
Oh, missed that last line, apologies

[2016-11-19 17:43] thaJeztah commented on #28624
Agreed, I think that would be a good addition. Perhaps someone is interested in working on this, and contributing.

[2016-11-19 17:55] thaJeztah commented on #28622
/cc @tiborvass @vieux @anusha-ragunathan

[2016-11-19 17:58] thaJeztah commented on #28608
@mlaventure should this issue be moved to the containerd issue tracker?

[2016-11-19 18:10] jhowardmsft commented on #13817
It appears none of the msys posix utilities work interactively. I believe they take a reliance on console hooks which aren't present in a Windows container, but haven't looked at the source code for them.

[2016-11-19 18:12] thaJeztah commented on #28553
Can you show your systemd unit file (and possible override files) as well?

[2016-11-19 18:21] arthi-ramachandran commented on #13817
@jhowardmsft thanks for the response.
am not even concerned abt the interactive ones. Atlease basic ones like vi, who, which, grep, find is what we need. I've attached the install of git inside a windows container. Much appreciated any suggestion to get past this ?

Windows PowerShell
Copyright (C) 2016 Microsoft Corporation. All rights reserved.

PS C:\> cd git
PS C:\git> ls

    Directory: C:\gi

[2016-11-19 18:26] albers commented on #28624
I would also welcome a way to filter by plugin type: `--filter type=network|volume|authentication` (just like the grouping in output of `docker info`):
[code]

Usecase: I would like to include the plugins in completion for `docker {volume,network} create --driver` or `docker {volume,network} ls --filter driver=`. But as `docker plugin ls` retruns unspecific output, this is not feasable.

[2016-11-19 18:29] albers commented on #28624
@vdemeester added support for several filters before. Perhaps he is interested.

[2016-11-19 18:30] thaJeztah commented on #28621
I can only partly reproduce this. These fail and give the correct message;

[code]

The only exception is if the command is incorrect (i.e., missing parameters);

[code]

I'm not sure we'd be able to fix that last one easily, because that validation takes place on the client, so doesn't trigger a check with the daemon.

ping @vieux any thoughts?

[2016-11-19 18:31] thaJeztah commented on #28621
This was on master 96f50e9

[2016-11-19 18:37] albers commented on #28621
Ah yes, you are right. The output was generated with the RC. On master, things are slightly different:
[code]
So there is an inconsistency in error management.

[2016-11-19 19:06] petrosagg commented on #14080
@rdsubhas that's a nice summary. It doesn't look like this thread will be closed as dupe/wontfix since @cpuguy83 thinks he's ok with adding `--mount` during the build which covers most usecases.

What I'd like to know is given that the current proposal:

1. does not alter the Dockerfile syntax
2. does not make builds more host dependent that they currently are

Which are counter arguments left reg

[2016-11-19 19:28] sujeetv commented on #6999
+1 This will very helpful with data science use cases to persist model related info and data.

[2016-11-19 19:34] jhowardmsft commented on #13817
vi is only going to work interactively. But as I said I've never got any of the posix utilities to work interactively. See the note in dockerfile.windows for example.

[2016-11-19 19:54] merlinnot commented on #28593
Basic mapping is already (implemented)[https://success.docker.com/Datacenter/Apply/Introduction_to_User_Namespaces_in_Docker_Engine].

There is much more to do tho.

[2016-11-19 20:10] arthi-ramachandran commented on #13817
@jhowardmsft Hi John, thanks.
https://github.com/docker/docker/blob/master/Dockerfile.windows#L165
Assume,
The posix utilities from git aren't usable interactively as at October 2016. This
# is because they require a console window which isn't present in a container in Windows.
# See the example at the top of this file. Do NOT use -it in that docker run. It will not work.

I have all windows  prer

[2016-11-19 20:41] duglin commented on #28617
@thaJeztah that will only make those env vars available during the RUN cmd, they won't be persisted in the resulting image, or even in subsequence RUN cmds

[2016-11-19 20:46] albers opened #28626 "Improve error handling of experimental features in non-experimental mode"
This replaces #28621.

Most of the time, experimental features produce a nice message if run against a non-experimental daemon:
[code]
If the command has invalid syntax, its original error message is shown.
[code]
Another exception is when a swarm mode command is run on a node that is not a swarm manager:
[code]
I would expect all above invocations, regardless of syntax or context violations, to r

[2016-11-19 20:52] albers commented on #28621
The intent of this PR was to report a problem in RC1 that I thought was still present in master.
It turned out that on master, we have a different problem.
So I
- created #28626 to track the new problem
- close this issue because the problem in RC1 is resolved.

Thanks @thaJeztah for verifying and refining the error conditions.

[2016-11-19 20:52] #28621 closed

[2016-11-19 21:03] jhowardmsft commented on #13817
As I said, not interactively. So don't use -it.

[2016-11-19 21:08] yongtang commented on #28624
Added a PR #28627 for `docker plugin ls --filter enabled=true`

[2016-11-19 21:10] yongtang commented on #28624
Oh I didn't notice the other comment about additional flags:
 `--filter type=network|volume|authentication`

Will update the PR.

[2016-11-19 21:22] arthi-ramachandran commented on #13817
@jhowardmsft , Thanks!
This run cmd seems to access bash.exe in cygwin
PS C:\cygwin\bin> docker run cygwin-win c:\cygwin\bin\bash -c 'cd /cygdrive/c/cygwin; /cygdrive/c/cygwin/bin/ls -al'
total 12
d---rwxr-x+ 1 Administrators         ContainerAdministrator      0 Nov 17 17:57 .
drwxrwxr-x+ 1 Administrators         SYSTEM                      0 Nov 19 13:20 ..
-r--rw-r--+ 1 Administrators         A

[2016-11-19 21:36] thaJeztah commented on #28617
@duglin ah, you're right

[2016-11-20 00:02] 27Bslash6 commented on #13555
It is happening again

/thegiant

[2016-11-20 00:53] itsNikolay commented on #11534
- MacOS users that still getting the issue, try to restart Docker:

<img width="192" alt="screenshot at nov 20 03-47-34" src="https://cloud.githubusercontent.com/assets/786577/20459491/229acb98-aed4-11e6-83a6-33654332de6f.png">

- For self signed certificates:

Append `domain.crt` to `/etc/ssl/certs/ca-certificates.crt`
with `$ cat /certs/domain.crt > /etc/ssl/certs/ca-certificates.crt`
More infor

[2016-11-20 01:35] TimothyGu commented on #5618
Same thing happening here with a DigitalOcean VPS on Debian testing:

<details>
<summary>`# journalctl -p0 | tail -15`</summary>
[code]
</details>

<details>
<summary>System</summary>
[code]
</details>

<details>
<summary>`$ docker info`</summary>
[code]
</details>

<details>
<summary>`$ docker ps -a`</summary>
[code]
</details>

<details>
<summary>`$ ip link show`</summary>
[code]
</details>

<de

[2016-11-20 01:51] yongtang commented on #28581
Added a PR #28629 to have `--input` flag for `docker secret create`. The `--input` flag matches `docker load --input`.

[2016-11-20 02:22] gaopeiliang opened #28630 "docker server panic , when network plugin return nil StaticRoutes"
**Description**
     An new network plguin return nil in StaticRoutes of NetwrokDriver.join request!  when attach new container to network, if that network has gateway (default route point to it , not default_bridge), dockerdocker server panic !  if no gateway ,  that request http goroutine panic

**Steps to reproduce the issue:**
1. new network plugin return nil in StaticRoutes of NetwrokDriver.j

[2016-11-20 04:21] sergeyzwezdin commented on #28616
Moved to distribution-library-image [here](https://github.com/docker/distribution-library-image/issues/35)

[2016-11-20 04:21] #28616 closed

[2016-11-20 08:29] ripcurld00d commented on #28617
@duglin what about adding this instruction to Dockerfile

[code]

**NOTE**: Good workaround even thought it doesn't work for all the images.

[2016-11-20 10:58] jprante commented on #28406
I got the same error. After update to RHEL 7.3, docker 1.12.3-1 does not work anymore.

[code]

[2016-11-20 12:04] paulmenzel commented on #18796
@rhatdan, that did the trick! Thank you.

[code]

Any idea, why systemd doesn’t print any start messages.

[code]

[2016-11-20 12:28] roeyazroel opened #28632 "Unable to pull private repos from docker hub with swarm 1.2.5"
**Description**

Trying to deploy private images from docker hub using the following:
[code]
fails with the error:
`time="2016-11-20T12:05:15Z" level=error msg="HTTP error: Error: image <image> not found" status=500
`

If i'm running the same command on the local engine and not on the swarm manager, it works.
[code]

**Output of `docker version`:**
[code]

**Output of `docker info` On one of the m

[2016-11-20 12:32] roeyazroel commented on #28632
So i just figure it out that I need to pull the image first and than run it.

Is it expected behavior?

[2016-11-20 13:57] thaJeztah commented on #28632
This looks to be an issue with swarm could you open this issue in the swarm issue tracker? https://github.com/docker/swarm/issues ?

[2016-11-20 13:57] #28632 closed

[2016-11-20 13:59] roeyazroel commented on #28632
@thaJeztah Just figure it out that i'm not using swarm mode.

But the same issue with swarm mode.
I'm running
[code]

and then create a service
[code]

but i have only 1 replica running, on the node that pull the image.

[2016-11-20 14:03] thaJeztah commented on #28632
For swarm mode, you need to provide `--with-registry-auth` if the image is private / requires authorization https://docs.docker.com/engine/reference/commandline/service_create/

[2016-11-20 14:04] thaJeztah commented on #28626
/cc @vieux @mlaventure

[2016-11-20 14:07] thaJeztah commented on #28559
/cc @aboch @sanimej @mavenugo ptal

[2016-11-20 14:25] thaJeztah commented on #28574
Container introspection has come up quite a few times (see, e.g. https://github.com/docker/docker/issues/8427), and is still something on the list of things to tackle. Setting an environment variable may not be the best solution here. Random port assignments can be both _dynamic_ (i.e., it's possible ports change during a restart of the container), and can have multiple values, for example:

[code

[2016-11-20 15:18] duglin commented on #28617
@ripcurld00d yea, I'm sure there are probably work-around based on your image, but I'm not sure why we wouldn't support and env file via build when we already support it via run.  Seems like a nice level of consistency.

[2016-11-20 15:59] techninja1008 opened #28633 "Docker client panics when deploying compose file"
When I deploy a file which contains a service connected to an external network, and I try
to provide an alias for the container on said connection, the docker client panics with a
segmentation fault.

1. Initialize a swarm
2. Deploy a compose file with network connection as described
3. Get a SIGSEGV!

**Describe the results you received:**

The following output:

[code]

**Describe the results yo

[2016-11-20 16:01] techninja1008 commented on #28633
After more extensive testing it appears to happen any time that you define a service's networks section with a dictionary rather than a list.

[2016-11-20 16:43] techninja1008 opened #28635 "Docker deploy compose external network doesn't work"
When I `docker deploy` a compose file containing:

[code]

When I add it to a service under `networks:`, after inspecting the service it is never added to the service

**Steps to reproduce the issue:**

Explained above

**Describe the results you received:**

No webrouter_webtier on the service

**Describe the results you expected:**

webrouter_webtier on the service

**Additional information you

[2016-11-20 17:09] aludin opened #28636 "Windows 10: Docker does not release disk space after deleting all images and containers"
**Description**
Using Windows 10 Professional, when running  docker images, the docker virtual disk MobiLinuxVM.vhdx keeps on growing. After having finished with the images/containers, deleted all of them. However the virtual disk still uses the same amount of space. Expected behavior: MobiLinuxVM.vhdx should shrink and release unused space.

**Steps to reproduce the issue:**

1. Run various conta

[2016-11-20 17:22] AjitDas commented on #28574
@thaJeztah good point about the random ports with multiple values, container inspection is what need of the hour, I couldn't find any mention on port inspection in #26331 hopefully it will include the hostPort inspection as well. ENV variable is also not bad option (something similar what is provided as part of container linking) if we can set multiple values (comma separated or json) that can be

[2016-11-20 17:40] atrauzzi commented on #15360
Hopefully this can be bumped up in priority.

[2016-11-20 19:19] cpuguy83 commented on #14080
Honestly, if we just add the `--mount` and let the user handle cache invalidation (`--no-cache`), I think we'll be fine. We may want to look at finer-grained cache control from the CLI than all or nothing, but that's a separate topic.

[2016-11-20 19:27] mlaventure commented on #28608
@thaJeztah I don't think so. The fix is already present in 1.12.x

[2016-11-20 19:30] thaJeztah commented on #28636
could you reopen this issue in the docker for Windows issue tracker? This is specific to docker for Windows, so not something that can be solved in this repository; you can find the issue tracker here; https://github.com/docker/for-win/issues

I'll close the issue here, but feel free to comment after I closed

[2016-11-20 19:30] #28636 closed

[2016-11-20 19:51] sinkoneri commented on #25912
@cpuguy83 Ok, thanks after creating the dirs it works!

[2016-11-20 19:55] diogomonica opened #28639 "/dev/shm is not mounted ro when --read-only is used"
When I run a `--read-only` container, the expectation is that `/dev/shm` should also be ro.

[code]

[2016-11-20 20:14] #27772 closed

[2016-11-21 00:04] nilsotto opened #28641 "journald logging driver is skipping lines"
**Description**
Docker daemon configured with --log-driver=journald is skipping random log-entries.
The following is a stripped-down example for debugging this issue.

**Steps to reproduce the issue:**
1. run test with journald driver:
` docker run -d --name=ml_jd --log-driver=journald nilsotto/massivelog; sleep 60; docker stop ml_jd`
2. check logs
`docker logs ml_jd`
As you will see, the containe

[2016-11-21 01:33] oopschen commented on #22260
I encouter same problem and i google for while. It seems the cadvisor container lock the file.
After remove the cadvisor container, i can remove the files under [dockerroot]/containers/xxxxxx.

[2016-11-21 01:35] x1022as opened #28642 "[Proposal] Use accelerator in docker container"
Hi, all

#23917 introduces [Nvidia-docker](https://github.com/NVIDIA/nvidia-docker), it has provided a convenient way to use Nvidia GPU accelerator in container.
To use more hardware accelerators(e.g. AMD GPU, FPGA, QAT) in containers,
we propose a common way to provide this feature with docker plugins.

### Abstract

Accelerators can be considered as a special kind of resource like `cpu` and `mem

[2016-11-21 02:41] aludin commented on #28636
Reopened issue as requested: https://github.com/docker/for-win/issues/244

[2016-11-21 02:44] AkihiroSuda commented on #28574
@AjitDas #26331 does not include the hostPort yet, but we can incrementally add such features :+1:

[2016-11-21 02:49] wrfly commented on #28465
@sanimej Not very rapidly but in some cases, the container can be shutdown in seconds. When I create a service I also get an error that message is "Address is already used", it happens just few times.

[2016-11-21 05:23] wasosa commented on #28614
This is awesome, thank you!

Unfortunately, it seems that adding `--tmps /run` and `--tmpfs /run/lock` results in `dev-hugepages.mount` and `sys-fs-fuse-connections.mount` failing to start. I haven't looked into it yet, I just wanted to give this a quick try and say thanks without waiting too long. Here's what `systemctl` says (for the record):

[code]
and
[code]

Like I said, though, just being a

[2016-11-21 05:44] perigee opened #28646 "Client ImagePull doesn't work in 1.13.0-rc1"
**Description**

**Steps to reproduce the issue:**

I have created:

[code]

**Describe the results you received:**

no panic, no image pulled

**Describe the results you expected:**

pull the image nignx from hub to my local docker

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

[2016-11-21 07:14] thaJeztah commented on #28636
Thank you!

[2016-11-21 08:03] adresdvila commented on #15771
I found another hack solution:

Example project structure:
app/
config/
script/
spec/
static/
...

We want:
1. Copy static/
2. Copy other files
3. Copy app/

Hack solution:
ADD ./static /home/app
ADD ["./[^s^a]*", "./s[^t]*", "/home/app/"]
ADD ./app /home/app

Second ADD is equivalent of: copy all, exept "./st*" and "./a*".
Any ideas for improvements?

[2016-11-21 08:56] huanglm opened #28650 "docker ps hang on CentOS7.2 with docker version 1.12.1"
**Description**
"docker ps " and "docker info" command hang

**Steps to reproduce the issue:**
1."docker ps " and "docker info" command hang
2.
3.

**Describe the results you received:**
"docker ps " and "docker info" command hang

**Describe the results you expected:**
"docker ps " and "docker info" command hang

**Additional information you deem important (e.g. issue happens only occasionally):*

[2016-11-21 09:00] justincormack commented on #28639
I would not expect that, I think it only refers to root filesystem. Eg
volumes can be rw, and tmpfs etc.

On 20 Nov 2016 19:55, "Diogo Mónica" <notifications@github.com> wrote:

[2016-11-21 09:04] Crassirostris commented on #28608
@mlaventure

OK, great, thanks! Closing the issue then

[2016-11-21 09:04] #28608 closed

[2016-11-21 09:05] Schweinepriester commented on #25973
+1

[2016-11-21 09:21] soanni commented on #28585
i tried this. created 2 users - one with password another without password. I'm switching first to the one without password, and can see that whoami gives me the correct user name. then under this user i'm trying to run elevated powershell with 'runas' under another user with password. I'm getting the same error that i've already seen when i tried to do the same under ContainerAdministrator. I des

[2016-11-21 09:28] #28520 closed

[2016-11-21 09:32] xianwei2016 opened #28653 "docker 1.12 compilation failure"
Hi guys,

It's my first time to compile docker based on a dev-image(some one build it), I have two questions in here:
1.  it reports "I don't seem to be running in a Docker container.", but it is compiled in continaer.
2. there have compilation errors as below shows.

I guess it's not Docker's problem, it should be the problem about how I tryed to compile it. Appreciate if anyone can help me on th

[2016-11-21 09:55] #28653 closed

[2016-11-21 10:01] thaJeztah commented on #28653
I see you made some modifications to the source code (`6a0ce49-unsupported`); could those be related?

The easiest way to build is to use the makefile, which will set all the right options to build and run docker in a container, for example:

[code]

The above builds docker in a container, but bind-mounts your local source in the container, so that you can make modifications to the source in your

[2016-11-21 10:04] thaJeztah commented on #28608
Thanks for reporting @Crassirostris !

[2016-11-21 10:12] larryhu opened #28654 "Swarm: network connect failed"
**Description**

Swarm: network connect failed

**Steps to reproduce the issue:**
1. create "cloud" network:
[code]
2. create "rest" service:
[code]

3. show services:
[code]

4. show listen port:
[code]

**Describe the results you received:**
In this local host(10.27.101.44):
[code]

### But, in other host request this service, sometime same failed, and sometime is SUCCESS!
another host A
[code]

[2016-11-21 10:33] thaJeztah opened #28655 "[rcf] do not allow experimental features if client/daemon versions don't match"
Starting with docker 1.13 we allow newer clients to work with older
daemon versions, and "detect" if experimental features are enabled
on the daemon.

Given that experimental features can (and in many cases, _will_) change
before they leave experimental, this can result in unexpected behavior.

For example, if the "checkpoint / restore" feature leaves experimental
in 1.14, and a 1.14 client commun

[2016-11-21 10:36] justincormack commented on #28655
SGTM

[2016-11-21 10:36] xianwei2016 commented on #28653
Thanks so much. @thaJeztah, I found I mounted the wrong path for source code. It's fixed.

Because there don't have external network access in my env, so I have to use compiled-image for docker compilation instead of build by "make BIND_DIR=. binary shell".
Do you know how to install docker binary after generated it in my container?
The docker binary already generated by "sudo docker run -it --pri

[2016-11-21 10:49] thaJeztah commented on #28653
The binaries are stored in the `bundles` directory. If you don't use `BIND_DIR`, the makefile will automatically use a bind-mount for the bundles directory;

[code]

So you can copy the binaries from there

[2016-11-21 10:52] justincormack commented on #28639
The current way to specify a `ro` (ie non functional) `/dev/shm` mount is:

[code]
eg I get
[code]

[2016-11-21 11:11] szantopeter commented on #22398
an uninstall/reinstall fixed the problem (also uninstalled docker toolbox)

[2016-11-21 12:12] thaJeztah commented on #28619
I linked this to https://github.com/docker/docker/issues/25303, which is where we keep track of options that are present on `docker run` but not (yet) supported for services

[2016-11-21 12:15] thaJeztah commented on #28618
I linked this to https://github.com/docker/docker/issues/25303, which is where we keep track of options that are present on `docker run` but not (yet) supported for services

note that `--pids-limit` is already supported for `docker run`

[2016-11-21 12:27] andyxning commented on #18013
In Docker 1.12.0, we also encounter this `docker ps` hang. OS Debian 8 with Kernel 3.16.7-ckt20-1+deb8u4

[2016-11-21 12:34] justincormack opened #28658 "stdin not closed on 1.13.0-rc1"
Create a largeish file (60M is good) and feed it into a container:
[code]
Run the `docker run` line a few times and it will freeze, signals won't work and the process will just be stuck. Container is still there. Have to restart daemon to fix.

You don't need `--log-driver=none` to repro, or the `tar` eg
[code]

will repro just fine too.

**Additional information you deem important (e.g. issue hap

[2016-11-21 12:45] thaJeztah commented on #18013
@andyxning do you have the same issue on docker 1.12.3? Various bug fixes went into 1.12.1, 1.12.2 and  1.12.3. If you still run into this issue in the current version (1.12.3 at time of writing), please open a new issue and provide more information. Commenting on closed issues may result in your comment being overlooked.

[2016-11-21 13:06] #28502 closed

[2016-11-21 13:34] nilsotto commented on #28641
well, it seems that this problem stems from system configuration on our docker host.
Systems with massive logging wil probably need to set `RateLimitIntervalSec` and `RateLimitBurst` in the docker host's `journald.conf` file.

I have created PR https://github.com/docker/docker.github.io/pull/670 to try to prevent others from having the same problems.

[2016-11-21 13:34] #28641 closed

[2016-11-21 13:54] mitsuhiko commented on #24344
I think I am hitting the same thing here but I'm not entirely sure yet about the mechanics. I noticed that if I put `8.8.8.8` as the DNS server into my mac (docker for mac) the VM can resolve just fine. If I use my router's IP which runs a DNS server the VM fails to resolve.

[2016-11-21 13:59] cpuguy83 commented on #28658
I have the process hanging on stdin, but no daemon hang and can recover by doing `kill -9` on the `sh -c` process.
Weird that indeed it does seem to hang on stdin some of the time, like cat didn't get `EOF`.

[2016-11-21 14:02] justincormack commented on #28658
@cpuguy83 yeah, the daemon does appear fine, it just thinks the process is running.

[2016-11-21 14:03] cpuguy83 commented on #28658
The process definitely is running.

[2016-11-21 14:04] cpuguy83 commented on #28658
[code]

[2016-11-21 14:15] justincormack commented on #28658
Unfortunately it behaves differently while running `strace` so thats not very useful.

[2016-11-21 14:18] justincormack commented on #28658
`cat` is stuck in `read(0, ...` so yes does seem to have lost the `close`.

[2016-11-21 14:23] thaJeztah commented on #28496
This should be fixed in the 1.13 branch through  https://github.com/docker/docker/issues/28604, but not yet on master, correct?

[2016-11-21 14:23] justincormack commented on #28658
Can replicate with 1M of input, just less frequently.

[2016-11-21 14:23] vdemeester commented on #28635
This is even worse than that actually. Created a compose-file (https://github.com/vdemeester/break-all-the-thing/blob/master/compose-on-swarm/simple-network.yml) where I have 2 networks defined and 3 services. Each services are supposed to be on either one or the other but not on the default one.

But when doing `docker deploy --compose-file simple-network.yml ohnoes`, all containers are on the `d

[2016-11-21 14:23] thaJeztah commented on #28039
This should be fixed in the 1.13 branch through  https://github.com/docker/docker/issues/28604, but not yet on master, correct @aaronlehmann ?

[2016-11-21 14:35] cpuguy83 commented on #25617
Docker does not cache anything, this is all handled at the kernel level.
@merimna Your issue is almost certainly due to `unshare -m` in your init script.

[2016-11-21 14:38] adaphi commented on #28067
Hey,
I've managed to reproduce on docker 1.12.3 with rancherOS v0.7.1, so that doesn't fix it :(
I'm working on getting permission to release the swarm-init code. Also trying to take various parts of it away to see if I can determine the problem directly.

[2016-11-21 14:41] cpuguy83 commented on #28518
ping @aboch

Looks like some sort of race with endpoint creation and process binding.

[2016-11-21 14:43] ceball opened #28660 "Folder sharing is case sensitive on Windows 7/Docker Toolbox?"
**Description**

Folder sharing is case sensitive?

This command creates a folder ``t123`` containing ``test`` file on the host:
[code]
This command does not:
[code]
Both commands create ``t123/test`` in the container and ``/c/users/testing123/t123/test`` in the ``default`` VM.

I found this problem while trying to figure out why a docker-compose.yml file that worked fine on Windows 10/Docker for

[2016-11-21 14:44] cpuguy83 commented on #27103
Is there another mount call somewhere in there?
Almost certainly there must be (e.g. a simple `mount --bind source target`, and then a re-bind with bindfs itself).
So indeed it may be difficult to use bindfs in this way and may be simpler to just make a bindfs plugin.

[2016-11-21 14:46] cpuguy83 commented on #26876
@techninja1008 I believe docs are still pending for this, but you can get the 1.13 RC from test.docker.com.

[2016-11-21 14:51] justincormack commented on #28660
This is not really an issue that we can fix here, I think you want to file a toolbox issue or a virtualbox issue at a guess, but yes, case insensitive filesystems are a world of pain...

[2016-11-21 14:54] cpuguy83 commented on #27987
If you start containerd yourself, docker will not stop it when it exits.... so that's one option.

You can also use `docker-runc` to check the state of the container.

[2016-11-21 14:55] peterthomassen commented on #28589
@justincormack, I am publishing ports to make services visible on the host IPv4 address. For IPv6, I would like to use direct routing to the container IPv6, without getting the host IPv6 address involved at all.

There is no need to do anything docker-related with the host IPv6 address in this case.

[2016-11-21 14:56] justincormack commented on #28614
The different `tmpfs` requirements are dependent on the version and configuration of `systemd` I believe, has been mentioned in some of the other `systemd` issues - adding both the `tmpfs` mounts should always work.

`fuse` will need the `fuse` device passed through: adding `-v /dev/fuse:/dev/fuse` should work I would guess. Not sure why huge pages is failing, you could pass through the host mount

[2016-11-21 14:58] cpuguy83 commented on #28236
@presidento Indeed this looks like the syslog driver is hung in connect.
Looks similar to #28575
ping @sirsean WDYT?

[2016-11-21 15:01] cpuguy83 commented on #28236
Here's the syslog logger trying to connect:
[code]

Which appears to be blocking this:
[code]

[2016-11-21 15:02] sirsean commented on #28236
It sure does seem like the same issue.

I believe this PR will fix the problem: https://github.com/RackSec/srslog/pull/21

I'm hoping to have it merged soon.

[2016-11-21 15:03] cpuguy83 commented on #28236
ping @thaJeztah if we do a 1.12.4, we may want to include this fix.

[2016-11-21 15:20] thaJeztah opened #28662 "docker stack deploy lacks "--with-registry-auth""
There's currently no option to deploy a stack that's using private images. We should add a `--with-registry-auth` flag to `docker stack deploy` to allow this (was discussing with @vdemeester).

/cc @aanand @dnephin @vdemeester

[2016-11-21 15:22] rhatdan commented on #28593
@cpuguy83 Yes this should be a daemon option(s).  But the syntax to override at the docker create point is where this discussion was heading.

I also find it worrysome that the shiftfs changes have stalled as of last summer.  My understanding though is that Eric Biederman has gotten lots of changes into VFS layer of kernel for user namespace that were required to move something like shiftfs along.

[2016-11-21 15:22] dnephin commented on #28662
I'm pretty sure that flag has been on `stack deploy` since 1.12

[2016-11-21 15:26] thaJeztah commented on #28662
Oh my, lol, you're right, PEBKAC, we were discussing an error, then I was watching at the wrong output in my terminal.

Abort abort, ignore ignore

[2016-11-21 15:26] #28662 closed

[2016-11-21 15:26] rhatdan commented on #28406
This is a bug in docker-engine-selinux.  We ship container-selinux.  docker needs to update to the upstream version.

[2016-11-21 15:27] ipsi commented on #13555
Down again. Trying to build a docker image based on several "official" docker images, and they *all* rely on ha.pool.sks-keyservers.net to build... Currently a bit hosed until it comes back up.

[2016-11-21 15:28] rhatdan commented on #18796
No idea.

[2016-11-21 15:28] thaJeztah commented on #28662
TL;DR there's no such thing as `docker service deploy` 😇

[2016-11-21 15:30] thaJeztah commented on #13555
@ipsi in your case, can you use `pgp.mit.edu` or `keyserver.ubuntu.com` as alternative? Looks like all `sks-keyservers.net` domains are down 😞

[2016-11-21 15:32] ipsi commented on #13555
@thaJeztah Yeah, the Ubuntu key server works for me, though it means I'm now diverging further away from the official `Dockerfile`, which I'm not super-keen on... At least it builds, though.

[2016-11-21 15:39] thaJeztah commented on #13555
I think the Dockerfile already uses pgp.mit.edu as backup; https://github.com/docker/docker/blob/master/Dockerfile#L29-L30 Does that fallback not work? If so we should look into that

[2016-11-21 15:44] merimna commented on #25617
You're right! Turns out namespaces were preventing my changes from propagating.

I updated my mount command to add the mount in the docker namespace by doing:

[code]

[2016-11-21 15:55] merlinnot commented on #28593
I've tried to reach out James Bottomley @jejb via Twitter with no success. He's the only person I can find who might know sth in the subject.

Is there some mailing list / IRC worth trying?

[2016-11-21 16:14] vdemeester commented on #28633
@techninja1008 could you provide the `docker-compose.yml` file you used ? :angel:

[2016-11-21 16:17] vdemeester commented on #28633
Ah nevermind, managed to reproduce, working on a fix.

[2016-11-21 16:20] anusha-ragunathan commented on #28612
There are some issues that attempted to track this effort. #24089 for example, but it has been closed and there is are no docs on `Swarm mode volume management best practices`. We could start off with something like https://github.com/docker/docker/issues/24089#issuecomment-230471368

@cpuguy83 : Is there a gist that you can put together for this issue? It'll help move the issue forward.

[2016-11-21 16:24] thaJeztah commented on #28650
Can you send `SIGUSR1` to the dockerd process then grab the stack dump from the logs? possibly related to https://github.com/docker/docker/issues/28575 or https://github.com/docker/docker/issues/25993

[2016-11-21 16:27] sirsean commented on #28575
`srslog` just merged something that _should_ fix this.

[2016-11-21 16:27] sirsean commented on #28236
`srslog` just merged something that _should_ fix this.

[2016-11-21 16:38] thaJeztah commented on #28654
/cc @aboch

[2016-11-21 16:51] Jaspreetc commented on #27580
@thaJeztah Thanks that worked, but I am curious as to why do I need to get onto internet every time if I have to download the Windows container image, even when I have downloaded it once into my environment, doesn't it defeat the purpose? why can't I reference it to the downloaded image , since not all servers would have access to internet. If this would be the case then it would be difficult to p

[2016-11-21 16:51] kuriousengineer opened #28665 "sha calculation of docker image layers"
I used following docker file:

issue following commands in the directory of the Dockerfile:

to create build1 and build2 docker images. As expected all the layers in build2 and build1 have different sha so here I want to understand how sha is calculated for a docker command in docker file. What is the other criteria except a command that generates different sha for same docker command in docker fi

[2016-11-21 16:52] sanimej commented on #28654
@larryhu Can you check if the ports (udp/tcp 7946 and udp 4789) are enabled on all the hosts ? If its enabled, can you share the deamon log from the cluster nodes ?

[2016-11-21 16:53] jejb commented on #28593
On Mon, 2016-11-21 at 07:55 -0800, Natan Sągol wrote:

That would be because twitter is basically broken:  it's email
notifications are useless because it didn't even tell me there was
anything waiting and I don't usually log on unless I have something to
post.

Phil Estes is doing the docker work, so he'll be a good resource

The original one the patch was on (linux-fsdevel)?

http://marc.info/?l

[2016-11-21 16:53] justincormack commented on #28665
There are various things (timestamps, other metadata). I did look at this, and plan to revisit so it is possible to get the same hash, but there are quite a few changes needed at present unfortunately.

[2016-11-21 16:53] thaJeztah commented on #27580
@Jaspreetc How exactly do you mean "why do I need to get onto internet every time if I have to download the Windows container image"? If you `docker pull <some-windows-image>` and then `docker run <some-windows-image>` does it try to pull the image each time?

[2016-11-21 16:56] thaJeztah commented on #25973
@oliversalzburg @Schweinepriester could you reopen this issue in the docker for windows issue tracker? Given that this issue is specific to Docker for Windows, perhaps it's best to open the issue there https://github.com/docker/for-win/issues

[2016-11-21 16:57] JensPiegsa opened #28666 "How to install Docker from behind a firewall that only allows traffic based on IP addresses?"
**Description**

I want to install docker-engine through APT on Debian in a restricted environment
in which outgoing traffic is only allowed to specific numeric IP addresses. However,
multiple calls to `host apt.dockerproject.org` result in different IP adresses.
How to work around that issue?

[2016-11-21 16:59] estesp commented on #28593
Thanks James :) Was just about to post that I had heard from you on Friday re: your talk with Eric B. and where you were on re-work of the shiftfs work.

To everyone else on this thread, I think all the requisite parts have been discussed in prior comments, and we (working on upstream Docker and other upstream communities) are all on the same page--we need some filesystem support upstream to reall

[2016-11-21 16:59] Jaspreetc commented on #27580
@thaJeztah

Server 1 –  Windows Container image downloaded from Docker hub
Server 2 – Image Pushed to Docker registry , but only the latest digest goes on to the registry and the foreign layers are skipped

C:\Windows\system32>docker push xxx.xxx.xxx.xxx:5000/windowsservercore
The push refers to a repository [xxx.xxx.xxx.xxx:5000/windowsservercore]
b9454c3094c6: Skipped foreign layer
3fd27ecef6a3:

[2016-11-21 17:05] thaJeztah commented on #27580
Yes, the foreign layers will always be pulled from the Microsoft servers (however, once they're in the cache of that server, it will use the ones that are cached locally).

Unfortunately, that's for legal reasons; the base layers are not allowed to be distributed through other servers. I don't know if there's exemption from this, but I don't think there are.

[2016-11-21 17:05] mheon commented on #28593
I tend to disagree on tying into `--security-opt` given that we already have a flag for user namespaces. To escape a user namespace, you pass `--userns=host`, so it would seem to make sense to override the default mappings through that flag as well. Format for the flag probably needs some discussion (user and group mappings mean you need to cram a lot of info into the CLI), but discussion on that

[2016-11-21 17:06] justincormack commented on #28666
It is on cloudfront, you could try to list all the addresses, but you are probably better off mirroring it locally from a less restricted machine?

[2016-11-21 17:07] thaJeztah commented on #28666
You can download the packages locally, or install apt-cacher-ng to cache the packages locally; https://www.unix-ag.uni-kl.de/~bloch/acng/html/

[2016-11-21 17:09] Jaspreetc commented on #27580
@thaJeztah

doesn't it sounds obscure to download roughly 4-5 gig of image via internet on each and every Container host which may be in hundreds? Microsoft has to come up with something better alternatives cause this doesn't seems to be a viable solution for each pull from registry :( .. is there a way to raise a request for change for this feature at least where the image will be made available

[2016-11-21 17:10] merlinnot commented on #28593
Thanks @jejb 👍

[2016-11-21 17:19] oliversalzburg commented on #25973
Reported as https://github.com/docker/for-win/issues/246

[2016-11-21 17:27] blaketmiller commented on #26530
I don't have the availability right to submit a full report, but I'm seeing this behavior in 1.12.3, supposedly after this was fixed.

[2016-11-21 18:18] dmcgowan commented on #28412
@jkriesel could you provide the output of `docker info` as well as debug logs from the daemon during a failed push.

[2016-11-21 18:20] thaJeztah commented on #25973
Thanks!

[2016-11-21 18:24] larryhu commented on #28654
Just only one host, and 7946 is enabled and listened. but not found 4789.
[code]

[docker.log](https://github.com/docker/docker/files/604457/docker.log.txt)

[2016-11-21 18:32] adambarthelson commented on #24430
I see this did not include the `docker swarm join-token --clear=worker,manager` functionality originally suggested by @aaronlehmann.  This would be useful when trying to provision a Docker Swarm via Terraform.

[2016-11-21 18:33] larryhu commented on #28654
@sanimej

[2016-11-21 18:35] thaJeztah commented on #27580
@Jaspreetc this was the best that could be realized; previously, the base layer had to be manually installed on each host. @jhowardmsft or @jstarks may know if future changes are still possible.

[2016-11-21 18:48] #28633 closed

[2016-11-21 18:48] thaJeztah commented on #28515
ping @mikedanese wdyt?

[2016-11-21 18:49] thaJeztah commented on #28508
/cc @mikedanese

[2016-11-21 18:50] thaJeztah commented on #28555
/cc @mikedanese

[2016-11-21 18:50] jhowardmsft commented on #27580
Leaving this one for @patricklang. This isn't really a technical question requiring a code change to docker.

[2016-11-21 19:02] diogomonica commented on #28639
This works for me as a workaround.

[2016-11-21 19:02] #28639 closed

[2016-11-21 19:16] tiborvass commented on #28326
Putting back to 1.13 so that we at least skip solaris for release.

[2016-11-21 19:30] #28055 closed

[2016-11-21 19:31] tiborvass commented on #28496
Per https://github.com/docker/docker/pull/28604#issuecomment-261674889

[2016-11-21 19:31] tiborvass commented on #28039
Per https://github.com/docker/docker/pull/28604#issuecomment-261650414

[2016-11-21 19:31] #28039 closed

[2016-11-21 20:02] ceball commented on #28660
Oops, sorry, I failed to spot there's a separate tracker for toolbox. I'll submit this issue there.

Ha, the file system (NTFS) is case sensitive, but the operating system (Windows) is mostly case insensitive...at least as far as I can tell (or care - I'm not really a Windows user). My problem is that just about all the users of my software are on Windows (a large part of the reason I'm using dock

[2016-11-21 20:02] #28660 closed

[2016-11-21 20:02] eshedly commented on #25446
@cpuguy83 but using a separate  service per instance will break the whole concept of load balancing and mesh routing thus the whole fundamental notion of service orchestration. I think it is very important to have the option to make a volume attached to a particular task instance and if that task gets rescheduled then the volume should follow. Thanks.

[2016-11-21 20:04] cpuguy83 commented on #25446
@eshedly Sure.
1.13 supports templated `--mount` specs for this reason.

[2016-11-21 20:49] cpuguy83 commented on #28658
Tracing this down, in both the working and the non-working case, the fifo is closed and is closed from the same place with seemingly the same state.
Close is happening here: https://github.com/tonistiigi/fifo/blob/master/fifo.go#L170

It's returning just fine. So something very strange is happening.
I've *only* tried this on d4mac, have not tried other distros/kernels.

[2016-11-21 20:52] wnan42 commented on #21764
I ran into the same problem in 1.12. The solution is pretty simple for me:

Instead of doing:
`docker rmi -f <imageID>`

just do:
`docker rmi -f <imageName>`
Then the output will be:
`Untagged: <imageName>`

Hope this can help.

[2016-11-21 21:06] jlhawn opened #28678 "Add a `SecretUpdate` method to API client (not CLI)"
There is an API endpoint which exists for updating metadata for a secret (i.e., labels) but there is not yet a method on the Go client in the `github.com/docker/docker/client` package.

Note: this issue is **not** requesting that we add a CLI command for updating a secret.

[2016-11-21 21:19] #28236 closed

[2016-11-21 21:19] #28575 closed

[2016-11-21 21:28] lipido commented on #19631
If it is useful for anyone, my problem was that the mounted filesystem where I move docker to, need to be mounted with the "exec" flag in /etc/fstab
`/dev/sdb        /media/bigstorage  ext3    rw,user,exec    0       0`

[2016-11-21 21:36] aboch commented on #28564
Thanks @herbrandson for the files .

IPVS modules are all present. But I see `IP_NF_NAT` is missing. Which could be the reason for
[code]
calling function would abort the ipvs service creation and subsequent service delete/modification would in fact fail with `no such process`.

Just a theory for now, it would be great if you could enable the `IP_NF_NAT` module and see if it makes a difference.

[2016-11-21 21:41] stevvooe commented on #28612
@khudgins Do you have specific examples that can be addressed?

These kinds of issues have a way of getting closed to early or getting nothing done because they don't have clear criteria.

It sounds like volume visibility is a problem, which I agree with, but what else falls under this?

[2016-11-21 21:46] #28112 closed

[2016-11-21 21:46] #28358 closed

[2016-11-21 21:46] #28465 closed

[2016-11-21 21:46] #28606 closed

[2016-11-21 21:50] vieux commented on #28588
works for me too.

btw @mlaventure why is init smaller ?

[2016-11-21 21:57] aboch commented on #28630
Fixed by #28673

[2016-11-21 21:57] #28630 closed

[2016-11-21 22:01] reshen commented on #5618
I've been testing **4.8.8** in a tight loop (see [2] from my earlier comment for the test case) non-stop for the last 4 days.  So far, so good.

**Facts**
* [Patch 751eb6b6](https://patchwork.kernel.org/patch/9346657/) significantly reduces the occurrence of this problem, but does not entirely eliminate it.

**Suppositions**
@meatballhat pointed out that their production servers experienced the pr

[2016-11-21 22:14] #27761 closed

[2016-11-21 22:17] mlaventure commented on #28588
@vieux `tini` doesn't provide the full sha in its output

[2016-11-21 22:26] aboch commented on #28654
[code]

[2016-11-21 22:34] stevvooe commented on #24165
I am not sure if we should continue to propagate the idea of "self". Once you access the docker remote API over a network, it is almost meaningless. It reinforces the concept of node locality for a command that doesn't really exist.

[2016-11-21 22:45] srust opened #28684 "[1.13.0-rc1] docker plugin create does not check for duplicates, creates multiple copies"
**Description**

The new `docker plugin create` command from #28164 does not check for duplicates. Running the same `docker plugin create` command more than once in a row for the same rootfs/config.json creates multiple plugin entries. But only one of them can be removed. Once it is removed, the remaining are stranded.

**Steps to reproduce the issue:**
1. docker plugin create repo/image rootfs-di

[2016-11-21 22:51] vdemeester commented on #28684
/cc @anusha-ragunathan @tiborvass @vieux

[2016-11-21 23:17] aboch commented on #25393
@lyricnz
I agree with your analysis, it is likely a concurrency issue where during network creation the bridge code first checks if the rule is present then it tries to remove it but in the meanwhile another network create request is doing the same and removes the rule first.
That code is not concurrent safe, needs to be fixed.

[2016-11-21 23:24] aboch commented on #25393
[code]

Yes, that was fixed in 1.12.x via https://github.com/docker/libnetwork/pull/1130

[2016-11-21 23:45] tonistiigi opened #28687 "Flaky test TestCleanupMountsAfterDaemonAndContainerKill"
https://jenkins.dockerproject.org/job/Docker%20Master/7625/label=fedora23%20&&%20devicemapper/console

Daemon logs https://gist.github.com/tonistiigi/5a8edf4190efe82c7d84720ae86a05c2 show lot of things going wrong. Multiple errors/warnings in restore path and in the end daemon fails to mark the container as stopped.

https://github.com/docker/docker/pull/28590 fits with the timing but uncertain if

[2016-11-21 23:46] tonistiigi commented on #28687
I've seen it in fedora/centos/arm

[2016-11-21 23:54] pascalandy commented on #27513
@dongluochen I don't know how to install from the «current master». Do you have a script to share? Here is how I [install-docker-test-or-experimental.md](https://gist.github.com/pascalandy/c63a046e3e80ea4aa38badd68796338c)

I just installed `1.13.0-rc1` ([test](https://gist.github.com/pascalandy/c63a046e3e80ea4aa38badd68796338c#test-usually-a-release-candidate)) on my 6 nodes.

It definitely did n

[2016-11-21 23:54] onorua commented on #28553
Sure, will be glad to provide you as much info as you need:
#### compose-updater.service
[code]
#### compose-updater.timer
[code]

#### docker.dropin
[code]
#### /usr/local/bin/compose-updater.sh
[code]
#### sessionmanager.yml
[code]
What weird, is when volume mounts looks like:
[code]
it is working fine.
GeoIPCity is empty on host machine, and I get empty folder inside container, so I believe the

[2016-11-21 23:57] pascalandy commented on #27513
Update - I continue to have this big show stopper issue. Can't even launch my first container ...

[2016-11-22 00:15] pascalandy commented on #27913
I'm having an [issue](https://github.com/docker/docker/issues/27513) as well and I don't know if it's related to UFW but the overlay network is killing me.

I'll try to start from scratch without installing UFW.

Here is the bash script that configures this part:

[code]

[2016-11-22 00:25] thaJeztah opened #28689 "Embedded DNS is case-sensitive"
Discovered this while discussing accepted characters for containers with @mstanleyjones;

[code]

If looks like the embedded DNS is case sensitive, so resolving container IP addresses doesn't work if the wrong case is used. Also two containers on the same network can have the same name (but different case), which _should_ be a conflict, but currently isn't.

/cc @mavenugo

[2016-11-22 00:41] sanimej commented on #28689
@thaJeztah Though the standard DNS expects the names to be case insensitive the schema for embedded DNS is different, its based on container names. If the container names are case sensitive we have to keep it the same for resolution through embedded DNS.

Are you suggesting that we make the container names case insensitive ? It probably makes sense, but I don't know if it was a conscious decision

[2016-11-22 00:44] matt-richardson commented on #27708
I can confirm that
[code]

Works successfully.

Looking forward to the proper fix though.

[2016-11-22 00:46] thaJeztah commented on #28689
@sanimej t.b.h., I don't know what's best here; I see the conflict between container-names and DNS names; perhaps we should make container names case-insensitive, or indeed make it a conflict if they join the same network.

I wonder if the current situation leads to unexpected results (e.g. software that tries to resolve the IP address of a container, but is not able to).

Alternative could be to

[2016-11-22 01:06] dongluochen commented on #27513
@pascalandy Do you find error in docker logs for service `traefik`? I installed docker-1.13.0-rc1 and it runs well.

It seems you suspect ufw is causing problem. Do you see the same problem on a single node cluster?

[code]

[2016-11-22 01:49] larryhu commented on #28654
Oh, no no. This host is a worker and had been deleted.

[code]
please check the newest log, again? thx

[2016-11-22 02:28] cpuguy83 commented on #28553
Do you see `/var/lib/GeoIP` in the mount table in the container?

[2016-11-22 02:55] onorua commented on #28553
yes, that is the weird part, I've mentioned and copied mount output in the initial message

[2016-11-22 03:40] virtuman opened #28693 "docker service create or network create publish ports on specific interface only?"
We have multiple network interfaces in all of our servers (e.g. eth0 and eth1). Some servers are part of docker cluster, others run applications on hosts. We would like to be able to run memcached as a docker service and have it accessible from any server in our local network.

Is it possible to make service accessible within the server internal network only?
Current implementation of `docker serv

[2016-11-22 04:10] nathan-osman opened #28694 "Intermittent "unexpected EOF" error from ADD command when using remote URI"
**Description**

I am attempting to add [this file](https://curl.haxx.se/ca/cacert.pem) to a container through an `ADD` command in the Dockerfile. However, when building the container, Docker hangs and eventually spits out an error.

**Steps to reproduce the issue:**
1. Create a new `Dockerfile` that inherits from `scratch`
2. Add the following line: `ADD https://curl.haxx.se/ca/cacert.pem /etc/ss

[2016-11-22 04:21] nathan-osman commented on #28694
Interesting! Further investigation has led to an interesting discovery.

The DigitalOcean droplet was running Docker 1.6, which works fine. I confirmed this by creating a completely new droplet with Ubuntu 14.04 and Docker 1.6 - it succeeds. I then rebuilt the droplet with Ubuntu 16.10 and Docker 1.12 and the build fails.

It would appear that this is a regression of some sort.

[2016-11-22 04:24] pascalandy commented on #27513
To be clear. **This is still a random issue.** :
- Sometimes my cluster run for few days then bam the network is gone
- Sometime few hours ...
- Sometimes does work after a creating a new cluster.

Will try a cluster with 1 manager then 3 managers. Good idea!

[2016-11-22 05:03] wrfly commented on #28465
@aboch Would you mind tell me why this happened? Because I stuck in this for days and i'm really confused. Thank you.

[2016-11-22 05:16] aboch commented on #26111
This is a failure of the poor man logic in https://github.com/docker/libnetwork/blob/master/iptables/iptables.go#L405

In iptables 1.6 `bool xtables_lock(bool wait)` slightly modified the message it writes to stderr compared to previous versions.

https://git.netfilter.org/iptables/tree/iptables/xshared.c?h=v1.4.21:
[code]

https://git.netfilter.org/iptables/tree/iptables/xshared.c?h=v1.6.0:
[code

[2016-11-22 05:34] aboch commented on #28465
@wrfly The code which starts/stops the embedded DNS server was not handling concurrent start/stop calls well. @sanimej identified and fixed the issue, he can add more.

[2016-11-22 05:34] sanimej commented on #28465
@wrfly From analyzing the stack trace of the panic, the reason seems to be because of a container coming up and going down very quickly. This lead to a nil pointer being accessed in the code path that sets up the embedded DNS. [libnetwork PR](https://github.com/docker/libnetwork/pull/1561) has some more details if you are interested. This fix will be available in 1.13 RC2.

[2016-11-22 06:03] andyxning commented on #18013
​Ok, i will try 1.12.3 later. However, did we find what is the actual
reason for docker behave like this.​

=======
Ning Xie

2016-11-21 20:45 GMT+08:00 Sebastiaan van Stijn <notifications@github.com>:

[2016-11-22 06:36] JamesJJ opened #28697 "[1.12.3] Swarm node crash "fatal error: concurrent map read and map write""
**Description**

 * 1 swarm manager node crashed in 4 node cluster (3 managers).
 * "fatal error: concurrent map read and map write"
 * Possible duplicate of #28237 ???

**Describe the results you received:**

[code]

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

  * Aliyun / Alibaba China Cloud

[2016-11-22 06:55] friism commented on #27580
@Jaspreetc you're ok to push the foreign layers to your own private registry, as long as you don't redistribute them publicly (this is the equivalent of storing a Windows ISO on a private server).

Unfortunately, the Docker distribution source code does not currently have a way to force-push foreign layers, but we're exploring workarounds.

An alternative approach (that I don't know whether works

[2016-11-22 07:29] a09-capf commented on #24220
I face the same issue. We really need the ability to configure the ingress network.

[2016-11-22 07:31] damon-atkins commented on #28476
selinux is reporting

type=AVC msg=audit(1479747374.929:1115): avc:  **denied**  { read write } for  pid=6161 comm="iptables" path=2F6465762F73686D2F666669536A654E6833202864656C6574656429 dev="tmpfs" ino=30503 scontext=system_u:system_r:iptables_t:s0 tcontext=system_u:object_r:firewalld_tmpfs_t:s0 tclass=file

[code]

[2016-11-22 07:56] runcom commented on #28588
I'm sorry I can still reproduce this with latest master:
[code]
[code]
What's more is that now `runc` claims to be unexpected where the commit is the same but it's truncated when reading the commit from `./hack/dockerfile/binaries-commits`.

My docker daemon is setup to reach containerd via `--containerd=/run/containerd.sock` though, it may makes a difference here. Containerd has the following uni

[2016-11-22 07:58] rs38 opened #28702 "docker --size does not work on platform/windows"
`docker --size (-a)` only shows `0 B` on native windows containers.
same command on Linux shows some size information as expected.
currently tested with 1.13-dev
no further repro necessary IMO.

[2016-11-22 08:22] huanglm commented on #28650
Dear,

we want to restart docker, but get faiure:

[root@ygnmsc1_1 ~]# systemctl status docker
?.docker.service - Docker Application Container Engine
   Loaded: loaded (/usr/lib/systemd/system/docker.service; enabled; vendor
preset: disabled)
   Active: failed (Result: exit-code) since Tue 2016-11-22 14:48:00 MMT;
28s ago
     Docs: https://docs.docker.com
  Process: 27250 ExecStart=/usr/bin/docke

[2016-11-22 08:25] yashgt commented on #28582
The docker engine was 1.12 and the docker command was of 1.13. Possibly this caused the issue. I installed 1.13 fresh and it it now working fine. Sorry about the trouble.

[2016-11-22 08:26] #28582 closed

[2016-11-22 08:26] yashgt commented on #28528
The docker engine was 1.12 and the docker command was of 1.13. Possibly this caused the issue. I installed 1.13 fresh and it it now working fine. Sorry about the trouble.

[2016-11-22 08:34] huanglm commented on #28650
what can I do now?

[2016-11-22 08:36] Jaspreetc commented on #27580
@jhowardmsft  Thanks John
@friism - the alternative approach will work only for the initial pull, but the cycle has to repetitive with Windows container image updated every month that makes thing trickier.
A thought if we can explore onto modifying the part where it calls the foreign layer to be downloaded from Microsoft to local intranet provided the blob/digest and SHA1 are intact even when the

[2016-11-22 08:54] lmazardo opened #28705 "Problem with linux kernel 4.8"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Description**
When I launch bash on a docker with an image debian:wheezy and linux-kernel 4.8, it fails.
All is ok with linux-kernel 4.7.

[code]

**Steps to reproduce the issue:**
1. vagrant up ```# install a debian testing with linux 4.8  - I've upload Vagrantfile.txt

[2016-11-22 08:56] allencloud opened #28706 "plugin run root path not so reasonable"
Hi, All,

When I experience docker new feature **PLUGIN**, I found that plugin's socket file will located at path `/run/docker/(plugin id)`, like below:
[code]

I think it is better to locate plugin data in path `/run/docker/plugin`, while not `/run/docker`

**Steps to reproduce the issue:**
1. `docker plugin install tiborvass/no-remove:latest`
2. `cd /run/docker` && ls

**Describe the results you

[2016-11-22 09:09] schmitzhermes commented on #19261
same problem. after a restart of the cluster I can't deploy any services from docker-compose sind there already is a service endpoint with the same name. that hit us really hard.

[2016-11-22 09:09] allencloud opened #28708 "[feature request] Use plugin ID to manage plugins"
HI, All,

I found currently docker does not support managing plugin via ID. It is only plugin name can be used. While we need to specify plugin name+tag to make it work.

I think using ID to manage plugin will be really convenient for users.

Here is `docker plugin ls` output:
[code]
I wish to have an `ID` column there.

And when I inspect a plugin, it has an `Id` field there:
[code]

**Output of

[2016-11-22 09:16] punkracy commented on #28476
Nothing like that happening in my case. After starting docker I see:

[code]
Also after restart don't see any _denied_ messages.

Setting SElinux into Permissive does not change anything.
Disabling SElinux (/etc/selinux/config)

[code]

also does not change anything.

[2016-11-22 09:23] labianchin commented on #16056
Another option is: `ag --path-to-ignore .dockerignore --files-with-matches`.

But some `**` patterns do not work properly: https://github.com/ggreer/the_silver_searcher/wiki/Advanced-Usage

[2016-11-22 09:53] presidento commented on #28236
Thank you!

[2016-11-22 10:53] justincormack commented on #28705
Hmm, I am running with upstream kernel 4.8.10 with no issues at all, so it looks like it might be an issue with that Debian kernel. Is it the latest one?

Does it make a difference if you run with `--privileged`?

[2016-11-22 10:57] justincormack commented on #28689
@sanimej I think this could cause all sorts of issues if you provide something that says it is a DNS server but does not match the specification for DNS, eg clients may be cacheing results or normalising or whatever.

I think we should switch container names to being DNS names. Perhaps we could start be recommending they are lower case? We could say if they are not they may cause unexpected behavi

[2016-11-22 10:59] justincormack commented on #28694
It is probably related to the root certificates or ciphers supported. These builds are built with different Go versions that may support different ciphers, and your boxes may have different root certs.

[2016-11-22 11:02] #28658 closed

[2016-11-22 11:03] lmazardo commented on #28705
Here is the output of ```uname -a```
[code]

There is no difference with ```--privileged```.

[2016-11-22 11:30] BenoitNorrin commented on #13490
I spent so many hours around this subjet ...

For now, the best way I found to manage secrets during build phase is building within two step, so two docker files. Here a good [example](https://github.com/TomasTomecek/two-step-build).

[Habitus] (http://www.habitus.io/) seems to be another option, but in my case, I do not want to add another tools mainly because I would like the build proccess on C

[2016-11-22 11:50] justincormack commented on #28705
ping @ijc25

[2016-11-22 11:50] cpuguy83 commented on #28236
Thanks for the report @presidento!

[2016-11-22 11:53] thaJeztah commented on #28650
@huanglm your logs are truncated; can you try getting the full logs using the `-l` option? I see some messages about device mapper, could it be your host or device mapper ran out of disk space?

[2016-11-22 12:01] thaJeztah commented on #26773
Fixed by https://github.com/docker/docker/issues/28659

[2016-11-22 12:01] #26773 closed

[2016-11-22 12:16] ijc25 commented on #28705
Something similar was reported to Debian in [Debian #845085](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=845085) which also points to a [forum post](https://forums.docker.com/t/docker-run-it-has-started-failing-with-status-139/18309/2) and https://github.com/tianon/docker-brew-debian/issues/55 (/cc @tianon).

Comparing my local `/boot/config-4.7.0-1-amd64` and `/boot/config-4.8.0-1-amd64` (I

[2016-11-22 12:23] ijc25 commented on #28705
https://anonscm.debian.org/cgit/kernel/linux.git/commit/?id=2aced7818ac46ca050ee68255ca20eeb14432a95 made this change saying:

[code]

@lmazardo could you try that please.

[2016-11-22 12:26] djs55 opened #28712 "SIGSEGV in libnetwork.(*endpoint).deleteFromCluster"
**Description**

The Docker for Mac integration tests occasionally trigger a crash of the docker daemon. It seems to be triggered by the service smoke test which is (roughly, I've had to remove some test framework boilerplate)

[code]

**Describe the results you received:**

The docker daemon crashes and the logs contain:
[code]

**Additional information you deem important (e.g. issue happens only

[2016-11-22 12:33] justincormack commented on #28706
Why? Sorry, I don't understand the problem exactly.

cc @anusha-ragunathan

[2016-11-22 12:34] damon-atkins commented on #28099
FYI on CentOS selinux is reporting

type=AVC msg=audit(1479747374.929:1115): avc:  **denied**  { read write } for  pid=6161 comm="iptables" path=2F6465762F73686D2F666669536A654E6833202864656C6574656429 dev="tmpfs" ino=30503 scontext=system_u:system_r:iptables_t:s0 tcontext=system_u:object_r:firewalld_tmpfs_t:s0 tclass=file

Appears on boot and restart.

[code]

[code]

[2016-11-22 12:35] clarity99 commented on #27984
no more ideas?

[2016-11-22 12:39] damon-atkins opened #28713 "Bug: iptables execution denied by selinux"
The following and more iptables errors are occurring due to an issue with selinux

ERROR: COMMAND_FAILED: '/sbin/iptables -w2 -t nat -D OUTPUT -m addrtype --dst-type LOCAL -j DOCKER' failed: iptables: No chain/target/match by that name.`

selinux is reporting

type=AVC msg=audit(1479747374.929:1115): avc:  **denied**  { read write } for  pid=6161 comm="iptables" path=2F6465762F73686D2F666669536A65

[2016-11-22 12:56] thaJeztah commented on #28713
ping @andrewhsu @sanimej ptal

[2016-11-22 13:25] #28439 closed

[2016-11-22 13:41] orodbhen commented on #23371
Also experiencing this with:

[code]

There's no folder with the specified hash under `/var/lib/docker/containers`, and restarting the daemon had no effect.

[2016-11-22 13:46] cpuguy83 commented on #23371
@orodbhen If restarting the daemon didn't work, there there must be a container loaded with that name.
Can you check `docker ps -a`?

[2016-11-22 13:54] vdemeester commented on #28022
Closing as #28486 has been merged

[2016-11-22 13:54] #28022 closed

[2016-11-22 13:55] orodbhen commented on #23371
@cpuguy83 No, there's no container with that name.

I actually think this may be an issue with `docker-py`. I wonder how many people here are using it. It appears that @petrosagg is.

It happens when calling `create_container()` even if the offending container name isn't used. But I have no issue with the docker shell command, using `docker create` or `docker run`.

Strange, though, because it see

[2016-11-22 14:01] cpuguy83 commented on #23371
@orodbhen Are you sure your docker-py instance is talking to the same daemon as the CLI?

[2016-11-22 14:06] huanglm commented on #28650
I already resolved this issue. The /var filesystem is full.

[2016-11-22 14:19] RAM128 commented on #27816
Hi aluzzardi,

After updating to 1.12.3 and removing /var/lib/docker/, the problem has been fixed.
Sorry for the inconvenience.

[2016-11-22 14:19] #27816 closed

[2016-11-22 14:19] thaJeztah commented on #28650
Thanks for the update @huanglm. Let me close this issue then

[2016-11-22 14:19] #28650 closed

[2016-11-22 14:22] orodbhen commented on #23371
There's only one daemon running: Both using `/var/run/docker.sock`.

I've created an [issue](https://github.com/docker/docker-py/issues/1299) for docker-py. But I'm not convinced yet that there's not some underlying issue with docker causing the problem.

[2016-11-22 14:25] cpuguy83 commented on #23371
@orodbhen When you restart the daemon, can you grab the logs from the loading sequence (specifically loading containers)?

This *can't* be a ref-counting issue if you've restarted the daemon. The name registrar is held only in memory and is rebuilt on daemon restart.

[2016-11-22 14:25] orodbhen commented on #23371
Sorry, please disregard. It was a problem with the way I was logging errors that made it seem like the error was reoccurring.

[2016-11-22 14:43] cpuguy83 commented on #28706
For organizational purposes I agree, but we can run into issues with path lengths pretty quickly, especially if someone changes the run-root to something other /run/docker.

[2016-11-22 14:52] petrosagg commented on #23371
@orodbhen I'm not using docker-py, I only used it to create a small reproducible testcase. The reason it doesn't happen with the docker CLI is because the client sanitises the input before passing it to the server, but I wanted to have direct access to the server and cause the critical section to fail.

[2016-11-22 14:54] justincormack commented on #28712
@mavenugo is this a known issue in -rc1?

[2016-11-22 14:57] #28635 closed

[2016-11-22 15:10] thaJeztah commented on #28702
ping @jhowardmsft

[2016-11-22 15:12] justincormack commented on #28589
Ah I think I see what is happening.

Does it help if you explicitly publish the ports to an ipv4 address, ie `docker run -p 192.168.1.34:80:80` say, replace with an actual external IPv4 address? This should not publish to ipv6, and not to dual stack, seems to work for me. Using `0.0.0.0` or the default of empty seems to listen on `[::]` dual stack, which is why you get a connection.

The Go listen

[2016-11-22 15:14] justincormack commented on #27886
Yes, it would be much simpler...

[2016-11-22 15:14] mavenugo commented on #28712
@justincormack @djs55 Its not a known issue and it seems like there is no race protection in deleteFromCluster. We will take a look at this.

[2016-11-22 15:15] deitch commented on #27886
OK, that is next on my plate. I will try it. Thanks.

On to wrangling with the inanity that is golang packages....

[2016-11-22 15:19] mlaventure commented on #28588
@runcom I'll try with a `containerd` started on its own, But it shouldn't matter, the hash is retrieved via tha grpc API  for containerd.

Which version do you have installed?

[2016-11-22 15:19] lmazardo commented on #28705
On linux kernel 4.8.5-1 and with parameter vsyscall=emulate, it works.

[code]

[2016-11-22 15:22] tophj-ibm commented on #20801
@thaJeztah @tiborvass any updates / ideas? I know the release-deb script needs updating to add in ppc64le, but I'm not sure if there is anything else or of my authority in this.

[2016-11-22 15:22] runcom commented on #28588
which version of what?

[code]

[2016-11-22 15:33] yongtang commented on #28684
When plugin is added, it creates an ID which should be unique. However, it also stores the mapping of name to ID:
https://github.com/docker/docker/blob/v1.13.0-rc1/plugin/store/store.go#L101-L107
If we allow multiple IDs with the same name, then I think the mapping index could be changed to include all IDs with the same name. (Instead of override the existing one)

[2016-11-22 15:40] yongtang commented on #28684
Otherwise, if name and ID is 1:1 mapping then we will need to return an error if a plugin with the same name already exist.

[2016-11-22 15:40] mlaventure commented on #28588
@runcom I still can't reproduce, the  only difference I have now, is that I am not running `systemd` but starting both binaries manually. But I don't see how that would affect the endpoint.

[code]

[code]

[code]

Could you try retrieving the info endpoint via curl to see if we get the data at least?

Also on error, there should be a warning message in the daemon log.

[2016-11-22 15:53] runcom commented on #28588
@mlaventure just an empty string and no logs showing anything useful:
[code]

[2016-11-22 15:55] runcom commented on #28588
@mlaventure it's not showing "N/A", just an empty string, so there are no logs around

[2016-11-22 15:58] runcom commented on #28588
@mlaventure you could repro with containerd directly and ctr:

[code]

[2016-11-22 16:08] mlaventure commented on #28588
@runcom your systemd file has `docker-containerd-current`, does `--version` on it also displays the right version?

Regarding `containerd` master, the version is still `0.2.3` not `0.2.4`, you must be on a different branch, and the `Makefile` couldn't retrieve the git commit hash when the binaries were compile it seems.

[2016-11-22 16:10] friism commented on #27580
@Jaspreetc yeah, I also tried just modifying the JSON in the image tarball to remove the foreign layer references. The bits are there on disc so it seems like that should work, but I haven't been successful pushing foreign layers to private repo yet.

[2016-11-22 16:17] runcom commented on #28588
that was it, thanks

[2016-11-22 16:17] #28588 closed

[2016-11-22 16:43] justincormack commented on #28705
@ijc25 what was the rationale for this change? It seems pretty aggressive at not letting older code work, which is unusual for Linux... Is there a security issue?

[2016-11-22 16:47] andrewhsu commented on #27500
Fedora 25 was released earlier this morning! Still waiting on the [dockerhub docker image of Fedora 25](https://hub.docker.com/r/_/fedora/). The [announcement](https://fedoramagazine.org/fedora-25-released/) had this to say about it:

[2016-11-22 16:48] sanimej commented on #28689
@justincormack Embedded DNS server has to work with the schema that we have for naming containers, which is case sensitive today. Its not a limitation of the embedded server itself. But I don't know if it can cause any serious issues because for any queries outside the docker domain we forward the query as is. So the upstream server will treat the name in a case insensitive way. Can you give a spe

[2016-11-22 16:52] ijc25 commented on #28705
AIUI (mainly based on the Kconfig help) it's a security "related" thing because the old setting involves some non-ASLR code in every process address space (vsyscall used to be at a fixed address), so disabling it improves things by getting rid of that.

Older (e)glibc (<=2.13 according to the Debian kernel changelog) is not compatible since it doesn't know about the new dynamic vsyscall address me

[2016-11-22 16:57] sanimej commented on #28689
@justincormack If the clients do normalizing of the mixed case names then yes, that can be an issue. We can make a recommendation to use lower case names. Some who have hit this issue do just that https://github.com/docker/docker/issues/21169

[2016-11-22 17:04] thaJeztah commented on #28689
Oh! @sanimej just reminded me that we already had an issue tracking this, that I forgot about (yup, it happens :blush:), closing as dup of https://github.com/docker/docker/issues/21169, please continue the discussion there

[2016-11-22 17:04] #28689 closed

[2016-11-22 17:15] tianon commented on #28705
@ijc25 I need a way to react to a GitHub comment with more than one heart -- thanks so much for chasing this down and dropping info about it in all the places I've seen it reported before I was even awake! :smile: :heart: :heart:

IMO, trying to convince Ben to delay this change until stretch+1 is just delaying the inevitable -- I think our efforts would probably be better spent documenting this c

[2016-11-22 17:24] #27045 closed

[2016-11-22 17:32] Pedramrn commented on #24328
Is there a way to free up those port again?

[2016-11-22 17:32] thaJeztah commented on #28693
I think this is a duplicate of https://github.com/docker/docker/issues/24317, so I'll close this one, but let me know if you think it's not a dup.

[2016-11-22 17:32] #28693 closed

[2016-11-22 17:43] thaJeztah commented on #24328
@Pedramrn what version of docker are you running? Are you still having this issue on the current release (1.12.3?)

[2016-11-22 17:49] Pedramrn commented on #24328
@thaJeztah I'm using version 1.11.1
Has it solved in 1.12.3?

[2016-11-22 17:52] #28326 closed

[2016-11-22 17:52] yongtang commented on #28684
Added a PR #28717 so that duplicated create will return an error.

[2016-11-22 18:53] albers opened #28719 "`docker stack ps --filter id=` seems to be broken"
I'm trying to figure out how filtering in `docker stack ps` works. The docs provide no information.
I think the `id` filter is broken.

Say, I have a stack `Hugo` with one service `Hugo_web`:
[code]
Filtering on `name` works:
[code]
Now, I'm trying to use the `id` filter. What value should I supply?
[code]
Observed in current master

[2016-11-22 18:53] thaJeztah commented on #24328
@Pedramrn this issue is about 1.12, and is probably fixed; https://github.com/docker/docker/issues/24244. If you have reasons to stay on 1.11, at least make sure to update to the latest patch release (1.11.2; https://github.com/docker/docker/releases/tag/v1.11.2)

[2016-11-22 19:02] albers commented on #28719
Note: For the related `docker stack services` command, the `id` filter works:
[code]
I would expect `docker stack ps` to accept the same filter expression.

[2016-11-22 19:04] tonistiigi commented on #28687
Adding to `v1.3.0` as it is an actual bug, not only a test issue.

[2016-11-22 19:46] #26251 closed

[2016-11-22 19:47] deitch commented on #27886
Hmm, not quite. libguestfs hangs in various situations, and its usage does not have the greatest documentation. The bigger issue is that it doesn't let you do things like interact directly with the block device. E.g., if you want to luks-encrypt a partition directly, you would do `cryptsetup luksFormat $SOMEDEV`. You can (sort of) mount-local an existing filesystem to the host (you still need `--p

[2016-11-22 19:49] friism commented on #27580
Alright, here's what you can do as a workaround:

1. `docker save <your-favorite-foreign-layer-image> -o image.tar.gz
2. Open the tarball, grab `manifest.json` and remove the `LayerSources` stuff
3. Package tarball back up with the modified `manifest.json`
4. [annoying part begins here] Get a hold of a Docker engine that doesn't have the foreign layers. Approaches include:
    - stop Docker Engine

[2016-11-22 19:58] deitch commented on #27886
Interesting. Finally got around to trying `--make-private`. On the one hand, the output file had **zero** errors. I took it elsewhere, run `losetup -f <file> -P --show`, and ran `fsck` on each partition (well, `/dev/loop0p3` actually is a auks-encrypted partition, so first I did `luksOpen`, then `fsck /dev/mapper/<part>`).

On the other hand, running `fsck -y` on each partition **before** closing

[2016-11-22 20:02] dattatrayakumbhar opened #28722 "List of containers with networkID filter is not working (docker ps --filter "network=nwID")"
**Description**
docker ps --filter does not work for partial network ID.

**Steps to reproduce the issue:**
1.  Created a network dk0

    [root@datta-bastion-dns docker]# docker network ls
  NETWORK ID          NAME                DRIVER              SCOPE
  f5c40491da47        bridge              bridge              local
  2968b0850d98        dk0                 bridge              local
  0d4e

[2016-11-22 20:19] deitch commented on #27886
Saving the space here, but it in a gist https://gist.github.com/deitch/208277ec5f61c96ec77245661e41f767

The final version does `fsck` without issues after build, but that massive number of errors means something truly strange is happening.

[2016-11-22 20:28] deitch commented on #27886
And next time I run it, I get lots of `Free nodes count wrong for group #xx`.

[2016-11-22 20:29] jacobtomlinson opened #28724 "Docker pull fails on low bandwidth connection"
**Description**

When pulling an image, over a slow connection, with two larger layers (>40M) followed by a small layer (<10M) it can fail due to i/o timout errors.

**Steps to reproduce the issue:**
1. Install docker on machine where connection can be throttled
2. Throttle network to 2-3mbps
3. `docker pull` image with a few larger layers

**Describe the results you received:**
Docker downloads t

[2016-11-22 20:31] justincormack commented on #28705
Should we add a warning to the `check-config` script?

[2016-11-22 20:31] #28327 closed

[2016-11-22 20:36] damienwebdev commented on #24968
Not sure if this is the proper place to put this, but I'm getting a similar thing in the Google Cloud cli which I think just uses the native docker.

as @mikkotikkanen mentioned, the steps to reproduce are the same, just using the

* `gcloud docker -- push` syntax instead.

[2016-11-22 20:40] thaJeztah commented on #24968
@damienwebdev probably best to report at Google cloud first.

I'll go ahead and close this issue, as I think it's answered, but @mikkotikkanen let us know if it's resolved with @samuelkarp 's suggestion

[2016-11-22 20:40] #24968 closed

[2016-11-22 20:42] deitch commented on #27886
And next time, if I run each step manually.... I get no errors.

Timing issue? Something between container and outside?

[2016-11-22 20:42] tianon commented on #28705
Yeah, that's a really great idea IMO!

[2016-11-22 20:51] thaJeztah commented on #28724
Such an option already exists; you can set the number if concurrent downloads / uploads as a daemon option; https://docs.docker.com/engine/reference/commandline/dockerd/

does that resolve your issue?

[2016-11-22 21:02] ssdong commented on #28617
@duglin I agree with keeping them consistent. I once had an env variable related issue of trying to import env variables to the container via Dockerfile but couldn't use the built-in `ENV` in Dockerfile because I need dynamic env variables. Fortunately I was using docker-compose and it allows env variables with declaration of `environment` which can read env variable from the host. I would be happ

[2016-11-22 21:04] jacobtomlinson commented on #28724
@thaJeztah yes that solves it perfectly thank you! I was looking here https://docs.docker.com/engine/reference/commandline/pull/ for information on this, I didn't think of looking in the daemon reference.

Maybe it would be useful to update the pull docs to reference it?

[2016-11-22 21:10] thaJeztah commented on #28724
@jacobtomlinson perhaps that's useful yes; would you be interested in contributing and opening a pull request? The source for that page of the documentation is part of this repository;

https://github.com/docker/docker/blob/master/docs/reference/commandline/pull.md

And for push

https://github.com/docker/docker/blob/master/docs/reference/commandline/push.md

[2016-11-22 21:30] wrotki commented on #24569
Just tried it with docker 1.13 RC1 - same error:

$docker version
Client:
 Version:      1.13.0-rc1
 API version:  1.25
 Go version:   go1.7.3
 Git commit:   75fd88b
 Built:        Fri Nov 11 19:47:07 2016
 OS/Arch:      linux/amd64

Server:
 Version:             1.13.0-rc1
 API version:         1.25
 Minimum API version: 1.12
 Go version:          go1.7.3
 Git commit:          75fd88b
 Built:

[2016-11-22 21:41] jacobtomlinson commented on #28724
@thaJeztah see #28726

[2016-11-22 21:45] thaJeztah commented on #28724
Thanks! Just saw it ❤️

[2016-11-22 21:55] tonistiigi commented on #28687
TestDaemonRestartWithKilledRunningContainer has started failing with same error https://jenkins.dockerproject.org/job/Docker%20Master/label=centos72%20&&%20devicemapper/7680/console

[code]

[2016-11-22 22:11] #28724 closed

[2016-11-22 22:41] aluzzardi commented on #28493
/cc @dongluochen

[2016-11-22 22:43] aluzzardi commented on #28490
ping @diogomonica

I don't know if this is a P0, but a worker became manager. Please downgrade to P2 if you don't think it's a big issue

[2016-11-22 22:43] sanimej commented on #28493
@aluzzardi I am looking into this..

[2016-11-22 22:47] diogomonica commented on #28490
This is less concerning since the node had been a manager first, and arguably all of your data has been leaked already if this node has had access to it and was misbehaving for you to demote it, but worth keeping as a P0 until we figure out what it is.

[2016-11-22 22:48] aluzzardi commented on #28210
/cc @dperny

[2016-11-22 22:48] aluzzardi commented on #28210
/cc @dperny

[2016-11-22 22:50] aluzzardi commented on #28209
This is a dupe (or, a more specific version of) https://github.com/docker/docker/issues/27231

[2016-11-22 22:52] aluzzardi commented on #28190
welp @mavenugo

[2016-11-22 22:54] aluzzardi commented on #27896
welp @mavenugo

[2016-11-22 22:55] Djelibeybi commented on #28273
@thaJeztah yes, we're having that same discussion internally as well.

[2016-11-22 22:57] tonistiigi commented on #28490
This happened because the node never left swarm, `swarm leave` never returned 0 exit code. The bug is that 1) leave of a node in error state should have worked and removed the state 2) join of a node in error state should have not succeeded(atm it just updated node's advertise address and caused it to start properly).

These are fixed in #28511 but I'll make a better refactor to properly handle th

[2016-11-22 22:58] Djelibeybi commented on #28190
We're internally investigating whether it's time to drop Oracle Linux 6 support due to userspace being too old to handle new Docker requirements.

[2016-11-22 23:00] peterthomassen commented on #28589
When I do this, the IPv6 listening indeed goes away. However, `dockerd` then shows up listening on the IPv4 address, according to `netstat -tpln`.

Why is this? I thought the routing is done via forwarding to my bridge (this is also what `iptables` tells me.) Why can't we just get rid of any `dockerd` or `docker-proxy` stuff listening on any of these ports when `--userland-proxy=false` is set?

[2016-11-22 23:01] thaJeztah commented on #28273
Thanks @Djelibeybi, keep us posted.  I'm not sure what the latest status was, but we may decide to skip builds for OEL6

[2016-11-22 23:01] diogomonica commented on #28490
@tonistiigi thanks for taking a look. Are you still going to go through with a better refactor?

[2016-11-22 23:03] Djelibeybi commented on #28273
Yeah, you can drop building OL6 upstream for now. Simpler than trying to fix it, I suspect.

[2016-11-22 23:04] tonistiigi commented on #28490
@diogomonica Yes, but it looks to be quite extensive.

[2016-11-22 23:05] thaJeztah commented on #28273
Alright, thanks! @andrewhsu ^^

[2016-11-22 23:08] diogomonica commented on #28490
@tonistiigi given the current state of the code, I'm fine with that. Hopefully it's more readable, and makes less use of routines an channels.

[2016-11-22 23:11] maxamillion commented on #27500
Apologies for the lag time. https://github.com/docker-library/official-images/pull/2383

[2016-11-22 23:12] opsxcq commented on #13594
The very same issue, but I can't reproduce it.
I just run the build again and it works.

[2016-11-22 23:18] inasingh opened #28731 "insecure registries- i have followed the instructions for daemon.json, does not work"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2016-11-22 23:27] groman2 opened #28732 "Docker build/push performance is inexplicably slow"
**Description**

I am evaluating whether I could use docker as a reproducible build and runtime environment for a local cluster application. I've got it mostly working, except I've run into the unexpected issue that the build time became excruciatingly slow due to docker image build/push. I've isolated the problem to be related to sheer data volume.

**Steps to reproduce the issue:**
1. Create tes

[2016-11-22 23:57] thaJeztah commented on #28732
I would definitely not run on devicemapper with loop devices, but not sure that explains everything. w.r.t 64 cores; I wonder if that's actually related to https://github.com/golang/go/issues/15395, but difficult to tell without more metrics

/cc @unclejack @stevvooe

[2016-11-22 23:58] andrewhsu commented on #28273
@Djelibeybi thanks for the info. Has the discussions come to a final decision?

[2016-11-23 00:00] Djelibeybi commented on #28273
@andrewhsu Not yet because we have to evaluate contractual customer support requirements. This doesn't affect upstream though.

[2016-11-23 00:07] thaJeztah commented on #28731
could you add some more info, as requested in the issue template, there's currently not enough information to look into your issue

[2016-11-23 00:09] thaJeztah commented on #27500
ping @tianon :heart:

thanks @maxamillion!

[2016-11-23 00:32] groman2 commented on #28732
Switched docker to using an LVM thinpool on the local RAID
[code]
Build performance got worse:
[code]
A whopping **20.7MB/s**

And local push performance stayed about the same:
[code]
~**9.9MB/s**

[2016-11-23 00:33] thaJeztah commented on #28449
https://github.com/docker/docker/issues/28504 was merged, so closing this

[2016-11-23 00:33] #28449 closed

[2016-11-23 00:33] thaJeztah commented on #28449
but please confirm after 1.13.0-rc2 is released 👍

[2016-11-23 00:36] stevvooe commented on #28689
I know we said we're moving this to #21169, but want to characterize this problem before moving discussion there.

Before we discuss anything about case sensitivity, we need to understand the behavior during collisions. What is the expected behavior if two containers, on different daemons have the same name? We have seen similar problems, as discussed #28260, but the approach with DNS collisions s

[2016-11-23 00:46] thaJeztah commented on #28373
I'm not able to reproduce this on `3.10.0-327.36.3.el7.x86_64` (which is what DigitalOcean gives me currently);

[code]

@runcom @andrewhsu do you have a setup to test this in?

[2016-11-23 00:54] suwey commented on #22182
@gfauredumont I encounted a similar problem today:

`https://apt.dockerproject.org/repo ubuntu-xenial Release
  Connection timed out after 120001 milliseconds`

And I tested with curl and it's ok:

`curl https://apt.dockerproject.org/repo/dists/ubuntu-xenial/Release`

Now `apt update` will never try `https://apt.dockerproject.org/repo ubuntu-xenial Release` even if I delete and create`/etc/apt/sou

[2016-11-23 00:59] thaJeztah commented on #28374
Looks like this question is answered

[2016-11-23 00:59] #28374 closed

[2016-11-23 00:59] tianon commented on #27500
Merged and pushed!

[2016-11-23 01:04] ziqingzhu commented on #27897
I've had the same problem.Is there a solution?

[2016-11-23 01:05] thaJeztah commented on #28191
I'm not able to reproduce this (same CentOS version);

[code]

Are you still having this issue?

[2016-11-23 01:06] thaJeztah commented on #27500
@tianon awesome! it's there; https://hub.docker.com/r/library/fedora/tags/

[2016-11-23 01:24] thaJeztah commented on #28181
/cc @jhowardmsft

[2016-11-23 01:26] thaJeztah commented on #28361
Looks like this is resolved, so I'll close this issue, but let me know if theres something to be resolved :)

[2016-11-23 01:26] #28361 closed

[2016-11-23 01:47] yongtang commented on #28708
Added a PR #28735 for this issue.

[2016-11-23 01:48] traffetseder commented on #27566
We are running into the same issue while running in ECS (same docker logs and same stack dump). We are using Amazon ECS-optimized AMI and are using docker 1.11.2.

It's hard to reproduce and I can't tell what drives this to happen. Sometimes adding instances are hanging for 50+min and then recover, other times an instance boots and docker is available right away (with the exact same configuration)

[2016-11-23 02:14] youngsu999 commented on #10294
@willstudy, I have same issue. My RHEL system uses a special device driver that have dependency on kernel.
The device driver does not support over 3.10.xx (RHEL 7.2) and the system uses ext4 for security issues.
So I tried figure out what is the problem, and I found some points.

[root@dcv04 docker]# nvidia-docker run -it --rm nvidia/cuda nvidia-smi
docker: Error response from daemon: mkdir /var/l

[2016-11-23 02:46] vieux commented on #27500
fixed by https://github.com/docker/docker/pull/28733

may we close @thaJeztah ?

[2016-11-23 02:47] inasingh commented on #28731
I am running-
virtualbox on mac
on top, ubuntu 16.04
on top docker installed by docker.io
I did create damon.json but it does not help .

On Tue, Nov 22, 2016 at 4:08 PM, Sebastiaan van Stijn <
notifications@github.com> wrote:

[2016-11-23 02:53] scottstensland commented on #28596
This exact issue continues to happen ... here on a different server

[code]

here is docker server log

[code]

[2016-11-23 02:59] L-Jovi commented on #28191
@thaJeztah  thanks for your reply, I eventual solve it.

someone change rules via firewall-ctl on my centos vps,

thanks for your time,

regards.

[2016-11-23 02:59] #28191 closed

[2016-11-23 03:06] thornycrackers opened #28736 "docker cp autocompletion doesn't support both usage formats"
[Official docker cp documentation](https://docs.docker.com/engine/reference/commandline/cp/)

In the file docker/contrib/completion/zsh/_docker line 616 the autocomplete declaration only supports the following docker cp usage format:
[code]
It would be awesome if it also supported the other format of:
[code]
It's annoying that the autocompletion doesn't work when you want to copy a file to a runni

[2016-11-23 03:08] shankarkc commented on #26714
Any ETA for this?
My used case :-
I am creating selenium grid in swarm mode. I use docker service to scale up and down.
ex :- docker service create  --replicas 20     --name SeleniumNode --limit-memory 2048M   --restart-condition any --restart-delay 5s   --stop-grace-period 10s --constraint engine.labels.seleniumNodeType==node --network overlayNet --env hub_name=SeleniumHub   --env  node_max_memor

[2016-11-23 03:26] stevvooe commented on #28732
@groman2 There are a few things going on here. To understand push performance, you really need to understand what is happening. We'll dive into that then we can look into what is going on with this machine, because it is _very_ slow.

Pushing an image isn't exactly straightforward but we can break down the process into pushing metadata and pushing layers. Since images are dominated by pushing laye

[2016-11-23 03:31] rlguarino opened #28737 "[Proposal] Force Content Trust Verification for all images."
**Description**

From the [Content trust docs](https://docs.docker.com/engine/security/trust/content_trust/).

There should be a mechanism to force the verification of content trust for all images including images referenced by explicate content hash. There are two different ways I see this happening:

1. By adding a way to disable addressing an image via explicate content hash.
2. By Verifying im

[2016-11-23 03:50] ziqingzhu commented on #27897
I run the check-config.sh, here is the ouput, is there someting wrong?

`info: reading kernel config from /boot/config-3.10.0-327.36.3.el7.x86_64 ...

Generally Necessary:
- cgroup hierarchy: properly mounted [/sys/fs/cgroup]
- CONFIG_NAMESPACES: enabled
- CONFIG_NET_NS: enabled
- CONFIG_PID_NS: enabled
- CONFIG_IPC_NS: enabled
- CONFIG_UTS_NS: enabled
- CONFIG_CGROUPS: enabled
- CONFIG_CGROUP_CPU

[2016-11-23 04:35] zanes2016 commented on #23105
I'm still having an issue with my self-signed cert. On my mac, I've added the cert file to
`/etc/ssl/certs/ca-certificates.crt`
which didn't work.

I also tried the relative application's relative directory:
`/Applications/Docker.app/Contents/Resources/etc/ssl/certs/ca-certificates.crt`

I still get the following error (after restarting Docker engine):
`certificate signed by unknown authority`

An

[2016-11-23 05:08] ishepherd commented on #23796
+1

[2016-11-23 06:16] anandrm commented on #27484
Just tried this on 1.13-dev version .

Is this the expected response ?

#docker run -it --sysctl net.ipv4.ip_forward=a --net=host ubuntu
docker: Error response from daemon: oci runtime error: container_linux.go:247: starting container process caused "process_linux.go:359: container init caused \"write /proc/sys/net/ipv4/ip_forward: invalid argument\"".

# docker info
Containers: 3
 Running: 0
 Pau

[2016-11-23 06:18] sobolevn commented on #13594
Here's my workaround: https://github.com/sobolevn/git-secret/blob/master/Makefile#L24

I have added `sync;` command and it works now without a single problem.

[2016-11-23 06:51] larryhu commented on #28654
@sanimej

[2016-11-23 07:30] yank1 opened #28739 "Container Lost Control after restart in service"
**Description**

Container Lost Control after restart in service

**Steps to reproduce the issue:**
1. docker service create --name nginx nginx
2. docker ps # to find the container id
3. docker restart <container-id>

**Describe the results you received:**

The service create a new container

**Describe the results you expected:**

The container is still in the service.
Or there is a way to restar

[2016-11-23 07:56] runcom commented on #28373
@thaJeztah sure I have it

[2016-11-23 08:11] reasonerjt opened #28740 "/etc/resolv.conf on the host was updated after docker run."
Hi, I see this issue on some of my VMs(non-dhcp), and not reproducing it on my ubuntu(with dhcp)

Steps to reproduce:
[code]
[code]
Then the /etc/resolv.conf changed.
[code]
My Environment info:
[code]
Please let me know if this is a known issue, or what other information's needed for debugging.  Your help is appreciated.

[2016-11-23 08:39] thaJeztah commented on #28191
Thanks! Good to hear it's resolved

[2016-11-23 08:40] ziqingzhu commented on #27897
when i update linux kernel verion to 4.8.10-1.el7.elrepo.x86_64, it does not happend

[2016-11-23 08:48] justincormack commented on #23105
Please open an issue on https://github.com/docker/for-mac/issues

The certs need to be in the keychain, I think there is a tool to add them.

On 23 Nov 2016 04:35, "zanes2016" <notifications@github.com> wrote:

[2016-11-23 08:55] mickep76 commented on #23105
You can add certs as follows:

**Root Cert**
[code]

**Other Cert, usually issued with root Cert**
[code]

[2016-11-23 08:56] thaJeztah commented on #28731
please provide the info requested in the template, the exact steps you followed (e.g. did you restart the daemon after changing the file), and the content of your daemon.json
i'm closing this issue until there's enough information

[2016-11-23 08:56] #28731 closed

[2016-11-23 09:05] ziqingzhu opened #28741 "container can accept requests when became unhealthy in swarm mode"
**Description**

**Steps to reproduce the issue:**
1.create a service in swarm mode
2.post request to this service continue
3.update service
4.one of container in this service health became (unhealthy), after a while,it will shutdown and another container will be create

**Describe the results you received:**
when the container became unhealthy , it can also accept request

**Describe the results

[2016-11-23 09:35] allencloud commented on #28739
Yes, I think it  is an issue of swarm mode. In a word, if a user **restart** a task's container in a service, docker daemon loses control of this container.

A `restart` action is separated into two parts `stop` and `start`. When stop action finished, swarmkit may lose the control of this task, the status of this task becomes shutdown, and the desired state is running, then swarm will start a new

[2016-11-23 09:37] xemul commented on #27597
@boucher , yup, it's purely CRIU thing, just replace the binary.

[2016-11-23 09:42] MihaMarkic opened #28742 "Stopping "Docker for Windows Service" returns Error 1067"
**Description**
Stopping Docker for Windows Service results in error 1067.

**Steps to reproduce the issue:**
1. Stop Docker for Windows Service through computer management

**Describe the results you received:**
[code]

The service stops though. Docker isn't running at the time.

**Describe the results you expected:**

Normal behavior (no errors)

**Additional information you deem important (e.g.

[2016-11-23 09:51] pikeszfish commented on #28722
It's OK to use full network ID or network name to filter.
But can not use the short network ID.

from src/github.com/docker/docker/daemon/list.go:441
[code]

[2016-11-23 09:57] Jaspreetc commented on #27580
@friism Thanks Michael, let me give it a try for the kick start,
 I still  believe there is a need to permanently fix this for ease of operation.

[2016-11-23 10:20] MihaMarkic opened #28744 "docker save results in cannot access file"
**Description**

Running "docker save" results in "rename DIRECTORY\.docker_temp_893108827 DIRECTORY/images.tar: The process cannot access the file because it is being used by another process."

**Steps to reproduce the issue:**
1. Run "docker save --output "DIRECTORY/images.tar" image1:latest image2:latest image3:latest"
2. Run it more than once. For me it stops usually after the first run (first

[2016-11-23 10:21] MihaMarkic commented on #28744
Wrong tag by @GordonTheTurtle. It is Docker for Windows stuff, not swarm.

[2016-11-23 10:33] manucarbonell opened #28745 "Error when committing container"
I have created a container in an AWS t2.small instance with 30G of storage. There I have installed opencv and tensorflow. Everything works fine until I want to commit the container:

I do
`docker commit myContainer tensorbox`
and I get
`Error response from daemon: devmapper: Error mounting '/dev/mapper/docker-202:1-396477-8795478ef38c8bf8e43978b32bae6d2a829188f5e4c85064e729dfe087cfde2d-init' on '/

[2016-11-23 11:01] JensPiegsa opened #28747 "AutoRemove always false"
**Description**

`docker inspect` does not reflect the presence of the `docker run` flag `--rm`.

**Steps to reproduce the issue:**

1. `$ docker run --rm --name RMTEST alpine sleep 30 &`
2. `$ docker inspect RMTEST | grep AutoRemove`

**Results in:**

                "AutoRemove": false,

**But is expected to result in:**

                "AutoRemove": true,

**Output of `docker version`:**

[cod

[2016-11-23 11:29] SvenDowideit commented on #24328
@thaJeztah may as well, I'm not sure i can reproduce it atm, and will reopen if i can.

[2016-11-23 11:29] #24328 closed

[2016-11-23 11:46] jediubuntu opened #28748 "OEL 6.8 : Cannot connect to the Docker daemon. Is the docker daemon running on this host?"
I have installed docker on OEL 6.8.

uname -r

4.1.12-61.1.19.el6uek.x86_64

docker version :

 Client:
     Version:      1.12.2
     API version:  1.24
     Go version:   go1.6.3
     Git commit:   19fddc2
     Built:
     OS/Arch:      linux/amd64

     Cannot connect to the Docker daemon. Is the docker daemon running on this host?

I tried service docker restart :

Stopping docker:

[2016-11-23 11:55] thaJeztah opened #28750 "Switch to Jekyll for docs makes man-pages markdown different from CLI docs"
Just adding this for discussion so that we can find how to resolve this; this occurred to me while reviewing https://github.com/docker/docker/pull/28734

Jekyll requires some non-standard markdown markup markers for certain parts of the documentation (`{% raw %}` / `{% end raw %}`). Before the switch to Jekyll, these markers were not needed, so it was possible to copy / re-use the same markdown fo

[2016-11-23 12:12] pfeerick commented on #27410
Just adding to what @kfowlks said... I am also a PINE64 user (64bit ARM/aarch64), and for me either of the two below commands worked - I feel the first is better though as that is the native architecture.

[code]

[2016-11-23 12:18] domg123 commented on #28188
Referenced from https://github.com/docker/libnetwork/issues/1548

[2016-11-23 12:19] reasonerjt commented on #28740
I found the resolv.conf was updated by "systemd-resolved.service"
Also I see this:
[code]

However I don't quite understand why docker run would trigger that.

[2016-11-23 12:27] thaJeztah commented on #28747
That's correct; daemon-side "AutoRemove" is added in docker 1.13 (see https://github.com/docker/docker/pull/20848), so not yet in the 1.12.3 release.

In 1.12.3, the `--rm` is performed client-side.

If you have a machine to test on, you can try running the 1.13 release candidate (https://github.com/docker/docker/releases). RC1 is available, but we'll be releasing RC2 today (if all goes well; it's

[2016-11-23 12:27] #28747 closed

[2016-11-23 12:31] thaJeztah commented on #28747
Note that the `AutoRemove` property is not part of the 1.24 API (which is the version used for 1.12.x); the API uses an open schema, which in some cases results in additional fields to be present in endpoints; https://docs.docker.com/engine/reference/api/docker_remote_api/

[2016-11-23 12:41] thaJeztah commented on #27597
Perhaps we should have an integration test for this (once 2.9 is released). Would be good to have before it leaves "experimental"

[2016-11-23 12:56] speechkey opened #28752 "Write multiple log files to the stdout in parallel"
I have following use case. There is a process which runs in a docker container. The process writes two logs in parallel: `process.log` and `connection.log`. Both are linked to the `/dev/stdout` by `ln -sf /dev/stdout process.log` and `ln -sf /dev/stdout connection.log`. If a Java exception with a stacktrace have to be written to the both logs to the same time following is written:
[code]

On that

[2016-11-23 13:11] albers commented on #28736
ping @sdurrheimer PTAL.

[2016-11-23 13:21] vlasbaard commented on #28387
**Description**

I'm having the same issue on:
- version 1.12.1
- not using swarm, just dockerd + compose
- running with --iptables=false
- Ubuntu 14.04

Specifying the ip with -p ip:port:port -does- work.

**Steps to reproduce the issue:**

1. Configure docker with --ip=(some ip, not 0.0.0.0)
2. Check with ps -elf that it is actually running with the specified --ip
3. Start a container with -p so

[2016-11-23 13:22] deitch commented on #27886
OK, ignore all of that. The corruption came from elsewhere. Let's pretend this whole conversation did not happen.

Let's refocus this on the original issue: mount/umount/manipulate block devices from within a container, even when privileged, even when doing things that _should_ be doable in userspace (like working with a disk img file), are poorly supported.

[2016-11-23 13:22] thaJeztah commented on #28748
Do the daemon, or system logs show anything useful?

/cc @Djelibeybi

[2016-11-23 13:29] slawekgh commented on #24310
rhel 7.2 + docker 1.12.2 + firewalld disabled

over 400 tests , everything works great

[2016-11-23 13:30] whitecolor commented on #12886
also `--ignore` option should take multiple ignorefiles

[2016-11-23 13:33] thaJeztah commented on #28387
The `--ip` option is only used for the default ("bridge") network, but I see the documentation does not mention that;

(daemon started with `--ip 127.0.0.1`);

[code]

@muradm @vlasbaard can you explain the use case; if you don't want the container to be publicly accessible, why are you publishing its ports?

[2016-11-23 13:40] sakserv commented on #25321
We appear to be encountering similar after moving to docker 1.12.2. Restarting docker appears to be the only way to recover.

We are using an lvm thinpool devicemapper setup leveraging xfs and unfortunately, overlay is not very stable on Centos 7.2 so making that move is not currently an option. Doing so would be quite disruptive to existing workloads as well.

Here is the stack trace from dockerd

[2016-11-23 13:43] thaJeztah commented on #24310
Thanks @slawekgh! May be worth updating to 1.12.3 if possible, there's various fixes in that one, including one security related (https://github.com/docker/docker/releases/tag/v1.12.3)

[2016-11-23 13:46] slawekgh commented on #24310
I have test-infra with 1.12.2 only :-(

[2016-11-23 13:46] thaJeztah commented on #25321
@sakserv could you open a new issue? "daemon hang" can have many causes, and I'd like to prevent having possibly unrelated issue so be in the same issue on GitHub. Also, may be worth updating to 1.12.3, because there are some deadlocks fixed in that version; https://github.com/docker/docker/releases/tag/v1.12.3

[2016-11-23 13:51] vlasbaard commented on #28387
Since the machine is dual-homed, I only want it (actually, any containers on that host) to be available to one of networks.

Of course,  I could firewall it shut, but a) firewalling the other network interface will leave me with other (non-docker-related) issues, b) being able to bind-by-default to one specific ip would be cleaner and c) the other services running on that box are already configure

[2016-11-23 13:52] sdurrheimer commented on #28736
https://github.com/docker/docker/issues/17029#issuecomment-149025245

I'm still not sure how to do that properly.

[2016-11-23 13:56] sakserv commented on #25321
@thaJeztah - sure, I will open a new issue.

[2016-11-23 14:00] albers commented on #28736
@sdurrheimer Is there a way to compute a combined list and use that in completion?

[2016-11-23 14:03] thaJeztah commented on #28387
Binding to a specific port/interface is an open feature request in https://github.com/docker/docker/issues/26696. We've been discussing that, but it will need a proper design (getting the UX right for swarm mode can be challenging, as one may not know the IP-addresses in advance).

[2016-11-23 14:05] sakserv opened #28754 "Docker daemon hangs intermittently after upgrading to docker 1.12.2"
**Description**

We are encountering intermittent hangs of the docker daemon after moving to docker 1.12.2. Restarting docker appears to be the only way to recover. This appears to be similar to https://github.com/docker/docker/issues/25321.

It was also suggested that we move to docker 1.12.3. As this will require significant effort on our end, it would be great to get feedback on if the stack tr

[2016-11-23 14:17] thornycrackers commented on #28736
I know that you can build two separate contexts using tags, this is how my scp autocomplete works:

<img width="1413" alt="scpauto" src="https://cloud.githubusercontent.com/assets/4313010/20564707/aa14e5d0-b14b-11e6-8d69-445ff9d2505c.png">

The issue, I think I don't know haha, is that the current autocompletion is building two separate contexts for each situation?
[code]
My Reference [How to buil

[2016-11-23 14:18] jediubuntu commented on #28748
cat /var/log/docker

\nTue Nov 22 10:33:28 GMT 2016\n
time="2016-11-22T10:33:28.370783837Z" level=info msg="libcontainerd: new containerd process, pid: 4929"
time="2016-11-22T10:33:28.406770627Z" level=warning msg="containerd: low RLIMIT_NOFILE changing to max" current=1024 max=4096
time="2016-11-22T10:33:29.501413394Z" level=warning msg="devmapper: Usage of loopback devices is strongly discourage

[2016-11-23 14:23] thaJeztah opened #28755 "[experimental] docker checkpoint create cryptic error message on duplicate"
When creating a checkpoint for a container, and a checkpoint with that
name already exists for the container, a cryptic error message is printed;

[code]

`docker checkpoint create` should;

- check if a checkpoint already exists
- if exists, print a proper error message

Expected behavior;

[code]

/cc @boucher

[2016-11-23 14:25] thaJeztah opened #28756 "[experimental] docker checkpoint create should print name (or ID) on success"
Unlike other commands (`docker volume create`, `docker network create`),
the `docker checkpoint` create command does not return the "id" or "name"
of the checkpoint;

[code]

To be consistent with other commands, the name (or "id") should be printed;

[code]