[2015-01-14 01:42] jfrazelle commented on #10081
I thought of that too but I think it will cause problems, I can try it out

On Tue, Jan 13, 2015 at 5:41 PM, Derek <notifications@github.com> wrote:

[2015-01-14 01:46] jfrazelle commented on #10081
Seems to be fine I guess since we are locking the container, I updated,
thanks!

On Tue, Jan 13, 2015 at 5:42 PM, Jessica Frazelle <jess@docker.com> wrote:

[2015-01-14 01:51] brahmaroutu commented on #10081
@jfrazelle thanks, sorry about this.

[2015-01-14 01:55] crquan commented on #10081
I still think the new_name assignment need to be moved before daemon.containerGraph.Delete, if the containerGraph database has problems, it's ok to return an error, but should not affect the new_name assignment; see my commit 4ee72c7

[code]

[2015-01-14 01:59] jfrazelle commented on #10081
That would be a problem though if the name is already taken.

On Tue, Jan 13, 2015 at 5:55 PM, Derek <notifications@github.com> wrote:

[2015-01-14 02:02] jfrazelle commented on #10081
jk ignore that last comment, I didn't see you were setting it after

On Tue, Jan 13, 2015 at 5:58 PM, Jessica Frazelle <jess@docker.com> wrote:

[2015-01-14 02:02] RoelVdP commented on #4036
Out of disk space is confirmed unrelated. I am still seeing the same issue with heaps of space. Very annoying race condition. Happens 1 in 5 to 1 in 10 for me.

[2015-01-14 02:05] jfrazelle commented on #10081
ok I updated, but if the graph fails, there is going to be a lot more
issues then this ;)

On Tue, Jan 13, 2015 at 6:02 PM, Jessica Frazelle <jess@docker.com> wrote:

[2015-01-14 02:05] thockin opened #10084 "Intersection of CMD and ENTRYPOINT is ill-defined"
I ran an experiment today to see how these things intersect.

https://gist.github.com/thockin/c44a88b84c2a1041a1bd

There are three cells in this matrix that are totally nonsensical.  Worse the dockerfile spec says "The shell form prevents any CMD or run command line arguments from being used", which is clearly untrue.

More that this, though, the semantic between the two is sort of weird, especia

[2015-01-14 02:10] tbatchelli commented on #9967
My first attempt at fixing it didn't go down well.

Docker now is really fast, taking a few seconds to run the test above, and the tests pass, I can start containers and such, but fig fails, and it seems it is losing track of some of the containers in a fig file. I haven't been able to isolate the issue yet.

Here are my changes:

[code]

[2015-01-14 02:46] loe opened #10085 "Docker cannot find image to pull yet image is already running in other containers"
I originally thought this was a Kubernetes bug (https://github.com/GoogleCloudPlatform/kubernetes/issues/3301) , but I believe it is with docker.

Docker claims it cannot pull the image, however running `$ docker pull onehub/embassy:latest` succeeds.

Here is docker daemon's debug log:

[code]

Docker is 1.4.1 on CoreOS:
[code]

[2015-01-14 02:48] loe commented on #10085
The most interesting note is that this only happens for this specific job, I have 10s of containers running on the same host with the same image, I just cannot start my job "embassy-471". If I change the requested image to be onehub/embassy with no qualifying tag, it will start and run with no problem, but then I must manually pull on each kubernetes node when I rebuild my container, which is unde

[2015-01-14 03:35] holmes86 commented on #10065
OK. I will try  lxc-1.0.7, thanks.
I must be use some lxc feature, so I can not change to execdriver.

[2015-01-14 03:59] RoelVdP commented on #4036
Tested in detail; changing the options posted earlier on/off does not lessen reproducibility. /dev/shm vs SDD test; SDD seems to produce the issue more regularly still.

All in all this is a very serious bug and makes Docker quite unusable.

[2015-01-14 04:37] RoelVdP commented on #4036
Btw, if you want something to reproduce this, try;
$ bzr branch lp:percona-qa
$ cd percona-qa/packaging-testing
$ ./packaging-test.sh     # run it a few times in row. Fails between 1 in 3 to 1 in 10

[2015-01-14 05:04] virtuald commented on #4036
1 in 5 seems about right to me. We actually have a script that wraps the build process, and when it fails with a mapper error then it retries up to 5 times. Works most of the time.

[2015-01-14 05:06] RoelVdP commented on #4036
Yeah I was considering doing the same as an ultimate workaround, but how painful. Especially when part of the build process is pulling 40Mb+ image. Thanks @virtuald

[2015-01-14 05:36] vbatts commented on #4036
Thank you all for the continued info.

On Wed, Jan 14, 2015 at 12:06 AM, Roel Van de Paar <notifications@github.com

[2015-01-14 06:20] #9923 closed

[2015-01-14 06:43] tve commented on #332
@monokrome Yup. Pull from private github repos, for example. Typically done through a dependency tool, such as bundler in the ruby world, hence it's not appropriate to pull locally before kicking off the container build and then adding the pulled stuff explicitly.

[2015-01-14 07:02] phemmer commented on #8568
This was implemented in #10080

[2015-01-14 07:10] samshiles commented on #9868
have the same issue, docker version:

(note I had to reboot the host before docker version worked).
$docker version
docker version
Client version: 1.0.1
Client API version: 1.12
Go version (client): go1.2.1
Git commit (client): 990021a
Server version: 1.0.1
Server API version: 1.12
Go version (server): go1.2.1
Git commit (server): 990021a

(all docker commands give this error)
$ docker stop statsd

[2015-01-14 07:14] phemmer opened #10088 "Allow controlling the mount namespace"
This is a continuation of a request & discussion in #6687
The primary request is to allow disabling the mount namespace inside a container. The use case is so that one container can mount a volume (real volume, not a docker volume), and then use docker volumes to share the mount with another container.
There are a few cases where you might want to do this.
* The most obvious use case is when your

[2015-01-14 07:20] antonbormotov commented on #8838
I am looking for that as well,
I can change environment variables, go into container (for example, docker-bash tool), and export vars with export command or unset them. But in this way, when I exit from container, docker recovers old vars and their values.

[2015-01-14 07:58] xiaods commented on #10084
how about add the metrics to docs?

[2015-01-14 08:00] tianon commented on #10084
The contents of the gist, copied here for ease of discussion:
[code]

Personally (IANTM), I'd love to see us start throwing warnings on the shell forms of these, and eventually deprecate them.

[2015-01-14 09:15] simonvc commented on #10067
@RoelVdP Nope, it appears that the softlayer VMs don't come with the linux-image-extra kernel modules so docker falls back to using devicemapper instead of aufs.

[2015-01-14 09:54] TomasTomecek commented on #6906
Any updates?

[2015-01-14 11:23] discordianfish commented on #7923
@crosbymichael I would love to implement it, but have no time this week. So if you have time, go for it.

[2015-01-14 11:34] pchico83 commented on #9981
@cpuguy83 I found the case where this happens. I had a mysql container mounting 2 volumes and I removed the container without removing its volumes. Now, I want to deploy a new mysql container reusing those volumes, which live at:

[code]
https://10.45.2.11:2375/v1.15/containers/4758a0d88a5b93a268bdd47aa353d0a82317bb56eebc1385d181678bf3307920/start
{'Binds': [u'/var/lib/docker/vfs/dir/387f6dddfd4b2

[2015-01-14 11:38] pchico83 commented on #9981
@cpuguy83 I found the case where this happens. I had a mysql container mounting 2 volumes and I removed the container without removing its volumes. Now, I want to deploy a new mysql container reusing those volumes, which live at:

[code]

Then, I do:

[code]

This does not work in 1.4.1 and works in 1.3.3. The other option is to pass these binds at creation and not at starting, which would work in

[2015-01-14 12:38] rednil opened #10089 "Error getting container from driver devicemapper during build"
Trying to build from https://github.com/rednil/openstreetmap-tiles-docker, I am getting the following output:

Step 19 : RUN cd /usr/local/src/mapnik-style/inc && cp fontset-settings.xml.inc.template fontset-settings.xml.inc
 ---> Running in a464b257e6f9
 ---> 908810edf323
Removing intermediate container a464b257e6f9
Step 20 : COPY mapnik-style/inc/datasource-settings.sed /tmp/
 ---> a1c9d7174f01

[2015-01-14 12:45] chenchun commented on #9856
Also encountered the same problem with docker 1.4.1, kernel version 2.6.32-431.el6.x86_64
Run ```docker run --rm docker.oa.com:8080/library/centos7 env``` several times.
And then ssh terminal session is lost with that host.

[code]

[2015-01-14 13:20] zopyx opened #10090 "Device mapper "resource busy" on CentOS 6.6"
Gartner is right. Docker is completely unusable in production. Best proof:

Trying to start a container once again fails

[ajung@dev1~]$ docker start c64662f04dde
Error response from daemon: Cannot start container c64662f04dde: Error getting container c64662f04ddeaed6c92ae28594061cc13f335ed59bab2b6de62e53c5d27af934 from driver devicemapper: Error mounting '/dev/mapper/docker-252:1-6602807-c64662f0

[2015-01-14 13:22] retog commented on #10023
@icecrime the problem with this approach is how to know the ip. How do I know for example the ip of the default gateway in the container will be 172.17.42.1?

[2015-01-14 13:32] retog commented on #8395
@SvenDowideit `docker run --add-host=docker:$(hostip)` will set the host docker to the gateway of the gateway of the host, not to the ip that can be used to reach the host from the container.

[2015-01-14 13:37] retog commented on #10023
@apheleia thanks for the pointers

What @elgalu suggets here: https://github.com/docker/docker/issues/1143#issuecomment-48400636 is almost exactly what this issue ask for. It seems that other are having the issue too and (having an option) to add an entry to /etc/hosts seems the easiest approach.

As for commit `5405008` see my comment above.

[2015-01-14 14:34] umatomba opened #10091 "docker commit slow on btrfs storage driver"
**Description of problem:**
I am using btrfs as a storage driver, because my containers can contain up to 60GB of new data. I thought btrfs, being a copy on write file system, should be able to handle 60GB easy and fast.
In reality docker needs up to 40 minutes to commit a container with 60GB of new data.

In log we see that committing a container with btrfs storage is actually doing some 'Start u

[2015-01-14 14:37] LK4D4 commented on #10091
@umatomba Hello, this probably was fixed in #9720
Please try master when you can and report results. Thanks!

[2015-01-14 14:46] umatomba commented on #10091
Thanks @LK4D4. I will try it now

[2015-01-14 14:57] pskerrett commented on #9983
Thanks for coming out with this proposal. I'm just reading it for the first time today. I'd like to clarify a use-case that my org is interested in, and is the one thing preventing us right now from letting Docker fully replace KVM/VMware, etc in our production environment:

We require the ability to have pre-defined Openvswitch bridges with specific networks (vxlan) already in place. We'd love to

[2015-01-14 14:57] bfirsh commented on #6839
A pull request: https://github.com/docker/docker/pull/9882

[2015-01-14 16:40] umatomba commented on #10091
Hi Alexander,

the last version has the same timings and we see again the same tar operations:

1.) docker run -itd ubuntu:14.04 /bin/bash
8d68ec2b5603d3c1c1b091ef36bf940998e7ed40589d2f4fac493b4b514ea890

2.) go to docker/btrfs/subvolumes:

[code]

3.) is it btrfs subvolume? yes.

[code]

4.) docker attach 8d68ec2b5603d3c and make 10Gb changes (one file changes -> to make this test quicker).

5.)

[2015-01-14 16:50] LK4D4 commented on #10091
@umatomba Thanks for testing! But I'm not expert. Summoning expert: @unclejack

[2015-01-14 17:08] jeremyeder commented on #7481
@vbatts Still an issue in the latest builds.

[2015-01-14 17:11] TimWolla commented on #6928
:+1:

[2015-01-14 17:13] #10074 closed

[2015-01-14 17:17] gomes commented on #10089
Seems the same as https://github.com/docker/docker/issues/4036

[2015-01-14 17:17] shykes commented on #10090
Hi @zopyx this seems to be an issue specific to the devicemapper storage driver.

I'm copying @vbatts @unclejack @alexlarsson who know more on the topic.

[2015-01-14 17:25] coopernurse commented on #7477
Workaround hack.  Modify which $cols[x] you want to keep as desired.

`docker ps | perl -ne '@cols = split /\s{2,}/, $_; printf "%30s  %20s  %20s\n", $cols[1], $cols[3], $cols[4]'`

[2015-01-14 17:34] jfrazelle commented on #10090
we [suggest using at least a 3.8 kernel](http://docs.docker.com/installation/binaries/) especially if you are going to be using docker in production.

[2015-01-14 17:36] shykes commented on #10090
@jfrazelle is right, your version of the kernel is not supported.

Have a nice day and try to be less of an asshole next time.

[2015-01-14 17:41] zopyx commented on #10090
What a tarded reply. Provide accurate information about aupported distros and kernels. State clearly that CentOS 6 is unsupported instead of letting people fail with Docker day by day. The ignorant asshole atttitude is on your side, tinkerers.

[2015-01-14 17:41] unclejack commented on #10090
@zopyx I'm sorry you're having problems with Docker and devicemapper. Those two problems are known and we're working on fixing them.

RHEL and CentOS are the only exceptions to the `3.8 is the absolute minimum for starting Docker rule`.

I'll provide more information in a few hours.

[2015-01-14 17:44] icecrime commented on #10023
@retog This is the IP of the bridge (`docker0` by default), so you do have it as soon as the daemon is started.

[2015-01-14 17:47] tiborvass commented on #10090
@zopyx We're happy to help, and we can make mistakes as well, but you started this issue in an attacking tone. Please refrain from continuing that, as it is unproductive and doesn't help solving the issue better/quicker. Thanks for your understanding

[2015-01-14 17:47] vbatts commented on #10090
@zopyx the "device or resource busy" has a number of things that can trigger it unfortunately. some of which are outside of docker itself. Please check out http://blog.hashbangbash.com/2014/11/docker-devicemapper-fix-for-device-or-resource-busy-ebusy/ and see if setting the docker daemon in a private mount namespace mitigates the issue for you.

Also, since you began `rm -r` the directory when it'

[2015-01-14 17:55] zopyx commented on #10090
The documentation

https://docs.docker.com/installation/centos/

 clearly states

To run Docker, you will need CentOS6 <http://www.centos.org/> or higher,
with a kernel version 2.6.32-431 or higher as this has specific kernel
fixes to allow Docker to run.

Please update your docs accordingly and say clear: CentOS 6.X is
unsupported. There is currently no way to run Docker on CentOS 6.X in a
reliab

[2015-01-14 17:58] vbatts commented on #10090
@zopyx you've found the docs, though this issue is not exclusive to Centos6... see my prior comment.

[2015-01-14 17:59] vbatts commented on #10090
Closing this issue per our tracker for EBUSY related devicemapper errors https://github.com/docker/docker/issues/5684#issuecomment-69052334

[2015-01-14 17:59] #10090 closed

[2015-01-14 18:08] tbatchelli commented on #9967
A late night of investigation has produced these new findings, and I would need confirmation wether this is the intended behavior or not:

1. The issue is not seem to be DB access. I have modified the code to preload the entities table in memory and then use the map as a lookup. This ensures the DB is accessed only once, and seems to  make no significant difference in the time it takes to complete

[2015-01-14 18:14] tiborvass commented on #10085
@loe Would you be able to narrow down the problem into a reproducible case? That would help a lot, because I'm not sure how to debug your issue otherwise.

[2015-01-14 18:18] loe commented on #10085
@tiborvass That is really the issue. I don't know how to narrow it down further. I would be happy to work with you and get you on my host that has the issue. For this job it outputs these same logs every 10 second (kubernetes loop time).

[2015-01-14 18:47] LK4D4 commented on #9967
Yup, you can also see enormous amount of `Names` in `/containers` output.

[2015-01-14 18:49] tbatchelli commented on #9967
So this is the expected behavior? If so, this can't be fixed without breaking the api...

[2015-01-14 18:50] tiborvass commented on #9923
For future reference, this was closed by #10058

[2015-01-14 18:52] crosbymichael commented on #8568
done with `--pid`.

Thanks for the update @phemmer

[2015-01-14 18:52] #8568 closed

[2015-01-14 18:52] jfrazelle commented on #6833
looks like this has been taken care of, and as far as automating this is covered by #2583, closing

[2015-01-14 18:52] #6833 closed

[2015-01-14 18:54] jfrazelle commented on #3951
@jlhawn @dmcgowan does this still apply?

[2015-01-14 18:55] LK4D4 commented on #9967
@tbatchelli Yes, but I'm not sure that current api is useful at all.

[2015-01-14 18:57] jfrazelle commented on #6263
@proppy does this still apply? want to make a patch ;)

[2015-01-14 19:03] jfrazelle commented on #6561
I believe we can close this now @LK4D4? right?

[2015-01-14 19:06] jfrazelle commented on #7480
I opened this internally as an issue on the hub, you are not alone in this problem :)

[2015-01-14 19:08] jfrazelle commented on #7487
@nathanleclaire can we close?

[2015-01-14 19:09] jfrazelle commented on #6318
@ross-w are you still seeing this on the latest version?

[2015-01-14 19:09] jfrazelle commented on #4393
@cpuguy83 @SvenDowideit is this still an issue?

[2015-01-14 19:10] acbodine opened #10094 "docker attach hangs setting terminal state when attaching to container"
Let's say I have a container such that:
[code]

Then I attach to it:
[code]

I press any key and I see:
[code]

Shouldn't the first `root@3a73e17af236:/#` prompt be displayed when `docker attach` is run?

I can verify this isn't a `boot2docker` problem as I have seen similar behavior on Ubuntu 14.04

[code]
[code]

[code]

[2015-01-14 19:11] jfrazelle commented on #7907
is this still applicable?

[2015-01-14 19:12] jfrazelle commented on #7395
is this still an issue?

[2015-01-14 19:13] acbodine commented on #10094
I'm happy to submit a PR for this fix as well as it follows the workflow I looked into for #9860, if it is determined to be an issue.

[2015-01-14 19:14] LK4D4 commented on #6561
@jfrazelle I hope so :)

[2015-01-14 19:14] #6561 closed

[2015-01-14 19:14] jfrazelle commented on #10094
can you try on master? you can download binaries from master.dockerproject.com

[2015-01-14 19:17] nathanleclaire commented on #7487
We still don't have the "sticky" sidebar which lights up the correct section as you scroll down like it used to, which makes me sad, but I have a feeling even if the issue stays open that will not get implemented.  So I will close :)

[2015-01-14 19:17] #7487 closed

[2015-01-14 19:18] jfrazelle commented on #10091
Also I think for 60GB 40 minutes is not bad... but I am no expert either

[2015-01-14 19:21] acbodine commented on #10094
From the tip of master `7d80fd6ca6f26f37b5c19d95b53c7fb4faa22bd1` I'm seeing the same behavior

[2015-01-14 19:25] jfrazelle commented on #10094
why are you attaching to bash? I think that is intentional behavior if you want to execute more things inside the container use docker exec

[2015-01-14 19:26] metalivedev commented on #7907
It is still not pretty on Android browser version 4.3-776638, but it is zoomable.

[2015-01-14 19:27] jfrazelle commented on #10094
attach seems to be working fine for me on master with irssi and mutt

[2015-01-14 19:28] tiborvass commented on #8838
@Boran @antonbormotov I believe commit is the right way here since you essentially want to keep a modified state of a container.

If your program is smart enough to have a way to source some file upon being notified, you could `docker exec sh -c echo 'foo=bar' > /root/.bashrc'` and notify the program to source it.

/cc @jfrazelle @tianon

[2015-01-14 19:29] tiborvass commented on #10083
@timothysc Why not just do `docker -d $(generate_labels)` ?

I must say I dislike the weird `=|` syntax, that would be yet another thing to support.

[2015-01-14 19:29] jfrazelle commented on #10060
when you check the logs can you give the out put here because this is not enough information for us to debug

[2015-01-14 19:31] jfrazelle commented on #10062
I do not understand what you mean by bootfs? is this in the image, is it /var/lib/docker, is it your storagedriver ex. aufs, btrfs, etc

[2015-01-14 19:32] jfrazelle commented on #10065
let us know how it goes

[2015-01-14 19:32] jfrazelle commented on #10089
ping @vbatts

[2015-01-14 19:32] jbulchergist opened #10095 "docker export <container> fails to export files"
`docker export` should export a tar of all files/folders saved in a data container, right?

I have a simple data container build `FROM scratch`, with a binary executable named `/bin/echo` for starting purposes. Let's call it container '0'

Two containers connect to it to share data - one reads, the other writes. Let's call them 'A' and 'B'. A and B both share `/var/www/html` through 0, but do not

[2015-01-14 19:34] tiborvass commented on #10085
After trying to debug with @loe, we couldn't fully reproduce.

I'm conservatively closing this issue for now, but @loe feel free to comment here if you have any news, we'll (not so) gladly reopen :)

[2015-01-14 19:34] #10085 closed

[2015-01-14 19:35] jfrazelle commented on #10041
You can use restart policies so after upgrade the container is automatically restarted. Because docker controls all the processes of containers the container will need to stop in order to stop docker and upgrade. There is no current way to keep containers running while docker is not.

[2015-01-14 19:35] #10041 closed

[2015-01-14 19:36] jfrazelle commented on #10039
closing as kernel issue.

[2015-01-14 19:36] #10039 closed

[2015-01-14 19:37] #10025 closed

[2015-01-14 19:37] jfrazelle commented on #10025
Closing then as it is a python version issue.

[2015-01-14 19:37] #10032 closed

[2015-01-14 19:39] jfrazelle commented on #10021
ping @vbatts :)

[2015-01-14 19:39] jfrazelle commented on #10023
@retog has your issue been solved, seems like there is a way to do it

[2015-01-14 19:40] damm commented on #6561
I personally don't think this issue should be closed; so I will open another issue.

[2015-01-14 19:40] #10024 closed

[2015-01-14 19:41] ashahab-altiscale commented on #9875
@jfrazelle @unclejack
These are my findings about some of the tests. These can be bugs or issues with lxc-docker integration:

`TestPsListContainersSize`: Needs fix/lxc containers have a different base size.
`TestPsListContainersFilterStatus`: Can be fixed by quoting command
`TestRunWriteHostsFileAndNotCommit (1.18s)`<— LXC diff not empty. Returns a default diff.
[code]
`TestRunUnknownCommand (1.2

[2015-01-14 19:41] damm opened #10096 "Docker gives out IP addresses already in use"
Hi,

I am trying to get my Docker containers (in a datacenter) to be on a specific link and have it hand out IP addresses that are not in use. So docker is running like docker -d -b=br0

The subnets I have tried are below:

10.0.0.1/24
10.1.10.1/24
172.16.0.1/24

There is nothing special in my configuration my forward delay is 1 on the bridge (I used to set 9).

    Switches Involved.
        Cisc

[2015-01-14 19:41] ashahab-altiscale commented on #9875
Next I'm going to look at the CAP issues.

[2015-01-14 19:42] damm commented on #10096
P.S. I opened this because #6561 was closed.  There was no traction on the ticket as apparently no one gives a crap that Docker is giving out IP Addresses that may be in use.

BTW, My apologizes if I seem irratated; I just find how #6561 was closed to be rude; and how the ticket was ignored for so long maybe a new ticket is required.

[2015-01-14 19:46] LK4D4 commented on #10096
@damm Yup, not a problem. You know you can specify `--fixed-cidr` for docker to specify subnet which should be used for allocations.

[2015-01-14 19:47] jfrazelle commented on #9875
ah cool thanks so much for the info :)

On Wed, Jan 14, 2015 at 11:42 AM, Abin Shahab <notifications@github.com>
wrote:

[2015-01-14 19:49] jfrazelle commented on #6561
sorry about that it is hard to tell sometimes. Feel free to open another

On Wed, Jan 14, 2015 at 11:40 AM, Scott M. Likens <notifications@github.com>
wrote:

[2015-01-14 19:50] dmcgowan commented on #3951
@jfrazelle this should no longer apply, that error message is now outputted using the logging library.  An example error would now appear like

`FATA[0006] Failed to ....`

[2015-01-14 19:55] acbodine commented on #10094
ha - so this example was/is something I have been using to test other issues with being a long running process that won't die on me. Aside from that, you are right, it's not very practical. I noticed this behavior and wasn't sure if it was correct or not. It seems like when attaching the container's stdout isn't flushed to the cli until the cli provides data on the container's stdin in this case.

[2015-01-14 19:56] damm commented on #10096
Oh I know there's work 'arounds' by configuring a bridge's CIDR to not collide with another hosts; but I still think we should check the IP is available for allocating it.

I've had false starts on containers (even with the default 172.17.0.0 subnet) because the IP was in use and Docker was unaware (typically an issue with the sqlite database being out of sync).

[2015-01-14 19:56] jfrazelle commented on #3951
So I can close?

On Wednesday, January 14, 2015, Derek McGowan <notifications@github.com>
wrote:

[2015-01-14 19:59] ChristopherBiscardi commented on #7487
@nathanleclaire yea, it makes me sad too :/ Some of our docs have [extraordinarily long sidebar menus](http://docs.docker.com/reference/commandline/cli/) as well. There's a loose plan to redo the docs IA and design, but it won't be until we have some design docs done that are currently in-progress.

[2015-01-14 20:00] anentropic opened #10097 "Quirk in CMD array form and cache invalidation"
I had the following faulty line in my Dockerfile:

    CMD ["service postfix", "start"]

when I built the image I got this output:

[code]

then running the image I get the error, due to my mistake:

[code]

OK so far... but then I fix the mistake in my Dockerfile:

    CMD ["service", "postfix", "start"]

and build again:

[code]

I didn't notice until I ran the image and got the error still... b

[2015-01-14 20:03] timothysc commented on #10083
The syntax is pretty well defined, however I suppose you could also use `strike_exec`.

It looks like you were implying variable substation above, where enabling execution output could eliminate (1:N) steps necessary to start the daemon, and easing automation for those who tend to enjoy concise packed statements.

FWIW this is not a new idea, and exists in several clustering & batch systems.

[2015-01-14 20:17] thaJeztah commented on #10095
Volumes are not part of a container. When you're creating the data-container and marking the `/var/www` directory as a volume, docker creates a directory on your *host* and mounts that inside the data-container (and the containers using `volumes-from` that container).

You can run `docker inspect foo_data_1` to see the properties of the data container (in JSON format), somewhere in there you can f

[2015-01-14 20:19] ahmetalpbalkan commented on #9811
@keyonir thanks for reporting, I'm trying to reproduce this but it appears that it works with relative paths as well.

1. Get `docker-1.4.1-dev.exe` from here (built from master) and copy to `c:\junk`
2. Copy `[ca/cert/key].pem` to `c:\junk`
3. (If you have a `%USERPROFILE%\.docker` directory, temporarily rename the folder to something else so it doesn't use default certs by accident)
4. Run `C:\j

[2015-01-14 20:23] tcoats commented on #9694
@aanand I propose allowing multiple .yml files in a directory and using the name of the file as the name of the group. This would keep the simple fig format and allow more freedom of configuration files and directory layouts.

I've written [tugboat](https://github.com/metocean/tugboat) - a command line tool similar to fig that uses individual .yml files for each group. The .yml file format is iden

[2015-01-14 20:39] retog commented on #10023
@icecrime ok so one have the dockerhost host with

    run --add-host=dockerhost:$( ifconfig docker0 | grep "inet addr" | sed -r "s/.*inet addr:([0-9.]*).*$/\1/")  -ti ubuntu ping -c2 dockerhost

it could certainly be done more elegantly.

[2015-01-14 20:43] jfrazelle commented on #10023
cool so i guess this can be a proposal for a more elegant solution ;)

[2015-01-14 20:44] #3951 closed

[2015-01-14 20:44] #9808 closed

[2015-01-14 20:47] anentropic commented on #9880
There's some `ONBUILD` triggers at the start from parent Dockerfile

I don't change the content of requirements.txt between runs

Step 8 is the workaround I've been using but otherwise irrelevant

1.
[code]

note step 10 `---> 7ce6a7c1209d`

2.
[code]

note step 10 ` ---> 8def99ba58b1`

3.
[code]

note step 10 ` ---> 7ce6a7c1209d` ...same as 1st build

[2015-01-14 20:50] #5186 closed

[2015-01-14 20:56] vbatts commented on #10089
duplicate of #4036

[2015-01-14 20:56] #10089 closed

[2015-01-14 21:00] crosbymichael commented on #10046
@dqminh do you think we can break up that PR into two parts to get it merged faster.

1. Wait for exec process to be placed in the parent cgroup
2. Make the subcgroups

[2015-01-14 21:02] codykrieger commented on #7907
This is very much still a problem on iPhones.

[2015-01-14 21:04] ross-w commented on #6318
@jfrazelle Yes, this still seems to be the case on 1.4.1.

[code]

[2015-01-14 21:06] acbodine commented on #9797
Related, possible duplicate #9622

[2015-01-14 21:06] icecrime commented on #10023
After discussions with other maintainers:
- This can be solved client-side without any code change
- If the extra complexity of fetching the bridge ip bothers you, you can launch your daemon with the `--bip` to **fix** the bridge ip

I'll hope you'll understand, and I'm closing this.

[2015-01-14 21:06] #10023 closed

[2015-01-14 21:09] icecrime commented on #8395
Many suggestions have been brought to this issue, and show that no code change is required to address the use case: I'm closing this.

[2015-01-14 21:09] #8395 closed

[2015-01-14 21:12] jfrazelle commented on #7907
ah ok cool, just checking in on a status update :D thanks all

On Wed, Jan 14, 2015 at 1:03 PM, Cody Krieger <notifications@github.com>
wrote:

[2015-01-14 21:12] #10081 closed

[2015-01-14 21:13] jfrazelle commented on #1960
is this still an issue, just checking in

[2015-01-14 21:16] jfrazelle commented on #2855
now that we have docker exec is this still an issue?

[2015-01-14 21:18] jfrazelle commented on #3630
Just making sure, this hasn't been done yet right @SvenDowideit @tianon

[2015-01-14 21:20] jfrazelle commented on #3578
@proppy hiiii! is this still relevant? do you think we still need it :)

[2015-01-14 21:20] jfrazelle commented on #3629
closing as duplicate of #7395

[2015-01-14 21:20] #3629 closed

[2015-01-14 21:21] jfrazelle commented on #3744
is this still an issue with the latest version or master, you can download with https://master.dockerproject.com

[2015-01-14 21:23] jfrazelle commented on #3793
have you tried docker attach I have used that to manage containers with upstart before or will the new restart policies handle this?

[2015-01-14 21:24] jfrazelle commented on #3666
closing because no response but feel free to ping me if you are still seeing it

[2015-01-14 21:24] #3666 closed

[2015-01-14 21:25] ChristopherBiscardi commented on #7907
@jfrazelle yep, still busted. We're in the process of building out some new ui stuffs, which would then be uses for docs as well.

[2015-01-14 21:26] jfrazelle commented on #4022
[code]
with latest version.
going to close but you can ping me if you are upset, or thing this is wrong.

[2015-01-14 21:26] #4022 closed

[2015-01-14 21:28] jfrazelle commented on #4253
closing for lack of more info, this seems fine on latest build but please ping me if this has been closed in error, happy to repoen

[2015-01-14 21:28] #4253 closed

[2015-01-14 21:30] Boran commented on #8838
The container name and and hostname within are also cast in stone.
I guess it is a conceptual issue that one just has to live with. Thanks for the suggestion.
One can close this issue from my point of view.

[2015-01-14 21:31] jfrazelle commented on #4897
closing as duplicate of https://github.com/docker/docker/issues/9939, the fix is listed there, we need to recursively remove the subvolumes and children subvolumes. help wanted for fix!

[2015-01-14 21:31] #4897 closed

[2015-01-14 21:32] jfrazelle commented on #4485
i think @ewindisch has added something right?

[2015-01-14 21:33] #4481 closed

[2015-01-14 21:34] jfrazelle commented on #4639
I am going to close then but feel free to ping me with more info on reproducing

[2015-01-14 21:34] #4639 closed

[2015-01-14 21:35] jfrazelle commented on #4801
closing, this has been fixed, but feel free to ping me if you are still seeing the issue on the lastest version of docker

[2015-01-14 21:35] #4801 closed

[2015-01-14 21:36] #8838 closed

[2015-01-14 21:42] BastienLQ opened #10100 "Cannot start more than 2 containers mapped to network"
Description of problem:
When one container is running and mapped to network, starting a second will fail.

`docker version`:
[code]

`docker info`:
[code]

`uname -a`:
[code]

(also tested with `linux-3.17.7-hardened-r1`)

Environment details:
Dedicated server, x64.

Steps to Reproduce:
1. Start a container with `-p 5000`:
[code]

2. Start another one with `-p 5000`:

[code]

Actual Results:
The s

[2015-01-14 21:42] jfrazelle commented on #9040
the warning is there for that reason, closing

[2015-01-14 21:42] #9040 closed

[2015-01-14 21:42] bradfitz commented on #4022
Thanks! I noticed the new behavior recently and was pleasantly surprised.

[2015-01-14 21:44] jfrazelle commented on #4352
closing as duplicate https://github.com/docker/docker/issues/7472

[2015-01-14 21:44] #4352 closed

[2015-01-14 21:45] jfrazelle commented on #9972
clsoing re the comment mentioned by@phemmer

[2015-01-14 21:45] #9972 closed

[2015-01-14 21:46] jfrazelle commented on #6935
/etc/hosts is not read/write so you can modify this file to add your required data. There is also an --add-host flag from #8019 that allows you to add hosts entries that should solve your needs.

[2015-01-14 21:46] #6935 closed

[2015-01-14 21:47] jfrazelle commented on #8939
closing as duplicate of https://github.com/docker/docker/issues/4952

[2015-01-14 21:47] #8939 closed

[2015-01-14 21:49] jfrazelle commented on #4022
yayyyy you are the one person who is not coming after me with a pitchfork
for closing their issue <3

On Wed, Jan 14, 2015 at 1:43 PM, Brad Fitzpatrick <notifications@github.com>
wrote:

[2015-01-14 21:53] jfrazelle commented on #5135
I believe this is no longer an issue, or a misunderstand? is that true?

[2015-01-14 21:53] jfrazelle commented on #5375
this is no longer a problem on the latest version or even Docker 1.0 closing

[2015-01-14 21:53] #5375 closed

[2015-01-14 21:54] jfrazelle commented on #5384
@mattymo is this still an issue on the latest version?

[2015-01-14 21:55] jfrazelle commented on #5195
closing yes

[2015-01-14 21:55] #5195 closed

[2015-01-14 21:57] jfrazelle commented on #5137
this should work on the latest version of docker, I have noticed a few images on hub using supervisord

[2015-01-14 21:57] #5137 closed

[2015-01-14 22:09] Wilfred commented on #9040
Nonetheless, shouldn't it be consistent between 'localhost' and '127.0.0.1'?

[2015-01-14 22:10] jbulchergist commented on #10095
That makes sense - I remember reading that somewhere now. It would help to explicitly distinguish containers from volumes in the documentation, especially as it relates to the export/import commands. I know there is a section on backing up volumes in the docs, but it doesn't mention NOT using `--export`. I wonder how many people aren't backing up their data containers?

Right now I understand `--e

[2015-01-14 22:14] keyonir commented on #9811
It's strange, running the same steps from my first message now in the same environment the result is as expected. I have no modified or changed anything, it was the same virtual machine on Azure that I used 20 days ago and it has been deallocated this time.

In this case, I think that we can close it. Sorry for bothering you :(

[2015-01-14 22:14] #9811 closed

[2015-01-14 22:24] jfrazelle commented on #10095
There is an entire article on volumes http://docs.docker.com/userguide/dockervolumes/ and documentation on export and import. If you would like to enhance it however we welcome PRs, I think this issue can be closed tho.

[2015-01-14 22:25] #10095 closed

[2015-01-14 22:26] thaJeztah commented on #10095
`docker import` (see the [example in the documentation](https://docs.docker.com/reference/commandline/cli/#examples_4)) will create a new *image* based on the exported container's filesystem.

You can then start a new container from that image using `docker run`.

The idea behind *volumes* is to make persistent data independent from the container, so that the data is not destroyed when the contain

[2015-01-14 22:33] tiborvass commented on #10097
@anentropic Which version of docker are you using?

[2015-01-14 22:42] tianon commented on #10083
Can you provide a few examples of other popular systems that support this kind of thing (preferably with links to documentation that details how to use it and why it's supported)?  I'm with @tiborvass here; I don't see any benefit you can't get with the shell already today without any code changes.

[2015-01-14 22:49] adilroot opened #10103 "[Docker version 1.4.1, build 5bc2ff8] Docker build error message shows FATA instead FATAL"
The error message print FATA instead of FATAL word, It confuses if we want to automate troubleshooting

The following is an example of an error message
[code]

[2015-01-14 22:51] jbulchergist commented on #10095
I agree, this issue can be closed.

It looks like I misunderstood `docker import` - I thought it was the complement to `docker export`, and worked on containers instead of images.

I do, however, think there should be some type of option for exporting the volumes attached to a container. That would make backing up data containers dirt-simple and efficient. Maybe something like `docker export --vol

[2015-01-14 22:53] thaJeztah commented on #10095
@jbulchergist I added a PR https://github.com/docker/docker/issues/10104 to make the documentation a bit more clear that volume-data is not included when exporting a container.

[2015-01-14 23:02] tiborvass commented on #9040
@jfrazelle oh maybe we should *resolve* and check if the IP is in `127/8`, like we do for the registry?

[2015-01-14 23:19] jfrazelle commented on #10103
This is the default format by our logging library [logrus](https://github.com/sirupsen/logrus). I think the reason it does not say FATAL is so all types are of the same legth re: INFO, WARN, etc all four letters. It is easy to parse when not in a tty, aka when logs are piped to a file.
example
[code]
So closing, but let me know if there is still some confusion

[2015-01-14 23:19] #10103 closed

[2015-01-14 23:20] jfrazelle commented on #10103
heres a nice pic too that shows the output when not sent to a file:
![tty](https://camo.githubusercontent.com/b9d0e424bfc6378e79b90de33b983ef5bae2f578/687474703a2f2f692e696d6775722e636f6d2f505937714d77642e706e67)

[2015-01-14 23:24] thaJeztah commented on #10103
^^ the first `INFO` should be a `WARN`, because a group of walrus*es* is called a [herd](http://www.ask.com/pets-animals/group-walruses-called-1443a6edb4dadc76) :)

[2015-01-14 23:39] jfrazelle commented on #9966
I think this must have happened when hub was having an outage, be sure to check status.docker.com in future, sorry for any trouble this caused

[2015-01-14 23:39] #9966 closed

[2015-01-14 23:39] jfrazelle commented on #9959
what do you mean a second class citizen?

any ideas @tiborvass

[2015-01-14 23:41] jfrazelle commented on #9932
pretty sure the windows guys know about this, its part of what they are working on to get jenkins to pass unsure if we should close or not but its a known issue its why the windows client is currently unsupported

[2015-01-14 23:43] jfrazelle commented on #9932
i added the label, im content lol

[2015-01-14 23:45] jfrazelle commented on #6816
i think this has been handled right @cpuguy83

[2015-01-14 23:45] jfrazelle commented on #8244
can you try with the latest docker build you can download the binary from master.dockerproject.com

[2015-01-14 23:46] jfrazelle commented on #8847
this was fixed in 1.4.0

[2015-01-14 23:46] #8847 closed

[2015-01-14 23:47] jfrazelle commented on #7705
can you please try with the latest version of Docker (you can get the binary from master.dockerproject.com) and version 1.0.7 of lxc

[2015-01-14 23:50] jfrazelle commented on #7316
maybe @crosbymichael knows?

[2015-01-14 23:53] jfrazelle commented on #10031
can you give us any logs, its hard to tell from just this information what exactly is the problem

[2015-01-14 23:53] jfrazelle commented on #7607
this is the case with all volumes iirc, ping @cpuguy83

[2015-01-14 23:55] jfrazelle commented on #8628
[code]
seems fine

[2015-01-14 23:55] #8628 closed

[2015-01-14 23:56] #7923 closed

[2015-01-14 23:56] #8752 closed

[2015-01-14 23:57] jfrazelle commented on #7419
we need more output, `docker version` and `docker info` would be a start plus logs from the daemon

[2015-01-14 23:58] jfrazelle commented on #9059
@vbatts is this a duplicate device mapper issue

[2015-01-14 23:58] jfrazelle commented on #6894
I believe this is fixed with the latest version of docker, please try and let us know.

[2015-01-14 23:59] jfrazelle commented on #8944
this is not currently supported by the regex, but I invite you to open a pull request to change it

[2015-01-15 00:00] jfrazelle commented on #9458
The "no such id" error was updated in the latest version, iirc, can you please update and try again?

[2015-01-15 00:02] jfrazelle commented on #7084
can you give us the output of `docker info` and `docker version`

[2015-01-15 00:03] tianon commented on #9875
Why does the LXC driver have a diff for an unmodified container?  What does LXC modify on container startup, and why does it have to? :smile:

(if these things are already documented somewhere, feel free to link me :wink:)

[2015-01-15 00:04] tianon commented on #3630
Correct.

[2015-01-15 00:05] jfrazelle commented on #7718
here is some information about "virtual size" http://docs.docker.com/reference/commandline/cli/#images

[2015-01-15 00:05] #7718 closed

[2015-01-15 00:10] jonathanvaughn commented on #10027
+1

[2015-01-15 00:10] jonathanvaughn commented on #8887
+1

[2015-01-15 00:13] tianon commented on #9875
(just having a hard time wrapping my head around why `docker run hello-world` would create a read-write layer that actually has changes)

[2015-01-15 00:17] ndelage commented on #8847
Wonderful! Thanks for the update.

[2015-01-15 00:18] CleanCut commented on #10027
Yes, pleeeease.

[2015-01-15 00:20] vbatts commented on #9059
@jfrazzle it is not. The devmapper issue is on finding the /dev/ device for the container. This looks to be something in apparmor profile. I have not seen this before.

[2015-01-15 00:21] vbatts commented on #9059
Github android client doesn't complete usernames... @jfrazelle ...

[2015-01-15 00:26] jfrazelle commented on #9059
lolol no prob

On Wed, Jan 14, 2015 at 4:21 PM, Vincent Batts <notifications@github.com>
wrote:

[2015-01-15 00:53] tiborvass commented on #9959
@MetaMemoryT could you give an example of what you're suggesting?

[2015-01-15 01:02] #9328 closed

[2015-01-15 01:18] #10062 closed

[2015-01-15 01:29] exarkun commented on #4022
Thanks for your efforts here jfrazelle.  However, note that the original issue description includes this:

Resolving this by removing the progress bars when stdout is not a tty is ... well, I don't think it's really a resolution.  However, I do see that several folks in the comments on this issue latched onto a separate concern, that the progress bars produce gross output when stdout is not a tty,

[2015-01-15 01:31] jfrazelle commented on #4022
Welll, if you try with the latest version from master.dockerproject.com, I
do also believe the original issue has been fixed.

On Wed, Jan 14, 2015 at 5:30 PM, Jean-Paul Calderone <
notifications@github.com> wrote:

[2015-01-15 01:33] jfrazelle commented on #4022
If you try and think otherwise let me know and I will reopen.

On Wed, Jan 14, 2015 at 5:31 PM, Jessica Frazelle <jess@docker.com> wrote:

[2015-01-15 01:34] exarkun commented on #4022
If that's the case, my apologies for the noise.  I don't regularly run master@HEAD and it wasn't clear from your comment that the originally reported behavior was also fixed (I think the example you gave only demonstrated the changed stdout-is-tty behavior).

[2015-01-15 01:37] jfrazelle commented on #4022
no worries I should have also mentioned that

On Wed, Jan 14, 2015 at 5:34 PM, Jean-Paul Calderone <
notifications@github.com> wrote:

[2015-01-15 01:57] juanman2 commented on #9983
What protocol(s) are being considered for use of network-based discovery?

[2015-01-15 02:18] duglin commented on #10097
I believe this is because the cache check is just a strcat of the args and then a strcmp against previous runs.  I'll try to work on/investigate this, should be easy but will blow away all existing caches with RUNs

[2015-01-15 02:21] dpup commented on #7419
I can close, I can't remember which version was running back then.  It was whatever the stable CoreOS build was.

[2015-01-15 02:21] #7419 closed

[2015-01-15 02:35] cpuguy83 commented on #7607
This could be resolved by checking if the file exists before trying to bind-mount it (ie, outside Docker), or doing something like `touch ~/.bash_aliases` first.

[2015-01-15 02:36] cpuguy83 commented on #6816
@jfrazelle Not really.

[2015-01-15 03:13] cpuguy83 commented on #9981
You can pass bind mounts on create or start in 1.3.3, they just won't actually be created until the container is started.

That said, I cannot reproduce this on 1.4.1.

[code]

[2015-01-15 03:47] cpuguy83 commented on #4393
Fix is is #10112

Fix is a combo of volumes now getting created @ container creation, and adding a check to see if there is already a file there and erroring out.

The error on start was coming from when the execdriver was actually trying to mount over the file.

[2015-01-15 03:49] dqminh commented on #10046
@crosbymichael hmm yes, i think it probably make sense to merge that change first, since it fixes this bug immediately and does not really related to the other changes ( although the current behavior will be obsolete if we merge the subcgroup changes ).

I will try to write some integration test based on this issue and cherry-picked the relevant commit in libcontainer to a different PR.

[2015-01-15 05:47] erikh commented on #9983
We’re looking at DNS and a service endpoint exposed to the container. I will update the proposal (and comment) when we are comfortable with a decision.

[2015-01-15 07:16] RoelVdP commented on #4036
This bug is not just in docker build! I reproduced with standard centos:centos5 image as follows;

sudo docker run --rm=true --cidfile /tmp/centos:centos5 centos:centos5 /bin/sleep $(( 60 * 20 )) &
for i in {1..10}; do  # Wait a maximum of 10 seconds for the container to be created
  CONTAINER=$(cat /tmp/centos:centos5 2>/dev/null)
  if [ "${CONTAINER}" != "" ]; then
    break;
  fi
  sleep 1;
don

[2015-01-15 07:24] RoelVdP commented on #4036
The issue is MUCH less reproducible using "run" then using "build" it seems.

[2015-01-15 07:37] Fandekasp opened #10114 "driver btrfs failed to get image parent"
From CoreOS, I can run several docker images (eg ubuntu, postgres), but a few fail due to btrfs errors (eg fluentd).

[code]

Any idea what is broken ? How to solve this issue ?
Thank you in advance

[2015-01-15 08:08] RoelVdP commented on #5846
+1 for a straightforward copy host>container. This is basic functioanlity, as remram44 mentioned; volumes are overkill. At times you want to just start a container from a base OS image, and copy in a single file.

In our use case, it's a file from another directory (so using build + ADD would not work as ADD is limited to the build directory, and it's also overkill to create a new build/image just

[2015-01-15 08:12] RoelVdP commented on #5846
@jlhawn  - very nice Josh!

[2015-01-15 08:19] shykes commented on #10114
Hi, are you able to reproduce with the same version and config of Docker on
a different distro?

On Wednesday, January 14, 2015, Adrien Lemaire <notifications@github.com>
wrote:

[2015-01-15 08:33] Fandekasp commented on #10114
Right, forgot to add the docker version. Fails with `Docker version 1.3.0, build c78088f` on CoreOS, succeeds with `Docker version 1.4.1, build 5bc2ff8` on Arch Linux. Will see if I can use a different ami image of coreos with a more recent docker version, thanks

[2015-01-15 08:54] goloroden commented on #7758
Any update on this?

[2015-01-15 08:55] RoelVdP commented on #5846
The only exec workaround that work for was (and no -i needed);
cat $FILE | sudo docker exec $CONTAINER_ID sh -c 'cat > /SOMEFILE'

[2015-01-15 09:32] wjiangjay commented on #7481
Got this issue on fedora 20 too.
$ sudo docker info
Containers: 1
Images: 50
Storage Driver: devicemapper
 Pool Name: docker-8:3-1975909-pool
 Pool Blocksize: 65.54 kB
 Data file: /var/lib/docker/devicemapper/devicemapper/data
 Metadata file: /var/lib/docker/devicemapper/devicemapper/metadata
 Data Space Used: 1.611 GB
 Data Space Total: 107.4 GB
 Metadata Space Used: 2.72 MB
 Metadata Space Total

[2015-01-15 10:04] gniewkos commented on #7333
:+1: Frankly I'm a little surprised that it does not have this functionality yet

[2015-01-15 10:04] gniewkos commented on #8911
:+1:

[2015-01-15 10:19] dodobas commented on #8721
This is still a problem, aliased linked containers do not update /etc/hosts

[2015-01-15 10:45] is-yangchen opened #10115 "Could not remove images with no tag."
when a use the command " docker rmi `docker images -a -q` " to remove all images.
Some images are removed, while others which with no tag could not be removed.

log like below:
Error response from daemon: No such id: 329fc260da4b17f4eb7523ebcd10b17630899e93d59de4f22be5193042e97bc4
Error response from daemon: Conflict, f3e1c04b4463 wasn't deleted
Error response from daemon: Conflict, 60e86e66a09f w

[2015-01-15 11:06] gdoffe commented on #9752
Same problem than Thorndike. Same versions except that apache proxy is on Ubuntu 14.04.1 64 bits too.

[2015-01-15 12:13] Tr4pSt3R commented on #10001
@emsi and @MalteJ do you need help or support with this testing? I can help or collaborate with you guys on?

[2015-01-15 12:15] MalteJ commented on #10001
@Tr4pSt3R yeah, would be nice if I'd get some help creating the unit and integration tests. My time is a bit limited at the moment.

[2015-01-15 12:19] umatomba commented on #10091
@jfrazelle using btrfs COW mechanism it could be <1 minute. I think that current docker version is very AUFS oriented. Is it so?
ping @jpetazzo, @unclejack,  @jlhawn, @alexlarsson

[2015-01-15 12:44] ronniestevens opened #10116 "Agent forwarding SSH_AUTH_SOCK not working"
I am not able to get my ssh-agent forwarding to work. I'm perfectly able to assign my $SSH_AUTH_SOCK to a tmp socket-file, and set the apps SSH_AUTH_SOCK to this file. Ssh from within the app will not work however.
Running lxc-docker-1.4.1 on ubuntu14.10 on Macbookpro6,2 and Imac14,2..

[2015-01-15 13:13] cpuguy83 commented on #10116
Hello,

This isn't really a support forum.
Please see:
1. forums.docker.com
2. #docker-user mailing list
3. #docker on freenode.
4. https://gist.github.com/d11wtq/8699521 <-- various commands to use for forwarding the auth socket.

[2015-01-15 13:18] cpuguy83 commented on #10091
You're right, afaict the btrfs driver is using the default/non-optimized differ.

[2015-01-15 13:22] cpuguy83 commented on #3675
Seems like this one can be closed?

[2015-01-15 13:48] lunaticare opened #10118 "Unable to access mounted volume in container"
Hi everyone,

I launch container (Ubuntu 14.10)
`docker run -ti -v /Users/lunaticare/Documents/dev:/double ubuntu:latest bash`
and try to see the contents of subdirectory:
`# ls /double/double`
Then I get only message "Killed".
I suspect this may be due there were symlinks to the subdirectory. It is unlikely to be connected to the contents of the directory - I created a directory with a different

[2015-01-15 14:02] lunaticare commented on #10118
The problem disappeared after host machine reboot.

[2015-01-15 14:17] thaJeztah commented on #10118
@lunaticare if your problem is solved, could you please close this issue?

Also; I think you are using boot2docker. Sharing volumes on your host with boot2docker is known to be troublesome (various issues with the VirtualBox guest additions). If you encounter this problem again, I think it's best to create an issue in the boot2docker issue tracker (https://github.com/boot2docker/boot2docker/issues

[2015-01-15 14:26] lunaticare commented on #10118
@thaJeztah thank you for an explanation! I indeed use boot2docker, hope this information will help guys to fix the bug.

[2015-01-15 14:26] #10118 closed

[2015-01-15 14:28] clkao commented on #9132
In any case, we can make push wait for the other process to finish for the moment.

[2015-01-15 14:37] zopyx opened #10119 "Docker does not support parallel pulls"
Running Docker 1.3.2 on latest CentOS 7.0, complete new installation

I start to parallel two Docker run command simulataneously in two terminal windows

docker run zopyx/xmldirector-plone
docker run zopyx/existdb-22

One of the commands started  to pull its layer after the first command finished completely.
Why is not possible to start to multiple docker run command in parallel? Why is there a gl

[2015-01-15 14:42] zopyx commented on #10119
On the other hand it seems to work run a docker run and a docker build in parallel...no idea where the difference is.

[2015-01-15 14:59] BastienLQ commented on #10100
Fixed by editing my firewall's configuration

[code]

[2015-01-15 14:59] #10100 closed

[2015-01-15 15:08] #10116 closed

[2015-01-15 15:29] abesto commented on #3155
+1

This would be great.

[2015-01-15 15:34] rhvgoyal commented on #4036
@RoelVdP

I tried your reproducer of running "yum install" in already running centos5 container but I can't reproduce it. I am using fedora 21 as host and latest docker as docker daemon (1.4.1).

[2015-01-15 15:46] thaJeztah commented on #3155
For those following this issue; there's a work-in-progress proposal for a completely revised network-model in Docker based on plug-ins. Links will (probably - and if I understand correctly) replaced with a new concept, based on "end points". You can follow progress here: https://github.com/docker/docker/issues/9983

[2015-01-15 16:06] tompson commented on #8944
I did in https://github.com/docker/docker/pull/10117

[2015-01-15 16:07] vbatts commented on #4036
i only see this issue once in several hundred times using `docker run ...`, as opposed to 1 in 10 using `docker build ...` on the `RUN` step.

[2015-01-15 16:08] duglin commented on #9880
I think I've been able to reproduce this and its related to the ONBUILD processing, I think.
Here's the setup:
file foo:
Testing

file base:
FROM ubuntu
ONBUILD COPY foo /tmp/

file: Dockerfile
FROM base
RUN pwd

$ docker build -f base -t base .
$ docker build .
$ docker build --no-cache .
$ docker build .

Should show that the cache from the "no-cache" build is not used during the final build.
Wh

[2015-01-15 16:12] duglin commented on #9880
@anentropic please let me know if you think this doesn't match your scenario.
Also, note the use of the "-f" flag  :-)
And, when I replace COPY with RUN in the 'base' dockerfile it works, so I think its related to the COPY cache processing.

[2015-01-15 16:28] duglin commented on #9880
ok I may have jumped the gun (not the shark) here.  I think I reproduced this while running with an old docker daemon.  While debugging I started to use the latest docker daemon and now I can't reproduce it.  The difference is that the old docker didn't include the COPY fix from #9973 .  So, now I'm thinking that #9973 really did fix it.  @anentropic have you tested out the fix to see that it does

[2015-01-15 16:38] lexinator commented on #4036
Just another datapoint, I face this issue reported when a docker pull occurs.  I am using mesos docker container support, which does a docker pull before a docker run.

In my testing of potential theories, I could reproduce the devicemapper issue consistently by starting a docker pull of a new image, and killing dockerd in the middle of the process.  Though I'm not sure this technically is the sam

[2015-01-15 16:43] icecrime commented on #10119
Hello! I believe parallel pull is part of #9784 (which *might* be in the upcoming Docker 1.5). It's something we are aware of anyways, but thanks for reporting.

[2015-01-15 16:48] jfrazelle commented on #10119
This is definitely a duplicate I'll find the other in a sec unless someone
beats me

On Thursday, January 15, 2015, Arnaud Porterie <notifications@github.com>
wrote:

[2015-01-15 17:02] crosbymichael opened #10121 "TTY error when launching container from systemd"
This patch has caused problems in my use case. I have a CoreOS cluster that I use for testing. I launch multiple docker containers using Fleet. Then I use the Docker API to send commands and read the output. https://docs.docker.com/reference/api/docker_remote_api_v1.14/#attach-to-a-container

This used to work fine, but now in Docker 1.4.1 the fleet service fails with the error `cannot enable tty

[2015-01-15 17:03] crosbymichael commented on #10121
ref @jeffbaier

[2015-01-15 17:07] jfrazelle commented on #10119
closing as duplicate of #7335, please place all idea etc there

[2015-01-15 17:07] #10119 closed

[2015-01-15 17:15] jfrazelle commented on #10115
this was fixed with https://github.com/docker/docker/pull/9204 in 1.4

[2015-01-15 17:15] #10115 closed

[2015-01-15 18:02] jeffbaier commented on #10121
I want to launch a container with a shell and then use the Docker API to attach to it's stdin and stdout. But I also want to launch a bunch of those containers across a CoreOS cluster using fleet.

Is this just a problem with starting the containers using systemd? Would I get the same error if I was using swarm? Or if I just made an API call directly?

[2015-01-15 18:39] cpuguy83 commented on #10121
Working around this, adding `StandardInput=tty-force` seems to work.

[2015-01-15 18:42] cpuguy83 commented on #10121
Also, for this use case, why not instead use sshd (in a container) and connect directly to that?

[2015-01-15 18:47] RoelVdP commented on #4036
@vbatts Agreed, had that testcase run all night in a loop, and 0 re-occurences of the "file not found". I did see quite a number of these;

time="2015-01-16T05:14:07+11:00" level="fatal" msg="Error response from daemon: Container 14b82025e6a8224febf4de76761e4994eebff2a00a68993370a8d58593773b16 is no
t running" 14b82025e6a8224febf4de76761e4994eebff2a00a68993370a8d58593773b16

If at all of interest,

[2015-01-15 18:48] RoelVdP commented on #4036
@lexinator cool. do you have a reproduce script so the devs here can check?

[2015-01-15 18:50] estesp commented on #9960
@jfrazelle I was thinking of working on this if you aren't--but to verify what I'm thinking: devmapper, aufs, and overlay can have backing FS--btrfs **is** a base FS, so wouldn't make sense to try and reference "backing" FS in that case.

Overlay and aufs both already have checks in `Init()` for a few incompatible FS; I would probably centralize this syscall in graphdriver, which returns just the

[2015-01-15 19:00] freeella commented on #10066
Would be good to have it working the same way in both situations.

[2015-01-15 19:38] duglin commented on #10097
Opened PR #10123 to address this

[2015-01-15 19:41] timothysc commented on #10083
@vieux @tiborvass @tianon

Most common reference is here: http://research.cs.wisc.edu/htcondor/manual/v8.3/3_3Configuration.html#SECTION00431400000000000000

IIRC it was taken from other batch systems.

The primary benefit is automation in large, heterogeneous, multi-department environments, labels become a mechanism for discovery, constraint matching, accounting, and limits.

If you were to lever

[2015-01-15 20:11] rsampaio commented on #5618
FWIW we hit this bug running lxc on trusty kernel (3.13.0-40-generic #69-Ubuntu) the message appears in dmesg followed by this stacktrace:

[code]

[2015-01-15 20:29] vishh commented on #8551
+1. Ping @crosbymichael

[2015-01-15 20:33] ibuildthecloud commented on #8568
@crosbymichael Hate to be pedantic, but this shouldn't be closed as `--pid=container:id` doesn't exist yet.  This could be closed if we never plan to implement it, but I think there is still a use case.

[2015-01-15 20:38] duglin commented on #10034
Opened PR #10124 to cover this.
I didn't address the last point of your comment because it seems like a CoreOS issue and I'm not sure I would want to document a way to put your docs in a 1/2 upgraded/inconsistent state.  But if the doc maintainers want something in that space I can work on it.

[2015-01-15 20:54] pmoosh commented on #7333
Reading through all the threads about logging. I think the way upstart handles log rotation seems like a good idea.

[2015-01-15 21:00] silarsis commented on #7333
So, we solved this with a partial side-step.

We log to splunk, so we built a splunkforwarder container that takes a container name (or names) as command line arguments, and runs “docker logs -f <container>” on startup, feeding the results up to splunk. There’s some small tweaks to make it behave properly with multi-line log entries and ensure it doesn’t restart (and re-log everything) of somethin

[2015-01-15 21:03] cpuguy83 commented on #7333
We're having a discussion on this on this PR: #9753

[2015-01-15 21:06] jeffbaier commented on #10121
I like attaching with the Docker API because it provides 'out of band' access. I can run a container with no networking and still access the shell.

[2015-01-15 21:09] cpuguy83 commented on #10121
@jeffbaier Does the above work-around work for you?
It should go into your service section.

[2015-01-15 21:35] jeffbaier commented on #10121
@cpuguy83  Yes the work-around works, thank you very much.

[code]

[2015-01-15 21:39] icecrime commented on #10121
Nice @cpuguy83 :+1:

Does it mean we can close this issue? Do we have to suggest a documentation update somewhere?

[2015-01-15 21:48] jeffbaier commented on #10121
Yes I believe you can close this issue. This was really more of a CoreOS/fleet/systemd problem. It's possible users migrating to Docker 1.4.1 could get bit by it, since it worked before even if it wasn't configured correctly.

[2015-01-15 22:07] thockin commented on #10084
I agree stats would be enlightening, as would a statement of the observed
behavior being expected or a bug.

A simpler semantic would be nice.
On Jan 15, 2015 11:47 AM, "Felix Rodriguez" <notifications@github.com>
wrote:

[2015-01-15 22:07] stozk commented on #9889
I have installed docker locally yesterday and (probably) ran into this problem. In my case the problem was, that the new docker version (1.4.1) comes with this new /etc/default/docker file, which has all that stuff in it, but it's all commented out by default.
I tried for like 2 hours to get it working until I noticed that the options were inactive... :(

[2015-01-15 22:08] RoelVdP commented on #10034
@duglin Thank you for the patch for the CLI, great.

The 1/2 upgraded/inconsistent state is a recommended procedure by Docker (and it's a nice/handy one at that - especially for distro's that have the package included, but an older version), so may as well add the man page update also.

Side question; what and how many other files are there besides the main binary and the man page?

[2015-01-15 22:09] RoelVdP commented on #10034
https://docs.docker.com/reference/commandline/cli/ page update - will this happen automatically once the CLI help refreshes?

[2015-01-15 22:09] RoelVdP commented on #10034
Oh, btw, no CoreOS, it's Centos.

[2015-01-15 22:18] acbodine commented on #9889
@stozk +1 for figuring it out though!

[2015-01-15 22:37] duglin commented on #8458
@jgarverick Is this still an issue or can we close it?

[2015-01-15 23:11] phemmer commented on #10121
Another solution which to me seems more appropriate is

    ExecStart=/bin/sh -c "exec docker wait $(docker run -itd --name test1 ubuntu:14.04 /bin/bash)"
    ExecStop=/usr/bin/docker rm -fv test1

[2015-01-15 23:14] MetaMemoryT commented on #9959
As specified in the docs https://docs.docker.com/reference/builder/#entrypoint

"shell form" without the limitations currently listed, rather than "the preferred exec form"

[2015-01-15 23:22] cpuguy83 commented on #7758
@goloroden I don't think we will automatically remove volumes when the container is removed, it's dangerous and a breaking change.

[2015-01-15 23:40] thaJeztah commented on #10084
Apart from the *interaction* between the two, I recall being quite confused on the *meaning* of both instructions. Especially, the first time I saw a Dockerfile without a `CMD` and only a `ENTRYPOINT` (wot?!)

Not considering backward compatibility, my preference would be something like;

- Rename `ENTRYPOINT` to `DEFAULTARGS`
- Do *not* allow `DEFAULTARGS` without a corresponding `CMD`

That way

[2015-01-16 00:59] larrycai opened #10129 "add newline for each login item in .dockercfg"
in current docker version 1.4.1, the login information for all the items is one line in `~/.dockercfg`, it is difficult to remove (since we don't have logout) it manually.

    {"docker.cn":{"auth":"bGsssycnk6bGFycnljYWk=","email":"test@example.com"},"dokk.co":{"auth":"bGsssycndddbGFycnljYWk=","email":"larry.caiyu@gmail.com"}

Will be nice if they can be written as line by line for each item like.

[2015-01-16 01:09] jbulchergist commented on #10095
Thanks! That will be a great help to many people, I suspect.

[2015-01-16 01:28] mohitsoni opened #10130 "Docker daemon leaks containers when an exec'd container dies"
I am using docker 1.4.1, and very recently I encountered a consistently reproducible bug (on ubuntu and boot2docker), where docker daemon thinks the container is running, but the container is actually gone. This usually happens when a ```docker exec``` operation is in progress on a container and the main process of that container dies.

To reproduce this issue you can try following:

1. Create a s

[2015-01-16 01:43] liljenstolpe commented on #9983
Overall, I like the proposal.  I'm not sure that we want to proscribe that more than one network would be created, or that networks are a policy boundary.  @jainvipin has touched on this.  I think that what we would want is a description of what characteristics an endpoint wants (make it endpoint based, not network based).  That could be IPv6 reachability, it could be a policy as to who it wants t

[2015-01-16 02:00] duglin commented on #10034
@RoelVdP I assume that .../cli/ page will be automatically updated after the new rev of Docker.
Where is the page that talks about the partial upgrade stuff?
@SvenDowideit thoughts on the partial upgrade?

[2015-01-16 02:00] fredlf commented on #7487
@ChristopherBiscardi I have a schema for a new docs IA. It's a little out of date, but generally good to go. It has been vetted by several stakeholders. I have zero band-width to implement it, but it is on my backlog. If you have been working on this on the side, we need to sync up to avoid duplicating effort.

[2015-01-16 02:29] larrycai commented on #10129
Is it good enough to use `json.MarshalIndent` see sample: http://play.golang.org/p/qxIgVgqtxY ?

[code]

[2015-01-16 02:32] Jeff85 opened #10131 "App Container Specification"
Docker should be compatible with the App Container Specification so containers can be interoperable.

https://github.com/appc/spec/blob/master/SPEC.md

[2015-01-16 02:59] RoelVdP commented on #10034
https://docs.docker.com/installation/binaries/#upgrades

[2015-01-16 03:20] duglin commented on #10034
yea I saw that but that's doesn't talk about partial upgrades, just a manual one - which I assume upgrades all of it.

[2015-01-16 03:54] RoelVdP commented on #10034
It seems it does;

[code]

This just upgrades the binary, not the manual?

[2015-01-16 04:05] duglin commented on #10034
Right so adding text to upgrade the man pages, docs, etc... is something I'd want @SvenDowideit 's input on - and perhaps do it under a new issue/PR because I think that's almost a different issue.

[2015-01-16 04:15] carn1x commented on #9118
I wrote the following shell script to be run on OSX which defines bootlocal.sh on the boot2docker instance:

Step 1 - Create the shell script (e.g.: prepare_boot2docker_ca.sh). It assumes that you have the CA cert which you used to sign your self-signed certificate in the current directory named docker-registry-ca.crt:

<code>
#!/bin/sh
CA_FILE="docker-registry-ca.crt"
# SCP on OSX requires upperc

[2015-01-16 04:18] cpuguy83 commented on #10130
I belive this is fixed on master, per #9699  Can you test?
You can get a master binary from https://master.dockerproject.com/

[2015-01-16 05:13] RoelVdP opened #10132 "Docker exec stderr output is not redirectable"
[code]

Also interesting (and potentially another bug) is this;

[code]

Tested on Docker version 1.4.1, build 5bc2ff8 | Centos 7.0.1406 x64

[2015-01-16 05:39] Fandekasp commented on #10114
Same docker version and different distro, I cannot reproduce the issue.

**CoreOS Failure**
[code]

**Arch Linux Success**
[code]

[2015-01-16 05:39] lichuan commented on #3519
+1 I use emacs , but I must type ctrl-p twice!!!!!!!!!!!!!!!!!!!! +1 +1 +1

[2015-01-16 05:52] #10114 closed

[2015-01-16 06:20] LK4D4 commented on #10130
@cpuguy83 Yup, same issue.
@mohitsoni Thanks for report!

[2015-01-16 06:20] #10130 closed

[2015-01-16 06:27] phemmer commented on #10131
#9538

[2015-01-16 06:34] phemmer commented on #10132
You have an error in your shell syntax. You want `>out2 2>&1`, not `2>&1 >out2`.
Your current syntax is sending STDERR to STDOUT, and then sending STDOUT to `out2`, leaving STDERR pointed at the original STDOUT.

[2015-01-16 06:39] jaybuff commented on #8791
I had this issue with docker 1.3.0

I went through the code and I think I understand what is happening.  At *startup time* the docker daemon reads  /proc/self/mountinfo to determine where your cgroups are mounted:

    [jaybuff@host ~]$  cat /proc/self/mountinfo |grep cpu$
    24 21 0:18 / /cgroup/cpu rw,relatime - cgroup cgroup rw,cpu

Docker parses that line and, in this case, it would be "/cgro

[2015-01-16 06:47] jaybuff commented on #8791
Sorry, the real issue was caused by https://github.com/docker/libcontainer/commit/3cbe3eb3f693876d6c94c0e4d72d627df05a95ae

[2015-01-16 07:21] thaJeztah commented on #10095
You're welcome!

[2015-01-16 07:38] yeasy commented on #5938
Meet this frequently with 1.4.1.
Will try the old release.

[2015-01-16 07:59] icecrime commented on #10131
Closing as duplicate (thanks @phemmer)

[2015-01-16 07:59] #10131 closed

[2015-01-16 08:24] digambar15 commented on #10039
Yes, this is a kernel issue, I am not making process without this.

[2015-01-16 08:54] PlugIN73 opened #10136 "Status 404 trying to push repository with repo name more than 30 characters"
When i try to push repo like this:

    docker push username/javascript_inheritance_exercise

I get an error:

    2015/01/16 08:31:30 Error: Status 404 trying to push repository username/javascript_inheritance_exercise:
    {"status_code": "404", "error": "The requested URL (/v1/repositories/username/javascript_inheritance_exercise/)
    was not found on this server."}

And if i try to push repo

[2015-01-16 09:01] PlugIN73 commented on #10021
I have the same issue. You can run images with --rm options. (https://docs.docker.com/reference/run/#clean-up-rm)

Now try to look up for exited containers and kill them

    docker ps  -a -f status=exited

and look up for dandling images and kill them too :)

    docker images --filter 'dangling=true'

[2015-01-16 09:23] seanlook commented on #9889
I upgrade docker version 1.3.1 to 1.4.1 and run into this problem. Finally I got my problem resolved by reboot my ubuntu server. Maybe, @stozk is right.

[2015-01-16 09:23] #9889 closed

[2015-01-16 09:45] discordianfish commented on #9983
Hi,

I have a few questions:

- If we're using libpack, how do we replicate the state in a save manner across all participating docker hosts?
- If we're using ecc, will that be reused by swarm? Or would people running swarm and docker have two date stores, one in swarm and one in the docker networking plugin?
- I assume the simplebridge setup the vxvlan peers automatically, so your network spans m

[2015-01-16 09:55] epcim commented on #9295
+1

(the ability to write/modify /etc/hosts, /etc/resolv.conf and possibbly other tools is key for any deployment CI testing on docker on any image and any tooling (chef, ansible, puppet, salt)).

@vnatts - The ability to specify --dns --add-host is fine. But the use case is to run deployment testing within a docker container. So since the deployment tools running test modify filesystem withing th

[2015-01-16 09:59] Boran opened #10137 "api: using exec-create"
HI,

I'd like to do the equivalent of the following via the API:
docker exec mycontainer  sh -c 'ls /var/www/html'

So found http://docs.docker.com/reference/api/docker_remote_api_v1.16/#exec-create and tried:
curl -X POST -H "Content-Type: application/json"  http://127.0.0.1:2375/containers/mycontainer/exec \
 -d '{ "AttachStdin":false,"AttachStdout":true,"AttachStderr":true, "Tty":false, "Cmd":[

[2015-01-16 10:48] thaJeztah commented on #9775
@tianon

Just noticed that all the API documentation uses `base:latest` in the [examples](https://github.com/docker/docker/blob/master/docs/sources/reference/api/docker_remote_api_v1.17.md#list-containers) :smile:

[2015-01-16 11:04] anentropic commented on #9880
this looks like it addresses my issue

yes I am still using released version 1.4.1

I am on OS X so am dependent on boot2docker

[2015-01-16 11:10] arnau commented on #10066
:+1:  It' would simplify a lot composition.

[2015-01-16 11:53] wpp commented on #7477
Wouldn't it be easier to have something like:

    $ docker ps --columns=name,id,status,image

and everybody could just alias `docker ps`.

[2015-01-16 12:00] baptistedonaux opened #10139 "API: image inspection doesn't return tags"
I use the Docker API, and when I run this request, the tags doesn't return.

[code]

This information is given when I list all images.

What's the best practices to get image's tags information ?

[2015-01-16 12:15] bobrik opened #10140 "Docker pull performance issues"
I'm downloading layer from my local registry over http (https registry redirects to s3-like http service).

I ran `perf record` on docker daemon, here's what I've got in `perf report`:

![per report](http://i.imgur.com/I02jZiM.png)

42%+ of the time some crypto happens. Why do I need it?

Next, I noticed that after layer is fully downloaded, it takes a while for docker to return to shell prompt. I

[2015-01-16 12:26] pwaller opened #10141 "Empty/blank environment variable fowarding"
`Docker 1.4.1`

-

If I do (with `API_URL` not set):

[code]

The behaviour I expected is that `API_URL` is set in the container only if it is set on the host. Instead, it is set to the empty string, which is not the same thing.

This is inconvenient as some software will take default configuration depending on whether the variable is set or not.

[2015-01-16 12:58] #10136 closed

[2015-01-16 13:07] bobrik commented on #10140
Btw, since we have pprof enabled via DEBUG flag, it could be useful to dump cpu profiles via api for further analysis.

[2015-01-16 13:25] jdef commented on #783
Looks like this will finally be solvable via #9684. Great!

http://aufs.sourceforge.net/aufs3/man.html

[2015-01-16 13:28] proppy commented on #3578
@jfrazelle yes, there is still no clean way to add a set of files to a container and commit from the CLI/API, w/o a Dockerfile or messing with stdin.

[2015-01-16 13:30] proppy commented on #6263
That's @vieux's call, he ended up fixing it differently: https://github.com/docker/docker/pull/6260

[2015-01-16 14:15] jgarverick commented on #8458
I'm sorry!  This is all set.  I'm closing it out.

[2015-01-16 14:15] #8458 closed

[2015-01-16 14:27] LK4D4 commented on #9983
@discordianfish libpack will be distributed, also I believe there will be multiple backend support for storage, I hope that swarm will support multiple too.
About vxlan: it will know from that distiributed storage :)

[2015-01-16 14:35] LK4D4 commented on #10140
@bobrik `Lstats` was removed in master. There is significant performance boost in master now.
Some benchmarks here: #9445

[2015-01-16 14:44] bobrik commented on #10140
Great, 1.4.2 should be much better then. But issue with crypto usage stays here.

[2015-01-16 15:00] discordianfish commented on #9983
@LK4D4 So on a Docker cluster with reworked networking and clustering, I will have two instances of some replicated data store, one for swarm and one for networking? Or can there be just one instance that is shared for both the cluster as well as the networking state?

[2015-01-16 15:36] duglin commented on #10141
I have a fix for this but I'd like to confirm the net behavior we're all agreeing to:

env var FOO is not defined in my client env

docker run -e FOO ubuntu env  --> FOO is not present in container
docker run -e FOO= ubuntu env --> FOO is present but an empty string
docker run -e FOO=bar ubuntu env  --> FOO=bar
FOO=foo docker run -e FOO ubuntu env  --> FOO=foo
FOO=foo docker run -e FOO= ubuntu env

[2015-01-16 16:02] hacfi commented on #10137
@Boran I think by the time you run curl the container already stopped. Please check `docker ps` if it’s still running. Your docker exec just shows the contents of /var/www/html and then the process is finished.

[2015-01-16 16:11] jpetazzo commented on #10130
I was able to reproduce the bug (Docker 1.4.1 as well).

[2015-01-16 16:12] cpuguy83 commented on #10130
@jpetazzo Did you try on master?

[2015-01-16 16:23] pwaller commented on #10141
@duglin I agree with your behaviour. :+1:

[2015-01-16 16:28] LK4D4 commented on #9983
@discordianfish it can be one instance of course or this loose all sense :)

[2015-01-16 16:28] cpuguy83 commented on #10141
What if instead it errored  out if FOO is not set?
I think _not_ having the var present in the container would be a type of problem someone might spend a non-insignificant amount of time trying to figure out.

[2015-01-16 16:53] Boran commented on #10137
"Your docker exec just shows the contents of /var/www/html and then the process is finished".
Exactly, and I'm trying to do the same thing via the API.
Its unclear to me how to do "docker exec" via the API.

[2015-01-16 16:58] tianon commented on #9775
Gar, but it shouldn't be for a very long time now: #1914

[2015-01-16 16:58] discordianfish commented on #9983
Well, this was clear from the proposal to me. So this proposal assumes some sort of replicated data store from which is also can get the other a list of other docker hosts for cross-host networking. Is there a proposal on introducing that data store? Seems to me like the first step before something like this here can be implemented.

[2015-01-16 17:00] LK4D4 commented on #9983
@discordianfish Yes, if we want support multihost without multicast - we need storage. But idea of this proposal was not in multihost I think.

[2015-01-16 17:10] thaJeztah commented on #9775
@tianon also made this as a suggestion; https://github.com/docker/docker/issues/10142

[2015-01-16 17:12] cpuguy83 commented on #10137
@Boran https://docs.docker.com/reference/api/docker_remote_api_v1.16/#exec-start

Also, keep in mind, this is specifically for issues with Docker, for support see:
1. forums.docker.com
2. #docker-user mailing list
3. #docker on freenode

Going to close this since it is not an issue.

[2015-01-16 17:12] #10137 closed

[2015-01-16 17:13] sybrandy commented on #3182
Don't count on the thin-pool and thin versions being >= 1.12.0 to mean you're O.K.  We're running CentOS 6.5 VMs with the 2.6.32-431.29.2.el6.x86_64 kernel and dmsetup targets reports that thin-pool and thin are both v1.12.0.  However, I'm stuck with a 40GB data file that isn't freeing itself up.

[2015-01-16 17:19] duglin commented on #10141
@cpuguy83, I think @pwaller's comment about how some software might treat not having the env set as an invalid situation and asking them to conditionally put "-e FOO", or not, based on it being set is a lot to ask, IMO.  To me, "-e FOO" is basically asking for my local FOO's state to be copied into the container - which should include the "absence" state.

[2015-01-16 17:34] justinmayer commented on #7477
Thanks, @caiguanhao. Clever interim solution. Added it as a [Tackle plugin](https://github.com/justinmayer/tackle/commit/4f285f51a8393438c6daef031f4770f513b79cf3) for the fish shell.

[2015-01-16 17:35] unclejack commented on #10140
@bobrik That's only sha256 hashing and it is required. Please provide the output of `cat /proc/cpuinfo` from that system where you're seeing this behavior.

This might be caused by the fact that the particular CPU you're using is missing some instructions. This could slow down the code significantly.

[2015-01-16 17:35] hacfi commented on #10137
@Boran The return value of `POST /containers/X/exec` is an exec instance id, not a container. You’re posting to the wrong url: it should be `/exec/X/start` and not `/containers/X/start`.

[2015-01-16 17:36] duglin commented on #9880
@anentropic can you try with my fix? I'm pretty sure it fixes your issue.

[2015-01-16 17:43] bobrik commented on #10140
@unclejack why is it required?

[code]

[2015-01-16 17:44] pwaller commented on #10141
Again I agree with @duglin.

[2015-01-16 17:46] pwaller commented on #9775
So how do we fix all of the other broken tutorials on the internet? Can we make docker give a warning if you try to use the base image? This error is pretty insidious and gives docker a bad image (punintended) to newcomers.

[2015-01-16 17:54] tianon commented on #9775
Is the current warning better or worse than a 404 would be? :wink:

[2015-01-16 18:00] igreg commented on #6396
+1 same as the previous guys. Seems the best solution to this issue when needing to access one or more private git repositories (think `bundle install` and `npm install` for instance) when building the Docker image.

[2015-01-16 18:01] RoelVdP commented on #10132
$ ls nosuchfile 2>&1 >out
ls: cannot access nosuchfile: No such file or directory
$ cat out
$ ls nosuchfile >out 2>&1
$ cat out
ls: cannot access nosuchfile: No such file or directory

Doh! @phemmer Nice one/Thanks.

[2015-01-16 18:02] RoelVdP commented on #10132
So that resolved the first issue :)  The second is still a mystery;

[roel@localhost ~]$ sudo rm -f /tmp/tst1
[roel@localhost ~]$ sudo docker run -i --cidfile /tmp/tst1 centos:centos7 /bin/sleep 10000 & >out1 2>&1
[1] 17549
[roel@localhost ~]$ sudo docker exec `cat /tmp/tst1` ls notexist.txt >out2 2>&1

[1]+  Stopped                 sudo docker run -i --cidfile /tmp/tst1 centos:centos7 /bin/sleep

[2015-01-16 18:13] pwaller commented on #9775
It is worse, since it looks broken and breaks in one version of a docker and not another. But still not ideal since it doesn't tell the user what alternative action they need to take.

On 16 January 2015 17:55:38 GMT+00:00, Tianon Gravi <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2015-01-16 18:18] cpuguy83 commented on #9629
Ok, I can repro now.  This is only happening with bind mounts it seems.

[2015-01-16 18:20] crosbymichael commented on #8568
@ibuildthecloud what is the use case?

[2015-01-16 18:22] Depicus commented on #9775
I have to agree it is worst than a 404, as a new user the reason I came here is because I thought Docker was broken, if I hadn't found this page I might have given up on Docker thinking it was broken and not production ready. This kind of error should always produce some form of valuable error message, the current message does not.

[2015-01-16 18:34] jfrazelle commented on #9960
Your patch is awesome and I think it contains all the common filesystems, of course if anyone has anything else I am sure they will open an issue and we can add ;)

[2015-01-16 18:51] unclejack commented on #10140
@bobrik Thanks for providing the cpuinfo output. Can you provide the pprof profiles, please?

[2015-01-16 18:56] unclejack commented on #10031
@rottmann What's the host operating system? This doesn't sound like a Docker bug, it seems to be a  problem with your host.

[2015-01-16 19:34] #10121 closed

[2015-01-16 19:41] jmreicha commented on #8385
+1

[2015-01-16 19:45] jfrazelle commented on #10132
I think the > is resolving on your host not in the container

[2015-01-16 19:46] rottmann commented on #10031
Host Linux Mint
Client Windows, but the client did not boot. I change virtualbox to NAT and have no problem.

[2015-01-16 19:47] jfrazelle commented on #10132
if you want to run sleep as a detached process in the background use docker run -d, for detachted, using & is not going to work in this way because when PID 1 in a container dies, the container itself dies.

[2015-01-16 19:47] jfrazelle commented on #10132
Also this isn't really a support forum.
Please see:
1. forums.docker.com
2. #docker-user mailing list
3. #docker on freenode.

[2015-01-16 19:53] jfrazelle commented on #8944
After review with @dmp42 we need to wait for support on the hub side first. Then we can tackle this.

[2015-01-16 20:02] bobrik commented on #10140
@unclejack what exactly do you mean by pprof profiles? `/debug/pprof` http endpoints do not provide cpu profiling info as far as I know.

[2015-01-16 20:51] Lawouach commented on #6325
Hi there,

Installed a fresh Ubuntu server 14.04.1 on a server with two disks partitionned with a two LVM logical volumes (one for my system and one for the swap).

I installed lxc-docker 1.4.1 and when I try to start the daemon, here is what I got:

` ` `Shell
$ sudo docker  -d
INFO[0000] +job serveapi(unix:///var/run/docker.sock)
FATA[0000] Error running DeviceCreate (CreatePool) dm_task_run fai

[2015-01-16 21:11] duglin commented on #10141
Opened PR#10145

[2015-01-16 21:12] tianon opened #10146 "bind mount mkdir on create vs start is fun with folders in tmpfs"
So, I have an apt-cacher-ng container that has a bind mount of `-v /tmp/apt-cacher-ng:...` (and `/tmp` on my host is `tmpfs`).  When I `docker run` it, I use `--restart=always`, and it starts up swell (because `/create` does a `mkdir`).

Now, I reboot my machine and my apt-cacher-ng is gone and fails to start up unless I manually `mkdir /tmp/apt-cacher-ng` because we don't `mkdir` on `/start`, whi

[2015-01-16 21:41] #9960 closed

[2015-01-16 21:49] #9912 closed

[2015-01-16 22:52] tompson commented on #8944
@jfrazelle did you create an issue for the hub support?

[2015-01-16 22:53] jfrazelle commented on #8944
Hub is not handled on these issues but I will add a ticket to their tracker :)

[2015-01-16 22:56] jfrazelle commented on #8944
Added the ticket!

[2015-01-16 22:58] rhasselbaum opened #10150 "Certificate error with "docker login""
I'm setting up a private registry with a front-end Apache server serving as an SSL/TLS and Basic Auth proxy. I have a signed certificate for the Apache server. I placed the CA certificate in `/etc/docker/certs.d/<redacted>/ca.crt`.

All this works fine for `docker push` and `docker pull`. I see SSL connections being made. However, `docker login` fails with this error in the client:

[code]

And I

[2015-01-16 23:01] tompson commented on #8944
@jfrazelle Thanks!

[2015-01-16 23:53] thaJeztah commented on #8985
Do we still need the "pull all tags" issue? If I understand correctly, that feature may not return in registry V2, in which case it should just be removed from the docs (and code)

I'm happy to make a change to remove those parts from the doc and add a note to the release notes ("feature removed/deprecated").

(Depending on the above), I think this can be closed, as https://github.com/docker/docke

[2015-01-17 00:04] LinuXY commented on #3182
What are the implications running this on CentOS / RHEL 6.5 with this bug? Are you OK with >=100G of free space. I assume this eventually fills any size disk? Or is it bounded at 100G?

[2015-01-17 00:28] thaJeztah commented on #7487
@ChristopherBiscardi @fredlf if there's something I can assist with there, let me know.

[2015-01-17 00:32] thaJeztah commented on #9880
^^ @anentropic if you want to try the current "master" version of docker, pre-built binaries can be found at https//master.dockerproject.com.

[2015-01-17 00:48] tianon commented on #9775
[code]

[2015-01-17 01:28] RoelVdP commented on #10132
@jfrazelle - I logged it here as I originally considered both issues a bug. For the second issue; is PID1 in the container not the sleep itself? If so, the issue still looks like a bug and the container should not die?

[2015-01-17 05:50] ashahab-altiscale commented on #9875
#10152 Fixes the cap issues.

[2015-01-17 06:00] jfrazelle commented on #9875
Oh my gosh this is so exciting thanks!

On Friday, January 16, 2015, Abin Shahab <notifications@github.com> wrote:

[2015-01-17 12:04] pwaller commented on #9775
Unless it seems possible that anyone will consider making it a warning in docker, I guess that's as good as it gets and brings this issue to a close.

[2015-01-17 13:09] thaJeztah opened #10157 "Make the DCO Jess-bot smarter"
I'm happy to see the arrival of the Jess-bot to automatically give `DCO sign-off` instructions.

Unfortunately, those instructions won't work for people submitting PRs via the GitHub web-interface (https://github.com/docker/docker/pull/10156#issuecomment-70366175).

Would it be possible to make Jess-bot a bit smarter and have it detect if PRs come from a `patch-[1-9]` branch and give additional in

[2015-01-17 13:09] thaJeztah commented on #10157
/ping @jfrazelle (not the bot :smile:)

[2015-01-17 13:11] mbentley commented on #8791
For anyone who may be having or is still having this issue on a RHEL server, would you be able to verify if the `libcgroup` package is installed using `sudo yum list installed libcgroup`?  If it isn't try installing it (`sudo yum install libcgroup`).

Assuming it is installed already, first of all, check the status:
[code]

If it is stopped, start it:
[code]

If it is already running, restart it:

[2015-01-17 13:27] pwaller opened #10158 "Docker emits "The image you are pulling has been verified" which is misleading"
This issue deserves to be separate from #9719 and should focus on what to do about the messaging to users in the immediate term.

As a user of docker, I'm uncomfortable that docker is telling me that an image is verified when it seems that it is known that this doesn't currently provide strong guarantees. This has potential to damage trust in docker's messaging in general.

@kofalt suggested in #9

[2015-01-17 13:28] pwaller commented on #9719
I've raised @kofalt's suggestion of suppressing the message for now as a new issue #10158.

[2015-01-17 13:43] thaJeztah commented on #10158
@pwaller Will you also create a PR to make this change? Do you a suggestion for an alternative message? ("An *attempt* has been made..." sounds a bit lame). Perhaps "Pulling image in v2 format" or something.

[2015-01-17 13:52] stefan-it opened #10159 "[ipv6] IPv6Gateway not set"
Dear docker-users (espec. @MalteJ),

I build up the latest Docker version (*1.4.1-dev, build 4245952*) in order to test the latest *ipv6* functionality - and I need some help to get it working properly.

I'm not using any global ipv6 address (so I just added `--ipv6` to the docker daemon call). The following bridge is then configured:

[code]

When I do a `docker inspect` on a running container, t

[2015-01-17 13:57] MalteJ commented on #10159
@stefan-it
if your container has no global IPv6 address it only can communicate with other devices on the same ethernet link. Thus there is no need for a gateway because the traffic of a fe80::/64 address could not get routed anyway.

How do you want to use the IPv6 gateway?

[2015-01-17 14:07] stefan-it commented on #10159
I thought it would be very analogue to the ipv4 (where's a gateway/ip address properly set). Is it possible to get a normal `ping6 heise.de` working in my Docker container - at the moment there's no network connectivity for ipv6 in that container.

Thanks again for your help!

[2015-01-17 14:16] MalteJ commented on #10159
You need to have an IPv6 subnet routed to your host machine. From that subnet you can use addresses for your containers. We do not do NAT with IPv6 like we do with IPv4.

[2015-01-17 14:24] MalteJ commented on #10159
If your host's IPv6 address is configured via SLAAC it could be possible to use an NDP proxy to tell the other network devices that you serve the container's address, too. http://linux-ip.net/html/tools-ip-neighbor.html
I have not tried this and don't know if it works.

[2015-01-17 14:45] pwaller commented on #10158
@thaJeztah done, see #10160.

[2015-01-17 15:12] stefan-it commented on #10159
Thanks Malte! I will try it using a routed subnet :)

[2015-01-17 15:12] #10159 closed

[2015-01-17 15:32] MalteJ commented on #10159
if you still have any questions, feel free to ask :)

[2015-01-17 16:18] tianon commented on #10157
+1, sounds pretty easy if she'd just share the sauce......

[2015-01-17 16:32] thaJeztah commented on #10157
Yes, would be nice! Every project could have their own personal Jess :smile:

[2015-01-17 16:34] cpuguy83 commented on #4717
I feel like the shmmax/sysctl issue is separate. Can someone open a separate issue?

Also, full ulimit support is now implemented in #9437

[2015-01-17 17:30] LK4D4 commented on #10157
@jfrazelle Also, probaly we should create other account for this :) Because bot atacking Jessie herself was pretty weird.

[2015-01-17 18:17] jfrazelle commented on #10157
This should be opened on github.com/jfrazelle/gh-patch-parser :)

On Saturday, January 17, 2015, Alexander Morozov <notifications@github.com>
wrote:

[2015-01-17 18:18] jfrazelle commented on #10157
But I agree on all the above, I do not like attacking myself lol

[2015-01-17 18:18] #10157 closed

[2015-01-17 18:35] thaJeztah commented on #10157
@jfrazelle do you want me to open an issue, or have you put it on your todo list?

[2015-01-17 19:08] jfrazelle commented on #10157
I will hopefully get some time to do it today but please open an issue so I
don't forget, sorry if this is making you jump through a hoop. Just don't
want to forget what was said here :)

On Saturday, January 17, 2015, Sebastiaan van Stijn <
notifications@github.com> wrote:

[2015-01-17 19:11] thaJeztah commented on #10157
No prob! Will create an issue later on. Standing at a birthday party now 🎂

[2015-01-17 19:13] tianon commented on #10157
https://github.com/jfrazelle/gh-patch-parser/issues/1

[2015-01-17 19:30] edwintorok opened #10161 "docker storage drivers devicemapper and btrfs very slow"
## Description of problem:
Docker with devicemapper/btrfs is order of magnitude slower than with AUFS.

`docker version`:
[code]

`docker -D info`:
[code]

`uname -a`:
[code]

### Environment details:
Physical, `Debian GNU/Linux 8.0 (jessie)`.
SSD: `OCZ-VERTEX2`, HDD: `WDC WD7501AALS-00J7B0`.

### How reproducible:

*Always*

## Steps to Reproduce:
[code]
1. `sudo docker info | grep Storage`
2. ru

[2015-01-17 19:31] thaJeztah commented on #10157
:+1: thanks Tianon

[2015-01-17 20:41] jfrazelle commented on #10159
Thanks @MalteJ for being so responsive to these tickets :) it is greatly
appreciated

On Saturday, January 17, 2015, Malte Janduda <notifications@github.com>
wrote:

[2015-01-17 21:49] jbouzekri opened #10162 "docker ps freeze on each command"
Hi,

I followed the install guide and pull debian and mysql images using `docker pull debian` and `docker pull mysql`. Then I just run `docker run -d mysql` and everything freeze. Every docker command I run in every terminal just freeze.

I am working on a Ubuntu 14.04.1 LTS version.

Thanks in advance for any advice or tips to search where it went totally wrong.

[2015-01-17 22:18] #10129 closed

[2015-01-17 22:20] jfrazelle commented on #9874
ping @alexlarsson just in case you may have any ideas on this. It would be greatly appreciated.

[2015-01-18 00:34] cpuguy83 commented on #10161
This is likely because aufs uses aufs itself to get/apply diffs, where as btrfs and devmapper use the default differ.

Also, would be worthwhile to test overlay on the 3.18 kernel.

[2015-01-18 00:54] LK4D4 commented on #10161
I think this is because of bug, which was fixed in #9720
@edwintorok Could you retest with master?

[2015-01-18 00:55] LK4D4 commented on #10162
@jbouzekri What version of docker do you use?

[2015-01-18 01:23] bcornec commented on #9453
Hello,

I'm back on this as Mageia is preparing the 5 release, and I'd really like to have docker in.

The Dockerfile update for 1.4.1 still works:

Step 4 : ENV DOCKER_GITCOMMIT 5bc2ff8a36e9a768e8b479de4fe3ea9c9daf4121
 ---> Running in 01ac309a12a4
 ---> d54db114074e
Removing intermediate container 01ac309a12a4
Step 5 : RUN AUTO_GOPATH=1 ./hack/make.sh dynbinary
 ---> Running in 54250dbaf800
# WA

[2015-01-18 03:52] gsaulmon commented on #9801
I believe I ran into this issue on a fresh `Fedora 21 Server` install with a remote mount.

Here is a small script that reproduces the problem:
[code]
On the initial run there is no output from the `ls` command. However, if you restart docker after the `mount` operation the `ls` command properly shows `foo`

[2015-01-18 04:48] thockin opened #10163 "Allow shared PID namespaces"
Now that #10080 is in, we're requesting something like --pid=container:id -- we already support --net and --ipc in this mode.

The use case is Kubernetes concept of pods - tightly coupled containers that work together.  We believe that containers in a pod should be able to signal each other, for example.

[2015-01-18 04:51] christianTragesser commented on #4213
@fardok on CentOS 7 as the docker host platform, mounting nfs shares before starting the docker service successfully presents NFS shares to my volume containers. Thanks for the suggestion.

[2015-01-18 04:53] jfrazelle commented on #10163
I also think it would be cool to share say a strace container with just
another container and not the whole host :) +1

On Saturday, January 17, 2015, Tim Hockin <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

[2015-01-18 05:33] jlhawn commented on #10158
Thanks @pwaller! I also want to mention that there has been a pending Pull Request for a few weeks now which does make this message meaningful: #9784, specifically this chunk: https://github.com/docker/docker/pull/9784/files#diff-7cbe4277b9a08ded689d34eaae37655eR485
which results in an error if the checksum of the layer does not match what was in the signed image manifest.

[2015-01-18 07:44] resouer opened #10164 "Container will not refresh env after its --link source container restarted"
We've known that Docker container will refresh /etc/hosts after it's link source container like db is restarted, but why doesn't this happen to env?

[2015-01-18 07:59] sourav82 opened #10165 "How to build docker on i686 ubuntu 14.04 LTS?"
I wanted to build docker on i686 Ubuntu 14.04 LTS but getting below errors -

Step 2 : RUN apt-get update && apt-get install -y apparmor aufs-tools automake btrfs-tools build-essential curl dpkg-sig git iptables libapparmor-dev libcap-dev libsqlite3-dev mercurial parallel python-mock python-pip python-websocket reprepro ruby1.9.1 ruby1.9.1-dev s3cmd=1.1.0* --no-install-recommends
 ---> Running in

[2015-01-18 08:46] kk86bioinfo commented on #6325
Hi,

    I am following standard steps for Docker installation in https://docs.docker.com/installation/ubuntulinux/#ubuntu-precise-1204-lts-64-bit

    I am too experience with such issue in Ubuntu 12.04 LTS.

[code]

[code]

[code]

[code]

[2015-01-18 09:05] resouer commented on #9853
According to result of Docker inspect, Docker will expose the port if you are using `-p`:
[code]

In the case above I use `docker run -p xxxx:8000`, but the image of which is training/webapp and you can see port '8000' is not exposed in the [Dockerfile](https://github.com/docker-training/webapp/blob/master/Dockerfile) .

So I think we can just add a warning here instead of raise a error?

[2015-01-18 09:14] jbouzekri commented on #10162
Docker version 1.4.1, build 5bc2ff8

[2015-01-18 09:52] resouer commented on #9653
That relate to your host OS, related issue https://github.com/docker/docker/issues/9902

So it seems not a bug of Docker? Or do you think Docker should support that path too?

[2015-01-18 10:20] Keruspe commented on #9653
Well, since this is the new path for the vast majority of linux-based OSes now, I think docker really should support this path.

[2015-01-18 10:40] resouer commented on #9653
@Keruspe So, did you guys have more details about this issue, like what command and parameters are you running. And anything helpful to reproduce the error?

[2015-01-18 10:51] grossws commented on #9801
@gsaulmon, your script reproduces similar issue. It also present on centos 7 with bind mount.

Sorry for delay with checking this in vagrant.

[2015-01-18 11:10] Keruspe commented on #9653
Even the official hello world suffices to reproduce

[2015-01-18 11:29] EasonYi opened #10166 "Docker dosen't log exec commands."
## Step 1: Using ```docker exec``` to login a container and execute some commands
[code]
## Step 2: Using ```docker logs``` to show the above logs, but **nothing** found.
### **Thus I think it may be a bug of docker that should be confirmed.**
(NOTE: Following logs were logged by ```docker attach``` commands, but NOT by ```docker exec```)
[code]
## My docker version info
[code]
## My docker contai

[2015-01-18 11:34] grossws commented on #9801
To reproduce is isolated env:

[code]

To reproduce my case:
[code]

[2015-01-18 11:35] pwaller commented on #10158
@jlhawn looking forward to it :)

[2015-01-18 11:37] resouer commented on #10066
That's not that simple, as Docker daemon setup parent-child relationship when --link is created, so as you are deleting a child, the parent is totally unknown of that. See https://github.com/docker/docker/issues/2733

I suggest you to solve that problem by using fig (or other *outside* tools) according to the issue above.

[2015-01-18 11:40] thaJeztah commented on #8568
People looking for `--pid=container:id`; There's a new issue created for that here: https://github.com/docker/docker/issues/10163

[2015-01-18 11:54] MalteJ commented on #3788
ping

[2015-01-18 12:03] MalteJ commented on #10096
I do not like the idea to have multiple unsynchronized databases that hold potentially conflicting IP address information.
I would prefer to have a central DHCP service or a distributed IP address database.
Let's see what https://github.com/docker/docker/issues/9983 brings.

[2015-01-18 12:05] krystism commented on #10166
I think , when you call 'docker exec ', in fact , you create a new session, but the command 'docker logs' only shows the info from the original session . In fact, you can find that when you login in a container, you can not get any env you set from Dockerfile or use -e.

[2015-01-18 12:08] thaJeztah commented on #8689
Would it be possible to get a status update on this?

If this is a "won't fix" (because of registry V2), I think the feature should be removed entirely.

I'm happy to make a PR to update the docs, add a note to the change-log and can have a look at reverting the changes that implemented this feature.

[2015-01-18 12:16] thaJeztah commented on #9832
/ping @rmb938 could you add the requested information?

[2015-01-18 12:36] thaJeztah commented on #10164
IIRC, this is a limitation of the way environment variables work (in Docker), and they cannot be altered after the container is created. In most cases it's better to use the host-name to revolve linked containers.

If a maintainer can confirm I'm right here, I can make a PR to add a note to these sections of the documentation (let me know if you want that);

- Container linking; https://docs.docke

[2015-01-18 13:10] cpuguy83 commented on #10164
Env vars cannot be changed for child processes, only the current process (or passed into a new process), so it would be impossible to update an env var.

My thoughts on this?
You already have to know the name of the container (or at least the alias you asked for) to access the env vars at all. So no need to get the container's IP from the env vars, just rely on /etc/hosts for this.  For ports, you

[2015-01-18 13:10] #10164 closed

[2015-01-18 13:14] cpuguy83 commented on #10166
Closing as dup of #8662

[2015-01-18 13:14] #10166 closed

[2015-01-18 13:16] resouer commented on #2733
@bfirsh Could u plz give me some details about how you guys deal with **link** when recreating?

[2015-01-18 13:20] bobrik commented on #10140
I hacked docker code to add endpoints to run `pprof.StartCPUProfile`:

* `/debug/pprof/cpu/start`
* `/debug/pprof/cpu/stop`

Results for the smaller image are here: http://bobrik.name/pprof001.svg
Results for the bigger image are here: http://bobrik.name/pprof002.svg

I also checked speed of my version (with profiling disabled) vs 1.4.1 for two images. The smaller is 477.7mb and the bigger is 1.76

[2015-01-18 13:29] cpuguy83 commented on #9832
So, the CLI uses the API, it has no special powers here :)

What the CLI is doing is putting anything passed to "-p" in both PortBindings and ExposedPorts.

But yes, this looks like a dup of #9853, so I'll close this one.  Feel free to comment there (or here if you think it's not a dup).

[2015-01-18 13:29] #9832 closed

[2015-01-18 16:52] dmichel1 commented on #8791
as a workaround on Ubuntu install cgroups and ensure it's started.

[code]

[2015-01-18 17:04] edwintorok commented on #10161
@cpuguy83 the docker version in Debian is too old for overlayfs, but I downloaded a newer one and started it with `-s overlay`:
[code]

Timing is about same as btrfs (better than devicemapper, worse than aufs)
[code]

[2015-01-18 17:07] edwintorok commented on #10161
@LK4D4 tested devicemapper on master, it is a bit faster than before, but still quite slow compared to aufs:
[code]

With defaults:
[code]

With discards disabled:
[code]

[2015-01-18 18:00] code-guru commented on #3285
+1
Need to add new volume and publish new ports after running a container

[2015-01-18 20:38] ferrislucas opened #10168 "ssh "docker login" crashes"
Description of problem:
When executing docker login though ssh, an exception is thrown.

`docker version`:
Client version: 1.3.3
Client API version: 1.15
Go version (client): go1.3.2
Git commit (client): 54d900a
OS/Arch (client): linux/amd64
Server version: 1.3.3
Server API version: 1.15
Go version (server): go1.3.2
Git commit (server): 54d900a

`docker info`:
Containers: 0
Images: 0
Storage Drive

[2015-01-18 21:02] simonthum opened #10169 "docker fails with overlay storage"
Hi,

I'm on gentoo docker 1.4.1 (bare if old intel metal), and when loading the official php repos (see below) docker fails so miserably the daemon process stops. It does work when using the standard (dm) backend.

Relevant portion of docker.log:
[code]

On the command line it looks like this:
[code]

docker -D info (after restart)
[code]

docker version
[code]

[2015-01-18 22:40] stain commented on #6906
What about just having a multi-line `RUN-MANY` mean the equivalent of the awkward `&& \` chaining pattern?

[code]

This would give a lean image, but also make it easier to copy-paste in any existing install-scripts without having to search-replace in `RUN ` on every line.

[2015-01-19 01:27] Fandekasp commented on #9997
@gdm85 I'm facing a similar issue. Have you fixed this issue ? How did you proceed ?

[2015-01-19 01:28] jfrazelle commented on #10169
Can you try curling and running this script:
https://raw.githubusercontent.com/docker/docker/master/contrib/check-config.sh
it
checks your kernel config.

On Sunday, January 18, 2015, simonthum <notifications@github.com> wrote:

[2015-01-19 02:12] ryneeverett commented on #8794
I'm unable to use @VicDeo 's workaround on *linux 3.8.4-1* and *docker 1:1.4.1-1*.

[code]

[2015-01-19 02:14] krystism opened #10171 "Proposal: use *run* options when i *build* image"
As we know, when we build images, some cached containers will be auto-created, so , I want to use some(not all)  *docker run* options, like *--net*,etc.  It's useful when sometimes i really want to expose my host network, for example, use my host's  */etc/hosts* rather than by dns server. I know some options can be set in /etc/default/docker.io, but that's global scope, i do not like that.

[2015-01-19 03:22] krystism opened #10172 "Proposal: expand ENV value when i build image"
Assume I have those two instructions in my Dockerfile ,
[code]
When i build it in my local host, the process of work will be showed in stdout, like
[code]
As we can see from the output, the ENV  *VERSION* won't  be expanded, I think it may be better to expand the value of ENV for tracking some problems. So, I'd like to output like this:
[code]
If I make a mistake, like spelling mistake,should outp

[2015-01-19 03:44] HuKeping commented on #10139
try this
http://serverip:port/v1.16/images/json?filter=ubuntu

[2015-01-19 03:57] damm commented on #10096
I don't think this is a matter of maintaining an 'IP Database'.

Take for example how DHCP works; http://en.wikipedia.org/wiki/Dynamic_Host_Configuration_Protocol#Operation

Right now if you ```docker -b=br0 -d``` it will use the next ip available (using the cidr off of br0).  If that's already in use (configured locally; etc) your first container will fail to start (or it will takeover another de

[2015-01-19 06:47] phemmer commented on #6906
@stain As you mentioned, you can already accomplish the same thing with a simple `&&` shell operator. What this issue is about is doing things which aren't possible at all (not just inconvenient). Such as merging multiple dockerfile commands into a single image/layer (`ADD` and `RUN` as 1 layer instead of 2), and squashing to free space from the composite image due to deleted files (file is added

[2015-01-19 06:58] phemmer commented on #10172
I'm assuming you're just asking about the build output that is shown on your console, as the build does actually substitute the variable.
If this is indeed the case, what you're asking isn't possible. The primary reason is that `${VERSION}` is shell syntax. Docker is simply passing the text `curl -sSL https://something-${VERSION}.tar.gz | ...`, to `/bin/sh`, and letting the shell interpret it. Doc

[2015-01-19 07:04] thaJeztah commented on #6906
@phemmer to give some context; @stain's original Dockerfile used a `COPY` to add the source. I suggested a build-container or curl/wget workaround and pointed to existing issues on the issue tracker wrt getting rid of large intermediate layers.

[2015-01-19 07:05] addhewarman commented on #10169
you need kernel 3.18 overlay runs well on top of that.

[2015-01-19 07:07] krystism opened #10174 "Failed to remove instance as device is busy"
# Description of problem
I want to remove all my instances as follows:
[code]
However, it seems that I  **FAILED TO REMOVE ANY ONE**, the output is:
[code]
But when I exec
[code]
I can't find any instance from the output, it seems to remove them successfully!
But That's just a *pseudomorph*，the docker  lies to me! when I restart the docker daemon, All these guys emerge like the ghost.
# Environmen

[2015-01-19 07:19] krystism commented on #10172
@phemmer  I know Docker cann't not get any value from the container, I just want to expand the ENV defined in my Dockerfile, it may be excess feature, but sometimes useful for us to debug.In fact, sometimes, I  insert  'set -x' to track it.

[2015-01-19 07:31] thaJeztah commented on #10172
@krystism the issue is that docker just send that line to*a* shell, and that shell happens to do something if it sees `${FOO}`. Docker itself makes no assumptions here, and doesn't parse that instruction.

[2015-01-19 07:55] thaJeztah commented on #10174
dup of https://github.com/docker/docker/issues/5771 or https://github.com/docker/docker/issues/5684?

[2015-01-19 08:47] gdm85 commented on #9997
@Fandekasp nope, eventually I have removed that inconsistent container. But I expect it to happen again since it is a bug somewhere in Docker or btrfs.

[2015-01-19 09:01] yousq opened #10176 "how can i change the value of /proc/sys/kernel/shmmax in a container?"
I created an image based on the official images centos:6, but I  need a bigger /proc/sys/kernel/shmmax value. Is any one can help me to deal with the prompt: "/proc/sys/kernel/shmmax: Read-only file system" ??

[2015-01-19 09:02] pritambaral opened #10177 "add --dns flag on docker start (restrictive LANs)"
My institute LAN blocks all outgoing UDP and only select TCP traffic; only the internal DNS server is expected to be used. The internal DNS server's IP is served via DHCP, so all normal systems work normally.

But when docker decides to use `8.8.8.8` inside a container, that container now cannot use DNS.

One would say I could simply use the `--dns` option when creating a container. But that works

[2015-01-19 09:07] simonthum commented on #10169
As it says

    Kernel Version: 3.18.1

but I will re-check the config when I'm back home.

[2015-01-19 09:08] sebbacon opened #10178 ""Unable to open the database file" / "no space left on device""
This issue is about two versions of docker, and potentially should be two separate issues, but they seem related, so am reporting them as one for now.

Using docker 1.0.1, I found myself unable to create new containers:

    $ docker run -i -t myimage /bin/bash
    2015/01/19 08:40:59 Error response from daemon: Unable to open the database file: unable to open database file

The corresponding log

[2015-01-19 09:34] Lawouach commented on #6325
A follow up from my side. I reinstalled Ubuntu 14.04.1 from scratch but this time, I deleted all my LVM logical volumes and groups. I simply used one of my two disks. Now docker works fine.

I'm not actually sure it was an issue with docker mind you since, after the first installation using LVM volumes, I had this error:

http://askubuntu.com/questions/468466/why-this-occurs-error-diskfilter-write

[2015-01-19 10:04] sebbacon commented on #10178
OK, maybe this is related to something to do with my disk:

    # mkdir /var/lib/docker/tmp
    mkdir: cannot create directory `/var/lib/docker/tmp': No space left on device

Investigating further.

[2015-01-19 11:16] tatsuya6502 opened #10180 "overlayfs fails to run container with a strange file checksum error"
I started to use "overlay" driver today and seeing odd behaviors in my containers (CentOS 6).

1. `yum install <pkg>` in Dockerfile always fails, but running it again in the same container always succeeds.
2. `tail -f <file>` doesn't show appended contents

For 1, this simple Dockerfile always fails at second `yum install` (for perl)

[code]

with this error:

[code]

However, running the same com

[2015-01-19 11:29] znerol commented on #7228
[Related discussion on CoreOS Dev](https://groups.google.com/d/msg/coreos-dev/qbVrYpDUtG8/t88RbGD_assJ) and [another one](https://groups.google.com/d/msg/coreos-dev/wf7G6rA7Bf4/Olmxmo13WKQJ)

[2015-01-19 11:32] ataraxus commented on #5938
have the same issue with:

[code]
[code]
[code]

I also killed the main application within  an attached bash.

[2015-01-19 12:02] bobrik opened #10181 "Gzip performance"
This is how `perf report` looks for `docker push`.

![perf](https://pbs.twimg.com/media/B7tB3BeIgAAUQkI.png:large)

Looks like `compress/gzip` in golang is quite slow. To check this I write `gzip` and `gunzip` that can work with `compress/gzip` and `code.google.com/p/vitess/go/cgzip`.

`gzip.go`:

[code]

`gunzip.go`:

[code]

I have test layer that is 521mb in tar and 66mb in gzipped tar with def

[2015-01-19 12:26] miminar opened #10182 "stop/kill commands fail when container is exiting"
There is a short period of time between container's process exit and container's cleanup. If `stop` or `kill` commands are executed during this window, they fail with:

    Error response from daemon: Cannot stop container test: no such process
    FATA[0000] Error: failed to stop one or more containers

Reproducer is simple:

    $ docker run --name test --net=none --detach fedora:latest /bin/bas

[2015-01-19 12:27] znerol commented on #7228
Also #6791

[2015-01-19 13:53] duglin commented on #9880
@anentropic is this fixed?

[2015-01-19 13:57] leth opened #10184 "Cannot control permissions of /dev/fuse device"
The device always ends up without permissions:

[code]

I exepct it's something to do with this code: https://github.com/docker/docker/blob/487a417d9fd074d0e78876072c7d1ebfd398ea7a/vendor/src/github.com/docker/libcontainer/devices/defaults.go#L144

Here's some system info:

[code]

[2015-01-19 13:58] rhvgoyal commented on #4036
Those who are facing this issue, are they using static or dynamic build of docker. Is it possible to use dynamically linked docker and see if issue still happens.

[2015-01-19 14:52] jarus commented on #7336
+1

[2015-01-19 14:54] coopernurse commented on #4036
@rhvgoyal We're using the static binary: https://get.docker.com/builds/Linux/x86_64/docker-latest

What's the right way to build a dynamic version of docker?  I see some stuff about dynbinary in the project/make.sh script, but I'm unsure of the correct incantation.

[2015-01-19 15:00] cpuguy83 commented on #4036
@coopernurse `hack/make.sh dynbinary`

[2015-01-19 15:08] cpuguy83 commented on #10168
This looks like it was fixed in 1.4 via https://github.com/docker/docker/commit/e6fd57b90bcdd3b0105fa5c7d17a64332f829ded

Can you test with?

[2015-01-19 15:17] cpuguy83 commented on #10174
This might be fixed on master by #9886

[2015-01-19 15:20] cpuguy83 commented on #10178
Closing this for now since it doesn't seem to be a Docker issue.
If you do track down the error and it is docker related, please open a new issue.

Thanks!

[2015-01-19 15:20] #10178 closed

[2015-01-19 15:24] anentropic commented on #9880
@thaJeztah ...TBH I'd need instructions for how to install the pre-built binary into my boot2docker vm

[2015-01-19 15:31] PositiveAlex commented on #6980
@metal3d thank you, your solution works on ubuntu

[2015-01-19 15:48] thaJeztah commented on #9880
Ah, right, not a boot2docker user myself. Tempted to say "ssh into boot2docker, replace the binary and restart the daemon", but not sure that'd work :smile:

[2015-01-19 15:54] duglin commented on #9880
I'm pretty sure that would work

[2015-01-19 15:58] jpellman opened #10185 "Docker installation documentation points to an Ubuntu repo that does not appear to exist"
Hello Docker World,

I am attempting to install Docker on a machine running Ubuntu 14.04.  I've been following the instructions outlined in version 1.4 of the Docker Documentation (https://github.com/docker/docker/blob/master/docs/sources/installation/ubuntulinux.md) for installing the Docker-maintained package.  There's only one problem- after I add the Docker repo and update my package lists wit

[2015-01-19 16:07] vbatts commented on #4036
`AUTO_GOPATH=1 ./project/make.sh dynbinary` even ;-)

[2015-01-19 16:09] MalteJ commented on #10177
hmm, missing support of a `--dns` flag for `docker start` could be considered a bug.

@LK4D4 @jfrazelle how do you think about this?

[2015-01-19 16:10] unclejack commented on #10181
@bobrik We can only switch to cgzip for pushing right now. cgzip was running into problems when decompressing layers produced by the compress/gzip package the last time I've tried this.

This means we'd have to do a static link for zlib in the static build and link zlib dynamically in the dynamic link build. Both options would require that we actually add a new dependency. Using cgzip for compress

[2015-01-19 16:23] virtuald commented on #4036
Which version of go should we use?

[2015-01-19 16:24] rhvgoyal commented on #4036
I guess go with whatever your distribution is offering by default. It might not make a difference for this particular problem though.

[2015-01-19 16:31] bobrik commented on #10181
Do you have a link for issues you were having with cgzip?

Speed benefits overweight additional dependency in my opinion.

What do you think about creating an issue about gzip performance in golang repo? Maybe it's their problem after all.

[2015-01-19 16:38] coopernurse commented on #4036
Thanks.  Any tips on building this on CentOS 7? I'm getting this:

[code]

I have `btrfs-progs-devel` installed, but there's no version.h file:

[code]

[2015-01-19 16:42] rhvgoyal commented on #4036
I had to upgrade btrfs-progs-devel to solve this problem. I had access to some internal rhel builds and I used that. You might not have that access. So I guess try taking one from fedora and see if it works for you. Otherwise, just putting taking version.h file from upstream and putting it in /usr/include/btrfs/ might work too.

[2015-01-19 16:53] jeremyeder commented on #4036
[code]

[2015-01-19 17:00] virtuald commented on #4036
I can't find the right btrfs package on Ubuntu 14.04.

[2015-01-19 17:10] coopernurse commented on #4036
@jeremyeder perfect, that worked great for me.  Thanks.

I'll get this installed on our Jenkins server and let you know if our "docker build" failure rate changes.

[2015-01-19 17:11] anentropic commented on #9880
Ah ok it's easier than I thought. So, my starting point:

[code]

I downloaded `linux/amd64/docker-1.4.1-dev` and replaced `/usr/local/bin/docker` with it, I now have:

[code]

However this wasn't enough, running the builds again I noticed no difference.  It's because the docker daemon was already running.  I had to do a `sudo /etc/init.d/docker restart`

__NOTE:__
for anyone else trying the same

[2015-01-19 17:13] omribahumi commented on #5135
Just got it:
[code]

It worked before. I have no idea what caused it to start breaking.

[2015-01-19 17:14] thaJeztah commented on #9880
Good to hear it solved your issue! And thanks for taking the time testing it.

[2015-01-19 17:26] jfrazelle commented on #10177
Well 1 thing that is cool on the master branch (and that will be in the release) is when you edit the resolv.conf on your host it automatically refreshes the one in the container, so i think that would be helpful here.

[2015-01-19 17:27] jfrazelle commented on #10177
here is some more information on that as well https://github.com/docker/docker/pull/9648

[2015-01-19 17:32] jfrazelle commented on #10180
I was under the impression coreos used btrfs as the backing filesystem.

On Mon, Jan 19, 2015 at 3:16 AM, Tatsuya Kawano <notifications@github.com>
wrote:

[2015-01-19 17:32] jaybuff commented on #8791
@dmichel1 you must start cgroup-lite to create the proper mounts *before* docker starts.

[2015-01-19 17:34] stain commented on #6906
But isn't there something wrong when most of the Dockerfile commands can't
be used in a production image because they generate enormous intermediate
images that nobody else will ever need?

The tiny difference between ADD and COPY does not help.

The COMMIT should be a better solution then my RUN-MANY, as it would allow
you to do COPY and so on without worrying about waste, and just do multiple
RU

[2015-01-19 17:43] unclejack commented on #10180
Overlay is currently experimental and not officially supported.

CentOS 6.x has user space tooling and configuration that's only supported with the provided kernel, 2.6.32. We can't provide support for custom kernels on this distribution - nor on RHEL or any other RHEL/CentOS derived distribution.

Please take a look at these comments for more information:
comment from me on the matter: https://gi

[2015-01-19 18:05] duglin commented on #9880
cool, closing issue then

[2015-01-19 18:05] #9880 closed

[2015-01-19 18:08] pritambaral commented on #10177
^ & ^^: That still does not address restrictive LANs.

[2015-01-19 18:12] phemmer commented on #10184
You need to start the container with `--privileged` mode.

[2015-01-19 18:13] jpellman commented on #10185
Ah- looks to be related to this issue:

https://github.com/docker/docker/issues/7422

[2015-01-19 18:17] jpellman commented on #10185
The solution seems to be to e-mail support@docker.com.

[2015-01-19 18:18] #10185 closed

[2015-01-19 18:29] phemmer commented on #10181
I thought external gzip was added as part of #7542, but browsing through the changes, it doesn't appear so.
Is there any reason we don't try to detect and use an external `gzip`? We could then detect the `pigz` utility as well for even faster operations.

[2015-01-19 18:31] vbatts commented on #4036
@virtuald it is provided by "btrfs-tools"

[2015-01-19 18:33] gdm85 opened #10188 "Spurious SIGTERM sent to containers upon API /start with (presumed) invalid HostConfig"
I have been experiencing for long time an issue where upon host reboot, and without using a ``-restart`` policy for these containers, I have troubles at starting all (about 100) the containers second their dependency because some of them quit having received a SIGTERM.

The supervisord which acts as pid 1 in these containers reports:
[code]

#7414 hides problem like these, because eventually after

[2015-01-19 18:38] erikh commented on #9983
@discordianfish @vieux and I are talking about how swarm and docker networking could cooperate but there's no immediate plan to share this. I will let you know as I know more.

[2015-01-19 18:39] erikh commented on #9983
@discordianfish libpack intends to have a distributed implementation, but we're still figuring out if libpack is the right tool for us.

[2015-01-19 18:41] virtuald commented on #4036
@vbatts I don't think so, it still cannot find `<btrfs/version.h>`

[2015-01-19 18:41] virtuald commented on #4036
Oh. Never mind, it does. However, it doesn't have version.h.

[2015-01-19 18:45] vbatts commented on #4036
@virtuald right. so, `AUTO_GOPATH=1 DOCKER_BUILDTAGS="btrfs_noversion" ./project/make.sh dynbinary`

[2015-01-19 18:50] erikh commented on #9983
I've added a diagram which goes into how Extensions, Drivers, Networks and Endpoints relate to each other. Please inform me all if this is insufficient.

[2015-01-19 18:52] virtuald commented on #4036
Thanks @vbatts, that built a binary. I presume I just drop the binary over the old one, and restart the daemon? I'll report back tomorrow our results.

[2015-01-19 18:54] bobrik commented on #10181
Currently docker can saturate only one core, with `pigz` it can use more resources, but this is not necessarily a good thing.

[2015-01-19 19:01] crosbymichael commented on #8551
What do you think the user facing API should look like? API and flags for solving your issues?

[2015-01-19 19:03] crosbymichael commented on #9801
Thanks for the repo cases.  I'll take a look.

[2015-01-19 19:06] phemmer commented on #10181
@bobrik `pigz` was just a nice bonus. If you're concerned about docker using more than 1 core, then I would put forth a few comments.
1. You're still going to be bottle necked by network throughput. If the network can't handle the data being pushed through it, `pigz` will slow down. Thus `pigz` will only use the resources it needs to keep up.
2. Docker has never committed that the daemon won't use

[2015-01-19 19:08] acbodine commented on #9372
Working on a PR for this as it seems like this functionality is wanted. Be looking for it soon.

[2015-01-19 19:09] crosbymichael commented on #7316
@unclejack any ideas?

[2015-01-19 19:14] erikh commented on #9983
Hello again folks,

For starters, please review the proposal again for those of you heavily invested. I have made several updates based on your comments which I hope will clarify things. There's quite a few edits so I will not make note of them here. If you were not mentioned, please, please check the proposal to see if I answered your questions.

@shettyg to answer your questions, we have no inte

[2015-01-19 19:18] smarterclayton opened #10191 "Feature: Allow `docker build` to be resource constrained by the caller"
Currently the `docker build` process runs under the docker daemon's cgroup, which means it has access to potentially unlimited CPU, Memory, and Disk bandwidth.  We would like to be able to constrain a docker build to a limited set of resources (similar to containers being run via `docker run`).  While today `docker build` currently runs with fairly high privileges, as things like user namespaces a

[2015-01-19 19:20] unclejack commented on #7316
@crosbymichael I'll check this out and comment. I'll assign this temporarily to myself.

[2015-01-19 19:21] pritambaral commented on #10177
^Especially when the host has an entry like `127.0.0.1` (e.g., for local caching of DNS)

[2015-01-19 19:21] simonthum commented on #10169
Ok, my check-config isn't perfect but that may not be the cause; see below.

[code]

My / is ext4; I will try with the remaining flags although I don't think they're likely candidates.

[2015-01-19 19:23] virtuald commented on #4036
Ok, so because I was curious I ran a set of 5 builds with the new binary, and none of them failed with the devicemapper error. Just to make sure I was sane, I ran a build with the stock docker binary, and it failed the first time. Here's what I've got:

[code]

[code]

If there's anything else that might be interesting to know about our config, let me know. I'll keep the new binary on there, and s

[2015-01-19 19:27] bobrik commented on #10181
10Gbps of gzip can easily saturate many cores, I assume. I like the idea of using `GOMAXPROCS` for `pigz`.

I'd love to know about `cgzip` issues, because I had no success googling them myself.

[2015-01-19 19:41] akalipetis commented on #9372
:+1:

[2015-01-19 19:48] vishh commented on #8551
@crosbymichael: For many of the use cases mentioned above, adding a `--parent_cgroup=/<cgroup_path>` flag to `docker run` is what is needed. With this option set, docker would  create container cgroups under the hierarchy mentioned in `--parent_cgroup`.
To provide differentiated quality of service, this option would let users group low priority containers into a bucket and cap the total amount of

[2015-01-19 19:55] rd-o commented on #10031
Same problem here.
Ubuntu 14.04
Virtualbox 4.3.10
Docker version 1.4.1, build 5bc2ff8

[2015-01-19 20:18] aigarius commented on #6906
@stain you are also confusing this with #332 , please read my comments above for a clarification.

[2015-01-19 21:19] dagelf opened #10199 "Proposal: Dockerfile BINDMOUNT for secure- and/or offline Dockerfile build environments"
Before you dismiss this off hand - there are legitimate use cases where this feature can save the user hours, and entice him to be a good Docker citizen - and I will list them.

I know the philosophy of Dockerfiles it to make them as portable as possible. But a bigger part of the philosophy is to "don't repeat yourself" and "don't reinvent the wheel". There are two use cases where the security con

[2015-01-19 21:24] dagelf commented on #10171
Completely agree. Similar to https://github.com/docker/docker/issues/10199

[2015-01-19 21:27] leth commented on #10184
That will work, but it's very heavy-handed. This is supposed to work; it's in the docs: http://docs.docker.com/reference/run/#runtime-privilege-linux-capabilities-and-lxc-configuration

[2015-01-19 21:31] tatsuya6502 commented on #10180
Here is the release notes of the CoreOS release I'm using.

More info will be found here.

[CoreOS looks to move from Btrfs to overlayfs](https://lwn.net/Articles/627232/)

[2015-01-19 21:33] unclejack commented on #10180
@tatsuya6502 I apologize, I was under the impression you're on CentOS.

[2015-01-19 21:37] tatsuya6502 commented on #10180
@unclejack That's ok. I think the issue title I put was confusing.

[2015-01-19 21:38] jfrazelle commented on #10180
So overlay is currently an experimental graphdriver, there are some known issues with tests failing we are working on see https://github.com/docker/docker/issues/9874.
I wonder if this has anything to do with those.

[2015-01-19 21:39] tatsuya6502 commented on #10180
@unclejack btw, thanks for the pointers for these issues. I'll take a look.

[2015-01-19 21:42] jbouzekri commented on #10162
I tried another image : the official ubuntu. When I run `sudo docker run -t -i ubuntu /bin/bash`, it freezes too. I never get back the prompt.

On another terminal, I launched docker ps but it freezes too. So I launched a strace docker ps. It seems it freezes when trying to read the /proc/self/mountinfo file. Would this strace be usefull ? Thanks in advance.

[2015-01-19 21:49] tatsuya6502 commented on #10180
@jfrazelle Thanks for the info. I think this issue may be related to the following test case as my problem only happens after switching containers. (Run a container, modify the image, stop the container, run a new container with the image, try to modify the image -> error)

#9874
[code]

[2015-01-19 21:49] ross-w commented on #7952
Forgive me if I'm just bad at searching, but I've tried to find the status of context mount labelling on btrfs and I'm still unable to find any detail on it.
The closest I can find is here: https://github.com/SELinuxProject/selinux/wiki/Kernel-Todo where it's on the "todo" list. Should I be looking somewhere in particular?

[2015-01-19 22:00] #9709 closed

[2015-01-19 22:15] zopyx opened #10202 "docker builds are slow"
docker builds are slow, very slow? why?

A simple docker command like

RUN useradd -ms /bin/bash plone

takes on my system (CentOS 7, new box, fresh installation, enough CPU, enought memory) between 5 to 10 seconds.

A typical operation like "apt-get install" with some packages runs 5-10 times longer than on a normal system.

Why is this the case?

[2015-01-19 22:36] chrisnew commented on #3788
Anything new here? I really could use this feature now. :) I'm currently stuck enhancing docker-proxy and portmapping to get them allowing IPv6. (I also already implemented SNAT and per container set global IPv6 address.)

[2015-01-19 22:49] jfrazelle commented on #3788
https://github.com/docker/docker/pull/8947 has been merged so I believe this can be closed.
You can try it out via the binaries at master.dockerproject.com, and the docs are at http://docs.master.dockerproject.com/articles/networking/#ipv6

[2015-01-19 22:49] #3788 closed

[2015-01-19 22:55] jfrazelle commented on #1960
I am going to close as I believe this has been addressed and is no longer relevant. PLease feel free to ping me on this issue if you feel otherwise

[2015-01-19 22:55] #1960 closed

[2015-01-19 22:58] jfrazelle commented on #3936
closing because #9635 was merged

[2015-01-19 22:58] #3936 closed

[2015-01-19 23:02] jfrazelle commented on #5384
Looks like we are now adding an equivalent of thise Masqerade rule, closing, but feel free to ping me if you feel this was closed in error

[2015-01-19 23:02] #5384 closed

[2015-01-19 23:04] jfrazelle commented on #6002
I think this should be fixed now that https://github.com/docker/docker/pull/7003 was merged @gdm85 can you make sure?

[2015-01-19 23:07] jfrazelle commented on #6618
Closing, I no longer think this is an issue on the latest version

[2015-01-19 23:07] #6618 closed

[2015-01-19 23:07] jfrazelle commented on #6618
ping me if you feel otherwise

[2015-01-19 23:10] jfrazelle commented on #6830
this issue was fixed, so closing, the other comments on here on the other hand are improvements to the jobs api etc.

[2015-01-19 23:10] #6830 closed

[2015-01-19 23:10] jfrazelle commented on #6894
Closing as fixed in the latest version, if you feel this has been closed in error please ping me

[2015-01-19 23:10] #6894 closed

[2015-01-19 23:11] jfrazelle commented on #7084
closing, failure to give more info, ping me if you think this has been closde in error

[2015-01-19 23:11] #7084 closed

[2015-01-19 23:12] jfrazelle commented on #7207
I forgot to actually close it

[2015-01-19 23:12] #7207 closed

[2015-01-19 23:12] thaJeztah commented on #10202
Would you be able to add a bit more information about your system, as described here: https://github.com/docker/docker/blob/master/CONTRIBUTING.md#reporting-issues

[2015-01-19 23:13] jfrazelle commented on #7214
Closing as fixed on the latest version, feel free to ping me if you feel this has been closed in error

[2015-01-19 23:13] #7214 closed

[2015-01-19 23:13] jfrazelle commented on #7307
Closing, feel free to ping me if you think this has been closed in error

[2015-01-19 23:13] #7307 closed

[2015-01-19 23:15] jfrazelle commented on #7353
@alrunner4 can you let us know if this is still relevant on the latest version you can download the binaries from master.dockerproject.com

[2015-01-19 23:16] jfrazelle commented on #7353
seems fine to me when testing so closing but let me know if you believe otherwise

[2015-01-19 23:16] #7353 closed

[2015-01-19 23:16] jfrazelle commented on #7401
closing, let me know if you believe this has been closed in error

[2015-01-19 23:16] #7401 closed

[2015-01-19 23:19] jfrazelle commented on #7705
@ashahab-altiscale can you let me know if this issue is still relevant on master

[2015-01-19 23:20] jfrazelle commented on #7715
@ashahab-altiscale can you let me know if this is ok to close as well, or @freax007 can you try with master (binaries at master.dockerproject.com) with lxc v1.0.7

[2015-01-19 23:21] jgelens commented on #4717
Great, now the ability for setting somaxconn and other similar sysctl vars

[2015-01-19 23:22] jfrazelle commented on #7877
why not just put in a process to watch and kill it after a certain time?

[2015-01-19 23:24] jfrazelle commented on #8203
closing as dup of #7285

[2015-01-19 23:24] #8203 closed

[2015-01-19 23:25] jfrazelle commented on #8244
closing, let me know you you believe this has been closed in error

[2015-01-19 23:29] jfrazelle commented on #8755
can you all let me know if this is still a relevant issue.

[2015-01-19 23:29] #8763 closed

[2015-01-19 23:29] bcornec commented on #9453
If I remove all my local golang packages in order to only get what you provide I have the following:

+ export DOCKER_GITCOMMIT=5bc2ff8
+ DOCKER_GITCOMMIT=5bc2ff8
+ AUTO_GOPATH=1
+ ./hack/make.sh dynbinary
# WARNING! I don't seem to be running in the Docker container.
# The result of this command might be an incorrect build, and will not be
#   officially supported.
#
# Try this instead: make all

[2015-01-19 23:30] #8764 closed

[2015-01-19 23:30] thaJeztah commented on #10184
@leth reading that part of the docs;

Could that be your problem here?

[2015-01-19 23:31] jfrazelle commented on #8766
this was fixed by https://github.com/docker/docker/pull/9085

[2015-01-19 23:31] #8766 closed

[2015-01-19 23:31] #8769 closed

[2015-01-19 23:33] jfrazelle commented on #9059
@WuLonghui can you try with the master version of docker, you can download binaries from master.dockerproject.com

[2015-01-19 23:33] #9072 closed

[2015-01-19 23:35] jfrazelle commented on #9458
updated in latest, closing, let me know if you feel otherwise

[2015-01-19 23:35] #9458 closed

[2015-01-19 23:36] jfrazelle commented on #9458
for reference https://github.com/docker/docker/pull/9204

[2015-01-19 23:37] #8318 closed

[2015-01-19 23:39] jfrazelle commented on #10169
Overlayfs is currently experimental.

You can find a few open issues here, if you think any relate to yours:
#9572
#9874
#10180

[2015-01-19 23:42] tianon commented on #9453
Ah, if you're packaging the dependencies instead of using the `vendor/` directory as-is, you probably don't want to use `AUTO_GOPATH`, since then it won't reference your system-installed versions (especially if you've pruned the `vendor/` directory from the tarball).

[2015-01-19 23:52] jlhawn commented on #10158
@pwaller #9784 was merged this morning and conflicts with your PR :(

[2015-01-19 23:56] bcornec commented on #9453
Well my original goal was to build all dependencies separately as individual packages indeed. But since this was failing, I'm now back to try to be nearer from what you do, so using AUTOGO. But even in that case that doesn't work building as a package while it works inyour docker env:

Example with GOPATH:
+ mkdir -p _build
+ pushd _build
~/prj/mageia/docker/BUILD/docker-1.4.1/_build ~/prj/mageia/

[2015-01-20 00:28] LinforPros opened #10207 "docker fails to allocate and map port"
The below message gets generated after:
docker run -it --name apache -d fedora/apache

Failed to allocate and map port 80: iptables failed: iptables --wait -t nat -A DOCKER -p tcp -d 0/0 --dport 80 ! -i docker0 -j DNAT --to-destination 172.17.0.8:80: iptables: No chain/target/match by that name.

The system
 firewall-cmd --list-all
FedoraServer (default, active)
  interfaces: docker0 enp5s0 virbr0

[2015-01-20 00:29] jfrazelle commented on #10207
can you give us the output of docker version and docker info

[2015-01-20 00:34] guillaume-brossard-adsk commented on #4213
+1 It would be really useful for us to be able to use the data container pattern with nfs.

[2015-01-20 00:56] #9900 closed

[2015-01-20 01:04] fredlf commented on #8985
@thaJeztah I agree that adding KI for older releases would be nice, but would require a ton of historical detective work. After a few iterations, you'll be able to tell what was fixed when by checking release notes for prior releases.

[2015-01-20 01:09] #10034 closed

[2015-01-20 01:09] jfrazelle commented on #10158
Closing now that we have https://github.com/docker/docker/pull/9784/files#diff-7cbe4277b9a08ded689d34eaae37655eR485, @pwaller let me know tho if you think this is insufficient in anyway

[2015-01-20 01:09] #10158 closed

[2015-01-20 01:16] crosbymichael commented on #8551
And that's it? Nothing else required?

[2015-01-20 01:30] krystism commented on #10199
:+1:  In fact, we can use one or more flags to tell the interpreter whether we are in local or not. If we are in local, we can use some special commands like @dagelf said, and if not, the interpreter can just ignore them.  But if so,this is equivalent to support condition sentence.

[2015-01-20 01:47] LinforPros commented on #10207
here it is:

 docker info
Containers: 0
Images: 29
Storage Driver: devicemapper
 Pool Name: docker-253:1-528723-pool
 Pool Blocksize: 65.54 kB
 Data file: /var/lib/docker/devicemapper/devicemapper/data
 Metadata file: /var/lib/docker/devicemapper/devicemapper/metadata
 Data Space Used: 1.286 GB
 Data Space Total: 107.4 GB
 Metadata Space Used: 2.195 MB
 Metadata Space Total: 2.147 GB
 Library Vers

[2015-01-20 01:49] jfrazelle commented on #10207
Ok so as of https://github.com/docker/docker/pull/7003 being merged,
iptables runles are kept exclusively in a DOCKER chain. I do not think
yours should be failing without, but I would be curious to know if the
binaries at master.dockerproject.com (which have the patch) help your
problem. Otherwise my only guess would be something with Firewalld is
blocking this.

On Mon, Jan 19, 2015 at 5:47 PM,

[2015-01-20 01:57] krystism opened #10209 "Proposal: Append user property to the instance"
Currently, as we know, all the users in the group "docker" can manipulate docker as if they have root privileges. In addition, all the instances are in a global scope. so when i want to list containers, in fact I  list all  users'  instances. But sometimes, in fact, always, I just want to list my containers, I really don't care others. So I think it may be better to append user info to the contain

[2015-01-20 01:58] fredlf commented on #10164
From what @cpuguy83 says above, I don't think this qualifies as a Known Issue per se.

[2015-01-20 01:59] fredlf commented on #7487
Thanks, @thaJeztah . Once this work gets underway I'm sure we'll need help.

[2015-01-20 02:00] cpuguy83 commented on #10164
More like a known technical limitation with work being done to replace the whole thing.

[2015-01-20 02:03] cpuguy83 commented on #7877
This would be enabled by adding support for ulimit here: #9437
But yes, there are also a few images out there that do just this.

[2015-01-20 02:17] krystism commented on #10209
These can also be extended to manage images. In addition, if user-A have pulled the image "demo" from hub, when user-B requests to pull the same image 'demo', just soft-link A's.

[2015-01-20 02:33] #10046 closed

[2015-01-20 02:37] thockin commented on #8551
I think that is pretty much right.  What else were tiu expecting to see?
On Jan 19, 2015 5:17 PM, "Michael Crosby" <notifications@github.com> wrote:

[2015-01-20 02:51] xiekeyang opened #10210 "New Feature: Encrypt Images Locally"
Maybe, it is a plus implementation that image could be encrypted locally.
It can protect one user's images from illegally reading and writing.
the similar feature is available on QCOW2 format.

[2015-01-20 03:11] addhewarman commented on #10169
@simonthum you need to edit your /etc/default/docker to something like below, but please save or export your container first. in some cases it's might delete or remove all your current docker images / container

# Use DOCKER_OPTS to modify the daemon startup options.
DOCKER_OPTS="--dns 8.8.8.8 --dns 8.8.4.4 -s overlay"

@jfrazelle yes it's experimental so far it's best although it's not perfect ye

[2015-01-20 03:27] devinrsmith opened #10213 "Hub image name length < 3"
[code]

[2015-01-20 03:28] jfrazelle commented on #10213
OMG this happened to me too ping @kencochrane, hub changed it so images had
to be 3 chars long, I have one named t

On Mon, Jan 19, 2015 at 7:27 PM, Devin Smith <notifications@github.com>
wrote:

[2015-01-20 03:29] jfrazelle commented on #10213
can you all change it so that it won't give a 401, I think @jlhawn was asking for this as well.

[2015-01-20 03:32] jfrazelle commented on #10213
Also @devinrsmith I would say for now, the official golang image should work https://registry.hub.docker.com/_/golang/

[2015-01-20 03:39] devinrsmith commented on #10213
Thanks @jfrazelle for the quick replies, I'll give golang a try. Still no fun when stuff that used to work doesn't work anymore! :O

[2015-01-20 03:41] tianon commented on #10213
UGH

[2015-01-20 03:46] tianon commented on #10213
Do we have a rationale for why this change was made?  I think we're talking about a non-trivial number of images broken here, so I'm not seeing a real good reason to do this.

[2015-01-20 03:48] jfrazelle commented on #10213
Yeah so when I reached out to the hub side (after the horror of thinking something was broken in docker) they said that when they changed it, it was NOT supposed to effect existing images. So I hope they are fixing it.

[2015-01-20 03:48] jfrazelle commented on #10213
Also I feel like we should be informed of these decisions in the future.

[2015-01-20 03:50] tianon commented on #10213
+1, but I'd still like to know the reason for the change (and I'm positive that I'm not alone), because two-letter image names per-user seems pretty harmless to me, especially since they already exist in the wild

[2015-01-20 03:51] tianon commented on #10213
It'd be especially great if a change like this weren't made without an accompanying change in Docker first, even if it's just a warning that the image name you've just created won't be supported if you try to push it, IMO.

[2015-01-20 03:53] jfrazelle commented on #10213
agreed

[2015-01-20 03:53] jfrazelle commented on #10213
and I love my 1 letter image

[2015-01-20 04:35] LinforPros commented on #10207
Here is what I get after:
systemctl stop firewalld.service
iptables -L (showing nothing blocked)

 Failed to allocate and map port 80: iptables failed: iptables --wait -t nat -
(exit status 1)
iptables failed: iptables --wait -t nat -A DOCKER -p tcp -d 0/0 --dport 80 ! -i docker0 -j DNAT --to-destination 172.17.0.12:80: iptables: No chain/target/match by that
(exit status 1)
time="2015-01-19T22:30

[2015-01-20 04:54] phemmer opened #10214 "Docker --help output too chatty"
I frequently use `--help` as a quick lookup to find some option. With the current output, it's very hard to read.

For example, this is what `docker --help` looks like (other commands, such as `docker run --help` are no better):
![image](https://cloud.githubusercontent.com/assets/1826947/5812258/6304deb8-a034-11e4-94b0-f6304b78e198.png)
Many lines are wrapped, some lines are continued from the pre

[2015-01-20 05:03] thockin commented on #9983
Collected thoughts as I read again:

1) "Multiple networks ... segment traffic ... should be supported by all
drivers" - I am still wrestling with a mental model of a dumb network where
I just want to expose network interfaces with real IP addresses (e.g.
ipvlan) - you said "should be supported" so I am assuming it is technically
OK if segmenting is NOT supported?

2) I don't see how this proposal

[2015-01-20 05:22] david-mccullars commented on #6119
Being forced to ADD and then RUN chown has a very nasty side-effect of artificially bloating docker images.  For example:

[code]

I ran build on this once without the chown and once with:

[code]

And we can see what is happening via docker history:

[code]

When we consider that a large application might have several hundred megabytes or more, this chown becomes very expensive.

[2015-01-20 06:13] zopyx commented on #10202
[ajung@localhost ~]$ uname -a
Linux localhost.localdomain 3.10.0-123.el7.x86_64 #1 SMP Mon Jun 30 12:09:22 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux
[ajung@localhost ~]$ docker version
Client version: 1.3.2
Client API version: 1.15
Go version (client): go1.3.3
Git commit (client): 39fa2fa/1.3.2
OS/Arch (client): linux/amd64
Server version: 1.3.2
Server API version: 1.15
Go version (server): go1.3.3

[2015-01-20 06:19] LK4D4 commented on #10202
This probably was fixed by #9720, all drivers except aufs was affected. There was two very heavy goroutines which walked over old and new layers content.

[2015-01-20 06:39] nelcy commented on #8551
+1

[2015-01-20 06:53] yairlev commented on #5938
Any estimation to when this fix is going out officially ? Will the next
version also include the option to stop/kill a long running or hanging
process that started with the "exec" command ?

On Sun, Dec 28, 2014 at 8:49 PM, Alexander Morozov <notifications@github.com

[2015-01-20 07:15] thaJeztah commented on #7487
@fredlf just give me a shout :)

[2015-01-20 07:21] thaJeztah commented on #10158
The improved message looks fine, so agreed with closing this.

Thanks for taking the time, @pwaller!

[2015-01-20 07:25] thaJeztah commented on #10164
@fredlf @cpuguy83 agreed, decided to not include it in my PR and only add the notes to the other sections.

For reference, see https://github.com/docker/docker/issues/10170

[2015-01-20 07:37] is-yangchen commented on #10115
Thanks！

[2015-01-20 08:03] is-yangchen commented on #10165
You can have a look at this.
https://wiki.archlinux.org/index.php/Docker

I don't know if it helps...

[2015-01-20 08:10] leth commented on #10184
Ah, sorry. I was trying that originally, it made no difference. I simplified the command as far so I could after that. I'll verify and update once I get to work today.

[2015-01-20 08:19] cyphar commented on #6119
#9934 has been opened to fix this issue (my patches were rejected).

[2015-01-20 08:31] pwaller commented on #9719
#9784 was merged today making my pull request to remove the verified message obsolete. Is there a write-up somewhere of how the concerns were addressed? I'm still concerned that docker is doing a tarsum-like thing. Does that still mean that will happily invoke `xz` on the input for example?

[2015-01-20 08:37] MichaelBitard commented on #8755
Yes, it's still relevant.

[code]

[2015-01-20 08:47] sebbacon commented on #10178
This was not a docker issue.

I had exhausted my supply of inodes:

    # df -i /var/lib/docker/
    Filesystem      Inodes   IUsed IFree IUse% Mounted on
    /dev/vdb1      6553600 6553600     0  100% /var/lib/docker

However, although this isn't a Docker issue, it is interesting how quickly I was able to exhaust inodes. Should it be mentioned somewhere in the documentation that sysadmins should

[2015-01-20 08:48] sebbacon commented on #10178
I should add in case it helps anyone else that I was able to escape this situation by deleting the contents of `/var/lib/docker/containers`; this allowed Docker to start, and then I could do some housekeeping routines to free up more inodes (e.g. `docker rm` and `docker rmi`)

[2015-01-20 08:58] simonthum commented on #10169
Thanks, I'll try that when I get to it.

[2015-01-20 09:57] bboreham commented on #9983
1. Some questions on timing:

* From a user's point of view, it is ideal if this happens before their container's entrypoint starts.
* From an implementer's point of view, it is ideal if this happens after the process exists, so that a network namespace can be hung on it.

Is it your intention to mandate both of these in the spec?

If a user desires to join a container to several networks, impleme

[2015-01-20 10:18] erikh commented on #9983
This is already the way it works now, so I presumed it and overlooked it in the proposal.

Sorry about that! I will correct it now.

[2015-01-20 10:30] gdm85 commented on #6002
@jfrazelle not sure when, but at some point it has been added this (reasonable) error when one tries to start docker daemon with arguments as OP:

[code]

Thus somehow it's no more possible to verify this problem ;)

[2015-01-20 10:30] #6002 closed

[2015-01-20 10:34] ComradeP opened #10216 "Root btrfs volume visible under overlays in all docker containers"
**Description of problem**: Running Debian-packaged docker 1.3.3, on a btrfs filesystem (and hence defaulting to the btrfs backend).

Any container I create (including during `docker build`) has my host's root btrfs volume mounted as the basis of its root; the overlay filesystems are on top of it, but in particular any file from my root volume that's not explicitly deleted in an overlay is visible

[2015-01-20 11:36] leth commented on #10184
Yep, doesn't fix it:
[code]

[2015-01-20 12:00] gdm85 commented on #9891
related to #9526

[2015-01-20 12:01] gdm85 commented on #8723
I have also been hit by this bug, and it's a deployment blocker for me.

Although in production one will want to use fixed port mappings, there are scenarios (development, testing, staging) where you **want** containers to survive a daemon/host reboot and keep their port mapping, if not just to not destroy the work-flow of all involved people that are still using the containers.

[2015-01-20 12:04] gdm85 commented on #8356
I have narrowed down docker-proxy to be one of the (if not the single) largest cause of non-determinism for my multi-container deployments. I am all for this.

[2015-01-20 12:12] balakrishna3283 opened #10217 "How to attach a PCI device to a container"
Hi,

I am trying to attach a Network device to the container. I am able to attach hdd device by providing --device=/dev/sdb argument for docker run

Similarly how do I attach a network device to a container?

Thanks in advance
Krishna

[2015-01-20 12:19] gdm85 commented on #5846
This has been a missing feature since day 1 (and hurting here too), if you are looking for a replacement (until it's implemented in Docker) feel free to peek at the script I made:

https://github.com/gdm85/docker-cli-tools/blob/master/scripts/docker-inject

[2015-01-20 12:19] thaJeztah commented on #10184
Thanks for trying. I don't have experience in this area, but with this added information, possibly someone else is able to see what the problem is here.

[2015-01-20 12:26] stefan-it commented on #10159
Hi @MalteJ (/cc @jfrazelle),

I tried the ipv6 functionality now with a routed subnet (thankfully provided by my university) -> it works very well! Thanks for the great work!

[2015-01-20 12:31] MalteJ commented on #10159
@stefan-it nice to hear that! Are you here in Munich? TU? Uni? Saw the lrz ntp server in one of your configs ;)

[2015-01-20 13:36] zopyx opened #10218 "Error response from daemon: Cannot start container c64662f04dde"
Running the following image from scratch on a new CentOS 7 installation fails badly:

docker run \
  --volume=/:/rootfs:ro \
  --volume=/var/run:/var/run:rw \
  --volume=/sys:/sys:ro \
  --volume=/var/lib/docker/:/var/lib/docker:ro \
  --publish=8080:8080 \
  --detach=true \
  --name=cadvisor \
  google/cadvisor:latest

a2324698f5efaf98bfd9efc952cca898c58d8b38faf3f9e5272ff0851d048a83
## 2015/01/20

[2015-01-20 13:43] tiborvass commented on #10218
Ping @vbatts @unclejack

[2015-01-20 14:20] timothysc commented on #8551
+1, this simplifies process tracking for cluster managers.

[2015-01-20 14:33] cpuguy83 commented on #5938
@yairlev I think this is fixed on master. Feel free to test: https://master.dockerproject.com

[code]

[2015-01-20 14:48] rhasselbaum commented on #10150
Installing the certificate globally works around the problem. Steps on Ubuntu/Debian:

1. Copy CA cert to `/usr/local/share/ca-certificates`.
3. sudo update-ca-certificates
4. sudo service docker restart

Once this is done, it doesn't matter if the cert is also loaded into `/etc/docker/certs.d/<registry>` or not.

[2015-01-20 14:50] thaJeztah commented on #9891
I added some notes to the documentation to explain that the ENV-vars are not automatically updated; https://github.com/docker/docker/pull/10170

Also some additional explanation as to "why" that doesn't work and future changes can be found here; https://github.com/docker/docker/issues/10164#issuecomment-70407731

With those, I suggest to close this issue; updating the ENV-vars is not possible and

[2015-01-20 15:08] vandekeiser commented on #6354
Still isn't fixed..
docker rmi -f $(docker images -aq) says "Error: failed to remove one or more images"
But then i can see that disk space use doesn't go back to baseline, and  /var/lib/docker/vfs/dir/ is not empty
If i rm /var/lib/docker/vfs/dir/, then df (almost) goes back to baseline

[2015-01-20 15:36] vbatts commented on #10218
Just tried a couple of times on a centos7 with docker 1.4.1-dev 2feb2d0, and did not get this failure.
Trying again on docker v1.3.2

[2015-01-20 15:39] Xoib commented on #2801
@ibukanov Can you share your scripts ? I can use it to make a more automatic and reliable workaround for #7807

[2015-01-20 15:42] rhatdan commented on #7952
A lot of the discussions on this have taken place on private lists or kernel lists.  Most of the concentration now is on getting this support into Overlayfs now I am afraid.

[2015-01-20 15:42] vbatts commented on #10218
Still not able to reproduce :-\

[code]

[2015-01-20 15:47] miminar opened #10220 "Port allocation is outside of configured ephemeral port range"
This is probably not an issue but I'd like to have a clear statement from someone with more insight.

Docker uses its own hardcoded port range for allocation of host's ports for published container ports. Its size limits the number of concurrently running containers with published ports (run with `-P` or `-p <containerPort>`). Currently it's 65535 - 49153 = 16384 (minus number of ports from this r

[2015-01-20 15:56] kencochrane commented on #9892
@dustinlacewell

[2015-01-20 15:56] kencochrane commented on #9872
@dustinlacewell has this been fixed?

[2015-01-20 16:02] brunetto opened #10221 "Can't exec docker build from go program"
Hi!
I'm trying to launch docker build from a go program using `os/exec`, but it doesn't work (while for example docker version does).

I use (with error handling in the real code):

[code]
If `cmd` is:

[code]

I obtain

[code]
while if `cmd` is:

[code]

I obtain

[code]

Both commands work fine if I run them by hand.

Docker version says

[code]

[code]

My system:

[code]

[2015-01-20 16:02] cpuguy83 commented on #9891
I'm going to go ahead and close this as it's basically a dup of #3155
Feel free to ping here or on IRC if you have any questions/concerns.

[2015-01-20 16:02] #9891 closed

[2015-01-20 16:12] aurelien-minvielle commented on #9654
Same error here with docker 1.4.1.

FATA[0000] Error response from daemon: Cannot start container 45614dff9783564a5d14e7a636b09d8a47cd0d5429e6e110711003f1da4b010a: open /cpuset/docker/45614dff9783564a5d14e7a636b09d8a47cd0d5429e6e110711003f1da4b010a/cpuset.cpus: no such file or directory

$ lsb_release -a
No LSB modules are available.
Distributor ID:	Debian
Description:	Debian GNU/Linux 7.8 (wheezy

[2015-01-20 16:14] tiborvass commented on #10220
Ping @erikh @LK4D4 @crosbymichael @icecrime

[2015-01-20 16:21] fxdgear commented on #10213
Sorry about the troubles :frowning:

We fixed the issue, if you're still having problems please let us know.

[2015-01-20 16:23] cgp commented on #10027
+1

[2015-01-20 16:24] tianon commented on #10213
@fxdgear only trouble I'm having now is:

:cry:

[2015-01-20 16:36] kencochrane commented on #10213
@tianon where are you seeing that?

[2015-01-20 16:38] tianon commented on #10213
On the create a new repo page while trying to create the perfectly harmless `tianon/a` :sheep:

[2015-01-20 16:40] cpuguy83 commented on #10221
Your cmd is setup wrong.  In both cases you have an extra space in your context path.
Instead of " .", you need simply "."

[2015-01-20 16:40] #10221 closed

[2015-01-20 16:40] cpuguy83 commented on #10221
p.s., I closed this since it doesn't appear to be an issue. Ping me here or on IRC to discuss further if you like.

[2015-01-20 16:47] brunetto commented on #10221
@cpuguy83 I put an extra space because if I don't the dot is placed together with the tag (I don't know why). I already tried it and it does not work without the space either. Moreover, a space among a command args shouldn't create problem.

However, this is the output without the space:

[code]

[code]

[2015-01-20 16:49] cpuguy83 commented on #10221
@brunetto you need to put a comma in there instead of a + for the "."
so...
[code]

[2015-01-20 16:51] brunetto commented on #10221
@cpuguy83 you are right... sorry for the stupid mistake!!! I read it at least 100 times without noticing it...

[2015-01-20 16:52] kencochrane commented on #10213
@tianon ok, we didn't fix that one, we just fixed the issue where people couldn't pull repos they already had that were < 3 characters.

[2015-01-20 16:58] tianon commented on #10213
Right, I'm just being obtuse because this seems like an unnecessary change without any real explanation for the rationale behind it. :angel:

I very much appreciate the quick fix to existing repos! :heart:

[2015-01-20 16:59] jasonalmansor commented on #9562
@IPvFletch unfortunately we can't since we're using CentOS... at least, not without a fair amount of work.

[2015-01-20 17:07] mikaelhg commented on #10031
My colleague is hitting the same issue, on Ubuntu 14.04.

When he has Docker containers running, and then starts a VirtualBox Windows VM, his whole system freezes, and requires a hard reset with the power button. I haven't yet had the opportunity to reproduce.

[2015-01-20 17:12] coopernurse commented on #4036
No luck here.  I built a dynamically linked docker binary on our Jenkins box (CentOS 7) and restarted docker.  None of our builds work.  We're getting errors like this at the end of `docker build`:

[code]

I tried rebooting this VM to see if that had any impact, but it didn't.

[2015-01-20 17:16] virtuald commented on #4036
Sad. We haven't had a single devicemapper related error yet.

[2015-01-20 17:20] anandkumarpatel commented on #10191
+1. I think it would also be great if we could pass in arguments to docker build which propagate to all the containers ran during the build. This would allow resource constraints as well as volumes/networking

[2015-01-20 17:24] lauraglasu commented on #7336
+1

[2015-01-20 17:25] anandkumarpatel commented on #10171
+1 very useful would also help wit solve  https://github.com/docker/docker/issues/10191

[2015-01-20 17:35] vishh commented on #8551
@crosbymichael: We will need another flag to alter the `oom_score_adj` on containers to offer differentiated QOS.

[2015-01-20 17:46] phemmer commented on #10218
Just curious, but why was this tagged with devicemapper? The issue appears to be with iptables, not the storage driver.

[code]

@zopyx Do you have a firewall daemon of some sort running? Something which may have removed the `DOCKER` chain?
Can you run `iptables -t nat -nvL` and provide the output here?

[2015-01-20 17:50] zopyx commented on #10218
[ajung@docker base]$ sudo iptables -t nat -nvL
[sudo] password for ajung:
Chain PREROUTING (policy ACCEPT 71 packets, 2871 bytes)
 pkts bytes target     prot opt in     out     source               destination
13988  645K PREROUTING_direct  all  --  *      *       0.0.0.0/0            0.0.0.0/0
13988  645K PREROUTING_ZONES_SOURCE  all  --  *      *       0.0.0.0/0            0.0.0.0/0
13988  645K

[2015-01-20 17:51] jfrazelle commented on #10213
Closing, as this seems to be fixed for existing repos thanks all for the speedy fix

[2015-01-20 17:51] #10213 closed

[2015-01-20 17:53] phemmer commented on #10218
Yup, that appears to be the issue. You have something which is manipulating the iptables firewall, and it deleted the `DOCKER` chain.

[2015-01-20 17:55] zopyx commented on #10218
How do you restore the docker chain?

2015-01-20 18:54 GMT+01:00 Patrick Hemmer <notifications@github.com>:

[2015-01-20 17:56] phemmer commented on #10218
@zopyx simplest solution is to restart docker. But if this other tool is managing the firewall, it could wipe it out again.

[2015-01-20 17:58] jfrazelle commented on #10207
Hmmm this is super odd, have you tried adding a rule to the iptables chain manually through the command-line? Does that work? Maybe there is some sort of problem with permissions?

[2015-01-20 18:00] jfrazelle commented on #10207
Also what is the output of `iptables-save`

[2015-01-20 18:03] jfrazelle commented on #10207
Sorry for all the replies, this is just quite odd.
I have a fedora 21 machine for our jenkins matrix and have not seen this. Maybe also your kernel is missing a specific config. Can you try curling and running this script https://raw.githubusercontent.com/docker/docker/master/contrib/check-config.sh

[2015-01-20 18:05] zopyx commented on #10218
I don't know of any tool. The only changes made to the firewall settings
was adding some public ports...but I will check

2015-01-20 18:57 GMT+01:00 Patrick Hemmer <notifications@github.com>:

[2015-01-20 18:15] jfrazelle commented on #10214
@bfirsh I feel like you may have some good opinions on this

[2015-01-20 18:17] tianon commented on #9453
It's really bizarre that even with `AUTO_GOPATH=1`, Go is looking in `/usr/lib64/golang/src/pkg/github.com/kr/pty` to find `github.com/kr/pty`. :cry:

It's going to be very, very verbose, but could you please try `bash -x ./hack/make.sh dynbinary` (with `export AUTO_GOPATH=1`) so we can hopefully see where it's tripping up?

BTW, when you're posting code blocks or other output, you should enclose

[2015-01-20 18:19] bgrant0607 commented on #8551
Let's keep the `oom_score_adj` issue separate -- please file a separate issue, since I don't see one. The cgroup parent alone will solve several problems for us.

[2015-01-20 18:21] jperrin commented on #3182
Keep in mind that 6.5 does not have the newest kernel available to centos. I would recommend a simple 'yum update' to 6.6 and a reboot to test with the 2.6.32-504.3.3 kernel.

[2015-01-20 18:24] ripienaar commented on #3182
Confirm the very latest kernel and distro updates for CentOS 6 works fine and releases space.

[2015-01-20 18:29] sybrandy commented on #3182
ripienaar: Can you explicitly state which CentOS 6 and kernel version you are using?  I just want to make sure that when I pass the info along, I have all of the info I need.

thanks.

[2015-01-20 18:32] jbiel commented on #3182
As @reiz commented above, this is happening with latest Ubuntu 14.04 + latest docker. dmsetup targets shows thin/thin-pool of v1.9.0 on one of our instances (no active docker containers.) dmsetup targets doesn't show any thin entries on a similar instance with active docker containers. (I'm not really asking for help on this, just adding (hopefully useful) data.)

[2015-01-20 18:42] erikh commented on #10220
+1. This should be simple to implement in the new driver, and is probably causing a number of people grief.

Please send a patch. :)

-Erik

[2015-01-20 18:57] ripienaar commented on #3182
Basic OS stuff:

[code]

Usage:

[code]

Previous to getting onto that kernel it would not recover space.

[2015-01-20 19:00] tnachen commented on #8551
+1 as well.
I think one nice to have for all systems integrating with docker, is that the cgroup path for a container is also available via docker inspect, therefore it's at a set place to look up.

[2015-01-20 19:02] coopernurse commented on #4036
More details on what I'm seeing with a dynamically linked docker binary.  The devicemapper mounts never unmount, so they stack up and presumably cause the "device or resource busy" errors.

[code]

Things go back to normal if I shut down docker, restore the static binary, and reboot the VM.

[2015-01-20 19:10] vbatts commented on #4036
@coopernurse I can't say that the EBUSY is related to this "no such file or directory" issue.

[2015-01-20 19:17] sebbacon commented on #10178
Finally, I suspect the cause of our inode exhaustion was that described in issue #9755

[2015-01-20 19:28] sebbacon commented on #9755
Given the days of `aufs` [appear numbered](http://developerblog.redhat.com/2014/09/30/overview-storage-scalability-docker/), we'll try the `DeviceMapper` backend and see if that suffers from the same problem, and report back here.

[2015-01-20 19:34] thockin commented on #8551
FWIW, we should mention that this will remove the ability to examine the
/docker cgroup and see all containers.  I'm OK with that.

On Tue, Jan 20, 2015 at 11:01 AM, Timothy Chen <notifications@github.com>
wrote:

[2015-01-20 19:52] rhvgoyal commented on #4036
@coopernurse

I guess make sure that dynamic binary is starting from a clean state. That is stop docker, make sure all dm device and pool device is gone. (dmsetup table). If not use "dmsetup remove" to remove devices and then restart dynamically build docker again and see if you still face the problem.

[2015-01-20 20:02] duglin commented on #10063
With the new -f option on "docker build" it might make a solution a bit easier

[2015-01-20 20:10] simonthum commented on #10169
The dns settings didn't change anything. I assume that the exception in the log, while obviously a followup, could be handled better. Any then it seems the common them in those bug is the computation of hashes that don't match, is there anything I can do to examine hash computation in more detail?

[2015-01-20 20:15] skozin commented on #9665
I'm seeing this too on Docker 1.4.1.

I perform periodic health checks using ephemeral containers attached to the target container's network (via the `--net container:xyz` flag). It seems that one of these containers started nearly at the moment target container died. This may be somehow related to the issue, but I'm not sure.

Here is the related log (I replaced ids of target and check containers

[2015-01-20 20:23] andreas-kupries opened #10224 "Docker cli ignores environment variable http_proxy"
When running a command like

    http_proxy=http://proxyhost:8080 curl ...

the logs of the proxy in question show that it got used.
On the other hand, when running

    http_proxy=http://proxyhost:8080 docker search foo

nothing is left in the proxy logs at all.
Looks like the client ignores the proxy setting and keeps talking directly to the registry|hub.

[2015-01-20 20:27] duglin commented on #9866
can we close this?

[2015-01-20 20:28] thaJeztah commented on #10224
Are you running the current "master" build? This PR was recently merged and should be in the next release; https://github.com/docker/docker/pull/9951

If you want to test the current "master" build, you can download these from master.dockerproject.com

[2015-01-20 20:41] thomasschaeferm commented on #3609
Thanks for the work. I (in reality stefan-it)  can confirm that --fixed-cidr-v6 with an extra prefix works.
You write in Issue 10159
"You need to have an IPv6 subnet routed to your host machine. From that subnet you can use addresses for your containers."

Is this the only possibility to use IPv6?
Why not just "bridging" the LAN and the containers, so that slaac/dhcpv6 works with one /64 instead o

[2015-01-20 20:54] andreas-kupries commented on #10224
I got the "latest" lxc-docker apt package yesterday, as per
https://docs.docker.com/installation/ubuntulinux/#docker-maintained-package-installation

"docker version" reports
Client version: 1.4.1
Client API version: 1.16
Go version (client): go1.3.3
Git commit (client): 5bc2ff8
OS/Arch (client): linux/amd64
Server version: 1.4.1
Server API version: 1.16
Go version (server): go1.3.3
Git commit (se

[2015-01-20 20:57] thomasschaeferm commented on #10159
Which configs? Our [ntp](https://www.lrz.de/services/netzdienste/ntp/) servers are top secret! :-)
I also have to thank stefan-it.
(for patience he had)

[2015-01-20 21:00] MalteJ commented on #3609
Hi Thomas,
at first, you don't need a /64 for every single container. A container will only get one IPv6 address. From a subnet of a size that is up to you (I recommend /80 minimum). We don't use SLAAC so we don't depend on a /64.
Yes, at the moment the routed configuration is the only supported one.
We cannot share a subnet between multiple hosts. The reason for this is hidden in the Docker inter

[2015-01-20 21:03] MalteJ commented on #10159
@thomasschaeferm https://github.com/stefan-it/JiffyArch/commit/a3ef941a4e4409f565c7abc52e18f3837f27c6e4 :wink:

[2015-01-20 21:03] thaJeztah commented on #10224
The PR I referred to is not yet in that release, but will be in the upcoming 1.5 release. You can wait for that release, or try a master build from https//master.dockerproject.com. Note that the master builds are the current "development" versions; they are tested using the automated tests, but don't run them on production / important things, because they *can* contain bugs.

[2015-01-20 21:20] vbatts commented on #9562
Largely this issue sounds like a duplicate of #4036
For many hosts #10195 will help address this issue. If you rebuild on docker master, or wait on the upcoming docker-1.5 release, you can use this fix. Ensure that `docker info` includes the output `Udev Sync Supported: true`

[2015-01-20 21:20] #9562 closed

[2015-01-20 21:21] vbatts commented on #4036
For many hosts #10195 will help address this issue. If you rebuild on docker master (as of 2d61a62378a2aa9d0b05023e05d2632b596c61c4), or wait on the upcoming docker-1.5 release, you can use this fix. Ensure that `docker info` includes the output `Udev Sync Supported: true`

[2015-01-20 21:31] andreas-kupries commented on #10224
Thanks. Currently trying with the 141-dev version from master.dockerproject.com.

This one changes behaviour a bit. When I try
    http_proxy=http://localhost:8080  ./docker search a
I now get
    FATA[0000] Error response from daemon: 404 page not found

Whereas when I try
    http_proxy=http://localhost:8080 curl http://arxiv.org/abs/1412.7725
it works fine, returning the page in question. So, t

[2015-01-20 21:32] nwood888 commented on #10218
I'm running into the same issue.  I've determined that once docker is running, if I restart iptables (systemctl restart iptables) the docker chain is lost and I need to restart docker to get going again.  Maybe I should be restarting iptables a different way or maybe docker should persist the chain somewhere?

[2015-01-20 21:34] ibukanov commented on #2801
@Xoib

See https://github.com/ibukanov/ahome/tree/55c1ba708a4b47c7ec4c1d4d3fad7e4ccb90dd9b/dev/browser-thip . That assumes a writable /etc/hosts that comes with Docker 1.2 IIRC. There `start` is a bash script that is a default command for the container. It assumes that /info/web/ip comes from a read-only host volume shared with another container. That container, before starting the main process, w

[2015-01-20 21:40] jlhawn opened #10226 "Registry version resolution is ambiguous if unknown version endpoint requires auth"
Currently, `docker login ...` with a registry endpoint that does not specify `v1` or `v2` explicitly, docker will attempt to ping a `/v2/` endpoint then a `/v1/_ping` endpoint to determine which version of the registry API is supported. However, the v2 ping process interprets a `401 Unauthorized` response as a valid response from a v2 registry. This can occur when the registry endpoint not v2 but

[2015-01-20 21:45] hadim commented on #7198
+1

[2015-01-20 21:49] thomasschaeferm commented on #3609
Thank you for the detailed explanation.  If I route a /64 to one host I can start 4 containers with /66 each?

[2015-01-20 21:53] MalteJ commented on #3609
No, we do not assign subnets to containers. Just single addresses.

[2015-01-20 22:00] stevvooe opened #10228 "Panic when flushing http response in engine"
Various crashes have been seen in the daemon with the following stack trace when pushing:

[code]

Full trace [here](https://gist.github.com/stevvooe/12e63e5f902b5ba7ec01), originally [here](https://www.irccloud.com/pastebin/FNlJiNgg.raw).

The cause is unknown but seems to be related to missing `io.Writer` target on a `*bufio.Writer`.

This may also be related to #10169.

@tiborvass @dmcgowan @dm

[2015-01-20 22:02] thaJeztah commented on #10224
Thanks for testing; I just noted that some instructions were added to the documentation explaining this;

https://github.com/docker/docker/pull/10192/files

[2015-01-20 22:03] thomasschaeferm commented on #3609
Now l completely confused. The option is an prefix? You take only one address out of this prefix? Is that right?

[2015-01-20 22:09] MalteJ commented on #3609
yes, that's right. Every container gets one address out of the subnet you specify with `--fixed-cidr-v6`. The subnet you define via this flag is the subnet all containers of ONE hosts are placed into.

[2015-01-20 22:12] vbatts commented on #10021
@ming-relax honestly I am not able to reproduce this at all. Also, if you have the extra disk(s) that you can alllocate for docker's use, please consider using the `--storage-opt` flag to give devicemapper a dedicated data and metadata block device. This is what it accomplishes by default in the loopback files. Though direct block device will be much better performance. See https://github.com/dock

[2015-01-20 22:22] andreas-kupries commented on #10224
Thank you. That gets rid of the 404 for me.
Yet I again still do not see proxy log data for the command

    http_proxy=http://localhost:8080 no_proxy=/var/run/docker.sock ./docker search a

Now I had a thought. Is the docker cli talking to the docker daemon and it is then the daemon(ized cli) which actually talks to the registry/hub to perform the search ?

That would explain what I see because w

[2015-01-20 22:31] thaJeztah commented on #10021
@PlugIN73 not sure if your case is the same here; this issue is about docker using up space in the wrong *location*, not "taking up space" *in general*. Bonus tip for your cleaning-up tasks; if you clean up containers that use "volumes", use `docker rm -v ...` to also delete the volumes, otherwise they will be left behind.

[2015-01-20 22:33] andreas-kupries commented on #10224
Confirmed. Stopped the daemon, then started my own, with the proxy properly set.
The operation now appears in the proxy logs.

[2015-01-20 22:37] thaJeztah commented on #10224
Great, was just about to respond that, yes, the *daemon* queries the registry; http://docs.master.dockerproject.com/reference/api/docker_remote_api_v1.17/#search-images

Thanks again for testing this new feature and good luck with your dockers!

(You should be able to close to issue, because you opened it, thanks!)

[2015-01-20 22:40] BrianBland commented on #10228
I received the same issue when pushing (504 error on layer upload). Stack trace [here](https://gist.github.com/BrianBland/b7d3bfb87d4d7d8655c8).

[2015-01-20 22:47] #10224 closed

[2015-01-20 22:53] stevvooe commented on #10228
For reference, @BrianBland encountered this panic with the binaries from here: https://github.com/docker/docker/pull/9784#issuecomment-70392527.

[2015-01-20 23:37] #9629 closed

[2015-01-20 23:41] devinrsmith commented on #9629
Sweet! Thanks.

[2015-01-20 23:49] cpuguy83 commented on #9768
Resolved by #10147

[2015-01-20 23:49] #9768 closed

[2015-01-20 23:57] jfrazelle commented on #9801
closing as fixed by #10147

[2015-01-20 23:57] #9801 closed

[2015-01-21 00:03] stevvooe commented on #10228
The issue seems to be a double close on the value of `(*engine.Job).Stdout` when calling `(*TagStore).pushV2Repository` from `(*TagStore).CmdPush`. `job.Stdout` is allocated as a `(*utils.WriteFlusher)` and flows into `(*Session).PutV2ImageBlob` through the `out` argument of `ProgressReader`. When the job completes, during some server error, the call stack returns early, closing all of the output

[2015-01-21 00:16] alinz commented on #1824
For multiple nics with docker

[2015-01-21 00:21] jfrazelle commented on #10228
I wish there was a way to test it

[2015-01-21 00:49] bcornec commented on #9453
Thanks for your help Tianon, and sorry for the format issue.

Here is the log with bash -x:

[code]

[2015-01-21 00:54] jfrazelle commented on #8356
Ya we can't do it though because hairpin nat and 2.6.x kernels :( it was sooooo close

[2015-01-21 00:56] vishh opened #10232 "Docker container status 'Running' after init process has exited."
Docker reports container status as 'Running' when the init process has exited and the libcontainer 'state.json' file has been removed by docker.

[code]

The cgroups exists, but no tasks are running inside. Is docker busy trying to delete the cgroups? I don't see anything in the logs though.

[code]

[2015-01-21 00:57] vishh commented on #10232
cc @dchen1107, @LK4D4, @crosbymichael

[2015-01-21 01:10] krystism commented on #10191
+1. I'd like to expose my host network when i build image. #10171

[2015-01-21 01:34] dmcgowan commented on #10228
The fix I am trying to test (still haven't been able to reproduce)

[code]

[2015-01-21 01:39] taohu commented on #9986
Hi,
I'm working on this, but found a problem that is addressed by #10215.

[2015-01-21 01:44] vieux opened #10233 ".docker/key.json: permission denied"
On my dev environment, I start the docker daemon using `sudo`

In my `~/.docker` the trust file `key.json` is created when the daemon starts, owned by root.

Since a few days, I believe the client is also generating such a key and use it to validate pulls and pushes.

The issue is, as I'm using `sudo`, the client is trying to read the `key.json` file owned by root instead of created it's own.

So

[2015-01-21 02:11] LK4D4 commented on #10228
@dmcgowan seems legit. Still not sure how to reproduce this :/

[2015-01-21 02:14] LK4D4 commented on #10232
@vish I think it is realted to my recent fix for retrying cgroups deletion in libcontainer. Should be in master now.

[2015-01-21 04:23] mcfiredrill commented on #9866
Why not have it in the body instead of the query string? Its modifying data right?

[2015-01-21 06:01] zopyx commented on #10218
Also this issue shows again that the monolithic design of Docker is broken
by design..giving up further tries with Docker. Docker is completely
unusable. I wished the developers would turn on their brains and think
about the bullshit they put into code before bringing such a fragile
technology into the world and get $$$$$$ venture capital for bullshit that
has more flaws than features.

2015-01-20

[2015-01-21 06:05] lexinator commented on #3182
@jperrin mentions this be resolved using centos kernel 2.6.32-504.3.3.  is it known which kernel commit(set of commits?) that resolve this issue?

I am currently using one of Oracle Enterprise Linux 3.8 UEK.

[2015-01-21 07:10] #10226 closed

[2015-01-21 07:21] tiborvass commented on #10228
Have trouble reproducing it now :(

[2015-01-21 07:24] tiborvass commented on #10214
@jfrazelle We could tabformat it.

[2015-01-21 07:46] tiborvass commented on #10228
@stevvooe @dmcgowan sorry guys, I tried to reproduce it but can't. Should we still make one of those changes? /cc @jfrazelle @LK4D4 @icecrime

[2015-01-21 08:16] thomasschaeferm commented on #3609
I am still not very happy with the "routed" configuration. This is very hard. Here at the Uni the routers are in the hand of the lrz. At home (speedport, fritz.box, ....except openwrt) you have no chance to set extra routes.
In respect to your last big comment (about docker inspect and the reasons why slaac does'nt work)
One further question:

Is your solution compatible with an /128 prefix (alias

[2015-01-21 08:30] ktraghavendra commented on #10063
Thanks Doug, looking into that option

[2015-01-21 10:25] MalteJ commented on #3609
NDP-Proxying may work. I haven’t tried it yet.

[2015-01-21 10:30] MalteJ commented on #3609
Be careful with duplicate MAC addresses when using Docker on multiple hosts on the same ethernet link.
If I remember correctly the containers' MAC addresses are generated from their IPv4 address!!!
That means the container with IP 172.42.0.2 on host A has the same mac as the container with IP 172.42.0.2 on host B!

[2015-01-21 11:48] duglin commented on #9866
Dunno - convenience?

[2015-01-21 11:50] ktraghavendra commented on #10063
Thanks again. -f option made everything very easy now.
 I have the changes now in https://github.com/ktraghavendra/docker/commit/e8107ac885e5fc3be9ba77be004786ee4b7b7ebd .

[2015-01-21 12:03] unclejack commented on #10218
Similar problems have been encountered with third party firewall scripts and cron jobs which alter netfilter (iptables) rules, and chains.
This has been observed in https://github.com/docker/docker/issues/9236 and it turned out it was actually APF (Advanced Policy Firewall, https://www.rfxn.com/projects/advanced-policy-firewall/). The user had this on their system and it was making their container

[2015-01-21 12:04] discordianfish commented on #8356
@jfrazelle I thought hairpin nat was added. What is the problem with 2.6.x kernels? We don't even support 2.6 anymore: https://docs.docker.com/installation/binaries/#check-kernel-dependencies
And even if we need it for some older kernels, can't we just introduce a global flag to disable the proxy?

[2015-01-21 13:22] phemmer commented on #8356
@discordianfish See #9269 and #9134

[2015-01-21 13:39] unclejack commented on #10217
@balakrishna3283 You can move network interfaces from the host to a container using https://github.com/jpetazzo/pipework.

There's going to be a new networking implementation which makes everything more flexible and will allow you to set up networking in a different way. This is currently being discussed as a proposal here: https://github.com/docker/docker/issues/9983

I'm going to close this issu

[2015-01-21 13:39] #10217 closed

[2015-01-21 13:41] unclejack commented on #10174
This is a duplicate of #5684 and #4036.

This particular error will be fixed by #10225. Other errors seen in #4036 have been fixed by #10195.

I'm going to close this now.

[2015-01-21 13:41] #10174 closed

[2015-01-21 13:43] unclejack commented on #10165
Docker doesn't support i686 right now. This needs quite a bit of work before it can happen.

Please use amd64 (x86_64) in the meantime. Please keep in mind that x86 images can be used on amd64.

[2015-01-21 13:43] #10165 closed

[2015-01-21 13:46] clcollins commented on #4036
Can confim: Built 1.4.1-dev from master yesterday and the issues on our build server have disappeared.  Thanks @vbatts!

Incidentally, if you try to build the binary using Docker on a host that's effected by this, it is extremely difficult - every third layer fails with the same error.  Not sure why I thought that was a good idea.  Layer caching proved it's worth right there.

[2015-01-21 13:46] unclejack commented on #9862
@foxwang @chengweiv5 Please install all system updates using `yum update` and let us know if you can still reproduce this on the latest CentOS 6 and latest CentOS 7 kernels.

[2015-01-21 13:47] unclejack commented on #9856
@marcellodesales @chenchun Please install system updates using `yum update` and reboot. I believe these problems may have already been fixed in the latest kernels provided by CentOS.

/cc @vbatts

[2015-01-21 14:32] vbatts commented on #4036
good to hear @clcollins

[2015-01-21 15:06] apostol7 opened #10239 "pper"

[2015-01-21 15:24] #10239 closed

[2015-01-21 16:10] omribahumi opened #10240 "`docker run` fails occasionally on Ubuntu 14.04 when running on AWS"
Failure:
[code]

How to reproduce:
1. Start a fresh instance (c3.large) using the latest Ubuntu AMIs (PV: ami-92f569fa, HVM: ami-44e9752c)
2. Install docker ocker with `curl -sSL https://get.docker.com/ubuntu/ | sudo sh`
3. Run the following code as root:
[code]

After few iterations, the above error is reported.

[code]

Logs:
[code]

[2015-01-21 16:12] chrisnew commented on #8721
Just encountered the same issue. Aliased links are missing after restart of linked container. Even stop and start of the container doesn't work. Container needs to be re-created.

[2015-01-21 16:23] cpuguy83 commented on #8721
confirmed on 1.4.1

[2015-01-21 16:25] tiborvass commented on #9570
@ewindisch what do you think about this issue? Should we allow this for insecure registries?

[2015-01-21 16:26] cpuguy83 commented on #8721
And also on master.

[2015-01-21 16:31] chrisnew commented on #8721
Oh, I forgot to add: I'm also on master.

[2015-01-21 16:33] Vad1mo opened #10241 "Docker fail to pull existing image with no such Id"
Im using latest docker on our build server.
when running `docker pull java:8u40-jre` I get this error:
[code]

The image exist and is download but after downloading there is the pop. It looks like there is not space to store but the server has over 100GB left.

[code]

[2015-01-21 16:35] bobrik opened #10242 "Panic in Volume.createIfNotExist"
I'm running build from master, getting the next error:

[code]

Problematic snippet of code:

[code]

`err` is actually `stat error: stat : no such file or directory`.

[2015-01-21 16:41] bobrik commented on #10242
Wiping `/var/lib/docker` fixed the problem. I'm using devicemapper btw.

[2015-01-21 16:41] tiborvass commented on #10242
@bobrik Thank you very much for your report.
Would you be able to provide a way of reproducing it?

[2015-01-21 16:47] omribahumi commented on #10240
Is this related to #4036 ?

[2015-01-21 16:51] vbatts commented on #9856
@marcellodesales wait, so you are reporting a couple of issues.
You initially had a failure in devmapper on a link time reference to a function? Funny i've never seen that before. And not sure that I would fix it by pulling packages from various repos just yet.
Can you provide your `docker info`, `docker version`? Also, where are you installing docker from?

[2015-01-21 16:55] bobrik commented on #10242
@tiborvass unfortunately I can't do it anymore.

[code]

This is how `v` looked like when it was failing.

[2015-01-21 17:02] vishh commented on #10232
Removing the memory cgroup seems to fix the problem. Thanks @LK4D4. Will there be any patch releases with your fix?

[2015-01-21 17:07] cpuguy83 commented on #10242
I see in the code why the panic happened, but curious how to reproduce it.

[2015-01-21 17:17] LK4D4 commented on #10232
@vishh It will be in 1.5 release, which expected February 2.

[2015-01-21 17:20] bobrik commented on #10181
I compiled docker with cgzip and ran into an error when tried to download image packed with usual docker instance:

[code]

@unclejack is this what you meant?

My `gunzip.go -c` works as expected without any errors on the same layer file.

[2015-01-21 17:21] LK4D4 commented on #10228
@tiborvass `nil`-ing dests seems good thing to do. We can try.
Reproducing of crash is pretty hard really because it's involving network failures.

[2015-01-21 17:27] Vad1mo commented on #4036
Is there are currently workaround for the problem? I switched back from kernel 3.14x to 3.2x on ubuntu 14.04 and  reinstalled docker but still I experience the same problem.

[2015-01-21 17:28] icecrime commented on #10228
I just looked into `engine/streams.go` and I see no code path where `dests` being `nil` could have unwanted side effects, so it's worth trying.

[2015-01-21 17:30] LK4D4 commented on #8721
I'll take a look, thanks for report!

[2015-01-21 17:37] lexinator commented on #4036
@clcollins may I ask what OS and kernel version?

I am on OEL and wondering if latest UEK, http://public-yum.oracle.com/repo/OracleLinux/OL6/UEKR3/latest/x86_64/getPackage/kernel-uek-3.8.13-55.1.2.el6uek.x86_64.rpm, sufficient to fix the issue?  Perhaps a better question to ask is, do we know what kernel commits are required?

[2015-01-21 17:40] erikh commented on #10218
Hi,

So, fundamentally iptables is a transactional system. You write a bunch of rules out and then you commit the results. You can see this in `iptables-save` and `iptables-restore` implementations, and the xtables/iptc API deliberately goes out of its way to make this possible.

My point is, if APF or UFW or firewalld operate like `iptables-restore`, your rules are going to be replaced in a trans

[2015-01-21 17:44] rhvgoyal commented on #4036
Curious that what was the problem to begin with and how issue has been fixed @clcollins. I am aware that building docker statically with libdm is a problem as udev sync support gets disabled and then both libdm and udev race in device node creation/deletion. So building docker dynamically should fix it.

But if problem got resolved with static docker binary, I am curious how? calling dm_udev_set_s

[2015-01-21 17:50] nwood888 commented on #10218
In our case, centos7, Docker didn't work at all with firewalld - similar issues to what's described here https://groups.google.com/forum/#!topic/docker-user/CUOz0el897M.

So yes, @unclejack, you are correct, we're not running a "stock install" of centos7, we switched to iptables for the above reason.

Maybe Docker plays nice with firewalld now and using it avoids the problem from this thread?  I h

[2015-01-21 18:02] unclejack commented on #10218
@nwood888 That's not the case currently, there's no integration with firewalld.
Please take a look at https://github.com/docker/docker/issues/9395 and at the PR which implements support for firewalld: https://github.com/docker/docker/pull/9397

[2015-01-21 18:10] crosbymichael commented on #8842
#9984 was merged so this is resolved.  Hope you like it!

[2015-01-21 18:10] #8842 closed

[2015-01-21 18:12] crosbymichael commented on #4530
#9984 was merged so you can now receive cpu, memory, io, network and more via the docker api

[2015-01-21 18:12] #4530 closed

[2015-01-21 18:15] crosbymichael commented on #8875
With #9984 merged you can get an aggregate view of how much cpu, memory, io, etc containers are running by doing:

[code]

[2015-01-21 18:15] #8875 closed

[2015-01-21 18:19] jfrazelle opened #10245 "Noisy registry debug logs"
ping @dmcgowan @jlhawn

can we do something about this, its not even giving what you would think would be helpful between the first `()`
[code]

[2015-01-21 18:31] clcollins commented on #4036
Ignore my confirmation above.  It appears that we may just have had a brief respite.  After switching to the new build of the Docker binary mentioned above, things built just fine for about 14 hours, but some of the builds started failing with the same error this afternoon.  In this case it appears to be an improvement still - down to about 1/5 builds from closer to 4/5 before.  Nothing I know of

[2015-01-21 18:48] coopernurse commented on #4036
@rhvgoyal I tried the dynamic binary again today - same results.  Here are my steps:

1. `git pull`  (latest from master)
1. `AUTO_GOPATH=1 DOCKER_BUILDTAGS="selinux btrfs_noversion" hack/make.sh dynbinary`
1.  `systemctl stop docker docker.socket`
1. `cp bundles/1.4.1-dev/dynbinary/docker-1.4.1-dev /usr/bin/docker`
1. `cp bundles/1.4.1-dev/dynbinary/dockerinit-1.4.1-dev /usr/bin/dockerinit`
1. `r

[2015-01-21 18:51] stevvooe commented on #10228
@icecrime @LK4D4 @tiborvass @dmcgowan @jfrazelle Please talk to @BrianBland about a reproduction. He has seen the crash several times.

[2015-01-21 18:57] crosbymichael commented on #10232
Closing this for now as the fix has been merged.  Thanks for verifying!

[2015-01-21 18:57] #10232 closed

[2015-01-21 19:05] #5938 closed

[2015-01-21 19:21] crosbymichael commented on #10228
Maybe a better fix would be to prevent a double close on the progress reader since it writes some final bytes to the underlying writer before doing a close, it's not re-entrant

[2015-01-21 19:36] gregsymons commented on #9892
I've seen the same problem. I've expanded my ENVs to one-per-line... but that's a lot of extra layers.

[2015-01-21 19:38] LK4D4 commented on #8721
Yup, it never worked. Code is just wrong :)

[2015-01-21 19:56] stevvooe opened #10247 "Future proof `Docker-Distribution-API-Version` header for registry version detection"
The detection of the registry version needs to be a little more flexible to make variations on header format easier to handle.

@jlhawn

Please see for details: https://github.com/docker/docker/pull/10227#discussion_r23328097

[2015-01-21 19:56] zopyx opened #10248 "Docker embarrasing slow on execution"
Running my own image on a CentOS 7 host, clean installation, no other jobs running is embarrassing slow.

docker run -p 12020:12020 zopyx/xmldirector-plone

takes in the range 5 to 10 minutes under Docker control.

Running the same code on same virtual machine usually takes less than one minute.

The image starts eXist-db, pre-allocates the CMS Plone and starts it.

The related Dockerfile is here

[2015-01-21 20:06] chrisnew commented on #8721
Glad you found out what's wrong! Can't wait to have it back working. :)

[2015-01-21 20:19] stevvooe commented on #10228
@crosbymichael That is probably the "write" fix.

I have a small patch to change `WriteFlusher` to intercept close correctly. I'll try to get that out today.

[2015-01-21 20:25] tianon commented on #9453
It looks like it might be picking up some old state in `/usr/lib64/golang/src/`.  Can you do a `find /usr/lib64/golang/src/pkg/github.com` and paste the output here?  Even if there are just empty directories in there, that could cause what we're seeing (my hunch is that `go env GOROOT` will be `/usr/lib64/golang`, and Go will prefer packages that already exist in the `GOROOT` over anything anywher