[2016-09-25 09:00] #26887 closed

[2016-09-25 09:20] xiaods commented on #26747
this is not bug?

[2016-09-25 09:22] xiaods commented on #25483
update on swarmkit?

[2016-09-25 10:56] vingrad commented on #24862
+1

[2016-09-25 11:19] belovanton commented on #26883
Any luck with reading logs?

[2016-09-25 11:23] allencloud opened #26890 "docker/master shows two overlay network plugins in `docker info`"
**Description**

**Steps to reproduce the issue:**
1. build the docker/master code
2. use the newly built dockerd to run docker daemon
3. execute `docker info`

**Describe the results you received:**
[code]
Got two overlays.

**Describe the results you expected:**
[code]
Only one overlay.

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker ve

[2016-09-25 11:32] schovi commented on #26855
@freearhey As I wrote in Issue, this works fine. But why it worked for me for about a week and for few colleagues it still works (and for some it have never worked). It is something worth resolving to work or not work for all same :)

[2016-09-25 11:39] milosivanovic commented on #26872
@AkihiroSuda Excellent find! I've confirmed that, on Linux, `sudo bindfs --map=root/milos /var/lib/docker/volumes/volname/_data /mntpoint` will mount the `volname` volume to `/mntpoint` on the host and ensure any files owned by root in the container (which is all of them, in my case) seem as if they are owned by milos. Both creating and deleting files inside `/mntpoint` works flawlessly without th

[2016-09-25 11:56] hansij66 commented on #26567
It happened again; I got connectivity back by:
set iptables=false to true to false (and restarting dockerd & removing docker0 in between)

[2016-09-25 12:08] justincormack commented on #26872
Docker for Mac already maps user ids of shared volumes to the user on the
Mac, so you don't need to use bindfs in this case.

On 25 Sep 2016 12:39 p.m., "Milos Ivanovic" <notifications@github.com>
wrote:

[2016-09-25 12:22] milosivanovic commented on #26872
@justincormack I appreciate the reply but I don't understand your response. Which shared volumes are you referring to? If I have a container directory `/volmount` that I want to access on the Mac host, how do I go about doing that?

[2016-09-25 13:21] anttiviljami commented on #22325
I specify explicit ports like so:
[code]

Yes. I always specify: `--restart=always`

So the container wouldn't restart after stopping due to the `bind: address already in use.` error. But yes, even after stopping the container, the host port was proxied to a different running container. This was all confirmed on 1.12.1.

I'm specifying `--bip 172.17.42.1/16` for the docker daemon.

I did, but I'm

[2016-09-25 13:57] thaJeztah commented on #26887
Thanks for helping out @michelvocks

[2016-09-25 14:19] grostim opened #26893 ""oci runtime error: no such file or directory.""
**Description**

When creating a container, it fails with error

**Steps to reproduce the issue:**
1. exec  the following command line (or any other container)

2. enjoy the cryptic error message.

**Describe the results you received:**

**Describe the results you expected:**

A working container ?

**Additional information you deem important (e.g. issue happens only occasionally):**

Here are the

[2016-09-25 14:33] thaJeztah commented on #26888
Looks like it was removed in https://github.com/docker/docker/pull/10547, to keep the output under 80 chars wide. However, I see other commands output being wider, so let me open a PR to add it back (we can discuss on the PR)

[2016-09-25 14:54] #24538 closed

[2016-09-25 15:26] thaJeztah commented on #26893
I suspect this is because of `-v /dev/tty*:/dev`. The `-v` flag does not support wildcards, so looks like that will fail. Even if it _would_ work, you're bind-mounting `/dev/ttysomething` on top of `/dev` (for each `tty`). Also bind-mounting `/dev` sounds like a bad idea (not sure it actually works)

[2016-09-25 15:37] grostim commented on #26893
I confirm that mounting a tty in /dev is working. I did it before. However, you're right, it seems that the wildcard might be the problem. Not sure i why i was convinced that i did it before too.

[2016-09-25 15:40] thaJeztah commented on #26893
Is there a reason you need to run _privileged_ for a web server? It's _really_ insecure, basically running privileged would give the web server root access to your host (so there's no protection from the container)

[2016-09-25 16:06] grostim commented on #26893
Yes,
Jeedom is a Home Automation server. It needs access to hardware install on the host.

[2016-09-25 16:26] thaJeztah commented on #26889
Yes, this hasn't been tested, so it doesn't surprise me it doesn't work fully. @justincormack @rneugeba any ideas here?

[2016-09-25 17:54] rneugeba commented on #26889
@MicahZoltu I'm afraid that running `docker` from within WSL against Docker for Windows is not supported and is unlikely going to be supported for a number of reasons.

The environment WSL processes execute in is quite different to standard Windows processes, in particular when it comes to the filesystem. For example, symlinks "work" for WSL processes but only is special parts of the filesystem an

[2016-09-25 18:47] MicahZoltu commented on #26889
@rneugeba Does this mean that using a Linux or OSX docker client to communicate with a Docker for Windows host is also not supported?  I would assume that the interaction would be the same.

What about the inverse?  Is Docker for Windows client communicating with Linux/OSX docker host also not supported?

What about Docker client in WSL communicating with a Linux/OSX docker host?

What surprises m

[2016-09-25 19:25] milosivanovic commented on #26872
@justincormack I think I see what you mean. If I login to the xhyve hypervisor via

[code]

which already has all of Mac OS X's `/Users` mounted at `/Users`, and I run

[code]

then (on the xhyve hypervisor) the volume is correctly bound to `/Users/milos/Documents/mydir`, but on the Mac OS X host it remains empty since this bind mount is probably a layer above the shared directory. If it were to w

[2016-09-25 20:03] mwieczorek opened #26895 "[Question] Can npipe listener creation be moved to go-connections?"
In [listeners_windows.go](https://github.com/docker/docker/blob/master/pkg/listeners/listeners_windows.go) tcp listener is [created](https://github.com/docker/docker/blob/master/pkg/listeners/listeners_windows.go#L19) with [go-connections](https://github.com/docker/go-connections/) sockets package:
[code]
Can we move npipe listener creation also to go-connections?
Then it could be used also in oth

[2016-09-25 21:09] rneugeba commented on #26889
@MicahZoltu sorry, I slightly mis-understood. The windows and mac (and linux) docker clients can all talk to linux docker daemons, provided that the daemon is listening on a network socket. There shouldn't be an issue with that and that's how `docker-machine` used to work. Note, that if you connect this way, some things, like the volume mounting (`-v`) may not work.

With Docker for Windows (and M

[2016-09-25 21:15] MicahZoltu commented on #26889
I'm running on an up-to-date retail version of Windows 10 Enterprise N, 64-bit.  If you are unable to reproduce my issue, then perhaps something about my machine is broken or it will be fixed in an upcoming retail release, both of which are more promising then "doesn't work for anyone".  :)  For additional troubleshooting info, I did try completely uninstalling WSL and re-installing it.  I have no

[2016-09-25 22:12] rneugeba commented on #26889
Hmm, this indeed seems to be an issue with WSL when the context is larger. Sending the same context (with the same Dockerfile) via powershell (from `C:\Users\<user>\AppData\Local\lxss\home\<user>`) works fine.

As mentioned, we don't really support this configuration...it just happens to work, kinda/kinda not. I personally don't consider WSL ready for prime time in any case...to many things don't

[2016-09-25 22:33] justincormack commented on #26889
I recommend filing a bug at https://github.com/Microsoft/BashOnWindows with
how to reproduce, Microsoft have been fairly responsive there.

On 25 Sep 2016 23:12, "Rolf Neugebauer" <notifications@github.com> wrote:

[2016-09-25 22:57] justincormack commented on #26872
@milosivanovic yes that mount is the wrong way round, you have to bind from the Mac volume. Which means the `docker volume create --opt type=none --opt device=<host path> --opt o=bind` version works, but I don't think you can create the volume on the Linux side.

[2016-09-25 22:58] justincormack commented on #26895
Note we currently have an issue to remove go-connections https://github.com/docker/docker/issues/26802

[2016-09-25 23:09] justincormack commented on #26889
I am going to close this as it is not a supported platform, but please do continue to post here, and let us know when there is a fix, as you are not the first person to try this, just as far as I know the first to find an issue.

[2016-09-25 23:09] #26889 closed

[2016-09-25 23:12] justincormack commented on #26888
Does the `log-level` command do anything on the client? This is not discussed in the docs, and it does not appear to do anything...

[2016-09-25 23:15] justincormack commented on #26864
@ketzacoatl but in your case you don't want `/bin/sh` to run I thought? As it is not passing the signals to your application, so you want  your application to be the entrypoint?

[2016-09-25 23:53] CrimsonGlory commented on #26323
Can't consistently reproduce.

[2016-09-26 00:11] vingrad commented on #26094
+1

[2016-09-26 00:29] kzw commented on #22753
I can confirm the missing docker0 in latest docker-mac

[code]

[2016-09-26 02:25] jmzwcn commented on #26244
Yes, I have verified using a local binary with the fix and find the issue has been gone as expect. binary [here](https://github.com/jmzwcn/jmzwcn.github.io/blob/master/docker-engine-1.13.0-0.0.20160922.000753.gitc5f4a1a.el7.centos.x86_64.rpm).

I will create a PR soon.

[2016-09-26 02:48] jmzwcn commented on #26244
Seems not find appropriate place for test.

So directly submit a PR [here](https://github.com/docker/docker/pull/26896). Please let me know if there is any problem.

[2016-09-26 03:05] allencloud opened #26897 "cli allows both lower and uppercase endpoint-mode while api only allows lower one"
**Description**
In docker cli, when we specify uppercase endpoint mode in a service, it works.
In docke daemon'a api, when we specify uppercase endpoint mode, it returns an error.

**Steps to reproduce the issue:**
1. `docker service create --endpoint-mode=DNSRR ubuntu:14.04 sleep 10000`, it works
2.`docker service create --endpoint-mode=dnsrr ubuntu:14.04 sleep 10000`, it works
3.`docker service

[2016-09-26 03:16] allencloud opened #26899 "cli creates service with vip mode by default, while api created service without endpoint mode by default"
**Description**
When we use `docker service create ubuntu:14.04 sleep 10000` to create a service, the service created has a endpoint mode of vip by default, even though we did not specify it. I think this is not reasonable.

When we call ` POST /services/create` api with the following request body (without endpintSpec in request body), no endpoint mode will created in the created service:
[code]

[2016-09-26 03:18] eromoe commented on #5684
Linux zk1 3.10.0-327.28.3.el7.x86_64(centos 7)
Docker version 1.12.1, build 23cf638

Error response from daemon: Driver devicemapper failed to remove root filesystem 228f2c2da3de4d5abd3881184aeb330a4c18e4311ecf404e2fb8cd4ffe15e901: devicemapper: Error running DeleteDevice dm_task_run failed

[2016-09-26 03:22] jmzwcn commented on #26244
Seems not find appropriate place for test.

So directly submit a PR [here](https://github.com/docker/docker/pull/26896). Please let me know if there is any problem. @xiaods @urlund @mrjana @mostolog @cpuguy83

[2016-09-26 03:22] eromoe opened #26900 "Error response from daemon: Driver devicemapper failed to remove root filesystem ...... devicemapper: Error running DeleteDevice dm_task_run failed"
Linux zk1 3.10.0-327.28.3.el7.x86_64(centos 7)
Docker version 1.12.1, build 23cf638

There is a lot of exited containers which full of the disk.
I use `docker ps -a | grep Exited | gawk '{print $1}' | xargs docker rm` to delete exited container and get:

[code]

relate to https://github.com/docker/docker/issues/5684 which is closed.

[2016-09-26 03:32] eromoe commented on #26900
After `service docker restart`, `docker ps --all` show nothings, but disk still full.

Then I tried:
[code]

not work,  `service docker status` shows:
[code]

[2016-09-26 03:34] tarikjn commented on #6396
Thank you for the extra info @aidanhs!

Regarding my proposed solution, hashes don't actually need to combined as the hash of the base image just after adding the dependencies declaration file can simply be used. Moreover it is better to simply mount the known_host file as a volume, since ssh-agent can only be used at runtime anyway -- and more secure as it contains a list of all the hosts you con

[2016-09-26 03:45] Revolution1 opened #26903 "create only one task on every manager, is using global and constraint a 'undefined behavior' ?"
VERSION: Docker 1.12.1

I need to run Interlock on my cluster. Since it needs the "/service" api, it can only run on the manager node. I want only one task on every manager.

I managed to achieve this by using both `--mode=global` and `--constraint node.role=manager`

When I use `docker service ps`, docker seems still created task on every node, only the manager's is in running state.

That is qui

[2016-09-26 03:54] coolljt0725 commented on #26900
@eromoe  Since you have deleted `/var/lib/docker/devicemapper/devicemapper/data`, I think you should also delete the  whole `/var/lib/docker/devicemapper` and try if it can restart again

[2016-09-26 04:04] xiaods commented on #25394
any update?

[2016-09-26 04:11] xiaods commented on #26772
@evanp wait for your update.

[2016-09-26 04:31] marcellodesales opened #26904 "make deb: Can't build .deb in for Docker 1.12.1: on Odroid-C2 (amd64): Makefile:86: recipe for target 'deb' failed"
**Description**

Can't build the `.deb`... Build fails with `Makefile:86: recipe for target 'deb' failed`.

[code]

**Steps to reproduce the issue:**
1. Build Golang 1.6
2. Build Docker 1.10.2
3. Start the Docker Daemon
4. Build Docker
5. Try to `make deb` and fails.

**Describe the results you received:**

First I could do a `make build` successfully... Then, I'm trying to generate the deb files

[2016-09-26 05:11] StefanScherer commented on #26904
Try building in master branch. There is no official aarch64 build in 1.12.1

[2016-09-26 05:20] ghostplant commented on #10150
Hi all, I encountered this issue as well and I finally figure out the reason and solution.
If the Docker Registry is using a pair of certs.{key,pem} that is generated by a newly version of OpenSSL, while Docker Client is using an old-version OpenSSL library, this error might affect you.
So a general solution is to upgrade your client-side OpenSSL library to the newest version, for example, >=1.0.2

[2016-09-26 05:56] xiaods commented on #24092
any update?

[2016-09-26 06:03] TanmayaA commented on #26434
@aaronlehmann Since this docker build only has to run on a docker migrator, I think I'm good using the nightly build. Will be great if you can update here, along with usage instructions, when this fix is available there.

[2016-09-26 06:03] milosivanovic commented on #26872
@justincormack As I've described, that command doesn't share data present on an existing docker image, so it is not a solution.

[2016-09-26 06:06] marcellodesales commented on #26904
@StefanScherer Let me try it and report... :(

[2016-09-26 06:22] allencloud opened #26905 "more important things needed in `docker service inspect --pretty`"
**Description**
I found no endpoint mode in `docker service inspect xxx --pretty`.
endpoint mode is really important in service concept.

**Steps to reproduce the issue:**
1. `docker service create --endpoint-mode dnsrr ubuntu:14.04 sleep 1000`
2.`docker service inspect xxxx --pretty`
3. check endpoint mode in result

**Describe the results you received:**
no endpoint mode found

**Describe the re

[2016-09-26 06:37] eromoe commented on #26900
@coolljt0725 Would that remove my docker images?

[2016-09-26 07:06] xiaods commented on #9240
ping @icecrime

[2016-09-26 07:22] lokedhs opened #26911 "Docker commandline utility does not honour the TERM environment variable"
**Description**

When running the docker command (for example `docker push`), the tool sometimes uses various terminal features such as colours. These seems to be written to the terminal as raw vt102 (or "ANSI" codes) sequences rather than using the terminfo library.

This results in garbage output on terminals which do not support vt102.

**Steps to reproduce the issue:**

One common terminal tha

[2016-09-26 07:28] stepanv opened #26912 "Subnets with conflicting ranges in Docker"
**Description**

Docker allows a creation of subnets with conflicting ranges. Additionally it assigns the same IP multiple times (both to a same docker container or a multiple ones).

**Steps to reproduce the issue:**
When using docker overlay network (with zookeeper), docker allows to create subnets with conflicting ranges (possibly not necessarily related to an overlay feature). Additionally, do

[2016-09-26 07:29] lokedhs opened #26913 "Docker commandline utility does not honour the TERM environment variable"
**Description**

When running the docker command (for example `docker push`), the tool sometimes uses various terminal features such as colours. These seems to be written to the terminal as raw vt102 (or "ANSI" codes) sequences rather than using the terminfo library.

This results in garbage output on terminals which do not support vt102.

**Steps to reproduce the issue:**

One common terminal tha

[2016-09-26 07:29] lokedhs commented on #26913
Duplicate

[2016-09-26 07:29] #26913 closed

[2016-09-26 07:29] cyphar commented on #11462
opencontainers/runc#1018 fixes this issue, and has been a long time coming. There are still other TTY-related issues but this is the first step to getting it all working. Hopefully this patchset will be merged soon.

[2016-09-26 07:47] marcellodesales commented on #26904
@StefanScherer I actually got Docker 1.12.1 on ODroid-C2...

Steps to reproduce
===

* No manpages

Based on the comments at https://github.com/docker/docker/issues/24380, I decided to comment out the manpages generation...

groot@odroid64 [09/26/2016 3:37:17] /home/odroid/dev/docker ((v1.12.1) *) # git diff
diff --git a/Makefile b/Makefile
index 445ddd7..1f7f3b6 100644
--- a/Makefile
+++ b/Makefi

[2016-09-26 07:47] #26904 closed

[2016-09-26 07:49] marcellodesales commented on #26904
@GordonTheTurtle please add the label `version/1.12.1`... `1.10` is incorrect.

[2016-09-26 07:51] xiaods commented on #25772
this issue is PR done. close wait for merged the patch.

[2016-09-26 07:54] xiaods commented on #25266
need testing.

[2016-09-26 08:02] marcellodesales commented on #26904
Just for completion, here's what my check-config is...

[code]

[2016-09-26 08:09] Vanuan commented on #26747
Just happened again.

@mrjana Seeing a log of errors:

[code]

Few seconds after that:

[code]

[code]

[code]

And several minutes later:

[code]

[2016-09-26 08:22] Vanuan commented on #26747
This time restarting docker didn't help.

[2016-09-26 08:33] thaJeztah commented on #26193
Vendor PR for 1.12.2 is here; https://github.com/docker/docker/pull/26765

[2016-09-26 08:34] thaJeztah commented on #26223
Vendor PR for 1.12.2 is here; https://github.com/docker/docker/pull/26765

[2016-09-26 08:52] #26779 closed

[2016-09-26 08:54] Vanuan commented on #26747
Now it can resolve domain names, but resolved ips don't seem to match container ips.

[2016-09-26 08:58] thaJeztah commented on #26888
IIRC `docker --debug some-command` is the same as `docker --log-level=debug some-command`, but perhaps that's no longer the case with the split of daemon/client

[2016-09-26 09:11] xiaods commented on #26884
@liweinan0423 how about give docker info update?

[2016-09-26 09:12] MarcoLotz commented on #18162
@dnephin @LK4D4 there are very good reasons for that. Retrieving complete container information for large machines (e.g. HPE DL980 - 4TB Ram, 80 cores; IBM POWER8 - up to 56 TB of extended memory) is really expensive in current API. This kind of machines may be apple to have thousands of containers running at a single piece of metal. In the past, I've depployed 10k containers on one of them.

With

[2016-09-26 09:13] tlvenn opened #26915 "Provide TLS infra for services"
Now that Docker with v1.12 and the swarm mode enabled can transparently handle TLS for its swarm, I think it would be great if this could be extended to services as well.

Most clusterable solution leverage TLS infra and ask the user to provide the CA cert as well as the node cert and this is just as tedious as settings TLS for the swarm manually.

[2016-09-26 09:19] aaronlehmann commented on #26588
Can this be closed now that #26879 was merged? Not sure why it didn't get closed automatically. Perhaps GitHub doesn't let a reopened issue get closed automatically by a PR.

[2016-09-26 09:24] thaJeztah commented on #26915
ping @diogomonica PTAL

[2016-09-26 09:43] saytik commented on #15629
confirm.  I have  updated  LVM  from  testing  repository on  Debian 8  -  fixed  the problem.

[2016-09-26 09:56] Vanuan commented on #25432
I have the same issue.

Restarting the manager results in this:

[code]

[2016-09-26 10:01] Vanuan commented on #26747
Trying to reinitialize the swarm. Seeing this:

[code]

But I want to use eth1 (10.135.x.x).

[2016-09-26 10:02] liweinan0423 commented on #26884
[code]
We have a Docker swarm cluster which is created without setting the `--listen-addr` option. We we scale a service or update a service, if the service is moved to another node in the cluster, the internal DNS records for the service name was not updated.

Then we remove the cluster and re-create the it with `--listen-addr=<node_ip>:2377` option, the cluster is working correctly.

We guess it

[2016-09-26 10:03] thaJeztah commented on #26876
Thanks @mgoelzer. Perhaps we should add this to the ROADMAP.md (I think that was mentioned elsewhere); https://github.com/docker/docker/blob/master/ROADMAP.md. wdyt?

[2016-09-26 10:14] thaJeztah commented on #26895
/cc @stevvooe

[2016-09-26 10:15] arashbina commented on #22188
Same is happening to me. I'm trying to push to a public repository I just created. There are no errors. It just keeps retrying.

[2016-09-26 10:26] Vanuan commented on #26747
I'm starting to suspect that it has never worked and the times it worked it was because all critical containers were on the same host.

[2016-09-26 10:34] mschirrmeister commented on #25325
@vieux I guess #26563 would be a duplicate of #25325 if it is the same thing. But reading #26563 is to me a different issue, since it is reported that a node is not responding at all on the port. Where the issue here is, that the port is open on all node, but it is not properly load balanced across all containers.

@mrjana I tried it with only 1 leader. I demoted to nodes, rebooted them again, onc

[2016-09-26 10:35] rajkumar49 commented on #26480
Hi , My Network Configuration in 4  LAB machines are:
**Machine 1: IFCONFIG**
docker0   Link encap:Ethernet  HWaddr 02:42:d0:b5:5e:87
          inet addr:172.17.0.1  Bcast:0.0.0.0  Mask:255.255.0.0
          inet6 addr: fe80::42:d0ff:feb5:5e87/64 Scope:Link
          UP BROADCAST MULTICAST  MTU:1500  Metric:1
          RX packets:8254 errors:0 dropped:0 overruns:0 frame:0
          TX packets:8024

[2016-09-26 10:38] Trandel commented on #7336
+1

[2016-09-26 10:39] Vanuan commented on #26747
Maybe it's because I'm using only one manager?

[2016-09-26 10:43] thaJeztah commented on #26862
This case can probably be explained; you're using `docker images -q` as the input for `docker rmi`, which can potentially return the same image twice (as you've seen in your earlier example); in such cases, it's possible that docker _untags_ the image; the second time, removal succeeded (`Deleted: sha256:2f21ea981017f65adcf0df3764756690adc35d80538bbb6dcada12990f589f37`), however, because the `dock

[2016-09-26 10:44] Vanuan commented on #26747
I'll try 2-node configuration with both to be managers and see if it'll reproduce.

[2016-09-26 11:01] rajkumar49 commented on #26480
the above output is between two LAB machines ? Any Network Port issue you think ?

[2016-09-26 11:24] delcypher commented on #18166
Modifying runc and then propagating the information through the various layers of indirection is quite complicated. As a work around I've written a tool that wraps the real program you want to run and when it exits it logs the container statistics to a file as JSON. Hopefully someone else will find this useful.

https://github.com/delcypher/docker-stats-on-exit-shim

[2016-09-26 11:42] thaJeztah commented on #26884
If I'm not mistaken, `docker swarm init` will now output an error if it has detected multiple interfaces, and require the `--listen-addr` in that case.

@aaronlehmann am I correct, or only if the first interface has multiple IP-addresses?

[2016-09-26 11:49] sanmai-NL commented on #21142
@talex5: thanks! Hope this gets documented someday.

[2016-09-26 11:53] thaJeztah commented on #26912
I think `1. disallowing a creation of subnets with conflicting ranges` this depends a bit on the kernel that you're running on. On older kernel versions (below 3.16 IIRC), creating an overlay network that overlaps with another network (or a network on the host), may result in issues. On newer kernels, overlay networks that overlap are possible. Some people use this as a feature, so I'm not sure we

[2016-09-26 11:55] thaJeztah commented on #25935
ping @justincormack ^^

[2016-09-26 12:00] hzulla commented on #26852
Being new to Docker and reading up about the concepts, this is one thing that feels "off" with swarm. On the one hand, swarm turns a cluster of docker engines into "one" entity, on the other hand each engine needs its local cache of the images.

So yes, please do add a simple way to send images from manager nodes to worker nodes without requiring a registry.

[2016-09-26 12:04] thaJeztah commented on #26871
With device mapper, a thin pool is initialized with a certain _size_, which can be _bigger_ than the actual (physical) size available. In your example;

[code]

The "data" device was initialized with a 100GB size, however, the physical space available is smaller than that, which can be seen in `Data Space Available: 3.553 GB`, which shows the actual amount of space available.

For _production_ use

[2016-09-26 12:06] thaJeztah commented on #26852
The concept is that a _registry_ should be the "single source of truth", and guarantees that you are able to reproduce the exact same setup, not relying on local build artifacts.

[2016-09-26 12:08] thaJeztah commented on #26903
ping @aluzzardi @dongluochen guess this should be documented properly, as the "constraints" section does not make mention of this; https://docs.docker.com/engine/reference/commandline/service_create/#/specify-service-constraints-constraint

[2016-09-26 12:08] reypm commented on #26862
@thaJeztah here you go:

[code]

$ docker version
Client:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   23cf638
 Built:
 OS/Arch:      linux/amd64

[code]

[2016-09-26 12:13] thaJeztah commented on #26862
ping @aaronlehmann @tonistiigi could you have a look? The "first" issue is expected (as I tried to explain in my previous comment), but not sure what could cause the second issue? (`docker rmi b1719e1db756`)

[2016-09-26 12:18] hzulla commented on #26852
It still feels off.

IMHO, the manager node is the single source of truth (if there is more than one manager node, the truth is shared using shared state information). If the manager node pulls images from a registry, that's fine and it would still follow your description. But if the manager node builds images locally (e.g. using docker-compose build), it should then be the manager node that sends

[2016-09-26 12:19] AndreFelipeMachado commented on #20022
Hello,
I tried many of the suggestions for installing on Debian Jessie.
The doc https://docs.docker.com/engine/installation/linux/debian/  is still wrong
The one that worked:
`apt-key adv --keyserver hkp://p80.pool.sks-keyservers.net:80 --recv-keys 58118E89F3A912897C070ADBF76221572C52609D`

Regards

[2016-09-26 12:19] liweinan0423 commented on #26884
I think it's the multiple IP address case. We've never seen the error be printed without the `--listen-addr` option even there are multiple interfaces on the machine.

On the other hand, the `--listen-addr` option should be mandatory for both `docker swarm init` and `docker swarm join` commands

[2016-09-26 12:21] thaJeztah commented on #18708
@aaronlehmann would https://github.com/docker/docker/pull/26354 help for this?

[2016-09-26 12:23] manast commented on #26852
@thaJeztah what about authentication? How do I configure the nodes in my swarm to properly authenticate to my private registry, is this use case documented somewhere?

[2016-09-26 12:24] xiaods commented on #26747
OMG! are u sure the host's ntp is sync?

[2016-09-26 12:25] wklm commented on #22449
Installing KB3188966 seems to solve this issue

[2016-09-26 12:25] tallandtree commented on #24370
Hi @thaJeztah, can you please respond? Should I create a new issue or can this issue be re-opened?

[2016-09-26 12:25] xiaods commented on #26588
Cool

[2016-09-26 12:27] xiaods commented on #26223
@thaJeztah thanks for your update. waiting for the #26765 merged.

[2016-09-26 12:27] thaJeztah commented on #26852
You can use the `--with-registry-auth` option to set/update credentials in the service definition. There's room for improvement in that area, and something that's being worked on. In any case, it's orthogonal to the _distribution_ of those images being discussed here

[2016-09-26 12:28] manast commented on #26852
ah ok. thanks.

[2016-09-26 12:32] hazardfn opened #26917 "Insecure Registry is not persisted after update [MAC]"
**Description**

I have a local insecure registry set up, whenever Docker for Mac updates that setting is removed. It should be persisted.

This is potentially an issue for other settings though I have not tested them.

**Steps to reproduce the issue:**
1. Add an insecure registry
2. Update the client
3. Local insecure registry list is empty

**Describe the results you received:**

An empty insecu

[2016-09-26 12:35] #26917 closed

[2016-09-26 12:40] vingrad commented on #24310
+1

[2016-09-26 12:43] aaronlehmann commented on #26884
If I'm not mistaken, docker swarm init will now output an error if it has detected multiple interfaces, and require the `--listen-addr` in that case.

It requires `--advertise-addr` in this case. If the address specified is not a local address, `--listen-addr` is required as well.

The issue described here sounds like a problem with network gossip. I imagine there's a better fix than making `--lis

[2016-09-26 12:46] akamalov commented on #25929
Is there any traction on this ? Wecannot go to production without enabling ```--userns-remap``

[2016-09-26 12:46] Trane9991 commented on #18166
@delcypher
Thank you. I also had similar idea, but I never implemented it. I will take a look on your app! :)

[2016-09-26 12:55] aaronlehmann commented on #26862
`docker rmi -f` will delete the image even if a tag references it. So you deleted `b1719e1db756` even though `ubuntu:14.04.5` references it. If you want to remove that tag, I believe `docker rmi ubuntu:14.04.5` will work.

I think all of this behavior is as expected, though `rmi` behavior is consistently convoluted.

[2016-09-26 13:02] aaronlehmann commented on #18708
No, I don't think it's really relevant. As I understand that PR, it's a tweak to the credential store functionality that avoids the need for Docker to keep track of which registries the user has logged into. The existing credential store functionality already makes it possible to avoid storing passwords in plaintext.

[2016-09-26 13:03] reypm commented on #26862
@aaronlehmann that does not work either, see the output:

[code]

[2016-09-26 13:16] thaJeztah commented on #26884
Oh, correct, I'm mistaking `--listen-addr` for `--advertise-addr`

[2016-09-26 13:35] thaJeztah commented on #26462
ping @RichardScothern ptal

[2016-09-26 13:42] manast opened #26919 "How many docker swarm managers?"
I failed to find in the documentation or in the issues any information regarding how many swarm managers I should declare. Sure, more than one if you want high availability, but how many? and why not make all nodes managers? what is the tradeoff of being a manager vs a worker?

[2016-09-26 13:59] mschirrmeister commented on #26563
I am seeing this problem now too with 1.13 dev builds. I have not seen it in my setup in older versions. At least not consistently.
With a fresh 1.13.0-dev build from today I see it very reproducable that the port is not open on some hosts.

Setup is 3 nodes and all 3 nodes are manager nodes. If I reduce it to 1 manager only, it looks much better. In the few tests with 1 manager only, it was worki

[2016-09-26 14:01] thaJeztah commented on #26071
ping @mrjana @aboch ptal

[2016-09-26 14:07] thaJeztah commented on #26027
/cc @duglin

[2016-09-26 14:08] saithala commented on #26806
@mrjana @thaJeztah.. So now I have a strange problem. After creating a custom overlay network, some services still have the same issue. In the example I mentioned above of services not able to register to  the discovery service, it now seems that some of the services can connect to the discovery and some of them cannot. The exception in the logs is
I/O exception (java.net.NoRouteToHostException) c

[2016-09-26 14:08] cpuguy83 commented on #26919
The more managers, the slower things will be.
Swarm is using raft for consensus, which requires a majority of participants to agree a particular change.
If there are more managers, it will take longer to reach consensus.
But with more managers comes greater fault tolerance.
In addition, it may not always be worthwhile (and potentially actively harmful) to add managers.

Swarm uses raft for consens

[2016-09-26 14:11] thaJeztah commented on #26563
ping @mrjana PTAL ^^

[2016-09-26 14:13] thaJeztah commented on #26919
Documentation for this is here; https://docs.docker.com/engine/swarm/admin_guide/#/add-manager-nodes-for-fault-tolerance, so I think we can close this issue

[2016-09-26 14:13] #26919 closed

[2016-09-26 14:25] thaJeztah commented on #26098
duplicate of https://github.com/docker/docker/issues/25463, and it's on the 1.12.2 milestone

[2016-09-26 14:25] thaJeztah commented on #26098
I'll close this one, as we have https://github.com/docker/docker/issues/25463 for tracking

[2016-09-26 14:25] #26098 closed

[2016-09-26 14:38] thaJeztah commented on #26263
closing because it looks like the discussion stalled, but feel free to continue the discussion

[2016-09-26 14:38] #26263 closed

[2016-09-26 14:38] cpuguy83 commented on #26014
@ageis Docker does not officially support grsec (We have no CI or anything running against it).
Getting the full/untruncated log from the jessie system would help understand where it's falling flat.

[2016-09-26 14:42] cpuguy83 commented on #26852
@hzulla I think in an ideal world engines would implement a registry, potentially with p2p transfer for use with the cluster.

[2016-09-26 14:44] hzulla commented on #26852
Right now, I'm using

[code]

to transfer all locally stored images from a manager to a worker node. I would hope that this could be automated from within the docker cli, so that locally stored images are sent / updated to the node on demand, without requiring a private registry.

[2016-09-26 14:57] bitsofinfo commented on #25325
How is this a duplicate, #26563 seems to describe a different situation

[2016-09-26 15:07] cpuguy83 commented on #26864
@ketzacoatl The correct way to handle this is to use `exec` to launch your final process.

[2016-09-26 15:10] icecrime commented on #9240
@xiaods Good catch :+1: Thanks :-)

[2016-09-26 15:10] #9240 closed

[2016-09-26 15:34] thaJeztah commented on #26194
I'm closing this issue, because there's not enough information here.

More information about overlay networking with an external k/v store (https://docs.docker.com/engine/userguide/networking/get-started-overlay/#/overlay-networking-with-an-external-key-value-store) or in Swarm mode (https://docs.docker.com/engine/userguide/networking/get-started-overlay/#/overlay-networking-and-swarm-mode) can be

[2016-09-26 15:34] #26194 closed

[2016-09-26 15:41] thaJeztah commented on #26231
I share @duglin's concerns, and don't see us supporting this. I'm not even sure this will be _possible_ in a layered filesystem, where the previous layer is always read-only.

I'll close this issue, as the example @duglin gave looks to address the use-case, and implementing this in docker would be really complicated (if possible at all).

Thanks for opening the feature request though, @netroby, it

[2016-09-26 15:41] #26231 closed

[2016-09-26 15:42] manast commented on #26919
@cpuguy83 thanks for the info.
@thaJeztah I am not really sure that the information provided by @cpuguy83 is available at your link, or at least not so complete.

[2016-09-26 15:48] ehazlett commented on #19762
I'm going to close this. @imikushin if you continue to notice issues or get a reproduce case please re-open or open a new one.  Thanks!

[2016-09-26 15:48] #19762 closed

[2016-09-26 15:50] cpuguy83 commented on #26883
@mlaventure This is another one it looks like it's getting stuck in libcontainerd waiting on a response maybe?

@belovanton Only way to get this unstuck will be to restart the daemon.

[2016-09-26 15:57] ehazlett commented on #20085
@arun-gupta I'm going to close this as it seems there is a workaround.  If you continue to have issues please open a new issue.  Thanks!

[2016-09-26 15:57] #20085 closed

[2016-09-26 16:02] aaronlehmann commented on #26862
I guess there's a problem with removing a tag when the image it points to doesn't exist. I'll take a look at this and submit a PR if it turns out to be a straightforward fix.

In general, though, I'd suggest avoiding `docker rmi -f`, because it can put you in a state like this.

[2016-09-26 16:04] mlaventure commented on #26893
@grostim in that case, you should just map the devices it need access to.

Unfortunately if you want to map all of your ttys, you are going to have to pass one `-v` for every single one of them.

Since the issue was caused by the wildcard, I'm closing this for now.

Thanks.

[2016-09-26 16:04] #26893 closed

[2016-09-26 16:04] ehazlett commented on #20857
I'm going to close this as #20863 is merged.  Please open a new issue if you feel this is not resolved.  Thanks!

[2016-09-26 16:04] #20857 closed

[2016-09-26 16:08] mlaventure commented on #26883
Re-opening, since we haven't found the root cause of what seems to be a deadlock :)

[2016-09-26 16:17] JettJones commented on #26817
I looked into registrator some more, and found a bug from 2014 requesting the feature ( [Docker instances without ports](https://github.com/gliderlabs/registrator/issues/38) ).  That further convinces me that registrator does not support registering instances that do not have ports exposed.

[2016-09-26 16:18] #26864 closed

[2016-09-26 16:19] ketzacoatl commented on #26864
Thanks for the info, it has helped in debugging and resolving some issues I have been tracking.

[2016-09-26 16:19] mlaventure commented on #26883
The daemon looks to be stuck on a Resize call indeed:
[code]

@belovanton do you know if you had `docker exec` that would start long living process in the background?

[2016-09-26 16:20] ketzacoatl commented on #26864
Feel free to re-open if you wish to update docs. Personally, I think they ought to be updated to clarify these details.

[2016-09-26 16:35] ehazlett commented on #19829
I cannot reproduce this either.  I'm going to close this.  Please open a new issue if you continue to experience this behavior.  Thanks!

[2016-09-26 16:35] #19829 closed

[2016-09-26 16:35] aaronlehmann commented on #26862
@reypm: Could you paste your `repositories.json` file? The path is something like `/var/lib/docker/image/aufs/repositories.json` (`aufs` may be replaced with a different graph driver).

My suspicion is that the `ubuntu` reference is stored in the file in a non-canonical form. It should be stored as `docker.io/library/ubuntu`, but if it is stored as something like `ubuntu`, the image deletion code

[2016-09-26 16:49] KingEmet commented on #18708
@thaJeztah @aaronlehmann is correct, my change only alters the behavior of native stores.

[2016-09-26 16:49] aboch commented on #26071
Yes, this behavior has changed, although not intentionally, because of the changes to support the daemon `--live-restore`.

[2016-09-26 16:52] mrjana commented on #25463
Closing this as this is fixed in #25962

[2016-09-26 16:52] #25463 closed

[2016-09-26 16:52] edannenberg commented on #26883
Same problem here since 1.11 or 1.12, so far it only happened occasionally on my local box, which I chalked off as being a devicemapper issue. It only seems to happen after rebooting the system.

Today however 3 out of 4 production VM had the same problem after the VM host got restarted. Those are all running with the btrfs backend. Only solution I found so far is killing the daemon process and de

[2016-09-26 16:56] thaJeztah commented on #25463
@mrjana should we wait for the vendor PR for 1.12.2? Or was that opened / merged already?

[2016-09-26 16:58] mrjana commented on #25463
@thaJeztah Yeah vendor PR for 1.12.2 was merged but shouldn't this be closed regardless because this is fixed in master via #25962 long time ago?

[2016-09-26 17:01] tonistiigi commented on #26588
@aaronlehmann #26879 was against `v1.12.x`. I think same fix was already posted against master but didn't fix it for the ci.

@mrjana Fresh logs from this morning https://jenkins.dockerproject.org/job/Docker%20Master/label=fedora23%20&&%20devicemapper/6961/console same loop in the logs https://gist.github.com/tonistiigi/48e1be9075865ba85d50ede015c6718f after the restart.

[2016-09-26 17:01] thaJeztah commented on #25463
@mrjana yes, in general, I agree; purely so that we don't loose sight (it happened before), but if it's fixed in the  1.12.2 branch, closing is fine 👍

[2016-09-26 17:08] thaJeztah commented on #26864
There's some information about signal handling in the docs; https://docs.docker.com/engine/reference/run/#/foreground and https://docs.docker.com/engine/reference/builder/#/exec-form-entrypoint-example, but let us know if you have suggestions where additional information should be added

[2016-09-26 17:08] mrjana commented on #26588
@tonistiigi This flakiness is due to a different reason. So even though the previous fix, fixed the previous issue it still looks like there are some more issues. But this one doesn't reveal too much information. The agent session handling code goes wild. I am not sure if manager/dispatcher is stuck or not. @LK4D4 Do you have any clues looking at the logs?

[2016-09-26 17:08] gabrielqs commented on #26798
@justincormack thanks. I can confirm that using the docker binary distributed with the docker for mac package solved it for now.

[2016-09-26 17:14] cpuguy83 commented on #26391
@djenriquez Is the subnet conflicting with any other subnets?

ping @aboch

[2016-09-26 17:16] reypm commented on #26862
@aaronlehmann here ...

[code]

[2016-09-26 17:18] RichardScothern commented on #26462
A 404 is returned when the image doesn't exist.

I have reason to be testing something with windows today or tomorrow.   I will check this out.

[2016-09-26 17:18] thaJeztah commented on #26148
relates to https://github.com/docker/docker/issues/26876

[2016-09-26 17:20] mlaventure commented on #26883
@edannenberg can you post which version of `dockerd` and `containerd` you are actually using?

You have a few `"libcontainerd: failed to convert event timestamp: \"timestamp: nil Timestamp\""` in your logs, which should never happen

[2016-09-26 17:22] aaronlehmann commented on #26462
@RichardScothern: I think you get a 401 or 403 when you don't have a valid token for the repository, and the token server won't give you one in this case because the repository doesn't exist.

[2016-09-26 17:25] aaronlehmann commented on #26862
It could be related to the older version that was installed. I wasn't aware that any version would format the repository name in this way. Any chance you could find out what you were using before?

[2016-09-26 17:28] reypm commented on #26862
@aaronlehmann yes ...

For docker:
[code]

For docker-engine:
[code]

[2016-09-26 17:31] #26065 closed

[2016-09-26 17:40] cpuguy83 commented on #26408
There are a couple of things we can do, but I think we'll end up breaking people's builds.

1. Make sure the daemon mounts the volumes before copying the COPY/ADD context.
  - This will break people because currently it is possible to declare a volume, then do COPY/ADD, and still have that data be in the image instead of in the volume... even if this is a bug, it's been around forever (and I have

[2016-09-26 17:47] reypm commented on #26862
@aaronlehmann maybe the solution could be:

- Remove docker-engine: `dnf remove docker-engine`
- Install docker: `dnf install docker`
- Remove the images: `docker rmi -f $(docker images -q)`
- Remove the docker: `dnf remove docker`
- Install docker-engine: `dnf install docker-engine`
- Build the images from scratch

What do you think? Maybe there is a best solution but that goes beyond my knowledg

[2016-09-26 17:51] tonistiigi commented on #20316
Going to close this as #26839 was merged. Please check it out and report issues if you find any.

[2016-09-26 17:51] #20316 closed

[2016-09-26 17:52] edannenberg commented on #26883
dockerd --version
    Docker version 1.12.1, build 23cf638

    containerd --version
    containerd version 0.2.0 commit: 14e7949

This is on Gentoo.

[2016-09-26 17:53] reypm commented on #26862
@aaronlehmann ok, that works. See the following output:

[code]

[2016-09-26 17:54] aboch commented on #26391
@djenriquez

I think you found the issue, which is the following rule is missing from the POSTROUTING nat chain:

`-A POSTROUTING -s 172.18.0.0/16 ! -o br-6d9f2b1d9b26 -j MASQUERADE`

I do not know of any reason why that iptables programming is missing when bridge driver plumbed the `provision_default` network.

That would happen if the network was created as `--internal`, but that is not the case

[2016-09-26 17:54] thaJeztah commented on #26444
Splitting was previously done on the daemon side, but removed in https://github.com/docker/docker/pull/20200, perhaps it can be done client-side, although that would still make the hostname not a FQDN (if I followed that change correctly)

[2016-09-26 17:57] thaJeztah commented on #26862
[code]

Installs the Red Hat fork of Docker, which contains various modifications in this area, and would likely explain the incorrectly stored image.

Looking at the above, it looks like your issue is resolved, so I think we can close this?

[2016-09-26 17:59] reypm commented on #26862
@thaJeztah not yet, after run the commands above and after reinstall back the `docker-engine` now I am running into this issue:

[code]

How can I fix that?

[2016-09-26 18:02] tonistiigi commented on #20022
@AndreFelipeMachado I'm not sure I understand as the docs you link to have the same command that you confirm as working for you.

So the problem is that different servers are more stable at different times and for different users. We have retries in the install script but only the best server in the docs. Should we use `ha.pool.sks-keyservers.net:80` instead or is ubuntu server more stable?

cc @t

[2016-09-26 18:05] mlaventure commented on #26883
@edannenberg your `containerd` version should be commit: `0ac3cd1be170d180b2baed755e8f0da547ceb267`

You have a mismatch, I seem to remember another gentoo user having the same issue before where their `containerd` got out of sync too but I haven't been able to find the comment.

[2016-09-26 18:06] reypm commented on #26862
@thaJeztah no, I have followed the steps above meaning I had `docker-engine` and I removed in order to install `docker`, after I cleanup the conflict image running `docker rmi` after all of that I removed again `docker` and install `docker-engine` back but now I am getting that error, something goes wrong but I don't know what

[2016-09-26 18:07] thaJeztah commented on #26404
ping @mrjana ^^

[2016-09-26 18:09] aboch commented on #26391
Bridge driver would not attempt to install that rule in two cases:
- If the network was created with `--internal` flag
- Or with the option `--opt com.docker.network.bridge.enable_ip_masquerade=false`

From your logs, neither seem to be the case.

On the other side, if iptables failed to setup that rule, then the network creation would fail:
https://github.com/docker/docker/blob/v1.12.1/vendor/src

[2016-09-26 18:09] thaJeztah commented on #26862
Possibly there's two docker client binaries installed for some reason; `which docker` should show you the path that's used, but it's possible there's another version installed elsewhere

[2016-09-26 18:11] reypm commented on #26862
@thaJeztah and how can I check if I have two binaries running on the same host? The shouldn't but just to be sure

Notice this output:

[code]

Only one docker running but again the same annoying message

[2016-09-26 18:13] simonvanderveldt commented on #20316
@tonistiigi I might be misunderstanding things, but how would #26839 solve not having a build cache on a CI machine? All the build jobs would need to parse the `Dockerfile` to determine which image is in the `FROM` line and append it to the `docker build` command?

[2016-09-26 18:13] joaofnfernandes commented on #26870
Also, If I'm not mistaken Docker will always try to match the current state of a service to its definition. If the current state diverges from the definition, Docker will try to make changes to the current state to ensure it matches the definition. So we also need to explain the restart policy with this in mind.

Example:
I create a service with two replicas. So without any other configuration Doc

[2016-09-26 18:16] thaJeztah commented on #26862
Only one is running probably, but there may be other binaries (check `/usr/bin`, `/usr/local/bin`, etc.

[2016-09-26 18:19] thaJeztah commented on #26870
Even further: it's not really clear how _container_ restart policies interact with that as well (e.g., a container with `restart=always`, that's backing a service with `restart=no`

[2016-09-26 18:20] tonistiigi commented on #20316
@simonvanderveldt The image specified in `--cache-from` is the image from the previous CI build. It doesn't have anything to do with the `FROM` line in Dockerfile. CI can pull it with regular `docker pull`, like they could before `v1.10`.

[2016-09-26 18:24] thaJeztah commented on #11541
I'll close this issue, but comment if you're still running into this on the current release

[2016-09-26 18:24] #11541 closed

[2016-09-26 18:25] reypm commented on #26862
@thaJeztah I will need your help on this one, see what I have done so far and it's output:

[code]

Any other advice?

[2016-09-26 18:34] reypm commented on #26862
@thaJeztah ok, nvm, I run the following commands:

[code]

And after that everything works fine, not sure how or why, I'll close this, thank for all

[2016-09-26 18:34] #26862 closed

[2016-09-26 18:34] thaJeztah commented on #26862
Can you check if your client is actually talking to the local daemon? (Just to be sure); check if a `DOCKER_HOST` env var is set. May be worth restarting the docker service once more?

[2016-09-26 18:34] yuralim commented on #26322
@fishnix I think my issue is also a little bit different with your issue. In my cases, I resolved my issue after updating the kernel version.

However, I don't think the resolution works for this issue as you already have the latest kernel version. I am still not sure what is the exact issue with that version, but it works fine in version 3.10.0-327.18.2.el7.x86_64 in my case.

Please let me know

[2016-09-26 18:34] edannenberg commented on #26883
Interesting, looks like a weird dependency issue with the docker ebuild. Installed containerd version according to portage: `0.2.2_p20160622::gentoo`.

[code]

Updated to 0.2.3 manually, now at `973f21fcadedf70c032554ba43622f857496f886` or tag v0.2.3. Lets see if that helps. :)

/cc @tianon

[2016-09-26 18:34] simonvanderveldt commented on #20316
@tonistiigi OK, thanks for the clarification. We'll give it a try, let's see how well it works :)

[2016-09-26 18:34] thaJeztah commented on #26862
Oh, cool, good to hear,  thanks!

[2016-09-26 18:40] cpuguy83 commented on #26408
Also 2 may slow down builds significantly on larger COPY operations.

[2016-09-26 18:44] cpuguy83 commented on #16267
@frank-dspeed A log of with the daemon stack dump would be super helpful.
Unless you are sending the tar details to stdout, I do not see any reason docker would crash here since Docker should not even be involved.

Is this still a problem?

Going to close this very old issue, but if you can provide more details that we can look at I will definitely take a look.

[2016-09-26 18:44] #16267 closed

[2016-09-26 18:45] cpuguy83 commented on #16267
Also, are you certain this is not the OOM killer killing off the docker daemon to make more memory for your tar job?

[2016-09-26 18:45] mgoelzer commented on #26876
@thaJeztah Yes, I want to update `ROADMAP.md` more broadly.  I think I should aim to move this issue's content into an updated `ROADMAP.md` and then close out this issue in favor of `ROADMAP.md`

[2016-09-26 18:48] cpuguy83 commented on #25854
Yes, this is the intended behavior.
Docker copies the contents/permissions from the container dir into the volume unless you specify `nocopy`.

[2016-09-26 18:48] #25854 closed

[2016-09-26 18:52] LK4D4 commented on #26588
@mrjana Looks like agent somehow can't properly register and forever uses a wrong session. However, the code is quite mysterious for me. Maybe @stevvooe can help us.
My theory is that probably `UpdateTaskStatus` in `agent/agent.go` shouldn't close a session, but instead send error to `session.errs`, then backoff will work and sessionq will be set to nil. But I'm not sure.

[2016-09-26 19:03] graingert commented on #20316
I think it would be much better to whitelist registries eg

--history-whitelist 'mycustom.example.com/frontend' 'ubuntu' '
mycustom.example.com/backend'

On 26 Sep 2016 19:15, "Simon van der Veldt" <notifications@github.com>
wrote:

@tonistiigi <https://github.com/tonistiigi> I might be misunderstanding
things, but how would #26839 <https://github.com/docker/docker/pull/26839>
solve not having a b

[2016-09-26 19:06] tophj-ibm commented on #26823
Definitely related to that pr. With the change, the apparmor profile is never actually loaded into the kernel, as I'm not seeing docker-default in /sys/kernel/security/apparmor/profile after I install form a recent deb, but it is there with the 1.12 one.

[2016-09-26 19:19] #24255 closed

[2016-09-26 19:40] flx42 commented on #25854
@cpuguy83 thanks for confirming!

[2016-09-26 20:08] #26371 closed

[2016-09-26 20:09] amclelland commented on #13817
Any luck on this? I am also unable to use arrow keys, home, etc. when I `docker exec -it web bash` from cmder. But if I use vanilla cmd it works fine - I think it was the recent docker update?

[2016-09-26 20:10] slooker commented on #24089
Is there a way to use the `--mount` flag for an external mount, like in the case of Google Cloud Platform?  I'm trying to figure out how to mount a Google Cloud Platform persistent disk in the container which is deployed as part of a docker swarm.

So far as I can tell, I can only mount those to the host and not necessarily directly to a container (without first mounting on the host), and that doe

[2016-09-26 20:10] toudidel commented on #14026
I had the same problem if I wanted to changed my docker images location.
I performed solution from http://stackoverflow.com/a/34731550 and added file `/etc/systemd/system/docker.service.d/docker-storage.conf` with content:

`[Service]`
`ExecStart=`
`ExecStart=/usr/bin/docker daemon -H fd:// --graph="/mnt"`

After restarting the system I had the problem. If I delete this file and return to default

[2016-09-26 20:14] cpuguy83 commented on #24089
@slooker Yes, you can use `--mount` with any volume driver.
There is a plugin here: https://github.com/mcuadros/gce-docker
I'm not sure of the quality of this plugin.
RexRay also has a GCE provider.

[2016-09-26 20:19] icecrime commented on #26702
I'm getting lost on this issue between was seemed originally as a request for enhancement, which now turns into a potential bug report :-)

@pascalandy: are you ok to consider the original issue resolved (i.e., there's no artificial limit, it's only a matter of picking a bigger subnet), and filing a new issue for the load-balancing issue you're seeing? I also would recommend testing master or 1.12

[2016-09-26 20:21] icecrime commented on #26213
Thanks @srodman7689! :+1:

@aaronlehmann Can we close this issue? I'm not sure the fix made it into a SwarmKit vendoring yet.

[2016-09-26 20:24] icecrime commented on #26240
Tentatively closing: please feel free to ping us to reopen if necessary!

[2016-09-26 20:24] #26240 closed

[2016-09-26 20:26] xuant commented on #26845
@michelvocks
`go get -u github.com/docker/docker/registry` works. Thank you.
But I met with another one as below:
[code]
Could you take a look at this as well? Thanks.

[2016-09-26 20:28] JettJones commented on #26747
I saw similar lack of DNS resolution across two swarm hosts, running on AWS.   `date` showed times within 10 seconds between the hosts, but I setup ntp and restarted both docker services anyway based on recommendations here. Afterward resolution is working again.

Aside: `docker network ls` only shows services on the current host - not sure if that's intended, but it at least helped identify and e

[2016-09-26 20:30] ls42 opened #26929 "Nested volumes"
**Description**

When starting a container from inside a container, and the files are in a volume that's passed down from `Host OS -> First Container (VIM) -> Second Container (Python3)`, the I cannot access the files in the second container.

The call chain is like this:

* `docker run --rm -ti -v $sock_path:$sock_path -v $PWD:/src -w /src brauer/vim vim $1`
* `docker run --rm -v $PWD:/src -w /sr

[2016-09-26 20:37] cyphar commented on #26823
@tophj-ibm The file isn't meant to exist in `/etc/apparmor.d/docker` or in the cache, because that PR was fixing an issue where Docker would fail to start when `/etc` was readonly (because the Docker daemon was creating that file). On the other hand, my guess is that there's something wrong with your `/tmp` that is causing this issue. Is `$TMPDIR` set to something odd on your machine?

[2016-09-26 20:39] michelvocks opened #26930 "Swarm: Cannot create ingress network on Gentoo"
**Description**
I initiated a swarm manager on Gentoo. After I created some services and exposed different ports I wasn't able to access the services through their exposed ports.

**Steps to reproduce the issue:**
1. `docker swarm init --listen-addr 192.168.0.10:2377 --advertise-addr 192.168.0.10`
2. `docker service create --publish 8080:80 --name nginx nginx:alpine`
3. `curl -v http://192.168.0.1

[2016-09-26 20:40] mrjana commented on #26747
@Vanuan Can you start you swarm with the correct `--advertise-addr` option and see how it goes? It seems like your gossip channel was never bootstrapped properly. If possible the next time you are having issues please attach daemon logs from the problem node.

[2016-09-26 20:42] mrjana commented on #26930
@michelvocks The most probable reason is that you are missing ip_vs modules in your kernel. Can you please check if your kernel configs have CONFIG_IP_VS set and also make sure when you run `lsmod` you see ip_vs listed there?

[2016-09-26 20:42] aboch commented on #20297
@ibuildthecloud
I am not able to recreate this with 1.11.2, 1.12.0 or 1.12.1.
Probably this was fixed as part of some other changes.
Can you reproduce with recent images ?

[2016-09-26 20:43] michelvocks commented on #26845
It seems like you have a old copy of docker source code in your `$GOPATH` which is used for imports in the registry. Can you try to update the whole repo? (`go get -u github.com/docker/docker`)

[2016-09-26 20:44] philipmac commented on #26240
Hello!
Sorry for the slow response, work has been hectic recently. I haven't had a
chance to make any updates to docker, and did not resolve this issue on my
machine. (instead I'm just using another machine to avoid the issue.)

On 26 Sep 2016 4:25 pm, "Arnaud Porterie" <notifications@github.com> wrote:

[2016-09-26 20:51] michelvocks commented on #26930
[code]

It is build right into the kernel. Therefore, lsmod doesn't show the loaded module (like expected).

[2016-09-26 20:52] slooker commented on #24089
@cpuguy83 Normally I use `docker service create` when creating swarm services.  It doesn't seem like there's any volume flag, nor is there a volume-driver flag.  Am I missing something?  Either there's another way to create swarm services or this can't be used with swarm on GCE?

[2016-09-26 20:55] mrjana commented on #24496
I am going to close this as a dupe of  #26563 since the symptoms are similar. Feel free to reopen if you think this is a different bug.

[2016-09-26 20:55] #24496 closed

[2016-09-26 20:56] thaJeztah commented on #24089
@slooker services use the `--mount` flag. Docs are merged on GitHub, but not published yet; https://github.com/docker/docker/blob/master/docs/reference/commandline/service_create.md#add-bind-mounts-or-volumes

[2016-09-26 20:59] aluzzardi commented on #26903
Constraints prevent the container to be scheduled on the machine, however, they do not prevent the container to be "created for scheduling" in the first place - therefore you'll see the container showing up in `docker service ps` but it won't run.

There's a PR out there that would actually prevent the container to be created in the first place: docker/swarmkit#1570

/cc @aaronlehmann

[2016-09-26 21:00] thaJeztah commented on #26193
https://github.com/docker/docker/pull/26765 is merged, so this can be closed

[2016-09-26 21:00] #26193 closed

[2016-09-26 21:00] mrjana commented on #26930
@michelvocks Thanks for dumping the kernel configs. Your kernel is still missing `CONFIG_IP_VS_NFCT` which is needed for ipvs/conntrack hook up and that is the reason why you are missing `/proc/sys/net/ipv4/vs/conntrack` file. If you set that in your kernel config everything should be fine.

[2016-09-26 21:02] dnephin commented on #26929
I've run into this before, the problem is with the paths you are using.

When  `docker run --rm -v $PWD:/src ...` is run from the container you're sending `-v /src:/src` to the docker daemon. The daemon tries to accept `/src/` on the host, but I believe you files are not in `/src` on the host, they are in some other directory.

The workaround that I've used is to always use the host working direct

[2016-09-26 21:04] xuant commented on #26845
@michelvocks
That was what I thought as well but I actually started a new vm to test it there was no copy of docker before I did `go get -u github.com/docker/docker/distribution`.

[2016-09-26 21:08] flx42 commented on #25854
However, I would still like to point out that this behavior is highly surprising even after looking at the `nocopy` doc. It's surprising that the permissions are changed for the **host** folder, especially since it was mounted as `ro`.

Thanks

[2016-09-26 21:10] cpuguy83 commented on #25854
@flx42 The host folder == the container folder.
`nocopy` makes it do nothing, otherwise it copies everything over.

`ro` has significance for container access to the dir, not the how the daemon manages it.

[2016-09-26 21:17] aaronlehmann commented on #26213
Not yet.

[2016-09-26 21:17] thaJeztah commented on #26930
does our check-config.sh script check for all of these?

[2016-09-26 21:22] belovanton commented on #26883
@mlaventure I think in my case its stuck when I run docker exec bash and run mysqld.

[2016-09-26 21:25] aboch commented on #23346
Fixed by #22997

[2016-09-26 21:26] mlaventure commented on #26883
@belovanton ok, in that case it's the exec's children issue.

When you exit the bash from the exec, containerd waits for the output data to be completely flushed, but mysqld would be retaining a reference on those preventing the close and any new events from containerd to be processed.

1.12.2 should come with a version of containerd that addresses this issue.

Please give the rc a try when it com

[2016-09-26 21:26] #26883 closed

[2016-09-26 21:27] #23346 closed

[2016-09-26 21:31] vieux commented on #26798
fixed by #26875

[2016-09-26 21:31] #26798 closed

[2016-09-26 21:32] thaJeztah commented on #26775
fixed by https://github.com/docker/docker/issues/26777

[2016-09-26 21:32] #26775 closed

[2016-09-26 21:39] aboch commented on #22355
@ztetfger I cannot reproduce this issue in latest docker (1.11.2, 1.12.1, master).
Can you confirm you are not able to reproduce as well, thanks.

[2016-09-26 21:42] stevvooe commented on #26895
I'd prefer not. go-connections is a poor abstraction and causes more problems than it creates.

The listeners package makes the same mistake, by hiding system-specific config, deep within the function. You could try to add this to go-connections, but my guess is, something will break.

[2016-09-26 21:42] #26890 closed

[2016-09-26 21:55] aboch commented on #22297
From  @jxstanford comment, if I undertood correctly, the original problem reported by this issue turned not to be a real problem:

Therefore I believe this issue should be closed.

@einarf Regarding your unexpected mtu value, please be aware the docker daemon `--mtu` flag only affects the default `bridge` network.

We do not have a `--mtu` first class flag for `docker network create` command yet,

[2016-09-26 22:02] einarf commented on #22297
@aboch Yep, that is all covered in my last post :)

[2016-09-26 22:02] adriancooney commented on #3465
`UNVOLUME` would be nice.

My use case: I'm using the `mysql` image and want to commit my database contained in `/var/lib/mysql` directory to a new image but can't because it's declared a volume in the parent Dockerfile.

[2016-09-26 22:11] xsoroton commented on #5618
same... Fedora 24, happen randomly, can be fine for week, than i get one every 10 hours
`kernel:unregister_netdevice: waiting for lo to become free. Usage count = 1`

[2016-09-26 22:14] mavenugo commented on #22297
Thanks @aboch @einarf for confirmation. Lets close this issue.

[2016-09-26 22:14] #22297 closed

[2016-09-26 22:15] slooker commented on #24089
@thaJeztah  Bummer.  I still get "Error looking up volume plugin gce" even after installing it via the docker image.  I'll search some more to see if I can figure it out.  Thanks!

[2016-09-26 23:35] ryan413 opened #26934 "[Windows] Unable to start: The VM couldn't get an IP address after 60 tries"
**Description**

**Steps to reproduce the issue:**
1. right click on docker icon in taskbar
2. select switch to linux containers
3.

**Describe the results you received:**
error message:
Unable to start: The VM couldn't get an IP address after 60 tries
at <ScriptBlock>, <No file>: line 340
   at Docker.Backend.HyperV.RunScript(String action, Dictionary`2 parameters)
   at Docker.Backend.ContainerE

[2016-09-26 23:50] mrjana commented on #26930
It only checks for `CONFIG_IP_VS`. It needs to check for `CONFIG_IP_VS_RR` and `CONFIG_IP_VS_NFCT` as well.

[2016-09-26 23:51] mrjana commented on #26806
@saithala Can you please attach daemon logs from the node where you are having this problem?

[2016-09-26 23:53] thaJeztah commented on #26930
Guess we need to add those as well then. I _do_ see there's a PR that adds `CONFIG_IP_NF_NAT ` https://github.com/docker/docker/pull/26782 (which needs reviews 😇 )

[2016-09-27 00:09] thaJeztah commented on #26400
I guess https://github.com/docker/docker/pull/24411 would help for this

[2016-09-27 00:11] thaJeztah commented on #26184
Looks like a duplicate of https://github.com/docker/docker/issues/26781

ping @runcom ?

[2016-09-27 00:19] coeotic opened #26935 "Bloated Data loop file (/var/lib/docker/devicemappper/devicemapper/data)"
**Description**
This IS, perhaps, a duplicate of #3182 or #9786... but I do not see any solution/resolution that applies to my situation.

I need information to help me diagnose a bloated Data loop file. Within 2 days of operation, my instance store is full, but I have no idea why.

**Steps to reproduce the issue:**
1. I'm not sure. That is why I'm asking for assistance with debugging the bloated

[2016-09-27 00:24] coeotic commented on #26935
Problem exists, as well, with the same containers running on docker 1.12.1 23cf638.

[2016-09-27 00:37] nathanleclaire commented on #26876
Thanks Mike for the detailed summary.  Got a couple questions:

1. So I understand that one of the goals of DAB is to prevent environment-specific configuration from leaking into descriptions of "stacks", but inevitably you will have to set this somehow -- how?

2. DAB is attempting to solve portability problems but it is relying on a remote registry to do so.  _Relying on a remote registry is its

[2016-09-27 00:56] aboch commented on #20869
Thanks @sithembiso for the file. I can reproduce the issue, starting later version daemon with your local store file.

[2016-09-27 01:04] virtuman commented on #26235
Sorry for confusion, it was a continuation of the previous commands that I showed. What I was trying to say is that I deleted _REJECT_ rule from both **INPUT** and **FORWARD** rules .

Any other thoughts?

[2016-09-27 01:15] cmingxu commented on #26884
@aaronlehmann could you please elaborate on --advertise-addr is  not a local address?

[2016-09-27 01:36] liweinan0423 commented on #26884
[code]
* ip a
[code]

We have a node which has multiple interfaces, but either `docker swarm init` nor `docker swarm join` requires the `--listen-addr` option.

[2016-09-27 01:54] xiaods commented on #26884
@liweinan0423 i have read the reference in docker/docker repo:

[code]
so i want to ask, what concern on this issue topic? i am lost in above discussion.

[2016-09-27 02:12] xiaods commented on #26459
need more info, please add reproduce step to confirm the bug.

[2016-09-27 02:15] dsmiley commented on #22297
Maybe i'm missing something, but is the title of this issue, "containers in docker 1.11 does not get same MTU as host" actually addressed?  Yes, `--mtu` works, but that's a work-around for Docker not determining the correct MTU on its own.

[2016-09-27 02:35] liweinan0423 commented on #26884
@xiaods let me ask you one question. If there are 2 network interfaces on the node and we don't specify the `--listen-addr` option, which interface will docker take for the communicate between nodes?

[2016-09-27 02:57] allencloud commented on #26897
In pr #26901 , I make engine api more more strict to only allow lowercase mode.

[2016-09-27 03:21] aboch commented on #22297
@dsmiley
In another PR (will update later when I find it) it was decided to drop the behavior where the mtu for the containers running on the default `bridge` network would be inherited from the host (there were valid concerns with that approach and @phemmer  IIRC lead the discussion).
Based on that we would not restore the original behavior which is what this issue was initially asking.

As it us

[2016-09-27 03:27] gittycat commented on #3465
@thaJeztah I find `UNSET <something>` easier to read and not as weird. There's no need to start inventing words that way too. It's also familiar to scripting people. One could also do

    UNSET  EXPOSE VOLUME LABEL

[2016-09-27 03:36] delfick commented on #20316
That's a cool feature. But I don't understand how that doesn't conflict
with your earlier security concerns... (maybe I need more coffee?)

I agree with thomas above that this ticket would be better served by
whitelisting registries. (with a massive warning if you whitelist
dockerhub!)

And, as a bonus, in a way that is global to docker so I don't have to
change all projects.

On Tue, Sep 27, 2016

[2016-09-27 03:55] euank commented on #15802
It seems like containerd makes this better. I can't trivially reproduce it and I have no desire to go through the more complicated reproduction I was working with before.

It's not something that impacts me anymore whether it exists or not. Closing...

[2016-09-27 03:55] #15802 closed

[2016-09-27 03:56] mrjana commented on #26563
@mschirrmeister I was checking logs from your machine(thanks to you providing access) and you are not having any gossip failures in your nodes(which you were having before) so you are probably not having the same issue.

However if you are still seeing issues can you give me more details. When you say the port is not open on some hosts are saying that because you are not able to connect to those p

[2016-09-27 05:09] codeb2cc opened #26937 "syslog log-driver RFC5424 missing structured data part"
**Description**
The syslog log-driver with RFC5424 format outputs log without structured data part. The `rfc5424formatterWithAppNameAsTag` function format log with `msg := fmt.Sprintf("<%d>%d %s %s %s %d %s %s", p, 1, timestamp, hostname, tag, pid, tag, content)`. But https://tools.ietf.org/html/rfc5424#section-6 defines a valid syslog message as `SYSLOG-MSG      = HEADER SP STRUCTURED-DATA [SP MS

[2016-09-27 05:26] aboch commented on #20163
From the `ip address` o/p posted by submitter, the ipv6 address are missing indicating that ipv6 is disabled on the linux host. Therefore confirming this is likely the same issue reported by https://github.com/docker/libnetwork/issues/892, which fix is available in docker 1.11.x.

In absence of feedback from submitter, I think we should close this issue.

[2016-09-27 05:40] ls42 commented on #26929
Well, this is a fine workaround, since it's working for me. I'm tracking #21622, it's okay for me if this is closed.

Thanks!

[2016-09-27 06:01] Selvaguru commented on #26295
Hi,
I faced the same problem. Disabling the firewall did the trick !

[2016-09-27 06:06] allencloud commented on #26485
I think restarting a task every 5 seconds by default is not reasonable, maybe some kinds of backoff restart configuration is needed.

When restart delay is configured by user, we set it as task's restart delay.
While if it is not set by user, maybe docker daemon can recoganize this, and set it as 5s, when restart fails, multiple delay by 2 to be 10s, then growing like this.

Another solution is th

[2016-09-27 06:42] mschirrmeister commented on #26563
@mrjana Yes, I am not able to connect to the ports on those hosts. Yes, when I do a curl I get `Connection refused`. That is because nothing is listening on the port.

I recreated the problem again. Promoted the 2 none managers to managers again, so that all 3 nodes are managers. Rebooted all hosts, started docker and created a service. And also scaled it to 3.
[code]

I could run `nsenter --net=/

[2016-09-27 07:10] mrjana commented on #26563
@mschirrmeister Thanks. Found the issue for what is causing ingress-sandbox creation to not happen in your cluster. Will fix it. If you destroy your swarm cluster and recreate a fresh swarm cluster it will most likely work for you. But a fix for your issue will be available soon.

[2016-09-27 07:26] alexchenfeng commented on #26930
@thaJeztah   when I test docker swarm 1.12.1 on Arch arm linux,  I need to add  CONFIG_IP_VS, CONFIG_IP_VS_NFCT, CONFIG_NETFILTER_XT_MATCH_IPVS  options in linux kernel .config.
So we also need to check for **CONFIG_NETFILTER_XT_MATCH_IPVS** as well.

[2016-09-27 07:29] n1t1nv3rma commented on #14948
Correct! Thanks @nalind  !

The container wasn't using the journal logging driver :(

[root@master ~]# docker inspect -f '{{.HostConfig.LogConfig.Type}}'  desperate_easley
json-file
[root@master ~]#

Not sure what happened, I thought it was installed via Centos Docker Repo only... I just removed and  installed via Yum and it seems to be working fine now!

[vagrant@master ~]$ docker inspect -f '{{.

[2016-09-27 07:35] thaJeztah commented on #15802
Thank you @euank

[2016-09-27 07:47] thaJeztah commented on #26930
@alexchenfeng thanks for checking; could you open an issue for that (for tracking), or perhaps you're interested in opening a pull request?

[2016-09-27 07:53] Vanuan commented on #26322
Ping doesn't work between containers on different nodes. That what I've read somewhere here.
@mrjana is it correct?

Though, even TCP connection between separate nodes looks buggy.

[2016-09-27 08:00] lucernae commented on #20486
I also having trouble with this. So we don't have another solutions besides restarting docker services?

[2016-09-27 08:20] #24595 closed

[2016-09-27 09:00] aaronlehmann commented on #26884
If you specify `--advertise-addr`, and it's not one of the addresses on a network interface (for example, if you're behind NAT, so other managers connect to a different IP address than the first manage sees locally), Docker still needs to know which interface is being used, for overlay networking setup. Specifying `--listen-addr` gives it in this information. If `--advertise-addr` is one of the ne

[2016-09-27 09:01] the-nw1-group commented on #25979
Is there any update on this? I've been asked to look at this again as we'd like to use the new Swarm features of Docker 1.12.x, and this is currently blocking us. I've run the daemon in debug mode, and this is the output, of running:

`docker run --entrypoint=/bin/bash centos:7`

``Sep 27 09:58:04 vm-beis-dev01 docker[19155]: time="2016-09-27T09:58:04.306102427+01:00" level=debug msg="Untar time:

[2016-09-27 09:03] Mashimiao commented on #20077
@moylop260  can you support more information by `docker version` and `docker info`

[2016-09-27 09:04] Vanuan commented on #26747
@mrjana I'm using ip address from eth1. Isn't it correct?

[code]

My public network is eth0, my private network is eth1. Should I only use public interface for advertise-addr? Is there an option to choose a specific ip on a specific interface?

I tried both private and public interfaces. It's 100% reproducible. Containers on one node can't connect to containers on another node. It's the same with

[2016-09-27 09:16] slawekgh commented on #26235
I made several tests , 3 nodes swarm , centos 7.2 , docker 1.12.1-rc2

with firewalld enabled - load balancing is not stable (sometimes works, sometimes not, no access from outside world)
with firewalld disabled - the same , works a little bit better but still not stable
with firewalld disabled and then docker service restarted - everything is ok

here is full log:

[code]
My swarm cluster:
[code]

[2016-09-27 09:21] thaJeztah commented on #26295
I suspect this is a configuration issue indeed; also, it looks like you're running a Red Hat fork of Docker, not the official build; the Red Hat fork has a lot of modifications in this area (and, for example, an option to actively block access to Docker Hub), so it may be worth installing the regular packages; https://docs.docker.com/engine/installation/linux/centos/

I'm going to close this issue

[2016-09-27 09:21] #26295 closed

[2016-09-27 09:25] thaJeztah commented on #26485
I think this PR is trying to address situations like this; https://github.com/docker/docker/pull/26421

@allencloud perhaps you could have a look at that PR, and tell what you think (perhaps you have additional suggestions)

[2016-09-27 09:41] thaJeztah commented on #26935
The data loop file stores the filesystems of all containers; if a container is writing a lot of data (think of a container that's writing to log-files instead of to stdout/stderr), space gets occupied by that data.

As an initial way to see what potentially takes up that space, you can do `docker diff <container-id>` to see which files are modified or created inside the container since it was star

[2016-09-27 09:48] thaJeztah commented on #26937
Looks like these methods are here; https://github.com/docker/docker/blob/2c91c5fdad49ff2103ae377b5b4e1a97ebe3f402/daemon/logger/syslog/syslog.go#L65-L85

Are you interested in opening a PR with the required changes?

[2016-09-27 09:49] thaJeztah commented on #20163
Thanks for looking into this @aboch. I'll close this issue

[2016-09-27 09:49] #20163 closed

[2016-09-27 09:53] Vanuan commented on #26747
Isn't it a IPVS problem? Here's some configuration:

[code]

DNS resolution:
[code]

What these servers are (10.0.9.2 and 10.0.9.4)? Are they load balancers?

[2016-09-27 09:54] thaJeztah commented on #25979
@the-nw1-group looks like your logs are truncated

[2016-09-27 10:01] mschirrmeister commented on #26563
@mrjana I destroyed the swarm cluster yesterday already. Basically I wiped `/var/lib/docker`. I did then a few promotions and demotions of managers. Was doing this as tests for this and my other ticket. Maybe related to those things?

[2016-09-27 10:04] the-nw1-group commented on #25979
Ah I see what you mean, here's the rest!

[code]

[2016-09-27 10:07] thaJeztah commented on #25979
@rbucchi looks like your repro-case needs to be updated;

[code]

[2016-09-27 10:24] thaJeztah commented on #26409
ping @patricklang PTAL

[2016-09-27 10:29] justincormack commented on #26934
Please could you report Docker for Windows specific issues in https://github.com/docker/for-win/issues - this is for specific issues in the Docker engine, and the people here will not be able to help you with these issues. You may find this issue has already been reported.

[2016-09-27 10:29] #26934 closed

[2016-09-27 10:36] thaJeztah commented on #26131
This is a duplicate of https://github.com/docker/docker/issues/5603, and https://github.com/docker/docker/pull/886, and adding this option has been rejected (see https://github.com/docker/docker/issues/5603#issuecomment-115434824, and https://github.com/docker/docker/pull/886#issuecomment-21167265).

As explained there, this could open up the possibility of a Dockerfile overwriting existing images

[2016-09-27 10:36] #26131 closed

[2016-09-27 10:41] justincormack commented on #21622
The client version issue is being looked into, to work out how the client can safely talk to other versions, see https://github.com/docker/docker/issues/25498

We do have auth plugins that control access, so you can restrict what can be done, but it is not very easy to set up, so it does not get much use (not sure there is a tracking issue but it is on my list).

Access to read only data such as l

[2016-09-27 10:44] justincormack commented on #26873
I a going to close this as it seems resolved, hopefully other people needing the dangerous powertools will find it. Feel free to continue discussion if there are further problems

[2016-09-27 10:44] #26873 closed

[2016-09-27 10:49] dev6 commented on #26822
I am sure this is something which leads to a bug in the docker engine core as I have seen it behaving in different ways with different user privileges. But I will dig more into it later when the bug is found with more proof to bring attention here.

I guess I was not clear in my first post here. I am not using Docker in a Virtual Machine. It is installed in native machine OS of Ubuntu Trusty Distr

[2016-09-27 10:59] thaJeztah commented on #26822
@dev6 your output of `docker info` shows that the daemon is running on a boot2docker Linux, not on Ubuntu;

[code]

What does `docker-machine ls` show?

[2016-09-27 11:06] thaJeztah commented on #20191
ping @estesp were you still working on this?

[2016-09-27 11:06] dev6 commented on #26822
The `docker-machine ls` shows this:

[code]

I had to install docker-machine after the installation of docker-engine as I needed to have an IP address for one of the profiling tools to work with curl. And the curl was failing to get it from localhsot:PORT.

[2016-09-27 11:14] thaJeztah commented on #26822
So in that case, the docker daemon is running in a VirtualBox VM (see my comment before I closed the issue)

This _should_ work, if the container has its port published. Is the profiling tool running in a container, or on the host? Also, make sure to check there isn't a firewall rule that block it, and, it may be worth using `curl -4 ...` in case the machine has IPv6 enabled, and curl tries to use

[2016-09-27 11:19] thaJeztah commented on #20486
ping @aboch any ideas?

[2016-09-27 11:25] thaJeztah commented on #15855
@vcaputo could you open a new issue? This issue was on an older version of docker, and possibly there's a new issue (with the same effect)

[2016-09-27 11:36] zhangyongsu opened #26942 "aufs bug"
**Description**
when I compile heron in docker container.
I found some zombie process in my container. the zombie have a child thread.
top -H -p < zombie pid > you can see:

[code]

and check the child thread stack:

[code]

use perf top. can find out the child thread in osq_lock()

seems something related to aufs.
so I just restart dockerd with changing storage driver to overlay2.
and the problem

[2016-09-27 11:41] thaJeztah commented on #25834
I'm closing this issue, because it's not really a bug, and we're aware of this, but keep us posted if you're planning to work on this

[2016-09-27 11:41] #25834 closed

[2016-09-27 11:43] Vanuan commented on #26747
Got it working by creating another overlay network.
But it would be helpful to know how to debug those things in the future.

[2016-09-27 11:49] yank1 commented on #23880
+1

[2016-09-27 11:49] GordonTheTurtle commented on #23880
*USER POLL*

*The best way to get notified of updates is to use the _Subscribe_ button on this page.*

Please don't use "+1" or "I have this too" comments on issues. We automatically
collect those comments to keep the thread short.

The people listed below have upvoted this issue by leaving a +1 comment:

@yank1

[2016-09-27 11:56] materliu commented on #24045
any updates ?

[2016-09-27 12:03] aaronlehmann commented on #24959
I'd like to get this fixed for 1.13.

The first step is changing the CLI (and json<->grpc conversion) to leave empty any fields that aren't explicitly specified by the user. This may take some minor engine API changes to make certain things in the spec pointers, if they are embedded structs today.

The main issue after that is visibility into the defaults. This matters in two places: seeing an exi

[2016-09-27 12:03] thaJeztah commented on #25880
I can confirm that this changed in docker 1.11, and most likely relates to the switch to RunC / containerd.

FWIW, either using `id <username>` or `su <username>` _does_ show the additional groups;

[code]

ping @mlaventure @crosbymichael PTAL; was this an intentional change, something that can be addressed?

[2016-09-27 12:04] thaJeztah commented on #25880
And, thanks for a very clear report, and steps to reproduce @dejonghb 👍

[2016-09-27 12:12] santosh0705 commented on #14201
Could you please help me out.
I've written my own client in python and when getting logs I'm getting multiplexed output. Wanted to know how to get the demultiplexed output. Or is there any ways to show it on console without the leading special characters.
I'm connecting to docker API v1.19

[2016-09-27 12:16] Saravana9210 opened #26943 "'depends_on' field in docker-compose.yml file is not honored when used with 'docker-compose bundle' to create '.dab' file."
**Description**
'**depends_on**' field in _docker-compose.yml_ file is not honored when used with 'docker-compose bundle' to create docker bundle (**.dab** file).

**Steps to reproduce the issue:**
1. Define 3 services in _docker-compose.yml_ with service2 and service3 depends on service1 (using depends_on field)
2. Go to the directory where you have the docker-compose.yml file.
3. Create docker b

[2016-09-27 12:18] titpetric opened #26944 "Copying files to container on run before executing ENTRYPOINT/CMD"
Scenario: I'm injecting some environment specific configuration that extends whatever is already packed into the container. These are various conf.d folders provided by various software (supervisord, php, nginx) and which already contain some files in the included conf.d folder to begin with. I want to provide these files before running CMD/ENTRYPOINT commands.

Problem: The obvious issue by using

[2016-09-27 12:21] thaJeztah commented on #24959
A similar change was made to logging driver settings a while back (see https://github.com/docker/docker/pull/21153 / https://github.com/docker/docker/issues/21118, and the discussion on https://github.com/docker/docker/pull/22575)

For that change, I was in doubt what the _correct_ behavior would be,
as using the "merged" configuration would make it impossible to change daemon
defaults for existin

[2016-09-27 12:29] ketzacoatl commented on #26864
Personally, I find the details about the list form of `ENTRYPOINT` and the semantics of `--entrypoint` both confusing and unexpected (oh, I must do X and Y when I want Z, even though Z should be common and expected).

[2016-09-27 12:39] justincormack commented on #26444
Ugh this is a bit of a mess. @cpuguy83 is right, there is no way to set the domainname:
[code]

But if we change the current logic and split the hostname at the first dot, then it may break existing code.

So I think we should add a `--domainname` flag if it is really required. Not sure if it exists on Windows in a useful way.

[2016-09-27 12:42] thaJeztah commented on #26944
Yes, bind-mounting single files can be troublesome; however, can be worked around given the right directory-layout of the image (but may depend on what's running in the container). Either building an image with the configuration built-in, using a configuration management solution (e.g. https://github.com/kelseyhightower/confd) or using environment variable (not for credentials), could be considere

[2016-09-27 12:42] justincormack commented on #23545
@aaronlehmann can you `strace` that operation not supported and see what it is? It may be a missing osxfs feature which maybe we can prioritise.

[2016-09-27 12:45] thaJeztah commented on #26444
Yeah, `docker-compose` has [always had a `domainname` option in the docker-compose file](https://github.com/docker/compose/blob/1.8.1/docs/compose-file.md#cpu_shares-cpu_quota-cpuset-domainname-hostname-ipc-mac_address-mem_limit-memswap_limit-privileged-read_only-restart-shm_size-stdin_open-tty-user-working_dir)

[2016-09-27 12:46] justincormack commented on #8460
@nfnty have discussed it with various people. The main issue is that it is 4.3 kernel only so not very many people are going to be able to use it which makes it a difficult thing to document. It is on the TODO list though, will have a look at doing a PR soon.

[2016-09-27 12:48] thaJeztah commented on #26942
Can you provide the output of `docker version` and `docker info` as well? Also note that a 1.12.1 patch release was released a while back.

[2016-09-27 12:51] criemen opened #26945 "Problem during DNS lookup while pushing image: dial tcp lookup write operation not permitted"
**Description**
Sometimes docker push fails with
Head http://docker.local.XXX.com:5000/v2/AAA/BBB/blobs/sha256:b51888d267738ad5e9281bb9e14394325ee20a7886b8ce0cf8f1b2f92e0bf456: dial tcp: lookup docker.local.XXX.com on 8.8.4.4:53: write udp 192.168.0.20:52270->8.8.4.4:53: write: operation not permitted

(private information redacted)

**Steps to reproduce the issue:**
The issue is not reproducible

[2016-09-27 12:55] michelvocks commented on #26930
Thanks @mrjana and @thaJeztah for helping me out. The error messages are now away but I still have issues to access the services. Below some more output:

[code]

[code]

[code]

[2016-09-27 12:59] aaronlehmann commented on #24959
into account how to deal with new options. For example; if #26421
gets merged (just as example);

I think dealing with new options is straightforward. The SwarmKit model is that the spec is *never* modified except by the user. So if a spec is missing some new option, the default will automatically apply. This should be fine as long as we pick sensible defaults. In particular, for new features we'l

[2016-09-27 13:02] thaJeztah commented on #14201
@santosh0705 please don't use the issue tracker for support questions, this is not the right location for that. https://docs.docker.com/opensource/get-help/. Looking at https://github.com/docker/docker-py could be a good start

[2016-09-27 13:11] Revolution1 commented on #26903
Great !

[2016-09-27 13:12] gittycat commented on #12886
Let's assume 1) above where the whole context is not sent by default, couldn't the context then be derived from what's in ADD and COPY statements? No need for .dockerignore.

Alternatively (keeping things compatible, ie: slepping the whole context by default), since a dockerignore seems to be specific to a Dockerfile, we could specify the dockerignore to use in the Dockerfile itself.

BTW, I am hi

[2016-09-27 13:18] colinmollenhour opened #26946 "Connection to VIP fails exactly every other time"
I've been using a three node cluster of bare-metal machines (packet) to test docker and different versions of MySQL. After much frustration with networking "not working" I finally figured out the issue was with the VIP and I could consistently repeat the failed connection. Here is my setup (may not be exactly same steps, since this all took place over several days):

Setup nodes: test1, test2, tes

[2016-09-27 13:23] santosh0705 commented on #14201
@thaJeztah sorry for the inconvenience. I didn't get any documentation related to this so asked here. I wrote my client to keep everything minimal in a single script. I had checked the docker-py project, will check again to know how they do it.
Thanks

[2016-09-27 13:25] cpuguy83 commented on #26864
@ketzacoatl The only different between `ENTRYPOINT` and `--entrypoint` is that you can't use the list form with `--entrypoint`.

Using `/bin/sh` on the non-list form is a must otherwise many people will have a broken container and not know why... granted it's often still broken because they end up wrapped in a shell and not using `exec my_app` to actually launch their app... but having to use `exe

[2016-09-27 13:36] #24958 closed

[2016-09-27 13:42] dnephin commented on #26929
Great, I'm glad it's working. Going to close this issue since we have others for tracking a solution.

[2016-09-27 13:42] #26929 closed

[2016-09-27 13:42] lbguilherme commented on #26223
#26765 has been merged. This issue can be closed.

[2016-09-27 13:45] dev6 commented on #26822
Yes, the profiling tool is running in a container. Tried disabling firewall and IPv6 as well but same error where curl can't find the host at localhost:Port.

[2016-09-27 13:48] thaJeztah commented on #26223
ah, yes thanks for the ping. closing

[2016-09-27 13:48] #26223 closed

[2016-09-27 13:54] colinmollenhour commented on #26747
I have had similar issues and don't even have docker in production yet.. Currently 3 nodes on bare metal at packet.net. php-fpm running on nodes 1 and 3, mysql on node 2. php-fpm on node 3 can connect to mysql, node 1 cannot. Sometimes it is node 1 that can connect and node 3 cannot. Occasionally they both work but I log back in the next day and then something is broken.. Sometimes it is just DNS

[2016-09-27 13:54] titpetric commented on #26944
Hi,

you are of course correct when it comes to daemons, but I have significant use cases for cli. I'm sorry for not being very clear on this point.

1. There's some convenience in `docker run` which I'm relying on, most notably `--rm`,
2. I'm relying on arguments which override CMD for various cli software (composer, php, egon, go, gvt, hexo, hugo, lessc, mkdocs, mysql, node, npm, php, phpunit, p

[2016-09-27 13:57] lbguilherme commented on #26617
This seems to also have been fixed by #26765

[2016-09-27 14:00] cpuguy83 commented on #26617
Thanks @lbguilherme!

[2016-09-27 14:00] #26617 closed

[2016-09-27 14:07] cpuguy83 commented on #26946
I have a feeling the LB is routing between two containers and for some reason the node can't reach one of them.

ping @mrjana

[2016-09-27 14:12] ketzacoatl commented on #26864
The difference you note between `ENTRYPOINT` and `--entrypoint` has surprising consequences, and is not immediately clear. 6 of my colleagues have reviewed the semantics, and we all agree the details here were not clear, and are surprising.

[2016-09-27 14:16] thaJeztah commented on #26944
There's good news on that part; in docker 1.13, the `--rm` feature is moved from the "client" to the "daemon". This means that you can also set `--rm` through `docker create`, and the daemon handles removing the container after it exits. See https://github.com/docker/docker/pull/20848 (and https://github.com/docker/docker/pull/26030)

An entrypoint script still allows you to do so; the trick here,

[2016-09-27 14:17] rmcolbert opened #26947 "NTFS File Compression causes Hyper-V Containers to fail launching"
**Description**

If a developer compresses their system drive, Windows Containers will fail to launch with an error similar to the following:
...
[09:18:46.181][WindowsDockerDaemon][Info   ] time="2016-09-27T09:18:46.181299500-04:00" level=error msg="Create container failed with error: container e8e72b3a28af7f425a3d63865455b61d4d0efb45b337a71f34f0aeb4000ce65e encountered an error during CreateCont

[2016-09-27 14:18] thaJeztah commented on #26864
If you have suggestions for what you think should be improved / written better, we welcome pull requests :heart:, sometimes we get either "blind" for omissions, or don't have time for making the actual changes.

[2016-09-27 14:22] cpuguy83 commented on #26947
At least we have an error for it! 💯

ping @jhowardmsft WDYT about the suggestion?

[2016-09-27 14:24] Anvil opened #26948 "Shared volumes cannot have "Labels""
In my attempt to write a Ceph Volume Docker Plugin, I'm currently facing the fact that shared volumes cannot have Labels.

The setup:
We have a some Ubuntu 14.04 servers running docker-engine 1.12.1. All docker engines are configured to use the Ceph plugin. All docker engines can access any Ceph volume they want. A docker volume ls on any node shows all volumes created on Ceph by all nodes.

**Ste

[2016-09-27 14:27] maxfrigge commented on #24310
@slawekgh Do I understand it right that you are able to publish port 80 on Ubuntu? In my case it's showing as published in `docker service inspect` but I cannot reach the container. This is happening on Ubuntu 16.04 on Azure (port 80 is open in firewall).

[2016-09-27 14:27] cpuguy83 commented on #26948
Thanks, we need to work out a distributed metadata store for volumes.

[2016-09-27 14:28] Anvil commented on #26948
Maybe this:
* Allow /VolumeDriver.Get to reply this:
[code]
* And allow /VolumeDriver.Create to accept a "Labels" dict item

Maybe "Labels" could be a new capabilities. What do you think to adopt such behavior while keep old behavior compatible.

[2016-09-27 14:31] cpuguy83 commented on #26948
I do not think we want Labels to be an implementation of the driver.
This is something that needs to work across all drivers, and in the same way.

Note that networks already have a distributed store for such things.

[2016-09-27 14:36] Anvil commented on #26948
Noted. Thanks.

[2016-09-27 14:54] Anvil opened #26950 "Ability to specify some driver options to docker volume rm"
I would appreciate the ability to pass some options to volume driver on `docker volume rm` (like `docker volume create -o foo=bar`).

I've some use cases:
1. make a secure erase (shred)
2. remove the volume and archive it somewhere
3. I'm currently implementing a ceph storage docker plugin, and I'd like the ability to remove a volume along and with all its snapshots.
4. Or the opposite : remove a

[2016-09-27 15:03] aaronlehmann commented on #23545
@justincormack: I think it's related to xattrs:

[code]

[2016-09-27 15:08] nalind commented on #14948
The name, ID and such are sent to the journal as metadata accompanying chunks of the container's output text.  By default, _journalctl_  uses an output format that looks similar to syslogs, which does not include most of the metadata fields that were recorded with each chunk of text.  The _journalctl_ _-o_ flag can be used to select other output formats, some of which include metadata.

[2016-09-27 15:17] cpuguy83 commented on #23545
Yeah, looks like you are running tests with the overlay driver, which for swarm and daemon tests is going to run on osxfs if you have mounted that in.

[2016-09-27 15:18] aaronlehmann commented on #23545
Ah, I seem to have `export DOCKER_GRAPHDRIVER="overlay"` in my environment. Let me try with aufs.

[2016-09-27 15:20] thaJeztah commented on #26822
That's expected. `localhost` in a container is the localhost of the container itself, so if you try to use `localhost:port`, curl is trying to connect to the localhost of the container it is running in.

You can either change this to `<public-ip-of-the-docker-host>:<port>` or, to prevent going "outside" of the host just to connect to another container, use a container-container network and directl

[2016-09-27 15:24] cpuguy83 commented on #23545
I don't think any graphdriver other than vfs would work on top of osxfs.

[2016-09-27 15:25] aaronlehmann commented on #23545
I have other issues trying to run the tests on aufs on top of osxfs:

[code]

It seems to fail later on. Some tests actually pass.

[2016-09-27 15:29] tarikjn commented on #12886
@gittycat I like your approach, maybe both can be combined? ADD/COPY specify files to add to the context, .dockerignore what to ignore in them, seems like they have slightly different roles. This has the added benefit of improving performance and security of existing docker builds.

[2016-09-27 15:44] titpetric commented on #26944
@thaJeztah Major karma/libation points for `exec`! Solves at least half of my problems :D

[2016-09-27 15:55] alexellis commented on #25432
+1 getting the same issue on my RPi.

[2016-09-27 15:56] jhowardmsft commented on #26947
Interesting, I didn't realise that was a limitation. @jstarks Is this by design to your knowledge?

[2016-09-27 15:58] thaJeztah commented on #26105
Documentation was improved in https://github.com/docker/docker/issues/26260, @aaronlehmann is there anything left to do on this issue, or can we close this?

[2016-09-27 15:59] richardjq commented on #25303
@thaJeztah please add --time to this list. As in 'docker stop --time=120 foo' or in swarm-speak 'docker service rm --time=120 foo'

I'm having to run apps unclustered because 10 seconds isn't long enough for a clean shutdown.

Thanks!

[2016-09-27 16:04] jstarks commented on #26947
This is by design. VHDs do not work well with NTFS compression, so we block it. We could be a little more careful and explicitly decompress the VHDs as they are created and copied... but I think the better guidance is to not compress your whole system drive -- VHDs probably aren't the only thing that will break.

[2016-09-27 16:04] thaJeztah commented on #25976
ping @mrjana

[2016-09-27 16:11] rmcolbert commented on #26947
I know this is by design but even on a compressed drive, other C:\ProgramData\Microsoft\Windows\Hyper-V folders are created as uncompressed and with the option to move the Docker Root to other volumes, it would be more idiot-proof to either have the daemon turn off the compression flag on the critical folders as part of its startup or when it creates them.

A clearer error about which folders can'

[2016-09-27 16:25] thaJeztah commented on #26477
Looks like this may be a duplicate of https://github.com/docker/docker/issues/25432

[2016-09-27 16:28] #26905 closed

[2016-09-27 16:33] vingrad commented on #24310
@maxfrigge I have the same problem with Debian Jessie after server reboot.

[2016-09-27 16:41] colinmollenhour commented on #26946
@cpuguy83 Any idea how I would go about testing your hunch?

[2016-09-27 16:43] thaJeztah commented on #26023
Closing as duplicate of https://github.com/docker/docker/issues/26391#issuecomment-245421784 per the above comment

[2016-09-27 16:43] #26023 closed

[2016-09-27 16:44] thaJeztah commented on #26196
Thanks, let me close this one then

[2016-09-27 16:44] #26196 closed

[2016-09-27 16:48] #26073 closed

[2016-09-27 16:48] mrjana commented on #26946
@colinmollenhour Can you post `docker service ps mysql55` and the daemon logs from the node were you are having the issue?

[2016-09-27 16:51] maxfrigge commented on #24310
@vingrad Just figured that my issue is `docker/dockercloud-haproxy` it doesn't seem to work with swarm mode.

[2016-09-27 16:57] mgoelzer commented on #26876
Ping @dnephin

[2016-09-27 16:59] mrjana commented on #26563
@mschirrmeister The specific sequence I believe led to this is you promoted all workers to managers and then you rebooted all the nodes and they all booted and started docker at more or less the same time which resulted in this race.

[2016-09-27 17:01] NodeGuy commented on #10490
I would also like to run some containers entirely in RAM but without all of `/var/lib/docker` in a RAM disk.  Please re-open this issue.

[2016-09-27 17:09] dnephin commented on #25303
@richardjq this option already exists as `--stop-grace-period`

[2016-09-27 17:09] aaronlehmann commented on #26105
I think this has been addressed by the improved documentation.

[2016-09-27 17:09] #26105 closed

[2016-09-27 17:17] dnephin commented on #25594
Going to close this since we have #26748 to track the larger issue.

[2016-09-27 17:17] #25594 closed

[2016-09-27 17:18] richardjq commented on #25303
@dnephin Awesome! I didn't think to look on the create/update command. Thanks!

[2016-09-27 17:31] liweinan0423 commented on #26067
+1. This issue also happens when updating a service with a new image version. I imagine the temporary work around is to set the `--endpoint-mode` to `dnsrr` and use a third-party load-balancer such as HAProxy or Nginx to do the health-check trick.

[2016-09-27 17:37] saithala commented on #26806
[Logs.txt](https://github.com/docker/docker/files/496277/Logs.txt)

@mrjana  here it is. Please let me know if you have any questions

[2016-09-27 17:43] dnephin commented on #26876
Currently by doing `docker service update`, which I don't think is a good way of doing it. I personally think we need a second format for including all the non-portable stuff. This second "settings" file wouldn't be distributed from a registry, but would be managed by the local operator. We could have tooling to create a default "settings" file based on hints provided from a bundle. #26748 is an i

[2016-09-27 17:51] Dominik-K commented on #23177
Binaries in minimal Docker containers like the [static Go containers](https://developer.atlassian.com/blog/2015/07/osx-static-golang-binaries-with-docker/) don't use the `/etc/hosts` file.  But they can access the Docker host's hostname without the ".local" or ".home" (OS X), as [mentioned by Christoph Kluge](https://forums.docker.com/t/access-host-not-vm-from-inside-container/11747/23).

So, I su

[2016-09-27 17:58] thaJeztah commented on #24561
Looks like changes to the install script were made, so I'll close this one, but ping me if additional changes are needed, and I'll reopen :smile:

[2016-09-27 17:58] #24561 closed

[2016-09-27 18:01] cguess opened #26958 "Kernel Panic caused by com.docker.hyper"
MacOS suffered a kernel panic while using Docker for Mac. I was doing nothing out of the ordinary.

**Steps to reproduce the issue:**
1. Run Docker for Mac
2. ```docker-compose up```
3. Kernel Panic after some time

**Describe the results you received:**

Kernel panic

**Describe the results you expected:**

Not to have the machine crash.

**Additional information you deem important (e.g. issue ha

[2016-09-27 18:05] thaJeztah commented on #26958
Thanks for reporting; could you reopen this in the docker for mac issue tracker (as it is specific to docker for mac); https://github.com/docker/for-mac/issues

I'll close the issue here, but thanks again for reporting

[2016-09-27 18:05] #26958 closed

[2016-09-27 18:06] Corni opened #26959 "docker push to local registry is slow"
Hi,

with a docker registry 2.5.1 on our local gigabit network, we observe that pushing 255MB of image data (in one layer) takes about 12 seconds. This makes about 20 MByte/s transfer speed, with the disk and network being capable of up to 120 MByte/s.
This means there is room for up to 6x performance gains here ;-)
Are there specific reasons why push is so slow, or is this something you plan to w

[2016-09-27 18:09] jstarks commented on #26947
That's a good point -- our graph driver could disable this compression at the folder level, and as long as you don't (re)enable compression after pulling some images, you won't have any trouble. I hadn't considered that.

This could be done in the Windows graph driver init function by issuing [FSCTL_SET_COMPRESSION](https://msdn.microsoft.com/en-us/library/windows/desktop/aa364592(v=vs.85).aspx) o

[2016-09-27 18:11] thaJeztah commented on #26351
/cc @mrjana

[2016-09-27 18:13] mschirrmeister commented on #26563
@mrjana You are right. I was always trying to start the daemon at the same time. Manually.
I was hoping or trying to figure out if the cluster mechanisms can handle that.
I guess you now know how to fix this race condition.

You can do btw whatever you want in the nodes. In case you want to experiment.

[2016-09-27 18:15] thaJeztah commented on #12972
This is a duplicate of https://github.com/docker/docker/issues/17317, and (see https://github.com/docker/docker/issues/17317#issuecomment-248151923) this is being tracked in https://github.com/docker/distribution/issues/1028, so I'm closing the issue here

[2016-09-27 18:15] #12972 closed

[2016-09-27 18:35] mwieczorek commented on #26895
ok, so i'll close this issue, and try to add it directly to go-plugins-helpers, thanks.

[2016-09-27 18:35] #26895 closed

[2016-09-27 18:45] pascalandy commented on #26702
@icecrime I agree this is not a bug issue. At first I tought there was a bug about having only 40 ctn per nodes. It turns out the overlay network is only support 252 containers at the moment.

Feel free to close or keeping it open for documentation :)
Thanks for caring :)

[2016-09-27 18:52] icecrime commented on #26702
Well, thanks for reporting :wink:

[2016-09-27 18:52] #26702 closed

[2016-09-27 18:56] aboch commented on #20869
@sithembiso

The issue seems related to different formats for the labels in the network generic's fields.
I see there are 1.8.x and 1.9.x syntaxes. Also it happens in a error recovery code path, which error seems to be caused by the same syntax issue.

I am not sure how your system ended in that situation, because I'd expect the 1.8.x data to be overwritten with th 1.9.x format. I am suspecting in

[2016-09-27 18:59] GhostRussia commented on #22567
On macOS the same problem.

[code]

[code]
<img width="907" alt="2016-09-28 03 58 03" src="https://cloud.githubusercontent.com/assets/12181586/18887620/cb6851ec-852f-11e6-9734-9028ae5fd440.png">

[2016-09-27 19:04] aboch commented on #26912
Besides the techincal difficulties in enforcing this (at overlay network creation we may not know what is the subnet used by the default gateway network), I do not believe it is sustainable or recommended for a system to make sure that no invalid configuration is entered.

IIRC, Linux and other OSes as well allow you to create multiple interfaces with addresses in the same subnet. Trying to say I

[2016-09-27 19:09] #20869 closed

[2016-09-27 19:18] dursk commented on #25981
Just ran into this same issue w/ Docker for Mac, `v1.12.1` and docker-compose `v1.8`

[2016-09-27 19:23] thaJeztah commented on #26059
@oszi perhaps you're interested in opening a pull-request for discussion? the RPM specs are in this file https://github.com/docker/docker/blob/master/hack/make/.build-rpm/docker-engine.spec

[2016-09-27 19:28] aboch commented on #20486
Thanks @withinboredom for the valuable info and @andreas4all for confirming.
Then it looks like the delayed save to store for the driver network endpoints is the culprit in causing this issue.

Will look at the code and see if anything can be done faster, or in a way to be more tolerant to ungraceful shutdowns.

[2016-09-27 19:35] JaviSabalete opened #26962 "Volume data synchronization lost when host time is changed"
**Description**

Volume data synchronization lost when host time is changed.

**Steps to reproduce the issue:**
1. Start container with volume data between container and host.
2. Check if changes on shared folder on host are ready on container, should be fine.
3. Change host time (e.g. 10:35AM (real time) to 8:00AM)
4. Do some changes on shared folder on host
5. Check if changes on shared folder o

[2016-09-27 19:37] aboch commented on #26071
I would also expect `docker network ls` to not report the default `bridge` network if the daemon was started with `--bridge=none`

[2016-09-27 19:37] thaJeztah commented on #26015
Once you have run out of space on the loopback device, I don't think there's a way to recover, see https://github.com/docker/docker/issues/20272. Docker 1.11 added an option to _prevent_ getting in this situation by specifying a minimum amount of space to keep free (see https://github.com/docker/docker/pull/20786), but that won't help you now that this is the case.

I don't think there's a real so

[2016-09-27 19:37] #26015 closed

[2016-09-27 19:40] thaJeztah commented on #21545
ping @runcom ^^

[2016-09-27 19:44] thaJeztah commented on #25937
I think this question is answered, so I close this issue, but feel free to continue the discussion

[2016-09-27 19:44] #25937 closed

[2016-09-27 19:48] thaJeztah commented on #25866
This was implemented in docker 1.11 (see https://github.com/docker/docker/pull/19840); what version are you running on?

[2016-09-27 20:07] AlekSi commented on #23177
They [do use it](https://golang.org/src/net/dnsclient_unix.go?#L385).

[2016-09-27 20:10] thaJeztah commented on #26962
Which commands do you use to check if "The changes realized after the time changed aren't ready on container."? Do you `docker exec` into the container? Can you provide the exact steps to reproduce?

When running docker on linux, using a bind-mounted directory, to share a directory on the host with the container, there's basically _nothing_ in between the files and the container, it literally is t

[2016-09-27 20:13] thaJeztah commented on #26051
ping @mlaventure ^^

[2016-09-27 20:23] thaJeztah commented on #25966
Sorry for the lack of response here @stelcheck. I'm on sure I fully grasp the issue, but ping @cpuguy83 perhaps you have some thoughts 😇

[2016-09-27 20:25] thaJeztah commented on #25907
Looks like this was answered (thanks again @rhatdan!), so I'll close this issue

[2016-09-27 20:25] #25907 closed

[2016-09-27 20:33] thaJeztah commented on #26054
Error originates here; [daemon/graphdriver/devmapper/deviceset.go#L599-L623](https://github.com/docker/docker/blob/c2f57291ac04a1d582d7fcdedda7b1ad707543d5/daemon/graphdriver/devmapper/deviceset.go#L599-L623)

I'm not sure we could simply add this as a dependency, because the daemon is fully capable to run without (but with a different storage driver). Possibly detection in the device mapper drive

[2016-09-27 20:35] thaJeztah commented on #26177
This looks like an issue with docker toolbox; could you reopen this issue in that issue tracker? https://github.com/docker/toolbox/issues when doing so, please provide some more information (as the current information does not provide enough to assist you further).

I'll close this issue here

[2016-09-27 20:35] #26177 closed

[2016-09-27 20:35] stevvooe commented on #26065
@tonistiigi Thanks for implementing this feature!

[2016-09-27 20:41] thaJeztah commented on #25718
We've merged a PR that implements a retry mechanism for unmounting (see https://github.com/docker/docker/pull/26536). This will be included in docker 1.12.2, for which we're releasing a first release candidate (hopefully) today. If you have a test system to try this on, that would be great.

Also ping @anusha-ragunathan  - you may be interested in this as a reproduction case.

[2016-09-27 20:43] thaJeztah commented on #25915
Also see https://github.com/docker/docker/issues/26876

[2016-09-27 20:45] thaJeztah commented on #25627
Fixed through https://github.com/docker/docker/pull/25719

[2016-09-27 20:45] #25627 closed

[2016-09-27 20:47] thaJeztah commented on #25299
ping @tianon @diogomonica ptal

[2016-09-27 21:07] JaviSabalete commented on #26962
Yes. I execute this command exactly:
```docker exec -ti ID_CONTAINER bash```

Into container, go to /var/www/html to check changes. This is the mounted directory.

I can try to explain better

We are using docker to execute web project with same os, software versions, etc that production environment.

So container has apache2 running and I test web from host (http://containerip)
Works fine, we wor

[2016-09-27 21:17] aluzzardi commented on #24310
If I understand correctly:
- This problem is not showing up on 1.12.1
- There is a problem on Centos with 1.12.1 tracked as #26235

I'm going to close this one so we move the conversation to #26235 - please re-open if my understanding is wrong.

[2016-09-27 21:17] #24310 closed

[2016-09-27 21:19] aluzzardi commented on #24108
@nishanttotla @yongtang @vdemeester Were all the required PRs merged in? Will this be fixed in 1.12.2 or are we targeting a future release?

[2016-09-27 21:24] thaJeztah commented on #26962
Absolutely no need to apologize, native is not my mother tongue either, and so far you're doing fine!

I see two possible issues here;

First of all, I see that the container has _two_ volumes; one "anonymous" volume, mounted at `/var/www` in the container, and one bind-mounted volume, mounted at `/var/www/html`. Because those volumes overlap, it's possible that one volume is mounted over the othe

[2016-09-27 21:27] aluzzardi commented on #26638
docker/swarmkit#1483 has been merged so this should be fixed in 1.13.

@aaronlehmann @allencloud Closing this down - please re-open if you disagree.

[2016-09-27 21:27] #26638 closed

[2016-09-27 21:28] aluzzardi commented on #26601
Is this still happening?

[2016-09-27 21:31] aluzzardi commented on #26588
@stevvooe Can you take a look at the logs?

[2016-09-27 21:35] aluzzardi commented on #26946
@colinmollenhour What's `bond0:0`?

[2016-09-27 21:35] stevvooe commented on #4817
How would such a script maintain the relationship between the current version of `latest` and the last version of `latest`? How could these reconcile when `latest` forks on two separate machines? This behavior requires a three-way merge semantic with history of the _reference_, not the image.

[2016-09-27 21:38] thaJeztah commented on #22025
Device mapper without udev sync support is indeed known to cause issues, which is a reason for docker itself to (by default) refuse to use it if udev sync is not available (see https://github.com/docker/docker/blob/master/daemon/graphdriver/devmapper/deviceset.go#L1715-L1726)

As far as I know, udev sync never works when running inside a container (and on top of a layered filesystem), so I suspect

[2016-09-27 21:38] aluzzardi commented on #26930
@mrjana @dongluochen Should we do a hard detection of IPVS and explicitly crash if not available?

[2016-09-27 21:39] tophj-ibm commented on #26601
Haven't seen it in a couple of days, but still doing some more tests over on jenkins https://jenkins.dockerproject.org/job/Docker%20Master%20(powerpc)/. It's possible it was fixed in one of the vendors so I'll close this for now, and if I see it happen again I'll reopen this.

[2016-09-27 21:39] aboch commented on #21654
@zepouet

I followed the reproduction steps you reported (thanks for that) using the latest docker image from master.
I no longer see the problem. Things seems to work as expected now.

[code]

Can you please take a look and confirm.
Thanks

[2016-09-27 21:40] aluzzardi commented on #26903
Assigning to @aaronlehmann so he can close once docker/swarmkit#1570 gets merged

[2016-09-27 21:40] stevvooe commented on #26146
Docker is a remote daemon, where several users can be downloading the _same_ layer concurrently. If one user says no and the other user says yes, what should the daemon do? How would one implement this?

To tell you the truth, we should just save the partials and allow them to be cleared out periodically.

[2016-09-27 21:41] thaJeztah commented on #4817
@stevvooe I was thinking of `docker tag myimage:latest my image:latest-1`, or  `docker tag myimage:latest my image:previous` before running a build, or am I being naive?

[2016-09-27 21:41] aluzzardi commented on #26899
/cc @vieux @dnephin @mrjana

[2016-09-27 21:44] aluzzardi commented on #26884
`swarm join` will use the address you provide only during initial connection.
Once connected, the manager will give the worker the list of all managers (including itself) along with their
address (as defined in advertise address).

If a manager goes down, its workers will randomly reconnect to another manager based on that list.
When a new manager joins, its advertise address is broadcasted to all

[2016-09-27 21:46] mrjana commented on #26806
@saithala From your logs it seems like the service did not start properly. Can you see what `docker service ps <service_name>` shows?

[2016-09-27 21:48] groyee commented on #25215
Can anyone provide some workaround until this fix is released?

This happens for us all the time in production. Absolutely frustrating. Currently the only option I know is physically remove the VM from the cloud and create a new one.

[2016-09-27 21:50] aluzzardi commented on #26826
Thanks for the report @a-robinson.

We have a new default "HA" strategy coming up in 1.13 which, in addition to the current spreading model, will also spread based on number of tasks from the same service (so you'll never have multiple instances of the same service on one node if there are other nodes available with no instance).

However, since we have different services here it won't do the tric

[2016-09-27 21:51] thaJeztah commented on #23089
Looks like the issue was resolved for @rkharya. Also, there's some other issues for this that may contain useful information; https://github.com/docker/docker/issues/15721, https://github.com/docker/docker/issues/19055, https://github.com/docker/docker/issues/21606, https://github.com/docker/docker/issues/16344, https://github.com/docker/docker/issues/13894

[2016-09-27 21:51] #23089 closed

[2016-09-27 21:51] aluzzardi commented on #26808
@docwhat @npcode I **think** we actually do inject a log label with the service name.

@stevvooe Can you confirm and provide guidance?

[2016-09-27 21:53] alexmavr opened #26964 "Docs for service ps do not mention node filter"
On the `docker service ps` documentation page (https://docs.docker.com/engine/reference/commandline/service_ps/) only three filters are shown as supported: id, name and desired-state. However, I discovered that there is also the "node" filter which matches tasks by either the hostname of the node they are deployed on, or the NodeID of that node (confirmed on 1.12.1).

The API reference for the tas

[2016-09-27 21:56] aluzzardi commented on #26772
@evanp Thanks for the detailed information!

We're actually in the process of building `1.12.2-rc1` today which contains the fixes found in `1.13-dev`.

In a few hours you should be able to try that version (and the official 1.12.2 should be out in a matter of weeks).

[2016-09-27 22:00] thaJeztah commented on #25215
The change was cherry-picked into the 1.12.x branch (https://github.com/docker/docker/blob/1.12.x/vendor/src/github.com/docker/libnetwork/drivers/overlay/overlay.go#L97-L106) through https://github.com/docker/docker/pull/26879. We will be releasing docker 1.12.2-rc1 today or tomorrow for testing

[2016-09-27 22:02] groyee commented on #25215
Thank You! Can't wait for this release :-)

[2016-09-27 22:04] rmcolbert commented on #26947
I'll take a look at the graph driver and see if I can add it.  It would also be nice if compression is set that it tells you exactly which file was compressed.  I'll look at that as well.

[2016-09-27 22:04] thaJeztah commented on #25953
`docker service ps` shows an overview of "tasks" for the service, and on which node they're deployed; https://docs.docker.com/engine/reference/commandline/service_ps/

It looks like this question is answered, so I close this issue, but feel free to continue the discussion

[2016-09-27 22:04] #25953 closed

[2016-09-27 22:06] thaJeztah commented on #25913
Looks like this can be closed. Also, there's some other issues for this that may contain more information about this; https://github.com/docker/docker/issues/15721, https://github.com/docker/docker/issues/19055, https://github.com/docker/docker/issues/21606, https://github.com/docker/docker/issues/16344, https://github.com/docker/docker/issues/13894

[2016-09-27 22:06] #25913 closed

[2016-09-27 22:07] thaJeztah commented on #25898
Thanks, I'll close this issue

[2016-09-27 22:07] #25898 closed

[2016-09-27 22:08] dperny commented on #26763
@saithala is there any chance that your image isn't properly set up as a daemon? To me, this looks like you might be running a service that is executing once and then closing itself immediately after. That's what the `Complete` status means; the task has run and then shut down without an error code. However, Swarm Mode isn't designed for batch tasks, so any task that ends up in the `Complete` stat

[2016-09-27 22:11] thaJeztah commented on #14082
This is something that needs to be implemented in the _registry_ not the docker-engine, so this issue should be opened in that issue tracker; https://github.com/docker/distribution/issues. I'll close this issue here, because we cannot implement/fix this issue in this repository

[2016-09-27 22:11] #14082 closed

[2016-09-27 22:15] thaJeztah commented on #25074
closing because this should be fixed

[2016-09-27 22:15] #25074 closed

[2016-09-27 22:19] thaJeztah commented on #25784
Are you still having this issue? Could you provide the output of `docker info`, and `docker version` as requested in the issue template? It's possible the host is running out of resources (what specs does the hardware have?).

In general, it's recommended to not put workload on the master node, but of course this depends on the specifications.

[2016-09-27 22:21] thaJeztah commented on #25079
closing, as this should be fixed

[2016-09-27 22:21] #25079 closed

[2016-09-27 22:25] thaJeztah commented on #25982
ping @jhowardmsft ptal

[2016-09-27 22:32] thaJeztah commented on #26011
Looks like the questions are answered, so I'll close this issue, but happy to hear how things went

[2016-09-27 22:32] #26011 closed

[2016-09-27 22:34] thaJeztah commented on #26278
ping @anusha-ragunathan what's the status on this one, is this still being looked at or was this resolved?

[2016-09-27 22:39] thaJeztah commented on #25846
Looks like this question is answered (thanks @jhorwit2), so I'll close this issue, but feel free to comment if it's not clear

[2016-09-27 22:39] #25846 closed

[2016-09-27 22:41] thaJeztah commented on #25999
ping @mlaventure

[2016-09-27 22:44] thaJeztah commented on #26001
Closing because we were unable to reproduce, and need more information, but happy to reopen once that's provided

[2016-09-27 22:44] #26001 closed

[2016-09-27 22:47] thaJeztah commented on #25921
@ameyaagashe are you still having this issue? Could it be you previously had the Red Hat fork of docker installed on that machine? If so, this could be related, as the Red Hat fork has modifications in this area that stores images using a non-standard reference.

[2016-09-27 22:49] marcosnils commented on #25784
@thaJeztah I'm just running 200 `top` processes. I've spoken with @mavenugo about this and he agreed that it's not a resource issue, it's something in swarm mode that just fails to schedule the tasks. This is still happening with latest 1.12.x engine.

the `DAB` is attached in the first issue post to reproduce.

[2016-09-27 22:52] thaJeztah commented on #25740
ping @dave-tucker PTAL

[2016-09-27 22:52] MichaelW-SD commented on #26772
Don't know if it helps but I am seeing this problem in a situation where `docker service update` fails. I have a service that consists out of two containers but after a failed update (due to errors in the image) I have `dig tasks.<service>` showing me 3 IP addresses. Removing and recreating the service does not fix the problem.
Most annoying part is that there is no manual way to fix an issue in t

[2016-09-27 23:08] dmlf commented on #8318
Same problem here

Workaround :

**Prepare a tarball**

`tar cvf my.whitespace.files.bundle.tar my\ file\ with\ whitespaces`
or
`tar cvf my.whitespace.files.bundle.tar my\ folder\ tree/
`

**Adapt Dockerfile**

[code]

[2016-09-27 23:14] foxx commented on #25074
I haven't seen this issue come up since, thanks all!

[2016-09-27 23:17] dave-tucker commented on #25740
TIL there is a variable called `ALL_PROXY` 😁
At [a cursory glance](https://github.com/kennethreitz/requests/issues/3183) it looks like it's a SOCKS-only thing so I don't think it's unreasonable to error out if it's set to a non-socks address as it's clearly not going to work as expected. None of my standard sources of proxy documentation (`curl` and `wget`) claim to have any support for it at all.

[2016-09-27 23:26] jhowardmsft commented on #25982
The call into HCSShim will differ depending on whether this is a Windows Server Container, or a Hyper-V container, and depending on not whether the initiator of the shutdown is a forced shutdown or graceful shutdown (eg from docker stop -f container vs docker stop container). In a forced case, for either container type, no notification will be expected. It is possible that there is a kernel issue

[2016-09-27 23:27] jhowardmsft commented on #25982
(Note also this was on TP5 - I would strongly recommend seeing if the behaviour is different on 14393/RTM)

[2016-09-27 23:30] justincormack commented on #8460
Ok, I have a working version with support for ambient caps, let me see about upstreaming it.

[2016-09-27 23:37] thaJeztah commented on #26106
ping @mrjana @estesp :innocent:

[2016-09-27 23:39] mrjana commented on #25698
@ajl Since I did not hear from you I am going to assume that you haven't seen the problem. Please feel free to retest with 1.12.2-rc1 and let us know. I am going to close this issue now. Feel free to reopen if you see the problem again.

[2016-09-27 23:39] #25698 closed

[2016-09-27 23:43] mrunalp commented on #8460
@justincormack Nice :) I was just beginning to look into runc changes for it today. Will wait for your patch now :)

[2016-09-27 23:45] mrjana commented on #26912
IIRC, I think this was erroring out some time back i.e if you attach a container to multiple networks which belong to the same subnet then the attachment will fail. This may be a regression. In any case I think we should error out and disallow such an attachment.

[2016-09-27 23:45] mrunalp commented on #8460
Will probably need changes to the go-capability package first.

[2016-09-27 23:45] godefroi commented on #25982
@jhowardmsft This is a Windows Server container. I installed today the evaluation version that was released yesterday (which I assume is 14393, but am not at my machine currently to verify), but I have not re-tested. I will in the morning, and update.

[2016-09-27 23:52] mimizone commented on #21485
Why the test outside the container/cgroup is not impacted by the bug/slow performance? Isn't the I/O scheduler always in the data path, cgroup or not?
like described on this great diagram https://www.thomas-krenn.com/en/wiki/Linux_Storage_Stack_Diagram#Diagram_for_Linux_Kernel_4.0

[2016-09-27 23:53] thaJeztah commented on #25923
ping @mrjana @aboch

[2016-09-28 00:00] stevvooe commented on #26808
@aluzzardi We provide the `com.docker.swarm.service.name` label but it is up to the user to configure which information is mapped into the logging system. Note that you have configure this per service, as well, via `--log-opt`. We have support to configure this cluster wide built into swarmkit but haven't exposed in the cli.

As far as doing this by default, I am not sure. There are about 5 or 6 r

[2016-09-28 00:09] stevvooe commented on #4817
@thaJeztah Sure, that would provide a _similar_ behavior but the result is shallow. It will break down when two nodes disagree on what `latest-1` is.

Git's data structures really enable some cool stuff and reproducing that behavior cannot be done with data structures that support these operations under all conditions.

[2016-09-28 00:10] thaJeztah commented on #19697
Looks like this issue is resolved / answered, so I'll close, but ping me if you think there's still something that needs to be addressed

[2016-09-28 00:10] #19697 closed

[2016-09-28 00:15] dongluochen commented on #26735
@dhiraj-hadkar From your `docker info` output there is only 1 container running. If your service was scaled to 2, one might have not been created properly. Docker swarm mode implements round robin strategy. If there are 2 active backends, both should be reachable on the published port.

[code]

[2016-09-28 00:17] aboch commented on #26912
@mrjana

I am not aware of a any regression in regarding to the specific test the submitter is performing. He is intentionally creating an overlay network with subnet overlapping with the existing default gateway bridge network's subnet.

Given the two pools belong to two distinct address spaces and respective bridges are located on two distinct network namespaces, I am not sure how IPAM driver or

[2016-09-28 00:19] rosenfeld commented on #26146
In that case, as long as at least one user would be willing to keep the partial content it should be kept. That's okay to always keep them too in my opinion. `apt-get` has the `clean` option to get rid of downloaded packages, maybe `docker` could also get a `clean` option as well in additional to the periodic cleaning for the cases where imediate clean-up is required...

[2016-09-28 00:23] stevvooe commented on #25483
Let me put this differently: renaming of services should not be supported. This is a broken feature and should have never been introduced.

We'll need to prevent this on the swarm manager and remove the flag.

[2016-09-28 00:26] mrjana commented on #26912
@aboch IPAM cannot detect it and it never did. But there code which adds the gateway IP in `osl` will fail if it already found another gateway IP in the subnet with `EEXIST` error. If it is not happening now it is a regression (it does not matter whether these two attachments were driven by different drivers).

[2016-09-28 00:28] mrjana commented on #26912
It is not about doing conflict resolution at the bridge level but at the container namespace level which is the same for that container. This is the primary reason we broken network resource addition into the container namespace so that we can resolve the conflicts.

[2016-09-28 00:35] aboch commented on #26912
@mrjana

True, but sandbox.UpdateGateway() has always made sure to first unset the current gateway, then install the new one: https://github.com/docker/docker/blob/v1.9.0/vendor/src/github.com/docker/libnetwork/sandbox.go#L338

[2016-09-28 00:39] mrjana commented on #26912
That is probably the regression

[2016-09-28 00:41] unoexperto opened #26966 "Cannot pull image from private repo on Docker Hub"
Hey guys,

I no longer can pull image from private repo on Docker Hub. It worked while repo was public.

Repo in question is `zzz/case-server`.

[code]

[code]

I did `docker login` and can push new images but can't pull them on production machine (where I also authenticated via `docker login`).

Not sure if it's related but `https://index.docker.io/v1/repositories/zz/case-server/tags/1.132` gives

[2016-09-28 00:44] bbodenmiller commented on #25740
While `ALL_PROXY` may be intended for SOCKS usage in some cases [users use it for non-SOCKS usage](https://www.bonusbits.com/wiki/HowTo:Setup_HTTP_Proxy_Settings_for_Bash_Profile_on_Linux). When they have that setup docker pulls fail. Just because a user or their system admin does something silly like use `ALL_PROXY` for a different purpose does not mean that docker should fail. There is at least

[2016-09-28 00:45] cpuguy83 commented on #22601
Any news on this?

[2016-09-28 00:55] aboch commented on #26912
Hmm, not sure, that code is there at least since docker 1.8.0: https://github.com/docker/docker/blame/v1.8.0/vendor/src/github.com/docker/libnetwork/sandboxdata.go#L53

[2016-09-28 01:05] dave-tucker commented on #25740
I stand corrected. `man curl` states
[code]

As I read it, we shouldn't raise an error... instead we should use the value of `ALL_PROXY` assuming a protocol specific proxy hasn't been set.

[2016-09-28 01:10] tonylit commented on #7481
+1
centos7

Containers: 18
 Running: 18
 Paused: 0
 Stopped: 0
Images: 2
Server Version: 1.12.0-rc4
Storage Driver: overlay
 Backing Filesystem: extfs
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: host bridge null overlay
Swarm: inactive
Runtimes: runc
Default Runtime: runc
Security Options: seccomp
Kernel Version: 3.10.0-327.el7.x86_64
Operating System: CentO

[2016-09-28 01:12] tonistiigi commented on #26966
Please provide more information: what commands are you running, what error do you get and post daemon logs as well if possible.

[2016-09-28 01:19] dbason commented on #26550
Sorry for the delay coming back to you, here is how it looks with the stuck container.
docker ps:
[code]
docker daemon logs:
[code]

Output for ps aux for daemon and kill:
[code]

[2016-09-28 01:57] darrenstahlmsft commented on #22601
The issue appears to be that starting so many containers at once on the CI servers triggers a platform timeout. We're tracking an internal issue on this, as the timeout seems too aggressive, but in order to avoid this in CI, we can either limit the concurrency of the test, or impose concurrency limits on calls to the engine. I'm leaning towards limiting the concurrency of the test, I'll submit a P

[2016-09-28 02:03] jcwilson commented on #13817
Can you share this, @xinity? I am using ConsoleZ but have been running into this issue recently. Oddly enough, this only started after installing the latest Docker for Windows, though I'm using the virtualbox driver (not hyper-v). When using DockerToobox 1.12.0 I did not have any issues.

[2016-09-28 02:31] yongtang commented on #24108
@aluzzardi PR #24850 is done with code review and is now under docs review. I would expect it to be merged very soon. Once #24850 is merged I think this issue could be closed.

[2016-09-28 02:39] colinmollenhour commented on #26946
@aluzzardi bond0 is the public interface and bond0:0 is the private interface; that's just how packet.net names their interfaces but they are akin to eth0 and eth1. The exact command I used is no longer in my history but I think I did use --advertise-addr with the private IP. The `docker swarm join-token worker` command does show the private IP:

[code]

I created a new network "mytest2" and tried

[2016-09-28 02:43] ashleysommer commented on #25993
Affecting me too.
Was happening on 1.11, and I just updated to 1.12.
Running on Debian 7 (Wheezy) from the debian repos.

See attached gist file for Go Trace after sending SIGUSR1:
https://gist.github.com/ashleysommer/4cb1df7647fa8ae4bce8f01e82dcba96

[2016-09-28 02:53] cpuguy83 commented on #26808
ping @nalind

[2016-09-28 03:10] yourNameIsGood commented on #20698
@jordancrawfordnz   also works for me in my Xenial. Thank u soooo much

[2016-09-28 03:31] ghostplant opened #26969 "Is there a way to list a set of Repos from a registry v2 service using only docker client?"
**Description**

"/v2/_catalog" provides the list of repos in a private registry, and I know how to use REST + curl to read that content. However, different authorization methods (token, htpasswd, ..) make it complex to login for token and conduct REST response by curl every time. Are there some methods to make it easy, like the following:

docker login priv-registry:port
docker push priv-registry

[2016-09-28 05:06] cvuijst commented on #25698
@mrjana I'm sorry to hear this topic is closed. I've referred to it from the **Docker for AWS (beta)** forum, see my post: **Scaling a service down causes ports to ‘hang’** at: [(https://forums.docker.com/t/scaling-a-service-down-causes-ports-to-hang/21384/2)]. According to me, it is related and it is still an issue. Would you think it is possible to get follow-up?

[2016-09-28 05:09] C0deH4cker commented on #13026
If a command `TAG` were added that allowed tagging the image at that point in the Dockerfile, it might make more sense to allow multiple `FROM` commands. In that use case, you could have one `FROM`, run whatever commands are needed to produce your new image, have a `TAG myfirstimage`, and then another `FROM` and finish the Dockerfile. As with the way it works now, the image name/tag specified on t

[2016-09-28 05:15] mrjana commented on #25698
@cvuijst The reason it is closed is because we reasonably believe that this is fixed in master as well as the just now released 1.12.2-rc1. If you are facing similar problem would you be able to test 1.12.2-rc1 from https://github.com/docker/docker/releases/tag/v1.12.2-rc1 and let us know if it fixes your problem?

[2016-09-28 05:24] cvuijst commented on #25698
@mrjana Thanks for your response; much appreciated. The cluster on AWS is generated by using the AWS CloudFormation stack and the pre-baked Docker AMI as provided by the team that created the Docker for AWS beta program. Is there a way to get the new engine in the Docker for AWS beta as well? I think it would be great to test that.

[2016-09-28 05:26] mrjana commented on #25698
Ah. Missed the fact that your using Docker for AWS. There would be an update to Docker for AWS with a 1.12.2-rc1 engine version shortly. Stay tuned.

[2016-09-28 05:59] allencloud opened #26971 "docker daemon's health check log not readable"
**Description**
When docker daemon set the log level as `DEBUG`, then every container's HEALTH CHECK log will be daemon's log.

However when I search health check log in daemon's log, I found that the health check log is not so readable that I can not clarify which line of log is which container's.

like the log here:
[code]

In above log, there are
[code]

Actually we do not know which log belong

[2016-09-28 06:15] AkihiroSuda commented on #20240
Is this issue closable?
PTAL @thaJeztah

[2016-09-28 06:25] michelvocks commented on #26930
@aluzzardi Some people don't want to use Swarm Mode on their machine. They just don't need it or they want to use the old swarm standalone. If you do a hard detection you will force them to enable something they might not need. Not sure if this is wanted.

@mrjana Yes. It is a bit weird because when I try to start a normal container with the same port I get a port conflict.

[code]

If I start the

[2016-09-28 06:26] caneraydinbey commented on #18113
Removing  /var/lib/docker/network/files/local-kv.db as root did not work for me for those errors:

ERROR: for gateway-app  Cannot start service gateway-app: failed to update store for object type *libnetwork.endpointCnt: Key not found in store

ERROR: for onboarding-app  Cannot start service onboarding-app: failed to update store for object type *libnetwork.endpointCnt: Key not found in store

ERR

[2016-09-28 07:09] vdemeester commented on #24108
@aluzzardi its targeted for 1.13 so it's not gonna be fixed for 1.12.2 :sweat:

[2016-09-28 07:27] justincormack commented on #8460
Already submitted a PR there...

On 28 Sep 2016 12:45 a.m., "Mrunal Patel" <notifications@github.com> wrote:

[2016-09-28 07:30] allencloud opened #26974 "takes too long to response, when creating a network using non-existing driver"
**Description**

When I create a network in bridge driver, accidently I typed in the wrong bridge as `brdige`.
As a result it takes too long for docker daemon to response, almost 20s.

Here is my test:
[code]

It takes approximately 17s.

**Steps to reproduce the issue:**
1. `docker network create -d brdige test` with non-existing network driver
2. wait for docker daemon's response
3. long time un

[2016-09-28 07:49] justincormack commented on #8460
ok that just got merged https://github.com/syndtr/gocapability/pull/11#event-805044468 can do the runc PR now and the docs PR for here.

[2016-09-28 07:50] loretoparisi commented on #14203
I get the same error with this `DockerFile`

[code]

I was doing a long running task using `tensorflow` with

`./nvidia-docker-run --volumes-from myImage --rm -it tensorflow/tensorflow:0.10.0-gpu bash`

[2016-09-28 08:04] spoonysnail opened #26975 "Docker pull failed :Tag latest not found in repository docker.io/library/xxxx"
I've tried to pull r-base/nginx/fedora/mongo. All failed.
And the error message is :Tag latest not found in repository docker.io/library/xxxx
I don't know why..
What's wrong?
---------------------
Updated 10.08.2016:
I've reinstalled the system and docker2boot.
And now I can't even pull ubuntu.
The same error still exists.
Anyone can help me ?
---------------------

My docker info:
[code]
Docker v

[2016-09-28 08:19] justincormack commented on #8460
Runc PR https://github.com/opencontainers/runc/pull/1086

[2016-09-28 09:07] thaJeztah commented on #13817
@jcwilson we released a release-candidate for 1.12.2 for testing; see https://github.com/docker/docker/releases/tag/v1.12.2-rc1. I _think_ this is a client-side only fix, so you only need the `docker` (client) binary to test if it's resolved.

[2016-09-28 09:13] ndeloof opened #26976 "docker info should support --format"
Many docker command do support `--format` flag to pass a go template so one can filter the actual data on output. This is very efficient for shell/tooling integration as one can just dump the exact data to get consumed, and avoid doing some crappy output parsing.

`docker info` doesn't have this option :'(
My use case is to detect if swarm mode is enable, vs docker-swarm, and change commands  acco

[2016-09-28 09:15] genezys commented on #25718
@thaJeztah Thanks for the update. Unfortunately, I can still reproduce this bug using 1.12.2-rc1:

[code]

[2016-09-28 09:16] frank-dspeed commented on #16267
i did the following i got a btrfs container that had a host volume mounted that contained 60gb the host volume was btrfs.

the docker host it self used btrfs too

i runned a secund container using volumes-from + a host directory as target and executed tar in it to dump the data from the first container as tar to a other directory.

[2016-09-28 09:22] AkihiroSuda commented on #26976
it will be in 1.13
https://github.com/docker/docker/pull/23808

[2016-09-28 09:22] allencloud commented on #26638
Thanks a lot. @aluzzardi @aaronlehmann @thaJeztah

[2016-09-28 09:23] thaJeztah commented on #25718
Thanks for testing @genezys, looks like it doesn't cover all situations then.

[2016-09-28 09:25] thaJeztah commented on #25215
1.12.2-rc1 was released for testing; https://github.com/docker/docker/releases/tag/v1.12.2-rc1

[2016-09-28 09:26] thaJeztah commented on #26638
@aluzzardi was that change vendored already in this repository?

[2016-09-28 09:26] abdulrahim9 opened #26977 "Running one container from each image with one command"
Hello,

I would like to run multiple images, each in a container. These images can depend on one another. Let's say that I already know how to link them. I still need to write multiple commands in my command line to run each container. What I want to do is to run all containers with one command. It is possible to write the commands in a file and use one command to execute that file. Yet is this th

[2016-09-28 09:37] ndeloof commented on #26976
awesome !

[2016-09-28 09:37] #26976 closed

[2016-09-28 09:43] justincormack commented on #26969
Not at present. The current thinking is to make a tool for interacting with the registry to do more complex things rather than adding everything to the `docker` command.

[2016-09-28 09:50] #24108 closed

[2016-09-28 09:50] #24790 closed

[2016-09-28 09:59] rpicheta commented on #12084
For me it works in Dockerfile
`ENV TZ=Europe/London
RUN echo $TZ | tee /etc/timezone
RUN dpkg-reconfigure --frontend noninteractive tzdata`

ps. if You are NOT ROOT you have to add 'sudo' before 2nd (before 'tee') and 3rd line at the beginning.

[2016-09-28 10:01] thaJeztah commented on #20240
Looks like we should close this, yes, as it's not a bug in docker, and fixed upstream

[2016-09-28 10:01] #20240 closed

[2016-09-28 10:33] tsoikkel opened #26978 "Swarm service update with new latest tag doesn't work"
**Description**

Pulling the latest image and updating service with ```docker service update --image``` doesn't work.

**Steps to reproduce the issue:**

[code]

[2016-09-28 10:41] dreamcat4 commented on #12084
Haven't they changed things in ubuntu 16.04? Not sure this works for that distro anymore.

[2016-09-28 10:53] rpicheta commented on #12084
@dreamcat4 it works on for mysql image version 5.6
`FROM mysql:5.6
ENV TZ=Europe/Berlin
RUN echo $TZ | tee /etc/timezone
RUN dpkg-reconfigure --frontend noninteractive tzdata
...`

[2016-09-28 11:08] unoexperto commented on #26966
It fails with

[code]

on following command

[code]

in `/var/log/docker` I  see only this

[code]

[2016-09-28 11:13] ripcurld00d commented on #26966
@unoexperto. It seems like kernelnetworks doesn't exist on the [Docker Hub repository](https://hub.docker.com/search/?isAutomated=0&isOfficial=0&page=1&pullCount=0&q=kernelnetworks&starCount=0)

[2016-09-28 11:27] unoexperto commented on #26966
@ripcurld00d  Seems like it does: https://hub.docker.com/r/kernelnetworks/case-server/

[2016-09-28 11:35] saithala commented on #26806
@mrjana I restarted the services multiple times and it seems to me that the services start properly

[2016-09-28 11:40] dskdas commented on #26714
We have an application that relies on shared memory for communication between modules. The data volumes require us to have more shared memory than the default a container gets.

[2016-09-28 11:51] Vanuan commented on #26747
Just happened again when I've run a container with some heavy processing.

[code]

And then I've got the out of memory:

[code]

So it seems like that default DigitalOcean configuration doesn't have any swapping. And it causes some vital processes to die.

So I need to dedicate some about of memory for each service and add monitoring to see which service is a memory hog and dedicate a separate mac

[2016-09-28 11:53] ripcurld00d commented on #26966
Uh huh. It is really odd. When attempting to pull this image it tells me the image doesn't exist the repository.

[code]

How did you push the image? Can you provide more details?

[2016-09-28 11:56] albers commented on #24108
Assuming that `docker node task` was replaced by `docker node ps`, it works now:
[code]
Thanks for fixing!

[2016-09-28 12:10] mavenugo commented on #26747
@Vanuan @colinmollenhour we have resolved a bunch of issues in the upcoming 1.12.2 release and the RC build is available for trying : https://github.com/docker/docker/releases/tag/v1.12.2-rc1. Could you pls give it a try ? am not sure if this will solve the problems you were facing. But atleast it will make it easy to troubleshoot from a stable point.

[2016-09-28 12:13] thaJeztah commented on #26966
Looks like there's no image tagged `:latest` in that repository, so that's expected; https://hub.docker.com/r/kernelnetworks/case-server/tags/

[2016-09-28 12:19] unoexperto commented on #26966
@ripcurld00d I don't use directly docker to push. I'm using https://github.com/sbt/sbt-native-packager plugin. But there's no latest tag. We use project version as tag.

[2016-09-28 12:21] unoexperto commented on #26966
And by the way pulls works now because I asked team to make repo public again. We can revert it back to private of you like to test out.

[2016-09-28 12:22] #26971 closed

[2016-09-28 12:22] Vanuan commented on #26747
Thanks. So it might actually be the recovery after failure on both nodes. [Documentation suggests](https://docs.docker.com/engine/swarm/admin_guide/#/run-manager-only-nodes) that assigning resource unconstrained tasks to manager is risky. Now I see why.

[2016-09-28 12:29] cpuguy83 commented on #25718
But we do have extra debug details in the daemon logs now *if* you have `fuser` installed... which on Debian looks to be provided by the `psmisc` package.
Can you take a minute to enable debug logging and then reproduce?

[2016-09-28 12:31] ripcurld00d commented on #26966
@unoexperto you can make it private again.
IIRC, to pull private image, you need to `docker-login` before.
Did you try that?

[2016-09-28 12:32] thaJeztah commented on #26977
Sure, you could use a shell script to run multiple commands, e.g.

[code]

However, Docker Compose may be a better solution, as it is designed for that;
https://docs.docker.com/compose/overview/

I'll close this issue, because this is not a bug, and the GitHub issue tracker is not intended as a general support forum; https://forums.docker.com, the #docker IRC channel or StackOverflow may be better

[2016-09-28 12:32] #26977 closed

[2016-09-28 12:48] friism commented on #23068
Closing, deprecated by https://github.com/docker/docker/pull/25987

[2016-09-28 12:48] #23068 closed

[2016-09-28 12:49] thaJeztah commented on #26592
ping @bfirsh

[2016-09-28 12:56] aaronlehmann commented on #26826
This is https://github.com/docker/swarmkit/pull/874

The HA scheduler in 1.13 looks at desired state rather than actual state when making a scheduling decision. So this should be fixed in 1.13. @a-robinson, would you be interested in testing with a nighly build of Docker 1.13 from https://master.dockerproject.org to see if the scheduling behavior has improved?

[2016-09-28 13:01] thaJeztah commented on #26978
If your service already uses `registry:5000/app:latest` as image reference, then Swarm won't see it as being "changed" (it was `registry:5000/app:latest` before, and `docker service update` didn't change that). Pulling the image locally won't make a difference here, because each node keeps it's own image cache, and automatically pull images if the service is updated.

 To make sure that every repl

[2016-09-28 13:01] #26978 closed

[2016-09-28 13:06] tsoikkel commented on #24066
Suggesting that we change the default behaviour to that if the latest tag image have change, we do update. This way it's so much simpler to update with latest, rather than building CI to specify versions/tags.

[2016-09-28 13:09] justincormack commented on #8460
PR in https://github.com/docker/docker/pull/26979

[2016-09-28 13:12] unoexperto commented on #26966
Yes, I was logged in.

[2016-09-28 13:24] thaJeztah commented on #25871
looks like this question was answered (thanks again @jhorwit2), so I'll close this, but feel free to comment if there's anything left to address

[2016-09-28 13:24] #25871 closed

[2016-09-28 13:26] ripcurld00d commented on #26966
Does your account have access to your team private repo?

[2016-09-28 13:31] thaJeztah commented on #25940
ping @cpuguy83 @stevvooe ^^

[2016-09-28 13:36] thaJeztah commented on #26040
Certificate issues can also be related to clocks being out of sync between nodes; IIRC, improvements were made in that area in 1.12.0 GA, or 1.12.1. Have you checked if this is still an issue on 1.12.1 (note that 1.12.2-rc1 was also released today for testing)

ping @aaronlehmann is there more information that should be / can be returned if certificate verification failed?

[2016-09-28 13:37] dnephin commented on #26601
I'm still seeing these failures pretty regularly on master builds, so going to reopen this.

[2016-09-28 13:41] dnephin commented on #26899
@aluzzardi what is the correct behaviour? should both default to VIP?

[2016-09-28 13:41] aaronlehmann commented on #26040
Possibly related issue: https://github.com/docker/docker/issues/24078

GRPC used to swallow TLS-related errors and keep retrying forever, but the new version of GRPC that will be used in 1.13 fixes this problem.

[2016-09-28 14:00] amclelland commented on #13817
That worked, @thaJeztah! Thanks very much :D

[2016-09-28 14:08] BirknerAlex opened #26980 "Feature request: Windows Server 2016 NAT IP binding"
It seems like Docker on Windows Server 2016 does not support IP binding for the NAT network driver.

Example:
[code]

The error will be thrown in the following [line](https://github.com/docker/docker/blob/d3139fc84af390142341a29d3512462d1a449045/vendor/src/github.com/docker/libnetwork/drivers/windows/windows.go#L351
) in the source code.

But I think this would be a important feature for Docker on

[2016-09-28 14:12] thaJeztah commented on #26980
/cc @msabansal

[2016-09-28 14:16] korya commented on #12487
Just happened to me. Removing `/var/lib/docker` and restarting the daemon fixed it.

[code]

[2016-09-28 14:17] fabiendibot opened #26982 "cannot unmarshal array into Go value of type hcsshim.HNSNetwork"
Hello,

It seems there is an issue starting docker deamon 1.13-dev on the new realeses Windows Server 2016. It's an error related to network (it seems). After this error, i can pull images from repository, but i can't start any containers, seems like a timeout without any end.

Regards

ping @jhowardmsft

Here are the logs

time="2016-09-28T15:46:30.070585300+02:00" level=info msg="Windows default

[2016-09-28 14:34] tophj-ibm commented on #26823
@cyphar thanks for taking a look at it! I haven't messed with my $TMPDIR and I have normal write access to it, not to mention this happens on more than one machine, so I don't believe that is the case. In addition, if I remove and unload all the docker-default profiles and install 1.12, docker-default is visible as a kernel profile. However, this is not the case with 1.13.

[2016-09-28 14:36] cpuguy83 commented on #16267
So 60gb file/dir is sitting in the host directory, and you are using a container to tar it up to another host directory?

Logs from the daemon crash will be extremely helpful, thanks.

[2016-09-28 14:37] dev6 commented on #26822
I guess that is already taken care when you are using compose to build and start the containers. They are all attached to a new custom network. Here is my `docker network ls`

[code]

And `docker network inspect docker_default` gives all the containers linked together.
[code]

[2016-09-28 14:38] cwbeck commented on #24045
this is a huge issue for us - (one of many at the moment!)

we have a container running Ubuntu 16.04 LTS and Nginx where code is fetch from mounted volume (mounted via -v /a:/b)

[code]

[code]

[2016-09-28 14:41] jcwilson commented on #13817
@thaJeztah That works! I did have to `export ConEmuANSI=ON` even though I'm using ConsoleZ. I can add that it appears ConsoleZ injects the following environment variables into its shell sessions:
[code]
Perhaps it would make sense to add a check similar to the ConEmuANSI one. It does seem a bit weird for docker to be adding terminal/shell checks into its code. Maybe docker should look for a more g

[2016-09-28 14:41] g0nx commented on #25303
Whats happen with --hostname option? I think it is very important because there are a lot of scenarios in which your containers need to have hostname like example.com because the certificates. For example I need to communicate a rest service with a oauth service and it is only possible throw hostname oauth.example.com (I have a crt with *.example.com within this container).

I  hope that is clear.

[2016-09-28 14:47] jhowardmsft commented on #26982
@msabansal

[2016-09-28 14:51] godefroi commented on #25982
@jhowardmsft I gave it a shot this morning, and this is what I found. First, the versions I'm now working with:

`docker info` says this about my Windows version:
[code]

`docker version` says this:
[code]

My test application is a C# application, and I'm using the following methods to detect system shutdown:

- I'm hooking the `Console.CancelKeyPress` event.
- I'm hooking the `AppDomain.CurrentDo

[2016-09-28 14:55] thaJeztah commented on #13817
Thanks @amclelland @jcwilson for testing! W.r.t. the environment variables; if you think it's an important improvement, please open a new issue (feature request) for discussion

[2016-09-28 15:00] thaJeztah commented on #26087
Thanks for reporting! Looks like this is a duplicate of https://github.com/docker/docker/issues/11065, which is being addressed by https://github.com/docker/docker/pull/26464

I'll close this issue, because we're already tracking this through https://github.com/docker/docker/issues/11065, but thanks again for reporting

[2016-09-28 15:00] #26087 closed

[2016-09-28 15:02] thaJeztah commented on #24283
ping @justincormack

[2016-09-28 15:06] thaJeztah commented on #25303
@g0nx see https://github.com/docker/docker/issues/24877 for the discussion on that one (it's linked in the table at the top)

[2016-09-28 15:09] thaJeztah commented on #26076
Looks like this issue is answered (note that there's also instructions in the release notes for 1.12; https://github.com/docker/docker/releases/tag/v1.12.1).

I'll go ahead and close this issue, but @anokun7 let me know if there's still something that needs to be addressed

[2016-09-28 15:09] #26076 closed

[2016-09-28 15:12] a-robinson commented on #26826
Thanks @aluzzardi @aaronlehmann. I'll test it out with a recent build when I have a little more time later this week.

[2016-09-28 15:12] Vanuan commented on #26747
@colinmollenhour Well, it might be one of the most reliable ways to reproduce this issue.

[2016-09-28 15:28] g0nx commented on #25303
I have already read this thread but I can't see if this option going to implement to the next version or not... And the most important thing, when?

[2016-09-28 15:58] JamesJJ commented on #25826
I just started 120 machines with 1.12.2-rc1 and zero machines had this issue. Not conclusive, but this would have been impossible 1.12.1, so I think this may possibly be resolved in 1.12.2-rc1.

[2016-09-28 16:07] aboch commented on #26974
It is because when libnetwork does not know about that driver, it assumes it is plugin one and it requests the plugin infra to load it. The plugin infra tries few times with an increasing backoff time between each retry, which gets to the 15 secs, before declaring the plugin can't be found.

I do not know if this is changing with the new plugin infra which @anusha-ragunathan is adding. @anusha-rag

[2016-09-28 16:08] bfirsh commented on #26592
Thanks! However, 406 is normally used for content type issues, not request body issues. Admittedly, we do misuse it elsewhere in the API.

A plain old 400 would be more suitable. Or, if you wanted something more specific, perhaps [422](https://httpstatuses.com/422).

[2016-09-28 16:21] imrenagi opened #26986 "Stdout / Stderr output in docker run command."
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
**Description**
* Docker version 1.12.1, build 6f9534c
* base image: alpine with perl installed.

I tried to run a container to compile and run perl script. If I run it directly in bash of the container, I can get correct stdout and stderr output. However, when I tried to

[2016-09-28 16:25] ngoral commented on #20486
Has [the same problem](https://github.com/docker/docker/issues/20486#issuecomment-248793982) as @withinboredom . `docker-proxy` hangs on 1935 and I can do nothing to free it from it. If I just killing `docker-proxy` by PID, it does nothing, I anyway see message about `port is already allocated`.
Doing `sudo service docker restart` revokes `docker-proxy` on 1935 port.
I can't work in that case. And

[2016-09-28 16:36] realcr commented on #26087
My pleasure. Keep up the good work, docker saved my life!

[2016-09-28 16:39] msabansal commented on #26982
@fabiendibot Is it Windows RTM with GA package (9D). You might be getting stuck at endpoint creation. The 1.13-dev branch requires 9D package. There was a parsing issue in Server 2016 RTM that was fixed in 9D.

[2016-09-28 16:47] zotherstupidguy commented on #25866
@thaJeztah docker -v returns 1.12.1 build 23cf638

[2016-09-28 16:57] thaJeztah commented on #25875
We actually changed this at some point in https://github.com/docker/docker/pull/19175, but that would be a breaking change, so that was reverted in https://github.com/docker/docker/pull/19190. _However_, there's an open pull-request to implement the `--mount` flag for `docker run` (see https://github.com/docker/docker/pull/26825), which would allow you to specify a driver _per volume_, similar to

[2016-09-28 16:57] #25875 closed

[2016-09-28 17:10] thaJeztah commented on #25866
Thanks @zotherstupidguy, I think there were some (corner) cases where this would still be an issue; perhaps @aaronlehmann or @tonistiigi have more information on that

[2016-09-28 17:23] irjudson commented on #4023
The solutions for docker for windows have not resolved this family of issues, most of which were closed as a duplicate of this one.

What's the current thinking or solution for volume sharing not working on docker for windows?

[2016-09-28 17:32] thaJeztah commented on #4023
@irjudson if there are still issues, the best way is to check the docker for windows issue tracker (https://github.com/docker/for-win/issues). Implementing / fixing that is specific for Docker for Windows, and cannot be resolved in this repository, so for that reason it's not needed to keep this issue open here

[2016-09-28 17:33] thaJeztah commented on #25303
@g0nx that decision will be made on that issue, not here (so far, no decision was made)

[2016-09-28 17:41] thaJeztah commented on #26974
I think the new plugin infra doesn't use lazy loading, so chances are it improves yes

[2016-09-28 17:45] anusha-ragunathan commented on #25718
the debug uses `lsof`, not `fuser`. lsof is part of `lsof` package.

[2016-09-28 17:47] ncdc commented on #22112
cc @smarterclayton @runcom @directxman12 @derekwaynecarr

[2016-09-28 17:48] anusha-ragunathan commented on #25718
@genezys : In your repro, you start a container that sleeps for 1000 seconds. Then, you turn around and stop and remove it. It is expected that the rootfs is busy and hence throw the EBUSY at this point.

[2016-09-28 17:49] justincormack commented on #16010
This should work on Docker for Mac - can you try?

[2016-09-28 17:51] lgreenlee commented on #26563
This is not critical for me at this time, however I can confirm that I have what appears to be the same issue. Docker version 1.12.1, build 23cf638.

[2016-09-28 17:52] thaJeztah commented on #25483
@stevvooe @icecrime I opened a PR for discussion https://github.com/docker/docker/pull/26988

[2016-09-28 17:52] aaronlehmann commented on #25866
Docker does save layers while it's downloading them, but once you cancel the pull, it deletes those layers to avoid keeping temporary downloads around indefinitely. There have been some requests to keep these temporary files around longer-term so pulls can be resumed later: https://github.com/docker/docker/issues/26146

Do I understand correctly that you're asking for the same thing here?

[2016-09-28 17:54] justincormack commented on #26986
This is normal. `stderr` is not buffered by default, while `stdout` is line buffered, and then they will be interleaved based on timing. This will also happen outside Docker, but may be less visibly non deterministic.

[2016-09-28 18:05] thaJeztah commented on #25826
That sounds hopeful @JamesJJ, thanks for testing the release candidate!

[2016-09-28 18:14] zotherstupidguy commented on #25866
My case while using an unstable internet connection, I have to try to download each layer and if line drops before a layer is fully downloaded, I HAVE to try to restart its download the next time I am running docker. Thats the case I am having.

[2016-09-28 18:15] anusha-ragunathan commented on #25718
@fxposter @simkim @genezys : Just to clarify, does the issue happen even without `timedatectl`? (`timedatectl` is pretty harmless with respect to mounts)

[2016-09-28 18:17] anusha-ragunathan commented on #25718
@simkim : There's a known kernel bug that affects reference counting of bind mounts in kernel version below 3.19. Would you be able to try this with 3.19+?

[2016-09-28 18:23] anusha-ragunathan commented on #25718
@simkim @genezys : Sorry for the multiple questions, but it's great that you have a consistent repro and hence the line of questioning.
What is the MountFlags set on your hosts? You can look at the docker systemd service file. It's typically located in `/lib/systemd/system/docker.service`. If there's no entry for "MountFlags", then the default is "shared". If it is indeed "shared", then can you ch

[2016-09-28 18:29] msabansal commented on #26980
Supporting IP based port mapping was not on the road map at the time of this release. We will look into the request for enhancement.

[2016-09-28 18:32] thaJeztah commented on #25866
Thanks for the extra info; I think this is a duplicate of https://github.com/docker/docker/issues/26146 then. I'll close this issue so that we can keep the discussion central on https://github.com/docker/docker/issues/26146.

thanks for opening this enhancement  request

[2016-09-28 18:32] #25866 closed

[2016-09-28 18:34] BryanHunt opened #26990 "Web service running in swarm mode fails to respond after period of inactivity"
**Description**

Web service running on swarm fails to respond after a period of inactivity.

I deployed a trivial web service that simply returns the string "Hello" when you issue a GET to the endpoint.  After a period of inactivity, the next GET will fail to connect to the server.  Issuing the GET immediately again is successful.

**Steps to reproduce the issue:**
1. Created a three node swarm
2

[2016-09-28 18:34] MarkRx commented on #12997
+1

[2016-09-28 18:36] jcwilson opened #26991 "Feature Request: Force input stream ANSI emulation for ConsoleZ (on Windows)"
#13817 was resolved by forcing `emulateStdin` to `true` if the environment variable `ConEmuANSI=ON` was set  (#25578). This also resolves the issue for ConsoleZ users, except they have to take the extra step of explicitly setting this environment variable in their shell.

This is a request to also check for one of the following env variables that are implicitly set for all ConsoleZ terminals:
[cod

[2016-09-28 18:37] thaJeztah commented on #26990
ping @mrjana @vieux

[2016-09-28 18:54] mrjana commented on #26990
@BryanHunt Thanks for the issue report on rc.  I think this issue is specific to Centos 7. The first connection request after a period of inactivity results in `Connection refused`. Can you confirm if you are getting the same error?

[2016-09-28 18:57] BryanHunt commented on #26990
@mrjana Yes, I get a `Connection refused` back on the REST client I'm using.

[2016-09-28 18:58] manast commented on #24066
@tsoikkel One of the problems in my opinion is that :latest is a tag that is standardized for representing the last version of an image, and I think most people (me included until very recently), thought that the semantics of latest are different than with other tags. This should be much better explained on the docs, but even an explanation will not suffice since it creates a natural expectation a

[2016-09-28 18:58] dangreen opened #26992 "docker doesn't build images on macOS Sierra"
**Description**

After upgrading to Sierra docker some time  just freezes:

[code]

Some times crushes with errors:

[code]

[code]

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

[2016-09-28 19:00] eugeneagafonov commented on #26982
Also happens to me in Windows 10 Anniversary Update.
Here is the output from Get-NestedVirtStatus powershell script which includes system info. Somehow it says that the host doesn't support nested virtualization (which it should).
[code]

[2016-09-28 19:01] BryanHunt commented on #26990
Another data point.  I issued a GET at 1:40 PM that worked find and another just now at 2:00 PM and I got connection refused.

[2016-09-28 19:04] mrjana commented on #26990
And another request immediately after that is succesfull. Correct?

Also can you please provide the output of `docker service ls` and on the node where you are seeing this problem the output from commands `docker ps` and `ls -ltr /var/run/docker/netns` output?

[2016-09-28 19:05] a-robinson opened #26993 "Swarm mode container can't resolve other swarm services after being restarted"
**Description**

We're putting together instructions for running CockroachDB on Swarm, which essentially involves creating three different services with the same image but slightly different parameters (see #26826 for more detail). Towards the end of this process, we started testing killing containers and ensuring that things continued operating correctly. However, we found that after gracefully s

[2016-09-28 19:07] genezys commented on #25718
Thanks @anusha-ragunathan for your feeback. Here are my investigation results.

Yes, `timedatectl` seems to have an effect:

[code]

I then tried to add the `MountFlags=private` to the systemd configuration. After `systemctl daemon-reload` and `systemctl restart docker` (I am not an expert at systemd and I hope those commands are correct).

This changed apparently fixed the problem. I do not under

[2016-09-28 19:08] a-robinson commented on #26993
Also, for what it's worth, I diff'ed the `docker inspect` output o the two containers and didn't see anything interesting:

[code]

[2016-09-28 19:08] imrenagi commented on #26986
@justincormack  Hoo I see. Should I close this issue or what?

[2016-09-28 19:09] BryanHunt commented on #26990
Yes, another request immediately after the failed one is successful.  As an experiment, I issued another GET at 2:05 PM and it was successful.

[code]

NVPing is the service that replies with "Hello"

[code]

[code]

[2016-09-28 19:10] dangreen commented on #26992
`sudo launchctl unload /System/Library/LaunchDaemons/org.ntp.ntpd.plist` helps me

[2016-09-28 19:10] anusha-ragunathan commented on #25718
@genezys : Excellent! Thanks so much for reproducing this with MountFlags=private. This flag prevents mounts from leaking.

[2016-09-28 19:14] genezys commented on #25718
I don't know if that helps but I just stubbled upon this gist explaining how mounts leak without this flag: https://gist.github.com/larsks/0edd8feb3b635885e9cf

[2016-09-28 19:14] mrjana commented on #26990
@BryanHunt You seem to have multiple overlay networks. Did you manually create an overlay network? Also were you running a swarm cluster with a previous version of 1.12 before upgrading to `1.12.2-rc1`?

[2016-09-28 19:16] manast commented on #26592
@bfirsh I understand. So please do not misuse, it will create bad habits :)

[2016-09-28 19:16] BryanHunt commented on #26990
Yes, I was running 1.12.1 in swarm mode previously.  I did a yum remove before I installed 1.12.2, but seems to have kept the previous networks and it also remembered the swarm cluster.  Yes, I created an overlay network when I had 1.12.1 installed.

[2016-09-28 19:26] mrjana commented on #26990
It is possible that there is some stale state somewhere. Can you provide `docker network inspect` on the network that you created and `docker network inspect ingress`?

From the netns output I don't see any stale namespaces. All the namespaces there are accounted for. But the possible reason for your issue is that some stale state somewhere in the packet path is interfering with forwarding and whe

[2016-09-28 19:31] BryanHunt commented on #26990
[code]

[code]

I am always hitting the master node.  I'll experiment with one of the worker nodes and report back.

[2016-09-28 19:34] anusha-ragunathan commented on #25718
Docker mounts container rootfs using private. For ex, https://github.com/docker/docker/blob/master/daemon/graphdriver/aufs/aufs.go#L129

[2016-09-28 20:04] BirknerAlex commented on #26980
Sounds great! Thanks.

[2016-09-28 20:08] BryanHunt commented on #26990
After 30 minutes of idle time, a GET to a worker node was successful.  So far, the problem appears to be master only.

[2016-09-28 20:11] BryanHunt commented on #26990
Would it be worth trying to delete the overlay network I created?  It is not being used right now.

[2016-09-28 20:13] thaJeztah commented on #26992
This is a known issue due to changes in Sierra introduced after 1.12.0; first of all, make sure to fully update your docker toolbox (docker 1.12.1 was released with various fixes https://github.com/docker/toolbox/releases/tag/v1.12.1).

However, I don't think that version ships with the required changes (the bug is in Go, not in Docker); you can obtain a client binary that works with MacOS Sierra

[2016-09-28 20:15] thaJeztah commented on #26986
Let me close the issue yes, as this is not something we can fix (I didn't know about that difference between stdout and stderr, so learned something today as well :tada:)

Thanks for a clear bug report @imrenagi, that's appreciated! And thanks @justincormack for answering

[2016-09-28 20:15] #26986 closed

[2016-09-28 20:21] nishanttotla commented on #26760
@anusha-ragunathan are there any updates on the timeline for this?

[2016-09-28 20:25] anusha-ragunathan commented on #26760
It'll follow 1.13 milestone, which doesnt have concrete dates yet.

[2016-09-28 20:30] mrjana commented on #26990
Looking at your `network inspect` output I am not sure that can be the issue. Can you attach the daemon logs from your master node here?

[2016-09-28 20:38] BryanHunt commented on #26990
Since the last restart after installing 1.12.2 ...

[code]

[2016-09-28 20:45] rhvgoyal commented on #26054
What daemon options are being passed. I think our default should be xfs and by default it should be trying to create xfs filesystem. And that means mkfs.xfs should be available (provided by xfsprogs).

Dependency on e2fsprogs is must only if ext4 is default filesystem for container rootfs. If xfs is default, then there is no point in forcing installation of e2fsprogs on system.

[2016-09-28 21:05] nathanleclaire commented on #26748
I'm still really confused on what exactly the original DAB format wins users of Docker orchestration.  Can someone (or a few people) chime in to clarify for me?  When I look at @techninja1008's example above, it seems that the only thing DAB is doing is providing a way to specify which images should be run.  And even those aren't truly portable if you run them on a different kernel than where you

[2016-09-28 21:09] dnephin commented on #26748
I think the idea is that the bundle (DAB) can include any portable option, where as the "settings" file can include almost everything (but can't add new services). So you can override the existing config from settings, but the bundle lets you set the defaults.

This is similar to how the Dockerfile lets you include "portable" options for an image, but `docker run` lets you override all of them.

[2016-09-28 21:10] djabraham commented on #22338
For anyone else encountering same..

I was getting the ```Invalid bind address format``` error when I used the quoted string given back by docker-machine under Windows. Once the quotes were removed, it worked fine.

[2016-09-28 21:18] nathanleclaire commented on #26876
To be clear, I wasn't suggesting that we have Compose read in the "V3" files, but rather a new YAML format similar to the existing stuff that `docker` CLI itself reads in and translates directly to `service create` and/or `update`.

Why would DAB would take this responsibility though?  Why would a tool for orchestrating containers/tasks concern itself with image provenance?  And what exactly is a

[2016-09-28 21:18] msabansal commented on #26982
The server patch 9D has a fix. There is a client patch (9D') being released Thursday which also contains the fix. I will validate when the patch comes out.

Just FYI this was the commit that causes this issue: https://github.com/docker/docker/commit/d3139fc84af390142341a29d3512462d1a449045

[2016-09-28 21:22] thaJeztah commented on #26993
If this is a test setup; we just released a release-candidate for docker 1.12.2 for testing, which contains a number of fixes in networking in Swarm mode; it may be worth testing if your issue is resolved https://github.com/docker/docker/releases/tag/v1.12.2-rc1

/cc @mrjana

[2016-09-28 21:24] nathanleclaire commented on #22338
which shell was this with?

[2016-09-28 21:30] AlecIsaacson opened #26995 "Docker Hangs Under Load"
I have a small environment with four Docker containers on a single Centos 7.2 host.  If I put the containers under load, Docker hangs.  While it's hung, docker stats shows no values, docker ps works, but docker exec and docker-compose down all hang.

I can avoid the hang in some cases by putting a long delay (30 seconds) between putting load on each container.  In other words, I put load on contai

[2016-09-28 21:31] anusha-ragunathan commented on #26974
@aboch: There is no retry and backoff loop in pluginv2 (aka the new plugin infra), In pluginv2, plugins are loaded during install (`docker plugin install`) and not during network creation.

[2016-09-28 21:36] djabraham commented on #22338
It was cmd, but it was probably an earlier version of docker tools too. The latest doesn't output the quotes anymore. Just wanted to mention the source of that error, in case anyone sees it again.

    C:\acme\Aphrodite\gits\cfg-compose>docker-machine env
    SET DOCKER_TLS_VERIFY=1
    SET DOCKER_HOST=tcp://192.168.99.100:2376
    SET DOCKER_CERT_PATH=C:\Users\Install\.docker\machine\machines\def

[2016-09-28 21:55] thaJeztah commented on #26995
ping @mlaventure

[2016-09-28 22:02] mlaventure commented on #26995
@AlecIsaacson could you please try with 1.12.2-rc1?

Given that you're using exec, I'm assuming it is leaving orphaned children behind.

[2016-09-28 22:20] dongluochen commented on #26946
Libnetwork uses bulksync to propagate network db info between nodes. If bulksync fails, containers on these nodes may not be able to access each other. It's not clear to me why bulksync fails in your nodes. If you do a search in your logs, does it happen often? Consistent?

[code]

[2016-09-28 22:38] jhowardmsft commented on #25982
Getting the app would be useful, although I'd probably just be a go-between for the kernel team who would need to dig into what is going on.

[2016-09-28 22:56] saurabh1gupta commented on #20486
@ngoral You can try to release the port by doing a graceful stop and remove the docker container. I was facing this issue very frequently and then graceful stop & remove before creating the new container solved this issue.
If it doesn't work, you need to restart docker to release all assigned ports.

[2016-09-28 23:33] k2xl opened #26998 "Docker on Sierra for Mac Permissions with Volumes Issue"
Docker on Sierra versions giving super strange issues when trying to mount volume.

Works perfectly on El Capitan

`docker-compose up mysql`

Compose yaml

[code]

outputs
[code]

[code]

[2016-09-28 23:46] dongluochen commented on #26930
@michelvocks Do you mean you start a service with port 8080, then start a container (docker run) with same port like the following?
[code]

In that case port 8080 on every node is already occupied by the service. You can use `netstat -an | grep 8080` to see if the port is used on a node.

[2016-09-29 01:05] totoice opened #27000 "80 port is used for com.docker.slirp, how to release it?"
Everything is ok yesterday but it show errors  now:
[code]
tcp 80 is used for docker:
[code]

791 PID is com.docker.slirp (791), detail as :
[code]

how to release 80 port?

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]
My system is Os X 10.11.6

[2016-09-29 02:05] ghostplant commented on #26969
Okay. But unless "docker pull/push" are dropped regardless of keeping compatibility with the earlier version, docker itself has to implement full authorization support which is as complex and redundant as a special tool to make.

[2016-09-29 02:12] ghostplant commented on #26969
I found that docker records its login session to "~/.docker/config.json". However, the "auth" string is unuseful to me. Is it a good idea to store the long Token as well? Thus I can use curl with this token to request what I want to look up.
For security consideration, if Token string is unsafe to store in "~/.docker/config.json", it might be stored in /var/lib/docker together with other configura

[2016-09-29 02:42] anusha-ragunathan commented on #25718
Dug up some history:

daemon flags changed to default "shared" mount propagation in https://github.com/docker/docker/commit/2aee081cad72352f8b0c37ba0414ebc925b022e8 in an effort to help volume mounts to ensure shared. This change made it to 1.12, which is probably why there's more reports since then.

Prior to this, the flags were indeed set to "slave" in https://github.com/docker/docker/commit/eb

[2016-09-29 02:42] anusha-ragunathan commented on #25718
@cpuguy83 : Any reason we are mounting rootfs as "private" and not "rprivate"? Could it be that submounts inside the container causes this?

[2016-09-29 02:46] anusha-ragunathan commented on #25718
@genezys : Can you repro (without the MountFlags private) by running docker daemon in debug mode? Set `ExecStart=/usr/bin/dockerd -D -H fd://` and share your logs

[2016-09-29 03:11] materliu commented on #24045
MacOX, I change the CPUs to 1, but problem still there. After I change to ubuntu, the problem gone.

[2016-09-29 03:41] allencloud commented on #26974
That is great. Thanks a lot @aboch @thaJeztah @anusha-ragunathan
Closing this?

[2016-09-29 04:10] evanp commented on #26772
@MichaelW-SD what do you mean by "fail"? How does the update fail when there are errors "in the image"?

[2016-09-29 04:15] caylorme commented on #24029
Getting the same error on Windows 10 Right now.

[code]

[code]

[2016-09-29 04:53] JamesJJ opened #27002 "[1.12.2-rc1] devicemapper: Error running deviceResume dm_task_run failed"
**Description**

Starting containers with `docker-compose` sometimes shows `devicemapper: Error running deviceResume dm_task_run failed`, container fails to start, compose's docker API call times out.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

No error, 6 containers running.

**Additional information you deem

[2016-09-29 04:55] JamesJJ commented on #25826
Note here in case relevant:  I encountered a different DM related with 1.12.2-rc1: https://github.com/docker/docker/issues/27002

[2016-09-29 04:59] tonysickpony opened #27003 "Support --env-file flag in docker service create"
I noticed that `--env-file` flag has been removed from docker service. I believe there must be a reason behind it, maybe have something to do with service update concerns. However it makes it harder for me to migrate from docker-compose based configuration to docker service.
So is there any planning to move `--env-file` flag back ? or any suggestion on the alternative?

[2016-09-29 05:39] AkihiroSuda commented on #23753
Confirmed that this issue is fixed in 1.12.2-rc1

I think I saw a PR that fixes this issue, but didn't find the actual PR number

[2016-09-29 05:39] #23753 closed

[2016-09-29 06:22] Saravana9210 opened #27004 "/etc/default/docker file is missing in SLES12"
**Description**
I just downloaded docker 1.12.1 build and wondering where to find the config file for docker.

**Steps to reproduce the issue:**
1. Download docker 1.12.1 build
    wget **https://experimental.docker.com/builds/Linux/x86_64/docker-1.12.1.tgz**
2. Extract it using 'tar -zxvf docker-1.12.1.tgz'
3. Copy all binaries(docker, docker-containerd, docker-containerd-ctr, docker-containerd-s

[2016-09-29 06:27] thaJeztah commented on #23753
Thanks @AkihiroSuda, I'll move the milestone. We can link to the correct PR if we find it :-)

[2016-09-29 06:34] thaJeztah commented on #27002
ping @rhvgoyal @mlaventure PTAL

[2016-09-29 06:51] clhlc commented on #26772
In my test enviroment , i find the same error when update service.  and in my case ,i recreate service same time, so dig <service>, output same vip. docker 1.13 fixed?

[2016-09-29 07:38] yangyuw opened #27006 "docker and system crash when excute docker cp"
**Description**

docker and system crash when excute `docker cp`.

I deploy a kubernetes cluster in docker containers with images `gcr.io/google_containers/hyperkube-amd64:v1.2.0`, when I copy a file from this running container, the docker daemon were crashed and my linux proc were carsh too.

**Steps to reproduce the issue:**
1. change `MountFlags` value from`/lib/systemd/system/docker.service` i

[2016-09-29 07:39] g0nx commented on #25303
@thaJeztah  ok! Thank you very much for your attention!

[2016-09-29 07:48] sburnwal opened #27008 "Docker daemon cannot get out of exit tty terminal"
I am facing a strange issue (using docker 1.9.1 on RHEL 7.1).
I login to the host using ssh and as root user I start the docker daemon using the command. This command works fine.

`docker daemon --bip=169.254.0.254/24 --fixed-cidr=169.254.0.0/24 --exec-root=/opt/docker/execroot --graph=/opt/docker/graph >> /var/log/docker.log 2>&1 &`

I get to see this process (process has no tty terminal)
`root

[2016-09-29 07:51] kumarsarath588 opened #27009 "Accessing swarm using API"
Hi Guys,

Earlier when i am using swarm with containers i used to create certificates from CA and used to access swarm API like this:

export DOCKER_HOST=tcp://<DOCKER_IP>:2376
export DOCKER_TLS_VERIFY=1
export DOCKER_CERT_PATH=/root/.docker

Now in docker 1.12  swarm mode, it generates its own certs and places in /var/lib/docker/swarm/certificates

So now how can i run swarm command from remote c

[2016-09-29 07:54] eugeneagafonov commented on #26982
Thank you! Sorry for disturbing, could you please expand a little on what a patch 9D' is? Do I get it as a newer version of docker, or maybe it comes from windows update?

[2016-09-29 08:06] bupy7 opened #27010 "caused "not a directory""
**Description**

I cannot mount the nginx config file:

**Steps to reproduce the issue:**
1. `$ docker run --rm -it -v $(pwd)/nginx/nginx.conf:/etc/nginx/conf.d/default.conf nginx:latest`

**Describe the results you received:**
[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

I checked that `/etc/nginx/conf.d/default.conf` exists on my host.

**Output

[2016-09-29 08:08] GameScripting commented on #22124
@PaulFurtado He are hit by this issue on one host today. Did you have any issues so far?

[2016-09-29 08:21] edwintorok opened #27011 "panic: sync: WaitGroup is reused before previous Wait has returned"
**Description**

Docker 1.11.2 crashed after ~3 months uptime

**Steps to reproduce the issue:**

Unknown, I just noticed it crashed.

**Describe the results you received:**

[code]

**Describe the results you expected:**

No crash.
I had 3 other servers running similar containers with docker versions 1.9.1 and 1.10.3, and they didn't crash.

**Additional information you deem important (e.g. issue

[2016-09-29 08:26] edwintorok opened #27012 "Docker 1.11.2 -> 1.12.1 upgrade unable to start any of the old containers"
**Description**

I upgraded Docker to 1.12.1 and it is not able to start the old containers. Starting a new container from same image works though.

**Steps to reproduce the issue:**
1. apt-get update
2. apt-get upgrade
3. docker ps
4. journalctl -u docker

**Describe the results you received:**
CONTAINER ID        IMAGE               COMMAND             CREATED             STATUS              POR

[2016-09-29 08:27] gl328518397 opened #27013 "docker pull fedora/apache"
docker pull fedora/apache

Using default tag: latest
Trying to pull repository docker.io/fedora/apache ...
Pulling repository docker.io/fedora/apache
Error while pulling image: Get https://index.docker.io/v1/repositories/fedora/apache/images: dial tcp: lookup index.docker.io: no such host
Error while pulling image: Get https://index.docker.io/v1/repositories/fedora/apache/images: dial tcp: lookup

[2016-09-29 08:28] gl328518397 commented on #27013
在虚拟机上执行了 docker pull fedora/apache 报了上面的错，之前是好的，后来装过一次kubernetes 的proxy,不知道是什么原因，求助大神。

[2016-09-29 08:48] lliknart commented on #7540
Hi,

I have a rsyslogd container as well. All logs are sent in UDP. However, this issue appears for only one source.

[code]

[code]

Docker Version: 1.12.1

[code]

[2016-09-29 09:03] thaJeztah commented on #26998
Thanks for reporting @k2xl. It looks like this issue is specific to docker for Mac; could you reopen this issue in the Docker for Mac issue tracker (https://github.com/docker/for-mac); that way it gets the attention of the Docker for Mac team. I'll close this issue here, but thanks so much for reporting

[2016-09-29 09:03] #26998 closed

[2016-09-29 09:11] justincormack commented on #27000
Please could you open this issue at https://github.com/docker/for-mac/issues as it is specific to Docker for Mac and you will get better support as they will be able to debug it better. I will close it here as it is specific to Docker for Mac.

[2016-09-29 09:11] #27000 closed

[2016-09-29 09:13] thaJeztah commented on #24029
Yes, that's mingw trying to be smart, and converting paths. It's not a bug in Docker, but the way mingw handles these paths. Here is some more information about that "feature"; http://www.mingw.org/wiki/Posix_path_conversion. Prefixing the path with a double slash (`//bin/bash`) should prevent this, or you can set `MSYS_NO_PATHCONV=1`, see http://stackoverflow.com/questions/7250130/how-to-stop-min

[2016-09-29 09:17] thaJeztah commented on #27013
Google translate;

[2016-09-29 09:21] thaJeztah commented on #27013
@gl328518397 this could be something in your setup, or (assuming you are behind the Great Firewall), if access to Docker Hub is blocked. Did this work without problems before you installed the Kubernetes proxy?

Could you also provide a bit more info about your setup;

- the output of `docker version`
- the output of `docker info`
- the DNS servers you use
- if you're using a proxy server

[2016-09-29 09:24] demaniak opened #27015 "Building on aarch64 get's stuck at "Step 3/13 : RUN mkdir -p /go/src /go/bin /go/pkg" when running "make dep""
**Description**
Attempting to build docker master (currently commit 601004e1a714d77d3a43e957b8ae8adbc867b280) on an odroid C2 (aarch64).

It seems the binaries are created OK, but the `make deb` target gets stuck at `Step 3/13 : RUN mkdir -p /go/src /go/bin /go/pkg`.
At time of writing it has been sitting there for approx 12 hours.
So I think safe to say it's hung.

CPU use is 100%, with process `

[2016-09-29 09:25] vondeetzen commented on #26054
mkfs.xfs was also not available on the machine.

[2016-09-29 09:29] vondeetzen commented on #26054
Sorry missed the daemon options. It was a default fresh docker installation.

[2016-09-29 09:29] StefanScherer commented on #21762
Works with official released Docker images + Win2016 Eval.

[2016-09-29 09:33] str3tch commented on #21762
What do you mean by "official released docker images", and which WS2016?
TP5?
On Thu., 29 Sep. 2016 at 7:31 pm, Stefan Scherer <notifications@github.com>
wrote:

[2016-09-29 09:38] slawekgh opened #27016 "swarm mode on ubuntu 14.04 - no load balancing at all, published service port is not present on all nodes"
3 ubuntu (14.04.4 LTS / 4.2.0-27-generic #32~14.04.1-Ubuntu SMP) nodes:

[code]

3 swarm node cluster:

[code]

one simple service with 2 replicas (simple image - serving its hostname via www on port 80) :

[code]

1. From master node (ubuntu01)

a) no load balancing on local IP:
[code]

b) no load balancing on remote IP on remote node
[code]

c) no port and no data on #3 node
[code]

2. From work

[2016-09-29 09:38] StefanScherer commented on #21762
@str3tch No, TP5 is so "last year" :-) Microsoft has announced Windows 2016 at Ignite this week. There is an evaluation ISO available. So you should use this for further work with Windows Containers. Or just use Windows 10 Pro with the Docker 4 Windows Beta. You can use nanoserver + windowsservercore Docker images directly on Windows 10.

Just verified it with a Win2016 VM from my Mac:

[code]

an

[2016-09-29 09:43] thaJeztah commented on #27015
AFAIK, we currently have no support for building debs for aarch64. Running `make deb` will scan the contrib/builder directory for what kind of debs to build (see https://github.com/docker/docker/blob/master/hack/make/build-deb#L40), and build those debs in containers. However, there's currently no aarch64 directory there; https://github.com/docker/docker/tree/master/contrib/builder/deb

[2016-09-29 09:45] str3tch commented on #21762
Oh great! I'll go get me an eval edition :)
On Thu., 29 Sep. 2016 at 7:40 pm, Stefan Scherer <notifications@github.com>
wrote:

[2016-09-29 09:47] mathiasconradt commented on #21762
https://www.microsoft.com/de-de/evalcenter/evaluate-windows-server-2016

[2016-09-29 09:49] StefanScherer commented on #21762
or without the `/de-de` for all other countries 🌎

[2016-09-29 09:50] demaniak commented on #27015
Thank you @thaJeztah , that would explain it then.

Question of protocol then - do I close this issue, keep it open, close it and create a new one for "aarch64 deb building support"?

Thanks again.

[2016-09-29 09:53] pbering opened #27017 "Unable to run any containers on Windows 10, client hangs"
**Description**

On a clean installed Windows 10 Enterprise Anniversary Update with Container and Hyper-V features installed I'm not able to run any containers (nano or WindowsServerCore). Looks like networking problem (see log output)

**Steps to reproduce the issue:**

1. Follow install instructions: [https://msdn.microsoft.com/en-us/virtualization/windowscontainers/quick_start/quick_start_windo

[2016-09-29 09:55] ijc25 commented on #24045
We have just released v1.21.1-beta27 which includes some upgrades and improvements to the vsock transport code.

Please could everyone test with that and if you are still seeing issues open a fresh ticket against https://github.com/docker/for-mac with the full output of diagnostics (from the whale menu). Providing reproduction steps of any case would also be **very** useful in tracking this down.

[2016-09-29 09:58] ijc25 commented on #24045
@jaywhy13 yours is the closest I've seen to a workable reproduction. I created `Dockerfile` and `docker-compose.yml` with the content you posted and ran `docker-compose up`. However when I visit localhost:8000 all I get is a `The requested resource / was not found on this server.`. I expect  this is because the `Dockerfile` has `COPY . /code` but I have no code. If you could provide a basic skelet

[2016-09-29 09:58] thaJeztah commented on #27015
I think it would be best to open a feature request for aarch64 deb support. Perhaps (since you have the hardware to test), you could try creating the required Dockerfiles locally (in the contrib/builder directory), and open a PR.

Ideally, the Dockerfiles should be generated by a script (see for example, the scripts in this directory https://github.com/docker/docker/tree/master/contrib/builder/deb