[2016-07-13 23:45] sfsmithcha opened #24609 "cp/paste `docker swarm join` output from `docker swarm init` no op in terminal"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
[code]

**Steps to reproduce the issue:**
1. `docker swarm init`
2. copy resulting `docker swarm join` output to clipboard
[code]
3. Paste the command into a terminal for a worker node.

**Describe the results you received:**
Terminal unexpectedly ins

[2016-07-13 23:45] justincormack commented on #24451
@rf- you are running a very old version, can you upgrade?

@cguess which OSX version are you running?

[2016-07-13 23:46] chriskuehl commented on #24603
I confirmed that this still happens on the `linux-image-4.4.0-28-generic` kernel from xenial (tested on lucid, though).

[2016-07-13 23:49] cguess commented on #24451
@justincormack 10.11.5 build 15F34

[2016-07-13 23:52] samuelkarp commented on #24386
@CameronGo The awslogs driver today combines `stdout` and `stderr` into the same log stream.  However, the driver could be updated to send to separate log streams (in separate log groups too) based on the [`Message.Source`](https://github.com/docker/docker/blob/378f065/daemon/logger/logger.go#L32) of each log line.

I think this is a good feature request, but it also looks like a duplicate of http

[2016-07-13 23:53] rf- commented on #24451
I can't upgrade easily, because the services I need to run don't currently work without the `nat` network setting. It still seemed worth adding a second report, since this problem is also happening to @cguess and he isn't running an old version.

[2016-07-13 23:55] thaJeztah commented on #24386
Agreed that this looks like a duplicate; let me close those one and please continue the discussion on https://github.com/docker/docker/issues/17959 (thanks @samuelkarp )

[2016-07-13 23:55] #24386 closed

[2016-07-13 23:58] justincormack commented on #24451
Yes I was just curious as although it is the same panic it was in different
code. In both cases it looks like an OSX issue though unfortunately.
On 14 Jul 2016 12:53 a.m., "Ryan Fitzgerald" <notifications@github.com>
wrote:

[2016-07-14 00:00] thaJeztah commented on #24600
/cc @abronan I think this is the same issue with just 2 managers

@diegofernandes we're working on documentation for this, but basically in a raft, there should always be an odd number of managers (1,3,5 or 7). Having two managers, with one manager down results in a situation that there can *never* be reached consensus, because >50% of the managers need to "agree"

[2016-07-14 00:05] thaJeztah commented on #24559
Thanks so much for the detailed report and links, @jgarcia-mesosphere, really appreciated.

I think it's okay to keep it open for a short time to make it easier to find, but we can close after that (and when we know the "mainstream" distros carry this patch)

/cc @sforshee @runcom @tianon @cyphar ^^

[2016-07-14 00:09] mavenugo commented on #24605
@ehazlett ptal https://github.com/docker/libnetwork/blob/master/libnetwork_internal_test.go#L321

[2016-07-14 00:12] ralphtheninja commented on #24600
+1 I ran into this as well when playing around

[2016-07-14 00:12] kujiy commented on #17237
Remove all containers by container_name.

[code]

[2016-07-14 00:15] johnmarcou opened #24611 "Persistent deleted files in container"
Hi all,

I have an unexpected behavior with Docker container when I delete a directory or file in a cascaded image.

Two image : imagea and imageb. The first one is based on centos, the second one is based on the first one.

In imagea, I "ADD files" via Dockerfile, then I "RUN rm" it. Those files are used only during the building process.
In imageb, I "ADD files" in a directory, which has **the sa

[2016-07-14 00:31] sweekarp opened #24612 "Docker 1.12 RC4: Unable to start container with SELinux enabled on Oracle Linux 7.2"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Output of `sestatus`:**

[code]

**Description of the problem:**
Unable to start containers with SELinux enabled. Containers start fine with SELinux in permissive mode

**Steps to reproduce the issue:**
1. Create a container with SELinux enabled on the host
[code]

**Describe the results you received:**
[code]

**Desc

[2016-07-14 00:34] abronan commented on #24600
Scaling down from 2 to 1 Manager (using `demote`) only works when the 2 nodes are up. This is specific to Raft: whatever you do you need a majority agreeing. In this case with 2 nodes, you end up stuck requiring the 2 nodes to agree on the removal but because the second node is down, you can't.

If the Manager you want to remove is down on a 2 Managers cluster, you have two solutions:

- Bring the

[2016-07-14 00:44] cpuguy83 commented on #24611
Can you provide exact steps, Dockerfiles, etc?

[2016-07-14 00:45] abronan commented on #24600
@diegofernandes Looking into the errors:

[code]

Seems strange to me. Was this a typo on the node ID?

It should give:

[code]

[2016-07-14 00:49] mpalmer commented on #24608
I'm hitting something similar on 1.11.1, and I've noticed that if I `strace` the `docker daemon` process (`strace -p <XXX> -f`) everything comes good a couple of seconds later (all my hung `docker ps` calls return).  I know it's not a *solution*, but it'd be an interesting data point if you were seeing the same behaviour from the daemon.

[2016-07-14 00:51] johnmarcou commented on #24611
Yes, everything is in the archive.

Structure :
a/Dockerfile
a/config/dir/OKA
b/Dockerfile
b/config/dir/OKB

Dockerfile for a:
FROM centos:7
ADD config /
RUN rm -Rf /dir

Dockerfile for b:
FROM imagea
ADD config /

Run building process :
docker build -t imagea a
docker build -t imageb b

Then, to check the issue:
docker run imageb bash -c 'ls /dir; rm -Rf /dir; ls /dir'

Or you can :
# docker run

[2016-07-14 01:01] mgoelzer opened #24614 "Internal DNS resolver failing on one node but working on another"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
3-node swarm on AWS running RHEL 7.2 (3.10.0 kernel)

**Steps to reproduce the issue:**

Test scenario is like this:
1.  Bring up three RHEL 7.2 machines running 1.12-rc4.
2.  On manager:  `docker swarm init --listen-addr 192.168.33.201:2377`
3.  On t

[2016-07-14 01:12] HuKeping commented on #15508
Run a local test, #23996 seems works for me, thanks!

[2016-07-14 01:38] fonglh opened #24616 "Docker Remote API `containers/json` does not respect specified API version number"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Docker for Mac

**Steps to reproduce the issue:**
1. Start a container. `docker run -it ubuntu /bin/bash`
2. Use the API to get information. `curl --unix-socket /var/run/docker.sock http:/containers/json`
3. Specify an older version of the API. `curl

[2016-07-14 01:39] reppard opened #24617 "docker service tasks: Invalid filter 'desired_state'"
If I call ```service tasks``` with no filters I get an error response.  If I call it with -a all is well.
[code]
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Running locally with docker-machine

[2016-07-14 01:41] mpalmer commented on #24608
Also, I've found #13885 which seems to apply to my situation; does it match up with what you're seeing?

[2016-07-14 01:42] cmingxu opened #24618 "Is is possible to get swarm node IP address from command `docker node ls` or `docker node inspect` ?"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

[2016-07-14 01:44] jhorwit2 commented on #23970
@mrjana will this be in the 1.12 release? I noticed #24545 kind of seems related, but I'm not familiar enough to know if that will solve this issue also.

[2016-07-14 01:48] cxxly commented on #18867
This solution worked for me. @depay I had not noticed that . Currently I use docker 1.11, have not the problem
[code]

[2016-07-14 01:56] cpuguy83 commented on #24617
Your client version is out of date. If you update the client to RC4, it should work.

Closing, but please do comment back if this does not resolve the issue.

[2016-07-14 01:56] #24617 closed

[2016-07-14 02:12] cpuguy83 commented on #23812
ipvs does not route to localhost, we'd have to setup an iptables rule to handle this.
@mavenugo What do you think?

[2016-07-14 02:23] cpuguy83 commented on #23709
Closing since this one is resolved!

[2016-07-14 02:23] #23709 closed

[2016-07-14 02:47] mgoelzer commented on #24486
I am having a similar problem in RC4, except I am not seeing containers accumulate.  I just see the task starting and failing with "starting container failed:  Address already in use" on each failed task.

My bug report is below.

--------------

I sometimes get into states where one or more tasks are failing to get to the running state because "starting container failed:  Address already in use".

[2016-07-14 04:12] hamiltino opened #24622 "dm.basesize not showing in docker info"
docker info output as follows:

[code]

Where is dm.basesize???

[2016-07-14 04:19] jhorwit2 commented on #23812
@cpuguy83 is swarm using ipvs nat?

[2016-07-14 04:33] mavenugo commented on #23812
@BenHall @cpuguy83 well... i tried with docker master & ubuntu 14.04 (3.13 kernel) & it works fine :

[code]

Is this a kernel 3.16+ thing ? I can check on an upgraded kernel and confirm.

[2016-07-14 05:03] pantaoran opened #24624 "Need advice to fix system"
My colleague shot himself in the foot with Linux and now his Docker doesn't work properly anymore.
In a dev project he executed `sudo chmod -R 755 /var` where he used `/var` instead of the local `var` folder. He doesn't really understand Linux too well, and now it's my job to fix it :-(

Now when I start containers it seems successful, but `docker ps` doesn't list them and I cannot enter them with

[2016-07-14 05:51] treeder commented on #12997
+1. This issue should probably be reopened since it's clearly not fixed?

[2016-07-14 06:33] francoishill commented on #7710
+1

[2016-07-14 06:33] GordonTheTurtle commented on #7710
*USER POLL*

*The best way to get notified of updates is to use the _Subscribe_ button on this page.*

Please don't use "+1" or "I have this too" comments on issues. We automatically
collect those comments to keep the thread short.

The people listed below have upvoted this issue by leaving a +1 comment:

@francoishill

[2016-07-14 07:05] fane89 commented on #20973
👍

[2016-07-14 07:21] thaJeztah commented on #24600
Also see https://github.com/docker/docker/issues/24407, and https://github.com/docker/docker/issues/24109

[2016-07-14 07:38] kausik93 opened #24626 "Issue with defining ssh_size in docker-compose.yml file"
Hi, I'm new to Docker and I'm trying to increase the ssh-size. I had issues running my LDA models with the default ssh-size (=64m). I found the documentation on changing it in my docker run command prompt and after adding --shm-size=512m I got it to work.

BUT, I want to add it to my docker-compose.yml file instead. I've looked up and found this [documentation](https://docs.docker.com/compose/comp

[2016-07-14 07:44] yogitcs commented on #16137
the question is: how do the packages provided from the 'docker-repo' (so, from https://yum.dockerproject.org/repo/main/centos/7) cooperate/coexist with the ones provided by the CentOS 'extra' repository ?
the CentOS guys seem to have done quite some repackaging ... obviously (more/other/additional rpms)
e.g. they have no 'docker-engine' package anymore, etc.
it's a bit of an effort to fiddle the t

[2016-07-14 07:45] mycrEEpy commented on #24589
@cpuguy83

[code]

[2016-07-14 07:47] mycrEEpy commented on #24589
@ginkel

[code]

[2016-07-14 08:08] SamSaffron commented on #20973
My two cents, requiring contortion to get a 'docker stats' to return sane
names as opposed to user hostile guids defeats the spirit of this request

On Thursday, 14 July 2016, Thomas <notifications@github.com> wrote:

[2016-07-14 08:16] thuandt commented on #23471
I also created issue in Alpine Bug Tracker: https://bugs.alpinelinux.org/issues/5892

Because I can run normally with all another container based `FROM ubuntu:14.04`.
Seem it's alpine problem.

[2016-07-14 08:19] ssharifi02 commented on #14793
I'm using docker toolbox on windows, so many things are different,

[2016-07-14 08:40] thaJeztah commented on #24612
/cc @justincormack @crosbymichael

[2016-07-14 08:47] NanXiao opened #24627 "Build Docker source behind proxy"
I am trying to build `Docker` behind proxy, and add proxy environment variables at the beginning of [Dockerfile](https://github.com/docker/docker/blob/master/Dockerfile):

[code]

From  the comment of this [post](http://nknu.net/running-docker-behind-a-proxy-on-ubuntu-14-04/), I think I should adding the following code at the end of [Dockerfile](https://github.com/docker/docker/blob/master/Dockerf

[2016-07-14 08:51] sanimej commented on #24511
@cpuguy83 Didn't notice that you already pushed a fix for this. Will close the one I just opened.

[2016-07-14 08:56] thaJeztah commented on #24627
There's no need to create environment variables for those, you can use build time arguments to pass proxy env-vars; see https://docs.docker.com/engine/reference/builder/#/arg

[2016-07-14 08:57] sanimej commented on #23812
@mavenugo `curl localhost` works just fine with 3.19 (ubuntu 14.04) as well. I doubt there is anything kernel specific here.

@BenHall Are you able to recreate this with rc4 ?

[2016-07-14 08:59] thaJeztah commented on #24627
However, please consider that the GitHub issue tracker is not a support forum, please use;

- forums.docker.com
- the #docker IRC channel on freenode
- StackOverflow

I'll close this issue, because this is not a bug, but feel free to comment after that

[2016-07-14 08:59] #24627 closed

[2016-07-14 09:00] mh-cbon commented on #24378
same here on a regular fedora 24 desktop after a fresh install via dnf.

[code]

[2016-07-14 09:07] #24609 closed

[2016-07-14 09:09] prateek121 commented on #24584
Step 1 : FROM centos:centos5
 ---> cfbd8d982733
Step 2 : ADD li.rpm /tmp/li.rpm
 ---> 55f77ce31d4f
Removing intermediate container 04699606d553
Step 3 : RUN rpm -i /tmp/li.rpm
 ---> Running in 09bc166801a8
mkdir: cannot create directory `/usr/lib/systemd/system': No such file or directory
/var/tmp/rpm-tmp.95239: line 182: /usr/lib/systemd/system/liagentd.service: No such file or directory
error: %

[2016-07-14 09:10] prateek121 commented on #24584
I did try on centos7 too and it doesnt seem to work

[2016-07-14 09:10] #24064 closed

[2016-07-14 09:11] thaJeztah commented on #24624
Sorry, this is not the place for such questions, The GitHub issue tracker is for tacking bugs and feature requests, not a support forum. Please use either one of;

- forums.docker.com
- the #docker IRC channel on freenode
- StackOverflow

[2016-07-14 09:11] #24624 closed

[2016-07-14 09:15] prateek121 commented on #24584
ON centos 7 this is what I get
Step 1 : FROM centos:centos7
 ---> 05188b417f30
Step 2 : ADD li.rpm /tmp/li.rpm
 ---> 846d28dcf417
Removing intermediate container c4e3d1215cf7
Step 3 : RUN rpm -i /tmp/li.rpm
 ---> Running in 4f0422b132e7
Created symlink from /etc/systemd/system/multi-user.target.wants/liagentd.service to /usr/lib/systemd/system/liagentd.service.

Installation failed.

For online do

[2016-07-14 09:28] ohjames commented on #332
I've seen answers like this every time someone proposes a feature like this. Clearly it is wrong. The translation is:

"LAH LAH LAH LAH LAH LAH LAH I CAN'T HEEEEEEEEEEEEEEEEEEEEAR YOUUUUUUUUUUU"

[2016-07-14 09:33] runcom commented on #24584
Systemd can't work in containers right now,  and your rpm is needing it at least for installation also. Cento 5 does not have systemd, centos 7 does but it doesn't work in the container.

[2016-07-14 09:35] jacobtomlinson commented on #24529
Also a further problem is once a container is in a `Restarting` state it cannot be stopped, removed or killed.

[2016-07-14 09:41] thaJeztah commented on #24584
It's possible to run systemd, but it requires adding additional privileges to the container, which are not present during build.

Following the above, there's no bug here, and the GitHub issue tracker is not a general support forum, so I'll close this issue, but feel free to comment after I closed

[2016-07-14 09:41] #24584 closed

[2016-07-14 09:42] jizhilong commented on #4036
I also encountered this issue in our environment, and I worked out a way to reproduce it, hope it may help to resolve the issue.

# docker info
[code]

# way to reproduce
## make sure all containers  removed

[code]
## get image ready
a `busybox` image would be sufficient, `docker pull busybox`

## get script ready
A Python script is needed to eagerly detect and open any docker created non-init  d

[2016-07-14 09:58] ohjames commented on #332
I see hundreds of people defining a very very clear problem... Hundreds of users all in unanimous agreement that docker handles layers in a way that doesn't make sense to them. Yet the people on the inside actually developing it are the only ones who feel that hundreds of community members all agreeing with each other and stating the same thing haven't "defined" themselves.

Even if I did agree th

[2016-07-14 10:00] thaJeztah commented on #24616
Thanks for reporting @fonglh. The API uses an "open schema", which means that new properties *may* be added to older API versions if a newer daemon is used. However, it should still be compatible with older clients.

This is described in the documentation; https://github.com/docker/docker/blob/v1.11.2/docs/reference/api/docker_remote_api.md

Perhaps the wording for this could be slightly improved;

[2016-07-14 10:00] #24616 closed

[2016-07-14 10:00] justincormack commented on #17865
The dokku plugin linked that mounted `/dev` and was `--privileged` now no longer does this, due to this issue, so this will not be replicatable any more. We cannot guarantee that `--privileged` does not mess with the host system, as it does what it says and gives you full root access to the host system, allowing you to break anything, so I am going to remove the bug and P1 tags. If anyone can repl

[2016-07-14 10:07] rade commented on #24569
correction: *global* mode network plugins will not work in swarm mode. local mode network plugins do.

[2016-07-14 10:07] fonglh commented on #24616
Thanks @thaJeztah. I didn't realise that meant it could return new properties too

Will submit a PR if I have suggestions to improve the wording.

[2016-07-14 10:23] anosulchik commented on #24446
Here's the script to reproduce the problem:

[code]

Disregard docker image that I'm using here, you may image with any application that writes to container's storage.

Today it took 1.5 hours to make docker hanged and reproduce the problem, script's output:

[code]

[2016-07-14 10:24] anosulchik commented on #24446
@rhvgoyal You may use this script to reproduce the problem.

[2016-07-14 10:42] ghoranyi commented on #24539
I didn't manage to solve it with rc3, but rc4 works like a charm.

[2016-07-14 10:42] #24539 closed

[2016-07-14 10:43] thaJeztah opened #24631 "Service without labels returns null, not {}"
if no labels are set on a service, `Spec.Labels` is `null`, not an empty map/object;

[code]

This is inconsistent with containers, where it's always a map/object;

[code]

I think we should fix that, to keep consistency in our UX.

[2016-07-14 10:45] thaJeztah commented on #24631
/cc @tiborvass

[2016-07-14 10:45] vdemeester commented on #24631
Agreeing on the inconsistency, I'll take a look.
#dibs 👼

[2016-07-14 10:46] thaJeztah commented on #24616
Thanks @fonglh, I've seen other people being confused by this, so I think that warrants an improvement to the docs. I'll open an issue for that for tracking

[2016-07-14 10:47] thaJeztah opened #24632 "docs: improve wording on the API using an "open schema""
The API uses an "open schema", which means that new properties *may* be added to older API versions if a newer daemon is used. However, it should still be compatible with older clients.

This is described in the documentation; https://github.com/docker/docker/blob/v1.11.2/docs/reference/api/docker_remote_api.md

This wording needs some improvement, because it doesn't clearly describe that older AP

[2016-07-14 10:48] thaJeztah commented on #24616
Opened: https://github.com/docker/docker/issues/24632

[2016-07-14 10:49] zerthimon commented on #332
@ohjames +1
I feel the same thing. I asked for a few features before, and they all were rejected with the following reasons:
1. It will hurt portability
2. it will hurt security

When will this project realize, users don't like to be FORCED to have portability and security at the price of productivity.
How about adding the feature users ask for, so USER HAS THE CHOICE and DECIDES FOR HIMSELF if he

[2016-07-14 10:49] thaJeztah commented on #24631
@vdemeester Thanks! I didn't check other properties (env-vars, etc), so those may need a change as well. Also didn't compare the API between "containers" and "services"

[2016-07-14 10:53] justincormack commented on #24626
Hi, your formatting has gone a bit awry, so it is hard to see where you have put it - can you edit and fix the layout?. Are you using a recent version of docker compose? It was added a few releases back, so if you still have an old version it might not work. You might be better off opening an issue in https://github.com/docker/compose as this is specifically a compose issue though, and you will ge

[2016-07-14 10:58] justincormack commented on #332
There is an open PR for flattening https://github.com/docker/docker/pull/22641

[2016-07-14 11:07] sanimej commented on #24605
@ehazlett libnetwork has the infra for adding and querying SRV records. But its not integrated yet with swarm services.

`_service._protocol._domain` will return the container's target port and IP.  `_host_service._protocol._domain` will return the published port and the host IP.

Can you share some details on the use case ?

[2016-07-14 11:09] mansurali901 commented on #14250
I would suggest for longer term to upgrade the kernel to 3.1x.

Here what i have done to get kernel 3.1x on my CentOS Box.
[root@ruta ~]# uname -a
Linux ruta.etilizepak.com 2.6.18-371.4.1.el5.centos.plus #1 SMP Thu Jan 30 06:16:27 EST 2014 x86_64 x86_64 x86_64 GNU/Linux
You have new mail in /var/spool/mail/root

[root@ruta ~]# yum install -y centos-release-xen

[root@ruta ~]# echo includepkgs=kern

[2016-07-14 11:13] thaJeztah commented on #4036
@jizhilong can you please open a new issue? The original issue reported here was resolved and related to `udev-sync` not being available, causing corruption. Since your machine looks to have udev-sync support, it's likely a different issue. This discussion is already very long, so it's better to open a new issue, than commenting on a closed issue.

[2016-07-14 11:15] thaJeztah commented on #4036
I'm locking this issue, and provide a link and quote to the resolution for the issue that was originally reported: https://github.com/docker/docker/issues/4036#issuecomment-111174341. **If you still encounter this, please open a new issue with as much information as possible and steps to reproduce.**

# This issue is resolved
Key item to observe *before* commenting on this issue, is whether `docke

[2016-07-14 11:21] hansloven commented on #14250
Well, sure... if you're free to do so.  Some customers, however, may be
unwilling to upgrade from RHEL 6.x to RHEL 7.x -- particularly, since the
administration is very different, and investment in sys admin training
isn't an easy sell.

Pardon the brevity,
Sent from my phone
On Jul 14, 2016 7:11 AM, "Mansur" <notifications@github.com> wrote:

[2016-07-14 11:23] sanimej commented on #24604
@lennartjuette This could be a duplicate of https://github.com/docker/docker/issues/22185. I haven't been able to recreate this issue though. Is your docker app DNS intensive ? When you see the DNS failures can you please capture the daemon logs (daemon should be running in debug mode, `-D flag`).

[2016-07-14 11:26] thaJeztah commented on #24529
Do you have a host to test on, and would you be able to test if that is still an issue in docker 1.12? I think some changes were made in that area, but not sure if those are resolving that (e.g. see https://github.com/docker/docker/pull/21854, and https://github.com/docker/docker/pull/21879)

[2016-07-14 11:35] activatedgeek commented on #4737
Hey @mikehaertl, I have been looking over this issue just to be sure and not to misguide others because I was using a pre-built `docker` image on Digital Ocean. I've found the following rule in the output of `iptables -L`:
[code]

[2016-07-14 11:41] dsau commented on #24403
@cpuguy83

I've been able to reproduce this on all servers. Starting from a fresh, minimal install of CentOS 7, here is the least amount of config I could find which would cause the failure.
[code]
The host has to be restarted, couldn't get it to fail without it.
[code]
If it doesn't happen on the first attempt, just keep clearing the data, restarting docker and trying again.

[code]

[2016-07-14 11:48] vdemeester commented on #332
*It took me a while to decide to answer something here, but I feel this issue also need some constructive comments*.

First, as @justincormack there is a PR for flattening (#22641) — thus maybe we could reopen that issue as we are trying to, *maybe*, have this built-in.

I'm gonna quote Nathan Leclaire here (from [The Dockerfile is not the source of truth for your image](http://nathanleclaire.com/

[2016-07-14 12:03] diegofernandes commented on #24600
@abronan this node was very strange to me too, I have tried to promote but in the node list It was marked as a worker.

Could be something with the hostname?

[2016-07-14 12:03] vdemeester commented on #332
*It took me a while to decide to answer something here, but I feel I need to pin-point some stuff.*

First, as @justincormack there is a PR for flattening (#22641) — thus maybe we could reopen that issue as we are trying to, *maybe*, have this built-in.

I'm gonna quote Nathan Leclaire here (from [The Dockerfile is not the source of truth for your image](http://nathanleclaire.com/blog/2014/09/29/t

[2016-07-14 12:09] thaJeztah commented on #24622
hm, should be there (was added in https://github.com/docker/docker/pull/16303), but I'll need to check. What version of Docker are you running?

[2016-07-14 12:10] diegofernandes commented on #24600
@abronan I tried to bring back the node but no success. I don`t if I did correct in my env.
I Just start the machine and wait to the node come back but it didn`t happen, so I try a swarm join and it appears as a new node

[2016-07-14 12:10] newhook commented on #4737
That sounds about right. docker + ufw == bad news for unprotected servers. If you use AWS or similar you get protection from the infrastructure. If you use it on something like OVH you best know what you are doing.

[2016-07-14 12:12] hamiltino commented on #24622
Docker version 1.8.3, build f4bf5c7

[2016-07-14 12:16] activatedgeek commented on #4737
@newhook I'm on Digital Ocean, no security groups. Hence, I'm figuring out the nitty gritty details by using a fresh Vagrant box. Right now I'm hanging mid air (the system somehow works fine though the Nginx proxy is reporting IP addresses of the local docker0 interface) I'll report back.

Is this problem solved by some other firewall? I have a feeling that all iptables based firewalls will face t

[2016-07-14 12:19] thaJeztah commented on #24622
That explains; it was added in Docker 1.9, so you need to upgrade docker for that.

I'm closing this because this is not a bug, but feel free to comment after I closed

[2016-07-14 12:19] #24622 closed

[2016-07-14 12:19] duglin opened #24633 "docker service inspect should include running replicas"
`docker service inspect foo` will return something like this:
[code]
which is the number of replicas I've ask for but it doesn't include the number that are running.
In order for me to figure that out I need to do `docker service tasks foo` which I guess is ok, except its not really machine friendly because I then need to grep/wc/awk/something the output.

It would be nicer if the output of `docke

[2016-07-14 12:21] thaJeztah commented on #10947
@dshulyak I don't think it's possible (easily) to use an "overlay" mount as a volume, but perhaps @cpuguy83 knows if it's possible.

[2016-07-14 12:22] mikehaertl commented on #4737
@activatedgeek Could not test it yet, but I'm pretty sure, there's no difference here. Are you sure, you completely destroyed and re-created your container when doing the `--iptables=false` change? I think, the fw rules are persisted per container, even if the daemon option was changed and the daemon was restarted (not 100% sure about this, though).

[2016-07-14 12:25] activatedgeek commented on #4737
@mikehaertl I'm in the middle of doing a full fresh local VM box test. I'll report back. I hope to make as little side-effects as possible during this process.

[2016-07-14 12:40] metal3d commented on #23981
@ksylvan you saved my day.

[2016-07-14 12:49] beverts312 commented on #24596
Thats correct.

Thanks for bringing the `--availability=drain` feature to my attention

[2016-07-14 12:54] hamiltino commented on #24622
followed the installation guide on the docker site and now my new version is:
Docker version 1.11.2, build b9f10c9
docker base size now shows but did i downgrade my docker?

[2016-07-14 12:58] cpuguy83 commented on #10947
Not really possible, at least not easily.

[2016-07-14 13:16] SHSE commented on #5618
Same issue:
[code]
[code]

[2016-07-14 13:21] cpuguy83 commented on #24633
Not incredibly simple because the service itself only tracks desired state.
This information could probably be gleaned once(if) task information is integrated into the service json.

[2016-07-14 13:25] thaJeztah commented on #24622
Great!

[2016-07-14 13:26] kjkunte opened #24635 "Boot2Docker recognizing only 8 cpu's from Windows 8 host workstation, with virtualbox drivers"
**Output of `docker version`:**
Docker  version
Client:
 Version:      1.11.2
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   b9f10c9
 Built:        Wed Jun  1 21:20:08 2016
 OS/Arch:      windows/amd64

**Output of `docker info`:**
Server:
 Version:      1.11.2
 API version:  1.23
 Go version:   go1.5.4
 Git commit:   b9f10c9
 Built:        Wed Jun  1 21:20:08 2016
 OS/Arch:      linux/

[2016-07-14 13:31] cpuguy83 commented on #24635
Thanks for reporting, but this really belongs on github.com/boot2docker/boot2docker

Thanks!

[2016-07-14 13:31] #24635 closed

[2016-07-14 13:33] cpuguy83 commented on #20973
Agree, I see no reason to return ID's, and ID's and names are interchangeable as far as the API is concerned so not really anything I can see as a back-compat issue.

[2016-07-14 13:34] ibotty opened #24636 "docker-1.10 can't pull by sha256 digest"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Steps to reproduce the issue:**
1. Get repo digest somehow, (i.e. skopeo or docker inspect), e.g.
[code]

2. Try to pull the image by sha256 digest:
[code]

This yields:
[code]

Interestingly, when pulling by a different digest (obtained by pulling by tag first), it works:

[code]

(Possibly on another node without ce

[2016-07-14 13:36] thaJeztah commented on #20973
I'm okay personally with changing the default, but there were some concerns raised on an earlier PR: https://github.com/docker/docker/pull/21185#issuecomment-196509287

Having a `--format` flag would be consistent with other commands, and unblock this PR: https://github.com/docker/docker/pull/21178

[2016-07-14 13:37] kjkunte commented on #24635
Are you suggesting me to  post this in boot2docker : github.com/boot2docker/boot2docker ?

[2016-07-14 13:39] cpuguy83 commented on #24635
@kjkunte Yes, that way the maintainers for boot2docker can have a look.

[2016-07-14 13:39] kjkunte commented on #24635
Thanks, I will do that.

[2016-07-14 13:42] thaJeztah commented on #24636
I cannot pull digest `ee06bb52b1fc453a72cee57b4ee4afb94d8e0aca479cd9dae5999f96e1e4f7a4` either (`manifest unknown`), so I'm wondering if skopeo returned a valid digest?

`docker inspect` of the `centos:7` image (on docker 1.12) gives me:

[code]

[2016-07-14 13:43] thaJeztah commented on #18508
Adding this to the milestone, per https://github.com/docker/libnetwork/issues/747#issuecomment-232667222

[2016-07-14 13:46] runcom commented on #24636
@ibotty you're probably using an older version of `skopeo` to get the Digest because I'm getting the right one running skopeo from master:
[code]

[2016-07-14 13:48] runcom commented on #24636
This issue doesn't belong here though, please report any issue again skopeo in its repository at projectatomic/skopeo, @thaJeztah going to close this

[2016-07-14 13:48] #24636 closed

[2016-07-14 13:50] thaJeztah commented on #24633
I think this relates to / is a duplicate of https://github.com/docker/docker/issues/24152, especially https://github.com/docker/docker/issues/24152#issuecomment-231909518

[2016-07-14 13:53] activatedgeek commented on #4737
@mikehaertl Here are my test results (note that I did not setup UFW as our main challenge is figuring out where is iptables rule going wrong):

This is the script I have used to test things:
[code]

#### Output for `--iptables=true` (default)
[code]

#### Output for `--iptables=false` (after `masquerading`)
[code]

So, I guess we do have a working solution of "`--iptables=false` + `masquerading`".

[2016-07-14 14:00] duglin commented on #24633
it might be related, not sure yet.  All I'm really focused on is how an end user can programmatically get the # of replicas asked for and # of replicas actually running in one shot - and "docker service inspect" seemed like the nice one-stop place for all info service related.  It might be nice if the details of each task were included in there too, but if that's too much info to gather in one sho

[2016-07-14 14:14] rhatdan commented on #23981
What AVCs are you seeing with the docker.socket?  We recommend not using docker.socket, since it block aotorestart in docker.

[2016-07-14 14:24] ibotty commented on #24636
@runcom, yeah. I am running 0.1.3. Apparently it got the digest wrong. Thank you for debugging.

[2016-07-14 14:25] brauner commented on #24559
On Tue, Jul 12, 2016 at 03:16:40PM -0700, John Garcia wrote:

I'm interested in this part of issue. Can you reproduce this using the latest
Docker version keeping all other parameters fixed (i.e. same kernel etc.)? Even
if the kernel bug is fixed this sounds like a possible bug in Docker. I'd expect
it to fail when it can't fulfill the requested memory isolation. But maybe I'm
off with this.

[2016-07-14 14:25] thaJeztah commented on #24295
This is most likely because your `ubuntu:latest` image is not up to date. I was able to reproduce in this situation, but not after the `ubuntu` image was updated;

Situation 1 (`ubuntu:latest` out of date):

[code]

[code]

However, after updating the `ubuntu:latest` image, it works;

[code]

[code]

As far as I can see, there's no bug, so I'm closing this, but feel free to comment after I closed

[2016-07-14 14:25] #24295 closed

[2016-07-14 14:28] chanwit opened #24637 "Cannot start Apache Spark on multi-host in Swarm mode"
I simply cannot schedule instances of Apache Spark over the multi-host network in Swarm mode.

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
DigitalOcean

**Steps to reproduce the issue:**
1. Create 2 nodes `master` and `node1`. Do `docker swarm init` & `docker swarm join`
2. Create an overlay ne

[2016-07-14 14:30] chanwit commented on #24637
+area/swarm please

[2016-07-14 14:30] AkihiroSuda commented on #24611
I did not (yet) try to analyze this issue, but I think it is worth linking https://github.com/docker/docker/issues/24309 to this.

[2016-07-14 14:39] thaJeztah commented on #24611
Thanks @AkihiroSuda, I thought there was another issue indeed. Let us know when you had time to look into this and if it's indeed a duplicate

[2016-07-14 14:41] chanwit commented on #24637
Additional info
[code]

It's clearly that containers on `node1` cannot resolve `master`.
Should I try `tasks.master` ?

[2016-07-14 14:41] newhook commented on #4737
We solve this by letting docker manage the iptables rules and creating a pre-docker chain which manages what we want to allow in/out of the containers.

[2016-07-14 14:41] dnephin commented on #24601
I think #24607 only fixed 2 of the 4 issues. Should this issue be re-opened ?

[2016-07-14 14:43] chanwit commented on #24637
Using `tasks.master` works fine anyway:

[code]

[2016-07-14 14:43] thaJeztah commented on #24601
@vdemeester ^^

[2016-07-14 14:45] jhorwit2 commented on #24022
@talex5 If a separate health column is made you agree the `(<health_status>)` part of the status string should be removed? The biggest issue I had looking through the code was the coupling between State & Health. The `String()` method on State technically _should_ say something about the Health since it doesn't make sense to omit that. If we make them separate columns it almost makes sense to also

[2016-07-14 14:46] justincormack commented on #24611
Yes @AkihiroSuda that was my thought too, I think they are probably the same bug in aufs.

[2016-07-14 14:50] cpuguy83 commented on #24637
ping @mavenugo

[2016-07-14 14:53] prateek121 commented on #24584
@thaJeztah May I know how do I run systemd by giving additional privileges to the container ?

Also for the same rpm gets installled on centos 5 VM (I know containers are different) but how do I make it work.
For your reference I attaching the rpm .
you may try and run the agent in the container and VM If you can
[li.rpm.zip](https://github.com/docker/docker/files/364054/li.rpm.zip)

[2016-07-14 14:53] thaJeztah commented on #24226
Ah, yes, I was thinking about that after yesterday's tech talk; even made a note;

Perhaps "engine version" would be interesting to add as well, so that it's possible to "review" the node before accepting

[2016-07-14 14:54] thaJeztah commented on #24226
Adding to the milestone, but not sure if this makes it for 1.12. We'll move issues to the next milestone if they don't make it

[2016-07-14 14:54] LukasBacigal commented on #21776
Should we open another issue as feature request? or change labels to feature and unlabel v 1.10

[2016-07-14 14:55] activatedgeek commented on #4737
@newhook Could you please elaborate? What do you mean by a `pre-docker` chain? Do you use UFW or have your own `iptables` management routines?

[2016-07-14 14:56] cpuguy83 commented on #21776
(version) Labels are automatically set based on the version supplied in the original issue, no need to change.

[2016-07-14 14:57] thaJeztah commented on #24584
There are some issues in the issue tracker that may give some information, for example https://github.com/docker/docker/issues/18796, but there are others

[2016-07-14 14:58] thaJeztah commented on #24378
Looks like the issue is about `Can't set task name /dev/mapper/docker-253:1-71217062-pool`

[2016-07-14 15:06] brauner commented on #24559
So I can't reproduce this issue on a `4.6` kernel with:

1) Create `65536` memory cgroups to trigger the `64k` limit.

[code]

[code]

2) Try to start a container with memory confinement

[code]

Fwiw, result is identical when no memory confinement is specified.

[2016-07-14 15:12] mavenugo commented on #24637
@chanwit `tasks.{service-name}` replies with multiple A-Records of all the ip-addresses of backing containers. While DNS query on `{service-name}` returns VIP.

Can you pls confirm if `nslookup master` from within a worker node works across the nodes ? If yes, then our next check would be to check IPVS programming.

BTW, I am working on an issue with overlapping IP assignment in swarmkit on certai

[2016-07-14 15:13] jgarcia-mesosphere commented on #24559
Thanks for the repro @brauner looks to me like everything is good in the new version based on that.

[2016-07-14 15:20] dhiltgen commented on #24226
The challenge is how much we can trust the information, and trying to avoid a scenario where it can be used to fool an admin into accepting a node they didn't intend to.  The IP address can be somewhat validated by the manager, and I'm assuming implementing this would be fairly straight forward.  With the RC4+ behavior of defaulting to using a secret to join, perhaps this isn't as big a concern, b

[2016-07-14 15:21] newhook commented on #4737
We let docker manage the iptables containers rules in the DOCKER chain. We create a new iptables chain called pre-docker at the head of the FORWARD chain which has the following:

[code]

Prior the limit rule are any hosts we want to access to the containers (internal to our network).

[code]

We then programatically add any firewall rules to the top of the pre-docker for anything that should be e

[2016-07-14 15:27] #24580 closed

[2016-07-14 15:28] thaJeztah commented on #24226
Yes, I agree. The "secret" is still important of course (and needed to be *able* to request to join), additional information is "informational", and purely out of convenience

[2016-07-14 15:29] thaJeztah commented on #24559
@justincormack wdyt, should we have a look at that error (for unpatched kernels?)

[2016-07-14 15:41] mycrEEpy commented on #24589
Seems like after the Ops Team restarted the worker node host everything is working fine.

[2016-07-14 15:45] crosbymichael commented on #23981
Ok, i am seeing the eperm on the socket now, but it happens with the `docker-selinux` package as well unless dnf is not installing it correctly.  It is only happening with the socket and if you run docker without socket activation everything runs fine in enforcing mode

[2016-07-14 15:50] dikeat opened #24639 "Docker 1.12-RC4 - Swarm mode service with constraint doesn't respect dockerd labels"
**Output of `docker version`:**

node _managed-instance-4_
[code]
node _worker-instance-1_
[code]

**Output of `docker info`:**

node _managed-instance-4_
[code]

node _worker-instance-1_
[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Two nodes are running on Google Cloud CentOS 7.2 VMs.

**Steps to reproduce the issue:**
1. Check nodes up and running. One node is ma

[2016-07-14 15:54] mavenugo commented on #24542
@DSTOLF am not familiar with how wildfly operates. So, some of my questions/suggestions may not apply directly. But I will still try :-). With swarm-mode, we support VIP based Load-balancing combined with Service-Discovery. Hence the only configuration the applications ideally would need is the Virtual-IP of the service and ideally should not care about the individual containers that back that ser

[2016-07-14 16:00] styfle commented on #24386
@samuelkarp @thaJeztah Is separating `stdout` and `stderr` supported using the default json driver?

It wasn't working for me when using the remote api. See [docker-remote-api#2](https://github.com/mafintosh/docker-remote-api/issues/2) for more details.

[2016-07-14 16:08] chanwit commented on #24637
@mavenugo thank you for the quick reply. Will test that for you.

Things getting a bit complicated here.
![spark_2_interfaces](https://cloud.githubusercontent.com/assets/10666/16846573/25c5ff3a-4a17-11e6-9c33-ce1a636d6507.png)

I now have 2 networks, `ingress` and `spark` and I published port 7077 to allow an external client to connect to Spark (this is a requirement).

Spark master got an `ingres

[2016-07-14 16:16] chanwit commented on #24637
[code]

[2016-07-14 16:20] chriskuehl commented on #24603
Above I originally said I reproduced it on the xenial 4.4.0-28-generic kernel. It was actually the *trusty* kernel, sorry.

I'm able to reproduce this on trusty. It seems to work fine on xenial (probably different kernel patches despite both using their version of `4.4.0-28-generic`?). Here are my steps:

[code]

[2016-07-14 16:42] mrjana commented on #24557
@abronan Something weird is happening in this case. A TCP fallback ping failed with i/o timeout which is indicating some kind of underlying infrastructure issue or network congestion. We should never see TCP fallback ping failing unless there is severe problem in the infrastructure or the daemon is stuck in some weird state that it is not able to respond to the ping. We should debug it more to fin

[2016-07-14 16:43] thaJeztah commented on #24618
I don't think that's currently possible, but relates to https://github.com/docker/docker/issues/24226. I'll close this issue for now so that we can discuss on that issue

[2016-07-14 16:43] #24618 closed

[2016-07-14 16:43] nbars commented on #24608
Running `strace -p <XXX> -f` doesn't help. I also can't replicate #13885 because I'am unable to start or stop any container.

Any idea how to further debug this problem?

[2016-07-14 16:44] asrocha opened #24641 "z3"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

[2016-07-14 16:46] thaJeztah commented on #24386
@styfle no, afaik, that's not possible with the default JSON driver

[2016-07-14 16:54] tonistiigi commented on #22851
Closing, fix for #22913 was also included for v1.12 in #23213

[2016-07-14 16:54] #22851 closed

[2016-07-14 16:56] abronan commented on #24557
@mrjana I don't think the error on TCP is relevant, sometimes nodes are marked as failed even without those TCP errors (I'm on Digital Ocean btw). I think it's definitely network congestion as this can happen without doing any specific action but is definitely triggered when orchestrating tasks at a large scale (I have to debug this more but I suspect the orchestrator to be a resource hog as it is

[2016-07-14 16:56] runcom commented on #24603
FWIW, on Fedora + kernel 4.6.3 everything's working fine with XFS as backing FS

[2016-07-14 16:58] dikeat commented on #24639
+area/swarm please

[2016-07-14 16:58] cpuguy83 commented on #20973
We can still use ID's in the backend (for watching events or whatever), but display names.

[2016-07-14 16:59] #24641 closed

[2016-07-14 17:07] thaJeztah commented on #24639
We're still working on documentation for that, but the notation for constraints when working with swarm mode is slightly different. See this comment for some examples; https://github.com/docker/docker/pull/24397#issuecomment-231227571

In your case, can you try:

[code]

[2016-07-14 17:11] #22379 closed

[2016-07-14 17:13] cohenaj194 commented on #24531
So The issue was caused by my swarm managers using docker 1.12.0-rc3 and my clients were 1.12.0-rc4.  After updating my docker versions and remaking my cluster the issue of overlay networking was resolved.

[2016-07-14 17:15] thaJeztah commented on #24626
agreed, please reopen in the docker compose issue tracker. thanks!

[2016-07-14 17:15] #24626 closed

[2016-07-14 17:16] pietv commented on #23792
Docker log output: http://pastebin.com/jE0zKa9u
(`~/Library/Containers/com.docker.docker/Data/com.docker.driver.amd64-linux/log/docker.log`)

Command:
[code]

Version:
[code]

[2016-07-14 17:22] dikeat commented on #24639
Thanks a lot. Yes it does work with engine.labels prefix!

[2016-07-14 17:22] #24639 closed

[2016-07-14 17:22] aaronlehmann commented on #24511
The upstream fix is merged now, so this issue can be closed next time swarmkit is revendored.

[2016-07-14 17:24] activatedgeek commented on #4737
I added this to the top of `/etc/ufw/before.rules` (`ufw` was started after docker service), iptables screwed. I'll probably need to understand more. Any pointers here @newhook?

[2016-07-14 17:24] thaJeztah commented on #24639
Awesome! Sorry for the documentation not being "there" yet :smile:

[2016-07-14 17:25] icecrime commented on #24396
_Silence means consent._ :innocent:

[2016-07-14 17:27] abronan commented on #24596
I think this might be in conflict with #24084 which discusses removing the `--manager` flag.

If we remove the flag this would make the process of having a manager only node very tedious (a scenario that is more likely to me on a real infrastructure than having both Manager/Agent node):

[code]

/cc @aluzzardi @stevvooe

[2016-07-14 17:33] cohenaj194 opened #24643 "Error response from daemon: rpc error: code = 2 desc = raft: failed to process the request: node lost leader status"
I am running docker swarm with 6 nodes (3 managers with `--availability drain`, 3 workers).  After restarting my `docker swarm init` node, for failure testing, running any `docker service create`, `docker service scale` or `docker service rm` from that node produces the following error (note that I can still run `docker service inspect` or `docker service ls`):

    Error response from daemon: rpc

[2016-07-14 17:35] jhorwit2 opened #24644 "high cpu usage around unhealthy task rescheduling"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

docker for mac beta 1.12-rc4

**Steps to reproduce the issue:**
1. Create Dockerfile (see additional information)
2. `docker build -t hctest .`
3. `docker service create --replicas 2 --name test hctest`
4. watch cpu usage

**Describe the results you

[2016-07-14 17:38] cpuguy83 commented on #24643
ping @tiborvass @LK4D4

[2016-07-14 17:39] FrenchBen commented on #23792
@pietv I'm also on `Version 1.12.0-rc4-beta19 (build: 10258)`
No issues pulling the data.
[code]

[2016-07-14 17:45] mgoelzer commented on #24017
@aluzzardi

[2016-07-14 17:48] aluzzardi commented on #24596
@beverts312 Would promoting to a manager and then draining the node work for you? This would prevent any workload from being scheduled on that node

[2016-07-14 17:54] mavenugo commented on #24637
@chanwit can you please update the actual command that you are using in the description ?
I dont see `-p x:y` in the description and hence it was not clear if you are using the ingress network or not. Also, are you publishing the port only on `master` service or also the `worker` service ?
If it is only on the `master` service, then the `worker` should NOT be part of the `ingress` network. If you

[2016-07-14 17:55] thaJeztah commented on #24618
Actually, there's also https://github.com/docker/docker/issues/24017

[2016-07-14 17:56] beverts312 commented on #24596
@aluzzardi yep that would work for me since functionally it would achieve the same thing

That being said, I still think it makes sense to be able to join strictly as a manager and not have to run this extra step

[2016-07-14 17:58] dikeat opened #24645 "Docker 1.12 RC4 swarm mode - can't assign label to a node using docker node update command"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
VM on Google cloud

**Steps to reproduce the issue:**
1. Documentation (https://docs.docker.com/engine/reference/commandline/service_create/) says

2. Checking how to add label to a node
[code]

**Describe the results you received:**
There is no optio

[2016-07-14 17:59] cpuguy83 commented on #24644
ping @stevvooe @runshenzhu

May need to look at a better backoff for task rescheduling.

[2016-07-14 18:00] dikeat commented on #24645
please add +area/swarm

[2016-07-14 18:02] aaronlehmann commented on #24596
I like the idea of being able to do `docker swarm join --availability=drain ...`. I think if it's two steps, some people may be concerned that work might be scheduled on the node in the window between the two commands. While this is probably not a big problem in practice, being able to join as a drained node would at least avoid pulling down images that you don't want on the manager, for example.

[2016-07-14 18:05] crosbymichael commented on #23981
So looking at this more I think i'm going to go with this approach, let me know if you think it's a bad idea.

We should remove socket activation from the packages, it fixes both this issue and the fact that its worthless with docker and shouldn't have been there in the first place. ( --restart does not work at all with it )

As far as updating the selinux package, it looks like the issue here #24

[2016-07-14 18:08] crosbymichael commented on #24612
@sweekarp thanks for the report, i'm looking into this today

[2016-07-14 18:14] styfle commented on #24386
@thaJeztah Do any drivers support this?

[2016-07-14 18:40] tianon commented on #22899
`hack/make/test-unit` should be emitting coverprofiles (for quite some time now; at least as far back as #3211), and if it isn't, that's a bug :disappointed: (and I'm keen on understanding what's happening to cause it and why)

We also have `hack/make/cover` which is supposed to be responsible for creating reports based on those (so something like `./hack/make.sh test-unit cover` should create `bu

[2016-07-14 18:46] tianon commented on #22899
Aha: #17491

[2016-07-14 18:51] tianon commented on #22899
So to summarize:

1. we did support generating cover profiles once (`hack/make/cover` is a leftover of that)
2. #17491 intentionally disabled them

I think we have a couple options here:

1. adjust documentation about how to use `TESTFLAGS` to get cover profiles (and remove `hack/make/cover`)
2. adjust `hack/make/cover` to add to `TESTFLAGS`, invoke `test-unit`, and then generate reports (probably

[2016-07-14 18:53] jhorwit2 commented on #24644
@cpuguy83 That would help spread apart the cpu spikes, but not fix the problem I think. It could just be docker for mac has something that's costly cpu wise or there is something in the flow that needs to be looked at to optimize. I haven't had time to run docker w/ cpu profiling to see what it is exactly.

[2016-07-14 19:33] vdemeester commented on #24067
As @llitfkitfk said, one of the use-case would be what Træfɪk does right now (before actually supporting swarm mode services). Træfɪk listens for containers event and, to make it work with swarm mode we'll need to have services events (but it's another issue though) — and *in the end* Træfɪk aims to support both mode (with and without swarm mode).

Before having and supporting that, having the pos

[2016-07-14 19:39] thaJeztah commented on #24645
There's a PR to implement this https://github.com/docker/docker/pull/24397

[2016-07-14 19:45] thaJeztah commented on #24644
Also related to https://github.com/docker/docker/issues/24082

[2016-07-14 19:52] runshenzhu commented on #24644
@jhorwit2 have you missed some cmds?

* When starting busybox, you have to provide long running command such as `sleep 1d` or `top`, otherwise container will exit immediately after running. So you should run service from this command: `docker service create --replicas 2 --name test hctest top`

* In your case, tasks should always be healthy. It won't be killed and rescheduled due to health check.

[2016-07-14 20:03] jhorwit2 commented on #24644
Good point... Nope, no other commands. Currently it's constantly cycling tasks.

Here is a terminal session

[code]

If i monitor the docker events it's constantly flapping start/die.

[code]

[2016-07-14 20:04] matthewadams opened #24647 "`docker run` neither fails nor warns when using an image that includes VOLUME but is unmapped at runtime"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
* Mac OS X El Capitan 10.11.5 (15F34)
* MacBook Pro (Retina, Mid 2012)
* Oracle VirtualBox 5.0.24 r108355

**Steps to reproduce the issue:**

* Create a temporary working directory & change to it:
[code]
* Create a `Dockerfile` in `$PWD` with the foll

[2016-07-14 20:05] jhorwit2 commented on #24644
Also, to your point about a long running command.

Busybox runs bash by default which never dies. if I run
[code]

All appears fine.

[2016-07-14 20:09] jhorwit2 commented on #24644
@runshenzhu you are right. Bug was between the user and the keyboard about my flapping service.

The high cpu usage is still an issue though. Imagine someone does this at a large scale and eats up cpu across nodes.

[2016-07-14 20:11] stevvooe commented on #24017
There are several Host/IP fields that are relevant for a swarm (not all of these exist):

1. `Node.RemoteAddr` - IP address as detected by the dispatcher connection.
2. `NodeSpec.Addr` - Host or IP Addr, as set by the operator, should be used over others.
3. `Node.ManagerStatus.Addr` - IP Address as used in raft, seeded by `—advertise-addr` (or arguably, should be a part of `Node.Description`).
4.

[2016-07-14 20:26] alexmavr commented on #24017
The use case I'm describing would return `NodeSpec.Addr`, if it has been set by an operator, or `Node.RemoteAddr` otherwise.

[2016-07-14 20:46] DSTOLF commented on #24542
@mavenugo I'm also no specialist on Wildfly and Jboss. I'm actually pretty new to it.

For the record, I couldn't set up the damn thing up using Unicast (Wildfly's fault or mine, not Docker's haha)  and httpd mod_cluster. So I decided to go with JGroups and Gossip Router (which is still a single point of failure, but fully compatible with the overlay network) and am now using Swarm Mode own load b

[2016-07-14 20:47] timhaak opened #24649 "Docker 1.12 RC4 swarm mode - Doesn't seem to be a way limit only one replica per node"
Looking at the available documentation and this #24397 issue the only constraints available are based either on a node label or engine label.

There doesn't seem to be a way to add a constraint of only one replica running on a node.

Previously it could be done on the container name. (affinity:container!=name)

Is this something that isn't available yet?

If so is there a plan to add this in the f

[2016-07-14 20:47] DSTOLF commented on #24542
BTW, thanks a lot for your feedback. Keep up the good work.

[2016-07-14 20:47] matthewadams commented on #24647
@thaJeztah, based on your comments, I'm ok with not emitting a warning, but image creators should be able to say which volumes are required or not.  By saying nothing, you get the current behavior.  By saying, "Hey, if you don't map a directory to this volume, you'll be wasting time," we avoid said waste.

We have a use case where we're using a container to generate an application.  When we `docke

[2016-07-14 20:49] mavenugo commented on #24542
Thanks for the confirmation @DSTOLF .
Yes. We have a few request for the multicast support. But we havent received any contributions to make that happen :-).

[2016-07-14 21:06] thaJeztah commented on #24647
The problem, is that it *is* mapped (to a volume), just not a bind-mount, so having to define that would become *really* specific, and may just as well be solved with proper documentation. For your use-case, perhaps consider using a `docker-compose.yml` file, or a `makefile` that sets the right parameters for `docker run`.

[2016-07-14 21:12] abronan opened #24651 "swarm: Managers back off to Worker role without demoting"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Digital Ocean VMs:

*3 Managers*: 2 GB Memory / 40 GB Disk / Ubuntu 16.04 x64
*3 Agents*: 1 GB Memory / 30 GB Disk / Ubuntu 16.04 x64

**Steps to reproduce the issue:**

1. Create the cluster with 3 Managers and 3 Agents
2. Create a service
3. Scale

[2016-07-14 21:14] crosbymichael commented on #23981
@ksylvan the build line that you are looking for is this:

`make DOCKER_BUILD_PKGS=fedora-24 rpm`

I was able to build rpms successfully using that command.  make variables come before the command or whatever you call what is at the end

[2016-07-14 21:15] lennartjuette commented on #24604
@sanimej There's an MTA (exim) + IMAP Server running in this container. But the traffic and the resulting DNS lookups are negligible - just a handful of lookups per minute. I haven't read all of #22185, but i guess i'm not hitting any rate limits here. I have enabled debug mode and i'm waiting for the next occurrence of the problem to gather some more logs.

I also updated the container (Ubuntu 14

[2016-07-14 21:57] thaJeztah commented on #24542
@mavenugo do we have a tracking issue for that? Perhaps we should create one, and add a "help wanted" label

[2016-07-14 21:59] thaJeztah commented on #24649
I think you're looking for `--mode=global`; https://docs.docker.com/engine/reference/commandline/service_create/#/set-service-mode

[2016-07-14 22:14] mavenugo commented on #24542
@thaJeztah https://github.com/docker/libnetwork/issues/552 and I added the `help/wanted` label long ago :)

[2016-07-14 23:02] rvs commented on #332
@justincormack Justin, what I really would love to see is very similar to #22641 but with a full power of git rebase (especially git rebase --interactive). Do you think it is feasible?

[2016-07-14 23:28] aaronlehmann commented on #24078
I'm not sure this is related to TLS certificates after all. I tried making the manager issue certificates that are not valid yet, and I got a useful error immediately:

[code]

If I get a chance, I'll try to spin up a few VMs and reproduce this with actual clock skew.

[2016-07-14 23:55] thaJeztah commented on #24589
Let me close this issue then, but please comment if you encounter this again.

Thanks for testing, and reporting!

[2016-07-14 23:55] #24589 closed

[2016-07-15 00:10] thaJeztah commented on #23843
/cc @aluzzardi @stevvooe

[2016-07-15 00:51] ksylvan commented on #23981
@crosbymichael is that run inside the "make shell" container with the docker daemon running? Or on the host?

[2016-07-15 00:58] cpuguy83 commented on #24602
Glad that's all it was!

[2016-07-15 01:14] cpuguy83 commented on #24608
@nbars Unfortunately running strace on the docker client doesn't give us what we need.
If you could send `SIGUSR1` to the stuck daemon and then grab the stack trace from the daemon logs that would be extremely helpful, along with what commands may have been run that led up to the hang.

Thanks!

[2016-07-15 01:23] chanwit commented on #24637
Sorry @mavenugo
I gave it another way of trying and forgot to update the commands.

Just corrected there in the description.

[2016-07-15 01:33] manish-sehgal opened #24656 "Docker client not able to communicate with server over network"
I have two hosts connected to same network. One of them is running Ubuntu 14.04.3 LTS. Second host is running RHEL 7.2. I am able to install docker on both host and run simple docker commands as well as "docker run hello-world".
Now I am trying to communicate docker from RHEL host to Ubuntu host. But it is not working. I am able to ping between these two host. But if execute "docker version" comma

[2016-07-15 01:34] aaronlehmann commented on #24078
I was able to reproduce this on VMs with skewed clocks. It happens when a node joins a manager which has a certificate created in the "future".

The swallowing of the error is sort of a side effect of how GRPC's asynchronous dial works. It will keep retrying the connection, and the RPC call will block until it succeeds. We could (and should) put a time limit on the RPC using `context.WithDeadline`

[2016-07-15 01:35] aaronlehmann commented on #24078
Note that you'll see the same behavior if you try to join the wrong address. The connection will fail, but GRPC retries and swallows the error.

[2016-07-15 01:37] manish-sehgal opened #24657 "Docker client not able to communicate with server over network"
I have two hosts connected to same network. One of them is running Ubuntu 14.04.3 LTS. Second host is running RHEL 7.2. I am able to install docker on both host and run simple docker commands as well as "docker run hello-world".
Now I am trying to communicate docker from RHEL host to Ubuntu host. But it is not working. I am able to ping between these two host. But if execute "docker version" comma

[2016-07-15 01:39] #24657 closed

[2016-07-15 01:45] chanwit commented on #24637
On master node:
`docker network inspect ingress`
[code]

[2016-07-15 01:46] chanwit commented on #24637
On worker (node1) node:
`docker network inspect ingress`

[code]

[2016-07-15 01:50] chanwit commented on #24637
Similar commands, but the result changed this time.
Now both machines formed Spark cluster on `ingress` interface (and I passed `--network spark` on the command)

![spark_2_interfaces_2](https://cloud.githubusercontent.com/assets/10666/16861228/fa1c1796-4a68-11e6-965c-e7d7c9f6b764.png)

[2016-07-15 01:54] chanwit commented on #24637
Spark Worker registering across 2 (`ingress` or `spark`) interfaces seems to be happened randomly.

[2016-07-15 02:19] llitfkitfk opened #24658 "[1.12 rc4-beta19 docker for mac] release notes: date 2016-07-03?"
https://docs.docker.com/docker-for-mac/release-notes/

[2016-07-15 02:30] kj54321 commented on #16137
Having installed the 1.12rc4 via []( https://yum.dockerproject.org/repo/experimental/fedora/24)， seems like docker vs. firewalld conflict still has not been solved on latest release.
Since firewalld is now default package on red hat distribution, any chances to fix this issue ?

[code]

[2016-07-15 02:39] shepmaster commented on #21702
I've also seen this error when attempting to volume mount a directory located on a loopback device that wasn't mounted when the docker server was started. Restarting the docker daemon fixes this particular instance of the error.

[2016-07-15 02:40] stevvooe commented on #24470
@tiborvass This has nothing to do with image manifests. This is about whether an update to `ServiceSpec` will trigger a rolling update. The API method should provide feedback to indicate whether or not it will occur.

[2016-07-15 02:55] csrwng opened #24660 "Permission denied when directory owner/mode changed in different layer on AUFS"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Docker for Mac, Version 1.12.0-rc4-beta19 (build: 10258)

**Steps to reproduce the issue:**
1. Create an image with the following Dockerfile:

[code]
1. Run with an arbitrary user id, group 0:

[code]
1. Attempt to write to /var/lib/test directory:

[

[2016-07-15 02:55] justyntemme commented on #23884
I have opened a pull request following the guidelines outlined in the repo. All that lacks is a cute animal, although i think my moose makes up for that. If there is anything I need to fix please let me know and i will fix it asap.

[2016-07-15 02:57] csrwng commented on #24660
Could be related to https://github.com/docker/docker/issues/24309

[2016-07-15 03:03] stevvooe commented on #24110
Task IDs are unique to the running task, so probably not useful here.

Considering that we don't have `CONTAINER_ID`, I don't see this happening.

I'll comment on #23843, but a better approach might be to support some sort of contextual templating across parameters. For example:

[code]

This would provide a lot more power and would require an awkwardly named flag.

[2016-07-15 03:03] shengying opened #24661 "strace docker run hello-world (seccomp) exit with code 133"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
VirtualBox 5.0.20

**Steps to reproduce the issue:**
a.  use a customized hello.json file to filter system calls:
[code]
b.  strace docker run:
[code]

**Describe the results you received:**
1. no error information in daemon (debug mode)
2.  ```strace

[2016-07-15 03:08] sqleejan commented on #24497
ok,fixed it on current master

[2016-07-15 03:16] adaiguoguo opened #24662 "Suggest MemorySwappines could equal to cgroup's memory.swappiness"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Steps to reproduce the issue:**

[code]

But in {{ containerID }} 's cgroup

[code]

I suggest  MemorySwappines can  equal  to cgroup's  memory.swappiness

[2016-07-15 03:20] stevvooe commented on #23843
@AkihiroSuda I'm not really into the proposed syntax, either (`--per-completion-env`, ick), but there has been discussion of a batch model. This is a natural evolution but I doubt we'll overload the service command to do it (though, this will be a service orchestration type).

Batch jobs usually have three components:

1. Task parameterization.
2. Re-spawn handling.
3. Completion conditions.

Numb

[2016-07-15 03:30] stevvooe commented on #24644
@jhorwit2 This is probably a dupe of #24082. We need to add backoff on mass task failure.

😉 Read this, for fun: https://github.com/docker/docker/issues/24082#issuecomment-229849008

The conclusion here is that this is easy to do and we don't have very good UI for tracking the problem down (yet). Both of these are affecting my sleep schedule.

Do you mind us closing this one and following the othe

[2016-07-15 03:38] stevvooe commented on #24396
@icecrime Can we say that an unexited health check script implies 2, at startup?

[2016-07-15 04:10] jstangroome commented on #24295
Hi @thaJeztah,

I had incorrectly assumed that omitting the tag from the filter would return all containers using that image with any tag. I have confirmed since that the documentation does indeed state this, but I missed it.

It would, however, be a very useful feature to be able to filter for all containers based on a named image with any tag variant, something like:

[code]

[code]

Thanks for

[2016-07-15 04:15] aluzzardi commented on #24396
On my phone, sorry for brevity, but there's a huge red flag here: I don't see a way to write health checks for most of our base images.

I don't think we did any research on how we're actually going to implement status code 2.

Take redis. I don't think there's a way to reliably return a 2. So it better load the entire data set in less than 5 seconds (or whatever the interval is) or we're going to

[2016-07-15 04:16] fumi commented on #16829
Same here. I have installed Docker for Mac to my new machine today, the docker-compose works well after changing the DNS to 8.8.8.8.

[2016-07-15 04:59] mansurali901 commented on #2606
Temporary increase tmpfs filesystem
1) Open /etc/fstab with vi or any text editor of your choice,
2) Locate the line of /dev/shm and use the tmpfs size option to specify your expected size,
e.g. 512MB:
tmpfs      /dev/shm      tmpfs   defaults,size=512m   0   0
e.g. 2GB:
tmpfs      /dev/shm      tmpfs   defaults,size=2g   0   0

mount -o remount /dev/shm

[2016-07-15 05:18] ehazlett commented on #24605
@sanimej sure i see that in the tests however what should the value be for `_service` and `_domain`?  If i try a dig from another service I don't get any results.

[code]

I've tried all kinds of queries including ones like the tests but I get nothing (`_http._tcp.app.swarm` and `_host_http._tcp.app.swarm`).  I don't see how to query this.

The use case is to be able to query SRV records from with

[2016-07-15 05:24] ehazlett commented on #24605
This is my setup (currently testing with 1.12.0-rc4):

"backend" network (`docker network create -d overlay backend`)

"app" service (nginx):

[code]

"shell" service (i sleep and then exec)

[code]

[2016-07-15 05:43] deathrush opened #24664 "How to access the data of Docker 1.12 internal distributed state store ?"
How to access the data of Docker 1.12 internal distributed state store ?
Is there a client to do that?

[2016-07-15 06:00] sylvinus commented on #20316
I just want to add that Travis-CI is still using Docker 1.8.2, so most projects are not yet affected by this issue. I actually found this issue when my build times went from 5 minutes to 1h+ after upgrading to Docker 1.10.1 on Travis.

If/when they upgrade everyone to >=1.10.1, this will cause massive pain to many, many users because up until now it was standard practice to pull then build.

The h

[2016-07-15 06:02] AwokeKnowing commented on #12673
this is not a 'non issue'.   This is an issue with the implementation of Docker on Windows.  by choosing to do it through a boot2docker vm and other tricks, one of the key use cases of docker is discarded.  This is a very REAL issue, and the issue is that "Docker for Windows" doesn't really exist yet.  It's a little like saying MS Word for Mac, but it runs on a Windows VM so of course it can't aut

[2016-07-15 06:50] morphyno commented on #23332
@ligc, can you point to me about the kernel config changes required to exceed 1024 interfaces for 1 bridge?

[2016-07-15 07:12] mostolog opened #24670 "Old service containers aren't removed after docker service update "renaming""
Hi

We are running a service (logstash) which loads the configuration files at startup:

The containers are started and visible with _docker ps -a_
After testing some changes, we would like to have a rolling update without downtime.
To do it, I was trying to do:

If I understood correctly, this should replace each container with the new configuration.
Instead of that, _docker ps -a_ is showing **b

[2016-07-15 07:13] mostolog commented on #24190
Probably it's more a language problem, but could documentation explain the difference between bind and mount?

[2016-07-15 07:30] Jayuda commented on #21282
+1

[2016-07-15 07:38] jizhilong opened #24671 "docker races with udev on device symlink handling when dm.use_deferred_removal is enabled"
As I commented on  #4036, docker(actually libdevicemapper used by docker) may race with udev on device symlink creating/deleting when `dm.use_deferred_removal` is turned on , and it eventually leads to a `docker start/diff` fail.Following is the reproducing procedure:

# docker info
[code]

# way to reproduce
## make sure all containers  removed

[code]
## get image ready
a `busybox` image would b

[2016-07-15 08:05] ErwinSteffens opened #24672 "Error while starting docker: 'Failed to create Switch "DockerNAT": Element not found.'"
When trying to start Docker for Windows it gives the error `Failed to create Switch "DockerNAT": Element not found.`

**Output of `docker version`:**

Could not generate this because the docker service does not start.
Version is `1.12.0-rc4-beta19 (build: 5465) c84feba`

**Output of `docker info`:**

Could not generate this because the docker service does not start.

**Additional environment detai

[2016-07-15 08:07] jizhilong commented on #24671
After some digging into code of lvm2 and docker, I got a hypothesis for the cause of the issue:
1. for dm device removal, `libdevicemapper` checks the existence of cookie in a dm_task to determine whether or not relying on udev to create/delete device symlink(code is [here](https://git.fedorahosted.org/cgit/lvm2.git/tree/libdm/ioctl/libdm-iface.c#n1785).
2. in [pkg.devicemapper.RemoveDeviceDeferre

[2016-07-15 08:08] jizhilong commented on #24671
After some digging into code of lvm2 and docker, I got a hypothesis for the cause of the issue:
1. for dm device removal, `libdevicemapper` checks the existence of cookie in a dm_task to determine whether or not relying on udev to create/delete device symlink(code is [here](https://git.fedorahosted.org/cgit/lvm2.git/tree/libdm/ioctl/libdm-iface.c#n1785).
2. in [pkg.devicemapper.RemoveDeviceDeferre

[2016-07-15 08:20] espritengineer opened #24673 "Docker is not creating sub-directories"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Virtual machine on IBM Softlayer cloud

**Steps to reproduce the issue:**
1. Created a Dockerfile to build an image
2. Added the following instructions:
ENV JVM_PATH /acme/jvm/
ENV ACME_LOGS /acme/logs/
RUN mkdir -p "$JVM_PATH" "$ACME_LOGS"
RUN ls -l

[2016-07-15 08:35] coolljt0725 opened #24674 "docker start with invalid graphdriver cause daemon panic"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. `dockerd -s over -D --live-restore`
2.
3.

**Describe the results you received:**

[code]
**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):

[2016-07-15 08:35] RowanKaag opened #24675 "macOS Sierra - Compatibility - Docker for Mac"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Docker for Mac. Tried factory reset and re-install. Problems since previous update (beta 18)

**Steps to reproduce the issue:**
1. Install macOS Sierra
2. Install Docker for Mac
3. Start Docker
4. Experience freezing/hanging/everlasting-starting of Do

[2016-07-15 08:41] runcom commented on #24674
luckily 1.12-rc4 isn't affected by this

[2016-07-15 08:43] nkovacs commented on #24503
Hi
Is this fix in beta 19? I can still reproduce the issue.

[2016-07-15 09:08] michaelkrog commented on #24234
I am also seeing timeouts. I have 1 master and 2 nodes. All of them Ubuntu 16.04 with Docker 1.12-rc4.

I have 3 services; 2 (`edge` , `proxy`) based on the official nginx image and 1 `webservice`as a Spring Boot app. The are all in the same overlay network. The request flow is `edge`-> `proxy` -> `webservice` and `edge` has a PublishedPort(80).

If all services have 1 replica on node2, then all i

[2016-07-15 09:08] coolljt0725 commented on #24674
@runcom  1.12-rc4 is also affected by this.
[code]

[2016-07-15 09:09] justincormack commented on #24675
Hi, we are working on this. The first beta of Sierra worked, but the more recent one does not. cc @avsm

[2016-07-15 09:11] thaJeztah commented on #24497
Cool, thanks for testing! I'll close this issue :)

[2016-07-15 09:11] #24497 closed

[2016-07-15 09:11] rheinwein commented on #20316
Codeship engineer here -- we also stayed on 1.9 for much longer than we normally would have to avoid breaking caching for our users. We completely rewrote our remote caching system to rely on `save` and `load` instead of a registry, using the behavior introduced in https://github.com/docker/docker/pull/21385. After this change was in place, we were able to update our build machines to 1.11 with no

[2016-07-15 09:12] thaJeztah commented on #23843
I'll add this to the 1.13 milestone for consideration

[2016-07-15 09:13] thaJeztah commented on #24396
Let me reopen for now

[2016-07-15 09:13] dshulyak commented on #10947
@cpuguy83 Can you provide some ideas how it can be solved?

[2016-07-15 09:14] thaJeztah commented on #24396
ping @tianon did you have a look at implementing health checks for the official images, any suggestion what you think works best?

[2016-07-15 09:14] justincormack commented on #24661
Hi, there are some more details here https://github.com/docker/docker/issues/22252

If you use `--security-option no-new-privileges` then there are fewer syscalls needed during start up.

[2016-07-15 09:29] mimmus commented on #13331
We deploy our images via systemd which doesn't like long running processes such as docker pull in the ExecStartPre fields and we have a few images, so I don't want to have to have a second service file just to pull the images first. A simple --pull or --update would be great.

[2016-07-15 09:33] KekSfabrik commented on #23992
So I'm having an issue which might be related - Occured on `1.12.0-rc4-beta18` and on  `1.12.0-rc4-beta19` on win10 pro with non-admin users (tested on multiple machines, some upgraded from win8.1 and some fresh win10 installs):
Trying to share fails most of the time and shares seem to disappear after reboot of the pc (have to check and then `rm` all containers - see lower down in the description)

[2016-07-15 09:35] talex5 commented on #24022
Yes, I think it can be removed from `state.String` if you add an extra column instead. What uses the state string besides `docker ps`?

[2016-07-15 09:37] brauner commented on #24559
I also can't reproduce this with the latest Docker version on an unpatched `4.4` kernel:

1) Create 65536 memory cgroups to trigger the `64k` limit.

[code]

[code]

2) Try to start a container with memory confinement

[code]

[2016-07-15 09:55] mmisztal1980 opened #24678 "Unable to pull images in WS2016 TP5 in Azure"
When trying to `docker run microsoft/dotnet35:windowsservercore`

Docker version 1.12.0-dev, build 8e92415

This has occured on a recently created VM in Azure using the WS2016 TP5 image. Can I fix or work around this issue?

Regards
/Maciej

[2016-07-15 10:03] npcode commented on #24531
I have the same issue with rc4.

[2016-07-15 10:40] upccup opened #24679 "[1.12 rc4]service discovery failed"
now i create two service and network like this

[code]

now i try to connect redis server in my web server but failed

[code]

because the redis container ip is changed

[code]

**docker version**

[code]

**service redis**

[code]

**service web**

[code]

[2016-07-15 10:43] dsheets commented on #24503
No, I'm sorry to say that it missed Beta 19 due to additional QA being required on it.

[2016-07-15 10:48] pietv commented on #23792
@FrenchBen thanks! replacing my ISP DNS with 8.8.8.8 solved the issue for me.

[2016-07-15 11:09] newhook commented on #4737
Its hard to offer advise when I'm not really sure what you've done or the state of the iptables after you adjusted the before.rules.

[2016-07-15 11:12] hvpareja commented on #24679
Hi @upccup;

First of all, I'd say the title of your issue is wrong. Service discovery works in your case as you're getting the container ip address via the docker embed DNS server. The problem should be elsewhere, but there is definitely a problem.

I have to say I have been experiencing the same error. But also with the same service. Service discovery works for me for other services (php-fpm, ng

[2016-07-15 11:18] activatedgeek commented on #4737
@newhook I haven't really made any changes to the default `before.rules`, just enabled iptables (`--iptables=true`) and added your rules. Which would mean the default DOCKER chain with its entries plus default UFW chain entries. The only change being I added your rules to the top of `before.rules` in the `*filter` section.

[2016-07-15 11:22] sascha-andres opened #24680 "Working directory appended before path"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Physical Windows 10

**Steps to reproduce the issue:**
I created an image on linux where I mount a folder to the /configs folder. I created a shell script on linux that basically does this"

[code]

Running on linux this works. On Windows I am using

[2016-07-15 11:42] Tset-Noitamotua opened #24681 "Issue with dockerized Neovim in ConEmu"
Tryed to use [Dockerized Neovim](https://hub.docker.com/r/fxdgear/alpine-neovim/) from within [ConEmu](http://conemu.github.io/) (console emulator on Windows) and had a bad experience with it. Check issue details below and see one possible solution in next comment.

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, phy

[2016-07-15 11:47] justincormack commented on #24675
See also https://github.com/docker/vpnkit/issues/79

[2016-07-15 11:50] Tset-Noitamotua commented on #24681
One possible solution is (as by chance found in #13817 - dont know if they are related) is to run with

 `-e TERM`, e.g.:

[code]
Result:
![image](https://cloud.githubusercontent.com/assets/5635462/16873368/0ada4f4c-4a93-11e6-959d-93c1cd63e547.png)

[2016-07-15 11:53] justincormack commented on #24658
@londoncalling the date does appear to be wrong on that page...

[2016-07-15 12:22] emilevauge commented on #24067
Hi @cpuguy83, @tiborvass, I think a lot of people will still have the need of container based labels in addition to services labels.
For example, on Traefik, we are using container labels to assign different weights on containers from a service for weighted round robin load-balancing.
I hope Docker 1.12 swarm mode will not break these possibilities :'(

[2016-07-15 12:26] newhook commented on #4737
To help further:

- Paste the output of iptables-save
- What do you want to occur? (ie: contact port 80 in container XYZ) from host ABC (or all hosts).
- What occurs?

[2016-07-15 12:30] jhorwit2 commented on #24644
Sounds good @stevvooe

[2016-07-15 12:30] #24644 closed

[2016-07-15 12:36] thaJeztah commented on #24067
@emilevauge containers launched through `docker run` will still work as usual, but *service containers* currently don't receive labels (yet?).

[2016-07-15 12:37] hmeerlo commented on #13914
Ok, same problem here on Ubuntu 14.04. No leftover iptables rules. Works fine on another machine with docker 0.10.3.
I must note that I have 2 network interfaces and I explicitly map the port to one of the interfaces (eth1). I can telnet locally to the bound port on eth1 (443), but when external traffic comes in on eth1 port 443 it goes down the drain.

ubuntu@ip-172-31-0-235:~$ docker -v
Docker v

[2016-07-15 12:43] sascha-andres commented on #24680
Just more information. I have Shared my C drive in settings. And I have tried to run the provided sample:
[code]
The output of this command is:
[code]

[2016-07-15 12:48] thaJeztah commented on #24680
That's a known issue ("feature") of mingw. mingw is trying to be smart. See https://github.com/docker/docker/issues/13741#issuecomment-128893740, and http://www.mingw.org/wiki/Posix_path_conversion

you can try using `-config //configs/dev.yml` (double slash)

[2016-07-15 12:51] thaJeztah commented on #24680
Anyway, this is not a bug in docker, and not something we can change, so I'll close this issue, but feel free to comment after I closed

[2016-07-15 12:51] #24680 closed

[2016-07-15 12:52] thaJeztah commented on #23792
Looks like this is resolved, so I'll go ahead and close this, but feel free to comment after I closed

[2016-07-15 12:52] #23792 closed

[2016-07-15 12:55] jhorwit2 commented on #24022
@talex5 quick search shows only [exec](https://github.com/docker/docker/blob/master/daemon/exec.go#L56) does but it's just for an error message. Doubt it's any concern.

I'll start working on the PR for multiple columns. 👍

[2016-07-15 13:11] patrick-mota commented on #22981
Instead of
 docker run -v c:/Users:/data alpine ls /data

You can use
/c/Users:/data alpine ls /data

Details:
PS C:\Windows\system32> docker run -v /c/Users:/data alpine ls /data
Unable to find image 'alpine:latest' locally
latest: Pulling from library/alpine
e110a4a17941: Pull complete
Digest: sha256:3dcdb92d7432d56604d4545cbd324b14e647b313626d99b889d0626de158f73a
Status: Downloaded newer image

[2016-07-15 13:13] patrick-mota commented on #23992
Instead of
docker run -v c:/Users:/data alpine ls /data

You can use
/c/Users:/data alpine ls /data

Details:
PS C:\Windows\system32> docker run -v /c/Users:/data alpine ls /data
Unable to find image 'alpine:latest' locally
latest: Pulling from library/alpine
e110a4a17941: Pull complete
Digest: sha256:3dcdb92d7432d56604d4545cbd324b14e647b313626d99b889d0626de158f73a
Status: Downloaded newer image f

[2016-07-15 13:17] patrick-mota commented on #23992
Seems I speaked too fast... it works only for folders, the files aren't mounted.

[2016-07-15 13:33] ignatov opened #24683 "Can't build github.com/docker/docker/cmd/docker"
[code]

Golang 1.6.2.

[2016-07-15 13:46] shengying commented on #24661
Hi, thanks for the comment.
I tried this way:
[code]
The output:
[code]
I wonder how to run a container both with "no-new-privilege" and "seccomp".

[2016-07-15 13:50] duglin opened #24684 "Inconsistent networking issues with swarm in docker"
Using this script:
[code]

And running it with `SKIP=1 ./demo` or just `./demo` (and hitting a key after each prompt), this should create 3 containers running a ubuntu based DinD. Those 3 DinDs are then connected up in a swarm cluster. It then creates a service (mini) in that cluster which is just an httpd server that spits out some information about the interfaces in the container.

When it works

[2016-07-15 13:52] docbill commented on #332
It is important to distinguish what is needed per this request, and what is
desired.   What is desired is to refactor docker images into a git or git
like repository view, so all the cool features one does with git would be
possible in docker.   For example, I have docker image for plex.   It is
basically a fedora base, with a download of the plex build onto.   I have
the container set to autobuil

[2016-07-15 13:52] justincormack commented on #24661
Hi you need to do `docker run --security-opt no-new-privileges --security-opt seccomp:hello.json hello-world`

[2016-07-15 13:57] nbars commented on #24608
I solved the issue by running `rm -rf /var/lib/docker ` and purging and reinstalling docker.
The removing process took several minutes, so it looks like docker created a huge amount of files.

[2016-07-15 13:59] cpuguy83 commented on #24608
@nbars Closing this issue then. If you run into the problem again please feel free to comment and please provide the output from the daemon.
Thanks!

[2016-07-15 14:13] mohanrao opened #24685 "Error : bridge is a pre-defined network and cannot be removed"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. docker network rm bride
2.
3.

**Describe the results you received:**
Error response from daemon: bridge is a pre-defined network and cannot be removed

**Describe the results you expected:**

I need an ability to

[2016-07-15 14:14] marcelomgarcia commented on #23931
I got a HTTP proxy from the university. From my part this ticket can be closed. I'm also working openstack and pip (python) doesn't support socks.  So a proper HTTP proxy is important. Thanks for your help.

[2016-07-15 14:24] mavenugo commented on #24684
@duglin thanks for the detailed bug report. I will look into this today and analyze the issue. But in general, we have an issue with dind as spotted by @tonistiigi with shared `/var/run/docker/netns`. I am not sure if it is impacting your case or not.

BTW, This is a basic scenario and I will be surprised if it is seen outside of the dind setup you have. Could you reproduce this issue in a non-din

[2016-07-15 14:25] arun-gupta opened #24686 "Worker node cannot join the cluster on Amazon instances"
Started two Ubuntu AMIs
Configured security groups: TCP: 2377, TCP/UDP: 7946 and 4789
Installed Docker 1.12 RC4 on them using `curl -fsSL https://experimental.docker.com/ | sh`.
Start manager on one node: `docker swarm init`
Trying to add second node as worker using: `docker swarm join --secret btrmzhajgdlagc6dzbgiybhrd  --ca-hash sha256:5c6a67d023c9b1fc2d197401af8b7ea88e29de7e32b9a8f4726748b365f9

[2016-07-15 14:27] jhorwit2 commented on #24022
@talex5 (or @thaJeztah) - what's the best way to tackle a change in engine-api that's required in this repo? I need to add another field `Health string` to `types.Container` so I can get the health status for `ps`. Open that PR -> reference this ticket -> update vendor in my PR for this repo?

[2016-07-15 14:40] mavenugo commented on #24686
@arun-gupta can you try with `docker swarm init --listen-addr <ip:2377>` and confirm if that works ?

[2016-07-15 14:41] tianon commented on #24396
I did indeed; see https://github.com/docker-library/healthcheck and https://hub.docker.com/u/healthcheck/

For almost all the official images, we've developed them such that they aren't listening for remote connections until the initialization is completed, which we were able to leverage in the healthcheck scripts, but writing them in a generic way is difficult given that users of them may or may

[2016-07-15 14:43] aboch commented on #24685
The daemon start log tells how to:
[code]

[2016-07-15 14:44] RowanKaag commented on #24675
Thankyou! I have some more logs underneath this post if this might come in handy.

[code]

[2016-07-15 14:56] yevgeniyr opened #24687 "ear"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

[2016-07-15 14:56] #24687 closed

[2016-07-15 15:01] thaJeztah opened #24688 "docker rmi "image@digest" should not "untag" digests"
(relates to https://github.com/docker/docker/pull/23996, https://github.com/docker/docker/pull/23649)

While working with 1.12-rc4, I noticed some UX inconsistencies;

Pulling an image looks good (much improved);

[code]

Looking good:

[code]

However, when trying to remove an image, using the digest;

[code]

It's only removing the *digest*. This is confusing:

[code]

**I don't see any practica

[2016-07-15 15:02] thaJeztah commented on #24688
ping @dmcgowan @stevvooe @dnephin

I added this to the 1.12 milestone, as this was improved in 1.12

[2016-07-15 15:06] MichalTaratuta opened #24689 "docker daemon getting stuck"
I'm using docker 1.12.0-rc4 and I have noticed that it's getting stuck randomly.

 I’m running in a swarm os 3 and the docker daemon sometimes becoming unresponsive. After restarting docker and running docker info on the affected hosts I found very large count of stopped containers I.e. 200+ (snippet at the bottom of the page)

The number of running containers and CPU usage if from the DataDog plu

[2016-07-15 15:08] crosbymichael commented on #23981
@ksylvan on the host

[2016-07-15 15:11] thaJeztah commented on #24022
@jhorwit2 you can open a PR in this repository, temporarily including the changes to the vendored code. That will make the "vendor" CI go read, but that's fine during design review. Once we're ok with design, and move to code-review, you can open a PR against the engine-api repository, and once merged, do a "vendor" update as part of your PR here.

We know it's a bit more complicated, and are curr

[2016-07-15 15:16] jhorwit2 commented on #24022
Sounds good! thanks @thaJeztah

[2016-07-15 15:16] arun-gupta commented on #24686
@mavenugo Started master as `docker swarm init --listen-addr ec2-54-215-222-196.us-west-1.compute.amazonaws.com:2377`

On worker: `docker swarm join --secret 9rus4dnp66s83ymixuifzvjx9 --ca-hash sha256:a7a6efb264603af82cacfc726553ce7f0af0c4d21b2ae720ba455ef1082a5d2a ec2-54-215-222-196.us-west-1.compute.amazonaws.com:2377`

Got the error:

[code]

[2016-07-15 15:17] dnephin commented on #24688
I think this is correct. The digest is working the same way as a tag.

[2016-07-15 15:41] justincormack commented on #24685
you can change the ip with `docker daemon --bip 10.1.0.0/16` or similar to change the bridge ip address.

[2016-07-15 15:42] #22124 closed

[2016-07-15 15:44] #24674 closed

[2016-07-15 15:44] thaJeztah commented on #24688
I think the difference is that I cannot "re-tag" an image with a different digest (unless the content changes), so from a user perspective, its an immutable identifier. Removing that identifier feels kinda "weird", and I'm not sure why we would do that.

[2016-07-15 15:45] ksylvan commented on #23981
@crosbymichael the build chugs along for a while, and then I get this:

    ---> Making bundle: build-rpm (in bundles/1.12.0-dev/build-rpm)
    INFO: Waiting for daemon to start...
    +++ exec dockerd --debug --host unix:///go/src/github.com/docker/docker/bundles/1.12.0-dev/build-rpm/docker.sock --storage-driver devicemapper --pidfile bundles/1.12.0-dev/build-rpm/docker.pid --userland-proxy=true

[2016-07-15 15:49] crosbymichael commented on #23981
@ksylvan did you oom your machine?  you probably need 2GB to build packages and everything

[2016-07-15 15:53] ksylvan commented on #23981
@crosbymichael I have 32GB of ram, so no, I don't think it's an out of memory problem.

[2016-07-15 15:54] marcosnils commented on #24686
@arun-gupta close?

[2016-07-15 15:56] duglin commented on #24684
@mavenugo I haven't had a chance yet to spin up a set of VMs to test it w/o DinD but will try to do so today.

In the meantime, another interesting data point is that in an environment where it fails people are able to do: `docker exec -ti manager curl -v 172.19.0.3` and get the correct results.  It appears that 172.19.0.3 maps to a container with the name `mini.1.czwi2swa0yd0aljhb9b2vn9r6` which

[2016-07-15 15:58] lennartjuette commented on #24604
Everything is running fine since i enabled debug mode. Great... :-/

I created another container that only runs my namebench testscript periodically to reproduce the problem. It's using the same base image as my MTA container. There has been just one single occurrence of long DNS query times since i enabled debug mode.

FYI: When i did manual tests with dig before, while the problem was hitting my

[2016-07-15 16:01] dnephin commented on #24688
You can always re-pull to get the digest again.

This behaviour hasn't changed since 1.11:

[code]

[2016-07-15 16:05] MHBauer commented on #24688
I agree that it's probably working as designed, but I would think that the digest is more part of the image, rather than a tag that can be removed.

I don't really want to see some special case in the code, but I am not sure what the right answer is.

The behavior is surprising in my opinion.

[2016-07-15 16:11] avsm commented on #24675
Thanks, I can confirm some breakage (possibly not vpnkit related) on 10.12, but still tracking it down. /cc @djs55

[2016-07-15 16:27] avsm commented on #24675
Looks like it's the Go proxy from the Docker CLI -> vsock layer

[code]

works but the direct
[code]

fails.  So at least vsock is working fine and we're down to one daemon now.  But nothing is killing slirp yet, so not sure why the proxy works for some users and not others (possibly the beta version of OSX that we are on)

[2016-07-15 16:30] espritengineer commented on #24673
After debugging I found that when running the container without mounting a host volume ( i.e without -v /acme/docker/volumes/integrit/:/acme/ ) the sub-folders are created.

I think that creating sub-folders does not apply when mounting a host directory. The only workaround I found is that I created the directory and their sub-directories inside the host and then mount it with a container volume.

[2016-07-15 16:31] anosulchik commented on #24446
Guys, any news on this? Thanks.

[2016-07-15 16:40] Kazanz commented on #22753
I had similiar issues and found 172.* ips would not let me connect to a local mysql instance binded to 0.0.0.0.

I could connect to it with any routable IP address from my host machine. `ifconfig` and find one of yours.

Now how do I get this dynamically into the container?

[2016-07-15 16:41] justyntemme commented on #6809
Opened PR to fix the issue, if I put the command in the wrong place in the script please let me know and i Iwill fix asap.

[2016-07-15 17:20] dmcgowan commented on #24688
I think this is a reasonable expectation. We are trying to have the behavior of the digest be similar to image id, which up until this release has not been at all. Considering this is not a regression I would not give it a high priority, but I will work on a patch for it.

[2016-07-15 17:23] mohanrao commented on #24685
@aboch @justincormack can you please point out some documentation how to do it ? Like some configuration file automatically reads it from and etc..

[2016-07-15 17:26] mavenugo commented on #24637
@chanwit now I understand the use-case better. When a service does port-mapping using `-p`, it is automatically added to `ingress` network & hence all the containers that back that service is placed in the `ingress` network. This is in addition to any other network that you have defined.

So in your case, if you have `master` and `worker` services have port-mapping and added to `spark` network, th

[2016-07-15 17:29] mavenugo commented on #24686
@arun-gupta I think `ec2-54-215-222-196.us-west-1.compute.amazonaws.com` resolves to the public IP and this will not work currently (unless `--advertise-addr` is supported).

Hence please use the private IP for both `--listen-addr` and join.

[2016-07-15 17:32] aaronlehmann commented on #24078
It looks like GRPC will swallow the error even with a blocking `Dial`. This code from `resetTransport` prints the error to the log and then `continue`s instead of returning the error. So I don't see how to surface the error.

[code]

[2016-07-15 17:36] tiborvass commented on #24396
@tianon does this mean you agree with Andrea that there can only be two states?

If so, do you think it's reasonable to make remove a state and only have exit code `0` and `1` for now and that way if we were to revisit we could still add an exit code `2` in the future?

[2016-07-15 17:45] mohanrao commented on #24685
@aboch @justincormack

After i add daemon.json and restart my docker service it is failing  with the following error

Jul 15 12:41:10 my-host docker[29142]: time="2016-07-15T12:41:10.560063100-05:00" level=warning msg="devmapper: Base device already exists and has filesystem xfs on it. User spe... be ignored."
Jul 15 12:41:10 my-host docker[29142]: time="2016-07-15T12:41:10.582817402-05:00" level=

[2016-07-15 17:48] londoncalling commented on #24658
Ok Justin, sorry I'll change it and re-push the docs. If you see anything
else let me know and I'll get the changes in.

On Friday, July 15, 2016, Justin Cormack <notifications@github.com> wrote:

[2016-07-15 17:53] Dieterbe opened #24693 "bug: comment on preceding line in Dockerfile causes subsequent run comments to be ignored"
maybe a the same as #20273, though the issue there doesn't seem as severe.

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

The problem is, with the below dockerfile - as the run output below that shows - the line with `RUN go get github.com/tsenart/vegeta` gets parsed as if its part of the previous command, and gets prepended with `#`, so the command is not run.

wh

[2016-07-15 17:55] tiborvass commented on #24456
@charliekump-wf might just be a typo but `docker service create --registry-auth -e --name image:tag` seems wrong there's a dangling `-e` without a value, or more precisely `--name` is the environment variable anyway it's probably unrelated.

[2016-07-15 18:02] nathanleclaire commented on #24078
Do you all `SetLogger` with the GRPC log?  (https://godoc.org/google.golang.org/grpc/grpclog#SetLogger)   You could probably set it to a custom struct which embeds the default GRPC logger but has small wrapper methods to surface errors like this to the Docker log (or CLI).

[2016-07-15 18:04] aboch commented on #24685
@mohanrao
https://docs.docker.com/v1.10/engine/userguide/networking/default_network/custom-docker0/

As @justincormack explained, start the daemon with the `--bip` option and pass a full CIDR (it must contain a valid address for the bridge interface) something like `--ip=192.168.0.1/16`

[2016-07-15 18:08] aaronlehmann commented on #24078
@nathanleclaire: I'm not sure that will work because it has global scope and I want to surface the error from a specific connection attempt and return it to a specific Docker client that requested the connection.

[2016-07-15 18:09] tonistiigi commented on #22124
This was closed because the original issue is fixed in master.

I can't see a deadlock in the trace from @rade , issue from @bukzor  was fixed in #22732 in `v1.11.2`.

If you encounter deadlocks or strange unresponsiveness please send `SIGUSR1` signal to daemon process and create a new issue with the stacktrace that you can find from the logs.

[2016-07-15 18:14] parag4code commented on #15777
Thanks man!

[2016-07-15 18:16] bkil-sandbox commented on #19647
I'm seeing the same problem:

https://cloud.docker.com/_/repository/docker/bkil/openwrt-image-generator/timeline
'master' (8935cf62)

[2016-07-15 18:18] arun-gupta commented on #24686
the two nodes are on the same VPC and this allows the private IP address to communicate.

[2016-07-15 18:18] #24686 closed

[2016-07-15 18:23] charliekump-wf commented on #24456
@tiborvass Apparently I have to escape <string> in the summaries... updated. It should read:

docker service create --registry-auth -e <env_file> --name <service> image:tag

[2016-07-15 18:25] mavenugo commented on #24684
@duglin `docker network inspect` unfortunately displays ONLY those containers that are local to that node. The user must manually execute `docker network inspect` on all the nodes to get the list of all the containers that backs the service.

[2016-07-15 18:25] mlaventure opened #24695 "Cannot install docker on debian-stretch"
Trying to install via `curl -sSL https://get.docker.com | sh` yield the following error:
[code]

It seems to be related to the `apparmor` package, any other package I've tried so far has been able to install without issue.

Changing mirror did not mitigate the issue.

I'm tempting to say this is a bug with debian main repos, but thought I'll ping @jfrazelle and @tianon here first :angel:

[2016-07-15 18:28] jfrazelle commented on #24695
Hmm I want to say maybe that package in stretch is broken but will try some
digging

On Friday, July 15, 2016, Kenfe-Mickaël Laventure <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2016-07-15 18:29] lazyuser commented on #7198
+1

[2016-07-15 18:30] cyphar commented on #24559
Yeah, all of the versions of runC that I can recall will hard fail if you ask them to set up a cgroup and then it can't set it up. It might've been some weirdness happening with `libcontainer` one year ago that we've since fixed (@brauner can you check that 1.10.3 doesn't have this problem as well -- since we're still shipping that at the moment).

[2016-07-15 18:31] tonistiigi commented on #24456
@charliekump-wf Can you post the full daemon logs and the specific image name. I wonder if the image name gets corrupted for some reason and request to pull goes to a wrong address. If you can, please post registry logs also. If you can reproduce this with v2 registry and without authorization, then this would be simplest for us to debug.

[2016-07-15 18:31] nathanleclaire commented on #24078
@aaronlehmann  I know it may seem a bit weird, but you could iterate over the passed `...interface{}` to `Printf` and store it if it's an `error`, then ask your custom logger what the most recent error was (if on this branch of code and such an error seems suspect) to surface it.  Other alternative seems to be to submit a contribution to GRPC to surface this error somehow, but since it's nested in

[2016-07-15 18:36] aaronlehmann commented on #24688
One thing to keep in mind is that an image may have multiple digests associated with it. It would be very surprising if untagging one of two digests removed a tag and deleted the image. Given that removing one of two digests probably shouldn't remove the image, I'm not sure we should introduce another special case where removing the single digest will remove the tag and delete the image.

I think

[2016-07-15 18:39] aaronlehmann commented on #24078
This thought occurred to me, but this seems too hacky and racy. I wouldn't want to do something like this unless I could get some assurance that I'm not returning the wrong error.

So far this seems like the most reasonable approach, but it would take some time.

[2016-07-15 18:44] jhorwit2 opened #24696 "calling docker ps with size in format is confusing"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

docker development shell

**Steps to reproduce the issue:**
1. `docker run -d tutum/hello-world`
2. `docker ps --format "table {{.Image}}\t{{.Size}}"`

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

**

[2016-07-15 18:47] nathanleclaire commented on #23931
All, please try 1.12.0 to see if this works.

I have this working locally just fine with `ALL_PROXY`.  Take a look at the instructions [here](https://github.com/docker/docker/pull/18373#issue-120027639), that Docker Machine example should work fine.

`docker -H socks5h://localhost:port ps` is not the correct format.  `ALL_PROXY=socks5h://localhost:port docker ps` is.  You do not want to attempt to

[2016-07-15 18:51] julianonunes opened #24697 "Docker run works behind proxy, and Docker build does not"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Windows 10 Pro - Hyper-V
Dell Latitude 3540

**Steps to reproduce the issue:**
1. docker run -it ruby bash
2. Configure http_proxy and https_proxy env variables
3. execute apt-get update (it should run fine)

part that don't work
4. create a Dockerfi

[2016-07-15 18:52] charliekump-wf commented on #24456
I'm seeing different information in the log with rc4. So I'll get all that info for you as soon as I can.

[2016-07-15 19:01] nathanleclaire commented on #24078
Yeah I hear you. Tough situation.  I wonder if some sort of "timestamp handshake" might be worth the trouble (there's an initial `Dial` and handshake that's not encrypted, right?  you could potentially do a basic sanity check then).

[2016-07-15 19:03] mohanrao commented on #24685
seems the error happened for 10.1 range. Its resolved thank you @aboch and @justincormack

[2016-07-15 19:03] #24685 closed

[2016-07-15 19:17] stevvooe commented on #24688
What is going on here? Why are we "untagging" digests?

This is not even close to working as designed.

[2016-07-15 19:19] cpuguy83 commented on #24658
Thanks for reporting!
Going to close this for house-keeping purposes.

[2016-07-15 19:19] #24658 closed

[2016-07-15 19:23] cpuguy83 commented on #24696
This was already fixed for 1.12
Curious when your 1.12 was built.

[code]

Seems like you've hit another bug in the processing.

[2016-07-15 19:25] cpuguy83 commented on #24697
@julianonunes You need to set `docker build --build-arg HTTP_PROXY=foo`

[2016-07-15 19:26] aaronlehmann commented on #24078
Relevant grpc-go issue is https://github.com/grpc/grpc-go/issues/622.

[2016-07-15 19:27] jhorwit2 commented on #24696
Perhaps my dev env is behind. I thought I pulled upstream this morning. I'll try again @cpuguy83

[2016-07-15 19:27] cpuguy83 commented on #24679
How did you init/join the cluster? Did you specify a `--listen-addr`?

[2016-07-15 19:28] cpuguy83 commented on #24696
@jhorwit2 Oh no, I can repro by using 2 fields like you did.

[2016-07-15 19:30] julianonunes commented on #24697
I've tried `docker build --build-arg HTTP_PROXY=http://127.0.0.1:7777` and `docker build --build-arg HTTP_PROXY=http://10.0.75.1:7777`.

[2016-07-15 19:33] jhorwit2 commented on #24696
oh :). nvm then.

[2016-07-15 19:49] jhorwit2 commented on #24696
Yea, I just tried on latest master (pulled a few mins ago) & rc4. Both have the same issue where it works with 1 but not 2

[2016-07-15 19:53] tiborvass commented on #23709
For the record, this UX is conflicting with #24134 which is the real issue. The most frequently encountered usecase is publishing the same port twice by human error, and we should error out instead of scheduling the new service once the old one is removed.

[2016-07-15 19:58] dnephin commented on #24601
I'll get the other two

[2016-07-15 20:01] RowanKaag commented on #24675
Nevermind my post, most likely the cause of a factory reset. I did not restart my mac afterwards. Restarted mac now and everything seems to function as expected on beta 2.

[2016-07-15 20:02] dnephin commented on #24601
Right, I think we should probably still display it?

[2016-07-15 20:12] estehnet commented on #22185
today we downgraded to 1.10.3 due to this issue
is there any reason for imposing limit on number of simultaneous outgoing DNS requests?

[2016-07-15 20:19] dnephin commented on #24551
The different between these two flags is that one is a `*time.Duration` and the other is a `time.Duration`. We use  `time.Duration` if `0` is an ok default value, and `*time.Duration` if we need to differentiate between default and unset.

We can get the help text to say something other than `value` by using a backtick quoted string in the usage string for the flag (ex:
[code]
, but I don't think

[2016-07-15 20:23] jhorwit2 commented on #24696
@cpuguy83 I'll take a look into this. It seems the issue is in the cli prior to calling the daemon.

When you do `-- format {{.Size}}` you get the correct call `Calling GET /v1.25/containers/json?size=1` but when you do more than that `size=1` goes away.

[2016-07-15 20:34] aaronlehmann commented on #24551
Can't we use `flags.Changed` to differentiate between set and unset? I'm also a little confused about why these flags are handled differently. Shouldn't they both be treated as persistent values stored onto the service spec?

[2016-07-15 20:44] dnephin commented on #24551
I think they just follow the engine-api types. I don't know why the engine-api types aren't consistent here. Most seem to be `*time.Duration`.

[2016-07-15 20:45] tianon commented on #24396
Yeah, that sounds sane IMO.

[2016-07-15 20:47] aaronlehmann commented on #24551
ping @vieux

[2016-07-15 20:56] crosbymichael commented on #23981
I rebased and rebuilt the RPM with the upsteam selinux changes and its still giving the same errors.

[code]

[2016-07-15 21:02] mlaventure commented on #24695
@tianon `apt-get update &&  apt-get install apparmor` in a container allows me to reproduce the issue

[2016-07-15 21:06] tianon commented on #24695
Seems to work OK from here: :disappointed: :cry:

[code]

[2016-07-15 21:07] tianon commented on #24695
Any kind of transparent proxies or firewalling going on at your location that might interfere or serve stale cache?

[2016-07-15 21:13] rhatdan commented on #23981
These are kernel issues and will be fixed in 4.8 I believe.  Basically you can ignore it for now.  Nothing is actually being blocked, as I understand it.

[2016-07-15 21:15] gcorrao commented on #13475
Just to help others, I had this exact issue and also solved it by changing the docker daemon MTU configuration

[2016-07-15 21:15] crosbymichael commented on #23981
@rhatdan what is the best way to ignore them? as they are preventing docker from starting and binding on the unix socket?   Is there a more robust rule we can add in the time being than the one suggested by sealert?

[2016-07-15 21:19] sols1 commented on #22882
When #https://github.com/docker/libnetwork/pull/1174 will be in docker?

[2016-07-15 21:21] thaJeztah commented on #24697
would this require configuring the proxy in the Docker for Windows preferences? https://docs.docker.com/docker-for-windows/#/proxies

[2016-07-15 21:22] stevvooe commented on #24396
What? No.

Classic method: connect to database and issue a query.

Postgres has [`pg_is_in_recovery`](https://www.postgresql.org/docs/9.0/static/functions-admin.html). A health check script could startup and poll that and block until that returns `false`.

After very little googling: https://docs.mongodb.com/manual/tutorial/recover-data-following-unexpected-shutdown/. How is this done? Have entryp

[2016-07-15 21:23] thaJeztah commented on #24696
@jhorwit2 this would be a good starting point to check; https://github.com/docker/docker/pull/23247 perhaps I messed something up there :smile:

[2016-07-15 21:25] fredhsu commented on #21735
@KalleDK Just to sanity check, are you using any 802.1q tags between eth1 on your host and your switch?  Also, I'm assuming 172.20.20.1 is a switch/router upstream of your server and not on the host itself?

[2016-07-15 21:26] rhatdan commented on #23981
Actually this looks like something that is blocked.  Are you guys building the docker-selinux package from master?

[2016-07-15 21:26] rhatdan commented on #23981
docker-selinux master I mean?  This is on Fedora 24?

[2016-07-15 21:29] crosbymichael commented on #23981
@rhatdan ya, i just build the rpm with the current commit on master for the selinux package and it is on a freash f24 box.

[2016-07-15 21:31] jhorwit2 commented on #24696
@thaJeztah I got a fix :).

[code]

Adding the attributes from the Container struct returned from the daemon fixes it and as those should be the only possible values you will be making formats with it should be fine in the future.

The issue is that go's template lib errors once you find a value not in your struct when you call `.Execute`. This is fine when `{{.Status}}` is first, but fails when a

[2016-07-15 21:31] thaJeztah commented on #22882
@sols1 looks like it was vendored in https://github.com/docker/docker/commit/44793049ce1ad364720b4be915a92291d1f808c2, which will be in 1.12

[2016-07-15 21:32] thaJeztah commented on #24696
@jhorwit2 :heart: thanks! Looking forward to your PR

[2016-07-15 21:36] crosbymichael commented on #24612
@sweekarp how did you install docker on your system?

[2016-07-15 21:37] rhatdan commented on #23981
Ok.  I have that installed on Rawhide, but I am not sure we are using this on F24 yet.  This issue has something to do with seccomp changes, and I am not sure if we have the right packages available on F24 to handle it yet.  I am checking with @lsm5 what version of docker-selinux is installed on F24 at this time.

[2016-07-15 21:37] sols1 commented on #22882
When is 1.12 supposed to happen?

[2016-07-15 21:38] crosbymichael commented on #23981
[code]

[2016-07-15 21:40] aluzzardi commented on #24396
You can't just not return because you're initializing.

After a while you'll get timeout killed by the engine

[2016-07-15 21:40] aluzzardi commented on #24396
Unless we have health checks for the health checks, but see where this would lead us?

[2016-07-15 21:41] thaJeztah commented on #22882
if all goes well, in roughly two weeks, but release candidates are available for testing; https://github.com/docker/docker/releases

[2016-07-15 21:46] thaJeztah commented on #24396
@stevvooe would we loose much *now* if we decide to skip the "starting" stage for 1.12, and look into possibilities for 1.13, as @tiborvass suggested? (https://github.com/docker/docker/issues/24396#issuecomment-233017131). Given the amount of discussion, I think it's safe to say it needs more investigation (insert "no is temporary.." here).

I think dropping it now is the safe option, and it will

[2016-07-15 21:46] rhatdan commented on #23981
Looks like this is an issue with libsepol that is shipped in f24

If I compare the libsepol that is in Rawhide Versus F24 I see these versions.

[code]

Looking at the changelog of the rawhide version I see.

[code]

These changes to the bounds checking would fix the issues you are seeing I believe.

https://bugzilla.redhat.com/show_bug.cgi?id=1357154

[2016-07-15 21:47] crosbymichael commented on #23981
@rhatdan thanks for the help, i'll track that bugzilla

[2016-07-15 22:00] mlaventure commented on #24695
@tianon figure it out, my debian:stretch images was out of date on my host :sweat_smile:

[2016-07-15 22:00] #24695 closed

[2016-07-15 22:02] thaJeztah commented on #23931
Closing this issue

@nathanleclaire think we should have more details / docs for using this?

[2016-07-15 22:02] #23931 closed

[2016-07-15 22:07] frekele commented on #18420
Docker 1.11.2 with AMI Debian 8 HVM.

[code]

[2016-07-15 22:08] nathanleclaire commented on #23931
A doc would definitely be good ... It is a bit confusing

[2016-07-15 22:12] ksylvan commented on #23981
Awesome! Looks like we have a fix coming soon. Thanks, @crosbymichael and @rhatdan

[2016-07-15 22:13] sweekarp commented on #24612
@crosbymichael using an rpm that was created with 'make rpm'

[2016-07-15 22:24] tiborvass commented on #24396
I'm removing exit code 2.

[2016-07-15 22:28] tianon commented on #24695
Odd that an out-of-date image could wreak such havoc, but glad the solution was simple! :smile:

[2016-07-15 22:29] crosbymichael commented on #24612
ok

[2016-07-15 22:33] frekele commented on #18420
Worked now with the comment tip: https://github.com/docker/docker/issues/396#issuecomment-179470044

before:
[code]
GRUB_CMDLINE_LINUX_DEFAULT="init=/bin/systemd console=hvc0 console=ttyS0 cgroup_enable=memory swapaccount=1"
[code]
#update-grub
Generating grub configuration file ...
Found linux image: /boot/vmlinuz-3.16.0-4-amd64
Found initrd image: /boot/initrd.img-3.16.0-4-amd64
done
[code]
CONT

[2016-07-15 22:40] tiborvass commented on #23812
I'm tempted to say this is a duplicate of #24134

[2016-07-15 22:43] dmcgowan commented on #24688
@stevvooe "untagging" is misleading. We currently do treat digests as references which can be removed as references. As part of this change we should discuss what the behavior should be as Aaron mentioned. Unlike image ids, images can have multiple manifest digests. However we can always just treat them as image ids and remove in mass, the confusion comes if the "intended use" is to remove a diges

[2016-07-15 22:46] julianonunes commented on #24697
It was set on Docker for Windows preferences too. Actually I tried with and without it.

[2016-07-15 22:48] thaJeztah commented on #23931
@nathanleclaire oh, can you open an issue for that?

[2016-07-15 22:50] thaJeztah commented on #24697
Alright, was worth a try :smile:

[2016-07-15 23:00] stevvooe commented on #24396
@aluzzardi What? That is whole point.

What makes you think a health check can't block for awhile? That is what starting up is, effectively. There is a configurable timeout to bound this.

[2016-07-15 23:02] #24601 closed

[2016-07-15 23:04] thaJeztah commented on #24688
I think @dmcgowan's proposed behavior looks right. One thing I'm a bit confused by is "multiple digests"; can you give an example when a single image has multiple digests (and how?), and what that would look like from a user perspective?

[2016-07-15 23:12] dmcgowan commented on #24688
Multiple digests can occur when pulling an image from multiple repositories which had layers with different digests. A different layer digest can occur anytime a layer ends up getting pushed, rather than mounted via cross repository mounted or skipped because it already exists. The formation of the tar should now be stable but we cannot guarantee the gzip algorithm will produce the exact same arti

[2016-07-15 23:44] vnpavanelli opened #24704 "Cant start dockerd on gentoo with zfs (error initializing graphdriver: no such file or directory)"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
I'm running Gentoo with root on ZFS, on a physical machine, my uname -a is:
[code]

Installed with emerge -av docker, tried too using "curl -sSL https://get.docker.com" without success.

I'm using OpenRC, so "/etc/init.d/docker start" didnt start the

[2016-07-15 23:48] tianon commented on #24405
IIRC, we're not doing anything abnormal here -- just letting `debhelper` insert the necessary bits for `postinst` (https://github.com/docker/docker/blob/8a0acaa5126ff0afd4588ffa76dd31e325ac359c/hack/make/.build-deb/docker-engine.postinst#L20 and https://github.com/docker/docker/blob/8a0acaa5126ff0afd4588ffa76dd31e325ac359c/hack/make/.build-deb/rules#L36)

[2016-07-15 23:54] vieux commented on #24551
@dnephin do you think we shoud use `*time.Duration` for `UpdateConfig.Delay` in `engine-api` ?

[2016-07-15 23:54] tianon commented on #24478
Whoa, this is a really bizarre one -- any more details in the Docker service logs? (either in `/var/log/docker.log` or `journalctl -u docker.service`, depending on whether your system uses systemd)

Docker should automatically determine that `aufs` is not available and fall back to `overlay` without any interaction. :disappointed:

[2016-07-16 00:02] thaJeztah commented on #24478
@tianon I think this may be after a kernel update (people reporting this upgraded the default (4.2?) kernel to 4.6. Possibly the linux-image-extra package for 4.2 was still there, making the detection (during installation) go crazy.

^^ just some thoughts, perhaps it doesn't make sense at all :joy:

[2016-07-16 00:07] #24261 closed

[2016-07-16 00:10] thaJeztah commented on #24688
Thanks for explaining! Wouldn't the image id be different in that case as well?

[2016-07-16 00:32] gianlucaborello opened #24706 "A successfully removed container occasionally prevents a container with the same name from starting"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

The host is on AWS, RHEL 7, AMI `RHEL-7.2_HVM_GA-20151112-x86_64-1-Hourly2-GP2 (ami-2051294a)`

**Steps to reproduce the issue:**

We have 3 containers, `replicated`, `replicated-ui`, `replicated-operator`. The containers are started via standard sys

[2016-07-16 00:51] aaronlehmann commented on #24688
Negative. The image ID is not affected by compression of artifacts.

[2016-07-16 00:55] cpuguy83 commented on #24673
This is correct, you are mounting the tree on the host into the container, which masks whatever is in the container.

This is expected behavior.
Thanks!

[2016-07-16 00:55] #24673 closed

[2016-07-16 01:00] cpuguy83 commented on #24656
Looks like there is some filtering or some other communication failure between the nodes.

[2016-07-16 01:10] thaJeztah commented on #24689
can you provide some more information to reproduce? which images are you running, and what commands (options) did you use to create those services?

the high number of stopped containers can be the result of a service's task failing to start (or failing after starting); docker will not garbage-collect all those containers.

[2016-07-16 01:10] tiborvass commented on #24430
Here's the conclusion we came up with. Please let me know if you disagree on certain points.

1. remove `swarm join --manager` from both CLI and API
2. remove `--auto-accept` from `swarm init`, `swarm update` and `node accept`
3. remove `--secret` from `swarm init` and `swarm update`
4. `swarm join --secret` becomes `swarm join --token`
5. remove CA hash and token from `docker info` and the spec
6

[2016-07-16 01:17] nathanleclaire opened #24707 "Why present flags supported by 'docker service create' but not 'docker service update'?"
Try:

[code]

Then why is it presented as a flag?

[2016-07-16 01:19] nathanleclaire commented on #23931
Sure

[2016-07-16 01:20] nathanleclaire opened #24708 "Document usage of Docker with SOCKS proxy"
cfr: https://github.com/docker/docker/issues/23931#issuecomment-233035772

This is supported now but the usage is not clear to users.  Hopefully my comment will help to explain or maybe I could submit a patch if I somehow miraculously find some time.

[2016-07-16 01:20] shengying commented on #24661
Thanks. Do ```docker run --security-opt no-new-privileges --security-opt seccomp:hello.json hello-world``` but the container still exits with code 133.

Just following #22252 , finally it works after adding the syscalls to seccomp profile
[code]
I wonder how to find out the minimum set of needed syscalls to start up a container.

[2016-07-16 01:21] thaJeztah commented on #24430
does `swarm join --token [manager-token]` joins as manager? (re: https://github.com/docker/docker/issues/24084, and https://github.com/docker/docker/issues/24596)

[2016-07-16 01:23] cpuguy83 commented on #24430
`docker swarm join-token` is pretty atrocious, I'd say `docker token` if it wasn't so generic.
maybe `docker swarm rotate --join-token`

[2016-07-16 01:24] aaronlehmann commented on #24430
Affirmative.

What would print the tokens?

[2016-07-16 01:26] cpuguy83 commented on #24430
@aaronlehmann At the moment, `docker swarm inspect` does.

[2016-07-16 01:29] aaronlehmann commented on #24430
`docker swarm inspect` is being removed: #24492

I think it's useful to have a mechanism to just print one of the tokens, for scriptability. It's much harder to parse the output of a command that dumps a bunch of information.

[2016-07-16 01:43] stevvooe commented on #24430
@cpuguy83 The syntax proposed by @tiborvass  correctly represents the behavior. `docker swarm join-token` makes it clear that this command is to retrieve a token for joining and doesn't try to conflate with other things. It also signals that this should only be run by the manager.

[2016-07-16 01:46] jakon89 opened #24709 "Size option for 'docker volume' misunderstanding"
It looks that size option is broken or documentation is no longer valid, don't know about other options.

Invalid case:
https://github.com/docker/docker/blame/master/docs/tutorials/dockervolumes.md#L206

Valid case:
https://github.com/docker/docker/blame/master/docs/reference/commandline/volume_create.md#L65

Please check 'Additional information' section below.
**Output of `docker version`:**

[co

[2016-07-16 01:52] cpuguy83 commented on #24709
These are driver specific options. The `local` driver does not support this option.

[2016-07-16 01:52] #24709 closed

[2016-07-16 01:57] stevvooe commented on #24078
@aaronlehmann Are we using `WithBlock` anywhere? We should avoid it. `Dial` doesn't really "dial".

[2016-07-16 02:01] aaronlehmann commented on #24078
@stevvooe: We are not using `WithBlock` anywhere. I am proposing using it to work around grpc's `Dial` silently swallowing TLS errors. Unfortunately, that won't work until https://github.com/grpc/grpc-go/pull/768 is merged.

[2016-07-16 02:06] cpuguy83 commented on #24709
@jakon89 `--opt o=size=100m` is the syntax from the docs for setting this for when `--opt type=tmpfs`

[2016-07-16 02:35] upccup commented on #24679
@cpuguy83  yes i was init and join cluster with this conmand
[code]
and
[code]

[2016-07-16 02:42] upccup commented on #24679
hi @hvpareja  misunderstand service discovery of new swarm with 1.12rc. but if this is not the right way to do service discovery how can id do this.

moreover ithink this problem was case by the service network not update when the container ip was changed

[2016-07-16 02:47] nikdavis commented on #22753
Having the same issue as @Kazanz trying 172.17.0.1. So I guess I'll try the Docker Toolbox? If would be helpful if this constraint was documented. I couldn't find anything about it until I stumbled upon this issue.

[2016-07-16 03:18] jadbox opened #24712 "[1.12] Docker create service --env-file"
The `create service` CLI command should support `--env-file` for when many env variables are needed and using `--env` is too much hassle to do by hand.

https://docs.docker.com/engine/reference/commandline/service_create/

[2016-07-16 05:08] jadbox commented on #17577
I have the same issue sadly:

[code]

[2016-07-16 05:56] xiaods commented on #22199
i came into below issue

[code]

in docker 1.11.2

[code]

[2016-07-16 06:32] stevvooe commented on #24152
I went to go make a change here to `docker service ps` and found we also have the equally incorrect commands of `docker node tasks` and `docker stack tasks`. I am not sure how we got this so wrong.

There seems to be a fundamental misunderstanding of the concept of tasks in the UX/UI design. These need to be replaced with a top-level `docker tasks` command to meet these use cases.

[2016-07-16 07:00] timhaak commented on #24649
Thanks. That will help.

Though that will start something on every node.

The example I'm looking for is:

You have 10 nodes and want to start a db services with a replication factor of 3 and you want to ensure that the db's are never running on the same host.

The simple solution would be to just specify the nodes to install it on.

Just thought I should mention it as I imagine it's common use ca

[2016-07-16 07:38] cmingxu opened #24713 "Any body know what is NanoCPUS in inspect node response and how is that value calculated? Thanks"

[2016-07-16 08:55] ralphtheninja commented on #24712
+1

[2016-07-16 08:55] GordonTheTurtle commented on #24712
*USER POLL*

*The best way to get notified of updates is to use the _Subscribe_ button on this page.*

Please don't use "+1" or "I have this too" comments on issues. We automatically
collect those comments to keep the thread short.

The people listed below have upvoted this issue by leaving a +1 comment:

@ralphtheninja

[2016-07-16 09:25] rhatdan commented on #23981
During the night, I remembered there was an issue that might be triggering this problem.  The seccomp patches used to turn on NO_NEW_PRIVS by default.  NO_NEW_PRIVS causes problems with SELinux transitions.  Using Seccomp should not require NO_NEW_PRIVS, does this version of docker turn on NO_NEW_PRIVS by default?

Setting NO_NEW_PRIVS means that you can not transition to a identity with more priv

[2016-07-16 09:55] justincormack commented on #23981
@rhatdan we do not turn on no new privs by default, you still have to explicitly enable it at container run time.

[2016-07-16 10:06] rhatdan commented on #23981
We had a bug in the seccomp filters that turned this on by default. @mheon looked into it,  But I agree, I think this is fixed in the master code.  I just don't remember if it was fixed in runc or docker.  It was in the seccomp bindings.  But this is what this signature looks like.

[2016-07-16 10:08] rhatdan commented on #23981
Grepping through my emails, I find a reference to the following.

https://github.com/seccomp/libseccomp/blob/08a682a9f895b8f622499df5ee69fcabe1e3cbab/src/system.c#L140

[2016-07-16 10:34] gamesbook commented on #21704
Likewise in our VM.  Is there any known workaround or patch?

[2016-07-16 10:34] npcode opened #24716 "Proposal: Support ownership-based access control"
Docker allows users to create their own authorization plugin. And 3c157713b31f542a4180e31da4cae7d677330a6f introduces TLS user information so that the plugins can know the name of the user who send a request.

If there is a way to get the owner of a docker object(service, container, ...), ownership-based access control is possible. For example, an authorization plugin can deny a request to delete

[2016-07-16 10:38] gamesbook commented on #5684
@GameScripting See #21704

[2016-07-16 11:44] thaJeztah commented on #22753
Ping @londoncalling ^^

[2016-07-16 11:57] thaJeztah commented on #22199
@xiaods looks like that's issue https://github.com/docker/docker/issues/21702

[2016-07-16 13:01] gittycat commented on #16532
I agree. This is currently my main shortcoming of using `docker cp` versus ssh directly. I'd prefer using `docker cp` since my current setup doesn't rely on the host for storage or environment variables (dumb host).

[2016-07-16 13:14] jakon89 commented on #11955
@mvader @sammyshj I don't see your PRs so I opened my own #24719

#dibs

[2016-07-16 13:27] thaJeztah commented on #24649
Ah! Yes, makes sense.

let me ask @aluzzardi :smile:

[2016-07-16 13:29] thaJeztah commented on #24649
also /cc @sfsmitcha

[2016-07-16 14:14] jhorwit2 opened #24720 "update event documentation for health_status action"
The event documentation needs to be updated for the `health_status:` actions that are now being sent [here](https://github.com/docker/docker/blob/576c9fa2007cfb5f379f67b11cd852800f9175c6/daemon/health.go#L142).

[2016-07-16 15:13] hvpareja commented on #24679
Hi @upccup. As you know, I was dealing with apparently the same issue. Then, I realised that one of my worker nodes had a different revision of the docker engine. As you surely know, you can check the version metadata with the command: `docker version`.

Once I updated the outdated node and recreated the whole swarm cluster, the overlay network worked internally with no issues. However, I now can'

[2016-07-16 15:47] yongtang commented on #24649
I think this is about setting constraint on the Tasks of Swarm so that each task should have different nodeID.

In Mesos/Marathon that could be achieved with `"constraints": [["hostname", "UNIQUE"]]` I believe.

[2016-07-16 16:25] mhodas commented on #24697
Would you please try, if you did not already, `docker build --build-arg http_proxy="http://10.0.75.1:7777"`?

[2016-07-16 16:27] thaJeztah commented on #16532
Sorry, @ErikGrimes, but I'm closing this. There were quite some concerns about adding this on the pull request (see https://github.com/docker/docker/pull/17014#issuecomment-166982627).

Thanks for suggesting!

[2016-07-16 16:27] #16532 closed

[2016-07-16 16:32] julianonunes commented on #24697
You mean with quotes? This problem happens only when I'm at work, so I'll be able to try just monday.

[2016-07-16 16:45] mhodas commented on #24697
Quotes are probably unnecessary, they are just precaution. Variable names (http_/https_proxy) should be in the lower case and are case-sensitive. `docker build --build-arg "..."` works against my company's proxy (squid) for building at least debian based images. As each docker build step is done by making-committing-destroying intermediate container it cannot inherit any variables from system (if

[2016-07-16 16:46] thaJeztah commented on #24716
relates to https://github.com/docker/docker/pull/21556, and https://github.com/docker/docker/pull/20883

[2016-07-16 16:47] thaJeztah commented on #24713
/cc @aluzzardi @sfsmithcha

[2016-07-16 16:59] mattrobenolt commented on #24675
Just to add a datapoint:

Running directly to the vsock layer hangs for me too when doing a `pull`.

I did:

[code]

Though, this doesn't cause the entire world to explode like if I were to simply do `docker pull postgres:9.5`. I was able to `^C` out, then rinse and repeat. I'm able to successfully continue without a 100% broken setup by doing this.

I've uploaded logs to `20A3922C-B0CB-4AB5-A281-

[2016-07-16 18:17] pangzheng commented on #21198
Containers: 1
 Running: 0
 Paused: 0
 Stopped: 1
Images: 339
Server Version: 1.11.2
Storage Driver: overlay
 Backing Filesystem: xfs
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: null host bridge
Kernel Version: 3.10.0-327.el7.x86_64
Operating System: CentOS Linux 7 (Core)
OSType: linux
Architecture: x86_64
CPUs: 2
Total Memory: 3.703 GiB
Name: sry1
ID: URCV:R

[2016-07-16 18:39] thaJeztah opened #24724 "Enhancement: allow CLI to stop multiple containers in parallel"
Stopping multiple containers is currently implemented in the client.

As a result, stopping multiple containers takes longer than needed, and also can result in only *some* of the containers being stopped if the client disconnects during the process.

For example, having three containers, and stopping them all through the CLI;

[code]

Results in:

[code]
The client calls `stop` for the first cont

[2016-07-16 18:40] thaJeztah commented on #24724
ping @bfirsh perhaps something to incorporate in your proposal for API enhancements? I think the same applies to other endpoints; perhaps we can make improvements for those as well

[2016-07-16 18:42] justincormack commented on #24724
The client can just call these in parallel, it doesn't need to have a
different API.

On 16 Jul 2016 7:39 p.m., "Sebastiaan van Stijn" <notifications@github.com>
wrote:

[2016-07-16 19:19] thaJeztah commented on #24724
@justincormack yes, I was thinking about that as well; guess that would imply having a connection open for each comtainer; would that be an issue?

[2016-07-16 19:49] yongtang commented on #24693
@Dieterbe The issue is that the empty line following the escape is not recognized as the break. I created a pull request #24725 to try to address this issue. Please let me know if it helps or there are any issues.

[2016-07-16 20:28] mike-hearn opened #24726 "[1.12-rc4] Updating --publish ports on global service brings down swarm"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Using docker-machine to create droplets on Digital Ocean.

**Steps to reproduce the issue:**

1. Create three droplets on Digital Ocean using the latest `docker-machine` (docker-machine version 0.8.0-rc2, build 4ca1b85)

[code]

2. SSH into all three

[2016-07-16 20:30] thaJeztah commented on #24712
Thanks for suggesting; for 1.12 we decided to start with a "minimum" set of options to `service create`. We'll add more options in coming versions. Not all options that are available for `docker run` will be added, as some are really Linux specific, or not really portable in a Swarm situation, so may be added in a more generic form.

Stay tuned :-)

[2016-07-16 20:30] thaJeztah commented on #24712
Adding this to 1.13 milestone, so that it doesn't get lost when we start working on that release

[2016-07-16 20:30] justincormack commented on #24724
Not really a problem, and the client could limit parallelism anyway, or the
user could chunk them.

On 16 Jul 2016 8:19 p.m., "Sebastiaan van Stijn" <notifications@github.com>
wrote:

[2016-07-16 20:55] thaJeztah commented on #24726
ping @mrjana

[2016-07-16 21:27] systemroot commented on #20484
**`yum install docker-engine-1.9.1-1.el7.centos`**
`Package matching docker-engine-1.9.1-1.el7.centos.x86_64 already installed. Checking for update.
Nothing to do`

**`docker -v`**
`Docker version 1.11.2, build b9f10c9`

**`uname -a`**
<pre>
LSB Version:	:core-4.1-amd64:core-4.1-noarch
Distributor ID:	CentOS
Description:	CentOS Linux release 7.2.1511 (Core)
Release:	7.2.1511
Codename:	Core</pre>

[2016-07-16 21:34] thaJeztah commented on #24557
@tiborvass should we assign a priority to this one?

[2016-07-16 21:36] thaJeztah commented on #24726
Could be a duplicate of / related to https://github.com/docker/docker/issues/24557 ?

[2016-07-16 21:43] thaJeztah commented on #24269
@aboch is this being looked into?

[2016-07-16 21:56] thaJeztah commented on #24136
Could the difference be that in the "manual" approach, a TTY is attached? Also, what happens if you omit the `DEBIAN_FRONTEND`?

[2016-07-16 22:01] thaJeztah commented on #24678
/cc @jhowardmsft

[2016-07-16 23:10] justincormack commented on #24269
There is specific link local address support in 1.12 I think, to address
this.

On 16 Jul 2016 10:43 p.m., "Sebastiaan van Stijn" <notifications@github.com>
wrote:

[2016-07-16 23:44] thaJeztah commented on #24215
/cc @rhvgoyal

[2016-07-16 23:55] thaJeztah commented on #24683
What platform and architecture are you on? Do you have docker running on your system?

The easiest way to build docker is to use the Makefile, for example `make binary`, but also see https://docs.docker.com/opensource/code/

[2016-07-16 23:56] thaJeztah commented on #24054
@rcsavage can you provide some more information? With the current information it's not clear what is missing for your use case

[2016-07-16 23:59] thaJeztah commented on #23819
This is something that should be discussed in the docker compose issue tracker; please open an issue there (or look for an existing one).

I'll close this issue here, because we cannot address that in this repository, thanks!

[2016-07-16 23:59] #23819 closed

[2016-07-17 00:03] thaJeztah commented on #24370
Can you provide more information how you started your containers? (What options?), perhaps a minimal case to reproduce?

[2016-07-17 00:07] thaJeztah commented on #23938
/cc @mavenugo @mrjana

[2016-07-17 00:11] thaJeztah commented on #23900
@tniswong are you still having this issue?

[2016-07-17 00:13] thaJeztah commented on #23879
ping @mavenugo @mrjana PTAL

[2016-07-17 00:29] thaJeztah commented on #23866
I think this question belongs in the https://github.com/docker/swarm/issues issue tracker, however, there's an existing issue on documenting this https://github.com/docker/swarm/issues/1341, and that issue (and linked issues) may contain some information.

I'll close this issue here, because this is about "Swarm", not "Swarm mode", and belongs in the issue tracker linked above. Thanks for reportin

[2016-07-17 00:29] #23866 closed

[2016-07-17 00:56] thaJeztah commented on #24656
I don't think there a bug here, and please keep in mind that our issue tracker is not a general support forum. For that reason, I'll close this issue, but feel free to comment after I closed

[2016-07-17 00:56] #24656 closed

[2016-07-17 01:03] thaJeztah commented on #23826
ping @tagomoris

[2016-07-17 01:43] mavenugo commented on #24726
@thaJeztah @mrjana this could be related to https://github.com/docker/swarmkit/pull/1176 . I tried to reproduce this issue along with the fix for https://github.com/docker/swarmkit/pull/1176  and I hit the error `time="2016-07-17T01:38:49.009804130Z" level=error msg="Failed allocation during update of service 6haqehxwc730fzg5tehbvte2x: could not allocate VIP from IPAM: Address already in use"`. Bu

[2016-07-17 02:00] tagomoris commented on #23826
No progress - no one can provide how to reproduce it.

[2016-07-17 02:21] aboch commented on #24269
@moqmar @thaJeztah The issue is there only for link-local IPv6 addresses, not any IPv6 address.
Before moving forward, I would like to understand the use-case of using IPAM for link-local addresses.

By the nature of link-local addresses, we do not think they should be managed by the IPAM driver, and, as @justincormack pointed out, in docker 1.12 user will be able to specify a (IPv4 or IPv6) link-

[2016-07-17 03:08] mrjana commented on #24726
@mavenugo This issue is probably not related to docker/swarmkit#1176 but it certainly is affecting service update because of VIP reallocation problem. Fixed it in https://github.com/docker/swarmkit/pull/1186.

[2016-07-17 04:40] mavenugo commented on #24726
@mrjana thanks for the fix. Atleast with this fix (https://github.com/docker/swarmkit/pull/1186), I am unable to reproduce this bug or the `could not allocate VIP from IPAM` issue.

I will work on vendoring in swarmkit to master and pick it up for RC5

[2016-07-17 06:28] yongtang commented on #24713
@cmingxu Based on the calculation:
https://github.com/docker/docker/blob/v1.12.0-rc4/daemon/cluster/executor/container/container.go#L328-L332

Its seems that `NanoCPUs` is defined as the CPU shares in units of `1/1e9` (or `10^-9`) of the CPU. In other words, `NanoCPUs` is exactly `1 nano CPU`.

[2016-07-17 06:32] yongtang commented on #24058
@dhiltgen I created a pull request #24729 to update the API docs. Please let me know if there are any issues.

[2016-07-17 06:47] jhowardmsft commented on #24678
I think this is expected while things migrate. @taylorb-microsoft

[2016-07-17 07:04] KalleDK commented on #21735
I finally figures it out - and it was my problem. I had forgot to allow VM's interfaces, to be in promiscious mode.

[2016-07-17 09:53] mmisztal1980 commented on #24678
@jhowardmsft Expected while things migrate? :/ How long till this migration is over? Is there a workaround?

[2016-07-17 10:19] janjilek commented on #12997
+1 Why is this closed? 👎

[2016-07-17 11:55] AkihiroSuda commented on #24660
Looks also related to https://github.com/docker/docker/issues/20240 (dupe?)

[2016-07-17 11:55] eran-totango opened #24732 "Docker 1.12.0-rc4 - service can't pull an image from ECR using amazon-ecr-credential-helper"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
We're using AWS EC2.

**Steps to reproduce the issue:**
1. create a swarm cluster.
2. configure aws-ecr-credential-helper
(with the guide here : https://github.com/awslabs/amazon-ecr-credential-helper)
3. Create/Update a service in the swarm cluster (

[2016-07-17 12:32] jenkys opened #24733 "Change UID and GID on Windows (hyper-v) mounted volume"
My OS is Windows 10, using client and server docker v 1.12.0-rc4.

Dockerfile:
[code]

Docker-compose:
[code]

I build an image ` docker-compose up --build` and get in to the container by `winpty docker exec -it sandbox bash`.
Mounted dir /var/www is owned by root:root.
I want to be owned by www-data:www-data.
On Kubuntu host system I just write `chown -R www-data:www-data /var/www`, but from Wind

[2016-07-17 13:19] thaJeztah commented on #24733
/cc @dgageot @friism

[2016-07-17 13:42] guybartal commented on #23992
i have the same problem on windows 10 OS build 10586.494 with docker  1.12.0-rc4
i can mount only folders, cannot see the files...

[2016-07-17 13:49] luukverhoeven commented on #23992
@guybartal  I have the same problem with hyper V as driver. Only empty folders showing up.
`
volumes:
            - ../
`

[2016-07-17 13:55] guybartal commented on #23992
happy to tell that after resetting to factory defaults i can see the files also!

[2016-07-17 16:44] k1rk commented on #10589
+1
docker info
`Containers: 7
 Running: 7
 Paused: 0
 Stopped: 0
Images: 23
Server Version: 1.11.2
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 101
 Dirperm1 Supported: false
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: null host bridge
Kernel Version: 3.13.0-74-generic
Operating System: Ubuntu 14.04.3 LTS
OSType: lin

[2016-07-17 16:53] adrianovieira opened #24734 "swarm mode Worker failed do connect on manager"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

***manager docker info***
[code]
***worker docker info***
[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
- Virtualbox-5.0
- CEntos-7

**Steps to reproduce the issue:**
1. `docker swarm init --listen-addr 192.168.50.10:2377` on manager
2. `docker swarm join 192.168.50.10:2377` on worker

**Describe

[2016-07-17 17:00] sauravskumar99 opened #24735 "Best way to communicate between two docker containers?"
Can someone please suggest the proper way to communicate between two docker containers.

I have one mongodb container which exposes ports at 27017 and can be accessed by host at localhost:27017

I have the second container which has express application, and connects to mongodb via mongodb://localhost:27017/test

But the express container app doesn't works... Please help.. Thank You in advance

[2016-07-17 17:01] cpuguy83 commented on #24734
As the error mentions, you must provide a secret token. `docker swarm init` will output a token for joining as either a manager or as a worker.
If you didn't notice the token, you can retrieve it (for now) via `docker swarm inspect`.

[2016-07-17 17:01] #24734 closed

[2016-07-17 17:06] cpuguy83 commented on #24735
Here's the docs around networking: https://docs.docker.com/engine/userguide/networking/dockernetworks/

Closing as this is the issue tracker and generally not good for general support.
Please see forums.docker.com or #docker on IRC (freenode) for user support.

Thanks!

[2016-07-17 17:06] #24735 closed

[2016-07-17 17:15] Schnitzel commented on #22345
same issue, we have a bash prompt with an emoji in and connecting to the container is not possible because of it, when I remove the emoji, connecting works

[2016-07-17 17:21] cpuguy83 commented on #23826
@tagomoris This looks like it could be a race condition in the vendored code's `send()` call:

[code]

[2016-07-17 17:23] adrianovieira commented on #24734
Do this behavior changed from 1.12.0rc3 to 1.12.0rc4?
- on RC3 it isn't necessary to mention.

Is it necessary even with `AcceptancePolicy/Policies/Role/worker: "Autoaccept": true`?

Although, I also try this:
- `docker swarm join --secret '$2a$10$ObapK4Oz1bUDl83ESn5iIuvP6IdnlJ4VuZix53/Q7VX695WXiy8HK'  192.168.50.10:2377``

[code]

- ***journalctl -f -u docker***
[code]

[2016-07-17 17:25] cpuguy83 commented on #24734
@adrianovieira Yes, this was added in RC4, still some more work being done on it.

[2016-07-17 17:33] adrianovieira commented on #24734
As I mention above, the issue happens even when I provided the `-- secret` parameter.

Then may be the issue needs to be reopened, isn't it?

[2016-07-17 17:50] cpuguy83 commented on #24734
The error is different and would seem to indicate that you put in the wrong secret.

[2016-07-17 18:02] adrianovieira opened #24737 "swarm mode Worker failed do connect on manager"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
- Virtualbox-5.0
- CEntos-7

**Steps to reproduce the issue:**
1. `docker swarm init --listen-addr 192.168.50.10:2377` on manager
2. `docker swarm join --secret '$2a$10$ObapK4Oz1bUDl83ESn5iIuvP6IdnlJ4VuZix53/Q7VX695WXiy8HK' 192.168.50.10:2377` on work

[2016-07-17 18:03] adrianovieira commented on #24734
I opened a related issue #24737

[2016-07-17 18:19] cpuguy83 commented on #24737
closing, this is exactly as the referenced issue. Please don't keep opening issues for the same thing.

[2016-07-17 18:19] #24737 closed

[2016-07-17 18:20] cpuguy83 commented on #24734
Please explain. The error says the secret that's stored does not match the secret you provided. Did you try creating a new cluster?

[2016-07-17 18:58] jamtur01 commented on #22599
I'm still seeing this - is the base image going to get a refresh of keys? @tianon ?

[2016-07-17 19:41] quinnkjones opened #24738 "Ubuntu 16.04 clean install of docker-engine fails to initialize network bridge"
On a clean installation of 1.11.2 on Ubuntu 16.04 xenial docker daemon fails to start reporting: "="Error starting daemon: Error initializing network controller: Error creating default \"bridge\" network: failed to parse pool request for address space \"LocalDefault\" pool \"\" subpool \"\": could not find an available predefined network"

when called via sudo service docker start as listed in the

[2016-07-17 20:17] ignatov commented on #24683
Mac OS X, yes, I have docker beta.

[2016-07-17 20:36] yongtang commented on #24112
@albers @tiborvass I created a pull request #24620 to allow partial name match for `service ls --filter`. As part of the pull request, the task filter has also been updated.

I think the `docker service tasks --filter name=` filters on `service` will be fixed in #24620.

Please let me know if there are any issues.

[2016-07-17 20:37] thaJeztah commented on #24683
running

    make binary shell

Should build docker in a container, and open an interactive shell in the container,
then run `make install` and `dockerd --debug &` to start the daemon inside that container.

Anyway, the original issue is that docker cannot be built using `go get`. I'll close this issue, but feel free to continue the discussion

[2016-07-17 20:37] #24683 closed

[2016-07-17 21:40] luxas opened #24739 "[Proposal]: Add support to create and push manifest lists"
Hi,
I'm a Kubernetes maintainer, and works mostly on multiarch and deployment things.
I'm writing a proposal for multi-arch Kubernetes here: https://github.com/kubernetes/kubernetes/pull/26863, and part of the conclusion there is that manifest lists are a perfect fit for Kubernetes.
Now we're trying to dramatically remove cluster deployment complexity, and as a part of that, I think it would be gr

[2016-07-17 21:40] thaJeztah commented on #24670
I think this is a duplicate of https://github.com/docker/docker/issues/24394, the difference being that this issue isn't about "faulty" containers. Can you try updating the `--task-history-limit`, as suggested in https://github.com/docker/docker/issues/24394#issuecomment-230959487 ?

[2016-07-17 21:45] thaJeztah commented on #24732
This is a duplicate of https://github.com/docker/docker/issues/24372, and should be resolved if you pass the `--registry-auth` on `docker service update` as well, see https://github.com/docker/docker/issues/24372#issuecomment-231213033

I'll close this issue, but feel free to continue the discussion

[2016-07-17 21:45] #24732 closed

[2016-07-17 21:59] thaJeztah commented on #23882
/cc @tophj-ibm @justincormack @kencochrane

[2016-07-17 22:03] thaJeztah commented on #23927
This may be a duplicate of https://github.com/docker/docker/issues/24604, could you have a look if that looks similar?

/cc @sanimej

[2016-07-17 22:06] thaJeztah commented on #23954
Looks like the original question is addressed; improvements for plugins are on the roadmap; @Caligatio are you ok with closing this issue?

[2016-07-17 22:07] thaJeztah commented on #23976
/cc @jhowardmsft

[2016-07-17 22:22] thaJeztah commented on #24664
I think this question more relates to SwarmKit, which is the library used for managing Swarm Mode related parts https://github.com/docker/swarmkit

/cc @abronan

[2016-07-17 22:53] thaJeztah commented on #18333
This is resolved, so closing

[2016-07-17 22:53] #18333 closed

[2016-07-17 23:24] adrianovieira commented on #24737
Sorry for that. As you told it was different error I though it was necessary to open another issue (as you closed the original one).

[2016-07-18 00:11] dsau commented on #24704
@vnpavanelli This may be related to 5ec8441, try 'mkdir /var/lib/docker/zfs' then attempt to start the docker daemon.

Also, keep an eye out for 'dataset is busy' errors, which I've started to see after 1.12.rc3, issue is #24403

[2016-07-18 00:13] thaJeztah commented on #24704
@dsau is a change needed in dockerd to create that directory if it doesn't exist?

[2016-07-18 00:17] thaJeztah commented on #24671
ping @rhvgoyal @runcom PTAL

@jizhilong I see you prepared a PR, but didn't open yet? https://github.com/jizhilong/docker/commit/e1383aad902f0a3af8830698ae55188ce96be72c

[2016-07-18 00:25] thaJeztah commented on #23870
This was fixed, so closing here. Thanks @sbose78!

[2016-07-18 00:25] #23870 closed

[2016-07-18 00:31] thaJeztah commented on #23849
@cpuguy83 is correct on this one; `EXPOSE` is just a "hint", and does not make any changes in networking; ports that are not mentioned as `EXPOSE`, as mentioned in the docs; https://docs.docker.com/engine/reference/builder/#/expose

I suspect there's nothing listening in the container on that port, causing the "connection refused".

I'm closing this issue, because I don't think there's a bug here,

[2016-07-18 00:31] #23849 closed

[2016-07-18 00:31] dsau commented on #24704
@thaJeztah yep, I would say so. Sorry, I should have brought that up earlier, was focused on the other issues.

[2016-07-18 00:32] thaJeztah commented on #24574
This should be resolved in docker 1.11.2, which increased the timeout, but ping me if you're still seeing this after upgrading to 1.11.2

[2016-07-18 00:32] #24574 closed

[2016-07-18 00:33] thaJeztah commented on #24704
@dsau are you interested in contributing, and opening a pull request for that?

[2016-07-18 00:35] dsau commented on #24704
@thaJeztah sure, a nice and easy one to get started in go :)

[2016-07-18 00:53] vnpavanelli commented on #24704
Thank you @dsau it seems to work, I know have other problems with cgroups and my kernel, will check how to fix these!

[code]

[2016-07-18 00:57] upccup commented on #24679
@hvpareja I'm so sorry of some may allow you to self-critical remarks that because of my bad english.

this is the docker version of the cluster

**swarm manager**
[code]

**swarm worker**
[code]
**swarm node list**
[code]

and about the iptables i have add all ports in 10-60000 with tcp/udp into firewall

[2016-07-18 01:17] upccup commented on #24679
@hvpareja  may this log of docker  deamon has some help
[code]

[2016-07-18 01:18] hudon commented on #12997
I believe @tiborvass closed it due to it adding too much complexity. It's up to the maintainers really if they want to re-open this... probably if someone submitted a PR they'd consider it?

[2016-07-18 01:29] dsau commented on #24704
@vnpavanelli no problem, check out https://wiki.gentoo.org/wiki/LXC#Mounted_cgroup_filesystem and https://wiki.gentoo.org/wiki/OpenRC/CGroups

Seems like it should be enabled by default, but if not, try adding rc_controller_cgroups="YES" to /etc/rc.conf

[2016-07-18 01:29] dsau commented on #24704
#dibs

[2016-07-18 01:37] adrianovieira commented on #24734
Yes!
I created a new cluster with `--secret <key>` and everything goes ok.

Thanks for all.

[2016-07-18 02:07] jizhilong commented on #24671
@thaJeztah https://github.com/jizhilong/docker/commit/e1383aad902f0a3af8830698ae55188ce96be72c is not ready at documentation, I'll get it done and open it later.

[2016-07-18 02:16] cpuguy83 commented on #24734
Note that if you don't provide a secret, it will generate 2 for you, one for workers and one for managers.

[2016-07-18 02:16] vnpavanelli commented on #24704
It's working now!
Had to compile and install a new kernel, but that was expected.

Thank you very much @dsau and @thaJeztah !

[2016-07-18 02:23] paralin commented on #24739
I'm working on a project right now that very heavily uses Docker under alternative architectures like Arm and am really really looking forward to a supported manifest setup. There are a number of blogs / other solutions out there but I'd rather wait for something official before I turn away from using architecture tags or arch names in the image.

A few things I'd really like:

- Fallbacks - if `a

[2016-07-18 02:52] aboch commented on #24738
@quinnkjones
Please check https://github.com/docker/libnetwork/issues/779
Check if there is any route in your sytem which would mask all the predefined address pools from which docker picks a subnet for the default bridge network (docker0). Usually vpn routes would do so.

[2016-07-18 03:45] zx1986 commented on #18246
Does this is solved in Docker for Mac?

[2016-07-18 03:59] xiaods commented on #7198
+1

[2016-07-18 04:12] xiaods commented on #23763
please upgrade to docker 1.11, have a try

[2016-07-18 04:46] duglin commented on #24684
Some more interesting data...
@mavenugo try running this script:
[code]
This will turn the main docker engine into a manager, create a dind container as a worker and then deploy a service. Similar to the main issue's scenario except the manager isn't within a container. This should work - as expected.

Now, what's interesting is that after I run this script by main usecase now suddenly works!

I h

[2016-07-18 04:54] npcode commented on #24600
I have a similar problem. One of my managers is down and I can't remove it.

[code]

[2016-07-18 05:02] arun-gupta opened #24742 "Manager cannot join to an existing swarm - syntax error"
Docker 1.12 RC4
Created a three-node cluster with one manager and one worker on Amazon as shown at: https://github.com/arun-gupta/docker-scripts/blob/master/swarm-mode-amazon.sh
Trying to add another node as a manager using:

`docker swarm join --secret mySecret --manager --listen-addr ip-172-31-14-36.us-west-1.compute.internal:2377`

This syntax is similar to the one mentioned at: https://docs.do

[2016-07-18 05:11] jeremyVignelles commented on #18246
@zx1986 : according to the demo of docker for mac that was made at the dockercon 2016, yes, this is solved in docker for mac.

[2016-07-18 05:31] dmcgowan commented on #24688
I made a change to update the behavior and it feels right so far. The case where the image is tagged in multiple repositories is already handled by the multiple tag check (see below). In this case `-f` will force remove even across named repositories, which I think makes sense as well.
[code]

Need to get some tests updated but have a work in progress branch here https://github.com/dmcgowan/docker

[2016-07-18 06:19] vit-spinka opened #24743 "--ipc=host is not a valid option for docker build"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Docker for Mac: Version 1.12.0-rc4-beta19 (build: 10258)

**Steps to reproduce the issue:**
1. docker build --ipc=host

**Describe the results you received:**
unknown flag: --ipc

**Describe the results you expected:**
Build should accept ipc flag, t

[2016-07-18 06:21] ligc commented on #23332
@morphyno I did not attach more than 1024 containers to a single Linux bridge during my test, I was using multiple bridges, attach 1000 containers to each bridge.

[2016-07-18 06:21] OwenChia commented on #14000
Just issues the same question.
I have tried using `--sparse`, it's seems work. But now I can not start docker service.

Here is the log:
[code]

[2016-07-18 06:56] xiaods opened #24744 "there are always Error unmounting container by restart docker daemon"
Hi, we use docker 1.11.2 latest release binary.

[code]

[code]

[code]

[2016-07-18 07:25] mostolog commented on #24670
Hi.

I'm sorry.
I didn't notice our containers were failing after ~60s, but as they do and swarm creates new ones, this might be a duplicate of https://github.com/docker/docker/issues/24394

Nevertheless, after running the "renaming" command, old containers can't be removed using "service rm", because cluster doesn't exists anymore, and "docker rm" must be used.

[2016-07-18 07:25] #24670 closed

[2016-07-18 07:48] unixbhaskar commented on #22243
I am encountering same error like mentioned above ...heck

`bhaskar@ArchLinux_12:58:31_Mon Jul 18:~>sudo docker run -d -p 5000:5000 --name registry registry:2
[sudo] password for bhaskar:
ccf9156579dc4673d689aa101f896275163921d917b1143aac74008dfcdf4067
docker: Error response from daemon: failed to create endpoint registry on network bridge: failed to add the host (veth3995dd3) <=> sandbox (vethe43

[2016-07-18 08:05] vdemeester commented on #24742
@arun-gupta on your command line you are missing the last part (`HOST:PORT`), which swarm/manager you are joining.

[code]

`--listen-addr` help the current node (joining) to decide on which ip/port it should listen not whom to connect with. 👼

[2016-07-18 08:19] brauner commented on #24559
@cyphar using the same procedure and kernel `4.4`, also not reproducible with Docker `1.10.3`.

[2016-07-18 08:20] #24058 closed

[2016-07-18 08:29] unixbhaskar commented on #22243
Well , it was damn "virtualbox" module not loaded properly causing that troube after kernel update.

Fix:
reboot the machine and voila!

`bhaskar@ArchLinux_13:56:39_Mon Jul 18:~>docker run -d -p 5000:5000 --name registry registry:2
c091161e01ee751b13c6136b7f3dc84e563704dcea4b435bcd17b2d70a30cb46
bhaskar@ArchLinux_13:56:47_Mon Jul 18:~>docker ps -a
CONTAINER ID        IMAGE               COMMAND

[2016-07-18 09:26] somogyibence opened #24746 "[1.12.0-rc4-beta19] Cannot mount directory"
Cannot mount a directory.

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):** OS X 10.11.4

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
[code]

[2016-07-18 09:35] MichalTaratuta commented on #24689
@thaJeztah I can't provide any particular information how to reproduce it as it's somehow random.

The DOCKER3 became stuck again. After the restart on Friday I have left it running and today I have found that although the CPU wasn't hight at all, all system memory had been consumed and  docker was partially working i.e. commands such as **docker info**  or **docker images** would run but **not**

[2016-07-18 10:22] michael-holzheu opened #24748 "s390x/gcc: Update glibc to 2.19-18+deb8u5"
Currently the __CI for s390x is disabled__: https://jenkins.dockerproject.org/job/Docker%20Master%20(z)

The reason is that the [Dockerfile.s390x](https://github.com/docker/docker/blob/4ced001d9aff60dea2c2687c0635cdbe369cd534/Dockerfile.s390x#L18) which is used for the continuous integration tests currently uses [s390x/gcc] (https://hub.docker.com/r/s390x/gcc) as base image. The glibc of this imag

[2016-07-18 10:28] kesor opened #24749 "oci runtime error: could not synchronise with container process: not a directory"
When trying to run a container with a file mapping, for example `-v /elasticsearch.yml:/usr/share/config/elasticsearch.yml`
Then Docker first creates `/elasticsearch.yml` as a folder, and not as a file.
Then Docker fails with the error `docker: Error response from daemon: rpc error: code = 2 desc = "oci runtime error: could not synchronise with container process: not a directory".
`

**Output of `

[2016-07-18 10:33] justincormack commented on #24743
Hi, none of those options are available on build, largely to keep build portable. Why are you creating a database at build time? This cannot be a good idea as there are no volumes to store the data on.

[2016-07-18 10:38] justincormack commented on #24746
That looks like it might be an aufs corruption issue - can you try a "Reset to factory defaults"? (this will remove all containers, back up anything you need first).

[2016-07-18 10:39] NanXiao opened #24750 "A question about use "Docker Swarm" to orchestrate "Swarm Cluster" which supports GPU feature."
Hi all,

I am not sure whether this is a correct place to post this issue, if not, please forgive me, provide the appropriate web link, close this issue, thanks!

I am considering using `Docker Swarm` to orchestrate `Swarm Cluster` which supports `GPU` feature. Per my understanding, to implement this function, `Docker` need to envelope `GPU` resource like `CPU` and `memory`, and passes it to `Dock

[2016-07-18 10:40] vit-spinka commented on #24743
It's a container for developers and for Jenkins. Creating an empty the database takes nontrivial time, plus I run some basic configuration scripts there... And I don't want to do it every time Jenkins starts a new container, or every time developer wants a new container.
There are no actual data to be persisted in the database (again, it's just dev/test), so having no volumes is not an issue for m

[2016-07-18 10:40] justincormack commented on #24749
It is not going to work, I don't think that can be fixed. A nicer error is a possibility though.

[2016-07-18 10:42] justincormack commented on #24750
Hi, there is an open issue about adding NVIDIA GPU support here https://github.com/docker/docker/issues/23917 - it definitely is something there is interest in generally.

[2016-07-18 10:43] thaJeztah commented on #24670
The reason you were not able to remove the *old* service, is that there *is* no old service; the service was *renamed*, so it's still the same service, only using a different name.

For example:

[code]

You can remove all tasks/containers by removing the service using the new name:

[code]

[2016-07-18 10:44] somogyibence commented on #24746
@justincormack I tried to reset / reinstall, but it didn't solve my issue

[2016-07-18 10:45] justincormack commented on #24743
Why does it need `--ipc-host`? You can do it at run time and then use `docker commit` to save a new image as another workaround.

[2016-07-18 10:46] NanXiao commented on #24750
@justincormack : But It seems #23917 doesn't take `Docker Swarm` in consideration. Is my understanding right? Thx!

[2016-07-18 10:46] justincormack commented on #24746
Is `~/docker-mysql/conf.d` a file or a directory?

[2016-07-18 10:48] justincormack commented on #24750
@NanXiao the plan would be to make it work for swarm too; once it works for Docker it should be fairly easy to get it working for swarm mode too.

[2016-07-18 10:52] somogyibence commented on #24746
Directory structure:
[code]

[2016-07-18 10:54] brauner commented on #23765
This is likely caused by `SUSE` offering only incomplete AppArmor support. I.e. AppArmor expects mount masks to be enabled, i.e. it expects that `/sys/kernel/security/apparmor/features/mount/mask` is present but it is not.

[2016-07-18 10:57] NanXiao commented on #24750
@justincormack Thanks very much for your timely reply! I will check #23917 more detailedly, thanks!

[2016-07-18 11:12] dj-hedgehog opened #24751 ""Network in unreachable" when accessing host on exposed port with Ubuntu 16.04"
**Output of `docker version`:**

[code]

**Output of `uname -a`:**
[code]

**Output of `ifconfig`:**
[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):** vServer
**UFW Status:** Inactive

I provisioned a new Ubuntu 16.04 host and followed this setup guide closely: https://docs.docker.com/engine/installation/linux/ubuntulinux/
Then I st

[2016-07-18 11:18] WeiZhang555 commented on #24724
@thaJeztah I'm interested in implementing this, could I take this?  I would say #dibs if it's OK :smile:

I don't think many open connections will bring big problem, so stopping them in parallel on background would be enough in my opinion. Or we'll need a new flag such as  "--parallels 10" or something similar.

[2016-07-18 11:22] cmingxu commented on #24017
All, I want to know is there a way to get node IP address temporarily or not that elegant before the feature publicly available?

[2016-07-18 11:25] justincormack commented on #24746
I can't tell from that whether `conf.d` is a directory...

[2016-07-18 11:34] somogyibence commented on #24746
@juliantaylor oh my... it wasn't a directory, it works now. Thank you!

[2016-07-18 11:34] #24746 closed

[2016-07-18 11:44] homerakshay commented on #14793
Hey there,

I have been facing the same issue since 2 days now. Drained out thinking about a fix.

My nonproduction cluster setup :

2 swarm-managers
2 swarm-nodes
1 consul-server

I have set --insecure-registry in /etc/sysconfig/docker as i am on Amazon linux. All works fine when i try to push images to my private repo which is backed by an s3 bucket. However when i do a push from my jenkins job,

[2016-07-18 12:31] vovodroid opened #24752 "User namespaces don't work on Debian Jessie on SoftLayer"
Hi,

I enabled user namespaces in Docker 1.11.2 with **--userns-remap=default**, but it fails when running on Debian Jessie on SoftLayer with error

`docker: Error response from daemon: rpc error: code = 2 desc = "oci runtime error: could not synchronise with container process: operation not permitted".`

It works fine in VMware on my computer and on Azure as well. SoftLayer support claims they "u

[2016-07-18 12:38] mkn8rd commented on #10589
+1 still happens.

docker info
[code]
docker --version
[code]
[This workaround](https://github.com/docker/docker/issues/22312#issuecomment-215848301) helped me.

[2016-07-18 12:50] thaJeztah commented on #10589
@mkn8rd the issue you linked to mentions will be fixed in docker 1.12 (and is a different issue from this one); are you still able to reproduce your issue on the docker 1.12 release candidates? https://github.com/docker/docker/releases (if you have a machine to test on)

[2016-07-18 12:52] vit-spinka commented on #24743
The process actually starts Oracle database, which uses a lot of shared memory. It just fails without `--ipc=host`.
Yes, `docker commit` is a workaround and it works, I can confirm that. I am just wondering if there is a better way.

[2016-07-18 12:52] thaJeztah commented on #24689
@MichalTaratuta did you have any containers running on that machine? Sounds like you have a container that's consuming too much memory then. Did you set a memory limit  (`--memory`) on the container? That's something you should *always* do, to prevent a container from consuming all memory

[2016-07-18 12:53] thaJeztah commented on #24704
reopening, because the issue is not resolved yet (but will be by https://github.com/docker/docker/issues/24741, once merged)

[2016-07-18 12:57] thaJeztah commented on #24724
@WeiZhang555 feel free to take it! (for the next 1.13 release :smile:). I wasn't sure if stopping a long list of containers would be an issue (many open connections), but perhaps it's okay :smile:

I don't think we need to add a `--parallels` flag, but we can set a sensible amount if we think it's needed (e.g. stopping 1000 containers?)

[2016-07-18 12:59] thaJeztah commented on #24559
Thanks all! Based on the feedback above, I'm closing this; the underlying issue will be fixed in the kernel, and recent versions of Docker won't silently ignore the problem, so looks like we're good to go 👍

[2016-07-18 12:59] #24559 closed

[2016-07-18 12:59] justincormack commented on #24752
Can you run the ch`check-config` script https://raw.githubusercontent.com/docker/docker/master/contrib/check-config.sh and see what it says - it checks for the relevant options.

[2016-07-18 13:00] thaJeztah commented on #23763
I'm closing this issue for now, because we didn't get more information from the original reporter, but feel free to comment if you have more information

[2016-07-18 13:00] #23763 closed

[2016-07-18 13:04] justincormack commented on #24743
Ah ok, yes, I think there should be an option to increase the default `shm-size` for all containers, which would then change the value for build, I can add this. We could also allow override on build, but I think the default globally is probably a bit low. Does it work on `docker run` with `--shm-size` set to a larger value? Just checking as there are several sorts of shared memory, and it might b

[2016-07-18 13:05] rhvgoyal commented on #24215
Do you have device-mapper-devel package installed on your system? /usr/include/libdevmapper.h is provided by that package.

[2016-07-18 13:07] rhvgoyal commented on #24446
I am hoping that docker folks dealing with reference counting and layer store will have a  look at this issue first. Once that issue is taken care of, then I can look at it from devicemapper point of view, if need be.

[2016-07-18 13:10] inercia commented on #23765
Then I think I will modify this test in order to skip it when `/sys/kernel/security/apparmor/features/mount/mask` does not exist... I will submit a PR when it's ready

[2016-07-18 13:10] cpuguy83 commented on #24446
@anosulchik What other options are you starting the daemon with?

[2016-07-18 13:10] cpuguy83 commented on #24446
Also, anything in dmesg?

[2016-07-18 13:11] vovodroid commented on #24752
debian:~/docker# ./check-config.sh
warning: /proc/config.gz does not exist, searching other paths for kernel config ...
info: reading kernel config from /boot/config-3.16.0-4-amd64 ...

Generally Necessary:
- cgroup hierarchy: properly mounted [/sys/fs/cgroup]
- CONFIG_NAMESPACES: enabled
- CONFIG_NET_NS: enabled
- CONFIG_PID_NS: enabled
- CONFIG_IPC_NS: enabled
- CONFIG_UTS_NS: enabled
- CONFIG_D

[2016-07-18 13:16] cpuguy83 commented on #24743
@justincormack `docker build --shm-size` already exists.

[2016-07-18 13:31] j00bar opened #24753 "Schrodinger's Container: A file both exists and doesn't"
[code]

[code]

[code]

[code]

The head-slamming-against-desk whiskey tango foxtrot:

[code]

How can `builder.sh` both exist and not exist?

[2016-07-18 13:39] justincormack commented on #24743
@cpuguy83 ah ok. I think it is the `kernel.shmmax` sysctl then. Maybe we need default `sysctl` values, rather than just for run, there are some other use cases for this (unpriv ping).

[2016-07-18 13:48] j00bar commented on #24753
Even more fun. If in my `docker-compose.yml` I change the command to `/bin/bash`, I get:

[code]

[2016-07-18 13:50] j00bar commented on #24753
I can't even...

[code]

[2016-07-18 13:51] thaJeztah commented on #24215
Looks like that must be the issue.

@beatscode for reference, you can have a look at the `Dockerfile` that's used to build RPM's for CentOS 7; https://github.com/docker/docker/blob/9b0d385975c80359b4cab2c75e4834fe803e12d5/contrib/builder/rpm/amd64/centos-7/Dockerfile#L9

I'll close this issue, because this is not a bug, and I think the question is answered, but feel free to continue the discussion

[2016-07-18 13:51] #24215 closed

[2016-07-18 14:03] thaJeztah commented on #24753
The `Container command ... not found or does not exist.` could be a false positive, as it's also output if there's something wrong with the script (see, for example, https://github.com/docker/docker/issues/20789, https://github.com/docker/docker/issues/23411, and https://github.com/docker/docker/issues/23571)

Docker 1.12 contains a change to give a better error message, and was merged in https://

[2016-07-18 14:05] thaJeztah commented on #23411
Is anyone having this issue able to test the docker 1.12 release candidate, to see if the error message returned gives a more descriptive message? https://github.com/docker/docker/pull/22983/files#diff-3cb140026df40998ea29c5bcb6bb292eR150 is now merged

[2016-07-18 14:07] thaJeztah commented on #20789
We merged a change for docker 1.12 that returns a better error message, instead of masking it as "command not found"; https://github.com/docker/docker/pull/22983/files#diff-3cb140026df40998ea29c5bcb6bb292eR150

I'm closing this issue, because this should be resolved in 1.12, but if anyone is able to give the 1.12 release candidate a spin to verify, that would be great http://github.com/docker/dock

[2016-07-18 14:07] #20789 closed

[2016-07-18 14:09] thaJeztah commented on #24438
We merged a change for docker 1.12 that returns a better error message, instead of masking it as "command not found"; https://github.com/docker/docker/pull/22983/files#diff-3cb140026df40998ea29c5bcb6bb292eR150

I'm closing this issue, because the error message should be more descriptive in 1.12, but if you're able to the 1.12 release candidate a spin to verify, that would be great http://github.co

[2016-07-18 14:09] #24438 closed

[2016-07-18 14:10] thaJeztah commented on #23571
We merged a change for docker 1.12 that returns a better error message, instead of masking it as "command not found"; https://github.com/docker/docker/pull/22983/files#diff-3cb140026df40998ea29c5bcb6bb292eR150

I'm closing this issue, because the error message should now be more descriptive in 1.12, but if anyone is able to give the 1.12 release candidate a spin to verify, that would be great http

[2016-07-18 14:10] #23571 closed

[2016-07-18 14:15] justincormack commented on #24753
`builder.sh` not being able to be executed will also happen if `/bin/bash` is not found, so it is kind of the same issue. But I am not sure how bash is being uninstalled...

[2016-07-18 14:17] justincormack commented on #24752
Hmm, can you run `strace -f` on `containerd` when you run the container and see if you can asee what is failing with `EPERM`?

[2016-07-18 14:24] cpuguy83 commented on #24749
If the file does not exist, docker will create a directory on the host side and then try to bind mount that over the file in the container, which of course does not work because you can't bind a directory onto a file (hence the `not a directory` error).

I've opened #24754 to improve the error.

[2016-07-18 14:27] anosulchik commented on #24446
@cpuguy83 Docker daemon is started with the following options:

[code]

dmesg doesn't contains suspicious except thousands of lines like below:

[code]

[2016-07-18 14:38] ssharifi02 commented on #14793
im new to all this but one time i tried and increased my RAM in my virtualbox vm and it did work also i used the command docker-machine create --driver virtualbox \--engine-insecure-registry yourreponame:5000 vmname to create my vm.

[2016-07-18 14:44] vovodroid commented on #24752
Sorry, what exactly would you like me to run? I found only folder **/run/containerd**

Do you want access to this machine?

[2016-07-18 14:50] thaJeztah commented on #24751
Where are you trying to connect *from*, is that on the same host, or from another host?

[2016-07-18 14:55] thaJeztah commented on #24738
@quinnkjones you mention that you got the "Please cleanup or explicitly choose storage driver" message;

Did you only start the daemon manually with that option, or also update the daemon configuration (either by using a systemd drop-in file, or by using a `daemon.json` configuration file?)

`sudo docker daemon -s overlay` will only start a daemon manually, but will not update the configuration fo

[2016-07-18 14:56] dj-hedgehog commented on #24751
It is from another host.

[2016-07-18 15:00] thaJeztah commented on #24751
`Network is unreachable` may indicate that you're not even able to reach the docker host; does pinging the host work?

[2016-07-18 15:02] arun-gupta commented on #24742
Thanks, got that working!

Updated script: https://github.com/arun-gupta/docker-scripts/blob/master/second-manager.adoc

[2016-07-18 15:02] #24742 closed

[2016-07-18 15:03] thaJeztah commented on #24750
Thanks @NanXiao, let me close this issue

[2016-07-18 15:03] #24750 closed

[2016-07-18 15:11] dj-hedgehog commented on #24751
Yes it does

[code]

[2016-07-18 15:18] tophj-ibm opened #24756 "Old duplicate binaries on master.dockerproject.org page"
Power and Z changed the way their binaries were uploaded to that page a few months ago, and while they are correct now, the old binaries are still lingering and need to be removed. You can tell the old ones from the new ones because the path isn't right and has "bundles" in it.

[2016-07-18 15:25] dnephin commented on #24551
I guess so, for consistency. P3 sounds right to me

[2016-07-18 15:31] rlewkowicz opened #24757 "Files are created "behind" a bind mount."
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
**Output of `docker version`:**
[code]
 OS/Arch:      linux/amd64(paste your output here)
[code]
**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Openstack

**Steps to reproduce the issue:**
Create a bindmount eg:

[2016-07-18 15:34] homerakshay commented on #14793
@ssharifi02 thanks for the quick revert.. But I have managed to fix that issue for now by logging into Jenkins server and running the registry daemon as insecure 🙂 But now there is a new issue.. When trying to push to the repo I get 'trying in 10seconds' for all layers and that continues and eventually a failure in build saying 'blob upload unknown' any idea what this may be? It's really annoying

[2016-07-18 15:35] cpuguy83 commented on #24757
Can you provide the full details of how the container is created?

[2016-07-18 15:35] taylorb-microsoft opened #24758 "Feature Request: Enable HTTP_PROXY Configuration as part of deamon json options"
Currently you can utilize GOLang's support for HTTP_PROXY/HTTPS_PROXY environment variables but they must be configured in the session/context that the daemon is launched under.

It would be valuable to be able to configure these as part of the daemon JSON such that you can deploy all of your engine's with the same configuration without needing additional configuration scripts or systemd/windows c

[2016-07-18 15:40] thaJeztah commented on #24758
ah, yes, I've been thinking about this as well (for the same reason); not sure what the right solution would be. Thanks for opening :smile:

[2016-07-18 15:42] mlaventure opened #24759 "Experimental Plugins: Plugins are not restarted when liveRestore is set"
When starting `dockerd` with `--live-restore` after a clean shutdown, previously running plugins are not automatically restarted.

I can reproduce it using the following flow:

[code]

[2016-07-18 15:44] rlewkowicz commented on #24757
Sure! @cpuguy83

This particular container is created using the following Docker file:

[code]

I deploy it using chef, but the results can be replicated via the command line (the container matches the one above):

docker run -it -v /etc/parsoid/localsettings.js:/parsoid/localsettings.js rlewkowicz/parsoid /bin/sh

The files in question are just the ones from /parsoid in the container with the exa

[2016-07-18 15:49] thaJeztah commented on #24756
/cc @mlaventure @tiborvass

[2016-07-18 15:49] cpuguy83 commented on #24757
@rlewkowicz And what is happening with `/parsoid/localsettings.js` in the container?

[2016-07-18 15:54] rlewkowicz commented on #24757
In the container, that file does not exist. It's mounted as a folder if I mount via the bind mount. /etc/parsoid/localsettings.js. It's mounted as a file if I mount it directly from it's source folder /app/parsoid/localsettings.js

[2016-07-18 15:57] cpuguy83 commented on #24744
@xiaods Looks like your logs are truncated on the right, can you provide the full log?

[2016-07-18 16:09] justincormack commented on #24752
find the process id of `docker-containerd` and do `strace -f -p <id> -o file` and that will save it to the file.

[2016-07-18 16:11] errordeveloper commented on #23767
@cpuguy83 I've used Docker for Mac.

[2016-07-18 16:44] tophj-ibm commented on #23882
Okay, I see the issue with the install script.

It's worth mentioning that RHEL/Centos doesn't officially ship/support Docker on power currently, so I'm not sure if this is a good feature to get into atm.

[2016-07-18 16:51] abronan commented on #24664
Hi @deathrush,

The distributed store essentially contains the informations available on the docker API. So docker is the client to the datastore.

Everything you need from the datastore is accessible through the gRPC API when querying objects. You can use `swarmctl` in the [swarmkit repository](https://github.com/docker/swarmkit) to do that or use tools like https://github.com/grpc-ecosystem/poly

[2016-07-18 16:54] dperny commented on #24017
Hey @cmingxu, right now there isn't. It's being worked on.

[2016-07-18 17:09] vovodroid commented on #24752
[container.zip](https://github.com/docker/docker/files/369678/container.zip)

[2016-07-18 17:10] leandro-lucarella-sociomantic commented on #23571
Thanks for addressing this!

[2016-07-18 17:10] cpuguy83 commented on #24446
@anosulchik Thanks for the extra info!
Can you send `SIGUSR1` to the stuck docker daemon and collect the stack trace that it generates from the daemon logs?

[2016-07-18 17:26] bfirsh commented on #24724
Agree with @justincormack that no API changes are needed here. API endpoints and error handling gets very messy with server-side batching, so we should only do it if absolutely necessary. ([Facebook's API is a good example of how this can be done / how terrifyingly complex it gets.](https://developers.facebook.com/docs/graph-api/making-multiple-requests))

Also agree that we don't need a new flag

[2016-07-18 17:27] arun-gupta opened #24762 "Docker Cloud not creating a node cluster using new UI"
Trying to create a Docker Cloud Node Cluster with the values as shown in attachment.

Clicking on Create just shows a spinning wheel for a second and then comes back to the same screen. No new instances are created in EC2.

<img width="1128" alt="screen shot 2016-07-18 at 12 19 18 pm" src="https://cloud.githubusercontent.com/assets/113947/16923874/24749344-4ce2-11e6-8881-7233caa56d7c.png">

Going

[2016-07-18 17:32] jhorwit2 commented on #24696
@icecrime this also needs to be removed from the 1.12 milestone (follow up from #24703)

[2016-07-18 17:33] arun-gupta opened #24763 "Overlay network in Docker Cloud"
Creating a new service using Docker Cloud. The offered networking choices does not include `overlay`.

<img width="455" alt="screen shot 2016-07-18 at 12 32 36 pm" src="https://cloud.githubusercontent.com/assets/113947/16924218/cfb809ba-4ce3-11e6-8c4b-f8f8e14bb2f3.png">

This needs to be included to allow containers to talk across hosts.

[2016-07-18 17:37] tiborvass commented on #24756
Fixed. Will take some time for cloudfront to pick it up.

[2016-07-18 17:37] #24756 closed

[2016-07-18 17:51] justincormack commented on #12997
I think the only way to do it and be compatible would be to have a new `env-file2` flag that took a new format, eg requiring quotes and accepting new lines, or interpreting `\`.

[2016-07-18 17:52] arun-gupta opened #24765 "Not able to create a new service in Docker Cloud"
. Configured Docker Cloud to be linked with Amazon
. Created a node cluster one one node
. Create a service using `arungupta/couchbase`
. Expose port `8091 as shown

<img width="721" alt="screen shot 2016-07-18 at 12 50 53 pm" src="https://cloud.githubusercontent.com/assets/113947/16924711/49b27abe-4ce6-11e6-855e-c2eb80382685.png">
. Clicking on `Create & Deploy` shows the error attached.
<img wid

[2016-07-18 17:58] friism opened #24766 "Improve error when pulling Linux images with Windows engine (and probably vice-versa)"
Two observations:

 1. It'd be nice if a Windows engine could handle Linux images (if nothing else to move them around), and vice-versa for a Linux engine (I haven't tested the behavior there)
 2. At both `pull` and `run`, Docker should ideally have easy-to-understand errors if an image is not of compatible architecture.

cc @jhowardmsft @icecrime @nicolaka @anweiss

**Output of `docker version`:*

[2016-07-18 18:06] ripcurld00d commented on #20973
#dibs

[2016-07-18 18:22] jfrazelle commented on #24739
I wonder if @estesp has plans to integrate that functionality into docker?

[2016-07-18 18:25] jhowardmsft commented on #24766
@swernli

[2016-07-18 18:31] vovodroid commented on #24752
`9430  ioctl(1, SNDCTL_TMR_TIMEBASE or SNDRV_TIMER_IOCTL_NEXT_DEVICE or TCGETS, 0xc820043c7c) = -1 ENOTTY (Inappropriate ioctl for device)`

Does Docker try to do something with hardware clock on VM?

[2016-07-18 18:41] cpuguy83 commented on #11132
Closing because encfs is not supported by the underlying CoW filesystems and docker will now error out if you try to use this configuration.

[2016-07-18 18:41] #11132 closed

[2016-07-18 18:42] taylorb-microsoft commented on #24678
This should still work - the only case where this isn't currently expected to be working (if following our doc's) is Hyper-V Containers on Windows 10 because the image is loaded differently.

When you say "This has occured on a recently created VM in Azure using the WS2016 TP5 image. Can I fix or work around this issue?"  How specifically did you install the base container image?

[2016-07-18 18:44] abronan commented on #24600
This should be fixed by docker/swarmkit#1182 and docker/swarmkit#1184

One is still under review. But we'll confirm and close after vendoring the changes in a new version of swarmkit.

[2016-07-18 19:03] tophj-ibm commented on #24590
Context deadline has been extended but still failing, this time with a new error message
[code]

[2016-07-18 19:07] ingshtrom opened #24767 "Cannot Pull Private Docker Hub Image with Auth Token"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
This is in Miscrosoft Azure on a Standard_DS2 virtual machine. The VM is running Ubuntu 16.04-LTS. I can also reproduce this with Docker for Mac on my local Macbook Pro v10.11.5 El Capitan

**Steps to reproduce the issue:**
1. Follow instructions [her

[2016-07-18 19:08] vit-spinka commented on #24743
I tried with `--shm-size`, but that did not help. Neither did setting `--ulimit memlock`.
The errors are strange, however - apparently it manages to allocate shared memory, but eventually it just dies with zombie processes lying around.

[code]

That looks fine, I see essentially the same output when I start it with `--ipc=host`. So I guess there is more to `--ipc=host` that just shared memory seg

[2016-07-18 19:11] LandyCandy commented on #23365
I had the same issue on Ubuntu 14.04, the /etc/login.defs fix worked for me

[2016-07-18 19:18] treeder commented on #12997
Couldn't it be somewhat backwards compatible?  Right now, nobody uses quotes because they don't work, but if you added support for quoted values, then the behavior it has on those quoted values could be new.

[2016-07-18 19:39] tonistiigi commented on #24430
remove --ca-hash from swarm join

Does token contain ca-hash?

[2016-07-18 19:40] thaJeztah commented on #24724
Thanks all for your input I updated the title (may update the top description when I get back to my computer)

[2016-07-18 19:42] stevvooe commented on #24739
Ideally, we'd like to see the community take on this task. @estesp had some proposals around UI/UX but we'll need to take those further for docker integration.

While I think a UX based design is important here, I'd like to understand where you see this being useful from a k8s perspective. Would these manifests be stored on every docker engine? What about the manifest list model helps k8s integrat

[2016-07-18 19:45] dayglojesus opened #24768 "make --auto-accept handling more manageable"
Hi,

The current implementation of the CLI `--auto-accept` for `docker swarm` is awkward.

Currently, if we want to specify auto-accept for both managers and workers, we need to add the arg to the CLI twice: `docker swarm --auto-accept manager --auto-accept worker`

This is straightforward, but the interface does not map to policy storage, nor lend itself to "toggling" -- for example, if one neede

[2016-07-18 19:47] dayglojesus opened #24769 "docker swarm inspect needs more swarm details"
Hi,

Changes in RC4 brought with it tighter security and the new requirement of presenting a CA cert hash when joining the swarm. While dumping the correct command to join the swarm to stdout is useful, it's not very extensible.

Getting the swarm's CA cert hash programmatically currently means asking the docker daemon for that info (`docker info`) and text parsing that, because `docker swarm insp

[2016-07-18 19:50] thaJeztah commented on #24664
Thanks @abronan. I'll close this issue, but @deathrush feel free to continue the discussion

[2016-07-18 19:50] #24664 closed

[2016-07-18 20:13] thaJeztah commented on #24765
ping @fermayo PTAL

[2016-07-18 20:13] thaJeztah commented on #24762
ping @fermayo PTAL

[2016-07-18 20:18] homerakshay opened #24772 "Docker image push from jenkins server results in 'Retrying in x seconds' + 'blob upload unknown'"
Hey there,

I have been facing the same issue since 2 days now. Drained out thinking about a fix.

My nonproduction cluster setup :

2 swarm-managers
2 swarm-nodes
1 consul-server

I have set --insecure-registry in /etc/sysconfig/docker as i am on Amazon linux. All works fine when i try to push images to my private repo which is backed by an s3 bucket. However when i do a push from my jenkins job,

[2016-07-18 21:00] MartinLG commented on #3465
+1 for UNEXPOSE

[2016-07-18 21:03] tonistiigi commented on #24017
@alexmavr If this is only for the user set `advertise-addr` I think we can expose it in `docker info` after https://github.com/docker/swarmkit/pull/1150 is merged. But this only works if user manually sets this property on join.

For the other cases there is no guarantee that an IP that is accessible from other nodes even exists and we don't want to show erroneous data. There is no need for the wo

[2016-07-18 21:06] johnharris85 commented on #24768
This is fixed from rc4. It is now possible to specify `--auto-accept manager,worker`.

[2016-07-18 21:18] alexmavr commented on #24017
@tonistiigi would `advertise-addr` be exposed both in `docker info` and in `docker node inspect`?

Also, in the case where no `advertise-addr` is manually specified on join, would a `docker node inspect` reveal a `RemoteAddr` field or is that field hidden entirely from the external API?

[2016-07-18 21:24] dayglojesus commented on #24768
@johnharris85 Thanks, this addresses brevity, but it still doesn't map very well. The auto-accept policy for managers and workers map to booleans -- the CLI is not providing this interface, so it seems strange.

[2016-07-18 21:25] flx42 commented on #23917
I just saw that #24750 was closed and redirected here.
I believe we could already have basic GPU support with Docker Swarm if we were able to add devices when using `docker service create`. Is it on the roadmap?

Related: https://github.com/NVIDIA/nvidia-docker/issues/141