[2016-07-27 17:41] adrianovieira commented on #25098
yes!

[2016-07-27 17:48] hekaldama opened #25136 "Install of docker-engine-1.12.0-0.5.rc5.el7.centos fails to start docker.socket"
# Description of problem:
I have 1.12.0-0.4.rc4 installed, running in swarm mode as manager, with three workers, and one alpine image running `ping host`. If I stop docker, yum remove rc4, then yum install rc5, I cannot restart the daemon with `sudo systemctl start docker`. Instead I get a failure of `Failed to start docker.service: Unit docker.socket failed to load: No such file or directory.`. O

[2016-07-27 17:48] ifrh commented on #23010
@tiborvass, @thaJeztah  What happend if you change the Workdir forom outside Dockerfile with --workdir command?
On my maschine the option `--workdir` breaks *`docker run`*, see https://github.com/docker/docker/issues/25052

[2016-07-27 18:00] adrianovieira commented on #25098
A sample what I did:

[code]

[2016-07-27 18:00] gurtagel commented on #25112
I had tried to basically wipe my system of all docker content and try a fresh install for all systems. When my system was working correctly I had 1 manager node physical box and another box which I was using for the slave. Behavior was normal as this was on 1.12 rc_4. The problem came when I wanted to add another fresh machine to the cluster. As I got docker for the third machine yesterday it inst

[2016-07-27 18:07] gaga-github commented on #25136
I have the same issue, here is the missing file: /usr/lib/systemd/system/docker.socket

[code]

[2016-07-27 18:13] fruetschi opened #25138 "macvlan issue docker 1.12-rc5: failed to add interface veth... to sandbox"
**Output of `docker version`:**
Client:
 Version:      1.12.0-rc5
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   a3f2063
 Built:
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.0-rc5
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   a3f2063
 Built:
 OS/Arch:      linux/amd64

**Output of `docker info`:**
Containers: 18
 Running: 0
 Paused: 0
 Stopped: 18
Images: 25
Serve

[2016-07-27 18:21] abronan commented on #25055
Spent some time investigating on this and could reproduce.

Considering *Node 1*, *Node 2* and *Node 3*, shutting down the whole cluster, and restarting only *Node 1* and *Node 2*.

**Node 1** :

[code]

**Node 2** :

[code]

The apparent cause is that **Node 1** *does not* receive votes from **Node 2**.

My first findings is that **Node 2** occasionally does not trigger the `Ready` state when it

[2016-07-27 18:22] oszi commented on #25121
@thaJeztah I've tried docker-engine-1.10.3 and 1.11.2 and they both seem to be working.

But with the CentOS/RHEL package I could  reliably run 400 containers,
with the official package I can barely run a 100 then most containers stay in "created" state.

[2016-07-27 18:23] aaronlehmann opened #25139 "Ignore bridge interfaces in address autodetection"
Based on the discussion in #25081, it sounds like there is a consensus that bridge interfaces should not prevent swarm IP address autodetection from succeeding.

If the only IP address on the system is associated with a bridge interface, we should use that one. But if there is also an IP address on a "normal" interface, the bridge should be ignored.

This will probably require the use of platform-

[2016-07-27 18:29] justincormack commented on #25139
You can detect a bridge with an `ioctl` rather than netlink I think, a bit
simpler.

On 27 Jul 2016 7:23 p.m., "Aaron Lehmann" <notifications@github.com> wrote:

[2016-07-27 18:30] samoht commented on #24366
It was the upgrade between Beta17 and Beta18 which causes some problems. If you had containers created during Beta17 you will have to either delete them or run the ugrade script provided in https://github.com/docker/docker/issues/24343#issuecomment-230887236

[2016-07-27 18:31] aaronlehmann opened #25141 "Better error messages when IP address autodetection fails"
The current error message explains that the system has more than one IP address, so Docker doesn't know which to use. We should be more specific. For example, if two interfaces both have IP addresses, we should list those interfaces. If one interface has multiple IPs, we should name that interface.

[2016-07-27 18:36] hekaldama commented on #25136
@gaga-github nice! Maybe do a PR if you want to?

[2016-07-27 18:49] dnephin commented on #24304
Not at this time.

hmm, I believe in swarm mode the constraints are passed to a different field, not through environment variables. We'll need to add a special case to move things into the correct field. At this time there is no way to provide constraints from a dab, you have to set them using `service update`.

[2016-07-27 18:52] 13josh commented on #22678
I'm trying to figure out how to do this on the Docker for Mac Beta and can't find a way.  And I tried to modify the resolv.conf file as part of the build but it looks like it gets blown before each intermediate image.

[2016-07-27 18:55] gaga-github commented on #25136
@hekaldama Looks like it was removed on purpose [for SELinux errors](https://github.com/docker/docker/commit/14aee340f88b2aa736eb51b60f281d9a50f15647)

[2016-07-27 18:56] adrianovieira commented on #25098
Actually I only "comment" that line. Now I removed it and everything is ok.

[2016-07-27 18:59] gmlevin commented on #25088
There is lots of disk space and no reported errors on conversion. In any case, reconstructing the image from the docker file solves the problem. And of course, once fixed, no way to reproduce it. It did seem to relate to specific base images. In any case, if no one else is seeing the problem, this can be closed.

[2016-07-27 19:01] thaJeztah commented on #25136
This is a duplicate of https://github.com/docker/docker/issues/25098, and is fixed on master; see https://github.com/docker/docker/issues/25098#issuecomment-235545856, and https://github.com/docker/docker/pull/25094 for how to fix this.

After updating your unit file, be sure to `sudo systemctl daemon-reload`

I'm closing this as a duplicate of https://github.com/docker/docker/issues/25098, but fe

[2016-07-27 19:01] #25136 closed

[2016-07-27 19:01] crosbymichael commented on #25098
@adrianovieira nice, thanks for double checking

[2016-07-27 19:05] anweiss commented on #23976
Also seeing this issue with the same client/server version

[2016-07-27 19:05] thaJeztah commented on #25088
I don't think we had other reports of this issue, so it may have just been a one-off issue. I'll close this issue, as we don't have a way to reproduce now, but please comment if you see this again

Thanks for reporting, it's appreciated!

[2016-07-27 19:05] #25088 closed

[2016-07-27 19:11] KekSfabrik commented on #23992
from my experience even a password containing an exclamationmark (`!`) is enough to trip it up.. i have not however tried changing my password

[2016-07-27 19:14] hekaldama commented on #25136
Great. Thanks all!

[2016-07-27 19:15] thaJeztah commented on #24366
There's also information in the troubleshooting section of the documentation; https://docs.docker.com/docker-for-mac/troubleshoot/#/recreate-or-update-your-containers-after-beta-18-upgrade

I'll close this issue, but feel free to continue the discussion

[2016-07-27 19:15] #24366 closed

[2016-07-27 19:20] dnephin commented on #25124
Ya, we could generate the man pages first, instead of doing it as part of the `build-deb` script. I don't like the idea of checking it into git though.

[2016-07-27 19:22] thaJeztah commented on #25136
Sorry for the inconvenience, this one slipped through :blush:

[2016-07-27 19:24] devec0 opened #25146 "API/CLI does not expose network details for docker_gwbridge network in /services or /tasks in swarm mode"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]
Running under Virtualbox on a single node or 5 (3 manager, 2 worker) node configuration produces the same result.

**Steps to reproduce the issue:**
1. docker service create --network ingress nginx (creates "romantic_ride" for example)
2. docker service inspect romantic_ride (note lack of docker_gwbridge IPs in VirtualIP

[2016-07-27 19:28] dgageot commented on #23992
@KekSfabrik That's surprising since all our integration tests run on machines with an exclamation mark in the password. I would be really glad to hear your experience if you use another password. Thanks a lot!

[2016-07-27 19:31] hekaldama commented on #25136
No inconvenience. Happy to report the bug.

On Jul 27, 2016 12:23 PM, "Sebastiaan van Stijn" <notifications@github.com>
wrote:

[2016-07-27 19:37] mfacenet commented on #23992
I can verify it happens with @ in the password (may also be related to using a live account vs. a local account)

[2016-07-27 19:59] adrianovieira commented on #25098
ok!

may be the update process could fix that.. instead of removing by hand. What do you think?

e.g.: `sed -i -e 's/Requires=docker.socket//g' /usr/lib/systemd/system/docker.service`

[2016-07-27 20:06] mborejdo commented on #23992
I seem to have problems using a # in the password

[2016-07-27 20:28] yelledbett commented on #24310
I am having the same exactly problem. The other frustrating thing is that when I access a container that is actually listening on port 80 (PublishedPort) it seems to only half way work. TCP connections can be made, but the service takes so long to respond that browsers time out. This same container works fine stand alone mind you.

I get the same results with a dedicated network or not.

[2016-07-27 20:46] rss04 commented on #25117
I see the similar issue even for rc4 and it looks it does not have --advertise-addr flag.
Issue details:
Output of   ``` docker --version ```

[code]
Output of  ``` docker info ```

[code]
Receiving error when running initi command with --listen-addr in rc4

Output of  ```docker swarm init --listen-addr $(docker-machine ip manager):2377```
[code]
Tried using --advertise-addr in rc4 and I guess the

[2016-07-27 20:46] dperny commented on #25130
Cannot replicate on first attempt with Debian VMs in Virtualbox.

[2016-07-27 20:55] rss04 commented on #25117
Another thing I have observed which could be the issue is that I have created hosts using docker-machine commands. docker-machine command created servers with 1.12-rc5 while the Docker for mac has the docker client with 1.12-rc4. I am not sure if this caused any incompatibility and led to issues that I am facing.

docker version
**Client:
 Version:      1.12.0-rc4**
 API version:  1.24
 Go version

[2016-07-27 20:57] thaJeztah commented on #25098
@adrianovieira if the file has not been modified, update should replace it automatically

[2016-07-27 21:01] thaJeztah commented on #25117
@rss04 yes; rc4 and rc5 cannot join the same swarm

[2016-07-27 21:10] krs8785 opened #25147 "DockerToolbox for win7 service unavailable error"
Initially got the error when running docker ps on CMD
[code]
Followed the steps [here](https://github.com/docker/docker/issues/22338)
[code]

Now when I try docker ps again I get the following error
[code]

[2016-07-27 21:13] #24152 closed

[2016-07-27 21:23] oschrenk commented on #24966
Well. Even if the toolbox uninstall scripts do not really apply anymore it helped me delete some old stuff from the system.

Deleting the container items and deleting the old app, got me a bit further. Now it is stuck on beta 10 migrations.

Is there any way to log what he is actually failing on?

[code]

[2016-07-27 21:25] normanv opened #25148 "Deleting concurrently the same network twice lead to an inconsistent network state"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Docker is running inside LXC version 2.0.3

**Steps to reproduce the issue:**
1. You might want to have few docker networks (about 30) to have a response time of few seconds when creating and deleting networks to reproduce this issue easily
2. Create

[2016-07-27 21:31] rss04 commented on #25117
thank you. I figured that is the issue and was able to resolve it by pulling the 1.12-rc4 boot2docker.
It was good learning for me. It would be nice if there is a way to set client and server versions to remain the same on the docker-machine command.

Used below command to pull the 1.12-rc4 boot2docker
[code]
Then I was able to run swarm init successfully.
[code]

[2016-07-27 21:33] oschrenk commented on #24966
Deleting the app dir or container dir wasn't it. Just exiting the installer and restarting it again, and again, and again helps. Which each iteration it fails one migration step, I exit, I start, it fails the next possible migration.

After what felt like restarting the app at least 20 times it actually now runs...

[2016-07-27 21:45] thaJeztah commented on #25147
could you open this issue in the Docker Toolbox issue tracker? https://github.com/docker/toolbox/issues

I'll close this issue here, because this is an issue with Toolbox, but thanks for reporting

[2016-07-27 21:45] #25147 closed

[2016-07-27 21:47] thaJeztah commented on #25148
Are you still able to reproduce this on Docker 1.11.2 ?

[2016-07-27 21:50] thaJeztah commented on #25138
ping @mavenugo

[2016-07-27 21:57] aaronlehmann commented on #25112
One of the things that can cause this is clock skew that makes the one TLS certificate not yet valid on another machine. This is what happened in #24078. Currently, the TLS error does not get displayed properly. We're working on a fix for that. We are also planning to add additional backdating to the TLS certificates in Docker 1.12.1 to mitigate this.

So, please check if the clocks on your machin

[2016-07-27 22:02] creativeux commented on #22531
To put a bow on this, I followed up with Artifactory and they found and fixed this bug.  It was an issue on their end!  Thanks for following through on this, all!

For reference: [https://www.jfrog.com/jira/browse/RTFACT-9591](https://www.jfrog.com/jira/browse/RTFACT-9591)

[2016-07-27 22:02] #22531 closed

[2016-07-27 22:20] thaJeztah commented on #25039
Could you also add the output of `docker info`? And are you still able to reproduce this on the current release (1.11.2)?

[2016-07-27 22:22] thaJeztah commented on #22531
Thanks for the update @creativeux

[2016-07-27 22:25] thaJeztah commented on #25112
@aaronlehmann should we make the current clock/time of nodes available through the API, so that this can be seen in (e.g. `docker node ls` / `docker node inspect`)?

[2016-07-27 22:28] aaronlehmann commented on #25112
No, I think it's better to fix `docker swarm join` so it shows the TLS error if it encounters one.

[2016-07-27 22:37] normanv commented on #25148
I can't reproduce it on 1.11.2 on a physical host (I got other trouble running 1.11 inside lxc that I haven't time to investigate now).

Is this issue known and fixed in 1.11.2 ? I was not able to find anything about it in 1.11.2 release note. Is there any patch that I would be able to apply to 1.10.3 ?

[2016-07-27 22:59] thaJeztah commented on #25148
no I don't know a particular patch; and it would most likely be a patch in libnetwork. Is there a reason for running docker inside LXC?

[2016-07-27 23:33] gurtagel commented on #25112
Thanks guys that fixed everything!

[2016-07-27 23:33] #25112 closed

[2016-07-27 23:38] stevvooe commented on #23545
Can we just put these sockets elsewhere? Say, in temp?

I'm see this problem in the swarm tests that creating a bunch of subdaemons.

[2016-07-27 23:55] FrenchBen commented on #23865
@archyufa @perrohunter  build from an image that supports qemu binary, such as the `resin/rpi-raspbian` based images mentioned above.

[2016-07-28 00:13] rlpowell commented on #23259
No, I'm *quite* certain that @doenietzomoeilijk is correct: the instructions at https://docs.docker.com/engine/installation/linux/fedora/ worked fine a couple of weeks ago (I used them repeatedly), and now they don't.  Using the repo file there now gives:

Failed to synchronize cache for repo 'dockerrepo', disabling.
Last metadata expiration check: 0:00:09 ago on Thu Jul 28 00:03:26 2016.

, and i

[2016-07-28 00:19] thaJeztah commented on #24253
docs will be addressed by https://github.com/docker/docker/pull/25135

[2016-07-28 00:26] aaronlehmann opened #25153 "Node deletion and update API endpoints are not documented"
The API docs do not cover DELETE or POST on `/nodes/<id>`. Only GET is documented.

[2016-07-28 00:27] thaJeztah commented on #23259
Nothing should have changed in the 1.11.2 repo; are you sure you were running Fedora 24 when it worked? Or did you update your machine?

Our current policy is that we only maintain a single release, and don't back port versions; however, docker 1.12.0 should be released tomorrow, and will be available for Fedora 24

[2016-07-28 01:33] jhorwit2 opened #25155 "service labels should show up in container inspect/json"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. `docker swarm init`
2. `docker network create -d overlay backend`
2. `docker service create --name label_test --label foo=bar --network backend nginx`
3. `docker inspect (docker ps -lq) | jq '.[0].Config.Labels'`

[2016-07-28 02:01] jhorwit2 commented on #25155
derp. i didn't notice `container-label`

[2016-07-28 02:01] #25155 closed

[2016-07-28 02:03] justincormack commented on #25075
That file is on your mac, not inside the container, so psql cannot see it. As you cannot use volumes with `docker exec` you might be able to specify the file as `-` and then pipe it in, if `psql` accepts this, or copy it into the container first.

[2016-07-28 02:07] justincormack commented on #24974
@paralin is this fixed for you with the commits @djarosz uses? Or do you still have an issue?

[2016-07-28 03:23] justincormack commented on #25130
There were some issues around internal name resolution which were also closed very recently as well as the external ones, cant't find the PRs right now, so it would be good to re-check on master/1.12.0 to see if this can still be replicated.

[2016-07-28 03:25] justincormack commented on #25128
Yes it seems likely, there is a fix for a similar issue it is likely the same.

[2016-07-28 03:29] coolljt0725 opened #25157 "Can't kill container after restarting daemon with some stuck container"
**Output of `docker version`:**

[code]
I run a container and it stuck on exiting, so I restart the daemon,
and `docker ps` show the container is still running. But run `ps aux | grep containerd`
I can't see these container is till running.
So I try to kill the container, but failed with
`container kill failed because of 'container not found' or 'no such process': Cannot kill container e1180c11626

[2016-07-28 04:41] velo commented on #24826
unshare and sharing again did the trick for me.

Thanks

[2016-07-28 04:41] #24826 closed

[2016-07-28 04:54] virtuman commented on #16816
This worked for me !! on all CentOS7.2 systems
[code]

[2016-07-28 05:44] QiaoZijian commented on #22449
I met the same issue, too. I have tried @smadam813 's suggestion and `Restart-Computer`, `Restart-Service docker` several times, it still goes wrong for me. But this morning, I updated my Windows Server TP5 following this link [https://support.microsoft.com/en-us/kb/3157663](url) and now I can commit my container as an image! **Amazing!**

[2016-07-28 05:48] tarunlalwani opened #25160 "Docker restart doesn't pick updated env-file"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Physical

**Steps to reproduce the issue:**

1. Create env.sh file

[code]
2. execute `docker run -d --name os --env-file=$PWD/env.sh centos:6.7 top -b`
3. execute `docker exec os env`

[code]
4. Update the `env.sh` file as below

[code]
5. Restart th

[2016-07-28 06:06] sunil3s3 commented on #20313
Thanks for info.

I tried downloading fresh image and tag to my private registry . tried to push image got below error
11327e04fac0: Pushing [==================================================>]   289 MB
Received unexpected HTTP status: 500 Internal Server Error

and below is the error log from docker logs

time="2016-07-28T06:03:26.357702532Z" level=error msg="response completed with error" envir

[2016-07-28 06:07] sunil3s3 commented on #20313
Im using openstack swift as the backend storage option

[2016-07-28 06:09] xasx commented on #23259
@rlpowell

The point here is that it did *not* work for me. I could not get docker to start after installing it in F24 from F23 repos. So developers would have to take additional effort to make it work…

[2016-07-28 06:11] vincentwoo commented on #22052
I think this is a must-have for the stats API surface. Anyone who uses the stats endpoints almost certainly uses it for all of their containers. Having the stats streams per-container is very awkward. You have to continually track which containers you have subscribed to, etc.

[2016-07-28 06:13] StefanScherer commented on #25124
I understand. Building man pages must be done on the ARM machine as it is a separate Jenkins slave  building the deb's for ARM.

Just some other ideas. Adding the go tools/libs needed to build the man pages into the vendor folder of docker itself? Just like the dev-dependencies in Node.js projects to build the app/man/package. So there is no need to build the manpage inside another docker containe

[2016-07-28 06:33] yqguodataman commented on #25123
@thaJeztah this is Mount struct:
type Mount struct {
    Type     MountType `json:",omitempty"`
    Source   string    `json:",omitempty"`
    Target   string    `json:",omitempty"`
    ReadOnly bool      `json:",omitempty"`

    BindOptions   *BindOptions   `json:",omitempty"`
    VolumeOptions *VolumeOptions `json:",omitempty"`
}
inspect service there is no return ReadOnly option.

[2016-07-28 06:55] polym commented on #24992
Sorry for delay.

[code]

[2016-07-28 07:01] brian-bason commented on #23184
Any updates on this issue please

[2016-07-28 07:02] polym commented on #24992
Install Docker using this package https://get.docker.com/builds/Linux/x86_64/docker-1.11.2.tgz.

[2016-07-28 07:04] vdemeester commented on #24067
As of 1.12.0-rc5 it's now possible to set labels to container (using `--container-labels`).

As @stevvooe said, "We don't propagate service labels to containers so that one can put sensitive labels on the service and trust those separately from the container labels."

So I think this issue can be closed now.

[2016-07-28 07:04] #24067 closed

[2016-07-28 07:14] julienboulay commented on #20313
Hi @sunil3s3,

Your issue doesn't seem to be related to mine. You should try either to find a post related to openstack backend storage configuration, or open a new issue.

[2016-07-28 07:20] thaJeztah commented on #24067
implemented in https://github.com/docker/docker/pull/25038

[2016-07-28 07:21] thaJeztah commented on #25123
It's because of the `omitempty`, see my explanation above

[2016-07-28 07:23] WaaromZoMoeilijk opened #25162 "Error starting daemon: Error loading key file /etc/docker/key.json: unable to decode"
---
## BUG REPORT INFORMATION

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
- Machine is a VPS, no clue what the host runs.
- Ubuntu 16.04

**Steps to reproduce the issue:**
1. Install docker following this guide for ubuntu 16.04 https://docs.docker.com/engine/installation/linux/ubuntulinux/
2.

[2016-07-28 07:24] llitfkitfk commented on #24067
Waiting for Docker for Mac release 1.12.0-rc5...

[2016-07-28 07:28] jschunlei commented on #25039
@thaJeztah I'm sorry, I can't add "docker info",I can't connect the computer.
After docker daemon restarted, no longer appear this kind of phenomenon
May be random,i'm not sure When to appear again, I haven't tested the version of 1.11.2
I fount that it's not stable about  docker version 1.9.1
**Thank you for your help**

[2016-07-28 07:35] gagarine opened #25164 "Nicer error message when docker for mac is not running"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Docker for mac

**Steps to reproduce the issue:**
1. stop docker for mac
2. launch docker-compose up
3.

**Describe the results you received:**
You get error message

[code]

**Describe the results you expected:**

A nicer error message

[code]

[2016-07-28 07:38] #23779 closed

[2016-07-28 07:41] alontorres commented on #24789
@sanimej is there any way to help diagnose the underlying problem? I'm guessing something in the swarm routing is the culprit.
This is a show-stopper for us. Swarm is essentially unusable for us right now due to this issue.

[2016-07-28 07:41] thaJeztah commented on #25039
Thanks! I'll close this issue for now, because we have no way to reproduce currently, but let me know if you run into this again

[2016-07-28 07:42] thaJeztah commented on #22052
If someone wants to make a pull request for this; based on the discussion above, I think it will be accepted

[2016-07-28 07:47] thaJeztah commented on #24992
CentOS 6 is no longer supported, you need to upgrade to version 7.x.

I'm closing this issue because this is not on a supported platform, but comment if you're still able to reproduce this after upgrading to 7, and installing using the yum packages (see https://docs.docker.com/engine/installation/linux/centos/)

[2016-07-28 07:47] #24992 closed

[2016-07-28 07:50] thaJeztah commented on #23597
also see https://github.com/docker/docker/issues/25153

[2016-07-28 07:50] thaJeztah commented on #25153
Thanks! We should fix that (also see https://github.com/docker/docker/issues/23597)

[2016-07-28 07:53] thaJeztah commented on #25164
hm, the error message looks like a docker-compose issue; can you open an issue in that issue tracker? https://github.com/docker/compose/issues

[2016-07-28 07:53] #25164 closed

[2016-07-28 07:55] vincentwoo commented on #22052
@rileysaurus if you're looking for something to do, this issue is a decent candidate. we might even be able to get a twofer addressing https://github.com/docker/docker/issues/21837, which also seems pretty nasty.

[2016-07-28 08:00] miraage commented on #25075
Thank you.

[2016-07-28 08:00] #25075 closed

[2016-07-28 08:01] superseb opened #25165 "File docker.socket not present in 1.12 rc5 RPM"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. Install rc4
2. Update to rc5
3. Restart docker

**Describe the results you received:**
[code]

**Describe the results you expected:**
Docker daemon starting succesfully

**Additional information you deem important

[2016-07-28 08:02] gagarine commented on #25164
Sorry for that.

The issue on the docker-compose: https://github.com/docker/compose/issues/3779

[2016-07-28 08:03] junaid18183 commented on #24833
Thanks for the explanation @dperny

[2016-07-28 08:11] sprohaska commented on #24906
I've observed this problem, too. Maybe the following helps.

It seems that swam mode partially ignores the `--mtu` flag when used with port mapping.

I'm running dockerd with `--mtu`.  A normal `docker run` respects the `--mtu` flag.  Example:

[code]

But with swarm, eth1 gets a different mtu:

[code]

The problem only appears when port mapping is used. The mtu for eth0 seems fine. But eth1 has t

[2016-07-28 08:11] thaJeztah commented on #25164
Thanks!

[2016-07-28 08:13] thaJeztah commented on #25155
Oh, yes, it was added recently, the option to set labels on the underlying containers was missing (not passing through the service labels was by design though, but still under discussion)

[2016-07-28 08:15] thaJeztah commented on #25165
Yes, it's a known issue, and will be fixed in GA; it's resolved already on master, and you can find what to change on the PR that fixed it (and the linked issues); https://github.com/docker/docker/pull/25094

[2016-07-28 08:20] thaJeztah commented on #25160
That's expected; `docker restart` does not create a new container; the `env-file` is only a convenience alternative to set multiple `-e` / `--env` flags, not a file that is added to the container.

I'll close this issue, because this is not a bug, but feel free to continue the discussion

[2016-07-28 08:20] #25160 closed

[2016-07-28 08:24] #25165 closed

[2016-07-28 08:33] jcstover commented on #23987
If the reported bug #24848 is solved this issue can also be closed. Both are trying to find a way to restrict access to the docker containers. Since the DOCKER chain is allways reset after the daemon is restarted I tried to modify the FORWARD chain, but also that will not work as mention in this issue.

[2016-07-28 08:37] nschoe commented on #23302
I may have some additional info on the subject, namely: why won't the containers start on reboot, where the consul node **doest** restart.

Running `docker inspect` on a container that was stopped with Exit code `128` and which was supposed to restart showed me that I had:

[code]

The interesting line here is the Error: apparently it did not start because it did not find the overlay network.  I s

[2016-07-28 08:42] WeiZhang555 commented on #22052
I'd like to take care of this if no one else is already working on this.

So #dibs  :smile:

[2016-07-28 08:46] AkihiroSuda commented on #10180
I think the `kind/bug` label should be removed because it is an "expected" behavior of the kernel.
I think it is even ok to close this issue.

[2016-07-28 08:46] rvelaz commented on #24304
@dnephin Thanks a lot for your time.

[2016-07-28 08:54] do3cc commented on #24706
I have the same issue when using the `gitlab-multi-runner`, which creates containers for me.
When I triggered an action in this tool that needs to create a fresh container, I got these two log messages:
[code]
I could trigger this behavior repeatedly.
The name and id was always the same. Like @gianlucaborello I could not find any trace of the container 11e15.

[2016-07-28 08:58] vincentwoo commented on #22052
don't let me down, wei

[2016-07-28 09:01] jcstover commented on #23987
Finally found a solution found on this forum. On centos I changed the default iptabels file (/etc/sysconfig/iptables) to create a custom chain for restricting access to the docker containers and insert (not append) a rule to the FORWARD chain. Since it is an Insert it stays on top (DOCKER-ISOLATAIN will be first) but it allows filtering traffic to the docker containers

`:DOCKER-BLOCK - [0:0]
-I F

[2016-07-28 09:01] do3cc commented on #21198
This might be the same issue as in #24706
Our build system triggers this problem multiple times a week. If you can provide us tips on how to provide additional information, we would love to add more information.
So far we can see the container id that claims the name but cannot find the name with neither `ps -a` nor `docker inspect $ID`

[2016-07-28 09:02] Stehsegler commented on #25130
I don't think the issue is directly related to DNS, apart from the comparatively rare cases where you really get name lookup errors. The timeout and connection refused errors rather seem to me like a communication problem in the overlay network, since they occur after the DNS name has been resolved and also when using the IP address directly.

Interesting point to check would also be if it plays a

[2016-07-28 09:03] AkihiroSuda commented on #18776
+1 @evanj, I suggest closing this issue

[2016-07-28 09:12] sunil3s3 commented on #20313
thanks for help . I will open new issue.

[2016-07-28 09:17] thaJeztah commented on #18776
Agreed; closing this

[2016-07-28 09:17] #18776 closed

[2016-07-28 09:19] sunil3s3 opened #25166 "Received unexpected HTTP status: 500 Internal Server Error"
**Output of `docker version`:**

[code]
(paste your output here)
[code]

[2016-07-28 09:25] thaJeztah commented on #25166
Do you have logs from that registry as well? Looks like this may be an issue with docker/distribution, not docker (engine)

[2016-07-28 09:27] coolljt0725 commented on #25138
@fruetschi  `macvlan` driver need  CONFIG_MACVLAN and CONFIG_DUMMY enabled in kernel, have you enabled them? if you are not sure, please use the check-config.sh (https://github.com/docker/docker/blob/master/contrib/check-config.sh) to check.
Is this issue only happened with `1.12.0-rc5`?

[2016-07-28 09:27] abdulwahid24 commented on #25074
I am also getting the same error. I have created a docker container with argument `-p 8080:80`  and got this error when I starts the container.

[2016-07-28 09:29] thaJeztah commented on #25157
tentatively adding to 1.12.1

[2016-07-28 09:33] sunil3s3 commented on #25166
I have started container with the docker image "distribution/registry" . Do you need that logs from that container?

these logs I found in /var/log/messages

docker[18158]: time="2016-07-28T05:44:41.380564107Z" level=info msg="API listen on /var/run/docker.sock"
docker[18158]: time="2016-07-28T05:45:17.968880651Z" level=error msg="Upload failed: Error parsing HTTP response: invalid character '<' l

[2016-07-28 09:36] thaJeztah commented on #25166
Looks like it's receiving a HTML page (but the logs are truncated); I suspect an issue with your proxy settings, causing some requests to be blocked, and returning a 403

[2016-07-28 09:37] nschoe commented on #23302
Sorry for multi posting, but I think the more info we have, the easiest it will be to diagnose the problem. Actually I think I have confirmed the whole problem I have is due to a combination of factors:

- I'm using overlay network, so I need a KV store
- I'm using a dockerized (consul) KV store on the host
- I have restart policies for the container using the overlay network

And actually, this a

[2016-07-28 09:39] sunil3s3 commented on #25166
but I can see some file under swift storage.

# swift list
REGISTRY
## swift list REGISTRY
files/docker/registry/v2/repositories/oraclelinux/_uploads/010a09f7-68d5-4d7f-a769-c0f6b552b688/data
files/docker/registry/v2/repositories/oraclelinux/_uploads/010a09f7-68d5-4d7f-a769-c0f6b552b688/hashstates/sha256/0
files/docker/registry/v2/repositories/oraclelinux/_uploads/010a09f7-68d5-4d7f-a769-c0f6b552b

[2016-07-28 09:43] sunil3s3 commented on #25166
this is how .. I'm starting the docker registry container

docker run --restart=always --privileged=true -d --name pdit-registry1 -p 5000:5000 -e "REGISTRY_STORAGE=swift"
-e "REGISTRY_STORAGE_SWIFT_USERNAME=Storage-xxxxxx:xxxxx.Storageadmin" -e "REGISTRY_STORAGE_SWIFT_PASSWORD=xxxxxx"
-e "REGISTRY_STORAGE_SWIFT_AUTHURL=https://xxxxxxx.corp.com/auth/v1.0" -e "REGISTRY_STORAGE_SWIFT_CONTAINER=REGIST

[2016-07-28 09:51] Kylvan commented on #22338
I have the same issue and i have to type  eval $ blablabla each time i want to build an image.

Can i have real solution please ?

[2016-07-28 09:54] Kylvan opened #25167 "Trying to connect to Docker API for shell commands throws error #22338 bis"
Same issue as here https://github.com/docker/docker/issues/22338

I solved it by eval $ command but i have to do it each time i open a git bash terminal to build an image.

Can i have a forever solution please ?

Here i am on W7 x64

Regards

[2016-07-28 09:55] thaJeztah commented on #23302
Running those services in a container is a known problem; same with (e.g.) a container that is used for collecting logs. We've had a proposal for introducing a concept of "system containers", but possibly we can think of implementing such services through the new "plugin" feature, that's in 1.12 experimental

[2016-07-28 10:02] thaJeztah commented on #25167
Use docker for Mac, or Docker for Windows, which don't need these env vars, or include them in your [`.bashrc` or `.bash_profile`](http://www.tldp.org/LDP/abs/html/sample-bashrc.html)

This is not a bug; docker cannot decide for you what machine you want to connect to if the daemon is not running "locally" (with Docker Toolbox, it's running in a VM, which is effectively a "remote" machine).

This

[2016-07-28 10:02] #25167 closed

[2016-07-28 10:05] thaJeztah commented on #23987
Do you think it's worth adding that to the documentation?

[2016-07-28 10:15] sprohaska commented on #24906
The discussion around issue <https://github.com/docker/docker/issues/22028> may also be relevant.

[2016-07-28 10:17] nschoe commented on #23302
@thaJeztah ah thanks for answering!

Okay so this is what I was suspecting---still happy I diagnosed this, this is tricky!

I don't know yet of the plugin feature, I haven't tried 1.12 yet. I'd suggest that it is removed from docker documentation, because reading it, running the consul agent in a container looks like a good idea, which is not really :/

I'm currently trying to have the consul clus

[2016-07-28 10:18] thaJeztah commented on #25069
Moving this to 1.13, and changed to "enhancement"; improve the UX for obtaining scheduling errors/problems

[2016-07-28 10:25] thaJeztah commented on #24651
@abronan should I change this to a "documentation" issue?

/cc @sfsmithcha

[2016-07-28 10:26] thaJeztah commented on #24651
Actually; I see we have the documentation merged; I'm closing this issue because https://github.com/docker/docker/pull/24857 is merged

[2016-07-28 10:26] #24651 closed

[2016-07-28 10:27] Kylvan commented on #25167
I can't use Docker for Windows because it is only for W10 i'm on W7 x64 like i said before, so i can only use Docker Tools Box.

I don't know how to integrate this in .bashrc or .bash_profile.

So i have to use eval $ command each time i start a terminal and want to build an image from a Dockerfile ?

[2016-07-28 10:34] thaJeztah commented on #25167
you don't have to if you keep the shell open. Probably, you can set those environment variables somewhere in Windows as well; a tip for this in the Documentation for Docker Machine or Toolbox may be something to consider

[2016-07-28 10:39] ebriney commented on #24142
@konstruktoid I'm working on a script to clean everything but there are still some hidden things in the registry ! Need to install twice for now

[2016-07-28 10:44] WeiZhang555 commented on #22052
@vincentwoo Oh, so much pressure :laughing:  I'll try my best :guitar:

[2016-07-28 10:45] jcstover commented on #23987
Seen multiple issues on restricting access to the docker containers it can be usefull to add to the documentation. It should be noted that it is a sort of work-around because in the documentation says that a negated rule must be inserted in the DOCKER chain. But that chain is cleared on restart of docker.

In this solution I found that if the docker bridge rules are missing these will be inserted

[2016-07-28 10:49] thaJeztah commented on #23987
that would be appreciated! /cc @aboch

[2016-07-28 10:57] Kylvan commented on #25167
I will read it for sure when i will have the time, thanks for advice.

I know the variables are enter in my Windows cause i've checked it earlier that's why i don't understand why i've this issue.

[2016-07-28 11:12] HuKeping opened #25169 "Failed to use the client credentials store when running headless"
With the `docker-credential-secretservice` Release v0.3.0. under $PATH

docker version

[code]

The config.json

[code]

docker login failed with this error:

[code]

[2016-07-28 11:15] thaJeztah commented on #25169
ping @runcom any ideas?

[2016-07-28 11:22] raghuchowdareddy commented on #16691
Thank you , it worked for me as well.
however , my issued was not in "default" vm . when i create a new VM with diffenre name (example: test1)  and try to run my docker image, it use to block because of corporate proxy i think.
so , with the above command (by jlongie) will worked fine

[2016-07-28 11:23] thaJeztah commented on #24511
ping @benheilers can you confirm if this issue is resolved?

[2016-07-28 11:26] HuKeping commented on #25169
I think it would be lack of the external credential store on my machine, I'll try it out and feedback.

[2016-07-28 11:28] fruetschi commented on #25138
These two are enabled:
[code]

We solely tested 1.12.0-rc5 so I can't say if it is also happening when using earlier releases.

[2016-07-28 11:29] HuKeping commented on #25169
On another machine,  with the `gnome-keyring` installed, I still get
[code]

[2016-07-28 11:33] rneugeba commented on #25113
Thanks for the report.

This is more an issue with the lack of terminal emulation in the various Windows shells. I was able to reproduce the issue on standard Windows 10 pro 1511 (build 10586) but it works fine on a recent insider build with Powershell (I tested with build 14367).

Microsoft will soon release RS1 which should have the improved terminal emulation available.

[2016-07-28 11:33] thaJeztah commented on #24551
@vieux @dnephin did we change this? Are we still able to change this later, or would that result in backward compatibility issues?

[2016-07-28 11:37] justincormack commented on #25113
Closing as it is an upstream Windows issue, but feel free to continue discussing here as I am sure that other people will run into this.

[2016-07-28 11:37] #25113 closed

[2016-07-28 11:38] thaJeztah commented on #24457
@cpuguy83 did you look into this issue? I removed this from the milestone, but feel free to add to 1.12.1 if you think it's important

[2016-07-28 11:41] thaJeztah commented on #25017
Have done a lot of testing with @LK4D4, and although we have some pointers, there's no full solution yet; moving this to 1.12.1

[2016-07-28 11:44] mavenugo commented on #25138
ping @nerdalert could you PTAL ?

[2016-07-28 11:45] mavenugo commented on #24457
@cpuguy83 @thaJeztah we have blocked `network connect` for swarm-mode networks in RC5.

[2016-07-28 11:48] thaJeztah commented on #24643
Thanks, I'll close this issue; but ping me if you see this happening again, then I'll reopen

[2016-07-28 11:48] #24643 closed

[2016-07-28 11:50] thaJeztah commented on #24612
ping @crosbymichael were you able to find something on this one?

[2016-07-28 11:56] runcom commented on #25169
The Linux credentials store is meant to be used with an active gnome session where the gnome keyring is there. The Linux credentials isn't meant for headless servers. I'm currently working on one for headless server though.

[2016-07-28 11:58] thaJeztah commented on #24379
ping @mrjana PTAL

[2016-07-28 12:04] thaJeztah commented on #24226
I'm closing this one, because the "pending" status is no longer used, now that we have "join-tokens", but let me know if you think more is needed

[2016-07-28 12:04] #24226 closed

[2016-07-28 12:05] HuKeping commented on #25169
@runcom Does the credential data of registry user login with was stored in gnome keyring still as plain text?

[2016-07-28 12:06] thaJeztah commented on #24362
I'm closing this issue, because this is possible with the above instructions, but we'll be looking into enhancing this for 1.13

[2016-07-28 12:06] #24362 closed

[2016-07-28 12:06] runcom commented on #25169
It isn't store in plain text if that's what's your asking, it's store in the current login session

[2016-07-28 12:09] thaJeztah commented on #24190
ping @stevvooe should this be closed, or do we want to make more improvements for 1.13?

[2016-07-28 12:15] fastmuse commented on #25113
I'm sorry, maybe it's a dumb question but why it works with no docker environment? I mean for example with a remote server using the same terminals.

[2016-07-28 12:15] HuKeping commented on #25169
Thanks @runcom ! So  if my password for login to the machine was compromised, can the attacker also get the credential for docker registry(or can he `docker login docker.io` successfully)?

[2016-07-28 12:34] runcom commented on #25169
He can use that if it's logged into your session because the keyring is unblocked when you login (at least on fedora iirc)

[2016-07-28 12:50] thaJeztah commented on #24457
@mavenugo Ah, you're right; it's in the test container, so no issue anymore

[2016-07-28 12:50] #24457 closed

[2016-07-28 12:52] nschoe commented on #23302
Okay so here I am again, with some (bad) news.

I have configured my remote consul server so that it can be queried remotely (on the port 8500). I have then configured my docker daemon with `--cluster-store` pointing to this remote consul server.

I have then created overlay networks and container that joined this overlay network, on my host. They were running, with a restart policy, then I simply

[2016-07-28 13:35] mavenugo commented on #23302
@nschoe sorry that you have to go through these issues. when you see `ep-xxxx`, that means that particular node couldn't find a container that matches the name of the endpoint. It could either be the container with the same name exists in a remote node. Or the endpoint is infact stale in the local node. If you believe the endpoint is stale in the local node, try using the `-f` option in `docker ne

[2016-07-28 13:46] nschoe commented on #23302
@mavenugo thanks for commenting :-)
Yeah I'm sorry too, but hey, I know this is pretty complex setup and Docker is still young. It doesn't "owe" me anything, I'm just trying to give as much information as I can to help Docker improve :-)

Okay for the `ep-xxx` prefix, so yeah I'll try using `-f` if needed. But actually that's not really the problem: since I have to intervene by hand, I'm as good a

[2016-07-28 13:47] jcstover commented on #23987
I've created a default config file for iptables in which there is a FORWARD rule to a DOCKER-BLOCK chain to restrict access to docker containers. In the example there are the following assumptions:
* network 192.168.0.0/16 is given access to the host
* network 192.168.123.0/24 is given access to the containers
* docker networks 10.13.0.0/16 (our overlay network) and 172.18.0.0/16 are given acces t

[2016-07-28 13:51] justincormack commented on #25099
Ok, odd you are not setting the `oom_score_adj` directly anywhere? Does this happen for you with all compose files? eg something simpler?

[2016-07-28 13:53] sprohaska commented on #24906
@mavenugo It unfortunately doesn't work.  Even after reinstalling from scratch, I get the following error right after `docker swarm init`:

[code]

[2016-07-28 13:54] justincormack commented on #25099
It is possible that this is an issue with Docker for Mac specifically actually. We are just about to do a release later today, and it is just possible that it will be fixed (hopefully). However it is a bit odd, as no one else has reported this, and it doesnt show in our tests, and nothing is unusual about your compose file, so I am a little unsure at this point...

[2016-07-28 13:58] sprohaska commented on #24906
@mavenugo The error 'network docker_gwbridge has active endpoints' might be related to the `ingress-sbox`:

[code]

Is there a trick to get rid of it?

[2016-07-28 13:58] mavenugo commented on #23302
@nschoe thanks for your understanding and helping to improve docker. Yes. we had problems with running kv-store as a container as well on the local machine where overlay containers are running due to the container bootup order. But @cpuguy83 addressed that using https://github.com/docker/docker/pull/22561.

Regardless, with your current setup, container bootup order shouldnt matter. When the daemo

[2016-07-28 13:59] mavenugo commented on #24906
@sprohaska yes. do it before initializing the swarm-mode.

[2016-07-28 14:01] nschoe commented on #23302
So I wanted to capture the daemon logs, but it is starting to be painful to reboot the whole machine every time, so I stopped my systemd docker service, and started launching the docker daemon by hand, capturing the output.

So I started the daemon with `sudo docker daemon --cluster-store=consul://192.168.0.1:8500 >> docker_logs 2>&1` and I've got this awful lot of logs: [link here](http://lpaste.

[2016-07-28 14:01] oraboy commented on #24789
Any update on this issue? We're using a pretty basic swarm configuration but are hitting this network performance inconsistency which is blocking us from moving swarm to production.

Is there a workaround of sorts we can use until the issue is looked at? Any suggestions would be much appreciated!

[2016-07-28 14:06] nschoe commented on #23302
Ah @mavenugo you beat me to it. I saw that @cpuguy83 was working on it, did see the PR, though.

I saw that 1.12 brought many new features, but I'm not ready to switch to it yet: this is my production setup, and I'm not yet familiar with 1.12 and its retro compatibility to switch just yet :-)

@mavenugo the funny thing is: I'm don't even need overlay networks for swarm cluster: I am not trying to

[2016-07-28 14:11] mavenugo commented on #24789
@eran-totango @alontorres @oraboy we fixed a few issues in rc5 that resolves a few ip-address conflict issues and others. were you able to give rc5 a try ?
When a timeout happens at the routing-mesh level, it typically indicates that a particular load-balancing call (towards the backend) is failing. The failure could be either IPVS misprogramming or issue in forwarding on overlay network for that

[2016-07-28 14:14] thaJeztah commented on #25099
@justincormack we've had a similar issue with the Swarm API always setting a value for some properties, although it doesn't look like its related here

[2016-07-28 14:19] sprohaska commented on #24906
@mavenugo Ok, seems to work; with all the other options, as discussed in <https://github.com/docker/docker/issues/24046>:

[code]

[2016-07-28 14:28] cpuguy83 commented on #23545
#25171 to move these to a temp dir.

[2016-07-28 14:31] nschoe commented on #23302
Okay someone must be kidding me... I have tried several times creating my stacks, stopping the daemon and restarting it, and the container restarted. Damn it, I cannot seem to reproduce the error now that I am logging of course...

I'm still including the logs before and after restart, _maybe_ this will help anyway. I'd like to know if my setup is in a broken state or now before pursuing: can anyo

[2016-07-28 14:32] justincormack commented on #25099
@thaJeztah it is odd as this is a numerical field with a default `0` which would be valid, I think, rather than a string field I think (from memory), so it shouldn't matter if it is set.

[2016-07-28 14:36] narel commented on #22185
1.12-rc5 seems to be OK. It runs for over 12 hours without any issues.
Thanks for fixing it!

[2016-07-28 14:53] thaJeztah commented on #25099
@justincormack hm, I know the default for "not set" changed a few times; could it be `-1` for "not set" in the API?

[2016-07-28 14:54] sitano opened #25173 "Latest master.dockerproject.org client / server win builds have incompatible protocol versions"
Latest https://master.dockerproject.org/windows/amd64/docker.exe (2016-07-28T09:11:56.000Z) api protocol version (1.25) is not compatible to latest https://master.dockerproject.org/windows/amd64/dockerd.exe
(2016-07-28T09:11:59.000Z) api protocol version (1.24). Someone did not bump server protocol version in master or its incompatibly prev for real?

**Output of `docker version`:**

[code]

**Out

[2016-07-28 14:59] thaJeztah commented on #25173
Ping @tiborvass @mlaventure any idea how that would be possible? it's built from the same source

[2016-07-28 15:03] justincormack commented on #25099
-1 is valid too, it accepts negative values too in this case...

On 28 Jul 2016 15:54, "Sebastiaan van Stijn" <notifications@github.com>
wrote:

[2016-07-28 15:04] dnephin commented on #24551
We can change the cli output later at least. The API wouldn't be completely backwards compatible, but we might be able to change it.

[2016-07-28 15:07] sitano commented on #25173
Sorry. It seems like its my fault. - another instances in the search path.

[2016-07-28 15:07] #25173 closed

[2016-07-28 15:07] jhorwit2 commented on #23970
@cpuguy83 @icecrime @mrjana @thaJeztah is this going to be in 1.12? Seems very important to me, I wouldn't call this production ready w/o removing unhealthy nodes immediately so requests don't fail to clients.

[2016-07-28 15:10] cpuguy83 commented on #23970
@jhorwit2 1.12 will kill unhealthy containers and create new ones.

[2016-07-28 15:11] jhorwit2 commented on #23970
@cpuguy83 does the kill event trigger the removal of the vip from ipvs?

[2016-07-28 15:11] dnephin commented on #25124
I can compile glide for arm and put it on bintray. Then if we create a Dockerfile.armhf it should work ?

[2016-07-28 15:13] sitano commented on #25173
Related to https://github.com/StefanScherer/docker-windows-box

[2016-07-28 15:13] mavenugo commented on #23970
@jhorwit2 it will NOT remove the vip from ipvs. But ideally when the tasks are rescheduled, the backend server (container ip) will be readjusted on the existing IPVS (vip->backend-servers ) configuration.

[2016-07-28 15:18] StefanScherer commented on #25124
Probably it should work. We should use an more or less official base image in the FROM line. There is no golang/alpine combination, but armhf/golang (7 months old) could be a first starting point.

[2016-07-28 15:21] jhorwit2 commented on #23970
@mavenugo - Sorry when I said VIP i meant container IP from the list of available backend servers.

So, if I'm understanding the flow correctly; when a container hits the max # of retries for a health check the daemon will immediately send out a kill signal. After the container stops/dies the swarm manager will notice the ideal state is not met and schedule a new task. Once that new task has been

[2016-07-28 15:23] dnephin commented on #25124
I would rather use just `alpine:3.4` and `apk add -U go`, I'll see if that works.

[2016-07-28 15:25] thaJeztah commented on #25173
phew, thanks!

[2016-07-28 15:27] mavenugo commented on #24906
@sprohaska cool. I know this is not ideal UX. But these are niche configuration requirements and this is the best workaround we have atm.

[2016-07-28 15:39] mavenugo commented on #23970
@jhorwit2 thanks for the clarification.
I haven't tried this use-case myself. But the container IP should be removed from the IPVS backend server-list as soon as the container is killed. But it might take a few more milliseconds for other daemons in the cluster to know about this event (through gossip). But other than that there shouldnt be any other extra delay. I will give this a try and let you

[2016-07-28 15:42] vikstrous commented on #23958
I got this too:
[code]
Anything I should report before I restart docker and/or delete /var/lib/docker?

[2016-07-28 15:47] jhorwit2 commented on #23970
@mavenugo If it's removed now when the kill event is sent out then this should be fine. I know when I made this ticket the unhealthy restart logic wasn't yet landed.

[2016-07-28 15:49] jhorwit2 opened #25175 "docker node ps should default to self"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. `docker swarm init`
2. `docker node ps`

**Describe the results you received:**

[code]

**Describe the results you expected:**

[code]

I find myself every time forgetting you need `self` because that's not how `

[2016-07-28 16:01] vikstrous commented on #23958
I restarted the daemon and none of the containers came up.

I upgraded to rc5, then none of the containers that failed to start came up, but I was able to start new containers again. Looks like the issue is fixed.

[2016-07-28 16:05] sitano opened #25176 "[1.12.0-dev] [193b036] broken on Windows TP5 (@StefanScherer/docker-windows-box)"
I am using fresh https://github.com/StefanScherer/docker-windows-box deployed 1 week ago.

After update to the latest docker version 1.12.0-dev, 193b036, `docker images` command stopped to show anything. No any other images can be pulled or build, because of the missing basic layer error which makes sense - as it missing.

But its actually present at C:\ProgramData\Microsoft\Windows\Images\CN=Micr

[2016-07-28 16:26] lorenzo-stoakes commented on #24315
@justincormack I managed to track it down to boltdb which does some unsafe pointer jiggery-pokery, resulting in an unintentional 64-bit load/store on an unaligned address which causes armv5 devices to clear the lower 2 bits of the address and read the memory from there in an unusual order, resulting in garbage basically.

See https://github.com/boltdb/bolt/issues/578 for more details but I've test

[2016-07-28 16:27] sitano commented on #25176
The version `Docker version 1.12.0-dev, build 8e92415` works fine.

[2016-07-28 16:29] thaJeztah commented on #24315
ping @aboch ^^

[2016-07-28 16:30] ppanyukov opened #25179 "Can we specify which volume mount failed when we get 'not a directory' error?"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

This is on Ubuntu Xenial:

[code]

**Steps to reproduce the issue:**

- Run this command:

[code]

Here we are mapping a non-existing host file (`${HOME}/non-existing-file`) into the container's existing file (`/bin/ls`).

**Describe the results you

[2016-07-28 17:01] cpuguy83 commented on #25179
@ppanyukov The reality is we don't know the paths.
runc is attempting the mount, the kernel says "not a directory" and that's what bubbles back up.
Perhaps runc could wrap the error from the kernel with what it was trying to mount?

[2016-07-28 17:01] cpuguy83 commented on #25179
I think though that usually people will know where to look when they see the error.

[2016-07-28 17:13] #23970 closed

[2016-07-28 17:14] jhorwit2 opened #25180 "docker node ps should have all option"
[code]

It would be nice to be able to query all the tasks with one go.

[2016-07-28 17:15] #24590 closed

[2016-07-28 17:28] satyajitbm opened #25181 "Control interface name in docker multiple networking"
With the workaround suggested in #17796 for multiple network mode for docker containers, it is not possible to control the interface name with the `docker network connect` command. The order of the ethx interfaces after `docker start` is not consistent with the sequence of `docker connect` commands. Only the network added in the `docker create` command comes up as eth0 and is consistent.

My post

[2016-07-28 17:47] tiborvass commented on #24190
Closed by #24872

[2016-07-28 17:47] #24190 closed

[2016-07-28 17:58] tiborvass opened #25183 "`Experimental: true` is misleading"
The experimental channel of docker distributes a version of docker based off of the regular release channel, but with additional _experimental_ features. Only those features are experimental, not the rest.

I am not sure what the best solution would be, all I know is that it is getting confusing.

cc @icecrime

[2016-07-28 18:02] thaJeztah commented on #25183
"experimental features: enabled"?
"experimental: enabled"?

[2016-07-28 18:04] gorazio opened #25184 "panic: runtime error: slice bounds out of range"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

don't know how to reproduce it
i run swarm cluster with two nodes, and docker fall with this error
panic: runtime error: slice bounds out of range
full log in attach
[docker.log.tar.gz](https://github.com/docker/docker/files/389066/docker.log.tar.gz)

[2016-07-28 18:07] thaJeztah commented on #23958
@nicolaka have you still seen this happening on RC5, or should we close this?

[2016-07-28 18:11] thaJeztah commented on #25179
I can see it being useful if you mount a number of files / directories

[2016-07-28 18:27] nicolaka commented on #23958
@thaJeztah unfortunately yes :(

[code]

It's non blocking for me because i'm not using this vm anymore.

[2016-07-28 18:32] dongluochen opened #25186 "Show tasks from nodes not in DOWN state"
`docker service ls` shows tasks only from nodes in [READY state](https://github.com/docker/docker/blob/master/api/client/service/list.go#L87). I think it better to show tasks not in DOWN state. Other node states are live or transient. For example, when a node is reconnecting to a new manager, its state is DISCONNECTED. It's a transient state we don't want to exclude tasks from it. It may confuse u

[2016-07-28 19:20] dnephin commented on #25124
#25192 seems to be working for me on scaleway. Let me know if you have any problems with it.

[2016-07-28 19:21] chriskuehl opened #25193 "[1.12.0rc5] files deleted in previous layers are still present in later layers with overlay2"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
This happens on AWS and VirtualBox (vagrant).

**Steps to reproduce the issue:**
Here is a vagrant reproduction:
[code]

**Describe the results you received:**
Files deleted in a previous layer still exist.

[code]

**Describe the results you expected

[2016-07-28 19:42] hvpareja commented on #24679
Could this issue:

https://github.com/docker/docker/issues/25087

Be related? Neither too very conclusive anyway ...

[2016-07-28 19:47] hvpareja commented on #24877
Is this not the same as: https://github.com/docker/docker/pull/24973 ?

[2016-07-28 20:06] hvpareja commented on #24787
Hi, I agree this suggestion is going to be a good improvement. It could be very useful to duplicate the same stack of services in different overlay networks. As the service name can't be duplicated this is not possible at the moment until we are able to force the name in network.

As I knew about the `--network-alias` argument I was going to use this feature for blue-green deployments. I felt disa

[2016-07-28 20:25] estehnet commented on #22185
so far so good / 1.12-rc5 works fine

[2016-07-28 20:37] dhiltgen opened #25195 "`docker info` missing swarm-mode CA configuration details"
When configured with a remote CA, the API reports this information, but it doesn't show up in the CLI, making it difficult to use the `docker swarm update` CLI.

Excerpt from the raw API after configuring a remote CA:
[code]

However the CLI does not report this:
[code]

[2016-07-28 21:09] abronan commented on #25055
Update: vendoring etcd's raft v3 seems to solve the issue. Can't reproduce including the new version.

[2016-07-28 21:24] dmcgowan commented on #23184
@brian-bason: have you seen this issue again? Unfortunately with this issue, since it represents a bad state on disk, I need to see more engine logs to understand how it got in this state. This would include engine logs before any possible ungraceful shutdown and any startup logs. We already have code in place to protect against this state in normal ungraceful shutdown scenarios, so we need to fig

[2016-07-28 21:36] abronan opened #25196 "Provide option to hide task history on `docker service ps`"
We should provide an option to hide the tasks history when listing tasks with `docker service ps <task>`.

The output can get ridiculously long when we scale to a high number of tasks with the tasks being reassigned many times.

[2016-07-28 21:41] aaronlehmann commented on #25196
I believe you can filter based on state to achieve this. But I agree there should be a more accessible option.

[2016-07-28 21:41] ralphtheninja commented on #25180
@jhorwit2 Is `docker node ps` on master? I can't seem to find it in `rc5`.

[2016-07-28 21:44] jhorwit2 commented on #25180
@ralphtheninja yup.

[2016-07-28 21:49] CVTJNII commented on #19758
I've created a repo that reproduces this: https://github.com/CVTJNII/docker_lockup_test
I had to wind up the concurrency from @AkihiroSuda's numbers to get it to reproduce consistently, but it is consistent.
Note that when the VirtualBox VM goes down it goes down hard.  I recommend pre-instrumenting as after it hangs often the only thing to do is a hard reset.  This is slightly different then the

[2016-07-28 21:58] aripringle commented on #25089
Sorry, not sure how I missed that PR. That looks like exactly what I'm looking for. Thanks!

[2016-07-28 21:58] #25089 closed

[2016-07-28 22:16] cpuguy83 commented on #25184
ping @mavenugo

[2016-07-28 22:17] cpuguy83 commented on #25193
ping @dmcgowan

[2016-07-28 22:43] dmcgowan commented on #25193
Fixed by #25086, included in 1.12.0 final

[2016-07-28 22:43] #25193 closed

[2016-07-28 22:51] bsloan666 commented on #24734
Thanks Aaron. That got me to the next step.

[2016-07-28 23:25] jlndk commented on #20789
I had the same problem, but solved it by reinstalling docker-engine (if it's any help to someone)

[2016-07-28 23:26] daviddyball commented on #24455
@aaronlehmann I would've assumed that cloud deployments make up a very large chunk of potential users got a swarm cluster, no?

I'm not familiar with raft myself, but if there is any way to do hostname-based resolution, then that would go a a fair way towards solving the issue (even if dynamic IP updating is a pain).

[2016-07-29 00:07] LongLiveCHIEF commented on #25117
If you aren't using `docker-machine` to create your node's, (for example, I'm using Vagrant), then I've found this works as well:

[code]

Conventiently, the `swarm init` command will take either an `IP` or and `interface`.

[2016-07-29 00:18] #20033 closed

[2016-07-29 00:28] thaJeztah commented on #24877
@hvpareja https://github.com/docker/docker/pull/24973 is a pull-request that implements this

[2016-07-29 00:47] rogaha opened #25198 "[swarm] docker swarm init outputs misleading message using --force-new-cluster"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. docker swarm init --force-new-cluster --advertise-addr 192.168.99.100
2.
3.

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

**Additional information you deem importan

[2016-07-29 00:48] #25186 closed

[2016-07-29 01:11] slimsag opened #25199 "Docker for Mac: update message output is missing some spaces"
![image](https://cloud.githubusercontent.com/assets/3173176/17234520/ad5b6b06-54ee-11e6-8a12-284dcf3a503f.png)

[2016-07-29 01:27] rogaha commented on #25009
This can be closed, it's no longer and issue with `docker 1.12`.

[2016-07-29 01:27] #25009 closed

[2016-07-29 01:30] AkihiroSuda commented on #25183
"experimental features enabled: true"?

[2016-07-29 01:48] mike-hearn opened #25200 "[1.12] docker service update --publish-rm "[port]:[port]" does not unpublish ports"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Digital ocean. Single droplet as the manager in a single-node swarm.

**Steps to reproduce the issue:**

1. Create a droplet on digital ocean with `docker-machine`

[code]

2. Create a swarm

[code]

3. Create a service with 10 replicas, but no publi

[2016-07-29 02:04] yoshiokatsuneo opened #25201 "Swarm mode overcommit configuration"
I could not find the overcommit option on Docker Swarm mode.
On the traditional docker swarm, I can use option like "swarm.overcommit=3".
How can I overcommit resource on Docker Swarm mode ?

[2016-07-29 02:35] HuKeping commented on #25169
@runcom would you please ping me when the headless version online, thanks :)

[2016-07-29 02:43] tiagoalves83 opened #25202 "[1.12.0] docker volume (nfs) is not being mounted in all service replicas [swarm-mode]"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
docker-machine v 0.8.0
virtualbox
Mac OSX

**Steps to reproduce the issue:**

1. Create a 3 node swarm mode cluster (1 Manager 2 Workers)
2. Create a Volume (local nfs)
3. Create a Service with 3 replicas that uses the created Volume

**Describe the r

[2016-07-29 03:41] yongtang commented on #25195
@dhiltgen I created a pull request #25204 to add the external CA to the output of `docker info`, e.g.,:
[code]
Please let me know if there are any issues.

[2016-07-29 03:48] vitan commented on #24956
@aaronlehmann  , have u working on it? Or where can I taste the fresh?

[2016-07-29 04:09] lixiaobing10051267 opened #25206 "documentation — fail, empty reason, for PR #25203"
documentation — fail, can't find reason, for PR #25203, are there anyone meeting this:

Build Errors:
Fix the path under windows for dockerimages.md: https://github.com/docker/docker/pull/25203
# Filtered (engine) Summary:
	Found: 852 files
	Found: 0 errors

[2016-07-29 04:33] icecrime commented on #25200
Cc @dnephin @vieux!

[2016-07-29 04:34] icecrime commented on #25201
Ping @abronan @dongluochen!

[2016-07-29 04:34] icecrime commented on #25202
Ping @stevvooe!

[2016-07-29 04:35] icecrime commented on #25206
Thanks for the report: I think that's a known (and temporary) issue with the documentation CI. Ping @thaJeztah and @SvenDowideit for confirmation!

[2016-07-29 05:04] vovodroid commented on #24752
I tried v 1.12, now error message is more detailed:

`Error response from daemon: oci runtime error: rootfs_linux.go:53: mounting "/proc" to rootfs "/var/lib/docker/820896.820896/aufs/mnt/b7b28515eaa017923c869d215b304308e71156224e9f9d3ffa78a374556bf8df" caused "operation not permitted"
`

[2016-07-29 05:39] dcosson commented on #18246
Since I don't see it mentioned here yet, unison might be a better tool than rsync for this since it's designed for 2-way syncing. I got this [unison vagrant plugin](https://github.com/dcosson/vagrant-unison2) working a few months ago and it's been solid for our team, syncing a fairly large repo into the vagrant vm that we mount as a docker volume.

It is possible to generate conflicts with either

[2016-07-29 06:06] mcassaniti commented on #24877
It is similar but not the same. #24973 refers to DNS aliasing, but I'm looking at setting the actual hostname in the container at container run/create. If I was to do this outside of a swarm I would do something like:

[code]

There are more traditional services that rely on having the hostname set to a particular value to identify themselves within their own cluster.

[2016-07-29 06:15] thaJeztah commented on #25206
Hm, the temporarily broken links are fixed now (still some broken links in others repos it seems), but it seems the end result is `UNSTABLE`

@SvenDowideit do you know what's the cause if that?

[2016-07-29 06:23] mostolog opened #25209 "Add support for --security-opt, --syscall, --ulimit...to swarm mode"
Hi

Looks like _docker service create_ doesn't have any kernel configuration options. eg: --security-opt, --sysctl, --ulimit... which are sometimes required.
This is stopping us on using swarm mode to deploy ELK 5 on our testing servers.

Could you add at least a _--container-args_ option? eg:
--container-args="--security-opt seccomp=unconfined --ulimit memlock=-1 --ulimit nofile=102400"

If this

[2016-07-29 06:27] thaJeztah commented on #25206
Got a reply from @SvenDowideit (he's traveling, so from his phone); and he suspects it's due to network instabilities during the test, so can be ignored

[2016-07-29 06:28] thaJeztah commented on #25206
Link is https://jenkins.dockerproject.org/job/docs-docker-pr/11513/console

[2016-07-29 06:45] lixiaobing10051267 commented on #25206
I tried to re-test, result is unstable,  but it still display: documentation — fail

[2016-07-29 06:57] icecrime commented on #25199
Ping @aduarmael: apparently we're missing a scrollbar 😉

[2016-07-29 06:58] thaJeztah commented on #25206
@SvenDowideit would have a look at the CI, possibly change some configuration

[2016-07-29 06:59] icecrime commented on #25183
Ping @sfsmithcha: do you know if this is explained anywhere in the docs, and if the wording is appropriate?

[2016-07-29 07:25] KekSfabrik commented on #23992
@dgageot
I tried it and while it somehow worked yesterday on the old RC version (even with the `!`) it doesn't work now with the version it updated me to (`1.12.0-beta21 (build: 5971 - 5b59d37)`) - neither with nor without the `!`

[code]

Suggests the winbox or my user account isn't configured for delegation (it's a domain login)..
I'll try switching to the `stable` version and try again

[2016-07-29 07:37] nkovacs commented on #24503
Hi
This is still broken in beta 21.

[2016-07-29 07:57] thaJeztah commented on #24503
ping @dsheets

[2016-07-29 07:59] mikeprice99 opened #25211 "docker service create not pulling image from quay.io"
**Output of `docker version`:**

[code]
**Output of `docker info`:**

[code]

**Steps to reproduce the issue:**
1. `docker service create --replicas=1 quay.io/mycompany/myimage:1.2016.193.1`

**Describe the results you received:**
`docker service ls` shows 0/1 (even after waiting 10 minutes)
`docker images` (run on either node): the image is not listed
If at this stage I manually pull the image, t

[2016-07-29 08:04] allencloud commented on #25183
feel misleading, too.

[2016-07-29 08:12] thaJeztah commented on #25055
@abronan is that vendored in 1.12.0, or you only tried in a local build?

if not in 1.12.0, should we fix this in a patch release?

[2016-07-29 08:21] nschoe commented on #23302
Hi, it's me again.

It's about @cpuguy83's #22561 PR. I've tried it and it doesn't seem to work on my machine.

Since I was worried about all those error messages on docker daemon startup, what I did is completely uninstall docker, `rm -rf /var/lib/docker/` afterwards and started from a clean, fresh install.

So I have confirmed that none of these messages appeared again on docker startup, and it

[2016-07-29 08:34] vovodroid commented on #24752
I updated Debian Jessie to kernel 4.6 from jessie backports, still the same error.

[2016-07-29 08:39] aleksejlopasov opened #25212 "Unable to start/stop already created service"
**Output of `docker version`:**

[code]
Hi, although I don't think it's really an issue, but I am unable to restart already created service

I have one swarm-master and a couple of swarm-worker nodes. I've created a service with 'docker service create' command and it was deployed to one of the nodes as expected. But this task is a CentOS container with php script running inside. It has finished wo

[2016-07-29 08:56] cchene commented on #21702
Confirmed.

I had two containers running.
My Debian system tried to automatically upgrade the docker-engine to 1.12.0 last night. But upgrade failed because of customized daemon scripts (`DOCKER_OPTS` in `/etc/default/docker`). And this morning, docker daemon was down.
So I started the docker daemon with `sudo service docker start`. After this, One of my containes automatically restarted. The othe

[2016-07-29 08:57] theonlydoo commented on #25098
I've got the same issue after this morning's release

[2016-07-29 09:07] maxrebar commented on #24672
Just tried to install the latest version: same issue...

[2016-07-29 09:24] zgoda opened #25213 "Unable to push image after upgrade to 1.12"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Standard Ubuntu 16.04 desktop

**Steps to reproduce the issue:**
1. Build image with 1.10 and push to registry
2. Build the same image with 1.12
3. Push this image to registry

100% reproductible on my setup

**Describe the results you received:**

[

[2016-07-29 09:25] thaJeztah commented on #25098
@theonlydoo was this on a fresh install or an upgrade? If it was an upgrade did you have any modifications made to your docker systemd unit file? (causing the installer to skip updating that file)

[2016-07-29 09:29] theonlydoo commented on #25098
@thaJeztah First it was an upgrade, with a systemd unit file edited to enable the `-s overlay` flag, but I suspected that my modification had somehow fucked the upgrade so I deleted everything, systemd unit file, `/var/lib/docker/` path. Afterwards I tried the method chown before https://github.com/docker/docker/issues/25098#issuecomment-236129598 and it wasn't successful either.

[2016-07-29 09:29] thaJeztah commented on #21702
@johnculviner can you open a new issue with more details?

[2016-07-29 09:31] zgoda commented on #25213
Downgrade to 1.11 or 1.10 does not help, image is not being pushed and the log shows the same kind of errors.

[2016-07-29 09:33] dsheets commented on #24503
I am sad to say that you are correct. I can also reproduce this in beta 21 and have begun to isolate the issue (again). Thanks for your report and continued patience.

[2016-07-29 09:44] vasil-yordanov commented on #24877
I'm also interested in this feature.
Is it possible to have the following cli interface for docker service create:
Possibility to create all containers with the same hostname.
`docker service create --hostname smtp  <image_name>`
Possibility to create all containers with hostnames like smpt-1, smpt-2,...
`docker service create --hostname smpt-* <image_name>`
Having the same hostname on all contain

[2016-07-29 09:47] oszi commented on #25121
@thaJeztah Sorry for the delay.
So with the official package I don't see this error but containers still randomly stay in "created" state.
More often when I'm running over a 100 containers.

[2016-07-29 09:50] thaJeztah commented on #25121
anything useful in the daemon logs when that happens? (preferably with "debug" enabled on the daemon)

[2016-07-29 10:04] zgoda commented on #25213
More from journalctl:

[code]

[2016-07-29 10:08] forhot2000 commented on #20079
Still happened in Docker 1.12.0

[2016-07-29 10:10] sebi-hgdata opened #25215 "Error "Network sandbox join failed: could not get network sandbox (oper true): failed get network namespace "": no such file or directory""
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

 8 machine Consul cluster in AWS runnning Docker 1.11.2.

**Steps to reproduce the issue:**

1. All machines have running containers with restart policies set (unless-stopped or always)
1. Concurrent upgrade to 1.12  for all machines (we use Ansible

[2016-07-29 10:10] zgoda commented on #25213
Registry is running and is accessible:

[code]

(registry is behind HAProxy that requires client SSL authentication)

[2016-07-29 10:14] oszi commented on #25121
Here are the logs of the node where a container did not start: http://pastebin.com/raw/AepbwcRM
To help parsing it: This was the only container started from the `interesting_image` image.
(On a second try the same image works on both nodes.)

[2016-07-29 10:34] xasx opened #25217 "Error when installing on F24"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details**
physical

**Steps to reproduce the issue:**
1. `dnf install docker-engine`

**Describe the results you received:**
[code]

**Describe the results you expected:**
Installation succeeds without any errors

[2016-07-29 10:49] thaJeztah commented on #17455
@Govinda-Fichtner are you still seeing this, or can this be closed?

[2016-07-29 11:00] thaJeztah commented on #24679
ping @mavenugo

[2016-07-29 11:05] thaJeztah commented on #25169
Should we close this issue? It looks like this is not a bug in docker, but the way the Linux credential store works

[2016-07-29 11:15] HuKeping commented on #25169
Sure @thaJeztah , but still want a way to track since in most scenario docker would like to be run in a headless server. And without the credential store, the security problem still alive #10318

[2016-07-29 11:21] raymondpwilson opened #25218 "Docker 1.12 GA broke "docker exec -it <container> command""
I am running Docker 1.12 on Windows 10 with the Windows 10 hypervisor.

I use 'docker exec -it <container>' to bash into a container that is running a process as a daemon via 'docker run -d ... command'.

In the Docker 1.12 GA release the command:

   docker exec -it <container> bash

returns the following error:

    The parameter is incorrect.

Executing 'docker exec -i <container> bash' or 'doc

[2016-07-29 11:29] sjkyspa commented on #2174
same issue on docker 1.12.0

# docker version
Client:
 Version:      1.12.0
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   8eab29e
 Built:        Thu Jul 28 22:00:36 2016
 OS/Arch:      linux/amd64
Server:
 Version:      1.12.0
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   8eab29e
 Built:        Thu Jul 28 22:00:36 2016
 OS/Arch:      linux/amd64

### look at the 53 port

tc

[2016-07-29 11:29] dariko opened #25219 "Service containers not being included in VIP pool"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

running on docker-machine using 1.12.0 image
$ docker-machine version
docker-machine version 0.8.0-rc2, build 4ca1b85

I noticed some containers with containers not responding trough the VIP
in swarm mode, so I wrote the following test script:
[code]

[2016-07-29 11:34] justincormack commented on #25169
Ping @runcom are you still working on an alternative?

The credentials store as is is not suited to this use case, a different
version is needed...

On 29 Jul 2016 12:15 p.m., "HuKeping" <notifications@github.com> wrote:

[2016-07-29 11:36] thaJeztah commented on #25211
service create / update will always pull the image, to make sure you're not running an outdated version, however, for private mages, you need to use the `--with-registry-auth` to pass the authentication information when creating the service (you can also use it on `docker service update`); can you try with that option?

[2016-07-29 11:38] thaJeztah commented on #25211
Can you open a separate issue for docker creating more instances than requested? Because that clearly sounds like a bug

ping @stevvooe @dongluochen ^^

[2016-07-29 11:47] thaJeztah commented on #25212
You can set a restart policy on the service so that docker automatically restarts it when the service exits.

Swarm mode (services) currently doesn't have a concept of "batch" services, however, you could set a cronjob on the host that does a `docker service update` and changes something in the service (which forces the service to be redeployed), or do the same, but with a container (not a service

[2016-07-29 11:47] #25212 closed

[2016-07-29 12:11] Ozzyboshi commented on #24996
I have the same issue, it seems that the overlay network is created only on manager node.
The only overlay network present in all nodes is the "ingress" network.
According to this document
https://docs.docker.com/engine/extend/plugins_network/
the overlay driver is supported in docker 1.12 with swarm mode active:

The only way to get overlay network working between swarm nodes is the old way with

[2016-07-29 12:11] thaJeztah commented on #22117
I'm closing this issue because of lack of activity, but happy to reopen if more information is provided and this is a docker issue

[2016-07-29 12:11] #22117 closed

[2016-07-29 12:12] Richard-Mathie opened #25220 "docker swarm mode initial docker node labels on join"
initial set of node labels during swarm join

Version Docker 1.12

When getting a node to join a swarm it should be able to set some of its initial labels to advertise its hardware setup (network=public, storage=ssd ect...). Without this we may get containers provisioned on the node before we are able to set the label constraints, or if we have a node which is added to the swarm through auto scali

[2016-07-29 12:12] saiwl opened #25221 "cannot do anything to a running container"
At first, I found docker ps command hangs forever. But docker ps -n 100 worked. So I guess this problem maybe caused by a specific container. I found the container xxx, but all the docker commands are useless, just hanging there. Such as 'docker inspect xxx', 'docker logs xxx' and so on. However, the container is running, I can ping it, even the log is rolling(I tailed the log file on host instead

[2016-07-29 12:13] raymondpwilson commented on #25218
I rebooted my Windows 10 box (it had not not had a reboot since the installation of the 1.12 GA update). Now, "docker exec -it <container> command" works as expected.

Closing this issue.

[2016-07-29 12:13] #25218 closed

[2016-07-29 12:14] HeadlessChild opened #25222 "docker-engine upgrade failed on Debian Jessie from 1.11.2-0~jessie to 1.12.0-0~jessie"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Debian Jessie 8.5 - Physical Machine
Upgraded from: https://apt.dockerproject.org/repo/ debian-jessie/main

**Steps to reproduce the issue:**
1. Have the verison `1.11.2-0~jessie` of `docker-engine` installed
2. Issue the command `apt-get upgrade` or

[2016-07-29 12:16] thaJeztah commented on #25219
ping @mrjana PTAL

[2016-07-29 12:18] thaJeztah commented on #25217
ping @crosbymichael PTAL

[2016-07-29 12:20] thaJeztah commented on #25217
@xasx was this a fresh install, or an updating of a previous version?

[2016-07-29 12:38] edermi commented on #24845
@thaJeztah I just tried your steps and it works fine, nginx is running
Nevertheless, netstat does not show that the port is in use:

[code]

This seems to be a bug, but I'm not sure if it's a problem of Docker or netstat. Since mitmproxy seems to run properly and the port is actually exposed but not shown by netstat, I'm closing this ticket but I guess it's not only me appreciating an explanation/

[2016-07-29 12:38] #24845 closed

[2016-07-29 12:42] thaJeztah commented on #25222
ping @crosbymichael any ideas? I see an error about "Delegate", but that was already added in docker 1.11 (https://github.com/docker/docker/pull/20633)

Does the upgrade process not automatically do a `daemon-reload`?

[2016-07-29 12:43] mavenugo commented on #24679
@upccup @Ismael I just want to clarify that SD is working as expected. If the connectivity is failing, we have to figure out whats going on with overlay networking and load-balancing. That would require more information or clear reproduction steps so that we can see whats going on.

[2016-07-29 12:44] gazzerh commented on #24996
Same issue. When i start a service I can see all the docker hosts in the swarm listen on that port. However only the node(s) which the actual service running on it is able to service the traffic.

Am I missing something?

[2016-07-29 12:45] justincormack commented on #24845
The netstat is kind of misleading, because the port is not being listened
on directly but connections are forwarded via iptables to the network
namespace where the listener is. So netstat shows nothing.

On 29 Jul 2016 1:38 p.m., "Michael Eder" <notifications@github.com> wrote:

[2016-07-29 12:46] thaJeztah commented on #25221
Can you update to docker 1.12.0? Various issues have been fixed since RC2 (including a possible deadlock)

Also, looks like you're running a custom kernel, so not sure if that plays a role here. If you're still running into this issue; daemon logs would be useful

[2016-07-29 12:50] bboreham opened #25223 "Upstart script waits forever when daemon has two unix sockets"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. Install Docker on a system using `upstart`, e.g. Ubuntu 14.04
2. Add this line at the end of `/etc/default/docker` to have two unix sockets:

    DOCKER_OPTS="-H unix:///var/run/docker.sock -H unix:///var/run/alt-

[2016-07-29 12:58] gearoidibm commented on #24612
Seeing this on RHEL with latest 1.12 - did this fix not make 1.12.0 ?

[2016-07-29 12:59] dsheets commented on #24527
I confirm I can reproduce this and have started tracking down the cause.

[2016-07-29 13:02] bitsofinfo commented on #23827
Any idea on an eta for this?

[2016-07-29 13:07] thaJeztah commented on #25217
Related to / possible duplicate of https://github.com/docker/docker/issues/24612

[2016-07-29 13:10] thaJeztah commented on #23827
@bitsofinfo this requires changes in SwarmKit (also see the discussion on https://github.com/docker/docker/issues/23964), so most likely in 1.13

[2016-07-29 13:11] thaJeztah commented on #23827
with which I mean to say; not in a patch release for 1.12

[2016-07-29 13:14] thaJeztah commented on #25223
Are you interested in opening a PR for this?

[2016-07-29 13:15] ezrasilvera opened #25225 "multiple "create service" and "service rm" leave orphan containers"
1) Create many services by looping a "docker service create" (I created 200 services with replica=1)
2) Delete all services   I used:   docker service rm $(docker service list | awk '{print $1 }' )
repeat (1) and (2) few times.

After that I was ended up with no services (docker service list returned empty list) but many containers in "Created" state (Need to ps -a in order to list them)

Note tha

[2016-07-29 13:20] thaJeztah commented on #25213
ping @aaronlehmann @dmcgowan PTAL

[2016-07-29 13:24] bboreham commented on #25223
@thaJeztah yeah, PR is done; I'm just rebuilding my test machine to check it.

[2016-07-29 13:30] workabyte opened #25226 "How to move just /var/lib/docker/volumn"
Sorry, still very new to all of this but cant find any documentation on it.
We are looking to move the location of the named volume storage to a separate drive.
Googled around a bit but with no luck.

[2016-07-29 13:30] ydewit opened #25227 "Expose ```parse``` command with a way to extract LABEL, ARG, ENV before the build"
We have a Makefile based builder we use to build all our images. At a minimum, we have to specify the IMAGE_NAME and the IMAGE_VERSION and then include a base Makefile.mk where all rules are located. For more complex images with all kinds of dependencies, we end up having to add more metadata to our Makefiles.

Why not embed this metadata directly in the `Dockerfile` and provide a simple way for a

[2016-07-29 13:38] ezrasilvera opened #25228 "Support multiple service IDs on "docker service tasks""
It would be very useful if we could list tasks of multiple services in a single command
This capability is supported by "inspect" and "rm" so I see no reason why "tasks" would be different

[2016-07-29 13:46] cpuguy83 commented on #25227
@ydewit the parser is in an importable package.
I'm not sure why this would be error prone.

[2016-07-29 13:48] cpuguy83 commented on #25226
@workabyte You'd have to set this up manually with a mount. Docker does not provide a way to move just the volume storage, only the entire `/var/lib/docker` dir.

[2016-07-29 13:48] aleksejlopasov commented on #23880
I have the same problem with my services that must run periodically. I've created a service which runs a container with a php script inside of it. This script must run every day at the same time. But when the script finishes his work, container stops and that's all. I can't run it again from the master-node. the only way is to remove the service and recreate it. So docker swarm mode doesn't fit th

[2016-07-29 14:00] DreamFlasher opened #25230 "docker pull works but docker-compose pull doesn't"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
physical, Windows 10 x64, docker beta, cygwin

**Steps to reproduce the issue:**
Docker compose file contains private image
1. In Cygwin `docker-compose pull`

**Describe the results you received:**
[code]

**Describe the results you expected:**
The s

[2016-07-29 14:00] thaJeztah commented on #25226
I'm closing this issue, because this is a suppor question, not a bug, and forums.docker.com, or the #docker IRC are more suitable for that, but feel free to continue the discussion

[2016-07-29 14:00] #25226 closed

[2016-07-29 14:04] thaJeztah commented on #25225
Thanks for reporting! This looks like a duplicate of https://github.com/docker/docker/issues/24244, so please continue the discussion over there; feel free to add this description as a comment, as it may contain some information to reproduce the issue

[2016-07-29 14:04] #25225 closed

[2016-07-29 14:05] workabyte commented on #25226
@thaJeztah, being that there is no config in docker for setting location of these dir maybe this could be seen more as a feature request?

I could see value in having the ability to config the location of just the volumes dir.

To @cpuguy83 point, there are other ways around this and maybe that is the better approach as there is no modifications needed on dockers side.

Just a thought, thank you b

[2016-07-29 14:05] sitano commented on #25176
The change from May 28, f182748b9b7d639c4db09f4f72411aba5f811f4e by @jstarks breaks the installs which were done before. Graph DB does not migrate automatically to the new path C:\ProgramData\docker\image\windowsfilter\ (from C:\ProgramData\docker\image\Windows filter storage driver\).

[2016-07-29 14:06] thaJeztah commented on #25223
Awesome! Thanks so much :+1:

[2016-07-29 14:11] sitano commented on #25176
@jstarks Is not that a bug, the graph path calculation depends on

but not the registered driver codename it self?

[2016-07-29 14:13] oszi commented on #25121
Storage issues (dm_task_run failed) started to occur on other docker hosts too with LVM thinpool
so I checked the machine mentioned above:

[code]

Skimming the above log it's likely to have also been a storage issue. Volumes in this case.
I have no idea what corrupts them. Maybe deferred removal / deletion?

:disappointed:

[2016-07-29 14:14] thaJeztah commented on #25220
You can set *engine* labels on the node itself (using a `daemon.json` file, or the `--label` flag on the daemon).

Node labels cannot be set by the node itself by design; node labels are "trusted", and only Swarm managers are allowed to set these labels.

[2016-07-29 14:23] thaJeztah commented on #25215
ping @mavenugo @mrjana PTAL

[2016-07-29 14:29] jhorwit2 opened #25231 "[feature request] create service in global mode except only route to local container"
Currently, when you create a service in global mode with a published port you get VIP load balancing by default. This is great when you want load balancing, but there are use cases where you don't. For example, lets say I want to run a container on every node that's aggregating stats (cadvisor, prometheus, etc) for the host. Then I have some external service aggregating all those stats together so

[2016-07-29 14:47] thaJeztah commented on #25231
/cc @mavenugo @mrjana wdyt?

[2016-07-29 14:50] DreamFlasher opened #25232 "Docker volume empty folder on Windows"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
physical, Windows 10 x64, docker beta, cygwin

**Steps to reproduce the issue:**
1. In Cygwin `winpty docker run -it --rm -v c:/full/path/project:/project private/image bash`
or
1. In Cygwin `winpty docker run -it --rm -v /cygrive/c/full/path/project:

[2016-07-29 14:53] farhatmo commented on #23968
@thaJeztah  it's working for me also : `--storage-driver=overlay` . Thanks so much :+1:

[2016-07-29 14:57] jhorwit2 commented on #25180
cc @stevvooe since you handled the pr for `ps`. Thoughts on adding `-a` and perhaps defaulting to self? I keep forgetting about `self` since that's not how `docker ps` works (albeit way different).

[2016-07-29 15:05] jhorwit2 commented on #25219
I can't reproduce this.
[code]

I ran curl on each swarm host and got RR between 3 ips.

Then i ran

`docker service scale swarmtest=5`

Repeated the curl test and got RR between 5 different ips on each swarm host.

[2016-07-29 15:13] drngsl opened #25233 "Docker failed to connect to VolumePlugin in v1.12 with .json file"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. Destination: Enable Docker to use my VolumePlugin
2. Method: Create plugin file in plugin directory. /usr/lib/docker/plugins/volplugin/volplugin.json
{
    "Name": "volplugin",
    "Addr": "http://127.0.0.1:7879"

[2016-07-29 15:20] icecrime commented on #25233
Ping @anusha-ragunathan @tiborvass!

[2016-07-29 15:21] vovodroid commented on #24752
Also with kernel 4.6 and "vfs" and "overlay".

[2016-07-29 15:22] cpuguy83 commented on #25232
I've seen some people complain about this.
Can you go into the docker app preferences and unshare/re-share the dirs/drives you want?

[2016-07-29 15:28] yongtang commented on #25228
@ezrasilvera The `docker service tasks` has been renamed `docker service ps`. Not sure if the proposed change is still relevant. I still created a PR #25234 and let me know if it makes sense.

[2016-07-29 15:33] dnephin commented on #25200
From the usage text:

    "Remove a published port by its target port"

The important bit is **target port**. So `--publish-rm 80` should work.  This is likely going to be a common mistake, so we can probably do something to make this easier to discover. Either error if there is a colon in the value, or allow the port spec, parse it, compare both target and published port, and raise an error if th

[2016-07-29 15:42] DreamFlasher commented on #25232
I did that (remove checkbox, apply, set checkbox, apply) -- no change.

[2016-07-29 15:45] mike-hearn commented on #25200
That doesn't seem to be working either:

[code]

[code]

[2016-07-29 16:03] thaJeztah commented on #25232
I think there's still an issue with non-ascii characters in passwords, also see the troubleshooting section; https://docs.docker.com/docker-for-windows/troubleshoot/#/host-filesystem-sharing

[2016-07-29 16:06] cpuguy83 commented on #25202
`docker volume create` is done at the node level, not at the cluster level.

Here is the syntax you should use:
[code]

[2016-07-29 16:06] jhorwit2 commented on #25200
I noticed something interesting. If your service is in an overlay network this functionality works fine, but if you didn't specify the network and only have ingress it won't.

[2016-07-29 16:08] crosbymichael commented on #25222
@thaJeztah nothing changed in the debian scripts

@HeadlessChild the only error/warning i see was about the `Delegate` field in the service file.  I thought that systemd warns but ignores unknown fields, maybe the jessie version is different.

I think the real error was `Jul 29 09:27:51 lnxannaj systemd[22746]: Failed to chown socket at step GROUP: No such process`.

I think this happens because t

[2016-07-29 16:14] dariko commented on #25219
If I run it one time it works, the problems begins to appear after some scaling.
I just tried my script it again in ubuntu 1504 (adding a --no-notice flag to parallel) (kernel 4.2.0, docker 1.12.0), and the service correctly scaled to 2, 5, 4, 16, 14. Each of these scaling was considered OK after checking that the number of containers responding to the requests made to a manager was consistent wit

[2016-07-29 16:15] crosbymichael commented on #25217
@xasx can you give me a link to the ISO download that you use to install.  I'm trying to setup a similar setup for reproduction of the issue.

[2016-07-29 16:15] thaJeztah commented on #20412
Looks like a duplicate indeed; let's close this one as a dup of https://github.com/docker/docker/issues/20079

[2016-07-29 16:15] #20412 closed

[2016-07-29 16:23] crosbymichael commented on #25098
@theonlydoo is your system still messed up?  Could you run something like `journalctl -xe` and see if anything related comes up in the logs?  Thanks

[2016-07-29 16:24] #23973 closed

[2016-07-29 16:26] mrjana commented on #25219
@dariko Appreciate the detailed bug report and the scripting to repro the problem. I will try it on my end but it seems we are hitting some corner case scenario where the backend information for the LB is not getting properly updated.

[2016-07-29 16:27] konstruktoid commented on #24142
Hi @ebriney , I'm trying to install 1.12.0-BETA21 but I'm still getting the same messages as above.
Looking forward to trying the script out.

[2016-07-29 16:28] ziyouchutuwenwu opened #25235 "net=host mode bug under mac, container with default bridge mode can not access host opening port"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
[code]
here is my host mac  network info
![local_network](https://cloud.githubusercontent.com/assets/7458713/17255309/402d0136-55eb-11e6-9651-988242db646a.png)

issue 1
**Steps to reproduce the issue:**
1. start a new container with -net=host mode
[co

[2016-07-29 16:38] ebriney commented on #24142
Sorry i'm not at the office but you can find it on the link below

https://forums.docker.com/t/cannot-uninstall-docker-for-windows/15661/9

[2016-07-29 16:41] mike-hearn commented on #25200
Wow, yep. Great catch @jhorwit2. I just verified:

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2016-07-29 16:42] outcoldman opened #25236 "Cannot access containers by hostname with Docker overlay driver in Swarm Mode"
TL;DR with overlay network cannot access containers by hostnames located on different swarm node

Create swarm cluster with 2 nodes

[code]

Create overlay network

[code]

Start new service with `outcoldman/splunk` (nothing specific about this image, just use as an example)

[code]

Wait till you will see that service will be deployed to both nodes

[code]

Do docker inspect for both containers

[2016-07-29 16:43] outcoldman commented on #24679
In 1.12 all issues with load balancing are gone, but the network discovery by hostname does not work, see https://github.com/docker/docker/issues/25236. It does not seem like the same bug as described here.

[2016-07-29 16:46] jhorwit2 commented on #25219
really strange. I ran the same scripts again scaling from 2 -> 10 -> 20 -> 15 and each time got all the ids.

`docker service create --replicas 2 --name hostname --publish 80:80 alpine   sh -c 'while true; do echo -e "HTTP/1.1 200 OK\n\n$(hostname)" | nc -lp 80; done'`

`docker scale service hostname=10`

[code]

`docker service scale hostname=20`

[code]

`docker service scale hostname=15`

[code

[2016-07-29 16:47] jhorwit2 commented on #25219
I wonder if this has something to do with the docker machine host? I don't have that setup to test. I'm running this on 3 ubuntu 15.04 vms.

[2016-07-29 16:55] aaronlehmann commented on #25055
I discussed this with a few people yesterday and I think we should vendor the latest etcd/raft library in 1.12.1. Ideally we would only take a specific commit that solves the problem, but I don't think we know which one solves it. Bisecting would be difficult because the issue can't be triggered reliably.

[2016-07-29 16:56] jhorwit2 commented on #24679
@mavenugo @thaJeztah afaik this is expected because ping isn't supported by ipvs implementation currently.

[2016-07-29 17:00] icecrime commented on #25230
Ping @aanand @dnephin!

[2016-07-29 17:05] jhorwit2 commented on #24679
Service discovery seems fine to me though. I can both ping and curl services.

[code]

Then in another container:

[code]
As you can see i'm RR between each vip in the network for swarmtest service.

[2016-07-29 17:18] dariko commented on #25219
@jhorwit2 are h1/h2 both managers? Later I'm gonna try it on 2 ubuntu 16.04 hosts.
I used docker-machine hoping for a more consistent setup. I was investigating another problem I'm having and I noticed this one :wink:

@mrjana thank you

[2016-07-29 17:21] jhorwit2 commented on #25219
@dariko yea, i have 3 managers only in that cluster.

[2016-07-29 17:36] tiborvass commented on #25233
@drngsl Would you mind providing some daemon logs so that we can see the actual error?

[2016-07-29 17:41] sanimej commented on #25236
@outcoldman Docker Service Discovery has always been based on the container name and not the hostname of the container. The behavior you are seeing is expected. In 1.12 with the introduction of services, the discovery works for service name as well.

[2016-07-29 17:45] nathanleclaire commented on #23880
FWIW, you might be able to work around this in the interim by running cron inside of the container, so that it wakes up and runs the script same time every day and container doesn't exit -- e.g. https://forums.docker.com/t/running-cronjob-in-debian-jessie-container/17527/5

[2016-07-29 17:47] mattrobenolt commented on #24675
Seems to be completely resolved since 1.12 without needing to unload ntpd. :+1:

[2016-07-29 17:47] dmcgowan commented on #25213
Looks like migration is failing `msg="migration failed for b0ffef6dbd7de999cb61c5e0464329d416a96764d291abeb5948170ebb9ac44e, err: invalid checksum digest format"`. Did you recently update your engine from pre-1.10 as well? When running 1.12 and issuing `docker images`, do you see all the images you expect? Can you also try re-pulling the image you are using as the base of Dockerfile (the `From` im

[2016-07-29 17:48] #24766 closed

[2016-07-29 17:49] stevvooe commented on #25202
To clarify, `docker volume create` must be run on each node you intend to use it on.

Optionally, you can use the syntax provided by @cpuguy83 to auto-create the volume before the task runs on the target node.

Since the volume did not exist on Second and Third, I'm surprised this didn't fail. There may be a bug there.

[2016-07-29 17:56] aaronlehmann commented on #25213
This looks like #20267, a bug in migration where temporary files were written non-atomically, so they could be corrupted if the process was interrupted. It was fixed in 1.10.2. If 1.10.0 or 1.10.1 was installed at some point and was interrupted during the migration process, it could have caused this corruption.

The fix would be to delete the `.migration-diffid` files in the subdirectories of `/va

[2016-07-29 17:56] outcoldman commented on #25236
@sanimej ok, so this is what I was afraid of. Seems like a design bug then. What is the recommended way to setup replication between containers created by same service?

Let's say that I want to setup replication between 3 DB instances, if I want to use `docker service create --mode replicated --replicas 3 --name my_db`. I can connect client to my 3 db instances by using name `my_db`, but how I wi

[2016-07-29 18:00] Quantum1234 commented on #19554
for Ubuntu 15 and greater make sure you check the formatting in the docker.service file , if you do not format the EXEC line correctly you can get this error, as well

[2016-07-29 18:03] allencloud opened #25242 "aufs display maybe strange in /var/log/upstart/docker.log"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1.start docker daemon
2.check /var/log/upstart/docker.log
3.find `time="2016-07-29T10:54:54.023907428-07:00" level=info msg="[graphdriver] using prior storage driver \"aufs\""`, I think ` \"aufs\"` display is somewha

[2016-07-29 18:04] RowanKaag commented on #24675
I can confirm that `Docker version 1.12.0, build 8eab29e`, `stable` channel on `macOS Sierra - Developer Preview 3` is working perfectly. Didn't have trouble with `docker beta 20`, `beta` channel on `macOS Sierra - Developer Preview 3` either.

[2016-07-29 18:12] icecrime commented on #25157
Isn't this related to #25185?

[2016-07-29 18:16] mavenugo commented on #24679
Thanks @jhorwit2 for confirming. and yes we added partial support for ping service-name due to popular demand.

anyways, I think we still need to figure out the specifics of issues seen in @upccup @Ismael environments.

[2016-07-29 18:22] sanimej commented on #25236
@outcoldman Looks like your requirement is to get the IPs of backing containers of a service. In the service discovery we add a special entry `tasks.<service_name>` which lists the A records of all the container IPs. Will this work for you ?

`service create --endpoint-mode dnsrr` which will return all the IPs of the backing containers instead of a VIP for the service. Currently this doesn't work

[2016-07-29 18:23] ernestgwilsonii commented on #24996
This was answered in https://github.com/docker/docker/issues/25004

[2016-07-29 18:23] mlaventure commented on #25157
It is, it should be fix now.

[2016-07-29 18:23] konstruktoid commented on #24142
Thanks for the link @ebriney and I ran the script, and tried to reinstall twice as well, without success.
I also removed the Hyper-V Docker VM, then removed C:\Program Files\Docker, and then tried installing Beta InstallDocker.msi. This fails as well.

![image](https://cloud.githubusercontent.com/assets/7956715/17258972/ace44f36-55c9-11e6-9c7d-fbd6b15b4316.png)

[2016-07-29 18:24] ezrasilvera commented on #25228
@yongtang  it is still relevant. thanks.

[2016-07-29 18:27] #25157 closed

[2016-07-29 18:42] thaJeztah commented on #25055
Let me add this to the 1.12.1 milestone for consideration

[2016-07-29 18:48] stevvooe commented on #23880
At this time, swarm mode is focused on long-running services.

To be honest, in a production system, I have been unhappy nearly every time I've used cron. The solution provided by @nathanleclaire is great but the cron approach has problems when you _need_ something to run, particularly when you want to customize deadline behavior and backfill. There are also issues involving how cron stores state

[2016-07-29 18:52] adaphi opened #25244 "Disappearing npm packages when building with overlay2"
We're having an issue where a Dockerfile that used to build with overlay FS fails to build in overlay2. After some investigation I've cut it down to a very simple Dockerfile that reproduces the issue:

[code]

Building this with overlay works as expected, however building it with overlay2 fails on the final step with:
`/bin/sh: 1: npm: not found`
Looking at the individual layers reveals that this

[2016-07-29 18:54] #24364 closed

[2016-07-29 18:56] sfsmithcha commented on #25183
@icecrime , don't think this is covered in the docs. especially since, up until v1.12.0rc1 experimental features didn't get any documentation. We should definitely include a mention of it in the docs. Currently when you search "experimental" (yay! docs search) it only returns hits for the experimental advisory.

[2016-07-29 19:01] zgoda commented on #25213
I'm very sorry, this is classic PEBKAC.

In one specific case tagging line has been missing from build script.

[2016-07-29 19:01] #25213 closed

[2016-07-29 19:10] padyx commented on #24862
I am very interested in this, because as far as I know the Oracle DB cannot run in a container without either the `--privilege` option or specifying the `--shm` flag when running a container.

Given that they are both not supported yet in API 1.24 for services AFAICS, it would be impossible to replace a Docker Swarm (standalone) by Docker 1.12 Swarm to run such services.

[2016-07-29 19:23] stevvooe commented on #25180
@jhorwit2 I'm not a huge fan of the in-band `self`. I am not sure where else we do this, but it can create ambiguity and it is only valid on manager nodes. I'd argue for the following:

[code]

As far as the use case of querying all tasks in a single go, the right approach should actually be the inclusion of a `docker tasks` command. This was omitted from 1.12 since we wanted to avoid the introduc

[2016-07-29 19:24] outcoldman commented on #25236
@sanimej ip addresses are not very helpful. What I really want is to have a way the container itself to know what hostname/address can be used by this container to be advertised. And of course I want to do that without talking to the docker daemon.

I am actually a little bit confused. Docker says that it has built-in orchestration solution (see https://blog.docker.com/2016/06/docker-1-12-built-in

[2016-07-29 19:26] stevvooe commented on #25211
This is probably a transient reporting error. Make sure to include the output of `docker service ps <service>` to confirm.

[2016-07-29 19:29] icecrime commented on #25244
Ping @dmcgowan!

[2016-07-29 19:30] shawnwhit commented on #25098
I just updated from rc4 to rc5 and got the same issue. I am running Centos7

[2016-07-29 19:41] ToBeReplaced opened #25245 "How to copy files into a named volume without an attached container?"
If I create a volume with:

`docker volume create --name test-volume`

I would like to then copy `example.cfg` into the volume. However, `docker cp` works with containers, not volumes.

Right now, I need to create a container that mounts the volume, copy the file in, then remove the container. Alternatively, I can inspect the volume and modify the filesystem directly. Is there a better way?

[2016-07-29 19:43] hiepsikhokhao opened #25246 "Stop docker-engine timeout and cannot start container after start docker-engine back"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

# dmidecode 2.12-dmifs
SMBIOS 2.8 present.

Handle 0x0100, DMI type 1, 27 bytes
System Information
	Manufacturer: HP
	Product Name: ProLiant DL380p Gen8
	Version: Not Specified
	Serial Number: SGH325XXA5
	UUID: 35353636-3235-4753-4833-323558584135
	W

[2016-07-29 19:51] icecrime commented on #25246
Cc @crosbymichael @mlaventure!

[2016-07-29 19:58] LK4D4 commented on #25017
I'm going to track fix PRs to swarmkit here:
- [x] docker/swarmkit#1251
- [x] docker/swarmkit#1258
- [x] docker/swarmkit#1263
- [x] docker/swarmkit#1266
- [x] docker/swarmkit#1267
- [ ] docker/swarmkit#1250
- [ ] docker/swarmkit#1259

[2016-07-29 20:04] mavenugo commented on #25236
@outcoldman as you pointed out the default hostname of the container is the container short-id and it is also the network-alias and hence communication between the containers using this short-id alias should work. If it doesnt, then it is a bug and must be fixed. (I just tried it and the ping between containers using short-id works within the host but failed across the hosts. I think that is the b

[2016-07-29 20:10] mcandre opened #25247 "kitematic.exe: remember preference for virtualbox"
In Kitematic, please remember my preference for hypervisor. The built-in one in Docker Toolbox always fails on my machine, so it's annoying to have to constantly remind Kitematic to use the VirtualBox hypervisor every time.

* Docker Toolbox 1.11.2
* Windows 10 Professional x86_64

[2016-07-29 20:11] StefanScherer commented on #25176
@sitano Thanks for the deep investigation! The change is both in latest docker and also in the just released docker 1.12.0 so windowsfilter should be the new default. This rename step should be part of some update documentation if someone wants to update the TP5 (May 26th) binaries to let's say 1.12.0 or newer.

[2016-07-29 20:23] aaronlehmann commented on #25017
@thaJeztah: We found many overlapping problems that contributed to this result.

Most of them are already fixed in swarmkit thanks to @LK4D4's work. While we're not completely done here, it might be a good exercise to give this setup another try after vendoring the version of swarmkit on its bump_v1.12.1 branch. I expect this should show improvement.

[2016-07-29 20:25] jhorwit2 commented on #25180
@stevvooe As far as I can tell the only other place is `node inspect`. `docker tasks` definitely seems like the best solution for more task centric stuff. I find myself typing `docker tasks` at least once a day since the rc came out lol.

The only thing I was struggling on was `docker ps` is used to show all *running* containers, but `docker node ps` shows all tasks regardless of state. Same goes

[2016-07-29 20:32] dmcgowan commented on #25244
thank you @adaphi for the detailed report. I am able to replicate this issue and it appears to be caused by overlay setting the /usr/local/lib/node_modules directory as opaque. I am still investigating what caused this directory to get marked as such.

[2016-07-29 20:35] mlaventure commented on #25246
@hiepsikhokhao can you provide us with the daemon logs?

[2016-07-29 20:47] rvernica commented on #25217
I have the same problem. Here is what I get:
[code]
I installed Fedora 24 from this [ISO](https://download.fedoraproject.org/pub/fedora/linux/releases/24/Workstation/x86_64/iso/Fedora-Workstation-Live-x86_64-24-1.2.iso)
[code]

[2016-07-29 20:52] stevvooe commented on #25180
Agreed.

Something like `docker node ps $(docker node ls -q)` would be a much better pattern. I am not sure why we limited this a single node.

We may want to filter the output of `docker xxx ps` to only including tasks that are running or will run. We added the more verbose output since people kept asking how to get service errors.

[2016-07-29 20:58] sfsmithcha opened #25248 "swarm mode services don't need to run in `-d` detatched mode"
Brought up by @thaJeztah here: https://github.com/docker/docker/pull/25197

hm, thinking; do we explain somewhere that services always run in "detached" mode, so there's no -d / --detach?

[2016-07-29 21:08] gdevillele commented on #25199
Hmm, that window comes from [Sparkle](https://sparkle-project.org) (update framework for macOS applications)
Not sure we can do much about it...

[2016-07-29 21:10] jhorwit2 commented on #25180
@stevvooe that command works now with the 1.12 GA.

If i'm not mistaken, a filter of `desired-state=running` would do that, right?

If so, I'm basically done with that PR. #dibs

[2016-07-29 21:16] dmcgowan commented on #25244
Unfortunately this seems to be a kernel bug with overlay including the opaque flag on the copy. The `npm install -g npm` is setting the directory as opaque, which is fine. But when a new layer gets created and the opaque flag is copied up, it is hiding everything in the lower layers. A workaround for this would be to run all the `npm install` commands in a single `RUN` line, as you seem to have di

[2016-07-29 21:17] belooussov opened #25249 "Add support for "--volumes-from" option to "docker build""
"docker build" does not support *"--volumes-from"* directive/option (yet).

"docker build" already supports "--volume" directive, and adding support from "--volumes-from" would make things more consistent with "docker run".

This would allow me to create something like this:

Data Dockerfile:
[code]

build, and start the data container.
[code]
And build the target image:
[code]
Real Dockerfile:
[c

[2016-07-29 21:19] crosbymichael commented on #25217
thanks

[2016-07-29 21:19] Ismael commented on #24679
I updated to 1.12 and still have the same issue, I can't ping. But wget from one to the other does work. It didn't occur to me to try wget directly. Ping is the basic tool for network connectivity for me.

You should complete the docs. docker service create doesn't tell you how to mount things. In rc5 the parameter was "dest", but now it's "destination" (I found it by trial and error).

---

How t

[2016-07-29 21:23] spiralsyzygy commented on #24413
+1 on this feature request

[2016-07-29 21:33] #25242 closed

[2016-07-29 21:40] gregdurham commented on #22847
I am having this same issue on centos 7 "docker-engine-1.12.0-1.el7.centos.x86_64" where it worked properly on "docker-engine-1.11.2-1.el7.centos.x86_64"

[2016-07-29 21:41] outcoldman commented on #25236
@mavenugo yes, you are right, the bug I posted is about that. I cannot access containers in my network by the short auto-generated hostnames when containers are located not on the same swarm node.

Yes!

That actually will be useful. I mean I do not want hosts with the same hostname inside my network. But for example if I will create service with name `mydb` it will be awesome if I will be able to

[2016-07-29 21:44] kometchtech opened #25250 "Cannot start a heterogeneous image"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[code]

**Steps to reproduce the issue:**
1. docker pull
2. docker run
3. standard_init_linux.go:175: exec user process caused "no such file or directory"

**Describe the results you received:**
[code]

**Describe the results you expected:**
Docker c

[2016-07-29 22:38] Ismael commented on #24679
I redid all my install and now I can use the container port from the host it is running on. Trying to access on another master does not work.

[2016-07-29 22:45] Caligatio commented on #23954
Well, the plugin looks like it does some things but doesn't have any support for VLANs.

[2016-07-29 23:28] thaJeztah commented on #22847
@gregdurham did you make modifications to the unit file, or using a drop-in file? Docker 1.12 on CentOS no longer uses socket activation, so you need to remove the `-H fd://` from the systemd unit file

[2016-07-29 23:30] thaJeztah commented on #25017
Yes @LK4D4  and I have done a lot of testing on those nodes; I'll keep them alive so that we can have a setup to test. Awesome work!

[2016-07-29 23:44] crosbymichael commented on #25217
I'm still working on finding the root cause for this.  Its looking like fedora updated packages since yesterday from my logs and they have caused this.

Here is what I have from the 28th and today:

[code]

you can see thinks like `policycoreutils-python             x86_64             2.5-5.fc24   ` changed from 2.5.5 to 2.5.13.  I'm just trying to find the package that changed the fuse boolean

[2016-07-29 23:58] drngsl commented on #25233
@tiborvass
docker daemon print the following error information:
`DEBU[0018] Calling GET /v1.24/volumes
panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0x8 pc=0xc36981]

goroutine 115 [running]:
panic(0x1a52560, 0xc82000e0f0)
	/usr/local/go/src/runtime/panic.go:481 +0x3e6
github.com/docker/docker/pkg/plugins.readPluginJSONInfo(0xc8206b494d, 0x4, 0xc

[2016-07-30 00:01] drngsl commented on #25233
@tiborvass Of course, when i use .spec instead of .json, command `dokcer volume ls` works properly.

[2016-07-30 00:01] mavenugo commented on #25236
@outcoldman we will get the short-id net-alias resolved. Also I guess based on your response to my question , https://github.com/docker/docker/pull/24973 will interest you.

Regarding the self-discovery use-case, am still not clear on why you would need any other external tool when the built-in service-discovery has features like `tasks.<service-name>`. Essentially, this special dns query will ret

[2016-07-30 00:13] lazyuser commented on #7198
Dear @JonathonReinhart, @pa-de-solminihac and @nalipaz ,
Thank you for your effort to educate me and others not to leave comments unrelated to the issue by doing just that! FYI, Github does not allow searching for issues one is subscribed to without at least commenting on them. For more information see https://github.com/isaacs/github/issues/283. Ironically Github's issue is almost the same age as

[2016-07-30 00:41] stevvooe commented on #24244
@mgoelzer For the most part, we have mitigated this for swarm mode. Let's go ahead and close this.

#24858 is still an active bug affecting swarmkit.

[2016-07-30 00:41] #24244 closed

[2016-07-30 00:48] stevvooe opened #25253 "Volume mount inadvertently creates bind"
If a service is created with the following mount command, a bind will be created, rather than a volume:

[code]

This will result in mounting `/mnt` from the host filesystem onto `/mnt` in the container. The expected behavior is for this to be an error.

@thaJeztah @cpuguy83 @gkze

[2016-07-30 01:07] blacktop commented on #12603
I have a networking noob question.  Can I capture traffic inside docker as fast as outside of docker?

`docker run --net=host tcpdump`

Should I expect dropped packets and if so is there anything I can do to not?  I have an application that needs to capture as fast as possible.

Thank you.

[2016-07-30 02:32] icecrime commented on #25247
Cc @mchiang0610!

[2016-07-30 02:43] vklonghml opened #25255 "[QUESTION]does linux docker images could run on the hyper-v container?"
Hi all,
  like the title said, is it possible that a linux docker image run on the hyper-v container, thks

[2016-07-30 02:53] icecrime commented on #25255
Ping @jhowardmsft!

[2016-07-30 03:07] tiagoalves83 commented on #25202
@cpuguy83 How should I use "source" option ?
[code]

[2016-07-30 03:16] tiagoalves83 commented on #25202
@stevvooe The volume is being created in all nodes that get a replica, but the NFS share is only being mounted in the node-1 host.
[code]

[2016-07-30 03:39] tiagoalves83 commented on #25202
@stevvooe After `service rm` the volumes still available for the nodes.
[code]

And I can re-create them with the same name, over and over ... (Is it the right behavior ?)
[code]

But even so, still no luck to list files in node-2 or node-3
[code]

I will create a new volume with different name in every node and after that I will create the service with 3 replicas ...

[2016-07-30 03:41] mchiang0610 commented on #25247
@mcandre Thanks. Noted for this feature on the Kitematic repo. ( @icecrime mind closing this issue so it doesn't stay in docker/docker?)

@mcandre Curious on why you're not using Docker for Windows and is instead using Docker Toolbox since you are on Windows 10 Professional?

Thanks,
Michael Chiang

[2016-07-30 03:45] #25035 closed

[2016-07-30 03:55] #24302 closed

[2016-07-30 04:04] CharlesSong commented on #24672
Failed to create Switch "DockerNAT": Inconsistent parameters PolicyStore PersistentStore and Dhcp Enabled
   在 Docker.Core.Pipe.NamedPipeClient.TrySend(String action, Object[] parameters)
   在 Docker.Core.Pipe.NamedPipeClient.Send(String action, Object[] parameters)
   在 Docker.Core.Backend.BackendClient.Start(Settings settings)
   在 Docker.Actions.<>c__DisplayClass26_0.<RestartVm>b__0()
   在 Dock

[2016-07-30 04:05] tiagoalves83 commented on #25202
@stevvooe Good news!  It works when creating the volume in each node, and after that create the service with 3 replicas ...

[code]

I believe the behavior for services with volumes should be one of the following:
a) swarm creates the nfs volume (like is already doing) and mount the nfs share (it is not working) before it schedules the replicas;
b) swarm only schedules replicas where the nfs volum

[2016-07-30 04:07] icecrime commented on #25247
Closing, thank you Michael ;-)

[2016-07-30 04:07] #25247 closed

[2016-07-30 04:39] jhowardmsft commented on #25255
No, they can't.

[2016-07-30 04:39] #25255 closed

[2016-07-30 05:39] hiepsikhokhao commented on #25246
hi @mlaventure,

This error happens on container used macvlan 802.1q driver. Please check command and daemon log  below. Thank you

=== command
root@caas-692.250 ~ $ docker ps
CONTAINER ID        IMAGE               COMMAND             CREATED             STATUS              PORTS               NAMES
root@caas-692.250 ~ $ docker run -dit --name=vlan693 --net=vlan693 10.30.70.16:5000/sre/images:v1

[2016-07-30 06:22] thaJeztah commented on #25250
Docker does not support this out of he box, so this isn't really a bug; could you try discussing this on forums.docker.com?

[2016-07-30 06:22] #25250 closed

[2016-07-30 06:32] jean-christophe-manciot commented on #24155
Issue is still there with 1.12.0:
[code]

[2016-07-30 07:19] jean-christophe-manciot commented on #24155
In my situation, the issue comes from an **undeleted broken symlink /var/lib/docker after a previous purge of docker**.
I have just found a workaround:
From syslog:
[code]
To be perfectly clear,  the timeline was the following:
- successfully installed docker a while back (several months ago)
- [changed Docker's storage base directory](https://forums.docker.com/t/how-do-i-change-the-docker-image-i

[2016-07-30 07:45] brauner commented on #20548
This should be fixed by https://github.com/lxc/lxcfs/pull/124.

[2016-07-30 09:07] thaJeztah commented on #25098
@shawnwhit the "socket failed to load" is resolved in 1.12.0, we're looking into the SELinux issue; appears to be an update in SELinux upstream that causes issues

[2016-07-30 09:11] kometchtech commented on #25250
OK...

Try on the Forum.

[2016-07-30 09:41] dariko commented on #25219
Ok, I got to try it on two physical ubuntu 16.04, both on 1.12.0, exposing $ip1 and $ip3 on a private network (no firewall active).

Note that after each scaling request I waited until the correct number of container were running (and a couple seconds more) before running the tests.

[code]

Up to here it run smootly, just as per your test.

But when I tried scaling the service back to 15:

[code]

[2016-07-30 09:43] thaJeztah commented on #25121
Yeah, I don't see anything really standing out in those logs; all look ok (apart from one volume not found, but that may have been a user error).

Re: corruption; could you have run out of disk space at some point?

No other suggestions at this moment; based in the information here, I'm not sure this is a bug in Docker, so I suggest closing, but let me know what you think

[2016-07-30 09:45] thaJeztah commented on #25121
Oh! I spotted one "secret" environment variable in your logs; not sure if that was just for testing, but you may want to check :innocent:

[2016-07-30 09:57] dariko commented on #25219
I kept trying and after another scale=0, scale=10 the test got stuck on $ip3.
I tested it manually and noticed $ip3 had became unreachable on port 80, while dockerd was still a socket using it:
[code]

And, while I was inspecting this situation,  I noticed the service had become unreachable even from d1, also with the port still in use by docker
[code]

still the service has the correct number of

[2016-07-30 10:32] saiwl commented on #25221
@thaJeztah , thank you for your reply.
The docker version on the host is already 1.12.0-r3. Here is the docker version command output:
[code]

And the cat /proc/version output:
[code]
Here is a part of the error log:
[code]
We use docker with mesos. This situation happens on our several hosts in cluster.
Thank you!

[2016-07-30 10:53] kometchtech commented on #25250
Found a similar forum post seems to slightly different contents.

https://forums.docker.com/t/error-response-from-daemon-no-such-container/8618/2

So stop with the following error message in my case.
`standard_init_linux.go:175: exec user process caused "no such file or directory"`

[2016-07-30 11:31] cpuguy83 commented on #25202
This works if you use the syntax I have you. Source is the volume name.

[2016-07-30 11:48] kometchtech commented on #25250
@thaJeztah
As the file is not found.

[code]

[2016-07-30 12:14] NikolausDemmel commented on #13490
After researching this for a few hours, I cannot believe that there seems to be no officially recommended solution or workaround for build-time secrets, and something like https://github.com/dockito/vault seems to be the only viable option for build-time secrets (short of squashing the whole resulting image or building it manually in the first place). Unfortunately https://github.com/dockito/vault

[2016-07-30 13:05] bacoboy commented on #13490
After what seems like forever (originally I heard it was slated for Q4 2015 release), AWS ECS seems to have finally come thru on their promise to bring [IAM roles to docker apps](http://docs.aws.amazon.com/AmazonECS/latest/developerguide/task-iam-roles.html).  Here is the [blog post](https://aws.amazon.com/blogs/compute/help-secure-container-enabled-applications-with-iam-roles-for-ecs-tasks/) as w

[2016-07-30 13:32] npcode opened #25256 "`docker restart` causes unexpected creation of a container"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

A swarm cluster with 1 manager and 2 workers (aws ec2 instances)

**Steps to reproduce the issue:**
1. `docker service create --replicas=3 --name nginx nginx`
2. Restart a container of the nginx service. e.g. `docker restart nginx.2.9l6beh0o1wx9zuykb

[2016-07-30 13:33] oszi commented on #25121
Thanks but that's always generated on every container start. :-)

That volume should have been inherited with "volumes from" and isn't mounted from the host's filesystem. It's only defined in the Dockerfile of the other image. As I said it works on a second try.
The LVM pool has over 200 GB free space so that can't be it either.

This issue sounds a lot like #19296
I'm not sure if it's a bug in do

[2016-07-30 13:41] thaJeztah commented on #25250
That file you're searching for is just one of the source files in docker; https://github.com/opencontainers/runc/blob/master/libcontainer/standard_init_linux.go

The actual "no such file" error is the Linux kernel giving a non-informative error;

You cannot run the iot/armhf-ubuntu image, because it can only run on armhf hardware, and you are running on amd64. If you try to run such an image, it w

[2016-07-30 13:46] kometchtech commented on #25250
And you, I understand.
x 86 version, corresponding to other architectures will be?

My best regards.

[2016-07-30 13:49] thaJeztah commented on #25250
amd64 is the default; just run `docker run -it ubuntu` and it should work

[2016-07-30 13:52] kometchtech commented on #25250
However, running on the track record of the past.

http://inaz2.hatenablog.com/entry/2015/03/03/235759

That bogs down from 1.12 in this is something around the behavior was changed?

My best regards.

[2016-07-30 14:04] thaJeztah commented on #25250
I'm not aware of anything changed in that area; perhaps @justincormack has some ideas

[2016-07-30 14:04] roovo commented on #24033
Looking good - I've just had a go and it looks like it'll work for me - I'm seeing the proxy settings propagated to containers and can change them using the preferences - just what I needed -> many thanks.  I'll give it a go from behind the corporate firewall next week and report back here if I find any issues.

[2016-07-30 14:06] thaJeztah commented on #25221
RC3 is not the latest version; that's still a release candidate (pre release); docker 1.12.0 (GA) was released, and I think there was a fix in this area

[2016-07-30 14:32] rodlogic commented on #25227
I meant error prone in terms of rewriting the parser in your language of choice. But sure, if I were to create a parser in Go that imports the Docker parser, that is a different story.

I guess the question is mainly whether does it make sense to support such functionality in the Docker engine.

[2016-07-30 14:33] tiagoalves83 commented on #25202
Thank you @cpuguy83, I got it now. "source" and "target" are mandatory options when using volume-*.  The volume will be created in each node with the "source" name.

[code]

[2016-07-30 16:03] yongtang commented on #25233
@drngsl It looks like the issue has been fixed in #25053, though it is not in 1.12.0 yet.

[2016-07-30 16:54] niieani opened #25257 "swarm mode services: no ability to partition ingress network / constrain --publish to certain nodes only"
Currently using `--publish` with Swarm Mode Services results in opening ports on the whole Swarm (`ingress` network).
Notably, it's not possible to publish a service on an individual IP only, i.e.:

[code]

In any case, the above wouldn't be super useful because it would lock constrain the service to run only on the node which has the said IP.

On the other hand, currently there is no way to "over

[2016-07-30 17:07] mstuparu commented on #24882
I had something similar where I was trying out the new swarm in docker 1.12 and kept having issues on the ingress. After some debugging and several cluster recreations found out that I forgot to allow UDP between my AWS nodes.

Maybe an error/status should be shown at the cluster level? `docker swarm status`

[2016-07-30 17:08] yongtang commented on #24547
@tonistiigi The PR #24237 has already been merged. I removed network requirement and all tests still passed with networking disabled. I created a PR #25258 to remove `testRequires(c, Network)` from the integration tests.

[2016-07-30 18:41] asmialoski commented on #25098
I just updated from rc4 to rc5 and got the same issue. I am running RHEL7.
Workaround: I have copied /usr/lib/systemd/system/docker.socket from another machine with RC4 and it´s work.

[2016-07-30 19:04] tolmasky opened #25259 "Inexplicable Performance Characteristics (Macbook Air faster than AWS c4.8xlarge at container creation)"
We are trying to optimize for container creation and I am hoping that I am simply doing something silly. The app we're building spins up many containers in response to user actions, and Docker seems to very quickly degrade in performance when it is asked to do this. We've tried just about everything: switching to overlayfs, mounting on a ram disk, running separate docker instances to try to parall

[2016-07-30 19:10] thaJeztah commented on #25259
/cc @tonistiigi @unclejack

[2016-07-30 19:12] thaJeztah commented on #25259
actually; @icecrime didn't you find something in Go wrt performance on a single processor vs multi processor?

[2016-07-30 19:14] thaJeztah commented on #25098
@asmialoski see https://github.com/docker/docker/issues/25098#issuecomment-235627700, also 1.12.0 has been released and contains various bug fixes since RC5

[2016-07-30 20:24] jbayer opened #25260 "docker image spec 1.1 does not include HEALTHCHECK location"
**Describe the results you received:**

in [this twitter post](https://twitter.com/solomonstre/status/759342485483184128) @shykes mentions that docker image format now includes [HEALTHCHECK](https://docs.docker.com/engine/reference/builder/#healthcheck) information, so i expected the docker image spec to contain a reference to it, but when i looked it did not.

**Describe the results you expected:

[2016-07-30 20:26] sswierczyna commented on #25219
I have similar issue after reboot one of node.
In `syslog` I can see:
[code]

[code]

[code]

[2016-07-30 20:36] GameScripting commented on #23987
I just (freshly on a new server) installed Docker 1.12 and noticed that the FORWARD chain is now set to DROP.

Is this indented? Anyone else to confirm that behaviour?

[2016-07-30 20:44] kenyee commented on #24530
I've been trying to figure out the cause of this as well...want to use Docker for setting up a developer server environment locally but when I fire up Docker, HAXM emulators blow up...

[2016-07-30 20:46] georanma commented on #22567
I had a similar issue with the new stable release. Once I updated my subnet address, this was no longer an issue. This is not really mentioned in the documentation for set up.

[2016-07-30 21:09] innocentme1 opened #25261 "Will not the install instruction be cached?"
This link - https://docs.docker.com/engine/userguide/eng-image/dockerfile_best-practices/#/apt-get says that apt-get install should be used with apt-get update for cache busting. Will not the install command also be cached along with update instruction?  I understand that version pinning will help but not sure how mixing the install and update commands will help the cache busting.

[2016-07-30 21:09] a-schuurman opened #25262 "Custom bridge network breaks after reboot"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Running on VirtualBox since our docker platform is currently in development.

**Steps to reproduce the issue:**
- Add system.d service: /lib/systemd/system/dockerbridge.service:
[code]
- Add the service (dockerbridge.service) to 'Requires' in /lib/sys

[2016-07-30 21:31] thaJeztah commented on #25261
if you put them on separate lines, e.g.

    RUN apt-get update
    RUN apt-get install -y foobar

and change the install line, to, eg

    RUN apt-get install -y foobar baz

then the `apt-get update` will not be executed again, and use the cached version for that.

since "update" and "install" are tightly related, it's better to combine them, so that changing the "install" will run both the "upda

[2016-07-30 21:31] #25261 closed

[2016-07-30 21:37] thaJeztah commented on #22567
ping @londoncalling ^^

[2016-07-30 21:39] alexmonroe87 commented on #20698
It would appear that the suggestion in this topic have now broken my apt-et update...

$ sudo apt-get update
Hit:1 https://apt.dockerproject.org/repo ubuntu-trusty InRelease
Reading package lists... Done

[2016-07-30 22:12] innocentme1 commented on #25261
Hey, ya i understand that. Document says "Using RUN apt-get update && apt-get install -y ensures your Dockerfile installs the latest package versions with no further coding or manual intervention. This technique is known as cache busting" and this is giving not giving an essence that package names also should be changed for preventing cache busting.

[2016-07-30 23:55] casoninabox commented on #3465
+100 for UNEXPOSE

[2016-07-31 00:15] outcoldman commented on #25236
@mavenugo could you point on any documentation regarding which DNS queries are supported?

[2016-07-31 00:56] icecrime commented on #25259
@thaJeztah I do indeed, but I don't know if that the case here (see golang/go#15395).

[2016-07-31 00:58] icecrime commented on #25260
Thanks for the report, you're absolutely right it should be reflected in the spec.

[2016-07-31 01:21] tolmasky commented on #25259
So, I've put my AWS docker into one CPU mode by editing docker.service to be:

ExecStart=/usr/bin/taskset -c 16 /usr/bin/dockerd -D ...

I also added -D to match the debug mode that my Macbook Air docker is in.

docker info confirms that it now matches my Macbook Air setup (see below). The only real remaining differences now seem to be OS (Ubuntu vs Boot2Docker), the fact that docker is running in

[2016-07-31 01:22] tolmasky commented on #25259
Sorry, forgot to say the most important part: this has *not* changed the performance of the AWS docker.

[2016-07-31 03:06] ShaneC-C-Y opened #25264 "Image download fail due to network connection and can't re download"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. `$ docker build -t chienuyuc/catnip .`
I have a Dockerfile with `FROM python:3-onbuild` and it is my first time to download python:3-onbuild image.Command is `$ docker build -t chienuyuc/catnip .` However, the net

[2016-07-31 05:08] ashneo76 commented on #22847
I have this on a CentOS 7:

[code]

[2016-07-31 05:31] Noodle05 opened #25266 "New swarm overlay network issue"
I'm testing docker 1.12 swarm, and having some issue with overlay network.

In three nodes (one manager, two workers) swarm environment, all running on ubuntu 16.04 with docker 1.12.
Create two alpine ssh server:

[code]

Found out which node they are running, and go to the node (ssh1 for example), execute command "ip addr show" shows container got two ip addresses from ingress network.

[code]

A

[2016-07-31 05:39] ashneo76 commented on #22847
Further debugging: `dockerd` works just fine. This only fails when starting via systemd.

[2016-07-31 06:08] ashneo76 commented on #22847
Further digging revealed the following in: `/etc/systemd/system/docker.service.d/docker_options.conf`
[code]

Perhaps a left over of an older docker installation.

Hopefully this helps.

[2016-07-31 07:15] michaelkrog commented on #25266
This seems to be precisely what I experience too since I started testing swarm mode from rc4. I have not yet been able to get a swarm working out cluster.

I think it must be a duplicate of https://github.com/docker/docker/issues/24234, but the description may be more to the point.

[2016-07-31 09:22] doronp opened #25267 "Supply a way to match AuthReq and AuthRes in an Authorization plugin"
https://docs.docker.com/engine/extend/plugins_authorization/

As seen in the API there is no context or any unique ID allowing a plugin implementation to match req and resp

[2016-07-31 10:45] thaJeztah commented on #22847
@ashneo76 that doesn't look like a unit file from our packages; did you / do you have the Red Hat fork of Docker installed? I think they distribute a unit file that looks like that

[2016-07-31 10:46] thaJeztah commented on #22847
@ashneo76 ignore my comment; I missed that's not your main unit file, but a drop in

[2016-07-31 10:47] vdemeester commented on #25266
/cc @mavenugo @mrjana

[2016-07-31 10:48] thaJeztah commented on #22847
@ashneo76 you can change that drop-in file, change `docker daemon` to `dockerd` and remove `-H fd://`

[2016-07-31 10:56] Calrama commented on #20548
@brauner Thank you for that, WFM.

For any other Gentoo/Funtoo users that cannot wait for the PR to be accepted:

1. Get the PR [as a patch](https://patch-diff.githubusercontent.com/raw/lxc/lxcfs/pull/124.patch) into `/etc/portage/patches/sys-fs/lxcfs/124.patch`
2. Get yourselves a development, user-patches enabled ebuild of lxcfs, e.g. [mine](https://git.ucworks.org/calrama/gestalt/src/master/sys

[2016-07-31 11:05] a-schuurman commented on #25262
So I've just updated to 1.12, this bug seems to be resolved in that version.

[2016-07-31 11:19] jcstover commented on #23987
I believe this was a wish as expressed in #14041. If you haven't enabled forwarding and docker enables it it used to forward all traffic and thus opening your containers to the outside world. By setting the FORWARD to drop, security whise nothing changes, and if you want to allow traffic you should add the needed rules.

[2016-07-31 11:35] thaJeztah commented on #20548
Looks like this is fixed, or will be soon, so I'll go ahead and close this; thanks all!

[2016-07-31 11:35] #20548 closed

[2016-07-31 13:47] mavenugo commented on #25266
@Noodle05 this works just fine when I tried your example. Can you please make sure the appropriate tcp/udp ports are opened across the cluster to make sure the overlay networking works fine ?

[2016-07-31 15:59] thaJeztah commented on #24675
Thanks all! I'll go ahead and close this as it appears to be fixed in 1.12.0

[2016-07-31 15:59] #24675 closed

[2016-07-31 16:07] thaJeztah commented on #25257
Thanks for suggesting

/cc @mrjana @aluzzardi

[2016-07-31 16:28] WhisperingChaos commented on #24752
@vovodroid

No, probably not.  The aim of User Namespace support is to empower an [unprivileged](http://man7.org/linux/man-pages/man7/capabilities.7.html) user, represented as a Linux process, to construct a type of [sandbox](https://en.wikipedia.org/wiki/Sandbox_(computer_security)) in which this unprivileged process becomes a fully privileged one within its sandbox while remaining unprivileged i

[2016-07-31 16:32] mecton commented on #5618
Here also:

`Linux 4.4.14-24.50.amzn1.x86_64 x86_64`
`Docker version 1.11.2, build b9f10c9/1.11.2`

[2016-07-31 16:39] justincormack commented on #24752
Can you try

sysctl kernel.unprivileged_userns_clone=1

This sets Jessie to behave like most other distros.

If this doesn't fix it it must be something odd with ordering of the
namespace setup.

On 31 Jul 2016 6:29 p.m., "Rich Moyse" <notifications@github.com> wrote:

[2016-07-31 17:01] jianbin-wei commented on #24675
Can we get some idea what is the issue and fix or some reference to find related information?

[2016-07-31 17:12] Noodle05 commented on #25266
@mavenugo I'm sure it's not firewall issue. I even tried to turn off firewall. Also, if it's firewall issue, they shouldn't be able to ping each other at all. It's reachable, just on different IP.

If you looks at output of "ip addr show" inside container, two IPs it get have different netmask, 10.255.0.7/16 and 10.255.0.6/32. 10.255.0.7 is reachable, 10.255.0.6 is unreachable.

@mavenugo May I kn

[2016-07-31 17:16] thaJeztah commented on #25264
/cc @tonistiigi @aaronlehmann

[2016-07-31 17:27] SimoneTaliercio commented on #21282
+1 It would be great to be able to change configuration on a running container!

[2016-07-31 17:31] vovodroid commented on #24752
And it is ) What is most strange, that it works fine in local VMware or Azure.
Would you like to get access to this machine?

Here is full log:
[code]

[2016-07-31 17:36] vovodroid commented on #24752
The only visible thing that differs in SoftLayer is that machine has two network interfaces:
eth0 - innternal 10.....
eth1 - external 159.122.....

[2016-07-31 17:41] ashneo76 commented on #22847
Yes. That is a drop-in file. I think a leftover from the CentOS docker package. I just removed the file and it started working.

[2016-07-31 17:43] ashneo76 commented on #22847
The only way for me to find it was via: `systemctl status docker`

[2016-07-31 17:45] friism commented on #24733
seems like this is mostly a dupe of https://github.com/docker/docker/issues/2259 ?

[2016-07-31 17:47] Noodle05 commented on #25266
Is this same issue as: https://github.com/docker/docker/issues/23855? If so, it's probably by design? Let me try to go to port directly, will report back.

[2016-07-31 18:09] mavenugo commented on #25266
@Noodle05 thats correct. I missed the ping able to reach the individual container-ip case. this is not a firewall issue. BTW, the 2 IPs that you see in the container is not causing this issue. It was added to satisfy another requirement.

The issue here seems to be more of IPVS not load-balancing correctly. Can you share the `ipvsadm` output from the service-sandbox ? The sandboxes are stored in /

[2016-07-31 18:37] thaJeztah commented on #25262
thanks for the clear bug report, @a-schuurman; I'm closing this issue, as this is resolved in 1.12, but comment if you're able to reproduce this with 1.12

[2016-07-31 18:37] #25262 closed

[2016-07-31 20:05] WhisperingChaos commented on #24752
In addition to enabling User Namespace support via ```sysctl kernel.unprivileged_userns_clone=1```, the instructions directed the installation of the ```uidmap``` package:

[code]

It seems [uidmap](https://packages.debian.org/jessie/amd64/uidmap/filelist) must be installed to provide the ```newuidmap``` and ```newgidmap``` programs needed to create the UID and GID mappings for user namespace supp

[2016-07-31 20:17] ksuszka commented on #23851
A word of explanation - I'm not the maintainer of rnbwd/sinopia docker image, just a simple user. The image version I used stopped working correctly after docker upgrade to version 1.12.0-rc2, so I decided to report this. It seems that the maintainer was working on the repository lately and what is now tagged as latest is not the same thing I was using.

If you want to reproduce this issue you can

[2016-07-31 20:18] unclejack commented on #25259
@tolmasky Docker makes it easy to move workloads around from one system to another. Docker uses features of the Linux kernel to spin up containers on the particular hardware it runs on. As you can imagine, it can't magically work around a kernel bug, faulty hardware or slow hardware.

The amount of time it takes to spin up a container depends on many things. A machine with one core might need more

[2016-07-31 20:29] vovodroid commented on #24752
No effect. Also I have no this package and those programs in my VMware environment, but user namespaces work.

[2016-07-31 20:30] paulmenzel opened #25270 "`docker start` fails with mkdir-file-exists error"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Debian 8.4 with systemd

**Steps to reproduce the issue:**
1. Restart Docker daemon (`sudo systemctl restart docker.service`) (in my case it was killed by itself because it was unresponsive (`systemd[1]: docker.service stop-sigterm timed out. Killing

[2016-07-31 20:34] thaJeztah commented on #23851
I'd be interested to hear what the maintainer changed in the image and if it was due to a change in Docker, or a general issue; if something in 1.12 makes older images break, that's a bug

[2016-07-31 20:35] thaJeztah commented on #23851
Note that I mean something / images that worked on 1.11 (not between release candidates)

[2016-07-31 20:48] thaJeztah commented on #25270
Looks like there's possibly two issues with the same effect; the linked issue was closed because it was due to a old AppArmor profile; however in the case you're describing, this comment may be relevant in this case https://github.com/docker/docker/issues/21702#issuecomment-224677467

[2016-07-31 20:49] thaJeztah commented on #25270
ping @crosbymichael @mlaventure

[2016-07-31 21:01] Akaito commented on #21704
I've just experienced-- only once-- what I think to be this same bug on Debian 8.5, kernel 3.16.0, docker 1.12.0.  I tried ensilon's repro above with a tweaked Dockerfile (had to add 'RUN apt-get update' and '-y' to the apt-get install), but didn't repro the issue.  Out of a few more stop/rm/build/start commands, I haven't reproed my original case again.
To work around the issue, I did a `service

[2016-07-31 21:32] tolmasky commented on #25259
Hi @unclejack, one of the first things we tried to rule out the storage possibility is running docker entirely in tmpfs. The machine has 60GB of ram and we made a dedicated 10gb tmpfs for it with no change in performance, so I believe that is not the issue here. Additionally, we can somewhat reproduce the performance slowdown locally (will be reporting back with more numbers soon). But suffice to

[2016-07-31 23:17] niieani commented on #25257
Thanks for considering!

Is there any workaround we could use now, before this is implemented that would allow us to expose selected ports of given service on a given node?
When running with the old Swarm, specifying `-p IP:PORT:PORT` was possible, as was using local bridge or event host networks; I can't seem to be able to workaround this in any way now.

[2016-07-31 23:37] yongtang commented on #25141
@aaronlehmann I create a PR #25271 to try to improve the error messages for IP address auto detection. Please let me know if there are any issues.

[2016-08-01 01:27] pouwerkerk commented on #25259
I was able to confirm this too. On the same VirtualBox VM, I changed the number of CPUs the VM could use and timed the same `docker run` command three times. I did this for 1-4 CPUs, but the speed slows by nearly 3x when going from a single core to two cores, and remains at that speed for all multi-core configurations I've tested.

**1 CPU**
[code]

**2 CPUs**
[code]

You can see the full results

[2016-08-01 02:25] upccup commented on #22847
@ashneo76 @thaJeztah maybe you can try this
[code]

[2016-08-01 02:28] capkurmagati commented on #25259
I also tested this using 3 AWS instance: `t2.micro`, `t2.medium` and `c4.8xlarge`.

|  Instance Type | vCPU  | Memory | Real Time|
|---|---|---|---|
| t2.micro  |  1 | 0.5  | 0m5.707s/0m5.742s |
| t2.medium | 2  | 4  | 0m6.831s/0m6.887s  |
|  c4.8xlarge |  36 | 60  | 0m7.153s/0m7.219s  |

[2016-08-01 02:40] aaronlehmann commented on #25264
Thanks for the report.

Does the download always get stuck at the same place?

Do you only have the problem with this image, or do other images get stuck as well?

Do any error messages show up in the Docker daemon log when you try to pull this image?

[2016-08-01 02:40] shenshouer commented on #24996
I saw the network will create when create service with the custom network in the swarm mode . But there have no load balance. I only get the response on the node where have the container running.

[2016-08-01 02:46] lcamilo15 commented on #25098
I commented out the part that doesn't work /etc/systemd/system/docker.service
weird thing, it worked.

[code]

[2016-08-01 02:47] ShaneC-C-Y commented on #25264
Thanks for the reply.
The download always starts and gets stuck at the same place as above.
I can download other images well, only the one stop in the middle due to internet fail works wrong, and there is no other error message show up.
The same thing happens in downloading python2, `abb742d515b4` is broken.

[2016-08-01 03:01] deviantony commented on #9372
Any news about this? It's actually easier to implement Websockets than HTTP streaming in webapps.

[2016-08-01 03:04] zoujiaqing opened #25273 "The command '/bin/sh -c apt autoremove --purge php7.0-dev' returned a non-zero code: 1"
Can't use apt remove package?

[code]

[2016-08-01 03:07] #25273 closed

[2016-08-01 03:26] ypjin opened #25274 "Is it possible to use 1.12 internal kv store to save custom values?"
Hi, This is just a question.
I'm playing with swarm mode and it's supposed that there is a kv store in my project. Consul was used previously. Since Swarm mode has its own kv store to keep cluster state just wondering if it's possible to store app state in it.

Any comments are greatly appreciated!

Best regards,

[2016-08-01 04:35] kunalkushwaha opened #25275 "Leader selection fails in swarm mode after 2 manager fails(out of 3)"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Windows 7 and Virtualbox using docker-machine 8 (Docker toolbox-1.12)

**Steps to reproduce the issue:**

While trying to reproduce issue from https://gist.github.com/thaJeztah/1599b09b41e696837235f2509df5ade1

- Create 4 node swarm cluster

[code]

-

[2016-08-01 04:59] shenshouer commented on #24996
I know the problem, Because I use the CoreOS as the Host of docker, and the IPVS mode does not load default. So the load balance has no effect.

[2016-08-01 04:59] #24996 closed

[2016-08-01 06:46] JunJiangWang opened #25276 "Under docker swarm mode,network can not be "host"?"
Hi,I just have a question.When I use docker swarm(version 1.12),I found that I can not create a service with '--network host'.
The command is "docker service create --name test --network host redis redis-server" ,and the error is "Error response from daemon: network host is not eligible for docker services".
Any comments are greatly appreciated!

[2016-08-01 06:53] ksuszka commented on #23851
I've just checked this previous version on ubuntu with docker 1.11.1 and same issue occurred, so it seems this is not related to version 1.12, but it was strange coincidence/bad timing of me upgrading docker and retrieving new version of image from the hub.

Sorry to make this false report. I'm closing this issue.

[2016-08-01 06:53] #23851 closed

[2016-08-01 06:54] pinkal-vansia opened #25277 "oci runtime error: process_linux.go:295: setting oom score for ready process caused "write /proc/461/oom_score_adj: invalid argument"
Hi I am trying to build a Docker image on Centos 7 and getting following error,

`oci runtime error: process_linux.go:295: setting oom score for ready process caused "write /proc/461/oom_score_adj: invalid argument`

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Steps to reproduce the issue:**
Dockerfile
[code]

**Describe the results you received:**
[code]
**Add

[2016-08-01 07:01] tonistiigi commented on #25270
This should not be AppArmor issue #21702 as the path here is different. Have you tried the workaround in https://github.com/docker/docker/issues/21702#issuecomment-210142727 ?

[2016-08-01 07:02] michelvocks commented on #25098
Had also today the same issue after upgrading from 1.10.2 to 1.12 on Redhat. Solution from @lcamilo15 fixed the issue.

[2016-08-01 07:20] paulmenzel commented on #25270
@thaJeztah, @tonistiigi, thank you for your responses and hints. I did not try the workarounds, as I was not sure, if that’s safe. But I guess deleting stuff under `/run` is safe, if a container is stopped.

But as it’s a workaround, I am more interested in what the theories are, that the files under `/run` are not cleaned up by Docker itself. Is that expected if the Docker daemon is killed/stops

[2016-08-01 07:44] duypm commented on #15771
I come across the same problem as well, and it's kind of painful for me when my Java webapps is about 900MB but almost 80% of that is rarely changed.
It's an early state of my application and the folder structure is somewhat stable so I don't mind adding 6-7 COPY layer to be able to use the cache, but it will surely hurt in the long term when more and more files and directories are added

[2016-08-01 07:45] theonlydoo commented on #25098
Upgrade to the latest this morning, the package still doesnt provides the [socket](https://github.com/docker/docker/issues/25098#issuecomment-236477805) that @lcamilo15 mentioned and docker still wont start.

[2016-08-01 07:52] vdemeester commented on #25098
@theonlydoo the socket is no more provided in the docker package (1.12 and later) – it should look like this : https://github.com/docker/docker/blob/master/contrib/init/systemd/docker.service.rpm.

You can look at https://github.com/docker/docker/pull/24804 for reason what it was removed.

docker's systemd files and that is because when you have daemons running
with --restart always whenever you h

[2016-08-01 07:56] theonlydoo commented on #25098
@vdemeester so there is no planned "migration" handle on package upgrade for this ?

[2016-08-01 07:59] vdemeester commented on #25098
@theonlydoo I'm not sure how fedora/rpm-based distribution handle updates of these files (invoking @runcom here). I thought it would have update/overwrite the `docker.service` file as it's done on Archlinux for example, but I guess not.

[2016-08-01 08:03] justincormack commented on #25277
Looks like this might be the same as https://github.com/docker/docker/issues/25099

[2016-08-01 08:04] justincormack commented on #25099
Also reported not on desktop editions here https://github.com/docker/docker/issues/25277

[2016-08-01 08:11] HeadlessChild commented on #25222
@crosbymichael I think the `docker-engine` package only got configured when I issued the `apt-get -f install`. Here is the out from that command:

[code]

[2016-08-01 08:11] justincormack commented on #25277
Thanks, this is the same issue as #25099 but you provided something that allows replication which is great. Will close this issue and continue discussion in the other one, thanks.

[2016-08-01 08:11] #25277 closed

[2016-08-01 08:12] justincormack commented on #25099
Ok, from the other issue here is a minimal Dockerfile that replicates this

[code]

[2016-08-01 08:16] thaJeztah commented on #23851
Thanks for checking @ksuszka

[2016-08-01 08:16] depay commented on #24909
@thaJeztah @mlaventure @tiborvass this problem still exists on my host..

[code]
using docker 1.12.0 with the latest master of containerd(1b3a81545ca79456086dc2aa424357be98b962ee) and runc(7221e387826c9918fa9fd6e7975baf4d30c8fa54).

`docker run` works, but `level=error msg="libcontainerd: failed to convert event timestamp: \"timestamp: nil Timestamp\""` appears in docker log.

[2016-08-01 08:16] justincormack commented on #25277
@pinkal-vansia you should not have the `$` in the `ENV` line - it should be `ENV USER_HOME=/etc/myApp` which fixes the issue. for me.

[2016-08-01 08:20] jeromepin commented on #25274
Hi,

I guess it's a similar question as this one : https://github.com/docker/docker/issues/24664 ?

[2016-08-01 08:26] justincormack commented on #25099
It is quite odd, first there seems to be variable expansion in the `ENV` line, if you use `ENV $PATH=hello` it doesn't give the `oom` error.

Then
[code]
Gives the error, so it looks related to a parsing issue for `ENV`.

minimal example is
[code]

[2016-08-01 08:26] theonlydoo commented on #25098
[code]
here is what I got when I restart the docker w/o the `Requires` line and ofc I removed `docker.socket` from the `After` line too. Here is my systemd service file :

[code]

[2016-08-01 08:28] ypjin commented on #25274
Hi @jeromepin, thanks for the link! It is related, but #24664 asked only for the way to read data from the internal kv store. I'm also curious if it's possible to write app state to it.

Best regards,

[2016-08-01 08:32] pinkal-vansia commented on #25277
@justincormack Yes removing $ fixed the issue. Thanks. please close the issue.

[2016-08-01 08:32] thaJeztah commented on #25274
No, writing custom data to the internal k/v store is not supported; it's only used for the internal state of Swarm

[2016-08-01 08:32] #25274 closed

[2016-08-01 08:34] theonlydoo commented on #25098
The solution that I found that was to renounce to upgrade and install from scratch. I did a clean swipe of all docker dependencies on my system and reinstalled from docker's repositories to finally see my docker work again.

[2016-08-01 08:39] ypjin commented on #25274
@thaJeztah, Thanks for the clarification!

[2016-08-01 08:39] thaJeztah commented on #25098
@theonlydoo looks like you had a modified `docker.unit` file (the `-s overlay` was added), and therefore yum/dnf didn't replace it with the new version; the `ExecStart` should look like

    ExecStart=/usr/bin/dockerd daemon

To set a custom graphdriver, either use an `/etc/docker/daemon.json` configuration file (https://docs.docker.com/engine/reference/commandline/dockerd/#/daemon-configuration-f

[2016-08-01 08:45] justincormack commented on #25099
Ok, the process having the `oom_score` set has exited by this point, hence the error. My guess is that the environment being passed is being treated as a null pointer and this is causing the issue at a guess, so it is a parsing issue in `ENV` (well, multiple issues, as there should not be expansion going on either, as well as with handling `=` with nothing on the left.

[2016-08-01 08:52] justincormack opened #25281 "arguments expanded in ENV"
[code]

building this outputs `PLUM`. In fact `$ORANGE` is a valid environment variable name (they are arbitrary strings), and should not have been expanded.

Discovered during https://github.com/docker/docker/issues/25099

[2016-08-01 09:01] justincormack commented on #25099
Ok so the issue here is `ENV =` or `ENV =...` ie an empty left hand side anywhere in an `ENV` line causes this error.

[2016-08-01 09:04] #23855 closed

[2016-08-01 09:09] roshan3133 commented on #22599
Getting same issue
[code]
not getting pubkey

[2016-08-01 09:31] ZYNCMA opened #25284 "Was tarsum_version discarded?"
When I pulled an images from registry v2 using docker 1.5, I got `Error from V2 registry: unable to wrap image blob reader with TarSum: tarsum label string should be of the form: {tarsum_version}+{hash_name}`.
After digging into the functionality of tarsum, I found that `tarsum_version` seemed to be discarded in docker 1.11. It only took effect when pushing image to registry v1 and was sent to reg

[2016-08-01 09:45] thaJeztah commented on #25284
isnt this related to https://blog.docker.com/2015/10/docker-hub-deprecation-1-5/ ?

[2016-08-01 09:45] dverbeek84 commented on #25217
I have got the same issue with a fresh vagrant box `fedora/24-cloud-base`

[2016-08-01 09:52] thaJeztah commented on #25275
This is not a bug but the way RAFT works; decisions can only be made if a majority of the managers reach consensus. In a three-node raft (three managers), that means 2/3. Of two managers are down, a majority can never be reached, so a leader cannot be selected (also see https://docs.docker.com/engine/swarm/admin_guide/)

In a situation with 3 managers, you have a fault tolerance of 1; one manager

[2016-08-01 09:54] thaJeztah commented on #25275
Thanks for reproducing my issue though!

I'll close this issue, because this one is not a bug, but feel free to continue the discussion :+1:

[2016-08-01 09:54] #25275 closed

[2016-08-01 10:14] thaJeztah commented on #24733
@friism https://github.com/docker/docker/issues/2259 is about "volumes", looks like this issue is about bind-mounted files.

However, the issue here is more related to the way Docker for Windows handles bind-mounted files; when running docker on linux directly, bind-mounted files keep the permissions/ownership they have on the host; on Docker for Windows that is not the case.

[2016-08-01 10:15] the-nw1-group opened #25285 "Unable to create images with userns-remap on Centos 7"
**Output of `docker version`:**

[code]
**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Physical box, Centos uname -a output:
[code]
user namespaces enabled in kernel, output of cat /proc/cmdline:
[code]
**Steps to reproduce the issue:**

Create Dockerfile:
[code]
Run:
[code]
**Describe the results you received:**

Error:
[code]
**Descri

[2016-08-01 10:16] thaJeztah commented on #12603
@blacktop please do not ask unrelated questions on the issue tracker; for questions/discussions about using docker, try forums.docker.com, or the #docker IRC channel. The GitHub issue tracker is for tracking bugs.

[2016-08-01 10:40] djalal opened #25286 "docs: inspect service tutorial is out of sync"
my first opened issue, easy one for @SvenDowideit / @thaJeztah 👍

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. Follow the ["Get started with swarm mode"](https://docs.docker.com/engine/swarm/swarm-tutorial/) tutorial
2. When at the third page ["Inspect a ser

[2016-08-01 10:44] thaJeztah commented on #25286
Looks like you're running RC5; the `tasks` command was renamed to `ps` in the GA release, so this should be resolved after updating to docker 1.12.0

I'll close this issue, but feel free to continue the conversation; thanks for reporting 👍

[2016-08-01 10:44] #25286 closed

[2016-08-01 10:45] djalal commented on #25286
easy one, indeed ^^

[2016-08-01 10:53] mikeprice99 commented on #25211
Thank you @thaJeztah
`--with-registry-auth` fixed the problem of pulling from a private registry.
With reagrd to the extra instances, I'll test in 1.12.0 and if the problem still exists, I'll create an issue (may take a while to prepare test environment again)

[2016-08-01 10:57] mikeprice99 commented on #25211
@stevvooe  : it wan't a reporting error. Running docker ps -a on the different nodes listed all the containers that had been created. In one test I actually had 40 extra containers!

[2016-08-01 11:04] pward123 commented on #23793
FYI, I'm having the same problem while installing docker on a xenial parallels vm using a bash script called from rc.local.

If I manually run `sudo-apt-get install -y docker-engine` immediately after the script finishes, I get a message saying `1 not fully installed or removed` and then it finishes setting up docker.

[2016-08-01 11:09] djalal commented on #25286
@thaJeztah in that case, we may have an issue about using "https://test.docker.com" with the `--engine-install-url` in `docker-machine`. I would expect the latest version, whether RC or GA. Why is it stucked in RC5 if GA is more recent ?

[2016-08-01 11:15] depay opened #25287 "daemon hangs with `--live-restore` on start"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

I’m using docker with latest master branch of containerd & runc.

docker.service

[code]

containerd.service

[code]

**Steps to reproduce the issue:**
1. start daemon with `--live-restore`
2. start a container
3. restart daemon, and it hangs, loggin

[2016-08-01 11:21] matt-snider commented on #16270
:+1:

[2016-08-01 11:30] duglin commented on #25281
ping @tianon

using this:
[code]
I see PLUM as well and if I remember correctly we were trying to match what sh would do.

If you wanted "$" to be part of the name, shouldn't you have to escape it? When I do that, I then see `$ORANGE` in the env list during a `RUN env`

[2016-08-01 11:33] #24547 closed

[2016-08-01 12:04] dverbeek84 commented on #25217
Anything to do with https://bugzilla.redhat.com/show_bug.cgi?id=1339947 ?

[2016-08-01 12:09] aanand commented on #25230
Looks like a duplicate of https://github.com/docker/compose/issues/3683. @DreamFlasher, could you go to that issue and paste the output of `docker-compose --verbose pull`?

[2016-08-01 12:27] thaJeztah commented on #25230
Thanks @aanand

@DreamFlasher let me close this issue here, because this looks like an issue with docker-compose, but please add the requested information to https://github.com/docker/compose/issues/3683

[2016-08-01 12:27] #25230 closed

[2016-08-01 12:31] thaJeztah commented on #25286
@djalal "test.docker.com" only is used to publish release-candidates, but not final releases (the install script on that domain uses the `testing` apt/yum repositories. You can use https://get.docker.com to get the GA release, or update your configuration to use the "main" repository (see step 6 below https://docs.docker.com/engine/installation/linux/debian/#/update-your-apt-repository)

[2016-08-01 12:31] upccup commented on #24923
@dnephin maybe i was misunderstanding of stack. but i think stack is only a set of some services

[2016-08-01 12:33] anannaya opened #25289 "rpc error: code = 2 desc = "oci runtime error: exec failed: fork/exec /proc/self/exe: no such file or directory"["
I am seeing this issue on Docker 1.11.2

[code]

[code]

[code]

[code]

[code]

[2016-08-01 12:34] anannaya commented on #25289
[docker_logs.txt](https://github.com/docker/docker/files/393720/docker_logs.txt)
[var_log.txt](https://github.com/docker/docker/files/393719/var_log.txt)

[2016-08-01 12:39] drngsl commented on #25233
@yongtang so in v1.12.0, is there some changes or requirements to volume plugin configuration?

[2016-08-01 12:47] thaJeztah commented on #25217
@crosbymichael perhaps related? https://github.com/fedora-cloud/docker-selinux/issues/18, and https://github.com/fedora-cloud/docker-selinux/commit/fa18aac8b76c57c0929220c9a6df3b1e4188c951

Apparently; it had to be defined in the docker selinux policy as a workaround, but is now defined by default (if I understand correctly);

[2016-08-01 12:58] dg-ratiodata opened #25290 "seccomp may cause "Failed to mount API filesystems, freezing.""
**Output of `docker version`:**

RHEL Host

[code]
Arch Linux Host

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

* Image: feduxorg/centos
* Image contains `systemd` 208 for starting processes
* Image OS: CentOS 7.x
* Host OS: RHEL 7.x, but also Arch Linux

**Steps to reproduce the issue:**
1. `docker pull feduxorg/centos`
2. `

[2016-08-01 13:01] thaJeztah commented on #24923
The "stack" feature is still experimental, and things may (/will) change. I think the idea is to split service "definition" and "runtime configuration" into separate files

[2016-08-01 13:03] mcanevet opened #25291 "Unable to update volume labels"
Hello,

It looks like there is no way to update volume labels or am I missing something?
Volume API looks to support only supports listing, creating (with labels), inspect and remove a volume.

Cheers,
Mickaël

[2016-08-01 13:10] thaJeztah commented on #25290
`systemd` requires certain privileges to run, which are blocked by default in a container for security. To run systemd, you need to allow `SYS_ADMIN` capabilities, and disable `seccomp` (or use a custom profile). See the discussion on https://github.com/docker/docker/issues/22285 with more information.

This is not a bug, but by design: processes inside the container should not automatically get t

[2016-08-01 13:10] #25290 closed

[2016-08-01 13:12] thaJeztah commented on #25235
Thanks for reporting @ziyouchutuwenwu. We recently opened a separate issue tracker for Docker for Mac issues; could you reopen this issue in that issue tracker? https://github.com/docker/for-mac/issues

[2016-08-01 13:12] #25235 closed

[2016-08-01 13:15] thaJeztah commented on #25291
Correct, updating existing volumes is currently not supported; it may be something we could consider, although we need to carefully look what properties can be updated for an existing volume, and which options are "immutable"

Changing / updating labels does sound like a candidate to allow to be updated (if we decide on implementing)

/cc @cpuguy83 @ehazlett

[2016-08-01 13:16] aleksejlopasov commented on #23880
To @nathanleclaire and @stevvooe
I've found another solution:
What if I check the state of the service before running it with 'docker service create'? If it is completed that I will delete it and create new service. If not - than echo message 'bla-bla, sorry, the service is running at the moment, try again later'.

[2016-08-01 13:21] thaJeztah commented on #25289
can you add the output of `docker version` (not `docker --version`), and `docker info` as well?

[2016-08-01 13:24] anannaya commented on #25289
[root@dockerhost ~]# docker -v
Docker version 1.11.2, build b9f10c9
[root@dockerhost ~]# docker info
Containers: 6
 Running: 4
 Paused: 0
 Stopped: 2
Images: 8
Server Version: 1.11.2
Storage Driver: devicemapper
 Pool Name: docker-253:0-135083487-pool
 Pool Blocksize: 65.54 kB
 Base Device Size: 107.4 GB
 Backing Filesystem: xfs
 Data file: /dev/loop0
 Metadata file: /dev/loop1
 Data Space Used: 6

[2016-08-01 13:24] dg-ratiodata commented on #25290
@thaJeztah Thanks for sharing. Reading that other issue makes it easier for me to understand the reasons here.

What would have been helpful, are doc pages explaining how to use `systemd` as PID 1 in docker images correctly and when it makes sense to use such a setup. Is there any repo for this?

[2016-08-01 13:25] justincormack commented on #25290
You only need to add SYS_ADMIN as of 1.12 this will take care of the
seccomp adjustments. For previous releases you need to disable seccomp too
or use a custom profile.

On 1 Aug 2016 3:10 p.m., "Sebastiaan van Stijn" <notifications@github.com>
wrote:

[2016-08-01 13:36] sguillory6 opened #25292 "containerd daemon doesn't always start on Ubuntu Xenial"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

We have seen this issue on local physical Ubuntu boxes as well as on AWS EC2 instances

**Steps to reproduce the issue:**
1. Install Docker 1.11.2 on Ubuntu Xenial
2. Reboot machine

**Describe the results you received:**

10-20% of the time, the containerd daemon will not be running.

**Describe the results you expecte

[2016-08-01 13:37] thaJeztah commented on #25290
Thanks for adding that, @justincormack

We currently don't have documentation about running `systemd` in a container; we *do* have some information about running [`supervisord` here](https://github.com/docker/docker/blob/d8c9fd0af9be3e937ec0520e0dcbe9a80eb321c4/docs/admin/using_supervisord.md), so if some one would contribute documentation for that, I think that we could add it to the documentatio

[2016-08-01 13:40] sguillory6 opened #25293 "Docker "always" restart policy behaves like "unless-stopped" on Ubuntu Xenial"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

Observed on both physical Ubuntu boxes as well as AWS EC2 instances.

**Steps to reproduce the issue:**
1. Start a multi-container app with docker-compose, with restart policy set to always
2. Stop one of the containers with docker-compose

**Describe the results you received:**

The container that was stopped explicitl

[2016-08-01 13:41] cpuguy83 commented on #25292
Can you provide daemon logs (preferably with debug mode turned on) for when this occurs?

[2016-08-01 13:51] sguillory6 commented on #25292
Certainly. I'll try to reproduce on one of the physical Ubuntu boxes today.
It could take some time since you have to just keep restarting the box over
and over again until you see it.

On Mon, Aug 1, 2016 at 8:43 AM, Brian Goff <notifications@github.com> wrote:

[2016-08-01 13:53] cpuguy83 commented on #25292
ping @mlaventure

[2016-08-01 13:56] dsheets commented on #23440
We believe we have fixed this issue and it can now be closed.

[2016-08-01 13:59] cpuguy83 commented on #25293
If you stop a container, it will not restart, this is by design (you told it to stop).
`unless-stopped` is referring to daemon reload (ie, when the daemon is reloaded, don't restart the container that I stopped myself).

[2016-08-01 13:59] #25293 closed

[2016-08-01 14:00] #23440 closed

[2016-08-01 14:01] cpuguy83 commented on #23440
Awesome, thanks!

[2016-08-01 14:05] sguillory6 commented on #25293
Okay. We actually use the unless-stopped option anyway as that is the
behavior we want so this issue can close.

From:  Brian Goff <notifications@github.com>
Reply-To:  docker/docker
<reply+000790e79aa649b35b5fef370b943d6ee7a80495eb9d34fc92cf0000000113b718319
2a169ce0a0d5e8d@reply.github.com>
Date:  Monday, August 1, 2016 at 9:01 AM
To:  docker/docker <docker@noreply.github.com>
Cc:  x14360 <stanf

[2016-08-01 14:07] thaJeztah commented on #25040
@mlaventure is the "previous instance of containerd still alive (1376)" perhaps related here?

[2016-08-01 14:10] cpuguy83 commented on #25287
ping @mlaventure

[2016-08-01 14:11] thaJeztah commented on #25281
@duglin yes, @justincormack and I were discussing this and actually weren't sure if this was by *design* or something that got in "by accident"

[2016-08-01 14:15] rubycut commented on #24848
👍

This effectively doesn't allow any docker container firewall, which makes the whole thing look silly:

* you can't put rules in PREROUTING chain becuase nat table doesn't allow filtering
* if you put rules it in FORWARD chain, on docker restart, docker will INSERT his rules on TOP OF THE CHAIN, making any custom rules you added inactive
* if you put your rules to DOCKER chain, on restart, docke

[2016-08-01 14:26] dg-ratiodata commented on #25290
@thaJeztah Yeah, you're absolute right. That's why I suggested just to add a section about reasons

* reasons for _not_ using
* reasons for using

`systemd` in a docker container. Maybe just add some use cases - as given in the other issue - and leave the decision to the user if it makes sense or not for his/her particular use case.

Is the following something you would accept? If you yes I'm goin

[2016-08-01 14:34] thaJeztah commented on #25256
I think this is closely related to https://github.com/docker/docker/issues/23704

[2016-08-01 14:41] rubycut commented on #24848
Same problem is present in 1.12 which just got release few days, ago, so labels are not correct.

[2016-08-01 14:42] mlaventure commented on #25246
@hiepsikhokhao Thanks for the log.

A few  more questions:
 - Which version of docker are you using?
 - Can you share the systemd docker service file?

From the log, what is happening is that systemd seems to send SIGTERM to all the processes in the docker cgroup, this causes `docker-containerd` to go down while the `docker` daemon still needs it and this seems to be causing issue with the `libcon

[2016-08-01 14:45] justincormack commented on #25281
@duglin this came up from https://github.com/docker/docker/issues/25099 with

[code]

which is definitely broken...

[2016-08-01 14:46] mlaventure commented on #25270
This looks like a duplicate of #25246

@paulmenzel could you share your daemon logs to check that it is the case?

[2016-08-01 14:49] thaJeztah commented on #24848
@rubycut label is automatically applied based on the version an issue was reported with

[2016-08-01 14:49] mlaventure commented on #24909
@depay could you share the logs?

[2016-08-01 14:54] duglin commented on #25281
Well, that's just weird from a testcase perspective as well as docker code perspective  :-)

[2016-08-01 14:59] mlaventure commented on #25040
Possible. I'd love to see the stacktrace though.

@spoon99 could you do a `kill -USR1  $(cat /run/docker.pid)` as suggested by @AkihiroSuda and give us the output as found in the daemon logs?

[2016-08-01 15:00] #25141 closed

[2016-08-01 15:00] crosbymichael commented on #25098
Yes, the files are only replaced if you have not modified the original ones.  We try our best to do the right thing; if you made changes we will not overwrite them but you also won't get the changes.

[2016-08-01 15:03] jenkys commented on #24733
I tried some work-around with **bindfs** on container:
- apt-get install bindfs
- bindfs -o perms=0770,mirror-only=www-data /var/www /var/test2

And it write "fuse: failed to open /dev/fuse: Operation not permitted".

I can SSH into MobyLinuxVM with walkthrough described here - https://forums.docker.com/t/how-can-i-ssh-into-the-betas-mobylinuxvm/10991/7.
Is there any way to change mount rules how

[2016-08-01 15:04] cpuguy83 commented on #25249
Docker does _not_ support `-v` or `--volume` on `docker build`.

[2016-08-01 15:08] mlaventure commented on #25287
@depay

Could you run `kill -USR1 $(cat /run/docker.pid)` and give us the stacktrace as it will appear within the daemon log?

On another note, the docker version you are using differs from the one that we released (the expected git commit should be `8eab29edd820017901796eb60d4bea28d760f16f`).

Also, docker is not warranted to work if not used with the version of `runc` and `containerd` that we sh

[2016-08-01 15:13] jmcdonagh commented on #13762
What is the current status of this? I'd like to have a management network on eth0 that is for communicating with the docker daemon and consul, and then have my containers listening on an application network on eth1. Seems like the same thing the OP wants. Can docker be "aware" of multiple bridges?

[2016-08-01 15:13] cpuguy83 commented on #9372
@deviantony This was implemented some time ago. https://docs.docker.com/engine/reference/api/docker_remote_api_v1.24/#/attach-to-a-container-websocket

[2016-08-01 15:16] crosbymichael commented on #25246
The service file should have this in it so that only the dockerd process is killed

https://github.com/docker/docker/blob/master/contrib/init/systemd/docker.service#L25

[2016-08-01 15:17] cpuguy83 commented on #25257
@niieani No way to partition currently. This was intentional for 1.12 -- I'll have to refer to the network team if this is expected to be allowed at some point.

One thing you can do is expose the port to spin up a service running an L7 LB that can route traffic to the appropriate service based on whatever criteria (e.g. hostname).

[2016-08-01 15:21] oszi commented on #25121
This goes deeper than I thought...
Docker 1.12 with the new overlay2 storage driver:
[code]
 The volume (/etc/nginx) is only defined in the Dockerfile as before and not mounted from the host.
We're running stateless containers where directories that need to be writeable by the user are defined volumes. For a second try it works again.

I'm starting to think this issue is related to volumes and not

[2016-08-01 15:21] thaJeztah commented on #9372
@cpuguy83 looks like this issue is about implementing the same for `docker exec`

[2016-08-01 15:22] cpuguy83 commented on #9372
Aaah, sorry. Coffee hasn't kicked in yet.

[2016-08-01 15:22] Stehsegler commented on #25130
I am still able to reproduce faulty behaviour in 1.12.0 final.

Some new findings:
- You may have to repeat the scaling up and down various times (sometimes >20) until errors occur for the first time.
- The `could not resolve hostname` type errors indeed seem to have disappeared, at least I did not get one so far.
- The `connection refused` type errors still occur, no matter if client and service

[2016-08-01 15:27] mschirrmeister opened #25295 "Overlay networks in Docker 1.12 and swarm mode"
Hi,

In the old Docker/Swarm we created overlay networks that the containers for a specific app/service are isolated and could not reach containers from other apps/services.

In Docker 1.12 swarm mode it seems like this is no longer possible.
If I create a service and put it in a overlay network lets say "mynet" and expose a port, the service gets also added to the "ingress" overlay network. If I

[2016-08-01 15:31] sguillory6 commented on #25293
We were definitely having issues with the semantics of the documentation,
but after this exchange, I think we get it and we actually want the
"always" policy based on our usage, so I'm glad I filed the issue to get
that clarification. Brian Goff closed this issue so we are good.

Thanks,
Stan

On Mon, Aug 1, 2016 at 9:01 AM, Sebastiaan van Stijn <
notifications@github.com> wrote:

[2016-08-01 15:31] depay commented on #25287
thanks @mlaventure @cpuguy83 !
My docker commit is something about some local documents based on tag 1.12.0 which has no harm to docker itself. And i will try the specific runc & containerd version later.

[2016-08-01 15:55] yongtang commented on #25233
@drngsl The issue you encountered was because a nil pointer (`TLSConfig`) panic in `pkg/plugins/discovery.go`. The panic prevent your JSON config file being loaded. #25053 fixed the panic.

[2016-08-01 15:56] thaJeztah commented on #25121
Wondering if this is SELinux blocking access to the volume path (I seem to recall something like that happening, at least for bind-mounts); can you confirm if the volume paths actually not exists?

Also, wondering if there's a race somewhere; looking at you're earlier logs, it looks like you're cleaning up dangling volumes; If `docker run ...` creates the volume before the container is started, an

[2016-08-01 15:59] crosbymichael commented on #25222
@HeadlessChild hum, that is weird.  I'm not sure why the package upgrade freaked out, could have just been an apt-get issue but at least it's working now.  Nothing changed with the deb packages so I'm going to close this one for now.

If it happens again please let me know.  The only other time I have seen this error reported was because of unmet deps and it didn't look like that was your issue.

[2016-08-01 15:59] #25222 closed

[2016-08-01 16:00] arnishow opened #25297 "Mount point with curlftpfs causes permission denied"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. Mount remote directory using curlftpfs like
`curlftpfs -r 192.168.1.1 /docker/share/test`

2. Use userns-remap for docker daemon

3. Run container with mount point like
`docker run -it --rm -v /docker/share:/test

[2016-08-01 16:20] Stehsegler opened #25298 "[1.12] Tasks sometimes don't start on first attempt when connected to an overlay network"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
RHEL 7 on VMware

**Steps to reproduce the issue:**
1. Create a Swarm mode cluster (I use three manager nodes without any additional worker nodes)
2. `docker network create -d overlay overlay`
3. `docker service create --name nginx --network overlay n

[2016-08-01 16:26] ricardobranco777 opened #25299 "Suggestion for a more secure use of the docker group (documentation)"
Instead of adding users to the **_docker_** group as the [Installation manuals](https://docs.docker.com/engine/installation/#installation) suggest, which is a security hole by definition and antonomasia, I think it's better to add a password to the **_docker_** group and use the **sg** and **newgrp** commands as follows:

Add a password to **_docker_** group:
`gpaswd docker`

Create a session with

[2016-08-01 16:32] #24420 closed

[2016-08-01 16:38] cpuguy83 commented on #24420
Thanks for the investigation! We just merged an update to go-patricia which hopefully resolves the issue you reported. Please let us know! You can grab a pre-built binary @ https://master.dockerproject.org though (might want to check the commit sha to make sure the binary contains the commit).

[2016-08-01 16:39] duglin commented on #25281
@justincormack created #25300 for it

[2016-08-01 16:43] cpuguy83 commented on #25298
@Stehsegler Can you grab the inspect output from the task? You can get this via `docker inspect <task id>`
Should also have non-truncated error.

[2016-08-01 16:44] Deepak-Vohra opened #25301 "Flannel install command hangs"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

AWS EC2 Instance AMI Ubuntu Server 14.04 LTS (HVM), SSD Volume Type - ami-2d39803a
Instance type
m3.2xlarge

**Steps to reproduce the issue:**
1. Create a AWS EC2 instance  and login.
2.Install Docker. Install etcd.
`sudo sh -c 'docker daemon -H unix

[2016-08-01 16:47] Stehsegler commented on #25055
IMHO, it is really important to have this issue fixed quickly. The background of the multi-manager support in Swarm is mainly fault tolerance, so reliability is really a major point here. As described in the initial post, the issue is not only about not being able to startup the cluster with only 2 of 3 managers, but also about the it losing functionality when the leader is shut down after such an

[2016-08-01 16:52] jcstover commented on #24848
@rubycut:
I had the same problem, but the solution is in the default iptables file. If the FORWARD rules are present in that default file, docker won't change these and you can add you filtering rules. In #23987 I've described the solution with an example iptables files. In this solution traffic to the bridges is first send to a chain called DOCKER-BLOCK in which you can filter the traffic. Since

[2016-08-01 16:54] brentjanderson commented on #23347
@lillem4n Your instructions worked like a champ for me on 4.6.0-040600rc7-generic for running a hello world example.

[2016-08-01 16:59] Stehsegler commented on #25298
Here is the `inspect` output. Indeed says `network overlay not found`:
[code]

[2016-08-01 17:00] mrjana commented on #25231
@jhorwit2 I believe this special case use can be achieved by exposing a gateway aggregator outside the cluster and connecting that aggregator and the global mode service(without exposing any ports and running in dnsrr mode) to a single network. And now since the global mode service is running in dns rr, the gateway aggregator can get all the task IPs for a DNS query on the global mode service and

[2016-08-01 17:01] icecrime commented on #25259
I don't think there's anything to be done on Docker side unfortunately. I opened up the issue on Golang several months back and it's not getting much attention :cry:

[2016-08-01 17:19] thaJeztah opened #25303 "[epic] add more options to `service create` / `service update`"
The `service create` and `service update` commands do not support all options that `docker run` / `docker create` supports. Some options are not implemented yet, whereas other options may either *not* be implemented (because they don't make sense in the context of a *service*, or are not portable / cross platform).

We should add more options for services, *however* instead of blindly copying ever

[2016-08-01 17:19] thaJeztah commented on #25303
ping @stevvooe @aluzzardi @icecrime @tiborvass

[2016-08-01 17:26] thaJeztah opened #25304 "docker service create --user does not support "group" / "gid""
Unlike `docker run`, the `--user` flag for services does not currently support `:group` or `:gid`, so the following will currently fail:

    docker service  create --user 123:456 --name foobar nginx

I think we should either support the same syntax as on `docker run`, or provide a `--group` / `--gid` flag

/cc @stevvooe @aluzzardi

[2016-08-01 17:28] yongtang commented on #25303
@thaJeztah I saw on #25276 and the above list that `--net=host` is not supported. That could be a very useful option in some deployment scenarios. I am wondering if there are any technical challenges that prevent the usage of `--net=host`?

[2016-08-01 17:32] yongtang commented on #25303
@thaJeztah For `--mount` there is an open issue related: #25253

[2016-08-01 17:43] #25223 closed

[2016-08-01 17:45] shivacherukuri commented on #24995
Hi,

 After doing $make binary from docker source, i tried to start docker daemon with newly build binary, but i get the following error, it seems like the issue mentioned in this thread... can you please let me know how to start docker daemon with new binary in the host. i Could start daemon inside a development container (result inside $make shell)without any issues but not in a host
-----------

[2016-08-01 17:45] miki725 opened #25305 "no_proxy is being overwritten regardless what is in Dockerfile"
Looks like for me docker is always resetting `no_proxy` regardless if that environment variable is supplied in `Dockerfile`. Any ideas why that is happening here? More details below:

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Steps to reproduce the issue:**

I tried creating a custom docker container with the following `Dockerfile`:

[code]

While building it

[2016-08-01 17:50] thaJeztah commented on #25303
@yongtang I know that for some options there's additional discussion needed; e.g. `--network=host` can have some side effects (how does it work in combination with load-balancing? also `--network=host` can be considered insecure)

[2016-08-01 17:59] thaJeztah commented on #24995
@shivacherukuri looks like you did not build docker in a container; did you re-build `containerd`? using the correct commit? (see https://github.com/docker/docker/blob/master/Dockerfile#L246-L257)

After compiling, did you *install* `docker-containerd` in the right location? `dockerd` will look in your `$PATH` and if an older version is still present, it may use that version.

I just built docker

[2016-08-01 17:59] #24995 closed

[2016-08-01 18:06] yongtang commented on #25303
Thanks @thaJeztah for the explanation.

[2016-08-01 18:14] thaJeztah commented on #25305
actually, wonder if it's a "builder" issue; in the output above, it looks like during build, the env-vars are all set, but at runtime they're updated?

[2016-08-01 18:16] thaJeztah commented on #25305
A `docker inspect` of the image that was built seems to confirm that;

[code]

[2016-08-01 18:19] nathanleclaire commented on #23880
Why use a `docker service` at all in this case?  `docker service` today is intended for processes that you want to keep running.  There will never be a "stopped service" like you mention.  Have a play with `docker service` to get a feel for how this works.

[code]

Your solution just depends on how complex your needs are.  If the job is safe to run more/less often than intended (or possibly concur

[2016-08-01 18:19] rubycut commented on #24848
@jcstover,  docker always inserts it's rules on top of forward chain, that is the problem. Loading default rules from some file doesn't matter.

[2016-08-01 18:22] thaJeztah commented on #25305
Funny thing is that setting it as part of the `docker run` does work;

[code]

[2016-08-01 18:27] thaJeztah commented on #25305
Actually, on a Ubuntu 14.04 host I'm not able to reproduce this, only on docker for mac (need to do additional research)

ping @justincormack could this be a Docker for Mac issue?

[2016-08-01 18:27] ezraholm50 commented on #25162
Removing empty /etc/docker/key.json solved the issue. Does this bing any risk?

[2016-08-01 18:47] rcsavage commented on #25098
Just experienced the same issue with 1.12 in CentOS 7.   Funny, I can use my existing /usr/lib/systemd/system/docker.service IF I do the following

# rpm -e docker-engine
# rpm -e docker-engine-selinux
# yum -y install docker-engine

The problem is when I take a stock CentOS 7 system, and then do yum -y install docker-engine, I run into the problem.   Why does removing and re-adding the same packa

[2016-08-01 18:57] miki725 commented on #25305
Yes. I am using Docker for Mac. I just noticed that the `no_proxy matches the default value for proxy config in Docker for Mac so you are probably correct that its Docker for Mac issue.

![image](https://cloud.githubusercontent.com/assets/932940/17305366/21ceb720-57f8-11e6-9085-2063854d4b72.png)

[2016-08-01 19:05] cpuguy83 commented on #25253
Working on this one.

[2016-08-01 19:23] jcstover commented on #24848
True, but in the case the forward rules of the docker bridges are in place docker will not insert these at the top. Try the mentioned solution, since we have tested it and for us it is working. We faced the same problem, if the forward rules for the bridges are not in place docker will insert these at the top, that why we have them in the default rulesset of iptables.

[2016-08-01 19:34] thaJeztah commented on #25245
That's the way to do it. For configuration files, you could consider using a bind-mount, or perhaps a volume driver that allows mounting configuration as a volume https://docs.docker.com/engine/extend/plugins/#/volume-plugins