[2016-06-25 00:01] tiborvass commented on #22124
Can any one reproduce this with 1.12.0-rc2 ?

[2016-06-25 01:39] chromerobv commented on #22734
this is happening to me more and more. i see others have issues open with this happening on aufs.
can i give anything else?

[2016-06-25 02:02] wangyumi commented on #21179
okay, I will try. Thanks!

[2016-06-25 03:46] Freyert commented on #6396
For anyone who doesn't know about ssh-agent proxying: [github to the rescue](https://developer.github.com/guides/using-ssh-agent-forwarding/)

[@phemmer's original idea.](https://github.com/docker/docker/issues/6396#issue-35640318)

@yordis I don't think there's a "great" solution in the thread that's freely available yet.

[This comment](https://github.com/docker/docker-py/issues/980#issuecomment

[2016-06-25 03:47] thaJeztah commented on #23774
Alright, for port mapping it's possible you're running into https://github.com/docker/docker/pull/22997, which is resolved in docker 1.11.2 https://github.com/docker/docker/releases/tag/v1.11.2

[2016-06-25 03:51] thaJeztah commented on #20484
@TomBarryy looks like you have an old docker 1.1.2 package installed from the Red Hat repository;

Uninstall the existing `docker` package, then try installing docker-engine again

[2016-06-25 06:10] jh86 commented on #23796
@rneugeba Thanks for the info! Please let me know if I can do anything to help test on my end :)

[2016-06-25 07:16] sanimej commented on #12603
@randunel The limit of 100 concurrent queries was added in 1.11 release. In your test its possible you are hitting it when the DNS resolutions are slow. But first reporters of this EAI_AGAIN issue were using pre 1.11 releases. So I am not sure if the rate limiting of concurrent queries is the main root cause here.

[2016-06-25 09:54] danielemegna opened #23952 "Inconsistent column/row names for ps 'raw' format"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Steps to reproduce the issue:**
- `$ docker ps --format=raw`

**Describe the results you received:**
[code]

**Describe the results you expected:**
I found it strange that the labels on 'raw' format are not the same and consistent with the classic views:

[code]
It is also a stupid duplication into the code, since the

[2016-06-25 10:24] danielemegna commented on #23952
Pull-request here: https://github.com/docker/docker/pull/23953

[2016-06-25 10:50] bennibu commented on #20178
@thaJeztah @stieler-it We have found the problem. I discussed this issue with our openstack provider and they pointed me to tune the MTU settings, according to [this blog post](https://rahulait.wordpress.com/2016/02/28/modifying-default-mtu-for-docker-containers/). This fixed the problem for us.
I have to confess, that I have no experience so far in tuning network settings, but I guess It would be

[2016-06-25 11:46] Caligatio opened #23954 "Add support for openvswitch bridges and specifying VLAN"
It would be great if docker natively support openvswitch (ovs) bridges and the ability to specify a VLAN that would be tagged for a container.  There is third party support for this functionality, notably [pipework](/jpetazzo/pipework) and partial support in an [ovs utility script](/openvswitch/ovs/blob/master/utilities/ovs-docker) (I'm trying to get VLAN support added), but they all require eithe

[2016-06-25 12:33] stieler-it commented on #20178
@bennibu Great, works here as well. For OpenStack an MTU 1454 should be the desired value (check ifconfig). The reason it happens only with Docker >= 1.10 is that MTU is no longer infered there, see https://github.com/docker/docker/issues/22028.

[2016-06-25 14:07] vdemeester commented on #23827
@tiborvass @cpuguy83 looking into it but one question would be : should these swarm events be *send* to daemon `/events` endpoint or should it be an endpoint on its own `/swarm/events` (`docker swarm events` then) ?

[2016-06-25 14:16] cpuguy83 commented on #23827
I think /events

[2016-06-25 14:41] yongtang commented on #23768
@wmark @thaJeztah @mlaventure I created a PR #23955 to try to address this one. Please let me know if there are any issues.

[2016-06-25 15:59] jhorwit2 opened #23957 "scaling service down shouldn't put all the nodes on one host"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Steps to reproduce the issue:**
1. Create a new service
2. Scale up/down

**Describe the results you received:**

During some scale downs all the remaining tasks in the service are on one swarm worker.

**Describe the results you expected:**

Service tasks should be somewhat redundant and not all be on one node.

**Ad

[2016-06-25 17:30] thaJeztah commented on #23957
ping @aluzzardi @dongluochen PTAL

[2016-06-25 17:34] nicolaka opened #23958 "getting shim error: open pid: no such file or directory after upgrade to 1.12.0-rc2"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

vagrant using virtualbox with ubuntu image

**Steps to reproduce the issue:**
1. Upgrade from 1.11.2 to 1.12.0-rc2
2.
3.

**Describe the results you received:**

[code]

**Additional information you deem important (e.g. issue happens only occasionall

[2016-06-25 17:35] benton commented on #6396
I have some news on this issue.

At DockerCon this past week, we were encouraged to bring our hardest questions to Docker's "Ask the Experts" pavilion, so I went over and had a short chat with a smart and friendly engineer with the encouraging title Solutions Architect. I gave him a short summary of this issue, which I hope I conveyed accurately, because he assured me that this can be done with _o

[2016-06-25 18:02] pcgeek86 opened #23959 "Conflicting options: --rm and -d"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Steps to reproduce the issue:**
1. Run a container with `-d` and `--rm` options

**Describe the results you received:**

[code]

**Describe the results you expected:**

The container should run detached and be removed when it exits.

Cheers,
**Trevor Sullivan**
Microsoft MVP: Cloud & Data Center Management
https://tre

[2016-06-25 18:19] vdemeester commented on #23959
Hi @pcgeek86,

Currently `--rm` is client-side only, and that's why these two options are confilcting. There is an issue to keep track of it (https://github.com/docker/docker/issues/20334), and a PR (https://github.com/docker/docker/issues/20848) to make `--rm` service-side and thus remove this conflict.

👼

[2016-06-25 20:40] johnharris85 opened #23960 "Refactor: Move argument parsing from client to engine"
Looks like most of the argument checking is done in the runconfig/opts/parse client-side. This means that each 'client' (Docker, Compose, etc...) has to do it's own checks. Specifically hit this with restart policies, right now compose accepts an invalid policy and doesn't error out (as the engine doesn't check validity).

This seems (?) like a fairly straightforward change (refactoring the checks

[2016-06-25 21:22] pcgeek86 commented on #23959
@vdemeester Thanks Vincent! Sorry for the dupe. I did see the issue you reference when I searched, but it didn't mention detached containers, so I figured it might not be an exact dupe. We can close this one.

[2016-06-25 21:22] #23959 closed

[2016-06-25 22:13] mspanc opened #23961 "docker load does produce error on invalid tar"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

digital ocean ubuntu 16.04 64-bit box

**Steps to reproduce the issue:**
1. Create a docker image
2. Squash it using docker-squash (with -from root option)
3. Try to load image using `docker load < image.tar`

**Describe the results you received:**

[2016-06-26 00:12] cpuguy83 commented on #23960
@johnharris85 Thanks for looking at this!
There are some daemon-side checks for sure, but obviously we must have missed some along the way!
You can find these calls in daemon/create.go under `containerCreate`.

Thanks again!

[2016-06-26 00:19] cpuguy83 commented on #23954
Seems like you want something like https://github.com/gopher-net/docker-ovs-plugin

[2016-06-26 00:22] #23922 closed

[2016-06-26 01:26] Caligatio commented on #23954
@cpuguy83 I am admittedly unfamiliar with Docker plugins but, from reading the README, is docker-ovs-plugin a fancier daemon that essentially does the same thing as monitoring the event socket?

It looks like it requires two Docker containers running which is weird since plugins are supposed to be running before Docker starts.  Unless I'm missing something, isn't this is a chicken or the egg probl

[2016-06-26 01:58] cpuguy83 commented on #23954
@Caligatio This is a limitation of plugins currently, something we are hoping to solve soon... experimental 1.12 release has some enhancements where this is not a problem.
But a container is not required, and will probably even be fine to run as is.

Note the plugin is only the first container, the 2nd container is ovs itself.

[2016-06-26 05:48] sanimej commented on #21706
@rafaeldff I tried with a simple TCP server and nc as client..works just fine..

server is on port 3333; with 100 nc clients..

[code]

May be its an issue with zookeeper ? Can you try with some TCP server or a test code ?

[2016-06-26 06:25] EugenMayer commented on #10318
Having docker 1.11.2 this is still not fixed. In which release this is actually going to be in?

[2016-06-26 06:39] EugenMayer commented on #10318
Answering myself and leaving original comment for "google" - its just not really documented well yet, found

http://www.projectatomic.io/blog/2016/03/docker-credentials-store/

you need to add this into your $PATH https://github.com/docker/docker-credential-helpers/releases
and then add this to your config.json

[code]

Also officially documented under https://docs.docker.com/engine/reference/comm

[2016-06-26 08:08] otbe opened #23962 "Swarm does not consider health checks while updating"
Hi,

Im playing around with docker 1.12 and the ```HEALTHCHECK``` directive in dockerfiles.
What I do is:

```docker swarm init```

Dockerfile
[code]

check_running.sh
[code]

Build some images from this Dockerfile:
[code]

Start a service with 5 replicas
[code]

Wait some time (5s) until all replicas are healthy. Now I want to update the image to v2. The update procedure should be rolling with a

[2016-06-26 08:11] mikesimons commented on #23833
I think this one can be closed since the incorrect type issue is tracked elsewhere and the original question is answered.

[2016-06-26 08:11] #23833 closed

[2016-06-26 10:01] mspanc commented on #23961
I have found out that this is probably an issue after upgrade from docker that was shipped with ubuntu 16.04.

I have removed /var/lib/docker, restarted docker and now docker info returns

[code]

Now images seem to be loaded but with an error:

[code]

I will try to figure out what went wrong with that but no error handling in post-upgrade case is a clear bug IMO.

[2016-06-26 10:22] mspanc commented on #23961
I've recreated the squashed docker image and again nothing happens. I've enabled -D and -l debug and the only thing that appears in the syslog when I attempt to load the image is

Jun 26 06:17:35 ubuntu-32gb-nyc2-01 docker[8957]: time="2016-06-26T06:17:35.669912991-04:00" level=debug msg="Calling POST /v1.23/images/load?quiet=0"

[2016-06-26 10:24] F21 opened #23963 "Support hyper-v external networking for Docker for Windows"
I have been using Docker for Windows on and it has worked really well for me.

In my case, I have a pretty beefy development server which I use to run several development VMs. Development takes place on a weaker laptop which interacts with the VMs over the network.

Previously, I had a Ubuntu VM running the latest version of docker with bridged network enable. Effectively, that makes the VM look l

[2016-06-26 10:52] Uhsac commented on #23911
In fact loop/block was not activated in my kernel so I recompile it using default config for my distrib and now it works using overlay. (still don't work with device mapper but I don't care)

[2016-06-26 10:52] #23911 closed

[2016-06-26 11:52] GameScripting commented on #14041
Hi, are there any updates to this yet?

[2016-06-26 12:23] onorua commented on #21298
as I don't have any issues in new versions and updated TaskMax I'm clothing this one.

[2016-06-26 12:23] #21298 closed

[2016-06-26 12:24] GameScripting commented on #23897
I also have the issue, that I cant filter on dockers traffic, because creating networks always prepends instead of appending.

Having a chain to put my own (DROP) rules without docker whiping them is a must.

[2016-06-26 14:29] Dieken commented on #23177
My stupid workaround:

docker run -v /etc/advertise-ip:/etc/host-ip:ro -e SERVICE_REGISTRY_URL=consul://dockerhost:8500/ ......

and change my docker image's entry script to setup "`cat /etc/host-ip` dockerhost" in /etc/hosts.

By this way, my container still works even the host IP changes.

[2016-06-26 14:39] friism commented on #23963
@F21 Thanks for the detailed explanation of your use case!

If you don't mind, could I get you to start a thread on the [Docker for Windows Forums](https://forums.docker.com/c/docker-for-windows). This repo is used to track problems with the open source Docker engine.

[2016-06-26 17:02] oszi commented on #18354
So I'm using 1.11.2 now and this issue isn't completely fixed.
Forwarded ports can be accessed now but only on the docker bridges' internal IP (e.g. 172.17.42.1).
The same ports cannot be accessed on the host's public IP - not even from the default network.
I can work around this with DNS rebinding but it isn't ideal. :)

[2016-06-26 17:33] jhorwit2 opened #23965 "service dns - no route to host when routing to the container executing the request"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

mac beta

**Steps to reproduce the issue:**
1. docker service create --name web --replicas=1 -p 8080:80 web
2. exec into each container for bash
3. Modify the nginx index page at /usr/share/nginx/html/index.html to include some unique value for that container
4. run 2 curls and notice the curl to the other container wor

[2016-06-26 17:34] jhorwit2 commented on #23965
[code]

[code]

[2016-06-26 17:42] jhorwit2 opened #23966 "service without healthchecks don't receive dns entry (not clear if intended)"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

mac beta

**Steps to reproduce the issue:**
1. docker service create --name dns_test --replicas=1  nginx:latest
2. docker exec -it <container> /bin/bash
3. ping dns_test

**Describe the results you received:**

[code]

**Describe the results you expected:**

It should be a known host.

**Additional information you deem

[2016-06-26 17:44] jhorwit2 commented on #23966
[code]

Also, since this is a service shouldn't the status be something even without a health check?

[2016-06-26 18:01] jhorwit2 commented on #23966
So, what's kinda strange is that the `resolv.conf` file had a 127.0.0.11 address iirc for another service that routed correctly https://github.com/docker/docker/issues/23965; however, my new containers have
[code]

I'm not sure why the file is different across create calls.

[2016-06-26 19:31] sauravskumar99 opened #23968 "Docker not working with ubuntu 16.04 kernel v4.6.3."
Ubuntu 16.04 has some power management issues... so i had to upgrade the kernel to linux-image-4.6.3-040603-generic_4.6.3-040603.201606241434_amd64.deb . But since the upgrade docker is not running.

I tried removing docker completely and reinstalling it but 2 issues arise
1.  aufs package is not being found for the current kernel version (but it is optional so fine)
2.  when installing docker...

[2016-06-26 21:09] vdemeester commented on #23791
We can close this one :angel:

[2016-06-26 21:09] #23791 closed

[2016-06-26 21:09] BillBrower commented on #3465
Thanks, @thaJeztah. That makes a lot of sense. I appreciate you explaining the rationale behind the original decision and outlining what you need to see if we want this to happen.

[2016-06-26 21:42] #23966 closed

[2016-06-26 21:46] jhorwit2 opened #23970 "service tasks that aren't healthy are still getting requests"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

mac beta

**Steps to reproduce the issue:**
1. `docker service create --name hc --replicas 2 --network mynet hc_test`
2. `docker exec -it <container> /bin/bash`
3. `apt-get update && apt-get -y install curl` -- this will cause health check to pass
3. `curl hc` - do this twice and once you will hit the node that's down.

[2016-06-26 21:50] steve-gray commented on #22659
Here it is, it spans versions (we're now @ 1.11.2 and still killing us frequently):

    Containers: 20
    Running: 2
    Paused: 0
    Stopped: 18
    Images: 65
    Server Version: 1.11.2
    Storage Driver: devicemapper
    Pool Name: docker-253:0-531958-pool
    Pool Blocksize: 65.54 kB
    Base Device Size: 10.74 GB
    Backing Filesystem: xfs
    Data file: /dev/vgDocker/lvData
    Metadata

[2016-06-26 22:46] F21 commented on #23963
@friism

Thanks! Opened a thread here for those interested: https://forums.docker.com/t/support-hyper-v-external-networking-for-docker-for-windows/16687

[2016-06-26 22:46] #23963 closed

[2016-06-26 23:10] nathanleclaire commented on #23911
:+1:

[2016-06-27 00:08] saada opened #23971 "Cannot create docker network: "could not find an available predefined network""
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
[code]

**Steps to reproduce the issue:**
1. create a docker network

**Describe the results you received:**
Failing command
[code]

Docker daemon log output in `/var/log/docker`
[code]

**Describe the results you expected:**
[code]

**Additional info

[2016-06-27 00:55] llamahunter commented on #18818
What's the progress on this issue?  It seems strange that pull through proxy mirrors are supported for *one* registry (docker.io), but not any other registries.

[2016-06-27 01:16] ligc commented on #23332
HI,

Yes, I set the /proc/sys/kernel/pid_max 4194304 and then I could launch 10000 blockchain containers on my x86 server now. Thanks a lot. This issue could be closed.

[2016-06-27 01:16] #23332 closed

[2016-06-27 03:14] juaby commented on #23930
all env :
[code]
[code]
[code]
[code]
[code]
[code]
[code]

[2016-06-27 03:36] sqstars opened #23972 "Attach both --device=XXX and --net=host to docker run command will always only add one same device to container, no matter how many times you run this command to start a new container."
---
## BUG REPORT INFORMATION

**Output of `docker version`:**

Client:
 Version:      1.9.1
 API version:  1.21
 Go version:   go1.4.2
 Git commit:   a34a1d5
 Built:        Fri Nov 20 13:25:01 UTC 2015
 OS/Arch:      linux/amd64

Server:
 Version:      1.9.1
 API version:  1.21
 Go version:   go1.4.2
 Git commit:   a34a1d5
 Built:        Fri Nov 20 13:25:01 UTC 2015
 OS/Arch:      linux/amd64

**

[2016-06-27 03:43] ptptptptptpt opened #23973 "Should update the alias of container(s) who had been linked by A container when A container is being renamed"
**Output of `docker version`:**

[code]

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**
When container "app1" was renamed to "app2", the alias "app1/mysql" was not updated to "app2/mysql".

**Describe the results you expected:**
The alias "app1/mysql" should be updated to "app2/mysql".

[2016-06-27 05:52] uzyexe commented on #23865
I was solved `docker pull` the recent docker images.

[2016-06-27 06:25] panter-dsd opened #23975 "Docker daemon crashed at start"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
Daemon crashed at start.

**Describe the results you received:**
[code]

[2016-06-27 06:39] denysvitali commented on #2174
I'm having the same issues,
apparently disabling iptables "fixes" the issue.
Really not a classy solution

[2016-06-27 06:46] sanimej commented on #23975
This is fixed in docker master by https://github.com/docker/docker/pull/23859 and will be available in 1.12-RC3. For now to avoid this panic make sure the kernel modules xrfm_user and xrmf_algo are loaded.

[2016-06-27 06:55] panter-dsd commented on #23975
I'm not found linux kernel modules named xrfm_user or xrmf_algo.

[2016-06-27 06:59] sanimej commented on #23975
Sorry, there were typos. module names are xfrm_user xfrm_algo.

It may not be available in some distros though. The PR I referred to earlier handles it gracefully and avoids the panic.

[2016-06-27 07:04] panter-dsd commented on #23975
Tank you. I'll wait for an update .

[2016-06-27 07:04] #23975 closed

[2016-06-27 07:32] str3tch opened #23976 "Docker Commit error: hcsshim::ImportLayer failed in Win32: The filename or extension is too long"
*Windows containers*

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

Docker images showing base containers and the one I have issue with (prognosis_exe):

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Windows Server TP5 running on Parallels for Mac (Macbook Air 2013, i7)

**Steps to reproduce the issue:**
1. docker pull microsoft/iis

[2016-06-27 08:15] sebglon opened #23978 "Add Avro flume log driver"
I wan't to add Avro-flume log driver to push all data on log centralizer

[2016-06-27 08:49] michaljrk commented on #23486
+1

I've faced very similar situation (the overlay network was working but stopped at some point , probably after one of the server restart), now the situation looks pretty much the same as swan-go described.

Environment details:

**docker version**
Client:
 Version:      1.10.2
 API version:  1.22
 Go version:   go1.5.3
 Git commit:   c3959b1
 Built:        Mon Feb 22 21:37:01 2016
 OS/Arch:

[2016-06-27 08:56] juaby commented on #23930
[code]

[2016-06-27 09:14] d2xdt2 opened #23979 "Dockerfile NoCache command"
A common problem is when having
[code]
somewhere in the Dockerfile, as Docker won't see when the repo have changed. Using `--no-cache` is the slowest possible option. To solve this I propose a `NOCACHE` command
[code]
which will disable caching when encountered at that point in that particular Dockerfile.

[2016-06-27 09:34] ashb commented on #17181
@farmdawgnation not from me as I'm just a lowly docker user I'm afraid.

[2016-06-27 10:10] bamarni commented on #23979
It has already been discussed in #1996

[2016-06-27 10:10] jimmycmh commented on #22516
@anandkumarpatel I met the same issue. Is it fixed?

[2016-06-27 10:15] jyrkiput opened #23980 "Unclear error message when overlay network is created with invalid parameters"
While trying out overlay network and starting containers on it, I got following error:

[code]
I think that the reason was invalid parameters used in network creation (managed to get things working by removing those), but the error message is somewhat unclear.

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical

[2016-06-27 10:29] jimmidyson opened #23981 "Cannot start docker engine after upgrade of both fedora & docker-engine due to selinux errors"
Previously running Fedora 23 with docker-engine{,-selinux} 1.10.3 from Docker repos (not Fedora repos) - working fine for months. Upgraded to Fedora 24, updated to Docker 1.11.2 throws an error:

[code]

Have a colleague with exactly the same problem. Tried uninstalling RPMs & reinstalling but no luck.

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional env

[2016-06-27 10:45] jodok commented on #23915
+1 got bitten by this as well

[2016-06-27 10:56] jimmycmh commented on #22516
[code]
@hqhq It seems you have explicitly forbidden updating memory to zero, as well as other resources. What's the consideration?

[2016-06-27 10:56] allencloud opened #23983 "`docker network create -d bridge test` works if there is already an overlay network named test?"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1.`docker network create -d overlay test` to create an overlay network named test
2.`docker network create -d bridge test` to create a bridge network named test

Above steps can work. Actually they own the same name.

[2016-06-27 11:00] jimmidyson commented on #23981
Running `systemctl start docker` fails with following in logs:

[code]

[2016-06-27 11:01] boynux commented on #22516
@jimmycmh there is an open PR for this issue, the problem is the fix is not working on Mac!

[2016-06-27 11:04] jimmidyson commented on #23981
I assume this is because the docker selinux module isn't loaded (`sudo semodule -l | grep docker`) returns nothing.

[2016-06-27 11:46] madjam002 opened #23984 "[1.12-rc2] Service volume mounts in DAB file"
In Docker 1.12-rc2, it appears to be possible to define volume mounts using:

[code]

(will probably want to use a volume driver like flocker instead of bind mounting a volume)

Will we see the ability to define mounts in a DAB file? And will Docker Compose be able to export volumes as mounts into the DAB file?

[2016-06-27 11:55] telphan opened #23985 "Error starting daemon: Error loading key file /etc/docker/key.json: unable to decode private key JWK: decoding JWK Private Key JSON data: unexpected end of JSON input"
**Output of `docker version`:**

[code]

**Steps to reproduce the issue:**
1. Start docker (e.g. let systemd start it for you)
2. Force docker to stop executing during its boot up sequence (e.g. cut power to the device just after systemd starts activating docker.service)
3. An empty key.json file should appear in /etc/docker/

**Describe the results you received:**

 Error starting daemon: Error l

[2016-06-27 11:56] telphan commented on #15247
@thaJeztah https://github.com/docker/docker/issues/23985

[2016-06-27 12:13] kiwenlau commented on #20399
I understand that image and layer are different things since docker 1.1.0

We can get all image id using:

[code]

Is there any way to get the layer checksums of all layers of all images in a Docker host?

[2016-06-27 13:00] jcstover opened #23987 "Docker should not update FORWARD chain on startup"
We want to use docker in a restricted setup where we can controle who has access to the running containers. On startup docker adds rules to the FORWARD chain, empties the DOCKER chain and resets the DOCKER-ISOLATION chain.

Since we want to restrict access to the used bridges we want to add rules preventing this in the FORWARD chain, but the problem with this is that docker puts its own rules befo

[2016-06-27 13:00] farmdawgnation commented on #17181
Ah, sorry. I thought you were a maintainer. :)

[2016-06-27 13:03] cpuguy83 commented on #23987
Closing as this is a dup of #14041
If you could post your case over there, that'd be awesome!

Thanks!

[2016-06-27 13:06] cpuguy83 commented on #23984
dabs are still experimental, we don't know what they will be (in full) yet.

However, the main goal is to have a portable way to define services, and being able to specify mounts is not portable.

Thanks for the interest, but I'm going to close this since it's not really an issue.
For questions forums.docker.com may be a better place, for #docker on IRC.

Thanks again!

[2016-06-27 13:06] #23984 closed

[2016-06-27 13:13] cpuguy83 commented on #3804
FYI, quotas are now supported in devicemapper, zfs, and btrfs.
Probably won't ever be supported in aufs or overlay.

[2016-06-27 13:16] cpuguy83 opened #23988 "Arguments/options passed to plugin"
When loading a plugin (`docker plugin load`, `docker plugin install`), there needs to be a way to pass arguments/options to the plugin.

For example: if there was a btrfs volume driver, the driver would need to know what device(s) to use.
Note this is more than just adding the device(s) to the running container since device names will be different from host to host.

ping @tiborvass @anusha-raguna

[2016-06-27 13:21] cpuguy83 commented on #23983
ping @mrjana

[2016-06-27 13:22] jcstover commented on #14041
Very short recap of the issue I am facing which is not exactly the descibed issue here. But we also faced the problem that to access to a host is restricted in the INPUT chain preventing outside access, due to the FORWARD rules placed by docker access is granted to everyone to containers with mapped ports.

I would suggest that is a secure environment users are responsible for setting the correct

[2016-06-27 13:25] cpuguy83 commented on #23979
Closing since this is a dup.

[2016-06-27 13:25] #23979 closed

[2016-06-27 13:30] mpepping opened #23989 "Host volume mount fails when using SElinux and a mountpoint as source"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Red Hat EL7.2, VMware hypervisor

**Steps to reproduce the issue:**

1. Run Docker Engine /w `--selinux-enabled=true` on a SElinux enforcing host.
2. Mount a disk or logical-volume on a mountpoint, let's say `/foo/bar`
3. Volume-mount the mountpoint

[2016-06-27 13:32] phemmer commented on #14041
@jcstover that's a separate issue entirely.
I see you opened #23987 for this, and I think that is the right action. @cpuguy83 I don't think these should be the same issue. #23987 is about docker not overriding custom rules. This issue is about a vulnerability docker exposes.

[2016-06-27 13:33] cpuguy83 commented on #2174
@denysvitali Docker already adds this rule to the PREROUTING chain:
[code]

[2016-06-27 13:35] GameScripting commented on #14041
Yeah, there are seperate issues. But I guess the solution for both problems might be the same. Makes it a little hardes to distinguish between both.
Anyway https://github.com/docker/docker/issues/23987 was closed as dup of this one.

[2016-06-27 13:35] cpuguy83 commented on #14041
@phemmer The other one is not about docker overriding rules, it's about docker injecting rules such that custom rules are ignored.
These are one in the same IMO.

[2016-06-27 13:37] cpuguy83 commented on #23989
Does the mount or the chcon work? Are you still using the `z` option when you do the chon?

[2016-06-27 13:42] phemmer commented on #14041
@GameScripting I don't think they would be the same at all. But even if they might be the same, that doesn't mean they should be merged. What if the issues aren't the same. Then we have no issue to track whichever issue wasn't solved.

@cpuguy83 That's what I mean. If you put in a custom FORWARD rule to peform an action, and then docker injects it's own rule which causes  your rule to be ignored,

[2016-06-27 13:44] cpuguy83 commented on #23970
I do not think the routing mesh is integrated with health checking yet.

ping @mrjana

[2016-06-27 13:47] mpepping commented on #23989
Mounting with `defcontext ` or running `chcon -R` both succeed. Running `ls -lZ` show the correct SElinux label on the mountpoint. The `:z` optioning is used in the Docker volume parameter.

[2016-06-27 13:49] cromat commented on #6999
:+1::

[2016-06-27 13:51] cpuguy83 commented on #23989
ping @rhatdan

[2016-06-27 13:55] jhorwit2 commented on #23970
That would explain it. Is there a ticket tracking this? I searched but didn't see anything.

[2016-06-27 13:57] nkratzke opened #23990 "After 'swarm init', unable to create network using local-scoped ipam plugin : "weavemesh""
I just tried to launch Weave with Docker Swarm (Version 1.12, RC 2).
That is not working.

According to Weave engineers this is due to that Docker is not supporting plugins in Swarm mode, (Version 1.12). https://github.com/docker/libnetwork/issues/1296#issuecomment-228572727

However, this leads to the following situation, that weave (and other network plugins) can not be used with Docker swarm af

[2016-06-27 13:59] cpuguy83 commented on #23970
Yep, this one! :)

[2016-06-27 14:01] tophj-ibm commented on #23626
Closing this because it hasn't failed since the last swarmkit vendor #23707.

[2016-06-27 14:03] GameScripting commented on #14041
Yeah, right. Two seperate issues:

1. Docker changing `net.ipv4.ip_forward` without adding DROP policy to the FORWARD chain to ensure containers are protected (this issue)
2. Docker "overriding" custom iptables rules by modifing the FORWARD chain directly

Possible solutions might be:

1. Set default DROP policy to the FORWARD chain
2. Only auto-add port-mapping rules to the DOCKER chain so it doe

[2016-06-27 14:05] madjam002 commented on #23984
@cpuguy83 Makes sense, thanks for getting back to me :smile:

Is there any kind of existing chat thread regarding the DAB format or more generally the end goal of having "a portable way to define services"?

It would be nice to follow the progress of this format and what it will become, and how these problems get solved.

Also keeping the environment variables inline in this file could arguably be

[2016-06-27 14:10] cpuguy83 commented on #23984
@madjam002 As long as the environment vars are static, it should be portable. They are not host dependent and only change things inside the image.

I agree having a file-based runtime config would be nice, but probably only after dab is in stable.

[2016-06-27 14:13] cpuguy83 commented on #23990
@nkratzke network plugins still work as they always have, just not with services (yet).
I would have to defer to the libnetwork folks as to the challenges of integrating network plugins support with services.

[2016-06-27 14:18] rade commented on #23990
Not once you have issued a `docker swarm init`. See weaveworks/weave#2403.

[2016-06-27 14:19] cpuguy83 commented on #23962
What happens if you `exit 1` instead of `exit 2`

[2016-06-27 14:19] gumieri commented on #23981
I have the same Issue here.
Can it be related to absence of repo to fedora 24? (https://yum.dockerproject.org/repo/main/fedora/24)
[code]

[2016-06-27 14:21] deathtrix commented on #23366
@thaJeztah ok. So, taking into account that on out setup the MTU is set by flannel (we use kubernetes) and docker takes it as a parameter, what should I do?

[2016-06-27 14:23] cpuguy83 commented on #23990
I'm not sure what should be expected here...
I'm not surprised that since plugins are not supported in swarm mode, that once the node joins a swarm (via `docker swarm join` or `docker swarm init`) that it can't use plugins... but will again defer to the libnetwork folks on if that's expected or not.

Note that `swarm mode` is not the same as using github.com/docker/swarm

ping @mavenugo

[2016-06-27 14:24] cpuguy83 commented on #23990
I also noted on the referenced issue that there seems to be some in-memory state that doesn't get cleared after leaving the swarm. I feel like that's a bug.

[2016-06-27 14:27] cpuguy83 commented on #23981
@gumieri Seems likely.

[2016-06-27 14:29] jimmidyson commented on #23981
@gumieri Possibly but it looks OK. It looks to me like an incompatibility between the docker selinux module & selinux on fc24, but I'm not sure of the selinux differences from fc23 tbh.

[2016-06-27 14:43] mikkotikkanen commented on #23177
This is especially big issue when running dev setups through `docker-compose` (which doesn't allow bash scripts specially when running in different OS's) to have specific version of database servers etc. It doesn't make any sense (and is pretty much against the ideology of docker) to force one to modify the image itself (ie. write scripts for specific environments) in order to be able to override

[2016-06-27 14:52] ivansieder opened #23991 "Combined commands in Docker on Windows 1.12 RC2"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Steps to reproduce the issue:**
1. `docker run -d ubuntu /bin/bash`
2. ``docker stop ````docker ps -a` `

**Describe the results you received:**
PS C:\> docker stop `docker ps -a`
unknown shorthand flag: 'a' in -a`
See 'docker stop --help'.

**Describe the results you expected:**
All containers should be stopped (work

[2016-06-27 14:58] otbe commented on #23962
@cpuguy83
Replicas will not run at all, because swarm scheduler will reschedule the containers because they are unhealthy. The result is a loop: Accepted -> Running -> Unhealthy -> Accepted.
Therefore I can't update my service properly :/
Do I miss something?

[2016-06-27 14:59] allencloud commented on #23879
I have experienced this situation. No event when create overlay network.

[2016-06-27 14:59] cpuguy83 commented on #23962
@otbe So it sounds like swarm is not taking into account the "starting" state specifically.

[2016-06-27 15:00] thaJeztah commented on #23745
One thing I noticed is that `docker run hello-world` starts a container using the `hello-world` image, but the container may have a different name, so `docker inspect hello-world` is inspecting the *image*, not the *container*.

The "panic" in the logs doesn't look good though. Let me ping someone from the Docker for Windows team, because development for that isn't done in this repository

ping @d

[2016-06-27 15:05] otbe commented on #23962
@cpuguy83 yes I think so. Thats what I observe while using ```HEALTHCHECK```s and swarm.

[2016-06-27 15:11] tiborvass commented on #23971
@saada could you please provide the docker logs when docker is starting preferrably in debug mode?

[2016-06-27 15:14] yongtang commented on #23973
The issue seems to be because `rename` does not update nameIndex and linkIndex. I can take a look at it. #dibs

[2016-06-27 15:17] tiborvass commented on #23885
@cpuguy83 can we then close this issue or is there something else to do here?

[2016-06-27 15:19] cpuguy83 commented on #23885
@charlesmims can you confirm that this is your issue?

[2016-06-27 15:25] madjam002 commented on #23984
@cpuguy83 Sounds good

[2016-06-27 15:32] daaps opened #23992 "windows 10 docker volume mounting problems"
Hello,

I am using Docker version 1.12.0-rc2, build 906eacd, experimental

The problem that i had with docker toolbox, regarding the fact that i cannot create volumes between windows and docker still persists:

an example : docker run -itd --name=nodejs --privileged=true -v c:\Users\xxx:/mnt/shared/ readytalk/nodejs does not map my folder inside docker. I tried many other combinations like :

-v c

[2016-06-27 15:34] rade commented on #23990
Quite. The other strange symptom documented in that issue is that the complaint about the "invalid ipam driver: weavemesh" goes away when said driver has been used prior to `docker swarm init`. So it looks like once in swarm mode, docker no longer finds *new* plugin drivers but can continue to talk to pre-existing ones.

[2016-06-27 15:37] christianparpart commented on #23792
Hey Guys, :+1: I unfortunately run into the very same issue. I just had a fresh install of Docker for Mac (no docker for mac before ever installed - but Docker Machine)

[2016-06-27 15:38] tiborvass commented on #23873
@aaronlehmann apart from UI discussions, the bug itself was fixed right? So can we close this issue?

[2016-06-27 15:48] tiborvass commented on #23831
@thaJeztah do we have an issue tracking the async UX / error-reporting ? That way we can close this one since it's mixing conversation about a bug and UX.

[2016-06-27 15:49] dgageot commented on #23745
@thaJeztah @provegard this is fixed in Docker for Windows master. Will be released soon

[2016-06-27 15:50] wicope commented on #22494
Same, only once for now

[code]

[code]

[code]

For this case i use:
`docker exec -it foo ash`

[2016-06-27 15:51] BenOvermyer commented on #13490
@davibe the problem with that is that if the container or its process(es) restarts, those env vars are then gone, with no way to recover them.

[2016-06-27 15:53] tiborvass commented on #23812
@BenHall can you provide more information `docker info` and can you verify with netstat or lsof that you really have nothing running on port 80 ?

[2016-06-27 15:54] tiborvass commented on #23831
Found it https://github.com/docker/docker/issues/23706. Closing if that's alright. Comment if you disagree we can reopen if needed.

[2016-06-27 15:54] #23831 closed

[2016-06-27 15:56] tiborvass commented on #23811
@thaJeztah @stevvooe I suggest we close this in favor of https://github.com/docker/docker/issues/23706

[2016-06-27 15:58] mavenugo commented on #23990
@rade @nkratzke @cpuguy83 network plugins are not currently supported in swarmkit. When swarm-mode is enabled, the global network creation is handled by swarmkit and hence the lack of plugin support affects the workflow. I think we should error out cleanly in swarmkit when the network is created.
cc @mrjana

[2016-06-27 16:01] garrickp commented on #13268
I no longer have access to the application which triggered this behavior initially. The disk usage was not abnormally high under load; the code was loaded into memory and served from memory from there out.

Sorry I'm unable to assist further on this issue.

[2016-06-27 16:04] rade commented on #23990
What about local-mode plugins? We are seeing these errors there too.

[2016-06-27 16:08] dgageot commented on #23992
Hi @daaps, have you shared the `C` drive in your settings?

[2016-06-27 16:10] dgageot commented on #23992
![capture](https://cloud.githubusercontent.com/assets/153495/16386822/6ad90e4c-3c92-11e6-8cba-1598c7dcdf6a.PNG)

[2016-06-27 16:17] jhorwit2 opened #23994 "service update should respect health checks"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

mac beta

**Steps to reproduce the issue:**
1. `docker service create --name hc --replicas 2 --network mynet hc_test` (see below for dockerfile)
2. `docker tag hc_test hc_test:1`
3. `docker service update --update-parallelism 1 --update-delay 10s --image hc_test:1 hc`

**Describe the results you received:**

The update

[2016-06-27 16:18] cpuguy83 commented on #23994
Thanks! This is a dup of #23962
Specifically it looks like it's not handling the "starting" state correctly.

[2016-06-27 16:18] #23994 closed

[2016-06-27 16:19] jhorwit2 commented on #23994
whoops thanks @cpuguy83

[2016-06-27 16:22] jhorwit2 commented on #23994
Actually @cpuguy83 it's not just starting state. The first container updated could have unhealthy as a state and it will still continue.

[2016-06-27 16:29] johnharris85 commented on #23960
Thanks Brian, will check it out!

[2016-06-27 16:32] aaronlehmann commented on #23873
@tiborvass I believe so.

[2016-06-27 16:34] mrjana commented on #23990
@mavenugo I think this is about local scope plugins. To clarify all local scope plugins should continue to work even if swarm mode is enabled. So there seems to be a bug in the engine-api implementation in docker where a local scope plugin is affected when swarm mode is enabled. We should fix this before 1.12 release

[2016-06-27 16:40] cpuguy83 commented on #23994
@jhorwit2 Testing locally, seems so. Will update the other issue.

[2016-06-27 16:41] cpuguy83 commented on #23962
Testing this myself, I'm not sure that swarm is taking into account healthchecks at all atm.

[2016-06-27 16:42] rade commented on #23990
The `weave launch` in the examples in weaveworks/weave#2403 does indeed (attempt to) create a network from a local scope driver.

[2016-06-27 16:47] otbe commented on #23962
It is not mentioned explicitly in the docs, but it was my expectation. :)

When exiting with 1 it works for me. Swarm will reschedule unhealthy containers.

This is my most wanted feature because it allows native zero downtime deployments for the first time.

[2016-06-27 16:48] jhorwit2 commented on #23962
It's also important for update to take into account health check because if the image code has a bug you now just released an unhealthy image to your whole service which means downtime. It would be nice if update would quit if a container gets an unhealthy status response to avoid this scenario.

[2016-06-27 16:51] ellerycrane commented on #23684
@tonistiigi I wrote a script to execute C, and copied the output from running it in a fresh environment. I redacted the credentials I used for the registry.

Here is the output for testing `C.e`:
[code]
And here is the output from executing `C.e`:

[code]

The only things that I can think of to explain why you wouldn't be seeing this behavior are because I'm using quay.io as remote registry instea

[2016-06-27 16:53] mavenugo commented on #23990
@rade could you pls point us to the code that implements the `weave launch` wrapper ? It isn't clear on why the failure is seen on the ipam-driver (as mentioned in https://github.com/weaveworks/weave/issues/2403)

[2016-06-27 16:59] ellerycrane commented on #23684
@tonistiigi Would it be possible add an option to `docker save` to include registry checksums, and an option to `docker pull` that just downloads the checksums and not the data? The key point here is that needing to `docker pull` and `push` large amounts of data when it already exists on both sides is *bad*, and there should be a way to avoid that- even if it involves some custom flags on the comm

[2016-06-27 17:01] rade commented on #23990
https://github.com/weaveworks/weave/blob/v1.6.0/weave#L1940

That is going to be quite hard to follow. The bit that provokes the error is in https://github.com/weaveworks/weave/blob/v1.6.0/weave#L1768, which is implemented in https://github.com/weaveworks/weave/blob/v1.6.0/prog/weaveutil/plugin_network.go#L12 and essentially boils down to the equivalent of `docker network create --driver=weavemesh

[2016-06-27 17:02] tonistiigi commented on #20399
@kiwenlau You can get the layer checksums for an individual image with `docker inspect`. Combine that with xargs if you need a single command.

[2016-06-27 17:03] saada commented on #23971
Here's the extensive log file. I also found lots of other errors while I was skimming through...including panics.
[code]

[2016-06-27 17:14] calvincheng8 opened #23995 "docker swarm init fails on IPv6 only host"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
My host is a KVM guest running Ubuntu 16.04 LTS, with only IPv6 networking enabled. No IPv4 is configured.

**Steps to reproduce the issue:**
1. Start dockerd with "-H fd:// --ipv6=true" options
2. Run "docker swarm init"

**Describe the results you r

[2016-06-27 17:15] dgageot commented on #23991
Hi @ivansieder, from the `PS` prompt, I guess you are using PowerShell. Unfortunately, the syntax you want to use is bash specific. It will never be supported in PowerShell. It has nothing to do with docker.

@thaJeztah I guess it can be closed as wontfix

[2016-06-27 17:17] tonistiigi commented on #23684
@ellerycrane I'm not sure what version quay is running and if they have support for schema 2 manifests. We can't just include checksums in `docker save` tarballs because we have no way to verify them. Or if we put compressed layers in tar then they would likely have different checksums. Proving that we already have the layer and need to skip download is solved in v1.10/v2.3 . On push the problem i

[2016-06-27 17:17] aboch commented on #23971
Regarding the panic it's a bug in the error string creation, after the failure to write the endpoiint to local store.

[2016-06-27 17:19] cpuguy83 commented on #23971
@aboch I have a PR up for it, just now

[2016-06-27 17:20] ellerycrane commented on #23684
@tonistiigi What about an option to `docker pull` just the checksums? The `docker pull -> docker rmi` followed by a `docker load` working properly suggests this should be possible.

[2016-06-27 17:22] aboch commented on #23971
@cpuguy83 Ops I already ipened one in libnetwork. I will close it. Pls push yours.

[2016-06-27 17:22] #23873 closed

[2016-06-27 17:22] thaJeztah commented on #23985
If it's really empty, perhaps we should ignore it. otoh, sounds like a legitimate error in this case

[2016-06-27 17:27] tonistiigi commented on #23684
@ellerycrane We still have to validate the checksums otherwise they can be faked and used to fill fake cache for the next pulls. The above works because `docker pull` actually downloaded the layers and verified the checksums. Now these checksums can be used in later operations as well. So `docker pull --checksums` would work for adding checksums to layers already loaded with `docker load` but you

[2016-06-27 17:27] runshenzhu commented on #23962
@otbe maybe you could try `--update-delay` to avoid the downtime.

As far as I know, in stead of checking health_status of the container (e.g. `starting`, `healthy`, and `unhealth`), SwarmKit uses container's status (`running`, `exited`) as the indicator to start next container.

[2016-06-27 17:31] provegard commented on #23745
@thaJeztah My use case is actually image inspection.

@dgageot great to hear, thanks! :-)

[2016-06-27 17:33] otbe commented on #23962
@runshenzhu
Yeah this is my non native workaround. But it is very hard to predict bootstrap time in some circumstances, so real checking would be much better.

[2016-06-27 17:33] thaJeztah commented on #18354
@mavenugo ^^

[2016-06-27 17:43] telphan commented on #23985
The file is empty and if we reach that state the code behaves as expected returning an error (fatal one). There needs to be a way of recovering from this failed state, because I do not consider this error fatal. Ignoring the 0 sized file is one way (it's the way we currently deal with this problem in our OS.

[2016-06-27 17:46] aboch commented on #23971
@saada
When user does not specify `--subnet` during network creation, the default ipam driver tries to auto-assign a subnet from a list of predefined pools, given it does not overlap with any route on your host. There are around 31 predefined pools.

How many networks did you have when the issue was encountered ? I am trying to see if this is a legitimate failure, whether the limit was or not reac

[2016-06-27 17:47] tiborvass commented on #23782
Closing as dupe of #23784 feel free to object in comments to have us reevaluate.

[2016-06-27 17:47] #23782 closed

[2016-06-27 17:49] VoR0220 commented on #23792
I got around this problem by simply restarting the docker machine.

[2016-06-27 17:51] dmcgowan commented on #22871
This would likely need storage driver specific implementations to get accuracy here. Hard link usage across layers (such as overlay) make it tricky to show how much data could be cleaned up by removing untagged images. An initial step of getting the total usage would be useful then later expanding that to figuring out the real usage per layer, which would allow a better picture for what can be rec

[2016-06-27 17:59] abronan commented on #23784
docker/swarmkit#957 was merged, now the node is denied membership if the accepting member cannot ping it back through its advertised address, the membership should thus stay consistent and removal should work. Next vendoring should include the change.

[2016-06-27 17:59] cpuguy83 commented on #23995
Looking at this, it looks like it should just work if you specify your own listen addr.
`docker swarm init --listen-addr <ip>:<port>`

Otherwise it tries to infer a listen address based on the default route, which it accomplishes by dialing out.
I'll see if there's a better way to handle this.

[2016-06-27 18:04] jcstover commented on #14041
@GameScripting
as you state it, the 3 option I proposed would make both solution possible. For a good security it is vital that a sys admin can control the iptables configuration. If there was an option to tell the docker daemon not to touch the FORWARD chain, then the user can add a DROP policy in the FORWARD chain and it makes it possible to add fine grained rules to the FORWARD chain.

On the u

[2016-06-27 18:06] tiborvass commented on #23811
Closing in favor of #23706 feel free to object in the comments to have us reevaluate.

[2016-06-27 18:06] #23811 closed

[2016-06-27 18:07] thaJeztah commented on #23765
ping @cyphar any ideas?

[2016-06-27 18:12] tophj-ibm opened #23998 "Suite plugin is timing out, slowing down integration tests"
DockerExternalVolumeSuite activates a VolumeDriver plugin for the tests in that suite. However, even after removing the plugins directory, all future api calls to volume will still make a request to that plugin. Because that plugin, and the server attached to it no longer exist, it will timeout for 15 seconds per request.

[code]

Due to a lingering volume abc2 that is trying to be deleted constan

[2016-06-27 18:13] MBauer83 commented on #23900
In my case, I was able to resolve the issue by creating a new Windows-User with `[LocalMachineName]\dockeruser` as name and some `[a-zA-Z0-9]+` password, logging on and off on the machine with the user, getting back to my main account, resetting credentials in docker for windows and entering the name and credentials of the created dockeruser.

I have tried this from two accounts - one whose name i

[2016-06-27 18:14] tiborvass commented on #23689
Related issues: #23691 #23692

[2016-06-27 18:18] tonistiigi opened #23999 "Escape character should not leak into another parse command"
Escape character setting in Dockerfile seems to set a global variable meaning 2 `Parse()` commands will use the same variable with undefined behavior.

Also the unit tests in `builder/dockerfile/parser` do not expect the `tokenEscape` variable to be unset.

@jhowardmsft

[2016-06-27 18:22] thaJeztah commented on #22309
ping @calavera ^^ PTAL

[2016-06-27 18:25] cyphar commented on #23765
@inercia is on the same team as me :wink:, we've been looking into this issue for a while (we're working on running the integration tests as part of our release setup).

[2016-06-27 18:35] tiborvass commented on #23709
@mrjana is there a reference to a PR or is it still being worked on?

[2016-06-27 18:35] calvincheng8 commented on #23995
Just tried
[code]

Switching to hostname with IPv6 defined in /etc/hosts:
[code]

And it worked!

[code]

Please fix the parsing of IPv6 address as well as looking up the default route when IPv4 is disabled.

[2016-06-27 18:35] jhorwit2 commented on #23855
I notice that pings fail, but I can curl the service name.

[2016-06-27 18:39] thaJeztah commented on #23157
thanks @mlaventure closing this as it should be fixed now

[2016-06-27 18:39] #23157 closed

[2016-06-27 18:41] thaJeztah commented on #23680
ping @jhowardmsft 😇

[2016-06-27 18:41] Random-Liu opened #24000 "sysfs is mounted as readonly for privileged container"
W
**Output of `docker version`:**
The node is
[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
We started
2.
3.

docker run -ti --privileged --net=host busybox mount | grep ^sysfs

**Describe the results you received:**
`sysfs on /sys type sysfs (ro,nosuid,nodev,noexec,relatime)`

**Describe the results you expected:**
`sysfs on /sys

[2016-06-27 18:42] jhowardmsft commented on #23999
It's initialised at https://github.com/docker/docker/blob/master/builder/dockerfile/parser/parser.go#L151 on every call into `Parse()`

[2016-06-27 18:44] jjmiv opened #24001 "Docker for Mac - Build dockerfiles than run behind corp firewall proxy"
I have reviewed the issues and have not found a concrete resolution for creating a dockerfile than will run behind specific proxy (HTTP_PROXY, etc) settings.

I have tried using ENV HTTP_PROXY, etc in the dockerfile but it does not build.  I would like to create a dockerfile that builds and runs with burned in corp proxy settings.

I am using the Docker for Mac beta to build and run the dockerfile

[2016-06-27 18:48] tonistiigi commented on #23999
Yes

[2016-06-27 18:48] tiborvass commented on #23396
I believe this should be fixed by now. If still not resolved, I believe https://github.com/docker/docker/pull/23824 could have contributed a fix which will be effective after the rc3 release.

[2016-06-27 18:48] #23396 closed

[2016-06-27 18:51] tiborvass commented on #23078
@aboch does https://github.com/docker/libnetwork/pull/1130 mean that this can be closed?

[2016-06-27 18:55] tiborvass commented on #23010
Can't reproduce, must have been fixed already.

[2016-06-27 18:55] #23010 closed

[2016-06-27 18:55] #23699 closed

[2016-06-27 18:56] tiborvass commented on #22975
Ping @mavenugo what's up with this?

[2016-06-27 19:00] thaJeztah commented on #23784
@abronan if that resolves this issue, please make sure to add a `fixes ...` in the next vendoring PR

[2016-06-27 19:00] cefn commented on #23432
OK, looks like there was a spurious semi-colon like...
[code]
...which caused ExposedPorts to be silently ignored.

It is very unfortunate not to have any apparent error reporting, apparently thanks to the 'open schema model' behaviour of the Remote API.

I can't see how this swallowing of errors when properties are clearly intended to control Docker could ever be a feature.

[2016-06-27 19:00] #23432 closed

[2016-06-27 19:00] aboch commented on #23078
@tiborvass Yes that change plus other is likely going to fix this issue, in the sense the condition for the problem reported to happen should no longer be possible.

[2016-06-27 19:01] tiborvass commented on #22975
Seems to have been fixed by libnetwork vendoring after https://github.com/docker/libnetwork/pull/1246 was merged.

[2016-06-27 19:01] #22975 closed

[2016-06-27 19:11] bboreham commented on #23990
Some logs, in case it helps, from running the command:

    docker network create --driver=weavemesh --ipam-driver=weavemesh foo

Docker logs in debug mode:

[code]

From our own plugin logs I see `GetDefaultAddressSpaces` being called, so that leads me to believe that `DrvRegistry.registerIpamDriver` is erroring after that.

[2016-06-27 19:27] #23787 closed

[2016-06-27 19:45] #22972 closed

[2016-06-27 19:45] TomBarryy commented on #20484
Thank you @thaJeztah, that was all that was required!

[2016-06-27 19:54] darrenstahlmsft opened #24004 "Windows: StdIn being closed when the handle is no longer valid"
This bug is for tracking purposes.

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Windows

**Steps to reproduce the issue:**
1. docker run -i --rm windowsservercore cmd
2. >exit

**Describe the results you received:**
Error appears in log:
[code]

**Describe the results you expected:**
No error

[2016-06-27 19:54] darrenstahlmsft commented on #24004
dibs

[2016-06-27 19:55] darrenstahlmsft commented on #24004
#dibs

[2016-06-27 20:05] williamh opened #24005 "Docker 1.12-rc2 complains if CONFIG_IP_VS is not set in kernel, please update contrib/check-config.sh"
A user reported the following error to me when starting docker:
WARN[0089] Running modprobe ip_vs failed with message: `modprobe: WARNING: Module ip_vs not found in directory /lib/modules/4.4.1-vanilla-docker-1`, error:
exit status 1
ERRO[0089] Could not get ipvs family information from the kernel. It is possible that ipvs is not enabled in your kernel. Native loadbalancing will not
work until thi

[2016-06-27 20:05] tiborvass commented on #23078
Okay thanks.

[2016-06-27 20:05] #23078 closed

[2016-06-27 20:10] tonistiigi commented on #23999
@jhowardmsft I think these tests failed because the `tokenEscape` is not set.

https://jenkins.dockerproject.org/job/Docker%20Master/label=ubuntu%20&&%20zfs/5933/console
https://jenkins.dockerproject.org/job/Docker%20Master/label=ubuntu%20&&%20zfs/5941/console

[2016-06-27 20:12] tonistiigi commented on #23517
Possible cause: #23999

[2016-06-27 20:27] thaJeztah opened #24006 "[1.12-rc2] RFC: should running "swarm init" multiple times be an error?"
Currently, running `docker swarm init` [produces an error](https://github.com/docker/docker/blob/7ff546467de3fa3d1c1104e9f40c6d16742ebac0/daemon/cluster/cluster.go#L45-L46);

[code]

- Should this second call be an Error, or just "info"?
- Given that I don't run `docker swarm join`, is there a reason to mention how to leave this swarm and join another one?

[2016-06-27 20:41] thaJeztah commented on #23865
Looks like it's not running Raspberry Pi images. I know this was an "undocumented" feature, so not sure something changed in that area

ping @avsm @justincormack any idea if something changed?

[2016-06-27 20:46] #22865 closed

[2016-06-27 20:56] tonistiigi commented on #24006
1) I think this should give error code. Init is a very specific(and not idempotent) action that involves creating ca/blank raft state etc.
2) Error message could be better but I think mentioning `docker leave` is important.

[2016-06-27 20:59] tonistiigi commented on #23995
Parsing should be fixed after #23832

[2016-06-27 21:10] saada commented on #23971
@aboch I had between 5-10 local bridge networks. You're saying there's a limit of 31 networks???

[2016-06-27 21:13] saada commented on #23971
https://github.com/docker/libnetwork/issues/1101 seems related or could even be a duplicate

[2016-06-27 21:14] thaJeztah commented on #23999
Added to the 1.12 milestone, because it's a new feature in 1.12

[2016-06-27 21:16] aboch commented on #23971
@saada The limit is there if you do not specify `--subnet` when you create the networks.
Please also post the o/p of `ip route`

[2016-06-27 21:17] thaJeztah commented on #24006
@tonistiigi yes, I wondered about that; perhaps from a *technical* viewpoint it's not idempotent, wondering if it is from a UX perspective; end result of calling it twice is the same

[2016-06-27 21:18] saada commented on #23971
https://github.com/docker/libnetwork/issues/951 also seems related

[2016-06-27 21:19] saada commented on #23971
@aboch
[code]

Is there a way to add --subnet in docker-compose?

[2016-06-27 21:20] TimWolla opened #24008 "Cannot COPY to /"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
My workstation, running Ubuntu 16.04 using ZFS on Linux from the official repositories.

**Steps to reproduce the issue:**

1. Create a `Dockerfile` with the following contents:

        FROM debian:jessie

        COPY test.txt /test.txt

2. Create a

[2016-06-27 21:22] aboch commented on #23971
@saada

https://docs.docker.com/compose/compose-file/#network-configuration-reference

[2016-06-27 21:24] dnwake opened #24009 "TLS client ciphers usable by Docker daemon differ from those usable by Docker client -- makes little sense when using Content Trust with a proxy"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. Set up a proxy running Squid 3.4
2. Configure the Docker daemon to use the proxy by setting HTTPS_PROXY in /etc/sysconfig/docker
3. Restart the Docker daemon
4. Try a Docker push / pull.  Result: successful
5. Now

[2016-06-27 21:26] tonistiigi commented on #24006
@thaJeztah `swarm leave && swarm init` will give you a completely fresh state, it will not get you back to your original state. Also this is only one specific way to get this error and not really detectable from the others. If you joined another cluster, are a worker, were demoted, lost connectivity, lost quorum etc. then the fact that swarm mode is on doesn't mean that you can expect things that

[2016-06-27 21:30] aluzzardi commented on #23880
@nathanleclaire @kelseyhightower @gerred: The use case is already covered by the service model.

Services have a "mode" (I don't like this term, very open to suggestions) and a mode maps directly to an orchestrator (what @kelseyhightower refers to as a controller).

We currently have two service modes: Replicated ("scalable") and Global ("runs on every machine").

e.g. `docker service create --mod

[2016-06-27 21:32] FrenchBen commented on #23865
Seems that the image is using the `FROM scratch` directive which is missing the qemu binary needed to run it under docker for mac.
https://github.com/hypriot/rpi-whoami

cc @StefanScherer @DieterReuter

[2016-06-27 21:34] thaJeztah commented on #24006
Ah, right, clear

[2016-06-27 21:34] tiborvass commented on #22615
Hey @erikh do you have any news on this one? We might not be able to fix it for 1.12.0 :(

[2016-06-27 21:45] thaJeztah commented on #23991
Agreed, this does not look like an issue with docker, but with the capabilities of the shell you're running those commands in

[2016-06-27 21:45] #23991 closed

[2016-06-27 21:46] icecrime commented on #23995
Ping @aaronlehmann: this relates to docker/swarmkit#631.

[2016-06-27 21:47] thaJeztah commented on #18818
ping @stevvooe @dmp42 ptal

[2016-06-27 21:51] erikh commented on #22615
It's ok. Let's close it or set it aside, I haven't been able to
reproduce lately.

On 27 Jun 2016, at 14:34, Tibor Vass wrote:

[2016-06-27 21:52] tiborvass commented on #23973
@thaJeztah @yongtang i wonder if this is a duplicate of an existing issue :S

[2016-06-27 21:55] thaJeztah commented on #23985
Ideally, the write should be atomic (either the file is there, and properly written, or not be there), but ignoring an empty file in case it exists could be ok.

/cc @tonistiigi IIRC you handled with something similar as well?

[2016-06-27 21:57] thaJeztah commented on #23973
@tiborvass yeah, was thinking. Anoother issue (which, I think @yongtang also opened a PR for) was for "unnamed" containers never becoming "named" containers (thus getting resolved). Not sure about this one, and I wonder if it's something new (given that it's in the "legacy" networking code)

[2016-06-27 21:58] alenca opened #24011 "Docker pull CPU usage limit"
Extraction part of Docker pull process produces CPU load that can be significant on hosts with a few CPU cores. Is there a way to limit it using cgroups? There should be a way to do a tradeoff between pull speed and CPU load.

[2016-06-27 21:58] thaJeztah commented on #23745
@provegard ah, right! I was confused because you first did a `docker run ...`.

I'll close this issue, because it will be fixed in the next beta of Docker for Windows (which has its own repository)

[2016-06-27 21:59] #23745 closed

[2016-06-27 22:01] thaJeztah commented on #22615
@erikh can you close it yourself? then you can reopen when needed (I think you won't be able to if I close it)

[2016-06-27 22:07] jhowardmsft commented on #23999
I'm doubtful those tests failed on account of this as the code has been in a while now. But am working on a PR to remove the global and make it per build.

[2016-06-27 22:13] erikh commented on #22615
sgtm

[2016-06-27 22:13] #22615 closed

[2016-06-27 22:18] saada commented on #23971
@aboch

How does this look?
[code]

[2016-06-27 22:22] jimmidyson commented on #23981
From @rhatdan on [twitter](https://mobile.twitter.com/rhatdan/status/747536135954403328):

Is that from https://github.com/fedora-cloud/docker-selinux ?

[2016-06-27 22:31] thaJeztah commented on #23332
@ligc @WeiZhang555 do you think this is important enough to include in the `check-config.sh` script? Similar to https://github.com/docker/docker/blob/master/contrib/check-config.sh#L290-L292 ?

[2016-06-27 22:32] sanimej commented on #22466
Fix for  this is already in docker master. Closing the issue..

[2016-06-27 22:32] #22466 closed

[2016-06-27 22:38] tiborvass commented on #22615
Thanks!

[2016-06-27 22:52] jonathanstiansen commented on #24001
When you say you say you tried to put HTTP_PROXY into the docker file, what do you mean? From the HTTP_PROXY setting seen [here](https://docs.docker.com/engine/admin/systemd/) this option is meant for bootup with the docker daemon, meaning that each public facing service seems like it will need to be using the same proxy.

Can someone confirm that way of reading it? It's a bit confusing.

[2016-06-27 22:58] abronan opened #24014 "Networking: Panic on Manager(s) after scaling and getting `too many open files` errors"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Digital Ocean VMs:

3 Managers:
Specs: 2 GB Memory / 40 GB Disk / SFO1 - Ubuntu 16.04 x64

3 Agents:
Specs: 1 GB Memory / 30 GB Disk / SFO1 - Ubuntu 16.04 x64

**Steps to reproduce the issue:**
1. Create the cluster
2. Create a few services (in my ca

[2016-06-27 23:01] thaJeztah commented on #23855
ping @mavenugo @mrjana PTAL

[2016-06-27 23:02] thaJeztah commented on #23885
ping @dnephin @aanand ^^

[2016-06-27 23:04] ninchan8328 commented on #10355
I have the same problem too with kernel

root:/var/log/upstart# docker info
Containers: 0
Images: 393
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 427
 Dirperm1 Supported: true
Execution Driver: native-0.2
Logging Driver: json-file
Kernel Version: 3.16.0-43-generic
Operating System: Ubuntu 14.04.3 LTS
CPUs: 6
Total Memory: 11.74 GiB
Name: rcdn6-vm85-144
ID

[2016-06-27 23:22] mavenugo commented on #23855
@jhorwit2 @thaJeztah this is expected. The VIP that backs the service is not pingable. Its a L4 LB and hence one can try a L4ping like application or nc or ofcourse curl ;)

[2016-06-27 23:23] aanand commented on #23885
This is already the case when you're using v2 of the Compose file format, and is in fact implemented at the Engine level (the API is identical - you set the `Links` key in the container config).

Old-style links are only used when containers are created with `"NetworkMode": "default"`, which Compose only does for v1 files (to preserve backwards compatibility). For v2 files, every container (by def

[2016-06-27 23:29] sanimej commented on #24014
@abronan This panic should be addressed by https://github.com/docker/libnetwork/pull/1300. Its not in docker yet. Its a one liner. Can you try with this change and see if the handling is more graceful in this case ?

[2016-06-27 23:31] tiborvass commented on #23962
Ping @tonistiigi @stevvooe @aluzzardi

[2016-06-27 23:33] mgoelzer commented on #23957
@aaronlehmann @dongluochen @aluzzardi

[2016-06-27 23:34] jhowardmsft opened #24015 "Networking CLI tests have 30-second pause between each one"
Look at any Janky output. Example below. Notice that there's around 30 seconds between each test that's unaccounted for.  @mrjana @mavenugo

[code]

[2016-06-27 23:35] mgoelzer commented on #23929
ping @abronan @aaronlehmann

[2016-06-27 23:36] mgoelzer commented on #23924
ping @stevvooe

[2016-06-27 23:40] mgoelzer commented on #23915
@stevvooe @cpuguy83

[2016-06-27 23:42] mrjana commented on #23983
ping @mavenugo

[2016-06-27 23:42] EdVinyard commented on #22746
In 1.11.1, `docker ps -s` also causes this problem.

[2016-06-27 23:48] sanimej commented on #22144
@byrnedo If you able to recreate either of the issues (_1.container unresponsive after query,_  _2.could not resolve peer error_) with some consistency can you give me the exact steps you are following ?

[2016-06-27 23:54] tiborvass commented on #23885
I opened https://github.com/docker/swarm/issues/2384 to track the issue @aanand mentioned. Closing this one as it is not an issue with engine.

[2016-06-27 23:54] #23885 closed

[2016-06-27 23:56] alexmavr opened #24017 "Expose non-Manager external IP through API"
Managers are able to retrieve the IP address that is used to contact them through `node inspect` as `Node.ManagerStatus.Addr`, but there is no way for a non-manager to retrieve their own address.

My recommendation is to add an `Addr` field to the `swarm.Info` struct which exposes the address that managers use to contact the current node in a `host:port` format.

[2016-06-27 23:57] abronan commented on #24014
Thanks for the answer, going to test by vendoring the change and update.

[2016-06-27 23:57] paralin opened #24018 "[arm] v1.12-rc2 - ARM netlink namespaces broken (nil reference)"
Hi,

I'm running a custom build of v1.12-rc2 on Arm in an embedded linux environment.

The commands used to compile Docker can be found [here](https://github.com/paralin/buildroot/blob/master/package/docker-engine/docker-engine.mk). I'm presently trying to update to v1.12-rc2 from v1.11.1.

Here is the error Docker is getting when attempting to start:

[code]

It looks like these are the two major

[2016-06-27 23:58] mgoelzer commented on #23855
@sodre90 Can you try to reproduce this issue using `curl` or something different than ping? Thanks

[2016-06-27 23:59] dperny commented on #24017
I'm working on this.

[2016-06-27 23:59] mgoelzer commented on #23855
@mavenugo For debugging purposes, could we respond to those pings anyway? I don't mean load balance them - just send an ICMP response back.

[2016-06-28 00:01] dperny commented on #24017
#dibs

[2016-06-28 00:02] thaJeztah commented on #23855
If we decide to not support ping, we need to update the documentation, first of all to explain it's not supported, but also update the examples in the "networking" docs, because all examples use "ping" to demonstrate how container networking works.

[2016-06-28 00:14] aba182 commented on #15020
Why is 4 the suggested MALLOC_ARENA_MAX value? The default for 64 bit machines is 8 * #cores. For machines I am working against they would have a default MALLOC_ARENA_MAX of 384(assuming that by cores it is counting total threads. Even if not it would be 192 arena's). 4 is a very drastic leap from either of these numbers and on reading it sounds that more pools allows for improved memory allocatio

[2016-06-28 00:15] thaJeztah commented on #23767
@cpuguy83 is there something to be done on our side, or is this a configuration issue of the host?

[2016-06-28 00:22] paralin commented on #24018
The pids error is harmless and related to the kernel pids option not being enabled.

The other however, is much worse.

here is my check-config output: http://hastebin.com/raw/zivuhozaxo

[2016-06-28 00:23] mgoelzer commented on #23709
@mrjana Should we just refuse to accept the second service?

[2016-06-28 00:24] mavenugo commented on #23983
thanks for reporting. I will address this along with other related issues.

[2016-06-28 00:24] paralin commented on #24018
Primary problem:

[code]

[2016-06-28 00:27] mavenugo commented on #23855
ping @mrjana

[2016-06-28 00:33] mgoelzer commented on #23704
Could network partition cause the same problem?

[2016-06-28 00:34] mgoelzer commented on #23704
ping @aaronlehmann

[2016-06-28 00:35] cpuguy83 commented on #23767
This looks like a misconfiguration. We should probably just block shared propagation when the host side is `/`

@errordeveloper Curious if mounting something other than `/` with shared is causing you any problems.

[2016-06-28 00:35] mgoelzer commented on #23672
ping @tonistiigi

[2016-06-28 00:37] abronan commented on #24014
I can confirm the panic is fixed vendoring the change, but I still obviously get to the cluster being unstable. I'll close as a duplicate of #23971 and re-open with more specific issues related to the scenario described above. Thanks @sanimej.

[2016-06-28 00:37] #24014 closed

[2016-06-28 00:38] mgoelzer opened #24019 "Support for private images in `docker service`"
Issue for #23584

[2016-06-28 00:42] cpuguy83 commented on #23995
I have a patch for getting the default route, just mucking around with godep at the moment.

[2016-06-28 00:46] combitel commented on #23659
anybody?

[2016-06-28 00:55] phobologic commented on #20586
So, after running 1.11.2 for a few weeks, we haven't seen the memory issues at all anymore, and the CPU issue I mentioned before was actually due to a bad agent that was abusing the docker API.  Anyway, I'm fine closing this since it's fixed in the latest version.

[2016-06-28 01:20] thaJeztah commented on #23885
@aanand you're absolutely right, I thought about that after pinging you

[2016-06-28 01:25] aaronlehmann commented on #23704
@mgoelzer: I'm not sure I understand the question correctly. A network partition could lead to a situation where more containers than the desired number are running across all nodes, but this is by design because the alternative is to have situations where no instances of the container are running because the two sides of the network partition assume that the containers are being run on the other

[2016-06-28 01:26] aaronlehmann commented on #23957
I have a fix for this pending in the swarmkit repo: https://github.com/docker/swarmkit/pull/1051

[2016-06-28 01:48] aaronlehmann commented on #23995
@cpuguy83: Curious to see your patch. Note that the current dialing out uses UDP and never sends any data, so all it is really doing is allocatibg a socket and using that socket to infer the IP address associated with the default route. We could add a fallback that uses IPv6 for machines without IPv4.

The thing I like about this dial-based detection is that it should be completely portable. I don

[2016-06-28 01:50] cpuguy83 commented on #23995
@aaronlehmann Yes, my method is not portable, but I have it guarded by a platform build flag. I'll post it as soon as I get the hang of godeps here, we'll see if it's worth it.

[2016-06-28 02:01] yongtang commented on #23973
Thanks @tiborvass @thaJeztah.

This issue is because docker daemon use `nameIndex` and `linkIndex` for storing indices that would be used to find the container based on the name. However, in case of `docker rename`, both` nameIndex` and `linkIndex` are not updated (with the new name). Therefore, the next time a client tries to query the name, it will not be able to find it through nameIndex.

I cr

[2016-06-28 02:03] cpuguy83 commented on #24005
@williamh It's required for swarm routing to work.

[2016-06-28 02:32] ligc commented on #23332
@thaJeztah I am not sure if it is important enough to include in the check-config.sh script, this is kind of stress test configuration, running several thousands containers on a single server may not be necessary in most of the customers production systems. Thanks.

[2016-06-28 02:35] jhorwit2 opened #24022 "[feature proposal] docker ps status/health UX change"
[code]

Since services and standalone containers live in the same environment it seems their output should be pretty uniform. For example, why the container at the top of the `docker ps` above has no health check under status isn't clear. I'm proposing that `STATUS` stays the same as it was pre-healthchecks. The health status should be under a new column,`HEALTH` (taken from inspect field name), w

[2016-06-28 02:39] beenanner commented on #23877
@Umkus I ran into this issue while testing with virtualbox locally as well and got it to work by passing the swarm manager ip address via "--listen-addr" when init the manager. I think it will work if you run the following during setup.

[code]

[2016-06-28 02:42] williamh commented on #24005
Ok, cool, thanks for the explanation. :-)

[2016-06-28 02:54] kiwenlau commented on #20399
Thx. However, can I get all layer checksum of all images instead an individual image?

[2016-06-28 03:06] mYmNeo commented on #3804
Although disk quota is supported by ext4, but at most of time the user running in the container is root, it is not limited by disk quota

[2016-06-28 04:06] thaJeztah commented on #23332
Thanks for checking, @ligc

[2016-06-28 04:18] paralin commented on #24018
I have one Ethernet bridge in place by the way, br0, which contains my ethernet and wifi devices. Could be causing this problem.

[2016-06-28 04:29] thaJeztah commented on #23761
I suspect that the old docker version is still installed somewhere, possibly in a different path (e.g. old version installed in `/usr/bin`, and the new version installed in `/usr/local/bin`). How did you install the previous version?

Probably best to uninstall (`apt-get purge docker-engine`), then find where the other version is installed, and remove it. After that, reinstall using the instructio

[2016-06-28 04:29] #23761 closed

[2016-06-28 04:40] tophj-ibm commented on #24015
Good eye! I've been looking at this and it appears to be an issue with the VolumeDriver plugin that's activated from the previous test suite. I have a more detailed post of the issue over in #23998

[2016-06-28 04:42] SvenDowideit commented on #16263
ah, you mean https://community.algolia.com/docsearch/ ? having a play.

[2016-06-28 04:43] thaJeztah commented on #23762
Try running something like

    sudo docker exec mycontainer sh -c 'echo foo; sudo docker start -a test'

To run everything in the container

I'm going to close this issue, because this doesn't look like a bug, but feel free to comment after I closed

[2016-06-28 04:43] #23762 closed

[2016-06-28 04:45] aboch commented on #24018
This was fixed by #23859
Fix will be in 1.12-rc3

[2016-06-28 04:50] paralin commented on #24018
Awesome, thanks. I will build from HEAD in the meantime.

[2016-06-28 04:50] #24018 closed

[2016-06-28 05:07] WeiZhang555 commented on #23332
@thaJeztah I think it's important, adding a simple check will save users like us a lot of time, at least it gives us some hints about what wrong with it.

I'll do it.

[2016-06-28 05:09] thaJeztah commented on #22084
Ping @msabansal ^^

[2016-06-28 05:15] thaJeztah commented on #23821
Are you sill seeing this? Also, did you install both the docker, and containerd / RunC binaries from the same commit?

[2016-06-28 05:19] juaby commented on #23930
change xfs to ext4 and done

[2016-06-28 05:19] thaJeztah commented on #22531
ping @aaronlehmann ptal

[2016-06-28 05:20] nathwill opened #24023 "kernel version check in overlay2 is too strict"
the kernel version check in the overlay2 driver appears to be unnecessarily restrictive for the case where the overlay driver support for multiple lower dirs has been backported, as it has in EL 7. from what i can tell, the 3.10 kernel in EL7 *does* support multiple lower directories, so should be supported. Here's my replication of the kernel docs' description of support for this feature in an EL

[2016-06-28 05:22] thaJeztah commented on #23840
The issue tracker is not a general support forum, please use either;

- forums.docker.com
- the #docker IRC channel on freenode
- StackOverflow

[2016-06-28 05:22] #23840 closed

[2016-06-28 05:27] thaJeztah commented on #23895
@jfrazelle perhaps we should switch from SemVer to Epoch for versioning? :trollface:

[2016-06-28 05:28] treeder commented on #3804
@cpuguy83 do you have links to any information on this?

[2016-06-28 05:35] jfrazelle commented on #23895
Oh greetings sure 0:)

On Monday, June 27, 2016, Sebastiaan van Stijn <notifications@github.com>
wrote:

--

Jessie Frazelle
4096R / D4C4 DD60 0D66 F65A 8EFC  511E 18F3 685C 0022 BFF3
pgp.mit.edu <http://pgp.mit.edu/pks/lookup?op=get&search=0x18F3685C0022BFF3>

[2016-06-28 05:39] thaJeztah commented on #23860
I think this will be hard to do, because having an environment variable set could be a valid configuration (for example, I have docker for Mac installed locally, but sometimes connect to a remote daemon)

Anyway, can you post this issue in the Docker for Mac beta forums? Docker for Mac, is a separate project, and doesn't use this issue tracker

https://forums.docker.com/c/docker-for-mac

[2016-06-28 05:39] #23860 closed

[2016-06-28 05:41] thaJeztah commented on #23895
"You're version is more than 3600 seconds old, that like sooooooo last hour"

[2016-06-28 05:53] davibe commented on #13490
i tried but it looks like env var are still there after relaunch.

[code]

maybe docker-run is executing my thing as a child of bash ? I think it should not..

[2016-06-28 06:09] StefanScherer commented on #23865
Docker for Mac is able to run Raspberry Pi images (and others) if the image contains the qemu binary. The rpi-whoami is supposed to be a very small image lacking other binaries, so this does not work out of the box with Docker for Mac.

But try one of the resin/rpi-raspbian based images, these will work. Eg. `docker run --rm -it resin/rpi-raspbian uname -a`

Maybe Docker for Mac magically mounts t

[2016-06-28 06:14] ivansieder commented on #23991
@dgageot @thaJeztah oh damn me, sorry, didn't even think about the fact, that this could be the bash itself. Luckily, with upcoming bash on Win10 it will then hopefully also work on WinX. Thanks for clearing my missunderstanding.

[2016-06-28 06:15] nathwill commented on #24023
ok, i went ahead and created a dev-build with the check in question commented out and confirmed that the daemon does work with overlay2 on the EL 7.2 kernel.

Here's the test diff:

[code]

and here's the result:

[code]

obviously checking for support for the required functionality is desirable, though, so i'm not really sure what the answer here should be 😕

[2016-06-28 06:16] thaJeztah commented on #23865
@StefanScherer thanks! yes, I think @justincormack was thinking of doing that, but it's not there yet.

Following the above discussion, this doesn't look to be a bug in Docker, so I'll close this, but feel free to continue the discussion

[2016-06-28 06:16] #23865 closed

[2016-06-28 06:17] thaJeztah commented on #23991
@ivansieder haha, no worries, no harm done :smile:

[2016-06-28 06:21] polyrabbit commented on #10589
Same here, I neither stop the docker service, nor run `docker info`. It seems all docker commands suck.
![image](https://cloud.githubusercontent.com/assets/2657334/16405592/6c0d04ae-3d3b-11e6-97fb-c8eb6fdac77e.png)

[2016-06-28 06:25] abronan opened #24027 "swarm mode: Manager(s) cascading failures after `docker service scale` and daemon running out of memory"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Digital Ocean VMs:

*3 Managers*: 2 GB Memory / 40 GB Disk / Ubuntu 16.04 x64
*3 Agents*: 1 GB Memory / 30 GB Disk / Ubuntu 16.04 x64

**Steps to reproduce the issue:**

1. Create the cluster (`docker swarm init <...>` / `docker swarm join <...>`)
2.

[2016-06-28 06:35] abronan commented on #24027
Seems also related to docker/swarmkit#823 due to the amount of containers being scheduled.

[2016-06-28 06:36] aaronlehmann commented on #23929
I think this is because -rc2 needed `--listen-addr` as part of the `docker swarm join` command to reliably add a manager. @tonistiigi could you please confirm?

We've made some progress on the usability of adding managers to a cluster, which will be in the next release candidate.

[2016-06-28 06:39] mpepping commented on #23989
Safe bet that @rhatdan is attending the RH Summit in SF this week :). No hurry therefore.

[2016-06-28 06:54] thaJeztah commented on #23968
Do the system logs show anything useful? Not related, but there's another issue about docker not running properly on a 4.6 kernel https://github.com/docker/docker/issues/23471

[2016-06-28 07:08] daaps commented on #23992
Hello,

Here is a screenshot :

![image](https://cloud.githubusercontent.com/assets/15861373/16406660/2a9fe3f6-3d18-11e6-848b-ff966e848bed.png)

After i enabled the shared drive, when i do ls -l on my directory i see 0 content.

[2016-06-28 07:10] thaJeztah commented on #23961
This is an issue with docker-squash not being compatible with the new content-addressable storage in docker 1.10 and newer, see https://github.com/jwilder/docker-squash/issues/45. This is not a bug in docker, so I'll close this issue, but feel free to comment after I closed

[2016-06-28 07:12] thaJeztah commented on #23839
I'll close this issue, because I think it's answered, but feel free to continue the discussion

[2016-06-28 07:12] #23839 closed

[2016-06-28 07:19] thaJeztah commented on #23904
ping @gdevillele I think this issue was resolved, or is this different?

[2016-06-28 07:27] mspanc commented on #23961
Regardless if docker-squash has bug or not, I would expect that docker
itself will throw an error and return non zero status code (think about
automation!) if image format is not valid. IMO the bug should not be closed.

[2016-06-28 07:38] kriku opened #24029 "Absolute paths change with git bash on windows"
[code]
using from git bash on win10 cause
[code]
and `docker ps -a` returns
[code]
seems like git bash change all dirs from root to local one, related to git bash installation

exec this command from power shell works well

[2016-06-28 07:43] sdurrheimer commented on #22633
linux-image-4.4.0-28-generic is now available on the `xenial-updates/main` repo.

Running a container with `userns-remap` without a volume works now, but it doesn't when using a host directory volume.

**Here the daemon log error**
[code]

**Command executed**
[code]

**Host directory info**
[code]
Also not working if I `chown 100000:100000` the directory.

**Docker daemon options**
[code]

**Dock

[2016-06-28 07:44] allencloud commented on #23980
Maybe error happened in libnetwork:
https://github.com/docker/libnetwork/blob/master/bitseq/sequence.go#L201

[2016-06-28 07:48] houstar commented on #23894
@xiayuhai  I have the same problem with you and following the information in here.
[root  ]# go version
go version go1.6.2 linux/ppc64

So I think maybe the root cause in here
 The go-1.6.2 compiler seems not fully supported ppc64 architecture. This needs to be check with golang upstream. Meanwhile, Have you tired with go-1.7.0-rc2 compiler on ppc64 ?

[2016-06-28 07:55] vdemeester commented on #23998
@tophj-ibm I think one of the *fix* could be to update `DockerExternalVolumeSuite.TearDownSuite` (or maybbe better with `TearDownTest`) to remove any *lignering* volume. Would you like to take a try at it ? :angel:

[2016-06-28 07:57] lennartjuette commented on #11407
Same problem here:

[code]

[code]

[code]

[2016-06-28 08:00] feldan opened #24030 "Malformed history layer for ADD command when building Dockerfile with 1.12-rc2"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Steps to reproduce the issue:**
1.  Create a Dockerfile containing:
[code]
2.  docker build
3.  Check the config manifest --> typo is present in

**Describe the results you received:**
The `history` clause in the config manifest now contains:
[code]

**Describe the results you expected:**
Looks like a forgotten string

[2016-06-28 08:07] houstar commented on #23894
Full build log.

--2016-06-28 15:32:17--  http://distfiles.gentoo.org/distfiles/docker-1.11.0.tar.gz
Resolving distfiles.gentoo.org (distfiles.gentoo.org)... 216.165.129.135, 64.50.233.100, 64.50.236.52, ...
Connecting to distfiles.gentoo.org (distfiles.gentoo.org)|216.165.129.135|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10637394 (10M) [application/x-gzip]
Saving to

[2016-06-28 08:10] TrySpace opened #24031 "Add containers to a network docs incomplete"
I'm following the docs, and up until here everthing is clear:

https://docs.docker.com/v1.11/engine/userguide/containers/networkingcontainers/

Where the example states::

[code]

Running this will result in an error, because those ID's do not exist locally.

But it is not clear which ID's I should use.

The previously mentioned ` docker network inspect my-bridge-network` in the doc-page does only

[2016-06-28 08:24] jimmidyson commented on #23981
Or this repo: https://github.com/projectatomic/docker-selinux ? Not sure...

[2016-06-28 08:27] roovo opened #24033 "Docker for Mac: inability to update proxy settings imported from OSX"
OS Version: Yosemite 10.10.5 (14F1713)
App version: 1.12.0-rc2-beta16 (build: 9493)

**Output of `docker version`:**
Client:
 Version:      1.12.0-rc2
 API version:  1.24
 Go version:   go1.6.2
 Git commit:   906eacd
 Built:        Fri Jun 17 20:35:33 2016
 OS/Arch:      darwin/amd64
 Experimental: true

Server:
 Version:      1.12.0-rc2
 API version:  1.24
 Go version:   go1.6.2
 Git commit:   a7

[2016-06-28 08:49] eolognt opened #24034 "Remote API JSON response wrongly formatted"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**
I use Dockerode to control my Docker with gulp. Thus this is regarding the remote API. So, I had some response from a call to the API that was supposed to be logged, a

[2016-06-28 08:51] jimmidyson commented on #23981
Following discussion in https://github.com/docker/docker/pull/23896 it seems like this will have to wait until 1.12 unfortunately.

[2016-06-28 08:56] Flodu31 opened #24035 "Pull problem from Docker UCP"
Hello,
I'm contacting you because I have a problem to pull an image from a DTR repo.

From the server itself (in ssh), it works without problem.
From the UCP control panel, I have the following error:

`Get https://dtr.toto.com/auth/token?scope=repository:fappointaire/floapp-website:pull&service=dtr.toto.com: x509: certificate signed by unknown authority`

Any idea?
Thanks.
Florent

[2016-06-28 09:02] sebi-hgdata opened #24036 "stop event is not emited"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
physical machine

**Steps to reproduce the issue:**
1.sudo docker run -ti ubuntu:14.04.2 bash
2. ctrl + d  to stop the container

**Describe the results you received:**
 A stop event should be emited.

**Describe the results you expected:**
Seems like

[2016-06-28 09:10] vdemeester commented on #24036
@sebi-hgdata that is to be expected. The `stop` event is emitted if an explicit call to `stop` (vi cli `docker stop` or via the API) has been done. By exiting using `ctrl-d`, you're exiting the container, but from the docker point of view, the process died, and thus the event you see is `container die` and no `stop`.

[2016-06-28 09:29] sebi-hgdata commented on #24036
Looking at this diagram https://docs.docker.com/engine/reference/api/docker_remote_api/#docker-events I assumed a stop event should be emitted as the container will go to stopped state because no restart policy is used...

[2016-06-28 09:36] vdemeester commented on #24036
@sebi-hgdata in the diagram, the events are in *rectangle* boxes. Your case is "container process exited", and in this *flow* there is no rectangle with stop in it, no `stop` event emitted. The diagram is pretty clear, the only way to get a `stop` event, is with `docker stop` (or corresponding API call).

The reliable way to know if a container has been stopped or not (no matter the way it stopped

[2016-06-28 09:38] sebi-hgdata commented on #24036
To comment around that diagram (probably not the best place here):
* it needs also to account for restart policy ```always``` for the docker stop and kill.
* and imo events should be triggered after reaching a state not before (probably this is how it's implemented) to not generate race condition for tools that rely on them.. that diagram probably should be updated

[2016-06-28 09:44] sebi-hgdata commented on #24036
What I was tryng to do and there is no clean way using ```docker events``` is to watch for containers that fail with #20398

[2016-06-28 09:49] kriku commented on #24029
also it change dir when adding a data volume
[code]

[code]

running this command in power shell works fine

find [similar issue on stack overflow](http://stackoverflow.com/questions/16344985/how-do-i-pass-an-absolute-path-to-the-adb-command-via-git-bash-for-windows)

[2016-06-28 09:53] #24029 closed

[2016-06-28 10:06] rumkin opened #24037 "Remote API env variable"
How to provide linking-like variables inside of container with remote API? Docker itself provides variables:

[code]

I need to provide my own variables with infrastructure data when starting container. How could I do that.

[2016-06-28 10:08] sauravskumar99 commented on #23968
Logs show nothing... as the terminal is hung up as soon as we try docker-machine install

`$ sudo apt-get install docker-engine`

[2016-06-28 10:30] errordeveloper commented on #23767
I don't think disallowing `/` is a good idea. First of all, it introduces behaviour that will be incompatible with 1.10 and 1.11. Second, in our use-case we ultimately need to set shared propagation on `/var/lib/kubelet` and we don't have an ability to provide a dedicated mount point here, and the `RSHARED` flag can only be set at the mount-point level and not just somewhere in the tree.

@cpuguy8

[2016-06-28 10:33] woshihaoren commented on #5618
centos7.2
docker 1.10.3
the same problem

[2016-06-28 10:33] errordeveloper commented on #23767
cc @mikedanese

[2016-06-28 10:35] jbbr commented on #24005
Where have you got this error message?
I've setup a swarm-mode cluster without any error messages but load balancing did not work - I later realized that my kernel is compiled without `ip_vs` which likely caused the problems.

[2016-06-28 11:12] moypray opened #24038 "docker volume sync issue"
Hi, I have run some containers using volumes which provided by volume plugins( e.g. convoy). I found that some tricky behavior under unexpected operation:

 1. create a volume using docker:

       ` docker volume create --name volume1 -d convoy -o size=10G`
 2.  using it in a container:

        `docker run -ti  -v volume1:/test busybox sh`
     And then exit the container.
 3.  delete the volume

[2016-06-28 11:37] #24030 closed

[2016-06-28 11:41] rhatdan commented on #23989
Operation not supported usually means that the file system does not support labeling.  If you mount a file system with context="", and then try to set labels, you could get his error.  Also certain file systems like NFS (Older versions) do not support labeling.

BTW I am at the RH Summit, so I will be sporadically paying attention to email.

[2016-06-28 11:43] rhatdan commented on #23981
https://github.com/projectatomic/docker-selinux

[2016-06-28 12:06] lukemarsden commented on #23767
I'm also seeing this, is this something that used to work and now doesn't?

[2016-06-28 12:23] dj-hedgehog commented on #23761
Thanks for your response. In fact after cleaning all the remains of the old Docker installation I was good to go.
Lesson learned. Never let anyone hit `apt-get install docker`!

[2016-06-28 12:37] yongtang commented on #24038
I think this might be the same issue as #23367.

[2016-06-28 12:43] cpuguy83 commented on #23767
@errordeveloper `mount --bind /var/lib/kublet /var/lib/kublet && mount --make-shared /var/lib/kublet` ought to do it.

I'll have to run some tests to see what might have changed.

[2016-06-28 12:44] cpuguy83 commented on #24038
Yes, this is a dup.

[2016-06-28 12:44] #24038 closed

[2016-06-28 13:11] cpuguy83 commented on #24036
The diagram looks spot on to me.
`stop` event is triggered _only_ when `docker stop` is called -- this is what the diagram suggests. `stop` event is not triggered until the call to `stop` is complete.

I'm not sure I see an issue here.

[2016-06-28 13:12] jjmiv commented on #24001
i've use the ENV HTTP_PROXY and HTTP_PROXY variables/flags in the docker file and was able to build successfully but the container could not get internet access.  also tried building with --build-args

[2016-06-28 13:13] cpuguy83 commented on #24037
https://docs.docker.com/engine/reference/api/docker_remote_api_v1.24/#create-a-container

See the "Env" field.

[2016-06-28 13:15] cpuguy83 commented on #24035
The SSL cert is not signed by a trusted CA.

Please contact support@docker.com for requests regarding UCP and DTR.

[2016-06-28 13:15] #24035 closed

[2016-06-28 13:16] cpuguy83 commented on #24001
What version of docker 4 mac are you using? IIRC it should be inheriting proxy settings from OSX.

[2016-06-28 13:17] cpuguy83 commented on #24001
Closing as this should really go in https://forums.docker.com/c/docker-for-mac
It will be much easier to provide support there since this is likely to be a docker4mac issue.

Thanks!

[2016-06-28 13:17] #24001 closed

[2016-06-28 13:19] cpuguy83 commented on #24034
This is a json stream, not an `application/json` response.
You would need to use a streaming decoder to decode the json, or break at new lines (line delimited json).

[2016-06-28 13:19] #24034 closed

[2016-06-28 13:19] jjmiv commented on #24001
it pulls from the Network Settings.  my company uses a .pac file.  I monitored that that forum for issues but did not see a specific issue.  i would put my notes in there.

[2016-06-28 13:21] rumkin commented on #24037
I know about "Env" field but I need to update variables sometimes without recreating whole container.

[2016-06-28 13:22] cpuguy83 commented on #24037
You cannot update the environment of a running container (it would be impossible to inject into the process).

[2016-06-28 13:23] sodre90 commented on #23855
@mgoelzer it works with curl, thanks :)

[2016-06-28 13:24] cpuguy83 commented on #23672
I see you had this issue with rc1. Did you have the same issue with rc2?

[2016-06-28 13:25] rumkin commented on #24037
I need to update it when it stopped.

[2016-06-28 13:29] cpuguy83 commented on #3804
@treeder Looks like docs are not ready for that yet, though there is some mention in `docs/reference/commandline/dockerd.md`

Basically, can set `--storage-opt size=1G` at either the daemon level or at runtime.

[2016-06-28 13:30] #3804 closed

[2016-06-28 13:34] tophj-ibm commented on #23998
Yeah definitely. deleteAllVolumes() is actually already being called in TearDownTest via DockerSuite. The lingering volume in question seems to be a special "ninja" ones from the test case and isn't returning properly somewhere in the volumedriver that's implemented.

I'm not sure how to solve the bigger issue though. Every test calls GET volumes, and even with no volume in the store from this tes

[2016-06-28 13:37] cpuguy83 commented on #10355
@ninchan8328 What problem? When are you seeing problems? What is your daemon configuration?

[2016-06-28 13:47] MoOx commented on #23900
Facing this issue as well. I am new to docker. Is there any place to find for more info about what is happening? Some logs?

[2016-06-28 13:50] sodre90 commented on #23855
But I have some problem. If the first service is on node1 and the second service is on node2 then it does not works.

Node 1:
`[root@peti-test-1 centos]# docker ps
CONTAINER ID        IMAGE               COMMAND                  CREATED             STATUS              PORTS               NAMES
28623fe07d5c        nginx:latest        "nginx -g 'daemon off"   25 minutes ago      Up 25 minutes

[2016-06-28 13:50] cpuguy83 commented on #24023
I don't think we can remove the check.... maybe an option to ignore the check... but I'm not too fond of that.

[2016-06-28 13:54] dls314 commented on #21189
I see this issue in Docker For Windows 1.12.0-rc2-beta16 when trying to use a secure registry on another host as a client. Has anyone gotten this case to work?

[2016-06-28 14:03] cpuguy83 commented on #24037
It is not... not sure if it would be supported b/c it would always have to be an offline change.
How come creating a new container is not workable?

[2016-06-28 14:07] servomac commented on #21704
Same here with Ubuntu 14.04

[code]

[2016-06-28 14:09] cpuguy83 commented on #24011
Sure, you can put docker in a cgroup.
If you are using systemd, see https://www.freedesktop.org/software/systemd/man/systemd.resource-control.html for available options.

[2016-06-28 14:12] rumkin commented on #24037
As I see in sources linking is working this way. I'm building distributed microservice application manager and recreation will remove all logs, change ids and so. It could be hard to debug. And finally It looks expensive.

[2016-06-28 14:13] thaJeztah commented on #23761
Good to hear it's resolved!

[2016-06-28 14:14] jonathanstiansen commented on #18776
@mavenugo @mrjana Did either of you guys get a chance to look at this? @thaJeztah had pinged a few months ago it's still an issue I believe, anyways thanks for all you do either way!

[2016-06-28 14:15] sebi-hgdata commented on #24036
So stop,  is not really related to container's lifecycle, but to the commands that the daemon receives and executes upon the container.
There is some confusion, as to what some of the events mean... like die vs stop.
Anyway, I'm ok to close this if you guys want.

[2016-06-28 14:17] cpuguy83 commented on #24037
Approx same cost to create a new container as to stop/start a container.

BTW, I'm not saying no, however: a distributed system needs to be fault tolerant. Relying on container ID's, logs, or even which node it is scheduled to is counter to this.

[2016-06-28 14:18] cpuguy83 commented on #24015
Closing since this looks like a dup of #23998

[2016-06-28 14:18] #24015 closed

[2016-06-28 14:18] #24036 closed

[2016-06-28 14:23] cpuguy83 commented on #23900
If you are getting an empty dir instead of a file, it is because docker does not see the file.
what directory/file are you trying to mount?

[2016-06-28 14:26] rumkin commented on #24037
Yep, it should be fault tolerant. But it's also should be very simple and strict to stay clear for those who support them. I think mess of containers is not a good solution.

Container creation will cause multiple disk read/writes to create new container fs structure. And I think it couldn't be so cheap as start/stop.

[2016-06-28 14:31] adamjk-dev opened #24039 "Install script broken for RHEL 7.2"
[code]

The box is a Virtual Machine.

[code]

**Steps to reproduce the issue:**
1. RHEL 7.2 box
2. curl -fsSL https://test.docker.com/ | sh

**Describe the results you received:**
The install script doesn't handle the RHEL 7.2 distribution correctly. The case statement in do_install() looks for redhat, but in my case lsb_dist=RedHatEnterpriseServer.

**Describe the results you expected:**
The tes

[2016-06-28 14:37] sanmai-NL commented on #22185
@cupracer:
:warning: Important warning, `options use-vc` resulted in a stall in `yum`'s default `fastestmirror` plugin CentOS 7. This means we no longer were able to update packages without disabling this plugin in `/etc/yum/pluginconf.d/fastestmirror.conf`.

[2016-06-28 14:38] kopax opened #24040 "Addition of "--shm-size" not working with Docker 1.11.0 and Debian 8 Jessie"
`--shm-size=512m` is not working for me as build args, either as run args.

                docker run -it --shm-size=102400 ubuntu:14.04.4
		root@141a66888d0a:/# cat /proc/mounts | grep shm
		shm /dev/shm tmpfs rw,nosuid,nodev,noexec,relatime,size=100k 0 0
		root@141a66888d0a:/# ipcs -lm

		------ Shared Memory Limits --------
		max number of segments = 4096
		max seg size (kbytes) = 32768
		max

[2016-06-28 14:41] errordeveloper commented on #23767
Luke, this used to work in 1.10 and 1.11.

Brian, regarding misconfiguration, I don't think it is a misconfiguration
as such. First of all I initially noticed it on Docker for Mac. I also
found the same behaviour on official Boot2Docker rc2 ISO, provisioned by
Docker Machine. Regarding a bind-mount trick, I though it could do, but why
should I have to do that as it previously worked without.

Addi

[2016-06-28 14:41] sanmai-NL commented on #13490
@davibe:
[code]

[2016-06-28 14:46] cpuguy83 commented on #23767
@errordeveloper My point is mounting `/` into the container with shared propagation is the misconfiguration.
Why should you do it the way I described? Because that is what you actually need, rather than exposing the whole system in a horrible way.

Again, I'll take a look to see what may have changed.

[2016-06-28 14:48] rsippl commented on #23937
I suppose you're using the (undocumented?) POST nodes/.../update API. Weirdly enough, that fails for me, I keep getting an _invalid Role: ""_ error:

$ curl 'http://server.docker:2375/nodes/dhh10x30lpz3jsu5mhbjn4dys/update?version=42' -X POST --data '{"Spec":{"Role":"worker"}}'
{"message":"invalid Role: \"\""}

Any idea what I'm doing wrong? No matter what I pass as a role, the docker daemon think

[2016-06-28 14:48] efrecon opened #24041 "From inspect back to run"
[This gist](https://gist.github.com/efrecon/8ce9c75d518b6eb863f667442d7bc679) provides a good (?) starting point at regenerating the `docker run` command that led to a container, based on the templating facilities of `docker inspect`. Extend it to fully support the complete set of command-line options for `docker run` could be a good way to improve the documentation of `docker inspect`.

To run th

[2016-06-28 14:52] shishir-a412ed commented on #23821
@thaJeztah Yes I am still seeing this error. I just build the latest binaries for docker, containerd, containerd-shim, ctr and runc. And tried to run a container and I am still seeing this error.

I tried it with both fedora and ubuntu (latest, 14.04) just to make sure that this issue is not related to red hat distributions. Getting the same error on both the images.

Shishir

[2016-06-28 14:55] alenca commented on #24011
Is it safe to put entire daemon in CPU limited cgroup? Could that impact some other daemon functionality? I guess it is safe since nothing else that daemon does is CPU intensive.

[2016-06-28 14:57] jbergknoff commented on #21136
@wr0ngway are you still having this issue? Are you able to identify it unambiguously in Docker daemon logs or similar (I think I have the same issue but I'd like to verify that)? Do you have a workaround? Thanks.

[2016-06-28 14:58] errordeveloper commented on #23767
Yes, it's not undoable... I am just advocating for this being a breakage, and worried about that more surprises are to come around this feature in the following releases.

[2016-06-28 14:58] hkvemuri commented on #23619
I see the same issue even though there are volumes available

$ docker volume ls
DRIVER              VOLUME
veritas             testvol
$

$ docker info 2>/dev/null | grep Volume
 Volume: local veritas
$

But still I am unable to use the volume to start a service.
$ docker service create --replicas 1 --name testsrv -m testvol=/var/lib/mysql -e MYSQL_ROOT_PASSWORD=test123 mysql
invalid argument "te

[2016-06-28 15:02] doomsplayer commented on #11998
Any progress on this issue?

[2016-06-28 15:03] wr0ngway commented on #21136
Can't verify if I'm still having it (consulting work I did for client I'm no longer at), but I managed to work around it by setting the idle timeout on ELB to its max, and they always had logging within that interval to prevent that timeout.

[2016-06-28 15:03] allencloud opened #24042 "Question: Is it necessary to support command `docker stack services STACK`?"
Hi, All,

I found the experimental feature **STACK** is in docker 1.12-rc2, and I do like this to help me orchestrate  distributed apps.

While when I was experiencing this feature, still met some confusion. The biggest confusion is that when I deploy a stack via `docker stack deploy`, services in a dab will be deployed.

Then I hope to show services in a stack, there is no way. And there is only

[2016-06-28 15:04] hkvemuri commented on #23990
I guess the same is true for volume plugins ?

[2016-06-28 15:12] nathwill commented on #24023
@cpuguy83 yeah, it definitely seems important to check for support one way or another... would it be reasonable to check by exercising the functionality somehow?

[2016-06-28 15:16] jbergknoff commented on #21136
@wr0ngway thank you for the quick followup.

[2016-06-28 15:17] nathwill commented on #24023
or maybe the version check can be downgraded to a warning?

[2016-06-28 15:17] thaJeztah commented on #23809
IIRC, this is because it's running docker in docker

[2016-06-28 15:17] wbradney commented on #22084
I just saw the same problem after the host updated and rebooted. Now none of my containers start. They're all windowsservercore-based.

[2016-06-28 15:17] shishir-a412ed opened #24043 "With ICC false, communication stays open if the "parent" container is removed first"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Fedora 23

**Steps to reproduce the issue:**
1. mkdir httpd-docker
2. cat > httpd-docker/Dockerfile <<EOF
FROM fedora
RUN yum -y install httpd && yum clean all
RUN echo "Test Server" > /var/www/html/index.html
EXPOSE 80
CMD [ "/usr/sbin/apachectl", "-

[2016-06-28 15:19] thaJeztah commented on #23905
Thanks @davidmichaelkarr! Let me close this issue, because it's not a bug in "docker", but please continue the conversation if needed :+1:

[2016-06-28 15:19] #23905 closed

[2016-06-28 15:25] thaJeztah commented on #24039
Thanks for reporting!

[2016-06-28 15:29] xied75 commented on #22084
@wbradney You need to call Remove-NetNatStaticMapping to remove all your mapping and start the containers again.

[2016-06-28 15:32] mlaventure commented on #23821
@shishir-a412ed a few questions :)

- are you using systemd to start docker when doing your test or starting them manually?
- are you starting with an empty `/var/lib/docker` or a populated one?
- is this an upgrade? (i.e. was there a previous version of docker installed before?)
- could you try disabling apparmor? Or for that matter does it happens if you run with `--privileged`?

[2016-06-28 15:32] lgibelli commented on #21304
+1 I had the same problem, using the -tpool device works for me (debian jessie).  Official docs are not updated yet.

[2016-06-28 15:33] johker01 opened #24045 "Docker for Mac: com.docker.docker/Data/*00000003.00000948: connect: connection refused"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. `docker pull choerst/centoscppbuild:latest`
2. 'docker run --rm -it -v "$PWD":/workspace -w /workspace/project choerst/centoscppbuild:latest ant'

**Describe the results you received:**
I received an error message

[2016-06-28 15:36] cupracer commented on #22185
@sanmai-NL
Thanks for the warning! Is that a reproducible behavior or was it just a one-(or-more)-timer?
Fortunately all of my containers are based on openSUSE and Debian, so `yum` isn't involved there.

I'm using `use-vc` for more than one month now and besides to a higher system avg load I didn't see any negative impacts, yet. Neverthess this issue has 14 active participants and I'd guess that s

[2016-06-28 15:39] cpuguy83 commented on #23619
@hkvemuri `--mount type=volume,source=testvol,target=/var/lib/mysql`

[2016-06-28 15:40] cpuguy83 commented on #23619
Note there is currently a bug where this won't work, though.

[2016-06-28 15:42] StefanScherer commented on #23991
Backticks are "bad". Use `docker stop $(docker ps -a)` and hey, works in bash an PowerShell :-)

[2016-06-28 15:47] shishir-a412ed commented on #23821
@mlaventure

Answers :)

1) I am using systemd to start docker. `systemctl start docker`. After this when I do `docker run -it --rm fedora /bin/bash` I see this error. I don't see this error if I start `dockerd` manually.
2) I just did `rm -rf /var/lib/docker` and did `systemctl start docker` so that docker creates a fresh workspace (/var/lib/docker).
3) I build it from the upstream source code(do

[2016-06-28 16:11] hkvemuri commented on #23619
Thanks @cpuguy83 got it to work now
I could not find the correct syntax, so may be we can have it in the help message

[2016-06-28 16:31] pashpashkin commented on #8693
I have the same problem on Ubuntu 14.04.4.

[code]

[code]

[code]

[code]

[2016-06-28 16:38] msabansal commented on #22084
@xied75 @wbradney  This is a workaround but this should not have happened in the first place. Did you start the containers with the -isolation=hyperv parameter? It is a know issue with containers started this way.
If you didn't use the hyperv parameter I would have to debug this. If you have access to the system can you please do following (the following commands will not work in powershell):

net

[2016-06-28 16:42] wbradney commented on #22084
I'm not using Hyper-V containers - just regular Windows Server containers.
Running Remove-NetNatStaticMapping and rebooting the host appears to have solved the problem for me.

[2016-06-28 16:42] dnephin commented on #24006
The error seems like the correct behaviour to me.

[2016-06-28 16:52] unclejack commented on #24023
A warning wouldn't be OK. We've had similar issues in the past when we were only warning when the kernel wasn't at least version 3.8 and that turned out to be a time consuming problem, both for users and for the community as a whole. Lots of people had custom kernels which were somehow meant to get by with huge amounts of backports from newer kernels, but these weren't anywhere close to what 3.8 w

[2016-06-28 16:55] dnephin commented on #23345
@ardnaxelarak

[code]

Let me know if I can be of any more help

[2016-06-28 16:57] cpuguy83 commented on #23345
@dnephin Thanks, wasn't immediately obvious to me in godoc but I knew I had seen it.

[2016-06-28 17:00] dnephin commented on #8829
We can create aliases (or hidden aliases) for the old names and move the commands to new names. That is quite easy to do with cobra. I have a prototype of this on a branch:

* https://github.com/dnephin/docker/blob/cli-new-command-structure/cmd/docker/docker.go#L61-L113
* https://github.com/dnephin/docker/blob/cli-new-command-structure/api/client/container/cmd.go

Ex: `docker ps`, `docker containe

[2016-06-28 17:01] gdevillele commented on #23904
Thanks a lot for pinging me @thaJeztah !

@maxx @craig2017, Docker for Mac is using posix functions to determine if your are an admin or not, but for some reason, the group/user info is not consistent on some corporate computers. I fixed it in our codebase for the upcoming update of Docker for Mac (beta17), using different posix functions to get the same info you are getting with the `groups` comm

[2016-06-28 17:07] dnephin commented on #23689
We also don't have `--pretty` for `docker inspect`, `docker volume inspect`, and `docker network inspect`.

I think this is a P3, we really don't need it to ship.

[2016-06-28 17:07] vdemeester commented on #8829
@dnephin That would be really cool :angel: :heart_eyes_cat:

[2016-06-28 17:14] dtmistry opened #24046 "[1.12-rc2] Is there a way to configure the `docker_gwbridge` network?"
I've a few hosts on AWS running docker 1.12-rc2.

When I do a `docker swarm init` docker creates a `docker_gwbridge` network in the 171.17.0.0/16 subnet.

This is an issue for me because I'm on a network which has 172.17.0.0/16 subnet.

Is there a way for me to configure this bridge network? May be a dockerd option?

**Output of `docker version`:**
[code]
**Output of `docker info`:**
[code]
**Addi

[2016-06-28 17:15] vdemeester commented on #24046
/cc @mrjana @mavenugo

[2016-06-28 17:32] aboch commented on #24046
@dtmistry Have you tried to delete it, then recreate it with same name and your chosen `--subnet`.
docker should not overwrite it if it already exists.

[2016-06-28 17:32] mavenugo commented on #24046
@dtmistry the simplest option is for you to create this `default_gwbridge` by hand instead of letting the daemon create it automatically.

You can create it using the following command -

`docker network create --subnet={Your prefered subnet } -o com.docker.network.bridge.enable_icc=false -o com.docker.network.bridge.name=docker_gwbridge docker_gwbridge`

[2016-06-28 17:33] allencloud commented on #23727
Stack is a concept abstracted above service level in docker's service and swarmkit, currently it is only stored in service's labels things or something like that.
Still a bug docker engine should fix.

[2016-06-28 17:36] aboch commented on #24046
@dtmistry Please follow @mavenugo's suggestion, I forgot about the options.

[2016-06-28 17:43] mrjana commented on #24046
@dtmistry Can you tell me more about your environment? Does the docker host where you are trying this has a host interface which is in 172.17.x.x/16 subnet? If so, docker_gwbridge should've chosen a different subnet. If this is indeed the case, then it smell like a bug in libnetwork which we should fix

[2016-06-28 17:50] cpuguy83 commented on #23767
Bumping this to P2 while I investigate where/how this might have broke.

[2016-06-28 17:56] streetmapp opened #24048 "No deploy command available v1.12-RC2. Unable to deploy DAB"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
VM Running on VMWare
OS Information:

[code]

**Steps to reproduce the issue:**

1.  Installed docker-engine v1.12-RC2
2.  Installed docker-compose v1.80-RC1
3. Cloned this repo: https://github.com/dgageot/dockercon16
4. Updated locations for the imag

[2016-06-28 17:57] streetmapp commented on #24039
Can also confirm this being an issue. To get around this issue, brought the script locally to my machine, and hardcoded the URL being created dynamically to check the **centos** branch. This did install docker-engine successfully.

[2016-06-28 18:02] vdemeester commented on #24048
@streetmapp `deploy` command is only ship in the experimental build of docker 1.12.x :angel:

See https://github.com/docker/docker/tree/master/experimental to get it :wink:

[2016-06-28 18:02] wraithfive commented on #24039
I'm also running RHEL 7.2 and the install script detects the distrubution just fine. It sets up an invalid YUM repo however.
lsb_dist is set to redhat without issue.

However the case starting at line 439 seems to be the bug:

   439                 fedora|centos|redhat|oraclelinux)
    440                         $sh_c "cat >/etc/yum.repos.d/docker-${repo}.repo" <<-EOF
    441

[2016-06-28 18:05] #24048 closed

[2016-06-28 18:10] wraithfive commented on #24039
It looks like 73d5f0648e430a74cd05ff9fd335611ddc6dd2a1 fixes this but isn't what is pulled from https://test.docker.com

[2016-06-28 18:10] tonistiigi commented on #23929
I'm not 100% sure what is going on here. It's true that you probably need to set `--listen-addr` but still `Status=Unknown && Manager status=Reachable` seems like a weird combination. Also, if you just run `init` and `join --manager` you should not get into this state as managers are not auto accepted. If you can reproduce, please post `docker node inspect <nodeid>` of all nodes.

[2016-06-28 18:11] dtmistry commented on #24046
@mrjana No, the docker host where I'm starting the Swarm cluster does not have a host interface in 172.17.x.x/16 subnet. It just happens that the network from where I'm trying to connect to the manager node is in that subnet.

[2016-06-28 18:12] thaJeztah commented on #24039
@wraithfive correct, https://github.com/docker/docker/pull/23867 is to fix the "redhat" issue, but I don't think it takes `redhatenterpriseserver` into account (yet). That script is not yet published on test.docker.com, and will go out with the RC3 (I can check if we can update it before that)

[2016-06-28 18:14] mavenugo commented on #24046
@dtmistry if a `docker_gwbridge` network is already present, daemon will not override it.

Even if we introduce a daemon option, you have to enable it on all the daemons on all the nodes any ways. So, it isn't a huge difference for you either ways. Atleast in the idea suggested above, you dont have to wait for a new docker release :-)

[2016-06-28 18:15] cpuguy83 commented on #23915
Do you think the CLI should default to writable, but keep the API opt-in?

[2016-06-28 18:15] thaJeztah commented on #24039
Actually, it may resolve it; @adamjk-dev are you able to test if the current master version of this script works for your case? https://raw.githubusercontent.com/docker/docker/master/hack/install.sh

[2016-06-28 18:16] cpuguy83 commented on #24005
Adding to check-config in #24047

[2016-06-28 18:22] thaJeztah commented on #23961
would you be able to provide a minimal image to reproduce this?

[2016-06-28 18:24] tonistiigi commented on #20399
@kiwenlau
[code]

[2016-06-28 18:25] dtmistry commented on #24046
@mavenugo Fair enough :)

[2016-06-28 18:32] jbergknoff opened #24052 "Syslog log driver intermittent failure to deliver logs"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

EC2 instance running ECS-optimized Amazon Linux

**Steps to reproduce the issue:**

1. Start a container with syslog log driver, pointing at Papertrail or a similar remote syslog destination, using tcp+tls protocol.
2. Leave it running for an extende

[2016-06-28 18:39] thaJeztah commented on #22185
@cupracer we're planning to do 1.12-RC3 later this week, would be great if you have the opportunity to test it (it's an RC, so on a test-system, not in production)

[2016-06-28 18:45] cpuguy83 commented on #23915
Opened #24053 to do this.

[2016-06-28 18:51] rcsavage opened #24054 "Docker BUILD should support --proxy feature. Meaning builds should be able to honor a proxy server, so that no proxy information is passed into the Dockerfile."
Feature request:  Docker BUILDS should allow for proxy servers.   For example docker build --proxy "blah" image .

[2016-06-28 18:51] adamjk-dev commented on #24039
# ./install.sh

  Either your platform is not easily detectable, is not supported by this
  installer script (yet - PRs welcome! [hack/install.sh]), or does not yet have
  a package for Docker.  Please visit the following URL for more detailed
  installation instructions:

    https://docs.docker.com/engine/installation/

[2016-06-28 18:52] riyazdf commented on #24009
Relevant discussion in #804: we should not be downgrading the security of our supported TLS ciphers to support a deprecated server proxy

[2016-06-28 18:56] arianitu commented on #18789
This behaviour is very bizarre and I really don't think it's up to users of Docker to care about why it's implemented the way it's implemented. What matters is that it's highly unintuitive and makes working with Docker in an existing project difficult. Why do I need to re-structure my project to get Docker to copy some files over? Seriously.

Here is an example of my project.

[code]

[code]

My f

[2016-06-28 19:01] dubo-dubon-duponey commented on #18818
Mirroring private repositories is desirable, but is not as simple as "just enable it".

How would image name resolution work? Will `docker pull ubuntu` change meaning depending on what you are caching and what not? How does that work with authentication?

The issue tracking this is here: https://github.com/docker/distribution/issues/1431

[2016-06-28 19:08] dmp42 commented on #18818
Correct.

@llamahunter

The reason for that is indeed about namespace consistency.

If you have private registry on domain A mirror private registry on domain B, then:

`docker pull domainB/foo` could really mean something different for different location / configuration, while it's not the case for short name images (speaking under @RichardScothern control).

A fragmentation of the image namespac

[2016-06-28 19:11] cpuguy83 commented on #24009
Thanks @riyazdf! I agree.

[2016-06-28 19:11] #24009 closed

[2016-06-28 19:12] cpuguy83 commented on #24054
@rcsavage `docker build --build-arg HTTP_PROXY=...`
Does this not work for you?

[2016-06-28 19:18] thaJeztah commented on #24039
Ah, you're right, I was looking at https://github.com/docker/docker/blob/master/hack/install.sh#L245-L247, but that's not used if `lsb_release` is used; does `lsb_release -si` output `RedHatEnterpriseServer` (camel-case), or `redhatenterpriseserver` (all lowercase)?

[2016-06-28 19:19] thaJeztah commented on #24039
Oh, never mind, we convert it to lowercase https://github.com/docker/docker/blob/master/hack/install.sh#L252

[2016-06-28 19:19] adamjk-dev commented on #24039
I am working on a fix and will do a pull request.

[2016-06-28 19:21] dmp42 commented on #18818
@llamahunter yeah, I understand the need.

Couple of thoughts:

 * images are fundamentally http cacheable objects, so, my expectation is that using a plain HTTP caching proxy (and configuring your system to use it) would just work (this has to be tested though).
 * the registry supports a delivery delegation mechanism, that let you use a CDN (cloudfront, fastly) to handle the layers delivery part

[2016-06-28 19:22] tgross opened #24055 "1.12-rc2 undocumented change in exec remote API"
On `Docker version 1.11.2, build b9f10c9`, both `POST /v1.23/containers/<container ID>/exec` and `POST /v1.23/exec/<exec ID>/start` have the following body:

[code]

On `Docker version 1.12.0-rc2, build 906eacd, experimental`, both `POST /v1.24/containers/<container ID>/exec` and `POST /v1.24/exec/<exec ID>/start` have the following body:

[code]

Note that the bodies are different -- the v1.23 bo

[2016-06-28 19:24] llamahunter commented on #18818
I've commented on the 'master issue' 4 months ago, but not much seems to be happening there.

[2016-06-28 19:24] vdemeester commented on #18789
@arianitu the behavior is like that (not beeing able to add some stuff from outside the context) because of the architecture of docker (client/server). When doing a `docker build`, the daemon might not have access to these folder (if its remote).

You have alternative to sending 500Mb of folder though.
- Using `.dockerignore` to ignore the files and folder you don't want to send in the context (an

[2016-06-28 19:26] stevvooe commented on #23924
@dnephin For the classic docker experience, only `Args` should be used. Basically, it is flowed through to `Cmd` directly, which will be used as the entrypoint if the `Entrypoint` is not available. A `--entrypoint` option can be added to allow entrypoint override, which would force setting the `Command` field.

I'm sorry, but entrypoint/cmd is the confusing behavior here. IMHO, entrypoint/cmd is p

[2016-06-28 19:28] arianitu commented on #18789
@vdemeester my apologies, I moved my comment to the other issue because it seemed more appropriate over there.

[2016-06-28 19:29] thaJeztah commented on #24039
@adamjk-dev oh, sorry, missed your comment; I think I have something ready, but let me know if it differs from your approach; https://github.com/docker/docker/compare/master...thaJeztah:fix-install-script-for-redhatenterpriseserver

[2016-06-28 19:31] dnephin commented on #23915
I think the CLI and the API should be consistent here, we should change it in the API as well.

[2016-06-28 19:31] adamjk-dev commented on #24039
I like it, our code differs but same net effect. Go with yours. I don't know how they push these scripts out to be served (to test|get|experimental.docker.com), but we need to push to all 3 of those. Thanks!

[2016-06-28 19:33] thaJeztah commented on #24039
Thanks for checking @adamjk-dev, I'll open a PR!

[2016-06-28 19:39] stevvooe commented on #23915
@dnephin @cpuguy83 If we're to do this, we should change the field to `ReadOnly`, across the board.

[2016-06-28 19:39] stevvooe commented on #23915
Really, I'm fine with keeping API defaulting to read only, however.

[2016-06-28 19:41] thaJeztah commented on #21304
@lgibelli would you be interested in opening a pull request to fix that part of the documentation if it's incorrect? Also note that for Jessie, you should be able to use aufs if you install the linux-image-extra packages

[2016-06-28 19:42] adamjk-dev commented on #24039
Wait.... I thought I had this working a minute ago... but it still might have an issue. I ran the raw script you had edited and submitted:

[code]

It is currently looking at https://yum.dockerproject.org/repo/main/centos/Maipo/repodata, but I think it should be looking at https://yum.dockerproject.org/repo/main/centos/7/repodata

[2016-06-28 19:43] thaJeztah commented on #24006
Alright, let me close this for now, thanks for looking both!

[2016-06-28 19:43] #24006 closed

[2016-06-28 19:46] thaJeztah commented on #24039
oh, hm, darn. Can you comment on my PR? Let me see if i can find something for that :cry:

[2016-06-28 19:53] dhiltgen opened #24058 "API Docs: inconsistent fields for resource settings on service"
According to the engine-api Docs, resource settings are "NanoCPUs" and "MemoryBytes" - https://godoc.org/github.com/docker/engine-api/types/swarm#Resources

The corresponding docs for the remote API show simply "CPU" and "Memory" https://github.com/docker/docker/blob/master/docs/reference/api/docker_remote_api_v1.24.md#create-a-service

[2016-06-28 19:54] adamjk-dev commented on #24039
I know the issue, its b/c it skips the first case statement, so we need to special case and set it to redhat right after it does the lowercase. I will push to my repo and show you.

[2016-06-28 19:56] thaJeztah commented on #24041
Overall, we recommend using (for example) Docker Compose (https://github.com/docker/compose) or in future, the Docker Application Bundles; https://github.com/docker/docker/blob/master/experimental/docker-stacks-and-bundles.md to describe how to run your application, in stead of reverse-engineering the command-line options that were provided to run the container

[2016-06-28 19:59] rcsavage commented on #24054
Not for everything, it covers the majority of my needs, but not some conditional services.

[2016-06-28 20:03] cpuguy83 commented on #24054
@rcsavage Can you give an example?
I don't see how a dedicated flag would be different than `--build-arg`.

[2016-06-28 20:05] adamjk-dev commented on #24039
This works. We have to set it to 'redhat' earlier on so it makes it into both case statements. Then, below, it will no longer be 'redhatenterpriseserver', so we can just special case 'redhat'.

https://github.com/adamjk-dev/docker/commit/290afda51c3fd238e234f0386bf83d8777b4c6db

[2016-06-28 20:09] craig2017 commented on #23904
My username is not there.

Even when i run this as root from the terminal it fails.

On Tue, Jun 28, 2016 at 1:02 PM, Gaetan <notifications@github.com> wrote:

[2016-06-28 20:10] jeremyVignelles commented on #18246
Hi,
What is the status of this in the new Docker for Windows?
Since it uses Hyper-V, I don't know how volumes mounting works internally. Is it still a network share?

[2016-06-28 20:12] aaronlehmann commented on #23915
I would prefer to avoid an API change during the release candidates if we can. Since the GRPC serialization is stored in raft, a change like Writable -> ReadOnly would break the existing cluster state for anyone who downloaded an earlier -rc and played with it. Not the end of the world, but it wouldn't inspire confidence among early adopters. My vote would be to leave the API as-is, and only chang

[2016-06-28 20:13] dunk commented on #14467
With the new native docker, and also the ability to resize the mv via docker-machine (albeit by creating a new one), I think that this ticket is no longer really relevant.

[2016-06-28 20:13] #14467 closed

[2016-06-28 20:16] gdevillele commented on #23904
@craig2017 thanks. It looks to be the same issue. It will be fixed with the next update in a couple of days.

[2016-06-28 20:22] tonistiigi commented on #23672
Not sure if I'm missing something but `:::2377` should mean that it is listening on all interfaces. `172.16.10.41:2377       172.16.10.41:33862` in your second example is not listening but actual connection, these only appear if you try to connect to that address. I think the difference after restart is that the worker connects back to manager using manager's advertised address(public ip) instead

[2016-06-28 20:26] aanand opened #24063 "GET /networks returns null instead of empty array when nothing matches the filters"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Docker for Mac version:

[code]

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

When nothing matches the filters, the content of the HTTP response is `null`.

**Describe the results you expected:**

When nothing ma

[2016-06-28 20:32] craig2017 commented on #23904
awesome, thanks!

On Tue, Jun 28, 2016 at 4:18 PM, Gaetan <notifications@github.com> wrote:

[2016-06-28 20:34] vdemeester commented on #24063
#dibs
I'll take a look at that :wink:

[2016-06-28 20:34] #24005 closed

[2016-06-28 20:35] maxx commented on #23904
I have _also_ confirmed that `dscl . -read /Groups/admin |grep GroupMembership` does not list my username.. sounds like this upcoming fix will solve the issue.   Looking forward to it.

[2016-06-28 20:42] gdevillele commented on #23904
@craig2017 @maxx You are welcome, thanks for your patience. Let's see after the update whether we can close this issue. :)

[2016-06-28 20:43] mavenugo commented on #24046
closing this issue now. Pls let us know if you still see a need to keeping this open.

[2016-06-28 20:43] #24046 closed

[2016-06-28 20:52] dnephin opened #24064 "service update of array/map types requires repeating the entire set"
Issue for #23773

Updating array and mapping types by starting with an empty collection is fine when there are a small number of items, but it becomes a large burden for users if they have many ports, labels, or mounts, and would like to add or remove a single one. The case of adding or removing a single item should be a lot more common than removing everything.

We should design the UX around the

[2016-06-28 20:53] dtmistry commented on #24046
@mavenugo All good. I was able to manually create the network on all nodes and init the cluster. Thanks.

[2016-06-28 20:54] dperny opened #24065 "Promote/demote causes demoted node to hang"
**Output of `docker version`:**
*NOTE: The build says 'unsupported' because I tried vendoring swarmkit to latest version to see if the issue had been fixed upstream. It has not been. This is actually commit `83e6197`*
[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Two `make shell` Docker-in-Docker containers. Host OS is Mac OSX.

[2016-06-28 21:00] brycereitano commented on #18113
I am also running into this issue with docker 1.11.1 on raspberry pi. The issue seems to arise quite rarely when power is cut to the pi. (Ungraceful shutdown) Then deleting `/var/lib/docker/network/*` will fix the issue until it comes up again.

[2016-06-28 21:06] thaJeztah opened #24066 "[1.12-rc] docker should have a way to pull/update service images"
It's currently not possible to force updating a service's image, for example, if a service uses `nginx:1.11.1-alpine`, and an updated version is available for that tag, it's not possible to force pulling the latest version.

Related; when deploying a service, we want to be sure that each node uses the exact same version of the image.

We briefly discussed this yesterday, and are thinking of having

[2016-06-28 21:09] mrjana commented on #23855
@sodre90 Is `test1` part of the same network as `first_service`?

[2016-06-28 21:09] selvik opened #24067 ""docker service create" in swarm mode does not pass labels to the tasks/containers created"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Swarm manager and worker are Ubuntu 14.04 VMs running on VMware Fusion.

**Steps to reproduce the issue:**
1. On the manager node: docker swarm init --listen-addr [manager_ip]:2378
2. On the worker node: docker swarm join [manager_ip]:2378
3. Starting

[2016-06-28 21:14] tonistiigi commented on #24066
If registry supports schema2 we should add the image ID to the service spec as well. This will remove unneeded pulls when image was pushed again or moved between registries.

For better error reporting, maybe we should also force it to offline images as well. So if we can't pull the manifest on the current manager node, there is a check to see if the image exists on this same node. If it exists we

[2016-06-28 21:17] beenanner opened #24068 "Issue with using multiple bind mounts on docker service command"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Using virtualbox I'm not able to mount multiple directories using the following.
[code]
**Steps to reproduce the issue:**
1. Create a swarm
2. Run `docker service create --name nginx -p 80:80 -m type=bind,source=/Users/beenanner/Documents,target=/doc

[2016-06-28 21:19] thaJeztah commented on #24045
/cc @djs55 ptal

[2016-06-28 21:23] dnephin commented on #23924
So let's say we add `--entrypoint`, and `--args` to `service update`.
We'll also need to add an `--entrypoint` to `service create`.
And of course `docker run` has `--entrypoint` and (and command, which  is equivalent to args now).

The UX of entrypoint/command hasn't changed (with the very minor exception of renaming command to args, which  is arguably worse in the case where the image doesn't hav

[2016-06-28 21:24] thaJeztah commented on #24039
@adamjk-dev alright, can you open a pull-request for that? I can close mine after you opened it

[2016-06-28 21:25] anaghab12 commented on #23605
Following up - does the docker daemon on Windows support plug-in discovery via TCP as mentioned above (.spec file method)?

[2016-06-28 21:26] efrecon commented on #24041
Yes, I understand and use Docker Compose a lot. But there are times when it's not enough. My use case was in completely automating the steps necessary to setup an OpenVPN server using [this](https://github.com/kylemanna/docker-openvpn) project. I've reached a point where I create the volume and the main container using Compose, but since there are (manual, but I am automating those) steps involved

[2016-06-28 21:27] thaJeztah commented on #14467
Thanks @dunk!

[2016-06-28 21:49] petrosagg commented on #23487
We've also hit this issue with an unmodified docker 1.10.3 on btrfs. I don't think this is specific to CoreOS. It looks like the operations while pulling the layers are not atomic and can result in a corrupted `/var/lib/docker`.

We're running docker on embedded devices so power failures happen much more often compared to a datacenter.

[2016-06-28 21:53] thaJeztah commented on #18246
@friism ^^

[2016-06-28 21:58] #23686 closed

[2016-06-28 22:06] dmcgowan opened #24070 "File leaks during container creation"
While investigating leaks for `overlay2` discovered 3 other leaks during container creation to the following files.
[code]

These need to be fixed in libnetwork but since it effects container creation adding a tracking issue here.

Leak locations
https://github.com/docker/docker/blob/master/vendor/src/github.com/docker/libnetwork/sandbox_externalkey_unix.go#L144
https://github.com/docker/docker/bl

[2016-06-28 22:07] abronan commented on #24065
@dperny This is interesting because this scenario shouldn't work in the first place. We check the quorum number and you can't demote a node if there are only 2 raft members left. Using master and running docker in VMs while trying the exact same scenario I get:

[code]

Does this happen everytime you try to promote and demote?

[2016-06-28 22:12] tiborvass commented on #23689
We agree we should implement --pretty on swarm since it's already there for node and service. Too bad it's inconsistent with the other inspect commands.

[2016-06-28 22:47] dnephin commented on #23727
`tasks` is like `ps`, it doesn't error when there are no items to list. This is the correct behaviour.

I've made an argument for why I think this remove behaviour  is correct here:https://github.com/docker/docker/pull/24051#issuecomment-229199914

Maybe it makes sense to say "nothing was removed" for that case, but I don't think an error exit status code is correct.

[2016-06-28 22:58] AndrewBurdyug opened #24074 "Wrong GeoIP detection"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. create bridge:
[code]

2. run MongoDb:
[code]

**Describe the results you received:**
[code]

**Describe the results you expected:**
Working instance of MongoDb, non blocking.

**Additional information you deem im

[2016-06-28 22:59] BLaurent opened #24075 "Permission upgrade between containers"
Hi,

I am trying to setup temporary permission elevation for a given container.
I have a container A that "own" some files. I opened a files with RW then I passing this descriptor to container B. This container B does a mmap and write to it.

Container A do have a volume mounted
Container B have no volume mounted.

Is this something wanted or just a temporary hack that will be removed some day?

T

[2016-06-28 23:08] tiborvass commented on #23785
I like the warning upon `swarm init` cc @sfsmithcha

[2016-06-28 23:08] tiborvass commented on #23785
cc @diogomonica

[2016-06-28 23:10] nathanleclaire opened #24076 "Proposal: Eliminate 'docker service scale' before it's too late"
`docker service scale`... Why is the _the only_ parameter which can be updated through both a first-class command _and_ through `docker service update`?  Isn't that a bit inconsistent?

I know that it was this way in Docker Compose, but is including Docker Compose vestiges in the new `docker swarm` _really_ a good idea?  Will this inclusion of a Docker Compose vestige set a user expectation for `d

[2016-06-28 23:15] dnephin commented on #24076
I agree with you, `docker service update --scale SERVICE` feels sufficient to me.

[2016-06-28 23:15] abronan opened #24077 "Swarm mode: Election delay on startup with single manager"
Using **docker master**.

**Steps to reproduce the issue:**
1. Start a single node Manager.
2. Restart it.

**Describe the results you received:**

It will wait for the whole `ElectionTick` delay to reelect itself and accept new requests. This is due to the node going down and assuming it is part of a multi-node cluster waiting for a message from a possible new leader.

**Describe the results you

[2016-06-28 23:17] rvernica opened #24078 "Docker no starting on WORKER in swarm mode"
**Output of `docker version` on MANAGER:**

[code]

**Output of `docker info` on MANAGER:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Three physical machines (MANAGER and two WORKERS) running CentOS 7.2 with `firewalld` disabled. They have the same Docker version and setup.
[code]

**Steps to reproduce the issue:**
1. On one of the machines (MANAGER), do `dock

[2016-06-28 23:21] diogomonica commented on #23785
I would really like to avoid warnings. They are essentially shifting the blame to the user by allowing us to claim that "they should have read it". Either it is ok that workers are accepted by default in practice (which I still believe it might be), or it is not. If it is ok, we ship with no warnings, and if it is not, we change the default.

I'll take all the feedback and meet with the security t

[2016-06-28 23:24] evanj commented on #18776
FWIW: The kernel patch to address this issue has been backported into the stable kernel, so there may be nothing to be done here. Eventually people will upgrade their kernel, or they might receive corrupt packets. I suggest just closing this and recommending people use the latest stable kernel they can.

[2016-06-28 23:30] tiborvass commented on #23785
I'd rather change the default, but if we don't then at least a warning with link to docs about securing the swarm. The current situation is worse than any of those 2 IMHO.

[2016-06-28 23:33] nathanleclaire opened #24079 "How to 'docker rmi' or 'docker rm -v' etc. across Swarm cluster?"
If one ends up scheduling a lot of containers using `docker service` they are also likely to accumulate a lot of images on those nodes.  Imagine the case where a service has been updated 20+ times in a short timespan, plus the usual Docker disk space woes, and it's easy to see how users will start running out of disk space quickly.  How will the usual Docker disk cleanups work in this case?

Likew

[2016-06-28 23:58] msabansal commented on #22084
@wbradney  I have tried to reproduce it at my end and have not been able to. I am seeing proper cleanup after host restarts.

[2016-06-29 00:00] aluzzardi commented on #24076
/cc @icecrime

[2016-06-29 00:11] joaofnfernandes commented on #24031
Maybe you're misinterpreting the instructions. Try only running:
[code]

The rest of the snippet is the result of running that command, and it shows that the container you've just launched is attached to the `my-bridge-network`.

[2016-06-29 00:18] nathanleclaire opened #24082 "Trying to 'docker service create' w/ non-existent image never times out, chews CPU"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Docker for Mac, latest beta

**Steps to reproduce the issue:**

Note there are no services and resource usage of the Docker host is minimal.

[code]

![screen shot 2016-06-28 at 4 41 17 pm](https://cloud.githubusercontent.com/assets/1476820/16436503/

[2016-06-29 00:20] joaofnfernandes opened #24083 "[1.12-rc] Improve cli help for --update-delay flag"
It's not obvious that when running

[code]

you need to specify a time component for the update delay.

Update the `--help` output to mention that, and what are the supported units.

It might also make sense to have a default for that option, so that you could use it without having to provide the time unit.

[2016-06-29 00:37] mrjana commented on #23877
@Umkus @beenanner Yeah the most likely problem in both boot2docker and a plain vbox is that the primary host interface which acts as the default gateway is the NAT interface and if you did not provide an explicit `--listen-addr`  option to choose a second address which make it possible for these nodes to talk to each other using a host-only network, the gossip channel won't work. What you are seei

[2016-06-29 00:42] aluzzardi opened #24084 "Consider removing `--manager` from `swarm join`"
Today there are two ways to become a manager:
- Using `docker swarm join` and then `docker node promote`
- Using `docker swarm join --manager` directly

I think that's one too many ways and we should only support a single join scenario.

/cc @stevvooe @tonistiigi @icecrime

[2016-06-29 00:44] aluzzardi opened #24085 "`docker swarm join` should take multiple addresses"
SwarmKit is able to keep a list of different managers, connect to a random one and re-connect to a different one if it fails.

This is usually a good approach when bootstrapping a cluster (you don't want to be tied to a single manager).

This reinforces the statement that join should not be synchronous - the agent might fail connecting to a manager, but it's not a problem since it'll retry and eve

[2016-06-29 00:44] mrjana commented on #23704
@thaJeztah @tonistiigi `Address already in use` is expected because when you stopped the containers which were exposing ports swarm recreated those containers with probably the same IPs so when you restarted the same container it is going to complain about IP address conflicts. It is actually good that it is failing to start the container because it detected an IP address conflict rather than star

[2016-06-29 00:45] aluzzardi opened #24086 "docker node accept/reject, promote/demote but no drain/pause/activate"
[code]

Either we do everything through `node update` or we have commands for everything, but right now it's incosistent

/cc @dnephin @aanand @stevvooe

[2016-06-29 00:46] nathanleclaire commented on #24078
Hi @rvernica, thanks for the issue.

I think it sounds like network issue.  If it is not reproducible maybe @tiborvass would like to close.

FWIW, in order for Swarm to run effectively you _generally_ need:

- Inbound `2377` access allowed from worker to manager nodes
- Inbound `4789` (VXLan) from all nodes to all other nodes for overlay networking to work

[2016-06-29 00:46] mrjana commented on #23709
@tiborvass @mgoelzer https://github.com/docker/swarmkit/pull/1088 fixes it. So after that change we will continue to accept conflicting services but tasks from them will not be schedulable. But once the resource does become available then the service will be usable.

[2016-06-29 00:47] aluzzardi opened #24087 "Daemon flags for swarm join"
The engine should probably have flags such as `--swarm-join`. This would help automation.

/cc @icecrime @tonistiigi @tiborvass @stevvooe

[2016-06-29 00:48] nathanleclaire commented on #24085
Related: https://github.com/docker/swarmkit/issues/853

[2016-06-29 00:51] dnephin commented on #24086
Everything in `node update` has my vote.

[2016-06-29 00:54] tiborvass opened #24088 "swarm: Nodes count is off in `docker info` when worker leaves and rejoins"
[code]

@tonistiigi @diogomonica is the issue that the new certs are being generated? Is it safe to reuse the certs that were there when the worker rejoins? Or should the worker tell the manager that it's leaving?

[2016-06-29 00:55] mrjana commented on #23970
@jhorwit2 @cpuguy83 health checking is not integrated with the swarm mode natively yet. What probably needs to happen is if a container fails health check, we should bring down the task and reschedule it which should make the routing mesh to work seamlessly.

[2016-06-29 00:56] nathanleclaire opened #24089 "What is the volume / persistent data story for swarm mode?"
I haven't had time to look into the source unfortunately, but what is this mysterious `--mount` flag in `docker service create`?

[code]

Can't find any docs at https://docs.docker.com/engine/reference/commandline/service_create/

It's not really clear how volumes / data management is intended to fit into the Swarm mode picture in general (how do volume plugins work?  how do you manage distributed

[2016-06-29 01:00] mrjana commented on #23813
@BenHall We would very much want to support sticky sessions (based on source IP) but it just isn't part of the api yet. In the mean time you could easily configure your service to run in DNS RR(so when you do a A query for the service name you get all the backend IPs) and then standup an nginx to use that information for do whatever way you would like to choose your backends.

[2016-06-29 01:03] tonistiigi commented on #24088
`docker swarm leave` removes all current swarm state and gets you into same state that you were before `init/join`. If you do `node ls` then all these nodes are correctly marked as down and can be removed. Maybe we should not consider these in node count in `docker info`.

Reusing a certificate is probably possible but I don't see it being worth it. We have to check that it matches CA and isn't ex

[2016-06-29 01:03] mrjana commented on #23813
@dweomer We do have an option to provide a name in for ports so we can do SRV lookup on _<port_name>._tcp.<service_name> or retrieve it using APIs. So yes it is possible to support multiple ports in the future. The design is already in place. Just is not exposed in api/ui yet.

[2016-06-29 01:14] nathanleclaire commented on #24089
cc @sfsmithcha

[2016-06-29 01:14] nathanleclaire commented on #24089
also @cpuguy83 if you have any input or guidance ... I might write some if you have a few pointers

[2016-06-29 01:17] tonistiigi commented on #23704
@mrjana I thought I got this error already on stop when it was doing the replacing but couldn't reproduce anymore. Maybe it was fixed recently.

This seems correct thing to do.

[2016-06-29 01:29] moypray commented on #23367
Why not remove the cache memory in docker daemon for volumes?  And we have a API VolumeDriver.Get,  to get volume status, and every time we need to operate on a volume, send "GET" operation first to get Volume Status to make sure docker has the latest status of volume.

And I think the cache in docker is useless and sometimes will bring trouble here.

And GET operation has "status" segment in resp

[2016-06-29 01:48] jaloren commented on #18789
@vdemeester I do not find this argument persuasive. An extremely common use case is to git clone the source from which the docker image will be built, where the git repo will contain all the dependencies locally (by design). In that case, I will have all the files local (because I set it up that way). In that case, all I want to do is include some specific directories or files through symbolic lin

[2016-06-29 01:53] stevvooe opened #24090 "Name column of `docker node ls` should be hostname"
The following output:

[code]

Should be:

[code]

Nodes _do_ have a name, but it is not necessarily the hostname.

cc @aluzzardi @dongluochen

[2016-06-29 02:00] tchongyu commented on #22902
I bought a vps in Los Angeles, set up the shadowsocks service to across GFW, use privoxy to convert http into socks5. The `curl` command has been executed successfully base on bash, but it doesn't work in `make shell` command.
I'm going crazy, help! @coolljt0725

[code]

[2016-06-29 02:01] AkihiroSuda commented on #24008
Opened #24091

@cpuguy83 Please set the `area/storage/zfs` label?

[2016-06-29 02:06] rogaha commented on #24085
:+1

[2016-06-29 02:06] kiwenlau commented on #20399
Great! Thank you @tonistiigi

[2016-06-29 02:11] stevvooe opened #24092 "LoadBalancer shouldn't route traffic to tasks in certain states"
There are a few conditions where we should not route traffic to a task:
1. If the task is in a `STARTING` state.
2. If the task has a desired state of `SHUTDOWN` and is still `RUNNING`.

This will ensure that tasks will not receive traffic before they are ready and after they may be shutting down.

Let me know further details are needed.

@mrjana @aluzzardi

[2016-06-29 02:23] velo opened #24093 "Auth returning success for invalid logins"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Windows beta and ubuntu 14.04

**Steps to reproduce the issue:**
1. curl http://localhost:2375/auth -d '{"username":"iminvaliddxia2","email":"dxia+2@spotify.com","serverAddress":"https://index.docker.io/v1/"}'
2. Returns {"Status":"Login Succeeded"}

[2016-06-29 02:25] jfbibeau opened #24094 "POST /swarm/join as per API doc example never returns"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
RHEL 7.2 VM on OpenStack.

**Steps to reproduce the issue:**
1. On Node A, initialize a swarm using the REST API example from the docs:

[code]
1. On Node B, try to join using the REST API example from the docs, where x.x.x.x is the (OpenStack) floati

[2016-06-29 02:27] stevvooe opened #24095 "[1.12-rc2] daemon.ID should be replaced with swarm NodeID"
Currently, the output of `docker info` and the `Daemon` struct have an identifier set with the `trustKey`. Since this isn't really used, we should probably set this to the actual cryptographic node identity when the daemon changes to swarm mode.

This will ensure that we have a really node identity associated with an engine and ensure that it is available to users.

See docker/swarmkit#1075

cc @d

[2016-06-29 03:35] stevvooe commented on #23924
There is no extra logic.

[2016-06-29 03:51] sfsmithcha commented on #24089
ping: @tiborvass the way I understand this is still WIP

[2016-06-29 03:53] thaJeztah commented on #23704
A start would be to allow filtering on "managed" / "unmanaged" containers

[2016-06-29 04:11] rvernica commented on #24078
The three machines I am using are connected to the same switch and I am connect to them using SSH. The SSH connection is stable and I do not believe there are any transient network issues.

The issue I am reporting is that Docker service not starting and this is reproducible every time. What I could not reproduce is getting them connected to the swarm.

I suspected there might be an issue with the

[2016-06-29 05:11] allencloud opened #24098 "[1.12-rc2] /networks api return null instead [] when empty?"
Hi, All,

I have two docker engines: one 1.11.2, the other 1.12.0-rc2,

In 1.12.0-rc2, it fails when running my own test cases with APIs. Here is my details provided:

**1. in docker 1.12.0-rc2:**
[code]

when running /networks api with filter infos:
[code]

**2. In docker 1.11.2:**
[code]
when running /networks api with filter infos:
[code]

Different types returned via same API. suffers a lot. M

[2016-06-29 05:40] allencloud commented on #24098
duplicated as #24063 , then closing.

[2016-06-29 05:40] #24098 closed

[2016-06-29 06:03] ivansieder commented on #23991
@StefanScherer That's neat, thanks for that hint!

[2016-06-29 06:19] tj13 commented on #22937
met the same issue on docker 1.10.3.
#docker version
Client:
 Version:      1.10.3
 API version:  1.22
 Go version:   go1.5.3
 Git commit:   20f81dd
 Built:        Thu Mar 10 15:39:25 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.10.3
 API version:  1.22
 Go version:   go1.5.3
 Git commit:   20f81dd
 Built:        Thu Mar 10 15:39:25 2016
 OS/Arch:      linux/amd64
# docker info
Contai

[2016-06-29 06:22] tuesdaythefifth commented on #23704
I don't think blanket changing fundamental docker behaviour (start/stop) is the answer.

Users should 100% be able to stop any arbitrary container that they want to. As long as 'docker exec' works on managed containers, there is the possibility to need to 'docker stop' a particular managed container. Just like with a crashed container, you may want to stop and investigate, not just remove it.

[2016-06-29 06:52] MoOx commented on #22981
This might help https://docs.docker.com/docker-for-windows/troubleshoot/#/host-filesystem-sharing

[2016-06-29 07:09] longkt90 commented on #23470
Same issue still appear on Docker version 1.12.0-rc2, build 906eacd, experimental

[2016-06-29 07:15] chelarua commented on #18420
I'm seeing something like this too, some of the containers in docker stats have only zero values. I'm able to reproduce this with containers that have been placed in the network of another existing container, so started like this `run -itd --net=container:<other_container_id> ubuntu`. This happens in both 1.11 and 1.10 but it works fine in 1.9.

[2016-06-29 07:21] ggtools commented on #24089
So far I did manage to make it work with a local directory or a local volume.

For a local directory:

    docker service create --name nginx_hello --mount type=bind,source=/local/directory,target=/data,writable=true nginxdemos/hello

For a volume:

    docker service create --mount type=bind,source=test_volume,target=/data,writable=true,volume-driver=local nginxdemos/hello

Using *volume* gives s

[2016-06-29 08:25] janbuj commented on #23885
I have exacly the same problem. I can spawn containers across whole all 1.12 rc2 swarm nodes with docker service but when I try to spawn lets say 3 nginx nodes (all listening on port 80) using docker-compose it only spawns 1 on the manager node and says that rest cannot be created due to port 80 being already used. I am using docker-compose 1.8.0.-rc1. There are no links or any stuff like that in

[2016-06-29 08:29] allencloud commented on #24090
@stevvooe
I found more details that may be useful.

While in this place, code like this:
https://github.com/docker/docker/blob/master/api/client/node/list.go#L79-L85
[code]
If node name is empty, it will use hostname instead.

[2016-06-29 08:57] vdemeester commented on #24076
I also agree with @nathanleclaire and @dnephin, `update --scale n SERVICE` makes more sence to me

[2016-06-29 08:57] llitfkitfk commented on #24067
same issue

[2016-06-29 08:59] vdemeester commented on #24082
/cc @vieux @aluzzardi @stevvooe @aaronlehmann @abronan

[2016-06-29 09:11] vdemeester commented on #24086
Same for me (and for `service`), `node update (--accept|--reject|…)` seems good to me

[2016-06-29 09:12] triccardi-systran opened #24101 "Undefined --build-arg FOO masks default value ARG FOO=1 in Dockerfile"
`docker build --build-arg FOO` when `FOO` is not defined in environment variables of `docker build` is the same as `--build-arg FOO=`, which overrides potential default value for `FOO` in the `Dockerfile`:

[code]

Test 3 shows an undocumented feature where just setting the environment variable name with no `=value` to `--build-arg` makes `docker build` take the value from its own environment vari

[2016-06-29 09:13] vdemeester commented on #23970
@mrjana (cc @icecrime) will health checking integrated in 1.12 or goal for it is 1.13 ? :angel:

[2016-06-29 09:16] allencloud opened #24102 "[1.12-rc2] we'd better support Stack and Deploy in the server side"
Hi,

Stack and deploy command now are experimental features in docker 1.12.

While currently, stack and deploy are concepts in the client side. We can only use DockerCLI to use both two. We can not use API to take advantage of both two. So both two are coupled with dockerCLI, not so open for users.

**We had better support Stack and Deploy in the server side**

It needs engine-api to add both two

[2016-06-29 09:17] inoc603 commented on #21735
I've tried macvlan an ipvlan l2 mode with sucess, but I got `Error response from daemon: plugin not found` when trying to create an ipvlan l3 network.

Do ipvlan l2 and l3 mode use different plugins? Any suggestions to fix this ? Thanks.

### OS

[code]

### Docker

I installed docker with the following steps:

[code]

Installed docker:

[code]

### Steps to repoduce

[code]

[2016-06-29 09:19] cupracer commented on #22185
@thaJeztah
I couldn't find a reliable way to reproduce the issue in a testing environment, so I need to test that in production. Fortunately my so-called "production" setup is a (frequently used) hobby project and my users seem to be forgiving small outages. :-)

I just updated to a newer Docker version (git snapshot https://github.com/docker/docker/commit/d4bff5e3aa014f7062f1d7a6c929336e2a88faff)

[2016-06-29 09:21] vdemeester commented on #24094
@jfbibeau `RemoteAddrs` is an *array*, so should work better with `["x.x.x.x:4500"]`.

[code]

I'll update the reference API documentation.

[2016-06-29 09:24] F21 opened #24103 "Re-balance swarm tasks when new nodes join"
It would be nice to be able to automatically re-balance tasks when a new node joins.

For example, we have 4 nodes, running a redis service with 5 tasks. When a new node joins, swarm should automatically re-balance the tasks so that all nodes will be running 1 redis task.

[2016-06-29 09:29] F21 opened #24104 "Document service create constraints"
The use of constraints should be documented in the reference. While https://github.com/docker/docker/blob/master/docs/reference/commandline/service_create.md says that the `--constraint` flag exists when creating a service, it is unclear how this is to be used and whether the same usage as docker/swarm applies.

It would also be nice to have a few examples showing how this is to be used.

[2016-06-29 09:33] vdemeester commented on #24102
/cc @dnephin @icecrime

[2016-06-29 09:39] F21 opened #24106 "Swarm node duplicated if it leaves and rejoins"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
5 x Ubuntu 16.04 64-bit VirtualBox VMs

**Steps to reproduce the issue:**
1. Create a swarm and ask all nodes to join.
2. On one of the nodes, make it leave: `docker swarm leave`
3. Confirm on the manager that the node has left: `docker node ls`. It s

[2016-06-29 09:49] frisky opened #24107 "docker-compose not working with swarm overlay networking in docker v1.12rc"
**Output of `docker version`:**
root@xxxxx:~# docker version
Client:
 Version:      1.12.0-rc2
 API version:  1.24
 Go version:   go1.6.2
 Git commit:   906eacd
 Built:        Fri Jun 17 21:09:07 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.0-rc2
 API version:  1.24
 Go version:   go1.6.2
 Git commit:   906eacd
 Built:        Fri Jun 17 21:09:07 2016
 OS/Arch:      linux/amd64

roo

[2016-06-29 09:50] Nomon commented on #18013
Happening for me also on 1.11.2, trying 1.12-rc2 next. Here are the system details where it happened:

[code]

full strace of docker ps
https://gist.github.com/Nomon/8d515046db5ed33eb08f304d78a6a194

[2016-06-29 09:52] gutsal-arsen commented on #22037
+1
[code]
[code]
[code]

[2016-06-29 10:14] ijc25 commented on #23672
@cpuguy83 I did try with "almost rc2" at the time (since rc2 wasn't out then) via docker 4 mac and it did suffer from the same issue.

@tonistiigi perhaps I have become confused by forgetting that `:::2377` can in some circumstances also include all IPv4 interfaces and/or by misreading the `LISTEN` vs `ESTABLISHED` lines. The reason I was looking at this in the first place was that I was trying to

[2016-06-29 10:15] albers opened #24108 "`docker node task --filter name=` filters on `service`"
Taken from the CLI reference page of `docker node tasks`:

This is wrong. The filtering is applied on the **exact service name**, see example below.

I think this is actually more useful than filtering on task names and therefore propose to **change the filter name from `name` to `service`**.

Furthermore, filtering should be extended to also cover substring matches, not only exact matches.

[code

[2016-06-29 10:23] F21 opened #24109 "Document best practices for operating swarm managers"
It would be nice if the documentation contains best practices for operating swarm managers.

For example:
- Are swarm managers like mesos masters which needs to be operated in odd numbers to maintain quorum?
- What is the maximum number of managers you should have in a swarm? Are they like Zookeeper ensembles where as the number of members in the ensemble increases, the write performance decreases

[2016-06-29 10:24] Vanuan commented on #23813
@mrjana what about swarm's routing mesh? How can it be disabled in swarm mode?

[2016-06-29 10:31] F21 opened #24110 "Pass swarm task information as environment variables into each task"
I am interested in running HDFS using swarm. One of the requirements of HDFS is a Zookeeper ensemble. To operate a Zookeeper ensemble, each Zookeeper should have a unique ID, starting from 1 and ending in 255.

While it is possible to coordinate the ids using something like consul or etcd, it would be much simpler for swarm to pass in task information as environment variables into each task. For e

[2016-06-29 10:36] F21 opened #24111 "Support HTTP health checks"
We are using docker to run microservices. These microservices are all HTTP services. According to the documentation, it is possible to perform a health check by running a command inside the container.

However, it would be much simpler (if the process in each container is a HTTP server) to perform the check over HTTP. The operator would define an endpoint, say `/health` and port `443, 80, etc`, an

[2016-06-29 10:37] albers opened #24112 "`docker service tasks --filter name=` filters on `service`"
Related issue: #24108

According to https://github.com/docker/docker/blob/master/docs/reference/commandline/service_tasks.md#name

This is not true: It filters on **exact service names**, which does not make sense because you also have to specify the service name as a mandatory argument.

[code]

[2016-06-29 10:38] albers commented on #24108
Related issue: #24112

[2016-06-29 10:40] mustafaakin commented on #24107
Can confirm:

[code]

[2016-06-29 10:43] F21 opened #24113 "Support per task environment variables in swarm"
We are interested in using Hashicorp's [Vault](https://github.com/hashicorp/vault) for storing and giving access to secrets (API keys, access to databases, etc).

Vault provides a method called a wrapped token where a process will communicate with vault to retrieve a temporary token. This token is then passed to each task. Each task then exchanges this token for a more permanent token and performs

[2016-06-29 10:47] F21 opened #24114 "Support plugins/hooks for swarm service creation"
As mentioned in #24113, we want to use [Vault](https://github.com/hashicorp/vault) to provide containers access to secrets like api keys and access to databases.

We would request that vault generate a temporary token, which is passed to the container, and the process inside exchanges it for a more permanent token (which has to be renewed of course).

It would be nice if docker allows us to hook i

[2016-06-29 10:49] sanimej commented on #21735
@inoc603 If the command you gave is exactly what you used there is a typo in the driver name, `-d ipvaln`

[2016-06-29 11:01] F21 opened #24115 "Support tasks that are constrained by other tasks in swarm"
I am interested in running HDFS in HA mode on swarm.

A minimum HA configuration will need each component of HDFS running on different nodes like so:
- Node 1: Namenode (with ZKFC) and Journal node
- Node 2: Standby Namenode (with ZKFC) and Journalnode.
- Node 3: Journalnode
- Node 4: Datanode

For reliability, there should be at least 3 Datanodes, but the above is the bare minimum for an HA HDFS

[2016-06-29 11:06] rumkin commented on #24037
@cpuguy83 Reopen this issue. [This is](https://github.com/docker/docker/issues/24037#issuecomment-229044532) not an answer to my question and nobody can discuss it or help to solve.

[2016-06-29 11:37] duglin commented on #24101
[code]
For consistency it does make sense to treat a missing build-arg env as not having specified `--build-arg` at all.

[2016-06-29 11:37] yeasy commented on #18013
I found under `/run`, docker creates lots of fd, while not release after the docker exec.
Maybe this is the root cause.

[2016-06-29 11:42] cpuguy83 commented on #23885
docker-compose does not take advantage of swarm mode. It only runs containers on the specified host.

[2016-06-29 11:48] outime commented on #23693
I just experienced this today.

[2016-06-29 11:52] albers opened #24117 "`docker node tasks --filter desired_state=accepted` shows running tasks"
[code]

[2016-06-29 12:04] alon-totango commented on #23855
@mrjana I have 2 services running in the same default overlay network created by the swarm. The swarm consists of 3 nodes. One service is called serv1 and the other service is called serv2

All serv2 does is attempt to curl serv1, but it fails with the error `Could not resolve host: serv1`

Any ideas how I can try and debug this? Thanks

[2016-06-29 12:55] IcaroBichir commented on #24106
I'm having the same issue here.

[code]
[code]

[code]

[2016-06-29 12:56] yongtang commented on #24110
I think this one is similiar to #23843?

[2016-06-29 13:01] jhorwit2 commented on #24113
Just fyi with vault, you can use the [pull or coprocess style authentication models](https://www.hashicorp.com/blog/vault-cubbyhole-principles.html) to achieve this with docker/swarm currently.

[2016-06-29 13:10] wbradney commented on #22084
I'm not sure it's related to a simple restart of the host, since I've done that many times during my experiments and haven't seen the problem before. The thing that stood out for me was that this time there were system updates. I'll watch out for it as I continue and run the diagnostics you refer to if it happens again.

[2016-06-29 13:16] cpuguy83 commented on #24089
@ggtools Yes, the internals for volume mounts are a little off. Have a PR to fix, hopefully for RC3.

[2016-06-29 13:16] sdemura commented on #24107
I reported this with `docker run` last week. See https://github.com/docker/docker/issues/23901.

Looks it's working as intended unfortunately. You'll still have to use a 3rd party K/V store for overlay networks.

[2016-06-29 13:25] cpuguy83 commented on #24106
I believe this is because a new node ID is generated and needs to be generated.
Basically, this is likely the intended behavior.

Ping @diogomonica @aaronlehmann

[2016-06-29 13:26] cpuguy83 commented on #24113
Surely storing these tokens in environment variables cannot be considered secure?

[2016-06-29 13:38] cpuguy83 commented on #18013
@yeasy There was a bug in 1.11.0 that did this, should not be a problem now.

[2016-06-29 13:38] jhorwit2 commented on #24113
@cpuguy83 When you compare it to the alternative way of storing your configuration file as a layer in the image it is more secure. Now you don't need secrets in your git/containers, then using vault you can use the temp tokens introduced at runtime (env vars) to get the secrets. If someone gets physical access to your running container you are out of luck if it's in memory or disk ;).

[2016-06-29 13:39] cpuguy83 commented on #18013
@Nomon Looks like you have a stacktrace of the docker client which is unfortunately not very helpful in this situation :(.
If you could provide the output (from the daemon side logs) after sending SIGUSR1 to the docker daemon this will give us what we need to help debug.

Thanks!

[2016-06-29 13:41] lifubang opened #24118 "mount -o bind can't work"
** docker version: 1.11.0-dev **
** OS: Ubuntu 14.04 platform 64 **
** Image: Ubuntu 14.04 **
When I use mount -o bind /dev dev/, it said permission denied.

I need to use tty in chroot. so I must bind chrootpath/dev to /dev. How to resolve this problem?
thx very much.

[code]

[2016-06-29 13:43] MoOx commented on #23900
FYI I solved my case https://github.com/docker/docker/issues/22981#issuecomment-229271622

[2016-06-29 13:45] cpuguy83 commented on #24113
@jhorwit2 I invite you to read about the Maginot Line.

[2016-06-29 13:48] cpuguy83 commented on #24118
You need `--privileged` to use mount.

The `mount` syscall is blocked by the apparmor profile, as well as by dropping CAP_SYS_ADMIN, and seccomp.
In 1.12 you should be able to just use `--cap-add SYS_ADMIN` and the seccomp profile will be loosened up as well... but still apparmor would block this.

[2016-06-29 13:48] #24118 closed

[2016-06-29 13:58] Nomon commented on #18013
@cpuguy83 I terminated that instance already, once it happen again I will do it. Thanks.

[2016-06-29 14:20] cpuguy83 commented on #24102
I would put it a little nicer than that, but yes :)

[2016-06-29 14:22] cpuguy83 commented on #24067
Adding this as another P1/UX issue to discuss for 1.12

[2016-06-29 14:24] cpuguy83 commented on #24094
But why would it hang just because the field is wrong?

[2016-06-29 14:26] cpuguy83 commented on #24076
Except it's `docker service update --replicas` :)

[2016-06-29 14:30] willrstern commented on #23855
@mrjana same curl error in https://github.com/docker/docker/issues/23855#issuecomment-228457673 they're on the same network as well.  It generally works on first deploy until a scale down happens, then it's hit and miss what IP it will try to reach.  Every other may fail, all may fail, all may work.  It's different every time.

[2016-06-29 14:32] cpuguy83 opened #24121 "No way to kill rogue task"
I have a rogue task eating up all my CPU trying to start a container that will never start.
There seems to be no way to get rid of this task other than scaling down to zero.

[2016-06-29 14:33] cpuguy83 opened #24122 "Consider using `--format` string instead of `--pretty` flag"
docker ps and docker inspect handle all formatting via the --format flag, like so:

docker ps --format 'table {{ .Names }}\t{{ .ID }}' for the table format
docker ps --format '{{.Names}}' for no formating
Could also do something like --format 'pretty'

This also has the benefit of allowing users to customize their output via config file in ~/.docker/config.json

[2016-06-29 14:41] cpuguy83 commented on #22037
@gutsal-arsen This is not related at all.
Your error is because the `docker-containerd-shim` binary is not in PATH.

[2016-06-29 14:56] vdemeester commented on #24076
@cpuguy83 ah right, `--scale` is not even needed then :angel:

[2016-06-29 15:05] dhiltgen opened #24123 "Swarm mode: expose API to restart manager after configuration change"
Barring a resolution to https://github.com/docker/swarmkit/issues/696 there should be a programmatic way to restart the swarm mode manager after making configuration changes via the API.

[2016-06-29 15:14] dhiltgen opened #24124 "Swarm mode: expose API to access cert blacklist"
Swarm mode internally tracks removed nodes with a cert blacklist recording the CN of the nodes cert.  It would be useful to expose this list via an API for visibility/management purposes.

[2016-06-29 15:16] cupracer commented on #22185
@thaJeztah @sanimej
I'm afraid that the issue still seems to exist. DNS queries started to become slow after some hours.
DNS queries did not get stuck completely, but they became unusable slow.
I did some quick ping tests. Here are the results:

Ping an FQDN
[code]

Ping an FQDN (numeric output only)
[code]

Ping an IP address (numeric output only)
[code]

As you can see: Less DNS queries result i

[2016-06-29 15:17] rayohauno commented on #10025
It seems I have a similar issue. But, I don't know how to solve it. I am working in my own package. First, I build with
`python setup.py build_ext --inplace`
and everything goes fine. Then, I try to install with
`python setup.py install`
and then, it hangs at
[code]

[2016-06-29 15:20] jseabold commented on #10025
Does the above not help you? Don't put your package in the root of the image. It will walk the entire directory.

[2016-06-29 15:25] rayohauno commented on #10025
I am sorry, perhaps I made a mistake posting here (I don't have much experience posting). I am not working with docker. I just found this post googling and found my problem is similar to the one reported above. The code above does not make sense in my case. I don't understand why
`python setup.py install `
search the whole tree (I am calling the python from the virtualenv, as the virtualenv is act

[2016-06-29 15:27] cpuguy83 commented on #24086
I'd go the other way here.... accept/reject/promote/demote are simple to understand.
One could make the case to get rid of promote/demote as they can be ambiguous, especially if we later have more than manager/worker (maybe storage nodes or something?)... but accept/reject to me are requirements.

`docker node update` is not simple and is a bit unintuitive in this case, IMO.

[2016-06-29 15:30] LK4D4 commented on #24086
I'm with @cpuguy83 here.

[2016-06-29 15:37] vdemeester commented on #24117
I'm on it :angel:
#dibs

[2016-06-29 15:49] dnephin commented on #24086
After more thought I can definitely see the argument for keeping only accept/reject. They are kind of like `create` and `rm` but for a workflow that requires authorization. They should continue to be relevant if we add more types of nodes.

[2016-06-29 15:51] dnephin commented on #24086
@aluzzardi  to make it consistent we could remove `--membership` flag from `update`. That way memership is managed with commands, and roles and availability are managed with update.

[2016-06-29 15:52] jseabold commented on #10025
I would ask on stackoverlow then. This is a docker issue tracker.

[2016-06-29 16:05] yongtang commented on #24110
I can work on this issue, will create a pull request shortly. #dibs

[2016-06-29 16:09] vdemeester commented on #24108
@albers as far as I know, `node` and `service` *tasks* share the same filters (same backend code), and thus, `service` is available for the `node tasks` command but it would take the long form of service id.

[2016-06-29 16:11] cpuguy83 commented on #24055
@vdemeester This was removed in docker/engine-api#162
I assume because it wasn't actually used?

[2016-06-29 16:11] dnephin commented on #23819
`docker-compose` is not compatible with swarm mode. If you want to try out the experimental bundle you can run:

[code]

[2016-06-29 16:13] dnephin commented on #24076
Apparently we removed `--replicas` in 72f7cebfb036f0fc74b9fa6fcc0c154f83f1605f , that seems wrong.

[2016-06-29 16:14] cpuguy83 commented on #24110
@yongtang I wouldn't work on this yet.
This is similar to the debate in adding the container ID to the container env.

[2016-06-29 16:15] dnephin opened #24127 "Restore `service update --replicas`"
It was removed in #23697, I believe that was a mistake.

It should be possible to update the number of replicas of a replicated service, it will just error if the service is not in the correct mode.

[2016-06-29 16:15] dnephin commented on #24127
Related #24076

[2016-06-29 16:16] cpuguy83 commented on #24109
ping @thaJeztah

[2016-06-29 16:20] vdemeester commented on #24055
@cpuguy83 hum if I remember correctly yes. It's not read server side as the `Container` information is already there (in the `URI`) or not needed (for `/exec/…/`), but that's true, missed to update the documentation on that :sweat:.

[2016-06-29 16:22] jfbibeau commented on #24094
@vdemeester I am still getting the same issue by sending an array. First request returns "{ "message": "at least 1 RemoteAddr is required to join" }", second request hangs the docker daemon.

[2016-06-29 16:23] aaronlehmann commented on #24127
ping @dongluochen

[2016-06-29 16:25] vdemeester commented on #24094
Dang it, I made a typo in my comment :scream:… it's `RemoteAddrs` :sweat_smile:.
But as @cpuguy83, that does not explains why it hangs the 2nd time though... :thought_balloon:

[2016-06-29 16:26] TrySpace commented on #24031
That's probably it, thanks!
Other examples often span multiple lines, and the distinction between a command and the result isn't always clear in the docs, especially this one.

[2016-06-29 16:26] #24031 closed

[2016-06-29 16:26] cpuguy83 commented on #24068
I can't reproduce.... but are you sure the binds aren't actually there?

[2016-06-29 16:35] peterlynch opened #24129 "Does allowing anonymous access to a private docker registry violate docker spec?"
I work on the Sonatype Nexus Repository Manager team and we have support for private docker registries.

I would like to get the official stance from a Docker spec representative on my question.

I know Docker Hub requires authentication. The Docker Trusted Registry product states that it will allow anonymous access until auth is enabled. However it also states you cannot even create a registry un

[2016-06-29 16:38] yongtang commented on #24110
@cpuguy83 Thanks. I didn't know the discussion about container ID in container before.

I will just un #dibs for now.

[2016-06-29 16:43] duglin commented on #24129
I would think that would be an implementation choice.

[2016-06-29 16:51] nathanleclaire commented on #24078
I see.  In the "expected results" above it says:

So I wasn't aware that you had an issue with service start.

Can you provide some information about the service start issue?  And preferably the Docker daemon logs from the instances as well?

[2016-06-29 16:51] q53 commented on #20567
Hi all.
I have tried to build virtual rpm which provides docker dependence and install it with kubernets from CentOS extras repository. It failed because your rpm spec include:
`
Conflicts: docker
Conflicts: docker-io
Conflicts: docker-engine-cs
`
So you are saying that is impossible to install any native rpm form CentOS/RHEL  required docker if you install docker-engine? The only question left is

[2016-06-29 16:58] joaofnfernandes opened #24130 "[Docs code snippets] Make it obvious what is command what is result"
Sometimes when reading the docs, it's not obvious for some users what part is the command, and what part is the result of running the command.
See #24031 for more context.

Consider adding a blank like between the command and the result, for improving clarity.
We're already doing this in some doc pages. [Example](https://docs.docker.com/ucp/installation/uninstall/).

[2016-06-29 16:59] joaofnfernandes commented on #24031
This is a docs usability issue. I've created #24130, so that we can address this.

[2016-06-29 17:18] KubqoA opened #24131 "Running docker run hello-world produces an error on fresh install"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
VPS server, OpenVZ container

**Steps to reproduce the issue:**
1. Follow the official guide to install Docker on Debian 8
2. As root user run docker run hello-world
3. Observe the results

**Describe the results you received:**
I got an error message

[2016-06-29 17:26] thaJeztah commented on #22185
Thanks for testing @cupracer

[2016-06-29 17:27] tonistiigi opened #24132 "Daemon can't be started after swarm certificates expire"
Swarm certificates automatically renew and have 90 day expiry period by default. Still, if you don't start the daemon during that time the certificates will expire and starting daemon will fail with `time="2016-06-29T17:18:06.165656736Z" level=fatal msg="Error creating cluster component: error while loading TLS Certificate in /var/lib/docker/swarm/certificates/swarm-node.crt: x509: certificate has

[2016-06-29 17:30] aaronlehmann commented on #24086
Agree with @cpuguy83 - I like exposing `drain`/`pause`/`activate` as verbs.

[2016-06-29 17:31] jhorwit2 commented on #24121
You can `docker rm -f` it and the scheduler will reschedule it. (haven't tried if stop will also on a service)

[2016-06-29 17:34] aaronlehmann commented on #24082
See https://github.com/docker/swarmkit/issues/1015

[2016-06-29 17:35] dnephin commented on #23680
I can pick this up if no one else has it.

We could remove the commands entirely, or print an error message saying they aren't supported. I'll start with the latter.

[2016-06-29 17:38] duglin commented on #23680
I'd like to see some kind of daemon flag to enable this so its not just a Windows-only thing. There will be deployments that don't support this model of orchestration so having them present a consistent and nice "sorry" msg would be nice.

Additionally, hiding it from the "docker help" stuff too would be nice, but secondary.

[2016-06-29 17:40] cpuguy83 commented on #24132
Could provide a dockerd subcommand to handle cleanup.

[2016-06-29 17:41] dnephin commented on #23680
Yes, that is easy to do.

I'm going to leave that for a separate PR, I can see it being a more controversial.

[2016-06-29 17:45] jhowardmsft commented on #23680
@dnephin - Yes, please, if you have the cycles, go for it. Sorry, I'm swamped with other work at the moment, no time to immediately look at this.

[2016-06-29 17:49] vdemeester commented on #24094
Re-opening for the "hanging" part of the issue

[2016-06-29 17:49] tonistiigi commented on #24084
I don't see them as conflicting and they are targeted to different users and use cases.

`join --manager` is safer, especially when used within scripts. If joining fails you will get an error right away and if it succeeds you can use the node for manager commands. This is especially useful when using secrets instead of manual acceptance and for bootstrapping clusters. For ops and people already fa

[2016-06-29 17:50] beenanner commented on #24068
Thanks @cpuguy83 I didn't think to actually just try to cd into the directory which worked. :-p It looks like what is happening is that the mount is there it's just not displayed when the sources have a common parent path. Guessing it's just a display issue with `df -h` as the mount command is showing both as available.

[code]

[code]

If I mount a completely different path it seems to show just

[2016-06-29 17:50] #24068 closed

[2016-06-29 17:51] cpuguy83 commented on #24068
Thanks for checking!

[2016-06-29 17:52] thaJeztah commented on #22937
@dmcgowan perhaps you have ideas?

[2016-06-29 17:56] tonistiigi commented on #23680
What commands are we talking about? Is there some unfixable problem why swarm command could not work. We should fix the issues instead of hiding commands. https://github.com/docker/swarmkit/pull/941 is one pr tackling these issues and I see @jhowardmsft working on that.

[2016-06-29 17:57] JivanRoquet commented on #8395
What's about the `dockerhost` entry proposition found in https://github.com/docker/docker/issues/23177?

The solutions proposed here are useful workarounds when you deal with Dockerfiles only, but when you handle them via `docker-compose` it's a whole different story because then you can't plumb things like you'd do in a `docker build --add-host ...` command.

The built-in addition of a `dockerhos

[2016-06-29 18:00] dnephin commented on #23680
@tonistiigi that's a good question. Is swarm mode supposed to be working on windows?

I've got a branch to hide these on windows (https://github.com/docker/docker/compare/master...dnephin:block_swarm_cmds_on_windows), but I'll wait to open the PR

[2016-06-29 18:03] duglin commented on #23680
when not using swarm mode I see stuff like this:
[code]
so it would be nice if, when not running in swarm mode, users don't see cmds that will fail and API calls get a consistent "not supported" type of error.

[2016-06-29 18:07] tonistiigi commented on #23680
Only daemon knows if it is a swarm manager. Client doesn't know that before making the request. So unless we want to make a `docker info` request when running `--help` there is not much that can be done here.

[2016-06-29 18:10] duglin commented on #23680
well that was going to be my question for @dnephin but I decided to wait until his PR to see how he managed that  :-)

[2016-06-29 18:14] #24063 closed

[2016-06-29 18:14] tonistiigi commented on #23958
@mlaventure @crosbymichael runc doesn't seem to write pidfile even though it exits cleanly?

[2016-06-29 18:15] ardnaxelarak commented on #24130
#dibs

[2016-06-29 18:16] stevvooe commented on #24090
@allencloud This code is somewhat wrong. I think we were trying to have a "fuzzy name", where it would use name, then fallback to hostname. Unfortunately, the name is 1:1 with node, while hostname provides no such guarantee, as it can be `M:N` (many nodes can have same hostname, many nodes can run on same host).

[2016-06-29 18:24] #23924 closed

[2016-06-29 18:36] thaJeztah commented on #24129
ping @stevvooe perhaps you could have a look?

[2016-06-29 18:49] dnephin commented on #23680
Oh ya, I guess I was implementing it with go build tags, which isn't correct because a windows client can still hit a linux engine.

[2016-06-29 18:55] mrjana commented on #23855
@willrstern Thanks for testing. I think your issues should be fixed in the next rc(rc3). Please verify whenever that comes out and provide feedback.

[2016-06-29 18:57] mrjana commented on #23855
@alon-totango If you are testing in virtual-box or any host which has multiple host nics please make sure you initialized `swarm` by using a proper IP address as the `--listen-addr` option. If not please take a look at docker logs for any errors.

[2016-06-29 18:57] thaJeztah commented on #24109
thanks for the ping; let me add @sfsmithcha as well, I think he has this on his list

[2016-06-29 18:57] ab666 commented on #23855
I'm experiencing the same issue.  It appears that ip resolution is off by 1.

[...]
                "Name": "dev-db-alias.1.02211cdvntbri54ei5r19eba8",
                "EndpointID": "c7d100fce0eda69ccb13cd9e3ba10e3b58621def022dae543e32c595a0bf64a7",
                "MacAddress": "02:42:0a:00:00:05",
                "IPv4Address": "**10.0.0.5/24**",
                "IPv6Address": ""
[...]

PING dev

[2016-06-29 19:00] mrjana commented on #23855
@ab666 The name of the service resolves to the VIP. To confirm take a look at `docker service inspect <service_name>` and you should see the VIP listed there. Since it is a VIP it is not pingable. But you can access the VIP over TCP or UDP

[2016-06-29 19:00] #23768 closed

[2016-06-29 19:02] sfsmithcha commented on #24109
thanks @thaJeztah , @cpuguy83 , @F21 , these are definitely questions that are slated for the user/admin guide docs that are currently WIP

[2016-06-29 19:02] selvik commented on #24067
We want to use labels to categorize containers that have different properties. If the label used to start the service doesn't percolate down to the containers that belong to this service, then determining "the label" (or property) for a container becomes difficult.

[2016-06-29 19:02] tiborvass opened #24134 "Port conflict detection should be done synchronously on a manager"
A specific issue for the more general https://github.com/docker/docker/issues/23706

[2016-06-29 19:03] jfbibeau commented on #24094
Wow, there's something really strange about the /join API. I wonder if it has something to do with the IP address I'm passing in to the join API (and the fact that it's an OpenStack floating IP maybe?).

When I use the correct form of the API (`RemoteAddrs` + array):
[code]

The API request goes through fine, however I get this as the response:
[code]

The docker node never ends up joining the swa

[2016-06-29 19:05] thaJeztah commented on #24104
/cc @sfsmithcha

[2016-06-29 19:06] cpuguy83 commented on #24067
@selvik Categorize in what way? Does moving this categorization up to the service level make sense?

[2016-06-29 19:07] mrjana commented on #23813
@Vanuan You could do two things.
1) Start the service using `endpoint-mode` as `dnsrr`(but still expose ports) so a vip won't be allocated for the service.
2) you could stand up an L7 LB (like ha-proxy or nginx or F5) exposing the ports that you want the LB to service.

With that now, you can drive the L7 LB configuration by querying the service name (of your actual service) and since you started

[2016-06-29 19:09] dnephin commented on #24127
Nevermind, it is still there.

[2016-06-29 19:09] #24127 closed

[2016-06-29 19:11] thaJeztah commented on #24076
I think the reasoning here was that `scale` allows you to scale multiple services in a single call, but I haven't been involved in the design decisions

[2016-06-29 19:12] dnephin commented on #24107
That's correct, `docker-compose` doesn't work with swarm mode directly. You have to use the experimental bundles (in compose 1.8):

[code]

[2016-06-29 19:12] mrjana commented on #24134
@tiborvass https://github.com/docker/swarmkit/pull/1088 address this issue. The service will not be schedulable until the conflict is resolved. IMO we should not reject desired state mutations based on the current cluster state especially since it is not fatal. Once the conflict is resolved the service becomes schedulable. What we need  is probably a better state (than task state `NEW`) like `ALLO

[2016-06-29 19:15] thaJeztah commented on #24055
@vdemeester is that change versioned?

[2016-06-29 19:15] tiborvass commented on #24064
**Notes from a synchronous discussions**:

Taking the example on labels, but also is the case for ports, mounts, envs:
We agreed on having `service update --label` behave as it does today that is replace the entire array/map and to have the explicit flags `--label-add` and `--label-rm` in addition that respectively add and remove a label.

Adding existing labels would replace their value, behaving

[2016-06-29 19:16] tiborvass commented on #24064
For envs, it seems like we would need to add logic that parses the `=`. Thankfully there is a POSIX standard on how to process that. cc @stevvooe

[2016-06-29 19:20] vdemeester commented on #24055
hum definitely not :sweat:

[2016-06-29 19:21] ab666 commented on #23855
@mrjana: You are correct, Thank You!
It seems that I can only access containers in the same network and on the same node.
Should I be able resolving containers from other nodes in the swarm as well?

[2016-06-29 19:27] jfbibeau commented on #24094
Ok! I managed to recover the system, I had to blow away /var/lib/docker (presumably the raft folder in it did it) to have docker come back up at all.

Also found the root cause, if I give the `RemoteAddrs` parameter the floating (public) IP of the docker master swarm node, that's what completely hoses the docker daemon.

If I give the internal IP of the VM as the `RemoteAddrs`, the API works prope

[2016-06-29 19:27] mrjana commented on #23855
@ab666 Yes you should be able to access all the containers in all nodes as long as they are in the same network. One reason this may not be working as intended is when `--listen-addr` is not configured properly or not configured at all and is causing a problem in your env(like you have multiple host nics)