[2015-03-29 10:57] ankushagarwal commented on #11057
#dibs

I have started working on the first draft of the Glossary doc page here : https://github.com/ankushagarwal/docker/tree/glossary . It's a Work In Progress and I should have a PR ready in 24 hours

I am putting it under `Reference` section as that seemed the most appropriate place.

Here's a screenshot
![image](https://cloud.githubusercontent.com/assets/796949/6885153/79d6075c-d5c7-11e4-9557-

[2015-03-29 11:07] vdemeester commented on #9998
I was working on this wiht @l0rd, so I did the pull request #11896.

[2015-03-29 12:06] thaJeztah commented on #11631
I think what's missing is mainly some process-related information;

- What counts as an official image? (ie, if I am the author of an open-source project, can I submit it as an official image?)
- Is there some kind of approval proces?
- *Who* is allowed to submit (and maintain) an official image? e.g., can I submit a "Microsoft Windows" image, even if I'm not affiliated with Microsoft?
- After sub

[2015-03-29 13:27] miwest929 commented on #11835
PR out: https://github.com/docker/docker/pull/11880

[2015-03-29 13:49] runcom opened #11899 "Refactor utils/http.go"
Move and refactor the whole `utils/http.go`  to a new package `pkg/requestdecorator`, refactor code accordingly and add unit tests.

[2015-03-29 13:49] runcom commented on #11899
#dibs

[2015-03-29 14:16] thaJeztah commented on #11849
@jfrazelle should this be on the 1.6 milestone?

[2015-03-29 14:34] zhaozww opened #11902 "32bit program run error in 32bit container"
I use docker run a container in a fedora 64 bit systems(docker 1.5), and 32-bit libc libraries have been installed in the container (because i want to run a 32-bit program in the container), the program run normally on the host system，but when running in the container, the program report memset_sse2_rp error, bus error core dump, later I installed on the docker (32 bit) in ubuntu32 system, and the

[2015-03-29 14:48] terminalmage opened #11903 "API feature request: Include tags in image search results"
http://docs.docker.com/reference/api/docker_remote_api_v1.17/#search-images

Apologies if there is an open issue for this already, I searched but did not find one.

[2015-03-29 14:53] zhaozww commented on #11902
the program run in fedora 64bit,

root@localhost net]# ./dev0
------------------------------------------->
VPORT 1.0 start...
------------------------------------------->
Create the shared memory
INFO :Socket: id=0, localip=7f000001:50000, destip=7f000001:64889 [udp_client]
INFO :Socket: id=1, localip=7f000001:50001, destip=7f000001:64970 [udp_client]
INFO :Socket: id=2, localip=7f000001:50002, de

[2015-03-29 15:09] zhaozww commented on #11902
use gdb in container,
------------------------------------------->
VPORT 1.0 start...
------------------------------------------->
Create the shared memory

Program received signal SIGBUS, Bus error.
__memset_sse2_rep () at ../sysdeps/i386/i686/multiarch/memset-sse2-rep.S:325
325	../sysdeps/i386/i686/multiarch/memset-sse2-rep.S: No such file or directory.

[2015-03-29 15:39] thaJeztah commented on #11563
@scarletmeow I think this now needs another PR to update logrus; similar to this PR; https://github.com/docker/docker/pull/11553

[2015-03-29 15:42] matrixise commented on #11739
with this version on Ubuntu :
[code]
on
[code]

[2015-03-29 15:57] stumpyfr commented on #11541
At the boot? only the common docker daemon and this one run by itself all our containers (around 10).

we detected that docker is sometime running but not accesible (`docker ps` return an erreur about the daemon who is not started but if you try to run it....the pid is already assigned :/).
So we need to `pkill docker` and run it again manually, not perfect for a production system.

We finally add

[2015-03-29 16:22] mouchtaris commented on #8755
Also pacman in Arch fails with

    error: GPGME error: Inappropriate ioctl for device

because of TTY 404.

[2015-03-29 16:35] jainvipin commented on #11187
@joeswaminathan - valid points... intent needs to be abstract. Let us put out some first implementation version out in order to get some feedback and improve upon this. I am sure this is going to be a iterative process.

[2015-03-29 16:39] #11835 closed

[2015-03-29 16:45] moxiegirl commented on #11630
@ankushagarwal I'm the writer on the open source team. Emphasize completeness over conciseness.  We can always trim but adding missing information is difficult.  You can add should add examples of the flag to here:

https://docs.docker.com/reference/run/#network-settings

If you see an opportunity to add it to networking.md you can also do that.  However, nothing beats examples in the reference!

[2015-03-29 18:50] runcom opened #11905 "Refactor utils/tmpdir.go"
`utils/tmpdir.go` includes only one function and it's only used inside `daemon/daemon.go`. I think it could be better to get rid of `utils/tmpdir.go` and move `tempDir` inside `daemon/daemon.go`

[2015-03-29 18:50] runcom commented on #11905
#dibs

[2015-03-29 19:08] ojab commented on #11889
…and netlink debugging tells me that docker wants CONFIG_VETH, viva la nlmon!

[2015-03-29 19:42] #11558 closed

[2015-03-29 19:47] runcom opened #11908 "Refactor utils/utils_daemon.go"
`utils/utils_daemon.go` contains only one function and it's only used in its test case and in `docker/daemon.go`. I'd move it to `pkg/fileutils` and rename it to `CurrentUserIsOwner`.

[2015-03-29 19:47] runcom commented on #11908
#dibs

[2015-03-29 19:48] moxiegirl commented on #11703
@jfrazelle It looked like the original tester was going to pick this up and then didn't have time.  I'll pull off the claimed status.  Not sure why it is on there I see no dibs hit.

[2015-03-29 20:34] moxiegirl commented on #11057
@ankushagarwal My apologies for coming to this ticket so late. I got swamped with another task. I'm building your fork now to checkout the glossary.  From your screen capture it looks like a fantastic job.  I'll ping you back shortly.  Thank you for this work.  A visible glossary was a request from another contributor so to have yet another contributor answer it so quickly is very cool.

[2015-03-29 20:37] pdevine opened #11910 "RHEL 7 Installation documentation is misleading for EC2 instances"
On https://docs.docker.com/installation/rhel/ it's mentioned that you can use the command:

    $ sudo subscription-manager repos --enable=rhel-7-server-extras-rpms

however, this doesn't work by default on RHEL 7 EC2 instances.  Instead, you need to modify the file:

    /etc/yum.repos.d/redhat-rhui.repo

and modify the "[rhui-REGION-rhel-server-extras]" section to include "enabled=1".

[2015-03-29 20:49] #11057 closed

[2015-03-29 21:01] #11792 closed

[2015-03-29 21:10] #11465 closed

[2015-03-29 21:30] ankushagarwal commented on #11910
I verified this on a AWS EC2 instance. By default the RHEL 7 EC2 instances are **unregistered**.
If the system is unregistered, `sudo subscription-manager repos --enable=rhel-7-server-extras-rpms` will not work and will fail.

You do not need to manually edit the .repo file, you can use the `yum-config-manager` tool to enable repos.

In this case, that would be `yum-config-manager --enable rhui-RE

[2015-03-29 21:39] mustafaakin opened #11911 "Docker default bridge network makes networking very slow"
Hi, I made these experiments: (native hardware, no virt)

Native:
[code]

Default bridged network mode:

[code]

Using directly host network:

[code]

So, my question is this a problem that cannot be solved? I do not know how to tune bridges, but almost 2.25x slow down is not acceptable. I know this benchmark is synthetic however it gives an idea. Is the NAT causing this?

[2015-03-29 21:45] mustafaakin commented on #11911
Additinoal tests from other host:

[code]

It is not a problem in another host, since it is not enough to cause a bottlekneck, however on the same host the performance drops in a sad way.

[2015-03-29 23:39] pdevine commented on #11910
Cool!  Maybe the yum-config-manager tool should be called out instead of subscription-manager so that way it would work regardless of whether you're registered or not.  I'm assuming yum-config-manager will work in all instances.

[2015-03-30 00:00] ankushagarwal commented on #11910
It probably should work, but I have no way to verify that since RHEL is licensed OS and I don't have access to it outside the EC2 AWS instance which I just spun up.

[2015-03-30 00:40] moxiegirl commented on #11910
@ankushagarwal I can verify it on our end.  We are planning on standardizing our installation documentation.  Ubuntu is done. If you want to try to bring RHEL into the fold here is the PR that explains the general plan: https://github.com/docker/docker/pull/11355

[2015-03-30 02:49] nwertzberger opened #11916 "Last modified date is set to "never""
I'm not sure if this should be open with you or with every project that decided to sanity-check the last-modified date by comparing it against 0, but it appears that, by default, a docker image will (rightfully?) set the last-modified date of a file to an epoch time of 0.

This makes some amount of sense, but does lead at least spring-core's sanity checker for AbstractResource to freak out.  I had

[2015-03-30 03:03] huahuiyang commented on #11407
@imleon
yeah, I prefer to that dns server maybe in high pressure state.
Because I override the search domain '.' in /etc/resolv.conf, also meet 'unknown host google.com' issue occasionally.

sudo docker run --dns=10.20.*.* --dns=10.16.*.* centos bash -c "echo 'domain .' >> /etc/resolv.conf && ping -c  1 google.com"

Maybe I can get the dns log to figure out further informations.

[2015-03-30 04:11] resouer commented on #11646
@cpuguy83 In our PR we found that VOLUME in dockerfile is allowed to pass a relative path to dockerd (which lead ci failed), I think we should not allow that too. What do you think?

[2015-03-30 04:19] shaunc opened #11917 ""EXTEND" to mark "non-instantiating" extension that doesnt run "ONBUILD""
I have a base image `nodebase` for node apps which has

    ONBUILD ADD package.json /tmp/package.json
    ONBUILD RUN cd /tmp && npm install
    ONBUILD RUN mkdir -p /app && cp -a /tmp/node_modules /app

I'd like to define an extension of it that includes postgres tools in the image. However, I don't want to have the "ONBUILDS" triggered in the extension -- rather they should be triggered in the

[2015-03-30 05:44] phemmer commented on #11911
Your tests don't make much sense to me.

First lets look at this one:

[code]

You started the container, and forwarded port 9000, yet it appears you're telling the `redis-benchmark` utility to connect to localhost port 6379. This is not the container you just started.

----

Next lets look at your "native" and "--net host" metrics:

Native:

    117744.02 requests per second

`--net host`:

    2

[2015-03-30 05:49] mustafaakin commented on #11911
Sorry, I have copied the tests wrongly from another issue I opened in Dockerfile/redis. https://github.com/dockerfile/redis/issues/3

[2015-03-30 06:31] vicamo opened #11919 "Failed to build Debian squeeze images for architectures other than i386 and amd64 by default"
Failed with console error message:

[code]

Debian LTS supports only amd64 and i386 architectures. See https://wiki.debian.org/LTS/Using . Since **DONT_TOUCH_SOURCES_LIST** is not set by default, _contrib/mkimage/debootstrap_ tries to replace `squeeze` with `squeeze-lts` and causes the problem.

[2015-03-30 07:56] liusdu opened #11922 "Proposal: expand dockerfile command "ENV" to be able to unset environment variables"
### problem on unsetting  environment variables

 In Dockerfile,  we use "ENV" command to export environment variables. But we can not unset variables.  While in linux shell  we can do that  using "export -n" or "unset". It is very inconvenient. Think about below:
 * variables while useful duiring image-building but useless when finishing. (such as https_proxy).  So I think we need this improvemen

[2015-03-30 08:05] unclejack commented on #11911
This is a duplicate of #7857.

I'm going to close this issue now. Please continue the discussion on #7857.

[2015-03-30 08:05] #11911 closed

[2015-03-30 08:43] shimont commented on #5113
+1

[2015-03-30 08:46] mathieuruellan commented on #5113
+1. I have jenkins build that are pushing in a private repo for a test team, and that's a major issue.

[2015-03-30 09:31] thaJeztah commented on #11922
I think this is a dup of https://github.com/docker/docker/issues/3465, which is implemented in https://github.com/docker/docker/pull/8177

Unfortunately it didn't make it in the 1.6 release, but is scheduled for docker 1.7

[2015-03-30 09:38] frntn commented on #9929
I had a similar issue. Posting how I resolved it here so it may someone in the future.

I was supposed to :

1. send my config file on remote host
2. start a container on that remote host with a file volume `-v /data/etc/haproxy/haproxy.cfg:/etc/haproxy/haproxy.cfg`

Simple. But...

On the first run the file hadn't been copied to remote host (I don't know how/why..)
So docker create an empty folde

[2015-03-30 09:45] erikh commented on #11917
Check out the proposals for various INCLUDE statements or "Nested Builds".

I don't think this identifies any new behavior from them.

-Erik

[2015-03-30 09:53] erikh commented on #11922
Yes, I prefer this approach over the proposed one here. Sorry.

-Erik

[2015-03-30 10:14] runcom opened #11923 "Refactor utils/utils"
I'd just like to move functions from `utils/utils.go` to already existing pkgs or create new ones if needed. I'm just working on it but if it's not ok I'll just drop the branch :smile:

[2015-03-30 10:31] liusdu commented on #11922
Yes, I have not seen it . I will cose this issue

[2015-03-30 11:34] #11922 closed

[2015-03-30 11:45] thaJeztah commented on #11922
@liusdu thanks! Thanks you for your contribution (even though it won't be merged). I fully agree that something like this is needed, so hope that https://github.com/docker/docker/pull/8177 will be merged soon.

Please don't let this stop you from contributing to the project; it is really appreciated!

[2015-03-30 11:56] jhoeller commented on #11916
Echoing my comment from https://jira.spring.io/browse/SPR-12862, please note that `java.io.File.lastModified()` is defined to return 0 as an indicator for a non-existing file or an I/O error when checking the underlying resource.

So any Java-based code is unable to differentiate between actual Jan 1, 1970 timestamps and I/O errors. Setting the timestamp one second ahead to Jan 1, 1970, 0:00:01 wo

[2015-03-30 12:18] christianparpart commented on #2801
:+1:

I am on docker 1.5.0 and a docker restart still changes the IP, that is really awkward, because everything non-docker related needs to be adjusted upon every little restart.

Any plans to change this behaviour in any way?

[2015-03-30 12:29] coolljt0725 commented on #11889
docker use veth device to link container to bridge, you have to has `CONFIG_VETH=y` unless you don't use `--net=bridge` which is default. Maybe, run container with  `--net=none` or `--net=host` will not case this problem with `CONFIG_VETH=n`

[2015-03-30 12:33] duglin commented on #11917
@shaunc ONBUILD is easy because its basically asking for those steps be executed the next time the image is used during a build.  I believe you're asking for EXTEND to be executed the _last time_ an image is used in a build. I'm not sure how we can determine that because there's no way to know if "this" build is the last one or just one of many that the user may do.  Or am I missing something?

[2015-03-30 13:23] grossadamm commented on #9844
@jfrazelle perhaps I'm misunderstanding, but I don't see a way in those other issues to do something like

    FROM ubuntu:<version>

and dynamically provide the version. Perhaps there is a different way to accomplish that?

We have a build process that builds up multiple docker containers and our build is fairly slow because of that. They all share the same codebase, so if we could build one base

[2015-03-30 13:48] gdm85 opened #11924 "Pid displayed as float with CLI's docker inspect --format"
[code]

The same goes for the State object itself:
[code]

Although the Pid number is correctly displayed as ``1107555`` when ``--format`` is not being used.

[2015-03-30 13:52] guettli commented on #11057
thank you :-)

[2015-03-30 13:55] duglin commented on #11924
I believe https://github.com/docker/docker/pull/11839 will fix this.

[2015-03-30 13:57] gdm85 commented on #11924
It seems to be a feature of [Go templates](http://golang.org/pkg/text/template/). A lengthy workaround:
``docker inspect --format '{{printf "%.0f" .State.Pid}}' $CID``

@duglin but in runconfig.State I still see Pid as an int?

[2015-03-30 13:58] runcom commented on #11923
#dibs

[2015-03-30 14:00] duglin commented on #11924
@gdm85 yep but Go is funky about it when reading it into an 'interface'

[2015-03-30 14:00] brunoborges commented on #2801
:+1: thanks @christianparpart for testing this

[2015-03-30 14:16] Georges0013 commented on #6999
there a proposal about it right here, but it's closed now : https://github.com/docker/docker/pull/8484

[2015-03-30 14:23] sheetweaver commented on #11917
@erikh -- there are several different proposals that seem to cover a superset of the functionality here. I proposed this because I thought it would be simpler to implement. I'm not in a position to implement myself, though, so if the community likes a different proposal, please go ahead. For the record I would be happy with (a version of) INCLUDE as well. I thought it might be harder to coordinate

[2015-03-30 14:28] erikh commented on #11917
This is probably a @shykes call. @crosbymichael ?

-Erik

[2015-03-30 14:32] mbentley commented on #11764
I am also able to reproduce this behavior on Debian sid when running nginx with `docker run -P nginx:latest` and then doing a ctrl-c to stop the container.  The nginx process is no longer running but docker seems to think the container is still running.

[code]

I installed docker by having the `lxc-docker-1.5.0` package from get.docker.com installed and dropping in the new binary for `1.6.0-rc2`.

[2015-03-30 14:56] duglin commented on #11917
Can you elaborate on how INCLUDE would solve the issue for you?  I viewed INCLUDE as just a mechanism by which you could split your Dockerfile up into smaller pieces, so just a parsing thing. Do you think it changes how the builder interprets the data in the Dockerfiles?

[2015-03-30 15:40] reteptilian commented on #11721
Ok sure!

[2015-03-30 15:54] LK4D4 commented on #11563
@scarletmeow Do you wanna update logrus in docker?

[2015-03-30 15:59] #11905 closed

[2015-03-30 16:04] scarletmeow commented on #11563
Yes, I'll work on a PR to do that.

[2015-03-30 16:13] reteptilian commented on #11721
Hi runcom (or anybody):

I am a new contributor and have a couple questions:

Do you want me to rip out the RandomString function from the code?  Or just remove all the calls to it but leave the function definition in place?

If we rip it out there won't be any tests left in stringutils_test.go.  Should I just remove that file?  Or, if you like, I could make new tests for GenerateRandomAlphaOnlySt

[2015-03-30 16:15] LK4D4 commented on #11563
@scarletmeow Thank you!

[2015-03-30 16:15] mbentley commented on #9592
I would think this issue can be closed as it is a misconfiguration of apt-cacher-ng essentially and nothing that can be fixed by docker.

[2015-03-30 16:18] runcom commented on #11721
@reteptilian yes, rip out `GenerateRandomString` and refactor code accordingly using `stringid.GenerateRandomID`.
Read more here: https://github.com/docker/docker/pull/11710#issuecomment-85611085

Also about the tests, make new tests for `GenerateRandomAlphaOnlyString` and `GenerateRandomAsciiString`

@LK4D4 is it ok?

[2015-03-30 16:19] mbentley commented on #10031
When having someone else test, they attempted to use bridged networking and set it to be bridged over their wireless interface and it did not lock up.  He then switched to being bridged over eth0 and it locked up as expected.  He's running Debian Jessie with the default kernel `3.16.0-4-amd64`.  I was wondering if it was maybe something with specific hardware but that doesn't seem to be the case f

[2015-03-30 16:27] sheetweaver commented on #11917
I guess there are two differences w/ INCLUDE (at least as I picture it):

1. EXCLUDE is meant for the start of a Dockerfile (like FROM -- what happens if you have a FROM in the middle, btw?)

2. EXTEND references an image, whereas INCLUDE references a Dockerfile itself.

I'm conceptualizing an image built directly from a Dockerfile with ONBUILD commands as an "abstract" image. EXTEND means "dont i

[2015-03-30 16:33] LK4D4 commented on #11721
@runcom Ok for me. Thanks!

[2015-03-30 16:34] stevenboyd commented on #6574
+1

[2015-03-30 16:36] sheetweaver commented on #11917
(So -- there may be cases where EXTEND would go beyond INCLUDE -- when you need/want Docker resolution -- say in automation, when you want to EXTEND some library image and don't know/care what is in the Dockerfile. In the case I was working on right now I have the Dockerfiles.)

[2015-03-30 16:38] duglin commented on #11917
Ah thanks - now I understand it better (I think).
In that case I would actually suggest that if we did want a way to "turn off" the ONBUILD stuff, I wonder if supporting something like:
[code]
might be more natural for people, rather than an entirely new command.
Of course, it requires: https://github.com/docker/docker/pull/10775  first.

[2015-03-30 16:44] sheetweaver commented on #11917
So far Dockerfile directives don't have (many?) options... I would thow out for consideration that introducing a separate command keeps the language simpler, as users who don't need it will find it easier to ignore. I don't have a strong opinion, however.

[2015-03-30 16:48] duglin commented on #11917
Its a toughie because as an example we have ADD and COPY which are almost identical and trying to explain the difference to people is really annoying.  I would have preferred: `COPY --do-add-extra-stuff ...`   over an entirely new command.   But we'll see...

[2015-03-30 17:20] kdvolder opened #11927 "permission denied on /etc/docker for non-root client of docker API on ubuntu"
Ubuntu 12.04. I installed docker as per the instructions here:
https://docs.docker.com/installation/ubuntulinux/

Then I added my user to the 'docker' unix group so as to be able to run docker commands without 'sudo'.

Then I ran into this problem:
https://github.com/pivotal-cf-experimental/lattice-cli/issues/15

Someone diagnosed my problem as an issue caused by permissions on /etc/docker which d

[2015-03-30 17:24] ankushagarwal commented on #11057
@guettli : You're welcome!
@moxiegirl : Shouldn't this be updated with my change : http://docs.master.dockerproject.com/
I thought it points to the latest commit

[2015-03-30 17:39] tianon commented on #11167
/me invokes @meatballhat

[2015-03-30 18:00] hany commented on #10180
Experiencing the same issue with CoreOS 607.0.0 and CentOS 7 image:

[code]

I'm having the same issue with tailing the log as originally described. File system is ext4.

[2015-03-30 18:18] #11630 closed

[2015-03-30 18:21] moxiegirl commented on #11057
@ankushagarwal We are looking into it...the build was recently tweaked around...I'll ping back this ticket when I know more.  Thanks for letting us know.

[2015-03-30 18:36] #783 closed

[2015-03-30 18:49] tianon commented on #11631
I think @psftw is working on some updates to this, actually.

[2015-03-30 19:20] spf13 commented on #6606
@ankushagarwal I agree. No way to easily move it though. We just need to recreate it over there and then close this. @SvenDowideit Do you agree?

[2015-03-30 19:51] tiborvass commented on #9592
@mbentley thanks!

I'm closing this now. @mgcrea if you disagree and still see this issue, feel free to comment and we'll reopen.

[2015-03-30 19:51] #9592 closed

[2015-03-30 19:51] jfrazelle commented on #11868
so from what I can tell the file is on the host, but when I run a make shell for dind, with --privileged, it is not _in_ the container

[2015-03-30 19:52] jfrazelle commented on #11868
and thats true on the package 1.5.0 distributed by red hat as well

[2015-03-30 19:56] jamiehannaford commented on #11612
@crosbymichael @runcom @LK4D4 Pretty sure this can be closed now :)

[2015-03-30 19:57] mbentley commented on #11868
So I am doing some testing with selinux set to permissive:
[code]

OK, so I was restarting some containers and one of them froze while restarting.  I tried to kill the container and I got:
[code]

I had to restart the docker daemon.  When I then tried to start the container I was trying to restart, I get the following:
[code]

Having seen this before, I tried to stop ` docker-af006ac229c3b1ce72b81

[2015-03-30 19:59] bru7us commented on #7158
Giving this a bump (diverted to this open issue from #8723). We are about to deploy some stuff into production and are using an F5 BIG-IP as a proxy for all of our micro-services. On deployment, we let Docker allocate a dynamic port, then capture this data as input to our BIG-IP pool configuration.

If we have to restart a container or host, having the port change will cause our pool member to go

[2015-03-30 20:00] jfrazelle commented on #11868
@rhatdan if you want access to the machine we were planning on hooking up to jenkins I can add your ssh key

[2015-03-30 20:09] #11563 closed

[2015-03-30 20:11] #11899 closed

[2015-03-30 20:15] #9998 closed

[2015-03-30 20:19] #11612 closed

[2015-03-30 20:27] moxiegirl commented on #11057
ping @ankushagarwal you should be able to see it now.

[2015-03-30 20:31] matthewschlue-wf commented on #4036
@jgallen23, This article provides a pretty good summary of the different backends for docker. You might potentially have some performance problems scaling AUFS
http://www.projectatomic.io/docs/filesystems/

[2015-03-30 20:35] #11892 closed

[2015-03-30 20:53] #9315 closed

[2015-03-30 20:53] #10983 closed

[2015-03-30 21:05] runcom opened #11935 "Remove duplicate assignment in daemon/execdriver/driver.go"
Remove duplicate assignment in:
https://github.com/docker/docker/blob/master/daemon/execdriver/driver.go#L176
https://github.com/docker/docker/blob/master/daemon/execdriver/driver.go#L179

[2015-03-30 21:06] runcom commented on #11935
#dibs

[2015-03-30 21:33] LK4D4 opened #11937 "Remove daemon.LogToDisk"
This function is unused.

[2015-03-30 21:40] vaijab commented on #10180
Looks like Linux kernel 4.0 is shipping with multi read-only layers support in overlayfs.

[2015-03-30 21:50] achanda commented on #11937
#dibs

[2015-03-30 22:01] ibuildthecloud commented on #11529
@crosbymichael Are you working on an implementation of this?  If you're not I can start on something.

[2015-03-30 22:29] #10690 closed

[2015-03-30 22:45] mbentley commented on #11868
Also just as a FYI, I went ahead and did a dynbinary build of docker using c5ee149.  If this needs to be split into another issue as it seems to be deviating from my original problem, just let me know.

[2015-03-30 22:48] #11937 closed

[2015-03-30 22:55] sdake opened #11940 "restart: always deadlocks docker daemon"
It appears a lock is leaked in the restart: always case when used with docker compose.  My container is designed to restart.  The container I am using is the keystone container which has a dependency on mariadb.  If mariadb is not started, keystone will continuously restart until the db is available.  This causes commands like docker ps and  docker logs to lock for long periods waiting for the res

[2015-03-30 23:20] vieux opened #11941 "docker run busybox ls outputs logs client side"
With current master, when I run

`$ docker run busybox ls`

Here is the output I get:
[code]

[code]

[2015-03-30 23:31] crosbymichael commented on #11482
No more issues so far.

[2015-03-30 23:31] #11482 closed

[2015-03-30 23:45] crosbymichael commented on #11941
what is your host distro

[2015-03-30 23:47] vieux commented on #11941
`Linux ubuntu-saucy-64 3.11.0-15-generic #25-Ubuntu SMP Thu Jan 30 17:22:01 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux`

[2015-03-30 23:51] crosbymichael commented on #10180
Does anyone know that kernel patch that fixes this?

[2015-03-30 23:54] duglin commented on #11941
weird - I'm not seeing this.

[2015-03-30 23:56] crosbymichael commented on #11941
i'll fix this

[2015-03-30 23:57] jfrazelle commented on #11941
this is not the rc right just master

[2015-03-30 23:57] jfrazelle commented on #11941
confirmed nm

[2015-03-31 00:06] SvenDowideit commented on #6606
@spf13 yup, moved as https://github.com/docker/docs-base/issues/7

[2015-03-31 00:06] #6606 closed

[2015-03-31 00:07] duglin commented on #11941
@jfrazelle did you do anything special to reproduce it?

[2015-03-31 00:09] jfrazelle commented on #11941
its only on master not rc2, im running rc2 so i didnt reproduce :D

On Mon, Mar 30, 2015 at 5:08 PM, Doug Davis <notifications@github.com>
wrote:

[2015-03-31 00:10] duglin commented on #11941
k I'm on master and I don't see it - oh well

[2015-03-31 00:12] #11868 closed

[2015-03-31 00:28] jfrazelle commented on #11849
ping @dmcgowan

[2015-03-31 01:38] ghmlee commented on #9547
I have same problem.

[2015-03-31 01:39] SvenDowideit commented on #7907
its not ideal, but its better - lets close for now

[2015-03-31 01:39] #7907 closed

[2015-03-31 01:42] kojiromike commented on #6999
**+1** I take it the black-belt label means this is going to be harder than breaking boards with one's chin?

[2015-03-31 01:50] wuxxin commented on #10180
tested with kernel 4.0-rc5 ,  docker-1.5-dev build f0ddbba (downloaded an hour ago), overlay fs, ext4 backend: still same problem.

if you follow the commits of the overlay graphdriver, beside 35a22c9e12c05e2a0a205964702ced78ea39d7a1
nothing serious has changed in the overlay graphdriver since
the  source drop of the overlayfs graphdriver which happened on 19. August 2014

since December (around a

[2015-03-31 02:02] jfrazelle commented on #11868
also https://github.com/docker/docker/pull/11946 fixed this

[2015-03-31 02:03] #11941 closed

[2015-03-31 02:50] ankushagarwal commented on #11057
Nice!

On Monday, March 30, 2015, moxiegirl <notifications@github.com> wrote:

--
Ankush Agarwal
http://ankush.io
@ankushio <https://twitter.com/ankushio>

*There are 10 types of people in this world. Those who understand binary
and those who don't.*

[2015-03-31 03:10] markeijsermans commented on #5113
:+1: Restarting the daemon for a stalled push (and killing all running containers) is an unacceptable workaround in many situations. For my setup of Jenkins on Mesos building containers, it's a big issue as well. I have no idea what other containers are running on the slave.

A bit off topic, but perhaps this highlights the larger issue of when the daemon itself gets into a pathological state. Che

[2015-03-31 03:18] #11752 closed

[2015-03-31 03:37] bohai opened #11948 "qcow2 based graphdriver for docker"
My idea is to implement a graphdriver based on qcow2 files.  Every layer of the image is a qcow2 file.
Use qemu-nbd or other tools to make the qcow2 files looks like a block device, and then used them for the docker container.

How  do you think about this idea? Any advice is welcome.
##### About qcow2:

The QCOW image format is one of the disk image formats supported by the QEMU processor emulato

[2015-03-31 05:18] rajitha-wijayaratne commented on #11847
I have been trying to figure out how to build from a non-master branch. In this case its 1.6. However I  cannot find information anywhere.  The dry-run-test only produces 1.5 version from the main branch.

In addition, the docker is installed in /var/lib/docker.   How can I choose an alternate location to build and install the files.  i.e.  something like

./configure --prefix=/user/local/docker

[2015-03-31 05:45] cthakar commented on #11169
@cpuguy83 Thanks for your answer but it worked by editing /etc/default/docker file with mtu value.
It is used to change mtu value of all the containers running.

Thank you !

[2015-03-31 05:45] #11169 closed

[2015-03-31 06:06] sheetweaver opened #11950 "Can't write to /etc/hosts in my Dockerfile"
I have

    RUN echo '184.73.202.13 git.spindle.factfiber.com' >> /etc/hosts

but it doesn't actually "take". When I add:

    RUN cat /etc/hosts

(and subsequent examination of the layer confirms), I see:

    Step 15 : RUN cat /etc/hosts
     ---> Running in b0da676a8508
    172.17.1.137	feec6e4827bc
    127.0.0.1	localhost
    ::1	localhost ip6-localhost ip6-loopback
    fe00::0	ip6-localnet

[2015-03-31 06:08] sheetweaver commented on #11950
So it seems that it does the operation then immediately throws out my /etc/hosts changes:

Step 14 : RUN echo '192.30.252.130 github.com' >> /etc/hosts && cat /etc/hosts
 ---> Running in 34172f32dd38
172.17.1.140	feec6e4827bc
127.0.0.1	localhost
::1	localhost ip6-localhost ip6-loopback
fe00::0	ip6-localnet
ff00::0	ip6-mcastprefix
ff02::1	ip6-allnodes
ff02::2	ip6-allrouters
192.30.252.130 github.co

[2015-03-31 06:30] ankushagarwal commented on #11950
I am not sure, why this happens, but here's a way you can add entries to /etc/hosts during runtime : https://docs.docker.com/reference/run/#managing-etchosts

[2015-03-31 06:42] sheetweaver commented on #11950
I am trying to workaround strange (seemingly) dns-related delays and timeouts using npm.

(https://github.com/npm/npm/issues/3468#issuecomment-87915603)

I was able to speed up npm by running a instance in state just before build failure due to timeout in resolution, and adding to /etc/hosts, but can't do it in the docker file so I can use it at build time. Even better would be to know what is goi

[2015-03-31 07:15] dqminh commented on #11950
I think `/etc/hosts` is mounted by docker so changes will not be persisted across different steps in build time. You can either
- combined the changes into 1 single step `RUN echo entry >> /etc/hosts && do_something`
- or rely on the build cache to cache the installation, hence speed up the next builds if the dependencies do not change i.e.,
[code]

[2015-03-31 07:56] Fangfenghua opened #11951 "Proposal:Enable docker load specify URL"
Now docker load cmd load a tar archive on STDIN, that's must copy the file to the node where the docker running. If the docker load can load file from a URL,then we can avoid copy the tar archive to the node where docker running.It't would look like:
   docker load -i http://$ip/test.tar

[2015-03-31 07:58] gdm85 commented on #7158
@bru7us I see #8723 is marked as dup of this one - although I think it's a separate issue, and rather the logic that leads to #8723 has been introduced as a workaround to the issue here.

What I do [here](https://github.com/gdm85/docker-fw/blob/master/state.go#L80) for example is restore the host config (port bindings) across restarts of the containers.

[2015-03-31 08:00] vitalyisaev2 commented on #11865
@ankushagarwal thanks for a good advice. I've ended up with this:
[code]

[2015-03-31 08:00] #11865 closed

[2015-03-31 08:29] zrml commented on #4717
Any news or comments on kernel shared mem params setting from the Docker developers?
Please see my previous post (see @zrml above)

I've read that apparently in kernel 3.16 a container can use the setting of the host.
Are you just waiting for that?
Is that what we want for every container by default? I'm not sure...

thanks

[2015-03-31 08:36] #11935 closed

[2015-03-31 09:09] phadej commented on #8539
Seems to be happening in docker own hub too:

https://registry.hub.docker.com/u/phadej/ghc/build_id/41803/code/bjzu8xjx6fswbftzxphksk8/

[2015-03-31 09:32] coolljt0725 commented on #11950
`/etc/hosts` is a bind mount from host during starting, it will cover the `/etc/hosts` of image, if you want to setup the `/etc/hosts` you can use `--add-host` on creation

[2015-03-31 09:55] marcelloromani opened #11953 "[DOC] Provide example with different inside / outside ports numbers"
In this page:

https://docs.docker.com/userguide/dockerlinks/#connect-using-network-port-mapping

the `-p` flag is explained.
The example maps port 5000 inside the container to the same port on the host machine.
An example that used two different ports would help readers tell at a glance which side of the ":" refers to container and which one to the host machine.

[2015-03-31 10:10] jpopelka opened #11955 ""docker images library/<name>" doesn't list any images"
`docker version`:
Client version: 1.5.0-dev
Client API version: 1.18
Go version (client): go1.4.2
Git commit (client): 5ebfacd/1.5.0
OS/Arch (client): linux/amd64

Steps to Reproduce:
1. sudo docker build -t library/abcdef .
2. sudo docker images library/abcdef

Actual Results:
no image

Expected Results:
the same as with 'sudo docker images abcdef', i.e.:
REPOSITORY    TAG      IMAGE ID     CREAT

[2015-03-31 11:23] vdemeester commented on #9350
#dibs I'll try to work on this :)

[2015-03-31 12:01] ranjith19 commented on #9654
[code]

[code]

[code]

[code]

[2015-03-31 12:26] TomasTomecek commented on #11955
I have to agree with @jpopelka here, especially when this command produces output:
[code]
and this doesn't:
[code]
It's even more confusing when status code of `docker images library/fedora` is `0`.

[2015-03-31 12:49] rhatdan commented on #11868
@jfrazelle So is this problem fixed now?

[2015-03-31 13:04] feiyang21687 commented on #11950
We face the same problem.

Because docker will mount /etc/hosts on the runtime, so your modification on docker file will be erased. And volume to /etc/hosts will be erased too. Our solution is to modify /etc/hosts on ENTRY POINT. It's so ugly, ```--add-host``` may be a good idea, but we have many hosts to be config, so you will have an ugly docker run command.

[2015-03-31 13:14] matthughes commented on #9118
FWIW This does work for me in 1.5.0 on Ubuntu.  It wasn't with 1.3.1.

[2015-03-31 13:14] cpuguy83 commented on #11950
Closing since this is by design. We can't really keep an /etc/hosts around in the image since this tends to be extremely host specific.

You can write to `/etc/hosts` but it only persists for 1 container. Each of your Dockerfile commands run in their own container.

[2015-03-31 13:14] #11950 closed

[2015-03-31 13:43] cpuguy83 commented on #9350
What if instead we require an extra flag to remove containers that are the last reference to a volume?

[2015-03-31 13:59] rflynn commented on #4351
+1

[2015-03-31 14:08] vdemeester commented on #9350
@cpuguy83 I'm not sur to see what you mean. You would add a flag to ``ps`` (instead of a filter) or to ``rm`` ?

[2015-03-31 14:10] mbentley commented on #11868
@rhatdan - I am still getting the `time="2015-03-31T10:06:03-04:00" level=warning msg="port allocator - using fallback port range 49153-65535 due to error: open /proc/sys/net/ipv4/ip_local_port_range: no such file or directory"` warning but I am not having the other issues now using a docker binary built from #11635.

[2015-03-31 14:29] detomastah opened #11957 "docker run -i never exits if spawned by other process for reading / writing using pipe"
Description of problem:

When interacting with docker container through popen, the dockerized process hangs. The process is visible in system process list `ps aux | grep docker`, but `docker ps` shows that it exited.
When I pass something onto `stdin`, the process exits. The problem is easily reproducible, I tried on Docker 1.4.1 and 1.5.0 and result was the same. Scroll down to see the example co

[2015-03-31 14:30] gdm85 commented on #11924
@duglin doesn't seem to fix the issue. Will report on PR #11839

Closing as dup of #11641

[2015-03-31 14:30] #11924 closed

[2015-03-31 14:32] duglin commented on #11924
@gdm85 ok thanks for testing it and moving the conversation over to #11839

[2015-03-31 14:42] aneshas commented on #11854
Hey guys, so are we supposed to consider this issue as claimed?

[2015-03-31 14:47] sheetweaver commented on #11950
Thanks for the info.. hmm.. @cpuguy83 guy83 couldn't you use `git merge` or similar to sort out my changes and your changes? A recursive merge with "ours" as resolution should insure that your changes get in across layers... ?

[2015-03-31 14:51] cpuguy83 commented on #11950
We don't want them across layers, otherwise someone would be able to modify /etc/hosts in their image and then distribute that to people where that modification just doesn't make sense.
And generally it doesn't make sense even just changing to a new host.

[2015-03-31 14:57] gdm85 commented on #8126
@jfrazelle somehow Docker is no more affected by overrides in /etc/hosts, ignoring them

[2015-03-31 15:10] rhatdan commented on #11868
Do you get the error in SELinux permissive mode?  Could this be caused by SELinux?

[2015-03-31 15:16] mbentley commented on #11868
Yes, I am receiving the warning when in permissive mode:
[code]

[code]

I am running a dynamically build docker binary from the PR for the bump to 1.6.0 (f4f9b8b)
[code]

[2015-03-31 15:27] LK4D4 commented on #11854
ping @mattetti
Are you working on this?

[2015-03-31 15:32] mattetti commented on #11854
Feel free to take this issue, I started working on it, but my free time is so limited that I don't want to block anyone interested in refactoring this code.

[2015-03-31 15:38] LK4D4 commented on #9654
@ranjith19 You have no cgroups mounted. Docker won't work without cgroups.

[2015-03-31 15:39] francisdb commented on #6325
this helped for me:

[code]

[2015-03-31 15:51] ncdc commented on #11499
Ok, I'm still seeing this with commit ded0ada, which I believe is newer than the fix in #11507 (commit 5a239c0 I think).

[2015-03-31 15:55] LK4D4 commented on #11499
@ncdc Can you try master pls? Yesterday was merged fix for execdriver(actually execdriver did all wrong all that time :()

[2015-03-31 16:02] ncdc commented on #11499
@LK4D4 I just updated to the latest master and am testing now. It'll probably be a few hours before I can report anything.

[2015-03-31 16:30] LK4D4 commented on #11087
This is still an issue in master.

[2015-03-31 17:20] tianon commented on #8460
@mrunalp don't we have Docker backends that don't properly support those cap bits though?

[2015-03-31 18:06] icecrime commented on #7195
I think this is closed by #10568.

[2015-03-31 18:06] #7195 closed

[2015-03-31 18:09] jfrazelle opened #11959 "TestEventsFilterContainerID is racy"
fix racy `TestEventsFilterContainerID` it has to do with events

[2015-03-31 18:09] jfrazelle commented on #11959
[code]

[2015-03-31 18:20] jfrazelle commented on #11760
removing from milestone then, phew

[2015-03-31 18:22] jfrazelle commented on #11087
so the weird thing about this is, each of the windows remote hosts build docker in docker for the remote daemon and run in a container with `--pid host` and I have never seen this, we are spinning them up and tearing them down for every PR

[2015-03-31 18:22] jfrazelle commented on #11087
so maybe its only certain ones, or something else is at play here

[2015-03-31 18:28] dmcgowan commented on #11849
Not my area of expertise but I bisected down to this commit https://github.com/docker/docker/commit/12b278d3540bc32699e8c2197b556188fd98b77b

I will see if I can get a PR to fix this.

[2015-03-31 18:30] jfrazelle commented on #11849
whoa nice thanks!

On Tue, Mar 31, 2015 at 11:29 AM, Derek McGowan <notifications@github.com>
wrote:

[2015-03-31 18:31] jfrazelle commented on #11940
is this with the rc or with master

[2015-03-31 18:32] jfrazelle commented on #11940
my guess is probably both, i will try to reproduce

[2015-03-31 18:43] aneshas commented on #11854
Thanks, I'll "have a GO" then :smile:
#dibs

[2015-03-31 18:44] sdake commented on #11940
@jfrazelle this test case was actually documented with the execdriver branch, which could have been the cause of the problem.  I seem to recall the same problem with master however as the kolla community constantly complains about wanting to remove restart:always from the docker-compose files - which I am having a hard time defending because of this problem.  Not all of them are running the execdr

[2015-03-31 18:45] jfrazelle commented on #11940
hmmm so is it a compose specific issue?

[2015-03-31 18:45] LK4D4 commented on #11940
Should be easy fix. Someone need just to reproduce it and then we can find deadlock with my `github.com/docker/LK4D4/debugmutex`

[2015-03-31 18:46] jfrazelle commented on #11940
maybe they are starting in the wrong order or something

[2015-03-31 18:46] jfrazelle commented on #11940
ah nice

[2015-03-31 18:47] jfrazelle commented on #11940
also just to be sure pinging @aanand @bfirsh

[2015-03-31 18:47] sdake commented on #11940
@jfrazelle I highly doubt this is a docker-compose issue.  I suspect if you ran the correct docker cli with that one container, it would cause the problem.  Consider a scenario where mariadb for whaever reason (database corrupt) fails to start repeateadly, this keystone container will also fail repeatidly.

To sum up the issue if you have a container that exits quickly with restart:always, the doc

[2015-03-31 18:50] jfrazelle commented on #11940
yeah so I do that a lot on my prod server, actually just the other day when
i migrated it I forgot to start the linking container and I never hit a
deadlock, but I'm trying to reproduce through the cli

On Tue, Mar 31, 2015 at 11:48 AM, Steven Dake <notifications@github.com>
wrote:

[2015-03-31 18:56] mrunalp commented on #8460
@tianon There is really no other option here besides using user namespaces or setting caps on files :(

[2015-03-31 18:59] sdake commented on #11940
@jfrazelle note docker 1.5.0 does not exhibit this issue:
[sdake@minime-02 compose]$ sudo docker -v
Docker version 1.5.0, build a8a31ef/1.5.0

trying rc next.

[2015-03-31 19:01] sgov opened #11960 "images"

[2015-03-31 19:02] #11960 closed

[2015-03-31 19:04] jfrazelle commented on #11940
Thanks so much

[2015-03-31 19:15] eparis commented on #8460
so setting the executables as suid root (even worse)

[2015-03-31 19:19] sdake commented on #11940
@jfrazelle this is not apparent in rc2 from test.docker.io.   I think this is a bug in lk4d4's execdriver branch.  Apologies for the noise.  Closing for now.

[2015-03-31 19:19] #11940 closed

[2015-03-31 19:28] jfrazelle commented on #11940
Thanks so much for testing!

On Tuesday, March 31, 2015, Steven Dake <notifications@github.com> wrote:

[2015-03-31 19:42] amouat commented on #11916
@nwertzberger Can you explain how you managed to create these files? Which filesystem are you using?

When I add a file to a container with `COPY` or `ADD`, it gets the date from the file. Could you append your output from `docker info` and `docker version` as well?

[2015-03-31 19:52] sdake commented on #11760
@jfrazelle

This not not just a master only problem.  This exists in docker 1.6.0-rc2 distributed by Docker Inc.  It does seem fixed by the execdriver branch, however, that branch introduces an restart:always regression.

http://ur1.ca/k2niz -> http://paste.fedoraproject.org/205557/83143214

See end where the container that uses a data container can't be rm'ed even with -f.
[sdake@minime-02 kolla]

[2015-03-31 20:21] jfrazelle commented on #11760
can we come up with an integration test for this?

On Tue, Mar 31, 2015 at 12:53 PM, Steven Dake <notifications@github.com>
wrote:

[2015-03-31 20:53] dreamcat4 commented on #11740
FYI I have been working on an image with a scart script that does most of the necessary stuff. Still figuring out the folder permissions thing. (Which I suppose is the last piece of it).

Image not ready yet. But until then here is a gist of the start script (the `entrypoint` when the container starts). It needs to be run as `--privileged=true` so it can set the `core_pattern` to a valid location

[2015-03-31 20:56] #11862 closed

[2015-03-31 20:57] jfrazelle opened #11964 "fix TestRunCreateVolumesInSymlinkDir so works on lxc"
test from https://github.com/docker/docker/pull/11934 should pass on lxc and not be skipped, was an implementation detail of the test iteslf

[2015-03-31 21:04] #11849 closed

[2015-03-31 22:04] jfrazelle opened #11966 "racy tests TestRunContainerWithRmFlagExitCodeNotEqualToZero TestRunContainerWithRmFlagCannotStartContainer"
[code]
on overlay specifically
see https://jenkins.dockerproject.com/job/Docker%20Master%20(overlay%20on%20overlay)/132/console

[2015-03-31 22:05] jfrazelle commented on #11966
bonus points:
[code]

[2015-03-31 22:08] jfrazelle commented on #11966
also see #11959

[2015-03-31 22:09] sdake commented on #11760
Reliable reproducer

while [ 1 ]; do
    sudo docker-compose -f mariadb.yml up -d
    sleep 8
    sudo docker-compose -f mariadb.yml stop
done

get mariadb.yml from here:
https://github.com/stackforge/kolla/blob/master/compose/mariadb.yml

Note this seems to cause failure on stop which is a bit different then the bug report indicates (where recreate of compose fails because docker goes out to lunc

[2015-03-31 22:10] jfrazelle commented on #11760
awesome thanks so much!

On Tue, Mar 31, 2015 at 3:09 PM, Steven Dake <notifications@github.com>
wrote:

[2015-03-31 22:26] jfrazelle commented on #11760
how long does it take to reproduce im trying on my bump_v1.6.0 branch now and not seeing it

[2015-03-31 22:26] jfrazelle commented on #11760
the while loop has been successfully ran 20+ times

[2015-03-31 22:28] LK4D4 opened #11970 "Add go vet check"
Add `go vet` check. You need to create `hack/make/validate-vet` script and add it to `hack/make.sh`.

[2015-03-31 22:35] jfrazelle commented on #11760
it's still going and I havent seen anything... I was also using the docker-compose rc2

[2015-03-31 22:45] sdake commented on #11760
It took 50 tries for @cpuguy83 to reproduce.  I am using 1.6.0-rc2 built by Docker, Inc.  It takes me about 3-5 tries on Fedora 21.  @lk4d4 mentioned he merged some bug fixes in rc3 which (could have possibly fixed it?)  If you can provide me a binary of your version, I'll test on my machine and see if its machine dependent or fixed in your version.

I am compile-docker impaired :)

[2015-03-31 22:47] cpuguy83 commented on #11760
I have not repro'd

[2015-03-31 22:47] fommil opened #11971 "docker push/pull output is really expensive over the wire"
I was running `nethogs` while running `git pull` on a remote machine. It is eating up nearly 50K/s just to update the progress bar! That's pretty crazy. Can we please have the ability to specify a much lower refresh rate?

[2015-03-31 22:47] sdake commented on #11760
@cpuguy83 oh I thought you indicated you were able to reproduce it.  My apologies.

[2015-03-31 22:49] jfrazelle commented on #11760
I will give you a binary :D

[2015-03-31 22:50] jfrazelle commented on #11760
http://jesss.s3.amazonaws.com/docker/1.6.0-rc2bump/docker-1.6.0-rc2

[2015-03-31 23:05] fommil commented on #11971
bah! ignore this, it was a rogue process doing the network traffic.

[2015-03-31 23:07] jfrazelle commented on #11971
good to hear :)

On Tue, Mar 31, 2015 at 4:05 PM, Sam Halliday <notifications@github.com>
wrote:

[2015-03-31 23:07] fommil commented on #11971
actually, I'm reopening. I'm seeing 20KB/s down my ssh channel just in the `Sending build context to Docker daemon` stage. Which is a bit excessive.

[2015-03-31 23:08] mnuessler commented on #10772
Just want to give a short update on this: I got something working, but still need to provide a test. And I have two questions:
* Should `docker stats` display the ID or the name of the running containers? I assume the name would be more useful?
* If a container stops while stats is running, should the entry be removed from the displayed list?

[2015-03-31 23:11] jfrazelle commented on #11971
ping @jlhawn @dmcgowan @dmp42

[2015-03-31 23:13] phemmer commented on #10772
My own personal opinions:

I see value in both name and ID. Personally, I never use names. I use IDs everywhere. But I know others are the opposite. The only options I see to satisfy that would be to either show both, or a flag to control it.

Yes, container should be removed from the list.
The output you get while it is running should be the same output you get if you were to start it up again.

[2015-03-31 23:18] jfrazelle commented on #11951
ping @ewindisch @NathanMcCauley @diogomonica seems a bit inseceure kinda like a curl | bash idk

(took me like 5 min to find all your names)

[2015-03-31 23:20] tiborvass commented on #7158
I'm closing this issue, since I could not reproduce anymore.

@bru7us what you are looking for is #10052. I am against the flag, but in favor of allocating port on create.

[2015-03-31 23:20] #7158 closed

[2015-03-31 23:24] bru7us commented on #7158
Ah-hah!! Thanks Tibor!! I'll keep a close eye on that PR then.

[2015-03-31 23:28] jlhawn commented on #11971
I believe that the progress bar updates at a rate that is dependent on how much data has been read through it (currently every 500kB) rather than at a particular time-dependent refresh-rate (say every 10ms) so the data transferred to refresh the progress bar on the client is directly proportional to how fast data is being read through the progress reader. If an image layer is being pulled/pushed a

[2015-03-31 23:35] tiborvass commented on #10501
Thanks @chenhanxiao for mentioning that it was fixed by #10509. Closing issue.

Apologies to @aanm who worked on this issue :( It's our bad!

[2015-03-31 23:35] #10501 closed

[2015-03-31 23:36] nwertzberger commented on #11916
I'm using boot2docker on mac osx.

docker info:

    Containers: 5
    Images: 66
    Storage Driver: aufs
     Root Dir: /mnt/sda1/var/lib/docker/aufs
     Backing Filesystem: extfs
     Dirs: 76
    Execution Driver: native-0.2
    Kernel Version: 3.18.5-tinycore64
    Operating System: Boot2Docker 1.5.0 (TCL 5.4); master : a66bce5 - Tue Feb 10 23:31:27 UTC 2015
    CPUs: 8
    Total Memory: 1.9

[2015-03-31 23:38] nwertzberger commented on #11916
Also, here's my Dockerfile.  I am using the ADD tool's functionality for adding tarballs.

    FROM java:8
    MAINTAINER Nicholas Wertzberger

    ADD decision-engine/*.tar.gz /

    EXPOSE 9030
    EXPOSE 9010
    EXPOSE 9009

    CMD touch -m /decision-engine/etc/pages/*
    ENTRYPOINT /decision-engine/bin/decision-engine console

[2015-03-31 23:39] nwertzberger commented on #11916
Related StackOverflow

http://stackoverflow.com/questions/29337432/spring-templates-in-docker-container/29337588?noredirect=1#comment46934375_29337588

[2015-03-31 23:41] sdake commented on #11760
@jfrazelle the version you provided does not reproduce with my reproducer above with 1 hour of runtime looping.  I'm trying out the full kolla stack now to see if that version also works.  Will report back.

[2015-03-31 23:53] tiborvass commented on #6980
Anybody can provide a VM to test in?

[2015-03-31 23:57] sdake commented on #11760
@jfrazelle the version you provided works great with Kolla master.  It stops and starts in a cycle without any of the problems I've seen in the past.  Thanks for all the great work on fixing these race bugs folks!

[2015-04-01 00:03] jfrazelle commented on #11760
yay! so good to hear :)

On Tue, Mar 31, 2015 at 4:57 PM, Steven Dake <notifications@github.com>
wrote:

[2015-04-01 00:21] #11760 closed

[2015-04-01 01:52] ankushagarwal opened #11977 "Jenkins build test for trailing whitespaces in docs"
We should probably not allow trailing whitespaces in docs files, especially in *.md files. Simple find/grep inside the docs/ directory should be able to reveal trailing whitespaces. Better yet, enforce this globally. No trailing whitespaces in any *.md file in the entire repository.

[2015-04-01 01:54] ankushagarwal commented on #11977
#11976 currently removes trailing whitespaces from the complete docs/ directory

[2015-04-01 01:55] ankushagarwal commented on #11977
+exp/expert

[2015-04-01 03:48] ankushagarwal commented on #11977
Just learnt that some trailing spaces can be a part of the markdown syntax

[2015-04-01 03:55] marcellodesales commented on #10810
@duglin... Ok... so nothing we can do... then close it... but I would expect it to be working nicely with any github the same way.

[2015-04-01 06:33] dubglan commented on #9047
We see docker run failing with:
[code]
Docker version is 1.5.0. Is there any additional signature we can check for to make sure it is this bug?

[2015-04-01 07:04] chenhanxiao commented on #11889
@ojab
FYI:
We already checked `VETH` flags in contrib/check-config.sh

[2015-04-01 07:08] ojab commented on #11889
Yeah, but there is no way to learn about contrib/check-config.sh (AFAIR there is no hint in docs etc).

[2015-04-01 07:14] y3ti commented on #11957
I have got the same problem.

[2015-04-01 08:38] x1022as opened #11979 "Proposal: forward container log to specified url"
Now logging driver is done and syslog added. And sometimes forwarding log to remote url is required.

Can daemon send container log to specified url through syslog, just like #9513 did. It should not be too much complex with syslog.Dial()

Maybe a new argument is needed, like `--log-driver-opt`. We can use this with following format:
    `--log-driver-opt url,tag,prior`: to specify url, tag and pr

[2015-04-01 08:51] fommil commented on #11971
yup! Sounds good. The context I was transferring was about 5GB so your calcs sound about right.

[2015-04-01 09:24] ctmnz opened #11983 "docker-compose and passwords from environment"
I was experimenting with docker-compose and I saw something a little bit disturbing in my output of phpinfo() function:  LAMPDB_1_ENV_MYSQL_ROOT_PASSWORD	lamppass

my docker-compose.yml:

lampapp:
  build: .
  ports:
    - "8000:80"
  links:
    - lampdb
    - lampmemcache
  volumes:
    - /var/
lampdb:
  image: "mysql:5"
  volumes:
    - ./mysql:/etc/mysql/conf.d
  environment:
    - MYSQL_ROOT_P

[2015-04-01 09:47] cc272309126 opened #11984 "Proposal:Docker inspect for the container that have same prefix of container name."
I have some container whose prefix  are the same, so I want use docker inspect to get the data config once time. I think this feature are usefull.
it like below steps

1. `docker ps -a`

[code]
2. `docker inspect test`.
this will return all data that has prefix "test" of the  container name.now it return Error: No such image or container: test
[]

thanks

[2015-04-01 10:12] cc272309126 opened #11985 "the docker inspect will not return error that has "Too many""
Hi
I found that https://github.com/docker/docker/blob/master/api/client/inspect.go#L42 there is some redundant code that the docker inspect will not gain the error msg that has sub string “Too many”,
So I think it's redundant code. Is it necessary to drop it?

[2015-04-01 10:22] p1rox commented on #10772
I agree with @phemmer

[2015-04-01 11:18] James1912 commented on #3949
A big +1

[2015-04-01 11:22] kys1230 opened #11986 "无法下载镜像"
可能是之前做了错误操作
我把/dev/mapper/docker-253:0-262992-pool 这个文件删除掉了. 现在没法恢复了..请问有什么办法么

[root@localhost ~]# docker pull centos
centos:latest: The image you are pulling has been verified
511136ea3c5a: Download complete
511136ea3c5a: Error downloading dependent layers
5b12ef8fd570: Download complete
5c5681003a50: Pulling fs layer
2b8d6139a545: Error pulling image (latest) from centos, Driver devicemapper fa

[2015-04-01 11:24] unclejack commented on #11986
@vbatts Wasn't this `can't set task name` error fixed? This looks like an old version of Docker.

[2015-04-01 11:28] joost commented on #10772
+1 (name and id / remove from list when stopped)

[2015-04-01 11:32] kys1230 commented on #11986
这个docker是通过epel安装的docker-io
[root@localhost ~]# docker --version
Docker version 1.4.1, build 5bc2ff8/1.4.1

[2015-04-01 12:07] ctmnz commented on #11983
Opz. This is for docker/compose not for docker/docker. Closing here, reporting at docker/compose

[2015-04-01 12:07] #11983 closed

[2015-04-01 12:10] jeremyherbert opened #11987 "Dockerised proprietary software gives a segfault at runtime (but works fine natively)"
Hi all,

First, please forgive me if this bug is not appropriate :) being closed source and all.

I'm trying to dockerise some proprietary EDA software called [Lattice Diamond](http://www.latticesemi.com/latticediamond). I have nothing to do with this company, I just would like to use the software, and I'd like to put it in a sandbox.

Essentially, the problem is that if I run the tool natively in

[2015-04-01 12:38] vivganes opened #11989 "Unable to login to docker from command line - Ubuntu"
Error seen after "sudo docker login":
Post http:///var/run/docker.sock/v1.17/auth: dial unix /var/run/docker.sock: no such file or directory. Are you trying to connect to a TLS-enabled daemon without TLS?

vivek@gvivek-gsu-hyd:~$ uname -a
Linux gvivek-gsu-hyd 3.13.0-48-generic #80-Ubuntu SMP Thu Mar 12 11:16:15 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

I have logged out and logged in after installi

[2015-04-01 13:21] #11953 closed

[2015-04-01 14:33] duglin commented on #11985
@cc272309126 nice catch - I'll remove it

[2015-04-01 14:35] miminar commented on #11868
@mbentley I can confirm that #11946 fixes

    open /proc/sys/net/ipv4/ip_local_port_range: no such file or directory

issue on RHEL. Unfortunatelly [f4f9b8b](https://github.com/docker/docker/commit/f4f9b8b68103c133cce941993655be0ada53fac1) lacks that fix. I've just tried dynbinary from [20d4e6f](https://github.com/docker/docker/commit/20d4e6f29ef5c7b8bf2f55aa2bedb0130868cd2c) (docker 1.6.0-rc3) a

[2015-04-01 15:49] tianon commented on #8460
@mrunalp you've got me intrigued with mention of user namespaces -- do you just mean mapping the non-root user to be host root, or is there some other feature of user namespaces that makes privileged port mapping possible as non-root without setting caps on files? :smile:

[2015-04-01 16:19] gdm85 commented on #11979
Wouldn't be best if this was kept outside the scope of Docker? Maybe it could fit into a specific logging driver, or even in early post-processing.

[2015-04-01 16:21] gdm85 commented on #11948
Interesting! Also on the interoperability side. I think its implementation would share at least some similarities with the devmapper driver.

[2015-04-01 16:24] gdm85 commented on #11777
Not sure about current implementation, but what you need in Docker to correctly startup containers is to build a [DAG](https://en.wikipedia.org/wiki/Directed_acyclic_graph). See how I do it [here in docker-fw](https://github.com/gdm85/docker-fw/blob/master/graph.go).

[2015-04-01 16:27] #11959 closed

[2015-04-01 16:28] cpuguy83 commented on #6321
Closing since #11458 was merged.

[2015-04-01 16:28] #6321 closed

[2015-04-01 16:31] vbatts commented on #11986
@kys1230 is it possible to test with a newer version of docker, like 1.5?

[2015-04-01 16:41] xiaods commented on #9570
self-signed ssl is good fit for requirement. i don't think we need add this feature on this request.

[2015-04-01 16:43] cpuguy83 commented on #11979
I believe #11485 implements `--log-opt`, which could be used.
And I agree, being able to specify a remote syslog would be nice.

[2015-04-01 16:49] xamyzhao commented on #11593
@rrarunan I removed my dibs on this issue -- I don't have time to work on it at the moment. Sorry about the delay! I thought Gordon would take care of it.

[2015-04-01 16:57] LK4D4 commented on #11979
@cpuguy83 Yup, we need use `--log-opt` for configuring syslog.

[2015-04-01 17:26] dmp42 commented on #11951
Even with that feature, the data would have to be copied over, right?

If I understand well, this feature is barely about saving a few keystrokes (eg: it does `wget http://$ip/test.tar && docker load -i test.tar && rm test.tar`).

Getting it to work right is a full-time burden (authentication, redirects, etc), and it does add orthogonal functionality to maintain.

Overall, I'm -1 on this - but obv

[2015-04-01 17:35] thaJeztah commented on #11948
It does sound interesting. How's platform support? Is it widespread, or targeted at specific distro's?

[2015-04-01 17:36] icecrime commented on #11593
Removed the `status/claimed` label.

[2015-04-01 17:42] diogomonica commented on #11951
I think the user expectation of `docker load` usage is "I got an image from a trustworthy source and I want to load it". This means that they probably transferred the image using ssh, sftp or other secure methods of transport.

Allowing over the network loading via an insecure resource is giving users another way of doing the wrong thing, and changing the expectation of load.

I'm also -1 on this

[2015-04-01 17:44] ewindisch commented on #11951
The problem with the current behavior is that a client must download a tar, and then send it to the server which may not be local. I could see this being a problem for some users.

However, best practices at the moment, given that we have no internal integrity checks on the images output from 'docker save' would suggest users check signatures or hashes on these images out-of-band. That isn't possi

[2015-04-01 17:46] #11985 closed

[2015-04-01 18:15] discordianfish opened #11998 "docker-proxy doesn't use the right source address to send udp responses"
Hi,

when running a DNS server in a container and exposing the port without specifying the IP to bind (-p 53:53/udp) the answers don't get translated. I don't have a easy way to reproduce right now, but it seems like this is a common and known problem:
- https://groups.google.com/forum/#!msg/docker-user/X0VRo77A3fk/2qp4vi8buX8J
- https://groups.google.com/forum/#!topic/docker-user/cvOO_v3nXXk
- ht

[2015-04-01 18:22] kryton opened #12000 "new feature: add --dns option to build"
docker build seems to create a internal container and 'runs' things in them.
sadly there is no way to adjust the container settings to use a custom DNS so in my case it can't resolve an internal hostname to do a git pull from.

any chance of adding this as an option to the 'build' side?

Thanks!

[2015-04-01 18:55] lra commented on #6321
Cool stuff

[2015-04-01 19:09] hilyjiang commented on #6743
+1

[2015-04-01 19:32] d3netxer opened #12002 "add documentation: Ubuntu installation"
I was following this page: https://docs.docker.com/installation/ubuntulinux/

After I installed docker but and ran the command: $ sudo docker run hello-world

It returned:

FATA[0000] Get http:///var/run/docker.sock/v1.17/version: dial unix /var/run/docker.sock: no such file or directory. Are you trying to connect to a TLS-enabled daemon without TLS?

can you please add a step in the instructions

[2015-04-01 20:13] mrunalp commented on #8460
@tianon In case of user namespaces, the container process uid is 0 inside (and non-zero outside). When a process with uid 0 execs a binary (irrespective of which user namespace it belongs to), the rules for capabilities for root apply and it gains all the capabilities in its permitted and effective sets except those masked by the bounding set. So, from a capabilities perspective it will behave jus

[2015-04-01 20:21] tomdee opened #12004 "--ip_forward doesn't enable IP forwarding for IPv6"
It should set /proc/sys/net/ipv6/conf/all/forwarding too

[2015-04-01 20:24] thaJeztah commented on #11983
@ctmnz actually, this is a behavior of docker (not docker-compose). You can find a warning about this in the user-guide; https://docs.docker.com/userguide/dockerlinks/#environment-variables

[2015-04-01 20:28] LK4D4 commented on #12004
@tomdee It actually enabling it, but only with `--fixed-cidr-v6`

[2015-04-01 20:28] #12004 closed

[2015-04-01 20:55] virtuald commented on #2733
+1 would be useful

[2015-04-01 20:59] burke commented on #11764
This is still broken for me on RC3:

[code]

[2015-04-01 21:02] cpuguy83 commented on #9350
@vdemeester As in, requiring `docker rm -v` in order to delete a container that is the last reference to a volume.

Ooo, also... docker 1.6 includes labels. Instead of the request here, you can filter by label, and just make sure to label your data containers.

[2015-04-01 21:08] LK4D4 commented on #11764
@burke weird :( in rc2 I can reproduce this easy, but now:
[code]
working until my machine is out of fds.

[2015-04-01 21:13] mbentley commented on #11764
I can reproduce as well:
[code]

and I can't kill the container:
[code]

[code]

[2015-04-01 21:25] burke commented on #11764
Not much helpful in the log, even with `-l debug`:

[code]

[2015-04-01 21:31] dreamcat4 commented on #11740
OK. Gist updated with final fixes / improvements.

https://gist.github.com/dreamcat4/c2bea0e889de8860b035

Didn't ever get to the bottom of the suspected permissions issue. It just 'went away all by itself' after moving my core dumps folder to be `/crash`.

Tested several times with permissions 772, 775, 755, and as either same user or same group owning the core dumps folder (when g+w). Got a core

[2015-04-01 21:36] vdemeester commented on #9350
Yeah, for the label, I was think about that. I'm gonna dig a bit more in the ``rm`` command to see what could be done (or should not :P)

[2015-04-01 21:43] LK4D4 commented on #11764
@jfrazelle Can you reproduce on your machine?

[2015-04-01 21:45] tianon commented on #8460
Ah, but we'd still have the issue where `USER` and `-u` make this not work; shucks.

Looks like it's time to document that setting capabilities on files is the solution going forward.

[2015-04-01 22:11] jfrazelle commented on #11764
I can't reproduce :(

[2015-04-01 22:11] jfrazelle commented on #11764
Could it be a kernel level issue?

[2015-04-01 22:14] burke commented on #11764
I assumed it was a 3.18.8 thing, but @mbentley is seeing it with 3.16.0 apparently.

[2015-04-01 22:15] crosbymichael commented on #11764
i'm checkin' this out, i'll let you know what I find

[2015-04-01 22:22] crosbymichael commented on #11764
Found it', i'll have a fix shortly

[2015-04-01 22:32] ankushagarwal commented on #11955
#dibs
I can take a stab at this if no one else is working on it

[2015-04-01 22:34] crosbymichael commented on #11764
The fix for this is linked to the PR.  Thanks for the report and logs

[2015-04-01 22:36] tianon commented on #11955
This is essentially #11480, isn't it?

[2015-04-02 00:00] jfrazelle commented on #7721
closed by https://github.com/docker/docker/pull/10745#event-271179342

[2015-04-02 00:00] #7721 closed

[2015-04-02 01:01] ibuildthecloud commented on #11087
@jfrazelle the issue only happens when the children process are holding open fd's from PID 1.  I doubt that is the case in dind.

[2015-04-02 01:03] ankushagarwal commented on #12002
Which ubuntu version are you using?
After I ran the instructions on ubuntu-14.04, docker daemon was automatically started after Step 3 : `$ wget -qO- https://get.docker.com/ | sh` and `sudo docker run hello-world` ran normally for me.

[2015-04-02 01:03] jfrazelle commented on #11087
ahhh i see

On Wed, Apr 1, 2015 at 6:02 PM, Darren Shepherd <notifications@github.com>
wrote:

[2015-04-02 01:10] ankushagarwal commented on #12002
Towards the end of the output of `wget -qO- https://get.docker.com/ | sh` do you see something like

[code]
?

[2015-04-02 01:35] x1022as commented on #11979
@cpuguy83 thanks, #11485 is about log rollover, and the --log-opt fomat is great.

@LK4D4 do you have any plans for syslog log-opt? Is it under developing?

[2015-04-02 01:36] sainath14 opened #12013 "docker search gives no route to host"
if i do docker search ubuntu, i get the following

DEBU[7156] Calling GET /images/search
INFO[7156] GET /v1.17/images/search?term=ubuntu
INFO[7156] +job search(ubuntu)
INFO[7156] +job resolve_repository(ubuntu)
INFO[7156] -job resolve_repository(ubuntu) = OK (0)
DEBU[7156] pinging registry endpoint https://index.docker.io/v1/
DEBU[7156] attempting v1 ping for registry endpoint https://index.docker

[2015-04-02 01:37] mrunalp commented on #8460
@tianon Yep, this should be documented.

[2015-04-02 02:09] mingfang opened #12014 "Make /tmp really temporary"
Building images sometimes leaves scratch files in the /tmp directory.
In addition sometimes I need to ADD my project's source code during a build, but I don't want the source to remain after the build.
By making /tmp temporary, then I can do simply ADD src /tmp/src.

[2015-04-02 02:26] ibuildthecloud opened #12015 "1.6 + DIND + Pid Host == Container Serial Killer"
I've been troubleshooting this issue for a bit and managed to get a small test case for it.  Basically if you are running Docker as PID 1 (for example Docker in Docker) and you use `--pid=host`, it will fail.  I don't really know why though.  I have confirmed that this does work in Docker 1.5 just fine.  You can see in the script below that if you uncomment the line that downloads the current Dock

[2015-04-02 02:29] ibuildthecloud commented on #12015
https://www.youtube.com/v/aEQw79tKm6I&start=39&end=48

@jfrazelle @icecrime I think this should be in 1.6

@LK4D4 @crosbymichael please help :)

Like batman, I need a light I can shine in the sky and then the core Docker team comes running to the rescue.

[2015-04-02 02:57] LK4D4 commented on #12015
@ibuildthecloud Thank you very much for reproduction case. I'll try to fix tomorrow.

[2015-04-02 03:40] potto007 commented on #11294
Thanks to Docker 1.5 having improved logging, I was able to catch a useful log when this hit me again today. I'll try to catch this next time with debug logging.

The interesting things to me in the logs below:
- line 6 shows the error trying to start a container with an image that does not yet exist, which from my experience is expected behavior
- after line 6, Docker goes ahead and pulls the ima

[2015-04-02 03:59] jbemmel commented on #10705
This page has a procedure that worked for me: http://sickbits.net/build-a-dynamically-linked-docker/

[2015-04-02 05:16] phemmer commented on #12014
I think #10310 accomplishes what you're after.

[2015-04-02 06:27] vdemeester commented on #9350
Wouldn't it be better to to the opposite ; I mean something like a "keep the container that are the last reference to a volumen" ?

Because otherwise it would change the default behavior of the ``rm`` command and thus probably break a lot of tools/scripts that are based on it.

[2015-04-02 06:28] potto007 commented on #11294
Debug logging doesn't really seem to be very helpful on this server where the issue is already happening. Docker immediately uses :3 without ever logging the request of :5. This is after a restart of the Docker daemon.

[code]

[2015-04-02 06:29] Peter--wang commented on #11948
I think it is indeed a good idea.
With qemu and qcow2, we can run containers on shared storages, for instance, NAS or SAN.
And qcow2 is being widely used in kvm which is one of the most famous virtualization hypervisor.
Thirdly, qcow2 already has all the features that docker needs.

[2015-04-02 06:36] Pensu commented on #12002
I am also having the same issues with vivid (ubuntu-15.04). docker service/daemon doesn't start automatically. You have to start it manually to get it working.

[2015-04-02 06:37] thaJeztah commented on #11948
Good to hear; I wasn't familiar with it (but that's me)

It actually surprised me that (so far) I hadn't seen *any* NAS manufacturing stepping into Docker; to me it sounded like a "match made in heaven" to deploy/distribute "apps" running on NAS (compared to the package managers currently used)

...but that's really off-topic for this discussion

[2015-04-02 06:41] Pensu commented on #12013
Can you ping index.docker.io? May be, there is some issue with your internet connection.

[2015-04-02 06:44] Peter--wang commented on #11948
Yes, it is what I mean. We can use NAS as a backend storage.

sorry for my poor English...

[2015-04-02 06:51] vdemeester commented on #11984
Right now you can achieve this by doing something like : ``docker inspect $(docker ps -q --filter "name=test*")``. I think it's more composable than a command that would return you multiple result for only one input..

[2015-04-02 07:01] kys1230 commented on #11986
@vbatts 我更换了docker 1.5.0 还是有这个问题
INFO[0000] docker daemon: 1.5.0 a8a31ef; execdriver: native-0.2; graphdriver: devicemapper
INFO[0000] +job acceptconnections()
INFO[0000] -job acceptconnections() = OK (0)
INFO[0017] POST /v1.16/images/create?fromImage=centos%3Alatest
INFO[0017] +job pull(centos, latest)
INFO[0017] +job resolve_repository(centos)
INFO[0017] -job resolve_repository(centos) = OK (0)

[2015-04-02 07:02] kys1230 commented on #11986
[root@localhost ~]# cat /etc/redhat-release
CentOS release 6.4 (Final)
[root@localhost ~]# uname -a
Linux localhost.localdomain 2.6.32-358.el6.x86_64 #1 SMP Fri Feb 22 00:31:26 UTC 2013 x86_64 x86_64 x86_64 GNU/Linux

[2015-04-02 07:05] unclejack commented on #11986
@kys1230 Please update your system using `yum update` and `reboot` after.

[2015-04-02 07:07] allencloud commented on #12013
There may be something wrong with own  route

[2015-04-02 07:14] allencloud opened #12019 "Can docker restore a container using data volume replicated?"
As we know, docker will store data in data volume on the host when using mongo, mysql or some other data storage images.

If we back up the data volume of mysql on host , and now the docker node is unrecoverable down, can we start a mysql container just using the previous data volume?

I think it is reasonable to have this kind of ability.

Thanks.

[2015-04-02 07:17] unclejack commented on #12019
@allencloud Yes, you can do that if you don't store data outside of the volume (like database server configuration and so on).

I'll close this since volumes are going to be improved and this was a question. Please feel free to continue the discussion.

[2015-04-02 07:17] #12019 closed

[2015-04-02 07:24] vdemeester commented on #11957
But if you run it with ``-it`` instead of just ``-i`` it works as expected.

[2015-04-02 07:43] vdemeester commented on #11957
I'm not a ruby expert but :

As long as you don't close the input, it won't close the read, and thus the /bin/ls process will still be there..

And in the script, you never close the ``in_w``. If you close it (telling that you don't have anything more to say to the process) it will work as expected.

The following code will work (closing ``in_w`` instead of ``in_r``).

[code]

The only thing weird

[2015-04-02 07:44] sunyc commented on #11948
qcow2 is mounted through  NBD kernel module (which support a large array of imaging format , including raw, vdi, vmdk etc etc). I think this driver should just be called as  nbd graph driver.   using what format is left as a execerise for the readers.

[2015-04-02 07:44] sunyc commented on #11948
qcow2 is mounted through  NBD kernel module (which support a large array
of imaging format , including raw, vdi, vmdk etc etc). I think this driver
should just be called as  nbd graph driver.   using what format is left as
a execerise for the readers.

On Thu, Apr 2, 2015 at 2:44 PM, Peter--wang <notifications@github.com>
wrote:

[2015-04-02 08:55] ctmnz commented on #11983
Thanks for the elaboration @thaJeztah

[2015-04-02 09:29] amouat opened #12021 "Docker Build Documentation Needs Update"
The documentation on the build command at:

https://docs.docker.com/reference/commandline/cli/#build

Doesn't mention `-f`.

Not sure if this is the right place to mention documentation problems, please let me know if there's a different place for those.

[2015-04-02 09:36] bboreham opened #12022 "Document the fact that SIGINT/control-C doesn't usually kill a container"
For the reasons discussed at #3793, the signal will be passed to the container but in many cases it won't actually terminate because it is running as PID 1.

I could not find any mention of this in any of the documentation for `-sig-proxy`, `docker kill`, etc., which is where I looked to try to understand why it wasn't working for me.

https://bugzilla.redhat.com/show_bug.cgi?id=1189865 has a nice

[2015-04-02 10:17] dreamcat4 opened #12023 "[cli] docker events 'hangs' / stops working"
Hello. Sorry to have to report this!

Calling the `docker events` command --> `while read …` loop. Via a FIFO (unix socket). It is meant to prints to stdout a new line of infos, whenever a container starts.

My code is here:

https://github.com/dreamcat4/docker-images/blob/master/pipework/entrypoint.sh#L368

To begin with, it works as it should. If I start 1 container, the while loop is triggered

[2015-04-02 10:25] mingfang commented on #12014
That sounds more sophisticated then what I need.
I just wanted /tmp to behave "normal"; /tmp on Linux do not survive a reboot.
The ability to ADD src there for building is just an additional benefit.

[2015-04-02 10:30] ramprakash-ravi opened #12024 "docker exec command not executing in sh file"
When running below command in command line(terminal) this gets executed fine:

$sudo docker exec -it 5570dc09b58 bash

But same results with : FATA[0000] cannot enable tty mode on non tty input Error when running in a shell script file.

[2015-04-02 10:34] dreamcat4 commented on #12023
Well I just caught it out - mere seconds after starting it up. With `strace` and a pipe `|` to `tail -f`.

None of my own script code / while loops or anything like that. It played up right from the bat. I really hope that this `strace` output may reveal something to us and give any clues regarding the nature of this problem?

Below is a relevant condensed section, which is at the very end of the

[2015-04-02 10:37] dreamcat4 commented on #12023
@cpuguy83 If you are interested: This may be a duplicate of #11207 - where you needed for more info than 'doesn't work'. It was a different guy who raised the other bug report. But I suspect it could the same issue he had. Please see the `strace` log above ^^. And please request me any further testing you need if you cannot reproduce it. Many thanks.

[2015-04-02 10:46] kys1230 commented on #11986
@unclejack Thank you very much in accordance with the you said problem is solved

[2015-04-02 10:47] #11986 closed

[2015-04-02 11:21] unclejack commented on #11987
@jeremyherbert It looks like that piece of software is trying to use libusb to list USB devices. You probably need to experiment with --cap-add, with adding devices to the container and you certainly want to experiment with faking any syscalls libusb relies on to make it list no USB devices.

[2015-04-02 11:51] duglin commented on #12021
If you look at the latest version of the docs: https://github.com/docker/docker/blob/master/docs/sources/reference/commandline/cli.md  you'll see `-f` mentioned. Not sure how long it will be before the web site is updated though.  @moxiegirl perhaps you know?

Closing this as I think its resolved - just need an estimate on when the site will be refreshed.

[2015-04-02 11:51] #12021 closed

[2015-04-02 11:57] unclejack commented on #11998
I can confirm this is a problem.

[2015-04-02 12:02] jeremyherbert commented on #11987
Ah perfect, if I run it with --privileged it no longer crashes. Is there a way to log which capabilities the docker instance is trying to access?

[2015-04-02 12:02] duglin commented on #11984
What's interesting is that the `docker inspect` command does allow for multiple container/image names to be passed in on the command line. So the question is whether it should treat "test" like there's an implicit wildcard at the end (e.g. test* ).  Its kind of a neat idea, however this could have pretty large ramifications because for consistency we should then probably make other (all?) commands

[2015-04-02 12:12] amouat commented on #12021
Cool, sorry for wasting your time. I'll check the source version next time.

[2015-04-02 12:25] #8667 closed

[2015-04-02 12:58] phemmer commented on #12014
On my distro, `/tmp` does survive a reboot. This would not be "normal" from my perspective.
Also, if `/tmp` is made to not survive outside the container, this wouldn't work for builds. During builds, each command in the `Dockerfile` is its own container. Thus the data would be gone on the next command.

[2015-04-02 13:09] phemmer commented on #12024
The message is fairly clear. You can't enable TTY input mode if docker doesn't have a TTY.
I'm not sure exactly what you're trying to accomplish, but you probably want to remove the `-i`. If not, can you please provide more information (context) about what you're trying to do (e.g. the end goal, the exact command you're running, etc)?

[2015-04-02 13:48] lwcolton commented on #7445
+1

[2015-04-02 14:17] runcom commented on #10462
@thockin neat! Also, wouldn't "pinning" a namespace requires firstly to start a process, setns'ing the namespace and exiting while still holding a file descriptor to that ns (or bind mounting that namespace somewhere to have it active)? Are there any other way to just create a namespace without requiring firstly a pid to a process?

[2015-04-02 14:23] detomastah commented on #11957
@vdemeester Thanks for response! Unfortunately you are closing ability to write to `stdin` of the running process - it works, but this way you are essentially running it without `-i`. Running it with `-it` does not work for every command (for example `mruby`) - you'll get error: `cannot enable tty mode for non-tty input`

[2015-04-02 14:25] detomastah commented on #11957
I managed to do what I wanted, but only after I wrapped my program in 'real' pseudo terminal with disabled echo.

[2015-04-02 14:56] reteptilian opened #12028 "Online docs for working on an issue have a typo in git fetch command"
Description of problem:

http://docs.docker.com/project/work-issue/#pull-and-rebase-frequently has a typo in the fetch command.

It says to:

$ git fetch upstream/master

This command does not work.  The slash should be a space.

[2015-04-02 15:13] sainath14 commented on #12013
i was able to do nslookup on index.docker.io and it returns the IP

[2015-04-02 15:21] cpuguy83 commented on #9350
Yes, it will be a minor breaking change, but also a good one otherwise people have data just dangling around and no real way to access it or even know what said data is.

[2015-04-02 15:29] thockin commented on #10462
No, I think it has to be as you suggest.

On Thu, Apr 2, 2015 at 7:18 AM, Antonio Murdaca <notifications@github.com>
wrote:

[2015-04-02 15:30] thockin commented on #10462
The parallel is Volumes - they continue to exist and be usable after a
container has stopped running.

On Thu, Apr 2, 2015 at 8:28 AM, Tim Hockin <thockin@google.com> wrote:

[2015-04-02 15:31] icecrime commented on #12015
![](https://i.imgflip.com/jnqn1.jpg)

[2015-04-02 15:37] fmzhen opened #12030 "Is there more details about Docker networking plugin"
The network function of Docker is not perfect.There are some demands not be met. For example

1. The container’s IP is not fixed, it will change if the container restart.
2. We can't assign a specific IP/Gateway to a container, or get an IP from DHCP server.
3. Multi-host networking、Multi-tenant 、OVS、QoS/ACL and other advanced features are not supported.

There also are some PRs to solve these pro

[2015-04-02 15:39] duglin commented on #12028
@reteptilian good catch - will fix

[2015-04-02 15:40] runcom commented on #10462
Yep.. it kinda sounds like a workaround to just init a container (maybe with a dummy init) just to get its namespaces to be used by some other containers.
Also, if it's like I said before (I'm not really and totally sure) I think this requires support from libcontainer too (I mean the possibility to start a container just to setup it's namespaces, maybe bind mounting them somewhere and then immedi

[2015-04-02 15:43] duglin commented on #12028
It looks like this has been fixed: https://github.com/docker/docker/blob/master/docs/sources/project/work-issue.md   just not visible yet on the web site.  But thanks for being so thorough!

[2015-04-02 15:43] #12028 closed

[2015-04-02 15:44] vdemeester commented on #9350
ok then, I'll take a look at that then :)

[2015-04-02 15:46] thockin commented on #10462
We just got --parent-cgroup, which side-steps the "model everything as a
container".  If we had --pid=ns:name, --net=ns:name, --ipc=ns:name we could
do "pinned" namespace management outside of docker.  I don't much care
which mode, I just want a solution :)

On Thu, Apr 2, 2015 at 8:41 AM, Antonio Murdaca <notifications@github.com>
wrote:

[2015-04-02 16:20] runcom commented on #10462
@thockin @ibukanov do you mind if I open a proper proposal with some examples of use cases, pro/cons, implementation, to have more feedbacks with the whole background of this thing?

[2015-04-02 16:22] thockin commented on #10462
Please @ me if you do - too many threads, important ones can get lost.

On Thu, Apr 2, 2015 at 9:21 AM, Antonio Murdaca <notifications@github.com>
wrote:

[2015-04-02 16:22] runcom commented on #10462
sure!

[2015-04-02 17:28] ankushagarwal commented on #11955
Yes, #11480, has two parts in this commit : https://github.com/dmcgowan/docker/commit/d9a1da382d7ec3fff87d439c0fde1a69066e8b70, allowing repos like "library/image" to be stored locally (and not stripping off the library/ from the name while storing the repo), and allowing ONLY images with a '/' in them to be pushed.

I do agree with the change to `registry/config.go` in https://github.com/dmcgowan

[2015-04-02 17:41] jfrazelle commented on #11955
good catch @tianon I think its the same

[2015-04-02 17:45] jfrazelle commented on #12015
omg this image

[2015-04-02 17:49] cpuguy83 commented on #9350
Here is an existing proposal: #10497

[2015-04-02 17:56] thaJeztah commented on #12030
I think there's a proposal being prepared currently for a Docker plugin system (including network plugins) by a workgroup consisting of people from Docker and various representatives in the "Docker ecosphere".

Possibly @cpuguy83 is able to provide more information on that.

Also, this may be of interest to you (in case you missed the announcement);

http://blog.docker.com/2015/03/socketplane-exci

[2015-04-02 18:02] crosbymichael commented on #12015
DARREN!!!!

[2015-04-02 18:10] duglin commented on #12030
I'm going to close this as there's not anything actionable from this that we can do.  For questions like this I would suggest asking on the mailing list or IRC.

[2015-04-02 18:10] #12030 closed

[2015-04-02 19:07] thaJeztah commented on #12015
Is it a bird? Is it a plain? :smile:

@ibuildthecloud (you probably tried this, but..) I see the repro-case is on 1.6-rc2; rc3 was also released yesterday, not sure if anything was changed in that that resolves this?

[2015-04-02 19:07] jfrazelle commented on #12015
nah its still there

[2015-04-02 19:08] thaJeztah commented on #12015
Thanks @jfrazelle ...just stating the obvious; ya never know

[2015-04-02 19:10] devTristan commented on #735
If you want to generate Dockerfiles with includes, conditionals, and turing completeness you can use [dockerscript](https://github.com/devTristan/dockerscript). Full disclosure: I made this because I wanted includes.

[2015-04-02 19:45] ctrlrsf commented on #3924
@ncraike I don't think this change addresses issue of calling "invoke-rc.d" instead of "service" on Debian. Debian has `service` command so `if` on line 104 would be true and therefore `_service_invoke` would be set to "service docker".

[code]

[2015-04-02 20:05] rhvgoyal opened #12032 "Miscellenous devicemapper graphdriver cleanup"
There are some issues I noticed in devicemapper graph driver.

- libdm logging is too verbose when daemon is running in debug mode. If a device can't be deleted too many messages are pushed into journal and one can not figure out what's going on.

- Usage of "defer UdevWait(cookie)" is buggy.

- I think waitRemove() and waitClose() functions are unnecessary.

- If device removal fails, we retry ev

[2015-04-02 20:15] runcom opened #12035 "Proposal: pinning namespaces aka --net=container:name, --net=ns:name without container running"
/cc @ibukanov @thockin @jfrazelle

Author: @ibukanov (Most text is taken from his first issue on this)
Implementation and further ideas: @ibukanov @thockin @runcom

Original proposal/issue: #10642
Related: #11777, maybe others

Here I'm trying to draw a big picture of what is needed and how can be achieved.
Of course, your feedbacks on this is strongly required/needed
Sorry in advance if my englis

[2015-04-02 20:28] crosbymichael commented on #12015
@ibuildthecloud what's yo kernel version?

[2015-04-02 20:40] unclejack commented on #11987
@jeremyherbert `--privileged` means root acces on the host, thus there's no isolation between the container and the host system. You probably want to figure out what it takes to make libusb think it's actually able to list devices when it's not really able to do that.

[2015-04-02 20:44] greg0ire commented on #7525
How about creating [a subtree split repo](https://help.github.com/articles/splitting-a-subfolder-out-into-a-new-repository/) ?

[2015-04-02 21:21] dmp42 commented on #12013
You have issues with your network.
Try to `curl https://162.242.195.84/` from where your docker daemon lives.

[2015-04-02 21:21] #12013 closed

[2015-04-02 21:46] #12015 closed

[2015-04-02 21:58] marcelloromani commented on #11989
`/var/run/docker.sock: no such file or directory.`

It could be a problem related to docker daemon not automatically starting under certain Ubuntu versions. See #12002 for an example.

Which version of Ubuntu are you running?
`cat /etc/lsb-release `

Is the daemon running?
`sudo service docker status`

[2015-04-02 22:10] govidiupl commented on #9665
Simple repro case. Under zsh, run:

  while true; do echo "exit" | docker run -i --rm busybox; if (( ${?} != 0 )); then break; fi; done

Run 2-3 parallel instances of the script, if desired.

Environment:

~% docker info                                                 % 15-04-02 15:07
Containers: 222
Images: 4
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 4

[2015-04-02 22:12] denibertovic commented on #11542
The main issue with this is that a pull would be be interactive then..which would potentially break a lot of automation scripts.

However, adding info about image size to the Hub web interface would be very helpful, for starters.

[2015-04-02 23:06] LK4D4 opened #12041 "Fix vet warnings in pkg/requestdecorator/requestdecorator_test.go"
You can find them with
[code]

[2015-04-02 23:22] dreamcat4 commented on #11740
Oh wait!

There still is a big (and not-yet-documented) problem with taking core dumps and docker. All my 'problem just went away' testing. That was done with a host mounted volume. E.g. like shown in the YAML config file in the gist where the volume `/crash` was mounted on the host system… And the core dumps always work (get written to disk) in that case.

HOWEVER if it is a regular docker volume

[2015-04-02 23:23] estesp commented on #10822
Have you had a chance to try this with either 1.5.0 release or the 1.6.0 rc builds?  I'm fairly sure currently `--rm` is working fairly well, with some known issues around error conditions.  Would be good to understand if there are still issues.  Thanks!

[2015-04-03 00:29] jfrazelle opened #12042 "Fix logDone format"
drives me nuts... fix the integration tests here so `rmi - suff` some are `rmi- stuff`

we need a space between the `-`

[code]

[2015-04-03 00:54] estesp commented on #12042
@kostickm - this looks like a good one if you don't mind taking it.  Otherwise we can "un-claim" it if you find another starting point!

[2015-04-03 03:19] MiLk commented on #11185
Same issue here when trying to run https://github.com/QubitProducts/bamboo and listen on 10000-2000.
I had to use `--net=host`.

[2015-04-03 03:20] LK4D4 commented on #11185
@MiLk It spawns whole docker binary on each port :)

[2015-04-03 03:29] joeygibson commented on #12041
#dibs

[2015-04-03 04:37] phemmer commented on #12035
I've run into a few scenarios where this would be useful. I know kubernetes would find this useful as they start network namespace containers, leave a process in them to keep them alive, and then attach other containers to that one's namespace.

I personally don't like the whole "pin" thing. I don't know how the docker code looks like in this area, but Ideally I would think the following to be the

[2015-04-03 04:39] reteptilian commented on #12028
ok thanks @duglin!  Next time I'll know to check the sources on github ...

[2015-04-03 05:08] #12041 closed

[2015-04-03 05:14] LK4D4 commented on #12035
I like ns:path, but not a fan of pin-namespace. We had idea for libcontainer to have all namespaces pinned by default(apart from PID), but in docker and optional it will be a mess.
Ref counter okay idea as for me. But still in libcontainer, not in docker.

[2015-04-03 05:15] aetherical opened #12045 "Docker info number of containers is perhaps misleading"
`docker info` returns the count of containers (ps -a), not the current number of running containers (ps). This could be considered misleading, particularly if using swarm to get information about the servers in the swarm.

I think that there is value in the number, but perhaps something as simple as documenting what info returns would alleviate the potential for misleading users.

I'd be happy to

[2015-04-03 05:24] ramprakash-ravi commented on #12024
@phemmer

I am trying to execute the above command to move to the currently running container root path. I have removed -i and executed. Kindly let me know how to run that as a cron job? What will be the path for running the cron job.

[2015-04-03 05:32] thockin commented on #12035
@phemmer I think the thing you're glazing over is "not necessarily launch a process, just initialize the namespaces" and "Increment a reference counter on the parent's namespace".  AFAIK there is no way to create a namespace without putting a process in it and no way to keep a namespace open without having a process in it OR bind mounting the FD.  The former is the problem this proposal seeks to a

[2015-04-03 05:40] thockin opened #12046 "shared IPC namespace does not share /dev/shm"
If I create container A, then create container B with --ipc=container:A, the two containers do not share a /dev/shm mount.  I think this will prevent POSIX shared memory from working.

@mrunalp
@vishh

[2015-04-03 05:43] thockin commented on #12035
As another though experiment, consider behavior 3 with regards to mount namespaces or IPC namespaces.  I should be able to create a parent ns, join it with a single child, have that child mount a tmpfs or bind-mount files around or create a shared memory segment (shared /dev/shm is a concern that Docker seems to not handle right now, #12046), then have that child exit and be restarted and find tho

[2015-04-03 05:51] pbc commented on #11819
@miminar have you got any temporary solution to this problem for Linux and / or Mac OSX users ?

[2015-04-03 05:59] coolljt0725 commented on #12000
@kryton  For your use case, an alternative way is to set your dns when start the docker daemon with `docker -d  --dns=x.x.x.x`, this will add the `dns=x.x.x.x` to all your container include the internal container on building.  But this is not a good way since it will affect all the container.
I think add `--dns` option to build is resonable

[2015-04-03 06:29] Fangfenghua opened #12047 "Run docker fail"
[code]

[2015-04-03 06:35] jimmyxian commented on #12047
In /etc/sysconfig/docker
Add '-H unix:///var/run/docker.sock' in OPTIONS

[2015-04-03 06:45] Fangfenghua commented on #12047
Sorry, I had found the reason i got the error.When i start the deamon i specify port 2376,but the DOKCER_HOST=tcp://0.0.0.0:2375.

[2015-04-03 06:45] #12047 closed

[2015-04-03 08:11] wonderflow commented on #10824
"Also recommend using standard unix postfixes here, so it 1.311G not 1.311 GiB"
This is related using function `HumanSize` or `BytesSize` in [size.go](https://github.com/docker/docker/blob/master/pkg/units/size.go#L42-L48).

I'm not sure if I should change. @crosbymichael
cc @SamSaffron

[2015-04-03 08:37] Soulou opened #12050 "EOF error when removing image"
Hi there,

I just encountered a new bug when deleting images on one of my host. I'm using the BTRFS storage backend, and when I try to remove an image (which is not used by any container), I get the following error:

It applies to any image of the host, not only `myimage:latest` I've used as a test. I can't remove any image.

Any idea? Thanks!

Client side:

[code]

Server side:

[code]

Docker im

[2015-04-03 08:54] kevinsimper opened #12051 "During building dockerfile, build files gets not written if they write after command exits"
I have step in my dockerfile where i concat and uglify my javascript. I am using gulp.js for that and it streaming the files, so it exits before the file is finishes writing, because the bottleneck is the harddrive.

So the problem is that because the command exit before the file is finished create, the files does not get commited to the docker image.

This does not work, the ls will return a empt

[2015-04-03 09:15] cstpdk commented on #12051
Hmm, best bet is that the exit code of the build command is something that docker interprets as "ok, done", but that the shell operator "&&" knows to wait for. What is the exit code of the npm command?

[2015-04-03 09:21] jeremyherbert commented on #11987
Unfortunately I need access to USB devices, and it seems that the bug I am tripping on is related to https://github.com/docker/docker/pull/10745 which was just merged a day ago. I'm going to hope that fixes it and close this.

[2015-04-03 09:21] #11987 closed

[2015-04-03 10:40] jeremyherbert commented on #11987
Just tested it, the pull request fixes it.

[2015-04-03 10:44] eluck opened #12052 "Error in the last example of userguide/dockervolumes"
In the last example of [userguide/dockervolumes](http://docs.docker.com/userguide/dockervolumes/) we want to restore backed up data into a `dbdata2` container:

[code]

This snippet has 2 issues:

1. If we dig into the logic of the snippet, we'll see that restored data should get into `/dbdata` directory of `dbdata2` container. Instead the data is left in `/` directory of a temporary container. Th

[2015-04-03 11:00] fommil opened #12053 "compression during docker push"
I have a virtual image in my docker image of about 6GB and I am pretty sure that docker push is **not** using wire compression when uploading it to the docker hub because it is *really* slow. Tests with uploading the same file (but compressed) in the container are much faster. I'm pretty sure the increased upload times are causing me more `EOF` pain than normal (transient failures to push due to I

[2015-04-03 11:22] franklinkim commented on #7336
+1

[2015-04-03 11:52] duglin commented on #12045
It might be good to have `docker info` return the number of containers as: `4/8` - showing there are 8 total, but only 4 running.

[2015-04-03 12:24] runcom commented on #12035
@LK4D4 I think this can be further splitted in a pull request to support `ns:path` for net, ipc, pid as a first improvement, what do you think?

[2015-04-03 12:48] cpuguy83 commented on #12053
@fommil Please see #11869 which was merged for 1.6
All V2 registry pushes should be compressed.

[2015-04-03 12:49] cpuguy83 commented on #11819
@pbc Seems simple enough with the right firewall rules.

[2015-04-03 12:57] cpuguy83 commented on #11185
This might be good to make only 1 docker-proxy per container (if it is publishing ports) instead of per-port.

[2015-04-03 13:12] fommil commented on #12053
oh, awesome!

[2015-04-03 13:12] #12053 closed

[2015-04-03 13:19] unclejack commented on #11185
@cpuguy83 I disagree, the only acceptable and proper solution is the complete removal (disabled and deleted from the code) of the user land proxy.

[2015-04-03 13:20] cpuguy83 commented on #11185
@unclejack We keep talking about that...

[2015-04-03 13:22] pbc commented on #11819
@cpuguy83 I am looking for something that would support both linux and mac osx , and be relatively simple to do by a junior dev.

my first thought was to ask them to modify /etc/hosts and block few most common registries but the problem is that I would like to allow them to pull any images they need but prevent them from accidental pushing.

my second thought was to look into firewall setups but f

[2015-04-03 13:23] cpuguy83 commented on #11819
@pbc There would be no reason to support OSX, the daemon pushes/pulls, not the client. Daemon only runs on Linux.

[2015-04-03 13:28] pbc commented on #11819
@cpuguy83 ok, that simplifies things. I will go with the second approach then. thank you.

[2015-04-03 13:39] exarkun commented on #9665
I tried the reproducer but unfortunately wasn't able to trigger this failure.  How long do you typically run this before you see a problem?

Here's my docker info:

[code]

and docker version

[code]

[2015-04-03 13:47] zrml opened #12056 "ADD does not respect WORKDIR directive in Dockerfile"
in my Dockerfile I do:
--
VOLUME /distrib
WORKDIR /distrib
ADD my_file.tar.gz .
ADD install-manifest.sh .
--
the above last steps consistently fails with: "install-manifest.sh: not a directory"
Considerations:
the ADD tar.gz is OK. Why shoudl it be?
I am indeed passing a second argument to my second ADD: it's the dot at the end which should respect the previous WORKDIR /distrib command.

do we hav

[2015-04-03 13:59] gomex commented on #9719
Any news about these problems?

[2015-04-03 14:07] duglin commented on #12056
The issue isn't WORKDIR but instead your ADD.  If you look at the docs at: https://docs.docker.com/reference/builder/#add  you'll see that the destination must end with a / if you don't want it to treat the '.' as a file. Make it `ADD myfile.tar.gz ./` and I think it should work.

[2015-04-03 14:38] HuKeping commented on #11276
Agree

[2015-04-03 14:38] #11276 closed

[2015-04-03 14:48] zrml commented on #12056
@duglin: you stand correct. Indeed it work. Thank you.

[2015-04-03 14:48] #12056 closed

[2015-04-03 15:12] HuKeping commented on #11294
still can not reproduce this bug

[2015-04-03 15:15] axman commented on #4213
I was having a similar problem with OS X and a CentOS 7 VM.  It turned out to be SE Linux related.  To tell SE Linux to get out of the way use.

[code]

This also fixed an issue where I could access the files by name but not view the directory listing.  You may have to restart docker for the change to take effect.

[2015-04-03 16:14] ewindisch commented on #9719
@gomex see the docker/distribution work. Progress is being made on image management which will no longer utilize tarsum.

[2015-04-03 16:19] govidiupl commented on #9665
At home, I can repro this in a few seconds on an Ubuntu instance under VMWare (on a Windows host). I don't have the docker info/version handy at this time.

At work, I can repro this in at most 15-20 minutes with 2 scripts running concurrently (on the configuration described above). I'll try more concurrent scripts today.

[2015-04-03 16:20] t0mk commented on #7477
My 5 cents until they make 'docker ps' readable:

https://github.com/t0mk/dosk#dops

[2015-04-03 16:32] #11575 closed

[2015-04-03 16:49] cdancy commented on #5113
+1. We've got Bamboo builds pushing to a registry and can't have more than 1 push happening at any given time.

[2015-04-03 17:16] aetherical commented on #12045
@duglin I think that's a good idea; I wonder if it will break any existing programs (that are parsing info).

[2015-04-03 17:19] duglin commented on #12045
probably  :-)  but I've heard conflicting statements about whether its ok to change the output from our CLI. Will need @crosbymichael to weigh in here.

[2015-04-03 17:24] jlhawn commented on #9719
Registry now uses SHA2 digests: https://github.com/docker/distribution/pull/238
Docker now verifies images using SHA2 digests *before* unpacking: https://github.com/docker/docker/pull/11271

I think it might be okay to close this issue. @titanous what do you think?

[2015-04-03 17:36] titanous commented on #9719
@jlhawn Is the digest of the raw bytes with no parsing of the tar?

[2015-04-03 17:51] dmcgowan commented on #9719
@jlhawn we are not doing a hard enforce of the digest yet for 1.6 while we give early adopters of the v2 registry a chance to generate images not using tarsum. Images pushed with 1.6 will not be using tarsum.

@titanous verifying the sha256 digest does not involve parsing the tar file.  The digest is computed on the raw bytes as it is being streamed into a temp file.  The tar is extracted after th

[2015-04-03 17:53] titanous commented on #9719
I agree, this issue should stay open until tarsum is removed or prints a warning when used.

[2015-04-03 18:21] potto007 commented on #11294
Well, it is intermittent, so I imagine it is pretty hard to reproduce at will. I haven't been able to make it happen when I want it to... instead, I've instructed people working with our infrastructure to please leave the faulty containers going until I have had a chance to look at them. We have many hundreds of containers a day cycling through one of our clusters, so it's a game of odds.

I was m

[2015-04-03 18:44] tomasz-kuzemko commented on #5651
https://github.com/docker/docker/blob/master/daemon/execdriver/lxc/driver.go#L524 problem is that last argument to `lxc-stop` which is `strconv.Itoa(sig)` is simply ignored by `lxc-stop`. With `-k` option it always sends SIGKILL. It seems there is no way to specify what signal should be sent. To best support behaviour promised by `docker stop`, it should call `lxc-stop -n <id> -t <timeout>` which

[2015-04-03 19:12] abierbaum opened #12061 "Automatically created host directories for mounts take permissions for daemon umask"
This was a bit of a surprise for me but may be the way it is expected to work.  If you use docker run to start a container with a volume mount to a host directory that doesn't exist, docker will create it automatically.  The surprising part is that this directory is created with the permissions and ownership of the docker daemon.  (ie. not of the account currently running the docker command)

For

[2015-04-03 19:15] cpuguy83 commented on #12061
This is 100% expected, the only thing I can think of changing is if Docker is actually creating the dir, it might auto-populate the dir with content from the container and set ownership based on that.

[2015-04-03 19:41] moxiegirl opened #12062 "Carry -- Update to Joyent Install Doc #11687"
I'm gong to pick this up after the release...also...I'm not sure how this fits with the recent commentary coming in on Joyent installation.

[2015-04-03 19:52] bobbytables commented on #11534
For anyone else that runs into this and stumbles across this page, this fixes it for me:

[code]

Hope this helps.

[2015-04-03 20:22] fredlf commented on #12062
I guess checking in with @shykes is in order!

[2015-04-03 20:26] ahmetalpbalkan commented on #7746
Reverse compatibility is way too complicated to achieve and requires tons of tests. Our response structs are not versioned or anything and Remote API already handles default/empty values very poorly.

In #11486 I am proposing a workaround to override the API version string used through an environment varible e.g `DOCKER_API_VERSION=1.15 ./docker -H myolddockerhost.com:4243 ps`

[2015-04-03 22:43] stapelberg opened #12067 "/etc/hosts in one container doesn’t update if linked container restarts"
On https://docs.docker.com/userguide/dockerlinks/#updating-the-etchosts-file I can read:

However, I cannot get this to work. I’m setting up a container named “target”:

[code]

And then, in another terminal, I’m creating another container which is linked to “target”:

[code]

Okay, this worked as expected. Now let’s destroy “target” and start it up again:

[code]

But, contrary to what the docs s

[2015-04-03 22:46] LK4D4 commented on #12067
@stapelberg If you destroy container - link will be lost. It updates IP only on restarts.

[2015-04-03 22:53] stapelberg commented on #12067
@LK4D4 Ugh, okay. Maybe this could be pointed out more clearly in the documentation. Could we also turn this into a feature request for making links persist across destroying/recreating a container, i.e. making the link only depend on the name?

[2015-04-04 01:16] tomdegoede opened #12071 "Setting --icc=false doesn't block connections between containers."
After setting --icc=false I did see a DROP rule added to my iptables but my containers are still able to communicate freely without special linking.

my "sudo iptables -S" output:

[code]

Also tried it without running my own rules:

[code]
Here I'm still able to curl http://172.17.0.2:81 (not the exposed port) from within another container.

[2015-04-04 01:28] coolljt0725 commented on #12071
see #11405   you have to enable
'/proc/sys/net/bridge/bridge-nf-call-iptables'
'/proc/sys/net/bridge/bridge-nf-call-ip6tables'

[2015-04-04 02:11] tomdegoede commented on #12071
Thanks, that's definitely what I was looking for. These parameters seem to be missing on CoreOS though.

[2015-04-04 03:30] IngoS11 commented on #8521
same here.

[2015-04-04 03:37] IngoS11 commented on #8521
docker exec -it [container-id] bash worked for me.

[2015-04-04 03:55] #12071 closed

[2015-04-04 05:48] mrunalp commented on #12046
@thockin @vishh The way to make it work in docker is to detect that container A has a user mounted /dev/shm and if yes then share it with B as well when --ipc:container:A is passed as an option.

[2015-04-04 13:09] runcom commented on #12035
also #12067 seems to point here

[2015-04-04 13:43] thefallentree opened #12076 "setting /etc/hostname in --net="host""
Hi,

I found that when running in --net="host" mode, I can't use --hostname or even manually mounting/modify the /etc/hostname in the container to have it show the cotainer ID.

I undertsand that --net=“host' defines a mode that the netwokring will be 100% same as host, but could there be a mode of --net="custom" ? to allow more customization of the container environment (without needing to be 1 o

[2015-04-04 13:46] thefallentree opened #12077 "Proposal: docker exec should work in "stopped" container"
Often in the time that I found I very much want the ability to get a shell in a "stopped" container , because I need to view the files, do some changes etc.

Currently I don't' think there is a easy way to do it, other than going to /var/lib/docker/aufs/mnt directly.

Thanks

[2015-04-04 14:42] moysesb opened #12078 "/build endpoint should handle urls to pre-packaged contexts in the 'remote' parameter"
Currently, when a client issues a `build/` request with a `remote=<http_url>` query parameter, docker assumes the remote resource to be a raw Dockerfile (when the `Content-type` of the resource is e.g. `application/gzip`, docker blindly tries to run it as if it were a text file, resulting in binary garbage in the build log.

Apparently the solution is simply a matter of detecting the actual conten

[2015-04-04 14:58] thockin commented on #12046
It seems that docker already mounts /dev/shm by default for every
container, so no user-mounted special handling required?
On Apr 3, 2015 10:49 PM, "Mrunal Patel" <notifications@github.com> wrote:

[2015-04-04 15:00] sandric commented on #6119
@goldmann agree on all points!

[2015-04-04 15:37] duglin commented on #11977
What's the status of this?  Should we close it given the previous comment?

[2015-04-04 15:43] vjurenka commented on #4239
#dibs

[2015-04-04 17:00] LK4D4 opened #12079 "Write test for streaming events."
It is tested only implicit in build cancellation tests. So `TESTFLAGS="-run TestEvents" make test-integration-cli` doesn't test this.

[2015-04-04 17:13] runcom commented on #12079
#dibs

[2015-04-04 17:22] analytically opened #12080 "Overlayfs does not work with unix domain sockets"
This issue (unix sockets not working) affects the container's root filesystem, including /var/ and /tmp folders. But not any kind of a volume (either type). So long as that volume's underlying filesystem is 'normal' for linux and will permit the creation of working sockets.

See https://github.com/analytically/docker-overlayfs-bug

[2015-04-04 17:22] mrunalp commented on #12046
@thockin The default mounted /dev/shm is within a container's mount namespace, so it isn't possible to share it with another container which has it's own mount namespace (without them sharing mount namespaces). Hence, the workaround of mounting an external /dev/shm which could then be bind mounted into multiple containers.

[2015-04-04 17:24] ankushagarwal commented on #11977
Yes, I think we can close this. I could not find any set of rules dictating how .md files should be written/formatted.

[2015-04-04 17:24] #11977 closed

[2015-04-04 18:22] dreamcat4 commented on #12023
FYI: Checked my docker version of `1.5.0` and it happens to be the same as the other guy `a8a31ef`.

[code]

It would be great to move over and test behaviour on `1.6.x` also. I'm just a bit scared to, and also since we don't actually know what the problem is yet with `docker events` CLI command.

[2015-04-04 18:46] gprasant opened #12082 "hub.docker.com - Repeated login redirects"
What : Log in on hub.docker.com
Browser : Safari (v8.0.3)

## Steps
1. Go to https://hub.docker.com/account/login/ and enter uname / password and Log in.
1. You are now on the hub.docker.com home page.
1. Search for some package (nginx) in the search bar on top left.

## Observed
1. You are redirected to the login page ( url : https://hub.docker.com/account/login/?next=/api/v1.1/o/authorize/%3Fsco

[2015-04-04 18:53] jfrazelle commented on #12082
Bugs about the hub need to be posted to support@docker.com or
forums.docker.com

On Saturday, April 4, 2015, gprasant <notifications@github.com> wrote:

[2015-04-04 18:53] #12082 closed

[2015-04-04 19:02] thaJeztah commented on #12042
@kostickm are you planning on giving this a go? (Which would be awesome), otherwise let us know, then we can "un-claim" it :)

[2015-04-04 19:06] dreamcat4 commented on #12080
@analytically Can you please summarize what this bug is?

[2015-04-04 19:08] dreamcat4 commented on #12077
+1

Yes, and without creating a new container, or changing the CMD/ENTRYPOINT.

[2015-04-04 19:28] analytically commented on #12080
Unix domain sockets don't seem to work when using overlayfs. When using device mapper, it works fine.

[2015-04-04 19:43] thaJeztah commented on #12021
@amouat there's also http://docs.master.dockerproject.com, which always has the current "master" of the documentation.

[2015-04-04 19:50] dreamcat4 commented on #12080
Ah right. Ok then. That is the newest linux kernel filesystem, to replace device mapper & aufs in the future. Sorry I was confused by the title. Because some of us use the word 'overlay' to refer to something else entirely.

"overlayfs does not work with unix domain sockets"

[2015-04-04 19:55] runcom opened #12083 "kill command log a kill event even if the container is not running"
I noticed that killing a container if it exists but it's not running generate a kill event and just print the container id to stdout like everything went ok.
I don't know if it's the desired behaviour but to me it shouldn't generate that event if the container was not running. It's weird that if you try to kill an nonexistent container it gives error and, instead, it all goes well if the container

[2015-04-04 19:56] dreamcat4 opened #12084 "Can't mount single file as a regular docker volume"
Hello.

I would very much like to do this:

[code]

But unfortunately docker isn't having any of it.

[code]

[2015-04-04 20:00] jfrazelle commented on #12084
You need to do that when you run the container with -v

On Saturday, April 4, 2015, Dreamcat4 <notifications@github.com> wrote:

[2015-04-04 20:02] jfrazelle commented on #12084
If you need help with using docker please see #docker on freenode or
forums.docker.com this issue tracker is for bugs with docker

On Saturday, April 4, 2015, Jessica Frazelle <jess@docker.com> wrote:

[2015-04-04 20:02] #12084 closed

[2015-04-04 20:12] thockin commented on #12046
Oh, sure, yeah.  But that is an implementation detail :)
On Apr 4, 2015 12:51 PM, "Mrunal Patel" <notifications@github.com> wrote:

[2015-04-04 20:20] thaJeztah commented on #8460
@tianon @mrunalp apparently you both have a clear understanding what has to be documented. Would one of you be willing to create a PR for adding a description (and example) to the documentation?

Also, is documentation the only actionable item here? Or should this stay open after that (in hope of a better solution)?

[2015-04-04 20:58] mrunalp commented on #8460
I can add the documentation changes. I don't think there is any fix short of a kernel change if it ever happens.

Sent from my iPhone

[2015-04-04 21:18] thaJeztah commented on #8460
@mrunalp That would be great! In that case, I think you should add a `closes #8460` to that PR

@tianon can you agree with that? (as it's your issue)

[2015-04-04 21:32] thaJeztah commented on #4239
@vjurenka I think it's great that you want to give this a go. Be prepared, however that (given the discussion above), there's no real agreement *if* (and in what "form") this should be implemented.

There may be a chance that your PR will be rejected, or that the implementation has to be changed; If you don't have a problem with that, Go for it! :+1:

(if you want to have some feedback, it may be

[2015-04-04 21:44] thaJeztah commented on #12024
I'm gonna close this issue, because there's currently not enough information to act on. Feel free to "ping" me if you have more information and think this should be reopened.

Also, https://github.com/docker/docker/issues/8755 may contain some useful information

[2015-04-04 21:44] #12024 closed

[2015-04-04 22:18] thaJeztah commented on #10462
I'm gonna close this because #12035 has been created to replace this one. Please continue the discussion on that issue/proposal.

(Feel free to ping me if this shouldn't be closed for some reason).

[2015-04-04 22:18] #10462 closed

[2015-04-04 22:54] zultron opened #12086 "Docker daemon ignores nss groups"
The Docker group code in `libcontainer/user/` basically greps through `/etc/group` for the `docker` group ID.  This breaks on systems where the `docker` group entry lives in e.g. NIS or LDAP.

Group ID lookup should probably be through `getgrnam` [1] instead.

[1]: http://www.gnu.org/software/libc/manual/html_node/Lookup-Group.html

[2015-04-04 23:01] dreamcat4 commented on #12084
@jfrazelle So are you saying that *regular docker volumes work for single files from the cmd line, but not in a Dockerfile?*. If that is true then am pretty surprised by that. I was under the impression that only worked for bind mounted volumes (you didn't say).

But regardless if that were true, I believe such way would not be as suitable / convenient for my specific intended usage. As it would b

[2015-04-04 23:08] thaJeztah commented on #6119
This topic was discussed by the maintainers and, while they agree that having `USER` specify the owner of files added by `ADD` / `COPY` would have been a better choice, changing this behavior *now* would be a **breaking** change, which would be too much of a risk.

For this reason, https://github.com/docker/docker/pull/9934 was created to come with alternatives. An implementation of this is create

[2015-04-04 23:25] thaJeztah commented on #12052
Closing, because https://github.com/docker/docker/issues/12054 was merged.

Thanks @eluck!

[2015-04-04 23:25] #12052 closed

[2015-04-04 23:42] dreamcat4 commented on #12084
Right. Well that work-around did not keep things all so simple in the end. Perhaps at run-time may be overall a more elegant way to set the time zone. Or like this:

https://github.com/sameersbn/docker-gitlab/issues/77#issuecomment-46346176

[2015-04-04 23:43] ctmnz opened #12087 "[FIXED] Docker stopped working after 'yum update' and reboot (Centos 7)"
<pre>
[root@cos7 data]# uname -a
Linux cos7 3.10.0-229.1.2.el7.x86_64 #1 SMP Fri Mar 27 03:04:26 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
[root@cos7 data]# docker -v
Docker version 1.5.0-dev, build fc0329b/1.5.0
[root@cos7 data]# cat /etc/redhat-release
CentOS Linux release 7.1.1503 (Core)
[root@cos7 data]#
[root@cos7 data]# systemctl start docker
Job for docker.service failed. See 'systemctl statu

[2015-04-05 00:01] dreamcat4 commented on #12084
Ok. I have determined that actually there is no foolproof elegant way to set the time zone inside of a docker container. So have finally settled on this solution:

App dockerfile:

[code]

App entrypoint script

[code]

Data volume `/config` dockerfile, localized to a specific country or region:

[code]

... it is not elegant b/c involving 3 seperate files, and re-creating `/etc/localtime` on ever

[2015-04-05 00:57] ctmnz commented on #12087
I've just saw that I don't see the docker virtual NIC 'docker0' in ifconfig anymore.

[2015-04-05 01:18] jfrazelle commented on #12084
I mount /etc/localtime in my images so it is in sync w my host -v
/etc/localtime:/etc/localtime

On Saturday, April 4, 2015, Dreamcat4 <notifications@github.com> wrote:

[2015-04-05 01:44] LK4D4 commented on #12077
In current design it is impossible, because actually container doesn't exits when it stopped. All namespaces and cgroups created only when container starts.

[2015-04-05 05:05] ankushagarwal opened #12088 "Docker Docs : Add information about configuring the docker daemon after installation"
All the [Installation docs](https://docs.docker.com/installation/) cover how to install docker in detail, but none of them talk about configuring the docker daemon after the installation.

There should be a short section in there describing the config process. For example, in Ubuntu, the daemon can be configured by adding options in `/etc/default/docker` and in CentOS/RHEL, the daemon can be confi

[2015-04-05 05:05] ankushagarwal commented on #12088
+exp/proficient
+kind/writing

[2015-04-05 06:12] thaJeztah commented on #12088
There's also the [Command line reference](https://docs.docker.com/reference/commandline/cli/#daemon) section as well, detailing the options.

Adding a section to each operating system will make it difficult to keep those in sync, but perhaps @moxiegirl has some thoughts on it?

[2015-04-05 06:25] dreamcat4 commented on #12084
@jfrazelle Yes that is the most popular way. And I also had been doing that myself until now. However it is not correct b/c does not work when the software requires instead the file `/etc/timezone` to be set. That way you are using ^^ leaves it as the default value `Etc/UTC`.

You can just declare another volume for the other file. But kinnda messy. And you have to remember to keep including those

[2015-04-05 06:51] ankushagarwal commented on #12088
@thaJeztah
1) I was not referring to the details of the options, but documenting where to add these options.
2) It is as hard as keeping installation docs for each OS in sync. Most of the time, it just needs to list a file where options can be configured, which usually does not change for a OS, which is not hard.

[2015-04-05 07:09] thaJeztah commented on #12088
Oh, sorry, was a bit soon replying, I thought you wanted to explain the individual daemon options as well, so :+1:

[2015-04-05 09:34] phemmer commented on #12087
This line doesn't smell right:

    Apr 05 02:41:58 cos7 docker[14431]: time="2015-04-05T02:41:58+03:00" level="info" msg="+job serveapi(unix:///var/run/docker.sock)"

This looks like the docker daemon is either being started as `docker -d -H unix:///var/run/unix.sock` or as `docker -d` (with no `-H`).
You're using systemd, which means docker should be using `-H fd://`, and be completely unaware o

[2015-04-05 09:49] phemmer commented on #12051
Your issue is this:

    VOLUME /app

You've told docker that `/app` is to be stored outside the container. Thus when the container runs `npm run build`, the files aren't inside the container, and don't get stored in the image.

Solution, remove that line :-)

[2015-04-05 09:59] phemmer commented on #12046
POSIX IPC SHM uses `/proc/sysvipc/shm`, not `/dev/shm`.
`/dev/shm` is a vanilla tmpfs mount. Nothing more special about it than that. It's just standard practice for it to be there.

[2015-04-05 10:11] SamYaple commented on #10088
This is also needed to access network namespaces that are created within a container due to the proc mount (typically at /run/netns/<net_namespace>).

[2015-04-05 11:54] discordianfish commented on #11837
This sounds familiar, we had some issues with containers not able to talk to the outside on systems where we add/remove IPs from the interface.
@icecrime: This is a really severe issue for us, can you look into (escalating) this?

[2015-04-05 11:58] discordianfish commented on #11837
@avinson You did some testing of our haproxy container back then, right? Did you see any similar issues? The symptoms sound familiar..

[2015-04-05 14:41] zrml opened #12091 "--rm for docker stop"
I'd like to be able to remove the container from the "dormant container list" (docker ps -a or -l) as I stop them. It'd be quicker when testing & trying things out.
so just like we have
docker run or build  --rm

I'd like to have
docker stop --rm

thanks

[2015-04-05 14:45] unclejack commented on #12091
There's `docker rm -f` already which accomplishes this.

Since this was a request for a feature which exists already, I'm going to close this issue. Please feel free to comment.

[2015-04-05 14:45] #12091 closed

[2015-04-05 14:50] thockin commented on #12046
Man pages say /dev/shm, but my experience was that glibc starts
with/dev/shm and if not a tmpfs, scans /proceed/mounts for any tmpfs.

I have never heard of this other path - where did you find that?
On Apr 5, 2015 3:00 AM, "Patrick Hemmer" <notifications@github.com> wrote:

[2015-04-05 14:52] thockin commented on #12046
https://www.technovelty.org/linux/shared-memory-on-linux.html

Ahh, it's the difference between sysV shm and POSIX shm.
On Apr 5, 2015 7:50 AM, "Tim Hockin" <thockin@google.com> wrote:

[2015-04-05 18:36] mrunalp commented on #12046
@thockin Agree re: implementation detail :)

Not arguing about what is right but I was just going by TLPI :)
So, is it fair to say that Linux implements POSIX shared memory using /dev/shm?

From TLPI:

processes without needing to create a corresponding mapped file. POSIX shared
memory is supported on Linux since kernel 2.4.

implemented. In particular, there is no requirement for the use of a (re

[2015-04-05 18:59] ctmnz commented on #12087
@phemmer . Hello.
I have provided systemctl status docker.socket (it is the last command that I have shown the result of).
I have "OPTIONS=-H fd://" in my /etc/sysconfig/docker

[2015-04-05 20:05] thockin commented on #12046
As I understand it, yes.
On Apr 5, 2015 11:36 AM, "Mrunal Patel" <notifications@github.com> wrote:

[2015-04-05 20:49] thaJeztah commented on #10705
@vbatts @unclejack is there anything actionable here; is this a "documentation" issue, or should it be added to https://github.com/docker/docker/pull/11412?

[2015-04-05 21:09] thaJeztah commented on #11499
@ncdc have you been able to test this yet? Thanks in advance!

[2015-04-05 21:11] ncdc commented on #11499
I haven't seen the issue since I upgraded to master on 3/31.
On Sun, Apr 5, 2015 at 5:10 PM Sebastiaan van Stijn <
notifications@github.com> wrote:

[2015-04-05 21:13] schmunk42 commented on #4036
@matthewschlue-wf @jgallen23 After having huge disk space issues with btrfs, I switched to AUFS, which works also great for me with much less setup hassle... Thanks for your feedback.

[2015-04-05 21:16] thaJeztah commented on #11499
@ncdc do you think it's safe to close this issue, or would you prefer to have some more time testing? (We can always re-open)

[2015-04-05 21:17] ncdc commented on #11499
I'm fine closing it for now
On Sun, Apr 5, 2015 at 5:17 PM Sebastiaan van Stijn <
notifications@github.com> wrote:

[2015-04-05 21:23] thaJeztah commented on #11499
Great, thanks for testing this! If you encounter this again, feel free to ping me, and I'll re-open.

[2015-04-05 21:23] #11499 closed

[2015-04-05 21:45] zrml opened #12094 "docker top --rm enhancement"
I'd like to be able to remove the container from the "dormant container list" (docker ps -a or -l) as I stop them. It'd be quicker when testing & trying things out.
so just like we have
docker run --rm

I'd like to have
docker stop --rm

[2015-04-05 22:05] thaJeztah commented on #11889
@ojab were you able to resolve the issue with the hints in https://github.com/docker/docker/issues/11889#issuecomment-87660553 (using `CONFIG_VETH=y`)?

Am I right that what's needed is;

- Enhance the error response returned by the daemon to include some reference to `VETH` (If possible)
- Add a reference to the `contrib/check-config.sh` to the documentation?

Does that summarise it correctly?

[2015-04-05 22:07] runcom commented on #12094
I like this +1! I'm always trying things out with `-d` and then I'm always there stopping and deleting them in two commands. I'll also gladly work on this if it's something docker may implement.

[2015-04-05 22:08] thaJeztah commented on #11970
@robertabbott are you working on this? If you are, let me know, then I mark this issue "claimed"

[2015-04-05 22:35] robertabbott commented on #11970
Hi @thaJeztah. I am working on it. I think the change is nearly ready to go. The only thing I'm not sure about is whether I need to add the vet tool to the vendor directory

[2015-04-05 22:38] LK4D4 commented on #11970
@robertabbott I think it is enough to get it in `Dockerfile` like we do for `cover`.

[2015-04-05 22:39] thaJeztah commented on #11970
Hi @robertabbott no problem, I just added the "claimed" status, to prevent others from working on it. Just create the PR when you think you're ready. And awesome that you're working on it :+1:

[2015-04-05 23:10] rfyiamcool opened #12096 "why app always make zombie processing in docker"
why app always make zombie processing in docker?

ps aux

root     10300 77.6  0.0 170008 45640 ?        R    07:09   0:02 master: extractor
root     10305 87.0  0.0 169224 44612 ?        R    07:09   0:01 master: extractor

[2015-04-05 23:18] runcom opened #12097 "TestBuildCancelationKillsSleep fails on Windows"
`TestBuildCancelationKillsSleep` fails on Windows with an error about `eventsCmd.Wait()` having a bad exit status (1). This is reproducible with the Windows build on jenkins simply removing `testRequires(t, SameHostDaemon)` at the beginning of the test.

[2015-04-05 23:36] runcom commented on #12094
#12098

[2015-04-06 01:24] plentz commented on #12042
btw, if @kostickm doesn't want it, I want to call dibs :)

[2015-04-06 03:56] lazabogdan commented on #12087
Got the same issue.

Did "sudo yum install device-mapper-event-libs" and then "sudo yum reinstall docker" and problem solved.

[2015-04-06 05:47] therealromster opened #12101 "direct-lvm thin-pool fails to format/recognize filesystem type"
I have just moved from direct-lvm using two different logical volumes to a thin-pool logical volume. And then this fails.

I am using :
[code]

My thin-pool volume:

[code]

My docker.conf:

[code]

Example docker usage:
[code]

Now when i was using
[code]
It was working but I want to move the thin-pool stuff purely to the logical volume manager.

[2015-04-06 06:22] alexanderververis commented on #5113
+1

[2015-04-06 06:33] ojab commented on #11889
Actually --net=none and --net=host fails with the same error (haven't debugged netlink in that cases though).
Your summary is perfectly accurate.

[2015-04-06 07:22] unclejack commented on #12094
@zrml As you've been told on #12091, `docker rm -f` accomplishes the exact same thing - it stops a running container and removes it immediately.

I'm going to close this issue now because this feature exists already.

[2015-04-06 07:22] #12094 closed

[2015-04-06 08:18] ctmnz commented on #12087
Nope... it doesn't start.

[root@cos7 ~]# sudo yum install device-mapper-event-libs
Loaded plugins: fastestmirror, langpacks
base                                                                                                                                                                    | 3.6 kB  00:00:00
epel/x86_64/metalink

[2015-04-06 08:47] zrml commented on #12091
@unclejack: Thank you for cleaning up my redundant post (#12094). I had trouble with my ADSL so I ended up re-submitting it as I could not find it (in the mean time called the ISP provider for the issues etc. etc.). Apologies for this.
--

On the actual issue:  'm aware that I have the command
docker rm -f

My issue is slightly more subtle.
I do work with the:
docker stop (because I trap SIGTERM)

[2015-04-06 08:48] artpol84 commented on #7952
Sorry if this is wrong place to post (pls forward me to the proper location if that's the case).
I'm getting the following on RHEL 6.5:
[code]
SELinux is disabled:
[code]
The btrfs is created on the loop device by now since I don't have physical volume yet:
[code]
I will be able to try on RHEL 6.6 as well today or tomorrow.
The reason I want to try btrfs is that devicemapper is buggy IMHO:
1. On R

[2015-04-06 09:31] barjomet commented on #6743
+1

[2015-04-06 09:34] unclejack commented on #12091
The only adequate thing to do would be to add a flag like `-s, --signal=KILL Signal to send to the container` to `docker rm` to use it together with `docker rm -f` so that clean shutdown is possible.

The `docker stop` command has nothing to do with container removal and adding `--rm` to `docker stop` isn't going to happen.

The simplest solution today would be to issue `docker kill -s TERM` and `

[2015-04-06 09:48] thaJeztah commented on #12042
@plentz I'd say; go for it! if you want to start contributing on docker (which is awesome). Make sure you mention `closes #12042` in the description (not the title) of your pull-request.

@kostickm let us know if you're still looking for something to work on, I'm sure there are other simple issues to get you started.

[2015-04-06 10:33] ctmnz commented on #12087
It looks like there is problem with my /var/lib/docker directory because when I renamed it on 'docker-broken' and tried to start docker with 'systemctl start docker' the problem disappeared (but my images and containers also). How can I check what is wrong with my /var/lib/docker directory? I have not operated via console commands (copy/rm/mv files) in this directory.

[2015-04-06 11:11] discordianfish commented on #11998
@icecrime Could we prioritize this as well? Since we know a workaround, we're not directly affected anymore but imo it's quite embarassing that people all over the web are running into this issue.

[2015-04-06 11:24] arcticlion opened #12104 "Meet some problem for the first time"
root@vpn:~# docker run hello-world
FATA[0000] Cannot connect to the Docker daemon. Is 'docker -d' running on this host?
root@vpn:~# docker -d
INFO[0000] +job serveapi(unix:///var/run/docker.sock)
INFO[0000] Listening for HTTP on unix (/var/run/docker.sock)
INFO[0000] +job init_networkdriver()
INFO[0000] -job init_networkdriver() = OK (0)
INFO[0000] WARNING: Your kernel does not support cgroup swap

[2015-04-06 11:29] runcom commented on #12091
@unclejack may I work on what you proposed or it's just in doing by someone else?

[2015-04-06 11:31] runcom commented on #12104
@arcticlion could you add more information about the problem you are experiencing? Seems like you tried to run docker without the daemon started, then you started it and then....?

[2015-04-06 11:37] arcticlion commented on #12104
@runcom

OS is Ubuntu 14.04

root@vpn:~# uname -r
3.13.0-37-generic

First, I get the latest Docker package.

    wget -qO- https://get.docker.com/ | sh

Then
[code]

[2015-04-06 11:42] runcom commented on #12104
@arcticlion from your ps aux output docker is not running at all. Try running service docker start before trying to run hello-world

[2015-04-06 11:52] duglin commented on #12042
@thaJeztah let's give @kostickm a little more time to speak up - will push on this today.

[2015-04-06 11:53] arcticlion commented on #12104
@runcom
[code]

[2015-04-06 11:55] runcom commented on #12104
@arcticlion perfect, it's working then, even if I don't understand why the docker daemon was not started after the installation

[2015-04-06 11:59] gladsonvm opened #12105 "Docker API executable not found in $PATH"
I am trying to run a django app in docker container.I can run it using cli. But when using api the response is executable not found in $PATH. I have tried changing ENV in api file also.

[2015-04-06 12:06] pykiss commented on #8838
I find it very usefull. +1

[2015-04-06 12:08] arcticlion commented on #12104
@runcom

Is normal?

[code]

[2015-04-06 12:23] runcom commented on #12104
@arcticlion yes, you are inside a container, you haven't docker installed there.

[2015-04-06 12:37] unclejack commented on #12091
@runcom Please feel free to go ahead.

[2015-04-06 12:41] arcticlion commented on #12104
@runcom I understand what docker is little by little. I continue to read official document. Thank you for your help.

[2015-04-06 13:14] rhatdan commented on #7952
@artpol84 This is the wrong place.  I have no idea what your problem is.  And from a RHEL perspective docker on rhel6 is not supported.  I guess you could open a bug on EPEL, or try the upstream docker and build it yourself, and see if it works.

[2015-04-06 13:16] vdemeester commented on #11957
Let's try to label it, so it gets more "views" and opinions

+kind/bug
+status/0-needs-triage

[2015-04-06 13:21] Jaanki opened #12106 "Connection reset by peer"
Hi
I have just installed docker using
    wget -qO- https://get.docker.com/ | sh
on Ubuntu 14.04.
    $ sudo docker version
    Client version: 1.5.0
    Client API version: 1.17
    Go version (client): go1.4.1
    Git commit (client): a8a31ef
    OS/Arch (client): linux/amd64
    Server version: 1.5.0
    Server API version: 1.17
    Go version (server): go1.4.1
    Git commit (server): a8a31ef

[2015-04-06 13:23] vdemeester commented on #12104
@arcticlion you might wanna close this issue then ;)

[2015-04-06 13:25] #12104 closed

[2015-04-06 13:40] thaJeztah commented on #12042
Alright, @plentz, want to hold of with your PR? (Sorry for this)

[2015-04-06 13:41] vdemeester commented on #12086
It might be a duplicate of this one #1715 (that is still open). And probably the #11377 pull-request might kinda fix it (in the next release I guess).

[2015-04-06 13:58] unclejack commented on #11680
@duglin Can you respond to this issue after you get an answer regarding Docker support for AIX, please? Thanks!

[2015-04-06 14:02] vdemeester commented on #11957
+kind/bug
+status/0-needs-triage

[2015-04-06 14:03] unclejack commented on #11524
The integration-cli tests already have a library in place to avoid duplicating certain pieces of code. This will be improved further and there will be even less duplicated code.

The tests seem really big right now because there are a lot of tests. However, they could have been a lot bigger if we didn't have the library of helper functions to avoid duplicating the exact same code for every single

[2015-04-06 14:03] #11524 closed

[2015-04-06 14:07] unclejack commented on #11283
@hanxy Please let us know if this is still a problem. I've got Docker running 24/7 and I'm not seeing any such problems on Ubuntu 14.04. Please ensure your system is fully updated by using `apt-get update && apt-get dist-upgrade -y` and reboot. You also need to make sure you're running the latest Docker version.

There are known bugs in 1.3.2 and older versions which can lead to crashes of the Doc

[2015-04-06 14:07] #11283 closed

[2015-04-06 14:10] kostickm commented on #12042
Yep I am planning on working through it today! Sorry for the delay.

[2015-04-06 14:10] kostickm commented on #12042
#dibs

[2015-04-06 14:11] #12097 closed

[2015-04-06 14:13] unclejack commented on #11072
I'm going to close this issue now because it's been reported against Docker 1.3.2 and kernel 2.6.32-431. There are newer kernels available for CentOS 6.x and they can be easily installed via `yum update` and they can be used by running `reboot` to start using them.

If you can reproduce this with a fully updated system, please comment on this issue.

[2015-04-06 14:13] #11072 closed

[2015-04-06 14:25] riuvshin opened #12108 "Docker 1.5.0 package must require proper device-mapper version"
Hi fellas,
I've tried to install docker 1.5.0-28.el7.centos on my Centos7 machine but it's don't work.

error is:
`/usr/bin/docker: relocation error: /usr/bin/docker: symbol dm_task_get_info_with_deferred_remove, version Base not defined in file libdevmapper.so.1.02 with link time reference`

So the problem is that docker 1.5.0-28.el7.centos require newer version of device-mapper than I have but p

[2015-04-06 14:26] cpuguy83 commented on #3654
Closing since #9774 was merged

[2015-04-06 14:26] #3654 closed

[2015-04-06 14:32] Xe commented on #12096
http://en.wikipedia.org/wiki/Zombie_process may help you understand what is going on

[2015-04-06 14:33] vbatts commented on #10705
Perhaps documentation on this process would be best. I will double check this process on ubuntu-12.04, but I documented here https://github.com/docker/docker/issues/4036#issuecomment-82375836 building docker for ubuntu 14.04 and getting udev sync supported.

As for users getting _easy_ access to binaries downloadable from docker that will work for them, we're working on that, but it's not clean an

[2015-04-06 14:51] unclejack commented on #7395
@LK4D4 Is this still relevant?

[2015-04-06 14:53] unclejack commented on #7333
The final actual implementation of this feature remains to be decided. Since #8911 is only asking for log rotation to be implemented, I'm going to close this issue in favor of that one.

[2015-04-06 14:53] #7333 closed

[2015-04-06 14:53] unclejack commented on #6630
I'm closing this in favor of #8911.

[2015-04-06 14:53] #6630 closed

[2015-04-06 14:55] vbauer commented on #8911
:+1:

[2015-04-06 15:00] unclejack commented on #6997
This has been implemented by #9882.

[2015-04-06 15:00] #6997 closed

[2015-04-06 15:03] unclejack commented on #2891
@kscherer Docker 1.6 will have direct io support for aufs and it should be faster. How did you set up devicemapper? I'm asking about devicemapper because I know some people are using it in production, but the way it's set up matters.

[2015-04-06 15:07] unclejack commented on #4934
I'm going to change the title of this issue to make it a docs only change. Logs have been improved already: there are 2 logging drivers now: none and jsonfilelog (the default). There's one more logging driver in the pipeline: https://github.com/docker/docker/pull/11485

[2015-04-06 15:25] unclejack commented on #7371
The user land proxy is going to be removed. Since removing the user land proxy will fix this problem, I'm going to close this in favor of #11185 because the solution to #11185 is the complete removal of the user land proxy.

[2015-04-06 15:25] #7371 closed

[2015-04-06 15:26] unclejack commented on #8356
The user land proxy is going to be removed. Since removing the user land proxy will fix this problem, I'm going to close this in favor of #11185 because the solution to #11185 is the complete removal of the user land proxy.

[2015-04-06 15:26] #8356 closed

[2015-04-06 15:31] unclejack commented on #12105
@gladsonvm Support for the remote API isn't provided directly via GitHub issues. Many remote API related issues have been reported in the past, but there was no code attached and providing any kind of assistance was impossible.

There are Docker client libraries in many languages. Please look at those to see how those libraries handle the features of the remote API you're interested in using. A go

[2015-04-06 15:31] #12105 closed

[2015-04-06 15:33] cpuguy83 commented on #12096
If you spin up processes in a container processes in your container and don't wait for do a `waitpid` on them, it will create a zombie.
You can handle this by either calling `waitpid` on your sub-processes, or by using a real init inside your container as pid 1... either way though, you should be using `waitpid` when spinning up a sub-process.

[2015-04-06 15:33] #12096 closed

[2015-04-06 15:46] unclejack commented on #11695
@AJNOURI If you want to do something like this, you need to use `--net=none` as @estesp has stated above and set up your custom network using pipework.

Such custom setups aren't supported right now, but once the implementation for #9983 lands, it should be easier to have such custom setups.

In order to get step by step help and discuss similar questions, please post this question and similar que

[2015-04-06 15:46] #11695 closed

[2015-04-06 15:51] jperrin commented on #12108
Docker 1.5.0-28.el7.centos is a 7.1.1503 update, which requires/expects that you have fully updated to 7.1.1503. If you're doing selective updates, you will run into issues like this.

[2015-04-06 15:51] plentz commented on #12042
@thaJeztah no problem, I will take another one ;)

[2015-04-06 15:51] jperrin commented on #12108
in theory a 'yum update' should resolve what you're seeing.

[2015-04-06 15:55] lsm5 commented on #12108
what @jperrin said :) , this happened on my machine too, and a `yum update` fixed this

[2015-04-06 16:19] LK4D4 opened #12113 "Replace Now() with daemonTime in integration-cli"
You need to find all usages of `time.Now()` where it used to request some info from daemon(events) and replace it with `daemonTime(t)` like in https://github.com/docker/docker/pull/12090

[2015-04-06 16:22] thaJeztah commented on #11542
@denibertovic I agree, however, issues/feature requests for Docker Hub are not handled in this repository. Perhaps you can start a discussion on https://forums.docker.com/c/all-things-docker-hub or create a feature request through https://support.docker.com

[2015-04-06 16:27] kostickm commented on #12113
#dibs

[2015-04-06 16:34] #12042 closed

[2015-04-06 16:49] Xe commented on #12096
for a one-step fix: http://phusion.github.io/baseimage-docker/

[2015-04-06 16:59] gregory commented on #6997
awesome! thx for the update @unclejack

[2015-04-06 17:04] #11285 closed

[2015-04-06 17:06] cpuguy83 commented on #12080
Just doing a simple go program with a unix socket listener works for me.

[2015-04-06 17:12] robbyt commented on #12108
This is a packaging bug from RH. The new docker package should require the correct version of device mapper in it's package dependencies.

[2015-04-06 17:14] robbyt commented on #12087
This is possibly related to #12108

[2015-04-06 17:18] LK4D4 commented on #12080
I can reproduce with image from @analytically

[2015-04-06 17:25] moxiegirl commented on #12088
@ankushagarwal We have a goal to simplify our installation documentation.  We want to standardize on the Docker's own installation mechanism rather than documenting OS-specific package managers.  Adding information into each installation about configuring the docker service would introduce more complexity.  Not every user that is installing Docker is going to want to go straight toward configuring

[2015-04-06 17:35] vbatts commented on #10705
ok. ubuntu-12.04 with a libdevmapper that supports sync will not be trivial.

If you are attempting to compile against the stock `libdevmapper-dev`, it is too old (`1.02.48-4ubuntu7.4`), and that version does not have a few require calls.

The only other option, I would not recommend. That would be to compile a newer version of libdevmapper (with configure proper flags), clobber the system libdevm

[2015-04-06 17:36] ehazlett commented on #12106
@Jaanki sorry you are having issues!  this appears to be network related.  would you mind trying again (removing your local `/etc/hosts` entries) and see if the issue persists?

if the issue continues, could you run a traceroute to see where it is getting hung up?

[2015-04-06 17:36] kwolcott-vendini opened #12114 "Installing docker 1.5 via curl on Debian Jessie (RC1 or RC2) results in docker daemon not starting after reboot"
When I install Docker v1.5 via the curl method "curl -sSL https://get.docker.com/ | sh" as advised at "https://docs.docker.com/installation/debian/#debian-wheezystable-7x-64-bit" for Debian Jessie (RC1 or RC2) rather than for Debian Wheezy, the docker daemon does not automatically start on reboot.

Please fix.

Thanks,
Ken Wolcott
(kwolcott@vendini.com)

[2015-04-06 17:38] ankushagarwal commented on #12088
@moxiegirl : Rather than linking to the article (which is currently relevant only for CentOS running systemd, and it is already linked from the CentOS installation page [here](http://docs.master.dockerproject.com/installation/centos/#custom-daemon-options)), I would suggest adding a small section [here](http://docs.master.dockerproject.com/installation/ubuntulinux/#optional-configurations-for-dock

[2015-04-06 17:40] ankushagarwal commented on #12088
Or adding an Advanced section/Configuration section to the docs, as I feel that it would be very useful for people who are trying to install docker in more sophisticated environments.

[2015-04-06 17:54] botchagalupe opened #12116 "Issue on the new ulimit feature of the run command 1.6 RC4"
This is minor and probably won't be caught for some time but...
See code command snippet

[code]

[2015-04-06 17:57] jfrazelle commented on #12114
You need to systemctl enable docker, for it to automatically start on boot

On Mon, Apr 6, 2015 at 5:36 PM, Kenneth A. Wolcott <notifications@github.com

[2015-04-06 17:58] #12114 closed

[2015-04-06 17:59] kwolcott-vendini commented on #12114
Thank you for the tip but shouldn't that step be performed by the installation of Docker?

[2015-04-06 17:59] jfrazelle commented on #12114
ping @moxiegirl we may want to add this to the docs, but users of systemd are mostly used to this, but regardless. You must `systemctl enable docker` to tell systemd you allow it to automatically be started on reboot

[2015-04-06 18:00] jfrazelle commented on #12114
@kwolcott-vendini no it should not, this is a decision the user must make. It's not fair for us to automatically do it, if the user does not want that to happen

[2015-04-06 18:02] kwolcott-vendini commented on #12114
I see.  I would think that if someone wanted to install docker that they would want the daemon to be auto-started.  I reluctantly accept this conclusion.

[2015-04-06 18:02] jfrazelle commented on #12116
ping @cpuguy83

On Mon, Apr 6, 2015 at 5:54 PM, John Willis <notifications@github.com>
wrote:

[2015-04-06 18:03] cpuguy83 commented on #12116
I have a feeling this is due to the way the process in the container is started up.
If you up the ulimit value (ie, 819200) it works just fine.

We've also disbaled `as` from ulimit entirely because it causes a segv.

[2015-04-06 18:05] kwolcott-vendini commented on #12114
Please do add this to the docs.  So, the docker daemon is automatically started for Ubuntu, but not for Debian.  Seems inconsistent.

[2015-04-06 18:05] kasur opened #12117 "Docker 'pull' from private registry ceased to work with "authConfig does not conform to given endpoint ( != <private>""
[code]

[2015-04-06 18:05] vbatts commented on #10705
@omribahumi I'm going to close this issue as devicemapper on ubuntu 12.04 will without udev sync support unless the box is installed in a "non-supported" way (clobbering system libraries).
It is known that `udev sync false` will cause #4036 issues.

[2015-04-06 18:07] cpuguy83 commented on #12116
This probably just requires some additional documentation.

[2015-04-06 18:11] jfrazelle commented on #12116
cool \o/ what i like to hear haha

[2015-04-06 18:23] #12079 closed

[2015-04-06 18:33] lsm5 commented on #12108
like what @jperrin said, I'd guess people would do a full system update whenever a major update goes out and things would just work, but ya, this sure is a packaging bug considering selective updates. Thanks for reporting.

also, may I interest you in 2 other docker rpms with quicker releases compared to the RHEL recompiled variant? See this page for details: http://wiki.centos.org/Cloud/Docker .

[2015-04-06 18:35] vieux opened #12118 "Improve daemon restart with --restart"
Hi,

Here is a story that happened to me a few hours ago, I wonder if we could improve the behaviour of docker when the daemon restarts.

One month ago I started a frontend container
`docker run -d --restart -p 80:80 --name web1 <image>`
Two weeks ago I had to do an update, so I stopped web1 and started a new one:
`docker stop web1`
`docker run -d --restart -p 80:80 --name web2 <new_image>`

I wor

[2015-04-06 18:46] moxiegirl commented on #12088
@ankushagarwal Let's add an advance section to the docs for now if you are cool with that. We actually need to have more around administrating docker.  This would be a nice addition.

[2015-04-06 18:47] #10705 closed

[2015-04-06 18:52] moxiegirl commented on #12114
@kwolcott-vendini You might want to jump on #12088 which is related to this.  IOW, we do intend to discuss it.

[2015-04-06 18:52] unclejack commented on #11576
@adamjcook Are you still interested in doing this?

[2015-04-06 19:08] LK4D4 opened #12119 "Rename TestStartSilentAttach to TestStartAttachSilent"
So I can run `TESTFLAGS="TestStartAttach" integration-cli` and get Attach for Start tested.

[2015-04-06 19:17] dmcgowan commented on #12117
What is the commit ID of master you are building off? I do not see a commit associated with "fc0329b" in the tree. I do not see the does not conform message referenced anywhere in the master code base, do you have code additions you are testing or using a fork?

Also you blacked out `</private>` which is fine, but can you let me know what the format is that you are using?  For example for login ar

[2015-04-06 19:35] vbatts opened #12122 "docker daemon docs incorrectly portrayed examples"
the docs that end up here --> http://docs.docker.com/reference/commandline/cli/#daemon

since the commit 29d01b7, now the examples for running the daemon have a PS1 command prompt of `$` which indicates a non-privileged user. Though correctly marking the command prompt with `#` which indicates root user, would make them appear as comments.

We should find a markdown way to show the prompt for a `#

[2015-04-06 19:39] botchagalupe commented on #12116
Don't want to be a pest.. and like I said it's a minor issue.. however;  on the other ulimit (kbytes ) based values it looks like we default to zero or unlimited if the number calculates to low.  For example:
--ulimit memlock=8190.

I agree that we should just update the doc for this release but eventually I think we should resolve the issue.  Some user is going to set it and not understand why th

[2015-04-06 19:48] runcom commented on #12083
@ehazlett why is this labeled question? ^.^

[2015-04-06 19:51] ehazlett commented on #12083
thanks @runcom.  i tend to agree with you that a kill event to a stopped container should not generate the event.

i labeled "question" as it needs a response for whether or not to show an event for a kill to a stopped container.

[2015-04-06 19:51] ehazlett commented on #12083
@tiborvass thoughts?

[2015-04-06 19:54] runcom commented on #12083
@ehazlett thanks! I removed the comment because I later read again and it indeed sounded like a question with WDYT

[2015-04-06 19:54] ehazlett commented on #12087
thanks @robbyt

@ctmnz could you try a full system update to see if that helps?

[2015-04-06 19:56] ehazlett commented on #12083
no problem!  thanks for clarifying :)

On Mon, Apr 6, 2015 at 3:55 PM, Antonio Murdaca <notifications@github.com>
wrote:

[2015-04-06 20:01] adamjcook commented on #11576
@unclejack Yes, sorry, I started it last week and got held up with something. I will try to get on it tonight and I'll see how it goes. If I get held up again, I will reply.

[2015-04-06 20:02] cpuguy83 commented on #12116
Definitely not a pest :)

What's really happening is we are taking the user's value and doing the syscall to set that exact value, we aren't ever changing what the user has provided.

The issue is what is the actual minimum? It changes with each new commit since docker itself is execing these processes in the container, so there needs to be enough to be able to fire up a docker binary, basically.

[2015-04-06 20:05] jfrazelle commented on #12116
Ya or just explaining that.

On Mon, Apr 6, 2015 at 8:02 PM, Brian Goff <notifications@github.com> wrote:

[2015-04-06 20:17] botchagalupe commented on #12116
Totally makes sense...   I'll try and update the doc in the next few days.

[2015-04-06 20:21] #9340 closed

[2015-04-06 20:29] estesp commented on #9340
Just a comment for posterity, given it may be confusing from prior comments across the various issues and PRs:

What @coolljt0725 fixed in #11369 allows the use of `--link` where the link's target container actually was started with `--net=container:<some_running_container>`, and it even supports that recursively (if that target points its net to another running container which has it's net pointi

[2015-04-06 20:30] ruphin opened #12124 "Docker installer halts on existing configuration file"
Description of problem:
When installing Docker on a platform using apt-get packaging and a `/etc/default/docker` configuration file is already present, the installer interrupts on a query on what to do about this file. This is a problem for automated installations where a custom bridge IP is desired.

Editing the config file and restarting the daemon after the installation is not an option due to

[2015-04-06 20:35] thaJeztah commented on #12116
I labeled this with "writing", unless there are still plans to solve this in code, not sure if "proficient" applied here, but a proper understanding of the matter is required :smiley:

Marked this as "claimed" for you, @botchagalupe (thanks!)

[2015-04-06 20:56] ruphin commented on #12124
This installation method workaround is currently available for those having the same issue:

[code]

[2015-04-06 20:57] kasur commented on #12117
Hola, Derek,

1) I suppose this is the commit reference https://github.com/docker/docker/commit/fc0329baa1cc2f73349d564fb3d32e0112c51385 (auto-inserted in edit mode but it might as well be a collision)

2) The docker version that I am using comes from default extras repo for centos7
Version     : 1.5.0
Release     : 28.el7.centos
Repo        : extras/7/x86_64

3) I am using a private registry and

[2015-04-06 21:04] cpuguy83 commented on #12124
Does `debconf-set-selections` not work?

[2015-04-06 21:13] ruphin commented on #12124
I am not familiar with that tool, and looking at documentation it is not clear to me how to use it in this case. Can you produce an example on how to use it to resolve this issue?

[2015-04-06 21:19] ankushagarwal commented on #12088
I can add an `Advance` section to some of the installation docs sometime this week

[2015-04-06 21:21] LK4D4 opened #12126 "TestPullVerified failing on jenkins for windows"
Because windows build is one of PR-builds, it is pretty bad.
ping @jfrazelle @dmcgowan
We can just skip it if nobody knows how to fix it.

[2015-04-06 21:25] jfrazelle commented on #12126
is this because of the upgrades to hub :/ why does this keep happening

[2015-04-06 22:02] dmcgowan commented on #12117
The error you are seeing is not part of the Docker git repository (although Github kindly references it for you under our repository) but from an individual fork.  The change introducing this error message is at https://github.com/docker/docker/commit/dc670b83835d4a897ae8ae42d60c721d5b3031ab.  Since this change is not related to any committed code or security patch, I would suggest reaching out to

[2015-04-06 22:03] #12117 closed

[2015-04-06 22:20] hugoduncan opened #12128 "API doc for container create "Binds" argument incorrect, and error message confusing"
The api doc for the [`Binds` argument](https://docs.docker.com/reference/api/docker_remote_api_v1.17/#create-a-container) is incorrect.  When creating a new volume, the volume should not appear in "Binds".  The [implementation](https://github.com/docker/docker/blob/master/daemon/volumes.go#L225) explicity checks for a string with two or three components separated by ":".

Moreover, the resulting e

[2015-04-06 22:29] thaJeztah commented on #12128
/ping @cpuguy83

[2015-04-06 22:35] xiaods commented on #12118
Proposal the ideal logic, if the container is stopped, then the host restart will not restart the container with "restart" flag.

[2015-04-06 22:42] cpuguy83 commented on #12128
The docs look exactly right, Though a little confusing in the 2nd sentence of the description.

[2015-04-06 22:45] xiaods commented on #6743
today review the original comments and @shykes 's comments, currently we need know where is the plugin codebase, then we can evaluate the ip feature in this new plugin architect.  ping @erikh , do you know where is best start plugin code base?

[2015-04-06 22:56] thaJeztah commented on #12118
I'm closing this as I think this is a duplicate of https://github.com/docker/docker/issues/11008, please continue the discussion on that issue, thanks!

Right now, to prevent a stopped container to be restarted, you'll have to stop *and remove* the container.

[2015-04-06 22:56] #12118 closed

[2015-04-06 23:01] ctmnz commented on #12087
@ehazlett The problem appeared after full system update. I am afraid that I won't be able to update it more than the current state.

[2015-04-06 23:01] vieux commented on #12118
thanks @thaJeztah

[2015-04-06 23:53] cpuguy83 commented on #12087
@ctmnz Sounds like you have a hard to kill mount sitting @ /var/lib/docker or something.
Can you check `/proc/mounts` while docker is stopped?

[2015-04-07 00:15] vishh opened #12130 "Container port not exposed on the host with 1.6 rc4"
A docker config that works on 1.5 fails with the latest 1.6 rc. The container that exposed the problem is running etcd built from scratch. Its exposes ports '2380' and '4001' on the host
[code]

The port does not show up on the host network
[code]

Once I switch to 1.5 the ports show up on the host.

Complete inspect output:
[code]

cc @tiborvass @jfrazelle

[2015-04-07 00:18] jfrazelle commented on #12130
what's the output of iptables-save

[2015-04-07 00:20] vishh commented on #12130
The application, etcd in this case, works just fine from inside the container - verified via exec.

[2015-04-07 00:22] vishh commented on #12130
iptables are disabled. Daemon is run as follows:
`/usr/bin/docker -d -p /var/run/docker.pid --bridge cbr0 --iptables=false --ip-masq=false`

[2015-04-07 00:22] jfrazelle commented on #12130
Then how does kubernetes expose ports.

[2015-04-07 00:26] jfrazelle commented on #12130
there must be some change in the information we are giving back to kubes when it sets up networking or something... because idk what else could have broken it, if docker is not handling iptables

[2015-04-07 00:27] vishh commented on #12130
Makes sense. It runs a separate daemon (kube-proxy) that handles iptables. I can dig into the proxier code to see if there are any issues there.

[2015-04-07 00:29] vishh commented on #12130
cc @thockin

[2015-04-07 00:46] tj commented on #5113
derp, just ^C'd one by accident and now I get this haha

[2015-04-07 00:48] crosbymichael commented on #12130
Lookin around these parts
https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/dockertools/docker.go#L306

[2015-04-07 00:54] crosbymichael commented on #12130
@vishh how do we test any fix for something like this?

[2015-04-07 01:10] crosbymichael commented on #12130
@vishh is the state here https://github.com/GoogleCloudPlatform/kubernetes/blob/master/pkg/kubelet/dockertools/docker.go#L163 used for anything proxy related?

[2015-04-07 01:39] thockin commented on #12130
I am out right now, but can look later.

The kube-proxy has nothing at all to do with host ports.

Afaik, host port defs ONLY work on the container that actually hosts the
net namespace.  We explicitly do (or did) a pass through all containers in
a pod to aggregate host ports onto the pod container.  Maybe that broke
with recent changes?

The spec you posted, @vishh, looks to be both joining a pod

[2015-04-07 01:42] joeygibson commented on #12119
This seems like a really simple rename. Is there something more to this that I'm missing? Renaming this function results in four functions that begin with TestStartAttach, so does setting TESTFLAGS="TestStartAttach" get all that start with that?

And did you mean `TESTFLAGS="TestStartAttach" make test-integration-cli`?

[2015-04-07 02:00] hugoduncan commented on #12128
In particular "of the form container_path (to create a new volume for the container), ..." seems wrong, as specifying such a value results in the "Invalid volume specification" error.

[2015-04-07 02:04] kscherer commented on #2891
On 15-04-06 11:04 AM, unclejack wrote:

That is good news and I look forward to rerunning my tests.

I am using the devicemapper backend in loopback mode. This has been
working well enough, although the instance creation fails sometimes
(Issue #4096). I will look into the devicemapper direct-lvm mode.

[2015-04-07 02:11] wlan0 commented on #4934
@unclejack  There's also a 'Syslog' logging driver

[2015-04-07 02:37] brendandburns commented on #12130
This is completely unrelated to the proxy.  The container in question runs with --net=host set, so any ports that it exposes, should just get exposed in the host network namespace.  No proxying, forwarding or iptables needed.

[2015-04-07 02:38] brendandburns commented on #12130
and to answer @jfrazelle earlier question (in case she's curious):

We don't do port forwarding, we make the IP address of the container on the bridge routable from outside of the host node, so hostPorts and port forwarding are unnecessary.

[2015-04-07 02:42] jfrazelle commented on #12130
Oh didn't realize --net host thanks

On Monday, April 6, 2015, Brendan Burns <notifications@github.com> wrote:

[2015-04-07 03:26] arcticlion opened #12131 "I can't access web app inside docker"
[code]

[code]

When I enter `103.41.134.126:49153`(my VPS's Ip), but It doesn't response.

[2015-04-07 03:33] wyaeld commented on #12131
what does `curl localhost:49153` from the VPS shell do?

[2015-04-07 03:51] moxiegirl commented on #12088
@ankushagarwal The advanced section should be added to this document: https://docs.docker.com/articles/systemd/ not to the installation documentation.

[2015-04-07 03:54] arcticlion commented on #12131
@wyaeld

[code]

[2015-04-07 04:00] duglin commented on #12131
check your firewall

[2015-04-07 04:09] moxiegirl commented on #12122
@vbatts So, if I su to root on an ubuntu instance I get this:

`root@ip-172-31-34-181:/home/ubuntu#`

So, what do you think of using something like that rather than a plain old `#`

[2015-04-07 04:25] thockin commented on #12130
I agree it's unrelated to the proxy, but the config that @vishh posted said:

        "NetworkMode":
"container:4cff5d962ae7fb553fd7af413e06150bb9d0d9e527ae7951977b7d591e0cc42f",

On Mon, Apr 6, 2015 at 7:38 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-04-07 04:36] xiaods commented on #11008
any update?

[2015-04-07 04:54] brendandburns commented on #12130
That's because even in host mode, we use the pod-infra pod, so it looks like:

in pseudo-json:

[code]
[code]

[2015-04-07 05:06] xiaods commented on #11500
#dibs

[2015-04-07 05:16] thockin commented on #12130
Ahh, right.   Of course.

Vish - can you try to boil this down to CLIs?  I don't understand what a
host port means in this context?

On Mon, Apr 6, 2015 at 9:55 PM, Brendan Burns <notifications@github.com>
wrote:

[2015-04-07 05:27] Jaanki commented on #12106
Hi
Tried again with following two changes. Error persists.
1. /etc/hosts
#127.0.0.1	     localhost
127.0.1.1	            controller_1
162.242.195.84  *.docker.io

/etc/hosts
127.0.0.1	              localhost
127.0.1.1	              controller_1
#162.242.195.84  *.docker.io

$ traceroute 162.242.195.84
traceroute to 162.242.195.84 (162.242.195.84), 30 hops max, 60 byte packets
 1  Private IP
 2  Pr

[2015-04-07 05:36] arcticlion commented on #12131
@duglin I use ufw

[code]

[2015-04-07 05:39] wyaeld commented on #12131
I can see that 49155 is open, and telnet shows I can connect, but your
initial issue shows the app running on 49153

On Tue, Apr 7, 2015 at 5:37 PM, arcticlion <notifications@github.com> wrote:

[2015-04-07 05:43] thaJeztah commented on #12122
It's a tough one; we want the shell examples to be as "generic" and "copy-pasteable" as possible; to much info before the actual command will make it more difficult to read (and people might copy it and execute it)

Perhaps `root@docker-host:~# echo foo` might work; the obvious advantage that it's more clear that it's ran as root (for those unaware of the `#/$` differences)

Otoh, if this is the o

[2015-04-07 06:07] thaJeztah commented on #12088
The problem here is that not all distros use systemd, so configuring the daemon will be different.

[2015-04-07 06:46] ctmnz commented on #12087
ping @cpuguy83
Checked.
<pre>
[root@cos7 lib]# systemctl stop docker
[root@cos7 lib]# mv docker docker-working/
[root@cos7 lib]# mv docker-broken/ docker
[root@cos7 lib]# systemctl start docker
Job for docker.service failed. See 'systemctl status docker.service' and 'journalctl -xn' for details.
[root@cos7 lib]# systemctl status docker
docker.service - Docker Application Container Engine
   Loaded

[2015-04-07 07:27] zrml commented on #12091
@unclejack I think we are not understanding each  other as I'm looking from a user ability and standardisation (other commands have the option)

Allow me to expand please:

When I run docker stop, if nobody trap it, it waits for 10 seconds and issues a SIGKILL so you flag -s does not have any meaning anyway an could be potentially confusing at least when you document it.
If I trap it (which I do,

[2015-04-07 07:43] zrml commented on #12091
@unclejack I think we are not understanding each other here :)
I'm looking at it from a user consistency point of you.

Please allow me to expand.

At the moment the stop command -if un-trapped, sends a straight SIGKILL after 10 seconds to the container so adding a -s flag could potentially be just confusing, at least when documenting it.
If one traps it (and runs an orderly app shutdown inside th

[2015-04-07 07:51] riuvshin commented on #12108
@robbyt Correct, I didn't install any updates, I've just installed docker 1.5.0 and docker package must require correct version of all deps.

[2015-04-07 08:33] Pensu commented on #12106
I get timeout error sometime in the same manner.  http://stackoverflow.com/questions/28884488/cannot-download-docker-image-from-repository

[2015-04-07 08:41] hangyan opened #12135 "docker image delete problem"
The days I was study on the docker source code,mainly about the deleting of images.I think I  found some problems,and I will explain in examples:

Image `ubuntu:14.11`(just for test) and `ubuntu:14.12`  have the same image id:
![screen shot 2015-04-07 at 4 31 20 pm](https://cloud.githubusercontent.com/assets/3939015/7019531/935de748-dd43-11e4-888a-449cdfdf3295.png)

Start a container from image `u

[2015-04-07 09:06] xiaods commented on #11971
how about the status on this concern?

[2015-04-07 09:17] jeremyherbert commented on #3949
#3156 as well

I have another use case for this which I believe has not been mentioned: I'd like to sandbox some proprietary software in docker. The installers together make up about 22GB.

I'm not allowed to host this software anywhere for legal reasons, and it's not possible to download it on the fly (you need to log in to a website and go through multiple javascript filled pages, including agre

[2015-04-07 09:33] dreamcat4 commented on #3949
***+1***

[2015-04-07 09:57] arcticlion commented on #12131
@wyaeld Oh, It works! It's very strange. It doesn't response at all before.

To save this problem, I stop container before, then I run again and the port changed.

[2015-04-07 09:59] zrml commented on #4717
Hi,

Now that I'm getting into "auto-building" with Dockerfile(s) this security restriction is even worse because I cannot even install various products that need a minimum of 100MB shared mem segment (the default is a tiny 32MB on most distros).

This is a show stopper unless I could run the docker build (like unfortunately I have to do with the docker run command with the --privileged flag).
DO

[2015-04-07 10:02] nerdalert commented on #12106
Hi Jaanki, might be worth comparing the latency between your home network and office network. The latency on the trace route you pasted is on the high side. Also comparing a speed test online between the two sites may help narrow it down and have data to escalate to your provider about. I chime in as I can have some slow Inet access at times and empathize with you :)
Regards,

[2015-04-07 10:08] Jaanki commented on #12106
Speed in the office would definitely be higher than the wi-fi I use at home. Could this be because in office I am behind a firewall?

[2015-04-07 10:37] ttrifonov opened #12137 "A very strange issue with bash#sleep command"
I have a very *strange* issue with Docker. I'm using CoreOS 607.0.0 on Azure, then I start a container(let's call it the host container) with mounting docker sock "-v /var/run/docker.sock:/var/run/docker.sock". Then I start a bash script on that container, that runs a new container(the client container). The new container fires a script on boot that tries to establish SSL connection to external ma

[2015-04-07 10:46] zrml opened #12138 "docker build --privileged"
Albeit scary as flag we need to consider it or allow for some other options or tricks.
I am in the condition that I cannot install (via the docker build command/Dosckerfile) any software that requires more than the meagre 32MB of shmmax segment size that linux comes with as default value.

sysctl -w kernel.shmmax=536870912 fails with the "Read-only file system" error

Doing all these builds by han

[2015-04-07 10:50] wyaeld commented on #12131
Ohh... the problem you are having is because of the `-P` flag.

If you use it by itself, it publishes any exposed ports onto something within the available range on the host.  It doesn't automatically publish them onto the same port.  However the range around 49150 seems to be a default somewhere.

If you are just getting started, you'll probably find it easier to explicitly publish the port onto

[2015-04-07 11:10] xiaods commented on #11903
Proposal result:

 HTTP/1.1 200 OK
    Content-Type: application/json

    [
            {
                "description": "",
                "is_official": false,
                "is_automated": false,
                "name": "wma55/u1210sshd",
                "star_count": 0,
                "tags": ["v1", "v2"]
            },
            {
                "description": "",
                "is_

[2015-04-07 11:10] xiaods commented on #11903
Proposal result:

 HTTP/1.1 200 OK
    Content-Type: application/json

    [
            {
                "description": "",
                "is_official": false,
                "is_automated": false,
                "name": "wma55/u1210sshd",
                "star_count": 0,
                "tags": ["v1", "v2"]
            },
            {
                "description": "",
                "is_

[2015-04-07 11:13] miminar commented on #12117
Yep, this is rhel specific problem. @kasur, let's please continue discussion in [this bugzilla](https://bugzilla.redhat.com/show_bug.cgi?id=1209439).

[2015-04-07 11:41] doffel commented on #7336
+1

[2015-04-07 12:16] epiphyllum opened #12141 "why does "docker run" not provide parameters to configure the ip address"
some times, it is really inconvenient. although pipework'like tools can add ip address for the container,
there is no tools to del the ip of the container.

[2015-04-07 12:20] thaJeztah commented on #12141
Hi @epiphyllum I'm closing this, because I think this is a duplicate of https://github.com/docker/docker/issues/6743.

[2015-04-07 12:20] #12141 closed

[2015-04-07 12:21] dreamcat4 commented on #3949
Another way would be to extend `VOLUME` with a `--flag`. e.g.

    FROM base_image
    VOLUME --from builder_image

To be more consistent with what is being done for other Dockerfile commands such as `ADD`, `COPY`, etc.

[2015-04-07 12:28] kasur commented on #12117
I have also submitted the issue here http://bugs.centos.org/view.php?id=8406.

[2015-04-07 12:37] xiaods commented on #12076
@sunyc  could you please provide more context in this request. because hostname is relative with network infrastructure,  it don't make sense with two hostname in host mode in my option.

[2015-04-07 12:41] zrml commented on #10176
Hi guys:
Don't you think that reading from the host this value it's a risk? all containers will be able to allocate huge chunks of shmem. I'd prefer to have the option to handle this for each single container point of view even if my start-up script will have to invoke sysctl -w kernel.sh*=<figure>?
thanks

[2015-04-07 12:47] #12131 closed

[2015-04-07 12:48] cpuguy83 commented on #12138
dup of #1916

[2015-04-07 12:48] #12138 closed

[2015-04-07 13:26] coolljt0725 commented on #12130
@brendandburns  I found this problem too. There something wrong when a container `<bar>` joining the network namespace of a container `<foo>` where the network namespace of `<foo> `is set to `--net=host`. I think https://github.com/docker/libcontainer/pull/512 can fix this.

[2015-04-07 13:35] zrml commented on #12138
@cpuguy83 Thank you!

[2015-04-07 13:37] zrml commented on #1916
+1
for this feature.
for historic and use case example see this dupe
https://github.com/docker/docker/issues/12138#issuecomment-90536998
thanks @cpuguy83 for pointing out the dupe

[2015-04-07 13:57] thaJeztah commented on #12137
Could this be related to https://github.com/docker/docker/issues/12080?

[2015-04-07 14:05] dave-tucker commented on #11837
@AlessandroEmm

Are you running the daemon with `--ip YOUR_ADDRESS_HERE` or is it defaulting to `0.0.0.0`
This can be verified with `docker ps`:

[code]
I've been unsuccessful trying to replicate with boot2docker, I'll try a VM with a single external interface next.

@discordianfish re: containers not being able to talk to outside systems, which interface were you adding/removing IP's from? Have y

[2015-04-07 14:18] sunyc commented on #7276
Finding this old issue leads to a question:  what are the implications of allowing PTRACE with apparmor?(Disabling apparmor all together is obviously bad) . But can we securely enable ptrace in the container without compromises? If there are compromises, what are they exactly?

[2015-04-07 14:30] sunyc commented on #12076
@xiaods

I guess it depends on what exactly your definition is for "host" mode.

For me, and my pretty simple use case, I think host mode literally means no-proxy, sharing port mode. Now, I would like to still have a different hostname inside the container.

Obviously, I'm not trying to convince you to change the definition of host mode, or to add a new mode, I merely ask for a "custom" mode that

[2015-04-07 14:35] dave-tucker commented on #8830
I would think it is possible to use `-i` in these cases as traffic sourced from containers will have been through the `INPUT` chain. The output from the IRC chat seems to assume that the traffic in question is being originated from a software process on the host and in that instance there would indeed be no input interface.

The diagram below explains the flow of bridged packets through iptables:

[2015-04-07 14:35] bfirsh opened #12142 "Proposal: Images should be able to specify what environment variables they need to run"
Images often require environment variable configuration to run (passwords, API keys, etc) and there is currently no way for image to require that environment variable to be set at runtime.

I am proposing that we add a way for images to require an environment variable to be set at runtime, without setting a value. For example:

`Dockerfile`
[code]

Then when running this image:

[code]

This is so

[2015-04-07 14:44] gtirloni opened #12143 "Default to mounting volumes with nodev, noexec and nosuid options"
To prevent code inside a container from creating objects that could be potential security holes on the host.

Might also show a warning if a container is started and the filesystem used to mount a volume does not have those options ("the filesystem used allows device, executable and suid files to be created, please consider using a separate filesystem with nodev,noexec,nosuid options").

[2015-04-07 15:04] cpuguy83 commented on #12143
I think we can provide these as options.
Parsing for this should be available once #5910 is merged.

[2015-04-07 15:06] cpuguy83 commented on #12076
@sunyc host mode literally means sharing the host's net namespace.

What is your use-case exactly?
Today you can certainly customize the container networking, but it must be totally out-of-process from Docker using tools like pipework or weave.

[2015-04-07 15:08] citywander opened #12144 "bind: address already in use in 1.5.0"
Just single thread, and docker version is 1.5.0, OS: ubuntu 14.04.01
We have applied docker to Test Environment.
For every test, system will request VM, The VM is restored from vmware snapshot, so it was sure that every test run in the same environment. But we found sometimes error is thrown: Can not start docker container: 500 Server Error: Internal Server Error ("Cannot start container 4811691c1

[2015-04-07 15:16] sunyc commented on #12076
I just want to have my process running without proxy (exposing ports
directly), yet still have a unique /etc/hostname so I / my app can easily
distinguish itself.

On Tue, Apr 7, 2015 at 11:07 PM, Brian Goff <notifications@github.com>
wrote:

[2015-04-07 15:32] balboah commented on #9997
I've experienced this issue as well on CoreOS with "Docker version 1.5.0, build a8a31ef-dirty".
This occurs when I'm doing multiple docker loads at the same time on an Amazon instance that has the slow default ELB making it having to wait for IO to complete. It seems somewhere this causes layers to disappear into cyberspace resulting in the same "no such file" error as mentioned above.

[2015-04-07 15:57] cpuguy83 commented on #12076
You can still expose ports directly, it's just a matter of connecting to the bridge interface in the container.

[2015-04-07 15:58] ckulla commented on #9665
I experience this problem in ubuntu-14.04 on a vmware host

[2015-04-07 16:01] sunyc commented on #12076
I don't understand what that means, can you elaborate?

On Tue, Apr 7, 2015 at 11:57 PM, Brian Goff <notifications@github.com>
wrote:

[2015-04-07 16:03] cpuguy83 commented on #12076
Each container gets it's own network interface, this can be setup so it's reachable from outside the host with the right routing.

Alternatively you can add a macvlan interface using pipework with an IP that's available form outside the host.

[2015-04-07 16:06] sunyc commented on #12076
How is that easier than  just allow changing /etc/hostname while using
--net="host" ?

On Wed, Apr 8, 2015 at 12:03 AM, Brian Goff <notifications@github.com>
wrote:

[2015-04-07 16:06] arcticlion commented on #12131
@wyaeld Thanks for help.

[2015-04-07 16:07] robbyt commented on #12108
Here is the RH bug for this issue
https://bugzilla.redhat.com/show_bug.cgi?id=1207839

[2015-04-07 16:10] cpuguy83 commented on #12076
I suppose this might work if we automatically create a new UTS namespace when --net=host and --hostname are passed in?

cc @crosbymichael

[2015-04-07 16:11] moxiegirl commented on #12122
@thaJeztah If they copy the prompt, the paste won't work regardless. :-P

Otoh, yes, adding `sudo` for specific cases like this does make sense.  Point in case, I didn't pull the `sudo` from the installation docs.

[2015-04-07 16:19] moxiegirl commented on #12088
@thaJeztah  It is possible to write a section in a single document that illustrates setting this across multiple distros. That is what we are asking for in this case.  I've certainly written them in the past.  So have others:

http://blog.frd.mn/how-to-set-up-proper-startstop-services-ubuntu-debian-mac-windows/

[2015-04-07 16:19] LK4D4 opened #12146 "Fix fail message in TestRunDeviceDirectory"
In second check it says that "timer" is expected, but expected is "seq"

[2015-04-07 16:22] jfrazelle commented on #12146
Shoot that's probably dependent on the host machine is it only failing on
certain machines

On Tuesday, April 7, 2015, Alexander Morozov <notifications@github.com>
wrote:

[2015-04-07 16:22] thaJeztah commented on #12122
@moxiegirl yes better copy-pasteable has been talked about in the past, perhaps after switching to another engine for docs? I'll keep this in mind as well, will look around if I can find good libraries for that.

When @vbatts mentioned this on IRC, the removal of sudo sprang in mind (but I didn't check), and it could well be that this has been there all along. Overall I don't think the incorrect p

[2015-04-07 16:23] LK4D4 commented on #12146
@jfrazelle Yes, it failing only if you have no `seq` device. But issue about wrong fail message in that case.

[2015-04-07 16:24] thaJeztah commented on #12088
@moxiegirl :+1:

[2015-04-07 16:31] jfrazelle commented on #12146
Totally gotcha I'll leave for someone new ;)

On Tuesday, April 7, 2015, Alexander Morozov <notifications@github.com>
wrote:

[2015-04-07 16:32] vishh commented on #12130
Here is a repro using docker cli
[code]
The port is not exposed with 1.6
[code]

With 1.5 the port gets exposed.

[2015-04-07 16:34] dchen1107 commented on #12130
Here is the output with docker 1.5:

# netstat -ntlp
Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State       PID/Program name
tcp        0      0 0.0.0.0:22              0.0.0.0:*               LISTEN      2207/sshd
tcp        0      0 127.0.0.1:7001          0.0.0.0:*               LISTEN      5754/etcd
tcp        0      0 0.0.0.0

[2015-04-07 16:52] sunyc commented on #12076
The point is, I may also need to customize /etc/resolv.conf,   having
--net=host or --net=bridge is the 2 extreme , I think more customization
should be allowed, that I can just pick what i need at the moment...

On Wed, Apr 8, 2015 at 12:11 AM, Brian Goff <notifications@github.com>
wrote:

[2015-04-07 17:05] icecrime opened #12147 "Windows CLI - Off by one terminal size"
It seems that the buffer wraps one character "too late", see below visual explanation:

![screen shot 2015-04-07 at 10 00 21](https://cloud.githubusercontent.com/assets/1564054/7028822/649e721e-dd0d-11e4-8e02-230558bde72d.png)

Terminal size: `100x52`
Associated API call: `POST /v1.19/containers/ab.../resize?h=52&w=100`

Cf. my earlier comment https://github.com/docker/docker/pull/12127#discussion

[2015-04-07 17:07] lsm5 commented on #12108
ahh, i see this was already reported. Sorry about the memory lapse. This will get fixed in the next update

[2015-04-07 17:12] dqminh opened #12148 "Failed to allocate port if the static port conflicted with the container's previous dynamic port"
When user allocates a static port mapping that happens to be conflicted with the mapping that Docker's going to allocate to the same container, the port allocation will fail. This is another variation of #7158

Steps to reproduce:
[code]

My docker version:
[code]

cc @tiborvass

[2015-04-07 17:15] vishh commented on #12130
I think the problem is [here](https://github.com/docker/docker/blob/master/daemon/execdriver/native/create.go#L139).

[2015-04-07 17:16] RepublicOfAppsLLC opened #12149 "Docker must not require VT-X and must offer 32-bit versions for VR development"
Hi,

Thanks for making boot2docker and this windows installer available, much appreciated!

I work at a studio developing backend services for VR gaming. I'm trying to setup dockerized versions of our backend services so that our fronted VR developers can test against these services on their Windows boxes.

The problem is that Occulus and most VR headsets REQUIRE VT-X to be turned OFF for decent p

[2015-04-07 17:20] tiborvass commented on #12148
Could reproduce on 1.6.0-rc5

[2015-04-07 17:21] icecrime opened #12150 "Windows CLI - Inline mage download progress"
When I pull an image and that my buffer is already filled in with things, the display is messed up.

Here you can see that the `"4f9...: Downloading 22.68MB.."` progress indicator is appearing right in the middle of my earlier `docker ps -a` output:

![screen1](https://cloud.githubusercontent.com/assets/1564054/7029079/7742b662-dd0f-11e4-88aa-b76b84440237.png)

Here you can see after pull complete

[2015-04-07 17:21] ahmetalpbalkan commented on #12147
@icecrime I can repro this.

When I removed those `+1`s used in `GetWinsize`, it gets rid of those removes the empty lines we get here and there but then it wraps too early now (and obviously gets window size wrong for the `/resize` call. It appears this issue is caused by something else.

[2015-04-07 17:24] ahmetalpbalkan commented on #12149
@RepublicOfAppsLLC I believe this issue belongs to https://github.com/boot2docker/boot2docker. Currently VT-X is required because Boot2Docker uses VirtualBox to run Linux VM on windows/mac. We can change this to Hyper-V but it also will not meet your needs. Do you have a suggestion here?

[2015-04-07 17:25] ahmetalpbalkan commented on #12150
Ooops this used to work. Must be a regression.

[2015-04-07 17:45] unclejack commented on #12149
@RepublicOfAppsLLC You haven't said anything about the CPU you're using or anything related to the problems you're seeing with VT-X enabled. You also haven't told us what version of Windows you're using. All of this is very relevant.

Is the performance problem related to a driver which is misbehaving with VT-X? Is there an actual benchmark we can run to produce numbers with VT-X on/off? How did y

[2015-04-07 18:02] jfrazelle commented on #12150
I have seen this as well yesterday, but was unsure if it used to work..

On Tue, Apr 7, 2015 at 10:25 AM, Ahmet Alp Balkan <notifications@github.com>
wrote:

[2015-04-07 18:03] jfrazelle commented on #12150
I have also seen things with clear-ing after stuff I think this is related
to. I will post about it

On Tue, Apr 7, 2015 at 11:02 AM, Jessica Frazelle <jess@docker.com> wrote:

[2015-04-07 18:04] LK4D4 commented on #12148
I'm not sure why we adding this to milestone, because this was here forever and we have talk about it. If you use static binding from dynamic port range - you can fail some day. Only good can be to forbid static ports from that range.

[2015-04-07 18:06] cpuguy83 commented on #12124
I see this is not a prompt from the actual package but by apt itself.

[2015-04-07 18:07] cpuguy83 commented on #12124
I think this is something you should handle before calling the installer and should not be part of the main install script.

ping @tianon

[2015-04-07 18:12] brendandixon commented on #12150
I am heavily reviewing / rewriting the code. I’ve corrected a few things already. Addressing the sizing problems is on my list, I’ve not yet attacked them. I hope to be (mostly?) done by EOD today. We’ll see. If not today, then likely tomorrow for sure.

Thank you for your patience. Please continue to note problems and I’ll include them (if not otherwise fixed).

Brendan
brendandixon@me.com
425.92

[2015-04-07 18:32] thaJeztah commented on #12061
Hi, @abierbaum I'm going to close this issue as this is expected behavior. There is an existing feature request for specifying uid/gid on volumes here; https://github.com/docker/docker/issues/7198. Please continue the discussion on https://github.com/docker/docker/issues/7198, thanks!

[2015-04-07 18:32] #12061 closed

[2015-04-07 18:48] icecrime opened #12151 "Remove engine mechanism"
The whole `/engine` mechanism is complicated, provides not obvious value, makes it harder to follow through the code, and ultimately complicates maintenance: let's get rid of it!

This includes `engine.Env` as well as it is the primary motivation for this removal.  The ultimate goal is that `/engine` is deleted.

- [x] Remove jobs from `attach` #12120
- [x] Remove jobs from `builder` (wip @calaver

[2015-04-07 18:51] ruphin commented on #12124
The only option to configure it beforehand is to override the global dpkg settings as outlined here: http://debian-handbook.info/browse/stable/sect.package-meta-information.html#sidebar.questions-conffiles
However, you would have to return it to the default afterward, i.e. there is no way to configure it for the docker installer only.

But it all really comes down to if you want the install script

[2015-04-07 18:53] tiborvass commented on #12151
I added two more (graph and builder)

[2015-04-07 18:54] citywander commented on #12148
Port conflict is reproduced easily in1.5, so we have to retry again and again to start.It's so weird we start container in the same vm. But the issue is random.

[2015-04-07 18:58] calavera commented on #12151
I'll take `builder` to get my feet wet

[2015-04-07 18:59] calavera commented on #12151
but I cannot edit the issue to put my name on it :cry:

[2015-04-07 19:00] vieux commented on #12151
@calavera I updated :D

[2015-04-07 19:04] tiborvass commented on #12151
To anyone willing to work on this, I highly suggest to start with methods on Daemon (like attach). They are much easier. `builder` and all-things-init, are the most tricky ones.

[2015-04-07 19:09] thockin commented on #12130
I feel dumb - what does it even mean to have a host port in --net=host
mode?

On Tue, Apr 7, 2015 at 10:16 AM, Vish Kannan <notifications@github.com>
wrote:

[2015-04-07 19:09] kostickm commented on #12113
https://github.com/docker/docker/compare/master...kostickm:12113-replace-Now-with-daemonTime

The only other test using time.Now() to request info from daemon(events) was TestBuildCancelationKillsSleep in docker_cli_build_test.go. The test failed without the use of the containerID and regex changes, failing with "more than one container started." It now passes, but I wanted to get a second opinion

[2015-04-07 19:11] LK4D4 commented on #12113
@kostickm It's better to create PR and discuss in form of review.

[2015-04-07 19:11] kostickm commented on #12113
@LK4D4 Okay I can do that!

[2015-04-07 19:14] runcom commented on #12113
@LK4D4 @kostickm that test was really reacy because it was not checking for its specific containerID it was creating.. test now passes and it's consistent on #12109 but it still need review

[2015-04-07 19:16] kostickm commented on #12113
@runcom Is this issue being covered then by #12109 ? There weren't any other tests in integration-cli using time.Now() in this way.

[2015-04-07 19:18] runcom commented on #12113
@kostickm no #12109 issue is not covering this issue but that failing test only

[2015-04-07 19:21] kostickm commented on #12113
@runcom Okay I'll wait until 12109 is merged and then look again.

[2015-04-07 19:23] kostickm commented on #12146
#dibs

[2015-04-07 19:31] ankushagarwal commented on #12088
:+1:

[2015-04-07 19:39] ahmetalpbalkan opened #12153 "Windows CLI: Clearing issues in bash prompt"
One of the console clearing problems in Windows CLI ANSI emulation package.

Repro steps:
1. `docker run --rm -it ubuntu bash`
2. Type `0123456789`
3. Hit left arrow key 5 times
4. Hit delete key (fn+backspace on mac) 3 times
5. while you delete, the chars ahead of cursor doesn't get deleted.
6. If you press delete one time you'll end up with **012349**6789 (6789 not cleared)
7. If you hit delete

[2015-04-07 19:40] runcom commented on #12151
@tiborvass may I go with one inside `daemon/`? like `changes.go`?