[2016-10-20 14:18] graingert commented on #14080
@rhatdan @petrosagg can you create a PR for this?

[2016-10-20 14:18] sgerr commented on #27583
Hello. Thank you for the fast reply. I have fresh docker engine installed by yum (OS Oracle Linux 7.2).
Where can I find daemon config to remove these options?
I've checked out https://docs.docker.com/engine/admin/systemd/ but do not find that.

[2016-10-20 14:19] sebgie commented on #25069
I would like to add another POV to this issue description. I'm using Docker Swarm Mode (1.12.2) via API and `POST /services/create` returns no indication that scheduling failed due to low resources (aka a full cluster). Any indication of a problem would be helpful in this case.

And for API usage it would be great to get errors like that in Swarm events (#23827) as well!

[2016-10-20 14:23] fatherlinux commented on #14080
@jeremyherbert the patch is in the docker daemon that comes in all recent versions of RHEL, CentOS, and Fedora...

[2016-10-20 14:24] sgerr commented on #27583
Oh, yes. Found at /etc/docker/daemon.json

Now it works! Thank you!

[2016-10-20 14:24] #27583 closed

[2016-10-20 14:31] ldubrois opened #27584 "Incompatible with Ember-Cli"
**Description**
When running, on Windows, Ember-Cli and Docker, the Host becomes unusable as everything is extremly slow. Docker only is fine, Ember-CLI is fine, but Docker + Ember-CLI is very very slow.

**Steps to reproduce the issue:**
1. Start Docker
2. Start Ember server
3. Make few changes on the Ember app to trigger Ember builds.

**Describe the results you received:**
After half an hour, t

[2016-10-20 14:34] friism commented on #27582
@fabiendibot swarm-mode is not yet supported on Windows. We're working on getting it there.

[2016-10-20 14:35] rogaha commented on #27157
Thanks for the hint @hmdhasani. @tianon do you think would make sense to apply this fix to upstream?

[2016-10-20 14:38] tabrisaugur opened #27585 "Cannot GetProcAddress for Py_DontWriteBytecodeFlag"
When running docker compose, I get the following error:

Cannot GetProcAddress for Py_DontWriteBytecodeFlag

I've now gotten this error on both Windows 10 and Windows 7 (with Docker Toolbox). This has worked on other Windows machines without this error.

Diagnostic uploaded:
7F49371E-5D55-4825-99F2-9BDEF11B5F94/2016-10-20_15-29-54

**Steps to reproduce the issue:**
docker-compose --version

**Desc

[2016-10-20 14:46] justincormack commented on #27067
Actually hmm. I got confused too....

So yes, there is the NIS domainname, now being tracked for `runc` as above.

However... We write the `hostname` into `/etc/hosts`, which is the FQDN that `hostname` will look up via DNS ie if I do

[code]

Then I have a FQDN being set, and I also get correctly

[code]

Which is reading it from there - if you do `docker run --hostname banana.test --cap-add SYS_

[2016-10-20 14:46] vdemeester commented on #27508
/cc @aaronlehmann @stevvooe @aluzzardi @vieux

[2016-10-20 14:47] vdemeester commented on #27517
/cc @vieux @anusha-ragunathan @tiborvass

[2016-10-20 14:50] rhatdan commented on #14080
@graingert We have submitted it in the past and It has been rejected.

[2016-10-20 14:52] cyphar commented on #27067
@justincormack The hostname used to be split by Docker before #20200. Now it's just passed directly. What IMO we should do is add a `--domainname` flag or similar so that you explicitly set the `Domainname` field in the response.

[2016-10-20 14:58] rhatdan commented on #20859
I am not sure

[2016-10-20 15:11] busche commented on #19859
For the next ones having problems with an HTTP_PROXY on a systemd host, simply follow these instructions:

https://docs.docker.com/engine/admin/systemd/#/http-proxy

works!

[2016-10-20 15:14] pslestang commented on #26465
Same problem here using docker 1.12.2, after scaling down to 1 I randomly get timeout through nginx acting as a reverse proxy, even if I force request on docker host running the container.

[code]

[code]

[2016-10-20 15:17] yongtang commented on #27540
The issue is that in `/proc/[pid]/stat`, the `pos 2` is the filename which could contain space.
The following are two examples. The first one is the normal case and the second one is the problem encounter with `puckel/docker-airflow`

[code]

And `GetProcessStartTime` in `runc` didn't take that into consideration.

I created a PR in runc https://github.com/opencontainers/runc/pull/1136 to fix this

[2016-10-20 15:18] LK4D4 commented on #27540
@yongshin so, it's not a regression?

[2016-10-20 15:24] yongtang commented on #27540
@LK4D4 The `libcontainer/system/proc.go` has not been updated for quite some time. I don't know enough history of `runc` though.

I tend to think it might be something related to the changes in `libcontainer/container_linux.go` that caused the regression (if it is a regression).

[2016-10-20 15:25] LK4D4 commented on #27540
@yongtang thanks!
@justincormack would you mind to try runc patch?

[2016-10-20 15:34] justincormack commented on #27540
Will do.

It did seem to be a regression, but will check again, perhaps there were
other system differences.

On 20 Oct 2016 4:25 p.m., "Alexander Morozov" <notifications@github.com>
wrote:

[2016-10-20 16:00] donut87 commented on #27423
Unfortunately I cannot add information, I can only confirm the findings of @clns.

[2016-10-20 16:10] aboch commented on #27541
@the-nw1-group I am thinking your 3.10.x kernel is missing some modules needed to get the dataplane encryption work. Can you run the script https://github.com/docker/docker/blob/master/contrib/check-config.sh on your host and post the o/p. Thanks.

[2016-10-20 16:24] vasantivmahajan opened #27586 "How to open a port from a running docker conatiner"
I am running a docker container and I am running my image in the container. I need to connect to Jupyter notebook's web application in a browser. I am able to run the Jupyter notebook in docker but I am unable to run it in the browser. I assume it is because I have not exposed the port with which I am trying to access the notebook in the browser. However, I cannot rebuild my image from scratch, so

[2016-10-20 16:26] nsamala commented on #27237
Sorry, I should've updated this! I found that we were using Kong and I had unnecessarily published port 7946. This is what caused our issue as far as I can tell.

Only discovered this after starting a new swarm and turning services on one by one. Haven't had the problem since.

[2016-10-20 16:31] Zeychiel opened #27587 "Windows volumes : getting an "Invalid bind mount spec "...": invalid mode: \app." error"
**Description**
Hi,
I am running into troubles  trying to create a tinny container running Goang code. This used to work, but an error appeared after updating docker.
It seems like with Docker supporting Windows, the -v opt converts :/gopath which should be the destination, into something different.
Thanks for the advises,

**Steps to reproduce the issue:**
The command generating the error is :
do

[2016-10-20 16:36] justincormack commented on #27584
Hi, as this seems specific to Docker for Windows can you open the issue at https://github.com/docker/for-win/issues

[2016-10-20 16:37] msabansal commented on #26982
@sasiezilmadhavan Can you please post the output for following:

[code]

[2016-10-20 16:40] thaJeztah commented on #26465
@pslestang is your nginx proxy connecting to individual containers, or using the "service" as its upstream? Is it connecting to the upstream by name, by IP?

[2016-10-20 16:42] thaJeztah commented on #19237
Thanks @HariSekhon!

[2016-10-20 16:46] rayterrill opened #27588 "hcsshim::PrepareLayer failed in Win32: This operation returned because the timeout period expired. (0x5b4)"
**Description**

Repeatedly receiving "hcsshim::PrepareLayer failed in Win32: This operation returned because the timeout period expired. (0x5b4)" when trying to build images using "docker build" on Server 2016 (docker client/server version 1.12.2-cs2-ws-beta). Rerunning the build (sometimes multiple times) eventually allows the build to complete, but this is annoying. Note that this does not happ

[2016-10-20 16:48] thaJeztah commented on #21051
@sanmai-NL were you trying to ping @yoshiokatsuneo, or have a question? I think this question is answered in the linked issue, so probably should be closed, but let me know if there's something left to do 👍

[2016-10-20 16:51] justincormack commented on #27540
It is definitely a regression 1.12.1 vs 1.12.2, tested on Digital Ocean Debian VMs again.

[2016-10-20 16:55] prohonestdev opened #27589 "Cannot create container for service data: network www_default not found"
#docker -compose.yml

[code]

When run "docker-compose create", I can see above error(title).
Thanks

[2016-10-20 16:56] thaJeztah commented on #27237
@nsamala no problem, that's good news :smile:

[2016-10-20 17:00] justincormack commented on #27067
@cyphar reading the old issues again....

[2016-10-20 17:02] msabansal commented on #27529
@5245010 We only enabled port forwarding for nat. With NAT we forward the ports and unblock them in windows firewall. Port forwarding is not supported on other networks as windows doesn't have a mechanism to do this. As a result there is no mechanism to unblock ports in windows firewall on other networks. You will have to do it manually. We are thinking on how to enable it for other networks in fu

[2016-10-20 17:07] donut87 commented on #27423
I started a server using TCP and then tried to start docker again.
Here are my findings:

When I now try to pull something (like ubuntu) I get this:
[code]

Or if I start to run like the getting started section suggests, I get this:
PS C:\> docker -H tcp://127.0.0.1:2375 run -d -p 80:80 --name test nginx
Unable to find image 'nginx:latest' locally
latest: Pulling from library/nginx

[code]
After I

[2016-10-20 17:07] thaJeztah commented on #25432
@aaronlehmann IIUC, only the panic is fixed in SwarmKit, but not the main issue described here?

[2016-10-20 17:11] thaJeztah commented on #27063
ping @mrjana is this fix included in a cherry-pick for 1.12.3? #27559 ?

[2016-10-20 17:12] phillipma opened #27590 "Possible container privilege escalation: Docker 1.12.2 does not correctly apply user permissions in containers."
**Description**
Docker 1.12.2 does not correctly apply user permissions in containers.

**Steps to reproduce the issue:**

1. Create a Dockerfile as follows:
[code]
2. docker build --no-cache -t example .
[code]
3. docker run -u example -it example
[code]
**Describe the results you received:**
When a non privileged user is defined in the Dockerfile, the container, as expected, starts as a non priv

[2016-10-20 17:13] aaronlehmann commented on #25432
I believe the panic fix will also fix the issue described here. The panic leads to a deadlock and prevents other commands, including `swarm init --force-new-cluster` from worker.

[2016-10-20 17:16] thaJeztah commented on #27243
I'll go ahead and close this, but ping me if it's still an issue

[2016-10-20 17:16] #27243 closed

[2016-10-20 17:16] aaronlehmann commented on #27508
There is work underway to resolve the image digest automatically when creating the service, so that creating a service using the `busybox:latest` image actually inserts `busybox@sha256:29f5d56d12684887bdfa50dcd29fc31eea4aaf4ad3bec43daf19026a7ce69912` into the service definition. I think this would at least partially alleviate the need for this setting because there will never be a need to re-pull

[2016-10-20 17:16] crosbymichael commented on #18654
I think cgroup-parent solves these problems and does it much more robust without having to require some running container to share cgroups.  Too much overhead for what you can already do with cgroup-parent

[2016-10-20 17:16] #18654 closed

[2016-10-20 17:23] ryanwalls commented on #15360
FYI, this has already been done in #20639.  To get the individual binaries, download the release, e.g. https://get.docker.com/builds/Linux/x86_64/docker-1.12.2.tgz and unzip it.  Inside you will find `docker` which is the client and `dockerd` which is the engine as well as some other binaries.

You can get the latest releases here: https://github.com/docker/docker/releases.

[2016-10-20 17:25] PatrickLang commented on #27588
Do you have an example output from when it returned the error? What type of step was it on (ADD/RUN/...) ?

[2016-10-20 17:33] crosbymichael commented on #27540
@justincormack seems to be working on master for me

[2016-10-20 17:38] deanpeterson opened #27591 "Proxy with self signed cert causing hosts to not be found?"
I am behind a proxy server with a self signed certificate. I am able to reach docker.io/hub to fetch the latest centos image, but all other hosts seem to be unreachable. I had to set the proxy settings in /etc/sysconfig/docker and drop in the docker.io certificate chain downloaded from the browser into the docker certificate folder to even get that to work. Has anyone heard of this behavior, where

[2016-10-20 17:40] ldubrois commented on #27584
My mistake. It's done.
https://github.com/docker/for-win/issues/159

[2016-10-20 17:41] stevvooe commented on #27568
I've amended the description with the `config` with delete rootfs. Looks like the check there addresses this. I'm not sure if we need a better error message here.

[2016-10-20 17:42] crosbymichael commented on #27540
ok, on 1.12.2 it I can get the error but on master it works fine

[2016-10-20 17:46] xcellardoor commented on #27515
I've revisited this. I checked the filesystem on the Pi with FSCK and everything was fine. Still getting this error though:

-- Logs begin at Thu 2016-10-20 12:31:01 BST, end at Thu 2016-10-20 18:45:12 BST. --
Oct 20 18:40:45 pi3 systemd[1]: Unit docker.service entered failed state.
Oct 20 18:44:13 pi3 systemd[1]: Starting Docker Application Container Engine...
Oct 20 18:44:13 pi3 dockerd[2330]: t

[2016-10-20 17:55] tianon commented on #27157
See https://github.com/docker-library/cassandra/issues/56#issuecomment-243229646 / https://github.com/docker-library/cassandra/pull/77#issuecomment-245118336 :+1: (being discussed downstream)

[2016-10-20 17:59] yongtang commented on #27540
@crosbymichael I am still seeing it on master, don't know if it is because of the `runc` version (I am not very familiar with docker and runc interaction):
[code]

[2016-10-20 18:05] crosbymichael commented on #27540
@yongshin ok, i think i understand the problem now.  Thanks for your PR. I'm reviewing it now.

[2016-10-20 18:06] emzeidan opened #27592 "docker inspect --format .NetworkSettings.Ports doesn't work in Windows"
Hi team,

I am a Support Engineer from Atlassian and I'm working with a customer on an issue.

The following `docker inspect` command consistently does not seem to work on Windows:
`docker.exe inspect --format='{{(index (index .NetworkSettings.Ports "3000/tcp") 0).HostPort}}' $INSTANCE_ID`.

The command returns the following error:

In https://github.com/docker/toolbox/issues/433, there was a sugg

[2016-10-20 18:17] ManoMarks commented on #25893
Sorry just got back to the computer I hit the problem on. This is the version info:
[code]

[2016-10-20 18:24] mstanleyjones commented on #26017
Thanks @thaJeztah, we already do caution against losing quorum on a swarm. @aaronlehmann , which of the steps above are appropriate for adding to official docs for troubleshooting? Obviously a small cluster with an even number of nodes is bad news when using RAFT consensus.

[2016-10-20 18:36] tswift242 commented on #26451
Any updates on this?

[2016-10-20 18:41] #22332 closed

[2016-10-20 18:47] rogaha commented on #27157
@mrjana can you please confirm if the latest changes on `swarmkit` will fix this `multiple IPs` issue (https://github.com/docker/swarmkit/pull/1600)?

[2016-10-20 18:52] crosbymichael commented on #27540
Ok so https://github.com/opencontainers/runc/pull/1136 does fix this issue.  The regression is that we call `container.Status()` on exec, state, etc in runc with the vendored version that was included in 1.12.2.

The problem is that the parsing logic did not account for the space inside the `()`.  The bug was not a regression but a long standing issue that was always there just uncovered by the fa

[2016-10-20 19:05] mrjana commented on #24637
@chanwit Please do try and let us know.

But @sanimej I think we still need https://github.com/docker/libnetwork/pull/1494 for a deterministic behavior on how a container discovers its own IP address in a multi-network attachment scenario.

[2016-10-20 19:16] deanpeterson commented on #27591
Unfortunately I have tried every combination of putting the proxy settings in the container and Dockerfile as well. I did try: docker build --build-arg HTTP_PROXY="username:password@proxy.ourproxy.rtg:9090"; --build-arg HTTPS_PROXY="password:username@proxy.ourproxy.rtg:9090"; . and I get the same timeout.

[2016-10-20 19:16] rayterrill commented on #27588
Here's the latest one I have from a COPY step:
 ---> 997ff512f70b
Step 5/6 : COPY *.xml C:/Program Files (x86)/Jenkins/
hcsshim::PrepareLayer failed in Win32: This operation returned because the timeout period expired. (0x5b4) layerId=9f4bf
27ac6591304a75fa4618cd42c57da195f75286afb5d317c661ae9c0fb0b flavour=1

I know it's also failed in a RUN and ADD steps as well, but that layer is currently cach

[2016-10-20 19:21] tswift242 opened #27597 "Container running on user-defined Docker network can't resolve external hosts after being restored from checkpoint"
**Description**

When I run a container on a user-defined Docker network, and then C/R that container, the container is unable to resolve external hosts post-restore. It is able to resolve external hosts before the checkpoint. Additionally, if I use the default docker0 network instead of a user-defined network, external hosts resolve post-restore. There isn't really anything special about the user

[2016-10-20 19:24] aluzzardi opened #27598 "Support for `docker network update `"
Networks don't support updates. While this makes sense for the most part (it's impossible to change a driver midway), there are some fields which would be harmless to update such as labels.

There's also some other fields which could be considered such as `attachable`.

/cc @diogomonica @mrjana @mavenugo

[2016-10-20 19:26] sanimej commented on #24637
@mrjana Agree. We still need [libnetwork #1494](https://github.com/docker/libnetwork/pull/1494). But if this issue is fixed in 1.12.2 it doesn't have to be tied to 1494.

For the multi-network attachment case one option is to use the lexicographic order of the network name to pick the IP to be listed in the hosts file. Or the cleaner option would be to introduce the priority as a first class confi

[2016-10-20 19:36] sanimej commented on #27598
Network update is requirement to support per network encryption. We can then expose the UX for other options that makes sense.

[2016-10-20 19:36] mrjana commented on #24637
@sanimej I guess what I am saying is at the very least we should not add the `ingress` network IPs into /etc/hosts. We haven't fixed that yet in 1.12.2. Without that this might still be an issue.

[2016-10-20 19:37] xcellardoor commented on #27515
Nevermind! Fixed it. Uninstalled Docker, rm -rf'd the /var/lib/docker folder, reinstalled and it is working. Something must have gotten screwed up due to past installations or attempted installations.

Closed :+1:

[2016-10-20 19:42] se7enack commented on #24220
This is a show-stopper for our adoption. Our in-house network is 10.255.0.0/24 with subnets:
10.255.1.0/16, 10.255.2.0/16, 10.255.3.0/16, etc. Docker services work great when we ported over our product however nothing is routable from the swarm to our internal resources, such as our internal DBs, DNS, and internet gateway. There needs to be a way to change the ingress network. Is this on the roadm

[2016-10-20 19:51] estesp commented on #20191
I have attempted to solve this via PR #27599.  I do not have a system capable of testing this, although I have been able to test that the calls to `getent` work appropriately (by forcing that path specifying users and groups that don't exist locally).

Is anyone on this issue stream able to test this PR and validate? That would be awesome!

[2016-10-20 19:53] r2evans opened #27600 "sentiment-filtering on container names?"
The name-generation engine is good at mitigating the chances of collisions and for providing memorable names to otherwise-unnamed containers. This one today caught my eye:

[code]

Namely, the name `backstabbing_stallman` is a little funny and can be seen as "bite the hand that feeds me" when used in FOSS (though I recognize this is not GPL). The odds of this one coming up one are 1 in over 10k (a

[2016-10-20 19:54] l33 commented on #20971
How does the example differ from simply calling `true` in the shell? Docker does not exit in that case. It also does not exit if it was called using `bash` instead of `su`. How does that make a difference? @thaJeztah , could you please explain?

[2016-10-20 19:54] xeor commented on #23971
@aboch thanks..

https://github.com/docker/docker/issues/21776 is about defining something like `--net-cdir=10.1.0.0/8 --net-size=24` as options when starting the daemon. That would solve this issue.

As a "fix" in the meantime as you mentioned; using --subnet.
This creates 50 networks without issues: `for i in {1..50}; do docker network create --subnet=172.28.${i}.0/24 test_${i}; done`

[2016-10-20 20:00] stevvooe commented on #27508
The pull policy is controlled by using image digests.

| Policy | Description |
+-------+-----------+
| `always` | image with no digest |
| `missing` | Does this no matter what, not very useful in a cluster if image is already pulled |
| `never` | Doesn't make sense. How would get the image their in the first place? |

The main issue with such an approach is that you're likely to have different im

[2016-10-20 20:00] #27508 closed

[2016-10-20 20:02] se7enack commented on #24220
It would be very helpful if there were an init option for ingress:

docker swarm init --ingress 10.1.0.0/16

[2016-10-20 20:23] samuelkarp commented on #27362
@thaJeztah Thanks for pinging me!

@jamiethermo The log driver allows selecting the stream name from the container ID, a log-opt specified on the daemon, or a log-opt specified as part of `docker run` (i.e., you can explicitly specify the stream name when you launch the container).  https://github.com/docker/docker/pull/25633 is a pull request adding the feature of specifying the stream name from

[2016-10-20 20:29] stevvooe commented on #25069
@sebgie `POST /services/create` is going to have no idea whether or not the service is actually schedulable. As long as it is valid, it is going to accept it and try to schedule it when resources are available.

The way to detect this condition is to look for tasks that are stuck in the `ALLOCATED` or `PENDING` state.

We are making part of this change in https://github.com/docker/swarmkit/issues/

[2016-10-20 20:32] aaronlehmann commented on #25069
We recently merged a PR in swarmkit that annotates unschedulable tasks with the reason they cannot be scheduled: https://github.com/docker/swarmkit/pull/1610

[2016-10-20 20:45] alexmavr commented on #27508
I'll agree that digests are a better approach if they are applied by default, but just to convey the use case around "never":

In clusters with no access to a registry, an operator would want to manually pre-load images to each individual node. In that case, if the image is not present on a node, then it would be helpful if the task failed immediately rather than try to connect to an unavailable r

[2016-10-20 20:54] samuelkarp opened #27601 "Docker Remote API does not respond to pre-1.20 request for inspect correctly on Windows"
**Description**

The Docker Remote API response to `GET /containers/(id or name)/json` changed in version 1.20 and 1.21 from prior versions, changing the location of some fields.  Docker attempts to maintain compatibility by dispatching to [a versioned function](https://github.com/docker/docker/blob/v1.12.2/daemon/inspect.go#L16-L27), which functions properly [on Linux](https://github.com/docker/d

[2016-10-20 21:01] emzeidan commented on #27592
Hi team, a quick update from our side. From our testing, it looks like escaping the internal quotes might work:
`docker.exe inspect --format='{{(index (index .NetworkSettings.Ports \"3000/tcp\") 0).HostPort}}' $INSTANCE_ID`

Thanks!

[2016-10-20 21:02] dalefwillis commented on #24862
+1

`--cap-add` would be a huge help!

[2016-10-20 21:03] michaelkrog commented on #26523
And now after approx 15 hours of setting up my cluster the proxy service is not able to connect to any instances of my previsto-site service anymore – not matter what not the instances resides on.

Scaling the services up/down does no longer fix the issue.

[2016-10-20 21:04] wallnerryan commented on #23767
+1 ran into this as well cc @cpuguy83
[code]

[2016-10-20 21:06] gopinatht opened #27602 "Docker not installing on Ubuntu Trusty on Vagrant"
Description:
-------------
I am trying to install install docker with the following command:
`wget -qO- https://get.docker.com/ | sh`

This is on a Ubuntu Trusty AMD64 machine. However, I get the following error for it:
`W: Failed to fetch https://apt.dockerproject.org/repo/dists/ubuntu-trusty/main/binary-amd64/Packages  gnutls_handshake() failed: A TLS packet with unexpected length was received.`

[2016-10-20 21:25] davvdg opened #27603 "Set always used build argsome"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2016-10-20 21:25] davvdg opened #27604 "Set always used build argsome"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2016-10-20 21:25] #27604 closed

[2016-10-20 21:33] aaronlehmann commented on #26017
I think the most important thing is that people not use `docker node rm --force` to forcefully remove managers. We have safeguards in place to prevent people from losing quorum by running docker commands. However, `--force` overrides those safeguards.

[2016-10-20 21:38] pslestang commented on #26465
The nginx is a standalone VM outside of the docker cluster and here is the following upstream configuration:

[code]

Here is how we create the service:

`docker service create -p 9003:9003 --name stats_api --replicas 1 --with-registry-auth registry/stats.api:4.0.0
`

Then we scale up the service:

`docker service scale stats_api=3
`

And scale down:
`docker service scale stats_api=1
`

[2016-10-20 21:39] davvdg opened #27605 "Set "always used build arg" in the (daemon) configuration file"
I'm tired to have to set the http_proxy through build arg everytime I run a build. We should be able to set environment variables that are specific to our local build scenario but generic enough to be used all the time (and of course, should not be in the dockerfile) in a configuration file.

[2016-10-20 21:43] tophj-ibm commented on #26601
I uploaded the docker.log from a failing test here https://gist.github.com/tophj-ibm/bc0c53c9a85758e2de9c3125ecdc6f4a. I can see various tasks trying to start and then proceed to fail, but I'm not entirely sure what I'm looking at yet. Comparing against a passing version and those failures aren't there.

[code]

[2016-10-20 21:50] thaJeztah commented on #26523
ping @mrjana

[2016-10-20 22:01] mlaventure commented on #20971
@l33

Actually it's my fault, didn't read your example correctly when we were discussing it.

It seems to still occur on master, reopening.

[2016-10-20 22:03] riyazdf commented on #27590
Hi @phillipma, thanks for bringing this to our attention.  We've reproduced this internally and are preparing a fix for a 1.12.3 release.

It appears that there was a misconfiguration for ambient capabilities that were brought in with [this runc commit](https://github.com/opencontainers/runc/blob/02f8fa7863dd3f82909a73e2061897828460d52f/libcontainer/capabilities_linux.go#L13), so this is an issue

[2016-10-20 22:12] mlaventure commented on #20971
The issue seems to only occur when the entrypoint is `su`

[2016-10-20 22:32] jdfless opened #27607 "docker ps hangs and does not log on docker 1.12.2"
**Description**
We run many services with docker and kubernetes in a cluster. On upgrading to docker 1.12.2, we saw that `docker ps` on about 25% of the hosts was hanging. docker also stops logging when this is occurring, and we see error logs in the kubelet of the affected host. The goroutine stack traces I have attached below should have the most relevant info to diagnosing this issue.

**Steps

[2016-10-20 22:33] va1en0k commented on #27430
@sanimej I realized that it might be quite pertinent that I'm running `ufw`.

It wasn't a problem for the other containers to connect outside anyway.

Adding a rule to `ufw` like `Anywhere                   ALLOW       172.18.0.0/16` didn't work.

Disabling `ufw` didn't make it work, and even disabling it and rebooting didn't make it work.

So I guess `ufw` is not the problem.

The docker's settin

[2016-10-20 22:39] va1en0k commented on #27430
So right now, the `ufw` is disabled, the system is "clean" because I rebooted the server after disabling `ufw`, but the internet is inacessible from the container in the overlay network.

Just in case, I'll add some more info about the system:

    $ sysctl net.ipv4.conf.all.forwarding
    net.ipv4.conf.all.forwarding = 1

[code]

[2016-10-20 22:56] va1en0k commented on #27430
Okay, I got it now. I enabled `--iptables` for the docker engine, rebooted, and the connectivity works.

However I want to run `ufw` anyway, and to use it for the docker-managed traffic too. Is there a way to do it? I already have `DEFAULT_FORWARD_POLICY="ACCEPT"` and it's been that way all the time but that seems not enough.

[2016-10-20 23:03] thaJeztah commented on #20971
@mlaventure is this one of the issues `gosu` resolves? https://github.com/tianon/gosu

[2016-10-20 23:03] mstanleyjones commented on #25069
Doc improvements: https://github.com/docker/docker.github.io/pull/297

[2016-10-20 23:03] mstanleyjones commented on #26017
Doc improvements: https://github.com/docker/docker.github.io/pull/297

[2016-10-20 23:17] mlaventure commented on #20971
@thaJeztah using `gosu root:root bash -l` seems to indeed work properly

ping @tianon

[2016-10-20 23:18] va1en0k commented on #27430
Those helped (with `ufw` enabled and `--iptables=false`):

        sudo iptables -t mangle -A FORWARD -i docker0 -o eno1 -j ACCEPT
        sudo iptables -t mangle -A FORWARD -i docker_gwbridge -o eno1 -j ACCEPT

I hope I'm not making the system less secure. I'm sorry for bothering you. I hope our comments in this issue will be helpful to others.

[2016-10-20 23:23] stevvooe commented on #27508
@alexmavr How does one get images to the node in the first place? Even with a private registry, one must pull.

[2016-10-20 23:28] k-bx commented on #22260
The thing is, I can't remove that file. And lsof doesn't show any user of that file. I suspect [this kernel bug](https://bugzilla.kernel.org/show_bug.cgi?id=73361) so I just did `sudo apt-get install linux-image-generic-lts-xenial` on my 14.04, hoping it'll help.

[2016-10-20 23:29] blaines commented on #22701
I ran into this issue today. The messaging was unclear and it was not apparent that the dm.basesize had a default, or that this variable was the cause of my problem. My disks had plenty of storage and inodes to download the image, yet the limit here was prohibiting me from doing so.

[code]

[2016-10-20 23:32] alexmavr commented on #27508
@stevvooe `docker load` from a vendor-distributed tarball

[2016-10-20 23:33] #25432 closed

[2016-10-20 23:33] #27208 closed

[2016-10-20 23:33] #27382 closed

[2016-10-20 23:33] #27390 closed

[2016-10-20 23:33] #27469 closed

[2016-10-20 23:33] #27486 closed

[2016-10-20 23:33] #27188 closed

[2016-10-20 23:47] aboch commented on #24637
@chanwit @doxxx @sanimej @mrjana
I can reproduce the issue with 1.12.2 quite easily. And confirmed again the libnetwork change fixes it.
@doxxx Reason it may have worked for you could be because both master and worker happened to pick an IP from the same network.

[2016-10-20 23:47] stevvooe commented on #27508
@alexmavr Ok, please submit a PR to swarmkit a field `Disable` on `PullOptions`.

[2016-10-21 00:02] littlexiaoxiao commented on #22734
Error response from daemon: Unable to remove filesystem for aa12931c4c490c075466bcb320de3f4bfdecd7b2067bcf4ac66dafb9681c8758: remove /var/lib/docker/containers/aa12931c4c490c075466bcb320de3f4bfdecd7b2067bcf4ac66dafb9681c8758/hostconfig.json: read-only file system

[2016-10-21 00:02] littlexiaoxiao commented on #22734
Error response from daemon: Unable to remove filesystem for 402c146746aed410590159a00d17db666d9de0a80679d772ce1a34b475aab913: remove /var/lib/docker/containers/402c146746aed410590159a00d17db666d9de0a80679d772ce1a34b475aab913/hostconfig.json: read-only file system

[2016-10-21 00:02] crosbymichael commented on #27484
@gaocegege

If you are still interested in working on this I think the best approach is to change the logic here:

https://github.com/opencontainers/runc/blob/master/libcontainer/configs/validate/validator.go#L128

There are two checks we can make for seeing if the user specified the host namespace.

1.  The Namespaces list does not have the NEWNET struct added to it
2. If it does have a NEWNET st

[2016-10-21 00:07] vieux commented on #27517
@stevvooe do you have a term in mind ?

[2016-10-21 00:13] doxxx commented on #24637
@aboch That's odd because I was able to reproduce it quite easily before 1.12.2, and when I was testing it with 1.12.2 I scaled up & down the number of worker instances multiple times without issues.

In fact, I just tested it again and it's working:

![image](https://cloud.githubusercontent.com/assets/677940/19582337/960aa444-9701-11e6-8d88-24b2d032a68d.png)

[2016-10-21 00:19] walked opened #27612 "Docker Swarm - Multiplatform Containers Will Not Start in Windows Server 2016"
**Description**

In a two node scenario (as simple as I can make it) with a linux swarm manager node, and a Windows Server 2016 worker node: when starting linux containers, published ports are made available to swarm services. Services published that utilize Windows containers will only start without published ports; if there is a published port the container will NOT start (in fact, never even ge

[2016-10-21 00:21] doxxx commented on #24637
These are the scripts I used to create the swarm and services. The services use a non-public Spark image unfortunately, so it may be difficult to re-use these directly.

https://gist.github.com/doxxx/e958f0897fc6bbc8458af293bf526d3b
https://gist.github.com/doxxx/3f0266e14b603a94b7dade778da14c23

The proxy service is a simple nginx proxy configured so that I can load http://manager-node-ip:80/spark

[2016-10-21 00:22] aboch commented on #24637
@doxxx I am using the commands from this issue. Are you using the same images ?
In my case the the UI shows IP addresses and not the hostnames. Not sure if relevant.

![screenshot from 2016-10-20 17-17-56](https://cloud.githubusercontent.com/assets/10080882/19582463/66b3a514-96e9-11e6-89d3-b43ab18910d7.png)

[2016-10-21 00:28] walked commented on #27612
Additionally; if after a windows container is brought up (without publishing a port), executing:
`docker service update --publish-add ### contId`
Will immediately cause the container to exit on the windows worker

[2016-10-21 00:32] stevvooe commented on #27517
@vieux I was think `Config`, but I think that may be reserved for user configuration of a plugin. I would suggest `PluginSpec` or `PlugDescription` but I am not sure how this would be used.

[2016-10-21 00:32] nishanttotla commented on #27173
@nathanleclaire I managed to reproduce this on 1.12.2 on Ubuntu 16.04, so this seems like a legitimate issue. `docker info` reports the updated hostname correctly, but not `docker node ls` or `docker node inspect`. It does seem like hostname is not being picked up by SwarmKit, I'll look into it.

[2016-10-21 00:38] vielmetti opened #27614 "contrib/mkimage-alpine fails on aarch64 (ARMv8) with "segmentation fault""
Using "contrib/mkimage-alpine.sh", alpine fails to build on aarch64 (ARMv8) with "segmentation fault". Docker 1.12.1, Ubuntu 16.04, linux/arm64 (aarch64, ARMv8).

**Steps to reproduce the issue:**
1. Build Docker 1.12.1 from source.
2. cd contrib
3. sudo ./mkimage-alpine.sh

**Describe the results you received:**

[code]

**Describe the results you expected:**

Expected alpine to build

**Addition

[2016-10-21 00:38] aboch commented on #24637
@doxxx

Ok, I think that may explain the difference

In my case, I am just reusing the commnands originally listed in the issues's description as is.

[2016-10-21 00:45] lukewaters commented on #13381
@DavidObando

A clarification on your scenario, did you spin up an ubuntu VM then independently install docker on that machine, or are you using the VM that is automatically deployed and configured when you install the docker tools for windows?

I'm doing the latter (automatic config) and I'm running into this network issue but when I try to connect to MobyLinuxVM through HyperV I'm unable to inte

[2016-10-21 00:49] nishanttotla commented on #27173
I think I found the root cause. Getting errors in the logs that indicate that the node update isn't working, because an updated description is never found:
[code]
The error originates here
[code]
The error indicates an HTTP response to HTTPS client. Figuring out why this is happening.

[2016-10-21 00:54] aaronlehmann commented on #27173
@nishanttotla: Are you using go 1.6? There was a problem in the vendored version of the Docker API client that only shows up with versions of go below 1.7. It has since been fixed in Docker master.

I assume you're running swarmd/swarmctl? I don't think this error happens with Swarm mode in Docker since it doesn't use the Docker API to communicate with the daemon.

[2016-10-21 01:00] nishanttotla commented on #27173
@aaronlehmann I am using go 1.6, but trying with 1.7 now to see if the issue goes away. Unfortunately, the issue does seem to happen with Swarm mode in Docker, with the following version:
[code]
I'm making sure that the hostname is set correctly through SwarmKit.

[2016-10-21 01:02] thaJeztah commented on #27423
@donut87 if you're running Native Windows Containers, the images you pull / try to start, must be Windows based. The "ubuntu" image is a Linux OS image, so not available as a Windows image. Docker for Windows (https://docs.docker.com/docker-for-windows/) allows you to switch between "Native Windows Container", and "Linux Containers". Pick "Linux Containers" if your intent is to run Linux based ima

[2016-10-21 01:12] thaJeztah commented on #27603
looks like this was opened accidentally

[2016-10-21 01:12] #27603 closed

[2016-10-21 01:15] thaJeztah commented on #27600
:smile: that line always makes me smile. You may be interested in a little pet-project called ["Docker Who"](https://github.com/cpuguy83/docker-who).

Let me close this issue, but thanks for sharing!

[2016-10-21 01:15] #27600 closed

[2016-10-21 01:20] nishanttotla commented on #27173
Also, something is really strange:
[code]
`newtestletONE` was an old hostname, the current one is `newtestletFOUR`

[2016-10-21 01:27] thaJeztah commented on #27614
/cc @justincormack @tianon

[2016-10-21 01:43] #21094 closed

[2016-10-21 02:01] gaocegege commented on #27484
re @crosbymichael

Yeah, so we change the logic in runc and update https://github.com/docker/docker/blob/master/hack/dockerfile/install-binaries.sh#L6, right?

I will open a PR, if I have some problems, could I ask you for help?

😄

[2016-10-21 02:22] tjliupeng commented on #26935
I also get this issues. The /var/lib/docker occupies 16G and no more containers can be created.

`[root@itsma-kuber-node1 ~]# df -h /var
Filesystem               Size  Used Avail Use% Mounted on
/dev/mapper/centos-root   44G   44G  774M  99% /
`
[code]

[2016-10-21 02:32] erikh commented on #27393
I think github's mail system died, so I'll echo my thoughts directly into the form, hopefully they do not deliver duplicates later, sorry in advance.

I think I see part of the problem. I agree, it's confusing behavior at best, but I think it's exposing a breakout of the context so I wanted to explain.

I tried this for giggles with the repo @ https://github.com/erikh/box:

[code]

https://github.

[2016-10-21 02:32] thaJeztah commented on #26935
@tjliupeng you're reporting with a different graph driver (overlay), which is not related to this issue. Also note that /var/lib/docker stores more than images and containers (also log files, volume) which can take up space

[2016-10-21 02:35] thaJeztah commented on #26935
anyway, I'm closing this issue as we didn't get more information from the original reporter, and it's likely there's no bug here.

Note that for docker 1.13, we're adding data management commands to make cleaning up unused things easier

[2016-10-21 02:35] #26935 closed

[2016-10-21 02:36] thaJeztah commented on #21094
see https://github.com/docker/docker/issues/27564 :smile:

[2016-10-21 02:39] thaJeztah commented on #27393
@tonistiigi did some testing, and may be able to add more info there

[2016-10-21 02:41] TimurKiyivinski commented on #27441
The issue appears to be cause by firewalld. It worked on my personal computers that didn't use firewalld. Seems to be solved by switching to iptables, which is **not** of course an optimal solution.

[2016-10-21 02:47] erikh commented on #27393
Unsure if it's useful, but I've been using this in my path handling code on my own projects (could replace 249-251)

[code]

[2016-10-21 02:54] olalonde commented on #15771
I'm not sure I understand what the use case is but wouldn't just touching the files to exclude before COPY solve the problem?

[code]

AFAIK `COPY` doesn't overwrite file which is why I think this might work.

[2016-10-21 02:56] thaJeztah commented on #27441
Did you start the docker service _after_ the firewalld service? Firewalld is known to ignore rules set by docker, and wipe them

[2016-10-21 03:01] TimurKiyivinski commented on #27441
Just tested starting Docker after firewalld, the DOCKER chain exists in iptables but containers are still not able to access each other's ports in an internal network.

[2016-10-21 03:01] bridgeunions commented on #27576
thank you for reply,it's also weird if I limit memory <=3g then the host down， when I increase it >= 4g then every thing is ok.
when I search the error,I found this link https://bugs.schedmd.com/show_bug.cgi?id=2846, it looks like they are similar

[2016-10-21 03:23] DavidObando commented on #13381
Hey @lukewaters! Glad to hear the issue went away for you.

I'm talking about an Ubuntu VM I set up myself (in Hyper-V) and within this Ubuntu VM I'm running both the docker daemon and the docker client (Linux).

[2016-10-21 03:40] zhangyongsu commented on #26942
docker version:

[2016-10-21 03:40] tianon commented on #27614
Heh @vielmetti this is the same root cause as the issue you reported over at https://github.com/tianon/jenkins-groovy/issues/15 :smile:

(Namely that Alpine's `apk-static` binary from `edge` seems to segfault on `armhf` and `aarch64` ATM)

[2016-10-21 03:41] olalonde commented on #15771
Oops, never mind that, looks like `COPY` actually overwrites files. I'm now a bit puzzled by https://nodejs.org/en/docs/guides/nodejs-docker-webapp/ which npm installs and then does a `COPY . /usr/src/app`. I guess it assumes that `node_modules` is dockeignored?

[2016-10-21 03:52] zhangyongsu opened #27619 "userns-remap && overlay2 remove /usr/share/doc/ files Operation not permitted"
**Description**
I started a dockerd as:
/usr/bin/dockerd -H fd:// --userns-remap test --storage-driver=overlay2
when I run debian:latest image , can not remove those files in /usr/share/doc/ :

[code]

files seem can be remove by root in container.

I test without --userns-remap , remove /usr/share/doc files are ok,
without --storage-driver=overlay2 , remove /usr/share/doc files are ok, too.

**St

[2016-10-21 04:30] vielmetti commented on #27614
Thanks @tianon - I guess I'm getting closer to the problem because it's happening on my own machine. I was able to grab the apk.static binary and get a version number so we know at least what we're up against.

[code]

I was able to identify http://git.alpinelinux.org/cgit/apk-tools as the source, and there's a diff at http://git.alpinelinux.org/cgit/apk-tools/commit/?id=06ae5fdfdccd0c8e6d5501d936

[2016-10-21 04:32] bronger commented on #15771
FWIW, I find this very ugly.

[2016-10-21 04:36] thaJeztah commented on #27614
Also /cc @ncopa :+1:

[2016-10-21 06:15] fustbariclation opened #27623 "Push restarts from scratch after timeouts"
**Description**

Push restarts from scratch after timeouts. This means my pushes take several days to complete. If only, when it restarts, it could continue from where it was with a partially uploaded chunk, it would complete after only a few re-tries.

Even worse. With the example below, the chunk 92313c584362 often gets to the stage were it says 'Pushed'... but, when it restarts, it forgets this

[2016-10-21 06:19] thaJeztah commented on #27623
Thanks for reporting! This is a duplicate of https://github.com/docker/docker/issues/4872, you can subscribe to that issue to stay informed on updates

[2016-10-21 06:19] #27623 closed

[2016-10-21 06:32] #27584 closed

[2016-10-21 06:35] thaJeztah commented on #27607
Ping @mlaventure @tonistiigi @cpuguy83

[2016-10-21 06:39] thaJeztah commented on #26451
Looks like this is the PR implementing this https://github.com/docker/docker/pull/26709

[2016-10-21 06:41] thaJeztah commented on #27571
/cc @tonistiigi @dmcgowan

[2016-10-21 07:07] thaJeztah commented on #27586
Please keep in mind that the github issue tracker is for reporting bugs and feature requests, and is not a general support forum. Consider using;

- forums.docker.com
- the #docker IRC channel on freenode
- StackOverflow

For questions on running docker

Since this is not a bug, or feature request, I'll close this issue here

[2016-10-21 07:07] #27586 closed

[2016-10-21 07:20] thaJeztah commented on #27591
Can you add the output of `docker info` and `docker version`? Based on the mention of `/etc/sysconfig/docker`, I suspect you're running the Red Hat fork of Docker. For the official packages, setting up a proxy can be done through systemd drop in files; https://docs.docker.com/engine/admin/systemd/#/http-proxy

However, I'm not sure that's sufficient if you're behind a MITM proxy, also, it may be d

[2016-10-21 07:22] hqhq commented on #27045
Hi all, thanks to the information from @tophj-ibm and @vielmetti , I was able to build deps for trusty, I've push a PR https://github.com/docker/docker/pull/27625 , tests and feedbacks are welcome.

[2016-10-21 07:23] thaJeztah commented on #27573
Looks like there's an error in the JSON you're sending, as @justincormack mentioned. This is not a bug, so I'll close this issue, but feel free to continue the discussion

[2016-10-21 07:23] #27573 closed

[2016-10-21 07:33] aluzzardi commented on #27208
Should this be closed?

The PR closing this is bumping vendoring on master, I'm afraid we'll forget to cherry pick

[2016-10-21 07:34] the-nw1-group commented on #27541
Here's the output from dev01:

[code]

and here's the output from tst01:

[code]

Thanks.

[2016-10-21 08:39] leth opened #27626 "Intermittent hang with docker exec near container exit"
We intermittently see `docker exec ...` hanging when we use it near container process exit.
We see this both [with the python SDK](https://github.com/docker/docker-py/issues/1269) and the cli tool.

**Steps to reproduce the issue:**

Run this test harness for a while:

[code]

**Describe the results you received:**
Eventually hangs

**Describe the results you expected:**
Should not hang

**Output

[2016-10-21 08:58] graingert commented on #14080
@rhatdan do you have a link to it?

[2016-10-21 09:06] kekbur opened #27627 "Docker daemon gets stuck on startup"
**Description**

After upgrading to the latest version, Docker engine gets stuck on startup. The following is written in /var/log/daemon.log.

[code]

**Steps to reproduce the issue:**
1. sudo service docker start
2.
3.

**Describe the results you received:**
dockerd process starts, produces the error messages in the log, does not exit, does not accept connections.

**Describe the results you expe

[2016-10-21 09:40] yoshiokatsuneo opened #27629 "Failed to bind-mount /sys/fs/cgroup when user namespace is enabled."
**Description**
Starting a container with mouting /sys/fs/cgroup failed if user namespace is enabled.
There is no problem if I disabled the user namespace.

**Steps to reproduce the issue:**
1. Start docker daemon with user namespace like:

[code]
1. Run following command to start a container.

[code]

**Describe the results you received:**
Error messages:
(operation not permitted)

[code]

**Desc

[2016-10-21 09:54] dsheets commented on #27393
@erikh symlinks are resolved prior to path relativization and context-escape checking. On Linux, the kernel creates a symlink chain `/dev/stdin -> /proc/self/fd/0 -> /path/to/file/redirected/with/shell`. `../../../../../../dev/stdin` is handled correctly. I don't see any context escape.

[2016-10-21 10:02] debbabi commented on #6999
+1

[2016-10-21 10:03] sebgie commented on #25069
@stevvooe thank you for the explanation!

Just to make sure I understand that correctly. As `service/create` doesn't provide a status for successfully scheduled containers I need to repeatedly query the task status and if it is stuck on `Allocated/Pending` for a certain amount of time I can assume that something went wrong and trigger the appropriate escalation steps (alert ops, start a new node,

[2016-10-21 10:16] justincormack commented on #27629
Can you test on 1.12.1?

[2016-10-21 10:47] justincormack commented on #27619
Simpler repro is just : `docker run debian rm -rf /usr/share/doc`

[2016-10-21 10:49] demaniak commented on #27045
Awesome! I'll give it a test asap (earliest will be this evening).

[2016-10-21 10:50] justincormack commented on #27619
cc @estesp

[2016-10-21 10:52] justincormack commented on #27619
Does not happen on `aufs`.

[2016-10-21 10:55] justincormack commented on #27619
cc @dmcgowan as overlay related

[2016-10-21 11:33] arcanosam commented on #20022
Having the same problem.

I could make it work giving 'sudo bash'
and use the same command in docs without 'sudo'  like @AndreFelipeMachado

[2016-10-21 11:40] rhatdan commented on #14080
@runcom Do you have the link?

[2016-10-21 12:18] Snorch opened #27632 "swarm init segmentation fault"
**Description**
While running "docker swarm init" one of the processes of docker daemon gets SIGSEGV.

**Steps to reproduce the issue:**
1. Run docker daemon with gdb: "gdb --args dockerd -D -s devicemapper".
2. (gdb) run
3. In other terminal session do: "docker swarm init --advertise-addr $IP"

**Describe the results you received:**
Docker daemon gets segfault:

    DEBU[0406] Assigning addresses

[2016-10-21 12:27] vielmetti commented on #27045
I'll give it a try as well once this morning's DNS issues settle down. https://www.dynstatus.com/incidents/nlr4yrr162t8

[2016-10-21 12:37] deric opened #27633 "Systemd 215 does not support delegate=yes"
[code]

Debian Jessie 8.5 ships with systemd 215:

[code]

Prior to systemd 218 `delegate` flag is not supported. The change was introduced in f484e78766df3ae51a2c92290210c18de55a014a to fix #20152.

Is it possible to update systemd packages for Debian (I guess same issue applies to CentOS, RedHat)?

[2016-10-21 13:14] tswift242 commented on #26451
@thaJeztah https://github.com/docker/docker/pull/26709 is related and would be great to get in, but I think this issue is about something slightly different. I believe it was about move the default checkpoint storage location to start moving towards the vision of decoupling checkpoints and containers, in order to support more use cases out of the box, such as cloning. @mlaventure is this correct?

[2016-10-21 13:27] burningTyger commented on #15341
For me it's somehow related to running the Arch airvpn-client "eddie". Rebooting fixes it before I run the client again.

[2016-10-21 13:36] mschwartz commented on #27626
I have had frequent issues shutting down containers.  The daemon goes away and I have to kill all the processes or factory reset docker to use docker again.

[code]

[2016-10-21 13:39] justincormack commented on #27632
cc @aboch PTAL

[2016-10-21 13:42] mschwartz opened #27635 "Docker (docker-compose up) containers and docker crashes"
I have been seeing docker containers crash.  It seems to be happening after some amount of I/O.  This mongo container started by `docker-compose up` ran for part of the night and stopped on its own.  See the terminal window output.  I was asleep when it crashed, so it wasn't something that I was actively doing.

[code]

Output of docker version:

[code]

[2016-10-21 13:43] mschwartz commented on #27635
The docker-compose.yml file:

[code]

[2016-10-21 13:44] mschwartz commented on #27635
Dockerfile:

[code]

[2016-10-21 13:44] justincormack commented on #27591
Looks to me like there may be an issue with your proxy config, but it is a bit unclear. If you are MITM https as well you will need to trust the CA as well.

[2016-10-21 13:45] sasiezilmadhavan commented on #26982
@msabansal, its working now.  Your above lines of  script, as well as the previously used compose file is working now.  I can ping one container from other with its name . Strange!! Note there is no change made in the system.   This machine is in azure.  Wonder if that is anyway causing this inconsistencies.

Thanks a lot for your help

[2016-10-21 13:47] yoshiokatsuneo commented on #27629
@justincormack How can I downgrade to 1.12.1 ?

[2016-10-21 13:51] deanpeterson commented on #27591
Is this possibly the problem/ correct assessment?
The containers being run cannot resolve internal network hosts. The proxy server sits at a specific internal host/ip (only seen on the internal network). Docker creates containers on its own subnetwork. The containers on the Docker/Kubernetes network cannot see the proxy server host sitting at a specific internal host url/ip because of the subnetwo

[2016-10-21 13:55] gsf-greece opened #27636 "docker run --tmpfs through remote api"
Hi, are there plans to support this in the future? This can be very helpful for example when running containers using docker maven plugin.

[2016-10-21 13:58] justincormack commented on #27636
Can you explain what you are asking for? You can add `tmpfs` mounts using the API - everything the CLI does is performed via the API.

[2016-10-21 14:02] juanmrad opened #27637 "Docker behat Laravel issues."
On version 1.12.1 behat comand runs db migrate from laravel super slow. I had to downgrade to version 1.12.0 in order to be able to run it smoothly.

I'm running on OS El capitan 10.11.6 and Laravel 5.1.
It takes over 5 minutes to run a simple scenario due to the slow migrate. doing a
php artisan migrate
takes over 2 minutes. DB only has 44 tables.

[2016-10-21 14:04] gsf-greece commented on #27636
Thanks for your reply, I've tried the [forums](https://forums.docker.com/t/tmpfs-using-remote-api/21479), and IRC channel, but had no luck so far. I want to be able to run a mysql container that has /var/lib/mysql mounted as tmpfs. I'm running this through [docker maven plugin](https://github.com/fabric8io/docker-maven-plugin).

If it is possible to do this using the remote api, can you give me an

[2016-10-21 14:04] unclejack commented on #27637
@juanmrad This seems to be an issue with Docker for Mac. Can you open an issue on this repository instead: https://github.com/docker/for-mac/, please?

I'll close this issue now as it's not a Docker engine issue and it's mostly Docker for Mac related.

[2016-10-21 14:04] #27637 closed

[2016-10-21 14:16] AkihiroSuda commented on #27636
Here: https://github.com/docker/docker/blob/9f0593990f6d8ac95a5dde312e0b7401b472cfb9/api/types/container/host_config.go#L308

key is a mount point and value is a mount option string passed to the mount syscall (can be empty)

Maybe not documented yet?

[2016-10-21 14:29] gsf-greece commented on #27636
Thanks, I will pass it on! I have the feeling it is not documented.

[2016-10-21 14:42] thaJeztah commented on #27636
If it's not documented indeed, could you open a separate issue for that? (Or perhaps a pull request)

Let me close this issue,  because the original problem seems to be resolved, but feel free to continue the discussion

[2016-10-21 14:42] #27636 closed

[2016-10-21 14:44] justincormack commented on #27629
@yoshiokatsuneo  something like `apt-get install docker-engine=1.12.1-0~xenial` should work (guessing the exact package name, I think thats right)

[2016-10-21 14:46] yongtang commented on #27540
The PR https://github.com/opencontainers/runc/pull/1136 has been merged in runc, and @crosbymichael 👍  opened a PR  #27610 to update runc in docker. Once #27610 is merged this issue could be closed.

[2016-10-21 14:52] vielmetti commented on #27045
I'm getting this mysterious failure message

[code]

https://gist.github.com/484584d52611a8dd7b04cd3df509499f for the full log. I'm not sure where the "update" command is supposed to be run.

[2016-10-21 15:03] mlaventure commented on #26451
@thaJeztah yes, the 2 issues are different.

This one is about the metadata location for checkpoints managed by docker.

#26709 basically allow for checkpoint to live outside of docker.

[2016-10-21 15:06] blaskovicz commented on #15775
I had a similar error about "Cannot stat <directory>." Docker build on windows seems to have problems with junctions. The fix was to move to a directory for docker build that has no junctions underneath it.

[2016-10-21 15:10] unclejack commented on #27585
@aanand Can you take a look at this, please? It seems to be related to docker-compose.

[2016-10-21 15:28] DavidXArnold commented on #7336
+1

[2016-10-21 15:28] aclements commented on #27384
If you mean binary packages, then, no. We only package releases. But it's pretty easy to build your own. On any machine that has a Go install (doesn't have to be arm64), run:

[code]

This will create a `../../go-linux-arm64-bootstrap.tbz` that you can just unpack on the target machine and use. You may have to set GOROOT on the target to where you unpacked the tarball.

[2016-10-21 15:31] graingert commented on #7336
ping @stevvooe @aaronlehmann can we get an official view on this ticket?

[2016-10-21 15:36] yoshiokatsuneo commented on #27629
@justincormack Thanks. So, I tried to downgrade to 1.12.1, but I got the similar error again.

[code]

[2016-10-21 15:42] johnt337 commented on #12886
Any traction on this?

[2016-10-21 15:59] vasantivmahajan commented on #27586
@thaJeztah: I apologize for the inconvenience caused. I would open my issue on the above forums for assistance.

[2016-10-21 16:01] aboch commented on #27632
The issue is not related to `swarm init`. Any operation which triggers the IP address assigment of an interface inside the sandbox would cause this. For example, this will cause it for me: `docker run busybox`.

[2016-10-21 16:08] thaJeztah commented on #27586
Thanks @vasantivmahajan! Make sure to include the exact steps you're using, to make it easier for others to help out

[2016-10-21 16:11] vasantivmahajan commented on #27586
@thaJeztah Sure, will do that.

[2016-10-21 16:13] thaJeztah commented on #26451
Apologies, didn't read carefully :blush:

[2016-10-21 16:39] tonistiigi commented on #27607
This should be fixed by https://github.com/docker/docker/pull/27405

[2016-10-21 18:34] vikstrous opened #27639 "it's possible to delete an attachable overlay network while containers on it still exist"
**Description**

It's possible to delete an attachable overlay network while containers on it still exist.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**
The network shouldn't be deleted. Also, the scope should be swarm.

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

[2016-10-21 19:09] suppeee opened #27641 "/proc/partitions within container not as expected, between feature request and bug"
Hello,

i use the docker run command with the --device option to pass loop devices to the container as block devices. the device option allows to rename device names; the devices appear within the container with its changed names.

However, the device names in /proc/partitions are not changed. I have not found a way yet to fake the file /prov/partitions so it goes along with the changed devicename

[2016-10-21 19:50] thaJeztah opened #27642 "Docker should send "Accept-Encoding: identity" header when requesting layers"
per the discussion on https://github.com/docker/docker/pull/25122, docker should send this header to prevent transparent decompression of 'x-gzip' content

/cc @stevvooe @dmcgowan

[2016-10-21 20:10] mlaventure commented on #22116
@daniel-smith-kaazing please open a new issue with as much information as you can (e.g. daemon logs, way to reproduce, ...).

[2016-10-21 20:29] paulmenzel commented on #18796
Hi. What is the status of this issue. I tested it with Docker 1.12.2, and systemd 231 still isn’t able to run inside the container without the capability `SYS_ADMIN`.

[2016-10-21 20:29] demaniak commented on #27045
Getting a different issue.
Things seemed to be going swimmingly...then it got stuck (this is the third re-run attempt):

[code]

[2016-10-21 20:29] friism commented on #27612
@walked thanks for trying this out - you made a lot of progress!

There are some limitations to what Docker can do on Windows and for now, those limitations mean that swarm-mode and multi-host overlay networking networking won't work on Windows. Neither a pure Windows swarm nor a mixed Linux-master/Windows-worker is expected work.

Reading this and recognizing the amount of work you put into tryin

[2016-10-21 20:33] mgoelzer commented on #24110
Closing because we won't be creating any environment variables by default.  But https://github.com/docker/swarmkit/pull/1650 will allow you to do this yourself.

[2016-10-21 20:33] #24110 closed

[2016-10-21 20:34] stevvooe opened #27643 "Add -q option to `docker service ps`"
Right now, to get task ids, you have to do something like this:

[code]

We need a `-q` option that removes headers and only does ID.

[2016-10-21 20:38] walked commented on #27612
@friism that's what I expected to be the outcome. I was hopeful because you can join Windows as a worker and start services there would be networking support too! Darn.

Feel free to give me a shout if I can assist with anything on this front!

[2016-10-21 20:38] stevvooe commented on #25069
For a reservation based system, I would recommend inspecting reservation status on the nodes. I don't think we expose this (cc @aaronlehmann), so there may be a gap there we need to address. Right now, we allow the reservation of CPU and memory, so accounting client-side isn't wildly challenging, albeit very annoying. As a start, you can get at total task resource usage with something like this:

[2016-10-21 20:44] msabansal commented on #26982
@sasiezilmadhavan Maybe related https://github.com/docker/docker/issues/27499 Workaround is documented. We are planning to fix this so that you don't need the workaround.

[2016-10-21 20:45] tophj-ibm commented on #27045
@vielmetti that warning is in the manpage generating script, but it doesn't look like what's causing the build to fail. I see this at the end of the log
[code]
Did you fetch and checkout his PR, or are you running this against master?

[2016-10-21 20:45] PatrickLang commented on #27588
ping @jhowardmsft @jstarks any ideas?

Thanks for the info, I pinged some devs here at Microsoft to see if anyone has seen this problem. Your Windows & Docker versions look ok, and the script didn't find any problems other than the one you're reporting

[2016-10-21 20:46] mgoelzer commented on #24113
@diogomonica @ehazlett

[2016-10-21 20:48] mgoelzer commented on #24115
Dup of #24113

[2016-10-21 20:49] mgoelzer commented on #24115
Oops, wrong issue.  nm

[2016-10-21 20:49] mgoelzer commented on #24114
Dup of #24113

[2016-10-21 20:49] #24114 closed

[2016-10-21 20:59] rhatdan commented on #18796
Red Hat based Docker can do this.  We have a package oci-systemd-hook that sets up the systemd environment properly.

But I do describe how you can do this in docker-engine in my blog.

http://developers.redhat.com/blog/2016/09/13/running-systemd-in-a-non-privileged-container/

[2016-10-21 21:28] stevvooe commented on #7336
@graingert Introducing this syntax will not make push faster. Remember that push is implemented in a daemon, not the cli, so this implementation will result in the same number of HTTP requests to the daemon as it would be in multiple commands.

There are a number of optimizations on the table that address the concerns in this issue. Specifically, we are not leveraging cache information between pus

[2016-10-21 21:28] sivaswami opened #27645 "Run Docker without Daemon"
Hi I exported docker image from my HOST machine (say image.tar)
I don't want to run docker  daemon service in my target machine. I can copy client (/usr/bin/docker) file and want to launch the docker container locally.
Please note that using DOCKER_HOST environment option is not applicable as the target machine is in different network.
Any suggestions?

[2016-10-21 21:31] jhowardmsft commented on #27588
Pretty sure this was one @darrenstahlmsft was looking at a while back. We see it very occasionally, but haven't had a consistent repro to my knowledge.

[2016-10-21 21:32] graingert commented on #7336
Great, can you close this issue?

[2016-10-21 21:40] #25925 closed

[2016-10-21 22:02] Zeychiel commented on #27587
This actually works like a charm using Linux instead of Windows. Did I miss something on the usage of volumes on Windows ?!

[2016-10-21 22:22] stevvooe opened #27646 "group-rm, group-add doesn't make sense on `docker service create`"
https://github.com/docker/docker/pull/25317 added support for specifying groups. It added `--group-rm` and `--group-add`. While these make sense for update, adding and removing groups should simply be a static list, best done with `--group` to specify the list of supplementary groups.

We'll need to fix this before 1.13.

cc @lilybguo @thaJeztah

[2016-10-21 22:26] LLParse opened #27647 "Swarm refuses unspecified listen address when advertise address is not a system address"
**Description**

When creating cross-cloud Swarm clusters, traffic must be routed over the Internet. Doing so requires advertising a public IP address for each node. However, Swarm refuses to accept an unspecified listen address if the advertise address doesn't match a system address.

Is there a reason Swarm couldn't best-effort choose a network interface in this scenario, like it does when no op

[2016-10-21 22:30] lilybguo commented on #27646
#dibs

[2016-10-21 22:34] mageshgv commented on #4523
I noticed this on 1.12.2

[2016-10-21 22:37] stepanstipl commented on #25008
@justincormack macOS Sierra & Docker for Mac `1.12.2-beta28` also not working

[2016-10-21 22:43] darrenstahlmsft commented on #27588
Correct. I've seen this a few times in CI, but was never able to get a local or consistent repro. Typically it was with many simultaneous container starts rather than just 1 though.

@rayterrill What are the specs of your CPU? Is the C: drive an HDD or SSD? I'm wondering if this might be IO or CPU bound so I can attempt to repro.

[2016-10-21 23:34] thaJeztah commented on #27646
@stevvooe you suggest to remove these from `docker service update` or renaming the flag on `docker service create` to `--group` ?

IIRC, there was discussion about that, because `--group`, combined with `--user` may lead to the expectation that the process is started as `<user>:<group>`, which it is _not_.

[2016-10-22 00:22] rayterrill commented on #27588
This is a pretty lightly spec'd TEST VM - 2vCPU, 6GB RAM.

I can pretty much repeat this at will by just running a bunch of builds (not every time, but a fair amount of the time).

[2016-10-22 00:47] nishanttotla commented on #27173
I confirmed that this is an issue in Docker. It seems like the updated node description isn't actually reaching the agent (I suspect that dynamic node updates are probably not working at all in Docker, although they work perfectly fine with SwarmKit).

While `SystemInfo` actually picks up the updated hostname, the agent still sees the old one. I'll have to investigate more, but I'd say this is imp

[2016-10-22 01:35] hqhq commented on #27045
@vielmetti My guess is the same as @tophj-ibm , you seems didn't fetch or apply my PR.

@demaniak Your issue seems not related to my PR, looks like a network issue. Can building of `Dockerfile.aarch64` separately succeed?

[2016-10-22 02:49] pembo13 opened #27650 "Incorrect installation documentation for Centos/RedHat"
Documentation: http://docs.kalabox.io/en/stable/users/install/

The current recommend instructions may only be accurate for Fedora.

[code]

On CentOS 7 (and I presume equivalent RHEL) the necessary commands are

[code]

And even with these commands, one gets the following warning/error:

[code]

To avoid this, one needs to use these commands instead:
[code]

It should also be noted, that a web se

[2016-10-22 02:58] thaJeztah commented on #27208
@aaronlehmann @vieux was this cherry picked into 1.12.3 as well?

[2016-10-22 03:36] zx1986 commented on #7477
`--format` seems not well enough.
https://docs.docker.com/engine/reference/commandline/ps/#/formatting

[2016-10-22 03:43] cmingxu commented on #7477
how about add option to make result display vertically, like `select * from foobar\G` in MySQL

[2016-10-22 04:32] michaelkrog commented on #26523
One thing I haven't mentioned is that I have been using an encrypted overlay network all along, following [this procedure](https://docs.docker.com/engine/userguide/networking/overlay-security-model/).

I have now created a new unencrypted network, setup the services there, added 2 worker nodes again and have scaled the services to 3 instances each again. It has run flawlessly for 30 minutes now. I

[2016-10-22 05:35] jhowardmsft commented on #27587
The semantics are no different between a remote linux daemon from a remote Windows client. The volume spec is local to the daemon, not the client, and must be provided in the file system semantics of the daemon.

So for example: If /share exists on the Linux daemon host, and you are using a remote Windows client, and want to bind mount /share from the linux host into the container you would run so

[2016-10-22 05:35] #27587 closed

[2016-10-22 05:36] programster opened #27651 "Feature Request - Remove nodes gracefully from swarm using only the manager"
It would be convenient to be able to manage a swarm as much as possible from a single manager node rather than having to SSH into the worker nodes to perform actions. Unfortunately, if you try to remove a working node from a cluster, you  get the error message:

Currently, one has to connect to the worker node and run the command `docker swarm leave` (and also demote the node before that if it is

[2016-10-22 06:09] 5245010 commented on #27529
thanks for your explain. i checked windows firewall service is stoped in docker container then may i know what is reason block the network traffic still? I did open firewall in my docker host however the traffic didn't pass by.

[2016-10-22 06:58] thaJeztah commented on #26523
@michaelkrog could you try running the check-config script to see if anything is missing? https://github.com/docker/docker/blob/master/contrib/check-config.sh

[2016-10-22 07:04] vincentfretin opened #27652 "build randomly fails on Docker Hub"
I don't know if this is the right place for this, but it has been weeks I have random error on Docker Hub when my image is built. I think there is an issue with one of your servers on Docker Hub.
The error is:
[code]

All the Error line you see at
https://hub.docker.com/r/ecreall/novaideo/builds/
is the same issue.

[2016-10-22 08:16] erikh commented on #21651
so if I understand this code correctly:

https://github.com/docker/docker/blob/master/daemon/archive.go#L260-L266
https://github.com/docker/docker/blob/master/pkg/archive/archive.go#L333-L348

the uid/gid is getting set in a few situations, but it's always set to the mapped UID of root.

I would really just like a "I know what I am doing mode" that lets me unpack a tarball with all the UID mismatc

[2016-10-22 09:15] hansij66 commented on #26567
Hi All, I am still running into this issue, that at some point, I cannot access the www from a container (ping 8.8.8.8); verified with iptables disabled.

The only way to fix:
1. Toggle iptables=false to true; restarting dockerd
2. Toggle iptables=true to false; restarting dockerd

(just restarting dockerd does not fix my issue)

Ticket is still flagged as "more-info-needed"; afaik, I have added a

[2016-10-22 10:01] mavenugo commented on #24220
Changing the subnet is just one configurable parameter of a network. We have a few other configuration options today for `docker network` and more will come in the future. Hence instead of identifying individual configurable parameters, we must make the `--ingress` network itself to be replaceable. one option (cc @mrjana & @aboch) would be `docker swarm init --ingress my-global-ingress-network`. O

[2016-10-22 10:48] ceecko commented on #27381
We have just experienced the same error on `xfs` as well.
Here's the docker info

[code]

[2016-10-22 12:43] gaocegege commented on #27643
#dibs

now `docker service ps <service>` return:

[code]

when add `-q`, it should return

[code]

right?

[2016-10-22 13:18] ghost opened #27653 "Docker gradually exhausts disk space on BTRFS"
**Description**

**Steps to reproduce the issue:**
1. Install docker on a btrfs system
2. Use docker intensively for a while, and make sure to remove & recreate containers, rebuild with no cache, restart the system, ...
3. Check disk space

**Describe the results you received:**
-  /var/lib/docker uses up more than 30GB, with all except a few megabytes located inside /var/lib/docker/btrfs
- `docke

[2016-10-22 14:06] xcellardoor commented on #16137
If anyone finds this page and is still having difficulty with Docker and FirewallD.

Depending upon your deployment architecture, a small sort-of workaround to this is to bind your containers to ONLY the IPs or interfaces they will use. For example:

[code]

This opens an Ubuntu container up but the port forwarding rule is bound only to my 172.22.144.17 address (private VPN VLAN). This means that

[2016-10-22 14:40] jphuynh commented on #27650
I think you got the wrong project man. See: https://github.com/kalabox/kalabox/issues ?

[2016-10-22 14:54] JonasT commented on #27653
It took a while to run full too, like 1-3 months for 20GB excess - so it's not any rapid or obvious process.
Also 1.12 is the version after using the process above to fix it which involves a reinstall - I might have been on a slightly older version (at least 1.10) before.

[2016-10-22 16:07] bnordbo commented on #26567
@hansij66, as mentioned above, we were able to fix this simply by adding the VIF to `docker0`, i.e. `sudo brctl addif docker0 <vif>`. Does this not work for you?

Anyway, we downgraded to `1.11` and have not had this problem since.

[2016-10-22 16:32] pembo13 commented on #27650
Definitely my mistake. Sorry.

[2016-10-22 16:32] #27650 closed

[2016-10-22 16:53] mavenugo commented on #23971
Thanks for the confirmation @aboch @xeor . I will close this issue. Pls feel free to comment here if you think it is not working as intended.

[2016-10-22 16:53] #23971 closed

[2016-10-22 16:58] mavenugo commented on #25738
@aboch can you confirm if this can be closed ?

@langdead can you pls confirm if it is seen in 1.12.2 ?

[2016-10-22 16:59] mavenugo commented on #18607
Thanks for the confirmation @aboch . I will close this issue. Pls feel free to comment here if you think it is not working as intended.

[2016-10-22 16:59] #18607 closed

[2016-10-22 17:02] mavenugo commented on #15781
@aderouineau `docker run` now supports both `--ip` (for user-defined networks) and `--mac-address`. Setting either 1 will guarantee static address on restarts. I will close this issue.

[2016-10-22 17:02] #15781 closed

[2016-10-22 17:16] neilhwatson opened #27657 "docker images should return none zero if no image"
Search for image that is not installed:

Steps:
1. docker image does-not-exist; echo $?

Expected results:
Returns none zero and no output

Actual results:
REPOSITORY          TAG                 IMAGE ID            CREATED             SIZE
0

Why?
Programs need to be able to determine whether or not an image is installed.

root@node1:~# docker info
Containers: 0
 Running: 0
 Paused: 0
 Stopped: 0

[2016-10-22 17:17] hansij66 commented on #26567
I missed this as a real solution; I will give i a try! Thanks

[2016-10-22 17:22] mavenugo commented on #27263
@aboch i dont think this is a candidate for closing yet. We have to check the reproduction and if it is, then I think we should atleast document the behaviour. Especially as per the discussion in http://serverfault.com/questions/808151/docker-overrides-the-ip-address-of-my-own-manually-created-bridge, the author needs help with a recommended configuration.

[2016-10-22 17:33] mavenugo commented on #23420
@kuruoujou I agree with @aboch 's comment. If you are depending on the `pre-defined` subnet for a network, then docker does the best it could to not step on existing local subnets or routes or nameserver defined in resolv.conf.

For any such system operations which depends on underlay subnets, we recommend to use user-defined subnets with user choosing the subnet. You can also configure such subne

[2016-10-22 17:33] #23420 closed

[2016-10-22 17:41] mavenugo commented on #24269
@moqmar can you pls confirm @aboch's suggestion above and does that satisfy your requirement ?

[2016-10-22 17:43] mavenugo commented on #22355
ping @ztetfger. can you pls confirm ?

[2016-10-22 17:48] bnordbo commented on #26567
@hansij66 It's more of a simpler workaround than a solution I'm afraid. But at least it's not intrusive.

[2016-10-22 17:51] j3k0 commented on #27652
+1 same error here, with many different repositories. It has to be a known issue.

[2016-10-22 17:52] mavenugo commented on #21654
ping @zepouet

[2016-10-22 17:56] mavenugo commented on #27280
@icez thanks for the confirmation. I will close this issue for now. If you hit this issue again, pls comment and we can reopen and work on it.

[2016-10-22 17:56] #27280 closed

[2016-10-22 17:58] mavenugo commented on #20297
ping @ibuildthecloud

[2016-10-22 18:14] mavenugo commented on #26322
ping @fishnix

[2016-10-22 18:16] moqmar commented on #24269
Sorry, totally forgot about this issue - yep, `--link-local-ip` is pretty much exactly what I needed.

[2016-10-22 18:16] #24269 closed

[2016-10-22 18:20] mavenugo commented on #27218
@anthonyserious yes. this is the expected behavior for Docker4mac. I havent tried this myself though (which I think I should).

ping @justincormack has anyone tried such a setup with docker4mac and external linux system participating in a swarm cluster with a public facing `--advertise-addr` and direct port plumbing from mac -> docker daemon running in d4mac ?

@anthonyserious Also, `docker networ

[2016-10-22 18:29] neilhwatson opened #27658 "docker-pull return codes"
docker pull <image> should return different status based on if the image is present and up to date, a newer image is pulled, or the image is missing and pulled.

[2016-10-22 18:32] orianbsilva commented on #21558
docker run -d -p 80:80 microsoft/iis

netstat on host
 netstat -ab | findstr ":80"
""

netstat on container
PS C:\> netstat -ab | findstr ":80"
  TCP    0.0.0.0:80             7caab1657fa9:0         LISTENING
  TCP    [::]:80                7caab1657fa9:0         LISTENING

network mode Bridge!

[2016-10-22 18:41] friism commented on #27612
@walked I'm on michael.friis@docker.com

[2016-10-22 18:44] friism commented on #27544
pinging @jstarks (since he added the windows service registration).

@jhowardmsft can you put this in the Windows category?

[2016-10-22 19:11] michaelkrog commented on #26523
Sure @thaJeztah

This is the output:
[code]

[2016-10-22 19:14] thaJeztah commented on #26523
ping @mrjana any thoughts? ^^

[2016-10-22 19:34] thaJeztah commented on #27652
I think there's active work on this, and this may be related to https://github.com/docker/docker/pull/27609. However issues for Docker Hub in general should be reported either through support@docker.com or https://github.com/docker/hub-feedback/issues. I'll close this issue here, because this issue tracker is for the docker open source project, but feel free to comment after

[2016-10-22 19:34] #27652 closed

[2016-10-22 19:40] thaJeztah commented on #22355
I'll go ahead and close, but let us know if it's still an issue

[2016-10-22 19:40] #22355 closed

[2016-10-22 19:42] thaJeztah commented on #25008
If you're still having issues with this, please open an issue in the Docker for Mac issue tracker https://github.com/docker/for-mac/issues, as this is specific to Docker for Mac.

I'll lock this issue here, as this issue cannot be resolved in this repository, so please report in the linked issue tracker instead

[2016-10-22 19:46] thaJeztah commented on #27582
Let me close this issue because (as mentioned above), swarm mode is not yet possible on Windows. We're working together with the Microsoft team to get this working.

Feel free to comment though, after I closed

[2016-10-22 19:46] #27582 closed

[2016-10-22 19:47] thaJeztah commented on #27553
Duplicate of https://github.com/docker/docker/issues/24812

[2016-10-22 19:47] #27553 closed

[2016-10-22 19:51] thaJeztah commented on #27551
Oh! Actually, this looks like a duplicate of https://github.com/docker/docker/issues/24413, sorry for that; I'll close this issue, but let me know if you think it's not a duplicate

[2016-10-22 19:51] #27551 closed

[2016-10-22 19:52] thaJeztah commented on #24413
Note that docker 1.13 will have a `--force` option, that allows you to force an update, even if no changes are detected. See https://github.com/docker/docker/pull/27596 for the implementation

[2016-10-22 20:01] rsvp opened #27659 "Retag and push fails by "Retrying in" -- Not using pre-existing layers"
**Description: Retag and push fails by "Retrying in" -- Not using pre-existing layers**

I locally retagged an official debian image as rsvp/jessie and pushed it to docker.io as my public repo, however, that failed in "Retrying in ..." as it tried to actually upload the bulk. All the necessary layers should already be pre-existing at Docker's hub, hence expected behavior would be no uploading nece

[2016-10-22 20:39] ryan-lane commented on #12080
For those not wanting to track things down for ubuntu 16.04, it looks like the relevant changes have been backported into 4.4.0-35.54: https://bugs.launchpad.net/ubuntu/+source/linux/+bug/1607404

[2016-10-22 21:03] neilhwatson opened #27661 "docker fails to start on centos 7"
A fresh install of Centos 7. No previously installed docker.

[root@node1 ~]# uname -a
Linux node1 3.10.0-327.36.1.el7.x86_64 #1 SMP Sun Sep 18 13:04:29 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

[root@node1 ~]# rpm -qa|grep docker-engine
docker-engine-selinux-1.12.2-1.el7.centos.noarch
docker-engine-1.12.2-1.el7.centos.x86_64

[root@node1 ~]# cat /etc/redhat-release
CentOS Linux release 7.2.1511 (C

[2016-10-22 21:05] thaJeztah commented on #27659
i think cross-repo sharing of layers depends on the registry version in use; it's possible Docker Hub does not use that version yet.

/cc @dmcg @tonistiigi

[2016-10-22 21:08] thaJeztah commented on #27661
How did you install docker? And from which repository?

Can you verify if the systemd unit file matches the current one in this repo? https://github.com/docker/docker/blob/master/contrib/init/systemd/docker.service.rpm

[2016-10-22 21:43] neilhwatson commented on #27661
[root@node1 yum.repos.d]# cat docker.repo
[dockerrepo]
name=Docker Repository
baseurl=https://yum.dockerproject.org/repo/main/centos/$releasever/
enabled=1
gpgcheck=1

What is the location of the file you want me to check? Guessing:

[root@node1 ~]# diff docker.service.rpm /lib/systemd/system/docker.service
4c4
< After=network.target firewalld.service
---

[2016-10-22 21:44] thaJeztah commented on #27612
/cc @nishanttotla wondering if resolving the digest works from the client for multi-platform (perhaps it does, just checking)

[2016-10-22 21:47] thaJeztah commented on #27661
hm odd, that change shouldn't make a difference here. I wonder why it's complaining about socket activation. Can't think of a reason there, unless there's a systemd drop-in / override in place somewhere.

[2016-10-22 21:48] thaJeztah commented on #27661
there's some info on that in the release notes https://github.com/docker/docker/releases/tag/v1.12.2

@mlaventure any ideas?

[2016-10-22 21:49] neilhwatson commented on #27661
Found this:

[code]

[2016-10-22 22:00] colinmollenhour commented on #12294
Definitely having a command like "docker network reload-firewall" would be nice so that if you run into a situation you can fix the firewall without having to restart all of your containers..

[2016-10-22 22:07] thaJeztah commented on #24220
I've seen requests for `docker network update` - if technically possible, would that be something to consider?

[2016-10-22 22:11] thaJeztah commented on #27661
Ah! that would explain; you can remove the `-H fd://` there

However, I don't know where that file came from, other than possibly docker was installed on that machine already (or in the past)?

After changing, make sure to do a daemon reload of systemd, otherwise changes are not picked up

[2016-10-22 22:11] thaJeztah commented on #27661
oh, and for docker 1.12, change `docker daemon` to `dockerd`

[2016-10-22 22:30] neilhwatson commented on #27661
Was a scripted build, that someone else scripted. I think Docker is off the hook :)

[2016-10-22 22:30] #27661 closed

[2016-10-22 22:38] thaJeztah commented on #27661
Good to hear it's resolved! Note that for changing daemon options, using a daemon.json file may be a good option instead https://docs.docker.com/engine/reference/commandline/dockerd/

[2016-10-22 22:41] OldCrowEW commented on #27661
@neilhwatson you should read the docs for what you are opening issues about: https://dcos.io/docs/1.8/administration/installing/custom/system-requirements/install-docker-centos/

[2016-10-23 03:22] allencloud commented on #27643
We need a -q option that removes headers and only does ID.

I am afraid `redis.1.` in `redis.1.6u87kp12lrw1ikrejqti51g8y` is not included in task id. @gaocegege

[2016-10-23 03:31] gaocegege commented on #27643
So we just show task ID in quiet mode, not the `<ServiceName>.<Slot>.<taskID>`. I misunderstood the issue. 🤔

[2016-10-23 03:50] allencloud commented on #26899
@aluzzardi

If the CLI didn't set the endpoint to VIP then you would need to set it every time you create a service which can be bothersome - why shouldn't there be a default?

Yeah, I think what cli did via a default is definitely good for users. My point is that if we could make engine's api a default to vip. Then if a user does not use cli but pure api call, and he does not take an endpoint mod

[2016-10-23 04:08] allencloud opened #27662 "service inspect response has no restart policy field while service is always restarting"
**Description**
I try to create a service via pure api rather than docker cli.  Here is the rquest:

[code]

Respose is:

[code]

When I inspect the service via pure api

[code]

Response is :

[code]

**In the response, we found no RestartPolicy field**

While when I using docker cli to check this service via `docker service ps 17knhlrqg1aj2r9b277nuirw2`, I got:

[code]

I found it is always in s

[2016-10-23 04:14] allencloud opened #27663 "`dockerd -h` does not display some default value for options"
**Description**
I execute `dockerd -h` in docker 1.12.2. And I found some options has no default value while some has. I think some options has a default value and it is just no showing in the output.

command `dockerd -d`:
[code]

We will see that like `--icc=true                               Enable inter-container communication` it has a default value of true.

While I think the default value o

[2016-10-23 05:27] thaJeztah commented on #27663
Live restore is actually disable by default, and flags show the default value that's set, so not sure there's anything to do here?

https://github.com/docker/docker/blob/91312f71aabe4f0840060049259fc6dbfcc62cd2/daemon/config_unix.go#L94

[2016-10-23 06:13] SwenChan commented on #26768
I also meet this problem.
First, I start a container , then, I stop it, use ```docker stop <container_id>```.
But it doesn't work.It hangout and show nothing like @anokun7 .
Then, I use ```docker kill <container_id>```. It doesn't work either.
[code]
so, I do this:
sudo service docker restart, and act like:
[code]
it still here!and:
[code]
[code]
Hope it can be fix.
docker info: ..... there's no i

[2016-10-23 06:32] leethomas commented on #735
Since it doesn't look like this will ever be officially supported, I wrote a command line tool called [harbor](https://github.com/leethomas/harbor) that suffices for my personal use cases. It supports recursive INCLUDEs. Posting it here in case anyone else might find it useful.

Obviously some directives should not be included multiple times in a single Dockerfile. Like `FROM` or `CMD` for example

[2016-10-23 06:53] allencloud commented on #27663
@thaJeztah
Yeah, it is disabled by default. I mean maybe it shows `--live-restore=false Enable live restore of docker when containers are still running`.

Sorry for my typo in the issue description. Now Updated.

[2016-10-23 07:02] allencloud opened #27664 "constraint in service should be more validated more strictly"
**Description**
Here is the service constraint description:

| node attribute | matches | example |
|:------------- |:-------------| :-------------|
| node.id | node's ID | `node.id == 2ivku8v2gvtg4`|
| node.hostname | node's hostname | `node.hostname != node-2`|
| node.role |  node's manager or worker role | `node.role == manager`|
| node.labels | node's labels added by cluster admins | `node.lab

[2016-10-23 07:09] thaJeztah commented on #27663
We actually had that in old versions of docker, e,g, `--help=false`, but this turned out to be very confusing, because people tried `--help=false` to _show_ help, but that did the exact opposite

[2016-10-23 07:43] vincentfretin commented on #27652
Thanks for the link to hub-feedback repo. Is there a link somewhere on Docker Hub that links to it that I missed?

There is a similar issue here: https://github.com/docker/hub-feedback/issues/844

[2016-10-23 08:10] allencloud commented on #27663
How about in this kind of default format?
[code]

There is
[code]

[2016-10-23 08:11] shaynewang commented on #27166
#dibs

[2016-10-23 09:01] titpetric commented on #23177
While @Dominik-K was wrong about go and /etc/hosts, his suggestion is valid - the dockerhost should be exposed via built in DNS and not the hosts file (docker0 ip works even with custom bridge networks). While this is useful for convenience purposes (especially in swarm mode), I am however of the opinion that you should provide explicit hosts which you want to connect to via environment/configurat

[2016-10-23 11:49] ghost opened #27665 "Docker re-pushes layers it has already said it pushed."
**Description**

Docker seems to have succeeded in uploading a chunk. It even says 'Pushed'. Then, when it restarts after a failure, it seems to forget, and starts re-loading all over again.

**Steps to reproduce the issue:**
1. Run: 'Docker push' on my machine
2.
3.

**Describe the results you received:**
On feature of the pushes that makes them take so long is that they seem to upload an entire

[2016-10-23 11:52] sanmai-NL commented on #21051
@thaJeztah: I saw this issue still open.

[2016-10-23 12:39] zjxpsetp opened #27666 "How to close docker client in golang"
I create a docker cli by
`	cli, err := client.NewEnvClient()
	if err != nil {
		beego.Error("Connect docker client error.", err.Error())
		return result, err
	}`

But don't know how to close this cli.
I want to know this because I got many "dial unix /var/run/docker.sock: socket: too many open files" errors when call docker api too quickly.

[2016-10-23 12:42] chrrrles commented on #11815
Is this proposal totally dead?

[2016-10-23 13:27] z-vr commented on #25694
that would be really useful.

[2016-10-23 13:50] runcom opened #27667 "docker events format is not reliably machine-readable"
The parenthesized key=value pairs are comma-separated but there's no protection for commas, making it challenging to parse something like:

      (Release=56, Vendor=Red Hat, Inc., Name=rhel7/rhel, ...)

There are many possible ways to address this. Some possibilities:

    * Backslash-escape commas within key or value: Vendor=Red Hat\, Inc.
    * Escape commas as HTML entities or using URL escapi

[2016-10-23 14:08] happysysadm opened #27668 "Error image operating system "linux" cannot be used on this platform on Windows 10"
I am unable to run a linux container (like Ubuntu) on a windows 10 host.

`docker run ubuntu
Unable to find image 'ubuntu:latest' locally
latest: Pulling from library/ubuntu
C:\Program Files\Docker\docker.exe: image operating system "linux" cannot be used on this platform.
See 'C:\Program Files\Docker\docker.exe run --help'.`

**docker version**
Client:
 Version:      1.13.0-dev
 API version:  1.2

[2016-10-23 14:21] duglin commented on #27667
I vote for using backslashes - it seems the easiest to parse, and doesn't expand things too much.

[2016-10-23 15:16] runcom opened #27669 "Compilation broken with go < 1.7"
https://github.com/docker/docker/pull/27405 broke compilation on systems with go < 1.7 (e.g. Fedora 24):

[code]

/cc @tonistiigi

[2016-10-23 15:56] w-p commented on #23793
Same here. Xenial, AWS, cloud-init.

not-pretty-Ansible-hack: replace docker role with one task
[code]

[2016-10-23 17:41] dimitrovs commented on #23177
There can be many uses for dockerhost and not all of them can be covered by putting it in /etc/hosts . But there are certain basic cases where it is very useful to be able to connect to your host, just like any system has the concept of "localhost = 127.0.0.1". Sure, the host can have many IPs, you don't always want to get 127.0.0.1, you can define multiple IPs on the lo interface, there are endle

[2016-10-23 18:19] pascalandy opened #27670 "Feature Request: Show --global instance numbers when docker service ls"
Today this is what `docker service ls` outputs:

[code]

Would be VERY nice to see how many global instance a service have:

[code]

Make sense?

[2016-10-23 18:22] duglin commented on #27670
sgtm

[2016-10-23 18:22] pascalandy commented on #27513
I just started a 7 nodes cluster (3m 4w) over 3 regions. Toronto, NY, Amsterdam. Let's see ...

[2016-10-23 18:23] thaJeztah commented on #27667
No real preference for one or the other, unless there's a standard. Using quotes would be more consistent with the way to _set_ labels, although is possibly less easy to parse.

Question though; isn't the API more meant for automating? Should we have a `--format` flag, to allow formatting the output (and, e.g. output the raw JSON instead)

[2016-10-23 18:25] thaJeztah commented on #27513
Are your managers in a single region?

[2016-10-23 18:29] thaJeztah commented on #27670
Yes, makes sense. Not sure if "global" should be in the same column

[2016-10-23 18:37] runcom commented on #27667
A format flag which outputs to JSON will solve this issue pretty well w/o requiring an API call directly. It's also pretty elegant to me to output in a well defined format such as json if asked to do so via a flag.

[2016-10-23 18:46] thaJeztah commented on #27663
Have you tried current master? It should already look like that; 1.12 still uses mflags, master (1.13) switches to Cobra / pflags for he CLI

[2016-10-23 19:05] thaJeztah commented on #27652
Not sure there's a link to that - IIRC, that repo/issue tracker was started during a redesign of Docker Hub, but kept alive for general feedback.

[2016-10-23 19:07] thaJeztah commented on #27667
Well, I can see it being valuable to have the default format being somewhat better parseable, so I'd be +1 for improving it

[2016-10-23 19:16] thaJeztah commented on #27668
This is expected, but I can see the confusion.

On Windows, you can either run _native_ Windows containers (e.g. to run IIS inside a container), or Linux containers. Docker Containers are not a virtualization technology, I.e, containers are not Virtual Machines, and should be seen as isolated _processes_. Containers share the kernel of the host, so if you're running native Windows containers, it a

[2016-10-23 19:16] #27668 closed

[2016-10-23 19:18] rs38 opened #27671 ""docker stats" error on Windows"
`docker stats`
only shows
`Template parsing error: template: :1: unexpected "{" in command`

tested on either Win10, Nano VM and Server2016 full.

Server Version: 1.12.2-cs2-ws-beta-rc1
Storage Driver: windowsfilter
 Windows:
Logging Driver: json-file
Plugins:
 Volume: local
 Network: nat null overlay
Swarm: inactive
Kernel Version: 10.0 14393 (14393.321.amd64fre.rs1_release_inmarket.161004-2338)

[2016-10-23 19:18] thaJeztah commented on #27668
Let me /cc @londoncalling @mstanleyjones for the documentation

[2016-10-23 19:18] 149alexniu149 commented on #27166
#dibs

[2016-10-23 19:22] rs38 opened #27672 ""docker diff" error on windows"
`docker ps -a`

[code]

`docker diff 467`

[code]

tested on either Win10, Nano VM and Server2016 full.

Server Version: 1.12.2-cs2-ws-beta-rc1
Storage Driver: windowsfilter
Windows:
Logging Driver: json-file
Plugins:
Volume: local
Network: nat null overlay
Swarm: inactive
Kernel Version: 10.0 14393 (14393.321.amd64fre.rs1_release_inmarket.161004-2338)
Operating System: Windows Server 2016 Standar

[2016-10-23 19:25] runcom commented on #27667
I see a format flag for json more valuable than adding and cluttering the default format which clearly targets humans instead of machines. Adding escaping and whatnot to the default format will make it less human readable for sure. A new format flag to json will target machine parsing while still having a human readable format (the default).

[2016-10-23 19:33] rs38 commented on #27672
also tested with 1.13.0 dev

Client:
 Version:      1.13.0-dev
 API version:  1.25
 Go version:   go1.7.3
 Git commit:   1f9bece
 Built:        Sat Oct 22 22:35:05 2016
 OS/Arch:      windows/amd64

Server:
 Version:      1.13.0-dev
 API version:  1.25
 Go version:   go1.7.3
 Git commit:   1f9bece
 Built:        Sat Oct 22 22:35:05 2016
 OS/Arch:      windows/amd64

[2016-10-23 19:33] rs38 commented on #27671
also tested with 1.13.0 dev

Client:
 Version:      1.13.0-dev
 API version:  1.25
 Go version:   go1.7.3
 Git commit:   1f9bece
 Built:        Sat Oct 22 22:35:05 2016
 OS/Arch:      windows/amd64

Server:
 Version:      1.13.0-dev
 API version:  1.25
 Go version:   go1.7.3
 Git commit:   1f9bece
 Built:        Sat Oct 22 22:35:05 2016
 OS/Arch:      windows/amd64

[2016-10-23 19:43] friism commented on #27671
Works for me (Win10 client, remote WS2016):

[code]

[code]

It also works running the daemon on Windows 10 directly

[2016-10-23 19:53] thaJeztah commented on #27667
SGTM

[2016-10-23 19:56] thaJeztah commented on #21051
@sanmai-NL alright! Let me close this issue as I think it's answered (see my earlier link)

[2016-10-23 19:56] #21051 closed

[2016-10-23 20:16] thaJeztah commented on #27666
/cc @dnephin

[2016-10-23 20:21] thaJeztah commented on #27657
The image name specified is a filter, filtering with no results is not an _error_ so I don't think this should return a non-zero code. Is there a reason you cannot detect if the output is empty? Using the `-q` flag would return the image ID if it exists, and an empty result if not

[2016-10-23 20:28] zombiQWERTY opened #27673 "Dockerfile founding error"
**Description:**
I am setting up docker-compose: I provide different Dockerfiles (different directories). When `docker-compose up dev` start up then it throws me error:
`ERROR: Cannot locate specified Dockerfile: Dockerfile`
Here is full configs:
https://gist.github.com/zombiQWERTY/5cd9c8d0430fe5cd2fae2a28044ebc2d
**Steps to reproduce the issue:**
1. `docker-compose up dev` with my configs and fol

[2016-10-23 20:34] thaJeztah commented on #27645
`usr/bin/docker` is only the client. Without a runtime, you cannot run the container. If you want to manually construct and run containers, you may want to look at runC https://github.com/opencontainers/runc

Anyway this issue tracker is for tracking bugs and feature requests for docker, and not a general support forum. For questions like this, https://forums.docker.com is probably a better locati

[2016-10-23 20:34] #27645 closed

[2016-10-23 20:38] thaJeztah commented on #27673
Is `Docker/dev/Dockerfile` a file or a directory? Perhaps you need to specify `Docker/dev` instead?
If that doesn't help (haven't tested) can you open this issue in the docker-compose issue tracker? This issue tracker is for Docker, not docker-compose. https://github.com/docker/compose/issues

[2016-10-23 20:38] #27673 closed

[2016-10-23 20:48] zombiQWERTY commented on #27673
Sorry for my mistake. And specfying Docker/dev also not working

[2016-10-23 20:53] thaJeztah commented on #27633
Are you using `systemd` cgroups instead of the default `cgroupfs`? Looks like a possible duplicate of https://github.com/docker/docker/issues/23374

[2016-10-23 21:01] happysysadm commented on #27668
@thaJeztah I am aware of the difference between VMs and containers and I am also aware of the 'kernel matching' requirement. I was just under the wrong impression that running a container in hyper-v isolation mode on my Windows 10 allowed to me to run a different kernel, probably because I read that hyper-v container = "highly optimized virtual machine" (see 2. Windows Containers Types [here](http

[2016-10-23 21:05] thaJeztah commented on #27668
No problem at all, we clearly need to improve the docs on this one, as it's confusing people. It's a tough one to describe properly though

[2016-10-23 21:08] sanmai-NL commented on #19289
Supporting, since it appears impossible to use a host data volume as a custom `core_pattern` file instead.

Docker Engine 1.12.2:
[code]

[2016-10-23 21:13] rs38 commented on #27671
any idea how to dig deeper?

[2016-10-23 21:16] runcom commented on #27667
Alright, I'll submit a PR soon

[2016-10-23 21:25] pascalandy commented on #27670
This would help us to quickly see if something is wrong.

In my example:

[code]

6/7 would clearly help us see there is an issue.

[2016-10-23 21:27] thaJeztah commented on #27670
"sgtm" stands for "sounds good to me" :smile:

[2016-10-23 21:29] thaJeztah commented on #27671
The template error could be if there's a custom format (`--format`) provided, although i thought that was not supported through a CLI config file

[2016-10-23 21:35] thaJeztah commented on #26982
should we close this?

[2016-10-23 21:47] rs38 commented on #27671
just tried with switching windows to US english regional settings, same result

[2016-10-23 22:05] pascalandy commented on #27513
This time no.

Pikwi >  ENV = M01-TOR1
Pikwi >  ENV = M02-NYC3
Pikwi >  ENV = M03-AMS3
Pikwi >  ENV = W11-TOR1
Pikwi >  ENV = W12-NYC3
Pikwi >  ENV = W13-AMS3
Pikwi >  ENV = W14-TOR1
Pikwi >  ENV = W15-NYC3
Pikwi >  ENV = W16-AMS3

[2016-10-23 22:16] pascalandy commented on #27513
This time no. I'm taking this whole HA seriously :-p

[code]

---

This is how I label things. I think it's best practice but I'm fully open to everyone suggestions. At this point, my 3 first workers accepts Mysql Galera Cluster (3 ctn). In the future I might reserve 3 nodes just for the Mysql Galera Cluster.

What I love about this setup is that even when 2 whole datacenters goes down, we are sti

[2016-10-23 22:44] thaJeztah commented on #27671
@rs38 what image are you running? What is running in your containers?

[2016-10-23 23:40] neilhwatson commented on #27657
I expected it to function like grep and return 0 if the search matches and 1 if there is no match. Yes I can use a pipe, but that is less intuitive.

[2016-10-23 23:57] pascalandy commented on #27513
**OK the issue is back.** I this case, I can see `sqlnet` overlay swarm on both nodes.

See Part 1 & Part 2 for details. Hope nothing is missing this time :)

---

# Part 1 - From node onfire@mas-tor (master)

Same scenario. Here is the issue:

`docker service ps g99999023`

[code]

### docker node ls (from mas-tor)

[code]

### Output of docker version:

[code]

## Output of docker info:

[code]

[2016-10-24 00:04] pascalandy commented on #27513
Also, here is my UFW setup.

Still not sure what is best practice for the manager and the worker.  At this point both are using this config.

### sudo ufw status

[code]

P.S. 21 is not what I actually use :-p

[2016-10-24 00:27] thaJeztah commented on #27657
if you are expecting grep, you can always use grep of course :smile:

/cc @tianon wdyt?

[2016-10-24 01:45] ekolesnikov commented on #11815
@dmp42

This argument is invalid which has been seen many times with apt, Maven, NPM, Bower and other similar packages.

"docker pull ubuntu" *should* mean different things when ran off user's personal laptop compared to running off corporate hardened SOEs.

"gradle dependency org.apache.lang:commons-lang" *should* and *does* mean different things when ran off user's personal laptop (just download

[2016-10-24 01:46] naveensky commented on #4523
Following the instructions at https://github.com/irifed/softlayer-clustermanager/wiki/Resolving-docker-error:-Unknown-filesystem-type-on--dev-mapper-docker-... is a sort of workaround for this issue. It seems to work for me.

[2016-10-24 02:39] tlvenn commented on #23827
@thaJeztah I just want to emphasis how important this is. Any custom L7 load balancer such as Traefik or Fabio will need to tap into swarm events to react to service/task updates in order to route traffic properly.

Ya it's already happening... :(

[2016-10-24 02:51] vuhiep1694 opened #27674 "connect from docker php to mysql host not stable"
**Description**

1.I'm running a web using follow: user -> nginx(host) -> php(docker) -> mysql (host). Everything work well but sometimes I get the error " unable to connect db" (timeout).
2.I checked but I don't find anything wrong.
3.Can any body give me advices how to debug that bug. May I mistake something on `sysctl` or because of docker using NAT network ?.

**Additional information you deem

[2016-10-24 04:00] cybage-santajig commented on #27577
Sorry for the late reply. Anyhow, because of our IS polices , i am not able to run the windows update. I shall try the same steps after windows update and shall update this issue again.

[2016-10-24 04:22] BrickXu opened #27676 "Run docker with the default MountFlags makes the wrong mount table in the centos7"
**Description**

After upgrade docker daemon to 1.12, start containers will append the mount info,for example:

[code]

And we use `nrpe` to monitor the disk usage, but it raise an error because the volumes that docker mounted.

[code]

Is there any issue or PR to explain why do this in the 1.12? Could I disable this behavior ?

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[2016-10-24 05:38] thaJeztah commented on #27676
Possibly related to https://github.com/docker/docker/pull/22806, however, I'm not sure nrpe should be checking these mounts. Having them excluded would probably be a better option than changing dockeri

[2016-10-24 05:40] rs38 commented on #27671
e.g. ` docker run -d microsoft/nanoserver ping -t localhost`

[2016-10-24 05:57] happysysadm commented on #26982
Actually I lost the whole environment I was running this upon: my OS ssd disk got broken (kind of voltage issue which makes it whistle, you should hear that!) and so I can't repro the problem for now...

At the same time I don't have this error on my azure VMs. So close it and I'll re-open in case.

[2016-10-24 06:01] BrickXu commented on #27676
Hi @thaJeztah , thanks for your response, I try to ignore or exclude the path in the check_disk, it does not work, I'm still working on it to find out the root cause.

[2016-10-24 06:10] harche opened #27677 "Unable to run docker daemon on ubuntu 16.04"
Unable to start docker.

[code]

**docker version**
[code]

**journalclt -xe**
[code]

**docker info**
[code]

[2016-10-24 06:14] thaJeztah commented on #26982
ouch! Good luck with that @happysysadm

Let me go ahead and close, but happy to reopen if anyone is running into this again

[2016-10-24 06:14] #26982 closed

[2016-10-24 06:17] fustbariclation commented on #27665
Here's another example, today. The first shows '67aca2b232ea: Pushed'. Then, after a restart, '67aca2b232ea: Pushing [===========>                                       ] 42.25 MB/177 MB'.

It keeps doing this.

after restart:

[2016-10-24 06:21] thaJeztah commented on #27677
Looks like your error is because there's various directories found for different storagedrivers (e.g. aufs and devicemapper); https://github.com/docker/docker/blob/bc52939b0455116ab8e0da67869ec81c1a1c3e2c/daemon/graphdriver/driver.go#L186-L195

In such situations, docker will not automatically select one over the other, and require you to either specify which storagedriver to use (e.g. `-s aufs`

[2016-10-24 06:21] #27677 closed

[2016-10-24 06:23] thaJeztah commented on #27665
Are you seeing this problem as well when pushing to docker hub? What kind of registry are you running? The open source registry, or a third party registry?

[2016-10-24 06:31] harche commented on #27677
You are correct. I switched from `aufs` to `overlay` and forgot to add DOCKER_OPTS. It's working fine after explicitly mentioning the storage driver there.

[2016-10-24 06:34] allencloud commented on #27663
I am afraid nothing changed in docker/master. Here is the test.
[code]

[2016-10-24 06:46] secangkirkopipanas commented on #23313
Same issue happened to me. After some time, I was not able to do 'docker exec bash' to the running container. Not even 'docker ps -a' command.
My temporary workaround is just restart docker service, and restart all containers (and do other actions which applicable).

[2016-10-24 07:07] thaJeztah commented on #27663
Sorry, looks like I misinterpreted what change you wanted, can you point out exactly what you thing should be changed? Defaults are currently based in the actual default as is set on the flag, but perhaps I don't understand

[2016-10-24 07:08] thaJeztah commented on #27677
Good to hear!

[2016-10-24 07:08] lwhhhh opened #27678 "The client package's import URL is 404"
Example:

` import (`
`         ......`
`    	 "github.com/docker/go-connections/sockets"`
`	 "github.com/docker/go-connections/tlsconfig"`
`) `

 The urls is 404

[2016-10-24 07:14] thaJeztah commented on #27647
ping @aaronlehmann PTAL!

[2016-10-24 07:15] tonistiigi commented on #27669
I think if we want to support 1.6 we should have a ci and validation scripts for that. Considering this is not part of the API packages, I'm not sure if we need to support builds that don't use the dependencies in our Dockerfile. This time I could do it for that package but if some other vendored package upgrades to go1.7 that shouldn't stop us from using it.

[2016-10-24 07:16] thaJeztah commented on #27627
What version were you running before upgrading? IIRC, there was a change during one of the betas/release candidates that could cause this

[2016-10-24 07:21] thaJeztah commented on #27658
Can you describe your use case? Also, what kind of status codes would you expect?

[2016-10-24 07:28] thaJeztah commented on #27678
These are not URLs, but import paths, in these examples;

https://github.com/docker/docker/tree/master/vendor/src/github.com/docker/go-connections/sockets
https://github.com/docker/docker/tree/master/vendor/src/github.com/docker/go-connections/tlsconfig

See https://golang.org/doc/code.html#ImportPaths for the Go documentation describing this.

I'll close this issue because this is not a bug, but

[2016-10-24 07:28] #27678 closed

[2016-10-24 07:28] jojoob commented on #20430
It looks like --cap-add=SYS_MODULE,NET_ADMIN should do the trick. Do you agree?

I tried it with SYS_MODULE and NET_ADMIN (actually it is `docker run --cap-add=SYS_MODULE --cap-add=NET_ADMIN imagename`) but it didn't work: same error.
For me it works with just the SYS_ADMIN privilege.

[2016-10-24 08:05] demaniak commented on #27045
@hqhq - fair enough, we are having various internet issues atm, will try again. Thanks.

[2016-10-24 08:06] lwhhhh commented on #27678
@thaJeztah
I am new to Go.
If I access the "github.com/docker/go-connections/sockets" but get a 404 page, does it means I couldn't get this package by use "go get" command ?

[2016-10-24 08:16] guenhter commented on #25356
Same issue here

[code]

[code]

[2016-10-24 08:19] o3o3o commented on #25526
In our case, our API  RateLimit and other functions  is depend on the user's ip address.  Is there any way to skip the problem in swarm mode?

[2016-10-24 08:29] kekbur commented on #27627
According to APT logs the upgrade was as follows: ```docker-engine:amd64 (1.12.1-0~wheezy, 1.12.2-0~wheezy)```

So the previous version was ```1.12.1-0~wheezy```.

[2016-10-24 08:30] westsouthnight commented on #27399
People how to convert Consul Values to IP?

I have troubles when update docker to latest version.

Some containers on Docker Node (~50% of all connected to swarm network) not start after restart docker service.

I got error - Error response from daemon: Cannot restart container cc8543c658dc: Address already in use.

Then i try to disconnect container from network

 docker network disconnect swarm-

[2016-10-24 09:03] justincormack commented on #27669
Yes, it has broken at least four times already as we have no CI.

[2016-10-24 09:29] xcellardoor commented on #27491
Further investigation has found that this is being caused by an ongoing issue with FirewallD/Docker - they do not play nicely! There are several other threads concerning this issue so this one can be closed.

To those who come across this - make sure that iptables is not disabled in Docker Daemon (it is on by default so you'd have had to manually disable it). The IPTables rule configures the conta

[2016-10-24 09:29] #27491 closed

[2016-10-24 09:40] rageshkrishna commented on #24940
If I've understood it correctly, running `docker service update --with-registry auth <service>` will trigger a rolling update. I wouldn't mind scripting this, but only if there was some way to avoid the rolling update and just get the service definition updated with the new credentials so they can be used the _next_ time the service needs to be deployed. We use ECR and this is definitely a pain po

[2016-10-24 10:03] eon01 commented on #25325
I had a similar problem and I am running 3 managers and 1 worker for testing (Docker 1.12.2, aws ec2 w/ Ubuntu 14.04).
I haven't found any real solutions. But I made some adjustments on the timezone.

[code]
Now it's working.

Here are my two services
[code]

[2016-10-24 10:16] justincormack commented on #27667
Yes, agree with @runcom there is no point in trying to make a poorly designed format parseable when we have existing formats that work already.

[2016-10-24 10:19] justincormack commented on #27653
Can you provide more details about which files are taking up the space, and `docker info` when there is a problem not when there is not please.

[2016-10-24 10:33] runcom commented on #27667
Forget me, there's already a way  to format json https://github.com/docker/docker/pull/26268 (but I  missed it)

[2016-10-24 10:33] #27667 closed

[2016-10-24 10:42] westsouthnight opened #27681 "Swarm. Consul. Docker Upgrade. Address already in use."
---
## BUG REPORT INFORMATION

I have troubles when update docker to latest version.

Some containers on Docker Node (~50% of all connected to swarm network) not start after restart docker service.

I got error - Error response from daemon:

`Cannot restart container cc8543c658dc: Address already in use.`

Then i try to disconnect container from network

`docker network disconnect swarm-production

[2016-10-24 10:50] xiaods commented on #26491
any update?

[2016-10-24 11:08] westsouthnight commented on #27681
And how have one strange situation. We have network, which work between old (host which i not upgrade yet), but in network inspect i no see anything...

[code]

[code]

[2016-10-24 11:15] vistiyos opened #27682 "I cannot access to a container using localhost"
**Description**

I have a docker-composer.yml file to create the structure I need for my project. It used to work but suddenly it stops. I have tested in my Apple Macbook Pro with other version and it does not work too. I'm not using docker-machine at all.

[code]

This is the Dockerfile for erp_login container:
[code]

**Steps to reproduce the issue:**
1. Just execute docker-compose up
2.
3.

**D

[2016-10-24 11:31] ernstp opened #27683 "Building yocto image in docker with overlay2 stops the container unexpectedly"
0) Setup docker with overlay2 on Ubuntu 16.04.1.

1) Create a docker container based on Ubuntu 16.04 with everything needed to do a Yocto build:
http://www.yoctoproject.org/docs/2.1/dev-manual/dev-manual.html#wic-requirements

2) Run a bash shell in it for example.

3) Setup a yocto workspace

4) bitbake core-image-minimal

After a few seconds into the actual building part the whole container seem

[2016-10-24 11:41] westsouthnight commented on #27681
How to convert IP address to consul k/v hash?

I don't want to recreate all network,

We need simple way to force connect to swarm or removing broken IPs.

![screen_shot_2016-10-24_at_14_39_24](https://cloud.githubusercontent.com/assets/17825649/19644339/c617414e-99f7-11e6-9afb-c09943ba1d06.png)

[2016-10-24 11:43] stszap commented on #8539
@tonistiigi was the fix included in 1.12.2? I can still reproduce the problem in 1.12.2

[2016-10-24 12:08] PetrusKiendys commented on #27533
Seems to have been an issue with network interfaces on the machine. The `docker0` bridge was set as the default network interface instead of `eth0`.

[2016-10-24 12:18] runcom commented on #27281
Because Docker is designed to fallback to v1, thus getting 404 from /v1, and your client just get the last error in the chain

[2016-10-24 12:34] bmerry commented on #27281
Well, there are probably several ways this could be made more user-friendly. Let me know if it's worth filing a new bug for any of them:
1. Don't fall back to v1 on a 401 error. Are there any situations where this will actually succeed?
2. When falling back, print the error that happened on v2 and a warning that fallback is being attempted. That way, the user will get to see the real error.
3. If

[2016-10-24 12:50] pacoxu commented on #24220
same issue.

[2016-10-24 12:52] Tschasmine opened #27684 "interactive docker login won't work with docker toolbox and git for windows"
**Description**

When working with the docker toolbox on windows using git for windows the docker login command won't work interactively.
`docker login --username xxx --password yyy`
works fine, however

[code]

won't work.
**Steps to reproduce the issue:**
1. Try authenticating with a docker hub account using docker toolbox and git for windows from bash using interactive `docker login` command.
2

[2016-10-24 13:02] #27547 closed

[2016-10-24 13:02] runcom commented on #27281
I'm not sure this is always the case and we can't act based on how likely this will be

[2016-10-24 13:02] cpuguy83 commented on #27653
Generally `docker images` would be taking up more space than what you'd see in `docker ps -s`.
Also volumes.

[2016-10-24 13:03] unixbhaskar commented on #23043
Heck...
`
bhaskar@ArchLinux_18:28:35_Mon Oct 24:~>sudo systemctl status docker.service
● docker.service - Docker Application Container Engine
   Loaded: loaded (/usr/lib/systemd/system/docker.service; disabled; vendor preset: disabled)
   Active: failed (Result: exit-code) since Mon 2016-10-24 18:28:06 IST; 39s ago
     Docs: https://docs.docker.com
  Process: 31641 ExecStart=/usr/bin/dockerd -H f

[2016-10-24 13:03] mmkonrad commented on #27547
Issue solved....traffic was rerouted through a proxy....even when adressing service on your own machine

[2016-10-24 13:05] neilhwatson commented on #27658
If an automated program is using docker-pull, docker-pull's return code will allow the calling program to know the results of the pull.

[2016-10-24 14:25] thaJeztah commented on #27667
oh! yes you're right

[2016-10-24 14:26] mlaventure commented on #27669
Like @tonistiigi I don't think we want to officially support dependencies that aren't the one we use in our Dockerfile, it would quickly become a maintenance nightmare.

[2016-10-24 14:29] runcom commented on #27669
@mlaventure how would you dynamically compile (dynbinary) on a RHEL/Fedora system that ship with go < 1.7? are we dropping support for dynamic compilation on those system? how would you "make rpm" anymore if the golang shipped with those systems is < 1.7?

[2016-10-24 14:29] thaJeztah commented on #27658
but there's two outcomes;

- the pull succeeded. the image is now present and up to date
- the pull failed

[2016-10-24 14:39] JnMik opened #27685 "Sharing windows host SSH key with a docker container resolve in a "Permissions are too open" error."
Hey guys !

We're having issues with Docker on windows that we don't have on Linux.

Mounting the host (windows 10) ssh key into the container via volume makes the permissions over 600 and using composer install resolve in an ssh error "SSH keys are too open" when installing private repositories.

Probaly some kind of NTFS / linux problem or something..

We tried with the SSH_AGENT_SOCKS as well w

[2016-10-24 14:57] thaJeztah commented on #27682
Looks like your Dockerfile has multiple `CMD` instructions, which will definitely not work. The `connection refused` message is most likely due to the service not actually running inside the container, or not listening to the right ports or IP-addresses

However, the github issue tracker is for reporting bugs and feature requests. This is a support question on _using_ docker, which is best asked o

[2016-10-24 14:57] #27682 closed

[2016-10-24 14:57] carn1x commented on #22750
Seeing similar weirdness, tons of diffs, no images or containers at all:

[code]

[2016-10-24 15:03] thaJeztah commented on #27685
Can you reopen this in the Docker for Windows issue tracker? This is specific to docker for Windows, so best reported there https://github.com/docker/for-win/issues

[2016-10-24 15:18] mehdiAhmed opened #27686 "Check network error during the creation of docker machine"
**Description**
When I create a docker-machine I got the **error Check network to re-create if needed**.
 I'm using ubuntu 14.04, virtualbox 4.3.36 and docker 1.12.2.
Please how can I handle this error.
I re-installed virtualbox, docker-machine and docker-engine but I got the same error.

**Steps to reproduce the issue:**
docker-machine create --driver virtualbox default

**Describe the results yo

[2016-10-24 15:20] mlaventure commented on #8539
@stszap it looks like it didn't make it into 1.12.2

ping @vieux @thaJeztah is this a good candidate for 1.12.3? (Is there even enough time left to add it?)

[2016-10-24 15:22] dimkk commented on #22345
Windows 7, same bug here, solved it with CMD+R -> Git Bash -> eval $(docker-machine env default) -> docker attach [cont id] and all ok - looks like russian symbols to console.log made this issue

[2016-10-24 15:32] mootezbessifi commented on #20567
please any idea about this bug ??
Actually i am trying to install a kubernetes-node package and it conflicts with docker-engine and docker-engine-selinux. i want to override this packages.
what is recommended to avoid this issue? is the installation from kubernetes-node github release (kubelet,kube-proxy,etc) or importing another kubernetes-node package from somewhere???

[2016-10-24 15:34] hmdhasani opened #27687 "docker logs --tails returns less lines than expected"
I run this command  several times :
docker  logs --tail 10000  app | tee >(wc -l)
to count number of lines of log and got this results:
1212
52
346
2614

when I run :
docker  logs  app
I will got much more (604147 lines)

I think there is a bug in --tail

[2016-10-24 15:35] hmdhasani commented on #27687
ut@TST-mcluster-13:~$ docker info
Containers: 22
 Running: 22
 Paused: 0
 Stopped: 0
Images: 74
Server Version: 1.12.2
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 298
 Dirperm1 Supported: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: null bridge host overlay
Swarm: inactive
Runtimes: runc
Default Runtime: runc
Se

[2016-10-24 15:35] hmdhasani commented on #27687
ut@TST-mcluster-13:~$ docker version
Client:
 Version:      1.12.2
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   bb80604
 Built:        Tue Oct 11 18:19:35 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.2
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   bb80604
 Built:        Tue Oct 11 18:19:35 2016
 OS/Arch:      linux/amd64

[2016-10-24 15:36] laithrafid opened #27688 "error while running"
every-time i'm running docker on of our servers i'm getting this error , only on this server tho ...
and i couldn't  reproduce the issue on other servers

**Describe the results you received:**
docker run -it centos
YES
YES
YES
YES
YES
YES
YES
futexwakeup addr=0xc82009c108 returned -14
fatal error: unexpected signal during runtime execution
futexwakeup addr=0xc82006a908 returned -14
fatal error: u

[2016-10-24 15:38] cpuguy83 commented on #27688
Can you try with the official docker packages instead of the centos-provided one?

[2016-10-24 15:45] cpuguy83 commented on #27626
ping @mlaventure

[2016-10-24 15:50] cpuguy83 commented on #27687
Are the logs rotated (aka split) across multiple files (ie,  `--log-opts max-size=N`, is set)

[2016-10-24 15:52] vielmetti commented on #27614
http://git.alpinelinux.org/cgit/apk-tools/commit/?id=5723afded3fe67588fbdd7d398b8db19f134f759 is an upstream patch, which looks like it works but I haven't tested yet.

[2016-10-24 15:52] cpuguy83 commented on #27686
ping @nathanleclaire

[2016-10-24 16:04] thaJeztah commented on #25356
@guenhter could you also provide some additional information? e.g., was this after a clean restart, a reboot? What platform/distro etc

[2016-10-24 16:11] hmdhasani commented on #27687
no I don't think , I ran the app with no option about logs and this is the inspect:

    {
        "Id": "142d1f7690be3f303c9da2873d6a5c1f4937fd3e1273d479894a1810d113a23e",
        "Created": "2016-10-24T15:45:50.131301351Z",
        "Path": "catalina.sh",
        "Args": [
            "run"
        ],
        "State": {
            "Status": "running",
            "Running": true,
            "Pa

[2016-10-24 16:15] mlaventure commented on #27626
@mschwartz Your issue sounds different, you may want to open a new issue with more details

[2016-10-24 16:16] mlaventure commented on #27626
@leth could you send SIGUSR1 to the daemon and provide the daemon log afterwards?

Thanks

[2016-10-24 16:20] mschwartz commented on #27626
https://github.com/docker/docker/issues/27635

Next time it crashed/hangs, I'll do the SIGUSR1 signal and add to the above issue.

The good news is that the containers ran over the weekend and didn't crash.  That's in spite of them crashing daily the week before.

I haven't updated any of the software.

[2016-10-24 16:21] cpuguy83 commented on #27687
Thanks! Just wanted to check because we have a custom reader implementation when multiple files are used.

[2016-10-24 16:24] leonardoce opened #27689 "Docker 1.12.2 grants too much capabilities to unprivileged users"
**Description**

Docker 1.12.2 grants too much capabilities to unprivileged users, while 1.12.1 was working fine.

**Steps to reproduce the issue:**

1. Test the effective capabilities for a unprivileged user with `docker run --rm -u nobody -it ubuntu:14.04 /bin/bash -c 'cat /proc/self/status |grep CapEff'`

2. Test the effective capabilities for a privileged user with `docker run --rm -it ubuntu:

[2016-10-24 16:24] cpuguy83 commented on #27543
ping @rhvgoyal

[2016-10-24 16:32] aboch commented on #27681
Not sure what happened, but one reason could be that an address release did not happen properly   for for some network endpoints on the `swarm-develop` network, during an ungraceful shutdown (this can in fact only happen for k/v store based overlay networks) during the upgrade.

A workaround would be to delete and recreate the `swarm-develop` network only.

[2016-10-24 16:32] justincormack commented on #27689
Hi, this is a duplicate of #27590 and will be fixed in 1.12.3-rc1 which should be out today. Closing as duplicate.

[2016-10-24 16:32] #27689 closed

[2016-10-24 16:34] vielmetti commented on #27590
Is this a big enough issue to suggest a security advisory?

[2016-10-24 16:42] bprodoehl commented on #22513
I'm seeing the same leak as @mjsalinger with latest 4.4.0 kernel on 14.04.5 and Docker 1.12.1, but using AUFS rather than overlay.  Guess I'm stuck with a job to periodically clear out those files until I can make the jump to 16.04 in production.

[2016-10-24 16:42] aaronlehmann commented on #27647
This requirement comes from overlay networking. My understanding is that it needs to know the local address so it can set up a tunnel.

ping @mavenugo @mrjana - can you clarify?

[2016-10-24 16:48] nathanleclaire commented on #27686
Thanks for the issue.  Please try w/ latest Virtualbox (5.1.6 IIRC) and also make sure to clear any host only networks you have created locally as well if possible (`VBoxManage list hostonlyifs` will show them on CLI, probably easiest to remove them from the VBox "Networks" GUI).

If the issue still persists, please file an issue with full `--debug` output on the docker/machine repo.

@cpuguy83 I'

[2016-10-24 16:53] mlaventure commented on #27669
@runcom I'm not sure I understand, `make rpm` will run compile everything via the image generated via the `Dockerfile` which include go1.7.

[2016-10-24 16:58] cpuguy83 commented on #27686
Thanks @nathanleclaire, @mehdiAhmed

[2016-10-24 16:58] #27686 closed

[2016-10-24 17:01] thaJeztah commented on #26491
I'm closing this issue, because OP did not provide feedback, but feel free to comment if you think this is still an issue

[2016-10-24 17:01] #26491 closed

[2016-10-24 17:03] thaJeztah commented on #27678
You can `go get github.com/docker/go-connections` and `sockets` is just part of that repository. I strongly suggest to read the Go documentation, this is not the right location to ask for help on learning Go

[2016-10-24 17:05] rhvgoyal commented on #27543
This activation of device seems to be waiting on UdevWait(). That is waiting on a cookie from libdevmapper point of view. Which is basically a semaphore on which a put() operation is done
by udev rules when certain event happens. So in this case, somehow event has not happened, or
rule has not executed or something else went wrong, so library is waiting infinitely, hence docker is waiting infinite

[2016-10-24 17:07] rhvgoyal commented on #27543
Check your logs. We have had cases where due to memory pressure, udev worker was terminated by OOM. That means a certain udev rule never executed, that means completion never happened on cookie and we experieced this hang.

In your logs if you find that some udev work was killed, that might be contributing to this issue.

[2016-10-24 17:12] mlaventure commented on #27627
@kekbur can you restart one more time with debug log activated?

[2016-10-24 17:18] aaronlehmann commented on #27662
The restart policy is part of the `Spec`, which is always under control of the user. One of the design principles of our model is that the `Spec` is never modified internally. So if an API user doesn't specify a `RestartPolicy` in the spec, there won't be one in the object when it is returned by `GET /services/...`.

There's some discussion about improving visibility into defaults here: https://gi

[2016-10-24 17:19] aaronlehmann commented on #27642
Summary should read `Accept-Encoding: identity`.

[2016-10-24 17:21] vieux commented on #27540
Fixed by https://github.com/docker/docker/pull/27610

[2016-10-24 17:21] #27540 closed

[2016-10-24 17:21] vieux commented on #27590
Fixed by https://github.com/docker/docker/pull/27610

[2016-10-24 17:21] #27590 closed

[2016-10-24 17:25] cpuguy83 commented on #17832
I'm not sure there is a way we can speed this up.
For everything but aufs and overlay2, in order to get the size the entire container fs tree must be walked.

[2016-10-24 17:25] thaJeztah commented on #27590
@vielmetti we requested one (see the changelog https://github.com/docker/docker/pull/27611/files#diff-4ac32a78649ca5bdd8e0ba38b7006a1eR40).

[2016-10-24 17:30] cpuguy83 commented on #27504
Docker is using zfs to provide the layered fs that docker needs.
It does not specifically support features like snapshots and clones for these purposes and I do not believe we should document such use case sense *if* it works it would be so non-intentionally.

[2016-10-24 17:30] phillipma commented on #27590
@thaJeztah Honorable mention for the CVE?:)

[2016-10-24 17:32] liubin opened #27691 "Create container error: chown xxx value too large for defined data type"
**Description**

**Steps to reproduce the issue:**
1. I have a volume driver.
2. create the a container use the driver with `-v vol:/some/path --volume-driver=mydriver` under marathon.

**Describe the results you received:**

Got error in `/var/log/upstart/docker.log`:

`Handler for POST /v1.21/containers/create returned error: chown /volume-mnts/vol-1: value too large for defined data type`

**Ou

[2016-10-24 17:37] kim0 commented on #27504
@cpuguy83 .. Is my understanding correct that every docker container, is living off of a zfs volume? How can I correlate which container is on which volume? It's Ok to not document snapshotting ..etc.

Currently, I have a bunch of containers and a bunch of ZFS volumes with zero knowledge how to map the two. IMO, we should document this. Thanks

[2016-10-24 17:43] cpuguy83 commented on #20176
A distributed store for volumes is not there yet.

[2016-10-24 17:45] cpuguy83 commented on #20276
This was resolved.
Thanks!

[2016-10-24 17:45] #20276 closed

[2016-10-24 17:50] unclejack commented on #17832
A speedup will most likely not happen. Faster storage if someone wishes to speed up `docker ps -s`.

[2016-10-24 17:50] justincormack commented on #27685
I don't think this is specific to Docker for Windows, it is due to the mismatch between Windows and Linux permissions models.

I would try creating a named volume and syning the credentials to that to see if it is easier to fix the permissions.

Maybe @jhowardmsft has an idea?

See also https://github.com/docker/for-win/issues/167

[2016-10-24 18:01] stevvooe commented on #27643
All quiet mode operations typically just show `ID`.

[2016-10-24 18:04] jhowardmsft commented on #27685
Not entirely sure what the issue is here trying to break it down to the lowest level, but suspect I know what's going on. It sounds like you have a cygwin generated cert on the host and are trying to use it in some way in a container.

Is this a Hyper-V container or a Windows Server container? As volume mapping permissions behaves differently - one is a shared kernel, one is isolated in a utility

[2016-10-24 18:06] thaJeztah commented on #27590
@riyazdf ^^

[2016-10-24 18:07] riyazdf commented on #27590
@vielmetti: as @thaJeztah mentioned, we've filed a [CVE with MITRE](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2016-8867) against 1.12.2 for this issue and will prepare a formal security advisory upon release of 1.12.3.

@phillipma: we really appreciate your report on this issue, though [this issue](https://github.com/docker/for-mac/issues/824) was the first discovery and so we've filed th

[2016-10-24 18:09] coryleeio commented on #26523
After bootstrapping doing:

docker network create --driver overlay --opt encrypted foobar
docker service create --network foobar --name a  --constraint node.hostname==A nginx
docker service create --network foobar --name b --constraint node.hostname==B nginx
docker service create --network foobar --name c  --constraint node.hostname==C nginx

then having the containers each curl one another
curl a

[2016-10-24 18:10] coryleeio commented on #27541
This could possibly be the same as https://github.com/docker/docker/issues/26523

[2016-10-24 18:11] coryleeio commented on #26523
I'm doing this in AWS, on a standard ubuntu 14.10 AMI. with docker 1.12.2 on all nodes.

[2016-10-24 18:15] thaJeztah commented on #26523
@coryleeio could it be related to https://github.com/docker/docker/issues/27425 ?

[2016-10-24 18:16] mrjana commented on #26523
ping @aboch

[2016-10-24 18:21] rsvp commented on #27659
Is the following info posted by  @stevvooe on May 14, 2015 for #13210 -- more than 17 months ago, still valid?

If still current, there must be a better way to furnish proof than to resend a blob which could be enormous in size. It might seem reasonable for small *private* repos, however, if the blobs are public, then the hash should be sufficient proof to prevent unnecessary upload of a pre-exist

[2016-10-24 18:23] liubin commented on #27691
Other issue. Close it.

[2016-10-24 18:23] #27691 closed

[2016-10-24 18:28] stevvooe commented on #27646
@thaJeztah `docker service create` should have `--group` and `docker service update` should have `rm/add`. `rm/add` makes no sense for create, since there was no previously existing group set.

Yes, but we adopted that confusion by making these the same. We'll have to cover this with documentation.

[2016-10-24 18:30] JnMik commented on #27685
Hey @jhowardmsft ! First, thx for the help !

So let's make a basic reproduction scenario here :

- Forget about cygwin, that was just a test I run. Hopefully it will not be part of the solution
- Install docker for windows, make sure your c: is shared in the settings.
- You need a simple image with PHP able to install dependencies from composer.json pointing to a private repository (github or bit

[2016-10-24 18:33] programster opened #27692 "Feature Request - docker node ls --sort-by"
Here is some example output of docker node ls

[code]
It appears that the output sorted by ID by default which isn't particularly useful as IDs appear to be random or pseudo-random. It would make more sense if the list was sorted by any of the other columns (but I would pick hostname). Better yet, it would be great if the user could manually specify what to sort by with a new `--sort-by` parameter

[2016-10-24 18:33] dnephin commented on #27666
Every call on the client makes sure to close the response body. Otherwise I don't think there is anything else to close.

I don't think your error is related to the client. The client just attaches to a socket, it doesn't  create them.

[2016-10-24 18:34] cpuguy83 commented on #27295
I don't think we can change this default. It's been around forever.
The thing is, you can `docker rm -v` with or without volumes and it won't hurt anything when there are no volumes to remove.

[2016-10-24 18:44] coryleeio commented on #26523
@thaJeztah possibly, if the documented ports are indeed incorrect. I am only opening
TCP 2377
TCP/UDP 4789
TCP/UDP 7946

However, I do have it working presently with encrypted networking enabled, and only those ports open between the instances.

I just bootstrapped the swarm a few times, and kept redeploying the containers until it worked..
I'm going to open up port 50 and see if that makes it mor

[2016-10-24 18:47] thaJeztah commented on #26523
@coryleeio note that it's not _port_ 50, but _protocol_ 50 (ESP) https://github.com/docker/docker.github.io/pull/230/files. I'm not too familiar with AWS's settings, but  hope it helps

[2016-10-24 18:51] kuruoujou commented on #23420
Apologies for the delay in response.

I see. I have come up with a workaround, unfortunately that basically boils down to disable docker entirely on the machine to do whatever I need to on the local network, and then reactivate it if I need it. This basically means I cannot use docker in production at all if the machine will need to communicate with other machines on that network.

Adding a bogus

[2016-10-24 19:05] jhowardmsft commented on #27685
So to be clear this is pointing at a Windows or Linux daemon?

[2016-10-24 19:13] JnMik commented on #27685
I'm not sure I understand the question

The key is hosted on windows 10, but it is used inside the docker container (via volume).
My container runs on centos7 and PHP is installed.
The container is  simply run on the host, where "Docker for Windows" is installed.

[2016-10-24 19:22] jhowardmsft commented on #27685
Yes, exactly that. It sounds like the container is running on a linux daemon. Can you confirm by docker version?

[2016-10-24 19:30] se7enack commented on #24220
We really need this feature request. Any chance this will get on a release roadmap?

[2016-10-24 19:30] JnMik commented on #27685
Hmm I'm not at home right now (at the office), but I've installed the stable channel like 1 week ago.
And my collegue who's having the same issue he's runing on the beta channel (installed last friday)

![image](https://cloud.githubusercontent.com/assets/4965516/19660694/d5310fa0-99fe-11e6-8804-b119960bae53.png)

[2016-10-24 19:32] jhowardmsft commented on #27685
I think the default is Linux based on your comment `My container runs on centos7 and PHP is installed.`. Getting an answer to what the daemon is is going to be able to point this in the right direction (or at least rule out the Windows daemon which is where I have the most knowledge)

[2016-10-24 19:33] darrenstahlmsft commented on #27671
I can repro with the given container. I'm investigating.

[2016-10-24 19:35] daninthewoods commented on #24220
+1 really need to be able to change this setting.

[2016-10-24 19:41] coolfarmer commented on #27685
I confirm having the issue on the Linux daemon _(I'm the collegue who have the Beta)_

[2016-10-24 19:43] coryleeio commented on #26523
Opened up protocol 50 (its under custom protocol in AWS)

For each test I stopped the docker service, deleted docker data directory, restarted docker service, did docker swarm init, and docker swarm join, then created my containers, each with node constraints, so they wouldn't move around.  Nodes were re-used and were not rebooted between runs.

Here are the commands used:

docker network create -

[2016-10-24 19:43] coryleeio commented on #26523
@thaJeztah

[2016-10-24 19:48] rayterrill commented on #21558
I'm also still seeing this issue in the Windows10 latest builds. Not creating the firewall rules on the fly for the port mapping.

[2016-10-24 19:54] jhowardmsft commented on #27685
@justincormack In which case on account of above, it sounds kind of exactly the same as https://github.com/docker/docker/blob/master/cli/command/image/build.go#L333 during a `build` from a Windows client to a Linux daemon. I've no idea how D4W does "drive sharing" though in terms of 'raw' docker CLI commands.

[2016-10-24 19:57] coryleeio commented on #26523
On my most recent run

Test #5
On A:
Can resolve itself, can't resolve B or C...

On B:
# curl a
curl: (6) Could not resolve host: a
# curl b
curl: (6) Could not resolve host: b
# curl c
curl: (6) Could not resolve host: c

Cant resolve anything, including itself.

On C:
# curl a
curl: (6) Could not resolve host: a
# curl b
curl: (6) Could not resolve host: b
# curl c
nginx landing page shows..

C

[2016-10-24 19:59] coryleeio commented on #26523
What gets me is it works some of the time just fine.  I can't quite pin if it's a timing issue or what.

[2016-10-24 20:06] maxamillion commented on #27500
@thaJeztah

I'm not sure what's going on here, the issue talks about Fedora 25 RPMs and docker 1.13 but then the comments thread is talking about the fedora docker image on the Hub. What's actually requested here?

[2016-10-24 20:13] ninrod commented on #8755
I've just got hit by this. I run an emacs daemon and connect to it with emacsclient. emacsclient gets angrey at me saying: `emacsclient: could not get terminal name`.

I connect to my docker container running emacs daemon through docker exec. Applying @MichaelBitard's solution (`docker exec -ti `your_container_id` script -q -c "/bin/bash" /dev/null`) sealed the deal. But there are some minor color

[2016-10-24 20:17] JnMik commented on #27685
Are you saying running "Docker for windows" on Windows daemon would fix all our SSH issues ?

[2016-10-24 20:19] vielmetti commented on #27614
The discussion upstream is about pushing a new release of the affected tools tomorrow, which would allow people to do their own builds. I will report back as that happens.

[2016-10-24 20:21] thaJeztah commented on #27500
@maxamillion thanks for looking! The Docker RPM's are built in a container, and for those containers, we use the official images from Docker Hub, e.g. the [Fedora 24 Dockerfile for RPM's](https://github.com/docker/docker/blob/master/contrib/builder/rpm/amd64/fedora-24/Dockerfile), and the script [hack/make/build-rpm#L70-L143](https://github.com/docker/docker/blob/master/hack/make/build-rpm#L70-L14

[2016-10-24 20:22] jhowardmsft commented on #27685
No, that's not what I'm saying at all. You obviously can't run centos7 on a Windows daemon regardless - Windows daemons can only run Windows...

[2016-10-24 20:34] mavenugo commented on #26120
This doesn't look like a docker networking issue. I will close this based on the above comments. Pls comment if we have to reopen it.

[2016-10-24 20:34] #26120 closed

[2016-10-24 20:39] crosbymichael commented on #27627
This has been fixed by #27693

[2016-10-24 20:39] #27627 closed

[2016-10-24 20:45] deric commented on #27633
@crosbymichael yeah, that would be nice.

Centos 7 is running already on `systemd 219`, so the fix might be needed just for Debian Jessie.

@thaJeztah how can I check that?
[code]

[2016-10-24 20:52] aboch commented on #27263
@mne91 Assuming you are running a debian based distribution (from posting about `etc/networks/interfaces`) this link (https://www.howtoforge.com/debian-static-ip-address) for example should give you the info you need to statically configure the IP address for your `docker0` interface.

Based on the comments above, I think we should now close this issue as not docker specific.

[2016-10-24 20:53] mavenugo commented on #27263
Thanks @aboch.

@mne91 pls comment if you this issue should be re-opened.

[2016-10-24 20:53] #27263 closed

[2016-10-24 20:54] thaJeztah commented on #8539
@mlaventure @stszap we discussed cherry-picking that PR into a patch release for 1.12, but decided to keep it for 1.13 as it's not a regression in 1.12

[2016-10-24 20:56] thaJeztah commented on #27633
@deric the default should be `cgroupfs`, but it can be changed using `--exec-opt native.cgroupdriver=systemd` for `dockerd`

[2016-10-24 20:58] eliassal opened #27694 "DNS value in daemon.json format"
Can you please provide a daemon.json example with data. I am trying to do
"dns": [192.168.1.13]
tried
"dns": ["192.168.1.13"]
tried
"dns": "192.168.1.13"
tried
"dns": 192.168.1.13

Unfortunately nothing is working
Thanks in advance

**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information y

[2016-10-24 21:06] nishanttotla commented on #27173
I figured out the issue, finally.

Will send out a SwarmKit PR with a proposed fix.

[2016-10-24 21:13] aboch commented on #26523
@coryleeio

To verify traffic is encrypted, while doing your reachability testing, check if the following command run on the docker hosts is intercepting encrypted packets:

`sudo tcpdump esp`

[2016-10-24 21:14] crosbymichael commented on #25644
Sorry for the lag.

I think it is safe to add `tty` support to swarm and it does not directly hurt portability.  I don't have a better alternative at this point and adding this to swarm has the lowest impact on other aspects of the system.

+1 for adding tty support.

[2016-10-24 21:16] mstanleyjones commented on #27668
I'm confused by your environment. Are you running Docker for Windows or some other Docker daemon binary?

[2016-10-24 21:17] aboch commented on #26523
Also, when the failure happen because of address resolution, can you manually check whether a ping from container to the other containers' IP address also fails ?

[2016-10-24 21:20] thaJeztah commented on #27668
@mstanleyjones this is on Windows (not "Docker for Windows"), so `docker run` expects a Windows image

[2016-10-24 21:43] sanmai-NL commented on #18117
What's the status of this issue?
Output is being written to stdout instead of stderr, yet up to Docker Engine 1.12.2 it is useless for machines.
If multiple images were imported, print them with a record separator such as newline.

[2016-10-24 21:49] jhowardmsft opened #27695 "Windows: `nat` and `null` network plugins listed twice in docker info"
@msabansal Just noticed that on a default install (server 2016, RS1 up to date), no custom networking configured, nat and null are listed twice under Network:

D:\>docker version
Client:
 Version:      1.13.0-dev
 API version:  1.25
 Go version:   go1.7.3
 Git commit:   0ab13dd
 Built:        Mon Oct 24 18:57:12 2016
 OS/Arch:      windows/amd64

Server:
 Version:      1.13.0-dev
 API version:  1.

[2016-10-24 21:54] PatrickLang opened #27696 "dockerd.exe --register-service should set a service restart action"
**Description**

`dockerd.exe --register-service` is used to create the "Docker" service and set it to automatically start when a Windows system boots up. This was done as an alternative to using something like NSSM and uses the service control manager built into Windows.

One key feature is that it can restart services automatically, but its not configured by default. My ask is that we enable tha

[2016-10-24 22:00] stevvooe commented on #27665
This looks like a duplicate.

[2016-10-24 22:02] mavenugo commented on #26610
@tylerFowler the Git commit : `82a3ad7` doesn't seem to be a valid hash from docker build. Also the `Built` date is hidden making it very hard to identify the source of the issue.
Is this a custom docker build ? If yes, we will have to close this issue and you can reopen it with an official released docker binary.

[2016-10-24 22:05] jhowardmsft commented on #27696
#dibs

[2016-10-24 22:11] shaynewang commented on #27687
#dibs

[2016-10-24 22:11] shaynewang commented on #27687
I'll look into it and see if I can fix it :)

[2016-10-24 22:16] thaJeztah commented on #27665
Most likely a duplicate of https://github.com/docker/docker/issues/22188

[2016-10-24 22:31] dmcgowan commented on #27298
@MohammedYunus thanks for report, I am able to replicate this in a test and confirm it is happening with overlay2 and not overlay or devicemapper.  (See https://github.com/dmcgowan/dsdbench/blob/master/issues_test.go#L156)

[2016-10-24 22:33] jgrabenstein commented on #27208
Did this make it in? Any idea when an experimental build with this fix will be available?

[2016-10-24 22:36] coryleeio commented on #26523
Thanks, I checked and was able to validate the encryption is working.  Apparently even when I disable it in the security group.  Not sure why that is, but I'm glad it's encrypted.

I was working through an example with it failing, and after a minute or two it started working, is there possibly a delay on it coming up?

As for checking the IP addresses, i'll spin my cluster up and down a few times

[2016-10-24 22:42] jhowardmsft commented on #27696
Fixed by #27700

[2016-10-24 22:48] clnperez commented on #27285
I've been reading up on this myself over the past couple of weeks, so maybe I can chime in (and probably also get some clarification if I'm a little off...). The way I understand it, you can, instead of using just --userns-remap=default, provide UID:GID, or username:group, to the daemon option. Then the docker daemon will handle the setting up of the subuid and subgid files/ranges for the dockrema

[2016-10-24 22:50] thaJeztah commented on #27694
The file should be valid JSON, have you tried something like this?

[code]

[2016-10-24 22:51] ehazlett commented on #27692
Related: https://github.com/docker/docker/pull/25702

[2016-10-24 23:10] thaJeztah commented on #27683
/cc @dmcgowan

[2016-10-24 23:12] thaJeztah commented on #27684
This could be a client-side issue, can you try updating your client binary as well?

[2016-10-24 23:16] mschwartz commented on #27626
For the life of me, I can't tell which of the dozen+ processes with "docker" in the name is the "daemon."

[code]

[2016-10-24 23:20] mschwartz commented on #27626
![image](https://cloud.githubusercontent.com/assets/329637/19667441/c49918b6-9a05-11e6-9a98-249d0c23ad54.png)

[2016-10-24 23:22] sburnwal commented on #27511
@cyli - thank you so much for answering my doubts, appreciate this!

[2016-10-24 23:22] #27511 closed

[2016-10-24 23:54] stevvooe commented on #27665
@thaJeztah #22188 is different. I have seen something similar to this, but I guess we can investigate separately, as I cannot find the other issue.

[2016-10-24 23:58] #26713 closed

[2016-10-25 00:15] mario-areias commented on #24738
@quinnkjones

I just faced the same issue. In my case, it was my VPN who was causing trouble. As soon as I disconnected, the installation worked. Then I connected the VPN again and run the `docker hello-world` command and it works. Not sure if that helps you, but it is worth try it.

[2016-10-25 00:31] dmcgowan commented on #27683
@ernstp do you mind sharing an image which has up to step 3 completed to help us reproduce?

[2016-10-25 00:33] thaJeztah commented on #27345
@allencloud looks like this is a duplicate of https://github.com/docker/docker/issues/16068 ?

[2016-10-25 00:38] KurtStam commented on #27614
Worked like a charm for me : https://hub.docker.com/r/project31/aarch64-alpine/

[2016-10-25 00:39] stevvooe commented on #27659
@rsvp I think @thaJeztah was pointing that out: we do have a better way of proving ownership, called cross-repo mount, which may not be implemented by the hub.

So, now the hashes of your content become sufficient to access that content? If you leak one of your layer hashes, do you want everyone else to have access to that data now? Even telling an attacker that a blob is public or private leaks t

[2016-10-25 00:39] kminooie opened #27706 "No network connectivity while running docker build"
I run docker with an existing bridge. I encounter this issue only in this scenario. this is how I run dockerd:

[code]

the network used here is 192.168.0.0/16. This setting works when I am running a container. But when I try to build something I can't run commands like apt-get update or similar, and I get line like this in the syslog:

[code]

the full log is at https://paste.fedoraproject.org/46

[2016-10-25 00:46] LLParse commented on #27647
If I specify no arguments, the interface for the overlay network is correctly deduced in cases where there is one private IP address. When there are multiple, I am guessing Swarm selects one at random or complains to the user to specify one.

It is my understanding that, in general terms, an advertise address is the address sent to other nodes which allows communication back to [the advertising] n

[2016-10-25 00:47] thaJeztah commented on #27549
This is expected; you're running `chown` during build, however when _running_ the image, you're bind-mounting files from the host on top of the files that are present in the image (`~/.data/shared:/data/shared`), and basically "hiding" the files that are present in the container.

Try running the image without a bind-mounted directory and check if the permissions of the files that are actually in

[2016-10-25 00:47] thaJeztah commented on #27549
I'm closing this issue, because I don't think there's a bug here, but feel free to comment if you think I closed by mistake

[2016-10-25 00:47] #27549 closed

[2016-10-25 00:57] yongtang commented on #27695
Created a PR #27699 for this issue.

[2016-10-25 01:04] aboch commented on #26523
@coryleeio

when you curl the service name (`b` in your case) it will resolve to the service virtual IP.

If your service had more than one replica, the resulting connections will be load balanced across the replicas, via ipvs.

`docker service inspect b` will give you some more info.

BTW, I replicated your setup on AWS with ubuntu 14.04 AMI (kernel 3.13) and so far so good, things work fine over

[2016-10-25 01:08] chulkilee commented on #27627
It happened on centos7, from `docker-engine-1.12.1-1.el7.centos.x86_64` to `docker-engine-1.12.2-1.el7.centos.x86_64`.

I fixed it by moving `/var/run/docker/libcontainerd/containerd/events.log` somewhere.

[2016-10-25 01:12] #24392 closed

[2016-10-25 02:33] allencloud commented on #27662
Yeah, I think currently it is not so user-friendly. As I did not specify restart policy **via pure api rather than cli**, I got nothing of restart policy details.

Actually in fact, I think there is one default restart policy of swarmkit implemented, even if it is none, which is also a kind of policy.

[2016-10-25 02:46] allencloud commented on #27663
OK, @thaJeztah  maybe my expression is somewhat ambiguous.

What I want is that `dockerd -h` shows all option default value, no matter it is true or false, or an empty slice...

Since I found that in the command help details, like `--userland-proxy                        Use userland proxy for loopback traffic (default true)` show a default value of true.
While ` --selinux-enabled

[2016-10-25 03:10] allencloud commented on #27670
sgtm, too. like it so much 😄

[2016-10-25 03:13] vielmetti commented on #27614
@KurtStam - which architecture are you building on?

[2016-10-25 03:14] gaocegege commented on #27484
The logic has been merged into runc: https://github.com/opencontainers/runc/commit/4ec570d06018aa1f2c83939a2e6ed94ee20b172f

Should we update runc to this commit? 🤔

[2016-10-25 03:14] matt-richardson opened #27708 "Unable to start docker service on Win2016 RTM from non-interactive process"
**Description**

I am unable to start the docker service on a Windows Server 2016 RTM instance on AWS (or Azure), from under a non-interactive process.

I am trying to automate some build agents using [packer](packer.io) and as part of that, I'm trying to pre-cache some images. However, the docker service is not started, and I cannot start it.

This also happens when I connect to the instance via

[2016-10-25 03:21] rsvp commented on #27659
Re: Push to registry v2 does not detect already pushed layers #1411 @RichardScothern commented on Feb 2, 2016:

Expected behavior would be that if the repository is public, then the read access is obviously set for everyone -- thus re-uploading would NOT be necessary. This certainly would make sense for saving disk space at the hub. And presumbly there's no security risk from exposing the hash val

[2016-10-25 03:43] xiaods commented on #26491
@thaJeztah thanks for udpate.

[2016-10-25 03:44] gopinatht commented on #25925
Guys, I see the issue is closed and some implication that there is a fix for it in 1.12.3. Am I correct? Is 27609 the fix? If so, is there a release date for 1.12.3?

[2016-10-25 03:52] michaelkrog commented on #26523
What @coryleeio is experiencing is exactly what I am seeing too. Since switching to a none encrypted network I am seeing no issues on Ubuntu 16.04/docker 1.12.2/Digital Ocean/private networking. Its been smooth for 3 days now.

In my case it could perhaps be the key rotation that caused problems. As mentioned earlier it worked flawlessly after upgrading to 1.12.2 for 8 hours before issues appeared

[2016-10-25 03:58] jessegranger opened #27711 "Container clocks dont advance when a windows host resumes."
**Description**

Docker containers hosted on Windows have their clock drift by exactly the amount of time the Windows host spends in suspend mode.  Upon resuming, all current and future docker containers created (until reboot) will have their clock stuck permanently in the past.

**Steps to reproduce the issue:**

Steps to reproduce:
1 Have Docker on Windows.
2 Check that containers are reading th

[2016-10-25 03:59] thaJeztah commented on #25925
@gopinatht yes, there's a patch in 1.12.3 that hopefully resolves this issue; a release candidate for 1.12.3 will be released later today, or tomorrow, we don't have a definitive date for 1.12.3 "GA"

[2016-10-25 04:12] friism commented on #27711
I think this is a duplicate of this: https://github.com/docker/for-win/issues/72

[2016-10-25 04:16] allencloud commented on #27345
OK, sorry for the duplication. i will close this.
Thanks @dattatrayakumbhar04 for the discussion.  We can go to #16068 if more discussion needed. 😄

[2016-10-25 04:16] #27345 closed

[2016-10-25 04:25] gopinatht commented on #25925
Thanks @thaJeztah! I will wait for the patch to become available.

[2016-10-25 04:28] jessegranger commented on #27711
Yep, looks like it. Sorry I only searched with the windows tag.

Closing as duplicate, Thanks

[2016-10-25 04:28] #27711 closed

[2016-10-25 04:47] tylerFowler commented on #26610
Hm.. that's very strange, I believe that version of Docker was actually just from the most recent CoreOS (Beta channel) version at the time. If that doesn't clear this up then perhaps the issue isn't with the official Docker builds.

[2016-10-25 04:53] cybage-santajig commented on #27577
I installed the latest update by installing KB3176936. But still the same behavior. Please help me.

[2016-10-25 05:06] aboch commented on #26523
@michaelkrog I do not have DO account to try this out.
In the meanwhile, if possible, could you create another couple of services on a parallel encrypted overlay network, so that it won't affect your current setup.

So that if I don't hit the issue in my aws setup, then we can debug on yours.

Pls run these commands on each docker host before creating the services:
`ip xfrm flush`
`ip xfrm policy

[2016-10-25 05:15] rsalimian opened #27712 "unable to update service image using Remote Api"
getting _service not found_ error when trying to update service image using service name:

`curl -X POST -v -H 'Content-Type: application/json' \
-d '
{
    "name":"myService",
    "TaskTemplate":{
        "ContainerSpec":{
            "Image":"myrepo\/myservice:v0020"
        }
    }
}' \
http://localhost:2375/services/myService/update?version=11`

error :
`message":"rpc error: code = 5 desc = se

[2016-10-25 05:18] StefanScherer commented on #27708
The service should start from a WinRM session. Check event log or use this script to check typical problems starting Docker service on Win2016/Win10:

[code]

[2016-10-25 06:20] thaJeztah commented on #27539
@justincormack were you looking at this?

[2016-10-25 06:32] janson087 opened #27714 "docker-daemon killed as a result of limit of /docker-daemon"
i am running some app with docker(version 1.8.3),some day i found that docker daemon exit because of oom kill. so i deploy some script to monit the docker process, i found that Docker occupies a sudden increase in memory , and it exit in 2 minutes.

here are the output:
message:
Oct 18 21:32:58 nr-paas12 kernel: docker invoked oom-killer: gfp_mask=0xd0, order=0, oom_score_adj=-900
Oct 18 21:32:58

[2016-10-25 06:51] shahar-drvway commented on #27549
As I agree that it might be expected, without bind-mounted directory there is no problems with the permissions whatsoever, but then it raises other problem that the data is not persistent (means that when we run docker-compose down all of the data collapse).

What makes me think that this problem can be tackled in some way. please share your thought?

[2016-10-25 07:08] rs38 commented on #27672
@darrenstahlmsft can repo this also?

[2016-10-25 07:24] resouer commented on #22693
Met this for several times.

Besides some people can not distinguish `swarm mode` to `swarm`, another possible reason is: you should do `docker swarm init` first to make the build-in K-V store working, or, check the log to see why your `manager` is not working.

[2016-10-25 07:52] thaJeztah commented on #27592
Looks like you found the error, so I'll close

[2016-10-25 07:52] #27592 closed

[2016-10-25 07:54] thaJeztah commented on #27695
this should be fixed, now that https://github.com/docker/docker/pull/27699 was merged

[2016-10-25 07:54] #27695 closed

[2016-10-25 08:00] sylvainmouquet opened #27720 "refresh a local docker image"
Allow to refresh a local docker image

**Steps to reproduce the issue:**
1. I pull an image myubuntu:latest
2. I update the docker image in a remote docker repository
3. Docker is not able to update the local image with the last version, I need to remove the local image for downloading the new version

**Describe the results you received:**
The local image is not the last version

**Describe the r

[2016-10-25 08:04] thaJeztah commented on #27720
Can you explain

If you `docker pull myubuntu`, docker will pull the latest version of the "myubuntu" image, is that not working for you?

[2016-10-25 08:04] bertalanimre commented on #25921
I can confirm the exact same error and workaround for Fedora 24. Seems this issue effect all RHEL based distro?

[2016-10-25 08:07] thaJeztah commented on #25921
@bertalanimre if you also switched from the Red Hat fork to the official packages, then that's likely the same issue, yes

[2016-10-25 08:12] milindchawre commented on #27409
@thaJeztah @rhvgoyal  Any updates?

[2016-10-25 08:24] tlvenn commented on #24409
Sorry to revive this closed topic but while drain does the job, am i the only one thinking that semantically 'drain' is wrong here ? My understanding is your drain a node so you can put it out of your cluster and it seems now we are using this flag for its side effect of making sure the orchestrator will not place anything on that node.

Wouldn't it be better to introduce another availability mode

[2016-10-25 08:28] kevingo opened #27723 "standard_init_linux.go:175: exec user process caused "exec format error""
**Description**

**Steps to reproduce the issue:**
1.Build a static golang simple http server with command: `CGO_ENABLED=0 GOOS=darwin GOARCH=amd64 go build -a -installsuffix cgo -o main .`
2.Create a Dockerfile

[code]
3.Build Docker image `docker build -t kevingo/http-scratch -f Dockerfile.scratch .`
4.Docker run with port binding `docker run -p 1234:8080 kevingo/http-scratch`

**Describe the re

[2016-10-25 08:36] guenhter commented on #25356
The situation was the following:

- 3 Nodes within a swarm (A, B, C)
- All three are also managers
- Node C (logs above) ran out of disk
- The docker service on that Node crashed

Before I noticed that the disk was full, I just restarted the daemon.
It crashed again. Than I noticed the full disk and just deleted the whole `/var/lib/docker` folder (not the smartest idea).
I started docker again and

[2016-10-25 08:38] cyphar commented on #8539
@thaJeztah It's a bug that massively affects the scalability of Docker (it drastically limits the number of containers running on a server). Your call though.

[2016-10-25 08:46] tronicum commented on #24409
And this does work for "new" docker 0.12+ swarms with integrated nodes or also for "legacy" swarms that where setup with docker-machine with <=0.11/swarm:latest ?

[2016-10-25 08:50] allencloud commented on #27449
It will make docker experience somewhat strange.

since I can execute
[code]

but I can not execute `curl`:
[code]

I need to do more in the url wrapper.

ping @mavenugo @tiborvass

[2016-10-25 08:56] fustbariclation commented on #27665
I am pushing this, as you can see, to synapse.org.

I'm going to try it to docker hub as well, and I'll let you know the result. I did try it before, and had a similar problem, but I didn't make a record of it, so I'll do it again.

[2016-10-25 09:00] eliassal commented on #27694
Thanks, yes ite seems the right format, however, after spinning a container, doing ipconfig I still see the old DNS value I stopped container, docker service to be sure but still not getting the DNS mentiones in the daemon.json

[2016-10-25 09:04] westsouthnight commented on #27681
@aboch In practice work, if we have work application with services, (100+ services on 20+ nodes), In future major/minor upgrades Docker Engine or Swarm/Consul components can damage some containers and networks, - from that as expected we get one thing = we need some way for repair or remove old ip from k/v. I no see other ways. Recreate all network its may be very very big problem for production n

[2016-10-25 09:07] bmerry commented on #27281
What about if /v1/_ping returns 404 (as happens here)? Isn't that solid evidence that the v1 API isn't implemented?

[2016-10-25 09:51] tomfotherby opened #27726 "Have "years ago" as a integer in output of docker ps"
**Description**

This is a v.v.v.v.v Minor issue but I've been running a _memcache_ container for a while on one of our hosts:

[code]

I think the "years ago" could be formatted as a integer or maybe 1 decimal place. 6 decimal places seems excessive :exclamation:

**Steps to reproduce the issue:**
1. Run a container for a couple of years. (:stuck_out_tongue_winking_eye: )
2. Do `docker ps`

**Des

[2016-10-25 10:01] aftakhan opened #27727 "docker stats shows the memory limit is more than the total system/VM memory"
ISSUE: docket stats is showing memory more than present in VM

[root@dockerhost ~]# docker stats

CONTAINER           CPU %               MEM USAGE / LIMIT     MEM %               NET I/O             BLOCK I/O             PIDS

728c7cfbec9b        0.46%               284.3 MB / 16.66 GB   1.71%               0 B / 0 B           221.7 kB / 3.174 MB   0

c85311367a4d        0.08%               148.2

[2016-10-25 10:13] runcom commented on #27669
yeah, forget that I was wrong, anyhow, distros building with system's golang like Fedora, RHEL, Suse will all be affected by this.

[2016-10-25 10:17] westsouthnight commented on #27681
@aboch May be we can do procedure or swarm docker param which can real check about used and attached IPs in K/V to real containers in Swarm, and if containers on exists which matched to IP remove that IP from K/V.

[2016-10-25 10:44] coolljt0725 commented on #27723
@kevingo  This should be a mismatch with platform . I run into this issue when I run an amd64 image on an arm64 image by accident. Are your sure the binary you built with `CGO_ENABLED=0 GOOS=darwin GOARCH=amd64 go build -a -installsuffix cgo -o main .` can run on your host?

[2016-10-25 10:53] coolljt0725 commented on #27727
@aftakhan  docker stats take 1k as 1000 but not 1024
16268376 kB * 1024/1000000000=16.65GB

[2016-10-25 10:55] #27727 closed

[2016-10-25 10:55] coolljt0725 commented on #27727
@aftakhan  I'm going to close since it's not an issue, but please feel free to comment :)

[2016-10-25 11:03] ulope commented on #23177
Yes, not everybody is using docker to run a million services distributed over thousands of hosts.

Especially for development it can be very convenient to connect to some service that is running on the host.

Since the introduction of networks it has become much more difficult to reliably predict the host's ip inside the container from outside the container. This is necessary because in most cases

[2016-10-25 11:04] TheBeeMan opened #27728 "docker generated a non advertise addr when run 'docker swarm init --advertise-addr xxx'"
**Description**

docker info

Containers: 18
 Running: 0
 Paused: 0
 Stopped: 18
Images: 59
Server Version: 1.13.0-dev
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 386
 Dirperm1 Supported: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: bridge bridge host host macvlan null null overlay overlay
Swarm: active
 NodeID:

[2016-10-25 11:40] justincormack commented on #27726
Rounding to whole years seems reasonable. Do you want to do a PR?

[2016-10-25 11:41] justincormack commented on #27723
`GOOS=darwin` builds an executable that runs on OSX, you cannot run this in a Linux container. I am closing this as it is expected behaviour. There are no native OSX containers yet, sorry...

[2016-10-25 11:41] #27723 closed

[2016-10-25 11:44] justincormack commented on #27685
@jhowardmsft It is a CIFS mount from Linux to the host, then it bind mounts like a normal Linux daemon would. So the issue is going to be that a CIFS mount from Linux to Windows is not going to have the right Unix permissions.

[2016-10-25 11:45] xianlubird opened #27729 "docker network list returns very slow"
**Description**

**Steps to reproduce the issue:**
1. Run `docker network ls`

**Describe the results you received:**
I use etcd and overlay network in docker daemon. There're about 110 containers in my machine which has 2 core and 4G memory.
This command returns very slow, almost cost 5-7min.In some case, it won't return and hang forever

**Describe the results you expected:**
List network will l

[2016-10-25 11:46] xianlubird commented on #27729
#26812

[2016-10-25 11:50] phimic commented on #25138
Hi, same issue as cduchesne and s0komma mentioned with bonding interface on centos 7.

[2016-10-25 12:17] mavenugo commented on #27728
cc @aaronlehmann @sanimej

[2016-10-25 12:42] shadjiiski opened #27734 "Error pulling image configuration: connection reset by peer"
**Description**

This has been reported multiple times already (#357, #2151, #4539, #5255, etc.) and has never been completely solved, it has just disappeared by itself. Since yesterday, some pull requests to docker registry fail with errors like `error pulling image configuration: Get https://dseasb33srnrn.cloudfront.net/registry-v2/docker/registry/v2/blobs/sha256/36/368db5c51bcd5821a9503b7d8349a

[2016-10-25 12:50] saytik commented on #2174
I  have  the  same  problem  on  centos 7.  I  have  disabled  ipv6    via  sysctl.  but
tcp6       0      0 :::8080                 :::*                    LISTEN      12969/docker-proxy
tcp6       0      0 :::80                   :::*                    LISTEN      12874/docker-proxy

[2016-10-25 12:52] fustbariclation opened #27736 "Pushing to docker hub. Error: Index response didn't contain any endpoints"
**Description**

When pushing to docker hub, it starts the push, but, before it can get anywhere, it gives this error.

**Steps to reproduce the issue:**
1. docker login
[code]
2. docker push
[code]

**Describe the results you received:**
[code]
**Describe the results you expected:**

I expected it to push the segments.

**Additional information you deem important (e.g. issue happens only occasion

[2016-10-25 12:57] mavenugo commented on #25016
cc @mrjana @al I think we should remove this restriction also to support swarm-mode for windows where routing-mesh will not be enabled and the user should be able to use DNS-RR on the back-end networks with published ports.

[2016-10-25 13:16] jhowardmsft commented on #27685
Ah, I see. I'm not sure this is fixable in that case - it's something way outside docker engine. Maybe a workaround would be to cp the files inside the container and chmod/chown as necessary to get the right perms?

[2016-10-25 13:30] dattatrayakumbhar04 opened #27738 "docker build failed when filename is given with -f or --file option even if file present in PATH"
**Description**
docker build failed with an error "unable to prepare context: The Dockerfile (/home/cloud-user/dk) must be within the build context (/home/cloud-user/helper/)", when filename is given with -f or --file option.

file dk is already  in /home/cloud-user/helper/ folder

**Steps to reproduce the issue:**
1. Have a custom file present in directory "/home/cloud-user/helper/" named test
2.

[2016-10-25 13:35] duglin commented on #27738
`docker build -f test /home/cloud-user/helper/` means the context is `/home/cloud-user/helper` so the Dockerfile (test) isn't in there - which means the error message is correct.  Try moving the 'test' file into the "helper" dir, add "helper/" to the -f flag, then it should work.

[2016-10-25 13:35] #27738 closed

[2016-10-25 13:40] dattatrayakumbhar04 opened #27739 "docker build failed on windows 10"
**Description**
Started docker build command on failed with error "**Error checking context: 'can't stat '\\?\C:\Users\datkumbh\AppData\Local\Application Data''.**"

I have installed docker on windows and trying to create image with docker build command from commandline.

**Steps to reproduce the issue:**
1. Have valid dockerfile in any directory
2. Start docker build command as "docker build -f

[2016-10-25 13:51] dattatrayakumbhar04 commented on #27738
@duglin,
Yes its right, we should have test file in /home/cloud-user/helper/ and i have already kept the file in same directory.

[root@nfs-server cloud-user]# ls -l /home/cloud-user/helper/
total 12
drwxr-xr-x. 10 root root 4096 Oct 24 14:03 docker-credential-helpers
drwxr-xr-x.  3 root root 4096 Oct 24 13:42 src
-rw-r--r--.  1 root root   26 Oct 25 13:43 test

Sample of file of test :
[root@nfs-

[2016-10-25 13:53] duglin commented on #27738
@dattatrayakumbhar04 the `PATH` plays no role here. You just need to make sure its in the "build context dir" (someplace - can be in a nested dir).

[2016-10-25 13:56] cpuguy83 commented on #27714
Could be a number of things we would really need more info to troubleshoot, such as what's running, how much logging is happening, etc.
Also bare in mind the OOM killer is indiscriminate in what it kills.

Since this is on 1.8.3 I'm not sure we are really going to be able to track this down since the codebase has changed significantly since then, bugs squashed, memory leaks plugged, etc.
I'm going

[2016-10-25 13:56] #27714 closed

[2016-10-25 14:00] domdom82 opened #27740 "docker info should show dockerd userns configuration"
**Description**

I am trying to configure a container differently depending on detected daemon features.
For this feature detection I am running `docker info` and grep for the feature in use.
This is a generic pattern, you could also use it for other features such as used storage backend or enabled security like seccomp or apparmor.

I have noticed that `docker info` gives no information about whe

[2016-10-25 14:06] justincormack commented on #27740
Yes I noticed it the other day. I think adding `userns` in security options would be fine too.

You can work it out as docker info displays the root eg `/var/lib/docker/10000.10000` but it is not ideal.

cc @estesp

[2016-10-25 14:10] domdom82 commented on #27740
@justincormack exactly. it's doable with parsing `/var/lib/docker` but it should be easier :-)

[2016-10-25 14:15] mlaventure commented on #26768
@SwenChan it looks like the shim was reparented to init, meaning `containerd` died somehow.

It would help, if you would use the tree form of `ps` so I can see the relationship of the different involved process. If you could also provide the daemon log, it may be of used.

Thanks

[2016-10-25 14:17] mlaventure commented on #27626
@mschwartz there  should  be a `/var/run/docker.pid` file with the daemon `PID` :)

[2016-10-25 14:19] resouer commented on #27289
I also hit this issue, @tonistiigi you are fixing it right?

[2016-10-25 14:23] #27011 closed

[2016-10-25 14:23] #27289 closed

[2016-10-25 14:24] mschwartz commented on #27626
There is no /var/run/docker.pid file.  There is a /var/run/docker.sock file (I assume a unix domain socket).

It happened again.

[code]

[2016-10-25 14:24] mschwartz commented on #27635
moar

[code]

[2016-10-25 14:33] rocketeer125 opened #27741 "dockerd ignores sssd docker group"
Previously on 1.11, there was a systemd implementation of docker.socket that defined the socket to run as root:docker (SocketGroup=docker).

With the 1.12 implementation of dockerd, --group=docker seems to be is ignored if the group isn't explicitly defined in /etc/group.

On site here, we manage user accounts and groups with FreeIPA - this uses sssd, rather than local accounts. As such, there is

[2016-10-25 14:34] rocketeer125 commented on #27741
https://github.com/docker/docker/pull/24804

[2016-10-25 14:56] mabrarov commented on #27580
To @Jaspreetc:

Hi. Was you able to open JFrog Artifactory ticket? I'd like to know ticket ID and link.

[2016-10-25 14:57] vtutrinov opened #27742 ""docker exec" and "docker stop" commands throw permission denied exception"
**Steps to reproduce the issue:**
1. build and image from dockerfile like

FROM alpine:latest
CMD /bin/sh
1. run it in -dit mode

docker run -dit --name mycontainer mynewimage
1. stop running container
   docker stop mycontainer

**Describe the results you received:**
Error response from daemon: Cannot stop container mycontainer: Cannot kill container 194b31df7d8cb97efcc53905d7b1172ffda90c1909274b

[2016-10-25 14:59] genei09 opened #27743 "wrong github - please delete"

[2016-10-25 15:00] clns commented on #27423
Any idea why the client and server API versions are different?

[2016-10-25 15:05] mlaventure commented on #27626
Oh, this is D4M.

ping @justincormack what's the way to get the stacktrace in that context?

[2016-10-25 15:08] #27743 closed

[2016-10-25 15:20] tomfotherby commented on #27726
@justincormack

Sorry, My Go fu isn't up to it. I found where the code for `docker ps` is ([cli/command/container/list.go](https://github.com/docker/docker/blob/master/cli/command/container/list.go#L110)) but not where the `CREATED` table column is formatted. The `HumanDuration` function ([vendor/src/github.com/docker/go-units/duration.go](https://github.com/docker/docker/blob/master/vendor/src/gi

[2016-10-25 15:22] ensonik opened #27744 ""docker exec" zsh autocompletion doesn't do container name autocompletion if used with options"
**To reproduce:**
[code]

**Expected result:**
List of started containers.

Note: Everything is OK when there are no options used in the command line. e.g.:
[code]

[2016-10-25 15:26] JnMik commented on #27685
I think that makes it difficult for users to use docker on windows without hassle.
And new users might even just drop it because they just don't get how to make things work.

It's very common for developers to have private repository, and running the dependency manager inside the container is the right way to go because most of DM validates your have the right technos in place before pulling the d

[2016-10-25 15:33] cpuguy83 commented on #27694
@eliassal What's the value of the "old DNS value"

[2016-10-25 15:38] vtutrinov commented on #27742
Run with

fixed issue.
But I expected such behavior by default.

[2016-10-25 16:01] eliassal commented on #27694
The value is 192.168.2.254.
My subnet is 192.168.1.0, Gateway is my netgear router who is DHCP as well and just behine my ISP box which has DNS as the same value 192.168.2.254. So my machines on the subnet 192.168.1.0 all have DHCP for getting an IP and static DNS 192.168.1.13, so I thought that putting DNS value in daemon.json will do the same thing, NON?

[2016-10-25 16:02] mschwartz commented on #27626
I really hope this isn't an issue in production on a linux host.

[2016-10-25 16:03] vdemeester commented on #27449
@allencloud yeah you would have to escape `%` in the curl command to make it work :angel:

[2016-10-25 16:07] leth commented on #27626
Guys, we have two likely different issues here, on two different platforms. Can we keep discussion of the other issue on #27635 otherwise everyone is going to get confused.

[2016-10-25 16:35] friism commented on #27423
@clns probably you installed the Docker daemon directly, and got the CLI from Docker for Windows or similar.

You can override the CLI API version to get around the error.

    $DOCKER_API_VERSION = "1.25"

[2016-10-25 16:41] clns commented on #27423
@friism No, as you can see I'm running `dockerd.exe` and `docker.exe` from the same location `C:\Program Files\Docker`, which was installed by the Docker for Windows installer. This means both those executables were put there by the installer.

[2016-10-25 16:45] tiborvass commented on #27449
100% agree with @allencloud let's fix this.

[2016-10-25 16:49] mavenugo commented on #27449
@tiborvass is there a common library to perform such checks for all the objects consistently ? If not, shall we use this opportunity to do the same ? Also backward compatibility is a concern. But I guess we should be able to take a chance here !

[2016-10-25 16:52] inongogo commented on #2174
My problem when I encountered this issue was that my firewall was blocking the network that the container was a member of. The firewall had a rule at the bottom of the firewall rules that denied all of the ports and IP addresses that wasn't defined in the list above it. My container was part of the subnet 172.17.0.0/16 so after adding it to the Allow-list in the firewall, all was well.

[2016-10-25 16:55] tiborvass commented on #27449
@mavenugo agree we should factor it out somewhere in `pkg/`. For backwards compatibility, we could make it version aware on the API side. If validation is also done in the CLI, then they would just need to downgrade.

[2016-10-25 16:55] thaJeztah commented on #27289
@resouer fix was merged, and will be in docker 1.13

[2016-10-25 17:10] aboch commented on #26523
@coryleeio @michaelkrog

My 3 nodes (one manager, 2 workers) went through a key rotation. So far, so good.
I have two encrypted networks. On one I am running 3 single replicas nginx services (@coryleeio use case), on the other one 2 multi-replicas nginx services (to mimic @michaelkrog scenario).

I have scaled up and down the services and verified each task can connect to the services and can ping

[2016-10-25 17:12] thaJeztah commented on #24409
@tronicum "Swarm" is really separate from this; please check https://github.com/docker/swarm/issues for feature requests for that

[2016-10-25 17:13] aboch commented on #27681
@westsouthnight Agree my suggestion is just a workaround.
In the long term it would ideal if you could move to the new docker swarm mode (1.12.x), which would be resilent to this kind of issues.

[2016-10-25 17:17] thaJeztah commented on #27449
Putting this on the 1.13 milestone (would be good to have it fixed before that), but no show-stopper

[2016-10-25 17:34] friism commented on #27685
@JnMik probably the way to go is to use GitHub tokens and pass them in as build args during `docker build`: https://docs.docker.com/engine/reference/commandline/build/#/set-build-time-variables---build-arg

[2016-10-25 18:06] coolfarmer commented on #27685
@friism , true for Github, we can use Oauth token, but for BitBucket (correct me if i'm wrong) it's impossible to use this functionality with Composer.

Ref: https://github.com/composer/composer/issues/4398

[2016-10-25 18:11] erikh commented on #27393
I think I see part of the problem. I agree, it's confusing behavior at
best, but I think it's exposing a breakout of the context so I wanted to
explain.

I tried this for giggles with the repo @ https://github.com/erikh/box:

[code]

https://github.com/docker/docker/blob/master/builder/context.go#L219 seems
to be the relevant portion of code here. How we qualify `-f` seems like it
has some holes.

[2016-10-25 18:15] bmerry commented on #27281
On 24 October 2016 at 15:03, Antonio Murdaca <notifications@github.com>
wrote:

​What about if /v1/_ping returns 404 (as indeed happens)?​ Surely that
indicates that the v1 API isn't implemented?

[2016-10-25 18:15] leth commented on #27626
IIRC on Mac docker runs in a VM using the built-in virtualization tools

On 25 October 2016 00:22:02 BST, Michael Schwartz <notifications@github.com> wrote:

--
Sent from my phone. Please excuse my brevity.

[2016-10-25 18:18] aaronlehmann commented on #27208
Yes. I only closed it after it was merged on both branches.

[2016-10-25 18:18] erikh commented on #27393
I don't know if docker is doing anything fancy but I checked:

[code]

This prints "3' which is what I expect it to. Maybe docker is seeing stdin
first and ignoring the -f option?

On Thu, Oct 20, 2016 at 7:21 PM, Erik Hollensbe <github@hollensbe.org>
wrote:

[2016-10-25 18:20] aluzzardi commented on #27208
1.12.3?
On Thu, Oct 20, 2016 at 4:35 PM Tõnis Tiigi <notifications@github.com>
wrote:

[2016-10-25 18:23] leth commented on #27626
Sorry, I'm out of the office for the next week. The test harness should be able to reproduce the issue in the mean time.

On 24 October 2016 17:17:50 BST, "Kenfe-Mickaël Laventure" <notifications@github.com> wrote:

--
Sent from my phone. Please excuse my brevity.

[2016-10-25 18:24] JnMik commented on #27685
@friism  Thanks for your reply

My reflexion on this is, if the build time variables are dismiss after docker build, it prevents us to go inside the container to refresh our dependencies (composer update / composer install etc).

We will be forced to rebuild the whole image to refresh our dependencies.

I don't think it's optimal, but we're getting closer.

[2016-10-25 18:25] justincormack commented on #21051
This was fixed in 1.12. You need to disable seccomp in earlier versions.

On 23 Oct 2016 12:52 p.m., "Sander Maijers" <notifications@github.com>
wrote:

[2016-10-25 18:25] justincormack commented on #27685
Not sure it is, I think it is a general permissions mapping issue. As
Windows does not understand Unix permissions it does not map them.

I would recommend creating a Linux volume for your keys and syncing them,
and then adjusting the permissions, I think this should work.

On 24 Oct 2016 4:04 p.m., "Sebastiaan van Stijn" <notifications@github.com>
wrote:

[2016-10-25 18:26] justincormack commented on #27590
This will be fixed in 1.12.3, was reported elsewhere, we are currently
fixing it.

On 20 Oct 2016 6:13 p.m., "phillipma" <notifications@github.com> wrote:

[2016-10-25 18:27] justincormack commented on #27726
Does seem somewhat precise! Do you want to make a PR? I think whole years
is OK.

On 25 Oct 2016 10:51 a.m., "Tom Fotherby" <notifications@github.com> wrote:

[2016-10-25 18:32] karlkfi commented on #27295
If the default doesn't change then docker-compose needs some way to set the volume management behavior so that it calls -v when removing containers.

[2016-10-25 18:39] JnMik commented on #27685
This could work,  I will try this.

But still, we gotta admit  this will still be painful to do. Unallocate disk space, create a new partition ext, copy ssh key, adjust permissions, mount them in the volume and hope for everything works.

I hope for something easier in the docker future.

[2016-10-25 18:42] erikh commented on #21651
Can I get pointed in the right direction? Hopefully I'm not being a problem. I just really need this bug fixed.

[2016-10-25 18:51] aluzzardi commented on #27382
1.12.3?
On Thu, Oct 20, 2016 at 4:35 PM Tõnis Tiigi <notifications@github.com>
wrote:

[2016-10-25 18:53] BenHall commented on #21651
My workaround involves base64 encoding a file and using docker exec to decode/write to the container. It seems to be working well for me, but it's only a couple of files.

[2016-10-25 18:58] ryansanford commented on #25925
@thaJeztah Is it known what version introduced this issue? I'd like to downgrade to the latest version not impacted until this fix is in a "GA" release. Thanks.

[2016-10-25 18:58] darrenstahlmsft commented on #27671
/cc @jhowardmsft Can you take a look at this?

[2016-10-25 19:00] justincormack commented on #27590
@phillipma unfortunately you were too late... Sorry!

On 24 Oct 2016 18:31, "phillipma" <notifications@github.com> wrote:

[2016-10-25 19:01] erikh commented on #21651
Ugh. Thanks for the idea, though.

On Tue, Oct 25, 2016 at 11:55 AM, Ben Hall <notifications@github.com> wrote:

[2016-10-25 19:02] jhowardmsft commented on #27671
#dibs

[2016-10-25 19:02] jhowardmsft commented on #27671
Sure, looking

[2016-10-25 19:11] aaronlehmann commented on #27382
This is fixed in 1.12.3.

[2016-10-25 19:16] jhowardmsft commented on #27671
Yes, I can repro. Investigating.

[2016-10-25 19:23] pbdeuchler commented on #25138
Same here:

[code]

If it matters at all, this started occurring immediately after I updated the host kernel to patch https://dirtycow.ninja/

[2016-10-25 19:29] jhowardmsft commented on #27671
Was broken by 96622b2a7d58d74883bc1777d3be171c2b8f2165. Looking at a fix.

[2016-10-25 19:34] demaniak commented on #27045
@hqhq any hints on what I can try to trouble shoot a network issues? The first `update` and bunch of `installs` seem to work fine (so basic `apt-get` network access seems fine). I have left it running for a day - it really seems hung at `Step 3 : RUN dpkg --add-architecture armhf      && apt-get update       && apt-get install -y libc6:armhf`

The container is running -  I can `exec` into it - is

[2016-10-25 19:46] bvis commented on #26664
Hi, any news about this issue?

[2016-10-25 19:58] nerdalert commented on #25138
Hi, @pbdeuchler @phimic @s0komma. Would one of you try creating the bonded interface manually using the `ip link` command and see if it has issues if you wouldn't mind?

Example usage to test but using the bonded iface. That way we can see if it's a Linux issue etc.

Thanks!!

[code]

[2016-10-25 19:58] matt-richardson commented on #27708
Thanks, @StefanScherer. I'd already tried the `Debug-ContainerHost.ps`, but it didn't seem to show much info.

Here's the output:
[code]

I'll get more info from that event log message shortly.

[2016-10-25 20:02] coryleeio commented on #26523
My security group (sg-xxxxxx) inbound rules looks like the following, outbound is open:

Custom TCP Rule
TCP
2377
sg-xxxxxx

Custom TCP Rule
TCP
4789
sg-xxxxxx

Custom UDP Rule
UDP
7946
sg-xxxxxx

Custom TCP Rule
TCP
7946
sg-xxxxxx

Custom UDP Rule
UDP
4789
sg-xxxxxx

Custom Protocol
ESP (50)
All
sg-xxxxxx

I added the protocol 50 rule yesterday.  It does seem to be really stable today, perhaps re

[2016-10-25 20:07] pbdeuchler commented on #25138
@nerdalert

[code]

[2016-10-25 20:07] thaJeztah commented on #19834
ping @runcom @aaronlehmann is this still an issue?

[2016-10-25 20:08] matt-richardson commented on #27708
Event log message is:
[code]

[2016-10-25 20:10] thaJeztah commented on #21239
Have you tried if it works when adding those capabilities? Usually it's best to not use `--privileged`, but find which capabilities are actually needed. `IPC_OWNER` is probably what you need, otherwise `SYS_ADMIN` capability is a likely candidate.

Let me know if that works, or if you need more info

[2016-10-25 20:13] thaJeztah commented on #21248
These endpoints return more information than just stdout/stderr, such as progress bars, and for that reason use a different format.

I'll close this issue, because it's not really a bug, but feel free to comment after

[2016-10-25 20:13] #21248 closed

[2016-10-25 20:16] tiborvass commented on #21157
My biggest 👍 ever

[2016-10-25 20:16] thaJeztah commented on #15830
I'm not sure this would fit the scope of what docker does, and would be replicating what a firewall does. At this point, we don't think we should implement this, but we can reconsider if there's a lot of interest

[2016-10-25 20:16] #15830 closed

[2016-10-25 20:18] thaJeztah commented on #21319
We're okay with adding this, would you be interested in opening a pull request?

[2016-10-25 20:19] aaronlehmann commented on #27208
Yes.

[2016-10-25 20:20] thaJeztah commented on #21324
Looks like there's some answers here, and 1.11 has been released; I'll close this issue, but if you have more questions, let me know

[2016-10-25 20:20] #21324 closed

[2016-10-25 20:21] thaJeztah commented on #21167
ping @aboch ptal

[2016-10-25 20:22] thaJeztah commented on #20800
are you still having this issue? or have you found a way to get this working?

[2016-10-25 20:25] thaJeztah commented on #20919
Can you explain the issue you're running into? For swarm mode, we're storing the authentication information in the service definition, and have each node pull an image when needed.

[2016-10-25 20:27] thaJeztah commented on #20919
Given that this is best discussed on the "Swarm" repository if it's for "classic" Swarm, I'll close this issue here, as for SwarmKit / Swarm mode it should be resolved.

[2016-10-25 20:27] #20919 closed

[2016-10-25 20:27] nerdalert commented on #25138
Thank @pbdeuchler were you having issues with using a bonded interface as a parent or just the nic as the parent?

Was thinking trying the above but with a bond as the parent. e.g.

`ip link add mv1 link bond0 type macvlan mode bridge`

Thanks!

[2016-10-25 20:27] thaJeztah commented on #21247
I think we haven't seen this in a while, but we can reopen if it returns

[2016-10-25 20:27] #21247 closed

[2016-10-25 20:29] thaJeztah commented on #21331
Hi @samuelkarp - going through old issues; would you be interested in opening a PR if you think this still needs changes in the docs?

[2016-10-25 20:29] thaJeztah commented on #20922
Windows TP4 is no longer, so closing

[2016-10-25 20:29] #20922 closed

[2016-10-25 20:33] thaJeztah commented on #21350
Probably this is related to the version of pacstrap used and the script may need to be updated. Arch linux can be a running target, as they update quite frequently, but if you found a solution, please open a pull request to update the script

[2016-10-25 20:33] #21350 closed

[2016-10-25 20:35] aboch commented on #26251
@tswift242

Docker 1.12.2 does contain the fix in docker/libnetwork#1428
Docker 1.12.3 will contain the fix in docker/libnetwork/pull/1504

We are looking into mitigating the effects of https://github.com/docker/libnetwork/pull/1374 (just longer timeout), but that will likely make it in 1.13.x only

[2016-10-25 20:36] samuelkarp commented on #21331
@thaJeztah Yes, I think this still needs changes as the docs are still incorrect with respect to the `kill` event.  I'd be happy to open a PR, but I don't know when I'm going to have the time to do so (especially since I don't have the source of the current diagram in the docs).  I'd also be interested in your thoughts on how you'd address the semantics of events changing over time (e.g., which ev

[2016-10-25 20:36] thaJeztah commented on #21346
We cannot really optimize this further, because the docker client and daemon can be running on a different host, so all the data that's piped will be sent over the API. As a possible solution, you could consider using bind-mounts for sharing data between the host and the container.

I'll close this issue, but feel free to comment after