[2015-10-25 00:23] glennblock commented on #16207
👍
On Fri, Oct 23, 2015 at 6:23 PM Sebastiaan van Stijn <
notifications@github.com> wrote:

[2015-10-25 02:10] coolljt0725 commented on #17336
@jas99  I think there is no way to do this, you have to add `--device` flag in run cmd per container

[2015-10-25 04:13] moxiegirl opened #17341 ".NetworkSettings.Networks differs depending on how a container is connected"
To reproduce:

1. create a bridge network
2. create a container1
3. use `docker connect` to connect the container to the network
4. create another container but this type use `docker run --net` to connect it.

Result: An inspect of the first container returns `[bridge isolated_nw]` while inspecting the second container returns just ` [isolated_nw]`

[code]

[2015-10-25 04:13] GordonTheTurtle commented on #17341
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-25 04:17] moxiegirl commented on #17341
Ohhh, I think I see what is going on.  There were two connected networks `bridge` because it was connected automatically at run and later attached.  (See this is why the name `bridge` is confusing for both the type and name.)  Umm, I'll explain it.

[2015-10-25 04:17] #17341 closed

[2015-10-25 04:47] moxiegirl opened #17342 "/etc/hosts not updated on disconnect"
the network stack is updated but not `/etc/hosts` --- is this expected behavior?

[code]

[2015-10-25 04:47] GordonTheTurtle commented on #17342
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-25 04:54] jcoffland commented on #735
@tomalakgeretkal I use ``m4`` for exactly this purpose.  You can do so now by preprocessing your ``Dockerfile`` with something like this:

[code]

It would be even better if docker either had an option to automatically preprocess with ``m4`` or better yet always did so.  Docker would need to add ``-I``, for include, to the ``docker build`` command but that's about it.  Supper easy to implement and

[2015-10-25 04:56] #17318 closed

[2015-10-25 06:11] djaed commented on #14819
@Maple123 please elaborate. I'm new to docker and been running into various difficulties, including  'docker run hello world' with same errors as above. My upstart/docker.log:

[code]

[2015-10-25 06:53] askb commented on #17243
@calavara These tests are not reproducible with the updated code base manually or run thru the test suite.

[code]
Based on my understanding, this could be related to the other cases where `waitRun()` call is required between a container creation and exec sequence, to allow `docker run -d` to complete on the server, before issuing a `docker restart` or `docker exec` is issued on the container.  Pl

[2015-10-25 07:37] thaJeztah commented on #17335
hm.. I may have been too fast closing, I'll reopen; couldn't reproduce though

[2015-10-25 07:38] thaJeztah commented on #17335
Will try again later

[2015-10-25 08:39] runcom commented on #16526
This sounds weird because I get:
[code]
Which it's hitting https://github.com/docker/docker/blob/1ffff4c8e2b208664b6f63ea6cd3c4c3dace3cc9/builder/parser/line_parsers.go#L156 because LABEL w/o value is evaluated at this check https://github.com/docker/docker/blob/1ffff4c8e2b208664b6f63ea6cd3c4c3dace3cc9/builder/parser/line_parsers.go#L150

So, is your repro example wrong somewhere? I also think it'

[2015-10-25 09:33] fgimenez commented on #16756
Hi, I'll take docker_cli_external_graphdriver_unix_test.go

[2015-10-25 09:54] rdpanek commented on #6673
Hello everbody, and in `1.7.1, build 786b29d` too :-/

ubuntu 14.04

How next?

[2015-10-25 10:00] jas99 commented on #17336
@coolljt0725 It will be nice to have though.

[2015-10-25 10:20] thaJeztah commented on #17336
I don't think this is something we'd add as a daemon option, as it's really something specific to a container. Perhaps other maintainers think differently on this.

[2015-10-25 10:24] joheexu opened #17345 "marathon service start error [ marathon.service: main process exited, code=exited status=1/FAILURE]"
I used below commands to install the maesos,marthon,chronos,zookeeper on the Centos 7.

There are two mesos-masters,the ip are 192.168.253.129 and 192.168.253.130.Also i created the files master,zk,hostname in /etc/marathon/conf.Below are the details of three files.

1.master>>zk://192.168.253.129:2181,192.168.253.130:2181/mesos
2.zk>>zk://192.168.253.129:2181,192.168.253.130:2181/marathon
3.hostn

[2015-10-25 10:24] GordonTheTurtle commented on #17345
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-25 10:26] #17345 closed

[2015-10-25 10:36] thaJeztah commented on #17304
Having a `--format` flag on `docker images` (similar to the flag that's recently been added to `docker ps`) would definitely help here

[2015-10-25 10:52] thaJeztah commented on #17342
I think we had the same problem with `--link`, which tripped up some users. Would be happy to see this resolved though :+1:

[2015-10-25 10:55] thaJeztah commented on #16485
ping @mavenugo ^^

[2015-10-25 10:57] thaJeztah commented on #16445
Also see https://github.com/docker/docker/issues/16619

[2015-10-25 11:15] thaJeztah commented on #17342
Similar issue for "rename"; https://github.com/docker/docker/issues/16485, and some older ones on entries for "removed" containers not being removed; https://github.com/docker/docker/issues/15811

[2015-10-25 11:16] mmatiaschek opened #17346 "docker cp on OS X 10.11 fails to copy contents of directories recursively"
i get a "permission denied" error when copying contents of subdirectories...

mmatiaschek@Markus-MBP ~/Work> docker exec d8 ls -al /var/www/html/sites/default
total 76
dr-xr-xr-x  3 www-data www-data  4096 Oct 25 10:04 .
drwxr-xr-x  5 www-data www-data  4096 Oct 25 10:11 ..
-rw-r--r--  1 www-data www-data  5997 Oct 21 22:51 default.services.yml
-rw-r--r--  1 www-data www-data 28086 Oct 21 22:51 de

[2015-10-25 11:16] GordonTheTurtle commented on #17346
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-25 11:24] thaJeztah commented on #17337
Thanks for reporting @vasu-d, and thanks for looking up the related issues @fntlnz!

Let's close this one, and continue the discussion on the issues @fntlnz mentioned, otherwise the discussion is spread over multiple repositories; it's better to keep them in a single location

[2015-10-25 11:24] #17337 closed

[2015-10-25 11:55] cpuguy83 commented on #17335
I don't know, the `strconv.ParseInt` error seems like a bug with the ansi terminal emulator.

[2015-10-25 12:09] thaJeztah commented on #17335
I'll add the Windows peeps, perhaps they're already tracking this

/cc @swernli @jhowardmsft

[2015-10-25 12:21] thaJeztah commented on #17307
@ttux could you open this issue in the https://github.com/docker/distribution issue tracker? Thanks!

[2015-10-25 12:21] #17307 closed

[2015-10-25 12:21] praiskup opened #17347 "Don't allocate pty if docker command output is redirected to regular file"
Example:
[code]

This would be useful for containerized command output colorization -- if the output is
redirected to non-tty file -> avoid shell colors in output.

[2015-10-25 12:21] GordonTheTurtle commented on #17347
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-25 13:07] vdemeester commented on #17304
@thaJeztah I'm working on it :stuck_out_tongue_closed_eyes: (the `--format` on images)

[2015-10-25 14:08] mavenugo commented on #16485
@cpuguy83 @thaJeztah yes it is related to #15727 and @sanimej is working on it. we will have a fix today.

[2015-10-25 14:18] mavenugo commented on #17342
this is resolved via https://github.com/docker/libnetwork/pull/709. will be available in docker/docker via next vendor-in.

[2015-10-25 14:22] mavenugo commented on #15995
@mrjana is looking at this.

[2015-10-25 14:33] mavenugo commented on #17248
@vieux where should we fail this configuration ? at the discovery (or) at libnetwork ?
there is a difference here. Though overlay driver makes use of the `--cluster-advertise` to advertise the local endpoint for the tunnel, it still works for connectivity between the local containers without it.
Hence, we don't have a hard requirement to fail the daemon bootup due to a misconfigured `--cluster-adv

[2015-10-25 14:38] mavenugo commented on #17305
@tiborvass @ibuildthecloud yes. i stand corrected on the docker0 bridge creation on machine reboot. got carried away with the daemon restart vs machine reboot.

Regardless of that, I still dont think it is a good idea to encourage this.

[2015-10-25 14:49] moxiegirl commented on #17047
+1 to @cpuguy83 questin @mavenugo are we fixing this for 1.9.0 it significantly changes the documentation as it significantly changes the UX. Right now, the workaround is:

[code]

[2015-10-25 14:53] moxiegirl commented on #17342
Closed by https://github.com/docker/libnetwork/pull/709

[2015-10-25 14:56] mavenugo commented on #17047
@cpuguy83 am inclined towards making this simple using your idea of accepting both ip-address of the interface or the interface-name. WDYT ?
I will push a PR to this effect.

[2015-10-25 15:04] #16619 closed

[2015-10-25 15:04] #17190 closed

[2015-10-25 15:06] mavenugo commented on #16445
closed via https://github.com/docker/docker/pull/17325

[2015-10-25 15:06] #16445 closed

[2015-10-25 15:16] cpuguy83 commented on #17047
I'm +1 to that obviously :)
I think when deploying people should always know which interface is the correct one upon machine creation.

[2015-10-25 15:24] mavenugo commented on #17047
@cpuguy83 the question though would be the expectation on the dynamic nature of ip-address assignment to the interface. What if the ip-address of that interface changed post daemon start ?
I dont think we can tolerate such dynamism.

[2015-10-25 15:26] malayamanas commented on #17280
@cpuguy83 I did try in IRC channel for help, but did not get any response from anyone !!!

But there are kern.log entries that points to apparmor.

Oct 25 08:24:01 comet kernel: [279212.461808] type=1400 audit(1445786641.841:6546499): apparmor="DENIED" operation="ptrace" profile="docker-default" pid=26849 comm="monit" requested_mask="trace" denied_mask="trace" peer="docker-default"

Can anyone ple

[2015-10-25 15:32] malayamanas commented on #17280
This is already reported https://github.com/berngp/docker-zabbix/issues/13

[2015-10-25 15:36] malayamanas commented on #7276
https://github.com/docker/docker/issues/17280

[2015-10-25 15:45] malayamanas commented on #17280
I have disabled apparmor. i will update whether containers are getting killed abruptly or not.

[2015-10-25 15:46] thaJeztah commented on #16485
Cool! Thanks @mavenugo

[2015-10-25 15:54] djaed commented on #14819
**Problem solved!**

Appears to be mostly related to **AppArmor installation on Ubuntu**. First followed [instructions to disable AppArmor profile](https://help.ubuntu.com/community/AppArmor#Disable_one_profile), which didn't work. Then after various other failed attempts, finally completely uninstalled AppArmor and deleted all AppArmor folders and also did same for docker-engine, i.e

    sudo ap

[2015-10-25 15:59] malayamanas commented on #17280
https://bugs.launchpad.net/ubuntu/+source/docker.io/+bug/1320869

[2015-10-25 16:31] runcom commented on #16925
IIRC these routes are actually *streaming* new line delimited json. The only thing I can come up with is using `application/json; boundary=NL` instead of just plain `applicatoin/json`. Does this sound good?

[2015-10-25 17:15] AXGKl commented on #13297
@mikebrow thanks also from here. Sorry was pretty much for quite some time.

[2015-10-25 17:17] thockin commented on #17190
Is this s really closed?  Assuming the corruption is fixed, it is still a
racy implementation for any non-default networks, which is sort of the hot
new thing to use isn't it?

I.e. the upcoming swarm release with overlay network will be flake-tastic.
On Oct 25, 2015 8:05 AM, "Tibor Vass" <notifications@github.com> wrote:

[2015-10-25 17:27] jhowardmsft commented on #17335
What version of docker on Windows? There have been many fixes in the ansi emulator. Can you verify if this repros using docker master?

[2015-10-25 17:34] mitchcapper commented on #17335
Yeah I can say the GUI for the selector I *think* he is crashing on works just fine for me on Git commit:   d2e7ba4 on win10 with powershell.

[2015-10-25 17:54] bcroq commented on #16524
1) no, it happened once and never happened again anywhere
2) no
3) my workstation is not containerized, it is a "true" Arch Linux system; I don't use docker-in-docker on my workstation.

[2015-10-25 17:54] #16524 closed

[2015-10-25 18:07] arun-gupta commented on #13026
When is this planned to be deprecated?

[2015-10-25 19:44] vieux commented on #17248
@mavenugo I would say at the libnetwork level, because discovery doesn't care about have a real IP it can bind.

In Swarm most of our used advertise the public IP (54.x) and it works fine.

[2015-10-25 20:17] #17225 closed

[2015-10-25 23:21] duglin commented on #13026
gotta get some buy-in from other maintainers first....

[2015-10-25 23:22] jas99 commented on #17336
@thaJeztah If I start gpu instance I want all containers on that host to have gpu capability. ECS service from AWS as of now didn't exposed device forwarding. My query emerged from that. Maybe creating container wise default settings for all options might be something that is use of to docker users.

Thx

[2015-10-26 00:38] mfischer-zd commented on #17190
I agree with @thockin: This issue is still open, as far as I can tell.

It seems to me that there are at least three issues regarding /etc/hosts generation:

1. Race conditions involving its manipulation
2. Link entries being added, whether or not `--link` was specified in the `docker run` invocation
3. Entry not being updated to new IP if linked container is restarted (maybe related to (1)?)

So

[2015-10-26 00:39] mfischer-zd commented on #17190
I agree with @thockin: This issue is still open, as far as I can tell.

It seems to me that there are at least three issues regarding /etc/hosts generation:

1. Race conditions involving its manipulation
2. Link entries being added, whether or not `--link` was specified in the `docker run` invocation
3. Entry not being updated to new IP if linked container is restarted (maybe related to (1)?)

So

[2015-10-26 00:57] WhisperingChaos commented on #13026
@arun-gupta

What are your reasons for eliminating multiple ```FROM``` support?

[2015-10-26 00:59] WhisperingChaos commented on #13026
Perhaps shykes himself - see #7115.

[2015-10-26 01:12] mavenugo commented on #17190
@mfischer-zd I hope you are not expecting to use this issue to track all the /etc/hosts related issues (including the link specific ones). This issue was opened in 1.8 for the default bridge where the container /etc/hosts were updated with names even when links were not used. With #17325 that is resolved.

I think the right answer is https://github.com/docker/docker/issues/17195 and am supportive

[2015-10-26 01:35] moxiegirl opened #17352 "docker inspect container only reports last assigned IP"
The container info should return `NetworkSettings` as an array --- one for each network the container belongs to.  Right now, `NetworkSettings` appears to be only holding the last assigned values.  For example, I created a container it appears on the default bridge with an ip of : 172.17.0.2.  After attaching the container to a second network, only the IPAddress for the second network is visible t

[2015-10-26 01:35] GordonTheTurtle commented on #17352
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-26 01:41] coolljt0725 commented on #17352
I found this issues too. It only return the last `docker network connect` networking settings even if you have `docker network disconnect` the last network.

[2015-10-26 02:00] duffqiu opened #17353 "Support dhcp in the host network for container"
I want to use the dhcp in the host network for container.

But right now, I have to create the container with --net=none and then do it manually something like pipe did.

Hope docker engine can support it with some flag e.g., --dhcp=external

[2015-10-26 02:00] GordonTheTurtle commented on #17353
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-26 02:12] mfischer-zd commented on #17190
@mavenugo I agree with the direction, but I do not think this issue can be closed until #17195 has actually been implemented.

[2015-10-26 02:16] mavenugo commented on #17190
@mfischer-zd why is that ? this issue was filed for 1.8 (which means the default bridge network) and with #17325 that behavior is restored. Hence, technically this issue is resolved. Unless we want to use this issue to track the networks beyond the default bridge network, which btw is not available in 1.8.
Hence it is more appropriate to put effort on #17195 and work together to get it implemented

[2015-10-26 02:20] mavenugo commented on #17353
@duffqiu have you looked at the upcoming 1.9 Pluggable IPAM feature, which lets you manage container ip allocation using your favorite IPAM plugin : https://github.com/docker/libnetwork/blob/master/docs/ipam.md. One can implement a DHCP plugin using this feature (I think there is already a community effort underway). Although the IPAM plugin is not applicable for host network, with the pluggable n

[2015-10-26 02:24] thockin commented on #17190
Will #17195 land in time for 1.9?  If not, the raciness issue still exists,
at least.  It is mitigated by being only non-default networks, but isn't
that a huge selling point of 1.9?  I would expect a lot of people to try it
out, and flakes are the worst problems to debug...
On Oct 25, 2015 7:17 PM, "Madhu Venugopal" <notifications@github.com> wrote:

[2015-10-26 02:34] mavenugo commented on #17190
@thockin I hope we all understand release-cycles and issue management :) My responses to @mfischer-zd is to the technical aspect of issue management and the fact that this issue was filed on 1.8.3 and is applicable to the default bridge network. And hence technically #17325 resolved this. Wont you agree to that ?
And with https://github.com/docker/docker/issues/17278 we have resolved the internal

[2015-10-26 02:40] mfischer-zd commented on #17190
Ultimately I leave the decision to you, @mavenugo - my only concern is that /etc/hosts management is in a bit of a quagmire at the moment (though it looks like you're making good progress on fixing them) and there is a large number of issues to sift through to figure out just which issue affects a particular user.

I don't mean to suggest that this is the appropriate issue to track those with, tho

[2015-10-26 02:58] thockin commented on #17190
Until there's an open issue specifically about not corrupting reads of
/etc/hosts I think we DON'T all understand issue management.  It's
attractive to close this one out, since it got some spotlights on it, but
let's not pretend it's entirely fixed for 1.9.

#17278 sounds like it fixes the biggest problem, though my casual reading
suggests that a hosts file for a shared net namespace (--net=conta

[2015-10-26 03:29] doungni opened #17354 "在A容器里面重启docker导致B的Daemon里面的容器不能对A容器进行ssh操作-显示：*** no route to host"
root@********:~# docker -v
Docker version 1.6.2, build 7c8fca2

root@********:~# docker info
FATA[0000] Get http:///var/run/docker.sock/v1.18/info: dial unix /var/run/docker.sock: no such file or directory. Are you trying to connect to a TLS-enabled daemon without TLS?

root@********:~# uname -a
Linux ******** 3.13.0-53-generic #89-Ubuntu SMP Wed May 20 10:34:39 UTC 2015 x86_64 x86_64 x86_64 GNU/L

[2015-10-26 03:29] GordonTheTurtle commented on #17354
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-26 03:30] huikang opened #17355 "[Proposal] Add loading checkpointed container state to docker API to support Docker migration"
In @boucher 's branch, Docker supports container checkpoint (C) and restore (R). One important use case of the C/R is to migrate a container from one host to another. Currently a p.haul driver type is being developed and reviewed by @xemul for migrating Docker container [1].

However, the biggest challenge is that after transferring the criu images along with other necessary container files, how t

[2015-10-26 04:09] kenny1986 opened #17357 "Whiteout issue between btrfs and ext4"
I found this when using the `php:5-apache` official image. When building an image on btrfs, the image contains an extra `index.html` file in the `/var/www/html/` directory, while there is no such file on a normal ubuntu host with ext4

On a ubuntu host with btrfs:

[code]

On a ubuntu host with ext4:
[code]

[2015-10-26 04:09] GordonTheTurtle commented on #17357
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-26 04:23] mrjana commented on #17190
@thockin  As I said before, the racy behavior existed since `--link` existed so let's not think that this racy behavior was introduced in 1.9. I agree it's not fixed in 1.9 but it's not fixed in 1.8, 1.7, 1.6 or 1.5 and so on as well. It just became more common in 1.8.3 because docker itself was contributing for the race and was reported by you via this issue and we fixed it. Since this issue was

[2015-10-26 05:06] mrjana commented on #17190
@thockin

suggests that a hosts file for a shared net namespace (--net=container)
will be processed more than once.

A shared net namespace (`--net=container`) will not even invoke libnetwork for the child containers. Once the parent container is setup that is all there is to it. All the children simply bind mount the the hosts file created for parent container. So I don't know what in that #17278

[2015-10-26 05:06] thockin commented on #17190
All I am saying is there isn't a bug that I know of that tracks the
fact that in-place editing /etc/hosts is going to cause user problems.
And let's not be disingenuous - yes it existed forever, but with 1.9
you're encouraging people to create Network objects and as soon as
they do, Docker is back to "contributing for the race".

Truth be told, it doesn't matter for us - we have a workaround.  I a

[2015-10-26 05:09] thockin commented on #17190
Maybe I misunderstood then.  I understood that the corruption was parallel
goroutines accessing the file and I assumed that was once per
namespace-user.  If not that, then what parallel goroutines?  Just multiple
starts/stops in parallel?

Thanks, sorry for any FUD - honest misunderstanding.

On Sun, Oct 25, 2015 at 10:07 PM, Jana Radhakrishnan <
notifications@github.com> wrote:

[2015-10-26 05:22] mrjana commented on #17190
you're encouraging people to create Network objects and as soon as
they do, Docker is back to "contributing for the race".

I am not sure which race you are talking about. But if you are talking about Docker contributing to the race (oh I just corrected my grammatical mistake that I made when I typed by message in a hurry and I am so glad how you pointed out my mistake so subtly by repeating the s

[2015-10-26 05:23] mrjana commented on #17190
goroutines accessing the file and I assumed that was once per
namespace-user.  If not that, then what parallel goroutines?  Just multiple
starts/stops in parallel?

Yep, just single start running in parallel with a lot of stops.

[2015-10-26 05:29] thockin commented on #17190
On Sun, Oct 25, 2015 at 10:24 PM, Jana Radhakrishnan
<notifications@github.com> wrote:

Got it, thanks.  Sorry for the confusion.

[2015-10-26 05:29] chenchun commented on #16471
ok, I'll close it for now. If I encounter this again, I'll reopen.

[2015-10-26 05:29] #16471 closed

[2015-10-26 05:36] thockin commented on #17190
On Sun, Oct 25, 2015 at 10:23 PM, Jana Radhakrishnan
<notifications@github.com> wrote:

Sorry, wasn't meant to be a jab, I just thought it was more context.
It came across badly.

One of the big features of 1.9 (as I understand the plan) is networks.
Using networks brings up the live-editing-causes-read-corruption
problem which is NOT solved.  I expect that using networks, the
live-edit operation

[2015-10-26 05:48] mrjana commented on #17190
that details the still-existing read-corruption in 1.9.x.  That's all
I am agitating for.

Oh, we don't mean to hide it under the carpet. We will properly document it in the Caveats section of 1.9 release(this is all already being planned for and I am not making this up on the fly) and we will file a proper issue describing the problem in greater detail so everybody is aware. This bug was closed b

[2015-10-26 05:50] thockin commented on #17190
Sounds fair to me.  Thanks.

On Sun, Oct 25, 2015 at 10:49 PM, Jana Radhakrishnan <
notifications@github.com> wrote:

[2015-10-26 05:55] wenchma commented on #16756
I will take integration-cli/docker_test_vars.go

[2015-10-26 06:21] cxxly commented on #17354
This description is not clear. could you list the steps to reproduce this issue

[2015-10-26 06:42] thefallentree commented on #13885
We have the similar issue under docker 1.8.2 , I suspect there are go routine or other leaks going in the daemon.

When put under fast creation/deletion stress,  ```docker ps``` would take forever to finish, and eventually docker daemon will lost repose.

[2015-10-26 08:02] andy0983011 commented on #11490
In the Ubuntu/Linux Mint ,you may try this command "sudo docker.io login" to login docker.

[2015-10-26 08:29] guanglinlv commented on #16099
@martina-if
ugh,you are right about `--dns` option .but if i raise docker as a systemd service not binary, docker damon can resolve correctly with my private dns(dns-b-address). puzzled...

[2015-10-26 08:37] mrjana commented on #15995
@dnephin I've tried the following repro steps several times in 1.9rc1
[code]
with various options on number of parallel jobs and number of container runs etc. But did not see the problem even once. Can you please point me to the compose build logs where it is failing for you in 1.9rc1?

[2015-10-26 08:48] martina-if commented on #16099
@guanglinlv You could start the daemon with systemd and then list the process with ps (```ps aux | grep docker```) and see exactly what binary and what arguments is it using to start docker. You might have extra options defined in /etc/default/docker (example file for ubuntu) that are only used when you run it with systemd.

You might also be running different versions. systemd is probably using /

[2015-10-26 09:03] emil-nasso opened #17363 "Unable to share folders with host after docker upgrade"
I'm unable to share folders with the host after upgrading docker.

Here is an example, for how i tested this:

https://gist.github.com/emil-nasso/9cdce1d53d41d0fed4c5
(Edit: I updated the example script a bit. I placed the files to share in /tmp, there seemed to be some issues with that to. Changed it so that the test folder is created in the working dir. The results didn't change)

First, i creat

[2015-10-26 09:03] GordonTheTurtle commented on #17363
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-26 09:05] alexellis commented on #14056
The paths have changed with 1.8.3 and newer, but I tried to apply the above patch manually - renaming jump_amd64.go to jump_linux.go and altering the build line to remove amd64. That got further but then failed at:

Created binary: bundles/1.8.1/dynbinary/dockerinit-1.8.1
Building: bundles/1.8.1/dynbinary/docker-1.8.1
# github.com/docker/docker/pkg/devicemapper
.gopath/src/github.com/docker/docker

[2015-10-26 09:27] hyperfocus1337 commented on #1996
+1 for this. Would be nice.

[2015-10-26 09:54] emil-nasso commented on #17363
I tried creating a host in virtualbox too, the behavior was identical.

[2015-10-26 10:11] dreamcat4 commented on #1996
+1

[2015-10-26 10:20] eyalfez commented on #3043
Same here. I am running two Elasticsearch official docker containers on different hosts which are on the same sub-net with the same broadcast address. Elasticsearch multicast discovery just do not work between the two containers even though multicast is defined on the NIC. The docker version is: 1.8.2.

[2015-10-26 10:57] HuKeping opened #17366 "Proposal add `docker images --tree` back"
Should we add this option back since a lot of people want it?

https://github.com/docker/docker/pull/5001#issuecomment-151058939

[2015-10-26 11:05] HuKeping commented on #16756
Anyone wants to take `integration-cli/docker_cli_build_unix_test.go` as a shoot?

I think there are only `integration-cli/docker_cli_build_unix_test.go` and  ` integration-cli/docker_cli_build_test.go` left and the latter is really a big one > 6000 lines

[2015-10-26 11:11] hqhq commented on #12849
@thaJeztah There are some related issues:
https://github.com/opencontainers/runc/issues/141
https://github.com/opencontainers/runc/pull/336
https://github.com/docker/docker/issues/16681
https://github.com/opencontainers/runc/pull/339

When we work them out, I can help improve the documentation. So #debs :)

[2015-10-26 11:21] thaJeztah commented on #1996
docker 1.9 introduces build-time variables; it's possible to (mis-)use those to force breaking the cache; for more info, see https://github.com/docker/docker/issues/15182

[2015-10-26 11:58] hqhq opened #17367 "Can not run integration test on ARM64"
Hi,

When running integration test on ARM64, I blocked with error:
[code]

So I changed the code:
[code]

then I got blocked with error:
[code]

Can someone help me figure this out? Why do we have to specify the GOARCH to build httpserver?

I'm using:
[code]

On the latest upstream Docker code.

[2015-10-26 11:58] GordonTheTurtle commented on #17367
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-26 12:05] trntv commented on #5419
``usermod`` causes the same problem and it doesn't have --no-log-init
```Storage Driver: aufs```

[2015-10-26 12:06] hqhq commented on #17367
ping @ahmetalpbalkan as the author of .ensure-httpserver, can you help look at this issue? How can I build `contrib/httpserver` on other architectures?

[2015-10-26 12:09] vdemeester commented on #16756
I'll take the other big one `docker_cli_build_test.go` :wink: .

[2015-10-26 12:26] HuKeping commented on #16756
Super cool! @vdemeester

[2015-10-26 12:45] emil-nasso commented on #17363
I did some more experiments.

Before running these commands, i had an docker machine host running in vmware fusion with docker 1.8.3.

As you can see, the shared volume didnt work at all with the machine at 1.8.3, not with the docker client on my mac at version 1.7.1 or 1.8.3.

I then build a new machine and used the boot2docker 1.7.1 iso. With the 1.7.1 version of docker on the mac client the vir

[2015-10-26 13:02] emil-nasso commented on #17363
I found this issue: https://github.com/boot2docker/boot2docker/issues/1077
My google-fu was not strong enough. Cross-linking. Not sure where this belongs.

[2015-10-26 13:42] aidanhs commented on #17190
Hang on, am I to understand that you're removing a feature people are relying on (in my case, relying on it extensively) between rc2 and the official release?

I can see that having this blindly enabled all the time is problematic and I'm definitely in favour of having opt-out, but it looks like there's a workaround upthread and I've been relying on this behaviour for two months now, since 1.8.0 c

[2015-10-26 13:47] thaJeztah commented on #12849
Thanks @hqhq, that's awesome!

[2015-10-26 13:53] cpuguy83 commented on #17363
Closing as this is a b2d issue.

[2015-10-26 13:53] #17363 closed

[2015-10-26 14:06] pmalmgren commented on #17037
@tiborvass @boynux I've ran into this problem as well on Arch Linux and would like to claim/fix this issue. Is there any problem with putting the fix in the ``IsContainerized`` method?

[2015-10-26 14:11] kalw opened #17369 "v1.9.0-RC2 - FreeBSD jenkins build failure"
Hi there,

Any chances that someone take a look at the FreeBSD jenkins job that fails since 14 days ? =)
Not an expert in this field but seems that it is only a workspace issue :

https://jenkins.dockerproject.org/job/Docker%20Master%20(freebsd)/1555/console

[code]

[2015-10-26 14:11] GordonTheTurtle commented on #17369
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-26 14:13] fedya commented on #6980
still valid for centos7
Containers: 2
Images: 22
Storage Driver: aufs
 Root Dir: /var/cache/docker/aufs
 Backing Filesystem: extfs
 Dirs: 26
 Dirperm1 Supported: true
Execution Driver: native-0.2
Logging Driver: json-file
Kernel Version: 4.1.3-nrjQL-desktop-3omv
Operating System: OpenMandriva Lx 2014.0 (Phosphorus)
CPUs: 8
Total Memory: 15.58 GiB
Name: localhost.localdomain
ID: COKL:J2ED:CDNE:NYZM

[2015-10-26 14:16] dnephin commented on #15995
The error message has changed in 1.9rc1, but the result is the same. The new error is "container already connected to network bridge"

https://jenkins.dockerproject.org/job/Compose-PRs/1650/console
https://jenkins.dockerproject.org/job/Compose-PRs/1651/console
https://jenkins.dockerproject.org/job/Compose-PRs/1648/console

I was able to reproduce this error with the parallel command when running l

[2015-10-26 14:22] rhatdan commented on #17262
Ok I will close my bug as not a bug and can close this issue.

[2015-10-26 14:25] cpuguy83 commented on #17262
Note that it is unintentional that this is happening, I'm not sure why it is at the moment.. maybe Relabel is called before the dir is created?
Is this a problem since 1.7?

[2015-10-26 14:57] thaJeztah commented on #17037
@pmalmgren thanks for working on this! Fixing it as part of the `IsContainerized` method sounds good, but can be further discussed when reviewing your pull request :+1:

[2015-10-26 15:34] tiborvass commented on #17305
I suggest to fix this with a documentation update, and possibly a temporary daemon warning we could remove for 1.10.

[2015-10-26 15:50] askb commented on #17168
I was looking into the code (~docker/graph/pull_v2.go->download() and pullV2Tag()), but was unable to find any checks being performed for determining the disk space during a pull request. I would like to work on this issue (require some guidance), if no one is working. #dibs :)

Thanks to @cpuguy83 for giving some heads up on the issue, some highlights or approaches to resolve this:
* the checks f

[2015-10-26 15:55] jhowardmsft commented on #17321
This is totally expected :) Windows does not (yet) anywhere the networking capability that Linux docker does. Windows only supports --net-default or --net=none. This is the same for both TP3 and the soon to be available TP4.

[2015-10-26 16:08] thaJeztah commented on #17321
Thanks @jhowardmsft, I removed the "bug" label. We may want to improve the documentation about that so that people are better aware what is and is not supported (yet) on windows.

I'll close this issue, because https://github.com/docker/docker/issues/15597 is still in place to improve the documentation.

Thanks for reporting @tiagomacarios !

[2015-10-26 16:08] #17321 closed

[2015-10-26 16:13] infidel commented on #14056
@alexellis same here, see #15279
Arch Linux on x86_64 uses Docker 1.8.3 with Go 1.5.1 so the same patch might also work on ARM: https://projects.archlinux.org/svntogit/community.git/tree/docker/trunk

[2015-10-26 16:19] jhowardmsft commented on #14615
This should have been fixed a while back. @mitchcapper can you confirm please. Thanks. @thaJeztah

[2015-10-26 16:22] mitchcapper commented on #14615
Yep fixed.

[2015-10-26 16:43] burke commented on #17305
For what it's worth, we have `172.17.42.1` hardcoded in a few places. I'm positive we're not the only ones, simply because -- absent a container<->host API -- it's not especially trivial to negotiate with the host how to talk to it.

The easiest method, I guess, would be to take your own IP and set the last octet to 1, but that doesn't work with host networking, where `172.17.42.1` will work just

[2015-10-26 17:14] tomfotherby commented on #17018
@cpuguy83 , here you go:

[code]

Here is a single line to test the issue:

`echo -e "FROM ubuntu\nRUN mkdir /afolder\nRUN touch /afolder/afile"  | docker build -t mtimetest - && docker run -it --rm -v /afolder mtimetest stat afolder;sleep 2;docker run -it --rm -v /afolder mtimetest stat afolder`

After running, compare the 2 *Modify* times - they are different on each of the container runs.

[2015-10-26 17:24] cnuernber commented on #17280
I have the logs from the docker daemon the last time it killed everything:

It simple states it was terminated:
[code]

[2015-10-26 17:26] cpuguy83 commented on #17280
It looks like your docker daemon received a SIGTERM.

[2015-10-26 17:28] cnuernber commented on #17280
yes, the 'terminated' line.

Why might it receive this signal?  IT wasn't sent manually, so apparmour or some system watchdog (process memory?) sent it.

[2015-10-26 17:37] thaJeztah opened #17371 "1.9 - make network connect idempotent / don't produce error"
The `docker network connect` command produces an error if a container is already connected to the specified network. I don't see a reason for this, and think that this could just be silently ignored;

[code]

[2015-10-26 17:37] GordonTheTurtle commented on #17371
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-26 17:40] mfischer-zd commented on #17190
@aidanhs I've been looking at the documentation and release notes for Docker and I can't seem to find any mention of the (now reverted) behavior in question being documented anywhere.

Bugs and mistakes happen; relying on undocumented behavior is going to cause problems for you.

As far as I can tell, the only documented way to get Docker to automatically allow containers to address each other is

[2015-10-26 17:47] mrjana commented on #17305
@burke You should be able to look up your default gateway IP inside the container and whatever IP that is, is the IP that you can use to talk to the host. Does that work?

It's lot better than hardcoding `172.17.42.1` because it just works irrespective of which is bridge is being used, which `--bip` value is being used etc.

Fo detecting whether you are in host net namespace you can look for the p

[2015-10-26 17:50] endophage commented on #17104
@farmerworking I'm not familiar with where in a request-response cycle nginx does its logging. Is it possible that `ngx_openresty` doesn't handle the PATCH method correctly and is stripping the `http_authorization` header, then logging is happening on that altered data?

Are you able to remove just the `ngx_openresty` plugin and test again or does it perform a critical operation (even if it is cri

[2015-10-26 17:51] LiYMS opened #17372 "Add --all support to Docker rm command to allow remove all containers in one simple step"
Sometimes we found we have to do clumsy steps to remove all the containers from the host. It would great if we can add an option --all to Docker rm command to allow user to handle that kind of request gracefully.

Thx.

[2015-10-26 17:51] GordonTheTurtle commented on #17372
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-26 18:00] burke commented on #17305
Asking for the gateway works as long as the container knows it's running in a network namespace:

[code]

The former is correct, but the latter is our network hardware. To work around this, I have to either tell me containers whether they're running with host networking, or teach them the subnets we use in our datacenters so that they can go "aha, this is DC X, not a docker virtual network, so I w

[2015-10-26 18:22] endophage commented on #17252
@shmcfarl the term 'ping' in the docker output is an unfortunately misused term. It's not literally trying to do a ping, it is (if I remember the code right) attempting to do an HTTP GET to the /v2 endpoint. Would you be able to post the `http` section of your registry configuration?

[2015-10-26 18:34] kisom commented on #17142
This is great. Some thoughts on the config file:

It would be cool to take the way apparmor does file permissions (e.g. from the chromium profile,

[code]

but maybe allowing something more user-friendly for permission names (like read, write, etc). Default deny would be preferable, but that might not be the best option (maybe something the user can set, like `AccessPolicy: whitelist` or `AccessPo

[2015-10-26 19:15] amoghe commented on #17195
Some datapoints on this topic:

I've been using containers for testing and development starting from the 1.3 release

1. I started using [tonistiigi/dnsdock](https://github.com/tonistiigi/dnsdock) along with docker for our discovery needs (on a single host) because `--dns` and `--link` aren't sufficient for us due to constraints on the ordering of container launch. `dnsdock` works by listening to

[2015-10-26 19:17] aidanhs commented on #17190
@mfischer-zd I'd see this as equivalent to a new behaviour being added to the VOLUME command in dockerfiles such that if you do `VOLUME /etc:/outeretc`, it mounts `/etc/ from the host into the container.

That functionality would be fairly nasty, but if it had lasted 2.5 months, spanning 3 official releases and two release candidates, I'd understand if the people who *did* like that functionality

[2015-10-26 19:19] mrjana commented on #15995
@dnephin I am pasting the relevant logs from one of the janky runs:
[code]

I am assuming you are trying to create 3 containers with the same name. And looks like one is succeeding and the other two is erroring out. If that is what the test is doing, then that is expected. Am I misunderstanding the test case?

[2015-10-26 19:40] cpuguy83 commented on #17305
@burke @ibuildthecloud  But you can use `--bip` to ensure the same bridge net.

[2015-10-26 19:42] burke commented on #17305
Oh! I missed that. Sorry, disregard, that'll work just fine.

[2015-10-26 20:09] cpuguy83 commented on #17372
`docker rm -f $(docker ps -aq)`?

[2015-10-26 20:15] mfischer-zd commented on #15811
How can users who need this functionality today (persistent links to containers having a particular name) attain it?

[2015-10-26 20:17] thockin commented on #17195
To be specific, what I meant with generically programmable was things like
- can I add SRV records?  Can I add multi-record A responses?  Can I
control PTR?  TXT?

On Mon, Oct 26, 2015 at 12:16 PM, Akshay Moghe <notifications@github.com>
wrote:

[2015-10-26 20:18] thaJeztah commented on #15811
@mfischer-zd it's coming in the new networking functionality in docker 1.9, where containers can be dynamically added to/removed from a network

[2015-10-26 20:22] mfischer-zd commented on #15811
@thaJeztah I'm testing RC2 - where can I find the docs on that?    The link above is broken.

[2015-10-26 20:25] mfischer-zd commented on #17195
@mavenugo I'd be happy to try to contribute some resources to this, but would need to know where to begin.   Feel free to drop me a line.

[2015-10-26 20:26] thaJeztah commented on #15811
@mfischer-zd docs are being worked on; you can find the PR here; https://github.com/docker/docker/pull/17161

[2015-10-26 20:32] #17288 closed

[2015-10-26 20:37] chasebolt opened #17379 "centos-70 docker-engine dependency device-mapper version"
I am running into the same issue that was previously resolved in #12108. yum update device-mapper resolves the issue. Looks like a dependency version issue with device-mapper.

[code]

[2015-10-26 20:37] GordonTheTurtle commented on #17379
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-26 20:40] cpuguy83 commented on #17280
I'm going to close this since it looks like something external sent docker SIGTERM.

As to what might have sent SIGTERM, not sure. I doubt it was a watchdog unless you've got something implemented here.

[2015-10-26 20:40] #17280 closed

[2015-10-26 20:43] WooDzu commented on #3043
And same here. Internal app using multicast for service discovery. Broadcast/multicast enabled within ubuntu container. Docker 1.8.3

[2015-10-26 21:02] darrenturn90 opened #17380 "OpenSuse 13.1 Guide Is Wrong - Files Are Missing"
https://docs.docker.com/installation/SUSE/

Doesn't work. Docker doesn't exist in the repository, making docker useless for my 13.1 installation.

Any clues?

[2015-10-26 21:02] GordonTheTurtle commented on #17380
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-26 21:22] thaJeztah commented on #17195
@mfischer-zd thanks for offering, reading back here, @phemmer was already working on a PoC, so I suggest to help once that PR is created (we try to avoid having multiple "competing" PRs).

@mavenugo I know this has been talked about, so I'm not sure if there was already worked on this internally?

[2015-10-26 21:24] jfrazelle commented on #17142
ah yay @kisom I definitely like the idea of something like `:ro` or `:rw` much like how it works for volumes

[2015-10-26 21:27] mfischer-zd commented on #17195
@phemmer let me know how I can help.

[2015-10-26 21:35] kisom commented on #17142
@jfrazelle having a shorthand is good for people who write a lot of these, but also having long names is easier for people to remember; both could probably be supported if a leading char is used distinguish short form from long form. Something like `:lrw` v. "lock read write".

[2015-10-26 21:56] tiborvass commented on #17304
Josh explained the situation very well. I agree the solution here is to allow `--format` on images, which won't make it to 1.9, so pushing this to 1.10.

[2015-10-26 22:15] phemmer commented on #17195
PoC exists [here](https://github.com/phemmer/libnetwork/compare/master...dns) which I [submitted to the docker-dev mailing list](https://groups.google.com/forum/#!topic/docker-dev/WXkMiPJqh7I) soliciting feedback on the integration points. Been pretty quiet though.

[2015-10-26 22:43] jfrazelle commented on #17142
yes for sure that makes sense

[2015-10-26 23:10] mavenugo commented on #17305
As discussed, https://github.com/docker/docker/issues/17384 adds the required info log to the user to notice and take action if required. (I hope there isnt anyone who relies on these magic ip-addresses)

[2015-10-26 23:12] tiborvass commented on #17305
Closed by #17384

[2015-10-26 23:12] #17305 closed

[2015-10-26 23:37] ibuildthecloud opened #17387 "1.9: random failure, maybe related to memory params"
I keep randomly getting `Cannot start container 54120b58d3db240bcc0d7540c41f1f40ed5b06fa15d0eb7075be6473f5f9f76d: [8] System error: read parent: connection reset by peer` with 1.9.0-rc2.  I just randomly pops up in CI.  Example http://ci.rancher.io/github.com/rancher/python-agent/master/b192660b40a4463bd1440c9e63c3eb165387e894

I don't have any other great things to say except that it seems to hap

[2015-10-26 23:37] GordonTheTurtle commented on #17387
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-26 23:40] thaJeztah commented on #17195
@phemmer apologies for that, it's been busy times, but I'll be my usual PITA and try to get some maintainers to have a look at your proposal.

(thanks a lot for that PoC, please don't see the "quiet" as it not being appreciated)

[2015-10-26 23:42] ibuildthecloud commented on #17387
oh wait, that drone link may be useless.... anyhow, I'll try to narrow this down further.

[2015-10-26 23:44] phemmer commented on #17195
No worries, it's only been 1 working day. I've been around here enough to know it can usually take quite a few :-)

[2015-10-27 00:05] tiborvass commented on #17195
@phemmer :heart:

[2015-10-27 00:06] #17298 closed

[2015-10-27 00:34] crosbymichael commented on #17387
What is the memory limit?

[2015-10-27 00:48] thaJeztah commented on #17369
Thanks for reporting! I'll try to get someone to have a look

[2015-10-27 00:53] thaJeztah commented on #17369
ping @kvasdopil we may need your help here :heart:

[2015-10-27 01:16] thaJeztah commented on #17263
Are you still able to reproduce this on the current version of docker? 1.6.x is quite old now in docker terms, and will no longer receive updates

[2015-10-27 01:19] thaJeztah commented on #17380
The documentation for SUSE was updated since, but those changes are not yet published on the website (the docs will be updated together with the 1.9 release); https://github.com/docker/docker/blob/master/docs/installation/SUSE.md

The new docs state;

So that may be the difference.

Let us know if that helped, or if additional changes are needed to the documentation! Thanks in advance for testing!

[2015-10-27 01:20] moypray opened #17391 "[discussion]: consider to add a Volume Plugin API to support mapping a raw block device to container."
Use Case:
  In some scenario,  the container need to use raw block device just like "/dev/blockn" to store data.  Of course if only one container we can use "docker run --device /dev/xxx" option. but what if there are lots of these containers and need to be managed automatically.

  I think add a new Volume Plugin API is a better solution and valuable to consider. And if we have this API, we can w

[2015-10-27 01:20] GordonTheTurtle commented on #17391
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-27 01:48] markriggins commented on #9976
This needs more prominent documentation.   Yes it's there, half way down the page, but it's effectively hidden in a "security speak" document.   Most casual readers will see the first paragraph, and read it as "I see they thought of security -- they're running things in the own name spaces, containers are isolated" and stop there.

And not read the huge gaping hole -- anyone with privileges to `ru

[2015-10-27 01:52] cornfeedhobo commented on #10294
@bings @akranga I was able to build a lvm thin-provisioned aws instance which is working as expected, using `docker-storage-setup`. The performance is better than my local btrfs-backed workstation, but I have not run real performance tests to prove anything.

I use packer and virtualbox to [build a bare OVA](https://github.com/cornfeedhobo/packer-virtualbox-ami-centos7) and then import it. When yo

[2015-10-27 01:58] PerilousApricot commented on #10294
Is there a way to forward-port AUFS to centos7? It's not ideal, but maybe it'll be somewhat functional.

[2015-10-27 02:02] phemmer commented on #17391
Multiple things accessing a block device directly is bad, and will most certainly lead to corruption of whatever data is stored.
Assuming this block device holds a filesystem, then the filesystem should be mounted on the host, and the directory volume-mounted into the container.
If this isn't a filesystem, but processes are directly manipulating the device, this cannot be supported as the processe

[2015-10-27 02:04] bergtwvd opened #17392 "adding interface veth684aea0 to bridge docker0 failed"
Running in AWS Docker version 1.7.1, build 786b29d/1.7.1.

I intermittently get the following error (typically when starting containers with docker-compose):

Cannot start container 0faa3b09e35fdf6fb1954a2a3589bc74feb02448be5db0773d8e0623813764f6: adding interface veth684aea0 to bridge docker0 failed: could not find bridge docker0: no such network interface

It differs each time when and were it o

[2015-10-27 02:04] GordonTheTurtle commented on #17392
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-27 02:28] mrjana commented on #17392
@bergtwvd This is fixed in 1.8.2. Please upgrade to 1.8.2

[2015-10-27 02:36] moypray commented on #17391
Sorry My description may be confused.
1. "lots of containers"  does NOT mean  they share the Block Device. but like this:
      containerA    use   /dev/block1
      containerB    use   /dev/block2 & /dev/block3.
       .......
      containerXXX   use  /dev/blockxxx

     Each block device is used only by one container(or application) and the block device data could store in remote block device s

[2015-10-27 03:02] hairyhenderson commented on #15713
FWIW, I'm running into this in RancherOS 0.4.0:

[code]

[2015-10-27 03:04] hairyhenderson commented on #15713
Oh - also, the container is not stopped. It appears to be running just fine. One (perhaps relevant) detail is this particular container was initially run before the last reboot, so it's been automatically restarted (because `--restart=always`).

[2015-10-27 03:15] hairyhenderson commented on #15713
So, for the record, I'm a total moron - there _is no_ `/bin/bash` in the image I was using... :P

[2015-10-27 05:30] bergtwvd commented on #17392
How do I do this on AWS/centos7 ?
Seems that in AWS I am stuck with an older version.
Tom

Sent from my Android phone using Symantec TouchDown (www.symantec.com)

-----Original Message-----
From: Jana Radhakrishnan [notifications@github.com]
Received: Monday, 26 Oct 2015, 22:30
To: docker/docker [docker@noreply.github.com]
CC: Berg, T.W. (Tom) van den [tom.vandenberg@tno.nl]
Subject: Re: [docker]

[2015-10-27 06:08] ibuildthecloud commented on #17387
The mem_limit was set to 8000000.  Do you think that is too small?

[2015-10-27 06:42] #15995 closed

[2015-10-27 07:31] hqhq commented on #17367
It's resolved, probably the first error cause a broken `net/http`, so I can't build it afterwards.
I used `go build -a` to rebuild everything fixed it.

[2015-10-27 07:31] #17367 closed

[2015-10-27 07:43] farmerworking commented on #17104
![image](http://work.image.alimmdn.com/%E5%B1%8F%E5%B9%95%E5%BF%AB%E7%85%A7%202015-10-27%20%E4%B8%8B%E5%8D%883.29.08.png?t=1445931151307)

I walk into another issue which I think it's relavent to this.

In the log I pasted. You can see the first 2 requests is using `https` which can be handled correctly. In the third request, the `patch` request, it's using `http` instead which results an `400 bad

[2015-10-27 07:55] tmds commented on #13817
@calavera can you assign this issue to someone with the right experience? @Maximus5 is the maintainer of ConEmu and he has already investigated the issue. Now we are in need of Windows docker expert.

[2015-10-27 08:04] farmerworking commented on #17104
![image](http://work.image.alimmdn.com/%E5%B1%8F%E5%B9%95%E5%BF%AB%E7%85%A7%202015-10-27%20%E4%B8%8B%E5%8D%883.29.08.png?t=1445931151307)

I walk into this issue today but I think it's relevant to this issue. This time the first two requests using `https` method and worked correctly, in the third request it changed to using `http` instead and failed because of 400 bad request error. This happened

[2015-10-27 08:49] apaatsio commented on #5113
I had this problem with docker 1.8.3 on linux. `docker restart {containerId}` helped.

[2015-10-27 09:11] thaJeztah commented on #15995
@dnephin this should be fixed in master now, so if you could give that a test, that'd be great!

[2015-10-27 09:36] pvbiesen commented on #8902
I'm having the same problem, docker v1.6.2 . hostname does not work in the entrypoint command, while it does work when I nsenter the container. I need to be able to change the hostname from within the container because I do not have control over the way the image is started and the application has a problem with hostnames starting with a number ( which often happens ).

[2015-10-27 09:57] niko commented on #17263
I can't reproduce it at all a.t.m. I'm afraid.

[2015-10-27 10:02] thaJeztah commented on #9976
@markriggins would you be interested in contributing, and opening a pull-request with the changes you think would improve that page? The Markdown file that is used to generate that page can be found in this repository; https://github.com/docker/docker/blob/master/docs/articles/security.md

If this is the first time you're contributing to docker, you may find the [contributing guide](https://docs.d

[2015-10-27 10:05] thaJeztah commented on #17263
Thanks, @niko. I'll close this issue for now, but feel free to comment here after I've closed. Also, `@` ping me here if you're able to reproduce on the current release, and I'll reopen.

[2015-10-27 10:05] #17263 closed

[2015-10-27 10:23] thaJeztah commented on #16974
@Kaffa-MY I'm going to close this issue for now, because I think it's better to discuss this in the #docker-distribution IRC channel first. Feel free to comment here though, after I've closed. Also, interested to hear what the outcome is of that discussion :+1:

[2015-10-27 10:36] maksonlee opened #17397 "container exited abnormally"
container exited abnormally, and the following message was found in /var/log/syslog, how can i get more detailed info?

    systemd[1]: Stopped docker container

here is my environment,

    $ docker version
    Client:
     Version:      1.8.3
     API version:  1.20
     Go version:   go1.4.2
     Git commit:   f4bf5c7
     Built:        Mon Oct 12 05:39:44 UTC 2015
     OS/Arch:      linux/amd6

[2015-10-27 10:36] GordonTheTurtle commented on #17397
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-27 10:37] e-max opened #17398 "logs is buffered in docker 1.9.0"
It seems that in docker 1.9.0-rc2 logs from containers appears in logfile after some delay.

I've create simple docker image which just print current unixtime every second.

When I started it with -i -t flags everything worked perfectly

[code]

But with -d flag docker apparently started buffering logs

[code]

json file is also empty
[code]

Аfter couple minutes logs appeared in the file, but if

[2015-10-27 10:37] GordonTheTurtle commented on #17398
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-27 10:48] thaJeztah commented on #17398
ping @LK4D4 @unclejack perhaps one of you can have a look?

[2015-10-27 10:49] thaJeztah commented on #17398
Thanks for testing the release candidates @e-max <3

I'm tentatively adding this to the milestone, just so we don't loose sight

[2015-10-27 10:56] thaJeztah commented on #17397
Running the daemon in debug mode (`-D`) should produce more logs. However, this question is more suitable for asking in the #docker IRC channel, the [Docker-Users mailing list[(https://groups.google.com/forum/#!forum/docker-user), or https://forums.docker.com

I'm going to close this issue, because GitHub is not the best place to discuss this, however, feel free to comment here after I've close th

[2015-10-27 10:56] #17397 closed

[2015-10-27 11:14] sjfink commented on #14203
+1 for DOCKER_FIX.    scary.

[2015-10-27 11:49] phemmer commented on #17398
@e-max how are you generating these log entries?
This sounds like the classic case of a programming language which buffers when it detects STDOUT is not a TTY (ruby, perl, python, and others do this)

[2015-10-27 11:55] gjprabu opened #17399 "Docker Not able to start"
Hi All,

We are using docker with Centos Linux kernel 3.18.16 and its working properly. Due to hardware incompatibility issue we have downgraded the kernel version to 3.10.79 after that docker not able to start and it says below error.

"Shutting down daemon due to errors: error initializing graphdriver: Error running DeviceCreate (CreatePool) dm_task_run failed"

I have tried by removing /var/lib

[2015-10-27 11:55] GordonTheTurtle commented on #17399
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-27 12:18] gjprabu commented on #17399
Hi All,

Please find the details.

docker version
Client version: 1.6.2
Client API version: 1.18
Go version (client): go1.4.2
Git commit (client): ba1f6c3/1.6.2
OS/Arch (client): linux/amd64
Server version: 1.6.2
Server API version: 1.18
Go version (server): go1.4.2
Git commit (server): ba1f6c3/1.6.2
OS/Arch (server): linux/amd64

Not running state docker info
FATA[0000] Get http:///var/run/docker

[2015-10-27 12:40] duglin commented on #15713
LOL

[2015-10-27 12:54] mavenugo commented on #17248
fixed via #17381
Message is added in libnetwork to notify the user.

[2015-10-27 12:54] #17248 closed

[2015-10-27 13:00] e-max commented on #17398
I am sorry, it was absolutely stupid mistake.  Thanks!

[2015-10-27 13:00] #17398 closed

[2015-10-27 13:23] cpuguy83 commented on #17391
There is already a volume plugin API that you could use to handle this as you want.
Also, this _really_ seems more like `--device` is what you want and not a volume as volumes are really about providing a filesystem to a container, not raw block devices, where as `--device` is specifically for adding a device to a container.

Closing as there is nothing really to add here.

[2015-10-27 13:23] #17391 closed

[2015-10-27 13:49] thaJeztah commented on #17379
@jfrazelle anything to be changed in the RPM's to make sure the minimum requirements are met?

[2015-10-27 13:57] mateusnava commented on #5113
**service docker restart** +1

[2015-10-27 13:57] markriggins commented on #9976
Yes -- very taxed for time at the moment - but managed to write an update.
  I do not have access to the Docker project directly, so I created a fork
with this single commit.

https://github.com/markriggins/docker/commit/27abf638686f93153f7814c5f77b81041cf92e61

On Tue, Oct 27, 2015 at 6:04 AM, Sebastiaan van Stijn <
notifications@github.com> wrote:

[2015-10-27 14:03] thaJeztah commented on #17372
yes, I agree with @cpuguy83 here. To be clear; I understand `--all` can be more convenient, but we try not to overload the docker commands with flags/options unless really necessary. It's easy to create an alias for this in your shell, if you need to do this frequently

Also, see this issue for earlier discussions https://github.com/docker/docker/issues/928

[2015-10-27 14:03] #17372 closed

[2015-10-27 14:07] thaJeztah commented on #9976
Correct, no changes are ever made to this repository directly, everything is done via pull-requests.

You should be able to create a pull-request from that; but don't forget to sign-off and amend your commit, otherwise it will not pass validation here. https://docs.docker.com/project/work-issue/

[2015-10-27 14:28] phemmer commented on #17399
given that kernel 3.18.16 is not a supported CentOS kernel, how did you install it? Did you use a public yum repo?
There's a good chance you ended up upgrading the devicemapper libs as well (since they're tightly integrated with the kernel), and they're no longer compatible with your older kernel.

[2015-10-27 14:32] AgustinCB commented on #16923
Hi!

I just tried that solution, with same parameters, but keep getting all packets lost.

node-1

$ uname -a
Linux docker-experimental-1 3.19.0-28-generic #30~14.04.1-Ubuntu SMP Tue Sep 1 09:32:55 UTC 2015 x86_64 x86_64 x
86_64 GNU/Linux

$ sudo docker version
time="2015-10-27T14:20:41.141567291Z" level=info msg="GET /v1.22/version"
Client:
 Version:      1.9.0-dev
 API version:  1.22
 Go version

[2015-10-27 14:36] dnephin commented on #15995
Yup, looks good. Thanks for the fix!

[2015-10-27 14:56] cpuguy83 commented on #16923
@AgustinCB I don't think advertising localhost is going to work.

[2015-10-27 15:15] vbatts commented on #10294
@PerilousApricot that would be messy. AUFS is really an ubuntu-only kernel patch.

`btrfs` is a great runner-up. Otherwise, your disks partitions are likely using LVM anyways, it would be most stable to resize and create an LVM partition that is a thin-pool device, and use `devicemapper` with providing this thin-pool block device directly. See the [devmapper/README.md](https://github.com/docker/do

[2015-10-27 15:21] kvasdopil commented on #17369
@thaJeztah hi, i'll take a look asap, thx for ping

[2015-10-27 15:29] thaJeztah opened #17403 "UX: docker network inspect should show stopped containers"
Currently, stopped containers no longer appear when inspecting a network, but re-appear when they are started again (*paused* containers on the other hand, are still visible).

From a UX perspective, I expected containers to appear in the network, regardless of their state (but with an empty IP-address if stopped)

[2015-10-27 15:29] GordonTheTurtle commented on #17403
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-27 15:29] thaJeztah commented on #17369
Thanks @kvasdopil !

[2015-10-27 15:30] moxiegirl commented on #17403
:heavy_plus_sign: 1

[2015-10-27 15:30] cpuguy83 commented on #17403
This is because a stopped container is not part of any network.

[2015-10-27 15:32] moxiegirl commented on #17403
@cpuguy83 except that the container does try to reconnect on restart --- and fails if the network is gone.

[2015-10-27 15:33] thaJeztah opened #17404 "UX: docker network inspect should include container names"
The `docker network inspect` output only contains container-ID's. Given that service discovery is based on container names, it's odd that the container-names / service-names are not included in the output.

[2015-10-27 15:33] GordonTheTurtle commented on #17404
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-27 15:34] thaJeztah commented on #17404
/cc @mavenugo @mrjana @tiborvass. just jotting these down so that it can be discussed

[2015-10-27 15:37] thaJeztah commented on #17403
/cc @mavenugo @mrjana @tiborvass. just jotting these down so that it can be discussed

[2015-10-27 15:46] brian-dlee commented on #3182
@tomlux @rhvgoyal

Did you ever come to a conclusion on what occurring in the CentOS 7 box? My docker host is nearly identical, and I was experiencing the same issue. I followed through to the point in which @rhvgoyal asked to run the `thin_dump` command. After, I went to start the docker daemon up and it wouldn't start. I've just deleted /var/lib/docker and restarted since then, but I just wanted

[2015-10-27 16:16] thaJeztah commented on #13817
@tmds thanks, I'll check with the maintainers

[2015-10-27 16:20] mavenugo commented on #16923
@cpuguy83 is right. --cluster-advertise should contain a cluster-wide reachable IP-Address.

[2015-10-27 16:24] ripcurld00d commented on #7727
#dibs

[2015-10-27 16:30] hellertime commented on #8819
With 1.8.3 I still see non-deterministic output, even if I explode the output of `docker save`:

[code]

Is this a regression?

[2015-10-27 16:38] moxiegirl opened #17407 "Misspelling in image management breaks link"
This page has a broken link https://docs.docker.com/userguide/image_management/ - links to https://docs.docker.com/dockter-trusted-registry but should https://docs.docker.com/docker-trusted-registry

[2015-10-27 16:38] GordonTheTurtle commented on #17407
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-27 16:54] darrenturn90 commented on #17380
Thanks for your reply thaJeztah, however I am using 13.1, and its not included in that distribution.

[2015-10-27 16:57] thaJeztah commented on #13817
@tmds @Maximus5 could you provide some additional information in what area you are seeking assistance? I briefly chatted with someone from the Microsoft team, and he wasn't sure if he could give any useful information, but they're interested in getting this issue fixed.

[2015-10-27 17:01] thaJeztah commented on #17380
The docs mentions 13.2, but perhaps @flavio can provide more information

[2015-10-27 17:14] cpuguy83 commented on #8819
@hellertime This isn't fixed until 1.9

[2015-10-27 17:16] Maximus5 commented on #13817
Docker is written in Go, isn't it?
The problem is that docker.exe calls ReadConsole. This is  bad approach, because even if tab-completion is working, it would be processed in the Windows side, instead of box side.
It would be better to read console input, key-by-key, and transmit them to box.
In WinApi there is a function ReadConsoleInput, but I'm not aware of Go.

[2015-10-27 17:17] flavio commented on #17380
@darrenturn90: Docker was not part of the official repositories of openSUSE 13.1. Unfortunately we had some packaging issues with openSUSE 13.1 on OBS. Given this release of openSUSE is going to be discontinued pretty soon (Jan 2016), we decided to focus on openSUSE 13.2, Leap, Tumbleweed and Factory.

[2015-10-27 17:18] Maximus5 commented on #13817
I described the problem in this comment: https://github.com/docker/docker/issues/13817#issuecomment-140941879

[2015-10-27 17:34] jhowardmsft commented on #13817
I just spent a few minutes looking at this after talking to @thaJeztah on IRC. Using a very recent (non-public, pre-TP4) build of Windows, I added some debugging and installed the latest conEMU from http://www.fosshub.com/ConEmu.html (alpha 151025 x64).

Docker client turns off it's native ANSI emulation in the case of running under conEMU: https://github.com/docker/docker/blob/master/pkg/term/ter

[2015-10-27 17:34] hellertime commented on #8819
I had interpreted comment (https://github.com/docker/docker/issues/8819#issuecomment-124210503) as stating that stability WRT `docker save | tar x0 | shasum` was available with docker 1.8.0, and  stability WRT `docker save | shasum` would not be until 1.9.0.

[2015-10-27 17:56] vbatts commented on #8819
In docker 1.8, If you first `docker save $image | tar tv` to see the
listing _inside_ that initial tar stream. From that you can extract and see
the checksum of the individual .../layer.tar (I.e. `docker save $image |
tar xO $layerID/layer.tar | sha256sum `)

I had interpreted comment (#8819 (comment)
<https://github.com/docker/docker/issues/8819#issuecomment-124210503>) as
stating that stability

[2015-10-27 17:56] mrunalp opened #17409 "Support privileged with user namespaces"
Currently, privileged isn't supported when user namespaces are on. However, there are many use cases where one would want to run privileged containers side by side with user namespaced containers.

How about we disable (don't apply) user namespace mappings when --privileged is passed, so we can have privilege mean the same whether user namespaces are in use or not?

[2015-10-27 17:56] GordonTheTurtle commented on #17409
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-27 17:57] mrunalp commented on #17409
@estesp @crosbymichael @LK4D4 ping

[2015-10-27 18:17] Maximus5 commented on #13817
May be the following would be better? Can't compile and check it now...

[code]

[2015-10-27 18:23] endophage commented on #17104
@farmerworking as the logging includes response codes, nginx is clearly logging after any modules have been applied. If any modules do not handle the `PATCH` method correctly, given you have nginx doing ssl termination (which has to happen before the data is passed to any other modules), I still strongly suspect that it is the nginx configuration or one of the modules that is causing the problem.

[2015-10-27 18:25] thaJeztah commented on #17380
Thanks @flavio!

@darrenturn90 with this information, I'm going to close this issue, because the documentation is correct (not yet live), so I don't think there's anything else to be done here.

Thanks for reporting though, it's always appreciated to have some extra eyes on the docs!

[2015-10-27 18:25] #17380 closed

[2015-10-27 18:31] mrschyte commented on #14856
I'm using docker with the `--iptables=false` flag set, because I need to manually set routing with a custom bridge. I'd like to disable the userland proxy, but since the iptables option is set to false, no hairpin nat rules will be generated. Maybe a 3rd option should be available for iptables, that only adds theese rules.

[2015-10-27 18:37] tophj-ibm commented on #17407
Looks like it was already fixed a month ago, and the website hasn't updated.

3e6991f35c6b98f3503cc81f166420645e7d3c9e

[2015-10-27 18:42] moxiegirl commented on #17407
Hey thanks for checking it out.  That helped!

[2015-10-27 18:42] #17407 closed

[2015-10-27 18:59] ibuildthecloud commented on #17387
Okay, some updates.  I can now reproduce this fairly on demand.  It's random, but a tight loop hits it fast enough.  Unfortunately the setup right to get it to fail takes a lot so I can't really give instructions for others to reproduce.  But this is definitely related to 1.9.  1.8 Does not exhibit this behavior give the exact same setup (yet, been running the same for awhile).  Also, this only ha

[2015-10-27 19:03] ibuildthecloud commented on #17387
Oh yeah, and the docker image is `ibuildthecloud/helloworld:latest`

[2015-10-27 19:04] stapelberg commented on #10553
Hit the same issue when the VM’s disk was full. A better error message would be appreciated.

[2015-10-27 19:06] ibuildthecloud commented on #17387
Okay running the following on my setup will eventually fail:

`(set -e ; while true; do ID=$(docker run -d --memory 8000000 ibuildthecloud/helloworld:latest); docker rm -fv $ID;done)`

[2015-10-27 19:11] askb commented on #17168
@cpuguy83 Here are the steps to reproduce the issue on ubuntu 14.04 using aufs / default drivers.

[code]

[code]

Docker daemon run with `-D` gives the output (***), when a pull request of a large enough image, we get error "no space left on device" `(pkg/chrootarchive/archive_unix.go:invokeUnpack)` but the docker client does not show anything relevant. We are getting error message printed (in tw

[2015-10-27 19:13] ibuildthecloud commented on #17387
crap, the same thing on my desktop doesn't fail.  ugh.... sorry, still working on a reproduce-able test case others can run...

[2015-10-27 19:26] ricardobranco777 opened #17410 "docker load doesn't prevent docker pull of the same image in Docker 1.8.3"
Something changed with the handling of images ID on Docker because, previously, I could save an image with "docker save" and load it.  A docker pull of the same image wouldn't waste network I/O.

To quickly reproduce this issue:

[code]

docker info:
[code]

docker version:
[code]

uname -a:
[code]

[2015-10-27 19:26] GordonTheTurtle commented on #17410
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-27 19:31] stapelberg opened #17411 "docker is unable to start when /var/lib/docker/repositories-aufs is an empty file"
uname -a:
[code]

docker info just spits the same error that docker version spits out at the end, likely because docker isn’t running:

docker version:
[code]

Environment details:
Running on Google Container Engine

The disk of one of my VMs went full, but even after making some space, docker doesn’t start up again. For some reason, `/var/lib/docker/repositories-aufs` existed, but contained 0 byt

[2015-10-27 19:36] markriggins commented on #9976
I'll try -- very busy right now
thx

On Tue, Oct 27, 2015 at 10:09 AM, Sebastiaan van Stijn <
notifications@github.com> wrote:

[2015-10-27 20:10] netbrain commented on #15639
#dibs

[2015-10-27 20:24] robdaemon opened #17413 "Container attached to an overlay network does not restart after reboot."
Description of problem:

A container that was created, attached only to an overlay network, cannot be started after reboot.

`docker version`:

Client:
 Version:      1.9.0-rc2
 API version:  1.21
 Go version:   go1.4.2
 Git commit:   60d36f7
 Built:        Fri Oct 23 02:14:44 UTC 2015
 OS/Arch:      linux/amd64

Server:
 Version:      1.9.0-rc2
 API version:  1.21
 Go version:   go1.4.2
 Git comm

[2015-10-27 20:33] jhowardmsft commented on #13817
I tried that but it just ended up hitting an invalid memory address or nil pointer dereference in the log routine.

``Administrator@WIN-9QQMSEQFG8N E:\go\src\github.com\docker\docker\docker
$ docker run -it --rm windowsservercore cmd
panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xc0000005 code=0x0 addr=0x28 pc=0x48b016]

goroutine 18 [running]:
github.com/Sirupse

[2015-10-27 20:35] jhowardmsft commented on #13817
https://github.com/docker/docker/compare/master...Microsoft:jjh/conemu?expand=1

[2015-10-27 20:41] lukemarsden opened #17415 "When a volume plugin fails to create a volume while creating a container, the container should not be created"
Currently when a volume plugin fails (response `Err` != `null`) to create a volume at container create time with `docker run -v foo:/bar --volume-driver=baz` (perhaps, because the referenced volume does not exist) the container being created still gets created, but without the referenced mount. This is confusing behaviour, because if the created container then gets started (e.g. by a future run of

[2015-10-27 20:41] GordonTheTurtle commented on #17415
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-27 20:42] lukemarsden commented on #17415
[code]

[2015-10-27 20:48] robdaemon commented on #17413
It seems like it may be related to these errors I see in /var/log/upstart/docker.log (note, this host has several containers, all configured with the same restart policy):

[code]

[2015-10-27 20:48] tiborvass commented on #16485
Closed by #17390

[2015-10-27 20:48] #16485 closed

[2015-10-27 20:48] tiborvass commented on #15727
Closed by #17390

[2015-10-27 20:48] #15727 closed

[2015-10-27 20:48] tiborvass commented on #17047
Closed by #17364

[2015-10-27 20:48] #17047 closed

[2015-10-27 20:51] aaronlehmann commented on #17410
This change was made intentionally in Docker 1.8.3 to improve `docker pull` security. Docker used to rely on image IDs to know whether it already had the data. Since an attacker can create malicious images with arbitrary IDs, they can force collisions with other images, and force images to wrongly share layers. 1.8.3 fixes this by calculating reliable IDs when it pulls data from a registry. A side

[2015-10-27 21:04] calavera commented on #17387
It looks like I can reproduce this on master:

[code]

[2015-10-27 21:06] calavera commented on #17387
This output in the server is very suspicious:

[code]

[2015-10-27 21:15] calavera commented on #17387
@ibuildthecloud I'm not completely sure, but it looks like something is killing the container before your scripts completes initialization:

[code]

Now we just need to find who sends that `signal: killed` message :sob:

[2015-10-27 21:21] muuki88 opened #17416 "Docker 1.8.3: Chown not working"
The following `Dockerfile` works with

[code]

but not with a current `Docker version 1.8.3`

On `docker run` the start script isn't able to find the jars under `/opt`, because they have the wrong access rights. If we set the `DAEMON` user to `root`, everything works.

### Dockerfile

[code]

cc @hseeberger

[2015-10-27 21:21] GordonTheTurtle commented on #17416
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-27 21:27] stevvooe commented on #16974
@Kaffa-MY Without going into detail, the main issue here is trust and provenance. Basically, the registry controls the naming, so once you point the daemon at another registry, you can no longer trust the content if layers collide. We avoid these issues by disallowing arbitrary mirroring.

This is a situation we are working on resolving but it will take some effort to appropriately address.

[2015-10-27 21:40] thaJeztah commented on #16974
@stevvooe I see I actually forgot to close, but do you want this stay opened, or is this tracked already in your repo?

[2015-10-27 21:45] thaJeztah commented on #17416
Can you add the output of `docker version`, `docker info` and `uname -a`? Chowning issues can be dependent on the graph driver and underlying filesystem

[2015-10-27 21:55] calavera commented on #17387
It looks like libcontainer is failing to write in the parent process pipe.

[code]

I've isolated the issue to this function, but I still don't know why it happens randomly:

https://github.com/opencontainers/runc/blob/master/libcontainer/process_linux.go#L64-L92

/cc @crosbymichael, @LK4D4

[2015-10-27 22:03] crosbymichael commented on #17387
why is it hitting the setns code?

[2015-10-27 22:08] calavera commented on #17387
Sorry, I meant to point to the initProcess function

[2015-10-27 22:08] calavera commented on #17387
still investigating

[2015-10-27 22:21] coyotwill commented on #16755
@j16sdiz : I'm seeing the same error on a busybox-based image.
`FATA[0000] Error pulling image (0.10.0) from myregistry:5000/mystuff, ApplyLayer exit status 1 stdout:  stderr: link /bin/[ /bin/route: too many links`

You seems to understand what the problem may be, could you please elaborate ?

How can I check the number of hard-links or soft-links ? And do they add up to other images ?
I'm asking

[2015-10-27 22:23] tiagomacarios commented on #17321
@jhowardmsft @thaJeztah Thanks for replying so quickly. Is there anyway outsiders can help with the documentation issue? I guess it is a bit tricky since we don't know everything that's going on, but if there is a way to help.

[2015-10-27 22:34] phemmer commented on #17416
Your workdir is `/opt/docker`. Your chown is `chown -R daemon:daemon .`. Thus you're chowning `/opt/docker`, yet your add is to `/opt`.
Change your chown to `/opt` and you should be good.

[2015-10-27 22:35] jhowardmsft commented on #17321
All the docker documentation is in the public repo :) @scooley who was looking at the docs issue with @moxiegirl

[2015-10-27 22:38] ricardobranco777 commented on #17410
Thanks.  I could confirm that this issue doesn't happen on 1.8.2.  In my setup I should downgrade Docker Engine to 1.8.2 and repopulate the Registry to avoid this problem.

[2015-10-27 22:43] crosbymichael commented on #17387
is it only with @ibuildthecloud 's image?

[2015-10-27 22:47] stevvooe commented on #16974
@thaJeztah This is described in the road map, I believe. @RichardScothern Do we have this documented anywhere?

[2015-10-27 22:56] thaJeztah commented on #17321
Correct, all the documentation (for the docker "engine") can be found here; https://github.com/docker/docker/tree/master/docs. There's also a basic README explaining how it's used, but more in-depth documentation on how to contribute and make changes to docs can be found in our contributing guide; https://docs.docker.com/project/make-a-contribution/

The Windows documentation is a bit of an except

[2015-10-27 23:12] thaJeztah commented on #17410
Thanks for the explanation @aaronlehmann !

I'm going to close this issue because this is not a bug, but thanks for reporting @ricardobranco777, it's appreciated!

[2015-10-27 23:12] #17410 closed

[2015-10-27 23:19] calavera commented on #17387
I only tried with that image.

[2015-10-27 23:23] crosbymichael commented on #17387
ok, i get this:

[code]

its random so something is telling it to write the memory swap when its not supported

[2015-10-27 23:23] thaJeztah commented on #17415
Thanks for reporting, @lukemarsden, I agree this is confusing

[2015-10-27 23:41] lukemarsden commented on #17415
Thanks! I suggest that failing to create a volume should fail the creation of the entire container. This may need to roll back other volume (or other object) creation.

[2015-10-27 23:50] thaJeztah commented on #17392
I think there's work on that being done in https://github.com/docker/docker/pull/17283, but I suggest asking for support at Amazon.

I'm going to close this issue, because the issue in docker itself has been fixed. Feel free to comment here after I've closed the issue. Thanks for reporting!

[2015-10-27 23:50] #17392 closed

[2015-10-28 00:00] #17352 closed

[2015-10-28 00:07] crosbymichael commented on #17387
I think this is the fix:

[code]

[2015-10-28 00:13] cpuguy83 commented on #17413
Works on master here.

[2015-10-28 00:14] cpuguy83 commented on #17413
I think we'll be cutting an RC3 soon.
Would you be able to test with master?

[2015-10-28 00:18] robdaemon commented on #17413
I haven't tested with master, but I did test with experimental (so, a build from yesterday) and it reproduced.

[2015-10-28 00:19] cpuguy83 commented on #17411
Ok, i can see that if the file is empty there is the json error.
But if the file does not exist, docker does create it.

[2015-10-28 00:21] cpuguy83 commented on #17413
We did a vendor-in of libnetwork today which may have cleared up the issue.

[2015-10-28 00:22] RichardScothern commented on #16974
It is now: https://github.com/docker/distribution/pull/1136

On Tue, Oct 27, 2015 at 3:48 PM, Stephen Day <notifications@github.com>
wrote:

[2015-10-28 00:31] thaJeztah commented on #16974
thanks all, I'll close this one!

[2015-10-28 00:31] #16974 closed

[2015-10-28 00:49] crosbymichael commented on #17387
ping @ibuildthecloud can you try after applying my patch?

[2015-10-28 01:22] keloyang commented on #17142
How can it do the file permissions with the apparmor way? for example,how to limit to write a file?

[2015-10-28 01:25] jfrazelle commented on #17142
it will generate an apparmor profile, this is not just seccomp config it
will be a generic security profile with backends

On Tue, Oct 27, 2015 at 6:23 PM, keloyang <notifications@github.com> wrote:

[2015-10-28 01:39] Kaffa-MY commented on #16974
@stevvooe thanks for your reply

[2015-10-28 01:46] farmerworking commented on #17104
@endophage What you said sounds reasonable enough so I try the official nginx image instead. The log is that:

![image](http://work.image.alimmdn.com/%E5%B1%8F%E5%B9%95%E5%BF%AB%E7%85%A7%202015-10-28%20%E4%B8%8A%E5%8D%889.36.45.png?t=1445996295770)

You can see in the third request, no `http authorization` header is carried and `http` is used

[2015-10-28 01:52] shmcfarl commented on #17252
After a rebuild and a simplification of my docker-compose file, it is working.  I had an environment setting in my docker-compose setup that was causing an issue with the registry for IPv6.  Everything seems to be working now:

root@docker-v6-2:~# ping6 -n docker-v6-1.example.com
PING docker-v6-1.example.com(fd15:4ba5:5a2b:1009:20c:29ff:fef3:f848) 56 data bytes
64 bytes from fd15:4ba5:5a2b:1009:20

[2015-10-28 01:52] #17252 closed

[2015-10-28 01:54] farmerworking commented on #17104
I create a really simple demo which can reproduce the bug

### file structure

![image](http://work.image.alimmdn.com/%E5%B1%8F%E5%B9%95%E5%BF%AB%E7%85%A7%202015-10-28%20%E4%B8%8A%E5%8D%889.47.19.png?t=1445996864325)

### docker-compose.yml content:

	proxy:
	  image: nginx
	  volumes:
	    - .:/ssl
	    - .:/etc/nginx
	  ports:
	    - "5001:443"
	registry:
	  image: registry:2
	  ports:
	    - "5

[2015-10-28 02:25] wenchma commented on #16756
@ZJaffee , found your comment to take `docker_cli_attach_unix_test.go`, if you have not made the pull request, I can take this and give a PR, :smile:

[2015-10-28 02:31] coolljt0725 commented on #17404
I think if we use containers names here, we should update on `docker rename`

[2015-10-28 03:07] coolljt0725 commented on #17409
+1 for this, if use the `--userns-remap`, we can't access to the device add by `--device` on `docker run/create`, I think we should add a flag on `docker run/create` to disable user namespace mapping

[2015-10-28 03:10] fake-name commented on #17366
Yes.

[2015-10-28 03:22] hiraq opened #17426 "Docker 1.8.3 Error Starting Daemon"
Hi,

My current server environment :

- kernel : Linux my-server 3.13.0-57-generic #95-Ubuntu SMP Fri Jun 19 09:28:15 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

- docker version :
Client:
 Version:      1.8.3
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   f4bf5c7
 Built:        Mon Oct 12 05:37:18 UTC 2015
 OS/Arch:      linux/amd64

I've follow the official instructions from here : https

[2015-10-28 03:22] GordonTheTurtle commented on #17426
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-28 04:41] vieux commented on #17255
I have the same issue with docker-1.9.0rc3:

[code]

[2015-10-28 05:11] deshka commented on #15692
Working on debian wheezy...

I added backports to my apt repo "deb http://ftp.de.debian.org/debian wheezy-backports main" and performed a "apt-get update". Afterwards, the apt-get install docker-engine completed fine.

Personally, I'm leaving backports commented out for now but in my conf as a reminder...

[2015-10-28 05:16] gjprabu commented on #17399
We have downloaded the kernel from https://www.kernel.org/ and complied manually. If the devicemapper libs are not supported with old kernel, then we have other server centos7 default kernel 3.10.0-229.14.1.el7.x86_64 and which is working fine.

[2015-10-28 05:47] gjprabu commented on #17399
As we required some file system functionality and need to compile kernel manually to get that filesystem modules. Even though we have upgrade kernel from centos 7 default kernel 3.10.0-229.14.1.el7.x86_64 to 3.10.1 and 3.10.79 but Its throwing same error.

"Shutting down daemon due to errors: error initializing graphdriver: Error running DeviceCreate (CreatePool) dm_task_run failed"

[2015-10-28 06:14] aku163 commented on #17399
@gjprabu : Can you provide result of `df -h` ?

We had similar issue where / was out of space and was unable to start the daemon and was getting same error.

[2015-10-28 07:17] rohanjoseph commented on #4329
i have boot2docker installed on my windows which has the virtual box  and i have docker0 , eth0,eth1 in the vm the NIC. I am trying to connect the container witht these the ip's provided in it. here is my command docker run -d -p <ip>:<port>:<port> <docker image name> after this when i try to access this in the chrome on my desktop i am not able to see anything. can anyone help me

[2015-10-28 07:22] weian404 commented on #10207
@soichih thanks ,i do not know how ,but it works

[2015-10-28 07:28] gjprabu commented on #17399
Hi aku,

    Please find the details.
df -h
Filesystem      Size  Used Avail Use% Mounted on
/dev/sda2       289G   30G  244G  11% /
devtmpfs         32G     0   32G   0% /dev
tmpfs            32G   12K   32G   1% /dev/shm
tmpfs            32G  9.1M   32G   1% /run
tmpfs            32G     0   32G   0% /sys/fs/cgroup
/dev/sda1       9.5G  396M  8.6G   5% /boot
/dev/sdb1       917G  217G  654G  25%

[2015-10-28 07:32] flaccid commented on #16808
I can't replicate this on x86_64 and don't have an i686 to test with. I recommend ensuring that your packages are up to date including the deps of the package.

[2015-10-28 07:38] stapelberg commented on #17411
Yes. What I’m trying to convey is that an empty file should be treated equal to “does not exist”.

[2015-10-28 07:56] kvasdopil commented on #17369
The error doesn't seem to be related to freebsd build, looks like some kind of repository misconfiguration, maybe @jfrazelle could take a look.
However freebsd build is also broken, i'll try to fix it.

[2015-10-28 08:19] dunnock opened #17429 "Driver btrfs failed to remove root filesystem when base container is based on old version of docker"
Dear Docker Team,

I have a issue with my autobuild based on latest version of Docker: https://hub.docker.com/r/dunnock/rails-nginx-unicorn/builds/bxorz86zhddgyhbiy7r3czj/

Steps:
1. Inherit container from seapy/rails-nginx-unicorn-pro built with docker 1.6, for instance take the following Dockerfile https://github.com/dunnock/rails-nginx-unicorn
2. Build with docker 1.8, that will fail with the e

[2015-10-28 08:19] GordonTheTurtle commented on #17429
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-28 08:23] alexellis commented on #16701
@nareshk355 I managed to resolve the issue at my end. Either a new version of gcc-go or a binary version of go itself.

[2015-10-28 08:31] gjprabu commented on #17399
We found the issue, when we change the option in /etc/sysconfig/docker-storage to default value its working fine. When we set below storage option in kernel 3.10.91 docker not able to start. Please share the solution with below options.

DOCKER_STORAGE_OPTIONS="--storage-opt dm.loopmetadatasize=16G --storage-opt dm.loopdatasize=500G --storage-opt dm.basesize=50G --storage-opt dm.no_warn_on_loop_de

[2015-10-28 08:36] stefanleh opened #17430 "panic: runtime error: makeslice: len out of range using docker-machine on windows 10 64b"
stefan@Monster MINGW64 ~/centos-jenkins-docker-slave (master)
	$ winpty docker run -it 61138c91bd2a
	panic: runtime error: makeslice: len out of range

	goroutine 1 [running]:
	github.com/docker/docker/pkg/term/winconsole.WinConsoleStreams(0xed3fb0, 0xc0820069b0, 0x0, 0x0, 0x0, 0x0)
	        /go/src/github.com/docker/docker/pkg/term/winconsole/console_windows.go:252 +0x50f
	github.com/docker/docke

[2015-10-28 08:36] GordonTheTurtle commented on #17430
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-28 08:44] peerasan commented on #9299
kramarama is very to remember

[2015-10-28 08:55] superwanglin commented on #10318
Why can't docker simply provide an option to disable saving clear-text password before proper security is implemented?

[2015-10-28 09:23] thaJeztah commented on #15620
For those following this, PR https://github.com/docker/docker/pull/15368 was merged, and updated docs will be published together with the 1.9 release

[2015-10-28 10:22] pwaller commented on #12839
I just hit this again on 1.8.3, so I think I closed it incorrectly. Not sure why my minimum reproduce case didn't hit it.

[2015-10-28 10:35] SurabhiBorgikar opened #17432 "Issue with -v flag in running a container"
Hi. I'm trying to do the following with Docker Quickstart terminal..  I get this error even though the path specified with -v flag is an unix path.

`$ winpty docker run -it -v /data --name mycontainer busybox`
`invalid value "C:\\Program Files\\Git\\data" for flag -v: \Program Files\Git\data is not an absolute path
See 'docker run --help'.`

[2015-10-28 10:35] GordonTheTurtle commented on #17432
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-28 11:10] gjprabu commented on #17399
Now problem with only dm.loopmetadatasize=16G, it is not allowing me in storage option. If we remove that setting docker able to start and its working. Our setup will required more image and metadata size. Please advice me to change the size of metadata.

[2015-10-28 11:39] KillingJacky commented on #15692
Thanks sawyerlin, your solution works never better!

[2015-10-28 12:11] thaJeztah commented on #17404
@coolljt0725 yes, that would be needed; libnetwork does already update `/etc/hosts` entries on container-rename, so this should follow as well.

[2015-10-28 12:17] thaJeztah commented on #17430
@stefanleh curious why you closed this one. If this is still an issue, can you add the requested information? thanks!

[2015-10-28 12:23] thaJeztah commented on #17432
@SurabhiBorgikar this is a duplicate of https://github.com/docker/docker/issues/12751 and https://github.com/docker/docker/issues/12590, and is caused by msys automatically converting paths to "windows" paths.

You can prevent this from happening by using a *double* slash at the start of the path, i.e. `//data`. see this comment; https://github.com/docker/docker/issues/12751#issuecomment-96288101

[2015-10-28 12:23] #17432 closed

[2015-10-28 12:34] thaJeztah commented on #17022
ping @Kanshiroron have you been able to test this with the current release candidate?

[2015-10-28 12:38] thaJeztah commented on #17044
@atrauzzi is this still an issue for you?

[2015-10-28 12:43] thaJeztah commented on #16857
@ntrifunovic is this still an issue for you, or have you been able to resolve this?

[2015-10-28 12:45] thaJeztah commented on #17353
@duffqiu I'm going to close this issue, because the IPAM plugins in Docker 1.9 will allow you to implement this, but feel free to comment here after I've closed

[2015-10-28 12:45] #17353 closed

[2015-10-28 12:47] duglin commented on #16456
@pnathan I don't know when the freeze will be lifted. The only thing I know for sure is that there are things underway to move the builder to the cli.  I'm hoping that eventually that will lead to a totally new builder (based on work that @jlhawn is doing) that will allow us to fix a lot of these types of issues.

But most of that is still under discussion.

As for a trying to get (which seems lik

[2015-10-28 12:47] sysmat opened #17433 "config file not been used"
How I determine which configuration file docker is using?

Environment:
--------------------
OS: CentOS release 6.7 (Final)
docker : Docker version 1.7.1, build 786b29d/1.7.1

I have file /etc/sysconfig/docker:
-------------------------------------------
# Resolves: rhbz#1176302 (docker issue #407)
DOCKER_NOWARN_KERNEL_VERSION=1
DOCKER_OPTS="-D --dns 193.2.1.66 --dns 193.2.1.72 --dns 193.2.1.92 --

[2015-10-28 12:47] GordonTheTurtle commented on #17433
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-28 12:49] sysmat commented on #17433
docker info:
---------------
Containers: 6
Images: 101
Storage Driver: devicemapper
 Pool Name: docker-253:0-6160709-pool
 Pool Blocksize: 65.54 kB
 Backing Filesystem: extfs
 Data file: /dev/loop0
 Metadata file: /dev/loop1
 Data Space Used: 11.2 GB
 Data Space Total: 107.4 GB
 Data Space Available: 31.57 GB
 Metadata Space Used: 9.232 MB
 Metadata Space Total: 2.147 GB
 Metadata Space Available:

[2015-10-28 13:10] mavenugo commented on #17255
@vieux can you pls confirm if you see this in master ?
@tiborvass i couldnt find https://github.com/docker/docker/issues/17351 as 1 of the patches in https://github.com/docker/docker/issues/17000
Can you pls confirm ?

[2015-10-28 13:10] cpuguy83 opened #17435 "[1.9.0-rc3] - Upgrade from RC2 can't load containers"
After upgrading from RC2 to RC3 I get the following error trying to load containers on daemon init:

Failed to load container 15359d38429bb14c831848eec016a5c1dfad2a1229a6852c8e2f43a3274f049a: json: cannot unmarshal array into Go value of type map[string]*network.EndpointSettings

[2015-10-28 13:10] GordonTheTurtle commented on #17435
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-28 13:11] thaJeztah commented on #16701
@nareshk355 I'm going to close this issue because this is a question better asked in the #docker-dev IRC channel, but feel free to comment here after I've closed, thanks!

[2015-10-28 13:11] #16701 closed

[2015-10-28 13:13] cpuguy83 commented on #17433
Closing since this isn't an actual issue and I see you've posted this in docker-user already.

[2015-10-28 13:13] #17433 closed

[2015-10-28 13:13] mavenugo commented on #17435
@tiborvass @calavera please correct me if am wrong.. isnt this expected due to the changes involved in https://github.com/docker/docker/pull/17393 ?

[2015-10-28 13:14] mavenugo commented on #17435
@cpuguy83 can you confirm if this is a problem if you upgrade from 1.8 -> 1.9 ?

[2015-10-28 13:19] thaJeztah commented on #17429
ping @tonistiigi I think you've been working on issues around these files

[2015-10-28 13:22] cpuguy83 commented on #17399
@gjprabu I believe you need to remove the existing device in order to change the size.

[2015-10-28 13:27] cpuguy83 commented on #17435
Tested, is indeed only an issue from rcN-rc3

[2015-10-28 13:28] benton commented on #6396
I have also solved this problem in a similar way to @aidanhs - by pulling the required secret over the local docker subnet, and then removing it before the filesystem snapshot occurs:
https://github.com/mdsol/docker-ssh-exec

[2015-10-28 13:37] thaJeztah commented on #16515
@hpollinger would you be interested in contributing, and opening a pull request with the changes you think are needed? The Markdown files used to generate the API documentation can be found in this repository; https://github.com/docker/docker/tree/master/docs/reference/api

[2015-10-28 13:38] thaJeztah commented on #16715
I'll close this issue for now, but feel free to comment after I've closed

[2015-10-28 13:38] #16715 closed

[2015-10-28 13:38] azurezk commented on #17020
I would like to try on that:)

[2015-10-28 13:46] thaJeztah commented on #16694
This could be an issue with the setup of your registry. There are several existing issues on the docker/distribution issue tracker that may contain useful information on this topic, https://github.com/docker/distribution/issues?utf8=✓&q=is%3Aissue+authentication

Could you search those topics? Asking in the #docker-distribution IRC channel for more interactive help finding a solution would be an a

[2015-10-28 13:46] #16694 closed

[2015-10-28 13:51] thaJeztah commented on #17399
IIRC this blog post described the process, but I'm not too familiar with this; https://jpetazzo.github.io/2014/01/29/docker-device-mapper-resize/

[2015-10-28 13:54] JonasT opened #17436 "Docker website encourages users to import GPG key for apt repository in unsafe ways"
Docker needlessly encourages users to import the GPG key for the apt repository in unsafe ways without verifying the full fingerprint. TLS has some tampering protection after all, so this should be used to give users the power with the help of the HTTPS-delivered site to do this better and get informed about the supposed fingerprint and how to check it. As far as I'm aware, the **HKP protocol is n

[2015-10-28 13:54] GordonTheTurtle commented on #17436
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-28 13:56] thaJeztah commented on #17357
/cc @tonistiigi because I think you've been working on whiteout files, but apologies if this is not your area :smile:

[2015-10-28 14:08] thaJeztah commented on #17436
ping @tianon I think this has been discussed before, but you're way better than I am at this :smile:

[2015-10-28 14:18] thaJeztah commented on #16218
/cc @ewindisch

[2015-10-28 14:19] thaJeztah commented on #15829
what's the status here?

[2015-10-28 14:20] cpuguy83 commented on #17436
http://security.stackexchange.com/a/4175/15496 is a good explaination.

[2015-10-28 14:21] tianon commented on #17436
If you look at the actual command documented/executed, you'll see that it
embeds the full fingerprint already so the that gpg tool will verify the
key during import as well.  Additionally, if the key is wrong, APT's
default configuration will refuse to install packages from the repo.

- Tianon

[2015-10-28 14:25] thaJeztah commented on #17436
Thanks for adding the explanation @tianon, @cpuguy83.

I think it's safe (no pun intended) to close this issue, thanks for suggesting though @JonasT, it's appreciated

[2015-10-28 14:26] JonasT commented on #17436
@cpuguy83 yes it explains why my remark is *completely valid*. Because the argument is "well you can just check the key itself cryptographically, so who cares about the connection", such a check is of even more importance.

@tianon actually, I'm just seeing this: ```apt-key adv --keyserver hkp://p80.pool.sks-keyservers.net:80 --recv-keys 58118E89F3A912897C070ADBF76221572C52609D``` Is that long id

[2015-10-28 14:29] thaJeztah commented on #17436
Apologies @JonasT, I'll reopen

[2015-10-28 14:29] cpuguy83 commented on #17436
@JonasT It is explaining that you don't need to trust the key server, you need to trust the signers, which is verified by apt.

[2015-10-28 14:31] JonasT commented on #17436
@cpuguy83 so apt is actually checking signatures on the key to be issued by a trusted party? Because the command does kinda *not* look like it does:

[code]
--trust-model always, --no-auto-check-trustdb? Doesn't sound that safe to me...

[2015-10-28 14:41] thaJeztah commented on #16514
@cpuguy83 have you had time to look into these changes?

[2015-10-28 14:43] cpuguy83 commented on #16514
Yes, this is problematic.
We did change to `x-json-stream` at one point, but this broke some older clients due to versioning issues (ie, certain endpoints weren't properly versioned at one point).

[2015-10-28 14:44] cpuguy83 commented on #16514
That said, we can probably make the change for the stats endpoint.

[2015-10-28 14:44] stefanleh commented on #17430
**$ docker version**

Client:
 Version:      1.8.3
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   f4bf5c7
 Built:        Mon Oct 12 18:01:15 UTC 2015
 OS/Arch:      windows/amd64

Server:
 Version:      1.8.3
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   f4bf5c7
 Built:        Mon Oct 12 18:01:15 UTC 2015
 OS/Arch:      linux/amd64

**$ docker info**

Containers: 1
Images: 1

[2015-10-28 14:44] thaJeztah commented on #17020
thanks @azurezk! please note that it's not agreed on yet, so it could still be rejected in the PR.

I'll label this issue as "claimed" for you :+1:

[2015-10-28 14:47] thaJeztah commented on #16514
It could be versioned to keep the "old" behavior for older clients/api-versions

[2015-10-28 14:47] cpuguy83 commented on #16514
For stats yes, for other endpoints, no.

[2015-10-28 14:50] thaJeztah commented on #15508
Should we keep this issue open? The original question has been answered

[2015-10-28 14:52] thaJeztah commented on #10666
I'll close this, but ping if I closed by mistake

[2015-10-28 14:52] #10666 closed

[2015-10-28 14:52] JonasT commented on #17436
I just discussed this with @cpuguy83 in chat, and I think it comes down to whether ```58118E89F3A912897C070ADBF76221572C52609D``` is either the fingerprint or similarly strong as a fingerprint to avoid a forged key matching up that id. If someone with GPG knowledge can confirm that, I think I opened this issue needlessly... sorry for that :-)

However, as a minor nitpick: in that case you should p

[2015-10-28 14:53] unclejack commented on #10181
@bobrik This will most likely be fixed through the upgrade to Go 1.6. Both compression and decompression performance will be improved.

There's no point in doing anything else for this now as there are many high priority actionable items to take care of before doing this.

Even though this will be fixed automatically when upgrading to Go 1.6, this issue should stay open because we could make other

[2015-10-28 14:57] tiborvass commented on #17435
@cpuguy83 @mavenugo so can we close this?

[2015-10-28 15:00] #17435 closed

[2015-10-28 15:09] fauzanariffin opened #17439 "Docs - Incorrect Link for https://docs.docker.com/misc/"
Hi,

For the page, https://docs.docker.com/misc/,
Section **'About this guide'** the link to **'Understanding Docker section'** is incorrect.
The correct link is https://docs.docker.com/introduction/understanding-docker/

[2015-10-28 15:09] GordonTheTurtle commented on #17439
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-28 15:25] bobrik commented on #10181
@unclejack do you have any links that makes you think that go 1.6 will improve things dramatically?

[2015-10-28 15:31] tianon commented on #17436
Yes, that long ID is literally the full key fingerprint.

[2015-10-28 15:49] tophj-ibm commented on #17439
Looks already fixed in this commit. The website hasn't updated yet.

8fee1c2020186ac100b45e64864b94ae3a169ad5

[2015-10-28 16:17] mausch opened #17442 "Docker daemon allocates tty by default in Ubuntu 14.04"
On a fresh Ubuntu 14.04 install, the docker daemon logs to `/var/log/upstart/docker.log` in TTY format e.g.:

[code]

I don't think this [should be the default](https://github.com/docker/docker/issues/936#issuecomment-150619468). Without timestamps the log file is nearly useless, so I propose to change this current default behaviour. No idea what to change in the daemon config to prevent this.

`d

[2015-10-28 16:17] GordonTheTurtle commented on #17442
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-28 16:32] mausch commented on #17442
Sorry about that, just updated the report with the required information.

[2015-10-28 16:37] tonistiigi commented on #17429
The error from the automated build appears because this old image contains `.plnk` files that shouldn't be there. Unfortunately there's no better fix for that than rebuilding the base image. There's an attempt to show a better warning in #16774 and eventually pulls of such images should just fail. These files are not put in the images in the last versions or docker(at least `1.7`).

For the btrfs

[2015-10-28 16:39] crosbymichael opened #17443 "Daemon lockup on hairpin nat and veth deletion"
Ok, so I'm using my docker-stress tool found here to stress test the daemon.  You can download and build it here:

https://github.com/crosbymichael/docker-stress

If you run with:

[code]

Here is the `stress.json`:

[code]

More repeatable if you change `-c 4` to `-c 6`

Anyways we will hit a kernel bug on unregister net device.

[code]

We cannot do much about that, however, it locks up the enti

[2015-10-28 16:39] GordonTheTurtle commented on #17443
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-28 16:39] wptad commented on #5618
happend in coreos:

Images: 1174
Storage Driver: overlay
 Backing Filesystem: extfs
Execution Driver: native-0.2
Logging Driver: json-file
Kernel Version: 4.1.7-coreos
Operating System: CoreOS 766.4.0

[2015-10-28 16:41] nikel123 opened #17444 "No permissions for non root users inside a container on host with nfsroot"
I have some read and execution permission issues on my machine with nfsroot without local storage:

andrej@nikel:~$ docker run -it --name test --privileged=true ubuntu:14.04 bash
Unable to find image 'ubuntu:14.04' locally
14.04: Pulling from ubuntu

3fd0c2ae8ed2: Already exists
9e19ac89d27c: Already exists
ac65c371c3a5: Already exists
a5a467fddcb8: Already exists
ubuntu:14.04: The image you are p

[2015-10-28 16:41] GordonTheTurtle commented on #17444
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-28 16:43] tiborvass commented on #17443
Ping @mrjana @sanimej

[2015-10-28 16:46] thaJeztah commented on #17443
also see https://github.com/docker/docker/issues/5618 ?

[2015-10-28 16:47] Maximus5 commented on #13817
Finally, I'd successfully built `docker.exe` from sources (using `go build` in docker folder).
But now I face the API version mismatch error.
[code]
Any hints how to update the server?

[2015-10-28 17:00] albers opened #17446 "Feature Request: docker network inspect --format"
Both `docker inspect` and `docker volume inspect` have an option to produce formatted output:

    -f, --format=      Format the output using the given go template

For consistency, `docker network inspect` should also support this option.
This would be very helpful for the shell completions of `docker disconnect`, allowing something like `docker network inspect -f '{{.containers}}' some-network`

[2015-10-28 17:01] jhowardmsft commented on #13817
Is this a Linux server or Windows?

[2015-10-28 17:01] jhowardmsft commented on #13817
You should be able to pull the right binary from https://master.dockerproject.org/

[2015-10-28 17:04] Maximus5 commented on #13817
Linux server. Installed by DockerToolbox-1.8.3.exe.

[2015-10-28 17:07] vdemeester commented on #17446
I do agree, working on doing this for `docker images`, guess the next one would be `network inspect`.

[2015-10-28 17:11] JonasT commented on #17436
Ok, then sorry for confusing everyone :-) and thanks for explaining. The problem I imagined doesn't exist then

[2015-10-28 17:11] #17436 closed

[2015-10-28 17:16] albers commented on #17446
Great, thanks!

[2015-10-28 17:20] tonistiigi commented on #17357
This should be fixed with #16470 - that image contains `.opq` file that wasn't handled by btrfs.

[2015-10-28 17:24] thaJeztah commented on #17357
Thanks Toniis, I'll tentatively close this issue, but feel free to ping me if this is not resolved yet.

Thanks for reporting!

[2015-10-28 17:24] #17357 closed

[2015-10-28 17:32] feisuzhu commented on #5618
@killme2008 上次说的内核bug

[2015-10-28 17:47] runcom commented on #5419
It's happening the same on overlay.. I'm going to reopen this to track this bug and see if Docker can better handle this scenario

[2015-10-28 17:50] robdaemon commented on #17413
Still broken in 1.9.0-rc3. After a reboot, I see:

[code]

and none of my containers that were started with --net=hcf have restarted. A subsequent `docker start` on any of them errors with:

[code]

Docker daemon flags are: `--cluster-store=etcd://10.0.0.235:3379 --cluster-advertise=10.0.0.235:2376 --label=com.docker.network.driver.overlay.bind_interface=eth0 --insecure-registry=15.126.242.125:500

[2015-10-28 18:01] ewindisch commented on #16218
The current recommended practice is to use the sha256 digest id. This is more secure and forward-compatible.

[2015-10-28 18:04] vieux commented on #17255
I confirm, I cannot reproduce on master

[2015-10-28 18:26] stevvooe commented on #15508
@thaJeztah We should fix this bug.

@aaronlehmann @tonistiigi Will we get this fixed in the future, such that a digest is available for every image?

[2015-10-28 18:35] stevvooe commented on #10318
@superwanglin Could you expand on your proposal? Do mean having a `--no-save-password` flag and having the user enter password for every push and pull?

[2015-10-28 18:48] aaronlehmann commented on #15508
In the near future, the image ID will become a content address. In this sense, a digest will be available for every image.

However, the current digest field is used to identify manifest digests for images that have been pulled by digest rather than by tag. This concept will still exist when images are content-addressable. So this particular digest field will still only apply to some images.

[2015-10-28 19:25] AndyBerman opened #17448 "[1.9.0-rc3] docker is four times slower than before"
Testing  docker 1.9.0-rc3 performance.

Both "build" and "run" commands are at least 4 times longer than earlier versions of Docker.

Running "time docker run busybox date" takes over 2 seconds with 1.9.0-rc3 (after the busybox image is pulled locally).

It takes .5 seconds on other versions of Docker.

Builds are also much much slower.

Running on RHEL7 3.10.0-229.14.1.el7.x86_64

[aberman@r10a-d

[2015-10-28 19:25] GordonTheTurtle commented on #17448
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-28 19:26] cpuguy83 opened #17449 "[1.9.0-rc3] DEBUG serf messages displayed on daemon stdout"
While the daemon is running without the debug flag, I keep getting serf(?) debug messages from the daemon's stdout:

[code]

[2015-10-28 19:26] GordonTheTurtle commented on #17449
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-28 19:28] cpuguy83 commented on #17448
I see this is with devicemapper.
What version were you running before?

[2015-10-28 19:36] AndyBerman commented on #17448
We've always used Devicemapper, but we have recently switched from loopback
to direct-lvm for it.

We've tested 1.6, 1.8 and 1.9 on both loopback and direct-lvm and never saw
this slowness.

On Wed, Oct 28, 2015 at 3:29 PM, Brian Goff <notifications@github.com>
wrote:

[2015-10-28 19:41] vbatts commented on #5419
golang's `archive/tar` only supports extracting from archives with sparse files, not creating an archive with sparse files.
From my searches, only GNU `tar` boasts creation of archives with sparse files. Many implementations barely support extracting these archives created by GNU `tar`

[2015-10-28 19:42] hschaeidt commented on #15272
Having the same issue here.

As workaround I did

`docker-machine ssh <your_machine>`
`docker login <your_private_repo>`

And then copied the persisted credentials in `~/.docker/config.json` to my host machine (windows).

`docker pull <your_private_repo>/<some_image>`
Works as expected afterwards.

[2015-10-28 19:53] cpuguy83 commented on #17413
Ok, I think i see this.
If I kill the daemon w/o allowing the containers to be stopped properly, (so, send SIGINT 3 times), the container will not be able to come back up and the state is corrupted at this point.

Removing the container and re-creating will not work.

ping @mavenugo

[2015-10-28 20:43] calavera commented on #17449
/cc @mavenugo

[2015-10-28 20:49] ewindisch commented on #10318
I'll reiterate that I believe the right solution here is to support Digest Authentication in the registry and support to store the password as a digest (hash). This solves a number of security complaints. This would work similarly to a token and would be simple to implement.

[2015-10-28 20:51] mavenugo commented on #17449
@calavera @cpuguy83 its a bug in serf library. we have to see if we can selectively suppress these messages (or) fix it in the library & vendor that in. ping @mrjana

[2015-10-28 20:52] mavenugo commented on #17255
thanks @vieux at this point, we have to make sure #17351 is pulled in for the release.We can keep this issue open just to make sure

[2015-10-28 20:56] tianon commented on #10318
I've worked with a number of organizations that have polices regarding
passwords not being stored on disk -- for things like "git pull" on their
internal source code, they re-type their password on each pull, so I think
regardless of other solutions that having the ability to manually type the
password for each push/pull would be a good, welcome addition as well.

[2015-10-28 20:59] cpuguy83 commented on #17449
it is possible.
Basically you have to supply a custom io.Writer to the config for serf and memberlist.
Hashicorp provides a pkg that works well with this: https://github.com/hashicorp/logutils

LMK what you want to do and I can make a patch.

[2015-10-28 21:02] Govinda-Fichtner opened #17451 "Docker unit test TestChtimes fails on 32bit ARM server"
Description of problem:
When running the Docker unit tests on an ARM 32bit server I get the following error

[code]
It seems like these tests were introduced with the following commit https://github.com/docker/docker/commit/40b77af234319f02029368732249c2de0babb380

Testing this from the current docker/docker master branch with 1.9.0-dev.

@darrenstahlmsft Why exactly are you using 33 in "unixEpoch

[2015-10-28 21:02] GordonTheTurtle commented on #17451
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-28 21:02] mrjana commented on #17449
@cpuguy83 We don't directly initialize memberlist. We only invoke serf apis and we properly initialize serf with a custom io.Writer. There is a bug in serf where they are not passing down the custom io.Writer down to the memberlist config when they create a memberlist. So the fix is in serf

[2015-10-28 21:08] cpuguy83 commented on #17449
@mrjana Can it be set here? https://github.com/docker/libnetwork/blob/master/drivers/overlay/ov_serf.go#L43

[2015-10-28 21:13] cpuguy83 commented on #17449
Success! That at least seems to work.

[2015-10-28 21:17] cpuguy83 commented on #17449
docker/libnetwork#717

[2015-10-28 21:20] mavenugo commented on #17449
@cpuguy83 :+1:

[2015-10-28 21:21] mavenugo commented on #17449
@cpuguy83

drivers/overlay/ov_serf.go:51: config.MemberlistConifg undefined (type *serf.Config has no field or method MemberlistConifg)

version mismatch ?

:(

[2015-10-28 21:22] cpuguy83 commented on #17449
typo, per usual :(

`Conifig`

[2015-10-28 21:23] mrjana commented on #17449
@cpuguy83 :+1: if it works :-)

[2015-10-28 21:31] darrenstahlmsft commented on #17451
Ah, yes, it was intended to set 32 bits. It should be 32 rather than 33. I'll make a fix and submit a PR.

[2015-10-28 21:42] tomdee opened #17454 "docker inspect bad output - MacAddress"
docker inspect output
Note that the Gateway looks very odd and the MacAddress isn't populated.

[code]

[code]

[2015-10-28 21:45] tomdee commented on #17454
I mentioned this issue in PR 16 days ago (https://github.com/docker/docker/pull/16910#issuecomment-147544026) and confirmed it was still a problem a day later (https://github.com/docker/docker/pull/16910#issuecomment-147776850).

Raising here so it gets tracked properly.

[2015-10-28 21:45] Govinda-Fichtner opened #17455 "Docker integration test fails with PANIC on 32bit ARM server"
Description of problem:
When running the Docker integrations tests on an ARM 32bit server I get the following PANIC error

[code]

Testing this from the current docker/docker master branch with 1.9.0-dev.

`docker version`:
Client version: 1.6.2
Client API version: 1.18
Go version (client): go1.4.2
Git commit (client): 7c8fca2-dirty
OS/Arch (client): linux/arm
Server version: 1.6.2
Server API vers

[2015-10-28 21:50] Maximus5 commented on #13817
Hmm... A how may I update the daemon on boot2docker linux server?
[linux server screenshot](http://i.imgur.com/EcUxTHI.png)

[2015-10-28 21:51] mavenugo commented on #17454
the Gateway issue is already resolved via https://github.com/docker/docker/pull/17424.

@tomdee can you also add the output for `docker network inspect calnet` ?
Is it happening for calico plugin ?

[2015-10-28 21:55] jhowardmsft commented on #13817
@Maximus5 I've never used boot2docker, but if it's similar to Ubuntu Linux, I do `which docker` to find the path of the current binary; `service docker stop`; `cp [newbinary] /path/to/docker`; `service docker start`. HTH :)

[2015-10-28 22:00] Random-Liu opened #17457 "Add labels on running containers for managing old running containers with no labels"
We plan to leverage the docker label to simplify container management.

However, we didn't use that before, so the containers already started have ***no*** labels on them. It is unacceptable for us to restart running containers to add labels. So it seems that the best solution is to add labels on the old ***running*** containers.

Will this kind of feature be added anytime soon? Or are there any o

[2015-10-28 22:00] GordonTheTurtle commented on #17457
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-28 22:01] flynnk commented on #14904
--bip=10.2.1.0/24 fails with this error, but...
--bip=10.2.1.2/24 works perfectly fine.  This may be what is throwing folks.  The documentation here refers to the --bip as the subnet, and it's not strictly the subnet (that would be .0), but rather the IP of the first host to use.

[2015-10-28 22:05] londoncalling commented on #10654
#dibs

[2015-10-28 22:09] tomdee commented on #17454
Nice! That's a quick turnaround (fixing it an hour before I raise it)

Here's the inspect output
[code]

[2015-10-28 22:11] tomdee commented on #17454
Hmmm, the MacAddress problem doesn't repro with the overlay driver so this could just be a Calico problem.

[2015-10-28 22:15] mavenugo commented on #17454
@tomdee thanks for confirming. please let us know.

[2015-10-28 22:29] tomdee commented on #17454
I've tried to get this working again with Calico but the libnetwork docs just don't explain how remote drivers should be setting the Mac address - see https://github.com/docker/libnetwork/issues/605

I don't think this is a docker/docker issue so closing and tracking this issue in the libnetwork repo instead.

[2015-10-28 22:29] #17454 closed

[2015-10-28 22:31] JonathonReinhart commented on #10318
@mmdriley nailed it:

Look, if you don't want to re-type your password every time, *something* valuable has to be stored locally. I don't care if it's a hash or a token or what. This is why Linux has e.g. Gnome Keyring, so your secrets are only decrypted when you log in. It's the most convenient, and it's what should be decrypting your SSH private keys (they *are* encrypted, right?)

Docker should

[2015-10-28 23:23] charlesg3 opened #17461 "All Containers Stopping"
I am trying to run multiple containers (using docker-compose), remotely using docker-machine. I am seeing that the containers are all stopping at once. This is happening across a variety of environments

## BUG REPORT INFORMATION

`docker version`:
[code]

`docker info`:

[code]

`uname -a`:
[code]

Snippet of kernel log around the crash:

[code]

Steps to reproduce the issue:
1. Create many conta

[2015-10-28 23:23] GordonTheTurtle commented on #17461
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-28 23:32] ibuildthecloud commented on #17305
Fairwell `172.17.42.1`, you will be missed.

[2015-10-28 23:34] tiborvass commented on #17305
@ibuildthecloud feel free to resuscitate it with `--bip`

[2015-10-28 23:34] ibuildthecloud commented on #17305
I will :)

[2015-10-29 00:00] cpuguy83 commented on #17461
Can you provide the docker daemon logs?

[2015-10-29 00:18] jberkus commented on #6094
I'm going to give another use-case where we need this feature.

I'm currently working on a dockerfile & docker-compose project for testing a distributed database project.  As such, we want to include the git repo for the distributed database in the docker-compose folder, so that we can do builds and tests, even of code which hasn't been pushed.   However, I can't nest git repos, git submodules are

[2015-10-29 00:19] donhcd opened #17464 "1.9rc3 daemon cannot start on fresh RHEL7.1 vm in AWS"
[code]

[2015-10-29 00:21] donhcd commented on #17464
more logs:
[code]

[2015-10-29 00:50] cpuguy83 opened #17465 "[1.9.0-rc3] /etc/hosts with overlay net not updating properly"
2 nodes, N1 and N2
N1 has containers `test`, `test2`, and `test4`
N2 has container `test3`

If I restart any container on N1, the `test3` container's `/etc/hosts` file will only contain entries for that one container that was restarted. Same with restarting another container again.

If I add a `test5` to N2, then the `/etc/hosts` files on containers in N1 will only have entries for containers loca

[2015-10-29 00:50] GordonTheTurtle commented on #17465
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-29 00:57] stevvooe commented on #15508
This was more of a side-effect of the implementation rather than an intended feature. If we can remove this behavior, and have a proper digest for everything, it would be a lot better.

[2015-10-29 01:24] cpuguy83 commented on #17457
Closing since this is a dup of the already mentioned issue.

[2015-10-29 01:24] #17457 closed

[2015-10-29 01:27] vikas027 commented on #7445
[decking](http://decking.io/) has an option `ready` for doing this.

[2015-10-29 01:37] Random-Liu commented on #17457
Thanks, I was just not sure whether this will be considered as a dup issue, :)
I'll comment in the old one.

[2015-10-29 01:37] Random-Liu commented on #15496
We plan to leverage the docker label to simplify container management.

However, we didn't use that before, so the containers already started have no labels on them. It is unacceptable for us to restart running containers to add labels. So it seems that the best solution is to add labels on the old running containers.

Will this kind of feature be added anytime soon? Or are there any other solutio

[2015-10-29 01:46] theblueskies opened #17466 "update selenium/standalone-firefox-debug tags"
Hi,

The latest version on selenium/standalone-firefox-debug is 2.48.2 in the repo. However, the current tag does not reflect that. The latest version in the tags in 2.48.1. Could you please update the latest version in the tags at https://hub.docker.com/r/selenium/standalone-firefox-debug/tags/    ?

Thanks!

[2015-10-29 01:46] GordonTheTurtle commented on #17466
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-29 01:56] jfrazelle commented on #17464
ping @vbatts do you think devmapper issue or @mavenugo something w networking

[2015-10-29 02:17] cpuguy83 commented on #17466
hello,

Please contact the owner of the selenium repo.
Thanks.

[2015-10-29 02:17] #17466 closed

[2015-10-29 02:26] vbatts commented on #17464
so we're looking at a RHEL7.1 host, that is pulling down the dockerproject.org rpm. It times-out when starting the daemon?

[2015-10-29 02:28] vbatts commented on #17464
The loopback warning doesn't fail launch presently. It may be worth a try to add `-s overlay` to the /etc/sysconfig/docker settings to try a different storage driver. Also `-D` for debug output.

[2015-10-29 02:29] jfrazelle commented on #17464
yeah the service seems to be hanging when starting?

[2015-10-29 02:38] cpuguy83 commented on #17464
Yeah, wonder if it's devicemapper provisioning and it's taking too long?

[2015-10-29 02:47] cpuguy83 commented on #17464
Maybe similar to #17448 if that is the case?

[2015-10-29 02:48] cpuguy83 commented on #17413
Having a difficult time re-reproducing this.

[2015-10-29 03:06] kopax commented on #10553
Hit the same issue when the VM's disk was full.

Docker version 1.8.2, build 0a8c2e3

[2015-10-29 03:24] farmerworking opened #17468 "docker daemon ignore username and password encoded in --registry-mirror"
### System environment
docker info

	Containers: 6
	Images: 212
	Storage Driver: aufs
	 Root Dir: /var/lib/docker/aufs
	 Backing Filesystem: extfs
	 Dirs: 225
	 Dirperm1 Supported: true
	Execution Driver: native-0.2
	Logging Driver: json-file
	Kernel Version: 3.16.0-41-generic
	Operating System: Ubuntu 14.04.2 LTS
	CPUs: 1
	Total Memory: 993.8 MiB
	Name: i-m903up73
	ID: ZMBV:RGFO:PTY2:Z45B:5N2B:GD

[2015-10-29 03:30] WeiZhang555 opened #17469 "docs: wrong format for man page"
It looks like there's some format problems about man page, at least on my machine(ubuntu 15.04), I'll show details:

1). 'item' list can't show clearly. e.g.
[code]
It's supposed to be something like this:
[code]
This appears on serveral files, I guess this may be a `go-md2man` related problem.
@cpuguy83

2） some `~` are missing:
[code]
This maybe also be a `go-md2man` related problem because the

[2015-10-29 03:30] GordonTheTurtle commented on #17469
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-29 03:45] donhcd commented on #17464
after adding `-s overlay -D` it looks like things are working now. here's a link to the new logs from `sudo journalctl -xeu docker`: https://gist.github.com/donhcd/f6952a1f7203ee583ef9

[2015-10-29 03:51] vbatts commented on #17464
@donhcd thanks. for debugging sake, would you mind switching it back, but keeping the debug flag (`-s devicemapper -D`). This way we might gain more needed information to investigate the root cause.

[2015-10-29 04:03] xiaoshengaimm opened #17470 "docker do not copy data to volume when use -v command to mount a volume"
hi ~~

I found docker do not copy the mount point data to volume when use `-v` command to mount a volume.

however, it copy the data to the volume when use `VOLUME` instrument in the Dockerfile.

here is my Docker file:
[code]
when i start the image use -v command, `ls` show the directory is empty;
[code]
how ever when i use `VOLUME` instrument，it works;  `ls` show the directory has files.

why? i

[2015-10-29 04:03] GordonTheTurtle commented on #17470
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-29 04:23] xiaoshengaimm commented on #17470
`docker version`
[code]

`docker info`
[code]

`uname -a`
[code]

other infomation:
my host is a virtual machine that i creat it by myself. system is
[code]

result i received
[code]
when i run the container i can not find the extra file in package.tgz

result i expected
when i run the container i find the extra file in package.tgz.

Dockerfile is
[code]

thanks

[2015-10-29 05:34] SurabhiBorgikar commented on #17432
Hi. Yes I've already seen those posts before posting mine. Even using *double slash* did not work for me. May be I should try using something else instead of Docker quickstart terminal for Volumes. Thanks!

[2015-10-29 05:47] TheDong commented on #10318
@ewindisch Storing a hash of the password and allowing it for auth during push/pull solves incredibly little.
The only thing it solves is that the settings in the webui would not be accessible, but frankly someone being able to push is scarier because that gives them arbitrary code execution in my application and any other users of my application... yeah.

As soon as you say "let them use the hash

[2015-10-29 05:58] jfrazelle opened #17472 "userns: containers will not restart if started with --restart always"
daemon logs:

[code]

[2015-10-29 05:58] GordonTheTurtle commented on #17472
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-29 05:59] jfrazelle commented on #17472
cc @estesp

[2015-10-29 06:02] jfrazelle opened #17473 "tests: userns tests TestExec* are racy"
see https://github.com/docker/docker/pull/17471#issuecomment-152084933

[2015-10-29 06:02] GordonTheTurtle commented on #17473
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-29 06:04] vikstrous opened #17474 "1.9.0-rc3 random network related build failures"
[code]

[code]

[code]

I'm building with this Dockerfile:
[code]

I get these errors almost every time:
[code]

It's always a different number of bytes before the connection gets reset by the other side.

If I remove the `bash -c` from the RUN command instead of the connection being killed right away after it stops receiving data, it hangs indefinitely until the other side closes the connection.

[2015-10-29 06:31] dunnock commented on #17429
Thanks! I've reported to the owner of the base image.

[2015-10-29 06:31] #17429 closed

[2015-10-29 06:42] dove-young opened #17475 "Error response from daemon: Cannot start container : [8] System error: permission denied"
I ran into the same issue as @alexislg2 did in docker version 1.8.2 on Fedora 22.

Here is my environment

[code]

Here is my execution process

[code]

Here is some output from <code> journalctl -xe </code>

[code]

Seems like it claims to network, but my network works well.

[code]

[2015-10-29 07:31] tmds commented on #13817
@Maximus5 alternatively you can build the docker client which supports API version 1.20. Building the 1.8.3 tag should give you a compatible client.

[2015-10-29 07:34] dove-young commented on #17475
It seems like this issue only reproduced by running docker daemon through systemctl. When start docker daemon from command line, it works well.

check docker.service and run container, it failed to start.

[code]

then start docker daemon from command line, with same parameters. then container starts well

[code]

[2015-10-29 07:37] WeiZhang555 opened #17477 "Proposal: optional/remote exec-driver support & per-container exec-driver"
## Background
As we can see that there already are some good works towards making docker support extra exec drivers, for example, `clear container`( #17441, #17244, #16163), which is trying to run docker containers with optimizational virtualization technology. Also there's other nice project doing similar work such as `runv` which is also compatible with OCI standard.

Some of us may be intereste

[2015-10-29 08:38] dove-young commented on #17475
Seems this issue disappeared after upgrade everything to the latest.

[code]

[2015-10-29 08:38] #17475 closed

[2015-10-29 08:43] dbrgn commented on #10318
True.

That's one aspect. The other aspect is that you could generate a token for each service where you want to store the credentials, and then you can revoke the tokens if something goes wrong.

If you have a single password, changing that will break authentication on all places where you've stored the password (in either plaintext or as a  hash).

I'd very much welcome pull-only scoped revokabl

[2015-10-29 08:46] estesp commented on #17472
Hmm..looks like something still wrong with our integration-cli daemon root logic--each time it starts, it is adding another level of graph directory below what should be the root, so any container state is getting lost as it is basically creating a new root.  This doesn't happen in normal operation without `-g`, so maybe I need to make sure the userns-enabled root creation in experimental is not d

[2015-10-29 09:33] kjozsa commented on #10294
overlayfs can not start a single docker container when running over ext4 in RHEL7.1. I wouldn't really call this a technology preview from RedHat's side, this plain does not work at all.

As we've got burnt several times with devicemapper on RHEL, aufs is not even there and the suggested future-proof approach with overlayfs fails to start even the simplest scenario, I'm running out of ideas about

[2015-10-29 09:37] kjozsa commented on #10294
eg. anyone knows if overlayfs + ext4 would work on RHEL 7.2 Beta? That could be a viable (through suboptimal) approach.

[2015-10-29 09:53] olalonde commented on #2112
So it's `docker build -f Dockerfile.dev .`?

[2015-10-29 10:01] mbontemps opened #17482 "--hostname is ignored by other containers in the same network"
**Description of problem:**

When using `docker run --name=project_www_1 --hostname=www --net=demo` one may expect other containers in the `demo` network to be able to access the former container as `www`.

This would be especially useful when using docker-compose 1.5 where containers use qualified names with the dir/project name (like `myproject_www_1`) for the image names, forcing us to use thes

[2015-10-29 10:01] GordonTheTurtle commented on #17482
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-29 10:14] runcom commented on #15256
to me it seems with newer Docker versions, more things are blocking and requires another thread to be allocated (threads won't be deallocated in go runtime but kept to be reused iirc so someone, somewhere, is leaking). Understanding what it causing this would help fixing this for sure.

`SetMaxThreads` could be a workaround to this but given 10k is really low it could be autoset to 80-90% of `/pro

[2015-10-29 10:16] runcom commented on #15256
@jeremyeder how could I reproduce this to trigger the leak? a dump of the goroutines when it's almost at the limit could help finding a pattern and see what's happening

[2015-10-29 10:37] surild commented on #16841
Can you please provide some info on the firewall settings that needed to be changed to resolve this

[2015-10-29 10:46] coolljt0725 commented on #17482
@mbontemps  I think `docker run --rm --name test2 --hostname alice --net=demo    alpine ping test1` can work, since the `/etc/hosts` store the `container IP` and `container name` but not `hostname` of other containers

[2015-10-29 11:15] cpuguy83 commented on #10294
@kjozsa if it's failing out of the box like that on top of ext4 (are you really sure it's ext4??? See "docker info" output), then something is wrong.
Check /proc/mounts while the daemon is shutdown, see if there is anything mounted in /car/lib/docker

[2015-10-29 11:19] bings commented on #10294
@cpuguy83 Overlayfs does not work with ext4, too, neither with the official 1.7.1 version supplied by CentOS, nor with the latest 1.8.3...

[2015-10-29 11:41] mradke opened #17483 "docs: archlinux installation instruction minor flaw"
In the installation instructions for Archlinux http://docs.docker.com/installation/archlinux/ it is advised, that you may install docker-git via `sudo yaourt -S docker-git`.
I think this should be changed to `yaourt -S docker-git`, since it is not recommended to run yaourt as root. Additionally it will ask for root priviledges when it needs them.

[2015-10-29 11:41] GordonTheTurtle commented on #17483
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-29 12:03] Maximus5 commented on #13817
Here is a [patch](https://github.com/Maximus5/docker/commit/fee2b85928e3a04f9b419077f6ff99e055a3dec4) and [test  binary](https://github.com/Maximus5/docker/releases/tag/v1.8.3-conemu-test1) for a problem.

[2015-10-29 12:08] jeremyeder commented on #15256
Create 2500 containers :-)

[2015-10-29 12:16] unclejack commented on #15256
#11529 might be worth looking at if you want to improve things. Implementing #11529 would fix a lot of problems.

[2015-10-29 12:29] kjozsa commented on #10294
@cpuguy83 it's not a user error, the overlayfs is on ext4, it's not mounted over anything else and yes, it plain fails on RHEL7.1. It's a shame, yeah.

[2015-10-29 12:36] piranna opened #17484 "Support cpio archive format"

[2015-10-29 12:36] GordonTheTurtle commented on #17484
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-29 12:36] piranna commented on #17484
Allow to use cpio(.gz) files to initialice a docker container. Besides the file format, the behaviour would be the same as with tar files.

[2015-10-29 12:39] cpuguy83 commented on #10294
@kjozsa Please check the things I mentioned, paste the output of `docker info`, paste `/proc/mounts`

@bings overlay works just fine on ext4 unless something is seriously wrong.

[2015-10-29 12:45] cpuguy83 commented on #17470
`-v /host/path:/container/path` does not copy data.
`-v /container/path` will copy data.
The 2nd form is equivalent of `VOLUME /container/path` in a Dockerfile.

[2015-10-29 12:45] #17470 closed

[2015-10-29 12:46] kjozsa commented on #10294
@cpuguy83 sorry man, I migrated to btrfs meanwhile and now it seems to run correctly. I have a live system to support here so rolling back just for the check is currently not an option.

If the `docker info` output from the btrfs setup helps anything, here it is:
    # docker info
    Containers: 19
    Images: 270
    Storage Driver: btrfs
    Execution Driver: native-0.2
    Logging Driver: json

[2015-10-29 12:49] kjozsa commented on #10294
@cpuguy83 btw check this comment on testing overlay over ext4: https://github.com/docker/docker/issues/15668#issuecomment-132780292

This test fails on this RHEL and succeeds on my Archlinux box.

[2015-10-29 12:53] cpuguy83 commented on #10294
Ok, so something seems broken on CentOS/RHEL with overlay, got it.

[2015-10-29 12:56] piranna commented on #14022
I've got this same problem on Ubuntu 15.10 both with Docker 1.6.2 and latest 1.8.3. I'm trying to initialice a Docker container with a tar file of NodeOS using `import - barebones < out/latest` and get

[code]

I'm not fully sure if it's related, but the tar file is converted from a `cpio` file generated with Linux kernel `gen_init_cpio` by using [tar-stream](https://github.com/mafintosh/tar-strea

[2015-10-29 13:15] gauravbhandare commented on #17317
I tried to do some configuration changes as mentioned in https://github.com/docker/distribution/issues/397 and got this working for docker 1.7.1 and below. For docker version 1.8.2 its still failing. Also tried the same with 1.9 rc but issue persists. Image exists in V2 registry with latest tag.

Nginx access logs when tried with docker 1.7.1
[code]

Nginx access logs when tried with docker 1.8.3

[2015-10-29 13:21] charlesg3 commented on #17461
[code]

[2015-10-29 13:35] cpuguy83 commented on #17477
I think plugins is doable, but will require some extra work to implement due to passing around execdriver pipes.

[2015-10-29 13:35] jperville opened #17485 "Starting docker service before remote filesystems are mounted breaks container bind-mounts"
# Description of problem

The docker service starts before remote filesystems are mounted on the host. Upon restart of the host, containers may start with broken volumes and the data from the remote filesystem won't be available from within those containers.

The fix: modify the `/etc/init/docker.conf` file to `start on (filesystem and net-device-up IFACE!=lo)` instead of `start on (local-filesyst

[2015-10-29 13:37] jperville commented on #17485
Please also note that the remote file system may not even mount at all after the reboot in the following case:
 - the containers create files on what they think is the remote volume (but is actually the mountpoint directory on the host)
 - the operating system tries to mount the remote filesystem on the mountpoint but gives up because the mountpoint directory is not empty (the container just creat

[2015-10-29 13:43] charlesg3 commented on #17461
I'm not entirely positive that the above post is the correct log. That came from an upstart folder, however this docker has been started using systemd ... after removing the previous logfile and restarting the docker daemon I can't seem to find the new logfile (?).

[2015-10-29 15:20] tophj-ibm commented on #17483
Looks like it's already fixed in the repo via e9c64b6d99f23ca2ad6a755952fd9d5bcf63e19c and the website hasn't updated yet.

[2015-10-29 15:23] vbatts commented on #14022
@piranna can you test with the docker 1.9 release candidate?

[2015-10-29 15:33] CBR09 opened #17487 "Docker container not control network namespace after restart."
Hi all,

Currently, I want to able create net namespace in container. I've tried with:
[code]
and can control (create,exec,..) net namespace.

[code]

But when I've restarted container: these previous net namespaces (blue) cannot control anymore, and it lost read permission.

[code]

Any idea to fix it?

[code]

[code]

Thanks all.

[2015-10-29 16:20] piranna commented on #14022
Same problem with Docker version 1.9.0-rc3, build 2100b94

[2015-10-29 16:35] mradke commented on #17483
Awesome. I'll close this issue. :+1:

[2015-10-29 16:35] #17483 closed

[2015-10-29 16:53] jfrazelle commented on #17379
we arent hardcoding the versions it uses whatever is the norm for the distro version https://github.com/docker/docker/blob/master/hack/make/.build-rpm/docker-engine.spec#L48 so there is not much we can do afact but im sure @vbatts knows more or a hack or anything i dont haha

[2015-10-29 17:49] tomdee opened #17494 "Can't fetch IP of container on RC3"
[code]

[code]

[code]

[2015-10-29 17:51] askb commented on #17168
The main issue here is the way `ErrNoSupport` or `discardNoSupportErrors` is being handled in `graph/pull.go:Pull()`. The docker client first sends a v2 pull request which fails with "no disk space error", this error is stored in `lastErr` var, on failure the error message is not returned to the client, instead v1 pull is attempted on the docker daemon which results in an error. Therefore the var

[2015-10-29 17:54] chasebolt commented on #17379
to add to the dump above

version installed `device-mapper-libs-1.02.84-14.el7.x86_64`
version that works `device-mapper-libs-1.02.93-3.el7_1.1.x86_64`

[2015-10-29 17:56] srinikoganti commented on #15057
I ran in to the same issue. btrfs file system got corrupted. Mounting the volume, with btrfs file system, panics the system. I had to detach the volume ( in OpenStack) to make it boot.

I was running 4 Oracle databases in 4 containers having data files in 4 separate directories on  same "btrfs" file system.

Here is my environment.
-------------------------------------
2.6.32-573.3.1.el6.x86_64 #1

[2015-10-29 18:02] chasebolt commented on #17379
the centos docker.spec file has this for the minimum version `Requires: device-mapper-libs >= 7:1.02.90-1` (docker 1.7.1). im thinking we just stick in this requirement for centos.

[2015-10-29 18:06] tmds commented on #13817
Hooray! Thanks for fixing this @Maximus5
Can you send a pull request to the docker guys?

[2015-10-29 18:06] thaJeztah commented on #17429
Thanks @dunnock, and thanks for reporting!

[2015-10-29 18:06] aidanhs commented on #9299
@jfrazelle this isn't a duplicate, can you reopen?

#8755 is about a nasty issue to do with invalid file descriptor symlinks and mounting devpts, more fully discussed at #11462.

This issue is about an environment variable (`TERM`) differing inside docker exec depending on whether you initially started the container with `-t` or not.

[2015-10-29 18:10] thaJeztah commented on #17432
@SurabhiBorgikar oh, that's unfortunate; I think I've seen using quotes `'` worked in other cases.

[2015-10-29 18:16] Maximus5 commented on #13817
They demand real signer name. Aliases are not acceptable. The contribution rules say.

[2015-10-29 18:16] vikstrous commented on #17474
I can't reproduce this anywhere any more. I have no idea what it was.

[2015-10-29 18:21] bings commented on #10294
@cpuguy83 just did - once again - a retest for you ;) plain new install of CentOS 7.1, partitioned with ext 4, yum update, installed CentOS provided docker 1.7.1, changed /etc/sysconfig/docker to have "-s overlay", docker info and error output see in attached screen shot... now you?
<img width="1280" alt="docker-overlay-fail" src="https://cloud.githubusercontent.com/assets/1931810/10827983/328b02d

[2015-10-29 18:22] jhowardmsft commented on #13817
@Maximus5 Do you want me to submit your patch (and sign it), and reference you on the PR?

[2015-10-29 18:22] StefanScherer commented on #15775
@swernli Thanks for the PR, I've just tested it with latest nightly build

[code]

And adding a deep node_modules tree works fine!
I'll close this issue.

[2015-10-29 18:22] #15775 closed

[2015-10-29 18:24] j16sdiz commented on #16755
@coyotwill busybox have (almost) all files in /sbin /bin and /usr/bin hardlinked to the same binary.
you can check the number of hardlink  with `stat(1)` command.

[code]

[2015-10-29 18:25] Maximus5 commented on #13817
@jhowardmsft Yes, it's OK for me.

[2015-10-29 18:27] donhcd commented on #17464
I changed the flags to `-s devicemapper -D` and ran `sudo systemctl stop docker && sudo systemctl start docker`. The start did not hang and appeared to succeed, but looks like the daemon immediately died after starting. Logs:

[code]

I'll try this from a fresh install and see what I get then

[2015-10-29 18:39] donhcd commented on #17464
okay, from a fresh vm, I ran:

[code]

the behavior was the same as above, and the logs returned by `journalctl` command seem to be the same:

[code]

[2015-10-29 19:12] vieux opened #17500 "docker network create default driver"
Before https://github.com/docker/docker/pull/16910

The docker cli sent "" as driver, so engine was using bridge and swarm was using overlay if `-d` wasn't specified.

After https://github.com/docker/docker/pull/16910

The docker cli always send "bridge" as driver, so it makes it impossible for swarm to know if a user specified "bride" or if it's the default.

I'd like to revert this behaviour.

[2015-10-29 19:12] GordonTheTurtle commented on #17500
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-29 19:13] vieux commented on #17500
ping @mavenugo @mrjana @dave-tucker

[2015-10-29 19:15] tiborvass commented on #17500
whoever sends PR to fix this, please add a test.

[2015-10-29 19:15] brian-dlee commented on #3182
@tomlux @rhvgoyal

I found the source of my issue. Despite how it appeared, it was unrelated to the issues in the thread. It's just stemmed from a misunderstanding with how docker worked. All, the dead containers were still holding on to the disk space they had allocated during their execution. I just had to remove all the container carcasses to free up the disk space. I do remember this coming up

[2015-10-29 19:27] WillPlatnick opened #17501 "Unable to create users in ubuntu container when running with --net host"
Docker: 1.8.3
OS: Ubuntu 14.04 x64
Kernel: 3.13.0-66
Baseimage: ubuntu

#docker run -i -t --net host ubuntu adduser --system --quiet --home /var/lib/postgresql --no-create-home             --shell /bin/bash --group --gecos "PostgreSQL administrator" postgres
chfn: PAM: System error
adduser: `/usr/bin/chfn -f PostgreSQL administrator postgres' returned error code 1. Exiting.

#docker run -i -t --ne

[2015-10-29 19:27] GordonTheTurtle commented on #17501
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-29 19:28] cnuernber commented on #17461
Here is the output from docker-machine env:
[code]

[2015-10-29 19:34] cnuernber commented on #17461
Note:
[code]
in the above log output.

[2015-10-29 19:43] cpuguy83 commented on #17461
Then it sounds like this should be in github.com/docker/machine?

[2015-10-29 20:00] charlesg3 commented on #17461
https://github.com/docker/machine/issues/2119

[2015-10-29 20:01] charlesg3 commented on #17461
Closing for now while we look into the `docker-machine` issue.

[2015-10-29 20:01] #17461 closed

[2015-10-29 20:05] odigity commented on #16651
In what version?  I'm on 1.8.3, and --format '{{.Name}}' errors out.

[2015-10-29 20:23] coyotwill commented on #16755
Thanks for your answer @j16sdiz
But I'm still wondering how this limit is calculated. Because I was able to pull and run the exact same image a few days ago. And now I can't even pull it anymore.
I also tried to remove old versions of the image from the local registry and it didn't help either.

[2015-10-29 20:35] calavera commented on #17500
working on it.

[2015-10-29 20:41] thaJeztah commented on #15496
@Random-Liu while I agree this could be useful, it won't help in your case, because this needs an update of Docker, so you'll have to restart your containers anyway (because of updating the daemon)

There's an open PR to implement a "set" command, which would allow updating properties of a running container, but it has not been decided on yet; https://github.com/docker/docker/pull/15078

[2015-10-29 20:45] #17449 closed

[2015-10-29 20:45] #17465 closed

[2015-10-29 20:51] crosbymichael commented on #17443
this kernel bug seems to be related when the hairpin nat is enabled, which is not the docker default

[2015-10-29 20:55] calavera commented on #17500
Take a look at #17504.

[2015-10-29 21:03] adriancole opened #17506 "Retry push on 500?"
It is a fairly regular occurrence to have 500 errors doing a docker push. Like this:
`Received unexpected HTTP status: 500 Internal Server Error`

Not sure if they are always 500s, but this happens every few releases.

I'm wondering if status quo is best (external retries based on docker status) or if it makes sense to allow a retry policy or flag. Thoughts?

[2015-10-29 21:03] GordonTheTurtle commented on #17506
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-29 21:23] divyakumarjain opened #17507 "Running a command only once when new container is created"
Would like to propose a feature to be able to run a command only once when new docker container is started from an image. The use case can be database initialization using DDL only once. i know DDL scripts can be written in a way that it does not clean up old data. But we have an app were we use Apache ant scripts to run DDL and thus we do not have full control over DDL or ant script to modify the

[2015-10-29 21:23] GordonTheTurtle commented on #17507
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-29 21:35] donhcd commented on #17464
I found #11135, so I tried removing the `-H fd://` flags (they were there by default) and that got rid of the "No sockets found" error. Now, the startup logs look like this:

[code]

Then I tried some `docker run` commands, which all seemed to be hanging. I let one command run extra long and finally the engine pulled busybox and things worked mostly as expected:

[code]

coming back to the daemon

[2015-10-29 21:41] StefanScherer opened #17509 "Building Windows Docker images doesn't work as well as in previous versions"
Description of problem:

Building Windows Docker images doesn't work as well as in previous versions.

`docker version`:
[code]

`docker info`:
[code]

`uname -a`:
[code]

Environment details (AWS, VirtualBox, physical, etc.):
Windows 2016 TP3 Build 10514 with latest Windows updates running in VMware Fusion 7.1.2 on a MacBook Pro El Capitan 10.11.1

How reproducible:

Building a Node.js 4.2.1 Dock

[2015-10-29 21:42] phemmer commented on #17507
See #17235

You can do this through `docker events`, or with an entrypoint script.

[2015-10-29 21:55] StefanScherer commented on #17509
The problem is not the download of the msi file. I got another Dockerfile which just copies a file within the image into the new WORKDIR.

[code]

Building the image worked fine.

[code]

But when running it with

[code]

the app.js could not find the config.ini in the current directory. After some investigation I found a workaround by replacing the command from the Dockerfile with

[code]

and th

[2015-10-29 22:12] thaJeztah commented on #16651
This has been fixed in https://github.com/docker/docker/pull/16153, and the docs website will be updated together with the 1.9 release.

@odigity the placeholder is actually `Names` (plural)

[2015-10-29 22:12] #16651 closed

[2015-10-29 22:19] Random-Liu commented on #15496
@thaJeztah Good point! Thanks very much, :) We should consider some other solutions indeed.

However, this feature will still make it easier for us to manage containers, hope to see this in future docker release one day, :)

[2015-10-29 22:22] cnuernber commented on #17461
agreed, we will move the discussion there.

[2015-10-29 22:28] thaJeztah commented on #15496
@Random-Liu true, the discussion is currently whether we want to allow having containers be "mutable" and if so, which properties we want to allow being mutable. Those decisions should not be taken lightly, because they can have quite some impact.

[2015-10-29 22:38] aanm commented on #15496
@thaJeztah properties being mutable should be easier than containers themselves, no?

[2015-10-29 23:20] Random-Liu commented on #15496
@thaJeztah If container label is immutable, we may meet some other questions in the future. For example, if we want to add a container label in new version of the system, we have to restart all the old containers. It is really wired. I believe this kind of occasions will not only happen to us. :)

Wait for the good news! Thanks for your help, :)

[2015-10-29 23:49] ikitayama commented on #16715
Just wanted to let the Community know, using the docker aarch64 packages as listed
here (Go 1.5 based build):

http://arm.koji.fedoraproject.org/koji/taskinfo?taskID=3257125

, I am again able to commit to the repository. Tested on real hardware APM Mustang.

[2015-10-29 23:53] cpuguy83 commented on #17464
Looks like devicemapper is the culprit in the long startup:

[code]

[2015-10-29 23:56] cpuguy83 commented on #17506
I think it's a bit weird to get 500 on push and relatively trivial to re-attempt on failure from your code.

If you are seeing many 500's, then please report to https://support.docker.com

Thanks!

[2015-10-29 23:56] #17506 closed

[2015-10-30 00:01] crosbymichael commented on #17387
ping @ibuildthecloud any news ?

[2015-10-30 00:06] cpuguy83 commented on #17494
It's correct that you don't get the IPAddress in NetworkSettings's root anymore, unless you use an earlier API version.

What's a bit off is the error that is thrown.

[2015-10-30 00:07] cpuguy83 commented on #17494
Actually looking at it, I think the error is correct to.

[2015-10-30 00:09] cpuguy83 commented on #17494
@tomdee Can you explain what the issue is?
The IPAddress is in the "Networks" -> <network name>

[2015-10-30 00:14] cpuguy83 commented on #17507
Yes, do this in a separate container.
Don't try to init the DB in the same container that you are actually running your app.
When you need to init the db, init it, when you don't, just run your container.

[2015-10-30 00:14] #17507 closed

[2015-10-30 00:15] vbatts commented on #14022
@piranna how can i easily reproduce the steps you're doing?

[2015-10-30 00:16] calavera commented on #17494
The error is correct. IPAdress doesn't leave in the main `NetworkSettings` struct anymore because there can be more than 1 addresses attached to the container.

You can get the old struct if you send requests to the previous version of the api, inserting `/v1.20` at the beginning of the request path. If you want to get the IP in the new api you have to know the name of the network you want to chec

[2015-10-30 00:17] cpuguy83 commented on #17501
This is a dup, and not really a Docker issue in particular.
`--net=host` means you are the host network stack, and due to that this can cause issues with pam.

[2015-10-30 00:17] #17501 closed

[2015-10-30 00:20] calavera commented on #17494
To clarify, because I know this is confusing as hell, this functionality was removed between RC2 and RC3. We weren't displaying all the networks a container was connected, but only the last one it was attached too. This was consider a bug because it's very inconsistent, you only were getting the right address because the last network was attached to was calico's. But that behavior was very fragile

[2015-10-30 00:22] calavera commented on #17494
@tomdee do you mind closing this issue? I know this cannot sound like the solution you expected, but it's not a bug.

[2015-10-30 00:36] piranna commented on #14022
The easiest way is to try to use the generated tar file, you can download it from https://dropfile.to/ZGsPn (link expire in 24 hours).

The long path would be generate a cpio file with some symlinks using the `gen_init_cpio` tool included in the Linux kernel and later convert it to a tar file using `cpio-stream` and `tar-stream` modules, for example with a script like [cpio2tar](https://github.com

[2015-10-30 00:37] #17500 closed

[2015-10-30 00:40] piranna commented on #14022
By the way, I'm trying to create a container filesytem from that tar file using `docker import - barebones < barebones.tar`, if that matter.

[2015-10-30 00:46] hut8 commented on #14489
I just had the same issue a few minutes ago on Arch. The official Docker package for Arch does install `bridge-utils`, but then you need to reboot to load it.

[2015-10-30 00:47] bmangold commented on #17494
Probably most people want this:
`docker inspect --format '{{.NetworkSettings.Networks.bridge.IPAddress}}' container_name`

Note: this assumes you are running bridge and have one network (simple defaults).  Please be aware of @calavera has said.

[2015-10-30 00:56] mavenugo commented on #17413
it took some effort to reproduce and identify the root-cause. But I think we found the root-cause and a fix for this issue. this particular issue is caused by the fact that the etcd is installed in the same host as the docker daemon and a ungraceful docker daemon restart (due to the host restart).

we have a fix for this case and will push it tonight that must solve the issue. But since the store

[2015-10-30 00:59] cpuguy83 commented on #17482
Yes, we don't wire up the hostnames.
There is another issue for that somewhere...

[2015-10-30 00:59] #17482 closed

[2015-10-30 01:02] thaJeztah commented on #17494
@calavera @tiborvass I probably won't make myself popular suggesting, but should we keep the "old" top-level information around for the 1.9 release (if a container is using "bridge")? I suspect this is going to trip a lot of people. I.e., if a container uses the bridge network, have the information in both places; as a top level, and inside the "networks" list. idk, just thinking out loud here. We

[2015-10-30 01:12] bmangold commented on #17494
[+1](https://github.com/search?q=.NetworkSettings.IPAddress&type=Code&utf8=%E2%9C%93)

[2015-10-30 01:15] tiborvass commented on #17494
@thaJeztah no, sorry but it doesn't make sense. What we should do is document better the API change in the changelog, and possibly in the api docs too. I'm closing this.

[2015-10-30 01:41] FelikZ commented on #14035
@fjmk thanks, aufs and removing devicemapper helps!

[2015-10-30 01:55] jhowardmsft commented on #13817
Unfortunately this patch is against 1.8.x. With current master, I'm not sure how to implement ConEmuStreams() - the code is quite different.

[2015-10-30 05:14] askb opened #17516 "docker command hangs when detaching with ctrl+p+q when --rm flag."
docker command does not respond while exiting using `<ctrl+p>` and `<ctrl-q>` and when container is run with `--rm` flag.

[code]

uname -a:
Linux srv-vm 3.13.0-65-generic #105-Ubuntu SMP Mon Sep 21 18:50:58 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
Provide additional environment details (AWS, VirtualBox, physical, etc.):

List the steps to reproduce the issue:
1. docker run --rm -it ubuntu:14.04 ba

[2015-10-30 05:30] tmds commented on #13817
@jhowardmsft That's indeed unfortunate.
Looks like things changed mostly in the commit you made here: https://github.com/docker/docker/commit/c923774c41678e4044081a87ec5841173d9577e7
Can you figure out how make it work in the new code? Perhaps you can re-use some of the code which got removed and plug in what @Maximus5 wrote.

[2015-10-30 07:35] WeiZhang555 commented on #17477
@cpuguy83 Yes, I concur, this may require some more work besides exec driver plugin, but I think it's worth.
As I know that you are planning to make engine "directly call out to a binary implementing the Open Containers Specification such as runC ", please consider to add a plugin support for exec driver at the same time, this is really useful for who wants to use docker's UX with other OCI-compat

[2015-10-30 07:38] WeiZhang555 commented on #17477
And I will be glad to help if this feature is accepted, looking forward to that day. :smile:

[2015-10-30 07:55] albers opened #17519 "align output of `docker network inspect` with other inspect commands"
In #17481, a problem in the current implementation of `docker network inspect`surfaced:
The output has all keys lowercased, e.g. `name`, `id`. This is not in line with the output of the other inspect commands, that use capitalized keys, e.g. `Id` and `Name`.

This is confusing. In all outputs, IDs should be `Id` and names should be `Name`.
This also complicates the implementation in #17481.

Therf

[2015-10-30 07:55] GordonTheTurtle commented on #17519
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-30 07:59] albers commented on #17519
Is it possible to address this in 1.9, before the problematic API is released?

[2015-10-30 08:00] vdemeester commented on #17519
@albers Thanks for creating this issue :heart_eyes_cat:.

/ping @tiborvass on the question :wink:

[2015-10-30 08:00] albers commented on #17519
I do not think it is an enhancement as it is a breaking api change. I see it as a bug.

[2015-10-30 08:01] vdemeester commented on #17519
@albers true, putting question and bug then :sweat_smile:

[2015-10-30 08:01] albers commented on #17519
Thanks, Vincent!

[2015-10-30 08:14] Maximus5 commented on #13817
The patch for current master branch is [here](https://github.com/Maximus5/docker/commit/635583f629e46eaa413baac87f85986112557fe0).

`docker.exe` compiled successfully, but I can't check it, because have no idea how to build new boot2docker virtual machine.

[2015-10-30 08:29] lucasvc commented on #13817
@Maximus5, I tested a litte bit the [`v1.8.3-conemu-test1`](https://github.com/Maximus5/docker/releases/tag/v1.8.3-conemu-test1) binary and seems to work fine :) Thanks!

If you can generate the binary for master, I can test it against a docker 1.9.0 server.

[2015-10-30 08:42] Maximus5 commented on #13817
Here it is [v1.9.0-conemu-test1](https://github.com/Maximus5/docker/releases/tag/v1.9.0-conemu-test1).

[2015-10-30 09:21] thaJeztah commented on #13817
For those wanting to test it, release candidates for docker toolbox 1.9 can be found here; https://github.com/docker/toolbox/releases

[2015-10-30 09:52] transonly commented on #15692
The solution provided by deshka did it for me. Thanks!

[2015-10-30 09:57] dperson commented on #7952
@rhatdan If OverlayFS isn't working with docker + SELinux, is the only way to run them together on top of devicemapper/thinp? I'd like to have SELinux enforcement around Docker. Thanks.

[2015-10-30 09:59] thaJeztah commented on #17519
Yes, I agree, but I'm not sure there's still time to get it in 1.9 :cry:

[2015-10-30 10:03] netmikey commented on #15692
The backport repo did the trick. I think docker should fix that dependency though. If they clain wheezy compatibility, it shouldn't actually mean "wheezy with backport repo".

[2015-10-30 10:08] thaJeztah commented on #17519
/cc @mavenugo was there a reason to explicitly make all the networking API structs lowercased?

[2015-10-30 10:18] thaJeztah commented on #17474
@vikstrous should we close this one if you're no longer able to reproduce?

[2015-10-30 10:26] albers commented on #17519
If we don't get it in, the release notes and API docs should mention that the JSON is not stable yet.

[2015-10-30 10:29] thaJeztah commented on #17305
@tiborvass not sure where we should add this to the documentation, but would it be good to mention in the release notes?

[2015-10-30 10:30] thaJeztah commented on #17519
I'll add it to the milestone, just so that it doesn't get overlooked

[2015-10-30 10:32] thaJeztah commented on #17448
ping @vbatts @rhvgoyal

[2015-10-30 10:38] sebglon opened #17520 "Docker remote API with TLS not work on auto signed CA"
I followed the site https://docs.docker.com/articles/https/
but at the end , docker --tlsverify ps  return an erro
[code]

If i test the same URL with CURL:
curl https://xxxxx/images/json   --cert ~/.docker/cert.pem   --key ~/.docker/key.pem   --cacert ~/.docker/ca.pem

it return Json info.

How can i use TLS conf with auto signed CA?

[2015-10-30 10:38] GordonTheTurtle commented on #17520
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-30 10:45] Kanshiroron commented on #17022
Hello everybody,
Sorry for the late answer.
The problem has been fixed, tested on Docker version 1.9.0-rc3, build 2100b94 on both sides.

But I was able to reproduce it if I import the image (created with the rc3 on AUFS) on a older Docker version (1.8.3, build f4bf5c7) on a BTRFS filesystem. I thought the bug was on the AUFS side, isn't it?

Thanks,
Best

[2015-10-30 11:26] thaJeztah commented on #17264
Hi @PeterGrace, thanks for reporting. Are you able to reproduce this on the current version of docker and CentOS 7.x? The problem here is that we ended support for CentOS/RHEL 6.x with Docker 1.8 and Docker 1.7 will no longer receive patch updates. If you're still able to reproduce this on the current release (and a supported platform), we can investigate this.

[2015-10-30 11:49] thaJeztah commented on #17520
What is the exact command you're using for `docker ps`? I think you'll have to set all options here, e.g. something like;
[code]

Or set the environment variables `DOCKER_TLS_VERIFY`, `DOCKER_HOST`, `DOCKER_CERT_PATH`

There may have been made some changes to that document, that are not yet visible on the website, so it may be worth trying the latest version on GitHub; https://github.com/docker/do

[2015-10-30 11:49] Maximus5 commented on #13817
@thaJeztah How? Latest available 1.9.0-rc3 still has API version 1.21. But master branch is now 1.22.

[2015-10-30 11:53] thaJeztah commented on #13817
@Maximus5 o, you're right the API-version in the repository was bumped when the RC was created. There's actually an issue open to allow overriding the version, see https://github.com/docker/docker/issues/11486 and https://github.com/docker/docker/pull/15964, but that doesn't solve it for now :/

[2015-10-30 11:59] thaJeztah commented on #17439
@fauzanariffin @tophj-ibm thanks for reporting, and correct, I tested this morning and this has been fixed; the docs.docker.com website will be updated together with the 1.9 release.

Thanks again! I'm going to close this issue because this has been fixed, but feel free to comment here after I've closed the issue :+1:

[2015-10-30 11:59] #17439 closed

[2015-10-30 12:21] lucasvc commented on #13817
I found it too ^^', but [binaries from here](https://master.dockerproject.org/) are API 1.22.
But,.... not working :(
This is the trace, doing `docker exec -ti <container> bash`:
[code]

[2015-10-30 12:25] Maximus5 commented on #13817
How to get proper boot2docker?

[2015-10-30 12:27] rhvgoyal commented on #17448
@AndyBerman  Can we try couple of things to narrow it down a bit.

- Can you try any other storage graph driver (say -s overlay) and see if you notice the same degree of slowness. Don't compare devicemapper and overlay. Just compare the performance of overlay between 1.8 and 1.9 and see if there are changes. I am trying to figure out if this slowness is due to devicemapper or some changes in gener

[2015-10-30 12:28] vladgabriel commented on #13817
Can't you just update the docker binary inside the boot2docker image?

[2015-10-30 12:29] lucasvc commented on #13817
If you can access VirtualBox filesystem, you can change the `/usr/bin/docker` binary with [this one](https://master.dockerproject.org/linux/amd64/docker).
I can't tell you how to access the virtual machine, as I don't use boot2docker :(

[2015-10-30 12:38] sebglon commented on #17520
I have tested with twice
[code]
and ```DOCKER_TLS_VERIFY, DOCKER_HOST```

But my Docker server is under nginx proxy and i hve made the same pem file on my nginx
i followeb this site: http://blog.james-carr.org/2013/10/30/securing-dockers-remote-api/

[2015-10-30 12:40] rhvgoyal commented on #17464
I think it is slow xfs initialization on 100G device for a thin pool which  is on top of loop devices. We have noticed the instances of systemd timing out and as a stop gap measure, increasing systemd timeout from 90 seconds to 5 minutes.

Can you try passing option `--storage-opt dm.basesize=10G` to daemon command line and see if problem is resolved.

[2015-10-30 13:02] phemmer commented on #17516
This is happening because `docker run --rm` is a client side option. So when you `CTRL+P` `CTRL+Q`, you're detaching, so that no further IO is passed between the client and container, but the client still has to wait for the container to exit so that it can remove it. The container is not actually hung. It's still running normally, you're just not seeing the output.
When you `CTRL+C` the client at

[2015-10-30 13:04] thaJeztah commented on #17520
In order not to complicate things, I really suggest to get it running without using a proxy first, and work from that.

Please keep in mind that the github issue tracker is for reporting bugs, feature requests and pull requests, and not a general support forum. This question is probably better asked in the #docker IRC channel, or the Docker-Users mailing list on Google groups

[2015-10-30 13:08] runcom commented on #8755
@cyphar are you still working on nsexec to mount pts in exec?

[2015-10-30 13:15] thaJeztah commented on #17516
Thanks for the extensive answer, @phemmer!

Does this answer your question, @askb?

[2015-10-30 13:17] Evalle commented on #17326
#dibs

[2015-10-30 13:17] thaJeztah commented on #17516
btw, that is a nice way of handling the remove, @phemmer; if we ever create a tips & tricks section in the documentation, remind us of including that!

[2015-10-30 13:22] thaJeztah commented on #17509
ping @jhowardmsft; you're probably interested in this one

[2015-10-30 13:43] ibuildthecloud opened #17521 "Proposal: API version 1.110"
This may seem silly, but I'm going to throw this out there and maybe somebody will have a better idea.  I have to support Docker versions 1.6 to current.  So our code base gets a bit hairy because we use API 1.18 for the most part and then in places where we need new functionality we switch to the right API version, like 1.20.  This really hurts my head.  Docker 1.6 is API version 1.18, 1.7=1.19,

[2015-10-30 13:43] GordonTheTurtle commented on #17521
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-10-30 13:49] cpuguy83 commented on #17469
Thanks, for sure the list handling was wrong in go-md2man.
Have a fix for unordered lists... ordered lists seem to be a bit weird... I think the markdown parser is not parsing them correctly, but still investigating.

[2015-10-30 13:59] phemmer commented on #17521
Pulling from discussion in #16764

Why are they not the same? Why does docker 1.9.x not use API 1.9?
* API version would never be ahead of docker version, as changing the API requires changing docker itself.
* If the API doesn't change between docker versions, the API can keep the older version number. E.G. Docker 1.9.0 could use API 1.8.0.
And would this really ever happen? Would there ever be a

[2015-10-30 14:07] thaJeztah commented on #17484
Is this for docker import/export, save/load?

[2015-10-30 14:09] thaJeztah commented on #17238
I think this would depend on the registry / index supporting this, not docker

[2015-10-30 14:18] rhatdan commented on #7952
Yes currently the only solution is devicemapper/thinp.  We have a patch to support SELinux and BTRFS

https://github.com/docker/docker/pull/16452

We are real close to getting overlayfs with SELinux support(Although we have been real close for months) :^(

[2015-10-30 14:21] AndyBerman commented on #17448
We tested 3 times for overlay and devicemapper for 1.8 and 1.9

There was a very slight slowdown from overlay for Docker 1.8 to overlay for Docker 1.9
There's more of a slowdown from devicemapper for Docker 1.8 to devicemapper for Docker 1.9

Bottom line is that overlay is much faster than devicemapper for Docker 1.8 and especially 1.9

-------------------------------------------------------------

[2015-10-30 14:26] thaJeztah commented on #16653
@rhvgoyal perhaps you can have a look at https://github.com/docker/docker/pull/17486, it's a WIP for improvements around the docs for storage drivers; perhaps that tool should be mentioned in the docs as well, wdyt?

[2015-10-30 14:28] rhvgoyal commented on #17448
@AndyBerman I did some testing on F22. Tested docker 1.9 and 1.8 with devicemapper driver. Ran `time docker run busybox date` and I don't see that 400% slowdown.

Docker 1.8
---------------
$ time docker run busybox date
Fri Oct 30 14:20:16 UTC 2015

real    0m1.153s
user    0m0.029s
sys     0m0.033s

$ time docker run busybox date
Fri Oct 30 14:20:20 UTC 2015

real    0m1.373s
user    0m0.029s
sy

[2015-10-30 14:28] jhowardmsft commented on #17509
Is node a .exe or a .cmd file? In the exec form, 'node' will no longer be launched from a shell. This is consistent with the Linux implementation and was a bug recently fixed. If a .cmd, this is expected.

[2015-10-30 14:35] thaJeztah commented on #16510
ping @dmcgowan @endophage perhaps you could have a quick look

[2015-10-30 14:36] vbatts commented on #14022
I'm going to say this is an issue with the tooling before it ever reaches docker.
[code]
That is GNU `tar` failing on the archive you provided.

[2015-10-30 14:37] StefanScherer commented on #17509
@jhowardmsft It is a `node.exe` that should be available in PATH environment after the installtion and is normally in `C:\Program Files\nodejs\node.exe`, but running a container with an image created with the first Dockerfile in the description above has shown me that the complete installation directory `C:\Program Files\nodejs` is missing.

Is there anything I can help to send more details/trace/

[2015-10-30 14:37] everett-toews commented on #14474
Has anyone had any luck removing these dead containers without having to upgrade/downgrade their Docker/kernel version?

Seeing this on ...

[code]

[2015-10-30 14:45] mavenugo commented on #17519
@thaJeztah @albers @tiborvass this was to be consistent with the experimental REST APIs for network API which was all lower-case :(. In the experimental version, the entire UX was handled by libnetwork while the router was hooked from docker side.
I will let the other maintainers decide on the way forward.

[2015-10-30 14:46] rhvgoyal commented on #16653
@thaJeztah I think mentioning docker-storage-setup in docker docs is a good idea. It should help people setup lvm thin pool relatively easily. (Better then reading `man lvmthin` and doing it yourself).

[2015-10-30 14:47] huikang commented on #17355
@ibmcb, comment?

[2015-10-30 14:50] Evalle commented on #17326
Hi, info was added in https://github.com/docker/docker/pull/17523
Happy Halloween! :jack_o_lantern:

[2015-10-30 14:53] askb commented on #17516
@phemmer thanks for update. As mentioned I am unable to reproduce application hang presently, which can be ignored for this issue. The issue is more to do with the usability of the command and may not be related to the container or daemon.

Yes, Its ok and expected as the container does not get removed, as its the whole purpose of using `CTRL+P+Q`, to detach from the running container. It best to

[2015-10-30 14:55] kversl commented on #9592
possibly the quickest solution is to add a line into your

               /etc/apt-cacher-ng/acng.conf

                Allow data pass-through mode for certain hosts when requested by the client
                using a CONNECT request. This is particularly useful to allow access to SSL
                sites (https proxying).

(this hint is also noted in goodwillcoding's reference)

[2015-10-30 14:58] robdaemon commented on #17413
Awesome! I can influence etcd to shutdown after docker using upstart, which will help with that. I'll test this out as soon as #17514 gets merged in.

[2015-10-30 14:59] exarkun commented on #13088
Any further thoughts on this?

[2015-10-30 14:59] tmds commented on #17238
I am not sure what you mean by 'docker'.
I am requesting a feature to be provided by the docker executable. As a user, I don't care whether the filtering happens on the registry server or on my local system.
Doing it on the registry can reduce the data sent to the client.
Doing it on the client can probably work with the existing registry API.