[2015-06-24 19:10] GordonTheTurtle commented on #14164
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-24 19:14] vieux opened #14165 "formatting issue on the fedora install docs"
See https://docs.docker.com/installation/fedora/

![screen shot 2015-06-24 at 12 11 24](https://cloud.githubusercontent.com/assets/1032519/8339170/7a0a9f02-1a6a-11e5-8361-a9101b8374dd.png)

[2015-06-24 19:14] GordonTheTurtle commented on #14165
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-24 19:25] erikthered commented on #14164
Using docker inspect yields the following _State_ block:

[code]

Whereas, _docker inspect -f '{{.State.FinishedAt}}'_ yields:

[code]

Filtering on just _.State_ has the same issue.

[2015-06-24 19:35] squaremo commented on #13977
I suggest we continue discussion at PR #14143

[2015-06-24 19:49] ghost opened #14166 "Unable to run certain images - issue with supervisord"
# BUG REPORT INFORMATION

docker version:
Client version: 1.5.0
Client API version: 1.17
Go version (client): go1.4.1
Git commit (client): a8a31ef
OS/Arch (client): linux/amd64
Server version: 1.5.0
Server API version: 1.17
Go version (server): go1.4.1
Git commit (server): a8a31ef

docker info:
Containers: 9
Images: 230
Storage Driver: overlay
 Backing Filesystem: extfs
Execution Driver: native-0.

[2015-06-24 19:49] GordonTheTurtle commented on #14166
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-24 19:50] ferrouswheel commented on #14035
This hit us too after an apt-get upgrade. Ubuntu 14.04.2 LTS

Might be worth adding a note during the dpkg installation for 1.7. If system is already configured to use devicemapper, warn the user they'll break their install if they continue. Showing a link to a guide for how to force unsafe use of devicemanager, export, and then import into a new storage driver would be handy too.

[2015-06-24 20:05] nalind commented on #13697
My guess is that, if we were to call into PAM at all, it would be for implementing the password checking part of the Basic auth scheme at the server.

[2015-06-24 20:18] johnw188 commented on #14073
A bit more info - on the VM I'm working on right now it happens 13 minutes after the first request to an external ip address. Doesn't seem to matter how many requests are made, I've done one a second on one trial and one a minute on another, both die after around 13 minutes.

[2015-06-24 20:35] MalteJ commented on #11518
@jbenet I'd be excited to hear your use case :)

Regarding libnetwork roadmap @mrunalp probably has the best overview.

[2015-06-24 20:44] rloomba commented on #3285
+1

[2015-06-24 21:30] AlienOnEarth commented on #6980
I am also facing similar problem with Ubuntu host and centos container. Error:

Installed:
  systemd-libs.x86_64 0:208-20.el7_1.5

Dependency Installed:
  acl.x86_64 0:2.2.51-12.el7
  cryptsetup-libs.x86_64 0:1.6.6-3.el7
  dbus.x86_64 1:1.6.12-11.el7
  device-mapper.x86_64 7:1.02.93-3.el7_1.1
  device-mapper-libs.x86_64 7:1.02.93-3.el7_1.1
  fipscheck.x86_64 0:1.4.1-5.el7
  fipscheck-lib.x86_64 0:

[2015-06-24 21:34] AlienOnEarth commented on #6980
I am building centos docker container on ubuntu host. But I am also facing similar issues: Failed:
  systemd.x86_64 0:208-20.el7_1.5.

[2015-06-24 22:02] dbartow commented on #14115
I've also just noticed this.  Using the same `docker exec -it <container> bash --login` command I've been using for months now logs me in as root instead of the user specified in the Dockerfile.

[2015-06-24 22:41] bzz commented on #11646
@calavera sure. Docker is awesome piece of software, so thank you for your time spent on making it even better!
[code]
and the problem was actually very simple (and quite common, I assume) - an un-expanded env vars in the `-v` flag
[code]

The issue here is a misleading error message.

[2015-06-24 22:48] Stelminator commented on #14035
Just another anecdote:

I originally installed 14.04, and did a rather simple partition scheme at the time, so my whole drive is just etx4.  I've since upgraded through 14.10 to 15.04.  I am running a 4.0 kernel from http://kernel.ubuntu.com/~kernel-ppa/mainline/v4.0-vivid/, and have an install of docker from https://get.docker.com/ubuntu for easy compatibility with nvidia drivers.  I am trying to

[2015-06-24 22:57] SamSaffron commented on #10772
please please please...

[code]

is gonna go in our bash rc file :)

[2015-06-24 23:10] moxiegirl opened #14168 "journal.md file is missing metadata"
The journal.md file is missing metadata

[2015-06-24 23:10] GordonTheTurtle commented on #14168
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-24 23:13] calavera commented on #11646
@bzz I think your issue might be solved in 1.7, but it could need some improvements:

[code]

[2015-06-24 23:13] calavera commented on #11646
sorry, didn't want to close this issue. Daemon validations are still useful.

[2015-06-24 23:15] Stellaverse opened #14169 "Error from daemon: Cannot start container ... container already joined endpoint"
Hi folks,

I realize this issue has been reported using `--net=host`, but I'm having the same issue otherwise as well.

Install experimental version:
[code]

Docker Version:
[code]

Docker info:
[code]

uname -a
[code]

Create a network and run a container:
[code]

And then another:
[code]

And this is the resutant error:
[code]

Hope that helps narrow things down.

[2015-06-24 23:15] GordonTheTurtle commented on #14169
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-24 23:20] mavenugo commented on #14169
@Stellaverse this is as per design. A service can be backed by only 1 container. Hence if you try to create multiple containers with the sane service `--publish-service hello.srv`, its an invalid configuration. can you try to publish different service-name for these containers ?

[2015-06-24 23:24] Stellaverse commented on #14169
Well, that sucks. Guess I go back to Weave.

My use case (and I believe everyone's use case) is that I want to run multiple containers under the same service name (domain) and have my overlay/bridge network automatically balance load across all available containers at that endpoint, across my cluster.

If I have to supply a unique service endpoint for all containers I may as well stick with my `Us

[2015-06-24 23:24] #14169 closed

[2015-06-24 23:36] mavenugo commented on #14169
@Stellaverse We are trying to get user feedback for these experimental feature under #14083. Can you please add your comment in that PR ?

In general, the reason we designed for 1-1 service-backend mapping is to provide the flexibility for the user to choose their own favorite load-balancing solution (instead of docker platform prescribing one by default). As an example, you could have published a

[2015-06-24 23:46] aanand opened #14170 "/containers/create no longer accepts strings for Entrypoint"
This appears to be a regression in Docker 1.7.0: if a container's `Entrypoint` is specified as a string and not an array of strings, the Docker API returns an error, regardless of the API version specified. It seems to be adding quotes around the executable name, e.g. so it's searching for `"echo"` instead of `echo`.

Test script using docker-py:

[code]

Against Docker 1.6.2, the script runs fine

[2015-06-24 23:46] GordonTheTurtle commented on #14170
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-24 23:48] stevenschlansker opened #14171 "Exited container prevents image deletion, has 'ExitCode' and 'FinishedAt' but is not 'Dead'"
I have a zombie container, highlighted by this failure to remove an image:
[code]

Notice how the container is marked as `"ExitCode": 1, "FinishedAt": "...", "Dead": false`.

[code]

[2015-06-24 23:48] GordonTheTurtle commented on #14171
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-24 23:49] Stellaverse commented on #14169
I see your point, and I appreciate the composability, but I've already got the setup you describe without using `docker network` at all.

On each instance in my cluster I've got one container called Proxy (node http-proxy) listening on 80/443. All requests from the outside internet (my ELB) hit Proxy and then are routed to the appropriate internal endpoint (10.0.0.1:3001, 10.0.0.2:3002, 10.0.0.3:3

[2015-06-24 23:53] #14171 closed

[2015-06-24 23:55] Stellaverse commented on #14083
Hi folks,

I would like to see:

*Multiple containers on the same host published under the same 'endpoint domain'*
[code]
And running `curl http://hello.srv` from within any of the containers would be round-robin balanced across all available running containers.

* I would like to see this extended across an entire swarm, and x-dc too.
* I would also like to see same-host affinity tried first.

Th

[2015-06-24 23:56] mavenugo commented on #14169
@Stellaverse I understand your point as well. But the difference here is that `docker network` using the overlay driver is multi-host enabled. Hence the internal endpoints can be across multiple hosts still under the same network. Essentially a single service backed by the say haproxy container in the front-end network can essentially distribute the load across multiple backend endpoints across th

[2015-06-24 23:59] Stellaverse commented on #14169
Ah, so I can have multiple containers publishing the same service domain (e.g. hello.srv), but there can only be 1 per host?

[2015-06-25 00:28] stevvooe commented on #13971
@andytinycat We know this is a nasty issue. We've added the 1.7.1 milestone and are working towards a fix.

[2015-06-25 00:48] jasonsemko opened #14172 "Docker build will not run, no output"
BUG REPORT INFORMATION

    Mac 10.9.5
    Client version: 1.7.0
    Client API version: 1.19
    Go version (client): go1.4.2
    Git commit (client): 0baf609
    OS/Arch (client): darwin/amd64
    Server version: 1.7.0
    Server API version: 1.19
    Go version (server): go1.4.2
    Git commit (server): 0baf609
    OS/Arch (server): linux/amd64

Provide additional environment details (AWS, Virt

[2015-06-25 00:48] GordonTheTurtle commented on #14172
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-25 01:21] johnw188 commented on #14073
@AstonJ You can workaround the issue by passing `--net=host` to your run command. This will cause your containers to use their hosts network stack and will disable linking of containers, however (as docker can't/shouldn't update the `/etc/hosts` of the host machine)

[2015-06-25 01:39] xylnao opened #14173 "docker daemon receives SIGSEGV"
### Description of problem:
A docker daemon receives a signal SIGSEGV during creation of a container.

### docker version:
Client version: 1.8.0-dev
Client API version: 1.20
Go version (client): go1.4.2
Git commit (client): cb6ca19
OS/Arch (client): linux/amd64
Server version: 1.8.0-dev
Server API version: 1.20
Go version (server): go1.4.2
Git commit (server): cb6ca19
OS/Arch (server): linux/amd64

[2015-06-25 01:56] visualphoenix commented on #9856
I must say for both me and my company it would be catastrophic to lose docker support for RHEL/CentOS 6.x. For the longest time Docker has stated support for RHEL/Centos 6.5. Recently updated to a minimum of 6.6. For us, upgrading to 7 is out of the question for the near term.

[2015-06-25 02:02] visualphoenix commented on #14024
Wow this is crazy. I can't believe all of a sudden they claim 6.x isn't supported. Both Docker and RHEL claimed 6.5 was supported. Recently Docker upped the minimum requirement to the 6.6 kernel (understandably). Losing 6.6 (and 6.7 in the future) support would be a huge problem for the roll out I've been doing of docker.

[2015-06-25 02:04] visualphoenix commented on #14024
@Khazrak @vinnyspb wow - we don't have that kernel available to us yet so I had not seen that issue. Very troubling. Would be great if a separate ticket was opened regarding that crash on the most recent kernel. Maybe the docker folks will continue to be kind and help keep 6.6 support.

[2015-06-25 02:06] gavinwhyte commented on #14024
I agree with visualphoenix this is awful, I was about to roll it out to a bank, and there is no support for centos 6.6 or RHEL 6.6 on Docker 1.7.

[2015-06-25 02:11] visualphoenix commented on #14024
@gavinwhyte i completely agree. it's a huge problem because not every business is done upgrading everything from sysvinit stuff to systemd so we have a huge ecosystem of base monitoring and support infrastructure which doesnt currently work with RHEL/CentOS7. Maybe we should create a new ticket regarding RHEL/CentOS 6 support for Docker and get @rhatdan and @shykes to comment rather than continue

[2015-06-25 02:15] pdericson commented on #14024
+1 @gavinwhyte and @visualphoenix I have no love for RHEL / CentOS 6.x but for a lot of large enterprises they're not going to go away anytime soon.  The last thing I want to do is stop using Docker because upstream is releasing unstable kernels - please help, Docker Inc.

[2015-06-25 02:15] visualphoenix opened #14174 "Continued RHEL/CentOS6.6+ support"
The recent update to https://access.redhat.com/solutions/1378023 suggests that RedHat has decided not to support Docker on RHEL 6.6+ anymore.

After seeing recent discussions in #14024 and resurfaced kernel panics in #9856, it would be nice to know if Docker will continue to support 6.6+.

This ticket is to discuss 6.6+ support (and maybe be a metaticket for 6.6+ issues)

My 2c: I hope to continue

[2015-06-25 02:15] GordonTheTurtle commented on #14174
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-25 02:17] visualphoenix commented on #14024
Maybe we can move this part of the discussion to #14174. As for this issue, I hope the docker devs backport the support for 6.6 into libnetwork as discussed earlier in the ticket.

[2015-06-25 02:21] visualphoenix commented on #14174
Also being discussed in #9856

[2015-06-25 02:30] visualphoenix commented on #14174
ping folks who might be interested in commenting about 6.x support @shykes @rhatdan @noelob @sgykfjsm @cpuguy83 @Khazrak @vinnyspb @gavinwhyte  @pdericson @LK4D4 @icecrime @thaJeztah @jfrazelle @mavenugo @marcellodesales @SvenDowideit @chenchun @unclejack @vbatts @rhvgoyal @kashyap-parikh @larrymyers @kashyapparikh-ck @Johnsmith1111 @seanclerkin @tpires @nekodojo @oscarrenalias @jmzwcn @hxfeng @st

[2015-06-25 02:40] Johnsmith1111 commented on #14174
I abort docker,So I can't say anything about it,Thanks for ping.

[2015-06-25 02:45] duglin commented on #14172
what is in your current dir?  If its large then it may not be hung, but instead it may be trying to transfer everything over to the daemon.

[2015-06-25 02:47] jasonsemko commented on #14172
@duglin It's my home root directory...so yes it would have a ton/all of my own files in it. Let me try moving into a smaller folder on the desktop

[2015-06-25 02:51] jasonsemko commented on #14172
@duglin Wow that was it! Thanks so much.

I made a new directory on my desktop and put the Docker file in there. cd into it and ran the same command, worked right away.

Would be awesome to add some type of verboseness to the process just so one would be able to tell what was going on while it was attempting to transfer.

Thanks again, closing

[2015-06-25 02:51] #14172 closed

[2015-06-25 02:54] duglin commented on #14172
@jasonsemko you should have seen something like:
[code]
while not exactly `yo, dude did you really want to send 3 TB of data!`, it is a bit of a clue  :-)

[2015-06-25 02:57] jasonsemko commented on #14172
@duglin haha did not see that message but I prefer yours

[2015-06-25 03:36] gavinwhyte commented on #14174
Looks like people are aborting Docker, I feel the same if i cant get it working on RHEL 6, so many organisations will loose out. Have Docker no idea about the amount of large organisations that use Rhel or Centos 6. Massive banks, just cannot upgrade and move. I understand innovation is important, but supporting centos 6.x to some degree is important as well.

[2015-06-25 03:48] xiuni opened #14175 "Permission denied on accessing host directory in docker in Centos"
Hi,
I have faced this problem, when I mount a host directory to a container:
`docker run -it -v /home/share:/home/share centos /bin/bash`

 and then in container:
` cd /home/share `
 ` ls `
`ls: cannot open directory .: Permission denied`

But I tried it on  ubuntu system, it works well.

Docker option SELinux are both enabled.
What is the difference between the two system? Can someone give commen

[2015-06-25 03:48] GordonTheTurtle commented on #14175
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-25 03:52] cpuguy83 commented on #14174
Docker has made no such announcement.
Clearly we have a regression in Docker 1.7 as part of the networking rewrite.
The issue is known and is being addressed.

[2015-06-25 03:58] samalba commented on #14174
@cpuguy83 is right. And 1.7.1 is on the way to address this regression.

[2015-06-25 04:04] gavinwhyte commented on #14174
@cpuguy83 I do have question, has anyone bothered to test on Centos 6.x before release.

[2015-06-25 04:32] stas410 commented on #12469
+1 same problem on windows 8.1 / cygwin

[2015-06-25 04:46] visualphoenix commented on #14174
@cpuguy83 but there is also #9856 which is more than a network regression. There seem to be larger regressions with newer RHEL/CentOS kernels

[2015-06-25 04:54] visualphoenix commented on #14174
Furthermore, from the comments in #14024 it sounds like there is a kernel panic with even older versions of docker and the latest RHEL/CentOS kernel. Likewise, we have @thaJeztah asking if support should be removed from docs, @vbatts  commenting about the fact that 'the usage of docker on rhel6 (or centos6) is at your own risk, it is not officially supported by redhat or Docker, and fixes are on a

[2015-06-25 04:55] gavinwhyte commented on #14174
I have had kernel panics with docker 1.6. and centos 6.5.

[2015-06-25 04:56] visualphoenix commented on #14174
@gavinwhyte burried in issue notes, you'll find that 6.6 is now the minimum supported version.

[2015-06-25 05:00] visualphoenix commented on #14174
@gavinwhyte to quote @Khazrak, there seems to be "... a problem with the latest kernel 2.6.32-504.23.4.el6.x86_64."

@gavinwhyte I've had good success in production with both CentOS and RHEL 6.6 using 2.6.32-504.8 and Docker 1.6.2

[2015-06-25 05:06] visualphoenix commented on #14174
@gavinwhyte specifically #12814 updated docs changing the minimum requirements to 6.6 and actually references #9856 from my first post

[2015-06-25 05:45] henrysher opened #14176 "doc: messy table format for Linux capability options in `run` reference"
https://docs.docker.com/reference/run/

The table format is messy after the paragraph shown as below.

In addition to --privileged, the operator can have fine grain control over the capabilities using --cap-add and --cap-drop. By default, Docker has a default list of capabilities that are kept. The following table lists the Linux capability options which can be added or dropped.

I have checked ot

[2015-06-25 05:45] GordonTheTurtle commented on #14176
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-25 06:04] cpuguy83 commented on #14040
@jaitaiwan because they probably also did a kernel upgrade and didn't install the aufs modules for that kernel.

[2015-06-25 06:31] resoliwan commented on #11534
+1 for @bobbytables solution :)))

[2015-06-25 06:45] thaJeztah commented on #14174
@visualphoenix at this moment, the position of Docker regarding RHEL6 support hasn't changed; the project is fully committed to keeping it supported on those systems. I don't know if this means that *all* future features and versions *can* be supported on these systems, given that Docker is relying on some "cutting edge" kernel features. For those, I think we depend on support from RedHat, to make

[2015-06-25 08:22] Jean85 commented on #12002
`sudo systemctl enable docker` fixed it for me too.
I was on a clean 15.04 installation, I installed docker from get.docker.com
Thanks @michielbdejong

[2015-06-25 09:13] petejcullen commented on #14160
$ docker version
Client version: 1.7.0
Client API version: 1.19
Go version (client): go1.4.2
Git commit (client): 0baf609
OS/Arch (client): linux/amd64
Server version: 1.7.0
Server API version: 1.19
Go version (server): go1.4.2
Git commit (server): 0baf609
OS/Arch (server): linux/amd64

$ docker info
Containers: 13
Images: 72
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem

[2015-06-25 09:14] petejcullen commented on #14160
I have attempted to remove and pull the image again, but I still get the same failure:

$ sudo docker rmi -f hello-world
Untagged: hello-world:latest
Deleted: 91c95931e552b11604fea91c2f537284149ec32fff0f700a4769cfd31d7696ae
Deleted: a8219747be10611d65b7c693f48e7222c0bf54b5df8467d3f99003611afa1fd8

$ sudo docker run hello-world
Unable to find image 'hello-world:latest' locally
latest: Pulling from

[2015-06-25 09:50] rhuss opened #14179 "Pull for a single repository tries to download same image twice"
I have several images which has the reproducible behaviour in trying to download the same image layer twice. It is always the last image image layer of the repo:

[code]

The full output can be found [here](https://gist.github.com/rhuss/e061926727cfff053cd2#file-gistfile1-txt).

Is this an expected behaviour ? How can it be avoided ?

I asked, because we have the same issues described in #9718 but

[2015-06-25 09:50] GordonTheTurtle commented on #14179
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-25 09:54] rhuss commented on #14179
BTW, this behaviour is not specific to OpenShift or centos. I also get it when I do the steps given on my local, standard, boot2docker environment.

[2015-06-25 09:56] rhuss commented on #14179
Another example where you can see this: `docker.io/fabric8/elasticsearch-k8s:1.5.29` and layer `f98887039cd` (this is the one from the gist)

[2015-06-25 10:00] simar0at commented on #14174
I always get a kernel panic in Centos kernel.x86_64 0:2.6.32-504.23.4.el6 when trying to stop my docker container. We use a VMWare virtualization environment docker-io is from the EPEL repos: 1.5.0. Using the previous patch level 2.6.32-504.16.2.el6.x86_64 I don't see that problem. RedHat claims to have fixed some serious looking security issues in 23.4 so I'm not very comfortable with using 16.2.

[2015-06-25 10:21] lgs commented on #12861
@jfrazelle  ... yes but,
if you google `installing docker on debian` the thirds link you're gonna land on, is here.

then just do what the first 2 links (official Docker docs) suggest:

`curl -sSL https://get.docker.com/ | sh`

[2015-06-25 10:36] tpires commented on #14080
I'm looking for a similar solution.

### Problem

Recently the enterprise I work enabled Zscaler proxy with SSL inspection, which implies having certificates installed and some environment variables set during build.

A temporarily solution was to create a new Dockerfile with certificates and environment variables set. But that doesn't seem reasonable, in a long term view.

So, my first thought wa

[2015-06-25 10:45] mjsalinger commented on #13885
@cpuguy83 Any ideas?

[2015-06-25 10:59] tpires commented on #14174
@simar0at As I reported on https://github.com/docker/docker/issues/9856#issuecomment-114060498 I got kernel panic while on 2.6.32-504.16.2.el.x86_64 (not so often, but it happened).

Still, I'm stuck on that version rather on 23.4 which would kernel panic when trying to stop a container.

[2015-06-25 11:30] 0x4139 opened #14180 "Not overriding hosts file"
I can't seem to be able to override the host file with the -v option
[code]
Env info
[code]
can't figure out what i am doing wrong

[2015-06-25 11:30] GordonTheTurtle commented on #14180
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-25 11:44] lostsnow opened #14181 "Kernel Panic when container restart (docker-compose restart) on centos6.6"
docker info

[code]

docker version

[code]

vmcore-dmesg.txt:  <http://pastebin.com/Zs6QWLEB>

[code]

[2015-06-25 11:44] GordonTheTurtle commented on #14181
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-25 12:39] Thorndike commented on #10150
It seems --insecure-registry is working better now with docker 1.7.0

[2015-06-25 12:58] Khazrak commented on #14174
I've now tried it on multiple hardware (and some VM's). All the VM's I've tried CentOS 6.6 on get the same kernel panic's. On one "real" server with CentOs the same kernel crash occurred but one laptop with the same CentOS from the same CD worked.

And one of our RHEL 6.6 Test servers (don't know if it's physical or virtual) actually works. So it might be hardware-kernel related? But we can't roll

[2015-06-25 13:01] vagnerzampieri commented on #14115
@michaelsauter use:

  `docker exec --user=user_name -it <container> bash`

[2015-06-25 13:03] cyphar commented on #14181
I don't think we support kernels as old as `2.6.32-504.23.4.el6.x86_64`. IIRC there were a bunch of issues with cgroups and namespaces that caused kernel panics in the old days. If you want, you can try to compile a more modern Linux kernel and see if the problem persists (and if you can give us a reproducible test case).

In either case, this is a Linux kernel bug which is either caused by some C

[2015-06-25 13:05] cyphar commented on #14175
Can you give the output of `id -Z` and `ls -ldZ /home/share`?

[2015-06-25 13:20] unclejack commented on #14181
@cyphar Please don't recommend custom kernels on CentOS 6 and RHEL 6. They're not in any way supported.

This might indeed be a kernel issue and needs to be investigated. Marking as a kernel and CentOS issue.

[2015-06-25 13:23] jgornowich commented on #7856
Seeing this on CentOS 7 as well, even after upgrading docker to version 1.6.2.

[2015-06-25 13:27] diegomarangoni commented on #14083
I can't try the multi-host with overlay network, having the following error:

[code]

What I doing wrong?

[2015-06-25 13:28] akranga commented on #10294
Is there any progress regarding this issue? Docker v1.7 overlay over xfs and RHEL7 are facing the same

[2015-06-25 13:36] cyphar commented on #14181
@unclejack The reason I was asking him to try with a more modern kernel is to see if this bug is present in modern kernels (or if it was fixed and has yet to be backported, or if it is a bug in a CentOS patch). I wouldn't dream of running custom kernels in production (especially on CentOS).

[2015-06-25 13:40] adamkdean commented on #9139
I'm currently having this issue. I'm running the latest Rancher on three Ubuntu 14.04.2 boxes and using Rancher, I'm running some standard Ubuntu 14.04.2 containers. If I leave this for three or four days, some of the servers consume all the memory and become unresponsive until being rebooted.

I'd provide more information but I'm unable to do any investigation as the machines have no memory remai

[2015-06-25 13:41] itwars opened #14184 "Docker 1.7 on RaspberryPI : "socket operation on non-socket""
BUG REPORT INFORMATION
---

Description of problem:

I'm using Hypriot docker distro, and face new issue : can't run nor build any more without getting a : "socket operation on non-socket"... Reverting to previous version 1.6.2 make it happen again!
For run it can be solved by --net=host option, but there's not such --net for build.

`uname -a`:

Linux black-pearl 3.18.8-hypriotos+ #1 PREEMPT Sat

[2015-06-25 13:41] GordonTheTurtle commented on #14184
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-25 13:41] cyphar commented on #14173
Since the patch applies to a vendored package (in particular `libnetwork` -- [docker/libnetwork](/docker/libnetwork)), I'd make the patch against that tree and send a PR there. Once it's been merged, propose a PR here that updates the vendored version to include your fix.

On a side note, can this segfault be caused without being run under GDB?

[2015-06-25 13:43] cyphar commented on #13974
IIRC this is an AUFS issue -- chown of directories in AUFS layers is broken.

[2015-06-25 13:45] unclejack commented on #9139
@adamkdean Can you tell me whether those containers log a lot or anything at all about what they're doing, please?
Knowing the docker version and the logging driver you're using would help as well. Docker 1.6.2 is most certainly going to run into this problem. Docker 1.7.0 shouldn't have as many problems with memory usage.

The syslog logging driver is still having problems, so that can be a facto

[2015-06-25 13:54] dpgeekzero opened #14185 "No network access from container with 1.7 and Linux 4.0.5"
Since I upgraded to 1.7.0, none of my containers can access the network.  I haven't modified any of my Docker configuration files, so I'm not sure what else to do.

I have rebooted the box to ensure that it wasn't iptables related.

I'll attach the requested Docker info in a second comment.

[code]

[2015-06-25 13:54] GordonTheTurtle commented on #14185
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-25 13:54] dpgeekzero commented on #14185
[code]

[2015-06-25 13:55] adamkdean commented on #9139
Actually, now you mention it, `rancher/agent:v0.7.9` is logging an awful lot. And these are running on `1.6.2`. I'll try again with `1.7.0` and see how they do being left for a few days.

If there's anything else I can provide, let me know.

[2015-06-25 13:57] unclejack commented on #9139
@adamkdean Can you tell me what logging driver is being used, please? I haven't used rancher so far and I'm not sure what logging driver it's using. How many containers where you running?

Docker 1.6.2 has memory usage problems related to logging and it'll have these problems forever.

[2015-06-25 14:00] visualphoenix commented on #14181
Agreed with @unclejack - I'm sure you were trying to be helpful, but the docker team has only ever attempted to support official RHEL/CentOS kernels.

2.6.32-504.23.4.el6.x86_64 is an official security update from RH: https://rhn.redhat.com/errata/RHSA-2015-1081.html

See: https://github.com/docker/docker/blob/release/docs/installation/centos.md and https://github.com/docker/docker/blob/release/do

[2015-06-25 14:01] visualphoenix commented on #14174
Adding a reference to #14181 here since it also affects 6.6+

[2015-06-25 14:04] visualphoenix commented on #13769
@rookie7799 can you try 1.6.2 on 2.6.32-504.16.2.el6.x86_64? I've used:

[code]

[2015-06-25 14:07] miracle2k commented on #9139
Note that a couple comments above it was recommended that the syslog driver be used instead of the json log. Has this recommendation changed with 1.7?

[2015-06-25 14:07] visualphoenix commented on #14033
@yongkangchen can you try 1.6.2 and see if the issue still happens?

[code]

I'm wondering if this is related to #14181 and the resurfaced panic seen in #9856

[2015-06-25 14:11] unclejack commented on #9139
@miracle2k Some bugs were discovered in the used syslog package. I'll investigate that as well.

[2015-06-25 14:14] visualphoenix commented on #11434
@llitfkitfk is this still an issue with more recent versions of docker?

[2015-06-25 14:16] visualphoenix commented on #11565
@tsingfu is this still an issue with the latest docker/boot2docker?

[2015-06-25 14:18] visualphoenix commented on #13377
@abegent21 is this still an issue? Are you on RHEL/CentOS 6.6 with the 6.6 kernel? Can you try a newer version of docker?

On 6.6 I've used:

[code]

[2015-06-25 14:22] mrjana commented on #14185
@dpgeekzero Can you dump iptables rules(both filter rules and nat rules) after the container is started and post it here? Also `lsmod` output would be helpful

[2015-06-25 14:25] tomfotherby commented on #8759
Because the API doesn't provide a delete, I went to do my periodic manual cleanup which involves clicking the little cross next to unused tags on the docker hub page a few hundred times. But today the tags management page in docker hub (`https://registry.hub.docker.com/u/user/repo/tags/manage/`) isn't showing the usual huge list of pages of tags, I see only 1 page (30 ish rows). Has something chan

[2015-06-25 14:27] Cbeck527 commented on #13769
FWIW, updating our server's kernel to 3.x solved this issue completely.

[2015-06-25 14:29] visualphoenix commented on #12887
@Ya3Sh @corvis might be worth looking into this again once 1.7.1/1.8.0 comes out with 6.6+ fixes and the new docker volume backend. I'm not sure what issues might come up relocating the graph as you are - there might be some subtle interplay between docker and how dm thin provisioning is working with what you're trying to do... Maybe you could be more specific as to the goal you were trying to ach

[2015-06-25 14:34] visualphoenix commented on #13769
@Cbeck527 custom kernels (eg 3.x kernels) on 6.6 have never been supported by Docker

[2015-06-25 14:36] dpgeekzero commented on #14185
iptables output
[code]

lsmod output
[code]

[2015-06-25 14:38] Cbeck527 commented on #13769
@visualphoenix absolutely. I'm not recommending anyone take this option, but merely saying that it fixed it for us. This issue was blocking our deployments, and we had to take a relatively unorthodox approach to fix it. ¯\_(ツ)_/¯

[2015-06-25 14:38] visualphoenix commented on #12087
If this is fixed, maybe the issue should be closed?

[2015-06-25 14:50] stayclassychicago commented on #14149
Hi-
I updated the original description with the BUG REPORT INFORMATION template.

[2015-06-25 14:54] simar0at commented on #14174
will Redhat switch? You're joking, aren't you? I can't imagine that happening. They maintain 2.6.18 because it's in RHEL5, they maintained 2.6.9, which was officially broken, for years. No chance they switch. But they do have a problem that might be considered a security issue. Docker isn't running using super powers, is it? If not then it should never be able to cause a kernel panic.

[2015-06-25 15:04] adamkdean commented on #9139
@unclejack The logs look to be saved to `/var/lib/dockers/containers/CID/CID-json.log` which makes me think it's using the JSON log driver. Is that right?

[2015-06-25 15:12] jbiel commented on #9139
@adamkdean - yes I believe that's correct. FWIW, we use the default logging driver (JSON) and we have an app that spits a lot of info to standard out. Prior to 1.7.0 we had to restart docker nightly in order to keep memory usage under control. We've had 1.7.0 running for ~7 days now and so far the memory leak issue has vastly improved, maybe resolved.

[2015-06-25 15:32] adamkdean commented on #9139
@jbiel That's positive news then, thanks for the information. It was definitely worrying to come back to a cluster to find the hosts unresponsive when all they were running was the clustering software itself!

[2015-06-25 15:56] lostsnow commented on #14181
I downgrade kernel to 2.6.32-504.16.2.el6.x86_64, it seems works fine.

[2015-06-25 16:00] ChaosEngine commented on #10294
We'd probably have to wait till linux-4.1 (https://www.phoronix.com/scan.php?page=news_item&px=XFS-Linux-4.1), or use unstable current version

[2015-06-25 16:22] wf2004081522 commented on #14083
@diegomarangoni
this may be related to #14145, I met this problem at first on kernel 3.13, but it's solved now when i switch to 3.19.

[2015-06-25 16:52] phemmer opened #14186 "Add --format to `docker version`"
Continuation of discussion [here](https://github.com/docker/docker/pull/14047#issuecomment-115295280) and [here](https://github.com/docker/docker/issues/10934#issuecomment-75425223).

The `docker version` command should have a `--format` flag for controlling output. With the formatting change introduced in #10934, it becomes much more difficult to extract a specific field, as each output line does

[2015-06-25 16:52] GordonTheTurtle commented on #14186
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-25 16:53] phemmer commented on #10934
Closing since #14047 has been merged, and addresses the inconsistency issue.
#14186 has been opened to address the `--format` flag.

[2015-06-25 16:53] #10934 closed

[2015-06-25 16:56] laijs commented on #14180
Some files (including /etc/hosts) are bound by docker run-time and conceal the users' binding.

From the `docker inspect <contianer id>`, you can see something like this:

    "ResolvConfPath": "/var/lib/docker/containers/47dfbac8ad30d1138dcc47c395c2ee0cf3b44e56ad7a9c9a7ebd5255ba2daef0/resolv.conf",
    "HostnamePath": "/var/lib/docker/containers/47dfbac8ad30d1138dcc47c395c2ee0cf3b44e56ad7a9c9a7eb

[2015-06-25 16:59] wf2004081522 commented on #14083
@mavenugo
Hi,
I just tried the overlay over two nodes, basic setup is like below:

usr/bin/docker -d -H unix:///var/run/docker.sock -H tcp://0.0.0.0:2375 --kv-store=consul:10.170.28.3:8500 --label="com.docker.network.driver.overlay.bind_interface=eth0" &

usr/bin/docker -d -H unix:///var/run/docker.sock -H tcp://0.0.0.0:2375 --kv-store=consul:10.170.28.4:8500 --label="com.docker.network.driver.ove

[2015-06-25 17:01] mavenugo commented on #14083
@diegomarangoni we are working on a blog post to clearly mention all the pre-req and the configuration details. In addition to the issue with 3.13 kernel, we also have a PR opened in libkv to solve a specific problem with `etcd`, which got resolved in https://github.com/docker/libkv/pull/14. We will pull that fix in to libnetwork to make `etcd` backend work.

[2015-06-25 17:03] mavenugo commented on #14083
@wf2004081522 you are missing the `--label="com.docker.network.driver.overlay.neighbor_ip` in the second host, in order for Serf to join the neighbor.
We are working on an end-to-end blog post to get this cleared up.

[2015-06-25 17:06] lorieri commented on #8854
+1

[2015-06-25 17:17] #14132 closed

[2015-06-25 17:17] LK4D4 commented on #14107
Fixed in #14163

[2015-06-25 17:17] #14107 closed

[2015-06-25 17:19] stevvooe commented on #13971
@andytinycat @aaron42net

I have a [patch][1] that replicates the flock solution at an image granularity. This should prevent the image from getting corrupted but won't correct existing corrupted images. Inspection of that code shows a few other issues we need to address in that function (there is come variable shadowing @vbatts).

@aaron42net If you could build my branch and give it a try, it wou

[2015-06-25 17:28] #14168 closed

[2015-06-25 17:55] wf2004081522 commented on #14083
@mavenugo
thanks very much for explanation, now containers on overlay network can communicate each other, but how about my first question? the container still can't map port with flag '-P' or '-p', is it on purpose? if so, how outside can visit the service on overlay network?

[2015-06-25 18:05] vieux opened #14188 "Wrong comments in https://experimental.docker.com/"
At the top of https://experimental.docker.com/ it still says `get.docker.com` in the comments.

[2015-06-25 18:05] GordonTheTurtle commented on #14188
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-25 18:06] vieux commented on #14188
ping @tianon

[2015-06-25 18:14] DieterReuter commented on #14184
@itwars I just checked it on my test machine (Raspberry Pi 2), I run into exactly the same issue with Docker engine 1.7.0. When using `--net host` the container starts, so I think this could be an issue with the new libnetwork. BTW, on amd64 there's no such an issue (just double checked it). Right now it's only an issue on ARM.

[2015-06-25 18:29] urquilla commented on #6094
+1

[2015-06-25 18:44] MathiasRenner commented on #14184
I confirm this issue. It is reproducible on a Raspberry Pi 2.
However, a `docker build` works fine, this issue is IMHO regarded to the `docker run` command.

It seems that `--net host` parameter opens a socket for a container only at the `Docker0` network interface, without touching the internal network interface of Docker. Thus any internal port forwarding specified by `docker run -<external_port

[2015-06-25 18:59] estesp commented on #10863
Quick update--this will most likely be fixed in Go 1.5; this patchset fixes the problem and is under review: https://go-review.googlesource.com/#/c/10836/

I don't know how we want to handle the Docker side of this issue as moving to Go 1.5 is gated on its release and then, a follow-on decision and timeframe for Docker to be built by Go 1.5 compilers.

[2015-06-25 18:59] dave-tucker commented on #14184
Digging out my RPi2 to take a look at this

[2015-06-25 19:01] bberberov commented on #14160
$ docker version

$ docker info

$ uname -a

I did an `apt-get upgrade` on Ubuntu and it updated me to 1.7.0.  Then I rolled back to 1.6.2.  I am getting the exact same error.  I also tried with an older kernel (3.16.0-36-generic) still getting the same error. This is the list of packages that changed:

`sed -e 's/[)], /)\n/g' -e 's/: /:\n/' /var/log/apt/history.log`

[2015-06-25 19:18] DieterReuter commented on #14184
@dave-tucker I appreciate your help! Hope to get this fixed soon, I didn't recognized this issue when building the armv6l Docker binary. Damn you'll ever had to test a release before making them public for download - that was my fault, sorry guys.

[2015-06-25 19:39] DennyZhang commented on #12910
Doesn't work in my env neither.

Weeks ago, I've two envs. Docker push image work in both envs.

Today I've tried both, it failed with complains like below.

root@docker:~# docker push testuser/testimage:latest
The push refers to a repository [testuser/testimage] (len: 1)
8a68d6df38f0: Image push failed

Please login prior to push:
Username: testuser
Password:
Email: test@test.com
WARNING: login c

[2015-06-25 19:45] ttiurani commented on #12910
Same here. Push just started failing out of the blue about an hour ago after a lot of successful pushes before that. Sent an email to support, but this is massive PITA.

[2015-06-25 19:47] yoanisgil commented on #12910
Yeah, Same thing there. I am pushing, though, to a private repository. Docker version is:

[code]

And yes this is kinda painful. This is really blocking for those who are using Docker Hub at work.

[2015-06-25 20:13] icecrime commented on #14035
I'm trying to get a clear idea about our next move here. My current feeling is that:

- We shouldn't break people who use `devicemapper` on Ubuntu with an explicit `--storage-driver=devicemapper`, *even* with a static binary (after all that's what you asked for)
- The automatic detection logic seems flawed as it ends up electing something it *can't* use: I'm thinking a better error message ("you h

[2015-06-25 20:29] asazernik commented on #14115
Not sure if this is intentional or not; the new manpages say this about the "--user" flag:

[code]

So this seems to be intentional, but I'm not sure if whoever made this decision thought about the consequences (specifically, scripts currently using 'docker exec' that are now broken because they assumed it would respect the container's `USER` property by default).

[2015-06-25 20:31] icecrime commented on #14035
Summing up my thoughts:

| Scenario | Behavior 1.7.0 | Proposal 1.7.1 |
|-------------|---------------------|---------------------|
| `--storage-driver=devicemapper` | Error: unsupported | Warning: unreliable setup |
| `--storage-driver=devicemapper -storage-opt dm.override_udev_sync_check=false` | Ok | Warning: unreliable setup |
| `--storage-driver=` with `devicemapper/` dir only | Error: unsupp

[2015-06-25 20:35] Machool commented on #12910
Exact same thing. I even tried with different versions, 1.6, 1.6.2 and 1.7 but it still gives the same error: Error pushing to registry: Authentication is required

[2015-06-25 20:39] asazernik commented on #14115
Paging @coolljt0725

The `--user` flag is awesome, but the default when the flag is not given is bad and breaks existing scripts.

[2015-06-25 20:44] aaron42net commented on #13971
I've spun up an EC2 instance that's detached from the rest of my infrastructure, has ssh available globally, and has a new SSH key.  I'm happy to share it with you if you can tell me how to get you the key privately.

Alternatively, you can spin up an m3.large EC2 instance in us-east-1a using AMI ami-79ad4712, attach the 32G instance storage to /dev/xvdb and use this for user-data: https://www.die

[2015-06-25 21:07] sjoeboo commented on #6980
+1 , centos:7 container on a ubuntu 14.04 host

[2015-06-25 21:15] herrphon opened #14191 "docker build should provide an environment variable of the git commit if applicable"
It would be so great if docker build could provide the git hash (or git describe) as an environment variable of the container when the dockerfile is under git version control. This way, application could reference / show the commit hash and hence have a nice way to find the code...

somehow this is linked to https://github.com/docker/docker/pull/9176...

I have a workaround but its ugly:

    expo

[2015-06-25 21:15] GordonTheTurtle commented on #14191
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-25 21:21] mjsalinger commented on #13885
Seeing the following in 1.7 with containers not being killed/started.  This seems to be a precurser to the problem (note didn't see these errors in 1.6 but did see a volume of dead containers start to build up, even though a command was issued to kill/remove)

[code]

[2015-06-25 21:26] StefanScherer commented on #14184
I was able to build a docker binary from latest sources for RPi2 with this PR https://github.com/docker/libcontainer/pull/633 in libcontainer, but running a container still shows the error in /var/log/docker.log:

[code]

[2015-06-25 21:27] bkeroackdsc commented on #14026
see https://gist.github.com/parente/025dcb2b9400a12d1a9f

This is another example of Docker having major showstopping issues with one of the most widely-used distros (see #3182 )

[2015-06-25 21:34] phobologic commented on #14026
In the end it looks like we had to manually remove `/var/lib/docker/aufs` after mounting the newly formatted external volume and starting docker1.7.  I'm not sure why it would be getting created in the first place, and I'm not entirely sure what is creating it.

We also made sure to unmount /var/lib/docker/aufs before we mounted the new volume.  I'm not entirely sure which of our steps finally fix

[2015-06-25 21:34] LK4D4 commented on #14184
Looks like this error from `nsInvoke` function

[2015-06-25 21:36] labianchin commented on #13555
This also affects docker-machine.
"docker-machine create" fails when p80.pool.sks-keyservers.net is not accessible.

Is there any workaround to make "docker-machine create" to use the key from https://get.docker.com/gpg?

[2015-06-25 23:24] alvinr opened #14192 "Doc: List is not formatted correctly in swarm/scheduler/filter/"
# Problem

See

![screen shot 2015-06-24 at 4 06 07 pm](https://cloud.githubusercontent.com/assets/336450/8367753/772a554c-1b56-11e5-83a4-39e841c3e4f7.png)

Looks like this should be a list but it is not formatted as a list. May be a generic issue across all lists - would need to be confirmed.

# Reproduce
See https://docs.docker.com/swarm/scheduler/filter/

[2015-06-25 23:24] GordonTheTurtle commented on #14192
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-25 23:43] AstonJ commented on #14073
Thanks @johnw188. Do you know of any limitations or negatives associated with this? I wonder if @unclejack or @GordonTheTurtle or anyone else in the Docker team recommend this as an appropriate fix?

[2015-06-26 00:05] tiborvass commented on #5603
*Collective review with @duglin @estesp @tianon @abronan @cpuguy83*

The biggest problem with this proposal is that it would overwrite the user's image name. Example:
`TAG ubuntu` when I already have an ubuntu image. By the way this was already discussed here: https://github.com/docker/docker/pull/886#issuecomment-21167265

It seems that the usecases described in this thread, can be resolved by ei

[2015-06-26 00:05] #5603 closed

[2015-06-26 00:05] dmcgowan commented on #13971
The patch posted by @stevvooe solved the issue in my testing. I used the testing process described by @aaron42net

[2015-06-26 00:10] tiborvass commented on #12987
This is an exotic duplicate of both #5603 and #12198

I'm closing this since both of those issues have been closed with explanations.

Feel free to object if you think this is different from those other ones.

[2015-06-26 00:10] #12987 closed

[2015-06-26 00:19] rtrauntvein commented on #14035
This was pretty ugly.  The rollback to 1.6.2 per @pjv seemed to work here. Ubuntu 14.04.2 LTS

[2015-06-26 00:39] #14057 closed

[2015-06-26 00:39] #14065 closed

[2015-06-26 00:39] #14092 closed

[2015-06-26 00:56] tiborvass commented on #14124
Closing for it is a duplicate of #735

[2015-06-26 00:56] #14124 closed

[2015-06-26 02:14] johnw188 commented on #14073
It's not really an appropriate fix but it depends on what you're doing. I think there are some security implications, and as I mentioned above it prevents you from linking containers. I'm using it on some internal CI machines that aren't exposed to the outside so I'm not super concerned but your mileage may vary.

[2015-06-26 02:16] henrysher commented on #14176
ping @thaJeztah
add a screenshot here:
![messy-table-format-run-cli](https://cloud.githubusercontent.com/assets/65181/8369402/a5bf21e0-1beb-11e5-82a7-7023c555c8e6.png)

[2015-06-26 02:28] ChanderG commented on #14165
There is a minor problem with the Prerequisites heading just above this.

[2015-06-26 02:58] fanne commented on #10769
@dredknight the same issue to me,did you solve the problem?

[2015-06-26 03:08] cyphar commented on #14181
@lostsnow Okay, so I've taken a look at the (changelog)[http://rpmfind.net/linux/RPM/centos/updates/6.6/x86_64/Packages/kernel-2.6.32-504.23.4.el6.x86_64.html], here is the list of patches applied during that period:

[code]

Is it possible for you to see if you can reproduce on `2.6.32-504.20.*.el6.x86_64`? That might help narrow down which kernel patch caused this bug.

[2015-06-26 03:37] cpuguy83 commented on #14180
Correct, Docker provides the /etc/hosts for the container.
We cannot accept a user file here, especially since this would break links.

Docker does provide an API to add custom hosts to the file, `docker run --add-host <alias>:<ip>`.
This file is also writable in the container as well.

Closing since this is the intended behavior.
If you need some additional help/have questions, feel free to hit m

[2015-06-26 03:37] #14180 closed

[2015-06-26 03:39] stevvooe commented on #13971
@aaron42net We've built you a version with the patch. Please give it a try:

https://docs.google.com/a/docker.com/uc?authuser=0&id=0BxIgF_yUbnRkdjNCZXV2eWU0V1k&export=download

[2015-06-26 03:39] cpuguy83 commented on #12887
Are you moving the docker data to the new location?

[2015-06-26 03:49] cpuguy83 commented on #13974
@cyphar That's fixed when dirperm1 is enabled, which also requires a newer version of aufs.
@ginoledesma can you make sure you have an update to date version of AUFS with dirperm1 enabled?

[2015-06-26 03:52] pmyjavec commented on #14181
Hey all,

Also can confirm running the latest kernel (kernel.x86_64 0:2.6.32-504.23.4.el6) on CentOS 6 introduces this behaviour. Booting older Kernels resolves the problem instantly.

[2015-06-26 04:18] elephantfries commented on #12606
@rhvgoyal There may be time to close this issue.  I met vbatts at DockerCon.  He was rather pessimistic about loop devices.  So maybe that's just how it is: won't fix.  I switched to thin pool while setting my sights on overlayfs.  Devmapper with thin pool is not without issues but they're less frequent. I could not reproduce 'no space' on thin pools larger than 100G but I did run into "cannot sta

[2015-06-26 04:23] cyphar commented on #14181
@pmyjavec What is the version of the "older kernel" you booted from?

[2015-06-26 04:27] cpuguy83 commented on #14130
This is maintained in `contrib/init` if you want to submit  PR.

[2015-06-26 04:28] cpuguy83 commented on #14144
I'm personally fine with this.
Labels are benign and do not affect the image or the resulting container.

[2015-06-26 04:30] jgkamat commented on #14130
:+1: will go ahead and do that!

[2015-06-26 04:30] cpuguy83 commented on #14122
@kuc Do you have some spare time to update the relevant docs?

[2015-06-26 04:37] cpuguy83 commented on #14170
Just as a minimal repro:

[code]

Docker is taking "echo" and turning it into `"\"echo\""`... at least on the inspect output.
Adding to 1.7.1 milestone.

[2015-06-26 04:42] pmyjavec commented on #14181
@cyphar `2.6.32-504.23.4.el6.x86_64`

[2015-06-26 04:45] thaJeztah commented on #14176
Oh, that *is* messy, looks like the new tooling either doesn't support Markdown tables at all (which is an extension to Markdown), or this particular type of tables.

I'm still travelling at the moment after DockerCon, and don't have access to my computer right now, so I'll need to check further.

@moxiegirl is this a known issue, and something you're working on already?

[2015-06-26 04:52] ginoledesma commented on #13974
@cpuguy83 I've tested against Docker 1.7.0 with Kernel 4.0.5 and [AUFS@a8c8a84](https://github.com/sfjro/aufs4-standalone/commit/a8c8a849e236d7f7fa121c8344899a796ccf7b8f).

However, I can't seem to replicate the issue using a Linux box with a vanilla kernel + AUFS toolset outside outside of Docker/LXC. I've tried mimicking the steps that Docker performs as specified in [driver/aufs/aufs.go](https:

[2015-06-26 04:54] lostsnow commented on #14181
@cyphar I can not find kernel rpms 2.6.32-504.22.* (<http://mirror.centos.org/centos/6/centosplus/x86_64/Packages/>), Can someone provide it?

[2015-06-26 05:01] ginoledesma commented on #13974
I'm going to try testing against Docker built with the fix in 6578ad9.

[2015-06-26 05:04] cyphar commented on #14181
Hmmm. Okay, so that means we'll have to git bisect with the entire changeset. I'll take a look at this. Can this be reproduced on a stock CentOS 6.6 install?

[2015-06-26 05:12] xylnao commented on #14173
Cyphar, thank you for your comment.

I made a minimum program, say nw.go, to reproduce this strange behavior:
[code]
This program receives a signal SIGSEGV only if it is invoked from a gdb. This behavior must be something to do with the Go runtime or the Linux kernel itself.
[code]

[2015-06-26 05:18] cpuguy83 commented on #14170
Fixed this in #14198

[2015-06-26 05:23] cyphar commented on #14173
@xylnao I'd send this to the Go mailing lists, see what they have to say. I think it's probably a bug in the Go runtime.

[2015-06-26 06:30] ginoledesma commented on #13974
Preliminary testing with Docker 1.7.0 + https://github.com/docker/docker/commit/6578ad90c307c5500a7998819743be88f63ef2b3 doesn't show it's fixed

[2015-06-26 06:43] xiuni commented on #14175
@cyphar , the output:
The host：
`[root@centos-minion share]# id -Z`
`unconfined_u:unconfined_r:unconfined_t:s0-s0:c0.c1023`

`[root@centos-minion share]# ls -ldZ /home/share`
`drwxr-xr-x. root root unconfined_u:object_r:home_root_t:s0 /home/share`

The container：
`[root@4ccce73bed9d share]# id -Z`
`id: --context (-Z) works only on an SELinux-enabled kernel`

`[root@4ccce73bed9d share]# ls -ldZ /ho

[2015-06-26 06:48] bazsi commented on #10150
I would not promote insecure-registry as a solution though. It is a workaround.

[2015-06-26 06:51] michaelsauter commented on #14115
@vagnerzampieri Thanks. I know could use that, but as @asazernik said, it breaks current scripts, and `--user` is not available in 1.6.2, so I can't easily add it to the scripts without breaking functionality for my team mates who are still on 1.6.2. It would be good to have at least one transition version where the default is unchanged.

Besides, I think it is quite reasonable to assume that the

[2015-06-26 07:14] tjdett commented on #14106
I'm pretty sure this affects CoreOS 723.0.0 (coreos/manifest@a197f13a73936c307a8f75f77f4e419be27e0d31) as it uses `--bridge=none` for `early-docker.service` and `--net=host` for `flanneld.service`.

[2015-06-26 07:17] xiuni commented on #14175
I think maybe I known the reason now.
The difference is the SELinux.
My ubuntu system disabled the  SELinux. (getenforce = Disabled)
So the docker actually didn't enable the SELinux, so user in the container can access the mounted directory from host.

Thanks !

[2015-06-26 07:24] mdavranche commented on #13969
See pull request #13981: will be applied in docker/libnetwork.

[2015-06-26 07:24] #13969 closed

[2015-06-26 07:30] mdavranche commented on #13967
See pull request #13980: will be applied in docker/libnetwork.

[2015-06-26 07:30] #13967 closed

[2015-06-26 08:44] kuc commented on #14122
@cpuguy83 Here: https://github.com/docker/docker/blob/master/docs/reference/builder.md#volume ?
I could try to find time to do this in upcoming days...

[2015-06-26 08:49] tompson opened #14199 "http: panic serving @: runtime error: invalid memory address or nil pointer dereference"
uname -a: Linux nepal 3.13.0-52-generic #86-Ubuntu SMP Mon May 4 04:32:59 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

    docker info:
    Containers: 1019
    Images: 2908
    Storage Driver: aufs
     Root Dir: /var/lib/docker/aufs
     Backing Filesystem: extfs
     Dirs: 4949
     Dirperm1 Supported: false
    Execution Driver: native-0.2
    Logging Driver: json-file
    Kernel Version: 3.13.0-5

[2015-06-26 08:49] GordonTheTurtle commented on #14199
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-26 08:52] hustcat commented on #8854
Just like device mapper, [RBD](http://ceph.com/docs/master/rbd/rbd-snapshot/) is thin-provisioned. @simon3z 's work is a good start. I also have an interest in RBD-based graph driver, @simon3z , can you make a PR?

[2015-06-26 08:54] tompson commented on #14199
uname -a: Linux nepal 3.13.0-52-generic #86-Ubuntu SMP Mon May 4 04:32:59 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

    docker info:
    Containers: 1019
    Images: 2908
    Storage Driver: aufs
     Root Dir: /var/lib/docker/aufs
     Backing Filesystem: extfs
     Dirs: 4949
     Dirperm1 Supported: false
    Execution Driver: native-0.2
    Logging Driver: json-file
    Kernel Version: 3.13.0-5

[2015-06-26 08:57] grubin1989 commented on #3285
+1

[2015-06-26 09:03] resouer commented on #12695
@cpuguy83 I noticed this issue earlier when i try to fix fork bomb.

So, #dibs

[2015-06-26 09:03] runcom commented on #14199
@tompson thanks I'm taking a look at it now

[2015-06-26 09:04] themasterchef commented on #12910
In the end I too realised I had done the same thing as @tetron, and forgotten to give my CI bot write access to the repo I was trying to push to. So if anyone else is still having this problem, please do check the write permissions on your problematic repo(s).

One of these days Docker Hub will hopefully improve its access control list, so we only need to set this up once, rather than once per rep

[2015-06-26 09:43] Kosta-Github opened #14201 "documentation of stream format for `GET /containers/(id)/logs`"
Is there a documentation/specification available about the stream format returned by accessing the `GET /containers/(id)/logs` endpoint of the REST API?

It looks like each line is prefixed with `8 bytes` of binary data, which might encode line length, a time code, line codes, char offsets, or ... but I haven't found any documentation about that format (at least not in the [docker remote api v1.19

[2015-06-26 09:43] GordonTheTurtle commented on #14201
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-26 09:52] sitamet commented on #4036
I still have errors
[code]

And I am running:
[code]

[code]

it is a dynamic build:
[code]

And the rpm I use are:
[code]

What am I doing wrong :(

[2015-06-26 10:06] mjsalinger commented on #13885
Tail of docker.log from a recent incident:

[code]

[2015-06-26 10:28] eckz commented on #14083
Hi,

I've create a Vagrant setup to test the docker multi host networking setup,
Its at https://github.com/eckz/docker-multihost-example

I hope that can help someone to test it and give feedback, or at least as a setup example.

This is some feedback, I hope it helps:
* Configuring the neighbor_ip it's not clear, (do I need to specify only the first node?, a random node?).
Couldn't be easier just

[2015-06-26 10:59] meeee opened #14203 "Starting container fails with 'System error: read parent: connection reset by peer'"
On our CI server, we run tests in Docker containers using docker-compose. We link 2-15 containers during one run. We ensure that test jobs running concurrently have different docker-compose project names.

Since we upgraded to Docker 1.7.0 (from 1.6), docker-compose to 1.3.1 (from 1.2), and started killing containers instead of stopping them (faster, remove them anyway), we twice had containers fa

[2015-06-26 10:59] soupdiver commented on #6999
+1

[2015-06-26 11:08] graemian commented on #6999
+1

[2015-06-26 11:23] antonbormotov opened #14204 "Pulling image fills disk/image size is huge, version 1.7.0"
I am trying to pull image from docker hub repository.
(AWS, Ubuntu 14.04, c3.large, 40GB disk, docker version 1.7.0)
Pulling takes time, finishes and uses 38GB of dosk space for one image only.
I thought, that it is problem of repository.
I re-created automated build and tried to specify `docker pull repository/image:latest`, but it didn't help.
After pulling docker service CPU usage is 40-50% wit

[2015-06-26 11:23] GordonTheTurtle commented on #14204
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-26 11:23] henrysher commented on #14036
i have prepared a PR for your proposal #14202, try to add two new options in `exec` command, similar usage to `run` command, also with some integration-cli tests.
[code]
The environment variables provided in `exec` command will not clear the variables directly in the container, but replace the existing one or append for new one, as the func "**ReplaceOrAppendEnvValues**" re-used here (same to `run

[2015-06-26 11:26] rhvgoyal commented on #12606
@elephantfries

Ok, lets close it. Repoen it again once we have more concrete data we can go after and fix things.

@vbatts, can you please close this.

[2015-06-26 11:36] tompson commented on #14199
meanwhile I switched back to docker 1.6.2 which solves the problem

[2015-06-26 11:58] dkanbier commented on #13463
Thanks for the suggestion, worked perfectly. I had the same issue when I migrated from using firewalld to iptables on CentOS 7.  Before the migration containers on the same host could communicate through the docker0 bridge. After switching to iptables they no longer could.

I actually think this was also the same problem for this user:

https://github.com/docker/docker/issues/10450

[2015-06-26 12:20] vdemeester commented on #14176
@thaJeztah See https://github.com/docker/distribution/pull/659, it's just that blackfriday (used by Hugo, used for the docs) is not working the same as rdiscount use by github for example. I started to look at this in the documentation on ``docker/distribution``. It's not that bad to fix (just alignement) but we probably should do a pass on all the docs to fix it.

[2015-06-26 12:57] yoanisgil commented on #12910
I came to work this morning, ssh in to my server, ran:

    $ docker push crakmedia/skeleton-service:blue
     .....

and everything worked just fine. It looks like Docker Hub was not properly working yesterday.

[2015-06-26 12:59] duglin commented on #14144
Seems ok to me too.  Sure would be nice if there was a way to add a label outside of `docker build` too. Something like: `docker image label foo=bar`  but that's a bigger discussion ( https://github.com/docker/docker/issues/13509 )

[2015-06-26 13:02] moxiegirl commented on #14176
@vdemeester I'll address that today and cherry pick it forward. Thank you for filing the issue.

[2015-06-26 13:04] duglin commented on #14191
If we had https://github.com/docker/docker/pull/9176 you could then do:
`docker build -e GIT_DESCRIBE="$(git describe)" -tag tag .`
Would that be ok?

[2015-06-26 13:15] jophofste commented on #14181
My install was:
<pre><code>
kernel:
2.6.32-504.23.4.el6.x86_64

docker version:
Client version: 1.6.2
Client API version: 1.18
Go version (client): go1.4.2
Git commit (client): 7c8fca2/1.6.2
OS/Arch (client): linux/amd64
Server version: 1.6.2
Server API version: 1.18
Go version (server): go1.4.2
Git commit (server): 7c8fca2/1.6.2
OS/Arch (server): linux/amd64
</code></pre>
It generates panics.

Fi

[2015-06-26 13:22] amalagaura commented on #9862
I am also facing this issue. Our server spontaneously rebooted multiple times in production under load. The stack traces are similar. We have to look at not using docker in production. It is unfortunate, but the activity on this bug and our own experience makes us see this is over 6 months old with very little attention given.

[code]

[2015-06-26 13:42] bberberov commented on #14035
@rtrauntvein If you succeed rolling back, please share how you did it.  My docker 1.6.2 is still broken on Ubuntu 14.04.2 LTS.

[2015-06-26 13:44] herrphon commented on #14191
sure, that would be sufficient - but I guess environment vars during build time can be dangerous as one can build different versions of the same dockerfile... and hence only some limited things should be allowed...
as far as I can summarize the discussion in #9176, so I guess this general purpose solution will probably never get merged...

[2015-06-26 13:46] duglin commented on #14191
Still keeping my fingers crossed  :-)

[2015-06-26 14:01] rhvgoyal commented on #9862
@amalagaura

This is a different issue then reported in this thread. Looks like this has been reported in the past.

https://www.redhat.com/archives/dm-devel/2015-May/msg00113.html

A fix is available in the mail thread.

I will keep an eye on this and ping the right people to bring it to their notice.

[2015-06-26 14:06] rhvgoyal commented on #9862
@amalagaura

You seem to be using rhel 7.1 kernel. Did you open a ticket for this issue?

[2015-06-26 14:16] rhvgoyal commented on #9862
I have opened a bug report to keep track of this issue.

https://bugzilla.redhat.com/show_bug.cgi?id=1236092

[2015-06-26 14:17] amalagaura commented on #9862
Sorry for the finger pointing. It does look like something we need to take to the linux kernel and since we are running in production we really should have proper support. I apologize for using this to vent. I will keep track of that.

[2015-06-26 14:21] vtolstov commented on #14022
+1 using latest docker release.

[2015-06-26 14:26] mrjana commented on #14173
@xylnao @cyphar The `fmt` package handles all `nil` pointer references inside a `fmt.*printf` call to generate a `<nil> string. It does this by actually referencing the pointer even if it is `nil` and let the kernel generate a `SIGSEGV` and use the `panic/recover` architecture to catch the signal and recover from it just in this case. The following is the relevant go runtime code which actually do

[2015-06-26 14:29] jmzwcn commented on #12695
Sure, thank you,@resouer!

[2015-06-26 14:39] Slamper opened #14206 "Docker tries to download image that has already been pulled"
When I try to start a container with the ubuntu:latest image I get:
[code]

There is no other container with the name "test" so the error message is not correct
I already tried doing "docker rmi ubuntu:latest" and repulling it but that doesnt fix the problem.
I don't know how that bug occured so I can't provide steps for reproduction

docker version: Docker version 1.6.2, build 7c8fca2
docker info

[2015-06-26 14:39] GordonTheTurtle commented on #14206
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-26 14:47] cyphar commented on #14181
Hmm. Okay, so one of the following commits causes the issue then. I'll bisect this over the next few days and get back to you.

[code]

[2015-06-26 14:50] igor-pinchuk commented on #14035
That hit me as well, fortunately on staging server only.
Docker was fixed by rolling back to 1.5.0 (apt-get install lxc-docker-1.5.0)

[2015-06-26 15:10] umiddelb commented on #14184
Hi

this issue isn't related to the RPi only. I'm getting this on several other ARMv7 devices as well
- Scaleway C1
[code]
- ODROID C1 (aufs / `Linux armv7 3.10.80 #2 SMP PREEMPT Mon Jun 22 10:36:12 CEST 2015 armv7l armv7l armv7l GNU/Linux`)
- Utilite Pro (aufs / `Linux armh0 3.14.29+ #4 SMP Thu Jun 11 13:33:42 CEST 2015 armv7l armv7l armv7l GNU/Linux`)
- Cubox 4x4 (aufs / `Linux cbxi 3.14.29+ #7

[2015-06-26 15:27] Stelminator commented on #14035
@bberberov I ran `rm -rf /var/lib/docker` to nuke images/containers/metadata after downgrading to 1.6.2.

[2015-06-26 15:45] cyphar commented on #14173
@mrjana We can close the issue sure, but I feel like this deserves some discussion on the Go mailing list. It's weird that a Go binary doesn't play well with gdb.

[2015-06-26 16:00] dpgeekzero commented on #14185
@mrjana FYI: I downgraded to Docker version 1.6.2, build 7c8fca2 this morning so I can get some work done.  All works fine after a reboot.

[2015-06-26 16:00] mrjana commented on #14173
@cyphar I am not saying this should not be discussed in Go mailing list. But the way gdb works is that when you run a program inside gdb the program is an inferior process of gdb and with `ptrace` gdb asks  the kernel that all signals generated for the inferior process to be sent to gdb instead. This is how `ptrace` works and hence the the inferior processes doesn't get to have any say in this unl

[2015-06-26 16:11] LK4D4 commented on #12606
Closing

[2015-06-26 16:11] #12606 closed

[2015-06-26 16:15] LK4D4 commented on #14199
@runcom I think it is pretty possible with some luck :) `monitor` initialized not immediately.

[2015-06-26 16:32] runcom commented on #14199
@LK4D4 I'm not lucky then :(

[2015-06-26 16:39] greg0ire commented on #12002
Personally, I had to manually edit the `/lib/systemd/system/docker.service` and get rid `-H fd://` option. I have no idea what I am doing though.

[2015-06-26 16:44] Jean85 commented on #12002
I also had to edit `/lib/systemd/system/docker.service`, but just to edit the options.
That's because upstart implementations uses `/etc/default/docker.conf` to inject options as `DOCKER_OPTS`. Systemd implementations instead lacks something alike, but I think it merits an other issue about it.

[2015-06-26 16:55] rtrauntvein commented on #14035
I did this:

[code]

[2015-06-26 17:19] vagnerzampieri commented on #14115
@cpuguy83 +1 ... thanks :)

[2015-06-26 17:23] jgkamat commented on #14083
@eckz
I think the neighbor_ip needs to be configured on all hosts other than the first one, pointing to the ip address of the first node
If --default-network is set, it will be created automatically if not already present
You could run your kv-store directly on the host, or run a second docker daemon (with normal settings) if you wanted in the meantime
I think the behavior you are looking for is `

[2015-06-26 17:24] cpuguy83 commented on #14115
It means I intend to look at this to see if it's really a breakage and fix for 1.7.1 if the break was unintentional :)

[2015-06-26 17:31] LK4D4 commented on #14115
@cpuguy83 This is definetely a bug. You should set `processConfig.User` to `container.Config.User` if `config.User == ""` in `ContainerExecCreate`.

[2015-06-26 17:49] Ankitmaroo opened #14207 "Container Timeout not working as expected"
Hi, I am trying to timeout the docker run command but it doesnt seem to work. It returns a proper exit status but the container itself doesnt exit till the command inside finishes.

$$ timeout 2s docker run busybox sh -c 'sleep 5 && echo end'
end
$$ echo $?
0

Any thoughts whats happening and what i could be doing wrong?

[2015-06-26 17:49] GordonTheTurtle commented on #14207
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-26 17:58] dredknight commented on #10769
Yes I fixed it.
It is super dumb  thingy!

Check your timezone settings. After you fix them reboot and it all works !!

Cheers!

[2015-06-26 18:00] lexandro opened #14208 "Dockermon - Javascript Web UI/angular implementation for Docker"
Hi!

I'd like to add another ui implementation based on javascript and angular:
https://github.com/lexandro/dockery

Also available as chrome app:
https://chrome.google.com/webstore/detail/dockery-light/cefhojablgaokgccloekpocgmffgecmm?utm_source=chrome-ntp-icon

docker version:
Client version: 1.7.0
Client API version: 1.19
Go version (client): go1.4.2
Git commit (client): 0baf609
OS/Arch (client

[2015-06-26 18:00] GordonTheTurtle commented on #14208
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-26 18:01] viranch commented on #14035
Hey FYI @bberberov @rtrauntvein @Stelminator I didn't have to nuke `/var/lib/docker`. I just did:

[code]

[2015-06-26 18:13] eb-dteixeira commented on #14185
:+1:

@dpgeekzero Having exactly the same problem. Reverted to both 1.6.2 (1.5 on my older machines) and everything started working.

Host can access every container and their services but I'm not able to ping any linked containers from another.

[2015-06-26 18:18] dchen1107 opened #14209 "1.7 docker release forces to use docker0 bridge"
[code]

[code]

I am validating docker 1.7 release, and running into a serious issue here.

My docker daemon is configured to use different bridge, and disable IP masquerading and iptables rules from docker daemon:

[code]

I also manually removed docker0 bridge from my node:

[code]

Then everytime I restart docker, I found docker0 bridge is created, and docker-proxy processes are invoked:

[code

[2015-06-26 18:18] GordonTheTurtle commented on #14209
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-26 18:19] jakirkham opened #14210 "boot2docker Windows running `docker login` freezes"
When trying to login to Docker Hub outside the VM (using Boot2Docker Start), the terminal freezes when trying to enter the username. This forces the user to enter the credentials inside the VM (e.g. `boot2docker ssh` then `docker login`). However, this results in the irritating problem of having to reenter them if the VM needs to be scrapped.

[2015-06-26 18:19] GordonTheTurtle commented on #14210
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-26 18:19] #14210 closed

[2015-06-26 18:19] dchen1107 commented on #14209
cc/ @thockin @bgrant0607 @brendandburns

[2015-06-26 18:20] jakirkham commented on #14210
Sorry, wrong issue tracker.

[2015-06-26 18:29] dchen1107 commented on #14209
[code]

[2015-06-26 18:32] itwars commented on #14184
I try it on both RaspberryPI B+ and B2 ARMv6 and ARMv7 : same issue! So it's an ARM bug...

[2015-06-26 18:37] calavera commented on #14130
See #14130 for more information

[2015-06-26 18:40] Ankitmaroo commented on #14207
Additonal info:

# docker -v
Docker version 1.6.0, build 4749651

# uname -a
Linux ilmn-tt-mb1 2.6.32-504.el6.x86_64 #1 SMP Wed Oct 15 04:27:16 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

# docker info
Containers: 49
Images: 1004
Storage Driver: devicemapper
 Pool Name: docker-253:0-12059614-pool
 Pool Blocksize: 65.54 kB
 Backing Filesystem: extfs
 Data file: /dev/loop0
 Metadata file: /dev/loop1
 D

[2015-06-26 18:52] icecrime opened #14212 "Rely on Open Containers as sole execution driver"
# Description

As indicated by our [roadmap](https://github.com/docker/docker/blob/master/ROADMAP.md), we want to split out the Runtime part of the Engine, and have it call out to a separated binary. Today, our best candidate for this is [`runc`](https://github.com/opencontainers/runc).

# How to

- [ ] Remove the [`execdriver`](https://github.com/docker/docker/blob/master/daemon/execdriver)
mecha

[2015-06-26 18:52] GordonTheTurtle commented on #14212
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-26 18:53] icecrime opened #14213 "Volume extensions: from experimental to stable"
# Description

Volume plugins have recently been [merged](https://github.com/docker/docker/pull/13161) as an
experimental feature. We must gather real world use cases and user feedbacks to determine if and
how should this feature be "promoted" to stable.

# How to

- [ ] Determine the predominant deployment model (plugins as containers?)
- [ ] Determine if better introspection is necessary for Swa

[2015-06-26 18:53] GordonTheTurtle commented on #14213
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-26 18:56] icecrime opened #14214 "Top-level volume management"
# Description

As indicated by our [roadmap](https://github.com/docker/docker/blob/master/ROADMAP.md), we want a better management for volumes. There has been [good attempts](https://github.com/docker/docker/pull/8484) toward this in the past but it wasn't a priority, and the volume subsystem needed a refactoring.

# How to

We need a top-level volume management command which takes its inspiration

[2015-06-26 18:56] GordonTheTurtle commented on #14214
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-26 19:00] icecrime commented on #13023
Closing this, everything is up on https://experimental.docker.com! Thanks @jfrazelle :+1:

[2015-06-26 19:00] #13023 closed

[2015-06-26 20:04] #14130 closed

[2015-06-26 20:07] ankushagarwal commented on #12002
This is not a `docs/only` issue. This is an issue with the `docker-lxc` package for 15.04. The package install should take care of enabling docker daemon in systemd

[2015-06-26 20:08] vdemeester commented on #14206
Hi @Slamper,

Without more information of commands like ``docker ps -a``, it's really difficult to know if it's actually a bug or just something that you missed. From the message, it seems you have 18 containers and 62 images (I would think layers :)). I would think that ``docker ps -a | grep test`` would return you something. (you could try ``docker rm test && docker run -ti --name test ubuntu /b

[2015-06-26 20:11] thockin commented on #14209
The proxy processes are probably right, but the bridge recreation HAS to be
a bug.

On Fri, Jun 26, 2015 at 11:30 AM, Dawn Chen <notifications@github.com>
wrote:

[2015-06-26 20:15] thaJeztah commented on #13097
@maxmeyer no problem. next time you're having issues with Docker Hub, report those at support@docker.com because those issues are not handled through GitHub

[2015-06-26 20:17] vdemeester commented on #14207
Hi @Ankitmaroo,

From the man page of timeout :

This means by default it sends ``TERM`` to the docker cli command, which probably does not handle it. This means that ```timeout -s 9 2s docker run busybox sh -c 'sleep 5 && echo end'`` should do what you want.

[code]

I think you're problem / question would fit more in forums or chats, like :

* In the #docker IRC channel on freenode
* On https://

[2015-06-26 20:19] calavera commented on #14213
I don't think this really matters. We did a good job leaving this up to the plugin implementer.

I'd like to have a few use cases to understand this better, but we kind of agreed at the maintainers summit that it would be good to send more information to the plugins in the requests. Two things that we thought would be useful where the container id and (maybe) the daemon endpoint.

maybe, if we hav

[2015-06-26 20:22] dchen1107 commented on #14209
cc/ @vishh

[2015-06-26 20:52] kkebb opened #14215 "Confusing message when specifying resource limits"
# BUG REPORT INFORMATION

Use the commands below to provide key information from your environment:

```docker version:```
Client version: 1.7.0
Client API version: 1.19
Go version (client): go1.4.2
Git commit (client): 0baf609
OS/Arch (client): darwin/amd64
Server version: 1.7.0
Server API version: 1.19
Go version (server): go1.4.2
Git commit (server): 0baf609
OS/Arch (server): linux/amd64

```doc

[2015-06-26 20:52] GordonTheTurtle commented on #14215
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-26 20:52] mavenugo commented on #14209
@dchen1107 @thockin I see you have 2 docker daemon's running
[code]
one with the external bridge that is not docker0 and iptables/ipmasq disabled. The other without.
docker0 will be created by default if --bridge is not specified. But also it seems that both the docker daemons are bound to the same docker.sock ?

[2015-06-26 20:53] asssaf opened #14216 "docker stats blocking when container is stopped"
With docker 1.7, calling the stats API with stream=0 on a stopped container blocks:

curl 'https://docker:2376/v1.19/containers/532e58c97fee/stats?stream=0'

Interestingly, using the cli with --no-stream doesn't block.

This works fine for a running container.

core@localhost ~ $ uname -a
Linux localhost 4.0.5 #2 SMP Thu Jun 25 01:57:28 UTC 2015 x86_64 Intel(R) Xeon(R) CPU E5-2680 0 @ 2.70GHz Genu

[2015-06-26 20:53] GordonTheTurtle commented on #14216
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-26 21:00] dchen1107 commented on #14209
Yes, I just noticed this too. The problem is that every time I run "service docker start", it starts both for me:

[code]

[code]

[code]

[2015-06-26 21:02] dchen1107 commented on #14209
Ok, let me re-run my test from the scratch and update it.

[2015-06-26 21:03] tkiapril commented on #14184
I also can replicate this issue on ODROID XU3-Lite with ALARM.

[code]

[2015-06-26 21:08] asssaf commented on #14216
This was reported in https://github.com/docker/docker/issues/12529 but was that was prior to the 'stream=0' parameter support.

[2015-06-26 21:13] icecrime commented on #14115
@cpuguy83 Do you take that one?

[2015-06-26 21:19] dchen1107 commented on #14209
Ok, I killed all docker processes on the node, and run service docker restart. Then I noticed that docker process is started properly initially then died, re-run service docker restart a couple of times, eventually it up. I filed an issue docker/docker/issues/13850 against 1.7-rc2 before which is closed. The difference this time is that no error log in docker.log complaining graph storage driver.

[2015-06-26 21:34] stevvooe commented on #14136
@timbot This sounds like an issue with the hub. Please file an issue with https://support.docker.com.

[2015-06-26 21:35] #14136 closed

[2015-06-26 21:40] devshorts commented on #12489
Also seeing this behavior :+1:

[2015-06-26 21:52] Ankitmaroo commented on #14207
Thank you. I understand it now. Will take care about posting too.

[2015-06-26 21:52] #14207 closed

[2015-06-26 21:54] dchen1107 commented on #14209
Ok, on another test node, I saw two docker daemons running too, which makes me think about the race at docker startup sequence which might be introduced in our own setup. But I believe the root cause is due to long startup latency and high failure rate at docker startup time.

[code]

I conduct a simple test by looping service docker restart for 10 times, the failure rate is 40% for me:

[code]
He

[2015-06-26 22:07] calavera commented on #14115
@cpuguy83, @LK4D4, @icecrime review #14218, please.

[2015-06-26 22:16] ankushagarwal commented on #12786
The docker manpages are distributed with the docker packages for most systems git style. (`man docker-run`) and the `--help` is sufficient for short reference. So I think that this can be closed. @elliot-labs the `man` command can be always be run inside a container 😏

So, can we go ahead and close this issue @thaJeztah @moxiegirl ?

[2015-06-26 22:24] ankushagarwal commented on #10709
This is documented here : http://docs.master.dockerproject.org/reference/commandline/cli/#images
So I guess this issue can be closed

[2015-06-26 22:27] cpuguy83 commented on #14115
Thanks guys. Been on flights all day.

[2015-06-26 22:38] ankushagarwal commented on #10650
@unclejack : I see it documented here : https://github.com/docker-library/docs/tree/master/centos#package-documentation , can this issue be closed?

[2015-06-26 22:41] mavenugo commented on #14209
@dchen1107 I think we should close this issue because the docker daemon is working just as expected when it comes to setting external bridge (instead of docker0). Since you have 2 docker daemon's running with 1 of them with default settings, the docker0 bridge is created as expected.

am not sure of the use-case that you are trying to solve. I would recommend you to fix the setup and make it work

[2015-06-26 22:47] stevvooe commented on #13782
Discussed with @calavera. We may want to start this effort by modifying this recommendation to the contributor documentation.

[2015-06-26 22:57] mrjana commented on #14037
@unclejack as per @ibuildthecloud the socket hang issue is seen even in 1.6. So why do you think this is a regression in 1.7? I do agree that the txqlen problem is a regression in 1.7 and hence it should be fixed in 1.7.1

[2015-06-26 23:07] mbentley opened #14219 "Unable to start containers - 'no such directory for memory.swappiness'"
Description of problem:
When running the latest experimental release, I am unable to start containers as I receive an error:
`[8] System error: no such directory for memory.swappiness.`

`docker version`:
[code]

`docker info`:
[code]

`uname -a`:
[code]

Environment details (AWS, VirtualBox, physical, etc.):
Debian Sid VM in VirtualBox (w/kernel from Debian Jessie)

How reproducible:
Every time w

[2015-06-26 23:21] ginoledesma commented on #13974
OK, I can confirm that Docker 1.7.0 @ https://github.com/docker/docker/commit/6578ad90c307c5500a7998819743be88f63ef2b3 fixes this problem. Thanks!

[2015-06-26 23:21] #13974 closed

[2015-06-26 23:28] coopernurse opened #14220 "single file mounts not respected by lstat and readlink in container"
## Description of problem:

Using -v to bind mount a file into a container does not appear to modify the behavior of lstat or readlink if the target path on the container already exists and is a symbolic link.

This causes programs that use these system calls to continue seeing the file present in the container instead of the file on the host system.

In our case this caused Java processes to inco

[2015-06-26 23:40] moul commented on #14184
Same issue on Scaleway

Success with docker-1.6.2:

[code]

Failure with docker-1.7.0 (same host + same session):

[code]

---

The docker binary was built using this script: https://github.com/armbuild/docker-armhf/blob/master/build.sh

[code]

[2015-06-26 23:52] dchen1107 commented on #14209
Ok, we can close the issue reported here, but such high failure rate of docker startup is really problematic. I will file a separate issue on it though.

[2015-06-27 01:21] yasker commented on #14213
As per discussion at contributor summit, I think providing daemon endpoint probably a little over-doing it.

But I'd like to see we can pass some metadata to plugin, e.g. volume size or base image(which would be used as base for volume creation), something similar to label case, to configure the behavior of the plugin.

[2015-06-27 01:30] francisbouvier opened #14221 "Attach stdout of one container to stdin of another (pipe-like)"
Is it possible now ?
I believe it's not, at least not at the daemon level.

The idea is to have a built-in pipe-like feature to easily chain micro-services:
[code]
With the exact same result as local:
[code]

[2015-06-27 01:30] GordonTheTurtle commented on #14221
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-27 02:53] duglin commented on #14221
Not near my computer but did you try piping one docker command into the other?

docker run ... | docker run ...

-Doug

[2015-06-27 04:27] dustymabe opened #14223 "docker.io dns lookups on every invocation of docker"
Recently I was setting up docker in a completely *disconnected* environment and I noticed docker commands were running very slowly. Turns out every time you run docker it hits docker.io. I know we need to contact docker.io sometimes but it should really only happen when necessary and not when doing things like docker --help.

Is anyone aware of this issue?

[code]

[2015-06-27 04:27] GordonTheTurtle commented on #14223
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-27 04:51] ankushagarwal commented on #14221
@francisbouvier
[code]

This seems to work

[2015-06-27 04:57] ankushagarwal commented on #14215
From the docs : https://docs.docker.com/reference/run/#runtime-constraints-on-resources
[code]

The memory-swap options lets you specify the memory + swap space (Swap space in Linux is used when the amount of physical memory (RAM) is completely used up), so swap should be greater than memory

[2015-06-27 05:06] ankushagarwal commented on #14204
1. How did you install docker?
2. Can you provide the list the steps to reproduce the issue?
3. Can you post the output from `sudo du -sh /var/lib/docker/*`
4. You are using devicemapper as a storage driver, can you try using aufs?

[2015-06-27 06:17] Evalle commented on #14221
Yes, I've just check it out, it's working.

[2015-06-27 06:23] Slamper commented on #14206
@vdemeester
The creation oft the container results in a container but that container cannot be started and seems broken.
Removing and recreating it has the same result.
But I will try to ask someone on the forums thx.

Also I dont't geht why removing ubuntu:latest and then pulling it again shows already exists. It seems like it didn't remove the relevant layers.

[2015-06-27 06:28] Evalle commented on #14223
Hi, it's not working for me.
Docker version 1.7.0, build 0baf609,

[2015-06-27 09:13] ramonvanstijn commented on #14160
I run into the same problem after upgrading from 1.6.2 to 1.7.0 on Ubuntu 14.04.2 LTS
[code]
[code]
The docker daemon logs:
[code]
I was tempted to just do a +1 but I thought it was relevant the problem occurs also after updating docker and the debug could be useful.

[2015-06-27 09:50] neovea opened #14224 "Udev sync is not supported -> ubuntu server 14.04"
Hi,
I found a lot of different issues having the same message, but cannot figure out on my dedicated provided server (ubuntu server 14.04).
I first installed docker via apt-get, in root. I had a lot of trouble with docker-compose which was not usable.
When I get docker-compose working, I had an issue with client and server versions which were not the same. I finally used the script given on docker

[2015-06-27 09:50] GordonTheTurtle commented on #14224
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-27 10:28] ankushagarwal commented on #14224
Can you do a fresh install of docker on a fresh instance of Ubuntu 14.04. It looks like the apt-get install of docker polluted the environment. Following the installation instructions here should work : https://docs.docker.com/installation/ubuntulinux/

[2015-06-27 10:35] ankushagarwal commented on #14223
@dustymabe, can you provide more information, following @GordonTheTurtle's instructions?

[2015-06-27 10:39] KDGundermann commented on #10031
I updated my system to latest release:
HP DL-380 G7
Ubuntu 14.04.2 LTS
Kernel 3.13.0.55
Virtualbox 4.3.10-dfsg-1ubuntu5  r93012
lcx-docker-1.7.0

System completly hangs starting an VirtualBox machine when a docker image is running.

[2015-06-27 10:46] duglin commented on #14221
I'm going to close this issue as I think the piping solution works - if I'm mistaken please reopen it.

[2015-06-27 10:46] #14221 closed

[2015-06-27 14:58] marcellodesales opened #14227 "Can't pull images after Upgrading: Docker Engine 1.6.2 to Docker Engine 1.7.0 on RHEL 7"
Hi there,

I just got a new machine and decided to upgrade docker to the latest today...

Problem
--------

I did a simple smoke test to pull the busybox and it failed with `Error pulling image (latest) from busybox, operation not supported`, after upgrading from Docker Engine 1.6.2 to Docker Engine 1.7.0.

One important point here is that I had other 2 images only in this host.

[code]

The error

[2015-06-27 15:19] saturnism commented on #12827
pretty similar - but should work in ONBUILD too :)

[2015-06-27 15:28] dustymabe commented on #14223
@ankushagarwal There is more info below. I am running this on a virtual machine (libvirt/kvm). I would not expect the docker to connect to docker.io anytime it doesn't need to.

[code]

[code]

[code]

[2015-06-27 17:27] dustymabe commented on #14223
@Evalle You seem to be right. Upgrading from docker-1.6.0-3.git9d26a07.fc22.x86_64 to docker-1.7.0-4.git5b82e1d.fc22.x86_64 seems to resolve the issue. Would be nice to trace down exactly what commit *fixed* this for future reference.

docker-1.6.0-3.git9d26a07.fc22.x86_64

[2015-06-27 17:33] seanmcl commented on #2174
Same issue with docker 1.6.2 on Centos 7.

[2015-06-27 17:58] francisbouvier commented on #14221
@duglin
Yes the piping solution works but at the client level: the stream is retrieved (then send) by the docker client and the pipe is done in your shell.

That means:
- If your are accessing a remote docker agent the stream will be process through the network
- if you close your shell you close the pipe too

My idea is to have something reliable and permanent in order to pipe long term micro-ser

[2015-06-27 19:28] ankushagarwal commented on #14227
Does this happen only after upgrade or even if you do a fresh install of 1.7 on a RHEL 7?

[2015-06-27 20:40] fjmk commented on #14035
I ma running docker 1.7.0 build 0baf609 on my 14.04.2 LTS workstation now.

It was not starting with the message:
[code]
and it is working again.

Can I expect problems in the future?

[2015-06-27 21:11] maxmeyer commented on #13097
Ok. Thanks for the information. Is there any info about this on docker hub? I was not aware that I need to report issues there.

[2015-06-27 22:03] marcellodesales commented on #14227
@ankushagarwal not sure what the difference is, but I just downloaded 1.7, replaced the symlinks for the "docker" bin and started the daemon again...

Is there anything else I would be supposed?

[2015-06-27 22:09] ankushagarwal commented on #14227
There was this thread a while ago about RHEL 7 adding some custom options (regards to the registry) to the docker binary : https://groups.google.com/forum/?fromgroups#!searchin/docker-user/Docker$20on$20RHEL$207/docker-user/uBs2__ELFe0/e8J6dNHvLr0J

Can you post the contents of `/etc/sysconfig/docker`

[2015-06-27 22:11] ankushagarwal commented on #14227
Can you also try
[code]

[2015-06-27 22:11] lesgrossman commented on #14024
Is there a manual fix to the docker 1.7 on centos 6.6. issue?  at least until 1.7.1. is out

Also, not trying to rush 1.7.1 but does anyone know of the proposed release date?

[2015-06-27 22:14] ankushagarwal commented on #14227
Or
[code]

[2015-06-27 22:19] DaveBlooman commented on #14174
Would be good for us enterprise users still on 6 to have this resolved soon.

[2015-06-28 00:33] cgwalters commented on #10180
Downstream bug: https://bugzilla.redhat.com/show_bug.cgi?id=1213602

[2015-06-28 01:28] sporkmonger commented on #13337
Not sure if this helps w/ tracking down root cause or not, but thought I'd toss it out there as something to investigate.

I got an error similar to this after experimenting w/ setting up SkyDNS as the first nameserver in `/etc/resolv.conf`. Since SkyDNS was running in a container itself, there was a period during start-up where that first name server wouldn't be running and would therefore always

[2015-06-28 03:57] antonbormotov commented on #14204
Hello,

1. I install docker using `sudo apt-get -y install lxc-docker-1.7.0`
(If be more specific, using shell script https://get.docker.com/ubuntu/ which does action above)

2. Steps to reproduce issue:
A) Deploy new instance in AWS, even t2.micro is enough.
B) Install docker 1.7
C) docker login
D) docker pull myrepository/imagename
It is pulling image until disk is full, or almost full.

3. I wi

[2015-06-28 04:08] icecrime opened #14230 "Panic on invalid port syntax"
A typo in a compose file (had port specification `5601;5061`) got me a daemon-side panic:

[code]

[2015-06-28 04:08] GordonTheTurtle commented on #14230
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-28 07:19] marcellodesales commented on #14227
@ankushagarwal I could successfully build another machine and run 1.7 and the reason that I found is that the /var/lib/docker is mounted in a cloud disk over `nfs`...

Based on the same base OS template I have, I got a problem regards the existence of the `devicemapper` directory... According to https://github.com/docker/docker/issues/14035#issuecomment-113533795, removing that would make it work.

[2015-06-28 07:21] marcellodesales commented on #14227
@ankushagarwal, I will be closing this and if this is NOT a feature, we should open a new issue...

[2015-06-28 07:21] #14227 closed

[2015-06-28 07:26] ankushagarwal commented on #14204
Hey @antonbormotov ,
Can you try installing using the instructions here : https://docs.docker.com/installation/ubuntulinux/
It boils down to running
[code]
It eventually does `apt-get -y install lxc-docker-1.7.0`, but also sets up a lot of things (aufs for example)

[2015-06-28 07:51] antonbormotov commented on #14204
I see, thanks @ankushagarwal, so, I will try and let you know.

[2015-06-28 07:55] ankushagarwal commented on #14230
#dibs

[2015-06-28 08:00] salimane commented on #14042
:+1:

[2015-06-28 08:10] dimastopel commented on #13697
Sorry for the late reply on this

@NathanMcCauley

After researching this for some time I agree that PAM looks as a great way to get "pluggable" behavior with a relatively low effort. In addition, numerous existing PAM modules can be used OOB.

It also became clear to me that adding generic PAM support to Docker is a superior task than adding a vanilla Kerberos support. Specifically with Kerberos,

[2015-06-28 10:45] umiddelb commented on #14184
i386 (another 32bit platform) doesn't seem to be affected by this issue

[2015-06-28 10:53] #14206 closed

[2015-06-28 11:10] unclejack commented on #14037
@mrjana I was just saying it's a regression because @ibuildthecloud didn't run into it with older releases.

[2015-06-28 11:36] lexandro commented on #14208
Extra info added

[2015-06-28 11:54] neovea commented on #14224
Hi, how can I remove everything which was installed via the script ?

[2015-06-28 13:08] m1keil commented on #14204
We start hitting this issue as well.
It looks like the script located here: `https://get.docker.com/ubuntu/` does not include aufs related installs. This cause docker to fallback to `devicemapper`.

The script at `https://get.docker.com/` on the other hand includes it.

[2015-06-28 13:20] cpuguy83 commented on #14036
hmm... Not sure I see the technical reason to actually include this.

docker exec is a hack to break into a container.
It's purposefully designed to put you in the exact env as the container was started with.

[2015-06-28 13:20] #13786 closed

[2015-06-28 13:54] thaJeztah commented on #13097
Actually, good question. I think it's there, but will have to look if it needs to be more prominent :-)

[2015-06-28 14:05] ierceg commented on #3285
+1

[2015-06-28 14:32] itwars commented on #14184
Huuummm 32bit only plateform .... Interessing!

[2015-06-28 15:19] ankushagarwal opened #14232 "Remove the script at https://get.docker.com/ubuntu/"
People are using `https://get.docker.com/ubuntu/` to install docker and end up with problems because it does not install aufs (Example : https://github.com/docker/docker/issues/14204). https://get.docker.com/ubuntu/ should just redirect to `https://get.docker.com/`, so that people install docker on ubuntu correctly.

CC : @moxiegirl @thaJeztah @jfrazelle

[2015-06-28 15:19] GordonTheTurtle commented on #14232
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-28 15:26] ankushagarwal commented on #14224
Follow the instructions here  : https://docs.docker.com/installation/ubuntulinux/#uninstallation

[2015-06-28 15:32] thaJeztah commented on #14232
Hm, that's not the best experience, no. Wondering;

- Is there a specific reason for that script to exist separately?
- Did we actually *document* that URL, or is it just something people discovered

[2015-06-28 15:39] ankushagarwal commented on #14232
I don't see it anywhere in the docker/docker repo. I grepped the internet (using google) and the only reference I see is stackoverflow and github issues

[2015-06-28 15:44] maxmeyer commented on #13097
Thanks. :-)

[2015-06-28 15:50] jfrazelle commented on #14232
-1 for removing this, ping @tianon it is supposed to be bare minimal plus
we are redoing all this anyways

Also for your own curiosity it is generated in hack/release.sh but I will
not LGTM a PR for removal sorry

On Sunday, June 28, 2015, Ankush Agarwal <notifications@github.com> wrote:

[2015-06-28 15:52] thaJeztah commented on #14232
Yup, did the same, so I guess people just found an "undocumented feature"

Thanks @jfrazelle, perhaps we should add a comment or something to notify people that that script might *not* be what they're looking for to perform a regular install.

[2015-06-28 17:09] thaJeztah commented on #13786
@lexandro I see you closed this issue; out of interest, was this issue resolved for you on 1.7?

[2015-06-28 17:13] lexandro commented on #13786
Yes. I tested it on 1.7 and worked as expected.

[2015-06-28 17:19] thaJeztah commented on #13786
Good to hear! Thanks for testing it and closing the issue

[2015-06-28 17:21] jerbia opened #14233 "Add server side command handler plugins"
Hi All,

Now that volume plugins were added to Docker experimental channel, I would like to suggest adding server-side plugins for handling Docker commands. This will allow Docker users to achieve similar capabilities as supplied by [PowerStrip](https://github.com/ClusterHQ/powerstrip).

The server side command handler plugins are pre/post extension to Docker command handling, allowing to modify i

[2015-06-28 17:21] GordonTheTurtle commented on #14233
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-28 17:32] thaJeztah commented on #13097
Had a look, and agree, it's not very clear where to contact support.

Looking at the current beta for Docker Hub, it has been improved a bit https://hub-beta.docker.com/help/, although a clear "support" link could be even better. Perhaps you can open an issue here (if you think it needs to improved further and no such issue exists): https://github.com/docker/hub-beta-feedback/issues

[2015-06-28 17:44] pothibo commented on #6119
Hi!

I just got bitten by this too. Is there still discussion about this? What are the pros/cons?

[2015-06-28 17:49] m1keil commented on #14232
Hey,
as one who just spent a good part of my day trying to debug this issue, it would be great if the changes between get.docker.com and get.docker.com/ubuntu could be documented and maybe echoed during the install ("aufs won't be installed").

[2015-06-28 18:17] thaJeztah commented on #6999
ping @icecrime @calavera wondering what the current position is on this proposal, also in light of the volume-drivers etc.

[2015-06-28 18:31] thaJeztah commented on #14232
Yes, I was thinking of a similar approach as is used in the [main install script](https://github.com/docker/docker/blob/957622d452983f14bcc79443c9ff05780e1fd6bf/hack/install.sh#L53-L65) and add that to the [Ubuntu minimal install](https://github.com/docker/docker/blob/0f0f5ecd578d5d351b63b4d1799168ba5b3eef0c/hack/release.sh#L294-L312). We should still regard this an "edge case", because the docume

[2015-06-28 18:46] thaJeztah commented on #9718
@stevvooe should this be moved to the 1.7.1 milestone as well? Or would that not be realistic (I know it's a hard one)

[2015-06-28 18:49] thaJeztah commented on #6119
There's currently a proposal for implementing this using command flags. The current status is best described in this comment; https://github.com/docker/docker/pull/13600#issuecomment-115913292

[2015-06-28 18:53] m1keil commented on #14232
well.. it does, just for the [old version](http://beta-docs.docker.io/v1.4/installation/ubuntulinux/#for-precise-1204-lts). That's how I believe we hit the bug in the first place, seems like the installer shifted below our legs :-)

[2015-06-28 19:02] thaJeztah commented on #13822
@tianon @jfrazelle any thoughts on that?  https://github.com/docker/docker/issues/13822#issuecomment-114175396

[2015-06-28 19:16] thaJeztah commented on #8759
@tomfotherby could you send that question to support@docker.com, because that's really a question for the team supporting Docker Hub, and the maintainers of the open source project have no insight in that.

There's also a public beta for upcoming changes in docker hub. Perhaps you can if that brings improvement in this area; https://hub-beta.docker.com

[2015-06-28 19:23] thaJeztah commented on #8759
Reading through this issue and the discussion again, I don't think there's anything the open source project can do here; all issues seem to be related to Docker Hub, for which issues are handled via support@docker.com (or https://support.docker.com).

For the open source registry, this is being worked on in https://github.com/docker/distribution/issues/422.

For that reason, I'm going to close thi

[2015-06-28 19:23] #8759 closed

[2015-06-28 19:23] cpuguy83 commented on #12827
Why is the dir not persistent?
This is completely the image's issue if they have placed a volume at the repo path.

[2015-06-28 19:40] cpuguy83 commented on #14224
Hi,

This is because devicemapper cannot be used with a statically compiled binary, as is the case with the version of docker provided by the get.docker.com scripts.
You can force it to use devicemapper, however this is not recommended as you are absolutely guaranteed to have issues, even data loss.

If you can, I'd recommend using aufs. Get this by installing the `linux-image-extra` package for y

[2015-06-28 19:40] #14224 closed

[2015-06-28 20:20] thaJeztah commented on #10772
ping @mnuessler if you're still working on this.

@runcom perhaps you are interested in picking this up otherwise?

[2015-06-28 20:25] thaJeztah commented on #13974
Thanks for reporting back, @ginoledesma and glad to hear it's resolved!

[2015-06-28 20:28] thaJeztah commented on #13697
ping @icecrime to check if this lines up with the roadmap

Thanks in advance, @dimastopel !

[2015-06-28 20:29] salimane commented on #5684
:+1:

[2015-06-28 20:30] runcom commented on #10772
@thaJeztah I'm still working on this (though slowly for lack of time :()

[2015-06-28 20:33] thaJeztah commented on #12489
I may be completely off here, but wondering if @vbatts tar-split PR https://github.com/docker/docker/pull/14067 helps resolving this?

[2015-06-28 22:07] thaJeztah commented on #12786
I was okay with closing, but given the discussion above, @moxiegirl might not be. Perhaps she had thoughts on how the existing docs can be integrated in `--help`?

[2015-06-28 22:15] vielmetti commented on #14232
On Bing (yeah, I know, Bing) if you search for

[code]

you find

[code]

just below the fold. So yeah, it's not hard to discover, and if it's no longer correct it should be corrected.

[2015-06-28 23:26] bjaglin opened #14236 "Inconsistent behavior across storage backends"
On a btrfs-backed engine, I was using a flat file as a fifo (unfortunately, a true UNIX fifo won't do the job as my logging application doesn't support it) read by a background process, in order to redirect several processes running in a container to the one and only STDOUT of the containers, in order too be able to retrieve it via `docker logs`. However, it seems that my trick doesn't work on ove

[2015-06-28 23:26] GordonTheTurtle commented on #14236
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-28 23:28] rajnemani commented on #14083
Hi
I am trying to run the secnario at https://github.com/docker/docker/blob/master/experimental/compose_swarm_networking.md.  Setting up on AWS.  I see two errors.

1. when I try to run the following on Swarm-1 (my first swarm node)
docker-machine --debug create \
    --driver amazonec2 --amazonec2-access-key X --amazonec2-secret-key X --amazonec2-region X --amazonec2-subnet-id "X" --amazonec2-zon

[2015-06-28 23:38] charleswhchan opened #14237 "doc: code markdown issue with "Getting Started" guide (minor)"
Minor issue: When going thru the tutorial: http://docs.docker.com/mac/step_six/

The text for step 4 is messed up and not enclosed within a code block:

I wasn't able to find the file under /docs folder, otherwise I would have made the changes and submit a PR directly. By comparison step 7 looks alright.

Cheers.

[2015-06-28 23:38] GordonTheTurtle commented on #14237
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-28 23:39] moxiegirl commented on #12786
@thaJeztah IMO @elliot-labs has a great point about the examples and help. At this point, a full sweep to add examples in help seems out of reach for our staffing; and a lot to ask of a contributor. Moving forward, as flags are added to a command, let's also lookt to add a sample to the help.

[2015-06-28 23:39] #12786 closed

[2015-06-28 23:40] mavenugo commented on #14083
@wf2004081522 @jgkamat external access via overlay network is something that we are exploring. One of the ideas that we are trying out now is to add the container to the `bridge` network when the user expresses interest using the port-expose / mapping options : `--expose` or `-P` or `-p`. So, if you run a container with both the `--publish-service` option (in overlay network) and `-P` / `-p`, then

[2015-06-28 23:47] mavenugo commented on #14083
@eckz Thanks for the feedback. @jgkamat answered a few of them.
We are exploring the possibility of moving away from the need to have an external consistent store (represented by `--kv-store`) and have an embedded eventually-consistent layer such as `Serf` that we currently use in the `overlay` driver. But it needs a lot of work and we will keep you posted.

Also, the `--net` option is a heavily d

[2015-06-28 23:50] mavenugo commented on #14083
@rajnemani Yes. we currently have a pre-req of 3.16+ kernel in order to try the overlay driver. Your question is specific to Machine and I would ping @nathanleclaire to give a more authoritative answer.

[2015-06-29 00:24] laijs commented on #14237
@charleswhchan's post is clear, the document is also messed up in my box (flesh new firefox in fedora22)
![xxxxx](https://cloud.githubusercontent.com/assets/125671/8399056/f0a63bc8-1e37-11e5-9753-f4c9b9960749.png)

[2015-06-29 01:11] rajnemani commented on #14083
@mavenugo Upgrading to 3.19 resolved my 2nd issue from my earlier post.  Thank you for your help.  But I still have 1st issue.  I cannot add/setup swarm-1 (additional node) to swarm.

@nathanleclaire, any thoughts on the following issue?

when I try to run the following on (my first swarm node, swarm-0 is my master)
docker $(docker-machine config swarm-1) run -d \
    --restart="always" \
    --ne

[2015-06-29 01:33] aarondav opened #14239 "Parallel pull from V2 registry may lead to corruption of shared ancestor images"
### Description

Pulling images with common ancestors from a V2 private registry seems to have some probability of corrupting the images, and the issue seems to stem from the client side. Serializing download of all images made the problem go away, but is not a good user solution because (A) it cannot be done correctly outside of the docker daemon and (B) it slows downloads which could otherwise b

[2015-06-29 01:47] #14170 closed

[2015-06-29 02:58] cpuguy83 commented on #14214
Implementation here: #14242

There are some things to address.

[2015-06-29 03:52] antonbormotov commented on #14204
Yes, you are right, it doesn't, but,
I guess, devicemapper should work as well, shouldn't it?

[2015-06-29 03:59] vagifverdi commented on #13700
autofs in containers works for me on ubuntu 15.04 host, but not on ubuntu 14.04 host. Perhaps it has to do with kernell support?

[2015-06-29 05:05] tjdett commented on #14106
I've modified a couple of tests to detect this bug:
<https://github.com/dit4c/docker/tree/14106-bug-detection>

The bad behaviour only occurs with `--bridge=none`, which is how it was probably missed.

I ported the tests back to 1.6.2, and they pass:
<https://github.com/dit4c/docker/tree/14106-bug-detection-1.6.2>

[2015-06-29 05:19] Thorndike commented on #14035
@fjmk: check for https://github.com/docker/docker/issues/6980#issuecomment-105575220

[2015-06-29 06:36] cxshun commented on #3285
+1

[2015-06-29 06:44] m1keil commented on #14204
It does work, but devicemapper takes much more disk space.

Yes, you are right, it doesn't, but,
I guess, devicemapper should work as well, shouldn't it?

—
Reply to this email directly or view it on GitHub
<https://github.com/docker/docker/issues/14204#issuecomment-116421532>.

[2015-06-29 06:56] vdemeester commented on #13821
@christopherobin (still) working on this ?

[2015-06-29 07:33] carn1x commented on #9786
This was very useful to reclaim a ton of space: https://github.com/chadoe/docker-cleanup-volumes

Specifically a single docker run command can perform the task:

[code]

Where `1.4.1` is your Docker version. Be very careful to pick the right version, it seems running a pre-1.7.0 version of this script on post-1.7.0 may wipe everything.

[2015-06-29 07:46] christopherobin commented on #13821
I have a quick fix ready that uses [ValidateRepositoryName@registry/config.go](https://github.com/docker/docker/blob/master/registry/config.go#L228) but was waiting a little to see if a better way would take form from the proposal in #13824

[2015-06-29 07:55] mavenugo commented on #14106
@cetex @tjdett I have identified the issue and am working on a proper solution.
This is a classic case of incorrect variable names and code assumptions leading to incorrect behavior.
Also, there are some inherent assumptions on what `bridge=none` really means ?

Will push PR shortly that will address this issue.

[2015-06-29 08:57] vdemeester commented on #14237
@laijs @charleswhchan thanks for reporting (@gordon is a post, don't mind its comment)

/ping @moxiegirl @thaJeztah

[2015-06-29 09:07] rncry opened #14246 "docker strips 127.0.0.1 from resolv.conf even in --net=host mode"
Is this desired behaviour?

We're running a local consul agent which is being used as a dns server locally (for dynamic service discovery). We've added 127.0.0.1 to resolv.conf on hosts so dns lookups are handled by the consul agent.

However when docker starts it strips any local resolvers from resolv.conf, which makes sense for containers in bridged mode, but shouldn't this be allowed when --net

[2015-06-29 09:07] GordonTheTurtle commented on #14246
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-29 09:11] rncry commented on #14246
Or perhaps replacing 127.0.0.1 with the ip address of the docker container?

[2015-06-29 09:27] HuKeping opened #14247 "Docs: Horizontal Slider"
There are some example of remote API like: [Inspect a container](https://github.com/docker/docker/blob/master/docs/reference/api/docker_remote_api_v1.20.md#inspect-a-container), [Exec Inspect](https://github.com/docker/docker/blob/master/docs/reference/api/docker_remote_api_v1.20.md#exec-inspect) have horizontail sliders due to the over long text.

Is this what we want or can we update that?

[2015-06-29 09:27] GordonTheTurtle commented on #14247
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-29 09:29] rncry commented on #14246
docker version: Docker version 1.7.0, build 0baf609
docker info: Containers: 3
Images: 72
Storage Driver: aufs
 Root Dir: /mnt/data/docker/graph/aufs
 Backing Filesystem: extfs
 Dirs: 78
 Dirperm1 Supported: false
Execution Driver: native-0.2
Logging Driver: json-file
Kernel Version: 3.13.0-55-generic
Operating System: Ubuntu 14.04.2 LTS
CPUs: 2
Total Memory: 3.859 GiB
Name: ip-172-20-121-181
ID:

[2015-06-29 09:41] lukabirsa commented on #10324
+1 we rely on some static hosts file entries for an internal VPN and adding `echo "host IP" > /etc/hosts` to every command that requires to know about the hosts is a major letdown.

[2015-06-29 09:59] frntn commented on #14035
@fjmk : I did the exact same thing and everything works fine.

The problem described in #6980 is related to AUFS itself and exists prior docker 1.4
So I would say we shouldn't expect any **new** problems.

[2015-06-29 10:22] cetex commented on #14106
I assume bridge=none means that docker won't use a bridge and won't try to setup a bridge. This combined with all the other options we use should mean that docker won't try to do anything "automagically" at all when it comes to networking. and if we want networking in a container we need to specify "--net=host". :)

[2015-06-29 11:21] phemmer commented on #14221
If you want to pipe between containers, I'd use a shared volume and make a named pipe.

[code]

[2015-06-29 11:23] thaJeztah commented on #14237
Hm, I actually don't know which repository this documentation is in; could be a private repository. Perhaps @moxiegirl knows :)

[2015-06-29 11:52] andersjanmyr opened #14248 "Docker-hub image takes a very long time to appear after a docker push"
After pushing an image to docker hub the image may take up to 10 minutes to become available to clients.

In the example session below the image takes 6 minutes before it comes available. This happens with docker version 1.6.2

[code]

[2015-06-29 11:52] GordonTheTurtle commented on #14248
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-29 12:21] rhvgoyal commented on #10180
@cgwalters IIUC, we are fixing yum/rpm to be able to work with overlay. Essentially force a copy up of the relevant file. But that does not fix the generic problem with overlay and we don't know how many more applications will run into issues.

[2015-06-29 12:22] thaJeztah commented on #9786
@carn1x that's about cleaning up orphaned containers, and unrelated to this issue. By default, docker does *not* remove a volume if you remove the container it belongs to. To remove the volume as well, add the `-v` option when deleting the container, i.e. `docker rm -v <my-container>`. An alternative tool to the one you linked, is https://github.com/cpuguy83/docker-volumes, which is a "PoC" implem

[2015-06-29 12:29] antoineco opened #14249 "Base image from private repo not pulled on image build"
**Description of problem:**
Docker fails to build images if the base image comes from a private repository and doesn't exist locally.

**Steps to Reproduce:**
* Make sure the `~/.dockercfg` file contains valid credentials to authenticate against the (private) repository containing your base image
* Create the following Dockerfile (replace the FROM image with an existing image):
[code]
* Build an i

[2015-06-29 12:45] petejcullen opened #14250 "Cannot install docker-engine-1.7.0-0.1.el6.x86_64.rpm on RHEL 6.6"
The RPM for the x86_64 RHEL 6.6 version of docker (docker-engine-1.7.0-0.1.el6.x86_64.rpm) does not appear to have been packaged correctly, as it is not recognised by yum.

$ sudo yum localinstall --nogpgcheck docker-engine-1.7.0-0.1.el6.x86_64.rpm
Loaded plugins: product-id, refresh-packagekit, rhnplugin, security, subscription-manager
This system is receiving updates from RHN Classic or RHN Sate

[2015-06-29 12:45] GordonTheTurtle commented on #14250
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-29 13:28] fatherlinux opened #14251 "Build Time Mount Option"
I would like something like a -v option for builds because I would like to bind mount the puppet client, and manifests during build time. The end result would be a pristine container image that would be configured with Puppet (et. al.) but would contain none of the bloat. Make sense?

I get why you guys don't want to put it in the Dockerfile, but why limit it from the build command? These are two

[2015-06-29 13:28] GordonTheTurtle commented on #14251
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-29 13:30] jasonamyers commented on #14250
same issue here RHEL 7

[2015-06-29 13:39] jasonamyers commented on #14250
that url is actually 404ing and that's why it can't read it

[2015-06-29 13:42] kkebb opened #14253 "Missing dash in documentation for memory constraints"
# BUG REPORT INFORMATION

Use the commands below to provide key information from your environment:

```docker version:```
N/A

```docker info:```
N/A

```uname -a:```
N/A

Provide additional environment details (AWS, VirtualBox, physical, etc.):
N/A

List the steps to reproduce the issue:
1. Go to https://docs.docker.com/reference/run/#runtime-constraints-on-resources

Describe the results you rec

[2015-06-29 13:45] #13948 closed

[2015-06-29 13:52] jasonamyers commented on #14250
It's working now.

[2015-06-29 14:12] miminar opened #14254 "Allow to list tags/IDs of remote image"
As a Docker user, I'd like to be able to list tags and Image IDs of remote images without downloading binary blobs.

## Possible interface
Add `-l` flag to `docker tag` denoting *list tags*. If given name matches local image, its tags will be listed. Otherwise a remote registry will be listed.

### Example:

    docker tag -l docker.io/fedora
    REPOSITORY          TAG                 IMAGE ID

[2015-06-29 14:12] GordonTheTurtle commented on #14254
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-29 14:14] rohit-conn opened #14255 "device mapper suport in docker 1.7"
Hi,

On upgrade to docker 1.7 support for device mapper as a storage driver is limited to dynamically compiled binary only.
Is there any work around are alternative that can help me use it with the static binary.

[2015-06-29 14:14] GordonTheTurtle commented on #14255
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-29 14:21] miminar opened #14257 "Proposal: pull down JSON file independent from an image"
As a Docker user, I'd like to be able to inspect remote images without downloading binary blobs.

## Possible interface
Add `-r` flag to `docker inspect` denoting *inspect remote registry*. Unless given, keep the old behavior.

### Example:

    docker inspect -r docker.io/fedora
    [
    {
        "Id": "ded7cd95e059788f2586a51c275a4f151653779d6a7f4dad77c2bd34601d94e4",
        "Parent": "48ecf3

[2015-06-29 14:21] GordonTheTurtle commented on #14257
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-29 14:22] cpuguy83 commented on #14255
You can certainly force it to start, which is not recommended.
But unfortunately no, it is not possible for devicemapper to work correctly with a static binary.

Closing this, but if you need some extra help, please feel free to ping on IRC.

Thanks!

[2015-06-29 14:22] #14255 closed

[2015-06-29 14:27] charliedrage commented on #10180
@cgwalters @rhvgoyal anyway to show the bug to non-redhat employees?

[2015-06-29 14:51] fjoseph1313 commented on #14250
I have the same issue, my linux kernel is 2.6.32-504.16.2.el6.x86_64 i hope docker can work with this version

[2015-06-29 14:51] jhrv opened #14259 "Unable to push images to https://registry.hub.docker.com ("Authentication is required", even though i'm logged in)"
After upgrading to 1.7.0 i'm no longer able to push images to the public registry.

System info:
OS X Yosemite
docker 1.7.0
boot2docker 1.7.0

[code]

More specific debug info:

[code]

[2015-06-29 14:51] GordonTheTurtle commented on #14259
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-29 14:58] tehsenaus opened #14260 "Pull from Docker Hub stopped working - failed to parse certificate"
Something must have changed recently, as I cannot pull images from Docker Hub anymore. I get the following error:

[code]

I am behind a corporate proxy, so I suspect it's something to do with that. This was working fine in the past though, and has only recently started returning the error above. I have been using Docker for over 6 months with no such issue.

Running curl on the URL above works as

[2015-06-29 14:58] GordonTheTurtle commented on #14260
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-29 15:02] rhvgoyal commented on #10180
@charliedrage Eric Paris opened the bug. Try accessing it now.

[2015-06-29 15:41] flixr commented on #13840
:+1: this would indeed be very useful

[2015-06-29 16:05] moxiegirl commented on #14237
@charleswhchan Yep, this is in a currently private repository. I'll see about making this fix and potentially opening that repo.

[2015-06-29 16:06] charliedrage commented on #10180
@rhvgoyal Works, thanks. Glad to see that this is being worked on.

[2015-06-29 16:10] charleswhchan commented on #14237
Thanks @moxiegirl, sounds good. :)

[2015-06-29 16:15] moxiegirl commented on #14237
@charleswhchan Thank you! For calling out the problem. Much appreciate the contribution.

[2015-06-29 16:46] tdterry commented on #5684
I just got this on Centos 6.3 after upgrading to Docker 1.7. The upgrade restarted docker (obviously), and when I went to restart the containers, all of my node.js containers restarted, but the ones running uwsgi give the error:

[code]

[2015-06-29 17:08] jgkamat commented on #14083
@mavenugo thats a great solution! It looks like its working great right now! My only issue with it is that the IP of the container shows the overlay IP when running `docker inspect <container>`. I personally would prefer the external IP to show up (if running in this dual setup), and maybe the overlay IP in the 'secondary IP section'? I'm not sure if that is it's intended purpose. I have been usin

[2015-06-29 17:15] aanm opened #14263 "Experimental script outdated"
Is the experimental script correct? https://experimental.docker.com/
[code]
and even the fedora installation only points to the yum/dnf command

[2015-06-29 17:15] GordonTheTurtle commented on #14263
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-29 17:28] #13971 closed

[2015-06-29 17:41] kiranos commented on #12861
https://packages.debian.org/source/docker.io there is a package in backport currently

[2015-06-29 17:55] hansloven commented on #14250
Same exact problem as Pete.

**BUG REPORT INFORMATION**

**docker version:**
    n/a - docker does not install
**docker info:**
    n/a - docker does not install
**uname -a:**
    Linux iamcdcdvap510 2.6.32-504.23.4.el6.x86_64 #1 SMP Fri May 29 10:16:43 EDT 2015 x86_64 x86_64 x86_64 GNU/Linux

**additional environment details (AWS, VirtualBox, physical, etc.):**
    RHEL 6.6 on a VM, but I'm not t

[2015-06-29 18:08] Machool commented on #12910
@tetron and @themasterchef as the owner of repo, don't I already have write permissions to push? How can I give these permissions? Thanks

[2015-06-29 18:12] garrickp commented on #4036
Opinion: This is sub-optimal resolution to this problem for three reasons:

- Ubuntu 14.04 (not to mention CentOS and RHEL) is a fairly common OS to see in production environments
- AUFS' performance is measurably worse than devicemapper, and support for AUFS by the Ubuntu team has been dropped due to lack of it making upstream. This indicates that AUFS installs on Ubuntu are effectively unsupport

[2015-06-29 18:38] dbclkclk opened #14265 "Issue running docker -d"
Use the commands below to provide key information from your environment:

### docker version:

     Client version: 1.6.2
     Client API version: 1.18
     Go version (client): go1.4.2
     Git commit (client): ba1f6c3/1.6.2
     OS/Arch (client): linux/amd64
     Server version: 1.6.2
     Server API version: 1.18
     Go version (server): go1.4.2
     Git commit (server): ba1f6c3/1.6.2
     OS/

[2015-06-29 18:38] GordonTheTurtle commented on #14265
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-29 18:40] sudhanshu-garg commented on #13376
I am running into exactly the same issue when using Docker 1.6.2

[2015-06-29 18:47] cpuguy83 commented on #14265
I'm not certain what issue you are referring to here.
Can you provide some extra details?

[2015-06-29 18:56] nalind commented on #13697
@dimastopel PAM's generally only going to be of use when you want to ask for information that can be directly input by a user, such as a password which can be used for obtaining Kerberos credentials, and Basic auth more or less works for that case.  The PAM model allows modules to prompt and ask other questions, too, which is how it can support things like OTP.  When modules start asking for thing

[2015-06-29 18:58] francisbouvier commented on #14221
@phemmer
It's a clever solution and it works perfectly if you want to link 2 services.

However if you want more services in the pipeline you will have to deal with multiples named pipes, one by each link (n-1).
And you need some setup (create and use the named pipes as command arguments, shared volume).

Docker daemon already deal with sdtin/stdout/stderr pipes of containers (used by the attach f

[2015-06-29 19:02] stevvooe commented on #9718
@thaJeztah This has already been fixed by #14193. It is the same issue.

[2015-06-29 19:04] dbclkclk commented on #14265
@cpuguy83 just updated the first post.

[2015-06-29 19:07] cpuguy83 commented on #14265
Hmm, that "ERROR" is not really an error, it's a warning, and is unrelated.

[2015-06-29 19:07] thaJeztah commented on #9718
Thanks @stevvooe, I thought it was. For those interested and willing to test (please!), the 1.7.1 release is currently being prepared here: https://github.com/docker/docker/pull/14264

Release candidates should be available soon, so helping to these this would be much appreciated :+1:

I'm closing this issue, because it should be resolved by https://github.com/docker/docker/pull/14193

[2015-06-29 19:08] dbclkclk commented on #14265
OK but, what about the issue when I run `docker -d` and the container isn't started? This has never happened before and I tried the step before (few days ago) and it worked and was able to access the internet. BTW, `firewalld` is turned off.

[2015-06-29 19:13] cpuguy83 commented on #14265
When docker exits it stops all containers. When it starts it will force kill anything that didn't stop.
If you have `--restart=always` set on the container, it will restart those.

Otherwise you should expect your container to be stopped.

[2015-06-29 19:13] stevvooe commented on #14239
This should be covered by #14193.

[2015-06-29 19:14] stevvooe commented on #14239
Closing as fixed, for now. If 1.7.1 rc still sees issue, please re-open.

[2015-06-29 19:14] #14239 closed

[2015-06-29 19:16] thaJeztah commented on #13540
Thanks again for reporting this, @AndyBerman it took a while, but we decided to replace the links in https://github.com/docker/docker/pull/14244 by absence of the original blogs, so I'm going to close this.

Keep those (bug)reports coming, it's much appreciated!

[2015-06-29 19:16] #13540 closed

[2015-06-29 19:19] stevvooe commented on #13337
@sporkmonger This sounds relevant.

@mpetazzoni I wonder if this has something to do with the fact that the IP `169.254.169.253` is un-routable.

[2015-06-29 19:20] dbclkclk commented on #14265
OK how about the issue of not access the internet?

[2015-06-29 19:23] cpuguy83 commented on #14265
@dbclkclk For that, I'd suggest hitting up #docker on IRC or the docker-user ML for support.

Closing since this is not related to a specific docker issue.

[2015-06-29 19:23] #14265 closed

[2015-06-29 19:50] cpuguy83 commented on #14259
Hello, can you open an issue with support.docker.com?

Thanks!

[2015-06-29 19:50] #14259 closed

[2015-06-29 19:50] cpuguy83 commented on #14260
Hello, can you open a ticket with support.docker.com?

Thanks!

[2015-06-29 19:50] #14260 closed

[2015-06-29 20:08] ankushagarwal commented on #14263
I would think this is correct as per the following section
[code]

You can also download the experimental binary directly here :
[code]

[2015-06-29 20:11] GordonDiggs opened #14266 "env-file lines over 64k fail silently"
Go specifies a [64k limit](http://golang.org/pkg/bufio/#pkg-constants) on tokens parsed by [bufio](https://github.com/docker/docker/blob/master/opts/envfile.go#L22). However, when an envfile has a line length greater than 64k, rather than erroring out, `docker run` simply does not load the environment variables.

(In this example, `big.env` has the contents "FOO=aaaaa..." until the size is big eno

[2015-06-29 20:11] GordonTheTurtle commented on #14266
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-29 20:30] aaron42net commented on #13971
@stevvooe: I've dropped that image on to my test instance, written a replacement systemd unit to /etc/systemd/system/docker.service and run `systemctl daemon-reload` and `systemctl restart docker` and see the new one running in ps:

[code]
I then ran `seq 1 25 | awk '{print "aaron42net/dockertest:app-"$0}' | xargs -n 1 -P 25 docker run` again and had the same result:

[code]

[2015-06-29 20:44] stevvooe commented on #13971
@aaron42net Did you clear out the images from `/var/lib/docker` before running the test? The PR does not correct existing corruption.

[2015-06-29 20:58] aaron42net commented on #13971
On Mon, 29 Jun 2015, Stephen Day wrote:

I did.  I also terminated the instance and re-created from a fresh instance.

Would running docker in debug mode help? How do I get you more information?

This is running on the instance that I can share the key to, if you want to
mess with it yourself.  If so, how do I get an ssh private key to you?

                                    -- Aaron

[2015-06-29 21:03] vieux opened #14270 "Proposal: Support base url in the client"
Today in the client you can use `-H` with `unix://<file>`, `tcp://<ip:port>` and `fd://<num>`

I'm currently hosting my docker daemon behind a Reverse Proxy (nginx).
I wonder if the docker client should support

`-H tcp://<ip:port></path>` or `-H http://<ip></path>`

What do you guys think ?

[2015-06-29 21:05] crosbymichael commented on #14270
This is not supporting a reverse proxy, its for supporting a base URL right?

[2015-06-29 21:06] vieux commented on #14270
@crosbymichael yes, sorry if it's confusing

[2015-06-29 21:07] LK4D4 commented on #14270
Makes sense for me. We just need little modify parsing and router creation.

[2015-06-29 21:08] huslage commented on #14270
Can you clarify the use case here?

[2015-06-29 21:08] crosbymichael commented on #14270
`/containers/redis`
vs
`/mydockerapi/containers/redis`

[2015-06-29 21:12] vieux commented on #14270
@huslage My docker daemon is behind a reverse proxy (nginx)
I want to do `docker -H tcp://50.10.12.23/swarm info` and go through my reverse proxy hosted at 50.10.12.23.

@crosbymichael @LK4D4 are you more in favor of changing `tcp://` or using `http://`

I think `tcp` makes more sense.

[2015-06-29 21:13] LK4D4 commented on #14270
@vieux Yes, I don't want new proto to handle.

[2015-06-29 21:16] vieux commented on #14270
@LK4D4 cool, I'll open a PR soon.

[2015-06-29 21:16] calavera commented on #14270
It might make sense to support `http` and `https` as proto too. The api talks http anyways.

[2015-06-29 21:19] vieux commented on #14270
Today we differentiate proto and scheme, the scheme is always `http` or `https` (if a tlsconfig is given)
and then we use this scheme on any proto (unix/tcp)

[2015-06-29 21:31] #14115 closed

[2015-06-29 22:02] #14237 closed

[2015-06-29 22:02] moxiegirl commented on #14237
Fixed!

[2015-06-29 22:55] calavera commented on #14098
I've removed this issue from 1.7.1 release since it looks like it was already present in 1.6.2. It can still be released in 1.7.1 if we find the root cause and we can fix it, but otherwise, this should not block the release.

[2015-06-29 23:06] stevvooe commented on #6959
@vbatts Is this still relevant? We still need to decouple image ID from the layer ID, but I am not sure if this proposal is still on the happy path.

[2015-06-29 23:07] stevvooe commented on #2700
cc @endophage @diogomonica @NathanMcCauley

[2015-06-29 23:33] ruffsl commented on #11053
+1
I am also witnessing poor performance in listing and deleting containers

Listing images:
[code]

Removing a containers:
[code]

The standard docker information:
[code]
[code]

[2015-06-29 23:33] calavera commented on #14035
@icecrime I'm pretty sure `--storage-driver=overlay` bypasses the storage scan, regardless the directories you have in the host. This is the line of code where the driver you set in the cli is checked:

https://github.com/docker/docker/blob/master/daemon/graphdriver/driver.go#L108

I can see the message in my log:

[code]

I'm going to modify the scan logic to fulfill what's in your table.

[2015-06-29 23:38] hrunting commented on #14181
@cyphar I've been running the EPEL provided docker-io-1.5.0-1 RPMs with kernel-2.6.32-504.16.2 for weeks without any issues. Upon upgrading to kernel-2.6.32-504.23.4, I immediately started seeing panics on container shutdown. I think the problem is between 16.2 and 23.4.

I'd install the latest version of docker from the docker-provided RPMs, but they have been built poorly and expect 32-bit packa

[2015-06-29 23:59] sheavner opened #14272 "Upstart scripts don't wait for main docker process after hard restart"
If we hard reboot a server (i.e. via a big red button or simulation thereof) on restart, none of our container upstart scripts wait for the main docker process to start up and they all exit as failed without successfully starting anything.

Attempted adding ```rm -f /var/run/docker.sock``` to the end of the pre-start script, but this wasn't sufficient to correct the issue.    /var/run/docker.sock

[2015-06-29 23:59] GordonTheTurtle commented on #14272
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-30 01:14] sainath14 opened #14274 "question: how docker commit works in devicemapper storage backend"
when i do a docker commit of a container, i notice it does the following
1. activate the devmapper volume of the container
2. activate the devmapper volume for the xx-init of the container
3. unmount and deactivate the devmapper volume for xx-init of the container
4. create a snap device from the container's image topmost layer
5. Start untar
6. deactivate and Unmount the snap device created

Coul

[2015-06-30 01:14] GordonTheTurtle commented on #14274
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-30 02:21] HuKeping commented on #14247
ping @moxiegirl

[2015-06-30 02:58] kunalkushwaha commented on #3285
+1

[2015-06-30 05:54] rlpowell commented on #11889
I'm getting the same error, but CONFIG_VETH=m and the module is loaded.  I've
narrowed it down to something to do with volume mounts:

    rlpowell@ip-10-0-5-208> sudo docker run --name btm -d -t -v /data/cytobank:/data/cytobank:rw 10.0.1.16:5000/cytoweb-btm /sbin/docker.init
    4a787b8c6e1cc2502ec8138898bd22926a0451270ca8bf2d34d9948e5008f1c4
    FATA[0000] Error response from daemon: Cannot star

[2015-06-30 06:09] mrjana commented on #14024
@visualphoenix @lesgrossman and who ever else interested, would you be willing to test a docker binary which contains fixes for the networking issues? If so, let me know I will provide a binary so that you can provide feedback before we get out an official 1.7.1-rc1

[2015-06-30 06:23] thaJeztah commented on #14024
Also, the 1.7.1-RC is being prepared here: https://github.com/docker/docker/pull/14264 (for those that want to stay informed on progress)

[2015-06-30 06:32] oncletom commented on #13470
Sadly I still encounter errors with Docker 1.7.0 and syslog driver enabled on an EC2 t2.micro instance.

Recurrent error is: *Error response from daemon: Cannot start container 5cbc9625e9d954ebc6115e955de528617ca59d841e05b22a2f7b7e33e9e8120e: namespace creation reexec command failed: fork/exec /usr/bin/docker: cannot allocate memory*

The containers are chatty log-wise, we have 3 long-running one

[2015-06-30 06:38] DrakeW opened #14277 "stdin is not tty causes container to exit"
`docker version:
Docker version 1.6.2, build 7c8fca2`
`uname -a: Linux ip-xx-x-x-xxx 3.14.44-32.39.amzn1.x86_64 #1 SMP Thu Jun 11 20:33:38 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`

We are starting a container and run task using aws ecs service, the image got pulled successfully according to the task definition but when the container trying to run the task it exited because of "stdin is not tty". W

[2015-06-30 06:38] GordonTheTurtle commented on #14277
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-30 07:17] ojab commented on #11889
Is this reproducible on clean Fedora 21 AWS install? If so -- give me AMI id, I'll try to debug it this week[end].

[2015-06-30 07:27] jiangjizhong commented on #11561
That is what I just need.

[2015-06-30 07:32] cyphar commented on #14181
@hrunting Since we're seeing a kernel panic, I don't expect an updated Docker version to fix this problem (even if it does, this looks like a kernel bug *proper* to me). I'm still trying to figure out a nice way of bisecting the CentOS kernel tree. I'll get back to you on this.

[2015-06-30 07:37] cyphar commented on #2700
GPG would work if we have a set of keys registered to accounts. Then you have to verify that the signature was signed by one of those keys. GPG has solved this problem already, I'm not sure why we don't just leverage it. The purpose of the WOT is not to provide authority for someone to sign something, it is to provide assurance that the key's owner is who the sender says it is. This is not really

[2015-06-30 07:42] rlpowell commented on #11889
Here's strace: https://gist.github.com/56268cb57c10eeaa779b

[2015-06-30 07:45] rlpowell commented on #11889
I don't know for sure if it's reproducible on a clean install.  I mean, you'd need an NFS mount, for one thing.  But the base AMI I'm using is ami-c3d43b87 in us-west-1 ; the name is Fedora-Cloud-Base-21-20150506.x86_64-us-west-1-HVM-gp2-0

[2015-06-30 07:46] rlpowell commented on #11889
So interestingly there is exactly one ENOTSUPP in strace:

    [pid 13152] stat("/data/cytobank", {st_mode=S_IFDIR|0755, st_size=4096, ...}) = 0
    [pid 13152] stat("/var/lib/docker/devicemapper/mnt/f9651faf5cdcefa0bd4ba7aa79cb42c01619649eaecdd132a2355b950b7f6c7e/rootfs/data/cytobank", {st_mode=S_IFDIR|0755, st_size=4096, ...}) = 0
    [pid 13153] <... select resumed> )      = 0 (Timeout)
    [pi

[2015-06-30 07:55] rlpowell commented on #11889
So yeah, lsetxattr is absolutely guaranteed to fail over NFS.  This was working in 1.5.0.  Ironically, I suspect another bug I submitted is responsible for that lsetxattr.  Can we make it warn instead of fail?

[2015-06-30 08:20] Offirmo commented on #4036
@garrickp +1

[2015-06-30 08:58] bydga commented on #9132
any progress on this? Pushing multiple versions of the same image in parallell is really important feature for CI. We are now bypassing this by putting the version into docker image name (and not using the version tag at all - everything is just "latest").

[2015-06-30 09:05] motaro opened #14279 "Docker 1.7 consuming more space than Docker 1.5 for images"
Initially i had docker 1.5 installed in ubuntu Trusty via Vagrant.

Then i created new Ubuntu Trusty and now the docker version is 1.7.

I tried building Image of my Postgres Container with this Dockerfile

https://gist.github.com/anonymous/19cf7ede56c5a4499201

Now when i check my ubuntu with docker 1.5 the
[code]
When i check on docker 1.7 then
[code]
I have specifically tested with only one ima

[2015-06-30 09:05] GordonTheTurtle commented on #14279
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-30 09:18] themasterchef commented on #12910
@Machool - if you are the repo owner then yes you have admin access by default. But if your CI system has been assigned its own machine user account on Docker Hub, (and you should probably do this instead of spreading your admin-capable user account credentials around), then at most it will have no more than read access (assuming you have done prerequisite steps like creating an organization, and

[2015-06-30 09:29] vdemeester commented on #13871
@calavera @tnachen Isn't this client-only ? the ability to do something like :
[code]

But yeah it would be cool to be able to run the daemon with ``docker -dD -H https://127.0.0.1:443/`` too. Or even without the ``:80`` or ``:443``.

I'll send a PR for the client part of this, and I'll see with discussion if we implement it on the server part too — so #dibs on this on :wink:.

[2015-06-30 09:45] thaJeztah commented on #13470
@oncletom not sure if it's related, but you might want to watch https://github.com/docker/docker/pull/14268 (and https://github.com/docker/docker/issues/12848)

[2015-06-30 09:45] dreamcat4 commented on #2700
@cyphar The solution was recently announced and demo'ed at dockercon 2015... the new 'notary' tool / library. You can see it in action during the dockercon 2015 keynote video.

https://github.com/docker/notary

[2015-06-30 09:49] tarlabs opened #14280 "Ability to map to any available port in range"
Hi All,

Not sure if this is something docker currently supports, but I couldn't find any information. Currently when we do a port mapping we do it like `-p 8888:8888`, this is good when we are running a static number of containers.

I am looking at a capability where docker can map to any available port on host specified within a range. This would allow to expose the port directly through host. s

[2015-06-30 09:49] GordonTheTurtle commented on #14280
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-30 09:53] oncletom commented on #12848
Sadly I still encounter errors with Docker 1.7.0 and syslog driver enabled on an EC2 t2.micro instance.

Recurrent error is: *Error response from daemon: Cannot start container 5cbc9625e9d954ebc6115e955de528617ca59d841e05b22a2f7b7e33e9e8120e: namespace creation reexec command failed: fork/exec /usr/bin/docker: cannot allocate memory*

The containers are chatty log-wise, we have 3 long-running one

[2015-06-30 10:01] oncletom commented on #13470
Thanks @thaJeztah, I have reported the informations on #12848 as well.

[2015-06-30 10:06] unclejack commented on #13470
@oncletom Your problem is caused by https://github.com/docker/docker/issues/13552.

[2015-06-30 10:08] tnolet commented on #5684
Same on Debian. Can't start any container, even when pulling a totally fresh busybox image.

[code]

[code]

[code]

[2015-06-30 10:10] unclejack commented on #5684
@tnolet Please provide the `docker info` output.

[2015-06-30 10:19] jordimassaguerpla commented on #14263
Hi!
for SUSE it only runs

zypper -n install docker

which will install the docker in the SUSE repos, which is not the experimental one.

I can provide such package and how to install it. I just need to know how to properly build it. Is experimental a package from master branch? I guess I could just adapt https://github.com/docker/docker/commits/master/hack/make/.build-rpm/docker-engine.spec

righ

[2015-06-30 10:30] tnolet opened #14281 "Docker 1.7 breaking API change Host -> HostConfig"
Hi,

Description of problem:

we noticed our application started throwing errors because some options in the `docker inspect` output were moved from the `Config` object to the `HostConfig` object, `CpusSet` and `CpuShare` for example.
I can imagine  A LOT of Docker users have applications that use some form of static typing to talk to the Docker daemon. This will now break in many cases.

This is

[2015-06-30 10:30] GordonTheTurtle commented on #14281
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-30 10:33] MattHauglustaine commented on #14266
Hi, I'd gladly give a shot at this (first contrib).

My thoughts we're simply to bubble up the error by returning scanner.Err() [here](https://github.com/docker/docker/blob/master/opts/envfile.go#L43).

PR coming soon

[2015-06-30 10:34] Silex commented on #11902
Maybe related, but I found out that using gdb inside a docker container on a binary built with `-m32` silently fails (I can set the breakpoints and everything but they're never hit).

It works if I use the `--privileged` flag on the container tho.

[2015-06-30 10:45] unclejack commented on #14281
@tnolet I understand that this is very frustrating, that running into this problem can be very annoying and I'm sorry you've had problems with this. However, this change had to be made because that's where those options need to be. This isn't a bug or a regression, it's merely about having moved some options from one place to where they need to be. The resource limits are supposed to be in HostCon

[2015-06-30 10:45] #14281 closed

[2015-06-30 10:51] tnolet commented on #14281
@unclejack I didn't file it as a bug, more of a notice that these are unexpected and undocumented breaking changes. I couldn't find any mention of this in the release notes or changelog. A simple heads up would certainly help. Now its just "Boom", nothing works anymore.

[2015-06-30 10:59] awh opened #14282 "Docker doesn't configure UTS namespace or /etc/hostname correctly"
Edit: My assertion about setting `domainname` may be suspect; see phemmer's comment and discussion below. The issue of erroneously passing the FQDN to `syscall.Sethostname` remains however.

### Environment
[code]

### Problem
Docker accepts a fully qualified domain name as the argument to `--hostname`, and models separate `Hostname` and `Domainname` fields in `runconfig.Config`; however once insi

[2015-06-30 10:59] GordonTheTurtle commented on #14282
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-30 11:27] phemmer commented on #14282
The current behavior is the correct behavior. The value you pass to docker in `--hostname` is supposed to be the value you get back from the commands `hostname` and `uname -n`.
The "domainname" that you are referring to (the `domainname` command) is not related. From `man 1 domainname`:

What I think you are looking for is the `dnsdomainname`:

[code]

[2015-06-30 11:32] phemmer commented on #14277
I believe you want the `-t` argument for `docker run`.

For example:

[code]

[2015-06-30 11:46] loveai88 opened #14283 "where is the contains file in 1.7"
When I use 1.6,I found that the contain files all in /var/lib/docker/devicemapper/mnt  which directory named contain id,but I can not found the file in 1.7.How can i see it?
Thanks

docker version :1.7.0, build 0baf609
docker info:
[code]
uname -r :3.10.80-1.el6.elrepo.x86_64

[2015-06-30 11:46] GordonTheTurtle commented on #14283
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-30 11:47] hairyhenderson commented on #14184
FWIW, this also occurs in the Arch Linux 1.7.0 package, running on a BeagleBone Black.

[2015-06-30 12:01] ulrichSchreiner opened #14284 "Killing container with illegal volume-driver"
hi,

i'm developing "https://github.com/ulrichSchreiner/etcdriver" and it works great. But if the volume-driver is stopped while a container with a mounted volume is running, the container cannot be stopped. You receive a traceback:
[code]

it would be great to kill such a container if a volume-driver crashes.

[2015-06-30 12:01] GordonTheTurtle commented on #14284
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-30 12:15] ianbytchek opened #14286 "Broken pipe with docker login"
I've seen a few issues like that, but didn't find an answer why this happens and how to solve this. In my case I'm trying to run `docker login` as an ansible script and it fails with the following message. When I manually / directly run the script, it works as expected.

[code]

I asked around at ansible irc but didn't get a full answer. Other docker commands work fine. Why does docker fails? How

[2015-06-30 12:15] GordonTheTurtle commented on #14286
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-30 12:21] awh commented on #14282
I am aware of `dnsdomainname`. My main concern is that we should not be setting the entire FQDN as the hostname, in either `/etc/hostname` or with `syscall.Sethostname`. Hostname should not include a DNS domain - naming of hosts is orthogonal to IP addressing and DNS.

This is strongly implied by `man hostname`:
[code]
This would yield the following:
[code]

I believe this would give you the corre

[2015-06-30 12:29] hqhq commented on #14281
@tnolet We usually consider backward compatibility as very high priority job, when I made this resource config change, we do have backward compatibility, but it's a bit annoying for the code and that part of code was removed in a code refactor.

However it should be in CHANGELOG.md, but that's not hard requirement and developers usually forget to record these information. We should do it better in

[2015-06-30 12:42] vdemeester commented on #14270
There was another issue on this : https://github.com/docker/docker/issues/13871. I submitted a PR that is related : https://github.com/docker/docker/pull/14285. Let me know what you think.

[2015-06-30 12:48] #14253 closed

[2015-06-30 12:53] runcom commented on #14164
The _issue_ seems to be in the way the template is rendered with plain go objects since  _json_ formatting is fine. So, `docker inspect` is working fine because it will defaults to json while `-f {{.State}}` isn't. This can also be checked doing `-f {{json .State}}` and times are rendered correctly

[2015-06-30 12:54] moxiegirl commented on #14247
@HuKeping we've always had horizontal sliders in our docs.  They also existed in the older documentation layout.  We don't have any plans to change this.

[2015-06-30 12:54] #14247 closed

[2015-06-30 12:54] phemmer commented on #14282
I'm really confused then. If you don't want a fully qualified hostname, then don't pass a fully qualified hostname.

[2015-06-30 12:59] awh commented on #14282
I do want a fully qualified hostname. My argument is that the way a Linux system is properly configured is to put the unqualified part into `/ets/hostname` and `sethostname`, and the domain part in `/etc/hosts`.

[2015-06-30 13:00] moxiegirl opened #14287 "Wheezy link is broken on debian page"
![image](https://cloud.githubusercontent.com/assets/1347209/8431290/3f52f26a-1eed-11e5-8356-29042a55dd25.png)

[2015-06-30 13:00] GordonTheTurtle commented on #14287
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-30 13:01] rysiekpl commented on #5603
@tiborvass hmmm

[Can't find a way to do this](http://docs.docker.com/userguide/labels-custom-metadata/), am I missing something, or is this so far just a proposed feature of docker compose?

[2015-06-30 13:05] awh commented on #14282
For further clarification; the original use of `/etc/hostname` and the value of `sethostname` was to store an unqualified name - as I said, DNS was orthogonal. Over time a common misconfiguration crept in of putting the FQDN into `/etc/hostname` (mainly I suspect because folks didn't realise that the correct way was to put an alias in `/etc/hosts`). To cope with this common misconfiguration, most

[2015-06-30 13:12] phemmer commented on #14282
I see what you're wanting now. But I argue the behavior of the docker `--hostname` parameter should not be touched. The parameter sets the system hostname, which is a special value tracked by the kernel. The domain name is irrelevant to the kernel. It doesn't care at all.
Now if the request is to automatically append a domain name to the hostname, and use it in the `/etc/hosts` file, this should b

[2015-06-30 13:22] unclejack commented on #12848
The open issue for syslog related problems is https://github.com/docker/docker/issues/13552. Please comment there if you have memory usage related prolems and you're using syslog.

[2015-06-30 13:25] hansloven commented on #14250
...and on a related note -- since the 1.7 rpm is broken, and I'm looking for alternatives here...  Why is it that all of the fedora/rhel repositories seem to have only Docker 1.5??  Was Docker 1.6 scrapped/'overwritten' by 1.7??

[2015-06-30 13:25] WarheadsSE commented on #14184
I'm looking into it from Arch Linux ARM. @LK4D4 at what point in the code base?

[2015-06-30 13:26] oncletom commented on #12848
Thanks @unclejack :-)

[2015-06-30 13:27] oncletom commented on #13552
I also encounter such an error with Docker 1.7.0 and syslog driver enabled on an EC2 t2.micro instance.

Recurrent error is: *Error response from daemon: Cannot start container 5cbc9625e9d954ebc6115e955de528617ca59d841e05b22a2f7b7e33e9e8120e: namespace creation reexec command failed: fork/exec /usr/bin/docker: cannot allocate memory*

The containers are chatty log-wise, we have 3 long-running one

[2015-06-30 13:29] yun-wang commented on #14160
I have the same issue on Ubuntu 14.04.2 LTS.

docker version:
Client version: 1.7.0
Client API version: 1.19
Go version (client): go1.4.2
Git commit (client): 0baf609
OS/Arch (client): linux/amd64
Server version: 1.7.0
Server API version: 1.19
Go version (server): go1.4.2
Git commit (server): 0baf609
OS/Arch (server): linux/amd64

docker info:
Containers: 2
Images: 2
Storage Driver: aufs
 Root Dir

[2015-06-30 13:42] estesp commented on #14282
To add to @phemmer's comments, the way it works today is because we fixed an issue just under a year ago to support both Fedora/Redhat "view of the world" for hostnames as well as Ubuntu.  I'm curious if something has changed in the overall code path because when I fixed that issue, `hostname` on Ubuntu Docker images still resulted in the prefix, not FQDN, if I remember correctly.  I can look back

[2015-06-30 13:43] lesgrossman commented on #14024
@mrjana I would love to assist where possible on this.  I need to try and get 1.7.x running on both centos 6.6 and rhel 6.6.   I can take both the binary and the RC.    My schedule is hectic so I hope I can provide enough value feedback.

[2015-06-30 13:53] dougbtv opened #14288 "Publishing a large port range is very slow (Docker 1.6.0)"
Description of problem: When using `docker run` including the `-p` publish flag with a large port range, it's very slow to start a container.

`docker version`:

[code]

`docker info`:

[code]

`uname -a`: `Linux localhost.localdomain 3.19.7-200.fc21.x86_64 #1 SMP Thu May 7 22:00:21 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux`

Environment details (AWS, VirtualBox, physical, etc.):

Physical on Fedora

[2015-06-30 13:55] cpuguy83 commented on #11561
But if you are starting the container again... is it not completely trivial to create a new container with the correct configuration instead?

[2015-06-30 14:02] elgs commented on #11561
@cpuguy83 no, the way I used docker is more like the way I use a virtual machine. Most of my containers are stateful. Some of them even run mysql and its data files inside. I know I might be blamed this is not recommended one container one process way of using docker. But I also don't see a reason not use it like this. So depending on the way I use docker, specifying port mapping upon starting a c

[2015-06-30 14:05] cpuguy83 commented on #11561
@elgs Really has nothing to do with one process per container.
The real issue is that you are saving state inside the container, which makes it impossible to replace the container... not to mention carries significant overhead due to the filesystem layering.

[2015-06-30 14:16] elgs commented on #11561
@cpuguy83, I don't think restarting a container will create new any new layers, would you correct me if I'm wrong. right, I knew a workaround after I configured my container, and when I feel comfortable with it, I commit it and reload it with port mapping in the Dockfile. But I think this is very rigid, and in case I made further changes to the container. I probably have to commit and reload it ag

[2015-06-30 14:17] amoalsale opened #14289 "Difference between Storage Driver and Backing Filesystem"
Hi
I am trying to understand Docker storage. I am not understanding the difference between Storage Driver and Backing Filesystem correctly.
Can someone please explain it?
What I want to know is -
1. What are all supported backing filesystems?
2. How can I change backing filesystem type?
3. Is storage driver different from backing filesystem?

[2015-06-30 14:17] GordonTheTurtle commented on #14289
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-30 14:23] cpuguy83 commented on #11561
@elgs So you are doing `docker commit` to commit your container state?

Please realize that there are a max number layers that are allowed, and that each layer provides additional overhead.
Instead you can store your container state in volumes, which run directly on the host FS (no extra overhead), and you can restore this state to a _new_ container rather than having to commit that data.

[2015-06-30 14:29] awh commented on #14282
Ahhh, the joys of fragmentation :smile: I appreciate that you have a difficult balancing act to do here - I wasn't aware that Redhat has standardised on storing the FQDN in `/etc/hostname` and `sethostname`. What are your thoughts about the artificial limit this imposes on the fully qualified name? It makes a mockery of e.g. #9333, because in reality the *entire fully qualified name including doma

[2015-06-30 14:30] AstonJ commented on #14073
Thanks for your help @johnw188 but I don't want to compromise security in any way.

@unclejack and @GordonTheTurtle - What is the supported kernel version with my OS please? This issue is continuing, any help or advice you could offer would be appreciated.

[2015-06-30 14:30] bberberov commented on #14035
@Stelminator @rtrauntvein @viranch That is what I did and it did not work.  I tried 1.6.0, 1.6.1, and 1.6.0 on three separate kernels and still broken.  I did a fresh install of 14.04.1 in a VM, installed just docker-1.6.2, and that did not work either.

[2015-06-30 14:31] elgs commented on #11561
No, I haven't done that, yet, but I see it as a last resort, though I think it's ugly to do so. I understand I should put the data in the volumes, which is a clean way. But it's still very difficult to me to accept a stateless container concept, yet. Maybe my brain is deeply washed by the virtual machines.  @cpuguy83, I was wondering, do you think a container should really be stateless? And `docke

[2015-06-30 14:33] cpuguy83 commented on #14288
Closing this since it is a dup, and is essentially fixed.
The issue here is that for each published port Docker has to spin up a userland proxy process to proxy local traffic to the container.

In Docker 1.7 you can disable the userland proxy (which enables hairpin nat), thus significantly speeding up this process.
It still takes longer to start/stop a container with lots and lots of published por

[2015-06-30 14:33] #14288 closed

[2015-06-30 14:36] cpuguy83 commented on #14289
Assumning by `backing filesystem` you mean as is outputed by `docker info`.
In this case `backing filesystem` is the filesystem that the graphdriver is sitting on top of (generally the host fs).

The storage driver (or graph driver) is the CoW/Layering system that docker implements with the help of other filesystems (like aufs, overlay, btrfs).

Closing because this is not an issue.
If you'd like

[2015-06-30 14:36] #14289 closed

[2015-06-30 14:42] cpuguy83 commented on #11902
Yes, this is probably an issue with restricted permissions in the container.
Try with --privileged and see if it works.
If it does, you need to tweak what capabilities are available to the container (and close the issue).

[2015-06-30 14:50] cpuguy83 commented on #14266
Definitely sounds good.

I doubt we could even exec something with that much in the env, but at least bubbling up the error would be good.

[2015-06-30 14:51] dougbtv commented on #14288
Thanks @cpuguy83 , I'll move to Docker 1.7

[2015-06-30 15:22] punya commented on #14024
@mrjana I'd be happy to try out the RC binary as well.

[2015-06-30 15:28] otterley opened #14290 "BitTorrent protocol support for image fetching"
A typical software release at a large organization could involve hundreds or thousands of Docker hosts.  Having all of the hosts fetch images via the Docker registry at once can cause a "thundering herd" effect, depriving the registry of network bandwidth and significantly slowing the overall deployment process (or causing it to fail altogether due to network timeouts).

As one method of avoiding

[2015-06-30 15:28] GordonTheTurtle commented on #14290
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-30 15:58] tomdee opened #14291 "Experimental build is really out of date - builds are not updating."
Using either curl experimental.docker.com|sh or grabbing the binary directly (https://experimental.docker.com/builds/Linux/x86_64/docker-latest)
I can only get a build from 8 days ago - at this revision - https://github.com/docker/docker/commit/f39b9a0b0f77c528a6fb8bf14be5cdea11ce338d

[code]

[2015-06-30 15:58] GordonTheTurtle commented on #14291
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-30 16:00] smakam commented on #14083
@mavenugo
Great job by Docker Networking team...
I was able to try out the bridge and overlay network types and basic stuff worked fine and I was able to connect containers.
Few questions:
Question 1:
As I understand endpoint and service is used interchangeably, endpoint and network are mapped 1:1, container can have multiple endpoints.
There can be 2 workflows:
workflow1:
create network
create se

[2015-06-30 16:10] hansloven commented on #14250
And now it works :smile_cat:
Has the RPM been updated since this morning?  I cannot be certain since I scrapped the one that did not work, but that is what I suspect.

[2015-06-30 16:19] mavenugo commented on #14184
@WarheadsSE the code-base in libnetwork master has diverged quite a bit. Any analysis for 1.7.0 should be done in the docker1.7.0_integ branch in docker/libnetwork repo.

BTW, @dave-tucker is looking into this issue.

[2015-06-30 16:22] WarheadsSE commented on #14184
@mavenugo right, I have been examining it from the checkout of the v1.7.0 tag & vendor sources therein.

[2015-06-30 16:29] tdterry commented on #12738
This just happened to me in 1.7.0. I recently updated from 1.5.0 to 1.7.0. I'm have several containers that I reused after upgrading (I simply ran `docker start` again after the upgrade). I found that some of the containers can be stopped and some cannot. So far, the only different I've seen is that the containers running uwsgi have the error. Containers running node stop successfully.

[code]

[c

[2015-06-30 16:31] tdterry commented on #5684
@unclejack The `docker info` for my host is

[code]

[2015-06-30 16:34] DieterReuter commented on #14184
@dave-tucker any progress so far on this issue? If we could help, please ping me. I tried to scan through the sources but without any luck. Any pointers would be greatly appreciated.

[2015-06-30 16:53] michaelshobbs opened #14293 "docker [1.7.0] ps output breaks certain compatibility"
In some dokku plugins (ex: https://github.com/Kloadut/dokku-pg-plugin/blob/35edfebd9bc4eafcdf9f3ecfc32cef3404853b9b/commands#L42) the image tag was used to identify a particular running container.

Why drop this from the output and is there a way to gain it back (with arguments perhaps?)

related: https://github.com/progrium/dokku/issues/1263

[2015-06-30 16:53] GordonTheTurtle commented on #14293
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-30 17:00] Munchery-JunyuWang commented on #14277
thanks for your response, but the problem is we create the task by clicking the run task button on the task definition page of amazon ecs, so that we can't append options to the docker run command.

[2015-06-30 17:04] phemmer commented on #14277
This sounds like an issue with AWS ECS. I would recommend opening a ticket with them.

[2015-06-30 17:41] cpuguy83 commented on #14277
Closing since this is specifically an issue with how ECS is shelling out to the docker CLI.

[2015-06-30 17:41] #14277 closed

[2015-06-30 17:42] cpuguy83 commented on #14293
This was most likely unintentional.

[2015-06-30 17:49] runcom commented on #14293
oh I recall this

[2015-06-30 17:52] stevvooe commented on #2700
@cyphar

This is a strong assumption. Can you always trust the registry? Should you have to?

[2015-06-30 17:54] dstufft commented on #2700
If you can trust the registry, then just use TLS.

[2015-06-30 17:58] cpuguy83 commented on #14279
I'm absolutely certain this is a dup, but GH search fails so hard.

But in any case, can you paste your `docker info` and `docker version` output?

[2015-06-30 18:01] atomi commented on #14184
I'd love to see more thorough regression testing before pushing out major releases if possible.

Can we get a post outlining a method to revert to a previous working release or at the least a warning on the install docs?

[2015-06-30 18:01] nemanjan00 commented on #8838
I found a solution... You just stop docker daemon and change container config in
    /var/lib/docker/containers/[container-id]/config

[2015-06-30 18:10] bjaglin commented on #14236
Duplicate of https://github.com/docker/docker/issues/11705

[2015-06-30 18:10] #14236 closed

[2015-06-30 18:20] jbogatay commented on #10031
Same Issue

[2015-06-30 18:24] unclejack commented on #10031
Please keep in mind this is most certainly a VirtualBox problem. If that's not the case, it's VirtualBox triggering a kernel bug.

[2015-06-30 18:24] cpuguy83 commented on #14184
@atomi today we do not run CI for ARM builds... because, well, we don't have an ARM build.
While things compile on ARM, we have not officially supported it.

This is something we are looking to at least add to the nightly CI so we can find any breakages quickly.

[2015-06-30 18:24] ewindisch commented on #2700
A proposal to introduce https://github.com/docker/notary integration is in the works and should be linked to this issue once available.

[2015-06-30 18:31] icecrime opened #14298 "Spin-out builder"
# Description

As indicated by our [roadmap](https://github.com/docker/docker/blob/master/ROADMAP.md), we want the builder to be pulled out of the Engine. The end goal is that the daemon should know nothing about the Dockerfile.

The lack of ability to copy files to a container makes it impossible to fully implement the builder using exclusively the API. We have ongoing PR for this, that would be

[2015-06-30 18:31] GordonTheTurtle commented on #14298
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-30 18:41] unclejack commented on #5684
@tdterry RHEL 6 and CentOS 6 aren't supported by Red Hat for use with Docker any more. Please upgrade to RHEL 7 or CentOS 7.

[2015-06-30 19:13] jbogatay commented on #10031
Agreed, but I can 'track' the issue much easier here.   Also, the quick fix for me when I need virtualbox (which is rarely) is a simple 'systemctl stop docker' and it works.   I don't really want to reconfigure my network.

[2015-06-30 19:14] dave-tucker commented on #14184
Current status: knee deep in an `strace`. I'm confident the issue is coming from `libnetwork` although I'm not yet sure where.

[code]

The last `recvfrom` looks suspect - attempting to get `nltrace` working on arm to get some incite in to the netlink calls being made.

[2015-06-30 19:34] dave-tucker commented on #14184
Ok, on a hunch, I've found that we have the same issue in `vishvananda/netlink`

[code]

[2015-06-30 19:50] ankushagarwal opened #14300 "Better logging on the daemon side"
The debug logs are not very useful on the docker daemon side. On the contrary, the `info` level log has more information than the debug logs. Quite often, I need the request payload on the daemon side to debug issues. So it would be very useful if we could start logging the request payloads for the `debug` option. I understand that there are concerns around logging the entire request payloads in t

[2015-06-30 19:54] #14230 closed

[2015-06-30 20:16] Munchery-JunyuWang commented on #13624
This is a great feature and I wonder if anyone is working on this right now?

[2015-06-30 20:22] stevenschlansker opened #14301 "Docker 1.6.2 missing from Ubuntu package site"
[code]

Docker 1.7.0 breaks our deployment process, and now we cannot install the working 1.6.2 version.  So we cannot provision any new machines in this state.

Please do not remove old versions from the package site, they are small and it is really nasty to get rid of them.

I suspect this is because the release.sh script regenerates the Debian mirror metadata files without considering prior rel

[2015-06-30 20:22] GordonTheTurtle commented on #14301
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-06-30 20:25] moul commented on #14184
Seems to be fixed with my PR: https://github.com/vishvananda/netns/issues/8

[2015-06-30 20:34] mavenugo commented on #14184
Thanks @moul . @DieterReuter @dave-tucker can you pls confirm if this solves the problem ?

[2015-06-30 20:43] DieterReuter commented on #14184
Give me 20 minutes, I'm just in the stage to include this change as a patch into my build pipeline and will test it on a RPi.

[2015-06-30 20:45] michaelshobbs commented on #14293
I see. This just seems like a weird thing to change. Please correct me if I'm wrong but the net result is if you exec `docker run myimage:tag`, `docker ps` will show the tag but if you run `docker run myimage`, you get no tag? Why change the output when you're still actually running the `latest` tag in the latter case?

[2015-06-30 21:04] DieterReuter commented on #14184
@mavenugo I just did a new build and test on a real device, a Raspberry Pi 2. Works great!!!! Wow, such a small change makes a huge difference. Thanks to @dave-tucker and @moul to get this issue fixed.
:+1:

[2015-06-30 21:06] mavenugo commented on #14184
@DieterReuter thanks for the confirmation. Now lets get it merged in netlink project and vendor it in libnetwork and bring it into 1.7.1

[2015-06-30 21:20] dave-tucker commented on #14184
:+1: great work @moul

[2015-06-30 21:30] unclejack commented on #14274
@sainath14 Diff is done with -init as the source and the container as the destination. The resulting diff is applied to a new layer based on the parent of the -init layer.

[2015-06-30 21:30] #14274 closed

[2015-06-30 21:35] unclejack commented on #14073
@AstonJ You should upgrade to CentOS 7 or RHEL 7. The problem is most likely caused by your custom firewall which runs a script periodically and breaks the firewall. Please check if that's the case.

[2015-06-30 21:51] mpetazzoni commented on #13337
So this would be the result of the two issues:

# Go's DNS library doesn't like Amazon's DNS server IP address, and so sometimes doesn't resolve correctly
# Because of this DNS issue, the DNS resolution for `quay.io` can't succeed and the Docker daemon uses whatever was in the DNS cache, which could be a now invalid IP address that Quay is no longer using, which results in the TCP timeout we're se

[2015-06-30 21:53] matschaffer commented on #11740
Just thought I'd share one more discovery on this front. In order to test process crashes tried using `kill -ABRT` but apparently you can't `kill -ABRT 1`. Killing the main PID Of the container with SIGABRT seems to be ignored both from the host or inside a `docker exec` call.

[2015-06-30 21:56] virtuald commented on #247
+1 on this. Currently we use `docker save | ssh -C docker load` to transfer images, but that transfers *everything*, including the pieces we already have. Would be much easier if I could only transfer the bits that mattered.

[2015-06-30 22:06] luxas commented on #14184
This sounds great! Great work @moul, @DieterReuter and @dave-tucker :+1:

Hope this solves my problem with Kubernetes and Docker 1.6.2, that combination made it fail with the same error...
GoogleCloudPlatform/kubernetes#9778

Will try to update docker after this version have been published (v1.7.1)