[2016-08-05 13:40] thaJeztah commented on #24985
@paralin are you still having this on 1.12.0, or can this be closed?

[2016-08-05 13:48] DieterReuter commented on #25417
I like the ideas from @stevvooe to decouple the the `index` search from the registry API. Together with the right `auto` feature we could implement it in a way, that the engine just determines the OS/arch where it's running and send this information as part of a default filter to the index API. In this case we can easily implement the engine side.

For a Linux x64 we could just use `OS/Arch=linux/

[2016-08-05 13:52] thaJeztah commented on #21951
@JonasT I know, it's not the direct issue at hand here :smile:

[2016-08-05 14:18] sitano opened #25436 "Windows Volume binding does not support read only :ro mode?"
Windows Volume binding does not support read only :ro mode? Is that supposed to be like that? Is there any documentation related to Windows specific volume binding?

[code]

results into:

[code]

---
## BUG REPORT INFORMATION

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Azure Windows Server 20

[2016-08-05 14:23] natarajanv opened #25438 "incorrect value in hostname variable when network_mode: host is used"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. Start a container using compose with network_mode: host
2. docker exec -it container  (and echo the hostname)
3. it returns r10a-dockersb1.mitre.org.mitre.org

**Describe the results you received:**
   returns FQH

[2016-08-05 14:26] diegofernandes opened #25439 "Events API Support Services"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]
Could the events api support the swarm mode.

[2016-08-05 14:27] sitano opened #25440 "Windows nested docker panic() on `build` on bound volumes"
Calling `docker build .` from bound volume from inside the container panics docker client. Calling the same thing from the copy of the volume works fine.

[code]

---
## BUG REPORT INFORMATION

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Azure Windows Server TP5

**Steps to reproduce the issue:

[2016-08-05 14:28] vdemeester commented on #25439
Hi @diegofernandes, thanks for the issue :wink: but this is a duplicate for #23827 :stuck_out_tongue_closed_eyes:

[2016-08-05 14:33] sitano commented on #25436
Is that related https://github.com/docker/docker/commit/e5261d6e4a1e96d4c0fa4b4480042046b695eda1 ?

[2016-08-05 14:33] #25439 closed

[2016-08-05 14:35] kovalevsky commented on #23184
I faced the same issue on Debian 8. Conditions are similar. During the extraction of the downloaded images server was rebooted, sad but true.

Image extracting log:

    Pulling redis (redis:latest)...
    latest: Pulling from library/redis
    357ea8c3d80b: Already exists
    7a9b1293eb21: Pull complete
    f306a5223db9: Pull complete
    18f7595fe693: Pull complete
    a9a3bf83ed85: Pull complet

[2016-08-05 14:37] thaJeztah commented on #25438
Strange; there were changes around this in Docker 1.11 (through https://github.com/docker/docker/pull/20200, see the [API changelog](https://github.com/docker/docker/blob/master/docs/reference/api/docker_remote_api.md#v123-api-changes)); older versions of the API would set the HostName to `HostName.DomainName` if both were specified, but 1.11 and up set it to `DomainName`. This most likely is an i

[2016-08-05 14:48] thaJeztah commented on #25440
ping @jstarks @darrenstahlmsft ptal, looks like something in the client trying to resolve the path of the Dockerfile

[2016-08-05 14:50] Garreat commented on #25386
@thaJeztah that's good;

I'm looking forward for the functionality descripted in [https://github.com/docker/docker/issues/24469](https://github.com/docker/docker/issues/24469) , `--dns` and `--cap-add`.

Also, I experience some mesh/dns misbehaviors descripted by @tectoro . Hopefully fixed in 1.12.1.
Nothing left but to wait.

I'm ok with closing this thread. Thanks again, the beer is on me!

[2016-08-05 14:52] thaJeztah commented on #25436
Windows RS1 now supports read-only volumes, so this issue is resolved, but
 @jstarks is RS1 publicly available?

[2016-08-05 14:53] thaJeztah commented on #25386
Cheers! 🍻

[2016-08-05 14:54] tianon commented on #25429
I'm personally wary of any solution that involves restarting the admin's Docker daemon for them when they didn't explicitly request it, especially given the concern @thaJeztah raised regarding that restarting all containers by default (and thus causing potential downtime and frustration).

I believe the Go package responsible for loading these is `crypto/x509` (https://golang.org/src/crypto/x509/r

[2016-08-05 15:07] johnculviner commented on #21702
👍 to @bhavicp 's solution  as when this happens it generally happens for LOTS of containers

@thaJeztah I will try to create a VM that reproduces this when I get a chance (probably from a stock centos 7.2 or something) thank you.

[2016-08-05 15:10] dnephin commented on #25438
I'm not aware of any related changes in Compose that would cause this.

[2016-08-05 15:17] bwnyasse commented on #17910
+1

[2016-08-05 15:26] thaJeztah commented on #25438
@natarajanv if you manually start a container (just `docker run`, with the same options you provided in docker-compose), do you get the same issue?

Would you be able to share the relevant part of your docker-compose.yml?

[2016-08-05 15:27] thaJeztah commented on #21702
@johnculviner thanks, that's appreciated!

[2016-08-05 15:29] thaJeztah commented on #25429
Thanks for looking @tianon

Calling @dmcgowan, who may know more about the crypto package (I hope :smile:)

[2016-08-05 15:30] natarajanv commented on #25438
[root@r10a-dockersb1 docker]# cat /apps/docker_run/akd-rabbitmq.yml
#
#Description: akd-rabbitmq docker compose yml file
#
version: '2'
services:
akd-rabbitmq:
    image: docker-registry.mitre.org:8443/autobuild/akd-rabbitmq:master-53
    container_name: akd-rabbitmq
    volumes:
        - /logs/akd-rabbitmq/serverlogs:/apps/akd-rabbitmq/serverlogs
        - /logs/akd-rabbitmq/supervisorlogs:/apps

[2016-08-05 15:44] #25392 closed

[2016-08-05 15:56] LK4D4 commented on #25017
@aaronlehmann @thaJeztah I've tested with last two PRs and was not able to reproduce. Nodes recover very fast, like 10-15s maximum.

[2016-08-05 15:58] Jackalx commented on #6999
+1 Will be great to have it

[2016-08-05 16:00] Morgy93 opened #25443 "Failed to start VM "MobyLinuxVM""
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

- Docker for Windows latest (08/05/16 MM/TT/JJ) (there's no version info on the website, nor for the InstallDocker.msi)
- Windows 10 Pro
- version 1607
- build 14393.10

**Steps to reproduce the issue:**
I don't know how to "reproduce", but all I did

[2016-08-05 16:12] robertoestivill commented on #22753
@itilk Doesn't seem to work on MacOs. Tried with the `names` and `container id`.

[code]

[2016-08-05 16:28] nathanleclaire opened #25445 "1.12 swarm ingress (--publish) not working"
Hi, I really wish I had a good duplicate but it seems very particular to this machine and setup, so I will try and just report the info I have and see if @mrjana @mavenugo you have any ideas.  Long story short, `--publish` / `ingress` network is busted on my home Linux computer running Debian Jessie kernel 4.5.0.

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Des

[2016-08-05 16:40] mattrobenolt commented on #24675
I assume related to https://github.com/golang/go/issues/16570 ? Hopefully Go team will backport into another 1.6.4 release. Assuming Docker doesn't want to compile against 1.7 the day it's released. :)

[2016-08-05 16:44] thaJeztah commented on #25445
can you try `curl -4 localhost`? perhaps it's bound to IPv6 only; seen that on other issues

[2016-08-05 16:46] nathanleclaire commented on #25445
@thaJeztah for the win.  `curl -4 localhost` worked.

[2016-08-05 16:48] dsheets commented on #24045
@warik your crashes look like those that @tailhook identified in docker/hyperkit#50, thanks for posting your diagnostic.

Other passersby, your issue may not have docker/hyperkit#50 as its root cause. It is best to upload your diagnostics and report the diagnostic ID or confirm yourself that the errors in your logs look like the error in docker/hyperkit#50. The high level symptom could be caused b

[2016-08-05 16:48] marrobi commented on #25417
I'm now using Docker for Windows, and connect to the engine on various operating systems - Linux x64, Microsoft Nano Server and Windows Server Core. When using `docker search ` I only want to see images that are compatible with the OS I'm connected to. Not got the knowledge on how to implement it, but that's the scenario!

[2016-08-05 16:56] aaronlehmann commented on #25431
This could be a manifestation of #25055, which will be fixed in the next patch release.

Otherwise, there could be something particular about the VM setup that causes problems on restart. For example, if the VMs don't have static IP addresses, and they change after restart, that would prevent the two managers from communicating.

A cluster of two managers can't survive any manager failures. We rec

[2016-08-05 16:59] aaronlehmann commented on #25433
It's possible, but hard to know without more context. It could simply be that the other manager is down, has changed its IP address, or some similar problem. As @thaJeztah mentioned, a two manager setup has the worst fault tolerance properties, so it's better to run with a single manager (or three).

[2016-08-05 17:04] thaJeztah commented on #25445
thanks, this is a known issue, and either resolved already, or at least tracked; but ask on slack which one of those (on my phone now :wink:)

[2016-08-05 17:04] #25445 closed

[2016-08-05 17:06] outcoldman opened #25446 "Docker Swarm Mode: keeping volumes for updated tasks"
Continue to exploring Docker Swarm (see related issue https://github.com/docker/docker/issues/25236). Seems like scenario just has not been covered - how to persist volumes in the tasks.

Let's assume that I want to start 5 instances of DB using new service syntax (assuming that I have >5 nodes of Swarm Cluster built by new swarm mode)

[code]

Each task will have dedicated volume.
Somehow I will

[2016-08-05 17:06] nathanleclaire commented on #25445
cool :+1:

[2016-08-05 17:08] LK4D4 commented on #25236
@mavenugo @sanimej do you think this is material for 1.12.1?

[2016-08-05 17:09] qtisan commented on #25351
i comment `up route add -net 172.16.0.0 netmask 255.240.0.0 gw 10.44.207.247 dev eth0` in `/etc/network/interfaces`, and `route del` it..
it works...
@thaJeztah thx...

[2016-08-05 17:17] sanimej commented on #25236
@LK4D4 Fix for this issue has already been merged in libnetwork. We will have it in for 1.12.1

[2016-08-05 17:17] LK4D4 commented on #25236
@sanimej nice, thank you!

[2016-08-05 17:22] cpuguy83 commented on #25446
@outcoldman We actually chose to not have `-v` in 1.12 on services just for this purpose :)

[2016-08-05 17:26] thaJeztah commented on #25443
Thanks for reporting; we recently opened a dedicated issue tracker for Docker for Mac and Docker for Windows; could you reopen this issue there?

https://github.com/docker/for-win/issues

sorry for the inconvenience :blush:

[2016-08-05 17:26] #25443 closed

[2016-08-05 17:28] jstarks commented on #25436
No, RS1 (i.e. Server 2016 RTM) is not publicly available. I believe this should work with --isolation=hyperv even on Server 2016 TP5, though.

[2016-08-05 17:28] thaJeztah commented on #25017
That's great news @lk4d4, I'm not near a computer now, but will give it a try tonight

[2016-08-05 17:33] justincormack commented on #25412
Both 0 and -1 are treated as "max"

https://github.com/opencontainers/runc/blob/master/libcontainer/cgroups/fs/pids.go#L29

Setting to zero would mean allow no processes, which would be fairly pointless, so 1 for no forking is the sane minimum.

[2016-08-05 17:37] sanimej commented on #25236
@outcoldman #25420 is the doc PR for 1.12 swarm mode networks. It explains the service discovery options as well.

[2016-08-05 17:42] sanimej commented on #23812
@BenHall Closing this issue since its very likely to be because of `curl localhost` defaulting to ipv6. Give it a try with `curl -4` and if you still see the issue we can reopen.

[2016-08-05 17:42] #23812 closed

[2016-08-05 17:46] dimitribocquet opened #25449 "GPU Panic : OS X 10.11.6, Docker 1.12.0"
**`docker version`**

[code]

**`docker info`**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

OS X Crash Log:

[code]

**Steps to reproduce the issue:**
**`dockerfile:`**

[code]

Install wordpress with success, then access to the wordpress admin, then access to "Templates -> Add template"

Describe the results you received:
Kernel panic, black screen, machine reb

[2016-08-05 17:54] thaJeztah commented on #25449
Hm, this sounds more like a bug in a VirtualBox kernel extension. Looks like you have both VirtualBox and Parallels Desktop installed; could it be that those conflict?

I don't think this is a bug in Docker, as docker (toolbox) runs inside the VM

[2016-08-05 17:55] outcoldman commented on #25446
@cpuguy83 that is fine, but seems like `service` concept in this case covers only stateless applications.

It is possible that I miss something, but I just don't see how I can setup mongodb or couchbase or redis cluster using `service` orchestration.

[2016-08-05 18:04] sirgogo commented on #18293
Still not working for me with `--dns` flag. But perhaps, it is because my workplace does an intentional MITM? I tried whitelisting in `/etc/docker/certs.d` which allows me to "download", but it gets stuck at `Pulling fs layer`.

[2016-08-05 18:04] cpuguy83 commented on #25446
@outcoldman I don't think it's impossible, but using replicas (`--replicas=N` or `scale <service>=N`) is likely not feasible.

You will probably need to have a leader service and a follower service, and assume that data will be junked on update, so set up replication and failover accordingly.
Make sure you give enough time for a new task to get data replicated to it for the update delay (`docker s

[2016-08-05 18:23] dimitribocquet commented on #25449
@thaJeztah You're almost right!

I have uninstalled Parallels but the bug always appears. I try the same action on my wordpress hosted, and this bug is always triggered.
I test with Safari, and no problem.
Retry with Chrome with any plugin, my computer crashed again.

So I think this is a bug provided by Chrome.

Sorry for the issue!
Thanks a lot.

[2016-08-05 18:29] #25449 closed

[2016-08-05 18:42] nathanleclaire commented on #25445
FWIW, (and I know this would be hard to track down), I also encountered an issue here where even contacting `127.0.0.1` directly would hang after the service had been up a while :(

[2016-08-05 18:42] silgon opened #25450 "Docker number of lines in terminal changing inside docker"
I would like to know how to change the following behavior. Let's say my terminal has **28** lines. Then I use the following commands:

[code]

As you can see, even when all the results should be **28**, when I'm calling the container as `docker run  --rm  -it ubuntu:16.04 tput lines` it always gives me 24 despite the size of my terminal. This is not only with the ubuntu container, I also tried wit

[2016-08-05 19:02] aaronlehmann opened #25451 "KeepOldSnapshots is exposed in API but not CLI"
There is a KeepOldSnapshots parameter which controls how many old Raft snapshots to keep. By default it is set to 0. It is supported in the Docker API, but there is no CLI support for displaying or changing this parameter.

It's not an especially high priority to support it, but it seems inconsistent to have this in the API but not the CLI.

[2016-08-05 19:03] thaJeztah commented on #25417
Related issue; https://github.com/docker/docker/issues/16584

[2016-08-05 19:22] rneugeba commented on #24837
we moved it to the main application code, which is written in C#, primarily as an optimisation

[2016-08-05 19:28] #24696 closed

[2016-08-05 19:31] paralin commented on #24985
Will test today.

[2016-08-05 19:49] outcoldman commented on #25446
@cpuguy83 but I don't think any database will work in that case, I mean it might, but nobody will use it in that way, re-replicate whole database on each update can be problematic. Especially if you are building your own database (maybe your own fork of MySQL or PostgreSQL) and deploy new version every night. That mean that whole cluster will need to re-replicate everything. And if you have hundre

[2016-08-05 19:53] cpuguy83 commented on #25446
@outcoldman I understand.
You'll likely, for now, have to orchestrate them pseduo-manually by creating a service per instance instead of trying to scale it with swarm's scaling feature.
Probably also have to target specific nodes instead of scheduling on random ones unless you are using shared storage.

[2016-08-05 20:05] krisives commented on #25321
After about 3 days of running without issue I had a hang again. This tells me that maybe it's related to either a race condition or something that only triggers after many uses, since adding the `sleep(1)` after every `docker exec` command we use took this from every 2 hours to every 3 days.

Here are the USR1 stack dumps and daemon logs from the hang: https://gist.github.com/krisives/13d26d67a550

[2016-08-05 20:06] sanimej commented on #14041
@phemmer Though the current behavior is not desirable it has been a day-1 behavior. There could be some deployments using it. But given that there is a general agreement it is a vulnerability I think we should go ahead change the default behavior rather than adding a config knob for this. I will make the change in libnetwork.

[2016-08-05 20:15] ShariqT commented on #8539
Getting this with CoreOS using docker v 1.10.3. Containers are dynamically created and destroyed by my application and I can get about 20-30 create/destroy transactions before I run into this error.

[2016-08-05 20:23] thaJeztah commented on #25449
No worries, thanks for the update, and good luck resolving the issue

[2016-08-05 20:27] thaJeztah commented on #25445
Wondering if it's still mapped to IPv6 https://en.m.wikipedia.org/wiki/IPv6#IPv4-mapped_IPv6_addresses

[2016-08-05 20:30] drzraf commented on #5618
[code]
(on all my pty + beeper when this happens)
"simply" Debian Jessie + backports:
[code]

[2016-08-05 20:45] brandonstevens opened #25452 "When using the embedded dns server, running containers always use the original nameservers"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Tested using an EC2 instance in AWS.

**Steps to reproduce the issue:**
1. Create a user-defined network (`docker network create dnsissue`)
2. Break resolver conf file on host (`vim /etc/resolv.conf` - change nameserver to something unavailable)
3. C

[2016-08-05 20:47] nathanleclaire commented on #25394
I saw similar issue and I think @mrjana suggested it had been fixed in libnetwork upstream

[2016-08-05 21:17] jalmansor commented on #25311
I *think* I may have found a solution. If I create the network with --internal, create the hub service the same as before, but create the chrome service with --endpoint-mode dnsrr, all the containers come online as they did in rc4. Without creating the network as internal, I wasn't able to ping the chrome containers from the hub, but with it I can.

[2016-08-05 21:20] dave-tucker opened #25453 "cli: Panic if a Service's UpdateConfig is not set"
Reported in docker/for-mac#38
Full reproduction steps provided on that issue.

The error occurs here: https://github.com/docker/docker/blob/master/api/client/service/inspect.go#L121

[2016-08-05 21:21] aaronlehmann commented on #25451
Just noticed this is not wired up in SwarmKit. So it will take more work than just adding a CLI flag.

[2016-08-05 21:23] #24971 closed

[2016-08-05 21:27] thaJeztah commented on #25311
So, without `--internal` but **with** `--endpoint-mode=dnsrr`, it doesn't work? Hm, that's strange.

DNSRR sounds like the good option here, because you want to communicate with each container individually, IIUC

[2016-08-05 21:44] kyhavlov commented on #25303
+1 for being able to set `net=host` for services, that would be very useful for high performance things that don't want the docker network overhead

[2016-08-05 21:48] jalmansor commented on #25311
Correct, they come up as if they're all from the service VIP. The only way it seems to work is by using --internal when the network is created, which I didn't think was a requirement for containers in the same overlay network to communicate.

[2016-08-05 22:20] thaJeztah commented on #25311
ping @mrjana could you have a look? I don't understand either why `--internal` should make a difference here

[2016-08-05 23:02] StevenChung commented on #10324
+1

[2016-08-05 23:06] und1sk0 opened #25456 "Docker 1.12.0 Swarm Networks Not Showing up on Worker Nodes"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
AWS VPC, same AZ, same subnet, SG rules (relevant): permit TCP/UDP 2377 from same group, permit TCP/UDP 4789 from same group, permit TCP/UDP 7946 from same group.

**Steps to reproduce the issue:**
1. init a swarm and create an overlay network: ```doc

[2016-08-05 23:42] alfredcs commented on #25098
Try to create /usr/lib/systemd/system/docker.socket if missing and/or rm /var/lib/docker as well as /var/run/docker.

[2016-08-05 23:56] ronaldpetty opened #25459 ""--net" broken for containers (works when host)"
user@ubuntu:~$ docker version
Client:
 Version:      1.12.0
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   8eab29e
 Built:        Thu Jul 28 22:00:36 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.0
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   8eab29e
 Built:        Thu Jul 28 22:00:36 2016
 OS/Arch:      linux/amd64

user@ubuntu:~$ docker info
Containers: 1

[2016-08-06 00:09] ronaldpetty commented on #25459
User error.  RTFM.

`docker run -itd --name two_share --net container:one_share ubuntu:14.04`

Need the word container.

[2016-08-06 00:09] #25459 closed

[2016-08-06 00:20] #25453 closed

[2016-08-06 01:42] outcoldman commented on #25446
@cpuguy83 sad to hear. I thought so, but just wanted to confirm that I have not missed anything.

Hope that you will add some option for that in 1.12.x, so it will be easier to integrate new swarm mode.

[2016-08-06 02:06] MatthewMiele commented on #13817
Before I go and open a ticket I just want to check here...

For me I'm getting this exact same issue, using the latest docker for windows 1.12. After finding this ticket and seeing the fix was merged in a while ago I'm thinking it shouldn't be happening anymore?

Or is this fix for Docker for before it went native on windows?

Windows 10 with anniversary update
Docker 1.12 (tested with beta as wel

[2016-08-06 02:43] coolljt0725 opened #25460 "Update memory limit error out with "invalid argument""
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. `docker run -tid --memory 100M --name foo busybox`
2. `docker update --memory 400M foo`
3.

**Describe the results you received:**
[code]
Because we set memory limit to 100m but we didn't set the memory swap, so t

[2016-08-06 05:05] gabehesse commented on #18756
I'm running version 1.12.0.
`docker run -it -v /c/Users/BAMF/codes/TNT:/app tnt_web /bin/bash`
This command did not give an error or warning, resulted in an empty /app directory in my container.
I used the **little whale icon in the taskbar to go to a settings/shared drives** screen. I checked off the C drive and clicked Apply. It made me enter my windows credentials. I reset docker from the Setti

[2016-08-06 07:04] #23528 closed

[2016-08-06 08:22] dfeyer commented on #21259
This work fine if the directory exist in the container, but sometimes the directory does not exist in the container. By ex. for local development I have container that offer SSH/SFTP access and map aussi volume under the user home directory. So docker create the directory when mounting the volume and in this case the permission are root:root ...

Other question, what is multiple container mount a

[2016-08-06 08:44] dariko opened #25463 "Services published ports are unreacheable from others/same service containers."
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

When a service is publishing a port, the docker host/swarm port associated to the service is not reachable from other containers.

### To reproduce
create a docker-machine

[code]

initialize the single manager swarm
[code]

create a service replying to requests with the container hostname, published to port 80
[code]

[2016-08-06 09:02] coding2012 opened #25464 "Swarm mode rolling update quiet period"
I've been playing around with Docker services commands... finding them very awesome. Anyway I noticed one particular issue with rolling updates on a Node app. I found that while the rolling updates are occurring I can keep hitting refresh in my browser and sometimes I get bad pages or incomplete REST requests. I take it that's because one of the nodes is in the middle of starting still.

Would be

[2016-08-06 09:52] jdub commented on #23079
Quick note: Same error after deleting the prior image, so it's probably not related to inter-image layer stacking.

[2016-08-06 10:18] NikolausDemmel commented on #13490
How does that work with docker? Or do you not `git clone` inside the container itself?

[2016-08-06 10:36] ojhaujjwal opened #25465 "Add executable file from windows"
If I add a bash script from windows to a container using ADD or COPY, it is set as 666 on the container. I want to add a bash script as a entrypoint. But, it says permission denied.  Is there any way to change the mode of the script in the container?

[code]

RUN chmod +x did not work. Because, after the build, while running the container, it was set back to 666 and the entry poing was not execute

[2016-08-06 11:06] therealpadams commented on #24679
Does this relate to the issue reported here?:
https://forums.docker.com/t/interconnecting-services-in-1-12-swarm-mode-nginx-in-front-of-elastic/18583

Crate.io has the same problem as Elastic, our nodes are incapable of communication with each other since 1.12 rc4 (and including 1.12.0). Exactly as is described in the forum post I have linked above.

[2016-08-06 13:07] Spindel commented on #22746
We get this regularly on **1.12.0** as well:
```rpc error: code = 2 desc = oci runtime error: exec failed: process_linux.go:75: starting setns process caused "fork/exec /proc/self/exe: no such file or directory```

[code]

[2016-08-06 13:49] cpuguy83 commented on #21259
@dfeyer first wins, and you can tell docker to not set perms as well. If the dir doesn't exist, why not just create it as part of the build? This is crazy simple.

Agreed what you suggest is ideal, but not technically possible right now... At least not without making significant assumptions about loaded kernel modules as well as performance problems.

Note that right now docker4mac does map owners

[2016-08-06 14:52] roukmoute opened #25467 "Windows 10 - volume binding does not work?"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
I use `Windows PowerShell`

**Steps to reproduce the issue:**

I've tried to create a folder via docker and binding volume.

[2016-08-06 15:10] tlvince opened #25468 "NoCredentialProviders error with awslogs logging driver"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

docker-machine initialised EC2 (Ubuntu) instance

**Steps to reproduce the issue:**

1. Create an IAM user and set `/root/.aws/credentials` (per [docs](https://docs.docker.com/engine/admin/logging/awslogs/#/credentials) and [example.ini](https://gith

[2016-08-06 15:52] thaJeztah commented on #22746
@Spindel could you please continue in https://github.com/docker/docker/issues/25381, which was opened for 1.12 (it may be a different issue)

I'm locking this issue so that we can concentrate the discussion in a single place; if you're still encountering this on 1.12, please subscribe to https://github.com/docker/docker/issues/25381

[2016-08-06 16:04] thaJeztah commented on #25467
we recently opened a dedicated issue tracker for Docker for Windows; could you open this issue there instead (or look for an existing issue)?

https://github.com/docker/for-win/issues

thanks!

[2016-08-06 16:04] #25467 closed

[2016-08-06 19:11] thecb4 opened #25469 "x509 certificate signed by unknown authority"
Question -- I am trying to use docker 1.12 on Ubuntu 14.04 behind a proxy and I am getting the following error "x509: certificate signed by unknown authority".  The proxy is not HTTPS.  All of the documentation points to using the signing certificate from the proxy but what do you do when you don't have a signing certificate from the proxy?  I've used "X"s for the IPs of the proxys in the docker i

[2016-08-06 20:04] roukmoute opened #25470 "Error message less comprehensive since Docker 1.12"
For the same command:

- Before 1.12: `docker: Error response from daemon: Container command '/entrypoint.sh' not found or does not exist..`
- Since 1.12: `standard_init_linux.go:175: exec user process caused "no such file or directory"`

[2016-08-06 20:28] devec0 commented on #25146
Thanks for writing up this detailed response @thaJeztah and taking the time to step through the process.

After a thorough review of the documentation I had come across the port mapping option, and the ability to attach new swarm networks to containers.

Essentially I'm trying to, rather than accessing a specific container on a specific port, access a container by virtual IP so I'm able to easily

[2016-08-06 20:28] #25146 closed

[2016-08-06 22:12] sdurrheimer opened #25471 "Conflict between default `-H fd://` systemd config and daemon.json `hosts` config"
Using `hosts` configuration in `daemon.json` file is conflicting with the default systemd `-H fd://` config.

Of course, I can edit the `/lib/systemd/system/docker.service` file or duplicate it as `/etc/systemd/system/docker.service` or even add a complementary config file in `/etc/systemd/system/docker.service.d/` to change the `ExecStart` command.
But then it would imply to maintain this change

[2016-08-06 23:41] erwinwildenburg commented on #25465
Isn't your chmod command changing the permissions on a different file then you are executing?

[2016-08-07 00:08] mdunc commented on #13817
Yep, I'm running in to this as well with Docker for Windows and Cmder (which uses ConEmu).

[2016-08-07 02:12] ojhaujjwal commented on #25465
how is that a different file to what I am exeuting?

[2016-08-07 05:38] alirezaDavid commented on #25381
+1
`rpc error: code = 2 desc = oci runtime error: exec failed: process_linux.go:75: starting setns process caused "fork/exec /proc/self/exe: no such file or directory"`
same issue here
But after restsart docker `systemctl restart docker` every things working like a charm!

[2016-08-07 09:14] kouhin commented on #2174
Exactly the same on docker 1.12!
Our server is a ipv4 only server, but docker 1.12 swarm mode binds published port to IPV6.

When I try `curl -4 http://localhost`, it says `Connection refused`
but when I try `curl -g -6 http://localhost6`, then the curl hangs up.

`lsof -i :80` shows the TYPE is IPV6.

I have resolved this problem by disable ipv6:

[code]
restart docker daemon and re-create servic

[2016-08-07 09:40] liubin opened #25472 "Mounted from contianer glusterfs volume is not accessible after container stopped."
What I want do is to mount a glusterfs volume to host from in a container. And then other containers can use the volume by `-v /foo/mnt-2:/somewhere-else`.

I just tried:

### Step 0:

Install glusterfs 3.8 in host.

### Step 1:

In host:

[code]

### Step 2:

Start a new container:

[code]

In container, mount the volume:

[code]

### Step 3:

In **HOST** Verify that the file is created in the di

[2016-08-07 10:39] jamesfryer commented on #14026
Same issue, sudo apt-get install linux-image-extra-3.13.0-88-generic fixed it for me.

[2016-08-07 10:50] anik786 opened #25473 "Can't change the owner of a file in a running Docker container with an attached volume in Windows"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------

I suspect this issue is a bug but I cannot be sure.

I can't seem to change the owner of a file in a running Docker container with an attached volume in Windows

**Output of `docker version`:**

[code]
**Output of `docker info`:**

[code]

**Additional environment details

[2016-08-07 10:59] erwinwildenburg commented on #25465
You copy the file:         entrypoint.sh
You chmod the file:     docker-entrypoint.sh

[2016-08-07 11:05] sdurrheimer commented on #25471
Also it is true that in the case of systemd, adding `ListenStream` directives to the `docker.socket` systemd unit file is a better approach than adding `tcp://` `hosts` configs in the `daemon.json` file.

[2016-08-07 11:16] cpuguy83 commented on #2174
@zx1986 this is most likely because your "localhost" is resolving to an IPv6 address.

Swarm services do not get exposed on localhost ( IIRC).

[2016-08-07 11:29] ojhaujjwal commented on #25465
oops that's a typo in the issue description :D

[2016-08-07 11:38] justincormack commented on #25471
Yes I would agree, best to use one place or the other.

The decision was made that the config would conflict with the file, so this
is intended behaviour, if slightly non obvious...

On 7 Aug 2016 1:06 p.m., "Steve Durrheimer" <notifications@github.com>
wrote:

[2016-08-07 13:10] prateek-1708 commented on #25456
👍  facing the same issue ... seems as if the swarm cluster is unaware of the new overlay network.

[2016-08-07 13:42] kouhin commented on #2174
Same issue!
I tried to disable ipv6 and restart docker daemon by sysctl, and it works.
Then I re-enabled the ipv6, it works as well.
Finally, on other machines, I found the only work is to restart the docker daemon.

[2016-08-07 13:59] thaJeztah commented on #25456
This is expected; the network is automatically extended / becomes available automatically once a service using that network is deployed in a node. This is by design; the network is not extended to all nodes by default is not needed, this saves resources (imagine a 2000 node cluster, but a service using the network only being deployed on 2 nodes).

I'll close this issue because this is not a bug, b

[2016-08-07 13:59] #25456 closed

[2016-08-07 14:03] thaJeztah commented on #25471
I wonder if we should remove the socket activation altogether in the default setup; we removed it for RPM setups (where it caused issues in combination with live restore). That way, the unit file could remove the `-H` flag and let it use the default (listen on `/var/run/docker.sock`)

[2016-08-07 14:11] kouhin opened #25474 "Docs docker changed or maybe fixed the volume issue in 1.12 ?"
We are using sensu to monitoring the server.
After upgrading from 1.11 to 1.12, we got alert from sensu like this

[code]

We tried to run `df -h`, this is the output

[code]
But this is the output when running 1.11

[code]

Then we found there are so many proc, net, shm in `/etc/mtab` after upgrading to 1.12,

`/etc/mtab` in 1.12

[code]

in 1.11

[code]

I have google such as `docker 1.12 /etc/m

[2016-08-07 14:21] justincormack commented on #25471
That would seem consistent, socket activation doesn't seem sensible really
for most normal use cases. I suppose the logic was it means other services
could rely on docker being up via socket activation.

Maybe there is a case for making listen address an exception that can be
specified in both files?

On 7 Aug 2016 4:04 p.m., "Sebastiaan van Stijn" <notifications@github.com>
wrote:

I wonder if we

[2016-08-07 14:41] thaJeztah commented on #25469
Thanks for opening, but the GitHub issue tracker is not really a general support forum for running docker; the issue tracker is for tracking bugs, and feature requests; could you use either one of;

- forums.docker.com
- the #docker IRC channel
- StackOverflow

I'm closing this issue here, but feel free to comment after I closed

[2016-08-07 14:41] #25469 closed

[2016-08-07 14:45] thaJeztah commented on #25471
specified in both files?

I thought about that, we should keep in mind that multiple addresses can be specified (e.g. both a socket, and an IP address); would specifying it in `docker.json` *override* or *append* those options?

Reason for erring out originally  was to prevent weird behavior ("I specified a flag, but it's not working"), also it may be odd to ignore a flag (flags should always take

[2016-08-07 14:53] justincormack commented on #25471
It would have to append, vs the current conflict. Not sure it is a good
idea. Alternatively, if there are good cases for socket activation, perhaps
only fd:// could become a different option? Just a bit worried we are
completely throwing out the benefits of socket activation for dependency
ordering completely...

On 7 Aug 2016 4:45 p.m., "Sebastiaan van Stijn" <notifications@github.com>
wrote:

[2016-08-07 14:58] MatthewMiele opened #25475 "Arrow keys and navigation keys do not work inside a container when using ConEmu as a console on Windows"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[code]

**Steps to reproduce the issue:**
1. Open ConEmu using regular windows CMD as shell.
2. Start a docker container and then enter into it. Such as docker exec -it CONTAINER /bin/bash
3. Type a command and hit enter. i.e ```ls``
4. Press the up

[2016-08-07 15:06] thaJeztah commented on #25475
ping @jstarks ptal

[2016-08-07 15:09] thaJeztah commented on #25465
could you add the output of `docker version` and `docker info`?

[2016-08-07 15:27] MatthewMiele opened #25476 "Copying and pasting from IPython when inside a docker shell also copies and pastes the ANSI color escape code when using ConEmu as console in Windows"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[code]

**Steps to reproduce the issue:**
1. Open ConEmu using regular windows CMD as shell.
2. Start a docker container and then enter into it. Such as docker exec -it CONTAINER /bin/bash
3. Install IPython in the container. `pip install ipython`
4.

[2016-08-07 16:00] ojhaujjwal commented on #25465
output of docker version:
[code]
outpur of docker info:
[code]

[2016-08-07 17:26] thaJeztah commented on #25476
/cc @jstarks @jhowardmsft

[2016-08-07 17:27] thaJeztah commented on #25470
ping @mlaventure PTAL

[2016-08-07 17:29] thaJeztah commented on #25468
ping @samuelkarp could you have a look?

[2016-08-07 18:37] friism commented on #25128
This should be fixed now: https://docs.docker.com/docker-for-windows/release-notes/#docker-for-windows-1-12-0-2016-07-28-1-12-0-rc4-beta21

Recommend closing unless it still reproduces

[2016-08-07 18:46] gluxon commented on #24045
If anyone needs an immediate solution to this and is willing to manually modify the com.docker.hyperkit binary, I have a small patch that increases the `VTSOCK_REPLYRINGSZ` constant from 512 to 1024.

[vtsock_replyringsz_increase.bsdiff.zip](https://github.com/docker/hyperkit/files/405652/vtsock_replyringsz_increase.bsdiff.zip)

[code]

Important notes:
1. **If you apply this patch, unpredictable

[2016-08-07 19:19] friism commented on #23529
@thaJeztah I recommend closing this issue - the install instructions have changed and now base layers are fetched using normal Docker tools: https://msdn.microsoft.com/en-us/virtualization/windowscontainers/quick_start/quick_start_windows_server#3-install-base-container-images

[2016-08-07 19:24] Quentinvarquet commented on #22185
Hello, I am using docker 1.11 and I have the same problem.

After one week, my container (monitoring tool) can't join all hostname (DNS problem).

Can you tell me if the problem is solved with the version 1.12 before I decide to upgrade my production server.

Thank you

[2016-08-07 19:29] #25128 closed

[2016-08-07 19:36] thaJeztah commented on #23529
thanks for the update @friism, I'll go ahead and close

[2016-08-07 19:36] #23529 closed

[2016-08-07 22:49] paulp commented on #6119
I thought I *had* to be misunderstanding something. Is there some story that's not being told here? There's no logic in having a `USER` command which continues to act as root!

[2016-08-07 23:48] samholmes1337 opened #25477 "Potential docker service "--dns" flag for custom service discovery resolution?"
For internal network applications I like to be able to namespace internal services with DNS (such as `front-end.project.service`). Of course due to the limitations of service names (namely that they can't contain `.`s) this ends up either being impossible or inelegant, such as using hyphens instead.

I'm sure there are other use cases where the option to specify a custom DNS address would be usefu

[2016-08-08 00:11] polarathene commented on #22271
I've yet to continue looking into this but I was able to get the device passed through using the udev rule with alpine/eudev-dev and node-red. So it's potentially an issue with the Java app openHAB or the debian/packages it's docker image is based on.

[2016-08-08 00:51] jhowardmsft commented on #25476
I am intrigued - why are so many people using conemu rather than the native cmd shell? It's probably a bug in conemu though.

[2016-08-08 01:55] mastermindg commented on #24277
It's been over a month and I don't see anything on docker service create. Maybe docker should think about opening up the docs to comments like PHP. The documentation there is so rich because of the wide community support.

[2016-08-08 02:30] cristobal23 commented on #8902
[code]
I too would like to know how to set the hostname from within the container (preferably without `--cap-add SYS_ADMIN`)

[2016-08-08 04:19] Illydth commented on #24277
I hate to pile on, but I'd like to add my "me too" onto this.  The published docks give 0 reference to mounting volumes, linking containers or otherwise setting up something basic like a web proxy in front of web code in front of a database container.

I realize this is brand spanking new out the gate, but if I can't even create a basic service connection between a couple containers with persisten

[2016-08-08 04:27] softwareklinic commented on #16426
how do i acheive this on linux--- i have docker on ubuntu (AWS) --- and have a container that cannot talk to internet - since im behind corporate proxy... any insights... im kind of stuck

[2016-08-08 05:23] liubin commented on #25433
Isn't  ContainX/docker-volume-netshare in stopping status the reason? If your containers are using volumes.

[2016-08-08 06:04] duncan-bayne commented on #25429
Ah - I'd assumed they were using packages built via the .deb packaging code in the docker repo.  My bad.

I guess the question still stands, though ... what's the right thing to do, restart or SIGHUP?  Sounds like SIGHUP.

[2016-08-08 06:12] keverw commented on #23813
It'd be cool if Docker had a builtin simple on or off option for sticky sessions based on IP address

[2016-08-08 06:43] ikhere opened #25480 "Unable to get environment variables from linked containers"
I have docker-compose file with certain containers reading environment variables from ```.env``` file.

But the linked containers are not seeing these variables at all. I'm not sure if I'm missing some step here. Any help would be appreciated.

**docker-compose.yml**
[code]

**List of docker containers**
[code]

**Environment of web container**
[code]

**Environment of db container**
[code]

**Env

[2016-08-08 06:46] peerasan commented on #8838
Thanks /var/lib/docker/containers/[container-id]/config.json
At lease..... We can change

[2016-08-08 06:46] centminmod commented on #22847
as outlined above for centos 7.2, removing `-H fd://` from `/etc/systemd/system/docker.service.d/docker.conf` fixed it for me too

[2016-08-08 07:19] relgames commented on #22429
HyperKit supports it already https://github.com/docker/hyperkit/issues/45
What are the complications to enable it by default?

[2016-08-08 07:45] tailhook commented on #24045
@gluxon can you provide instructions how to reproduce the patch? I.e. how to build hyperkit from sources and replace it.

[2016-08-08 08:00] vladgabriel commented on #13817
For those who want a reliable solution you can user cmder: https://github.com/cmderdev/cmder/releases , download and extract the latest release. Then under cmder/bin folder place docker-machine.exe, docker.exe and docker-compose.exe from the official github pages.
![docker1](https://cloud.githubusercontent.com/assets/10796639/17472920/497ad354-5d56-11e6-8c79-2568722f65e1.jpg)

After you first open

[2016-08-08 08:03] gngeorgiev commented on #25464
Indeed I think that the problem is that your node application is still starting. How about adding a custom `HEALTHCHECK` which will make an HTTP request to you application?

[2016-08-08 08:33] Illydth commented on #25471
So while potentially somewhat off topic the removal of fd:// on RHEL/RPM was somewhat disastrous.

The default docks you get from searching still show using fd:// in the docker.service file, and anyone on RHEL will already be trying to implement those changes since by default you get a docker/docker-network/etc. in /etc/sysconfig, so for I would say a significant portion of RHEL users, the 1.12 in

[2016-08-08 08:46] oliversalzburg commented on #22981
@friism What was confusing me was that I need to share what seems like "the whole drive" so that I can see the contents of a single mounted directory in my container. I don't see how the link you gave me relates to that.

The silent failure here is really unfortunate. When I'm attempting to `-v c:/foo:/foo`, I would expect some kind of feedback if I haven't enabled the appropriate setting.

Anothe

[2016-08-08 08:55] antage commented on #15629
On debian 8 thin pool can't be activated after reboot due to mismatched transaction id.
So using docker with devicemapper on dedicated thin pool is useless.

[2016-08-08 08:55] Illydth commented on #25098
Top google hit on "docker systemd" gets you this page:

https://docs.docker.com/engine/admin/systemd/

Which explicitly states in it's documentation to put "-H fd://" into your systemd drop in file. This is why so man RHEL users broke with the 1.12 install:  Docker's own Docks state to put that in the file which was subsequently removed.  To further compound the issue, because the file exists, it

[2016-08-08 09:44] thaJeztah opened #25483 "Renaming service doesn't rename service tasks / containers"
Renaming a service doesn't rename/update the services's containers/tasks:

[code]

New containers/tasks _are_ named after the new service name:

[code]

It becomes more confusing if you *inspect* the containers;

[code]

Or create a new `web` service now

[2016-08-08 09:44] thaJeztah commented on #25483
ping @stevvooe @aluzzardi PTAL

[2016-08-08 09:52] ijc25 commented on #24045
I'd just like to reiterate what @dsheets said above (https://github.com/docker/docker/issues/24045#issuecomment-237901919), from the information posted here so far only @warik, @gluxon and @tailhook appear to be suffering from docker/hyperkit#50.

For everyone else (at least @johker-wst, @davidgibbons, @jaronoff97, @theartoflogic and @vielmetti at this point)  there is not enough information to co

[2016-08-08 09:55] eon01 commented on #25433
@liubin ContainX/docker-volume-netshare is installed but it was not running right when I got the problem.

[2016-08-08 10:01] thaJeztah opened #25484 "service --mount type=bind creates path on host, but shouldn't"
Unlike `docker run` (where this behavior is present to preserve backward compatibility), `docker service create` should _not_ create paths on the host for bind-mounts.

This is also described in [the documentation](https://github.com/docker/docker/blob/861d4dc989ae738a1c219291a96333a7577b1699/docs/swarm/services.md#configure-mounts);

However, currently (1.12.0), the host path is automatically cre

[2016-08-08 10:02] thaJeztah commented on #25484
ping @cpuguy83 @tiborvass @stevvooe PTAL

[2016-08-08 10:11] thaJeztah commented on #25471
Afaik, the default does not require a `DOCKER_HOST` to be specified; if nothing is set, the docker client will try to connect to `/var/run/docker.sock`

I agree that migrating to remove `fd://` can be painful if people modified their unit file (which they shouldn't), and it doesn't upgrade because of that, or have a systemd drop-in file in place that contains the `fd://` (not sure what the best so

[2016-08-08 10:45] cyberpulseraj commented on #21837
Please update if any resolution about this issue

[2016-08-08 11:03] twang2218 opened #25485 "Missing '--driver none' in the document: 'get-started-cloud.md'"
In the section "Adding a host without a driver" of the document, "Use Docker Machine to provision hosts on cloud providers", <https://docs.docker.com/machine/get-started-cloud/#adding-a-host-without-a-driver>

There is an example:

[code]

However, the command will fail under `docker-machine 0.8.0`, as there should be `-d none`, so the example should be:

[code]

[2016-08-08 11:16] thaJeztah commented on #25465
@ojhaujjwal how did you verify the mod changed back to 666? Did you start a container and verify the permissions, or deducted from the `permission denied`? Can you reproduce with a minimal Dockerfile?

Here's what I did to reproduce (note: this is on Docker for Mac, but the `chmod` is running in the container, so this *should* not make a difference);

My `entrypoint.sh`;

[code]

That file does no

[2016-08-08 11:19] BrickXu opened #25486 "VOLUME seems work not as expected when run container with --volumes-from"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
laptop

**Steps to reproduce the issue:**
Build the image with `VOLUME` like following:
[code]
Then run a container with the command line:
[code]
Check the `docker volume ls`:
[code]
Run another container in the container `outer`:
[code]
And check `do

[2016-08-08 11:33] vdemeester commented on #25485
@twang2218 thanks for the issue. As the source file for this documentation are in the `docker/machine` repository (https://github.com/docker/machine/blob/master/docs/get-started-cloud.md), I think this issue should be done there instead of in `docker/docker` (and definitely the PR).

[2016-08-08 11:43] thaJeztah commented on #23929
I think this issue should be resolved now that we have `--advertise-addr` and `--listen-addr` splitted.

@npcode are you still having this issue on docker 1.12.0?

[2016-08-08 11:48] silgon commented on #25450
I got an answer in stackoverflow. I think the problem is interesting if you want to check it out. I'm not sure if it's a intended behavior though. http://stackoverflow.com/a/38825323/2237916

[2016-08-08 11:51] twang2218 commented on #25485
Yes, I posted in the wrong repo, sorry.

[2016-08-08 11:51] #25485 closed

[2016-08-08 11:52] elan100cs commented on #16426
@softwareklinic This is a thread for windows, I suggest you post your problem on another issue thread. There is also a documentation in the docker site https://docs.docker.com/engine/admin/systemd/ how to achieve this.

[2016-08-08 11:57] vdemeester commented on #25485
@twang2218 no problem :wink:

[2016-08-08 11:58] vdemeester commented on #19046
I'm going to close this one as the man page looks good now :angel:

[2016-08-08 11:58] #19046 closed

[2016-08-08 12:06] bmitch3020 commented on #25450
Here's a bit more expansion on the timing issue being discussed on the stackoverflow thread. The attach and tty resize appears to be run after the container is started.

[code]

[2016-08-08 12:07] thaJeztah commented on #25450
I think the conclusion on StackOverflow is correct; `docker run -it` (`docker run`) is basically a shorthand implemented in the client that consists of *three* separate actions;

1. `docker create`
2. `docker start`
3. (if `-i` / `--interactive`): `docker attach`

`docker create` / `docker start` are executed with the default terminal dimensions (80x24), and `attach` sets parameters to resize the

[2016-08-08 12:09] mickep76 commented on #23105
This is also an issue when your company is using SSL inspection i.e. replacing ext. SSL certs at your endpoints with internally issued one.

[2016-08-08 12:16] FumiakiKato commented on #17846
Hi scher200 and Alex,

I have the same problem on ubuntu 14.04.3 and Docker 1.12.

`An error occurred trying to connect: Get http://%2Fvar%2Frun%2Fdocker.sock/v1.24/containers/json: read unix @->/var/run/docker.sock: read: connection reset by peer`

The result of `sudo cat /etc/*release*` is as follows:

DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=14.04
DISTRIB_CODENAME=trusty
DISTRIB_DESCRIPTION="Ubuntu 14

[2016-08-08 12:21] anannaya commented on #25289
PLease let me is there any bug in devmapper side.. I have tried direct LVM as well. Still the same issue seen.

[2016-08-08 12:21] thaJeztah commented on #25450
Ok, so apparently on Windows, there's a `ConsoleSize` property, which initial console size is set when creating the container;

https://github.com/docker/docker/blob/506234e3f0f6d8f8a0629e09f38dfe96ada025c2/api/client/container/run.go#L145-L150

@mlaventure would it make sense to use this property on Linux as well, and set the initial console size using that value?

[2016-08-08 12:24] anannaya opened #25487 "Error response from daemon: Cannot restart container <> : rpc error: code = 6 desc = "mkdir /run/containerd/<> file exists""
I am frequently getting this error in latest 1.11.2 verison of docker. I have tried multiple time docker service stop and start.. Issue was not resolved. Then i tried the reboot which solved the issue.
PLease let me know is it issue in Docker?

[code]

[2016-08-08 12:26] anannaya commented on #25487
[root@dockerhost ~]# docker -v
Docker version 1.11.2, build b9f10c9
[Docker_Error_ScreenShot.txt](https://github.com/docker/docker/files/406761/Docker_Error_ScreenShot.txt)
[messages.txt](https://github.com/docker/docker/files/406762/messages.txt)

[2016-08-08 12:26] tomlankhorst opened #25488 "docker: Error response from daemon: oci runtime error: apparmor failed to apply profile: no such file or directory."
Trying to use Docker inside an LXC container.
Host OS: Ubuntu 16.04
Guest OS: Ubuntu 16.04 (LXC)

I'm using Vagrant to manage the creation of the machine (box: https://vagrantcloud.com/techtown/boxes/ubuntu-16.04-lxc)

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Running on Vagrant Ubuntu 16.04

[2016-08-08 12:28] maxrebar commented on #24672
@dgageot:
Thanks a lot !
your fix is working and solved my problem.
Very cordially
Eric

[2016-08-08 12:29] thaJeztah commented on #25289
Are you having this issue only with that container/image, or with any container/image?

[2016-08-08 12:29] aleksejlopasov opened #25489 "How to build high-available swarm cluster"
Is there a possibility to build high-available swarm cluster with more than one master-node in new docker -engine 1.12? I think '1 master-node + N worker-node' is not a fault-tolerant solution. But there is no information about building multi-master HA configuration in docker documentation

[2016-08-08 12:38] #23498 closed

[2016-08-08 12:39] dverbeek84 commented on #25489
Just follow this guide https://docs.docker.com/engine/swarm/
And joint other nodes as manager. The replication is based on the Raft Consensus just like etcd and Consul.

[2016-08-08 12:40] thaJeztah commented on #25489
High availability is described in https://docs.docker.com/engine/swarm/admin_guide/

I'll close this issue because I think the question is answered, but feel free to comment if you think additional information is needed in the documentation

[2016-08-08 12:40] #25489 closed

[2016-08-08 12:55] anannaya commented on #25289
I faced this issue with 2 container images... May i am mounting 2 many parameters.. Is this causing?
#docker create -t --privileged  --restart=unless-stopped --net=host -v /opt/swrepo/vmtools.conf:/opt/swrepo/vmtools.conf -v /var/run/docker.sock:/var/run/docker.sock -v /etc/sysconfig/network-scripts:/etc/sysconfig/network-scripts -v /etc/sysconfig/docker:/etc/sysconfig/docker -v /root/.ssh:/host/s

[2016-08-08 13:06] mafiosso opened #25490 "The load command in remote API does not accept large images"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. Post a large image via curl on /load

**Describe the results you received:**
 Remote API returns code 500 with message {"message":"http: POST too large"}.

**Describe the results you expected:**
Expected behavior

[2016-08-08 13:07] thaJeztah commented on #25486
First of all, you're not using volumes, only bind-mounted directories. Note that
`--volumes-from` is just a convenience flag for not having to specify the same
options on multiple containers, for example:

[code]

And you'll see that the volume definition from `first` is "copied" in the
definition of `second`:

[code]

In your case, you're **not** running docker-in-docker, but you're basically
run

[2016-08-08 13:07] #25486 closed

[2016-08-08 13:11] BrickXu commented on #25486
@thaJeztah thanks for your response so quickly.

[2016-08-08 13:11] thaJeztah commented on #25490
Not sure if an explicit size is set somewhere; possibly there's a default in place in Go. At least should be documented, if there's a limit.

What size is the image you're trying to load?

[2016-08-08 13:13] mafiosso commented on #25490
The image is of size 280MB.

[2016-08-08 13:17] thaJeztah commented on #25488
Are you running docker directly on the host, or inside an LXC container? (Sorry, got a bit confused by your description)

[2016-08-08 13:19] tomlankhorst commented on #25488
Docker is running inside the LXC container. I will summarise the situation in the opening post.

[2016-08-08 13:21] cpuguy83 commented on #25464
It may also be your browser caching the connection.

[2016-08-08 13:23] thaJeztah commented on #25490
I'm not able to reproduce this with the docker client;

[code]

[code]

Then, remove the `mysql` image, and load it from the `mysql.tar`

[code]

[2016-08-08 13:24] thaJeztah commented on #25490
If you load the file using the `docker` binary `docker load -i <your-file>` does it work? If so, then possibly this is an issue with `cUrl`

[2016-08-08 13:25] cpuguy83 commented on #25480
The compose v2 format uses custom networks, where links do not imply sharing of environment variables.
This is expected (and I believe correct) behavior.

Why not read the env-file in the linking containers as well?

[2016-08-08 13:26] mafiosso commented on #25490
I use the remote API (it's important for me), try it with curl.

1. save the image to a tar file
2. then send the tar file via curl on /load

[2016-08-08 13:26] mafiosso commented on #25490
The command line load works well.

[2016-08-08 13:28] cpuguy83 commented on #24277
@mastermindg docs are all available in this repo at `docs/` following the same basic url structure as the docs themselves, all in markdown.

[2016-08-08 13:28] ybian commented on #22185
From my testing, 1.12 works well.

[2016-08-08 13:30] mafiosso commented on #25490
Message {"message":"http: POST too large"} comes from your API, it's definitely not an issue with curl. Web browsers are receiving the same message.

[2016-08-08 13:36] cpuguy83 commented on #25474
What host OS and init system?

[2016-08-08 13:40] thaJeztah commented on #25289
The number of parameters should not matter, but bind-mounting some directories, such as `/dev` inside the container, especially with a `--privileged` container is really dangerous, basically, you're giving the container full access on the host, and allow it to mess with those directories (which can have all kinds of side-effects); see also

https://github.com/docker/docker/issues/17865 (https://gi

[2016-08-08 13:40] adrianovieira opened #25491 "docker systemd service environment settings not propagated to docker commands"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

- `cat /etc/systemd/system/docker.service.d/proxy.conf`
[code]

**Steps to reproduce the issue:**
1. Create a conf file for docker systemd service
2. run a container which need that environment variable value (e.g `docker run -i sample_image curl <ht

[2016-08-08 13:42] thaJeztah commented on #25487
I suspect this is related to your other issue, or the same cause, so perhaps we should close one of them? https://github.com/docker/docker/issues/25289

[2016-08-08 13:43] justincormack commented on #25484
That would mean scheduling a service might fail on some nodes, but I guess thats ok.

[2016-08-08 13:50] HamidEDD opened #25492 "users bypass docker userns restriction"
When docker engine runs inside a usernamspace (with the --userns-remap=default option), a simple user could bypass this restriction using :
[code]
The container then is launched as root.

Normally, (--userns=host) option should not be available, exactly like (--net=host), when docker-engine is running in usernamspace mode.

Another thing that I found very strange, is when I use the ubuntu or alpin

[2016-08-08 13:56] cpuguy83 commented on #25472
I don't think this is a docker bug.

While you are using the `mount` command, this is really going to use the gluster client (because of the `-t glusterfs` to connect to the gluster service.
I'm not sure if it's a bug in gluster, but it could be. It may just be expected behavior.

I would recommend using the gluster volume driver rather than manually mounting yourself in a container.

Again, don't

[2016-08-08 13:56] #25472 closed

[2016-08-08 14:00] cpuguy83 commented on #25492
Wouldn't `--userns=host` be the usernamespace of the docker daemon?

[2016-08-08 14:00] #25199 closed

[2016-08-08 14:01] #10458 closed

[2016-08-08 14:01] cpuguy83 commented on #25484
Yep, most definitely. And should go here: https://github.com/docker/docker/blob/master/daemon/cluster/executor/container/validate.go#L22

[2016-08-08 14:03] thaJeztah commented on #25490
The point is that the docker command line uses the exact same API as you're trying to use with curl.

Running the daemon in debug mode, and doing `docker load` from the command line produces;

[code]

To verify if there's a difference between the client connecting over a *socket*, or a http connection, I re-ran the same test with the daemon started with `-H 127.0.0.1:2375`, but got the same result

[2016-08-08 14:04] cpuguy83 commented on #25491
I don't think it would necessarily be correct to automatically set proxy values inside containers. These proxy values often contain credentials which could cause an issue if this is loaded into the container env.
The proxy values ARE used by the daemon, for instance when it needs to pull an image.

[2016-08-08 14:08] thaJeztah commented on #25490
This is the relevant code that the client performs to do this request;
https://github.com/docker/docker/blob/973d6f082002eb4d55cf910325ce90d4f85c63a7/vendor/src/github.com/docker/engine-api/client/image_load.go#L15

https://github.com/docker/docker/blob/a1e319e847f41e648ebede7f9d79999d75bd14c8/vendor/src/github.com/docker/engine-api/client/request.go#L78-L154

[2016-08-08 14:13] HamidEDD commented on #25492
@cpuguy83 normally it should be. But in my case, only containers with cirros images are created inside  userns of docker daemon.

[2016-08-08 14:13] bprodoehl commented on #21837
The Docker stats API is still unusable for me.  I've been using this to watch network usage in production until this situation improves: https://github.com/bprodoehl/docker-stats-fs

So far it just handles network stats, pulling them from procfs and spitting them out in the same format as the Docker stats API.

[2016-08-08 14:16] adrianovieira commented on #25491
proxy is only one example configuration, we can abstract to other environment variables that were put there for a real running container.

If I need to setup some MYSERVICE_ENV_VAR on a docker systemd service  conf file it could use that.

[2016-08-08 14:20] cpuguy83 commented on #25491
@adrianovieira Nope, this is wrong. Just because something is in the docker daemon's env does not mean it should ever propagate to containers... and likewise you shouldn't have to set an environment variable that is completely useless to the docker daemon to have that propagate into a container.
There might be a case here for a daemon setting for setting envs that should go to all containers.

[2016-08-08 14:29] adrianovieira commented on #25491
I see.

Thanks.

[2016-08-08 14:34] sfsmithcha commented on #24277
@Illydth , @mastermindg ,

Thank you for your feedback. I'm working as quickly as possible to get usable documentation onto the docs site.

Please see https://docs.docker.com/engine/swarm/services/ for the current docs on `docker service create` including the syntax for using mounts with services.

There's a PR in progress for service discovery (which is how you'll network containers). https://git

[2016-08-08 14:36] thaJeztah commented on #25484
Oh, that looks simple; I can have a look #dibs

[2016-08-08 14:49] mlaventure commented on #25470
This changed came from #23129

We could change the code to have the old messages with the original error appended between `()`.

WDYT @thaJeztah ?

[2016-08-08 14:53] tzz commented on #25303
In our environment we'd like to use `--add-host`, is that a possibility? Thank you!

[2016-08-08 14:59] mlaventure commented on #23793
ping @crosbymichael

[2016-08-08 15:01] jalmansor commented on #25311
Well, after I had one of our devs try to use the cluster I realized that --internal will prevent the non-exposed containers from reaching outside that network, so they can't hit the containers in our build environment that they need to test against 😫

Still digging into the docs to get more info on how the network layers work and see if there's a way to get this working with swarm mode, as the sca

[2016-08-08 15:09] JamieCressey commented on #9731
+1

[2016-08-08 15:28] anannaya commented on #25289
This issue especially i am seeing with Docker version 1.11.2.. not seen in older versions.

[2016-08-08 15:36] anannaya commented on #25487
Both the error messages are different.
Older case xfs-repair solved the problem.  Does it have anything to with xfs ??

[2016-08-08 15:46] thaJeztah commented on #25470
@mlaventure sounds good to me; alternatively; could `containerd` return a more useful message (i.e., does it have the path/name of the command it tries to invoke?)

[2016-08-08 15:52] mlaventure commented on #25470
`containerd` doesn't look at that information, it just passes the bundle straight to the selected runtime and in just forward the error runtime straight back to `docker`

[2016-08-08 15:53] mavenugo commented on #25311
@jalmansor @thaJeztah The only functionality provided by `--internal` is to isolate the containers from external-world. I dont quite understand the rest of the discussion as the commands mentioned in the description doesn't match the issue being discussed.

Could you please share all the commands that you use and your expectations so that we can clarify if it is an issue or expected behavior.

[2016-08-08 16:14] mlaventure commented on #25450
It's doable. It'll require changes to `containerd` to add the needed values to the `CreateContainer` RPC call though.

[2016-08-08 16:21] dmcgowan commented on #25429
The Go package does not allow for reloading the system certificates, it is protected with a `sync.Once` (see https://golang.org/src/crypto/x509/root.go).

Restarting the daemon has always been the expected solution after updating system certificates. I would not be supportive of any solution which tried to do this automatically on just one system since it would then be inconsistent with other syst

[2016-08-08 16:25] sanimej commented on #25311
@jalmansor Can you explain how the selenium hub identifies all the IPs of the chrome tasks ? Is it using some sort of in-built mechanism or Docker service discovery is used ? Even with RC4 unless the service is created `--endpoint-mode=dnsrr` Docker service discovery will return only the VIP.

[2016-08-08 16:27] fideloper commented on #25386
I could use some clarification, as **I'm running into this issue** and it sounds like there's a lot of red herrings going on here (in particular improper use of the `ingress` network).

Here's my situation:

- On AWS, with all ports open inside a default VPC (no overlapping IP ranges used between the VPC and docker's overlay network)
- I'm **not** using the ingress network, but my own overlay netw

[2016-08-08 16:29] thaJeztah commented on #25429
Thanks for looking @dmcgowan. Based on the above, I don't think there's much we can do (currently) to improve this. I'll close this issue because of that, but happy to revisit if other options are possible in future

[2016-08-08 16:29] #25429 closed

[2016-08-08 16:31] mlaventure commented on #25429
Note: from `1.12.0` if the `live-restore` daemon flag is sets, restarting the daemon **WILL NOT** brings down all the containers.

[2016-08-08 16:33] mstormo commented on #24837
This needs to be an option, as we using several older 32-bit Dockers, which we cannot modify/update and won't support the i-nodes served by a 64-bit host.

[2016-08-08 16:34] dmcgowan commented on #25429
@mlaventure have you seen any packagers enabling `live-restore` by default? And would you suggest it?

[2016-08-08 16:35] mstormo commented on #24837
Is there a way to feed this option through the Docker Daemon json configuration file?
I've tried many variations of
[code]
to no avail.

[2016-08-08 16:36] twang2218 opened #25497 "Cannot ping the VIP of a container by its service name across multi-host in 1.12 swarm mode"
I cannot ping the container on another docker host by its service name if the `--endpoint-mode` is `vip`.

To reproduce the problem, I create a 2-node swarm cluster by following commands:

[code]

Then, I created an `overlay` network:

[code]

Then, I created 4 services

[code]

`s1` and `s2` are `--endpoint-mode=vip` by default,
`s3` and `s4` are specified `--endpoint-mode=dnsrr`.

As the constra

[2016-08-08 16:39] icecrime opened #25498 "API/CLI version mismatch"
# Problem statement

The API/CLI version compatibility requirement is a pain for a huge number of users, and is only getting worse as we have Docker deployed on more and more heterogeneous environments. On the daemon-side, that logic is implemented in the [`VersionMiddleware`](https://github.com/docker/docker/blob/master/api/server/middleware/version.go).

[code]

Today, the only possible workarou

[2016-08-08 16:39] dmcgowan commented on #23184
@tonistiigi: I will make a patch to do the fsync. Do you have any idea how doing multiple fsyncs in serial would impact performance? I could try and call them in goroutines and wait until they complete before doing the rename, but I don't see the benefit of that approach if we are just bound by waiting for them to be serially written to disk.

[2016-08-08 16:40] thaJeztah commented on #25450
@mlaventure would it be a small change? Wondering how corner-case this is, and if it's worth making the change

[2016-08-08 16:40] tianon commented on #25429
Until it's enabled by default in Docker itself, I'd strongly encourage
packagers to avoid enabling it (and leave that choice to the users).

Doesn't enabling it still mess with Docker networks in some way?

[2016-08-08 16:41] dperny commented on #25451
There are a bunch of Raft tuning options that should be exposed on Swarm Init and don't seem to be, this being one of them. If you'd like, I can work on a PR for the docker CLI side.

[2016-08-08 16:41] tonistiigi commented on #23184
@dmcgowan

Don't know. I also expected `data=ordered` to help but I guess it doesn't help in this case because we are not renaming the same file the data is written into.

[2016-08-08 16:42] mlaventure commented on #25429
@dmcgowan I haven't seen it no, but users are free to do so. I personally enabled it on my machine after the upgrade.

@tianon The assumption (and it should be somewhere in the docs too) is that the daemon configuration cannot be changed between restart for `live-restore` to work. So no changes to network, I guess that may cover CA updates too.

[2016-08-08 16:44] thaJeztah commented on #25498
Slightly related https://github.com/docker/docker/issues/21157

[2016-08-08 16:45] cristhianbicca opened #25499 "When I create a container with --mount option - "no such device""
When I create a container with --mount option.
When running ```docker service ps servicename ``` appears as:

ID NAME IMAGE NODE DESIRED STATE CURRENT STATE ERROR
1n8jym44ewn99shlw1ook2cgw web2.1 nginx ip-172-31-42-130.us-west-2.compute.internal Ready Preparing less than a second in August
9w1pc2f1pcobx1aekzu974hlh \ _ web2.1 nginx ip-172-31-42-130.us-west-2.compute.internal Shutdown Rejected less

[2016-08-08 16:45] mlaventure commented on #25450
It should be a trivial change. I personally would consider this a small bug.

I'll assign it to me and try to make a PR to have it fixed for `1.13.0`

[2016-08-08 16:47] mlaventure commented on #25321
@krisives you pasted your system logs instead of the one from the docker daemon :)

[2016-08-08 16:51] rneugeba commented on #24837
@mstormo this is not exposed through the docker daemon json file. The daemon knows nothing about the CIFS mount.

[2016-08-08 16:52] aaronlehmann commented on #25451
Some of the other raft options are a bit more tricky because they are hard to update once the cluster is already running. For those, the best approach is probably:

- Only allow them to be set on `swarm init`, not `swarm update`.
- The raft `Join` RPC should include a RaftConfig object in its results so new nodes that join know what settings to use.

`KeepOldSnapshots` and `LogEntriesForSlowFollow

[2016-08-08 16:59] pompeiisneaks commented on #22909
I work with @jonwilmoth, I was able to run this with docker debug enabled (It wasn't easy, the host seems to be in a state where I can't get it to read in anything and restarting docker doesn't help, it just returns to this state.  Even a reboot fails.)  It seems potentially to be related to the docker socket /var/run/docker.sock, I tried echo'ing the POST command to the socket directly and it com

[2016-08-08 17:32] gluxon commented on #24045
That binary patch is actually not the result of compiling hyperkit from sources myself. I created it from disassembling the source of com.docker.hyperkit and finding the assembly instruction that correlated with `if (sc->reply_prod == VTSOCK_REPLYRINGSZ)`. The resulting opcode was `81f900020000` and I changed that to `81f900040000`.

If you would prefer to manually change the file yourself with a

[2016-08-08 17:32] krisives commented on #25321
Sorry my mistake. I wanted to get the docker containers back up and running. I will grab logs from the next hang.

[2016-08-08 17:48] justincormack commented on #24045
I don't think there should be any issue building hyperkit from modified
sources and replacing it in the application bundle to see if this fixes the
issue.

On 8 Aug 2016 6:32 p.m., "Brandon Cheng" <notifications@github.com> wrote:

[2016-08-08 17:52] thaJeztah commented on #25491
I agree with @cpuguy83 here; propagating these to the containers doesn't sound like the right thing to do. I'll close this issue, but feel free to continue the discussion

[2016-08-08 17:52] #25491 closed

[2016-08-08 17:53] friism commented on #22981
@oliversalzburg

Yeah, it's not the best. The alternative is worse, though, because Docker would have to share host folders on each container run, and that would potentially pop up the credentials prompt.

We agree, and we're working on improving this with a warning or similar

The text you quoted is not what I'm seeing (and it's not what's in the screenshot above). If you're seeing something else

[2016-08-08 18:01] carrete commented on #22981
Same as on the docker website. Chrome and Safari on macos:

<img width="852" alt="screen shot 2016-08-08 at 13 58 15" src="https://cloud.githubusercontent.com/assets/19260155/17490311/4e8d8098-5d70-11e6-8b6d-b2a2bebc48a4.png">
<img width="875" alt="screen shot 2016-08-08 at 13 58 54" src="https://cloud.githubusercontent.com/assets/19260155/17490312/4e91993a-5d70-11e6-862f-3a69fcbdb5fd.png">

[2016-08-08 18:02] carrete commented on #22981
I suspect that was intended to read `be available to`.

[2016-08-08 18:06] adityats opened #25500 "userland-proxy: debugging"
---
## BUG REPORT INFORMATION

Use the commands below to provide key information from your environment:
You do NOT have to include this information if this is a FEATURE REQUEST
-->

**Output of `docker version`:**

Docker version 1.10.3, build 8acee1b

**Output of `docker info`:**

Containers: 1
 Running: 1
 Paused: 0
 Stopped: 0
Images: 29
Server Version: 1.10.3
Storage Driver: overlay
 Backing F

[2016-08-08 18:12] thaJeztah commented on #25497
could be a duplicate of https://github.com/docker/docker/issues/25340, or https://github.com/docker/docker/issues/24531

[2016-08-08 18:15] thaJeztah commented on #25500
could you provide the exact steps to reproduce? I'm not sure we'd be able to help with the information provided currently. Note that you can disable the user land proxy on the daemon (`--userland-proxy=false`).

[2016-08-08 18:17] cpuguy83 commented on #21837
Here's a cpu profile from containerd with 100 containers running and running `docker stats` over a 2 minute period

![image](https://cloud.githubusercontent.com/assets/799078/17490652/d779b8d0-5d71-11e6-8d3e-39ad540b8421.png)

It's probably not exactly the best profile since it looks like containerd is starting another process (runc) to actually gather stats.

[2016-08-08 18:18] ttres opened #25501 "Coping something to /usr break the image"
After coping some content to `/usr` dir, the built image is broken with `error while loading shared libraries: libtinfo.so.5: cannot open shared object file: Permission denied`.

This the simplest Dockerfile that reproduces the issue:

[code]

The content of `usr` folder copied is (can be anything):

[code]

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Steps to

[2016-08-08 18:19] fxdgear commented on #24681
it looks like ConEmu has some issues with rendering the glyphs as well...

with `TERM=xterm256-color`

https://www.dropbox.com/s/uozhknxz2y8n1pt/screenshot_26ty7znp.png?dl=0

with `TERM=xterm`

https://www.dropbox.com/s/4y1dsc8q0m6yjht/screenshot_i30v2kr0.png?dl=0

[2016-08-08 18:22] adityats commented on #25500
1) Enable per-container IP mode (give docker the Host IP network rather than the default bridge)
2) Create a sample nginx container.
3) Create another container (this is our specific one) for which add itpables rules to redirect any traffic to ports in range 10000-11000 to the default gateway from the output of `ip route from inside the container 2` to come to this container.
4) Send traffic from

[2016-08-08 18:24] thaJeztah commented on #25473
This is a known issue with the way file sharing works on boot2docker / VirtualBox guest additions; see https://github.com/boot2docker/boot2docker/issues/581

I think Docker for Windows may be better at this, but not 100% sure

I'm closing this issue because this is a known issue, and specific to boot2docker / VirtualBox, but feel free to continue the discussion. Thanks for reporting!

[2016-08-08 18:24] #25473 closed

[2016-08-08 18:25] cpuguy83 commented on #25499
@cristhianbicca Please provide the whole command.

[2016-08-08 18:29] thaJeztah commented on #25500
I don't really understand;

What options do you set; can you provide the exact steps?

Likewise; please provide the exact steps; what rules are you adding?

[2016-08-08 18:32] thaJeztah commented on #24681
We've seen more issues reported recently with ConEmu, so I'm wondering if there's a bug in recent versions? https://github.com/docker/docker/issues/25476, https://github.com/docker/docker/issues/25475,

[2016-08-08 18:50] cristhianbicca commented on #25499
@cpuguy83
docker service create --name web3 -p 9091:80 --mount type=bind,source=foo,target=/usr/share/nginx/html --replicas 1 nginx

[2016-08-08 18:52] LK4D4 commented on #21837
I did profiling on runc side. All CPU spent on opening and reading cgroups files, not sure what we can do here. Also, containerd spawns new runc binary for each element in stats stream.

[2016-08-08 18:54] oliversalzburg commented on #22981
@friism Huh, I must have read that line like a dozen times and did not parse it correctly. Sorry for the mistake :)

[2016-08-08 18:56] adityats commented on #25500
1) Create a bridge called bridge0 and associate with the primary interface IP as "/usr/bin/ip link set bridge0 address <ip-addr>"
2) Start docker with --bridge=bridge0 and --fixec-cidr=10.10.90.0/24 (Host's network).

the actual iptables rules for the container look like the following:

DNAT       tcp  --  anywhere            10.10.90.2         tcp dpts:10000:20000 to:10.10.90.129:10000-20000

[2016-08-08 18:59] cpuguy83 commented on #25499
@cristhianbicca source must be an absolute path. We added a check for this for the next patch release.

[2016-08-08 19:01] LK4D4 commented on #21837
Also containerd logic changed in 9dc2b3273db42c75368988a3885a3afd770069d9. And this change included only in Docker 1.12. I wonder if it became better or worse in 1.12 @vincentwoo @bprodoehl

[2016-08-08 19:04] stevvooe commented on #25483
This will only have an effect on tasks created after the rename. We have it plumbed it for updates, but I'm worried about the effects of changing names in general. Put another way, we built this to be able to work, but don't have a model for the guarantees provided by rename.

I am not sure what the effect would be on DNS. cc @mrjana @mavenugo

[2016-08-08 19:13] coding2012 commented on #25464
Thanks @gngeorgiev That's a feature I completely overlooked! Sorry about the spam in that case!

[2016-08-08 19:13] #25464 closed

[2016-08-08 19:14] #25484 closed

[2016-08-08 19:24] thaJeztah commented on #25477
I think what you're looking for is `--network-alias` (which currently isn't available for services), there's an open issue for that here: https://github.com/docker/docker/issues/24787

Basically, similar to `docker run --network=my-network --network-alias=foo.bar.com --name foo ....`

I'll close this issue, because I think this is a duplicate of https://github.com/docker/docker/issues/24787, but f

[2016-08-08 19:24] #25477 closed

[2016-08-08 19:28] cristhianbicca commented on #25499
@cpuguy83  Could you give me an example?

[2016-08-08 19:32] igormoochnick commented on #13588
+1
terraform output goes crazy

[2016-08-08 19:37] cpuguy83 commented on #25499
@cristhianbicca `source=/foo` not `source=foo`

[2016-08-08 19:38] thaJeztah commented on #25480
correct; links in user-defined networks basically only set a container-scoped network-alias, but don't share environment-variables with the linked containers. Sharing those environment variables is a security risk, because linked containers may receive environment variables that contain secrets (passwords), which is unwanted in most cases

The environment variables set for "discovery" are mostly u

[2016-08-08 19:38] #25480 closed

[2016-08-08 19:40] voytoo commented on #25497
I have similar problem.

I have 3 master nodes and 3 worker nodes.
swarm-master-0
swarm-master-1
swarm-master-2

swarm-node-0
swarm-node-1
swarm-node-2

On _swarm-master-0_ I have executed following commands.

`sudo docker network create --driver overlay --subnet=172.20.0.0/16 test-network`

`sudo docker service create
          --network infra-network
          --name jenkins-master
          --m

[2016-08-08 19:42] thaJeztah commented on #25499
Are you trying to bind-mount a directory on the host, or mounting a volume? In case of a volume, `source` refers to the *name* of the volume, in case of a bind-mount, `source` refers to the path on the host you're bind-mounting, so for example:

**Bind-mount `/var/log` at `/foo/bar/` inside the container**

[code]

**Create/use volume `my-volume` and mount it at `/some/path/` in the container**

[

[2016-08-08 19:44] thaJeztah commented on #25499
I'll close this issue, because this does not look like a bug, but we are aware that documentation for `--mount` is still largely missing, and is currently worked on; we're tracking that through https://github.com/docker/docker/issues/24277

Thanks for reporting, feel free to continue the discussion after I closed this issue 👍

[2016-08-08 19:44] #25499 closed

[2016-08-08 19:46] cristhianbicca commented on #25499
@cpuguy83  @thaJeztah
thank you
Open this forum because of the difficulty to find documentation about it.
Thank you

[2016-08-08 19:49] thaJeztah commented on #25463
ping @sanimej could you have a look?

[2016-08-08 19:49] justincormack commented on #25501
I think this is an overlay kernel bug.

On 8 Aug 2016 7:19 p.m., "ttres" <notifications@github.com> wrote:

[2016-08-08 19:54] Garreat commented on #25386
In my case, I nginx balance service `app` traffic and service `www` traffic in a Swarm (that is, container replicas of a particular service). For this purpose, I set up another `lb` service (nginx).
I could skip `lb` service and publish `app` and `www` straight away (1.12 stuff), BUT. As @mrjana pointed, I still want something like nginx for SSL offload - I use this. Otherwise, all `www`'s tasks w

[2016-08-08 20:11] #12157 closed

[2016-08-08 20:11] #16575 closed

[2016-08-08 20:11] #20334 closed

[2016-08-08 20:12] vfarcic opened #25503 "starting container failed: network XXX not found"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Swarm cluster with three Docker machines

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

[code]

**Describe the results you expected:**

Not to see the "starting container failed: network go-demo not found" error

*

[2016-08-08 20:13] stevvooe commented on #25303
@tzz How do you use `--add-host` in your environment? Do you use it to route to external services or internal services?

The reason I ask is we are curious if this belongs on the network, as part of a service or requires a separate abstraction to manager to external service discovery. @mrjana

[2016-08-08 20:16] carrete commented on #22981
Same.

[2016-08-08 20:19] thaJeztah commented on #25503
could you provide some more information? did you create the network first?

[2016-08-08 20:22] vfarcic commented on #25503
I accidentally clicked "Save" while writing. The commands and the output are now copied.

[2016-08-08 20:25] jhowardmsft commented on #23079
RTM builds lift the restriction (of not being on the system drive), but it cannot be on an ReFS formatted drive.

[2016-08-08 20:40] sakserv opened #25504 "Kernel Panic - Centos 7.2 3.10.0 - with devicemapper LVM thinpool ext4"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
CentOS Linux release 7.2.1511 (Core)
3.10.0-327.13.1.el7.x86_64
Physical

**Issue:**
We are encountering sporadic kernel panics on roughly one node per day out of ~100. The oops output is as follows:

[code]

We are leveraging devicemapper with a back

[2016-08-08 20:41] anik786 commented on #25473
Has anyone yet been assigned to fix this bug?

[2016-08-08 20:45] thaJeztah commented on #25504
I haven't seen this reported, but given that docker doesn't install kernel modules, this is unlikely a bug in the docker codebase.

ping @rhvgoyal anything familiar in this?

[2016-08-08 20:46] thaJeztah commented on #25473
@anik786 there's not much we can do (see the linked issue); it's the way VirtualBox guest additions work

[2016-08-08 20:50] thaJeztah commented on #25503
No worries, thanks!

ping @mrjana this looks like the issue I ran into recently (well, same error, not sure if it's the same)

[2016-08-08 21:00] Illydth commented on #24277
@sfsmithcha This may be the wrong place for this comment but on that page under the "add an overlay network" the first command creates a "my-network" while the second command seems to indicate the service will connect to a "my-multi-host-network" which doesn't seem to exist since the prior network was called just "my-network"?  I haven't tested this yet but was curious as to the name difference be

[2016-08-08 21:07] jalmansor commented on #25311
@mavenugo the commands are above in my opening post. I've been trying to find the right configuration where the hub and the chrome containers can communicate back and forth while still making use of swarm mode to make scaling the chrome containers easier. So far that doesn't seem possible, even with using `--endpoint-mode dnsrr`.

@sanimej the selenium chrome instances initiate the connection to t

[2016-08-08 21:12] sfsmithcha commented on #24277
Good catch, @Illydth , Normally you can file a separate docs issue so as not to conflate multiple issues. However, this was a quick fix, so I created a pr: https://github.com/docker/docker/pull/25506

[2016-08-08 21:19] xbglowx opened #25507 "Be able to override daemon's log-opt to nothing"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
* AWS instance running Ubuntu 14.04 LTS

**Steps to reproduce the issue:**
1. Update `/etc/default/docker` to include something like `DOCKER_OPTS="--log-driver=json-file --log-opt max-file=10"`
2. Run [gist](https://gist.github.com/xbglowx/df3b359bebe

[2016-08-08 21:19] justincormack commented on #25360
Ok, this has been fixed upstream in patricia 2.2.5.

[2016-08-08 21:25] xbglowx opened #25508 "Allow querying of daemon's log-driver and log-opt via remote API"
Sorry for being brief, but I feel the subject says it all. If you need anything else, please let me know.

[2016-08-08 21:35] justincormack commented on #25360
Should be fixed by https://github.com/docker/docker/pull/25510

[2016-08-08 21:41] jeremywadsack commented on #5113
@cpuguy83 If this is fixed is there another issue causing the push command to fail. I continue to get this (about every two or three days) on docker 1.12. Restarting the docker machine causes it to lose all local caches of the images which means that I have to pull/build/push everything from scratch again.

[2016-08-08 21:56] justincormack commented on #14816
This was resolved in the upstream report.

[2016-08-08 21:56] #14816 closed

[2016-08-08 21:58] justincormack commented on #12481
No updates, so assuming resolved in newer kernel and closing. Please reopen if this is not fixed.

[2016-08-08 21:58] #12481 closed

[2016-08-08 22:01] justincormack commented on #8279
Hmm, mixed reports that it is fixed on 4.4.x. Any more updates?

[2016-08-08 22:06] justincormack commented on #25492
The behaviour of `--userns=host` bypassing the user namespace setting is intentional, judging from the commit. Accessing the Docker socket without any authorization plugin does give privileges, despite user namespaces.

Will take a look at why the containers are inconsistent though.

[2016-08-08 22:07] rwilliams commented on #25476
@jhowardmsft We're using ConEmu because of [cmder](http://cmder.net/)

[2016-08-08 22:10] jhowardmsft commented on #25476
@rwilliams So the obvious follow-on question :smile: why `cmder`?

[2016-08-08 22:20] scher200 commented on #17846
I am sorry I can't replicate this now with the exact same version of
ubuntu, maybe some DockerPeoples around who can an clearify this.

2016-08-08 14:17 GMT+02:00 FumiakiKato <notifications@github.com>:

--

[2016-08-08 22:22] rwilliams commented on #25476
@jhowardmsft Mostly because it gives us a nice tabbed console emulator. It's quite customizable so we can have for example windows bash, powershell, cmd, cygwin, etc all as different tabs of the same window. And of course the Monokai color scheme.

[2016-08-08 22:28] MatthewMiele commented on #25476
@rwilliams dont forget split window consoles

[2016-08-08 22:39] rileysaurus commented on #21837
@LK4D4 I work with @vincentwoo and can say the same cpu issue occurred for us in 1.11 before we upgraded to 1.12. Although I haven't seen the cpu be as high as the issue reported is reporting, even while testing with 250+ idle containers.

[2016-08-08 22:46] bountyx commented on #25321
+1 same issue here

[2016-08-08 22:50] cpuguy83 commented on #25321
@bountyx please see above requests for more details. A hang can occur for many different reasons and a "me too" does not help to pinpoint a cause.

If you're can send "SIGUSR1" to a hung daemon and collect the resulting stack trace from the daemon logs we can start to narrow down a cause.

[2016-08-08 22:59] jalmansor commented on #25311
@sanimej if you look above at my example from rc4, you'll see that all the Chrome nodes come online by exposing the ports and not using dnsrr. If I attach to the hub container and install ping, I'm able to ping the IP's of the Chrome containers that the hub logs as connected. Something that went into rc5 changed the way this behaves, because I'm easily able to stand up a couple fresh Ubuntu 14.04

[2016-08-08 23:02] crosbymichael commented on #23793
Nothing changed in the packaging for the 1.12 packaging on debian.  It is more like a race with the script, just made more visible by cloud init.

If anyone has a good repo, can you run `journalctl -xe` after the failure?  It sometimes gives better information than doing a `systemctl status` on the service.  You may see an error for the `docker.socket` that would explain why it failed, this will b

[2016-08-08 23:17] cpuguy83 commented on #25508
@xbglowx This information is available on the container's `HostConfig` via `GET /containers/<id>/json`

[2016-08-08 23:17] cpuguy83 commented on #25508
Closing since this should already be available, but please feel free to provide more detail of what you need if this is not enough.
Thanks!

[2016-08-08 23:18] wfarner commented on #23793
@crosbymichael here you go
[code]

[2016-08-08 23:18] rwilliams commented on #25476
Looks like Looks like https://github.com/docker/docker/commit/4acc2c7499425b9c2521977019d9fe4da73e6af8 blew away the working code for ConEmu.

[2016-08-08 23:27] tonistiigi opened #25511 "Flaky plugin removal/disable tests"
[code]

Seen in:

https://jenkins.dockerproject.org/job/Docker-PRs-experimental/22139/console
https://jenkins.dockerproject.org/job/Docker%20Master%20(experimental)/4079/console

cc @anusha-ragunathan @tiborvass

[2016-08-08 23:49] MatthewMiele commented on #25475
As mentioned in my other bug report, @rwilliams found that commit 4acc2c7 seems to be the commit that's added this regression

[2016-08-09 00:01] aluzzardi commented on #25483
Oh - yeah. I don't know the impact on networking, I don't know if this would work.

If it doesn't we should probably block this. @mrjana ?

[2016-08-09 00:08] RoelVdP commented on #10324
Docker guys, this request is 1.5 years old, has a lot of discussion and people interested. When will very easy feature request be considered for implementation?

[2016-08-09 00:16] seelam commented on #23917
Few comments

The way we handled this for multi-arch is by explicitly introducing the "arch" filed into the image. I would suggest that we introduce an "accelerator" field to address not only GPUs but in the future for FPGA and other accelerator.

On the compatibility check, I would implement it such that it is optional. A lot of applications can run with or without GPUs, if GPUs are there, they w

[2016-08-09 00:26] xbglowx commented on #25508
@cpuguy83 you are correct that it is available via the container, but what happens if someone creates a container that overrides the daemon options. I think there is value for being able to query the log driver/options of the daemon, don't you?

[2016-08-09 00:35] vikstrous opened #25514 "docker swarm init --advertise-addr 172.17.0.1 doesn't work"
I want to be able to run swarm on my laptop without it having a stable external ip, so I want to be able to use the docker0 ip (172.17.0.1) as the advertise address. The only machine that ever needs to connect to it is itself, so nothing will break and it would be nice if I could do this.

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment detai

[2016-08-09 00:38] xbglowx commented on #25508
Sorry, just saw your second comment. A little more info:

Let's say some type configuration management is responsible for running containers and making sure that when there is any changes, the older container is replaced with a new one. If configuration management can't read the default logging options, which come from the docker daemon, how will it know if there is a change/diff?

[2016-08-09 01:09] vikstrous commented on #25514
update: looks like `127.0.0.1` works

[2016-08-09 01:21] stevvooe commented on #25483
I am surprised it made it into the `service update` command.

[2016-08-09 01:26] stevvooe commented on #25514
@vikstrous Did you make sure to also specify a listening address? It looks like `172.17.0.1` wasn't bound to any interfaces considered for listening.

[2016-08-09 02:09] satyajitbm opened #25516 "Can't get to work systemd on docker 1.12"
When I moved from docker 1.11 to 1.12, I am unable to get systemd up.

**Output of `docker version` in 1.11:**

[code]

**Output of `docker info` in 1.11:**

[code]

**Output of `docker version` in 1.12:**

[code]

**Output of `docker info` in 1.12:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):** I am running it in a Centos 7.1.1503 bare metal.
Linux <hostname> 3.1

[2016-08-09 02:38] xbglowx commented on #25508
I just thought of one hack that could be a work around:

1. Have configuration management launch a new temp container using the new config, which in this case, would have nothing set for log_config
1. Inspect the container to see contents of log_config
1. Delete temp container
1. Compare output of log_config between temp container and the other container that we care about, to see if any action is

[2016-08-09 02:41] rvanider commented on #24045
I am also hitting docker/hyperkit#50 very consistently. I am able to successfully recreate it in my use case however it is inconsistent in how quickly it will manifest itself.

I am running an nginx:latest container with about 1GB of binary assets that are being served to an ansible installation process that is running in a VirtualBox VM. Access to the localhost http server is via the VirtualBox g

[2016-08-09 02:42] necrose99 opened #25517 "docker-emu"
https://github.com/necrose99/Docker-Gentoo-ARM64

Building in Docker Cloud's infrastructure... Starting to clone Cloning into '.'...
Cloning done Starting Build KernelVersion: 4.4.0-31-generic Os: linux BuildTime: 2016-06-01T22:00:43.211343203+00:00 ApiVersion: 1.23 Version: 1.11.2 GitCommit: b9f10c9 Arch: amd64 GoVersion: go1.5.4 Starting build of index.docker.io/necrose99/gentoo-arm64:latest...

[2016-08-09 03:06] violalu opened #25519 "Can't set net.ipv4.tcp_tw_reuse in docker 1.10.3"
**Output of `docker version`:**
Client:
 Version:         1.10.3-el7.centos
 API version:     1.22
 Package version: docker-1.10.3-10.el7.centos.x86_64
 Go version:      go1.4.2
 Git commit:      0b4a971-unsupported
 Built:           Tue Jun 21 17:51:37 2016
 OS/Arch:         linux/amd64

Server:
 Version:         1.10.3-el7.centos
 API version:     1.22
 Package version: docker-1.10.3-10.el7.cent

[2016-08-09 03:25] kouhin commented on #25474
@cpuguy83 Thank you!!!

After adding `MountFlags=private` or `MountFlags=slave` to `/usr/lib/systemd/system/docker.service`, mounted volumes disappeared.
I think it is caused by https://github.com/docker/docker/pull/22806

[2016-08-09 03:25] #25474 closed

[2016-08-09 03:36] parkr commented on #21704
Hello, I'm still seeing this in v1.12 as well, on `DELETE /containers/{sha}?v=1`. Using aufs as well, on Ubuntu 12.04 Precise.

[2016-08-09 03:46] kouhin commented on #25474
@cpuguy83 I also tried to change `MountFlags=shared`, it works and mounted volumes are not listed in `df -h`.
Then I tried to find out default MountFlags value via `systemctl show docker`.

This is the result:

| docker.service file  | systemctl show docker  |
|:-|:-|
| No MountFlags | MountFlags=0 |
| MountFlags=shared | MountFlags=1048576 |
| MountFlags=slave | MountFlags=524288 |
| MountFlags=p

[2016-08-09 03:47] allencloud opened #25520 "fail to report error in vendor.sh and workdir is stubborn"
Hi, All,

Yesterday, I tried to update go-units to the newest version.

When I use vendor.sh to achieve this, I failed at the first time.

Here are my steps:
1. `cd hack`
2. change commit id of go-units in vendor.sh
3. `./vendor github.com/docker/go-units`

I got results like below:
[code]

I think there are two kinds of problem here:
1. cannot execute command in directory `docker/hack`, only work

[2016-08-09 04:07] rwilliams commented on #25475
Forcing ANSI emulation on the input stream seems to fix the issue but I'm not if it's the right thing to always have the input stream emulated. see https://github.com/rwilliams/docker/commit/7313ed9316a91c03de3b39aa4cc5860ae6cb7515

[2016-08-09 04:30] jstarks commented on #25475
Probably this is a reasonable workaround for now, until conemu and Windows start playing nicely together again. I will take a closer look in the morning.

[2016-08-09 04:31] jstarks commented on #25475
Cc @jhowardmsft

[2016-08-09 06:31] xrow commented on #25409
Hi,

this is a quite dangerous and serve bug. It seems that we have a similar issue with a PHP application.

`Warning: rename(var/log/error.log,var/log/error.log.1): Das Argument ist ungültig in /var/www/sites/.../ezpublish_legacy/lib/ezfile/classes/ezfile.php on line 164`

We will try provide a reproduceable case on centos 7.

[2016-08-09 07:15] WayneZhouChina commented on #2174
Same issue
[root@xxxxx~]# netstat -ntlp
Active Internet connections (only servers)
Proto Recv-Q Send-Q Local Address           Foreign Address         State       PID/Program name
tcp        0      0 127.0.0.1:27017         0.0.0.0:*               LISTEN      934/mongod
tcp        0      0 0.0.0.0:9200            0.0.0.0:*               LISTEN      1318/java
tcp        0      0 0.0.0.0:9300

[2016-08-09 07:16] veerendra2 opened #25525 "Perform Health Check externally?"
Hello,
In the healthcheck, we plan to run an external command that can initiate test on container and uses the result for success or failure of health check. During the rolling update with HEALTHCHECK command, how can I get the new instance IP or ID to initiate my test?

Is there any external command for HEALTHCHECK to perform "tests"(An Shell code located outside of container) on the container if

[2016-08-09 07:40] samuelkarp commented on #25468
Hi @tlvince,

If you're running on EC2, the easiest way to provide credentials to the Docker daemon is by using an [EC2 instance profile](http://docs.aws.amazon.com/IAM/latest/UserGuide/id_roles_use_switch-role-ec2.html) with an appropriate IAM role.

However, if you were not running on EC2, you should still be able to provide credentials to the Docker daemon.  It looks like you're running Ubuntu

[2016-08-09 08:04] mafiosso commented on #25490
The problem was in empty Content-Type. Expected Content-Type: "application/octet-strea" should be explicitly stated in documentation. Thank you for resolving this issue.

[2016-08-09 08:06] #25360 closed

[2016-08-09 08:14] gngeorgiev commented on #25464
@coding2012 It's far from spam. I am quite sure it will help someone in the future.

[2016-08-09 08:14] thaJeztah commented on #25517
Thanks for sharing; however, the GitHub issue tracker is for reporting bugs, for general, non bug related discussions, https://forums.docker.com is a more suitable place, so I'll close this issue here

[2016-08-09 08:14] #25517 closed

[2016-08-09 08:17] Spindel commented on #25381
We get this regularly on 1.12.0 as well:
`rpc error: code = 2 desc = oci runtime error: exec failed: process_linux.go:75: starting setns process caused "fork/exec /proc/self/exe: no such file or directory`

CentOS 7 /updated

[code]

[2016-08-09 08:48] PanJ opened #25526 "Unable to retrieve user's IP address in docker swarm mode"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1. run following service which publishes port 80
[code]
2. Try connecting with `http://<public-ip>/`.

**Describe the results you received:**
Neither `ip` nor `header.x-forwarded-for` is the correct user's IP address

[2016-08-09 08:50] michael-holzheu commented on #25360
At least this one looks good now, thanks:
[code]

But with https://jenkins.dockerproject.org/job/Docker%20Master%20(z)/197 we have another problem.

Investigating...

[2016-08-09 08:56] justincormack commented on #25525
The `HEALTHCHECK` is intended for internal testing only. If you want to run external checks you will have to run as an additional service that controls your main service I think.

[2016-08-09 08:59] thaJeztah commented on #25490
That's good to hear, @mafiosso! I opened a pull request to fix the documentation; https://github.com/docker/docker/pull/25527

[2016-08-09 09:00] justincormack commented on #25519
All the `net.*` sysctls are namespaced, so the set available inside containers is not the same as on the host, depending if this is a global setting or not. This is a global setting which you need to change on the host.

Note for the ones that are namespaced, Docker 1.12 has a `docker run --sysctl=...` option to set them directly on container run, but this will not help you here.

[2016-08-09 09:09] duttski opened #25528 "Swarm mode - service start failing - `could not find an appropriate master` / `network [name] not found`"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

 * Running as root
 * Each machine has 2 interfaces (in essence, internal network `eth0` and public-facing `eth1`)

**Steps to reproduce the issue:**
1. manager-1: `docker swarm init --listen-addr=eth0 --advertise-addr=eth0`
2. node-1/node-2: `docker swarm join --advertise-addr=eth0 --listen-addr=eth0 [...tokens, machin

[2016-08-09 09:10] justincormack commented on #25514
I think the `docker0` bridge has not been created at this time, so you can't use it. I don't think we want to guarantee ordering over this, so best to use `127.0.0.1`.

[2016-08-09 09:31] #25490 closed

[2016-08-09 09:31] tlvince commented on #25468
@samuelkarp thanks for the well thought through and patient response. Setting environment variables in the systemd service file (`/etc/systemd/system/docker.service` in Ubuntu) worked for me.

I'm not sure if further resolution is needed here besides perhaps adding this as a note to the [awslogs docs](https://docs.docker.com/engine/admin/logging/awslogs/#/credentials); feel free to close this issu

[2016-08-09 09:49] thaJeztah opened #25529 "API: image/load response inconsistency"
The `image/load` endpoint returns either `text/plain` or `application/json`, depending on if the `?quiet` query-parameter is set to true/1 or false/0;

[code]

[code]

The endpoint should return JSON in both cases to be consistent

/cc @bfirsh

[2016-08-09 09:49] thaJeztah commented on #25529
relates to https://github.com/docker/docker/pull/22880

[2016-08-09 10:05] ijc25 commented on #24045
@gluxon since the reply ring is a statically sized buffer in a datastructure it is not sufficient to simply change the bounds check, you should also need to adjust the size of the memory region used. IOW if I understand your description correctly it sounds as if you have introduced memory corruption for the data following the ring!

[2016-08-09 10:05] anannaya commented on #25487
Sometimes containers are showing up&running... When i tried to exec /bin/sh not found.

[2016-08-09 10:05] veerendra2 commented on #25525
Thanks for reply! Can you share your idea with some details, that would be helpful

[2016-08-09 10:13] ijc25 commented on #24045
Building a hyperkit should be possible with something like this (assuming `$REPO` is the root of your https://github.com/docker/hyperkit clone with branch master checked out) (no warranty, untested outside my environment etc etc ;-)):

[code]

Now you should be able to take `$REPO/build/com.docker.hyperkit.sym` and drop it into the right place (i.e. over the existing one) in the Docker bundle.

[2016-08-09 10:18] thaJeztah commented on #25468
@tlvince it's best to not edit the systemd unit file directly; doing so causes issues if a future update of docker includes changes in the unit file (apt/yum/dnf in that case will not replace the unit file with the updated version, because local modifications were found).

To add custom options to a unit file, you can use an override (drop-in) file; you can find how to do so in this part of the do

[2016-08-09 10:19] thaJeztah commented on #25468
I'll close this issue, because it doesn't appear to be a bug, but feel free to continue the discussion or if you think improvements should be made to the documentation

[2016-08-09 10:19] #25468 closed

[2016-08-09 10:33] thaJeztah commented on #25483
I'm adding this to the 1.12.1 milestone; looks like we need a decision on this asap (one way or the other).

@mrjana I'll assign you for now

[2016-08-09 10:49] thaJeztah commented on #25514
should we close this one?

[2016-08-09 10:53] thaJeztah commented on #25519
I'll close this issue, because this is expected (see the comment above), but feel free to comment after I closed. Thanks!

[2016-08-09 10:53] #25519 closed

[2016-08-09 10:57] theypsilon opened #25531 "Dockerfile Multiple Inheritance with nested builds"
I would like to initiate a discussion about a different approach to solving the same issue that many people want to fix with those Mixins or Include proposals.

Here is a list of those discussions:
#https://github.com/docker/docker/issues/24445
#https://github.com/docker/docker/issues/3378
#https://github.com/docker/docker/issues/735

My two cents. The approach of using nested builds would be actu

[2016-08-09 11:13] thaJeztah commented on #25525
please keep in mind that the GitHub issue tracker is not a generic support forum; the issue tracker is for tracking bugs and feature requests (https://forums.docker.com, the #docker IRC channel or StackOverflow are more suitable for other types of discussions).

I'll close this issue for housekeeping, because this is not a bug, but feel free to continue the discussion here

[2016-08-09 11:13] #25525 closed

[2016-08-09 11:18] thaJeztah commented on #25531
I think this is a duplicate of https://github.com/docker/docker/issues/7115, which proposes nested builds; could you have a look if that is indeed what you're proposing?

[2016-08-09 11:19] dennisxrow commented on #25409
I prepared a testcase:
[code]
System specs:
[code]

It works on Centos 7 wit Kernel 4.7, however with a weird sideeffect:

[code]
ls -lisa shows ?????? for /imAlreadyHereBeforeYouStartTheContainer.txt after renaming it to /foo.txt

@thaJeztah  pointed out it should be fixed in Kernel 4.5, wich does not seems to be the case.
https://bugzilla.kernel.org/show_bug.cgi?id=109611

System 2 (Kernel 4.7 r

[2016-08-09 11:31] theypsilon commented on #25531
It is very similar @thaJeztah indeed.

I think there is still a very key difference, this proposal handles nested builds as external builds. They can be built on their own and they are isolated, they have no special syntax nor any other property. https://github.com/docker/docker/issues/7115 in the other hand, makes them to be part of the parent build declaration.

[2016-08-09 11:38] thaJeztah commented on #25516
The change most likely is because Docker 1.12 added support for `seccomp` on CentOS 7 (see `Security Options: seccomp` in the output of `docker info` (https://docs.docker.com/engine/security/seccomp/). Seccomp blocks certain syscalls to make containers more secure by default, but systemd is quite demanding, so fails to run because of that.

If you disable seccomp for that container (`--security-op

[2016-08-09 11:55] ErwinSteffens commented on #24672
@dgageot:
Running v1.12.0-beta21 (build: 5971) 5b59d37 now, but this does not solve the problem.
Running the script above solves it and docker is running now.

When I view my network adapter list I see that all my virtual switch interfaces have multiple 'disabled' instances. No idea why this is happening.

![image](https://cloud.githubusercontent.com/assets/6931114/17515465/d346592c-5e38-11e6-91a7

[2016-08-09 11:56] thaJeztah commented on #25528
/cc @mrjana ptal

[2016-08-09 11:58] thaJeztah commented on #25526
/cc @aluzzardi @mrjana ptal

[2016-08-09 12:13] anannaya commented on #25289
Could you suggest me something on this issue... I am not able to exec to any of the container.
I tried restart of docker service and container. Tried the Host reboot as well.
Still the same issue.. Could you help in come out of this problem.

[2016-08-09 12:21] cpuguy83 commented on #2174
@WayneZhouChina This shows that telnet connected to 127.0.0.1 on port 9000, and either docker-proxy has nothing to connect to and subsequently closed the connection or the process in the container rejected it.
Please check your configuration inside the container...

[2016-08-09 12:21] thaJeztah commented on #25289
I suggest to try and narrow down the cause by starting with a very minimal container (and `docker run` options), then see what option causes docker to fail.

As mentioned, you're giving the container full access to a lot of locations on your host, and bind-mounting `/dev` is known to cause issues as well. I'm not sure we'd be able to help, because this may be specific to your machine and/or the im

[2016-08-09 12:28] michael-holzheu opened #25533 "s390x: CI hangs in TestEventsLimit since "Move --rm to daemon side""
Looks like PR #20848 (commit 31e3970) introduced a problem for s390x. See Jenkins run: https://jenkins.dockerproject.org/job/Docker%20Master%20(z)/197

[code]

1) Test before commit (works):
[code]

2) Test after commit (hangs):
[code]

[2016-08-09 12:29] koct9i commented on #25409
That's how overlayfs works. Rename and link doesn't work across layers. You must copy all files and remove source.  Maybe shutil.move could do that

AFAIR XFS dooesn't support d_type in readdir by default. Probably our instance was created without required features. In newer kernels overlayfs complains about that in dmesg.

[2016-08-09 12:35] michael-holzheu commented on #25533
BTW: How can I make the test suite print the test before starting it? To find out which test is hanging my current procedure is to add the following patch:

[code]

I assume there must be a more elegant way?

[2016-08-09 12:38] hofsa commented on #21189
I'm trying to use a company-registry from "Docker for Windows 1.12.0-stabe Build 5968". The registry uses TLS and authentication with username/password.

When I'm trying to login from my "Docker for Windows"-CLI, I'm getting the following error-message:

docker login registry.mycompany.com:5000
Username: test
Password:
Error response from daemon: Get https://registry.mycompany.com:5000/v1/users/:

[2016-08-09 12:40] michael-holzheu commented on #25360
I opened issue #25533 for the new problem

[2016-08-09 12:51] toutougabi commented on #25431
Having the same issue
Docker version 1.12.0, build 8eab29e

Currently hosting the service in Azure.

The difference is that i did not reboot all the hosts, only one of the leaders got rebooted and the end result is the same, election seems to have failed.

let me know if there's anything i can add to this that would help

[2016-08-09 12:58] toutougabi commented on #25431
@aaronlehmann  i did try with the --force-new-cluster, this broke the cluster even further. when it executed the result was context deadline exceeded

now if i try to do a docker node ls from what was a manager before, i get "this node is not a swarm manager" but i cannot find any node that is !?

[2016-08-09 12:59] justincormack commented on #25533
cc @WeiZhang555

[2016-08-09 13:00] thaJeztah commented on #25431
@toutougabi if you have just two manager, then that may be expected; if one of two managers is down, you lost quorum, and there's no way to re-elect a new leader (because both leaders are needed to elect a new leader), also see https://docs.docker.com/engine/swarm/admin_guide/#add-manager-nodes-for-fault-tolerance. Basically having a single manager is better than two

[2016-08-09 13:03] toutougabi commented on #25431
@thaJeztah i had 3 managers

[2016-08-09 13:05] xytis opened #25534 "SRV strict check (RFC 2782) breaks integration with tagged consul service discovery"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
Reproducible anywhere.

**Steps to reproduce the issue:**
1. Create bridge network `docker network create test`
2. Launch `docker run --rm -ti --net test azukiapp/dig dig SRV google.com`

**Describe the results you received:**
Internal resolver fails

[2016-08-09 13:11] thaJeztah commented on #25534
This looks to be an issue in libnetwork; would you be able to open an issue in the libnetwork issue tracker? https://github.com/docker/libnetwork/issues

[2016-08-09 13:12] tzz commented on #25303
@stevvooe internal services with external visibility. Our problem is that `service.wanted` resolves in DNS to an external IP address, which is appropriate for some connections, but other connections need the internal IP address for the same service to avoid NAT and routing. Other possibilities for us are dnsmasq and keeping both addresses in DNS, but either way that's a lot more work than `--add-h

[2016-08-09 13:12] xytis commented on #25534
Is it possible to move this issue there?

[2016-08-09 13:14] thaJeztah commented on #21189
@hofsa did you restart the daemon after copying/adding the certificates?

[2016-08-09 13:14] michael-holzheu commented on #25533
Interestingly I see looping docker client processes after is canceled the test:

[code]

[2016-08-09 13:15] thaJeztah commented on #25534
Moving is not possible, but you can "edit" your post above, and copy/paste the content to the new issue

[2016-08-09 13:18] xytis commented on #25534
Since this is a breaking change from 1.11 to 1.12 in my usage case, could it be prioritised?

[2016-08-09 13:20] thaJeztah commented on #25534
@xytis apologies, that wasn't clear; so in 1.11, this worked without issues?

[2016-08-09 13:23] xytis commented on #25534
I haven't dug deeper, it could be related to error handling from libnetwork, but still, the strict check seems an overkill to me.

[2016-08-09 13:23] thaJeztah commented on #25534
Ah, I see it was added in https://github.com/docker/libnetwork/commit/4b6b13af2cb243cdcbaffa87d592b08fa71213b9, which is part of 1.12.

Perhaps we should keep this one open as well

ping @sanimej PTAL

[2016-08-09 13:46] thaJeztah commented on #24928
I don't think it's currently exposed in the UI, so may be worth opening a feature request for in the docker for mac issue tracker (if it doesn't exist); https://github.com/docker/for-mac/issues

[2016-08-09 13:57] anannaya commented on #25289
@thaJeztah  Thanks .. But Is  Docker does not supports /dev bind mout inside the container?
I have reinstalled the docker rpms ..this issue resolved..I really dont know what was causing it.

[2016-08-09 14:02] #25460 closed

[2016-08-09 14:04] saitima opened #25535 "1.12.0 http: panic serving @: page 9 already freed"
[code]

[code]

[code]

[code]

Additional info:

I just updated from docker 1.11.0 to docker 1.12.0 and when I try to run `docker-compose up` I get the following error and the following log in /var/log/docker.log

[code]

[2016-08-09 14:05] mavenugo commented on #25526
@PanJ can you please share some details on how debugging-simple-server determines the `ip` ? Also what is the expectation if a service is scaled to more than 1 replica across multiple hosts (or global mode) ?

[2016-08-09 14:11] thaJeztah commented on #25535
ping @cpuguy83 looks like something in the volume store?

[2016-08-09 14:13] rubycut opened #25536 "restarting service makes it stuck [swarm mode]"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Physical

**Steps to reproduce the issue:**
1.  ```docker service rm web ; docker service create --name web --replicas 3 --publish 3000:3100 --restart-condition any ...```

**Describe the results you received:**

Service is stuck, port is 3000 is no

[2016-08-09 14:16] cpuguy83 commented on #25535
Sadly looks like a boltdb bug, I'll look into it.

[2016-08-09 14:22] WeiZhang555 commented on #25533
Wait a moment, I'm working on the fix. :smile:

[2016-08-09 14:25] hofsa commented on #21189
@thaJeztah Of course. I even rebooted the Windows-Machine, just to be sure.

Did you get this running? Can you post your registry-url and your directory-path?

[2016-08-09 14:35] jaronoff97 commented on #25321
What's the solution to a hanging docker daemon like the one in this issue?

[2016-08-09 14:38] thaJeztah commented on #21189
I'm not running on Windows, just thought I'd check if you restarted the daemon (otherwise it won't / may not load new certificates)

[2016-08-09 14:46] cpuguy83 commented on #25474
The default is (supposed to be) `shared`, so I'm not sure why it would be any different.

[2016-08-09 14:48] junjiemars commented on #22753
I had Docker 1.12.0 (build 10871) running on Darwin,
1) All the docker container works fine;
2) The container can communicate with the **host**;
3) Communication between containers works fine;

Where is the **docker0** virtual interface? __OR__ there are any way can let __host__ connect to the containers?

[2016-08-09 14:49] cpuguy83 commented on #25508
Wouldn't the configuration management be managing the docker daemon configuration as well?

[2016-08-09 14:53] miggyb opened #25537 "Unable to set custom DNS settings while building a Docker image on OS X"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Running on **OS X 10.11.6** (El Capitan)

**Steps to reproduce the issue:**
1. Create `Dockerfile` with custom DNS settings (`RUN echo ... > /etc/resolv.conf`)
2. Try to build image with command `docker build .` (In same directory as `Dockerfile`)

*

[2016-08-09 14:54] alrf commented on #10450
The same issue on CentOS 6.5

[2016-08-09 14:56] tophj-ibm opened #25538 "ARM & Power CI: test panic: close of closed channel"
ARM & Power CI's are failing with this go error message across different tests.
Looks to be introduced in #20848.

Logs
ARM: https://jenkins.dockerproject.org/job/Docker%20Master%20(arm)/2751/consoleFull
Power: https://jenkins.dockerproject.org/job/Docker%20Master%20(powerpc)/1168/consoleFull

ping @WeiZhang555

[2016-08-09 15:02] cpuguy83 commented on #25537
`/etc/resolve.conf` and `/etc/hosts` are not persisted between `RUN` calls, this is why they are not respected.
If you instead do `RUN echo nameserver 1.2.3.4 > /etc/resolve.conf && <some command>` it will work for that command.
This is obviously not ideal.

As you mention there is no UI for configuring docker daemon settings which is problematic here.
This can be done though:

1. cd ~/Library/Con

[2016-08-09 15:09] WeiZhang555 commented on #25538
Sorry for the trouble I bring to you, can you try if this commit fixes your problem?
https://github.com/docker/docker/pull/25524

[2016-08-09 15:10] bprodoehl commented on #21837
I am seeing the same high CPU utilization under 1.12.  Running docker stats with 80 containers up, both cores are at about 60%, with docker-containerd using most of that, and with 300 containers up, both cores are at about 70%.  With 80 containers, most rows of the docker stats output have values, and with 300 containers, most rows are blank.  Stopping the docker stats command, CPU usage falls dow

[2016-08-09 15:23] LK4D4 commented on #21837
@bprodoehl Thanks for the info. It's pretty useful to know that CPU is spent in containerd, I'll try to profile it.

[2016-08-09 15:27] iamthemuffinman commented on #25311
I've tested @jalmansor's original commands in rc4 and rc5. In rc4 the chrome containers are registering with the hub on their overlay IP. In rc5/final, the chrome containers are registering with the hub on their service VIP. I believe what @jalmansor is saying is that the rc4 way of doing it is correct. @thaJeztah @mavenugo @sanimej Is the rc4 behaviour correct? Or the rc5/final way?

[2016-08-09 15:33] tophj-ibm commented on #25538
Testing now, thanks!

[2016-08-09 15:36] mlaventure commented on #25321
@jaronoff97 you would need to kill the daemon and restart it.

[2016-08-09 15:41] mlaventure commented on #25381
@alirezaDavid @Spindel any chance you could provide us with the daemon logs? If it's not in debug mode, could you activate it and try to repro again?

Thanks

[2016-08-09 15:41] jhave commented on #19096
i'm a newbie: am encountering same error (after iterm updated)
"192.168.99.100 refused to connect."
Kitematic Beta even shows ports listed. But they refuse to connect.
System was working fine thru Docker Quickstart.

# what are the parameters -name and my-web in the following command
# is name the name of the container?
docker run --name my-web -p 8080:80

[2016-08-09 15:47] xbglowx commented on #25508
That is a good point, but, it is not guaranteed. For those that have decided to not let their configuration management control the daemon, for whatever reason, will run into problems.

Regardless of how they are running their daemon, querying the API to get the information will work in either scenario. Plus configuration managements like Ansible and Saltstack interact with the docker with help fro

[2016-08-09 15:58] Spindel commented on #25381
How can I activate that without restarting containers?
(Sorry, doc's are readily accessible right now.)

On Tue, 9 Aug 2016, 17:43 Kenfe-Mickaël Laventure, <notifications@github.com>
wrote:

[2016-08-09 16:00] bprodoehl commented on #21837
No problem.  I know its a lot of data to chug through to get the stats on 80 or 300 containers, especially when it comes to all the memory stuff, so a solution in my mind would be to let users pare down what fields are looked at.  Should I break out my suggestion above for the added fields to the /stats API endpoint?

[2016-08-09 16:05] mlaventure commented on #25381
@Spindel you can add `"debug": true` to `/etc/docker/daemon.json` then do a `kill -HUP $(cat /var/run/docker.pid)`.

Assuming your `daemon.json` file is empty or doesn't exist, the full content would be:
[code]

But that will only take effect from the moment you send the SIGHUP.

If the daemon is already stuck and assuming you're on `1.12.0`, you can also activate `live-restore` and restart it, th

[2016-08-09 16:05] LK4D4 commented on #21837
@bprodoehl yeah, maybe we should go that way.

[2016-08-09 16:14] WeiZhang555 commented on #25533
@michael-holzheu can you try if this commit fixes your problem? Thanks.

https://github.com/docker/docker/pull/25524

[2016-08-09 16:17] bprodoehl opened #25539 "add ability to exclude fields from /stats API endpoint"
The docker stats command and the /stats API endpoint can be very CPU-intensive when there are many containers running (#21837).  I often just want to see CPU or network stats, so the daemon ends up doing a lot of parsing and processing that I don't care about, sometimes consuming the majority of the system CPU for several seconds just to give me one snapshot of the stats.  I'd like the /stats API

[2016-08-09 16:18] samholmes1337 commented on #25477
Ah wonderful, thank you very much this is exactly what I was looking for!

[2016-08-09 16:26] michael-holzheu commented on #25533
@WeiZhang555 unfortunetely the fix does not fix the problem on s390x:
[code]

[2016-08-09 16:27] luigiberrettini opened #25541 "No nslookup entry for the embeded DNS"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

VirtualBox

**Steps to reproduce the issue:**
1. Run a container
2. /etc/resolv.conf contains address 127.0.0.11
3. Run `netstat -nl` on the host

**Describe the results you received:**
No entry with 53 port listed

**Describe the results you expecte

[2016-08-09 16:32] vikstrous commented on #25514
I did not specify a listen address. The default seems to be 0.0.0.0, which is fine.

Yeah, we can close this because using 172.17.0.1 is a bad idea anyway.

[2016-08-09 16:32] #25514 closed

[2016-08-09 16:39] dnephin commented on #25498
https://github.com/docker/docker-py supports downgrading. You can instantiate it with `version="auto"`, and it will query for the server version. As features are added, there are version checks added as well, so if you try to use a feature that is unavailable for the version it will include the required version in the error message.

[2016-08-09 16:46] bamarni opened #25542 "stderr merged into stdout when using a tty"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Steps to reproduce the issue:**

1. `docker run -t --rm debian:jessie bash -c "echo stdout && echo stderr >&2" 2>/dev/null`

**Describe the results you received:**

    stdout
    stderr

**Describe the results you expected:**

I expected to only see `stdout`, but `stderr` seems to be merged with it, because of the tt

[2016-08-09 16:51] cpuguy83 commented on #25541
Can you be more specific in your steps? What problem are you having?

127.0.0.11 is local to the container's network namespace and as such you would not see `53` listed in the host's `netstat`.

[2016-08-09 16:54] hekaldama opened #25543 "Swarm Mode 1.12 /swarm/leave?force=true"
Is it intentional to have 1.12 `/swarm/leave` to have a query param of `?force=true`? If so, can we have the documentation updated (happy to do it if you point me in the right direction)? If not, should it be in the body instead and possibly JSON like the rest of the `/swarm/*` endpoints?

Thanks.

[2016-08-09 17:03] sanimej commented on #25541
@luigiberrettini @cpuguy83 `netstat` in the container's namespace won't list port 53 either. If Docker embedded DNS server listens on port 53 it would break the use cases where users want to run a DNS server in the containers. So what we do it listen on a random port and have an iptable rule to trap the DNS packets and do the port translation.

[2016-08-09 17:06] satyajitbm commented on #25516
It works after I applied the env, seccomp and /sys/fs/cgroup changes. Thank you for pointing it out.

My application uses systemd and I used the ssh server to illustrate the problem I faced. I'll stick with disabling seccomp.

[2016-08-09 17:10] cpuguy83 commented on #25542
Yes, the tty multiplexes stdout and stderr onto a single stream.

[2016-08-09 17:10] #25542 closed

[2016-08-09 17:37] thaJeztah commented on #23314
ping @cpuguy83 @msabansal is this still an issue? We no longer have TP5, but wondering if it's resolved in RS1

[2016-08-09 17:38] thaJeztah commented on #24387
/cc @justincormack perhaps you're able to help with this?

[2016-08-09 17:46] megastef commented on #21837
What is the frequency for the queries in docker stats? We had a similar issue with the API with 1 second and changed the query interval to 5 or 10 seconds to reduce the load.

[2016-08-09 17:53] PanJ commented on #25526
@mavenugo it's [koa](https://github.com/koajs/koa)'s request object which uses node's `remoteAddress` from [`net`](https://nodejs.org/api/net.html#net_socket_remoteaddress) module. The result should be the same for any other libraries that can retrieve remote address.

The expectation is that `ip` field should always be remote address regardless of any configuration.

[2016-08-09 18:04] bamarni commented on #25542
Thanks for the quick reply. Even though this is the normal behaviour of a tty, I reported it mostly because it felt like an unexpected behaviour of docker. Especially when using cli tools in development environment, it is sometimes useful to distinguish between stdout and stderr, but depending on the `-t` option docker will either merge stderr into stdout or keep them separate.

Then I don't know

[2016-08-09 18:05] tophj-ibm commented on #25538
looks like that PR fixes the issue, thanks again!

[2016-08-09 18:10] sguillory6 commented on #25292
This issue was indeed resolved when we upgraded to Docker 1.12. Thanks.

[2016-08-09 18:10] #25292 closed

[2016-08-09 18:15] cpuguy83 commented on #25542
@bamarni The solution would really be to not include `-t` unless you need it... and unless you are going to be physically behind a keyboard typing into a terminal you probably don't need a tty.

[2016-08-09 18:21] jalmansor commented on #25311
I finally got this working right using `--endpoint-mode dnsrr` for the Chrome service and passing them an env var to make them register with the IP from the overlay network and not the bridge. So this ended up being the setup:

[code]
It would still be nice to know what changed to cause such a difference in the way exposed ports work with overlay networks after rc4.

[2016-08-09 18:24] T24-hunter opened #25544 "docker-containers-shim duplication"
Hi Team !
I have a problem need help
docker-containers-shim duplication
not showing the container when using ps command docker
do not use docker exec -it container
## Server Version: 1.12.0

---

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

physical

**Steps to reproduce the issue:**
1. using d

[2016-08-09 18:28] joegross commented on #25508
I love burgers and I'm particular about my fixings. The good burger joints put their default fixings on the menu but others force you to ask first.

The worst ones won't tell you their defaults and force you to specify everything to keep 'em from getting it wrong. It's especially annoying if you hate pickles but forget to be explicit when you place your order.

[2016-08-09 18:33] bamarni commented on #25542
In development environment I always add the `-t` flag because I'm using helper scripts, for example here (https://github.com/bamarni/dotfiles/blob/master/bin/php-bin).

When running this script indeed I won't always need to type something, nor need the ssh agent forwarding, but it happens often. It'd really be time consuming to type the minimal docker command required just to run a cli tool in dev

[2016-08-09 18:37] pdevine opened #25545 "docker volume inspect does not show volume options"
If you create a volume with options, docker inspect doesn't output any of the information, making it difficult to determine how a volume was created.

Here's the current output:
`[
    {
        "Name": "foo",
        "Driver": "local",
        "Mountpoint": "/var/lib/docker/volumes/foo/_data",
        "Labels": {}
    }
]
`

I would expect another "Options" key which has a value like {"<key>": "<

[2016-08-09 18:38] epaminond commented on #17846
Get the same issue on my server. I could provide credentials for someone to debug it if needed.

[2016-08-09 18:47] sanimej commented on #25311
@jalmansor In RC5 we made a change to add the service VIP as a secondary IP to the interface. This was done to allow ping to the VIP work. This might be the reason for the behavior change. But in the dnsrr mode VIP will not be allocated. With 1.12 I will give it a try with the selenium hub & node commands you are using.

[2016-08-09 18:52] bobrik commented on #20034
This seems to be fixed in 1.12.0

[2016-08-09 18:52] #20034 closed

[2016-08-09 18:57] LK4D4 commented on #21837
@megastef it's 1 second indeed.

[2016-08-09 18:58] gluxon commented on #24045
Ouch! Thanks for the heads up and better instructions.

[2016-08-09 18:59] krisives commented on #25321
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=812207

[2016-08-09 19:00] Suseika commented on #5618
This happens to me when building container images. Interestingly enough, it wasn't happening two days ago, but I didn't update my system in much longer time.

During custom image building, this error happens when something downloads something, e.g. `apt-get` or `composer` download packages. This just crashes the building process.

[code]

[2016-08-09 19:02] dnephin commented on #25542
How about this:

[code]

[2016-08-09 19:05] kfuglsang commented on #25250
Im getting the same error on 1.12 (Docker for Windows)

https://forums.docker.com/t/standard-init-linux-go-175-exec-user-process-caused-no-such-file/20025

[2016-08-09 19:08] cpuguy83 commented on #25508
I agree it would be helpful to be able to know how the daemon is configured.

[2016-08-09 19:19] dwiest commented on #25098
Why is this issue marked as closed?  dockerrepo is still serving up broken RPMs:

$ yum list installed | grep docker-engine
docker-engine.x86_64                 1.12.0-1.el7.centos         @dockerrepo
docker-engine-selinux.noarch         1.12.0-1.el7.centos         @dockerrepo

$ sudo systemctl start docker.service
Failed to start docker.service: Unit docker.socket failed to load: No such file or

[2016-08-09 19:30] dnephin opened #25547 "daemon config validation does not detect conflicts with "common flags""
I discovered this while working on #25354

`findConfigurationConflicts()` only receives the daemon specific flags, not the "common flags" (debug, log-level, tls*, etc), so if a daemon is started with any of these flags, a config reload could override the previous value without the user being aware.

[2016-08-09 19:30] dnephin commented on #25547
I've got a fix for this in #25354

[2016-08-09 19:51] luigiberrettini commented on #25541
Thank you so much!
I spotted that address in a container's resolv.conf and tried to understand where I could find an information of that address listening for DNS queries.
I then found the go source file with a default 53 value and I thought it was hardcoded.

If I understood well, since in the container's /etc/resolv.conf no port is specified, queries on 127.0.0.11:53 are forwarded to 127.0.0.11

[2016-08-09 19:54] bamarni commented on #25542
Thanks @dnephin, very interesting idea. I'll give it a shot and post here again if I find some edge cases, hopefully not :smiley_cat:

[2016-08-09 20:08] tonistiigi commented on #25511
`TestPluginBasicOps` as well.

[code]

https://jenkins.dockerproject.org/job/Docker-PRs-experimental/22192/console

[2016-08-09 20:33] Puneeth-n commented on #21704
i'm facing the same issue. I am running jenkins on AWS with a 100GB mounted on `/var/lib/docker` via EBS.

`
ubuntu 14.04 LTS - 3.13.0-92-generic
Docker version 1.12.0, build 8eab29e
`

[2016-08-09 20:37] kkdevops commented on #15923
anybody know the cause of this docker crash on 1.7?

[2016-08-09 20:37] groyee opened #25549 "docker-machine with Azure driver cannot create a VM with the same vnet under different resource groups"
[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
//Create VM in Azure using docker-machine. Specify --azure-resource-group
1. docker-machine create -d azure  --azure-use-private-ip --azure-resource-group "**resourcegroupA**" --azure-subscription-id [_you subscription_] A

2.This will create VM 'A'

[2016-08-09 20:45] emegodoyr commented on #20429
i'm have the same error, the log command ```sudo docker daemon -D``` is:

DEBU[0000] docker group found. gid: 999
DEBU[0000] Listener created for HTTP on unix (/var/run/docker.sock)
INFO[0000] libcontainerd: new containerd process, pid: 26304
DEBU[0000] libcontainerd: containerd connection state change: TRANSIENT_FAILURE
WARN[0000] containerd: low RLIMIT_NOFILE changing to max  current=1024 max=40

[2016-08-09 20:47] taylorsilva commented on #24672
As an FYI.
I installed docker `1.12.0` on Windows 10 Pro Build 10586. Restarted windows to enable Hyper-v.
After reboot Docker tried starting and returned the above error.
I closed docker and ran it again with elevated permission (run as admin...) and it started successfully. Seems like it just needed elevated permissions to create the network adapter.

[2016-08-09 20:53] kkdevops opened #25551 "CentOS 6 Docker 1.7 with error "panic: runtime error: invalid memory address or nil pointer dereference""
I'm using docker 1.7.1 and apache mesos 0.26.0 on CentOS6 with aufs. The firsts hours all work fine, but after some executions of docker cleanup procedure the docker service made crashed with error:

    ...
    failed to create image rootfs 5072dcd56a9c733e757d74f90776e41d1e15e9ed4be3fc595a6e11ada3cb4d21: open /var/lib/docker/aufs/layers/734e9880ca0f915eea9b7f11c5e617632de27644dd16bac73be5d9712cf

[2016-08-09 20:53] seeekr opened #25552 "docker for mac memory leak?"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

On my Yosemite 10.10 MacBook Pro.

**Steps to reproduce the issue:**
1. Start Docker 4 Mac.
2. Stop Docker 4 Mac.
3. Observe memory leak in activity monitor (or whatever that's called in English -- using German version of OS X).

**Describe the resul

[2016-08-09 21:08] cpuguy83 commented on #25551
docker 1.7 is very old at this point and centos 6 is not supported.
In addition, I know there has been some fixes on progressreader with regard to a panic that looks like this so your best bet is going to be to upgrade your distro and docker in order to get a fix for this.

Closing since this is not something we can really address.
Thanks for the report!

[2016-08-09 21:08] #25551 closed

[2016-08-09 21:12] thaJeztah commented on #25552
Thanks for reporting! We recently opened a dedicated issue tracker for Docker for Mac; since this is specific to Docker for Mac, could you reopen this issue in that issue tracker? https://github.com/docker/for-mac/issues

I'll close this issue here, but thanks for reporting!

[2016-08-09 21:12] #25552 closed

[2016-08-09 21:13] kkdevops commented on #25551
@cpuguy83 OMG! really! I ready to use docker 1.7.1 on centos6.5 on production and the docker support team say CLOSE issue and upgrade dependencies? are you sure? OMG!

[2016-08-09 21:13] thaJeztah commented on #25552
Note that "moving" issues between issue trackers on GitHub is not possible, but you can "edit" this issue and copy/paste your report to save time. (Thanks for the detailed report!)

[2016-08-09 21:15] thaJeztah commented on #25549
Thanks for reporting; could you reopen this in the Docker Machine issue tracker? It looks like this is an issue with Docker Machine; https://github.com/docker/machine/issues

I'll close this issue here, but thanks for reporting!

GitHub doesn't allow moving issues between issue trackers, but you can "edit" your issue, and copy/paste your report to save time

[2016-08-09 21:15] #25549 closed

[2016-08-09 21:16] Spindel commented on #25381
[docker.txt](https://github.com/docker/docker/files/409894/docker.txt)

[2016-08-09 21:19] cpuguy83 commented on #25551
@kkdevops docker 1.7 is well over a year old at this point, and support for centos 6.5 was never really there (always lots of compatibility problems, kernel bugs requiring backports, etc).
The bug is fixed in newer versions of Docker already.

[2016-08-09 21:25] oliverhr commented on #20486
@cpuguy83 nop, the same happen to me seems that docker open "ghost ports", I open this with a detailed screenshots:

https://github.com/docker/for-mac/issues/205

[2016-08-09 21:26] groyee commented on #25549
Sorry, my bad.

Just opened a new ticket for docker-machine.

Thank You!

On Wed, Aug 10, 2016 at 12:17 AM, Sebastiaan van Stijn <
notifications@github.com> wrote:

[2016-08-09 21:30] thaJeztah commented on #25549
No worries! Just closing here for housekeeping, no harm done :smile:

[2016-08-09 21:32] thaJeztah commented on #25381
@Spindel looks like your host is out of space (device mapper is complaining about that)

[2016-08-09 21:35] thaJeztah commented on #25292
Thanks for testing @sguillory6!

[2016-08-09 21:44] sylvinus commented on #20316
FYI it happened today, Travis rolled forward (unannounced) to Docker 1.12:
https://blog.travis-ci.com/2016-08-09-outage-gce-images

This is going to suck for many users until there is a reliable way to pull caches.

[2016-08-09 21:46] thaJeztah commented on #20429
@emegodoyr based on this error;

[code]

I suspect you upgraded your kernel, but did not update the linux-image-extra package (which is needed for aufs to work.

Instructions for installing it for your current kernel version can be found here;
https://docs.docker.com/engine/installation/linux/ubuntulinux/#/prerequisites-by-ubuntu-version

[2016-08-09 21:47] Spindel commented on #25381
[docker.txt](https://github.com/docker/docker/files/409931/docker.txt)

And then attached file

[2016-08-09 21:52] emegodoyr commented on #20429
I found a solution , try ``` rm -rf /var/lib/docker/aufs``` and properly worked, thanks anyway ...

[2016-08-09 22:05] SiKing opened #25554 "dockerd -g is ignored"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
physical, running Linux Mint 18 == Ubuntu 16.04 LTS

**Steps to reproduce the issue:**
1. Following instructions at https://github.com/docker/docker/issues/3127
2. Modify /etc/defaults/docker, such that DOCKER_OPTS="-g /home/docker/".
2.1 I also tried

[2016-08-09 22:10] crosbymichael commented on #23793
We spent some time looking into this today and could not find anything new in the logs, journald, dmesg, anything for why we are getting the error.

It seems to be related to socket activation and early boot with cloudinit or other scripts that install on boot.  Doing this "manually" or running a `systemctl start docker` after the cloud init runs, everything works fine.

Still looking into it.

[2016-08-09 22:32] thaJeztah opened #25555 "Plugin API feedback / improvements"
While working on https://github.com/docker/docker/pull/25548, I noticed some things in the plugin API that may need improvement; putting them in an issue so that I don't forget, and we can discuss.

1. Plugins can only be referenced by *name* on the API (not by ID). Referencing by ID may be more consistent with other API endpoints, and also keeps control over possibly "ambiguous" URLs (see other p

[2016-08-09 22:43] thaJeztah commented on #20429
@emegodoyr doing so removes all your containers and images; also, you may want to check which storage driver you're now running on; if you switch to device mapper now (which is next on the list of drivers), your performance may really suffer

[2016-08-09 22:50] thaJeztah commented on #25554
Ubuntu 16.04 uses systemd, and the `/etc/default/docker` file is only used for systems running upstart and sysvinit (see the comment in that file: https://github.com/docker/docker/blob/v1.12.0/contrib/init/sysvinit-debian/docker.default#L3-L8)

You can configure the daemon by using a `daemon.json` configuration file, which works independent of the process manager in use, and also allows you to liv

[2016-08-09 22:50] #25554 closed

[2016-08-09 23:00] chkelly commented on #18842
Ran into this a few times as well. Confirmed that the suggestion of `GODEBUG=netdns=cgo` worked. I simply set this env var and then retried my docker pull and it immediately worked. On a separate machine that showed this problem restarting the docker daemon also worked.

[code]

This is the AWS default resolver, the docker daemon is configured to use 8.8.8.8 and 8.8.4.4.

[code]

[2016-08-09 23:11] beedub commented on #25321
I just experienced this issue as well. Here's a gist of the docker daemon USR1: https://gist.github.com/beedub/f4503125c60b18792b113b1b4cc8e162

This was `amzn-ami-2016.03.c-amazon-ecs-optimized (ami-84b44de4)` in us-west-2.

[code]

[2016-08-09 23:11] thaJeztah commented on #25544
/cc @mlaventure

[2016-08-09 23:17] thaJeztah commented on #25545
/cc @cpuguy83

[2016-08-09 23:34] whitecolor commented on #6396
I'm on window 10, and was trying to use `SSH_AUTH_SOCK`, but failed.
First of all I don't have have `SSH_AUTH_SOCK` variable set for the system.

I may run `ssh-agent` in the command line. And gives out standard output:
[code]
But it doesn't set `SSH_AUTH_SOCK` event for current shell. Then I tried to add such volume hardcodding value:
[code]
But in the container /shh-agent is empty and the stuff

[2016-08-10 00:12] stevvooe commented on #25303
@tzz Thanks for the explanation!

Would it be correct to say that you want this at the cluster, network or service-level? For example, will have different values for `service.wanted` depending if you are in different services?

[2016-08-10 00:49] linas commented on #8755
Quoting @brauner from lxc/lxc#554 "This is a known bug in glibc and @hallyn has send a fix to glibc (https://sourceware.org/ml/libc-alpha/2016-08/msg00307.html). It just needs to be applied."

Serge's fix is surprising and elegant.

[2016-08-10 01:22] yongtang commented on #25529
@thaJeztah I created a PR #25557 for that. Please let me know if there are any issues.

[2016-08-10 02:15] SiKing commented on #25554
Proof positive: systemd is a pain in the {end}. :p
The drop-in file seems to work. Thanx!

[2016-08-10 02:41] tzz commented on #25303
@stevvooe for stable environments (production) the lookup can be stable at the cluster or network level. That's our most important use case. For unstable (dev and QA) environments we may need to change the lookup at the service level more dynamically, but that's a less important use case for us.

[2016-08-10 03:00] ikhere commented on #25480
Thanks for the information. Have proceeded further by reading env-file file directly in linked container as well.

[2016-08-10 03:10] eungjun-yi opened #25558 "Can't scale up to more than 252 replicas with overlay network"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

physical

**Steps to reproduce the issue:**
1. `docker network create -d overlay ovnet`
2. `docker service create --network=ovnet --replicas=256 --name=web nginx`
3. Wait 5 mins and `docker service ls`

**Describe the results you received:**

`web` h

[2016-08-10 03:16] twang2218 commented on #25497
@voytoo I'm not quite sure it's the same problem. In my case, the service discovery was ok. On any container, the DNS returned the VIP or DNSRR results correctly. But in your case, it seems the service discovery didn't work somehow.

[2016-08-10 03:40] twang2218 commented on #25497
@thaJeztah My case may not be duplicate of #25340 . I tested `curl` the service across hosts, it's ok.

For example, `s1` cannot ping `s2`:

[code]

But, it's ok to `curl` the `s2`'s web service:

[code]

So, in my case, `ping` is the one not working across hosts, but TCP works fine across hosts.

[2016-08-10 03:59] haridsv commented on #13052
I am noticing the same issue, but even without using `-i` option. I am running `docker exec` on a bash script which calls an `exit 2` at the end. Using `bash -x` option, I can verify that the exit was called, and using another terminal, I confirmed that the corresponding process is nonexistent in the container, but the `docker exec` doesn't finish on the host. This is not happening for all executi

[2016-08-10 04:02] BretFisher commented on #18246
In Mac, like @jeremyVignelles says above, this has been solved in `docker run` with Docker for Mac's release, where filesystem events will fire inside and out of container.

[2016-08-10 04:39] sanimej commented on #25497
@twang2218 The behavior you are seeing expected. VIP based services use Linux IPVS load balancing to route to the backend containers. This works only for TCP/UDP protocols. When you use DNS-RR mode services don't have a VIP allocated. Instead service names resolves to one of the backend container IPs randomly.

For VIP based services the reason ping works on the local node is because the VIP is ad

[2016-08-10 04:42] nmvega opened #25559 "Fedora 32: Failed to start docker.service: Unit docker.socket failed to load: No such file or directory."
Hello friends:

I installed docker on Fedora-23 (the Fedora binaries from the Docker repository, not from the Fedora repository - FYI). Now, because I want to change the home directory (among other things) for where image are stored -- from the default of /home/user to /home/jdoe -- I had to create and populate the file: /etc/systemd/system/docker.service.d/docker.conf. I did this following variou

[2016-08-10 05:30] sanimej commented on #25541
`If I understood well, since in the container's /etc/resolv.conf no port is specified, queries on 127.0.0.11:53 are forwarded to 127.0.0.11 on randomly chosen port via iptables rules.
To retrieve more information, included the ip:port pair used by the embedded DNS server`

Yes. That is correct. Docker daemon is setup to listen on that random port. You can check the output of `iptables -L -t nat` i

[2016-08-10 05:30] #25541 closed

[2016-08-10 05:35] twang2218 commented on #25497
@sanimej I thought the pingable issue #24201, was solved, as it's closed by #24573.

If it's just a partially fix, is there anyway to make the VIP pingable across the hosts? As it's quite common to use `ping` to test the network connectivity, the `Destination Host Unreachable` quite confuse the people without the certain understanding of how IPVS works, especially some containers are pingable, som

[2016-08-10 05:45] oxplot commented on #20316
Re Travis, I've decided to simply use `docker save ci-image:$TAG | gzip > $TAG.tar.gz` and make use of [Travis cache](https://blog.travis-ci.com/2013-12-05-speed-up-your-builds-cache-your-dependencies) for now. Won't cover all cases, but should be sufficient in the mean time.

[2016-08-10 05:57] samuelkarp commented on #25468
@tlvince Glad I could help!  If you have suggestions on how to improve the docs I'm definitely interested. :smile:

[2016-08-10 06:01] #25153 closed

[2016-08-10 06:15] sqleejan opened #25560 "can't define ulimit in "dockerd config""
**Output of `docker version`:**

[code]
**Steps to reproduce the issue:**
1.in /etc/docker/daemon.json:
     "default-ulimits": {
        "nofile": {
            "Name": "nofile",
            "Hard": 2048,
            "Soft": 1024
        }
    },
2.start dockerd
3.output of docker log:
FATA[0000] unable to configure the Docker daemon with file /etc/docker/daemon.json: the following directives don

[2016-08-10 07:14] rg25 opened #25562 "Not able to connect to mysql through java application in docker !!!"
Issue Detail
1.)  I have a java application running in a docker container.
2) Also mysql is running in another docker container.
3) I am trying to  connect the java application to mysql using this configuration -
db.driver: com.mysql.jdbc.Driver
db.url: jdbc:mysql://mysql_docker_IP:3306/Database_Name
db.username: user
db.password: password

4) However the java application docker-container is not a

[2016-08-10 07:25] thaJeztah commented on #25562
This looks like a support question, and the GitHub issue tracker is not really intended for that (it's for reporting bugs and feature requests). It's hard to answer this, because there's not a lot information to go on, for example;

- how did you start the containers, with what options/flags?
- are both containers on the same docker network?
- what version of docker are you using? (output of `dock

[2016-08-10 07:25] #25562 closed

[2016-08-10 07:26] Serfenia commented on #12603
What's the current status of this issue and are there any possibilities in fixing it?

From my own experience I started seeing these errors when I had more then 10 docker containers up and running for a while. At the moment I am seeing these messages daily and the bigger my microservice network grows, the more errors of this kind I am seeing. (Docker 1.10.3 build 20f81dd)

[2016-08-10 07:31] zaojiao commented on #24366
Yes, Perferences...  then  select  "Reset to factory defaults".
can solve the problem.

[2016-08-10 07:35] rg25 commented on #25562
I am gona raise this issue on the suggested forum.
To answer you questions, if you can provide some help:
1) sudo docker run --name mysql -p 3306:3306 -t -i mysql bash
sudo docker run --name sss -p 1112:1112 -t -i sss bash
2) both the containers are on the same network
3) docker Version: 1.11.2'
4) Using a custom mysql configuration file
5) mysql-docker-ip  was obtained by running the container an

[2016-08-10 07:41] sanimej commented on #25534
@xytis Yes, the current checks in the code are based on the standard definition of the SRV record query. I will look into relaxing it.

[2016-08-10 07:42] dennisxrow commented on #25409
@koct9i Everything works fine with Kernel 4.7 and ext4.

[2016-08-10 08:07] bfirsh commented on #25555
Sounds like due to (2) and (3), URL encoding plugin names could get very hairy. Would it be practical to only allow calls with ID, then have a separate endpoint which allowed clients to inspect with a URL encoded name to resolve to ID? e.g. `GET /plugins?name=foobar`

Agree about (4), but that's a common issue throughout the entire API.

[2016-08-10 08:08] Ryuzavi commented on #15721
I also had this issue yesterday and it was a complete blocker:

[code]

Found quite a few threads like this one that suggested it was indeed due to the resize in centos (which I did do a while back) or that the devicemapper "partition" had hit it's own internal size limit and become corrupted.

Sadly there was no clear solution from what I could see.  This become irrelevant though as it also becam

[2016-08-10 08:10] thaJeztah commented on #25562
Some things I notice;

First of all, you're starting the mysql container interactively, and overriding the default command with `bash`; doing so will result in the actual `mysql` server not being initialized and started (just `bash`). You should not run the container interactively, but `detached` (`-d`). If you need a shell in the mysql container (e.g. for debugging), use `docker exec -it mysql ba

[2016-08-10 08:16] thaJeztah commented on #25409
ping @AkihiroSuda you may be interested in this as well (for your overview) ^^

[2016-08-10 08:26] aluminous commented on #2658
Hi, sorry to drag up an old issue, but did this make it into the 1.12.0 release or was it pushed back?

We recently upgraded, but restarting dockerd still stops running containers. If I understood correctly, killing dockerd shouldn't kill running containers anymore right?

[2016-08-10 08:33] cyphar commented on #8755
While @hallyn's fix helps solve the `isatty()` problem, there are other issues that we have inside runC that mean that *even with that fix* we still need some work here.

[2016-08-10 08:34] thaJeztah commented on #2658
@aluminous yes, it was implemented in https://github.com/docker/docker/pull/23213, which is in 1.12.0, but it's not enabled by default. Documentation was added through https://github.com/docker/docker/pull/24970, and can be found here; https://docs.docker.com/engine/admin/live-restore/

[2016-08-10 08:36] aluminous commented on #2658
Apologies, I missed that section of the documentation. Thank you!

[2016-08-10 08:43] miggyb commented on #25537
Hey, thanks for the help. Here's some more info on this:

Putting all the commands in one `RUN` step worked and so did your steps.

Is this documented somewhere already? If not, it should be added to the official docs somewhere.

Not persisting `/etc/hosts` and `/etc/resolv.conf` between `RUN` steps seems like a bug to me, but I'm not sure if that's a fundamental misunderstanding of the build proc

[2016-08-10 08:43] andrey01 commented on #15314
Seems like that has been fixed in the latest CentOS kernels:

[code]

[2016-08-10 08:45] Puneeth-n commented on #21704
ok. I found a workaround. Basically, I updated the AWS EBS volume volume to a higher capacity so that I get a higher baseline IOPS. This seems to solve the issue.

[2016-08-10 08:45] thaJeztah commented on #2658
No worries, I noticed it wasn't referred to from this issue, so was good to add some links here for reference anyway :smile:

[2016-08-10 09:36] allencloud commented on #25560
failed with
[code]

[2016-08-10 10:24] linas commented on #8755
What other issues? Are you saying that you built Serge's fix, tried `docker exec -ti mydockerinstance /bin/bash` or the tmux variant, and it still doesn't work?

[2016-08-10 10:56] cyphar commented on #8755
runC doesn't create consoles inside the `devpts` of the container. I'm not entirely sure whether @hallyn's fix will fix tmux for Docker (but I know that lxc correctly handles the `devpts` problem -- I'm currently working on it in runC). I haven't tested it because custom-compiling `glibc` sounds like a bad idea. :wink:

There are also larger issues that are caused by the `devpts` handling in runC

[2016-08-10 11:05] nilyang commented on #4717
I have the same question too, when use GDB ,add a `break point` ,then `run`, all ok but report an error:
[code]
When I google the reason ,I was found that this error can be resoved by change some kernel config like this:
[code]
But , as you see ,the **Read-only file system** error was reported agin, as `Operation not permitted`

[2016-08-10 11:14] cpuguy83 commented on #4717
@nilyang you must run this on the host, not in the container... Or if you run it in the container you would have to use --privileged when creating the container.

[2016-08-10 11:31] eli-jordan commented on #23105
@justincormack any outlook on when this will be available and/or a work around for the time being?
We have been putting the certs in /etc/docker/certs.d on linux/docker machine. Something similar for docker for mac would be great!

[2016-08-10 11:32] sqleejan commented on #25560
@allencloud ok ,but you should do it also.
[code]

[2016-08-10 12:01] sprohaska commented on #24906
@mavenugo I'm still experiencing problems related to the routing mesh. I have a vague suspicion that they might be related to the `ingress` overlay network.

Is there a similar trick to tune the MTU of the `ingress` network?

The following discussions in libnetwork seem to be related:
<https://github.com/docker/libnetwork/issues/1021>,
<https://github.com/docker/libnetwork/pull/1349>

[2016-08-10 12:07] #25404 closed

[2016-08-10 12:47] piotrkowalczuk commented on #22753
`Version 1.12.0-beta21 (build: 11019)`
1) All the docker container works fine.
2) The container __can't__ communicate with the host.
3) Communication between containers works fine.
4) `docker0` not available.

Ad.2)

Im having hugo instance that binds to `0.0.0.0` on port `1313`. `curl` from within the running container returns: `curl: (7) Failed to connect to 172.19.0.1 port 1313: Connection refu

[2016-08-10 12:48] ugurarpaci commented on #13331
--pull +1

[2016-08-10 12:53] yaziG commented on #13331
+1

[2016-08-10 12:57] thaJeztah commented on #25396
ping @mrjana any ideas on this one?

[2016-08-10 13:03] thaJeztah commented on #25560
@allencloud @sqleejan looks like this is a duplicate of https://github.com/docker/docker/issues/22309, which also reports this

[2016-08-10 13:15] hedzr commented on #4737
most simple solution should be:
[code]

[2016-08-10 13:26] cpuguy83 commented on #25558
I'm not sure I understand the problem here.
You have a network with a /24. Docker cannot add more than 252 replicas to the network, so those are not started.

.1 = gateway
.2 = service VIP
.255 = broadcast
That leaves 252 available IP's.

[2016-08-10 13:28] mlapierre commented on #23976
Seems this is fixed by a Windows update: https://github.com/docker/docker/issues/22449#issuecomment-235803959
Specifically: https://support.microsoft.com/en-us/kb/3157663

I had the same issue until I installed all the available updates. Works fine now with Kernel Version: 10.0 14300 (14300.1045.amd64fre.rs1_release_svc.160705-1059)

[2016-08-10 13:43] allencloud commented on #25560
@sqleejan @thaJeztah
Updated my response. I think there are two kinds of problem in this issue.

[2016-08-10 13:55] cpuguy83 commented on #25537
Yes, it is intentional that `/etc/hosts` and `/etc/resolv.conf` are not persisted. These are host specific settings that will tie an image to a particular host.

[2016-08-10 14:03] arthurlogilab commented on #2174
seriously ?

[2016-08-10 14:15] thaJeztah commented on #23976
Thanks for the update @mlapierre

@str3tch can you confirm that the issue is fixed?

[2016-08-10 14:17] pegerto commented on #5618
Hello,

When I try to replicate the issue over a controlled environment by creating an destroying  new images I can not reproduce it.

The issue is been raise at one of the servers running docker 1.9.1

[code]

I concurrently lunch 17753 container so far in a concurrent mode without leak any of the vert* interface. Can someone paste instructions to consistently reproduce the issue.

[2016-08-10 14:22] justincormack commented on #23105
There is a workaround:

[code]

Then restart Docker and they should be there and persist.

[2016-08-10 14:30] cpuguy83 commented on #5618
@pegerto Should be pretty easy to trigger if you have `--userland-proxy=false` and spin up a bunch of containers concurrently. I do this using https://github.com/crosbymichael/docker-stress

[2016-08-10 14:38] sushanthmangalore commented on #24762
Hi,

So is the billing info essential to create a node cluster even with the Docker Cloud default plan?

Thanks,
Sushanth

[2016-08-10 14:44] thaJeztah commented on #24762
@sushanthmangalore perhaps you can send an e-mail to support@docker.com for that question; this repository is strictly for the open source engine, not for Docker Cloud.

@arun-gupta I'll close this issue here, but you can discuss on https://forums.docker.com/c/docker-cloud (or probably send an e-mail to support@docker.com).

[2016-08-10 14:44] #24762 closed

[2016-08-10 14:49] npcode commented on #25558
@cpuguy83 I have two problems.

1. I'm not sure what is the proper way to create more than 252 replicas. Is `docker network create -d overlay --subnet=10.2.0.0/16 ovnet` enough?

2. `docker service ps web` shows no error so it's hard to know what's the problem.

[2016-08-10 14:58] VRanga000 commented on #25559
Seeing the same issue when provisioning a VM with centos7 using docker-machine

[2016-08-10 15:12] mlaventure commented on #25321
@beedub do you have the associated logs and console output?

After a first look, your issue seems to be a different root one.

[2016-08-10 15:14] agusti-t commented on #25008
+1

[2016-08-10 15:26] thaJeztah commented on #25559
Docker 1.12.0 has an updated systemd unit file for rpm based installs (which includes Fedora, and CentOS); if you're upgrading from an older version and have;

1. modified the default unit file (`/usr/lib/systemd/system/docker.service`), or
2. created a drop-in file to override the default unit file

The upgrade to docker 1.12 may not have updated the unit file with the latest changes (1.), becaus

[2016-08-10 15:29] thaJeztah commented on #25559
@VRanga000 provisioning with docker machine is fixed through https://github.com/docker/machine/pull/3624, but I'm not sure that's in a release already

[2016-08-10 15:31] thaJeztah commented on #25200
er, @vdemeester looks like this auto-closed from your repository :joy:

[2016-08-10 15:39] vdemeester commented on #25200
wat ? :sweat_smile: :joy: :scream:

[2016-08-10 15:41] mlaventure commented on #25544
@T24-hunter Could you give us the command you used to reproduce the issue? I unfortunately could not derives them from your issue description. Also, if you have the daemon logs it could help.

Thanks!

[2016-08-10 15:47] bean5 commented on #13331
Unfortunately, even if you use --no-cache, you are affected by this. This lack of pulling makes it really easy for builds to differ between machines, particularly Jenkins slaves, especially when one slave is much older than the other. Automated and non-automated (developer) builds are affected by this.

[2016-08-10 15:48] thaJeztah commented on #25536
Thanks for reporting! I guess this may be partly due because the `docker service` command are asynchronous, and can return before the actual action is completed.

Does the service eventually work after running those commands?

Also, but just out of interest, wondering why you're removing the service, instead of *updating* the existing service; doing so would take advantage of the swarm mode schedu

[2016-08-10 15:58] rg25 commented on #25562
Thanku, theJeztah for the help, while I am trying out the above things, I have created docker-compose file through which I am running these containers:
version: '2'
services:
  mysqll:
    build:
      context: ./mysql
    container_name: mysql
    image: mysql
    ports:
      - "3306:3306"
  sss:
    build:
      context: .
    container_name: sss
    image: sss
    ports:
      - "1112:1112"

[2016-08-10 16:07] thaJeztah commented on #13331
@bean5 if you're having that issue for `docker build`, then there's already `--pull` flag, however if you need builds to be exactly the same, you should use `docker content trust`, or refer to images by *digest*, e.g.:

[code]
or

[code]

Alternatively, `docker pull image && docker run ...` should do the trick if you want to always pull.

This issue is still something we want to address, but last

[2016-08-10 16:07] jalmansor commented on #25311
@sanimej, I'm assuming that the reason the Chrome nodes pick the IP from the docker_gwbridge is because that's the default route, not the overlay network. I'm not sure how much of that configuration is controlled by Docker, but it would seem to me that you'd want the overlay network to be the default, though my networking knowledge is a little rusty.  But I really appreciate you giving this a look

[2016-08-10 16:14] bean5 commented on #13331
@thaJeztah thanks for that!

[2016-08-10 16:14] bean5 commented on #13331
Running the following on a cron may be appropriate for some uses: `docker images --filter "dangling=false" --format "{{.Repository}}:{{.Tag}}" | xargs -L1 docker pull`.

[2016-08-10 16:31] twang2218 commented on #14856
Is there any update on this one? I got the same source IP problem as #15086, which can be solved by `--userland-proxy=false`. I can add the option to some docker hosts, however, I didn't find an easy way to add the option to the Docker for Mac. So, it would be great if `--userland-proxy` is `false` by default.

[2016-08-10 16:36] LK4D4 commented on #14856
@twang2218 default breaks kernel in a very bad way #5618 and #17443

[2016-08-10 16:40] jmreid opened #25571 "fs"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

[2016-08-10 16:41] #25571 closed

[2016-08-10 16:42] JonasT commented on #17443
This might be a silly question, but is there actually a bug report on bugzilla.kernel.org yet?

I can see various attempts to work around this in docker in the tickets above, but nothing that indicates the kernel developers were informed about a potential bug so they can get a chance to address this issue to fix it properly in the long run..

[2016-08-10 16:54] sfsmithcha opened #25572 "macvlan network driver only documented as experimental"
Release notes list macvlan as released with 1.12:

https://github.com/docker/docker/releases/tag/v1.12.0
https://github.com/docker/docker/pull/23524

Only docs are in experimental

https://github.com/docker/docker/blob/master/experimental/vlan-networks.md#user-content-getting-started

Per @programmerq :
programmerq [9:58 AM]
It could do with a one or two paragraph description of what the macvlan d

[2016-08-10 16:59] ikogan commented on #16112
I ran into a similar problem and the processes that hold the mounts don't make sense:

[code]

What does named have to do with this mount?

I had an unmount issue before as well that was similar:

[code]

What do httpd and friends have to do with this container?

[code]

[2016-08-10 17:02] thaJeztah commented on #14856
@twang2218 I don't think disabling `--userland-proxy` in Docker for Mac will be possible; there's a different version of the proxy running in there to integrate with OS X (IIUC)

[2016-08-10 17:03] aaronlehmann opened #25574 "Inconsistency between "node update" and other node APIs"
For `/nodes`, it looks like the DELETE and GET methods can take either an ID, a full name or an ID prefix, but POST can only use the actual ID. This seems inconsistent (and doesn't match the docs). Let's standardize on one or the other.

[2016-08-10 17:07] twang2218 commented on #14856
@LK4D4 It's sad to hear that. That means I cannot use `--userland-proxy=false` in production.

Then, how to solve the source IP problem without using `--userland-proxy=false`? It's quite important to have the client IPs for web apps, such as, returning the content based on the clients geolocation, web log analysis, etc.

[2016-08-10 17:11] ikogan commented on #24403
I'm seeing this issue, it seems, as well. I've posted some investigation (including system information) in https://github.com/docker/docker/issues/16112#issuecomment-238932212. Mounts do appear to be leaking at some point, but I'm not quite sure when or how the processes are related.

I have httpd setup to proxy to the container being deleted over the internal docker bridge and named automatically

[2016-08-10 17:22] ernestoalejo commented on #14856
@twang2218 The feature is tracked here: https://github.com/kubernetes/features/issues/27

[2016-08-10 17:23] cinchurge opened #25575 "docker daemon does not set PR_SET_CHILD_SUBREAPER, causing containers to be reaped by init when containerd crashes"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
physical box

**Steps to reproduce the issue:**
1. Start container: `sudo docker run -t -i ubuntu /bin/bash`
2. Find pid of containerd: `$ ps -ef | grep containerd`

[code]
1. Kill containerd: `$ sudo kill -9 69439`
2. docker-containerd-shim is repare

[2016-08-10 17:24] justincormack commented on #14856
That is correct. At some point we would like to look at alternative ways of
doing this in Docker for Mac, but it is not simple.

On 10 Aug 2016 6:02 p.m., "Sebastiaan van Stijn" <notifications@github.com>
wrote:

[2016-08-10 17:30] jp-gorman commented on #24045
I was getting this error: "Error: HTTP code is 500 which indicates error: server error - dial unix /Users/johnuser/Library/Containers/com.docker.docker/Data/*00000003.00000948: connect: connection refused" - I just quit docker from the top tool bar on OSX and ran the docker beta OSX app again and docker started fine.

[2016-08-10 17:40] tiny1990 opened #25576 "docker 1.12 change container dns config"
my env is :
mesos-1.0.0 +marathon-1.1.1  + mesos-dns + calico

I post json to run a container ,by my container dns is

search cn-north-1.compute.internal 31.1.128
nameserver 127.0.0.11
options ndots:0

json:
`
{
  "id": "zookeeper-1",
  "container": {
    "type": "DOCKER",
    "docker": {
      "image": "debezium/zookeeper:0.2",
      "parameters": [
          {"key": "net", "value": "datapipeline

[2016-08-10 17:43] tswift242 opened #25577 "Support automatic container removal when using docker create/start"
**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

As far as I can tell, there's no way to enable automatic container removal for containers run through the docker create/start CLI instead of docker run. Neither the create or start CLI commands accepts "--rm" like run does. This seems like it'll be a problem when Docker integrates with C/R (https://github.com/docker/doc

[2016-08-10 17:50] sanimej commented on #25576
@tiny1990 127.0.0.11 is the address of Docker embedded DNS server. From 1.10 for user defined networks service discovery is provided through the embedded DNS server. Your external DNS servers (from host's `/etc/resolv.conf` or `--dns` config) will be maintained by the DNS server and queries that can't be resolved by the embedded DNS server will be forwarded to the external servers.

[2016-08-10 18:02] thaJeztah commented on #25562
It looks like you're *building* an image for both, but tag the image built by the `mysql` service as `mysql`; that's dangerous, because you may overwrite the "official" `mysql` image locally; better give it a custom name.

Also, by setting `container_name`, the container name is *fixed*, and no longer dependent on the compose project name. Docker Compose automatically adds a network-alias for the

[2016-08-10 18:03] linas commented on #8755
OK. Building glibc can be a pain if you've never done it before, but its not too bad. Its not like gcc.

[2016-08-10 18:19] sidharta-s commented on #25504
possibly related to this? https://lkml.org/lkml/2013/10/31/385

[2016-08-10 18:36] johnflavin opened #25579 "Requesting events with "since" and "until" not reliably polling"
**Output of `docker version`:**

[code]

and

[code]

**Output of `docker info`:**

[code]

and

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**
the first machine is my local Docker for Mac installation; the second is an Ubuntu 14.04 VM in VirtualBox.

**Steps to reproduce the issue:**
1. Use the remote API to GET events, using the `since` query param.. For example, h

[2016-08-10 18:40] #25217 closed

[2016-08-10 18:42] whitecolor commented on #17846
@scher200
DISTRIB_ID=Ubuntu
DISTRIB_RELEASE=14.04
DISTRIB_CODENAME=trusty
DISTRIB_DESCRIPTION="Ubuntu 14.04.3 LTS"
NAME="Ubuntu"
VERSION="14.04.3 LTS, Trusty Tahr"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 14.04.3 LTS"
VERSION_ID="14.04"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubuntu.com/"
BUG_REPORT_URL="http://bugs.launchpad.net/ubuntu/"

If it helps)

[2016-08-10 18:42] jpca999 opened #25580 "Error response from daemon: ENV must have two arguments"
○ docker build -f Dockerfile .
Sending build context to Docker daemon 2.048 kB
Error response from daemon: ENV must have two arguments

---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
Use the commands below to provide key information from your environment:
You do NOT have to include this information if this is a FEATURE

[2016-08-10 18:45] brunofitas commented on #22847
I came across the same problem on centos 7.2. Removing the ``` -H fd:// ``` does fix the problem and docker runs fine.
Yet, my problem is a bit different, since I'm trying to install DC/OS and the installer keeps changing the file.
I'm following [this instructions](https://dcos.io/docs/1.7/administration/installing/custom/system-requirements/install-docker-centos/) and the installation fails every

[2016-08-10 18:50] thaJeztah commented on #22847
@brunofitas step 7. in those instructions change that; just modify those instructions and run them without the `-H fd://`

[2016-08-10 18:52] #25528 closed

[2016-08-10 19:02] colllin commented on #15086
Ok, what's the latest recommended solution if `--userland-proxy=false` is unworkable (as described in #14856)

[2016-08-10 19:04] Mic92 commented on #16112
If services are created with there own mount namespace, which is likely because you use systemd,
certain mount events like umount are not delegated to those process mount namespaces.
They still hold a reference to the dataset and zfs disallow to destroy those.
At the moment I am not aware of a good solution.

[2016-08-10 19:04] justincormack commented on #24661
I am going to close this. I will try to improve the documentation though. Feel free to continue the discussion here.

[2016-08-10 19:04] #24661 closed

[2016-08-10 19:05] colllin commented on #15086
Also, can we re-open this issue if #14856 was reverted?  Or has it been documented somewhere?

[2016-08-10 19:11] ikogan commented on #16112
The processes maintain a reference to those mounts until they themselves are shut down, then everything clears up and I can unmount. I'm not sure how trying to force unmount a few times would clear that up. It seems you'd need zfs destroy to try to unmount any existing mounts instead.

[2016-08-10 19:23] justincormack commented on #25580
it is complaining about the last line `ENV                NODE_ENV\` - what did you mean here? The `NODE_ENV` will already be set in the runtime environment.

[2016-08-10 19:24] justincormack commented on #25577
I think it should be easy to implement now #20848 has been implemented, by passing the `AutoRemove` flag if `--rm` is specified in these cases too.

[2016-08-10 19:26] thaJeztah commented on #16112
/cc @amitkris you may be interested in this one as well

[2016-08-10 19:27] thaJeztah commented on #25577
Yes, I think this would be a logical next step. Not sure if it should be on both `create` and `start` or just one of both

[2016-08-10 19:31] Mic92 commented on #16112
Yeah, I guess so. This is not fixable from docker. Mounting/Unmounting is a weak point of zfsonlinux, because
mount_vfs() is a GPL-symbol. They do scary hacks by calling userspace implementations from the kernel to trigger mount_vfs()

[2016-08-10 19:36] cpuguy83 commented on #25575
Parenting of the container process should not have an effect on what is displayed in `docker ps`.
Docker has it's own internal state for containers which operates independently of containerd, though it does rely on events from containerd to notify about state changes.

ContainerD being a child process of docker is only really because docker starts containerd automatically if it's not already start

[2016-08-10 19:37] cpuguy83 commented on #25576
@tiny1990 Thanks for the report, closing since this is expected behavior that should not be breaking your existing tooling unless of course you are relying on the values in /etc/resolv.conf.

[2016-08-10 19:37] #25576 closed

[2016-08-10 19:39] ventz opened #25584 "Container with NFS volume does not come up on system restart with restart always policy"
**UPDATE / SOLUTION FOR ANYONE HAVING THIS PROBLEM**
1.) Make sure your NFS mount in /etc/fstab does NOT have the "bg" background field
and
2.) Create: /etc/systemd/system/docker.service.d/override.conf
with:

[code]

and then
`systemctl daemon-reload`

and then reboot.

This is needed until docker adds "After=nfs.mount" to the default docker Unit section.

**^^^ UPDATE / SOLUTION FOR ANYONE HAVIN

[2016-08-10 19:57] thaJeztah commented on #25579
Hm, wondering if this is a documentation error; still digging in the history, but this PR; https://github.com/docker/docker/pull/2348 seems to indicate that `--since` should also stream

[code]

[2016-08-10 20:04] mlaventure commented on #25575
@cpuguy83 is correct in his description.

The container itself is technically the child of `containerd-shim` (which does use `PR_SET_CHILD_SUBREAPER`).

I can not reproduce your issue of `docker ps` not listing running containers after having killed `containerd`.

On restart, `containerd` "reconnects" to all running container and as such should provide an accurate list of running containers to the

[2016-08-10 20:05] thaJeztah commented on #25579
Never mind, looks like that PR may have the wrong description; the original PR mentions the "polling"; https://github.com/docker/docker/pull/1180

[2016-08-10 20:13] thaJeztah commented on #25579
I just tried on docker 1.5.0 and it shows the same behavior, so if the behavior is wrong, it's been like that for a very long time

ping @vieux any idea? is this just a documentation issue ("polling")?

[2016-08-10 20:14] cpuguy83 commented on #25584
Are you seeing an error when trying to start the container?

[2016-08-10 20:15] ventz commented on #25584
Update: It seems like there definitely is a race condition. NFS kicks off, but then backgrounds the "mount", and docker ignores the After because the process has kicked off.

Removing "bg" from the fstab NFS options seems to have helped.

Specifically, having:
```$IP:/volume    /nfs         nfs nfsvers=4,tcp,rw,hard,intr,timeo=600,retrans=2,_netdev,auto 0```
^ this works (defaults to 'fg' -- even

[2016-08-10 20:17] cpuguy83 commented on #25584
What does your systemd unit file look like?

[2016-08-10 20:17] vieux commented on #25579
I think the description os wrong, it should indeed be `Show all events created since timestamp and then stream`

The current behavior is correct in my opinion.

[2016-08-10 20:21] ventz commented on #25584
The override looks like this:

[code]

And we added:
[code]

They key part there is "After=nfs.mount" --> assuming this should probably be added by default, since if there's no /etc/fstab mount, it will just skip over it.

The default that we are overriding by appending the Unit is:
[code]

And has:

[code]

[2016-08-10 20:22] johnflavin commented on #25579
If the documentation about `since` and `until` switching from streaming to polling, is there no way to signal that I don't want to stream? Just a `stream=false` param or something?

[2016-08-10 20:24] cpuguy83 commented on #25558
I agree it should show some more detail, but it does say that `New n minutes ago` where as desired state is "Running"

[2016-08-10 20:26] vieux commented on #25579
how about
[code]

[2016-08-10 20:29] thaJeztah commented on #25579
We have a  `--no-stream` (Disable streaming stats and only pull the first result) for `docker stats`, so perhaps it can be considered; is there a specific use case?

Meanwhile, let me fix the docs for this flag

if @vieux suggestion doesn't solve your use-case, could you open a new issue / feature request for that flag?

[2016-08-10 20:30] brunofitas commented on #22847
@thaJeztah Thanks for your reply.
I've done that before, it didn't work. I've done it again, this time saving the output.

On every mode, before DC/OS:

**$ vi /etc/systemd/system/docker.service.d/override.conf**
[code]
**$ yum list installed | grep docker**
[code]

[code]

Everything is ok, docker is running normally

 **Installing DC/OS**

**Step01**
![dc01](https://cloud.githubusercontent.com/a

[2016-08-10 20:32] cpuguy83 commented on #25584
Docker does not care about nfs here. All it does is try to start the container with the host path mounted in (and if the hostpath doesn't exist it would create it).
Presumably it's failing because the process in the container is looking for something in the share that does not exist?

Did you check the container logs?
What sort of error are you seeing?

[2016-08-10 20:34] johnflavin commented on #25579
That does work. Combining `since` and `until` returns the events and closes the stream.

An explicit flag would be nice, but since there is a way to get the behavior I want, I wouldn't consider it necessary. (As long as the documentation makes this behavior clear.)

[2016-08-10 20:43] ventz commented on #25584
@cpuguy83 - Yea, it's failing just because the config (in this case, our test is an openvpn container and it's looking for the server.conf + certs).

But I think we figured out the issue -- it was NFS backgrounding and tricking docker into thinking that it "ran".

So the summary is in two parts:
1.) The unit file needs a "nfs.mount" added in the existing "After=" field.
2.) If you do NFS mounts in

[2016-08-10 20:45] pcgeek86 opened #25587 "Private Registry Error: x509: certificate signed by unknown authority"
# Scenario

## Registry

- We set up a private Docker Registry, using VMware Harbor, secured with a DigiCert TLS certificate
- We are able to access the registry from a web browser using properly validated TLS

## Docker Host

- We set up a separate Docker 1.12 Host on Ubuntu 14.04
- When we use `docker login myregistry.domain.com` to authenticate to the registry, we receive: `x509: certificate si

[2016-08-10 20:48] cpuguy83 commented on #25584
So it sounds like we can close this?

[2016-08-10 20:53] ventz commented on #25584
@cpuguy83 yea, but hopefully you can submit a request to add the parameter to the default Unit file, so that it looks like this:
After=network.target docker.socket nfs.mount

It will not impact people who are not using nfs, as it will just skip over it. But this way, for everyone using NFS, it will actually work.

[2016-08-10 20:56] cpuguy83 commented on #25584
@ventz I'm not sure this is a good option to have in the config file for everyone using Docker and is easy enough to add the customization.

[2016-08-10 20:57] ventz commented on #25584
@cpuguy83 ok -- maybe potentially just adding a section to the Docker docs then?

I updated the top here with the solution so that hopefully others who run into this can find the answer quickly for now.

[2016-08-10 21:02] brauner commented on #24834
Should be fixed by https://github.com/lxc/lxcfs/pull/124.

[2016-08-10 21:05] aelsabbahy commented on #23710
Here's the hack I used in [miniswarm](https://github.com/aelsabbahy/miniswarm) to tail all tasks of a service:

[code]

And here's what it looks like in action: https://youtu.be/in1ItGKDr98?t=5m15s

A `docker service logs [-f]` would be a great addition to the `service` abstraction.

[2016-08-10 21:06] b-long commented on #8755
@cyphar I've never done it, so I can't really speak to it, but I did find some info on the sourceware wiki, section [**Compile normally, run under new glibc** ](https://sourceware.org/glibc/wiki/Testing/Builds#Compile_normally.2C_run_under_new_glibc) :

Is that at all helpful?

[2016-08-10 21:09] sfsmithcha commented on #25497
@sanimej added a section on using ping w/ DNS/service discovery to this PR https://github.com/docker/docker/pull/25420

[2016-08-10 21:29] #25516 closed

[2016-08-10 21:35] neelimamukiri commented on #15188
Does the server-side code separation have a planned timeline?

[2016-08-10 21:38] thaJeztah commented on #25516
We looked into why this wasn't working with seccomp enabled, and suspect there was a change in systemd; a pull-request was merged (https://github.com/docker/docker/pull/25567) that updates the default seccomp profile, and should resolve this issue (i.e. you can run without disabling seccomp). That change will most likely be included in an upcoming patch update (1.12.1)

[2016-08-10 21:43] abronan commented on #25418
docker/swarmkit#1336 solves the issue, we can close this one after vendoring a new swarmkit version.

[2016-08-10 21:45] thaJeztah commented on #22847
Looks like something to be fixed in their installer. Not sure if systemd loads overrides in alphabetical order, but may be worth a try adding a `zz-override.conf` with the correct content as a workaround?

[2016-08-10 21:59] satyajitbm commented on #25516
Thank you @thaJeztah.

[2016-08-10 22:03] thaJeztah commented on #25580
As far as I can see there's no bug here, so I'll close this issue, but feel free to continue the conversation.

I also spotted that your Dockerfile contains several "curly" quotes (`“`); this may be due to copy/pasting here, but if not, you should replace those with regular quotes `"`, otherwise your Dockerfile may not work

[2016-08-10 22:03] #25580 closed

[2016-08-10 22:44] joshgarnett opened #25594 "Feature Request: Add the ability to specify ports on deploy"
The DAB spec states that the port exposed on the host cannot be specified in the file, which makes sense as I may want to deploy the app to a different set of ports.  That said, it would be very useful when running docker deploy, to be able to specify the port mapping.  Right now it is automatic and requires an explicit update of the service to expose the desired port.

[2016-08-10 22:57] thaJeztah commented on #25594
/cc @dnephin @aanand

[2016-08-10 22:59] thaJeztah commented on #25587
/cc @dmcgowan

[2016-08-10 23:01] thaJeztah commented on #25574
/cc @bfirsh

[2016-08-10 23:08] nickmaleao commented on #21735
Hello

I'm having a default gateway problem when i try to connect two networks simultaneously to the same container.

Example:

docker network create -d macvlan \
    --subnet=87.x.x.248/29 \
    --gateway=87.x.x.249  \
    -o parent=public0 public_docker

docker network create -d macvlan \
    --subnet=10.0.0.0/24 \
    --gateway=10.0.0.1  \
    -o parent=priv0 priv-docker

Test1:

1 - docker  ru

[2016-08-10 23:43] ventz commented on #25432
@thaJeztah having the same problem, but in a weird position:

In my case, there were only 2 docker hosts (node01, and node02)-- and the problem is the error propagated to both. I decided to re-init the cluster, and so on node02 I am having the problem above. I can't join an existing ,and I can't leave/force leave. But the issue is that on node01, it has already left the cluster...

So there's no h

[2016-08-10 23:43] brunofitas commented on #22847
I was speaking to DC/OS dev team, and they told me docker 1.12.0 is not supported.
The DC/OS installer has this line on it
[code]
which installs docker 1.12.0, when they should have something like
[code]
This has been fixed on version 1.8.
@thaJeztah Thanks for your help.

[2016-08-10 23:46] ventz commented on #25432
Follow up -- ended up removing everything from: /var/lib/docker/swarm
and just restarting docker. That seems to have done the job. Not sure if this is the "correct" way (if there even is one at this point for this bug? :))

[2016-08-10 23:57] dmcgowan commented on #25587
Do you have any certs in `/etc/docker/certs.d/myregistry.domain.com`? Currently Docker will not use by custom certs defined in `/etc/docker/certs.d` and system certificates, this will be fixed in a later version of docker using an upstream change in golang.

[2016-08-10 23:58] asmialoski opened #25598 "External access to a exposed service do not work throught some hosts"
I created a new Cluster Swarm Mode with 3 nodes. I create a new service with 2 replicas and I exposed this service on the port 8080. I can access the service throught IP address:8080 of 2 nodes, but throught IP address of 1 node it do not work.

Details:
Docker --version
Docker version 1.12.0, build 8eab29e

Steps to reproduce:
1. docker node ls:
ID HOSTNAME STATUS AVAILABILITY MANAGER STATUS
0afu

[2016-08-11 00:17] dfarrell07 commented on #24494
FYI, Packer's docker-tag post-processor is breaking because of this. https://github.com/mitchellh/packer/issues/3771

[2016-08-11 00:19] abronan commented on #25432
@rogaha @ventz Just checking but are the VMs changing IPs somehow upon restart/sleep? Manager IPs must be stable for this release and I think that for your setups it wasn't the case somehow. The Managers are restarting with different IPs and lose the contact with other Managers thus breaking the quorum set. So the only remaining solution in this case is to restart the cluster using `--force-new-cl

[2016-08-11 00:25] nerdalert commented on #21735
Hi @nickmaleao. The use case was designed to have an external router to route between networks. The driver uses the Libnetwork default IPAM functionality. I have seen a request similar to this that @aboch and I looked at but it was using Ipvlan which simply sets the default gateway to the interface but that is an experimental driver. Short of adding a flag to the driver that is saying ignore the d

[2016-08-11 00:26] jbayer commented on #25260
out of curiosity, do you anticipate that this will follow a [semantic versioning ](http://semver.org/) approach and therefore bump the docker image version to 1.2?

[2016-08-11 00:29] tiny1990 commented on #25576
@cpuguy83 thinks for ur reply ,but I change /etc/resolv.conf , it's not work, if I change network "BRIDGE" is ok

[2016-08-11 00:32] ventz commented on #25432
@abronan Not in my case.
I do have 2 IPs on the system (one is primary/routed L3IP, and the second is a L2 used for an NFS share)

I had actually set a systemd override to listen on 0.0.0.0, and later made it specific just to the L3IP. Did this because I saw at one point when I joined node02 as a manage or worker that it picked the L2 IP.

Removing everything in /var/lib/docker/swarm and restartin

[2016-08-11 00:44] pcgeek86 commented on #25587
We tried placing the cert chain into `/etc/docker/certs.d/my.domain.com`, but that didn't seem to work. What we eventually discovered, after significant trial and error, is that our NGINX instance in VMware Harbor was missing the intermediate CA certificate. After we added this, things started working.

Looking forward to the improvements to TLS in future Docker versions! Thanks @dmcgowan @thaJezt

[2016-08-11 00:44] #25587 closed

[2016-08-11 01:00] al-jeyapal commented on #24107
@pouicr we're having similar issues. So far, from what I can find, it appears that you can only connect to a Docker 1.12 'swarm scoped' overlay network if you use `docker service` (see
https://github.com/docker/docker/issues/23901#issuecomment-228133810). I presume this will work in `docker bundle` as well, but we're not ready to shift to that yet in Production given it's experimental status.

Hap

[2016-08-11 01:30] bddenhartog commented on #18756
I can confirm that the process described by @gabehesse results in a properly mounted volume (located on the drive(s) selected in Docker for Windows client's settings) on a new installation of Windows 10.

[2016-08-11 03:31] sandyskies commented on #22488
@thaJeztah  I found docker hang because of native process ,use high cpu.

[2016-08-11 03:37] apunraghu opened #25599 ""Invalid reference format" while running docker commit command"
**Output of `docker version`:**
docker version
Client:
 Version:      1.12.0
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   8eab29e
 Built:        Thu Jul 28 21:15:28 2016
 OS/Arch:      darwin/amd64

Server:
 Version:      1.12.0
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   8eab29e
 Built:        Thu Jul 28 21:15:28 2016
 OS/Arch:      linux/amd64

**Output of `docker info