[2016-10-25 20:36] #21346 closed

[2016-10-25 20:38] thaJeztah commented on #21252
Probably no longer an issue

[2016-10-25 20:38] #21252 closed

[2016-10-25 20:38] pbdeuchler commented on #25138
Argh, I'm a bit scatterbrained today... looks like I put this in the wrong github tab. Although reading some other issues I might need to start my own ticket. Apologies @nerdalert I'll get the new issue up in a sec

[2016-10-25 20:38] thaJeztah commented on #21322
ping @mrjana is this still something to consider?

[2016-10-25 20:38] sagar8192 commented on #27566
@justincormack Can someone please look into this? This is still happening for us.

[2016-10-25 20:38] nerdalert commented on #25138
Totally understand! Thanks!!

[2016-10-25 20:42] thaJeztah commented on #21109
We are still looking into providing an introspection API, but no ETA for that (yet)

[2016-10-25 20:44] s0komma commented on #25138
@nerdalert  -- we are having issues while adding macvlan with parent as bond0 interface. let me share more details

[2016-10-25 20:45] thaJeztah commented on #21135
ping @cpuguy83 PTAL

[2016-10-25 20:46] pbdeuchler opened #27750 "devmapper issue"
**Description**

Getting:

`devmapper: Error mounting '/dev/mapper/docker-202:1-2748-4febd4a1f1a8cabe7c78369d403da9763f13011fcb73e7625452a5a1b266a979' on '/var/lib/docker/devicemapper/mnt/4febd4a1f1a8cabe7c78369d403da9763f13011fcb73e7625452a5a1b266a979': invalid argument`

when I try to startup containers on a freshly restarted aws instance

[code]

**Additional information you deem important (e.g

[2016-10-25 20:46] thaJeztah commented on #21451
ping @tonistiigi is this still an issue?

[2016-10-25 20:46] thaJeztah commented on #21469
ping @cpuguy83 any thoughts on this one?

[2016-10-25 20:47] muayyad-alsadi commented on #17734
should be

[2016-10-25 20:48] cpuguy83 commented on #21346
Also note we did improve perf quite a bit here by reducing allocations in the relevant code.

[2016-10-25 20:49] thaJeztah commented on #21502
I'd recommend not relying on the environment variables that are set by `--link`, and use custom networks instead, as they are more suitable for dynamically connecting/starting and disconnecting containers. https://docs.docker.com/engine/userguide/networking/

We only maintain the existing "links" for backward compatibility and are not planning to make any enhancements in that area, so I'll close t

[2016-10-25 20:49] #21502 closed

[2016-10-25 20:49] tonistiigi commented on #21451
@thaJeztah I don't know. Our centos jenkins nodes don't have `userns-enabled` tag and are not used.

[2016-10-25 20:52] nerdalert commented on #25138
@s0komma great thanks, would you mind trying it using the `ip link` commands and see if those work with the `bond0` as the parent if you get a chance? Thanks!

[2016-10-25 20:53] thaJeztah commented on #21427
We have not intentions of adding this as a feature, but you can implement a custom graph driver as a plugin, or try using nfs (which works in some cases), or use the suggestions @Lennie provided

[2016-10-25 20:53] #21427 closed

[2016-10-25 20:53] thaJeztah commented on #21554
Yup, we should use this more often!

[2016-10-25 20:53] #21554 closed

[2016-10-25 20:54] thaJeztah commented on #21267
@jschrantz were you still thinking of working on this?

[2016-10-25 20:59] thaJeztah commented on #21497
There's some work being done for other logging drivers, e.g. https://github.com/docker/docker/pull/25633, so possibly we can reuse once it's there

[2016-10-25 21:01] thaJeztah commented on #21571
If there's no interest in updating, it's probably better to remove that file, but just my 0.02c

[2016-10-25 21:01] darrenstahlmsft commented on #27672
I'm also seeing this. I'm not sure if diff has ever worked on Windows though... I can take a look in a couple days unless someone else wants to look now.

/cc @jhowardmsft @jstarks @swernli FYI

[2016-10-25 21:08] jstarks commented on #27672
docker diff used to work.

[2016-10-25 21:08] jamtur01 commented on #21571
I don't use Kate anymore so if someone wants to update fine otherwise remove seems reasonable.

[2016-10-25 21:16] tswift242 commented on #26251
Thanks for the update @aboch!

[2016-10-25 21:18] s0komma commented on #25138
[root@XXXX ]# cat /etc/centos-release
CentOS Linux release 7.2.1511 (Core)

[root@XXXX ]# cat /proc/net/bonding/bond0
Ethernet Channel Bonding Driver: v3.7.1 (April 27, 2011)

Bonding Mode: load balancing (round-robin)
MII Status: up
MII Polling Interval (ms): 100
Up Delay (ms): 0
Down Delay (ms): 0

Slave Interface: ens2f0
MII Status: up
Speed: 10000 Mbps
Duplex: full
Link Failure Count: 1
Perman

[2016-10-25 21:25] vielmetti commented on #27614
The upstream bug https://bugs.alpinelinux.org/issues/6372 has been resolved, and alpine:edge now builds successfully on aarch64 (ARMv8) with the supplied script.

The comment in the close message is "This seems to be an aarch64 specific binutils ld issue. It generates relocations. Workaround is to add -Bsymbolic linker flag. We will be adding this to gcc specs shortly."

This issue can be closed.

[2016-10-25 21:28] thaJeztah commented on #27614
Thanks @vielmetti @KurtStam

[2016-10-25 21:28] #27614 closed

[2016-10-25 21:41] dmp42 commented on #11815
Can you elaborate on why that should be so?

What would be in the ubuntu dev version that would not be in the hardened node? (or conversely)

Are you concerned about tempered content from public sources?
Or about developers using libraries you have not vetted? (and below for more questions in that line)

If my code depends on library `foobar` in version `VER`, then the only way to make this reprod

[2016-10-25 21:44] s0komma commented on #25138
@nerdalert  -- on node where we removed the bond

[root@XCVX ~]# docker network inspect mesos-network
[
    {
        "Name": "mesos-network",
        "Id": "c058f210882b3b6a4d07e73556e4956ab2072ad5f89c789614d2fa5371cd59b1",
        "Scope": "local",
        "Driver": "macvlan",
        "EnableIPv6": false,
        "IPAM": {
            "Driver": "default",
            "Options": {},
            "

[2016-10-25 22:00] cyli commented on #27511
@sburnwal Thank you for trying out content trust!

[2016-10-25 22:03] thaJeztah commented on #21331
The source of the graphic is actually in the repo; https://github.com/docker/docker/blob/master/docs/reference/api/images/event_state.gliffy, which can be used on https://www.gliffy.com :smile:

[2016-10-25 22:06] muradm opened #27754 "attachable network static ip cleanup?"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
**Description**

Static IP assigned to container in attachable network is not freed after container remove.

**Steps to reproduce the issue:**
1. Create docker swarm mode cluster
2. Create overlay network with --attachable
3. Create container with --network <attachable_net

[2016-10-25 22:06] samuelkarp commented on #21331
Oh neat!  Now the bigger question is finding time.  If anyone else wants to pick this up before I've had the chance, please do!

[2016-10-25 22:07] gopinatht commented on #27602
I am closing this issue. It seems to be specific to the usage of gnutls with an older version of SSLv3. Our firewall upgraded to a newer version of TLS and that is what is causing the problem.

[2016-10-25 22:07] #27602 closed

[2016-10-25 22:19] darrenstahlmsft commented on #27588
@rayterrill Thanks for the info. With it we were able to get a repro of this and think we know the cause. This is a Windows bug, I don't have an ETA on a fix yet.

[2016-10-25 22:32] thaJeztah commented on #21331
:smile:

[2016-10-25 22:35] dhiltgen opened #27755 "Windows: Incremental build mistakenly uses cache with large context"
I'm trying to build a windows image using a remote windows docker daemon, with a docker client running on a linux system.  It appears that if you have a large build context, something is going wrong with the detection logic and it thinks nothing has changed even when content has changed.

[code]

# Steps to reproduce
[code]

## Expected:
* The first `docker run` should say `1 hello world` and the

[2016-10-25 22:56] thaJeztah commented on #21571
Thanks @jamtur01, we'll go for removing it as nobody here is using it as well, and we couldn't find an up-to-date version elsewhere

[2016-10-25 23:04] #21571 closed

[2016-10-25 23:25] rayterrill commented on #27588
@darrenstahlmsft Cool - Glad you guys tracked it down.

I've got another issue that I can't find a matching issue in the open Docker issues - Pasting longer PowerShell contents into a container in interactive mode truncates the text - have to copy/paste in small increments on Server 2016. Really annoying. Works fine in normal PowerShell - just does this in the context of a container in interactive

[2016-10-25 23:25] stewart-ibm commented on #20800
I used the alternate command and it worked, although the documentation is still the same, so it'll fail for others in the situation of only having internet access behind a http proxy that they've set just by setting an enironment variable (it's not transferred to the command run through sudo)

[2016-10-25 23:26] PatrickLang commented on #27588
@rayterrill sure - feel free to open a new issue

[2016-10-25 23:27] rayterrill commented on #27588
@PatrickLang Will do. Trying not to clutter y'alls space unnecessarily. :)

[2016-10-25 23:28] colakong commented on #26841
I've encountered the same issue. It occurs when I add an account to the `docker` group, while still having _at least one_ tmux session still open. Until I closed *all* tmux sessions owned by that user, new ones won't have the new group membership.

[2016-10-25 23:28] jpca999 opened #27757 "better way to run docker on ec2."
I'm new to the docker.  I develop my code on my local and push it on the GitHub.

Then i got to ec2 and pull all of it with help of docker file.

I'm developing the application on node.js using mean stack.

Is there a better way to do it since I'm running on Ubuntu ( ec2 ) itself,  can I save the space by not pulling the ubuntu via docker  ?

Do I even need to install docker on ec2 ?

[2016-10-26 00:05] cpuguy83 opened #27760 "Short lived containers stdin close err"
On master, when running a short-lived container, the daemon gets errors in the logs about not being able to close the stdin fifo.

For builds I frequently see:

[code]

For `docker run` I see:

[code]

I'm not sure why I'd get different errors here, may just be race conditions.

Ping @tonistiigi

[2016-10-26 00:10] darrenstahlmsft commented on #27708
/cc @msabansal See above failed hcsCall. Have you seen this before?

[2016-10-26 00:10] stevvooe commented on #24940
Most of the rolling update issues should be addressed with secrets, but I am thin on the details.

The root problem here is that we are sending hub passwords. If this was a token, the hub could change the credentials without affecting the token.

[2016-10-26 00:11] thaJeztah commented on #26523
@coryleeio that's good to hear; keep us posted how it goes

[2016-10-26 00:12] stevvooe commented on #27665
@fustbariclation Compare with a local registry at version 2.5.

[2016-10-26 00:16] cpuguy83 commented on #27750
You seem to be using a rather old and forked version of docker.
I'm not sure what all to look at here.

You might get 'invalid argument' if something is already mounted there (maybe a bad cleanup somewhere?)

[2016-10-26 00:18] cpuguy83 commented on #27750
Really the whole build is not right... it's using go 1.6.3 whereas 1.10 is only supported on go 1.5.4

Can you try with an official docker rpm?

[2016-10-26 00:21] cpuguy83 commented on #27566
@sagar8192 It would be really helpful if you can try with 1.12.
There's been a number of fixes for issues with the containerd integration (which is what these seem to be hanging on).

[2016-10-26 00:30] friism commented on #24940
@borjaburgos @fermayo is this something that you can help with? I'm reading up on the [OAuth registry spec](https://docs.docker.com/registry/spec/auth/oauth/). I guess it would be something like:

1. `docker service create --with-registry-auth foo-user/bar-repo`
2. [optional] swarm makes sure that the current creds work for that repo
3. swarm uses creds to obtain refresh token that's scoped to tha

[2016-10-26 00:30] tonistiigi opened #27761 "Deadlock after many create/rm container operations"
Dockerd and containerd stacktrace https://gist.github.com/tonistiigi/df8028687858f2f11f0016ac336f8185

`docker ps` blocked in https://gist.github.com/tonistiigi/df8028687858f2f11f0016ac336f8185#file-docker-stacktrace-L4440-L4442

On first look, it seems to be blocked on start waiting on containerd grpc. For example https://gist.github.com/tonistiigi/df8028687858f2f11f0016ac336f8185#file-docker-sta

[2016-10-26 00:34] dperny commented on #27728
having the exact same problem on my branch. i think the latest swarmkit vendoring broke it?

[2016-10-26 00:36] thaJeztah commented on #20800
@stewart-ibm could you open a pull request with the changes you think are required to the docs? The installation docs were moved to a central repository; http://github.com/docker/docker.github.io

[2016-10-26 00:36] #20800 closed

[2016-10-26 00:44] stevvooe commented on #27761
Looks like the error channel went down. ContainerD is blocking in the following places:

https://github.com/docker/containerd/blob/master/api/grpc/server/server_linux.go#L54
https://github.com/docker/containerd/blob/master/api/grpc/server/server.go#L66
https://github.com/docker/containerd/blob/master/api/grpc/server/server.go#L156

[2016-10-26 00:46] friism commented on #27755
I can reproduce this cc @jhowardmsft

[2016-10-26 00:50] rayterrill opened #27762 "Port mapping not working in Windows10 (14931.rs_prerelease.160916-1700)"
**Description**

Port mapping not working in Windows10 (14931.rs_prerelease.160916-1700). This used to work unless I'm losing my mind, but doesn't work anymore. Docker run is successful, but no firewall rules are created and no port mapping appears to be created. It doesn't appear to matter whether this is in daemon or interactive mode. Docker port shows the port mapping.

**Steps to reproduce the

[2016-10-26 00:53] friism commented on #27762
cc @JMesser81

I think this might be covered here: https://blogs.technet.microsoft.com/virtualization/2016/05/25/windows-nat-winnat-capabilities-and-limitations/

[2016-10-26 00:56] jhowardmsft commented on #27755
That's a very old client. @friism does yours repro on master and with a Windows client? I can take a look but have at least half a dozen other issues in my backlog. May take a few days to get to it.

[2016-10-26 01:04] dperny commented on #27728
Passing `--listen-addr` fixes the problem.

[2016-10-26 01:04] dhiltgen commented on #27755
Client version doesn't seem to matter - I just tried with a 1.12.2 linux client and it still repro's the issue.

[2016-10-26 01:04] rayterrill commented on #27762
@friism Wow - that's a deep article. Are you referring specifically to the "Accessing internal endpoints directly from the Host" section? If not, can you point me in the right direction?

Here's what my networking looks like right this second:

Ethernet adapter vEthernet (HNS Internal NIC):

   Connection-specific DNS Suffix  . :
   Link-local IPv6 Address . . . . . : fe80::2817:eec6:a7ee:c6dd%10

[2016-10-26 01:04] thaJeztah commented on #27642
reopening as it's not vendored yet

/cc @stevvooe

[2016-10-26 01:12] friism commented on #27755
@jhowardmsft reproes with 1.12.2 on windows for me too

[2016-10-26 01:18] kevingo commented on #27723
@coolljt0725 @justincormack Thanks. I change `GOOS` to `linux`, and everything works fine.

[2016-10-26 01:30] bvis commented on #25993
I don't know if it's exactly the same issue, the backtrace is similar.
[code]

[2016-10-26 01:38] pbdeuchler commented on #27750
That's very odd, all of those packages were just installed with yum via salt with no version numbers specified, although granted the last update was probably a couple months ago. I'll update all packages and check in.

[2016-10-26 01:39] tonistiigi commented on #27760
There doesn't seem to be an actual issue behind this, only logging in invalid cases.

There's a question if `fifo` pkg should return an error if fifo is called before it is actually opened from the other side. Docker atm doesn't expect it to be error and probably this is correct. Another way would be to open stdin fifo `O_RDWR` like it used to be so it is always open.

[2016-10-26 01:46] hqhq commented on #27045
@demaniak Why there is still such command? It is long gone, you should update code and use the latest upstream code. The problem of above command is that some ARM64 hardware may not support running 32-bit applications, so install libc from armhf as bootstrap probably won't work.

[2016-10-26 02:06] mlaventure commented on #27761
`containerd` is stuck because of an `AddProcess` call [here](https://gist.github.com/tonistiigi/df8028687858f2f11f0016ac336f8185#file-containerd-stacktrace-L143).

It's stuck in an infinite loop because [`isAlive`](https://github.com/docker/containerd/blob/52ef1ceb4b660c42cf4ea9013180a5663968d4c7/runtime/container.go#L667) keeps returning `true`, which would mean the `containerd-shim` process asso

[2016-10-26 02:08] mlaventure commented on #27761
Also, this should have hit the timeout [here](https://github.com/docker/containerd/blob/52ef1ceb4b660c42cf4ea9013180a5663968d4c7/runtime/container.go#L659) and unfrozen the `containerd` loop. Not sure why this didn't happen.

[2016-10-26 02:34] jhowardmsft commented on #27755
Interesting, this doesn't seem to repro for me using WS2016 14393.rs1_release_inmarket.161004-2338 and current master, on a windowsservercore image. @friism, here's my repro steps to compare. All from a cmd prompt (not PS). Client and daemon both on Windows.

[code]

[code]

Make sure daemon is clear

[code]

Clone the sources `git clone https://github.com/docker/docker c:\temp\docker`, then run `

[2016-10-26 02:47] aaronlehmann commented on #27728
Will be fixed by https://github.com/docker/swarmkit/pull/1698

[2016-10-26 02:58] jhowardmsft commented on #27672
#dibs

[2016-10-26 02:58] jhowardmsft commented on #27672
I'll see what I can find.

[2016-10-26 04:17] tonistiigi commented on #27761
cc @dongluochen

[2016-10-26 04:48] aftakhan commented on #27727
Hi Colljit0725,

As per the docker calculation total memory = 16.65, but as per Docker stats command output LIMIT = 16.66 GB. which is 0.01 GB more what docker calculates as per your comment. If we convert to MB as per docer 0.01*1000 = 10 MB. This is not a small no 10 MB.

root@dockerhost ~]# docker stats consulserver01

CONTAINER           CPU %               MEM USAGE / LIMIT     MEM %

[2016-10-26 04:50] #10324 closed

[2016-10-26 05:00] thaJeztah commented on #21651
ping @duglin @estesp are you able to help?

[2016-10-26 05:45] jachin opened #27765 "When running with -t only one /dev/tty"
**Description**

When I fire up a docker container in interactive move `-t -i` bash launches just fine, but when I try to do something else (in my case running `salt-ssh`) I get:

I'm guessing the issue is related to the fact that when I run `ls /dev/tty*` I only see one result:

In the previous version of Docker (that I was running) everything worked fine.

**Output of `docker version`:**

[code]

[2016-10-26 05:58] michaelkrog commented on #26523
@aboch I am away from my office till tomorrow, but I will definitely look into it then.

[2016-10-26 06:36] thaJeztah commented on #27744
ping @sdurrheimer

[2016-10-26 06:49] thaJeztah commented on #27726
Looks like this was an issue in docker 1.3.0, but fixed since. Docker 1.3.0 used a float; https://github.com/docker/docker/blob/v1.3.0/pkg/units/duration.go#L30

This is a duplicate of https://github.com/docker/docker/issues/12852, and was fixed in https://github.com/docker/docker/pull/12888, so I'm closing this. Perhaps time to upgrade :smile:

[2016-10-26 06:49] #27726 closed

[2016-10-26 06:54] StefanScherer commented on #27755
Can reproduce the problem with both 1.12.2-cs2-ws-beta and latest 1.13-dev on Win2016.

[code]

[2016-10-26 06:55] dongluochen commented on #27761
Yes the machine in this state is still there. We can look at it tomorrow morning.

[2016-10-26 06:56] wb14123 commented on #19521
Hi, @dmyerscough . I've get the same problem with yours. Have you solve it?

[2016-10-26 06:58] sdurrheimer commented on #27744
@ensonik Please take a look at the following [comment](https://github.com/docker/docker/blob/master/contrib/completion/zsh/_docker#L41-L43)

Short-option stacking is not enabled by default, activating it could cause invalid tab-completion, more information in this [commit message](https://github.com/docker/docker/commit/402caa94d23ea3ad47f814fc1414a93c5c8e7e58)

[2016-10-26 06:58] StefanScherer commented on #27755
But this is reproducable with only the hello.cmd with any other files as well:

[code]

[2016-10-26 06:59] friism commented on #27755
Ya, can confirm on master too

[2016-10-26 07:00] thaJeztah commented on #27744
Thanks for explaining @sdurrheimer. I'll close this issue as it looks to be resolved, but feel free to continue the discussion

[2016-10-26 07:00] #27744 closed

[2016-10-26 07:02] thaJeztah commented on #27602
Thanks for the update @gopinatht

[2016-10-26 07:13] bridgeunions opened #27769 "task numbers is more then replicas"
when I create a service which replicas is 1, it create 6 tasks

[root@myhost:~]# docker service ls
ID            NAME              REPLICAS  IMAGE                                            COMMAND
6gfawkrtuzvi  nostalgic_fermat  6/1       hub.xxx.com/apps/mms-webapp-read
9ch5s6hhld4q  awesome_dubinsky  1/1       hub.xxx.com/apps/mms-webapp-read

how to reproduct this:
1: I create a service but th

[2016-10-26 07:15] thaJeztah commented on #17734
@muayyad-alsadi feel free to open a pull request

[2016-10-26 07:20] thaJeztah commented on #27769
Looks like this is a duplicate of https://github.com/docker/docker/issues/27382, which will be fixed in docker 1.12.3. If you want to test that release, a release candidate is available for testing https://github.com/docker/docker/releases/tag/v1.12.3-rc1

I'll close this issue, as it should be resolved, but feel free to continue the conversation

[2016-10-26 07:20] #27769 closed

[2016-10-26 07:25] ghost opened #27770 "docker ps hang if log tag illegal"
I create service always hang(on the worker node use ps) if I use wrong config(I use fluentd)
   "tag": '"docker.{{.Name}}"',
the right config is:
    "tag": "docker.{{.Name}}",
I don't know if you can Reproduction this
docker info:
Containers: 1
 Running: 0
 Paused: 0
 Stopped: 1
Images: 1
Server Version: 1.12.2
Storage Driver: devicemapper
 Pool Name: docker-253:0-144735-pool
 Pool Blocksize: 65.

[2016-10-26 08:00] demaniak commented on #27045
@hqhq hm ok...the first build attempt (couple of days ago) was with merge from upstream (master) - same result. I will try again clean. Might be something leftover from previous attempts.
Thanks.

[2016-10-26 08:08] TomasTomecek commented on #27635
Pretty interesting that your mongo container crashes just before the `wait` call from docker-compose.

To me it sounds like that mongo is not set up correctly:

[code]

Since `/data/db` is a bind mount, can you ensure that mongo container is able to write there?

[2016-10-26 08:43] derfred opened #27772 "docker stats --no-stream hangs if there is a restarting container"
**Description**

If there is a container which is restarting the command `docker stats --no-stream` will hang indefinitely.

**Steps to reproduce the issue:**
1. `docker run --restart always ubuntu true`
2. `docker stats --no-stream` will hang
3. `docker rm -f <container>`
4. `docker stats --no-stream` will not hang

**Describe the results you received:**
see steps to reproduce

**Describe the res

[2016-10-26 08:46] BrickXu commented on #25560
Thanks @allencloud !

[2016-10-26 08:48] saytik commented on #2174
this  fix  the problem:

nano /etc/default/grub
add ipv6.disable=1 at line 6,like:
GRUB_CMDLINE_LINUX="ipv6.disable=1 ..."
grub2-mkconfig -o /boot/grub2/grub.cfg
reboot

[2016-10-26 08:49] runcom opened #27773 "mounts behavior differs between 1.10.3 and 1.12"
Reproducer:

[code]

`a.tar` and `b.tar` are in [testfiles.zip](https://github.com/docker/docker/files/552765/testfiles.zip)

That used to work in 1.10.3:

[code]

While on 1.12.x we get:

[code]

/cc @cpuguy83

[2016-10-26 08:52] westsouthnight commented on #27681
@aboch Where i can get manual for correct migration to new swarmkit? No have information about networking (overlay) in new swarmkit.

[2016-10-26 09:33] domdom82 opened #27775 "userns=host behavior different from non-namespaced with CMD and ENTRYPOINT statements"
**Description**
Not sure if DUP, sorry.

I am running user namespaces on Docker 1.12.1 and want to disable them for certain containers.

I have noticed different behavior when launching a container that has a CMD and ENTRYPOINT set in the Dockerfile vs. passing the same commands as `docker run` arguments.

Consider Zookeeper:3.4

https://github.com/31z4/zookeeper-docker/blob/7e7eac6d6c11428849ec13

[2016-10-26 09:35] andyxning opened #27776 "Aufs image size does not become small after deleting files."
the docker images output of `nginx:latest` is:
[code]

the output of  `docker run nginx /bin/ls -lh /usr/sbin/nginx /usr/sbin/nginx-debug` is
[code]

It shows that `nginx` and `nginx-debug` will added up to **2.3M**. So, if we delete these two files in a child image, the image size will be less than `181.4MB` of `nginx:latest`. However, this is not the truth. :(

I have a Dockerfile about like thi

[2016-10-26 09:58] shlomikushchi commented on #21699
Hello
I seem to experience the same issue.
I am using:
Docker version 1.12.2, build bb80604
docker-compose version 1.8.1, build 004ddae
docker-machine version 0.8.2, build e18a919

on a Windows 10 host.
I am running 2 Django(v1.9.7) web services with this configuration:
backend server:
docker run --net="mynetwork" -v `pwd`/backend:/opt/project backend -p 8000:8000 python manage.py runserver 0.0.0.

[2016-10-26 10:05] datadarius opened #27778 "Ability to check for certificate revocation"
I miss the ability to check if a certificate was revoked.
This would be important mainly for client certificates, but I can also imagine a circumstance where this is needed for the validity of server certs.
An implementation should ideally consider CSR or OCSP checks. This should be be considered by the docker client as well as the docker daemon accepting the connection.

[2016-10-26 10:06] astropanic commented on #27778
That would be indeed useful. 👍

[2016-10-26 10:13] scorpp commented on #16765
I'm also on same issue and quite disappointed. I'll outline my case and maybe it would make any sense:

I need to set up a build server which fetches sources over VPN connection. For some reasons I cannot (or don't want) to install VPN client on host. So my intention was to have a `vpn-client` as a docker container, then run `build-server` container with `--net=vpn-client` to make build server acc

[2016-10-26 10:16] thasmo commented on #27776
This is not how Docker images work. Once files have been added (commited) to an image, they can't be removed i.e. the image's size can't be decreased. This has to do with how Docker images are built; using layers (of changes).

[2016-10-26 10:27] andyxning commented on #27776
@thasmo i think all unionfs that docker utilize will behave like what you have said.

[2016-10-26 10:45] tombooth opened #27779 "Race condition closing a JSONFileLogger reader"
**Description**

When a container exits the state change will bubble up through libcontainerd into the daemon causing the container to be reset. As part of this it will close the LogDriver associated with the container and the driver will close all of its children. We have observed a race condition between closing a reader and receiving the final data from the log.

`followLogs` will receive a IN_

[2016-10-26 10:49] tombooth commented on #27779
This is potentially related to https://github.com/docker/docker/issues/16462 and https://github.com/docker/docker/pull/16463

[2016-10-26 11:03] jakobnotseth commented on #23992
I'm having this issue as well, no special characters though unless you count norwegian letters as special (æøå)... Using Docker Version 1.12.1-stable (build:7135) on Windows 10 Enterprise 10.0.14393.

[2016-10-26 11:29] justincormack commented on #27775
@domdom82 I don't think this has been reported before. What is the `uid` of the user zookeeper creates?

@estesp any ideas?

[2016-10-26 11:37] justincormack commented on #27765
Hi, this appears to be a bug in 1.12.3-rc1, it is the `/dev/pts/ptmx` device that is missing (symlinked from `/dev/ptmx`). This is the multiplexor device for `pty`s.

[2016-10-26 11:38] ThomasSteinbach opened #27780 "Docker container thomass/dockerpanic exited with panic log"
**Description**

Running the pushed docker image leads to unknown errors.

**Steps to reproduce the issue:**
1. docker run --rm thomass/dockerpanic

**Describe the results you received:**

[code]

**Describe the results you expected:**

A loop echoing the current date

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**

[2016-10-26 11:43] AkihiroSuda commented on #27780
you need to add shebang in your start.sh

[2016-10-26 11:46] justincormack commented on #27780
It should not panic though...

[2016-10-26 11:47] xcellardoor commented on #2174
I believe I have found part of the problem - FirewallD, see https://github.com/docker/docker/issues/27491#event-833578007

[2016-10-26 11:50] BSWANG opened #27781 "[BUG]docker daemon panic frequently with those logs"
**Description**

**Steps to reproduce the issue:**
1. run docker containers with overlay network
2.a period of time

**Describe the results you received:**
docker daemon panic with those logs

[code]

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

[2016-10-26 11:52] justincormack commented on #27484
Should not have been closed, ugh, github.

@gaocegege can you test this in `docker/docker` see my comment here https://github.com/opencontainers/runc/pull/1138#issuecomment-256324650

[2016-10-26 11:57] ThomasSteinbach commented on #27780
justincormack mentioned the point. It should run anyway. My workaround was changing the command to `CMD ["sh","/opt/start.sh"]`. But the error mentioned above reveals a greater problem.

[2016-10-26 12:09] LawAbidingNinja commented on #18113
Just ran into the same issue with docker 1.11.2

sudo systemctl status docker gave me:
`docker.service - Docker Application Container Engine
   Loaded: loaded (/usr/lib/systemd/system/docker.service; disabled; vendor preset: disabled)
   Active: failed (Result: start-limit) since Wed 2016-10-26 11:52:30 UTC; 6s ago
     Docs: https://docs.docker.com
  Process: 22946 ExecStart=/usr/bin/docker daemo

[2016-10-26 12:27] domdom82 commented on #27775
@justincormack the uid of the zookeeper user is 1000 in the image.
interestingly enough, I found a deviation in the mapping:

The "zookeeper" user is created in the Dockerfile, so it pre-exists when the container is launched.
But when I `su` from root to the user, the uid on the host is unchanged:

[code]

Output of `ps -xauf` on the host:

[code]

My `/etc/subuid` shows

[code]

I would expect th

[2016-10-26 12:31] catbacker commented on #23992
I've experienced this problem too.  It seems to manifest if I run Kitematic.

[2016-10-26 13:00] estesp commented on #27444
Interesting that this patch (re: namespacing the nproc limits per user/userns) just showed up on the containers linux mailing list--linking here for posterity as others may find this issue in the future: https://lists.linuxfoundation.org/pipermail/containers/2016-October/037599.html

[2016-10-26 13:02] estesp commented on #27740
Agree that we should add this--has come up a few times. I will work in this unless someone else is interested.

[2016-10-26 13:13] cpuguy83 commented on #27773
More likely `docker cp` changed, I think?

[2016-10-26 13:15] runcom commented on #27773
or maybe it's a bug there?

[2016-10-26 13:16] estesp commented on #27619
This is kernel dependent..maybe @runcom knows more about when the overlay + userns fixes went upstream?

I'm on `Linux ubu1604vm 4.4.0-45-generic` and the `rm -fr /usr/share/doc` works properly on **overlay** and **overlay2**

[2016-10-26 13:42] runcom commented on #27773
@cpuguy83 all I can see right now is that the docker cp'ed files end up into:
[code]
Instead I've expected to end up under `/var/lib/docke/voloumes/....`

[2016-10-26 13:42] ensonik commented on #27744
Thanks for the update @sdurrheimer . That workaround works fine for me.

[2016-10-26 13:43] cpuguy83 commented on #27773
@runcom Oh my! It sounds like the volumes aren't getting mounted for some reason on cp.

[2016-10-26 13:43] justincormack commented on #27765
Hi, this appears to only be an issue on docker for mac/win, so we will fix it there with a patch release as soon as possible.

[2016-10-26 13:49] runcom commented on #27773
can be because of some mount options like rprivate and such? can be a kernel issue maybe

[2016-10-26 13:51] cpuguy83 commented on #27773
Hmm I don't think so.
Since the daemon is supposed to be doing this essentially:

1. mount container rw layer
2. mount volumes on container rw layer
3. perform cp
4. unmount all the things

[2016-10-26 13:52] runcom commented on #27773
yeah, 1.10.3 works instead so it can't be what I said

[2016-10-26 13:52] runcom commented on #27773
@cpuguy83 were you able to reproduce?

[2016-10-26 13:53] justincormack commented on #27765
I am actually unclear as to the cause yet, it may need fixes in both places.

[2016-10-26 14:03] estesp commented on #27775
I may need to try and reproduce with the boot2docker image, as I am actually getting the expected results on a standard Ubuntu 16.04 system with Docker 1.12.x

For example, if I `su-exec zookeeper` in the image, I get a process running as {userns-base} + 1000 (the zookeeper user created in the Dockerfile):
[code]

(231072 is my remapped root; so that is the shell executed by my `docker run`; 23207

[2016-10-26 14:15] cpuguy83 commented on #27781
ping @sanimej

[2016-10-26 14:21] BrickXu commented on #27676
Hi @thaJeztah, I think it's the problem about #22806, that set `MountFlags` to the default value, here is some example:

### MountFlags=shared

The following is the original context in the `/etc/mtab`:

[code]
then I start a container, ubuntu:14.04, I found here is a unusual mount point in the file(at the last of the file):

[code]
I've no idea about the `net:[4026532874]` mount point means...

##

[2016-10-26 14:33] runcom commented on #27773
weirdly enough... I can only reproduce this on CentOS (building official docker 1.12.1 there also) while I cannot repro on fedora...

[2016-10-26 14:37] ionfist commented on #27538
False alarm!
It seems that everything is working as it should. I was doing a mistake by running a container using the -v flag and my local folder was mounted, that's why I could see the excluded files.

Again I apologise for any trouble and I hope this comment will help anyone in the future with the same "issue".

[2016-10-26 14:37] #27538 closed

[2016-10-26 14:37] bnegrao commented on #24697
To solve the problem with curl in docker build, I added the following inside the Dockerfile:
[code]
Note that the ENV statement is BEFORE the RUN statement.

and in order to make the docker daemon able to access the internet  (I use kitematic with boot2docker), I added the following into /var/lib/boot2docker/profile :
[code]

[2016-10-26 14:40] runcom commented on #27773
seems like related to devicemapper - if I run the reproducer on fedora+devmapper I get that error, with overlay no error. Will test on CentOS.

[2016-10-26 14:41] domdom82 commented on #27775
@estesp I can confirm the uid mapping problem with userns enabled does not appear on Ubuntu (I used 14.04).

However, for me the permissions issue still persists.

I think the main problem should be this:

1. If you configure your daemon for user namespace mapping, a folder `/var/lib/docker/<uid>.<gid>` is created. All images that you pull and all container fs you create are now owned by the remap

[2016-10-26 14:46] cpuguy83 commented on #27773
Haven't tried yet.

[2016-10-26 14:48] runcom commented on #27773
/cc @rhvgoyal

[2016-10-26 15:26] ghafran opened #27785 "COPY command does not recognize and copy directories with name "lib""
**Description**

COPY command does not recognize and copy directories with name "lib"

After renaming "lib" to something else, it works.

**Steps to reproduce the issue:**
1. create folder lib
2. Use COPY ./ ./ in Dockerfile
3. docker build -t test:latest .

**Describe the results you received:**

lib directory is not copied into the image.

**Describe the results you expected:**

lib directory sh

[2016-10-26 15:34] heidricha commented on #11407
similar problems here.

we use containers to simulate real life networks and hosts (kinda microservices environment)
5 nets (bridged) and 7 containers are created, containers should communicate over bridged networks

user@bt-controller:~$ traceroute central
traceroute to central (10.8.114.131), 30 hops max, 60 byte packets
 1  dev_central_1.dev_core.global.plains.eli-alps.local (10.8.114.131)  0.1

[2016-10-26 15:35] estesp commented on #27775
Ah, you are correct--I didn't go far enough with your example to try and "be" the non-root user when in a `--userns=host` executed shell and then run a script that tries to write to the config (like the echo value > zk-config section)

We were well aware of the disconnect of the filesystem ownership when running `--userns=host` but considered it to be a reasonable deficiency for the use cases we w

[2016-10-26 15:46] VojtechVitek opened #27786 "RFE: docker inspect "RunCmd" to help recreate similar containers"
When running containers manually, I often need to know what `docker run` command was originally used to spin up the container.

For example, when I need to attach more volumes to the container, I need to `docker stop` and `docker rm` the container and `docker run` it again (since `docker update` can't handle volume changes yet). Now, what was the original `docker run` sequence I used before?

It w

[2016-10-26 15:55] Gajanand1986 opened #27787 "Not able to start docker from VDI"
I am using VDI, I have installed docker toolbox on my VDI. Now when I am starting the docker terminal I am getting following error

_Starting "default"...
(default) Check network to re-create if needed...
This computer doesn't have VT-X/AMD-v enabled. Enabling it in the BIOS is mandatory
Looks like something went wrong in step 'Checking status on default'... Press an
y key to continue..._

Since I

[2016-10-26 15:58] cpuguy83 commented on #27785
Is `lib` in `.dockerignore`?

[2016-10-26 16:00] unclejack commented on #27787
This isn't a supported setup. VT-X or AMD-v are required to run the VM for Docker.

Please take a look at the documentation to learn more: https://docs.docker.com/docker-for-windows/troubleshoot/#/hyper-v

The simplesst thing you can do is to request a Linux VM or use a dedicated machine for this.

I'll close this issue now as there's no way to get around this technical limitation. VT-X or AMD-v i

[2016-10-26 16:00] #27787 closed

[2016-10-26 16:01] justincormack commented on #27765
We are about to release a patch release for Docker for Mac and Windows.

As there is no upstream issue, I am closing this here.

[2016-10-26 16:01] #27765 closed

[2016-10-26 16:09] unclejack commented on #27776
This is the expected and desired behavior for the code, as @thasmo has also stated above.

Each layer of an image builds on top of the previous layer:
a->b->c->d

`docker run` sets up a new layer which can be modified without affecting the image itself. You can simply think of this as:
a->b->c->d->container1
a->b->c->d->container2
Any modifications made to container1 or container2 won't affect the

[2016-10-26 16:09] #27776 closed

[2016-10-26 16:11] unclejack commented on #27757
This question is related to how Docker should be used. It doesn't seem to be an issue with Docker or any kind of technical problem.

This issue tracker is meant to be used for bug reports, feature requests and pull requests. This isn't a general support forum.

Could you discuss this one the Docker forums found at https://forums.docker.com/, please?

I'll close this issue now.

[2016-10-26 16:11] #27757 closed

[2016-10-26 16:15] ghafran commented on #27785
duh! Yes. My bad.....
You can close the ticket :)

[2016-10-26 16:15] #27785 closed

[2016-10-26 16:21] crosbymichael commented on #27761
What version is this being tested on?

[2016-10-26 16:23] zjxpsetp commented on #27666
`	project, err := docker.NewProject(&ctx.Context{
		Context: project.Context{
			ComposeFiles: []string{config.GetDockerComposeYmlFile()},
		},
	}, nil)

	if err != nil {
		return allInfo, err
	}

	// Get container name and status
	allInfo, err = project.Ps(context.Background())
	if err != nil {
		return allInfo, err
	}`

with a loop to run this code, we found there are too many file descriptor un

[2016-10-26 16:24] mschwartz commented on #27635
mongo database works with the app for hours on end before the crash happens.

The crash is somewhat random.  It's mostly reproducible by simply letting the container run for hours, if necessary.  It crashes on its own without me doing anything.

It also crashes while developing software.

My docker-compose.yml file:
[code]
As you can see, I'm using the stock/official mongo

[2016-10-26 16:24] mlaventure commented on #27761
@crosbymichael https://github.com/docker/docker/commits/32b541e44385206772b30b2a6f241a7c809aa62f

[2016-10-26 16:34] feedthefire opened #27789 "docker import using --change value with double quotes throws `bare " in non-quoted-field` error"
**Description**

Running `docker import` using a `--change` value which contains a double quote fails with an error.

**Steps to reproduce the issue:**
1. Export a container into a tar file or pipe to STDOUT
2. Import the exported tar file (or STDIN) with a `--change` value which contains a double quote
3. Produces error `bare " in non-quoted-field`

**Describe the results you received:**
Running

[2016-10-26 16:34] adewes opened #27790 "Make the internal DNS server available from the host"
This is a feature request / request for clarification.

I have the following use-case: I want to access Docker containers from the host machine via their internal network name. As an example, I want to create a user-defined network with containers named "foo", "bar" and "baz". I then want to access these containers from the host machine via their internal DNS names (e.g. "ping foo"). As far as I u

[2016-10-26 16:38] crosbymichael commented on #27761
Is there a way to reproduce this? I guess try to run alot of execs and see if it happens?

[2016-10-26 16:39] albers opened #27791 "Fix bash completion of images when default tag does not exist"
This was discovered by @mlaventure in https://github.com/docker/docker/pull/27719#issuecomment-256274763.

In some commands, bash completion of images includes the repository where it should not.
The repository only makes sense if the default tag `latest` exists. If not, this completion is illegal.

In the following examples, `busybox` is suggested. But this is interpreted as `busybox:latest`, whi

[2016-10-26 16:40] albers commented on #27791
#dibs

[2016-10-26 16:42] aboch commented on #27541
@the-nw1-group

Please make sure ip protocol 50 is open for all your hosts.
See #27425

[2016-10-26 16:44] yongtang commented on #27789
I think this one has been fixed (See #26173) in the master some time ago.

[2016-10-26 16:50] jessegranger opened #27792 "Windows: Error response from daemon: missing device in volume options"
**Description**

Cannot use a named local data volume on Windows.

"Error response from daemon: missing device in volume options."

**Steps to reproduce the issue:**

1 > docker volume create --name mongodata
2 > docker volume ls | grep mongodata

[code]

3 > docker run -it -v mongodata:/data/db mongo

[code]

**Additional information you deem important (e.g. issue happens only occasionally):**

T

[2016-10-26 16:51] unclejack commented on #27118
Why is this necessary? This is still an open source project.

[2016-10-26 16:59] mlaventure commented on #27118
@unclejack those scripts are specific to the way we make the releases here at docker. @thaJeztah point on keeping the doc makes sense, but the release scripts themselves are not useful to anyone else.

Note that the scripts that actually **generates the deb/rpm** aren't going to disappear from the repo.

[2016-10-26 16:59] gmistick commented on #9755
I'm now using Overlay2, and i still saw increase in disk usage.
docker ps -s showed me that some of the containers reached a size of 50G.. (Its not the logs because they are written to a mapped binded volume ).

Any advice on how to debug what piece of the container is taking up that size?
I can say that the containers that take a lot of space are ones that had a lot of restarts.

[2016-10-26 17:03] justincormack commented on #27484
ugh, github stop closing it! ok, need to update here.

[2016-10-26 17:07] millerbill3 commented on #27734
Having the same issue. We recently stood up a private registry with self-signed certs. From my local machine, I can login to the registry and push or pull images without problem.
When I attempt this from my Minikube instance, I get an error: `Error response from daemon: read tcp 10.0.2.15:60392->192.168.123.238:80: read: connection reset by peer`. So for instance, I SSH into Minikube, do docker lo

[2016-10-26 17:12] msabansal commented on #27708
Investigating.

[2016-10-26 17:12] ChiperSoft commented on #8119
@SamSaffron I'm experiencing this problem today. Did you ever find a solution?

[2016-10-26 17:27] unclejack commented on #26942
There's nothing which can be done as long as the kernel version remains unknown.

Can you provide the output of `uname -a`, please?

[2016-10-26 17:34] rayterrill opened #27793 "Copy/Pasting into PowerShell prompt running in Windows Container in interactive mode has 50 character limit?"
**Description**

When launching a Windows container in Server2016 and running a powershell prompt (docker run --rm -it microsoft/windowsservercore powershell), it appears you can only paste a max of 50 characters at a time into the running container (i.e. pasting something like "(New-Object System.Net.WebClient).DownloadFile('http://mirrors.jenkins-ci.org/windows-stable/latest', 'Jenkins.zip')" wi

[2016-10-26 17:40] cpuguy83 commented on #9755
@gmistick `docker diff <container id>` wil show you the changes in the container FS.

[2016-10-26 17:49] dongluochen commented on #27761
This happened after `docker service test scale=20`.

[code]

[2016-10-26 17:50] unclejack commented on #26600
Folks, I'll close this issue now as it's not related to the open source project. This issue can be opened again if someone decides it needs to be kept open.

[2016-10-26 17:50] #26600 closed

[2016-10-26 17:55] coryleeio commented on #26523
@thaJeztah
Okay - So my test was stable all night, no issues, 100% uptime. Looks great, but doesn't explain what was happening before.  I don't think the key rotation is the issue, as i'm mostly just finding that right after a bootstrap, the reachability is variable. Once my swarm is up and communicating, it works fine, even over long periods.   I am spinning my swarm up and down a lot, after exte

[2016-10-26 17:59] friism commented on #27793
I see this too. it works fine with `cmd` though. cc @jhowardmsft

[2016-10-26 18:08] aboch commented on #26523
Thanks @coryleeio for the extra info.

I am suggesting we wait for @michaelkrog to report his findings, so to see if we can rule out the encrypted network for his issue as well.

Also, if he has not performed the swarm join/leave sequences you've done, I'd suggest you to report your new problem in a separate issue.

That way we keep the focus on the original reported problem.

[2016-10-26 18:17] justincormack commented on #27765
The updated versions of Docker for Mac and Windows are out now, please upgrade, apologies for the issue.

[2016-10-26 18:27] jhowardmsft commented on #27793
I suspect this is most likely a PS bug rather than anything in docker. I'll start an email thread internally, but I don't think there's a lot I can do on this issue here.

[2016-10-26 18:31] rayterrill commented on #27793
@jhowardmsft Ok. This doesn't happen in normal PowerShell - only PowerShell WITHIN a Docker container.

[2016-10-26 18:33] jhowardmsft commented on #27793
Yes, I can repro. I'll follow up internally with the PS and console folks.

[2016-10-26 18:35] LK4D4 opened #27795 "Flaky test DockerDaemonSuite.TestDaemonRestartWithPluginEnabled"
Observed in
https://jenkins.dockerproject.org/job/Docker-PRs-experimental/25475/console

[code]

[2016-10-26 18:38] rayterrill commented on #27793
Thanks @jhowardmsft!

[2016-10-26 18:38] mcornella commented on #27744
Re: how to make option stacking work without bugs, maybe the [ls completion](https://github.com/zsh-users/zsh/blob/master/Completion/Unix/Command/_ls) can be used as a model since it has a similar CLI. I haven't investigated further, just mentioning in case it's useful.

[2016-10-26 18:45] jhowardmsft commented on #27793
I'm going to close this issue here. It's being tracked internally via OS#9535413.

[2016-10-26 18:45] #27793 closed

[2016-10-26 18:45] allencloud commented on #27792
@jessegranger Have you ever set options for this volume?
As I searched the related code, if you set options, there is some possibility to throw this error.

[2016-10-26 18:52] coryleeio opened #27796 "Docker 1.12.2 joining a new swarm downgrades network to local scope on manager"
**Description**

**Steps to reproduce the issue:**
On manager:
docker swarm init....

On workers:
docker swarm join.....

On manager:
$ docker network create --opt encrypted --driver overlay foobar
$ docker service create --constraint node.hostname==A --name a --network foobar nginx:1.11.5-alpine
$ docker service create --constraint node.hostname==B --name b --network foobar nginx:1.11.5-alpine
$

[2016-10-26 18:56] jessegranger commented on #27792
It's possible that an earlier call to volume create did pass options with that name, but I can't recall for sure.

If I try a totally new name, it seems to work (didn't do any real testing but the container launches without crashing).

I definitely did ```docker volume rm mongodata``` several times, so it sounds like there are two bugs:

1. `docker volume rm` doesn't remove the [side-effects of] p

[2016-10-26 18:57] coryleeio commented on #26523
@aboch  Yeah that makes sense.

In regards to my previous posts, incase anyone is following along, changing my security group didn't seem to have an effect, since for whatever reason the protocol 50 stuff was already going through in my AWS configuration, for whatever reason.
I'm fairly sure my issue was a different thing,

I created a new ticket
#27796

tldr; if your network ids don't match on yo

[2016-10-26 19:03] jachin commented on #27765
Way to knock that out. Nice work!

[2016-10-26 19:06] dattatrayakumbhar04 opened #27798 "Docker run with --blkio needs to change help message and it accepts 0 value"
**Description**
Docker run --help command has be low options,
      --blkio-weight value          Block IO (relative weight), between 10 and 1000
      --blkio-weight-device value   Block IO weight (relative device weight) (default [])
  -c, --cpu-shares int              CPU shares (relative weight)
1. Does all wight should be integer.?
2. blkio-weight accepts 0 also. Help message shows that it sh

[2016-10-26 19:23] teodorescuserban opened #27799 "wishlist item: add --prefix to network"
Hi.

I was wondering what do you guys say about adding an additional option named `--prefix` to the network creation so that networks segments assigned automatically from global to be smaller and hence to be able to have more than 30ish networks.

I do have the `--subnet` option, the problem is that it would mean to hardcode a specific subnet and therefore encounter possible conflicts.

Ideas?

Th

[2016-10-26 19:24] teodorescuserban commented on #27799
(I am referring strictly to the default bridge driver for now)

[2016-10-26 19:29] arno01 commented on #27444
That's really interesting, thanks for sharing this link here :-)

[2016-10-26 19:32] jhowardmsft commented on #27793
It's PSReadLine. See https://github.com/lzybkr/PSReadLine/issues/460

[2016-10-26 19:36] aboch commented on #27799
I think you are asking for the same feature requested in https://github.com/docker/docker/issues/21776#issuecomment-206133109

[2016-10-26 19:40] teodorescuserban commented on #27799
indeed, @aboch ! Sorry for not finding it.

[2016-10-26 19:40] #27799 closed

[2016-10-26 19:42] aboch commented on #27799
@teodorescuserban I was not actually suggesting to close your issue though, just wanted to understand if it was the same request
Maybe we should ask the linked issue's submitter to change the description to reflect the feature request.

[2016-10-26 19:43] dattatrayakumbhar04 commented on #27798
![image](https://cloud.githubusercontent.com/assets/21226676/19742408/8fc7e80e-9be2-11e6-938c-191cacdbbf40.png)

[2016-10-26 19:45] mschwartz commented on #27635
Maybe this bit of info is useful?

The filesystem my git repositories is on is CASE SENSITIVE.

I find this useful to prevent errors like:

[code]

working in development (case insensitive FS) if the filename is "Foo"

When deployed to linux, and a case sensitive FS, the require all of a sudden doesn't work anymore.

[2016-10-26 19:46] aboch commented on #21776
@dimaspivak

It seems consensus was reached around the feature request in https://github.com/docker/docker/issues/21776#issuecomment-206133109 by @holgerreif.

This request has come in other occasions via other issues.

I think we should change this issue's description to reflect that, so other docker users can quickly find it.

[2016-10-26 19:47] teodorescuserban commented on #27799
Thank you, I understood.
I closed it because indeed it looks the same.

Basically, I am happy with the autoselect algorithm, I didn't encountered network conflicts so far (but a bit worried) and I need more networks than the autoselect algorithm can provide with the default prefix (/16).

[2016-10-26 19:47] jhowardmsft commented on #27755
Ah, yes, I have a repro. The simpler one to debug without the large number of files. Investigating....

[2016-10-26 20:29] bfirsh commented on #21157
:tada: https://github.com/docker/docker/pull/27801

[2016-10-26 21:16] pascalandy commented on #27513
Just had a flash!!

With all networks I created over Swarm since 1.12 is alive, this issue only happened for network named as `sql_net`. Maybe there is some kind of injection issue with the label `sql` ?!?

Therefore, I will stop using this name and use something as `db-net` in the my next cluster. Take for caring.

Pascal

[2016-10-26 22:03] Xorelock commented on #24033
hello, I am also having a similar issue with corporate proxy.

output of docker version:
Client:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.7.1
 Git commit:   6f9534c
 Built:        Thu Sep  8 10:31:18 2016
 OS/Arch:      darwin/amd64

Server:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   23cf638
 Built:        Thu Aug 18 17:52:38 2016
 OS/Arch:

[2016-10-26 22:07] #26179 closed

[2016-10-26 22:09] ripcurld00d commented on #27772
I reproduced it on my laptop and this is what I get on the server side (containerd):
[code]

[2016-10-26 22:20] nirvana-msu commented on #27734
I'm having a similar issue where I get sporadic `connection reset by peer` errors when pulling images, fetching gpg key, etc. I was using the latest VirtualBox release in Windows, `5.1.8`. The issue seems to have disappeared when I downgraded VirtualBox to `4.3.40`.

[2016-10-26 23:25] jhowardmsft commented on #27755
Worked it out. Some serious debugging 😓. Is a subtle bug in tarsum, and truly I'm astonished this hasn't been seen before. Will submit a PR shortly.

[2016-10-26 23:30] cpuguy83 commented on #27796
ping @mrjana

[2016-10-26 23:41] msabansal commented on #27708
We have been able to find the issue. Investigating possible approaches for mitigation. If the user logs on interactively once the problem will not happen again.

[2016-10-27 00:04] fsamir opened #27807 "Docker not handling serial path in ARM/RPI hosts"
**Description**
Docker container is not properly handling serial port paths, when serial devices are connected/disconnected in ARM Linux(tested on RPI 2 and 3).

**Problems:**
- USB device under /dev/ttyUSB0 have to be connected before docker starts, otherwise they wont exist.
- Unplugging a device that was detect and properly mapped, does't un-map the device, hence most serial-port libraries cann

[2016-10-27 00:07] fermayo commented on #24940
@friism at the moment, tokens given by the registry authentication service only live for 5 minutes and cannot be refreshed. However, users can generate an API key in Docker Cloud that can be used to authenticate against our registry using it as a password. That API key is valid even after password refreshes, and can be revoked from Docker Cloud.

[2016-10-27 00:15] sanimej commented on #27781
@BSWANG  Would you be able tory 1.1 2.2  ? In 1.12 the UDP connection caching was removed. So this part of the code has changed since 1.11.2.

[2016-10-27 00:17] stevvooe commented on #24940
@fermayo There exists the concept of identity tokens. Such a key could also defer access to refresh the authorization.

Let's think outside the box on what we can do with garant tokens. The current thinking that they are limited to just the registry is preventing us from implementing further workflows. We haven't even scratched the surface of what is possible with the access model provided by gara

[2016-10-27 00:21] rawouter opened #27808 "No networking in some containers when spawned at high rate"
**Description**

When spawning container at high rate in network mode bridge, some containers will not have networking connectivity.

**Steps to reproduce the issue:**

1. Created a network with /16 address space, in bridge mode
2. Spawn container at high rate and try to access network (ping)

I can reproduce the issue with the following script, some container image work better but will fail at so

[2016-10-27 00:30] mayli commented on #21902
[code]

[2016-10-27 00:38] shivacherukuri opened #27809 "Proposal: Docker network bandwidth management based on container id and it's public facing host port"
Docker technology makes it easier to contain an application and makes it easier to deploy and run containers either in data center or in a Cloud. Native Docker run command has various options to manage container resources like CPU, Memory, Disk but there is no option to manage network resource utilization. Effective management of network resources will lead to better utilization of underlying hard

[2016-10-27 00:43] shivacherukuri commented on #26767
Hi,
  I have done implementation of network bandwidth management, please look at the the following link for more details and provide me feedback.
https://github.com/shivacherukuri/Docker-Network-Bandwidth

[2016-10-27 00:51] thaJeztah commented on #21902
For those running into this;

- make sure you run the current version of swarm
- if you're using a newer client, override the API version to use through the `DOCKER_API_VERSION` environment variable https://docs.docker.com/engine/reference/commandline/cli/#/environment-variables

We are working on improving detection of supported API versions (so that the client automatically falls back to an olde

[2016-10-27 00:54] vincentwoo commented on #26767
I'm uh, a bit confused in following your explanations, but it seems to me that this idea will only work for network bandwidth into a container on a very predefined port.

[2016-10-27 01:04] shivacherukuri commented on #27809
#dibs

[2016-10-27 01:07] vdemeester commented on #21227
@katalonne with a long delay in the answer (:sweat_smile:), does this happen with recent docker version ? what was your version at that time (client, server version, kernel version, linux distribution) ?

[2016-10-27 01:09] thaJeztah commented on #21647
I don't think there's a guarantee that will work as (as @HackToday mentioned), the local format changed between versions.

@stevvooe may be able to provide more information, but I think the short answer is "no"

[2016-10-27 01:10] thaJeztah commented on #19919
I'm closing this, because we didn't receive more information to go on

[2016-10-27 01:10] #19919 closed

[2016-10-27 01:11] vdemeester commented on #21744
I think this issue should be in distribution repository (probably?), but ping @stevvooe @aaronlehmann for insights 👼

[2016-10-27 01:14] shivacherukuri commented on #26767
prototype done for predefined port and also for a full container. I mean if we start a container by exposing a public host port then this new feature start limiting egress and ingress n/w io  based on the port and if we just start a container without specifiying/exposing a port then it will limit based on the container net_cls cgroup class id

[2016-10-27 01:17] #27671 closed

[2016-10-27 01:17] vdemeester commented on #18574
@bboreham I think with `health_status` event you can do that (given that you're container do use it), with the `running` value (`health_status` can be : `running`, `healthy`, `unhealthy`).

[2016-10-27 01:19] vdemeester commented on #21784
ping @valof is this still happening ?
/cc @jhowardmsft ptal maybe (or close :angel:)

[2016-10-27 01:21] vdemeester commented on #21864
TP5 is no more, I think we're safe to close that one 👼

[2016-10-27 01:21] #21864 closed

[2016-10-27 01:24] vdemeester commented on #21034
TP5 is no more (gccgo neither ?) and didn't see this one for a while, I think we're safe to close 👼

[2016-10-27 01:24] #21034 closed

[2016-10-27 01:30] vdemeester commented on #21927
/cc @vieux @anusha-ragunathan @bfirsh

[2016-10-27 01:32] vdemeester commented on #21932
ping @jhowardmsft is this still an issue ?

[2016-10-27 01:33] thaJeztah commented on #20300
The basics (API) are merged https://github.com/docker/docker/issues/22049, so I'm closing this issue

[2016-10-27 01:33] #20300 closed

[2016-10-27 01:34] vdemeester commented on #21938
@aaronlehmann @thaJeztah still an issue ? :angel:

[2016-10-27 01:34] thaJeztah commented on #21488
ping @anusha-ragunathan ptal

[2016-10-27 01:35] vdemeester commented on #20926
I couldn't reproduce using latest stable version of docker, I'll close this 👼

[2016-10-27 01:35] #20926 closed

[2016-10-27 01:36] vdemeester commented on #21930
It's a little bit related to #27745 I think :angel:

[2016-10-27 01:37] aaronlehmann commented on #21938
Was fixed by #22264.

[2016-10-27 01:37] #21938 closed

[2016-10-27 01:42] jhowardmsft commented on #21784
That script no longer exists. Closing.

[2016-10-27 01:42] #21784 closed

[2016-10-27 02:49] shadowmint commented on #3182
Deeply reluctant as I am, to once again resurrect this ancient thread, there is still no meaningful advice in it about how to work around this issue on an existing machine encountering this issue.

This is my best effort at a tldr; for the entire thread; I hope it helps others who find this thread.

### Issue encountered

Your volume has a significant (and growing) amount of space which is in `/va

[2016-10-27 03:58] tonistiigi commented on #27761
I believe the execs were caused by a healthcheck in the service that was scaled.

[2016-10-27 04:36] thaJeztah commented on #24033
@Xorelock actually, I think this is in the current version, see https://docs.docker.com/docker-for-mac/networking/#/httphttps-proxy-support. Can you try if that works for you?

[2016-10-27 04:40] shaynewang commented on #27687
I was not able to reproduce this problem on my end. What's the response for you if you just do a line count without the tee? like:     $ docker logs --tail 10000 app | (wc -l)
I'm asking because I wasn't sure why there are multiple numbers

[2016-10-27 06:05] rs38 commented on #27671
Thank you

[2016-10-27 06:05] fuentecilla86 opened #27811 "docker swarm does not update images when it is a mode global"
docker version

[code]

I have declared a service with mode global and with a constraint to run it only in two servers (my cluster runs in 3 servers). When I try to update as following:

[code]

**The service is not updated.**

If I do it with in "replicas" mode it works perfectly.

Thank you in advance.

[2016-10-27 06:17] trishnaguha opened #27812 "docker run Conflicting options: --rm and -d"
The command is:
[code]
``-rm`` and ``-d`` in ``docker run`` command should not be conflicting.

The error log:
[code]

Here is more info on Docker installed:
[code]

[2016-10-27 06:38] shaynewang commented on #27812
Issue was addressed here: [https://github.com/docker/docker/issues/6003]
This conflict will be fixed in the 1.13 release[https://github.com/docker/docker/pull/20848]

[2016-10-27 06:52] trishnaguha commented on #27812
Ah thanks! closing this one.

[2016-10-27 06:52] #27812 closed

[2016-10-27 06:53] bboreham commented on #18574
@vdemeester thanks for the thought, but my requirement is to work with arbitrary containers.

Incidentally I could not find any documentation on the "running" status, after many web searches.

[2016-10-27 07:00] shaynewang commented on #27687
It appears that if you run the logs with the "--tail" option when the service is writing to the stdout you will sometimes getting a random number of lines back. I'll investigate further no that I have reproduced the problem.

[2016-10-27 07:55] RAM128 opened #27816 "Overlay network is very slow"
**Description**

I have setup a swarm cluster of 3 managers.
A simple http container belonging to an overlay network takes more than 10 seconds to respond.
It is agnostic to the number of deployed instances.

**Steps to reproduce the issue:**

[code]

**Describe the results you expected:**

[code]

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environm

[2016-10-27 08:08] Jaspreetc commented on #27580
To @mabrarov
the ticket has been opened but the logs are yet to be updated which may not be before November 7th . in the mean time can you please let me know if docker 1.13 dev  has a fall back mechanism to older schema ? I will ping you with the details by November 7 as soon as the logs has been uploaded.

[2016-10-27 08:10] tallandtree opened #27817 "Docker container cannot connect to docker host on it's own exposed port"
**Description**

I've got a docker container running in it's own bridge network on a docker host <dockerhost>. The containers port 8080 is exposed. I've got iptables default policy on the host set to DROP. Docker daemon manages the docker iptables rules.

If I run curl outside my container to http://<dockerhost>:8080 I get HTTP status 200 and the correct website my container is running.

However t

[2016-10-27 08:13] david-maumenee opened #27818 "Control subnet choose by Docker when create bridge without subnet parameter"
**Description**

I'am facing ip conflict with my enterprise network, when i let Docker creating a network with it's default strategy.

By default :
1 - Docker0 IP configuration is
[code]
2 - When an another bridge network is created (with command line **_docker network create_** or with docker compose) the "NEXT" available sub network is used :
[code]

Since 172.18.x.x is used on my company, there

[2016-10-27 08:33] justincormack commented on #27809
Hi, we are discussing design, including your proposal on #26767 so I am going to close this issue. If you just want to submit a pull request, please feel free to do that too, but there is no need to open another issue.

[2016-10-27 08:33] #27809 closed

[2016-10-27 08:46] the-nw1-group commented on #27541
Brilliant - It works!

Thanks a lot.

[2016-10-27 08:46] #27541 closed

[2016-10-27 08:47] bmerry opened #27821 "Print a diagnostic when pull failure causes fallback to v1 registry API"
**Description**

As discussed in #27281, if `docker pull` encounters any problems using the v2 API (such as a 401 error due to not having logged in), it falls back and tries the v1 API. If the registry doesn't implement the v1 API, this in turn causes a 404 error, and the user sees only the message "not found", and the original error via the v2 API is lost.

**Steps to reproduce the issue:**
1. In

[2016-10-27 09:06] srthorat commented on #20022
Following worked for me,

apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 58118E89F3A912897C070ADBF76221572C52609D

[2016-10-27 09:25] keontang commented on #15912
I am also seeing this issue in docker 1.11.2:
[code]

My docker logs:
[code]

[2016-10-27 09:26] pacoxu commented on #24901
Any update？

[2016-10-27 09:27] shadjiiski commented on #27734
@nirvana-msu, I have downgraded to `VirtualBox-5.0.20-106931-Win` and the issue seems to be missing as well. You might consider the upgrade, as VirtualBox 4.3 is already not supported.
The issue is also missing on CoreOS (not VBox managed), so I guess VBox really is the culprit here.

[2016-10-27 09:36] xiaods commented on #24092
any update?

[2016-10-27 09:40] philicious commented on #4737
there is a nother iptables rule that is important in some cases:
`iptables -t nat -A PREROUTING ! -i docker0 -p udp --dport 3478 -j DNAT --to-destination  172.17.0.7:3478`
(-p udp/tcp depending on port type, --dport variable, IP also variable, check with docker inspect)

if you dont have this rule, containers will see docker0 bridge IP as source of incoming requests and not the clients real IP. my

[2016-10-27 09:46] justincormack commented on #27807
You can use `docker run -v /dev:/dev ...` I think to work around dynamic devices, that should behave as the host does I believe.

[2016-10-27 09:47] suside commented on #27343
Ok so here is ~one week diff https://gist.github.com/suside/10ecd6e61edfa9062272f94027b0ac3b
and it keeps growing until `gdb close(fd)` workaround.

Moreover when I CtrlC during gdb session docker crashed there:
`docker[2853]: goroutine 31644189 [syscall, locked to thread]:
docker[2853]: github.com/docker/docker/daemon/logger/journald._Cfunc_wait_for_data_or_close(0x7fc494031150, 0x7fc4000007e9, 0

[2016-10-27 09:50] jakobnotseth commented on #23992
I'm able to map the volume from local to docker, so using alpine image, I can list (ls) the folder I mapped. But all files in the folder mapped is mapped as folders and not files, rendering it useless. Also creating files inside alpine in this folder does not create files on the host.

[2016-10-27 09:51] justincormack commented on #27818
You can specify the IP range when you do `docker network create` see https://docs.docker.com/engine/reference/commandline/network_create/

[2016-10-27 09:53] ijc25 commented on #24033
@Xorelock

With newer versions of D4M you need to start with `git checkout master` to get a working tree.

However if you are running latest stable or beta then you shouldn't need to do any of that since the UI _should_ work (some recent betas had bugs in this area, but those should be fixed in beta29). If you are still having issues setting the proxy from the UI with the latest version on whichev

[2016-10-27 09:57] skoch123 opened #27823 "--insecure-registry is not working when docker pull started by cron"
Hello!
 I have crontab:
`*  *   *   *   * if [ -f /opt/image ]; then rm /opt/image && docker pull hub:5000/image; fi;`
 syslog:

<pre>
dockerd[12776]: time="2016-10-27T16:48:01.492256773+07:00" level=warning msg="Error getting v2 registry: Get https://hub:5000/v2/: http: server gave HTTP response to HTTPS client"
Oct 27 16:48:01 dockerd[12776]: time="2016-10-27T16:48:01.492370392+07:00" level=erro

[2016-10-27 10:01] justincormack commented on #24033
Closing. If you have further issues with this, please open a new issue at https://github.com/docker/for-mac/issues with exact details about what you did and what exactly is not working.

[2016-10-27 10:01] #24033 closed

[2016-10-27 10:05] srthorat commented on #19859
How to get this working , when user is behind proxy and don't know his proxy setting?

[2016-10-27 10:06] david-maumenee commented on #27818
Thanks for your response
It's the workaround i have used.
But i would like to deploy many docker-compose application, and i don't want to have to manage the subnet of each network when i deploy a new app. But just specif the first subnet to use by the docker network creation strategy.
I agree it's more a feature request than a bug report.

[2016-10-27 10:08] justincormack commented on #27635
`Uncaught exception in 'FileRenameFailed: Software caused connection abort' in full-time diagnostic data capture subsystem. Shutting down the full-time diagnostic data capture subsystem.` looks like the issue cc @dsheets

[2016-10-27 10:16] ghafran commented on #6734
I got this "exit status 126" because I was mounting a volume and overriding the script that was the entrypoint. I moved the script outside of the directory and it worked. Hope that helps.

[2016-10-27 10:26] keontang commented on #15912
I found after stopped docker service, docker.sock may be changed to directory:
[code]

[2016-10-27 10:26] ghost opened #27824 "Docker (+AWS) very slow compared to localhost"
# **Hello everyone,**

I'm working on a NodeJS app that is connected to a external database (Couchdb).
Some features of this app allow users to automatically Push code on Github repository (or heroku).When I'm running my app in **localhost**, this PUSH action takes approximately **1 minute**, but when I run on local **docker**, it takes **~3 minutes**... (extremely slow, 3x)

I read others post sa

[2016-10-27 10:31] unclejack commented on #27824
@joliejuke Can you provide the output of the `docker info` from both hosts, please?

[2016-10-27 10:40] keontang commented on #15912
Now, I solved this problem temporily just by add `rm -rf /var/run/docker.sock` in pre-start script of docker.conf:
[code]

[2016-10-27 10:50] joliejuke commented on #27824
@unclejack Here's the docker info for both host:

**AWS HOST**
Containers: 1
 Running: 1
 Paused: 0
 Stopped: 0
Images: 9
Server Version: 1.12.2
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 7
 Dirperm1 Supported: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: host null bridge overlay
Swarm: inactive
Runtimes: runc

[2016-10-27 10:58] unclejack commented on #27824
@joliejuke The micro instance is most likely quite slow. Without the actual application and a way to reproduce this, I don't see how we could investigate this further.

It's very difficult to assess what happens with that particular setup. I don't think the Docker networking has something to do with this performance problem you've noticed. This seems to be related to that particular application an

[2016-10-27 11:09] mabrarov commented on #27580
To @Jaspreetc:

Could you share details (steps, what needs to be done, what logs need to be collected) with me (refer to email in my GitHub profile), please? I'm using JFrog Arifactory docker image - web UI of Artifactory reports about 4.14.0 version. I'm also using Windows Server 2016 RTM Standard (the docker host from which I try to push my docker images based on official [microsoft/windowsserve

[2016-10-27 11:44] dgageot commented on #26111
@cpuguy83 For what it's worth, I was also able to reproduce this issue on D4W, with the [Dockercon voting app](https://github.com/docker/example-voting-app) by running these commands in a loop:

[code]

After 23 run, it failed with `Cannot start service result: driver failed programming external connectivity on endpoint votingapp_result_1 (90a32a833bcd37e0371c483aca656105bb0994e20b025c8dff447b3d28

[2016-10-27 11:53] ceecko commented on #27381
I confirm that the error still occurs on 1.12.2 even with `MountFlags=slave` and `dm.use_deferred_deletion=true` and `dm.use_deferred_removal=true` even though less frequently than before.

[2016-10-27 12:01] phosphre opened #27825 "Volume mount name incorrect and different from specified"
**Description**

**Steps to reproduce the issue:**
1. docker run -it -v /opt/b:/opt/b centos bash

**Describe the results you received:**
[root@a7a1bbd07205 /]# ls /opt
b:

**Describe the results you expected:**
[root@a7a1bbd07205 /]# ls /opt
b

**Additional information you deem important (e.g. issue happens only occasionally):**
reproducible.  and I've just noticed also interior mounting eg:

hos

[2016-10-27 12:06] ernstp commented on #27683
Ok, here's an image:
https://drive.google.com/file/d/0B9HfxHnX3jqLSmdxZzBZdF93TFE/view?usp=sharing
Or did you mean Dockerfile?

And then you run with something like:
docker run -u builder -w /home/builder <image> ./build.sh

[2016-10-27 12:11] aliusmiles commented on #27734
Confirmed, downgrading VirtualBox from `5.0.28-r111378` to `5.0.20-r106931` resolved the issue.

Info: `MacOS Sierra, Docker version 1.12.1, build 6f9534c`

[2016-10-27 12:11] bsodmike opened #27826 "Unable to run images containing a 'slash' in the name locally"
**Description**

Earlier today, I attempted to perform a `docker build` for an image that looked like `company/app-name` and this failed with the error stating that image could not be located, even though `docker images` clearly showed it was there.

This was resolved via passing the `--pull` flag to `docker build`, which as the man details show:

However, the same issue presented itself when atte

[2016-10-27 12:12] joliejuke commented on #27824
I can make a list of features of this application, but the fact is, even in a local docker, the app run slower than in my machine (localhost).

Micro instance is a potential actor of this slowness, that's why I will try other instances.
I know this is quite hard to investigate other people app.

There's a list of features:

- Database request (on other docker)

- Execute git push (push ~10 Mo of c

[2016-10-27 12:15] fsamir commented on #27807
@justincormack unfortunately that also doesn't work.
Thanks

[2016-10-27 12:15] ernstp commented on #27683
When I imported the image on another computer running linux 4.8 I could not easily reproduce the problem. This is probably related to the layer system so you need to build this image locally.. ?

[2016-10-27 12:32] unclejack commented on #27824
We need more bits of information in order to reproduce this. Can you reduce this to a set of steps to reproduce this problem without your application/proprietary code?

[2016-10-27 12:49] hmdhasani commented on #27687
@shaynewang No, running without tee does not solve the problem :(
Did you use the same docker version and os as mine?
Server Version: 1.12.2
Ubuntu 14.04.1 LTS
Kernel Version: 3.19.0-72-generic

[2016-10-27 12:54] millerbill3 commented on #27734
Ditto... downgraded my VirtualBox to 5.0.20-r106931 as mentioned above and works fine now.

[2016-10-27 13:08] PaulKGray commented on #27318
After looking at this a bit more over the last two weeks removing the intial issue has prolonged the life of the machine, we still are using more disk space every day. Here are the sizes of the log files as you can see "service-port-opener.log" and  "docker.log" are getting huge.

-rw-r-----    1 docker   docker           0 Oct 20 13:55 acpid.log
-rw-r--r--    1 root     root             0 Oct 20

[2016-10-27 13:15] cpuguy83 commented on #27816
ping @mrjana

[2016-10-27 13:18] cpuguy83 commented on #27825
Not sure what to say here other than the version of docker you are using is quite old and also not the official build from get.docker.com.
Can you try with a more recent version from the official packages?

[2016-10-27 13:30] mschwartz commented on #27635
Thank you!

[2016-10-27 13:45] JnMik commented on #27685
I've bump an idea in https://github.com/docker/for-win/issues/167
Not sure this is the right way to go, but it would definitely make things easier ?

[2016-10-27 13:51] michaelkrog commented on #26523
So, 1) because my `proxy` has "http://previsto-site" hardcoded in the nginx-config and 2) I already had an encrypted network from earlier, the easiest thing for me was to create a new `proxy` service on my "old" encrypted network and then put `previsto-site` in both the encrypted and the unencrypted network. That way both `proxy` services should be able to connect to the `previsto-site` service –

[2016-10-27 13:53] cpuguy83 commented on #27580
`Docker-registry-0.9.1-7.el7.x86_64` -- this registry is not compatible with schema2 being used by docker.
You need to update your registry version.
Not registry v2 is here: https://github.com/docker/distribution

[2016-10-27 13:58] JnMik commented on #27685
Actually, one of our collegue found this in authfile.c

`
sshkey_perm_ok(int fd, const char *filename)
{
 struct stat st;

 if (fstat(fd, &st) < 0)
  return SSH_ERR_SYSTEM_ERROR;
 /*
  * if a key owned by the user is accessed, then we check the
  * permissions of the file. if the key owned by a different user,
  * then we don't care.
  */
#ifdef HAVE_CYGWIN
 if (check_ntsec(filename))
#endif
 if (

[2016-10-27 14:00] cpuguy83 commented on #27818
This is certainly a dup of another request.
But the idea would be to specify the range to use (also the default subnet size) on the daemon config.

[2016-10-27 14:14] justincormack commented on #27826
Hi this works fine for me, eg

[code]

Can you provide a more complete reproduction? You are using a very old version of docker, I don't think this should make a difference, but perhaps you can also try on a recent build?

[2016-10-27 14:21] justincormack commented on #27807
@fsamir in what way doesn't it work? you still need `--privileged` but not to use `--device` I think, but I don't see why it shouldn't work.

[2016-10-27 14:28] fishnix commented on #26322
I'll try this today.  Sorry for the delay

[2016-10-27 14:36] datha commented on #27734
I had the same issue with the 5.2 version of Virtualbox runnin on OSX 10.11.6. Downgrading Virtualbox to 5.0.20-r106931 fixed the issue.

[2016-10-27 14:41] ryanlyy commented on #27057
I configured them in daemon.json
[root@cluster-etcd3 docker]# cat daemon.json
{
        "storage-driver": "devicemapper",
        "storage-opts": [
                "dm.thinpooldev=/dev/mapper/dockervg-thinpool",
                "dm.basesize=50G",
                "dm.fs=xfs",
                "dm.use_deferred_removal=true",
                "dm.use_deferred_deletion=true",
                "dm.min_fre

[2016-10-27 14:43] michaelkrog commented on #26523
I also tried pinging ip's from one of the tasks on the encrypted network that returned HTTP 504.

[code]

[2016-10-27 14:57] #22183 closed

[2016-10-27 15:22] shaynewang commented on #27687
@hmdhasani  Yes, I have reproduced the problem. It seems that if you are reading the log while the log is being written at the moment then you will get a random number of lines return with --tail option. I'm working on the problem right now. Thanks!

[2016-10-27 15:43] fishnix commented on #26322
This still seems broken with a icmp AND tcp.  I setup a simple haproxy running a simple  `     monitor-uri /haproxy?monitor`.  From a busybox container on the same node it works, from a busybox container on a different node it fails.  This is running docker 1.12.3 and full patched centos 7 deployed from the vendor AMI in AWS EC2 and with wide open security groups.

[2016-10-27 15:54] phosphre commented on #27825
good point - it was the latest from centos' yum repo, weirdly from yum -y install.  Using sudo wget -qO- https://get.docker.com/ | sh gets me 1.12.3 and this work.  Sorry should have checked that.

[2016-10-27 15:54] #27825 closed

[2016-10-27 15:57] BretFisher commented on #27811
I can confirm this is an issue on 1.12.0-1.12.3 and looks to be fixed in https://github.com/docker/swarmkit/pull/1570 which is planned for 1.13

[2016-10-27 15:59] devnev opened #27827 "docker 1.11.2 hung on docker ps"
**Description**

in a gce cluster, on a coreos machine running as kubernetes master with ~23 hours uptime, docker got stuck: `docker ps` and `docker stop` would hang. existing containers continued running. system was not under load and cpu usage was minimal.

**Steps to reproduce the issue:**

unclear how to trigger the condition.

**Describe the results you received:**

`docker ps` did not termin

[2016-10-27 16:27] joliejuke opened #27828 "docker build slow causes"
Hi,

**I have another issue, I'm unable to build again images, since few hours. Today I build a lot of images ( ~15, in order to test docker), I also created a new local docker-machine (using vm).**

Now build is really slow, install and download of packages take hours instead of minutes. What can cause a build to be slower?

`Step 4 : WORKDIR /usr/src/app`
` ---> Using cache`
` ---> 28c550e7a3fa`

[2016-10-27 16:31] vdemeester commented on #21066
@carlskii not sure if it's still an issue for you, but the *status* you mean is the `event` filter (for event).

[2016-10-27 16:35] vdemeester commented on #22263
Didn't see this happen for a while, safe to close for now 👼

[2016-10-27 16:35] #22263 closed

[2016-10-27 16:39] milindchawre commented on #27786
#dibs

[2016-10-27 16:42] T24-hunter commented on #26041
Hi Team,
issue #26041 have result ?
======
bug docker version 1.12.2 duplicate docker-containerd-shim
root@CAAS-693-6 00c2a3af3fafb022d52c0c667e6257f68665a489987e1dd03b5be1e3922f0c38 $ ps -ef | grep docker
root      1742 61093  0 23:27 pts/0    00:00:00 grep --color=auto docker
root     42092     1  0 Th1017 ?       00:31:12 dockerd -D -H tcp://0.0.0.0:2375 -H unix:///var/run/docker.sock --label i

[2016-10-27 17:04] icecrime commented on #27045
Cc @andrewhsu

[2016-10-27 17:22] sylvainmouquet commented on #27720
Yes the first time we got the last version of the image.
After when the image is in the local docker repository if we create a container from the image the image is taken from the local docker repository.
If the image is updated in the remote docker repository, the local docker repository is not refreshed with the last version. For getting the last version we need to remove the image from the loca

[2016-10-27 17:26] dongluochen commented on #24092
@xiaods We are running tests on the PR and vendoring of libnetwork. The feature will be available in Docker-1.13.

[2016-10-27 17:53] thaJeztah commented on #27720
Is that  local _repository_, or the local image-cache (`docker images`)? If the local image-cache, then there's no need to remove the image, just `docker pull <image>` to have it pull the latest version.

[2016-10-27 17:57] cpuguy83 commented on #27827
Can you provide the full stack trace?

[2016-10-27 17:59] sylvainmouquet commented on #27720
ok i did a docker run without call the docker pull <image> before

thanks i close the issue

[2016-10-27 17:59] #27720 closed

[2016-10-27 18:05] frodopwns opened #27832 "Unison from mounted volume to another directory stops working after docker daemon restart"
**Description**

I use unison and unison-fsmonitor to sync changes made to a mounted volume from outside the container. This works until the docker daemon gets restarted. Once this occurs unison will sync changes made to the volume inside the container but not outside. If I do a docker-compose restart at this point it starts to work again.

eg.

mount ./src:/src and unison sync from /src to /var/w

[2016-10-27 18:16] virtuman commented on #26235
Upgraded to docker 1.12.3, still having same DNS issues where wordpress container cannot connect to mysql container when both launched using commands described in this ticket on centos 7.2 hosts  (6 hosts in the swarm now) :

[code]

any thoughts on how else i can try to troubleshoot this further?

[2016-10-27 18:20] sanimej commented on #26235
@virtuman Can you confirm that you have the connectivity issues only when firewalld is enabled ?

[2016-10-27 18:58] nerdalert commented on #25138
Hi @s0komma, would you mind trying to build the macvlan interfaces w/o docker. That would tell us if it's something in the CoreOS release that doesn't like macvlan or if its on the docker side.

Example using your `bond0` that should work w/ the `ip link` commands:

Thanks!
[code]

[2016-10-27 19:01] tomjmul opened #27833 "Kernel panic running swarm mode on Raspberry Pi"
I have a cluster of 3 Raspberry Pi 3 boards configured as docker swarm-mode nodes with a single master/node running on an x86 machine.

The Pis are running Hypriot 7 and the master is running Centos 7. All are running Docker 1.12.3.

I'm seeing what looks like a kernel panic error message which shows variously (and intermittently) in the 3 Pi nodes messages log file and a corresponding error messa

[2016-10-27 19:05] mavenugo commented on #20297
I will go ahead and close the issue. Please comment if this issue is still seen in 1.12.x.

[2016-10-27 19:05] #20297 closed

[2016-10-27 19:19] StefanScherer commented on #27755
Thanks! OMG I can remember that I've seen that writing the Dockerfile.windows for docker/docker last year, modifying some code eg. switching branches and then hit the caching problem. Had to modify the Dockerfile a layer before, something like that. But was happy that it worked so good in these early days. Never encountered that problem since then so I forgot filing an issue :-(

[2016-10-27 19:51] devnev commented on #27827
I still have the full dump from the logs. The stack trace is *very* long (lots of `docker ps` or equivalent from kubernetes). Are you looking for anything? Should I try and strip it a bit?

[2016-10-27 19:58] viveky4d4v commented on #17217
@mavenugo

    docker network disconnect -f  [Network-Name] [Endpoint-Name]

This worked for me .

[2016-10-27 20:02] anonymuse commented on #20185
For a quick fix while this is worked out, [do this](https://github.com/docker/for-mac/issues/82#issuecomment-256733511):

`$ sudo pkill docker`

[2016-10-27 20:06] cpuguy83 commented on #27827
Need to be able to see what might be holding the container lock.

[2016-10-27 20:06] demaniak commented on #27045
Hm, ok, @hqhq clearly I'm missing something.
Here are the steps I follow:
[code]

And then we get stuck at that line that is not supposed to exist:
`Step 3 : RUN dpkg --add-architecture armhf      && apt-get update       && apt-get install -y libc6:armhf`

So where am I going wrong here?
Any information I can provide on build environment?

[2016-10-27 20:16] aboch commented on #27818
This is dupe of #21776  (I already suggested its submitter to change the description).

[2016-10-27 20:29] mostolog opened #27836 "Docker service dependencies"
Hi

_I'm almost sure this might be already discussed, but I haven't been able to find an issue with keywords like: service depends, dependency, order, precedence. Sorry for any inconvenience._

**Is there any plan to add something like --startorder, --depends, --after... to services to (https://github.com/docker/docker/issues/25303) in order to sequence service deployments?**
I have readed about u

[2016-10-27 20:40] #24712 closed

[2016-10-27 20:51] unclejack commented on #27118
We used to make Docker releases only with what was open source. Only some credentials were required to make a release. There were no closed source bits used in the pipeline. This was very nice because it made it possible to make those releases through a process.

I do agree some of that could be in a separate repository, but it should still be open source. I don't think there's anything to gain fr

[2016-10-27 20:54] thaJeztah commented on #27720
Thanks for confirming!

[2016-10-27 20:55] keyscores commented on #19647
Is this still an open issue? I know docker-hub and docker-cloud are having issues related to this.

[2016-10-27 21:02] jmahowald commented on #18818
I was considering using GeoDNS to handle this (possibly with that squid cache from @virtuald .  Wondering if anyone on this thread knows reasons that might not work.

[2016-10-27 21:05] fsamir commented on #27807
Justin,
It doesn't work as in, the symptoms are the same described in the first
post.

I tried multiple combinations of configs, always keeping 'privileged' and
with and without '/dev' in '-- devices'.

I am suspicious it is something with de image I am using and not with
docker...
On Fri., 28 Oct. 2016 at 1:23 am, Justin Cormack <notifications@github.com>
wrote:

[2016-10-27 21:07] dmcgowan commented on #19647
@keyscores yes it is, the upstream overlayfs kernel maintainers are actively working on a solution and we will update here when there is a fix in a kernel release. Until then applications needs to be able to handle the non-posix compliance of overlayfs or use a posix complaint storage driver.

[2016-10-27 21:09] thaJeztah commented on #24901
no there's no consensus yet on this, however it looks like this is a duplicate of https://github.com/docker/docker/issues/24413, let's continue the discussion on that one

[2016-10-27 21:26] keyscores commented on #19647
@dmcgowan  Ok thanks. I think you should reach out to your colleagues at docker cloud, to make doubly sure they are communicating this correctly. Docker's own infrastructure is not compliant with your fix.

[2016-10-27 21:56] tomjmul commented on #27833
I can actually reproduce this now consistently with a `docker service` when the container is coming up on any node:

The stacktrace can be slightly different,  but always seems to involve **ip_vs** and ends up with:

[code]

[2016-10-27 21:59] viveky4d4v opened #27837 "Docker swarm DNS and load balancing behaviour"
Will swarm internal DNS keep entries for unhealthy containers ? If i have scaled a service to 4 containers & if one of them goes down how the DNS & LB will react to it ?

[2016-10-27 22:50] SamSaffron commented on #8119
@ChiperSoft unfortunately only solution I had was to run myisam on host, which is fine for import work I do, we don't host anything on mysql

[2016-10-27 22:52] olalonde commented on #19647
@dmcgowan is it related to that issue? https://github.com/npm/npm/issues/9863#issuecomment-152342020 (EXDEV error)

[2016-10-27 22:58] jhowardmsft commented on #27672
Opened https://github.com/docker/docker/pull/27842 to fix.

[2016-10-27 23:03] dmcgowan commented on #19647
@olalonde no, EXDEV on rename is different and should be handled by the application. If the application is failing because of it (like npm), then that is on npm to handle appropriately. Normally when an application gets EXDEV on rename, it should fallback to doing a copy.

This error is related to the inode for a file changing in a way that the application did not expect. Applications can be updat

[2016-10-27 23:32] bvis commented on #26498
Any idea about when this could be fixed?

[2016-10-27 23:35] vdemeester commented on #26498
@cpuguy83 I think we did :sweat_smile:
@bvis I think https://github.com/docker/docker/pull/27369 should fix this as you will be able to specify the timeout with `--health-timeout` when creating (or updating a service).

[2016-10-27 23:36] cpuguy83 commented on #26498
I don't think it really fixes it since we really need a grace period for startup which does not apply the the normal case, only startup.

[2016-10-27 23:38] andrewhsu commented on #27118
@unclejack some of the internal tooling technologies we're using are specific to our needs, such as using aws s3 for storage of artifacts. There are some hard-coded stuff that is there only for a docker public release and may not be desirable for everybody distributing their own docker binaries. Nor do we have an intention to making the release scripts desirable for everybody's situation (not real

[2016-10-27 23:42] dimaspivak commented on #21776
How's that look to you, @aboch?

[2016-10-27 23:47] thaJeztah opened #27843 "[1.13] add new documentation reference section for metrics API"
per https://github.com/docker/docker/pull/25820#issuecomment-256800737, we need to add documentation for the new metrics API, and probably some examples in other parts of the documentation to show how it's used.

opening this issue for tracking, so that we unblock the PR that implements the feature

/cc @mstanleyjones @crosbymichael  - assigning you both so that we don't forget :smile:

[2016-10-27 23:50] unclejack commented on #27118
@andrewhsu I'm not making releases right now, but I'll try this out soon. The releases I've mentioned above were the official Docker releases we were making.

[2016-10-27 23:55] #25483 closed

[2016-10-28 00:03] aboch commented on #26523
Thank you @michaelkrog for providing the extra information.

The ipsec tunnels are properly installed on all nodes.

From the `ip xfrm state` o/p you posted I can only derive the number of outgoing packets which got encrypted:
- on engine1 5 packets were encrypted and sent to engine2
- on engine2 17 packets were encrypted and sent to engine1
- on engine3 12 packets were encrypted and sent to engin

[2016-10-28 00:07] #27642 closed

[2016-10-28 00:08] aboch commented on #21776
looks good. thanks.

[2016-10-28 00:25] thaJeztah commented on #27818
Thanks for opening @david-maumenee, I'll close this one, but subscribe to https://github.com/docker/docker/issues/21776 to stay informed on updates

[2016-10-28 00:25] #27818 closed

[2016-10-28 00:47] thaJeztah commented on #27827
@devnev GitHub now allows attachments to comments, which helps for longer logs

[2016-10-28 00:49] #27755 closed

[2016-10-28 00:56] thaJeztah commented on #27828
This looks like a question for _running_ docker, not a bug report. Also there's really more info needed, such as `docker version` and `docker info` as is requested in the bug report template.

I'll close this issue, and suggest to open a topic on forums.docker.com, which is a more suitable location

[2016-10-28 00:56] #27828 closed

[2016-10-28 01:30] vdemeester commented on #27664
/cc @aaronlehmann @stevvooe

[2016-10-28 01:32] aaronlehmann commented on #27664
cc @dongluochen

[2016-10-28 01:40] stevvooe commented on #21744
@tadasv As @thaJeztah said, this has been discussed, although I cannot find the original issue.

Due to how tags work in practice, I am not sure we'd introduce such a feature without finer grain access controls, such those provided in DTR and other products. One example is `latest`. If you turn off updates for `latest`, a lot of workflows may break.

That said, there might be a simple feature base

[2016-10-28 01:52] hqhq commented on #27045
@demaniak Sorry I didn't notice we still install armhf libraries in `Dockerfile.aarch64`, it's totally not needed now, I've open a PR https://github.com/docker/docker/pull/27848 to remove it.

But I doubt it's the problem, if arm64 hardware which doesn't support to install armhf libraries will hang here, it won't pass test in https://github.com/docker/docker/pull/20342 when Vijaya doing that.

Any

[2016-10-28 01:53] shivacherukuri commented on #27809
Thanks. i have just submitted a pull request.

[2016-10-28 02:01] wangyanbn commented on #26146
@stevvooe @vikstrous We may add an option in 'docker pull', like the '-c' option of 'wget'.
And we may also add option to 'docker rmi' , so we can remove the partially-downloaded file with image names as arguments.

I am eager for this feature!
My script looped pulling the microsoft/windowsservercore image (it is huge, 4GB!)  for a whole night , and it is still pulling in the morning. The Internet

[2016-10-28 02:23] pascalandy commented on #27513
Well ...

[code]

`db-net` appears on my 3 masters nodes and not on my workers. Which looks normal as I used `	docker service create --name etcd --constraint node.role==manager \ ...`

In this case `etcd` was running since 24 hours.
I removed it `docker service rm etcd` because I wanted to create a new discovery key (curl -w "\n" 'https://discovery.etcd.io/new?size=1').

Then when I created the co

[2016-10-28 02:31] pascalandy commented on #27513
**tl;dr** - There is an bug with overlay networks when it is left alone with no container using it actively.

This hurts ...

[code]

`db-net` appears on my 3 masters nodes and not on my workers. Which looks normal as I used `	docker service create --name etcd --constraint node.role==manager \ ...`

In this case `etcd` was running since 24 hours.
I removed it `docker service rm etcd` because I wan

[2016-10-28 02:46] pascalandy commented on #27513
- Just deleted `db-net`
- Made sure it did not show on all nodes.
- recreated `db-net`
- recreated `etcd`

Same issue ... and now I want to scrap my whole Swarm ...

[code]

[2016-10-28 02:47] mavenugo commented on #26610
@tylerFowler thanks for the confirmation. I will close this issue for now. Pls comment if you can reproduce it in an official docker build.

[2016-10-28 02:47] #26610 closed

[2016-10-28 02:59] mutex007 commented on #21699
The only workaround i have found it to use **host networking**. I have tested with almost all docker versions starting from 1.9.1 on two linux distributions centos, and ubuntu and the issue persists for me.

[2016-10-28 03:21] #27643 closed

[2016-10-28 03:22] bsodmike commented on #27826
Hi @justincormack thanks for spotting that; I'll check later this weekend, but I believe it's due to incorrectly installing `lxc-docker` package in Ubuntu LTS rather than `docker-engine`?

[2016-10-28 03:28] andrewhsu commented on #27521
I concur.

[2016-10-28 03:28] thaJeztah commented on #27513
Ping @mrjana is this related to https://github.com/docker/docker/pull/27466 ?

[2016-10-28 03:44] thaJeztah commented on #21744
Let's close the issue here, but feel free to open an issue for discussion in https://github.com/docker/distribution/issues

[2016-10-28 03:44] #21744 closed

[2016-10-28 04:08] stychos commented on #23984
Why not? It would be the great feature.

[2016-10-28 04:16] thaJeztah commented on #27538
No problem, good to hear you found what caused it @ionfist

[2016-10-28 04:24] bsodmike commented on #27826
Just verified this by installing `docker-engine` on in Linux.  Apologies!

[code]

[2016-10-28 04:24] #27826 closed

[2016-10-28 04:35] thaJeztah commented on #27739
If I'm not mistaken, it's not possible to use a path containing a space as build context on Windows; can you try building from a different path (without a space)?

/cc @jhowardmsft @londoncalling

[2016-10-28 04:42] thaJeztah commented on #27545
ping @duglin @jhowardmsft PTAL

[2016-10-28 04:47] thaJeztah commented on #27555
ping @dongluochen @aluzzardi

[2016-10-28 05:12] pascalandy commented on #27513
This is interesting. I recreate my whole cluster from scratch (from new VPS).
Looks like Swarm was able to resolve the issue this time!

[code]

[2016-10-28 05:19] thaJeztah commented on #27736
ping @dmp42 any ideas?

[2016-10-28 05:21] jhowardmsft commented on #27739
Ah, it's not the space. This came up a little time back. It's the fact there's symlinks which we can't follow under that path (e.g. Music). I did put in a PR around a year back to ignore them but it got rejected. Just create a directory under there and use that as your build context. You probably don't want to send your entire user folder as a tat to the daemon anyway...  Shorter answer,  by desig

[2016-10-28 05:21] #27739 closed

[2016-10-28 05:27] jhowardmsft commented on #27545
I think I know what's going on and believe it is probably by design on Windows. Relating to the differences between what we can and can't do depending on whether a Windows Server container or Hyper-V container. Will have to dig through notes, but I think the mkdir is the best solution. Perhaps @swernli (oof til next week) can recall the specifics better than me?

[2016-10-28 05:51] thaJeztah commented on #27836
I don't think this is on the roadmap. Adding such a feature quickly leads to a lot of complexity.

- what is "after"? after deploying the service? after the containers where started? the containers are _running_? .._healthy_? All tasks/containers, or is a single one sufficient?
- when scaling a service that another service depends on, should we stop and redeploy the dependent service?
- etc.

In a

[2016-10-28 06:15] michaelkrog commented on #26523
Oh my! Entering another segment of my ignorance: IPSec :)

So when I setup my environment (back in the 1.12 RC days) I followed [the Docker Swarm Tutorial](https://docs.docker.com/engine/swarm/swarm-tutorial/#/open-ports-between-the-hosts). But info about ESP was [not included](https://github.com/docker/docker.github.io/commit/0dcdc43cb106cc03897f5d6e38cf1f46f2e1e627#diff-12a0a6a8005dc2384de131482

[2016-10-28 06:15] #26523 closed

[2016-10-28 06:25] david-maumenee commented on #27818
Thanks for your reponses, it was very fast !
Hope that [#21776](https://github.com/docker/docker/issues/21776) wil be included in the next version, despite it is not yet planned.

[2016-10-28 07:19] oliversalzburg commented on #25973
I have 1.12 installed, updated yesterday and there is still a new shortcut being created on my desktop. Am I misinterpreting the `version/1.12` tag?

Is this a difficult change to make, is this something you're not planning to change or why is there no progress on this issue? Can someone point me in the right direction so I can submit a PR?

[2016-10-28 07:25] demaniak commented on #27045
Ah ok, thanks @hqhq  - I was starting to doubt my sanity!
I will try again, after pulling in #27848 and report back.

[2016-10-28 07:43] greole commented on #26768
Same here

[code]
[code]

[code]

but I had same behaviour on

[code]

**Output of docker info:**
Daemon not responding

[2016-10-28 07:56] sdurrheimer commented on #27744
@mcornella Most of `ls` options are boolean, some of them require a argument value as `next word`.
In our case, docker can receive argument values as `next word` or `same word with equal sign`, which is, IMO, responsible of the stacking completion issue.

[2016-10-28 08:15] paulmenzel commented on #27581
For people with build scripts, as a workaround just use the tag of the commit, and not the commit hash.

For the [bee package manager](http://www.beezinga.org/) (bee file):

[code]

[2016-10-28 08:20] justincormack commented on #27833
The `ip_vs_in.part.2.constprop.9` looks like where the issue is, its either an arm specific kernel issue, a compiler issue, or similar. As we have had no reports on other platforms it seems likely it is arm specific. We can't fix kernel issues in docker but someone may be willing to take a look.

[2016-10-28 08:26] domdom82 commented on #27775
I see, so this is a limitation in part of the kernel. I should be able to work around it for the time being by reducing `--userns=host` cases to a minimum. My original idea was to go the path of least change to the original deployment by only using user namespaces where necessary and keeping the pre-existing way otherwise. Turns out I have to invert that logic now :-)

Thanks for your input!

[2016-10-28 09:00] xiaozhazi opened #27853 "Error:response from deamon: page not found. when use docker-1.10.0-dev checkpoint function"
**Description**

When I use the docker-1.10.0-dev to checkpoint a container , it shows that Error: response from daemon: page not found.
I try to change docker-1.9.0-dev, the error occurs again.
the docker-1.10.0-dev is the pre-release.

**Steps to reproduce the issue:**
1.sudo docker run -d --name looper --security-opt seccomp:unconfined busybox /bin/sh -c 'i=0;while true; do echo $i; i=$(expr $i

[2016-10-28 09:11] carn1x commented on #22207
getting a similar issue, no containers/images/volumes, 12Gb of diffs
[code]

[code]

[code]

[code]

[2016-10-28 09:44] katia-vistatec opened #27854 "."
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2016-10-28 09:46] cstpdk commented on #26099
I think this doc change is not enough to describe the issue for everybody. Double slash is not enough to fix this problem in all cases, as is pointed out earlier in this thread. Are we sure we are not breaking with the HTTP spec with this? Anyway, I think the doc should atleast reflect the possible issues that recent curl version can bring. Currently I see three working formats, only one of which

[2016-10-28 09:52] #27854 closed

[2016-10-28 09:56] justincormack commented on #27853
Can you use a client that is the same version as the server to test this please? Why are you using a pre release 1.10?

[2016-10-28 11:18] marek-obuchowicz commented on #23184
What is status of this issue? Is there any information I could provide to help fixing it?
IT's happening on:
[code]

[2016-10-28 11:37] bobiblazeski commented on #23347
I was unable to install docker on kernel 4.7 no matter what I tried. I installed kernel 4.8.5 and installation went without a problem.

[2016-10-28 11:39] shlomikushchi commented on #21699
what exactly is host networking?
do you mean running the container like this:
docker run --net=host ... ?

that means we don't have network isolation, right?

and, since this issue was opened in March, do you know of any plans to fix it?
this is not a minor issue.

[2016-10-28 12:07] JamesJJ commented on #27002
Issue exists in `docker-engine-1.12.3-0.0.20161025.001321.gitbad4d12.el7.centos.x86_64`

Please could you let us know if this is likely to be a target for 1.12.x or 1.13.x, or currently no/low priority?

[2016-10-28 12:19] griwes commented on #14041
You, sir, are an idiot.

[2016-10-28 12:20] cpuguy83 commented on #27002
@JamesJJ 1.13

[2016-10-28 12:27] rmartinho commented on #14435
So, nothing on this? So if this is not the are of @mavenugo or @dave-tucker, whose is it?

[2016-10-28 12:31] phemmer commented on #14041
I don't use docker any more, so my interest in this has diminished, but just for full awareness and to maybe get this a little more attention, there's also another vulnerability exposed by this.

Lets say I have docker on my laptop, I go to the local coffee shop, and connect to my work's VPN. Anyone in the coffee shop with a laptop can now access my work's network. Slight vulnerability wouldn't yo

[2016-10-28 12:32] reidrac commented on #18113
Had this problem too; Debian Jessie and 1.11.2, exactly as described by the previous comment.

Removing `/var/lib/docker/network/files/local-kv.db` allowed me to start docker again.

[2016-10-28 12:43] milindchawre commented on #27140
@manuwelakanade
@cpuguy83 Can you please reopen this issue.

I tried this with latest docker release 1.12 and observed the same issue.
This is what I tried :
1. Written a shell script that run containers in loop.
----------------------------------------
#!/bin/bash -eux

i=0
while [ $i -lt 500 ]
do
  sudo docker run -d busybox sh -c "while true; do echo alive; sleep 60000; done"
  i=`expr $i + 1`

[2016-10-28 12:46] cpuguy83 commented on #27140
@milindchawre Please open a new issue with the specific case, thanks!

[2016-10-28 12:52] duglin commented on #27836
+1 to @thaJeztah. The entire before/after notion with things that can be restarted, or die, at any time is always a bit weird to me.

[2016-10-28 12:57] cpuguy83 commented on #25973
@oliversalzburg It means it is the version that the issue was reported against.
The issue is still open, as such is not resolved.

[2016-10-28 13:00] duglin commented on #27545
@jhowardmsft is the WORKDIR not creating the missing dir on Windows?
@MichaelSimons what does this show:
[code]

[2016-10-28 13:37] Pakito83 commented on #26822
On Windows maybe "shared drives" on app's settings works.
![capture](https://cloud.githubusercontent.com/assets/1780906/19808198/ea22eb7c-9d23-11e6-8adf-92857a0f3f45.PNG)

[2016-10-28 13:37] jkubrynski commented on #27354
This issue is a really serious problem. Including fully qualified registry URL in image names makes no sense. The problem is not only when you want to change location of a private registry but also when you want to use more than one registry (for example for staging and production usage). It'll great if docker will support option to add registry for a particular image prefix. For example I can hav

[2016-10-28 13:46] devnev commented on #27827
output from docker daemon via journalctl:
[docker-log.txt](https://github.com/docker/docker/files/558468/docker-log.txt)

[2016-10-28 14:03] sanimej commented on #27399
@fingermark Your observation that using `--subnet=192.168.1.0/24` for overlay fixes the problem is correct. The reason for the original problem is a bit involved though.

Within a container in an EC2 instance on a private subnet only the name resolution fails, but the external connectivity is just fine..

[code]
The address range in VPC by default is (10.0.0.0/16) and the DHCP server provisioned b

[2016-10-28 14:35] aboch commented on #26523
Awesome @michaelkrog, glad we resolved this one.

I know sorry for that. I realized that was missing only when #27425 was opened. @afrazkhan took care of fixing the documentation in docker/docker.github.io#230.

:+1:

[2016-10-28 14:37] lenovouser commented on #11518
It's been nearly 2 years and this issue still persists 😢

[2016-10-28 14:42] dnephin commented on #27666
That looks like `libcompose` code? Please open an issue on the docker/libcompose issue tracker, it is likely a bug in `libcompose`

[2016-10-28 14:42] #27666 closed

[2016-10-28 14:45] sanimej commented on #14435
Docker uses the iptables rules to provide isolation across networks, masquerading, ICC etc. So by default we can't disable iptables. For publishing the ports you can restrict the IPs with the format `ip:hostPort:containerPort` so that the external IPs are not open.

[2016-10-28 14:50] MichaelSimons commented on #27545
@duglin, The behavior I see is strange.

[code]

Output - Notice how the dir layer was ignored.
[code]

This Dockerfile seems to indicate that WORKDIR created the folder.
'''
FROM microsoft/nanoserver:10.0.14393.321

WORKDIR app
RUN dir
RUN dir c:\\
'''

Output:
[code]

Lastly I tried this as well
[code]

Output:
[code]

[2016-10-28 14:54] Jaspreetc commented on #27580
Thanks @cpuguy83 (Brian) let me give that a try and will get back to you shortly. I am off for a week so it won't be before Nov 10

[2016-10-28 14:56] Jaspreetc commented on #27580
@mabrarov  As soon as I collect the logs with the Jfrog team will let you know more information about it. It will be prolly post my return

[2016-10-28 15:00] duglin commented on #27545
ok that's good - so the dir is being created.
I'm sure @jhowardmsft already know what's going, but I'm curious... the error message from your original post included:
[code]
but if c:\\app is there, then is this error due to "c:" and `\\?\Volume{c0949f92-8c99-11e6-b9a3-adda2ced055a}` trying to be the same thing but something going wrong under the covers so they're not?

[2016-10-28 15:20] Stehsegler commented on #24901
I don't consider this to be a duplicate of #24413, which focuses on a command to **restart** a service to re-initialize the corresponding containers, while the issue at hand proposes commands to **stop** and **start** a service in order to be able to shut it down for an arbitrary time e.g. during maintenance. We're talking about totally different use cases here, thus I would appreciate the issue t

[2016-10-28 15:20] zackxu1 commented on #20486
I had this issue on Mac OSX.  Every time I start Docker engine, the port 5432 is being to listened to for some reason (BEFORE I start the containers).  I did Docker factory reset to defaults.  This did the trick.  (If you remove all your containers and images, it may work as well.)

[2016-10-28 15:22] SEAPUNK commented on #5684
Same issue, has been happening over many many versions of Docker. I use `docker-compose` to recreate containers. Sometimes it works cleanly, sometimes it doesn't. Restarting the docker daemon or rebooting the server cleans up the bad container.

Arch Linux; devicemapper containers on ext4 FS.

[code]

[2016-10-28 15:23] jhowardmsft commented on #27545
Is this client or server, and a Windows Server or Hyper-V container? Can you also post output of both docker info and version so I can repro locally.

[2016-10-28 15:23] jhowardmsft commented on #27545
Ah you have docker version. Can you also try with master (master.dockerproject.org)

[2016-10-28 15:35] cirocosta commented on #20486
As https://github.com/docker/libnetwork/issues/1504 was cherrypicked for 1.12.3 this issue should be fixed, right?

[2016-10-28 15:43] MichaelSimons commented on #27545
I updated the docker version and get the same results as mentioned in the original description.

**docker version**
[code]

**docker info**
[code]

[2016-10-28 16:14] vdemeester commented on #11518
Reopening as it's not vendored yet 👼

[2016-10-28 16:17] frol commented on #27590
Hmm, this is odd, but I still experience this bug even after upgrade to Docker 1.12.3! (I have tested on Ubuntu 16.04 and Arch Linux)

[2016-10-28 16:24] rondeniable commented on #5684
If it helps...

I believe that I am having the same/similar issue here as well. If deploy a service using compose up -d and then update the image name to a different one in the compose.yaml and do another compose up -d the compose fails with error around devicemapper:

**Error**
ERROR: for <<SERVER>> Driver devicemapper failed to remove root filesystem 216c098e0f051407863934c27111bd1e9b7561dff1c4d

[2016-10-28 16:26] justincormack commented on #27590
@frol can you give the output of `docker-runc --version` and also how did you install these versions on arch and Ubuntu?

[2016-10-28 16:28] thaJeztah commented on #24901
oh, I see, this is for a `global` service. apologies

I won't add it back to the 1.13 milestone yet, as there's no decision yet, and needs a design. It's unlikely it will be in time to make it into 1.13.

[2016-10-28 16:28] thaJeztah commented on #24901
ping @aluzzardi any ideas?

[2016-10-28 16:32] frol commented on #27590
@justincormack Here you are:

Arch Linux:

[code]

Ubuntu 16.04

[code]

[2016-10-28 16:33] jadametz commented on #22207
[code]

Same issue here. I understand 1.13 may get data management commands but in the meantime, I just want to safely delete the contents of this directory without killing Docker.

This is relatively blocking at this point.

[2016-10-28 16:34] maxamillion commented on #27500
@thaJeztah Fedora doesn't currently push pre-release content to the Docker Hub, all pre-release images are available for testers via Fedora.

[2016-10-28 16:42] crosbymichael commented on #27843
What file should this go in?

[2016-10-28 16:45] thaJeztah commented on #27500
@maxamillion that's the one @andrewhsu mentioned above? https://github.com/docker/docker/issues/27500#issuecomment-254658370

Looks like we need to use that then, until it's pushed to Docker Hub

[2016-10-28 16:45] justincormack commented on #27590
Ok, the Ubuntu commit `f59ba3cdd76fdc08c004f42aa915996f6f420899` is correct, and should not have the issue assuming it is actually using that version. Can you provide the full `dockerd` arguments from `ps auxww | grep dockerd` and the contents of `/etc/docker/daemon.json` (if present) and the output of `docker run busybox chown 100 /tmp`

The arch Linux version does look like it needs patching, Ca

[2016-10-28 16:46] thaJeztah commented on #27843
@crosbymichael since it's a new API, probably a new file. Let me try to have @mstanleyjones to have a look

[2016-10-28 16:50] justincormack commented on #27590
Sorry there was an error I amended it, running `docker run --user 1000:1000 busybox chown 100 /tmp` is a good test of whether there is an issue, it should give an `Operation not permitted` error if the issue is resolved, and succeed if vulnerable

[2016-10-28 16:57] frol commented on #27590
Ouch... This seems to be my mistake. I am so sorry, I was running wrong commands on the updated hosts, they didn't include `--user nobody` option, so they were running as `root`.

I am sorry for this noise :(

[2016-10-28 17:00] justincormack commented on #27590
@frol no problem

Looking at the Arch commit, that is actually an old version of `runc`, from June, so is not vulnerable, however they should update it in line with docker and containerd, or there may be compatibility issues.

[2016-10-28 17:07] jhowardmsft commented on #27545
OK, here's what I've worked out.

Note that there is a difference in behaviour between WORKDIR on Hyper-V containers and Windows Server Containers. I'll PR an update to the docs to highlight that - essentially on a Hyper-V containers, we can't mount the root filesystem on the host when starting a container, so the code in SetupWorkingDirectory() kicks in and will bail. This is unfortunately by des

[2016-10-28 17:08] jixuege opened #27861 "PXE BOOT CentOS 7 run Docker error?"
OS:
CentOS 7.2
Kernel:
3.10
describe:
CentOS 7.2 boot from pxe , docker module is devicemapper  ,now i got a error by start container ,this is the Details of the error message:
[root@jycloud ~]# docker run -itd box
WARNING: IPv4 forwarding is disabled. Networking will not work.
b96378de871d15293de011eb5129ed0db548170e2fccee10747930ac710d8207
docker: Error response from daemon: invalid header field

[2016-10-28 17:09] jhowardmsft commented on #27545
PS here's the working dockerfile which will behave consistently for both container types.

[code]

[2016-10-28 17:15] mstanleyjones commented on #27843
Right now the API files are versioned. Will the metrics API be another top-level API that is also versioned separately, or will it just be more endpoints in the API that already exists?

[2016-10-28 17:16] hansij66 commented on #26567
Hi, I tried:
sudo brctl addif docker0 veth44dac6e

but get response:
device veth44dac6e is already a member of a bridge; can't enslave it to bridge docker0

Issue is still randomly happening; today again.

[2016-10-28 17:29] frodopwns commented on #27832
The only thing that seems to fix this is

[code]

`docker restart id` does not do the trick.

[2016-10-28 17:54] vdemeester commented on #27189
@estesp `docker service ps` (or `docker service ls`) do not support `--format` currently (only `docker service inspect`).

[2016-10-28 17:58] aboch commented on #27404
ping @dpeters

[2016-10-28 18:05] #22204 closed

[2016-10-28 18:05] #24637 closed

[2016-10-28 18:05] #26341 closed

[2016-10-28 18:05] #27157 closed

[2016-10-28 18:08] #11065 closed

[2016-10-28 18:09] jhowardmsft commented on #21932
Nope. Closing.

[2016-10-28 18:09] #21932 closed

[2016-10-28 18:09] MSaifAsif commented on #26295
I fixed the problem by uograding to 1.9.1 from 1.8
[code]

[2016-10-28 18:46] h3rj4n commented on #27807
I'm having the same issue. The only work around is to restart docker after the usb is connected?

[2016-10-28 18:58] vikstrous commented on #27790
As a workaround I suspect that you can run dnsmasq or some other DNS server in a container, then bind its port on the host with `docker run -p 127.0.0.1:53:53` and have it proxy to the docker dns server for you.

[2016-10-28 19:00] rsalimian commented on #27712
issue resolved after more investigation.

these steps helped me to be able update the service using remote API:

- update service using service name won't work (service not found error) and have to use FULL service ID
- first I need to inspect service to pull whole "Spec"
- use current version.index to use in service update
- update it with changes and use it to update service

[2016-10-28 19:01] #11518 closed

[2016-10-28 19:02] cpuguy83 commented on #27832
ping @dsheets

[2016-10-28 19:06] #27696 closed

[2016-10-28 19:10] tophj-ibm opened #27866 "Flaky test: DockerSwarmSuite.TestPruneNetwork"
Seen flakily failing on arm and ppc64le.

[code]

unfortunately the Jenkins logs were deleted as I was making this, but I'm seeing it on my local power machine on master as well.

[2016-10-28 19:22] tophj-ibm commented on #27866
hmm looks like a network isn't being cleaned up correctly, from failing docker.log here https://gist.github.com/tophj-ibm/bd415b07affffd124eee5e45ac82e408
[code]

[2016-10-28 19:30] mavenugo commented on #27370
I could reproduce the issue as well. Will get it fixed. thanks @vikstrous

[2016-10-28 19:41] #27672 closed

[2016-10-28 19:46] ahromis opened #27868 "Docker DNS stops resolving"
**Description**

The Docker DNS resolver stops resolving external DNS.

AWS security groups were being changed (unsure about the extent of the changes) when this error started happening, and when the security group changes were reverted the DNS resolver still was not working. This issue was noticed when trying to login from DTR, and an OpenID Restarting the Docker daemon resolved the issue.

**Ste

[2016-10-28 20:03] sanimej commented on #27868
@ahromis This looks like https://github.com/docker/docker/issues/22185. This has been fixed in 1.12. Can you give it a try with 1.12.3 ?

[2016-10-28 20:16] fsamir commented on #27807
As far as I can tell, yes.
Also, in case the cable is disconnected, make sure the piece of code
listing the available serial ports, can handle the now invalid serial path.

This pretty much makes docker unusable with most iot projects, since they
connect to micro controllers via serial port.
On Sat., 29 Oct. 2016 at 5:47 am, h3rj4n <notifications@github.com> wrote:

[2016-10-28 20:17] diogomonica commented on #24940
@fermayo can a user provide that API key base64 encoded in a way that Docker recognizes?

If so, we could add that token, and change `--with-registry-auth` to receive the name of a secret that will be sent down to the node.

[2016-10-28 21:04] maxamillion commented on #27500
@thaJeztah Yes, that's one of the images. We build nightlies also if you're interested in something more immediately up to date, but that would work fine if you just want to throw a `RUN dnf -y update` in the `Dockerfile`.

[2016-10-28 21:11] friism commented on #24940
... or would it make sense for Docker Engine to auto-provision an API key (if possible) during `docker service create`? @diogomonica @stevvooe can you confirm that the authentication mechanism currently given to workers when starting tasks/containers are in fact the short-lived tokens, and not the full password?

[2016-10-28 21:11] frodopwns commented on #27832
Just found out that running gulp watch in the host directory that is mounted into the container seems to break the unison/fsmonitor setup.

[2016-10-28 21:13] rmartinho commented on #14435
@sanimej that's not how it works. I don't want to block external IPs. I want docker to not override my firewall rules. I might be blocking everything except from a specific IP, and the way that docker messes with iptables it just trumps that and exposes the ports to the wide world.

[2016-10-28 21:17] aboch commented on #20486
@cirocosta
docker/libnetwork#1504 fixes one bug which yes would cause the problem tracked by this issue, but in a secific case: When the external conenctivity needs to be reprogrammed for the container (see description for more info).

From the reports on this issue I was not able to confirm reporters had a container being connected to multiple bridge networks.

[2016-10-28 21:38] diogomonica commented on #24940
Right now it's the full password.

[2016-10-28 21:50] aboch commented on #21699
@mutex007 I agree with @anttiviljami this looks the same as #22325.
Given 22325 gathered more attention and did not go through multiple steps to eventually identify the issue, I would close this issue as a dupe.

Also, for the sake of fixing this problem, it would be great if you and others could post over there if you can find a consistent way to reproduce this problem, better with latest docker

[2016-10-28 22:24] fermayo commented on #24940
@diogomonica the user can provide that API key as a replacement of their password (i.e. providing it on `docker login`)

[2016-10-28 22:45] thaJeztah commented on #21699
okay, lets close this one in favor of https://github.com/docker/docker/issues/22325, so that we can have the discussion in a single place

[2016-10-28 22:45] #21699 closed

[2016-10-28 23:02] thaJeztah commented on #27866
This test was added in https://github.com/docker/docker/pull/27525

ping @AkihiroSuda ptal

[2016-10-28 23:25] #26853 closed

[2016-10-28 23:41] sanimej commented on #14435
If you don't want Docker to add rules to the iptabels at all use the engine option `--iptables=false`. Give it a try with 1.12.3 and if there are any issues with that I can help.

`Docker is essentially destroying my firewall. This could even be construed as malicious behaviour; it's silly to downplay the problem.` - I wasn't downplaying your problem. This issue as reported originally seems to be

[2016-10-28 23:59] thaJeztah commented on #27861
can you add the output of `docker info` and `docker version` as well, as was requested in the bug report template?

[2016-10-29 00:08] thaJeztah commented on #27853
The checkpoint/restore feature you're using is from an experimental build from this repository; https://github.com/boucher/docker/releases/tag/v1.10_2-16-16-experimental

This was never released, and only used as a way to test this functionality. The API side of checkpoint/restore is merged into this repository now, and will be an experimental feature in docker 1.13 (see https://github.com/docker/

[2016-10-29 00:08] #27853 closed

[2016-10-29 00:34] thaJeztah commented on #26498
ping @aaronlehmann

[2016-10-29 00:37] thaJeztah commented on #27823
Given that `--insecure-registry` is set on the daemon, it shouldn't make a difference where/what is calling it. Are you sure the cronjob is connecting to the same daemon as you're connecting to when running `docker pull` manually?

[2016-10-29 00:39] thaJeztah commented on #27399
closing per the above comment, but let me know if you think this was closed by mistake

[2016-10-29 00:39] #27399 closed

[2016-10-29 00:56] rolele commented on #24649
I am having the same problem with kafka.
I have 4 nodes but I only want kafka on 3 nodes so --global is not suitable.
[code]

has you can see kafka has been started 2 times on worker0.
When creating the service with ansible I expose the port 9092
[code]
both containers ports should colide and fail though but nothing happen
[code]
No port forwarding has been setup by docker.

[2016-10-29 00:58] #27740 closed

[2016-10-29 01:10] dongluochen commented on #27664
@allencloud We can add basic checking to constraint keys in `constraint` package. Checking value may be less useful and heavier to maintain. There is a proposal to change constraints into AST format and allow `||` operator https://github.com/docker/swarmkit/issues/1151. If we decide to implement that, the current constraint set would change to one constraint expression. The syntax validation would

[2016-10-29 01:14] stevvooe commented on #27659
To be clear, we don't store the same data twice. We only force clients to prove they have the data if they want to redistribute it, unless they have permissions to mount from another repository.

While it may seem "obvious", the issues become clear when you start analyzing how to implement the ACLs in such a system. ACLs are done at the repository level to keep the size of ACL from bloating as the

[2016-10-29 01:22] thaJeztah commented on #27821
/cc @runcom @aaronlehmann

[2016-10-29 01:22] stevvooe commented on #21647
For the most part, it should be backwards compatible but I think we only guarantee compatibility a few versions back. The formats aren't _that_ different and we maintain the same files in the save/load files to ensure this works. I do have to warn that you are opening yourself up to a number of security issues pre-1.9, but that may be less of a problem if you are distributing through a different m

[2016-10-29 01:23] erkules commented on #27203
/me blames devicemapper

[2016-10-29 01:27] thaJeztah commented on #26099
docs were updated including both examples for 7.4x / 7.5x, see https://github.com/docker/docker/pull/27640

I'll go ahead and close this issue, but @cstpdk please check the linked PR if there's still something not right

[2016-10-29 01:27] #26099 closed

[2016-10-29 01:30] thaJeztah commented on #21647
Let me close this issue, as it's not a bug report, but feel free to continue the conversation

[2016-10-29 01:30] #21647 closed

[2016-10-29 01:37] thaJeztah commented on #27343
ping @cpuguy83 @nalind ^^

[2016-10-29 01:46] thaJeztah commented on #27601
Older versions should probably be rejected, as there was no Windows release that supported those versions

ping @bfirsh @jhowardmsft @vieux WDYT?

[2016-10-29 02:04] allencloud commented on #27664
Thanks @dongluochen

[2016-10-29 02:06] nathan-v commented on #25382
I'm running into this exact same issue today on an Amazon Liunux AMI that is completely up to date after being freshly launched. After a reboot the issue did not persist.

[2016-10-29 02:35] clkao opened #27875 "Kernel panic with 1.12.3"
**Description**

This is an ec2 c4.4xlarge instance upgraded from docker 1.12.0 to 1.12.3, running on latest ubuntu trusty with the following kernels that all trigger kernel crash and reboot the machine: kernel 3.19.0-66-generic, linux-generic-lts-vivid linux-generic-lts-xenial

**Steps to reproduce the issue:**

I have not narrowed this down to a small reproduce recipe, but this happened every ti

[2016-10-29 02:52] jhowardmsft commented on #27601
It should probably reject pre 1.24. I'll take this on.

[2016-10-29 02:53] rsvp commented on #27659
@stevvooe Thanks very much for your thorough response. I think your Alice/Bob scenario nails the current issue. Very interesting that: **there is no such thing as "public" repositories from the registry perspective** -- this non-obvious fact should help resolve any misunderstanding regarding ACL (*Access Control List*), esp. why Docker may not be using pre-existing layers during a **push** to a hu

[2016-10-29 02:53] #27659 closed

[2016-10-29 03:07] WeiZhang555 opened #27876 "Docs from docker website: devicemapper: wrong thinpooldev value"
See https://docs.docker.com/engine/userguide/storagedriver/device-mapper-driver/#/configure-docker-with-devicemapper

Item 14: Configure the Docker daemon with specific devicemapper options.

[code]

can't find `/dev/mapper/docker-thinpool-tpool`

Combining recommended `daemon.json` configure, it should be `/dev/mapper/docker-thinpool`

[2016-10-29 03:37] thaJeztah commented on #27601
Thanks! Ill assign you; had already put it on the 1.13 milestone, as its probably best to have it in for that.

Thanks for reporting @samuelkarp - let me know if you agree with the resolution

[2016-10-29 03:40] thaJeztah commented on #27875
Thanks for reporting! kernel panics usually are bugs in the kernel; not a bug in docker, but it's possible that certain features of docker _expose_ these bugs.

/cc @unclejack @justincormack @AkihiroSuda

[2016-10-29 03:43] thaJeztah commented on #26546
Let me close this issue as a duplicate of https://github.com/docker/docker/issues/25382, so that we can have the discussion in a single place. Please add extra information you found to that issue

[2016-10-29 03:43] #26546 closed

[2016-10-29 04:02] thaJeztah commented on #27876
That part of the docs has moved to the central docs repo https://github.com/docker/docker.github.io/blob/master/engine/userguide/storagedriver/device-mapper-driver.md

Could you open a pull request there? Thanks!!

[2016-10-29 04:02] #27876 closed

[2016-10-29 04:23] sergeyzwezdin opened #27877 "Unable to push image to custom registry (retrying issue)"
I have same issue as @vikas027 at #22188, but as there is recomendation to put it into new issue, I'm writing here.

That's interesting that the problem appears only for big images (>100Mb), and small images works fine.

# Environment

[code]

I setup Docker Registry by following these steps - https://docs.docker.com/registry/deploying/
Next applied TLS and Native basic auth.

# Steps to reproduce

[2016-10-29 04:29] thaJeztah commented on #27354
/cc @dmp42 @stevvooe

[2016-10-29 04:35] thaJeztah commented on #27877
/cc @dmp42

[2016-10-29 04:54] samuelkarp commented on #27601
As someone who integrates with the Docker Remote API and has [an existing codebase](https://github.com/aws/amazon-ecs-agent) primarily integrated against 1.17 (our minimum supported Docker version is 1.5.0), my (selfish) preference is to support the old API versions properly.  I've worked around this problem on Windows by following the compatibility code in the Linux implementation to properly pop

[2016-10-29 04:56] #24022 closed

[2016-10-29 05:11] thaJeztah commented on #27796
Thanks for a very well written bug report @coryleeio

ping @mrjana @aboch PTAL

[2016-10-29 05:22] thaJeztah commented on #27786
This was proposed a few times, but rejected, see for example and info how to achieve this, https://github.com/docker/docker/issues/4480, https://github.com/docker/docker/issues/13302, https://github.com/docker/docker/issues/9150, https://github.com/docker/docker/issues/9924 https://github.com/docker/docker/issues/9007, https://github.com/docker/docker/issues/11460, https://github.com/docker/docker

[2016-10-29 05:22] #27786 closed

[2016-10-29 05:25] thaJeztah commented on #27811
Just to confirm; if you update the service, are you changing the actual name/tag of the image, or is the name/tag of the image exactly the same as before?

[2016-10-29 05:33] thaJeztah commented on #27778
Is this a duplicate of https://github.com/docker/docker/issues/24124 ?

[2016-10-29 05:49] thaJeztah commented on #11407
I'm going to close and lock this issue, because this issue has become a collection of network related issues, some of which are not even related to DNS resolution. The original issue was reported with Docker 1.5, and the entire networking stack in docker has been replaced since, so issues in the current version of docker cannot be related.

Also note that if you're having issues on Docker for Mac,

[2016-10-29 05:49] #11407 closed

[2016-10-29 06:07] thaJeztah commented on #13381
I'm going to close and lock this issue, because this issue has become a collection of a wide range of DNS and network related issues. Having all these issues collected in a long thread makes it very difficult to look into (some reports were resolved, others were reported a long time ago, and may no longer be relevant).

Also note that if you're having issues on Docker for Mac, please report throug

[2016-10-29 06:07] #13381 closed

[2016-10-29 06:15] thaJeztah commented on #14098
I'm going to close this issue as the original issue was resolved in 1.8, and subsequent comments were over a year old. If you're having this issue on the current version of docker, please open a new issue instead

[2016-10-29 06:15] #14098 closed

[2016-10-29 06:16] thaJeztah commented on #22674
Closing because of lack of activity, and OP did not provide more information

[2016-10-29 06:16] #22674 closed

[2016-10-29 06:17] thaJeztah commented on #22660
Closing because OP did not provide more information

[2016-10-29 06:17] #22660 closed

[2016-10-29 06:21] thaJeztah commented on #22607
Closing because we didn't receive feedback from OP

[2016-10-29 06:21] #22607 closed

[2016-10-29 06:22] thaJeztah commented on #22363
Closing, as we did not receive more information

[2016-10-29 06:22] #22363 closed

[2016-10-29 06:22] thaJeztah commented on #22354
Closing as we didn't receive more information

[2016-10-29 06:22] #22354 closed

[2016-10-29 06:24] thaJeztah commented on #21635
Closing as we didn't get a response

[2016-10-29 06:24] #21635 closed

[2016-10-29 06:25] thaJeztah commented on #21404
Closing because of lack of activity, but let us know if this is still an issue

[2016-10-29 06:25] #21404 closed

[2016-10-29 06:31] thaJeztah commented on #20700
This looks like a configuration issue of TDS, missing locales in the container, or a combination. I suggest to check the TDS log files inside the container, and make sure TDS is properly configured. This stackoverflow question may provide some pointers http://stackoverflow.com/questions/7590944/freetds-connection-problems-on-linux

I'm going to close this issue because I don't think this is a bug

[2016-10-29 06:31] #20700 closed

[2016-10-29 06:33] thaJeztah commented on #20077
Closing as we didn't receive more information, but happy to reopen once provided

[2016-10-29 06:33] #20077 closed

[2016-10-29 06:34] #18793 closed

[2016-10-29 06:35] thaJeztah commented on #17661
Closing because this should be resolved

[2016-10-29 06:35] #17661 closed

[2016-10-29 06:37] thaJeztah commented on #15173
Ok, this should be resolved https://github.com/docker/docker/pull/16325#issuecomment-247079797

[2016-10-29 06:37] #15173 closed

[2016-10-29 06:42] thaJeztah commented on #25600
The labels are only set when starting the daemon as a service (I.e., through the systemd unit file), not when started manually see https://github.com/docker/docker/issues/25907#issuecomment-241682222.

I'll close this issue, but feel free to comment after that

[2016-10-29 06:42] #25600 closed

[2016-10-29 06:43] thaJeztah commented on #25367
Closing as this should be resolved

[2016-10-29 06:43] #25367 closed

[2016-10-29 06:44] thaJeztah commented on #25123
Closing as this is not a bug (see explanation above), but feel free to comment after I closed

[2016-10-29 06:44] #25123 closed

[2016-10-29 06:47] thaJeztah commented on #24981
Closing as we cannot provide support for non-official binaries, and the second report is expected behavior

[2016-10-29 06:47] #24981 closed

[2016-10-29 06:49] thaJeztah commented on #24436
Closing as we need a way to reproduce, but happy to reopen once provided

[2016-10-29 06:49] #24436 closed

[2016-10-29 06:51] thaJeztah commented on #23961
Closing as we did not receive more information, but we can reopen once provided

[2016-10-29 06:51] #23961 closed

[2016-10-29 06:52] thaJeztah commented on #23900
Closing as I don't think there's a bug here, and the original reporter did not reply

[2016-10-29 06:52] #23900 closed

[2016-10-29 07:00] thaJeztah commented on #26648
Closing as I don't think there's a bug here (see my comment above), but feel free to comment if you think I closed by mistake

[2016-10-29 07:00] #26648 closed

[2016-10-29 07:01] thaJeztah commented on #26487
Closing, because we didn't receive more information, but happy to reopen once we received

[2016-10-29 07:01] #26487 closed

[2016-10-29 07:37] thaJeztah commented on #26126
Based on these symptoms, I suspect that upgrading Docker Toolbox created a new Virtual Machine, causing your old images to disappear. This is not a bug in docker (engine), but if you're still running into this, please open an issue in the Docker Toolbox issue tracker https://github.com/docker/toolbox/issues

I'll close this issue here, but feel free to comment

[2016-10-29 07:37] #26126 closed

[2016-10-29 07:39] thaJeztah commented on #26014
@ageis can you provide the logs? Without more information, there's not much for us to go on

[2016-10-29 07:40] thaJeztah commented on #25856
I'll close this issue for now, but feel free to comment if you have more info

[2016-10-29 07:40] #25856 closed

[2016-10-29 07:42] xiaozhazi commented on #27853
Thank you for your answer. Because I want to test the docker C/R function, and I have seen some document see this function will add in docker 1.12. But 1.12 didn't include yet, so I tried to use the non-official build. Looking forward to see the experimental feature in docker 1.13.

[2016-10-29 07:43] thaJeztah commented on #26238
Closing, because we need more info, but happy to reopen when provided

[2016-10-29 07:43] #26238 closed

[2016-10-29 07:45] thaJeztah commented on #25166
Closing, because this is likely not a bug, but a configuration / network setup issue

[2016-10-29 07:45] #25166 closed

[2016-10-29 07:48] thaJeztah commented on #24890
@IanLewis is this still an issue on the current (1.12.3) release?

[2016-10-29 07:51] thaJeztah commented on #26962
Closing as I think the question is answered, but feel free to comment if you still have an issje

[2016-10-29 07:51] #26962 closed

[2016-10-29 07:57] thaJeztah commented on #26735
Closing as this is probably resolved, but @dhiraj-hadkar let us know if you still run into this

[2016-10-29 07:57] #26735 closed

[2016-10-29 08:00] AkihiroSuda commented on #27875
Is there any message about the panic in the EC2 serial console?

[2016-10-29 08:08] thaJeztah commented on #21654
closing because we didn't get a reply, but feel free to comment if this is still an issje

[2016-10-29 08:08] #21654 closed

[2016-10-29 08:08] rolele commented on #24649
The problem with the work around of @Richard-Mathie is that the service stay in: Allocated state

[code]

[2016-10-29 08:15] zepouet commented on #21654
Hello

Sorry I will test and comme back in few days

Thanks
Le 29 oct. 2016 10:09, "Sebastiaan van Stijn" <notifications@github.com> a
écrit :

[2016-10-29 08:27] thaJeztah commented on #27589
This looks to be an issue for docker compose, not docker. Can you

- report this in the docker compose issue tracker (https://github.com/docker/compose/issues) instead?
- when reporting, try to reduce your docker-compose.yml to the absolute minimum; it's possible there's a fault in your docker-compose.yml format
- be sure to include version information (both of docker-compose, and `docker version`

[2016-10-29 08:27] #27589 closed

[2016-10-29 08:34] thaJeztah commented on #27742
Can you try if you're still able to reproduce this on docker 1.12.3?

[2016-10-29 08:41] thaJeztah commented on #27789
Yes, looks like this was resolved, but didn't find its way into 1.12.2/1.12.3. This will be fixed in the next (1.13) release.

I'll close this issue, because this is already fixed, but thanks for reporting @feedthefire !

[2016-10-29 08:41] #27789 closed

[2016-10-29 08:46] WeiZhang555 commented on #27876
@thaJeztah Yep, I'll file a PR later :)

[2016-10-29 09:01] thaJeztah commented on #27876
Thank you!

[2016-10-29 10:19] bachp commented on #19647
@dmcgowan Do you have a link to where this is discussed by upstream overlayfs maintainers? I'm only aware of the conversation that was linked above.

[2016-10-29 10:21] ceecko opened #27880 "Cannot connect to container when dockerd is stopped and live-restore is enabled"
When using `live-restore` and dockerd is stopped, connection to containers through a port is refused.

**Steps to reproduce the issue:**
1. Enable `live-restore` in the config
2. `docker run --name nginx -d -p 8080:80 nginx`
3. `curl localhost:8080` works
4. `systemctl stop docker`
5. `curl localhost:8080` returns `Connection refused`

**Describe the results you received:**
curl returns `Connectio

[2016-10-29 10:21] SimenB commented on #9198
Any news here?

[2016-10-29 10:29] ceecko commented on #27381
Here's more info from the logs re 1 container which could not be removed:

[code]

[2016-10-29 11:16] justincormack commented on #19647
@dmcgowan  this seems to be resolved in recent kernels as far as I can tell, certainly cannot repro on Docker for Mac (overlay2, Linux 4.4.27).

[2016-10-29 14:01] clkao commented on #27875
i didn't get a chance to get console output from ec2.  Will do if I get to reproduce this again.

[2016-10-29 14:38] Richard-Mathie commented on #24649
Not with the latest build (1.13.0 dev) of docker. I believe....

[2016-10-29 15:14] milindchawre commented on #25363
@thaJeztah @ripcurld00d @usultrared
Docker load without arguments means that docker is waiting for input from stdin.
So can't we check for empty stdin and prompt error message that "No stdin to docker load command".
It should be possible right.

[2016-10-29 16:40] JamieCressey commented on #24569
+1 for Swarm mode

[2016-10-29 17:11] thaJeztah commented on #9198
Yes, this was implemented in https://github.com/docker/docker/pull/9707, which is in Docker 1.5 and up, so this can be closed

[2016-10-29 17:11] #9198 closed

[2016-10-29 17:21] aboch commented on #27880
@ceecko This is a known limitation when daemon is started with userland-proxy enabled (which is the default). When the daemon goes down, so does the userland proxy and connections to the container's published ports won't be possible.

As the live-restore use-case is for updating the daemon and not meant to allow containers running for long time without the daemon, we considered this an acceptable

[2016-10-29 20:54] kcris opened #27882 "--link does not work in docker 1.12"
Steps to reproduce

docker run -p 9200:9200 -p 9300:9300 --name es elasticsearch:2.2.2
docker run --name kibana-4.4 --link es:elasticsearch -p 5601:5601 -d kibana:4.4

Results
Second container is not linked with first one.
There is no new entry in /etc/hosts in second container.

Expected results:
New host should be added in second container (pointing to first one).

ps: it works in docker 1.11.2

[2016-10-29 21:55] withinboredom commented on #20486
@aboch I these containers were in multiple bridge networks. Didn't think about that in my original report. Thanks for fixing this! You guys are awesome!

[2016-10-29 22:54] VincentRichard555 commented on #17846
@genggjh Thanks this fixed it for me.

Doing:

[code]

[2016-10-29 22:54] mystictales commented on #5618
still happened. docker 1.12.2, armbian linux kernel 4.8.4, ipv6.disable=1 in bootargs

[2016-10-29 23:25] thaJeztah commented on #27760
@cpuguy83 @tonistiigi is this resolve by https://github.com/docker/docker/pull/27763?

[2016-10-29 23:28] thaJeztah commented on #27780
ping @mlaventure PTAL!

[2016-10-29 23:29] thaJeztah commented on #27517
ping @vieux are you working on this?

[2016-10-29 23:34] thaJeztah commented on #27734
is everyone on this issue running boot2docker / VirtualBox?

[2016-10-30 00:22] thaJeztah commented on #27750
@pbdeuchler official packages are hosted on http://yum.dockerproject.org, instructions can be found at https://docs.docker.com/engine/installation/linux/centos/

[2016-10-30 00:27] thaJeztah commented on #26251
@aboch should this be added to the 1.13 milestone?

[2016-10-30 01:28] aboch commented on #27882
What specific 1.12.x version are you running ?

It seems to work fine in 1.12.2:

[code]

[2016-10-30 01:50] jhowardmsft commented on #27545
Fixed in https://github.com/docker/docker/pull/27884.

[2016-10-30 02:08] izzyleung opened #27885 "Localhost refuse to connect (Simplest Flask site)"
**Description**

I am new to Docker, and this is my first time trying Docker using the tutorial from https://prakhar.me/docker-curriculum/
I tried to create a simple Flask website, and run it inside a Docker container.
All the code can be found at [here](https://gist.github.com/izzyleung/52ff04accf76bdee8388277a1f215b04)

**Steps to reproduce the issue:**
1. First, I tried to build the image by us

[2016-10-30 03:25] thaJeztah commented on #27885
It looks like the Homebrew script may be out of date, because the current version is 1.12.3, not 1.12.1. To get the current version, check the official installation here; https://docs.docker.com/docker-for-mac/

For your issue; keep in mind that the GitHub issue tracker is not a support forum, but for reporting bugs and feature requests. The tutorial you're following is not written by us, so it's

[2016-10-30 04:18] arekt commented on #24515
https://github.com/vasi/squashfuse ??

[2016-10-30 06:08] thaJeztah commented on #27808
It looks like you're running the CoreOS fork of docker; https://github.com/coreos/docker/commit/7a86f89. Can you report this in the CoreOS issue tracker, because we cannot provide support for those builds here (that code is not in the official 1.12.1 codebase; https://github.com/docker/docker/commit/23cf638307f030cd8d48c9efc21feec18a6f88f8 )

[2016-10-30 06:08] #27808 closed

[2016-10-30 06:15] Forestsoft-de commented on #15948
The Problem still persist:

`root@vagrant:/vagrant/docker# docker-compose down
Stopping docker_web_1 ... done
Stopping docker_mysql_1 ... done
Stopping docker_redis_1 ... done
Stopping docker_backstop_1 ... done
Removing docker_web_1 ... done
Removing docker_mysql_1 ... done
Removing docker_redis_1 ... done
Removing docker_backstop_1 ... done
Removing network docker_default
root@vagrant:/vagrant/d

[2016-10-30 06:45] thaJeztah commented on #15948
@Forestsoft-de what distro are you running on? Do you have firewalld enabled, and was it (re)started after docker was started? If so, then it's likely that firewalld wiped docker's IPTables rules. Restarting the docker daemon should re-create those rules.

[2016-10-30 06:55] #27885 closed

[2016-10-30 07:02] Forestsoft-de commented on #15948
Hey @thaJeztah

root@vagrant:/vagrant/docker# uname -a
Linux vagrant 3.19.0-25-generic #26~14.04.1-Ubuntu SMP Fri Jul 24 21:16:20 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

Thx for the tip. But why happens this if i run docker-compose down ? :)

[2016-10-30 07:08] thaJeztah commented on #15948
@Forestsoft-de looks like the error is shown on `docker-compose up`, which creates a network, and exposes/publishes container ports. If the `DOCKER` chain is missing at that point, the error occurs.

If you think it's not related to `firewalld`, please open a new issue

[2016-10-30 07:32] thaJeztah commented on #27792
/cc @cpuguy83

[2016-10-30 07:34] thaJeztah commented on #27585
can you reopen this in the docker-compose issue tracker? https://github.com/docker/compose/issues

That's way it'll get the attention of the docker compose team (and if there's a bug, it can be resolved there)

I'll close the issue in this issue tracker, but thanks for reporting!

[2016-10-30 07:34] #27585 closed

[2016-10-30 07:37] thaJeztah commented on #27597
ping @boucher @crosbymichael PTAL

[2016-10-30 07:45] izzyleung commented on #27885
@thaJeztah

Thank you so much for replying.
However, I have to apologize for asking for help here instead of posting bug information, because I am not quite sure about where to ask for help. So I closed this issue in order not to disturb the collaborators of this repo.

I have uninstalled the Docker installed by brew cask, and reinstalled it using the package downloaded from the official site. How

[2016-10-30 07:46] thaJeztah commented on #27498
closing because we need more info to help you further

[2016-10-30 07:46] #27498 closed

[2016-10-30 07:46] thaJeztah commented on #27260
ping @FrenchBen

[2016-10-30 07:48] thaJeztah commented on #27256
closing, because we were not able to reproduce, and need more information (as requested), but happy to reopen once provided

[2016-10-30 07:48] #27256 closed

[2016-10-30 07:50] thaJeztah commented on #27130
ping @cpuguy83 ^^

[2016-10-30 07:56] thaJeztah commented on #26942
closing because we need more information, but happy to open once provided

[2016-10-30 07:56] #26942 closed

[2016-10-30 08:02] thaJeztah commented on #24985
ping @paralin is this still an issue, or OK to close?

[2016-10-30 08:03] thaJeztah commented on #24054
closing, because no more information was provided

[2016-10-30 08:03] #24054 closed

[2016-10-30 08:04] thaJeztah commented on #23774
@chromerobv is this still an issue for you, or is it okay to close?

[2016-10-30 08:05] thaJeztah commented on #23765
ping @inercia ^^

[2016-10-30 08:13] thaJeztah commented on #14490
@hhorak docker 1.13 will add support for `--env` on `docker exec` (see https://github.com/docker/docker/pull/24594), and also sets `$PATH` and `$TERM` is `docker exec` is started with `-t` (see https://github.com/docker/docker/pull/26461)

Does this address your use case? (So, can this issue be closed?)

[2016-10-30 08:20] thaJeztah commented on #27885
That's strange; I wonder if the link is not updated to the latest version; can you try selecting "check for updates" from the "whale" menu?

When running docker toolbox (however, I'd recommend using Docker for Mac instead), you don't connect to `localhost`, but the IP-address of the VM (usually 192.168.99.100)

Does the browser not work when opening localhost:8080, or does it work with my example,

[2016-10-30 09:06] oryband commented on #15341
@kathiedart suprisingly this solved my problem! i executed `modprobe veth` , restarted the docker service, and it worked! thanks

[2016-10-30 09:42] ceecko commented on #27880
@abcoh Thanks. I didn't know about the userland-proxy. I'd love to disable it but it seems it would only break things 😞 see https://github.com/docker/docker/issues/14856#issuecomment-238925313

[2016-10-30 09:46] dmp42 commented on #27877
@sergeyzwezdin you have HTML in the error message. The registry never does that. So clearly there is something between your docker engine and your registry (eg: an http proxy), and that something does not support one of the methods (probably PATCH).

Can you elaborate on exactly how you set this up? Using nginx? or HA?

[2016-10-30 09:58] dmp42 commented on #27354
At this point this is the only way to guarantee that your build is reproducible. If you break that, then your images are no longer portable or guaranteed to work in other people environments.

Yes, for now naming and transport are bound together.
It's the same situation with other packaging systems that enforce a unique namespace btw.

RedHat `--add-registry` is a poor solution that breaks that fu

[2016-10-30 09:59] dmp42 commented on #27354
@rodlogic if you move a node, or golang package from one place to another, you have to change your source code (or package.json file) to reflect that, right?

[2016-10-30 10:01] dmp42 commented on #27736
Yes.

Don't:

`docker push hub.docker.com/fustbariclation/blue:latest`

Do:

`docker push fustbariclation/blue:latest`

[2016-10-30 11:14] deitch opened #27886 "created loop devices do not appear in container even when run privileged"
**Description**

Mounting a loopback device in a container requires `CAP=SYS_ADMIN` or even better `--privileged`. However, the `/dev/loop*` do not appear in the container when created dynamically.

This is particularly a problem when manipulating disk `.img` files inside a container.

I am using `ubuntu:16.04` as a base to reproduce, but this should be the same with any base.

**Steps to reproduc

[2016-10-30 12:29] jkubrynski commented on #27354
@dmp42 Image is the same, but environments are separated. To be honest I don't know any other system where you use DNS to find packages. Maybe RedHat's solution is poor, but it's the only one I know which allows you to use Docker on Enterprise scale. Please take a look at RPM or Maven packaging. They are widely used for years and there are no problems you're talking about. And there is totally no

[2016-10-30 12:36] boucher commented on #27597
I'll take a look. ping @avagin as well

[2016-10-30 12:52] izzyleung commented on #27885
First, when I use the option "Check for Updates..." in the menu icon, docker says my version is currently the newest version available, humm, that's really weird.

Second, I do mean that your example works on my computer, while my example code does not work.
To be clear, when I run the command `docker run -d -p 8080:80 nginx:alpine` or just `docker run -d -p 80:80 --name webserver nginx` (example

[2016-10-30 13:07] dsheets commented on #27635
@mschwartz are you using Docker for Mac? Could you run :whale: :arrow_right: `Diagnose & Feedback...` :arrow_right: `Diagnose & Upload` and then past the resulting diagnostic ID back here? Also, it would be fantastic if you could note the time of the failure event and provide that with a diagnostic ID from soon after the event.

[2016-10-30 13:18] dsheets commented on #27832
I believe this is the same issue as docker/for-mac#681 which has the same essential cause as docker/for-mac#148. Unfortunately, due to the way file system event listening is connected into containers, file system events will not be delivered after automatic container restart, as a result of running a Docker service with a local bind mount, or via a local Docker volume. We are aware that this is a

[2016-10-30 13:36] valtoni commented on #13914
Same trouble here. I'm running docker version 1.12.3 build 6b644ec.
Trying to run couchbase:
`docker run -d --name db -p 8091 -p 11210:11210 couchbase`
Without --net=host option cannot access docker host:
`docker run --net=host -d --name db -p 8091 -p 11210:11210 couchbase`

Do not have any special configurations and nat table is empty.

[2016-10-30 14:52] mschwartz commented on #27635
@dsheets I ran diagnose & feedback & upload last night.

I've also tried to not use volumes mapped to the host file system, with somewhat better results.

mysql instance importing about 5M records took a while and is still running overnight.

I think it is also 2x faster to do the same import of data than mapping /var/run/mysql to the host fs.

[2016-10-30 15:07] dsheets commented on #27635
What is your diagnostic ID, please?

[2016-10-30 15:19] cpuguy83 commented on #25363
It might be possible to detect if stdin is a terminal (ie, no stdin) vs something else.

[2016-10-30 15:20] cpuguy83 commented on #25363
Actually, I believe the CLI object supports this, something like `cli.IsTerminalin()` if someone wants to make a PR to error out faster.

But should test this to make sure it actually works in such cases.

[2016-10-30 15:25] hsyed commented on #13555
This problem does not seem to be getting the attention it deserves..... When this fails servers don't come up...

[2016-10-30 15:33] sergeyzwezdin commented on #27877
@dmp42 There is IIS ARR + CloudFront in between. You think this is cause of issue?

What about "Retrying in X seconds"?

[2016-10-30 16:04] BretFisher commented on #27811
Changing tag. The global service will create fine with constraints in place, but when running update, it won't actually change the image to the new tag. If constraints aren't used with initial create, it works as expected.

[2016-10-30 16:17] ripcurld00d commented on #25363
I would like to work on it unless there is someone else who wants to try.

[2016-10-30 17:20] viveky4d4v opened #27887 "Cannot create container for service nc: Unable to find a node that satisfies the following conditions"
Docker machine setup -

    $ docker-machine ls
    NAME     ACTIVE      DRIVER    STATE     URL                        SWARM          DOCKER    ERRORS
    consul   -           generic   Running   tcp://192.168.99.94:2376                  v1.12.2
    sm1      -           generic   Running   tcp://192.168.99.91:2376   sm5 (master)   v1.12.2
    sm2      -           generic   Running   tcp://192.168

[2016-10-30 17:37] mschwartz commented on #27635
How do I find it? There was a crash dialog that I filled out.
On Sun, Oct 30, 2016 at 8:08 AM David Sheets <notifications@github.com>
wrote:

[2016-10-30 17:58] ripcurld00d commented on #25363
#dibs
I would like to give it a try...

[2016-10-30 18:32] nirvana-msu commented on #27734
I'm not running `boot2docker`. I was trying to reproduce a simple example with `phusion/baseimage` - third video from this [vagrant docker provider demo](https://www.hashicorp.com/blog/feature-preview-vagrant-1-6-docker-dev-environments.html). I don't think it matters at all - I was getting occasional `connection reset by peer` errors even when pulling `phusion/baseimage` image. It really seems to

[2016-10-30 18:46] dmp42 commented on #27877
Docker does retry when it encounters certain failures, but in this case, it's not going to help.

Your proxy (IIS and/or CloudFlare) simply does not allow certain http verbs, and it must. (message is pretty clear: `The request verb is invalid`)

It's easy to confirm: just try the same operation directly against your registry server, bypassing your proxies.

Bottom-line: you need to reconfigure IIS

[2016-10-30 18:59] kcris commented on #27882
docker --version
1.11.2, build b9f10c9

running on ubuntu 16.04

[2016-10-30 19:03] dmp42 commented on #27354
Thanks for the feedback @jkubrynski

There are several examples of package managers that binds dependencies to their "location" (npm packages and golang imports come to mind). Furthermore, docker distribution mechanism supports mirroring (allowing you to fetch images from a local cache instead of from the hub).

This is not to discard your concerns, just to highlight that this is not something unu

[2016-10-30 20:01] thaJeztah commented on #27811
/cc @aaronlehmann

[2016-10-30 20:09] thaJeztah commented on #27885
Okay, I should check why 1.12.3 is not downloaded as the latest version, perhaps it's only on the beta channel :sweat_smile:

w.r.t. Your Flask site; make sure that it's actually listening on 0.0.0.0:5000, and not just on 127.0.0.1:5000. I don't have experience with Flask, but I know it's been something that people ran into with other systems. (127.0.0.1 / localhost inside a container is the local

[2016-10-30 20:15] thaJeztah commented on #13555
@hsyed the installation script now uses three alternative servers, the first of which is already a pool of servers https://github.com/docker/docker/blob/v1.12.3/hack/install.sh#L31-L35. Do you have any suggestions what further improvements can be made if all of those fail?

[2016-10-30 20:16] thaJeztah commented on #27597
Thanks!

[2016-10-30 20:34] thaJeztah commented on #13914
@valtoni please open a new issue with at least the output of `docker version` and `docker info`, and the exact steps to reproduce (including how you're trying to connect). I'm not sure there's a bug though,  more likely a configuration issue.

[2016-10-30 20:36] thaJeztah commented on #27736
Oh, gee, I should learn to read. Thanks @dmp42

I'll close this issue as this is not a bug but I think the above should help you get your issue sorted

[2016-10-30 20:36] #27736 closed

[2016-10-30 20:59] micdenny commented on #26873
I had the same problem, I resolved by simply take the ownership of the folder, then add myself with full control and flag to do the same on all the child with inheritance enabled. Then I simply deleted the folder as usual.

[2016-10-30 21:02] thaJeztah commented on #27882
Let me go ahead and close this issue then. Thanks @kcris

[2016-10-30 21:02] #27882 closed

[2016-10-30 21:05] thaJeztah commented on #27832
Thanks for looking @dsheets

@frodopwns I'll go ahead and close this issue, as this is already tracked through https://github.com/docker/for-mac/issues/681, and because  this issue is specific to docker for Mac, it's better to track over there.

Thanks for reporting!

[2016-10-30 21:05] #27832 closed

[2016-10-30 21:21] mostolog commented on #27836
@thaJeztah totally agree.

[2016-10-30 21:21] #27836 closed

[2016-10-30 21:42] jkubrynski commented on #27354
The images are the same. The problem is that due to compliance reasons stage and production must be totally isolated - that means no shared runtime dependencies. So we need two separate docker registries - one for stage and second for production. For maven it's simple - you just install artifact into both repositories. For Docker it's impossible, because `FROM` statement in Dockerfile must include

[2016-10-30 21:47] thaJeztah commented on #27886
/cc @cpuguy83

[2016-10-30 21:48] thaJeztah commented on #27836
Thanks @mostolog

[2016-10-30 21:56] thaJeztah commented on #27887
It looks like you're running"Swarm" (https://github.com/docker/swarm) not the "Swarm mode" / services introduced in Docker 1.12 (https://docs.docker.com/engine/swarm/).

If you want to use "classic" Swarm, could you report this in https://github.com/docker/swarm, or open a topic on the forums instead? https://forums.docker.com ?

Note that docker-compose does not (yet) support Swarm mode

[2016-10-30 21:56] #27887 closed

[2016-10-30 22:18] virtuman commented on #26235
yes, confirmed.
with firewalld disabled everything seems to work ok

Comment from @outofcoffee was spot on. it didnt' do the trick for me but it got me looking in the direction of firewalld zones and what i found was the following:

1. needed to assign proper interfaces to appropriate zones:
  1. trusted (active)  interfaces: docker0 docker_gwbridge eth1
  2. public (active) interfaces: eth0
2. ha

[2016-10-30 22:43] justincormack commented on #27886
This works ok if you do `docker run -v /dev:/dev --privileged ...`. Otherwise nothing is creating the new device nodes in the container, as the device nodes are created by one of the hotplug mechanisms on the host (usually). You can create them yourself with `mknod` and it will work.

(You might also be able to mount `devtmpfs` in the container, which is one way to get device population).

[2016-10-30 23:10] viveky4d4v commented on #27887
Thanks for the redirection , created new issue

https://github.com/docker/swarm/issues/2536

[2016-10-30 23:17] thaJeztah commented on #27887
@viveky4d4v I'd recommend having a look at Swarm mode as well; most new development takes place in Swarm Mode (SwarmKit), so if you're new to Swarm, it's probably better to invest time into that

[2016-10-30 23:26] erikh commented on #21651
I'll phrase my question another way: if I added a way to directly import the UID/GID information from the tarfile, what would be the disadvantage?

[2016-10-31 00:29] sergeyzwezdin commented on #27877
@dmp42 I understood the problem. There was http proxy enabled at CloudFlare, which doesn't allow to upload more than 100Mb for free accounts. Therefore it returns HTTP 400 and image pushing fails.
I disabled HTTP proxy and now it works good.
Thank you for your assistance 👍

[2016-10-31 00:29] #27877 closed

[2016-10-31 00:55] skoch123 commented on #27823
When I run `docker info` by cron, I get same output information:
<pre>
Insecure Registries:
 hub:5000
 127.0.0.0/8
</pre>

[2016-10-31 01:35] shaloulcy opened #27890 "How to customize the subnet of docker_gwbridge"
In the swarm mode, there is a bridge named docker_gwbridge which provides the access to outside networks.  It gets the default subnet 172.18.0.0/16. So it add a route 172.18.0.0 which conflicts the existing routes. So how can I customize the subnet of docker_gwbridge?

[2016-10-31 01:36] thaJeztah commented on #27823
so, it looks like the setting is correctly picked up; i suspect there's something wrong in your setup. Do you use authentication for your registry? The cron job may not be logged in.

[2016-10-31 01:50] jixuege commented on #27861
hello，dockinfo  MES：
[root@jycloud ~]# docker info
Containers: 7
 Running: 0
 Paused: 0
 Stopped: 7
Images: 2
Server Version: 1.12.3-rc1
Storage Driver: devicemapper
 Pool Name: docker-8:16-134217866-pool
 Pool Blocksize: 65.54 kB
 Base Device Size: 10.74 GB
 Backing Filesystem: xfs
 Data file: /dev/loop4
 Metadata file: /dev/loop5
 Data Space Used: 63.44 MB
 Data Space Total: 107.4 GB
 Data Space

[2016-10-31 02:14] coryleeio commented on #27796
sure, thanks =]

[2016-10-31 02:22] duyanghao commented on #22225
Another question:
why there is no introduction of `config.Image` field in the document:
https://github.com/aaronlehmann/docker/blob/updated-image-spec/image/spec/v1.1.md
is it means parent imageID in docker 1.10+?
And what about other fields(`ContainerConfig`,`Size`,`VirtualSize` and etc) that do not appear in the above document?

docker 1.11.0
[code]

[2016-10-31 03:10] GanLuo96214 commented on #27197
I want the files or dir belong who unzip him.

**now:**

    #whoami
    root
    #ls -l

| 0777 | I don't know this | owner | group | size | date | file
|------|------------------|-------|-------|-----|------|----|
| -rw-r--r-- | 1 | root | root | 22746881 | Oct 30 21:09  | node-v4.6.0.tar.gz |

   #tar -xzf node-v4.6.0.tar.gz
   #ls -l

| 0777 | I don't know this | owner | group | size | date |

[2016-10-31 03:40] GanLuo96214 commented on #27197
ping @thaJeztah Xp

[2016-10-31 04:12] AkihiroSuda commented on #27866
https://jenkins.dockerproject.org/job/Docker%20Master%20(arm)/3558/console seems hitting this.

But AFAIK no test other than `TestPruneNetwork` creates a network named `"n4"`...

(bundle: https://jenkins.dockerproject.org/job/Docker%20Master%20(arm)/3571/)
[code]

Maybe the error string `"error: network with name n4 already exists"` is wrong, but not sure yet.
Trying to reproduce..

[2016-10-31 04:45] AkihiroSuda commented on #27861
I guess you are hitting this limitation
https://www.kernel.org/doc/Documentation/filesystems/ramfs-rootfs-initramfs.txt

Can you configure the system to use initrd instead of rootfs?

[2016-10-31 05:04] mschwartz commented on #27635
@dsheets

![image](https://cloud.githubusercontent.com/assets/329637/19844700/9888093a-9eec-11e6-83e4-952aa8946d91.png)

All 3 containers in my docker-compose up setup just quit on their own.

![image](https://cloud.githubusercontent.com/assets/329637/19844724/dc99e558-9eec-11e6-994c-b316ac67d889.png)

[2016-10-31 05:10] aboch commented on #27890
@shaloulcy
You need to create it manually before joining the cluster
Leave the swarm, remove the docker gw network, manually create it passing your configuration then init/join the cluster.

[2016-10-31 05:13] AkihiroSuda commented on #27861
Or another workaround is to install VirtualBox, KVM, or VMware onto your PXE env, and use [Docker Machine](https://github.com/docker/machine)

[2016-10-31 05:17] deitch commented on #27886
I thought about that, but was concerned about odd side effects

That is exactly what I worked around. Since I am using `losetup ... --show`, I know the "parent" loop device, so I can do `lsblk <parent>`, can find the "children", and then `if [[ ! -e $CHILD ]]; then mknod...`. But it definitely is a tacky workaround.

Indeed, that is the crux of the problem. It all is event driven, is it not? Until

[2016-10-31 05:19] deitch commented on #27886
FYI, same problems occur if you use `kpartx` which, instead of building devices in `/dev/loopXpY` uses `/dev/mapper/loopXpY`, which is of course a symlink to `/dev/dm-Z`.

Actually, try doing this like LVM volume mounting, or `cryptsetup`, same device mapper problem. And bind-mounting `/dev/mapper/` won't work, because those are just symlinks up to `/dev/dm-Z` devices (usually).

You are right: ho

[2016-10-31 06:05] skoch123 commented on #27823
I don't use authentication for registry. When I running `if [ -f /opt/image ]; then rm /opt/image && docker pull hub:5000/image; fi;` from CLI - all works.

[2016-10-31 06:32] viveky4d4v commented on #27887
@thaJeztah

Docker version 1.12.2, build bb80604

I read this [https://docs.docker.com/compose/bundles/] earlier where compose can be deployed when docker engine is running in swarm mode .But i went by this [https://docs.docker.com/compose/swarm/] doc which suggests that compose can be integrated with swarm .

So i deployed swarm cluster in in multi host overlay network using KV store & docker mac

[2016-10-31 06:36] shaloulcy commented on #27890
Thanks!!!

[2016-10-31 07:00] jadametz commented on #22750
Seeing the same. Spent most of last Friday in the Docker community Slack trying to get some answers on this. This is a very real issue blocking my organization from efficiently building Docker images. Please let me know what information I can provide to help.

[2016-10-31 07:01] jadametz commented on #9755
Seeing the same. Spent most of last Friday in the Docker community Slack trying to get some answers on this. This is a very real issue blocking my organization from efficiently building Docker images. Please let me know what information I can provide to help.

[2016-10-31 07:24] darkrasid opened #27891 "Swarm mode doesn't consider health:start status while updating from docker engine 1.12.3 version."
Hi. I have problem using healthcheck with swarm mode.
This is may similar to #23962.

I make docker service from some_image:v1(this image has a healthcheck.) and scale out to 4.
And I update it like this.
[code]

And the result like this
[code]

As I understand from HEALTHCHECK when I try to access myip:8080, docker swarm should send my request to healthy container not to health:starting container

[2016-10-31 07:30] gmistick commented on #9755
0. Are you restarting containers a lot?
1. Docker ps -a -s will tell you size of each container.  Make sure its not
the containers that eat up your space.
2. I moved to.overlayfs2 as it was old recommendation from the above
comments.

On Oct 31, 2016 09:03, "Jesse Adametz" <notifications@github.com> wrote:

[2016-10-31 07:36] gamma opened #27892 "Memory limit not respected on windows server"
Docker on Windows Server 2016 seems to not respect the memory constraint. See the following output for reference.

    [gamma@gw2] (w10-fileserver) inetsoftware $ docker info
    Containers: 4
     Running: 2
     Paused: 0
     Stopped: 2
    Images: 98
    Server Version: 1.12.2-cs2-ws-beta
    Storage Driver: windowsfilter
     Windows:
    Logging Driver: json-file
    Plugins:
     Volume: lo

[2016-10-31 07:58] allencloud opened #27893 "[Question] thousands of socket file in path /var/lib/docker/network/files"
#**Description**

I found that in my testing environment, there are thousands of socket file in path /var/lib/docker/network/files. I know it is related to network. However I do not have so many networks. Is there any some resource recycle issues?

I was wondering what is the usage of these file.

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**
[code]

I found **

[2016-10-31 08:25] AkihiroSuda commented on #27866
Reproduced during `BUILDFLAGS="-race" TESTFLAGS='-check.f TestPrune -test.count 100' make test-integration-cli`, on Ubuntu 16.10, kernel 4.8.0-26-generic, x86_64

So the test failure is
* Not related to any other test
* Not related to arm nor ppc64le

Looking at the log ([mine](https://github.com/docker/docker/files/561329/docker.log.txt) and @tophj-ibm 's https://github.com/docker/docker/issues/2

[2016-10-31 08:30] oliversalzburg commented on #25973
@cpuguy83 Could you point me to the installer sources? I'm having a hard time finding them in the repo. I'd love to start a PR for this.

[2016-10-31 08:55] justincormack commented on #27893
What does `docker network ls` show?

[2016-10-31 09:13] deitch commented on #27886
Yeah, I know, there really is no easy answer.

I am building disk images in a container. I used to do it with packer, but that was a pain: booting a VM, no layers for minor changes, very slow, uploads, full OS install, etc.

Now I can create an image, install all of my prerequisites (like any build env), then I use `dd if=/dev/zero of=somefile.img bs=...` to make an image file (the directory for t

[2016-10-31 09:25] AkihiroSuda commented on #27866
Anyway, I'll try to open PR that allows to create a network of which name is the prefix of the ID of the `ingress`.

PTAL for why `swarmkit/identity.NewID` is likely to generate "n4..." : @aaronlehmann @stevvooe

[2016-10-31 09:27] allencloud commented on #27893
Update in the issue description. PTAL. normal display, I think.

[2016-10-31 09:30] justincormack commented on #27886
Yes, it is definitely a common use case that needs better tooling.

Doing the `--privileged` thing (or the right capabilties) is certainly the easiest route. It assumes that your Docker host has the right modules though, as effectively you are outsourcing part of your code to the kernel.

The longer term solution to this is probably `lkl` https://github.com/lkl/linux which lets you use Linux code

[2016-10-31 09:40] vehovmar commented on #27734
Having same issue VirtualBox 5.1.8, boot2docker 1.12.3

[2016-10-31 09:44] guenhter opened #27896 "Docker Swarm service can't be started on one node and than is not reachable at all even if it is started on another node"
**Description**
In my docker swarm (nodeA, nodeB, nodeC) I restarted a service-container on nodeB with
`docker restart logstash.1......`
After that (at least it seemed to be after that action) another service on the same node (kibana) wasn't reachable any more (was up for 2 days without any problems).
The container was still running, but it was not longer reachable via `http`.

I just removed the

[2016-10-31 09:58] guenhter opened #27897 "Docker swarm LoadBalancer not working (after a while)"
**Description**
We already use DockerSwarm in a part of our production environment to see how it is working (because in test environment everything is always green).
I noticed that there seems to be a problem with the load balancing after a while (or after certain actions). After this happens, the service cant be reached from every node, but only from that one, where it is actually running on.

**

[2016-10-31 10:09] deitch commented on #27886
And thus by definition losing the whole portability of the build. But I don't have a much better solution right now.

Thanks for the reference, just checked it out. Yes. I really should be able to mount a block device in a directory personally mountable to me (e.g. `$HOME/mnt/`) working entirely in userspace. I get that there are kernel impacts, so perhaps a full mount might not work, but I certai

[2016-10-31 10:13] cons0l3 opened #27899 "Put "C:\ProgramData\Docker" on a different drive? Configuration option?"
With the new windows containers, I started playing around. The windowsservercore docker image is large and filled up my C: drive completly. (no getting a larger disk is not an option).

Where can I configure Docker to put all the ProgramData\Docker stuff? Can I move the ProgramData\Docker to a different disk?

**Description**
I am experimenting with the docker windows container services and have s

[2016-10-31 10:18] justincormack commented on #27893
Is there anything in your logs? Is the number increasing? The log with `--debug` on the daemon might also help, if there are errors logged there, but they may be in the standard logs (it looks like failure to clean up perhaps).

[2016-10-31 10:20] justincormack commented on #27892
The memory reported may not be the same as the memory available, can you try allocating more memory than you asked for and see if it fails, as this is not a VM container so the reporting is probably for the host.

[2016-10-31 10:20] guenhter commented on #27896
I notices something today:

I have two create commands:
[code]

[code]

The first executed statement is always successful (regardless which statement is execute first) and  the other fails with the error described in the ticket above.

[2016-10-31 10:21] justincormack commented on #27890
@aboch is this documented?

[2016-10-31 10:29] gamma commented on #27892
That is actually the problem we're facing: a java/gradle process reports that it has more memory then should be available due to the docker configuration. To be exact:

  * We have a 32GB RAM Win Server Host
  * The container has a 4GB RAM limit
  * Java/Gradle report 8GB available memory for allocation ( by default 1/4 of the reported available memory)
  * When Java reaches this limit due to allo

[2016-10-31 10:30] justincormack commented on #27886
Ah and I forgot about `libguestfs`, which already uses qemu to do this for you http://libguestfs.org/

They are looking at using `lkl` see https://rwmj.wordpress.com/2015/11/07/linux-kernel-library-backend-for-libguestfs/ as it is faster, but it looks like it might be sufficient for most use cases already.

[2016-10-31 10:37] rs38 commented on #27672
can confirm it now works!!

[2016-10-31 10:40] deitch commented on #27886
That _is_ interesting. C lib and/or CLI for mounting anything from userspace, by launching a tightly controlled VM using qemu (why does macOS always try to auto-correct "qemu" to "emu"? "gnu" is an animal, not "qemu"!). I still feel like I shouldn't *have* to go the VM route to get filesystem-in-a-partition-in-a-file access, but I get that I do for now.

[2016-10-31 10:40] 00angus commented on #27504
I'm starting to use zfs heavily but this is something keeping me from going into production!
@cpuguy83 _I absolutely need a way to map a container to its zfs volume_. Then I'll be able to manage everything else I need, indeed.
I need that info to build my own workflows.
- is it possible? Does someone can provide a links/hints/suggestions/scripts?
- if not possible, it would be needed IMHO

Thanks

[2016-10-31 10:46] dsheets commented on #27635
It looks like you've allocated 2GB of memory to Docker but your containers + the system services may be demanding more -- I see some system services logging `ENOMEM` errors. Have you tried increasing the amount of RAM available to Docker via 🐳 ➡️ `Preferences...` ➡️ `Memory` slider?

We are aware that out-of-memory conditions need to be handled more gracefully and understandably and are tracking s

[2016-10-31 10:47] kim0 commented on #27504
Glad someone else needs it .. i.e. I'm not crazy :)
Tagging @Mic92 @baloose .. Hoping someone can help

[2016-10-31 10:59] friism commented on #27899
Instead of trying to use a filesystem link, you can tell the Docker daemon to use a different drive for storage with the `-g` `dockerd.exe` commandline option:

      -g, --graph string                          Root of the Docker runtime (default "C:\\ProgramData\\docker")

If you want to move already downloaded images, the safest option is probably to `docker save` them, then change the daemon `-

[2016-10-31 11:09] friism commented on #27892
It seems that it does respect the memory constraint since you get OOM when trying to allocate more than 4GB. @jhowardmsft would know if this is different on Windows, but on Linux at least, containers generally see the full host memory allotment: https://fabiokung.com/2014/03/13/memory-inside-linux-containers/

Can you override the Gradle/Java heap size to avoid it allocating more than 4GB?

[2016-10-31 11:10] wemu commented on #19296
we encounter the same issue as well:

[code]

Happens on the CI server build agents, about once a day on the 6 build agents. What sometimes helps is to remove the containers, images and volumes. But not every time. Sometimes nothing has to be done - other builds will run normally, just one will not. So it seems to be related to a hanging image.

Docker Info:
[code]

[2016-10-31 11:15] milindchawre commented on #27798
#dibs

[2016-10-31 11:20] duyanghao commented on #22225
As far as i know,in docker 1.10+,there is no `parent` field in the image `configuration json`,so,why not store  `parent imageID`?

[2016-10-31 11:31] coolljt0725 opened #27900 "docker ps stuck due to dm_udev_wait stuck"
**Description**
Version: docker-1.9.1

After running for a few days, we found `docker ps` stuck, so I send `SIGUSR1` to daemon with
`kill -SIGUSR1 $(cat /var/run/docker.pid)` and got the goroutine stacks.
and obviously the `docker ps` was stuck on acquiring lock of container
[code]
There must be a go routine had sustain the lock of a container and we found this stack
[code]
There is a `docker insp

[2016-10-31 11:39] cons0l3 commented on #27899
@friism thanks, I am running "Docker for Windows" on Windows 10 V 1.12.3-beta29.2 (8280) channel: Beta, 902414d

Where do I find the dockerd.exe? I start docker by starting "Docker for Windows"-App. When in "windows container" mode, if I start "Settings..." from the context menu of the docker for windows icon in the systray, it tells me "There are not settings for Windows containers. Yet!"

Where

[2016-10-31 11:59] leth commented on #27626
Here's the [log output from systemd, including the goroutine dump from SIGUSR1](http://pastebin.com/CgBcB6Qn).

[2016-10-31 12:25] cpuguy83 commented on #27504
If you want to revert a container then you create a new one.
The image is the snapshot the container is created from.

Closing since this is not a real issue, but please feel free to continue to discuss.

[2016-10-31 12:25] #27504 closed

[2016-10-31 12:26] cpuguy83 commented on #25973
@friism would know best, but I don't think this is open source.

[2016-10-31 12:27] Mic92 commented on #27504
Volumes are not dedicated zfs volumes, which mean, you could only restore them as a whole:

[code]

`docker info` gives you the parent dataset. However `docker inspect` on the container currently does not return any useful information about the underlying zfs dataset. There is a method called `GetMetadata` at https://github.com/docker/docker/blob/master/daemon/graphdriver/zfs/zfs.go#L222, which co

[2016-10-31 12:32] Mic92 commented on #27504
The following should return the information you want on `docker inspect`:

[code]

[2016-10-31 12:32] cpuguy83 commented on #27130
@joelterry No, not part of the normal build process. We could probably do so as part of the nightly or something.

But I find it pretty strange you are hitting this so much.

[2016-10-31 12:38] ripcurld00d commented on #25363
@milindchawre sorry didn't see your pull request... :disappointed:

[2016-10-31 12:45] kim0 commented on #27504
@Mic92 .. Thanks for the patch! Would you be interested to upstream it please ?

[2016-10-31 12:47] kim0 commented on #27504
@Mic92 .. so what I understand from your comment, is that for every new docker container, a clone of the (large) dataset underlying /var/lib/docker is created and the container lives there. Is this correct ? May I ask, why was this the decision, i.e. why don't we create thinner clones of the docker image, that hold only the needed container. So, if I had 10 containers, zfs list would show 10 datas

[2016-10-31 12:53] jixuege commented on #27861
@AkihiroSuda
hello，this is PXE config ,we use initrd to start centos 7 system ,but always error
pxelinux.cfg/default
default auto
label auto
prompt 0
kernel  vmlinuz-3.10.0-327.36.3.el7.x86_64
append  initrd=w1.img.gz selinux=0 ip=dhcp rw nomodeset

this is our step to use initrd:
1、install system（centos 7）
2、 rsync /*  to  a  dir(for ex. /pxe)
3.chroot /pxe
4、find . |cpio -c -o >w1.img
5、gzip w1.

[2016-10-31 12:54] Mic92 commented on #27504
No, when I said parent dataset I meant the path, where docker datasets are created.
For example, if the dataset chosen for docker is `zroot/docker` mounted on `/var/lib/docker`,
then container will be created below: `zroot/docker/<id>`. The concrete implementation is described here: https://docs.docker.com/engine/userguide/storagedriver/zfs-driver/

[2016-10-31 12:57] cpuguy83 commented on #27897
ping @mrjana

[2016-10-31 13:01] cpuguy83 commented on #27896
Can you `docker inspect` the task ID and grab the full error message?

[2016-10-31 13:07] cpuguy83 commented on #22750
Likely what happened here is when you `docker rm -f` a container, if there is any error, the container will be cleaned up but the rootfs may still exist (most errors on `docker rm` are from rootfs removal).

- It would be good to understand why there would be such an error in your case
  -  this could be caused by leaking mounts between containers (ie, maybe /var/lib/docker is being mounted into a

[2016-10-31 13:09] viveky4d4v opened #27902 "docker compose "extra_hosts" alternative in docker engine swarm mode"
In docker compose file i was able to declare a domain & IP like below -

    extra_hosts:
      - "mshost:10.4.12.31"
      - "mongodb DEV-MONGODB:10.250.12.35"
I want to know the alternative to this while using command in docker engine swarm mode .

     "docker service create ...."

[2016-10-31 13:20] kim0 commented on #27504
@Mic92 .. Thanks a lot for clarifying things .. Now my main problem is that I cannot find a container's <id> as you said, in the location where it should be .. Here's a concrete example:
[code]

[2016-10-31 13:21] guenhter commented on #27896
[code]

Working Task:
[code]

One of the not working tasks:

[code]

[2016-10-31 13:24] cpuguy83 commented on #27896
No, please call `docker inspect` on the actual task ID, not the container id/name.

[2016-10-31 13:26] Mic92 commented on #27504
The datasets get different ids, that's why I added the patch above. I currently cannot build docker because of limited network, you can make the pull request above though.

[2016-10-31 13:31] guenhter commented on #27896
Sorry. Here the output:

good task
[code]

not so good task
[code]

[2016-10-31 13:36] rhvgoyal commented on #27900
@coolljt0725 check your logs and see if there is any instance of udev thread being killed due to OOM. We have noticed the instances of a udev thread being killed, that means udev rule never gets to call `dmsetup udevcomplete` and that means docker can hang.

Unfortunately, there does not seem to be a very good solution. If somebody runs into this, doing `dmsetup udevcomplete_all` or completing a s

[2016-10-31 13:40] boucher commented on #27597
Still looking, but just to keep this updated: the network seems to be intact. If you grab the direct IP address for a domain you can ping it / hit it with wget just fine. So the issue seems to be just dns resolution.

[2016-10-31 13:48] rhvgoyal commented on #27381
Following message suggests that directory removal failed.

`remove /var/lib/docker/containers/4d9bbd9b4da95f0ba1947055fa263a059ede9397bcf1456e6795f16e1a7f0543/shm: device or resource busy`

And in older kernel it can fail because directory is mounted on in some other mount namespace. If you disable `deferred deletion` feature, this message will stop coming. But it will become some other error mess

[2016-10-31 13:51] pacoxu commented on #25912
same issue with 'type=bind'

[root@localhost ~]# docker version
Client:
 Version:      1.12.2
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   bb80604
 Built:
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.2
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   bb80604
 Built:
 OS/Arch:      linux/amd64
[root@localhost ~]# docker service create --mount source=/foo,target=/bar

[2016-10-31 13:57] cpuguy83 commented on #25912
@pacoxu The source must exist.

[2016-10-31 13:58] pacoxu commented on #25912
BTW, according to https://github.com/docker/docker/pull/22373,
bind: Paths on the host that get mounted into the container. Paths must exist prior to creating the container.

@cpuguy83

Why not we create for the service?

For a cluster, you have to create the path in every node, which is quite inconvenient.

[2016-10-31 14:00] cpuguy83 commented on #25912
@pacoxu Because this is a broken expectation for docker to do for you.
If you want docker to create a path for you, then use a volume.

[2016-10-31 14:01] Snorch opened #27904 "tests from DockerSwarmSuite.* intermitently fail with "update out of sequence""
**Description**
Hi! I have a strange problem when running docker swarm tests in my Fedora 24. It reproduces in different swarm tests like DockerSwarmSuite.TestApiSwarmCAHash or DockerSwarmSuite.TestServiceUpdatePort.

**Steps to reproduce the issue:**
0. install docker-engine following https://docs.docker.com/engine/installation/linux/fedora/
1. git clone https://github.com/docker/docker.git --bra

[2016-10-31 14:02] pacoxu commented on #25912
@cpuguy83  thanks a lot for your explanation.  Got it.

[2016-10-31 14:13] justincormack commented on #27899
@cons0l3 sorry, can you open an issue for this in https://github.com/docker/for-win/issues as it is specific to Docker for Windows and there is an upstream solution in engine.

[2016-10-31 14:15] justincormack commented on #27892
Also it sounds like Java needs to know how to read the actual available memory, as applicable in a container, not the total system memory. @jhowardmsft is there an API they could use to read that?

[2016-10-31 14:23] gamma commented on #27892
I verified that Linux works in the same way, maybe we just never ran into this issue.

We do set the available memory to java now.

Anyway: if there was a mechanism to allow java to read the actual available memory we will open a. If Report with Oracle.

Do other programs have problems with memory allocation?

[2016-10-31 14:26] ceecko commented on #27381
I have tried four containers which are all dead and cannot be removed due to device being busy and got nothing :/

[code]

[2016-10-31 14:29] ceecko commented on #27381
Now I'm getting actually a slightly different error message:

[code]

[2016-10-31 14:32] rhvgoyal commented on #27381
Same thing. this directory can't be deleted because it is mounted on in some other mount namespace. Try to search in /proc/<pid>/mounts and grep for this id `527ae5` and see which pid is seeing this mount point. We need to figure out that in your setup why container rootfs mount point is leaking into other mount namespace.

[2016-10-31 14:43] ceecko commented on #27381
Here we go:

[code]

[2016-10-31 14:44] 00angus commented on #27504
@cpuguy83 : maybe I've expressed myself in a wrong way :)
AFAIK - but correct me please if I'm wrong - it is not possible to do the following:
 - given a running container, find the zfs filesystem/datased it's running on
    (the one I can match in a "zfs list")

This was the issue discussed on this thread.
Could it be implemented? Because I understand it's not yet available.

[2016-10-31 14:46] rhvgoyal commented on #27381
what processes these pids map to? Try `cat /proc/<pid>/comm` or `ps -eaf | grep <pid>`

[2016-10-31 14:50] ceecko commented on #27381
These are all nginx worker processes shutting down after a config reload (see edited comment above). I'm wondering why they block the mounts since the containers do not bind any volumes.

[2016-10-31 14:56] rhvgoyal commented on #27381
So nginx process is running in another container? Or it is running on host?

[2016-10-31 15:00] rhvgoyal commented on #27381
Can you do following.

- `ls -l /proc/<docker-daemon-pid>/ns/mnt`
- `ls -l /proc/<nginx-pid>/ns/mnt`
- Run a bash shell on host and run `ls -l /proc/$$/ns/mnt`

And paste output. here.

[2016-10-31 15:03] cons0l3 commented on #27899
sure, will do: issue [docker/for-win #185](https://github.com/docker/for-win/issues/185)

[2016-10-31 15:03] #27899 closed

[2016-10-31 15:04] ceecko commented on #27381
nginx runs on the host.

docker-pid
[code]

nginx-pid
[code]
[code]

[2016-10-31 15:08] frodopwns commented on #27832
@dsheets The `gulp` comment is relevant because its another event that breaks the file system events. My users want to use gulp in their projects so after the container they are using spins up and the volume is mounted they continue to work from the host using the directory that has been mounted in. If they cd to the mounted directory from outside the container and run `gulp` the file systems even

[2016-10-31 15:10] rhvgoyal commented on #27381
You docker-pid and host both seem to be sharing same mount namespace. And that means docker daemon is running in host mount namespace. And that probably means that nginx started at some point after container start and it seems to be running in its own mount namespace. And at that time mount points leaked into nginx mount namespace and that's preventing deletion of container.

Please make sure Moun

[2016-10-31 15:19] aboch commented on #27890
Not sure, need to check.

[2016-10-31 15:20] ceecko commented on #27381
You're right. This host didn't have the `MountFlags=slave` set up yet.
A different host did though and still there were dead containers. I removed them all manually though now, but they were created with `MountFlags=slave`.

I'll wait until the situation repeats and will post an update here. Thanks.

[2016-10-31 15:33] mlaventure commented on #27780
The panic is in `runc`, the issue would have to be opened in opencontainers/runc.

Can you confirm which version of `runc` you are running?

[2016-10-31 15:35] snie2012 commented on #6999
+1