[2015-07-21 11:21] bitsofinfo commented on #14793
fixed it w/

[code]

[2015-07-21 11:21] #14793 closed

[2015-07-21 11:29] kblin opened #14795 "Documentation of docker run --user doesn't match actual behaviour"
Description of problem: The `docker run --user` documentation states:

This is misleading, as it is possible to just pass an arbitrary uid:gid to `-u` and run using that. As stackoverflow is also full of suggestions to use `groupadd && useradd && sudo -u` tricks to achieve the same effect, it seems like many people fall for this.

`docker version`: N/A, but https://docs.docker.com/reference/run/#u

[2015-07-21 11:53] rhvgoyal commented on #14678
@unclejack  Per container quota is a good idea but I am not aware of any functionality using which we can enforce this for file system based graph drivers.

As of now devicemapper seems to be the only graph driver which can enforce this. Anyway, I will keep this in mind. For now we have changed dm.basesize to 100G default. If there is still need for
per container tunable, I will write a patch to i

[2015-07-21 11:56] lioryanko commented on #13697
@nalind Well, it looks good to me.
Have you written any tests yet? How about splitting up the work? I can write integration tests and leave unit tests to you or vice versa.

[2015-07-21 12:02] WeiZhang555 commented on #14756
And also want to try api/ and api/types :)

[2015-07-21 12:26] Zhang-Haoyu opened #14797 "libnetwork: Does libnetwork deviate from intention of app-container which does not have any endpoint?"
We are running hundreds of app-containers per-host for our stateless applications.
The app-container uses host-mode network which doesn't create one network namespace and just share the host's, and provides a light-weight isolated executing environment for apps, can be started and destroyed very efficiently and costlessly for stateless apps.
Does libnetwork deviate from intention of app-containers

[2015-07-21 12:26] GordonTheTurtle commented on #14797
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-21 12:35] rhatdan commented on #14678
The people I have talked to who want quotas, want it on more then just the COW file systems, they also want it on volumes mounted into containers. Like homedirs.  Relying on quotadb is tough if you have multiple containers sharing the same UIDs.

[2015-07-21 12:47] jakirkham commented on #14749
It would also be good to know the result of this `sudo /etc/init.d/docker status`.

[2015-07-21 12:48] omribahumi commented on #10384
@jfrazelle You mean that the intended behavior is to disallow `--dns` with `--net=host` ?
I understand why it was originally introduced (`--net=host` meant the host's `/etc/resolv.conf` was bind-mounted), but this is no longer the case.
I too suffer from this restriction.

Will appreciate your response. Thanks

[2015-07-21 13:20] HuKeping commented on #14756
take `utils/`

[2015-07-21 13:24] dave-tucker commented on #14756
taking `pkg/nat`

[2015-07-21 13:30] jonatanblue commented on #4036
@selipso you have "Storage Driver: devicemapper" and "Udev Sync Supported: false" and so you are having a bad time, as previous comments have pointed out. See also #10705.

[2015-07-21 13:33] SymOSRB opened #14803 "When veritas VxFS is used as backing filesystem to run docker daemon, docker info output shows "Backing Filesystem: <unknown>"."
Description of problem:
When veritas VxFS is used as backing filesystem to run docker daemon, docker info output shows "Backing Filesystem: <unknown>".

`docker version`:
    # docker version
    Client version: 1.6.0
    Client API version: 1.18
    Go version (client): go1.4.2
    Git commit (client): 8aae715/1.6.0
    OS/Arch (client): linux/amd64
    Server version: 1.6.0
    Server API versio

[2015-07-21 13:36] #14803 closed

[2015-07-21 14:08] dave-tucker commented on #14756
and `pkg/namesgenerator`

[2015-07-21 14:20] cpuguy83 commented on #14797
I don't understand your question.
But libnetwork is the network library that docker uses for all network code.
The old docker (pre-libnetwork) code was ported to libnetwork as a base (so things like --net=host and --net=none continue to work as expected).

[2015-07-21 14:23] MHBauer commented on #14756
Taking volume/* to start the day.

[2015-07-21 14:26] mdavranche opened #14806 "Permissions on Docker tree"
As the Docker Unix socket's owner is root:docker and its permissions is 660 (what is a great thing), wouldn't it be legitimate to have a rootdir (ie /var/lib/docker/), containers rootdir (ie /var/lib/docker/containers/) and container dir (ie /var/lib/docker/containers/xxx_container_id_xxx/) with the same owner and permissions? The three of them now have the root:root owner and the 700 permissions.

[2015-07-21 14:26] GordonTheTurtle commented on #14806
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-21 14:36] aaronjwood opened #14807 "Virtual interfaces are entering/leaving promiscuous mode"
For some containers that are launched and stopped or killed (due to errors with what's running inside of them) I'm seeing logs that the virtual interfaces are entering and leaving promiscuous mode. These containers are running with the normal `bridge` networking mode. Example:

[code]

Most of the containers aren't running with any special privileges or capabilities. There is one that runs with `-

[2015-07-21 14:36] GordonTheTurtle commented on #14807
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-21 14:51] cpuguy83 commented on #14807
Seems like something on the host may be doing this...
But in any case, the latest release of docker, 1.7, includes a complete rewrite of Docker's networking code.
It would be good to upgrade to 1.7 so we can troubleshoot against the existing code base.

[2015-07-21 14:52] aaronjwood commented on #14807
Thanks. That's on our roadmap but we won't be getting to it until maybe a month or two from now.
I'll do some testing on a pristine CoreOS VM and see if it's specific to CoreOS (though I doubt that's the issue)

[2015-07-21 15:09] aaronjwood commented on #14807
Surprise, surprise. This does seem to be the default behavior on CoreOS. Closing this as invalid :)

[2015-07-21 15:09] #14807 closed

[2015-07-21 15:15] joune commented on #2801
+1 for static container IPs

[2015-07-21 15:17] mrjana commented on #14807
@aaronjwood This is how things work when you connect a particular interface to a bridge. In this case the host end of the veth pair is getting connected to the bridge and when you are a bridge port you cannot only receive packets for your own mac address. You need to receive packets destined to any mac address so that the bridge can forward the packet out of the appropriate outgoing interface or f

[2015-07-21 15:18] phemmer commented on #14806
You can solve this using filesystem ACLs:

[code]

The `graylog` user will now have full read access to `/var/lib/docker/containers`.

[2015-07-21 15:24] aaronjwood commented on #14807
@mrjana you're right. I wasn't looking in the right place on the other non-CoreOS variants. Thanks for the explanation.

[2015-07-21 15:28] icecrime commented on #14756
Woah that's impressive :-) I _think_ the list is up to date, thanks all!

[2015-07-21 15:28] mdavranche commented on #14806
Thanks @phemmer for this workaround. Do you know if there is a good reason why there is such restrictive permissions? A user in the docker group can access everything through the Docker socket, why can't he access the Docker tree?

[2015-07-21 15:29] selipso commented on #4036
I see, ok thanks

[2015-07-21 15:40] omribahumi commented on #12738
Happened to me with redis containers (custom, not official) when trying to stop them on boot2docker:
[code]

[2015-07-21 16:00] duglin commented on #14791
+1 good idea

[2015-07-21 16:33] cpuguy83 commented on #14767
Please see https://github.com/docker/docker/issues/6401#issuecomment-46361431
Security issues should not ever be posted on GH. That said, read the comment from the link.
This is expected/known behavior with `--net=host`.

I bet we could restrict access via apparmor.

[2015-07-21 16:38] codekitchen commented on #13342
I'm not sure it'll really change the decision to do nothing about this, but as another data point, this appears to be a common issue on many public/hotel networks where changing the QoS settings isn't feasible. Our remote, distributed development team has been complaining about docker quite loudly due to this.

[2015-07-21 16:38] moldcraft commented on #13207
I have a similar problem.
When ssh as `root`, I can `ping google.com` but when ssh as simple user (or `sudo -u simple_user`), the hosts are not resolved.

I found the problem: Sometimes `/etc/resolv.conf` has `600` permission.
The fix: ssh as `root` and set it to `644`.

[2015-07-21 16:45] NoiSek commented on #2733
+1 this would be extremely useful

[2015-07-21 16:45] moldcraft opened #14814 "/etc/hosts: '172.17.0.X self' instead of `172.17.0.X {id}`"
This will be an easy way to get current container IP address (like `localhost`).
We will be able to use the `self` hostname (or any other name you will choose) in various configs where current host ip is required/needed.
For e.g. I need to specify [this](http://docs.datastax.com/en/cassandra/1.2/cassandra/configuration/configCassandra_yaml_r.html?scroll=reference_ds_qfg_n1r_1k__broadcast_address)

[2015-07-21 16:45] GordonTheTurtle commented on #14814
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-21 17:10] ralph-tice commented on #13949
I had this same problem but on a `docker pull` that was implicitly started by `docker run ... non_local_image:master` from a private registry.

[code]

full stack trace here http://pastebin.com/HRJsqxcJ

[2015-07-21 17:12] aidanhs opened #14816 "Kernel panic in Docker 1.7.1, Ubuntu 14.04 kernel 3.16/Ubuntu 15.04 kernel 3.19"
A bit like #13940 (in that they're both panics, the stack traces are very different), but present on 3.19.

Trace from 15.04:
[code]

The 14.04 trace is pretty similar, including mentions of aufs and apparmor. These lines are exactly the same for 14.04 (excluding offsets of course):
[code]

---

BUG REPORT INFORMATION
-----------------------------------------

[code]

[code]

[code]

[code]

Resul

[2015-07-21 17:12] GordonTheTurtle commented on #14816
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-21 17:18] jbiel commented on #9139
This is 100% fixed for us; no more leaks. :+1:

[2015-07-21 17:24] aidanhs commented on #14816
BUG REPORT INFORMATION

[code]

[code]

[code]

[code]

Result expected: the kernel does not panic.

[2015-07-21 17:25] bprodoehl commented on #14738
I'm also observing the same problem with 1.7.1.  docker0 definitely existed, and I was creating containers through the API.  The containers created eventually die of their own accord, and are removed through the API.  docker0 had 17 adapters according to brctl, and ifconfig confirmed those adapters were still around, but there were only 8 running containers.  After a restart of the docker daemon,

[2015-07-21 17:28] thaJeztah commented on #12002
@srcspider agreed!

[2015-07-21 17:30] thaJeztah commented on #9139
thanks for reporting back @jbiel! good to hear

[2015-07-21 17:33] teewhey commented on #14749
There you go ....

vagrant@vagrant-debian-wheezy:~$ sudo apt-get install -y libdevmapper-event1.02.1; sudo service docker restart; sudo docker pull ubuntu:14.04
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  libdevmapper-event1.02.1
0 upgraded, 1 newly installed, 0 to remove and 50 not upgraded.
Need to get 3

[2015-07-21 17:44] runcom commented on #14756
doing pkg/mount

[2015-07-21 17:47] adamkdean commented on #9139
Not a problem for us either.

[2015-07-21 17:50] jakirkham commented on #14749
I would recommend that try using [`boot2docker`]( http://boot2docker.io ) if you just want to play around.

If you must persist with using this VM, take a look at this ( http://stackoverflow.com/questions/30132706/docker-service-does-not-start ).

[2015-07-21 18:03] CGavrila opened #14819 "Error response from daemon: Cannot start container ... invalid argument"
I am trying to run a simple "Hello world" example with docker, but all I get is this error:

[code]

Docker/system info:

[code]

I've tried a couple of things that I've seen in other issues, but it didn't get me anywhere.

[2015-07-21 18:03] GordonTheTurtle commented on #14819
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-21 18:13] stevvooe commented on #14756
:+1: Obviously, I'm definitely in favor of this.

How do you want us to handle `golint` failures that will cause symbol changes? The following are few that can't be reconciled without changing package interfaces:

- Stuttering names (ie. `archive.Archive`)
- Initialisms (use of `ID` instead of `Id`, using `URL` instead of `Url`)

For the distribution project, we've recommended that people only ven

[2015-07-21 18:15] aaronlehmann commented on #14756
I'll claim the registry package.

[2015-07-21 18:16] teewhey commented on #14749
I tried boot2docker a few days before this and getting a whole different set of problems.
I followed their documentation and boot2docker still says the client and server version mismatch. I'll leave that for another issue. For now, I'd prefer this to be fixed first

[2015-07-21 18:18] sevki commented on #14756
I'll take trust 200 alex

[2015-07-21 18:29] cpuguy83 commented on #14814
This really wouldn't work well.
It's fairly trivial to get the IP address of an interface, and also the hostname used is the actual hostname of the container, so `hostname` would return the same hostname used in /etc/hosts.

[2015-07-21 18:43] moldcraft commented on #14814
Why? It's very simple, just add a new line in `/etc/hosts` after id hostname

[code]

It's a command that needs to be executed. But I have a text config

[code]

which hostname should I put there?

----

An solution would be: on container startup, to use `sed` to replace that line with `hostname` result.
But the solution I request would make things easier.

[2015-07-21 18:46] sidharta-s commented on #13200
@LK4D4 Thanks for the update. Is this on master or a specific release?

[2015-07-21 18:46] #13200 closed

[2015-07-21 18:53] jakirkham commented on #14749
This probably won't make a difference because I think the problem is the kernel that is used here. However, I will make an attempt anyways.

Just to confirm, when you did the `curl`, was it in the VM? Also, did you `curl` using `http` or `https`? You may need this `sudo apt-get install -y ca-certificates`.

[2015-07-21 18:55] nalind commented on #13697
@lioryanko Getting authentication over multiple round trips working took a little longer than expected, but the Negotiate client should now be properly checking Negotiate data that it gets back from the server.  The server should be setting cookies after successful authentication, and the client should be using them.  I managed to get the client loop factored in a way that it only had to be writte

[2015-07-21 18:59] teewhey commented on #14749
ca-certificates is already installed in the VM. All curls are done in the VM using https

[2015-07-21 19:03] jakirkham commented on #14749
Maybe so, but it may need an update.

[2015-07-21 19:04] rhatdan commented on #14396
[code]
./vendor/src/github.com/docker/libnetwork/drivers/bridge/bridge.go

 is missing from docker-1.7

It is in docker-1.8

This might be the problem, or at least part of it.

[2015-07-21 19:06] rhatdan commented on #14396
More clues look at

[code]

[2015-07-21 19:23] teewhey commented on #14749
It is already the newest version.

[2015-07-21 19:23] LK4D4 commented on #13200
@sidharta-s I tested on master.

[2015-07-21 19:30] RichardScothern opened #14823 "Docker 1.8 does not configure TLS for private registry mirrors"
Fix in progress.  Please assign to me.

cc @stevvooe @dmp42 @tiborvass

[2015-07-21 19:30] GordonTheTurtle commented on #14823
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-21 19:31] mrjana commented on #14396
@rhatdan There are actually two different issues that are being reported here. The one @YannRobert should be fixed by this commit that's in `docker:master`.  So @YannRobert if you would to try out, you can try out https://experimental.docker.com which should work for you.

The issue reported by @Nightling is not going to be fixed by this because that is in a way expected behavior as far as firewal

[2015-07-21 19:31] erichonkanen commented on #14396
@rhatdan where are you seeing docker 1.8? the git only shows 1.7 tag

[2015-07-21 19:34] mrjana commented on #14396
@erichonkanen if you want to try out a nightly release of master you can try https://experimental.docker.com/ which is built nightly from the master. That's what @rhatdan is referring to as 1.8. But keep in mind though that the experimental releases have a few additional experimental features so don't try it in your production environment

[2015-07-21 19:38] borntorock commented on #14386
Any suggestions on how shall I resolve this issue. Stuck on this for few weeks.

I would highly appreciate with any kind of help provided to resolve this issue.

[2015-07-21 19:52] mrjana commented on #14788
@quick-sort can you post your daemon options? most likely you started the daemon with an existing bridge which has a smaller subnet range or you used `--fixed-cidr` option with a smaller subnet range

[2015-07-21 19:56] erichonkanen commented on #14396
I see...

[2015-07-21 20:01] fcantournet commented on #14756
took pkg/mflag

[2015-07-21 20:01] MHBauer commented on #14756
daemon/logger and subfriends

[2015-07-21 20:10] mrjana commented on #14738
@bprodoehl When you said you restarted docker daemon how did you restart it? Did you kill it or did you just use` systemctl` or `service` commands?

[2015-07-21 20:14] bprodoehl commented on #14738
@mrjana ```service docker restart```.

[2015-07-21 20:18] ianblenke commented on #14755
@mrjana, we ran into the same problem with another developer workstation, this time it was because his boot2docker VM picked up a DNS server of 192.168.1.1 somehow. Same behavior.

[2015-07-21 20:19] dkirrane commented on #14083
Will there be a way to assign a virtual ip to a service. For instance, 2 Load Balancer containers would share a virtual IP to avoid a single point of failure. When the first LB container (primary) goes down then the virtual IP is transferred to the second LB container (backup).

[2015-07-21 20:22] cpuguy83 commented on #14755
From what I'm reading, the build containers are ignoring the daemon's `--dns` option.
This smells like a bug to me.
Build containers should be exactly equal to a vanilla `docker run`.

[2015-07-21 20:43] icecrime commented on #14756
We merged #14780 so feel free to add packages to [this list](https://github.com/docker/docker/blob/master/hack/make/validate-lint#L8) as part of your PR to include it naturally in future test runs!

[2015-07-21 20:48] sidharta-s commented on #13200
@LK4D4 great, thanks!

[2015-07-21 20:51] thaJeztah commented on #14755
@cpuguy83 that was my initial impression as well. Could be a dup of https://github.com/docker/docker/issues/14357, which was recently closed. I thought that was in 1.7.1, but not sure, could be in master only?

[2015-07-21 20:58] rhatdan commented on #14396
Yes docker-1.8 is the master branch.  Sorry about that.

[2015-07-21 21:03] mrjana commented on #14755
@ianblenke Are you saying that in the other VM the host had DNS entry of 192.168.1.1 but that wasn't getting inherited by the container or just that the docker build steps are not able to resolve names. Is the host able to resolve names using 192.168.1.1 as the DNS server?

[2015-07-21 21:04] mrjana commented on #14755
@cpuguy83 @thaJeztah We don't know if @ianblenke used `--dns` daemon option in the first place

[2015-07-21 21:07] rhatdan commented on #14396
@mrjana What fix upstream?

[2015-07-21 21:12] vdemeester commented on #14756
:+1:

[2015-07-21 21:18] phanimahesh commented on #10589
Issue still exists on v1.7

[2015-07-21 21:22] calavera commented on #10589
There is more info about this in #12738.

[2015-07-21 21:27] brahmaroutu commented on #14756
taking daemon/graphdriver, daemon/graphdriver/aufs daemon/graphdriver/btrfs

[2015-07-21 21:52] mcandre commented on #13342
What if we defaulted docker push/pull bandwidth to a throttled setting (I'm sure DockerHub and CoreOS would appreciate it!), and gave users the option to override this setting in a per-user config file?

[2015-07-21 21:57] anapsix opened #14834 "ONBUILD RUN data persistence"
In Docker 1.7.1 (and possibly earlier)..
Data written by ONBUILD RUN doesn't persist in dirs which parent exports with VOLUME.
In other words, If **parent** image with `VOLUME /app` has some sort of ONBUILD RUN step that makes changes to /app, those changes will not persist in resulting **child** image.

Parent image:
[code]

Child image:
[code]

[2015-07-21 21:57] GordonTheTurtle commented on #14834
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-21 22:13] duglin commented on #14834
This is working as designed.  Volumes are not saved within the resulting image.
ping @cpuguy83 to keep my honest.

[2015-07-21 22:17] cpuguy83 commented on #14834
You are correct, you cannot make changes to volume dirs during build. You want want to reconsider the usage of "VOLUME" at all in your Dockerfile.

Closing as this is expected behavior.

[2015-07-21 22:17] #14834 closed

[2015-07-21 22:48] #14621 closed

[2015-07-21 22:54] calavera commented on #2733
There are no plans to do this for now and I don't think this should be a feature in docker itself. Sorry, I'm going to close this issue because it sets a false expectative.

[2015-07-21 22:54] #2733 closed

[2015-07-21 23:01] thaJeztah commented on #14396
There's also https://master.dockerproject.org, which is built of master, without the experimental features.

[2015-07-21 23:05] ricardobranco777 commented on #10180
A temporary fix is described here:

https://bugzilla.redhat.com/show_bug.cgi?id=1213602#c13

[2015-07-21 23:06] erichonkanen commented on #14396
whats the release schedule? when does the tagged 1.8 come out?

[2015-07-21 23:08] thaJeztah commented on #14386
@borntorock hm, sorry, I don't have suggestions at this point, but no expert in this area. Perhaps you can try the IRC channel if someone has suggestions?

/cc @LK4D4 could you help out here, or have suggestions for useful information to help finding the cause or someone that might know?

[2015-07-21 23:17] avinson commented on #11008
@icecrime -- thanks for your response

Yes

Because I'm not the sole docker user on the systems I administer. I probably wouldn't be following this issue so closely if I hadn't seen various developers make this mistake over and over and over again.. even the experienced ones that have been educated about this particular nuance of docker. In day-to-day use, this often leads to old versions of conta

[2015-07-21 23:23] #14823 closed

[2015-07-21 23:25] thaJeztah commented on #14396
The planned release dates can be found on the milestones; https://github.com/docker/docker/milestones (they may slip in some cases)

[2015-07-21 23:26] cristoslc commented on #2733
Could we please get a little explanation on why you don't think this should be a feature?

[2015-07-21 23:34] pl33g0r commented on #14819
I am hitting the same issue here

Use the commands below to provide key information from your environment:

docker version:
Client version: 1.7.1
Client API version: 1.19
Go version (client): go1.4.2
Git commit (client): 786b29d
OS/Arch (client): linux/amd64
Server version: 1.7.1
Server API version: 1.19
Go version (server): go1.4.2
Git commit (server): 786b29d
OS/Arch (server): linux/amd64

docke

[2015-07-21 23:53] tnachen opened #14836 "Unable to reach host ip:port from container using bridge network on CentOS"
BUG REPORT INFORMATION

With the following docker version:
Client version: 1.6.2
Client API version: 1.18
Go version (client): go1.4.2
Git commit (client): ba1f6c3/1.6.2
OS/Arch (client): linux/amd64
Server version: 1.6.2
Server API version: 1.18
Go version (server): go1.4.2
Git commit (server): ba1f6c3/1.6.2
OS/Arch (server): linux/amd64

I'm not able to reach the host ip port from the container.

[2015-07-21 23:53] GordonTheTurtle commented on #14836
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-21 23:59] #4272 closed

[2015-07-21 23:59] #5846 closed

[2015-07-21 23:59] #10040 closed

[2015-07-22 00:02] icecrime commented on #14298
Good news: #13171 is in. Let's try and work through the rest for 1.9.0.

[2015-07-22 00:03] elrac opened #14837 "Cannot use alternate docker build file when building from git repo"
I have a git repo that has two dockerfiles in it. When I attempt to use the alternate dockerfile with -t I get the following error

BUG REPORT INFORMATION

Use the commands below to provide key information from your environment:

docker version:

    Client version: 1.7.0
    Client API version: 1.19
    Go version (client): go1.4.2
    Git commit (client): 0baf609
    OS/Arch (client): darwin/amd

[2015-07-22 00:03] GordonTheTurtle commented on #14837
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-22 00:08] duglin commented on #14837
can you try:
[code]
and see if that works?

[2015-07-22 00:10] jlhawn commented on #5846
:tada: be sure to try out the Release Candidate for Docker 1.8 when it comes out!

[2015-07-22 00:14] elrac commented on #14837
Hi duglin,
Thank you for the suggestion, unfortunately I tried it and it did not work. My understanding is that the root folder of the repo is the root of the build context when running a build command in that way.

[2015-07-22 00:15] jlhawn commented on #14298
Awesome. This means that `dockramp` will work with Docker 1.8 if people want to use it.

[2015-07-22 00:25] NoiSek commented on #2733
^ More explanation would be appreciated, this seems in direct contrast to [the very first reply](https://github.com/docker/docker/issues/2733#issuecomment-28634450) from earlier.

[2015-07-22 00:36] calavera commented on #2733
the first comment is from two years ago. I can tell you that there are no plans to implement this in the near future. You can get this kind of feature with external tools.

[2015-07-22 00:56] NoiSek commented on #2733
Two years ago from the, *cough*, guy who create docker.

Thank you for the clarification, however. If you could link a few of those external tools for people who stumble on this issue that would be great.

[2015-07-22 00:58] hqhq commented on #14756
@icecrime Sorry, I said `daemon/execdriver*`, meant:
- daemon/execdriver (@hqhq - #pending)
- daemon/execdriver/execdrivers
- daemon/execdriver/lxc
- daemon/execdriver/native
- daemon/execdriver/native/template
- daemon/execdriver/windows

Seems `daemon/execdriver/native/template` is already taken? I'll take the rest, can you update?

[2015-07-22 01:09] duglin commented on #5846
Congrats Josh!!!

-Doug

Sent from my iPhone

[2015-07-22 01:24] vincentwoo commented on #10490
@jfrazelle I think the core feature request of having images, etc live on a normal disk partition but containers run entirely on a ramdisk is a reasonable one. Our container latency is **very** highly correlated with write IOPS. I humbly request that this issue be reopened.

[2015-07-22 01:26] knownasilya commented on #2733
:+1:

[2015-07-22 01:28] cpuguy83 commented on #10490
If you want to write to ramdisk then mount a volume to the area you want to write to in the container that is a ram disk.
In addition you can use a volume plugin to help automate this for you.

[2015-07-22 01:35] flaccid commented on #2733
http://forums.rancher.com/t/zero-downtime-app-upgrades/112/5

[2015-07-22 01:41] cpuguy83 commented on #14836
Maybe I don't understand, but in the container `hostname -i` would yield the ip address of the container, not the host.

[2015-07-22 01:42] phemmer commented on #14836
What is the error you get? Connection refused, host lookup failed, timeout while connecting, ... ?

Does the centos box have any iptables rules on it?

What does `hostname -i` output on the centos box?

[2015-07-22 01:43] Zhang-Haoyu commented on #14797
I read the libnetwork design doc (https://github.com/docker/libnetwork/blob/master/docs/design.md) and below blog,
https://blog.docker.com/2015/04/docker-networking-takes-a-step-in-the-right-direction-2/
I think that introducing endpoints and network concepts, from certain angle, is just consider the container as a VM, like ones created by kvm, xen, vmware,  not a app-container.
But it's okay, jus

[2015-07-22 01:43] phemmer commented on #14836
@cpuguy83

    docker run --net=bridge ubuntu:14.04 /bin/sh -c "echo 'hi' | nc `hostname -i` 9999"

The `hostname -i` part evaluates on the host, not in the container (double quotes, not single)

[2015-07-22 01:44] cpuguy83 commented on #14836
@phemmer Aaah, thanks I see now.

[2015-07-22 01:47] cpuguy83 commented on #14797
@Zhang-Haoyu I do not see how endpoints make this like a VM.
If anything it's about ensuring that only containers that need to talk to each other can (and do so bi-directionally).

The benefit of libnetwork is in the creation of networks that you wire up containers to, and being able to publish services on that network for consumption, and this is done via whatever backend networking technology is

[2015-07-22 01:47] #14797 closed

[2015-07-22 01:48] hqhq commented on #14819
Probably you have short support from kernel, what does `./contrib/check-config.sh` say?

[2015-07-22 01:49] phemmer commented on #14816
Have you reported this on the kernel bug tracker? While docker might be able to put in a workaround for the issue, the issue itself lies in the kernel, and the kernel team is the one that ultimately needs to fix it.

[2015-07-22 01:50] tnachen commented on #14836
So im actually using another image tnachen/test-executor and it simply says cannot route to that IP address right away

[2015-07-22 01:50] vincentwoo commented on #10490
That's a very difficult proposition for us. Imagine you're running a PAAS where various customers are running a ton of short lived containers - we know that all of them would benefit from being on a ramdisk, but we can't tune each and every one of them to use a specific volume layout.

Docker lets us treat the rat's nest of modern linux systems as a black box, which lets us do a lot of nifty thing

[2015-07-22 01:51] mavenugo commented on #14797
@Zhang-Haoyu, @cpuguy83 summarized it well. If you have further questions, please raise it in libnetwork project and we will be happy to give more explanation.

[2015-07-22 01:55] HuKeping commented on #14756
taking `pkg/sysinfo/`

[2015-07-22 02:12] pl33g0r commented on #14819
I am not able to find contrib (find -name gave me no results).

[2015-07-22 02:12] duglin commented on #14837
ok I think I know what's going on.  The 'git clone' happens into a temp dir on the client but the '-f' flag requires that it either be an absolute path or relative to the current dir.  Since the git clone is to a temp dir there's really no good way for the user to know the name of that dir to use it in the '-f' arg.

I see two choices here:
1 - ban the use of '-f' when doing a git clone
2 - make '

[2015-07-22 02:13] cpuguy83 commented on #14819
@pl33g0r Your error is completely different.

[2015-07-22 02:15] tnachen commented on #14836
And actually 1.7.0 with Ubuntu the same steps listed in the pr doesn't work as well, I believe with standard settings for docker and OS

[2015-07-22 02:16] tnachen commented on #14836
@phemmer host name -I returned 172.16.0.12 for me

[2015-07-22 02:28] pl33g0r commented on #14819
@cpuguy83 could you elaborate a bit more?

[2015-07-22 02:31] cpuguy83 commented on #14819
@pl33g0r your error :`exec: "": executable file not found in $PATH`, is a completely different error from the OP: `invalid argument`
These are not related.

[2015-07-22 02:33] hqhq commented on #14819
@pl33g0r Sorry I was talking about @CGavrila 's error, not sure about your problem. Maybe you can open a separate issue.

[2015-07-22 02:35] cpuguy83 commented on #14819
@pl33g0r I would also guess that either your image has a bad configuration or you were hit by #14578 (also just guessing).

[2015-07-22 02:38] tiborvass commented on #14837
@duglin I don't understand why `**and** when not an abs path`. If it's an abs path it's still relative to the context dir: https://github.com/docker/docker/blob/1b67c38f6f4a709e1d159445b56f0beee8cfad3a/builder/evaluator.go#L219

We could make `-f` relative to the root of the git clone because that's what the context is, I think this would be the right fix.

[2015-07-22 02:48] azurezk opened #14841 "run "TESTFLAGS='-check.f TestBuild*' hack/make.sh binary test-integration-cli" gets error in lxc"
I run that command in my docker development container as "https://docs.docker.com/project/test-and-docs/#run-tests-on-your-local-host" says and get
"Get http:///go/src/github.com/docker/docker/bundles/1.8.0-dev/test-integration-cli/docker.sock/v1.20/version: dial unix /go/src/github.com/docker/docker/bundles/1.8.0-dev/test-integration-cli/docker.sock: no such file or directory.
* Are you trying to

[2015-07-22 02:48] GordonTheTurtle commented on #14841
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-22 02:57] bprodoehl commented on #14791
Yes, absolutely, I'd love to see this.

[2015-07-22 03:00] cpuguy83 commented on #10037
Closing since this was fixed.

[2015-07-22 03:00] #10037 closed

[2015-07-22 03:03] cpuguy83 commented on #10066
Closing since this is mitigated by the new services API.
Basically you do something like `docker run -d --publish-service <name>`, and the name is published to the network (via dns, with a bridge network using /etc/hosts). When you create a new container publishing the same name, this is pushed out to all other containers.

This functionality can be seen as replacing `--links`.

[2015-07-22 03:03] #10066 closed

[2015-07-22 03:05] cpuguy83 commented on #8504
`docker inspect` now inclues a `--type` option to specify either an image or a container.
Closing.

[2015-07-22 03:05] #8504 closed

[2015-07-22 03:06] #14640 closed

[2015-07-22 03:11] cpuguy83 commented on #11170
Closing since it seems like this is not something we actually want to do.

[2015-07-22 03:11] #11170 closed

[2015-07-22 03:11] cpuguy83 commented on #11606
Closing as this is not relevant anymore.

[2015-07-22 03:11] #11606 closed

[2015-07-22 03:15] cpuguy83 commented on #11714
Closing as I can't reproduce and the issue seems quite dead.

[2015-07-22 03:15] #11714 closed

[2015-07-22 03:16] cpuguy83 commented on #11714
Also note, this could be something like apparmor interfering.

[2015-07-22 03:17] duglin commented on #14837
@tiborvass this git clone is done on the CLI side so `/` is the cli's `/` dir, not the top of the build context. Mapping `-f myFile` to $cloneDir/myFile seems reasonable since there's no way for the user to know what $cloneDir will be and we can claim that we did an implicit 'cd' into $cloneDir.  But I'm nervous about mapping `-f /myFile` because when they specify an abs path its almost as if they

[2015-07-22 03:20] cpuguy83 commented on #11809
This is most likely because you exited out of a running build.
Up until recently you could not actually cancel a build, so the build would continue on in the background, creating/removing more containers.

Closing.
If you can provide a repro case we can re-visit.
Thanks!

[2015-07-22 03:20] #11809 closed

[2015-07-22 03:24] cpuguy83 commented on #11547
I'm going to close this as it looks like you are just consuming all the disk through successive runs of `docker build --no-cache`.
Certainly can expect some issues on the VM if there is no more space.

[2015-07-22 03:24] #11547 closed

[2015-07-22 03:27] jfrazelle commented on #14756
this is awesome everyone, super cool the enthusiasm to help!

[2015-07-22 03:30] cpuguy83 commented on #11927
Are you still able to reproduce?

[2015-07-22 03:32] vincentwoo commented on #10490
Actually, upon further research, it might be the case that tinkering with the kernel's dirty write settings might be a better way to go. I'll try to report back with my findings.

[2015-07-22 03:33] cpuguy83 commented on #10822
Closing since there's been no response and we can't report.

[2015-07-22 03:33] #10822 closed

[2015-07-22 03:36] #10380 closed

[2015-07-22 03:37] cpuguy83 commented on #10380
Closed since the OP says issue is resolved.

[2015-07-22 03:39] cpuguy83 commented on #12213
Closing as this is fixed.

[2015-07-22 03:39] #12213 closed

[2015-07-22 03:42] cpuguy83 commented on #10947
@devurandom Docker does bind-mounting, the files are mounted on top, and the originals are shadowed.

[2015-07-22 03:42] #10947 closed

[2015-07-22 03:44] cpuguy83 commented on #12328
@nomeata When you remove a container, is there anything left over for that ID in `/var/lib/docker/containers`?

[2015-07-22 03:47] cpuguy83 commented on #12380
Hi, is this still a problem?
Ping @duglin

[2015-07-22 03:48] #12000 closed

[2015-07-22 04:23] phanimahesh opened #14845 "Container frozen, can not start, stop, kill"
The issue persists after rebooting docker or the entire machine. The container can not be started, stopped, or killed.

[code]

BUG REPORT INFORMATION
[code]

Additional details: The host is running on a VMWare VM.

Steps to reproduce:
Absolutely no idea. This just happened. Attaching to the container caused the terminal to freeze, so I tried stopping it. That's when I discovered this. Rebooting w

[2015-07-22 04:23] GordonTheTurtle commented on #14845
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-22 04:50] erikh commented on #5846
+1 congrats. Been watching this thing for a long time now. :)

-Erik

[2015-07-22 04:57] charleswhchan commented on #14433
PR #14725 merged.
Please review if this issue can be also be closed.

[2015-07-22 04:59] #14433 closed

[2015-07-22 05:04] peggyl commented on #14756
@icecrime Isn't this potentially "backwards-compatible" in that other code outside of Docker might be using exported symbols and break when they're made private? Not sure if this is a legitimate concern or just an overabundance of caution.

[2015-07-22 05:07] math3usmartins commented on #5135
**Dockerfile**
[code]

**Save and import image works, but `docker run` fails:**
[code]

I've also tried `docker import --change "CMD ..."  - myimage` and `docker run -ti` (without -d). No success.

PS. I've adjusted the container ID in the error message above just to improve readability; the error message contains the full ID.

[2015-07-22 05:14] maseev opened #14846 "Remote API - /images/search has text/plain Content-Type, not application/json"
BUG REPORT INFORMATION

Description of problem:
/images/search REST endpoint for some reasons returns Content-Type = text/plain instead of application/json. There's certainly some inconsistency with documentation, because documentation says that GET /images/search has to return Content-Type: application/json - https://docs.docker.com/reference/api/docker_remote_api_v1.19/.

`docker version`:
Clien

[2015-07-22 05:14] GordonTheTurtle commented on #14846
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-22 05:53] bpradipt commented on #13820
Great @satyajitpadhyewit !!. I feel this issue can be closed now.

[2015-07-22 05:53] quick-sort commented on #14788
@mrjana I didn't use --fixed-cidr option, I used the default docker network. But I did remove and create containers again and again for hundreds of times, and it worked fine after I have restarted docker daemon.
DOCKER_OPTS="$DOCKER_OPTS --insecure-registry d.nexttao.com:5000 --registry-mirror=http://e72d0657.m.daocloud.io -H tcp://10.169.14.176:4243 -H unix:///var/run/docker.sock"

[2015-07-22 06:00] thaJeztah commented on #14433
thanks @charleswhchan!

[2015-07-22 06:31] mountkin commented on #14819
@pl33g0r The `CMD` of your Dockerfile in https://registry.hub.docker.com/u/pl33g0r/ubu-slave/dockerfile/ is an empty string. It should be an executable file (or command arguments if the `ENTRPOINT` is specified).

[2015-07-22 06:34] thaJeztah commented on #14298
is there a way to add dockeramp as an experimental feature?

thinking; perhaps we should have a plugin system for the client after all, so that users can add custom builders; `docker build --builder=dockramp -f Dockerfile.dockramp`?

[2015-07-22 07:06] thaJeztah commented on #5135
@math3usmartins you're combining `docker save` with `docker import`, which doesn't work. Either use `docker save` and `docker load` or `docker export` and `docker import`, depending what your goal is. See http://docs.docker.com/reference/commandline/save/ and http://docs.docker.com/reference/commandline/export/

[2015-07-22 07:34] devurandom commented on #10947
So how do I solve my original issue? With e.g. `/var` and cups?

[2015-07-22 07:39] unclejack commented on #10038
This issue was opened to discuss the blocking issue for #9871. However, #13171 has been merged and #13171 replaces #9871's.

I think this issue should be closed as there has been no more activity since the 14th of January on this issue and numerous PRs which change pkg/archive has been merged, including Windows support and what not.

I'll close this now. Please feel free to comment.

[2015-07-22 07:39] #10038 closed

[2015-07-22 07:47] nomeata commented on #12328
Indeed:
[code]

[2015-07-22 07:48] nomeata commented on #12328
And this is the content of these directories
[code]

[2015-07-22 07:59] runcom commented on #14846
Thanks for the report, found the problem, fixing

[2015-07-22 08:34] amoalsale opened #14847 "When veritas VxFS is used as backing filesystem to run docker daemon, docker info output shows "Backing Filesystem: <unknown>"."
Description of problem:
When veritas VxFS is used as backing filesystem to run docker daemon, docker info output shows "Backing Filesystem: unknown".

`docker version`:
$ docker version
Client version: 1.6.0
Client API version: 1.18
Go version (client): go1.4.2
Git commit (client): 8aae715/1.6.0
OS/Arch (client): linux/amd64
Server version: 1.6.0
Server API version: 1.18
Go version (server): go1.4

[2015-07-22 08:42] unclejack commented on #14816
These kernels are custom patched by Canonical with aufs and I'm seeing aufs in the call traces. It would be a really good idea to report these issues to Canonical to see if they can help out, especially if you have a good way to reproduce this.

[2015-07-22 08:47] Starefossen commented on #11486
+1

[2015-07-22 08:50] bear0330 commented on #13381
I have the same problem but it not always happens. First, everything works fine, then after few days passed, or I build some images, start/stop containers. Sometimes inside the container cannot connect to anything anymore. All my running containers are the same, lost internet connection, for example curl to github (via ip or domain) will fail:
[code]

The only way I can solve this is restart docke

[2015-07-22 08:57] unclejack commented on #14705
Your system is set up with a custom kernel on Ubuntu 12.04. Canonical doesn't support such custom setups and the Docker project doesn't support that either.

Regarding the specific problem you've reported, it's most likely a problem with your disk IO. I've seen this before and it can be reproduced easily.

[2015-07-22 09:06] YannRobert commented on #14396
@mrjana maybe we should create a different thread to talk about how to run the experimental release.
because running ```curl -sSL https://experimental.docker.com/ | sh``` will just install the official package for Fedora 22 ```docker-1.7.0-6.git74e7a7a.fc22.x86_64```, and when I compare ```https://experimental.docker.com/``` and ```https://get.docker.com/``` there is no significant difference.

[2015-07-22 09:14] fxposter commented on #5618
This is the fix in the VirtualBox: https://www.virtualbox.org/attachment/ticket/12264/diff_unregister_netdev
They don't actually modify the kernel, just their kernel module.

[2015-07-22 09:18] numanoids commented on #14704
I'd like to add support for this if possible as would reduce the need to include git within the image.

[2015-07-22 09:32] dgeske commented on #14511
`docker version`
[code]

`docker info`
[code]

`uname -a`
[code]

Running on VirtualBox via home-brew cask.

Steps to reproduce the issue:
1. Start boot2docker `boot2docker start`
2. Display the shell commands to set up the Docker client `boot2docker shellinit`

Describe the results you received:

`boot2docker start`
[code]

`boot2docker shellinit`
[code]

Describe the results you expected:

Inste

[2015-07-22 09:33] coolljt0725 commented on #14847
I think add the `FsMagicVxFS     = FsMagic(0xa0501fcf5)` to https://github.com/docker/docker/blob/master/daemon/graphdriver/driver_linux.go#L10 and add
` FsMagicVxFS:         "VxFS",` to https://github.com/docker/docker/blob/master/daemon/graphdriver/driver_linux.go#L39 can fix the problem.  @amoalsale  you can open a PR

[2015-07-22 09:36] amoalsale commented on #14847
@coolljt0725 Can you please explain how to open a PR?

[2015-07-22 09:42] shyamjithkv opened #14849 "How to give custom NAME to docker container?"
Hi,
I am new to docker and my question is , How to  give custom name  to my docker container

running sudo docker ps show the NAME of my docker as "prickly_kirch" .Why this name, shall i give my own name there??

[2015-07-22 09:42] GordonTheTurtle commented on #14849
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-22 09:48] dgeske commented on #14511
This issue belongs to the boot2docker CLI. Raised as boot2docker/boot2docker-cli#378.

[2015-07-22 09:49] runcom commented on #14849
@shyamjithkv There's a `--name` option for `docker run` e.g. `docker run -d --name  "yay" busybox top` will show NAME yay in `docker ps`

Closing as a non issue, if I'm mistaken please ping me to reopen
Also, if you have this kind of question it's better to come on IRC in #docker-dev and ask

[2015-07-22 09:49] #14849 closed

[2015-07-22 10:10] CGavrila commented on #14819
@hqhq: where is `check-config.sh` supposed to located? I can't seem to find it.

[2015-07-22 10:17] hqhq commented on #14819
It's in the source code, you can copy from:
https://github.com/docker/docker/blob/master/contrib/check-config.sh

[2015-07-22 10:19] CGavrila commented on #14819
@hqhq: Thanks for the help!

Here is check-config's output:
[code]

[2015-07-22 10:33] yaronr commented on #14704
@numanoids Exactly where I'm coming form. I think that this is relevant for a lot of cases.

[2015-07-22 10:47] thaJeztah commented on #10947
I think you need to see what works best for you. From the top of my head, something like;

[code]

Or, if you want to use a host-mount, you could create a container and copy out the files to your local file-system and use that as a bind-mounted volume. e.g.

[code]

[2015-07-22 10:48] pwaller commented on #2733
Over at ScraperWiki we've had a fairly successful experience with rolling our own tool, [`hanoverd`](https://github.com/scraperwiki/hanoverd), which speaks to the docker daemon and enables replacing an existing application. It even checks the new one is healthy before redirecting new traffic to it.

[2015-07-22 10:50] Chocoloper commented on #11547
Yeah you are maybe right. At the moment I delete all docker images/containers after like 20 builds and didn't had any more problems so far. But I also think that if Docker hasn't any space left it should stop and give me some errors like in the first post of skarekrow to prevent such failure.
Nevertheless thanks for your time investment.

[2015-07-22 10:50] hqhq commented on #14819
kernel config seems good, since you are using 12.04 and with kernel 3.13, I assume you updated your kernel, probably you enabled some config as modules and somehow it wasn't loaded to kernel, like CONFIG_VETH and other configs show as (as module), you can check that.

[2015-07-22 11:10] jsipprell commented on #8693
@amaltson it is not fixed as of current master (1.7.1 -> 1.8-in-devel) on EL6.6.

[2015-07-22 11:11] bfirsh commented on #2733
@calavera Even if don't intend to build this in the near future, I think we should keep this open to keep track of the feature request. It is a thing that users are asking for and would be extremely useful in Compose.

[2015-07-22 11:39] mountkin commented on #14845
Perhaps the docker daemon crashed when you ran `docker stop` or `docker kill`.
Please take a look at `/var/log/upstart/docker.log` and search "panic".

[2015-07-22 11:42] math3usmartins commented on #5135
thanks a lot @thaJeztah

[2015-07-22 11:50] unclejack commented on #14678
@rhvgoyal @rhatdan Perhaps this could be a mount time option for the file system? e.g.: `mount -o maxusage=8G .....`. This would work for the container's fs. A special driver could be used for volumes to get quotas there as well.

[2015-07-22 11:58] YannRobert commented on #14396
@mrjana I tried with the Linux64 binary found at [1]. It seems the problem is not solved with it.
Also, restarting the docker daemon after running my test case once seem to messup the iptables so much that it fails my ssh session to the host machine 😲, and refuse new ssh connections 😭

Here is the output of ```journalctl -u firewalld.service``` right before I restart the docker-daemon
[code]

[1]

[2015-07-22 12:05] cpuguy83 commented on #12328
@nomeata Can you `docker rm` one of these and check to see if the corresponding dir in `/var/lib/docker/containers` is removed?

[2015-07-22 12:11] vdemeester commented on #14756
- Looking at https://godoc.org/github.com/docker/docker we need to add package documentation as well (at least for ``pkg/*`` packages).
- In #14759 I'll add ``pkg/term/winconsole``

[2015-07-22 12:11] cpuguy83 commented on #14704
The problem here is that it'd pretty much have to be `https` since there won't be an ssh key available to clone over SSH.

[2015-07-22 12:22] AymericLabs commented on #8539
I am seeing the issue  (fork/exec /usr/sbin/iptables: cannot allocate memory) preventing me to restart my application
`uname -a`

Linux <hostname> 4.0.5
Containers: 2
Images: 70
Storage Driver: overlay
 Backing Filesystem: extfs
Execution Driver: native-0.2
Kernel Version: 4.0.5
Operating System: CoreOS 717.3.0
CPUs: 2
Total Memory: 1.959 GiB
Name: coreos_elk
ID: PLWA:FDJF:KXFS:G6D3:MF7S:JYDY:FI7U

[2015-07-22 12:26] jaysonminard commented on #3465
(April 15: "No real world use cases"  I'm surprised you cannot imagine at least one and closed this)

I have a base image that exposes volumes or ports for optional software, then FROM that in another Dockerfile to make an image that should not expose anything it doesn't want to, or even things that it has uninstalled from the ancestor.  Why would we NOT want to be able to remove these settings?

[2015-07-22 12:31] feiyang21687 commented on #783
docker daemon terminated, below is ```dmesg``` info

[code]

docker info

[code]

docker version

[code]

uname -a

[code]

[2015-07-22 12:38] AymericLabs commented on #8539
I am seeing the issue (fork/exec /usr/sbin/iptables: cannot allocate memory)
it prevented me to restart my container
At the time of crash, there was only 2 containers running.
1GB ram left
38 go routines
docker using 40%+ memory (average being around 10 same container && same machine)
[code]
Container was a standard elk-stack, lauched with systemd
Host is coreOS:
[code]
The only "non-totally usual

[2015-07-22 12:38] devurandom commented on #10947
Volumes are reference counted, right? So instead of creating a data container with a `/var` volume, which I then mount into the application container, I could create an application container with a `/var` volume, which I then mount into a data container? And if I delete the app container, the `/var` volume will persist, because it is still used by the data container? So I can recreate the app cont

[2015-07-22 12:44] cpuguy83 commented on #14511
Also see the note at the bottom of that command output

This is why it is not displaying the env vars.
If you want just the env and not the full init, do `boot2docker env`.

But in any case, this is a docs issue in that the wording of the command usage for `shellinit` is not completely true.

[2015-07-22 12:56] thaluska commented on #11199
Hello, I have the same problem from docker 1.6 up. In docker 1.5 this configuration work. I have VM running ubuntu 14.04 which is in network subnet 192.168.1.0/24. 192.168.1.1 is set for KVM gateway. VM which is running ubuntu and is a docker host has IP 192.168.1.2/24 this IP I assign to manual created bridge0.
It is setup in /etc/network/interfaces
auto eth0
iface eth0 inet manual
auto bridge0
i

[2015-07-22 13:01] bfirsh commented on #14756
integration-cli: https://github.com/docker/docker/pull/14851

ping @sergiobuj

[2015-07-22 13:02] rhatdan commented on #14678
Well the problem is that there is no QUOTA system for containers, it is just for file systems per UID.
@rhvgoyal and I have talked about potentially using devicemapper/lvm to setup limited size volumes that could be mounted into a container, giving admins the ability to control the size of a containers Writable area.  Would probably help out PAAS type environments.  I would think you would do this

[2015-07-22 13:08] rhatdan commented on #14396
We've made progress in the bugzilla,
https://bugzilla.redhat.com/show_bug.cgi?id=1244124

We are coming to the conclusion that we need to add

sudo iptables -t filter -A DOCKER -d 172.17.0.0/16 -i docker0 -j ACCEPT

As @trevorjay has suggested.

We would need to remove this line if the user ran with --icc=false.

Why this is different between firewalld version and straight iptables version, I am n

[2015-07-22 13:10] thaJeztah commented on #10947
@devurandom yup, volumes are only removed if there are no more containers using it **and only** if the `-v` flag is used when calling `docker rm`. So `docker rm -v mycontainer` will remove the volume as well (unless it's referenced by another container)

[2015-07-22 13:16] #14846 closed

[2015-07-22 13:19] devurandom commented on #10947
So I do not actually need a data container to "hold" the data? I would just create one application container and its volume would be persistent unless deleted explicitly? If necessary, I could even mount the volume into other application containers from there?

Back in the day I read that this scenario should use data containers. Is this information outdated? Or is there a different usecase for da

[2015-07-22 13:29] thaJeztah commented on #10947
@devurandom Using data-only containers is no hard requirement, but it gives a clearer separation between consistent 'data' and your 'application'. In addition,
using a data-only container allows you to stop, remove and replace your application-container, without loosing a reference to the volume.

Using a bind-mounted volume is another solution to prevent loosing track of the volume (because "you"

[2015-07-22 13:31] devurandom commented on #10947
Thanks!

[2015-07-22 13:34] jsipprell commented on #8693
@rhvgoyal This issue is caused by a spurious read on the eventfd in `libcontainer/notify_linux.go:notifyOnOOM`, although the underlying cause of the spurious read remains undetermined (apparently only on EL6/Centos?).

Because the read occurs before the cgroup's vfs entries have been unlinked, there is a race condition wherein the channel blocking send is reached before the container is cleaned up

[2015-07-22 13:45] cpuguy83 commented on #12339
Closing as this is resolved.

[2015-07-22 13:45] #12339 closed

[2015-07-22 13:50] cpuguy83 commented on #12394
Closing since docker now mounts the cgroup into the container.

[2015-07-22 13:50] #12394 closed

[2015-07-22 13:51] cpuguy83 commented on #12498
:( still not redirecting

[2015-07-22 13:53] cpuguy83 commented on #12323
@diezcode Do you have something in an init config (like upstart/systemd/sysvinit) that could be creating these containers, or some other tool?

We really need more information here.

Closing due to a lack of information after requested (and not likely to be a docker issue).

[2015-07-22 13:53] #12323 closed

[2015-07-22 14:01] cpuguy83 commented on #12277
Any update here?

[2015-07-22 14:04] cpuguy83 commented on #12698
Closing since the particular issue is fixed.
Note that the `ulimit` tool shows blocks and not bytes.

[2015-07-22 14:04] #12698 closed

[2015-07-22 14:07] cpuguy83 commented on #12624
There is no such thing as an "intermediate" image. Images are comprised of layers, these layers are all required.

Closing since this is expected behavior:

1. That the max image size is 127
2. That you have a bunch of undeleteable images in `docker images -a` as they are parents to another image.

If you want to remove images that you _probably_ aren't using (because they are not part of a tagged

[2015-07-22 14:07] #12624 closed

[2015-07-22 14:12] cpuguy83 commented on #12759
Closing since this is expected behavior.
Note that there is no need to specify `/etc/issue` anywhere except in the `Binds` config.

[2015-07-22 14:12] #12759 closed

[2015-07-22 14:17] cpuguy83 commented on #12386
Closing since #10860 was merged which contains the warning.

[2015-07-22 14:17] #12386 closed

[2015-07-22 14:18] cpuguy83 commented on #11279
@RickWieman docker-machine supports setting up/configuring swarm.

[2015-07-22 14:20] trevorjay commented on #14396
On Wed, Jul 22, 2015 at 06:09:41AM -0700, @rhatdan  wrote:

I'm confirming now, but my suspicion is that [twoerner is right](https://bugzilla.redhat.com/show_bug.cgi?id=1244124#c16) and that due to the networking changes in docker *it* is not adding the acceptance rules it needs to interoperate with firewalld.

[2015-07-22 14:21] cpuguy83 commented on #12805
Are you able to connect to it from the redis-cli?

[2015-07-22 14:24] cpuguy83 commented on #6446
Closing this since as stated before, `docker kill -s TERM` will send only SIGTERM to the container. Additionally you can use this to define your own workflow for how to deal with something not exiting on TERM.
I don't see the `docker stop` API changing since you can just use `kill`

[2015-07-22 14:24] #6446 closed

[2015-07-22 14:32] cpuguy83 commented on #11362
Closing since indeed `/` is not necessarily 1 filesystem and works the same way on other graph drivers as well (tested specifically with aufs).

[2015-07-22 14:32] #11362 closed

[2015-07-22 14:34] cpuguy83 commented on #12896
@jfrazelle Is this still happening with the new apt packages?

[2015-07-22 14:41] rhvgoyal opened #14853 "Unmount container init layer before using it as base for container root"
When we are creating a container, first we call into graph driver to take
    snapshot of image and create root for container-init. Then we write some
    files to it and call into graph driver again to create container root
    from container-init as base.

    Once we have written files to container-init root, we don't unmount it
    before taking a snapshot of it. Looks like with XFS it leaves

[2015-07-22 14:41] GordonTheTurtle commented on #14853
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-22 14:49] rhvgoyal commented on #13330
Unmounting init layer before using it as base image benefits XFS too. So I have generated a pull request here.
https://github.com/docker/docker/pull/14854

[2015-07-22 14:54] tianon commented on #12896
This is standard behaviour for Debian packages, especially when they
support multiple init systems.

[2015-07-22 15:01] cpuguy83 commented on #12658
If I understand the issue correctly (but maybe some other issue got mixed in here), somehow you were able to remove an image layer that is needed for a currently running container?
There is a fix for this on master (and a test!).

Can we close or am I mistaken that this is not the issue that's being seen?

[2015-07-22 15:06] cpuguy83 commented on #12896
Thanks @tianon
I'm going to close this, then.

[2015-07-22 15:06] #12896 closed

[2015-07-22 15:19] cpuguy83 commented on #8433
But what if the build fails?

[2015-07-22 15:24] tianon commented on #12896
For a good example of this, see the file list in "openssh-server":
https://packages.debian.org/sid/amd64/openssh-server/filelist

(sysvinit, systemd, and upstart all included)

[2015-07-22 15:33] thaJeztah opened #14856 "Disable Userland proxy by default"
The userland proxy was made optional in https://github.com/docker/docker/pull/12165 (ported to libnetwork in https://github.com/docker/libnetwork/pull/171),
but still enabled by default because (if I remember correctly) disabling it caused issues on RHEL6 (cf https://github.com/docker/docker/pull/10676).

Now that we will stop supporting RHEL6 with the coming 1.8 release, I think we can change the

[2015-07-22 15:33] GordonTheTurtle commented on #14856
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-22 15:35] thaJeztah commented on #14856
ping @docker/maintainers @mrjana @mavenugo

[2015-07-22 15:35] ewindisch commented on #14647
Please verify if this is still happening with a recent version of Docker.

[2015-07-22 15:42] icecrime commented on #14756
@peggyl There's not such thing as overabundance of caution :p My take on this is that the Golang dependency model assumes that changes happen on master, and that downstream should vendor and update at their own pace, so I don't think we should bother. Also if those symbols _can_ be made private to Docker itself, then they most likely shouldn't be part of the package interface anyway.

[2015-07-22 15:43] icecrime commented on #14756
Thank you all! List updated: I'll update the linted list in CI next.

[2015-07-22 15:46] cpuguy83 commented on #13191
Closing since these are not removed.
Also the new apt repo `apt.dockerproject.org` is a proper repo that stores versions in a single package name.

[2015-07-22 15:54] lioryanko commented on #13697
@nalind I don't know of any existing infrastructure to mock C functions from inside go. What makes most sense to be honest is to wrap GSS API and pass an interface which you could then mock manually/using gomock.

I take it that I'll be writing the integration tests then?

[2015-07-22 15:56] #12002 closed

[2015-07-22 16:12] mrjana commented on #14856
@thaJeztah SGTM. I will push a PR once we get a few more thumbs up from @docker/maintainers.

ping @icecrime as well

[2015-07-22 16:13] cpuguy83 commented on #12603
@mlehner616 Is this still an issue on 1.7.1 (or master)

[2015-07-22 16:13] cpuguy83 commented on #12603
Also ping @mavenugo @mrjana

[2015-07-22 16:14] tiborvass commented on #14856
I personally think @thaJeztah's proposal makes sense. +1 on changing default to false but keeping the flag just in case we have reports of other weird issues.

[2015-07-22 16:20] thaJeztah commented on #14704
Just FYI, we currently don't accept changes to the Dockerfile syntax (and behavior), until after the builder has been moved to the client. (see the [roadmap]( https://github.com/docker/docker/blob/master/ROADMAP.md#22-dockerfile-syntax))

Discussing it shouldn't hurt though.

[2015-07-22 16:20] mrjana commented on #14836
@tnachen Is `firewalld` running in your CentOS host?

[2015-07-22 16:20] trevorjay commented on #14396
I've now taken an extensive look at the iptables rules and think that this is a simple ordering issue on the part of the newer version of Docker. I compared 1.6.0 and 1.7.1 both running with the latest firewalld (0.3.14.2-2.fc22). The only relevant differences in iptables rules seems to be the forwarding chain of the filter table. For 1.6:

    Chain FORWARD (policy ACCEPT 0 packets, 0 bytes)

[2015-07-22 16:26] LK4D4 commented on #14856
I think we should check if netlink for Hairpin isn't supported with `--false` and die then.

[2015-07-22 16:26] Evalle commented on #14847
Hi @amoalsale please, check out this page https://docs.docker.com/project/make-a-contribution/

[2015-07-22 16:29] cpuguy83 commented on #10707
@mustafaakin Is this satisfied by the new `--no-stream` option on the CLI? (also stream=false on the API)

[2015-07-22 16:30] tianon commented on #14856
:+1:

[2015-07-22 16:35] cpuguy83 commented on #13264
Can this be closed?

[2015-07-22 16:37] cpuguy83 commented on #10777
Should this be closed in light of runC/OCF?

[2015-07-22 16:37] TuxInvader opened #14859 "fixed-cidr and default-gateway cause out of range error when subnetting bridge"
The documentation for networking implies that I should be able to set a fixed-cidr which is a subnet of the bridge address. However the daemon barfs if the gateway I chose is not within the fixed-cidr range. This check should be that the gateway is within the CIDR of the bridge, not the fixed-cidr.

    $ sudo ip addr add 192.168.0.254/24 dev docker1
    $ sudo docker -d --fixed-cidr=192.168.0.0/2

[2015-07-22 16:37] GordonTheTurtle commented on #14859
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-22 16:40] cpuguy83 commented on #12832
Just to confirm, this is happening with devicemapper?
Can you paste your `docker info` and `docker version`?
Does this still happen on docker 1.7 with a properly configured system? (i.e., udev sync must be supported)

[2015-07-22 16:49] aidanhs commented on #14816
A good repro is always the problem, unfortunately it seems to be intermittent. I'm currently working on getting it in a VM.

[2015-07-22 16:51] LK4D4 commented on #14816
@aidanhs For kernel guys trace might be enough. Definitely makes sense to report to Canonical.

[2015-07-22 16:54] cpuguy83 commented on #13197
Closing since this is now available.

[2015-07-22 16:54] #13197 closed

[2015-07-22 16:54] jberkus commented on #783
Feiyang,

I am unclear on what your crash report has to do with the named bug.  Also, this bug is closed.

[2015-07-22 17:06] aidanhs commented on #14816
Commented on https://bugs.launchpad.net/apparmor/+bug/1448912 which seems suspiciously similar. I'll see whether they agree.

[2015-07-22 17:17] calavera commented on #2733
@bfirsh please feel free to open an issue in Compose to track it then. As I said, it doesn't belong to the engine.

[2015-07-22 17:19] cpuguy83 commented on #14859
ping @mrjana

[2015-07-22 17:30] jlhawn commented on #10038
:+1:

[2015-07-22 17:33] saada commented on #6396
:+1:

[2015-07-22 17:38] haldean commented on #5684
I'm hitting this extremely frequently, and I'm using aufs, not devicemapper:

[code]

[2015-07-22 17:50] phanimahesh commented on #14845
Thanks, I found these interesting lines in the log. They reflect my failed attempts at killing, stopping and attaching, and appear to have stacktraces.

On a sidenote, why on earth are colorcodes written to log? It was a mess, I had to clean it up with
`sed -r "s/\x1B\[([0-9]{1,2}(;[0-9]{1,2})?)?[m|K]//g"` to make it readable.

[code]

[2015-07-22 17:51] rhatdan commented on #14396
Large sections of the docker-1.6 firewalld support were dropped when docker moved to libnetwork.  Alec on my team is preparing a patch to add them back.  When we have them back we will check if it works, if not we will look to what you are suggesting.

Thomas Woerner (firewalld maintainer) points out in the bugzilla

"""Please have a look at https://github.com/docker/docker/pull/9397/files. There

[2015-07-22 17:53] eolamey commented on #14859
I had the exact same issue and opened https://github.com/docker/libnetwork/issues/287 some time ago.

[2015-07-22 17:57] coopernurse commented on #12489
We're seeing the same issue as @erikswanson - intermediate layers are always re-pushed.

We also see duplicate work happening on push.  Here's an example from one push, with the checksum counts:

[code]

This results in push times > 2 minutes even when no layers have been modified (private docker registry), or > 30 minute push times to docker hub.

[2015-07-22 18:01] nalind commented on #13697
@lioryanko If you're volunteering, sure! :smile: I have to spend the next little while working on other things, but I expect to be getting acquainted with writing tests next.

[2015-07-22 18:18] cpuguy83 commented on #14728
@timthelion Actually this doesn't error out in 1.7

[2015-07-22 18:19] mrjana commented on #14859
@TuxInvader @eolamey There is a PR open in docker/libnetwork to fix this. We will try to get it in docker 1.8 release

[2015-07-22 18:19] cpuguy83 commented on #13451
I'm not sure what's expected here.

[2015-07-22 18:23] thaJeztah commented on #14396
@rhatdan sounds good, is assistance needed from the libnetwork maintainers at this stage?

[2015-07-22 18:26] Ramzec opened #14866 "Cannot build the latest "master""
<pre>
Linux nix-devel1 4.0.5-gentoo #1 SMP Sun Jul 12 17:26:24 MSK 2015 x86_64 Intel(R) Core(TM) i7 CPU 930 @ 2.80GHz GenuineIntel GNU/Linux
</pre>

<pre>
Client:
 Version:      1.8.0-dev
 API version:  1.20
 Go version:   go1.4.2
 Git commit:   96d2071-dirty
 Built:        Tue Jul 14 13:14:25 UTC 2015
 OS/Arch:      linux/amd64

Server:
 Version:      1.8.0-dev
 API version:  1.20
 Go version:

[2015-07-22 18:26] GordonTheTurtle commented on #14866
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-22 18:27] aaronlehmann commented on #12489
Looking into this.

[2015-07-22 18:28] rhatdan commented on #14396
No I don't believe so.  Looks like the patches that are missing are all about making changes "permanent" in firewalld.  IE Survive systemd restart firewalld.  We are now looking further into @trevorjay suggestion.

[2015-07-22 18:30] dgeske commented on #14511
Brian, thanks for picking this up so quickly. In theory that's a great and simple solution. Unfortunately it does not work for me:
[code]

[2015-07-22 18:33] cles commented on #14185
just dropping by because I had this exact same problem and just figured it out, maybe it's the same situation and I can help:

systemd-network has started setting forwarding to off for specific interfaces configured on it since 219/220, so setting sysctl net.ipv4.conf.all.forwarding=1 is not enough anymore, it will not work.

check sysctl net.ipv4.conf.<physical interface>.forwarding, mine was set

[2015-07-22 18:36] eolamey commented on #14859
@mrjana thanks, that would be awesome!

[2015-07-22 18:40] thaJeztah commented on #14859
@mrjana want me to add this to the 1.8 milestone?

[2015-07-22 18:52] TuxInvader commented on #14859
Excellent - Thanks guys!

Apologies for the dupe bug, I didn't spot the previous issue in my searches.

[2015-07-22 19:12] cpuguy83 commented on #14866
Are you behind a corporate proxy or something?

[2015-07-22 19:33] Ramzec commented on #14866
no, i have no proxy. Yesterday i had no issues. Today i pulled the latest changes. After that i cannot build.

[2015-07-22 19:34] mrjana commented on #14859
@thaJeztah sure

[2015-07-22 19:38] thaJeztah commented on #14859
@TuxInvader no problem, you encountered the issue while using Docker; We can't expect you to search the other repos as well. I think it's good to have this issue opened here, so that we can keep track here.

@mrjana added to the milestone; please add a `fixes #14859` when updating the vendored libnetwork

[2015-07-22 19:46] paralin commented on #10091
Has there been any progress towards fixing this issue? I'm experiencing very slow commits on btrfs at the moment.

[2015-07-22 19:48] phemmer commented on #14866
Check your system clock. I have a feeling it might be off by a few years.

[2015-07-22 19:53] vdemeester commented on #14756
@icecrime well, in the end not doing ``pkg/term/winconsole``, see https://github.com/docker/docker/pull/14759#issuecomment-123843604. We'll wait a bit on this one :stuck_out_tongue_closed_eyes:.

[2015-07-22 19:54] RichardBarrell opened #14870 "docker import can't cope with hardlinked symlinks."
"docker import" chokes when I feed it a tarball containing two symlinks that are hardlinks to one another.
That sentence probably makes no sense, so here are repro steps that work for me on Docker 1.5.0 on Fedora 20:

    mkdir x
    ln -s whatever ./x/symlink1      # now x/symlink1 is a symlink to 'whatever'
    ln ./x/symlink1 ./x/symlink2     # now x/symlink2 is hardlinked to x/symlink1
    tar

[2015-07-22 19:54] GordonTheTurtle commented on #14870
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-22 19:59] RichardBarrell commented on #14870
$ docker version
    Client version: 1.5.0
    Client API version: 1.17
    Go version (client): go1.3.3
    Git commit (client): a8a31ef/1.5.0
    OS/Arch (client): linux/amd64
    Server version: 1.5.0
    Server API version: 1.17
    Go version (server): go1.3.3
    Git commit (server): a8a31ef/1.5.0

    $ docker info
    Containers: 0
    Images: 42
    Storage Driver: devicemapper
     Pool

[2015-07-22 20:21] aaronlehmann commented on #12489
One thing I see in many of these comments is that there's redundant effort spent checking whether images already exist with HEAD requests - for example:

    45e91323aec3: Image already exists
    45e91323aec3: Image already exists

I can reproduce this by creating multiple tags. This could be slowing down pushes in cases that involve a lot of tags. It should be relatively easy to fix these duplic

[2015-07-22 20:33] Thell commented on #13264
@cpuguy83 sure; I had left it open until these changes hit mainstream for others; but it seems others don't have an issue with it. :)

[2015-07-22 20:33] #13264 closed

[2015-07-22 20:33] mmdriley commented on #10318
Git has already solved this problem with credential helpers. Perhaps Docker can import that idea? (Ideally, even, allow shared implementations?)

[2015-07-22 20:39] Ramzec commented on #14866
Patrick, big thanks. I was in the past :-)
The issue can be closed, sorry for troubling.

[2015-07-22 20:41] #14866 closed

[2015-07-22 20:46] calavera commented on #7477
we just merged #14699 that allows you to run `docker ps --format ...` to change the ps output. You can also set a default format if you want, check this screenshot out:

![image](https://cloud.githubusercontent.com/assets/1050/8836829/037311b6-3078-11e5-94cd-46d35976d5f4.png)

I'm going to close this issue as fixed. Please, feel free to give that a try and let us know what you think.

[2015-07-22 20:51] anandkumarpatel commented on #12627
+1 saw this issue
logs here
https://s3-us-west-2.amazonaws.com/runnable-public/docker_panic_JUL_22_2015.log
[code]

[2015-07-22 20:56] erikswanson commented on #12489
Big difference from my circumstances: doing a pull. This is happening with images that were built on the machine that's doing the pushing.

The layers in question, the ones being re-uploaded every single time, are also rather large (180Mb approximately), hence the half-hour times I'm seeing for a couple dozen pushes.

[2015-07-22 20:58] iano123 commented on #6743
+1

[2015-07-22 21:00] mitchcapper commented on #12489
it does seem to not be random as to which image but rather certain images with when pushing dozens of images/layers the same one image layer may be pushed multiple times from dockerfile to dockerfile.

[2015-07-22 21:01] aaronlehmann opened #14873 "Redundant HEAD requests on push checking if the same layer exists"
Description of problem:

Pushing a repository can cause many redundant HTTP HEAD requests to the registry, which check the existence of the same image. For example:

    $ docker push localhost:5000/aaronl/golang
    The push refers to a repository [localhost:5000/aaronl/golang] (len: 4)
    124e2127157f: Image already exists
    124e2127157f: Image already exists
    69c177f0c117: Image already e

[2015-07-22 21:04] brahmaroutu commented on #14756
Finished aufs and btrfs I can take the rest as they look similar issues with lint?
daemon/graphdriver/devmapper
 daemon/graphdriver/graphtest
 daemon/graphdriver/overlay
 daemon/graphdriver/vfs
 daemon/graphdriver/zfs

[2015-07-22 21:05] coopernurse commented on #12489
The layers that always re-push for us also happen to be of medium size (one is ~190MB, the other is ~60MB).  There are two layers that are consistently re-pushed.

We're using docker 1.7 on CentOS 7.  `docker info` output from our build host:

[code]

`docker version`:

[code]

[2015-07-22 21:06] icecrime commented on #14756
@brahmaroutu Please prioritize getting any of your outstanding PR merged, otherwise sure.

[2015-07-22 21:08] thaJeztah commented on #7477
For those wanting to give it a try, "master" builds can be found at https://master.dockerproject.org and this feature should be in there soon (if not already)

[2015-07-22 21:08] mitchcapper commented on #12489
I am also not sure if it is somehow related to tagging that causes the issue but the base layer we have gets tagged a few ways.

[2015-07-22 21:09] brahmaroutu commented on #14756
@icecrime I am waiting on review atm.

[2015-07-22 21:28] nthiery commented on #12277
Thanks for asking.

Following the suggestion here, some Sage dev managed to investigate and track down a race condition in our usage of Python's multiprocessing queue (which are used simultaneously by our test system and some functions being tested). There remain two similar issues that need to be tracked down. For details, see: http://trac.sagemath.org/ticket/17924

By the way: @embray mentionned

[2015-07-22 21:38] frioux opened #14876 "Weird error when using docker exec"
I made a little repo to try to demonstrate a separate issue (which I'll post once this one is somehow resolved): https://github.com/frioux/agent-test.

On my computer I can run

[code]

and I get the following unusual error:

`nsenter: Failed to open ns file /proc/963543/ns for ns ipc: No such file or directory`

At the very least the error should be more clear, but as far as I can tell I'm not do

[2015-07-22 21:38] GordonTheTurtle commented on #14876
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-22 21:42] icecrime commented on #14856
I'm all for it, I'm just a bit worried as I don't think so many people are giving `--userland-proxy=false` a try today (I have it on my host since 1.7.0 without issues), but that's what the freeze period is for.

[2015-07-22 21:46] frioux commented on #14876
Sorry about that!  I did look through the issues and couldn't find another similar issue.

[code]

Steps to reproduce issue:

1. git clone git@github.com/frioux/agent-test
2. cd agent-test
3. make build
4. make fail

I expected to see either a list of ssh-keys or a strange error related to ssh-agent permissions

Instead I see an error related to docker exec itself.

[2015-07-22 21:48] thaJeztah commented on #14856
@icecrime true, but holding off longer won't help there. We've got the flag to give users a way to restore the old behaviour, so even if it results in issues, we can offer users a solution without having to release an update.

[2015-07-22 21:51] icecrime commented on #14856
@thaJeztah I agree. Do you want to try this for 1.8.0? I'm assuming we'd need a libnetwork PR (to give us `HairpinModeSupported() bool`)?

[2015-07-22 21:56] thaJeztah commented on #14856
I think it would be good to have this in 1.8.

@mrjana is already in this discussion and offered to create a PR to accommodate the changes (https://github.com/docker/docker/issues/14856#issuecomment-123775368)

I'll add it to the milestone (unless @calavera has objections)

[2015-07-22 22:06] thaJeztah commented on #13697
Been following this discussion with interest. Compliments for the excellent work you're doing here. :heart: the way this is progressing :+1:

[2015-07-22 22:07] calavera commented on #14856
sounds great!

[2015-07-22 22:24] tiborvass commented on #11529
Added to 1.9.0 coz #yolo

[2015-07-22 22:25] thaJeztah commented on #11529
@tiborvass should be added to ROADMAP.md?

[2015-07-22 22:25] runcom commented on #11529
:smile_cat:

[2015-07-22 22:26] tiborvass commented on #11529
@thaJeztah you're late to the game :)

[2015-07-22 22:33] dhbarnett opened #14879 "typo on website"
In your tutorial documentation on https://docs.docker.com/mac/step_four/ you have in steap 1.5:

CMD /usr/games/fortunes -a | cowsay

and then on step 2.2:

CMD /usr/games/fortune -a | cowsay # Singular fortune

The 2nd example is correct.

[2015-07-22 22:33] GordonTheTurtle commented on #14879
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-22 22:38] dhbarnett commented on #14879
docker version: None
docker info: The website
uname -a: my name minus a would be Dvid

Provide additional environment details (AWS, VirtualBox, physical, etc.): Website

List the steps to reproduce the issue:
1. Go to the website
2. Look at the what I submitted before the bot rejected me.

[2015-07-22 22:49] cpuguy83 commented on #12277
Maybe it's a matter of having more resources available (or rather fewer default restrictions, as is the case with ulimit, probably).

[2015-07-22 22:52] cpuguy83 commented on #14876
This looks like it may be that you are starting cash without -t, and so it stops immediately, but is running for long enough for your exec command to fire.

[2015-07-22 22:53] cpuguy83 commented on #14876
*bash, darn phone...

Bash needs a tty otherwise it will exit.

[2015-07-22 22:56] thaJeztah commented on #13803
We decided to close this for now (see https://github.com/docker/docker/pull/13857#issuecomment-123897108), but feel free to re-open if you still think we want this :smile:

[2015-07-22 22:56] #13803 closed

[2015-07-22 23:00] nsg commented on #7477
While the `--format` is a really nice addition, I do not think this solves the primary problem. Almost all command line tools that I use daily handles variable sized terminals properly. Most by looking at the `$COLUMNS` environment variable and displaying the text appropriate.

For example, `ps aux` in a 80x24 terminal:
![screenshot from 2015-07-23 00 47 35](https://cloud.githubusercontent.com/ass

[2015-07-22 23:03] frioux commented on #14876
Thanks @cpuguy83!  I should have realized that there was some kind of race condition.  There could theoretically be a better error message nonetheless.  I'll let you decide if you want to just close this because it's so weird

[2015-07-22 23:04] olliewalsh commented on #12277
Didn't look like a limits issue. I'm guessing signals are delayed ever so slightly when running within a container, which has exposed a race condition

[2015-07-22 23:05] didip opened #14881 "1.7.1 is not detecting btrfs on CentOS 7"
**docker version**
[code]
**docker info**
[code]
[code]
**Environment details**
* Bare metal
* `/etc/redhat-release`: `CentOS Linux release 7.1.1503 (Core)`
* `mount`: `/dev/mapper/VolGroupData-Data on /data type btrfs (rw,noatime,nobarrier,space_cache)`

**Steps to Reproduce:**
Modify `/etc/sysconfig/docker`, add: `OPTIONS=" --storage-driver=btrfs"`

**Expected:**
[code]

**Actual:**
[code]

[2015-07-22 23:07] ryanmaclean commented on #12469
+1 here as well... thanks guys!

[2015-07-22 23:14] frioux opened #14882 "Strange interaction between volume usage and --user"
[code]

Steps to reproduce issue:

agent-test.diff:

[code]

1. git init agent-test
2. cd agent-test
3. git apply agent-test.diff
3. make build
4. make fail

I expected to see a list of ssh-keys

Instead I see `Error reading response length from authentication socket.`

[2015-07-22 23:17] bradfordcp commented on #10180
@ricardobranco777 that fix did not work for me (when placed on its own `RUN` line). Although I did not test putting the `touch` command at the end of my `yum install` `RUN` entries.

[2015-07-22 23:54] mountkin commented on #14845
I noticed that if you try to resize a starting container it may panic because the "execConfig.ProcessConfig.Terminal" is a nil pointer. I'm able to reproduce the panic regarding to the "resize" API. Working on a patch to fix it.
I'll look into the other panic too.

[2015-07-23 00:03] frioux commented on #14882
Beware, after doing the above your own ssh-agent will likely be of the wrong permissions.  To fix it, `sudo chown my-user $SSH_AUTH_SOCK` on your host;  sorry!

[2015-07-23 00:40] fizzy33 commented on #3285
+1

[2015-07-23 01:11] icecrime commented on #11008
Alright, I think it's clear we can't leave this as it is, and after discussing with @avinson I understand this better.

- Changing the behavior of `--restart=always` is not the right solution: this is working as designed, and I'll remove the `bug` label.
- Making it possible to invalidate the restart policy is not the right solution: people who forget to remove unused container today will forget t

[2015-07-23 01:14] icecrime commented on #14213
Closed by #14659.

[2015-07-23 01:14] #14213 closed

[2015-07-23 01:19] vaibhavkhanduja commented on #14213
@icecrime Are issues raised above taken care?

[2015-07-23 01:26] icecrime commented on #14213
I haven't read through comments yet to see how the issue has diverged and if we should be filing more about this.

[2015-07-23 01:28] #14873 closed

[2015-07-23 02:00] DouglasRoyds commented on #13451
Docker allows a directory structure to be created that can not be deleted. This is a bad thing: a defect. It has down-stream effects on other projects (coreutils, OpenEmbedded), which is not ideal either. How serious is it? Not so bad - at least there are some work-arounds available.

So what is expected? A fix perhaps, but it's up to you.

[2015-07-23 02:01] EvanKrall commented on #10490
I also see a lot of docker containers (e.g. code building containers) where IO performance is important for speed, and durability is not.

I would love to see some tunables for this (either the ability to run a container in ramdisk or to otherwise inform the kernel to prefer speed over durability).

@vincentwoo If you find settings that seem to work for you, can you post an update?

[2015-07-23 02:01] sobrinho commented on #7525
I'm in favor of creating a new repo like docker/docker-vim because I don't want to clone the entire docker repository just to grab the plugin.

Keeping this repository on the main repository do not makes sense IMO because it would lead us to pull all unrelated changes from docker itself if we are just looking for updates on the plugin.

A 50/50 solution would be a [subtree split repo](https://help

[2015-07-23 02:06] vincentwoo commented on #10490
I was unable to get the OS to play along in a noticeable way, even with dirty settings. I'm toying with trying to mount docker under tmpfs or ramfs, but I don't have anything exciting for you, yet.

[2015-07-23 02:13] cpuguy83 commented on #13451
@DouglasRoyds I don't see how Docker is allowing this, or how it could prevent it.
Are you sure you aren't memory constrained in the container?

[2015-07-23 02:23] soichih commented on #10207
@ljani

Thanks for this info!

[2015-07-23 03:08] moypray opened #14888 "network down while making image using 1.7.0 release"
I met a issue:
Test Case:
  1. setup HTTPs docker daemon in a Server using TCP ports:  [this Server named "Deamon Server"]
     docker -dD -H tcp://0.0.0.0:6789  --tlsverify --tlscacert=/root/.docker/certs/ca.pem --tlskey=/root/.docker/certs/server-key.pem --tlscert=/root/.docker/certs/server-cert.pem
  2.  on another Server [named client Server], I run a container [for simple,any container would

[2015-07-23 03:08] GordonTheTurtle commented on #14888
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-23 03:13] feiyang21687 commented on #783
@jberkus

We haven't found the reason of daemon restart. We just get some kernel logs in ```dmesg```, and the time can be matched.

[code]

[code]

so we suspect the ```unknown option dirperm1``` is the cause. And we google it, then found this issue.

We need help, we want to know whether or not ```unknown option dirperm1``` could cause daemon terminate?

[2015-07-23 03:19] vaibhavkhanduja commented on #14213
I guess there are things which should be resolved ... through this issue or may be another one?

[2015-07-23 03:19] cpuguy83 commented on #13513
This sounds related to something else running on the host.
Is this still an issue? Have you tried with 1.7.0 (which has a complete network rewrite)?

[2015-07-23 03:21] bezelga opened #14889 "--volume-driver not being recognized "flag provided but not defined: --volume-driver""
Experimental Docker does not seem to recognize the `--volume-driver` param, running something like:

`docker run -ti -v test:/data --volume-driver=myplugin busybox sh`

Results in:

`flag provided but not defined: --volume-driver`

The docker version I am using is:

[code]

[2015-07-23 03:21] GordonTheTurtle commented on #14889
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-23 03:21] cpuguy83 commented on #13081
Is this being worked on? If not I'd like to close this since it's not really actionable.

[2015-07-23 03:28] cpuguy83 commented on #10839
Or you could use labels to differentiate.

[2015-07-23 03:34] cpuguy83 commented on #13521
Any update here?

[2015-07-23 03:39] cpuguy83 commented on #12853
If you have access to the host you can certainly mount whatever you want, the filesystems are all there in docker root, and `docker inspect` even provides details about the container's fs from the graph driver.
You can now (on master, and soon 1.8) stat paths from the container FS via the API.

I think beyond this it is best left to external tooling.

[2015-07-23 03:39] #12853 closed

[2015-07-23 03:41] moypray commented on #14888
hi , if use HTTP not HTTPs, the result is the same

[2015-07-23 03:42] cpuguy83 commented on #13904
You can certainly run `df -h` from the host to see this as well.
In addition, `docker inspect` will also give you detailed information about the device mapper volume used for the container which you can use to manually inspect.

[2015-07-23 03:42] #13904 closed

[2015-07-23 03:47] lzlarryli opened #14890 "Moving a subdirectory in shared volume gives the container root access to the whole host filesystem"
Moving a subdirectory in a shared volume on the host when the container is in that subdirectory gives the container root access to the entire host filesystem. To replicate this, run on the host:

    mkdir -p ~/tmp/foo/bar
    docker run -it --rm --volume ~/tmp/foo:/opt ubuntu:latest

In the container,

    cd /opt/bar

Then in the host,

    mv ~/tmp/foo/bar ~/tmp/

Then in the container,

    cd

[2015-07-23 03:47] GordonTheTurtle commented on #14890
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-23 04:58] bkeyoumarsi commented on #14889
I would say update your experimental build by running  curl -sSL https://experimental.docker.com/ | sh

[code]

It works for me. It's been working for a few weeks now since that's how I'm testing my volume-driver plugin :) It still worked after I updated the build on my local dev.

[2015-07-23 04:59] vijayendrabvs commented on #14743
Any update on this?

[2015-07-23 04:59] vijayendrabvs commented on #14666
cc: @mrjana @dave-tucker
Any update on this?

[2015-07-23 05:03] marcellodesales commented on #14634
Expectations
----
@icecrime I think you definitely gave a great summary about the importance of this feature... As  (#14298) is prioritized, do you see (#9176) also making their way to Docker 1.8??? I've been waiting for this feature for such a long time and it is blocking the development of a Docker Registry + Builder solution, for instance.

CI Servers in mind
-------

Our worker hosts are behin

[2015-07-23 05:16] moypray commented on #14888
Today, I do more tests,  the build command run on Client Server only, not in a  container.
For 1.7.0 docker, the connection will be cut down too.

[2015-07-23 06:31] mustafaakin commented on #10707
Yes, it reads one time stat and closes the connection.

[2015-07-23 06:31] #10707 closed

[2015-07-23 06:47] nthiery commented on #12277
Thanks @cpuguy83  and @olliewalsh for the insight.
We indeed checked the resource limits and they were almost identical with and without docker, and among the many experiments Vincent Neri tried, I am pretty sure he had some with thighter limits outside docker, and this did not trigger the issue.

[2015-07-23 06:52] denghongcai commented on #3804
Any updates?

[2015-07-23 06:58] rajeshgotur opened #14892 "Get https://index.docker.io/v1/repositories/library/hello-world/images"
Hi
 I am getting the below error while installing Docket Initially; followed the below steps -
1.Clicked the icon to launch a Boot2Docker terminal.
2. Allowed VirtualBox to make changes to your computer. The terminal did several things to set up Boot2Docker.
3.The terminal displayed the $ prompt.
4.Typed docker run hello-world command with office network. Got below error (probably because of Firew

[2015-07-23 06:58] GordonTheTurtle commented on #14892
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-23 07:01] rajeshgotur commented on #14892
Hi I searched it, Looks like a new issue. But don't thin it is bug.

[2015-07-23 07:05] rhuss opened #14894 "Is the query parameter 'filter' for '/images' officially supported ?"
The query parameter [filter](https://github.com/docker/docker/blob/7e4db0a3704b3f156e6a67ce32a7fcada61fdef1/api/server/server.go#L358) can be used in `GET /images/json?filter=myname` to match on image name. This is not documented so I wonder whether this is an official feature on can rely on ?

BTW, `filter` doesn't work well with default registries `index.docker.io` and `docker.io`. I.e. if you c

[2015-07-23 07:05] GordonTheTurtle commented on #14894
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-23 07:10] jrandall commented on #4962
This issue recently came up in GNU guix, which also uses a form of containerisation during the build process. The solution there was to create a core configuration option called `leaked_env_vars` (https://www.gnu.org/software/guix/manual/html_node/Derivations.html#index-derivation-1) which defines a list of environment variables that are injected into the build environment from the outer environme

[2015-07-23 07:14] jrandall commented on #4962
@danday74 that works for sharing the image but not the `Dockerfile` itself (and critically, not for building a `Dockerfile` from elsewhere that doesn't include proxy vars that match your environment).

[2015-07-23 08:01] nomeata commented on #12328
No, that does not work:
[code]

[2015-07-23 08:35] gesellix commented on #14742
I'd like to propose this change: https://github.com/gesellix/docker/commit/4d4df416ecebebc86ffd79bfff4ad32c632ef9be
Would it have a chance to be merged?

ping @vieux

[2015-07-23 08:46] istrike opened #14895 "coreos docker opts set storage-opt not effect"
i have write a docker unit file for systemd /etc/systemd/system/docker.service
[code]
then i reload and restart docker.service and docker.socket
[code]
[code]

[2015-07-23 08:46] GordonTheTurtle commented on #14895
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-23 08:59] WangWenchao commented on #14077
[code]
maybe fix this problem

[2015-07-23 09:03] istrike commented on #14895
Description of problem:
coreos docker opts set storage-opt not effect
`docker version`:
[code]
`docker info`:
[code]

`uname -a`:
[code]

Environment details (AWS, VirtualBox, physical, etc.):
physical
How reproducible:
write a docker unit file and save it to /etc/systemd/system/docker.service
[code]
Steps to Reproduce:
1.systemctl daemon-reload
2.systemctl stop docker.service &&systemctl stop doc

[2015-07-23 09:21] amouat opened #14896 "Experimental build isn't experimental"
Something seems to be wrong with the experimental build:

[code]

Note that this is *not* an experimental build, but a stable build of master.

[2015-07-23 09:21] GordonTheTurtle commented on #14896
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-23 09:22] amouat commented on #14896
Also, it seems to be over a week old. I thought installing this way was meant to give me last night's experimental build?

[2015-07-23 09:44] BenHall commented on #14738
I also appear to be leaking a *lot* of interfaces - https://gist.github.com/BenHall/4a4e42575dd29d7b669b

Box only has 9 containers running

[2015-07-23 10:00] snth commented on #8279
I can reproduce this on Ubuntu 12.04 with Docker version 1.7.1. Music streaming stops when Docker builds images.

[code]

[2015-07-23 10:07] unclejack commented on #8279
Can anyone reproduce this when playing back an audio file located on the local machine, not when streaming?

[2015-07-23 10:27] runcom commented on #14367
closing since #14332 has been merged

[2015-07-23 10:27] #14367 closed

[2015-07-23 10:32] gtmtech commented on #10163
+1 This would be so useful for monitoring tools attaching to other containers. Otherwise you have to install them inside which violates all kinds of 12factorness

[2015-07-23 10:34] runcom commented on #14164
as per my previous comment I think this issue should be closed but feel free to ping me if I'm mistaken and I'll reopen it

[2015-07-23 10:34] #14164 closed

[2015-07-23 10:39] kojiromike commented on #13081
I'll open individual prs for lint issues.

[2015-07-23 10:39] #13081 closed

[2015-07-23 11:10] smunaut commented on #9572
Modifying the lowerfs while there is an overlay mounted over it is not allowed. See /Documentation/filesystems/overlayfs.txt and its "Changes to underlying filesystems" section ...

[2015-07-23 11:25] phemmer commented on #14895
I'm confused. You said you created a unit file with the contents:

    ExecStart=/usr/bin/docker -d -H fd:// --insecure-registry docker.unimatic.local:5000 --storage-opt dm.basesize=40G --storage-opt dm.loopdatasize=200G --storage-opt dm.loopmetadatasize=4G --storage-driver=devicemapper $DOCKER_OPTS

And then when you run `systemctl status`, you see

    /usr/bin/docker -d -H fd:// --insecure-regi

[2015-07-23 11:33] istrike commented on #14895
yeah i checked . i try write these --storage-opt behind -d opts or at the last . then i both reload and restart .
it seems working but  when i check the docker info .the opts not working .

[2015-07-23 11:46] basak commented on #14160
Ubuntu core dev here. If you need anything from Ubuntu to help fix this, please let us know.

[2015-07-23 11:47] basak commented on #14160
(in the meantime we're pushing 1.6.2 into the Trusty repositories, but will hold on the 1.7 series pending this issue being fixed upstream)

[2015-07-23 12:30] duglin commented on #14894
@rhuss does it work if you leave off the docker.io part of the filter?

[2015-07-23 12:40] rhatdan commented on #14396
We found the problem late yesterday.  Alec will be building the patch when he gets in this morning, and we should ship updates today for docker-1.7 into Fedora.

The problem was that the

    0     0 ACCEPT     all  --  docker0 docker0  0.0.0.0/0            0.0.0.0/0

Was being added with an APPEND.  In the case where firewalld was not running this was not a problem, since no tool as adding the bl

[2015-07-23 12:48] bezelga commented on #14889
Hello @bkeyoumarsi, thanks for the answer.

I tried to update with the command you said but the version seems to remain the same. You version was built in July 22... mine in July 15 and it does not have the `Experimental: true` as well.

[code]

[2015-07-23 12:58] rhatdan commented on #13697
Yes this is great and very much needed...

[2015-07-23 13:07] rhuss commented on #14894
Yes, the filter must be set literally as show when doing a `docker images`. So, when you do a `docker build -t docker.io/myimage` it appears as `myimage` in `docker images`. When searching with `filter=myimage` the image is found, but not with `filter=docker.io/myimage`.

For inspecting bot `GET /images/myimage/json` and `GET /images/docker.io%2Fmyimage/json` work.

[2015-07-23 13:13] phemmer commented on #14895
Ah, I see what you're saying now. I misinterpreted your question/issue.

[2015-07-23 13:18] cpuguy83 commented on #13341
I can't repro either.
Also doesn't make sense being that `--rm` is a client-side feature.

If you can provide a simple repro casting here.
Closing this now.

[2015-07-23 13:18] #13341 closed

[2015-07-23 13:22] jwalton commented on #10031
Same issue here.

[2015-07-23 13:30] cpuguy83 commented on #14010
This is a dup of #2174, and as stated in that one this is just an issue with netstat.
If something is not connecting correctly I'd just the service in the container is actually working properly rather than netstat.
Closing as this is a dup.

[2015-07-23 13:30] #14010 closed

[2015-07-23 13:32] caarlos0 commented on #14035
I did `mv /var/lib/docker{,old}` and this fixed the problem

[2015-07-23 13:38] CGavrila commented on #14819
@hqhq: Thanks for the help! Could you be a bit more specific as to what I could do to check that? I don't really know what I should be looking for.

[2015-07-23 13:43] WiR3D-kNiGhT commented on #8279
@unclejack Not on Mint 17.2 with Quod Libet going to alsasink.
If there are any particular outputs you want me to try I can.

[2015-07-23 13:43] cpuguy83 commented on #10778
Closing since #14021 was merged.
Also tested the repro case and it seems to work just fine now.

[2015-07-23 13:43] #10778 closed

[2015-07-23 13:44] cbalducci opened #14902 "Experimental script fails on fedora22"
If more than one rpm is present which matches che query \*-release the script will generate an invalid yum repo configuration as per lines 141:144

[code]

in my system the rpm command returns the following result
[code]

and the script generates this (broken) repo file

[code]

changing the query from \*-release to \*fedora-release solves the problem

[code]

[2015-07-23 13:44] GordonTheTurtle commented on #14902
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-23 13:46] j-griffith commented on #13420
FWIW, I'd leave the management functionality out of the picture for now (ie snapshots).  Docker isn't/shouldn't be an Infrastructure management platform.  Just a plugin to make things easier to consume.

[2015-07-23 14:01] cpuguy83 commented on #7857
Is this actionable or is this just a side-effect of using veth?
Also, on your NAT test, are you certain traffic was not routing through the userland proxy?

[2015-07-23 14:10] unclejack commented on #7857
@cpuguy83 This is indeed the kind of performance you get through NAT. It is still a problem because that's the default and some resort to host network to get around this problem.

[2015-07-23 14:11] cpuguy83 commented on #14038
This sounds like a connectivity issue in general...

But in any case, can you provide:

1. repro steps
2. docker info output
3. docker version output

[2015-07-23 14:12] Kallin commented on #12853
@cpuguy83
I'm not sure what you mean by 'mount whatever you want'. I know how to mount folders from host to container, but what about the reverse? IE, I have a folder in the container I want to mount to a folder that doesn't exist on the host. When I've tried this, it ends up taking the empty folder from the host and pushing that to the container, thus erasing the data in the container. I'm intere

[2015-07-23 14:13] tboquet commented on #11250
@xaibeha could you share your experience, I'm having the same issue :)

[2015-07-23 14:14] cpuguy83 commented on #12853
@Kallin from the host: `mount --bind /var/lib/docker/<graphdriver path>/<container id>/<path in container> </path/on/host>`

[2015-07-23 14:24] Kallin commented on #12853
Thanks @cpuguy83, I'll give that a shot, and hopefully this is useful reference to anyone else trying to pull off something similar.

[2015-07-23 14:25] jwalton commented on #10031
Didn't notice until after a power failure, then when I couldn't get things to start, I re-imaged the entire box, only to run into the exact same problem.

Linux: 3.16.0-44-generic #59~14.04.1-Ubuntu SMP Tue Jul 7 15:07:27 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
Docker version 1.7.1, build 786b29d
Virtualbox: 4.3.30r101610

[2015-07-23 14:26] tpires commented on #14881
Same behavior on Red Hat Enterprise Linux Server release 6.7 (Santiago).

Environment details
- VM
- mount : /dev/mapper/lv_docker on /var/lib/docker type btrfs (rw,noatime,nobarrier)

Kernel:
[code]

[2015-07-23 14:57] cpuguy83 commented on #10163
@gtmtech You can already share the host's pid namespace, which contains all the container PIDs.

[2015-07-23 15:05] cpuguy83 commented on #14889
I'd imagine the issue you are having is that both packages (experimental and non-experimental) are called `docker-engine` and have the same version.

ping @jfrazelle is there something we can/should do here to differentiate these packages?

[2015-07-23 15:19] thockin commented on #10163
@cpuguy83 That's the opposite of what we want - I want helpers to be able to signal apps, not for apps to be able to see the true nature of the universe.

[2015-07-23 15:23] cpuguy83 commented on #10163
@thockin I was specifically referring to @gtmtech's issue of monitoring stuff in the container without having to inject new stuff into that container.

[2015-07-23 15:30] gtmtech commented on #10163
Thanks @cpuguy83 , I was aware of that option.. I'm not sure I want to sacrifice process isolation in order to be able to monitor things, as it brings in all sorts of security considerations, so I'd still like to see container namespacing available, but thanks for the suggestion

[2015-07-23 15:31] cpuguy83 commented on #14896
ping @jfrazelle

[2015-07-23 15:37] cpuguy83 commented on #14888
Can you post exact reproducible steps?
It's also not clear what exactly are the actions you are taking or what is happening. Can you help me understand?

[2015-07-23 15:44] jfrazelle commented on #14896
I switched the new install script so I'll look into it

[2015-07-23 15:46] jfrazelle commented on #14896
Ooooooo I know what it is I'll fix it

[2015-07-23 15:49] ewindisch commented on #14890
Thank you for your report. We do request that such reports are sent to security@docker.com in spirit of responsible disclosure.

In this case, we are aware of this issue, but it requires a malicious user on the outside of the container with either root access, or with permission to modify files and directories utilized by a root user. All users in the Docker group are, by this definition, "root us

[2015-07-23 15:52] harche opened #14904 "Docker fails to run image with error "Invalid Argument""
`docker.log`

[code]

`docker info`

[code]

`docker run hello-world`

[code]

`docker version`

[code]

`uname -a`

[code]

`/var/log/syslog`

[code]

[2015-07-23 15:52] GordonTheTurtle commented on #14904
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-23 15:55] jfrazelle commented on #14889
no its the build script that broken ive opened a PR here https://github.com/docker/docker/pull/14903

we switched to the new apt/yum repos today so if the worst thing is we broke experimental ill be happy

[2015-07-23 15:57] thaJeztah commented on #14396
Thanks, @rhatdan, much appreciated. If https://github.com/docker/libnetwork/issues/409 resolves this issue, could you pay attention that there's a `closes #14396` is put on the PR for bumping libnetwork here? (it's sometimes overlooked for those)

I'm tentatively putting this on the 1.8 milestone

[2015-07-23 15:58] cpuguy83 commented on #14902
ping @jfrazelle

[2015-07-23 15:59] jfrazelle commented on #14889
so this is a dup of #14896 closing

[2015-07-23 15:59] #14889 closed

[2015-07-23 16:01] jfrazelle commented on #14902
you are welcome to open a PR with your fix or I can...

[2015-07-23 16:08] ewindisch opened #14906 "AppArmor Engine Policy"
The Docker Engine should have a policy for the engine itself (opposed to the containers).

We have just merged a base policy for the engine, but various improvements would eliminate audit messages or make it work better with various backends and plugins.

[2015-07-23 16:08] GordonTheTurtle commented on #14906
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-23 16:09] ewindisch commented on #14906
I have a branch where I have expanded upon the current profile, which only allows executing the binaries we explicitly list and have profiles for. It also fixes some issues with ptrace and other audit messages:

https://github.com/ewindisch/docker/tree/apparmor-engine-policy-nofile

/cc @stefanberger @tonistiigi

[2015-07-23 16:09] rhatdan commented on #14396
Sure

[2015-07-23 16:17] #14902 closed

[2015-07-23 16:20] phemmer commented on #14904
This line is the likely culprit:

    WARN[0000] Running modprobe bridge nf_nat failed with message: , error: exit status 1

You appear to be missing kernel support. As it is, containers will likely only run with host network mode (`docker run --net=host`).

If you can run [this script](https://github.com/docker/docker/blob/master/contrib/check-config.sh), it will tell you exactly what is missing.

[2015-07-23 16:26] harche commented on #14904
` ./test.sh`
[code]

[2015-07-23 16:27] harche commented on #14904
even with `docker run --net=host` I get the same error

[2015-07-23 16:36] phemmer commented on #14904
can you run `sudo modprobe bridge nf_nat` and provide the output. Also if there's any relevant info in `dmesg` (last few lines) that might help too.

[2015-07-23 16:37] vdemeester commented on #14603
I guess now everything has been merged, we are done :wink: :smiley_cat:.
Thanks everyone :tada:.

[2015-07-23 16:37] #14603 closed

[2015-07-23 16:41] harche commented on #14904
No output for `sudo modprobe bridge nf_nat`,

`dmesg`
[code]

[2015-07-23 16:42] awh opened #14908 "Intermittent masquerading failure caused by floating docker bridge MAC"
### Environment

[code]

[code]

### Problem

Whilst investigating weaveworks/weave#1171 I have uncovered a subtle problem involving the interplay between Linux bridge semantics, `docker -p` installed MASQUERADE rules and netfilter connection tracking. Refer to [this comment](https://github.com/weaveworks/weave/issues/1171#issuecomment-124118953) for a detailed description, but essentially the fai

[2015-07-23 16:42] GordonTheTurtle commented on #14908
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-23 16:46] phemmer commented on #14904
Ahha, not related to those modules at all. The `dmesg` output shows it:

    aufs au_opts_parse:1155:docker[25751]: unknown option dirperm1

There's some mention of `dirperm` [in the docs](https://docs.docker.com/reference/builder/#known-issues-run), but I don't use AUFS, so I'm not sure if it's related.

Someone else more familiar with the aufs driver will have to chime in.

[2015-07-23 16:56] rimolive opened #14909 "docker service times out after create/destroy a non-trivial number of containers."
After starting and destroy a considerable number of containers and restart docker service, it fails because of a timeout. Only after clean up contents inside /var/lib/docker and remove docker-pool Logical Volume I could finally start docker service.

[2015-07-23 16:56] GordonTheTurtle commented on #14909
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-23 17:05] #14896 closed

[2015-07-23 17:18] amouat commented on #14896
Thanks :)

[2015-07-23 17:21] #5490 closed

[2015-07-23 17:25] thaJeztah commented on #4962
Duplicated by https://github.com/docker/docker/issues/14634?

[2015-07-23 17:27] Evalle commented on #14652
fixed

[2015-07-23 17:27] #14652 closed

[2015-07-23 17:57] saschaarthur opened #14911 "Installer script fails"
Hey,

I want to inform you that your installer script (curl -sSL https://get.docker.com/ | sh) fails for debian 8.1.

The reason:

Your Code:

    if [ -z "$lsb_dist" ] && [ -r /etc/lsb-release ]; then
        lsb_dist="$(. /etc/lsb-release && echo "$DISTRIB_ID")"
        dist_version="$(. /etc/lsb-release && echo "$DISTRIB_CODENAME")"
    fi

The file which leads to the fail:

    # cat /etc/lsb-

[2015-07-23 17:57] GordonTheTurtle commented on #14911
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-23 18:02] adamretter opened #14912 "boot2docker init fails with VirtualBox 5."
[code]

Running the VBoxManager command after removing `--synthcpu off` works fine, i.e.

[code]

[2015-07-23 18:02] GordonTheTurtle commented on #14912
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-23 18:02] adamretter commented on #14912
Duplicate of https://github.com/docker/machine/issues/1498

[2015-07-23 18:02] #14912 closed

[2015-07-23 18:08] djsly commented on #14881
Same problem here on OEL 6.6 running UEK

We currently are experimenting the docker memory leak on our system (64gig usage after 3 days) and would require to move to 1.7.1 where the memory leak is fixed. https://github.com/docker/docker/issues/11079

When running docker 1.6.1 from the ol6_addons repo everything is fine.
I then did a yum remove docker, followed by a yum install docker-engine (using

[2015-07-23 18:19] spg commented on #13113
+1, this would be nice

[2015-07-23 18:27] bezelga commented on #14889
what should i do to install the experimental version now?

[2015-07-23 18:37] ianblenke commented on #14755
My apologies, I thought I had made it clear in the original issue comment.

We are experiencing the "docker-compose build" using the host's /etc/resolv.conf pointing at `nameserver 127.0.1.1`, even when the docker daemon itself is running with "--dns 172.17.42.1".

To answer your question: yes, we are seeing this problem even when we use `--dns`

[2015-07-23 18:41] caarlos0 opened #14914 "ENV depending on each other in a single layer"
If I set multiple variables in one layer, with one variable depending on the value of the other, it would not work.

Example Dockerfile:

[code]

Running:

[code]

Tested on Docker 1.6.2 and 1.7.1.

-----------

## `docker version`:

[code]

## `docker info`:

[code]

## `uname -a`

[code]

[2015-07-23 18:41] GordonTheTurtle commented on #14914
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-23 18:45] jfrazelle commented on #14896
it should be like 30 min til they are done building, but ill update here

[2015-07-23 18:48] jfrazelle commented on #14889
wait 30 min and it will be updated

On Thu, Jul 23, 2015 at 11:28 AM, bezelga <notifications@github.com> wrote:

[2015-07-23 18:48] jfrazelle commented on #14889
patience is a virtue ;) ill update here when its done

[2015-07-23 18:50] bezelga commented on #14889
ok thanks @jfrazelle !

[2015-07-23 18:51] laurrentt commented on #13113
+1, I would love to see this disappear from my code base:
[code]

[2015-07-23 18:54] vbatts commented on #8819
I think this is ready for closing, with #14067 being merged (will be released in v1.8.0).

As of right now, the only non-deterministic piece of this will be the exterior-tar archive of the saved layers. Example, I'll pull an image:
[code]

Then let's calculate a sum of the whole output of `docker save`, you'll see the sums are different:
[code]

Alternatively, let's unwrap the tar (see the `tar xO

[2015-07-23 18:54] #8819 closed

[2015-07-23 18:55] thockin commented on #14593
I really think the conflation of network and service here is wrong.

OK

BAD.  If I understood the other thread, you want to publish a service into a scope, not into a network.  Are scopes and networks 1:1 ?  I don't know that they have to be.  Can I define a network with more than one scope?

I think instead you want to disaggregate the ideas:

Simple services:

[code]

Ignoring services:

[code]

[2015-07-23 18:57] #14894 closed

[2015-07-23 19:05] duglin commented on #14914
at one point we almost let in a PR that could do that but then it was rejected because that's not a normal sh-ism.  Would have been cool though  :-)   So, gonna close this as a dup - see:  https://github.com/docker/docker/pull/10431#issuecomment-77898658

ping @tianon if he has any extra comments

[2015-07-23 19:05] #14914 closed

[2015-07-23 19:15] shubhamrajvanshi commented on #10822
You can close it will test and get back to you. Sorry have been too busy with my School

[2015-07-23 19:17] #14853 closed

[2015-07-23 19:40] jfrazelle commented on #14896
updated should be all good now!

[2015-07-23 19:40] jfrazelle commented on #14889
updated should be all good now!

[2015-07-23 19:42] thaJeztah commented on #10839
I agree with @cpuguy83 here. I think labels are a good feature that can be used to differentiate and puts the user in full control over what he/she considers a throwaway container.

I'm -1 on this proposal because I think the "name" should not get a double meaning and we already have features to achieve this (e.g. Labels)

[2015-07-23 19:51] srust opened #14915 "remote API container create nil pointer dereference if HostConfig is not specified"
It appears that the commit for https://github.com/docker/docker/pull/13218 changed the behavior of the GetHostConfig() wrapper in runconfig/config.go and broke the remote API for container/create

The change was part of this:

[code]

This function used to return a new(HostConfig) when nil was passed.

This change ended up breaking the remote API. If a client does not specify the HostConfig object

[2015-07-23 19:51] GordonTheTurtle commented on #14915
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-23 19:53] thomasbilk opened #14916 "Installer does not work any more for LinuxMint"
Description of problem:
Commit 451d3f5950b removed the support for Linux Mint.

`docker version`:

    command not found: docker

`docker info`:

    command not found: docker

`uname -a`:

    Linux flatland 3.16.0-38-generic #52~14.04.1-Ubuntu SMP Fri May 8 09:43:57 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

Environment details (AWS, VirtualBox, physical, etc.):
Linux Mint 64 bit latest version 17

[2015-07-23 19:53] bezelga commented on #14889
yayy, it works! thanks!!!!

[2015-07-23 19:58] thaJeztah commented on #14879
Thanks for reporting this @dhbarnett the page you're referring to is actually in a separate repository, and can be found here: https://github.com/docker/tutorials/blob/master/docs/mac/step_four.md

Are you interested in contributing, and creating a pull request in that repository?

[2015-07-23 20:00] runcom commented on #14915
@srust thanks for reporting this, I'll have a look at it

[2015-07-23 20:01] dhbarnett commented on #14879
Perhaps. Right now I'm still trying to figure out what docker is!
On Jul 23, 2015 4:00 PM, "Sebastiaan van Stijn" <notifications@github.com>
wrote:

[2015-07-23 20:10] thaJeztah commented on #14879
It's an open source project, that is run by many people and always welcomes new contributors. The project is backed by a great community to help users "use", maintainers "maintain", and contributors "contribute".

Just joking. No worries, I'll have a look at this later.

Reporting issues is also contributing - much appreciated!

[2015-07-23 20:17] rlane commented on #14593
+1

I'd written a patch for this before finding this issue: https://github.com/rlane/docker/commit/9be0775950d3d5112e7044d37aef30c3db2ee5a3

[2015-07-23 20:24] rhatdan commented on #14396
docker-1.7.1-5.gitc8962ac.fc22 has been submitted as an update for Fedora 22.
https://admin.fedoraproject.org/updates/docker-1.7.1-5.gitc8962ac.fc22

Could people experiencing this problem verify that this package fixes it.

[2015-07-23 20:29] #14544 closed

[2015-07-23 20:29] BenHall commented on #14461
Likewise I'm also getting this error on a physical box.

[code]

[code]

[code]

[code]

[2015-07-23 20:55] erichonkanen commented on #14396
@rhatdan will this make it into 1.8 tag for this repo?

[2015-07-23 21:02] rhatdan commented on #14396
@erichonkanen We have submitted a patch into runc, which needs to get approved, and then runc needs to get merged into docker.  Out of my control.

[2015-07-23 21:02] YannRobert commented on #14396
@rhatdan docker-1.7.1-5.gitc8962ac.fc22 is working according to my specific test case

[2015-07-23 21:04] rhatdan commented on #14396
@YannRobert Excellent, can you update the Karma.

BTW here is the pull request
https://github.com/docker/libnetwork/pull/409

[2015-07-23 21:13] jcuga commented on #14916
I have the same issue with mint 17

3.13.0-24-generic #46-Ubuntu SMP Thu Apr 10 19:11:08 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

RELEASE=17
CODENAME=qiana
EDITION="Cinnamon 64-bit"
DESCRIPTION="Linux Mint 17 Qiana"
DESKTOP=Gnome
TOOLKIT=GTK
GRUB_TITLE=Linux Mint 17 Cinnamon 64-bit

[2015-07-23 21:30] lxpollitt commented on #14593
@thockin I think the intention is that initially (i.e. in the increment covered by this PR) networks and scopes are 1:1, but that there is potential for scopes to be defined in the future that are not 1:1 with networks. I think this could do with being more clearly stated since right now the PR talks about publishing a service to a network, when it should probably talk about publishing to network'

[2015-07-23 22:11] Djelibeybi opened #14924 "Install script pulls LSB Codename as dist_version on RHEL/clones which isn't correct"
In ```hack/install.sh```, the first method of determining distro name and version is via lsb_release:

    if command_exists lsb_release; then
                lsb_dist="$(lsb_release -si)"
                dist_version="$(lsb_release --codename | cut -f2)"
    fi

This works great for Debian/Ubuntu repos which use the codename in the path, but is not so great for RHEL/Fedora (and clones) who don't.

[2015-07-23 22:11] GordonTheTurtle commented on #14924
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-23 22:28] Djelibeybi commented on #14881
The original specfile for Docker 1.7.1 disabled btrfs on the EL6 variants, including Oracle Linux. The PR #14545 I submitted which has been merged fixes this for OL6+UEK3.

[2015-07-23 23:22] vijayendrabvs commented on #14743
Hi @mavenugo !
@dsampath updated me about the brief conversation you both had and passed on your suggestion of using --cap-add ALL when spinning up the privileged container, and that did the trick!

So after doing a docker run --privileged --cap-add ALL --name <ct_name>  -v /proc and other options.... , I was able to view both halves of the network bridge configuration from inside the privileged c

[2015-07-23 23:29] #14418 closed

[2015-07-24 00:30] tiborvass commented on #14837
@duglin you're right. I'd usually go with 1), but I guess 2) makes sense here. Either we support git or not.

I know it's off-topic but I'm not sure how git will be handled wrt to trust. If it turns out we can't get or don't want to get feature parity between build from git and from image, then we should probably not bother.

[2015-07-24 00:32] bezelga opened #14931 "Error response from daemon: Cannot start container: [8] System error: no such file or directory"
I just installed experimental docker and I get this error while trying to run hello world:

```docker run hello-world```

I get this:

[code]

version:

[code]

[2015-07-24 00:32] GordonTheTurtle commented on #14931
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-24 01:50] ewindisch commented on #14931
Any chance you installed from the debian packages?

[2015-07-24 02:07] bezelga commented on #14931
Not sure, I am in a Ubuntu 14.04 and did:

``` wget -qO- https://experimental.docker.com/ | sh```

[2015-07-24 02:28] ewindisch commented on #14931
@bezelga you're likely running into a bug with the apparmor profiles fixed in #14934. You can confirm by seeing if you have DENIED entries in your audit log (dmesg or, if you have auditd installed, in /var/log/audit/audit.log)

[2015-07-24 02:30] #9677 closed

[2015-07-24 02:30] ewindisch commented on #14916
should be addressed by https://github.com/docker/docker/pull/14910

[2015-07-24 02:43] zz commented on #14783
No one need this?

[2015-07-24 02:59] ewindisch commented on #14931
@bezelga **If (and only if)** you see those DENIED messages (especially if for auplink), then try checking out my PR and loading my apparmor policy:

[code]

If this works you can copy the contrib/apparmor/docker-engine file into /etc/apparmor.d. If not, then you could try loading it in "complain" mode by running 'apparmor_parser -r -C'. That will generate logs for debugging.

[2015-07-24 03:29] stewartpark commented on #14931
I'm having the same result here.

[code]

Seems like it got broken very recently, because it's been working fine when I tried to install the experimental version just a day ago.

The below is the working experimental version(Git commit: 8c7cd78) i installed a few days ago. (It still works fine)

[code]

I hope this helps the investigation on what broke it.

And also, is there any way to install a

[2015-07-24 04:10] rtrauntvein commented on #14783
What would be a use case for this?

[2015-07-24 04:12] yoanisgil opened #14936 "Broken documentation links on the experimental doc page"
On this page:

https://github.com/docker/docker/tree/master/experimental

the links below (located towards the end of the page) are broken:

- https://github.com/docker/docker/blob/master/experimental/plugins.md
- https://github.com/docker/docker/blob/master/experimental/plugins_volume.md

I could put a PR for this but I am not sure where the right files are :(.

[2015-07-24 04:12] GordonTheTurtle commented on #14936
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-24 04:32] DouglasRoyds commented on #13451
According to https://docs.docker.com/reference/run, if "We set nothing about memory, this means the processes in the container can use as much memory and swap memory as they need" - which I hadn't.

As mentioned in my original report (above), I ran exactly the same experiment outside of the Docker container, generating a directory tree 10 times as deep without any problem.

[2015-07-24 05:16] coderlol opened #14937 "docker -v and default directory permissions?"
Description of problem:
How does docker create a host directory being mounted as a volume?  How can we set the default permissions for host directory created by docker, using -v ?

ls -l
drwxrwsrwx+ 6 root root 4096 Jul 24 05:05 docker-containers

cd docker-containers
ls -l
drwxr-sr-x+ 2 root root 4096 Jul 24 05:03 aaa
drwxrwsrwx+ 2 ubuntu root 4096 Jul 24 05:04 bbb
drwxrwsrwx+ 2 root root 4096 Ju

[2015-07-24 06:06] krishna555Storage opened #14938 "Storage on Docker"
Hi Guys,

    Can we map LVM or ceph volume on a docker container to use it as an external storage. Is there a way to map ISCSI targets on container?I tried logging in to the target and i get error. Help is much appreciated. thanks.

Krishna.
Cloud Storage

[2015-07-24 06:06] GordonTheTurtle commented on #14938
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-24 06:26] trevorjay commented on #14396
On Thu, Jul 23, 2015 at 01:25:31PM -0700, @rhatdan  wrote:

Seems to work as intended. docker0<->docker0 works with no intervention and the Docker rules seem to survive firewalld restarts. Nice catch on the subtle append/insert issue.

[2015-07-24 07:11] thomasbilk commented on #14916
Great. So this issue can probably be closed. Thank you.

[2015-07-24 07:11] #14916 closed

[2015-07-24 07:22] ashish235 commented on #12873
I have a similar case, I have two servers running docker with same configurations and both of them were working fine but suddenly the docker on one server started to refuse running containers and till date that docker is not functional, I tried everything I could.

The error which I get is:

9ade5017d47b: Error pulling image (latest) from mongo, Driver devicemapper failed to create image rootfs 4c

[2015-07-24 07:46] chenchun commented on #14856
I have a question, does libnetwork or docker checks if a random allocated port is currently used by other processes with  `--userland-proxy=false`? I known previously if failing to start userland-proxy process, such as the port is being allocated by other processes on the host, docker will retry to allocate a new port.

[2015-07-24 08:02] vdemeester commented on #14936
Hi @yoanisgil,

They are there : https://github.com/docker/docker/tree/master/docs/extend :wink:.

[2015-07-24 08:06] hqhq commented on #14819
Similar issues here: #14904

[2015-07-24 08:51] bfirsh commented on #7477
@nsg: Agreed - the default output could still do with improvement.

[2015-07-24 09:12] fairysun opened #14942 "Error mounting '/dev/mapper/docker-253:0"
Dear,

I try to get some training from, while it outputs an error:
[root@c265f04u21b11-v2 ~]# docker run learn/tutorial echo "hello word"
Unable to find image 'learn/tutorial:latest' locally
Pulling repository learn/tutorial
8dbd9e392a96: Error pulling image (latest) from learn/tutorial, endpoint: https://registry-1.docker.io/v1/, Error mounting '/dev/mapper/docker-253:0-2372650-8dbd9e392a96405642

[2015-07-24 09:12] GordonTheTurtle commented on #14942
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-24 09:28] YannRobert commented on #14396
nevertheless, ```journalctl -u firewalld.service``` still shows iptables 'command failed' errors

[2015-07-24 09:35] Dmitriusan opened #14943 "Can not reference locally-built image using FROM at dockerfile"
This used to be possible some time ago http://stackoverflow.com/questions/20481225/how-can-i-use-a-local-image-as-the-base-image-with-a-dockerfile

What I'm trying to do, is to build image locally:
[code]
and then specify it in FROM statement of a dockerfile. Tried both base-www-image_img and dmitriusan/base-www-image_img , but neither works:

[code]

[code]

Is it desired to be supported? Could n

[2015-07-24 09:35] GordonTheTurtle commented on #14943
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-24 09:39] zepouet opened #14944 "Tomcat slow at startup with Docker into KVM VM"
Hello,

We meet a problem with Tomcat extremly slow at startup. After a long investigation we understand the problem came from entropy with /dev/random
There is a lot of web articles around theses problem https://www.digitalocean.com/community/questions/fresh-tomcat-takes-loong-time-to-start-up

The best article to help us is : http://stackoverflow.com/questions/26021181/not-enough-entropy-to-supp

[2015-07-24 09:39] GordonTheTurtle commented on #14944
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-24 10:10] coolljt0725 commented on #14943
if you want use the local image as the base image, please without the option `--pull=true`, `--pull=true` will  always attempt to pull a newer version of the image.

[2015-07-24 10:42] tomfotherby opened #14945 "Proposal: Allow containers to "steal" already allocated host port"
Currently (i.e. *docker v1.7.1*), if you try to start a container that uses the same host port as a already running container you get a error:  :no_entry: **failed: port is already allocated**. Example:

[code]

[2015-07-24 10:48] nazar-pc commented on #5618
Also having this issue with 4.2-rc2:

[2015-07-24 11:10] nazar-pc commented on #5618
Just compiled 4.2-RC3, seems to work again

[2015-07-24 11:16] jonatanblue commented on #4036
@selipso The new dynamic binaries should allow udev sync to work properly
http://blog.docker.com/2015/07/new-apt-and-yum-repos/

[2015-07-24 11:19] yoanisgil commented on #14936
Great i will fix and let you know

[2015-07-24 11:23] Dmitriusan commented on #14943
Thank you! My bad :)
On Jul 24, 2015 1:12 PM, "Lei Jitang" <notifications@github.com> wrote:

[2015-07-24 11:42] rhatdan commented on #14396
These are legit.  Docker attempts to delete any rules that conflict, and does not check if they exist. In iptables world, docker just ignores the error, but with firewalld, it reports these as errors.  Not sure this is fixable.

[2015-07-24 12:05] #14943 closed

[2015-07-24 12:24] sysopcorner opened #14946 "Docker daemon unresponsive and gigabytes of memory when full BGP table added to system (650k routes)"
Description of problem:
We have a server which is connected to full BGP feed. It means that system has 650k routes in route table which in fact is quite normal. After starting docker daemon it allocates gigabytes of memory and never stops. All docker commands (eg. "docker ps") hangs. After removing routes everything is going back to normal.
Reproduced on docker vesions 1.6.2 and 1.7.1

[code]

[co

[2015-07-24 12:26] mountkin commented on #14944
I use `rng-tools` to feed the kernel's random number entropy pool. Thus I don't have to map the volume to the container.
On Ubuntu it can be done by
[code]
![screenshot from 2015-07-24 20 25 29](https://cloud.githubusercontent.com/assets/1496652/8874298/32ddd5b4-3242-11e5-8c86-a422f1026754.png)

[2015-07-24 12:36] tawan commented on #12469
+1

[2015-07-24 12:38] rajeshgotur commented on #14892
Hi

I resolved the above and followed the below steps

1. boot2docker delete && boot2docker init && boot2docker up && $(boot2docker shellinit)
2.To connect the Docker client to the Docker daemon, please set:
  export DOCKER_HOST=tcp://192.168.59.103:2376
  export DOCKER_CERT_PATH='/C/Users/rajesh.gotur/.boot2docker/certs/boot2docker-vm'
  export DOCKER_TLS_VERIFY=1

3.$ docker run hello-world

[2015-07-24 13:02] bezelga commented on #14931
@ewindisch

looking into `/var/log/dmesg` I did not find any `DENIED` message.

these are the lines that contain apparmor stuff:

[code]

Let me know if there is anything else I can help.

In the meantime would be good to install that previous version @stewartpark mentioned.

[2015-07-24 13:08] shapiroj opened #14947 "docker inspect date format changed between 1.6 and 1.7"
docker 1.6.2
docker inspect -f ".State.StartedAt" 323bf95629f7
2015-07-22T13:05:00.813480046Z

docker 1.7.1
docker inspect -f ".State.StartedAt" d9e320582e2a
2015-07-22 05:02:38.091530369 +0000 UTC

This breaks all our scripting around docker inspect calls.

[2015-07-24 13:08] GordonTheTurtle commented on #14947
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-24 13:21] pfremm opened #14948 "docker not logging to journald on centos 7 when journald logging driver is specified"
I installed docker 1.7.1 rpm available here: https://get.docker.com/rpm/1.7.1/centos-7/RPMS/x86_64/docker-engine-1.7.1-1.el7.centos.x86_64.rpm

Options attempted:
1. Configuring either the service in systemd to reference the journald logging driver.
2.Specifying it as a command line flag when running the container.

Docker recognizes the journald flag as when I run the docker logs command for a co

[2015-07-24 13:21] GordonTheTurtle commented on #14948
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-24 13:36] Alexandre-io opened #14949 "Add log-driver for logstash"
Hi,

A plan to support logstash as a log-driver ?

[2015-07-24 13:36] GordonTheTurtle commented on #14949
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-24 14:37] ottok opened #14951 "Docker stats: also show a column about disk I/O"
The 'docker stats' output should have one column about disk I/O, as that is very often a performance bottle-neck.

The stats JSON contains data about disk I/O, so all that needs to be extended a little bit is api/client/stats.go

[code]

[2015-07-24 14:37] GordonTheTurtle commented on #14951
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-24 14:40] ottok commented on #11398
Once https://github.com/docker/docker/pull/14950 is accepted it should be trivial to run something like below to get the job done

```sudo docker stats --no-stream $(sudo docker ps|grep -v "NAMES"|awk '{ print $NF }'|tr "\n" " ") | sort -k 7,9 -h```

[2015-07-24 14:50] ottok commented on #13064
Is this solved or not?

I have one solution in mind unless this is done, and I can code it if somebody in this thread promises to help with testing/verifying.

api/client/stats.go might be reading the wrong value from
[code]

[2015-07-24 14:53] ottok commented on #14951
This is a feature request, the template above does not apply regarding docker version, docker info and uname -a.

[2015-07-24 14:54] Shini31 opened #14952 "Remote API : add docker's version information in info request"
Is it possible to add docker's version in result for /info request for remote API ?

Thanks in advance.
Regards.

[2015-07-24 14:54] GordonTheTurtle commented on #14952
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-24 15:27] moxiegirl opened #14953 "FAQ has broken links"
The FAQ on docs.docker.com has broken links. Need to fix them.

[2015-07-24 15:27] GordonTheTurtle commented on #14953
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-24 15:39] MHBauer commented on #14953
#dibs
I can figure this out.
As an example, `http://docs.docker.com/index.html#windows` should be `http://docs.docker.com/installation/windows/` . Is that correct?

[2015-07-24 15:39] cpuguy83 commented on #14951
This would be a super simple change I think...
however I'll point to this comment from @crosbymichael: https://github.com/docker/docker/pull/9984#issuecomment-73971970

[2015-07-24 15:43] cpuguy83 commented on #13451
@DouglasRoyds this is not an entirely accurate statement, as any process started by the docker daemon is going to inherit certain settings (like ridiculously high ulimit values) by default, which you as a user probably do not have set (and as such are comparatively low)... note I'm just using this as an example.

Curious if you tried to make this fail on a different graphdriver?

[2015-07-24 15:43] MHBauer commented on #14953
well, something like that, I'll figure out how it works...

[2015-07-24 15:54] noxiouz opened #14955 "[attach] invalid memory address or nil pointer"
Hi,
I met an error in my production server.
That's what I see in logs:
[code]
[code]

[2015-07-24 15:54] GordonTheTurtle commented on #14955
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-24 15:56] borislitv commented on #14955
docker info
Containers: 202
Images: 62
Storage Driver: btrfs
Execution Driver: native-0.2
Logging Driver: none
Kernel Version: 3.12.16-1-server
Operating System: Ubuntu precise (12.04.5 LTS)
CPUs: 32
Total Memory: 62.9 GiB
Name: cocs09g.ape.yandex.net
ID: 4UDO:XCOG:USWQ:IA5A:NG5R:N5MP:ZFKC:I77J:C4HY:DPE4:2FTP:MKJO
WARNING: No swap limit support

[2015-07-24 15:57] borislitv commented on #14955
kernel 3.12.16-1-server

[2015-07-24 16:01] MHBauer commented on #14953
Looking at these links has reveal some others that are commonly used and don't work correctly. `terms/image` is an example. Should that go to the definition in the glossary?

[2015-07-24 16:01] tiborvass commented on #13331
@thaJeztah I think this is not a feature, it's a bug. With the ongoing trust efforts I hope that this will be resolved.

[2015-07-24 16:02] stefanberger opened #14956 "Proposal: Put the 3 bind mounted network files into a size-limited loopback filesystem"
# Issue:

The docker daemon creates the 3 configuration files /etc/resolv.conf, /etc/hostname, and /etc/hosts in the in the filesystem of the host and then bind mounts them into the filesystem of the container. To leave control over these files and aspects of network configuration  to the container user, they need to be writeable. The problem that arises with these bind-mounted files being writeab

[2015-07-24 16:06] cpuguy83 commented on #14949
Logging drivers are provided by the community, by someone who has a need for it.
That said doesn't logstash support both journald and syslog?

[2015-07-24 16:07] tiborvass commented on #13579
+1 to what @duglin said, although it feels weird to have all those booleans in the state API, should have been just a status string in the first place.

[2015-07-24 16:07] LK4D4 commented on #14948
ping @rhatdan
Any ideas? Maybe journald changed protocol?

[2015-07-24 16:11] duglin commented on #13579
@tiborvass agreed - a single word instead of a list of bools would have been better.

[2015-07-24 16:13] jmstone617 commented on #9665
Seeing the same on a number of containers, on various ports, with and without volumes mounted. All are linked to at least one other running container. Docker info:

    Client version: 1.6.0
    Client API version: 1.18
    Go version (client): go1.4.2
    Git commit (client): 4749651
    OS/Arch (client): linux/amd64
    Server version: 1.6.0
    Server API version: 1.18
    Go version (server):

[2015-07-24 16:19] MHBauer commented on #14953
@moxiegirl what should I do about links to draft pages?

[2015-07-24 16:20] noxiouz commented on #14955
Seems, it's already fixed in master. We use --log-driver=none

[2015-07-24 16:23] cpuguy83 commented on #14955
@noxiouz If it's fixed can you close?

[2015-07-24 16:29] cpuguy83 commented on #14952
@Shini31 Is the `/version` endpoint not sufficient? I understand you need to make 2 requests.
Also I think this is a dup.

[2015-07-24 16:37] cpuguy83 commented on #14938
Yes, but you have to set these up manually on the host then bind-mount them in, or mount directly from in the container (which requires the SYS_ADMIN cap.. which basically makes it insecure).
To mount host file/dirs `docker run -v /path/on/host:/path/in/container`

In the experimental channel (and stable in docker 1.8) we have support for volume plugins that would enable you to write plugins that

[2015-07-24 16:37] #14938 closed

[2015-07-24 16:38] cpuguy83 commented on #14937
Docker creates the dir as the root user and makes sure only the root user can access the dir.
If you want the dir to have specific permissions you either need to create it beforehand or set them afterwards.

[2015-07-24 16:41] tuesdaythefifth commented on #14181
Says here 6.7 has been released. Can anyone confirm the problem is fixed?

https://access.redhat.com/articles/3078#RHEL6
RHEL 6 Update 7	2015-07-22	2015-07-22 RHEA-2015:1423	2.6.32-573

[2015-07-24 16:42] noxiouz commented on #14955
Im gonna check when I reach my PC. I just looked into the code.

[2015-07-24 16:42] tuesdaythefifth commented on #14033
does this still occur with 6.7?

https://access.redhat.com/articles/3078#RHEL6
RHEL 6 Update 7	2015-07-22	2015-07-22 RHEA-2015:1423	2.6.32-573

[2015-07-24 16:44] tuesdaythefifth commented on #9856
does this still occur with 6.7?

https://access.redhat.com/articles/3078#RHEL6
RHEL 6 Update 7 2015-07-22 2015-07-22 RHEA-2015:1423 2.6.32-573

[2015-07-24 16:53] Shini31 commented on #14952
@cpuguy83 Of course it's sufficient but as you say, 2 requests are necessary if you want global information on Docker.
For example in a monitoring script two requests can raise the execution time.
Moreover there are already some duplicate information as the kernel version

[2015-07-24 17:23] Alexandre-io commented on #14949
Syslog works like a charm with logstash but the current driver have some security concerns like ssl (auth) and queuing, no ?

[2015-07-24 17:23] #14955 closed

[2015-07-24 17:28] bberberov commented on #14160
Could it be that the current Ubuntu LTS kernels support the `dirperm1` AUFS option, but the current Ubuntu LTS AUFS userspace does not?

[2015-07-24 17:35] luxas commented on #9547
I also had this issue.
Using docker 1.7.1 with overlay.
Running `sync` in between fixed it.
Thanks!

[2015-07-24 17:37] yoanisgil commented on #14936
PR is  https://github.com/docker/docker/pull/14961

[2015-07-24 17:39] cpuguy83 commented on #14949
I've updated the title for other people coming by who may want to implement this.

[2015-07-24 17:49] cpuguy83 commented on #14140
ping @ewindisch Is this resolved with the new AppArmor stuff you've been doing?

[2015-07-24 18:14] ewindisch commented on #14140
@cpuguy83 yes, this should now be resolved with #14855 and may be closed

[2015-07-24 18:15] cpuguy83 commented on #14140
Excellent, thanks!

[2015-07-24 18:36] phemmer commented on #14956
I would propose something more along the lines of making those files real files, and bind mount them (or even symlink) outside the container.

The reason being, part of the discussion when the current implementation of these files was added, it was brought up that an atomic modification of the files is not possible.
The typical way of updating `/etc/hosts` safely is to load the file, change it in

[2015-07-24 18:40] rhatdan commented on #14948
Not sure this works on RHEL7/Centos7 yet,  I am not sure if anyone has tested it.  I know that systemd will be getting updated in RHEL7.2 time frame.

[2015-07-24 18:41] rhatdan commented on #14948
@pfremm Open a bugzilla on this for RHEL so that we have our QE Team test it.  But I know that the systemd/journald on RHEL7  is fairly old.  Does not support RegisterMachine protocol yet for example.

[2015-07-24 19:01] salmanbaset commented on #14956
@phemmer it will be ideal to have these files inside the container. Then, we do not have to worry about loopback devices.

However, I believe that having these files inside the container will break the ```--link``` option.

[2015-07-24 19:05] thaJeztah commented on #14396
https://github.com/docker/libnetwork/pull/409 was just merged in libnetwork. Next step will be to create a PR here to bump the libnetwork version / vendored files.

[2015-07-24 19:07] rhatdan commented on #14396
Nice.  Get it into docker-1.8

[2015-07-24 19:09] mrjana commented on #14396
@thaJeztah @rhatdan working on that as we speak

[2015-07-24 19:17] stefanberger commented on #14956
@phemmer I had an implementation like that as well; Iirc the concern here was related to the layers of the container ( @estesp )

[2015-07-24 19:31] vdemeester commented on #14936
Good :wink:

[2015-07-24 20:02] cusspvz commented on #12910
Status says everything is okay, but I'm not able to push. Happening exactly the same as specified by @Machool

[2015-07-24 20:03] cusspvz commented on #12910
[code]

[2015-07-24 20:13] alex-aizman opened #14968 "Proposal: unified driver for union filesystems"
## 1.	Introduction

This proposal is inspired by the https://github.com/docker/docker/issues/14049 “Global Image/Layer Namespace”. It stands by itself as well, as a separate proposal to improve docker’s graphdriver architecture, in particular – support of the union filesystems.

Union filesystems form a class of their own which is layered directly on top of actual (true) local filesystems such as,

[2015-07-24 20:27] thaJeztah commented on #13331
@tiborvass more an "omission"; I think the default behavior *does* make sense (see https://github.com/docker/docker/issues/13331#issuecomment-106361207), but adding a `--pull` option is something that needs to be added.

Now that you completed the "docker daemon" PR, are you perhaps interested in creating a PR? :wink:

Wrt the reference to "trust"; would that mean that on *every* build, Docker sho

[2015-07-24 20:31] LK4D4 commented on #5618
@nazar-pc Thanks for info. Just hit it with 4.1.3, was pretty upset

[2015-07-24 20:34] stevenschlansker commented on #14386
We just reproduced this error message on docker 1.7.1, Ubuntu 14.04.2, kernel 4.1.2, overlay storage backend.

[2015-07-24 20:42] vbatts commented on #12489
After mulling on this for a minute, what this needs is the 'cross-mount' feature that @ncdc and @mattmoor have discussed.
Basically the duplicate push is a side effect of the docker client needing to prove to the registry that the content is the same (checksum validation).

So in answer to tar-split inquiry, it will indirectly help by having consistent tar archives, but this fix needs an additiona

[2015-07-24 21:01] jdoliner opened #14972 "docker cannot run because of "container no such file or directory""
I think this bug is similar to #9066.

I have a Dockerfile which produces a container which I cannot start. Anytime I try to do run with it it gives me the error:

[code]

The Dockerfile looks like this:

[code]

`_tmp/pfsd` is a binary executable that's compile from some go code.

I'm pretty certain that it's the source of the problem. If I remove the line `ENTRYPOINT ["/bin/pfsd"]` then I'm able

[2015-07-24 21:01] GordonTheTurtle commented on #14972
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-24 21:05] moxiegirl commented on #14953
HI @MHBauer there is a page with the links here; `docs/reference/glossary.md` so the link should be `/reference/glossary#image` I believe give it a try.  Run `make docs` to test.

The old glossary material is draft because I'm thinking to remove it.

[2015-07-24 21:50] thaJeztah commented on #14386
@stevenschlansker FYI, You're running ubuntu 14.04.2 with a custom kernel (ubuntu 14.04 doesn't ship with kernel 4); we don't support that setup.

[2015-07-24 21:51] thaJeztah commented on #14396
Thanks @mrjana !

[2015-07-24 22:10] jvinod commented on #13420
As @SvenDowideit points out, passing in the container_id as part of the mount/unmount request will help. If the same volume is mounted in more than one container,  then  it gets a little messy for the plugin to keep track of refcounts across  restarts and reboots.

[2015-07-24 22:12] icecrime commented on #14634
Added more details, and tentatively adding to 1.9.0 milestone.

[2015-07-24 22:22] stevvooe opened #14975 "Registry Client response code acceptance is too narrow"
Details are in docker/distribution#748 but we need to fix this for 1.8. We'll need to fix this in distribution then update the vendored version.

History repeating itself: #10402.

[2015-07-24 22:22] GordonTheTurtle commented on #14975
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-24 22:34] thaJeztah commented on #14890
@ewindisch this is a dup of https://github.com/docker/docker/issues/12317, so I think this should be closed. If you think this should be documented, could you create a separate issue (or a PR) for that?

[2015-07-24 22:43] stevenschlansker commented on #14386
Presumably you'd rather know that the problem both affects the distro kernel and a vanilla kernel.  The original ticket was from a distro kernel, so I don't see how the fact that we are running vanilla is super relevant...

[2015-07-24 22:50] thaJeztah commented on #14386
@stevenschlansker alright, fair (sorry if I came across a bit harsh). Did you get this on a freshly installed machine, or also after updating an older version of docker?

[2015-07-24 23:02] stevenschlansker commented on #14386
Also upgrade (most recently from 1.6.2)

[2015-07-24 23:11] mapuri commented on #14634
@icecrime thanks for pinging me.

At a high level, as I understand, this spec adds to #9176 a new `ARG` primitive to validate the passed `--build-arg` flags against.

I can start looking at changes to rebase my patch to this new spec. I will close #9176 and update this thread as I make progress. Just FYI, I will need a few cycles to scope the work and prioritize this among my other things so it mi

[2015-07-24 23:15] icecrime commented on #14634
@mapuri No problem at all, thank you so much for your understanding here. We will fix this ;-)

[2015-07-24 23:15] aaronlehmann commented on #14975
Created a PR in the distribution repo: https://github.com/docker/distribution/pull/750

[2015-07-24 23:19] iadknet commented on #7198
I worked around this with an entrypoint shell script that chowns the mounted directory and the executes the subcommand via su.

An example in a solr container where the /data directory is mounted in as a volume from the host:

[code]

[2015-07-24 23:26] icecrime commented on #14213
I'm sorry, I still don't understand the need for passing the container ID. A globally unique (or user defined) ID for the volume, yes, the container ID, no. :-(

[2015-07-24 23:43] #14475 closed

[2015-07-25 00:24] zz commented on #14783
@rtrauntvein such as "pip install numpy", some thing need to cost long time running.

[2015-07-25 00:58] #14396 closed

[2015-07-25 01:08] icecrime commented on #14160
@basak Thanks for jumping in. We had relatively few reports of this considering our user base, so I don't think we should see this as a blocker for Ubuntu 14.04 in general. What do you think>

[2015-07-25 01:14] jberkus commented on #6928
BTW, I've just realized that the situation with "push" is even worse than "pull", because the only way to abort a push is to kill the docker daemon.

[2015-07-25 01:31] mountkin commented on #14972
@jdoliner I suspect the executable is dynamically linked but some of the required libraries don't exist in the docker image.
You can confirm that by running "ldd pfsd" on the host to see if it's dynamically linked.

[2015-07-25 01:39] cpuguy83 commented on #14972
Yeah, this is most likely because alpine uses uclibc, not glibc.
You'll need to re-compile your app against uclibc.

[2015-07-25 01:44] WeiZhang555 commented on #14951
I want to take a shot, so
#dibs
:)

[2015-07-25 01:53] vijayendrabvs commented on #14781
It would be great if someone reviewed this - tracking iface/network/service/IPs is required and not having this info presented in the API response would make it hard to correlate docker container interfaces with their respective services/networks.

[2015-07-25 02:55] vaibhavkhanduja commented on #14213
@icecrime Can we reopen the issue please? Looks like this needs discussion, other than just docker id there is more info needed in the plugin ..

[2015-07-25 02:57] dpgeekzero commented on #14185
@cles That seems to have fixed it!

Not sure why it matters what version of Docker I have installed, but when I set that value in my network definition file, docker 1.7 works!!

So, this appears to be a combination of Docker + systemd-networkd.

[2015-07-25 02:57] #14185 closed

[2015-07-25 03:05] icecrime commented on #14213
@vaibhavkhanduja The issue as it was initially meant is "Volume extensions: from experimental to stable". This is solved, and the conversation has derived on another topic.

[2015-07-25 03:08] #14890 closed

[2015-07-25 03:21] vaibhavkhanduja commented on #14213
@icecrime I understand .. so was my question .. should be open an new one?
..
Can we reopen the issue please? Looks like this needs discussion, other than just docker id there is more info needed in the plugin
..
I am working on a volume plugin, I have worked quite a bit on storage aspects of the applications ...

[2015-07-25 04:03] coderlol commented on #14937
We should have the option to have docker obey existing filesystem ACL.  Why should docker enforce an override of system ACL and then make users override the docker override?

[2015-07-25 04:07] coderlol opened #14984 "docker -v and default directory permissions? Part Deux #14937"
See #14937

cpu dude closed issue unilaterally, but I think the issue warrants a discussion.  When mounting a host directory and if the host directory does not exist, docker creates one, but, alas, it sets its own default permissions, overriding existing host filesystem ACL.

A good set of options would be to enable users to instruct docker to not set its own permission, allow users to specify wha

[2015-07-25 04:07] GordonTheTurtle commented on #14984
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-25 04:39] charleswhchan commented on #14879
#dibs

[2015-07-25 05:11] charleswhchan commented on #14879
PR: https://github.com/docker/tutorials/pull/13

@thaJeztah: Just out of curiosity, why are these docs stored in a separate repo? Is the plan to merge these into the main docker repo? Or extract all docs into the separate repo? :relaxed:

[2015-07-25 05:17] jfrazelle opened #14985 "namespace creation reexec command failed: exit status 1"
Filing this before I forget, I have seen this on master and 1.7.1

[code]

Also have seen it w static binary and with the dynamic ones.

[2015-07-25 05:18] jfrazelle commented on #14985
shouldn't block 1.8.0-rc but we should fix it

[2015-07-25 05:19] jfrazelle commented on #14985
running containers w `--net host` will fix it, but builds will still error out this way

[2015-07-25 05:19] jfrazelle commented on #14985
ping @mrjana who is already aware of it ;)

[2015-07-25 05:20] jfrazelle commented on #14985
rebooting fixes as well for like a few runs, then it reappears

[2015-07-25 05:22] azurezk commented on #14952
#dibs

[2015-07-25 05:26] charleswhchan commented on #14176
Appeared to be fixed now:
![screenshot](https://cloud.githubusercontent.com/assets/679475/8888074/eefcbaca-3252-11e5-9247-e2004fd9cf15.png)

So this issue can be closed?

[2015-07-25 05:33] charleswhchan commented on #13397
Note: Page has moved, here's the link to the latest doc
https://docs.docker.com/reference/commandline/images/

[2015-07-25 05:58] Evalle commented on #14729
Fixed in https://github.com/docker/docker/pull/14731 so this issue can be closed.
ping @charleswhchan

[2015-07-25 06:05] charleswhchan commented on #14729
Thanks @Evalle!

[2015-07-25 10:23] thaJeztah commented on #14634
@icecrime I think this will replace https://github.com/docker/docker/issues/4962 as well?

[2015-07-25 10:39] thaJeztah commented on #14879
@charleswhchan Great!  And.. good question, I don't know why they're in a separate repo. I think the repo was "private" before and only recently opened up, but not sure. We like to keep the docs together with the code for each project (docker, compose, swarm etc) so that docs and code can be updated and reviewed in the same PR. But you're right that these tutorials could be in this repository (I t

[2015-07-25 11:43] thaJeztah commented on #14890
@lzlarryli do you agree with closing (and the explanation @ewindisch gave here and in https://github.com/docker/docker/issues/12317)? Or do you have additional thoughts?

[2015-07-25 11:50] thaJeztah commented on #14859
Great! @TuxInvader this should now be fixed in master (https://github.com/docker/docker/issues/14966 was merged) and be part of the 1.8 release.

If you want to test if this resolved your issue, you can download binaries from https://master.dockerproject.org. Thanks again for reporting :+1:

[2015-07-25 11:52] ezeql commented on #6928
+1

[2015-07-25 12:45] RickWieman commented on #11279
@cpuguy83 Cool, I didn't know that. In that case, forget what I said :blush:

[2015-07-25 13:24] #14774 closed

[2015-07-25 13:53] phuihock opened #14989 "Add image size to docker search result"
Please add as an extra column to `docker search` to show image size. Different people build same-purpose image differently. At the moment, there is no way of telling the size of an image is on the registry/hub without first pulling it and run `docker images` locally.

docker version:

[code]

docker info:

[code]

uname -a:

[code]

[2015-07-25 14:09] IanVaughan commented on #14077
[code]

[2015-07-25 14:18] IanVaughan commented on #14077
@WangWenchao
[code]

[2015-07-25 14:42] vchav73 opened #14990 "Run causes server to lock up"
Running the line below caused our CentOS 6.6 server to lock up, requiring a hard reset. We were able to replicate the problem on another CentOS 6.6 server.

docker run -t -i wordpress:latest /bin/bash

[2015-07-25 14:42] GordonTheTurtle commented on #14990
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-25 15:48] thaJeztah commented on #14176
Oh, thanks @charleswhchan, yes, this looks to be resolved since.

[2015-07-25 15:48] #14176 closed

[2015-07-25 16:02] bezelga commented on #14931
@stewartpark hello there, did you figure out how to install that working version? thanks

[2015-07-25 17:38] thaJeztah commented on #14783
I don't think this is something we can implement. Docker will already cache any `RUN` instruction, **unless** layers / instructions that `RUN` instructions invalidated the cache. Even if we had this instruction, if the layer *before* the `RUN` instruction is updated, no caching will take place.

The best thing you can do here, is to create a "base" image that contains all the parts of your image t

[2015-07-25 17:38] #14783 closed

[2015-07-25 17:51] thaJeztah commented on #14990
Could you please add the requested information? There are a number of issues with CentOS/RHEL 6, some of them depend on the kernel version being used.

Also, be aware that running Docker on CentOS/RHEL 6 is no longer supported by RedHat, and will also be removed from the list of supported systems with the next (1.8) release.

[2015-07-25 18:09] runcom opened #14993 "Fix go vet errors"
[code]
As the title says, errors above should be fixed

[2015-07-25 18:09] GordonTheTurtle commented on #14993
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-25 18:11] ankushagarwal commented on #14931
+1
I am having the same problem. Installed using `wget -qO- https://experimental.docker.com/ | sh` on a fresh ubuntu 14.04 VM and I get the error. I am running the same version (`Git commit:   e5d8fb9`) as @stewartpark

@ewindisch  I don't have the `/var/log/audit/audit.log` file on my system and I don't see any `denied` message in `/var/log/dmesg`

[2015-07-25 18:15] vchav73 commented on #14990
docker version:
Client version: 1.5.0
Client API version: 1.17
Go version (client): go1.3.3
Git commit (client): a8a31ef/1.5.0
OS/Arch (client): linux/amd64
Server version: 1.5.0
Server API version: 1.17
Go version (server): go1.3.3
Git commit (server): a8a31ef/1.5.0

docker info:
Containers: 23
Images: 71
Storage Driver: devicemapper
 Pool Name: docker-252:1-85220-pool
 Pool Blocksize: 65.54 kB

[2015-07-25 18:25] thaJeztah commented on #14729
Thanks! closing

[2015-07-25 18:25] #14729 closed

[2015-07-25 18:39] vanga commented on #14489
@toddleo did you get it to work? what's the solution for this?  I get the same error on ArchLinux

Th

[2015-07-25 18:39] runcom opened #14994 "Validate checks not always working"
Sometimes validate checks don't work because the `git diff` command in `hack/make/.validate` doesn't show any file to be validated (I think)
This build for instance https://jenkins.dockerproject.org/job/Docker-PRs/11694/console was supposed to fail cause of go vet checks but it didn't. From other tests/builds the only difference I see is that the commits in this build aren't fast forward (in git f

[2015-07-25 18:39] GordonTheTurtle commented on #14994
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-25 18:40] lzlarryli commented on #14890
@thaJeztah I agree with the explanation @ewindisch. Since it is stated that this issue is known, is not considered a bug, and will not be fixed, I do not see the value of having this issue open. I think the current design that "docker group ~ root" severely restricts docker's use, including for my use case. But consider that design as given, arguments @ewindisch are perfectly fine, especially give

[2015-07-25 18:42] vanga commented on #14489
though, my error is slightly different
[code]

[2015-07-25 18:53] thaJeztah commented on #14890
@lzlarryli good to hear, I wanted to check with you because you closed without commenting (we had some "angry" users in the past, and that's not our goal :smile:)

Actually, you *can* create requests for the documentation in this repository. The documentation can be found here: https://github.com/docker/docker/tree/master/docs and the man pages are https://github.com/docker/docker/tree/master/man.

[2015-07-25 19:49] thaJeztah commented on #14185
@dpgeekzero @cles I'm not very familiar with Systemd, but is this something that you think should be documented? Is this something that people might/will run into after a clean install of Docker?

[2015-07-25 19:50] iadknet commented on #13309
I have also been struggling with pull performance from a private registry.  As far as I can tell, I think it is getting stuck on "verifying checksum"   But pulling, what should just be a couple of ~100MB layers takes close to 10 minutes.

[2015-07-25 20:00] tiborvass commented on #8032
I'm closing this since #13171 was merged which was the last blocker for implementing #14298.

@jlhawn implemented an experimental client-side builder: https://github.com/jlhawn/dockramp which uses the new APIs in #13171.

Hope this helps :)

[2015-07-25 20:00] #8032 closed

[2015-07-25 20:17] cles commented on #14185
I'd say so, yes, since this behavior it's the new default for systemd-network apparently. Whoever uses it and is on the bleeding edge (which is quite a good description for arch incidentally...) is going to get bit I think.

A note at https://docs.docker.com/installation/archlinux/ would've helped me quite, it was the first place I went to I'd say (outside of arch docs, that is)

I feel in an idea

[2015-07-25 20:26] eolamey opened #14995 "Systemd units missing from 1.8.0-rc1 packages for Vivid and Wily"
It seems like the systemd units that were part of the Ubuntu packages (>= 15.04), `/lib/systemd/system/docker.socket` and `/lib/systemd/system/docker.service`, are missing from the just released 1.8.0-rc1 packages, as found on http://apt.dockerproject.org.

[2015-07-25 20:26] GordonTheTurtle commented on #14995
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-25 20:33] thaJeztah commented on #14185
@cles would you be interested in contributing, and creating a pull request? The documentation is part of this repository (the page you referred to is here; https://github.com/docker/docker/blob/master/docs/installation/archlinux.md). That would be really great (and I'm afraid I'll mess up trying to describe what the steps are :wink:)

[2015-07-25 20:37] thaJeztah commented on #14995
ping @calavera @jfrazelle

[2015-07-25 20:43] jfrazelle commented on #14995
whoa wierd can you try the ones on the main channel? is it the same?

[2015-07-25 20:47] eolamey commented on #14995
The ones in `main`, 1.7.1-0, are OK. The ones in `experimental` are not however, but the oldest is from July 23rd, which seems a bit weird.

[2015-07-25 20:48] jfrazelle commented on #14995
the rc's are pushed to testing not experimental

[2015-07-25 20:49] jfrazelle commented on #14995
but ya maybe there is something wrong w master..

[2015-07-25 20:50] chrisseto commented on #14993
I can fix them!

[2015-07-25 20:52] jfrazelle commented on #14995
I can reproduce... I'll figure it out...

[2015-07-25 20:56] jfrazelle commented on #14995
ping @tianon in case he knows what changed

[2015-07-25 20:58] jfrazelle commented on #14995
i think maybe this https://github.com/docker/docker/commit/80d99236c1ef9d389dbaca73c1a949da16b56b42#diff-be14a01cac8999f7234e37cd21ab9a72R35

[2015-07-25 21:00] eolamey commented on #14995
That's what I was thinking too. I'm no expert, but I usually do something like:

[code]

[2015-07-25 21:01] jfrazelle commented on #14995
totally :)

[2015-07-25 21:01] jfrazelle commented on #14995
im fixing ;) thanks for finding this! would have been super bad!

[2015-07-25 21:02] eolamey commented on #14995
No problem, that's what RCs are for :)

[2015-07-25 21:07] cles commented on #14185
@thaJeztah oh didn't realize the docs were right here! Sure, I'll give it a shot tomorrow :smile:

[2015-07-25 21:11] thaJeztah commented on #14185
@cles awesome, thanks in advance!

[2015-07-25 21:17] thaJeztah commented on #14995
Thanks @eolamey!  Pull request is here: https://github.com/docker/docker/issues/14998

[2015-07-25 21:23] thaJeztah commented on #14803
Duplicated by https://github.com/docker/docker/issues/14847, and a pull request to fix this https://github.com/docker/docker/pull/14940

[2015-07-25 21:25] #14847 closed

[2015-07-25 22:06] thaJeztah commented on #14806
I don't think there's a need to open up the permissions on these files. Apart from debugging, I think the files inside `/var/lib/docker` is an implementation detail that shouldn't be something that an end-user has to deal with. Grabbing the log-files directly from those directories is not something I think should be recommended.

Just out of interest, have you considered using the plugin drivers t

[2015-07-25 22:13] icecrime commented on #14995
Thanks a lot for the report and @jfrazelle for the express fix :+1:

[2015-07-25 22:28] thaJeztah commented on #14483
@jberkus if you're still interested to have this changed; you can find Gordon in the https://GitHub.com/docker/leeroy/ repository. You can create a pull request there, probably this line; https://github.com/docker/leeroy/blob/d5ee4f3bf05276a9891b1eca949a5889b66aec19/github/issue.go#L15

[2015-07-25 22:33] thaJeztah commented on #10650
Thanks, @ankushagarwal, I think this can be closed, yes (and, technically, it's not a "Docker" issue as well)

[2015-07-25 22:33] #10650 closed

[2015-07-25 22:35] #10709 closed

[2015-07-25 22:42] thaJeztah commented on #10769
I'm going to close this issue, because this is about quite old versions of docker and lack of activity here, but feel free to ping me here if you think this should be reopened

[2015-07-25 22:42] #10769 closed

[2015-07-25 22:46] thaJeztah commented on #14096
@gionn are you still able to reproduce this on docker 1.7.1?

[2015-07-25 23:18] thaJeztah commented on #14789
I think @stevvooe or @dmcgowan should be able to answer this :+1:

[2015-07-25 23:58] bastianwegge commented on #12845
+1

[2015-07-26 01:20] onorua commented on #14789
I can be wrong, bu [a-z0-9-_.] symbols are allowed in repository names. Your problem is with namespace, which indeed limited to [a-z0-9-_] symbols for some reason, disregard that default namespace value is "docker.io" according to:
https://github.com/docker/docker/blob/master/registry/config.go#L25

[2015-07-26 01:23] jdoliner commented on #14972
Yup you guys are 100% correct. Ty for the help :D!
Closing.

[2015-07-26 01:23] #14972 closed

[2015-07-26 02:13] fmoliveira opened #14999 "Unable to setup Docker in elementary OS"
I'm following the installation steps for Linux from official website at http://docs.docker.com/linux/step_one/ but when I run the script from `get.docker.com` I've got a message telling me that my platform is not supported by the installer script.

My distribution is elementary OS 0.3 (freya), which is forked from Ubuntu 14.04 (trusty).

[code]

Surely I can add the APT repository manually to setu

[2015-07-26 02:13] GordonTheTurtle commented on #14999
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-26 02:20] #14993 closed

[2015-07-26 02:20] fmoliveira commented on #14999
Hi @GordonTheTurtle , I've searched for that first. I've found an open PR at #14957 and it'll surely not work because it's just accepting the elementary OS distro but not mapping the repository links to the corresponding Ubuntu ones.

I've made PR #15000 with the fix for this issue. I'll reference #14957 with my PR too.

[2015-07-26 02:28] fmoliveira commented on #14999
### BUG REPORT INFORMATION

docker version: 1.7.1, build 786b29d
docker info: N/A
uname -a: Linux fmoliveira 3.16.0-34-generic #45~14.04.1-Ubuntu SMP Tue Mar 24 11:14:29 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux

Provide additional environment details (AWS, VirtualBox, physical, etc.): Physical elementary OS 0.3 Linux setup.

List the steps to reproduce the issue:
1. Go to http://docs.docker.com/lin

[2015-07-26 02:32] fmoliveira commented on #14999
I'm sorry. I've fixed the issue according to the guidelines.

[2015-07-26 02:32] fmoliveira commented on #14999
Pull request #15000 will fix this issue.

[2015-07-26 03:36] juju2112 commented on #14160
I'm having the same problems on RHEL 7.1.

[code]

[2015-07-26 03:47] juju2112 commented on #14160
Upgrading to 1.7.1 fixes it.

[code]

[2015-07-26 04:27] juju2112 commented on #14160
Upgrading to v1.7.1 doesn't fix it, but if I edit /usr/lib/systemd/system/docker.service to remove my custom bridge flag, it works just fine.

[code]

[2015-07-26 04:57] himulawang commented on #6928
+1

[2015-07-26 07:18] timfallmk commented on #14985
@jfrazelle Hey Jess. +1 to this issue as well. No fix on restart for Ubuntu 15.04.

[2015-07-26 07:19] ramonvanstijn commented on #14160
dirperm1 looks suspicious to me, this is from my /var/log/kern.log:
-

Jul 26 09:14:35 w530 kernel: [79634.698186] aufs
au_opts_verify:1541:docker[16552]: dirperm1 breaks the protection by the
permission bits on the lower branch

Jul 26 09:14:35 w530 kernel: [79634.737699] aufs
au_opts_verify:1541:docker[16552]: dirperm1 breaks the protection by the
permission bits on the lower branch

Jul 26 09:1

[2015-07-26 07:22] timfallmk commented on #14985
Error log here:
[code]

[2015-07-26 09:39] WeiZhang555 commented on #14951
I have made one PR to do this.
The code is simple, but I think it's hard to identify what information should be displayed on screen and what others should be discard. So I refer to the implementation of Net IO since it has similar problem, Block Read bytes and Write bytes are shown on screen now.
So WDYT about this? We can discuss and get one appropriate solution.
Ping @ottok @cpuguy83

[2015-07-26 11:29] mikroskeem opened #15008 "Docker bridge doesn't work properly in Arch Linux at Digitalocean."
Hello! I can't get Docker running properly on Arch Linux in Digitalocean droplet.
Arch Linux is installed using gh2o/digitalocean-debian-to-arch

"ip addr show dev docker0" in Arch Linux droplet, when centos7 container is running:
[code]

"ip addr show dev docker0" when no containers are running:
[code]

net.ipv4.ip_forward is 1, no firewall, no errors in journal. Can ping container from host and

[2015-07-26 11:29] GordonTheTurtle commented on #15008
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-26 11:37] mikroskeem commented on #15008
Environment: Digitalocean

`docker version`:
[code]
`docker info`:
[code]
`uname -a`: `Linux nightsnack.cf 4.1.2-2-ARCH #1 SMP PREEMPT Wed Jul 15 08:30:32 UTC 2015 x86_64 GNU/Linux`

Steps to reproduce:
- Create Debian 8 x64 droplet in DigitalOcean and install Arch Linux on it by following tutorial in gh2o/digitalocean-debian-to-arch repo
- Install and enable Docker using `pacman -S docker`, `syst

[2015-07-26 11:38] thaJeztah commented on #14739
Actually, the default graphdriver for Ubuntu 14.04 is AUFS, which can be seen in the install script: [hack/install.sh#L162-L181](https://github.com/docker/docker/blob/v1.7.1/hack/install.sh#L162-L181)

How did you install / upgrade docker? Did you use the script at https://get.docker.com/ubuntu ? Because that will only perform a *minimal* install and will not install AUFS.

It's possible that you'

[2015-07-26 11:38] #14739 closed

[2015-07-26 12:10] thaJeztah commented on #14975
https://github.com/docker/distribution/pull/750 was merged, so I think we need an update of the vendored distribution now?

[2015-07-26 12:15] thaJeztah commented on #15008
This looks like a dup of https://github.com/docker/docker/issues/14185, could you try with the instructions in https://github.com/docker/docker/pull/15007?

[2015-07-26 12:40] pwaller commented on #11462
I had another look. It seems hard to fix, since it means that the `devpts` mount has to be made before the console is created from the `ptmx`. That means that the `devpts` mount (to some arbitrary path) probably needs to be done docker-daemon side (and then bind mounted into the right place by `standard_init_linux.go`).

So right now we have:

1. [`setupPipes()`](https://github.com/docker/docker/b

[2015-07-26 12:46] runcom commented on #14947
The problem is in 1.6.2 we were decoding api response into `interface{}`. `time.Time` fields were json encoded as RFC3339 in the response and when decoded into `interface{}` they were just strings so the inspect template treated them as just strings.
From 1.7 we are decoding into `types.ContainerJSON` and when the template gets executed it now gets a `time.Time` and it's formatted that way.
One wa

[2015-07-26 13:45] newhook commented on #14739
I updated with apt-get. The original installation was not from a script, that is unacceptable on a production machine and used the docker defaults.

See https://github.com/docker/docker/issues/14707 for some history on upgrading from 1.7.0 to 1.7.1.

I solved this problem by switching to ufs and changing the deployment scripts to exclicitely set the graph driver to aufs.

[2015-07-26 14:00] thaJeztah commented on #14739
Thanks @newhook, good to hear you managed to resolve it. Reading the linked issue, I agree that the description in the changelog is cryptic and doesn't cover the possible consequences. It may be "late to the party", but perhaps you have a suggestion on how to improve that and are willing to create a pull request to update the CHANGELOG.md?

[2015-07-26 14:07] thaJeztah commented on #14486
ping @cpuguy83 ^^

[2015-07-26 14:10] thaJeztah commented on #14336
@ahmetalpbalkan @jhowardmsft will this be resolved by https://github.com/docker/docker/pull/14838?

[2015-07-26 14:15] thaJeztah commented on #14199
ping @runcom @LK4D4 what's the status here?

[2015-07-26 14:17] thaJeztah commented on #13998
ping @ewindisch because you were working on apparmor thingies at the moment :smiley_cat:

[2015-07-26 14:29] charleswhchan opened #15011 "Documentation (minor): Missing indentation in "Creating a Dockerfile""
Under "Creating a Dockerfile", the last line is missing an indent
https://docs.docker.com/docker-trusted-registry/quick-start/#creating-a-dockerfile

[code]

If someone can point out where the file is, I can fix.

[2015-07-26 14:29] GordonTheTurtle commented on #15011
Hi!

Please read this important information about creating issues.

If you are reporting a new issue, make sure that we do not have any duplicates already open. You can ensure this by searching the issue list for this repository. If there is a duplicate, please close your issue and add a comment to the existing issue instead.

If you suspect your issue is a bug, please edit your issue description

[2015-07-26 14:42] thaJeztah commented on #14166
I was unable to reproduce this on 1.7.1, using the AUFS graph driver on Ubuntu. It's possible that this relates to overlay driver being used (which has some known issues around unix sockets)

Are you still able to reproduce this on an up to date docker release (currently, 1.7.1)?

[2015-07-26 14:48] thaJeztah commented on #15011
Thanks! I think that part of the docs may be in a private repository

ping @SvenDowideit @moxiegirl I think you have access to that :smile:

[2015-07-26 15:30] thaJeztah commented on #13152
closing because https://github.com/docker/docker/issues/14613 was merged. Thanks @stefanberger !

[2015-07-26 15:30] #13152 closed

[2015-07-26 15:37] thaJeztah commented on #14049
ping @stevvooe @dmcgowan (I think)

[2015-07-26 15:41] thaJeztah commented on #14043
Reading the above discussion, I think this should be closed, because it looks like this is an issue with the old 'V1" registry and won't be addressed.

Feel free to comment here if you think I closed this by mistake.

[2015-07-26 15:41] #14043 closed

[2015-07-26 15:54] moxiegirl commented on #14879
@charleswhchan Why is this in this repo? This content is part of a special project. The content is structured in a specific way to support a a particular output with its own unique look and feel.  In the future, we will most likely add other tutorials that are handled in a similar way.

[2015-07-26 16:05] WeiZhang555 commented on #14756
Is there anyone doing `graph/tags`,`pkg/stdcopy` and `pkg/system`, if nobody is handling these, I would like to have a try.
So taking `graph/tags`,`pkg/stdcopy` and `pkg/system`

[2015-07-26 16:08] brahmaroutu commented on #14756
@WeiZhang555  graph/tag is already picked up by me.

[2015-07-26 16:23] ahmetalpbalkan commented on #14336
Unfortuantely, no. 

On Sunday, Jul 26, 2015 at 7:11 AM, Sebastiaan van Stijn <notifications@github.com>, wrote:

@ahmetalpbalkan @jhowardmsft will this be resolved by #14838?

—
Reply to this email directly or view it on GitHub.