[2016-09-15 22:56] LK4D4 commented on #10354
There was no reports since and code changed drastically. So closing for now.

[2016-09-15 22:56] #10354 closed

[2016-09-15 22:59] alex-aizman commented on #14049
The patch is more than 1 year old, and I'd suggest to maybe move beyond this particular patch at this point - to the original motivation that caused this patch in the first place. Which back when and today remains the same - duplication. It is a shame to keep duplicating the same immutable bits. As far as NFS, see e.g. my text at storagetarget.com. NFS is just a standard and ubiquitous storage tra

[2016-09-15 23:00] LK4D4 commented on #11837
@mrjana @mavenugo @aboch @sanimej do you know if this was fixed?

[2016-09-15 23:01] LK4D4 commented on #11131
ping @mrjana @aboch @mavenugo @sanimej

[2016-09-15 23:01] LK4D4 commented on #11247
links is not a way to make containers talk to each other now.

[2016-09-15 23:01] #11247 closed

[2016-09-15 23:08] LK4D4 commented on #12035
@runcom Do you think it's still needed?

[2016-09-15 23:26] thaJeztah commented on #26600
This was forwarded to the team managing the docker.com website earlier today, so I guess they'll work on it

/cc @hansfrederickbrown want this issue to be kept open for tracking?

[2016-09-15 23:40] dnwake commented on #26434
I've managed to work around this issue finding good copies (on other machines) of the problematic images.

My best guess is that the V1 registry has become corrupted somehow, but it seems problematic that this is discovered only on push or save rather than on pull.

I'm not currently able to share the problematic images.

[2016-09-15 23:44] mrjana commented on #26563
@dangra #25962 brought the fix to master but it may not be easy to back port that particular change on top of 1.12

[2016-09-15 23:45] sanimej commented on #7540
@discordianfish I am running latest docker master (1.13 dev); I have a nginx running on default bridge network. With and without userland proxy (btw disabling userland proxy is not recommended) I see the right behavior. Accessing the published port from the localhost has the source IP is that of docker0 bridge (`172.17.0.1` in my case) and  from a remote host source IP is the remote IP.

Can you g

[2016-09-16 00:10] sanimej commented on #11837
@AlessandroEmm This is a old issue. I am not able to recreate it with latest master. Please try it out with 1.12.1 and if you still see the problem feel free to reopen the issue..

[code]

[2016-09-16 00:10] #11837 closed

[2016-09-16 00:14] icy commented on #20424
A good post to read http://thenewstack.io/docker-fork-talk-split-now-table/

[2016-09-16 00:16] rdallman commented on #5618
Thank you to coolljt0725 and co (and everybody in this thread). Since many people will be unable to update to a kernel with the ipv6 patch for some time, (everyone, currently) I've managed to squash this bug after trying many of the suggestions from this thread. I want to make a full post to follow up on things that did work and did not work so that nobody else has to see the trouble I seen.

TL;D

[2016-09-16 01:23] dmcgowan commented on #15379
This should be fixed for 1.13. Go 1.7 is now used to build and submitted https://github.com/docker/go-connections/pull/21 to get the ball rolling.

[2016-09-16 01:53] sap1ens opened #26617 "Docker Swarm - service resize during an update can leave inconsistent versions"
**Description**

If you try to resize Docker Swarm service during the update some versions can be inconsistent. Example:

<img width="1039" alt="screen shot 2016-09-15 at 8 34 48 pm" src="https://cloud.githubusercontent.com/assets/260702/18572903/da2d71a8-7b84-11e6-8dcf-78c90daaf34a.png">

Here I originally had 25 containers with version 0.01 and I initiated an update to 0.1. During the update I r

[2016-09-16 01:56] au-phiware commented on #26120
Okay, I have completed a git-bisect over the [Official Gentoo ebuild repository](http://gentoo.org/). The change that introduces the problem is gentoo-mirror/gentoo@6b90fdc1a26f3ad6bad0c0756d97a09f5224b01e. The packages that are included when updating docker at that point in history are (note the version in square brackets is the version being replaced):

[code]

I guess it could be anyone of thos

[2016-09-16 02:02] mjsalinger commented on #19758
@cpuguy83 Does container locking cause these cpu lockups?

[2016-09-16 02:09] cpuguy83 commented on #19758
I dont think CPU soft lock is coming from Docker directly.

[2016-09-16 02:18] mjsalinger commented on #19758
no, but it always seems to occur as a result of intensive run/remove operations

[2016-09-16 02:22] cyphar commented on #25348
opencontainers/runc#976 is where my fix for this issue is being worked on, but I'm currently swamped with the other `nsenter` fixes that are necessary to fix other issues with runC. In addition, there's the console rewrite which has been taking a lot of time to do as well.

[2016-09-16 02:59] khurram85 commented on #24891
having the same issue, not been able to run docker swarm mode with docker hub private registry. I even try by pulling image on each node it didn't work either. Get image not found on service create.

this creates the service and returns the serviceID, but when I check the service status with

there is error ""No such image: "

[2016-09-16 03:01] au-phiware commented on #26120
Success! I am able to run docker 1.12.1 by keeping systemd at v218.

Now, who wants to do a git bisect over [systemd](https://github.com/systemd/systemd)?

[2016-09-16 03:24] #24315 closed

[2016-09-16 03:28] #23980 closed

[2016-09-16 03:28] #26039 closed

[2016-09-16 03:28] LK4D4 commented on #8830
ping @aboch @sanimej @mavenugo @mrjana

[2016-09-16 03:29] LK4D4 commented on #14257
looks like https://docs.docker.com/registry/spec/api/#/get-manifest

[2016-09-16 03:29] #14257 closed

[2016-09-16 03:32] LK4D4 commented on #10256
Looks like fixed. Can you confirm @aaronlehmann ?

[2016-09-16 03:33] LK4D4 commented on #12656
ping @thaJeztah @vdemeester

[2016-09-16 03:34] LK4D4 commented on #4239
still looks valid

[2016-09-16 03:34] LK4D4 commented on #15456
ping @thaJeztah

[2016-09-16 03:35] LK4D4 commented on #15250
@thaJeztah was this fixed?

[2016-09-16 03:35] LK4D4 commented on #13812
ping @thaJeztah

[2016-09-16 03:36] LK4D4 commented on #12122
ping @thaJeztah

[2016-09-16 03:38] LK4D4 commented on #15160
ping @thaJeztah
Can you open issue or PR for docs?
I'm closing this because title and discussion outdated.

[2016-09-16 03:38] #15160 closed

[2016-09-16 03:40] LK4D4 commented on #247
Still looks like valid feature to have. Not sure if it's possible with security/verification stuff.
Thoughts @tonistiigi ?

[2016-09-16 03:41] LK4D4 commented on #15956
Closing as old :(

[2016-09-16 03:41] #15956 closed

[2016-09-16 03:41] LK4D4 commented on #16459
was fixed

[2016-09-16 03:41] #16459 closed

[2016-09-16 03:41] LK4D4 commented on #16398
was fixed

[2016-09-16 03:41] #16398 closed

[2016-09-16 03:44] LK4D4 commented on #3793
#26061 expected to fix this

[2016-09-16 03:46] LK4D4 commented on #16077
Looks like works now.

[2016-09-16 03:46] #16077 closed

[2016-09-16 03:48] LK4D4 commented on #16453
Issue is quite old and cool docs were added to logging since.

[2016-09-16 03:48] #16453 closed

[2016-09-16 03:49] LK4D4 commented on #16552
Wasn't reported since, code changed a lot. Feel free to open a new issue if it's still a problem,

[2016-09-16 03:49] #16552 closed

[2016-09-16 03:51] LK4D4 commented on #6805
@thaJeztah @tonistiigi do you think this is still actual?

[2016-09-16 03:51] LK4D4 commented on #16588
Why not. Sounds like valid debug info.

[2016-09-16 04:32] Peaches491 commented on #23298
@phlegx: Did you ever figure out the root cause for this? I'm running into a similar issue. I'm hosting an openvpn server in a docker container, and I can't access any of the other ports from the other docker containers.

[2016-09-16 04:33] aa21 commented on #22909
Having the same error here too:

Error: `rpc error: code = 2 desc = oci runtime error: exec failed: exec: "exec which mysql": executable file not found in $PATH`

Host machine: `OSX El Capitan 10.11`

Docker image setup command:
`docker run \
	--name DB \
	-e MYSQL_ROOT_PASSWORD=my_pass \
	--net Common \
        -v /Users/a20/docker-host/DB/data:/var/lib/mysql \
        -v /Users/a20/docker-host/D

[2016-09-16 04:46] allencloud commented on #26617
@sap1ens
I experienced this situation. If we wait for the first update action to finish, the result will be consistent. While if we start to send the second update request before first one finishes, inconsistency happens.

I think this is not as good as what I thin before.

In addition, I think if we combine two update commands into a single one, it will work.

[2016-09-16 04:49] saiwl commented on #26561
There are about 20 running containers, but hundreds of exited containers. What kind of leak can there be?
@tonistiigi

[2016-09-16 05:22] duglin commented on #3465
Don't know if I have time yet, but just to summarize.... based on the above comments, I believe the requirement is to ensure that people can clear/unset the following:
[code]

Did I miss anything?

[2016-09-16 05:34] tebeka commented on #17960
I still see the problem:

    $ curl --version
    curl 7.50.2 (x86_64-pc-linux-gnu) libcurl/7.50.2 OpenSSL/1.0.2h zlib/1.2.8 libidn/1.33 libssh2/1.7.0
    Protocols: dict file ftp ftps gopher http https imap imaps pop3 pop3s rtsp scp sftp smb smbs smtp smtps telnet tftp
    Features: AsynchDNS IDN IPv6 Largefile GSS-API Kerberos SPNEGO NTLM NTLM_WB SSL libz TLS-SRP UnixSockets

    $ docker versi

[2016-09-16 05:43] Flow86 commented on #26075
ah! thank you. its a bit confusing that it still accepts "--ipv6" as an argument for the option.

I added a cgroup-parent name - I had to delete local-kv.db again afterwards to start docker, but now it "EnableIPv6" is true

[code]

[2016-09-16 05:51] mrjana commented on #25325
@mschirrmeister One of the nodes seems to have gone through multiple leader timeouts and re-election has happened indicating that the underlying network partitioning issue is not isolated to gossip alone. Even raft seems to have been affected. At this point I will consider that there was some problem and the recovery fix we have in docker/libnetwork#1446 will help solve the problem.

Since you men

[2016-09-16 06:05] mrjana commented on #26590
@dangra More analysis indicates that there might be a kernel issue at play here but since this happens in such an atypical case that nobody else using ipvs would have encountered this. What happens is as I mentioned the client starts reusing the same source port (it could be used to reach `s2` in your test code while the previous connection may have used the same source port for reaching `s1`) bef

[2016-09-16 06:08] mrjana commented on #25985
@mu5h3r On simulating a network partitioning scenario and see how the cluster recovers I found issues in the gossip cluster recovery and pushed a fix here docker/libnetwork#1446 which should fix the recovery part.

@dangra I don't think what you are experiencing in #26590 is the same issue as this.

[2016-09-16 06:13] ibuildthecloud opened #26619 "1.12.1 Crash"
No clue what I was doing, but it crashed.
[code]

[code]

[2016-09-16 06:28] trusch commented on #7198
+1

[2016-09-16 06:56] homerakshay commented on #26619
@ibuildthecloud Hey Darren, could you put more light on what went wrong..

Also i would suggest u restart your docker service on the ec2's where they are running.. Let me know if it helps.

Regards,
Akshay

[2016-09-16 07:04] phlegx commented on #23298
@Peaches491 Hi! Unfortunately no. I wanted to wait for a new docker version  and then try it out again, but haven't had time yet. I hope I can come back to this soon.

[2016-09-16 07:23] twang2218 commented on #21559
Yes, it would be great to have a command which can dump the current effective daemon config, or dump the config at beginning of the daemon logs when the daemon started. That would helped the diagnosis a lot.

[2016-09-16 07:31] dansan commented on #12791
I think this is to easily dismissing a vital security problem for system administrators and Linux distribution maintainers.

The simplest (and trivial to support) feature would be to create a configuration variable that can optionally be used to set the path to the iptables executable. That would allow Linux distributions to use their own means to set iptables rules (without phemmers workaround).

[2016-09-16 08:01] kobellem commented on #26604
It's NTFS

DriveLetter FileSystemLabel   FileSystem DriveType HealthStatus OperationalStatus SizeRemaining  Size
----------- ---------------   ---------- --------- ------------ ----------------- -------------  ----
D           Temporary Storage NTFS       Fixed     Healthy      OK                     12.15 GB 14 GB
C                                           NTFS       Fixed     Healthy      OK

[2016-09-16 08:09] discordianfish commented on #7540
@sanimej You're not using udp. See my initial description and try to reproduce with rsyslogd.
This issue is two years old, I stopped using Docker for anything udp long time ago.. So won't be able to test it.

[2016-09-16 08:16] thaJeztah commented on #15250
Looks like a redirect is now in place, so I'll close this

[2016-09-16 08:16] #15250 closed

[2016-09-16 08:22] thaJeztah commented on #25483
@stevvooe with any other "update", all tasks/containers are redeployed, so from that PoV, I think it would make sense to do so. But that's my 0.02c, and from a "user" perspective (not taking technical complexity into account)

[2016-09-16 08:27] justincormack commented on #12791
You can just set the PATH to override the iptables binary if you want, just
out the location of an alternate binary first.

On 16 Sep 2016 8:31 a.m., "dansan" <notifications@github.com> wrote:

[2016-09-16 08:33] icy commented on #12791
Then the question is which `iptables` binary is being used...

[2016-09-16 08:43] xasx commented on #23259
Well, `cockpit-docker` is not compatible with `docker-engine` from Docker's repos, but requires a `docker` package provided by the `updates` repo.

Also, there's some docker-migrator involved:
`dnf install cockpit-docker --allowerasing --assumeno`
[code]

@aaraodeo Probably you want to file another separate issue regarding the proper cockpit integration.

[2016-09-16 09:24] thaJeztah commented on #26619
@tonistiigi @mlaventure any idea?

[2016-09-16 09:29] chernals opened #26621 "Specify network subnet/iprange when using deploy"
**Description**

`docker deploy` will attempt to create a new overlay network. My problem is that the default settings use the same subnet than my hosts subnet, hence a lot of issues from that side.

One workaround I tried was to create the network with 'docker network create --driver overlay --subnet x.x.x.x/16 my_network' but then deploy complains that the network can't be created because it alr

[2016-09-16 10:05] aaraodeo commented on #23259
I completely agree with @xasx
Eagerly waiting for docker and cockpit update in fedora 24 repo as new releases are available in respective  docker and cockpit repositories.

[2016-09-16 10:07] thaJeztah commented on #17960
@tebeka that's an issue with cURL, it looks like cURL treats `containers` as the hostname, and tries to call `/json` as endpoint. You can see this happening if you use the `-v` (verbose) option;

[code]

(See `Host: containers`)

Adding a "bogus" hostname works around this issue;

[code]

I looked around if there's some way to make cURL "do the right thing", but couldn't find it directly, perhaps

[2016-09-16 10:11] MarCasPL opened #26622 "copy"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2016-09-16 10:14] thaJeztah commented on #17960
Actually, may be a bug in either curl 7.50 or one of the libraries it uses. Running the same on a different version of curl (in a ubuntu 16.04 container);

[code]

Works without issues:

[code]

[2016-09-16 10:18] #26622 closed

[2016-09-16 10:28] ummecasino commented on #16816
Got the same problem as @virtuman, working with docker 1.12.1 on Photon OS with no firewalld active.

[code]

On overlay network:

[code]

[code]

[code]

[2016-09-16 10:30] thaJeztah commented on #17960
Right, so they changed the behavior in cURL 7.5 and this is "by design":
https://github.com/curl/curl/issues/936

[2016-09-16 10:37] gajus commented on #12997
@tiborvass Please follow up to the conversation. There have been +20 messages since you have closed the issue.

[2016-09-16 10:43] asziranyi commented on #17960
@thaJeztah Look at your example: you mistyped the url: `curl -v --unix-socket /var/run/docker.sock "http:/containers/json"` There is no double slash after the colon.

with

`curl -v --unix-socket /var/run/docker.sock "http://containers/json"` the curl 7.47 produces the same error.

[code]

[code]

[2016-09-16 10:48] thaJeztah commented on #17960
@asziranyi: originally a single slash was expected for a socket connection, and I decided to use the exact URL that @tebeka used. Both _with_ and _without_ the double slash leads to the same result.

[2016-09-16 10:53] thaJeztah commented on #17960
@asziranyi so TL;DR

Curl 7.4x:

- do **not** add a hostname
- use `http:`, followed by the *literal* endpoint path (so `/containers/json`). *Don't* use a double slash, as it's used as path for the endpoint (`//containers/json`), so produces a 404

Curl 7.5x expects a valid url:

- prepend a "dummy" hostname for the endpoint-path
- use `http://` (_with_ double slash)

[2016-09-16 11:00] justincormack commented on #17960
I think it is possibly related to the fact that http 1.1 requires the hostname, so it is impossible to make a valid http 1.1 request without specifying it. But it should have been better documented.

[2016-09-16 11:05] korabelnikov opened #26624 "docker command 'run' doesn't work"
i have try use 'nvidia-docker' instead 'docker', it have no effect.

Others command, like start, exec works properly.

**Output of `docker version`:**
Client:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.7.1
 Git commit:   23cf638
 Built:
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.7.1
 Git commit:   23cf638
 Built:
 OS/Arch:

[2016-09-16 11:18] ebuildy commented on #22891
Hello, it looks like Docker related, I can mount the share, browse it fine, but if I run a new container with a volume to it, I don't see the same files:

![](http://b3.ms/aKb9LQBbA3RJ)

Restarting Docker is fine:

![](http://b3.ms/8Wj9ojWKMLKg)

Did you implement the window pattern CTRL+ATL+SUPPR ^^ ?

[2016-09-16 11:18] thaJeztah commented on #26624
This is because the nvidia/digits image has an entrypoint: https://github.com/NVIDIA/nvidia-docker/blob/master/ubuntu-14.04/digits/4.0/Dockerfile#L24

So running `docker run -it nvidia/digits /bin/bash` will result in `/bin/bash` being passed as _arguments_ to the entrypoint (`./digits-server`), and this will be executed:

[code]

This is not a bug in Docker, but incorrect use of the nvidia/digits

[2016-09-16 11:18] #26624 closed

[2016-09-16 11:33] thaJeztah commented on #12997
@grizmin your error seems to indicate you're escaping values. The env-file format simply takes everything _after_ `=` as a value so having this in your env-file should work (no backslashes etc):

[code]

@gajus I suggest to open a proposal that adds this feature in a backward-compatible way, see for example https://github.com/docker/docker/issues/12997#issuecomment-233404873, or perhaps an approac

[2016-09-16 11:45] marech opened #26625 "how to get user real ip when use docker service / dns loadbalance"
Have problem  while getting user real IP - it always shows as container ip.

Im using docker 1.12 in swarm mode,  3 services with 2 replicas each.
2 gateway service replicas - whic dontains nginx and forward requests based on host
2 app1 service replicas - lets call it app1.example.com
2 app2 service replicas - app2.example.com

Thats how i created these services

[code]

Ingress network:
`docker

[2016-09-16 11:45] korabelnikov commented on #26624
@thaJeztah Thanks.
but how i can execute my own command with `docker run` ?

[2016-09-16 11:46] sap1ens commented on #26617
Yeah, imagine if this bug is not fixed and we have some sort of management UI for Swarm. In this case it's totally possible for one person starting an update and for someone else resizing the service at the same time.

So we have to either add additional check to UI (which creates more coupling) or just return an error when we attempt to resize and version update is not finished. I can take a look

[2016-09-16 11:58] JazzDeben commented on #9889
On Ubuntu. If you experience error:
 - x509: cannot validate certificate for [IP address or domain name] because it doesn't contain any IP SANs

On the Docker registry the certificate had to be compiled with the subjectAltName as described here:
https://docs.docker.com/engine/security/https/

Here is the code for convenience:
$ echo subjectAltName = IP:10.10.10.20,IP:127.0.0.1 > extfile.cnf
$ open

[2016-09-16 12:10] Tchinmai7 commented on #25303
A --security-opt option in service will make Checkpoint Restore easier!. so far, Trying CR with docker service always fails during the checkpoint time!

[2016-09-16 12:12] thaJeztah commented on #26624
Resetting an entrypoint can be tricky, but will be made simpler in docker 1.13, see https://github.com/docker/docker/pull/23718, and https://github.com/docker/docker/issues/23498 (I think there's a workaround mentioned there) Alternatively;

- start the container with the regular command, and use `docker exec -it <container name> bash` to get a shell in the container
- if you want to create a cust

[2016-09-16 12:14] thaJeztah commented on #13812
ping @justincormack any ideas on "fixing" or "documenting"?

[2016-09-16 12:15] monolar commented on #10033
btw, `pv` has a flag `-f, --force              output even if standard error is not a terminal` which actually allows to watch the progress bar without using docker attach (nice to know that though)

[2016-09-16 12:17] mafiya69 opened #26626 "docker service is running but it says not running"
**Description**

**Steps to reproduce the issue:**
1. `sudo systemctl status docker`shows `docker` is running.
2. `docker ps` shows `Cannot connect to the Docker daemon. Is the docker daemon running on this host?`

**Describe the results you received:**
![screenshot from 2016-09-16 17-40-57](https://cloud.githubusercontent.com/assets/7235212/18585526/0d4cd7b2-7c35-11e6-8955-fa8b606c2cae.png)

**De

[2016-09-16 12:20] rhatdan commented on #13812
@thaJeztah there is no fixing. If you are using IPC with the host, then one would expect that the IPC will be shared. SElinux will break this sharing, unless the separation is disabled for this container.  Similarly PID=host would indicate that you want the processes inside the container to see and examine or intercommunicate with these processes. SELinux would also block that communications.

[2016-09-16 12:23] thaJeztah commented on #25856
@primiano any update since?

[2016-09-16 12:25] thaJeztah commented on #13812
@rhatdan thanks! I was looking at the first comment and assumed a fix was possible.

I'll have a look at adding a note to the documentation

[2016-09-16 12:33] adulescentulus commented on #20097
@dweomer Are you still using your workaround (--registry-mirror=https://anonymous:anonymous@nexus.local:5001)? I cannot get it to work. I still keep getting the error:
`time="2016-09-16T12:24:20.615918563Z" level=error msg="Attempting next endpoint for pull after error: Get https://internal.nexus:15000/v2/mycompany/ubuntu/manifests/16.04: no basic
auth credentials"`
@davidkarlsen how are you doing

[2016-09-16 12:35] jonywtf commented on #12886
+1

[2016-09-16 12:38] frimdo commented on #24877
+1

[2016-09-16 12:38] GordonTheTurtle commented on #24877
*USER POLL*

*The best way to get notified of updates is to use the _Subscribe_ button on this page.*

Please don't use "+1" or "I have this too" comments on issues. We automatically
collect those comments to keep the thread short.

The people listed below have upvoted this issue by leaving a +1 comment:

@frimdo

[2016-09-16 12:38] tebeka commented on #17960
Thanks @thaJeztah, the following works for me:
[code]

[2016-09-16 12:46] thaJeztah commented on #26075
@aboch I can consistently reproduce the panic if the daemon is started with the invalid option once, basically:

[code]

produces the panic:

<details>
[code]
</details>

Running on current master (inside a container);

[code]

[2016-09-16 13:04] ibuildthecloud commented on #26619
There's not too much information to share, the stack should really be enough.  I wasn't really do anything at the time, but I was running Rancher.  Rancher will periodically call `docker info` and you can see from that stack that that is what crashed the system.  On a side note, `docker info` is crazy slow if you have a lot of images.  As such we stopped really ever calling `docker info` in our la

[2016-09-16 13:06] thaJeztah commented on #22909
@aa21 `exec` is a built-in command, so cannot be used as command for a container (theres no "file" / "binary" named `exec`). In your case, there's no reason to use it, try running simply:

[code]

or (with a shell);

[code]

And it should work

[2016-09-16 13:12] flavio commented on #7153
@thaJeztah: this is no longer a problem for us. We don't require this feature anymore.

Thanks!

[2016-09-16 13:14] shean023 opened #26627 "openvz template and docker pull os, don't uses docker service create command running,but docker run command sucessfull"
[root@node_master lib]# docker info
Containers: 3
 Running: 1
 Paused: 0
 Stopped: 2
Images: 4
Server Version: 1.12.1
Storage Driver: devicemapper
 Pool Name: docker-253:0-3222336209-pool
 Pool Blocksize: 65.54 kB
 Base Device Size: 10.74 GB
 Backing Filesystem: xfs
 Data file: /dev/loop0
 Metadata file: /dev/loop1
 Data Space Used: 1.437 GB
 Data Space Total: 107.4 GB
 Data Space Available: 105.9

[2016-09-16 13:20] LK4D4 commented on #7153
@flavio thanks for update
Going to close, because not a problem for anyone :)

[2016-09-16 13:20] #7153 closed

[2016-09-16 13:25] manast opened #26628 "[REMOTE API] Using the Command property when creating a service produces an error"
**Description**
When creating a service using the remote API (https://docs.docker.com/engine/reference/api/docker_remote_api_v1.24/#/create-a-service) if a Command is specified, for example ```json"Command": "a" ``` the API returns 500 and
"json: cannot unmarshal string into Go value of type []string"

**Steps to reproduce the issue:**
Use the remote API to create a service and try so specify a Co

[2016-09-16 13:30] justincormack commented on #26625
This is a duplicate of https://github.com/docker/docker/issues/25526 I think.

[2016-09-16 13:30] thaJeztah commented on #14711
Yup, there is, but it was moved to https://docs.docker.com/engine/admin/logging/overview/

let me open a PR

[2016-09-16 13:31] justincormack commented on #26626
does it work if you do `sudo docker ps`? If so, you have not added your user to the `docker` group allowing you to access the docker socket.

[2016-09-16 13:34] marech commented on #26625
yep, its #25526  dup. Thanks!

[2016-09-16 13:34] #26625 closed

[2016-09-16 13:36] manast commented on #26628
Update: wrapping the command literal in [] works. I am not sure this is working as designed or not.

[2016-09-16 13:36] thaJeztah commented on #26619
I think over time, too many things have been added to `docker info` - I've mentioned adding more fine-grained (API) access at some point; @ibuildthecloud can you open an issue, and describe your use-case a bit more in-depth (e.g. what information does Rancher need), perhaps you have thoughts on making the `/info` endpoint more flexible as well?

`</sidenote>`

[2016-09-16 13:37] cpuguy83 commented on #26626
Closing since this is not likely a docker issue. Feel free to discuss here... but preferably it would be easier to help on #docker on IRC or in the community slack channel.

[2016-09-16 13:37] #26626 closed

[2016-09-16 13:39] asziranyi commented on #17960
@thaJeztah Thank you for the clarification of socket connection. Now everything is clear!

[2016-09-16 13:40] cpuguy83 commented on #26627
Can you please provide more information?

What commands did you run?
What did you expect to happen?
What actually happened?

Closing since I have no idea what this bug report is about. But we can re-open if you can provide more details.
Thanks!

[2016-09-16 13:40] #26627 closed

[2016-09-16 13:41] manast commented on #26628
ok, I figured it out, the command must be specified as an array where cmd is separated from its arguments:
[code]

[2016-09-16 13:41] #26628 closed

[2016-09-16 13:44] thaJeztah commented on #15379
Let me assign you @dmcgowan :smiling_imp:

[2016-09-16 13:45] laithrafid opened #26630 "error starting docker container in a 3.8 kernel"
error starting docker container in a 3.8 kernel

**Steps to reproduce the issue:**
1. have the same kernel and run hello world

## here's the error i'm getting :

sudo docker run hello-world
runtime/cgo: pthread_create failed: Invalid argument
SIGABRT: abort
PC=0x7fb25e2755f7 m=0

goroutine 0 [idle]:

goroutine 1 [running]:
runtime.systemstack_switch()
        /usr/lib/golang/src/runtime/asm_amd64

[2016-09-16 13:46] #14711 closed

[2016-09-16 13:50] thaJeztah commented on #25348
Thanks @cyphar, I think it's reasonable to assume this won't be fixed before a 1.12.x patch release; let me move it to 1.13 (hopefully)

[2016-09-16 14:00] frimdo opened #26631 "Docker service restart and exec"
### Feature idea
I belive docker service is missing a way to restart all replicas of service and way to exec on all replicas of service. Also logs available on one place would be great.

The reason is, that if you want to for example reload config file you updated in volume, you have to restart service inside container (reason of exec) or restart whole container (reason of restart). Without this f

[2016-09-16 14:02] sergtezt commented on #22625
@mavenugo - the workaround suggested doesn't work

[code]
Given the issue is reproducible even on the latest release - I'd mark it as **kind/bug**
We personally have experienced it twice already.

@mavenugo any idea when we can expect a fix?

[2016-09-16 14:03] thaJeztah commented on #26630
The minimum required kernel version for docker is 3.10. According to the information above, however, you're running on kernel 3.18? Kernel 3.18 is *not* a standard kernel for CentOS 7 (which runs on kernel 3.10), and you're running custom build of docker from modified sources (d381c64-unsupported). This setup is not supported, so I don't think we can help you resolve this

[2016-09-16 14:03] #26630 closed

[2016-09-16 14:25] mboggess opened #26632 "Allow user-generation of swarm join tokens"
I've read through the docs, and it seems that there's no way for a user to generate their own token to give to `swarm init` and then `swarm join` commands. The docs use case is with all docker machines running on one system, and for that use case, it is practical to run `TOKEN=$(docker swarm join-token -q worker)`. However, given a more distributed use case, this workflow doesn't scale. For exampl

[2016-09-16 14:26] tophj-ibm commented on #26601
Guess it's not 16.04 related, because It's now failing on x86 14.04 & aufs master as well. https://jenkins.dockerproject.org/job/Docker%20Master/6843/label=ubuntu-1404%20&&%20aufs/consoleFull

[2016-09-16 14:30] justincormack commented on #26632
I think this is a duplicate issue, but I can't find the original at the minute - there was a fair amount of discussion.

[2016-09-16 14:30] tophj-ibm opened #26633 "flaky test(s): TestSearchCmdOptions, TestSearchOnCentralRegistry, TestSearchWithLimit"
One issue because they all started failing at once, and always seem to fail together.

Seen failing on master: https://jenkins.dockerproject.org/job/Docker%20Master/label=ubuntu-1404%20&&%20aufs/6834/consoleFull

[code]

[2016-09-16 14:31] aboch commented on #26075
@thaJeztah Yes, I am aware of that.

[2016-09-16 14:41] thaJeztah commented on #23597
opened a PR to fix that part of the docs https://github.com/docker/docker/pull/26634

[2016-09-16 14:42] majuansari commented on #26571
Thanks . Got it fixed . php-fpm container had some issues

[2016-09-16 14:42] #26571 closed

[2016-09-16 14:45] majuansari opened #26635 "Docker not freeing up diskspace even after deleting images (macosx)"
I did the following to delete images and reclaim disk space. But unfortunately its not working

[code]
Then:
[code]
But still it does not free up the disk space .

[code]

[2016-09-16 14:54] JonasT commented on #26556
Here is a source for this practice:

https://www.andreas-jung.com/contents/dont-use-docker-in-github-repo-names-or-as-twitter-handle

Could you imagine what happened if the Python Foundation started sending out legal letters to e.g. someone providing a python-irc module for internet relay chat use?
This practice is super silly and should be stopped. If you are really so super-worried about a few 1

[2016-09-16 14:58] Anvil opened #26636 "A shared volume cannot be created if same-name volume has already existed and been removed by another host"
I'm currently developing a (unfortunately proprietary) Ceph Docker volume driver for a swarm (not swarm-mode) cluster. Under some circumstances a node is no longer able to create a volume if it has already existed and been deleted before.

The setup:
We have a some Ubuntu 14.04 servers running docker-engine 1.12.1. All docker engines are configured to use the Ceph plugin. All docker engines can ac

[2016-09-16 15:00] thaJeztah commented on #26636
ping @cpuguy83 I _think_ this may be a duplicate; didn't we have a PR to fix/change that behavior?

[2016-09-16 15:03] mboggess commented on #26632
Yeah, that's why I created this issue, because I couldn't find one either. I couldn't imagine that no one had talked about this. I'll look harder, but if you spot it, ping me. Thanks!

[2016-09-16 15:06] maresja1 commented on #24772
@homerakshay Thank you! In our case problem seemed to be related to a reverse proxy in front of a private gitlab registry. Guys taking care of the servers fixed. Sadly can't share more info on that.

[2016-09-16 15:43] smileart commented on #23621
It would be even better to actualise the documentation article itself, wouldn't it? Found this one by googling 🖖🏻

[2016-09-16 15:44] #12122 closed

[2016-09-16 15:47] justincormack commented on #26635
Yes, we are planning to work on this, hoping to get it working for 1.13. A factory reset will free up the space, but obviously loses everything.

[2016-09-16 15:55] cpuguy83 commented on #26617
ping @aaronlehmann

[2016-09-16 16:00] mboggess commented on #26632
Yep, that would be it. I'm assuming there's still no plans to give users control over generating the tokens?

[2016-09-16 16:01] LK4D4 commented on #16892
I dunno where we were here. But going to close it for now, because seems like everyone lost interest.

[2016-09-16 16:01] #16892 closed

[2016-09-16 16:09] LK4D4 commented on #16584
@aaronlehmann @stevvooe Do you think it's doable and reasonable.
For me it looks like too sophisticated feature.

[2016-09-16 16:10] justincormack commented on #26635
We have a tracking issue here https://github.com/docker/for-mac/issues/371, so I am going to close this here as it is specific to the Mac not a general Docker issue.

[2016-09-16 16:10] #26635 closed

[2016-09-16 16:14] aaronlehmann commented on #10256
Confirmed - the error message is now:

[code]

[2016-09-16 16:14] #10256 closed

[2016-09-16 16:15] justincormack commented on #26632
There is definitely a plan to make it easier to do scripted setup of a cluster, as it is quite difficult. I don't think that it will necessarily be by allowing the user to set the join tokens though.

[2016-09-16 16:16] justincormack commented on #26631
logs support is already planned for 1.13

[2016-09-16 16:18] LK4D4 commented on #11561
This issue is went off the track. Going to close it because docker networking changed drastically since.

[2016-09-16 16:18] #11561 closed

[2016-09-16 16:19] mlaventure commented on #26633
search on hub was down, it's back to normal now.

Thanks for the report.

[2016-09-16 16:19] #26633 closed

[2016-09-16 16:19] LK4D4 commented on #16720
ping @aboch @sanimej @mavenugo @mrjana

[2016-09-16 16:20] mboggess commented on #26632
Okay, cool. I'll be looking for that. Thanks for you help, @justincormack!

Closing this out.

[2016-09-16 16:20] #26632 closed

[2016-09-16 16:21] LK4D4 commented on #16732
Going to close for now, because wasn't reported since and probably is kernel issue. Feel free to reopen if problem still persists.

[2016-09-16 16:21] #16732 closed

[2016-09-16 16:22] aaronlehmann commented on #24891
Does `docker pull containername:tag` work on the machine where you ran `docker login`?

[2016-09-16 16:24] nishanttotla commented on #26617
@sap1ens thanks for the report! I tried the steps here a few times before finally hitting this on my machine with Docker 1.12.1

[2016-09-16 16:24] sanimej commented on #7540
@discordianfish Since the issue here is about the source IP the behavior should be the same for TCP and UDP. I verified for UDP as well. I will go ahead and close this issue.

Did you face any other UDP related issue with Docker ? If its something that is still seen in newer versions we can address it.

[2016-09-16 16:24] #7540 closed

[2016-09-16 16:28] LK4D4 commented on #16578
@aaronlehmann @stevvooe @NathanMcCauley does this still makes sense? #15365 was merged.

[2016-09-16 16:31] khurram85 commented on #24891
Yes, docker pull works just fine on the manager machine and on all nodes as
well. I manually ran docker pull on all docker engines but still getting
this image not found error.

On Friday, 16 September 2016, Aaron Lehmann <notifications@github.com>
wrote:

--
Best Regards

*Khurram Shahzad* | System Administrator | Zigron Inc.
E-mail: Khurram.shahzad@zigron.com
Website: www.zigron.com

[2016-09-16 16:32] LK4D4 commented on #9689
@mavenugo @mrjana @sanimej @aboch still need to be addressed?

[2016-09-16 16:33] aaronlehmann commented on #26617
I believe this is fixed on master by https://github.com/docker/swarmkit/pull/1497

I'll flag this for backport to 1.12.2.

[2016-09-16 16:41] LK4D4 commented on #16762
I think it's not necessary to have it in docker info. People can use numactl.

[2016-09-16 16:41] #16762 closed

[2016-09-16 16:43] LK4D4 commented on #16967
Not sure it's worth efforts. You can build image from repo with simple script.

[2016-09-16 16:43] #16967 closed

[2016-09-16 16:47] sanimej commented on #26530
@nyanloutre I don't have a bunch of physical machines. But with VMs I am not able to recreate this issue. Are you using stock Ubuntu 16.04 or are there any changes ? Are you running any additional network utilities (ufw etc.) ?

[2016-09-16 16:48] LK4D4 commented on #16967
@tianon thanks for update!

[2016-09-16 16:49] LK4D4 commented on #4817
@aaronlehmann @tonistiigi @stevvooe Is this possible without major changes in design?

[2016-09-16 16:51] LK4D4 commented on #15794
btw ping @estesp
I think it's not so hard to implement and might be useful

[2016-09-16 16:52] elgs commented on #11561
Feel free to close it, because I found docker not usable and am no longer using it at all now. LXC and even OpenVZ are more usable.

[2016-09-16 16:53] albers commented on #17114
Here are my thoughts:

Generated completion is desirable, but not at the expense of poor quality. The generation should also increase maintainablility.

In detail:

## quality
Docker's bash completion is very advanced. This makes it not only a timesaver but also a tool for exploring the Docker CLI.
If you don't remember whether the filter for running containers is called `state` of `status`, no pr

[2016-09-16 16:54] aaronlehmann commented on #24891
Would you be able to paste a full transcript of the commands you're running (minus the password, of course?)

[2016-09-16 16:58] allencloud opened #26638 "Panic when restart dockerd, seems related to swarmkit"
**Description**

When I purged docker-engine, and install it again via `apt-get install -q docker-engine=1.12.1-0~trusty`, panic happened like the dockerd's log.
Got dockerd's log:
[code]

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2016-09-16 16:59] aaronlehmann commented on #26038
Analysis of the logs shared here has led to a few fixes on the master branch of SwarmKit:

https://github.com/docker/swarmkit/pull/1539
https://github.com/docker/swarmkit/pull/1537

I'm hoping we'll release them as part of a 1.12.2 release soon, and then it will be possible to test that release and confirm that it fixes the underlying problems.

Thanks again for the info here.

[2016-09-16 17:00] allencloud commented on #26638
When I `rm -rf /var/lib/docker/swarm` and restart dockerd, no panic happens and dockerd starts to work.

[2016-09-16 17:00] albers commented on #17114
There was an attempt for autogenerated bash completion in docker-machine: https://github.com/docker/machine/pull/1309, which was superseded by a traditional approach in https://github.com/docker/machine/pull/1993

[2016-09-16 17:02] jhowardmsft commented on #26604
Curious. The Windows to Windows CI servers in Azure have run with a second drive (SSD) since pre-TP4 with no issues at all, so this sounds environmental. Although they don't run as a service. Can you try using docker master (there are many fixes since 1.12), and attempt running directly from the command line such as `dockerd -g d:\daemon` to see if it is specific to running as a service.

[2016-09-16 17:09] LK4D4 commented on #15618
@mrjana @mavenugo @aboch @sanimej was this fixed? Should people use --mtu-size to fix this?

[2016-09-16 17:10] LK4D4 commented on #17143
was fixed

[2016-09-16 17:10] #17143 closed

[2016-09-16 17:13] khurram85 commented on #24891
docker login -u username -p password
docker pull containername:tag
docker service create --with-registry-auth containername:tag

[2016-09-16 17:15] pdevine opened #26639 "Local NFS volumes do not resolve hostnames"
**Description**

If you create an NFS volume using the local storage driver, you have to use the IP address of the NFS host.  If you use the host name, your container will fail to start and will return "docker: Error response from daemon: invalid argument."

**Steps to reproduce the issue:**
1. create an NFS server and export a directory
2. create a docker volume using "docker volume create -o typ

[2016-09-16 17:16] elgalu commented on #16584
Looking in retrospective I don't see this as a good idea anymore, might be better to do this in 2 steps, first querying the images then choosing which one to run, through some tooling outside of docker.

Feel free to close if you agree.

[2016-09-16 17:16] aboch commented on #26435
@normanv

I am assuming you need containers on multiple networks for isolation purposes.

As you are on docker 1.11.2, the only other driver you can use which will not need to install isolation rules is overlay, but you have to maintain an external k/v store.
If you are ok to move to 1.12.x instead, then you can use macvlan driver.

Each comes with different networking plumbing and tradeoff, not k

[2016-09-16 17:17] LK4D4 commented on #16584
@elgalu thanks for an update! really appreciate it.
I think we all changed our view on docker features in last year.

[2016-09-16 17:17] #16584 closed

[2016-09-16 17:20] pdevine commented on #25545
Any love for this issue?  @cpuguy83

[2016-09-16 17:24] tonistiigi commented on #26619
dupe of #23158

[2016-09-16 17:24] #26619 closed

[2016-09-16 17:25] tonistiigi commented on #23158
. @ibuildthecloud managed to get it in `1.12` as well: https://github.com/docker/docker/issues/26619

[2016-09-16 17:26] LK4D4 commented on #23158
Now I think maybe it's map race. It's not always reported like map race, but still kills daemon.

[2016-09-16 17:29] mafiya69 commented on #26626
Though I am now able to use `docker`. I am getting Network Related issues while doing a `pull`.
[code]
Though I am behind a proxy server, I am using VPN and everyting on my system works perfectly with that.

[2016-09-16 17:29] aaronlehmann commented on #4817
There's already a lot of detailed discussion in the issue about the pros and cons. I'm not sure I have anything to add.

I don't think it's technically difficult to make the changes suggested here, but it's more of a design question.

[2016-09-16 17:32] aaronlehmann commented on #16578
It's still an issue. #22337 will help a bit. In general we discourage using registries without TLS. The latest version of Registry has support for LetsEncrypt so it's even easier to set up TLS now. I don't think we're going to put much effort into making it easier to avoid TLS.

[2016-09-16 17:35] crosbymichael commented on #26371
@thaJeztah no, this is a easy fix that someone can make as a contribution

[2016-09-16 17:36] LK4D4 commented on #4817
@aaronlehmann @stevvooe I wonder who can do design decision. Issue is pretty old, so if nobody will come with arguments I will close it.

[2016-09-16 17:37] WigiPedia commented on #17653
Hey y'all.
I'm new to this program but I'm trying to install the latest version of Zenoss Core which requires this particular version of docker. That being said, I am receiving the following status message after following the instructions in the installation manual.

● docker.service - Docker Application Container Engine
   Loaded: loaded (/usr/lib/systemd/system/docker.service; disabled; vendor p

[2016-09-16 17:37] LK4D4 commented on #16578
I'm closing this then. TLS is nice thing.
Thanks @aaronlehmann

[2016-09-16 17:37] #16578 closed

[2016-09-16 17:39] justincormack commented on #26639
Yes, the local driver simply passes the arguments to the `mount` syscall, and does not know specifically about nfs at present. I think someone was looking into this.

[2016-09-16 17:41] LK4D4 commented on #16193
Long time since last comment here. Going to close it.

[2016-09-16 17:41] #16193 closed

[2016-09-16 17:41] LK4D4 commented on #17226
Didn't see it since. Hope it's fixed.

[2016-09-16 17:41] #17226 closed

[2016-09-16 17:41] otravers commented on #13817
For the record I can still replicate that behavior with Docker for Windows 1.12.1-stable (b7135) and ConEmu v160914[64]. Which I guess makes sense since the issue referenced by @Cano8 is still under code review.

[2016-09-16 17:42] LK4D4 commented on #16912
still an issue
ping @sanimej @aboch @mrjana @mavenugo

[2016-09-16 17:46] LK4D4 commented on #13697
@nalind @NathanMcCauley do you know what's status here? I see some references from another repos, but not sure how to interpret them.

[2016-09-16 17:49] LK4D4 commented on #17018
@cpuguy83 psst, still an issue?

[2016-09-16 17:52] LK4D4 commented on #17371
Still, an issue and error is even weirder:
[code]
We should fix this.
ping @mavenugo @mrjana @sanimej @aboch

[2016-09-16 17:56] LK4D4 commented on #17403
ping @thaJeztah @mavenugo @mrjana @aboch @sanimej

[2016-09-16 17:56] LK4D4 commented on #17416
Looks like resolved.

[2016-09-16 17:56] #17416 closed

[2016-09-16 17:57] LK4D4 commented on #17399
Looks resolved.

[2016-09-16 17:57] #17399 closed

[2016-09-16 17:58] LK4D4 commented on #16884
@rhvgoyal Do you know if this is still issue?

[2016-09-16 17:59] allencloud opened #26642 "docker allows both global and replicated mode in api request"
**Description**
I send a service create request in postman `192.168.0.104:2375/services/create`, with the request body, in the request body both `replicated` and `global` modes are set which seems unreasonable:
[code]

while dockerd returns `201(created)`, and
[code]
And this service is global mode.

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**
[code]

**Descr

[2016-09-16 18:02] tonistiigi commented on #26638
@allencloud Did you run master before? I think the wal format changed so it can't be downgraded.

cc @aaronlehmann

[2016-09-16 18:03] LK4D4 commented on #17260
I think such specific use-case can be built with tooling around docker. Implementation in Dockerfile would be challenging and hard to maintain.

[2016-09-16 18:03] #17260 closed

[2016-09-16 18:03] rhvgoyal commented on #9614
@LK4D4 Some of these are possible imporovements. But nothing says that they are big gains. For now nothing is on my priority list. May be we can close this and open when we are actually changing something or this becomes a serious performance issue.

[2016-09-16 18:04] LK4D4 commented on #16755
Flush panic was fixed. Too many links probably too, wasn't reported since. Feel free to open new issue if problem persists.

[2016-09-16 18:04] #16755 closed

[2016-09-16 18:05] allencloud commented on #26638
@tonistiigi
Yes, I have run master before to test my code.

[2016-09-16 18:06] rhvgoyal commented on #16884
This should not be an issue. /var/lib/docker/devicemapper is a bind mount onto itself. We marked it private due to various propagation issues.

Also at somepoint of time there was issue that when docker daemon stopped, it did not unmount this mount point. But it is now fixed since. So this can be closed.

[2016-09-16 18:07] LK4D4 commented on #17347
I dunno why to use `-it` with non-interactive usage. Issue looks like inactive anyway.

[2016-09-16 18:08] LK4D4 commented on #17264
Centos 6 is not supported anymore.

[2016-09-16 18:08] #17264 closed

[2016-09-16 18:08] LK4D4 commented on #16884
@rhvgoyal Thanks!

[2016-09-16 18:08] #16884 closed

[2016-09-16 18:09] LK4D4 commented on #9614
@rhvgoyal thank you very much for the answer. I appreciate it.
Closing this.

[2016-09-16 18:09] #9614 closed

[2016-09-16 18:10] LK4D4 commented on #17520
Closing as not an issue

[2016-09-16 18:10] #17520 closed

[2016-09-16 18:10] vikstrous opened #26644 "proposal: the docker client should load certs from certs.d in addition to ~/.docker/tls"
When #12756 is solved and certs.d becomes more commonly used to trust private registries, the next issue that users will run into is that the docker client and the daemon have different CA directories. This is an issue when trying to pull with content trust enabled and you have a private registry cert only in one place, but not the other.

I'm proposing making the client trust all CA certs from ce

[2016-09-16 18:12] LK4D4 commented on #16510
Closing as nobody interested :(

[2016-09-16 18:12] #16510 closed

[2016-09-16 18:16] LK4D4 commented on #17444
Going to close this because AUFS doesn't support remote filesystems.

[2016-09-16 18:16] #17444 closed

[2016-09-16 18:19] LK4D4 commented on #17477
It was implemented through `--runtime` option

[2016-09-16 18:19] #17477 closed

[2016-09-16 18:20] LK4D4 commented on #16436
Closing as inactive.

[2016-09-16 18:20] #16436 closed

[2016-09-16 18:21] LK4D4 commented on #9570
I think that new registry even supports letsencrypt. `--insecure-registry` is an atavism.

[2016-09-16 18:21] #9570 closed

[2016-09-16 18:22] LK4D4 commented on #17684
This was fixed

[2016-09-16 18:22] #17684 closed

[2016-09-16 18:23] LK4D4 commented on #16765
ping @mavenugo @mrjana @aboch @sanimej

[2016-09-16 18:26] LK4D4 commented on #17728
ping @thaJeztah
Still an issue.

[2016-09-16 18:27] LK4D4 commented on #12949
user namespaces were implemented and can be used for high-security deploys.

[2016-09-16 18:27] #12949 closed

[2016-09-16 18:30] LK4D4 commented on #9862
The issue wasn't reported again for a long time. Also, kernel traces here is from three different issues.
I'm going to close this issue. Pls feel free to open new issue if problem still persists.

[2016-09-16 18:30] #9862 closed

[2016-09-16 18:31] LK4D4 commented on #17805
@cpuguy83 Do you know if this was addressed?

[2016-09-16 18:33] aaronlehmann commented on #26638
Yes, see docker/swarmkit#1483

@docker/core-swarmkit-maintainers: Please review that PR. The longer this goes unfixed, the more problems it will create for people.

[2016-09-16 18:33] LK4D4 commented on #17706
Docs was updated.

[2016-09-16 18:33] #17706 closed

[2016-09-16 18:35] LK4D4 commented on #16654
@stevvooe @NathanMcCauley have no idea what's going on here. Is this still a concern?

[2016-09-16 18:36] nikolasd commented on #20628
I had the same problem, but in my case I had no debug information on the console. I managed to get the error message from syslog. The problem appeared on Ubuntu 16.04 with docker version

    Client:
     Version:      1.12.1
     API version:  1.24
     Go version:   go1.6.3
     Git commit:   23cf638
     Built:        Thu Aug 18 05:33:38 2016
     OS/Arch:      linux/amd64

    Server:
     Ver

[2016-09-16 18:36] LK4D4 commented on #9767
@thaJeztah Do you know if it was fixed?

[2016-09-16 18:37] LK4D4 commented on #17935
@thaJeztah Was this fixed?

[2016-09-16 18:38] LK4D4 commented on #10742
Going to close this as it's not a priority at all.

[2016-09-16 18:38] #10742 closed

[2016-09-16 18:41] LK4D4 commented on #15806
ping @aaronlehmann @stevvooe
Is this expected? Can we close this?

[2016-09-16 18:46] LK4D4 commented on #18162
There is still no batch requests. I'm not sure that this is still an issue with keep-alive though, headers overhead is not so big.
WDYT @dnephin @thaJeztah @tonistiigi

[2016-09-16 18:47] LK4D4 commented on #18173
@thaJeztah @runcom was this fixed? Can we close it?

[2016-09-16 18:47] LK4D4 commented on #18107
Was more like configuration question. And we have docs about that.

[2016-09-16 18:47] #18107 closed

[2016-09-16 18:50] LK4D4 commented on #18060
Docker on windows works with hyper-v through docker for windows now.

[2016-09-16 18:50] #18060 closed

[2016-09-16 18:51] LK4D4 commented on #15597
@thaJeztah @jhowardmsft there is certainly a lot of work to do here. But I'm not sure that we should keep this issue. Maybe create new issue with checklist of what needs to be documented or I dunno.

[2016-09-16 18:51] LK4D4 commented on #18207
Looks like fixed.

[2016-09-16 18:51] #18207 closed

[2016-09-16 18:52] aaronlehmann commented on #15806
Docker treats `registry/default/ubuntu-15.04` as an image on the Hub. It only treats the first component as a hostname if it has a `.` or `:` character. It's an unfortunate design choice IMHO.

Unless someone has an idea for how to improve this, maybe we should close this.

[2016-09-16 18:52] LK4D4 commented on #18200
#19794 fixed this

[2016-09-16 18:52] #18200 closed

[2016-09-16 18:53] jhowardmsft commented on #15597
@neilpeterson One for you?

[2016-09-16 18:54] LK4D4 commented on #15806
@aaronlehmann That's what I thought. Thanks.

[2016-09-16 18:54] #15806 closed

[2016-09-16 18:58] jm3 commented on #24372
Can someone explain what the fix is for this issue when using ECR? Followed the AWS ECR tutorial to the letter, but blocked on the last step of uploading the image to the ECR registry because of:

`error parsing HTTP 403 response body: invalid character 'Y' looking for beginning of value:
"Your Authorization Token has expired. Please run 'aws ecr get-login' to fetch a new one."`

[2016-09-16 19:00] LK4D4 commented on #18034
this was fixed in #19175

[2016-09-16 19:00] #18034 closed

[2016-09-16 19:07] jm3 commented on #15612
same issue, OS X, Docker latest.

[2016-09-16 19:19] ginkel commented on #26038
@aaronlehmann @stevvooe Thanks a lot for analyzing and addressing the issue. Much appreciated!

If there is a chance to test the SwarmKit changes before 1.12.2 is released (to get early feedback), please let me know.

[2016-09-16 19:22] cpuguy83 commented on #17805
Not addressed.

[2016-09-16 19:26] LK4D4 commented on #17805
ping @mrjana @mavenugo @sanimej @aboch

[2016-09-16 19:31] mrjana opened #26646 "Worker node fails to recover from a join failure because of transient networking issue"
**Description**

If there is a transient networking issue when a a `swarm join` command is issued in worker node which persists until the join command times out, then the worker node never recovers from that even if the engine instance is restarted.

**Steps to reproduce the issue:**
Reproduced in a set of dind instances:
1. Created two dind instances running docker master version engine
2. Did sw

[2016-09-16 19:41] duglin commented on #17260
I'd still prefer just the simple `NOCACHE` cmd to turn off caching from that point on in the Dockerfile.

[2016-09-16 19:54] dansan commented on #12791
Ofc that's possible - but that's a workaround, not an interface.

[2016-09-16 19:56] LK4D4 commented on #17260
@duglin Yeah, I believe there is issue about this as well.

[2016-09-16 20:10] dbabits opened #26648 "Docker does not start - Unit docker.socket failed to load"
This is the same issue specified in the  issue #2598, which seems to be prematurely closed.

Workarounds suggested there do no work for me.
RedHat 7 3.10.0-229.el7.x86_64
Docker version 1.12.1

[2016-09-16 20:10] dnephin commented on #18162
I think if we were to make this change we would have to do it for every `GET` and `DELETE` endpoint. It's not a small change, so there needs to be significant benefit. In most cases just doing multiple calls is still pretty fast, especially from the same host.

Related to #5893, it might make sense as part of a larger API change/cleanup

[2016-09-16 20:19] thaJeztah commented on #24372
@jm3 the `--registry-auth` flag was renamed to `--with-registry-auth` in the actual release (it was named `--registry-auth` in the beta's

[2016-09-16 20:27] stevvooe commented on #25483
This is not necessarily true. Only updates that will affect the created tasks. It is unclear whether that is the case here.

Honestly, I don't know what the right behavior should be here.

[2016-09-16 20:28] soulrebel commented on #18936
Some simplistic rate limiting would help with performance in any case. #20713 is a good idea, but does not help with containers crashing on startup or full disks.

FYI I found myself again with a process dumping 3gb core files on boot. Luckily with overlayfs and `du` I found the pigs and deleted them from the dead container's fs. These things do happen.

I propose as a technical solution to implem

[2016-09-16 20:37] thaJeztah commented on #17114
Wow, thanks for the excellent write up there, @albers.

I agree. I think that (although auto-generated would be really _cool_), there currently isn't a direct need. We have an awesome team in @albers, and @sdurrheimer to help us out with the completion scripts, and, in fact, while doing so, helped us find actual bugs and inconsistencies in the code base on multiple occasions.

Unless someone wants

[2016-09-16 20:39] ggovindan commented on #10540
Hi, I am having to get the log messages of the iptables similar to @bukzor . Can someone please let me know if this is possible now? I am running docker 1.11.2. Thanks

[2016-09-16 20:42] ascora commented on #26563
@mrjana I have now tested it with the current master but the problem still exists. I used 3 fresh servers.

Here is my test:

- I got 3 servers from digitalocean with fresh ubuntu 16.04 LTS installed.
- I then installed docker 1.12.1 on it and created a new swarm with docker swarm init with all 3 servers
- I then did a `docker service create -p 84:80 --name httpd4 httpd`. This worked fine and I wa

[2016-09-16 20:42] pcgeek86 commented on #10668
I encountered this error with Docker Compose. In order to fix it, I needed to:

- Add `#!/bin/sh` to the `main.sh` script, defined as the `ENTRYPOINT` in the `Dockerfile`
- Force rebuild of containers: `docker-compose up -d --build --force-recreate`

[2016-09-16 20:42] LK4D4 commented on #17317
ping @aaronlehmann @stevvooe @dmcgowan

[2016-09-16 20:42] thaJeztah commented on #9767
I don't think it was done in the archived docs, but there's both GitHub releases (https://github.com/docker/docker/releases/tag/v1.12.1), and the global changelog https://github.com/docker/docker/blob/master/CHANGELOG.md. I think that release notes were actually dropped from the documentation, so this can be closed

[2016-09-16 20:42] #9767 closed

[2016-09-16 20:43] praiskup commented on #17347
This makes the docker output behave wrongly, and makes writing script really inconvenient...

By default, unix terminal is interactive, and most of the terminal utilities expect that.  Actuall, the '-t' option is a bit overkill, because you can detect that automatically within docker command.

Due to this bug, command-line outputs can not be colorized the "good way":
[code]

[2016-09-16 20:51] jm3 commented on #24372
@thaJeztah i clearly don't understand docker at all:

[code]

[code]

[2016-09-16 20:55] stevvooe commented on #16654
@LK4D4 The problem is that using the API client and notary together is non-trivial. We can probably fix this, but the registry client needs to have notary integrated. We created interfaces in the registry to support this but the security team chose not to integrate with those interfaces, opting instead to integrate into the CLI methods.

[2016-09-16 20:58] thaJeztah commented on #24372
@jm3 if you're not running in Swarm mode, then `docker service` commands don't apply to you. If you just want to "run" a container from an image (`docker run foobar`), then you don't need Swarm mode, and don't need the `docker service` commands.

"Swarm mode", and the `docker service` commands are for multi-host docker setups; read about it here: https://docs.docker.com/engine/swarm/, and https://

[2016-09-16 20:59] thaJeztah commented on #16654
/cc @endophage @cyli

[2016-09-16 21:02] thaJeztah commented on #25483
Given that the container name / task name is based on the service name, I'd say that a rename affects the tasks.

Although I can understand if we decide to make "renaming" no longer possible (which, probably, would require a deprecation..)

[2016-09-16 21:09] thaJeztah commented on #18173
Looks like this was addressed in https://github.com/docker/docker/pull/18707, so closing

[2016-09-16 21:09] #18173 closed

[2016-09-16 21:11] stevvooe commented on #25483
To tell you the truth, I am not sure how this squeaked its way in.

[2016-09-16 21:11] jm3 commented on #24372
@thaJeztah ah, ok. i'm not really trying to use swarm mode, it just happened to be the error i get when i try to use the `--with-registry-auth` flag. I want to complete the 4 step [AWS ECR tutorial](https://us-west-1.console.aws.amazon.com/ecs/home?region=us-west-1#/repositories/create), but docker throws that error above as shown in [my comment](https://github.com/docker/docker/issues/24372#issue

[2016-09-16 21:16] thaJeztah commented on #24372
@jm3 sorry, can't help you with that, I'm familiar enough with the AWS  ECR tools (possibly @samuelkarp has some hints)

[2016-09-16 21:17] hdeadman commented on #25381
I got this error trying to exec into a container and it my case it was also a result of not having enough space in the thinpool.

lvs showed there was some space in the thinpool on all the servers in the swarm but exec started working after I ran:

/usr/bin/docker rmi `/usr/bin/docker images -qa`

[2016-09-16 21:20] LK4D4 commented on #16304
@stevvooe Do you think it's still worth to research? It was almost a year.

[2016-09-16 21:21] LK4D4 commented on #17990
I think this was fixed.

[2016-09-16 21:21] #17990 closed

[2016-09-16 21:22] stevvooe commented on #16304
@LK4D4 This is pending some due diligence on using these in urls. We can merge https://github.com/docker/distribution/issues/1202 once this is done.

[2016-09-16 21:24] LK4D4 commented on #1512
I saw similar issue today and even pinged @estesp there, but I'm too lazy to find it. This is definitely duplicate, but I won't close it without a link to another issue.
ping @thaJeztah maybe you know

[2016-09-16 21:25] LK4D4 commented on #18300
was fixed

[2016-09-16 21:25] #18300 closed

[2016-09-16 21:26] LK4D4 commented on #18383
I'm going to close it because everyone lost interest. Feel free to open again if it's still a problem.

[2016-09-16 21:26] #18383 closed

[2016-09-16 21:26] stevvooe commented on #24372
@jm3 You can't use services without enabling swarm mode, so `--with-registry-auth` wouldn't be usable either. Once you've setup swarm mode, this should integrate with the AWS tutorial using `docker login`.

[2016-09-16 21:28] LK4D4 commented on #18426
ping @aaronlehmann @stevvooe @tonistiigi @dmcgowan

[2016-09-16 21:30] LK4D4 commented on #18433
I think this was fixed in #18888
Feel free to open new issue if it's not.

[2016-09-16 21:30] #18433 closed

[2016-09-16 21:31] LK4D4 commented on #18473
was implemented

[2016-09-16 21:32] LK4D4 commented on #18477
ping @thaJeztah

[2016-09-16 21:33] LK4D4 commented on #18501
looks like still a valid issue

[2016-09-16 21:37] LK4D4 commented on #18480
I think this was superseded by #22736

[2016-09-16 21:37] #18480 closed

[2016-09-16 21:38] LK4D4 commented on #18558
Looks like not an issue in vanilla docker

[2016-09-16 21:38] #18558 closed

[2016-09-16 21:38] jhowardmsft commented on #18383
@LK4D4 Absolutely, right call :smile:

[2016-09-16 21:39] LK4D4 commented on #18532
It was a long time :( Closing issue because nothing can be done now.

[2016-09-16 21:39] #18532 closed

[2016-09-16 21:42] LK4D4 commented on #18114
Never saw this since. Feel free to open new issue if problem still persists.

[2016-09-16 21:42] #18114 closed

[2016-09-16 21:43] LK4D4 commented on #17409
This was fixed as far as I know.

[2016-09-16 21:43] #17409 closed

[2016-09-16 21:44] LK4D4 commented on #18602
Issue is pretty old. Sad that it had not attention, but code changed so much since.
Feel free to open new issue if problem still persists.

[2016-09-16 21:44] #18602 closed

[2016-09-16 21:45] LK4D4 commented on #18407
Wasn't reported since. Feel free to open new issue if problem still persists. New issue has more chances to get an attention.

[2016-09-16 21:45] #18407 closed

[2016-09-16 21:46] LK4D4 commented on #18583
This still looks like a problem.

[2016-09-16 21:48] LK4D4 commented on #18494
Not sure about whole story, but I see question and I see answer.

[2016-09-16 21:48] #18494 closed

[2016-09-16 21:50] LK4D4 commented on #18543
@cpuguy83 looks like still an issue.

[2016-09-16 21:50] LK4D4 commented on #18582
@mrunalp Do you know if this was fixed?

[2016-09-16 21:51] LK4D4 commented on #18504
@cpuguy83 Do you know if this was fixed?

[2016-09-16 21:51] LK4D4 commented on #11188
plugins were implemented.

[2016-09-16 21:51] #11188 closed

[2016-09-16 21:52] LK4D4 commented on #14393
ping @thaJeztah

[2016-09-16 21:53] LK4D4 commented on #18675
Probably still valid request for more debugging info.

[2016-09-16 21:54] LK4D4 commented on #14510
It was a long time. I'm closing this for now because everything changed since.

[2016-09-16 21:54] #14510 closed

[2016-09-16 21:55] jm3 commented on #24372
cool. i have no knowledge of swarm mode whatsoever, just trying to push
image to ECR :)

On Fri, Sep 16, 2016 at 2:28 PM, Stephen Day <notifications@github.com>
wrote:

--

jm3 :: CTO + co-founder, 140 Proof
code.140proof.com

[2016-09-16 21:55] LK4D4 commented on #15993
Not sure if it was addressed.
ping @stevvooe @aaronlehmann @dmcgowan

[2016-09-16 21:56] LK4D4 commented on #18298
It was a long time since this thread was active. Some docs were added.
If it's still doesn't meet expectation - feel free to open new issue with particular concerns.

[2016-09-16 21:56] #18298 closed

[2016-09-16 21:57] LK4D4 commented on #11787
I think we can close this.

[2016-09-16 21:57] #11787 closed

[2016-09-16 21:58] LK4D4 commented on #19034
@thaJeztah do you know if this was fixed?

[2016-09-16 22:02] bboreham commented on #18473
@LK4D4 would you mind giving a pointer to where this was implemented? I don't see it at https://github.com/docker/docker/blob/master/restartmanager/restartmanager.go#L81-L85

[2016-09-16 22:02] estesp commented on #15794
Conceptually we are just now discussing what a command/subcommand that interacts with manifests looks like; see this comment for probably the best description of what we think it would include: https://github.com/docker/docker/issues/24739#issuecomment-233771271

Note that the functionality requested here is represented there in the UX list items 1 and 3.

[2016-09-16 22:05] aaronlehmann commented on #15993
This seems a lot better than it used to be.

`Error trying v2 registry` is a `logrus.Errorf` now.

I looked around and the only other debugging log lines I see that should arguably be errors instead are in the v1 protocol code, which is very seldom used and only exists for backward compatibility.

We can probably close this.

[2016-09-16 22:13] ch-acctg commented on #26586
I'll add that we have downgraded to 1.11.2 and have not triggered the issue so far.  So, it is possibly 1.12 only.

[2016-09-16 22:15] LK4D4 commented on #18473
@bboreham Sorry I've closed without explanation.
I thought that your case would be satisfied with `--restart=on-failure:1`. But it seems like it actually restarts process once.
I'll reopen issue

[2016-09-16 22:15] LK4D4 commented on #15993
@aaronlehmann Thanks!

[2016-09-16 22:15] #15993 closed

[2016-09-16 22:19] bboreham commented on #18473
Does `--restart=on-failure` now restart the container on reboot?

[2016-09-16 22:21] LK4D4 commented on #18473
@bboreham I've tried daemon restart and it worked.

[2016-09-16 22:32] thaJeztah commented on #1512
@LK4D4 did you mean https://github.com/docker/docker/issues/4239 ?

[2016-09-16 22:34] thaJeztah commented on #18583
/cc @anusha-ragunathan - perhaps something to think take into account for plugins

[2016-09-16 22:35] LK4D4 commented on #1512
@thaJeztah nope #15794

[2016-09-16 22:36] LK4D4 commented on #1512
But probably they all about same thing - proxy registry api to docker api.

[2016-09-16 22:42] thaJeztah commented on #18501
ping @duglin perhaps you have thoughts on this as well

[2016-09-16 23:33] kindermoumoute opened #26651 "mounting "/proc" to rootfs cannot be mounted because it is located inside \"/proc\"""
**Description**
I'm trying to mount the `/proc` folder from a container _A_, into the folder `/proc_host` another container _B_. I'm using a named volume to do that, but it looks like doing it overwrites the `/proc` folder on my container _A_.

In the example:
- Container _A_: docker:dind.
- Container _B_: ubuntu:xenial.

**Steps to reproduce the issue:**
1. Create this `docker-compose.yml`
[code]

[2016-09-16 23:59] fasthall opened #26652 "Golang client API - client.CopyToContainer doesn't work"
**Description**
Using golang client package to implement copying host file to container. The following lines are the codes:
[code]
It throws error. `docker cp HOST_FILE_TO_BE_COPIED CONTAINER_ID:/testfile` works however.

**Steps to reproduce the issue:**
1. Run a container with ID `CONTAINER_ID`
2. Prepare the host file and run the above code.

**Describe the results you received:**
[code]
20dc47

[2016-09-16 23:59] mrunalp commented on #18582
I will retest and report here.

[2016-09-17 00:17] dongalex commented on #25098
Hi,
If the docker daemon is booted by -H fd://, I can't use docker -H fd:// version to get the version information, can anybody tell me how to access docker daemon in this case? I'm not familiar with "fd://"

Thanks a lot

[2016-09-17 00:39] sfitts commented on #26546
Here's the docker log (sorry, no debug mode on this one).  I don't see any devicemapper errors in the syslog.

[code]

[2016-09-17 00:40] sfitts commented on #26546
Here is what's in the kernel log around the same time:

[code]

[2016-09-17 00:44] bboreham commented on #18473
@LK4D4 and I've tried a reboot and it didn't restart my container.

[code]

[2016-09-17 01:09] thaJeztah commented on #25098
@dongalex if it's on the same host, simply `docker version`, or `sudo docker version` should work

[2016-09-17 01:15] thaJeztah commented on #18477
Changes were made to allow overlay networking on kernel 3.10, which is the minimum version required to run docker, so we can close this

[2016-09-17 01:15] #18477 closed

[2016-09-17 01:16] martinkouba commented on #13381
Had the same trouble with building nginx:alpine

What fixed it for me was that the build process uses docker0 and not the bridge.
The clue was in the log entries of shorewall in /var/log/syslog
Setting up network forwarding for docker0 fixed it

[2016-09-17 01:32] #24921 closed

[2016-09-17 02:25] dongalex commented on #25098
@thaJeztah , yes, i tried, it works ,thank you!

[2016-09-17 02:25] shean023 commented on #26627
thx  cpuguy83,
example, same server and images running two command
docker service create --user shean --with-registry-auth --name centos6   --constraint 'node.id==1p0kmlnvci0s6ojgbni07lb8f'  localhost:5000/centos6  /bin/bash -----this command don't   running   container.

docker run -d -i -t  localhost:5000/centos6 /bin/bash   command running sucessfull.
i don't know how to  Solve the problem ,giv

[2016-09-17 02:39] nazar-pc commented on #18129
Seems to work fine now

[2016-09-17 02:39] #18129 closed

[2016-09-17 02:45] shean023 opened #26655 "docker 1.12.1 use (docker service create) command running container fails"
example, same server and images running two command

docker service create --user shean --with-registry-auth --name centos6 --constraint 'node.id==1p0kmlnvci0s6ojgbni07lb8f' reg.cattlee.com:5000/centos6 /bin/bash -----this command don't running container fails

docker run -d -i -t reg.cattlee.com:5000/centos6 /bin/bash command running successfull.
i don't know how to Solve the problem ,give me gui

[2016-09-17 02:53] volnet commented on #26495
I try the `rm -rf /var/lib/docker` & `rm /var/run/docker.pid`, and start docker in debug mode `sudo dockerd -D -s vfs > /home/appuser/docker.log`

login in another ssh client:
[code]

The logs is

[code]

[2016-09-17 02:59] cpuguy83 commented on #26627
Bash requires a tty or it will exit immediately. There is no way to specify that you need a tty on services yet.

[2016-09-17 03:04] jamesongithub commented on #25993
hey @cpuguy83, haven't been able to reproduce, but the daemons are definitely hanging during builds. docker ps still works, but our builds are timing out now.

[code]
https://gist.github.com/jamesongithub/c6e8a8d0512cc95a0fea9efc7932b58f

[2016-09-17 03:48] majuansari opened #26657 "Question : Is this the right way?"
Hi,

I have a docker-compose file which includes following services

mysql
php
apache2
nginx

I want to start a lamp or lemp environment using following commands instead of entering each service name
docker-compose up lamp
or
docker-compose up lemp

so for that I created 2 more services

lamp:
        image: tianon/true
        depends_on:
            - php-fpm
            - apache2
            -

[2016-09-17 04:47] yongtang commented on #26341
The issue seems to be that in:
https://github.com/docker/docker/blob/v1.12.1/daemon/daemon_unix.go#L716
`netutils.ElectInterfaceAddresses(bridgeName)` only returns the first IPv4 address (not checking against the address of `--fixed-cidr`) of the bridge, so the order of the addresses on the bridge makes a difference.

[2016-09-17 04:59] ZHAJOR opened #26658 "Image from hub doesn't work"
**Description**
I made an image for the framework phalcon : https://hub.docker.com/r/zhajor/docker-apache-php7-phalcon/
I tried it on a mac (Docker version 1.12.1, build 6f9534c, experimental) with kitematic and it was working well.
So i decided to deploy it on my  debian server (configuration below). I pulled the image and then did a basic docker-compose:
[code]
Everything is running, the contain

[2016-09-17 05:36] shean023 commented on #26655
[root@node_master ~]# docker service create --user shean --with-registry-auth --name centos6   --constraint 'node.id==1p0kmlnvci0s6ojgbni07lb8f'  reg.cattlee.com:5000/centos6 /bin/bash
8fdbnhtiqml17miwp9pikcs4p

info log

Sep 17 13:31:56 node_master systemd: Device dev-disk-by\x2duuid-c1a2552d\x2d86c7\x2d4137\x2d9019\x2d399166c17ada.device appeared twice with different sysfs paths /sys/devices/vir

[2016-09-17 06:00] yongtang commented on #26341
@gg7 @aboch I created PR #26659 and libnetwork PR https://github.com/docker/libnetwork/pull/1452 , please take a look and let me know if there are any issues.

[2016-09-17 06:24] duglin commented on #17260
@LK4D4 more than that there was a rejected PR:  https://github.com/docker/docker/pull/10682

[2016-09-17 06:32] alirezaDavid opened #26660 "more than one --constraint per service create"
Hi
Can i have more than one --constraint per service create ?
[code]

[2016-09-17 06:43] praiskup commented on #17347
The unfortunate thing about github is that, as an original reporter, I'm unable to re-open the issue.
So now we probably forget about this issue?

[2016-09-17 06:49] duglin commented on #18501
I wonder if it wouldn't be better to drop down to the native `cp` command to do the copy so that we let the OS determine what to do in situations like this - after all, whatever `cp` does is probably what people would expect anyway.  Plus, then we don't need to try to duplicate its logic.

Although, one problem with this might be that, I think:
`COPY dir /tmp/`
will copy the contents of `dir` into

[2016-09-17 07:50] michelvocks commented on #26657
Hello @majuansari
Your question is not related to docker nor an issue related to docker. I think this kind of questions should go into [IRC or Community Forums](https://github.com/docker/docker#talking-to-other-docker-users-and-contributors).

To answer your question. I would use [multiple compose files](https://docs.docker.com/compose/extends/) to have one which defines the default services (php/

[2016-09-17 08:01] michelvocks commented on #26651
Hello @kindermoumoute
Following sentence is described in the [docs](https://docs.docker.com/engine/tutorials/dockervolumes/#/mount-a-host-directory-as-a-data-volume):

You should use the `volumes-from` functionality: https://docs.docker.com/engine/tutorials/dockervolumes/#/creating-and-mounting-a-data-volume-container

[2016-09-17 08:10] shean023 commented on #26655
Sep 17 16:07:11 node_master systemd-udevd: error: /dev/dm-3: No such device or address
Sep 17 16:07:11 node_master systemd-udevd: error: /dev/dm-3: No such device or address
Sep 17 16:07:19 node_master kernel: XFS (dm-3): Mounting V4 Filesystem
Sep 17 16:07:19 node_master kernel: XFS (dm-3): Ending clean mount
Sep 17 16:07:19 node_master kernel: XFS (dm-3): Unmounting Filesystem
Sep 17 16:07:20 no

[2016-09-17 08:11] shean023 commented on #26655
i think,This problem is due to a disk or network causes

[2016-09-17 08:16] shean023 commented on #26655
i think,This problem is due to a disk or network causes

[2016-09-17 08:34] majuansari commented on #26657
Sorry , But my question was regarding docker composer.

Is there any way to start  services using another service with docker-compose up?

[2016-09-17 10:07] primiano commented on #25856
Sorry ended up being super busy. Didn't manage to look more into both issue, will try again next weekend.
In the meantime I confirm that disabling HEALTHCHECK solved the daemon crashing issue.

[2016-09-17 10:27] thaJeztah commented on #18129
Thanks @nazar-pc

[2016-09-17 10:58] allencloud commented on #26660
@alirezaDavid
Yes, of course. You can try with two constraints like:
[code]

[2016-09-17 11:03] xiaods commented on #247
@LK4D4 i think we can close it, if anyone can give a real proposal design, then he can open another issue to track the topic.

[2016-09-17 11:10] coodoo opened #26661 "Command to kill all services started by docker deploy from a dab file?"
I'm experimenting with `docker deploy my_dab` to deploy three services and wondering is there a way to kill all three services at once?

Currently I'm using `docker swarm leave --force` for that, is there a equivalent of `docker-compose stop` to have all services terminated? Thanks.

[code]

[2016-09-17 11:33] shean023 commented on #26627
thks,It is the cause of

[2016-09-17 11:34] #26655 closed

[2016-09-17 11:48] FarhadF opened #26663 "Docker 1.12 Swarm Mode Persistent data"
Question: How to manage data volumes in swarm mode?(Pretty Awesome Feature, Good job guys), (I'm sure it will be a popular question)
Managing volumes on single docker host via local driver is pretty straight forward.
Now with swarm mode , I couldn't find enough documentation to demystify the issue.
So the case: I'm running swarm mode, got some containers that require persistent data. I'm running s

[2016-09-17 11:49] cpuguy83 commented on #17114
Agree. It would be pretty difficult to do this, and the solution probably wouldn't truly be autogenerated.

[2016-09-17 11:49] #17114 closed

[2016-09-17 11:53] cpuguy83 commented on #26663
@FarhadF See https://github.com/docker/docker/pull/25776
If you have questions feel free to hop on #docekr on IRC or the community slack and ping me.

[2016-09-17 11:53] #26663 closed

[2016-09-17 12:00] cpuguy83 commented on #26651
You can't mount to `/proc`. Why are you trying to do this?
Closing since this is expected behavior.

[2016-09-17 12:00] #26651 closed

[2016-09-17 12:06] cpuguy83 commented on #26657
Closing since this isn't really a Docker issue.

If you have questions, feel free to hop on #docker on IRC, forums.docker.com, or the community slack channel with lots of people happy to help.

It also may help to just try the thing you are asking about to see if it works?

[2016-09-17 12:06] #26657 closed

[2016-09-17 12:20] vshcherb opened #26664 "No possibility to specify grace period in the Healthcheck for service startup"
This is follow up of these issues and changes:
https://github.com/docker/docker/issues/21142
https://github.com/docker/docker/pull/23218
https://github.com/docker/docker/issues/24396
https://github.com/docker/docker/pull/24856

So following the changes, in the original request 21142 there was a grace-period mentioned to let service startup longer. There was a workaround implemented using exit code

[2016-09-17 12:20] cpuguy83 commented on #26658
Sounds likely to be a permissions issue.
Docker4Mac has a slightly different behavior when mapping in host directories in that it maps the UID/GID to match the process in the container, but on Linux there is no such mapping.

[2016-09-17 12:21] cpuguy83 commented on #26658
Going to close this for now, but if you find that it's not the case please ping here.

[2016-09-17 12:21] #26658 closed

[2016-09-17 12:34] cpuguy83 commented on #26652
This is the same function the CLI uses.
Please see https://github.com/docker/docker/blob/master/cli/command/container/cp.go#L271 for how the CLI uses it.

If you find what's wrong maybe you can update the code doc string?

Closing since this isn't really an issue.

[2016-09-17 12:34] #26652 closed

[2016-09-17 12:38] cpuguy83 commented on #17018
Still an issue.

[2016-09-17 12:39] cpuguy83 commented on #25545
Just requires persisting options in the volume db so we can retrieve them along with labels.
Feel free to make a patch, should be fairly straight forward.

[2016-09-17 12:42] cpuguy83 commented on #26636
Yes. We now support `docker volume rm -f` for this case.

[2016-09-17 12:42] #26636 closed

[2016-09-17 12:45] hoegertn opened #26665 "exec format error on Docker for Mac"
Starting alpine images on Docker for mac leads to the following error:

[code]

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Docker for Mac latest beta

[2016-09-17 12:46] cpuguy83 commented on #12328
@VIPv6 I'm certain I don't understand here.
It looks like you have a bunch of containers from (probably) `docker build` (or rather multiple builds) that failed (hence, the `Exited(1)`) and 1 container in a `Dead` state.

A `Dead` container is one that had errors on removal, you can attempt to remove again.  Note that if you use `docker rm -f`, docker will remove it from the in-memory state regardl

[2016-09-17 12:50] cpuguy83 commented on #26665
ping @justincormack

[2016-09-17 12:54] AkihiroSuda opened #26666 "DATA RACE: (*Daemon).SystemInfo() vs (*Daemon).ContainerRm()"
**Description**

**Steps to reproduce the issue:**
1. `BUILDFLAGS=-race make binary`
2. Execute `docker info` repeatedly
3. Simultaneously, execute `docker build -t tmp1 . && docker rmi tmp1` repeatedly. The content of `Dockerfile` is arbitrary, but just `FROM busybox` is enough.

**Describe the results you received:**

[code]

**Describe the results you expected:**
There should not be any race

*

[2016-09-17 13:11] AkihiroSuda commented on #26666
workload is similar to https://github.com/docker/docker/issues/26619 but perhaps unrelated

[2016-09-17 13:28] AkihiroSuda commented on #26666
Similar race during some swarm operation (`docker service create --name faulty --replicas 3 busybox `)
[code]

[2016-09-17 13:30] justincormack commented on #26665
Can you try a factory reset? It works fine in our tests and for other
users, so something about your setup must be broken and the factory reset
is a good start.

On 17 Sep 2016 1:50 p.m., "Brian Goff" <notifications@github.com> wrote:

[2016-09-17 13:50] #26642 closed

[2016-09-17 13:59] #247 closed

[2016-09-17 14:05] cpuguy83 commented on #18504
Yes, probably still a problem as the container lock is held while we are mounting volumes.

[2016-09-17 14:06] cpuguy83 commented on #19758
@mjsalinger Have you looked to see if you have the same problem after changing graph drivers? Or for that matter upgrading the kernel?

[2016-09-17 14:07] cpuguy83 commented on #20039
Added beginner label, should be easy enough to fix.

[2016-09-17 14:16] cpuguy83 commented on #16982
Yes, I think this is still an issue.
There is not a good correlation of refs to images from outside the image store (e.g., containers).

[2016-09-17 14:17] cpuguy83 commented on #19052
I really don't know anything about this, maybe someone from libnetwork can help?

[2016-09-17 14:17] cpuguy83 commented on #19052
ping @aboch

[2016-09-17 14:18] cpuguy83 commented on #17611
ping @mrjana

[2016-09-17 14:20] cpuguy83 commented on #25543
Sure, but I think it's there? https://github.com/docker/docker/blob/master/docs/reference/api/docker_remote_api_v1.24.md

[2016-09-17 14:24] AkihiroSuda commented on #26666
opened https://github.com/docker/docker/pull/26668

[2016-09-17 14:30] frimdo commented on #24277
Hi - I am here to ask for help, maybe it is issue, maybe I am doing something wrong. I am able to mount GlusterFS volume by creating container
[code]
And than mounting it by
[code]
What I am failing to achieve is to mount the volume right into docker service using `--mount` flag. I tryed
[code]
and
[code]
and many similar commands.

[2016-09-17 14:39] cpuguy83 commented on #24277
@frimodo this is not the right place to get support.
Please hop on #docker on IRC, forums.docker.com, or the docker community slack. Feel free to ping me on those.

[2016-09-17 16:57] LK4D4 commented on #17347
@praiskup I encourage you to open new issue and describe real use cases there.
Nor title, neither discussion match your report IMO - calling tty command is not real use case, that command has bug about working in containers and sort of "synthetic".
I'd prefer some real script with coloring and demonstration how it behave badly with docker.
Thanks!

[2016-09-17 16:58] itai-codefresh opened #26670 "Gelf logging driver never passes newlines ('\n)"
**Description**

In case of using gelf as the logging driver, it will never get newlines which makes it not usable because you can't show the logs formatted correctly to users.

**Steps to reproduce the issue:**

I am using this as my gelf server: https://github.com/wavded/graygelf
[code]

1. Run this on your localhost
2. Create a new container and attach the gelf server above as the logging drive

[2016-09-17 17:16] thaJeztah commented on #26670
This is because a log entry is generated for each line, delimited by `\n`. The `\n` is stripped when sending those log entries. You can get the original output back again by joining the log entries with a `\n`

[2016-09-17 17:27] #26394 closed

[2016-09-17 17:38] itai-codefresh commented on #26670
You are right. Every time a message is received i should address is as a newline.
The other problem this generates is that i don't receive anything until a newline is reached.
For example if i do 'docker pull' then i will only get an event to the gelf server after the layer has finished. This means that gelf is not a good choice if you want to live stream the output from your containers.

[2016-09-17 18:36] aboch commented on #19052
@owenhaynes The interface indices of the containers' interfaces are not contiguos, as from the discussion @cpuguy83 linked.

And they seem to increment at each container run:

[code]

[2016-09-17 19:20] thaJeztah commented on #26670
The same applies to all logging drivers in Docker. There's no way for docker to decide when to send a new log entry, other than using a newline for that. Afaik, that's how most logging systems work, but perhaps @cpuguy83 can fill me in on that one

[2016-09-17 19:22] cpuguy83 commented on #19052
Thanks for looking @aboch.

Going to close this one out, but feel free to continue the discussion.
Thanks!

[2016-09-17 19:22] #19052 closed

[2016-09-17 19:24] cpuguy83 commented on #26408
@skrysmanski I'm not sure there is a good solution to this, at least not without mounting volumes at each build step instead of only on `RUN`.

[2016-09-17 19:38] yongtang commented on #25545
Added a pull request #26671 to show options in `docker volume inspect`.

[2016-09-17 19:44] cpuguy83 commented on #24196
@mostolog https://docs.docker.com/engine/reference/commandline/dockerd/#/default-ulimits

[2016-09-17 19:51] itai-codefresh commented on #26670
If that's how all the logging drivers work, than how does the cli knows how to show a docker pull command correctly?
It must read the messages from the json driver, this means that messages that only contain '\r' must be in the file before an end of a line.
Am i wrong?

[2016-09-17 19:55] thaJeztah commented on #26670
Docker pull is not sent over the logging driver (unless you're running docker-in-docker); the logging drivers only send stderr/stdout from the container's process. Docker pull information is sent back to the client through the remote API

To get "real time" output  from a container, you can always run the container in the foreground, and attach to it.

[2016-09-17 19:58] thaJeztah commented on #26670
See this endpoint for pulling an image: https://docs.docker.com/engine/reference/api/docker_remote_api_v1.24/#/create-an-image

[2016-09-17 20:21] ZHAJOR commented on #26658
I don't think it's a permission issue, i already tried a chmod -R 777 on the project directory, i can add a basic file like ninja.php in the public directory and it's working well.
I also did a chown, but nothing came from this.

In fact i did a line by line test and the problem come from the index.php: `$application->handle()->getContent();`
So when it's loading the application.

And as i told if

[2016-09-17 20:33] michaelkrog commented on #24496
@bryanrite @thaJeztah Regarding nginx: I Think it's really a source of confusion for many. The free nginx indeed does resolve dns on startup(and exits if a specified host name is not available). But as I understand it the internal DNS always has the same ip for a service no matter how many instances there are. Therefore nginx continues to have the correct ip.

My guess is that fx. updating a servi

[2016-09-17 20:45] VIPv6 commented on #12328
Brian,

You misunderstand the problem. Most of these "dead" containers were  not created by us. They were created by Docker as we did other container maintenance.

The "exited" containers ending with "-data" were created by us intentionally. The exited containers named [adjective]_[name] were not created by us and we don't want them. Yes, we can remove them. But that doesn't fix the unwanted behav

[2016-09-17 20:52] cpuguy83 commented on #12328
Docker does not ever create containers on its own.

[2016-09-17 20:55] FuriouslyCurious commented on #26587
Woops - my bad I missed the mac repository.  I will resubmit the issue to correct repository.   Thank you!

[2016-09-17 20:56] thaJeztah commented on #12328
Based on the commands running in those failed containers, I suspect those containers are leftovers from a failed `docker build`. Each build step in a Dockerfile is executed in a new "anonymous" comtainer. Those containers are named randomly using the names generator, and "morse" is one of the names used in the name generator (see https://github.com/docker/docker/blob/4d590ba44a983ad881a2b44d8cd6ad

[2016-09-17 20:58] thaJeztah commented on #26587
No worries! That issue tracker was only opened recently :smile:

[2016-09-17 21:06] evanp opened #26672 "Container remains in rotation for service virtual IP during update"
**Description**

While updating a service, the currently updating task remains in the rotation for the virtual IP during the update. This causes failed requests for 1/N of the clients of that service.

**Steps to reproduce the issue:**

1. Start a service with N replicas and `update-parallelism M` where M < N, so that some tasks stay alive during the update.
2. Update the service with a new image

[2016-09-17 21:10] thaJeztah commented on #26672
Thanks for reporting. This may be a duplicate (and possibly fixed already), but not sure which issue :smile:

ping @mrjana perhaps you know

[2016-09-17 21:15] evanp commented on #26672
OK. I just grepped the virtual IP address in the syslog for the master node; here are some interesting results:

[code]

[2016-09-17 21:18] thaJeztah commented on #26660
Thanks for answering @allencloud

Looks like the docs are not very clear on this, and could use another example; https://docs.docker.com/engine/reference/commandline/service_create/#/specify-service-constraints-constraint

I've assigned myself, I'll create a PR to improve this

[2016-09-17 21:26] thaJeztah commented on #24496
@michaelkrog correct, _services_ have a VIP (Virtual IP) by default, and that shouldn't change. However, if a service is created with `dnsrr` (DNS round robin) mode, there's no Virtual IP, and resolving the service's name will return IP addresses of individual containers backing the service (and those are _not_ fixed).

[2016-09-17 21:28] otravers commented on #23991
@ivansieder bash on Win10 doesn't help because it cannot "see" Windows apps such as Docker for Windows.

[2016-09-17 21:31] thaJeztah commented on #24496
Perhaps we need more documentation about that (also an interesting read is https://github.com/stevvooe/sillyproxy)

[2016-09-17 21:37] ivansieder commented on #23991
@otravers not sure about it, maybe the docker team will hack somehow through it like they did with exposing the ports to localhosts ^^

[2016-09-17 21:41] itai-codefresh commented on #26670
You are right @thaJeztah.
Thanks a lot for clarifying this for me.
I am closing this.

[2016-09-17 21:41] #26670 closed

[2016-09-17 21:46] thaJeztah commented on #26670
You're welcome!

[2016-09-17 21:50] thaJeztah commented on #26664
ping @aluzzardi @crosbymichael @talex5

[2016-09-17 22:16] shane-axiom commented on #26259
+1 here. I want to have swarm run three replicas of a service per node, but I don't want more than three per node due to resource utilization/performance.

[2016-09-17 22:19] MouhamedAymen commented on #14026
I had the same problem, after updating to 1.12.1 and rebooting.
I solved it by removing **/var/lib/docker/overlay** (or just renaming it smth else, just in case, you know) and restarting docker. I have no idea why it worked, but glad it did.

[2016-09-17 22:25] hoegertn commented on #26665
Hi, thank you. The factory reset helped. Now it is all working again.

[2016-09-17 22:25] #26665 closed

[2016-09-17 22:37] thaJeztah commented on #26381
Let me go ahead and close this issue, as there's no reproducible setup now, but feel free to comment if you think I closed by mistake

[2016-09-17 22:37] #26381 closed

[2016-09-17 22:41] yongtang commented on #26664
Created a PR #26673 that adds `--initial-retries` for `HEALTHCHECK`. Please take a look.

[2016-09-17 23:11] thaJeztah commented on #26364
CentOS 6.x is no longer supported, and upgrading the kernel only may result in unexpected things. Please upgrade to CentOS 7.2, which is a supported platform

[2016-09-17 23:18] coodoo commented on #24310
Using docker for mac and still hit the same issue, service ports not mapped to host, however, one could manually publish the port once the service is up, as shown below:
[code]

[2016-09-18 00:15] thaJeztah commented on #25249
As @cpuguy83 mentioned, docker does not have a`--volume` flag on `docker build`. Only the Red Hat fork of Docker has this.

I'm going to close this, because of that

[2016-09-18 00:15] #25249 closed

[2016-09-18 00:29] VIPv6 commented on #12328
Thanks for the explanation.

Kevin

[2016-09-18 04:22] praiskup commented on #17347
I would like to think that this is not truth.

Please don't overestimate this, this is just small bug I requested fix for.  But thanks for this comment, I'll hack the script.

[2016-09-18 04:37] praiskup commented on #17347
For example, `GNU tar` by default put's archive into standard output.  Unfortunately, our `Fedora` image is trimed enough to not have GNU tar in default installation, so you need to have Dockerfile, or run `ubuntu` image:
[code]
That is definitely expected, `tar` just warns us that putting binary content out into terminal could cause that the terminal is no longer useful...  So what that means is

[2016-09-18 04:52] praiskup commented on #17347
[code]
Then:
[code]
^^ still good, the output is green, but:

[code]
You should see only `Some (potentially) green output` there, because script should be able to detect that colorizing is not possible.

[2016-09-18 05:11] praiskup commented on #17347
@LK4D4 wrote:

If you found this not-a-bug for you, I can disagree and shrug, but it is probably OK -- another issue would be useless. I just wanted to help.

[2016-09-18 05:22] coodoo commented on #26661
Found the answer, just use `$ docker stack rm my_dab` will do the trick, it would be nice if this had been documented somewhere though.

[2016-09-18 05:22] #26661 closed

[2016-09-18 05:32] OferE commented on #23880
+1 - very important.

[2016-09-18 05:53] alirezaDavid commented on #26660
@allencloud Thanks a , my problem solved.

[2016-09-18 05:53] #26660 closed

[2016-09-18 07:57] daikaixian commented on #7481
+1
centos 7
docker 1.10

[2016-09-18 08:40] daikaixian commented on #22648
@thaJeztah  I followed your comment 'Create a /etc/docker/daemon.json file'  and restart docker .
then i can't see my docker images and containers.
so i try to change it to 'aufs' or just remove the file ,however the docker service can't start up.

[2016-09-18 09:10] flungo commented on #9731
I see that the `Dockerfile` syntax is no longer a frozen feature on the roadmap.

I would really like to see the ability to put build-args in the `FROM` directive. I think similar to others the reason would be to have the ability to build from multiple base images. If I could have `FROM docker:${version:-latest}` then I would be able to set up CI build jobs to create images for `1.9`, `1.10`, `1.1

[2016-09-18 09:21] justincormack commented on #17347
Unfortunately while there are some simple cases where having Docker auto
detect whether to create a tty based on the command, there are more complex
use cases where it is really hard, as you can attach to a command later for
example. Given that the default is no tty, ignoring that the user specified
a tty is also a problem. You can wrap the docker usage in a script that
checks is it is on a tty fa

[2016-09-18 09:33] skrysmanski commented on #26408
@cpuguy83 I'm not familiar with the inner workings of Docker. I just wanted to point out that the current behavior is confusing. If it's too complicated to fix, then we can't do anything about this. :)

[2016-09-18 09:59] vanloswang commented on #21880
Does anyone meet this situation, the CPU usage of the command 'docker load' is too high? almost 100% while the load task proccessing. The version of docker is 1.10.3

[2016-09-18 10:19] praiskup commented on #17347
Maybe we could have some option for that "auto" pty?  No doubts, those are valid arguments.

Can we elaborate on the 'stdout', 'stderr' merge?

[2016-09-18 11:31] thaJeztah commented on #22648
@daikaixian if you're switching to another storage driver (switching from aufs to overlay in your case), you're also switching to a different location to store data (e.g. `/var/lib/docker/overlay` instead of `/var/lib/docker/aufs`), so it's expected that you don't see any of your existing images or containers.

Without logs, I can't tell why the daemon refuses to start when you switch back (did it

[2016-09-18 11:34] thaJeztah commented on #9731
@flungo issue https://github.com/docker/docker/issues/18585 is still opened, so I think we can use that for tracking

[2016-09-18 11:40] gittycat commented on #25303
The `--security-opt` is also needed by Elasticsearch. Elasticsearch errors on startup `seccomp unavailable: your kernel is buggy and you should upgrade`. The [workaround given](https://github.com/docker-library/elasticsearch/issues/98#issuecomment-230316529) is to start containers using `--security-opt=seccomp=unconfined` but that's not available for services. What is a suggested workaround if any

[2016-09-18 11:55] michelvocks commented on #21880
@vanloswang
`docker load` extracts all data/layers from a file and saves/converts it to the disk. I think this is the expected behaviour to use as much as possible resources to finish this job as fast as possible.

Do you noticed any bad results from this (like crashing processes, a node restart or something else)?

[2016-09-18 11:56] thaJeztah commented on #25303
@gittycat https://github.com/docker/docker/issues/25209 is for tracking that option for services, perhaps you can add your use case there as well. One challenge will be to add a custom profile for services, as that would mean that the actual file containing the profile is present on each node (unless we store its content in the service definition @justincormack?)

[2016-09-18 12:04] AkihiroSuda opened #26685 "[test] `BUILDFLAGS=-race make test-integration-cli` found many data races"
I tried running `BUILDFLAGS=-race make test-integration-cli` for the recent master commit 6d8598f4bb98b7e3f04bf3a3dd039900414fe465, and got some interesting result:
- It panicked due to the timeout of `TestBridgeIPIsExcludedFromAllocatorPool`
- It took more than 4 hours until the panic (on GCE n1-standard-32!)
- Found data races in the `integration-cli/test.main`
- Found data races even in the `do

[2016-09-18 12:43] coolljt0725 commented on #26374
@mlaventure  sorry for late response, had to a 3-day vacation for the mid-autumn festival holiday :)

after digging this deeper, I think a better fix on the daemon side is to make the fake running containers(
show in docker ps but the container is not actually running) to non-running state on daemon starting.
On daemon starting, if the `container .IsRunning`  is true, then make sure the container

[2016-09-18 12:48] gittycat commented on #25209
Yes the --security-opt is also needed by Elasticsearch. Currently, starting Elasticsearch gives this error unable to install syscall filter: seccomp unavailable: your kernel is buggy and you should upgrade.
The workaround given is to start containers using --security-opt=seccomp=unconfined but that's not available for services.

[2016-09-18 13:52] cpuguy83 commented on #26648
The linked issue is surely not the one you wanted.

Can you provide more details please? Specifically the ones from the issue template: `docker info`, and `docker version` (I realize you may not be able to grab all of this if Docker is not starting), as well as the daemon logs.

A copy of your unit file may also help.

[2016-09-18 14:38] thyeun opened #26686 "Remove ethernet network device not managed the Ubuntu 16.04 interface"
OS : Ubuntu 16.04
Docker : v 1.12.1

After using syntax "sudo service docker start" and "sudo docker run hello-world", getting the same issue like the below picture

![junzm](https://cloud.githubusercontent.com/assets/1939446/18616521/0bd14d16-7df0-11e6-8afc-f2ece5e7d332.jpg)

[2016-09-18 14:38] sspreitzer opened #26687 "docker service create --cap_add NET_ADMIN"
Hi

I am missing --cap_add form swarm which makes it essentially useless to me as my container needs to play with its own linux bridges.
Also applies to --privileged which i need for a different container.

Thanks
Sascha

[2016-09-18 15:35] ZHAJOR commented on #26658
Hum some news, it's working under ubuntu.
I am looking on my debian server what is wrong.

[2016-09-18 16:33] cpuguy83 commented on #26687
Dup of #25885

[2016-09-18 16:33] #26687 closed

[2016-09-18 17:37] luxas opened #26688 "ubuntu-xenial armhf deb archives not trusted"
**Description**
I'm trying to install docker on scaleway on an **armhf ubuntu xenial** node.

**Steps to reproduce the issue:**
1. `curl get.docker.com | bash`

**Describe the results you received:**
[code]

**Describe the results you expected:**
Docker should install properly

cc @DieterReuter @Govinda-Fichtner @tianon @StefanScherer @moul

[2016-09-18 18:16] hansij66 commented on #26567
Everything worked fine for a few days; building/deploying a few new docker containers; once in a while a reboot to verify if all is fine after a reboot.
This morning (not sure if related - after updating Debian & reboot), suddenly all communication from containers to outside world stopped; specifically ping 8.8.8.8 did not work anymore; I could not build any containers anymore (when apt-get is req

[2016-09-18 18:40] NoOrdInaryGuy commented on #22753
Thanks a lot @justincormack , I'm able to use your workaround to access all of my containers directly by aliasing onto `lo0`, which gets me up and running with Docker for Mac :+1:

I'm using `docker-compose` to run my containers, so the last wrinkle is needing to configure the port forwarding to bind to the correct IP address on the host, per container. (Binding to `0.0.0.0` will give me port conf

[2016-09-18 19:35] justincormack commented on #26664
I think the argument around this (removing code 2) was that the healthcheck was not there to show readiness, and so another mechanism should be used to show readiness, and so services should return healthy when they are starting up normally even if they are not ready to serve (eg we discussed database recovery which can take a very long time). In that case we should not fix this by suggesting that

[2016-09-18 19:42] justincormack commented on #26686
`NetworkManager` does not play well with network interfaces that it does not create, I think that is the issue. I would uninstall it or file an issue with Ubuntu, I don't believe there is anything that Docker can do about this. There are some workarounds here http://support.qacafe.com/knowledge-base/how-do-i-prevent-network-manager-from-controlling-an-interface/ - I usually do the last one of unin

[2016-09-18 19:48] justincormack commented on #26644
For Docker for Mac and Windows we are planning to trust all the certs on the client machine for the daemon. This is a slightly unusual case as these are on the same laptop I guess. But I am not sure why you wouldnt just put CA certs in the system CA cert directories, in which case they would work for both anyway?

[2016-09-18 20:16] thyeun commented on #26686
@justincormack haha... any way thanks for your link.

[2016-09-18 20:20] thaJeztah commented on #26688
Afaik, we currently only ship arm packages for raspbian. _However_ there looks to be a directory in the repository, with an empty packages list; http://apt.dockerproject.org/repo/dists/ubuntu-xenial/main/binary-armhf/

ping @mlaventure could you take a look? I think that needs to be removed?

[2016-09-18 20:23] thaJeztah commented on #26686
Looks like this is not a docker bug; are you ok with closing this one @thyeun?

[2016-09-18 20:32] #26686 closed

[2016-09-18 20:46] MichaelW-SD commented on #23873
I am still seeing this issue (service update breaks exposed port) in 1.12.1. Restarting the daemon is the only way to fix it.

[2016-09-18 21:16] Bregor commented on #13885
Same here.

- Docker: 1.12
- Kernel: 4.4.3
- Distro: ubuntu

Daemon:

		# strace -q -y -v -p `pidof dockerd`
		futex(0x2a69be8, FUTEX_WAIT, 0, NULL
		futex(0xc820e1b508, FUTEX_WAKE, 1)      = 1
		futex(0x2a69be8, FUTEX_WAIT, 0, NULL)   = 0
		futex(0xc8224b0508, FUTEX_WAKE, 1)      = 1
		futex(0x2a69be8, FUTEX_WAIT, 0, NULL)   = 0
		futex(0x2a69be8, FUTEX_WAIT, 0, NULL

Client:

		# strace docker p

[2016-09-18 22:57] vshcherb commented on #26664
I'm afraid adding concept readiness could be mislead people. I'm not arguing that's bad or good approach, as of today we have a third state "container starting" which can not be controlled by the docker image (i.e. docker build concept). So in terms of user, "container starting" is displayed when healthcheck returns unhealthy which leads developer to use HEALTHCHECK to implement "proper" starting

[2016-09-19 01:16] xiaods commented on #26672
@evanp cloud you please test it based on upstream docker binary.

[2016-09-19 01:25] vikstrous commented on #26644
Yeah, trusting the certs globally is generally the most reliable option. However, when users/customers have a large number of different distros and each of them has their own way of managing CA certs, it would be much easier to be able to tell them "just put the cert in X directory" instead of "look up how to add certs globally for your distro".

[2016-09-19 02:51] evanp commented on #26672
@xiads It's not clear what you mean. I'm using Docker 1.12.1 installed via Docker Machine.

[2016-09-19 02:57] evanp opened #26692 "Panic while updating node key"
**Description**

Node in swarm crashes and does not automatically restart.

**Steps to reproduce the issue:**
1. Add a node to a swarm
2. Wait ~24 hours

**Describe the results you received:**

The docker daemon goes down and stays down. "panic" referenced in syslog for docker, with an index error, somewhere involved with updating keys.

[dockerfail.txt](https://github.com/docker/docker/files/4791

[2016-09-19 02:59] evanp commented on #26692
In the attached log file, it's worth noting that there appears to have been a failure earlier in the day, related to node key indices.

[2016-09-19 03:50] xiaods commented on #26672
@evanp i found the @thaJeztah mentioned this report maybe a duplicate bug fixed already. so i suggest you can build a docker binary from upstream repo, then reproduce your steps again.

[2016-09-19 04:01] masaeedu commented on #22981
@friism Is there a particular reason this is done by asking you for your password instead of using UAC? Relying on Windows' built in elevation mechanism seems like it would be more secure and would bypass the unicode issues we're seeing. If the user doesn't like UAC prompts (e.g. if they're on a dev box) they'll already have the notification level set to low, or will run docker in an elevated proc

[2016-09-19 04:10] aboch commented on #26692
Thanks for the report.
This is a duplicate of #25608

[2016-09-19 06:09] fanyer commented on #24366
docker preference rest solve this problem,thx

[2016-09-19 06:12] deanrather commented on #7336
+1

[2016-09-19 07:08] daikaixian commented on #22648
@thaJeztah
the docker service successfully actually,but it tell me it failed in console. maybe it was another little bug.just ignore it.

Whatever,thx.

[2016-09-19 07:08] nyanloutre commented on #26530
@sanimej I am using stock Ubuntu with just iptables and no other firewall utilities

[2016-09-19 07:22] rpong79 opened #26693 "Docker for windows - non-zero code: 255 - After installing updates (Win Server 2016)"
**Description**

Getting non-zero code: 255 when building an image after installing Windows 2016 server Updates.
(KB3188966,KB890830,KB3188128,KB3172729,KB3173423,KB3172989)

Before installing the mandatory Windows Server 2016 updates, building images works fine.
After installing the updates the first command in the build file executes succesfully, but the command after that fails. To get the imag

[2016-09-19 07:25] maxmeyer commented on #17302
1. But what kind of solution would you propose to integrate into enterprise monitoring systems. To my knowledge most of them are based on SNMP

2. What is you point of view if yours is "non-DevOps"? Dev? Ops? I'm an operator very interested in having a solution which is easy to integrate into an existing RFC-standard-based environment - in regards to used network protocols.

[2016-09-19 07:33] hkvemuri opened #26694 "Application callbacks for docker start/stop/checkpoint/restore"
**Description**

Now that the pull request for checkpoint/restore https://github.com/docker/docker/pull/22049 has been merged, I am creating a new issue as state in the pull request for additional functionality.

We could perhaps introduce callbacks into the container for each of these actions performed from the docker CLI / API

    docker start
    docker stop
    docker checkpoint
    docker re

[2016-09-19 07:41] lyind commented on #24000
It seems to be an LXC (upstream) issue: https://github.com/lxc/lxc/issues/450

[2016-09-19 08:10] rtuk opened #26696 "Assigning service published ports to IP"
**Description**
When you create a service with a published port, this port is assigned to all host IPs (0.0.0.0). You cannot create a new service on the same port because this port is already in use.
This issue was first created in [docker/swarm](https://github.com/docker/swarm/issues/2478)

**Steps to reproduce the issue:**
1. docker service create --name test -p 192.169.2.8:80:80 nginx

and
1. d

[2016-09-19 08:48] TomasTomecek commented on #15794
This can be easily done now with [skopeo](https://github.com/projectatomic/skopeo).

I also feel like that #24739 is a superset of this, hence closing.

@LK4D4 @estesp  thanks for update!

[2016-09-19 08:48] #15794 closed

[2016-09-19 08:55] thaJeztah commented on #26696
I don't think this is really possible. In a multi-node swarm setup (which would be the "regular" setup for swarm mode), you'd have to know and specify the IP-address of *every* node in the swarm. I know there's been talk about "federation" (manage groups of nodes / multiple swarms), which is "slightly" related, but wouldn't cover this use case.

ping @mrjana any thoughts?

[2016-09-19 09:00] thaJeztah commented on #26692
Let me close this as duplicate of https://github.com/docker/docker/issues/25608. Thanks for reporting @evanp!

[2016-09-19 09:00] #26692 closed

[2016-09-19 09:05] thaJeztah commented on #24000
@lyind docker no longer uses LXC, so I don't think that would be related

[2016-09-19 09:23] thuannvn commented on #20221
@j127 works for me

[2016-09-19 09:25] thaJeztah commented on #26694
This feels similar to https://github.com/docker/docker/pull/17021

ping @crosbymichael @jfrazelle @mlaventure PTAL

[2016-09-19 09:32] Gmanweb opened #26698 "Create a build tool file so application will run"
**Description**
I need to create build environment for my Application.
My Application no longer builds correctly due to old versions of software.
I need to create an environment where builds will run correctly

**The software I need installed :**

1. maven v3.2.2
2. Nodejs 4.4.7
3. git
4. Python 2.7.9
5. grunt
6. Protractor v1.6.1
7. npm install - grunt-cli

The whole build process is driven by Ma

[2016-09-19 09:32] kakawait commented on #26664
I have exactly same issue, today I really can't `service create` safely tomcat container. Time between tomcat starting and application is successfully deploy and up and running is no the same and I think is not always predictable. Thus we can't rely on *time-base* solution, we need a way (as same as previous `exit 2`) to share **READINESS** status with container manager.

Otherwise *docker swarm m

[2016-09-19 10:17] #24277 closed

[2016-09-19 10:25] thaJeztah commented on #26698
The GitHub issue tracker is not intended as a general support, and https://forums.docker.com or the #docker IRC channel is probably a better location to ask this question. Could you move this over there? I'll close this issue here because this is not a bug

[2016-09-19 10:25] #26698 closed

[2016-09-19 10:34] xiaods commented on #26601
@tophj-ibm do you know howto reproduce the specified func in make test

[2016-09-19 10:58] mjsalinger commented on #22513
Just to add some info to this for your known issues' list: I ran into the exact same issue (running out of inodes, empty, orphaned `/var/run/ifstate.veth*` files) when conducting a load test on Ubuntu 14.04 with the latest backported kernel (`4.4.0-36-generic`).  The load test scenario was starting and immediately removing 250k containers (using the `ubuntu:latest` image) with a concurrency of 25.

[2016-09-19 10:59] awilkins commented on #23910
On Ubuntu, I settled on doing this ( as @justincormack describes)  by...

* Adding a `/etc/docker/daemon.json` that passed in the `docker0` bridge IP as a DNS server
* Adding a `/etc/NetworkManager/dnsmasq.d/docker-bridge.conf` file that directs the NM-managed DNS cache to listen to the `docker0` bridge IP as well as 127.0.1.1

Now container DNS lookups go through your local `dnsmasq` instance, so

[2016-09-19 11:11] pascavi commented on #24733
Same problem here, have you found a solution?
Thanks

[2016-09-19 11:11] xiaods commented on #26601
got it.

[code]

[2016-09-19 11:15] andrefreitas commented on #13847
Hi had the same problem in Docker Version 1.12.1. Cleaning the ARP entry for the Container IP fixed.

[2016-09-19 11:16] RobSkye commented on #17142
It makes sense to have an embedded security profile into the container metadata but would be great to prioritize the docker daemon settings because, as a sec guy, you maybe want to enforce a minimum profile and allow someone to run a container with a "better" profile but deny the use of profiles allowing things the default don't allow.

This can work in three ways:

--seccomp:embedded -> try to ru

[2016-09-19 11:18] thaJeztah commented on #23621
@smileart I updated the example in https://github.com/docker/docker/pull/26699

[2016-09-19 11:22] smileart commented on #23621
@thaJeztah Great! Thank you. Definitely will help someone. 👍

[2016-09-19 11:31] praiskup commented on #17347
Yes, I'm (to some extent) aware of this, but thanks for putting it here to someone else.

If I wanted to solve this issue for my program, for something I would like to ship to customers, the shell wrapper doing `test -t` (and setting appropriate docker cli options) would work for me.   I just considered it terribly inconvenient in terminal app to do this.  It looks like the container is "too far f

[2016-09-19 11:31] marech commented on #25526
@PanJ you still use your workaround or found some better solution?

[2016-09-19 11:31] jenkys commented on #24733
@pascavi  - Not yet.

[2016-09-19 11:32] xiaods commented on #25873
please close it as the swarmkit #989 is created

[2016-09-19 11:38] praiskup commented on #17347
I.e. I can still imagine e.g. `--detect-terminal` client option "doing the right thing", is that real?

[2016-09-19 11:45] xiaods commented on #26588
[code]
testing in macos

[2016-09-19 11:45] pascalandy opened #26700 "Set strategy to binpack | Swarm 1.12.1"
I understand Docker Swarm is using strategy spread by default.
https://docs.docker.com/swarm/scheduler/strategy/

How can I configure the strategy=binpack? I don't see a way to update this behaviour.

Thank you!

Server:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   23cf638
 Built:        Thu Aug 18 05:33:38 2016
 OS/Arch:      linux/amd64

[2016-09-19 11:50] thaJeztah commented on #13847
@andrefreitas please open a new issue with more details. This issue was opened with docker 1.6, and a lot has changed, so it's likely to have a different root cause (but the same effect)

[2016-09-19 11:59] pascalandy opened #26702 "Scheduler limits the # of ctn at 40 per nodes worker (overlay network limit is 252 ctn) | Swarm 1.12.1"
**Description**

It looks like Swarm can only schedule 38 to 40 container per worker nodes.

**Steps to reproduce the issue:**
Create then scale …

At this point nothing is scheduled anymore:

	6sccj9n4vbry  g99999003-h            200/300   devmtl/ngx-kyle_hp_g99999003:latest
	ak0jrutnzc34  g99999005-h            7/7       devmtl/ngx-kyle_hp_g99999005:latest
	elb3soar53el  g99999004-h            4

[2016-09-19 12:02] vibgyar commented on #20096
@mcmohd , You have mentioned that you specified a nproc of 250 which is the overall process limit for the user. That means only 250 containers can be created.  How in your case does that work?

[2016-09-19 12:04] xiaods commented on #26702
it's very strange report on limited container count

[2016-09-19 12:10] thaJeztah commented on #26702
Could you provide more information on how to reproduce? How are your services started, with what options? You say that your nodes should be able to run much more containers,  but what's the actual memory use on those nodes?

Does the daemon logs on those nodes give more information why the containers are not running/started?

[2016-09-19 12:10] evanp commented on #26696
I think the work-around for this is to publish different ports for the two services (like 8001 and 8002) and then use a load balancer bound to each IP address to proxy to each port.

Unfortunately the load balancer has to be managed outside of the cluster. They can either be managed through a Docker container on another virtual machine, or they can be managed outside of Docker. Many cloud platform

[2016-09-19 12:13] thaJeztah commented on #26259
Linking https://github.com/docker/docker/issues/24649, which is related / similar

[2016-09-19 12:16] thaJeztah commented on #26259
Also related: https://github.com/docker/docker/issues/24115

[2016-09-19 12:18] hekaldama commented on #25543
@cpuguy83 great! I am going to close.

[2016-09-19 12:18] #25543 closed

[2016-09-19 12:23] thaJeztah commented on #26700
more strategies will be added in future (see https://github.com/docker/swarmkit/issues/1034, and https://github.com/docker/swarmkit/issues/308) , but not yet available at this point.

/cc @aluzzardi

[2016-09-19 12:24] jmkgreen commented on #15020
@andjarnic verify the environment variable is set within the running container. I've just run `docker exec -it my_container bash` and within that environment run `env` and can see:

[code]

If I `docker inspect my_container` I can see `"Memory": 524288000` in the output which matches my `mem_limit: 500m` instruction within my `docker-compose.yaml` file for this container.

Separately, and again do

[2016-09-19 12:25] thaJeztah commented on #26696
For web-services, using a proxy-service that directs requests to the right service, based on hostname is the usual approach, also see this repo for a nice writeup; http://github.com/stevvooe/sillyproxy

[2016-09-19 12:32] thaJeztah commented on #25873
@xiaods I think it's ok to keep this open for the docker side

[2016-09-19 12:37] thaJeztah commented on #17653
@WigiPedia ` docker: "daemon" requires 0 arguments.` Looks like `\$OPTIONS` is escaped in your unit-file, therefore passed as a *literal* `$OPTIONS`. Anyway that looks not like a bug in docker, and not related to the issue being discussed here

[2016-09-19 12:57] bryanrite commented on #24496
@michaelkrog @thaJeztah Yes, the default nginx using roundrobin DNS directly to the swarm's hosts would be a problem, but to confirm, since I am using the swarm's service name, it would be binding to a VIP that doesn't change, load balancing within swarm itself and from my understanding this should not cause the above issue with nginx?

Restarting the nginx container does not resolve the issue, an

[2016-09-19 13:01] thaJeztah commented on #24496
@bryanrite there are some issue still being investigated with swarm networking, and I'm really no networking "expert", so not sure I can personally help further triaging the issue, but @mrjana or @mavenugo should be able to if needed (and better know what to ask for). Thanks for your offer for helping!

[2016-09-19 13:43] KostyaEsmukov commented on #5618
Faced this issue on CentOS 7.2 (3.10.0-327.28.3.el7.x86_64) and Docker 1.12.1 (w/o k8s). The problem arises when network traffic increases.
Booting kernel with ipv6 disabled (as per previous advice) didn't help.
But turning the docker0 interface into promisc mode have fixed this. Used systemd drop-in by @dadux (thank you!) - seems to be working good now.

[2016-09-19 13:47] rafiqkattangere commented on #23621
Super. Thanks. This helps.

[2016-09-19 13:48] zmetcalf opened #26703 "COPY or ADD to Root in Debian AUFS Kernal"
When running a similar command to this on an AUFS enabled kernal:

`COPY ["./scripts/script.sh","/"]`

it produces this error:

`/var/lib/docker/aufs/mnt/0ccc1fc1ba2187577d312a22cfecb2f206f1acfc8afe2b015aa4e82d6f527a49/script.sh: no such file or directory`

This has worked on previous versions of docker and this kernal. I was able to get this to work on a non-aufs machine.

On the AUFS Machine:
Cl

[2016-09-19 13:52] pascalandy commented on #26702
Sure and thanks for the prompt answers :)

Again the application is a basic nginx container with few HTML files.

launching the container:

[code]

scaling up

docker service scale g99999003-h=200

---

- Each workers have 2 GO of memory.
- I have 7 workers
- No containers are deployed into master
- Each containers is using 30 MO

---

Right now I can go on each workers and do a `docker ps `. I de

[2016-09-19 14:01] aanand opened #26705 "Proposal: allow `docker attach` for non-running containers"
In Compose (specifically `docker-compose run`), instead of duplicating all of Docker's considerable client-side attach logic, we'd like to start [shelling out to `docker attach`](https://github.com/docker/compose/issues/3194#issuecomment-220292194) instead, so we have better parity across all platforms (especially Windows).

However, there's currently [client-side code](https://github.com/docker/d

[2016-09-19 14:10] cpuguy83 commented on #26259
@shane-axiom This would be achieved by setting the proper resource constraints, would it not?
Limiting a service to only have N number per node because of *resources* seems backwards. It would be better to say "This service requires X RAM, Y CPU, Z DISK" and let the scheduler decide what is available resource wise.
...
Not to say there is no benefit at all of allowing at most N per node, but resou

[2016-09-19 14:10] boucher commented on #26451
@mlaventure Are you imagining storage like this:

[code]

or like

[code]

If the former, how do you propose tracking the relationship between container and checkpoint (since it seems like we weren't talking about removing that at this point)?

[2016-09-19 14:16] pascalandy commented on #26700
Thanks!

[2016-09-19 14:18] trifle commented on #5618
@rdallman Deactivating ipv6 via grub does not prevent `unregister_netdevice` for me in either ubuntu 16.06 (kernel 4.4.0-36-generic) or 14.04 (kernel 3.13.0-95-generic). Regardless of the `--userland-proxy` setting (either true or false).

[2016-09-19 14:19] cpuguy83 commented on #17302
@maxmeyer This is already exposed via the HTTP API.
This could easily be a separate service that reaches into docker's API to talk back to the snmpd.
Docker will also expose metrics via a new API endpoint, see #25820

[2016-09-19 14:21] thaJeztah commented on #26700
I'll keep it open for now, as others may have this question as well, but perhaps we can create a "tracking" issue with more information about other strategies that are planned once that information is available.

[2016-09-19 14:23] thaJeztah commented on #23621
@smileart @rafiqkattangere please be aware that that example is just for "illustrational" purposes; in most cases you don't _need_ an SSH service in your containers; for debugging / ad-hoc access to the container, `docker exec` will be a better solution

[2016-09-19 14:36] dangra commented on #26590
@mrjana not sure I follow why the case is atypical. To me is quite common to have a load balancer and/or reverse proxy that routes requests to different websites (swarm services) based on Host header.

It makes sense.So, do you confirm it is a problematic bug and can be fixed in Docker by moving the REDIRECT to container network namespace?

[2016-09-19 14:41] ehazlett commented on #20311
@nuved I'm going to close this as it appears to be resolved.  Please comment or open a new issue if you continue to have trouble.  Thanks!

[2016-09-19 14:41] #20311 closed

[2016-09-19 14:43] Anvil commented on #26636
As far as I appreciate the advise, which does not work here (`unknown shorthand flag: 'f' in -f`), is there any documentation somewhere that will warn people about this behavior / this root cause ?
A prevention mechanism instead of working around the consequences would be better, IMVHO.

[2016-09-19 14:44] ktwalrus commented on #26259
Yes. The current services scheduler needs more enhancements to support a single replicated MySQL database service. But, the first enhancement needed in my mind is that all replicas run on a separate node (for HA). I'm not sure how service definition should evolve in order to support this use case, but one possible direction is to allow the specification of a user-defined proxy that is used to "loa

[2016-09-19 14:45] ehazlett commented on #18774
@tylerhi I'm going to close this as it appears to be resolved.  If you still notice the strange behavior please comment or open a new issue.  Thanks!

[2016-09-19 14:45] #18774 closed

[2016-09-19 14:46] cpuguy83 commented on #26636
It doesn't work because it is new and will be in 1.13.

The issue is the volume was deleted "out-of-band", or at least as far as a particular engine is aware.

[2016-09-19 15:23] mlaventure commented on #26546
@sfitts unfortunately the logs are pretty sparse without them being in debug mode.

When the error occurs, does the path given in the error actually missing? Or can you find it on your filesystem?

[2016-09-19 15:29] chanwit commented on #26702
@pascalandy at that time, I thought it's limited at 40 because it's the average number across Swarm2K.
Will be surely double checking when my time permits !!

[2016-09-19 15:37] deacix commented on #25906
Hello!
I have the same problem @jmibanez can you explain how i can fix that?

[2016-09-19 15:52] mlaventure commented on #26374
@coolljt0725 once `containerd` is fixed the daemon should correctly receive the `exit` event for it.

But in order to be future proof, on restart if the `Restore` call for the container fails (see [here](https://github.com/docker/docker/blob/master/daemon/daemon.go#L192)), we should probably remove it from the running state indeed. Maybe mark it as `Dead`? Or maybe a new state to be more explicit

[2016-09-19 15:57] thaJeztah commented on #26703
I'm not able to reproduce, running on Debian Jessie 8.6 / Kernel 3.16.0-4-amd64

Contents of scripts/script.sh:

[code]

Contents of Dockerfile:

[code]

[code]

Start the image:

[code]

At what stage do you get the "no such file or directory" error? Is that during build, or when starting a container?

[2016-09-19 16:00] ascora commented on #26563
@mrjana I was able to re-produce the problem even without the restart of a node. I only deployed a new httpd service and executed
  wrk -t30 -c400 -d30 http://...
several times.

[2016-09-19 16:03] luxas commented on #26688
Another great feature for the get.docker.com script would be the possibility to override the distro, so I could run `curl get.docker.com | distro="raspbian-jessie" bash` or something.

That would fix this issue

[2016-09-19 16:09] dvoytik opened #26710 "container startup high latency"
**Description**

**Steps to reproduce the issue:**

[code]

Here is the problem:

[code]

**Describe the results you received:**

480 millisecond latency

**Describe the results you expected:**

Hard to say, but less than 50 ms at least.

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[co

[2016-09-19 16:12] mlaventure commented on #26694
I think this is actually a different scenario.

If I'm reading the description right, the goal here would be to have a process be ran from "inside the container" I'm guessing  to signal the main application of the changed state in case it needs special processing.

I personally think that this isn't needed. The changes being made by `docker` (i.e `pause`, `resume`, `checkpoint`) shouldn't affect t

[2016-09-19 16:15] LK4D4 commented on #17347
@praiskup I understand the problem now(same aliases for tty and file). I'm glad that you wrote so many comments to explain the issue. Please, include your `alias` + `coloring script` examples into issue description.
@justincormack I think with proper documentation `detect tty` feature is ok for `docker run/exec`.

[2016-09-19 16:16] thaJeztah commented on #26688
@luxas we try to keep the script "simple", as it should only be used to quickly bootstrap/setup a docker machine. For more advanced things (and for production use), it's better to manually set up.

[2016-09-19 16:17] mlaventure commented on #26451
@boucher more like the former (`/var/lib/docker/checkpoints/<checkpoint_id>/`)

I don't want to remove the relationship with the container initially. Adding the `container id` as a metadata file initially could serve as a link between the checkpoint and the container.

Removing this relationship can be done later as this involve a lot more code to be changed.

I just want to avoid having to create

[2016-09-19 16:18] LK4D4 commented on #5618
Ooooh, that's cool that patch was queued for stable.
ping @aboch for problem that `--ipv6=false` does nothing.

[2016-09-19 16:21] boucher commented on #26451
Seems like we'd need to store the metadata in the container folder still,
not in the checkpoint -- otherwise we'd have to scan every checkpoint to
perform any operation.

On Mon, Sep 19, 2016 at 12:19 PM Kenfe-Mickaël Laventure <
notifications@github.com> wrote:

[2016-09-19 16:22] LK4D4 commented on #1512
This is superseded by #24739 and I hope will be implemented soon.

[2016-09-19 16:22] #1512 closed

[2016-09-19 16:22] thaJeztah commented on #15629
ping @mbentley ^^

[2016-09-19 16:23] hkvemuri commented on #26694
@mlaventure The use case I have in mind is similar to that of a Virtual machine snapshot. When the VM snapshot is initiated, the application within the VM needs to be moved to a consistent state (such as no database transactions in progress) so that the virtual machine management software can obtain a consistent snapshot of the VM. Otherwise the snapshot cannot be used.

[2016-09-19 16:24] #26703 closed

[2016-09-19 16:26] zmetcalf commented on #26703
Sorry, about this. Somewhere with the Debian minor release it created an error. A quick restart cleared up the issue. Sorry again; and thank you for your work on the project!

[2016-09-19 16:27] thaJeztah commented on #26703
You're welcome! Glad it's resolved

[2016-09-19 16:35] thaJeztah commented on #26636
related discussion https://github.com/docker/docker/pull/24205

[2016-09-19 16:35] pankit opened #26711 "A question regarding cpu usage percentage calculation."
Hi,

Can you please explain why in stats_helper.go, while caluclating cpu usage percentage, we have to take num of cpu cores into account as shown below.

[code]

As per my understanding, delta cpuacct.usage will give us the total usage in nanseconds by a cgroup. This number includes all the CPU's.

Thanks,
Pankit

[2016-09-19 16:35] tonistiigi commented on #26374
@mlaventure In case containerd can't report correct data about a container, docker will set the container as exited even if there is no exit event. They will just get `exitcode=1`.

[2016-09-19 16:38] mrjana commented on #26696
Yes, this is a features that was requested a few times before. We have given a bit of thought but as @thaJeztah said all of these service creations happen at cluster level. Nevertheless, there is a possibility of somehow selecting an IP address on any host based on some selection criteria specified at service level. Even though this leads to more flexibility to users, it does lead to a lot of comp

[2016-09-19 16:38] cpuguy83 commented on #26636
Thanks @thaJeztah I knew we had it somewhere.
I think we have a bad mix of a single-host only aware volume subsystem mixed with external cluster state. Networks don't have this problem since they use a K/V store for this, which we don't do in volumes...
I think we should push more towards enabling this at the swarm level (ie, metadata stored in the swarm state for non-local storage).

[2016-09-19 16:50] ascora commented on #26563
A new follow up: I created 3 new servers. This time with a fresh CoreOS 1163.1.0 on it from Digitalocean. I then created a swarm init and did the following:
docker service create -p 80:80 --name httpd httpd
wrk -t30 -c400 -d30 http://138....
docker service rm httpd

Now sudo iptables -t nat -L still lists the ports on 1 of the 3 servers.

docker service create -p 80:80 --name httpd httpd

This wor

[2016-09-19 16:50] mrjana commented on #26672
@evanp I don't know if you are running into any specific issue since our load balancing state is eventually consistent there is always a time window while your service is getting updated that there are some stale backends. But this time window should be very very minimal. So unless you seeing the old task in the backend for a prolonged time it is expected. If it is indeed for a prolonged period of

[2016-09-19 16:55] mrjana commented on #26563
@ascora If you are seeing a problem even without a node restart this is probably not the same issue as the one fixed by #25962. Do you mind post a gist of daemon logs or just attach here from the nodes where you are having a problem? Also when you said you had a 3 node cluster how many of them were managers ?

[2016-09-19 17:00] mrjana commented on #26563
@ascora I suspect that you are undergoing a gossip failure and the nodes aren't recovering properly. This will be confirmed by looking at the daemon logs on the nodes which are having routing issues. There is a PR in the works to fix this here docker/libnetwork#1446 if that is indeed your issues.

Nevertheless we need to understand the reason for the gossip to fail in the first place. Is your DO n

[2016-09-19 17:02] mrjana commented on #26524
@michaelkrog Yes that would be helpful. Thanks.

[2016-09-19 17:02] icecrime opened #26713 "Changing the definition of experimental"
Since 1.12.0, experimental is not a nightly build anymore but is a different channel that follows the same release scheduled than stable. As it stands now, experimental is just a super-set of the stable release, and should not be considered "beta".

**TL;DR:** experimental _is_ a stable release, with a couple features which API stability we don't guarantee.

## Proposal

- [x] Change experimental

[2016-09-19 17:02] icecrime commented on #26713
Ping @justincormack @vdemeester @tiborvass: WDYT?

[2016-09-19 17:05] ascora commented on #26563
Sure. I've attached them. They also contain the corresponding output of iptables.
Since my last post I launched 2 more servides on them:

[log.swarmnode3.txt](https://github.com/docker/docker/files/480635/log.swarmnode3.txt)
[log.swarmnode1.txt](https://github.com/docker/docker/files/480636/log.swarmnode1.txt)
[log.swarmnode2.txt](https://github.com/docker/docker/files/480637/log.swarmnode2.txt)

[2016-09-19 17:08] ascora commented on #26563
@mrjana I forgot to mention that all 3 nodes are managers. They are all in the same region of digitalocean (all in frankfurt) with a ping <2ms between them

[2016-09-19 17:10] aaronlehmann commented on #26259
Related to high availability scheduling: https://github.com/docker/swarmkit/pull/1446

This changes the scheduler to run replicas on separate nodes whenever possible.

[2016-09-19 17:12] tonistiigi commented on #26705
Switched labels as this is allowed in API already. Does this have to be cli flag or can't you use the client API? Public `client.ContainerAttach()` method doesn't have this limitation.

[2016-09-19 17:16] sanimej commented on #25526
@PanJ When I run your app as a standalone container..

`docker run -it --rm -p 80:3000 --name test panj/debugging-simple-server`

and access the published port from another host I get this

[code]

192.168.33.11 is the IP of the host in which I am running curl. Is this the expected behavior ?

[2016-09-19 17:18] mlaventure commented on #26374
@tonistiigi at the moment the container is left in the running state in the case where the container is not found by `containerd` (see [here](https://github.com/docker/docker/blob/master/libcontainerd/client_linux.go#L530) and [here](https://github.com/docker/docker/blob/master/libcontainerd/client_linux.go#L563))

[2016-09-19 17:18] pascalandy commented on #26702
For swarm3k, it would be nice to try to max out let's say only 100 workers and see how it reacts. Then go full blast :)

[2016-09-19 17:18] dskdas opened #26714 "Allow setting of shm-size for docker swarm service create"
Is there a way I can specify the --shm-size parameter for containers being created via the docker swarm service create method.

I am using docker 1.12

[2016-09-19 17:20] PanJ commented on #25526
@sanimej Yes, it is the expected behavior that should be on swarm mode as well.

[2016-09-19 17:22] mlaventure commented on #26451
We could build and keep a checkpoint map in memory on daemon start or have a list of associated checkpoints within the container folder.

Later on, the checkpoint folder should become be self sufficient

[2016-09-19 17:24] shane-axiom commented on #26259
Limiting a service to only have N number per node because of resources seems backwards. It would be better to say "This service requires X RAM, Y CPU, Z DISK" and let the scheduler decide what is available resource wise.
...
Not to say there is no benefit at all of allowing at most N per node, but resources doesn't seem right

@cpuguy83 Thanks, just getting started with swarm so that's helpful. As

[2016-09-19 17:24] PanJ commented on #25526
@marech I am still using the standalone container as a workaround, which works fine.

In my case, there are 2 nginx intances, standalone and swarm instances. SSL termination and reverse proxy is done on standalone nginx. Swarm instance is used to route to other services based on request host.

[2016-09-19 17:46] chanwit commented on #26702
@pascalandy will do !!

[2016-09-19 17:51] mmh36 commented on #25608
Hi,

Have seen a similar error in our swarm cluster. Please point me in the right direction if this is not related.

**The context is:**
Running two nodes, both of which are managers. Both servers are running rhel 7. The server that crashed is **not** the leader

[code]

**Linux kernel:**
[code]

**docker version:**
[code]

**docker info:**
[code]

Last few lines from journalctl -u docker
[code]

[2016-09-19 17:52] AkihiroSuda commented on #26713
I think it'd be great if there is `https://master.docker.com` (or `https://nightly.docker.com`?) that installs the nightly binaries from https://master.dockerproject.org/ 😃
Maybe `https://experimental.docker.com` should redirect to that?

[2016-09-19 17:57] SeriousM commented on #22981
@thaJeztah could you please add me to the beta-list? name is SeriousM . I'm running Win10 and my shared folders are empty. Thank you!

[2016-09-19 18:01] vdemeester commented on #26713
Hum, I lean toward to still clearly separate the experimental vs stable binaries (and thus keeping it build-time). Otherwise there is *less* guarantees that a bug in the experimental part is not affecting the stable part of docker. I'm not 100% against having only a flag to switch from stable to experimental but, thinking out loud :angel:.

Definitely :heart_eyes:

Good point / question. I'm also

[2016-09-19 18:19] mlaventure commented on #26713
If we introduce a nightly build install script, it'd be better to use a different URL to avoid confusing use of the word `experimental`

[2016-09-19 18:20] sanimej commented on #25526
@PanJ The way the published port of a container is accessed is different in swarm mode. In the swarm mode a service can be reached from any node in the cluster. To facilitate this we route through an `ingress` network. `10.255.0.x` is the address of the `ingress` network interface on the host in the cluster from which you try to reach the published port.

[2016-09-19 18:23] aboch commented on #25608
@mmh36 @evanp If you still have the daemon logs, can you please verify the presence of logs like
`cannot find proper key indices [...]` and post the logs before and after those lines ? Thanks.

I found an issue and I was finally able to find a way to reproduce the panic, working to the fix now.
But I am trying to understand if your problem falls in the same category.

My issue arises when a node l

[2016-09-19 18:28] vdemeester commented on #26713
@mlaventure definitely (nightly.docker.com feels good to me :angel:)

[2016-09-19 18:41] pascalandy commented on #26702
You'R the Man!

[2016-09-19 18:49] michelvocks commented on #26696
Just as a small remark. With docker/swarm this is possible by exposing the port and also the interface ip address like described here: https://docs.docker.com/engine/reference/run/#/expose-incoming-ports
An example can be seen [in this comment.](https://github.com/docker/swarm/issues/2478#issuecomment-248084147)

@mrjana Don't you think something similar should be possible with swarmkit?

[2016-09-19 18:54] supernovae commented on #9240
This bit my butt recently.. If i have some free time i'll look into the code but i find it abominable that passing values through -e behaves differently than passing them with an env file.

[2016-09-19 18:55] justincormack commented on #26713
Having a single build would be much better. It is really inconvenient at present trying to decide which product to ship (Docker for Mac and Windows channels ship different versions). Letting people try unstable features if they want to is great.

Just drop `experimental.docker.com` - just have a `daemon.json` config option. Nightlies are an independent thing.

[2016-09-19 18:57] smileart commented on #23621
@thaJeztah yep, sure, needless to say. Thank you.

[2016-09-19 18:59] PanJ commented on #25526
@sanimej I kinda saw how it works when I dug into the issue. But the use case (ability to retrieve user's IP) is quite common.

I have limited knowledge on how the fix should be implemented. Maybe a special type of network that does not alter source IP address?

Rancher is similar to Docker swarm mode and it seems to have expected behavior. Maybe it is a good place to start.

[2016-09-19 19:05] mrjana commented on #26563
@ascora Yes as I suspected you are having network issues in your cluster
[code]

Even TCP pings are timing out. That is the source of your trouble. We need to understand why this is happening.

[2016-09-19 19:10] ascora commented on #26563
@mrjana Can I do anything to provide more info about this?

Essentially I can reproduce it when putting a lot of http load to the new servers:
   wrk -t60 -c800 -d30 http://...

I can even reproduce this with full new servers on both Ubuntu and CoreOS.

Would the docker/libnetwork#1446 fix this once released?
I assume that for the time being it's better to have only 1 manager in the production swa

[2016-09-19 19:17] slawekgh commented on #24310
Ubuntu 16.04, 3 nodes swarm cluster, docker 1.12.1

LoadBalancing works perfectly

[code]

[code]

[code]

[2016-09-19 19:40] mbentley commented on #15629
So yes, this appears to be directly related to the version of `lvm2` in Debian Jessie.  For users of Debian Jessie who must use device mapper, I'd stick to thick pools as @edwintorok mentioned.  The actual link to the docs is: https://docs.docker.com/v1.10/engine/userguide/storagedriver/device-mapper-driver/#configure-direct-lvm-mode-for-production

When I updated the docs related to thin pools, I

[2016-09-19 19:48] cpuguy83 commented on #26711
I believe this normalises the percentage.
For instance if a process is using all resources of an 8 core CPU, this would look like 800%. Dividing by the number of cores makes it so it won't go over 100%.

[2016-09-19 19:50] niau commented on #26563
@ascora  would be interesting to monitor the amount of traffic gossip is creating in your production cluster with one and with multiple managers under the test you are doing.
A good way to do that is to try to export sflow from the linux box or maybe simpler to capture a dump with full snaplength and use the IO Graph of wireshark.
Btw very good finding for the test I did above there was no traffic

[2016-09-19 19:52] rhuddleston commented on #25381
$ docker --version
Docker version 1.12.1, build 23cf638

See debug log attached. Let me know if there is anything else I can do to help track down this issue as it appears to be happening on all our servers.

[docker.debug.txt](https://github.com/docker/docker/files/480974/docker.debug.txt)

[2016-09-19 19:55] friism commented on #22981
@SeriousM there's no beta list, you can install the beta-channel version from here: https://docs.docker.com/docker-for-windows/

[2016-09-19 19:59] justincormack commented on #26714
Hi there is a general issue here https://github.com/docker/docker/issues/25303 for adding the missing options to swarm mode, which links to the detailed issues. There does not seem to be a PR for this yet.

[2016-09-19 20:06] rhuddleston commented on #25381
I also installed you patched docker-runc aattached are the logs from it
[docker.debug2.txt](https://github.com/docker/docker/files/480999/docker.debug2.txt)

[2016-09-19 20:07] skione commented on #13817
@cpuguy83 sure hyper-v has its benefits but honestly it is SUCH an abortion. The fact that you can't run any other virtualization platform is enough to say it is not worth any of the supposed benefits. VirtualBox allows for file sharing in a way that is pretty similar to hyper-v and the worst part is if you remove the role of hyper-v and then try and add it back in Docker breaks. It took a long ti

[2016-09-19 20:08] thaJeztah commented on #15944
We have the "Docker Bulletin" repository https://github.com/icecrime/docker-bulletin/blob/master/repositories/docker.docker/2016-09-17.md, which is generated from the stats we have, and there's some internal dashboards. but afaik no active work on making those publicly accessible (@icecrime?)

[2016-09-19 20:10] #15456 closed

[2016-09-19 20:23] #13509 closed

[2016-09-19 20:23] #8756 closed

[2016-09-19 20:23] #8829 closed

[2016-09-19 20:25] thaJeztah opened #26721 "Update command line reference and man pages for CLI restructure"
Rename / move existing docs where needed, and update completion scripts for #26025 and #26716

[2016-09-19 20:27] anusha-ragunathan commented on #26510
@thaJeztah : Would you be able to take care of this? Feel free to ping me if you need more details. Thanks.

[2016-09-19 20:29] thaJeztah commented on #26510
@anusha-ragunathan yes, I already put some issues on my list. I'll have to search if the actual "known issues" list is still somewhere in the docs, otherwise create a new one 👍

[2016-09-19 20:33] anusha-ragunathan commented on #26510
Great!

[2016-09-19 20:52] SeriousM commented on #22981
Thank you, and sorry for the distribution!

Am 19.09.2016 21:57 schrieb "Michael Friis" <notifications@github.com>:

[2016-09-19 20:53] sfitts commented on #26546
I'm getting this just about every time a deploy a new server, so at some point I'll set up an AMI with the debugging turned on and get you that log (may be a day or 2 however).

In terms of the path given, it doesn't exist.  The directory above `rootfs` exists, but it is empty:

[code]

[2016-09-19 20:55] delcypher commented on #18166
@Trane9991 Just realised I never replied to this. Sorry I never found a good solution to this. I ended up not recording the information I wanted.

However I need to look at this again so I'm going to take a look and see how easy it would be for me to modify Docker to do what I want.

[2016-09-19 20:55] mlaventure commented on #26694
@hkvemuri the process is first stopped/paused then a snapshot is made. On restore the transaction should resume exactly where it was or fail transparently if it depends on a resource that's no longer ready/available for this transaction.

This should be seamless as it should be a kind of error the application should already have been written  to support.

[2016-09-19 20:58] dmcgowan commented on #25244
Fix for this also got back ported to kernel [4.4.21](https://cdn.kernel.org/pub/linux/kernel/v4.x/ChangeLog-4.4.21) and [4.7.4](https://cdn.kernel.org/pub/linux/kernel/v4.x/ChangeLog-4.7.4).

[2016-09-19 21:05] duffsterlp opened #26724 "Disabling ICC on internal network does not work"
**Description**

I am trying to understand how to limit communication between Docker containers on the same network. Disabling ICC in the daemon, disabling IP forwarding, flushing the forward chain on the host's iptables and dropping all forwarded packets, and disabling ICC in the network doesn't prevent this. The issue that I see is that pings still propagate from one container to another when bo

[2016-09-19 21:14] chungers opened #26726 "Request: new experimental plugins should be able to publish / expose ports"
Feature request

Currently the experimental plugins can only expose endpoints via unix sockets and access (as a client) to other network services via the host's networking stack (via `host` mode in the networking section of the manifest).   There is no way for plugins to bind to a host port and listen, even though Docker containers all have the ability to expose / publish their services via the `-

[2016-09-19 21:16] thaJeztah commented on #26724
I think this is by design; if you add containers to a custom network, you basically tell docker to allow them to communicate with each other.

ping @mavenugo PTAL

[2016-09-19 21:18] thaJeztah commented on #26714
Added a link to this issue from https://github.com/docker/docker/issues/25303

[2016-09-19 21:18] friism commented on #21922
Closing

[2016-09-19 21:18] #21922 closed

[2016-09-19 21:21] thaJeztah commented on #25209
ping @justincormack perhaps you have thoughts on this. As I commented on https://github.com/docker/docker/issues/25303#issuecomment-247843521 - one challenge will be "where to put the custom profile file" in a Swarm setup (unless the definition is stored in the Swarm service definition)

[2016-09-19 21:22] aboch commented on #26724
@duffsterlp
The daemon networking flags have only effect on the default `bridge` network.
To affect the respecitve icc driver specific flag for bridge driver networks (so for user created bridge networks) you would do:

`docker network create --opt com.docker.network.bridge.enable_icc=false nw`

I verified two containers on such created network cannot communicate with each other.

But it looks lik

[2016-09-19 21:32] justincormack commented on #26559
@dj-hedgehog is this working for you now?

[2016-09-19 21:39] pankit commented on #26711
@cpuguy83 : Thanks for your response but the above logic will divide it by the number of cpu cores.

[2016-09-19 21:47] justincormack commented on #25244
Tested on 4.4.21, works now.

[2016-09-19 21:48] thaJeztah commented on #26711
Actually `800%` is correct here, which is a standard notation for telling that 8 cores are 100% in use. See https://github.com/docker/docker/issues/18615, and https://github.com/docker/docker/pull/13627.

I'll close this issue, because this is not a bug, but feel free to continue the discussion

[2016-09-19 21:48] #26711 closed

[2016-09-19 21:50] duffsterlp commented on #26724
Yes, I see the exact same behavior.

No internal: Pings do not work since an iptables rule is added to drop packets going in and out of the same bridge interface.
Internal: Pings work as no such iptables rule is added to the forwarding chain.

[2016-09-19 21:50] mrjana commented on #26563
@ascora docker/libnetwork#1446 definitely fixes a problem in cluster recovery after a gossip failure has happened. But I am trying to characterize what is causing the failure. From your logs I can see that, at the same time gossip failed, the managers under went leader election as well so something became flaky in the underlying network. I am just not sure if swarm cluster is causing this flakines

[2016-09-19 21:51] duffsterlp commented on #26724
It is also worth mentioning the reason why packets were not hitting the host's iptables to begin with:
https://github.com/docker/libnetwork/issues/1104
echo 1 > /proc/sys/net/bridge/bridge-nf-call-iptables since this is disabled on CentOS by default.

[2016-09-19 21:53] dskdas commented on #26714
Thanks for the responses. That helps clarify. In the meantime, any workarounds possible?

I guess i could create an overlay network using a KV store instead and use docker run on each node for now.

[2016-09-19 21:53] masaeedu opened #26728 "Use UAC or create dedicated account during installation instead of asking for administrative account password"
When using volume mounts with Docker for Windows, the UI requires the user to enter their Windows username and password:

![Shared drives setting prompts for user's password](https://zmugkg.by3302.livefilestore.com/y3m26ckOwlhjlSV11vHJ9C3YoYHRbIaq67kXeoliwtiG_rCfVTUXq9qupdGmK9I7x9hL4x3fK7BkQ8CjNAri0aewwXI-80UyLvUflCH3gclFPI-vWnBlbYUYcN2gZ6oV5IcgyOhfMyD__qyyLDm1EWgm2nOQmwv0PruxO10pCOMeYc/Docker%20f

[2016-09-19 21:53] mrjana commented on #26563
@ascora I missed the fact that you are in fact doing http load testing. That may be causing the network flakiness your are experiencing. Do you know how much overall network bandwidth utilization it creates? Actually I will try to do some http load testing in my cluster as well.

[2016-09-19 21:53] thaJeztah commented on #25244
That's excellent news, do we know if Ubuntu 16.04 stays on 4.4.0.x, or is it likely they go to 4.4.21 ?

ping @sforshee perhaps you know :smile:

[2016-09-19 21:54] justincormack commented on #15314
This works on a modern kernel, so I think you will have to file an issue with Red Hat.

[2016-09-19 21:55] pankit commented on #26711
@thaJeztah Thanks for your response, the cpuDelta thing is where I get confused.

cpuDelta = difference in values in cpuacct.usage at two points in time. AFAIK, cpuacct.usage is total cpu nanoseconds for the cgroup. Correct me if I am wrong.

[2016-09-19 21:57] justincormack commented on #10613
`overlay2` seems fine for me, and would recommend anyone using `overlay` upgrades at this point if they are seeing this issue and they are using a recent kernel.

[2016-09-19 22:00] thaJeztah commented on #26711
Isn't that whats discussed here? https://github.com/docker/docker/pull/13627#issuecomment-107415691 (perhaps I misunderstand as well :smile:)

[2016-09-19 22:03] pankit commented on #26711
@thaJeztah : Yes, it explains the same thing, but I am trying to understand why the cpuDelta/systemDelta is the usage per CPU. As per my understanding, its the total usage and not per CPU.
May be I am missing very basic here.

[2016-09-19 22:04] aboch commented on #26724
Thanks @duffsterlp

Given we verified the icc flag to restrict inter-container communications on custom networks works, I'd suggest to either close this issue and open a new one for the unsupported combination of `--internal` & `--opt com.docker.network.bridge.enable_icc=false` options, or to modify the title of this issue.

[2016-09-19 22:10] justincormack commented on #25244
I think they should take all the patches on 4.4 (its the stable kernel), regardless of what they call it.

[2016-09-19 22:13] duffsterlp commented on #26724
@aboch I have another interesting behavior that I'd like to confirm.

When I start the instance with firewalld enabled, containers can ping each other on the same network with enable_icc=false even with the internal flag not specified. This is because firewalld sets up a rule to accept RELATED and ESTABLISHED packets before the DROP rule set up by bridge.enable_icc=false. ICMP replies are consider

[2016-09-19 22:15] aboch commented on #26724
@duffsterlp

No

[2016-09-19 22:19] #10514 closed

[2016-09-19 22:19] #11520 closed

[2016-09-19 22:19] #8994 closed

[2016-09-19 22:19] #11176 closed

[2016-09-19 22:19] #11874 closed

[2016-09-19 22:19] #11887 closed

[2016-09-19 22:19] #11180 closed

[2016-09-19 22:20] #12233 closed

[2016-09-19 22:20] justincormack commented on #12327
Seems to be fixed in 4.4.21 too.

[2016-09-19 22:20] #11910 closed

[2016-09-19 22:20] #9403 closed

[2016-09-19 22:20] #14272 closed

[2016-09-19 22:24] justincormack commented on #25409
Fixed in 4.4.21.

[2016-09-19 22:26] swernli opened #26729 "Leftover PID file after host crash prevents docker service from recovering on Windows"
Because the docker daemon will fail to start if the PID file it creates is already present, a Windows machine that is running docker as a service and crashes will fail to start the service when the machine starts back up again.  The daemon could do better by checking if a process with that PID still exists, or perhaps having the active daemon keep the file open and new daemon unconditionally attem

[2016-09-19 22:29] justincormack commented on #25409
Yes I think `EXDEV` should not cause problems with most software, as it should already be prepared to deal with cross device rename, although may not be expecting it in the same directory. If there are real world cases, best to report upstream.

[2016-09-19 22:37] icecrime commented on #24234
Can any of you please confirm that the bug still occurs with 1.12.1 (or at least with a non-RC release of 1.12.0)? In the meantime, I'll remove this one from the 1.12.2 milestone.

Ping @mrjana FYI (please let us know if you know for sure that this one was fixed, and when!).

[2016-09-19 22:40] icecrime commented on #24531
@aluzzardi Can you please point to the PR that fixed it on master? Is it an all-encompassing vendoring change, or a localized patch?

[2016-09-19 22:44] icecrime commented on #24614
@mgoelzer Can you please try to reproduce on master, and either add more details here or close the issue? Thanks!

[2016-09-19 22:46] icecrime commented on #23980
@aboch Can you please tell us more about that bug? Is it a regression for 1.12.0, and is it something that absolutely needs to be fixed in 1.12.2? I don't know what priority to put here. Thanks!

[2016-09-19 22:47] icecrime commented on #25184
@aboch @mrjana @mavenugo Can somebody please look into the stack trace, let us know if it's fixed on master, and close is that's the case? Thanks.

[2016-09-19 22:50] dmcgowan commented on #17317
Closing this issue since it is already tracked here https://github.com/docker/distribution/issues/1028.

This is related to the registry client not supporting different HTTP authentication methods for read/write operations to the registry. Supporting different authentication methods is currently supported through token authentication.

[2016-09-19 22:50] #17317 closed

[2016-09-19 22:53] darrenstahlmsft commented on #26729
The daemon currently checks if an existing process with the PID stored in the pidfile exists. I suspect what we saw in the test run is that a new process took the old daemon's PID. Maybe we should check if the process with the PID in the pidfile is a Docker Daemon. That change would be made to all platforms I suspect.

[2016-09-19 22:54] thaJeztah commented on #23980
@icecrime oh, I think I overlooked this was reported with 1.11.2, not 1.12, so perhaps it's not needed for 1.12.2

[2016-09-19 22:54] icecrime commented on #25325
Note for 1.12.2: we might need to cherry-pick the fix from https://github.com/docker/docker/commit/99c39680984018b345881a29d77a89f87958a57b.

[2016-09-19 22:55] #18469 closed

[2016-09-19 22:57] aboch commented on #23980
@icecrime It is not a 1.12.0 regression, I am assuming it has existed for quite some time.

It is exposed by creating a network which has an ip-range that contains only one IP address.
Therefore one can only run run one container at the time on such network.

I doubt many people would care for this feature, but I can't tell for sure.
I do not think it is absolutely needed for 1.12.2. The fix is on

[2016-09-19 22:57] thaJeztah commented on #18469
@stanhu @RichardScothern should this be closed here, or wait until it's vendored in?

[2016-09-19 22:59] icecrime commented on #25463
Note for 1.12.2: we need to make sure https://github.com/docker/libnetwork/pull/1398/commits/9dfce0b6e8ea9448e8af2ce8678df9415fcdf6c4 is in.

[2016-09-19 23:00] icecrime commented on #25483
@al Do you consider this a bug? I'm going to remove from the 1.12.2 milestone as it doesn't seem crucial.

[2016-09-19 23:01] thaJeztah commented on #25381
ping @mlaventure ^^

[2016-09-19 23:07] amcrn commented on #21084
Ran into this problem as well, on `Docker version 1.11.2, build b9f10c9`.

[code]

The network cut out during the above pulls. Now, the two layer pulls never complete, despite multiple attempts. The daemon log has something very interesting however:

[code]

It's baffling as to why `No such image` was being returned, because I can prove that the image does exist and that other hosts pulled said im

[2016-09-19 23:10] duffsterlp commented on #26724
@aboch Thanks for the succinct answer. :)
Is this a separate bug that I should file?

[2016-09-19 23:11] icecrime commented on #23980
@aboch Thanks, I'll remove from the milestone then (it'll be release "naturally" with 1.13.0)

[2016-09-19 23:12] icecrime commented on #24310
@dperny What do you think about those latest comments?

[2016-09-19 23:13] thaJeztah commented on #26713
Also see https://github.com/docker/docker/issues/25183

[2016-09-19 23:15] aboch commented on #26724
@duffsterlp

Yes, please. Thanks.

[2016-09-19 23:32] thaJeztah commented on #25356
closing because of no activity

[2016-09-19 23:33] thaJeztah commented on #25221
looks like this went stale

[2016-09-19 23:33] #25221 closed

[2016-09-19 23:34] thaJeztah commented on #24689
closing because there's no activity, but happy to reopen if you're still having this issue, and have more information

[2016-09-19 23:34] #24689 closed

[2016-09-19 23:40] thaJeztah commented on #24757
ping @justincormack what's the status here?

[2016-09-19 23:41] thaJeztah commented on #24529
@jacobtomlinson is this still an issue for you on 1.12?

[2016-09-19 23:42] thaJeztah commented on #24370
Closing because we didn't get more information from OP

[2016-09-19 23:42] #24370 closed

[2016-09-19 23:42] thaJeztah commented on #23233
closing because there's no activity, but happy to reopen if you're still having this issue, and have more information

[2016-09-19 23:42] #23233 closed

[2016-09-19 23:45] thaJeztah commented on #22656
closing because there's various issues mixed in this issue. feel free to open a new issue if you're having trouble installing Docker on RHEL

[2016-09-19 23:45] #22656 closed

[2016-09-19 23:46] thaJeztah commented on #22107
closing because there's no activity, but happy to reopen if you're still having this issue, and have more information

[2016-09-19 23:46] #22107 closed

[2016-09-19 23:50] thaJeztah commented on #18058
closing because there's no activity, but happy to reopen if you're still having this issue, and have more information

[2016-09-19 23:50] #18058 closed

[2016-09-19 23:50] pdevine commented on #11910
Verified that the docs are fixed.

[2016-09-19 23:52] thaJeztah commented on #4023
closing because there's no activity, but happy to reopen if you think there's still something to be done

[2016-09-19 23:52] #4023 closed

[2016-09-19 23:53] #19481 closed

[2016-09-19 23:54] thaJeztah commented on #18013
closing because there's no activity, but happy to reopen if you're still having this issue, and have more information

[2016-09-19 23:54] #18013 closed

[2016-09-19 23:54] thaJeztah commented on #17455
closing because there's no activity, but happy to reopen if you're still having this issue, and have more information

[2016-09-19 23:54] #17455 closed

[2016-09-20 00:10] vingrad opened #26730 "How to create named volume with swarm mode on specific node?"
How to create named volume with swarm mode on specific node?

Is there are any alternative to constraint 'node==worker1' ?

[2016-09-20 00:15] icecrime commented on #26713
Several points to that:
- If it's part of the same channel, then a bug in experimental will indeed affect the stable part. And that's good! Because it means that the whole thing needs to be stable :-) The only unstable thing is the interface of the experimental feature.
- To be honest, it's already the case today, where experimental feature are usually fully part of the stable release, with specif

[2016-09-20 00:15] thaJeztah commented on #26730
Named volumes are created on the node where a service's task is scheduled, and you specify its definition using the `--mount` syntax (see https://github.com/docker/docker/blob/master/docs/reference/commandline/service_create.md#add-bind-mounts-or-volumes)

Constraints are also defined on the service; see https://github.com/docker/docker/blob/master/docs/reference/commandline/service_create.md#spec

[2016-09-20 00:15] #26730 closed

[2016-09-20 00:26] xiaods commented on #25138
i have not experience with this issue, anyone can confirm the bug is still here?

[2016-09-20 00:31] bradfitz commented on #4023
Yeah, I'm happy enough. xhyve is fun.

[2016-09-20 00:36] #3793 closed

[2016-09-20 00:36] #24284 closed

[2016-09-20 00:38] virtuman commented on #24882
pinging to see if there's any update or at least some information on what we could be doing differently to avoid this error, or is it a global issue and we just shouldn't be using docker in production environments ?

[2016-09-20 00:42] mavenugo commented on #24882
ping @sanimej can you please share your findings ?

[2016-09-20 01:04] jhgorse commented on #20037
Confirmed @kopax's /etc/resolve.conf edit to 8.8.8.8 fixes this.

It is not entirely clear to me why this was/is still occuring.

[2016-09-20 01:10] icecrime commented on #22599
It seems that this one can be closed now: the issue is resolved for most, and doesn't seem like something that we can solve at our level. Please let me know if I'm missing something! Thank you all for reporting.

[2016-09-20 01:10] #22599 closed

[2016-09-20 01:19] cdwertmann commented on #23371
I have not seen this issue since upgrading to docker 1.12

[2016-09-20 01:25] gkgt80 commented on #25929
My Docker version 👍

Client:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   23cf638
 Built:
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   23cf638
 Built:
 OS/Arch:      linux/amd64

OS : CentOS Linux release 7.2.1511 (Core)

Docker daemon settings : username space enabler  i.e. --userns-remap=def

[2016-09-20 01:30] icecrime commented on #15944
No active work indeed :-( It's of course not that the data isn't public, it's just that it needs infrastructure work as there's no easy way to have a public facing Kibana instance... I don't know enough there, sorry :-(

The only easy way out is to screenshot the dashboard at a given frequency and have those available somehwere.

[2016-09-20 01:38] evanp commented on #25608
@aboch it was in the issue I posted before.

https://github.com/docker/docker/files/479181/dockerfail.txt

[2016-09-20 01:43] rdallman commented on #5618
@trifle sorry :( thanks for posting info, we are yet to run into issues after few days testing but will update back if we run into any issues. we're running coreos 1122.2 (kernel 4.7.0). setting docker0 to promisc mode seems to fix this for some people (no luck for us).

[2016-09-20 02:05] supremekai commented on #23865
Had this issue.
Was th result of a noob space at the beginning of the .sh script
` #!/bin/bash`

[2016-09-20 02:13] evanp commented on #24310
I'm having what I think is a similar error on 1.12.1. 6 nodes exposing 4 different ports for 4 different services, and getting a lot of connection refused errors.

The errors are intermittent; sometimes the connection works, and sometimes it doesn't. I've got HAProxy in front of the swarm, so it's handling the servers going up and down OK, but it's still surprising.

[flapping.txt](https://github.

[2016-09-20 02:13] evanp commented on #24310
However, I don't see a difference between master and worker nodes. Both flap for me.

[2016-09-20 02:20] pascalandy commented on #26702
Hey guys,

FULL REPORT UPDATE :)

I recreated my many many times. I’m using redis:3.2.3-alpine instead of my custom image. Here are the `docker ps` for each host

cloud-a (master 2GB)
cloud-01 (worker 2GB)
cloud-02 (worker 2GB)
cloud-03 (worker 2GB)
cloud-04 (worker **8GB**)
cloud-05 (worker **8GB**)

ID                           HOSTNAME  STATUS  AVAILABILITY  MANAGER STATUS
0w2k0vcx2c9488vqza5jn

[2016-09-20 03:06] sforshee commented on #25244
@thaJeztah all upstream stable updates are applied to the Ubuntu 4.4 kernel, however the version number for the Ubuntu package has nothing to do with the upstream stable version number.

[2016-09-20 03:15] andyxning commented on #19910
I am confronted with a similar crash. Any thread to fix this?

[2016-09-20 03:26] wefine commented on #24697
Hi, @dave-tucker, @julianonunes , I have the same problem with 1.12.1 and try with google, but cannot work,  do you have any solution? Tks.

`Client:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   23cf638
 Built:        Thu Aug 18 17:52:38 2016
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.1
 API version:  1.24
 Go version:   go1.6.3
 Git commit:   23cf63

[2016-09-20 03:48] pascalandy commented on #26702
It hurts ...

root@cloud-a:~/deploy-setup# docker service ls

[code]

web-test4 points to website
I'm trying to start other one like web-test5 & web-test6 and they are blocked ...

[2016-09-20 04:10] hkvemuri commented on #26694
Thanks @mlaventure
Then pause/resume should work seamlessly. I shall need to try it out using the new bits that have the checkpoint/restore facility.

The last thing is about stopping the container, can a cleanup script be executed, just like the startup script. This would help in case of privileged containers that need to unload kernel modules or make API close calls to exit gracefully.

[2016-09-20 04:57] evanp opened #26733 "IP for one service's task is in rotation for another service's VIP"
**Description**

I have two services, and one of them has one of the other's task's IP in rotation for its VIP.

**Steps to reproduce the issue:**
1. Create three services in a swarm, including one with a shell.
2. In the shell, use `dig tasks.service` to get the IP addresses of the tasks of the different services.
3. Compare the results

**Describe the results you received:**

One service had 3 r

[2016-09-20 05:14] xiaods commented on #9240
i don't know this feature is  in effect, anyone need it?

[2016-09-20 05:38] StefanScherer opened #26734 "Windows should use microsoft/windowsservercore base image"
**Description**

I tried to compile a Windows docker engine with the given `Dockerfile.windows`, but found out that the base image `windowsservercore` used in this Dockerfile could not be found. The official base image is `microsoft/windowsservercore`, so I think this should be used. See discussion in https://github.com/docker/docker/pull/26722 that there is more to do than just changing the `FROM

[2016-09-20 05:49] xiaods commented on #25608
any update?

[2016-09-20 05:52] xiaods commented on #26491
any update?

[2016-09-20 05:55] xiaods commented on #25483
yes, please PTAL

[2016-09-20 06:09] mrjana commented on #25483
If we don't trigger a rolling update on service name change it would affect service discovery. So if we are not already doing so either we block name update in service or trigger a rolling update.

[2016-09-20 06:12] al commented on #25483
Not the right @al.

[2016-09-20 06:19] tallandtree commented on #24370
Hi @thaJeztah , I don't think the issue should be closed. I've provided you with reproduce steps and a workaround. But I still think docker should solve this when setting up the iptables rules when a container or network is created.
Some webapplications unfortunately are using their own baseurl to load pages instead of a relative url and therefore need to be able to communicate to the host from th

[2016-09-20 06:21] djenriquez commented on #26391
Hello, is anymore information needed for this issue?

[2016-09-20 06:24] mrjana commented on #24531
This issue should have been fixed in 1.12.1 itself. The PR that fixed this is docker/libnetwork#1370.

[2016-09-20 06:25] evanp commented on #26733
It seems like the IP for task that was stopped is still mapped to that task. I've seen this in other cases, such as when using `docker service rm` or `docker service update`. I hope I can figure out a solution here.

[2016-09-20 06:39] xiaods commented on #25394
@all do we need clarify the definition on  load balancing across nodes feature?  Does IPVS support random access the entrypoint?

[2016-09-20 06:42] mrjana commented on #24496
@bryanrite You are most likely having a gossip failure problem. You can confirm this by checking your daemon logs. When gossip fails there is a bug which makes the recovery problematic. docker/libnetwork#1446 has a fix for this.

But in general if you are in DO, I would avoid using the public IP to form the swarm. I think if raft and gossip are running in the public network there is either a netwo

[2016-09-20 07:05] marech commented on #25526
@sanimej  good idea could be add all IPs to X-Forwarded-For header if its possible then we can see all chain.

@PanJ hmm, and how your nignx standalone container communicate to swarm instance, via service name or ip? Maybe can share nginx config part where you pass it to swarm instance.

[2016-09-20 07:21] thaJeztah commented on #25483
Apologies @al, that should've been @aluzzardi (he uses "@al" on the internal Slack channel :smile:)

[2016-09-20 07:24] thaJeztah commented on #25244
@sforshee thanks, good to know (sorry, that confuses me all the time)

[2016-09-20 07:24] PanJ commented on #25526
@marech standalone container listens to port `80` and then proxies to `localhost:8181`
[code]
If you have to do SSL termination, add another server block that listens to port `443`, then do the SSL termination and proxies to `localhost:8181` as well

Swarm mode's nginx publishes `8181:80` and routes to another service based on request host.

[code]

[2016-09-20 07:25] bryanrite commented on #24496
@mrjana Thanks for the update! I have been following your discussion on #26563 ... I have tried running on both private and public networks but get the same result. Different from @ascora , I am not load testing or hammering the swarm in any way, so maybe DO is throttling the gossip traffic for some reason? I don't remember offhand if the docker daemon logs had any gossip issues, but I will take a

[2016-09-20 07:27] thaJeztah commented on #4023
Thanks @bradfitz

[2016-09-20 07:36] etki commented on #11887
Sorry for not responding for half a month, i still (ffuu) don't have a calm minute to test this out. I'll ping someone personally if i'll have time and will find out that this is not resolved.

[2016-09-20 07:46] mostolog commented on #25209
@thaJeztah Excuse me, but my lack of english doesn't allow me to properly understand what you are talking about...
Regarding our needs, each service has their own, so every parameter should be service independent (defined on service create/update), instead of swarm-level

[2016-09-20 07:48] mostolog commented on #24196
Thanks a lot @cpuguy83
Sadly, each service should have it's own policy/needs, so this may be a temporal workaround but not a solution.

[2016-09-20 07:52] dhiraj-hadkar commented on #24277
Hi all,
I am trying to redirect nodejs app logs from one container to another using service create command.
On host this is possible, but is it possible that say my logs are written in /myapp/logs/myaa.log in container 1 and i want it to be redirected to container 2 /containerlogger/ folder.

[root@manager ~]# docker info
Containers: 74
 Running: 1
 Paused: 0
 Stopped: 73
Images: 42
Server Version

[2016-09-20 07:52] thaJeztah commented on #25209
@mostolog I was thinking how a custom profile should be set (see https://docs.docker.com/engine/security/seccomp/#/passing-a-profile-for-a-container), because I _think_ docker needs to have access to the file that contains that profile (on each node in the swarm)

[2016-09-20 07:56] thaJeztah commented on #24277
@dhiraj-hadkar please don't use closed issues for support questions; the GitHub issue tracker is for tracking bugs and feature requests, and is not intended as a general support forum. Consider using;

- forums.docker.com
- the #docker IRC channel
- StackOverflow

[2016-09-20 07:59] dhiraj-hadkar opened #26735 "Host multiple contaniers using same host:port."
Description
Failure to loadbalance when multiple container using same external port are running on same host.

Steps/overview of issue:

We have swarm consisting of 1 manager/leader and 2 worker nodes.

Swarm status is :

[code]

We have a service httpmyapp running on port 9002, i scaled my service to 2 which gives me 2 containers on manager:

I see the VIP, however the request only hits container

[2016-09-20 08:11] mostolog commented on #25209
Please, let me know if I understood properly, despite my far-too-brief description.

I guess when you specify --security-opt for a container, it inherits the default profile + add parameters for running. I also suppose the same happens with services.

If services created under swarm are deployed on other swarm nodes, a "Dockerfile" shall be sent to nodes in order to run those, hence this template

[2016-09-20 08:14] thaJeztah commented on #26735
Based on your output above, it looks like both worker nodes are `Down`, which can indicate a networking issue, and can potentially affect load balancing as well. Do your daemon logs show anything useful?

How is your swarm set up? Are you running on physical machines? Cloud? Are all machines on the same network, and are the required ports open for communicating between them ? (https://docs.docker.

[2016-09-20 08:15] amirkrifa commented on #17760
Just had this issue after restarting the machine.

Here is the env:

- Ubuntu 14.04.3 LTS

Client:
 Version:      1.9.0
 API version:  1.21
 Go version:   go1.4.2
 Git commit:   76d6bc9
 Built:        Tue Nov  3 17:43:42 UTC 2015
 OS/Arch:      linux/amd64

Server:
 Version:      1.9.0
 API version:  1.21
 Go version:   go1.4.2
 Git commit:   76d6bc9
 Built:        Tue Nov  3 17:43:42 UTC 2015
 OS

[2016-09-20 08:17] thaJeztah commented on #25209
@mostolog no, not a Dockerfile, the (contents of) the `profile.json` from the example I linked above. Docker (in "swarm mode") stores the definition of services (what command they are running, which options are passed); the profile itself would have to be stored as part of that definition.

[2016-09-20 08:19] thaJeztah commented on #17760
@amirkrifa as can be seen on this issue; this was a bug in 1.9.0 (which you're running), please update docker to 1.9.1 or higher

[2016-09-20 08:21] mostolog commented on #25209
@thaJeztah Clear as water. Thanks a lot.
And yes, I agree with you: those parameters should also be part of service definition sent to swarm nodes.

[2016-09-20 08:34] thaJeztah commented on #23371
Is anybody else still seeing this with 1.12.x?

[2016-09-20 08:38] marcelmfs commented on #23371
I still need to upgrade to check...

[2016-09-20 08:46] mmh36 commented on #25608
@aboch I see `cannot find proper key indices` lines appearing every 12 hours. Logs before and after are `Bulk sync to node ... timed out` appearing every 30 seconds interval:

[code]

Hope this helps.

[2016-09-20 08:47] ascora commented on #26563
@mrjana Yes, that's right. The problem is easily reproducable for me if I do the load testing with wrk using 60 threads and 800 connections over a period of 30 seconds. I do the test against 2 nodes of the 3 node cluster and after 1 or 2 times, the problem appears.

I'm not sure what the best way is to measure the bandwith utilization but since the servers are fresh, there should only be the 2 wrk

[2016-09-20 08:50] ripcurld00d commented on #26371
can I call dibs?

[2016-09-20 09:03] dingxing123 commented on #25942
thx for your help! @ehazlett
I fix my problem by the ffollow step:
1. sudo yum update docker
2. sudo systemctl start docker
    then you will see the error logs : [msg="**can't create unix socket /var/run/docker.sock: is a directory**"]
[centos@ip-172-32-65-3 ~]$ sudo systemctl start docker
Job for docker.service failed because the control process exited with error code. See "systemctl status dock

[2016-09-20 09:20] xiaods commented on #26480
came across same issue. +1 to resolved.

[2016-09-20 09:21] ascora commented on #24496
@bryanrite @mrjana Just to clarify: I can reproduce the problem quickly with load testing but it originally appeared - and continues to appear - on our normal productive servers as well. It only takes longer to appear if I don't do load testing. Also, for the load testing I used DO but our productive servers are not at DO so I don't think that DO is throttling the traffic.

[2016-09-20 09:28] thaJeztah commented on #25942
Based on this error;

    can't create unix socket /var/run/docker.sock: is a directory

I wonder if you have / had a container that bind-mounted `/var/run/docker.sock`. If `/var/run/docker.sock` does not exist (on the host), and you're using bind-mounts, then docker creates a *directory* with that name on that location, possibly leading to the issue you had.

However, I don't think there's a bug

[2016-09-20 09:28] #25942 closed

[2016-09-20 09:29] thaJeztah commented on #26595
@michael-holzheu have you been able to check if it's a duplicate?

[2016-09-20 09:30] jacobtomlinson commented on #24529
I am able to stop containers that are in a `Restarting` state, but if I run `docker restart` on them it has no effect.

[2016-09-20 09:31] schmunk42 commented on #25215
Releasing a fix for this issue is also getting really urgent for us. We have this on a newly setup staging swarm with overlay networking. When the above error occurs the whole swarm is getting into an uncontrollable state - the only workaround so far is to restart all engines in the swarm. Absolutely unusable for production.

[2016-09-20 09:33] thaJeztah commented on #10341
Looks like this was duplicated by https://github.com/docker/docker/issues/25450

ping @mlaventure were you working on that?

[2016-09-20 09:33] thaJeztah commented on #10341
Oh, well, reading again, it's slightly different, but related (I think)

[2016-09-20 09:45] cyphar commented on #10341
This has actually popped up again inside the runtime-spec (opencontainers/runtime-spec#563). Basically, since Windows requires the ability to set the console size on first start, we might end up adding it for all platforms.

[2016-09-20 09:47] cyphar commented on #25450
This may be related to the current discussion about adding the initial console size to all platforms: opencontainers/runtime-spec#563.

[2016-09-20 10:05] justincormack commented on #26729
pid reuse seems to be an unsolved problem alas. In a test suite you can try to clean up at the end, as this is more likely to happen.

[2016-09-20 10:15] ripcurld00d commented on #26371
#dibs

[2016-09-20 10:28] thaJeztah commented on #25450
Thanks for linking @cyphar

[2016-09-20 10:29] justincormack commented on #22753
@NoOrdInaryGuy this should work on the latest releases (both stable and beta) - you can specify a specific IP that is on the Mac to bind to, eg an address on `lo0`.

[2016-09-20 10:38] thaJeztah commented on #26638
@aaronlehmann is a fix for this needed in 1.12.2 to allow downgrading, or is that for 1.13?

[2016-09-20 10:45] justincormack commented on #26116
I am going to close this, as there are no plans to support devicemapper.

[2016-09-20 10:45] #26116 closed

[2016-09-20 10:51] justincormack commented on #23926
What is the use case for setting the host timezone? You can set the in container timezone if you want by setting `/etc/localtime` in the container. UTC is just the default if you don't set this, unrelated to the host timezone. None of the times you show are related to the VM localtime link.

[2016-09-20 10:59] Gilead commented on #7856
Same issue here. Stopped a container but docker-proxy didn't release the port. Killed the relevant docker-proxy process, netstat says the port is free now but can't start the container nevertheless:
[code]

This is clearly a lie as the port is not allocated.

[2016-09-20 11:14] Khazrak opened #26739 "Remote API Documentation wrong concerning MaximumIOps and MaximumIOBps"
**Description**

Docker Remote API Documentation problem concerning MaximumIOps and MaximumIOBps.
In documentation they are written as:
MaximumIOps
MaximumIOBps

But both Dockers code and recording the call (using Wiremock as a proxy between docker cli and docker daemon) says that they really are:
IOMaximumIOps
IOMaximumBandwidth

**Steps to reproduce the issue:**
1. docker -H <REMOTE_HOST> create

[2016-09-20 11:18] aanand commented on #26705
@tonistiigi We can't use the Go API, because Compose is written in Python! Shelling out to `docker attach` is the only way I can see to re-use Engine's client-side attach code from Compose.

[2016-09-20 11:21] dj-hedgehog commented on #26559
Yes, it is working as expected. I migrated three hosts (Ubuntu 16.04 and CentOS 7) to overlay2 and have no problems with it.

[2016-09-20 11:21] #26559 closed

[2016-09-20 11:27] dj-hedgehog commented on #24370
Hey, I sadly can't remember anymore which application I needed this for and haven't created any issues for it in my own bugtracker.
What do you say regarding the solution of @tallandtree? I would at least add the `iptables` bit to the Docker FAQ.

[2016-09-20 11:33] thaJeztah commented on #26705
Perhaps @tonistiigi meant the `/container/(id or name)/attach/` endpoint, which is used by `client.ContainerAttach()`? https://github.com/docker/docker/blob/3ea762b9f6ba256cf51bd2c35988f0c48bccf0b0/client/container_attach.go#L14-L34, there's also a web socket endpoint; https://docs.docker.com/engine/reference/api/docker_remote_api_v1.24/#/attach-to-a-container-websocket

[2016-09-20 11:35] martin-hoger commented on #19910
andyxning: I have upgraded kernel (from jessie backports) to linux-image-4.6.0. Everything works fine now.

[2016-09-20 11:44] aanand commented on #26705
Well, those API endpoints are what we're using right now. The problem is that replicating all of the interactive functionality of `docker run/attach/exec` still involves a great deal of client-side logic (some of which is [detailed here](https://github.com/docker/compose/issues/3194#issuecomment-220292194)).

All of that logic has been [reimplemented in Python](https://github.com/d11wtq/dockerpty)

[2016-09-20 11:53] thaJeztah commented on #26739
Thanks for reporting! Let me open a PR to fix the docs

[2016-09-20 11:54] ascora commented on #26563
@mrjana you wrote:

I did this now with a fresh set of 3 servers and I was able to reproduce the problem again. I have attached the logs. It only has 1 manager and I only deployed a fresh httpd service via
docker service create -p 80:80 --name httpd httpd

I then did 3  parallel
 wrk -t70 -c800 -d30 http://...
from an external server to each of the 3 nodes.

Afterwards I did a docker service rm ht

[2016-09-20 12:00] EricFortin commented on #23826
I think #26740 will fix this issue.

[2016-09-20 12:01] thaJeztah commented on #26705
Ah, clear. (I think ideally, we should have an improved API to make it easier to use)

[2016-09-20 12:13] bozoh commented on #20022
you can use other keyserver, i used  hkp://keyserver.ubuntu.com:80, and works

[2016-09-20 12:19] thaJeztah commented on #23158
@LK4D4 is this something to look into for a patch release?

[2016-09-20 12:20] thaJeztah commented on #26621
/cc @dnephin

[2016-09-20 12:24] thaJeztah commented on #26434
@dnwake let me close this issue for now, but happy to reopen if we have a way to reproduce

[2016-09-20 12:52] andyxning commented on #19910
​I googled for nearly one day, but found nothing useful. In our situation
upgrade to linux-image-4.6.0 is not very possible. Many other things and
compatibility needs to be tested.😂

=======
Ning Xie

2016-09-20 19:36 GMT+08:00 Martin Höger <notifications@github.com>:

[2016-09-20 12:52] justincormack commented on #25209
@thaJeztah seccomp is not an issue - the file is not used, the json contents of it are passed by the client to the daemon.

However, this just seems to be a workaround for elasticsearch trying to set its own seccomp profile and failing, which seems really odd, will look into what the cause is, it looks like a bug in elasticsearch.

[2016-09-20 13:08] justincormack commented on #25209
The seccomp error in elasticsearch was fixed here https://github.com/elastic/elasticsearch/commit/f77e8a512c425d0c4d81fe5ded7cde933a3099ed - we return `EPERM` as we already filter the unknown syscalls, they were expecting `ENOSYS`. I don't think we are that crazy here like the comments suggest.

[2016-09-20 13:12] thaJeztah commented on #26213
@srodman7689 how's it going? Do you need help?

[2016-09-20 13:14] #26739 closed

[2016-09-20 13:15] thaJeztah commented on #25925
@remram44 I'm unable to reproduce your issue, but if you're still having this, please open a new issue with more information (at least the output of `docker version`, and `docker info`; possibly it's related to your system's configuration / kernel / aufs version

[2016-09-20 13:17] srodman7689 commented on #26213
@thaJeztah so far I haven't been able to pin point where I should add the error message. I suppose that I might have started on a issue that was too deep in the code base. Help would be greatly appreciated.

[2016-09-20 13:25] cpuguy83 commented on #26726
Can you explain the use-case? As a plugin I would expect that only docker would be communicating with it.

[2016-09-20 13:27] cpuguy83 commented on #26728
ping @justincormack

[2016-09-20 13:41] thaJeztah commented on #26213
@aaronlehmann would you be able to give some pointers where to look in the code and/or possibly an example?

@srodman7689 also feel free to join the #docker-dev IRC channel on freenode, and ask for assistance (not sure I'm personally able to assist here, but there's usually a someone around to help out)

[2016-09-20 13:45] srodman7689 commented on #26213
@thaJeztah Thank you! I will check in with those guys after work and see if I can get any farther.

[2016-09-20 13:50] femdom commented on #26403
I can confirm the bug with 1.12.1 on the Gentoo and Ubuntu. My scripts use `exec` heavily and I experience hang of some docker commands (docker exec and docker ps).

[2016-09-20 13:54] mstorsjo commented on #22207
Short of a proper fix, is there any straightforward way of removing the leftover mounts without removing all other images at the same time? (If no containers are running currently, I guess there should be no mounts, right?)

[2016-09-20 14:10] mlaventure commented on #25450
Yes, I saw that, decided to wait until this gets into `runc` to implement.

Thanks for linking :)

[2016-09-20 14:15] justincormack commented on #26728
As this is specifically about Docker for Windows, could you open this in https://github.com/docker/for-win/issues as the Docker for Windows developers can respond more effectively. I know they have discussed various options with Microsoft on this, but I don;t know the specifics.

[2016-09-20 14:17] thaJeztah commented on #26602
What kind of registry and authentication mechanism are you using?

[2016-09-20 14:25] mlaventure commented on #26694
@hkvemuri the application should do so when it receives a `SIGTERM`. `docker` also let you define which stop  signal to be sent to the container PID 1 when calling `docker stop`

The stop signal can be defined both in the `Dockerfile` (see [here](https://docs.docker.com/engine/reference/builder/#stopsignal)) and when creating/running a container (see [here](https://docs.docker.com/engine/reference

[2016-09-20 14:28] leonsp commented on #5618
@RRAlex Do you know if anyone has reached out to the Ubuntu kernel team regarding a backport? We have a large production Docker deployment on an Ubuntu cluster that's affected by the bug.

Ubuntu kernel team mailing list:
https://lists.ubuntu.com/archives/kernel-team/2016-September/thread.html

Patch for the stable kernel:
https://github.com/torvalds/linux/commit/751eb6b6042a596b0080967c1a529a9fe9

[2016-09-20 14:29] thaJeztah commented on #25209
@justincormack ah, I was mistaken then, I assumed the file was needed on the daemon side, but thinking more that would only be for  a default profile. 😅

[2016-09-20 14:30] mlaventure commented on #10341
@thaJeztah It's related indeed, assigning myself to it too. Once `runc` is updated and vendor'ed in, I'll make the necessary changes (it will also require changes in `containerd`)

[2016-09-20 14:32] dnephin commented on #26621
Related to #26327

Network settings are not portable, so they will not be part of the "bundle" (dab).

We don't yet have a solution for non-portable options. My opinion is that we need a separate config for them.

Allowing `deploy` to use an existing network sounds like a good idea as well.

[2016-09-20 14:34] mlaventure commented on #26403
@femdom note that the `docker exec` will keep on hanging out if you they exit after starting processes that hang onto the initial IOs.

You may want to start them in detached mode in that case via `-d`

[2016-09-20 14:35] hkvemuri commented on #26694
Thanks @mlaventure

[2016-09-20 14:35] #26694 closed

[2016-09-20 14:36] thaJeztah commented on #26621
Let me close this issue for now, as https://github.com/docker/docker/issues/26327 is tracking this

[2016-09-20 14:36] #26621 closed

[2016-09-20 14:44] justincormack commented on #26336
Are you absolutely sure this is a clean install? This does not look like a kernel issue to me.

[2016-09-20 14:47] LK4D4 opened #26742 "Flaky test: DockerSuite.TestAttachClosedOnContainerStop"
Saw it on experimental CI:
[code]

[2016-09-20 14:48] justincormack commented on #25945
Is this still an issue?

[2016-09-20 14:51] justincormack commented on #25577
@yongtang I guess it makes sense for completeness, I am not sure how much it will get used, but there may be some use cases.

[2016-09-20 14:51] mrjana commented on #26563
@ascora Yes, I do see gossip failures again this time and that is still the cause of your problem.

Yeah there is a problem with gossip which fails to recover properly after a failure and is fixed already in docker/libnetwork#1446 but I was trying to see why you are getting into that situation. From your logs even TCP pings fail. Even with the kind of http load testing that you are doing it should