[2015-02-27 09:55] discordianfish commented on #9853
@jfrazelle Can't reproduce it anymore either.. Maybe this was changed since 1.3.3? See also the issue I linked, maybe there was/is in fact a issue with exporting a port, no matter if exposed or not.

[2015-02-27 10:21] jmtd commented on #11012
Reproduced with a minimal `Dockerfile` as follows

    FROM jmtd/debian:wheezy
    MAINTAINER Jonathan Dowland <jmtd@debian.org>

yields

    Sending build context to Docker daemon 20.26 MB
    Sending build context to Docker daemon
    Step 0 : FROM jmtd/debian:wheezy
     ---> f50abd82b67f
    Step 1 : MAINTAINER Jonathan Dowland <jmtd@debian.org>
    INFO[0000] mkdir /var/lib/docker/overlay/1ab

[2015-02-27 10:36] akram commented on #9644
Hi

Pull Request 10440 was supposed to fix the issue? wasn't it ?
I am still facing it with docker 1.5

[code]

I still have the tmp file present, if it helps for debugging let me know

[2015-02-27 10:36] guettli opened #11057 "Please provide a Glossary"
this shows me:

https://docs.docker.com/jsearch/?q=glossary

`Nothing found`

A glossary is important if you want to learn a new technology.

It often helps the developers, too.

Defining terms is important for human communication.

Please forgive me, if you have one, and I could not find it.

[2015-02-27 11:23] coolljt0725 commented on #11012
@jmtd @jfrazelle I also can reproduce this use the default `Docker Root Dir: /var/lib/docker`, but when I change the Docker Root Dir  to `/home/tmp`  use `-g ` when start the docker daemon, I can't reproduce

[2015-02-27 11:40] kiorky commented on #2800
well, @jfrazelle if i want apparmor activated, it is not at all to run a container in privileged mode.

This bug may not be fixed.

[2015-02-27 12:15] jfrazelle commented on #2800
It's because you need specific capabilities for ntpd

[2015-02-27 12:32] Starefossen commented on #9059
I have gotten a ton of these errors lately. Does anyone have a better fix for this?

[2015-02-27 12:36] kiorky commented on #2800
No.

[2015-02-27 12:37] kiorky commented on #2800
(In bare lxc containers which all dropped caps, there is no issues.)

[2015-02-27 13:34] rhatdan commented on #6734
We have not worked on it.  But I can raise it's priority.

[2015-02-27 13:51] metal3d commented on #6328
To myself, I upgraded kernel and everything is ok since several weeks. Anyway I will remove my LXC containers (that I'm translating to docker containers)

[2015-02-27 14:25] mbentley commented on #9592
Just as a quick example of this working in action if anyone wants to look for any sort of testing:

1. Start apt-cacher-ng:
 - `docker run -d --name acng tianon/apt-cacher-ng`
2. Start a docker container and add the docker repo and perform an apt-get update while using the proxy:
 - `docker run -it --link acng:acng debian:jessie /bin/bash`
3. Run the following commands in your debian container:
 -

[2015-02-27 14:51] estesp commented on #11057
ping @moxiegirl - feedback on docs

[2015-02-27 14:55] rhvgoyal commented on #9644
I just tested latest docker and it seems to work fine for me. For testing I manually created a file call .tmp1234 in /var/lib/docker/devicemapper/metadata dir. And see following message in logs when docker starts.

Feb 27 09:54:16 tiger docker[7711]: time="2015-02-27T09:54:16-05:00" level="debug" msg="Skipping file /var/lib/docker/devicemapper/metadata/.tmp1234"

Are you sure that docker instance

[2015-02-27 15:05] mgcrea commented on #6743
:+1:

[2015-02-27 15:36] duglin commented on #6734
@rhatdan let me know when you do start it - its still on my todo list too....

[2015-02-27 15:45] cpuguy83 commented on #783
So I'm not able to repro this, even with the OP's script.
Can someone provide a way to trigger this?

[2015-02-27 15:49] j0hnsmith commented on #783
@cpuguy83 You should be able to reproduce with this dockerfile that uses a hack to get around the problem

https://github.com/orchardup/docker-postgresql/blob/master/Dockerfile

[2015-02-27 15:56] estesp commented on #783
PR #10390 will allow using the `dirperm1` option to AUFS to fix the problem--however, that will require Ubuntu 14.10 or later, or a custom kernel with the more recent AUFS version(s) that support the option.

[2015-02-27 16:00] rhvgoyal commented on #9644
@akram

Looks like 1.5.0 does not have my commit. It went in after that. That explains why you are still facing this issue.

[2015-02-27 16:11] plause commented on #7275
Docker 1.5.0 has this issue fixed.
Please help me close this issue.

[2015-02-27 16:12] plause commented on #7275
Docker 1.5.0 has this issue fixed.

[2015-02-27 16:12] #7275 closed

[2015-02-27 16:24] PositiveAlex opened #11061 "Does ADD command should extract tar.gz archives ?"
Here's my dockerfile

   FROM localhost:5000/image

   MAINTAINER user

   RUN mkdir /server

   ADD server.tar.gz /server/
   ADD serverctl /server/
   ADD log4cxx.properties /

   WORKDIR /server

   RUN gunzip -c server.tar.gz | tar xvf -
   RUN rm -f server.tar.gz

Buliding this dockerfile ends up with the error

Step 7 : RUN gunzip -c server.tar.gz | tar xvf -
 ---> Running in 8e6725b43242
gz

[2015-02-27 16:28] duglin commented on #11061
Can you try this Dockerfile and see what happens?
[code]

[2015-02-27 16:37] rhatdan commented on #7952
Right now David Howells is in charge of this and working with the kernel teams at Red Hat and Upstream to get it integrated.  OverLayfs from Red Hat's perspective has two big problems.

1. Can not currently use xfs on top of it.  We are close to getting this merged and working.
2. Getting SELinux support.   I am told that some patches have recently been merged upstream.

My goal is that we get thi

[2015-02-27 16:40] PositiveAlex commented on #11061
Hmm... that's effin fantastic. Seems like ADD command gunzips and untars the file itself

1. we are in /server dir (pwd answered)
2. we having list of files in this archive
3. in this folder i haven't the archive itself...

Step 2 : RUN mkdir /server
 ---> Running in a40e2246b63a
 ---> 28174b14ea14
Removing intermediate container a40e2246b63a
Step 3 : ADD server.tar.gz /server/
 ---> 13784a859909

[2015-02-27 16:53] duglin commented on #11061
Yep see https://docs.docker.com/reference/builder/#add  :

Why this decision was made... I have no idea. Try using COPY instead, it doesn't have this magic processing.

[2015-02-27 16:58] PositiveAlex commented on #11061
Thank you

19:54, Пт, 27.02.2015, Doug Davis <notifications@github.com>:

[2015-02-27 17:02] duglin commented on #11061
I think we can close this one now.  If not, please reopen or let me know

[2015-02-27 17:02] #11061 closed

[2015-02-27 17:29] cnelson commented on #9656
I'm also experiencing this behavior.  Even running two builds in parallel kills performance.  I'm on btrfs.

`
docker version && docker info

Client version: 1.4.1
Client API version: 1.16
Go version (client): go1.3.3
Git commit (client): 5bc2ff8-dirty
OS/Arch (client): linux/amd64
Server version: 1.4.1
Server API version: 1.16
Go version (server): go1.3.3
Git commit (server): 5bc2ff8-dirty
Contai

[2015-02-27 17:42] dmp42 commented on #8188
@jfrazelle I don't think there is a point in making this happen for v1.

I would close this issue (for the reasons I pointed out in https://github.com/docker/docker/issues/8188#issuecomment-62758748 - the desire for this arose from the fact the performance sucks, and this is what should be fixed, and what is fixed by the new protocol).

[2015-02-27 18:39] vishh commented on #8551
I plan to post a PR soon since no concerns have been expressed for this feature.

[2015-02-27 18:46] tonistiigi commented on #11008
How about an extra field to `RestartPolicy` named `SkipBoot` (or `ManuallyStopped` or smth like that). When container is manually stopped, it is set to true and daemon startup will check for that field. If container is started again this flag is set back to false.

@estesp @jfrazelle Does this sound ok?

[2015-02-27 18:51] duglin commented on #11008
Wouldn't a field in there representing the "desired" state be sufficient? Then upon a restart we can just restart the ones whose desired stated is "running" (and restart policy allowed it).

[2015-02-27 19:01] #8188 closed

[2015-02-27 19:03] jfrazelle commented on #8551
I think that is awesome @vishh I am +1 :)

[2015-02-27 19:03] jfrazelle commented on #8551
anything to get rid of systemd cgroups :P

[2015-02-27 19:06] dnephin commented on #9047
I was only able to trigger this problem on a jenkins host that ran many builds, and we changed most of our builds to not use `ports`.  Once we upgrade that host to 1.5 I can try to reproduce.

[2015-02-27 19:09] jfrazelle commented on #9853
hmm ok I am going to close I think it was fixed

[2015-02-27 19:09] #9853 closed

[2015-02-27 19:13] bgrant0607 commented on #8551
I discussed this with @crosbymichael at the last DGAB meeting, and my understanding is that we have the go-ahead for this.

[2015-02-27 19:13] tonistiigi opened #11065 "Non-fatal signals break restart policies"
Sending a signal with `docker kill` that is handled by the application  will turn off restart policies for that container.

[code]

Not sure how to fix this without changing the behavior for `docker kill` as there is no way to predict if a signal will cause the container to exit or not.

To me its kind of weird that `docker kill -s TERM foo` and `kill -SIGTERM $(docker inspect -f "{{.State.Pid}}"

[2015-02-27 19:46] duglin commented on #7396
yea black-belt is fine - more for the design considerations and breaking backwards compat than anything else

[2015-02-27 19:52] nfritze commented on #6479
Have been looking into this as well on our docker setup.  If we bump the pid/kernel-thread address space on the host a bit to give it breathing room:

echo $((2**22))> /proc/sys/kernel/pid_max
echo $((2**22))> /proc/sys/kernel/threads-max

then at that point it can grow enough that, if we limit the memory, it will be limited by that before it takes down the host.  For testing, was using docker 1.5

[2015-02-27 19:53] bmangold opened #11067 "Redundent '/v2/' GET made when pushing an image to v2 registry"
![screen shot 2015-02-26 at 17 18 31](https://cloud.githubusercontent.com/assets/3420507/6420006/2c917146-be77-11e4-8496-f039c5254314.png)

Expected : only one call to /v2/ to determine if there is v2 support
Actual : two calls made to /v2/

See image.... using Charles Proxy ... pushing an ubuntu:latest image to a non-SSL v2 instance

Docker 1.5 daemon (/etc/default/docker):
export http_proxy="htt

[2015-02-27 20:03] jfrazelle commented on #11067
awesome thanks for finding this

[2015-02-27 20:03] #11027 closed

[2015-02-27 20:17] ernetas commented on #6479
@nfritze you could try working with ulimit to set reasonable limits for processes running within Docker. However, because you may be running multiple processes and some may need more, others may need less resources, and even worse, you cannot increase some of the limits within Docker after they have been decreased, this may or may not work for you. For me, what worked best was leaving everything a

[2015-02-27 20:17] Stavros commented on #4329
I 've also experienced system hangs (CPU stall) with Virtualbox and Docker coexisting in the same host when starting a VM while I have running containers.

Debian wheezy + Docker + Virtualbox

Tried:
diff. kernels >3.10
networking features disable (iptables, ipv6)
change vm's settings (nat, bridged, vt-d/x)

w/ no luck!

Workaround1: start a Vbox VM before any container (thanx @vivia)
Workaround2:

[2015-02-27 20:18] cpuguy83 commented on #6479
#9437 will allow you to set default ulimits for all containers as well as set custom ulimits per container.

[2015-02-27 20:27] nfritze commented on #6479
That sounds very promising, thank you!  Investigating.

[2015-02-27 20:45] estesp commented on #11067
The code is not checking for v2 support only; the first `GET /v2` is checking over SSL.  Stating that your daemon will allow an insecure connection to a specific registry doesn't mean that your registry couldn't support SSL, so the code checks that first, and then when that fails, falls back to non-SSL HTTP `GET /v2`.  I'm not sure this is an issue that needs resolution, but the registry folks can

[2015-02-27 20:49] jberkus commented on #783
This seems like a pretty severe and pervasive bug, given the sheer number of other issues which have been forwarded to it.  Waiting for Linux 3.19 to be mainstream is going to be pretty painful; it means Docker will keep getting slews of bug reports on related issues for 2 years or more.  At the least, warnings about this will need to be all over the documentation.

Does this affect RHEL/Centos/Fe

[2015-02-27 20:51] jfrazelle commented on #783
It the no 1 known issue listed in the docs :)

On Friday, February 27, 2015, Josh Berkus <notifications@github.com> wrote:

[2015-02-27 20:56] jberkus commented on #783
jfrazelle, I mean we'll need to add it to the ADD and COPY docs for Dockerfiles, among other things.

It's also kind of unclear at this point how to reliably build Ubuntu/Mint-based images which have daemons running as non-root who own their own files, reliably at scale.  That's why I'm asking about Fedora; maybe the answer is that users should use Fedora, it if doesn't have this issue.

[2015-02-27 21:07] metalivedev opened #11069 "Run Reference needs --restart docs"
--restart parameters should also be documented with examples in https://docs.docker.com/reference/run/

[2015-02-27 21:16] dmp42 commented on #11067
*burn-insecure-crazy-dance-with-fire*

[2015-02-27 21:21] bmangold commented on #11067
@estesp The first call is HTTP.  The second call is HTTP.

In both (exactly the same thing for the request and the response)
Request:
GET /v2/ HTTP/1.1
Host: ec2-52-10-192-57.us-west-2.compute.amazonaws.com:80
User-Agent: Go 1.1 package http
Accept-Encoding: gzip

Response:
HTTP/1.1 200 OK
Server: Tengine/2.1.0
Date: Fri, 27 Feb 2015 21:13:09 GMT
Content-Type: application/json; charset=utf-8
Conte

[2015-02-27 21:56] marineam commented on #10180
iirc Linux 3.19 or 4.0 adds support for multiple read-only layers in overlayfs which could allow using overlayfs to handle stacking layers instead of re-copying the whole filesystem tree in every layer.

[2015-02-27 22:11] tiborvass commented on #7149
@proppy what would happen with ENV vars? There is no notion of build env, so I assume they should not be transferred to the nested build, but there can be cases where it's desired.

[2015-02-27 22:15] proppy commented on #7149
@tiborvass I like @tonistiigi implementation in #8021 (without the nesting) better.

I'd say that the ENV is not inherited, ENV are constant anyway so if you need them in a later `BUILD` you can just re-declare them, and if you need to pass information from a previous build, you can just do so thru the context.

[2015-02-27 22:17] tiborvass commented on #7149
@proppy yes, I keep his implementation in mind. I really like it. I'll try to push it on.

[2015-02-27 22:19] tiborvass commented on #7149
@proppy would you mind updating your proposal to match his implementation? That way we'll be able to approve it here.

[2015-02-27 22:19] proppy commented on #7149
@tiborvass I'm happy to update the proposal to match #8021, would that help to move things forwards?

[2015-02-27 22:19] tiborvass commented on #7149
@proppy jynx :)

[2015-02-27 22:23] tiborvass commented on #7149
Another thing to think about, is what should `docker build` output for the intermediate image. Could be useful to see which ID is actually the first image, since I assume it would not be deleted.

[2015-02-27 22:34] proppy commented on #7149
@tiborvass Done, re: intermediate image there is a note about that

[2015-02-27 22:35] proppy commented on #7149
/ping @tonistiigi can you proof read the updated version and make sure I didn't miss-represent your implementation?

[2015-02-27 22:53] jfrazelle commented on #7705
closing as this does not seem to be an issue with lxc 1.0.7 and latest version of master

[2015-02-27 22:53] #7705 closed

[2015-02-27 22:54] jfrazelle commented on #7715
closing as this does not seem to be a problem with lxc 1.0.7 and the latest versin of docker

[2015-02-27 22:54] #7715 closed

[2015-02-27 22:54] jfrazelle commented on #8985
yes this is now available on release notes page, but any who comes to this issue is welcome to open a pr and add more to that page if they think it is appropriate

[2015-02-27 22:54] #8985 closed

[2015-02-27 22:57] jfrazelle commented on #5900
closing as dup of https://github.com/docker/docker/issues/8354

[2015-02-27 22:57] #5900 closed

[2015-02-27 23:00] jfrazelle commented on #2276
what is the actionable item here?

[2015-02-27 23:06] jfrazelle commented on #10256
um tarsum? what is triage for this hehehe

[2015-02-27 23:12] bkeroackdsc commented on #3182
@snitm We just got bit by this as well. While it might not be Docker's fault specifically, they should have a strong interest in fixing this since it reflects poorly on the whole experience.

[2015-02-27 23:24] thaJeztah commented on #9300
For reference, I created an issue at support.docker.com to update the status of the mentioned repository;

https://support.docker.com/hc/en-us/requests/3115;

[code]

[2015-02-28 00:09] jfrazelle commented on #10978
duplicate of https://github.com/docker/docker/issues/3043, please check out the comments there

[2015-02-28 00:09] #10978 closed

[2015-02-28 00:14] thaJeztah commented on #783
I had some code lying around to reproduce this, copied it in a gist;
https://gist.github.com/thaJeztah/8aa9e0760e63262b8aea

[2015-02-28 00:16] jfrazelle commented on #8357
I cannot reproduce on latest docker but if you can please ping me on this issue with the docker info, docker info, uname -a, and how you reproduce

[2015-02-28 00:16] #8357 closed

[2015-02-28 00:19] jfrazelle commented on #9319
im going to close as #9526 #9678 #8821 all cover same thing

[2015-02-28 00:19] #9319 closed

[2015-02-28 00:21] jfrazelle commented on #8723
closing as dup of https://github.com/docker/docker/issues/7158 which is why it gets another port

[2015-02-28 00:21] #8723 closed

[2015-02-28 00:23] jfrazelle commented on #8723
also https://github.com/docker/docker/issues/9047 for reference

[2015-02-28 00:24] jfrazelle commented on #9526
see https://github.com/docker/docker/issues/10096 https://github.com/docker/docker/issues/9047 https://github.com/docker/docker/issues/7540 https://github.com/docker/docker/issues/2801 dup

[2015-02-28 00:24] #9526 closed

[2015-02-28 00:24] #9508 closed

[2015-02-28 00:26] #8305 closed

[2015-02-28 00:29] jfrazelle commented on #10276
I think this was related to downtime in hub closing but let me know if you are still seeing this

[2015-02-28 00:29] #10276 closed

[2015-02-28 00:30] jfrazelle commented on #7456
looks like this was resolved cannot reproduce on latest version

[2015-02-28 00:30] #7456 closed

[2015-02-28 00:31] jfrazelle commented on #3556
closing see https://github.com/docker/docker/issues/3556#issuecomment-63250410

[2015-02-28 00:31] #3556 closed

[2015-02-28 00:32] jfrazelle commented on #9391
closing as dup of https://github.com/docker/docker/issues/4351

[2015-02-28 00:32] #9391 closed

[2015-02-28 00:33] jfrazelle commented on #9593
closing as dup of https://github.com/docker/docker/issues/4351

[2015-02-28 00:33] #9593 closed

[2015-02-28 00:34] #9295 closed

[2015-02-28 00:35] jfrazelle commented on #9295
closed see comment about problem not within docker but chef https://github.com/docker/docker/issues/9295#issuecomment-71485104

[2015-02-28 00:35] jfrazelle commented on #10346
cannot reproduce after that fix but let me know if you can

[2015-02-28 00:35] #10346 closed

[2015-02-28 00:39] jfrazelle commented on #10352
the logs are in journald on coreos, are you still having this problem with latest docker also you may want to file a bug with coreos too

[2015-02-28 00:42] else commented on #10774
I can reproduce this as well.

[2015-02-28 00:43] jfrazelle commented on #10392
did we implement this

[2015-02-28 00:45] jfrazelle commented on #5931
duplicate of https://github.com/docker/docker/issues/6743

[2015-02-28 00:45] #5931 closed

[2015-02-28 00:54] jfrazelle commented on #8855
closing as dup of https://github.com/docker/docker/issues/8329

[2015-02-28 00:54] #8855 closed

[2015-02-28 00:56] jfrazelle commented on #8040
since this by design because of blockers w pty I think this can be fixed when someone updates docs and possibly adds warning

[2015-02-28 01:15] jfrazelle commented on #10345
@duglin @phemmer any resolution here?

[2015-02-28 01:17] duglin commented on #10345
No word from @zopyx so I say close it and he can reopen it once he has more info

[2015-02-28 01:17] jfrazelle commented on #10450
you need to link the first container to the second
[code]

[2015-02-28 01:17] #10450 closed

[2015-02-28 01:19] jfrazelle commented on #10437
I think this is due to downtime with the hub but ping me here if otherwise

[2015-02-28 01:19] #10437 closed

[2015-02-28 01:21] jfrazelle commented on #10132
Hey so I think this is just a with understanding with how to use docker. For docker user support we recommend #docker on IRC freenode or https://groups.google.com/forum/#!forum/docker-user or forums.docker.com

[2015-02-28 01:21] #10132 closed

[2015-02-28 01:23] jfrazelle commented on #10043
closing as dup of https://github.com/docker/docker/issues/6746

[2015-02-28 01:23] #10043 closed

[2015-02-28 01:26] jfrazelle commented on #9300
so do we close here ?

On Fri, Feb 27, 2015 at 3:25 PM, Sebastiaan van Stijn <
notifications@github.com> wrote:

[2015-02-28 01:28] jfrazelle commented on #10774
ping @MalteJ

On Fri, Feb 27, 2015 at 4:43 PM, Simon Elsbrock <notifications@github.com>
wrote:

[2015-02-28 01:31] jfrazelle commented on #10207
dup https://github.com/docker/docker/issues/9047

[2015-02-28 01:31] #10207 closed

[2015-02-28 01:32] jfrazelle commented on #8844
dup of https://github.com/docker/docker/issues/5722

[2015-02-28 01:32] #8844 closed

[2015-02-28 01:34] jfrazelle commented on #8501
duplicate https://github.com/docker/docker/issues/5135

[2015-02-28 01:34] #8501 closed

[2015-02-28 01:51] kashyap-parikh opened #11072 "Machine stuck running DinD on CentOS 6.5"
I am trying to run DinD on CentOS 6.5 VM + Docker Version 1.3.2 running in virtualbox on a mac.
Using /fedora example I was able to build dind image. The only change I had to make was replacing CGROUP=/sys/fs/cgroup with CGROUP=/cgroup in wrapdocker.

When I try to start dind it freezes the host VM. Just before the freeze I see that mkfs.ext4 is using 100% cpu.

To reproduce:
[code]
Here's the con

[2015-02-28 02:17] hqhq commented on #4036
Hi, hit the exactly same problem on Ubuntu 14.04 and latest Docker 1.5.0-dev,
Use this script can reproduce the problem (on 16 cores 16G memory server, took me 11676 times to reproduce, and on 2 cores 4G PC, only took 76 times):
[code]

error message:
[code]

[2015-02-28 02:21] hqhq commented on #10729
Hi,
This is a dup of https://github.com/docker/docker/issues/4036 , you can close this for now, and take your attention to that issue.

[2015-02-28 03:07] jfrazelle commented on #11072
I think you forgot the link :/

[2015-02-28 03:08] jfrazelle commented on #11072
can you try with the latest version of docker also we need the output of docker version, docker info, uname -a

[2015-02-28 03:09] jfrazelle commented on #7877
duplicate of https://github.com/docker/docker/pull/9437

[2015-02-28 03:09] #7877 closed

[2015-02-28 03:10] jfrazelle commented on #10473
since this was merged I am going to close

[2015-02-28 03:10] #10473 closed

[2015-02-28 03:13] jfrazelle commented on #10499
closing @LK4D4 is right

[2015-02-28 03:13] #10499 closed

[2015-02-28 03:16] jfrazelle commented on #10769
@Ropes can you try the solution in #10860

[2015-02-28 03:17] jfrazelle commented on #9722
if its not something we can fix can we close this :/

[2015-02-28 03:18] #11035 closed

[2015-02-28 03:19] jfrazelle commented on #4451
So since this is a hub issue this needs to filed with the hub at support@docker.com or forums.docker.com so they can track it

[2015-02-28 03:19] #4451 closed

[2015-02-28 03:20] jfrazelle commented on #3506
closing as duplicate of https://github.com/docker/docker/issues/8427

[2015-02-28 03:20] #3506 closed

[2015-02-28 03:21] jfrazelle commented on #10955
duplicate of https://github.com/docker/docker/issues/6746

[2015-02-28 03:21] #10955 closed

[2015-02-28 03:29] jfrazelle commented on #7444
duplicate https://github.com/docker/docker/issues/7940

[2015-02-28 03:29] #7444 closed

[2015-02-28 03:30] jfrazelle commented on #7421
closing as dup of https://github.com/docker/docker/issues/3778

[2015-02-28 03:30] #7421 closed

[2015-02-28 03:32] jfrazelle commented on #5856
ping @vieux

[2015-02-28 03:33] jfrazelle commented on #4852
ok no prob

[2015-02-28 03:34] jfrazelle commented on #4852
I think this will help with this one https://github.com/docker/docker/issues/6839 as well as https://github.com/docker/docker/pull/8955 https://github.com/docker/docker/pull/9882 so closing as dup

[2015-02-28 03:34] #4852 closed

[2015-02-28 03:35] jfrazelle commented on #10340
closing as dup of https://github.com/docker/docker/issues/783#issuecomment-19237045

[2015-02-28 03:35] #10340 closed

[2015-02-28 03:37] jfrazelle commented on #7228
duplicate https://github.com/docker/docker/issues/6791

[2015-02-28 03:37] #7228 closed

[2015-02-28 03:38] jfrazelle commented on #10667
so what was the outcome here @cpuguy83 can you triage and add the right labels so someone can contribute it to fix it if they see this issue

[2015-02-28 03:44] jfrazelle commented on #10702
I think this would be a great opportunity for an article added to the docs.

[2015-02-28 03:46] jfrazelle commented on #10702
But for a direct answer to your question I would use volumes for the staeful data you need then rsync it that over to the new host and start but honestly if you want more help with this then i would checkout #docker on irc or forums.docker.com, the github issues is for issues iwth docker only

[2015-02-28 03:46] #10702 closed

[2015-02-28 03:50] jfrazelle commented on #10915
closing as dup of  #5900 or #10613

[2015-02-28 03:50] #10915 closed

[2015-02-28 03:51] #10993 closed

[2015-02-28 03:56] jfrazelle commented on #6898
@brahmaroutu is this also closed by the rename patch you have or a seperate issue

[2015-02-28 03:57] jfrazelle commented on #9455
ah since this is a hub issue and not a docker issue closing

[2015-02-28 03:57] #9455 closed

[2015-02-28 03:57] jfrazelle commented on #8376
@nathanleclaire is this a hub issue or a docker issue and is it fixed

[2015-02-28 04:01] jfrazelle commented on #10291
since we already have a proposal for pull on run and it looks like your other issue was handled i think this can be closed see https://github.com/docker/docker/issues/10693

[2015-02-28 04:01] #10291 closed

[2015-02-28 04:02] jfrazelle commented on #9662
@gowthamgutha can you please provide the requested information

[2015-02-28 04:03] jfrazelle commented on #8793
ping @jlhawn @dmcgowan @dmp42

[2015-02-28 04:04] jfrazelle commented on #10666
@dmcgowan can you triage :D

[2015-02-28 04:05] jfrazelle commented on #10765
for hub issues please email support@docker.com or open at forums.docker.com

[2015-02-28 04:05] #10765 closed

[2015-02-28 04:16] jfrazelle commented on #10488
@djannot any update?

[2015-02-28 04:28] brahmaroutu commented on #6898
@jfrazelle This is a different issue where docker cli does not work with names that have prefix "/" This applies to all commands ex: docker rm /foo, etc.

[2015-02-28 04:32] jfrazelle commented on #6898
Ah col thanks for clearing it up

On Friday, February 27, 2015, Srini Brahmaroutu <notifications@github.com>
wrote:

[2015-02-28 04:35] nathanleclaire commented on #8376
@jfrazelle @unclejack Looks like this is working fine now (using 1.5.0 on b2d directly); closing.

[2015-02-28 04:35] #8376 closed

[2015-02-28 04:58] rlister commented on #10960
Emailed support, thanks.

[2015-02-28 06:42] tianon commented on #6754
@jfrazelle maybe a note in the "Known Issues" section of the docs?

[2015-02-28 06:53] tianon commented on #8048
@jbeda just as another solution to the specific problem you reported (besides the proposal to make `docker images repo:tag` actually work, which is definitely necessary), you could use `docker inspect repo:tag > /dev/null 2>&1`, like we do in some of Docker's own build scripts (https://github.com/docker/docker/blob/b52a2cfdf1aabf15a4a1a630b3899ae373516517/project/make/.ensure-busybox#L4 and https:

[2015-02-28 06:59] fredlf commented on #8985
Yes, thanks @jfrazelle!

[2015-02-28 07:28] tianon commented on #11047
In my experience with Windows filesystems on Unix systems, they're usually
"everything is +x".  Why not take that approach here instead?  Having +x
where you didn't need it is usually harmless (and only dangerous if you're
especially careless), and not having +x (and thus having to set it after
the COPY via "chmod") runs into AUFS issues, so that seems like a cleaner
compromise from the end-user p

[2015-02-28 07:51] Vish0007 opened #11079 "Error downloading dependent layers; Error pulling image (tag1) from 10.0.0.1:9000/namespac1/redis, ApplyLayer exit status 1 unexpected EOF"
I am getting consistently this error while docker pull:
Any ideas what this could be?
I am trying pull the image from my private registry.

behavior is same for docker version 1.3.3 docker 1.4.x

docker pull 10.0.0.1:9000/namespace1/redis:tag1
Pulling repository 10.0.0.1:9000/namespace1/redis
c89063721e41: Error pulling image (tag1) from 10.0.0.1:9000/namespace1/redis, ApplyLayer exit status 1 une

[2015-02-28 08:42] hqhq commented on #4036
@vbatts I see your patch from https://github.com/docker/docker/pull/10195

In my box, udev sync is not supported,
[code]

Because I use static Docker?
Is udev sync only supported on dynbinary Docker?
Is their any way we can fix this race problem if we still want to use binary Docker?

I think it's not convenience for many users to use dynbinary Docker :(

[2015-02-28 08:56] thaJeztah commented on #8855
There's also a new PR opened here https://github.com/docker/docker/pull/10411

[2015-02-28 09:09] thaJeztah commented on #9300
Yes, I waited for a response before closing, and got this;

**closing**, because this part of the website is not under control of the Docker "project", so unfortunate, there's nothing that can be done here.

(If someone *does* have ways to get this updated, feel free to comment)

[2015-02-28 09:09] #9300 closed

[2015-02-28 09:39] tonistiigi commented on #7149
This one confuses me a bit. You can never go back to the parent build, so there is no way to change anything in `/src/build`. The path to the context loses its meaning after `BUILD` the same way as the daemon doesn't know the path you used for context in the client side. When multiple `BUILD` commands are used the context path points to the directory in the last image.

`path/to/Dockerfile` is not

[2015-02-28 10:16] anandkumarpatel commented on #5482
Dont see this anymore. Will reopen if I see it. Thanks!

[2015-02-28 10:16] #5482 closed

[2015-02-28 10:30] proppy commented on #7149
@tonistiigi you're right, that was a left over from the previous proposal. Will update the description.

[2015-02-28 10:38] thaJeztah commented on #7444
There's also a new PR that allows blocking registries; https://github.com/docker/docker/issues/10411

[2015-02-28 10:53] arthurk commented on #8640
@jfrazelle after posting above i've never ran into the same error again and cannot reproduce it anymore. I'm ok with closing it.

[2015-02-28 11:29] tonistiigi commented on #7149
I agree.

[2015-02-28 12:12] cpuguy83 commented on #10667
Triaged

[2015-02-28 13:00] cpuguy83 commented on #9722
Yes I think let's close this.
If someone is seeing this they'll come to this issue. If we can find a good way to resolve this without disabling rbinds please post here and we'll discuss.

[2015-02-28 13:00] #9722 closed

[2015-02-28 13:13] rcarmo commented on #8951
I'd like to chime in on this. I've been trying to put together a few arguments for and against doing this transparently to the user, and coming from a telco/"purist SDN" background it's hard to strike a middle ground between ease of use for small deployments and the kind of infrastructure we need to have it scale up into (and integrate with) datacenter solutions.

(I'm rather partial to the OpenVS

[2015-02-28 14:40] Code-Vortex commented on #9644
for me solved by removing the file which was unable to be loaded

this was in the result of service docker status

[code]

solved by the following:

[code]

[2015-02-28 15:02] ibuildthecloud commented on #8640
@jfrazelle while building RancherOS we found its pretty easy to run into similar errors as this by doing a lot of abusive reboots.  Since there is no sync to disk when Json files are written it easy to get corrupted json files if you reboot while things are still buffered.  I can open a seperate issue to talk about this, but just giving you a heads up.

[2015-02-28 15:14] gewoonrik commented on #10969
Sockets where moved out of Daemon in this commit:
https://github.com/docker/docker/commit/1d10c55aec891df609d36c90ee6c30adb24c16c4
shouldn't the removeUnixSockets be implemented somwhere else?

[2015-02-28 16:00] prettynatty commented on #4036
I am experiencing the same problem on Ubuntu 14.04 and Docker 1.5.0 (build a8a31ef).

[2015-02-28 16:22] PositiveAlex opened #11086 "kernel.core_pattern Read-only file system"
Hey,
my program wants that I've set up the kernel.core_pattern variable and I've tried setting this by many ways. There's only one answer by the system: Read-only file system.

My program checks this var by this command:

`/sbin/sysctl -n kernel.core_pattern`

How can I change this to be able to run my program ?

I shouldn't change the starter script from a distribution, but I have to do it for no

[2015-02-28 17:19] ibuildthecloud opened #11087 "Orphaned and unstoppable (superhuman strength?) containers with --pid=host"
I've ran into an issue that is easily reproducible that puts a container into a state that can not be stopped and if you restart the Docker daemon it will also loose track of the existing container and spawn a new one.

The issue happens when you are running with `--pid=host` and you do a SIGKILL but that process has children that don't terminate when its parent dies.  Docker never seems to see th

[2015-02-28 17:54] mauri opened #11088 "build from STDIN randomly failling on COPY"
Hi, I have a Dockerfile which does

[code]

That I'm building using the following command, because I don't want to send the whole directory as context to the daemon (including source code et al)

[code]

This works perfectly on ubuntu and mac osx (using boot2docker) but it's failling randomly in CentOS7 during the first or second COPY:

[code]
this fails with different files on each run.

Here's t

[2015-02-28 17:58] ibuildthecloud commented on #11087
Started reading through the code but I think I need to enlist the real experts.  ping @crosbymichael @rhatdan

[2015-02-28 20:13] Starefossen commented on #4036
This issue is officially over a year old now :disappointed:

[2015-02-28 20:22] hoskeri opened #11090 "Proposal: Docker Storage API"
# Docker Storage API - Proposal

## Motivation

   1. Data volumes cannot be described fully by docker/containers.
   2. Image storage for containers is not configurable.
   3. There is currently no infrastructure to support distributed
      storage volumes from within docker.
   4. To manage life-cycle of data, image and metadata volumes
   5. Ability to manage shared volumes across a cluster of

[2015-02-28 20:24] dmp42 commented on #11079
Thanks.

Can you:

 * test with the latest version (docker 1.5)

If it still does not work, please:

 * `curl -o checklayer.tar http://10.0.0.1:9000/v1/images/5e66087f3ffe002664507d225d07b6929843c3f0299f5335a70c1727c8833737/layer`
 * `file checklayer.tar`
 * try to manually untar `checklayer.tar` and see if that works

[2015-02-28 20:45] ahmetalpbalkan commented on #11047
@tianon I wasn't aware of the AUFS situation tbh. That's what I initially suggested but security problems are my biggest concern. We might assume people know what they're doing by adding a warning message and just make everything `+x`.

We mostly assume user knows what they COPY/ADD to container, so the only +x'ed stuff are going to be those files. And if it happens so that somebody gains shell ac

[2015-02-28 21:37] djannot commented on #10488
Hi Jessie,

In fact, I have several issues with BTRFS on my CoreOS cluster and the new
CoreOS release is now using EXT4 + OverlayFS, so I've planned to reinstall
it and see if it solve this issue as well.
But the issue was definitively not due to the space available.

Thanks
Denis
On Feb 28, 2015 5:17 AM, "Jessie Frazelle" <notifications@github.com> wrote:

[2015-02-28 21:40] coopernurse commented on #4036
Yes, I'm curious whether this issue should be closed.  I can confirm that running the dynamically linked binary available from the virt7-testing repo completely solves this issue for us on our CentOS 7 boxes.

Is there any more work that can be done on this issue?  Perhaps some notes about it on the installation page steering folks to the dynamically linked binaries for their particular Linux dist

[2015-02-28 21:52] jfrazelle commented on #4036
ping @vbatts

On Sat, Feb 28, 2015 at 1:41 PM, James Cooper <notifications@github.com>
wrote:

[2015-02-28 21:54] jfrazelle commented on #10488
@djannot do you think this is a duplicate of https://github.com/docker/docker/issues/8354

[2015-02-28 22:05] thaJeztah commented on #11057
There's a placeholder document here; https://github.com/docker/docker/blob/master/docs/sources/terms.md

[2015-02-28 22:07] thaJeztah commented on #11057
Also, dup"-ish"/related to https://github.com/docker/docker/issues/8648

[2015-02-28 22:09] djannot commented on #10488
@jfrazelle No, in my case I didn't have any space issue, but I wasn't able to commit large containers (few GB).

[2015-02-28 22:27] thaJeztah commented on #9798
Would qualify this a "regression", not an "enhancement". Making `-f` work was an incompatible API change, which isn't allowed if Docker is using [semver](http://semver.org)

[2015-02-28 22:46] thaJeztah commented on #9331
dup or related to [Docs on Dockerfiles use word "repository" without any explanation of the concept #8648](https://github.com/docker/docker/issues/8648)

[2015-02-28 23:09] thaJeztah commented on #9841
@dnephin do you think this needs to be part of docker's core functionality? I like the idea in general, but the discussion above raised various cases where a Dockerfile isn't even used.

https://github.com/docker/docker/pull/9882 will (probably) be implemented in 1.6 and would make it possible to store the Dockerfile as meta-data (label) using an external tool or some scripting.

[2015-02-28 23:20] thaJeztah commented on #6839
@jfrazelle should this be closed, now that a design approval was given on https://github.com/docker/docker/issues/9882 ?

[2015-02-28 23:28] thaJeztah commented on #7630
@jfrazelle looks like this is fixed, if I visit that page, I get a redirect page;

    This documentation has been removed. Redirecting you to the relevant
    pull request on GitHub.
    https://github.com/docker/docker/pull/7193

[2015-02-28 23:30] #9331 closed

[2015-02-28 23:37] thaJeztah commented on #7811
@frank-dspeed I think #8484 (which implements https://github.com/docker/docker/issues/8363) covers your use case. If you agree, this issue can be closed, so that the discussion can be continued on #8484

[2015-02-28 23:47] thaJeztah commented on #7630
Oh, shucks. Looks like I got confused; this link redirects:
http://docs.docker.com/reference/api/docker_io_oauth_api/

but this one doesn't:
http://docs.docker.com/v1.1/reference/api/docker_io_oauth_api/

[2015-03-01 00:00] thaJeztah commented on #7761
related / dup of https://github.com/docker/docker/issues/11016?

[2015-03-01 00:00] moxiegirl commented on #11057
@estesp Thanks for the ping.  I am finally getting my filters sorta sorted.  I think it might be start to add a page with a few starter terms before the partay.  That way people will feel emboldened to add.

[2015-03-01 00:47] thaJeztah commented on #2167
Related; https://github.com/docker/docker/pull/9882

Which will add support for adding custom meta-data to containers and images via the `LABEL` instruction, for example;

    LABEL description="some description"

The specified label will be visible via `docker inspect`

[2015-03-01 00:52] thaJeztah commented on #4307
also dup of https://github.com/docker/docker/issues/7247

[2015-03-01 00:53] #11088 closed

[2015-03-01 01:55] jfrazelle commented on #7630
@svendowedit can you take care of this is it a matter of deleting the pages?

On Saturday, February 28, 2015, Sebastiaan van Stijn <
notifications@github.com> wrote:

[2015-03-01 02:13] #9577 closed

[2015-03-01 03:59] pacuna commented on #8385
+1

[2015-03-01 05:16] Nightling commented on #10180
I also have this issue with CoreOS 598 and Fedora Rawhide containers.

[2015-03-01 07:14] spullara commented on #2855
This was extremely surprising to me.

[2015-03-01 10:08] dreamcat4 commented on #3050
Need the following:

* To have `ADD` or `UNPACK` or `EXTRACT` work for at least a minimum of compressed `.tar.gz` and `tgz` compressed format. But also as many others as is possible.

* Have `ADD` or `UNPACK` or `EXTRACT` be able to fetch and download and unpack in 1 step. From remote http:// `curl/wget` URL - whether it is ssl verified or not.

[2015-03-01 10:27] DJBnjack commented on #4036
Well, I followed the install instructions and that did not mention anything regarding static or dynbinary Docker.

I have installed AUFS as recommended above and that seems to work (for now).

[2015-03-01 10:56] thaJeztah commented on #11023
+1, I think there also was talk about having more explicit "channels", e.g. "release", "nightly", "canary" (but that might be out of scope for this).

FYI, there are instructions on how to install the latest docker maintained release for *some* distro's; [Ubuntu - Docker-maintained Package Installation](https://docs.docker.com/installation/ubuntulinux/#docker-maintained-package-installation), [Cen

[2015-03-01 11:28] thaJeztah commented on #7153
Linking this to [Proposal: One Meta Data to Rule Them All => Labels #9882](https://github.com/docker/docker/pull/9882), which will allow adding custom meta-data to images, e.g.

[code]
which could be a start.

[2015-03-01 11:54] thaJeztah commented on #7485
/ping @jfrazelle you forgot to close it

[2015-03-01 12:27] thaJeztah commented on #7296
@jfrazelle should this be labeled "windows", or is that reserved for the native windows *builds*?

[2015-03-01 12:35] thaJeztah commented on #6088
ping @vmarmol ^^ for libcontainer

[2015-03-01 13:07] thaJeztah commented on #9315
(slightly) related issues, but for better handling of errors in docker CLI, not API; https://github.com/docker/docker/issues/11016, https://github.com/docker/docker/issues/9120

[2015-03-01 13:20] duglin commented on #3050
Once we have https://github.com/docker/docker/pull/10775 merged we can look to add options to ADD to allow for finer control over what happens.  I would prefer to do that than to add a ton of new top level Dockerfile commands that almost do the same thing as each other.  We can even then look to merge COPY and ADD, even having just those two causes confusion.

[2015-03-01 13:32] thaJeztah commented on #9876
@tianon are you referring to https://github.com/docker/docker/pull/9437?

[2015-03-01 14:04] LaynePeng commented on #11090
I like this proposal, +1

[2015-03-01 14:11] thaJeztah commented on #11090
For reference; another proposal was also created recently; [Proposal: Storage Interfaces for Docker #11020](https://github.com/docker/docker/issues/11020)

[2015-03-01 14:14] thaJeztah commented on #11090
Also, @hoskeri could you change the title and have it start with "Proposal: "?

[2015-03-01 14:49] thaJeztah commented on #9644
@rhvgoyal should this be marked "resolved"?  If I understand correctly, it's resolved in master and will be fixed in the next release (either 1.5.1 or 1.6.0, whatever comes first)?

[2015-03-01 14:53] is opened #11092 "docker info display http/https_proxy setting."
as title. I like see the information about http proxy settings of docker server.

[2015-03-01 14:58] is opened #11093 "set http/https proxy through command line."
Http/https proxy is set through environment at
docker daemon starts, and can't be modified.

In current statuation, i need set special proxy for pull/push
action. so i hope i can set proxy server through cli pull/push
command.

[2015-03-01 14:58] thaJeztah commented on #3050
:+1:

[2015-03-01 15:07] g17 commented on #7761
Yes, this is the same behavior that I reported with #11016.

[2015-03-01 15:08] ewindisch opened #11094 "Allow 'docker import' to load from local files"
The docker import mechanism allows loading from a pipe, but while this works, is not obvious to many users. Furthermore, not all users understand working with pipes.

Instead, users have reported attempting (and failing) to use a file:/// url.

[2015-03-01 15:13] thaJeztah commented on #7761
@jfrazelle looks like dup, but perhaps you can decide. Also one is marked "black belt" and the other "white belt", which would be strange if they're indeed dup.

[2015-03-01 15:45] pandrew commented on #8798
Yes, i really see the need for this during trouble shooting containers.

[2015-03-01 16:07] thaJeztah commented on #10892
Thanks for creating this feature request.

Would you be able to describe your use-case a bit more in detail? I'm not really sure this is something that should be implemented. In general, apps inside a container shouldn't be aware *that* they are running inside a container (have any knowledge that they're running on docker).

With the current description there isn't enough information for the maint

[2015-03-01 16:11] #7485 closed

[2015-03-01 16:14] #7761 closed

[2015-03-01 17:08] feliksik commented on #10897
@cpuguy83 : Indeed, that is the strange thing. Very stange thing.

[2015-03-01 18:04] pocesar opened #11095 "Recreate / rerun command / inherit (or similar funcionality)"
There are some containers that have really lenghty command lines doing binds, links and setting environment variables. Right now, the only way (that I found) to re-run a container with different settings is to `docker stop` > `docker rm`, then `docker run` again with different settings.

Perhaps an option called `docker run --inherit` will get the current container command line that was previously

[2015-03-01 18:12] thaJeztah commented on #11095
@pocesar what you're describing looks like a good job for `docker-compose`; https://docs.docker.com/compose/, with the added benefit that it would also be possible to define all containers you need in your 'stack' and the links/relations they have.

[2015-03-01 18:17] dts commented on #6396
Must-have here as well!

[2015-03-01 18:58] pocesar commented on #11095
@thaJeztah looks nice, how can I get the current command line used for running the containers?

[2015-03-01 19:27] thaJeztah commented on #11095
I'd say, first do a bit of testing to try out compose so that you get a 'feel' for it. You'd probably have to create new containers, or rename them (docker-compose uses a naming convention for the containers, based on the 'project' they're part of (e.g. `myproject_db_1`).

It will create/start the containers in the right order based on 'links' and 'volumes-from', so if those relations are defined

[2015-03-01 20:10] duglin commented on #8667
See https://github.com/docker/docker/pull/10431

[2015-03-01 20:12] duglin commented on #10345
@zopyx please reopen when you have the info requested.

[2015-03-01 20:12] #10345 closed

[2015-03-01 21:45] lmakarov opened #11098 "Default to a single CPU core"
I'm getting considerably better results with a single core on both Mac and Windows.
The application uses two containers: a web (nginx+php-fpm) and a db (mysql).

Apparently virtualizing multiple cores for a VM is more overhead than benefit for VirtualBox in most cases. You may achieve better results if the guest stack/application is optimized for a multi-core environment. However, the primary use

[2015-03-01 21:46] lmakarov commented on #11098
Wrong project... Closing.

[2015-03-01 21:46] #11098 closed

[2015-03-01 22:47] duglin commented on #8148
@jfrazelle I just confirmed that https://github.com/docker/docker/pull/10591 will generate an error for bad ONBUILD commands

[2015-03-02 02:16] aidanhs commented on #8887
@thaJeztah I'm trying to figure out what use case you're thinking of that means we can't have a `--insecure-registry` flag to `docker pull`.
 - if a user doesn't want to be accidentally MITMed on a secure registry, they can just avoid passing `--insecure-registry`
 - if a user wants to enforce on users that all images come from secure registries (i.e. an 'enterprisey' scenario), they cannot actual

[2015-03-02 02:21] #7811 closed

[2015-03-02 02:21] jfrazelle commented on #6839
up to @rjnagal

[2015-03-02 02:22] leejansq opened #11100 "stats endpoint"
stats endpoint
why  unix socket don't Continuously receive stats info.
but tcp is not.

[2015-03-02 02:34] jfrazelle commented on #11093
Well the daemon is what sets up the server, where we need the proxy command so resetting it would take restarting the daemon iirc, why can you not set the variable on daemon start?

[2015-03-02 02:49] rjnagal commented on #6839
#9882 is the real deal. Happy to close this one out :)

[2015-03-02 02:49] #6839 closed

[2015-03-02 02:53] xuxinkun opened #11101 "Allow to pull docker-dev image for setting up a dev enviroment and let `make DOCKER_CLIENTONLY=1 binary` effect"
Now, the Makefile can only support `build` to get a dev image. But there is another way. We can get it from https://registry.hub.docker.com/_/docker-dev/. By using this image, just change the Makefile to support pull command to get the dev image without build.

BTW, the Makefile also has an old mistake. The `make DOCKER_CLIENTONLY=1 binary` won't effect because the code does not write well.
The or

[2015-03-02 02:55] jfrazelle commented on #11101
You can pull dockercore/docker, but we recommend building from the image in the repo instead.

[2015-03-02 02:55] #11101 closed

[2015-03-02 02:57] jfrazelle commented on #10947
Ping @cpuguy83

[2015-03-02 02:59] jfrazelle commented on #10944
You didn't give a way to reproduce.....

[2015-03-02 03:00] jfrazelle commented on #10944
We need docker version, docker info , uname -a

[2015-03-02 03:00] xuxinkun commented on #11101
Makefile also has an old mistake. The make DOCKER_CLIENTONLY=1 binary won't effect because the code does not write well.
The original code was :
DOCKER_ENVS := \
-e DOCKER_CLIENTONLY
the code should be:
DOCKER_ENVS := \
-e DOCKER_CLIENTONLY=$(DOCKER_CLIENTONLY)
This should be fixed.

[2015-03-02 03:03] jfrazelle commented on #11101
No it works fine now -e DOCKER_CLIENTONLY, will send the environment
variable by default you do not need to set it if it's the exact same name

On Sunday, March 1, 2015, xuxinkun <notifications@github.com> wrote:

[2015-03-02 03:04] jfrazelle commented on #11101
Run DOCKER_CLIENTONLY=1 make binary

On Sunday, March 1, 2015, Jessica Frazelle <jess@docker.com> wrote:

[2015-03-02 03:05] cpuguy83 commented on #11100
Hi, I'm not sure I understand your issue, but as there should be no difference between unix socket or tcp socket for any endpoint.

Can you explain with a little more detail what issue you are having?

[2015-03-02 03:09] cpuguy83 commented on #10947
Hi, I'm not sure I understand.  Do you literally mean overlay (as in merge) a host path with a container path such as what might be done with overlay fs?

Docker does not support this directly, however you can create an overlay on the host and then mount that in.

Volumes do automatically copy data from the image to the host for "normal" volumes, ie volumes like `docker run -v /foo`, where as volu

[2015-03-02 05:51] xuxinkun commented on #11101
Use `DOCKER_CLIENTONLY=1 make binary` still can not pass the DOCKER_CLIENTONLY to the env.
My make env is `GNU Make 3.81`.
With `DOCKER_CLIENTONLY=1 make binary`, docker command would be `docker run -it --privileged -e BUILDFLAGS -e DOCKER_CLIENTONLY  ...`. As you see, `-e DOCKER_CLIENTONLY` can only set `DOCKER_CLIENTONLY=""` but not 1.

[2015-03-02 06:02] leejansq commented on #11100
thank you,this is my wrong;
the container  that I want to get stats info   is not started;so block the connection,and nothing return.

but as I think the docker api should return message <:the container is not started> substitute for to block the connection

[2015-03-02 06:22] xuxinkun commented on #11101
I understand. `DOCKER_CLIENTONLY=1 make binary` will effect but not `make DOCKER_CLIENTONLY=1 binary`. So, the comment should be fixed. I pull this request. https://github.com/docker/docker/pull/11103. Please check.

[2015-03-02 07:00] thaJeztah commented on #6839
Thanks @rjnagal!

[2015-03-02 07:44] alasarr commented on #4036
Same error here, running Ubuntu 14.04 and docker 1.5.0.

[2015-03-02 08:31] miklos-martin commented on #8911
:+1:

[2015-03-02 08:49] mitar commented on #8305
Oh, this is because I am not mounting an outside directory into the container as a data, but just exposing a directory as a data? Interesting.

[2015-03-02 09:24] Vish0007 commented on #11079
trying on docker1.5 does not help.
Also, i cannot upgrade to 1.5 due to technical restrictions. Only if it proves out to be problem with the docker version I can upgrade.

the url "http://10.0.0.1:9000/v1/images/5e66087f3ffe002664507d225d07b6929843c3f0299f5335a70c1727c8833737/layer" doesnot seem to be valid. My internal registry throws error:
{"error" : Missing namespace in request"}

Are you susp

[2015-03-02 09:24] shi154462671 commented on #9856
it  seems that I am a little later to arrive here,centos 6.6 + epel source,and the same kernel panic as pircture above.And ... ,Can you Downgrading to Docker 1.3.2 or quickly resolve it?

[2015-03-02 09:32] ianmiell commented on #8283
FWIW a use case:
I'm working on a repo here: https://github.com/ianmiell/docker-authenticate
which dockerizes http auth access.
It seems a neat way of temporarily giving some level of trusted access to your docker daemon to other users who have network access without restarting or messing with your docker daemon directly.

[2015-03-02 09:43] xuxinkun commented on #11101
I see. Thank you.

[2015-03-02 09:50] michaelneale opened #11105 "add bind mount to an already running container"
As covered by @jpetazzo here: http://jpetazzo.github.io/2015/01/13/docker-mount-dynamic-volumes/

it is possible to create a bind mount after a container has launched - in a fairly occult way. Is a RFE for this to be a docker feature reasonable? Many times a new starter may wish to bind mount something in after the fact? (however, there is great power/responsibility etc).

[2015-03-02 10:02] thaJeztah commented on #8887
This is the scenario, yes.

I fully understand that (at this moment) there's no way to lock it down. Users having access to `docker.sock` have effectively root access, so can change anything they like. Also, they would still be able to change the daemon flag and restart the daemon.

However, it *does* give a clear signal to the user if `docker pull --insecure-registry ..` gives an error ("Insecure

[2015-03-02 10:16] oldhamtj commented on #10972
Excellent, that's it sorted. Suggest minor doco change to point at proxy behaviour.

[2015-03-02 10:27] coolljt0725 commented on #11105
There are several issues on this, see #9849 #10975  #9915   PR #8348 #8826

[2015-03-02 10:35] coolljt0725 commented on #8911
+1

[2015-03-02 10:39] c0deaddict commented on #8279
+1

[2015-03-02 11:19] thaJeztah commented on #8305
@mitar correct (if I understand your question correctly); when specifying a "volume", and the container has files on that location, docker will copy the files to the volume.

Here, docker will create a volume and copy everything that's in "/data" inside the container to the volume;

    docker run -v /data something

However, when using a "bind-mount" (i.e., specify a directory on the *host* to us

[2015-03-02 11:21] aidanhs commented on #8887
I personally feel it'd do more harm than good, simply because it misleads people to think "oh look, docker enforces this" when actually it's a very superficial protection. I could go on, but in the end I think it comes down to a matter of taste.

[2015-03-02 11:53] michaelneale commented on #11105
closing as many duplicates. It is impossible to search for docker issues (in google at least) because of the endless hello-world examples.

[2015-03-02 11:53] #11105 closed

[2015-03-02 11:56] kswope opened #11107 "docker rm needs a real -f argument"
In my script I delete a container by name, but if the container doesn't exsit docker rm returns an error and prints an error.

As far as I can tell, there is no way currently to check for the existence of a container since inspect looks at both containers and images.

I'm looking for either a reliable way to do a check for a container before rm, or for rm to have a similar switch to /usr/bin/rm, w

[2015-03-02 12:18] aidanhs commented on #1911
Can't reproduce any more, even with an old version of docker. I assume something was fixed in an Ubuntu package.

[2015-03-02 12:25] is commented on #11093
In Mainland China, docker hub is hard to access directly.

In my network environment, i need set differents proxies for access
docker hub and other docker image services which located in China.

I need often restart the docker deamon to change http proxy. it's very boring.
so i hope the feature, I can set the real proxy through client command line.

[2015-03-02 13:23] dachary commented on #4036
Same error ere, running Ubuntu 14.04 and docker 1.5.0
<pre>
Step 6 : RUN yum install -y ccache valgrind gdb git python-virtualenv gdisk kpartx hdparm jq sudo xmlstarlet parted nc
 ---> Running in 8934edabb278
INFO[0839] Error getting container 8934edabb2787e2f883dd14688014188c9bfe57c906d4871bab0d9bb0f083f17 from driver devicemapper: open /dev/mapper/docker-8:3-2187637-8934edabb2787e2f883dd14688014

[2015-03-02 14:05] cpuguy83 commented on #11100
Ok, closing because this is intended behavior.

[2015-03-02 14:05] #11100 closed

[2015-03-02 14:09] rhatdan commented on #11087
The code is supposed to notice that PID 1 died and then kill all of the processes within the CGroup.  I have been hearing from Steve Dake about similar problems in 1.5 that he says were not there in our version of 1.4.1, but I have not found the problem.

[2015-03-02 14:31] rivallu commented on #3043
@Lawouach when you said "container to container" it's on the same host ?

[2015-03-02 14:44] JohnMorales commented on #3182
Also note I've bumped into this problem and this is what I did to fix it:

In my case though, due to device that /var is mounted on reaching 100% usage, the only way to stop the host from going into a kernel panic is to kill the docker process directly (i.e. issuing any docker commands would panic).

Then manually kill any processes using the devicemapper mounts using this command:

`grep docker /

[2015-03-02 14:44] unclejack commented on #4036
Devicemapper is going to be disabled in the statically linked Docker binaries.
Letting devicemapper get bundled into the static Docker binaries is never going to work properly and there's no way to fix this when statically linking.

Please look at the following table to understand the current status for your distribution.

Error|Distribution|Status|Final solution|Other comments
------------|------

[2015-03-02 14:47] ncdc commented on #10740
@stevvooe wrote in https://github.com/docker/docker/issues/10740#issuecomment-74574925 about having a parser that can return an "image object reference". Right now, `parsers.ParseRepositoryTag` takes a string, parses it, and returns a repository string and a tag string. In my prototype for this feature, I modified this method to return either the digest or the tag in the 2nd returned string. Doing

[2015-03-02 14:48] #10996 closed

[2015-03-02 14:58] rhvgoyal commented on #9644
@thaJeztah

Yes, this is resolved upstream now. Following is the commit. I think fix should show up in 1.5.1.

commit 080a6f1e4b7c33ce9b7b1b90cbf8fd90658226c2
Author: Vivek Goyal <vgoyal@redhat.com>
Date:   Thu Jan 29 13:19:18 2015 -0500

    devicemapper: Skip the files with prefix "." during device map construction

    Any file which starts with "." is not a valid metadata file. Skip it
    dur

[2015-03-02 15:08] rhvgoyal commented on #4036
@unclejack

So this table is for statically built docker and what graph drivers are supported with that? It is not for dynaically built docker?

[2015-03-02 15:15] miminar commented on #10740
I'm in favor of a new type - parsing will be done just once for every request. Loads of checks for presence of `':'` in a tag don't look nice. Passing along more than two values with different semantics encoded a single string is getting cumbersome.

[2015-03-02 15:16] unclejack commented on #4036
@rhvgoyal The second table is meant to be the distro x graph driver x binary type support matrix. It's for all drivers and binary types to illustrate where they're supported.

Thanks for pointing out that I've missed devicemapper on RHEL/CentOS/Fedora from the list.

[2015-03-02 15:24] kruxik commented on #5376
@jfrazelle Nope, the last production version (1.5.0) is not affected by this issue. I have checked this 5-6 times and no problem has occurred so far.

[2015-03-02 15:39] thaJeztah commented on #9644
Thanks @rhvgoyal!

@phemmer can you close the issue? Thanks!

[2015-03-02 16:04] #9644 closed

[2015-03-02 16:05] jfrazelle commented on #5376
Awesome thanks I am going to close then but if anyone else sees it lmk

[2015-03-02 16:05] #5376 closed

[2015-03-02 16:27] #1911 closed

[2015-03-02 16:30] funkyfuture opened #11110 "Documentation request: general storage-driver-guide"
The documentation at https://docs.docker.com obviously lacks any discussion of the available storage-drivers which imo is essential to guide people to their docker-setup.

One lesson, i learned today, is that you cannot run containers with the btrfs-driver if the `/var/lib/docker`-path itself is a subvolume of a btrfs-tree. This directory must sit in the `default`-volume of a btrfs-volume.
And i t

[2015-03-02 16:30] jfrazelle commented on #10944
closing as this seems to be a duplicate of several of these

[2015-03-02 16:30] jfrazelle commented on #10944
https://github.com/docker/docker/issues?q=is%3Aopen+is%3Aissue+label%3A%2Fsystem%2Fdevicemapper

[2015-03-02 16:30] #10944 closed

[2015-03-02 16:34] jfrazelle commented on #8667
closing as dup then of https://github.com/docker/docker/issues/8667

[2015-03-02 16:34] jfrazelle commented on #10391
closing as dup of https://github.com/docker/docker/issues/8667

[2015-03-02 16:34] #10391 closed

[2015-03-02 16:34] jfrazelle commented on #8667
sorry wrong one, this one stays open

[2015-03-02 16:37] jfrazelle commented on #11095
duplicate of https://github.com/docker/docker/issues/8446 https://github.com/docker/docker/issues/7232 https://github.com/docker/docker/issues/2733

[2015-03-02 16:37] #11095 closed

[2015-03-02 16:40] jfrazelle commented on #10897
cannot reproduce on latest

[2015-03-02 16:40] #10897 closed

[2015-03-02 16:41] jfrazelle commented on #9876
closing as dup of https://github.com/docker/docker/issues/4717

[2015-03-02 16:41] #9876 closed

[2015-03-02 16:42] jfrazelle commented on #6088
closing you can reopen on libcontainer

[2015-03-02 16:42] #6088 closed

[2015-03-02 16:43] jfrazelle commented on #6088
also see https://github.com/docker/docker/issues?q=is%3Aopen+is%3Aissue+label%3A%2Fsystem%2Fnetworking I think there are a few about custom networks

[2015-03-02 16:44] jfrazelle commented on #7296
also this is a dup of https://github.com/docker/docker/issues/9932

[2015-03-02 16:44] #7296 closed

[2015-03-02 16:47] jfrazelle commented on #10488
ok we need the output of docker version, docker info, daemon logs and how to reproduce

[2015-03-02 16:48] jfrazelle commented on #11086
have you tried running the container as --privileged

[2015-03-02 16:48] jfrazelle commented on #11086
we need the output of this information https://github.com/docker/docker/blob/master/CONTRIBUTING.md#reporting-issues

[2015-03-02 16:50] jfrazelle commented on #9315
has anyone tried with docker 1.5

[2015-03-02 16:52] jfrazelle commented on #9662
closing as stale and failure to provide https://github.com/docker/docker/blob/master/CONTRIBUTING.md#reporting-issues, please ping me if you end up giving the information

[2015-03-02 16:52] #9662 closed

[2015-03-02 16:53] jfrazelle commented on #10021
closing as dup of https://github.com/docker/docker/issues/9786

[2015-03-02 16:53] #10021 closed

[2015-03-02 16:54] jfrazelle commented on #7395
@brauner is that with docker 1.5

[2015-03-02 16:55] jfrazelle commented on #7316
@unclejack did you find anything

[2015-03-02 16:56] jfrazelle commented on #8183
duplicate https://github.com/docker/docker/issues/9406

[2015-03-02 16:56] #8183 closed

[2015-03-02 16:58] jfrazelle commented on #10065
closing as stale, @holmes86 let me know if you are still seeing on 1.0.7

[2015-03-02 16:58] #10065 closed

[2015-03-02 16:58] unclejack commented on #7316
@jfrazelle No, this was unassigned from me and I've lost track of it.

[2015-03-02 17:00] jfrazelle commented on #7316
ya I saw it was unassigned super weird

On Mon, Mar 2, 2015 at 8:59 AM, unclejack <notifications@github.com> wrote:

[2015-03-02 17:04] seanclerkin commented on #9856
I'm also seeing this regularly with the same setup
`CentOS 6.5 (2.6.32-431.el6.x86_64)`
`Docker version 1.4.1, build 5bc2ff8/1.4.1`

[2015-03-02 17:10] jfrazelle commented on #5654
closing as stale, but ping me or open on boot2docker if still an issue

[2015-03-02 17:10] #5654 closed

[2015-03-02 17:13] #6607 closed

[2015-03-02 17:15] jfrazelle commented on #6615
closing as I believe this to be a misunderstanding with how to use docker, and issue is stale, feel free to ping me if the solutions here do not fix the problem

[2015-03-02 17:15] #6615 closed

[2015-03-02 17:16] jfrazelle commented on #7417
closing as dup of #7779

[2015-03-02 17:16] #7417 closed

[2015-03-02 17:18] jfrazelle commented on #7970
closing as stale please ping me with steps to reproduce on latest

[2015-03-02 17:18] #7970 closed

[2015-03-02 17:18] jfrazelle commented on #8236
closing as stale I will reopen if you give exact steps to reproduce with the latest version

[2015-03-02 17:18] #8236 closed

[2015-03-02 17:19] jfrazelle commented on #6507
closing as stale please ping me with exact steps to reproduce on latest and I will reopen

[2015-03-02 17:19] #6507 closed

[2015-03-02 17:19] jfrazelle commented on #6978
closing as stale please ping me with exact steps to reproduce on the latest version and I will reopen

[2015-03-02 17:19] #6978 closed

[2015-03-02 17:20] jfrazelle commented on #8174
closing as stale please ping me with exact steps to reproduce on the latest version and I will reopen

[2015-03-02 17:20] #8174 closed

[2015-03-02 17:20] jfrazelle commented on #5242
closing as stale please ping me with exact steps to reproduce on the latest version and I will reopen

[2015-03-02 17:20] #5242 closed

[2015-03-02 17:20] jfrazelle commented on #7855
closing as stale please ping me with exact steps to reproduce on the latest version and I will reopen

[2015-03-02 17:20] #7855 closed

[2015-03-02 17:21] jfrazelle commented on #6671
closing as stale please ping me with exact steps to reproduce on the latest version and I will reopen

[2015-03-02 17:21] #6671 closed

[2015-03-02 17:21] jfrazelle commented on #5651
closing as stale please ping me with exact steps to reproduce on the latest version and I will reopen

[2015-03-02 17:21] #5651 closed

[2015-03-02 17:22] jfrazelle commented on #8126
closing as stale please ping me with exact steps to reproduce on the latest version and I will reopen

[2015-03-02 17:22] #8126 closed

[2015-03-02 17:22] jfrazelle commented on #7285
closing as stale please ping me with exact steps to reproduce on the latest version and I will reopen

[2015-03-02 17:22] #7285 closed

[2015-03-02 17:22] jfrazelle commented on #8693
closing as stale please ping me with exact steps to reproduce on the latest version and I will reopen

[2015-03-02 17:23] jfrazelle commented on #10684
closing as stale please ping me with exact steps to reproduce on the latest version and I will reopen

[2015-03-02 17:23] #10684 closed

[2015-03-02 17:23] jfrazelle commented on #5926
closing as stale please ping me with exact steps to reproduce on the latest version and I will reopen

[2015-03-02 17:23] #5926 closed

[2015-03-02 17:24] jfrazelle commented on #8819
closing as stale please ping me with exact steps to reproduce on the latest version and I will reopen

[2015-03-02 17:25] jfrazelle commented on #8910
closing as stale please ping me with exact steps to reproduce on the latest version and I will reopen

[2015-03-02 17:26] jfrazelle commented on #8914
closing as duplicate of https://github.com/docker/docker/issues/6549

[2015-03-02 17:26] #8914 closed

[2015-03-02 17:28] jfrazelle commented on #8920
closing as stale please ping me with details to reproduce on latest and I will reopen

[2015-03-02 17:28] #8920 closed

[2015-03-02 17:29] jfrazelle commented on #6783
closing as stale please ping me with details to reproduce on latest and I will reopen

[2015-03-02 17:29] #6783 closed

[2015-03-02 17:29] jfrazelle commented on #8575
closing as stale please ping me with details to reproduce on latest and I will reopen

[2015-03-02 17:29] #8575 closed

[2015-03-02 17:29] jfrazelle commented on #9380
closing as stale please ping me with details to reproduce on latest and I will reopen

[2015-03-02 17:29] #9380 closed

[2015-03-02 17:30] jfrazelle commented on #9363
closing as stale please ping me with details to reproduce on latest and I will reopen

[2015-03-02 17:30] #9363 closed

[2015-03-02 17:30] jfrazelle commented on #8027
closing as stale please ping me with details to reproduce on latest and I will reopen

[2015-03-02 17:30] #8027 closed

[2015-03-02 17:31] jfrazelle commented on #8218
closing as stale please ping me with details to reproduce on latest and I will reopen

[2015-03-02 17:31] #8218 closed

[2015-03-02 17:31] jfrazelle commented on #1906
closing as stale please ping me with details to reproduce on latest and I will reopen

[2015-03-02 17:31] #1906 closed

[2015-03-02 17:31] justinclayton commented on #8887
If you're looking to how it might hurt, just scroll up. There are myriad UX issues with this approach that create barriers to adoption, and they're all detailed above. 

On Mon, Mar 2, 2015 at 2:03 AM -0800, "Sebastiaan van Stijn" <notifications@github.com> wrote:

if a user wants to enforce on users that all images come from secure registries (i.e. an 'enterprisey' scenario), they cannot actually

[2015-03-02 17:35] jfrazelle commented on #9003
closing as stale please ping me with details to reproduce on latest and I will reopen

[2015-03-02 17:35] #9003 closed

[2015-03-02 17:36] jfrazelle commented on #9727
closing as stale please ping me with details to reproduce on latest and I will reopen

[2015-03-02 17:36] #9727 closed

[2015-03-02 17:38] jfrazelle commented on #2436
i cannot reproduce with lxc 1.0.7 and latest docker

[2015-03-02 17:38] #2436 closed

[2015-03-02 17:38] jfrazelle commented on #9564
closing as stale please ping me with details to reproduce on latest and I will reopen

[2015-03-02 17:38] #9564 closed

[2015-03-02 17:40] jfrazelle commented on #10150
closing as dup of https://github.com/docker/docker/issues/9570

[2015-03-02 17:46] jfrazelle commented on #10749
ping @jseun

[2015-03-02 17:47] jfrazelle commented on #10326
closing as unable to reproduce but ping me with exact steps to do so on latest and i will gladly reopen

[2015-03-02 17:47] #10326 closed

[2015-03-02 17:48] jfrazelle commented on #6435
after the restart policies in 1.2.0 this is not reproducable please update and ping me if you are still seeing it after using those policies

[2015-03-02 17:48] #6435 closed

[2015-03-02 17:51] jfrazelle commented on #9815
closing as stale please ping me with details to reproduce on latest and I will reopen

[2015-03-02 17:51] #9815 closed

[2015-03-02 17:52] jfrazelle commented on #7271
closing as stale please ping me with details to reproduce on latest and I will reopen

[2015-03-02 17:52] #7271 closed

[2015-03-02 17:52] jfrazelle commented on #9027
closing as stale please ping me with details to reproduce on latest and I will reopen

[2015-03-02 17:52] #9027 closed

[2015-03-02 17:52] jfrazelle commented on #9868
closing as stale please ping me with details to reproduce on latest and I will reopen

[2015-03-02 17:52] #9868 closed

[2015-03-02 17:53] jfrazelle commented on #10094
ping @acbodine

[2015-03-02 17:54] jfrazelle commented on #8794
closing as dupicate of a few issues here https://github.com/docker/docker/issues?q=is%3Aopen+is%3Aissue+label%3A%2Fsystem%2Fdevicemapper

[2015-03-02 17:54] #8794 closed

[2015-03-02 17:54] moxiegirl commented on #11023
I'm gonna take this one.

[2015-03-02 17:55] mbert commented on #7970
Sorry for coming back to you late. Unfortunately I am no longer working on the project in which I ran into this problem - thus I have no longer access to the environment needed to reproduce this error.

[2015-03-02 17:58] mitar commented on #8305
That perfectly explained things. I was used to bind-mount volumes so I did not know about this second behavior. Thanks.

[2015-03-02 17:59] jfrazelle commented on #10352
closing as stale please ping me with steps to reproduce on latest and i will reopen

[2015-03-02 17:59] #10352 closed

[2015-03-02 17:59] #6328 closed

[2015-03-02 18:00] jfrazelle commented on #10981
closing as dup https://github.com/docker/docker/issues/8385

[2015-03-02 18:00] #10981 closed

[2015-03-02 18:01] jfrazelle commented on #2276
ping @kiorky ^

[2015-03-02 18:02] jfrazelle commented on #10256
ping @icecrime can you triage ;)

[2015-03-02 18:03] cpuguy83 commented on #11090
I feel like this is covering a couple of things, 1) volume management, 2) enhanced volume functionality.

Please see #8363 and the subsequent #8484 implementing volume management.
Would be great to have discussions on volume management centered around those.

On the enhanced volume functionality, I feel like adding complexity to Docker and making it a data management platform is not the right way

[2015-03-02 18:07] kiorky commented on #2276
See all open bugs ?

[2015-03-02 18:07] ashahab-altiscale commented on #10525
@mfojtik , at this point lxc-1.0.7 is the supported version. Feel free to submit patches to make docker more compatible with lxc-1.1.0. Thanks for posting the issue.

[2015-03-02 18:07] kiorky commented on #2276
(Plus the ones closes without fixing, like the ntp one)

[2015-03-02 18:08] hoskeri commented on #11090
@thaJeztah Done!

[2015-03-02 18:10] kashyap-parikh commented on #11072
Below is uname and screenshot. Latest docker version for CentOS 6.5 is [1.4.1](http://dl.fedoraproject.org/pub/epel/6/x86_64/repoview/docker-io.html) and it has another issue #9856 that forced me to revert to 1.3.2.

[vagrant@vagrant-centos65 ~]$ uname -a
Linux vagrant-centos65.vagrantup.com 2.6.32-431.3.1.el6.x86_64 #1 SMP Fri Jan 3 21:39:27 UTC 2014 x86_64 x86_64 x86_64 GNU/Linux

![screen shot

[2015-03-02 18:12] kashyap-parikh commented on #11072
docker info
[code]
docker version
[code]

[2015-03-02 18:15] jfrazelle commented on #11072
ping @vbatts

thanks for the info @kashyap-parikh

[2015-03-02 18:29] burke commented on #8242
I'lll check later this afternoon. I've mucked with our build process to avoid the problem so I'm not sure off the top of my head.

[2015-03-02 18:36] nh2 commented on #8819
@jfrazelle When you `run docker save myimage | sha1sum` twice on any `myimage` of your choice, does it produce the same output across the two times?

[2015-03-02 18:37] jfrazelle commented on #8819
trying now

[2015-03-02 18:39] jfrazelle commented on #8819
reopening, ping @jlhawn @dmcgowan is this a tarsum thing?

[2015-03-02 18:48] databus23 commented on #10150
@jfrazelle I don't think this issue is a duplicate of #9570. this issue ist about *docker login* not reading certificates from /etc/docker/... as *docker pull* does. The referenced issue is about sending credentials via plain http.

[2015-03-02 18:52] jfrazelle commented on #10150
i think the problem was also with @rhasselbaum setup because that should work if it was setup correctly, @rhasselbaum were you able to fix this

[2015-03-02 19:01] databus23 commented on #10150
No this does not work and is a valid bug IMO.
@dmp42's assessment is correct. the code path of `docker login` does not add the certs from `/etc/docker/{host}` as `docker pull` does.
See:
  1. https://github.com/docker/docker/blob/master/registry/auth.go#L73
  2. https://github.com/docker/docker/blob/master/registry/registry.go#L36

[2015-03-02 19:02] jfrazelle commented on #10150
ok thanks for clarifying, reopening

[2015-03-02 19:02] rhasselbaum commented on #10150
I was only able to get certificate validation working with `docker login` by adding the certificate to the host's global CA trust store. Adding to `/etc/docker/certs.d/...` is still not working AFAIK.

@databus23 is correct, this is not the same issue as #9570.

[2015-03-02 19:03] jlhawn commented on #8819
@jfrazelle I wouldn't add the `bug` label. It's not a bug, it's just the behavior of `docker save`. This is more of a feature request. It would be nice if the output of `docker save` was deterministic and reproducible.

@nh2 `docker save` has to generate each `layer.tar` on the fly from the rootfs snapshots that already exist. These `layer.tar` files represent diffs of the filesystem between build

[2015-03-02 19:04] acbodine commented on #10094
I meant to close this. Whoops.

[2015-03-02 19:04] #10094 closed

[2015-03-02 19:08] ibuildthecloud commented on #11087
@rhatdan My assumption (again, haven't understood the code fully) is that this isn't so much of a libcontainer issue (as I saw your tests for freeze/kill) but instead a conflict between docker and libcontainer.  It seems to be that when PID 1 dies whatever callback that exists to tell docker that the container is dead, is not getting invoked.  Again my assumption (I'm making an ass of myself) is t

[2015-03-02 19:13] ncdc commented on #10392
@jfrazelle no, it hasn't been implemented to my knowledge

[2015-03-02 19:15] jseun commented on #10749
@jfrazelle, sorry for the delay.  I had no time to check further on this one but I am pretty sure there is no daemon listening on that port.  If I start the docker manually, it does succeed.

[2015-03-02 19:16] jfrazelle commented on #10749
can you give us the output of docker version and docker info

[2015-03-02 19:18] jfrazelle commented on #10094
ah cool thanks!

On Mon, Mar 2, 2015 at 11:05 AM, Andrew C. Bodine <notifications@github.com>
wrote:

[2015-03-02 19:19] jseun commented on #10749
[code]

[2015-03-02 19:20] jfrazelle commented on #10749
might be releated to https://github.com/docker/docker/issues/9047

[2015-03-02 19:23] jseun commented on #10749
Note that there is only one container on that machine.  Here's the output of netstat.

[code]

[2015-03-02 19:30] rhvgoyal opened #11113 "Unmount container rootfs after successful launch"
Right now we keep container rootfs mounted (in /var/lib/docker/devmapper/mnt/<container_id>) after container launch and it is unmounted once container has exited.

But this creates problems of devices leaking into mount namespace of other containers. And that in turn does not allow container to exit or to be removed. We give up after 10 seconds in the process leaving behind active devices or unrec

[2015-03-02 19:35] cpuguy83 commented on #8385
See an implementation of this in #10683

[2015-03-02 19:50] LK4D4 commented on #11087
We had similar issue. It was because of not closed streams and `cmd.Wait` just hanged forever, we can test this with simple logging around. Also there was issue with cgroups not properly removed.
Actually all processes in cgroup should be killed if main process was killed :/ But seems there is some bug about it.

[2015-03-02 19:52] LK4D4 commented on #11087
docker/libcontainer#349 for reference

[2015-03-02 19:57] ibuildthecloud commented on #11087
@LK4D4 are you saying if the child is using the parents FDs, wait won't exit?

[2015-03-02 19:59] LK4D4 commented on #11087
@ibuildthecloud Yes, if it not dies with parent. And also if you try just `cat` in `exec.Cmd` for example it won't exit too, but `cat` will become a zombie.

[2015-03-02 20:00] rhatdan commented on #11087
@sdake here is the reference to the problem you are seeing.  I have no idea why the Wait4 call was removed?  @crosbymichael ???

[2015-03-02 20:00] ibuildthecloud commented on #11087
Cool.  This fails.

    docker run -d --pid=host ubuntu bash -c "sleep 300; echo hi"

This good.

    docker run -d --pid=host ubuntu bash -c "sleep 300 >/dev/null 2>&1; echo hi"

[2015-03-02 20:03] LK4D4 commented on #11087
@rhatdan Wait a minute. In docker used old verson of libcontainer, where `os.Process.Wait` used which is just wrapper for `Wait4`. In new version we still not figured out what we should do.
Also @sdake confirmed that patch fixed his problem.
docker/libcontainer#396 for reference

[2015-03-02 20:05] nh2 commented on #8819
OK, let's make this a feature request.

@jlhawn Do you think this can be sensibly implemented by using tar's `--mtime` option on the `layer.tar`s and then the final tar, too? From your description, it seems to me that it could.

Thanks, that is useful!

[2015-03-02 20:08] rhvgoyal commented on #4036
@unclejack

IIUC, Disabling build of graphdriver with static docker binary will result no automated testing happening with devicemapper graph driver. Is there a force build of dynamic binary in test setup.

[2015-03-02 20:12] rhatdan commented on #11087
Right but now it is breaking in docker-1.5.

[2015-03-02 20:17] LK4D4 commented on #11087
weird :/ It was merged only in docker-1.5

[2015-03-02 20:17] rhatdan commented on #11087
Ok, I game him a version with docker-1.4.1 in devel branch.  Which worked and now he says it is broken. in 1.5

[2015-03-02 20:18] rhatdan commented on #11087
I don't see anything that is different.

[2015-03-02 20:23] LK4D4 commented on #11087
@sdake @rhatdan I rechecked example from #10303 and it works for me (maybe lines in your script changed). Can you provide non-working command and I'll try to debug issue.

[2015-03-02 20:24] LK4D4 commented on #11087
Actually I have command from @ibuildthecloud :)

[2015-03-02 20:32] dmp42 commented on #10972
@jfrazelle marking this as a documentation enhancement then?

[2015-03-02 20:33] jfrazelle commented on #10972
nice

[2015-03-02 20:34] oldhamtj commented on #10972
Yes please. Thanks for your support.

From: Olivier Gambier [mailto:notifications@github.com]
Sent: 02 March 2015 20:34
To: docker/docker
Cc: Oldham,TJ,Tim,TAA31 R
Subject: Re: [docker] Proposal: Support for non-proxied private registry (#10972)

@jfrazelle<https://github.com/jfrazelle> marking this as a documentation enhancement then?

—
Reply to this email directly or view it on GitHub<https://g

[2015-03-02 20:48] duglin commented on #8148
@omeid a fair number of people don't want the flag at all. Personally, I like having it just as a nicety so that if someone does run into a situation where they have a ton of Dockerfiles that have unknown commands then they can still use them but fix them at their own pace.  But I wouldn't want to force all clients to have to add a new flag to each "docker build" command to get the old behavior. A

[2015-03-02 20:54] ahanwadi commented on #11090
@cpuguy83 - The CLI in proposal #8363 looks reasonable and we can have the API mirror those.
However, currently docker does not provide a way to utilize specific storage provider on a container basis.
We would definitely need a way to:
1.  Be able to specify storage provider/driver when creating a volume
2.  be able to create volume from an existing volume (as a clone or snapshot) as you may not a

[2015-03-02 21:07] burke commented on #8242
I just realized I don't actually have any more BTRFS filesystems around to test this out without spending a few hours on it, but looking at the code in `pkg/archive/changes.go` on master, I don't see any evidence of it being fixed.

[2015-03-02 21:10] jfrazelle commented on #8242
cool don't worry about it

[2015-03-02 21:12] jgangemi opened #11117 "when is the 1.5.1 release due (related to issue #10599)"
i'm still suffering from issue #10599, which was fixed by #10601 but i am unable to determine if that made it in to the 1.5.0 release before it went out.

could someone clarify if #10601 made its way into the 1.5.0 release b/c i will need to open another issue for this b/c it still exists.

thanks!!

[2015-03-02 21:15] sdake commented on #11087
@lk4d4 I'm on the road ATM and don't have good access to my system.  I'll post an update on Thursday when I'm back in the office.  Thanks for being responsive - I'll find the example I am using that is broken.  Note I am using fedora 21's docker 1.5 version which may or may not have the fix.  I can't get master to compile - it fails and I'm not sure how to fix it.

[2015-03-02 21:15] thaJeztah commented on #11090
From a UX perspective, here are some proposals for being able to specify a driver/options when creating volumes; https://github.com/docker/docker/issues/9803, https://github.com/docker/docker/issues/9250 (and others https://github.com/docker/docker/issues/7249#issuecomment-71203483).

(IMO, it's time to collect all those proposals and have a design, both from a UX and technical perspective)

[2015-03-02 21:16] jfrazelle commented on #11117
It does not look like that commit was in 1.5.0, but you can download master binaries at master.dockerproject.com. Right now we do not have a date for 1.5.1 but 1.6.0 will be frozen on March 18, release scheduled for second week of april

[2015-03-02 21:16] #11117 closed

[2015-03-02 21:18] jgangemi commented on #11117
great, thanks for the prompt response!

[2015-03-02 21:51] shishir-a412ed opened #11120 "docker -d -h start daemon instead of showing help menu"
The following starts the docker daemon instead of showing the help menu.

1) docker -d -h
2) docker -d --help
3) docker -h -d
4) docker --help -d
5) docker --daemon -h
6) docker --daemon --help
7) docker -h --daemon
8) docker --help --daemon.

Shishir

[2015-03-02 22:04] dmp42 commented on #10392
Ping @shin-
Where are we with the hub now? What are the limitation enforced?

[2015-03-02 22:09] shin- commented on #10392
Patched it recently to be consistent with the rules enforced with registry v2, so still 30 characters, and made sure it's enforced properly in all places. However, that also means making the change to something other than 30 should be pretty easy if we agree on a new value.

[2015-03-02 22:35] dubglan commented on #1916
@jpetazzo @strib
Beyond iptables issues, mounts and other privileged operations, I think there's one build scenario we should be addressing.

We ship appliances for deployment in VMs and bare-metal installation. However, for testing we use container environments. In turn, inside of those appliances we run containers. So test containers have to be based on docker-in-docker. Now imagine that we have

[2015-03-02 22:55] ahmetalpbalkan commented on #11107
@kswope you can probably do something like `docker rm -f foo; true` to unblock yourself. you can check the existence of container using `docker ps -aq | grep container_name`

This feature request is probably also valid for `rmi` command?

[2015-03-02 23:01] geekpete commented on #10892
I guess this is one convenience in exchange for another complexity.

The idea was instead of every app you deploy in a docker container having to know about different centralised logging/metrics systems, every app could instead just log their stats to the container itself. Making the app simpler than having to store config for an external endpoint and communicate out to log metrics in an external

[2015-03-02 23:12] jfrazelle commented on #11120
duplicate https://github.com/docker/docker/issues/9677

[2015-03-02 23:22] tiborvass commented on #11120
@jfrazelle This is a different issue unfortunately :(

[2015-03-02 23:24] thaJeztah commented on #10892
Thanks for expanding on your initial thoughts. I agree that it would be nice to have something like that, but this is out of scope for docker itself. For non real-time statistics/metrics, you might be interested in https://github.com/docker/docker/pull/10568, which would give flexibility for consuming *logs* produced by containers.

You should be able to close this ticket (because you created it).

[2015-03-02 23:26] jfrazelle commented on #11120
:( can we fix both

[2015-03-02 23:30] stp-ip commented on #7149
Given one of my projects is doing a "building everything from source" kind of thing, I have some  ideas I wanted to get out.
Here is an example of what I imagine:
[code]
First I like the general notion of nested builds. Furthermore using predefined dockerfiles for a given nested build simplifies code deduplication and if that's possible would make pluggable docker compositions a much easier thing

[2015-03-02 23:57] thaJeztah commented on #11107
looks like a dup of https://github.com/docker/docker/issues/10545

Is your use-case starting new containers and replace the existing one (if it exists)? If it is, these issues may have some overlap as well; https://github.com/docker/docker/issues/9253  https://github.com/docker/docker/issues/7245

[2015-03-03 00:23] orzel commented on #10180
I have the same problem here on two servers. It works well on two others.. can't find anything different between those. The common setup is : gentoo, kernel 3.18.8, overlay storage backend (over ext4 on dedicated partition), go 1.4.1 and docker 1.5.0

check-config reports everything ok/'enabled'.

I tried adding "--dns 8.8.8.8 --dns 8.8.4.4" but this doesn't change anything.

[2015-03-03 00:29] orzel commented on #10169
I have the same problem here on two servers. It works well on two others.. can't find anything different between those. The common setup is : gentoo, kernel 3.18.8, overlay storage backend (over ext4 on dedicated partition), go 1.4.1 and docker 1.5.0

check-config reports everything ok/'enabled'.

I tried adding "--dns 8.8.8.8 --dns 8.8.4.4" but this doesn't change anything.

[2015-03-03 00:36] duglin commented on #7149
strictly from a syntax perspective, {}'s will probably more complex to support given } could be a valid thing to appear in a command.  I think doing something like:
[code]
would be less disruptive and less chance of causing issues.

[2015-03-03 01:00] proppy commented on #7149
Note that updated proposal based on #8021 implementation doesn't really support 'nested build', but rather 'chained build', i.e: the new `BUILD` job replace the previous one.

[2015-03-03 01:11] dmp42 commented on #11079
Ok, can you copy your entire registry logs when trying to pull? (on gist or pastebin please)

[2015-03-03 01:26] ahanwadi commented on #11090
@thaJeztah - Thanks for the references. So, essentially with the remote volumes, docker will be mainly connecting to existing volumes (so 'docker volume create' is more like attach or mount).
Seeing a few clarifications:
1) How do we then handle the case of creating a new empty volume as specified in the Dockerfile using VOLUME entry? Will such a volume be always provisioned using some default/loc

[2015-03-03 01:30] jlhawn commented on #8819
Docker doesn't shell out to a `tar` binary so we can't use that option (we use the golang `archive/tar` library instead), but the "archive/tar" library does give us control over what values are set for the access and modified times.

While I can't speak for the "layer.tar" files (those are created using a specialized directory diff-ing algorithm - I'll look into this separately) we can certainly g

[2015-03-03 01:35] stevvooe commented on #10392
@shin- @dmp42 Currently, registry v2 limits the name component to 30 chars, but we should remove this restriction and limit to a total length. The hub can independently select limits for username/repo within this space. As far as the docker daemon is concerned, I have no opinions other than that it should follow the v2 constraints.

[2015-03-03 01:37] stevvooe commented on #10740
@ncdc Option 3 above is the best approach, even if `ImageReference` is simply `type ImageReference string` with a few access methods. Stringly typed data is a no-no. ;)

[2015-03-03 01:46] ncdc commented on #10740
@stevvooe I'll do whatever you guys think makes the most sense. Do you want a `type ImageReference string` with

[code]

or does making it an actual struct make more sense? Should `Repository()` return a string or a `RepositoryInfo`?

[2015-03-03 02:11] shi154462671 commented on #9856
http://koji.fedoraproject.org/koji/buildinfo?buildID=595471

Here we can get the history 1.3.2 rpm source package,and you can install by the following:
(the is some dependence there,just install it)
<pre>
rpm -i docker-io-1.3.2-2.el6.src.rpm
cd rpmbuild/SPECS
rpmbuild -ba docker-io.spec
cd rpmbuild/RPMS
</pre>
and the rpm we want  is in rpmbuild/RPMS

[2015-03-03 02:27] ncdc commented on #10740
Moving discussion of image reference to the PR here https://github.com/docker/docker/pull/11109#issuecomment-76875115

[2015-03-03 03:02] addhewarman commented on #10169
@orzel #Use DOCKER_OPTS to modify the daemon startup options, that's dns things is only optional.
DOCKER_OPTS="-s overlay"

[2015-03-03 03:19] vbatts commented on #8819
in the `./pkg/archive` package most of that logic occurs. and for the
layer.tar, they got a lot more deterministic with
commit 32d6d49539f5876e6ef75f00db917d8a3aaa0569

On Mon, Mar 2, 2015 at 8:30 PM, Josh Hawn <notifications@github.com> wrote:

[2015-03-03 03:37] temoto commented on #10316
:+1:

[2015-03-03 03:46] brahmaroutu commented on #10967
@jfrazelle I have renamed the test to use local registry and also changed code to load a saved registry image. Few issues - 1. Where do we download the registry image from(over 150MB, docker pull registry && docker save registry | gzip > integration-cli/registry.tar.gz)? 2. docker load takes time and starting the V1 registry server is slow and I had a sleep to make the test pass.
Tried building th

[2015-03-03 03:48] temoto commented on #10316
I run 3 containers: application, database, reverse proxy. Some of them need to know IP of another to connect. Each of them is updated/restarted independently, so `--link` doesn't work because it doesn't update `/etc/hosts` when containers change their IP. Any of the following would solve my issue:
- update /etc/hosts when linked containers change their address (or running status), like mentioned e

[2015-03-03 06:23] ibukanov commented on #10316
@temoto I discovered that by not using --link I exposed my containers to arbitrary connections from unrelated containers as I needed to run the docker with --icc=true (the default). This means if some of those other containers are hacked, my containers will be hacked as well as they do not use any kind of passwords for inter-container communications.

So I stopped using the /etc/hosts trick. Inste

[2015-03-03 07:24] lancehudson commented on #9592
I don't believe apt-cache-ng supports ssl.

[2015-03-03 08:27] snapshot560 opened #11127 "docker build --net options"
the docker run container need --net option when use openvswitch manage network， but docker build  don't use --net option  run container， so I cat't build docker images

[2015-03-03 09:06] chenchun commented on #9658
I think container should be removed for the above two cases. I also found stop docker daemon will not remove containers specified with --rm.

[2015-03-03 09:36] jujhars13 commented on #6141
I'm just using this workaround for the moment and defining the `${HOME}` env variable before I run docker pull/run
`HOME=/root docker pull buto/our-private-image`

[2015-03-03 10:00] lancehudson commented on #9592
I cheated and switched `deb https://get.docker.com/ubuntu docker main` to `deb http://get.docker.com.s3-website-us-west-1.amazonaws.com/ubuntu docker main`

[2015-03-03 10:25] fbiville opened #11129 "Proposal: Introduce the notion of "effective Dockerfile" à la Maven"
[Maven build tool](http://maven.apache.org/) allows users to see the flattened version of the project definition file (i.e. `pom.xml`) via the command: `mvn help:effective-pom`. This can be really be helpful to visualize default and inherited configuration in a single place.

That said, I could not find any equivalent for Dockerfile.

This would be useful to check all layers etc in a single place

[2015-03-03 10:42] Silex opened #11130 "docker build: allow to specify cache invalidation mechanism"
Hello,

Right now the caching mechanism seems to be "timestamp-based", e.g with the following Dockerfile:

[code]

A simple "touch Dockerfile" causes the cache to be invalidated. While I understand the reasoning behind it, this is kinda annoying because the contents of the file didn't change and in many cases you only care about the contents, not the modification time.

I suggest adding a new flag

[2015-03-03 11:04] voycey commented on #2658
This is the one thing currently that is preventing me from moving everything over :+1:

[2015-03-03 12:15] orzel commented on #10169
@addhewarman you misunderstood. I 'm using the overlay storage backend since the very beginning, and i know how to configure docker. The ticket is about docker failing when using overlay. You suggested adding those dns stuff, and i was just reporting that it would not change the bug.

[2015-03-03 12:18] PositiveAlex commented on #11086
I'm sorry, Jess.
I could change this using `--privileged` flag. Closing this issue.

[2015-03-03 12:18] #11086 closed

[2015-03-03 13:11] Nightling opened #11131 "IPv6 Privacy Extensions"
We have vast IPv6 subnets, why not utilize them and randomize IPv6 addresses in containers?

Currently a static MAC address is incremented and SLAAC is used.
I'd `expect net.ipv6.conf.*.use_tempaddr=1` to have the desired effect on docker containers.

Randomizing the MAC address could yield similar results and it wouldn't have to be a system wide option. It would also be platform independent. Thou

[2015-03-03 13:36] phemmer commented on #11130
Dup of #4351

[2015-03-03 13:55] shibuya-jk commented on #6980
That happens to me too the same as @testn in Docker 1.5
I hope this issue fix soon~

[2015-03-03 14:13] temoto commented on #10316
@ibukanov that's brilliant! I was going to check out if it's possible to make a new bridge for each group of containers, like in `systemd-nspawn`, turns out you can't. Still can do it with `--net=none` + pipework [1].

It works until network-sleep container is restarted. So we can track evolution:
- isolated containers
- (docker default) bridged together, unknown addresses
- (--link) addresses kno

[2015-03-03 14:35] ibukanov commented on #10316
@temoto why would you need to ever restart the net-only container that executes sleep forever? The only danger is that it could be accidentally killed by, say, out-of-memory killer. But if you use a custom image with the only file which is a statically linked executable that sleep forever while ignoring all the signals, you container will take just few kilobytes of memory and OOM killer will spare

[2015-03-03 14:52] temoto commented on #10316
@ibukanov oh I'm not saying it's a deal breaker. Your idea is brilliant and it works well enough. OOM is one of many sources of killed container. Another example is system operator. Point being, the design has a weak point for no good value. Correct solution is to not have the weak spot.

Bad analogy police is on its way, but...
Suppose, you have an open wire connecting electricity at home. Touch

[2015-03-03 15:07] tgpfeiffer opened #11132 "Docker build fails with "invalid argument" on encfs"
I tried moving my Docker directory to a directory in my $HOME, which is encfs-encrypted and therefore has a pretty short filename length limit (143 characters?). Most Docker commands that "do" something (i.e., docker build, docker run) fail at some point with "invalid argument". Moving the directory outside of encfs makes everything go fine. I wonder if there's a chance to solve that issue or give

[2015-03-03 15:18] dpisarewski commented on #7804
This issue is still not fixed.

[2015-03-03 15:19] bubuntux commented on #7554
Having the same issue here, any workaround?

[2015-03-03 15:58] rgbkrk commented on #9939
@tianon What are you using for a nuke script now?

[2015-03-03 16:00] ibukanov commented on #10316
@temoto What if the operator accidentally kills the docker daemon or systemd core dumps or kernel crashes ;)

In any case, if it is really necessary to ensure that a dependent container restarts after a restart of the net container, use systemd unit files etc. to manage the lifetime of the containers and their dependencies.

[2015-03-03 16:07] thaJeztah commented on #7804
@dpisarewski this issue is not closed as "resolved", but as a duplicate of https://github.com/docker/docker/issues/6094. You can check that issue for progress.

[2015-03-03 16:11] stucki commented on #9806
Disagree that this is a docs issue. When I run ```docker run``` with ```--user``` then I expect that $USER or `tty` permissions are correct. Currently, only $EUID, $HOME and $UID are different when I run a bash as something else than root (Ubuntu 14.04).

[2015-03-03 16:16] temoto commented on #10316
@ibukanov I sincerely hope you got the difference and just mocking. In case I wasn't clear enough: sometimes you need to stop/kill some process, so `kill` is dangerous but useful. The possibility of network-sleep container being stopped brings only danger and no positive value. Systemd is great and capable of making this design stable. But you have additional costs of configuring it and you have a

[2015-03-03 16:19] kenbreeman commented on #7585
Checking /proc/mounts I found old mount points for devicemapper. If you're mounting EBS or local storage while docker is running and docker isn't able to restart cleanly, then old mounts get stuck. Rebooting fixed the issue on instances where this happened.

Shutting down docker before mounting EBS or local storage prevented this from happening entirely.

[2015-03-03 16:23] defunctzombie commented on #9027
I believe this happens if the system runs out of memory and the OOM killer comes around to kill the process. I have not yet tested if this behavior still exists on 1.5

[2015-03-03 16:33] kscherer commented on #2891
Docker 1.5 on Ubuntu 14.04 with 3.16 utopic LTS kernel.

The current stable poky release is dizzy:

    cd <buildarea>
    mkdir downloads
    chmod 777 downloads
    git clone --branch dizzy git://git.yoctoproject.org/poky
    source poky/oe-init-build-env mybuild
    ln -s ../downloads .
    bitbake -c fetchall core-image-minimal
    time bitbake core-image-minimal

There is no need to set the p

[2015-03-03 17:46] joedborg opened #11135 "Fails to start "No sockets found""
Here is the required data:
[code]

I just updated to Docker 1.5 using yum on Fedora 21 server.  Once it'd finished, I tried to restart the service, but it failed:
[code]

I have fixed this by renaming /var/lib/docker, reinstalling docker and then moving /var/lib/docker back.  See http://stackoverflow.com/questions/28407151/docker-1-4-1-fails-to-start-on-fedora-21-fata0000-eof.

Maybe a package iss

[2015-03-03 18:10] diffalot commented on #10033
here's a quick solution that helped me out when waiting for a long task to finish.

from a script that my Dockerfile RUNs, I'm using `pv` to cat a large sqldump to mysql to prepare the database, so once that step runs, I just `docker attach` to the container that's running that build step, and my progress bar appears.

[2015-03-03 18:46] neurogenesis commented on #10773
We're also seeing alerts come out of upstart's docker.log for what looks to be similar behavior. It seems like this shouldn't be an error, but more a handled exception that is logged as info or debug, with a message on inspect of "container or image doesn't exist".

[2015-03-03 18:59] ptippett commented on #10778
@jalmansor Did you see any ill effects in your containers after doing this? Getting a fix is one thing, but if we can prove there are no side effects, perhaps we can deploy 1.5.0 with this issue for now.

[2015-03-03 19:32] programmerq opened #11136 "delete oauth document still alive on docs.docker.com"
This information was intended to be taken down completely, but is still in the 1.0 doc tree: https://docs.docker.com/v1.0/reference/api/docker_io_oauth_api/

This could give the impression that it is still valid since the page itself is active, and not obviously marked as obsolete in any way.

See: https://github.com/docker/docker/pull/7193

[2015-03-03 19:41] rhvgoyal commented on #6746
I sent a pull request for fixing these here. Any feedback or testing results are appreciated.

https://github.com/docker/docker/pull/11137

[2015-03-03 19:51] ibukanov commented on #10316
@temoto If you really need an absolutely reliable and secure link between containers, I think the best option is try to use unix domain sockets bound to a path in a host volume. Too bad there is a big chunk of server software that can listen only on TCP sockets, like anything written in Java.

Also, perhaps docker would implement #10462 at one point...

[2015-03-03 20:12] vieux commented on #10922
This is really a pain

[2015-03-03 20:58] ludoch commented on #10318
Now, we are on March 3rd, and I still have my password stored in base64 text in my .dockercfg file...

WTF? In fact, my password has a character used to do a split (docker.py) which does not work at all, so that would be the second bug...

[2015-03-03 21:12] temoto commented on #10462
:+1: this would fix some of my docker configuration issues.

[2015-03-03 21:35] mbentley commented on #9592
@lancehudson - Ah yes, you're correct.  I am not sure why I didn't even think about that.

So there are three possibly solutions.  These must be done per server as there isn't anything that can be done to fix it Docker side as there isn't anything wrong:

1. Disable your apt proxy for HTTPS:

[code]
2. Configure apt to bypass the proxy just for get.docker.com (works for get.docker.io too but it is

[2015-03-03 21:44] timepieces141 opened #11139 "docker rmi could have a --deep option?"
When we pull down a select group of docker images and fire up a cluster of containers based on them, on our project we tend to refer to them by their name:tag. When we choose to dynamically clean up the pulled images, we have to do some bash magic to determine the Image ID of a given name:tag before calling `docker rmi`. But it would be really nice to be able to call `docker rmi --deep [name:tag]`

[2015-03-03 21:46] estesp commented on #11139
See #11058; not the exact same, but I noted in the comments that in a sense that "fix" is a proposal for something similar to what you are asking, although in that case it is by ID with -f that will do a "deep" rm.

[2015-03-03 21:59] ahmetalpbalkan opened #11141 "docker cp: notion of HOSTPATH"
[code]

This usage of HOSTPATH always strikes me as it's actually copying and extracting the files over where the Docker daemon host lives. (Isn't that what we usually refer to as "host"?) This sort of confuses me and there's not really a way to find out without trying out or reading more docs on docker.com.

I'd love to propose rewriting this usage string with a less confusing one. Opinions?

[2015-03-03 22:02] duglin commented on #11141
would just using "local host" work since its copying it to where your CLI is running (I think) ?

[2015-03-03 22:43] timepieces141 commented on #11139
It is a similar issue, but keep in mind the behavior I am looking for already exists, just by ID. `docker rmi [image_id]` without any flags will remove the image *and* any tagged references, and is the behavior I want. I would just like that extended to referring to the image by `name:tag`.

Maybe a better way to describe it would be: `docker rmi [image_id|name]` would remove the image *and* any t

[2015-03-03 23:21] kontrafiktion commented on #8395
@icecrime That there is no code change needed, does not entail that the issue is solved. If you look at https://github.com/docker/docker/issues/1143, you can see that there still is quite some interest in an officially supported solution. I.e. the issue could be 'fixed' by having a solution documented. To me sll these solutions sound like workarounds that may or may not work in the future.
Please

[2015-03-04 00:20] ahmetalpbalkan commented on #11141
@duglin IDK "to the machine docker cp command is running" sounds more clear to me. :question:

[2015-03-04 00:24] duglin commented on #11141
@ahmetalpbalkan either is fine with me

[2015-03-04 00:26] duglin commented on #11141
Actually, if we don't want to touch the HOSTPATH in the usage line, perhaps "to the host running the docker cp command" ?

[2015-03-04 01:02] duglin commented on #11141
want me to take it?

[2015-03-04 01:06] ahmetalpbalkan commented on #11141
No I can do it I guess. Thx.

[2015-03-04 01:06] #11141 closed

[2015-03-04 01:21] duglin commented on #10810
@marcellodesales sadly yes.  See https://github.com/docker/docker/blob/master/pkg/urlutil/git.go#L8
ok if we close this?

[2015-03-04 01:54] ldpc opened #11145 "Could Dockerfile can add a absolute path"

[2015-03-04 02:11] VynceMontgomery commented on #9678
whether or not it happens automatically, there is not currently (as far as I can tell) a way to specify "restart on reboot but not when docker crashes without a machine reboot".

[2015-03-04 02:12] duglin commented on #11145
Please reopen with a full description of the issue. If this is just a question please as on the docker mailing list: https://groups.google.com/forum/#!forum/docker-user

[2015-03-04 02:12] #11145 closed

[2015-03-04 02:49] thockin commented on #10462
Wouldn't it be easier to just abdicate all of the responsibility and let orchestrators do their own thing, and just tell docker to join a particular namespace?

[2015-03-04 02:50] thockin commented on #10462
ditto for IPC, PID, User, etc etc

[2015-03-04 02:52] icecrime commented on #8395
**Issue:** I need a reliable way to access a service running on the host from a docker container
**Answer:** http://docs.docker.com/reference/commandline/cli/#adding-entries-to-a-container-hosts-file

This is an officially supported solution that will work in the future. Sorry, I don't see what's missing there.

[2015-03-04 03:04] duglin commented on #11120
I think we can close this one now.

[2015-03-04 03:26] mikedep333 commented on #10207
It appears that interacting with Fedora 21's firewalld (such as via the firewall-config GUI) triggers this bug.

This is likely to happen if you need to open up a port for a container.

[2015-03-04 04:41] #11050 closed

[2015-03-04 04:45] thockin commented on #11090
It's not clear to me how these are really to work in an orchestrated system.  Suppose, as per your example, I get DataVolume for my database-master.  Then that node dies - how do I get my data back?

[2015-03-04 05:00] elyscape commented on #1916
I had an issue where, when running on a RHEL7 host, `su` would fail if the current user was root.  Weirdly, if the current user was something else, `su` worked fine.  Regardless, the workaround was to pass the run command the flag `--add-cap=SYS_RESOURCE`; due to this issue, however, it wasn't possible to do this during the build step.

[2015-03-04 06:16] geekpete commented on #2174
Hi Team,

This might have something to do with firewalls, specifically the NAT rules docker dynamically configures for its containers on its local/private network.

If any of you have custom firewall scripts that are flushing/deleting your iptables then replacing them with the rules you want then this might be affecting the proper operation of your docker install.
And if this happens after docker

[2015-03-04 06:17] kontrafiktion commented on #8395
@icecrime thank you!
 _that_was missing: a link to the documentation

[2015-03-04 06:33] yanana commented on #11110
+1

[2015-03-04 07:13] lemval commented on #8798
While agreeing with @fgutmann about starting a second container to get to all the data, that doesn't mean that I can modify the processes in the first container started. So @icecrime raises an interesting topic. While the USER specified runs the processes, it cannot modify certain files without elevation to root. So currently you aren't able to modify for example the proxy settings or routing in a

[2015-03-04 08:28] dl528888 opened #11153 "resize docker container disk fail!"
hi,i refer to http://jpetazzo.github.io/2014/01/29/docker-device-mapper-resize/,when i resize docker container disk,it is fail,pls help me.
My docker version is:
16:17:30 # docker version
Client version: 1.3.2
Client API version: 1.15
Go version (client): go1.3.3
Git commit (client): 39fa2fa/1.3.2
OS/Arch (client): linux/amd64
Server version: 1.3.2
Server API version: 1.15
Go version (server): go1

[2015-03-04 08:57] unclejack commented on #11072
@kashyap-parikh Please run `yum update` to update your CentOS system and reboot it afterwards.

[2015-03-04 09:32] unclejack commented on #11024
@aanm This really sounds like something you'd want to implement as part of a tool which calls `docker build` when that's needed.

[2015-03-04 09:56] sammcj commented on #7906
Very excited about this - is it confirmed for docker 1.6?

[2015-03-04 10:49] abn commented on #10377
@jfrazelle this seems to be still unresolved, see https://registry.hub.docker.com/u/cloudrouter/odl-fedora/

[2015-03-04 10:58] deevus commented on #10922
I'm getting this error trying to compile the docker client on Windows.

[2015-03-04 11:00] Chocoloper opened #11154 "Deleting <none> images won't work"
Hi! I'm using docker in a Virtualbox VM with limited space. Due to that I run all builds with --no-cache=true and --force-rm=true, but still there will be a lot of "none" images. Due to that I need to delete all images from time to time with following command:
$sudo docker rmi -f $(sudo docker images -a | grep \\\<none\\\> | awk '{print $3}')

with following STDOUT:
Error response from daemon: Con

[2015-03-04 11:00] dreamcat4 commented on #7748
+1

This seems like a very good feature. We certainly need it for s6-overlay. I recommend we should think to be adding it as a new `ADD --option` control knob, after #10775 is merged.

[2015-03-04 11:04] dreamcat4 commented on #3050
We also need a reliable caching of `ADD`'ed tarballs. Docker build is *supposed* to set `mtime` from `last-modified` HTTP header. But isn't working for us, neither from github releases URLS (redirected to s3 with a session key). Nor from local Apache webserver.

Where #7748 is as another possible solution to our caching problem. It downloads them every time, which sucks.

[2015-03-04 11:35] mensfeld commented on #1996
+1

[2015-03-04 11:52] #10807 closed

[2015-03-04 11:55] bitcraf0101 commented on #10589
+1

[2015-03-04 12:21] unclejack commented on #4717
ulimits are now implemented by #9437. I've changed the title of this issue to reflect that it's only about sysctl tunables now. I'll reopen this so we don't have to create a new issue for container level sysctl tunables.

[2015-03-04 12:31] tianon commented on #10922
@vieux did #10925 not fix this for you? :disappointed:

@deevus to compile a Windows client natively on Windows, you'll need to use something like this from a Bash shell (like the one included in msysGit):
[code]

[2015-03-04 12:46] vankhoa011 commented on #10589
It is fixed in docker 1.5 version.

[2015-03-04 12:51] duglin commented on #7748
@drewcrawford rather than counting on the URL itself, what if there was a --option that said it should just check the mtime (for files) or Last-Modified HTTP header (for remote resources)?  Or is even doing an HTTP HEAD on the URL too much?

[2015-03-04 13:31] dreamcat4 commented on #7748
@drewcrawford - I was under the impression (reading elsewhere) that docker already used the Last-Modified HTTP header to be the `mtime`. *If that's true the caching mechanism either does not work properly and / or is not sufficient for downloading tarballs from github releases (e.g. not a consistent `Last-Modified` HTTP header).*

[2015-03-04 13:32] cpuguy83 commented on #7748
@dreamcat4 It does not use the last modified header, but has been discussed before.

[2015-03-04 13:45] duglin commented on #7748
actually, its supposed to use it as the mtime - if its not then there's a bug.  I'll take a look at it.
https://github.com/docker/docker/blob/master/builder/internals.go#L278

[2015-03-04 13:47] phemmer commented on #11154
Not a solution, just a comment, but if you're limited on space, the `--no-cache=true` is the opposite of what you want, as this will cause docker to use **more** disk space.

[2015-03-04 13:54] jfrazelle commented on #10589
is anyone else in this thread using 1.5

[2015-03-04 14:01] #8258 closed

[2015-03-04 14:32] bitcraf0101 commented on #10589
Thanks for the feedback. We will update to 1.5.

[2015-03-04 14:34] jfrazelle commented on #10589
so I am going to close this, BUT if you see it still on 1.5 ping me to reopen

[2015-03-04 14:35] #11120 closed

[2015-03-04 14:36] jfrazelle commented on #11154
instead of sudo docker rmi -f $(sudo docker images -a | grep \<none\> | awk '{print $3}')

your want `sudo docker rmi -f $(sudo docker images -a | grep \<none\> | awk '{print $1}')` for the container id ;)

[2015-03-04 14:36] #11154 closed

[2015-03-04 14:36] jfrazelle commented on #11136
ping @SvenDowideit can you handle this

[2015-03-04 14:37] jfrazelle commented on #11136
also closing as dup of https://github.com/docker/docker/issues/7630

[2015-03-04 14:37] #11136 closed

[2015-03-04 14:38] jfrazelle commented on #11135
ping @vbatts if it is a fedora packaging issue

[2015-03-04 14:41] duglin commented on #7748
From my quick test it does appear to work. I see the modified time set properly:
[code]
Notice its just the mtime not the ctime tho.  @dreamcat4 do you have a small testcase that shows how it fails for you?  Also, I'm using the latest docker, which version are you on?

(note I touched the 'abc' file on soaphub.org so if you try this you'll see a newer time)

[2015-03-04 14:51] #9875 closed

[2015-03-04 14:52] thaJeztah commented on #6479
@cpuguy83 will this be solved now that https://github.com/docker/docker/pull/9437 has been merged?

[2015-03-04 14:56] cpuguy83 commented on #6479
@yoshiokatsuneo does the new ulimit options from #9437 resolve this issue for you?

Setting ulimits should prevent fork bomb, but this is specifically asking for allowing to set kmem.limit_in_bytes

[2015-03-04 15:01] ahanwadi commented on #11090
@thockin - The way this would work is docker (or any other orchestration layer) will store the reference to the volume (volumeID) and provider details in its configuration. If the volume was attached to any container(s), volumeID will also be referenced (along with details such as mount point or dev path) by the container's configuration.

All of this can be achieved if we use the same common inte

[2015-03-04 15:02] Chocoloper commented on #11154
You mixed up containers and images I think. With containers it would be right to use awk '{print $1}' to get container IDs but I want to delete images which ist row 3.
I just want no intermediary images getting saved on my disk as "--force-rm=true" should do. still their is a big list of <none> images:

$sudo docker images -a | grep \<none\>
<none>                <none>              6e2564c6035c

[2015-03-04 15:06] jfrazelle commented on #11154
so the created date is when the original image was created, so if it is based on an official image or something, that layer was probably created then pushed up to the hub

also yes sorry I mixed up the containers output, seeing as you are gettting conflict errors back you must be either running these images w containers or the images the container is running relies on these images

[2015-03-04 15:07] jfrazelle commented on #11154
also check out `docker rmi $(docker images -q --filter dangling=true)` that deletes any images that are "dangling" (are not being used by any parent image)

[2015-03-04 15:13] Chocoloper commented on #11154
1:
$sudo docker rmi $(sudo docker images -q --filter dangling=true)
deleted 12 images but not all intermediary images.

2:
Before I looked into this I deleted all containers with the following commands under root privileges:
$docker stop $(docker ps -a -q)
$docker rm $(docker ps -a -q)

I also deleted all my images today and builded new ones and got new intermediary images. It seems to me that I e

[2015-03-04 15:20] jfrazelle commented on #11154
are you using the build command with `docker build --rm --force-rm`

[2015-03-04 15:22] phemmer commented on #11154
See the `--help` output:

    --force-rm=false     Always remove intermediate containers, even after unsuccessful builds

Note that it removes intermediate *containers*, not intermediate *images*.

[2015-03-04 15:27] Chocoloper commented on #11154
Ah thanks so I mixed up too? and no-cache will in fact create bigger images too?

[2015-03-04 15:28] Chocoloper commented on #11154
@jfrazelle tried with both switches and just with --force-rm=true and saw no change.

[2015-03-04 15:31] zepouet opened #11157 "Proposal: New instruction ONCOMMIT"
The ONCOMMIT instruction adds to the image a trigger instruction to be executed later on, when the container is commited. It can then be used as the base image in a new Dockerfile. The trigger will be executed as if inserted immediately before the commit instruction, in the command line executable or api call.

Any command can be registered as a trigger for ONCOMMIT.
This ONCOMMIT instruction is u

[2015-03-04 15:32] #11157 closed

[2015-03-04 15:47] zepouet opened #11158 "Proposal: New instruction ONCOMMIT for dockerfile"
## USE CASE
The `ONCOMMIT` instruction adds to the image a trigger instruction to be executed later on, when the container is commited. The trigger will be executed as if inserted immediately before the commit instruction, in the command line executable or api call.

Any command can be registered as a trigger for `ONCOMMIT`.

This `ONCOMMIT` instruction is useful to clean up, before commiting a co

[2015-03-04 15:52] LaynePeng commented on #11090
Hi, @hoskeri I am very interested in your proposal, is there any work have started, or perhaps we can discuss, even work together.

[2015-03-04 16:22] simonthum commented on #10169
@orzel  I also still have the problem with 1.5.1, but as @LK4D4 said you should make a new bug, perhaps as this one is associated with the grace fix to hash failure. I am on a self-compiled kernel, nothing special but it could be me so I didn't open a new one yet.

[2015-03-04 16:22] thockin commented on #11090
@ahanwadi I'm a concrete sort of guy - can we bring this down to examples of possible implementation strategies?  Where does a user who is running a container ask for "I want 10 GB of HA read-write block storage with at least 500 IOPs"?

Now, once that container is running imagine the machine hosting it dies.  How does a user ask for "I want THE SAME storage I was using before" ?

[2015-03-04 16:26] cpuguy83 commented on #11090
@ahanwadi So my thoughts here are this:

A volume is necessarily a filesystem that is either actually part of the host's fs, or has been mounted as an fs to the host.
I say necessarily here because this is what will end up in the container anyway, and for Docker to handle provisioning block devices, snapshotting/cloning data, etc. seems a bit out of scope.
It is mounted to the host (and not direct

[2015-03-04 16:51] cpuguy83 commented on #7748
Oh nice... you are right. I guess the other discussions around last-modified were to use it before attempting to actually download the file.

[2015-03-04 16:52] duglin commented on #7748
yup - and if we add support for --options then we can give people the choice.

[2015-03-04 16:56] mohamedhaleem commented on #9315
have not seen this issue with the following version

Client version: 1.4.1
Client API version: 1.16
Go version (client): go1.3.3
Git commit (client): 5bc2ff8/1.4.1
OS/Arch (client): linux/amd64
Server version: 1.4.1
Server API version: 1.16
Go version (server): go1.3.3
Git commit (server): 5bc2ff8/1.4.1

[2015-03-04 17:19] duglin commented on #7748
Added a testcase to make sure we don't regress:  https://github.com/docker/docker/pull/11159

[2015-03-04 17:20] dustinlacewell commented on #9379
I'm not sure if this is related but I'm getting similar behavior on 1.5 My application attempts to kill the container before removing it. Everytime the kill fails in this manner, the API also subsequently refuses to delete the container leaving dangling containers. It seems like the container process has exited, but the container has yet to be considered 'stopped' so both the kill and subsequent r

[2015-03-04 17:42] duglin commented on #11047
FWIW, I agree with +x'ing everything.  Not ideal but really the only choice we have.  Making people explicitly do a "chmod +x" themselves will almost guarantee people avoid the Windows CLI, which would be bad.

[2015-03-04 17:43] udomsak commented on #8244
@jfrazelle  The problem still even Docker version 1.5 and way to fix is remove pam_loginuid
otherwise  you cant' login via SSH key

[2015-03-04 18:02] duglin commented on #8148
@omeid I'm going to close this because I think https://github.com/docker/docker/pull/10591 will cover it.  Please reopen it if you think I'm missing something.

[2015-03-04 18:02] #8148 closed

[2015-03-04 18:13] thaJeztah commented on #11024
@aanm given the discussion above, do you think this issue can be closed?

[2015-03-04 18:21] ahmetalpbalkan commented on #11047
@duglin thanks for your input on the proposal. Check out #11148 for the code.

[2015-03-04 18:23] thaJeztah commented on #10377
@abn Docker Hub is not open source and not maintained here on GitHub, that's why this issue was closed. You can report this issue via support@docker.com to open a ticket.

[2015-03-04 18:27] moxiegirl opened #11160 "Explain downloaded image and container sizes in User Guide"
From a user via docs feedback.

"How much disk space containers will take up. The registry doesn't appear to
have any indication and AFAICT one would need to visit several places to
get an estimate. Maybe I have missed some crucial point? I understand
how containers could be "lightweight" if a one was intended to be hosted
on the same OS/version I have on my desktop but if not then potentially
I'm

[2015-03-04 18:42] #10532 closed

[2015-03-04 18:44] LK4D4 commented on #9379
@dustinlacewell Could you provide example of containers which you run? Thanks!

[2015-03-04 18:46] dustinlacewell commented on #9379
I'm not exactly sure what you're asking. We run containers running a python process.

[2015-03-04 18:48] jfrazelle commented on #8244
I reopened can you please give exact steps to reproduce

[2015-03-04 18:48] LK4D4 commented on #9379
@dustinlacewell With what flags and if this is simple app or have some "fork" magic? I would be happy to help if we'd have exact reproduction case.

[2015-03-04 18:51] thaJeztah commented on #11160
Predicting the size will probably depend on changes in Docker Hub, and can only be requested via support@docker.com (also see https://github.com/docker/docker/issues/7919).

Perhaps the docker client can query in advance which layers must be downloaded for an image and display the size, but then it should also first check if (some of) those layers are allready present locally.

In addition, pullin

[2015-03-04 18:53] dreamcat4 commented on #7748
*Great guys. I'm glad you are also expressing an interest in this aspect of the `ADD` command. @duglin As requested, here is a simple test case that should reproduce my issue. My local installation was `lxc-docker-1.5.0` on `ubuntu-14.10`.*

Just put this in a Dockerfile, then build twice over, 3x times etc.:

[code]

What you aught to see is that this same tarball from the above ^^ **"github rele

[2015-03-04 18:53] powellquiring commented on #9015
The docker images listing produces:

localhost/library/nginx 1.7 2485b0f89951

I believe the 2485b0f89951 is the first few characters of the "immutable index" is that right?  I have a requirement to produce a list of tags and immutable indexes given the name of an image.  Is it possible to use the API to get the list of tags and associated immutable indexes?  Should the immutable index be part of

[2015-03-04 18:54] moxiegirl commented on #11160
Good points all.  I think this ticket may split into docs and functionality ticket.  I'm waiting to see if the user that asked about this comments on the issue.

[2015-03-04 19:15] duglin commented on #7748
@dreamcat4 ok, that's different.  :-)   If I'm following, the issue isn't that its not using the cache, its that its still doing the download.  That's known and working as designed.  If we can get the --option stuff added then we can add a flag to tell Docker that its ok to just check the mtime/last-modified value and skip the download.

[2015-03-04 19:23] duglin commented on #7748
See:  https://github.com/docker/docker/issues/3672

[2015-03-04 19:24] probepark commented on #6396
:+1:

[2015-03-04 19:58] ghost opened #11161 "Client sends wrong authorization header in search request"
# Context

I am using a private Docker registry together with an authentication proxy. That one has been set up by following the [nginx sample configuration](https://github.com/docker/docker-registry/blob/master/contrib/nginx/nginx_1-3-9.conf). The setup works fine so far.
# Problem Description

Now I issue a _docker search_ command after logging in. But the client does not set the HTTP header of

[2015-03-04 20:18] jeremyeder commented on #10176
For future googlers, the patch referenced above is already in RHEL7.1, but I should say that I think this rather has to do with ULONG vs ULLONG...we're looking into it a bit more.

[2015-03-04 21:08] PositiveAlex commented on #6980
I solved this problem deciding not to use `update` for all packages in the system. But if a package you definitely want to install is failing with aufs, ya, that's trouble. But in most cases, one docker is for one app, so you shouldn't update all system.

[2015-03-04 21:29] hoskeri commented on #11090
@LaynePeng We are playing with some code to get an implementation going. One of the other goals of this issue is document the requirements a storage system has from a container orchestrator/implementor, and also to get some feedback on what the docker folks feel the interaction should look like.

[2015-03-04 21:31] richardcrichardc commented on #10592
I have noticed this problem when working on #11104 and have spent some time investigating the cause and have a fairly good idea what needs to be changed to fix this. If no one else is working on this I would be happy to work up a fix.

FQINs are also not exported for the lower exported layers. I take it this should also be improved.

[2015-03-04 21:41] duglin commented on #10867
Would it make sense to just support wildcards and then "*" would get 'em all ?

[2015-03-04 21:54] duglin commented on #2105
FYI https://github.com/docker/docker/pull/10431 will fix this for any Dockerfile cmd that allows env vars in them.  So "$foo" will have the quotes removed and $foo replaced, while '$foo" will remove the quotes but use $foo as-is.

[2015-03-04 21:55] duglin commented on #2105
[code]
shows / and then /$foo as the 'pwd'

[2015-03-04 21:59] jmreicha commented on #10765
@jfrazelle I sent an email to the above email address over a week ago and haven't received a response yet :(

[2015-03-04 22:16] thaJeztah commented on #11110
Yes, I think this is needed (think this came up, but I never got round to create an issue for it),

Couple of things that come in mind;
- Advantages/disadvantages of each driver
- Performance
- Stability
- Level of "support" in Docker (grades?)
- Known issues
- Requirements
- Incompatibility with underlying file systems

Some of the above bullets will be dependent on the *use case* (e.g. productio

[2015-03-04 22:31] duglin commented on #4783
@tiborvass I know that we explicitly don't do env var substitutions for CMD and ENTRYPOINT, with the assumption that the shell will do it, but I'm wondering if we should do it *just* when the JSON format is used?  It won't be as full featured as the real shell (even with https://github.com/docker/docker/pull/11149 ) but it'll be better than what do today.  Thoughts?

[2015-03-04 22:39] andytruong opened #11164 "[hub.docker.com] Infinitive loop"
I got this error when access to https://hub.docker.com/repos/andytruong/

![](https://s3.amazonaws.com/f.cl.ly/items/2N1q291P3z0M2E1q0J1d/Screen%20Recording%202015-03-05%20at%2005.38%20AM.gif)

Thanks

[2015-03-04 22:42] duglin commented on #11164
do you allow cookies?  dunno if it matters but it might.

[2015-03-04 22:45] thaJeztah commented on #11164
@andytruong issues with the Docker Hub are not handled via this issue tracker, but can be reported via support@docker.com. Could you open a ticket there?

Thanks for taking the time to report this!

[2015-03-04 22:55] #11164 closed

[2015-03-04 23:08] shishir-a412ed commented on #10592
@richardcrichardc I have not started working on this, if you want to give it a shot, you are more than welcome !

[2015-03-04 23:12] matfra commented on #1996
I'm generating a random number in the Dockerfile and it gets cached...
+1 for a NOCACHERUN instruction

[2015-03-04 23:35] orzel commented on #10169
@simonthum yes, you probably right.

[2015-03-04 23:56] davecuthbert opened #11165 "Answer checking looks at the wrong line in tutorial step 1"
The script that parses the command response matches the string 'tutorial' in the search summary line rather than searching for a matching entry in the containers line.

The result is that a 'not found' message triggers the correct response popup from the tutorial even though the search failed (See screen shot)
![image](https://cloud.githubusercontent.com/assets/1139436/6496250/8438f122-c286-11e4-8

[2015-03-05 00:57] moxiegirl opened #11166 "Test issue: Please Ignore"
This is a test issue for the contributor work I'm doing. Igore for now. I'll be deleting it.

[2015-03-05 00:59] moxiegirl commented on #11166
I'll work on this.

[2015-03-05 01:12] Jooho commented on #7288
@jfrazelle @ashahab-altiscale  Oh sorry for late response.
It is working now and found the lxc.utsname is more priority if I use -h together.

Many Thanks!
By the way, I am a big fan of @jfrazelle ~! ^^

[2015-03-05 02:05] moxiegirl commented on #11166
Closing.

[2015-03-05 02:05] #11166 closed

[2015-03-05 02:16] stevvooe commented on #9015
@jfrazelle Should we close this as accepted? The api spec lives in distribution now: https://github.com/docker/distribution/blob/master/doc/spec/api.md. Should we backport this into the docker core docs?

[2015-03-05 02:19] abn commented on #10377
@thaJeztah done! Thanks.

[2015-03-05 02:45] LaynePeng commented on #11090
@hoskeri thanks for your quickly reply. Is there any codes we can acces currently? You know, I like this proposal, but just one suggestion: Docker core is tend to become focus and lean, is it more reasonable to consider this as "add addition facility to a container", then put this enhancement to the docker/compose project? Then in docker core project, we can remain use "-v" to mount the fs or bloc

[2015-03-05 03:50] hacfi opened #11167 "Docker 1.5.0 deb package installation fails sometimes"
Installing docker on Travis CI I noticed that the debian package for version 1.5.0 is often failing. If you have a look at https://travis-ci.org/stage1/docker-php/builds you can see that the tests started failing often after build 299. There were some other issues with the Travis configuration but in many cases the Travis log ends with:

[code]

If you have a look at https://travis-ci.org/stage1/d

[2015-03-05 03:52] hacfi commented on #11167
Just noticed I’m not the only one having this issue: https://github.com/moul/travis-docker/issues/4

[2015-03-05 04:04] tiborvass commented on #11167
@hacfi thanks for the report! I'm not sure what the error is. How could we have more information on the actual error?

Ping @tianon

[2015-03-05 04:29] hacfi commented on #11167
@tiborvass I only got those logs at the moment. I’m not very familiar with deb packages. How can I install them in debug mode or how can I provide more information?

[2015-03-05 04:41] hacfi commented on #11167
#9287 could be related

[2015-03-05 04:42] #10892 closed

[2015-03-05 05:04] shi154462671 commented on #9856
@jfrazelle,I'm sorry,And Could you please cancel the two label on my response below? It's my mistake,the CentOS's version I use in that comment is 6.5,and the 6.6 is OK for this issue.

[2015-03-05 05:06] shi154462671 commented on #10342
<h3>TODAY I ENCOUNTER THIS PROBLEM AGAIN

After I change  port forwarding network mode to bridge mode,**IMAGES LOST AGAIN**

I feel not so good to see the output below again.

As you can see the *docker ps* has some output:

<pre>
# docker ps -a
CONTAINER ID        IMAGE               COMMAND             CREATED             STATUS                      PORTS               NAMES
df7b90f3ebfe

[2015-03-05 05:40] mandoonandy commented on #9592
Or even better. Follow the notes in the apt-cacher-ng config file that show how SSL can be passed through.

In your apt-cacher-ng config file (acng.conf) add the following line:

`PassThroughPattern: get\.docker\.com`

[2015-03-05 06:19] cthakar opened #11169 "docker networking changes default mtu value"
I want to change MTU(Maximum Transmission Unit) inside docker which is running on ubuntu 14.04. also docker container running with ubuntu 14.04. The problem is that its docker0 interface on host os can change the MTU value from 1500 to 9000 but its doesn't gives affects inside docker os. means inside docker it is running with a older value i.e 1500.
And when I restart the docker services on host m

[2015-03-05 06:36] mbentley commented on #9592
Well huh...  I could have sworn that I had tried that previously without any luck but here I am with that working perfectly.  I think I attempted to use the patterns I found here unsuccessfully:  https://github.com/saltstack-formulas/docker-formula/issues/6 but for whatever reason didn't just try `get\.docker\.com` apparently.  No matter, thanks much for what I would call a real solution @mandoona

[2015-03-05 07:21] udomsak commented on #8244
@jfrazelle  Ok you can test by ssh with Public-key access

- I try to fix with pam_loginuid.so PAM session still not work getlogin() can't get properly value  for /proc/self/loginuid

- Also  check version or upgrade Ubuntu and relate package version for avoiding problem of PAM and  Openssh but still not work.

- Normal PC and Full-VM ( Virtualbox ) i work fine. so that i think problem may come fr

[2015-03-05 07:43] x1022as opened #11170 "Proposal: add log hook to docker daemon log"
Sometimes, we need to notify adminitrator about docker's running errors, thus they can perform proper reaction to the problem.

I think logrus's hook feature is a good solution. Logrus now supports  airbrake, papertrial, sentry and syslog. And it's easy to add hook to logrus. However, to complete this, maybe we need some more docker daemon parameters like "--log-hook="***" ...", to achieve a flexi

[2015-03-05 08:52] amasad commented on #9139
I start/have large number of containers that I talk to via stdin/stdout and it seems like I may be hitting this bug. Is there any fix in the works for this? Or should I just rewrite the protocol to talk over sockets?

[2015-03-05 09:59] fxposter commented on #9605
After 8 days of trying to catch this bug (any docker command just hangs and doesn't respond with anything) - I've now have a non-working docker again. It is running as init service, so it's daemonized and unfortunately I don't get any info to /var/log/docker.log when I do `kill -QUIT docker-pid`.

[2015-03-05 10:06] fxposter commented on #9605
Though, there are some interesting logs in /var/log/kern.log:

[code]

And then the last line repeats until now, no more "blocked tasks".

[2015-03-05 10:14] alexlarsson commented on #9874
What backing filesystem was this done on? Some filesystems don't fully support overlayfs. It should work on ext4 though.

[2015-03-05 10:23] coolljt0725 commented on #9874
seems xfs don't fully support overlayfs, we meet some problem when we use overlayfs on xfs

[2015-03-05 10:36] unclejack commented on #9874
@alexlarsson This is what I was seeing with ext4 as the backing file system: https://gist.github.com/unclejack/26ec6fc2cf3453bb1a2f
The good output is from vfs and the bad one is from overlay.

[2015-03-05 11:39] PositiveAlex opened #11171 "Oracle Linux 6.6 on Ubuntu: Segmentation fault"
Hey, once again.

I was faced with a problem when I'm running my server written in C++, compiled for RHEL6, on docker oraclelinux:6.6 while the host system is ubuntu.

gdb shows this information:

Program terminated with signal 11, Segmentation fault.
#0  0x00007f26f5c862b9 in __memset_sse2 () from /lib64/libc.so.6

On the other hand, when I start my program on a real rhel6 OS, it works as usual,

[2015-03-05 12:00] nomeata commented on #9665
I’m also observing this, docker 1.4.1 on Linux 3.16.0-0.bpo.4-amd64.

[2015-03-05 12:02] gldamao commented on #5989
+1
That would be very useful.

[2015-03-05 12:55] aknauf commented on #6805
+1 for separating image name from registry location.

As an application developer, who works for a large internet company, my ability to adopt docker is limited by the fact that image names and registry locations are tightly coupled.  While I can easily setup an internal docker image repository on development infrastructure, any eventual production deployment of such images would need to be on a m

[2015-03-05 13:47] nomeata commented on #9665
And some numbers: Of 1820 created short-living containers, 240 caused this error.

This is particularly annoying as `docker run` will print this error message on `stderr`, confusing tools that use the output of that to determine whether the actual job was successful.

[2015-03-05 13:47] fxposter commented on #9605
By sending SIGABRT to the docker process, I've actually managed to get a dump to /var/log/docker.log:
[code]

The problem is that docker daemon is still running (as a zombie) and I have no idea what is happening here...
[code]

[2015-03-05 13:50] nomeata commented on #3968
Also see #9665, which seems to be related.

[2015-03-05 13:51] duglin commented on #5169
PR: https://github.com/docker/docker/pull/11172

[2015-03-05 14:02] nomeata commented on #9665
Upgraded to 1.5.0, same problem.

[2015-03-05 14:17] duglin commented on #9731
I'm not keen on adding a new option to the `docker build` command-line just to override the `FROM` because at what point do we draw the line between build options to override what's in the Dockerfile vs just telling people to create a new Dockerfile.

@frank-dspeed 's suggestion of generating the Dockerfile on-the-fly is good one.

Another option is to have more than one Dockerfile and use the `-f

[2015-03-05 14:26] cpuguy83 commented on #9605
@fxposter What version of Docker are you on? Currently there is no line number 1634 in api/server/server.go

Also, might be really helpful for these super long pastes to put them into a gist instead.

[2015-03-05 14:31] Ovski4 commented on #6743
+1

[2015-03-05 14:32] fxposter commented on #9605
@cpuguy83 1.5.0

[2015-03-05 14:34] phemmer commented on #11171
I doubt this is docker related, or even an issue with using ubuntu as the host system.
I see 2 likely causes:

1. Your application is compiled for a different version of RHEL/OracleLinux (6.6 vs 6.3, etc).
2. Your application is compiled with optimizations for a different CPU. (gcc flag `-march`). Or with optimizations that make it unstable (`-O`).

I would try compiling it inside a container, usi

[2015-03-05 14:46] fxposter commented on #9605
Having known nothing about docker internals and how to debug go code I think that the most interesting parts of the dump are:
goroutine 308297 [syscall, 4433 minutes]
and
goroutine 515477 [select]

The second one is waiting for the first to close the channel, but the first one is waiting on exec.Command#Wait() for something related to namespaces to finish... That's all I can tell for now.

[2015-03-05 14:57] lanzz commented on #9731
Using environment variables to fine-tune the Dockerfile behavior sounds like a much better approach than a `FROM`-specific command-line option, yes.

[2015-03-05 15:00] duglin commented on #735
@tiborvass @jfrazelle @crosbymichael
I'd like to hear your take on this as the topic of an INCLUDE does pop up from time to time.

Personally, I don't see an issue with it since adding it doesn't break any design principle of Docker and if it makes people's lives better (or at least if they think it does :-)  ) then I'm ok with it. I don't really see it being much different than an "include" state

[2015-03-05 15:02] estesp commented on #9605
Interestingly, it doesn't appear necessarily to be a Go lock that seems to be the root issue here, but rather a kernel mutex related to namespace creation: is is being required in `copy_net_ns` below, but some other (thread/process?) is holding it?  Of course, given that the libcontainer caller is probably holding a lock on the Go-lang side, your daemon is locked up as well waiting on this call to

[2015-03-05 15:07] phemmer commented on #9922
I don't think this (or any of the issues that were closed as a duplicate of this) are a dup of #11016.
This, and all the issues closed as a duplicate of it are about auth not workking. #11016 is about displaying a proper error, not that private registry auth doesn't work.

In fact the author of #11016 went and created another issue, #11161, which seems like a real dup of this one.

[2015-03-05 15:12] duglin commented on #3556
FYI there are other issues out there asking for ways to tell Docker to include (or to exclusively use) the mtime (e.g. https://github.com/docker/docker/issues/4351 ) keep an eye on those....

[2015-03-05 15:13] TZer0 opened #11174 "Dockerfile - ADD url and ADD local_file behaves differently for archives"
Description of problem:
When using ADD in a Dockerfile to fetch an url, archive extracting is not performed.

`docker version`:

[code]

`docker info`:

[code]

`uname -a`:

[code]

Environment details (AWS, VirtualBox, physical, etc.):
Physical (and probably irrelevant).

How reproducible:
Happens every time.

Steps to Reproduce:
Make a folder with the following:
Dockerfile:
[code]
script.sh:
[co

[2015-03-05 15:19] cpuguy83 commented on #11174
Closing since this is expected behavior and is documented here: https://docs.docker.com/reference/builder/#add

[2015-03-05 15:19] #11174 closed

[2015-03-05 15:20] duglin commented on #11174
See: https://docs.docker.com/reference/builder/#add
and in particular where it says "Resources from remote URLs are not decompressed."

I can't explain why this is but sadly changing it would break backwards compatibility.
Once we have https://github.com/docker/docker/pull/10775 we can look at adding options to control stuff like this.

[2015-03-05 15:26] duglin commented on #10805
@tiborvass @vieux thoughts? Seems fairly straight-forward.
Could be either `[HOSTPATH]` becomes optional or make it explicit via `-` like tar.

[2015-03-05 15:29] witlessbird opened #11176 "POST "images/create" can silently fail under certain circumstances"
If using a misconfigured external registry, it is possible for POST "/images/create" to fail, but returned http status will be 2xx.

This can happen when TagStore.pullRepository unexpectedly fails on Session.GetRepositoryData call here: https://github.com/docker/docker/blob/master/graph/pull.go#L112.

line at https://github.com/docker/docker/blob/master/api/server/server.go#L594 evaluates to false

[2015-03-05 15:32] cpuguy83 commented on #10805
+1 for - really easy to implement.

[2015-03-05 15:33] duglin commented on #10805
ok - one +1 is enough for me....  :-)

[2015-03-05 15:37] unclejack commented on #9139
@amasad #10347 has been proposed as a fix to this problem. Before that gets merged, you might want to come up with a workaround.

[2015-03-05 15:50] cpuguy83 commented on #11176
@witlessbird You seem to have a handle on this, care to make a PR?

[2015-03-05 15:57] cpuguy83 commented on #11170
Why not capture the logs (since docker just sends them to stdout anyway) and forward to whatever service you like?

[2015-03-05 16:12] PositiveAlex commented on #11171
@phemmer,
also I tried to run it on 6.2 redhat, but the same problem as on 6.6. official build is for 6.5, but devs insured me that it should be working on 6.6 too, well, reality is a bit different.

Thank you, I will try to build it inside and/or ask for actual build options.

[2015-03-05 16:12] xiaods commented on #11093
don't need this proxy, use docker mirror can resolve it.  more details describe see here: https://github.com/docker/docker/blob/master/docs/sources/articles/registry_mirror.md

[2015-03-05 16:14] witlessbird commented on #11176
@cpuguy83: Sure, I'll give it a shot. Any reason for the logic inside https://github.com/docker/docker/blob/master/api/server/server.go#L593? As in why not return an error if stdout is dirty?

[2015-03-05 16:21] cpuguy83 commented on #11176
Not sure, looks like it goes back a long way.

[2015-03-05 16:29] tianon commented on #9939
@rgbkrk https://github.com/docker/docker/blob/620339f166984540f15aadef2348646eee9a5b42/contrib/nuke-graph-directory.sh :wink:

[2015-03-05 16:32] fxposter commented on #9605
https://github.com/torvalds/linux/commit/bcccff93af359533683603255124fc19eb12613d - it's the only commit that mentions net_mutex for the last 5 years... And 3.13 doesn't contain it. :(

[2015-03-05 16:36] cpuguy83 commented on #11171
Host shouldn't matter unless there's some weird kernel issue.
I would expect that the OL image is missing a required dep, different versions of libc, or something.

[2015-03-05 16:36] tianon commented on #4783
Please don't apply any processing to the JSON versions -- the whole point
of them is that it gives you, as the Dockerfile author, explicit control
over exactly what's passed to "execv".

[2015-03-05 16:38] witlessbird commented on #11176
k, cheers. I'll take a look around.

[2015-03-05 16:47] fxposter commented on #9605
Also, from what I can see, 14.04.2 is going to have 3.16 kernel by default (https://wiki.ubuntu.com/TrustyTahr/ReleaseNotes)

[2015-03-05 16:49] stefwalter commented on #7087
I've seen this issue on Fedora 21 with docker-io-1.5.0-1.fc21.x86_64

It doesn't seem to be Debian or Ubuntu specific. And yes:

[code]

[2015-03-05 16:50] duglin commented on #10805
PR: https://github.com/docker/docker/pull/11177

[2015-03-05 16:56] stefwalter commented on #7087
The status of the docker service seems to show that it just died somewhere without leaving a coherent message:

[code]

[2015-03-05 17:01] akram opened #11178 "Corrupted images due to disk full cannot be deleted with fatal error"
it seems that am some point, I got a full disk and this probably corrupted one of my downloaded images.
if if do
[code]

If I have a look at my imagesm here is what I have:
[code]

and If I try to delete the image , I got an error:

[code]

does an integrety check exists for images ?
can I force the re-pull of an image? such an option does not seem to exists

[2015-03-05 17:47] LK4D4 commented on #9139
@amasad That would be cool if you'd try #10347 in your environment.

[2015-03-05 18:55] jeremyeder commented on #4717
Use case:  containerized java app or database performs better when using hugepages.  As of now we have 2 options:

* Allocate hugepages in the host, then launch a container with the app, and the app can correctly use hugepages.
* Use a privileged container to allocate hugepages, and then
 * Reuse that same privileged container to run the app, with all it's security implications...or, preferred:
 *

[2015-03-05 19:00] nmarasoiu commented on #8795
Hi, we would also need to know when this issue makes progress, what the impediments to fix this bug? Can we help in any way with details? We run Consul and at some point (I guess after some restarts), the nodes start "suspecting each other" (per gossip protocol); the nodes can receive the udp that they are being suspected and they try to reply with hey i am alive, but the reply never reaches desti

[2015-03-05 19:14] aanm commented on #11024
Yep, thanks for the feedback

[2015-03-05 19:14] #11024 closed

[2015-03-05 19:14] rhatdan commented on #4717
@unclejack Is this something you plan on implementing?

docker run --sysctl vm.nr_hugepages=10 ...

[2015-03-05 19:31] alexisvincent opened #11180 "Warning: Mounting volumes containing files downloaded with Safari in OS X"
I encountered an obscure error a few days ago and I felt compelled to publish it where it might help some people.

Here is the story.

For a while I've been facing permissions errors from within containers trying to access certain files and I couldn't work out why this was happening. It only affected files when mounting them to the container, not when added to the container. Further more, when exe

[2015-03-05 19:36] a-robinson opened #11181 "`sudo service docker restart` often fails on debian wheezy due to long termination time"
I've encountered this on Google Compute Engine using the backports-debian-7-wheezy-v20150226 VM image, and have verified that it breaks both with both of the following versions of Docker:
`Docker version 1.4.1, build 5bc2ff8`
`Docker version 1.5.0, build a8a31ef`

The gist of the problem is that if I have a few containers running, docker is slow to terminate. Because of this, using `sudo service d

[2015-03-05 19:37] thaJeztah commented on #11180
Nice find! And thanks for looking into the cause!

[2015-03-05 20:05] TZer0 commented on #11174
Whoops, managed to miss that. Sorry about that.

I'm not sure if the current solution is optimal in any case. What if I want to add a specific tar to my docker image but not extract it?

[2015-03-05 20:08] duglin commented on #11174
Try COPY for local files instead of ADD

[2015-03-05 20:18] #5169 closed

[2015-03-05 20:25] cpuguy83 commented on #11180
I think this is worth a docs mention.

[2015-03-05 20:32] tonistiigi commented on #11008
ping @jfrazelle

Any comment about the config change? I don't really have a preference myself. Maybe `Desired` or `DesiredState` can give a wrong impression that this is something more than a restart policy(or wrong impression when you pause a container for example). bcd6a2f uses `SkipBoot` but I'd be happy to change it and turn it into a PR then.

[2015-03-05 20:33] tonistiigi commented on #11065
/cc @crosbymichael

[2015-03-05 20:42] flmader commented on #10922
I am having problems compiling on Windows too. I tried to run ./project/make.sh project/make/dynbinary from Git Bash but it crashes too. After setting gopath correctly using export instead of set, make.sh crashes while creating a symbolic link:
ln: creating symbolic link `.gopath/src/github.com/docker/docker' to `../../../..': Permission denied

[2015-03-05 20:49] unclejack commented on #4717
@rhatdan If it gets the required design approval, I'd be OK with implementing this. Just to make this clear, the design approval is only about the name of the flag and the other implementation details. This feature is really needed and there's no doubt it has to be implemented.

[2015-03-05 20:50] vieux commented on #10922
@tianon do it didn't I still have issue if I want to vendor docker.

[2015-03-05 20:53] thaJeztah commented on #11180
@cpuguy83 agreed. Wondering if this should be in the Docker or Boot2Docker docs. I'll have to test if this also affects docker directly (when the *build context* contains downloaded files), or only when accessing the files via VBox shared volumes.

@alexisvincent in your setup, does this only affect files that are used in a volume? Or also if they are *added* to an image (ie `COPY some-downloaded-

[2015-03-05 21:02] moxiegirl opened #11182 "Fedora instructions has incorrect package name"
### User Email thru feedback states problem

Florian via docker.com
10:15 AM (2 hours ago)

to feedback
Dear all,

First of all, Thank you for the installation instructions for docker on a Fedora system given here: https://docs.docker.com/installation/fedora/).

I think, that there is a little mistake in the instructions for Fedora 21: The package from the official Fedora21 repository is still cal

[2015-03-05 21:03] alexisvincent commented on #11180
Only if they are mounted through VBox... Here are a few considerations:
- DockerMachine is probably the better place to send this.
- User will probably use docker or compose to mount, so if a message should be displayed it should be in those tools not docker-machine.
- I'm not sure how the other drivers respond to this (VMWare Fusion for instance...)

[2015-03-05 21:06] #10970 closed

[2015-03-05 21:13] flmader commented on #10922
I managed to build on Windows following @tianon 's advice.
Open Git Bash As Administrator
cd /c/gopath/src/github.com/docker/docker
export GOPATH=C:/gopath,C:/gopath/src/github.com/docker/docker/vendor
project/make.sh dynbinary

Then I switched back to the Windows Command Prompt and ran
set GOPATH=c:\gopath;c:\gopath\src\github.com\docker\docker\vendor
set DOCKER_CLIENTONLY=1
go build -v

[2015-03-05 21:14] thaJeztah commented on #11180
Thanks for adding that information! Tough one, I *think* it's more useful in Boot2Docker than machine (machine also is used with other drivers), but yeah, a mention in machine docs could be useful

@SvenDowideit wdyt? Also, do you know if Fusion shows the same problem?

[2015-03-05 21:28] thaJeztah commented on #11182
I think @lsm5 should be able to verify if this is correct :)

[2015-03-05 21:38] alexisvincent commented on #11180
Awesome. My guess is that it will. I can test it actually...
May take some time

[2015-03-05 22:16] darrengruber commented on #7797
@jfrazelle - I have this happening too
[code]
[code]
[code]
[code]
I've tried disabling the app armor profile but then docker complains about not finding the apparmor profile.

[2015-03-05 22:36] orzel opened #11184 "docker pull fails on overlay storage, hard to reproduce"
I got several systems, whose common configuration is
* kernel 3.18.8
* go 1.4.x
* docker 1.5.0
* os : gentoo/amd64
* overlay storage over ext4 filesystem on a dedicated partition (/var/lib/docker)

On some of them, it works just great. On two of them, it fails with the same error :

orzel@verdi /home/orzel% docker pull ubuntu
511136ea3c5a: Pull complete
511136ea3c5a: Download complete
fa4fd76b09ce

[2015-03-05 22:50] thaJeztah commented on #2786
Close as "stale"? It's very old now and there's no new information if this is still an issue. Also, this can be an issue with Ruby Gem, not Docker,

[2015-03-05 23:01] thaJeztah commented on #9766
ping @bitliner, have you been able to test yet?

[2015-03-05 23:07] thaJeztah commented on #10701
@MalteJ @estesp I think this issue can be closed now that https://github.com/docker/docker/issues/10751 is merged (GitHub didn't close it automatically for some reason)

[2015-03-05 23:12] thaJeztah commented on #10744
@cpuguy83 I think this issue can be closed because we cannot reproduce?

[2015-03-05 23:14] Jaykah opened #11185 "Docker eats up 100% RAM when exposing a big range of ports"
I have a dockerized SIP application that requires a large number ports for RTP. Since it recently became possible to expose a port range, I decided to move away from --net=host scenario to using those ranges (-p 30000-40000:30000-40000/udp)

However, when a range is large enough, docker eats up all RAM and fails:

[code]

It would seem logical to combine those ranges when applied to iptables into

[2015-03-05 23:15] estesp commented on #10701
Thanks, absolutely.  @thomasschaeferm let me know if you have any additional feedback on IPv6 documentation, but I believe all current comments are handled.

[2015-03-05 23:15] #10701 closed

[2015-03-05 23:16] thaJeztah commented on #10822
@estesp is there anything actionable here? Is this something that should be solved, or is it something that should be *documented*?

[2015-03-05 23:28] thaJeztah commented on #10879
@smousa have you found a way to reproduce this? Also could you add the output of `docker version`, `docker info` and `uname -a`. Also, perhaps you can try if this problem is still present in the current version of Docker (1.5.0)

[2015-03-05 23:42] thaJeztah commented on #11185
@brahmaroutu perhaps you have thoughts on this issue, since you implemented this in https://github.com/docker/docker/pull/9097

Also, (possibly) similar, but for `EXPOSE`; https://github.com/docker/docker/issues/9021

[2015-03-05 23:53] brahmaroutu commented on #11185
@thaJeztah I tried this test and I get the failure
Error response from daemon: Cannot start container 83bc8a32f7a588903a80ca5dfa6c0d699501ff542c7ad8cf365dd95543ffe4a6: Error starting userland proxy:

But all the ports are mapped when I do an inspect. Looks like it is a timing or memory related issue in the Userland proxy.

[2015-03-05 23:59] richardcrichardc commented on #10592
I've worked up a [fix](https://github.com/richardcrichardc/docker/tree/saveAllFQINs), no doc changes etc yet. @shishir-a412ed, do you think I should create a pull request.

Some observations:
* This is a breaking change!
* [API](https://docs.docker.com/reference/api/docker_remote_api_v1.17/#get-a-tarball-containing-all-images-in-a-repository) docs are pretty clear that the current behaviour is cor

[2015-03-06 00:03] mapuri commented on #9731
+1 for using variables/symbols expansion in Dockerfile to achieve this.

[2015-03-06 00:08] thaJeztah commented on #11185
Hmf, really hope we can get rid of that once (the proxy).

@brahmaroutu do you think additional info is required on this? Also, perhaps you are able to answer this;

--dports 30000:40000, and afaik we do not need to explicitly specify the new destination ports if they're going to match the original ones. Or am I missing something?

[2015-03-06 00:27] jainvipin opened #11187 "Proposal - Operational Intent for Docker Deployment"
## Proposal - Operational Intent for Docker Deployment

Authors: @jainvipin, @tgraf, @dvorkinista

## Introduction

### Problem Statement

Containers consume and interact with a variety of software and hardware resources, consumption of these resources require an operational-intent to allow desired instantiation of policies. For example:

* Application Prioritization: In a deployment, all containe

[2015-03-06 00:28] jainvipin opened #11188 "Proposal: Operational Intent - Drivers API"
## Proposal: Operational Intent - Drivers API

Authors: @jainvipin, @mapuri, @tgraf, and @dvorkinista

This document recommends the APIs used to implement the goal described in Operational Intent for Docker Deployment (#11187). The proposal is a work in progress and needs community input.

### Definitions
* Driver: An entity that exposes the infrastructure capability and takes the scheduler and/or

[2015-03-06 01:20] x1022as commented on #11170
@cpuguy83 ,yes, it will satisfy this request. but in production scene, people may need this feature directly from docker, no more  third-party applications.

[2015-03-06 01:56] estesp commented on #11171
It may have something to do with expectations on `/dev/shm` in the container; although you would think that might be a more common issue, as SSE2-related mmap-family operations should be in a lot of binaries?  There is a hint that it could be namespace/mount related to `/dev/shm` because a very similar report was made about corosync and lxc here: http://marc.info/?l=openais&m=137992522414570&w=2

[2015-03-06 03:14] spf13 opened #11191 "Record a video / screencast on how to install Docker on OS X"
The installation documentation could really benefit from a video which walked the user through how to install Docker on a mac. Typically these videos work well when there is narration over them explaining what to do.

The installation instructions for Mac are available at https://docs.docker.com/installation/mac/

I have personally found that the Voila software works quite well for screen casting.

[2015-03-06 03:22] spf13 opened #11192 "Record an updated video / screencast on how to install Docker on Windows"
While there is a video already on the installation page, it is silent and a bit out of date. The installation documentation could really benefit from a video which walked the user through how to install the latest Docker on Windows and had narration explaining what to do.

The installation instructions for Windows are available at https://docs.docker.com/installation/windows/

While I don't have p

[2015-03-06 03:25] spf13 opened #11193 "Record a video / screencast on how to install Docker on Ubuntu"
The installation documentation could really benefit from a video which walked the user through how to install Docker on Ubuntu. Typically these videos work well when there is narration over them explaining what to do.

The installation instructions for Ubuntu are available at https://docs.docker.com/installation/ubuntulinux/

Simple Screen Recorder appears to be a pretty solid screen recording opt

[2015-03-06 03:27] spf13 opened #11194 "Record a video / screencast on how to install Docker on RHEL"
The installation documentation could really benefit from a video which walked the user through how to install Docker on RedHat. Typically these videos work well when there is narration over them explaining what to do.

The installation instructions for RHEL are available at https://docs.docker.com/installation/rhel/

Simple Screen Recorder appears to be a pretty solid screen recording option on li

[2015-03-06 03:28] ahmetalpbalkan commented on #11192
This can easily go out of date when we release Docker 1.6 with docker.exe (client) and provide Chocolatey distribution as well. @spf13 please feel free to assign me, I'll happily do once I finish those stuff.

[2015-03-06 03:40] hqhq commented on #4036
@unclejack @vbatts
I use dynbinary on ubuntu 14.04 and ubuntu 14.04.1, docker info still shows `Udev Sync Support: false`, on RHEL7, shows `Udev Sync Supported: true`, I built it from source code.

Did anyone get lucky on ubuntu 14.04?

[2015-03-06 03:41] hqhq commented on #10705
Same here, dynbinary on ubuntu 14.04 did not work.
docker info shows `Udev Sync Supported: false`

[2015-03-06 03:46] gourao commented on #11187
+1
We are working on storage interfaces around docker and have a mailing list at https://groups.google.com/forum/#!forum/sifc

We also see the need for the app developers and the IT admins intent to be passed all the way through till the execution point.  I think this is a great start.  There are more attributes we would need on the storage side, and I'll articulate them after we get some consensu

[2015-03-06 06:30] phemmer commented on #11170
Logrus has major design issues, especially when it comes to the hooks system. Using its hook capabilities inside a production application, such as Docker, would be a bad idea.

I'm with cpuguy83. Log parsing is a very common practice when it comes to system monitoring. Any decent monitoring system (Nagios, SolarWinds, OpenView, etc) will have very extensive support for alerting based on log file c

[2015-03-06 06:37] crosbymichael commented on #11187
ping @vieux @aluzzardi

[2015-03-06 06:40] MabinGo opened #11197 "Proposal: Add some feedback info when user run daemon with --selinux-enabled option"
The docs describes that "SELinux does not presently support the BTRFS storage driver".
When i run Docker Daemon with command as follow, Docker Daemon is running successfuly,
    docker -d -s btrfs --selinux-enabled=true

I found the reason is that i have not config selinux, and function selinuxEnabled in sourcecode return false, so the error as follow was not implemented, the Docker Daemon goes on

[2015-03-06 07:09] Johnsmith1111 opened #11199 "Docker gives out IP addresses already in use in bridge mode"
/system/networking,Please.
So,I feel badly today,When I use docker in the test environment in my company with bridge mode which the contaner use the same ip block with host.when I start a container,after a few minute

<h1>ONE OF OUR SYSTEM IS DOWN BECAUSE OF IP ADDRESS CONFLICT

<h3>AND THE CONFLICT IP IS THE CONTAIN'S IP

And I'm  headache about the docker's network for a long time.

Why docker m

[2015-03-06 07:12] neofreko commented on #9766
I was having similar issue (debian jessie on boot2docker) and was suspecting DNS and mirroring stuff. However, ulimit might be a factor here, as this bug states: https://bugs.launchpad.net/ubuntu/+source/apt/+bug/1332440

I changed my boot2docker ulimit from "unlimited" to 2048, and apt-get started moving noticeably faster.

[2015-03-06 07:27] brahmaroutu commented on #11185
@thaJeztah  I agree with @jaykah that only way to avoid running many parallel jobs to allocate all these ports is to block allocate. Not sure refactoring that code, when Docker network drivers are changing, would be a good idea.
The documentation intended to say that if you specify -p 1-10:100-110 then both the ranges should have 10 ports to match. I did not default the case where -p 1-10  would i

[2015-03-06 07:39] moypray commented on #11199
You can restart your docker daemon with --bip parameter to set your docker bridge IP.
The container IP will be in the same net address. [ I am sure it you will not conflict again.]

1. if docker0 is exist, you must delete docker0 first manually.
2. docker -d --bip=1.1.1.1/16   xxxx
....
Containers will allocate IP in  net  1.1.x.x.

[2015-03-06 07:50] shi154462671 commented on #11199
@moypray I just want to know why docker make this low level mistake without any document info.
And I make a bridge to eth0.So the container could communicate with ohter server just as vm.
And..每天用docker的时候就跟日了狗一样

[2015-03-06 07:54] thaJeztah commented on #9766
@bitliner @neofreko docker 1.6.0 will add support for setting `ulimits` per container (https://github.com/docker/docker/pull/9437), so that would help?

[2015-03-06 07:54] unclejack commented on #11185
@Jaykah Can you check how many docker proxy instances are started? I wouldn't be surprised if the root cause was the execution of too many docker proxy processes to handle all of these port mappings.

[2015-03-06 09:04] bitliner commented on #9766
Sorry, I did not test it yet. I am not managing that machine anymore, on the new machines all work like a charm.

[2015-03-06 09:35] Aslate49 opened #11200 "Cannot pull from private registry - Fails to resolve tags"
We have a private docker registry and are trying to pull an image with the following command:

``` docker pull registry.myco.com:5000/myproj/release ```

The docker daemon it is able to successfully query the registry for the image repository, but then fails when accessing tags. Looking at the logs the port in the URL for the images request, but is missing from the tag query.

We've successfully c

[2015-03-06 09:57] mochrul commented on #9752
I'm not fully agree with closing this ticket because I'm not sure if it can be handled in the same way as the other one.

In the near past my employer created a private docker repository.

This repository has certificate and I want to reach it with a **https** url. So the problem for me is not that the docker refuse authentication in pure http. But I was not able to manage to login to this reposit

[2015-03-06 09:59] denverdino commented on #10922
@shawnzhu, Ke
After the commit of  https://github.com/docker/docker/commit/8625a281c66180af867f59a041560bf5035ae404

My work around this problem is to use following command to build docker package prior to my project in drone
[code]

[2015-03-06 11:42] joedborg opened #11201 "Docker pulls over port 443 failing"
Behind a corporate proxy, that only allows port 80 out, docker pulls fail because they are refused port 443

[code]

Is there any workaround for this?

[2015-03-06 11:53] dreuter commented on #9547
A better 'workaround' is to use sync:

[code]

[2015-03-06 11:59] RickWieman commented on #11182
The package might still be called `docker-io`, but `docker` works as well:

[code]

[2015-03-06 13:35] cpuguy83 commented on #11201
No, all pulls must go over https, and the index only responds to 443 for this.
Really strange the corporate proxy doesn't allow 443... I'm sorry there isn't much help we can do here.

[2015-03-06 13:35] #11201 closed

[2015-03-06 14:06] witlessbird commented on #11176
In order to fix this issue, a design decision regarding handling of job stdout has to be made/revised.

Currently postImagesCreate (https://github.com/docker/docker/blob/master/api/server/server.go#L589) writes and flushes job's output to http.ResponseWriter associated with the call. According to http module docs, the first call to http.ResponseWriter.Write sets the status to http.StatusOK, unless

[2015-03-06 14:08] estesp commented on #10822
In this case, @cpuguy83 is actually correct that the handling of `CmdRun` in 1.5.0 and current master are correctly calling `DELETE` when docker stop is called on a container currently in an interactive `docker run`.  So, I believe this specific issue is no longer valid on the current released version of Docker.

@shubhamrajvanshi can you try your steps on the most recent Docker and let us know?

[2015-03-06 14:10] estesp commented on #11200
Can you provide the `docker version` and `docker info` output from your client?

[2015-03-06 14:25] estesp commented on #11200
And I assume you are using the docker-registry python-based v1 registry?  Did you manually configure, or use the official registry image container?  Thanks in advance for the info.

[2015-03-06 14:41] estesp commented on #11199
Can you help us by explaining a bit more what you mean by: "*with bridge mode which the container use the same ip block with host*"?  Docker tries very hard to pick an IP address range for the containers which is not found in any current routes on any interface on the host.  You can check this code for yourself in https://github.com/docker/docker/blob/master/daemon/networkdriver/bridge/driver.go#L

[2015-03-06 15:02] cpuguy83 commented on #7585
It looks like the only actionable item here may be to improve this error message so as to give a clue to the admin what may be wrong.
It may be possible to automatically unmount whatever might be there, but that may be dangerous.

[2015-03-06 15:42] laskaridis commented on #2174
I'm having the same problem.

1. Started the following container:
[code]

2. Verified that container is deployed
[code]

3. From my server i can access the application in port 49154 as expected:
[code]

4. However I cannot access the application in port 49154 from outside the droplet:
[code]

5. Although i have access to my remote server (public IP removed on purpose):
[code]

6. I have verified t

[2015-03-06 15:56] joelwurtz opened #11205 "Proposal: Improvements for creating images without Dockerfile"
Hello,

Actually there is 2 way for creating images with Docker:
1. The popular Dockerfile
2. Creating a new container, make some changes and commit this container to an Image

For various reasons, I really don't like using a Dockerfile (this is not the topic of why, but i can comment more on this subject if you want) and I prefer to use the commit method.

However, using this workflow for long te

[2015-03-06 16:04] ibuys commented on #4036
I'm running into this issue on Ubuntu 14.04.1, using the Docker apt repository:

Containers: 20
Images: 160
Storage Driver: devicemapper
 Pool Name: docker-202:32-4718661-pool
 Pool Blocksize: 65.54 kB
 Backing Filesystem: extfs
 Data file:
 Metadata file:
 Data Space Used: 10.14 GB
 Data Space Total: 107.4 GB
 Metadata Space Used: 14.14 MB
 Metadata Space Total: 2.147 GB
 Udev Sync Supported: fal

[2015-03-06 16:26] discordianfish commented on #7585
So this happens on HVM instances as well. It seems that this was caused by upstart trying to start docker which failed because the TLS key was missing. Those rapid restarts seem to bring the system into that state. I've checked /proc/mounts and also saw a old mount point but aufs in my case.
I assume Docker somehow mounts aufs/, then errors out because of the missing tls key and doesn't clean up /

[2015-03-06 16:45] galan commented on #9547
I tried `sync`on several positions in my Dockerfile, unfortunatly it didn't helped.

https://github.com/galan/kag-server

[2015-03-06 17:02] tiborvass commented on #9766
Thanks @bitliner !

I'm gonna close this issue since the OP could not reproduce it, and @neofreko mentioned he could fix his issue by changing ulimit on boot2docker to 2048. Please continue the discussion if needed.

[2015-03-06 17:02] #9766 closed

[2015-03-06 17:26] ahmetalpbalkan opened #11206 "Explain the +x behavior when context packaged from Windows CLI"
We need docs to explain the by design behavior changed at #11148. Feel free to assign to me, although I'm not sure where to document this. Maybe ADD/COPY instructions in Dockerfile documentation would be nice. @tiborvass

[2015-03-06 17:28] #11047 closed

[2015-03-06 17:55] jainvipin commented on #11187
@gourao - good to see that it fits how you see things coming out. Standardizing attributes would not only validate the needed use cases, but also create interoperable implementations for schedulers, drivers, policy-instantiation logic, etc..

Few comments regarding the format:

* The attributes are easy to consume (by other entities like scheduler) if the hierarchy is not exposed natively - that w

[2015-03-06 18:20] mlehner616 commented on #5684
What's the status of this issue? I saw some PRs get merged that could be related but nothing that clearly stated was a fix for this. This is a _major_ issue on production and the only work-around now is to patch the init script to cleanly unmount the drives.

[2015-03-06 18:30] t5unamie commented on #10318
+1

[2015-03-06 18:46] ahmetalpbalkan commented on #10967
might @tianon's #11119 help here?

[2015-03-06 19:11] aanm opened #11207 "Docker events doesn't work"
Hey I'm not seeing any events with `docker events` with docker version 1.5.0-a8a31ef.

[2015-03-06 19:11] brahmaroutu commented on #10967
@ahmetalpbalkan I have tries two path here, 1) download docker_registry v1 and then build like we do busybox, this  takes lots of time. 2) have saved image checked in into integration-cli (because we do not have network), the image is 150MB if it is zipped and github does not allow it to be checked in unless we split it. But at the same time I want to know if we really want to check this in.
    O

[2015-03-06 19:33] tianon commented on #10967
Yes, yes, yes -- we definitely do not want to check in the registry v1 code, but #11119 would let us download it directly from the Hub in a deterministic way as-is instead.

[2015-03-06 19:44] lsm5 commented on #11135
@joedborg fedora doesn't use socket activation anymore. I'm guessing your `/etc/sysconfig/docker` still has the `-H fd://` in OPTIONS. If so, get rid of that and start the service again.

[2015-03-06 20:02] vbatts commented on #11135
correct. It looks like the configuration file was left around, and the removal/reinstall fixed the issue. It should not have required removal of all of `/var/lib/docker`. (if the rpm removal required this, then that is bug in the rpm spec ...)

[2015-03-06 20:02] #11135 closed

[2015-03-06 20:03] Jaykah commented on #11185
@unclejack Hundreds of them, http://prntscr.com/6dj6uu

[2015-03-06 20:10] unclejack commented on #11185
@Jaykah Thanks!

@crosbymichael @LK4D4 The user land proxy needs to be removed or at least not enabled for port ranges.

[2015-03-06 20:57] cpuguy83 commented on #11207
@aanm We need more information than this.
Cannot repro with just `it's not working`.
Confirmed events are working on both unix socket and tcp sock with both Darwin and Linux clients.

Closing until you can provide some extra info.

[2015-03-06 20:57] #11207 closed

[2015-03-06 21:50] SvenDowideit commented on #7630
Done.

notes for later:

[code]

[2015-03-06 22:13] thaJeztah commented on #7630
Ah great! Do you think it would it be possible to create something similar to the https://github.com/docker/docker/blob/master/docs/s3_website.json file to mark files as "to be invalidated/removed" upon merge? (Possibly too much work for something that only happens occasionally)

[2015-03-06 22:14] SvenDowideit commented on #7630
yeah - next time it happens maybe :)

[2015-03-06 22:14] #7630 closed

[2015-03-06 22:22] thaJeztah commented on #7630
Yeah, it isn't needed often, the instructions just looked complicated :smile:

[2015-03-06 22:22] shubhamrajvanshi commented on #10822
Sure, I'll try this on weekend.

Thanks
Shubham Rajvanshi
669-300-8346

On Fri, Mar 6, 2015 at 6:09 AM, Phil Estes <notifications@github.com> wrote:

[2015-03-06 22:23] dmp42 commented on #10765
Closing then. Let me know how it goes with the support.

[2015-03-06 22:31] theonlydavidlee opened #11215 "docker push to private registry requires unix user match docker user"
Client version: 1.5.0
Client API version: 1.17
Go version (client): go1.4.1
Git commit (client): a8a31ef
OS/Arch (client): linux/amd64
Server version: 1.5.0
Server API version: 1.17
Go version (server): go1.4.1
Git commit (server): a8a31ef

I would expect that when I docker login to my private registry:
docker login -u {userName} -p {password} -e {email} https://{registryFqdn}

I should be able to

[2015-03-06 23:04] dmp42 commented on #10765
Hi @jmreicha

I checked with support and the last report they had from you is for a "Docker Hub Question" on Jul 11, 2014 19:10.

Though, there have been issues with DKIM depending on your mail provider, so, that might be the reason they did not receive your mail.

I would suggest you use the web form instead: https://support.docker.com

Thanks!

[2015-03-06 23:19] rgbkrk commented on #9939
Awesome, thank you!

[2015-03-07 01:09] lancehudson commented on #7797
I get `Error response from daemon: Cannot start container XXX: set apparmor profile unconfined: permission denied` anytime I try to start a privileged container.

It ended up being because I was mounting proc & sys inside the container.

[2015-03-07 01:41] dmp42 commented on #11215
The unix user that you use (where the cli is ran) should have no relation whatsoever with the registry you communicate with (unless you are launching your nginx/registry on the same machine using the same user account?).

Unfortunately, it's hard to tell what's going on here without more details.

Would you be able to come on irc (#docker-distribution) for a faster exchange? Or provide (when thing

[2015-03-07 02:01] shi154462671 commented on #11199
Yes,I create bridge by myself,It's handy for manage contaner if they can
accessed by ip,Any question?

2015-03-06 22:42 GMT+08:00 Phil Estes <notifications@github.com>:

[2015-03-07 02:03] dmp42 commented on #10966
@jfrazelle errrr, no we couldn't :)

[2015-03-07 02:08] cpuguy83 commented on #7585
@fish Thanks for the extra info!
I think (hope) this all maybe related to the daemon not cleanly shutting down under certain circumstances, hence the dangling mounts.
See #11211 to at least address when that is the cause of the issue.

Would be great if some people can test this.

[2015-03-07 03:40] pikeas commented on #10737
@nerro Consider the counterpoint in one of the comments on the article you linked: http://www.tech-d.net/2014/11/18/data-only-container-madness/#comment-1706806635

[2015-03-07 03:53] mcandre opened #11220 "DNS confused when switching WiFi networks"
When I switched WiFi networks, `apt-get update` stopped working in my Ubuntu Docker container. Attempts to reach `archive.ubuntu.com` timed out.

As a mitigation, I ran `boot2docker restart` (MacBook Pro host). In the future, how can we improve networking so that Docker containers gracefully change with their hosts, for more mobile users?

For reference, I'm using the `ubuntu:12.04` image as a bas

[2015-03-07 04:53] programmerq commented on #11199
I remember running into this same concern when I was new to docker!

There is a bit of a case of information overload where this is found in the docs, and the consequence you had happen isn't immediately visible without some testing: http://docs.docker.com/articles/networking/#customizing-docker0

To get in the situation you described, I believe you would have to be using the `--bip` flag as an ar

[2015-03-07 05:14] shi154462671 commented on #11199
@programmerq I new create a bridge to eth0.**NOT DOCKER0**
and get in the situation is easy.
just create two vm,and configure each with birdge to eth0.
and the argument is **-b=mybridgetoeth0**
**NOT bip0**
Then run a contain in  each vm,
AND YOU CAN SEE THEY USE THE SAME IP.
And the doc you have refer I already read it for many time.

[2015-03-07 05:21] jmreicha commented on #10765
@dmp42 thanks! I'll try the web form route.

I think something must be up with the emails because I sent a new email a few weeks ago.

[2015-03-07 05:23] estesp commented on #11199
That's an interesting configuration, but as you can understand, bridging the same exact interface in two different daemons will result in both thinking they are operating on the network CIDR of the bridge interface, which probably in your case meant they both assumed they were handed the network range associated with `eth0` that you bridged to.

Given there is nothing in the docs that would recomm

[2015-03-07 06:08] #11069 closed

[2015-03-07 07:17] shi154462671 commented on #11199
@estesp They are two daemon in different vm.
I(or my boss?) want container works in VLAN with other linux hosts,not a special private adress ranges.
I just want no conflict in ip address in this situation when container is created.
It's the worst memory since I use docker.
In my eyes,docker's network manager(port mapping) is not so good for production.

[2015-03-07 10:48] blakelapierre opened #11224 "Public Registry v1 API no longer returns 'Access-Control-Allow-Origin: *' header"
As of a day or two ago, the public registry (https://registry.hub.docker.com/v1) API would return the HTTP header:

    Access-Control-Allow-Origin: *

As of a few hours ago, the header is no longer returned in responses from the API, breaking cross-origin access to the registry.

I haven't been able to find any announcements or anything in the commit logs regarding this change. Anyone know what h

[2015-03-07 12:32] liuzheng712 opened #11226 ""depth" function wanted"
When I make DockerImg, I found the ALL Img file become bigger and bigger(The latest version may not be too big).
And then push it to the hub for share.
Until now it's works fine.
Then , when I pull it from the hub, I'll download all history of this docker Img make life.
Is any way like `git clone GITURL --depth 1` to get the latest Img file?
like `docker pull DOCKER --depth 1` to get the latest Im

[2015-03-07 12:40] cpuguy83 commented on #11226
Hello, I think in practice this is really a dup of #6906
I'm closing this but if you feel I'm mistaken please post here.

[2015-03-07 12:40] #11226 closed

[2015-03-07 13:16] liuzheng712 commented on #11226
@cpuguy83 Thanks , before I create this issue , I didn't find similar one
This issue you give me is what I want.
Really thank you

[2015-03-07 13:55] mjsalinger opened #11228 "docker run chokes with many concurrent requests"
I'm starting/stopping many docker containers in a short timeframe (hundreds/sec.)  Docker seems to choke on this and be able to process only one at a time, even on a large multicore machine.  There also seems to be a real slowdown in starting an individual container as more and more requests are made (so even though they appear to synchronously start, the individual start takes several seconds as

[2015-03-07 14:01] cpuguy83 commented on #11228
It may or may not help, but you can try starting docker with `GOMAXPROCS=<# of cores>`

[2015-03-07 14:04] cpuguy83 commented on #11199
@shi154462671 For this reason there is also a `--fixed-cidr` flag for the daemon that you can use to make sure Docker doesn't hand out ip addresses you know are used by other things on the subnet.

[2015-03-07 14:18] shi154462671 commented on #11199
@estesp So what about multi daemon in multi host?Am I should configure every docker daemon for different --fixed-cidr?

[2015-03-07 14:36] thaJeztah opened #11230 "docs/base image not updated during make docs"
I just noticed that `make docs` doesn't make sure that the latest image for the [docs/base](https://registry.hub.docker.com/u/docs/base/builds_history/147632/) image is pulled, causing http://docs.docker.com and http://docs.master.dockerproject.com to use an older version of the stylesheet(s).

I'm not sure if this is something to be fixed in the https://github.com/docker/docs-base (explicitly tag

[2015-03-07 16:19] lsm5 commented on #11182
what @RickWieman said. `docker` on f21 points to the real `docker-io` package. This is in preparation for future releases (f22 and up) where the `-io` will be dropped as well and there will only be a real `docker` package.

[2015-03-07 16:53] tiborvass commented on #4783
I'll just say that if there is an easy workaround (and in this case there is), let's keep the workaround for now. It shouldn't be a big pain and if it is we'll know it.

Maybe we could make sure the documentation is very explicit about this difference?
Ping @SvenDowideit @moxiegirl @fredlf

Other than that, I'd be tempted to close this issue.

[2015-03-07 16:58] tiborvass commented on #9118
@sthulb ping me on IRC (tibor) next week I'll see what I can do.

[2015-03-07 17:43] tiborvass commented on #9525
Agree with @cpuguy83. This is now possible with `docker commit --change`.

[2015-03-07 17:43] #9525 closed

[2015-03-07 17:46] tiborvass commented on #6094
@jfrazelle we have a non-consistent (files vs directories) unspecified behavior.

This is what @tianon and I want. From https://github.com/docker/docker/pull/8420#issuecomment-70124951:

[2015-03-07 17:51] tiborvass commented on #7880
This is similar to #7277 (although more precise in what it would be doing). We could close this as a dupe but that other issue has two distinct threads that are somewhat related (I intend to add a long comment on that one).

[2015-03-07 18:05] d136o commented on #3744
I think we just experienced a similar failure. Our EC2 instance r3.2xlarge became unresponsive. From amazon's cloudwatch we can see that something is eating up 25% of the alloted vcpu cores.

Some hours earlier we pulled a docker image, but otherwise it's a somewhat underutilized host.

The syslog is here: https://gist.github.com/d136o/8e429f092b196d8022f9

[2015-03-07 18:30] niieani commented on #6155
I have a situation where I'd like to give some of the containers direct access to the network and public IPs - thus bridge them with my host's network while other containers would use the docker0 bridge. This is what I used to do with LXC containers and a similar option in docker would seem to be able to solve this issue for me - unless there's a simpler way of achieving what I want?

Thanks!

[2015-03-07 18:51] sthulb commented on #9118
@tiborvass wilco! Thanks!

[2015-03-07 21:43] dmp42 commented on #11224
(cc @kencochrane @johncosta for reference)

@blakelapierre hub issues are handled by the support: https://support.docker.com

Can you file a ticket there? (I'm closing this, then, since there is nothing we can do from here)

Thanks a lot.

[2015-03-07 21:43] #11224 closed

[2015-03-07 21:59] dmp42 commented on #9315
@kuhnroyal can you clarify what you did to solve the authentication issue?

[2015-03-07 22:10] blakelapierre commented on #11224
I'll try there. I looked at the docker-registry repo, but after looking at the issues it sounds like Hub doesn't run off that code (at least not vanilla), even though it exposes the same/similar API.

Is it correct that the Hub is not an OSS project?

[2015-03-07 23:30] thaJeztah commented on #11224
@blakelapierre correct, the Docker Hub is not open source and not handled via the GitHub issue tracker. https://support.docker.com/ is the location for reporting issues with Docker Hub

[2015-03-08 02:25] jmreicha commented on #8755
+1

[2015-03-08 03:32] dmp42 commented on #11220
It seems this is a boot2docker issue - docker does update itself when resolv.conf changes.
Assuming I'm correct, I would suggest opening an issue over at https://github.com/boot2docker/boot2docker

[2015-03-08 04:04] mcandre opened #11233 "Disable ncurses progress bar when not in a tty"
As a Unix user, I want Docker to disable the ncurses-style progress bar output for `docker pull` and other subcommands when Docker is running in a non-tty context, so that I can pipe Docker commands to other programs, and run Docker commands in an Emacs dumb terminal, without the Docker output being mangled.

[2015-03-08 04:40] moxiegirl commented on #4783
@tiborvass I think it makes sense to clarify this in the docs. I'll label it white-belt and if it doesn't get cleaned up by the birthday, I'll pick it up.

[2015-03-08 05:12] dmp42 commented on #11233
Hello. That sounds like a duplicate of #3694
I'm closing this then - please scream if you feel this is not right :)

[2015-03-08 05:12] #11233 closed

[2015-03-08 09:06] superbob commented on #9525
I'll try that next time :) Thx

[2015-03-08 09:08] frank-dspeed commented on #9841
cant we simply log all builds (the log from building an image) to a default location inside image and add a -log switch to docker build? so for image creators that whant to store the build steps of a build it adds .docker.build.containerid.log

so that it stores a log for every docker build tiggered by the docker build command 1 log file per build container. This enables for example that i do a do

[2015-03-08 09:16] frank-dspeed commented on #9731
I think this will get trouble for the docker hub maybe but i see it as a good think at present i archive such expansion of vars via writing the Dockerfile on demand befor build via a script.

[2015-03-08 09:47] ChaosEngine commented on #10294
I have same thing with **utuntu:14.04** and with my image (**chaosengine/memsql**). when deamon has  _--graph=/mnt/xfsPartition/docker_ added it generaes core dump as follows:

$ docker run -p 127.0.0.1:3307:3306 -ti chaosengine/memsql
2015-03-08 09:25:58 STDERR  INFO: Successfully became user 'memsql' (uid 999, gid 999)
00001378 2015-03-08 09:25:58  INFO: System Information: sockets (1), physical

[2015-03-08 10:33] hansgru commented on #11205
Please comment what's the problem with the Dockerfile, and if it has any missing features, why wouldn't it be better for fix those instead.

[2015-03-08 12:54] mjsalinger commented on #11228
Thanks, I tried that but it did not really seem to help.

[2015-03-08 14:04] duglin commented on #4783
Just checked and I think the docs are probably ok, both CMD and ENTRYPOINT have text like this:
- - - -
Note: Unlike the shell form, the exec form does not invoke a command shell. This means that normal shell processing does not happen. For example, ENTRYPOINT [ "echo", "$HOME" ] will not do variable substitution on $HOME. If you want shell processing then either use the shell form or execute a sh

[2015-03-08 14:04] stefanwuthrich commented on #9752
same problem here, same env:
➜  ~  docker version
Client version: 1.5.0
Client API version: 1.17
Go version (client): go1.4.1
Git commit (client): a8a31ef
OS/Arch (client): linux/amd64
Server version: 1.5.0
Server API version: 1.17
Go version (server): go1.4.1
Git commit (server): a8a31ef

ca ist from startssl, copied ca.pem to /usr/local/share/ca-certificates
but no chance
url of the reg is https

[2015-03-08 14:24] thaJeztah commented on #11228
@cpuguy83 could the graphdb (SQLite) also play a role here? Not sure, but could creating multiple containers concurrently lead to (e.g.) transactions block other processes? For example; this will get triggered (possibly multiple times) for each container being created; [pkg/graphdb/graphdb.go#L131](https://github.com/docker/docker/blob/f7a449f92b88ca2a3db2fb33abade8c25a19c390/pkg/graphdb/graphdb.g

[2015-03-08 14:28] unclejack commented on #11228
Please provide the full output of `docker info`, `docker version` and `uname -a`.

[2015-03-08 15:08] thaJeztah opened #11238 "docs: Add article describing how to migrate images and containers to another host"
**Summary**: There is no documentation on "how to" migrate containers/images to another host
**Proposed solution**: write an article that describes how containers, images and their volumes can be migrated to a new/other host. The article should contain practical examples and limitations of the process. Possible alternatives/best practices can be considered to be included in the article.

---

This

[2015-03-08 16:56] mcandre commented on #3694
+1

[2015-03-08 17:24] tiborvass commented on #4783
@duglin I think the confusion comes from the builder replacing variables, versus the shell replacing variables. The docs you referred to only address the shell substitution. Currently, we substitute `VOLUME $foo` as well as `VOLUME ["$foo"]` if `foo` was defined by an `ENV`. IOW there's `$HOME` from the shell, and there's `$HOME` if you used `ENV HOME`. That's where the confusion comes from.

*Per

[2015-03-08 17:37] thaJeztah commented on #11182
@moxiegirl given the above information (thanks all!), I think this can be closed, or do you think it should be mentioned in the documentation? (it might only distract).

[2015-03-08 18:07] dmp42 commented on #7939
@jfrazelle : I guess you meant @stevvooe
And answer is yes.

[2015-03-08 18:09] dmp42 commented on #9531
@jfrazelle not sure why you linked this one :)

@MitchK use the NO_PROXY environment variable.

[2015-03-08 18:54] AndreiMuresan commented on #6743
+1

[2015-03-08 18:56] schu opened #11240 "umask 0027 and 'Permission denied' errors"
When running the docker daemon with a umask of `0027`, it's not possible to use a non-root user inside the container, since all directories below `/var/lib/docker/<driver>/mnt` have a corresponding permission mask (`0750`). On purpose?

The following Vagrant setup demonstrates the behavior:

[code]

Actual result:

[code]

Expected result:

[code]

[2015-03-08 19:00] mjsalinger commented on #11228
Docker Info
[code]

Docker Version
[code]

ulimit -a
[code]

[2015-03-08 19:37] hansgru commented on #6743
+1

[2015-03-08 20:25] wuxxin commented on #10180
same issue with: bare metal ubuntu trusty with:
   kernel 3.18.8 and 3.19.1 both with overlay fs and ext4
   docker 1.5 and 1.5.0-dev, build a78ce5c
container is fedora 21